[2017-01-11 19:20] timabbott commented on #3207
No, we're definitely not going to add a major new dependency like angular2.js for this feature.

[2017-01-11 20:16] avisrivastava254084 commented on #3207
@timabbott
sir, how about the ping-ing that i have mentioned?

[2017-01-11 20:50] #3175 closed

[2017-01-11 21:03] timabbott commented on #3207
I don't understand how implementing exactly what you suggested possible with the localstorage API.

[2017-01-11 21:04] timabbott commented on #3231
It would be great to add a display setting option for using alternative emoji sets (we're currently using the Google emoji set, mostly because it was the only open source one a few years ago).  See https://github.com/zulip/zulip/issues/209; we can use that issue for discussion (closing this as duplicate).

[2017-01-11 21:04] #3231 closed

[2017-01-11 21:18] showell opened #3237 "Prevent some common errors in provisioning"
I'm trying to collect some hopefully easy things here.  If any of these are difficult, we can split out new issues:

* double-check pip version before doing anything pip-related (and we should double-check versions of anything else like "pip" that is fundamental to the rest of how provision works)
* make sure the user is not running with "sudo" power
* make error messages for run() automatically p

[2017-01-11 21:35] aripollak commented on #3074
Hopefully this isn't adding extraneous information
information, but we also just noticed this when searching for [user]  or [current_user] and a message includes `current_user`, including the `` markup.

[2017-01-11 22:08] timabbott commented on #3074
Interesting.

[2017-01-11 22:19] #2318 closed

[2017-01-11 22:21] #3172 closed

[2017-01-11 22:25] #3112 closed

[2017-01-11 22:36] rishig opened #3239 "message-edit: Add a copy-to-clipboard button on hover."
It would be great to have a copy-to-clipboard button that appears in the upper right when you hover over `#message_edit_content` in the message edit form.

Relevant files: `static/templates/message_edit_form.handlebars` is the message edit form, and `static/js/message_edit.js` is where we store message editing javascript.

We'll probably want to use https://clipboardjs.com/, unless someone has a b

[2017-01-11 23:02] avisrivastava254084 commented on #3207
@timabbott Sir I meant that every tab should be updated in order to avoid the race conditions.
Now, for doing so, we can perform polling from the central database where the chats are stored as per their timestamps. So, every tab in the browser is kept updated by performing polling.
Please correct me if I am wrong or pardon if I couldn't explain.

[2017-01-11 23:41] timabbott commented on #3155
@anirudhjain75 in general you should post comments about a PR on the PR thread, no the issue; it saves a few clicks for everyone trying to review your work :)

[2017-01-11 23:54] brockwhittaker commented on #3010
It definitely looks visually a lot cleaner @mahim97! I'm not sure if we want to proceed in the future using tables instead of making a component out of this, but for now it looks like a solid visual improvement and good for merging in.

[2017-01-12 00:30] feorlen opened #3245 "Add WordPress webhook integration"
I already have this underway (PR https://github.com/zulip/zulip/pull/2691) but opening an issue to include some additional background.

WordPress.com is pretty limited in what it can do with its webhooks, but if you run your own self-installed blog you have more options using the <a href="https://wordpress.org/plugins/hookpress/">HookPress plug-in</a>. The list of actions isn't documented elsewher

[2017-01-12 00:31] #2932 closed

[2017-01-12 00:31] feorlen commented on #3245
cc: @brainwane

[2017-01-12 01:59] cosmicAsymmetry commented on #3239
I want to take this up.

[2017-01-12 02:01] cosmicAsymmetry commented on #3219
Done! I've added padding to each container instead.

[2017-01-12 03:18] rishig commented on #3239
Great, thanks!

[2017-01-12 07:14] akashnimare opened #3258 "Broken emojis in email"
![image](https://cloud.githubusercontent.com/assets/2263909/21880176/7bf98148-d8c3-11e6-967b-67814804ce02.png)
![image](https://cloud.githubusercontent.com/assets/2263909/21880235/c7c8d2d6-d8c3-11e6-8f7e-aa4a166c3f10.png)

[2017-01-12 10:56] rafidaslam commented on #1297
@timabbott @sharmaeklavya2 I can't reproduce this in my repo, seems like the issue has been solved ?

https://travis-ci.org/rafidaslam/zulip/builds/191256635
https://github.com/rafidaslam/zulip/tree/fix-userprofilebot-is-none

[2017-01-12 12:01] sharmaeklavya2 commented on #1297
It could have been a bug in Django 1.8. Maybe that got fixed in Django 1.9 or 1.10.

[2017-01-12 12:05] sharmaeklavya2 commented on #1297
If this bug is no longer reproducible, we should remove this hack, right?

[2017-01-12 12:49] bojidar-bg commented on #1768
Discord has it with `\:D` translating to :D and `:D` translating to :laughing:

[2017-01-12 13:05] mahim97 commented on #3010
@brockwhittaker I made a few changes in CSS for the padding, while doing so I even changed the hover style. Now it looks completely like before.
![untitled-1](https://cloud.githubusercontent.com/assets/16012015/21890854/ac69239c-d8f5-11e6-90c2-a49beccf67fd.jpg)

[2017-01-12 13:06] tommyip commented on #3010
This looks great @mahim97! The margin on the side of the popover seems to be too wide, it is possible to narrow it?

[2017-01-12 13:33] mahim97 commented on #3010
@tommyip Yes, it can be reduced. I reduced it a bit, how does it look?
![untitled-2](https://cloud.githubusercontent.com/assets/16012015/21891656/bffa71d2-d8f9-11e6-8672-38564f579296.jpg)

[2017-01-12 13:39] mahim97 commented on #3212
@timabbott I can take this up, but will need some help in starting this issue, it looks a bit complicated.

[2017-01-12 14:11] brainwane commented on #3245
I transcribed the list of actions from Andrea's screenshot of the HookPress blog admin interface:

[code]

And, note for the future: per https://codex.wordpress.org/Post_Status_Transitions ,

I presume HookPress doesn't support the new-style actions, right?

[2017-01-12 14:31] brainwane opened #3264 "Make user notifications settings take effect immediately"
From https://chat.zulip.org/#narrow/stream/frontend/topic/notification.20settings :

[2017-01-12 16:56] rwbarton commented on #2377
I also encountered this. This is potentially annoying since it leaves your Zulip server in a non-running state and it's not obvious how to fix that.

[2017-01-12 16:57] avisrivastava254084 commented on #3207
@timabbott @derAnfaenger
You guys should check out this:
http://krasimirtsonev.com/blog/article/Using-Local-Storage-as-a-communication-channel
Does it solve our problem? Should I proceed with this localstorage API?

[2017-01-12 16:57] derAnfaenger commented on #2377
Another user trying to install Zulip experienced a similar problem with `upgrade-zulip-from-git`
, see https://chat.zulip.org/#narrow/stream/installation.20help/topic/upgrade.20from.20git.

His traceback is
[code]

[2017-01-12 17:34] showell commented on #3237
For the pip version thing, we've had a report of somebody getting an outdated pip, despite pip installing successfully, because their paths got messed up.  Even if this is really an edge case, it should be simple enough to check the pip version and fail fast, which can save people a lot of time in remote troubleshooting.  ping @derAnfaenger

https://chat.zulip.org/#narrow/near/124342/stream/instal

[2017-01-12 17:36] derAnfaenger commented on #3237
Yep, it'd be cool if I could create such a check. @showell can you give me a hint on where to start here?

[2017-01-12 18:03] #3070 closed

[2017-01-12 18:05] timabbott commented on #3258
We should try to fix this soon, before the 1.5 release.

[2017-01-12 18:09] timabbott commented on #1297
Yes, we should.

[2017-01-12 18:13] sampritipanda commented on #2990
This issue only exists in development environments and works fine in production because of how we keep assets from previous deployments available in production.

Since existing production servers will have the static asset links, and new production servers won't have messages with the old URLs, this won't be problem.

[2017-01-12 18:13] #2990 closed

[2017-01-12 18:34] edkirk30 opened #3267 "iOS app no longer in app store, links out of date"
The links to the iOS apps on the public site and server repo are stale and the App Store errors are misleading. Can the links be pointed to a page explaining the mobile development plan? Or at least removed. Happy to help

[2017-01-12 18:45] timabbott commented on #3267
I think we can point them to https://github.com/zulip/zulip-mobile for now (since that we can update with an app store link when available, should be a few weeks from now), and then plan to iterate from there.

[2017-01-12 18:49] timabbott commented on #3157
OK, that makes sense.  I think this might be resolved by @showell's upcoming work on showing more topics in the left sidebar; we should probably finish that first and see.

[2017-01-12 18:53] edkirk30 commented on #3267
Is the source for the public site in a public repo? Happy to help if I can be nudged in the right directions

[2017-01-12 18:56] timabbott commented on #3267
Ahh yeah so zulip.org is https://github.com/zulip/zulip.github.io/ and the rest is e.g. templates/zerver/apps.html in this repo.

[2017-01-12 19:00] edkirk30 commented on #3267
Is that just a static dump of what the server generated that's then been manually edited?

[2017-01-12 19:03] timabbott commented on #3267
No, the zulip.org website is for unfortunate historical reasons totally static content.

[2017-01-12 19:35] showell opened #3270 "bots: Add relative path support to virtual_fs.py"
For the virtual file system bot, we only currently support absolute paths.

We could extend the bot as follows:
* each user has a current working directory
* users can say `fs cd <foo>` or `fs pwd`
* all commands that use paths would support relative paths, computed similar to real Unix FS implementations (we'd possibly do ".." in a separate commit, though)

[2017-01-12 19:45] derAnfaenger commented on #3270
Working on this. :)

[2017-01-12 22:44] timabbott opened #3271 "Preview feature doesn't work with long messages"
If you put this message into the compose box and click the preview button, it doesn't work, because we try to send the entire message body as a GET URL parameter, and we overflow maximum lengths for those.

We should move this into the body of the request (probably means switching it to POST), not URL parameters.

[code]

[2017-01-12 22:49] derAnfaenger opened #3272 "Create doc on how to organize the "Streams" sidebar."
Zulip users, especially new ones, may struggle with trying to sort and organize their "Stream" sidebar.
The initial alphabetical ordering  is suboptimal for quickly accessing "hot" streams, since they might be far apart on the sidebar. There should be a doc explaining how to organize it.
This doc should include:

* an explanation of the issue mentioned here (why is it necessary to organize the str

[2017-01-12 22:51] Jeffthebest1 commented on #3272
I'b be happy do this! 👍 I'm claiming this

[2017-01-12 22:56] timabbott commented on #2318
@mghadam FYI we've now merged a fix for this issue into master.  Thanks for your investigation into this!

[2017-01-12 22:58] rishig commented on #2769
Issue #3271 likely fixes the bulk of this problem.

[2017-01-12 23:07] #3077 closed

[2017-01-12 23:08] timabbott commented on #2281
I think this was fixed by #3088.

[2017-01-12 23:08] #2281 closed

[2017-01-12 23:09] timabbott commented on #287
I think the recent work we've done on popovers in #3088 and #3086 should resolve this.  Thanks again for the report @asmartin and the work on this @doraemon96 and @noobgamer95!!

[2017-01-12 23:09] #287 closed

[2017-01-12 23:19] timabbott commented on #3245
When thinking about which actions to support, I think we should probably just focus on the things that are going to be interesting to users, primarily probably comments and post publications?

[2017-01-12 23:23] #2930 closed

[2017-01-12 23:31] #3155 closed

[2017-01-12 23:38] Tanuja-Sawant commented on #3264
I'm working on this.

[2017-01-12 23:42] sampritipanda commented on #3215
I'm working on this.

[2017-01-13 00:06] timabbott commented on #3212
We should add a 15s setTimeout() in the code path where compose sends a request to the server; if it fires, it can check if the message was indeed delivered; if not, it can complain.

[2017-01-13 00:06] timabbott commented on #1768
Yeah, that's one would get if we re-enabled markdown escape via `\`, which we probably will.

[2017-01-13 00:10] timabbott commented on #236
Sorry for the slow reply; I would store these in a separate table that has pairs of users.

[2017-01-13 00:13] feorlen commented on #3245
@brainwane Thanks for the typing!

re: private_to_published, it could be that the HookPress author never removed it. WordPress 2.3 is very, very old. Only some WordPress actions were included in HookPress, and it hasn't been updated in several years. WordPress.com appears to have their own local version of it, as much of the basic form is common to both. (With WordPress.com you get whatever they o

[2017-01-13 00:18] timabbott commented on #3245
It's probably not worth doing that sort of lookup; I guess we can skip comment actions then (and maybe file a bug?  It's pretty lame!)

[2017-01-13 00:46] timabbott opened #3277 "Stream descriptions get cut off at the bottom in subscriptions page if they have `g`s in them"
This is presumably a minor CSS issue:

![image](https://cloud.githubusercontent.com/assets/2746074/21914218/7dd7c2cc-d8e6-11e6-9454-02059611e227.png)

[2017-01-13 00:54] #2510 closed

[2017-01-13 01:00] timabbott commented on #3025
I think the emoji reactions feature has a similar issue.  We should try to get this fixed for Zulip 1.5.

[2017-01-13 01:08] #1783 closed

[2017-01-13 03:47] showell commented on #3237
@derAnfaenger I would read provision.py to get a feel for how it works.  After we install pip and before we start actually using it, I think we can call 'pip --version' through the subprocess module and capture its output, and then do some basic sanity check.

[2017-01-13 04:38] jajodiaraghav commented on #3277
Submitting a quick PR

[2017-01-13 04:58] jajodiaraghav commented on #3277
It seems to work fine here:

![capture](https://cloud.githubusercontent.com/assets/18749480/21918781/fa8ed820-d97a-11e6-9ee2-1c7489bc6945.PNG)

[2017-01-13 05:17] rafidaslam opened #3281 "Followup Zulip API client `get_subscribers()`"
See: https://chat.zulip.org/#narrow/near/125228/stream/backend/topic/Issue.20.231709

In Zulip API client, there is a function named `get_subscribers()`. This function has just been modified by a new commit that replace all `stream_name` with `stream_id` https://github.com/zulip/zulip/commit/d3ee53bdef75eb1fe6b71fb008c754b005a29ce2

And there is a exception, that's not handled correctly and hard t

[2017-01-13 05:17] rafidaslam commented on #3281
Working on this..

[2017-01-13 07:15] Juanvulcano opened #3283 "Referencing localhost leads to refused connection when running Zulip on remote development environment."
I found a Frontend bug. Referencing localhost leads to refused connection when running Zulip on development environment.

![Screenshot-2017-01-13-at-3.11.30-AM.png](https://chat.zulip.org/user_uploads/2/6d/Mtq7tSZwDIrZg3N1BBjJOchJ/Screenshot-2017-01-13-at-3.11.30-AM.png)

My test server was a Digital Ocean droplet.
Go to the http://username.zulipdev.org:9991/login/ and try several categories that

[2017-01-13 07:18] rafidaslam opened #3284 "Change `Stream.objects.get()` into `get_stream()` in some tests"
In some tests, there are tests that using `Stream.objects.get()` function to get the stream object, and we could probably have used `get_stream()` in a lot of the tests.

So `Stream.objects.get()` should be changed to `get_stream()` there..

This ticket probably a followup ticket for https://github.com/zulip/zulip/pull/3035 (for the tests section)

[2017-01-13 07:53] kracekumar opened #3285 "Emoji notification for author"
Now that Zulip supports reactions to a message, would it make sense to notify authors about the reaction to their post? The notification is available on FB and Twitter. I am not aware of slack.

[2017-01-13 09:46] krtkmj commented on #3284
@gureks I think this is a good starter project.

[2017-01-13 11:27] jajodiaraghav commented on #3284
Claiming this one

[2017-01-13 14:37] derAnfaenger commented on #3207
@avisrivastava254084 could you please explain how you plan to tackle this problem with inter-tab communication?

[2017-01-13 15:04] derAnfaenger commented on #3207
Hmm, I actually rethought this, what about this solution:

1. Upon the creation of a tab, it generates a random id for itself and stores it in some list `localStorage['tab_ids']`.

2. When a notification is to be handled, each tab checks if he is the first entry in the list. If and only if that's the case, he may create a notification .

3. When a tab gets terminated, it removes its id from the li

[2017-01-13 15:14] #3281 closed

[2017-01-13 16:06] AyushMis commented on #58
This can be done in several ways but the one which I found most appropriate is:-
We can add a 'pop-up screen' as soon as a user opens this app before updating or while in progress both.
From there, the user can proceed to see the updating process or if he/she has some other important  work to do at that particular time, he/she can find these updates in the 'settings' options provided in this chat

[2017-01-13 17:12] YagoGG commented on #2056
I'm claiming this, if I may!

[2017-01-13 18:28] derAnfaenger opened #3294 "/me breaks message layout when entered with a single subsequent space."
#### Reproduction:

1. Type "/me " in the compose box (notice the space after 'me').
2. Send the message.
3. The layout breaks:
   * Normally, the `/me` command centers the name vertically and appends the message.
   * Now, the name's letters change from bold to normal and `/me` is appended to the message:
![image](https://cloud.githubusercontent.com/assets/7950151/21940846/6162d268-d9c6-11e6-889b

[2017-01-13 18:29] anirudhjain75 commented on #3294
I have reproduced this and the behaviour is strange

[2017-01-13 18:48] anirudhjain75 opened #3295 "Reaction box unusual behaviour"
Reaction box just went below the screen when I resized and clicked on reactions smiley
![screen shot 2017-01-14 at 12 14 06 am](https://cloud.githubusercontent.com/assets/14249589/21941505/0814b004-d9ef-11e6-9a89-d4a44e94e5ee.png)

[2017-01-13 18:50] haroldtreen opened #3296 "Extra whitespace in streams sidebar"
When I open zulip, I see extra whitespace in the sidebar.

I currently have my zoom in chrome set to `125%` in Chrome. When I set it down to `100%` it looks a bit less broken.

**@ 125% Zoom**
![image](https://cloud.githubusercontent.com/assets/1745854/21941455/d205c26c-d996-11e6-83a3-fee97c254d3f.png)

**@ 100% Zoom**
![image](https://cloud.githubusercontent.com/assets/1745854/21941512/0cea0190-d

[2017-01-13 18:50] anirudhjain75 opened #3297 "Compose reaction box dissappears after resizing the window"
Reaction box dissappear after resizing the window
Way to replicate:
* Click on reactions smiley
* Resize the window

[2017-01-13 20:06] strugee commented on #3235
@timabbott no problem! Thanks for the quick response :-)

This wouldn't be my ideal solution, but would definitely help a _great_ deal. Good workaround too; thanks!

Yeah, I use this and find it pretty helpful. Two problems: the more I put important streams at the top, the more the interface feels cluttered because I'm pushing the normal, scrolling list further and further down. Also, there are so

[2017-01-13 21:43] strugee opened #3300 "Narrowing to a topic with compose open should prefill the topic input box"
I find that frequently I'll be looking at a stream where all the most recent messages are from one topic, so I think I'm just narrowed to that topic. I open the compose box and find that the topic _isn't_ prefilled (because I'm only narrowed to a stream), so I click on the topic's name to fix the narrowing for the topic to autofill, but this closes the compose box.

It'd be a nice usability enhanc

[2017-01-13 21:52] timabbott commented on #58
Just to be clear, this issue is about notifying the system administrator of a Zulip server, not about notifying the individual users of that Zulip server.

[2017-01-13 21:57] strugee opened #3301 ":black_large_square: and :black_medium_square:... aren't"
STR:

1. Type `:black_large_square:` or `:black_medium_square:` in a Zulip message
2. Notice how a blue square and an orange square appear instead of, you know, black ones

[2017-01-13 22:03] timabbott commented on #3285
I don't believe Slack does it.  I think in Slack/GitHub/etc., the point of emoji reactions (vs. just sending a reply with an emoji in the reply) is to respond without triggering a notification to the other participants on the thread.

I guess I can see a case for wanting a notification about reactions to messages you yourself sent, though (but not have those notifications go to other folks).  I'd

[2017-01-13 22:05] timabbott commented on #3294
Hmm, yeah.  I think an interesting question is whether we want it to display as the literal string `/me`, to just display the person's name in bold with no content after (which looks funny as well), or make such a message an error.  Thoughts?

[2017-01-13 22:08] timabbott commented on #3296
This is an interesting new CSS regression.

[2017-01-13 22:10] timabbott commented on #3301
Fascinating.  I think this is probably a bug in the emoji-map.json data file we're using that maps emoji to their corresponding unicode emoji.

[2017-01-13 22:12] polypmer commented on #2605
Closed with #2617

[2017-01-13 22:12] #2605 closed

[2017-01-13 22:15] anirudhjain75 commented on #3294
It would be better to show an error for this I guess

[2017-01-13 22:17] anirudhjain75 opened #3302 "Quoting a message in replies (was Replying a message with a preview)"
Edited description following the initial discussion below:
* Change the "Reply" entry in the message actions menu to "Quote and reply", and have it quote the original message's markdown (ideally using the `>` so one can cut/paste pieces) to make it easy to reply to a specific part of what someone said.

Original description:

I guess it would be better if we have a reply to the message option have

[2017-01-13 22:29] timabbott commented on #3302
Zulip doesn't have a well-defined notion of which message you're replying to.  Today, users can click on any message in a stream/topic to reply to that stream/topic, without needing to think about which specific message in that thread they are responding to.  So I don't think there's a version of this feature idea that would improve the product (you can already narrow to the stream/topic pair, and

[2017-01-13 22:48] #3272 closed

[2017-01-14 00:11] #3271 closed

[2017-01-14 00:25] showell commented on #2902
We rebuild the individual sidebar row for a stream after we pin it.  When you build the row from the template, we don't update the unread count.  (There are some subtleties here due to the fact that on page load you have to wait for accurate unread counts, and the code is the same for startup.)

I think we should make `build_stream_sidebar_row` take a boolean option that tells it to update its unr

[2017-01-14 01:00] #2950 closed

[2017-01-14 04:46] strugee commented on #3235
I misremembered the UI and this isn't really applicable. The rest still stands, though :)

[2017-01-14 06:02] 540KJ commented on #3294
Don't know if this bug is related, but if you send a message containing `/me` and try to edit it later by deleting the space that separates `/me` from the message. e.g. `/me is going` to `/mei s going`, `/me` still displays.

https://chat.zulip.org/#narrow/near/127781/stream/test.20here/topic/(no.20topic)
![me 2](https://cloud.githubusercontent.com/assets/23611943/21952856/29fdb620-da7b-11e6-9cb8-

[2017-01-14 06:08] 540KJ commented on #3294
Well, currently '/me           ' (with > 1 space after /me) displays the name in bold. It would make sense to continue this behavior with '/me '.
![me](https://cloud.githubusercontent.com/assets/23611943/21952876/dd89e736-da7b-11e6-9add-42aadc57f0a8.PNG)

[2017-01-14 07:08] anirudhjain75 commented on #3285
If Zulip is a chat tool for developers, I don't think the author would like to be notified about the reactions but if yeah a checkbox could be added to streams setting to enable or disable reaction notification

So I'd say that adding an extra feature would increase the number of features Zulip supports, therefore improving the product. On my opinion this may be be implemented using a checkbox

[2017-01-14 08:05] rafidaslam commented on #1297
I think I could make a quick PR for this..

[2017-01-14 08:07] 540KJ commented on #3294
I'm claiming this issue.

[2017-01-14 08:21] 540KJ commented on #3297
Don't know if the above issue is a bug or not. Nonetheless, the mentioned issue is also the case for dropdown menus from the down chevron icon.

[2017-01-14 08:23] Jeffthebest1 commented on #3301
I'll claim this

[2017-01-14 08:39] 540KJ commented on #3301
This also seems to be an issue with other black emojis:
![black emoji search](https://cloud.githubusercontent.com/assets/23611943/21953645/26d45344-da91-11e6-9e76-1eee10e7a5d7.PNG)
`

[2017-01-14 08:40] Jeffthebest1 commented on #3301
Hmmm, which file do you think is causing this?

[2017-01-14 10:06] rafidaslam commented on #1297
Just noticed that commit which make this change is different in master, the commit in master is 29673411df8dffd50198c0f01c5db8561a782adf

[2017-01-14 11:04] anirudhjain75 commented on #3297
I made this issue because I was told the same as in emoji box PR I am working now on

[2017-01-14 11:23] khantaalaman opened #3313 "[More...] does not un-collapse single line messages"
[More...] does not un-collapse single line messages

STR:
1. Send a single line message (say, Hi! How's work going?).
2. Collapse this message.
3. Try to un-collapse it using the [More...] symbol.

[2017-01-14 11:26] khantaalaman commented on #3313
@timabbott

Being my first work, I need your confirmation on this issue. Please provide me lead by mentioning probable files which are responsible for this issue. I'll be ready to take this issue then.

[2017-01-14 17:04] rafidaslam opened #3316 "Redirect login page to chat when user is in logged in state"
Just noticed that Zulip login page not redirected automatically to Zulip chat when user is in logged in state. We could see how Facebook handle this smoothly.

**How to reproduce**:
1. Login to Zulip.
2. Open login page, like http://chat.zulip.org/login/
3. And then you will be not redirected to Zulip chat.

**Expected behaviour**:
When user is in logged in state, login page should redirects user

[2017-01-14 17:32] tommyip commented on #2665
I can work on this. There is a Python command line tool called [isort](https://github.com/timothycrosley/isort) which does this.

[2017-01-14 18:22] avisrivastava254084 commented on #3207
@derAnfaenger
Should I proceed with it? Also, what should be my approach?

[2017-01-14 19:43] avisrivastava254084 commented on #3316
I would like to take this issue.

[2017-01-14 20:16] timabbott commented on #3313
Yeah, I've noticed this recently as well; I think there's also something wrong with the link that makes it harder to click than it should be.  The feature is called "collapsed" and "condense"; see static/js/condense.js for the JS code related to this.

[2017-01-14 20:18] khantaalaman commented on #3313
Thanks for your lead @timabbott
I'll take up this issue.

[2017-01-14 20:18] timabbott commented on #3297
I think we just have explicit code to hide all popovers on resize, because resizing rerenders a bunch of stuff and may result in popovers going offscreen and thus looking messed up.  Do we think users will experience this as a bug?  I think it may be the most reasonable generic behavior we can implement for what happens when you resize, though it's probably possible to do something nicer for speci

[2017-01-14 20:23] #1297 closed

[2017-01-14 20:30] timabbott commented on #3301
I'd look at tools/setup/emoji/build_emoji.  It generates the structure under static/generated/emoji.  One possible problem is that `build_emoji` is extracting the emoji wrong; the other is that the emoji_map.json that it uses as an input is wrong.

[2017-01-14 20:33] timabbott commented on #3285
There a lot of product managers that would argue that sometimes adding new features can make a product worse :).

If someone wants to work on this direction, I'd probably started with adding a narrow, since I think that would be fairly easy and useful.  Maybe `has:reaction` as the keywords?

[2017-01-14 20:55] strugee commented on #3301
Also of note: `:birthday:` and `:birthday_cake:` appear to be the same - I'm happy to file that separately but it seemed like it's probably related

[2017-01-14 21:09] timabbott commented on #3301
those duplicates have an existing issue, see #2991

[2017-01-14 21:22] YagoGG commented on #2056
I think we should support the `\( ... \)` and `\[ ... \]` syntax as well. Personally, I prefer the `$` one, but there seems to be [arguments](http://tex.stackexchange.com/q/503) in favor of using brackets.

I guess supporting all of them would be the best path to take.

[2017-01-15 00:03] Tanuja-Sawant commented on #3264
I commented out the 'submit' button's code in [notification-settings.handlebars](https://github.com/Tanuja-Sawant/zulip/blob/3264/static/templates/settings/notification-settings.handlebars#L160-L166)

And changed [settings.js](https://github.com/zulip/zulip/blob/a1c0fa4c3de339725e73ed0ce0269e06a7cc4789/static/js/settings.js#L340) line 340's code:
`$("#change_notification_settings").on("click", fun

[2017-01-15 00:43] Tanuja-Sawant commented on #3295
which file might be causing this issue? @timabbott @anirudhjain75

[2017-01-15 14:03] mahim97 commented on #3010
It would be great if someone could review my PR #3163 .

[2017-01-15 15:29] anirudhjain75 commented on #3297
@timabbott As I was creating emoji popup I was asked to make it stay even when resized

[2017-01-15 16:35] jajodiaraghav commented on #3296
Claiming this:)

[2017-01-15 16:44] jajodiaraghav commented on #3239
Hi @cosmicAsymmetry May i take this issue or are you still working on it?

[2017-01-15 16:45] showell commented on #3302
@timabbott

I am changed the title here to make it clear that the context of this enhancement request is to allow email-like quoting of the previous message.  I'm personally -0.1 on the idea, but it would be good to have an official pronouncement that specifically address quoting messages.  So I am re-opening this temporarily.

[2017-01-15 18:48] timabbott commented on #3264
Try doing a console.log inside that function to print-debug; if I had to guess, your selector isn't quite right.

[2017-01-15 19:07] krtkmj opened #3329 "Update Font Awesome"
Currently, Zulip uses Font Awesome v3.0.2. Update Font Awesome to v4.7.0

[2017-01-15 19:10] khantaalaman commented on #3329
I would like to take up this issue.

[2017-01-16 01:27] timabbott commented on #3302
If we wanted to implement this, the "Quote message" feature would probably enter this (or maybe something using the `>` syntax) into the message body:
[code]
[code]

[2017-01-16 01:34] cosmicAsymmetry commented on #3239
You may take up this issue. I got overwhelmed by the amount of JS. I'm
really new to JS.

[2017-01-16 08:24] avisrivastava254084 commented on #3316
@timabbott  I am confused in writing the urls.py for my new view which handles this issue.
I have written the view which checkts whether the person is logged in or not, now i want to write the corresponding url in irls.py as well. pretty confused in that. some help or approach?
@sampritipanda

[2017-01-16 09:29] rohithasrk commented on #3316
@avisrivastava254084 : I don't think you need a new view for this. You need to work on the same view which is called when `/login/` URL is hit. And I'm pretty sure a function existed to check if the user if logged in or not.

[2017-01-16 10:03] avisrivastava254084 commented on #3316
okay i will see that first. because i have written a new view and wanted to
adjust the url accordingly. will implement it as soon as i get the
understanding of the current existing code.

On Mon, Jan 16, 2017 at 2:59 PM, Rohith Asrk <notifications@github.com>
wrote:

--
Aviral Srivastava
+918004860407

[2017-01-16 10:42] rohithasrk commented on #3316
@avisrivastava254084 : Yeah. Just to rule out redundancy. Otherwise, you can implement the function you've written, in the `login` view and redirect it to the chat.

[2017-01-16 14:33] showell opened #3340 "release 1.5: Allow "home" topics to work in the left sidebar"
If you create a topic called "home" and then click on it in the streams/topics sidebar, the app takes you the "Home" view.  We must have a piece of code somewhere that makes too tax a regex or search for "home" in the link.

[2017-01-16 15:49] khantaalaman commented on #3340
I would like to try this out.

[2017-01-16 15:50] sampritipanda commented on #3340
@khantaalaman I just submitted a PR :(

[2017-01-16 15:51] showell commented on #3340
Sounds good!  If you need help, feel free to ask questions on https://chat.zulip.org/#

[2017-01-16 15:55] khantaalaman commented on #3340
@sampritipanda I am extremely sorry for this. Maybe it came after I wrote the comment.

No problem buddy. I won't take it. :)

[2017-01-16 15:56] showell commented on #3340
Sorry about the confusion, @khantaalaman! It's not your fault--thanks for responding so quickly.

[2017-01-16 16:05] anirudhjain75 commented on #2869
@trueskawka I need help with the position of search option

[2017-01-16 17:00] derAnfaenger opened #3345 "release 1.5: Message emoji reactions showing up only after reload."
### Note

This issue happens only in newly created streams (e.g. in `GCI class of 2017`, but not in `learning`, which was created a few days before).

### Reproduction

1. Subscribe to `GCI class of 2017`
2. React to a message (e.g. with the 👍 emoji

### Issue

Your reaction will not be displayed instantly; it will show up only after you reloaded the page (see the following gif):
![emoji-bug](http

[2017-01-16 17:21] derAnfaenger commented on #3345
Update: This issue is only reproducable for messages that have been sent at a time one hasn't already been subscribed to the stream.

[2017-01-16 17:46] #3340 closed

[2017-01-16 18:25] khantaalaman commented on #3313
It would be great if someone could review my PR and let me know about possible improvements, if any.
@timabbott

[2017-01-16 18:46] avisrivastava254084 commented on #3316
@rohithasrk
![image](https://cloud.githubusercontent.com/assets/13495855/21995292/11ea21b0-dc4a-11e6-9b1c-3f7a21c2bf8d.png)
Hi, confused in which url should I make the adjustments for my view(the one which I have created).
Please suggest.

[2017-01-16 18:54] khantaalaman commented on #3316
@avisrivastava254084 :
We need to log in the user as soon as he opens the main login page. So, make adjustments to following URL:
`url(r'^login/$',  zerver.views.auth.login_page, {'template_name': 'zerver/login.html'}, name='zerver.views.auth.login_page'),`

[2017-01-16 23:14] timabbott commented on #3345
That makes sense.  There's little in the way of happy solutions that we can do to solve the general case of viewing messages sent to streams that you're not subscribed to and then someone modifying the messages (e.g. via editing or adding reactions).

However, we do have a technique for things like this particular case.  If you star a message in this situation, we'll add a UserMessage row with the

[2017-01-17 03:43] #3071 closed

[2017-01-17 03:46] #3296 closed

[2017-01-17 04:07] #2902 closed

[2017-01-17 04:08] timabbott commented on #3297
I think arguably the main compose box emoji picker shouldn't be a popover at all; it's kinda strange that it is currently tracked as such.  Would changing that help with this problem?

[2017-01-17 04:51] timabbott commented on #2056
Hmm, I think we'll need to be somewhat careful about those syntaxes, since they conflict with the default markdown syntax for escaping a single character...

[2017-01-17 04:54] timabbott commented on #3207
In theory that approach could work, though I'm a bit worried about implementation complexity issues with actually doing that (primarily around leaking tab IDs).

[2017-01-17 05:09] timabbott opened #3347 "Move bankruptcy prompt to a top-of-page prompt (instead of a modal)"
This would make it feel more natural to read a few things before declaring bankruptcy.

[2017-01-17 05:09] timabbott commented on #3235
Opened #3347 for the bankruptcy piece of the issue.

[2017-01-17 05:10] timabbott commented on #3235
Thanks, this is helpful!  I don't have a concrete, ready for someone to implement solution to everything, but we can start with #3347 and keep thinking about the rest.

[2017-01-17 05:21] Tanuja-Sawant commented on #3347
I'm working on this.

[2017-01-17 05:56] rohithasrk commented on #3316
@avisrivastava254084 Or, maybe you could make changes in the view `zerver.views.auth.login_page` and avoid changes in the url.

[2017-01-17 06:00] avisrivastava254084 commented on #3316
@rohithasrk
I have created this view:
[code]

and this is the changed url:
`url(r'^login/$',  custom_login, {'template_name': 'zerver/login.html'}, name='zerver.views.auth.login_page'),`

I have made a pull request, #3348. Please have a look and guide me.

[2017-01-17 06:12] rohithasrk commented on #3258
Will work on this. What all do I need to look into? @timabbott

[2017-01-17 06:20] timabbott commented on #3258
This is kinda puzzling; the underlying link on chat.zulip.org works fine, but Google's cache of it does not.

[2017-01-17 06:29] rohithasrk commented on #3132
@timabbott : Made changes in the PR #3153 . Please review them. Thanks

[2017-01-17 07:49] #2431 closed

[2017-01-17 09:49] anirudhjain75 commented on #3297
I still am trying to find the cause of this bug, couldn't find it yet, but I found the scroll option where popups gets disappeared during scroll which is in popovers.js

[2017-01-17 10:30] khantaalaman commented on #3316
@avisrivastava254084
In the `auth.py` there is a view `login_page`

You only need to check about the login state inside that view. No other file OR URL is needed to be modified. Addition of following two lines in the above mentioned view should do the job.

[code]

@rohithasrk Please verify.

[2017-01-17 10:48] avisrivastava254084 commented on #3316
@rohithasrk changes made.

[2017-01-17 13:15] Tanuja-Sawant commented on #3347
Forgive me, the modal doesn't pop up when I login to Zulip, even if I have unread messages. @timabbott

[2017-01-17 14:52] khantaalaman commented on #2412
Hi, I did some work on this topic and would request you to please go through it once.

![optimised](https://cloud.githubusercontent.com/assets/18065231/22024042/aee33444-dcee-11e6-85ab-b89c5c09a355.gif)

The problem is not just with /#settings but with couple of other features as shown in gif uploaded.

I personally believe that features like Settings and Administration should be separate links in

[2017-01-17 17:23] vabs22 commented on #374
There is another thing to fix as well. Suppose i want to @-mention a person with name 'Vaibhav' and say there exist 6-7 people with name vaibhav but different surnames. Since we display only 5 results, there is possibility of missing out the name of required person from the list. I can also use email of the person for the same but usually people find it easier to remember names over email ids.
To

[2017-01-17 17:29] brockwhittaker commented on #2412
@khantaalaman, good testing on this! I think the issue however is in the `<a id="settings-dropdown" href="#">` which is the clickable target for dropping the gear menu.

The issue is that it currently uses the `e.preventDefault` method to prevent the hash from changing on **click**, but not on enter, which clicks it since it is actually in focus.

The simple fix for this is just to remove the link

[2017-01-17 17:56] khantaalaman commented on #2412
@brockwhittaker

Thanks for your lead. I will work on this in the suggested manner.

[2017-01-17 18:19] HarshitOnGitHub commented on #3145
@timabbott This PR is currently based on the top of my previous open PR #3082 which is being reviewed by @rishig, as soon as that gets merged I will rebase it on the master.

[2017-01-17 19:29] timabbott commented on #2180
I fixed this recently.

[2017-01-17 19:29] #2180 closed

[2017-01-17 19:33] showell opened #3352 "release 1.5: Popovers don't select first row (bug!)"
If I open the right-side message popover menu with "i" or the mouse, the first row is not selected.

[2017-01-17 19:49] showell commented on #3352
We may want to revert 1f13a991f4cbd3ec677318f6b63a544012ce3777

[2017-01-17 19:57] timabbott commented on #3352
Yeah, I'm fine with doing that for now; feel free to do so and post a comment on the PR?

[2017-01-17 22:39] timabbott commented on #3230
@showell can you check if you feel this is resolved?  You can try adding a `raise` in e.g. scripts/setup/emoji/build_emoji to see what the new error format looks like.

[2017-01-17 22:41] #3352 closed

[2017-01-17 22:41] timabbott commented on #3010
Reopened this since we just reverted the fix from #3163 due to breaking hotkeys.

[2017-01-17 22:53] timabbott commented on #3300
We'll need to be careful with this, since it's easy to prefill things in a way that causes users to accidentally send to the wrong place, but I think that in this specific flow (you're narrowed to a stream, have an open but empty compose box, with no topic set, and then narrow to a topic) seems pretty safe.

[2017-01-17 23:09] timabbott commented on #3277
@jajodiaraghav try changing the zoom in your browser and seeing if you can reproduce?  I'm using Chrome on Linux, in case it matters.

[2017-01-17 23:35] timabbott commented on #3347
@Tanuja-Sawant it only pops up if you have like 400 unread messages.  You might need to do https://github.com/zulip/zulip/issues/2676 first to make this easily testable :).

[2017-01-17 23:39] timabbott commented on #3283
The main issue here is that Zulip expects development environments to be run on localhost, not a remote server.  Arguably the solution is that one should be port-forwarding port 9991 from localhost to a remote server.

[2017-01-17 23:41] timabbott commented on #3283
I think maybe we could make it easy to change EXTERNAL_HOST from localhost in a remote development environment (and make our script and docs for creating remote development environments include setting this setting); that would probably eliminate this issue from a practical perspective.

[2017-01-18 00:03] timabbott commented on #3145
OK, makes sense.  Strategically, I think you should be trying to make smaller commits, that change 1 place we're using the name at a time, for this sort of migration (e.g. just renaming the views files and functions, then rename just the database model, etc.).  It also would be nice if this weren't on top of another large unmerged feature, but I understand why you did that.  That approach makes it

[2017-01-18 00:34] timabbott opened #3354 "Add a pull request template with a quick checklist of things to check:"
I think we should add a GitHub pull request template with a quick checklist of reminders about common mistakes in PRs.  Probably will take the form of a link to a page, since this is kinda long, but here's a draft for what we might cover, based on the common issues we see:
[code]

[2017-01-18 00:55] synicalsyntax commented on #3354
Seconded. I think we could also write a doc for this to go in ReadTheDocs if necessary.

[2017-01-18 01:01] timabbott commented on #3354
http://zulip.readthedocs.io/en/latest/code-reviewing.html is also relevant, but is written for maintainers, not for new contributors.

[2017-01-18 01:27] timabbott commented on #374
@vabs22, yeah, that problem annoys me as well.   I worry a bit about the whitespace approach, because if for whatever reason you don't want to @-mention someone, it's pretty annoying to have to use escape to get out of autocomplete.

One reasonable option would be to see if there's a way we can make it show more than 5 options if there are several exact matches (or scroll through them, or somethin

[2017-01-18 01:47] marfarma commented on #2668
@lonerz Something like this for bullet point 1:

<blockquote>
Provisioning is the process of creating a required resource.  You can provision a telecom node, a rack of raw hardware hosts in a data center, a highly scalable cluster of application servers on a cloud provider, or a development server on a desktop machine.    In the case of a Zulip server, the provisioning process must ensure the corr

[2017-01-18 02:00] marfarma commented on #3354
Automated tests?

[2017-01-18 03:16] showell commented on #3354
These all seem reasonable to me.

[2017-01-18 03:35] synicalsyntax opened #3355 "user docs: Write user docs for the *Find your Zulip organization* feature"
Write user guide documentation for the **Find your Zulip organization** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `templ

[2017-01-18 03:38] himanshu81494 commented on #3355
I am new to Zulip, can I take this ?
If yes can you elaborate how to proceed please

[2017-01-18 03:44] synicalsyntax commented on #3355
@himanshu81494 Sure! I just updated the issue description with a general outline of steps you should take to write the documentation. Let me know if you have any more questions :)

[2017-01-18 03:46] synicalsyntax opened #3356 "user docs: Write user docs for the *Automatically link to an external issue tracker* feature"
Write user guide documentation for the **Automatically link to an external issue tracker** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new

[2017-01-18 03:49] synicalsyntax opened #3357 "user docs: Write user docs for the *Configure authentication methods* feature"
Write user guide documentation for the **Configure authentication methods** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `t

[2017-01-18 03:49] synicalsyntax opened #3358 "user docs: Write user docs for the *Zulip on Mac OS* feature"
Write user guide documentation for the **Zulip on Mac OS** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `templates/zerver/h

[2017-01-18 03:50] synicalsyntax opened #3359 "user docs: Write user docs for the *Zulip on Linux* feature"
Write user guide documentation for the **Zulip on Linux** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `templates/zerver/he

[2017-01-18 03:51] synicalsyntax opened #3360 "user docs: Write user docs for the *Zulip on iOS* feature"
Write user guide documentation for the **Zulip on iOS** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

**Note:** Keep issue #3267 in mind while writing this doc!

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add yo

[2017-01-18 03:51] synicalsyntax opened #3361 "user docs: Write user docs for the *Zulip in a terminal* feature"
Write user guide documentation for the **Zulip in a terminal** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `templates/zerv

[2017-01-18 03:55] himanshu81494 commented on #3355
@synicalsyntax where can I find and study about this feature?

[2017-01-18 04:36] timabbott opened #3362 "Upgrade to the currently best password hasher"
See this for details:
https://docs.djangoproject.com/en/1.10/topics/auth/passwords/#how-django-stores-passwords

We're fine with adding extra dependencies, so it seems like we should upgrade to the best available option.

[2017-01-18 04:59] timabbott commented on #3354
@marfarma added.

[2017-01-18 05:03] timabbott opened #3363 "tooling: Add a CI check for a whitelist of files having 100% test coverage"
It's easy to parse the coverage data generated by `test-backend --coverage` (I'm pretty sure `python-coverage` makes it easy to introspect), and I'd love to lock down the various files that currently have 100% test coverage to stay that way (e.g. most of views, etc.).

[2017-01-18 07:17] dehnert opened #3364 "Accept API key (and other options?) from environment variables"
Right now the Client() constructor accepts parameters (API key, email, site, etc.) through constructor arguments, falling back to values in the config file. It would be convenient to also support getting those parameters (at least API key) through environment variables as well: argument->environment->config or so.

My sense is that it's reasonably common for people to stick secrets in environment

[2017-01-18 07:22] dehnert opened #3365 "Update Python API examples with accurate usage messages"
The Python API examples use `generate_option_group` and `init_from_options` to support a common set of options, but (mostly?) hardcode their usage messages. They should ideally display a more complete usage message as well (or instead) that reflects the other options, especially `--config-file` (though others are also occasionally useful, certainly).

[2017-01-18 12:06] umairwaheed commented on #2564
Starting work on this.

[2017-01-18 14:17] trueskawka commented on #3354
It'd be great if the PRs on GitHub had good descriptions, that wouldn't require the reviewer to look for basic answers (e.g. why are we working on this? how can I help the contributor? where else was this discussed?), so a section on PR comments could be useful.

An initial idea:
[code]

[2017-01-18 17:13] synicalsyntax commented on #3355
@himanshu81494 Play with the Zulip UI to learn how feature works in Zulip. If you can't find out how to do something in Zulip (or whether it's even possible), ask about it on the `#documentation` stream; one of the contributors can probably help you :)

[2017-01-18 17:32] refeed opened #3369 "Unusual behaviour when fill "Add a new alert word" with a space or more"
When fill `Add a new alert word` box with a space or more, this happen (the bin icon flow out from the box):

![screenshot from 2017-01-19 00-12-40](https://cloud.githubusercontent.com/assets/20320125/22075263/e9527906-dddd-11e6-8637-6f07ff92e4ff.png)

How to reproduce:
1. Open **Settings**.
2. Find `Custom alert words` and fill `alert word` box with a space or more.

This issue probably slightly

[2017-01-18 17:58] brainwane opened #3370 "PokitDok integration"
[PokitDok is aiming to make US healthcare more transparent regarding prices and insurance coverage](http://pokitdok.com/) -- developers can use their [API](https://platform.pokitdok.com/documentation/v4/) to make applications that inquire about whether a particular drug or procedure is covered under a particular health care plan, whether a provider is in-network, average prices for various procedu

[2017-01-18 19:24] timabbott opened #3371 "release 1.5: It's possible to scroll the pointer off the top of the screen when scrolling down"
This seems like a fairly significant regression.

[2017-01-18 19:35] rishig opened #3372 "admin settings: Clicking "save changes" should display message if nothing has changed."
Currently clicking "Save Changes" on the admin page does nothing if nothing has changed. It would be great if it instead displayed the success message "No changes made." A `git grep` for something like `restricted_to_domain_status` will show how we generally handle these messages on the admin settings page.

[2017-01-18 19:44] timabbott commented on #3365
Yeah, this would be cool; I wonder what a good way to do that is...

[2017-01-18 19:44] timabbott commented on #3364
Yeah this is a great idea.

[2017-01-18 19:47] timabbott opened #3373 "Document how to view the very first message in a stream"
We may want to mention in a user docs page how to view the first message in a stream (maybe as a tip on the page about all the search filters?).  Here's how to do it:

https://chat.zulip.org/#narrow/near/1/stream/documentation

[2017-01-18 19:50] timabbott commented on #3355
This one is interesting in that it's turned off by default.  Set `FIND_TEAM_LINK_DISABLED = False` in zproject/dev_settings.py to test it.

[2017-01-18 20:58] sinwar commented on #3373
I'm taking this up @timabbott

[2017-01-18 21:00] showell opened #3374 "future: Allow same email to use multiple realms (in same DB)"
We currently restrict users to have a single account per email on any given Zulip installation (where "installation" basically is 1:1 with a DB instance).

Users can work around this by having multiple email accounts, but it's less than ideal for users.  Likewise, site administrations can create single-realm sites for each of their projects, but that's generally wasteful of system resources and ca

[2017-01-18 21:00] sinwar commented on #3362
@timabbott can you suggest me best option?

[2017-01-18 21:26] timabbott commented on #3374
The API issue isn't a big deal if one is using REALMS_HAVE_SUBDOMAINS, since the subdomains being connected to implies the realm; and this probably isn't relevant for frontend code if we make it (realm_id, email) pairs that are unique, since frontend is limited to a realm in scale.

[2017-01-18 21:31] timabbott commented on #3362
@sinwar did you read the Django doc I linked to?  It explains that Argon is the best option today.

[2017-01-18 21:49] showell commented on #3374
Yeah, I agree we could probably do this without touching the frontend at all.  (We're going to be cutting over the frontend for other reasons to user_ids, but even if we didn't, the backend, as Tim says, could infer the user_id of any "peer" emails that the frontend submits by using the realm of the logged in user.)

I imagine with a heightened sense of urgency, we could probably do this in a coup

[2017-01-18 22:24] showell commented on #2668
@marfarma I am guessing that @lonerz and @Juanvulcano have both abandoned this PR to work on other stuff.

For your suggestions on bullet point one, I think we should really emphasize that Zulip's provision process is about installing third party dependencies, as opposed to the core Zulip code.  Before provisioning, the dev will need to download all the Zulip code, and after provisioning, they sti

[2017-01-19 00:49] showell commented on #3230
@timabbott The current situation on master is only broken insofar as the path of the log file is slightly off.  I fixed some other minor messaging stuff in #3378.

[2017-01-19 03:42] showell opened #3380 "search: Handle pm-with/sender failures better."
If a user hand types `pm-with:invalid@example.com` into the search bar, our JS code tries to update the PM list, instead of short-circuiting earlier.  This leads to some spurious errors that we could probably short circuit as soon as we determined the search was invalid.

[2017-01-19 05:25] vabs22 commented on #374
Sure! both of these approaches are a better solution.

[2017-01-19 05:39] vabs22 opened #3383 "@-mention autocomplete should display more than 5 results"
In case of several matches, the @-mention autocomplete should display either all of them or there should be an upper limit which can be configured by users. The list of results can be scrollable.

This is needed because there is a possibility that more than 5 users have same initial name, hence the desired person's name can be left out of the results which can be annoying.

[2017-01-19 06:02] vabs22 opened #3384 "Ignore whitespace in full names when matching in @-mention autocomplete"
query "vaibhavsinghal" should match user with full name "Vaibhav Singhal", even if the above query is not a part of the user's emailid i.e. white space in "Vaibhav Singhal" should be ignored in @-mention autocomplete matching.

This is needed because there is a possibility that more than 5 users have same initial name, hence the desired person's name can be left out of the results which can be ann

[2017-01-19 07:09] umairwaheed commented on #2564
@timabbott, even though Django's sendtestemail command does the same thing, you cannot configure subject, from, and content of the email message. So I would stick with our implementation. We can, however, derive our implementation from Django's implementation.

[2017-01-19 08:02] sinwar commented on #3362
sorry I didn't read. I'm taking this up @timabbott

[2017-01-19 12:33] brockwhittaker commented on #3383
This seems reasonable. So perhaps we should have five *unique* names be shown by the popover?

[2017-01-19 13:56] Tanuja-Sawant commented on #3347
@timabbott #2676 seems like an intensive issue and I'm new to this. If you think I should go forward with it anyways, can you direct me on how to start?

[2017-01-19 14:55] brainwane commented on #1602
@sunnypalace Since you haven't updated this issue with any progress since your comment in September, I'm going to assume that you are not working on this, and that others should work on it instead. If you change your mind and start working on it, please speak up here and link a work-in-progress pull request. Thanks!

[2017-01-19 14:56] brainwane commented on #1435
@Diptanshu8 Since you haven't updated this issue with any progress since your comment in October, I'm going to assume that you are not working on this, and that others should work on it instead. If you change your mind and start working on it, please speak up here and link a work-in-progress pull request. Thanks!

[2017-01-19 14:56] brainwane commented on #1409
Great, thanks, @jainayush975 -- looking forward to your pull request!

[2017-01-19 15:12] chamathabeysinghe commented on #1435
@brainwane I will work on this feature.

[2017-01-19 15:52] brainwane commented on #1296
I've commented on the Talk page for https://meta.wikimedia.org/wiki/Research_on_open_source_team_communication_tools asking a very similar question to Tim's.

[2017-01-19 15:56] showell opened #3386 "(claimed) Make front-end code not rely on email as a key"
I am currently working on making our front-end code use user_ids instead of emails in various places as the key for certain actions.  This issue is for tracking my work. (ping: @timabbott @umairwaheed)

This is essentially a sub-issue of #734, which strives to make it easier for users to change their emails in a way that causes a seamless update for Zulip users (no reloads, no broken links, etc.).

[2017-01-19 18:00] feorlen commented on #3245
While I was testing some final updates, I noticed that edit_post is overly chatty and not very practical. It also fires while a new post is being written, when it is published, (I think it tracks drafts) and when one is deleted. So it duplicates what publish_post is doing, plus is very confusing. I've removed it.

[2017-01-19 19:24] timabbott opened #3387 "Emoji reactions traceback on click sometimes"
We occasionally get this traceback on production environments:

[code]

The relevant code in reactions.js is this:
[code]

Which means that we're somehow calling `message_store.get()` on a message ID not present in message_store, despite the fact that the message is currently displayed for the user.

This will take some spelunking through the JS code to figure out how such a state is possible (mes

[2017-01-19 19:30] timabbott opened #3388 "subs.js traceback in production environments"
We get this traceback sometimes in production:

[code]

From looking up the line number, the actual code in question is this (see the `trim()` line there):

Looking at the lines in that code path, I think what's happening is that the success handler in `ajaxSubscribe` is calling `actually_filter_streams`, but the streams modal isn't open.

This makes sense, because ajaxSubscribe is also called fro

[2017-01-19 19:32] timabbott commented on #3388
Indeed, the traceback is reproducible with the process I just suggested.  @brockwhittaker what's the right way to check whether the streams view is currently open?

[2017-01-19 19:58] timabbott commented on #3384
This would be a big improvement for larger organizations.

[2017-01-19 20:22] timabbott commented on #3384
We should do the same for #**streamName** mentions as well.

[2017-01-19 20:26] timabbott commented on #3347
Well, the other approach is you could just make the modal shown up always (easy tweak) while you're testing this, and once it's working well, we merge a version that only shows up with lots of unread messages.

[2017-01-19 20:57] timabbott commented on #2564
OK, makes sense.  I'm not sure there's much point in deriving from there's; our implementation is like 20 lines anyway, but if you think it makes the code cleaner, let's do it (otherwise, let's not bother).

[2017-01-19 21:43] khantaalaman commented on #3313
@timabbott All the issues which I started working on will be submitted as PRs shortly. I had some problems with my previous laptop and just got a new one on an urgent basis. Setting up necessary requirements on this machine.
Thanks!

[2017-01-19 22:00] timabbott opened #3391 "Traceback handling realm_bot update event"
This traceback happens in production and happened for basically all the users in the organization:

[code]

I can reproduce this by opening two browser windows (one as an admin, the other not), and then editing a bot's name in the admin window.

[2017-01-19 22:27] #3388 closed

[2017-01-19 22:42] timabbott opened #3392 "upgrade-zulip-from-git should perhaps suppress update-authors-json errors"
Since update-zulip-from-git (our fast deployment process from a zulip Git hash) can get run several times a day, it may make sense to have it not throw an error in the event that update-authors-json fails.  (Since it's an important production management tool that shouldn't depend on a flaky GitHub API endpoint.)

[code]

I'm not sure what the best way to encode that we're running from upgrade-zuli

[2017-01-19 22:54] #3076 closed

[2017-01-19 22:56] #3230 closed

[2017-01-19 23:01] timabbott opened #3393 "Clean up "new members" stream concept for where you land after tutorial"
Currently, right after the tutorial, we land you in a narrow to the default `announce` stream.  This is a holdover from the fact that we renamed `announce` to `zulip` at some point; the latter name made more sense for this application.

In https://github.com/zulip/zulip/pull/3377, we added support for a "new members" stream, controlling which stream users land in when they join a Zulip organizatio

[2017-01-20 00:29] #3132 closed

[2017-01-20 00:43] timabbott opened #3394 "Restore docker links once their site is no longer broken"
In ef953af597a7f4345af8ce4fbaed3903211a98f4, we removed some links.

We should revert that once docker fixes their website (and maybe think about a better approach for handling sites starting to 404 content).

[2017-01-20 01:40] timabbott opened #3395 "Document peer review stream on chat.zulip.org"
We now have a new "peer review" stream for requesting a review from available developers; we should document it!

Potentially a good part 1 of this entails making a dedicated page on chat.zulip.org that we can link to everywhere to make it easy to document things like this in one place (and moving all the links to chat.zulip.org to point there).  I think there are a bunch of other community things

[2017-01-20 07:14] umairwaheed commented on #2564
OK, done.

[2017-01-20 10:15] rohithasrk commented on #3136
@rishig : I see that there is only one file currently ending in `_html.txt`. Maybe due to the recent commits in the repo. Should I convert it into a `.txt` file? As I see there is no point in having a `_html` attached in a file name presently.

[2017-01-20 14:25] hackerkid opened #3398 "requirements: Upgrade CommonMark to latest version"
Upgrading CommonMark (requirements/docs.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 14:29] hackerkid opened #3399 "requirements: Upgrade docutils to latest version"
Upgrading docutils (requirements/docs.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 14:30] hackerkid opened #3400 "requirements: Upgrade httpretty to latest version"
Upgrading httppretty (requirements/moto.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 14:32] hackerkid opened #3401 "requirements: Upgrade parsel to latest version"
Upgrading parsel (requirements/scarpy.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 14:34] hackerkid opened #3402 "requirements: Upgrade pathlib2 to latest version"
Upgrading pathlib2 (requirements/ipython.txt.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 14:37] hackerkid opened #3403 "requirements: Upgrade python-social-auth to latest version"
Upgrading python-social-auth (requirements/py2_socialauth.txt, requirements/py3_socialauth.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-01-20 15:47] feorlen opened #3404 "Custom linter for YAML files"
The Swagger integration (PR #3397) added a static/yaml directory for YAML files. It would be nice to have a linter that knows about YAML.

[2017-01-20 18:15] jainkuniya opened #3406 "requirement: Add date(timestamp) filter in v1/messages"
To enhance "Enter Date" feature in Android app add a parameter (timestamp from date 1 to date 2) for the v1/messages path to get messages from a particular date.

https://github.com/zulip/zulip-android/issues/303

[2017-01-20 18:24] timabbott commented on #3404
We can of course add our standard whitespace rules to run against yaml files as we do for JSON; are there other things you'd want to lint for?

[2017-01-20 18:34] hackerkid opened #3407 "requirements: Upgrade python-twitter to latest version"

[2017-01-20 19:01] #3394 closed

[2017-01-20 19:06] timabbott commented on #3383
Hmm, but what does a "unique name" mean?  Unique first part of name before whitespace?  Maybe OK as long as we're not being used in a context where everyone's name has a title in front (probably a fairly safe assumption?).

I think we should do a quick investigation into what's easy to do from a tooling perspective, but I'd say the common case where you really want this is where you have 12 people

[2017-01-20 19:56] dehnert opened #3409 "Convert replies between stream and private messages"
If I start typing a message, it's actually kind of hard (modulo the clipboard) to change my mind about whether I want my message to be a stream message or PM. It's pretty easy to change *which* stream or *which* user it goes to, since there's a textbox, but it'd be handy if there were also a "convert to PM"/"convert to stream message" button, I think. I guess it looks like even for things like att

[2017-01-20 20:00] dehnert commented on #3302
This is a feature I frequently want in zephyr (which is a IM system I'm more familiar with, but substantially identical to zulip in model). When I'm replying to a message that's an hour old, I think it's pretty useful to be able to indicate *which* old message it is easily. ([Zephyr (barnowl) ticket for the same thing](https://barnowl.mit.edu/ticket/223), for those curious.)

[2017-01-20 20:02] dehnert commented on #2852
I've implemented the "don't reply to self" feature in the past as "don't reply to senders with `-bot` in their name", which also avoids reply loops. (This is basically copied from zephyr, which uses opcode auto for this purpose.)

[2017-01-20 20:02] timabbott commented on #3302
I guess one reasonable place to put it in the menus would be to replace the `Reply` option in the Zulip actions menu with "Quote and reply" (or whatever the best thing to call it is; ideas?).  I don't think anyone uses that, since clicking on a message replies and is simpler...

[2017-01-20 20:09] zacps commented on #2852
Yeah that's what I did for my bot as well.

[2017-01-20 20:44] showell commented on #3302
Replacing "reply" with "quote and reply" in the action menu seems reasonable to me.  It seems like a good enough name to try out the feature and see if it gets any traction.

[2017-01-20 21:46] rishig commented on #3058
Hi @meetmangukiya, how is this going? Let me know if you have any questions!

[2017-01-20 23:37] feorlen commented on #3404
If that's an easy minimum, it's a good place to start. I haven't tried any, but I'm sure we are not the first to look at this issue. For example:
https://github.com/adrienverge/yamllint
https://www.npmjs.com/package/yaml-validator
https://www.npmjs.com/package/yaml-lint
etc

Swagger UI validates via a call to a hosted service, but it's not something that can easily be invoked on its own.

[2017-01-21 02:28] rishig commented on #3136
yeah, let's convert it to `missed_message_email.html`. Thanks!

[2017-01-21 03:07] kamalmarhubi opened #3411 "View returns to home after reload due to being offline"
If my computer is offline and goes back online, Zulip reloads. However, instead of returning to the narrow I was looking at before, it shows me the home view. The original narrow shows up in the URL as `oldhash` but this seems not to do anything. I'm reasonably sure this wasn't happening ~6 months ago.

Observed on `recurse.zulipchat.com`. Example URL:

[code]

I wind up at the home view instead o

[2017-01-21 06:29] jajodiaraghav commented on #1602
Should i just remove 'page_params.product_name' or do i have to replace it with "Zulip" or anything else?

[2017-01-21 07:12] jajodiaraghav commented on #3391
@timabbott Is this something that can be addressed by someone new to zulip? If yes, where should i look to fix this?
Thanks

[2017-01-21 07:45] sinwar commented on #3402
@timabbott @hackerkid I think pathlib2 is already at its latest version == 2.2.1

[2017-01-21 07:56] jajodiaraghav commented on #3384
@timabbott It would be helpful if you could tell me in which file should i look into.

[2017-01-21 08:07] hackerkid commented on #3402
@sinwar Yeah! I accidentally included it in the list. Thanks. :)

[2017-01-21 08:07] #3402 closed

[2017-01-21 08:09] jajodiaraghav commented on #3372
Working on this :)

[2017-01-21 09:15] sinwar commented on #3402
we can use https://requires.io/ for this purpose

[2017-01-21 09:46] sinwar commented on #3403
I'm working on this

[2017-01-21 12:29] hackerkid commented on #3403
Cool. You should take a look at this link then. https://github.com/omab/python-social-auth/blob/master/MIGRATING_TO_SOCIAL.md

[2017-01-21 14:31] HarshitOnGitHub opened #3412 "bots: Pressing the Cancel button should not change the bot name."
Even if we press the Cancel button after changing the bot name, its name gets changed.
Steps to reproduce:

1. Login as cordellia.
2. Go to settings page.
![image](https://cloud.githubusercontent.com/assets/16687990/22175073/d10fce56-e013-11e6-96a8-e87d5e6df4ca.png)

3. Press the edit bot button for an existing bot(or create a new bot if you don't already have one).
![image](https://cloud.githubus

[2017-01-21 15:12] HarshitOnGitHub opened #3413 "bots: Reactivating a bot should relist it in "Your Bots" section in settings page."
If a disabled bot is reactivated, it doesn't get re-listed in the "Your Bots" section in settings page until the page is refreshed.
Steps to reproduce:

1. Login as Iago.
2. Create a test bot(if you don't have one).
3. Go to administration page.
![image](https://cloud.githubusercontent.com/assets/16687990/22175254/771b11fe-e017-11e6-864d-8de67609845b.png)

4. Deactivate your test bot, the edit bot

[2017-01-21 16:01] showell commented on #3386
In #3408 a couple things are happening:

- page_params.email -> people.my_current_email()
- mentions will use data-user-id going forward (but backward compatible to old markdown)
- user_events.update_person() has been extracted for live updates to full_name, is_admin, avatar_url

[2017-01-21 17:03] jajodiaraghav commented on #3369
Working on it

[2017-01-21 17:49] jajodiaraghav commented on #1435
@chamathabeysinghe Are you still working on this or can i claim it?

[2017-01-21 17:51] chamathabeysinghe commented on #1435
@jajodiaraghav Hi I am still working. Trying to figure out things.

[2017-01-21 18:16] sinwar commented on #3401
working on this

[2017-01-21 18:59] jajodiaraghav commented on #3412
Working on this

[2017-01-21 20:10] HarshitOnGitHub commented on #2227
What if we check whether the user exists or not in the `authenticate()` itself and if doesn't exist then create one?

[2017-01-21 22:15] thesharpshooter commented on #3400
Hey There!
I would like to work on this issue.I am new here, so can you guide me with it?
Thanks

[2017-01-22 00:44] timabbott commented on #3384
Likely static/js/composebox_typeahead.js

[2017-01-22 00:47] timabbott commented on #3391
Possibly; it's at least reproducible.  You should read the developer tutorials to get a feel for how this sort of real-time sync thing should work.

My guess is that the problem is that we're sending this event too broadly; i.e. it's sending this update to bot_data to non-admin users who don't have `bot_data` in their initial page_params data in the first place.

[2017-01-22 00:47] timabbott commented on #1602
Yeah, you should replace it with Zulip.

[2017-01-22 00:49] timabbott commented on #3411
Hrm, definitely sounds like a regression.  @brockwhittaker I'm guessing this was introduced by your recent work on hashchange.js; can you investigate?

[2017-01-22 01:10] rishig commented on #2227
The issue is: when creating the user, which realm should they be in?

[2017-01-22 03:23] timabbott commented on #2227
The LDAP backend doesn't really support multiple realms right now, so I'm not sure it makes that much sense in the subdomains case anyway.

[2017-01-22 03:24] timabbott commented on #2227
(We do want to change that, but it's a larger project: https://github.com/zulip/zulip/issues/715)

[2017-01-22 03:32] #3403 closed

[2017-01-22 05:38] #3215 closed

[2017-01-22 06:26] timabbott commented on #3258
I think I've figured this out; testing a fix now.

[2017-01-22 06:28] #3258 closed

[2017-01-22 06:28] timabbott commented on #3258
Yep, that worked.  Thanks @akashnimare for the bug report!

[2017-01-22 06:36] timabbott commented on #3302
Sounds good, relabeling this as "help wanted".

[2017-01-22 06:39] timabbott commented on #2852
Hmm, can you explain the use case for `subscribed_streams` a bit more, @zacps?  I don't understand it.

[2017-01-22 06:49] #3412 closed

[2017-01-22 06:50] timabbott commented on #3412
Fix merged, thanks for finding this @HarshitOnGitHub!!

[2017-01-22 07:29] zacps commented on #2852
If you have a bot that writes messages to a specific stream like the followup bot it could check to see if it was subscribed to them and log/exit if it wasn't. I'm not sure it's that useful, it was just something I thought of to include with the bot's details.

Closing since there's probably limited value and I'm to busy to do this myself.

[2017-01-22 07:29] #2852 closed

[2017-01-22 07:52] rafidaslam commented on #3399
I could work on this

[2017-01-22 09:13] hackerkid commented on #3400
@thesharpshooter

* You can run `pip list --outdated` to get a list of all outdated packages. The command will also show the current version which Zulip is using as well the latest version of the package.
* Now update the version of the package to the latest release in the file `requirements/moto.tx`.
* To upgrade the package do provision ->`./tools/provision.py`
*  If the provision completes succ

[2017-01-22 09:17] jajodiaraghav commented on #3413
Working on this

[2017-01-22 09:23] hackerkid commented on #3399
@rafidaslam The error you get after upgrading to latest version of commonmark is this.

[code]

I think for solving this you may have to make some changes to codebase of `recommonmark`. Upgrading to the latest release of `docutils` breaks the compatibility with `recommonmark` https://github.com/rtfd/recommonmark/issues/24. Even their official solution to this problem is to use a version <= `0.5.4`

[2017-01-22 09:52] sinwar commented on #3401
@hackerkid I added in requirements/scarpy.txt directly and after provision all the tests are passing. Even parsel is not imported anywhere. Should I go for PR?

[2017-01-22 10:03] hackerkid commented on #3401
Yeah. Go for PR.  I got the error when Travis ran them. Let's see if we get any error there.

[2017-01-22 11:32] thesharpshooter commented on #3400
Hey! I am using OS and when i tried running `./tools/provision.py` it says so such file or directory as `proc/meminfo`

[2017-01-22 11:49] hackerkid commented on #3400
Are you using vagrant?

[2017-01-22 11:51] thesharpshooter commented on #3400
yes

[2017-01-22 13:23] isht3 commented on #3363
I like to work with testing infrastructure, so Ill give this a go. :)

[2017-01-22 13:40] HarshitOnGitHub commented on #2227
@rishig My idea was to do something like this: 1fe3ee029eab4e1778c9ae77b39dd4d163b92ac0. Does that make sense?

[2017-01-22 14:06] derAnfaenger opened #3427 "Restructure bots in contrib_bots"
In order to make the structure of  bots in `contrib_bots` consistent, we would like them to follow this format:

All bots are stored in the dir `contrib_bots/bots`, which contains:
* a directory `<bot>` for each bot, containing:
 * a file `<bot>.py`
 * a file `tests.py`
 * a file `readme.md`
 * a file `<bot>.config` (used for configurations that apply to *every* user. User-specific config files sh

[2017-01-22 14:49] HarshitOnGitHub commented on #1183
@timabbott I am taking up this one.

[2017-01-22 15:35] rafidaslam commented on #3399
@hackerkid Thanks for the information, but I think upgrading to the latest release of `docutils` doesn't break compatibility with `recommonmark`, am I right ?

https://travis-ci.org/rafidaslam/zulip/builds/194222264

and like you said the one of `recommonmark v0.4.0` dependencies is `CommonMark v <= 0.5.4`, so I think we can't upgrade `CommonMark` to it latest version (`0.7.3`) for now.

[2017-01-22 16:29] avisrivastava254084 commented on #3316
Hi!
I have made the changes, please have a look at my PR #3348

[2017-01-22 16:33] avisrivastava254084 commented on #3409
@dehnert I want to add this feature, I want to take up this issue.
Any roadmap?

[2017-01-22 16:40] thesharpshooter commented on #3183
I did this but am still getting this error

[2017-01-22 16:47] hackerkid commented on #3399
@rafidaslam Yup. Sorry for that. I should have commented this in the `CommonMark` upgrade issue :smile:. Ignore the comment.

[2017-01-22 16:48] hackerkid commented on #3398
The error you get after upgrading to latest version of commonmark is this.
[code]
https://travis-ci.org/hackerkid/zulip/jobs/194042274

I think for solving this you may have to make some changes to codebase of recommonmark. Upgrading to the latest release of CommonMark breaks the compatibility with recommonmark rtfd/recommonmark#24. Even their official solution to this problem is to use a version

[2017-01-22 19:04] rishig commented on #2227
I don't know our auth system too well, but it seems like get_or_create_user would be called before the first call to authenticate?
It might make sense to close this issue for now, since either we'll do Issue 715, in which case this code will likely be replaced, or we won't, in which case there's nothing broken. @timabbott thoughts?

[2017-01-22 19:22] HarshitOnGitHub commented on #2227
@rishig I have checked the `django_auth_ldap` documentation and source code. `get_or_create_user` is called after the user is successfully authenticated via the LDAP server. It is basically being used to get a django user corresponding to a ldap user or create a new django user if it doesn't exist already(automatic population).

[2017-01-22 23:26] #3401 closed

[2017-01-22 23:37] rishig commented on #2227
ah, cool! lgtm then, -> @timabbott

[2017-01-22 23:46] timabbott commented on #3409
@avisrivastava254084 I would start with working on design ideas for how we would display such a compose switcher without creating too much clutter in the compose area.  E.g. is there a good icon we could use that would clearly communicate what the switcher button does?

[2017-01-23 00:59] timabbott commented on #3398
Since this is an upstream problem not getting much attention, perhaps to close out the Zulip issue, we should just add a comment in our requirements.txt explaining the compatibility issue that requires us to run an old version.

[2017-01-23 01:17] thesharpshooter commented on #3400
Hey just did what you said and ran the test and it passed all of them except the front end tests
`FAIL Find "View Source" within the selector ".popover_edit_message"`
`FAIL "#admin-realm-message-editing-status" never appeared in 5000ms`

[2017-01-23 01:37] timabbott commented on #3404
Let's start with just the whitespace piece, and we can add more once we have a problem (there is a cost to every dependency, so it's probably best not to add more unless).  Want to submit a PR?

Just read the code around mentioning e.g. `txt_rules` in tools/lint-all to see how to do this.

[2017-01-23 02:23] timabbott commented on #2227
Yeah, that looks good.  @HarshitOnGitHub can you submit a PR with that change, and ideally also a test to exercise the new code path (I guess the REALMS_HAVE_SUBDOMAINS case)? `zerver/tests/test_auth_backends.py` has a bunch of tests for LDAP that you can borrow code from.

[2017-01-23 05:41] timabbott commented on #2072
In the process of moving this to zulip.org/dist ; it's still uploading :)

[2017-01-23 11:19] rafidaslam commented on #3399
Oh, okay :smile:

[2017-01-23 15:21] feorlen commented on #3404
Sure, I'll have a look at that and add coverage for yaml.

[2017-01-23 16:10] brainwane opened #3432 "Messages I sent appear in my mentions"
Just now, I replied to someone else's message, and the message I sent is being treated as though it @-mentions me.

https://chat.zulip.org/#narrow/near/135181/stream/react.20native.20app/topic/android

It appears in https://chat.zulip.org/#narrow/is/mentioned and the background color of the message is pink.

The text of the message was: `@Chathula Sampath I believe so -- check out the README and a

[2017-01-23 20:33] rishig opened #3436 "admin settings: Make restricted to domains checkbox unchecked and readonly if there are no domains."
Having `restricted_to_domain = True` when there are no RealmAliases means the user is likely just confused.

Relevant files are `static/templates/settings/organization-settings-admin.handlebars` and `static/js/admin.js`. Probably I would do this in `populate_realm_aliases` in `admin.js`.

@HarshitOnGitHub if you're interested!

[2017-01-23 20:36] HarshitOnGitHub commented on #3436
@rishig Will submit a PR soon!! :)

[2017-01-23 22:57] rishig opened #3437 "realm alias: Add user's domain on realm creation if not a gmail/etc address."
When REALMS_HAVE_SUBDOMAINS, add a RealmAlias for the domain of the person signing up for the realm, if the domain is not a free email address (e.g. gmail, etc).

* https://github.com/willwhite/freemail/blob/master/data/free.txt has a good list of ~4000 free email provider domains.

* We will need to put the https://github.com/willwhite/freemail/blob/master/LICENSE somewhere (it's basically
[code]

[2017-01-23 23:09] HarshitOnGitHub commented on #2838
@timabbott This has been already fixed in 601bad554e4c80106dea00acce673376df0c13c7. So, I think it should be closed.

[2017-01-23 23:11] HarshitOnGitHub commented on #3437
Sure!! Will start working on this as soon as I finish other ones.

[2017-01-23 23:16] timabbott commented on #3432
Yeah, I think we have a new regression, where messages you sent are displayed as mentioning yourself.

[2017-01-23 23:21] Jeffthebest1 commented on #3395
I'll claim this.

[2017-01-23 23:24] #3399 closed

[2017-01-23 23:24] Jeffthebest1 commented on #3395
@timabbott I'm slightly confused about the second half of this issue. Are you asking for a page like /help/ which is hosted on chat.zulip.org and has a list of different documented streams?

[2017-01-23 23:31] timabbott commented on #3395
No, I'm thinking of something in docs/ (served at zulip.readthedocs.io) explaining this aspect of the Zulip development community.

[2017-01-23 23:55] Jeffthebest1 commented on #3395
Oh, Ok.

[2017-01-24 04:53] #3404 closed

[2017-01-24 07:00] #3392 closed

[2017-01-24 15:21] showell opened #3443 "Fix error handling for stream links that aren't available to you."
We had somebody include this URL in a message:

 https://chat.zulip.org/#narrow/stream/GCI.20mentors

Sampriti, who was not subscribed to that private stream, clicked on it and got confusing messaging telling them to subscribe, which is just gonna lead to frustration, since you can't subscribe yourself to a private stream; you need to be invited.  Also, we get JS errors in the console when you cli

[2017-01-24 18:30] sinwar commented on #3443
@showell woking on this

[2017-01-24 20:10] timabbott opened #3447 "mypy: Add --strict-optional argument for stricter type-checking"
The `--strict-optional` option in mypy makes mypy check correctly for whether things can be None (i.e. are `Optional`).  Ideally, we'd use it in Zulip, since it can catch bugs.  To do this, first get pretty familiar with the `mypy` type checker and what `Optional` does, and then edit `tools/run-mypy` to add the argument to our default arguments.

Right now, we get about 600 errors if one were to j

[2017-01-24 20:12] timabbott opened #3448 "Upgrade mypy to version 0.470 (and used package renamed from mypy-lang)"
This is a reasonably advanced task requiring reasonably good experience with python and mypy.

Apparently, mypy finally got the name `mypy` on pypi and thus we need to replace mypy-lang==0.4.6 with mypy==0.470 in our requirements/mypy.txt.

We'll also need to fix whatever new errors show up with the updated version.

Might be a good prerequisite to #3447 in case upstream has fixed relevant bugs in

[2017-01-24 21:18] timabbott commented on #2838
Yep, looked fixed, closing, thanks @HarshitOnGitHub!

[2017-01-24 21:18] #2838 closed

[2017-01-24 21:24] timabbott commented on #3370
I think this is an integration that probably makes sense to be implemented by someone who will actually use it.

[2017-01-24 22:22] #3398 closed

[2017-01-25 21:13] rjusher opened #3457 "Suspicious line in install script"
The following line
[code]
in the file
[code]

doesn't make much sense, and I have the impression it breaks the installation process, but I haven't been able to do a thorough test.

Is the symlink broken intentionally?
Thanks.

[2017-01-25 21:18] rjusher commented on #3457
Nevermind.
I already discovered the functionallity and it isn't the reason the installation process broke when doing a install from a cloned repo. Will continue looking for the reason.

[2017-01-25 21:18] #3457 closed

[2017-01-25 21:33] dputtick opened #3458 "Sort streams in "manage streams""
Hi all-

Feature request: it can be difficult to know which streams to subscribe to. One thing that might help would be providing more controls over how the list of streams is displayed in "manage streams." Possible places to start are letting the user sort by number of subscribers or by number of messages sent in the past 30 days. All credit to @lkuper for the original idea on RC Zulip. Thanks fo

[2017-01-25 22:40] timabbott commented on #1978
Just elapsed time and number of tests passed/failed is I think all we need.

[2017-01-25 22:43] timabbott commented on #3458
This is definitely something I'd love to see happen.  Obviously for sorting by subscribers someone just needs to do the UI work for it; for recent messages sent, we recently finished the analytics backend work that makes it easy to expose that data without any performance impact.

Thoughts on what the right structure is for the sorting UI?

[2017-01-25 22:45] timabbott commented on #3457
I've definitely done installations from cloned repos without issue; you just need to clone it at the path /root/zulip to start.

[2017-01-25 23:25] #2227 closed

[2017-01-26 00:23] rishig commented on #3301
fwiw, this could be a bug on google's side -- if I go to my (android) phone and choose the small_blue_diamond emoji in hangouts (you can't search for that, but searching for `diamond` gets it), it shows up as blue on my phone, and pink in the browser (gmail chat).

A related hypothesis is that updating our emoji set will fix this, e.g. gmail is using an older version of the noto emoji set than han

[2017-01-26 02:10] rishig opened #3460 "emoji: robot_face (🤖) unicode code point not working"
To reproduce, copy and paste 🤖 into a zulip message. (For comparison, 😀 should "work").
The unicode code point is `1f916`. It does appear in `unicode_emoji_names` in `static/js/emoji.js`, and `static/generated/emoji/images/emoji/unicode/1f916.png` exists and is the right thing. This emoji also goes by `:robot_face:`.

The only pattern I've noticed is that according to http://unicode.org/emoji/char

[2017-01-26 06:48] timabbott opened #3465 "Add downwards scrolling in narrows (relevant in rare cases)"
@neerajwahi reported an interesting and subtle issue in how Zulip handles narrowing.  It's hard to catch in actual usage (just because the sorts of narrowing situations where it occurs are unusual), but the easiest way to reproduce this is to narrow to @-mentions, scroll up a lot, and then click on the **stream** (not the topic) of a message in a high-traffic stream, and then scroll down.  After a

[2017-01-26 07:10] timabbott commented on #3372
Fixed via fc965eb5f6ff00207eba166bf2e5ea4aaee97193.

[2017-01-26 07:10] #3372 closed

[2017-01-26 07:14] rishig commented on #2991
Working on this now .. turned out to be a lot more than a few dozen. A random sample of 10 conflicting codepoints:
[code]

[2017-01-26 18:54] showell opened #3468 "Create more consistent checks for venv"
We have code in `lint-all` that fairly reliably warns you that you're not in a venv.  We should modify other tools to do similar checks, particularly `run-dev.py`.  There may be a few other files that have the check, and we should consolidate the logic into something like `tools/lib/sanity_check.py`, and then the tools can find that import with `__file__`, os.path.join, and sys.path with hopefully

[2017-01-26 21:39] timabbott opened #3470 "Investigate using immutable caching in Zulip"
See https://hacks.mozilla.org/2017/01/using-immutable-caching-to-speed-up-the-web/ for an explanation of this feature and its benefits.

Probably the highest-leverage place to use this would be with our static assets, especially the emoji stuff...

[2017-01-26 21:42] rishig opened #3471 "analytics: Add functionality to collect summary stats from installations."
We currently do not have any stats about Zulip's distribution, like how many installations there are, how many total users we have, etc. It would be great to have an opt-in system by which servers can decide to report summary data (number of realms, number of users in each realm, number of messages, etc) to zulip.org or a similar site.

This a fairly large project; with both significant technical

[2017-01-26 21:42] HarshitOnGitHub opened #3472 "Compose Message: Pressing escape should close the markdown help dialog but not the compose message box."
Steps to reproduce:
1. Login as Cordelia.
![image](https://cloud.githubusercontent.com/assets/16687990/22351440/e8f2c996-e43d-11e6-9e54-3467d0036f32.png)

2. Click on 'New Stream Message' or 'New Private Message'.
![image](https://cloud.githubusercontent.com/assets/16687990/22351464/04a87f28-e43e-11e6-94f4-2fc89473617a.png)

3. Click on **A** button to get the markdown help dialog.
![image](https:

[2017-01-26 22:56] feorlen opened #3474 "Integrate Swagger UI for REST docs"
Swagger UI is a front end for REST API documentation. It generates an API reference with live examples using a specification file following the Swagger/OpenAPI format. (A longer description can be found at the linked PR.)

There is already a PR, https://github.com/zulip/zulip/pull/3397, this issue is so it is easier to find for folks looking for this in the future, and also to discuss next steps a

[2017-01-26 23:52] feorlen opened #3477 "Splunk webhook integration"
As part of writing a webhook tutorial (see https://github.com/zulip/zulip/issues/3478), I am building a webhook integration to create a message for an incoming Splunk search alert. It contains information about the search that triggered it, including the first search result returned, as the JSON body of a POST. Auth is done by API key.

Some data that could be included in a message:
* Name of the

[2017-01-26 23:53] feorlen opened #3478 "Advanced webhook integration tutorial"
I am working on a new document that continues the webhook discussion from the integration guide (http://zulip.readthedocs.io/en/latest/integration-guide.html) and discusses in more detail what an integration may need to address.

It focuses on building a webhook integration for a service that sends data as JSON in a POST body. (Splunk, see https://github.com/zulip/zulip/issues/3477.)There is addit

[2017-01-27 09:13] khantaalaman commented on #3472
Following GIFs depict the original behavior and improvised behavior.

Original Behavior:
![optimised](https://cloud.githubusercontent.com/assets/18065231/22365676/da072fec-e49e-11e6-9b21-d5c0797ab5f9.gif)

Improvised Behavior:
![optimised-1](https://cloud.githubusercontent.com/assets/18065231/22365685/f1e1b588-e49e-11e6-8063-ec4490fbab63.gif)

Please let me know about further improvements on this,

[2017-01-27 12:40] khantaalaman commented on #3458
Hi, I would like to work on this.
@timabbott Please give me some lead by providing me possible files to be looked into for this stream-filter feature.
Regarding UI, I would request you to let me understand and improve the functionalities once and then you can suggest improvements in UI and related implementation.
Also, how to access the analytics data that you mentioned in your comment?

Thanks!

[2017-01-27 16:41] dputtick commented on #3458
For the UI, the simplest thing that could work would be a dropdown like what you see on Amazon or other online shopping websites. It might have three options, say "A-Z", "Number of subscribers", and "Recently Active", and some text to the left of it that says "sort by:". I guess one question is where it might go on the page...

[2017-01-27 17:28] timabbott opened #3486 "Update development install docs to suggest `vagrant provision` if `vagrant up` errors"
Since `vagrant up` only runs provision when first creating a machine, we should make it super clear that you need to provision again if you get errors in the provisioning process.

Probably should go somewhere around here: http://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#step-3-start-the-development-environment, maybe explaining that this should just work, but sometimes f

[2017-01-27 17:45] timabbott commented on #3478
Strategically, do you think the right model is to add a more complex tutorial, or to add documentation to the existing guide on how to handle various unusual cases?  I like the idea of adding sections of those 3 things, but I'm not sure it needs a walkthrough at the level of detail of the HelloWorld one for those.  I sorta think the latter might be a better approach, since the docs are already som

[2017-01-27 20:09] timabbott commented on #3432
Oops, we forgot to close this when it was fixed a few days back.  Thanks for the report @brainwane!

[2017-01-27 20:09] #3432 closed

[2017-01-27 20:43] HarshitOnGitHub opened #3489 "Compose Message: Pressing 'enter' to send message not working in the preview mode."
There are actually two related issues involved:

* While composing a `New Stream Message`, pressing enter button while being in the preview mode doesn't the message.
* While composing a `New Private Message` if you press `enter` button while being in preview mode changes the message box into a `New Stream Message` box instead of sending the message.

(Before starting make sure 'Press Enter to send

[2017-01-27 20:46] HarshitOnGitHub commented on #3472
@khantaalaman Thanks for taking up this one. You may also like to have a look at #3489, once this is fixed!!

[2017-01-27 21:01] hackerkid opened #3490 "requirements: Upgrade boto to boto3"

[2017-01-27 21:02] hackerkid commented on #3400
@thesharpshooter You should make a PR. I think you should not worry about that front-end test. It must be due to some regression.

[2017-01-27 21:31] HarshitOnGitHub opened #3491 "Compose Message: `Restore Draft` not working properly."
Steps to reproduce:
1. Login as Cordelia.
2. Click on `New Stream Message`. Compose a message.
3. Click outside the compose message box.
4. Now compose a new message with some other topic.
5. Enter the preview mode.
6. Now press the Restore draft, the topic of the message will change but not the message content.
7. Now enter the write mode, the content of the message will also change.
8. Now press

[2017-01-27 22:42] #3486 closed

[2017-01-27 22:42] timabbott commented on #2668
I addressed this in a super minimal way here: c42e4000d62638a5df9b8b16ba71c8608d7143ba

[2017-01-27 22:49] timabbott commented on #3489
Nice find!

[2017-01-27 22:56] timabbott commented on #3491
Yeah, I think I agree we should just hide it in preview mode.

[2017-01-27 22:58] HarshitOnGitHub opened #3493 "(claimed) subscriptions: Change the #subscriptions page's remaining "Admin setting" to be a "change" link opening a confirmation modal."
Change the #subscriptions page's remaining "Admin setting" with a red button, namely changing a stream between public and private, to instead be a "change" link opening a confirmation modal, similar to e.g. the user deactivate UI.

[2017-01-27 22:58] timabbott commented on #3295
@anirudhjain75 is this issue still present?  I think we may now close popovers on resize.

[2017-01-27 23:05] #3284 closed

[2017-01-27 23:15] timabbott commented on #2849
@zacps thoughts?

[2017-01-27 23:16] timabbott commented on #2744
@maxlinux2000 did you end up working on this this month?

[2017-01-27 23:19] timabbott commented on #2377
@rwbarton did you ever figure out what was happening here?

[2017-01-27 23:21] timabbott commented on #43
Closing as wontfix.

[2017-01-27 23:21] #43 closed

[2017-01-27 23:23] #29 closed

[2017-01-27 23:27] timabbott opened #3495 "tools: Write a tool to scan GitHub for issues that don't have any `area:` labels."
We try to make sure every GitHub issue for Zulip is tagged with an area.  It would be great to have a tool to check whether that's the case (or we're missing some), since with 500 issues it's easy for something to slip between the cracks.

[2017-01-28 00:03] timabbott opened #3496 "search: Allow using quotes to handles spaces in operands"
From /help/searching-for-message.md:
"It is important to note that spaces in `operand` must be replaced with +".  It'd be nice to support quoting as well, since that will feel more natural to most users.

This is probably most relevant for the stream and topic operands, since most of the others will never have spaces in them anyway.

When fixing this, we should be sure to extend `frontend_tests/no

[2017-01-28 00:07] timabbott commented on #3458
One idea is a caret menu to the right of "filter streams" that pops out an additional row of search/sorting controls if we want to do something fancier.

[2017-01-28 00:08] timabbott commented on #3373
Fixed via de0329b4f94b49c5cfd7a154bc023078575b9245

[2017-01-28 00:08] #3373 closed

[2017-01-28 00:13] timabbott commented on #3025
This was fixed in 1dd8fb796675b94b9c6751ef5dfa74e95b50ed4a.

[2017-01-28 00:13] #3025 closed

[2017-01-28 00:14] timabbott commented on #3025
Thanks for the report @lonerz!

[2017-01-28 00:36] timabbott commented on #3384
Resolved via https://github.com/zulip/zulip/commit/f14e2de9854d9dbdfb853fa8bbcae1dcbbb25b27.

[2017-01-28 00:36] #3384 closed

[2017-01-28 00:57] brainwane commented on #3478
@timabbott and others interested: @feorlen goes into some reasoning on this in https://chat.zulip.org/#narrow/stream/documentation/topic/webhook.20docs

[2017-01-28 01:06] zacps commented on #2849
I think it's worth considering how large bots should be. It might make sense to eventually have one bot for each api (Github, Travis, etc) which encompasses the entire api rather than the smaller one maintainer bots we have now.
In moving toward that it might make sense to add a common/share directory to contrib_bots to have all of the basic interactions with APIs defined in one place with a consi

[2017-01-28 01:06] #2849 closed

[2017-01-28 01:38] khantaalaman commented on #3489
@HarshitOnGitHub I will definitely start working on this pretty soon.

Thanks!

[2017-01-28 01:46] feorlen opened #3498 "Split webhook tutorial out of integration doc"
There's a lot more information that could be in the docs about webhooks, but adding it to the existing integration guide would make that document significantly larger. (The webhook tutuorial is half the existing document.)

The webhook walkthrough should be split out into a new webhooks tutorial/guide, with the existing content, and then additional content can be added. The "Files that need to be

[2017-01-28 13:21] tommyip opened #3500 "Use requests instead of unirest for Yoda bot."
Unirest uses a Python 2 only library `poster`. The bot is located in `contrib_bots/bots/yoda_bot`.

[2017-01-28 14:25] sinwar commented on #3490
working on this @hackerkid

[2017-01-28 18:39] hackerkid commented on #3495
@timabbott I am working on this. How should I send the code?

[2017-01-28 18:41] timabbott commented on #3495
Maybe a PR adding a command-line script under `tools/`?

[2017-01-28 18:49] hackerkid commented on #3495
Okay. I was not sure whether I should make a PR to the main repo for this.

[2017-01-28 18:51] timabbott commented on #3495
Yeah, this is an issue one thinks about in any organization.  My philosophy is it's best to have all the tools developers use to get things done in the main repo, since then they're handy for whoever wants to work on them :).

[2017-01-28 18:58] hackerkid commented on #3495
Yeah. Sounds good :)

[2017-01-28 20:27] ksrr commented on #3460
I want to work on this bug.

[2017-01-28 20:29] ksrr commented on #3460
Can you please explain more about the problem ?

[2017-01-28 21:11] #3443 closed

[2017-01-28 23:54] #3472 closed

[2017-01-29 00:11] #3316 closed

[2017-01-29 01:19] timabbott commented on #1509
@showell fixed this issue this week.

[2017-01-29 01:19] #1509 closed

[2017-01-29 02:17] timabbott commented on #2072
Moved.

[2017-01-29 02:17] #2072 closed

[2017-01-29 06:07] synicalsyntax commented on #1470
@timabbott Merged in commit 07d8494, sorry for not including it in the commit message.

[2017-01-29 06:40] timabbott commented on #1470
Cool, I did a refinement to that text in 5f4ddb907955133e5af2e7f007cc88ba523a11fb to cover the new community/corporate organization types; I think that covers this acceptably.  Thanks @synicalsyntax!

[2017-01-29 06:40] #1470 closed

[2017-01-29 06:53] timabbott opened #3506 "Links to anchors in /help/ documentation are masked by portico header"
If you click on any of the links in the /help/glossary page, you'll find that it basically doesn't work, because the actual heading you were taken to ends up below the floating portico header at the top of the screen.

[2017-01-29 07:50] rishig commented on #3460
Great! I unfortunately don't have a great guess as to what is causing it, though it is easy to reproduce (just paste the relevant unicode characters from http://unicode.org/emoji/charts/full-emoji-list.html into a message in zulip).

[2017-01-29 08:02] rishig commented on #3301
Removed the `black_*` emoji (and a few other color inconsistencies) in #3504 as a stopgap solution.

It turns out that in the unicode standard "black" just means "filled-in", and "white" means "not filled-in". So technically a color version of a `black_*` can be any color other than white. My favorite example so far is `:black_heart_suit:`, which all the emoji sets reasonably color red: http://uni

[2017-01-29 08:02] #3301 closed

[2017-01-29 08:04] rishig commented on #2991
Fixed by #3504, closing.

[2017-01-29 08:04] #2991 closed

[2017-01-29 10:24] tommyip opened #3508 "Wikipedia bot crashes when the query contains multiple word delimit by underscore."
The bot is under `contrib_bots/bots`.  Some error handling is needed.

[2017-01-29 15:20] #1369 closed

[2017-01-29 17:27] souravbadami opened #3509 "Typo in installation docs."
There's a missing `wget` command in line 97. Here: `docs/dev-setup-non-vagrant.md`.
`# If on 14.04:`
`https://launchpad.net/~tabbott/+archive/ubuntu/zulip/+files/postgresql-9.3-tsearch-extras_0.1.3_amd64.deb`
`sudo dpkg -i postgresql-9.3-tsearch-extras_0.1.3_amd64.deb`.

[2017-01-29 18:30] synicalsyntax commented on #3506
Also, I've noticed that if you follow a link with the anchor (e.g. `http://localhost:9991/help/zulip-glossary#filter`), each time you refresh the page it scrolls up a bit.

[2017-01-29 19:23] timabbott commented on #3509
Good catch, fixing.

[2017-01-29 19:24] #3509 closed

[2017-01-29 19:33] timabbott commented on #3508
@tommyip I edited your description to have a bit more context for someone not familiar with what this is (just the path to the file).  It's good practice to include that sort of detail since it's generally fast to enter and can save a lot of time for someone picking up the project.

[2017-01-29 22:35] timabbott commented on #2627
I believe this was fixed via #3504.  @rishig can you confirm?

[2017-01-30 01:12] rishig commented on #2627
Confirmed, and closing. Thanks for the bug report!

[2017-01-30 01:12] #2627 closed

[2017-01-30 01:34] timabbott opened #3514 "Get zerver/views/realm_aliases.py to 100% test coverage"
The only uncovered line is this:

[code]

@HarshitOnGitHub this may be a good quick project for you.

[2017-01-30 01:35] timabbott opened #3515 "Get zerver/views/realm_emoji.py to 100% test coverage"
The only unconvered lines are these:

    except ValidationError as e:
        return json_error(e.messages[0])

Which basically means our tests for this feature don't actually call it with an invalid emoji name.

[2017-01-30 11:36] rafidaslam opened #3517 "Clicking on "+" icon (on the right of "STREAMS" text) makes `Search streams` box appear"
When I click on "+" icon (on the right of "STREAMS"), `Search streams` box appears automatically.

**How to reproduce**:
1. Log in to Zulip.
2. Click on "+" icon on the right of `STREAMS` text.
3. Then a modal will appear, and `Search streams` box is appearing also.

If you click on "+" icon for the second time, `Search streams` will disappear again, this behavior is same like when we click on the

[2017-01-30 12:18] rafidaslam commented on #3302
I'll pick up this one

[2017-01-30 18:11] galexrt opened #3519 "No 1.4.3 release tarball"
There is no Zulip version 1.4.3 release tar ball at https://www.zulip.com/dist/releases/.
@timabbott

Will there be a Zulip version 1.4.3 release tar ball?

[2017-01-30 18:15] timabbott commented on #3519
Yep, we've moved the hosting to https://www.zulip.org/dist/releases/.

I guess I should have mentioned that in the email, sorry!

[2017-01-30 18:15] #3519 closed

[2017-01-30 18:20] timabbott commented on #3517
Nice find!  This is probably a missing `e..stopPropagation`  or `e.preventDefault` in that click handler.

[2017-01-30 18:57] HarshitOnGitHub commented on #3515
@timabbott Looks like we already have a test for invalid emoji name:

    # type: () -> None
    self.login("iago@zulip.com")
    data = {"url": "https://example.com/my_emoji"}
    result = self.client_put("/json/realm/emoji/my_em*oji", info=data)
    self.assert_json_error(result, 'Invalid characters in emoji name')

[2017-01-30 19:56] #3514 closed

[2017-01-30 20:01] timabbott commented on #3515
Ahh, I think the code path is actually just unreachable -- `check_valid_emoji_name` a few lines earlier verifies the same thing.  So I think maybe the fix is to just delete that try/except wrapper.

[2017-01-30 20:52] HarshitOnGitHub commented on #3514
I was also thinking of adding a similar test but later I thought I have already added one in the subdomains branch but just checked it was also missing there.

[2017-01-30 21:03] HarshitOnGitHub commented on #3515
Yeah you're right, validation should happen before entering the actions.py function's and they should not throw any exceptions. Fixed!!

[2017-01-30 21:12] timabbott commented on #2862
@tommyip are you still working on this?  It'd be great to close it out.

[2017-01-30 21:14] tommyip commented on #2862
I stopped working on it, though I can find some time for it.

[2017-01-30 22:41] khantaalaman commented on #3517
Seems to be resolved in upcoming PR. Please suggest improvements, if any.

Thanks!

[2017-01-31 00:43] #3515 closed

[2017-01-31 08:46] sharmaeklavya2 commented on #3448
I have started working on this.

[2017-01-31 15:01] khantaalaman commented on #3491
This has been taken care of in upcoming PR.

Thanks!

[2017-01-31 17:04] showell commented on #3237
I am going to close this, since we abandoned the associated PR and suspect the initial user report here may have been a red herring.

[2017-01-31 17:04] #3237 closed

[2017-01-31 17:09] showell commented on #3386
We now have pretty good support for live-updates of names on the main messages pane.  I haven't made any progress on settings/streams/admin, and those are somewhat likely to have live-updating issues, since they don't get much attention, but they are also less visible to ordinary users.

These commits were merged recently for name changes:

373c8a0 Live-update PM list for full-name changes.
f836ae

[2017-01-31 18:02] #3517 closed

[2017-01-31 20:49] rishig opened #3530 "message editing: Add a local echo."
(Edited to have a more complete description here.  https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html is also helpful reading)

We currently don't have message editing hooked up to the local echo process, which can cause message editing to feel sluggish on slow connections.  This feature should be limited to edits where we can do this easily:
* `markdown.contains_backend_only_

[2017-01-31 23:50] rishig opened #3534 "user docs: Write user docs for the *Add a link preview* feature"
Write user guide documentation for the **Add a link preview** feature, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `templates/zerve

[2017-01-31 23:59] rishig opened #3535 "user docs: Write user docs for *What to do if the server returns an error*"
Write user guide documentation for **What to do if the server returns an error**, following Zulip's [guidelines](http://zulip.readthedocs.io/en/latest/user-docs.html) on writing user guide documentation.

- Write an outline for documentation for this feature and post it to the Zulip `#documentation` stream to get feedback from other contributors.
- Add your documentation to a new file to the `temp

[2017-02-01 01:17] showell commented on #3386
More front-end support for email changes are on https://github.com/zulip/zulip/pull/3536.

[2017-02-01 02:54] rishig opened #3539 "emoji: Change rendered emoji image to <codepoint>.png."
Currently, `:smile:` gets rendered to
`<img alt=":smile:" class="emoji" src="/static/generated/emoji/images/emoji/smile.png" title=":smile:">`, and `/static/generated/emoji/images/emoji/smile.png` is a symlink to `/static/generated/emoji/images/emoji/unicode/1f604.png`.

It would be better to instead have `:smile:` render directly to `<img alt=":smile:" class="emoji" src="/static/generated/emoji/i

[2017-02-01 03:36] synicalsyntax opened #3541 "user docs: Fix bullet formatting issues."
As seen in https://chat.zulip.org/help/add-custom-emoji, there are some issues with the user documentation bullet formatting
- Open circle bullets are followed by the green circle number bullets
- Adding an image in-between text in a bullet breaks the second half of the bullet text into a regular paragraph (see step 6)

[2017-02-01 04:42] #3541 closed

[2017-02-01 04:50] kamalmarhubi opened #3542 "Allow removing media previews from links"
The tweets and YouTube cover images aren't always desired. It would be great to allow removing them, or even inhibit posting them in the first place.

[2017-02-01 06:07] sharmaeklavya2 commented on #3448
Last summer I used to ocassionally run mypy's master branch on zulip to see if there are changes to be introduced which could make mypy fail on zulip. Such changes were either bugs or wrong annotations in Zulip or they were bugs in mypy or typeshed. In either case, knowing them was helpful for zulip because we could gradually prepare for upgrading our version of mypy.

So maybe we can automate thi

[2017-02-01 06:27] timabbott commented on #3448
It's not a bad idea; I've usually just been upgrading every month or two when we upgrade the rest of our Python dependencies; often it's pretty fast.

[2017-02-01 06:30] synicalsyntax commented on #3506
@timabbott This didn't get closed for some reason even though the issue number was entered in the commit description...

[2017-02-01 06:32] timabbott commented on #3506
You need to write literally "Fixes #3506", not "Fixes issue #3506" or other things like that :).  Well, there's a few options that work, but GitHub has a list of strings hardcoded that they look for, and anything complicated isn't on that list :).

[2017-02-01 06:32] #3506 closed

[2017-02-01 06:34] #2052 closed

[2017-02-01 08:04] lonerz commented on #3508
@tommyip could you give an example to what breaks the bot?

[2017-02-01 13:29] tommyip commented on #3508
Works:
`multiple word`

Crash:
`multiple_word`

[2017-02-01 16:02] jajodiaraghav commented on #3539
I am little confused here. Do we have to create a dictionary named `emoji_codes_file` within `dump_emojis` or do we have to create a file named `emoji_codes_file` similar to `emoji_map.json`?
Thanks

[2017-02-01 17:10] HarshitOnGitHub commented on #3539
@jajodiaraghav FYI, I am working on this one!!

[2017-02-01 18:15] jajodiaraghav commented on #3539
@HarshitOnGitHub I didn't realize the issue has been assigned to you. Sorry about that. 😄

[2017-02-01 20:34] HarshitOnGitHub commented on #3029
@tommyip If you are not working on this then I am taking up this one. :)

[2017-02-01 21:20] tommyip commented on #3029
@HarshitOnGitHub Sure go ahead, I didn't get too far on this.

[2017-02-02 15:45] kracekumar commented on #168
It's time to start working on the issue!

### My understanding:

- Blocked One to One Chat. Let's say A blocks B. B can send a message, but A cannot see the message. When A types the B's name in the `To` textbox, B name shouldn't show up. Is this assumption right?
- Stream messages: Let's say A blocks B and A and B are part of common stream `S`. When A reads B's message in stream S, show a filler

[2017-02-02 15:48] DataBranner commented on #168
I can't believe this is going forward. The step after making filter bubbles rigid is civil war. This is a terrible mistake.

[2017-02-02 18:10] kracekumar commented on #168
Oh! Looks like I set discussion on fire with my understanding and steps.

[2017-02-02 18:14] DataBranner commented on #168
No, my fault for commenting here. The project has elected to move forward with this. My concerns have been heard, but will not be acted on. If you want to talk, we can do so privately.

[2017-02-02 18:21] isht3 commented on #3363
Sorry for the delay, I was caught up in college work. So basically while running `test-backend --coverage` we want to avoid showing all the files which has full coverage, yes?

[2017-02-02 18:31] showell opened #3557 "performance: Un-denormalize back end message caches."
We fetch several fields related to the "sender" when we call `Message.get_raw_db_rows` and we put them into our caches, so our user caches and messages caches are effectively denormalized, and thus bulkier and harder to invalidate when user info changes.  We can probably slim the message queries/caches and hydrate user fields as needed from the user caches using bulk fetches from memcached.  We ma

[2017-02-02 18:52] kracekumar commented on #168
Definitely I'd like to know your views privately.

On Thu, 2 Feb 2017 at 11:44 PM David Branner <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-02-02 19:43] #3491 closed

[2017-02-02 19:52] timabbott commented on #3542
Can you gather/give more detail on the precise feature you have in mind here @kamalmarhubi?  I think there's several versions that I could imagine (e.g. a user disabling these in what they send or what they receive; whether disabling is global or for a single message, and whether it disables it for just you or for everyone)

[2017-02-02 19:54] timabbott commented on #2492
@showell is this one resolved now?

[2017-02-02 19:58] timabbott commented on #2663
I think to eliminate this issue, basically what we need to do in the Zulip provision script the same thing we do in production, namely creating a rabbitmq-env.conf file that sets the rabbitmq nodename to `zulip@localhost`.

The tricky part is that doing so will break existing development environments; so we probably need to add some additional code to (perhaps conditionally) do the purge + configu

[2017-02-02 20:22] timabbott opened #3559 "stream filtering: Fix filtering breaking with unusual characters in stream names"
This is in the stream filtering UI in the /#subscriptions page.

The bug is that we should be either escaping `o` in this block of code in subs.js:
[code]

Probably we should just not be using a RegExp at all and just testing whether the term appears in the name, since I don't think we need regexps for the user-facing filtering logic here.

Example traceback below:
[code]

[2017-02-02 20:33] avisrivastava254084 commented on #3530
@rishig  I would like to take up this issue. Any roadmap, apart from the explained one?

[2017-02-02 20:40] timabbott commented on #3530
I think maybe the most relevant thing to mention is you can just add a "time.sleep(5)" in the update_message_backend endpoint to make it easy to reproduce lag here.

I think the goal is that (for the 95%+ of message edits where `echo.contains_bugdown()` is false and we're not doing a cascading topic edit) we'd just immediately render the updated content using `echo.js` and insert it in place, and

[2017-02-02 20:53] timabbott commented on #3539
Generally GitHub should be authoritative on who's working on what; I guess the approach we took of mentioning Harshit was a bit ambigious though; @rishig you may want to take a different strategy next time.

(BTW we're working on a GitHub bot that manages labels to make this a bit easier to deal with)

[2017-02-02 20:54] avisrivastava254084 commented on #3128
@rishig can I start on this issue now? There hasn't been any response yet from @amalad
@amalad can you update us?

[2017-02-02 20:57] timabbott commented on #3128
@amalad it looks like you don't have enough time to progress on this quickly; can you post your progress as a WIP pull request that @avisrivastava254084 can help pick up?

[2017-02-02 21:07] lepetitjan commented on #908
Rocket.Chat has a SlackBridge which uses that method. Please just copy paste from their project :)

https://rocket.chat/docs/administrator-guides/import/slack/slackbridge

[2017-02-03 00:57] rishig opened #3564 "Show box for broken/unloaded images."
Currently, if an image doesn't load, there is just an empty white space. Some sort of indication (light grey box?) would be great.
See https://chat.zulip.org/#narrow/stream/general/topic/emoji.20display.20delay for an example.

[2017-02-03 01:24] timabbott commented on #3564
Yeah, this would be great to improve (and probably not too hard).

[2017-02-03 01:58] amalad commented on #3128
@avisrivastava254084  @timabbott , sorry about the delay. I'm creating a pull request now

[2017-02-03 01:59] showell commented on #2492
Yeah, this should be fixed. We now have ZOE@zulip.com (note uppercase) to help us have more exposure to these type of bugs in dev, but they should become less common over time as we move to using user_id.  Closing for now.

[2017-02-03 01:59] #2492 closed

[2017-02-03 04:50] rohithasrk commented on #3564
Will work on this.

[2017-02-03 05:07] #1547 closed

[2017-02-03 07:07] rishig commented on #3539
yeah, definitely my bad; I thought our policy was the "help wanted" means up for grabs (mod claims in comments). Will be more explicit next time!

[2017-02-03 14:15] anirudhjain75 opened #3570 "Add support for marking all messages as read using the mouse"
Hey guys I've been thinking about a `Mark all read` option as we have in email tools to mark the emails read incase we don't want to read them, This feature currently works in the popup we get when we have I guess 500+ messages to read.

Suggestions are welcomed

[2017-02-03 16:53] aakash-cr7 opened #3572 "Choosing the color of stream in #subscriptions behaving weirdly"
If we select a color from the right panel or even write a hex code for color and then click outside of the color  selecting pop up. That color is set for the stream. I think instead of selecting that color it should default to whatever color the stream originally had (if the user clicks anywhere else on the screen it should not set that color until the user clicks on the "choose" button).

[2017-02-03 18:03] #3495 closed

[2017-02-03 18:04] timabbott commented on #3570
Hey @anirudhjain75!  Do you think https://github.com/zulip/zulip/issues/3347 would cover this well?

I think one idea for where to place this feature would be to add a simple caret menu to the right of "home" call "Mark all as read".

[2017-02-03 18:05] timabbott commented on #3572
Hey @aakash-cr7!  We currently actually change the color the very moment you click on it -- there's no save/confirm interface.

Can you explain why you think it would be better to have a confirm/save button here?

[2017-02-03 18:16] timabbott commented on #3572
(If you open the "more colors" part of the popover where the "choose" button is present, it only saves when you click "choose")

[2017-02-03 19:51] timabbott opened #3575 "Extend search autocomplete to support completing group PMs using `pm-with:`"
Currently it's pretty annoying to find a group PM conversation in the search bar; you basically have to hand-enter the email addresses of each person in the conversation you're looking for.  I think we could do two useful things:

* If you put a `,` extending a `pm-with` entry, start autocompleting a next user so you can easily type in several users.
* Potentially, also after you enter a `,`, show

[2017-02-03 22:48] trueskawka opened #3577 "docs: Adjust keyboard shortcuts for macOS users."
Some shortcuts on macOS are different than Windows/Linux ones, specifically:
* `PgUp` -> `Fn + Up Arrow`
* `PgDn` -> `Fn + Down Arrow`
* `End` -> `Fn + Right Arrow`
* `Enter` -> `Return`

Those shortcuts are present both in the `?` hotkeys docs and the [user docs](https://chat.zulip.org/help/keyboard-shortcuts).

A possible feature would be to tweak the docs and add info for macOS users, if the us

[2017-02-03 22:51] HarshitOnGitHub opened #3578 "DevAuthBackend: Limiting the number of users should still render the Shakespearian users."
Currently we limit the number of users to render on the login page to support the performance testing(`MAX_DEV_BACKEND_USERS=100`). But the limiting has been done in such a way that for a realm with more than 100 users, the Shakespearian users are omitted and hence effectively one cannot login as an administrator.
![image](https://cloud.githubusercontent.com/assets/16687990/22611399/4c2ac934-ea90-

[2017-02-03 22:59] timabbott commented on #3578
I think one reasonable hack would be to sort `extrauserN` users to the end, since they're definitely likely to not be of interest.

[2017-02-03 23:03] HarshitOnGitHub commented on #3578
Yeah I have figured out the change to be made,  will create a PR tomorrow. :)

[2017-02-04 01:09] #2968 closed

[2017-02-04 03:42] aakash-cr7 commented on #3572
The problem I feel is that if a user selects a color say "green" (default color is say "yellow") from the "more colors" part of the pop over and if the user clicks somewhere else on the screen (not on the choose button or the color selecting pop over), green color is automatically set.

Though the ideal behavior should be that the user needs to click the choose button to set green color for the st

[2017-02-04 03:45] lfaraone opened #3582 "Search terms that match inline code blocks look weird, break further messages"
When I search for "lfaraone" in the MIT realm, all messages after a message containing \`lfaraone\` will render incorrectly.

Message source (clipped to end, but things before it are not relevant):
[code]

Way it looks in the DOM:
[code]

Way it looks on web:
![image](https://cloud.githubusercontent.com/assets/73410/22615401/0c610ee8-ea8c-11e6-9b56-f015643d6c98.png)

Later messages:
![image](https

[2017-02-04 06:38] avisrivastava254084 opened #3583 "'Catch Up with Zulip' keeps appearing in different tabs even if I give the response once."
When I open chat.zulip.org, the popup will ask me to enter the response for I have missed some messages(the conversations). Now, again after I open another tab, I will get the same popup again.

[2017-02-04 07:01] aero31aero commented on #3542
Perhaps something simple where the poster could remove the link preview for current message before posting, visible to all.
Example: Facebook Link Previews.

[2017-02-04 09:57] anirudhjain75 commented on #3570
Yeah I think that would be better

[2017-02-04 11:52] khantaalaman commented on #3559
This bug is expected to be resolved in upcoming PR.

Thanks!

[2017-02-04 13:30] aakash-cr7 commented on #3496
@timabbott I am taking this. Could you explain more with an example?

[2017-02-04 23:25] sinwar commented on #3468
working on this

[2017-02-05 01:10] robot-dreams commented on #3575
Hello, this is my first interaction with the Zulip community :)

Here are my initial thoughts for a possible approach:
https://github.com/robot-dreams/zulip/commit/5fae83801e07bf074535e1dd9dcce985a3df7ea7

Do you think something like this would be reasonable?  If so, I'm happy to take my change out of [DRAFT] status by cleaning it up (e.g. maybe we shouldn't suggest people that are already in the

[2017-02-05 09:55] kpdp opened #3589 "Facebook integration for zulip"
Facebook Graph API is the primary way to get data back and forth, from and to Facebook's social graph.

Having zulip facebook integration would be nice.

[2017-02-05 16:21] refeed opened #3592 "Clicking on "Restore draft" doesn't resize the compose message box"
When I click on "Restore draft" when there is a long text in it. The compose message box doesn't resize, so I couldn't see at the message clearly.

![resize](https://cloud.githubusercontent.com/assets/20320125/22627643/41c6cd70-ebf9-11e6-8a65-24b4da73d2dc.gif)

We could resize it by triggering `jquery.autosize` when "Restore draft" link get clicked to resize the `#new_message_content`. To trigger

[2017-02-05 17:48] avisrivastava254084 commented on #3589
While going through one documentation, it listed about getting the access token and this was mentioned i it, let's get some supervision on this by @timabbott

[2017-02-05 18:56] utkbansal commented on #3592
Hi, could I work on this for my first contribution?

[2017-02-05 20:37] timabbott commented on #3592
@rachelkelly thanks for the great bug report!  I think I agree that 1-line change to the restore draft code path should fix this, though it might be better to use `compose.autosize_textarea()` instead.

[2017-02-05 20:37] timabbott commented on #3592
@utkbansal feel free to work on this.

[2017-02-05 20:49] #3313 closed

[2017-02-05 20:51] timabbott commented on #3589
@kpdp what would the purpose of a Zulip/Facebook integration be?

[2017-02-05 21:02] #3559 closed

[2017-02-05 21:03] timabbott commented on #3570
OK, I'm on board for someone implementing that plan.

[2017-02-05 21:05] timabbott commented on #3582
I wonder if `araone` is somehow in the postgres full-text search stems list...

[2017-02-05 21:06] timabbott commented on #3582
Oh, actually, you have an interesting unicode character earlier in your message; so probably this is a bug with measuring offset correctly.

[2017-02-05 21:06] avisrivastava254084 commented on #3589
@kpdp
The most useful feature of your idea would be sharing the stories(experiences) of your work and I think that won't be professional. Zulip, being an open source chat application, where people would discuss and have sessions(viz. meetings) won't be such sharing such stuff on Facebook. As for communication, Zulip itself is a chatting application. For authentication, Google and Github are suffic

[2017-02-05 22:26] avisrivastava254084 commented on #3530
So, I have to produce the lag in zerver.views.messages.update_message_backend.

So, we should change the above feature by rendering the updated event using echo.js, right?
After this, `update_message` should be called?

[2017-02-05 23:17] timabbott commented on #3496
Sure, I'd like `stream:"development help"` to work for narrowing to that stream :).

[2017-02-06 02:06] lfaraone commented on #3582
Yep. I was able to reproduce by sending myself this message: `abc … onetwo99three`. It rendered as-below but did not corrupt further messages. So its just exacerbated by being in a code block in this case.

![image](https://cloud.githubusercontent.com/assets/73410/22632400/b8cd85a0-ec10-11e6-94c4-2fe62a10cd4f.png)

[2017-02-06 05:14] kpdp commented on #3589
@timabbott My suggestion here is to have facebook integration only to get notifications, messages kind of things.. what do you think?

[2017-02-06 07:42] rishig commented on #3530
Resolved off-line. Potentially useful snippet copied from the conversation:

The echo pathway is purely frontend. Current process is:
* User edits a message it the message edit view, and clicks "enter"
* If the raw_content of the message is different from what it was originally, a PATCH request is sent to json/messages (see the save function in message_edit.js).
* The backend: returns a success (o

[2017-02-06 11:41] manoramahp commented on #3592
@timabbott I've done the fix. PR : https://github.com/zulip/zulip/pull/3595

[2017-02-06 11:43] utkbansal commented on #3592
I was working on it!

On Mon, Feb 6, 2017 at 5:11 PM, Manorama Perera <notifications@github.com>
wrote:

[2017-02-06 11:45] kpdp commented on #3592
@timabbott
I've done the fix. PR : https://github.com/zulip/zulip/pull/3595

[2017-02-06 13:00] khantaalaman commented on #3592
@kpdp If we have two people working on same issue, no matter who finishes first, the end result will have only one issue resolved. Taking another case, if the issues being worked on by same two people are different, we'll have two issues resolved as the end result, no matter when each of them complete.
As each of us is a contributor and want to contribute the maximum for the overall development of

[2017-02-06 16:12] wizsid11 commented on #3508
Has this issue been solved
When i tried to test it the wikipedia bot doesn't crash when the query contains multiple words separated by underscore

[2017-02-06 17:23] abhijeetkaur commented on #3508
@wizsid11 you are right, multiple words with underscore doesn't make the bot crash. When no results are found, like:
1. mutliple_case
(note the typo above)
2. hitd gfkl sss
In such cases Indexerror occurs, as the query was being accessed before checking its existence.

[2017-02-07 05:50] #3468 closed

[2017-02-07 06:00] #3578 closed

[2017-02-07 06:10] #3500 closed

[2017-02-07 06:33] timabbott commented on #3029
Fixed via #3562.

[2017-02-07 06:33] #3029 closed

[2017-02-07 06:45] #3329 closed

[2017-02-07 06:57] #3364 closed

[2017-02-07 18:07] timabbott commented on #713
@showell do you think `tools/test-api` covers this?

[2017-02-07 19:25] showell commented on #713
This is mostly complete, but we should leave it open for one person to make a pass at it.  There's at least one endpoint not covered--I don't think we handle uploads.

[2017-02-07 19:29] timabbott commented on #713
OK; I think maybe the next step is to do an audit of what is uncovered and open individual issues for those things, and then close this; this issue was originally about having an infrastructure system for doing it, not 100% coverage (which is also a great goal) :).

Old mostly-finished issues like this tend to not be found by folks looking for a way to help.

[2017-02-07 20:24] timabbott opened #3604 "analytics: Add toggle for me vs. everyone on "Messages sent over time" graph"
I think folks would be interested in seeing their own personal message output over time.

This is on the /stats page (primarily static/js/stats/stats.js).  You want to use `./manage.py populate_analytics_db` and then login as the "shylock" that is created by doing so to get some sample data to work with while developing this.

[2017-02-07 21:07] timabbott opened #3605 "Performance leak when muting a large number of topics"
Apparently, we have a bug in our handling of muting a new topic that causes us to actually do work for every topic that's ever been muted, not just for the newly muted topics (!).  See the right half of this profile:
![screen-shot-2017-02-07-at-3 49 43-pm](https://cloud.githubusercontent.com/assets/2746074/22711410/e97afd7e-ed35-11e6-8c1f-04e5ff97af19.png)

I think the problem is in `exports.set_m

[2017-02-07 22:25] #3575 closed

[2017-02-07 22:45] #3592 closed

[2017-02-07 23:34] timabbott commented on #3128
First two pieces were merged via #3565.

[2017-02-07 23:45] timabbott commented on #3577
This is in templates/zerver/keyboard_shotcuts.html + similar files in templates/zerver/help/.

I think we could do a conditional on User-Agent, but might be worth trying a parenthetical and seeing how that looks, to start.

[2017-02-07 23:47] timabbott commented on #2668
I think it's probably still worth extracting a half-page explanation on provisioning that we can link to from elsewhere with a more extensive description, so leaving this open.

[2017-02-07 23:49] timabbott commented on #3583
This is the bankrupcty prompt for when you're more than 500 messages behind?

I think this is sorta a duplicate of #3347, which is that the popup is probably more annoying than it should be.

[2017-02-07 23:49] timabbott commented on #3583
(I'm going to close this as duplicate; correct me if you disagree @avisrivastava254084!)

[2017-02-07 23:49] #3583 closed

[2017-02-07 23:50] timabbott commented on #3572
@aakash-cr7 can you post a short video?  I can't reproduce the problem you're describing.

[2017-02-08 02:16] #3245 closed

[2017-02-08 02:21] timabbott opened #3608 "Eliminate reliance on /root/zulip symlink"
We should modify /root/zulip-puppet-apply to just use the deployment it was run from as the source of puppet config, basically replacing --modulepath=/root/zulip/puppet with something based on __file__. That would eliminate our dependency on /root/zulip being anything at all entirely, solving both this problem and the occasional issues we have with rerunning the installer after it's succeeded.

Fr

[2017-02-08 02:25] #3498 closed

[2017-02-08 02:39] #3108 closed

[2017-02-08 08:44] kracekumar opened #3613 "Link to help aggregation page is missing in sub page"
When a user visits a specific page like https://recurse.zulipchat.com/help/delete-a-stream from help page, the link back to the help aggregation page is missing. The current way to go back is hit browser back button or remove slug after `help` in the URL.

P.S: I couldn't find a reliable way to check the similar issue is open since the word `help` clashes with `help` prefixed label.

[2017-02-08 09:00] timabbott commented on #3613
There's a link at the bottom you can use, but I agree we need something more prominent for this.

[2017-02-08 09:02] kracekumar commented on #3613
Ah! You're right, I missed to spot it.

[2017-02-08 18:37] showell commented on #3386
Ok, I'm getting pretty close to having the "main" views (i.e. not admin/settings/etc.) be intelligent about email changes.  I've been working on top of Umair's branch to find places where email changes would break the front end, and then I fix them, and I then I've been rebasing back to master to submit changes, and Tim has been merging them pretty quickly now that release 1.5 is out.

[2017-02-08 19:16] #3605 closed

[2017-02-08 21:35] trueskawka opened #3616 "user docs: Write user docs for emoji reactions."
We could add a doc on emoji reactions, specifically:
- how to add a reaction
- using the search box
- limits on the number of reactions per message
- un-reacting

[2017-02-08 21:52] timabbott commented on #3616
Good point!

(There aren't any limits to number of reactions on a message, BTW...)

[2017-02-08 21:52] divyanshu1302 opened #3618 "messages: Add read receipt feature"
We can have read receipt feature for messages, so that when a user sends message to other user he will be notified after other user seen the message, and in order to avoid dependency we can have privacy settings , where users can inactive this feature,if they don't want to make it active.

[2017-02-08 21:59] trueskawka commented on #3616
Are we not limiting it to 6 emoji per message? I do vaguely remember reading that somewhere :)

[2017-02-08 22:26] timabbott commented on #3616
Nope.  We are limiting it to like 1000 (however many emoji there are).

[2017-02-08 23:13] timabbott opened #3620 "Optimize tools/test-management to be done in python as a normal test suite"
Currently we spend 1 minute in every Travis CI `backend` suite running `tools/test-management`, which just runs all the management commands we have with the `--help` argument, to ensure that they actually start (this prevent us from having management commands with broken syntax, at least!).

The reason it's so slow is that we're doing it in shell, and thus we're paying the ~1s it takes to import a

[2017-02-09 00:56] rishig opened #3621 "stats.js: Turn messages sent by client into a horizontal bar chart."
A typical org will have 5-15 clients that will be interesting, so ideally the bar chart would look good in those ranges. It would also be nice to cut it off at 12 clients (with the rest going in "Other"), and have a "show all" button that toggles showing all the clients vs "top 12 + other".

Some notes:
* Probably no changes need to be made outside of `static/js/stats/stats.js`. If you do need to

[2017-02-09 04:55] kpdp commented on #3621
I'd like to work on this task.

[2017-02-09 05:29] rishig commented on #3621
Thanks! Though let's hold off on this for a bit, actually; we're about to merge something that likely resolves this. Closing this for now; will reopen if things change.

Sorry about that, and we should be posting other stats-page related tasks in the upcoming days.

[2017-02-09 05:29] #3621 closed

[2017-02-09 05:44] kpdp commented on #3621
@rishig Thanks for the info!

[2017-02-09 06:15] #1868 closed

[2017-02-09 10:48] anirudhjain75 commented on #3589
I don't know how much use will it be, Can I know what you want that integration to do ?

[2017-02-09 16:34] adewinter opened #3623 "Connect to MIT Zephyr with Zulip?"
Hi,

Apologies if this is the wrong venue for general questions!  Please let me know if I should take it elsewhere!

Can Zulip be used as a Zephyr chat client? They seem to share roots but from the documentation I've read so far not a lot of mention is made of Zephyr...

Somewhat relatedly (I'm guessing @timabbott might know the answer), can alums connect to the MIT Zephyr system without having an

[2017-02-09 16:42] adewinter commented on #164
@timabbott Will the major visual redesign take this issue into account or should we make some UX suggestions here with an eye towards implementation?

[2017-02-09 18:02] tommyip commented on #3620
Working on this! Spending 1 minute on this just to run `--help` does seem unacceptable.

[2017-02-09 19:24] timabbott commented on #164
Our current visual redesign plans don't include this, mostly because we're not sure where to put it, so suggestions welcome!

[2017-02-09 19:38] timabbott commented on #3623
Zulip can mirror content with Zephyr (MIT folks can sign up at https://zephyr.zulipchat.com/; you need at least an MIT Kerberos ID; not sure when those expire these days but it used to be never even if your account went away).  The mirroring system is a bit of work to setup at scale if you want to use for a place that is not MIT, but doable.

(chat.zulip.org is another good place for this sort of

[2017-02-09 20:20] #3508 closed

[2017-02-09 20:42] meneer opened #3624 "Using Hiawatha webserver instead of nginx"
Nginx is picky about the platform it runs on. There are IPv4/6 issues. Is it possible to run Zulip on top of Hiawatha webserver?

Hiawatha is a lightweight, high performance open source webserver, built from the perspective of security.
It can resist all kinds of attacks (even SQLi and XSS). Comes with an easy to use letsencrypt script.
It is easily configurable, high performant. Supports virtual

[2017-02-09 21:51] timabbott commented on #3624
Cool project!  We don't have a lot of complexity in our nginx configuration, but I don't think it's worth our investing in duplicating that configuration (and then supporting/maintaining said duplication) given that Hiawatha looks pretty experimental.

[2017-02-09 21:51] #3624 closed

[2017-02-09 21:56] timabbott commented on #3624
If someone wants to port the configuration, feel free to do so and submit a PR and we can look at it; the config is all under `puppet/zulip/files/nginx/`; but they need to be signing up to maintain it.

(As a side note, this webserver oddly seems to have a code drop based release model?  Not a super normal open source project: https://github.com/hsleisink/hiawatha)

[2017-02-09 22:16] abhijeetkaur opened #3626 "Improving bots in contrib_bots"
There is a lot of room for improving existing bots in contrib_bots. A couple areas being:
- reply to at-mentions. For example encrypt_bot responds only to @encrypt
- better error handling.
- respond to same topic instead of creating new topic.

[2017-02-09 22:43] hsleisink commented on #3624
Why do you think Hiawatha looks experimental? It's solid and ready for production servers.

What do you mean by 'code drop based release model'?

[2017-02-09 23:09] timabbott commented on #3624
Sorry, I didn't mean to argue that it isn't ready to use technically, just that as a project it doesn't look to have much adoption yet.

By "code drop based release model", I meant that https://github.com/hsleisink/hiawatha has 31 commits (each of which is just a "release version x" commit containing potentially thousands of lines of changes and presumably including many different bugs and feature

[2017-02-10 03:43] showell opened #3629 "compose: Validate subscriptions without hitting server"
When a user is about to send a message, we validate subscriptions with a synchronous call to `/json/subscriptions/exists` inside of `compose.check_stream_existence`, which is highly deprecated.   It should be unnecessary to hit the server at this point, since we have all the current subscription info on the client.  Even if there's a race where the stream subscription is about to be rescinded, we

[2017-02-10 03:44] showell commented on #3629
(The same function is called in subs.js, and we should try to eliminate its use there.)

[2017-02-10 04:08] showell commented on #3629
For the subs piece, we probably want to move the code into subs.js and make the check be async.  Checking for stream names is just advisory, so it doesn't need to be synchronous; we'd just need to track a tiny amount of state in the UI in case the server response is really slow.

[2017-02-10 06:03] rishig opened #3630 "stats: Add a everyone/me option for messages_sent_over_time"
This is what the messages sent over time graph currently looks like:
![image](https://cloud.githubusercontent.com/assets/890911/22814073/6cb71aee-ef05-11e6-93c7-1fdca346f1bb.png)

It would be great to also add the number of messages sent by the user. We already pass this data to the frontend; it's just a matter of adding it to the graph.

Design: I think a reasonable way to do this would be to add

[2017-02-10 06:32] abhishek981996 commented on #3616
I would like to work on it.

[2017-02-10 06:46] timabbott opened #3631 "Stream deletion is incredibly slow if you have a ton of users subscribed"
Reproduction recipe:
* Use `manage.py populate_db --extra-users=1000` to create a Zulip development instance with 1000 users, who are subscribed to random subsets of the streams.
* Delete a stream using the /#administration UI for doing so.  It'll hang for like 10 seconds
* Check the run-dev.py logs; you'll see it did like 500 database queries and memcached queries, and probably the console will s

[2017-02-10 06:51] abhishek981996 commented on #3616
Theres already a doc available on emoji. In zullip/doc/emoji.md

[2017-02-10 07:25] timabbott commented on #3616
That's a developer-facing doc.  We're talking about user-facing docs, i.e. templates/zerver/help/ stuff.

See http://zulip.readthedocs.io/en/latest/user-docs.html

[2017-02-10 07:34] timabbott commented on #1243
Now that the settings page redesign is done, I think there's definitely some value in picking this up; we have a number of examples of doing this right in 10-admin.js (for example), and I think with a bit of work could have a nice system at least for navigating between the modals with a few functions in it.

[2017-02-10 09:25] timabbott opened #3633 "Fix missing tests in EventsRegisterTest"
First, read https://zulip.readthedocs.io/en/latest/events-system.html so that you understand the Zulip events system; the new application feature tutorial may also be helpful.  At the end of that description, I mention how we can test whether we have complete coverage for EventsRegisterTest; I did that check recently and found some gaps:

* changing realm waiting period setting
* changing realm de

[2017-02-10 09:30] timabbott opened #3634 "Hash oscillating when reloading the browser on a settings page"
Open the settings page, click on e.g. "your bots", and then reload the page.  If you watch carefully, you'll see the hash flips to `#your-account` and back to `#your-bots` briefly when the page loads.

@brockwhittaker this is probably a good one for you to handle; it's the only bug I've found so far in the newly merged settings page structure redesign.  Maybe worth doing some of the refactoring we

[2017-02-10 09:38] timabbott opened #3635 "Extract zerver/lib/events.py"
I'd like to extract `fetch_initial_state_data`, `apply_events`, `do_events_register`, and friends from `zerver/lib/actions.py` to a new `zerver/lib/events.py`, since it's I think the main thing we can do to shrink `actions.py` without making anything less efficient (in terms of searching code; e.g. it's really nice right now that all the `send_event` calls are in one file).

Like other refactoring

[2017-02-10 09:45] timabbott opened #3636 "Make /#administration tab available read-only to all users"
Now that /#settings and /#administration are unified in one view, we'd like to make all the useful info in the /#administration tab that isn't sensitive (default streams, realm emoji, etc.) world-readable to the entire organization.  We'll probably rename the tab "Organization" (rather than "Administration") as part of this process.

I think a good strategy here is first to change how the tab work

[2017-02-10 14:44] #3427 closed

[2017-02-10 15:43] jack17529 opened #3637 "Installing vagrant lxc plugin gives error."
I am using ubuntu 16.04
I have tried everything that is possible in 4hr from internet but still getting this error while installing lxc-templates

For that I have to install 3 other repo .
then those 3 repo told me to install it again .
and I don't know why it keeps asking sudo apt-get install -f
In between and thus creates a dead lock

[2017-02-10 16:22] showell commented on #3618
If somebody wants to work on this feature, I recommend discussing it on https://chat.zulip.org/#narrow/stream/general first.   It is a feature that some users will definitely value, but we need to be careful that we don't violate privacy for users that don't want read-receipts to go to senders when they read messages.  The history of this idea goes back to email systems, and my experience is that

[2017-02-10 16:28] showell commented on #3496
I'm removing the bite size tag here, as I think this will require a lot of testing to make sure things like backend search and search suggestions don't break with imbalanced quotes and other edge cases like using `stream:""` in the search.

[2017-02-10 16:29] showell commented on #3496
@aakash-cr7 Are you still actively working on this?

[2017-02-10 16:36] mcmanuss8 opened #3638 "Add API call to get status/presence of a specific member"
(Maybe this exists already and if so, feel free to change this ticket to "document where this lives better" :) )

For my use case, I want to show the status of a specific member (online, online but away, offline, etc). I want to make a RESTful call to get that status so I can show it elsewhere outside of zulip.

It seems like there's a get_members call in the python bindings ( per https://github.c

[2017-02-10 20:05] showell opened #3639 "Fix i18n issues with "(no topic)"."
We need to start storing no-topic topics as the empty string (or null) in the database, and then only use "(no topic)" or other translations of "(no topic)" in the presentation layer.  Otherwise, it will be tricky going forward to allow ordinary users to edit no-topic messages to have a topic, unless we iterate through all the translations.

Also, if I have my browser set to language X, but I am o

[2017-02-10 20:07] showell commented on #2273
moving to #3639

[2017-02-10 20:08] #2273 closed

[2017-02-10 20:08] showell commented on #3639
see #2273 for more implementation details

[2017-02-10 20:14] timabbott commented on #3638
Yeah, we should add this; the bulk operation is great for apps, but for other integrations one may want something different.  I think it should be a pretty quick project for someone with experience writing views in Zulip (http://zulip.readthedocs.io/en/latest/writing-views.html).

@mcmanuss8 can you give a bit more detail on how you're intending to keep the data up-to-date?  Is this the kind of th

[2017-02-10 20:15] timabbott commented on #3637
@jack17529 it sounds like your machine's local apt cache is broken, which can be a pain to debug for someone who isn't an expert.  Maybe you should install on a fresh Ubuntu VM?

[2017-02-10 20:15] #3637 closed

[2017-02-10 22:12] saisrivathsa commented on #3635
I made changes to the files as required and ran the environment after changed and it worked fine. This the link to my PR "https://github.com/zulip/zulip/pull/3641"

[2017-02-10 22:15] mcmanuss8 commented on #3638
@timabbott  That is exactly my use case - an employee directory. Live updates are irrelevant, or could be accomplished through a periodic refresh via AJAX every couple of minutes if we so desired.

[2017-02-10 22:17] timabbott commented on #3638
Great, makes sense.

[2017-02-10 23:16] hlieberman commented on #3638
@timabbott, this is for us; I talked about it on chat.zulip.org a while ago, but never got a chance to dive in.

[2017-02-11 00:42] timabbott commented on #3635
Merged via https://github.com/zulip/zulip/pull/3642.  @saisrivathsa next time, please put `Fixes #3635` in the commit message to auto-close the GitHub issue when the fix is merged.

[2017-02-11 00:42] #3635 closed

[2017-02-11 01:24] timabbott opened #3643 "Migrate bots UI from creating IDs with concatenated user IDs to using data-user-id."
The subscriptions page UI's use of data-stream-id is a good example of where we want to go here.

[2017-02-11 01:50] refeed opened #3644 "Remove scrollbar in reaction box when emoji results are very little"
When I search a emoji in reaction box, the emoji appears, but there is a scrollbar left. We should remove that scrollbar in reaction box (when the results are very little).

![screenshot from 2017-02-11 08-18-32](https://cloud.githubusercontent.com/assets/20320125/22850063/710417be-f036-11e6-9db5-8db8aba76cfc.png)

[2017-02-11 01:52] timabbott commented on #3644
Relatedly, I think we want to port at least that popover to not use the standard bootstrap thing so that we can use our nice and consistent across platforms left sidebar scrolls (`$.perfectScrollbar`, I think) for this; I am not sure we have a lot of control over the bootstrap popover scrollbars...

[2017-02-11 02:02] timabbott commented on #3448
I just tested with 0.471 (released a few hours ago), and looks like there's still a few issues:
[code]
The Stats stuff at least looks like https://github.com/python/typeshed/pull/905; I wonder why that didn't fix it?

[2017-02-11 05:52] timabbott commented on #3589
I don't really see the use case, so I'm going to close this.

[2017-02-11 05:52] #3589 closed

[2017-02-11 06:07] timabbott commented on #3626
Yeah, it'd be great if someone cleaned this up.

[2017-02-11 07:25] abhijeetkaur commented on #3626
@timabbott I am working on it.

[2017-02-11 07:53] #3638 closed

[2017-02-11 07:54] #3448 closed

[2017-02-11 07:55] timabbott commented on #3638
Cool.  I implemented this tonight for fun :).

The main commit is 71af0f7e2ebb6162ed507439d2376481b44d0b97; API bindings are in ffc24e9f6622035a4cc70e8062a443453ef042c1.  I should note that I do not consider this to be a totally stable API; we may change the format of what we send down in the future (we need to do some rethinking of how presence data is synced, and that could entail changing the d

[2017-02-11 14:55] Karthik5ganti commented on #3630
@rishig i would like to work on this

[2017-02-11 16:23] skapil commented on #3633
@timabbott Is this open to work? I would like to work on it 👷

[2017-02-11 17:36] mcmanuss8 commented on #3638
No worries on changing the format, we can adjust pretty quickly. Thanks!

[2017-02-11 18:31] rishig commented on #3630
Great, thanks! And the backend for this has been merged into master, so you can just build off of that.

[2017-02-11 20:29] timabbott commented on #3633
Sure, go for it!

[2017-02-11 21:49] #3620 closed

[2017-02-11 22:52] #3302 closed

[2017-02-11 22:54] timabbott opened #3648 "Document the new /stats page"
We may end up changing the exact set of graphs over time so I wouldn't focus on an exhaustive list, but it seems worth adding a user documentation article about the fact that we have nice graphs of data about usage of one's Zulip organization as well as one's own personal usage.  We can maybe also add an entry in templates/zerver/features.html.

[2017-02-12 00:54] skapil commented on #3633
@timabbott Thanks!

[2017-02-12 01:01] refeed commented on #3629
I'd like to work on this

[2017-02-12 01:12] #3134 closed

[2017-02-12 03:04] neerajwahi opened #3649 "Add API endpoint for list of private conversations"
The API endpoint would return a list of the members of each of the user's `N` most recent private conversations, but not the actual conversations or messages themselves.

This would be useful for the mobile apps which aren't able to load a large chunk of messages upfront due to poor network connections.

[2017-02-12 03:08] timabbott commented on #3649
Do you think we want a separate API endpoint or an additional thing you can get in the `/register` call?

[2017-02-12 03:09] neerajwahi commented on #3649
The `/register` call is probably fine for this

[2017-02-12 03:44] timabbott opened #3650 "Make failure mode more obvious if handlebars templates don't compile"
Right now, what happens if you have a malformed handlebars template is you get stuff like this in the `run-dev.py` console, printed by `tools/compile-handlebars-templates`, the tool which compiles these:

[code]

The problem is, developers who are editing frontend templates probably aren't looking at their server logs, and thus are likely to experience this as "why isn't my code updating", which i

[2017-02-12 06:13] timabbott opened #3651 "Consider configuring Google and GitHub auth backends in development environment"
It'd be nice for testing these to not require setting up a separate Oauth application for each person who wants to test.

There's some key management stuff to figure out (I think basically we need to register a "ZulipDev" oauth app that is configured to only support bounce you to localhost:9991, and put its secret key in the Zulip repo), and we'd need to determine if doing so violates ToS or other

[2017-02-12 06:17] timabbott opened #3652 "Turn EmailAuthBackend on by default in development environment"
Currently, in the development environment, we only enable the DevAuthBackend (the click-to-login) thing, and require the user to go through some non-obvious steps fiddling with config files that aren't in .gitignore to test password authentication / the login process.  I'd like to eliminate those extra steps.  In large part the reason we haven't done this already is that this is super ugly:

![ima

[2017-02-12 06:30] timabbott commented on #3294
Having spent about an hour thinking about this and reading code, I think the root bug here is that we don't strip trailing whitespace in messages, and thus `/me    ` (with any number of spaces) behaves oddly differently from just `/me`.  Fixing that whitespace issue makes things happy without creating other problems.

[2017-02-12 06:30] timabbott commented on #3294
Thanks again for the bug report @derAnfaenger and the investigation into the bug @540KJ !

[2017-02-12 06:30] #3294 closed

[2017-02-12 06:42] timabbott commented on #3652
I think the only tricky requirement here is that we want to make sure we don't modify the CSS for what the login page looks when DevAuthBackend is disabled.

[2017-02-12 06:43] timabbott commented on #3652
An alternative strategy to consider would be to move DevAuthBackend to a totally separate URL, like /devlogin, with a prominent login to /login for folks who want to test password auth on that page, and change HOME_NOT_LOGGED_IN (aka where you get redirected to by default) to /devlogin in development.

[2017-02-12 07:29] timabbott opened #3653 "Add support for linking to the settings page for a stream via URL hashes"
Now that we have a system for managing the URL hashes for our overlays for the /#settings pages that makes it possible to link to specific subpages, I think we should use that system for the /#subscriptions pages as well.  I think there's a few things to do:

* [ ] Rename /#subscriptions to /#streams.  This is probably not too hard.

* [x] Add `/#streams/new` to get to the new stream creation flow

[2017-02-12 07:49] #2419 closed

[2017-02-12 08:01] timabbott opened #3654 "Improve handling of realm emoji that aren't actually square"
See detailed discussion in https://github.com/zulip/zulip/pull/2348 for background; that precise solution doesn't work because of the problems discussed in the issue.  It's kinda crazy that the Android emoji set has this weird feature of being slightly non-square, but it's not super noticable; more important is custom emoji which might be e.g. 2x1 in shape.

Since from a display perspective, we id

[2017-02-12 08:23] timabbott opened #3655 "ui.home_tab_obscured was broken by the various settings/subscriptions refactoring"
This is used in a bunch of places, and I think we need to audit each case to figure out the right path forward.  E.g. for hotkeys, we want to just replace it with checking if any of the new modals are open in some correct way.

I think as part of fixing this we should make a central library function that you can query to find out which of {home, settings, subscriptions, informational-overlays, etc

[2017-02-12 08:24] timabbott commented on #3655
(This is a priority since it causes lots of weird side issues, like the "i" or "left arrow" hotkey firing unexpectedly)

[2017-02-12 08:30] #1147 closed

[2017-02-12 08:45] #2235 closed

[2017-02-12 09:28] trueskawka commented on #3577
Was it closed? I don't see it on my mac.

![shortcuts](https://cloud.githubusercontent.com/assets/3491502/22860986/e15298a6-f10d-11e6-8109-a653bb788636.png)

[2017-02-12 09:32] timabbott commented on #3577
Oh, the PR only did it for the /help/ docs, not here, but still marked itself as fixing this.  Reopened since we still need to do the second (in-app) half.

[2017-02-12 16:31] Karthik5ganti commented on #3630
Can you help me with technical issue i am facing with provision script

[2017-02-12 21:30] timabbott commented on #3655
A related bug caused by our not having a correct function for checking this stuff: a0aa2ca

[2017-02-12 23:43] timabbott opened #3657 "Empty invite-only streams show up broken in /#subscriptons page for administrators"
Reproduction process:
* Login as Iago, go to /#subscriptions
* Make a stream like Denmark invite-only.
* Remove all the users from Denmark (need to remove Iago last!)
* (Maybe needed) Reload browser
* Check the "All streams" tab; you'll still see the stream, and clicking on it will show an error fetching the subscriber list:

![image](https://cloud.githubusercontent.com/assets/2746074/22867247/6ff

[2017-02-13 00:40] brockwhittaker commented on #3655
Cool, I'll submit some PRs to fix this. Do you have more direct steps for accidentally triggering the wrong events?

[2017-02-13 00:56] timabbott commented on #3655
I noticed this primarily by reading code; my plan for this would be to just read all the places that call this (there's only ~15).

[2017-02-13 02:33] trueskawka commented on #3653
I agree with renaming it, will make it much clearer for the user :)

There are quite a few places where we are using `/#subscriptions`:
- user docs, including a macro for it
- links, including i18n strings in translations
- frontend tests

This would probably also require some smart grepping for "subscriptions" and checking where it is appropriate to change it - most of the in-code usage shouldn't

[2017-02-13 03:21] timabbott commented on #3361
The actual thing we should document is probably https://github.com/kcr/snipe.  The author in on chat.zulip.org, so the process would be:
(1) Get Snipe working with Zulip; potentially submit a PR to Snipe documenting it
(2) Figure out to what extent we can just link to snipe's documentation for using Zulip and have the /help/ article be mostly telling folks that it exists and where to get it.
(3) A

[2017-02-13 04:53] timabbott commented on #2767
This was fixed like a month ago.

[2017-02-13 04:53] #2767 closed

[2017-02-13 05:44] neerajwahi opened #3660 "Add customizable realm icon"
Add the ability to choose an icon to represent a realm.

This would be useful in the context of multi-account support because we can show the icons for each realm the user is logged in to.

[2017-02-13 06:18] anirudhjain75 commented on #2187
My suggestion is, you could program the bot to send the feature description given on a .md file to the announce stream. :thinking:

[2017-02-13 06:22] timabbott commented on #2187
yeah, that's basically the idea I had in mind for the first option.  For each realm, we'd keep track of which features have been announced already in the database.

[2017-02-13 07:59] timabbott opened #3662 "Renaming a stream to a name that's already taken doesn't give a user-facing error"
The title is pretty self-explanatory; it doesn't work (but appears like it did in that the content-editable area looks just like you'd saved) with no visible error.  I think we're not handling errors in the API request to the backend, basically.

[2017-02-13 17:34] brainwane commented on #335
Quick question: does the Hubot integration with Appear.in support screensharing? http://support.appear.in/article/27-is-screen-sharing-supported-in-api implies you wouldn't be able to screenshare via the appear.in API.

[2017-02-13 18:24] timabbott opened #3663 "Add server version (from version.py) to /register and /get_auth_backends requests"
These will be helpful for apps that may want to check if the server supports a given feature.

I think it's already in page_params so that the webapp has it available; we just need to move it down a layer.

[2017-02-13 19:46] singh1114 opened #3664 "Improve password authentication and reset forms javascript issues"
While logging Into the Zulip, when they ask for the password. I tried to give a password and deleted everything again. During this course of time whole of the text moved toward left and right which did not look good. This happens because of the different text that was shown as the error message. We can resolve the issue if we can show the error text on a new line.

[2017-02-13 21:37] brainwane opened #3665 "Compare zulip-bot against similar tools from other communities"
Yay [zulipbot](https://chat.zulip.org/#narrow/stream/general/topic/zulipbot.20is.20alive!)!

What else might we want this bot to do, to make our lives easier?

Ideas might come from:
* https://gdstechnology.blog.gov.uk/2016/09/30/easing-the-process-of-pull-request-reviews/
* https://github.com/rust-highfive
* https://github.com/barosl/homu and https://github.com/graydon/bors (in case our existing

[2017-02-13 21:37] brainwane commented on #3665
@synicalsyntax heads-up -- you would be best placed to do this assessment, in my opinion.

[2017-02-13 21:41] timabbott commented on #3664
Yeah this would be great to improve, the current thing is pretty annoying.  Agreed the solution is to move it to the next line.

[2017-02-13 22:03] timabbott commented on #3665
Those links seem to be all about things that one can just do in CI (and we do).

I think we really only need a bot for workflow management -- automating the process of maintaining which issues/PRs are being worked on.

[2017-02-13 22:04] brainwane commented on #3665
You're right, and I need to dig up the examples of more workflow/social GitHub bots.

[2017-02-13 22:45] timabbott commented on #3660
This is fairly high priority, if someone wants to take a pass at it, since it'd make the multiaccount experience on mobile a lot nicer.  In terms of technical approach, I'd do the following:
* Add a field to Realm for the realm's avatar (realm.avatar) URL; follow the "new application feature" feature tutorial on RTD for this.
* We can follow the same flow we use for uploading user avatars for this

[2017-02-13 22:45] timabbott commented on #3660
@kkanahin do you want to take this project?

[2017-02-14 00:21] feorlen opened #3669 "prod install fails if EMAIL_HOST isn't set"
The comment in settings.py says you can leave EMAIL_HOST commented out, but when you try to initialize the database, you get an exception complaining EMAIL_HOST isn't defined.

Is the comment incorrect? Or should this work?

[code]

[code]

[2017-02-14 00:58] timabbott commented on #3669
Nice find.  I think we just need to add `EMAIL_HOST` with a default of None in DEFAULT_SETTINGS.

[2017-02-14 02:10] kkanahin commented on #3660
@timabbott yes I want

[2017-02-14 02:43] feorlen opened #3672 "Improve exception creating prod realm with generate_realm_creation_link without having initialized database"
I'm not sure what to say about this, as it's a pretty serious thing to not work. And there's a test for it. But I get an exception every time I run this, following the prod install doc:

http://zulip.readthedocs.io/en/latest/prod-install.html#step-5-create-a-zulip-organization-and-login
[code]
[code]

I did a little debugging and it's getting rational values in  generate_realm_creation_url, but th

[2017-02-14 05:26] singh1114 commented on #3664
Can I do it? I am new to this community and just ended doing the Getting Started part.

[2017-02-14 06:26] synicalsyntax commented on #3665
Some things that I'm hoping to implement:
* Allow users to abandon issues that they're working on by removing themselves as assignees
* Periodically check the repository for stale issues/PRs and close them
* Allow users to add labels to issues they've created instead of @timabbott having to manually add them

Probably won't be able to work on the bot this week because of school, but I'll try and f

[2017-02-14 10:47] khantaalaman commented on #3662
This issue seems to be resolved in upcoming PR.

Thanks!

[2017-02-14 15:32] GervaisdeM opened #3677 "Emoji lookup not working for some emoji"
I've noticed this on chat.zulip.com and it is now happening on my server now that I have upgraded.

Server version: 1.5.1 (and whatever is running on chat.zulip.com)
Client: Electron, Safari, Chrome

My favourite emoji no longer pops up when I try to use it. See screenshots. It does eventually work. When the message is sent, it displays the text `:slightly_smiling_face:` for a second and then upda

[2017-02-14 15:34] khantaalaman commented on #3657
@timabbott Can you please explain a bit more about the expected behavior for this issue?

Thanks!

[2017-02-14 15:34] khantaalaman commented on #3657
@timabbott Can you please explain a bit more about the expected behavior for this issue?

Thanks!

[2017-02-14 16:34] feorlen commented on #3669
`'EMAIL_HOST': None` in the Django settings.py does let you get past that error. But you still need the confirmation email to finish creating your realm. I looked to see if it was logged, but I didn't see where.

After trying it, I think the comment is too encouraging. I set up working SMTP anyway to get the confirmation email.

If providing an easier "for testing" path is a goal, I'd rather have

[2017-02-14 16:46] feorlen commented on #3672
I deleted everything and tried it again, to make sure I did everything correctly. Then it worked.

Either something went weird in the process that I didn't notice, or on this particular try I did it out of order. (Abbreviated shell history wasn't helping.) Some sort of "Hey did you forget?" message would be nice, but that's it.

The installation process has a lot of steps, and I had various issues

[2017-02-14 19:09] showell commented on #3386
When we merge #3670, it should make it so that only the admin screens break with email changes, although there may be things I have overlooked on other pages.  There are some open PRs on the admin screens that I will try to help get merged before I fix the admin screens for email -> user_id.

[2017-02-14 20:08] feorlen opened #3678 "initalize-database suggests reading prod-health-check-debug.md, which doesn't exist"
Is `prod-troubleshooting.md` a complete replacement, or should there be additional docs referenced?

After you run `initialize-database`, you get this message:
[code]
`prod-health-check-debug.md`  was renamed `prod-troubleshooting.md`:

commit:
https://github.com/zulip/zulip/commit/c0e68d59cb7b507bddb349b9c3cbcd1d6f9e1b6e

The renamed document doesn't discuss how to "change your realm's domain," n

[2017-02-14 20:51] feorlen opened #3680 "Clarify use of root and zulip users in prod install doc"
The install doc doesn't explicitly say that it's creating a `zulip` user for you, or that running as this user is required. Also, in Step 4, you must still be `root` to run commands, but it says "At this point, you are done doing things as root."

http://zulip.readthedocs.io/en/latest/prod-install.html#step-4-initialize-zulip-database

But if you switch back to your own user, not only can you not

[2017-02-15 02:12] showell commented on #2343
This appears to work fine now.  Closing.

[2017-02-15 02:12] #2343 closed

[2017-02-15 02:22] showell commented on #3631
I am looking into this.

[2017-02-15 03:22] showell opened #3685 "Reset settings.RUNNING_INSIDE_TORNADO in management command tests"
see https://chat.zulip.org/#narrow/near/151774/stream/test.20suites/topic/test.20flake

[2017-02-15 04:44] #3680 closed

[2017-02-15 04:50] timabbott opened #3686 "Make /privacy and /terms return something reasonable if TERMS_OF_SERVICE is not configured"
There are 2 pieces here:

(1) Do this for terms of service.  I think it can just be a short page that says "This Zulip server does not have a configured terms of service.  Contact {{ admin email }} for information.", or something.
(2) Do the same thing we have for settings.TERMS_OF_SERVICE for the privacy policy, where basically the sysadmin can configure via settings a path to their privacy polic

[2017-02-15 04:57] timabbott commented on #3678
Ahh, yes, this is quite out of date.  We should point them at the troubleshooting document, but "change your realm's domain" is no longer a thing anyone needs to do.

[2017-02-15 04:59] timabbott commented on #3678
I think we can
(1) Remove most of that text.
(2) Actually call `./manage.py generate_realm_creation_link` for you.

[2017-02-15 05:09] timabbott commented on #3672
I think this is what happens if you skip the `scripts/setup/initialize-database` step.

I think

[2017-02-15 05:14] timabbott commented on #3657
The expected behavior is that an invite-only stream that has no users left is effectively deleted, and should not appear in the list of streams, even for an administrator (and thus one won't see the above broken view).

[2017-02-15 05:16] timabbott commented on #3677
@rishig I think what's going on is that the emoji is e.g. :simple_smile:, and the longer name got removed when we removed duplicates from autocomplete; can you investigate?

[2017-02-15 05:38] timabbott commented on #3664
Yep!

[2017-02-15 06:24] timabbott commented on #3669
Yeah, I think the comment is out of date; it predates the `manage.py generate_realm_creation_link` flow.

[2017-02-15 07:35] timabbott commented on #335
The google hangouts Hubot integration supports this already.

[2017-02-15 09:25] jajodiaraghav opened #3687 "Clicking 'Yes Please!' to the xx-unread-message modal redirects to home"
When clicking 'Yes, please!' to the welcome modal that greets the user with 'You have xx unread messages',
the user gets redirected to home (i.e., chat.zulip.org/#). This is also true when a user clicks on an internal link such as https://chat.zulip.org/#narrow/stream/learning. Instead of redirecting to Home, it should stay on the url clicked by the user.

This issue may also be present when 'No,

[2017-02-15 15:00] stephsamson commented on #3686
Hi Tim, can I pick up this issue?

[2017-02-15 16:11] timabbott commented on #3686
Sure!  Generally any open issue that hasn't been claimed is fair game :).

[2017-02-15 16:16] timabbott commented on #3687
So I think the "No" case thing may be a bad interaction with Zulip's response to coming back from suspend (which is to check and potentially reload the page).

[2017-02-15 21:37] abhijeetkaur commented on #3631
@showell I am also interested in this one, if you have not started yet can I give it a try?

[2017-02-16 00:22] hlieberman opened #3692 "Presence API incorrectly flags inactive users as active"
Weird one: when I hit the new presence API, I'm getting active users showing as active, idle users showing as idle, and offline users showing as active.

I cherry-picked three patches onto 1.5.1, so this could be my fault.  I've got 71af0f7e2ebb6162ed507439d2376481b44d0b97, ac8b661a8f45a49b0e4b2173cfd4f6cd05f19d65, and ffc24e9f6622035a4cc70e8062a443453ef042c1 on top.

[2017-02-16 08:16] saisrivathsa commented on #1435
@brainwane I have prepared a patch for this issue but am having a hard time finding the method that's giving the info of the channels. I thought "json_response" in zerver/lib is feeding the data but actually it isn't.   Am I looking at it the wrong way or is there any other function which is explicitly used for this purpose ?

[2017-02-16 16:13] showell commented on #3631
I'm still working on this.

[2017-02-16 16:31] trueskawka opened #3694 "notifications: Web app changes favicon for user's own PMs sent from iOS app."
While testing the web iOS app, I've noticed that the web app changes the favicon for a PM I've sent to another user:
* the web app browser tab shows the new PM icon,
* there is no desktop notification.

The browser tab should not show a new PM icon for the message sender.

It probably has something to do with `static/js/unread.js`, specifically the `unread_privates` variable. We could check if the

[2017-02-16 21:08] timabbott commented on #3694
In theory, this should be handle on the backend; zerver/lib/actions.py sets the `flags` to `read` for any message sent by a user using a client which is tagged as being "a human user client".  I think the problem is we're missing zulipmobile from the list below in zerver/models.py:

[code]

[2017-02-16 21:09] timabbott commented on #3694
@akashnimare what user-agent is the Electron app using; is it ZulipElectron?  We need to add it here as well.

[2017-02-16 21:13] timabbott commented on #3694
I guess electron is currently showing as "website" for this purpose, which is OK but not ideal.

[2017-02-16 21:23] #3694 closed

[2017-02-16 21:29] timabbott commented on #3694
Fixed via 99c0b0e79fb08e3e3938868d3876512f22b15d6b, thanks for the report @trueskawka!

[2017-02-16 21:35] trueskawka commented on #3694
Thanks for the explanation and a great commit message - it cleared things up for me :)

[2017-02-16 21:48] saisrivathsa commented on #3663
Can you please elaborate on what has to do be done ?

[2017-02-16 21:51] timabbott commented on #3663
Basically `do_events_register`, which is called by the the `/api/v1/register` endpoint (as well as the home view in `zerver/views/home.py`) currently doesn't return the version; the core code backing it is `zerver/lib/events.py`.  So add it to `fetch_initial_state_data` or something, and then update the `page_params` definition in home.py to use that data source instead of just entering it directl

[2017-02-16 22:46] brainwane opened #3698 "Production docs: set time expectations"
In https://zulip.readthedocs.io/en/latest/prod-install.html , let's add near the start:
* a prediction of the size of the tarball & dependencies they will need to download
* something like "after you have ___ done/installed, it should take ~n minutes to finish setup"

IIRC from conversation with @timabbott and @feorlen the ____ is "DNS" and the n is 15 minutes. Please correct me!

[2017-02-16 22:48] brainwane opened #3699 "Production install: offer a no-email-setup version"
It's a pain to set up email for a server. For ease of setup for people testing how long it will take to set Zulip up for production, Tim suggests we offer an installation option that dumps emails to the Django server log instead.

Per conversation with @feorlen and @timabbott -- please correct inaccuracies.

[2017-02-16 23:37] feorlen commented on #3698
After I got the process down and Gmail working, it took about five minutes to do an install. That's not including downloading the tarball. Before I started each time, I deleted /root/zulip, /etc/zulip, and the contents of /home/zulip and /srv.

[2017-02-16 23:47] rishig opened #3701 "Sort pinned list of streams by lowercase stream name."
Currently the unpinned streams are sorted by lowercase stream name, and the pinned streams seem to be sorted by stream name (e.g. stream ZZZ coming before stream bbb, since Z comes before b in ascii). It would be great to have the pinned streams sorted by lowercase stream name.

One place to look might be `build_stream_list` in `stream_list.js`. As a part of this PR it would be good to also figure

[2017-02-17 00:17] brainwane opened #3703 "GitHub workflow: tools to support area maintainership"
Right now it's hard for people to systematically find pull requests they can review, because:

- there's no systematic way to find PRs where the author is waiting for review and the ball's in our court, metaphorically
- there's no systematic way to find PRs changing a particular area of the codebase

This hurts our apprenticeship pipeline and slows down our review throughput.

So let's:

* set up

[2017-02-17 00:21] timabbott commented on #3703
@synicalsyntax are you interested in developing this extension to ZulipBot?  I'm around this weekend if you want to collaborate on it :)

[2017-02-17 00:23] feorlen opened #3704 "Make it possible to install prod from a git branch"
There is a way to [upgrade a prod install from a git branch](http://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#upgrading-from-a-git-repository) but not install a new deployment that way. It would be helpful to be able to start with a branch and not have to install a tarball first.

@timabbott doesn't think it's too complicated, although I did not further investigate my one at

[2017-02-17 00:46] brainwane opened #3705 "documentation: add links to remind developers to mark strings for translation"
Our developer documentation has places where we should be reminding people to use syntax that lets translators translate user-visible strings, but we won't link to that guidance. For instance, https://zulip.readthedocs.io/en/latest/new-feature-tutorial.html and https://zulip.readthedocs.io/en/latest/code-style.html should mention https://zulip.readthedocs.io/en/latest/translating.html#backend-tran

[2017-02-17 01:02] #1107 closed

[2017-02-17 01:03] timabbott commented on #1107
Just an update on this thread, we just merged #2909, which means we now have different styling for bot users from human users.

[2017-02-17 01:28] timabbott commented on #3704
Aside from a bit of moving around things, I think we need to make `scripts/lib/install` support doing `update-prod-static` somewhere in there if it detects it's being run from `git`.

[2017-02-17 01:34] timabbott commented on #3705
That's probably useful; but probably more important is adding lint rules for any cases being missed right now.  What places that we're missing are there?

[2017-02-17 02:36] synicalsyntax commented on #3703
Definitely, I'll mull about this over the week and work on implementing these features during the weekend when I have more time. :)

@brainwane For your third feature request, are you asking to add a label to the referenced issue or the new PR? I'd just like a clarification on that.

[2017-02-17 04:55] timabbott commented on #3703
For the third one, the idea is just that the bot would @-mention the relevant team when PRs are opened or updated to mention an issue with the relevant label.  Basically as a way of ensuring that the relevant folks get subscribed to notifications for PRs related to issues they are part of the "area team" for.

[2017-02-17 05:06] #3369 closed

[2017-02-17 05:28] timabbott opened #3707 "Make it possible to have more whitespace between paragraphs in Zulip messages"
Currently, there's basically no reasonable way to compose a Zulip message with a proper paragraph break between two pieces.  What we'd like to do is have:
[code]
continue to just put a `<br>` tag in between, but

[code]

(which currently in the rendered HTML just places the two pieces inside separate `<p>` tags) should have more space in between paragraphs, ideally without adjusting the spacing be

[2017-02-17 05:28] timabbott commented on #3707
@brockwhittaker do you think that fixing this issue via CSS without a ton of work trying to determine whether it'll adjust other line spacings is feasible?

[2017-02-17 05:28] synicalsyntax commented on #3703
@timabbott Unfortunately, the GitHub API doesn't have trigger events when issues or PRs reference other issues or events, so a cron job would have to be set up to check the events of all issues/PRs in the repository; in addition, issue comment references aren't included in the events of the issues/PRs, only commits.

However, I think we can work around this by using regex pattern `#(?P<id>[0-9]{2,

[2017-02-17 05:31] timabbott commented on #3703
Yep, that workaround is what I had in mind :)

[2017-02-17 05:46] synicalsyntax commented on #3703
Alright, here are the current plans for zulipbot:
* Allow users to abandon issues that they're working on by removing themselves as assignees
* Allow users to add labels to issues they've created
* Create "area label teams" that users can join
* When an "area label" is added to an issue or a PR references an "area-labelled" issue, mention the "area label team" members in a comment to subscribe the

[2017-02-17 06:20] timabbott commented on #3703
Can users just remove themselves as an assigned user directly?  I would assume that doesn't need a bot...

[2017-02-17 06:52] synicalsyntax commented on #3703
No, assignees can't unassign themselves without the proper collaborator access.

[2017-02-17 07:14] timabbott commented on #3703
Amazing.  OK, I guess we need to build that feature :).

[2017-02-17 07:36] timabbott opened #3708 "Make realm.notifications_stream controllable by a realm administrator"
This controls the stream that new stream notifications go to.

The "new application feature" tutorial on RTD should teach everything needed to do this.  From a UI perspective, we probably just want a "pick from dropdown" sort of thing.

[2017-02-17 07:39] timabbott opened #3709 "Clean up use of get_active_user_dicts_for_realm"
`get_active_user_dicts_for_realm` is used in a number of places where we really don't need something that expensive:
* Change the `active_user_ids` function to use its own independent cache.  The list of user IDs is a small fraction of the total data, so we'd save a lot of wasted processing by doing this.
* Complete #374.
* Eliminate the call in `add_subscriptions_backend`.  We don't really need t

[2017-02-17 07:39] timabbott commented on #375
Closing the remaining piece in favor of https://github.com/zulip/zulip/issues/3709

Thanks again for this testing work @dbiollo!

[2017-02-17 07:39] #375 closed

[2017-02-17 07:45] #454 closed

[2017-02-17 07:49] umairwaheed commented on #2564
@timabbott, do we need to use the new password hasher in development evironment as well?

[2017-02-17 07:51] timabbott opened #3710 "Improve "Uploaded files" / attachment UI behavior"
We merged https://github.com/zulip/zulip/pull/2961, which means there's now a UI for deleting attachments that you didn't intend to upload.  But it seems like we probably want to enhance that in a few ways:

(1) It doesn't live-update to show attachments you've uploaded during the current browser session.
(2) Since users are probably unlikely to update their attachments, it might make sense to not

[2017-02-17 07:52] umairwaheed commented on #2564
I think test tagging (https://docs.djangoproject.com/en/1.10/topics/testing/tools/#tagging-tests) looks very promising as well. For example, we can tag tests as 'slow' or 'fast'.

[2017-02-17 07:54] timabbott commented on #1593
I think this issue no longer makes sense with the new UI, so I'm closing it.

[2017-02-17 07:54] #1593 closed

[2017-02-17 08:06] timabbott commented on #2564
Re: password hasher, I think we want to use it in development, but not in tests (we already override tests).  Note that there's an open PR for that (#3410) which perhaps you should review :).

[2017-02-17 08:11] #2322 closed

[2017-02-17 09:59] anirudhjain75 commented on #3295
@timabbott Yeah I just tried it out again, This issue is still present

[2017-02-17 10:00] anirudhjain75 commented on #3295
Not during resize, it is a problem in a resized window

[2017-02-17 16:02] #3669 closed

[2017-02-17 18:16] chao1995 commented on #3701
Hi @rishig, I'm working on this issue.

As you said, currently pinned streams are not sorted in `build_stream_list `, so they will be in the order as returned from `stream_data.subscribed_streams();`. Based on my current investigation on `steam_list.js` and `dict.js` (used for `stream_info`), the order will be ASCII order (A-Z, then a-z).

However, you mention

Do you mean on chat.zulip.org, the o

[2017-02-17 18:50] timabbott commented on #3701
I think Rishi meant "figure out how the unpinned streams are currently being sorted" .

The sort order in both places should be alphabetical by (lower case) stream name; it looks like unpinned is currently correct, but pinned is not.  Does that explain it for you @chao1995?

[2017-02-17 19:34] akhilmd commented on #3708
I'll look into this.

[2017-02-17 19:53] timabbott commented on #1932
This is now fixed.  Thanks @showell!!

[2017-02-17 19:53] #1932 closed

[2017-02-17 19:53] timabbott commented on #519
@showell is this finished as well?

[2017-02-17 19:58] #3436 closed

[2017-02-17 20:52] timabbott commented on #3692
Yeah, so the historical presence API is one where you need to look at the timestamp to see how old it is (this makes sense in a context where the client is caching the data, since it needs to know when it expires).  Probably for this application, we should just do that in pre-processing for the endpoint rather than the frontend.

[2017-02-17 21:26] showell commented on #519
This is finished to the best of my knowledge, so I'm closing it.

[2017-02-17 21:26] #519 closed

[2017-02-17 23:49] #3631 closed

[2017-02-18 00:13] timabbott commented on #3371
This turned out to be a perf issue and is now fixed again.

[2017-02-18 00:13] #3371 closed

[2017-02-18 00:16] synicalsyntax opened #3713 "Add back stats page anchor links (basically navigation for the graphs)"
**Note**: Title has been updated since we temporarily removed the links; see discussion below.

The anchor links in the stats page (`https://localhost:9991/stats`) do not respond by scrolling to the appropriate section when clicked.

This is most likely due to an error in lines 486-499 in `stats.js`:
[code]

[2017-02-18 00:20] timabbott commented on #3713
@rishig FYI.

The problem here is basically that fixing this the simplest way breaks some other aspect of the page formatting (I think adds in some floating whitespace at the bottom).  This is a great thing for someone inexperienced with Zulip (but good with CSS) to debug, since it's pretty self-contained.

[2017-02-18 00:30] rishig commented on #3713
Thanks for opening this Cynthia! Adding @brockwhittaker as well.

[2017-02-18 00:46] timabbott commented on #1435
I guess there's a question about what the right design is.  There's 2 ways to do it:
* Handle these with the backend markdown processor when saving a new description, which would mean all sorts of syntax becomes available (and all sorts of weirdness like how to handle a mention in there, etc.).
* Just want handle this at the display layer (i.e. leave the descriptions on the network as plan text co

[2017-02-18 00:49] timabbott commented on #3692
I guess while we're thinking about fixing this, do you folks think it is useful to show their last active times with each client type (mobile, web, etc.) so that a client could do its display based on that data client-side, or would you prefer to just have a scalar value here of "active" or "not"?

[2017-02-18 02:13] synicalsyntax commented on #3616
Wrote a user doc for this in PR #3714!

[2017-02-18 03:49] chao1995 commented on #3701
@timabbott Yes. It's clear!

[2017-02-18 06:15] mcmanuss8 commented on #3692
@timabbott
For now I'm just assuming if their status == 'active' and the timestamp is >= 1 day ago then I alter the status to = offline. Yucky, but it'll do for now. I think the timestamp is useful so I can show how long they've been idle or how long they've been offline. I just didn't expect a response like:
      "website" : {  "timestamp" : 1392323737,  "status" : "active" }

As for multiple cl

[2017-02-18 06:52] rishig commented on #3361
Claiming this.

[2017-02-18 07:03] lonerz opened #3716 "X on all search bars to clear search bar immediately"
I find it quite useful to have an "X" on the right side of a search bar after one types something in the search bar to clear the search immediately. A lot of sites have this and would be nice here in all search bars. Something like below:
![screen shot 2017-02-17 at 11 01 14 pm](https://cloud.githubusercontent.com/assets/12992571/23091198/2f49bdae-f565-11e6-84e0-df492b1a7490.png)

[2017-02-18 14:20] jajodiaraghav commented on #3716
Working on this

[2017-02-18 16:17] rishig opened #3719 "bugdown: Indenting 4 spaces no longer produces code block"
To reproduce, send a message like the following.
[code]
The first line should be turned into a code block, which it currently isn't.

[2017-02-18 16:52] rishig opened #3720 "message edit: Countdown timer no longer works."
To reproduce: send a message, open it for editing, and wait a few minutes. Expected behavior is for the countdown in the lower right (looks like the below) to count down, which it currently isn't.
![image](https://cloud.githubusercontent.com/assets/890911/23095007/c75c704e-f5b7-11e6-824d-ff1e3eb4f855.png)

A related issue is that when the countdown reaches 0, it should disable the save button, whi

[2017-02-18 17:06] synicalsyntax commented on #3577
I implemented tooltips that appear above the keyboard shortcuts with Mac equivalents in PR #3715 for both the keyboard shortcuts modal and the Keyboard shortcuts user doc.

[2017-02-18 17:31] synicalsyntax commented on #3613
@timabbott Can this issue be closed? I see we've implemented redirects back to the home page in both in the header and footer of the docs.

However, one concern I have that I brought up in the `#documentation` stream is that I think it's a bit weird to have those links show up in the documentation home page (https://chat.zulip.org/help). Should we implement something that allows the header/footer

[2017-02-18 19:25] jajodiaraghav commented on #3664
Hi @singh1114
In order to merge the changes made by you in your forked repository, you must create a pull request. These links might be helpful:
https://help.github.com/articles/creating-a-pull-request-from-a-fork/
https://yangsu.github.io/pull-request-tutorial/

I would also recommend you to read:
http://zulip.readthedocs.io/en/latest/git-guide.html

On a side note: It's a good practice to create

[2017-02-18 19:25] jajodiaraghav commented on #3719
As soon as i press enter on the message, it gets displayed as a code block for a fraction of second and then turns into plain text. Any idea where i should be looking at to fix this?

[2017-02-18 19:30] singh1114 commented on #3664
@jajodiaraghav

https://github.com/zulip/zulip/pull/3690

Is it what you are talking about or am I missing something?

The last suggestion is very helpful. I will keep that in mind.

[2017-02-18 19:32] PhilSk commented on #3720
I'll work on it.

[2017-02-18 20:25] rishig commented on #3719
Good observation! That means the local echo version of the bugdown processor is working, but not the backend bugdown processor. The backend processor is in `zerver/lib/bugdown/__init__.py`.

[2017-02-18 20:26] rishig commented on #3720
Great, thanks @PhilSk!

[2017-02-18 22:14] #3616 closed

[2017-02-18 22:17] timabbott opened #3723 "Add a user doc for managing your uploaded files"
We just added finally support for deleting your uploaded files via #454, and I think it'd be good to have a user doc on the /help/ pages for this feature.  An important thing to highlight is that deleting a file can potentially confuse other users (e.g. because the image is missing), so one should be careful.

I think we'll want to revise the UI for that feature some more in the future (e.g. make

[2017-02-18 22:40] timabbott commented on #3719
http://zulip.readthedocs.io/en/latest/markdown.html is helpful background context for working on this.

[2017-02-18 22:41] timabbott commented on #3719
Interestingly, the following displays properly as a code block:

[code]

[2017-02-18 22:46] timabbott commented on #3719
Ahh, the bug is an issue in our whitespace stripping.  Fixing...

[2017-02-18 22:49] timabbott commented on #3719
(Basically, we fixed a bug where we weren't stripping trailing whitespace from message content... but the fix accidentally stripped leading whitespace as well).

Thanks for finding this @rishig!

[2017-02-18 22:49] #3719 closed

[2017-02-18 22:59] timabbott commented on #3613
Yeah, looks like we forgot to close this issue when we fixed that.  Also agreed we should figure out how to remove it from the index page.  I'll fix that and have the commit close this issue :).

[2017-02-18 23:00] #3613 closed

[2017-02-19 02:41] #3363 closed

[2017-02-19 05:09] timabbott commented on #3699
Setting `EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'` in `/etc/zulip/settings.py` (and restarting the server) is I think all one needs to do to set this up in a Zulip production server (comes from https://docs.djangoproject.com/en/1.10/topics/email/).  @feorlen do you want to test this out and see if works?  The result should print emails to `/var/log/zulip/django.log` (aka wh

[2017-02-19 06:49] #3489 closed

[2017-02-19 12:25] jainayush975 commented on #2640
@timabbott i would like to work on issue.

[2017-02-19 22:59] pawelchojnacki commented on #135
+1

[2017-02-20 01:41] #268 closed

[2017-02-20 01:44] timabbott opened #3730 "Document message edit history feature in /help/ docs"
This is for the new "View edit history" feature that you can see after editing a message.

We should probably both
(1) Add an article on how to view the history of previously edited messages.
(2) Document that this is possible in the article on editing messages.