[2017-04-12 05:47] timabbott commented on #4479
@brockwhittaker probably worth doing this while you're working on the login pages, though I'd make it a separate PR.

@rishig we've been using the "onboarding" or "auth" label for this sort of thing.

[2017-04-12 05:50] timabbott commented on #4423
Cool.  Yep, the unsigned nature of releases is known and in progress; we just finished the ordeal of getting the right type of certs from Apple last week, so the next release will be signed.

@akashnimare FYI -- we should get a signed release out soon.

[2017-04-12 06:02] glyph commented on #4423
Fantastic. Thanks!

[2017-04-12 15:08] showell commented on #4460
I just added some comments to #4098, but, to be clear, I am hoping that we can merge #4462 first.

[2017-04-12 16:31] showell opened #4485 "De-duplicate admin-realm-form."
We have two different forms called `admin-realm-form.`  We should split this up into two separate forms and two separate click handlers, where each click handler only sends the data from its particular form.

Do not claim this until #4462 gets merged, please.

[2017-04-12 16:33] #4443 closed

[2017-04-12 17:30] akashnimare commented on #4423
New release for Windows + Linux on hold because of some building errors.

🎉   v0.5.9 released for macOS -

https://github.com/zulip/zulip-electron/releases/tag/v0.5.9

@glyph please download 😄

[2017-04-12 18:17] brockwhittaker commented on #4480
@zulipbot claim

[2017-04-12 18:19] #4127 closed

[2017-04-12 20:09] timabbott commented on #4221
If we're only fetching ~20, then definitely this won't make much difference.  But if it lets us fetch ~100 instead while still feeling good about the size of the request, that could have significant value, I suppose.

[2017-04-12 20:11] timabbott commented on #4455
I was thinking at either the top or bottom of the individual panels of the help pages?

[2017-04-12 20:13] timabbott commented on #4310
Yeah, I think a new attribute is a good approach for this.

[2017-04-12 20:21] borisyankov commented on #4221
It can always make the difference.
Network connections vary. If something takes 500msecs on good connection, but 5secs on bad one... then a something taking 1-2secs on good connection might mean a timeout on the bad.

People definitely have expectations of chat apps to be low-traffic.
On mobile you can also see how much does an app contribute to your bill.

It can also be the difference between an

[2017-04-12 20:44] timabbott commented on #3854
@sarahcstringer has done some awesome work on deduplicating the realm settings backend code; it's now I think only a few lines of code to add a new one.  I think there's a few great options for what to work on next:
* zerver/views/realm.py, the last major source of backend duplication.  I think probably we should leave the argument parsing (`REQ`) alone to start, and instead focus on the semi-redu

[2017-04-12 21:09] #3686 closed

[2017-04-12 21:15] #4378 closed

[2017-04-13 00:11] glyph commented on #4423
Downloaded. Signature checks out!

[2017-04-13 02:43] timabbott opened #4488 "Increase timeout limits for the uploading file endpoints"
We got a report today of being unable to upload 25MB files to Zulip.  I'm pretty sure the reason is that we have a default 60s timeout for requests, and that timeout is insufficient time to upload a 25MB file on many networks.

We should probably increase the timeout to something larger for the upload endpoints only.

[2017-04-13 02:50] timabbott opened #4489 "Increase test coverage of S3 upload backend to 100%"
See 1747427bf3411089aadf5fdad0b454b2f9c1e4c6 for an example issue that should have been caught by proper testing.

@sinwar FYI since you were working on the boto upgrade, which as we discussed would be a lot easier to do if this is resolved.  Also FYI @kkanahin and @adnrs96.

[2017-04-13 04:15] #4424 closed

[2017-04-13 06:19] kracekumar opened #4491 "Grammarly plugin breaks on zulip"
I use Grammarly Chrome plugin. For past couple of months, the plugin isn't working as intended.

### What does that mean?

Grammarly is an online service points out errors, mistakes and grammar nuisance. They offer in-app web suggestion and extension which spots errors in the text area like the one below.

![zulip_grammarly_1](https://cloud.githubusercontent.com/assets/311929/24992249/fa2e32e0-203

[2017-04-13 17:07] glyph commented on #4423
Today I came back to my desk and the Zulip window was just blank.  ⌘R resurrected it though.

[2017-04-13 18:47] HarshitOnGitHub commented on #209
Thanks @tejaskasetty!
@zulipbot claim

[2017-04-13 19:17] showell commented on #4485
#4462 has been merged, so somebody can claim this now.

[2017-04-13 19:20] timabbott commented on #4491
I think there's just one problem -- the compose box closes when you click outside of it on the page, and the logic doesn't know that grammarly's overlay is supposed to be "part of the compose box".

One possible solution would be for us to add a special case for grammarly in the logic where we check if a change is "inside the compose box".   The logic is in `click_handlers.js`, in `// MAIN CLICK H

[2017-04-13 19:50] #2748 closed

[2017-04-14 00:10] timabbott commented on #1382
This is now done.

[2017-04-14 00:10] #1382 closed

[2017-04-14 00:21] showell opened #4500 "Make r/enter work for empty narrows."
Most of the time when you hit r/enter to reply to the "selected" message, there actually is a message to reply to.

We should handle the case where there's no selected message, because the narrow is empty, but there's still an implicit stream/topic/person to whom we are replying, based on the narrow.  I think we should always open the compose box and fill in as many fields as we can.  If we're nar

[2017-04-14 02:25] lonerz commented on #3886
@zulipbot abandon

[2017-04-14 06:41] lonerz commented on #4500
@zulipbot claim

[2017-04-14 15:36] sampritipanda commented on #4453
@zulipbot claim

[2017-04-14 18:36] #4455 closed

[2017-04-14 18:40] timabbott commented on #4453
@sampritipanda I spend like 5 minutes investigating this a few days ago, and mostly found that I'm not sure why this isn't sorted as it is.

`InlineInterestingLinkProcessor` in `bugdown/__init__.py` calls `walk_tree` to walk through the HTML structure of the message, so it's possible that the bug is something to do with `walk_tree` not using the human-expected order.

[2017-04-14 19:57] rishig opened #4505 "typeahead: Don't autocomplete '# '."
If someone is typing '# ' (# followed by a space), they are probably typing a comment, not a stream name.

To work on this, I'd start by looking at the code in `static/js/composebox_typeahead.js`.

[2017-04-14 20:11] rishig opened #4507 "bugdown: Don't rstrip inline code blocks."
We currently rstrip regular code blocks, to make copy-pasting from the terminal easier (see #3998). However, inline code blocks should keep all their spaces.

To work on this issue, I would start by reading http://zulip.readthedocs.io/en/latest/markdown.html and trying to understanding the code in #4185.

[2017-04-14 21:08] #4238 closed

[2017-04-14 22:16] dehnert opened #4508 "Prioritize active streams when composing new messages"
At work we have streams "Engineering a Safer World" and "engineering". The former hasn't been used in a while (it's in the infrequent/old streams section of the left sidebar, whereas the latter is up in the top section), but when composing messages it's the first one that gets highlighted. It'd be nice if that autocomplete got sorted by activity or something, not just alphabetically.

Tim notes th

[2017-04-14 22:19] timabbott commented on #4508
I like the idea discussed in https://chat.zulip.org/#narrow/near/188405/stream/issues/topic/stream.20completion.2Ed of using the left sidebar order for this.

[2017-04-14 22:19] timabbott commented on #4508
With a bit of refactoring, it should be pretty easy to get that ordering.

[2017-04-14 23:32] acrefoot opened #4509 "Use sessions in Python SDK"
I'm looking at [the python sdk](https://github.com/zulip/zulip/blob/master/api/zulip/__init__.py), and it doesn't look like it [reuses the session](http://docs.python-requests.org/en/master/user/advanced/). I think this means it has to redo the TLS handshake and create a new TCP connection for every request.

[2017-04-15 01:23] timabbott commented on #4319
Moved this to the `documentation (production)` label, since I think that's the context in which we'd automate this.

[2017-04-15 01:40] timabbott commented on #4374
So, I'm not sure what to do with this issue.  Today, we limit `bottom_whitespace` (and thus how far down one can scroll) as a portion of the total height of the message feed area, based on what produces a good experience visually with the compose box closed (or open with a small amount of content) if you scroll to the very end.  I don't think it makes sense to change `bottom_whitespace` for taller

[2017-04-15 01:44] timabbott commented on #3300
@kracekumar if you want to work on this, `exports.activate` in `narrow.js` is the code path in question.

Actually @showell this is potentially worth fixing while we're at it working on sidebar narrowing.

[2017-04-15 01:47] showell commented on #1370
Adding the `id` fields is probably worth the pain, especially since sometimes vary between saying `id` vs. `foo_id`.

[2017-04-15 01:48] timabbott commented on #1370
No, this is the `id` field added by the event system -- it's there unconditionally.

[2017-04-15 01:50] timabbott commented on #4300
The block above is the handler that gets run whenever a new realm emoji is added to the set?

[2017-04-15 01:51] showell commented on #1370
Oh...can we just strip it before doing the schema check?

[2017-04-15 02:06] timabbott commented on #4351
Here's the output of a `ps` grep showing the state of the child process of `run-dev.py` in this situation.
[code]
I think basically to fix this, we need to do 2 things:
(1) Have `run-dev.py` reap child processes that die.
(2) Have `run-dev.py` restart Tornado child processes that die.

(Or something like that; I'm not sure how to avoid an infinite-restart loop happening sometimes)

[2017-04-15 02:10] timabbott commented on #1370
No, but I guess we could make the outer thing be `check_events_dict`, not `check_dict_only`, and have it automatically add `id` to the list.

[2017-04-15 02:19] showell commented on #1370
Yeah, for that kind of wrapper that is so specific to the tests, we could probably put it in the test class (vs.validator.py).

[2017-04-15 05:37] tejaskasetty commented on #4300
@timabbott I actually didn't know how the events were handled. But I went through the server side code. And now I understand. And I have made the corresponding changes and corrected the issue. Check PR #4301 . I m only left with unit test to be written for update_emojis.
But there is one more thing, there must have been a recent merge that must have split up the settings.js. And settings_emoji.js

[2017-04-15 05:45] tejaskasetty commented on #4300
Got it.

[2017-04-15 05:50] lonerz opened #4513 "First reaction with single user should show full name instead of reaction count in reactions"
For example,
https://chat.zulip.org/user_uploads/2/4b/K96oKcfay_i3a3-rnUcj01Ld/pasted_image.png

Looking for the following:
* first reaction
* single person reacts

@zulipbot claim

[2017-04-15 10:33] Rafah-Mehfooz commented on #4479
@rishig if this https://github.com/Rafah-Mehfooz/zulip/tree/reset-page-form helps in fixing the problem correctly, I can initiate a PR. Waiting for your feedback.

[2017-04-15 16:42] rishig commented on #4479
@brockwhittaker, want to take a look?

[2017-04-15 18:32] digi0ps commented on #4435
@zulipbot claim

[2017-04-15 18:38] digi0ps commented on #4435
Would this be good @YagoGG?

![image](https://cloud.githubusercontent.com/assets/3889675/25066040/8f1e4c4a-2238-11e7-9bb9-f34996783d52.png)

I have moved both the _count_ div and the _chevron_ 5px to the left.

[2017-04-15 19:59] rishig opened #4517 "views: Apply human_users_only decorator to human-only views."
#4516 introduces a `human_users_only` decorator that can be used to block bots from e.g. changing their display settings or doing other things that don't make sense for bot users.

It would be great to add the decorator to all the functions in `zerver/views/*` that need it. For each such function, we need to add the decorator, remove any relevant `if user_profile.is_bot: return json_error ..` logi

[2017-04-15 20:19] showell commented on #4517
For the testing part of this, we can probably write a single test for all the human-only endpoints.  Since we're pretty confident in the decorator, we only need the test to ensure that folks don't inadvertently remove the decorator (or, maybe more likely, somebody maybe creates a variation of the decorator for some endpoints).

The test could be something like:

[code]

[2017-04-15 23:05] rishig commented on #4517
yeah, agree that that is a better approach :).

[2017-04-16 19:10] timabbott commented on #4435
Looks reasonable.  Can you post a screenshot of what it looks like with the scrollbar not visible?  Also, test what happens with a super-long topic -- it's possible we need to tweak some other CSS as well.

[2017-04-16 19:22] #3636 closed

[2017-04-16 19:50] timabbott opened #4522 "Document support for /me status messages in "markdown formatting" docs"
I just realized our IRC-style `/me` message feature isn't documented in our markdown docs, and thus is not super discoverable.

[2017-04-16 21:43] lonerz commented on #4522
@zulipbot claim

[2017-04-16 23:19] rishig opened #4523 "integrations: Update zendesk logo."
Our current logo for zendesk looks weirdly squished:
![image](https://cloud.githubusercontent.com/assets/890911/25075038/b9fa054e-22bf-11e7-9fb4-3a1eff318412.png)

This is how it is supposed to look, from https://www.zendesk.com/company/brand-assets/#logo
![image](https://cloud.githubusercontent.com/assets/890911/25075043/ce9d619e-22bf-11e7-8820-222cb2eb0f88.png)

The logo can be downloaded from h

[2017-04-17 00:27] CestDiego commented on #4404
I would like to take on this issue, I'm curious how could I get started with getting to know which moving parts I should be looking at? Other than message_store.js

[2017-04-17 01:53] feorlen opened #4525 "Password field silently missing on new admin creation if no auth enabled"
If you neglect to enable an auth backend, everything seems fine except there is no place to create a password for your new admin login. That section of the page is missing.

Maybe show a message warning that no authentication method is enabled? I test installed twice before I noticed I hadn't been asked to create a password. When I logged out, I couldn't login again. The login page shows "You look

[2017-04-17 02:57] CestDiego commented on #3854
@timabbott  I have been working on getting the css animations for emojis under a flag.
(https://github.com/zulip/zulip/pull/3382)
(https://github.com/CestDiego/zulip/compare/a5704c4...7a0d47d1) I noticed that
there was a new method that was not listed in the documentation (`do_set_realm_property) and I wanted to do things in that way, but now I think I'm in that weird in between step of not
knowin

[2017-04-17 15:10] digi0ps commented on #4435
Here is the screenshot with scrollbar not visible and a super-long topic.

![screen shot 2017-04-17 at 15 09 31](https://cloud.githubusercontent.com/assets/3889675/25092406/287b815a-23ab-11e7-8643-d65ea27fb464.jpg)

It gets kind of squeezed in the case of super-long topic. Either we can reduce the number of characters being displayed as the topic name. Or move the `.topic-name` and `.stream-name`

[2017-04-17 17:02] timabbott commented on #4525
Yeah, we should have a "no auth backends enabled" error page, that one gets redirected to both from /register and /login.

[2017-04-17 17:06] timabbott commented on #4523
@synicalsyntax FYI

[2017-04-17 17:38] brockwhittaker commented on #4479
I don't think this is the right solution to this. The reason these boxes expand is because the element `.help-inline.text-error` is `display: inline-block`.

All you have to do to solve this issue is to write:

[code]

[2017-04-17 17:41] timabbott commented on #4404
https://zulip.readthedocs.io/en/latest/markdown.html is useful reading to learn about how we do local echo for sending messages (you can skim the rest).  http://zulip.readthedocs.io/en/latest/events-system.html is long but may also be helpful reading for how the Zulip real-time update system works; you should at least read the section around `server_events.js` either there or in our developer tuto

[2017-04-17 22:18] showell commented on #4310
So I think adding an attribute called `new_stream` would mostly solve this problem as a JS-only fix, and we could set it as part of handling the stream/create event.  It would only work until reload, however.  So if we want a more durable solution, then we need the back end to tell us which streams are new.  If the back end similarly set a "new_stream" flag, then we'd need a mechanism to clear it,

[2017-04-17 23:20] showell commented on #4256
I can't reproduce this bug.  Currently `message_events.insert_new_messages` always calls `stream_list.build_stream_list`, and that code calls `update_whether_active` for every stream.

@rishig Can you either close this issue or give a detailed repro?

I tried to repro the error by doing the following:
* Hard code sort_recent to true (so I don't have to create 40 streams).
* See that many of my str

[2017-04-17 23:25] showell commented on #3916
@timabbott I don't see the bug here.  In your image the streams are above the users.

[2017-04-17 23:49] timabbott commented on #4310
I think it's fine for it to be demoted after reload.  But I suppose a more
robust alternative would be to track a join date for reach stream a user is
subscribed to, and use that.

-Tim Abbott (mobile)

On Apr 17, 2017 3:18 PM, "showell" <notifications@github.com> wrote:

[2017-04-18 02:37] synicalsyntax commented on #4523
@zulipbot claim

[2017-04-18 03:48] #4453 closed

[2017-04-18 03:51] timabbott commented on #3916
I guess I should have posted a taller screenshot, but basically it shows literally only those 4 streams in a tiny scrollable area, and then spends a lot of space on the users part of the sidebar.  What I was suggesting is that perhaps we should make the whole section with both streams and users a scrollable area.

[2017-04-18 03:52] timabbott commented on #4256
Rishi has like 5K unread messages, so I bet what's going on is the following path:
* The first N messages around the pointer don't contain any messages on a stream, so it gets marked as inactive
* As more messages are fetched from the server, the unread counts update/are backfilled, but the addition of older messages doesn't call `update_whether_active`.

So the "messages coming in" are actually o

[2017-04-18 03:55] #4257 closed

[2017-04-18 04:00] timabbott commented on #4435
Yeah, that looks wrong.  Given the space, I think we could afford to move the topic name and chevron a similar distance.  It might also make sense to decrease the movement of the chevron by a few pixels, so that with the scrollbar visible, the chevrom is directly between the scrollbar and number (you have it a bit closer to the number).

[2017-04-18 04:41] #4523 closed

[2017-04-18 04:51] #4456 closed

[2017-04-18 05:19] #3630 closed

[2017-04-18 05:22] timabbott commented on #3854
@CestDiego yeah, sorry that you found this during a brief window where the documentation is wrong :/.
 We should probably prioritize updating the documentation next.  @sarahcstringer do you have time to do that soon?

@CestDiego on the front of helping out in this space, the `realm` backend work is basically done, but I think a great exercise that would help you get familiar with our settings and

[2017-04-18 05:57] #3886 closed

[2017-04-18 08:13] boxin-yang commented on #4120
@zulipbot abandon

[2017-04-18 08:44] blaze225 commented on #3648
Please review the PRs

[2017-04-18 08:46] blaze225 commented on #3865
@rishig ?

[2017-04-18 08:58] anirudhjain75 commented on #4376
Yeah​ sure, I actually began to work on a major enhancement.

[2017-04-18 08:58] anirudhjain75 commented on #4376
@zulipbot abandon

[2017-04-18 12:39] showell commented on #4256
Don't backfilled messages still go through `insert_new_messages`?

[2017-04-18 12:43] denistarasov commented on #4360
@zulipbot abandon

[2017-04-18 14:05] synicalsyntax commented on #4335
Wow, zulipbot finally did an inactivity check. Still WIP

[2017-04-18 14:50] huneau opened #4536 "External ip cannot be a 192.168.x.x"
Hi there,

My zulip is running on a local LAN with an IP of 192.168.6.50. When I try to start my server, I've got that
[code]

Instead, I write `http://` as a workaround, but it's making crappy stuff after.

[2017-04-18 15:07] mahimg commented on #4199
@zulipbot I am waiting for a review on my PR.

[2017-04-18 15:17] huneau commented on #3903
I'm probably stupid but, I read the post, this issue is closed, but I don't see the solution oO.

[2017-04-18 16:00] timabbott commented on #4256
No; that function is only used for newly arrived messages (`insert_new_messages` also triggers notifications, etc.).  Instead this goes through the similar function `message_fetch.process_result`.

Though that seems to call the same `stream_list.update_streams_sidebar` function.  And the `recent_topics` state is indrectly updated by `message_store.add_message_metadata`, which is called earlier.  H

[2017-04-18 16:01] timabbott commented on #4536
You need to put quotes around the string, e.g. 'EXTERNAL_HOST = '192.168.6.50''.

[2017-04-18 16:01] #4536 closed

[2017-04-18 16:15] kkanahin commented on #4282
@zulipbot claim

[2017-04-18 18:07] lonerz commented on #4376
@zulipbot claim

[2017-04-18 18:11] lonerz commented on #4335
@synicalsyntax it got redeployed with inactivity check turned on.. 50+ notifs

[2017-04-18 18:14] digi0ps commented on #4435
@timabbott Done!
Made a pull request: [#4359](https://github.com/zulip/zulip/pull/4539).

[2017-04-18 18:18] timabbott commented on #3903
@huneau is http://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#manage-py-shell helpful for understanding the instructions I posted?

[2017-04-18 19:01] sarahcstringer commented on #3854
Yes, I can work on documentation now.

@timabbott, when I was going through the new feature tutorial, I noticed there's a part of zerver/lib/events we didn't update -- would it be helpful to update fetch_initial_state_data, which has this block of code:
[code]
to be something more like this?:
[code]

[2017-04-18 19:04] timabbott commented on #3854
Yes, that'd be great.  Some care is required, since I think some of those fields have a bit of translation involved (e.g. `realm_icon_url`).

[2017-04-18 19:18] #4334 closed

[2017-04-18 19:22] #4300 closed

[2017-04-18 19:31] timabbott commented on #1370
Sounds like a plan.

[2017-04-18 19:31] timabbott commented on #1977
@umairwaheed is this now resolved?

[2017-04-18 19:37] #971 closed

[2017-04-18 19:38] timabbott commented on #1131
@tommyip have you had a chance to work on the pre-commit hook issue yet?  It'd be great to get this resolved, since I think it'd save me a ton of time :)

[2017-04-18 20:34] rishig commented on #4256
hm. I remember it being new messages, but I also can't replicate on the dev server. Maybe let's close for now, and I'll reopen if it happens again?

It could be some weird interaction during the message loading phase due to having 1000s of unread messages, but not sure how to replicate that.

[2017-04-18 21:41] italo-batista commented on #4442
I started working on this recently. Not ready yet.

[2017-04-18 22:03] lonerz opened #4540 "Condense/Show more hotkey"
We should have a hotkey for condense/show more when there is a long message. I think maybe the hotkey would be `e` for expand, but @timabbott and others open for suggestions.

[2017-04-18 22:10] timabbott commented on #4540
We should be thoughtful before using `e`, since it's a common letter to type accidentally, and I could imagine using it for other jobs (e.g. "edit message").

[2017-04-18 22:15] lonerz commented on #4540
Maybe `M` for More... ? @timabbott

[2017-04-18 22:28] timabbott commented on #1760
https://github.com/zulip/zulip/pull/3773#issuecomment-290382474 has an update on the status of this effort.  We now have the backend mostly complete (a few issues remain) and should get started on the UI work as well as finishing the backend.

[2017-04-18 22:30] timabbott commented on #4540
`M` = `mute` right now.  We can probably start with something like `O` for `condense` and plan to iterate from there; I suspect this hotkey won't have a huge following at first, and so we can probably afford to change it in the future.  But I think it's worth getting opinions on #design on this one to see if we can pick something that feels great to folks :).

[2017-04-18 22:35] rishig opened #4542 "integrations: Add pages for hubot integrations."
Two issues:
* The links to "Hubot" in the "Integrations available via Hubot" section of the `integrations/` page are broken.
* Clicking on any of the boxes (e.g. Assembla) takes you directly to the github page.

It would be great to add a `integrations/#assembla` page, and similarly for the rest. People ask whether "Zulip supports X" (where X is something like voice calls, screensharing, etc), and

[2017-04-18 22:36] timabbott commented on #4542
The first item seems likely to be a regression in @TomaszKolek's recent refactoring that we should fix quickly.

[2017-04-18 22:53] timabbott commented on #4256
Closing it for now; @rishig if you see this in prod, I think we're interested in (1) the circumstances that got you there and (2) whether `stream_list.update_streams_sidebar` fixes it.

[2017-04-18 22:53] #4256 closed

[2017-04-19 00:06] timabbott commented on #3662
This issue is still open.

[2017-04-19 00:07] timabbott commented on #3657
There's some good work on this in https://github.com/zulip/zulip/pull/3743, which I've closed.  @HarshitOnGitHub I encourage you to pick up finishing this!

[2017-04-19 01:27] synicalsyntax commented on #4522
It actually is in https://chat.zulip.org/help/send-a-status-message, maybe we should merge the two pages?

[2017-04-19 01:28] lonerz commented on #4522
@synicalsyntax seems like the case, you want to just take this issue?

@zulipbot abandon

[2017-04-19 04:04] umairwaheed commented on #1977
Yep.

[2017-04-19 04:05] umairwaheed commented on #1977
After we merged this: https://github.com/zulip/zulip/pull/4534.

[2017-04-19 04:11] timabbott commented on #4522
For /help/, I can imagine still having a link to "send a status message", but it should probably just go to a section of the formatting page, yeah.

We probably want to add something to the in-app help as well.

[2017-04-19 04:13] #1977 closed

[2017-04-19 04:56] timabbott commented on #4423
@glyph have you been seeing that happening in a repeat fashion?  There are some cases that could cause that which are hard to avoid, involving being off the Internet when the app auto-reloads after unsuspend.  But obviously if it's happening more than a tiny fraction of the time, we should figure out how to tune the reload to wait until the device is on the internet (or something).

[2017-04-19 05:05] timabbott opened #4545 "Fix local storage leak from automatic reload system."
When reloading a browser, we store in local storage some data to be accessed again as soon as it finishes loading.  However, if the reload fails, we never garbage-collect the old values.  See, for example:

![image](https://cloud.githubusercontent.com/assets/2746074/25163977/d5135168-2482-11e7-949e-152af717cb19.png)

We should do something similar to #4443 to clear these extra items, probably call

[2017-04-19 05:59] glyph commented on #4423
I've seen it a couple of times, but since the Electron upgrade I've seen it far less frequently.

[2017-04-19 06:00] glyph commented on #4423
There are notifications in macOS that tell you when the Internet shows up and goes away.

(By the way, if you're actually loading assets from the web and not locally in a bundle, do you have the Sandbox option enabled? https://github.com/electron/electron/blob/master/docs/api/sandbox-option.md)

[2017-04-19 06:12] timabbott commented on #4423
@akashnimare FYI, but we should probably move this discussion to the zulip-electron project (aka the desktop app project).

[2017-04-19 06:26] #4197 closed

[2017-04-19 06:32] lonerz opened #4547 "Document navigation in emoji reactions popover."
We just pushed navigation with arrow keys in emoji reactions #4343. Now, we need to document this!

We should add how to navigate the emoji reactions popover using arrow keys in our article about how to add emoji reactions.

[2017-04-19 06:48] glyph commented on #4423
Is there a relevant specific issue? Or should I re-file this same one?

(In the meanwhile, the relevant APIs are described here: https://developer.apple.com/library/content/documentation/Networking/Conceptual/SystemConfigFrameworks/SC_ReachConnect/SC_ReachConnect.html)

[2017-04-19 07:36] huneau commented on #3903
thx :), the only way is to tweak the DB. (waiting for zulip 1.6 that should solve this issue)

[2017-04-19 14:09] huneau opened #4549 "Unofficial winston zulip contribution"
Hi there,

I create a unofficial winston-zulip for log : https://github.com/huneau/winston-zulip

[2017-04-19 14:47] geeeeeeeeek opened #4550 "Internal Server Error When Signing in With GitHub"
Steps to Reproduce:
1. Open Zulip Electron or browser, and then enter `https://chat.zulip.org`.
2. Choose `Sign in with GitHub`.
3. Boom.

![screen shot 2017-04-19 at 10 33 57 pm](https://cloud.githubusercontent.com/assets/7262715/25185783/db0ee432-2550-11e7-9670-599c00fee20b.png)

Failed Request:
[code]

This error happens to me 100% time and thus I cannot sign in.

[2017-04-19 14:50] hollywoodno commented on #2278
At one point I was able to reproduce the problem and track where the bug may have been. But, then I was unable to save edited drafts. I think there were some changes to Zulip that opens a print screen when trying to save an edited draft of a failed message. I have had to put this on hold due to time.

[2017-04-19 16:08] showell commented on #4379
It may make sense to automatically list the admins on the guidelines page, although we should consider this carefully.  (Often, the folks who administer the site aren't necessarily the true "hosts" of the site in terms of setting policies.)

[2017-04-19 16:19] #4309 closed

[2017-04-19 17:08] timabbott commented on #4549
I assume winston is https://github.com/winstonjs/winston ?  You might want to expand your README.md to make more clear what the things are, and to add instructions for setting it up.

On the Zulip project side, I feel like we should probably have a page in our documentation that collects things like this.

[2017-04-19 17:28] #2373 closed

[2017-04-19 19:33] brainwane commented on #3128
I just ran into this page when trying to log into a new Zulip instance, and I was confused -- I initially thought that the point was that I should put in the email addresses of the other people in my groups. Some clearer phrasing, explaining that the user should put in *her own* email address to get a reminder of what orgs she's in, would be great!

[2017-04-19 19:35] timabbott commented on #3128
I think @brockwhittaker is making progress on making this page a lot nicer.

[2017-04-19 19:47] brainwane opened #4552 "Make login/registration using GitHub authentication more seamless"
My steps:

* I went to https://wikimedia.zulipchat.com for the first time as a new user who hadn't registered for that instance yet.
* I clicked the "log in with GitHub" button.
* I confirmed that I wanted to allow the GitHub auth.
* The next page was https://zulipchat.com/find_my_team/ , which was confusing since I had come through the `wikimedia` team.
* I was a little confused (#3128) but enter

[2017-04-19 19:49] timabbott commented on #4552
Thanks for the great bug report!  We should probably turn GitHub auth off by default on zulipchat.com, since it's not fully baked.

@umairwaheed is working on fixing that.  @brockwhittaker FYI since some of this feedback in relevant to the login form work you're doing.

We should prioritize these issues.

[2017-04-19 19:53] brainwane commented on #2093
@Shayan-To is writing [a Zulip client library for .Net as a portable class library](https://github.com/Shayan-To/ZulipClientApi).

[2017-04-19 19:57] brainwane commented on #4379
When we document this feature, it would be great to suggest to the administrator a few things to put in this kind of guidance, e.g.,

* what the community norms are, such as a Code of Conduct
* who to contact in case of xyz (e.g., who tends to be available at what times)
* streams users should stay subscribed to, and/or to avoid spamming since everyone's in them

[2017-04-19 22:06] rishig opened #4553 "email: Change sender and subject of missed message emails."
Currently, if there is a Huddle message with A, B, and C, and B and C have a bit of a conversation while A is away, A will get missed message emails with two different subjects: "Missed Zulip from B" and "Missed Zulip from C". Each email thread will have half the conversation.

It'd be great to change the missed message emails as follows:
* The sender should be "Zulip Missed Messages"
* The subjec

[2017-04-20 01:09] showell commented on #4460
This has been fixed. Closing.

[2017-04-20 01:09] #4460 closed

[2017-04-20 02:33] rishig commented on #4508
Updated plan:

First sort by: Matches beginning of stream name, Matches beginning of any word in the stream name, Matches any substring of stream name, Matches beginning of word in the stream description.

Within each bucket, sort by left sidebar order.

[2017-04-20 03:57] umairwaheed commented on #4552
@brainwane, working on the resolution here: https://github.com/zulip/zulip/pull/4503.

[2017-04-20 03:57] umairwaheed commented on #4550
Hey @geeeeeeeeek, thanks for the bug report. Working on a resolution here: https://github.com/zulip/zulip/pull/4503.

[2017-04-20 05:18] #4376 closed

[2017-04-20 06:51] geeeeeeeeek commented on #4550
@umairwaheed Thanks. If it has been reported, you can close it as a duplicate.

[2017-04-20 15:22] sarahcstringer commented on #3854
There was one more area I encountered in home.py where I thought we could use the Realm.property_types structure -- would removing the 'realm_*' from page_params_core_fields and inserting `page_params_core_fields.extend(['realm_'+prop for prop in Realm.property_types])` be helpful, or is it better to explicitly write out each realm property in the core_fields list?

[2017-04-20 16:58] timabbott commented on #3854
I think the plan is actually to eventually remove `page_params_core_fields` to just match the stuff in `register_ret` once we've normalized the format of `page_params` to stop renaming things.  So I think we can leave that effort to be resolved as part of #3853.

[2017-04-20 16:59] sarahcstringer commented on #3854
Sounds good, thanks!

[2017-04-20 18:43] brainwane opened #4557 "Password reset request sends link for wrong zulipchat.com subdomain"
My steps:

* Went to https://wikimedia.zulipchat.com and clicked "register".
* Entered my email address.
* Was told I already had an account and that I should enter my password.
* Clicked "forgot password", entered the email address, and clicked the reset button.
* Got to https://wikimedia.zulipchat.com/accounts/password/reset/done/ and was told I'd get an email to help me do the reset.
* Received

[2017-04-20 21:49] #4218 closed

[2017-04-20 22:09] grahamegrieve opened #4560 "After upgrade to Zulip 1.5.1, Desktop App Message entry is half-width"
After upgrade to Zulip 1.51, the message entry box has shrunk:

![zulip-message-entry](https://cloud.githubusercontent.com/assets/5858581/25254617/d054e7a2-2669-11e7-8168-435c6f1c8d7b.png)

It still looks right in the direct web client (at least, in Chrome)

[2017-04-20 22:13] timabbott commented on #4560
Try switching to the electron app? https://github.com/zulip/zulip-electron/releases ; it's a complete rewrite and will be the only supported desktop app soon.

[2017-04-20 22:19] grahamegrieve commented on #4560
Yes that works fine

[2017-04-20 22:19] #4560 closed

[2017-04-20 22:48] showell opened #4561 "Create welcome message for new streams."
When a new stream is created, we should automatically generate a message to the stream with the topic "welcome" that welcomes new subscribers and, if there is a description, announced the description of the stream.

This message will prevent some zero-streams-in-stream problems, such as making it hard to get a conversation started (nothing to reply to) and showing up in the wrong place in the stre

[2017-04-20 22:55] rishig opened #4562 "message edit: Remove "Topic" and "Content" labels"
The message edit form currently looks like:
![image](https://cloud.githubusercontent.com/assets/890911/25255789/8770ba30-25e1-11e7-88a9-6fdf9c21400b.png)

It would be great to remove the "Topic" and "Content" labels to reduce some of the extra height in this form. (Eventually this form will be replaced by something that looks more like the compose box, but that is going to be a long time coming.)

[2017-04-20 23:15] #3300 closed

[2017-04-21 01:15] timabbott opened #4564 "Add /icon.png endpoint for getting the icon for a given realm with REALMS_HAVE_SUBDOMAINS"
See https://github.com/zulip/zulip-electron/pull/140#discussion_r112591533 for context.

[2017-04-21 06:42] cory2067 commented on #4562
Ok, I'll hop on this real quick.

[2017-04-21 06:44] lonerz commented on #4562
@cory2067 can you claim this by commenting `@zulipbot claim`?

[2017-04-21 06:44] cory2067 commented on #4562
@zulipbot claim

[2017-04-21 07:40] lonerz opened #4569 "A/D hotkeys cannot cross <hr> that separate active/inactive streams"
Using the A/D hotkeys I cannot go from active streams to inactive streams. I can only iterate through the streams of the same activity, all active or all inactive.

I'm pretty sure this is not the wanted behavior.

[2017-04-21 09:22] huneau commented on #4549
hi there,

I update the doc.

[2017-04-21 17:28] misteraverin commented on #374
@timabbott  Let's take best practices from Vkontakte social netowrk (the biggest in Russia).

1. Preventing name change isn't reasonable, as we have first name + last name, not nickname like on github.
2. Show only 5 results can cause problems in large streams. We can make thin scroll or write on the top of suggestion that you can navigate up and down with tab button.
3. About @-mentions encoding,

[2017-04-21 17:54] timabbott commented on #4569
Yeah, that's a bug.  We had a similar issue in the gear menu that we fixed not too long ago that I think @brockwhittaker fixed.

[2017-04-21 18:16] timabbott commented on #3968
#4006 completed much of this vision, but introduces the problem that we show the author name twice in the event that someone is pushing commits they wrote themselves.  My theory is the feedback of seeing how this works out on chat.zulip.org will be useful, and hopefully we'll have a chance to fix that issue in the next couple days.

[2017-04-21 18:26] tommyip commented on #4444
The Zulip user experience on iPad is not great, there are a few major styling issues and the UI is fairly slow in general.

[2017-04-21 19:33] brainwane opened #4571 "Make #zulip a default stream"
Organizations of more than a few dozen people generally benefit from having a `#zulip` stream where users can get help and share tips on how to use Zulip effectively. So let's add `#zulip` to the default streams, along with a stream description like "get help and share tips on how to use Zulip effectively".

[2017-04-21 19:48] brainwane opened #4572 "Consistently prefix # before stream names across UI?"
We seem to be moving towards canonically referring to the names of streams with a prefixed `#`; we use it to trigger the typeahead search to autolink stream names, and we use it in `#**streamName**` when a user manually types out the reference, and in some other places.

But we are not super consistent about this. We don't use it in the stream names in the lefthand stream list/navbar, or in the re

[2017-04-21 20:02] brainwane commented on #2329
A lightweight way to tag messages is also being discussed in  #1901.

If we really don't want to use `#` because that would clash with linking to streams, then we could choose a different character, like `!`.

[2017-04-21 20:38] cory2067 opened #4573 "message edit: Can horizontally resize past the edge of the page"
If you try to use the resize icon in the bottom right corner of the textarea, weird things can happen:
![image](https://cloud.githubusercontent.com/assets/8433005/25295216/aedbd6c0-26b0-11e7-96b9-fcd12c2da9f0.png)

Since that resize icon is basically nonfunctional besides that, I think it would be be best just to get rid of resize. Alternatively, we could enable vertical resize to make it kind of

[2017-04-21 20:47] #1131 closed

[2017-04-21 20:48] timabbott opened #4574 "Rename tools/lint-all to tools/lint"
This will save some unnecessary typing.

[2017-04-21 20:48] lonerz commented on #4574
@zulipbot claim

[2017-04-21 21:58] #4574 closed

[2017-04-21 23:02] rishig commented on #4573
Thanks @cory2067! Let's enable vertical resize and lock horizontal resize, rather than getting rid of it.

[2017-04-21 23:46] hackerkid opened #4579 "requirements: Update Django to version 1.11"
More details on https://github.com/zulip/zulip/pull/4578

[2017-04-21 23:47] hackerkid opened #4580 "requirements: Update psycopg2 to latest version"
More details on https://github.com/zulip/zulip/pull/4578

[2017-04-22 00:15] hackerkid commented on #971
This does not fix the issue. Even though `zerver.tests.test_upload.S3Test.test_file_upload_s3` is now running fine `zerver.tests.test_auth_backends.FetchAPIKeyTest.test_google_oauth2_token_failure` is failing.
[code]

[2017-04-22 00:18] timabbott commented on #971
That seems more likely to be a problem with that test not working when not on the Internet.

[2017-04-22 05:19] timabbott commented on #4580
@hackerkid can you give more detail on what's complicated about upgrading this one?

[2017-04-22 05:20] timabbott commented on #4572
#4529 will resolve this.

[2017-04-22 05:20] #4572 closed

[2017-04-22 05:25] timabbott commented on #4549
Great!  I guess one option would be to just document it on /integrations/.  See http://zulip.readthedocs.io/en/latest/integration-guide.html for how that works.

[2017-04-22 05:32] timabbott commented on #4557
Yeah, this is a side issue to #4284.  The password reset link is "correct", in the sense that it lets you reset your password for the account that has that email, but we shouldn't be sending a password reset link at all in this case.

@umairwaheed can you take this one?  I think we basically need to replace/wrap `django.contrib.auth.views.password_reset` with a version that only searches user with

[2017-04-22 06:47] rishig opened #4581 "message view: Remove day separator at top of message feed."
Currently we do something like this at the top of every narrow:
![image](https://cloud.githubusercontent.com/assets/890911/25302141/5cddc6c6-26ec-11e7-908c-548c4d796710.png)

The "--- April 18 ---" shouldn't be there.

To investigate, I would start by looking at `timerender.js`, though the actual change needed may or may not be in that file.

[2017-04-22 11:52] brainwane commented on #4572
@timabbott I don't think it will; #4529 only addresses the left sidebar, not the recipient bar or the search UI. @brockwhittaker am I wrong?

[2017-04-22 14:45] hackerkid commented on #4580
The test was failing when I tried to upgrade psycopg2. Here is the failed test https://travis-ci.org/hackerkid/zulip/jobs/224507905. I will try to upgrade it today.

[2017-04-22 15:34] brainwane commented on #3865
@blaze225 I'm actually not sure whether it's *ever* the case that there is *no* user data -- if someone starts a realm from scratch I think there's always at least a few automated welcome messages from "welcome-bot@zulip.com" (or is that only the case on zulipchat.com installations?). Am I missing something?

[2017-04-22 16:28] brainwane opened #4583 "add docs about presence & "active users""
Per [this conversation](https://chat.zulip.org/#narrow/stream/documentation/subject/stats.20.26.20active.20users), we ought to add some kind of docs - even if it's just a code comment -- about our presence system and what the different statuses mean, and we ought to improve `docs/analytics.md` to explain what we mean by "active users" and how that's different from `user_profile.is_active`

[2017-04-22 17:34] timabbott commented on #4581
Retagging this as a bug, since it's ugly and duplicate information (we show the date at the top of the recipient bar now).

The specific code here has to do with `show_date` in `message_group.handlebars`

[2017-04-22 17:46] timabbott commented on #4572
Yeah, the other pieces are in progress in #2973.

[2017-04-22 18:23] #1370 closed

[2017-04-22 18:30] #4327 closed

[2017-04-22 18:43] #1463 closed

[2017-04-22 18:46] timabbott commented on #4580
Ahh, OK.  That looks like a change in how psycopg2 handles null and unicode characters.  I suspect making it work will involve changes in  `_pg_re_escape` (`zerver/views/messages.py`).  We should probably review the psycopg2 changelog to try to understand why.

[2017-04-22 19:23] rishig commented on #3865
Sorry for the delay @blaze225!
@brainwane: We separate out bot messages from human messages, and by default do not show bot messages in the "Messages sent over time" graph.

[2017-04-22 19:46] cory2067 commented on #4573
@zulipbot claim

[2017-04-22 20:34] rishig opened #4587 "drafts: Restore draft should narrow to topic or stream."
When restoring a draft, we should narrow to the topic/PM/stream of the draft if given.
To work on this issue, I would start by looking at `static/js/drafts.js` (and in particular `exports.restore_draft`), and `static/js/narrow.js`.

[2017-04-22 21:35] lonerz commented on #4587
@zulipbot claim

[2017-04-22 22:44] rishig opened #4590 "message edit: Pasting images is broken in message edit."
To reproduce:
* Copy a picture (e.g. a screenshot)
* Paste it into a compose box, to verify you have a picture in your clipboard
* Paste it into a message edit box

Observed behavior is nothing happens when pasting into the message edit box (either when pasting via keyboard shortcut or via right-click -> paste using mouse).

[2017-04-23 02:29] aero31aero commented on #4525
@zulipbot claim

[2017-04-23 04:13] timabbott commented on #4590
I think this probably has to do with not having `jquery-filedrop` attached to the message edit box.

[2017-04-23 06:48] rishig opened #4591 "user settings: Avatar upload broken when you return to settings."
To reproduce:
* Go to Settings
* Upload new avatar
* Exit settings
* Go to Settings

Expected behavior is that you'd see the new avatar, instead you see the old gravitar. Reloading fixes the problem.

[2017-04-23 16:21] boxin-yang commented on #4591
@zulipbot claim

[2017-04-24 04:24] umairwaheed commented on #4557
Sure.

[2017-04-24 13:26] huneau opened #4596 "REST API documentation"
Hi there,

I'm looking for your REST API doc, do you have one, or should I dig your code?

I found [here](https://github.com/zulip/zulip/blob/cf3b6c6ca95d4450f303271a4494c34d4851d591/zproject/urls.py) the code ...

[2017-04-24 18:33] synicalsyntax commented on #4596
Hello @huneau, thanks for your interest in Zulip! We have our API endpoints documented [here](https://zulipchat.com/api/endpoints/). If you have any questions about the documentation, feel free to ask them here.

Closing this issue for now.

[2017-04-24 18:34] #4596 closed

[2017-04-24 20:48] penCsharpener opened #4601 "feature request: unread messages view"
This flows out of topic [home narrow concise view](https://chat.zulip.org/#narrow/stream/design/subject/home.20narrow.20concise.20view)

**scenario**: When coming back to the chat with over 100 missed message. I usually don't mute topics as they are created to frequently to keep up with muting.
So I thought an alternative home view might be useful that groups all the topics together in home with a

[2017-04-24 21:01] timabbott commented on #4601
I think this could be a great project to work on!  Probably a project for a relatively advanced programmer.

We have all the data already present in the frontend, and with some refactoring, I don't think the CSS would be too hard to implement.

Implementation-wise, I think we could implement this as a narrow, using a flag on the `message_list` object to control the fact that we're only displaying

[2017-04-24 21:04] showell commented on #4601
If anybody claims this, we should discuss the design.  I like Tim's idea of making this work like a narrow in some ways--it's more expedient and fits in with the message pane paradigm.  But I honestly believe this feature will be extended in ways beyond a typical narrow, so I'd be more inclined to use a popup, or at least a more tabular presentation.

[2017-04-25 00:07] timabbott commented on #4579
This is probably a moderately high-expertise project.  May not be super hard though; I didn't see much in the Django 1.11 changelog that will be a problem for us.

[2017-04-25 03:15] srish opened #4602 "Feature request: allow admins to view list of invited users and invitation status"
Currently /organization/user-list-admin shows a list of users that have joined the platform. It'd be good to have a list that shows invited users and the invitation status.

[2017-04-25 03:19] lonerz commented on #4602
This is a duplicate of #1180. Am I right? @srish

[2017-04-25 03:19] rishig opened #4603 "css: Use HSL colors instead of RGB colors in our CSS."
Switching to HSL should improve readability; it's hard to tell what color something is from RGB, but with a bit of practice not that hard from HSL. This should be done by a script; we have too many colors to do it (and test it) by hand.

[2017-04-25 03:24] srish commented on #4602
@lonerz Yup! That's exactly what I meant. Closing this issue.

[2017-04-25 03:24] #4602 closed

[2017-04-25 04:25] #2421 closed

[2017-04-25 05:00] #4557 closed

[2017-04-25 05:46] lonerz opened #4604 "reactions popover: pressing up to go back to reactions filter should put cursor at the end of search"
Currently, when you go down into the reactions via down arrow key and go back up into the reactions filter via up arrow key, the tooltip jumps to the front of the search term.

We probably either want to keep the original position before going down into the reactions grid or just set it to be at the end of the reaction filter.

[2017-04-25 06:07] cory2067 commented on #4603
@zulipbot claim

[2017-04-25 06:50] jackrzhang commented on #4122
Hi all - spoke to @rishig earlier, and I'd be excited to take this up!

@zulipbot claim

[2017-04-25 08:23] huneau commented on #4549
Hum, this is not a component for Zulip, it's a component for other applications that want to log message into Zulip.
The most interesting people are winstonjs contributor.

[2017-04-25 17:43] timabbott commented on #4550
This issue is resolved by the parts of #4503 that are already merged.

[2017-04-25 17:43] #4550 closed

[2017-04-25 19:41] cory2067 commented on #4111
@zulipbot claim

[2017-04-25 19:42] cory2067 commented on #4603
@zulipbot abandon

[2017-04-25 19:42] CestDiego commented on #4404
@zulipbot claim

[2017-04-25 20:48] sinwar commented on #4580
@timabbott In new upgrade, it throws an exception when NUL character is passed as parameter as mentioned here https://github.com/psycopg/psycopg2/pull/459.

[2017-04-25 21:02] timabbott opened #4608 "Inline URL previews don't handle relative URLs in open graph data"
The youtube image that should be here:

![image](https://cloud.githubusercontent.com/assets/2746074/25407489/5855c1dc-29bf-11e7-85c8-6f8b671b84c5.png)

is broken because we're not converting the relatively URL (starting with `/`) they provide in their open graph data into an absolute URL.

Easy to reproduce, just send `youtube.com` in development.

Code should be in `add_embed` in `zerver/lib/bugd

[2017-04-25 21:03] timabbott commented on #4580
Possibly we should just ban null characters in the input to `_pg_re_escape`, then.

[2017-04-25 21:58] mooeypoo commented on #3123
I'm pitching in here, hoping it's not too much wall-of-text.

Supporting RTL can be a complicated endeavor, and it usually involves more than just the textbox itself; I would split this issue to several aspects if you really want to support RTL --

- The interface is one aspect -- how to handle usernames in RTL, topics in RTL, etc. Do you want to allow for translation to the interface itself like

[2017-04-25 21:58] timabbott opened #4609 "Fix left sidebar unread counts alignment issue"
See https://github.com/zulip/zulip/pull/4539#issuecomment-297162134 for the issue; this is a recent regression.

[2017-04-25 22:04] timabbott commented on #3123
@mooeypoo awesome, thanks for the thoughts!

[2017-04-25 22:47] rishig opened #4612 "Standardize tooltip naming style."
We seem to have several different styles/naming conventions for doing tooltips in the codebase. Some don't "scale" in the sense that they don't allow for more than one tooltip in the same view. It would be great to standardize how we do tooltips in a way that will allow folks to just copy-paste from existing code when adding tooltips in the future.

As a part of this, you could add a tooltip to `t

[2017-04-25 22:56] #4505 closed

[2017-04-26 00:02] timabbott commented on #3903
Yeah, sorry about that, we should really get Zulip 1.6 out the door.  If I'd known it would be this long, I'd have done a minor release for this fix.

[2017-04-26 00:05] timabbott commented on #4423
Thanks for the link!  There's only ~20 issues open in the zulip-electron project; I just opened this as https://github.com/zulip/zulip-electron/issues/143 and subscribed you.

Thanks @glyph!

[2017-04-26 00:05] #4423 closed

[2017-04-26 00:08] sinwar commented on #4580
@zulipbot claim

[2017-04-26 00:57] rishig commented on #2278
Thanks for the report @hollywoodno! No worries about putting it on hold; let us know when you are back :). And interesting observation with the drafts; there could well be bugs in this pathway for that system as well.

[2017-04-26 03:54] akhilmd commented on #4249
@zulipbot claim

[2017-04-26 07:38] timabbott opened #4618 "Improve our mechanism for running node to not waste 400ms of startup time using nvm"
Apparently, using node in the Zulip development or production environment carries a ~400ms penalty due to nvm.  You can see it here:

[code]

The reason it's so slow is that we use an nvm-based wrapper to pin the version of node we're using to a fixed version:
[code]

`scripts/lib/install-node` is what creates and installs that file.  I bet we can do some simple templating or to just hardcode putt

[2017-04-26 09:13] umairwaheed commented on #4545
working on this.

[2017-04-26 13:40] showell opened #4621 "Make link-to-conversation copy to the clipboard."
We should make the link-to-conversation menu item in the message menu simply copy the link to the clipboard, rather than opening a new tab or automatically re-narrowing.

(Note: this issue replaces #528, which had gotten a bit cluttered.  You can refer back to it for more context, but it might be easier to discuss this on chat to find the current desired behavior.  There's also an old PR linked th

[2017-04-26 13:41] showell commented on #528
Created a new issue for this.  Closing.

[2017-04-26 13:41] #528 closed

[2017-04-26 15:38] kler commented on #790
I'm hijacking this issue instead of creating a new one.

My question is if it is possible to have a set of users which are **cross realm, but only to some extent**?
I've created an image to better explain.

The image depicts a situation where members of a Support Team can access any number of realms (customers in my case), *however* only a given set (i.e not *all* realms).

**Alt. 1** depicts full

[2017-04-26 15:59] jmandel opened #4622 "Document what the alternative is to subdomain-based realms"
http://zulip.readthedocs.io/en/latest/realms.html provides a fabulous overview of realms. One question that I don't see an answer to is, given the following:

There appears to be some alternative to using subdomains for realms — and this alternative is the default mode. Is it sub-paths? Are they mapped in a transparent, readable way to realm names? It would be good to spell out the example for an

[2017-04-26 16:15] #4545 closed

[2017-04-26 16:55] timabbott commented on #4622
Yeah, we should write this up.  The short story which we can use as notes in updating that doc are as follows:

* With REALMS_HAVE_SUBDOMAINS=False, all the realms on the server (which in most cases is just one, since it's a single-organization server) use the same login page, e.g. zulip.example.com.
  * Users can join via the invitation emails regardless.
  * `zulip.example.com//register/%(string

[2017-04-26 17:03] timabbott commented on #790
@kler actually, I think it'd be great if you posted that as a new issue.  It's a question we get sometimes, and your framing of the question with the picture is excellent.  Then I'll respond there on that canonical post.

[2017-04-26 18:14] kler opened #4623 "Limited cross realm users"
*Originally asked in #790 and thereafter written as a new issue.*

Is it possible to have a set of users which are **cross realm, but only to some extent**?
I've created an image to better explain.

The image depicts a situation where members of a Support Team can access any number of realms (customers in my case), *however* only a given set (i.e not *all* realms).

**Alt. 1** depicts full flexibi

[2017-04-26 18:15] kler commented on #790
New issue #4623 create, thx for quick reply @timabbott

[2017-04-26 18:39] digi0ps commented on #4609
@zulipbot claim

[2017-04-26 18:39] digi0ps commented on #4609
Ooops @timabbott. Will fix a push ASAP!

[2017-04-26 18:40] timabbott commented on #4609
No need: @brockwhittaker ended up fixing this yesterday as part of his left sidebar redesign work (I guess we forgot to close) :)

[2017-04-26 18:40] #4609 closed

[2017-04-26 18:55] digi0ps commented on #4609
Sorry about not responding immediately, I was away from home the whole day. :/

[2017-04-26 19:46] #4508 closed

[2017-04-26 19:47] timabbott commented on #4508
Fixed via 088d88115988eee233d3873caf85d189bb493c32, thanks for the suggestion @dehnert!!

[2017-04-26 20:20] #4282 closed

[2017-04-26 20:31] showell opened #4627 "Enable stream-specific URL filters."
We have a concept of a RealmFilter that allows a realm to say that they want to automatically make conversions like this:

`#112` -> becomes link to GH issue 112
`#333` -> becomes link to GH issue 333

If a realm is dealing with multiple GH accounts (or, more generally, wants to use similar syntax for multiple filters), then it might make sense to allow a filter to be stream-specific.

A good use

[2017-04-26 20:32] showell commented on #4627
Before claiming this issue, start a discussion on chat, as we're not entirely sure about this proposal yet.

[2017-04-26 20:44] timabbott commented on #4609
No worries, nobody's at their computer all the time :)

[2017-04-26 20:59] timabbott commented on #4623
So, this is a thing that a number of folks have asked about.  The short answer is that we don't have direct support for precisely what you describe, but there are a number of similar things Zulip does today, and it would be possible (and something we'd be happy to support) to make it do something closer to that.  Here are some notes:

* Zulip support cross-realm PM messages today.  It's controlled

[2017-04-27 02:27] kkanahin commented on #3942
@zulipbot claim

[2017-04-27 06:59] kler commented on #4623
First I must say that this is one of the most friendly and helpful communities I've came across!
Kudos, Hat's off and Hurray for your participation @timabbott

From what I understand I believe that zulip isn't currently the right tool for my case. I believe I'm looking for more of a help desk system, but without the *issue/ticket*-dimension *(the **#number** makes a system feel too "rigid", much l

[2017-04-27 10:00] huneau opened #4633 "Restapi"
I see something in my homemade java client for zulip:

This is a part of the response header from zulip server:
[code]

how can I tweak that for my personal usage?

and what is the representation of `X-Ratelimit-Reset: 2986572288` in term of time?

`https://192.168.6.50:4430/api/v1/events?queue_id=1493131750%3A21&last_event_id=-1`
Sometimes, I've got a heartbeat in 10 sec sometimes, 1min, there is

[2017-04-27 12:58] huneau commented on #4633
I precise, my user is a bot.
Should I create a subscription for my bot ?

[2017-04-27 13:33] huneau commented on #4633
bot should manually add as subscriber, now it's work

[2017-04-27 13:33] #4633 closed

[2017-04-27 13:37] huneau opened #4634 "Bot read from last message"
Hi threre,

So my bot knows how to read messages but, if my bit application stops because of fail I would like my bot restart at the last message read. I don't see how I can do that.

[2017-04-27 14:19] jmandel commented on #4622
Hmm, this helps. Another question to answer in the writeup: If I have two realms associated with my `zulip.example.com` server, can I choose at login time which one to log into?

[2017-04-27 18:29] timabbott commented on #4622
Yes, by selecting which email address to use on login (since we don't support having the same email associated with multiple realms).

[2017-04-27 18:37] timabbott commented on #4623
Yeah, we've heard from more than a dozen folks who are looking for something like that, so you're definitely not alone.  I think it'd be a great use case for the Zulip model, and I think that's likely to be something that the core Zulip community builds eventually (maybe next year).  But like many features, we'd be happy to help someone excited about this feature build it sooner than that.

[2017-04-27 19:06] #3942 closed

[2017-04-27 19:22] jmandel commented on #4622
Perfect! Thanks.

[2017-04-27 23:30] dehnert opened #4638 "Edit history contents overlap with timestamps"
When I view the edit history of messages, the timestamps overlap with the messages. I'm seeing this on a couple different messages with Firefox on Ubuntu and OSX. Sample picture attached; messages in question are around https://chat.zulip.org/#narrow/near/193783/stream/general/topic/edit.20history.
![edit-history-overlap](https://cloud.githubusercontent.com/assets/85198/25508429/f305d23c-2b7f-11e7

[2017-04-27 23:40] dehnert opened #4639 "Editing timeout message persists"
Somehow (I'm not sure how) I ended up with the "This organization is configured to restrict editing of message content to 30 minutes after it is sent." bubble sticking around, AFAICT forever. I'm using Firefox on Ubuntu.
![floating-edit-timeout-message](https://cloud.githubusercontent.com/assets/85198/25508602/335ad3f4-2b81-11e7-9c9b-0fe93b8eb605.png)

[2017-04-28 14:50] showell commented on #4310
There are two fixes pending for this:
* send welcome messages for new streams #4635
* add newly_subscribed field to subscribe event #4643

These fixes mitigate the problem, but they don't completely solve it, since the newly_subscribed field will get cleared after the reload.  We can try out the two fixes and then decide whether they're enough to close this issue.

[2017-04-28 17:53] dakshshah96 commented on #4603
@zulipbot claim

[2017-04-28 18:22] timabbott commented on #1527
This was completed by @brockwhittaker recently.  Though I think there's still an open PR for polishing it.

[2017-04-28 18:22] #1527 closed

[2017-04-28 18:32] timabbott opened #4645 "Improve open graph preview formatting meta issue"
Zulip has this cool open graph website previews feature, but it needs some work before it makes sense to enable it by default:

* We want a realm setting to disable them on a list of domains (which on chat.zulip.org would probably include github.com).
* We probably don't want to display them at all when there's no image in the open graph data (it doesn't look good)
* Already opened an issue for th

[2017-04-28 18:33] dehnert commented on #4639
FWIW, that screenshot makes it look like the bubble is at the edge of the
window. When I put it back on the monitor I was originally working on,
it's vertically inline with the (?) icon for learning more about the edit
timeout.

Also, sometime in the last day the bubble seems to have vanished. I'm not
sure when, or whether I reloaded in the interim.

[2017-04-28 19:20] #4573 closed

[2017-04-28 19:23] timabbott commented on #4634
I assume you're using the `call_on_each_message` API?  You can just track that last message ID that you received and store that in a file, and then on starting, do a `get_messages` call for messages after that message ID.  And then once caught up, start the `call_on_each_message` again.

[2017-04-28 21:02] showell opened #4647 "Fix all the dead code related to #subscriptions-status."
The `#subscriptions-status` element was killed off as part of our late-2016/early-2017 redesign.

Unfortunately, we still have 22 references to it in our codebase.

We should clean these all up by using more appropriate error handling.

[2017-04-28 22:46] #3074 closed

[2017-04-29 00:23] #4111 closed

[2017-04-29 00:24] timabbott opened #4650 "Eliminate compose.check_unsubscribed_stream_for_send synchronous check"
Following up on #4648, I think it may be time to kill that synchronous check in compose.

If we don't want to regress anything, doing that requires a bit of care. We definitely don't need to talk to the server in order to check whether the stream exists; the Zulip event system handles that.

However, the autosubscribe feature is still relevant; it's for the narrow_stream feature (/?stream=android)

[2017-04-29 00:47] #3629 closed

[2017-04-29 03:52] lonerz opened #4651 "Clicking link that is a search term opens compose box"
When a search term is linked and you click on it, it opens the compose box.

For example, search [chiron](https://chat.zulip.org/#narrow/search/chiron).

Click the link above which takes you to the search link. Then click the highlighted link (because it matches the search term) again to open link in new tab AND it opens the compose box.

[2017-04-29 03:55] timabbott commented on #4650
Note e0954d8811701f2a7062309611b386b7d7d404a3 renamed the relevant function.

[2017-04-29 03:57] #4562 closed

[2017-04-29 09:06] Shayan-To opened #4653 "Regex on auto-linkification is too much restricted"
What I want to do is something like `[aA][bB][cC]!(?P<id>[0-9]+)`, but it doesn't allow both the `!`, and the `[aA]` thing.

[2017-04-29 19:39] TAAPArthur commented on #4507
@zulipbot claim

[2017-04-29 20:40] cory2067 commented on #4639
Was able to reproduce:
- Hover over the edit timeout icon
- Without moving the mouse, use some keyboard shortcut to navigate somewhere else (such as Shift+A to change stream, or backspace to go back)
- Bubble persists until reload

I assume there's some kind of `mouseleave` event that deletes the bubble, but navigating away with the keyboard doesn't trigger that event.

[2017-04-29 22:00] timabbott commented on #4653
The reason behind the restrictions in the regular expressions is to prevent potential security issues (e.g. DoS problems).  I think it's very possible that a better design could be developed that offers more power without increased risk of security problems.

[2017-04-30 06:02] bgilbert opened #4655 "Unread count in bankruptcy modal doesn't match unread counts elsewhere"
I unsubscribed from some streams which still had unread messages in them.  I then caught up on all other streams by narrowing to them.  Result:

- The favicon, the page title, and the "Home" row in the stream list pane all claimed that I had 0 unreads.
- Upon reloading the page, I was offered to declare bankruptcy on 950+ unreads.
- Upon declining bankruptcy, the home view scrolled to old unread m

[2017-04-30 22:09] YagoGG opened #4657 "TeX summations display incorrectly"
# Description

Using the `\sum` command in centered display TeX math causes some strange overlapping because the sigma symbol is misaligned.

# Steps to reproduce

1. Send a message containing the following:

[code]

2. The following appears:

    ![TeX summation overlapping](https://cloud.githubusercontent.com/assets/7356565/25568386/0b88deb0-2e02-11e7-92be-f44783477f1f.png)

# Additional informa

[2017-04-30 22:20] #4122 closed

[2017-04-30 22:28] timabbott commented on #4657
I wonder whether there's some sort of conflict with some of our other CSS (e.g. pygments also uses a lot of short-named CSS classes).

[2017-04-30 23:43] #4308 closed

[2017-05-01 00:04] rishig opened #4658 "bugdown: Don't pull images for image files at github.com and similar sites."
If you send a message with the following URL in zulip, you'll get a broken image:
https://github.com/zulip/zulip/blob/master/static/images/logo/zulip-icon-128x128.png

That's because our markdown processor thinks anything that ends in `.png` is an image file.

There are two steps to solving this issue:
* Brainstorm a list of sites that have URLs ending in image file names that aren't actually the

[2017-05-01 02:50] cory2067 commented on #4657
Playing around a bit, on Zulip, if you disable this `line-height` attribute, then the sigma renders correctly.
![image](https://cloud.githubusercontent.com/assets/8433005/25570875/14332bb6-2df7-11e7-8847-2cb6ef0af756.png)

Interestingly, if you look at the CSS on the KaTeX website, `.katex-html` does not have a `line-height: initial` attached to it. Maybe we need to update our CSS for KaTeX or som

[2017-05-01 04:23] timabbott commented on #3295
@babhishek21 @hackerkid is one of you working on this?

[2017-05-01 04:43] gnprice opened #4659 "Message area can scroll right, into blank space"
When scrolling around the main view with my touchpad, rather than keys like PgUp/PgDn or a scroll wheel, I'll naturally often scroll to the side a bit.

When I do, I find I can scroll rightward over the messages -- all the messages move left, exposing blank space to their right that moves into the message area. This works to a finite distance which is a little more than half the width of the messa

[2017-05-01 04:47] timabbott commented on #4659
Can you try scrolling up to see if you have a message that has an incorrect right overflow?

Usually problems like this are caused by some specific message that is overflowing incorrectly.

[2017-05-01 04:48] gnprice opened #4660 "Scrolling through messages fast with touchpad flashes gray rectangles"
If I scroll quickly up and down through the main view using my touchpad, I get conspicuous flashes of gray where a bunch of newly-scrolled-in messages will just be gray rectangles for like 100ms before they properly render. This is in Chrome on Linux.

This doesn't happen if I use the keyboard (PgUp/PgDn), no matter how fast I go.

This often doesn't happen if I've already scrolled around the same

[2017-05-01 04:51] gnprice commented on #4659
Aha, indeed -- it's this message:
https://chat.zulip.org/#narrow/near/193588/stream/twitter/topic/zulip
The long link in the tweet overflows the message box.

If I narrow to some other stream like `#general`, the issue goes away.

[2017-05-01 04:56] timabbott commented on #4659
Cool, yeah, we're probably missing an `overflow-x: scroll` somewhere in the Twitter card CSS.

[2017-05-01 04:57] timabbott commented on #4659
(Probably best to debug this on chat.zulip.org using that link, rather than in a development environment, since one would need to setup the Twitter API keys to get this to happen in development)

[2017-05-01 04:58] timabbott commented on #4660
Yep, this is known; this is a release blocker for Zulip 1.6.  Turns out to be an odd artifact of the way we're scaling the images in emoji reactions (isn't CSS fun?).  Will be fixed indirectly by #3895, which changes how we do our sprite sheets.

[2017-05-01 04:59] gnprice commented on #4660
Huh! Curious.

Is there an existing issue for this? I looked but didn't find one with the search queries that came to mind.

[2017-05-01 05:04] timabbott commented on #4660
I think there isn't; this is a rare case where we've been sloppy about updating the issue tracker.  When we figured out the root cause a month ago, I just posted https://github.com/zulip/zulip/pull/3923#issuecomment-287881429 and made sure that PR got priority.  We thought this would be finished quickly at the time, but it hasn't worked out that way :(.

[2017-05-01 07:37] babhishek21 commented on #3295
I tried contacting @hackerkid on Zulip chat, but couldn't get a reply.  I can't work on this issue this month (I wish I could but I graduate from University in June, so this month is going  to very tight 😥).  If someone wants to work on this please feel free. If it remains unresolved by the time I'm back in June, I'll take a look at it. ☺️

[2017-05-01 11:47] kkanahin commented on #2559
@zulipbot claim

[2017-05-01 15:43] TAAPArthur commented on #4507
@zulipbot unclaim

[2017-05-01 21:13] timabbott commented on #4657
Cool, worth testing whether we can just get rid of it.  @YagoGG do you remember why we added that CSS?

[2017-05-01 21:14] strugee opened #4663 "Tooltips on recipient bars"
Currently in the headers for messages showing what topics those messages are under, there's a datestamp that says "Apr 25" or whatever. It's be nice if, when I hovered over this, it showed the day of the week, the full month name and the year.

<3

[2017-05-01 21:17] timabbott commented on #4663
Nice idea!  I imagine this should be pretty easy to add.

[2017-05-01 21:18] lonerz commented on #4663
I'm assuming this is the header @strugee?
![screen shot 2017-05-01 at 2 17 19 pm](https://cloud.githubusercontent.com/assets/12992571/25595255/f8c14dd6-2e78-11e7-9112-01d7f55d2ed2.png)

[2017-05-01 21:27] strugee commented on #4663
@lonerz that's the one!

[2017-05-01 21:54] timabbott commented on #4663
Updated the title to use the name "recipient bar", which that's what we call them in the development community :).

[2017-05-01 21:56] #1134 closed

[2017-05-01 22:52] timabbott commented on #4655
Yeah, so there's a few things going on here:

* The bankruptcy modal does a reasonably accurate approximation for perf reasons: https://github.com/zulip/zulip/blob/master/zerver/views/home.py#L61
* It takes time for the web app to catch up on history if you have very old unread messages, since we start with ~ the first unread messages in your home view and fetch forward in batches of 400.  That ex

[2017-05-01 23:42] #1714 closed

[2017-05-02 00:20] #4525 closed

[2017-05-02 04:01] bgilbert commented on #4655
The unread count wasn't merely slow to update; it stayed firmly at 0.  (And the oldest unreads were pretty close to the top of my home view.)  But yes, as I understand the situation, marking the newly-unsubscribed messages as read should prevent what I was seeing.

[2017-05-02 06:05] aero31aero commented on #4658
The brainstorming strategy does not sound like a nice way forward, IMO. Here's an alternative:

[code]
Code from [stackoverflow](http://stackoverflow.com/questions/29047316/how-to-test-if-a-webpage-is-an-image). Sadly, this would not work in python 3 but some similar approach must exist.

[2017-05-02 06:18] rishig commented on #4658
Thanks for looking into it! I should have mentioned: we probably want to avoid the perf hit of making the extra

[2017-05-02 06:39] timabbott commented on #4639
Yeah, seems plausible.  Probably just means we need to call some sort of tooltip destroy function when closing settings.

[2017-05-02 06:44] #4580 closed

[2017-05-02 07:25] aero31aero commented on #4658
@zulipbot claim

[2017-05-02 14:30] huneau commented on #4634
Hi,

I spent a couple of time to understand the API, and I think something is missing.

I use 2 streams, one for my application logs and one for the zulip anchor
So, the algo :
[code]

It's work fine, but if my bot fail. when I restart the bot at the `1` return the last message, it's probably a message from logs stream and not anchor stream.

Why the get message return the last message of any stre

[2017-05-02 20:16] vbNETonIce opened #4666 "bug: emoij picker search is case sensitive"
emoij picker search is case sensitive

but it shouldn't be

also @timabbott said in the [zulip chat](https://chat.zulip.org/#narrow/stream/issues/topic/reactions.20picker):
[code]

[2017-05-02 20:16] cory2067 commented on #4666
@zulipbot claim

[2017-05-03 01:30] showell commented on #4310
There's been progress on this:

- New streams get a welcome message, so they are active out of the gate.
- Newly subscribed users get a flag set when the subscribe event comes in, so the stream appears active to them until reload.

More follow-ups could be:
* We have a 10s idle before loading all old message.  We could reduce that idle to 1s.
* We may need a permanent solution for newly subscribed

[2017-05-03 05:06] rishig commented on #4658
Thanks for looking into this @aero31aero!

I should have been clearer in the original issue description, but basically we don't want the latency of making a request to another site during the message rendering process.

I think a better thing to start with than what I had originally proposed would be to actually just make this work in the github case, by having the image url be the actual blob. Yo

[2017-05-03 07:10] jorisroovers opened #4668 "Upgrade gitlint to 0.8.2 to deal with aggregate exit code issue"
Zulip uses gitlint 0.8.1 which has a bug in that it doesn't aggregate the exit code when linting multiple commits.
For details, see here: https://github.com/jorisroovers/gitlint/issues/27

This issue has been fixed in gitlint 0.8.2. The fix for zulip is as simple as bumping the version in https://github.com/zulip/zulip/blob/cf001876d4fa747a190fb1f7222c67dd9389fa3c/requirements/dev.txt#L25

I'd do

[2017-05-03 12:27] tommyip commented on #4668
We have temporarily disabled Gitlint due to a few problems (not with Gitlint itself):

- CI pipeline: We pass Travis' `TRAVIS_COMMIT_RANGE` to Gitlint for linting, but it is not super consistent and sometimes includes tons of other commits unrelated to the PR which slow the CI build down.

- Making sure commit title uses imperative mood. Making this work is quite a bit of a challenge, we have trie

[2017-05-03 14:42] aero31aero commented on #4658
Understood. I was thinking of ways around the whole making a request latency issue, but couldn't. I'll convert the URL for GitHub specifically for now.

In the meantime, could the checking part be added in JS so that such image previews can be removed from the DOM even after BugDown rendering them?

[2017-05-03 16:35] Lplenka opened #4669 "Reduce size of user-info pop-up for screen width less than 600px"
I was checking out the web-app's UI in my mobile.
Found this issue. The size of pop-up showing user info by clicking the user name should be reduced for mobile devices, especially for screen size less than 600px.

![userinfoissue1](https://cloud.githubusercontent.com/assets/13533873/25671083/73b28832-304c-11e7-81dc-12dfa9d4af82.jpg)
![userinfoissue2](https://cloud.githubusercontent.com/assets/1353

[2017-05-03 17:48] showell opened #4671 "Eliminate GROUP PMs widget."
We should eliminate the GROUP PMs widget that is below the buddy list in the right sidebar.

One possible prerequisite to eliminating the widget should be for us to have activity circles near items in the "Private Messages" section.  Before removing the section, discuss on chat whether we truly need even that to eliminate the widget.

[2017-05-03 18:05] showell opened #4672 "Reduce real estate for Home/Starred/Mentioned"
Before working on this ticket, we need to get consensus on the best approach here.

Three out of the four links in the upper left sidebar are really just quick shortcut links to narrow views:

* Home
* Starred messages
* `@`-mentions

We could put all three in a single line with an icon-bar sort of approach.  The only tricky thing here is figuring out how to make the unread counts still be easily

[2017-05-03 18:12] showell opened #4673 "Create a hide-boring-threads toggle UI in the left sidebar."
For folks who have lots of stream subscriptions and use the left sidebar to catch up on messages, it's annoying that you can't skim just streams with unread counts.

We could create a little button that hides "boring" streams (i.e. streams with all messages read).

Before doing this task, make sure you get consensus on the best approach.

[2017-05-03 18:52] showell opened #4674 "release QA: test create-realm experience"
Before we release 1.6, we should test /create_realm to make sure it works nicely in light of some recent changes.  In particular, we want to look at what happens in the left sidebar after these two actions:

* Create the realm in dev using /create_realm
* Immediately reload the page.

The behavior that we expect to be possibly quirky is how we show active streams in the sidebar.  Streams are inact

[2017-05-03 20:40] timabbott commented on #3460
@HarshitOnGitHub do you want to claim this issue?

[2017-05-03 21:14] rishig opened #4676 "Strengthen check for name validity."
Currently `zerver.lib.users.check_full_name` is more lax than the RFC standard for the `name` part of `name <email>`. We'd like to be able to send emails to users using `UserProfile.full_name` for `name`.

This involves a few steps:
* Figure out what the standard is, and if python already has a library that implements this check. Maybe in the `email.header` or `email.utils` modules?
* Add this che

[2017-05-03 21:52] #4660 closed

[2017-05-03 22:18] rishig opened #4678 "bugdown: Frontend echo puts extra line space in quote with #."
To reproduce, use the following message, with ' replaced with `.
[code]

The frontend renders it with what looks like 1.5 line spacing, which is then fixed once we get the result from the backend.

You need the `#` to get the incorrect behavior.

[2017-05-03 22:43] aero31aero commented on #4673
Instead, how about providing a 'sort-by' drop down on top of streams list with values like:
- alphabetical (default)
- most unread
- <add more cases if needed in future>

[2017-05-03 23:14] aero31aero commented on #4608
@zulipbot claim

[2017-05-04 03:59] kkanahin commented on #2559
@timabbott,
Supervisord doesn't allow to reload applications. It just contains the interface for restarting programs through stop-start command. It means, that when we send HUP signal to uWSGI through supervisor it start reloading child processes, but the master process still alive. Supervisord is waiting for application stopping at this moment and kills the master process after `stopwaitsec` peri

[2017-05-04 04:00] kkanahin commented on #135
@zulipbot claim

[2017-05-04 13:43] penCsharpener opened #4685 "feature request: show somewhere the number of commits a build has"
it's great to be able to upgrade zulip from git master branch. However it would be a logical addition if version.py or zulip/about could somewhere note how many commits were on github when the git upgrade was done. This way it's easier to know how many commits a server is behind the latest master.

right now Zulip 1.5.1 is more than 2000 commits behind master. But if we upgrade since then I can on

[2017-05-04 14:20] timabbott commented on #4685
You can do this with: `git log --pretty=oneline 1.5.1..HEAD | wc`

I suppose it wouldn't be crazy to log that value when an upgrade is done an include the result in the reported version number.  I think the way I'd do it is to make `update-prod-static` write out a file containing the number, and then `version.py`, being Python, would read that in on startup and set `ZULIP_VERSION` accordingly.

[2017-05-04 14:23] vbNETonIce commented on #4685
cool. sounds great. now only someone who really understood what you wrote needs to claim the issue ;-)

[2017-05-04 19:11] PhilSk commented on #3992
@zulipbot abandon

[2017-05-04 19:20] timabbott opened #4686 "Subscribe offer shows up immediately after renaming a stream when narrowed"
This is a bug, triggered by being narrowed to a stream+topic and renaming the stream, and then exiting the streams modal (while still narrowed):

![image](https://cloud.githubusercontent.com/assets/2746074/25721026/d7a4c70c-30c3-11e7-94f4-6567e5a434b9.png)

While we're at this, we should clean up that styling for that text (at least the `---` should go).

[2017-05-04 23:39] timabbott commented on #1506
Thanks to @hackerkid, this is now complete, and will be in the Zulip 1.6 release.

Thanks @timapril for the feature request!

[2017-05-04 23:39] #1506 closed

[2017-05-04 23:43] showell commented on #4686
@zulipbot claim

[2017-05-04 23:54] #4608 closed

[2017-05-05 01:45] evantey14 commented on #4360
@zulipbot claim

[2017-05-05 02:48] timabbott commented on #4669
I think it might be reasonable to just move where the popover appears to be more centered.

I guess while we're working on this responsiveness issue, we should also see if we can shrink the compose buttons area to fit in 1 line.

[2017-05-05 15:26] tejaskasetty commented on #4604
I feel its good to set it to be at the end of the reaction filter. Because if we are editing the input in the middle we will usually finish it and would never want to go there. So, most of the time (not always) we will want it to be at the end when we comeback from the reactions.

[2017-05-05 15:33] #1212 closed

[2017-05-05 15:37] tejaskasetty commented on #4604
@zulipbot claim

[2017-05-05 16:54] #4480 closed

[2017-05-05 17:06] tommyip commented on #4668
Upgraded to 0.8.2 in 19adf2e3277c56fb3268f4003fa07a19e2aceb85 .

[2017-05-05 17:14] timabbott commented on #4668
The original issue is resolved, but before we can really use `gitlint` in CI, we need to resolve at least the `TRAVIS_COMMIT_RANGE` issue.  The problem there is that if you force-push an update to a PR, `TRAVIS_COMMIT_RANGE` will be the range from what used to be in the PR to what is now in the PR, and the starting point of that range will not be present in the repository that Travis generates.

I

[2017-05-05 17:14] #4668 closed

[2017-05-05 17:17] rishig opened #4691 "email: Make HTML versions of emails that don't have it."
All of Zulip's email templates are in `templates/zerver/emails/`. If you `ls` that directory, you can see that some of the emails have `.txt` and `.html` versions, and some only have `.txt` versions. As a part of a larger project to standardize the look and feel of Zulip's emails, it would be great to add html versions of the emails that don't have one.

You can copy the html header and footer fro

[2017-05-05 17:18] showell commented on #4604
I edited the title to say "cursor" instead of "tooltip," since "tooltips" didn't seem to be the issue here (or maybe it's just a confusing synonym for "cursor"?).

[2017-05-05 17:57] showell opened #4692 "Live-update narrow filters on stream renames."
Let's say Denmark is stream id 42, and you're narrowed to stream Denmark, and then somebody renames the stream to Denmark2.  The app will update stream names in some places in the UI, but it doesn't actually update your narrow parameters, and this leads to ugly things like the following:

* you'll be told you're unsubscribed from Denmark (when in reality you're still subscribed to stream 42)
* whe

[2017-05-05 17:59] showell commented on #4686
Ideally we should fix this by fixing #4692.

[2017-05-05 19:22] tommyip commented on #4685
You can also found this in the Github release page:
https://github.com/zulip/zulip/releases
![image](https://cloud.githubusercontent.com/assets/18504232/25760845/96495bf2-31d0-11e7-8e8f-4c038ca7681d.png)

[2017-05-05 21:52] timabbott commented on #4479
This was fixed in the recent login pages redesign.

[2017-05-05 21:52] #4479 closed

[2017-05-05 22:01] timabbott commented on #2412
I think the issue described here is fixed, but we seem to have an outstanding issue that the `enter` hotkey will open compose and try to send something if the streams tab is open.  Seems like a likely uncomplicated `hotkey.js` change to fix this.

[2017-05-05 22:02] timabbott commented on #1713
Closing this, since nobody else has had similar issues and original poster is unresponsive; seems plausibly a configuration issue on their end.

@sandish2222 feel free to post here again if you find time to help with debugging this.

[2017-05-05 22:02] #1713 closed

[2017-05-05 22:04] timabbott commented on #696
I think for now we should take this out of the 5xx page.

[2017-05-05 22:06] timabbott commented on #4260
I think this is probably a browser bug; I'm not sure there's anything we can do about it other than wait for the browsers to fix it.  (Might be worth checking if they already have).

[2017-05-05 22:06] timabbott commented on #3887
@feorlen we have a new registration form complete; if you'd like to update this,

[2017-05-05 22:06] timabbott commented on #3887
Also, we have a new error for no authentication backends enabled on the registration page; I'm not 100% sure that it'll cover this case; probably worth checking!

[2017-05-05 22:08] timabbott commented on #3869
This is fixed via that whole alert widget having been replaced with a better one :).

Thanks for the bug report @souravbadami and investigation @jajodiaraghav!

[2017-05-05 22:08] #3869 closed

[2017-05-05 22:09] timabbott commented on #4638
See #3731 for related notes.

[2017-05-06 07:05] RameshAditya commented on #4691
claim

[2017-05-06 08:20] RameshAditya commented on #4691
@zulipbot claim

[2017-05-06 13:15] derAnfaenger commented on #4659
I tried resolving this with and `overflow-x: scroll` in the `inline-preview-twitter` div and its subdivs, but that didn't work; their size is not limited by the surrounding `message-content` div. Adding `overflow-x: scroll` to the `message-content` div works somewhat, but the result is a little ugly:
![image](https://cloud.githubusercontent.com/assets/7950151/25772568/90a57250-326e-11e7-9f58-6e66d

[2017-05-06 13:46] showell opened #4702 "Rename modals.js -> overlay.js"
As a followup to #4697, we should rename modals.js to overlay.js, and change the global variable in a likewise manner.

This will mostly just require a bunch of careful search/replace in various modules that call into here.

As part of the fix, we should also clean up the inconsistent names `open_overlay` and `close_modal`, perhaps by just making them be `open` and `close`.

This is a pretty appro

[2017-05-06 13:48] showell commented on #4702
One non-obvious aspect of renaming a module is that you will need to change the references in `.eslintrc.json` and `zproject/settings.py`.  Also, before doing this project, it can be useful to have a quick conversation on chat to make sure everybody is on board with any naming decisions you intend to make.

[2017-05-06 16:16] showell commented on #4271
As we brainstorm solutions to this problem, I'll add another use case, which Vishnu Ks brought up on chat.

Let's say you have a few group PM conversations going about miscellaneous things.  It's hard to remember what each group was talking about.

It would be nice to not only star/pin interesting group PM conversations, but you'd also want a way to tag the conversation with something like "design

[2017-05-06 16:47] akhilmd commented on #4659
When I added the `word-break: break-all;` css property to the link tag in the twitter message via the inspector, the link breaks into multiple lines and seems to resolve the problem.

[2017-05-06 16:54] rnice01 commented on #4676
@zulipbot claim

[2017-05-06 16:55] derAnfaenger commented on #4659
@akhilmd yup, it resolves links breaking the layout. It is still possible to break it by typing in an extremely long word not in a link. Using `word-break: break-all;` on the `twitter-tweet` div seems to work for both cases.

[2017-05-06 20:00] rishig commented on #4691
Great, thanks for taking this up, @RameshAditya!

[2017-05-06 20:25] rishig opened #4703 "alerts: "Unable to connect to Zulip" alert gets duplicated."
To reproduce: Go to the "Network" tab of the Chrome Developers Tools, and click "Offline". In a few seconds you'll see two "Unable to connect to Zulip" alerts drop from the top.

The two alerts have different messages, but showing one or the other would be better than showing both.

[2017-05-06 20:29] lonerz commented on #4703
Hmm, I can't seem to reproduce.

[2017-05-06 22:08] rishig commented on #4703
hm, you have to wait a while, maybe more like 30 seconds than "a few" seconds. Here is what it looks like for me:
![image](https://cloud.githubusercontent.com/assets/890911/25776232/d63f8112-326d-11e7-9f3c-74c3e60668ee.png)

[2017-05-06 22:36] lonerz commented on #4703
I've left it alone for probably 20 minutes already, but still only one banner.

[2017-05-06 22:37] lonerz commented on #4703
It seems quite important that the second banner of yours doesn't have "Try now."
![screen shot 2017-05-06 at 3 36 32 pm](https://cloud.githubusercontent.com/assets/12992571/25776396/de3f3674-3271-11e7-8322-38bc343bd446.png)

[2017-05-07 02:00] rishig commented on #4260
It does happen only in chrome (version 55) for me, and not firefox. I haven't checked with the latest chrome (version 58?). I guess one thing to check would be: replace the font in gmail or slack with the font we use, and see if it happens there as well.

[2017-05-07 21:05] jdherg opened #4708 "Allow admins to restrict posting on a stream to a set of users"
In some cases [0], it might be useful to be able to restrict posting to a public stream to a subset of a realm's users.

[0] Off the top of my head, making sure `#announce` stays low volume or trying to avoid sharding discussion due to cross-posting (a stream that only allows a GitHub bot to post, for example, to avoid splitting issue discussion between the issue page and the Zulip stream)

[2017-05-07 23:59] brannerchinese opened #4709 "Allow edited messages to conceal past versions"
There should be a simple and obvious way to delete or edit a message *without* allowing others to view any part of the edit history.

Sometimes users edit a message to remove something that may give offense or otherwise represent a misstep. In such cases (even if in no others) it is unwise to allow earlier versions of the message to remain visible — at least, by users other than the original poste

[2017-05-08 00:00] lonerz commented on #4709
I think this is similar to #4400.

[2017-05-08 00:02] brannerchinese commented on #4709
You're right; feel free to delete if you feel I haven't added anything. I was quite unhappy when I discovered past edits were suddenly visible — even, apparently, on very old messages.

[2017-05-08 00:04] lonerz commented on #4709
Just marking as duplicate.

[2017-05-08 00:04] #4709 closed

[2017-05-08 00:06] brannerchinese commented on #4400
I don't think most users bother about the API, but being able (now, suddenly) to access the whole of edit history in the UI will have unexpected effects for many of us. I agree that there is a social contract issue at stake.

Sometimes users edit a message to remove something that may give offense or otherwise represent a misstep. In such cases (even if in no others) it is unwise to allow earlier

[2017-05-08 00:08] brannerchinese commented on #4400
I don't think I understand the use case of allowing anyone to view any edit history, the sole exception being people viewing their own revised posts.

[2017-05-08 00:29] brannerchinese commented on #4400
But if the simplest implementation is just "history available" vs. "history not available" at the realm level, then "history not available" by default would be my vote.

[2017-05-08 06:20] aero31aero commented on #4703
Of relevance:

First message has the id `connection-error` and is displayed by the module `static/js/server_events.js`.
The second message with id `get_old_messages_error` is triggered by `static/js/message_fetch.js`.

Should the message_fetch module try to display the first message itself instead of the second one?

[2017-05-08 06:32] rishig commented on #4703
yeah, I think that's reasonable. We don't really need two separate error messages for "no internet" and "can't fetch messages".

[2017-05-08 06:48] aero31aero commented on #4703
@zulipbot claim

[2017-05-08 07:11] rishig commented on #4703
Great, thanks @aero31aero!

[2017-05-08 07:15] rishig opened #4710 "emoji: Emoji no longer appear in desktop notifications."
Haven't tried this myself, but I think a way to reproduce it would be to open the development environment in two different browsers with two different users, and send an emoji-filled PM from one to the other.
You can also test on chat.zulip.org by asking someone to send you an PM with an emoji :).

@HarshitOnGitHub, in case you have any ideas.

[2017-05-08 14:13] aero31aero commented on #4702
@zulipbot claim

I'll start with the module renaming first. Would follow/ask on chat for any specific method naming decisions.

[2017-05-08 15:35] xxv opened #4712 "emoji reaction order reversed"
The ordering of emoji reactions is preserved, but reversed when reloaded.

Original ordering as-clicked:

![](http://xxv.so/0x64469765.png)

When the page was loaded fresh on another computer:

![](http://xxv.so/0x89214883.png)

This is from an instance running on zulipchat.com.

[2017-05-08 15:36] lonerz commented on #4712
Ah, this is because we rerender all the emoji reactions alphabetically when you refresh. I'm currently in the process of rerendering the emoji reactions alphabetically realtime. Do you just want the reactions to be consistent?

[2017-05-08 15:37] xxv commented on #4712
Consistency would be amazing. That would be the option of least surprise IMO.

[2017-05-08 15:38] xxv commented on #4712
(it'd be the most fun if the reaction ordering was preserved, but I understand if that incurs a technical cost)

[2017-05-08 15:52] adewinter commented on #4712
I like that the reactions are displayed in the order that they are selected, it allows for interesting usages (as in the original above).  If we just alphabetize immediately, this would make it a lot harder/more constrained.

[2017-05-08 15:56] jmandel opened #4713 "Renaming a stream does not preserve links"
One of the amazing things about renaming a github repo, or moving a github repo to a different organization, is that old links (web links + git remotes) keep working after the transition.

It would be delightful if Zulip did something similar when streams were renamed. My expectation is that if you renamed a stream A to B, visiting /#narrow/stream/A would redirect to /#narrow/stream/B. If someone

[2017-05-08 15:59] lonerz commented on #4713
What would happen when some other streams takes the old name of the other stream?

[2017-05-08 16:04] jmandel commented on #4713
Wow, thanks for the quick feedback! I described this case in the issue:

Does this make sense?

[2017-05-08 16:08] lonerz commented on #4713
Ah, missed that part. Makes sense 👍

[2017-05-08 16:37] timabbott commented on #4710
I suspect this is a side effect of having changed the way we do emoji from an `<img>` tag to a `<span>` tag, which is currently deployed on chat.zulip.org but not on master.

[2017-05-08 16:53] mahimg commented on #4651
@lonerz I recreated the issue, it is due to the `<span class="highlight">chiron</span>` tag around the html that causes the JS modules to treat it as a normal click rather than a click on link.
I think we will need to add a exception for this like it is done for the linked texts(not sure though). If its fine then I can take this up.

[2017-05-08 16:55] lonerz commented on #4651
Seems right @mahimg. You probably want to look at the current link clicking behavior.

[2017-05-08 16:57] #4659 closed

[2017-05-08 17:59] mahimg commented on #4651
@zulipbot claim

[2017-05-08 18:09] showell opened #4716 "Fix --rerun option for tools/test-backend."
The --rerun option for tools/test-backend seems to have broken since we added multi-threading.

ping @umairwaheed

[2017-05-08 18:34] timabbott commented on #4712
We currently don't store the data for when reactions were selected.  It'd be a bit tricky to store that data in a coherent way, because people can un-react as well, but I'm sure it's possible to write some sorting logic to mostly do what one wants (and achieve the goal of being time-ordered).

The simplest logic for doing this would be something like this:
* We add a `timestamp` field to the React

[2017-05-08 18:39] #4651 closed

[2017-05-08 18:46] timabbott commented on #4713
The default strategy I'd probably take with this is the same that we currently use for PM threads, basically putting the ID of the object into the URL:

https://chat.zulip.org/#narrow/pm-with/857-joshuapan8

So we'd be doing here e.g.

https://chat.zulip.org/#narrow/stream/123125-A

I don't think that change would be super difficult to implement.  Downsides include:
(1) If you're writing documenta

[2017-05-08 18:49] vazzup commented on #4581
Hi, I'd like to take this issue up. Any pointers as to how I can get to solving it?

[2017-05-08 18:54] lonerz commented on #4581
@vazzup you probably want to look at `timerender.js` like Rishi said or `git grep timerender`.

[2017-05-08 18:59] vazzup commented on #4581
@zulipbot claim thanks! @lonerz

[2017-05-08 20:50] wangjames opened #4720 "Mysterious bug causes incorrect scrolling to bottom of page (and messes unread counts)"
When I logged onto Zulip this morning via my Desktop, I had 96 unread messages but I did not read any of them.

I decided to look at my messages through my mobile which immediately marked all my unread messages as read and moved the pointer all the way to the bottom.

I then checked back on my Desktop and saw that all 96 unread messages were marked as read on Desktop as well.

Before on desktop:
!

[2017-05-08 20:52] mahimg commented on #4621
@zulipbot claim

[2017-05-08 23:07] jmandel commented on #4713
Thanks @timabbott ! I should have read this earlier :-)

Yeah, that's the part that breaks my use case (preserving historical links from the FHIR issue tracker, mailing list, etc). I wound up taking a naive stab at something more like the `StreamAlias`, mostly as an exercise in (re)familiarizing myself with the codebase.

There're are challenging bits that I haven't tried, like updating the client

[2017-05-09 00:36] timabbott commented on #4260
Just verified it still happens in Chrome 58.  I like that idea for how to test this.

[2017-05-09 00:43] timabbott commented on #4720
Hrm, that definitely should happen.  I've also never had something of this form reported before, which makes me think that this is probably a regression new to chat.zulip.org.  I wish I had an idea for what could have caused it.

[2017-05-09 00:47] timabbott commented on #4720
@showell @brockwhittaker do either of you have ideas of things we merged recently that could everything to be marked as read unexpectedly?  I've verified it isn't bankruptcy-related (from server logs).

[2017-05-09 01:21] wangjames commented on #4720
https://github.com/zulip/zulip/blob/ba7b7a9a360249c47fc8b34ba7a648dcd714b405/static/js/resize.js

could this file have anything to do with it? the last two commits seem to be refactoring some resizing functionality which might be related because this bug only happens when there is some resizing going on, but i don't have enough experience with this css stuff to know if its relevant or not.
also, i

[2017-05-09 05:13] timabbott commented on #4702
@aero31aero cool; just FYI, #4697 was just merged, so you'll want to make sure you pull the latest master when working on this to avoid merge conflicts :)

[2017-05-09 06:12] rht opened #4724 "Setup clabot"
I noticed I haven't been arrested by a bot[1] yet for not signing a CLA.

[1] https://github.com/clabot/clabot

[2017-05-09 06:15] lonerz commented on #4724
Interesting, this seems to be a problem with DropboxCLA being on and off..

[2017-05-09 06:18] umairwaheed commented on #4716
@showell, the problem was with tests that threw error?

[2017-05-09 06:35] timabbott commented on #4724
@smarx can you investigate?

[2017-05-09 10:42] mahimg commented on #4647
@showell Can I get some more context regarding this, i.e what is the need of error handling here.

[2017-05-09 11:07] RameshAditya commented on #4691
Could I get some help regarding why my submission isn't passing the check? The HTML works fine locally on my system. The error message I get is "Fix trailing whitespace at " followed by the file-name and line number, while I find none on my text editor apart from basic indentation.

[2017-05-09 14:04] showell commented on #4712
I like a hybrid of the ideas.  We'd keep the current message/emoji/user table to know who reacted.  Then we'd a new message/emoji/timestamp table to know when emojis appeared.

[2017-05-09 14:35] rht commented on #4724
I did sign the CLA a while later, so the incident is harder to investigate on this account. However, I had reproduced the problem here: https://github.com/zulip/zulip/pull/4728.

[2017-05-09 14:48] showell commented on #4702
@aero31aero See also #4729.

[2017-05-09 15:03] showell commented on #4647
Let's discuss this on chat.  I actually don't know the full history here.

[2017-05-09 15:49] lonerz commented on #4712
Link to [conversation](https://chat.zulip.org/#narrow/near/197538/stream/design/topic/emoji.20reactions).

[2017-05-09 16:18] #4618 closed

[2017-05-09 16:28] timabbott commented on #4691
@RameshAditya trailing whitespace is extra spaces at the end of lines of code.  I suspect what's going on is that the trailing whitespace is invisible in your editor (many modern editors will highlight trailing whitespace).  Probably all you need to do is go to that line in your code, hit end, and then hit backspace until you get to either the beginning of the line or a non-whitespace character.

[2017-05-09 16:37] #4716 closed

[2017-05-09 16:53] timabbott opened #4730 "Consider getting emoji data from npm"
The emoji-data project recently added an npm package for their sprite sheets, which we could probably switch to using:
https://github.com/iamcal/emoji-data#installation

[2017-05-09 17:00] #4621 closed

[2017-05-09 17:03] #4199 closed

[2017-05-09 17:31] RameshAditya commented on #4691
Nope, still not working. I tried hitting end and ensuring no whitespaces exist after my lines of code. Still getting the same verdict. I tried different ways of indentation, and no results. Here's the link to the Travis-CI build result - https://travis-ci.org/zulip/zulip/builds/230429736

Literally every line shows me an error, and I've tried using Sublime Text, Visual Studio Code, and Notepad++,

[2017-05-09 17:34] timabbott commented on #4691
@RameshAditya are you using Windows?  I bet that the issue is Windows end-of-line characters, which are extra invisible and we don't use in Zulip.

Try googling for how to configure Windows editors to not add those characters and if that doesn't find you a solution, asking in #development help to see if anyone knows how to deal with this in those editors.

[2017-05-09 17:49] timabbott opened #4732 "Improve slack importer tool"
Notes for follow-ups from #3545.

* I think in the documentation we should point out that the Zulip bindings might need to be installed and maybe add the link to the documentation on how to do that.
* In case of invalid credentials in 'zulip_slack_config.py', the script should just stop processing. Currently, it gives the impression of running the whole process:

[2017-05-09 18:15] #4703 closed

[2017-05-09 18:23] #4658 closed

[2017-05-09 18:45] timabbott opened #4733 "Send an email unconditionally in password reset flow"
For security reasons, we can't display an error message in the web browser when a user tries to reset a password for an account that doesn't exist, but it would be nice to send an email that says "no such account exists" to the provided email address, in the style of our find_my_team.html emails.

Combined with documenting this, we can make it a lot easier to debug what's wrong if you're not recei

[2017-05-09 18:58] timabbott opened #4734 "Default streams UI floats oddly if you have a lot of default streams"
This is a regression introduced recently by the progressive list rerendering code, I think:

![image](https://cloud.githubusercontent.com/assets/2746074/25867550/bb125d9a-34ae-11e7-9489-1d5fe41e30d9.png)
![image](https://cloud.githubusercontent.com/assets/2746074/25867579/d57789a8-34ae-11e7-8652-1a2a1a49f8ae.png)

[2017-05-09 19:10] timabbott commented on #4564
I think we've decided not to do this, in favor of the `GET /api/v1/server_settings` endpoint, which provides that and other data one might want.

[2017-05-09 19:10] #4564 closed

[2017-05-09 19:12] timabbott commented on #3968
@eeshangarg this is now complete, right?

[2017-05-09 19:13] timabbott commented on #4169
This probably just involves doing an appropriate `os.chdir`, similar to what we do in `run-dev.py`:
`os.chdir(os.path.join(os.path.dirname(__file__), '..'))                                                                           `

[2017-05-09 19:59] jmandel commented on #4713
OK, now that I have some tests in place and have figured out where to hook the logic into the frontend, I'm much happier with this. If it's getting close enough to be at all plausible for inclusion in 1.6 @timabbott that'd be awesome (but otherwise we can always deploy in FHIR's fork).

[2017-05-09 20:01] mahimg commented on #4647
For detailed context of this: https://chat.zulip.org/#narrow/stream/issues/subject/.23subscriptions-status/near/197664

[2017-05-09 20:50] eeshangarg commented on #4732
@zulipbot claim! :)

[2017-05-09 20:56] eeshangarg commented on #3968
@timabbott : Yes, I think! If there are any further improvements required, they are unrelated to messages but are structural improvements and I'll probably fix them as I go, so we should probably close this. Thanks! :)

[2017-05-09 21:04] timabbott commented on #236
The performance issue for large teams is at this point resolved; we still probably want to build a buddy list feature for UX improvement purposes.  I'm crossing this off as a completed roadmap project at this time, but not closing this issue until we have time to rewrite the description.

[2017-05-09 21:12] timabbott commented on #406
Closing this; #4645 has follow-up issues.

[2017-05-09 21:12] #406 closed

[2017-05-09 21:27] timabbott commented on #728
We made a ton of progress on this with the recent work on rerendering, etc.  So far we've only tested the new system up to about 3K distinct users in a realm, mostly inactive.  I think it'd be worth doing a test with 10K inactive users to see how well things work, and if it's acceptable. we can close this issue as complete!

[2017-05-09 21:37] #3968 closed

[2017-05-09 21:56] timabbott opened #4736 "Exception using hotkeys to navigate around compose emoji picker"
The reproducer is simple:

* Go to an empty narrow
* Open compose, click emoji picker
* Use arrow keys to move around the picker
* Hit enter -> exception.

Here's the exception:
[code]

I think structurally, there are 2 possibilities:
* Either we shouldn't set `current_message_emoji_popover_elem` when opening the compose emoji picker, and the hotkeys just won't do anything
* Or, better, we should

[2017-05-09 22:38] danlaudk commented on #4547
@zulipbot claim

[2017-05-10 07:37] RameshAditya commented on #4691
Yes, you were right. Thankfully, Notepad++ has an option to convert the EOL format from Windows to UNIX. And after multiple other whitespace and indentation related errors, and addition of the new files' names to the test_templates code, all checks successfully passed.

Thank you, so much!

[2017-05-10 12:59] Shashankagarwal181996 commented on #4509
@timabbott I would like to take this.

[2017-05-10 14:03] tejaskasetty commented on #4736
@timabbott I noticed an Issue and was about to report and I found this. The Issue I found was, when we are using the emoji reactions picker and choose a emoji and  click enter. It is treating the emoji reactions as part of the message selected, but not as a emoji for the message we are composing. So, whenever we try to add emoji using hotkeys its added as a reaction to the message selected but not

[2017-05-10 14:10] hackerkid commented on #4734
@zulipbot claim

[2017-05-10 16:47] timabbott commented on #4509
@Shashankagarwal181996 great!  You can claim this issue officially using `@zulipbot claim` so others can easily see that you're working on it.

[2017-05-10 17:00] timabbott opened #4742 "Exception formatting GitHub events"
I don't have whatever payload caused this, but here's the exception:

[code]

For future debugging, a thought: maybe we should add a log file where raw requests that throw an exception in `api_key_only_webhook_view` are logged in test fixture format.
\

[2017-05-10 18:03] timabbott opened #4744 "Non-webhook integrations links broken on /integrations"
Email, Twitter, Git are example non-webhook integrations, and clicking their links seems to be totally broken right now.

This is a high-priority issue.

[2017-05-10 18:12] hackerkid opened #4746 "Make table headers fixed"
Currently the headers(column names) of the table names also scroll along the the rows which makes it kind of difficult sometimes to go through the table.

**Before scrolling**
![screenshot from 2017-05-10 23 37 17](https://cloud.githubusercontent.com/assets/7190633/25913940/30d7b800-35da-11e7-8d33-36b0cb8080f0.png)

**After scrolling a bit**
![screenshot from 2017-05-10 23 39 23](https://cloud.git

[2017-05-10 18:21] #3980 closed

[2017-05-10 18:23] timabbott commented on #4746
Sounds great!

[2017-05-10 18:24] hackerkid commented on #4746
@zulipbot assign

[2017-05-10 18:24] hackerkid commented on #4746
@zulipbot assign

[2017-05-10 18:25] hackerkid commented on #4746
@zulipbot claim

[2017-05-10 18:34] #4744 closed

[2017-05-10 23:24] brockwhittaker commented on #4669
@zulipbot claim.

[2017-05-10 23:27] #4736 closed

[2017-05-10 23:32] timabbott opened #4749 "Exception in popovers.actions_menu_handle_keyboard"
I got the below exception from logs, so I don't know what causes it exactly, but the top of the traceback is in get_action_menu_menu_items, which is a 1-line function, and the code path to there is pretty clear.  I'm not entirely sure what the code in question is supposed to do, so I suspect with some spelunking, this won't be hard to fix.

[code]

[2017-05-10 23:43] timabbott opened #4750 "Handle deleted realm emoji (and other removed emoji styles) with past reactions"
Currently, if you do the following question:
* Add a realm emoji "foo"
* React with "foo" to a message
* send a message containing the "foo" emoji
* Remove the realm emoji "foo"

The one will get a lot of unpleasant bugs.  There's basically 2 strategies we can take to deal with this:
(1) Change realm emoji to be referenced in the code by ID, and just deactivate (rather than deleting) them when a u

[2017-05-10 23:50] #4669 closed

[2017-05-10 23:57] #4734 closed

[2017-05-11 00:58] lonerz opened #4754 "Authentication methods checkboxes are clickable as a user"
[Authentication methods](https://chat.zulip.org/#organization/auth-methods) checkboxes are clickable even as a user. These probably should be disabled like the checkboxes in [org settings](https://chat.zulip.org/#organization/organization-settings).

[2017-05-11 02:12] eeshangarg commented on #4742
@zulipbot claim!

[2017-05-11 02:53] eeshangarg commented on #4742
@timabbott : I tried reproducing this exception on my end but couldn't. Anyways, I think the best way to go here is to just log failed requests and save the payloads for inspection. If we run into the same exception again, it will give us a chance to catch it in the future. I have a question, do we want to create a log file and log the exception there and then create a separate `.json` file with t

[2017-05-11 07:07] timabbott commented on #4742
I was thinking of just having a log file that contained a series of entries, each containing the pretty-printed request body.  Ideally, we'd pretty-print to make it easy to copy into a fixture file conveniently, but that's not as important as just having the feature in the first place :).

[2017-05-11 07:20] timabbott commented on #4754
Agreed; @abhijeetkaur do you have time to look into this issue quickly?

[2017-05-11 09:51] Shashankagarwal181996 commented on #4509
@zulipbot claim

[2017-05-11 12:20] brannerchinese opened #4755 "Add organization option for setting Streams sidebar icons as squares"
**Original description:**
For as long as I can remember, Zulip streams in the left side-bar were marked by a little colored square to the left of the stream-name. These little squares have recently been changed to number-signs (hash-marks), which show the color much less clearly. The color is supposed to be easily seen as a way of distinguishing streams. Whatever extra information is might seem to

[2017-05-11 13:27] AyushyaChitransh opened #4757 "Too many redirects for a account during login of deactivated account"
I deactivated my Zulip account and then signed up again and tried to sign in. For wrong password, it showed wrong password, when i entered correct credentials, chrome showed
[code]
Clearing cookies did not work as a solution for it.

[2017-05-11 16:56] showell commented on #4591
This bug appears to have gone away due to some other recent fix. One possibility was that the fixes to more intelligently load the settings page panes made this problem go away. Another possibility is that I just am doing the wrong thing to reproduce the error.

I'm leaving this open, so that somebody else can confirm.

[2017-05-11 17:51] showell commented on #4713
I think this is a bit ambitious to get into 1.6, which we're hoping to release pretty soon.

I definitely like some of the ideas here:

- We should persist old names with something like StreamAlias, as shown in your PR.  We'll want to make absolutely sure there's a DB index on the name field.
- On the client side we can have a simple mapping of old_stream_name -> stream_id, and we can try to find

[2017-05-11 18:41] timabbott commented on #4591
Yeah, this appears to have been accidentally fixed.

[2017-05-11 18:41] #4591 closed

[2017-05-11 18:58] timabbott commented on #4757
@AyushyaChitransh thanks for the bug report!  It's not clear we want to always allow re-activating a deactivated account without administrator approval, but we certainly shouldn't just have this sort of redirect loop happen.

For your specific situation, I've reactivated your accounts on chat.zulip.org (you can re-deactivate whichever of the two you don't want).

[2017-05-11 20:16] synicalsyntax commented on #4724
@timabbott Would you be interested in hooking up the CLA functionality to @zulipbot for more consistency?

[2017-05-11 20:20] timabbott commented on #4724
In theory, though I don't know that there's an easy way to get access to the necessary data set.

[2017-05-11 20:29] synicalsyntax commented on #4755
Hello @brannerchinese, thanks for your feedback!

The Zulip user interface is currently undergoing a visual redesign in preparation for Zulip release 2.0. Thus, it's constantly evolving while we improve the UI for a better user experience. You can hear about recent design updates as well as offer feedback on them in the [#design stream](https://chat.zulip.org/#narrow/stream/design) of the Zulip de

[2017-05-11 20:34] brannerchinese commented on #4755
I currently have no private streams, so I can't compare visually. But if private streams have a lock, then they're already visually distinct from public streams, right?

Sure, an option to retain old streams would be nice, if there's no going back. Thanks.

[2017-05-11 20:56] timabbott opened #4761 "Add support for users deleting emoji they themselves uploaded"
If the setting that allows anyone to upload realm emoji is set, there's a problem when you upload something that doesn't look good, since you can't get rid of it.  Since we track who did the upload, it should be easy to let that person delete the emoji.

As a follow-up, arguably if anyone can upload emoji, anyone should also be able to delete them; we may want to decide on a policy there.

[2017-05-11 21:01] synicalsyntax commented on #4755
For your reference, here's a visual comparison of the old and new theme:

**Old theme**
![Old theme](http://localhost:9991/static/images/help/left_sidebar.png)

**New theme**
![New theme](https://cloud.githubusercontent.com/assets/15116870/25971691/fced5694-3651-11e7-89c9-156088b9d00e.png)

Will be making changes to the issue title and description to reflect the discussion here. :)

[2017-05-11 21:21] brannerchinese commented on #4755
I see. Well, I do think the lock is already sufficiently different in shape from the square.

I also wonder what people with color-vision difficulties do about the different stream colors in the first place. But that's a distinct issue.

[2017-05-11 21:23] timabbott commented on #4755
The colors are always used as a visual hint; they don't have any functional purpose (the name always appears with the color).  So there should be no significant issue for folks with color-vision difficulties.

[2017-05-11 21:34] timabbott opened #4762 "Emoji reactions with realm emoji aren't scaled properly"
This is a fairly important regression we'll want to fix before Zulip 1.6.

![image](https://cloud.githubusercontent.com/assets/2746074/25972944/e5203c3e-3656-11e7-8f66-ad9325eb51a8.png)

[2017-05-11 21:41] #4762 closed

[2017-05-11 21:54] synicalsyntax opened #4763 "Update user documentation images with updated UI screenshots"
Various images used in the user documentation (located in `static/images/help`) are outdated due to the recent changes in the Zulip user interface. They should be updated to reflect the current UI.

[2017-05-11 21:54] synicalsyntax commented on #4763
@zulipbot claim

[2017-05-11 22:01] lonerz opened #4764 "When realm emoji is selected, realm emoji in reaction menu shows text instead of emoji"
React with a message like `:zulip:` and then go to the reaction menu and search for `zulip`, the emoji itself shows `:zul`.

![screen shot 2017-05-11 at 3 01 13 pm](https://cloud.githubusercontent.com/assets/12992571/25973846/ba0d9254-365a-11e7-8d8a-ba7105729066.png)

[2017-05-11 22:03] timabbott commented on #4764
I think this is probably only with the setting to display emoji as text enabled?  Still, a bug.

[2017-05-11 23:22] showell commented on #4692
#4713 is essentially a superset of this bug, so I'm closing this for now.

It turns out that making the stream filters be stream-id-aware is fairly straightforward, and I have a PR coming to fix that.  There are still thorny issues in terms of the URLs (aka hashes) still having stream names.

[2017-05-11 23:22] #4692 closed

[2017-05-12 01:35] timabbott commented on #4746
@hackerkid make sure you rebase; we just merged some tweaks to the tables.

[2017-05-12 01:35] timabbott commented on #4657
@YagoGG just wanted to follow up on this!

[2017-05-12 01:56] #4604 closed

[2017-05-12 02:12] #4666 closed

[2017-05-12 02:23] timabbott commented on #4676
A requirement for this is that we still support unicode characters in users' names.  I think if that's not possible with the RFC, we'll have to just not include the person's name in the email to line.

[2017-05-12 03:54] synicalsyntax commented on #4724
Unless Dropbox is comfortable with sharing their CLA data, the best thing would be to make the clabot more consistent somehow, which really isn't a Zulip-related issue but more of Dropbox's. Is this issue worth closing?

[2017-05-12 07:18] timabbott commented on #4724
yeah, I agree.

[2017-05-12 07:18] #4724 closed

[2017-05-12 08:06] rht commented on #4724
Shouldn't it be the other way around? i.e. the clabot should raise an issue to the entity only if the entity hasn't signed the CLA. It is as if it were intentionally made this way.
(for this case, the required permission should be to have commit access to the bot source code, shouldn't it?)

[2017-05-12 13:27] abhijeetkaur commented on #4754
Sure!

[2017-05-12 16:18] HarshitOnGitHub commented on #4710
Did we ever display emoji in the notifications? Or is it even possible to display them in notifications? We use emoji alt text in the notifications which is still being displayed properly in the dev environment(not checked on chat.zulip.org).

[2017-05-12 16:43] abhijeetkaur commented on #4754
@timabbott @lonerz
![screenshot from 2017-05-12 19 26 27](https://cloud.githubusercontent.com/assets/8913577/26007738/773c7656-375f-11e7-813b-e5949a644cbd.png)
The checkboxes are not "clickable" to me or the user in my dev environment.
Has there been a fix? Can you please share your screenshots with me?

[2017-05-12 16:46] showell commented on #4749
I can't reproduce this.  It seems like the callpath ensures that current_actions_popover_elem is set, so then the question is why current_actions_popover_elem.data('popover') is undefined.

[2017-05-12 16:48] showell commented on #4749
#4774 cleans up the error handling a bit, but it doesn't get at the root cause.  If we can't reproduce this, then I think we just close it.

[2017-05-12 16:57] abhijeetkaur commented on #4754
I do see a bug in "Your organization's description" in `Organization settings` tab.
I can edit it. I think that shouldn't be the behavior, right?
![screenshot from 2017-05-12 19 26 18](https://cloud.githubusercontent.com/assets/8913577/26008018/b158b006-3760-11e7-868e-d7d6e10cf2b8.png)

[2017-05-12 17:18] lonerz commented on #4754
Hmm, checkboxes seem to be fine now. Yes, the description shouldn't be editable.

[2017-05-12 19:21] timabbott commented on #4754
Ahh, yeah, the description thing is I bet a consequence of us moving that from an `input` to a `textarea`.

[2017-05-12 19:28] timabbott commented on #4710
Well, we don't even display that with the code on tabbott/master (aka the chat.zulip.org branch).  `in_browser_notify` is the function where we render these notifications.  I bet we just need some CSS for the `emoji` class in that context.

[2017-05-12 20:55] timabbott commented on #4553
Everything but the sender part of this is done.

[2017-05-12 20:58] strugee opened #4775 ":two: emoji has wrong image"
The `:two:` emoji looks like a C inside a circle.

[2017-05-12 21:01] timabbott commented on #4775
@strugee where are you seeing this?  I can't reproduce.

[2017-05-12 21:01] lonerz commented on #4775
(Edited title to better say what is happening.) Definitely a bug. Probably an incorrect mapping

[2017-05-12 21:01] lonerz commented on #4775
@timabbott in compose, I can reproduce

[2017-05-12 21:03] strugee commented on #4775
@timabbott heh, sorry, I figured it was everywhere. I can reproduce this on RC's Zulip instance when searching for "two" in the emoji reaction dropdown on a message.

[2017-05-12 21:03] lonerz commented on #4775
@strugee don't worry, we reproduced in compose :)

[2017-05-12 21:18] #4754 closed

[2017-05-12 21:26] timabbott commented on #4775
So, what's going on here is that there's a mismatch between our sprite sheet and our emoji data about what unicode character this has.  The emoji map has `0032`, while the sprite sheet data has `0032-20e3`.  We should probably hack the emoji map data set to match the sprite sheet.

[2017-05-12 21:30] lonerz opened #4777 "new feature: User-defined custom hotkey mappings"
Users should be able to define their own hotkey mappings.

Basically there are a few components:
* Storage of the mappings for a given user (and how this will migrate over time).
* The UI, both display and widget for capturing a replacement key.
* How to handle new hotkeys, etc.
* The actually mapping.

More information [here](https://chat.zulip.org/#narrow/stream/design/topic/custom.20hotkeys).

[2017-05-12 22:05] aero31aero commented on #4702
@zulipbot abandon

I tried to get this done in time, but unfortunately, couldn't. Now I have my end semester exams till 23rd and fi this is still unclaimed, I'd love to give this another try. Sorry for the delay.

[2017-05-13 00:17] rht commented on #4581
The xpath to get to the element: `div#zfilt.message_table.focused_table`, then the first of `div.date_row`.

[2017-05-13 00:19] rht commented on #4581
I wonder if the date_row at the top of a message edit history (see https://github.com/zulip/zulip/issues/4638#issue-224940751) should be removed as well.

[2017-05-13 02:15] synicalsyntax opened #4779 "Stream subscription rows disappear after rapid subscribing and unsubscribing"
As seen in the GIF below, a weird behavior involving the disappearance of a stream row occurs if a user rapidly subscribes and unsubscribes from a stream row in the Streams modal.

![gif demonstration](https://i.gyazo.com/be8c0d140f84663c768e792bdeb042c3.gif)

[2017-05-13 03:22] rht commented on #4590
This is about getting a behaviour parity between `static/js/message_edit.js` and `static/js/compose.js`. To include filedrop in message_edit.js would require copying several functions (    `uploadStarted`, `progressUpdated`, `uploadError`, `uploadFinished`) and handlers (`$('#compose').filedrop`, ...). The latter has handler for `message_id_changed`. I think it is better to abstract out these comm

[2017-05-13 04:43] rishig commented on #4590
yeah, abstracting out the relevant compose.js stuff into something that message edit can call would be fantastic. Our long term goal is to turn almost all of the compose pathway into things that message edit can also call, for the reasons you mentioned.

[2017-05-13 05:14] lonerz commented on #4779
Hmm, it might have something to do with the local echo (not totally sure), which kind of breaks when you use a hotkey really really fast.

[2017-05-13 05:20] tejaskasetty commented on #4764
@lonerz Is this issue still present? I m not able to reproduce it. Can you post the steps for reproducing it. I followed the one already given. It worked fine.

[2017-05-13 05:22] lonerz commented on #4764
@tejaskasetty yes it is still present.

1. React to a message with `:zulip:`.
2. Then go back to the reaction menu and search for `zulip`.
3. The zulip emoji should be replaced with `:zul`.

[2017-05-13 05:33] tejaskasetty commented on #4764
May be i m getting the first step wrong. What do you exactly mean by react to message with ```:zulip:```
Do you mean to click on zulip emoji from the reaction picker manually. Or type ```:zulip:``` in a message and reply.

[2017-05-13 05:36] lonerz commented on #4764
@tejaskasetty reacting with `:zulip:` to a message can be done however you want.

After you react to the message, either search in the **reactions menu** for the zulip emoji OR scroll all the way to the bottom to see the emoji, like the following:

![screen shot 2017-05-12 at 10 35 46 pm](https://cloud.githubusercontent.com/assets/12992571/26022820/7436275a-3763-11e7-807d-1dd1198d83ad.png)

[2017-05-13 05:38] tejaskasetty commented on #4764
yeah got it. Now, I was trying it in master. And it doesn't happen. There, but happens it zulip community chat.

[2017-05-13 05:41] lonerz commented on #4764
@tejaskasetty Ah, maybe this is an issue only on zulipchat. pinging @timabbott if I should close

[2017-05-13 05:57] tejaskasetty commented on #4764
Okay.

[2017-05-13 12:00] rht commented on #3400
The httpretty dependency was gone when I tried bumping moto to the latest version (as of May 2017). This PR is incoming after 2 more PR's after #4780. Afterward, this issue and #4095 can be closed.

[2017-05-13 13:32] rht commented on #3460
Found a more recent regex range here: https://github.com/kvvzr/python-emoji-regex/blob/master/emojis.txt (if @kvvzr could shed some light on how it is being made ;)). All that needs to be done is to update a line in bugdown https://github.com/zulip/zulip/blob/cf15a7b56160663021852575fe34acb9083f9437/zerver/lib/bugdown/__init__.py#L1223. But I wonder if it is sufficient, as https://github.com/zulip

[2017-05-13 13:43] rht commented on #3460
@hackerkid what is the mechanism of mapping `\U0001F300-\U0001F64F\U0001F680-\U0001F6FF\u2600-\u26FF\u2700-\u27BF` to `/^(\ud83c[\udf00-\udfff]|\ud83d[\udc00-\ude4f]|\ud83d[\ude80-\udeff]|[\u2600-\u26FF]|[\u2700-\u27BF])/`, and why? The documentation isn't clear.

[2017-05-13 14:07] rht commented on #3460
Speaking of which, someone had once come up with the notion of emoji in ~mid 20th century:
![witt_emoji](https://cloud.githubusercontent.com/assets/395821/26026115/d0ca6a1e-381f-11e7-9bfe-87a3c29c14e9.jpg).

[2017-05-13 15:05] synicalsyntax opened #4783 "Replace Font Awesome 3.0.2 icons with 4.7.0 versions"
Even though we implemented Font Awesome 4.7.0 icons (`fa fa-icon-name`) in 91962aa, a majority of the icons (found commonly in the Handlebars templates, user documentation, CSS stylesheets, even tests) in the Zulip codebase still remain as their 3.0.2 versions (`icon-vector-icon-name`).

All icons should be upgraded to their newer versions, which would allow us to remove support for 3.0.2 icons.

[2017-05-13 17:01] YagoGG commented on #4657
If I recall correctly, we did that to minimize the vertical overlapping when TeX expressions were wrapped.

I don't think that removing it would be a problem: cases when TeX is wrapped are very rare, although we should eventually think about how to handle them.

@cory2067 do you want to do some testing and open the PR?

[2017-05-13 17:21] timabbott commented on #3460
http://crocodillon.com/blog/parsing-emoji-unicode-in-javascript explains how the frontend encoding works; it's basically because JS uses a different string encoding for unicode than Python.  We should probably put a link to that article in our explanatory comment.

[2017-05-13 17:28] timabbott commented on #4590
That's certainly the direction we should go in.  I'd been vaguely hoping that this wouldn't require that relatively big refactoring.

[2017-05-13 17:37] timabbott commented on #4764
As I commented earlier, this bug only affects people who have the "emoji as text" display setting set:
![image](https://cloud.githubusercontent.com/assets/2746074/26027748/11865868-37c8-11e7-8d08-f671f7d70acb.png)

[2017-05-13 17:41] timabbott commented on #4783
Duplicate of #4315.

[2017-05-13 17:41] #4783 closed

[2017-05-13 17:44] timabbott commented on #4581
I think the message edit history one is more useful, since it conveys the ordering of the entries.

[2017-05-13 17:53] rishig opened #4785 "i18n: Add translation packages to stats page."
The stats page isn't a part of the regular webapp, and our current build process for the page doesn't include the packages that are needed to add translation tags.

To work on this issue, I'd start by grepping for `18` and `stats.js` in `zproject/settings.py` to see how we add translation to the regular webapp, and what's different about our build process for the stats page.

http://zulip.readthed

[2017-05-13 18:04] strugee commented on #4775
`:eight:`, `:five:`, `:fr:`, and `:gb:` have this icon as well.

[2017-05-13 18:07] HarshitOnGitHub commented on #4775
@timabbott These are some of the disagreements between the iamcal dataset and our emoji map that I was pointing to you in the emoji-infra branch.There are some more of them I think.

[2017-05-13 18:40] cory2067 commented on #4657
@YagoGG What do you mean by wrapping TeX expressions?

[2017-05-13 18:55] lonerz commented on #4764
@timabbott I didn't have it set though?

[2017-05-13 19:12] timabbott commented on #4764
Well, it's easily reproducible using that setting, so either way that should help fix it.

[2017-05-14 00:47] sarahcstringer commented on #3854
@timabbott, regarding next pieces moving forward, are these still the changes that need to happen?
- further improving documentation
- on the front end, creating a meta-handlebars template to generate input-group elements for checkboxes
- working on realm.py to move has_request_vars into the function itself rather than in the list of parameters?

[2017-05-14 04:23] tejaskasetty commented on #4764
@timabbott But that settings helps us view only the reactions we have added as text but not in the emoji reaction picker. So, its totally unrelated isn't it.

[2017-05-14 04:36] timabbott commented on #4764
In theory, but I can reproduce the bug using that setting in master, so we can't close this issue.

[2017-05-14 04:37] tejaskasetty commented on #4764
Oh, I tried just now and I couldn't. Can you tell me how you did it. I have set to display emoji reactions as text.

[2017-05-14 04:42] timabbott commented on #4764
@tejaskasetty where are you testing?  Try chat.zulip.org.  I think this may be a regression introduced in the emoji styling changes deployed there (but not yet in master)

[2017-05-14 04:43] timabbott commented on #4764
Specifically 57ba1a244af6e6e4a2628e7aeafb024abc810d69, on the timabbott/master branch,

[2017-05-14 04:43] tejaskasetty commented on #4764
Oh ok. I thought master had the latest changes.

[2017-05-14 04:49] timabbott commented on #4764
It's pretty close to that.  There's usually between 0 and 5 commits receiving extended testing on chat.zulip.org at any given time before being merged.

[2017-05-14 04:50] tejaskasetty commented on #4764
Oh, nice.

[2017-05-14 04:52] timabbott commented on #4657
I assume line-wrapping very long ones.

[2017-05-14 04:59] #4686 closed

[2017-05-14 05:25] timabbott commented on #3854
I suspect there are a few more steps that need to be done on the frontend than just that one (probably some javascript work as well), but yeah, I think that's about right :).

[2017-05-14 05:50] lonerz opened #4789 "org settings: Minor aesthetic bugs"
- [ ] In [org settings](https://chat.zulip.org/#organization/organization-settings), the upload icon/delete icon buttons lighten up on hover– not sure if this is supposed to happen?

- [x] On chat.zulip.org, it seems like under [auth-methods](https://chat.zulip.org/#organization/auth-methods), the checkboxes are still clickable (#4754), but maybe fixed on master already. (edit: fixed in master)

-

[2017-05-14 12:15] HarshitOnGitHub commented on #3460
@zulipbot claim

[2017-05-14 18:51] eeshangarg commented on #4732
Working on this tonight! :)

[2017-05-14 19:01] cory2067 commented on #4657
Even now, line-wrapping is pretty messed up in addition to the incorrect summations:
![image](https://cloud.githubusercontent.com/assets/8433005/26036926/1b651e52-38b6-11e7-819c-e861c4324883.png)
Though setting `line-height` to some fixed value (like `3.5em` here, seems to look good)
![image](https://cloud.githubusercontent.com/assets/8433005/26036928/29184e84-38b6-11e7-9677-05ec8643ad86.png)

Wil

[2017-05-15 18:37] #4789 closed

[2017-05-15 20:24] #1661 closed

[2017-05-15 20:43] #4335 closed

[2017-05-15 21:35] brainwane commented on #3618
@jayvdb finds read receipts useful in Gitter, especially when mentoring newer community members.

[2017-05-15 21:42] timabbott opened #4795 "Add support for GitLab merge request hook reopen event"
See the below traceback:
[code]

[2017-05-15 23:40] timabbott opened #4797 "Make `scripts/setup/generate_secrets.py --production` safe to run after installation"
Currently, if you run this after installation, it'll blow away any settings you have that it doesn't generate (though at least it'll preserve the ones that it does).

Ideally, it'd only add things, and never remove them; then, we could use it as part of the upgrade path when we add new secrets that every server should have.

[2017-05-15 23:43] timabbott commented on #4742
OK, thanks to our new logging, I now know what causes this; it's a push deleting a branch.  Relevant section of the push:

[code]

[2017-05-16 03:08] #4742 closed

[2017-05-16 03:29] #2412 closed

[2017-05-16 03:30] timabbott commented on #4749
We still haven't gotten a reproducer for this yet; dropping the priority since it at least seems rare.

[2017-05-16 03:37] #4232 closed

[2017-05-16 03:53] lonerz opened #4799 "analytics: the key for Messages sent by Recipient Type (Me/Last Year-All time) graphs covers graph in some versions of Chrome on Mac"
Under [analytics](https://chat.zulip.org/stats), go to the pie chart Messages Sent by Recipient Type. Now, set the chart to "Me" and "Last year" and you'll see the key for the chart move over the chart.

![screen shot 2017-05-15 at 8 50 02 pm](https://cloud.githubusercontent.com/assets/12992571/26089171/79e99a2a-39b0-11e7-8002-824ebe52263c.png)

[2017-05-16 03:58] timabbott commented on #4799
What browser?  It looks totally reasonable to me in Chrome on Linux:

![image](https://cloud.githubusercontent.com/assets/2746074/26089264/31d3825e-39b1-11e7-823e-07b8d748fd83.png)

[2017-05-16 04:01] lonerz commented on #4799
Chrome on macOS

[2017-05-16 04:04] synicalsyntax commented on #4799
![lgtm](https://cloud.githubusercontent.com/assets/15116870/26089383/214e2e2e-39b2-11e7-9d82-5c1625df8535.png)

LGTM

[2017-05-16 04:06] lonerz commented on #4799
@synicalsyntax it works fine with "LastYear" also?

[2017-05-16 04:13] synicalsyntax commented on #4799
Yes

[2017-05-16 04:21] lonerz commented on #4799
Darn, seems like it's only a problem of mine. Maybe because I haven't updated Chrome? (but I highly doubt it)

[2017-05-16 04:23] timabbott commented on #4799
Could relate to screen width or something?

[2017-05-16 04:23] lonerz commented on #4799
Nope, I tried to shorten/lengthen the screen, but same problem.

[2017-05-16 07:27] brockwhittaker opened #4801 "linters: CSS Linter does not like commented out CSS."
When you comment out a block of CSS, the linter complains about the entire block having an error. The code was:

[code]

And the error was:

[code]

It seems to require indentation in which it actually just messes up the natural indentation of the code.

[2017-05-16 13:29] showell opened #4803 "Improve default streams"
Our default streams for new realms are these.  We may want to improve the descriptions, and we possibly want to consider new starting streams.  This is a good thing to figure out on chat.

[code]

[2017-05-16 14:16] HarshitOnGitHub commented on #4775
@zulipbot claim

[2017-05-16 15:31] qqrs commented on #3780
The most useful thing for me (given my experience of using the Recurse Center Zulip for four years) would be a way to, for example, see new streams in the last three months that have non-negligible activity.

So creation time is the key filter/sort dimension for me. It's easy to miss the news about creation of a new stream as an only occasional reader, and if the stream already exists I likely saw

[2017-05-16 15:55] timabbott commented on #3780
@qqrs we have most of the data pipeline done to support displaying an activity level (in messages/week), which would then easily support "sort by stream activity" .  See #3989 and #4369; helping with reviewing #4369 would be a great way to contribute to this :)

[2017-05-16 16:10] #3460 closed

[2017-05-16 17:37] showell commented on #3708
A related glitch is that you can currently delete your notifications stream, but then we still populate page_params.notifications_stream with something like `"!DEACTIVATED:announce"`.

When we implement the features to allow admins to set the notifications streams, we should also make it impossible to deactivate the notifications stream without first making it into a normal stream.  (Or we should

[2017-05-16 17:47] showell opened #4804 "Test query counts for more stream-create scenarios."
If you create a public stream in a realm with a notifications stream, then we have tests like `test_multi_user_subscription` that check the query counts to make sure they're not too expensive.

We should have similar tests for when...

* there is no notifications stream (this is important, because we used to send PMs instead, which was super expensive)
* the stream is private
* the user passed in

[2017-05-16 18:10] theProgrammerPatriot commented on #4797
@zulipbot claim

[2017-05-16 19:34] timabbott commented on #1767
This was just completed!  Huge thanks to @umairwaheed for finishing this effort.

[2017-05-16 19:34] #1767 closed

[2017-05-16 20:03] timabbott commented on #1262
This is no longer necessary, given the push notification bouncer approach.  We do need to document setup for that, though.

[2017-05-16 20:03] #1262 closed

[2017-05-16 20:07] #4775 closed

[2017-05-16 20:45] #3267 closed

[2017-05-16 20:55] timabbott commented on #4720
I haven't observed this happening again, so I now wonder whether it was the side of effect of some bug in chat.zulip.org.

Removing the priority label, since this may have some sort of strong 1-time thing where several people experienced this on the same day, and none of them again (could reasonably have to do with changes we made to how reloading worked).

[2017-05-16 20:56] timabbott commented on #4710
This is fixed in the branch that had the bug (which we're running on chat.zulip.org to shake out all the bugs in).  Thanks @HarshitOnGitHub and @rishig!

[2017-05-16 20:56] #4710 closed

[2017-05-16 20:57] timabbott commented on #4775
This issue was fixed recently, thanks to @HarshitOnGitHub!  Thanks @strugee for the bug report :)

[2017-05-16 21:00] timabbott commented on #3677
Closing this as a symptom of #3895.

[2017-05-16 21:00] #3677 closed

[2017-05-16 21:08] timabbott opened #4806 "emoji picker sort order is worse than typeahead sort order"
If you filter `:one`, in the emoji picker, you get everything with "one" in it, e.g.
![image](https://cloud.githubusercontent.com/assets/2746074/26128371/11091f9e-3a41-11e7-9436-a831b872ec8f.png), whereas if you type `:one` in the compose box, it correctly shows the exact match at the top.  We should fix the emoji picker to prioritize exact start-of-string matches above others that match the text.

[2017-05-16 21:38] strugee commented on #4775
Sure thing :heart:

[2017-05-16 21:49] #4444 closed

[2017-05-16 21:49] #4581 closed

[2017-05-16 23:09] timabbott commented on #675
Closing this; I think it remains a great source of feedback on things we can improve in the app's onboarding, but certainly the original issue of creating user documentation on our features is resolved by the /help/ site.  I'm closing this.

[2017-05-16 23:09] #675 closed

[2017-05-16 23:09] timabbott opened #4807 "Create nw issues based on relevant feedback from #675"
#675 has a ton of new-user feedback.  We should go through it an open issues for items that are not yet resolved, and then close this issue.

[2017-05-16 23:10] timabbott commented on #4445
@a2t2 sorry for the very slow reply!  Somehow this question slipped through the cracks.

I think the configuration you describe should work, and log emails to a file.  However, the traceback is clearly showing that Django is not using the suggested email backend.  I wonder there's something wrong with how the configuration file is included?

If you haven't figured this out yet @a2t2, I'd be happy

[2017-05-16 23:34] timabbott commented on #1391
@adnrs96 this may be an issue worth tracking as something that could use TinglingGit :)

[2017-05-16 23:35] timabbott commented on #373
This is a duplicate of #2186.

[2017-05-16 23:35] #373 closed

[2017-05-16 23:35] timabbott commented on #696
I removed these from the 5xx page; I think it's worth leaving this issue open for the idea of templating these.

[2017-05-16 23:36] timabbott commented on #754
We've entirely eliminated the domain field, so we can close this.

[2017-05-16 23:36] #754 closed

[2017-05-16 23:37] timabbott commented on #908
@eeshangarg we should deduplicate this with #4732 somehow.

[2017-05-16 23:41] eeshangarg commented on #908
@timabbott: Hmm.. do we need to? Its clear from #4732's description that it is a follow-up to #3545. I think it might just be better to change the issue title to something more specific, for instance, "Handle invalid credentials in zulip_slack_config.py". Or split it into two issues to include your suggestions about installing bindings. :)

[2017-05-16 23:45] timabbott commented on #908
Sure; I guess what I mean is that I think half of this, namely users and channels, is done in the existing Slack importer (which probably deserves more documentation attention).

[2017-05-16 23:47] timabbott commented on #4803
Note that we can include emoji and other markup in these descriptions, if we want.

[2017-05-16 23:56] eeshangarg commented on #908
@timabbott: Well, then maybe let's just close #4732 and split it into two new issues. More documentation issues can be created for specific goals I guess. If a lot of the work in *this* issue is already done, should we maybe consider closing this as well and create more specific issues? Specificity is good (I could be wrong though!) It would definitely make efforts related to the goals defined her

[2017-05-17 00:00] #4663 closed

[2017-05-17 00:24] rnice01 commented on #4676
Tim,
Yes, the RFC does make things a bit tricky as to what can be used for the
display name portion of the email. Thanks for reviewing, will the PR just
be closed then?

On Thu, May 11, 2017 at 9:23 PM, Tim Abbott <notifications@github.com>
wrote:

[2017-05-17 01:28] timabbott opened #4808 "channel.js: Handle 429 (rate-limiting errors) with a SetTimeout+retry"
The Zulip API has built-in rate limiting of roughly 100 requests/second (per client).  If, when using a Zulip browser window, one reaches that limit, one will start getting 429 errors.  In general, if that happens, at least in some cases, `channel.js` should, rather than returning an error to the user, in most cases just delay the request for a minute and try again, rather than abandoning the effo

[2017-05-17 01:32] timabbott commented on #4676
I closed the #4704 PR, since you're right that the code in it isn't going to be mergable.  What we should do instead is the following:

When constructing to lines in `send_email_to_user` (`zerver/lib/send_email.py`), we should basically change `display_email` to return either `Name <email>` or just `email`, depending on whether the user's name contains characters which are not permitted in the nam

[2017-05-17 01:56] rnice01 commented on #4676
Oh, yeah, I didn't even think to check the Django library. I will look into this.

Rob Nice

[2017-05-17 01:59] timabbott commented on #3708
I fixed that glitch in cab908b664ee214b41197fa51bc58423457e6354 as part of an unrelated refactoring.

I think that implementation is better for now, until we finish this feature, since at least one just need to reactivate the dead stream to get it back.

[2017-05-17 02:13] theProgrammerPatriot commented on #4797
@zulipbot unclaim

[2017-05-17 02:43] showell commented on #3708
Sounds good...there may be related quirks here, like we may end up sending announcements to the deactivated stream.  (Some of the hypothetical quirks wouldn't necessarily be user facing, just wasteful of DB resources.)

[2017-05-17 02:46] lonerz opened #4810 "settings: Saving changes in your-account settings brings current message to an earlier message"
1. Go to [your-account](https://chat.zulip.org/#settings/your-account) settings.
2. Press "Save Changes".
3. Exit and go to your home screen to see that your current message has changed to an earlier message.

(Seems to be the same with "Change email")

[2017-05-17 02:51] lonerz opened #4811 "settings: change email popup when ESC is pressed leaves gray overlay"
1. Go to [your-account](https://chat.zulip.org/#settings/your-account) settings.
2. Go to where your email is and click `[Change]`.
3. When the change email popup comes up, press `Esc`.
4. This should leave a gray overlay on your home screen.
5. Click the screen to get rid of the gray overlay.

We can either have `Esc` go back to [your-account](https://chat.zulip.org/#settings/your-account) settin

[2017-05-17 03:07] timabbott commented on #4811
Agreed as to where it should go.  I think this is an interaction bug between bootstrap's modals and our settings UI, but we may be able to design a workaround.  If not, we may want to dump using bootstrap for our modals.

[2017-05-17 03:11] timabbott opened #4812 "real-time sync when adding subscribers with a filter isn't correct"
It appears that we're using the wrong function to add subscribers, and appending them to the HTML, rather than appending them to the `list_render.js` list of users and then re-filtering.

As a result, users who don't match the current filter will appear temporarily in the list when subscribed.

[2017-05-17 03:13] timabbott commented on #4810
This is easily reproducible in development, so should be fixable :)

[2017-05-17 03:27] timabbott commented on #4811
I think it might work to fix this to just add hotkey support for closing the top modal as what "escape" does; the bug is I think caused by closing the larger settings overlay while the smaller modal is open.

[2017-05-17 03:38] #4810 closed

[2017-05-17 03:40] timabbott commented on #4810
Nice bug report!  I fixed this; turns out to be some code that's a relic of how we used to implement settings in the same space as the message viewport.

[2017-05-17 03:46] timabbott commented on #4812
This looks to be a mismatch between the use of `list_render.js` in `stream_edit.js` and `add_sub_to_table` in `subs.js`, which just goes ahead and tweaks the HTML.  `add_sub_to_table` should instead be doing some sort of update call into the `list_render` library.  I'm not sure we have such a call yet, so this is a larger project that we should do after the Zulip 1.6 release.

@brockwhittaker FYI

[2017-05-17 04:43] rishig commented on #4676
I should have been clearer, I meant the later RFCs like https://tools.ietf.org/html/rfc6532. (Not sure if that's the latest or the right one, but at this point there is definitely an RFC for unicode display names.)

[2017-05-17 05:16] #4797 closed

[2017-05-17 05:18] timabbott commented on #863
Fixing #3608 should suffice to complete this issue; closing it as a duplicate.

[2017-05-17 05:18] #863 closed

[2017-05-17 06:30] #4657 closed

[2017-05-17 06:33] timabbott commented on #4808
@rht can you open an issue for extending `zerver/lib/rate_limiter.py`  to send a similar header?  Seems like a good idea we should adopt in our rate limiting system.

[2017-05-17 06:36] gnprice opened #4815 ""next unread" hotkey includes muted streams"
Using the `n` ("Narrow to next unread") hotkey on chat.zulip.org just now, it started cycling through the topics in the #test+here stream. Which I'm subscribed to, but have muted.

The hotkey should skip muted streams and muted topics -- its purpose is to help catch up, and I don't want to catch up on those.

[2017-05-17 06:41] timabbott commented on #4815
Duplicate of #4735.  There's an open PR, in need of some fixes (the whole feature is new in the last week).

[2017-05-17 06:41] #4815 closed

[2017-05-17 06:43] gnprice commented on #4815
Huh. I thought I'd... ah, that's a PR. I searched for any open issues mentioning "muted"; should have also deleted the `is:issue` token. Thanks!

[2017-05-17 06:43] rht opened #4816 "Search box in the user list sidebar should be a search icon instead"
The search box is then revealed when the icon is clicked. This saves screen space and maintains consistency with the UI of the streams sidebar.

[2017-05-17 06:58] jayvdb opened #4817 "Publicly visible streams"
Currently people must log in to read a 'public' stream.

Some projects prefer transparency, which means the public should be able to see ongoing discussions and archives, and requiring login dents the perception of transparency.

Lack of true 'public' streams I assume prevents Zulip from being a knowledge-base searchable via search engines. (c.f. https://github.com/zulip/zulip/issues/4080)

Docume

[2017-05-17 07:04] timabbott commented on #4817
I think this would be a fun project to work on at the PyCon sprints.  Adding this to our planning doc for that event.

[2017-05-17 07:05] timabbott opened #4818 "Fix line breaks in emoji picker related to realm emoji on chat.zulip.org"
There's a weird issue with realm emoji causing line breaks in the emoji/reactions picker.  You can see this if you scroll down to `:glenda:` in the chat.zulip.org emoji picker.

Note that chat.zulip.org is running tabbott/master which has a few extra commits that are emoji-related and could partially cause this; those extra commits will be merged into master soon, so it's worth fixing this regardl

[2017-05-17 07:40] dhcrzf opened #4819 "Add unit test coverage for timerender.js module"
Consider adding unit tests for the timerender.js module.

JavaScript unit test guide -
http://zulip.readthedocs.io/en/latest/testing-with-node.html

[2017-05-17 07:51] dhcrzf opened #4820 "Refactor timerender.js functions to pass and return objects"
The render_now() function in timerender.js returns a tuple:

`return [time.toString("MMM\xa0dd"), formal_time_str, false];`

which is then used in render_date() and update_timestamps(). Consider converting render_now()'s return value to be an object and then modify render_date() and update_timestamps() accordingly. This should increase readability and make future code reviews easier.

[2017-05-17 15:45] tejaskasetty opened #4825 "Emoji scrollbar: Not updated after each search result and inconsistent timing of search results."
- After each search result  the emoji-scrollbar needs to be updated.
- Search results even if they are obtained instantly the the size and position of the search results are not updated fast and takes variable amount of time. Ex - When we scroll down a considerable amount and then search something. See below:
![scrollbar](https://cloud.githubusercontent.com/assets/19589196/26162959/d2ae11d6-3b45-1

[2017-05-17 15:51] tejaskasetty commented on #4825
@zulipbot label "emoji"

[2017-05-17 15:56] showell commented on #4820
I think this would be a helpful change!  I added the "bite size" label.

[2017-05-17 16:01] tejaskasetty commented on #4825
@zulipbot  label "area: emoji"

[2017-05-17 16:24] brockwhittaker commented on #4818
@zulipbot claim.

[2017-05-17 17:42] HarshitOnGitHub commented on #4818
Reproducible on the latest master as well.

[2017-05-17 17:53] eeshangarg commented on #4732
I totally forgot about this and started working on other stuff. Anyway, @timabbott, quick question, I browsed some of our other similar scripts in `api/integration/`. A lot of them don't seem to handle the case where invalid credentials are supplied. Is this handled automatically by `zulip.Client`, or do we need to explicitly handle this for other scripts that don't?

[2017-05-17 18:17] HarshitOnGitHub commented on #4761
@zulipbot claim

[2017-05-17 18:21] synicalsyntax commented on #4825
@zulipbot label "area: emoji"

[2017-05-17 18:38] timabbott commented on #4815
Fix merged, thanks for the report!

Yeah, in theory that one should have gone through an issue, but sometimes folks don't bother when the thought is the fix will be quick and is being actively worked on.

[2017-05-17 18:40] timabbott commented on #4732
I think `zulip.Client` should handle that, from a role perspective (it'll throw an exception).  No sense in duplicating that work.  But easy to test and see whether you're happy with the error message produced.

[2017-05-17 18:57] timabbott commented on #4754
It turns out the checkboxes issue was present only if you got there a certain way.  Fix was 6e66495c38cb31aa22ad990f438ee06954e537f0.

[2017-05-17 19:00] lonerz commented on #4754
Oh hm, interesting.

[2017-05-17 19:15] timabbott commented on #4816
Agreed, this would be a nice cleanup of the UI.  I think like the left sidebar, clicking the title USERS should also open it, to provide a larger click target.

[2017-05-17 19:20] timabbott commented on #4808
A quick note: we already provide the data in the error message: `{"msg":"API usage exceeded rate limit, try again in 15.314237833 secs","result":"error"}`, so this should be trivial to implement.

[2017-05-17 19:23] timabbott opened #4831 "rate_limit: Provide time to retry in machine-readable form"
We already provide the data in the error message: {"msg":"API usage exceeded rate limit, try again in 15.314237833 secs","result":"error"}, for API clients over the rate limit, so this should be trivial to implement.

Slack does this via a `Retry-After` HTTP header, which is reasonable, but it's possible we should just change change our JSON error message format to have the time be its own field.

[2017-05-17 19:50] #4818 closed

[2017-05-17 21:40] adnrs96 commented on #1391
Sure, I will keep an eye on it.

[2017-05-17 21:57] lonerz commented on #4820
@dhcrzf can you claim this issue by commenting `@zulipbot claim`?

[2017-05-17 22:01] dhcrzf commented on #4820
@zulipbot claim

[2017-05-17 22:02] dhcrzf commented on #4819
@zulipbot claim

[2017-05-18 01:27] rnice01 commented on #4676
Rishig, 6532 does look like that's the latest one in regards to allowable characters for the display name. Here is a brief overview of my findings (according to my understanding anyway :P):

- The RFC 5322 address specification (3.4) considers the display-name a phrase which is one or more words, and words are considered atoms. Strings of characters not allowed in atoms can be represented in a quo

[2017-05-18 01:42] rishig commented on #4676
cool! There's also https://docs.python.org/3/library/email.parser.html#parser-api in Python 3, which I think implements RFC 6532 directly (though I haven't looked too carefully).

Also, it's possible that Django's `send_mail` is already normalizing, though it would be nice to have the additional guarantee that `parseaddr(formataddr((name, email)))` always does the right thing. Also I think we shou

[2017-05-18 04:03] pirate opened #4836 "Add sub-stream topic mentions with syntax #stream/topic"
We were chatting about it here: https://recurse.zulipchat.com/#narrow/stream/zulip/subject/stream.20mentions (for the RC ppl, for those who don't have access, I summarize below).

The idea is to add the ability to link to specific topics, not just streams (with topic autocomplete as you type).  I think it would be really powerful, and make cross-linking between discussions much easier.

e.g. #stre

[2017-05-18 05:19] lonerz commented on #4068
.

[2017-05-18 05:19] lonerz commented on #4068
Still working.

[2017-05-18 05:20] lonerz commented on #1180
Still working.

[2017-05-18 05:20] lonerz commented on #4587
Still working.

[2017-05-18 06:09] dakshshah96 commented on #4603
@zulipbot working.

[2017-05-18 06:19] timabbott commented on #4836
I think this is a good idea.  If we're OK with limiting to just recent topics present in the browser (for the typeahead), this should be pretty doable.

I think we want the syntax to be something of the form **announce/foo bar** so that it's clear the whole thing is a token for easy parsing and low false-positive rate; I'm not sure what the best delimiter is.  `/`?  `>`?  `|`?

[2017-05-18 06:40] akhilmd commented on #4249
Opened a [Pull Request (#4607)](https://github.com/zulip/zulip/pull/4607) for this issue.

[2017-05-18 06:43] lonerz commented on #4249
@akhilmd make sure to reference the issue on your PR.

[2017-05-18 15:05] hollywoodno commented on #2278
@zulipbot abandon

[2017-05-18 19:48] timabbott opened #4839 "Make Zulip give a better error for Google Compute Platform weird boto configuration"
GCE has an /etc/boto.cfg, which GCP prepopulates in its image to include:
[code]

The boto library reads this, an ends up being totally broken on import with Python 2.  We should at least add code in our production installer to detect this situation and tell the user to fix it.

@jmandel FYI; did you end up opening an issue with Google about this?

[2017-05-18 21:07] SteveCliff opened #4841 "Restricting users to domain(s) loses org info on login screen"
The organization setting "New users restricted to the following domains" seems to change the way the login screen shows org details:

- With the option unchecked, the login page is correct and shows org info along with email/password
- With the option checked and domain(s) entered, the login page only shows email/password, I.E. no org info

Expected result is that this option shouldn't affect whet

[2017-05-19 02:08] showell opened #4842 "Visiting /apps on Android sometimes takes you to the "Linux desktop" subpage"
In Chrome on Android.  Heard about this at the PyCon booth.

[2017-05-19 02:54] kkanahin commented on #2559
@timabbott Could you please review my investigations.

[2017-05-19 06:17] dhcrzf opened #4843 "message view: Recipient bar date stamp should show older years"
When rendering the date stamp on the recipient bar, timerender.render_now() only includes the year when the difference in days between now and the message(s) is >= 365. It should probably check if the message(s) were in a previous year and include the year in the date stamp if true.

Discovered in #4802.

![example](http://i.imgur.com/pLshAjw.png)

[2017-05-19 20:11] dehnert opened #4844 "Date doesn't appear when new topic at top of screen"
It appears that when a new topic is just at the top of the page (ie, the top message is a different topic from the message that's just barely offscreen), the date string (eg, "yesterday") goes away. As a relatively naive user, it wasn't obvious why the date wasn't there (or how to get it back), which left me confused about when a discussion actually happened.

[Tim says](https://chat.zulip.org/#na

[2017-05-20 20:10] pirate commented on #4270
+1 I think it would be highly useful to be able to search, link to, and access archived streams from the frontend.  This is especially helpful for open source projects that want to maintain chat history transparency.

It doesn't have to be fast, but it should be possible.  It may also be helpful to update the docs on [Streams and Topics](http://zulip.readthedocs.io/en/latest/prod-customize.html#st

[2017-05-21 02:25] abhijeetkaur commented on #2047
Update: The work needs to be started by first working out the backend and then we can decide where to fit it in the UI.
* One could start by creating an endpoint to write a python function which uses the `handle` function in "zerver/management/commands/export_single_user.py" to create tarball in /tmp/zulip-export .
* The next step would be to go through `zerver/lib/upload.py` to upload this tarbal

[2017-05-21 06:41] dhcrzf commented on #4843
@zulipbot claim

[2017-05-21 10:45] mahimg commented on #4074
@zulipbot I am working on this.

[2017-05-21 15:47] tejaskasetty commented on #4764
@timabbott  Is there a possibility to get the commit on you branch master into one of my branches

[2017-05-21 16:59] Shayan-To opened #4849 "Add documentation for init.d starting nginx."
Write developer documentation for in developer docs for init.d and Linux in https://github.com/zulip/zulip/blob/master/docs/ssl-certificates.md

The main purpose of this is just to make clean that Zulip uses the system nginx, not something run via supervisord, so when one changes a certificate, one needs to restart the system nginx.

For reference: [Zulip chat](https://chat.zulip.org/#narrow/strea

[2017-05-21 17:13] HarshitOnGitHub commented on #4764
@tejaskasetty I have updated PR #3923 with the latest commits that are not yet merged in the master but have been deployed on chat.zulip.org, you can checkout it locally and cherry-pick the commits. Let me know in pm if you face any problem. :smiley:

[2017-05-21 18:35] tejaskasetty commented on #4764
@HarshitOnGitHub  Thanks a lot. 👍

[2017-05-21 19:58] lonerz commented on #1679
@hlieberman we pushed hotkey `n` to skip to the next unread topic :) Just wanted to let you know!

[2017-05-21 20:11] YagoGG opened #4851 "Non-existing emails in dev_fetch_api_key API endpoint return a 500 error"
# Description
The `dev_fetch_api_key` API endpoint is designed to provide an API key with access to accounts in a development server.

When an invalid user account is provided, the server returns a 500 error and throws the following exception:

[code]

# Steps to reproduce
1. Start a development server.
2. Send a POST HTTP request to `localhost:9991/api/v1/dev_fetch_api_key`, with a form-data enco

[2017-05-21 22:08] tejaskasetty commented on #4764
@timabbott  Found the bug. Its a single line ( or may be a 2 line fix).
I m really sorry but I don't know how to myself change the commit directly. can you help me. For now i'm mentioning it here and in the commit as comment.
 In 57ba1a244af6e6e4a2628e7aeafb024abc810d69 on timabbott/master branch, in the file
[code]
```emojis[emoji_name].url``` is undefined.
Therefore, we are assigning undefined a

[2017-05-22 00:06] tejaskasetty commented on #4764
How do I make these changes and submit it for review?

[2017-05-22 00:10] lonerz commented on #4764
@tejaskasetty what do you mean? You can submit a PR.

[2017-05-22 01:02] #1679 closed

[2017-05-22 02:27] lonerz commented on #4200
@zulipbot claim

[2017-05-22 02:40] lonerz commented on #3797
@zulipbot claim

[2017-05-22 04:17] vishwesh3 opened #4861 "Inline emojis are not rendered properly on Safari 10.1.1"
This is browser specific.

on Safari
![ac3ea30e-5824-4a2f-bf37-4e6c1b5e25cc](https://cloud.githubusercontent.com/assets/18511177/26292337/bcb27a62-3ed2-11e7-8b66-233d3123adf4.jpg)

on Firefox
![b61102eb-50b0-42ab-afd3-e8b2fa078b34](https://cloud.githubusercontent.com/assets/18511177/26292448/aebd85cc-3ed3-11e7-9c8e-c18315af35d9.jpg)

[2017-05-22 05:00] anirudhjain75 commented on #4702
Hey, is this still pending ??

[2017-05-22 05:22] HarshitOnGitHub commented on #4750
@zulipbot claim

[2017-05-22 05:26] HarshitOnGitHub commented on #4764
@tejaskasetty Just open a PR with your commit on top of my commits. I will then include that commit in my PR so that it gets merged into master when the rest of the changes get merge.

[2017-05-22 06:29] tejaskasetty commented on #4764
@lorenz All these changes are in timabbott's master or in Harshith's branch. I m have doubts how to open my PR on top of these commits if they are not in zulip master because I ll have to include all other changes in file which in not present in zulip/master but is in timabbott/master.
I thought I would make changes in their commit itself but don't have a clear idea how to do (and don't want to me

[2017-05-22 06:41] tejaskasetty commented on #4764
I m sorry guys may be my in-expertise in git is causing this problem and popping a lot of doubts and questions. I hope to learn, can you help me.

[2017-05-22 07:53] neerajwahi opened #4862 "email: Characters are converted to HTML entities in the email subject"
As a result, a name such as `Test User W'14` will render as `Test User W&#39;14` in the subject of a private message email.

[2017-05-22 12:43] tejaskasetty commented on #4764
@timabbot The issue is resolved. Please check my PR.

[2017-05-22 13:24] tejaskasetty commented on #4806
@timabbott The problem isn't just with the sort order. In the emoji picker, I noticed that emoji ```one``` is missing. Thats why it doesn't appear.

[2017-05-22 14:44] HarshitOnGitHub commented on #4806
@tejaskasetty Where did you check? I can confirm emoji `one` is there in the emoji picker.

[2017-05-22 15:29] tejaskasetty commented on #4806
@HarshitOnGitHub  I m sorry, I checked it in master branch and there we have the recurring "c in a circle emoji" which has been fixed by you but not yet merged to zulip/master. And the emoji ```one``` appears different in chat.zulip.org and master. So, I got confused. I was looking for the ```1``` emoji which appears blue in zulip/master.

[2017-05-22 15:30] tejaskasetty commented on #4806
By the way, why is that so, was a different image used while implementing using sprite sheets for some emojis?

[2017-05-22 16:42] lonerz commented on #4702
@anirudhjain75 what do you mean "still pending"? It's open for whoever wants it.

[2017-05-22 16:48] j831 commented on #4540
@zulipbot claim

[2017-05-22 16:52] tejaskasetty commented on #4806
@zulipbot claim

[2017-05-22 16:55] bkiu commented on #4217
@zulipbot claim

[2017-05-22 18:06] HarshitOnGitHub commented on #4806
@tejaskasetty My changes have been merged in the master, you just need to re-provision in order to see them.

[2017-05-22 18:11] RedWasabi commented on #4862
@zulipbot claim

[2017-05-22 18:37] lonerz opened #4873 "hotkeys: `u` to open profile of user who sent the message"
`u` should open the profile (user popover) for the current message.

You might need to do some refactoring for the user popover to open on messages without the profile pic.

[2017-05-22 18:38] lonerz opened #4874 "hotkeys: `p` narrows to next unread PM thread"
Similar to `n` hotkey.

[2017-05-22 19:16] jmbowman opened #4876 "Login and registration validation checkmarks need alt text"
The email and password fields on the login page both use an SVG checkbox icon (/static/images/checkbox-valid.svg) to indicate that valid data has been entered.  The email field on the registration page has the same issue.  These img elements should have a meaningful alt attribute set for the benefit of users utilizing screen readers, etc.

[2017-05-22 19:16] jmbowman commented on #4876
@zulipbot label accessibility

[2017-05-22 19:19] jmbowman commented on #4876
@zulipbot label "accessibility"

[2017-05-22 19:27] feorlen commented on #3474
Is there someone also looking at the latest Swagger UI version? While I was busy elsewhere, the Swagger folks created a new swagger-editor-dist npm package for those of using the the dist directory. Now that I'm back that will hopefully take care of the problem I ran into trying to wrap this up.

[2017-05-22 19:28] synicalsyntax commented on #4876
@zulipbot label "not a valid label" (accessibility wasn't a previous valid label, testing if that was buggy behavior)

[2017-05-22 19:30] synicalsyntax commented on #3805
@zulipbot label "not a valid label" (accessibility wasn't a previous valid label, testing if that was buggy behavior)

[2017-05-22 19:31] jmbowman commented on #4876
The accessibility label was added just before I created this issue; I'm doing an a11y audit and will be filing a few more issues using it.

[2017-05-22 19:31] synicalsyntax commented on #3805
@zulipbot label "accessibility" (accessibility wasn't a previous valid label, testing if that was buggy behavior)

[2017-05-22 19:32] synicalsyntax commented on #4876
Ah, I understand now; I had never seen it before so I thought it was a bug in zulipbot. Thanks for letting me now.

[2017-05-22 20:46] jmbowman opened #4883 "Text on login and registration screens should have better contrast"
Much of the text on the login and registration screens doesn't satisfy the W3C WCAG Level AA guidelines for [sufficient contrast](http://webaim.org/standards/wcag/checklist#sc1.4.3) from the background.

You can identify which text has this issue via the [Web Developer](http://chrispederick.com/work/web-developer/) or [Accessibility Developer Tools](https://chrome.google.com/webstore/detail/access

[2017-05-22 20:47] jmbowman commented on #4883
@zulipbot label "accessibility"

[2017-05-22 21:05] lonerz opened #4885 "hotkeys: Fix `n` key to work when current message is a PM"
When your current message selected is a PM, the `n` hotkey doesn't work. We probably should come to a consensus on what should happen.

Proposed solution: `n` hotkey should go to the first unread topic in a stream thread, not a PM thread.

[2017-05-22 21:06] jmbowman opened #4887 "Misuse of aria-required attribute on login and registration forms"
The login form contains four elements which use the "aria-required" attribute, two of which are divs which are not valid elements for it to be used on.  (The usage on the input elements is completely appropriate.) Similarly, the email input on the registration form is followed by an empty div using an inappropriate "aria-required" attribute.

I'm not sure yet what these empty divs are used for (dy

[2017-05-22 21:06] jmbowman commented on #4887
@zulipbot label "accessibility"

[2017-05-22 21:12] lonerz commented on #4513
Still working.

[2017-05-22 21:15] jmbowman opened #4889 "Login and registration screen avatar should not be a background image"
The avatar image on the login and screens (at CSS selector ".org-header .avatar") is currently shown as a background image, which prevents alt text from being specified for it.  This should be displayed as a standard img element with an appropriate alt attribute instead (something like "organization logo", perhaps).

[2017-05-22 21:15] jmbowman commented on #4889
@zulipbot label "accessibility"

[2017-05-22 21:22] gukoff opened #4891 "Docs for remote developent with PyCharm"

[2017-05-22 21:22] gukoff commented on #4891
@zulipbot claim

[2017-05-22 21:32] jmbowman opened #4894 "Focus issues on login and registration pages"
When using the "tab" key to navigate the login and registration pages, there are some confusing quirks in the change of focus:

* The "Sign in" and "Sign up" buttons have no visual indication that they have received focus (which can make a user utilizing keyboard navigation uncertain that they are about to trigger the correct action).
* There are invisible elements after the "Sign in with Google"

[2017-05-22 21:32] jmbowman commented on #4894
@zulipbot label "accessibility"

[2017-05-22 22:01] jmbowman opened #4896 "Registration form email label not associated with field"
On the registration form, the email field's label isn't correctly associated with the field itself.  Either the input should be contained within the label or the label's "for" attribute should be set to the input's ID.

[2017-05-22 22:01] jmbowman commented on #4896
@zulipbot label "accessibility"

[2017-05-22 22:06] #4217 closed

[2017-05-22 22:31] timabbott commented on #1992
This was fixed a few weeks ago, I think in #4675.

[2017-05-22 22:31] #1992 closed

[2017-05-22 23:25] lonerz opened #4907 "Deciding and moving popular emoji reactions to top of emoji picker"
We either want to create hotkeys for the emojis below or just move them to the top of the emoji picker for easy access. We need an emoji for the following:

- Agree!
- I'm on it/Working on it! (maybe 🔧 )

[2017-05-22 23:26] lonerz commented on #3926
Split this into smaller issues. Closing now.

[2017-05-22 23:26] #3926 closed

[2017-05-22 23:33] synicalsyntax commented on #4907
We had this discussion a while ago [here](https://chat.zulip.org/#narrow/stream/PyCon.20Sprints/subject/hotkeys/near/175225).

My main preference for agree is `:point_up:` and WIP is `:construction:`

[2017-05-23 00:33] #4831 closed

[2017-05-23 01:25] jmbowman opened #4913 "Main screen contains duplicate element IDs"
An audit from the Accessibility Developer Tools revealed that there are a bunch of element IDs which appear in the DOM twice.  Most of these seem to be divs like the following, which appear both under "Home" and the message's source stream:

[code]

If these empty divs are still needed, they should be refactored to use stream-scoped (or otherwise uniquely identifying) IDs.

[2017-05-23 01:27] timabbott commented on #1680
This was fixed by adding the new drafts feature.  Closing.

[2017-05-23 01:27] #1680 closed

[2017-05-23 01:28] timabbott commented on #4885
Probably we should just also include PM threads as possible threads in the `n` hotkey.

[2017-05-23 01:31] neiljp opened #4914 "Confusing referer header issue with firefox"
At the start of my PyCon sprint, my firefox wouldn't register or login to zulip, with a small/simple yellowish strip at the top of the page with an error message, which we finally figured out was an issue with "network.http.sendRefererHeader" being 'user set' to zero, rather than the default value of 2. Resetting it appeared to fix this.

[2017-05-23 01:36] #4522 closed

[2017-05-23 01:36] #4763 closed

[2017-05-23 01:40] timabbott commented on #4913
I verified that these IDs were indeed unused completely and fixed this.  Thanks @jmbowman for the bug report!

[2017-05-23 01:40] #4913 closed

[2017-05-23 01:44] timabbott commented on #4914
Fascinating.  I'm not sure what the issue is, but it's reasonably likely to be a Django issue.

[2017-05-23 11:35] rht commented on #4724
(whoa fixed!!)

[2017-05-23 15:01] Shashankagarwal181996 commented on #4509
Hello @timabbott I am really sorry for the delay I got stuck in some work. Yes I am still working on this and I will finish this ASAP.

[2017-05-23 16:20] lonerz opened #4919 "Add Casper testing for muting/unmuting"
You can start with the work already done in #4916.

[2017-05-23 16:21] hackerkid commented on #4746
@zulipbot abandon

[2017-05-23 16:32] jmbowman opened #4921 "Invalid ARIA attribute target IDs in information modal"
The modal dialog which shows information about keyboard shortcuts, message formatting, and search operators seems to have been through a refactoring which broke some of its ARIA attribute usage.  The divs containing the tab content use "aria-labelledby" attributes which refer to "keyboard-shortcuts-label", "markdown-help-label", and "search-operators-label" element IDs which no longer exist in the

[2017-05-23 16:33] jmbowman commented on #4921
@zulipbot label "accessibility"

[2017-05-23 17:35] #4200 closed

[2017-05-23 17:53] synicalsyntax commented on #4873
@zulipbot claim

[2017-05-23 19:27] Brigette-Eckert commented on #4894
@zulipbot claim

[2017-05-23 19:28] timabbott opened #4937 "GitHub auth doesn't report a useful error message with no public email"
If a GitHub account has no public email address associated with it, then GitHub registration gives a confusing "Field is required" error message.

I think we should do one of these 2 things:
(1) See if we should be asking for additional permissions from GitHub Oauth that include a private email.
(2) Give a better error message explaining the user needs to set a public email

@umairwaheed can you l

[2017-05-23 19:34] #3797 closed

[2017-05-23 21:25] Brigette-Eckert commented on #4894
I changed the buttons color after tab using :focus.  I don't see the sign in with google or sign in with github elements on the page.

[2017-05-23 23:47] neiljp opened #4960 "Define bot: occasionally shows a warning/error"
I'm not sure how to reproduce this, or if it is a zulip issue or related to the library or server used, but on occasion an error appears on the console where the bot is run:

INFO:urllib3.connectionpool:Starting new HTTPS connection (1): owlbot.info
ERROR:root:Expecting value: line 2 column 1 (char 1)
Traceback (most recent call last):
  File "bots/define/define.py", line 49, in get_bot_define_res

[2017-05-24 00:03] chrish42 opened #4961 "Assert at end of if statement does not help mpyp value inference"
While working on making zulip pass with `mypy --strict-optional`, I ran into the following piece of code. Mypy was essentially saying that message.get_realm() was not guaranteed to work ("Not all parts of the union have get_realm() method", or somesuch.)

[code]
Let's assume, at least for here, that the get() call will never return None. I tried the following change, but mypy was still giving the

[2017-05-24 00:05] chrish42 commented on #4961
Typed this in the wrong Github browser tab. Doh. Please ignore.. (Filing in mypy.)

[2017-05-24 00:05] #4961 closed

[2017-05-24 00:30] Brigette-Eckert commented on #4887
@zulipbot claimed

[2017-05-24 00:55] brainwane opened #4970 ""bugdown" is a confusing name"
At the sprints today, a newer contributor thought "bugdown" was a means of finding bugs in the Markdown processor. Perhaps we should find a better name.

[2017-05-24 01:02] leonstrife opened #4975 ""John" Bot handles message poorly"
For example, if you send "How are you?". The bot would handle the message and calculate its closest match to be "Who are you?" instead of "How are you today?" based on the calculation powered by chatterbot API. And then the bot would reply the response registered to "Who are you?", such as " Who? Who is but a form following the function of what".

[2017-05-24 01:25] Brigette-Eckert commented on #4887
updated PR with commit fixing this issue.

[2017-05-24 01:28] anna-liao commented on #4517
I'm working on this at PyCon sprints

[2017-05-24 01:38] timabbott opened #4983 "Fix running `tools/test-backend AvatarTest` (with a test class)"
This seems to have regressed recently.  Running with other classes seems to work, so this one is a bit mysterious.

The traceback is:
[code]

[2017-05-24 01:44] timabbott commented on #4517
@anna-liao you can use `@zulipbot claim` to get the issue assigned to you in GitHub's UI :)

[2017-05-24 02:06] anna-liao commented on #4517
@zulipbot claim

[2017-05-24 04:12] timabbott commented on #4960
Maybe worth adding a try/except with a print statement that would make clear what's happening?  But a good guess would be that this is what happens when you try to decode a non-JSON response (e.g. a 500 page)...

[2017-05-24 04:32] rht commented on #4839
The plugin_directory path in `/etc/boto.cfg` is generated from this line, https://github.com/GoogleCloudPlatform/compute-image-packages/blob/e843cc6919bbed8203ef8ce87b5a3120d4e86800/google_compute_engine/boto/boto_config.py#L82. There shouldn't be an err if the package is installed within a zulip-venv instead of zulip-py3-venv.

[2017-05-24 04:35] LiuzcEECS commented on #4331
I'm still on it and waiting for review

[2017-05-24 04:39] umairwaheed commented on #4937
Sure. @zulipbot claim.

[2017-05-24 04:43] timabbott commented on #4894
@Brigette-Eckert those buttons only appear if you uncomment certain lines in `zproject/dev_settings.py`.

[2017-05-24 11:25] tejaskasetty commented on #4806
OK

[2017-05-24 15:25] joshland opened #4995 "install script does not run build_emoji"
I am trying to get a production install running - I believe that I have followed all of the directions. After settings.py was complete, I attempted to initialize the database.  This is the resulting error.

` ✘ ⚙ zulipdev@joshland  ~  sudo su zulip -c /home/zulip/deployments/current/scripts/setup/initialize-database
++ dirname /home/zulip/deployments/current/scripts/setup/initialize-database
+ c

[2017-05-24 15:25] #4937 closed

[2017-05-24 16:40] #4851 closed

[2017-05-24 17:03] jmbowman opened #4996 "Search fields need labels for accessibility"
The 2 input fields with search-query and user-list-filter classes do not have labels which can be found by screen readers or other assistive technology.  It might not be desirable to add a visible label which would be redundant with the placeholder text, but the W3C does offer some [alternatives for providing hidden labels](https://www.w3.org/WAI/tutorials/forms/labels/#hiding-label-text) which ca

[2017-05-24 17:03] jmbowman commented on #4996
@zulipbot label "accessibility"

[2017-05-24 17:16] jmbowman opened #4997 "One timerender span ID is always duplicated"
An accessibility audit of the main UI page turns up that one of the spans with an ID for the form "timerender{integer}" appears twice on the page.  The exact number is different each time, but the duplicate seems to be an element which contains the date in the header for the currently selected stream; perhaps the DOM element is being copied, ID and all?  It looks like these IDs are used to maintai

[2017-05-24 17:17] joshland opened #4998 "upgrade-from-git as requires "zulip" user password"
The script `tools/setup/emoji/build_emoji` runs as the zulip user, but required root privs for the following command:

`:run(["sudo", "chown", "%s:%s" % (user_id, user_id), EMOJI_CACHE_PATH])`

`generate_secrets: No new secrets to generate.
2017-05-24 17:13:44,861 upgrade-zulip-stage-2: Building static assets...
Using cached node modules from /srv/zulip-npm-cache/3e52fd648131a3b9f77cc5a5c1b83371a7

[2017-05-24 17:25] jmbowman opened #4999 "edit_bot_name field not correctly associated with label"
The "bot_name" field with an "edit_bot_name" class follows a label which is apparently supposed to be for it, but the label's "for" attribute gives the input's class name instead of its ID (the input currently doesn't have an ID).  For the field and label to be correctly associated, the field should be given an ID that the label can reference.

[2017-05-24 17:25] jmbowman commented on #4999
@zulipbot label "accessibility"

[2017-05-24 17:27] timabbott commented on #4998
The zulip user doesn't have a password; it should be only accessed via `su`.

This is an annoying regression from a refactoring done yesterday; I guess we need to come up with a different solution...

[2017-05-24 17:28] timabbott commented on #4998
We might just need to revert ab2cfadcaa508372002e7c5b611bc0fe443c65e0 and extend the docs instead.

[2017-05-24 17:34] jmbowman opened #5000 "Settings menu items missing "menuitem" ARIA role"
The settings menu dropdown has the "menu" ARIA role, but none of the contained list items have the "menuitem" ARIA role.  Presuming that the parent role is correct, the items in the drop down must have the corresponding child role.  ("menuitemcheckbox" and "menuitemradio" are also valid child roles, but don't seem appropriate in this context.)

[2017-05-24 17:34] jmbowman commented on #5000
@zulipbot label "accessibility"

[2017-05-24 18:03] jmbowman opened #5003 "tabindex problems in dialogs and new message form"
Several elements in the UI specify a positive tabindex.  This is strongly discouraged by most accessibility guidelines and audit tools, because these elements will appear first in the tab sequence regardless of the natural document order used by all elements without a specific tab index.  If the only purpose of these attributes was to insert the elements in the tab sequence, they should probably b

[2017-05-24 18:04] jmbowman commented on #5003
@zulipbot label "accessibility"

[2017-05-24 18:25] timabbott commented on #4997
I think this probably is because we show date spans in 2 places now.  I think it's probably actually a bug introduced when we added the new format date spans.

[2017-05-24 18:25] timabbott commented on #4997
(I don't expect that to be particularly coherent, just a note for myself when debugging this)

[2017-05-24 18:31] timabbott commented on #4998
I did the revert in the interest of expediency.

[2017-05-24 18:38] jmbowman opened #5004 "Meaningful content should not be in background images"
In many browsers, [high contrast mode disables all background images](https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_image_01) (to make the text easier to read without distracting decorative backgrounds).  The main UI currently displays some content-relevant images as backgrounds; in order to display these even for users utilizing high contrast mode, they should

[2017-05-24 18:39] jmbowman commented on #5004
@zulipbot label "accessibility"

[2017-05-24 18:49] joshland opened #5006 "new-realm creation error"
I setup a DEV server to (like a prod) to test the Thumbnail patch.  (#4973)

I used a generate_realm_creation link, and after I did the initial contact, then received an email, I got an error upon returning to the site.  This was what was logged.

`==> /var/log/zulip/server.log <==
2017-05-24 18:48:00,808 ERROR    Internal Server Error: /accounts/register/
Traceback (most recent call last):
  File

[2017-05-24 19:09] abhijeetkaur opened #5007 "Path detection issue in 'contrib_bots/bot_lib.py'"
Running the command
`python3 ./contrib_bots/run.py ./contrib_bots/bots/define/define.py` from ~/zulip throws the following error.

[code]

Whereas the command:
`python3 run.py bots/define/define.py` from ~/zulip/contrib_bots works perfectly fine!

[2017-05-24 19:12] joshland commented on #5006
Sync with Master fixed this.

[2017-05-24 19:12] #5006 closed

[2017-05-24 19:16] derAnfaenger opened #5009 "Ambiguity between `bots` and `contrib_bots` directories."
Many new contributors are confused by our naming convention for `bots` and `contrib_bots`.

It would be ideal if we could migrate the code in `bots` to `api/integrations` and remove the `bots` directory.

[2017-05-24 19:19] jmbowman opened #5010 "Better contrast needed for UI text"
Many parts of the UI fail the WCAG 2.0 contrast recommendations for legibility of text against the background color.  Some of this text was deliberately made a little light to avoid distracting the user too much from more important content; one alternative to making this text significantly darker would be to make it large enough to read even when the contrast is relatively poor.  The WCAG specific

[2017-05-24 19:19] jmbowman commented on #5010
@zulipbot label "accessibility"

[2017-05-24 19:31] trueskawka opened #5013 "pointer: Reading messages in stream narrows is not updating the pointer for home view."
**Issue**
I've read all messages in stream narrows and when I came back to the home view the pointer has not been updated - had to manually scroll the messages to the bottom.

**Expected behaviour**
When reading all the unread messages in stream narrow view, the pointer in the home view should go to the bottom of the message list.

**Sanity check**
In the mobile app I was scrolled to the bottom on

[2017-05-24 19:46] timabbott commented on #5013
This is a duplicate of #1529.

[2017-05-24 19:46] #5013 closed

[2017-05-24 19:46] timabbott commented on #5013
(Thanks for the reminder about this though!  That's an important issue we should invest in resolving soon!)

[2017-05-24 21:03] tommyip commented on #5010
A possible solution would be to make the sidebars collapsible, so everything could be a bit bigger.
There is also an idea of a dark theme, which should make the UI easier for the eyes.

[2017-05-24 21:28] trueskawka opened #5018 "markdown: @-mentions rendering glitch"
When @-mentioning someone on a new line, the rendering glitches for a split second.

Some visuals below:
- `<text> <link> <newline> @-mention`
![triple @-mention](https://cloud.githubusercontent.com/assets/3491502/26426210/8367c742-408c-11e7-81cb-8c5fc3d05e06.png)
- `<text> <newline> @-mention`
![image](https://cloud.githubusercontent.com/assets/3491502/26426276/c3f9bc2a-408c-11e7-9910-dbb64458f45

[2017-05-24 21:44] alexandrinaw opened #5020 "@all mentions not consistently appearing in mentions view"
I've noticed some weird behavior lately wrt `@all` mentions. If I load the app and have mentions, I'll click on `@ Mentions` to narrow to them (/#narrow/is/mentioned). When I do this, I see the recent `@all` mentions. However, if I reload the page while on this view, the only messages that appear are the ones where I was specifically mentioned. And then if I click on another stream and then click

[2017-05-24 22:26] jmbowman opened #5024 "Tab sequence includes many hidden elements"
When using the tab key to navigate the main UI, there are many times when it reaches a hidden element with no visible focus indicator.  Accessibility Developer Tools reports a number of elements on the page which are [in the tab sequence but not visually visible](https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#these-elements-are-focusable-but-either-invisible-or-obsc

[2017-05-24 22:26] jmbowman commented on #5024
@zulipbot label "accessibility"

[2017-05-24 22:34] brainwane commented on #959
@warsaw is at the PyCon sprints and wants to check out this issue.

[2017-05-24 22:44] warsaw commented on #959
We have some internal signaling support and we do have the archiver support.  I'd like to add a generic webhook API in the future.  @brainwane thanks for subscribing me!

[2017-05-24 22:48] joshland opened #5029 "Unintialized Database gives an odd error"
I _somehow_ failed to initialized the database, and I received this really odd error.  Could we please make an "uninitialized database" page?

`2017-05-24 22:33:54,275 ERROR    Internal Server Error: /accounts/register/
Traceback (most recent call last):
  File "/home/zulip/deployments/2017-05-24-22-05-43/zulip-venv/lib/python2.7/site-packages/django/core/handlers/exception.py", line 42, in inner

[2017-05-24 23:42] timabbott commented on #5029
I think we want to handle this similarly to the `no_auth_enabled` field -- if there are 0 realms on the server, we should provide a helpful error message on the web reminding the user to create them.

[2017-05-24 23:42] timabbott commented on #5029
This would be great to work on, since it would eliminate a fairly confusing failure mode one gets when missing a step in the setup process.

[2017-05-24 23:55] timabbott opened #5032 ""read" flag appearing twice in `message_store.get(msd_id)`"
I think this is some sort of minor bug in the frontend's handling of message flags:

![image](https://cloud.githubusercontent.com/assets/2746074/26430380/a4942de2-40a1-11e7-9665-fe7117f37586.png)

I saw this once, but I bet with some tracing one can find the code path that causes it.

[2017-05-25 00:54] rwbarton opened #5039 "Send notify_new_login emails through outgoing email queue"
Under some circumstances (not yet clear to me exactly what they are) a user logging in results in that user being sent an email by `email_on_new_login`. Currently this email is sent directly through the Django email subsystem. If the configured SMTP server is down/unreachable/misconfigured/etc., then the result is a 500 error and the user is unable to log in at all.

I think It would be better to

[2017-05-25 04:18] akhilmd commented on #3708
@zulipbot claim

[2017-05-25 16:42] rishig opened #5052 "onboarding: Improve messaging from our password strength checker."
We use https://github.com/dropbox/zxcvbn for password strength checking. If someone's password is too weak, we just say "password is too weak" without telling them what rules we are using to determine their password strength.

zxcvbn already provides more detailed messages for passwords that are too weak, like `this is a top-10 common password` (see result.feedback on https://github.com/dropbox/zx

[2017-05-25 17:40] jmbowman commented on #4999
@zulipbot claim

[2017-05-25 17:42] jmbowman commented on #4896
@zulipbot claim

[2017-05-25 17:44] timabbott commented on #5009
Yeah I think we should:
* Move all the things under `bots/` to e.g. `api/integrations/irc/`
* Move `contrib_bots/` to `api/bots/` (probably with the lib code kept elsewhere in the tree).

[2017-05-25 17:46] #4999 closed

[2017-05-25 17:51] timabbott commented on #4995
@joshland remind me, was the root problem here that we don't support installing directly from Git?

[2017-05-25 17:51] timabbott commented on #4995
If so this is a dupe of #3704.

[2017-05-25 19:21] jmbowman commented on #4876
@zulipbot claim

[2017-05-25 20:26] showell opened #5061 "Improve Zulip's remote development setup."
For things like remote internships and sprint events, it's useful to give developers an easy option to use a remote box for development.  We have this configured now, so that we can run droplets using digitialocean servers.  The instructions for how to do this are actually on the zulip-gic repo, but I'm filing the issue here on the zulip repo to get it more visibility.  Here is the link:

https://

[2017-05-25 20:36] #4896 closed

[2017-05-25 21:29] lonerz opened #5066 "hotkeys: Can't go back to stream filter if there is text already in stream filter"
Type something into the filter and try to go back using the up arrow key to the stream filter. It doesn't allow you. Pinging @synicalsyntax because she recently touched this.

To reproduce: you have to unsubscribe from the top most stream using hotkey `S`.

[2017-05-25 21:46] jmbowman commented on #5000
@zulipbot claim

[2017-05-25 22:08] ethanhs commented on #991
As @timabbott asked, Im sharing some work I did adding Django stubs to zulip.

In a vagrant box:
[code]
I will upload the fixed stubs, but I want to wait for  https://github.com/zulip/zulip/issues/ to land and use that.
The *cleansed* output (ignoring files set to ignore) is https://gist.github.com/ethanhs/1b7e0c41cc781810f3f8e250b4466ff1