[2021-11-06 09:41] bkmgit commented on #19946
Thanks for the fix.

[2021-11-06 10:37] kirtanlab commented on #20172
is it still open?

[2021-11-06 10:39] kirtanlab commented on #20140
I want to work on this issue. may I?

[2021-11-06 12:27] ankur12-1610 commented on #20177
@zulipbot claim

[2021-11-06 12:31] ankur12-1610 commented on #20177
@alya I have finished working on an issue and my PR has LGTM! status and is approved but it is not merged which I believe will happen in soon.

I want to work on this issue but I can't claim it.

[2021-11-06 18:07] CooperatusTeam commented on #20101
We've had the same issue for a very long time (and shame on us for not reporting it sooner!)

![image](https://user-images.githubusercontent.com/66752698/140619328-716ee047-3221-456a-808f-164c71ea4b82.png)

Deployed via docker using `zulip/docker-zulip:4.7-0` currently (reverse proxied behind a Caddy instance.) This has been a problem for at least a few versions now, but it is unclear when it star

[2021-11-06 20:23] archithadge commented on #20177
@zulipbot claim

[2021-11-06 22:01] talheim-it commented on #20108
@staffcop @garg3133 worked with me on my server, we made the live chat optional. As soon as it is merged you can try it :)

Here is all working now. Great job @garg3133

[2021-11-07 05:55] is124 commented on #19967
@zulipbot claim

[2021-11-07 05:59] edith007 commented on #19967
Hi @is124! 👋🏻
I am still working on this issue. Here is the link for the PR https://github.com/zulip/zulip/pull/20050

[2021-11-07 09:32] is124 commented on #19967
okay, sure. @zulipbot unclaim

[2021-11-07 15:58] talheim-it commented on #11767
I am not sure if it is related to this but on the latest Zulip branch from git for chat.zulip.org I see a weird box beside the emoji in the webapp when it is sent from iOS:
![image](https://user-images.githubusercontent.com/15981620/140652355-7a1ea5b0-7310-42b3-9bb7-0dea98ff6c7d.png)

[2021-11-07 16:09] talheim-it commented on #10643
@timabbott is there any possibility to fund this feature?

In my platforms not much people use it but from time to time people send me voice messages so I would like to see it implemented.

If others are also willing to fund it it can be quicker. :)

[2021-11-07 17:01] samdup commented on #10643
Slack now also has this feature with automatic transcription
https://slack.com/help/articles/4406235165587-Record-audio-and-video-clips-in-Slack

On Sun, Nov 7, 2021, 08:09 Mathias Rumbold ***@***.***> wrote:

[2021-11-07 17:09] talheim-it commented on #20101
@Igorgro thanks for the hint!

I can verify the issue comes up with the CAMO_URI.

Do we have any option to fix this @timabbott ? Would like to enable it again :)

[2021-11-07 18:53] garg3133 commented on #20108
#20195 and #20196 addresses all the issues reported on this issue.

[2021-11-07 19:16] Knight1354 commented on #18286
@zulipbot claim

[2021-11-08 06:18] manpoffc commented on #18617
Can we just add a dropdown next to the user's section and then sort there by the role of the user?
in this case, the user doesn't have to go every time to the settings page and change the sorting.

[2021-11-08 09:50] Jordan-Rob commented on #20141
@zulipbot claim

[2021-11-08 09:55] Manan-Rathi commented on #20141
Hey @Jordan-Rob , there is an open PR regarding the same issue. I'm still working on it!

[2021-11-08 11:57] mateuszmandera commented on #20076
https://github.com/onelogin/python3-saml/pull/288 if merged, will let us do this without needing to subclass `OneLogin_Saml2_Logout_Response`

[2021-11-08 14:27] Parth-Mittal-NITK commented on #19720
@rht Would this just mean removing "file" from  [allowed schemes](https://github.com/zulip/zulip/blob/main/zerver/lib/markdown/__init__.py#L97)?

Also by default the [ENABLE_FILE_LINKS](https://github.com/zulip/zulip/blob/main/zproject/default_settings.py#L184) constant is by default set to false. Doesn't this already prevent creation of file links? Or can the setting be toggled?
It is checked whe

[2021-11-08 17:29] kevjn commented on #20130
@zulipbot claim

[2021-11-08 17:50] Parth-Mittal-NITK commented on #18569
@alxmv Is it that a user is considered deactivated if the `is_active` attribute of the User is set to False?

[2021-11-08 17:51] alexmv opened #20197 "Trying to delete a not-yet-complete realm export should not 500"
In `delete_realm_export`, we assert that the export has `extra_data` on it:
https://github.com/zulip/zulip/blob/30f2d50f1f5255ee3c3200d6f88ba8dbea6bc4dd/zerver/views/realm_export.py#L94

This is only set after the export is complete:
https://github.com/zulip/zulip/blob/30f2d50f1f5255ee3c3200d6f88ba8dbea6bc4dd/zerver/worker/queue_processors.py#L1000-L1006

The combination of these means that trying

[2021-11-08 18:55] sudhanshu154 commented on #20002
@zulipbot claim

[2021-11-08 18:56] sudhanshu154 commented on #19967
@zulipbot claim

[2021-11-08 19:07] edith007 commented on #19967
Hi @sudhanshu154! 👋🏻
I am still working on this issue. Here is the link for the PR #20050

[2021-11-08 20:45] alexmv commented on #18569
@Parth-Mittal-NITK: Yup!

[2021-11-09 00:56] rht commented on #19720
It's not just removing it from the allowed schemes. You have to remove the file links regex, and the places where `ENABLE_FILE_LINKS` is used.

[2021-11-09 01:32] timabbott opened #20201 "Owner input in "edit bot" form looks like it's disabled"
See screenshot, the "Desdemona" font looks wrong:

![image](https://user-images.githubusercontent.com/2746074/140845231-4cf9def8-8e36-47af-996a-d801d51dc4df.png)

@ganpa3 this is probably one of those "CSS lost when moving the outer container for modals" bugs.

[2021-11-09 15:02] EmmalineLake commented on #19424
@orientor or @MSurfer20
See this [CZO chat](https://chat.zulip.org/#narrow/stream/19-documentation/topic/rendering.20api.20documentation.20from.20YAML) for further questions.  The above question isn't correct.
Thanks!

[2021-11-09 16:30] isakhagg commented on #20164
@alya Hi, I just did a PR on this issue based on what I gather was the expected behaviour. You can find it here: #20205

[2021-11-09 17:12] alya commented on #20164
Cool, playing with the PR, the behavior looks right to me! @timabbott I think this is ready for a code review.

[2021-11-09 17:41] oscarfroberg commented on #14676
Re: Documentation, personally I don't think people who deliberately choose to bypass the recommended install method and install Zulip in a custom location (like `/opt/zulip`) will get confused by documentation referencing `/home/zulip`, especially if you make it clear from the start that the rest of the documentation will assume that you've used the "standard" installation method.

Yes it makes it

[2021-11-09 17:57] timabbott opened #20209 "Micromodal cancel buttons are 2px taller than Confirm buttons"
If you look closely at these buttons:

![image](https://user-images.githubusercontent.com/2746074/140978373-85a6e392-d3f9-4e81-aac4-84a07125b969.png)

The Cancel button is 34px tall and the Confirm button 32px; it appears to be 16x text height, 8px padding on each side, and only Cancel has a 1px border. I think using `outline` is a common fix for this?  Not sure.

@ganpa3 @sahil839 as folks workin

[2021-11-09 18:00] timabbott opened #20210 ""Move topic" modal errors look bad in night theme"
Here's a screenshot:

![image](https://user-images.githubusercontent.com/2746074/140978657-ff410918-fae0-4990-a3b1-b008dcd85f00.png)

There are several issues:
* I think we want the error notice to be one slot higher in the modal, so it doesn't split a thought.
* The color scheme seems off for the night theme; I'm not sure what the bug is here.

Not tagging as good first issue, since I suspect the

[2021-11-09 18:17] #20141 closed

[2021-11-09 18:30] alya opened #20211 "In /todo widget, disable "Add task" button when there is no task name"
At present, adding a task in the `/todo` widget requires a task name. Clicking the "Add task" button does nothing when the task name is missing.

This is potentially confusing to the users. Instead, the "Add task" button should be disabled when the task name is missing, with a tooltip saying, "Name the task before adding."

[2021-11-09 18:32] timabbott commented on #20046
Go ahead and open a pull request.

[2021-11-09 18:33] timabbott commented on #20046
Oh, it looks like you did in https://github.com/zulip/zulip/pull/20187.  If you link to the issue in the commit message, GitHub will auto linkify things nicely so that it's obvious the PR is for that issue :).

Check out the Zulip commit message guidelines for more details: https://zulip.readthedocs.io/en/latest/contributing/version-control.html#commit-messages

[2021-11-09 18:35] timabbott commented on #20113
What's the intent with this issue?  Is the idea to have a focus outline?

For context, this is in the poll widget.

[2021-11-09 19:26] alya opened #20212 "Replace /todo checkboxes with checkbox style used in menus"
We should try replacing the checkboxes in the `/todo` widget with the checkboxes used in our menus to improve UI consistency.

[2021-11-09 19:41] alya opened #20213 "Improve /todo widget usability"
The `/todo` command creates a to-do list widget. This widget has basic functionality, but lacks some features that would make it more useful. This issue describes a bunch of these features. They do not need to be addressed all at once -- we can integrate work that adds any of these independently.

## Sorting
At present, tasks are sorted _not done_ > _done_, and alphabetically within those categori

[2021-11-09 19:43] Sarah-Addo commented on #20211
claim

[2021-11-09 19:45] Sarah-Addo commented on #20211
Hi Alya! In terms of disabling the button would it suffice to remove the hovering animation? Or possibly gray out the button?

[2021-11-09 19:45] Sarah-Addo commented on #20211
@zulipbot claim

[2021-11-09 19:46] alya commented on #20211
Hi @Sarah-Addo ! I think we should gray it out as in this PR for polls: #20205

[2021-11-09 19:54] Sarah-Addo commented on #20211
Cool! I can work on the issue or if you would prefer to pass it off it @isakhagg I have no problem with that!

[2021-11-09 19:56] alya commented on #20211
Up to you guys! I also just filed another couple of issue for `/todo` lists (#20213, #20212), so one option if for you to pick up some tasks from those ones if you're interested.

[2021-11-09 20:08] alejandroguimo commented on #20213
@zulipbot claim

[2021-11-09 20:10] alejandroguimo commented on #20213
Hi, I'm a computer science student doing an academic work on Open Source projects. I chose to work on zulip and I'm willing to help by adressing this issue and doing as much as I can to help.

[2021-11-09 20:41] moki1202 commented on #20197
@alexmv I would love to work on this. I am new to Zulip though. Could the general approach here be to enclose the code snippet using the try/except method and print a custom error message?

[2021-11-09 22:04] RebeiMohamedJawher commented on #10874
check with nmap if the connection is closed or not.

nmap -p 8140 puppet
 then if it's closed, start the puppet service and check it again, if the problem persist, then reconfigure your connection to insure a tcp open connection. :)

[2021-11-10 02:01] Manan-Rathi commented on #20212
@zulipbot claim.

[2021-11-10 02:05] alexmv commented on #20197
I'd drop the assert entirely, avoiding the need for a try/catch, and just check `if audit_log_entry.extra_data is None:` and if so raise a `JsonableError`, like you can see the surrounding code do.

[2021-11-10 02:55] EnzoItaliano commented on #18617
@zulipbot claim

[2021-11-10 05:18] hunterachieng commented on #20209
@zulipbot claim

[2021-11-10 06:27] hunterachieng commented on #19936
@zulipbot abandon

[2021-11-10 06:27] hunterachieng commented on #20209
@zulipbot claim

[2021-11-10 06:55] hunterachieng commented on #19936
@alya Hi, I was unable to get rid of the red dropdown box although I managed to solve the other issues. I am taking issue [#20209](https://github.com/zulip/zulip/issues/20209). If I manage to make the changes and figure out how to get rid of the red dropdown, I will retake this issue.

[2021-11-10 07:19] alya commented on #19936
Sure, thanks for giving it a try!

[2021-11-10 07:38] ganpa3 commented on #20201
This was introduced in 134a6f8bbae77ba85ae9dd19830eb1a1ceaa851e.
Opened #20217 to fix this.

[2021-11-10 08:01] habfem commented on #20113
It is a design
It gives the button a 3d effect

On Tue, 9 Nov 2021 at 19:35, Tim Abbott ***@***.***> wrote:

[2021-11-10 11:00] namangirdhar16 commented on #20132
@zulipbot claim.

[2021-11-10 11:01] namangirdhar16 commented on #20210
@zulipbot claim

[2021-11-10 11:06] namangirdhar16 commented on #20129
@zulipbot claim.

[2021-11-10 11:08] namangirdhar16 commented on #20129
@zulipbot claim.

[2021-11-10 11:57] Morgannjaw commented on #20046
Oh i see. @timabbott thank you i just did the linking. i am happy i am learning :).

[2021-11-10 11:59] Morgannjaw commented on #20046
@zulipbot abandon

[2021-11-10 15:58] oscarfroberg commented on #11773
Yeah +1 for removing the preview for a particular link for *all* users. Don't see much point in removing it for a single person (other than that it's easy to implement).

Another quite important feature (the lack thereof which leads me to now have to disable the link previews altogether) is to be able to disable previews for a specific domain. One particularly annoying one is linking to a Gitlab i

[2021-11-10 17:02] #20201 closed

[2021-11-10 17:07] #20164 closed

[2021-11-10 18:14] timabbott opened #20221 "Settings radio buttons look disabled in night theme"
The grey background behind the radio button options looks kinda like a disabled option that you can't switch too; we should figure out an alternative color that doesn't have this problem.  (Possibly just white? Note sure).

![image](https://user-images.githubusercontent.com/2746074/141169682-f2e04298-468e-44ba-b77c-ea5a57c8cc2b.png)

This input type also appears in "Stream settings" > "Change stre

[2021-11-10 18:17] timabbott opened #20222 "Remove grey-box CSS class from stream settings"
This class is used for two things:
* The "Stream privacy" modal, in which we probably just want to remove the outer div and have normal styling in this modal, like another settings page.
![image](https://user-images.githubusercontent.com/2746074/141170057-1d0bea4c-56cf-4acf-895a-66ebc7c101c2.png)
* Super confusingly, for the "Personal" tab of a given stream's settings, where it's used for position

[2021-11-10 18:22] timabbott opened #20223 "Understand focus outline behavior when exiting Micromodal modals with `Esc`."
It appears that following the Micromodal migration, closing modals with `Esc` results in a focus outline being attached to something in the background.  We don't understand what code causes that behavior, or whether it is desirable for keyboard navigation or not, but it certainly looks weird and is confusing.  We should understand what's happening here and our options for controlling that, and do

[2021-11-10 19:18] alya commented on #20129
@timabbott should this be closed via #20171?

[2021-11-10 19:56] alexmv opened #20225 "bulk_remove_subscriptions can race with itself and cause duplicated RealmAuditLog entries"
In `bulk_remove_subscriptions`, we have a `transaction.atomic` around setting the streams subscriptions to not-active, and creating the RealmAuditLog entries:
https://github.com/zulip/zulip/blob/f905171e78125effff6551d98d42d6ce21d648f5/zerver/lib/actions.py#L4161-L4184

...but nothing guarantees that the subscriptions _still_ need deactivating since we fetched the data for, and built up, `sub_ids_

[2021-11-10 19:57] alexmv commented on #20225
Any solution here will probably need to consider what to do with existing bad data, in terms of if a migration is merited.

[2021-11-10 20:26] timabbott commented on #20011
I think #18521 might have fixed this; or at least changed it substantially.

[2021-11-10 20:31] mateuszmandera commented on #20225
@alexmv I think `bulk_add_subscriptions` has the analogical bug, right?

[2021-11-10 20:33] alexmv commented on #20225
Yeah, though only for `subs_to_activate`, not `subs_to_add` -- the latter will fail on duplicate creation, which will prevent the RealmAuditLog entry.  And there's no transaction to be seen at all there.

[2021-11-10 20:36] alexmv commented on #18236
Fixed in #20224.

[2021-11-10 20:36] #18236 closed

[2021-11-10 20:38] mateuszmandera commented on #20225
True, though should we perhaps be calling `bulk_create` with `ignore_conflicts=True` and de-deduplcating appropriately for creating RealmAuditLogs, to avoid this throwing an exception?

[2021-11-10 21:37] alexmv commented on #18621
This is also related to #18621, which can also currently generate invalid RealmAuditLog entries.

[2021-11-10 21:52] timabbott commented on #20129
Yes, fixed in https://github.com/zulip/zulip/pull/20171.

[2021-11-10 21:52] #20129 closed

[2021-11-10 21:52] alexmv opened #20227 "Improve confirm-email-change page when user is now deactivated"
I think probably we should just `raise UserDeactivatedError` and then open a follow-up issue for improving the error handling for deactivated accounts.  The current model is that most other things (login, etc.) display a notice inline in the page, rather than having a separate page, and it doesn't seem worth blocking this fix on making the notice for a very rare case pretty.

_Originally posted by

[2021-11-10 23:00] Morgannjaw commented on #20163
@zulipbot claim

[2021-11-10 23:08] timabbott opened #20228 "Rename "night mode" to "dark theme""
As discussed in #19728, we should rename "night mode" to "dark theme" across the UI.  See https://github.com/zulip/zulip/pull/19728/commits/a28c69cb4a317b3f758474d0d73a3190cc0fa9fa an incomplete first effort towards this.

Here's a proposal for what we change, each as its own commit:
* Change "Automatic" to "Sync with computer" as the label for the "automatic" option in settings -- that's a lot mo

[2021-11-11 00:08] timabbott opened #20229 "Change register_queue API for `narrow` to match how narrows are encoded elsewhere"
It was pointed out in [this conversation](https://chat.zulip.org/#narrow/stream/19-documentation/topic/'narrow'.20inconsistent.20api.20docs/near/1278088) that the /register API is still using the pre-dictionary old format for encoding narrows.  We could document the inconsistency, but it'd be better to make it consistency, because the only specific production use for this feature that I'm aware of

[2021-11-11 00:25] andersk commented on #20228
I thought the conclusion of https://chat.zulip.org/#narrow/stream/9-issues/topic/day.2Fnight.20slash.20commands was that we wanted to rename “night” to “dark”?

[2021-11-11 03:36] anjalivats2712 commented on #20228
@zulipbot claim

[2021-11-11 06:58] andreas-bulling opened #20231 "update-prod-static non-zero exit status [latest git version]"
Hi,

I've been running zulip based on the latest git for months without problem. Upon trying to update to the latest version in git, however, I receive the following error message:

[code]

Any ideas?

The only other warning I can see is the following - not sure if this is related:

[code]

[2021-11-11 08:44] Aryan4786 commented on #20066
I am working on this issue just need some more time, Because of my Major's.

[2021-11-11 09:32] YashRE42 commented on #20163
One of the design constraints here that I don't think has been explicitly talked about here is that essentially, every view in zulip is a search... And so every narrow implies some content in the search box, the most common narrows would add `stream:abc`, `stream:abc topic:xyz` or `pm-with:abc` and would take a decent amount of space...
...but that text is only really relevant when you're about to

[2021-11-11 09:38] Morgannjaw commented on #20163
ok @YashRE42  thank you

[2021-11-11 10:55] #20147 closed

[2021-11-11 11:29] YashRE42 commented on #20222
Sure, @zulipbot claim

[2021-11-11 11:53] hunterachieng commented on #20209
@ganpa3 Hello, I am trying out as a contributor here. I picked up this issue and I have tried locating the exact code, and I cannot seem to locate it. Since you worked on the popovers, do you mind directing me to where I can find the code? Thank you

[2021-11-11 16:29] YashRE42 commented on #20222
There's no grey border in day mode, but there is in night mode:
![](https://user-images.githubusercontent.com/33805964/141333103-d4e8033e-9755-4994-8073-754eac31a4e1.png)

![](https://user-images.githubusercontent.com/33805964/141333300-02cbe99d-7d25-4d60-92cf-19c120fd8265.png)

Do we want to remove it? Do we also want to refactor this tab to use <div> instead of <ul> and <li>?

[2021-11-11 19:28] Parth-Mittal-NITK commented on #18569
@alexmv Ready for review

[2021-11-11 21:19] YashRE42 commented on #20163
Here's kind of what I'm imagining, except the search box would first grow to the left to a certain point as text is entered and then the text would scroll, instead of the text scrolling right away.
![](https://user-images.githubusercontent.com/33805964/141370216-7d57bc5b-0f3e-4088-a0d2-6bf8c21d8d5c.gif)

If that looks okay, then we have a design to work towards. It'd probably take a while to imple

[2021-11-11 22:32] RoyaleCheese commented on #19884
@zulipbot claim

[2021-11-12 04:48] Morgannjaw commented on #20221
can I work on this issue? it it good for a newcomer, i was wondering since it doesn't have the label "good first issue"

[2021-11-12 06:32] Morgannjaw commented on #20221
@zulipbot claim

[2021-11-12 16:06] robertylewis commented on #4817
Out of curiousity, what's the status of this feature? The Lean Zulip is outgrowing the static archive script -- our archive now takes too long for GitHub Pages to build. I could hack up the script to remove more markdown/jekyll formatting and speed it up to buy more time, or to send the generated HTML to some other web host. But ultimately that script was written to tide us over until we could mak

[2021-11-12 20:08] timabbott commented on #4817
We've very actively working on it (plans to have it ready in October didn't pan out); https://github.com/zulip/zulip/issues?q=is%3Aopen+is%3Aissue+label%3A%22area%3A+web+public+streams%22 is a good way to track the status of the remaining major chunks of this feature.

The static archive script will be useful for anyone who wants to shut down a Zulip instance preserving a permanent HTML archive th

[2021-11-12 20:12] robertylewis commented on #4817
Fantastic! My plans were the opposite of improvements, more like austerity measures to keep our archive hobbling along. For preserving a closed instance, the archive build time doesn't matter.

[2021-11-12 22:06] alya commented on #20163
Yeah, this seems reasonable... Discord doesn't have the search box grow to the left (beyond the initial expansion), but it feels cramped.

[2021-11-12 22:07] alya commented on #20163
By the way, we should also fix the fact the right edge of the auto-complete dropdown looks bad when there is long text in there. It'll come up more in the new layout. Should I file an issue for it?
<img width="1341" alt="Screen Shot 2021-11-12 at 2 05 48 PM" src="https://user-images.githubusercontent.com/2090066/141540314-a07065ae-5e7f-4897-ae6e-328c0c64a8c6.png">

[2021-11-13 00:14] timabbott commented on #20231
This is likely an OOM issue.  Try stopping the server with `stop-server` and then repeating.

[2021-11-13 01:23] timabbott commented on #20175
This is a networking failure downloading `yarn`; try again with more reliable Internet and it should work.

[2021-11-13 01:23] #20175 closed

[2021-11-13 01:26] timabbott commented on #20061
I think this is a duplicate of https://github.com/zulip/zulip/issues/10970; do you agree?

[2021-11-13 01:29] timabbott commented on #20065
You can configure which version of postgres you want the installer to use with `--postgresql-version=13`.  Zulip expects to manage the postgres installation, since that allows us to configuration authentication and tuning properly for a good experience.  One can also use a remote postgres database: https://zulip.readthedocs.io/en/latest/production/postgresql.html#remote-postgresql-database rather

[2021-11-13 02:38] ainialem commented on #20212
@zulipbot claim

[2021-11-13 03:07] alexmv commented on #20065
The underlying worry here is that we're being on the cautious side, as we want to be extra-sure to not drop any data which folks might have in existing databases.  I think we may be being too cautious, though, as one can uninstall postgresql-14 package and leave its databases intact.  That might complicate a later upgrade of the Zulip database to 14, though.

It's plausible that, if `--postgresql-

[2021-11-13 07:49] raghupalash commented on #19900
The PR is waiting for a review.

[2021-11-13 13:38] Parth-Mittal-NITK commented on #20162
@zulipbot claim

[2021-11-13 16:02] sanfords commented on #19371
Is there any way to add an option for macOS and iOS emojis?

[2021-11-13 16:17] try-catch-stack commented on #20210
If I would like to work on this issue.
@zulipbot claim

[2021-11-13 16:22] andreas-bulling commented on #20231
This worked, thanks a million.

[2021-11-13 23:21] rht commented on #20231
Isn't the RAM detection for Webpack run already implemented, that automatically stops the server? Why does this happen in latest git version?

[2021-11-13 23:54] xeruf commented on #14376
Please fix, this should be easy but is kinda annoying :)

[2021-11-13 23:55] xeruf commented on #19361
For me this only happens for channels, as in #14376

[2021-11-14 07:21] VandanaSingh52 commented on #19090
@zulipbot claim

[2021-11-14 07:47] Manan-Rathi commented on #20221
Hi @Morgannjaw, if you have other commitments, could I please take up this one?

[2021-11-14 11:03] ohad83 commented on #11440
I don't know if it's new, but there actually is a way to create a new meeting. If you go to [http://g.co/meet/MEETING_NAME](http://g.co/meet/MEETING_NAME), anyone in your organization will be redirected to the same meet upon entering.
If we combined that with a unique identifier (time + stream/topic/DM participants should be good), we could create a `/meet` command which will create a new meet lin

[2021-11-14 12:47] ganpa3 commented on #20209
@timabbott Maybe we should just remove the border?
This looks fine to me:
![image](https://user-images.githubusercontent.com/58626718/141681616-89255f77-babf-4e6b-a42b-fc7f841baa88.png)

Hovering on the cancel button changes the background color so that it can be seen (maybe make it a bit darker?):
![image](https://user-images.githubusercontent.com/58626718/141681654-ca2646ed-be55-407e-8438-88b435

[2021-11-14 13:01] amanagr commented on #11440
I get
<img width="1032" alt="Screenshot 2021-11-14 at 6 30 00 PM" src="https://user-images.githubusercontent.com/25124304/141682107-8f7f8201-4a32-40b7-a28f-42957ce6817f.png">

on going http://g.co/meet/alsdkfjaasdfbab13523

[2021-11-14 13:05] Zirak opened #20248 "Creating a linkifier to a hostname without a tld"
In our company we have a site (behind a VPN) whose address is without any tld, i.e. you access it via just `http://name`.

We're evaluating zulip and when trying to linkify text to that site, we get an error the url isn't valid. For example:

![image](https://user-images.githubusercontent.com/1144615/141681917-00339579-9d5a-4d24-b7a0-e0b5e658984c.png)

Network error:

[code]

Looking through the s

[2021-11-14 13:11] ohad83 commented on #11440
Interesting, the link works when I try it.
Maybe this only works if you are currently logged into a google account which is part of an organization? I seem to get the same error when incognito or logged into another (regular) account. :disappointed:

[2021-11-14 13:20] amanagr commented on #11440
Yeah, works for my `zulip.com` email account too.

[2021-11-14 13:38] Parth-Mittal-NITK commented on #20162
@zulipbot claim

[2021-11-14 13:50] ohad83 commented on #20248
Seems like Django discussed this [4 years ago](https://code.djangoproject.com/ticket/25418). Doesn't seem like much has changed.

[2021-11-14 14:01] abhishekangale commented on #20105
@zulipbot claim

[2021-11-14 14:06] amanagr opened #20250 "Figure out if Zapier Zulip and Google meet integration works well."
https://zapier.com/apps/google-meet/integrations/zulip is the relevant link.

* Figure out if the integration works.
* Document the process.

[2021-11-14 14:14] abhishekangale commented on #20105
Hi @timabbott. I think I can do this, Can you manually assign me this issue?

[2021-11-14 14:31] moki1202 commented on #20197
@alexmv tried my best here. please let me know if I need to be corrected anywhere :)

[2021-11-14 16:29] amanagr commented on #11440
Zapier Google Meet integration could be a good solution to this if anyone wants to try that out - https://zapier.com/apps/google-meet/integrations/zulip

[2021-11-14 18:03] Jordan-Rob commented on #20017
@zulipbot claim

[2021-11-14 18:18] Manan-Rathi commented on #20250
@zulipbot claim

[2021-11-14 19:05] kevjn commented on #20130
@timabbott I am still working on this issue and I opened a work in progress PR here: https://github.com/zulip/zulip/pull/20251. I also started a new #frontend thread in chat.zulip.org to discuss the issue further here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/global.20time.20flatpickr.20keyboard.20navigation/near/1281268.

[2021-11-14 19:57] andreas-bulling commented on #20231
I was actually a bit surprised that this is (supposed to be) an OOM issue. I am running Zulip on a rather powerful machine with lots of memory. Does zulip require that many GB of RAM?

[2021-11-14 23:35] ainialem commented on #20212
@zulipbot claim

[2021-11-15 02:35] mohamedqasem commented on #19888
@zulipbot claim

[2021-11-15 02:41] rht commented on #20231
It's not the issue with the Zulip runtime requiring huge RAM. It is specifically that the Webpack operation to generate the static files that is consuming lots of RAM.

[2021-11-15 02:43] rht commented on #20105
One current workaround without any code change is to enable swap if you haven't done so.

[2021-11-15 02:52] catherjh commented on #17998
@zulipbot claim

[2021-11-15 03:12] catherjh commented on #17419
@zulipbot claim

[2021-11-15 03:20] timabbott commented on #20231
Yeah, the problem is that `upgrade-zulip-from-git` ends up compiling Zulip webapp frontend, and Webpack (the leading JavaScript build tool) hogs a ton of memory.

How much memory does your system have @andreas-bulling?  I would have expected the logic below to stop the server for you before running `update-prod-static` (and thus `webpack`).

[code]

[2021-11-15 04:54] hunterachieng commented on #20209
@timabbott @ganpa3 I think it would be a better experience if we could show a user that it is a button? What if we give it an outline that disappears into a background color when you hover on it?  What do you think?

[2021-11-15 06:15] hunterachieng commented on #20209
@ganpa3 I just looked through firebase and they have a similar pop-up that matches your idea. I think it may work. The background can be darker

[2021-11-15 07:05] andreas-bulling commented on #20231
our server has 4GB - I deemed this "lots of memory" but it seems not ;)

[2021-11-15 17:19] brtran4 commented on #19700
Hello, is this issue still in progress? I would like to work on this if possible.

[2021-11-15 17:31] brtran4 commented on #20227
@zulipbot claim

[2021-11-15 18:36] timabbott commented on #20209
@alya thoughts?  My inclination is that it's nice to have buttons have an always visible pill shape for recognizability.

[2021-11-15 18:37] timabbott commented on #20231
OK @andersk FYI -- this appears to be another instance of Webpack apparently consuming enough memory to cause failures on systems with 4GiB of RAM.  Maybe we should just change that 3.8 to 4.2?

[2021-11-15 18:45] exxosuk commented on #12857
This could be a good feature!

[2021-11-15 18:57] #20172 closed

[2021-11-15 22:43] jonas-frey commented on #217
I think the original suggestion was a live preview, like on stack exchange. Is there any chance that we'll get that as an optional feature at some point? I know many people who type lots of math on zulip and would definitely appreciate that.

[2021-11-16 00:15] leighadennis commented on #20197
@zulipbot claim

[2021-11-16 01:12] alya commented on #19700
@brtran4 it looks like we have a mostly complete PR for this, so I would recommend picking another issue to work on.

[2021-11-16 01:59] timabbott opened #20262 "Rework stream_data.can_toggle_subscription handling of deactivated streams"
I believe that this function is misleading:
[code]

I think it's not a live bug, because you can't be subscribed to a deactivated stream, and they're made invite-only during deactivation, but logically, we should perhaps not be relying on that invariant not be doing the "can you join public streams" check if the stream is deactivated.

Noticed while reviewing https://github.com/zulip/zulip/pull/20

[2021-11-16 02:09] timabbott opened #20263 "Fix check-templates linter handling of"
In #20133, we had to add `static/templates/bookend.hbs` to the exclude list in `tools/check-templates` because this linter reformatted those chained `else if` lines in a strange way.

This is just a bug in the linter; we should fix it.  @showell FYI as one of the experts on this system.

[2021-11-16 02:26] timabbott opened #20264 "Display whether fields are nullable in the OpenAPI documentation"
It appears in our `zulip.yaml` file that we have various fields, like the `stream_weekly_traffic` part of the [register response](https://zulip.com/api/register-queue), that are correctly marked in the OpenAPI field as `nullable: true`.  However, we don't display that fact when displaying the type as e.g. "integer" for one of these fields.  We should fix that.

See https://chat.zulip.org/#narrow/s

[2021-11-16 03:06] arenton commented on #3917
@zulipbot claim

[2021-11-16 03:18] arenton commented on #2746
@zulipbot claim

[2021-11-16 03:54] mohamedqasem commented on #19888
@zulipbot unclaim

[2021-11-16 03:55] catherjh commented on #17998
@zulipbot unclaim

[2021-11-16 03:56] catherjh commented on #19901
@zulipbot claim

[2021-11-16 04:00] mohamedqasem commented on #17571
@zulipbot claim

[2021-11-16 05:08] AnushaNathRoy commented on #19865
Still working on the issue

[2021-11-16 07:48] alya opened #20267 "Show profile pictures in search auto-complete suggestions"
At present, we show profile pictures in @-mention auto-complete suggestions, but not in auto-complete suggestions for search. As a result, it's hard to quickly find the person you need in search auto-complete. Moreover, using the search suggestions is very awkward when multiple people have the same name.

To address this, we should show avatars in the search auto-complete suggestions when a user i

[2021-11-16 08:05] abhishekangale commented on #20267
@zulipbot claim

[2021-11-16 09:28] AnushaNathRoy commented on #19865
@alya My PR is ready for review.

[2021-11-16 09:52] alejandroguimo commented on #20002
I've taken the pleasure to solve this issue, as the previous contributor seemed to have forgotten it.

[2021-11-16 11:13] v3ss0n commented on #12860
I am interested and would like to try this.
Without realtime Editing facilities we could do with Locking (especially when tiyping event notification is done in zulip , we can notify user that , user xxx is editing the messae , and lock other users from editing the message.
for realtime documenting use case - base use Googledoc/Paper

[2021-11-16 11:14] sahil839 commented on #20262
It's not clear to me what we need to change here - "can you join public streams" just depends on whether the user is guest or not.
The only way to check whether stream is deactivated or not as per the current code is verifying that the sub object passed is not `undefined`.

[2021-11-16 11:39] NerdyLucifer commented on #20177
@zulipbot claim

[2021-11-16 11:41] NerdyLucifer commented on #20177
@alya since the issue is still open...shall i go on to fix this issue?

[2021-11-16 15:04] hunterachieng commented on #20209
I tried doing this. @timabbott @ganpa3 is this okay?

[2021-11-16 15:05] hunterachieng commented on #20209
![cropped-screenshot-modal](https://user-images.githubusercontent.com/79210550/142010295-02123f24-ed77-4382-a3f7-0877e80a22aa.png)

[2021-11-16 16:37] birkenstonks commented on #20163
Hi is this issue still open? I see the previous person dropped their assignment

[2021-11-16 16:50] YashRE42 commented on #20163
Yeah, I'm working on it. (@zulipbot claim)

This one isn't easy because of the reasons mentioned above, I recommend looking through the "help wanted" and "good first issue" labels.

[2021-11-16 17:40] Arch0125 commented on #19888
@zulipbot claim

[2021-11-16 17:44] Arch0125 commented on #19888
Hi, can I have an insight of what is causing this failure so that I can take care of it while I'm making the changes.
![Screenshot from 2021-11-16 23-12-59](https://user-images.githubusercontent.com/72722967/142037861-989de17f-4954-4a7a-acb1-9db8ebe9c3a1.png)

[2021-11-16 19:28] alexmv commented on #20197
@leighadennis, it looks like @moki1202 has already pushed a PR for this (though they forgot to claim the issue first).  I've re-assigned it to them, since the work is already in progress.  Take a look around the other issues and see if something else looks appealing!

[2021-11-16 20:05] moki1202 commented on #20197
apologies from my side.

[2021-11-16 20:12] collinwhitlow commented on #19709
@zulipbot claim

[2021-11-16 20:12] birkenstonks commented on #19919
@zulipbot claim

[2021-11-16 20:14] alya commented on #20209
That looks reasonable to me, if we want to do the button approach.

By the way, @hunterachieng, you can edit GitHub comments via the three-dot menu in the upper right.

[2021-11-16 20:17] alya commented on #20177
@NerdyLucifer please see above comment, which suggests finding a different issue.

[2021-11-16 20:19] alya commented on #19888
You can click "Details" to learn more. Use the #development help channel in chat.zulip.org to ask for help if you have investigated the problem and cannot figure it out using our [developer documentation](https://zulip.readthedocs.io/en/latest/overview/contributing.html).

[2021-11-16 20:33] aswinidev commented on #19055
@zulipbot claim

[2021-11-16 21:19] aswinidev commented on #19653
Is this issue still open? I would like to work on this.

[2021-11-16 21:19] aswinidev commented on #19653
@zulipbot claim

[2021-11-16 23:02] #20212 closed

[2021-11-16 23:35] alexmv commented on #20197
No worries!  It's a good thing that everyone's excited to help on issues. :)

[2021-11-17 00:31] timabbott commented on #20222
Yeah, we want to remove it.  The high-level goal is to have the "stream settings" options use the same visual styling patterns as the normal settings widgets; this issue is for cleaning up one of the various bad intermediate states here.

[2021-11-17 00:36] LoganNiswander commented on #19589
@zulipbot claim
Would love to work on this as my first open source contribution!

[2021-11-17 00:38] timabbott commented on #20222
(And yeah, I don't think there's any reason to be using ul/li for these checkboxes -- ideally we'd be using the same components we use in settings)

[2021-11-17 00:43] luukkoe commented on #20073
@zulipbot claim
I would love to take a stab at this issue, assuming adii21-Ux abandons it in the next few days.

[2021-11-17 01:18] timabbott opened #20274 "Fix handling of deleted custom emoji used as a user's emoji status"
We have a relatively recent feature of support for using custom emoji as your status.  It turns out that this has a bad interaction with deactivated emoji, which (I think) appear in `all_realm_emojis` but not `active_realm_emojis`, where if anyone sets a custom emoji as their status and that custom emoji is then deleted, the app's JS crashes on page load.

We should fix this, potentially by doing

[2021-11-17 04:28] Krishks369 commented on #20250
Just asking for learning purpose @Manan-Rathi  how are you approaching this issue

[2021-11-17 05:14] alya commented on #20274
This proposal sounds fine to me.

[2021-11-17 07:36] axaysagathiya commented on #19821
PR #20138  is ready for review.

[2021-11-17 08:48] anurastogiji commented on #20044
@zulipbot claim

[2021-11-17 09:12] ohad83 commented on #20250
I think the fact both Zulip and Meet only have actions available on Zapier at the moment, there isn't much to be done, but I'm a bit of a Zapier newbie so I might be totally wrong.

[2021-11-17 12:07] NerdyLucifer commented on #20228
@timabbott may i work on this issue?

[2021-11-17 13:34] sahil839 commented on #18697
I guess we can close this after 864fb7c97857 and as per discussion in https://chat.zulip.org/#narrow/stream/378-api-design/topic/.60value.60.20in.20realm.20op.3A.20update. Just wanted to confirm first.

[2021-11-17 16:01] HarshVardhan-Omar commented on #19878
@zulipbot claim

[2021-11-17 17:39] Sarah-Addo commented on #20211
Hi @alya, I’ve opened PR #20261 to fix this issue. Feel free to look at it when you can!

[2021-11-17 18:18] sahil839 commented on #18697
Closing as per discussion [here](https://chat.zulip.org/#narrow/stream/378-api-design/topic/.60value.60.20in.20realm.20op.3A.20update/near/1282553) and as 864fb7c97857 is also merged.

[2021-11-17 18:18] #18697 closed

[2021-11-17 19:38] alya opened #20283 "Make /poll and /todo widgets look consistent"
At present, /poll and /todo widgets use different font size, spacing between fields, button fonts/spacing, etc.

Instead, they should have a consistent look. Probably applying the `/poll` look to `/todo` is mostly fine for a first pass. It would be good to have more spacing between the fields and the "Add x" button for both.

![Screen Shot 2021-11-17 at 11 33 55 AM](https://user-images.githubuserc

[2021-11-17 20:54] Morgannjaw commented on #20221
Hi @Manan-Rathi sorry i just been sick but if you have fixed the issue then no problem
@zulipbot abandon

[2021-11-17 20:56] Morgannjaw commented on #20283
@zulipbot claim

[2021-11-17 21:20] #20264 closed

[2021-11-17 21:56] timabbott opened #20284 "Fix incorrect `aria-hidden=true` for left sidebar 3-dots menus"
Apparently several of our left sidebar 3-dots menus have `aria-hidden=True`, which makes these UI elements invisible to screenreaders.  That would be correct if the icons were just decorations for a named menu item, but they're not -- they're the only way to access the associated popovers.  So we should make them have an appropriate `aria-label`.

This is a bit tricky in that we don't have tooltip

[2021-11-17 22:13] Morgannjaw commented on #20283
Hi @alya please i need help.please i will like to know where i can find this UI. as i have logged in as an Admin and Normal user and checked the message feed but cant find this. Maybe i am looking in the wrong places? please help me out

[2021-11-17 22:48] timabbott opened #20285 "Indicate whether streams are web-public like we do for private streams"
It appears that in a few places that we indicate whether a stream is private via lock icon decorations, we don't show a globe icon decoration (note the compose box as well as the stream heading itself):

![image](https://user-images.githubusercontent.com/2746074/142294688-c8851793-f071-4cd2-9bfd-04642e9f15b6.png)

![image](https://user-images.githubusercontent.com/2746074/142294711-0c863111-163b-4

[2021-11-17 22:58] timabbott opened #20287 "Add dropdown to control who can create web-public streams"
Similar to with other classes of streams, we should have a setting for who can create web-public streams.

This setting should only be visible if the setting introduced in #20277 and `WEB_PUBLIC_STREAMS_ENABLED` are enabled, just like the option for creating web-public streams in "Stream settings".  (Actually we should double-check the logic is correct there and live-updates appropriately).

We ma

[2021-11-17 23:01] timabbott commented on #20287
Oh hmm, we actually have some of the plumbing for this; I guess the remaining issue is to integrate it properly with #20277 with the live-update working properly.

[2021-11-17 23:06] timabbott opened #20288 "Reorganize web-public streams tests to make test setup bugs more obviously unlikely"
From https://github.com/zulip/zulip/pull/20277/commits/6f8e62178ddf4f350f11d756f7cf91dd38c85b56#r751704806:

[2021-11-17 23:56] timabbott commented on #20228
I think I'd like an experienced contributor to work on this since it's a release goal; @sahil839 can you take this issue?

[2021-11-18 00:03] alya commented on #20017
@Jordan-Rob are you actively working on this one? It's a release goal, so I want to make sure we don't drop the ball on it.

[2021-11-18 00:09] alya commented on #20283
These are message commands.

https://chat.zulip.org/help/format-your-message-using-markdown#to-do-lists
https://chat.zulip.org/help/create-a-poll

Please keep in mind that we recommend claiming an issue only after you've done some initial exploration and are confident that you'll be able to address it.

[2021-11-18 00:35] timabbott commented on #19258
Closing this since the shellcheck issue itself is resolved; I also confirmed that we uploaded an arm64 postgres image 4 months ago, so I think this is fully fixed.

[2021-11-18 00:35] #19258 closed

[2021-11-18 00:36] timabbott commented on #19304
Did this get resolved in chat.zulip.org?  I think it's likely if we ended up with a bug in Zulip or its docs after that conversation, we'd want to make a separate issue explaining the actual bug we want to fix without all the back and forth here, so I'm closing this issue.

[2021-11-18 00:36] #19304 closed

[2021-11-18 00:42] timabbott commented on #18556
Closing this for lack of information that would allow us to debug why the permissions for that directory were wrong (which could be user error at some point in the past).

[2021-11-18 00:42] #18556 closed

[2021-11-18 00:43] timabbott commented on #18839
Closing, since we already support this feature when using our documented way to automatically renew certbot certificates: https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#renewal

[2021-11-18 00:43] #18839 closed

[2021-11-18 00:44] timabbott commented on #19065
Closing, since the problem on this specific system was resolved, and we didn't identify any change in Zulip that could improve the ease of this transition.

[2021-11-18 00:44] #19065 closed

[2021-11-18 00:49] #18534 closed

[2021-11-18 00:50] timabbott commented on #19543
@lzucc just a ping on that question about your setup.

[2021-11-18 00:53] #16705 closed

[2021-11-18 00:53] timabbott commented on #16705
Added a paragraph to said documentation to close this issue.  Thanks for the report!

[2021-11-18 00:59] timabbott commented on #15017
Yes, this is now available here: https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#using-keycloak-as-a-saml-idp.

[2021-11-18 00:59] #15017 closed

[2021-11-18 01:00] timabbott commented on #18659
@mateuszmandera is this resolved by our having added https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#using-keycloak-as-a-saml-idp?  If so, we should close this.

[2021-11-18 01:01] timabbott commented on #19073
@elopez just a ping -- are you planning to submit such a PR?  I'd like to get it in before the 5.0 release if we can.

[2021-11-18 01:03] timabbott commented on #16116
This is likely doable with either our OpenID Connect or SAML integrations, so I'm not sure it makes sense to build an additional feature here.

What may make sense is providing a guide for how to set it up with SAML like we do with other SAML providers.

[2021-11-18 01:03] souzalucas commented on #20288
@zulipbot add "good first issue"

[2021-11-18 01:04] rht commented on #18534
Actually https://github.com/zulip/zulip/commit/cc11743047c5f5e7144e887d14ce7b8a7fb65e2f doesn't explicitly say that people can use Docker if they want to use Zulip along with other services. It only says Docker as one among installation options.

[2021-11-18 01:05] #19606 closed

[2021-11-18 01:05] souzalucas commented on #20288
@zulipbot rm "good first issue"

[2021-11-18 01:05] timabbott commented on #19606
Closing since the question was answered, and we don't have an actionable change in Zulip based on the discussion.

[2021-11-18 01:05] souzalucas commented on #20288
@zulipbot remove "good first issue"

[2021-11-18 01:14] #18516 closed

[2021-11-18 01:28] timabbott opened #20289 "Send an automatic notification to the "stream events" topic when important stream settings change"
Specifically, the following types of changes should trigger a notification from notification bot:
* If the stream's privacy settings change (E.g. it becomes a web public stream).
* If the stream's message retention policy is changed (E.g. messages are now deleted after 30 days rather than preserved forever).
* The only other setting is who can post ot the stream; I'm not sure that needs a notifica

[2021-11-18 01:43] timabbott commented on #18907
Closing, since we don't have the input needed to debug this further, and the most likely cause is the system or the database unexpectedly blocking for 30+s seconds.  Please reopen if you're able to get the debugging details noted above.

[2021-11-18 01:43] #18907 closed

[2021-11-18 01:45] elopez commented on #19073
@timabbott thanks for the ping, I've been low on time and had forgotten about this 😅  #20292 has some extra documentation around this topic, let me know if you feel it needs any more details.

[2021-11-18 01:58] alya commented on #20289
I think there's one more:

---
@alya changed the stream description.

Old description:

New description:

[2021-11-18 05:24] cmprmsd commented on #19258
Thanks I'll check it out asap 👌

[2021-11-18 05:44] Knight1354 commented on #18286
I am still working on this issue

[2021-11-18 06:25] #19827 closed

[2021-11-18 06:43] alya commented on #20289
## Privacy notifications:
@alya changed [access permissions](/help/stream-permissions) for this stream from **X** to **Y**.

(eg. "... from **Private, shared history** to **Public**.")

## Retention
@alya changed the message retention period for this stream from **X** to **Y**. [if not forever] Messages will be automatically deleted after XX. [Learn more](/help/message-retention-policy).

## Who c

[2021-11-18 07:00] sahil839 commented on #20228
Sure.

[2021-11-18 07:15] Manan-Rathi commented on #20221
Thanks @Morgannjaw.

[2021-11-18 07:15] Manan-Rathi commented on #20221
@zulipbot claim

[2021-11-18 13:45] Morgannjaw commented on #20283
Ok I will thank you.

[2021-11-18 13:54] talheim-it commented on #8021
@timabbott Can we reopen this issue and implement a checkbox?

We could make it organisation wide set for users or personal, so each user can decide?

[2021-11-18 15:09] sahil839 commented on #20287
I have gone through the discussion on #20277. Can start working on this.

[2021-11-18 17:18] tinok commented on #8026
Is there a known workaround for this since the issue has been around for a while? I constantly miss PMs because of the issue described above (though I usually read the first one, deal with it in the private 1:1, after which I forget that there were several other PMs that are unread).

My UX suggestion would be to always have the list of 1:1 threads expanded, so that it is possible to directly clic

[2021-11-18 17:54] timabbott commented on #8026
The clearly not ideal workaround is you can click a random user with no unreads in the right sidebar.

The UX suggestion of having PM threads expanded by default is what we have in mind as well: https://github.com/zulip/zulip/issues/19447 tracks that plan.  My guess is that project will get picked up in a couple months.

[2021-11-18 17:55] Knight1354 commented on #18286
@zulipbot

[2021-11-18 17:57] tinok commented on #8026
That sounds great, #19447 would solve this issue.

[2021-11-18 18:32] 88fingerslukee opened #20295 "Zulip - RocketChat MemoryError"
Running 5.0 dev on an Ubuntu 20.04 VM with 8GB of RAM.
Rocketchat data size is ~10GB.
the script gives a memoryerror almost instantly even with the server stopped.

top shows almost all memory free.

[code]

I know there was an issue already raised about this but the thread got co-opted with other errors. Is there anyway around this issue? What kind of RAM will I need to perform this import?

[2021-11-18 19:31] 88fingerslukee commented on #20295
well, I answered my own question. I upped my VM to 24GB of RAM and that did it.  I have another error now but it seems like it's going to work.

Crazy. Is there anyway of making this somehow more RAM efficient?

[2021-11-18 19:42] YashRE42 commented on #20274
I'm working on this and I've made progress. I'll try have a PR tomorrow.

[2021-11-18 21:02] timabbott opened #20296 "Clean up logic around web public streams settings"
I think there's a couple things that don't quite work correctly around the settings for web-public streams:
* As noted in https://github.com/zulip/zulip/pull/20277#discussion_r751678127, we shouldn't display the option to enable web-public streams unless `settings.WEB_PUBLIC_STREAMS_ENABLED` is true on the server (default is false except in Zulip Cloud and the development environment).  Probably t

[2021-11-18 21:25] timabbott opened #20297 "Add explicit logic to disable drafts for spectators"
This block of logic in `zerver/lib/events.py` happens to work because the `UserProfile=None` filter returns the empty set, but I think we should use the explicit model that we use for other personal data for readability reasons:

[code]

Example more readable version that makes clear that we don't send any data for spectators:

[code]

[2021-11-18 22:58] alya opened #20299 "Do not show the suggestion to search all public streams to logged out users"
It seems like search for logged out users includes all web public history, which is correct. However, we still show the suggestion  to search all public streams. We should remove this suggestion for logged out users.

![Screen Shot 2021-11-18 at 12 42 39 PM](https://user-images.githubusercontent.com/2090066/142510054-d6266825-fee2-48dd-bf65-5d4fa5ea9b93.png)

@amanagr FYI

[2021-11-18 23:05] alya opened #20300 "Make it clear that logged out users cannot check/uncheck a /todo checkbox"
Clicking on a /todo checkbox while logged out pops up a “you need to log in” message, but it also checks off the task in the logged out user's message feed. Logging in as another user, one can see that the task was not actually checked off. However, the task should also not look toggled to the logged out user who clicked on it.

This is not a release blocker for web public streams.

[2021-11-18 23:08] alya opened #20301 "Hide data about custom profile fields from logged out users"
We do not display custom profile data in the logged out UI. To minimize the amount of information about users and organizations that is world-viewable, we should remove access to custom profile field data from the API for logged out users.

[2021-11-19 00:08] alya opened #20302 "Add more formatting buttons"
We have recently added formatting buttons below the compose box for bold, italics and links. We should extend this to add more handy formatting buttons. The result should be the following set of buttons, ordered left to right as listed. The names below are the labels to use in the tooltips; no changes to existing tooltips are proposed. Horizontal lines represent vertical lines in the UI. New butto

[2021-11-19 00:21] alya opened #20303 "Move "Press Enter to send" below Send button"
In #20302, we will implement a number of buttons below the compose box, which will take up a significant amount of horizontal space.

To free up space for these buttons, we should try making "Press Enter to send" small and moving it below the Send button. We can try putting it into the gutter below the buttons under the compose box once all elements have been correctly aligned, as discussed [here]

[2021-11-19 00:22] alya commented on #20302
We may need to free up horizontal space for these buttons via #20303.

[2021-11-19 00:35] alya opened #20304 "Create a UI for inserting polls"
Using polls in Zulip requires knowing the appropriate `/poll` syntax. https://zulip.com/help/create-a-poll is one of our most frequently viewed Help center pages, which suggests that polls are popular, but users have a hard time remembering how to make them.

To make polls easier to use, we should implement a widget for inserting polls. This requires adding:

1. A button below the compose box.
* L

[2021-11-19 02:02] alya opened #20305 "Make it easier to insert numbered and bulleted lists"
We should make it easier to insert correct formatting for numbered and bulleted lists.

1) Pressing "Enter" after a line with list formatting should insert the appropriate list formatting on the next line, i.e. the next number (e.g. "2. " or "2) ") for numbered lists, and "* ", "- " or "+" for bulleted lists. The formatting inserted should have a trailing space and match the previous line.
2) Pres

[2021-11-19 15:28] amanagr commented on #11227
@jmandel this feature is on the horizon of being available. We are just finalizing the UI bits in #20218.

[2021-11-19 16:04] mateuszmandera commented on #18659
Yeah, this should be closed.

[2021-11-19 16:04] #18659 closed

[2021-11-19 17:18] mateuszmandera commented on #19304
Hmm no, I don't think anything happened with this in chat.zulip.org. @intelligentops Have you been able to find a solution to this?

[2021-11-19 17:59] sahil839 commented on #20296
Working on this also along with #20287.

[2021-11-19 18:26] gurrrung commented on #19627
@zulipbot claim

[2021-11-19 18:26] alya opened #20309 "Make it possible to add bots from Organization settings > Bots"
At present, bots can be added from Personal settings, but not from Organization settings, which can cause confusion (as reported in [this CZO thread](https://chat.zulip.org/#narrow/stream/138-user-community/topic/Register.20Bot)).

To address this, we should make it possible to add bots from both Personal and Organization settings. To avoid duplicating code, this can be implemented by:

1) Moving

[2021-11-19 18:31] alya opened #20311 "Heading cut off in Settings > Data exports"
We should fix the fact that the "Action" heading is cut off in Settings > Data exports.

We should make sure the problem is fixed in other languages as well, including ones where the heading is longer.

<img width="776" alt="Screen Shot 2021-11-19 at 10 28 08 AM" src="https://user-images.githubusercontent.com/2090066/142673256-1153ec49-9083-4977-a6f6-395b22bcd24f.png">

[2021-11-19 20:11] luukkoe commented on #20073
@zulipbot claim

[2021-11-19 21:04] timabbott commented on #19680
This was incorrectly closed by a preparatory commit.

[2021-11-19 23:58] #18351 closed

[2021-11-19 23:59] timabbott opened #20315 "Add live update for viewing web public streams content"
Currently, web public streams content doesn't live-update when new messages are sent to such streams.  This is because we don't have Tornado authentication support for an event queue that is not associated with a logged-in-user.

In theory, we could change the Tornado system to support this through having the `queue_id` returned contain a random token or JWT or something; we've talked about potent

[2021-11-20 00:15] timabbott commented on #20301
This should be a straightforward change to the `events.py` code; @amanagr FYI.

(To be clear, this is just the data shared `events.py` about which custom profile fields exist in the organization; I think we already don't share users' values for the custom profile fields via code in `zerver/lib/users.py`).

[2021-11-20 02:45] ainialem commented on #17716
claim

[2021-11-20 02:45] ainialem commented on #17716
claim @zulipbot

[2021-11-20 02:49] ainialem commented on #20073
@adii21-Ux are you still working on this?

[2021-11-20 03:18] YashRE42 opened #20316 "Add convenience features to custom emoji upload (drag drop, auto emoji name, multi emoji upload)"
It would be really neat if the custom emoji upload (under org. settings > custom emoji) had these features:

1. Fill the file name as the emoji name in place of the placeholder text.
1. Support drag and drop upload.
1. Support adding multiple emoji at once.

quoting Tim:
"I'm not sure the right model is to try to add those features; better would probably be to rewrite the widget using the reusable

[2021-11-20 09:53] alejandroguimo commented on #20213
Hello, a colleague of mine has referenced a Pull Request to this issue, covering one of the tasks to be done. :) We are working on more.

[2021-11-20 13:22] juliaBichler01 commented on #19780
@zulipbot claim

[2021-11-20 13:26] juliaBichler01 commented on #19780
@alya i am currently working on this issue, but i can't claim it because i am a new contributor and am currently waiting for my other pull requests to be merged (https://github.com/zulip/zulip/pull/19943/files and https://github.com/zulip/zulip/pull/20239).
Can i still continue working on this issue, as i am pretty much finished with the other issue? And can/should i already create a pull request

[2021-11-20 14:17] pradyumn014 commented on #19777
I'm working on it

[2021-11-20 14:17] pradyumn014 commented on #19777
@zulipbot claim

[2021-11-20 15:04] ainialem commented on #2083
claim @zulipbot

[2021-11-20 18:56] Morgannjaw commented on #20283
<img width="722" alt="Screen Shot 2021-11-20 at 19 52 13" src="https://user-images.githubusercontent.com/52905547/142737871-472aaa42-4525-4da0-8f7b-74e0dee71ad7.png">
almost done with this issue, whats left is to make the fonts homogenous.  i also modified the poll buttons to look rounded like the todo buttons. May i have your thoughts?
appreciated ! :)

[2021-11-21 04:57] #20274 closed

[2021-11-21 05:02] #20301 closed

[2021-11-21 05:06] Manan-Rathi commented on #20311
@zulipbot claim

[2021-11-21 18:58] Knight1354 commented on #18286
[setup-vagrant.md](https://github.com/zulip/zulip/files/7576875/setup-vagrant.md)

Please  review the changes so I can confirm make those to other pages.Thank You

[2021-11-21 20:41] NerdyLucifer commented on #20303
@zulipbot claim

[2021-11-21 21:34] elfring opened #20325 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-22 01:04] danielpyon commented on #17419
I think this is just what the markdown library does by default: the NormalizeWhitespace preprocessor does `source = source.expandtabs(self.md.tab_length)`, which replaces all tabs with 4 spaces (by default). Since in the original example, one of the lines had 3 characters ("sys") then a tab character, only 1 space was inserted. This is just the way `expandtabs` works.

[2021-11-22 01:47] alya commented on #20303
@NerdyLucifer please pick an issue that has the "help wanted" and/or "good first issue" label. Thanks!

[2021-11-22 01:49] alya commented on #20304
@a-muk Thanks for your interest! Please check out https://zulip.readthedocs.io/en/latest/overview/contributing.html to learn how to get started. You can claim this issue once you've explored the code and are confident that you'll be able to submit a PR with the required changes.

[2021-11-22 01:56] alya commented on #20283
I think the fields and buttons are looking good!

[2021-11-22 01:58] alya commented on #19780
Hi @juliaBichler01 , yes, you can go ahead and work on/submit a PR for this one too -- thanks!

[2021-11-22 02:19] a-muk commented on #20304
Thank you ma'am for encouraging! 🙂 Will try my best .

[2021-11-22 03:37] alya commented on #20283
Ah, I didn't notice the change in the count boxes. @andersk is right; I'll post some relevant context in the chat.zulip.org thread.

[2021-11-22 06:38] johanehinger commented on #19680
@timabbott Yes, you merged one commit from #19761 but there are still some changes left to review and merge. Let me know when you have looked it over or merged it.

[2021-11-22 07:10] NerdyLucifer commented on #20303
@alya i think i can solve this issue...may i please send the pull request?

https://user-images.githubusercontent.com/85362194/142818615-052c670d-6839-4904-8be6-0372645bc07b.mov

[2021-11-22 07:15] alya commented on #20303
@NerdyLucifer it looks like your work is not on top of the latest pull requests merged in this area, so I would expect that it needs to be rebased before there's a possibility that it will be useful.

[2021-11-22 07:45] maninder321 opened #20328 "Missing realm.json file while import data in zulip server"
Hello, I am importing data into zulip server. I have created a tar.gz of old data using export tool in old server. But, while importing data in new server, I am getting this expection.

Processing dump: /home/maninder/zulip-export-k4ursuc3 ...
2021-11-22 07:40:24.798 INFO [] Importing realm dump /home/maninder/zulip-export-k4ursuc3
Traceback (most recent call last):
  File "./manage.py", line 52,

[2021-11-22 08:27] NerdyLucifer commented on #20303
https://user-images.githubusercontent.com/85362194/142827533-2e6dde2b-dbee-4f3b-b40b-c33c65cef01b.mov

this is how it looks after i fetched the latest commits

[2021-11-22 08:29] #20328 closed

[2021-11-22 08:46] juliaBichler01 commented on #19780
okay, great, thanks for assigning me!

[2021-11-22 10:57] nooblag commented on #20283
Hi all, thanks for the work. If I may though, I'd prefer to advocate for the flat look, not just cos that was restyling work I recently did on the Poll widget, but cos it's more consistent with the look and feel of the rest of Zulip... Could we make the task list confirm to [#19869](https://github.com/zulip/zulip/pull/19869)? Or do we want to diverge here?

[2021-11-22 11:08] klepptor commented on #5142
Hi there!

Are there any news on this?

In the meantime Confluence got its own Webhook Feature, but this seems to be different e.g. to Jira!? Kind of "global", no restrictions to spaces or pages!?

[2021-11-22 11:26] jonas-schievink commented on #19084
This appears to be fixed now, was that intentional?

[2021-11-22 11:30] Morgannjaw commented on #20283
ok, thanks for the feedback @alya.
sorry for the mixup,  sometimes i just get really anxious/scared to ask questions or make the wrong changes. I will though revert the button changes and make the todo flat (square as well).Work on the fonts and  will provide and update.
thank you :)

[2021-11-22 12:26] nooblag commented on #20283
Nah, asking questions is great! Hope you feel welcome to contribute, you're doing great work! :)

[2021-11-22 15:50] ankur12-1610 commented on #20118
I'm still working on it!

[2021-11-22 15:52] ainialem commented on #20304
@zulipbot claim

[2021-11-22 16:26] alya commented on #20303
Thanks!

The placement definitely isn't right. I think we want the text/checkbox to be smaller and just below the Send button.

[2021-11-22 16:45] zapashcanon commented on #20009
I believe the error is the same as [this one](https://github.com/poljar/matrix-nio/commit/c52b3d139495c1b6dc56a7f9f3b3582cdacc59f8).

[2021-11-22 16:57] zapashcanon commented on #20009
Also, with @AltGr we got something similar but for a different key:

[code]

[2021-11-22 18:09] sahil839 commented on #20296
I am almost done with this issue and #20287.
We currently show the private streams option in stream creation form even if a user is only allowed to create public streams.
As we want to hide the `web-public` stream choice from stream creation form if user is not allowed to create web-public streams, I am also adding the same for other types of streams as well - both for private and public.

I wante

[2021-11-22 18:28] alya commented on #20162
Hi @mittal-parth , any progress on this one?

[2021-11-22 18:49] a-muk commented on #20304
@zulipbot claim

[2021-11-22 18:50] NerdyLucifer commented on #20303
@alya is this placement right?

https://user-images.githubusercontent.com/85362194/142918386-426c5bce-e95c-4fd9-a8b6-f3227a086d17.mov

[2021-11-22 19:13] alya commented on #20303
Yes, that's the location I had in mind, so you could try submitting a PR.

Could you also include some static screenshots? It's hard to see what's going on in the video, especially since the video controls are overlapping with the most important part.

[2021-11-22 19:20] timabbott commented on #20296
I don't think the "can only create public streams" logic is one we've particularly polished -- it was a thing we meant to come back to after migrating the page structure, but didn't.

I think if the organization has enabled web-public streams but you don't personally have permission to create them, that feels to me like a setting for a radio option that's disabled (maybe with a tooltip explaining

[2021-11-22 19:39] NerdyLucifer commented on #20303
<img width="1199" alt="Screenshot 2021-11-23 at 01 06 52" src="https://user-images.githubusercontent.com/85362194/142924472-8a40c047-1972-4638-ad83-3fa0dceb4e9a.png">
<img width="1222" alt="Screenshot 2021-11-23 at 01 07 07" src="https://user-images.githubusercontent.com/85362194/142924476-9559534f-f29a-4adc-96ea-494df57ac648.png">

[2021-11-22 19:50] timabbott commented on #15307
https://github.com/zulip/zulip/pull/20332#issuecomment-975864248 has a detailed technical discussion of the changes to be made here.  Once we finish this, we should audit for other endpoints with this structure and migrate them as well.

[2021-11-22 19:52] alya commented on #20296
In the case where the org allows web public streams but the user can't create them, this sounds like the right plan to me:

We should also implement this approach for public streams. Right now we give an error after a user without the necessary permissions has tried to create a public stream, which is not a good experience:
<img width="654" alt="Screen Shot 2021-11-22 at 11 31 13 AM" src="https://

[2021-11-22 19:54] alya commented on #20296
I definitely don't think we should show the option in this case. If we want to advertise it, we could show an "Enable web public streams." link to admins only.

[2021-11-22 20:03] alya commented on #20303
I wonder if we want to move up the "Press Enter to send" text when there is no "Send" button; it looks kind of funny to have a blank space above it.

[2021-11-22 23:45] #20285 closed

[2021-11-22 23:47] timabbott commented on #20228
@sahil839 I think what's left may be mostly comments, but `git grep -i dark[_ ]mode` and similar things still find a good number of comments that need tweaking.

[2021-11-23 00:42] timabbott commented on #19680
Right -- the bug is that generally one should only put the `Fixes: #19680` line in the final commit of a PR, not every commit :), which GitHub doesn't really make clear (it just closes the PR when any commit with such a line is merged, even if it say "does not fix #19680" since it's a hacky regex).

[2021-11-23 00:44] #19680 closed

[2021-11-23 00:47] timabbott opened #20337 "Add UI support for creating invitations that expire in a year or never."
In #19680 / #19761, we added support for specifying the expiration date of an invitation to join a Zulip organization, but we don't support one of the more useful values ("Never"), basically because of a UI/API issue that we don't have a way in the API to request that, I think?

We should add API support for that, since long-lived invitations is one of our more frequently requested features.

Once

[2021-11-23 02:41] timabbott commented on #18463
The button mentioned here was removed in #19116, so closing this as no longer relevant to the current UI.

[2021-11-23 02:41] #18463 closed

[2021-11-23 03:43] mittal-parth commented on #20162
I am so sorry @alya, got caught up with college work. I had understood the existing code to some extent and was building the layout . Since I will be able to take it up only after a week, I'll leave it for someone else to take it up if interested. If not, I'll resume after a week.

[2021-11-23 03:43] mittal-parth commented on #20162
@zulipbot abandon

[2021-11-23 04:24] amanagr commented on #20303
Let's move the discussion to https://chat.zulip.org/#narrow/stream/101-design/topic/compose.20box.20formatting.20button

[2021-11-23 06:23] alexmv commented on #20128
Reopening -- #20188 addressed this for topics, but similar issues apply to other places in the system.

[2021-11-23 06:45] alexmv commented on #19073
`USE_X_FORWARDED_HOST` is a [core Django setting](https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-USE_X_FORWARDED_HOST), which is why it doesn't show up in the Zulip code. :)

[2021-11-23 06:55] sahil839 commented on #20228
Apart from comments, do we want to change the classes and ids of elements? And also the js file is still named as `night_mode`.

[2021-11-23 07:03] a-muk commented on #20299
Hello! Since the other issue I wanted to work on is already claimed by someone else before me, can I work on this issue now?

[2021-11-23 07:55] amanagr commented on #20299
@a-muk Please look only to claim issues marked as `area:help wanted` since you are a new contributor to Zulip. FYI, I am working on all the issues marked as `area: web public streams`.

[2021-11-23 08:02] a-muk commented on #20299
Okay sir. Thank you for informing 🙏🏻. I will look for other issues with that label.

[2021-11-23 09:01] gabriela-btl commented on #20316
claim

[2021-11-23 09:01] gabriela-btl commented on #20316
!claim

[2021-11-23 09:01] gabriela-btl commented on #20316
@zulipbot claim

[2021-11-23 11:18] a-muk commented on #20299
@amanagr Sir, are you telling that I need to find those issues which has got "help wanted" label on it? I am asking this because I am unable to find the area:help wanted labels

[2021-11-23 11:25] AltGr commented on #20009
`pip install matrix-client==0.4.0` seems to solve the issue; you'll probably want to update zulip/integrations/bridge_with_matrix/requirements.txt

[2021-11-23 16:17] sahil839 commented on #20337
Sure.
@zulipbot claim

[2021-11-23 16:46] alya commented on #20299
Yes, it's the "help wanted" label.

Please take a look at our [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn more.

[2021-11-23 18:34] a-muk commented on #20299
Okay. Thank you! 😊

[2021-11-23 18:35] timabbott commented on #20213
For sorting, we should just use the component we already have for "Custom profile fields":

![image](https://user-images.githubusercontent.com/2746074/143083729-2fd4b287-62e9-4a22-845e-4bd683a52214.png)

[2021-11-23 18:43] bootlegyaga commented on #20009
Hello Thank you @AltGr and @zapashcanon updating it to matrix-client 0.4.0 fixed the issue!
I am closing thread now.

[2021-11-23 18:43] #20009 closed

[2021-11-23 20:04] timabbott commented on #20128
Yes, and also we probably want to do a database migration to delete these characters from any existing topics.

[2021-11-23 21:39] collinwhitlow commented on #19709
I think my invitation expired before I had a chance to accept. I'm going to try to abandon and then claim again so I can get started on it
@zulipbot abandon

[2021-11-23 21:40] collinwhitlow commented on #19709
@zulipbot claim

[2021-11-23 21:42] collinwhitlow commented on #19709
@alya my invitation expired before I had a chance to get started on it. Do you have any idea how I can go about getting a new one so I can successfully claim this issue?

[2021-11-23 21:59] #20287 closed

[2021-11-23 21:59] #20296 closed

[2021-11-23 22:15] alya commented on #19709
We may need to manually cancel and resend it? I'm not sure. CC @timabbott

[2021-11-23 22:16] timabbott opened #20345 "Edit pencil next to "Stream permissions" doesn't appear after stream creation"
I found a small bug in the stream creation UI while reviewing #20333: If you create a new private stream with protected history, as an administrator, the lower of the two edit pencils in this screenshot doesn't appear until you click away from the stream and then back to it.  You get this:

![image](https://user-images.githubusercontent.com/2746074/143137792-0ea8f797-9174-4d13-9637-89bd241d0afa.pn

[2021-11-23 22:44] timabbott opened #20347 "Fix stream settings radio input vertical alignment"
Following #20333, we have this bug where the circles aren't vertically aligned, only in the modal display location for this widget:

![image](https://user-images.githubusercontent.com/2746074/143140657-7d2e951c-9395-4f9b-8e91-fc874ef5079f.png)

[2021-11-23 22:51] #20222 closed

[2021-11-24 00:21] timabbott opened #20348 "Extend new application tutorial to advertise using `git grep` to find things"
`git grep` is one of the single most useful tools for Zulip development, and we don't presently advertise it anywhere prominent (it's in the Git guide somewhere).  I think we should cover it in the "new application tutorial", since that's something we point new contributors at pretty often to learn about the codebase, and I think is a natural setting for explaining how `git grep` is the magic tool

[2021-11-24 00:32] LDeolindo commented on #20077
@zulipbot claim

[2021-11-24 00:38] timabbott commented on #20228
I'd at least rename the file to `dark_theme.ts`, and if it's easy, change all the classes/IDs as well.  I don't think we're likely to undo the changes, and it's just technical debt having both names floating around.

[2021-11-24 01:04] timabbott commented on #19709
Sent a new one.

[2021-11-24 01:20] collinwhitlow commented on #19709
Thank you, @timabbott
@zulipbot claim

[2021-11-24 08:05] SnexusG commented on #20073
@zulipbot claim

[2021-11-24 08:07] SnexusG commented on #20073
@alya I already made a pr for this few days ago. [Here](https://github.com/zulip/zulip/pull/20323)

[2021-11-24 13:22] carlinmack commented on #11637
Bumping this issue, I would love to use a workflow like this in our Zulip, but it's currently impossible https://18f.gsa.gov/2015/12/08/using-emoji-for-knowledge-sharing/

[2021-11-24 13:59] yousifAlkha opened #20349 "integration with saml"
I'm trying to integrating zulip with saml, I've done everything in the documents to configure the integration but in zulip logs, but the issue is that when authenticated with keycloak, the redirect goes back to the login page. with the following error in the logs
"2021-11-24 13:55:10.246 INFO [zulip.auth.saml] /complete/saml/: No valid IdP as issuer of the SAMLResponse."

[2021-11-24 15:41] YashRE42 commented on #20345
The core problem is that we have two events related to the creation of a private stream:
- stream create
- subscription add

We render the form in between these two events, as such, we get false from
[code]
I think the best way to resolve this is to cause a conditional redraw of the stream edit page based on if the stream edit form is open, the stream in the edit form is the subbed stream and the

[2021-11-24 16:21] NerdyLucifer commented on #20303
@alya is this issue still alive?

[2021-11-24 16:30] ankur12-1610 commented on #20347
@zulipbot claim

[2021-11-24 17:11] ganpa3 commented on #20210
@timabbott #20352

[2021-11-24 18:19] alya opened #20356 "Wrong stream order in "Copy from stream" list"
Where: **Create stream**  menu > "People to add" section >  "Copy from stream"

**Expected**: Streams that the user is subscribed to are listed first (in alphabetical order), followed by streams the user is not subscribed to.

**Actual**: The opposite: streams the user is *not* subscribed to are listed first.

Removing the "help wanted" label for the moment, as we are discussing whether to change

[2021-11-24 18:20] alya commented on #20356
I can replicate this for, e.g., "aaron" in the dev environment.

[2021-11-24 18:32] alya opened #20357 "Improve "Copy from stream" UI"
In the "Create stream" menu, there is a "Copy from stream" option in the "People to add" section. This can be an easy way to bulk-add users to a new stream.

We should improve the visual design of this option:

- [ ] Add decorators (#, lock, etc.) based on the type of stream.
- [ ] Make the member count part (icon+ number in parens) less dark in light mode / less light in dark mode. It's too brigh

[2021-11-24 18:39] #20347 closed

[2021-11-24 18:46] alya commented on #20303
I think we should pause on this one, as we're likely to go with the approach in #20343.

Thanks for prototyping! It was helpful to see what it would look like if we went this route.

[2021-11-24 18:49] #20345 closed

[2021-11-24 19:01] alya commented on #20303
We will rethink this issue and come up with an alternative plan.

[2021-11-24 19:01] #20303 closed

[2021-11-24 21:21] garg3133 opened #20361 "Remaining known issues and pending reviews in Rocket.Chat import tool"
### Things remaining from being imported
- [ ] User avatars are not imported.
- [ ] Default channels for new users are not imported.
- [ ] Messages longer than Zulip's limit of 10,000 characters are not imported.
- [ ] Archived channels are imported as normal channels. ([Link](https://github.com/zulip/zulip/pull/18966#issuecomment-886096624))

### Pending Reviews
- [ ] Document the exact commands

[2021-11-25 01:13] timabbott commented on #16936
Closing due to lack of reply and no known mechanism through which the API can generate those "new login" emails without forking Zulip.

[2021-11-25 01:13] #16936 closed

[2021-11-25 01:16] timabbott commented on #17425
@kbuzzard just a question: Have you folks encountered this issue recently?  I want to confirm whether #18641 was a complete fix for the user-facing issue; if so, I'll close this and open an infrastructure-side issue for what remaining work we want to do in this area.

[2021-11-25 01:23] timabbott commented on #19477
@JonathanReeve sorry for the slow reply: The bug is that you meant `streams` as the operator, not `stream`; without the `s` you're querying the stream named `public`.

[2021-11-25 01:37] alexmv commented on #14754
This was fixed in 52f74bbd9b2fafd4e11dd09d0714d59fda244dd3.

[2021-11-25 01:37] #14754 closed

[2021-11-25 01:38] timabbott commented on #20262
Maybe the right answer is just a comment, that in theory this should check whether the stream is archived/deactivated, but that's implied because `!sub.subscribed` will always be true for such streams.

[2021-11-25 01:44] #20262 closed

[2021-11-25 01:51] timabbott commented on #20071
We certainly have logic that's intended to prevent.

[code]

@amanagr can you do a quick investigation into this one?  It might be the case that we can switch to using the newer libraries that support "Undo" you added for the new compose box buttons rather than debugging why this isn't working.

[2021-11-25 01:52] timabbott commented on #19912
@Vooply can you provide additional detail here?

[2021-11-25 01:53] timabbott commented on #19835
In general `renumber-migrations` is a pretty low quality tool implementation wise; I also hate that it makes me answer the same question N times when doing a larger renumbering.  You should feel free to do a rewrite to make it smarter if it ever feels templating :).

[2021-11-25 01:54] timabbott commented on #19820
Added the release goal tag -- I'd like us to debug this before 5.0, since it's very likely a regression.

[2021-11-25 01:55] timabbott commented on #19657
We probably should just replace the time display logic with something we use to display dates elsewhere in the codebase, rather than trying to reproduce.

[2021-11-25 04:14] alexmv commented on #12323
I believe this is resolved, with the combination of 98f8d94b25296f854b478975ebf657b4446ed94d and 8dd9b4e812e13f34e688d327c5c7a0ea6ed01b41.

[2021-11-25 04:14] #12323 closed

[2021-11-25 05:37] NerdyLucifer commented on #20357
@zulipbot claim

[2021-11-25 06:25] alya commented on #20357
This issue is pending [further discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/.22Copy.20from.20stream.22); we may revamp how this UI works.

[2021-11-25 06:31] NerdyLucifer commented on #20357
Okay i'll wait for the final UI

[2021-11-25 06:56] kbuzzard commented on #17425
This issue has not happened to me personally recently, no.

[2021-11-25 08:55] strifel commented on #19966
Just tested this.
It works fine with a BigBlueButton server.
It does not with Scalelite v1.3, but the support for SHA1 is already on master and in v1.3.1-beta.1.

[2021-11-25 11:08] Ketan1502 commented on #20284
@zulipbot claim

[2021-11-25 12:32] showell commented on #20263
Fixed with https://github.com/zulip/zulip/commit/fdd63546b2a162639462b26c866145a7bf09196a

[2021-11-25 12:35] kashyaparka commented on #20113
@zulipbot claim

[2021-11-25 15:13] rkdarst commented on #17028
At my university, we are trialing using this in courses (specifically, one realm per course).  A common request is more anonymous feedback mechanisms, so that students can participate without feeling so vulnerable.  This anonymous poll feature was specifically requested!

Another possibility for this use case is "visible only to moderator and above".

[2021-11-25 15:58] #19966 closed

[2021-11-25 16:10] MSadauskas commented on #9081
@t-vi Hi Thomas, would highly appreciate that fix. Got stuck at that xml div/video stuff. Cheers!

[2021-11-25 19:53] RoyaleCheese commented on #19884
I'm trying to work on that, it's quite hard for me because it's my first colaboration in an open source project. I'm learning how to compile the zulip dev to do the issue.
I apologize for being late :/
Another question, what Zulip version do I need to work on?

[2021-11-26 07:16] sahil839 commented on #20337
For `never` option, how do we want to store the data in backend. From a comment in code we set the expiry date to `1000000` days after the creation for the `unsubscribe` link such that it never expires. Do we want to do something like this only or store a null value.

[2021-11-26 09:49] juliaBichler01 commented on #18943
@zulipbot claim

[2021-11-26 09:52] juliaBichler01 commented on #18943
@alya could i work on this? I am currently waiting for review on my other two open pull requests and would like to look into another issue in the meantime :)

[2021-11-26 13:06] isakhagg commented on #20305
@zulipbot claim

[2021-11-26 13:32] rkdarst opened #20372 "Anonymous channels/messages"
My university is using Zulip for courses, and one common feature request is a forum where students can ask questions anonymously, to avoid feeling like they are being judged by their peers. (note that another interesting requirement is that moderators *can* see who posts messages, so this seems a bit different than public web view/anonymous message submission I saw in another issue).

- After some

[2021-11-26 16:51] carlinmack commented on #17012
maybe fixed (in a way) by #19900

[2021-11-26 18:29] collinwhitlow commented on #19709
@timabbott Since I am new to contributing to Zulip, do you happen to know which files would be the most beneficial to start with for this issue?? Thank you!

[2021-11-26 20:07] brtran4 commented on #20227
Yes, I am still working on this.

[2021-11-26 21:46] mohamedqasem commented on #17571
@zulipbot I'm still working on this issue. I've set up the development environment and started looking at the source code. With the holiday and other things going on, progress has been slow, but I'll be committing more time to this issue soon.

[2021-11-27 04:03] thedeveloperr commented on #12328
@zulipbot claim

[2021-11-27 06:07] #19901 closed

[2021-11-27 06:15] YashRE42 commented on #20163
yes.

[2021-11-27 06:26] #15307 closed

[2021-11-27 12:15] NerdyLucifer commented on #20356
@zulipbot claim

[2021-11-27 12:21] NerdyLucifer commented on #20356
![Uploading Screenshot 2021-11-27 at 17.46.09.png…]()

[2021-11-27 12:23] NerdyLucifer commented on #20356
<img width="591" alt="Screenshot 2021-11-27 at 17 46 09" src="https://user-images.githubusercontent.com/85362194/143681154-b1435b16-ce4f-448e-ab65-245d491a3a93.png">

[2021-11-27 12:51] SnexusG commented on #19967
@zulipbot claim

[2021-11-27 12:55] SnexusG commented on #19967
@alya I've already completed and gotten my [pr](https://github.com/zulip/zulip/pull/20323) reviewd for the other [issue](https://github.com/zulip/zulip/issues/20073).
Can I make a pr for this? I think I've fixed this issue.

[2021-11-27 19:53] anurastogiji commented on #20044
@zulipbot I am still working on this issue.

[2021-11-27 22:45] ArjonBu commented on #19543
@timabbott I am using the original dockerfile and I am experiencing the same issue.

[code]

[2021-11-28 02:34] samuelbutler commented on #20250
@zulipbot claim

[2021-11-28 02:40] samuelbutler commented on #20250
@amanagr, I think @ohad83 is correct. I believe there are currently no possible Zapier integrations between Zulip and Google Meet because neither has any Zappier triggers, only actions. This is why the Zapier page says "Unfortunately, there are no combinations yet for Google Meet and Zulip." Let me know if you think there is anything further that needs to be looked into, but if not I think this is

[2021-11-28 05:00] timabbott opened #20380 "message edit: Make "Quote and reply" add the content to your message if cursor in message edit."
I noticed this while reading the code for the quote-and-reply widget while working on #20071; we hardcore the location to add the content as the compose textarea.

I think a user would expect that if they're in the middle of editing a message and selected "Quote and reply" from the menus, we'd put the content in the active message edit box rather than opening the compose box to put it there.

[2021-11-28 05:27] amanagr commented on #20250
I see we don't have a "Message send" trigger, which makes this impossible to do.
<img width="1088" alt="Screenshot 2021-11-28 at 10 56 21 AM" src="https://user-images.githubusercontent.com/25124304/143730816-a156e16c-cb94-4217-af5b-55b9125e2afc.png">

[2021-11-28 06:42] alya commented on #19967
@SnexusG I've assigned you this issue; please go ahead and submit a PR. Thanks!

[2021-11-28 06:49] alya commented on #19709
@collinwhitlow please take a look at the (recently updated) [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn more about how to get help. Also, keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer)

[2021-11-28 06:56] alya commented on #18943
Sure! I'll go ahead and assign this issue to you.

[2021-11-28 06:58] alya commented on #19884
@RoyaleCheese  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn more about how to get help. Also, keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

[2021-11-28 08:57] juliaBichler01 commented on #18943
great, thanks!

[2021-11-28 14:20] Jordan-Rob commented on #20017
hi @alya apologies for going quiet I had some issues with my PC and had to take off some time to fix it, but I'm now working on this

[2021-11-28 15:00] #20071 closed

[2021-11-28 15:15] #20311 closed

[2021-11-28 15:23] alejandroguimo commented on #20213
@zulipbot claim

[2021-11-28 17:37] a-muk commented on #20140
@zulipbot claim

[2021-11-28 17:57] Arch0125 commented on #19888
![Screenshot from 2021-11-28 23-21-20](https://user-images.githubusercontent.com/72722967/143779861-15e06553-0d68-4a93-932d-6dfe0a15cdde.png)

Changing the icon to chevron-down is done. I'm currently trying to resolve the error that occured during the last commit.
And trying to solve this one **In the compose box. We're less sure about this one, but we should try it.**

[2021-11-28 18:24] madrix01 commented on #20128
@timabbott @alexmv I have created PR for validating Stream Names with test #20375

[2021-11-28 18:58] t-vi commented on #9081
FWIW, here is what I think are the relevant changes from my private tree: https://github.com/t-vi/zulip/tree/tv_video_view Note that this commit does two things - it adds a thumbnail to markdown (same as @amanagr implemented in a better way) and it adds hosting my own videos in `/media/<group>/something` which maps to `uploads/files/media/...` and is accessible to users in <group> and does the ngi

[2021-11-28 19:20] oliver-pham commented on #20162
Hi @alya! This seems like an interesting feature. Do you have any design for the summary stats in mind? It would be wonderful if you can suggest some CSS or existing templates from which we can get some ideas.

[2021-11-28 20:07] timabbott commented on #20349
This sounds like a configuration mistake with a mismatch between the IdP identity in your Zulip configuration and your Keycloak server.  Can you stop by "production help" in the [Zulip development community](https://zulip.com/developer-community/) so we can help you debug?

[2021-11-28 20:07] #20349 closed

[2021-11-28 20:08] timabbott commented on #20361
Huge thanks for doing this writeup!  It's really helpful.

[2021-11-28 20:16] timabbott commented on #20372
The simplest implementation for this sort of thing is what other chat tools do, namely having a bot that uses the Zulip API sends anonymous questions on the user's behalf.  (This is what some other chat products do).

An alternative approach would be to have a boolean flag on a Zulip message that results in all Zulip API details showing the message's sender as "Anonymous user"; I guess you'd need

[2021-11-28 20:29] johubertj commented on #19958
@zulipbot claim

[2021-11-28 20:30] Sarah-Addo commented on #20211
@zulipbot Still working on the PR for this issue!

[2021-11-28 21:00] timabbott commented on #20372
I just verified that this block of changes to `main` is sufficient to make messages starting with "Anonymous:" be displayed as sent by a shared "Anonymous user" account.

[code]

This is meant as a total hack, and has a few problems:
* Starting a message with "Anonymous:" doesn't feel like a good user interface to request a message be done this way; it's just easy to hack in.
* We need to disable

[2021-11-28 22:55] catherjh commented on #17998
@zulipbot claim

[2021-11-28 22:56] timabbott opened #20383 "Reactivated users don't appear in "Manage streams" until you reload the browser"
If you deactivate a user, reload the browser, and then reactivate them, the "Manage streams" UI will incorrectly not show the user as not subscribed to streams.  This leads to the incorrect impression that Zulip does not preserve one's subscriptions when an account is deactivated.

This needs further debugging; I suspect we need `do_reactivate_user` to call `send_peer_subscriber_events`.

See http

[2021-11-29 01:10] alya commented on #20162
@oliver-pham Have you explored the code for the `/stats` page?

Once you have done so, you can post your thoughts and get feedback on chat.zulip.org (in #frontend for more technical discussion, or #design to discuss what it would look like).

[2021-11-29 03:34] amanagr opened #20387 "Create triggers for Zulip in Zapier."
[A trigger](https://platform.zapier.com/docs/triggers) that happens on sending message is what we need. Or, something that can happen on a button click might be even better.

This will allow us to do incorporate integrations like Google Meet into Zulip.

@eeshangarg FYI

[2021-11-29 07:04] YashRE42 opened #20389 "Analytics: Prevent legend text being truncated on /stats"
- [ ] For `Messages read over time`:
![](https://user-images.githubusercontent.com/33805964/143821700-5fc668b1-7648-42d0-8660-138c28a1d8d1.png)
we are truncating `Everyone` as `Everyon` when there's clearly sufficient space.

- [ ] For `Messages sent by recipient type`:
![](https://user-images.githubusercontent.com/33805964/143821944-24cb87af-5304-425f-8774-b12fa62b5225.png)
we are truncating the

[2021-11-29 07:19] alya commented on #20389
Thanks for reporting! This is actually a duplicate of #18912.

[2021-11-29 07:19] #20389 closed

[2021-11-29 11:52] Arch0125 commented on #19888
Commit passed all checks for this issue.
Resolved  **1.In the message edit UI  2.In the move topic popover**
![Screenshot from 2021-11-29 17-17-02](https://user-images.githubusercontent.com/72722967/143863325-030e1181-fc18-4b2b-b68c-995a394ddec3.png)

@alya

[2021-11-29 14:08] YashRE42 commented on #18912
I spent a bunch of time trying to figure this out, eventually reaching https://github.com/plotly/plotly.js/pull/2243#issue-162224099.

I'm fairly certain none of the values we set influence the legend being cut off, for the bar graph, we can move the legend to the right with x: 0.3 in:
[code]
But the text is still truncated. I tried adding `automargin: true` on the xaxis and I'm certain it worked

[2021-11-29 17:22] birkenstonks commented on #19919
Yes, I am still working on the issue.

[2021-11-29 19:28] alexmv commented on #16686
Very belated, but totally happy to close this, based on no issues from this queue of late.

[2021-11-29 19:28] #16686 closed

[2021-11-29 20:10] alya commented on #19435
Ah, yeah, I think that issue is the same as the first checkbox?

[2021-11-29 20:19] gnprice commented on #19477
From looking at https://chat.zulip.org/api/get-messages , I think probably the main place where more discussion is needed is at the `narrow` parameter:

That should gain a paragraph saying what the default behavior is: it fetches from this user's message history. Moreover, that concept of "message history" (currently mentioned also in the overall description) calls for some explanation, and a ment

[2021-11-29 20:20] alya commented on #18912
Thanks for digging into this!

[2021-11-29 20:37] gnprice commented on #19181
(I've edited this title to reflect what I believe is the intention.)

[2021-11-29 20:39] alya commented on #19888
Cool, thanks!

I think the chevron looks too dark -- let's try making it the same shade as the filter/plus buttons in the let sidebar next to "Streams".

Please post screenshots of both the message edit and compose box UIs, in both light and dark mode, once you've made the changes. There's no need to post screenshots of the status of the checks in GitHub.

[2021-11-29 20:45] gnprice commented on #19181
This is a good request, and this isn't the right thread for it.

This issue thread is about behavior in the case where the topic gets resolved and promptly unresolved (or vice versa). What you're asking for is behavior to reduce noise in the normal case, where the topic gets resolved and stays resolved.

There's now a separate issue #19709 which covers part of this -- not updating the unread count

[2021-11-29 21:04] tilpner commented on #20087
Using [the alertmanager integration](https://zulip.com/integrations/doc/alertmanager) seems to work... a bit. The "graph" link leads to the alert editor, but it's better than no alerts. :)

[2021-11-29 21:21] gnprice commented on #19371
@sanfords Please file a separate issue for this request, or ask [in chat](https://zulip.com/developer-community/). This thread is for discussion of the issue described at the top.

[2021-11-29 23:10] timabbott opened #20393 "Fix mattermost import handling of duplicate huddle objects"
See https://chat.zulip.org/#narrow/stream/31-production-help/topic/Migration.20from.20Mattermost/near/1288112 for background. But basically we believe that it's possible for the Mattermost=>Zulip data conversion tool to generate two copies of the same huddle, whereas these are intended to be a singleton for each set of user IDs.

@ganpa3 FYI -- this is likely a relatively localized fix.

[2021-11-29 23:42] alya commented on #19435
@timabbott I have re-reviewed this PR, and I believe is solves issues (1) and (3) reported here. We should still solve (2), but it would be a big improvement.

[2021-11-29 23:43] swatibhageria10 commented on #19884
@zulipbot claim

[2021-11-30 00:18] collinwhitlow commented on #19709
That's understandable. I spent some time reviewing that link, and I am now more confident I am in a position to succeed. I'll give this another shot.
@zulipbot claim

[2021-11-30 00:19] timabbott commented on #6358
Closing as this is a duplicate of the first item in #19435, and thus is about to be fixed as part of merging #19566.

[2021-11-30 00:20] #6358 closed

[2021-11-30 00:22] timabbott commented on #19435
Now that the first and third checkboxes are resolved, I think it probably makes sense to move the remaining item to its own dedicated issue.  Another reasonably choice would be to just close this, since this sort of keyboard interaction thing is going to need to be totally reworked as part of the migration to the pills-based search system anyway.

[2021-11-30 00:45] alya commented on #19435
This issue was the bundle of UX bugs I thought should be resolved faster than the pill migration. :) I'll open a new issue.

[2021-11-30 00:53] alya opened #20394 "Keep search box open when selecting from auto-complete"
At present, the search box frequently closes when an auto-complete suggestion is selected. This happens consistently when an auto-complete suggestion is selected with the mouse, and seems to behave inconsistently when the suggestion is selected with "Enter", as discussed in the comments for #19435.

This behavior is problematic, as the user may still be in the middle of constructing the query they

[2021-11-30 00:53] alya commented on #19435
Filed #20394 for the remaining item.

[2021-11-30 00:53] #19435 closed

[2021-11-30 02:30] timabbott commented on #20337
`null` is certainly cleaner than hardcoding a very large value for this sort of thing.

[2021-11-30 02:58] Arch0125 commented on #19888
Thanks!
I will start working on the changes

[2021-11-30 05:29] brtran4 commented on #20227
@zulipbot abandon

[2021-11-30 07:20] YashRE42 opened #20397 "analytics: Add dark mode to /stats page"
Web pages which have a dark mode option on almost all of their pages are a pet peeve of mine. They lull you into a sense of security on the main page and then suddenly flashbang you if you click the wrong link.
Unfortunately this is ~ what we do for the /stats page, since the user has to log in to access that page, we should always have their display setting available, and it shouldn't be too diff

[2021-11-30 07:56] AayushSolanki commented on #19958
@zulipbot claim

[2021-11-30 08:55] gabriela-btl commented on #20397
@zulipbot claim

[2021-11-30 08:56] gabriela-btl commented on #20316
@zulipbot abandon

[2021-11-30 08:56] gabriela-btl commented on #20397
@zulipbot claim

[2021-11-30 09:03] xeruf opened #20398 "Add an option for whether to receive a direct message when invited users join"
_This issue description has been updated by @alya  to include a specific design and by @laurynmm for the change from "private message" to "direct message" in the UI._

At present, when a user's invitation to Zulip is accepted, they receive a direct message announcing this. However, some users may not want to receive such a message, e.g. because they are already following new user notifications in

[2021-11-30 09:12] MSadauskas commented on #9081
Thanks a ton!

--
Mykolas Sadauskas
On Nov 28, 2021, 20:58 +0200, Thomas Viehmann ***@***.***>, wrote:

[2021-11-30 10:30] aswinidev commented on #19653
@zulipbot still working on this

[2021-11-30 10:42] AayushSolanki commented on #17248
@zulipbot claim

[2021-11-30 11:07] nikhilmaske-2001 commented on #20383
@zulipbot claim

[2021-11-30 11:25] mittal-parth commented on #20162
Hi @oliver-pham! Since I had gotten some idea about the code around stats, it would be great if you can do the designing and I can fetch the data from the backend. Let me know if that sounds good! 😄

[2021-11-30 11:37] ivangretsky commented on #19605
Good day, @timabbott ! I've contacted @priyank-p  a few times to encourage him to take action on this issue. But pitifully he doesn't have an opportunity to spend time on it anytime soon. Is there another way we can move this issue forward?

[2021-11-30 11:53] NerdyLucifer commented on #20356
@alya please review the changes

[2021-11-30 14:17] oliver-pham commented on #20162
I'm not a designer myself, but I can try to help you with the design. I've created a topic for this in #frontend on (on chat.zulip.org) and suggested some ideas. Before claiming the issue, can we discuss your approaches in #frontend, @mittal-parth?

[2021-11-30 14:23] fiber-optics opened #20399 "Error: Evaluation Error: Error while evaluating a Function Call, Could not find class ::zulip::profile::standalone"
try to update zulip 2.1.7 to 3 or 4 version and recive this error after
/home/zulip/deployments/current/scripts/upgrade-zulip zulip-server-latest.tar.gz
Error: Evaluation Error: Error while evaluating a Function Call, Could not find class ::zulip::profile::standalone for host.server.net (line: 3, column: 1) on node host.server.net

[2021-11-30 14:29] raghupalash commented on #20001
@zulipbot claim

[2021-11-30 17:18] CamOglesby commented on #20394
@zulipbot claim

[2021-11-30 17:52] gurrrung opened #20400 "form data should be saved in localstorage for `/devtools/integrations/`"
Sometimes while development, when I'm playing around with Python, I do something wrong and it forces me to refresh the `/devtools/integrations/` page on the browser, and I lost my old data and I have to fill it again, it would be convenient if we save form data to localstorage or something on client-side to continue from the same state. Plus a clear button that clears the whole form would be great

[2021-11-30 18:12] oliver-pham commented on #20267
Since @abhishekangale hasn't updated his progress on this issue, should I go ahead and do research on it, @alya?

[2021-11-30 18:24] abhishekangale commented on #20267
@oliver-pham Please go ahead. I've already been unassigned from the issue. Sorry for the delay.

[2021-11-30 19:59] showell commented on #10862
https://chat.zulip.org/#narrow/stream/101-design/topic/Move.20a.20channel.20or.20private.20conversation.20to.20a.20Stream.20.2310862

[2021-11-30 20:36] timabbott commented on #20101
I believe Zulip 4.8 will be released within the next day or two fixing this via #20290.  @alexmv just to confirm: Have we verified that `docker-zulip` runs `go-camo` properly?

[2021-11-30 21:32] alya commented on #9165
An organization administrator I reached out to mentioned this as their top issue.

[2021-11-30 22:49] alya commented on #20356
@NerdyLucifer as zulipbot let you know, we are not currently taking PRs on this issue. It is pending [ongoing discussion on chat.zulip.org.](https://chat.zulip.org/#narrow/stream/101-design/topic/.22Copy.20from.20stream.22)

[2021-11-30 23:00] alya commented on #19958
I removed the "help wanted" and "good first issue" labels, as we're revamping this part of the compose box in #20396.

[2021-12-01 00:32] alya opened #20403 "Change the `x` icon for closing the compose box"
The `x` icon we currently use for closing the compose box is inconsistent with other `x` icons, and does not look good next to the `^`, as discussed [in this thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/buttons.20overlap.20with.20topic). We should replace it with the Font Awesome (v4.7) icon we use elsewhere, i.e. `fa-remove`.

<img width="135" alt="Screen Shot 2021-11-30 at 4 30 2

[2021-12-01 00:57] freefrank opened #20404 "Zulip - RocketChat - import from SaaS"
Hi, we are trying to migrate from RC SaaS service as they are blocked in China, we have to use reverse proxy to get our user access the chatroom.
Zulip looks so promising and modern, I'd like to give it a try!

But following the guide of migration, the script of convert may be a bit outdated.
The export from RC have changed, which rocketchat_avatars.files.bson and rocketchat_uploads.bson no long e

[2021-12-01 03:30] MukulKolpe commented on #20403
@zulipbot claim

[2021-12-01 08:47] nikhilmaske-2001 commented on #20309
@zulipbot claim

[2021-12-01 10:21] maxxer opened #20406 "Unable to configure email account having the % special character in password"
Foreword: using `docker-zulip`, version 4.7.

I'm unable to configure an email account for outgoing mails which have a percent `%` character in the password. The log always report *authentication faluire*:
[code]
The password is written correctly into secrets file.

I've no experience with Python, I made some searches and found out that the ConfigParser library needs special management for the `%`

[2021-12-01 14:16] kashyaparka commented on #20267
@zulipbot claim

[2021-12-01 14:24] kashyaparka commented on #20118
@zulipbot claim

[2021-12-01 14:26] kashyaparka commented on #20267
@zulipbot abandon

[2021-12-01 14:28] oliver-pham commented on #20267
@zulipbot claim

[2021-12-01 14:29] kashyaparka commented on #20118
@zulipbot claim

[2021-12-01 14:36] ankur12-1610 commented on #20118
@kashyaparka I'm already working on this issue and has raised the PR for the same for a while, it is already under review and needs some changes.

[2021-12-01 14:50] dm17 commented on #33
For those who have been using GitLab integration: how is it so far? How does it compare with integration with other source control and/or CI software?

[2021-12-01 15:28] Arch0125 commented on #19888
I have these changes to the colour of the fa-chevron-down.
Also the icon have been made a bit thinner.

![Screenshot from 2021-12-01 20-33-37](https://user-images.githubusercontent.com/72722967/144261853-f5e2c050-38d8-4a24-af10-951efda9331d.png)
![Screenshot from 2021-12-01 20-51-05](https://user-images.githubusercontent.com/72722967/144261859-d1b32b35-ee78-4528-8640-4eacbcd2bf20.png)

I think thi

[2021-12-01 18:26] alya commented on #19888
Those screenshots look good to me! Please go ahead and updated your PR.

[2021-12-01 18:53] Arch0125 commented on #19888
Thanks! I'm updating the PR ASAP

[2021-12-01 19:51] Arch0125 commented on #19888
Hi, I have updated the PR, it passed all the tests. Have a look.

[2021-12-01 20:25] timabbott commented on #18731
Nobody seems able to reproduce this on Firefox before, so I think we can assume this is a quirk in Firefox that is no longer present. See https://chat.zulip.org/#narrow/stream/101-design/topic/composebox.20stickiness/near/1287074 for the testing discussion.

[2021-12-01 20:25] #18731 closed

[2021-12-01 20:41] timabbott commented on #20404
In general Rocket.Chat doesn't have a well-defined export format; the `.bson` files are just database dumps.

@garg3133 can you investigate this? It's not clear to me whether one needs to ask Rocket.Chat support for more data or if we just need to handle an additional data format for how the uploaded files are stored.

[2021-12-01 20:44] alya commented on #19888
Looks good to me! @timabbott ready for your review.

[2021-12-01 20:45] timabbott commented on #20400
I don't think the tool is intended in any way to be an editor where one hand-writes JSON; one should only be copy-pasting content into /devtools/integrations/ from e.g. a fixture file (or more often using the fixture file system).

Can you talk more about the development workflow you're doing and why?  That might answer the question of whether it makes sense to change this development tool.

[2021-12-01 20:47] timabbott commented on #20399
@fiber-optics can you provide more surrounding output, as well as what OS you're using Zulip on, and what you're doing when you see this?  I haven't seen this error before, but it seems like the kind of thing that could happen when running an different major release of `puppet` from the version that comes with the OS that Zulip expects.

[2021-12-01 20:48] timabbott commented on #20398
@xeruf thanks for the report!  I think don't think muting the notification bot is the right solution for this problem; instead I think a personal notification setting for whether you get a PM when a new user joins who you invited makes more sense.

@alya thoughts on that design question?

[2021-12-01 20:51] timabbott commented on #17425
I guess there's still a theoretical failure mode of timeouts rendering LaTeX if one needs to startup `KaTeX` too many times for a message.  There was some discussion of how to fix that here:

https://chat.zulip.org/#narrow/stream/31-production-help/topic/Timeout.20errors/near/1289384

[2021-12-01 21:16] garg3133 commented on #20404
@freefrank How did you export the data from Rocket.Chat? It may be possible that you are using some kind of tool to export the data, that arranges all the data in this format. If you just do a normal database dump, you should get the data in the required format.

Also, can you confirm if the files inside `files/avatars` and `files/uploads` are `.bson` files or just normal image/attachment files?

[2021-12-01 21:26] fiber-optics commented on #20399
i update OS from debian 9 to 10 and try update zulip 2.1.8 to 3 via
/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 3.0
and this error is all i got

2021-12-01 14:25:33,441 upgrade-zulip-stage-2: Applying puppet changes...
Error: Evaluation Error: Error while evaluating a Function Call, 'new' The string '16067.30' cannot be converted to Integer (file: /home/zulip/deployments/2021-12

[2021-12-01 21:27] freefrank commented on #20404
![ScreenShot](https://user-images.githubusercontent.com/726115/144316394-d6aa8f54-db2d-4107-aeb4-1006445bc0d2.png)
I believe they are just renames.
I can email you the rocketchat_uploads.bson and rocketchat_uploads.metadata.json if you need to inspect it.

[2021-12-01 21:35] #19888 closed

[2021-12-01 21:37] alya opened #20415 "Move settings to new lines"
In Organization settings > Organization settings, we currently have some settings that are on the same line as their label. This is inconsistent with the general pattern.

Instead, the following setting should be moved to a new line beneath their label. The colon at the end of the label should be removed.

![Zulip_-_testing17](https://user-images.githubusercontent.com/2090066/144317954-8db69384-b3

[2021-12-01 21:52] oliver-pham opened #20416 "Replace hardcoded regex with `toLocaleString`"
At present, there's a line in [`stats.js`](https://github.com/zulip/zulip/blob/76afb31196bab8833268b98260d5a6adf08b94cc/static/js/stats/stats.js) that uses regular expression to format a number with commas as thousands-separators:

https://github.com/zulip/zulip/blob/76afb31196bab8833268b98260d5a6adf08b94cc/static/js/stats/stats.js#L596

For instance, `1234567` is formatted into `"1,234,567"`. How

[2021-12-01 21:57] CamOglesby commented on #20394
Hi Alya, I wanted to give you an update regarding the status of your issue.

I have found a potential solution and it is currently working for the expected behavior you're describing 1/2 of the time.

When it's working: the user selects one of the suggested search options in the typeahead menu and presses **enter**.
However, I am running into some inconsistent behavior when the user selects one of

[2021-12-01 22:11] timabbott opened #20417 "Only offer web public streams option for realm administrators if it's enabled on the server"
If one sets `WEB_PUBLIC_STREAMS_ENABLED = False` in `zproject/dev_settings.py`, we still end up offering the realm-level setting to enable web public streams, even though it doesn't do anything.  I think probably ideally we'd have the option appear but be disabled with a `help_settings_link` pointing to the /help/ page on web public streams.  (That way we advertise it's possible if you want it, bu

[2021-12-02 00:07] alexmv commented on #20399
It sounds like you may not have followed [Zulip's instructions for upgrading from Debian Stretch to Debian Buster](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-debian-stretch-to-debian-buster).  Were you working from those steps?

Note that there's no reason to stop the upgrade at 3.0; we suggest upgrading to the latest, once you're on Debian 10.  However

[2021-12-02 00:18] CamOglesby commented on #20394
Update: I have fixed the bug and will start constructing my PR.

[2021-12-02 00:35] #19900 closed

[2021-12-02 01:21] ainialem commented on #20416
@zulipbot claim

[2021-12-02 02:49] swatibhageria10 commented on #20415
@zulipbot claim

[2021-12-02 05:04] freefrank commented on #20404
@garg3133 forgot to mention, it's exported by Rocket.Chat customer service rep, as we are still using SaaS service.

[2021-12-02 05:53] brtran4 commented on #18171
@zulipbot claim

[2021-12-02 06:54] Manan-Rathi commented on #20415
@zulipbot claim

[2021-12-02 07:56] fiber-optics commented on #20399
followed, upgraded, still same error

[2021-12-02 13:38] pranavrushi commented on #20304
hi mam,  i am beginner  and i  want to start contributing can u please guide me mam

[2021-12-02 14:06] birkenstonks commented on #19919
@alya @timabbott To make sure I understand, what do you think is the best solution here? Should I still mark the topic as edited, mark the topic as edited for certain users, or remove any indications of edited?

Should I be concerned with adding a 'moved' label, or would that be considered a separate issue?

[2021-12-02 14:32] anurastogiji commented on #20044
@zulipbot claim

[2021-12-02 15:16] johanehinger commented on #20304
@alya I have started a WIP PR for this issue please check it out at #20423.
I think your suggested use of ```fa-hand-paper-o``` icon looks good.

![image](https://user-images.githubusercontent.com/65904251/144448116-e8783436-9c5a-4a5b-a876-3b6c6b64c728.png)

I'm currently assigned to #19931 but feel free to assign me to this issue too since I'm dedicated to work on this wile awaiting feedback on t

[2021-12-02 17:25] #20101 closed, assigned to nobody

[2021-12-02 18:29] timabbott commented on #20399
It looks like you skipped step 6:
![image](https://user-images.githubusercontent.com/2746074/144481687-e46afcb2-8d1e-4c64-8d71-ad74279b6374.png)

[2021-12-02 18:31] fiber-optics commented on #20399
i cant update becouse this error

[2021-12-02 18:33] fiber-optics commented on #20399
`root@mail:/usr/src# /home/zulip/deployments/current/scripts/upgrade-zulip zulip-server-latest.tar.gz
2021-12-02 18:31:18,903 upgrade-zulip: Archiving the tarball under /home/zulip/archives
2021-12-02 18:31:23,623 upgrade-zulip: Unpacking the tarball
2021-12-02 18:31:25,054 upgrade-zulip-stage-2: Upgrading system packages...
Get:1 http://deb.debian.org/debian buster-backports InRelease [46.7 kB]
G

[2021-12-02 18:46] alya commented on #20304
That screenshot looks good -- let me know when your PR is ready for review. :)

[2021-12-02 18:47] garg3133 commented on #20404
What is the format of these files?

You can email those to me at priyanshgarg30@gmail.com.

Then I guess they must have created some kind of export tool themselves. Can you ask them if they can provide you with the database dump like they used to before?

[2021-12-02 19:38] alya opened #20431 "Light theme warning banners in dark theme"
Some organization settings menus have light theme banners in dark theme:

![Screen Shot 2021-12-02 at 11 35 29 AM](https://user-images.githubusercontent.com/2090066/144490912-f7c99ec9-bfb9-4299-82db-1b8a1972f23b.png)
![Screen Shot 2021-12-02 at 11 35 20 AM](https://user-images.githubusercontent.com/2090066/144490918-d090f3cf-295e-45f8-be10-f34e2d08fc43.png)

Instead, these should look like other d

[2021-12-02 19:42] My-Name-Is-Nabil commented on #20431
@zulipbot claim

[2021-12-02 19:54] ainialem commented on #20416
@oliver-pham hi! can you review this when you get a chance?

[2021-12-02 20:36] alexmv commented on #20399
That still looks like a puppet version mismatch.  On Buster, we expect [Puppet 5.5.10](https://packages.debian.org/buster/puppet), and the error there looks like it's from version 3, maybe 4, of Puppet.  Can you show the output of:
[code]

[2021-12-02 21:54] freefrank commented on #20404
email sent!
Thank you!

[2021-12-02 21:55] alya commented on #19919
Sorry for the confusion @birkenstonks ! Let's limit this issue to changing the resolve topic behavior to remove any indicators of messages being edited. We need to file a separate issue for the broader change to "Moved".

[2021-12-02 22:00] timabbott commented on #20228
@sahil839 is there anything else left for this issue?

[2021-12-02 22:02] #20210 closed

[2021-12-02 22:32] #20002 closed

[2021-12-02 22:33] #20417 closed

[2021-12-02 22:36] #20416 closed

[2021-12-02 22:36] timabbott commented on #20416
I merged the proposed fix for this; thanks for discovering and debugging this @oliver-pham.

[2021-12-02 22:51] timabbott commented on #19843
@amanagr I'm pretty sure you have a PR for this; is it not linked?

[2021-12-02 22:56] #20140 closed

[2021-12-02 23:01] alya commented on #4817
We have documented this upcoming feature, which we expect to be out in beta soon: https://chat.zulip.org/help/web-public-streams. It would be great to get some feedback:

1) Is anything on the help page unclear/confusing?
2) Do you have any questions about this feature that the help page fails to answer?
3) Do you have any concerns about the way the feature is designed to work?
4) Is there any key

[2021-12-02 23:06] timabbott commented on #20060
Tagging with release goal since we definitely want to include this fix, now that the PR is just blocked on testing tweaks.

[2021-12-02 23:15] alya commented on #13172
Reposting my comment on #4817, in case anyone is following this issue but not that one:

We have documented this upcoming feature, which we expect to be out in beta soon: https://chat.zulip.org/help/web-public-streams. It would be great to get some feedback:

1) Is anything on the help page unclear/confusing?
2) Do you have any questions about this feature that the help page fails to answer?
3) Do

[2021-12-03 00:04] #20017 closed

[2021-12-03 02:54] pirate commented on #4817
Some screenshots of what it looks like for public web users would be awesome! Otherwise I found the docs quite clear so far. 👍

[2021-12-03 04:42] Manan-Rathi commented on #20415
Hi @alya. Is this the intended appearance?

![Screenshot (79)](https://user-images.githubusercontent.com/76519771/144546452-90439261-2a31-43cc-aca2-3cc892f7614c.png)

[2021-12-03 06:40] johanehinger opened #20439 "Compose buttons showing twice"
aaa7150b8afb7e96570407badcd77f9e1144b086 introduced a popover to display overflowing buttons.
It also appears that there is a possibility for both the popover and the regular view to be displayed at the same time.

This bug appears only when slowly adjusting the screen size with the popover enabled.

https://user-images.githubusercontent.com/65904251/144556972-da751b64-2efe-4e13-adfe-2c8ced000179.

[2021-12-03 06:42] alya commented on #20439
@amanagr FYI

[2021-12-03 06:57] alya commented on #20415
Yep, that looks right!

[2021-12-03 07:11] somesh202 commented on #20316
@zulipbot claim

[2021-12-03 07:19] alya opened #20440 "Incorrect indentation in single-item Help center tabs widget"
The second line in a single-item Help center tabs widget does not indent properly:

![Screen Shot 2021-12-02 at 3 55 56 PM](https://user-images.githubusercontent.com/2090066/144561108-b76c2a52-1387-4c29-a665-9ca98d7d30ba.png)

Adding a second item without making any other changes fixes this, so it seems to be a bug in how we process the Markdown.

@laurynmm could you take a look at this one?

[2021-12-03 07:23] sahil839 commented on #20228
Opened #20441 for a minor renaming of tests.

We use variables like `realm_night_logo_source`, `realm_night_logo_url`. Basically we use `night` in some variables in the realm-logo related code. Other than this, we have renamed everything.

[2021-12-03 07:27] fiber-optics commented on #20399
# apt-cache policy puppet
puppet:
  Installed: 5.5.10-4
  Candidate: 5.5.10-4
  Version table:
 *** 5.5.10-4 500
        500 http://mirror.yandex.ru/debian buster/main amd64 Packages
        100 /var/lib/dpkg/status

# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster

[2021-12-03 09:47] matklad opened #20442 "Honor 24 hour TZ preference in the date picker"
I have 24hr time zone selected in the settings:

![image](https://user-images.githubusercontent.com/1711539/144581244-d6a1ccca-66a0-4a05-be17-1e8b5209a5a2.png)

However, the date picker UI (the best feature ever otherwise, kudos for implementing it!) shows AM/PM time:

![image](https://user-images.githubusercontent.com/1711539/144581207-cafa8ef6-bf0c-4aaf-b6ac-1d9b0fcb27c2.png)

Would be cool if t

[2021-12-03 12:48] raghupalash commented on #20023
@zulipbot claim

[2021-12-03 13:15] birkenstonks commented on #19919
@alya that's alright and sounds good! I'll see what I can do

[2021-12-03 14:34] Arch0125 commented on #20431
@alya Hi, I have made these changes and ran the puppeteer test along with the other required tests on my local development server. All of them passed. Can I make a PR on this issue ?

![Screenshot from 2021-12-03 19-29-49](https://user-images.githubusercontent.com/72722967/144619828-cb9cafac-6c59-4dea-ba2a-f8bb2c9d20f3.png)
![Screenshot from 2021-12-03 19-30-15](https://user-images.githubuserconte

[2021-12-03 18:37] alexmv commented on #20399
Hm.  I'm running short on ideas.  Do you use puppet on this host to manage the non-Zulip aspects of it -- for example, as part of a fleet-wide configuration?

Can you show:
[code]

[2021-12-03 19:28] alya opened #20451 "Mark messages as "MOVED" when topic or stream is changed"
At present, moving a message (e.g. by renaming or moving the topic) marks it as edited. This does not clearly communicate what happened with the message. It may also be confusing that the "View edit history" option is not available in this case, even though the "EDITED" indicator is present.
<img width="1014" alt="Screen Shot 2021-12-03 at 11 23 35 AM" src="https://user-images.githubusercontent.co

[2021-12-03 19:45] alya opened #20452 "Show stream editing in message edit history"
At present, when the stream name for a message is edited, it creates an entry in the message edit history. However, that entry is blank, as illustrated by the last row in this screenshot:

<img width="518" alt="Screen Shot 2021-12-03 at 11 33 02 AM" src="https://user-images.githubusercontent.com/2090066/144663498-37a90165-5907-4d21-92f0-a83942bceb74.png">

Instead, we should show stream edit histo

[2021-12-03 20:31] alya commented on #19700
This issue is a more complete version of #9399.

[2021-12-03 20:38] alya commented on #20442
Thanks for the report! Closing this as a duplicate of #18960.

[2021-12-03 20:38] #20442 closed

[2021-12-03 21:21] Sarah-Addo commented on #20211
@zulipbot claim

[2021-12-03 22:00] #19073 closed

[2021-12-03 22:16] swatibhageria10 commented on #19884
Unassigning myself to work on other issues, but this has been resolved by PR #20436 which is under review

[2021-12-03 22:17] swatibhageria10 commented on #20451
@zulipbot claim

[2021-12-03 22:22] #20431 closed

[2021-12-03 22:25] johanehinger commented on #19931
@zulipbot yes I'm still active. I'm waiting for a new review, if you have the time could you perhaps look at #20137 @timabbott?

[2021-12-03 22:26] timabbott commented on #20228
Yeah, I think that's maybe worth discussing in #api design whether it's worth renaming; I can see arguments either way.  Want to start a thread?

[2021-12-03 22:27] timabbott commented on #20228
I think we can close this with https://github.com/zulip/zulip/pull/20441; and just decide if we want the little API churn there -- we might since I think those fields are likely only used by the web app at this point, and thus it's cheap to clean up.

[2021-12-03 22:27] #20228 closed

[2021-12-03 22:34] #20297 closed

[2021-12-03 22:39] #19458 closed

[2021-12-03 22:52] timabbott commented on #19056
Given that this doesn't reproduce, the original traceback is likely caused by some non-Slack software being used to send a notification into Zulip with this webhook.

[2021-12-04 00:00] alexmv commented on #19056
Yeah.  I think we can close this unless it recurs.

[2021-12-04 00:21] timabbott commented on #18846
The most important part of this was fixed, in that we now show you as offline if you've configured yourself to be shown as offline.  However, the version we merged will still never show you as orange/idle, even when other users are seeing that.  Leaving this open until we resolve that.

[2021-12-04 01:55] timabbott commented on #19862
@amanagr it looks like your PR isn't linked to this issue somehow?  In any case, we should probably aim to get a version of this that we can test-deploy next week, since not having such a button was meant to avoid a change we made in the 5.0 release series not be a user experience regression.

[2021-12-04 08:33] amanagr commented on #19843
I had a commit which adds Login / Signup buttons on right sidebar but removed it since #19927 changed our plan on how we want to approach this. So, this will probably be a small commit after #19927 gets merged.

[2021-12-04 08:50] amanagr commented on #20439
This can only be reproduced in the mobile mode you are in. This is not a bug, if you are on desktop and resize, the popover will be hidden immediately. You can't resize on mobile.

See in `resize.js`:

[code]

Thanks for reporting this.

[2021-12-04 10:53] amanagr commented on #19862
Okay, linked the issue and rebased the PR.

[2021-12-04 11:29] johanehinger commented on #20439
@amanagr I think I was unable to describe exactly how to reproduce the bug so I will try again.
This bug isn't only while slowly resizing, it is present when the screen size changes on a mobile device due to screen orientation as well.
For example see the attached video:

https://user-images.githubusercontent.com/65904251/144707312-080320cf-ce91-49ed-adb2-e3047b847628.mp4

I also manage to reprodu

[2021-12-04 12:14] amanagr commented on #20439
Oh yeah! That is a possible way to resize on mobile :). Thanks for explaining.

[2021-12-04 12:33] amanagr commented on #20439
#20461 should fix this.

[2021-12-04 19:53] shubham0720 commented on #15552
Hey @hackerkid just wanted to know if anybody working on this issue, nevertheless I'm an absolute beginner in open source and would be grateful for some help in getting started on my journey to open source, be it any bug fixes or documentation. Would love to learn and contribute :)

[2021-12-04 21:16] laurynmm commented on #20440
@alya I looked into this issue. There seems to be a combination of how lists in Markdown are parsed into html based on whether there is a blank line between items (which can't happen in a list of one item) and the fact that there is a css rule for ordered lists that depends on that blank line parsing behavior. I started a [CZO chat](https://chat.zulip.org/#narrow/stream/6-frontend/topic/text-wrapp

[2021-12-04 22:47] griffinhadfield commented on #20380
@zulipbot claim

[2021-12-05 00:01] JoshuaPius commented on #20398
@zulipbot claim

[2021-12-05 00:06] shirleyzhang2 commented on #20452
@zulipbot claim

[2021-12-05 03:41] hunterachieng commented on #20209
@alya abott I had made a PR to this issue. I finished working on it. Should
I abandon it ?

On Sun, 5 Dec 2021, 04:47 zulipbot, ***@***.***> wrote:

[2021-12-05 06:23] AayushSolanki commented on #20403
@zulipbot claim

[2021-12-05 18:53] fiber-optics commented on #20399
root@mail:~# which puppet
/usr/bin/puppet
root@mail:~# puppet --version
5.5.10
root@mail:~# /usr/bin/puppet --version
5.5.10
root@mail:~#

[2021-12-06 09:15] isakhagg commented on #20305
This issue is still being worked on by me.  I will soon post a PR with an implementation to be discussed.

[2021-12-06 09:32] harsitsinha commented on #19653
@zulipbot claim

[2021-12-06 12:09] maxxer commented on #338
I configured

[code]
but I get

[code]

I had to add `ActiveDirectoryGroupType` to the LDAP import like this:
[code]

After all this I still have an error:
[code]
taking me to  issue #12783

[2021-12-06 18:01] alya commented on #20209
@hunterachieng no need, as you are waiting for any additional feedback. Thanks for checking.

[2021-12-06 18:16] Ketan1502 commented on #20284
@zulipbot i am still working on it

[2021-12-06 18:32] alya commented on #15552
@shubham0720 please see https://zulip.readthedocs.io/en/latest/overview/contributing.html to get started.

[2021-12-06 18:36] #20439 closed

[2021-12-06 21:29] griffinhadfield commented on #20380
@timabbott In the case that multiple message edits are open, which should the quote-and-reply content be added to?

[2021-12-06 22:08] alya commented on #20380
As per the issue description:

[2021-12-06 22:24] griffinhadfield commented on #20380
@alya Thanks for the response!

What makes a message edit box active vs inactive? Here is a screenshot of the circumstance I am referring to.
![image](https://user-images.githubusercontent.com/38739044/144932197-0506b3ea-f297-45bc-902b-9ec8a0364593.png)

"message 1" and "message 2" both have edits open, but when the user clicks onto the message they want to quote-reply, neither edit box has focus,

[2021-12-06 22:33] timabbott opened #20481 "Changing message retention settings results in a broken 2-line high Saving...Saved indicator"
@sahil839 can you investigate this?  I encountered it testing https://github.com/zulip/zulip/pull/20473/files but I assume it affects main as well.

[2021-12-06 22:41] #20481 closed

[2021-12-06 23:20] alya commented on #20380
Oof, you're right! Once the user clicks on the three-dot menu, we necessarily lose focus on the message editing box.

Probably the most recently focused edit box is usually the right one to choose, but I don't know how complicated that is from a code perspective. @timabbott what are your thoughts?

[2021-12-06 23:29] alya opened #20482 "Remove "Send a reply" new user tip"
After implementing #19900, there are two places where new users are told how to reply to a message: in the Welcome Bot text and in the "Send a reply" new user tip immediately below.

To simplify and avoid redundancy, we should remove the "Send a reply" new user tip.

<img width="909" alt="Screen_Shot_2021-12-06_at_10_08_14_AM" src="https://user-images.githubusercontent.com/2090066/144938995-080268

[2021-12-06 23:31] chrisbobbe commented on #13240
We've had another report of this today: https://chat.zulip.org/#narrow/stream/48-mobile/topic/Bug.20reports/near/1292866

[2021-12-06 23:39] alya opened #20483 "Setting to control emoji animations"
In #20464, we are making it the case that emoji only animate on hover. This is a good default, but some users may want a different option.

To give users flexibility, we should add a setting to Personal settings > Display settings > Theme.

* Location: Bottom of Theme section
* Label: Animate emoji
* Drop-down options: Always, On hover, Never
* Default: On hover

Administrators should be able to c

[2021-12-07 00:42] alya opened #20484 "Improve help icons in settings"
We currently use a couple of different help icons in the settings: `?` for links, and `i` for tooltips (no link). Both are illustrated below:

![Screen Shot 2021-12-02 at 11 16 20 AM](https://user-images.githubusercontent.com/2090066/144944538-8ad2038c-7f23-45b1-8ee5-635f0d6a47b0.png)

<img width="408" alt="Screen Shot 2021-12-06 at 4 36 15 PM" src="https://user-images.githubusercontent.com/209006

[2021-12-07 01:03] timabbott commented on #20380
We might be able to prevent focus moving when clicking the 3-dot menu; that will be much simpler than remembering which one we were focused in most recently.

[2021-12-07 01:08] dehnert opened #20485 "Make own-message-suppression controllable for mirror scripts"
Currently, if an API client name (part of the user agent) contains "mirror", Tornado will not send events from that client to a client with the same name ([discussion](https://chat.zulip.org/#narrow/stream/127-integrations/topic/suppressed.20own.20messages/near/1287622)). This is a confusing quirk -- most bots *do* need to suppress replying to their own messages, but the *client name* can change t

[2021-12-07 01:15] timabbott commented on #20485
There's a specific technical proposal here: https://chat.zulip.org/#narrow/stream/127-integrations/topic/suppressed.20own.20messages/near/1287630

[2021-12-07 01:21] alya commented on #20380
If we can do that, that would be great. Then I think it would be fine to put the quote into the compose box if the user doesn't have a message editing box selected.

[2021-12-07 02:48] shirleyzhang2 commented on #20484
@zulipbot claim

[2021-12-07 03:00] YuhuiJiang99 commented on #20484
@zulipbot claim

[2021-12-07 03:52] Rishabh-792 commented on #20484
@zulipbot claim

[2021-12-07 04:40] Chandresh2702 commented on #20484
@zulipbot claim

[2021-12-07 04:41] AayushSolanki commented on #20484
@zulipbot claim

[2021-12-07 04:43] Chandresh2702 commented on #20403
@zulipbot claim

[2021-12-07 04:44] Chandresh2702 commented on #19884
@zulipbot  claim

[2021-12-07 06:44] Chandresh2702 commented on #19865
@zulipbot claim

[2021-12-07 06:46] Chandresh2702 commented on #19884
@zulipbot  abandon

[2021-12-07 06:48] Chandresh2702 commented on #18617
@zulipbot claim

[2021-12-07 08:25] thedeveloperr commented on #12328
Still working on it. Need some more time.

[2021-12-07 09:34] nivadis opened #20489 "compare-settings-to-template fails after upgrade to git 4.8"
as stated here
https://zulip.readthedocs.io/en/4.8/production/upgrade-or-modify.html#updating-settings-py-inline-documentation

after upgrade, and coping the new config, one should be compared by
``/home/zulip/deployments/current/scripts/setup/compare-settings-to-template``

which runs into an error:
[code]

[2021-12-07 09:46] nikhilmaske-2001 commented on #20482
@zulipbot claim

[2021-12-07 10:01] nblock opened #20490 "How to specify smokescreen custom ACL"
The documentation on [customizing the outgoing http proxy](https://zulip.readthedocs.io/en/4.8/production/deployment.html#customizing-the-outgoing-http-proxy) states:

Could you please describe how to do that? The puppet class does not seem to care about ACLs and the supervisor template does not include the required parameters such as `--config-file` or `--egress-acl-file`.

Zulip: 4.8

[2021-12-07 10:49] isakhagg commented on #20305
@alya I have now implemented what I gathered from your issue. Please have a look at the WIP pull request and comment on the current implementation. One thing I have noticed is the way to handle numbered lists. The way I understand it based on the documentation (https://zulip.com/help/format-your-message-using-markdown), is that you number it by writing "1. " at the beginning of each row. This is d

[2021-12-07 15:21] maxxer commented on #338
I've created PR #20480

[2021-12-07 18:16] alya opened #20497 "Add @topic mention"
In some cases, especially on a large stream, it may be helpful to @-mention users who are specifically interested in a topic, rather than all stream subscribers. We should add an `@topic` mention that mentions only users who have participated in the topic. Ways to participate:

1) Sending a message
2) Adding an emoji reaction
3) Voting in a poll (OK to leave out in MVP implementation)

[CZO discus

[2021-12-07 18:17] alya commented on #3750
Closing in favor of two more specific issues: #2183 and #20497.

[2021-12-07 18:17] #3750 closed

[2021-12-07 18:37] alya opened #20499 "Improve UI for adding members to new stream"
We currently have two very different UIs for adding members to streams -- one for new streams, and one for existing streams. The UI for new streams presently has a bug (#20356), is not very polished (#20357), and is difficult to use in an organization with a large number of users. Moreover, this is a part of the app that users encounter early on, so polish is especially important.

To improve the

[2021-12-07 18:38] alya commented on #20357
Closing in favor of #20499.

[2021-12-07 18:38] #20357 closed

[2021-12-07 18:54] YJ-Hannah commented on #20497
@zulipbot claim

[2021-12-07 19:14] mrks1998 commented on #20403
@zulipbot claim

[2021-12-07 19:32] Arch0125 commented on #20484
Hi @alya , I have made a PR to solve the first two tasks, have a look at it, it passed all the tests.
Here are the results:
![Screenshot from 2021-12-07 22-54-32](https://user-images.githubusercontent.com/72722967/145093654-8e40b98b-42f8-4984-b5a6-35af345abb50.png)
![Screenshot from 2021-12-07 22-59-04](https://user-images.githubusercontent.com/72722967/145093663-d4881eba-63ab-47bb-936c-eb596ebbde

[2021-12-07 19:53] #20440 closed

[2021-12-07 20:00] alya commented on #19196
@mittal-parth you might be interested in picking up this issue.

[2021-12-07 20:19] timabbott commented on #20497
@YJ-Hannah welcome!  Thanks for your interest in this issue, but I think on reflection this issue is not accessible for new contributors.  I've assigned @m-e-l-u-h-a-n who is a more experienced contributor and was excited to work on this.

[2021-12-07 20:51] alya opened #20501 "Make it possible to convert direct message threads to topics"
In some conversations that start as DM threads, participants realize that they'd be better off continuing the discussion in a stream. For example, they may need to specifically add more people to the conversation, take advantage of threading for a complex discussion, or simply want to continue the conversation in a public venue for the record. It would therefore be useful to be able to move a priv

[2021-12-07 21:08] birkenstonks commented on #19919
claim. I am still working on the issue

[2021-12-07 21:13] birkenstonks commented on #19919
@alya I'm in the middle of working on the issue, but have finals and applications so it's taking me a bit longer. I was unassigned by the bot, but would it be possible to be reassigned?

[2021-12-07 21:36] YJ-Hannah commented on #20497
@timabbott no problem thank you for notifying me, I'll explore some other issues :)

[2021-12-07 21:38] #18797 closed

[2021-12-07 21:43] alya commented on #19919
@birkenstonks This is an urgent issue. Please feel free to submit a PR any time, but other folks may work on it in the meantime. Good luck with your finals!

[2021-12-07 21:47] alya commented on #20484
Thanks! The questions marks should all look the same -- we don't want to use question marks with a filled in background.

[2021-12-07 21:55] alya commented on #20305
Thanks for working on this, @isakhagg !

If you look at the documentation again, you'll notice that Markdown supports both increasing the numbers and writing `1.` at the beginning of each row. For this issue, we want to increase the numbers (as described), as that will be more expected/helpful for users.

[2021-12-07 22:00] birkenstonks commented on #19919
@alya that's fair. Thanks and I'll try to get it done quickly!

[2021-12-07 22:17] timabbott commented on #18846
Ack, I think "complete #18846" in the commit message auto-closed it.

[2021-12-07 22:28] alya opened #20502 "Make it possible to move messages by recency"
It is currently possible to move all messages in a topic, or else a particular message, or all messages from a certain point.

It would also be useful to be able to specify which messages to move by the age of the message. We should offer the following dropdown options in the "Move topic" menu in the left sidebar:

- Move all messages (default)
- Move all messages sent in the last week
- Move all

[2021-12-07 22:36] #20221 closed

[2021-12-07 22:46] #20489 closed

[2021-12-07 22:47] timabbott commented on #20489
Thanks for the report @nivadis!  I suspect the problem is that this has mainly been run with CWD already being `/home/zulip/deployments/current/`, which worked without the change I just merged.

I'll backport to the 4.x branch so this fix will be in 4.9.

@alexmv FYI.

[2021-12-07 22:48] timabbott commented on #20490
Tagging as a priority since we just made changes to smokescreen configuration.  @alexmv can you take this one?

[2021-12-07 22:54] timabbott commented on #20209
I think this was resolved through @amanagr redesigning the buttons to use our existing button styles.  Closing as now invalid.  Thanks for working on this @hunterachieng!

[2021-12-07 22:54] #20209 closed

[2021-12-07 22:55] timabbott commented on #20209
Specifically 8123ebbfc0c2bc617dc0a29bbbfa55f79a2d7155.

[2021-12-07 23:03] #20060 closed

[2021-12-07 23:05] timabbott commented on #19829
I'm removing the release goal tag; this is a class of fancy thing that we don't do with other elements that are much more visible, like "(no topic)", and is reasonably complex.

[2021-12-07 23:48] YuhuiJiang99 commented on #20484
@alya Hi Alya, @shirleyzhang2 and I are working on this task together as our first issue in Zulip. I generated a PR #20487 here, which I believe can satisfy with your requirements. 😊

[2021-12-08 00:04] timabbott commented on #19709
Cool, let me know when you have a draft PR ready for review; this is one of the issues I'm tracking as important to include in the upcoming 5.0 release (final likely in January, but we want to merge as many things like this as we can before then).

[2021-12-08 02:36] Rishabh-792 commented on #20484
Hi @alya I have made a PR "Improved Icons" #20506 to solve this issue. Please review it and let me know about any other modifications in it.

[2021-12-08 04:13] Arch0125 commented on #20499
@zulipbot claim

[2021-12-08 04:16] Arch0125 commented on #20499
@alya I have changes the Unsubscribe button to remove and changed the height of the input box.
Should we also change the height of the Add button ?
![Screenshot from 2021-12-08 09-44-52](https://user-images.githubusercontent.com/72722967/145147287-c3c3eef5-c994-4404-9974-2a77d0ba5f09.png)

[2021-12-08 04:27] Arch0125 commented on #20499
@zulipbot abandon

[2021-12-08 04:43] iampranavdhar commented on #20113
@zulipbot claim

[2021-12-08 05:16] salemalem commented on #20397
I need dark mode

[2021-12-08 05:55] #20482 closed

[2021-12-08 08:27] isakhagg commented on #20305
@alya Thanks for the comment! I will have a look at how to change the current implementation.

[2021-12-08 10:45] mittal-parth commented on #19196
Thanks @alya!
@zulipbot claim

[2021-12-08 16:54] philomat opened #20509 "[Bug] Big Blue Button server returned an unexpected error."
I just installed a self-hosted Zulip instance. I encountered a bug when I tried to use the BigBlueButton Server of our organization as video call provider. I followed all the steps in https://zulip.com/integrations/doc/big-blue-button.

**Environment:**
Newest Zulip release (4.8) on a newly installed Ubuntu 20.04
I do not know the version of the BigBlueButton Server (not managed by myself) but it

[2021-12-08 17:11] showell commented on #20451
The issue description seems to imply that whenever a message is moved now, it gets marked as EDITED.  That does not appear to be true.  Maybe I am mis-reading this:

[code]

[2021-12-09 00:12] LDeolindo commented on #20077
@zulipbot claim

[2021-12-09 03:29] catherjh commented on #17998
@zulipbot abandon

[2021-12-09 03:30] catherjh commented on #19700
@zulipbot claim

[2021-12-09 14:08] Arch0125 commented on #20403
@zulipbot claim

[2021-12-09 14:21] mercedes7935 commented on #78
i am trying to install a zulip sever to test it a bit on my pc (debain 11 buster) but i cant make it: Zulip installation failed (exit code 1)!

[2021-12-09 15:47] Arch0125 commented on #20403
HI @alya Please review this PR #20519. I have made the required changes to the 'x' icon.
Here are the screenshots
![Screenshot from 2021-12-09 18-56-56](https://user-images.githubusercontent.com/72722967/145428665-661bd6cb-7f61-4146-a78b-7a5819cf981e.png)
![Screenshot from 2021-12-09 19-21-06](https://user-images.githubusercontent.com/72722967/145428674-d9b0d58e-87e3-412d-890a-6dc3779ddb73.png)

[2021-12-09 16:36] anurastogiji commented on #20044
@zulipbot abandon

[2021-12-09 16:36] anurastogiji commented on #19916
@zulipbot claim

[2021-12-09 18:32] brtran4 commented on #18171
@zulipbot claim

[2021-12-09 18:50] #20451 closed

[2021-12-09 19:09] alya opened #20523 "Improve indentation in /todo list"
In the `/todo` widget, an item that does not fit on one line should have the second (and any additional) lines indented to align with the text on the first line. E.g. in the screenshot below, the second and third lines should align with "My task".

![Screen Shot 2021-12-09 at 11 05 04 AM](https://user-images.githubusercontent.com/2090066/145459989-c612a10f-34f8-4d63-8f6c-433d38073c5d.png)

[2021-12-09 19:19] gopik820 commented on #20523
@zulipbot claim

[2021-12-09 19:53] #20177 closed

[2021-12-09 20:07] timabbott commented on #19191
Closing, since as noted in the original thread and #19633, this can no longer be reproduced.  I suspect Chrome changed their behavior to match Firefox's (which always worked).

Thanks @anurastogiji for determining this!

[2021-12-09 20:07] #19191 closed

[2021-12-09 20:13] sulogna2001 commented on #20523
@zulipbot claim

[2021-12-09 20:37] birkenstonks opened #20526 "Help circle for new users moves past menu sidebar when you scroll down"
For new users, the 3rd help circle that appears which highlights topics within streams will scroll past the menu sidebar.

<img width="301" alt="Screen Shot 2021-12-09 at 3 28 18 PM" src="https://user-images.githubusercontent.com/66442660/145471915-cfdd1dfb-f341-45ab-94e9-c68b310757ef.png">
<img width="304" alt="Screen Shot 2021-12-09 at 3 28 25 PM" src="https://user-images.githubusercontent.com/6

[2021-12-09 22:52] alya opened #20529 "Fix alignment of "edit" and "delete" buttons in Drafts"
The "edit" and "delete" buttons in the drafts menu should be right-aligned with the draft timestamp.

![Screen Shot 2021-12-09 at 2 50 56 PM](https://user-images.githubusercontent.com/2090066/145488270-b171a63c-5a9f-4f65-9aec-6b32313691c5.png)

[2021-12-09 23:32] ainialem commented on #20529
claim @zulipbot

[2021-12-09 23:33] ainialem commented on #20529
@zulipbot claim

[2021-12-10 04:00] mittal-parth commented on #19196
@alya Does this look good?

https://user-images.githubusercontent.com/76661350/145515087-c7926d2e-b5df-4c62-9895-bfa9d5b53606.mp4

[2021-12-10 08:54] KarthikSundar2002 commented on #20080
@zulipbot claim

[2021-12-10 10:50] alfredoosauce commented on #18569
@zulipbot claim

[2021-12-10 10:55] talheim-it commented on #20175
I tried to install it via git again, latest version and still running into that issues with yarn:

[code]

I investigated the script for this:
[code]

The tarball is downloaded and deployed, anyway non-zero exit status 1 is throwing back as above in the log:
[code]
So all is in, the error message is not really clear to me. The server is running in an cloud environment, I tested it with deactivatin

[2021-12-10 11:02] talheim-it opened #20532 "Upgrade from git issue - unclear error message"
I tried to install it via git again, latest version and still running into that issues with yarn:

[code]

I investigated the script for this:
[code]

The tarball is downloaded and deployed, anyway non-zero exit status 1 is throwing back as above in the log:
[code]
So all is in, the error message is not really clear to me. The server is running in an cloud environment, I tested it with deactivatin

[2021-12-10 11:02] Arch0125 commented on #20283
@zulipbot claim

[2021-12-10 11:05] Arch0125 commented on #20283
Hi @alya , I have made the following changes:
1. Made changes to the todo list checkbox
2. Added dark mode theme to the todo list checkbox
3. Fixed spaces between the input boxes and buttons.

Here are the screeenshots:
![Screenshot from 2021-12-10 16-31-44](https://user-images.githubusercontent.com/72722967/145564342-2f353876-bc34-4039-828d-93e2935202c5.png)
![Screenshot from 2021-12-10 16-32-15]

[2021-12-10 11:37] Arch0125 commented on #20283
Here is the screenshot of updated Add Choice button:
![Screenshot from 2021-12-10 17-06-55](https://user-images.githubusercontent.com/72722967/145568463-19601f22-ac58-4de0-9273-f49c24577e48.png)

[2021-12-10 12:08] Arch0125 commented on #20283
Here is the updated Add Task button:
![Uploading Screenshot from 2021-12-10 17-38-07.png…]()

[2021-12-10 15:01] juliaBichler01 commented on #19519
@zulipbot claim

[2021-12-10 16:33] juliaBichler01 commented on #19519
I am waiting for reviews on my other pull requests, so could i work on this in the mean time?
(by the way, how/when will i be able to work on multiple issues at the same time without asking every time?)

[2021-12-10 16:35] mittal-parth commented on #18569
Hey @alfredoosauce! Thanks for your interest!
However, I have been working on this issue and there is a PR linked to it. It's failing some tests and hence has taken a lot of time.

[2021-12-10 18:54] alya commented on #19519
Huh, I would have thought that you should be able to now that you have a commit merged. Could you ask in the #zulipbot stream on chat.zulip.org?

[2021-12-10 19:00] alya commented on #20283
Cool, those look like definite improvements to me! Please go ahead and submit a PR.

[2021-12-10 19:04] alya commented on #19196
Hm, I noticed that the dropdown disappeared at one point when you were picking a topic (at 0:22 in your video). I think we can just show the dropdown at all times, even when the topic is empty.

Otherwise looks good!

[2021-12-10 20:05] alejandroguimo commented on #20213
@zulipbot claim

[2021-12-10 20:10] juliaBichler01 commented on #19519
thanks for assigning me!
oh okay, i will do that

[2021-12-10 20:30] alfredoosauce commented on #18569
@mittal-parth Sounds good, how do I get unsigned to the project? Thanks

[2021-12-10 20:37] alya commented on #20403
@Arch0125 there is in-progress work on this issue in the linked PR (#20531). Please:

1) Review the linked PR and comment if you have any improvements to suggest, or
2) If you feel that a different approach is needed, clearly explain why your PR has a different solution from #20531.

[2021-12-10 20:39] alya commented on #78
@mercedes7935 please request help on the #production help stream in our [development community](https://zulip.com/development-community/).

[2021-12-10 20:41] Arch0125 commented on #20283
@alya  There are a few css errrors. I'll fix them and make a new PR soon

[2021-12-10 21:04] Arch0125 commented on #20403
@alya The PR #20531 uses fa-remove icon which still lacks flexibility of changing the thickness as compared to fa-times icon which can even be made of hairline thickness.

The major difference between my PR and #20531 is that I've created a seperate class for the 'x' icon instead of using class="fa fa-remove". Which will allow future contributions to use the same attributes for other icons as well

[2021-12-10 21:36] alexmv commented on #18569
I've adjusted the assignees.  Thanks for being excited about the task, @alfredoosauce, and thanks for your ongoing work on it, @mittal-parth!

[2021-12-10 21:36] timabbott commented on #20509
@strifel FYI, can you reproduce this issue?

[2021-12-10 21:37] timabbott commented on #20509
Also, what version of BBB is involved?  That may be important in reproducing.

[2021-12-10 21:46] alexmv opened #20538 "Strip invalid characters from subjects in the incoming email gateway"
Also, as a follow-up PR, we should strip any invalid characters from incoming emails via the incoming email gateway.  Otherwise, emails with invalid characters in their `Subject` will get dropped, and generate a `JsonableError` in the incoming mail gateway codepath; see https://sentry.io/share/issue/104c521c822d4c27ba41fa50185a7f99/ for such a stacktrace.

_Originally posted by @alexmv in https://

[2021-12-10 21:50] philomat commented on #20509
I just asked the BBB server's admin and it is the 2.4 beta. The BBB's API documentation does not mention any changes to required parameters for 2.4 though...

[2021-12-10 21:52] strifel commented on #20509
@timabbott I do not run the current version of bbb, yet.
Scalelite has not had issues with that.

#16580 does add a name to the meeting, if you could do a quick re-review and tell me if I did the frontend stuff correctly I will fix the tests. I do not know if anything is still missing in the PR as its already an older PR.

[2021-12-10 21:56] alfredoosauce commented on #18569
Thanks @alexmv

[2021-12-10 22:33] strifel commented on #20509
![Bildschirmfoto 2021-12-10 um 23 29 37](https://user-images.githubusercontent.com/24608706/145649451-5618b7ba-5ee1-4814-a928-fe79a21ce449.png)
The documentation for 2.3 does not mention anything about the name parameter being required.

[2021-12-11 00:29] timabbott opened #20541 "Chrome printing only prints a single screenful on /help/ site"
Our entire /help/ site (and probably API, etc.) are affected by an issue where in at least Chrome on Linux, the browser print dialog will only display the first screenful of text.  Minimal investigation (E.g. reading https://stackoverflow.com/questions/10845621/window-print-is-not-printing-the-whole-page) suggests this is caused by our use of simplebar on the page, which sets `overflow:hidden`; li

[2021-12-11 02:31] andersk commented on #20541
This is another reason that the content should not be in its own scrolling pane at all. We should [use the normal browser scrollbar](https://github.com/zulip/zulip/issues/10732#issuecomment-478757652), with the header and left sidebar using `position: fixed`.

[2021-12-11 03:03] ainialem commented on #20529
@alya hi! can you review my pull request when you get a chance?

[2021-12-11 03:34] mittal-parth commented on #19196
From 0:19 onwards, I am editing when the user can edit the message as well. At that time we are just using the current behaviour. I was just adding and removing a space to change the topic. 😅

[2021-12-11 04:39] Arch0125 commented on #20283
Hi @alya  I have updated the pull request, it has passed all the tests. Please review.
Thanks !

[2021-12-11 05:08] YuhuiJiang99 commented on #20380
Yes, I believed that we can prevent the default actions of clicking the 3-dot menu to avoid losing current focus.

[2021-12-11 05:44] nooblag commented on #20283
Hi @Arch0125 Great work! One small change maybe, if I may. Could we please invert the colours for a checked box? i.e. have the background green and the check mark white? What do we think about that?

Like browsers render it, i.e.:

- [x] Task done

[2021-12-11 07:15] srdeotarse commented on #19878
@zulipbot claim

[2021-12-11 07:22] Arch0125 commented on #20283
@nooblag Thanks for the amazing suggestion. The checkboxes look a lot better now. Here are the screenshots:
![Screenshot from 2021-12-11 12-46-50](https://user-images.githubusercontent.com/72722967/145668252-973c1dfb-2004-48e0-96ac-d83af3941358.png)
![Screenshot from 2021-12-11 12-47-20](https://user-images.githubusercontent.com/72722967/145668254-3ad0c08d-4be6-41c7-82b8-53949c71cc7b.png)

[2021-12-11 08:20] Arch0125 commented on #20283
@alya I have updated the PR #20535  making the changes suggested by @nooblag

[2021-12-11 09:43] nooblag commented on #20283
I think that's great. What do others think?

[2021-12-12 15:38] Arch0125 commented on #20283
@alya any updates regarding review of the PR ?

[2021-12-12 20:27] alfonsrv opened #20550 "Standard Proxy configuration for outgoing connections not working"
Attempting to use an already existing Standard Proxy, e.g. a firewall `http://10.10.10.10:3128`

The [documentation states](https://zulip.readthedocs.io/en/latest/production/requirements.html?highlight=http%20proxy#network-and-security-specifications)

And in an [earlier version of the docs](https://zulip.readthedocs.io/en/4.7/production/deployment.html#using-an-outgoing-http-proxy) under **Using

[2021-12-12 22:23] terpimost commented on #20541
@zulipbot claim

[2021-12-13 01:47] terpimost commented on #20541
I want to share the plan to fix the issue, while I'm having trouble seeing the result of my changes in dev environment and requested help in the support chat.

I found that in `portico.css` everything is wrapped in body with `noscroll` class and there are several containers in DOM to properly prepare a scrollable webpage. And in `markdown` class calculates the height of a container, which limits h

[2021-12-14 06:40] alya opened #20563 "Registration page buttons formatted badly in some languages"
The `/register` page buttons aren't formatted properly when the text is long. E.g. in Russian:

![Screen Shot 2021-12-13 at 10 13 09 PM](https://user-images.githubusercontent.com/2090066/145945680-a11bb349-1b0d-4ac1-8f25-73afc9636926.png)

The Russian text happens to fit on one line on the `/login` page, but we should confirm that those buttons are fixed as well when we fix these ones.

[2021-12-14 06:44] atharvabhatt200 commented on #20563
@zulipbot claim

[2021-12-14 09:16] jni commented on #4817
Super exciting @alya! I agree with @pirate, everything is clear, answers all my questions and more, except the big one, which is when I can have this on for my Zulip cloud instances! 😃 😜 🙏 Thank you!

[2021-12-14 10:52] gautelund commented on #20502
Please consider also "today", IMHO more useful than (24 hours), where today could mean "since 0400, int the time zone of s/he who initiates the move". Usually the conversation happened that day, whatever you were talking about yesterday afternoon is probably not relevant.

[2021-12-14 11:07] gautelund commented on #20501
I will make the case for @showell's suggestion about consent. Use case:

- Lisa has the privace setting "Allow my private messages to be moved by participants" set to "Always". Tracy has it set to "Only with my consent if stream is public".
- Bob, Lisa and Tracy are chatting.
- Bob thinks this should be a topic in an existing stream. Bob chooses either way (from three-dot menu on the left or by cl

[2021-12-14 11:08] gautelund commented on #20501
For those particularly interested, [here's a thorough discussion ](https://chat.zulip.org/#narrow/stream/101-design/topic/Move.20a.20channel.20or.20private.20conversation.20to.20a.20Stream.20.2310862) on this subject.

[2021-12-14 14:21] NexZhu opened #20564 "Can't login with GenericOpenIdConnectBackend"
I'm testing with the latest `main` branch, commit `40ea121f50cf23f38975e625289f9631dcf0dbb5`.

[code]

After clicking the OIDC login button, and login with the ODIC provider, I was redirected back to
[code]

Then redirected again to
[code]

![image](https://user-images.githubusercontent.com/4370605/146015914-7cf0b795-d7a4-4fad-8783-ab53845eb0fa.png)

Why am I not logged-in? Is the config wrong?

T

[2021-12-14 18:06] alya commented on #20502
Mm, yeah, that's a good point. I would probably define "today" as "since midnight", to make it easier to know what to expect. We should also give a helpful hint about what exactly we mean by "today".

[2021-12-15 06:44] jtrakk opened #20573 "One post in multiple streams"
I want to write a post but it belongs in two different streams. It matters which stream I put it in because different people follow different streams. I want to tag it with both, rather than having to pick one.

[2021-12-15 10:27] xeruf commented on #18751
Please rename the issue to reflect what this is actually about now :)

[2021-12-15 10:31] xeruf commented on #647
@asanzdiego Zulip now markets specifically to educators: https://zulip.com/for/education/

I think the topics make it a lot more useful _especially_ in a school context. People don't get bombarded with unclassified messages but can instead pick and choose, holding parallel conversations without annoyance.

[2021-12-15 10:34] xeruf opened #20575 "Moving a topic partially"
I am very grateful for the "Move topic" option. But there is a little interface issue:
Sometimes a conversation drifts off the original topic and a moderator takes the liberty to move that part out to another topic. Zulip then says "This topic was moved to ...", which is incorrect: The topic is still very much alive.
So, when moving only part of a topic I would suggest to either display "Part of t

[2021-12-15 12:25] jinithin commented on #20087
just wanted to add that we're experiencing the same issue when opting in to the new alert format.
ruleName seems to be the problem as said before:
[code]
it currently works when using a legacy alert webhook :)

[2021-12-15 13:44] shirleyzhang2 commented on #20452
@zulipbot abandon

[2021-12-15 14:05] mateuszmandera commented on #20564
@NexZhu Is `https://zulip.example.com` the subdomain where the organization you want to log into exists? And are you initiating login from the `https://zulip.example.com/login/` page?

[2021-12-15 16:32] NexZhu commented on #20564
Yes, but I replaced my actual domain to `example.com` in the issue.
I deployed and I'm serving Zulip at `https://zulip.example.com` and initiating login from `https://zulip.example.com/login/`, my OIDC provider is serving at `https://auth.example.com/`, which is tested with many other apps.

[2021-12-15 16:47] mateuszmandera commented on #20564
@NexZhu Hmm, okay - could you check whether your browser sends the session cookie  when you get redirected back from  the IdP to `https://zulip.example.com/complete/oidc/`?

[2021-12-15 17:01] NexZhu commented on #20564
Yes, after redirected back, I got 3 cookies:
[code]

Also, I inspected this the redirect request:
`https://zulip.example.com/complete/oidc/?code=xxxxx&scope=openid+profile+email&state=xxxxx`

It's status code is 302 and in the response header there's: `location: /accounts/find/`

[2021-12-15 20:24] jamesaball commented on #19627
@zulipbot claim

[2021-12-16 02:00] leighadennis commented on #20284
@zulipbot claim

[2021-12-16 03:25] Arch0125 opened #20583 "Fix icon alignment of "Save Changes" and "Discard" buttons"
Go to Settings > Manage Organization > Organizatino settings
Make a change in Message retention period or Video Call provide, the buttons will pop up beside the title.
![Screenshot from 2021-12-16 08-50-32](https://user-images.githubusercontent.com/72722967/146302496-104623cc-6527-4dc6-b7e4-f9521ee28be8.png)

As we can see both the icons do not properly align with the text.
A suggestion from my si

[2021-12-16 07:40] alya opened #20584 "Warn when composing a message to a resolved topic"
This is the only remaining part of #18751, so I'm moving it to a separate issue.

When user starts composing a message to a resolved topic, we should show a warning banner in the style of the banner shown when @-mentioning a user who is not a member of the stream.
![Screen Shot 2021-06-08 at 3 44 31 PM](https://user-images.githubusercontent.com/2090066/121267063-73d28180-c870-11eb-92c6-8af6f181bfc

[2021-12-16 07:40] alya commented on #18751
Thanks for flagging @xeruf ! I moved the remaining part to a new issue (#20584).

[2021-12-16 07:40] #18751 closed

[2021-12-16 08:36] Attack44 opened #20585 "LDAP Authentication Issue"
I want to connect Zulip to our Active Directory, unfortunately I always get the following error message:

File "/srv/zulip-venv-cache/c51959e129e17cf26d9faab706ef7bd2cba59212/zulip-py3-venv/lib/python3.9/site-packages/ldap/ldapobject.py", line 324, in _ldap_call result = func(*args,**kwargs)
ldap.SERVER_DOWN: {'result': -1, 'desc': "Can't contact LDAP server", 'ctrls': [], 'info': '(unknown error

[2021-12-16 14:10] srdeotarse commented on #20583
@zulipbot claim

[2021-12-16 17:47] eeshangarg commented on #19523
I am taking @timabbott's description above and turning it into a checklist for convenience. Also, I have added a few entries of my own based on discussions with @alya. I have also edited existing entries to better reflect the reality of what actually ended up getting implemented. I also ended up removing some entries that are no longer relevant.

- [x] We add a new `demo_organization_scheduled_del

[2021-12-16 18:18] ishivanshgoel commented on #20583
@zulipbot claim

[2021-12-16 19:18] mateuszmandera commented on #20564
@NexZhu Hmm, I'm out of the obvious ideas - we could try debugging further by inserting logging in some relevant places etc. - or would it be possible for you to setup  test client credentials with your oidc IdP that I could use to directly test this myself by setting up my own deployment with OIDC using those credentials? This looks fairly likely to indicate either a bug or some quirk of how this

[2021-12-16 20:32] ishivanshgoel commented on #20583
I checked this issue but It's not the same for me as shown by @Arch0125

![image](https://user-images.githubusercontent.com/53016763/146444830-52bc5e18-6391-4ebd-8de3-d3d4c4ab87df.png)

[2021-12-16 22:06] leighadennis commented on #19589
@zulipbot claim

[2021-12-16 22:07] leighadennis commented on #20284
@zulipbot abandon

[2021-12-16 22:08] leighadennis commented on #19589
@zulipbot claim

[2021-12-16 22:58] timabbott commented on #20575
Thanks for the report!

It's a checkbox option for whether to send the "topic was moved" notification -- so the person doing the move gets to choice whether to trigger a "topic was moved" notice.  I think it makes sense to change the text of the notice when moving only one message, and possibly in a different way when moving a subset of a topic, e.g. "3 messages from this topic were moved to ...".

[2021-12-16 23:00] timabbott commented on #20573
Thanks for the feedback!  This isn't something we're likely to implement as described, in that it's quite messy from a data model perspective, and creates a lot of cascading product questions.  (E.g. which stream's permissions rules apply to the message?  Does it appear twice in search?  Etc.).

From a practical standpoint you can use the quote-and-reply feature to manually make a second message t

[2021-12-16 23:00] #20573 closed

[2021-12-16 23:02] timabbott commented on #20585
Have you tried our LDAP troubleshooting guide?  https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#troubleshooting

The issue is likely a firewall or other networking issue preventing your server from reaching the LDAP server.

[2021-12-16 23:59] jtrakk commented on #20573
Fwiw I think those questions are addressable. For example:

- Data model: Replace `thread[1]->[1]stream` with `thread[many]<->[many]tag`.
- "Which stream's permissions rules apply to the message?" If you have permission to read any post under tag T, you can read any thread with tag T, regardless of which other tags it has. If a thread needs to be restricted to certain readers, only use those tags.

[2021-12-17 00:13] leighadennis commented on #20583
Hi! I believe they want the buttons to be below all the settings that would saved. I made a PR to do that here if someone could take a look! https://github.com/zulip/zulip/pull/20592

This is what it would now look like
<img width="437" alt="Screen Shot 2021-12-16 at 6 55 05 PM" src="https://user-images.githubusercontent.com/44880545/146467434-28b043dd-072e-4413-82de-620c12fce751.png">

[2021-12-17 00:16] andersk opened #20593 "Certbot will fail to renew because it’s initially set up in standalone mode"
From a fresh install from `main`:

[code]

This is going to fail because of `authenticator = standalone`; we need Certbot in webroot mode. Since this is the only Certbot renewal job as of #20512, this will not correct itself and Certbot is never going to successfully renew its certificate.

I think we need to adjust the installer to generate a self-signed certificate, then run Certbot in webroot m

[2021-12-17 00:25] andersk opened #20595 "Self-hosted installation incorrectly prompts to “Subscribe me to Zulip's low-traffic newsletter”"
The checkbox added by #19573 (tweaked by 191b1ac2be46fe4219c170ab318aa10c714cb49a) for “Subscribe me to Zulip's low-traffic newsletter (a few emails a year)” should not show up on self-hosted installations, where it doesn’t in fact subscribe you to anything. It should be conditional on `settings.CORPORATE_ENABLED`.

Cc @eeshangarg

[2021-12-17 00:55] NexZhu commented on #20564
Sure, Can I contact you by... maybe community Zulip?

[2021-12-17 01:08] NexZhu commented on #20564
Never mind, seems like it didn't successfully create the organization last time, after trying to create the organization again, I can login now.

[2021-12-17 01:08] #20564 closed

[2021-12-17 02:26] andersk opened #20600 "Left sidebar 3-dots menus have inconsistently colored dots"
The **⋮** icon has six different colors in these six cases. There should be just two (hovered and not).

![screenshots](https://user-images.githubusercontent.com/26471/146478528-7b639e46-8600-4d63-8874-15b09f716d88.png)

[2021-12-17 02:36] andersk commented on #19191
Browsers didn’t change. We worked around this in c750d0e404ac974a8564311487cf32023b5766d8.

[2021-12-17 03:49] gopik820 commented on #20523
@zulipbot abandon

[2021-12-17 04:30] nikhilmaske-2001 commented on #20600
@zulipbot claim

[2021-12-17 08:49] diivi commented on #20600
I am not able to reproduce this on the web version :/

[2021-12-17 08:53] diivi commented on #20526
What's the expected behaviour here? should the circle disappear?

[2021-12-17 10:32] Arch0125 commented on #20583
@ishivanshgoel did the correct thing but It's weird why mine buttons are misaligned, @alya can you check if its only happening in my development server or also in the actual zulip interface

[2021-12-17 11:26] ishivanshgoel commented on #20523
#20604

[2021-12-17 16:34] mateuszmandera commented on #20564
Great, thanks for the update! Though if the organization was not properly created, how were you going through the "Login in" button? I wonder if there isn't something we should be improving here (or a bug with the login page being shown despite the organization not being created?)

[2021-12-17 16:45] NexZhu commented on #20564
Yes, the login page and the OIDC login button were there as soon as I first run the server, before I even tried to create the organization.

[2021-12-17 19:59] diivi commented on #20600
@zulipbot claim

[2021-12-17 20:06] diivi commented on #20600
@zulipbot claim

[2021-12-18 05:02] thenitai commented on #15037
@deependhulla Have you ever come up with a solution? I'm looking into something similar at the moment.

[2021-12-18 17:43] ishivanshgoel commented on #20583
@zulipbot abandon

[2021-12-18 17:44] ishivanshgoel commented on #20523
@zulipbot claim

[2021-12-18 17:51] ishivanshgoel commented on #20523
#20604
![image](https://user-images.githubusercontent.com/53016763/146650995-a65a768d-5755-4315-8c11-233c4fb707e1.png)

[2021-12-19 04:02] Rishabh-792 commented on #20484
I am still working on this issue and the referenced PR is #20506 .

[2021-12-19 16:41] YuhuiJiang99 commented on #20484
Yes, I'm still waiting for the review of the PR: #20487.

[2021-12-20 04:54] nikhilmaske-2001 commented on #20584
@zulipbot claim

[2021-12-20 06:14] Biki-das commented on #20600
@zulipbot  claim

[2021-12-20 06:15] Biki-das commented on #20595
@zulipbot claim

[2021-12-20 06:16] Biki-das commented on #20583
@zulipbot  claim

[2021-12-20 06:27] Biki-das commented on #20583
@zulipbot  claim

[2021-12-20 07:05] Biki-das commented on #20583
this change is not apppropriate as this is not suitable for the desktop sizes, the changes you made comply with the mobile design

[2021-12-20 15:40] moki1202 commented on #20197
@zulipbot work in progress, will update the PR very soon!

[2021-12-20 18:45] xeruf commented on #356
@baderdean server or client?
On the client-side, a non-electron app that would allow accessing all kinds of open communication protocols (XMPP, Matrix, Zulip, E-Mail, ...) with proper abstraction into libraries would be great (there already is Ferdi as an electron app that uses the web views of  each). But that is not the domain of the Zulip developers.

[2021-12-21 09:59] ishivanshgoel commented on #20502
@zulipbot claim

[2021-12-21 10:11] asah commented on #17998
@zulipbot claim

[2021-12-21 21:05] JaleelNazir commented on #224
[echo flush_all > /dev/tcp/localhost/11211](https://serverfault.com/a/768579/583276)

[2021-12-21 23:45] #20127 closed

[2021-12-22 04:10] asah commented on #16080
@Gittenburg cannot reproduce?

![image](https://user-images.githubusercontent.com/140002/147034202-e81a54cc-2e71-412c-aa54-280294c887c6.png)

[2021-12-22 04:29] HiddenOgre28 commented on #20415
@zulipbot claim

[2021-12-22 04:38] kewur commented on #10743
how do we let the installer go through without ssl certificates? I'm running zulip on AWS behind a loadbalancer using ssl termination, but the installer won't finish with

"No SSL certificate found. One or both required files is missing:"
    /etc/ssl/private/zulip.key
   /etc/ssl/certs/zulip.combined-chain.crt

I'm guessing, the ```[applicaion_server] http_only = true``` option only goes for afte

[2021-12-22 06:30] Manan-Rathi commented on #20415
Hi @HiddenOgre28 . I have an open PR for the same issue and am working on this already.

[2021-12-22 13:37] juliaBichler01 commented on #19519
@zulipbot @alya somehow the zulipbot doesn't seem to work correctly for me? i updated the pull request 3 days ago, but still somehow still got this message?
And i was also not able to claim this issue on my own, even though i have two commits merged already?

[2021-12-22 14:03] asah opened #20616 "Remove redundant names from @mention autocomplete suggestion list"
Don't suggest people already mentioned
Don't suggest the current user

These crowd-out others which are more likely to be selected.

[2021-12-22 14:59] HiddenOgre28 commented on #20415
@Manan-Rathi Sorry. I saw it unassigned and didn't see the PRs.

[2021-12-22 15:02] HiddenOgre28 commented on #20616
@zulipbot claim

[2021-12-22 15:34] asah commented on #20616
Ha, you beat me to it!

I'm a new Zulip contributor (volunteer), so I'd love to follow along esp
testing. Feel free to send me PRs, I'm online all the time and review
*fast*.

On Wed, Dec 22, 2021, 10:02 AM HiddenOgre28 ***@***.***>
wrote:

[2021-12-22 15:46] juliaBichler01 commented on #20300
@alya i opened a pull request with a fix for this, could you maybe review it?

[2021-12-22 18:04] alya opened #20618 "Improve sorting algorithm for stream name typeahead"
At present, in stream mention typeahead in the compose box, we sort pinned streams > subscribed streams > other streams, with message volume serving as the tie breaker.

To improve the likelihood that the desired streams are sorted at the top, we should change the ordering to be:

stream that the message is addressed to (if any) > unmuted pinned streams > unmuted subscribed streams > pinned muted

[2021-12-22 23:38] HiddenOgre28 commented on #20616
@asah Hey dude, don't worry. I it and thought it might be easy enough, and was planning on working on it after Christmas anyway. I'll unassign and leave it to you 😁✌

[2021-12-22 23:41] asah opened #20620 "@mention list should be scrollable"
For installations with more than a half dozen users :-)

Note: this requires non-trivial JavaScript hacking.

---

Edit by @alya (2023-11):

Currently blocked on a a rewrite of the typeahead library's HTML interface logic on top of Tippy. [CZO discussion](https://chat.zulip.org/#narrow/stream/6-frontend/topic/simplebar.20for.20scrollable.20typeahead.20menu.20.2324002/near/1534822)

---

Edit by @a

[2021-12-22 23:45] asah commented on #20616
No no go for it, it's a great little starter worked, I've got other stuff
in mind, e.g. https://github.com/zulip/zulip/issues/20620

On Wed, Dec 22, 2021, 6:38 PM HiddenOgre28 ***@***.***> wrote:

[2021-12-22 23:56] HiddenOgre28 commented on #20616
@asah Wow, thank you! I'll go for it!

@zulipbot claim

[2021-12-23 00:00] asah commented on #20616
feel free to reach out if you need help - linkedin is on my github
profile...

On Wed, Dec 22, 2021 at 6:56 PM HiddenOgre28 ***@***.***>
wrote:

[2021-12-23 06:57] srdeotarse commented on #20618
@zulipbot claim

[2021-12-23 07:01] srdeotarse commented on #19878
I have created 2 PR as discussed with @alya.
PR 1 - [Add stream privacy decorations in banner box. #20562](https://github.com/zulip/zulip/pull/20562)
PR 2 - [Add stream privacy decorations compose box. #20588](https://github.com/zulip/zulip/pull/20588)

Abandoning this issue to work on other zulip issues.

[2021-12-23 07:02] srdeotarse commented on #19878
@zulipbot abandon

[2021-12-23 07:02] srdeotarse commented on #20618
@zulipbot claim

[2021-12-23 08:35] Ashishkubehera commented on #20397
@zulipbot claim

[2021-12-23 15:12] yaman-694 commented on #20583
hello mentors can you tell me how I can run this Zulip App in my system. This is my first time for open source please help. Please tell any platform where you are comfortable to chat.

[2021-12-23 15:15] Biki-das commented on #20583
are you talking about the web version of Zulip?

[2021-12-24 09:34] hotplug opened #20624 "Restoring backup pg_store issue : schema "public" already exists"
## Old zulip server setup :
- ubuntu 16.04 / zulip 2.1.X
- upgraded to latest 2.1.X -> 2.1.8
- upgraded to 18.04 / zulip 4.8 following relevant documentation (including psql upgrade to 10)
- DB is ok , but too many issue with tornado and stuff, decide to take a backup and migrate
[code]

## New zulip server to restore backup
- ubuntu 18.04
- Fresh install of zulip 4.8 (with and without --no-init-d

[2021-12-24 10:19] thecalendar commented on #20620
@zulipbot claim

[2021-12-24 10:25] thecalendar commented on #20620
@asah I am a newbie here and wished to contribute. If you think this issue is a good first issue, can you add the necessary label so that I can work on it? Thank you.

[2021-12-24 10:30] thecalendar commented on #20383
@zulipbot claim

[2021-12-24 11:11] asah commented on #20620
I'm also a newbie! But yes this seems like a good starter project for someone sufficiently should in JavaScript. Be careful to test on different browsers and (the hard part) setup puppeteer tests. I'm happy to help! My contact info is in my GitHub profile.

[2021-12-24 12:21] Rishabh-792 commented on #20583
You can contact mentors by joining Zulip Community server on zulip.

[2021-12-24 15:24] thecalendar commented on #20584
@zulipbot claim

[2021-12-24 17:01] thecalendar commented on #20383
Hey @timabbott, I tried reproducing the bug. I logged in as an administrator, deactivated a profile 'Aaron". Checked on Manage Stream -> Subscribers - to ensure the Aaron was deactivated, and rightly so. Reactivated Aaron again and refreshed the page. Went to Subscribers and found his name. I am unsure if there is any bug or was it resolved? Kindly guide me if I have misinterpreted the question in

[2021-12-24 17:07] sahil839 commented on #20383
@thecalendar The bug is that `Aaron` is not present in the list before **refreshing the page**.

[2021-12-24 17:08] thecalendar commented on #20502
@zulipbot claim

[2021-12-24 17:10] thecalendar commented on #20383
@sahil839 Ah, I thought so. Thank you, will look into it.

[2021-12-24 21:39] showell commented on #20499
In progress

[2021-12-25 00:01] catherjh commented on #19700
@zulipbot abandon

[2021-12-25 01:48] Al-0 commented on #20526
claim

[2021-12-25 01:50] Al-0 commented on #20526
@zulipbot claim

[2021-12-25 14:05] asah commented on #17998
@zulipbot claim

@alya waiting for review, happy holidays, no rush :-)

[2021-12-25 15:35] Rishabh-792 commented on #20529
@zulipbot claim

[2021-12-25 16:09] asah commented on #17205
PostgreSQL guy here (but zulip newb): is this for performance? or some other reason?  I'm asking because the world is migrating to *more* use of JSON fields and therefore better support for them...

(y, I can maybe help...)

[2021-12-25 18:29] tinavo0305 opened #20629 "Left menu - In-context tooltip of Streams menu overlaps Recent topics menu"
After signing up a new account, I notice that a tooltip (question mark icon) is popping up showing the tooltip what is the Streams menu is used for. However, the icon looks not good because it overlaps the Recent topics menu above.

I suggest to make the icon a bit smaller so that it looks nicer. Please have a look at the link be low for the screenshot and the technical info of my system:
https://

[2021-12-25 19:50] tinavo0305 opened #20630 "Guest - Getting 404 page when clicking on any Upgrade link"
Steps to reproduce:
1. Sign in as a Guest role
2. Go to personal setting > uploaded files
3. Click on Upgrade link

Actual result:
Page with 404 error is opened. Note: Issue happens with all the upgrade links:
- Organization Settings >> Message retention
- Organization Profile >> Organization logo

Expected result:
Should have a notification to let Guest know that they are unable to upgrade (and t

[2021-12-26 08:03] yaman-694 commented on #19967
@zulipbot claim

[2021-12-26 10:31] manavdesai27 commented on #20403
@zulipbot claim

[2021-12-26 11:01] manavdesai27 opened #20635 "Support for Fedora 35"
I had recently upgraded to Fedora 35 from Fedora 34. I had previously added support for Fedora 34 in Zulip. I am planing to add support for Fedora 35 as well.

[2021-12-26 11:01] manavdesai27 commented on #20635
@zulipbot claim

[2021-12-26 11:52] manavdesai27 commented on #20635
I am getting this error. Can anyone help me out?
`Error running a subcommand of ./lib/provision.py: /srv/zulip-venv-cache/b605ddf283aafe0f8e8e36da808ab2a5c5291d39/zulip-py3-venv/bin/pip install --use-deprecated=legacy-resolver --no-deps --require-hashes -r /home/manavdesai/Music/Gitub_Repos/Open_Source/zulip/requirements/dev.txt
`

` _re2.cc:11:10: fatal error: pybind11/pybind11.h: No such file or

[2021-12-26 15:15] thecalendar commented on #11238
@timabbott I was working on issue #20383 and upon digging deeper I realized that the current issue is still not resolved.

[2021-12-26 15:20] manavdesai27 commented on #20635
I solved the above errors. Now I am getting the following error:

`AttributeError: module 'collections' has no attribute 'MutableMapping'`

I use Python: 3.10

[2021-12-26 15:47] manavdesai27 commented on #20635
I have fixed the issue by changing it to `collections.abc.MutableMapping` instead of `collections.MutableMapping`.

[2021-12-26 18:55] manavdesai27 commented on #20403
@zulipbot abandon

[2021-12-26 19:02] manavdesai27 commented on #20630
@zulipbot claim

[2021-12-27 04:30] tinavo0305 commented on #19238
This issue still happens today. Please find screen recording and technical details (console logs, network requests) of this bug (unable to download image) by following the link https://app.birdeatsbug.com/sessions/lwC2BLaW4_hsjYjlE7nTm?networkPane=active

[2021-12-27 06:23] srdeotarse opened #20639 "Part of tooltip for "Upload files" in compose box hides behind left panel of stream names."
Steps to reproduce:
1. Click bottom message box to start typing a message.
2. Mouse over "Upload files" icon.
3. Check the tooltip.

Actual result:
![image](https://user-images.githubusercontent.com/53873549/147440943-6a493d38-0786-4526-a43f-f47ace3653cb.png)

Expected result:
"Upload files" tooltip should be visible clearly.

[2021-12-27 06:27] Rishabh-792 commented on #20529
Hey @alya !
Really sorry for my mess due to some issues in my previous pull request.
I have now made a new PR #20638 to solve this issue. Please review it and let me know of any other modifications for it.

[2021-12-27 09:37] akarsh-jain-790 commented on #20639
@zulipbot claim

[2021-12-27 15:05] asah opened #20641 "replit code playground links no longer prefill (replit changed on their side?)"
https://forecast.chat/help/code-blocks

I used the default replit examples and they showed an open-in-replit link in the zulip msg, but when I clicked, replit it started a new VM without my code snippet, which kinda defeats the purpose :-(

Perhaps replit changed their URL structure?

Here's the URL generated from Zulip.
https://replit.com/languages/python3/?code=def%20fib(n)%3A%0A%20%20%20%20%23%

[2021-12-27 18:10] ElliotSilver opened #20642 "Jira integration doesn't escape ] in topic header"
See https://chat.fhir.org/#narrow/stream/179297-committers.2Fnotification/topic/tracker-item/near/266079874.

The title is supposed to be "Extra ]" ("extra" close bracket). It looks like the close bracket is messing up the link parsing. I assume the bracket needs to be escaped.

[2021-12-27 18:17] ElliotSilver commented on #17141
This issue is tagged "feedback wanted." Are you looking for feedback from me, or someone else?

With respect to the whitelist/blacklist issue, my concern is getting access to our custom fields. If a whitelist allows that, I'm good. Otherwise, since (I think) we're talking about the administrator configuring the bot, rather than any user, I don't think there is a significant issue with allowing the

[2021-12-27 18:17] Biki-das commented on #20583
This is what i have been able to figure out a solution see below, if this is appropriate i will make a PR for the same

Uploading Recent topics - Zulip Dev - Zulip - Google Chrome 2021-12-27 23-43-50.mp4…

[2021-12-27 18:39] My-Name-Is-Nabil commented on #20639
@zulipbot claim

[2021-12-27 18:49] solymosi commented on #20639
@srdeotarse which Zulip version and client are you using?
Latest `main` on Firefox and Electron seems to be just fine 🤔

![image](https://user-images.githubusercontent.com/199790/147499277-49a86c3f-1f30-461b-b756-779349179ba4.png)

[2021-12-27 18:52] anvo1205 opened #20644 "Organization - Default User Settings - Save changes and Discard buttons do not disappear when changing theme settings back to original"
Steps to reproduce:
1. Sign in as an owner
2. Go to Organization Settings - Default User Settings
3. From Theme section, update one of the following settings:
  - Color scheme
  - Emoji theme
  - Convert emoticons before sending
Notice that the Save Changes and Discard buttons display
4. Change the settings back to original (e.g. If you change Emoji theme from google modern to google classic in th

[2021-12-27 19:08] anvo1205 opened #20645 "Message Formatting - Unable to close the modal by clicking X button when highlighting some texts"
What I want to do is to drag to select a format and copy it, then close the modal to paste it to the chat. But I can't close the modal by clicking X button. The workaround is to click outside of the modal

Steps to reproduce:
1. Open Message Formatting modal
2. Drag the mouse to highlight some texts in the modal
3. Click X button to close the modal

Actual Result:
Modal is not closed. This issue a

[2021-12-27 19:18] anvo1205 commented on #19544
I encountered this issue as well: https://app.birdeatsbug.com/sessions/ZnqWbSWRy0BDP264XCzDv?

[2021-12-27 20:08] My-Name-Is-Nabil commented on #20639
@solymosi I have the exact same issue on main branch, FireFox 95.0.1 and Ubuntu 20.04 LTS
![image](https://user-images.githubusercontent.com/69853994/147503984-b4f8f0cf-2614-43cb-8617-982828fcc443.png)

[2021-12-27 22:06] Anas-debug commented on #20415
Can I get this as a first contribution?

[2021-12-27 22:16] Anas-debug commented on #20077
Hello can I get this as a first issue?

[2021-12-28 00:45] solymosi commented on #20639
Hmm.. upon closer investigation it seems to be a dark theme only thing 🤔

![image](https://user-images.githubusercontent.com/199790/147516058-9f4c9083-d9c1-437a-bba6-471211f5fb60.png)

[2021-12-28 01:13] My-Name-Is-Nabil commented on #20639
It also occurs in light theme when u expand a stream to see the topics, the blue color highlighting the topics hides the tooltip

[2021-12-28 04:44] srdeotarse commented on #20639
I am using Chrome Version 96.0.4664.110 (Official Build) (64-bit) and Windows 10 Version 21H1.

[2021-12-28 05:07] asah opened #20648 "email gateway: match from-email address against known users"
then synthesize a new message, as closely as possible as if the user had sent it from the UI...

(obviously, there's a security/impersonation risk for email coming from insecure domains e.g. not using DKIM/etc)

[2021-12-28 08:38] manavdesai27 commented on #20630
@zulipbot abandon

[2021-12-28 10:51] raghupalash commented on #20001
Waiting for review.

[2021-12-28 10:58] algo-byte commented on #20600
@zulipbot claim

[2021-12-28 15:07] Biki-das commented on #20645
claim @zulipbot

[2021-12-28 15:10] Biki-das commented on #20583
@zulipbot abandon

[2021-12-28 15:11] Biki-das commented on #20618
@zulipbot claim

[2021-12-28 16:43] sahil839 commented on #20644
@zulipbot claim

[2021-12-28 17:08] sahil839 commented on #20644
Thanks for the report @anvo1205. I have opened #20652 to fix it.

[2021-12-29 17:09] lamyseba opened #20658 "Image thumbnails in messages are transmitted full-size"
Hi
When someone post an image with a message, a thumbnail is displayed in the message, wich is great !
The problem is: The thumbnail is in fact the full-size image, reduced by the browser because of html/css size rules. So, in order to display this thumbnail in the message, the full-size image is downloaded by the browser. With new cell-phones, peoples tend to send big images (5-10Mo is quite stan

[2021-12-29 18:50] Akshat1903 commented on #18569
@alexmv ,  I want to help with this issue, can I claim it? Not sure if @mittal-parth is still working in this!!

[2021-12-29 20:34] jackoe commented on #19653
@zulipbot claim

[2021-12-29 23:17] alexmv commented on #18569
Thanks for your enthusiasm, @Akshat1903!  However, #20206 by @mittal-parth was essentially done, so I fixed the one minor issue with it, rebased it, and I expect it will merge shortly.

[2021-12-30 00:21] #18569 closed

[2021-12-30 00:32] #20644 closed

[2021-12-30 01:11] #20300 closed

[2021-12-30 10:31] tiger-yash commented on #19055
@zulipbot claim

[2021-12-30 11:39] refeed commented on #20502
@zulipbot claim

[2021-12-30 14:42] Biki-das commented on #20583
@alya i have been able to find a solution for this one have made a pr for the same can you review?

[2021-12-30 14:48] Biki-das commented on #20452
@zulipbot  claim

[2021-12-30 16:04] Anas-debug commented on #20077
@zulipbot claim

[2021-12-30 16:13] Anas-debug commented on #20077
Ms. @alya where can I access the directory where there is the front-end(issue)? or where else could I get the application structure, tools used...?
Thank you.

[2021-12-30 20:41] moki1202 commented on #20197
@zulipbot claim

[2021-12-31 07:40] YashRE42 opened #20666 "Long messages are not collapsed on first page load"
From: https://github.com/zulip/zulip/pull/20086#issuecomment-980531094

steps to reproduce:
1. Send a long message as Aaron in #Verona.
2. Log out from Aaron and log in as Zoe.
3. Check message in #Verona.

Expectation: The long message will be collapsed, with the link to expand.
Actual outcome: The long message will be is displayed as is (not collapsed), without the link to collapse it.

Addition

[2021-12-31 19:14] #13720 closed

[2022-01-01 05:15] AayushSolanki commented on #20484
@zulipbot claim

[2022-01-01 08:05] Rishabh-792 commented on #20484
@AayushSolanki I have an open PR #20506 which resolves this issue.
It would be great if you could work on any other issue please :)

[2022-01-01 08:10] skpatro23 commented on #20415
@zulipbot claim

[2022-01-01 10:36] AayushSolanki commented on #20484
alright @Rishabh-792

[2022-01-01 13:18] varshitakolipaka commented on #20073
@zulipbot claim

[2022-01-01 14:06] terpimost commented on #20541
Waiting for the review

[2022-01-01 21:32] YashRE42 commented on #20666
@zulipbot claim

[2022-01-01 21:37] YashRE42 commented on #8118
Saw this while checking for duplicates before creating #20666, I can not seem to reproduce this bug, maybe close if unintentionally resolved?

[2022-01-02 07:32] varshitakolipaka commented on #20073
@zulipbot abandon

[2022-01-02 07:33] varshitakolipaka commented on #20073
@zulipbot unclaim

[2022-01-02 07:45] varshitakolipaka commented on #20305
@zulipbot claim

[2022-01-02 07:46] varshitakolipaka commented on #20305
@zulipbot claim

[2022-01-02 07:47] varshitakolipaka commented on #20305
@zulipbot claim

[2022-01-02 13:40] sachin5321 commented on #20600
hey how can i start? I am new to open source

[2022-01-02 14:08] Biki-das commented on #20600
hello sachin, welcome to zulip, you can go here -https://zulip.readthedocs.io/en/latest/overview/contributing.html

[2022-01-02 16:48] Biki-das commented on #20584
@zulipbot  claim

[2022-01-02 16:59] Biki-das commented on #20630
@zulipbot claim

[2022-01-02 19:55] juliaBichler01 commented on #19519
@zulipbot claim

[2022-01-02 20:12] #20666 closed

[2022-01-02 20:14] juliaBichler01 commented on #20302
@alya i opened a pull request where i added most of the mentioned format buttons, could you have a look at it?
I am not sure how to implement the mention-button, though. I think it would be good if the same window would open like when a user types "@..." in the text field, but i don't know how to do that, could you maybe point me to where this is implemented?

[2022-01-03 03:27] Arch0125 commented on #20283
@zulipbot claim

[2022-01-03 03:29] Arch0125 commented on #20283
The PR #20535 has been updated which resolved the issue and is waiting for a review.
Here are the current GIFs:
![Peek 2021-12-30 19-52](https://user-images.githubusercontent.com/72722967/147897830-fab1af46-2143-4730-8325-1d79e10062fe.gif)
![todo1](https://user-images.githubusercontent.com/72722967/147897835-b39e4afa-b180-4048-acc5-7ec5a694b06b.gif)

![poll1](https://user-images.githubusercontent.

[2022-01-03 03:29] Arch0125 commented on #20283
@zulipbot abandon

[2022-01-03 17:41] alya opened #20675 ""Add streams" tooltip behind menu"
At present, when the "Add streams" (`+`) menu in the left sidebar is open, the tooltip for the `+` button is mostly hidden behind the menu. You can just see the black tooltip peeking out:

<img width="157" alt="Screen Shot 2022-01-03 at 9 36 39 AM" src="https://user-images.githubusercontent.com/2090066/147961761-30324add-c75d-4e5b-9bfc-5d188bf89cc4.png">

We should not show the tooltip at all when

[2022-01-03 17:48] alya opened #20676 "When user can't create streams, make "Add streams" go directly to settings"
The `+` button next to `Streams` in the left sidebar can be used to subscribe to an existing stream or create a new one. However, its behavior is confusing and adds an unnecessary step when the user does not have permissions to create streams, as it displays a single-option menu:

<img width="166" alt="Screen Shot 2022-01-03 at 9 37 16 AM" src="https://user-images.githubusercontent.com/2090066/147

[2022-01-03 19:30] mateuszmandera opened #20677 "Azure Alert incoming webhook"
We received a user request for an integration with Azure Alert (https://azure.microsoft.com/pl-pl/blog/webhooks-for-azure-alerts/), which looks like it may be useful and relatively simple. There's more detailed documentation on the possible payloads etc. at https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-log-webhook and our guide on building incoming webhook integrations can be

[2022-01-03 20:50] algo-byte commented on #20676
@zulipbot claim

[2022-01-03 20:58] algo-byte commented on #20676
@alya, should we make the tooltip disappear too if the user is not an admin(not allowed to create streams)

[2022-01-03 23:59] gnprice commented on #5928
We had a fresh request for this feature (specifically in the "paste" direction) recently in chat:
https://chat.zulip.org/#narrow/stream/6-frontend/topic/pasting.20rich.20text/near/1299163

Meanwhile, this use case mentioned above:

has been overtaken by the addition of the quote-and-reply (`>`) feature. But there are still significant other use cases: copy-pasting to or from other tools, including

[2022-01-04 02:51] akarsh-jain-790 commented on #20675
@zulipbot claim

[2022-01-04 05:30] Ashishkubehera commented on #20397
@zulipbot  abandon

[2022-01-04 10:02] plankt3r opened #20683 "Keyboard issue on the "New PM" screen"
Pressing the "New PM" button leads to a screen listing all the users. Once there, you can pick a user and send them a message. For some reason, the keyboard pops up immediately when you land on that page, covering part of the screen. Logically, it should only appear once you have selected a user and activated the compose box, as is implemented on the "New group PM" screen.

See:[#**mobile>keyboard