[2019-06-11 11:53] Hypro999 commented on #12541
Ah, makes sense then to include `upgrade_text_for_wide_organization_logo` as well.

[2019-06-11 12:18] rishig commented on #12505
sure!

[2019-06-11 14:17] carpecodeum commented on #12553
@zulipbot claim

[2019-06-11 14:31] carpecodeum commented on #12246
can i work on this?

[2019-06-11 18:32] rishig opened #12555 "settings: Automatically set 24-hour time at account creation."
We should automatically set the 24-hour time setting at account creation based on the browser's locale.

[2019-06-12 01:12] gnprice opened #12556 "Don't mark messages as read in search view"
Splitting out one of the several areas described in #10886 :

When I do a search, I'm typically looking for a specific old conversation I have in mind. But if I have unread messages and some of them happen to match the search query, they show up in the results... and then scrolling through the results to find the conversation I want goes and marks those messages read, which may be scattered across

[2019-06-12 01:21] gnprice commented on #10886
Hmm, I'd say that answering that question, and then acting to make the issue tracker be the way you think it best for it to be, sounds like something you should feel empowered to just do. :wink:

In any case, I went and cloned that bit as a new issue: #12556

Do you perhaps want to have an issue for that effort, too? (Or find an existing one and link it here?) An earlier comment asked about that,

[2019-06-12 02:52] timabbott commented on #10886
For mobile unreads view, there's #11994 open.

[2019-06-12 02:56] timabbott commented on #9893
See #12098 for a recent duplicate of this.

[2019-06-12 03:00] timabbott commented on #12556
I agree we should fix this; it's quite annoying (for me, I see it sometimes when searching for a word that appears in one of my muted streams).  It might not be that hard.  This is a duplicate of https://github.com/zulip/zulip/issues/9893 BTW, which has a PR https://github.com/zulip/zulip/pull/9908 that I think mostly doesn't address the main issue here aside from a bit of code in the first commit

[2019-06-12 04:08] thedeveloperr commented on #12556
@zulipbot claim

[2019-06-12 12:56] alexandraciobica commented on #12519
I will do it.

@zulipbot claim

[2019-06-12 13:29] krotovkk commented on #12553
@zulipbot claim

[2019-06-12 15:35] jmandel opened #12563 "Are "Alert Words" case sensitive?"
Currently I can create a set of alert words that are identical, save for capitalization. Is this expected behavior? From a user perspective, I hope/expect my alert words to match any case.

![image](https://user-images.githubusercontent.com/313089/59365177-f7425200-8cec-11e9-80f4-9e0e90023a0b.png)

[2019-06-12 17:05] claudius96 commented on #12553
@zulipbot claim

[2019-06-12 17:26] carpecodeum commented on #12246
@zulipbot claim

[2019-06-12 19:18] rishig opened #12564 "registration: Make create-a-realm flow a two screen experience."
The current create-a-realm flow has a single screen where you enter in your information (name, etc) and the realm information (organization name, etc).

The form is about as big as it can get, I think (arguably already a bit too big). If we add another options like Organization language it will be too big.

It would be great to split this into two. The first screen can be "Set up your organization

[2019-06-12 23:14] #11504 closed

[2019-06-12 23:20] timabbott commented on #12563
Good question!  @benneyman do you have time to look into this?

[2019-06-12 23:25] #12519 closed

[2019-06-13 00:20] timabbott opened #12565 "Setup `fs.inotify.max_user_watches` sysctl"
Sometimes, the Zulip development environment will issue these errors, even when one isn't out of space:

[code]

Based on https://code.djangoproject.com/ticket/23523, the root cause here is pyinotify leaking watches.  We can work around it by updating the kernel settings for the maximum number of files for pyinotify to watch, see the Django ticket for details.  Upstream issue seems to be https://g

[2019-06-13 00:27] timabbott commented on #12518
I think you meant @vrongmeal.

[2019-06-13 00:44] #12365 closed

[2019-06-13 01:04] timabbott opened #12566 "Clean up portico markdown pages to use consistency CSS rules and look good"
We have several clusters of portico pages that are all written with the same markdown framework (/help/*, /integrations/doc/*, /api/*, The "why Zulip" cluster including /for/open-source and /why-zulip, etc.; /terms and /privacy, etc.).  Right now, these pages use inconsistent, semi-duplicated styling, and additionally, some of them look bad.  All of them use the `render_markdown_path` framework; a

[2019-06-13 01:49] ECreates commented on #12553
@zulipbot claim

[2019-06-13 02:01] ECreates commented on #12555
@zulipbot claim

[2019-06-13 08:11] YJDave commented on #12394
@YashRE42 Thanks for investigation. Submitted the fix in #12567

![image](https://user-images.githubusercontent.com/25907420/59378673-80e83300-8d72-11e9-9d01-b48b7bf5297a.png)

[2019-06-13 15:31] thedeveloperr commented on #12328
@zulipbot claim

[2019-06-13 15:49] ab1nash commented on #11662
@zulipbot claim

[2019-06-13 16:06] gloels commented on #10044
HI @timabbott the following endpoints are not defined in the OpenAPI format file:

/messages/${messigid}/reactions
/realm/me/user_groups
/ream/user_groups/${id}
/user_groups/create
/user_groups/${id}
/user_groups/${id}/members
/users/me/user_groups
/streams/${id}
/users/me/alert_words
/dev_list_users
/fetch_api_key
/users/me/android_gcm_reg_id
/users/me/apns_device_token

Also what is the status o

[2019-06-13 16:06] vrongmeal commented on #12518
Yeah! I'll take this up.

@zulipbot claim

[2019-06-13 16:06] vrongmeal commented on #12518
@zulipbot claim

[2019-06-13 16:07] vrongmeal commented on #12518
@rishig I did not get this part

[2019-06-13 16:11] ab1nash commented on #11662
@rishig just to clarify, what we intend to do is clear the `[...more]` link after double pressing ' - '  right?

[2019-06-13 16:36] vsvipul commented on #12274
@zulipbot add "good first issue" "help wanted"

[2019-06-13 16:41] rishig commented on #11662
yup!

[2019-06-13 16:44] rishig commented on #12518
oh, I just meant that when you go to say a stream narrow, the blue box is at the oldest recently read message, but there's currently no indication in the UI of that fact. (It's not a particularly important point.)

[2019-06-13 18:17] benneyman commented on #12563
Sure @timabott, l have a look at this.

[2019-06-13 18:35] #12552 closed

[2019-06-13 18:39] timabbott commented on #1555
There's no ETA for this.  That said, it's worth mentioning that you can just create a private stream for the 2 people as a workaround.

[2019-06-13 20:15] YagoGG opened #12571 "Update the developer documentation on our OpenAPI API docs"
The [documentation on our API docs](https://zulip.readthedocs.io/en/latest/documentation/openapi.html) is currently outdated, since it reflects the old OpenAPI standard's syntax.

At least the *Configuration* and *Formatting help* sections need to be updated, although I would highly recommend to review the rest of the content (including the examples).

---

@zulipbot add "area: documentation (deve

[2019-06-13 21:22] mlncn commented on #5200
I would also like pinned topics within streams.  Probably best to have a per-stream setting on whether to allow (non-admins) to pin topics.

[2019-06-13 22:14] ghbjklhv opened #12572 "[Feature] Matrix Bridge"
**Feature**: Create [Matrix Bridge](https://matrix.org/docs/projects/bridges/)

______________

Want to support this issue? Post a [bounty on it](https://www.bountysource.com/issues/75488783-feature-matrix-bridge)! We accept bounties via [BountySource](https://www.wikipedia.org/wiki/Bountysource).

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=75488783)](https://www.bountysour

[2019-06-13 22:14] #12411 closed

[2019-06-13 22:24] vinitS101 commented on #12381
@zulipbot claim

[2019-06-14 01:42] Arpitpundir commented on #12571
can i work on thins one?

[2019-06-14 05:02] abhigyank opened #12573 "Stream delete modal popup below stream lists"
Modal popup to delete a stream is  below stream lists and unclickable. This is  visible only in admin view.
![Screenshot from 2019-06-14 10-27-58](https://user-images.githubusercontent.com/20434085/59484377-21337a00-8e8f-11e9-9178-cb2811bd78ce.png)

[2019-06-14 08:27] tommyip commented on #12573
I can't reproduce this in Chrome or Firefox on Linux, are you on upstream/master?

[2019-06-14 08:41] YagoGG commented on #12571
Sure, @Arpitpundir! Feel free to claim the issue with [zulipbot](https://zulip.readthedocs.io/en/latest/contributing/zulipbot-usage.html).

If you are interested in API docs, you might want to take a look at #10044 before working on this issue.

Cheers!

[2019-06-14 09:43] abhigyank commented on #12573
Yeah on latest upstream/master, even on zulipchat.com.
Ubuntu - Chrome.

[2019-06-14 10:31] santherics commented on #11520
Hello,
any updates?

[2019-06-14 10:43] wsupajirakit opened #12576 "How can i remove filename / image name when upload image"
I'm already install zulip on my server how can i edit api (where's api file on my server ubuntu)
I need to remove Tag < P > from get message API

I don't want filename on my application (Zulip react-native)

Want to remove IMG_8720.JPG on chat screen

![Screen Shot 2562-06-14 at 15 58 53](https://user-images.githubusercontent.com/24472014/59503855-b0f71980-8ecb-11e9-9150-31f6c60a81d1.png)

[code]

[2019-06-14 21:21] ihenckel opened #12579 "Parentheses () in topic name not encoded when using "Copy link to conversation""
When a topic name includes a `(` character, "Copy link to conversation" results in a literal `(` in the URL, which Zulip then doesn't recognize and hyperlink.

I created a topic to demonstrate:

Broken link: https://chat.zulip.org/#narrow/stream/7-test-here/topic/topic.20with.20(.20in.20the.20name/near/753950

Fixed link: https://chat.zulip.org/#narrow/stream/7-test-here/topic/topic.20with.20%28.2

[2019-06-14 21:25] ihenckel commented on #12579
The issue here could equally be "Markdown parser doesn't recognize `(` as a valid URL character" which is understandable, given that `()` are used to enclose hyperlink hrefs.

[2019-06-14 21:31] rishig opened #12580 "portico/docs: Improve OpenAPI descriptions and titles."
Followups to https://github.com/zulip/zulip/pull/11045.
- [ ] Currently we only use the first paragraph of text for the description. It would be better to concatenate the first few paragraphs, and truncate. Basically it's just using bs.find_all('p') and joining things together in a loop until it gets too long.
One catch is that is that we probably want to stop at the first non-paragraph block so w

[2019-06-14 22:56] timabbott commented on #12516
@Hypro999 was this fully resolved by #12539, or are there tasks remaining?

[2019-06-14 23:27] timabbott commented on #12541
Resolved via #12554; @Hypro999 is there a reason you didn't include a `Fixes:` note in the commit message of the last commit?  If you don't do that, the issue isn't automatically closed.

[2019-06-14 23:27] #12541 closed

[2019-06-14 23:28] timabbott commented on #12580
@punchagan FYI in case you're interested in working on this.

[2019-06-14 23:29] timabbott commented on #12579
@tommyip FYI, this could be a good quick issue for you.

[2019-06-15 01:31] mlncn commented on #9265
The ability to set off hours (that other team members can see) is really essential.  A person working late night or on a weekend should be able to @mention other people, so those people will receive notification to look at the message **when their working hours begin again**, without risking it pinging them from the app on their phone or having a pop-up appear on their laptop screen during family

[2019-06-15 01:55] punchagan commented on #12580
Yeah, I will work on this.

[2019-06-15 01:56] punchagan commented on #12580
@zulipbot claim

[2019-06-15 03:31] Hypro999 commented on #12516
As far as what @rishig requested, [#12539](https://github.com/zulip/zulip/pull/12539) covers everything. I'm pretty sure that there will be follow up issues to this.

[2019-06-15 03:39] Hypro999 commented on #12541
@timabbott, sorry about that, I've been forgetting to do that lately it. I'll add that line from now onward.

[2019-06-15 03:59] tommyip commented on #12579
Note that this is only a problem for unbalanced parenthesis.

| input  | bugdown  | marked |
|---|---|---|
| `http://example.com/testing(1`  | :x:  | :heavy_check_mark:  |
| `http://example.com/testing(1)`  | :heavy_check_mark:  | :heavy_check_mark:  |
| `[test](http://example.com/testing(1)`  | :interrobang: (broken output)  | :heavy_check_mark:  |
| `[test](http://example.com/testing(1))`  | lin

[2019-06-15 04:00] punchagan commented on #12580
The first item about using only the first paragraph was fixed in https://github.com/zulip/zulip/commit/c955b20131a8e7390640bcc3f148fecc61d2108c with further improvements in other future commits.

[2019-06-15 15:50] punchagan commented on #12580
The integrations page is populated using Ajax calls, so re-using the code that populates the meta tags for the /help pages may not work very well.  I've a draft PR in #12586 that allows for adding some simple handwritten open graph tags, with just the integration name, etc being dynamic based on the URL.

For the portico pages like /features, we just render the template as a view, and again it see

[2019-06-15 16:44] timabbott commented on #12516
OK, sounds good, closing.  Thanks @Hypro999!

[2019-06-15 16:44] #12516 closed

[2019-06-15 16:45] timabbott commented on #9265
Just to mention a feature that is already available in this space: Mobile devices already have a global "Do not disturb" feature, though obviously that doesn't cover the specific use case of not getting a desktop notification while watching TV on a device.

[2019-06-15 20:47] eeshangarg commented on #12071
@daschuer: I think so, but @timabbott can confirm! :)

[2019-06-15 20:51] vinitS101 commented on #12502
@zulipbot working on this rn.

[2019-06-16 01:55] mlncn opened #12588 "Allow linkifier tokens to be set (and used) per stream"
Linkification is great.  Being able to put an issue number in chat and get the full link to that issue is very convenient.  We used to do it with Redmine and IRC.  We never set that up again after moving to GitLab for project management, but now that we're moving to Zulip and i saw how [easy it is to define linkifiers](https://agaric.zulipchat.com/help/add-a-custom-linkification-filter ), I went t

[2019-06-16 06:09] vujava4 commented on #162
pip install ujson
its work in python 3

[2019-06-16 06:37] stone212 commented on #12345
@timabbott I'm getting back to this just now.  Because of the patch maybe I should re-install the new/zu2 server, and upgrade the original server to 2.0.4 when it comes out and do a standard backup/restore only?  Would you recommend that path instead of above?

[2019-06-16 19:33] vinitS101 commented on #12502
@timabbott How should I test this on my Dev env?

[2019-06-16 20:06] mlncn commented on #9265
Also just noticed https://github.com/zulip/zulip-mobile/issues/3256 (which makes this request specifically for the mobile client)— however, i do feel this is a feature worthy of Zulip itself, not just clients, because for me the key for this isn't individual users being able to control their notifications but for the team member finishing up loose ends on Friday night to be able to mention other t

[2019-06-16 21:49] keshav234156 commented on #12508
@zulipbot clain

[2019-06-16 22:09] timabbott commented on #12580
I think for /integrations, just having a brief summary that it's the integration for X is probably the main thing that's useful; the actual instructions are unlikely to be that helpful without going to the page anyway?

[2019-06-16 22:20] #12579 closed

[2019-06-16 22:47] mlncn opened #12591 "Linkifier settings page example crosses wires with GitHub commit hashes / issues IDs"
It will create a 'working' linkifier, but will create a broken link to GitHub trying to use a numeric issue ID as a commit hash.

It simply needs to be updated to match the example in https://agaric.zulipchat.com/help/add-a-custom-linkification-filter#understanding-linkification-patterns

Pull request fortthcoming

[2019-06-16 23:40] #12591 closed

[2019-06-17 00:59] ECreates commented on #12555
If the setting were to be changed based on browser locale (which seems to just be a list of languages used on the browser, at least for the Accept-Language header) how would we differentiate between languages that are used in a variety of countries with different clock types?  For instance, Mexico uses a 12 hour clock and has Spanish as its official language, but so does Spain, which uses a 24 hou

[2019-06-17 02:40] punchagan commented on #12580
Yeah, that's what I have in mind. :+1:

[2019-06-17 03:59] punchagan commented on #12580
Didn't mean to close it! Sorry!

[2019-06-17 05:51] andersk commented on #12537
@priyank-p I don’t understand why you think manually implementing a replacement for `srcset` using CSS media queries would be any better for a retina screen than using `srcset`. But either way, that isn’t the problem at hand. The existing screenshot is plenty large enough to look good on a retina screen when resized. (For an image that’s being resized, there’s no difference between a large image a

[2019-06-17 06:24] rishig commented on #12555
Possibly we'll have to run something in js on the registration page (e.g. something related to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleTimeString) and send the outcome back to the server by populating a hidden field in the POST form. Let me know if that doesn't make sense.

[2019-06-17 16:02] richardhoyt opened #12593 "Allow access to DMs with deactivated users"
While some information contained in direct messages that include a deactivated user is available in search previews, clicking through to the conversation results in an error message of "One or more of these users do not exist!"

I'm using Zulip in production via the web app.

[2019-06-17 18:23] rishig commented on #12537
Thanks for the explanation! It sounds like we should just redesign this page to only use a small number of fixed sizes, and then export a png for each size. I can track that effort in a different place, so closing this issue as resolved.

Currently just on my computer, though eventually I think we'll create a folder in dropbox or zulip/zulip for these assets. (Unfortunately github is not letting m

[2019-06-17 18:23] #12537 closed

[2019-06-17 20:37] timabbott opened #12595 "Fix recursive exceptions from _RateLimitFilter"
We have a very useful piece of code, `_RateLimitFilter`, which is designed to avoid sending us a billion error emails in the event that a Zulip production server is down in a way that throws the same exception a lot.  The code uses memcached to ensure we send each traceback roughly once per Zulip server per 10 minutes (or if memcached is unavailable, at most 1/process/10 minutes, since we use memc

[2019-06-17 22:18] timabbott opened #12596 "Fix handling of test-backend failures with subTest in parallel mode"
Apparently the Django subTest feature that we're using for a few of our test suites does not work well with Django's parallel test environment (or maybe with something else we're doing).  The reproducer is the following:
[code]

The error output should be this:

[code]

But you instead get this if you run a full `test-backend`:
[code]

[2019-06-17 23:10] timabbott opened #12598 "Fix nondeterministic Casper failure with custom profile fields"
I was able to produce the following casper failure locally on master (no reliably):
[code]

![casper-failure1](https://user-images.githubusercontent.com/2746074/59642478-fa3ca880-9119-11e9-9249-fa519b9c7eca.png)

@YJDave can you investigate if there's a possible initialization race that could cause this exception?

[2019-06-17 23:19] kanishk98 commented on #4891
Sent in PR #12534.

[2019-06-17 23:20] stone212 commented on #12345
@timabbott I just did a fresh `upgrade-from-git master`.  How can I verify I am on 2.0.4?

Do you think I should re-install Zu2 with fresh 2.0.4 and then follow "standard" backup/restore procedure, and pg will work?

[2019-06-17 23:21] ECreates commented on #12555
Should this be done in the signup.js file?  I'm fairly new to JavaScript with python being my main language so I may take some time to figure things out.

[2019-06-17 23:35] timabbott opened #12599 "Casper tests fail when not on the Internet"
Apparently, `test-js-with-casper` fails when one is not on the Internet, fairly early.

I have no idea why -- we don't have any intentional use of the Internet in our casper tests, so this is likely an accident of some sort.

(Structurally, `test-backend` is designed to block standard Python ways of accessing the Internet to ensure we never introduce use of the Internet in our tests there; we need

[2019-06-17 23:39] timabbott commented on #12598
This was actually deterministic; the commit introducing it was reverted in https://github.com/zulip/zulip/commit/09e57389caf14f98e8ef799b4e2d589473d153f7.

[2019-06-17 23:39] #12598 closed

[2019-06-17 23:39] timabbott commented on #12345
Yes, you should be able to now just do the standard backup/restore process with 2.0.4

[2019-06-17 23:41] stone212 commented on #12345
@timabbott Okay thank you for getting back to me on that but what about the first question?  How do I know what version I am on?  2.0.4 is our target and I just did an upgrade from git master.  How do I check that I am on 2.0.4?

[2019-06-17 23:47] andersk commented on #12599
`tshark` suggests that it’s blocked on a DNS request for `zulipdev.com`. (It also shows periodic DNS requests for `puppet`, whether or not the tests are running…that’s weird but probably unrelated.)

[2019-06-18 00:15] andersk commented on #8633
Fixed by #12357; we’re using the Vagrant Docker provider now.

[2019-06-18 00:47] timabbott opened #12601 "Refactor by_pm_with in zerver/views/messages.py to use user IDs as common path"
Following https://github.com/zulip/zulip/pull/12581#issuecomment-502384151, `by_pm_with` in `zerver/views/messages.py` is written in this somewhat awkward way for handling support of both user IDs and email addresses.

Currently, it converts email user ID lists to email addresses and then has a common code path for handling a list of email addresses.  This is a code smell, because we end up conver

[2019-06-18 00:49] #8633 closed

[2019-06-18 00:50] timabbott commented on #12599
Oh, of course, that makes sense.  (That's the hostname mapping to `127.0.0.1` we use for some testing).  We should be able to fix that.

[2019-06-18 04:23] thedeveloperr commented on #12601
@zulipbot claim

[2019-06-18 04:24] thedeveloperr commented on #12424
@zulipbot claim

[2019-06-18 10:30] keshav234156 commented on #12508
@carpecodeum are you still working on this issue?

[2019-06-18 13:10] carpecodeum commented on #743
do you still need this?

[2019-06-18 20:14] mlncn commented on #10886
See also #12594

[2019-06-18 20:24] kfogel commented on #9232
I can file a new issue for this if one is warranted:

Is it deliberate that one -- and by "one" I mean "someone with admin privileges on the stream in question" -- can set this new setting at stream-creation time but **not** afterwards for that stream?  The latter seems like a pretty important use case.  It's affecting a stream in our Zulip instance right now.

[2019-06-18 20:36] mlncn opened #12607 "Allow a global search autocomplete of topics and/or list topics across all streams somewhere"
When within a stream, if you type `topic:` in the search bar it will start listing topics.  (Actually, if you type a space (" ") it does an even nicer listing.)

Unfortunately, this does not work in global, cross-stream search: you have to type in the topic precisely (with + instead of spaces) to even search a specific topic, and you cannot see what is available at all.

It would be useful to be a

[2019-06-19 00:36] ECreates commented on #12555
@zulipbot abandon

[2019-06-19 00:49] andersk commented on #8933
Yes. (For the logs: #11792.)

[2019-06-19 00:49] #8933 closed

[2019-06-19 01:04] andersk commented on #12505
I kind of wish we’d fix the [broken HTML](https://validator.w3.org/nu/?doc=https%3A%2F%2Fzulipchat.com%2Fhelp%2Flogging-out) this generates (#12186) before using it more widely.

[2019-06-19 15:04] pragatiagrawal31 opened #12609 "Make table-based widgets ("users", "linkifiers") easy to sort."
Initially, the table-based widgets like “users”, “linkifiers” etc. are all unsorted.
In order to meet modern expectation, we need to add support to sort these widgets according to each column like sorting by names, user roles, last active status of users etc.

[2019-06-19 16:23] cedewey opened #12611 "feature request: Add settings for font size and/or info density"
I find the default font size to be too small, especially for longer messages. I suggest having a setting in the "Display Settings" to set the font size. This would also make it more accessible to people with more limited vision.

[2019-06-19 16:31] mlncn commented on #12611
Related: https://github.com/zulip/zulip/issues/5010

[2019-06-19 17:46] rishig opened #12613 "support: Add ability for server admin to change realm subdomain."
We fairly frequently get requests from org admins who want to change their subdomain.
Right now the process is
[code]

and then running `scripts/setup/flush-memcached`.

It would be great to get this to a place where we could run it from a management command, and then `/activity/support`.

[2019-06-19 18:11] rishig commented on #11422
Adding a priority label, since I don't think this is easy to fix in post. (I.e. I think it'll be hard to fix analytics for realms that are imported before this is done.)

[2019-06-19 22:59] timabbott commented on #12613
This should use `do_change_realm_subdomain` rather than manually changing the value; we have plans to send a special notification to help mobile and desktop apps auto-update, and that work will go through that function.

(I would also consider skipping the management command and going straight to /activity/support)

[2019-06-20 06:08] daschuer commented on #12071
It is really a pity that we now have a solution, but I am not able to set it.
I have looked everywhere. Is it a server side setting?

[2019-06-20 09:28] gnprice opened #12614 "Highlight on alert word isn't colorblind-friendly, in night mode"
@jmandel reports as zulip/zulip-mobile#3531 that text highlighted because of an alert word is unreadable for him, in night mode. This is true both on web and mobile. (What we have in light mode is fine, though.)

/cc also @ishammahajan who helped figure out what was going on.

We should choose a background (or foreground/background pair) that makes the text readable.

Whatever we do can be origina

[2019-06-20 11:36] vinitS101 opened #12615 "message view: Show edit history for a message when a user clicks on it's EDITED tag."
As discussed [here](https://chat.zulip.org/#narrow/stream/101-design/topic/%28EDITED%29.20Tag.20on.20Messages/near/756772), it would be a lot more intuitive design-wise for the `(EDITED)` tag, to the left of messages, to show the edit history for that message when a user click on it.

[2019-06-20 15:22] ab1nash commented on #11662
@rishig It would be great if you could review this PR

[2019-06-20 15:40] ab1nash commented on #12274
@zulipbot claim

[2019-06-20 15:56] rishig commented on #12615
As noted in the thread, we'll also want an on-hover darkening of the EDITED tag.

[2019-06-20 16:01] vinitS101 commented on #12615
I'll work on this.

@zulipbot claim

[2019-06-20 17:11] vrozkovec commented on #10209
I would also welcome this feature. Using Zulip on linux and also in the browser, I would welcome if you could just click with the mouse to scroll to bottom.
Now you have to either use wheel repeatedly or learn yet another shortcut but that also means you need both hands now.
Thanks for consideration.

[2019-06-20 18:12] #12394 closed

[2019-06-20 18:14] timabbott commented on #12071
@daschuer it is available there; the way this works is you need to modify the email address to include an extra token.  We haven't posted the documentation for that yet here because we're planning to change the token, and we figure it's better to just have you modify your configuration once.  @mateuszmandera can point to the PR where we're doing that naming migration.

[2019-06-20 18:46] timabbott opened #12617 "Use CSS variable names for common colors"
I did an extremely hacky check for what colors appears a lot of times in our CSS codebase; I think probably the colors that appear more than 10 times could usefully be replaced with SCSS color variable names:

[code]

Before we can usefully work on this, we'll need to think about naming conventions.  E.g. I can imagine things that are about the color itself, like `$color_black`, or things about th

[2019-06-20 19:50] alexandraciobica commented on #12566
I made a list with the pages that need work on. I think some of the pages need to use the same system as help, but others (mostly the ones that are in the nav) need to have the same style as the homepage. I think it looks wired if some of the pages in the menu look in a way and some in another way.

Same style as homepage (I think this involves migrating the pages to html, not using markdown anymo

[2019-06-20 19:57] vrongmeal commented on #12617
Yeah, if some element has the color black then to keep design consistent we can set the value of `$color_elem: $color_black`. If we wanted to change the black or even the color of that element it would simply be a one-line change.

[2019-06-21 07:20] aero31aero opened #12621 "Typeahead Cursor Position Bug"
This issue has been discussed in https://chat.zulip.org/#narrow/stream/9-issues/topic/user.20typeahead.20regression.3F.

When you press enter on a typeahead and start typing, your cursor is placed at the end of the textbox, whereas we want it to be placed at the end of the typeahead immediately. This causes some characters to appear at the end of the message before you again get to typing where yo

[2019-06-21 10:11] EBoisseauSierra commented on #12325
@timabbott any update on that? I'd gladly have a look at it myself, but could you please point me towards the right direction then? (I.e., where to find the relevant code I'd want to edit)

[2019-06-21 10:16] mateuszmandera commented on #12071
For now the PR is https://github.com/zulip/zulip/pull/12512 - just renaming "include-footers" to "include-footer".

@daschuer You just need to add +include-footers (+include-footers if this ends up being changed) in the email address before the @. So now you're sending to something like
`` stream_name+<stream_token>@yourdomain.com ``
change that to
`` stream_name+<stream_token>+include-footers@you

[2019-06-21 16:31] YashRE42 commented on #12524
@zulipbot claim

[2019-06-21 18:46] timabbott commented on #12566
Yeah, I meant things like /for/open-source as the friends of /why-zulip, not a separate page :).

On the front of HTML vs. markdown, I really want to keep those content-heavy pages written using  markdown for the bulk text sections; it takes like 5x as much effort and energy to do edits to a raw HTML page as a Markdown page for folks like me who primarily work on making sure the content is right.

[2019-06-21 19:11] johnstewart commented on #5099
+1 Leaving or muting private threads would be valuable.

[2019-06-21 19:11] TheFiche commented on #5099
I would add being able to confirm or deny requests to be added to a group private chat?

[2019-06-21 19:11] johnstewart commented on #11570
+1 Customization of initial settings would be valuable.

[2019-06-21 20:38] YashRE42 commented on #12524
admins can always change their email, regardless of settings, it's probably best if the docs say "prevent non-admin users" or something similar.

[2019-06-21 22:13] timabbott commented on #12593
@richardhoyt interesting!  Assuming this reproduces, this is definitely a bug we want to fix.  @thedeveloperr do you have time to investigate this?

I'm guessing we're using an `access_user_by_` type function in the search backend and not allowing deactivated users in the check.

[2019-06-21 22:14] rishig commented on #12493
As followup, we should then remove this typeahead from the compose box.

The context is at https://chat.zulip.org/#narrow/stream/137-feedback/topic/github.20auth/near/757778

[2019-06-21 22:15] timabbott commented on #12588
@mlncn thanks for the report!  https://github.com/zulip/zulip/issues/4627 is the existing issue for this (which I think @aero31aero had plans to work on soon).

In the meantime, I think you can configure the `zulip/zulip#1234` style syntax.

[2019-06-21 22:17] timabbott commented on #12572
@ghbjklhv there is already https://zulipchat.com/integrations/doc/matrix, which has the same functionality as some of the bridges documented on that page.

[2019-06-21 22:17] #12572 closed

[2019-06-21 22:40] mlncn commented on #4627
Oh cool!  I missed this ticket (pre-dated the term Linkifier i guess, so didn't come up in search), but i proposed another approach for the same idea— rather than Stream-specific URL filters (linkifiers), i suggested tokens that could be defined globally and then set and used per-stream, for much the same effect, in #12588

[2019-06-22 08:08] thedeveloperr commented on #12593
@zulipbot claim Sure I am looking at it and will update the cause here.

[2019-06-22 09:39] thedeveloperr commented on #12556
@zulipbot I am still working on it. Exploring the codebase and PR of steve

[2019-06-22 13:13] thedeveloperr commented on #12593
@timabbott I couldn't reproduce in local dev. server with default configurations and settings. Is there any special settings in which this occurs ?
@richardhoyt Please provide any screenshots or more detailed scenario so that I can exactly try to reproduce. For eg. did you search from All messages Narrow ? What were the filters in the search bar?

[2019-06-22 13:31] thedeveloperr commented on #12593
**UPDATE**: @richardhoyt @timabbott  I was able to reproduce it, I was looking at individual PM not groups. So it happens for searching in a group PM

**The following doesn't work**
Eg. for narrow: `pm-with:aaron@zulip.com,hamlet@zulip.com,polonius@zulip.com%2Bbirds`
here aaron and hamlet both were deactivated.

Attached Screenshot of error.
<img width="1220" alt="image" src="https://user-images.g

[2019-06-22 15:19] rishig opened #12629 "invite: Accepting an invite should revoke any other live invitations."
To repro:
* Send two invitations to an email address
* Accept one of them

The second one still shows up in the admin invitation panel.

[2019-06-22 18:14] rmutalik commented on #7549
@punchagan I also found a solution for this issue. Why did you not change the url_to_a function, since that directly set the title of the video?

[2019-06-22 19:00] rishig opened #12630 "realmauditlog: Add entries for all administrative actions."
This is a bit of debt that we should start paying off. We've already gotten one request for a piece of information (who deleted a stream) that wasn't in `RealmAuditLog`.

The steps here are
- [ ] Make a list of administrative actions that aren't in realmauditlog. This may be stuff around streams (creation, deletion, changing stream name, etc), invitations, user groups, bots, settings, etc. (Probab

[2019-06-22 22:38] YashRE42 commented on #12524
![name-settings](https://user-images.githubusercontent.com/33805964/59969516-7ac13600-956c-11e9-9d98-da98782215c3.gif)

[2019-06-23 14:19] thedeveloperr commented on #12593
https://chat.zulip.org/#narrow/stream/9-issues/topic/.2312593.20DMs.20with.20deactivated.20users
Link for further discussion on fixing the bug.

[2019-06-23 15:56] YashRE42 commented on #12503
@zulipbot claim
So far this is looking a little tricky.

[2019-06-23 20:56] vinitS101 commented on #12615
I haven't had the time to even start working on this as planned because of some issues that needed fixing with some of my other PRs. I'll abandon this for now and come back to it if no one picks it up until then.

@zulipbot abandon.

[2019-06-24 04:27] #9876 closed

[2019-06-24 04:28] timabbott commented on #12565
The change for this was not meant to be merged and I backed out; see #12637 for a version that probably doesn't work in Docker (needs verification).

[2019-06-24 04:45] timabbott opened #12638 "Improve GitHub authentication handling of multiple verified emails"
Following #9977, our GitHub authentication backend has the following behavior:
* If the user has only one verified email address, we'll generally just log them in to that account
* If the user has multiple verified email addresses, we will always prompt them to pick which one to use, with the one registered as "primary" in GitHub listed at the top.  (One could imagine doing some special styling fo

[2019-06-24 05:55] timabbott commented on #12629
It should be relatively straightforward to cancel all invitations for a given realm/email address when a user successfully creates an account; I had thought we were already doing so.  It's worth checking whether there's a real-time sync issue here.

[2019-06-24 05:58] timabbott commented on #12629
Maybe this block of code is what's supposed to disable them?
[code]

It certainly doesn't have a `send_event` call, so at the very least we wouldn't update an existing browser window's "invites" view.

[2019-06-24 06:28] krotovkk commented on #12553
@zulipbot i'm still working on it!

[2019-06-24 10:24] Dbone29 commented on #11134
We don‘t expect to switch from  Nginx to Apache any  Timeline soon... so i will close this issue.

[2019-06-24 10:24] #11134 closed

[2019-06-24 16:34] rmutalik commented on #12274
@zulipbot claim

[2019-06-24 16:54] YashRE42 commented on #12507
@timabbott I'm trying to look into this, but I'd appreciate if you could give some suggestions about where the changes need to be, a similar commit to look at or the relevant functions would be helpful.

[2019-06-24 17:19] rishig commented on #12638
That design sounds good to me!

[2019-06-24 18:17] gloels commented on #10044
@zulipbot still working.

[2019-06-24 18:39] nanathlor opened #12640 "Invite users from LDAP"
Currently we have to invite users by email address, would it be possible to invite users by selecting them from a list of LDAP queried users?

[2019-06-24 19:21] #7032 closed

[2019-06-24 20:00] #11766 closed

[2019-06-24 20:15] #10592 closed

[2019-06-24 21:04] jjblack commented on #9957
@timabbott How would I go about using the API calls/functions in this file? They don't seem to be included in the `zulip` python package.

[2019-06-24 21:10] #12246 closed

[2019-06-25 00:26] #12208 closed

[2019-06-25 00:34] timabbott opened #12641 "Add `--fix` support to our HTML linter (tools/check-templates)"
Our HTML style linter, `tools/check-templates`, primarily focuses on the a consistent whitespace formatting.  My recollection is that it's structurally more like a pretty-printer attached to diff than a check-based linter, which means in theory we should be able to add support for fixing whitespace issues in `tools/lint --fix` through a relatively small tweak to `check-templates`.

https://github.

[2019-06-25 00:49] timabbott opened #12642 "Add upgrade-zulip-from-git support for installing a pull request ID"
We need to figure out syntax for this, but I think it should be possible to support passing a URL like https://github.com/zulip/zulip/pull/12636 to `upgrade-zulip-from-git`, have it parse the URL into the right Git repository and `git fetch` command to get that ref (maybe borrowing some code from `reset-to-pull-request`), and then we can have a super slick workflow for asking users to test our the

[2019-06-25 00:52] timabbott commented on #12642
See https://github.com/zulip/zulip/issues/10706 for some challenges related to this.  @punchagan FYI since you were just in this code.

[2019-06-25 01:03] #12472 closed

[2019-06-25 01:18] timabbott commented on #12640
@nanathlor that could be a cool feature; we'll need to think about how to make a good version of such an integration.

[2019-06-25 01:20] timabbott commented on #10044
Some of those endpoints may have data in `zulip-2.0.yaml` that we can copy over; it's worth checking.  For #10342, I think we got bogged down in writing a description for what the actual flags are in a sane fashion.  Let me see if I can get that integrated.

[2019-06-25 01:24] tarang93ch commented on #9473
@zulipbot claim

[2019-06-25 05:26] timabbott commented on #9957
@jjblack just to check, is what you're looking for syncing Zulip streams with LDAP, or user groups (which are just groups of people you can mention) with LDAP?  This issue is just for the "user groups" feature.

[2019-06-25 05:33] timabbott commented on #12507
@YashRE42 I would guess this function in `composebox_typeahead.js` is what does the typeahead:
[code]

[2019-06-25 06:29] timabbott commented on #12325
@EBoisseauSierra no update; https://zulip.readthedocs.io/en/latest/subsystems/markdown.html should have all the background you need for looking into this.

I expect @aero31aero will get to this sometime this summer if you don't.

[2019-06-25 07:59] cb0n3y opened #12646 "A lot of LDAP Requests ....."
We have some issues with Zulip right now. We have a lot of LDAP Requests on the firewall even though LDAP is completely off. Any suggestion why this could happen?

[2019-06-25 08:15] nanathlor commented on #12646
Could you have a cron job running an LDAP query from the Zulip server?

[2019-06-25 09:02] stone212 commented on #12345
@timabbott I'm still really looking forward to an answer.  Half-answers and long delays in replying to fairly simple questions is why this is taking so long.

[2019-06-25 11:02] nanathlor commented on #10970
If possible, having a "Contractor" account with current Guest rights and a new Guest account who can't see other guests (optionally can/can't in the subscribed stream) would be very cool.

[2019-06-25 11:03] keshav234156 commented on #12553
@zulipbot claim

[2019-06-25 12:58] gnprice commented on #12614
(One note: the highlight doesn't have to be just colors. E.g., the highlighted span might have an underline, or a border -- or some other solution! That helps make the information of the highlight itself accessible... and it may take some of the pressure off the background color to be bold and bright.)

[2019-06-25 13:32] aero31aero commented on #12325
@zulipbot claim

[2019-06-25 14:14] jjblack commented on #9957
@timabbott I am looking for a way to sync Zulip user groups with LDAP groups.

[2019-06-25 14:21] kewball commented on #5404
Newbie here. I don't care if it's a toggle action or a button, or a keystroke;  in order to see the forest of streams, I need to hide the trees in a single stream. As it is, the UX is counter-intuitive. Indeed, one is reminded of that cautionary message in Ghostbusters...

[2019-06-25 14:33] kewball commented on #5404
Never mind: I finally clicked on "All Messages"

[2019-06-26 01:54] kfogel opened #12647 "Stream settings right-side pane cannot scroll to bottom on small screen."
This is in Zulip 2.0.4.

While on my laptop, with its vertically small screen,  I wanted to invite a new member to a private stream named "Red Bean".  As the attached screenshot shows, on the right pane of the Stream Settings, I could not scroll the settings down to the part where one invites members -- I tried arrow keys, focus tricks, everything, but there was no way to get down there.  It was u

[2019-06-26 04:14] timabbott opened #12648 "chat.zulip.org planned downtime"
Following up on #12470, we're starting downtime for the final migration of chat.zulip.org away from Ubuntu Trusty discussed in #12470.  Updates will be posted here.

[2019-06-26 04:23] timabbott commented on #12648
Downtime began a few minutes ago; the upgrade is proceeding well.

[2019-06-26 04:51] timabbott commented on #12648
The upgrade is nearly complete.

[2019-06-26 04:53] kfogel commented on #12647
(Tried to add `area:stream settings` and `bug` labels, but don't have perms for that.)

[2019-06-26 04:54] timabbott commented on #12648
chat.zulip.org is back up, now on Ubuntu Xenial.

[2019-06-26 04:54] #12648 closed

[2019-06-26 18:24] timabbott commented on #10970
Yeah, we're planning to build something of that form.  There's a reasonable amount of complexity to making that change, because our frontends currently assume that they know about users who might send a message, so don't expect it soon.

In the meantime, @rishig we should probably add one of our nice `?` help links here pointed at our docs on how guests work (https://zulipchat.com/help/roles-and-p

[2019-06-26 18:38] timabbott commented on #12646
@cb0n3y can you paste in the LDAP-relevant parts of your `/etc/zulip/settings.py`, and make sure you've restarted your Zulip server since the last change to that configuration?  It seems very likely that LDAP is not in fact completely off.

[2019-06-26 18:44] timabbott commented on #12647
@kfogel can you try reproducing on chat.zulip.org?  We replaced the scrollbar system we use since 2.0.x, and I'm guessing we accidentally fixed this then.

(Also, I imagine zoom is an (annoying) workaround here?)

[2019-06-26 20:34] kfogel commented on #12647
Hi, @timabbott.  I was unable to reproduce the bug on chat.zulip.org, yay!  The stream settings window has a scrollbar on the right pane as well as the left.  I'll close this issue, as it seems like it's fixed.

(Good point re zoom, by the way -- I should have thought of that as a workaround.)

[2019-06-26 20:34] #12647 closed

[2019-06-26 23:03] timabbott commented on #12345
@stone212 you can look at `ZULIP_VERSION` in `/home/zulip/deployments/current/version.py` to check what version you're running; that works on any Zulip release since the beginning of time.

If you're running master, that's fine too; the fix was merged into both 2.0.4 and master at about the same time.

[2019-06-26 23:09] #5876 closed

[2019-06-26 23:34] timabbott commented on #12630
I think a reasonable way to do an audit of this is to look at `do_` functions in `zerver/lib/actions.py`.

[2019-06-27 00:12] timabbott commented on #12556
OK.  I think Steve's PR is less relevant and https://github.com/zulip/zulip/issues/12556#issuecomment-501101991 is what you need to understand to work on this.

For where the code actually marks things as read, it's:
* The call to `unread_ops.process_visible` in `message_scroll.js` (for when the bottom enters view)
* The call to `unread_ops.notify_server_messages_read` in `pointer.js` (for when yo

[2019-06-27 03:10] andersk opened #12655 "Install without PGroonga fails"
After #9506 unconditionally added `CREATE EXTENSION pgroonga;` to `scripts/setup/postgres-create-db`, and #12029 enabled `ON_ERROR_STOP`, the installer now fails when PGroonga is not enabled.

[code]

@timabbott [said](https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/test-install):

[2019-06-27 15:11] cb0n3y commented on #12646
@timabbott actually zulip is running on virtual machine and i have restarted the machine and also zulip itself but the problem persists.

[2019-06-27 15:26] JoeHO888 commented on #12277
So basically write a view which process the request via update_user_backend or deactivate_user_backend depends on PATCH or DELETE?

[2019-06-27 15:58] partap opened #12662 "UI makes it easy to accidentally delete drafts!"
Just trying out Zulip for the first time, and I accidentally deleted my very first message before finishing it...

I started on a message, then I clicked somewhere else (checking other topics, maybe) ...the message editor disappeared and it was saved in drafts.  Later I clicked on drafts to continue the message, saw it was selected and immediately tried to edit it...hit backspace to change the las

[2019-06-27 16:31] cb0n3y commented on #12646
@nanathlor i have to take a look at the crontab. As far as i can say i did not make any cronjob.

[2019-06-27 18:41] thedeveloperr commented on #12556
@zulipbot claim I still intend to work on it and am exploring it along with other issues so taking some time.

[2019-06-27 18:43] rishig commented on #12493
btw, @YashRE42 this could be a good small project for you, as you look at other typeahead stuff. (Small but high impact.)

Just to clarify, there are two parts -- adding the typeahead to the message edit topic field, and removing the typeahead from the compose topic field.

[2019-06-27 19:02] timabbott commented on #12662
Thanks for the report @partap!  We haven't heard similar reports from other users, and I'm not sure there's much we can do to address this without regressing the experience for non-first-time users, and I think it's likely that is a mistake users would only make their first time visiting the "drafts" UI.  So I'm going to close this as wontfix for now, since I don't think there's anything actionabl

[2019-06-27 19:02] #12662 closed

[2019-06-27 19:05] timabbott commented on #12646
@cb0n3y if you want help, can you post the which LDAP settings from your `settings.py` file you have enabled?  Also it'd be helpful to provide details for why you think your Zulip server is connecting to your LDAP server.

(The behavior you describe is not consistent with how Zulip works, so I'm guessing you're misunderstanding something about how you've configured Zulip).

[2019-06-27 19:27] alok opened #12739 "Can't select anything besides first item in dropdown autocomplete"
Not sure if this belongs here or on zulip/zulip, so feel free to close.

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS (10.13.6)
- **Clear steps to reproduce the issue**:
Go to the search bar by typing `/`, type something until a dropdown menu of results pops up, then use arrow keys to try and select anything. It always selects first item in dropdown.

Same with emoji

[2019-06-27 19:55] arthurpankiewicz opened #12663 "Bot handle_message get stream?"
Is there a way to get the stream (and topic) name in my custom bot?

The `message` param from `def handle_message` only seems to send the message content and sender.

Thanks

[2019-06-27 19:56] arthurpankiewicz commented on #12663
Turns out the `message` data is much more limited when using the zulip-bot-terminal

[2019-06-27 19:56] #12663 closed

[2019-06-27 22:20] #12391 closed

[2019-06-27 22:32] timabbott commented on #12655
We should just page `Dockerfile-postgresql` pass a `INSTALL_PGROONGA` type argument and check that for whether to run the `CREATE EXTENSION` code.  We don't need to run it except for the Docker postgres image.

[2019-06-27 22:35] timabbott commented on #12663
@arthurpankiewicz is there something we should improve in the documentation or tooling here to avoid future users being confused?

[2019-06-27 23:02] timabbott commented on #12614
We have not thought about the design for how `alert_words` are rendered in years, and I've never been happy with the color.  It's a pretty low-usage feature, which is a big part of why this setup has persisted (its biggest use case, mentioning a team, was replaced by the explicit user groups feature years ago).

In particular, I think the night theme is just using the same color that was picked ha

[2019-06-27 23:10] timabbott commented on #12611
There's work on this in https://github.com/zulip/zulip/pull/9769.

The workaround for now is to use the browser "zoom" feature, which works pretty well.

[2019-06-27 23:58] partap commented on #12662
Fair enough... my suggestion would be either to implement draft undelete or pop up a confirmation dialog (could be disabled in settings, but on by default) ...but I'm sure you guys have a lot of higher priority stuff to work on.

On the other hand, a quick fix would just be to *not* delete the draft on `backspace`?  The help says the shortcut key is `delete` ;)

[2019-06-28 02:25] wsupajirakit opened #12666 "I can't create user by cURL"
.

[2019-06-28 04:17] punchagan commented on #12580
@zulipbot Still working on it

[2019-06-28 04:31] #12666 closed

[2019-06-28 07:48] Dbone29 opened #12668 "Give permissions to a user within cli"
I'm currently trying to make a cron-job which promotes / demotes users daily to admin permissions. I found "./manage.py knight" command which doesn't work for a reason. It doesn't change any permissions. Is it a bug?

[2019-06-28 10:45] punchagan commented on #10135
@zulipbot still working on it

[2019-06-28 12:43] arthurpankiewicz commented on #12663
@timabbott maybe just a line [here](https://zulipchat.com/api/writing-bots#testing-a-bots-output) that mentions the message param does not have all the data that you get when running in a production version of zulip :)

[2019-06-28 13:40] arthurpankiewicz opened #12669 "Running botserver for local development"
I'm trying to setup an environment where I'm able to run a bot locally for either
- zulip development(vagrant)
- zulip produciton

My current workaround was pulling the zulip `python-zulip-api`, placing my bot in there, and using either the `zulip-run-bot <bot>` command or interacting via the `zulip-terminal`

I'd like to manage my bot separately in my git, without the need for all the extra bots/

[2019-06-28 14:54] YashRE42 commented on #12493
I'll put this on my list but I'll work on it after getting a bit of progress on that stream-member-list.

@zulipbot claim

[2019-06-28 16:53] alexandraciobica commented on #12566
Agree with this, I didn't think about it when I proposed migrating the Markdown page to HTML. It makes more sense to keep it in Markdown.

It does make sense. I'm not sure though if the same font size will look good for both (I tried it a bit, I'll try again, maybe I find a middle way)

I didn't understant exactly what you meant with the code.

Should I create another issue for this?

[2019-06-28 17:19] timabbott commented on #12668
@Dbone29 that command will work, but note it requires a `-f` option to actually make changes.
[code]

Do you use our LDAP integration?  It's possible we should handle this issue by adding support for syncing the administrators with an LDAP group, or something.

[2019-06-28 17:34] #12450 closed

[2019-06-28 19:09] timabbott opened #12671 "Extract a dedicated documentation page for email gateway setup on ReadTheDocs"
In 3a6cc4214ff6677a2a8874deaef7f7e8b1d79dc0, we added a link to the documentation on how to setup the email mirror in our missed-message emails on server that don't have it setup.  That link is pretty poor, because most of the docs actually live in `prod_settings_template.py`.  We should extract that documentation from that settings file to a proper section in ReadTheDocs, and link to it both from

[2019-06-28 19:17] timabbott opened #12672 "Follow-ups to migration of missed-message email format"
In #11465, we migrated the format of Zulip's missed-message emails to something much lighter (somewhat inspired by GitHub's email notifications of comments), with a focus on just showing the content users care about, and not other clutter.  There's a bunch of further improvements we want to make here.  The critical priority ones are the following:

* [ ] We should say in the footer why you're gett

[2019-06-28 23:51] Arpitpundir commented on #12186
is somebody working on this, if not i can try as my, pr(https://github.com/zulip/zulip/pull/12657) is dependent on this issue?

[2019-06-29 00:08] timabbott commented on #12193
@hackerkid now that Trusty is gone, we should be able to upgrade this.

[2019-06-29 00:09] timabbott commented on #12192
@aero31aero @PentaHiggs this could be a good project to pick up, now that Ubuntu Trusty is removed as a supported platform.

[2019-06-29 00:30] cbondurant commented on #4676
@zulipbot claim

Wanna give this another shot

[2019-06-29 09:54] Dbone29 commented on #12668
I'm using Apache SSO and Apache uses LDAP and Kerberos. But Permissions aren't syncing with the LDAP-Server. When I will test it again on Monday. I have used the command with -f and I got a "Done!" as result. No permissions were changed ...

[2019-06-29 18:26] natejangeles commented on #12553
@zulipbot claim

[2019-06-29 18:40] Arpitpundir commented on #12505
As my previous prs are no good, I would be glad if somebody could give some direction around which I can work?

[2019-06-29 19:35] robitalec commented on #295
A note for others until this feature is added: I just changed my name under Settings/Full name to "away until July 1 -- Alec". This means any other user who sends me a PM or looks for me in the user list will see I'm not around. Worked for my specific case of "I will be absent from my computer until some date"..

![](https://user-images.githubusercontent.com/16324625/60388714-4a94fe00-9a6a-11e9-95

[2019-06-30 00:17] thedeveloperr commented on #10385
@zulipbot claim My PR regarding this issue is pending for review.

[2019-06-30 02:37] rishig commented on #295
I haven't read the thread carefully, but I believe much of this has been resolved in https://zulipchat.com/help/status-and-availability.

One thing that's being actively worked on is showing users' statuses more prominently.

[2019-06-30 06:14] keshav234156 commented on #12615
@zulipbot claim

[2019-07-01 03:04] vrongmeal opened #12685 "Things are not initialized in case of scroll-bar width when 0."
Fluid width option isn't initialized when scroll-bar width is set to `0`. This is a concern since on macOS there is an option to hide scrollbar. Similarly for positioning of `#keyboard-icon`, no default has been set. So when the scroll-bar width is `0` it positions itself in a weird way. Need to figure out and test this for everything inside this code-block in `scrollbar.js`:
[code]

Things should

[2019-07-01 04:37] snowe2010 commented on #12685
https://github.com/zulip/zulip/pull/12683

[2019-07-01 04:50] snowe2010 commented on #12617
I'd like to work on this. Is it fair to say that high usage colors like black, white, gray, etc should be called something like what @vrongmeal said, and the rest should be named on their usage?

[2019-07-01 05:08] snowe2010 commented on #12617
And to clarify, we want to replace _only duplicates_? Or all hsl values? I'd suggest extracting duplicates to a global color file and non-duplicates just to the top of their respective files. This way they give some context to the naming, while also allowing them to be easily extracted later for reuse if needed.

[2019-07-01 06:26] timabbott commented on #12617
Great! I think for now we should just replace the duplicates with 10+ copies I listed above; might be worth doing a proposed list of names for the above list of colors before making any changes just because redoing the names is about as much work as doing the thing in the first place.

For colors that only appear once, we'll want to look at whether it should actually be another commonly used color

[2019-07-01 07:24] Dbone29 commented on #12668
zulip@zulip-test:~/deployments/current$ ./manage.py  knight "MY EMAIL"  -r zulip
The realm '<Realm: zulip 1>' does not contain a user with email '"MY EMAIL"'
zulip@zulip-test:~/deployments/current$ ./manage.py  knight "MY EMAIL" -r UPB
There is no realm with id 'UPB'. Aborting.
zulip@zulip-test:~/deployments/current$ ./manage.py list_realms
id    string_id            name domain
--    ---------

[2019-07-01 07:29] Dbone29 commented on #12668
[test.log](https://github.com/zulip/zulip/files/3344356/test.log)
This is Watt I have tried.

[2019-07-01 08:44] EBoisseauSierra commented on #12325
@aero31aero I've started working on it on [this branch](https://github.com/EBoisseauSierra/zulip/tree/issue/12325-support-underscore-for-markdown-emphasis). I'll submit a PR once I've worked my way through tests and documentation.

[2019-07-01 11:42] cbondurant commented on #4676
After looking through the current python docs for versions 3.5 and 3.6, as these are the two currently supported versions to my knowledge, I have noticed that while in 3.5 the referenced RFCs are rather old targets, python has re-targeted in 3.6 to support the very RFCs that are referenced here in this issue.

My first instinct in this case would be that we should put this ticket on-hold. The hope

[2019-07-01 13:15] aero31aero commented on #12325
Ah, that's looking quite like what I had done so far. You might want to also change the regexes for both `em` and `strong` in the same PR as well, since if we're turning one of them back on, we should turn both of them.

I'll be happy to assist you in case you run into any issues.

PS: I had created https://github.com/aero31aero/zulip/pull/3 so far and was cleaning and simplifying it, in case you

[2019-07-01 13:23] vinitS101 commented on #11878
@zulipbot claim.

@HarshitOnGitHub, is there any previous work on this that I could work off of?

[2019-07-01 16:10] EBoisseauSierra commented on #12325
@aero31aero will definitively appreciate help and guidance (:
I've added tests.
However, despite back-end being fine, I'm struggling to have a correct rendering on the front-end (it echoes something like "*fo" when I post `*foo*`).

[2019-07-01 19:17] snowe2010 commented on #12617
I think something might be up with how that command is counting, because it's missing out on a ton of instances.

for example:

[code]

I noticed this because webstorm is finding hundreds more than what the script is telling me should exist.

[2019-07-02 04:25] jabagawee commented on #10776
I am experiencing the same issue without Kubernetes, but instead with a Docker Swarm deploy. What would be the best information to get to people trying to debug this issue?

[2019-07-02 10:12] hermespecter commented on #276
I've set max_upload_size to 25MB. But still file size above 10 MB is throwing error.

[2019-07-02 16:09] FlorianLudwig commented on #11440
Is this really the case?  I get: "This meeting has been updated to use Hangouts Meet. Contact the organizer for new joining details" when clicking on a video call link from zulip.

[2019-07-02 17:13] gloels commented on #10044
Endpoints /user_groups/create and /user_groups/${id} have been documented, see PR #12633

[2019-07-02 18:06] ab1nash commented on #6040
@zulipbot claim

[2019-07-02 22:12] timabbott opened #12695 "Upgrade jquery-autosize library to a modern version"
See https://github.com/zulip/zulip/pull/3227 (search for "autosize") for some discussion of the issues around doing so (upstream has changed their API).

@refeed @tommyip @andersk FYI.

[2019-07-02 22:20] timabbott commented on #10532
Closing this as never reproduced and likely fixed upstream by Chrome.

[2019-07-02 22:20] #10532 closed

[2019-07-02 22:39] eeshangarg commented on #12186
@Arpitpundir: This issue hasn't been claimed, no! So feel free to work on this. :) Thanks!

[2019-07-02 22:45] timabbott commented on #10776
@jabagawee from a Zulip perspective:
* We've never had a similar issue reported outside Kubernetes/Docker Swarm, so it's very likely an issue with how the container overlayer network works.  I'm not an expert on how networking is configured for those systems.
* Processes in Zulip expect to be able to open a connection to the RabbitMQ server and keep it open indefinitely as they exchange events.  F

[2019-07-02 22:49] timabbott commented on #12685
Fixed via #12683.  @snowe2010 next time, please include `Fixes: #12683`  in your commit message so the issue gets auto-closed on merge.

[2019-07-02 22:49] #12685 closed

[2019-07-02 23:33] whiteops-github commented on #9756
Another useful way to possibly handle this with Group Messages is where say a participant is added to a group message and then it is determined that they are no longer needed in that thread. A way to remove a participant from the group message might be useful in this case and then just keep removing people until there are none left and then delete the group chat itself.
Just a thought as I've had

[2019-07-03 00:10] timabbott commented on #276
@hermespecter if I had to guess, something in your organization's firewall/network configuration is limiting the maximum size of things that can be uploaded.

[2019-07-03 00:56] #12381 closed

[2019-07-03 03:46] snowe2010 commented on #12685
Ok, will do, but the issue was created after I made my pr 😉

Next time should I create an issue first if one doesn't exist? I just thought I'd make the PR and skip the issue creation.

[2019-07-03 05:22] aero31aero commented on #12505
@Arpitpundir this documentation is to be written from the perspective of a documentation writer, not the end user. Take a look at [this section](https://zulip.readthedocs.io/en/latest/subsystems/markdown.html) for an example where we tell our doc writers how certain syntax works.

In this case, it would be fair to write something on the lines of:

---

# Tab Switcher

Our markdown processor suppor

[2019-07-03 08:10] aero31aero commented on #12186
The bug is that the `RawHtmlPostProcessor` in python-markdown puts the raw html in the final message as: `"<p>%s</p>" % (self.md.get_html()`. For us, we have two html blocks:

[code]

We need to subclass the RawHtmlPostProcessor for the engine we make in `app_filters.py`.

[2019-07-03 08:31] stone212 opened #12704 "Backup/Restore produces Bad Request (400)"
After completing this thread: https://github.com/zulip/zulip/issues/12345

Now attempting to do a backup/restore migration to a new Zulip server using https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups

After creating a new Zulip installation (2.0.4) and using an updated source Zulip, I run through backup/restore process.  I see no errors.  For example `/home/zu

[2019-07-03 08:32] stone212 commented on #12345
@timabbott

This worked.  I did not see anything about `version.py` in the docs so thank you for telling me this.

Now it is correct for this issue to be closed. New Issue: https://github.com/zulip/zulip/issues/12704

[2019-07-03 09:09] cb0n3y commented on #12646
@timabbott @ You were right. I took a look on the firewall after restarting zulip and the requests are gone. Thank you.

[2019-07-03 09:09] #12646 closed

[2019-07-03 11:00] ashutosh-b-b commented on #12553
@zulipbot claim

[2019-07-03 13:49] pranav-kirsur commented on #12274
@zulipbot claim

[2019-07-03 14:03] mateuszmandera commented on #12671
@zulipbot claim

[2019-07-03 14:45] pranav-kirsur commented on #6040
@zulipbot claim

[2019-07-03 15:06] pranav-kirsur commented on #6040
Could you please clarify what the scope of the issue is?
Does it mean showing up in @mentions or does it mean something else?

[2019-07-03 17:05] ab1nash commented on #4145
@zulipbot claim

[2019-07-03 17:31] ab1nash commented on #4145
Just an idea:
What if we just remove this arrow to stop complicating things?
![issue4145zulipex](https://user-images.githubusercontent.com/41019632/60612429-33e20480-9de6-11e9-9347-81713e6bf9a8.png)
And instead, we could add some feature like the message getting shadowed or something of the sort
This isw keeping in mind the following:

[2019-07-03 17:40] ab1nash commented on #4145
Otherwise, I'm just going to try and do this:
![#2_issue4146initialsugg](https://user-images.githubusercontent.com/41019632/60613037-b61ef880-9de7-11e9-9a37-7adc8ca1770f.png)

[2019-07-03 18:20] timabbott commented on #12704
Did you change the domain of your server after restoring the backup?  If so, you'll need to edit the `EXTERNAL_HOST` configuration.

[2019-07-03 19:17] timabbott commented on #6040
I removed the "good first issue" label; this issue is actually fairly deep.

[2019-07-03 20:42] timabbott commented on #12186
Oh, nice debugging.

[2019-07-03 21:34] timabbott commented on #693
This was resolved via 079ddae4c84cabb3d51fd88b93e5afdfd76c8111.

[2019-07-03 21:34] #693 closed

[2019-07-03 22:07] #12192 closed

[2019-07-03 22:31] #12593 closed

[2019-07-03 22:31] #12601 closed

[2019-07-03 22:40] timabbott commented on #12685
No need to make an issue if the commit is clear, but if an issue does get created, you should update the PR to link to it in both commit message and PR description.

[2019-07-03 22:46] snowe2010 commented on #12617
@zulipbot claim

[2019-07-03 23:41] #12503 closed

[2019-07-04 00:09] stone212 opened #12709 "Can not delete messages after upgrade"
1. Upgraded from git (master) on 03 July 2019 `./upgrade-zulip-from-git master`  I did not see errors but now I think there were errors (see https://github.com/zulip/zulip/issues/12710)

2. It was necessary to to a `restart-server`

3. Zulip came up and seemed good.

4. Later tried to delete a message and received this error:

![zulip-can-not-delete](https://user-images.githubusercontent.com/26020

[2019-07-04 00:10] stone212 opened #12710 "upgrade-from-git master fails 03 July 2019"
`./upgrade-zulip-from-git master` fails on an Ubuntu 18.04 system using pgroonga which was working well previously.  Command fails with this error:

[code]

So I re-started manually:

[code]

Zulip server re-starts but with this error: https://github.com/zulip/zulip/issues/12709

EDIT: I received this traceback message:

[code]

[2019-07-04 00:21] stone212 commented on #12704
@timabbott No I did not change the domain (but I agree that should be in the docs - and it is extra complicated when using LE certificates but I think I have it figured out).

I think the problem may be that I was not actually on Zulip 2.0.4 on the old server based on this traceback message:

[code]

So this process/Issue is on hold again and the priority should be https://github.com/zulip/zulip/i

[2019-07-04 03:47] ab1nash commented on #4145
@lonerz it would be great to have your input on this too

[2019-07-04 03:58] timabbott commented on #12710
It looks like your upgrade failed before running migrations as part of the upgrade process in that first step; I wouldn't expect any of the later things to work given that your code and database are in an inconsistent state.

Can you provide the rest of the context around that first traceback?  That's the actual problem here.

[2019-07-04 03:59] timabbott commented on #12709
This definitely a duplicate of #12710 (you can't delete messages without the latest database migrations for that feature, which is clearly not present based on the output in #12710).

[2019-07-04 03:59] #12709 closed

[2019-07-04 04:00] timabbott commented on #12710
`/var/log/zulip/upgrade.log` should have the key details if you don't have them still handy in a shell.

[2019-07-04 04:04] snowe2010 commented on #12617
Initial color tests, just to figure out what to even name the variables:

[code]

We have no fewer than 9 different grays in the codebase. I think we could combine quite a few of them into one or two grays. Trying this out seems to look almost the same.

[code]

[2019-07-04 04:10] timabbott commented on #12704
OK great.  This is pretty clearly the EXTERNAL_HOST issue; just merged a quick docs commit to address it.  Let me know if anything can be improved in the new text here: https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#restoring-backups

Thanks for the report @stone212!

[2019-07-04 04:10] #12704 closed

[2019-07-04 06:14] stone212 commented on #12710
@timabbott

By "migrations" you don't mean https://github.com/zulip/zulip/issues/12704 right?  You mean something internal to the normal upgrade script.  Correct?

Right I agree.

I received it about 5 minutes after running the upgrade and `restart-server`.

Did you see in my original comment I posted the failed output from the upgrade?  That has one error but I see more in the log.

If you are in

[2019-07-04 06:18] stone212 commented on #12704
@timabbott

What?  The EXTERNAL_HOST has not been changed.  It is correct.  So this issue is not resolved.

I think this Issue is because I restored a backup of a badly upgraded primary server.  So I want to focus on https://github.com/zulip/zulip/issues/12710 first.

[2019-07-04 08:17] pranav-kirsur commented on #6040
@zulipbot abandon

[2019-07-04 08:46] pranav-kirsur commented on #8631
@zulipbot claim

[2019-07-04 12:03] JasMich opened #12715 "[feature-request] Delete private messages"
In my Zulip, I have much to much private (individual) conversations. It's just a mess.

I am missing a feature to just delete a hole conversation with another user.

For that, I see different solutions:

## 1. First user can delete hole conversation
If User **A** deletes the individual conversation, it will be deleted at **B** as well.

If they later start to chat again, a fully new (*empty*) conv

[2019-07-04 13:28] hackerkid commented on #12672
@timabbott @rishig By this you mean make the subject of mention emails same as that of stream emails/pm emails right? The only difference with a normal email and mention email would be in footer. Did I get that correct?

[2019-07-05 02:25] timabbott commented on #12672
Yes

-Tim Abbott (mobile)

On Thu, Jul 4, 2019, 6:28 AM Vishnu Ks <notifications@github.com> wrote:

[2019-07-05 04:47] stone212 commented on #12710
@timabbott I ran upgrade again on 5 July and the server comes up with no errors and I do not have the same UI problem now (https://github.com/zulip/zulip/issues/12709)

[2019-07-05 04:47] #12710 closed

[2019-07-05 04:48] stone212 commented on #12709
@timabbott

Not really a duplicate but a child Issue.  Anyway https://github.com/zulip/zulip/issues/12710 is closed and this error went away *as a result*.

[2019-07-05 08:49] Dbone29 commented on #12668
Do you need more information?

[2019-07-05 12:58] ruchit2801 commented on #12424
@timabbott, after the introduction of primary admin, It would not be required to check for the last admin. We've implemented a primary_admin feature in such a way that, always, there would be **exactly one** primary admin. And no one can remove primary admin ( even primary admin himself can't. He needs to transfer this status first if he wants to remove himself or change his role). Primary admin h

[2019-07-05 14:50] snowe2010 commented on #12617
@timabbott 	@vrongmeal 	thoughts?

[2019-07-05 16:03] mateuszmandera commented on #12671
Posted a PR: https://github.com/zulip/zulip/pull/12720

[2019-07-05 18:19] snowe2010 commented on #8631
@timabbott 	looks like this issue should be closed, referencing the discussion in #10659.

[2019-07-06 00:08] thedeveloperr commented on #12424
@zulipbot claim

[2019-07-06 00:56] snowe2010 commented on #6605
@zulipbot claim

[2019-07-06 17:25] ab1nash commented on #4145
Probably will not go with this because as mentioned before in discussions, this seems to be core bootstrap logic and it is ideal not to tinker with it.
Discussion thread here:
https://chat.zulip.org/#narrow/stream/49-development-help/topic/message.20action.20popover.20shifting.20to.20the.20left.20.234145

[2019-07-06 17:38] prabhumarappan commented on #12629
@zulipbot claim

[2019-07-06 20:38] keshav234156 commented on #12507
@zulipbot claim

[2019-07-06 22:43] daschuer commented on #12071
Works like a charm. Thank you :-)

[2019-07-07 03:53] OshoNot opened #12724 "Update documentation for RDS"
Hi,

Is there an actual way to use zulip with a RDS instance? Since in [read the docs page](https://zulip.readthedocs.io/en/stable/production/deployment.html#using-zulip-with-amazon-rds-as-the-database) it says that you only have a degraded experience of zulip, but in #12226 it was said that it can't actual run with RDS. Is the read the docs documentation outdated?

[2019-07-07 05:02] rishig commented on #4145
I like that idea.

[2019-07-07 09:08] vinitS101 commented on #12449
@timabbott Can you please review #12465 ?

[2019-07-07 12:43] rishig opened #12725 "compose: Autocomplete for topics is case-sensitive."
To reproduce,
* Send a message to `Topic`
* Send a message to `topic`
* Start typing `to` in the topic box in compose

The typeahead shows both `topic` and `Topic`, which is confusing.

[2019-07-07 14:46] cbondurant commented on #4676
Soon to be reflected in my PR for this issue:
python3.5 `formataddr` properly supports standard 2231 and its later revisions, which is a encoding standard for unicode data. This is supported across email providers, and as a result, we can use it for sending emails to users without issue.

[2019-07-08 05:31] #12193 closed

[2019-07-08 13:30] ssvenn commented on #6102
It seems like Zulip implemented this (at least experimentally) in 2018, see https://zulip.readthedocs.io/en/latest/subsystems/widgets.html

It is not directly compatible with the message formatting Slack or Mattermost uses so Hubot scripts will have to be modified to work with it but it does look quite similar.

[2019-07-08 20:49] YashRE42 commented on #12524
The pr is just waiting review/merge, thanks for remembering this anyway Zulipbot :)

[2019-07-08 22:59] andersk opened #12733 "Backend Markdown replaces numbered list following bulleted list with bulleted list"
[code]

renders on the backend as

1. foo
* bar
* baz

[2019-07-08 23:22] timabbott commented on #12733
The behavior of this sort of arrangement in markdown implementations is unspecified and messy:

https://johnmacfarlane.net/babelmark2/?text=1.+foo%0A*+bar%0A2.+baz

so I'd probably prioritize other improvements to our markdown processor over work on this.

[2019-07-09 01:22] andersk commented on #12617
I’m not sure variables like `$color_black` make sense as an abstraction. That seems about as useful as `const THREE = 3`. If there’s a subset of black things that could logically be changed together (e.g. the main text color), then it perhaps that subset could be named as such (`$color_text`). But for things that really just want to be black or white, CSS already provides perfectly good named colo

[2019-07-09 03:05] #12724 closed

[2019-07-09 03:12] timabbott commented on #12071
@rishig I'm having trouble finding the plan for the final names for the include-footer and show-sender options; is that somewhere?

[2019-07-09 03:15] mateuszmandera commented on #12071
@daschuer Just a head ups, the PR renaming it to "include-footer" has just been merged, so if you upgrade the code you will have to update your configuration as well, to adjust for the renaming.

[2019-07-09 04:20] timabbott commented on #12668
@Dbone29 thanks for the report!  I think the issue may be that `manage.py knight --revoke` was giving incorrect output about whether the user already had the permission.  We fixed this issue in master today.  Can you try downloading this updated version of the `knight.py` management command, putting it at `/home/zulip/deployments/current/zerver/management/commands`, and seeing if that fixes the is

[2019-07-09 04:21] timabbott commented on #12710
OK, great.  That output confirms the issue was the thing fixed in b8839302c0a4d8ada99a695f8829027fa433e05e.  Thanks @stone212!

[2019-07-09 04:31] timabbott commented on #12715
@JasMich can you explain the original problem statement again?  I'm not sure I understand why having a large number of private conversations is a problem.

[2019-07-09 04:37] ArturGajowy opened #12738 "Prevent vertical scroll in quotes / code blocks / `pre`"
Hi!

Pasting a long line of text in a quote causes a vertical scrollbar to appear inside a message, which prevents the quote from being readable. E.g., paste the following docs excerpt into a quote block in a message:

[code]

(funny how github UI suffers from exactly the same issue :smile:)

Currently, I'm adding the following user css to prevent vertical scrollbar in a pre block:

[code]

Could

[2019-07-09 04:37] timabbott commented on #12738
I'm not sure there is a simple solution to avoiding this kind of scrollbar, in that the alternative can mangle output in a way that is hard to read.

[2019-07-09 04:44] timabbott commented on #12739
Issue transferred.  That said, I can't reproduce this.  @alok is there anything unusual about your keyboard setup?

[2019-07-09 05:03] timabbott commented on #12617
I think it's better than `THREE = 3`, but I agree with everything else here -- it's not going to improve readability to give meaningless names to colors.

I think something like `$night_mode_background_color` would add value, because that's a repeated color that would otherwise look like a random number.

I would be interested in testing out removing some pairs of greys that are very close to each

[2019-07-09 09:46] ArturGajowy commented on #12738
@timabbott even when `word-break: break-word` is included?

I'd also say that it's a much better default. For the output to be mangled, it'd have to be hidden by the vertical scroll under the current css. I'd rather shift my eyes to the next line than need to click and scroll/drag.

Also, the only thing that gets mangled are strings not containing whitespace longer than the pre block itself, so ur

[2019-07-09 10:29] rmutalik commented on #12274
Expanding on the original issue, it looks like the sidebar closes when any click event occurs in the STREAMS section for 'narrow' devices, not only when 'more topics' is clicked.

I am still working on the issue. Should be done soon.

[2019-07-09 12:44] worlddevops opened #12741 "Zulip Server not creating users when using Reverse Proxy"
I have set-up a vanilla Zulip Server and a NGINX Reverse Proxy but when I try to add the first organisation - I can view the registration page, and when I create the organisation, user and submit, it comes with Internal 500 web error, and the following message appears in the log.

The setup is like this -

[code]

The Error

[code]

Nginx Reverse Proxy
[code]

Zulip Server

[code]

[2019-07-09 15:40] rishig commented on #12071
Maybe https://github.com/zulip/zulip/issues/12500#issuecomment-499585748?

[2019-07-09 16:24] snowe2010 commented on #12617
@andersk 	Sorry, I really wasn't clear with my comment. I was less asking for feedback on the names and more on how to handle the fact that almost every duplicated color is extremely non-specific. For example the grays cover a massive range of items, not at all consistent. The black as well. White, blue, and green are the only consistent colors IMO.

I could definitely see the purpose in replacing

[2019-07-09 17:37] worlddevops commented on #12741
I get the same error with HAProxy instead of NGINX

[code]

[2019-07-09 17:57] prabhumarappan commented on #12629
@timabbott  @rishig The invitation on which the user clicks vanishes from the list when the user clicks on the mail without even actually signing up.
Does this mean that the other invitations should also get cancelled at the same time or only when the user has actually completed the sign up process?

Also, one question, the invitation should be active till the user has actually completed the whole

[2019-07-09 18:18] rishig commented on #12629
yeah; if it's not that's a bug.

[2019-07-09 18:30] prabhumarappan commented on #12629
I'll quickly double-check and open an issue if that's the case.

[2019-07-09 19:29] gloels commented on #10044
#12277

[2019-07-09 19:46] vsvipul commented on #12274
@rmutalik On narrow devices, maybe we would want this behaviour for click events other than 'more topics' , @timabbott help here?

[2019-07-09 20:11] #12290 closed

[2019-07-09 20:14] #12449 closed

[2019-07-09 21:49] timabbott commented on #10044
@gloels #12277 is an issue proposing to add a new endpoint; it hasn't happened.

[2019-07-09 21:57] timabbott commented on #12741
I've never seen this exception before.  I suspect it isn't actually related to using a reverse proxy; it looks a lot more like some sort of weird issue with how your database or memcached is setup.  How are you running your Zulip server?

Specifically, it kinda looks like the early-stage Zulip database initialization run by the installer was never run.

[2019-07-09 23:58] timabbott commented on #12274
I just went ahead and I believe fixed this.  @vsvipul can you test master and let me know if you can still reproduce an issue, and if so, what precisely you clicked on in what state?  A screenshot would be helpful.

(We may have another `popovers.hide_all()` that needs to be migrated).

[2019-07-09 23:58] #12274 closed

[2019-07-10 00:03] timabbott commented on #6384
I think #12677 reasonably addresses this request (though through a slightly different solution).

[2019-07-10 00:03] #6384 closed

[2019-07-10 00:06] rishig opened #12744 "user groups: Guests should not be able to see list of users in user groups."
To repro:
* Log in as Iago.
* Add Polonius to a user group.
* Send a message at-mentioning the user group.

* Log in as Polonius.
* Click the user group pill.

You currently see
![image](https://user-images.githubusercontent.com/890911/60930698-7cc50d80-a26b-11e9-9683-882b78173b2c.png)

I think we shouldn't send this data down at all to guests? Barring that, we should just not show this popup for

[2019-07-10 00:42] timabbott opened #12748 "custom profile fields: Show red error indications closer to the fields with validation errors"
With our development environment data, when editing custom profile fields following #12442, the feedback for if you enter invalid input when editing custom profile fields data is not working in that the error may appears off the top of the scrollable region.  I see two issues:
* For `/#organization/profile-field-settings`, we should have a "Saved" widget on the "Add a new profile field" widget, in

[2019-07-10 02:10] kskonanur commented on #11685
@zulipbot claim

[2019-07-10 05:43] YJDave commented on #12748
@zulipbot claim

[2019-07-10 05:53] worlddevops commented on #12741
@timabbott Its a standard install on AWS Ubuntu Server

[code]

Is there a way to "register" a new Zulip organisation from the CLI instead of the webpage?

[2019-07-10 06:35] timabbott commented on #12741
We don't offer a new organization creation / registration code path entirely from the CLI; even if we did, I suspect whatever is unusual about your setup that is causing that exception would cause it there too.

I would try rerunning the installer (which should delete and reinitialize the database) and seeing if that helps.  I've never seen that exception before, and it looks like some sort of int

[2019-07-10 08:47] GodCodini opened #12750 "[feature request]Change Icon for Desktop app"
Can we get a way to change the icon at the top of the desktop app and the title? It would be nice if our logo could be there instead of "zulip". Attached is a picture of what i mean. Thanks
![zulip_icon](https://user-images.githubusercontent.com/51437569/60954942-26ee7500-a300-11e9-8c0c-1a505181e3f2.PNG)

[2019-07-10 14:03] vsvipul commented on #12274
@timabbott  Works great now. Thanks. :)

[2019-07-10 17:34] timabbott commented on #6040
OK I did some investigation into how to fix this correctly.  The current state of `@all` in a muted stream is:

* We already don't send a desktop notification: See `exports.message_is_notifiable` in the JS code to verify.
* We already don't send email/push notifications (because we're not sending those for any wildcard mentions, muted stream or no; this is its own issue we should fix, being mindfu

[2019-07-10 17:38] amartin3225 opened #12752 "Allow toggling the email gateway per stream"
Currently the email gateway functionality is available in all streams - it would be nice to be able to disable this functionality in certain streams (e.g. for read-only announcements). Is it possible to add a toggle to stream settings that could enable or disable sending messages to the stream via email?

[2019-07-10 18:50] timabbott commented on #1709
Here's some notes on the remaining things that we can usefully make progress on:

* bootstrap: Needs some significant work to upgrade.  Main pain is extracting what changes we've made that aren't to the typeahead; if we can move them to not be in `bootstrap` code itself, then we can upgrade further via NPM.
* bootstrap-notify: Has a few small patches we've made.  Is a tiny library in general.  It'

[2019-07-10 19:34] timabbott commented on #12744
hmm, I'm not sure what the right behavior is here.

The current data we send down to guests is just a list of user IDs for the users in user groups, as well as the group's ID and name.  It's a bit tricky -- the ID + name data is relevant for handling cases where a group after being mentioned nicely.  And the membership data is likely needed to interpret mentions of the user group (e.g. in local ec

[2019-07-10 20:07] rmutalik commented on #3916
@timabbott so you want one scrollbar region for STREAMS and USERS instead of two separate scrollbar regions, correct?

@aashutoshrathi any update?

[2019-07-10 20:41] rishig commented on #12744
Actually, now that I think about it our original intention here was that guests cannot be added to user groups. That's probably why the docs were written that way as well :).
That would at least solve the local echo problem.

yeah, I like that. In that case I guess we could just remove the "Manage user groups" link for now, and leave the rest as is?

[2019-07-11 00:23] timabbott commented on #8631
@rishig can you take a look at this?  I think it might make sense to close this issue and open a new one for any further work we want to do, since this has a really long history.

(I feel like there were some wording changes planned that haven't happened?)

[2019-07-11 00:23] #8631 closed

[2019-07-11 02:13] rishig commented on #8631
hm, so I tihnk the question is whether we want #10659 in the context of the upcoming right sidebar changes. I think the answer might still be yes?

[2019-07-11 03:31] synicalsyntax commented on #12750
This issue should probably be filed in zulip/zulip-desktop; this repository is for the webapp.

[2019-07-11 08:36] GodCodini commented on #12750
Oh sorry, i clicked on the wrong tab. Will open in the desktop repository.

[2019-07-11 08:36] #12750 closed

[2019-07-11 10:08] alok commented on #12739
I use colemak on my laptop. switching to qwerty didn't change anything.

[2019-07-11 13:03] punchagan commented on #5885
Should we create an issue on zulip-mobile to handle inline URL previews, and close this one?

Issue for side-by-side images is #5122

[2019-07-11 18:27] rishig opened #12765 "stream creation: Automatically mark initial messages as read for creator."
The current stream creation flow feels very spammy, especially when you're setting up a new Zulip realm, due to the 1-2 messages/stream sent at stream creation. These messages are sent in `add_subscriptions_backend`; grep for `internal_prep_stream_message`.

We should automatically mark those two messages as read for the stream creator.

[2019-07-11 19:20] timabbott commented on #3916
I think one scrollbar region makes sense in this design, yes.

[2019-07-11 19:21] timabbott commented on #5885
Yes, it'd be great if you can create a zulip-mobile issue for handling inline URL previews, ideally with a link to the CSS details needed to display them properly (that'll make it a lot easier for the mobile folks to integrate).

[2019-07-11 19:21] #5885 closed

[2019-07-11 19:26] timabbott commented on #12739
Hmm, and you say this happens in the desktop app, so not a browser extension issue?  Can you reproduce on chat.zulip.org?  And maybe provide the precise string you tested searching for?

[2019-07-11 19:28] timabbott commented on #12750
Is this the desktop app from zulipchat.com/apps, or a web browser?

In any case, sounds like a duplicate of https://github.com/zulip/zulip/issues/11752.

[2019-07-11 20:39] #8379 closed

[2019-07-11 21:24] #12580 closed

[2019-07-11 21:43] timabbott commented on #8631
I'm not sure we want #10659 for clutter reasons.  I do think we want to have the presence circles have a hover behavior of showing you the information in the nice format of #10659 both in the popovers and the right sidebar, and we should make sure we're using whatever version of the "Just now" text we actually want. ("Just now" does still appear in the codebase, and I'd think we'd gotten rid of it

[2019-07-11 21:49] timabbott commented on #12669
@arthurpankiewicz thanks for the report!

I suspect that the `botserver` code is just missing the nice logic for detecting the paths to out-of-tree bots that we use in e.g. `zulip-run-bot`.

[2019-07-11 21:56] thedeveloperr commented on #12669
@zulipbot claim

[2019-07-11 22:28] timabbott commented on #12317
A few years ago, by far the dominant use case for this box was to replace the topic wholesale, which is why we designed the selection behavior we have today.

The issue @RossBrunton brought up doesn't arise with the keyboard, because after you `shift+tab` to get there, you need to cursor to the point to edit anyway.

So this is ultimately a question about user behavior -- is it more common for use

[2019-07-11 23:20] rishig commented on #8631
The reason for putting in the popover is that then it is easily accessible by keyboard shortcut (`u`).

I agree the popover is getting heavy, though if I were to remove something I think I'd remove some of the links (or turn them into icons), and make room for things like this, github username, maybe how long they've been a member, etc.

(Doesn't mean we should integrate #10659 without making othe

[2019-07-11 23:22] rishig opened #12769 "message view: Hover on avatar and name should have title text."
When hovering over the avatar and name, we should show `User profile (u)` to advertise the keyboard shortcut.

[2019-07-12 02:59] punchagan commented on #7549
@rmutalik Not sure I understand your comment. The commit message in https://github.com/punchagan/zulip/commit/4feec33bb4945c6663685e1b617702af18303bf2 explains the reasoning for the change. Let me know if that's not clear, and I can improve that.

[2019-07-12 03:35] andersk opened #12771 "Replace minutely cron job for incoming email integration with fetchmail"
A [minutely cron job](https://github.com/zulip/zulip/blob/2.0.4/puppet/zulip/files/cron.d/email-mirror) is never a good way to receive email. It puts unnecessary load on your IMAP provider when you’re not getting mail, and adds up to a minute of unnecessary latency when you are.

We should replace it with a simple fetchmail configuration. Fetchmail supports IMAP IDLE for near-instant delivery with

[2019-07-12 05:30] punchagan commented on #5885
Created an issue here: https://github.com/zulip/zulip-mobile/issues/3552

[2019-07-12 05:53] GodCodini commented on #12750
@timabbott This is the desktop app on windows

[2019-07-12 08:32] Dbone29 commented on #12668
I have tested it today and everything worked as expected. Thank you!

[2019-07-12 12:04] ecureuilfourbe opened #12774 "404 Not Found when i try to access to my zulip page"
Hi,
I have installed zulip on a ubuntu server 18.04.2, with the command:

./zulip-server-*/scripts/setup/install --email=j**********r@gmail.com --hostname=glope.ddns.net --self-signed-cert

but i get a 404 Not Found when paste the link in my browser (Firefox 52.6.0 (64 bits))

[2019-07-12 13:45] arthurpankiewicz commented on #12669
@timabbott yeah I was getting some funky behaviour.

I edited the server.py to log the error, and it was trying to import a bot module at `zulip_bots.zulip_bots.bot._______` and was failing, but if I went into my py3 console and ran the same import, it seemed to work.

If you require more information @thedeveloperr I can rerun my steps and provide some more context

[2019-07-12 20:17] slimsag commented on #12325
As someone coming from the land of Slack, supporting this would make transitioning over to Zulip easier because my muscle memory is to type underscores.

[2019-07-12 22:36] timabbott commented on #12565
In case other folks come across this and need to debug, the following commands are useful:
[code]
which show in this case that pid 3200 is using 300 watches, pid 3088 is using 162 watches, etc., out of a maximum total of 8192.

(Then you can ps -f 3200 3088 … to see what those processes are.)

(Copying from @andersk's post in https://chat.zulip.org/#narrow/stream/49-development-help/topic/add_watc

[2019-07-13 00:16] alok commented on #12739
The string doesn't seem to matter, since this happens whenever I'm trying to autocomplete anything at all. As mentioned above, I have the issue in the browser as well (specifically on https://recurse.zulipchat.com).

[2019-07-13 00:16] timabbott commented on #12668
Awesome, thanks!  I've scheduled this to be included in 2.0.5.

[2019-07-13 00:16] #12668 closed

[2019-07-13 00:44] timabbott commented on #12259
@whoodes what remains on this issue?

[2019-07-13 02:09] timabbott commented on #12774
@ecureuilfourbe probably this is better discussed in "#production help" on chat.zulip.org.  This is almost certainly a misconfiguration (e.g. not having configured DNS properly so another server is handling the request), so not an issue for the Zulip issue tracker.

[2019-07-13 02:09] #12774 closed

[2019-07-13 02:21] whoodes commented on #12259
I believe only:

[2019-07-13 03:56] #7549 closed

[2019-07-13 04:19] timabbott commented on #12769
@vrongmeal this is probably a quick task for you.

[2019-07-13 04:20] timabbott commented on #12259
OK, great.  I think given our new approach, the actual outstanding thing of that form is having our data import/export tests have proper teardown methods.  Probably worth looking into since there aren't that many of them and we could probably write a common mixin to do it.

In any case, I think we can close this.

[2019-07-13 04:20] #12259 closed

[2019-07-13 05:12] vrongmeal commented on #12769
@zulipbot claim

[2019-07-13 09:57] vinitS101 commented on #12508
@zulipbot claim

[2019-07-13 18:30] timabbott commented on #12739
Are you at RC currently?  This may be something where it's helpful for you to sit next to someone else and try to isolate why this is happening only for you.

[2019-07-13 18:40] timabbott commented on #11440
It's possible Google changed their schedule.  We'll look into this.

[2019-07-13 18:45] alok commented on #12739
Sadly no. I was there 2 years ago.

--- Alok

On Sat, Jul 13, 2019 at 11:30 AM Tim Abbott <notifications@github.com>
wrote:

[2019-07-13 22:46] timabbott commented on #295
Closing as resolved.

[2019-07-13 22:46] #295 closed

[2019-07-13 22:46] #11662 closed

[2019-07-13 22:51] #1736 closed

[2019-07-13 23:37] timabbott commented on #10351
The upstream Pillow bug was fixed via https://github.com/python-pillow/Pillow/issues/3665#event-2449102779 a couple weeks ago, and https://github.com/python-pillow/Pillow/releases suggests there's a new Pillow release containing the fix.

@HarshitOnGitHub do you have time to investigate whether upgrading Pillow fixes this issue of Pillow mangling animated GIFs?

(If not, other folks should feel fr

[2019-07-13 23:56] timabbott commented on #12655
@andersk do you have time to take care of this? We generally like to keep master installable from Git, which I think this breaks.  In any case adding the release blocker tag.

[2019-07-14 05:17] YashRE42 commented on #12493
@timabbott Could you recommend some commits or documentation for how I could do this?
Right now I'm looking at `composebox_typeahead.js` but not exactly sure of what do to..

[2019-07-14 08:13] prabhumarappan commented on #12629
@rishig So, this is what happened, I invited to a random user called `prabhu99@zulip.com` from two admin accounts.
I checked the invitations screen for the same and there were invitation for the `prabhu99@zulip.com` from two admins.
Now, when I go to /emails where the development emails are sent, and when I click on `Confirm registration`, I'm taken to the `You're almost there` screen where the I'

[2019-07-14 09:19] HarshitOnGitHub commented on #10351
@timabbott I think we have already migrated to the latest Pillow library in https://github.com/zulip/zulip/commit/0b35bb96f0946f8fa988cbeec40a9e33924dd601. I can verify that it is working great! 🎉

[2019-07-14 10:34] aero31aero commented on #6040
@zulipbot claim

[2019-07-14 10:36] Atomique opened #12783 "LDAP: 'str' object has no attribute 'is_member' while authenticating user@domain.tld"
I tried a lot, but I am stuck at integrating LDAP-Auth. I would like to restrict the access to zulip to a group of activedirectory. If I do so (and its really hard, because there is no real example in the docs) I get the following error after login in /var/log/zulip/errors.log:

[code]

I try to mention what I have configured:

LDAP-Settings in my settings.py:

[code]

Some notes to my settings:
-

[2019-07-14 17:38] rishig opened #12784 "support: /activity/support should also search PreregistrationUser, Confirmation, etc for an email address."
It would be great if searching for an email address on /activity/support searched the Preregistration and Confirmation tables as well for information to display.

[2019-07-14 17:44] rishig commented on #12629
Yeah, definitely not intended. Thanks for the investigation!

[2019-07-14 18:49] prabhumarappan opened #12785 "User invitation should be removed only after the whole registration process."
When the user clicks on the to `Confirm registration` through the received email. That particular invitation is removed from the admins invited users list screen.
The users entry should only be removed after the user has completed the whole signup process by providing the Name and Password.

[2019-07-14 18:49] prabhumarappan commented on #12629
Created a issue at : https://github.com/zulip/zulip/issues/12785

[2019-07-14 21:25] vinitS101 commented on #12695
@zulipbot claim

[2019-07-15 05:23] mojca commented on #12638
I just wanted to thank you for deploying the PR for selecting the associated email.

To the above suggestion of the workflow I would add another lower priority request:
* When multiple verified email addresses have an associated Zulip account, Zulip should remember which one was used last with that GitHub account. When the user is taken to the "select email" screen, the one used last should be aut

[2019-07-15 18:09] timabbott commented on #12704
The point is that if you restore backups on a second machine with a different hostname than the original machine, you need to change EXTERNAL_HOST following the backup restore or you'll get the 400 error above (which is the error one gets when a Zulip server's hostname as used by users don't match ALLOWED_HOSTS or EXTERNAL_HOST).

[2019-07-15 19:29] timabbott commented on #10351
Awesome!  So sounds like we can fully close this now.

[2019-07-15 19:29] #10351 closed

[2019-07-15 19:31] timabbott commented on #12493
@YashRE42 there's two files that define the typeahead; that one and `typeahead_helper.py.`  I think you should ask on #frontend -- there's several folks who have worked on the typeahead in your time zone who can likely help give pointers.

[2019-07-15 22:13] sqs commented on #5536
I see this documented at https://zulip.com/help/high-contrast-mode but I don't see the high-contrast mode setting anywhere:

![image](https://user-images.githubusercontent.com/1976/61252616-f1d48f00-a712-11e9-850c-4d4d58c1f0b1.png)

Did this feature actually get shipped? Or was it documented but didn't actually ship?

I would love to have a high-contrast mode. The low contrast is fairly hard for m

[2019-07-16 00:14] glyph opened #12791 "auto-linkification of topics links incorrectly generate relative links"
If you're on, say, `mysite.zulipchat.com` and create a stream called `#general>cooldomain.com`, a little blue ↗️ appears next to it which you can click on.  Cool!  Unfortunately this takes me to `https://mysite.zulipchat.com/cooldomain.com` which was probably not the intent; it should probably go to `https://cooldomain.com/`.

----

Library plug: if these are being generated server-side, [hyperlin

[2019-07-16 00:49] andersk commented on #12655
#12792 fixes this.

[2019-07-16 04:50] stone212 commented on #12704
@timabbott

And my point is that no I did not need to change it because it was already correct.  What am I missing here?  It seems like you're making assumptions about how I configured that file and I don't think you specified those assumptions in the docs.

This error was not, as I see it, caused by EXTERNAL_HOST being wrong.

[2019-07-16 07:21] whoodes opened #12795 "Over indentation in markdown code blocks."
We are seeing rendered blocks of code over indented only in the message view, when previewing everything appears normal.  This happens with or without language specification.

Here's the sent message:
<img width="907" alt="Screen Shot 2019-07-15 at 8 44 12 PM" src="https://user-images.githubusercontent.com/39782863/61273730-e8b0e580-a745-11e9-9143-e7b49092d110.png">

Preview of the message:
<img w

[2019-07-16 07:23] whoodes commented on #12795
@andersk perhaps you could provide insight into this issue?

[2019-07-16 08:52] YashRE42 commented on #12507
Hey, @keshav234156, are you working on this?

[2019-07-16 18:38] timabbott commented on #12795
Fascinating; I would not have expected this sort of issue to be the result of the partials migration, but it certainly seems possible.

@andersk this is a priority thing to investigate.

[2019-07-16 19:08] swallitsch commented on #10208
Trying to distill this thread:

* The highlighting of users in a subscription stream (spread through the _entire_ list of users) is not very usable
* Clicking on a stream on the right should (at the least) result in the highlighting of users on the left- right now it only activates with the compose box, or if you click on a specific stream message. I realize this is probably an artifact of the 'co

[2019-07-16 21:28] andersk commented on #12795
Yikes, that’s awful. #12798 fixes the immediate problem, but this needs some more investigation and tests and complaining at upstream.

[2019-07-16 21:49] andersk commented on #12795
Okay I found a better solution with the Handlebars `preventIndent` option. Updated #12798.

[2019-07-16 22:10] gnprice opened #12799 "Unread marker is hard to see in night mode"
I've switched to using the webapp in night mode, because we've talked about switching the default to that because it seems to be the trend.

One thing I've noticed: the green unread marker at the left of each message has been pretty easy to miss. I think giving it more contrast would probably be helpful.

/cc @timabbott , and @alexandraciobica and @synicalsyntax who Tim mentioned in [a chat thread

[2019-07-17 00:47] plt-hokusai opened #12800 "Block quotes (>) and fenced code blocks don't interact nicely"
When you try to block-quote a code block, it.. really doesn't work right. The best way of explaining this is with images:

(Apologies for the wide screenshots)
![](https://hydraz.semi.works/img/91a18.png)

Source for the message:
![](https://hydraz.semi.works/img/4fe77.png)

I expected something more like Pandoc's rendering, where the whole code block is block-quoted:
![](https://hydraz.semi.works

[2019-07-17 01:51] synicalsyntax opened #12801 "Refactor Handlebars logic to use new logic helpers"
Commit e8d49330f2723cb4619dbd5 added the new `not`, `and`, and `or` logic helpers for usage in Handlebars templates. Although it modified some logic in some templates, a bunch of other templates using a complex mix of `if` and `unless` statements to evaluate logic could use also use refactoring.

Regex searches show these templates as using complicated logic, but there may be more:
- [ ] `account_

[2019-07-17 16:49] taralx opened #12803 "Allow revoking OAuth login"
It should be possible to revoke the ability to log into an account via an OAuth identity provider in the case where the user no longer trusts that provider.

[2019-07-17 21:12] gopalroy2025 commented on #10874
this is acually issue between connection to agent to master, check the certs in host , agent running, an mcol service if its on , last check try to validate if he manifest is correct

[2019-07-17 21:28] whoodes commented on #12641
@zulipbot claim

[2019-07-17 22:53] timabbott commented on #12803
@taralx can you point to other products with similar features?

In terms of related things we do support: An organization can always disable an identity provider entirely, and if a user doesn't have an account with an identity provider with a validated email address, it won't be possible to authenticate with that identity provider for that user.

[2019-07-17 22:54] #10983 closed

[2019-07-17 22:55] timabbott commented on #4676
Sounds good; we don't want to desupport Python 3.5, since it'd require us to be be in the business of shipping Python (we currently use the version included with the base OS).

[2019-07-17 23:00] thedeveloperr commented on #8859
@zulipbot claim

[2019-07-17 23:05] timabbott commented on #12801
@YJDave this is probably a good project for you.

[2019-07-17 23:06] timabbott commented on #12800
@aero31aero this is a duplicate, right?

[2019-07-17 23:09] #12795 closed

[2019-07-17 23:18] #12655 closed

[2019-07-17 23:20] timabbott commented on #12791
@aero31aero can you investigate this?  It seems like potentially a regression.

[2019-07-18 01:01] #12556 closed

[2019-07-18 01:38] WesleyAC opened #12807 "Option to mute topics in stream by default"
It would be useful to have an option to mute all topics in a stream by default.

In the Recurse Center Zulip instance, there are a few streams where individual people have topics where they post updates on various things (#checkins, #alumni-checkins, and #consciousness) - however, this can get overwhelming when you don't know or care about most of the users in the stream. It'd be useful to have an

[2019-07-18 03:56] ab1nash commented on #4145
@zulipbot still working on it

[2019-07-18 05:52] jdherg opened #12811 "Add a field for bots to reacji in response to webhooks"
Proposed syntax: `reacji` (or `reaction_emoji`) as a response key with the emoji name as the value. This would add that emoji as the bot's reaction to the message that caused the webhook.

[code]

This would be mutually exclusive with `response_not_required` but could be used either with or without `content`.

[2019-07-18 08:03] aero31aero commented on #12800
I don't think so. Are you thinking of #12446?

[2019-07-18 10:43] arthurpankiewicz commented on #12669
@thedeveloperr any status update on this?

[2019-07-18 13:07] hackerkid commented on #10273
@zulipbot claim

[2019-07-18 14:01] thedeveloperr commented on #12669
@arthurpankiewicz I am sorry I am still reading the docs and code of this, this my first issue regarding this area and was also working on few other ongoing issues. So progress is a bit slow. I will try to fix this soon.

Sorry I missed notification of your previous message. I would like to have as much information regarding the issue as possible if you don't mind re-running. 😅

[2019-07-18 14:26] schneider7 opened #12815 "Allow users to change color of @ tags in messages for specific users"
Our organization wants to be able to change the color of message tags. E.g., we have a stream where every message has a tagged user, and we need to be able to have the logged-in user's tags be highlighted when looking back at the old messages.

If I'm logged in as "John Doe", I want to be able to sift through the old messages in a stream and have all messages I was tagged in be highlighted in, say

[2019-07-18 18:59] timabbott commented on #12811
@jdherg this is for outgoing webhook bots, in particular?  The concept is reasonable.

API-wise, I don't think we want to create new abbreviations like `reactji`; we should have the formatting match the API for specifying one wants to add a reaction that exists elsewhere.

[2019-07-18 19:36] timabbott opened #12818 "Denormalize the display_recipient cache from the message bodies"
As described in detail in https://chat.zulip.org/#narrow/stream/3-backend/topic/hidden.20emails/near/768801, the current structure of the way we cache the `display_recipient` field in `message_dict` structures is

The work here is primarily going to be in the `messages_for_ids` code path, in particular not fetching `display_recipients` in the `generic_bulk_cached_fetch` code path, and instead conv

[2019-07-18 19:45] whoodes commented on #9210
@zulipbot claim

[2019-07-18 20:34] timabbott commented on #5958
We did this a long time ago; I believe we're currently using 50K for this.

[2019-07-18 20:34] #5958 closed

[2019-07-18 20:37] #7096 closed

[2019-07-18 20:46] timabbott commented on #12807
This is potentially a feature we could offer, though in terms of the project's near-term priorities, we're much more interested in features like "topics I follow", so it's unlikely the core team will pick this up.

I should also add that one thing that makes me reluctant to make a feature of this form, as described, is that muting (or more precisely, messages that users never read) does have a per

[2019-07-18 21:04] timabbott commented on #12815
@schneider7 I'm confused by the question -- we have always changed the color for mentions of the currently logged-in user.  Can you post a screenshot of the issue?

[2019-07-18 21:16] timabbott commented on #12800
Ahh, I think so.  I'm not sure the syntax proposed here makes sense; we might want to use the syntax in #12446 for this purpose.

[2019-07-18 21:35] #12695 closed

[2019-07-19 05:06] YJDave commented on #12801
@zulipbot claim

[2019-07-19 06:17] aero31aero opened #12822 "markdown: Render ordered lists using <ol> markup."
Currently, we render:

[code]

as:

[code]

We should generate proper `<ol><li></li></ol>` html for these lists.

Minor relevant discussion in #12764.

@zulipbot label "area: markdown"

[2019-07-19 07:48] Hypro999 commented on #12765
@zulipbot claim

[2019-07-19 08:38] hackerkid commented on #11216
@zulipbot claim

[2019-07-19 14:07] MitPatel971997 opened #12824 "zulip-botserver is not working with zulip 2.0.4 production environment."
I am using zulip 2.0.4 in production environment in Ubuntu 18.04.
I installed zulip using git repo via below command :
** sudo -s ./setup/install --hostname=localhost --email=email --self-signed-cert**
and we have not used release tar-ball,
I am using a self-signed certificate.
when i am try to up my boat using
**zulip-botserver -b helloworld --config-file ~/Downloads/zuliprc  --hostname=0.0.0.0**

[2019-07-19 15:37] FoggyFinder opened #12825 "Add ability to show/hide muted topics from streams."
If muted topics are active they might distract user from other topics.

I think it would be useful to have ability to hide them totally.

[2019-07-19 17:05] schneider7 commented on #12815
@timabbott My apologies, I was mistaken. There's no bug here.

[2019-07-19 17:05] #12815 closed

[2019-07-19 18:14] #12641 closed

[2019-07-19 19:04] #12791 closed

[2019-07-19 19:45] #8679 closed

[2019-07-19 20:37] rishig opened #12834 "compose: Update placeholder text."
Right now we have a placeholder "Compose your message here" in the compose box. We should update it to
* [ ] PMs: Message Starr Fisher (Travelling till 15 July)
(where "Travelling till 15 July" is their status message, and Starr Fisher is who you're messaging)
* [ ] Group PMs: Message Starr Fisher, Ada Lovelace
* [ ] Streams: Message #stream name > topic name

Context at https://chat.zulip.org/#na

[2019-07-19 20:42] vinitS101 commented on #12834
@zulipbot claim

[2019-07-19 20:51] sysmray opened #12835 "restrict emoji reaction to administrators in announcement streams"
From this conversation: https://chat.zulip.org/#narrow/stream/137-feedback/topic/selectively.20restrict.20emoji.20reactions

For announcement streams, it should be possible to prevent of emoji reactions from non-administrator users. The toggle should be optional, ideally at a stream level, but at least at a global level, so that organizations can opt into this behavior if desired.

The catch is to

[2019-07-19 21:31] snowe2010 commented on #12617
Yeah I will work on it, but I do need some feedback for what names are acceptable.

[2019-07-19 23:15] timabbott commented on #9210
I think this was fixed a long time ago via https://github.com/zulip/zulip/commit/528230df41411d6b761803ec971a6ac883313877.

[2019-07-19 23:15] #9210 closed

[2019-07-20 16:57] rishig commented on #12094
Completed in 8b729cc5fb01a2e31d46cf8ad82cda360d20c994.

[2019-07-20 16:57] #12094 closed

[2019-07-20 22:50] #12419 closed

[2019-07-21 06:35] rishig commented on #12369
Am still able to repro; re-opening so we don't lose track of it.

[2019-07-21 07:18] rishig opened #12844 "billing: Update flows for SCA (new European regulation)."
Unfortunately we're directly impacted by https://stripe.com/docs/strong-customer-authentication.
There are a few things we need to do, in order:

* [x] Upgrade to the latest python-stripe package. We do not need to upgrade from our current API version, but the instructions here https://zulip.readthedocs.io/en/latest/subsystems/billing.html#upgrading-stripe-api-versions more or less apply in this c

[2019-07-21 08:51] YashRE42 commented on #12369
So just to add more clarity, I don't think the problem is with `[change]` it's not the only thing that doesn't respond immediately after `x`, but if you click anywhere once or twice, things start working again...

[2019-07-21 09:25] Ksianka commented on #12725
Hello, @rishig! I am new to Zulip, so can you please help me to understand your issue precisely.

If I follow your instruction to reproduce I don't get `topic` and `Topic` in typehead of the box in compose. I get just `topic` as expected.
But if I type full word `Topic` as the third step I get `Topic` and `topic`, that looks like the issue.

Can we fix the issue with full word `Topic` in the topic

[2019-07-21 16:54] kskonanur commented on #11685
@zulipbot still working on it!

[2019-07-21 21:39] timabbott commented on #12844
@hackerkid this is probably a good issue for you.

[2019-07-22 00:20] rishig commented on #12725
interesting. And yup, feel free to investigate the issue you noticed; I wouldn't be surprised if there is one underlying cause of both the behaviors. Thanks!

[2019-07-22 03:41] #4836 closed

[2019-07-22 04:30] timabbott opened #12852 "uploads: Fix URLs for avatars with S3 file upload backend"
In 02d55928eab6341a7e5985e9e4152de552b6c132, we discovered a rather awkward mismatch between the URLs/filenames used in the LOCAL_UPLOADS_DIR backend and the S3 file upload backend for the small thumbnailed user avatars (the URLs for larger-size avatars match):
* `.../abcd1234.png` for the LOCAL_UPLOADS_DIR backend
* `.../abcd1234`  for the S3 backend.  This doesn't seem to break anything because

[2019-07-22 05:27] rishig opened #12853 "portico: Fix a few minor things on /hello."
A few things I noticed
- [x] The gradient is broken:
![image](https://user-images.githubusercontent.com/890911/61608024-0d093800-ac06-11e9-8882-86379aeb89b6.png)

There should be no white triangle between the green and the gradient

- [ ] There should be some on-hover behavior for the big tour card. Clicking anywhere on the card opens the tour, but it's not visually apparent that that is the case.

[2019-07-22 11:46] TheOneWithTheBraid opened #12857 "Emoji size in headings"
Edit by @alya (Feb 2023):

Let's use this issue to track the bug where emoji have regular font size (not large font size) in headings. We can use https://github.com/zulip/zulip/issues/15390 to track the idea of larger rendering for emoji-only messages.

[CZO discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/Emoji.20Size/near/1509156)

---
## Original issue

It would be nice to have

[2019-07-22 13:38] thedeveloperr commented on #8859
@zulipbot claim

[2019-07-22 15:32] sysmray opened #12859 "linkifiers pattern URL should not be required to end in substitution"
From this conversation: https://chat.zulip.org/#narrow/stream/9-issues/topic/linkification.20invalid.20URL.20format.20string

Currently, linkifiers must end in a substitution. Attempting to save a linkifier that has a pattern that ends in a string (e.g. `https://server.example.com/%(id)s/detail/`) results in an error message `Failed: Invalid URL format string`.

Note that you can insert strings in

[2019-07-22 16:59] jamievicary opened #12860 "Edit other users' posts"
I am a member of a small team using Zulip to collaborate on development issues. Some of our posts are long and detailed; e.g. project workflow descriptions. In these cases it would be extremely useful for us to be able to edit each others' posts, as ideas mature. While for many communities this would obviously not be a desirable feature, for us --- a small team with complete trust between the memb

[2019-07-22 21:18] aero31aero commented on #12859
Cannot be reproduced on master, it appears to have been resolved in dc2aa031f6566f897c94accd9ff4fc4f6c5d4ca6 and 0f2d7a354f85ffd88db86d3a285509d1632806e3.

[2019-07-22 21:28] whoodes commented on #12438
@zulipbot claim

[2019-07-22 22:29] timabbott commented on #9549
We now have the additional debugging detail that the message ID is undefined, so this must be some weird corner case where the lightbox is being triggered by clicking on something not inside a message?

 https://chat.zulip.org/#narrow/stream/6-frontend/topic/mysterious.20lightbox.20error/near/771248

[2019-07-22 22:56] cbondurant commented on #4676
@zulipbot claim
This issue is actually done I just forgot to finish up on getting it added

[2019-07-22 23:00] timabbott commented on #12672
@hackerkid can you check off the parts of this that are done, and comment on the ones that aren't?  I'd like to close out this effort, since I think we're basically there :)

[2019-07-22 23:00] timabbott commented on #12671
This was done in #12720.

[2019-07-22 23:00] #12671 closed

[2019-07-23 00:14] #12058 closed

[2019-07-23 00:19] #12859 closed

[2019-07-23 00:19] timabbott commented on #12859
Great, I'd thought we'd fix this class of issue :)

[2019-07-23 00:24] timabbott commented on #12857
I think if we were to support this, the markdown heading syntax makes sense to me.

[2019-07-23 00:26] timabbott commented on #12853
@alexandraciobica @synicalsyntax FYI.

[2019-07-23 00:45] #6126 closed

[2019-07-23 00:50] timabbott commented on #12860
@jamievicary thanks for the feedback.  I would expect most users to use an out-of-band tool like Dropbox Paper for this sort of jointly editable message use case, but I can see the use case for doing this in Zulip.

There are security model and data model issues to think about here; given that this hasn't been something we've been seeing a lot of requests for, I expect the core time is unlikely to

[2019-07-23 00:59] timabbott commented on #12362
I was going to recommend we work on this, but I guess the Django 2.x upgrade is a blocker for the best path forward here.  Hmm.

[2019-07-23 01:00] timabbott commented on #12258
@pragatiagrawal31 @YJDave just a quick ping that this would be a really nice change for our settings.

[2019-07-23 01:17] #4676 closed

[2019-07-23 01:20] timabbott commented on #12704
A 400 bad request from a Zulip server is almost certainly caused by EXTERNAL_HOST and/or ALLOWED_HOSTS being not matching the hostname(s) being accessed by clients.  If you have a running environment where you're seeing something different, I'd be happy to help debug.

[2019-07-23 01:24] andersk commented on #2734
This is still an issue, but I have another observation: it only seems to occur if I advance the pointer by clicking the message with the mouse, instead of by pressing ↓ on the keyboard.

[2019-07-23 03:36] timabbott commented on #11672
@KirillKhrushkov sorry I missed your message.  This should be fixed soon; see the replacement integration in #11874.

[2019-07-23 04:35] punchagan commented on #12362
Yes, looks like it!

[2019-07-23 05:41] andersk commented on #2734
This code in `change_message_id` is supposed to update the selection when the locally echoed message is reified.

https://github.com/zulip/zulip/blob/3ffc174dcb4493601b159648c484c831f7b21c08/static/js/message_list_data.js#L528-L530

There are two code paths that apparently race with each other to get here. On the first path:

[code]

`_selected_id` and `old_id` are both numbers (`227.01`), and thi

[2019-07-23 10:12] SophieHau commented on #12553
claim

[2019-07-23 10:13] SophieHau commented on #12553
@zulipbot claim

[2019-07-23 16:50] vinitS101 commented on #12508
Picked up a bunch of other issues so didn't get the time to work on this. Abandoning for now so that someone else can work on it.

@zulipbot abandon

[2019-07-23 18:47] timabbott commented on #2734
Interesting; how does this work with websockets enabled -- does it just happen to have numbers rather than strings in that second code path?

Given the architecture of how ~everything else works in Zulip, I would have expected that first code path to not need to exist; the `success` handler for an operation like sending a message should just send the message, and we'll render the updated new messa

[2019-07-23 23:13] timabbott opened #12868 "Improve virtualenv-clone hashing logic"
Our `virtualenv` management logic is designed to have a few properties:
* After running `provision` or the equivalent production operation, you always have a correct virtualenv as though you'd built it fresh
* We avoid the performance pain of redownloading and/or rebuilding all of our packages fresh for the common operations of "adding a new package" or "upgrading a minor version of a package", bo

[2019-07-23 23:27] nsantos16 commented on #12249
@zulipbot claim

[2019-07-24 03:43] clarammdantas commented on #11962
@zulipbot claim

[2019-07-24 05:09] sahil839 commented on #11962
@clarammdantas I have already an open PR on this issue which is left to be reviewed.

[2019-07-24 07:56] cb0n3y opened #12872 "Having some issues"
I'm having some issues every time an user login via Smartphone:

Logger root, from module zerver.middleware line 291:
Error generated by <USER> (user@organization) on zulip.organization

Traceback (most recent call last):
  File "/home/zulip/deployments/2019-04-24-11-03-54/zulip-py3-venv/lib/python3.5/site-packages/urllib3/connection.py", line 159, in _new_conn
    (self._dns_host, self.port), sel

[2019-07-24 11:00] ab1nash commented on #4145
@zulipbot claim

[2019-07-24 14:30] hackerkid commented on #12672
I have finished the first 3 critical priority ones. And it seems like **mateuszmandera ** took care of the 4th. What is remaining are these.

* From email needs to be different for each sender, e.g. notifications-from-<userid>@<realm url>, otherwise you get the bug GitHub notifications currently have in gmail when an issue thread you’re following has multiple participants
* Reply-to email needs to

[2019-07-24 19:28] victorphoenix3 commented on #11453
Is this issue still open?

[2019-07-24 19:29] timabbott opened #12876 "Prevent browser caching from resulting in invalid unread states"
Browsers increasingly do experimental, potentially buggy things with caching (especially in situations like trying to reload a tab after returning from suspend without going over the network).  Zulip attempts to prevent this on the webapp's main endpoint (/) via `patch_cache_control(response, no_cache=True, no_store=True, must_revalidate=True)`, which should disable all browser caching.  We've ver

[2019-07-24 19:43] priyank-p commented on #12876
One easy way to reproduce this bug, atleast in chrome, is to close the tab and do <kbd>Ctrl + Shift + T</kbd>. The messages I have read shows up as unread which reloading fixes.

[2019-07-24 19:48] timabbott commented on #12872
@cb0n3y yes, very likely.  It seems clear you have configured the Zulip mobile push notifications service, but your Zulip server does not have outgoing HTTP access through your proxy to post to push.zulipchat.com.

[2019-07-24 19:49] timabbott commented on #12872
I'm closing this since the error message above makes it very clear this is the resolution.

[2019-07-24 19:49] #12872 closed

[2019-07-24 20:23] timabbott commented on #12876
Interesting!  That doesn't repro for me at all.  In any case, if you can repro in dev, https://github.com/zulip/zulip/pull/12877 should fix this.

If you can repro on czo, I'm going to test-deploy it there shortly.

[2019-07-24 20:51] timabbott opened #12878 "Build a nice automated system for managing API curl examples"
This is really important because we've had a series of incidents of the `curl` examples in our docs being wrong.

Here's a proposal for how to do this without losing any functionality (e.g. the ability to hand-decide which values to use in the examples):

* We plan to use the `example` values we already have in the OpenAPI parameter data structures for this.  If we needed to, we could add support

[2019-07-24 21:15] clarammdantas commented on #11962
@sahil839 aaah I'm sorry, I didn't saw it. I'm abandoning this issue then.

[2019-07-24 21:16] clarammdantas commented on #11962
@zulipbot abandon

[2019-07-24 21:21] clarammdantas commented on #12853
@zulipbot claim

[2019-07-25 07:58] cb0n3y commented on #12872
Thank you very much. have a nice day.

[2019-07-25 15:26] amartin3225 opened #12883 "Add "All streams" link on the top-left similar to "All messages" and "Private messages""
Zulip currently allows users to view all of their messages via the "All messages" link on the top-left or all private messages via the "Private messages" link, but there is no way to see all stream messages. Would it be possible to add an "All streams" link to the top-left which would show all streams (but not private messages)? Some users have expressed a desire to distinguish between private mes

[2019-07-25 15:26] amartin3225 commented on #4130
I would also find this feature useful

[2019-07-25 16:49] amartin3225 commented on #10886
I would also find an improvement in this behavior very useful for my organization, particularly with private messages. Clicking on "Private messages" should not mark any messages as read - as noted above this allows you to leave a certain conversation as unread until you are able to respond to it, but continue to respond to a different conversation that is in progress.

[2019-07-25 19:45] #12876 closed

[2019-07-25 20:46] amartin3225 commented on #10886
I have another important use case to add to this ticket - if a user has the Zulip window maximized on a high resolution display and has unread private messages from several users (e.g. more than 3 different users), clicking on "Private messages" causes ALL of the messages from all of the users to immediately be marked as read (because the display happens to be large enough to display all of them a

[2019-07-25 21:56] #12801 closed

[2019-07-25 22:03] #12621 closed

[2019-07-26 05:19] rishig opened #12898 "streams settings: Filter streams disappears in narrow windows."
I expect this was an intentional decision at some point, but filter streams is important functionality for people joining organizations with 100s of streams. I think for now we can just move it to the line below, and have a taller header.

[2019-07-26 07:43] hackerkid opened #12899 "Upgrade pika pip package to latest version"
Upgrading pika from  0.13.0 to 1.1.0 results in the following error while running `./tools/test-backend`

[code]

[2019-07-26 09:42] YashRE42 commented on #12524
@rishig apart from the quote, I think this is fixed and we can close this issue.

[2019-07-26 12:32] victorphoenix3 commented on #11453
@zulipbot claim

[2019-07-26 16:42] lukasIO opened #12902 "Enable CORS on zulipchat.com domains"
the REST API is not usable from within a browser without CORS allowed...

are there reasons to not allow it ?

[2019-07-26 17:59] timabbott commented on #12899
There's a bunch of things renamed upstream; that one is just `heartbeat_interval` -> `heartbeat`.

https://pika.readthedocs.io/en/stable/version_history.html#id4

[2019-07-26 17:59] timabbott commented on #11209
@mateuszmandera you may be a good person to work on this, since our main uses for redis are rate-limiting and the email gateway.

[2019-07-26 18:01] timabbott commented on #10802
Based on https://github.com/stefanfoulis/django-phonenumber-field/blob/master/setup.py, I think the issue here is that the thing removed is an optional dependency, that was perhaps inaccurately being included before.  I think if we do need it, we should just declare that appropriately; and if we don't, we should not declare it.

[2019-07-26 18:04] timabbott commented on #11395
@drrosa this may be a reasonable project for you to pick up.  https://github.com/zulip/zulip/pull/11719 has some potentially relevant context (it seems like possibly the ReadTheDocs toolchain of CommonMark/RecommonMark are somehow trying to solve the same problem we were trying to solve in #11719?)

[2019-07-26 18:06] timabbott commented on #12902
@lukasIO can you explain what precisely you're trying to do?

[2019-07-26 18:06] timabbott commented on #10801
@hackerkid I would attempt this upgrade again; my guess is this was an upstream issue, since resolved.

[2019-07-26 18:08] timabbott commented on #12898
This being hidden in narrow windows was an unhappy expedient for merging Brock's redesign of "stream settings", not something we wanted to do.

[2019-07-26 18:22] timabbott commented on #9857
For both typeahead use cases, here's what I think we need to do:
* Change `topic_data.get_server_history` to not go the server if we've already done so at least once in this browser session (it can instead just call the `on_success` function in that case).  I think the right way to do this is to just add an attribute to the structure returned by `exports.topic_history`, called `has_server_history`

[2019-07-26 19:00] nickbourlier7 commented on #12553
@zulipbot claim

[2019-07-26 19:02] nickbourlier7 commented on #10539
@zulipbot claim

[2019-07-26 19:29] timabbott commented on #12524
@YashRE42 are you saying this is fixed?

@rishig I'm not sure what the right answer is here.  I think the email change behavior is by analogy to the name change behavior, but there's a special admin UI for changing names, and not email addresses, so they aren't completely analogous (the argument that the admin can just turn the setting off and back on again is valid in both cases).  Possibly this

[2019-07-26 19:31] timabbott commented on #12672
If you have issue-edit permissions, you should be able to edit the text to add `x`s even if the button doesn't work.  I did the checks.

[2019-07-26 20:04] timabbott commented on #12824
@MitPatel971997 the issue is definitely a networking setup thing.  Generally, self-signed certificates are a problem with other programs accessing your server, and you should get a real certificate.

If for some reason that isn't possible, we support some options in `zuliprc` files to disable certificate checking.  See https://zulipchat.com/api/configuring-python-bindings

[2019-07-26 20:04] #12824 closed

[2019-07-26 20:16] lukasIO commented on #12902
I’m playing around with a pwa client and cannot use the api endpoints due to the cors restrictions :/

[2019-07-26 21:40] timabbott commented on #12902
Ahh, OK, makes sense.  @andersk this might be a good side project for you.

[2019-07-26 21:40] timabbott commented on #12902
(Given that our /api/ endpoints require an API key for authentication, it seems reasonable for those should have a CORS policy that allows whatever location to post to them)

[2019-07-26 21:43] timabbott commented on #12902
Though our API endpoints already set these headers:
[code]

@lukasIO can you demonstrate the precise issue you're seeing?

[2019-07-26 22:12] #12765 closed

[2019-07-27 00:15] timabbott opened #12904 "Fix data export parallelization approach"
Our `manage.py export` code path, critically (from a performance perspective), uses multiple parallel processes as part of exporting an organization.  However, its implementation accidentally forks twice:

[code]

The `run_parallel` library is a very useful tool for forking a process and running functions from the same Python context; we use it to good effect in a few places.  However, it needs to

[2019-07-27 04:48] ab1nash commented on #4145
This PR changes the popover to `Mute this topic` when the right-sidebar disappears. Moving the arrow seems to be rather tricky. Moreover, this seems to be a simpler approach.

[2019-07-27 05:06] YashRE42 commented on #12524
No, this is not fixed, I was reproducing wrong, it's:
"A possibly related problem is that when avatar changes are restricted, *and you are logged in as a non-admin*, the "Avatar from gravitar" text that appears on-hover over the profile picture is vertically off."

Further, the recent refactor changed the text color to unreadable, image for reference:
![image](https://user-images.githubusercontent

[2019-07-27 06:18] namannimmo10 commented on #12532
Which color do you want for the scrollbars?

[2019-07-27 06:52] namannimmo10 commented on #12532
@zulipbot claim

[2019-07-27 06:54] rishig commented on #12532
You'll have to jump back a few thousand commits and check what the color was then; I don't think we recorded it. Thanks!

[2019-07-27 06:57] rishig commented on #12524
Sounds good. I think let's just remove the `(?)` unconditionally for admins in that case, then.

[2019-07-27 07:02] namannimmo10 commented on #12532
Hi @rishig
This is my first pull request. I have changed the color of scrollbars to blue. Is it fine?

[2019-07-27 08:17] ashutosh-b-b commented on #12553
@zulipbot claim

[2019-07-27 11:15] mateuszmandera commented on #11209
I'll look into it! :+1:

[2019-07-27 12:46] lukasIO commented on #12902
@timabbott hm, interesting.
what I am doing:
I'm using the zulip-js npm package and copy pasted the request from the readme:
[code]

what I get when this runs in the browser ist the following:

![grafik](https://user-images.githubusercontent.com/12997837/61994575-73fe7500-b07c-11e9-842c-2e9c42170abd.png)

I double checked the values of the zuliprc file to be the same as in my config object.

[2019-07-27 15:32] rishig commented on #12532
Can you post a screenshot of what the color was from a few thousand commits ago (i.e. a few months ago)?

[2019-07-27 16:52] Hypro999 commented on #12878
@zulipbot claim

[2019-07-27 17:23] Arunhari333 commented on #12595
Can I give this issue a try?

[2019-07-28 11:58] SophieHau commented on #12555
@zulipbot claim

[2019-07-28 13:40] mateuszmandera commented on #11209
Posted a PR, the problem was that the way to use zadd(...) changed from 2.x to 3.0 - and we have zadd in rate_limiter code.

[2019-07-28 17:25] lukasIO commented on #12902
seems I found the problem, and it's not related to the api_headers:

its was a wrong property naming. where I sent `key` in the config (as in zuliprc), I should have sent `apiKey`.

seems to work now. the browser error message led me to believe it was cors related.
sorry for that!

[2019-07-28 18:01] lukasIO commented on #12902
turns out just the error message changed, I'm getting a `401` now and then again a CORS restriction message.
I'm not sure if the cors restriction is causing the `401` or the other way around, would appreciate some help.
![grafik](https://user-images.githubusercontent.com/12997837/62010980-8c50bb80-b172-11e9-8cef-3216faafa95b.png)

would this issue be more fitting in the zulip-js repo?

[2019-07-29 02:00] drrosa commented on #11395
Sounds good! I'll look into it.

[2019-07-29 11:43] lukasIO commented on #12902
...and I thought everything is solved, until I tried to reach the `api/v1/events` endpoint.
at this point I'm rather sure, that it's not because of some wrong configuration on my side, because all endpoints are (so far) working, apart from that one.

![grafik](https://user-images.githubusercontent.com/12997837/62045618-1ac24d00-b206-11e9-95f9-0d519efb4992.png)

I found this
https://github.com/zuli

[2019-07-29 13:57] namannimmo10 commented on #12532
Hi @rishig
I tried to search for it using GitLens. Here is the screenshot attached.
![Screenshot from 2019-07-29 19-09-35](https://user-images.githubusercontent.com/43007653/62054272-e024d880-b236-11e9-93a6-1ac44256717a.png)

[2019-07-29 18:56] FoggyFinder opened #12910 "Wrong setting of a caret when one returns after tabs switching"
Gif that shows problem:

![csw](https://user-images.githubusercontent.com/16510738/62074377-4f0c2c80-b24b-11e9-916d-3500c8ab8600.gif)

Gray background is a blank page.

Browser: Chrome 75.
OS: Win10.

[2019-07-29 19:20] andersk commented on #12902
I’m going to guess that your request got redirected to the login page? See if you can confirm this using the network tab of the browser console.

Also, we probably shouldn’t be redirecting API requests to the login page.

[2019-07-29 19:22] timabbott opened #12912 "Use rendered content for has_link and similar search keywords"
The `has:` search keywords, `has:link`, `has:image`, `has:attachment` currently inspect the original content (pre-markdown rendering); this is likely a decision made many years ago and not revisited since.  The functions that calculate this flag (which is stored in the `Message` table) is the following:

[code]

The main way this violates user expectations is that this does not include links gener

[2019-07-29 19:28] lukasIO commented on #12902
I'm not able to confirm the redirection, although I'm not sure if I'm checking in all the right places.

No additional network request is sent/coming in after the cors-restriction response from the events endpoint.

![grafik](https://user-images.githubusercontent.com/12997837/62076387-d3f54700-b247-11e9-94ec-232a8e028d13.png)

[2019-07-29 19:49] andersk commented on #12902
Oh I found the problem.

https://github.com/zulip/zulip/blob/2.0.4/puppet/zulip/files/nginx/zulip-include-frontend/app#L32-L36

https://www.peterbe.com/plog/be-very-careful-with-your-add_header-in-nginx

[2019-07-29 20:40] lukasIO commented on #12902
if I understand correctly, then the post that you linked talks about the `include` missing in a location block, but in zulip's case the include is already within the same location block.
does the same *dropping of headers* happen inside an if-block or is that not the issue at all?

[2019-07-29 20:43] andersk commented on #12902
It happens to any block that has its own `add_header` directives. This was even known until commit 5614d51afcaf09dca6f22dfc36303b8275610608 which broke this.

[2019-07-29 20:44] lukasIO commented on #12902
ah, ok, thanks for the explanation!

[2019-07-29 21:58] #12902 closed

[2019-07-29 22:10] timabbott commented on #12910
@aero31aero @skunkmb can one of you investigate reproducing this?

[2019-07-29 22:11] timabbott commented on #12532
@andersk FYI

[2019-07-29 22:38] #11209 closed

[2019-07-29 22:52] timabbott commented on #12595
@Arunhari333 this is likely a difficult issue requiring a lot of expertise; given your question, I think this is likely not a good issue for you to get involved with.

[2019-07-29 22:54] #12834 closed

[2019-07-30 03:45] timabbott commented on #12883
Cam you provide more motivation for how this would be used?  We already distinguish them visually in both the left sidebar and message feed, and I don't think this is the kind of thing we'd want to clutter the left sidebar area for everyone unless a lot of folks would use it.

(I think there an issue somewhere for configurable pinned views, which we'd look on more favorably as a feature to build f

[2019-07-30 03:51] timabbott commented on #12783
@Atomique sorry for the slow reply.  I haven't seen that exception before, and `is_member` doesn't appear in our code, so my guess this is a django-auth-ldap configuration mistake that's fairly involved to debug.

If you need involved installation help, I'd recommend buying installation support via support@zulipchat.com.

(If you're just looking to test Zulip, you can use its built-in authenticati

[2019-07-30 03:51] #12783 closed

[2019-07-30 07:07] MitPatel971997 commented on #12824
@timabbott [https://zulipchat.com/api/configuring-python-bindings] this setting did not work for me,
so i converted my application to HTTP only and it worked. we are planning to put behind reversed proxy and locally host the bot server.

[2019-07-30 07:23] FoggyFinder commented on #12400
Closed this as I wasn't able to provide enough information.

[2019-07-30 07:23] #12400 closed

[2019-07-30 10:17] tommyip commented on #12822
Are we supposed to support nested ordered list? I see there are spaces before the number if the item is nested but it is not rendered correctly since they are not nbsp.

[2019-07-30 10:48] arthurpankiewicz commented on #12669
@thedeveloperr sorry I just returned from vacation, I can update with some extra info this weekend

[2019-07-30 16:30] Atomique commented on #12783
@timabbott thank you for the reply. "is_member" is a ldap attribute that is set if the user is a member of the group.

I don't need an installation help, I just need a hint how to set up that group filter. The documentation is a bit to slim to just follow it. You guys mention the django-auth-ldap docs but this is a doc for programmers and now I am a bit lost.

I don't want to just test it, I want

[2019-07-30 17:17] vinitS101 commented on #12036
@zulipbot claim

[2019-07-30 19:28] YashRE42 commented on #9911
@andersk We'd want the scroll bar on `html` and not on `body` as it used to be initially?

[2019-07-30 19:49] ab1nash commented on #4145
PR ready for initial review

[2019-07-31 06:46] aero31aero commented on #12910
This bug is in the commit that was reverted, and can be reproduced easily after:

git revert fac886ce0

on master.

For this particular one, I think we need to turn off the event listener immediately after executing it:

[code]

But combined with the tab completion bug, I think there must be a better way of doing this. Maybe there is some event that is emitted on typeahead completion that would be

[2019-07-31 14:33] lukasIO opened #12917 "getting stream subscriptions via api is slow"
as I'm diving a bit deeper in using the API, I realised when testing against `chat.zulip.org`, that the request to get my stream subscriptions is ~10x slower than getting all streams.

for comparison:
`https://chat.zulip.org/api/v1/streams`    **0.28s**
`https://chat.zulip.org/api/v1/users/me/subscriptions`    **2.18s**

is such a large performance difference expected?

[2019-07-31 17:20] #12507 closed

[2019-07-31 18:18] timabbott commented on #12822
I think we probably want that, yes.

[2019-07-31 18:23] timabbott commented on #12917
Yes, it's expected.  If you look at the latter endpoint, it also returns all of the subscriber IDs for the members of all of your streams.  The chat.zulip.org dataset is a bit rough for this type of query; it's like (12K users) * (20 streams) ~ 240K items.

I think it likely makes sense to modify `/users/me/subscriptions` to have an `include_subscribers` parameter (just like `api/v1/streams` has)

[2019-08-01 01:32] gnprice commented on #12917
Nope! We don't use it at all.

We have a binding for it (in `src/api/subscriptions/getSubscriptions.js`), but it isn't used -- since 2017 we've relied on /register and events for getting the user's subscriptions.

[2019-08-01 06:26] prabhumarappan commented on #12629
@zulipbot  claim

[2019-08-01 20:18] sanskar11 commented on #12553
@zulipbot claim

[2019-08-02 11:15] mateuszmandera commented on #12818
@zulipbot claim

[2019-08-02 11:47] Nirbhay1997 commented on #9473
claim

[2019-08-02 11:48] Nirbhay1997 commented on #9473
@zulipbot  claim

[2019-08-02 14:25] crizise commented on #12872
Hi,
I have similar issue but have no idea why we get errors like these:

`Logger root, from module zerver.middleware line 291: Error generated by username (useremail) on chat_url deployment

Traceback (most recent call last):

File "/home/zulip/deployments/2019-06-14-12-42-27/zulip-py3-venv/lib/python3.6/site-packages/urllib3/connection.py", line 159, in _new_conn
  (self._dns_host, self.port), se

[2019-08-02 14:39] crizise opened #12923 "Having issues generated by zerver.worker.queue_processors"
Hi,
my organization have started using Zulip at that installed at Digitalocean droplet (2vcpu-4gb, Ubuntu 18.04)
Time from time we're getting following errors:

[Django]: server closed the connection unexpectedly\n This probably means the server terminated abnormally\n before or while processing the request.\n

Logger root, from module zerver.worker.queue_processors line 147: Error generated by An

[2019-08-02 21:59] timabbott commented on #12923
@crizise that error is caused by the postgres server being in the process of restarting.  I would do the following:
[code]

and see if that fixes it.

@hackerkid FYI.

[2019-08-02 22:17] #11418 closed

[2019-08-02 22:19] timabbott commented on #12917
Great, we can just fix this then.  @amanagr in case the terminal apps use this as well, but that is alpha so I don't consider it a blocker for this sort of change.

[2019-08-03 00:41] amanagr commented on #12917
We use /register and events for user's subscriptions as well. Thanks for the info!

[2019-08-03 18:01] rishig opened #12929 "integrations: Left sidebar of integrations page is misordered."
E.g. the left half of https://chat.zulip.org/integrations/doc/appfollow looks like

![image](https://user-images.githubusercontent.com/890911/62415398-fd162e80-b5dd-11e9-8f9a-d5d9c2d5a68d.png)

The "Back to list" should appear after "Customer support"

[2019-08-03 18:42] udaymewada commented on #12929
@zulipbot claim

[2019-08-03 23:13] thedeveloperr commented on #8859
@zulipbot  Still working on this issue

[2019-08-03 23:13] thedeveloperr commented on #12669
@zulipbot claim

[2019-08-03 23:15] thedeveloperr commented on #12424
@zulipbot claim I have some doubts posted on PR #12589 for @timabbott  so work on this issue is on hold till I get clarity on those issues. But intend to work on this

[2019-08-04 00:00] GonzRon commented on #10527
You will need to be somewhat familiar with Django and python projects to perform this workaround.
You need to understand that disabling CSRF protection site wide could expose you to vulnerabilities that zulip developers probably don't understand and can't help you with because this is an unsupported / untested workaround.

As of zulip 2.0.4, sourcing the current venv activate script in zulip/deplo

[2019-08-04 05:08] rishig commented on #12744
Thoughts on this? Should I open an issue for it?

[2019-08-05 00:25] glyph commented on #12791
❤️

[2019-08-05 12:51] arthurpankiewicz commented on #12669
@thedeveloperr

when I cloned `python-zulip-api` and followed the steps to set up environment and develop bots, when I run `pip list`, I have the following packages (when running the python-zulip-api env):
[code]

When I follow deploy instructions found [here](https://zulipchat.com/api/deploying-bots), installing the zulip python packages, when I run pip in a separate directory (where I am develop

[2019-08-05 12:58] davidtwco opened #12936 "User groups linked to stream membership"
In our Zulip instance, we have a lot of user groups that contain just a stream's members (since a team will typically have a private stream and a user group to mention that team). It would be nice if we could enable user groups that are linked to stream membership so that these groups don't need to be created and maintained separately.

This could take the form of a global setting that creates use

[2019-08-05 14:50] YashRE42 commented on #11752
Don't worry about it, Zulip bot. I'm just waiting for review/merge here.

On Mon, Aug 5, 2019 at 8:17 PM zulipbot <notifications@github.com> wrote:

[2019-08-05 17:48] neiljp commented on #12669
@arthurpankiewicz Can you get your bot to run by specifying the path in place of the botname, wherever it is located?

One future approach which I proposed for this, which may make this simpler for you, is where you would install the zulip-bots package (eventually just from pypi, for now from git in a PR) and install your own bot package separately, with an appropriate element in `setup.py` which

[2019-08-05 18:09] sahil839 commented on #12451
@zulipbot claim

[2019-08-05 18:10] sahil839 commented on #12451
@zulipbot claim

[2019-08-05 18:43] udaymewada commented on #12929
@rishig how should I start working on issue #12929 this because I am not familiar with Django framework.

[2019-08-05 18:47] vinitS101 commented on #12929
@udaymewada This issue is entirely frontend, so you should be fine.

[2019-08-05 22:17] andersk commented on #9911
@YashRE42 We want the normal default browser scroll bar, which is on `<html>` for standards mode pages like ours; it’s only on `<body>` for quirks mode pages (see `document.scrollingElement`).

[2019-08-05 23:47] timabbott opened #12940 "Remove legacy reactions reactions endpoint"
We removed all use of the legacy API endpoint for adding/removing reactions a long time ago (add_reaction_legacy, remove_reaction_legacy); I verified that no clients use this endpoint using server logs.  We should remove the implementation.

The main effort here will be migrating existing unit tests that use this endpoint to use the newer reactions endpoint.

[2019-08-06 00:36] gloels commented on #12940
@zulipbot claim

[2019-08-06 01:26] GonzRon opened #12941 "Support running Zulip as a hidden service on TOR"
Zulip would be a great platform to run on TOR.  While I do have Zulip running in TOR without HTTPS, the android client doesn't work well.

This is an Enhancement Request for Zulip to officially support Tor.

https://2019.www.torproject.org/about/overview.html.en#overview

[2019-08-06 05:23] crizise commented on #12923
@timabbott thank you, I run this command and seems no errors anymore.

[2019-08-06 05:23] jdherg opened #12943 "Show outgoing webhook bot token in bot settings."
The "Your Bots" page bot cards should show the token for outgoing webhook bots along with the username, API key, etc. As far as I can tell, the only way for a bot developer to get the token now is to pull it out of the Zulip Botserver config that can be downloaded from that page.

[2019-08-06 05:43] jdherg commented on #12811
Yep! `reaction` is totally fine -- I think that's what's used elsewhere. If we wanted to be really fancy it could even be `reactions` and take a list :)

In case any passers-by are thinking about picking this up, I think this might look something like:
* In `zerver/lib/outgoing_webhook.py`:
  * Parse the new field (`reaction`) in `process_success`
  * Make a new function `add_response_reaction` th

[2019-08-06 09:07] YashRE42 commented on #12036
@vinitS101 Do you have a wip or an approach so I could help with this, if you want?

[2019-08-06 09:27] koko-eyen commented on #4785
@zulipbot claim

[2019-08-06 09:27] koko-eyen commented on #4785
@zulipbot unclaim

[2019-08-06 12:44] victorphoenix3 commented on #6512
@zulipbot  claim

[2019-08-06 12:59] victorphoenix3 commented on #11453
@zulipbot abandon

[2019-08-06 13:00] victorphoenix3 commented on #6512
@zulipbot claim

[2019-08-06 13:38] vinitS101 commented on #12036
@YashRE42 The actual work here is simple, I believe (adding a line of text above every search). I just haven't been able to find which code triggers the search.

[2019-08-06 13:57] arthurpankiewicz commented on #12669
@neiljp I receive the same error when using absolute paths
[code]

[2019-08-06 18:13] sysmray commented on #12883
There may be more use cases, but two that come to mind for my use case:

- streams have public content, but PMs may have sensitive information; in meetings, it may be useful in some instances to scroll through all streams and not worry about showing sensitive information
- some users have complained that because they cannot leave group PM chats, that at least hiding PMs until they want to see them

[2019-08-07 00:46] ghost opened #12947 "Support links in polls"
It'd be nice to, with the `/poll` feature, support markdown links in the poll option. This way you could include links to more information with the option.

[2019-08-07 01:55] Hypro999 commented on #12878
Still working on it. I finished the actual system itself which got merged yesterday. Have to audit and migrate over all docs and the create the automated test for response 200.

[2019-08-07 08:56] stone212 opened #12949 "Internal Server Error"
After restoring a backup using https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#restoring-backups and after deleting an older (failed) restore on the new server using these commands:

[code]

The new restore looks like it succeeds but I get an Internal Server Error.

`/var/log/zulip/error.log/` ends with this:

[code]

And then:

[code]

[2019-08-07 16:36] rishig opened #12951 "integrations: Add grafana."
Grafana has a webhooks system, so this should be pretty straightforward:
https://grafana.com/docs/alerting/notifications/#webhook

You can follow the instructions for adding a new webhook integration at https://zulipchat.com/api/incoming-webhooks-overview

[2019-08-07 18:13] koko-eyen commented on #12951
@zulipbot claim

[2019-08-07 18:14] koko-eyen commented on #12951
@zulipbot claim

[2019-08-07 18:17] koko-eyen commented on #4785
@zulipbot unclaim

[2019-08-07 18:27] koko-eyen commented on #12951
@zulipbot claim

[2019-08-07 19:03] timabbott commented on #12947
Yeah, this is very reasonable. The poll system is still a beta API; we'll definitely want to fix this when we rework it to something more stable.

[2019-08-07 22:32] timabbott commented on #12949
This looks like a version mismatch between where you took the backup and restored it, since the database schema expected by the code doesn't match the schema of the database.

Closing as not a bug, since the docs are clear that the backup/restore need to be running the same Zulip version.

[2019-08-07 22:32] #12949 closed

[2019-08-07 23:10] timabbott commented on #12943
Agreed.

[2019-08-07 23:17] timabbott commented on #12941
I did research on Tor like a decade ago, but haven't looked at how auth for hidden services is done these days.  @GonzRon can you share details on how you have it setup as a Tor hidden service?  Did you run into other issues?

For the mobile apps, we consider it important to require a secure connection between the mobile apps and the server; what's the Tor hidden service security model these days?

[2019-08-07 23:19] timabbott commented on #12929
@alexandraciobica FYI, since it's possible this was a regression in your recent design work.

[2019-08-08 00:01] #12615 closed

[2019-08-08 00:02] timabbott opened #12952 "lint against the string `msgid` in the codebase"
We have a very consistent pattern of using `message_id` as a local variable name for message ID objects, both in the JS and Python codebases.

A lot of folks use `msgid` as a variable name (or token within one), which is not Zulip style.  We have a few dozen instances that have leaked in; we should fix those and add a lint rule to prevent them recurring.

See our linting docs for details on how to

[2019-08-08 00:04] timabbott commented on #12811
For invalid reactions data, I'd expect it to do our semi-standard outgoing webhook error handling of notifying the user who owns the bot, and then abort without doing anything.

[2019-08-08 00:12] timabbott commented on #12936
So, one thing that's a bit subtle about that idea is that mentioning a user group notifies the intersection of the subscribers to the place you're sending to and the members of the user group (since members of the user group not subscribed don't receive the message at all).

I'm a little worried that a structure of this form would be confusing for users.  But conceptually, I don't think it'd be ha

[2019-08-08 00:17] #2734 closed

[2019-08-08 00:44] timabbott commented on #11455
@pragatiagrawal31 correct me if I'm wrong, but I think all that's missing is the changes (for admins only) to the user and profile popovers to show the delivery email?  It'd be really exciting to fully close this out.

[2019-08-08 00:46] timabbott commented on #12910
I see, so should we close this issue and move the discussion to the thread on re-introducing https://github.com/zulip/zulip/commit/fac886ce052d403e4b02fc6d53f36659ecd5c03a?

[2019-08-08 00:46] timabbott commented on #4145
@vinitS101 @YashRE42 can one of you help review this?

[2019-08-08 00:50] timabbott commented on #12607
@mlncn thanks for the report.  I agree this should be better.  We have some upcoming work that will significantly improve search typeahead for topics within a stream (currently the frontend doesn't have full topic history available, just recent ones).  Doing a global topic typeahead across all history is likely difficult for data/performance reasons; it's potentially a huge amount of data to fetch

[2019-08-08 00:51] rishig opened #12953 "markdown: Images in quotes don't work."
To repro, just paste an image inside a quoted block. It gives something like
![image](https://user-images.githubusercontent.com/890911/62667313-ed7b4a80-b93b-11e9-9590-abb186c23fb6.png)

Moving the same image to outside the quoted block works.

[2019-08-08 00:52] timabbott commented on #12576
@wsupajirakit I think for this you probably just want the `!` image syntax, using the syntax discussed in https://github.com/zulip/zulip/issues/387.

@aero31aero we should probably pick up work on #387.

[2019-08-08 01:36] GonzRon commented on #12941
Sure, technically, the most difficult part of getting it running was getting over the CSRF issue that is prevalent when attempting to run Zulip over HTTP.  I haven't quite worked out all the details on that investigation, but I'll update this ticket when that's resolved.  Most of my research is detailed in 10527, i.e.: https://github.com/zulip/zulip/issues/10527#issuecomment-517962839

If you are

[2019-08-08 04:05] bbcc520520 commented on #10107
rename file

[2019-08-08 06:28] okmanl commented on #12952
@zulipbot claim

[2019-08-08 06:31] FoggyFinder commented on #12910
When user said that he doesn't see the problem I thought - "How it possible - issue still open". So, I think it will be better to close the issue.

[2019-08-08 06:31] #12910 closed

[2019-08-08 06:41] thedeveloperr commented on #8859
@zulipbot claim

[2019-08-08 10:46] psteinweber commented on #5200
This would be a great feature! +1

[2019-08-08 12:05] alexandraciobica commented on #12929
@timabbott I checked it out when @rishig posted this issue because I also thought it's because what I did. I reverted the commits I made and it looks the same, so it was like that before I worked on the page. But I can do it because it should not take long and I am familiar with the integrations page.

[2019-08-08 12:46] aero31aero commented on #12910
Yeah, I'll draft an issue today detailing this bug along with the performance issue you pointed out recently.

[2019-08-08 12:50] aero31aero commented on #12953
This isn't a bug exactly, I think. I recall a discussion where people were overwhelmed by repeated image previews if they quoted someone's message that had images in it, which lead to this change. See 865bc24f6.

[2019-08-08 17:24] timabbott commented on #12953
Yeah, this was an intentional change.  What's the use case for where you want the preview when it's in a quoted block?

[2019-08-08 17:26] timabbott commented on #12947
The code for this is in `static/js/poll_widget.js`; I haven't done investigation into how that's rendered, but certainly in principle we could do markdown rendering on the `submessage` objects.  Ideally we'd follow our policy of always doing such rendering on the backend.

[2019-08-08 17:27] timabbott commented on #12923
OK.  My guess is that `apt` auto-updated your postgres server version, and that's the source of the problem.

@hackerkid we probably will want to either disable unattended upgrades in that image or add a post-unattended-upgrade hook to restart the Zulip server.  I'd be curious if the latter is possible; that would be a much cleaner solution.

@andersk do you know if there's a way to register hook

[2019-08-08 17:30] timabbott commented on #12923
I guess https://github.com/mvo5/unattended-upgrades/issues/55 suggests one can use https://wiki.debian.org/AptConf to set a script to run after a successful `dpkg` invocation; we could have that check if the postgres version changed, and if so, restart the Zulip server?

[2019-08-08 17:40] rishig commented on #12953
https://chat.zulip.org/#narrow/stream/16-desktop/topic/connecting.20to.20server was the particular conversation.

We can close this if it was intentional. I could also imagine doing something like what we do for silent mentions, where if you quote or copy and paste something it uses a slightly different "silent image" syntax.

[2019-08-08 17:53] timabbott commented on #12521
@Hypro999 it might make sense to declare victory on this and open a couple follow-up issues; one for clearing BUGGY_DOCUMENTATION_ENDPOINTS, and one for potentially checking the `check_list` type functions against one of the two other sources of types we have (openapi and mypy).  What do you think?

[2019-08-08 17:54] timabbott commented on #12438
Closing as wontfix because mypy made some significant performance improvements (like 2-3x) in their recent releases that makes this likely no longer worth doing.

[2019-08-08 17:54] #12438 closed

[2019-08-08 18:08] Hypro999 commented on #12521
@timabbott, didn't we complete this already (https://github.com/zulip/zulip/commit/0682f4f12a83bc3e5fcfa0f63fb0bf9e2548cbd1)? Are you suggesting something else?

[2019-08-08 18:53] timabbott commented on #12521
There are 3 sources of truth (validators, mypy, openapi).  Currently we're only comparing 2 of them (mypy and openapi).

[2019-08-08 19:49] timabbott commented on #12929
Sounds good!  @udaymewada you may want to find another issue.

[2019-08-08 20:02] vinitS101 commented on #12036
@rishig What should the styling for this text be like?

[2019-08-08 20:19] rishig commented on #12036
I tihnk we already have a message in this area for if you're on Realm.LIMITED and searching for something more than 10K in the past, though I don't rememebre what it looks like. Maybe we can start by copying that?

[2019-08-08 22:55] andersk commented on #12923
Is that really a hook you want? It seems overly specific. It only helps under the conditions that Postgres is running on the same system and it was restarted by dpkg, neither of which fundamentally has anything to do with the problem.

Shouldn’t it be the Zulip server’s job to notice that it lost its Postgres connection for any reason, and retry or restart itself?

[2019-08-09 03:08] stone212 commented on #12949
Confirmed. I did a full `upgrade-from-git master` on both servers before the backup/restore but when I ran them again, the new server had another full upgrade.  Versions confirmed to match now.

[2019-08-09 04:11] bbcc520520 opened #12965 "How to use js to realize online chat on Web pages?"
How to use javascript to realize online chat on Web pages?
Forgive me for being a novice.

[2019-08-09 04:14] bbcc520520 commented on #12965
I see messages sent and viewed in the restapi, but how do I get messages online? how to
 use websocket?

[2019-08-09 04:48] cyphase commented on #12785
This is a duplicate of #12281.

[2019-08-09 05:43] #12785 closed

[2019-08-09 10:38] Hypro999 opened #12969 "Clear out the "buggy_documentation_endpoints" in our OpenAPI test suite"
Now that the OpenAPI test suite has been sufficiently developed. We should begin work on eliminating all of the endpoints in the `buggy_documentation_endpoints` list under `OpenAPIArgumentsTest`. The ideal way to approach this is by adding 1 commit per endpoint resolved and then 1 commit at the end to remove the variable `buggy_documentation_endpoints` and code for it from the test itself.
Related

[2019-08-09 10:52] Hypro999 opened #12970 "Extend type checking in OpenAPIArgumentsTest"
#### Background for anyone new to this issue/system:
- Issue https://github.com/zulip/zulip/issues/12521
- Pull Request https://github.com/zulip/zulip/pull/12681
- Pull Request https://github.com/zulip/zulip/pull/12751 [where type checking was initially added]
- Pull Request https://github.com/zulip/zulip/pull/12934 [system extended to lists]

#### Issue:
The OpenAPIArgumentsTest, as far as type c

[2019-08-09 10:54] Hypro999 commented on #12521
@timabbott Victory declared :+1:

[2019-08-09 13:53] thedeveloperr commented on #8859
@timabott Just to make sure, what should be the negation of this is:public-stream ? Logically it should be private streams (invite_only = True) and not is:private as above discussed, right ? Also if negation is equivalent to private streams, we need to include history of such private stream, if stream creator allows it, right ?

[2019-08-09 13:54] thedeveloperr commented on #8859
@timabbott
Just to make sure, what should be the negation of this is:public-stream ? Logically it should be private streams (invite_only = True) and not is:private as above discussed, right ? Also if negation is equivalent to private streams, we need to include history of such private stream, if stream creator allows it, right ?

[2019-08-09 17:04] vinitS101 commented on #12036
I don't think I've seen that message before.

[code]
Is it this one?

[2019-08-09 17:09] rishig commented on #12036
Yeah.

[2019-08-09 21:25] pirate commented on #1739
+1 this would be awesome, I'd also be down with a reddit style bot instead of a chevron menu item. The message `!remindme 1 week` is also nice to see publicly so you know when someone is planning to get back to something later.

[2019-08-09 23:07] #12917 closed

[2019-08-09 23:29] #9682 closed

[2019-08-09 23:55] timabbott commented on #12965
@bbcc520520 Zulip is a full chat application for teams.  You're of course welcome to build something on top of it as it's all open source.  But I think these questions are answered pretty clearly in our API documentation (etc.), and your project isn't an issue in Zulip, so I'm closing this.

[2019-08-09 23:55] #12965 closed

[2019-08-09 23:55] timabbott commented on #12949
Great, thanks for the followup!

[2019-08-10 00:01] timabbott commented on #12923
@andersk it's a good question. We do have code to do that sort of restart, and I suspect that happened in this case, but the current setup restarts just the queue worker or other process that had the issue, not all of Zulip, and so one gets a series of random exception emails like this one for the next like 24 hours on low-traffic systems.

This is extremely confusing to sysadmins for whom the ser

[2019-08-10 00:31] timabbott commented on #12953
I think it'd just be for quote-and-reply; I suppose that'd be better (but kinda a lot of setup work) as it'd make the paste-from-email previews experience still nice. (In that case, you probably do always want the preview)

[2019-08-10 03:15] aero31aero commented on #12953
So we should invest in a silent mention like concept here. Say, `_[]()`?

On Sat, Aug 10, 2019, 6:01 AM Tim Abbott <notifications@github.com> wrote:

[2019-08-10 05:02] WesleyAC commented on #12077
Hey, I just wanted to bump this and see if there's any plan for supporting bots being able to see uploaded files - this is something that would be really useful for https://github.com/wesleyac/printer-bot

[2019-08-10 11:09] fredczj opened #12976 "Email + LDAP authentication failed"
Hi !
I have just upgraded Zulip to zulip-server-2.0.4.tar.gz      , hopping this solves an authentication issue, but... not.
My organization setup is such as
  - LDAP authentication for in-company accounts
  - (try to) Email authentication for ext-company accounts.

Unfortunately, as long as I have LDAP backend enabled, I cannot log-in using Email backend.
Am I missing something?

[code]

Thanks
F

[2019-08-10 16:19] Dhruvi16 commented on #12249
@zulipbot claim

[2019-08-11 14:22] kskonanur commented on #11685
@zulipbot claim

[2019-08-11 19:11] lukasIO opened #12980 "Enable CORS on /user_uploads"
Very similar to https://github.com/zulip/zulip/issues/12902, but this time I'm trying to access the file contents of user_uploads, specifically images.
~~Authentication seems to work, but~~ (edit: not so sure about that) trying to get a meaningful response within the browser is blocked by the lack of CORS headers on the `/user_uploads` location.

@andersk I'm pinging you on this, because you alrea

[2019-08-12 06:55] tommyip commented on #12733
Should be fixed by #12921.

[2019-08-12 12:28] stanzheng commented on #1516
👋

bumping this topic if this is still a

1) feature that is on the roadmap
2) a pull request that zulip is open to fielding?

I agree with @porterjamesj  on their assessment that is still a desired feature/issue.

This might be two issue requests. The user experience would be similar to the on in slack now
1) offering archiving streams as a feature
- hiding it from channels but providing it in th

[2019-08-12 14:39] schrej opened #12988 "Show unsubscribed streams in stream filter"
If a user isn't subscribed to a stream that he knows exists, it's somewhat hard to find and subscribe said stream, if you don't know what you're doing.

Currently you need to open the streams popup and subscribe to the stream there. If the window is too small, the search field is hidden though, and the process is more complicated than needed.

It would be more straight forward if you could just us

[2019-08-12 14:58] joseph-dewitt commented on #12988
Claim

[2019-08-12 20:38] andersk commented on #12953
No need to invent a syntax (especially not that one). Markdown already has `![display](an-image.png)` vs. `[link to](an-image.png)`. We just need to stop reinterpreting the latter as the former.

[2019-08-12 20:54] joseph-dewitt commented on #12988
@zulipbot claim

[2019-08-12 21:16] gnprice commented on #8177
We've gotten a similar-sounding report on the mobile side which I've filed as https://github.com/zulip/zulip-mobile/issues/3583 .

I've been unable to reproduce it, though. (Details there.) For people still seeing it, I would be curious to hear details of how to reproduce!

[2019-08-12 21:49] swallitsch opened #12991 "User stopped getting unread message badges"
A user today suddenly stopped getting unread message badges in excess of the unread messages they already had.

- Messages displayed like normal.
- Private Messages list would re-arrange like normal, but no badge appears
- Mobile app displayed badges and updated like normal
- Persisted across chrome and firefox, but only tested on Centos. Did not test desktop app
- User had over 4000 unread messag

[2019-08-12 22:23] timabbott commented on #12991
This is almost certainly fixed in master.  The issue is that the webapp before 2.1 would fail to count very old unread messages because of how it fetched unread message data from the server, and we changed the webapp to use the mobile apps' unread messages database index since then.

[2019-08-12 22:23] #12991 closed

[2019-08-12 22:24] swallitsch commented on #12991
Sounds good, thanks Tim!

[2019-08-12 22:25] timabbott commented on #8177
I believe the issue reported here was about taking a picture (presumably with landscape orientation) with the iOS camera and then sending it in a message in Zulip.  The mobile apps need not be involved; the issue is that the iOS phone camera uses unusual orientation metadata that a lot of image-processing software does not respect.

[2019-08-12 22:26] timabbott commented on #8177
(I think if you download the image Waseem posted above and send it in a Zulip, you'll see this issue)

[2019-08-12 22:35] #12980 closed

[2019-08-13 01:23] #11930 closed

[2019-08-13 01:33] timabbott opened #12992 "data export: Add support for requesting an export with member consent"
Following https://github.com/zulip/zulip/pull/11996, we now have a page for doing "public data exports" as described in https://zulipchat.com/help/export-your-organization.  Ideally, we'd also add support for the "member consent" system as a completely self-service option.

For actually exporting the right data, we already have implemented parts of this via the `manage.py export --consent-message-

[2019-08-13 08:18] rvansa opened #12997 "Public discussions exposed as web pages"
I use Zulip for several open-source projects (Infinispan, Wildfly, Hibernate, Quarkus, Hyperfoil) and often users come to discuss technical issues. Zulip is naturally better suited to online conversations, however compared to regular forum people can't just google those discussions - they would have to come and search using the client - and that is not usually in the workflow when searching for a

[2019-08-13 09:25] namannimmo10 commented on #12532
@zulipbot abandon

[2019-08-13 11:37] SophieHau commented on #12553
@zulipbot Pull request is pending review

[2019-08-13 15:44] gustavosizilio opened #12998 "Just a question about the ZUlip integration."
Hello guys, I am testing zulip as an external chat tool for our organization. THe zulip must be integrated seamlessly into our platform. My primary question that I need your help is:

When I create the user on our platform, we do use a bot to create a user on zulip. However, we need control of this new account through API... How can we generate or get the API key? Did you get the problem? I need c

[2019-08-13 16:40] timabbott commented on #12998
If you're self-hosting, you can writing a Django management command to access a user's API key from the command line.  There's example code in the Git repository at `zilencer/management/commands/print_initial_password.py` that you can use for this.

(I assume you'll also be using the `create a user` API endpoint documented on zulipchat.com/api).

[2019-08-13 16:40] #12998 closed

[2019-08-13 19:33] thedeveloperr commented on #12992
@timabbott can I work on this ?

[2019-08-14 03:54] timabbott commented on #12997
@rvansa agreed.  There's a recently created public archive tool contributed by the Lean Provider community here: https://github.com/zulip/zulip_archive, which we'd love a few more folks to try out (we're in the process of preparing nice documentation for it).

We have plans to do something more native that doesn't require running this sort of cron job in the coming months as well, but this should

[2019-08-14 03:54] #12997 closed

[2019-08-14 07:35] drrosa commented on #11395
Tonight I got a chance to investigate this issue. Currently, `../tools/build-docs` results in lots of warnings e.g.

`/zulip/docs/tutorials/writing-views.md:367: WARNING: None:any reference target not found: ../subsystems/client.html`

but the docs still build correctly and the links with warnings work just fine.

I then changed that markdown link from `client.html` to `client.md` and that made th

[2019-08-14 07:45] drrosa commented on #11395
``../tools/build-docs`` with the [latest recommonmark](https://pypi.org/project/recommonmark/#history)==0.6.0 gives the following error:

[code]

[2019-08-14 14:17] rchristy-am commented on #8021
I find myself wasting a significant amount of time trying to do the following things:
Trying to determine where my input will go in Zulip. I know that if I have the bottom message compose area open and focused for input, I cannot use hotkeys. So I constantly do this:

Hit ESC several times. Sometimes Zulip takes a while to respond so I just hit it a few times for good measure (I do not blame the s

[2019-08-14 17:52] #12523 closed

[2019-08-14 18:37] timabbott commented on #11395
OK; want to do a prep PR that just upgrades to 0.5.0 without breaking anything?

[2019-08-14 18:58] Soniella commented on #12508
Hi @rishig !
So if I have not understood it wrong, you do not want the cursor to change from the pointer cursor style to default cursor in between two streams?

[2019-08-14 19:05] rishig commented on #12508
Correct.

[2019-08-14 19:26] Soniella commented on #12508
Thank you! I would like to work on it.
@zulipbot  claim

[2019-08-14 19:31] gloels commented on #12940
@zulipbot still working on it.

[2019-08-14 22:08] timabbott commented on #12502
@vinitS101 just wanted to check in on this -- did you make progress or should I find someone else to work on this?

[2019-08-15 03:57] lixiran opened #13003 "how to config a remote nginx for a zulip dev-environment"
I have set up a zulip dev environment on one VM. it can be access via port 9991 and works well.
Now I have installed a nginx on another VM. this zulip will be shared by zulip and other applications.
in the future, I want to visit zulip via http://<nginx host>/zulip
is it possible to achieve ? how to modify the zulip code and nginx config ?

[2019-08-15 04:00] tommyip commented on #12377
Fixed in cbae51db63587b31636cfb92573972e633512fa8.

![image](https://user-images.githubusercontent.com/18504232/63071989-1b701880-bf54-11e9-99c7-0f4c80ae4976.png)

[2019-08-15 06:17] Soniella commented on #12508
@rishig, kindly check the pull request I just open, to see if that solves the problem.
Thanks!

[2019-08-15 08:58] vinitS101 commented on #12502
I wasn't able to make any substantial progress on this issue. My apologies for not bringing this up before.

[2019-08-15 10:35] lixiran commented on #13003
I did some experiment today
assuming the zulip's ip is 172.16.106.177 and nginx 's ip is 172.16.106.178
before starting the zulip, i run
export EXTERNAL_HOST=172.16.106.177:9991
then run
./tools/run-dev.py --interface=''

the zulip is up and running.  i can visit via port 9991.

then I update the nginx config
I add a location /zulip/.
location /zulip/ {
    proxy_pass http://172.16.106.177:9991/;

[2019-08-15 11:21] Soniella commented on #11782
@zulipbot  claim

[2019-08-15 11:22] Soniella commented on #11782
Hey @rishig !
Kindly let me know what to set N to.

[2019-08-15 14:15] pragatiagrawal31 opened #13008 "org settings: Undesirable behavior while switching between panels using the keyboard."
![Aug-15-2019 19-38-18](https://user-images.githubusercontent.com/40331304/63100597-05cf1300-bf95-11e9-9f06-343109ace01c.gif)

So while I was testing users table using the keyboard for a normal user, I discovered this bug, where we have some panels which are hidden (initially), but when we use the keyboard to navigate between visible panels, sections of some invisible panels got rendered, which le

[2019-08-15 14:36] lixiran commented on #13003
if I install the zulip prod version, is there an option to use external nginx ?
I read this doc:
https://zulip.readthedocs.io/en/stable/production/deployment.html#putting-the-zulip-application-behind-a-reverse-proxy

seems this doc means we can use an external reverse proxy pointing to the zulip prod env's nginx  ?

[2019-08-15 18:32] andersk commented on #13003
The dev environment is not intended to be exposed to the internet. For a production deployment, yes, you have found the right documentation.

[2019-08-15 18:32] #13003 closed

[2019-08-15 22:18] thedeveloperr commented on #12992
@zulipbot  claim

[2019-08-15 22:52] timabbott opened #13012 "Add support for newer format Jira issue comment events"
According to https://developer.atlassian.com/cloud/jira/platform/change-notice-removal-of-comments-from-issue-webhooks/, Jira has migrated the event they use for "issue comment" events form the "issue_*" events to the "comment_*" events.

We should add support for the new event types.  I'm not sure whether it makes sense to remove support for the older way of getting issue comments; I think a dece

[2019-08-15 23:12] #12929 closed

[2019-08-15 23:21] timabbott commented on #12528
@vrongmeal can you update the checkboxes above with what's finished?

[2019-08-15 23:45] #12324 closed

[2019-08-15 23:51] #13008 closed

[2019-08-15 23:56] timabbott commented on #12502
OK.  @YashRE42 if you're looking for a high priority data-centric frontend issue, this could be a good thing to claim.

[2019-08-15 23:59] #12377 closed

[2019-08-16 02:34] vrongmeal commented on #12528
Done. I separated the `portico/*` from others.

Also submitted a PR for `drafts.scss`.

Do we want to do `pygments.scss`?

[2019-08-16 05:36] timabbott commented on #12528
Great.  I'm not convinced we want to do pygments; it's partially forked from an upstream setup and we might want to preserve proximity there.

I bet `informational-overlays` will be quick; we can try to tackle `compose` after.

[2019-08-16 05:41] #11395 closed

[2019-08-16 05:56] vrongmeal commented on #12528
Yes. I'm almost done with `informational-overlays`.

[2019-08-16 06:02] victorphoenix3 commented on #12853
@zulipbot claim

[2019-08-16 11:02] Hypro999 commented on #13012
@zulipbot claim

[2019-08-16 15:55] hackerkid commented on #12844
@zulipbot claim

[2019-08-16 16:29] victorphoenix3 commented on #6512
@zulipbot waiting for the pr to be reviewed.

[2019-08-16 16:42] timabbott commented on #12992
@thedeveloperr sure.

[2019-08-16 16:42] #12521 closed

[2019-08-17 12:34] vinitS101 commented on #12369
This is apparently a bug with one of the older versions of Bootstrap that we use and the only solutions I could find were weird workarounds that were very specific to their respective SO questions.
Basically, the problem here is that 2 clicks are required to open the modal again once it is closed (either via the X or Cancel button in our case).
Almost all of these solutions passed a click in the i

[2019-08-17 13:38] pragatiagrawal31 commented on #12258
@zulipbot claim

[2019-08-17 16:02] Srijan1998 commented on #9473
@zulipbot claim

[2019-08-17 19:23] #9828 closed

[2019-08-17 19:25] timabbott opened #13027 "Update packagecloud.io repository to contain Buster packages"
This should let us remove the postgres changes from dac068df31645001b41ea363e07c5d5adeaa4154, since we'll be able to just use the apt repository for buster.

@andersk is this something you have time to do?  Probably you or I should do the Debian repository management since it's fairly sensitive.  (I'm pretty sure we're just using the stock packaging from https://github.com/zulip/tsearch_extras for

[2019-08-17 19:49] timabbott commented on #12952
The Python part is complete via #12995 (2a1305de9f10db81bc9721ff1bd9a9f67ddae91f).  Note that we've only done the Python part; the JS part will be more complex as `msgid` appears in a HTML template under `static/templates` and we'll need to test that clicking on notifications still works correctly after migrating that.

The JS part might be a good quick project for @vinitS101 or @YashRE42.

[2019-08-17 19:53] Finleyyy commented on #131
The link's not working for me, can you send a new link or give some information what was in that thread? Thanks

[2019-08-17 20:50] vinitS101 commented on #12952
@zulipbot claim

I'll work on this.

[2019-08-17 20:52] okmanl commented on #12952
@abandon

[2019-08-17 20:57] vinitS101 commented on #12952
@zulipbot claim

[2019-08-18 05:11] ayushman2001 commented on #12553
@zulipbot claim

[2019-08-18 11:25] SophieHau commented on #12553
Hi,
This issue is dealt with in this pull request https://github.com/zulip/zulip/pull/12907 awaiting review.

[2019-08-18 11:27] krotovkk commented on #12555
@zulipbot claim

[2019-08-18 16:07] thsubaku9 opened #13031 "Initial Server installation issue"
While setting up the server using vagrant, an issue is encountered wherein the script is unable to download certain files due to a lack of the necessary repository links.

[2019-08-18 19:59] timabbott commented on #13031
@thsubaku9 we test development environment setup in CI; my guess is the problem here is likely an issue with your network.

In any case, this bug report doesn't have details needed for anyone to help debug were it an issue with Zulip.

[2019-08-18 19:59] #13031 closed

[2019-08-19 07:38] aero31aero commented on #12800
I can't see the images here anymore, but I think end-quote markers in #13001 would fix this.

[2019-08-19 14:18] thsubaku9 commented on #13031
Thanks for the feedback.

(
In case anyone else encounters this issue, just add these lines either to the install script or manually via terminal ->

- sudo add-apt-repository -y universe
- sudo add-apt-repository -y ppa:groonga/ppa
- sudo apt-get update

)

[2019-08-19 15:52] richardgreg commented on #5087
@zulipbot claim

[2019-08-19 18:15] rishig commented on #12844
First bullet resolved by #13024.

The broken upgrade ended up being due to a regression in the stripe pip package, not due to an intended change in their API bindings. It was resolved at some point between 2.27 and 2.35. Thanks Vishnu for tracking that down!

[2019-08-19 20:34] sysmray commented on #12912
As a note, `has:link` (and presumably all `has` operators) do not function on edits either; I assume this is the same root issue, i.e. edits are stored in such a way that they are also considered rendered content (not pre-markdown rendered content). If whomever takes this could explicitly confirm this during testing, that would be much appreciated.

[2019-08-19 20:56] refi64 commented on #4817
Out of curiosity, is there any public roadmap of sorts tracking this?

[2019-08-19 21:23] #13012 closed

[2019-08-19 21:46] lukasIO opened #13035 "[api] stream_id/conversation_id for PMs"
Hi,

I'm trying to find an efficient way to group together private messages into private conversations.
afaict this is not doable via something like a single `conversation_id` as of now.

the only way that seemed feasible was to compare (all of) the `display_recipients`.

Is there a better way to find out which message is part of which (private) conversation?

If not, how about not omitting the `s

[2019-08-20 09:13] jhzao82 opened #13036 "How to run this server in the windows?"
I want run in windows, How to do that?

[2019-08-20 12:15] harshs14 commented on #9473
@zulipbot claim

[2019-08-20 12:34] harshs14 commented on #9473
hi @timabbott, I am new here, can you elaborate on how to solve this.

[2019-08-20 15:34] lixiran opened #13037 "unable to send out register mail via postfix"
I have setup a new production env on Ubuntu 18.04 + postfix

then I edited the setting.py with below changes:
EMAIL_HOST = 'localhost'
EMAIL_PORT = 25
EMAIL_USE_TLS = False
EMAIL_HOST_USER = ""

after restarting zulip, I can successfully receive mails in my inbox via command : su zulip -c '/home/zulip/deployments/current/manage.py send_test_email example@example.com'
But when I tried to sign up on

[2019-08-20 17:31] skunkmb commented on #9391
@zulipbot claim

[2019-08-20 19:25] #12818 closed

[2019-08-20 19:28] timabbott commented on #10262
This was fixed in 78f6e3ac7dca241860d83ca77461dac5a2dd588d.

[2019-08-20 19:28] #10262 closed

[2019-08-20 20:33] alexandraciobica commented on #12853
@zulipbot claim

[2019-08-20 21:35] timabbott opened #13040 "Migrate UserMessage.id to a BigAutoField"
As Zulip grows, we need the UserMessage table to support more than 2B entries.  This is currently impossible because of Django's auto-generated AutoField for the `id` column is a 32-bit signed integer.  I checked and Django does not support a model table without a primary key column, so even though we don't make any real use of `UserMessage.id`, we will need to do a complex migration to increase i

[2019-08-20 21:36] joseph-dewitt commented on #5273
claim

[2019-08-20 21:36] joseph-dewitt commented on #5273
@zulipbot claim

[2019-08-20 22:17] timabbott commented on #13036
Zulip only supports running the server on Linux.  You can run a virtual machine on Windows and run Zulip on that platform if you like.

[2019-08-20 22:17] #13036 closed

[2019-08-21 09:52] richardgreg commented on #5087
@hackerkid I noticed that most of the instructions for the integrations follow a similar pattern. Will it the same for the log2zulip.md file?

[2019-08-21 11:25] ryanreh99 commented on #12508
@zulipbot claim

[2019-08-21 15:11] Verifirs commented on #8021
I would love for this to be an optional feature as well! Very useful!

[2019-08-21 17:33] rishig opened #13045 "org settings: Arrival of data export doesn't clear "Export started" banner."
To reproduce, go to http://localhost:9991/#organization/data-exports-admin and click "Start public export".

A green banner like
![image](https://user-images.githubusercontent.com/890911/63454149-13562400-c3ff-11e9-9abc-1ec9387a97c3.png)
appears.

A few seconds later, the export appears in the table below, but the banner doesn't clear.

[2019-08-21 19:11] ItWazzntMe commented on #5200
+1 Thank you!

[2019-08-21 23:45] #12258 closed

[2019-08-22 00:08] andersk commented on #12446
CommonMark already allows quoting ```` ``` ```` with ````` ```` `````, and so on—and we already parse this syntax correctly. We just need to tweak the “Quote and reply” function to generate it:

[code]

[2019-08-22 00:13] timabbott opened #13046 "Fix mismatching labels for "organization settings" tabs"
Notice the labels in the bottom-left and top-right of this organization settings screenshot don't quite match:
![pasted_image](https://user-images.githubusercontent.com/2746074/63476641-b4140600-c436-11e9-8d1a-69f5ef735cc2.png)

The cause is that there's this silly duplicate data structure, `header_map`, that controls the top-right thing, which we haven't updated as we've made changes to the navig

[2019-08-22 00:31] timabbott commented on #13045
@whoodes I think the issue here is that the event handler for a finished export should always clear that banner.

[2019-08-22 00:33] timabbott commented on #4817
@refi64 we should clean up the issue tracker around this.

The main progress that's finished is https://github.com/zulip/zulip_archive, which runs as a cron job.

[2019-08-22 00:36] andersk commented on #12800
It’s not a bug that we don’t support the incorrect syntax where you only quote the first line of the code block, but it is a bug that we don’t support the CommonMark syntax where you quote every line of the code block:

[code]

[2019-08-22 00:40] whoodes commented on #13045
On it. @zulipbot claim

[2019-08-22 00:41] timabbott commented on #12912
@sysmray I think that might be a separate issue, which is that we likely don't edit the `has_link` field in our message edit logic.  We should fix that as part of resolving this issue; it should be pretty natural to do as part of the markdown processor plumbing discussed here.

[2019-08-22 00:53] timabbott commented on #9473
@harshs14 this issue is mis-identified as good for new contributors; it's a simple string change where the work is mainly context-dependent.  I'll just fix it.

[2019-08-22 03:19] refi64 commented on #4817
Oh sweet, I didn't realize that something for this was already available.
In that case, is it not being added to mainline Zulip?

On Wed, Aug 21, 2019, 7:33 PM Tim Abbott <notifications@github.com> wrote:

[2019-08-22 03:59] aero31aero commented on #12446
Ah, this looks neater. I didn't know this syntax existed and was wondering why the fences regex allowed for more than 3 characters. Thanks @andersk.

[2019-08-22 04:17] #9473 closed

[2019-08-22 04:27] timabbott commented on #4817
We have plans to do something more native in mainline Zulip, but this is available as a stopgap (and will have value indefinitely, e.g. if one wants to stop running a Zulip server anymore but still host the archive)

[2019-08-22 04:53] tommyip commented on #12822
PR waiting for review.

[2019-08-22 05:04] harshs14 commented on #12951
@zulipbot claim

[2019-08-22 05:08] harshs14 commented on #12951
hi @rishig, I am new here, can you elaborate on how to solve this.

[2019-08-22 14:13] davidtwco opened #13050 "Unnecessary stream list scrolling can hide streams"
~~Currently, the stream list is limited to a fixed height and a scrollbar is present if there are more streams that can be shown at once. Some of our users would prefer to have the stream list take up as much height as is available with a scrollbar present only if required. This could be configurable, similar to being able to show the user list on the left sidebar.~~

See [this comment](https://gi

[2019-08-22 16:18] gloels commented on #12940
@timabbott I'm seeing the following error from circleci:

======================================================================
FAIL: test_add_deactivated_realm_emoji (zerver.tests.test_reactions.ReactionEmojiTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.5/unittest/case.py", line 58, in testPartExecutor

[2019-08-22 20:13] #13046 closed

[2019-08-22 20:41] #8859 closed

[2019-08-22 21:02] timabbott opened #13052 "Add `streams:subscribed` search operand"
Following #12999 (which completes #8859), we should also add the planned `streams:subscribed` search operator.  This is a somewhat awkward thing to implement, in large part because we don't have existing search queries with an OR gate between items with a UserMessage row or not, and this will violate our search base-then-add-conditions query archictecture.  I think the operator should do the follo

[2019-08-22 21:04] timabbott commented on #8859
@jdherg you should be able to try this out when it reaches zulipchat.com soon!  Also see https://github.com/zulip/zulip/issues/13052 for the `streams:subscribed` follow-up issue.

[2019-08-22 21:49] thedeveloperr commented on #13052
@zulipbot claim

[2019-08-23 02:20] mateuszmandera commented on #13040
@zulipbot claim

[2019-08-23 11:08] janLo commented on #11878
I have the same Issue here that the ldap-sync tries to find the users by their email instead of username with `LDAP_EMAIL_ATTR` set. Besides this also the Web-UI tries to auth the user via Email to request a new API-Key from the server which fails then (issue  #9277).

[2019-08-23 11:12] janLo commented on #9277
I think this needs a proper fix as it also causes problems in other parts of the server (#11878). Somehow there has to be a proxy for the "login" that points to the that points to either the username or the email depending on the initial auth method of the user.

[2019-08-23 14:13] deseven opened #13056 "Invalid info in system requirements for Debian Buster"
[Documentation](https://zulip.readthedocs.io/en/latest/production/requirements.html#operating-system) states that

But the latest release installer says this instead

This is really confusing and may lead to a painful amount of wasted time (guess who have just installed Buster in order to deploy Zulip?).

[2019-08-23 14:19] Pomazan-Bogdan opened #13057 "Address not found"
I send email to 72f78bccca4862ba62ae75d95cbb2192@streams.zulipchat.com

[code]

[2019-08-23 14:50] victorphoenix3 commented on #6512
@zulipbot claim

[2019-08-23 20:33] rishig opened #13060 "/support: Add all recent invitation links for realm."
On /activity/support, it would be great to include all USER_REGISTRATION and INVITATION links for a given email/user, along with how far each link is from expiry. E.g. something like
[code]
Converted to days and hours.

It would also be great to include all MULTIUSE_INVITE, and REALM_REACTIVATION links on the realm object.

[2019-08-23 20:49] RDDeglurkar commented on #4891
Hi, if this issue is still open then would it be possible for me to work on it?

[2019-08-23 20:51] RDDeglurkar commented on #3938
Hi, I would like to work on this issue

[2019-08-23 23:29] timabbott commented on #13057
@Pomazan-Bogdan that doesn't appear please send a report to support@zulipchat.com with details on the specific stream you're trying to email and why you think that's it's email address.  That address does not appear to be in the correct format.

[2019-08-23 23:29] #13057 closed

[2019-08-23 23:34] #13056 closed

[2019-08-23 23:35] timabbott commented on #13056
@deseven this is a feature not yet part of a Zulip release; it will be in our next one.  You can install Zulip off GitHub master if you'd like to run Buster, which should be a fine experience and is documented.

[2019-08-23 23:36] timabbott commented on #13056
(I just merged a commit to add the warning on our installation page about reading docs for the next release to the requirements page as well).