[2019-02-06 19:46] vinitS101 commented on #11470
Yeah, I was just adding the css to style tags in the `user_info_popover_content.handlebars` file for testing. Basically just centering the image, proper padding between the divs, etc. I can move them over to the scss files when making the final changes.

[2019-02-06 19:55] timabbott commented on #11425
Awesome, thanks for taking care of this @butchyyyy!  I guess the next step to close this issue is we should edit `templates/zerver/integrations/jenkins.md` in this project (aka /integrations/jenkins) to link to the new plugin?

[2019-02-06 20:16] showell opened #11472 "casper: Fix tracebacks to use source maps."
See discussion here:

https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/casper/near/695531

[2019-02-06 21:35] butchyyyy commented on #11425
Yeah, wanted to squeeze it in today, but did not manage. It's in my todo list for tomorrow.

The docs only links to the github repo and since it was moved it still works (Github redirects to the new location). Anyway, we should still change the URL.
There are other refinements to do like changing debug namespace from hudson.plugins.humbug to jenkins.plugins.zulip.

Once it's done i'll reference th

[2019-02-07 02:23] rishig opened #11475 "Topic editing is broken for admins editing old messages."
The code for message and topic editing has lots of code smells, so I'm not surprised to find bugs like this. For example, in `message_edit.js`, `get_editability` and `is_topic_editable` have overlapping roles. So the first step here might be to do a basic refactoring to get all the editability computations into `get_editability`.

The repro is:
* Log in as Iago (an admin)
* Find a topic with both

[2019-02-07 03:30] irahulcse opened #11476 "Not able to install the Zulip Desktop App in Ubuntu 18.04"
After installing the app from the snap package with code(sudo snap zulip). When I am trying to open the app it is not opening and also I am not able to reinstall the app again. Is there is any way of uninstalling the app completely from the system and then reinstall it from cmd. As it had happened to me previously also when the Zulip app was not able to work properly.

[2019-02-07 04:48] aero31aero opened #11477 "Previously read topic not showing up in sidebar."
I had accumulated a lot of unread messages in some streams that I wasn't actively following but wanted to catch up on later. There, I was mentioned in a topic and started engaging with it.

However, on every single load of the client, I find that topic missing from the list, but when I navigate to it in some other manner (here, clicking from my mentions) the topic is listed in the sidebar as expec

[2019-02-07 05:17] overide commented on #11475
@zulipbot claim

[2019-02-07 08:54] butchyyyy commented on #11425
#11478 opened.

[2019-02-07 11:59] schwelle commented on #356
Hi, at first hand it would be very helpful to implement somewhat federation functionality between pre-known (trusted) instances e.g. for connecting multiple servers within large organizations (for example one to which customers can connect to and one internal for employees which ist integrated into the internal tool stack etc.).

[2019-02-07 16:13] vinitS101 commented on #11301
I have been unable to reproduce the issue. The steps I followed to reproduce this were:
1. `rm -rf /srv/zulip-venv-cache` to remove the existing cache.
2. Ran `./tools/provision`
3. Ctrl+C while Python Packages were being installed.
4. Ran `./tools/provision` again. It failed the first time, but on doing it again it ran without a problem.
Once the provisioning ended, the dev server ran as expected

[2019-02-07 19:09] timabbott commented on #11301
Oh, I think I now what's going on here -- I think this issue only occurs if (1) you already have a provisioned virtualenv, then (2) you change requirements/dev.txt to upgrade some packages (see docs/subsystems/dependencies.md for details on this space) and then (3) you provision and do the ctrl+C thing I suggested.  Because the issue is with using `virtualenv-clone` which we use to copy an existin

[2019-02-07 19:09] timabbott commented on #11301
(I'd also be curious why provision fails the first time -- it should fail 0 times!)

[2019-02-07 19:37] #11425 closed

[2019-02-07 19:48] vinitS101 commented on #11301
My apologies for not reading the Issue's description properly. I wasn't familiar with virtualenv-clone before this, but having read up on that I get what was described. I will follow the steps you just mentioned and test it out.

Unfortunately, I did not keep a copy of the logs from the few times that I did come across a failed provision. I will try to replicate that as well and share it here and/

[2019-02-07 22:20] devZer0 opened #11486 "--slim-mode option missing - but documented"
https://zulipchat.com/help/import-from-hipchat  is telling about a "--slim-mode" option for import from hipchat to have all users unsubscribed for public streams (i don't want all users to be subscribed after import) - but apparently this option doesn't seem to exist at all, at lest not as a command line option as stated.

from a look at the source, slim-mode also seems to do more besides just hav

[2019-02-07 23:11] timabbott opened #11488 ""Sent to wrong narrow" notifications do not appear for messages that can't be locally echoed"
Read https://zulip.readthedocs.io/en/latest/subsystems/markdown.html and https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html before working on this issue so you know what's going on.

Our "you sent a message to a different narrow" banner (and other notifications about sending to unusual places) is triggered by `notifications.notify_local_mixes`.  We only call this here, in the

[2019-02-08 00:17] timabbott commented on #11486
@devZer0 you need to upgrade to master before doing HipChat import; that's what adds this feature (and also fixes various other HipChat import issues).

It basically just does that -- the other changes are largely to avoid validation failures.  In any case, I don't recommend using `--slim-mode` unless your organization is large (hundreds or thousands of users); the other default options are better

[2019-02-08 00:18] timabbott commented on #11486
I added 4826393ec4e40993e9f121c9a022d8c51030504b to fix its `--help` docs being broken in master.

[2019-02-08 00:18] #11486 closed

[2019-02-08 00:22] devZer0 opened #11489 "link preview from hipchat prints as html source in zulip after import"
after import from hipchat, link preview content is broken as it is printed in html source

e.g. in the message in hipchat i had put a link to https://anydesk.de and for which hipchat made a preview from - in zulip it's shown as html source like this:
[code]

same for jira integration - in hipchat , tickets entered into jira appear as a well formattet messagae in the hipchat channel - but the messa

[2019-02-08 00:49] timabbott commented on #11489
@devZer0 did you import from HipChat after upgrading to master as recommended in our documentation?  We fixed this some time ago.

[2019-02-08 00:49] #11489 closed

[2019-02-08 02:34] devZer0 commented on #11486
sorry, that was my fault - as the docs is telling "... to subscribe to the IMPORT Zulip streams manually after the IMPORT completes) using the --slim-mode option to...."  i was accidentally searching for this option on IMPORT - but this is an option for convert_hipchat_data. the docs is correct.

i was using 1.9.2 release

[2019-02-08 06:40] overide commented on #11475
Hi @rishig , I've been investigating this issue and figured that backend doesn't allow updating message topic which are older than 2 days on purpose (except original message whose topic is changed). [Here](https://github.com/zulip/zulip/blob/master/zerver/lib/topic.py#L117) is the relevant code. Should we remove this constraint or leave it as it is? Please let me know your thoughts!

[2019-02-08 08:41] thedeveloperr commented on #11488
@timabbott  isn't the following lines of code from line 253-275 in compose.js already doing it:

[code]

[2019-02-08 09:05] devZer0 commented on #11489
i did use 1.9.2 "stable" which is just 9 days old and i did not see relevant hipchat related changes, but will retry with master now (just was feeling uncomfortable with git master when setting up production envs). thanks

[2019-02-08 09:17] thedeveloperr commented on #11488
@timabbot I would like to take up this issue but have some doubts regarding point (1) requirements
isn't the following lines of code from line 253-275 in compose.js already doing some of the logic in point (1):

[code]

What else is needed ? sent_messages already have the message which were sent to API right ? We just need to make sure that the messages with a given local id is present in sent_mes

[2019-02-08 09:49] Amadeo234 commented on #5629
Can I ask for another review?

[2019-02-08 09:55] anh2111htd commented on #11390
PR is ready for review: https://github.com/zulip/zulip/pull/11492.

[2019-02-08 11:08] armaanahluwalia opened #11494 "Bug in click area of settings gear in left sidebar"
There's a bug where clicking to the right of the settings gear in the left sidebar causes search to popup. There are 2 aspects here that need to be addressed:

1. The click area for the gear icon needs to be enlarged to avoid accidental clicks.
2. Clicking to the right of the gear icon should not pop up the search bar.

See attached GIF for reference:

![](http://g.recordit.co/x7yAVtRR9y.gif)

[2019-02-08 11:21] pragatiagrawal31 commented on #2746
I would like to work on this if nobody is working on it?

[2019-02-08 11:24] pragatiagrawal31 commented on #11466
@zulipbot claim.

[2019-02-08 12:28] sebi88 commented on #10903
Here you can find the format sent by Bitbucket Enterprise:
https://confluence.atlassian.com/bitbucketserver/event-payload-938025882.html?utm_campaign=in-app-help&utm_medium=in-app-help&utm_source=stash#Eventpayload-repositoryevents

For example, the event key for pull request creation: `pr:opened`

and here you can find, what is sent by Bitbucket Cloud (what is already supported by Zulip):
https:/

[2019-02-08 15:20] lreiher commented on #9957
Hi,
is the *group syncing with LDAP* actively being worked on or planned to include in a future release? I believe that together with https://github.com/zulip/zulip/issues/9480 this is a very much desired feature. A scenario could be, that a new user is added on the LDAP backend, can login to Zulip and automatically joins the streams which fit to its LDAP groups.

[2019-02-08 15:41] timabbott commented on #9957
@lreiher would a better solution for your use case involve just syncing initial stream subscriptions from some LDAP groups?

[2019-02-08 15:53] lreiher commented on #9957
I am not so sure if I understand your comment right. Ideally, every LDAP group in a specific search scope would create a new user group in Zulip. Specific streams could then be made accessible to this user group by #9480. I guess that whenever Zulip syncs user data, it should then also sync group data to reflect the most recent changes to those groups.

[2019-02-08 16:43] #11463 closed

[2019-02-08 17:08] 2208Abhinav opened #11496 "Audit the calls to popovers.hide_all()."
More discussion can be found [here](https://github.com/zulip/zulip/pull/11467)

We need to investigate all the calls to `popovers.hide_all()` and check whether they should actually be hiding the user list sidebar or not. And if they are performing the task of hiding all the popovers but not uselist sidebar than probably replace those function calls with `popovers.hide_all_except_userlist_sidebar()

[2019-02-08 17:19] timabbott opened #11497 "Improve open graph tags for the homepage of a Zulip organization"
See https://chat.zulip.org/#narrow/stream/6-frontend/topic/open.20graph.20previews/near/696681 for some context.  But the open graph tags for an individual Zulip organization should presumably at least explain which Zulip organization it is.

This issue isn't ready to be worked on; we need to discuss and decide what we want the content to say.

[2019-02-08 17:52] timabbott commented on #11489
1.9.2 is a bug fix release; the upcoming 2.0 release has about 1500 commits not in 1.9.2, including major improvements to HipChat import.

[2019-02-08 18:01] rishig commented on #11475
Hi Atul, thanks for looking into this! Conversation continued at https://chat.zulip.org/#narrow/stream/9-issues/topic/.2311475.

[2019-02-08 18:12] timabbott commented on #11489
(Sidenote: We're posting a 2.0 release candidate today)

[2019-02-08 18:48] savish28 commented on #7549
@zulipbot  claim

[2019-02-08 20:02] savish28 commented on #7549
@zulipbot abandon

[2019-02-08 20:04] thedeveloperr commented on #11488
@zulipbot claim

[2019-02-08 21:09] savish28 commented on #11070
@zulipbot claim

[2019-02-08 23:41] #11426 closed

[2019-02-08 23:44] timabbott commented on #5629
@Amadeo234 please post on the PR when you ask for a review -- saves reviewers an extra click :)

[2019-02-08 23:49] #5629 closed

[2019-02-08 23:59] timabbott commented on #6342
I think intent here is to skip opening a new tab/window and just send the link after you click the button.

[2019-02-09 00:31] rishig commented on #6342
"Never had one? Forgotten it?" should turn into "Reset password" when you click on it, and clicking on that should directly send you an email, with the text changing to "Check your email" (not a link), followed by "Resend" (link).

[2019-02-09 06:09] sahil839 commented on #11494
I think this behaviour is because of below piece of code.
`$("#streams_header").expectOne().click(function (e) {
        exports.toggle_filter_displayed(e);
    });`
Removing this should fix this.

[2019-02-09 06:15] armaanahluwalia commented on #11494
Thanks for taking a look at this! It would help if you could address the issue in its totality and/or put in a PR for one or more aspects of the fix :)

At the moment you're asking for someone else to do the major work of checking out a branch, testing what you're saying is true, committing the changes and then putting in a PR. I would think you've already done the first two, just need to finish u

[2019-02-09 07:35] savish28 commented on #11070
Please review this PR @timabbott . I have used subTest on test_bugdown_fixtures and shown the output changes in the PR. What are the "similar single tests" or how to find them , mentioned in https://github.com/zulip/zulip/issues/11070#issuecomment-451299117 ?

[2019-02-09 08:32] sahil839 commented on #11494
I was just asking this because this also happens when we click on the left side of the search icons and also in the left side of users section in right side bar. So I just wanted to confirm whether it is required for easy opening of search box or it is really a bug.

[2019-02-09 10:17] Gauravpurohit409 commented on #3992
@zulipbot abandon

[2019-02-09 11:57] devZer0 commented on #11489
sorry, i was confused because i saw no 1.9.x "stable" branch and thought 1.9.x releases would just be "point in time" snapshots from master tagged with 1.9.x.

still courious where stable branch for 1.9.x maintenance is...

[2019-02-09 12:12] jainkuniya opened #11504 "frontend: Green bar is even visible after clicking Allow in permission browser prompt."
The green bar encouraging the user to enable desktop notifications doesn't dismiss even after selecting `Allow` option in the browser-initiated prompt.

Steps to reproduce:
* Open realm in new Incognito tab.
* Send a message to the account  which is open in Incognito (or wait for sometime until  a message arrives and notif permission prompts automatically)
* Clicks `Allow`
* Green bar is even visi

[2019-02-09 13:49] Raghavareddy21 commented on #5384
@zulipbot claim

[2019-02-09 15:11] savish28 commented on #11496
@zulipbot claim

[2019-02-09 18:07] paras112 commented on #11453
@zulipbot claim

[2019-02-09 20:57] savish28 commented on #11070
Also @timabbott  what exactly do you mean by cleaned up output?

[2019-02-10 04:49] phoenikx commented on #11453
@zulipbot claim

[2019-02-10 05:02] phoenikx commented on #11469
@zulipbot claim

[2019-02-10 05:04] phoenikx commented on #11469
Is this issue resolved? or can I still work on it?

[2019-02-10 05:07] vinitS101 commented on #11469
@phoenikx I am actually working on this already. @showell assigned this to me. More here: https://chat.zulip.org/#narrow/stream/9-issues/topic/user.20menus.20cropped/near/696247

[2019-02-10 06:48] sahil839 commented on #11152
@showell I want to work on this issue and have gone through the working of typing indicators for PMs. Can you please elaborate network bandwidth perspective. What should I keep in mind to refrain from making network bandwidth terrible?

[2019-02-10 08:09] xiaomingplus commented on #9376
@timabbott I try to use docker development at local,I want to make s3 worked,but the `dockerfile-dev` seems not generate `/etc/zulip` folder, where can I set the boto config?

[2019-02-10 08:24] YashRE42 commented on #10438
@zulipbot claim

[2019-02-10 09:01] Nikhil-Vats commented on #3731
I am working on this.

[2019-02-10 09:35] armaanahluwalia opened #11509 "Bankruptcy modal background incorrectly rendered on webkit mobile"
Our modal component background is being rendered after the ```.app``` div which contains the contents of the application. This was causing a problem in webkit browsers on mobile where the z-index of the backdrop was being read as being higher than that of the modal contents.

![img_2196](https://user-images.githubusercontent.com/322991/52532083-31064a80-2d45-11e9-94a5-8c5d53f038ab.PNG)

See https:

[2019-02-10 10:10] devZer0 opened #11511 "empty 1:1 messages after import from hipchat"
i have intensely checked zulip after import from hipchat and apparently in 4 of my private 1:1 conversations (i.e. with 4 different users), quite a lot of messages from the other users appear completely empty.

only the name of the user is shown and the posting date - but no message content inside (also not in source view of the message)

that can't be a "message skipped because too long" problem.

[2019-02-10 12:27] sanchit48 commented on #11390
@zulipbot claim

[2019-02-10 16:41] akshaygupta533 commented on #10794
@zulipbot claim

[2019-02-10 19:47] rishig opened #11516 "Teach template_parser.py about jinja2 whitespace markers."
Being able to use http://jinja.pocoo.org/docs/2.10/templates/#whitespace-control feature would greatly increase the readibility of our template files. Currently `tools/lib/template_parser.py` doesn't seem to know about this feature.

To get the error, you can edit a file like `templates/zerver/emails/password_reset.source`, and replace a `{% trans %}`, `{% endtrans %}` pair with `{% trans -%}`, `{

[2019-02-10 20:29] #11390 closed

[2019-02-10 20:44] thedeveloperr commented on #11401
@zulipbot still working on it.

[2019-02-10 21:02] devZer0 opened #11518 "export interrupted with - AttributeError: 'NoneType' object has no attribute 'id'"
i wanted to implement logical backup - but with latest master, after a while i get the following error, so the backup/export is incomplete

zulip@chat:~/zulip-export4backup$ ../deployments/current/manage.py export -r '' --output export
<snipp>
2019-02-10 20:58:44.584 INFO [] Copying avatar file for user <email-hidden> from /home/zulip/uploads/avatars/2/e61a7f3de4dc12f4a8b4724d3544a42bfdc323e1.orig

[2019-02-10 21:12] devZer0 commented on #8028
zulip apparently comes with logrotate.d configuration file - but it appears to be imcomplete as it only compresses some of the logs but not all relevant ones. at least django.log and tornado.log are quickly growing besides server.log

[2019-02-11 04:21] rishig commented on #6605
A small note while I'm thinking about it: I think we should call this "Sent", or "Sent messages" in the left sidebar (vs something like My Topics).

[2019-02-11 09:30] mateuszmandera commented on #11262
Still in progress.

[2019-02-11 11:06] santherics opened #11520 "Multiple organizations with LDAP backend"
Currently, Zulip allows multiple organizations with LDAP backend. In the case of the existence of the same user in several organizations, the synchronization with the LDAP fails with error.

[2019-02-11 11:53] hackerkid commented on #8914
Tried upgrading this today to 0.13.6. I am get the following error while running `./tools/update-locked-requirements`

[code]

[2019-02-11 12:23] xpac1985 commented on #1739
Digging up this old feature request:
I'd appreciate some kind of reminder bot/function, I use it regularly with Slack.
My use case is mostly "read a message on mobile, but it requires to do something on a computer" - therefore, set it to remind me to a few hours later, or the next workday.

[2019-02-11 15:09] sahil839 commented on #11152
@zulipbot claim

[2019-02-11 17:38] amanpro30 commented on #11293
@zulipbot claim

[2019-02-11 17:39] amanpro30 commented on #11516
@zulipbot claim

[2019-02-11 18:37] rishig commented on #8201
Adding `priority: high` since this is actually super confusing, and makes you feel like you don't understand how stream dormancy works.

Was reminded of this by https://chat.zulip.org/#narrow/stream/92-learning/topic/Gray.20stream.

[2019-02-11 20:01] DidacMC commented on #3220
Hello everyone! I have some backend work ready to review. It's far to be finished (frontend work pending, define a real set of shortcuts, maybe make the list of shortcuts more "configurable", ...), but I'd appreciate some feedback about the current state and next steps. Meanwhile I'll start working in the frontend.

[2019-02-11 20:04] timabbott commented on #11520
We generally don't recommend using multiple organizations with LDAP since the LDAP auth configuration has to be the same for each organization.  But it's probably worth looking at fixing this anyway as a step towards supporting different LDAP configuration for different organizations.

@HarshitOnGitHub FYI.

[2019-02-11 20:18] timabbott commented on #11070
The purpose of this change is to make it easier to understand what's happening with test suites like this one.  I don't think it's worth working on additional test suites until we're happy with this one.

[2019-02-11 20:22] showell opened #11524 "Add a setting to disable grayed-out streams in left sidebar"
Right now we have a confusing feature where if a stream has not activity in your last N messages, we gray it out and move it to the bottom of the sidebar.  Discussion here:

https://chat.zulip.org/#narrow/stream/92-learning/topic/Gray.20stream/near/698011

We should add a setting to make this optional.  If somebody doesn't explicitly set the value, we can make the setting determined by the number

[2019-02-11 20:28] #11272 closed

[2019-02-11 21:53] timabbott commented on #9376
Just use Vagrant for local development, or contribute patches to Dockerfile-dev to support what you need; nobody in the core community uses the Dockerfile-dev setup.

[2019-02-11 22:13] timabbott opened #11529 "Fix clicking on links where text is a code block"
Apparently, if you do this syntax, e.g.:

`Opened [`Update TypeScript infrastructure and migrate dict.js`](#11513) for review.`

We generate a link formatted as a code block, which is nice, but clicking the link just opens compose, probably due to a click handler ordering/precedence issue.  See for example:

https://chat.zulip.org/#narrow/stream/65-checkins/topic/Tommy.20Ip/near/697676

This may b

[2019-02-11 22:56] timabbott commented on #8028
that is by design, in that the log files managed by Supervisor (e.g. django.log and tornado.log) can't also use logrotate easily, see the discussion above.  It'd be nice to improve this, but it's not trivial and could easily break things, so we'd need to carefully test one of the proposals mentioned above.

[2019-02-11 22:57] timabbott commented on #11516
@adnrs96 this is probably an issue for you given your background with the template parser.

[2019-02-11 22:58] timabbott commented on #8914
Just report upstream and work with them on getting an installable version.

[2019-02-11 23:07] andersk opened #11530 "Scroll position snaps upwards after fetching messages while scrolling down"
There seems to be a bug when I’m scrolling down past the last message that the client has loaded. After it fetches new messages from the server, the scroll position snaps back up, perhaps to the point where it started to fetch those messages even if I’ve scrolled down farther since then.

[Screencast](https://youtu.be/aADZAZw7VE4).

[2019-02-11 23:10] timabbott commented on #11530
For trying to reproduce, one can pass the `--num-messages` option to populate_db to make a few thousand messages of history try to create a situation for reproducing this sort of thing (make 20K+  messages, then use manage.py mark_all_messages_unread to reset pointer to 0).

[2019-02-11 23:11] timabbott commented on #11530
And `exports.maybe_load_newer_messages` is `message_fetch.js` is the code path in question to look at for debugging this.

[2019-02-11 23:14] timabbott commented on #11504
(For context, I suspect that the code in `notification.js` that tries to trigger a notification automatically will pop this up because of built-in browser behavior; so the fix is likely adding a missing if statement to abort if the green alert hasn't been dismissed)

[2019-02-11 23:14] timabbott commented on #11489
@devZer0 you can find it via the git tags for releases; there's no separate public branch in between 1.9.x releases.

[2019-02-11 23:57] #10171 closed

[2019-02-12 00:01] timabbott commented on #11530
Oh, one other detail: We may need to set `load_server_counts` in `static/js/feature_flags.js` in order to reproduce this, since the testing here was on chat.zulip.org.

[2019-02-12 00:08] rishig opened #11531 "responsiveness: Keyboard shortcuts icon doesn't disappear in narrow window."
To repro: narrow the window till you see only two panes.

![image](https://user-images.githubusercontent.com/890911/52602341-1ac8bf00-2e17-11e9-86a8-d9eda80d76ed.png)

[2019-02-12 00:08] rishig commented on #11531
oops, just realized this was a regression in something I was looking at; I wasn't on master.

[2019-02-12 00:08] #11531 closed

[2019-02-12 00:20] timabbott commented on #11511
Interesting; can you provide an example of the original content of one of these messages?  My guess is that the message has some very limited content that our HTML2text converter turned into nothing.

[2019-02-12 00:47] timabbott commented on #1739
@xpac1985 it is planned, but an approach that works pretty well for this in Zulip today is to star the message from mobile, and then look at "starred messages" when you get back to your desktop.

[2019-02-12 01:34] timabbott opened #11532 "Follow-up improvements to the Zulip backup tool"
While working on the docs for our backup tool (See e0a51948d991b5cf7614d36f515ab2658d1cbf97), I noticed a few improvements we should probably make:
* [x] We should store in a file the Zulip version (from `version.py`, plus a Git commit if available) used to generate the backup, since you will want that information for doing a restoration.  And maybe also a fancy `tar` command to get this value wit

[2019-02-12 01:35] #552 closed

[2019-02-12 05:16] paras112 commented on #5816
@zulipbot claim

[2019-02-12 09:31] kunal-mohta commented on #10844
@YJDave are you still on this?

[2019-02-12 09:49] kunal-mohta commented on #11529
@timabbott I don't think there is any bug here, as this worked for me (see gif below).
I guess why it didn't work in the thread that you have linked here is because of the incorrect link provided in the parathesis.
Try a valid link like
`Opened [`Zulip github`](https://github.com/zulip/zulip) for review.`
![ezgif-5-6ef6a82b6ef8](https://user-images.githubusercontent.com/30414954/52626563-765b8100-

[2019-02-12 12:05] AsociTon commented on #10966
@zulipbot claim

[2019-02-12 17:56] devZer0 commented on #11511
if you can tell how i can "match" such an empty message to the appropriate section/mesage in the converted (or not converted) import file(s) i can have a look - i need something to search for and i cannot search for "empty string"

[2019-02-12 18:34] timabbott commented on #11511
Probably the easiest way is to find one where it's one of the most recent PMs with a given user, and then just compare the Zulip view to the HipChat history of PMs with that user.

[2019-02-12 18:35] timabbott commented on #9851
Awesome!

[2019-02-12 18:38] timabbott commented on #10844
I think @YJDave has been busy with school; you can start from her nearly-finished work in https://github.com/zulip/zulip/pull/10849, do the final changes, and submit that for review.

[2019-02-12 18:43] timabbott commented on #11529
Try Chrome?

[2019-02-12 18:46] ruchit2801 commented on #10381
There is already an option to enable "mobile notifications" under "stream notifications" section. So I imagine task remains to remove that unnecessary dependency, isn't it ?

[2019-02-12 19:42] vinitS101 commented on #11470
@zulipbot abandon

[2019-02-12 21:13] rishig opened #11541 "export: Exporting a realm should set plan_type to Realm.SELF_HOSTED."
Exported realms should always have a plan_type of `SELF_HOSTED`, regardless of what their plan type is pre-export.

Edit: Now that I think about it for a few more seconds, our export process needs to run `do_change_plan_type` first, then export, and then run `do_change_plan_type` again to change it back to whatever it was before. Not sure the best strategy here; maybe a script that does
./manage.p

[2019-02-12 21:14] savish28 commented on #11070
@timabbott  I have made changes as suggested by @aero31aero in PR #11538.

[2019-02-13 00:03] #11541 closed

[2019-02-13 00:04] timabbott commented on #11541
We don't want to change the plan type before exporting; that would cause all kinds of problems for a system being exported for backups.

There's a better solution: Just using the existing hook we have for setting plan_type on import to LIMITED if BILLING_ENABLED to have an else clause.  I made that change.

[2019-02-13 00:19] devZer0 commented on #11511
unfortunately i can't  - as it's already expired in the visible hipchat history (as we used free hipchat version which expires very quickly).

[2019-02-13 00:38] #10432 closed

[2019-02-13 02:58] amitchaudhari9121 commented on #11504
@zulipbot claim

[2019-02-13 04:02] Sai-Adarsh commented on #3490
@hackerkid shall I work on this?

[2019-02-13 07:20] santherics commented on #852
Hello all,
is it possible to implement this functionality?

[2019-02-13 09:28] Aasfga commented on #10537
@zulipbot waiting for review

[2019-02-13 09:57] Aasfga opened #11546 "Not able to mount NFS shared folders on macOS Mojave"
On macOS when I try to set the vagrant machine this error occurs
<img width="790" alt="error" src="https://user-images.githubusercontent.com/16279298/52702623-d48d7000-2f7c-11e9-833e-5cd5edd90c32.png">
I found out how to solve the problem. On macOS Mojave terminal requires disk "Full Disk Access" to edit /etc/exports.
On the macOS Mojave terminal requires "Full Disk Access" to be able to edit / et

[2019-02-13 10:10] thedeveloperr commented on #11400
@zulipbot abandon because a PR already have been made by Steve.

[2019-02-13 12:49] fearless0307 commented on #9157
@zulipbot claim

[2019-02-13 14:13] tommyip commented on #11529
The link didn't get linkified
![screenshot from 2019-02-13 22-11-19](https://user-images.githubusercontent.com/18504232/52717621-8314cd80-2fdc-11e9-9d34-eda00884aee8.png)

[2019-02-13 15:13] showell opened #11549 "Improve split-left sidebar layout."
We have a setting where we put users lists in the **left** sidebar when your window is narrow.  For users that have that setting, there are various things we can do to improve the layout:

https://github.com/zulip/zulip/pull/11522#issuecomment-462589084

A couple of these changes require fairly deep knowledge of our left sidebar CSS and resizing algorithms.

[2019-02-13 15:42] kunal-mohta commented on #11529
Worked for me there too.
![ezgif-3-18a47788ea19](https://user-images.githubusercontent.com/30414954/52723691-fd8d1f80-2fd3-11e9-96c7-11c533739b63.gif)

[2019-02-13 17:05] rishig commented on #11529
hm, working for me on Chrome as well. (Though it sounds like the original issue is not browser-specific?)

[2019-02-13 17:07] rishig commented on #11529
ok, I reproed. The link has to come from a linkification filter. (Kunal, let me know if that doesn't make sense.)

[2019-02-13 18:30] BhaveshPatidar commented on #7549
@zulipbot claim

[2019-02-13 18:38] timabbott commented on #852
@santherics of course it's possible :).  Can you talk about your actual use case?  This issue may or may not be the right thing for you to follow for what you need.

[2019-02-13 18:39] BhaveshPatidar commented on #7549
@rishig is this issue still active?

[2019-02-13 18:44] BhaveshPatidar commented on #7549
@zulipbot abandon

[2019-02-13 18:54] #11070 closed

[2019-02-13 21:25] ss62171 commented on #11087
@zulipbot claim

[2019-02-13 21:35] ss62171 commented on #11087
@timabbott how to test this on my development environment?

[2019-02-13 22:07] faixan-khan commented on #10828
@zulipbot cllaim

[2019-02-13 22:18] faixan-khan commented on #10828
@zulipbot claim

[2019-02-13 23:03] timabbott commented on #11087
@timabbott you can test ReadTheDocs using `tools/build-docs`, and the GitHub by pushing your branch to your fork and looking at it there.

[2019-02-13 23:07] #11466 closed

[2019-02-13 23:09] ss62171 commented on #11087
so basically I have to add these lines in every file into "doc" directory and add links accordingly.Is it so?

[2019-02-13 23:14] timabbott commented on #11087
Well, first take https://github.com/zulip/zulip/issues/11087#issuecomment-448688394 and turn it into something where the experience is good enough on a single doc.  And then we can think about everything else.

[2019-02-13 23:16] timabbott commented on #11546
@Aasfga want to submit an edit to docs/development/setup-vagrant.md with that solution?  Maybe in the troubleshooting section?

[2019-02-13 23:53] #11488 closed

[2019-02-14 00:13] #11518 closed

[2019-02-14 00:22] timabbott commented on #11400
Closing, thanks @thedeveloperr!

[2019-02-14 00:22] #11400 closed

[2019-02-14 01:21] andersk commented on #11532
Zulip, OS, and PostgreSQL versions: #11558

[2019-02-14 01:49] mkurnikov opened #11560 "Integrate with django-stubs"
@timabbott

I'm working on a Django plugin for mypy here
https://github.com/mkurnikov/django-stubs

I want to integrate it into Zulip next, it's the biggest Django project I could find on GitHub and it already heavily invested in mypy.

Some questions:
1. For now, I completely ignore `strict-optional = True` , would it be a blocker for Zulip?
2. I test with Django 2.1.x, Zulip is still on 1.11.x.

[2019-02-14 06:51] rishig commented on #10592
Reopening, since this doesn't fix the problem if you include a stream name, is:starred, or similar in addition to the stop words. Currently, you get

![image](https://user-images.githubusercontent.com/890911/52766983-d9364080-2fdd-11e9-8b0d-71c0ea9d83ee.png)

I think the ideal behavior is:
* We show this kind of message for stream narrows, topic narrows, PM narrows, and maybe a few more things lik

[2019-02-14 10:07] YashRE42 commented on #10592
@rishig Could you clarify what the desired behavior is?
Do you mean that we should have the text as follows (for example):

some common words were excluded from your query.
you were looking for: ~what~ ~about~ stop words
Nothing's been sent here yet!
Why not start the conversation?

[2019-02-14 11:34] vrongmeal commented on #11418
@zulipbot abandon

[2019-02-14 11:37] tdaff commented on #11348
Seems like this doesn't work with `pm-with`, or I haven't found the right combination of args yet?

[2019-02-14 14:55] Raghavareddy21 commented on #10524
@psg0796 are you still working on this issue?

[2019-02-14 15:31] Raghavareddy21 commented on #10265
@zulipbot claim

[2019-02-14 15:36] swapnil085 commented on #7549
@zulipbot claim

[2019-02-14 16:17] kunal-mohta commented on #11529
@rishig Yes, a brief explanation would be helpful. :sweat_smile:
How did you reproduce the issue?

[2019-02-14 18:22] sahil839 opened #11568 "Clicking on a quoted message should take user to the original message"
Currently clicking on a quoted message doesn't do anything.

We can add a functionality such that clicking on the quoted message takes user to the original message.

[2019-02-14 18:27] timabbott commented on #11568
I guess if we wanted to add UI of this form, the approach I'd take is to modify the block `quote`  syntax to support this format:
[code]

Where the number is the message ID.

I'm not sure what the right UI for this would be; I don't think we want clicking anywhere in the quote to trigger that behavior; instead, we probably want the markdown processor to generate a brief heading for quoted messages

[2019-02-14 18:43] timabbott opened #11570 "Add generic support for configuring organization default settings values for new users"
A lot of organizations have customizations that they want everyone on their team to do (e.g. defaults to night mode, notification settings, etc.).  Building UI for a "default value" organization setting for each of these would be annoying, but we could probably create a generic UI that lets one set organization-level default values for large classes of these (i.e. the ones that use the `property_t

[2019-02-14 19:31] #9851 closed

[2019-02-14 19:34] timabbott commented on #11529
@kunal-mohta you need to setup a "Linkifier" in organization settings, and then generate a link like that.  You can get the source content for Tommy's message and copy the relevant Linkifier from chat.zulip.org's organization settings to set this up in your development environment.

[2019-02-14 20:26] YashRE42 opened #11573 "Make font of keyboard shortcut modal easier to read"
The keyboard shortcut guide under the settings gear on the web app is hard to read because of the font. In particular, it's hard to see the difference between "P" and "p" shortcuts. Looking at it is a bit strenuous on the eyes.

We could raise the font-size by about 15%, but this may also have more to do with the font-family.

![image](https://user-images.githubusercontent.com/33805964/52815342-6f

[2019-02-14 20:45] YashRE42 commented on #10265
@Raghavareddy21 have you made any progress on this issue? It's actually been one that I've been working on locally for the past few days.

[2019-02-14 20:51] timabbott commented on #11560
@mkurnikov awesome!  As you say, we're highly invested in mypy and integrating with some sort of Django stubs is the big open TODO item for making our mypy setup even better (as with Django, we have a ton of implicit `Any`s from Django stuff).

We use strict-optional by default but have it turned off for many files; probably it can be turned off for the Django stubs as well?  See our `mypy.ini` in

[2019-02-14 21:08] armaanahluwalia opened #11574 "Add a route for zulip:// to send a narrow url to the mobile app"
We need to be able to send users on mobile browsers to the zulip mobile application instead. In order to do this, the technical solution involves redirecting the page to a url using the custom scheme ``zulip://`` which will then be handled by the mobile applications.

See
[This link](https://developers.tune.com/sdk/deep-linking-to-your-mobile-app-from-your-website/) and [The chat thread](https://c

[2019-02-14 21:37] Aasfga commented on #11546
@zulipbot claim

[2019-02-14 21:47] Aasfga commented on #11546
@timabbott of course I can, but I'm assigned to another issue (I'm waiting for review of my [pull request](https://github.com/zulip/zulip/pull/11479) and I can't claim this one. Can I be assigned to two issues?

[2019-02-14 22:15] rishig commented on #11529
I should have linked to https://zulipchat.com/help/add-a-custom-linkification-filter.

[2019-02-14 22:17] timabbott commented on #11546
Yes, that's fine; those alerts only happen until your first commit is merged; it's to prevent folks who never are going to do anything from cluttering a bunch of issues with claims that will never result in work.

[2019-02-14 22:17] timabbott commented on #11546
(Just get started on this, the comment thread is clear enough that you're claiming it)

[2019-02-14 22:22] rishig commented on #11568
yeah, I like both the markdown format and the UI concept.
Maybe `''' quote|1234567` to match how we do IDs in other places?

https://get.slack.help/hc/en-us/articles/203274767-Share-messages-in-Slack is how slack does it, but this proposal seems better.

[2019-02-14 22:23] rishig commented on #11568
Maybe the heading can be the following?
`_@**Tim Abbott** [says](link to message):`

[2019-02-14 22:28] rishig commented on #10592
I was suggesting that it should look exactly like
![image](https://user-images.githubusercontent.com/890911/52821768-a71bf180-3064-11e9-8eaf-3ee7a0f98b03.png)

(so without "Nothings been sent here yet / why not start the conversation")

[2019-02-14 22:32] #11294 closed

[2019-02-14 22:58] timabbott commented on #11568
I think "said", since it's always going to be past tense.  I'm imagining we wouldn't have that be present directly in the markdown syntax, and instead it'd be looked up server-side (just to avoid potential issues with folks editing the author, or whatever).

[2019-02-14 23:00] timabbott commented on #11348
@tdaff that's correct, though actually something I have a branch that I was working on for, as it's a pretty natural extension.  If you're interested in working on that, let me know and I can post it.

[2019-02-14 23:10] rishig commented on #11568
Are we restricting this to same stream quotes? I could imagine people trying to use this across streams in typical usage. My first thought was that we would allow:
* same stream
* any stream with wider audience
* public stream

Alos, not sure I quite understand what you're suggestion. We likely do want the message ID in the message when they send it, but the backend will do a substring match again

[2019-02-14 23:16] timabbott commented on #10524
I think not.  We should implement this using the approach described here:  https://github.com/zulip/zulip/issues/10524#issuecomment-423650480 / https://github.com/zulip/zulip/issues/10524#issuecomment-423638889

[2019-02-14 23:18] timabbott commented on #11568
I was imagining for v1 we'd just allow same stream and public streams; checking wider audience is a decent amount of complexity that should be a follow-up issue, but probably reasonable for v2.  What I meant is that we don't want the name to appear in the markdown syntax; that should just be in the generated output / HTML (and possibly an intermediate markdown state partway through processing that

[2019-02-14 23:25] timabbott commented on #10381
Correct.  I believe the backend actually already behaves with the two settings independent (though we'll want to test that); it's just the settings UI that needs to change.

[2019-02-14 23:32] timabbott commented on #11448
@thedeveloperr the problem with that, generically, is that resizing a browser can often result in the popover going offscreen.  I think we want something more specific to the resize event we get on a mobile browser (i.e. add a conditional for it being a mobile device browser using `util.is_mobile()`)

[2019-02-14 23:35] thedeveloperr commented on #11448
@timabott makes sense. I will try that when I come to this issue. Thanks

[2019-02-14 23:36] thedeveloperr commented on #11448
@timabbott  makes sense. I will try that when I come to this issue. Thanks

[2019-02-15 00:37] #11469 closed

[2019-02-15 00:59] #2374 closed

[2019-02-15 00:59] #6059 closed

[2019-02-15 00:59] #7290 closed

[2019-02-15 09:11] thedeveloperr commented on #11401
@zulipbot claim

[2019-02-15 09:45] abhigyank commented on #11568
I suppose in this case we wouldn't want the quoted message to be editable as well in the markdown.

[2019-02-15 09:56] savish28 commented on #11496
@zulipbot claim

[2019-02-15 10:11] santherics commented on #852
@timabbott In our case authenticated in LDAP users have email in different domains. Is there another way to solve this issue?

[2019-02-15 10:13] aero31aero commented on #11568
I think we'll want it to be editable. We can have some UI feedback if the
message has been changed, and maybe a simple hashing strategy could help
with checking for edits.

The UI can either say "quoted from" or say "partially quoted from".

On Fri, Feb 15, 2019, 3:15 PM Abhigyan Khaund <notifications@github.com
wrote:

[2019-02-15 10:19] santherics commented on #11520
@timabbott In our case, different organizations must have different LDAP authentication configurations, because the user lists must be different. At least the AUTH_LDAP_USER_SEARCH settings should be different.

[2019-02-15 10:50] Raghavareddy21 commented on #10265
No, I just started working on this yesterday. Do you want to take this?

[2019-02-15 15:35] mateuszmandera commented on #11262
@zulipbot claim

[2019-02-15 15:42] Z0Marlin commented on #11389
@zulipbot claim

[2019-02-15 15:47] rishig commented on #11568
fwiw, I don't think we need to be worried about malicious intent. Everything is there in public, including the original message. Also email has this feature (showing sender details of e.g. forwarded messages) and I've never seen it abused.

[2019-02-15 16:40] vrongmeal commented on #11529
The issue is not specific to links with text as code blocks, it is purely related to the linkifier

[2019-02-15 17:29] saraansh1999 commented on #11573
Hey!
I'm new here.
Could you guide me as to where to find this problem and I'll happy to take this up

[2019-02-15 18:03] timabbott commented on #11568
Also, it's worth noting that people routinely subquote messages they're quoting to refer to just part of a longer message, and that's a good use case.  So if we were to do enforcement, we'd at most want to check for subtrings.  I think for an initial version, though, we shouldn't do any enforcement at all.

[2019-02-15 18:22] devZer0 opened #11581 "zulip export problem"
for implementing logical backup i tried manage.py export again

if i call manage.py with /home/zulip/deployments/current/ as cwd, then it works.

if i call it from outside that dir, for example

[code]

 it failes with the error below. apparently manage.py/export does have a call to itself which and does not know how to find itself...

[code]

[2019-02-15 19:24] timabbott commented on #11581
@devZer0 thanks for the report!  This should be easy to fix.

[2019-02-15 19:28] timabbott commented on #11581
@devZer0 can you try this change?

[code]

[2019-02-15 19:33] timabbott commented on #11581
Just tested and merged that, but would love confirmation that it indeed fixes it for you as well.  Thanks again for the report @devZer0!

[2019-02-15 19:33] #11581 closed

[2019-02-15 21:33] devZer0 commented on #11581
works! fantastic! thanks!

[2019-02-15 22:58] timabbott opened #11584 "Improve handling of deleted user groups"
The current model for user groups doesn't match how we handle deleting other objects, namely that when you "delete" it in the UI, we actually delete it from the database.

This results in our needing to do error handling hacks like 4e53110350a52aae4ee70c5400b47f4187ab312c, which are bad because they can't distinguish actual bugs in the software from a deleted user group.  There are two reasonable

[2019-02-15 23:17] YashRE42 commented on #11568
This sounds like an interesting thing to work on. I wanted to pitch in:

In the future we could also provide a setting that would have your own quotes also be mentions. Also, what about handling of nested quotes?

[2019-02-15 23:19] rishig opened #11585 "compose: Exiting custom profile view closes compose box."
Looking at a user's custom profile before sending a message is pretty natural, and I think we should leave compose open after exiting the modal.

[2019-02-16 08:22] vinitS101 commented on #11301
@zulipbot abandon

[2019-02-16 10:21] tommyip commented on #11529
The problem is the realm filter is expanded before the link, so at some point in the renderer the markdown is transformed into
[code]

@zulipbot claim

[2019-02-16 16:57] Z0Marlin commented on #11389
@rishig I've made a WIP PR. Currently, a new line is added after `quote and reply`, and for images, new lines are added before and after the image link, in the compose box. Is this how it was expected to be? Please review.

[2019-02-16 18:08] rishig opened #11589 "user status: Add icon for "unavailable"."
We need a new availability icon (green/orange/white circle) for "unavailable" (called away in the code).
Currently we use a white circle (i.e. the same as the one for offline).

It should look like
![image](https://user-images.githubusercontent.com/890911/52903375-73aaa580-31d1-11e9-9e9e-08f7e750c849.png)

Blown up, it'll maybe look like
![image](https://user-images.githubusercontent.com/890911/52

[2019-02-16 18:08] timabbott commented on #11529
@aero31aero FYI since this is a markdown processor ordering bug.

[2019-02-16 18:15] aero31aero commented on #11529
Interesting. I believe this was present before the recent changes to ordering as well. It shouldn't be too hard to fix.

@zulipbot claim

[2019-02-16 19:14] thedeveloperr commented on #11584
@zulipbot claim

[2019-02-16 19:25] #11301 closed

[2019-02-16 19:25] timabbott commented on #11301
@vinitS101 no worries; I ended up having a convenient reproduction situation for this while reviewing #11586 which adds a new dependency, and made the fix this morning; it was exactly as described above.

[2019-02-16 19:26] timabbott commented on #11301
[code]

[code]

[2019-02-16 19:28] timabbott commented on #11529
You can chat with Tommy and collaborate -- he might benefit from your context.

[2019-02-16 20:05] rishig opened #11590 "integrations: Add missing logos."
We seem to be missing logos for Instagram, Twitter, and YouTube.

Also, the logo for Groove is too small (needs to be trimmed), and the logos for irc, matrix, and xkcd are too big (need to add some left and right padding probably to the container that holds the logo).

[2019-02-16 20:31] timabbott commented on #11590
Isn't `./static/images/integrations/logos/twitter.svg` a Twitter logo?  And ./static/images/integrations/logos/instagram.png for instagram?  ./static/images/integrations/logos/youtube.svg for youtube.

Logos appear for me on zulipchat.com/integrations...

[2019-02-16 20:38] rishig commented on #11590
oh weird. Here's what it is for me, on zulipchat.com/integrations:
![image](https://user-images.githubusercontent.com/890911/52904944-a364a800-31e7-11e9-8b1a-31d86bfcb12d.png)

![image](https://user-images.githubusercontent.com/890911/52904949-b1b2c400-31e7-11e9-928c-c372ce67e5fd.png)

![image](https://user-images.githubusercontent.com/890911/52904953-c000e000-31e7-11e9-9200-d2d5f083d725.png)

[2019-02-16 20:49] rishig opened #11591 "integrations: Footer broken on category pages."
Go to https://zulipchat.com/integrations/bots (or the equivalent in dev). The bottom of the page looks like:

![image](https://user-images.githubusercontent.com/890911/52905040-fa1eb180-31e8-11e9-9bfa-71ddc541293e.png)

It's fine on the `All` category.

[2019-02-16 21:02] mregdos commented on #11573
@zulipbot  claim

[2019-02-16 21:30] synicalsyntax commented on #11591
The problem with this is that the gradients has a min-height of 1100px, but when you categorize the integrations there's only a few per category so the height of the main integrations section is less than 1100px and that's why the footer falls under the gradient area.

[2019-02-16 21:51] timabbott commented on #11591
@synicalsyntax couldn't we just tweak the CSS for the gradient for this page to have a lower min-height?

[2019-02-16 21:53] timabbott commented on #11590
Check your browser console "Network" tab and/or inspect element on those for what's going on here.  I wouldn't be surprised if this turns out to be a browser extension that's trying to hide social buttons for Twitter/Instagram/Youtube (or something), given that those are exactly the list of integrations that have that kind of feature?

![image](https://user-images.githubusercontent.com/2746074/529

[2019-02-16 23:19] mregdos commented on #11573
@YashRE42

I have tinkered a bit in order to improve readability. Font-size of shortcuts have been slightly increased and it seems to have desired impact. I have also removed the difference between font-size of operators and descriptions of effects (in "search operators" tab). That inconsistency was very distracting for non-standard zoom (such as >130% on Chrome). I have considered changing font-f

[2019-02-17 00:32] borisyankov commented on #11589
That is possible but more complicated  than another option that is more popular:
`box-shadow`.

It is obvious how you do one border with it. Less popular is the knowledge that you can have multiple box shadows.

I guess I can do a PR for that, since I am working on the mobile styling too.

[2019-02-17 00:51] rishig commented on #11589
ah, makes sense. Awesome, thanks!

[2019-02-17 01:07] borisyankov commented on #11589
This is what it looks like:
[code]
Where 'black' is actually the background.

This might not even be needed if the horizontal line is added by something like `::after { content: something? }`

[2019-02-17 01:14] rishig commented on #11591
I guess we're about to add another 150 pixels of stuff to the left sidebar on this page, so maybe that will fix it anyway? Though rigth now I'm getting the following :).

![image](https://user-images.githubusercontent.com/890911/52907050-48927700-320e-11e9-90da-d8dd419deb1a.png)

[2019-02-17 01:16] rishig commented on #11590
that was it! It's being blocked by adblock plus, with my current settings (though may not be the default settings).

Not sure if it's worth renaming these files for that? It's not a trivial project, since I believe the file names are coupled to the URL slugs (e.g. `/integrations/doc/instagram`).

[2019-02-17 01:40] timabbott commented on #11590
That's easy to change, our configuration in `zerver/lib/integrations.py` already has support for a custom logo path:

[code]

[2019-02-17 01:41] timabbott commented on #11591
@jackrzhang may remember better than I do, but I think we just have a fixed minimum height for the white thing that fits the categories, and you need to increase that.

[2019-02-17 02:03] rishig commented on #11590
ok, great! I'll leave this issue open for someone to tackle; should be a good first project for someone.

[2019-02-17 07:08] tommyip commented on #11529
Ok so I fixed the frontend markdown. My solution is a bit of a hack :grimacing: since I got round the ordering problem by replacing the realm filter with a marker before rendering and inserting the link afterwards.

@aero31aero would you mind reviewing my PR?

[2019-02-17 09:57] mregdos commented on #11573
@zulipbot abandon (since I would like to focus on different issue from zulip-terminal).

[2019-02-17 10:19] #10362 closed

[2019-02-17 11:01] devZer0 opened #11597 "Internal Server error on start"
I'm was reproducably getting "Internal server error" on start of the desktop osx app or rambox.

on every client reload, i saw the following in django.log

Sun Feb 17 09:47:08 2019 - *** HARAKIRI ON WORKER 1 (pid: 20349, try: 1) ***
Sun Feb 17 09:47:08 2019 - HARAKIRI !!! worker 1 status !!!
Sun Feb 17 09:47:08 2019 - HARAKIRI [core 0] 172.16.45.10 - GET / since 1550396807
Sun Feb 17 09:47:08 2019

[2019-02-17 16:22] neosaadmin opened #11600 "Streams: Admin add users to streams only."
Would be nice if we had the option to have admins only invite or subscribe users to streams. This could be applied per stream and not globally. But on my private streams, I don't want User A to subscribe User B that doesn't belong in said stream.

Also what is the possibility of adding another permissions group: Moderators. Kind of like rocket chat, permissions could be assigned via stream permiss

[2019-02-17 17:10] rishig opened #11601 "message editing: Changing topic of message doesn't properly update view."
I was able to repro the following on czo:
* As admin,
* Go to narrow with old messages
* Change the topic of a previous message (select "Only this message")

It adds the new topic to the left sidebar, but the topic of the message doesn't change. If you reload, or click to a different topic and back, it updates to the correct thing.

Did not try many other permutations (non-admin, not an old messag

[2019-02-18 07:54] rishig opened #11607 "user status: General changes to displaying status and availibility."
Last seen field of full user profile:
* [x] Change "Last seen" to "Last online"
* [x] Change value string to "Online now" if the user is green,
* [ ] or "2 minutes ago", etc. if they are not green. (Though I don't understand why this is currently "Just now" for orange, so maybe there's something I'm missing.)
* [ ] I think we currently only put a month and day (no year) if it's within 365 days ago

[2019-02-18 13:02] 2208Abhinav opened #11608 "Remove inline javascript codes from /accounts/find, /accounts/go, /login, /register, etc"
As discussed [here](https://github.com/zulip/zulip/pull/10927) we need to remove all the inline javascript code and move it to its appropriate javascript file.

@timabbott I have opened this issue to keep track of the work.

[2019-02-18 13:02] 2208Abhinav commented on #11608
@zulipbot claim

[2019-02-18 14:05] sahil839 commented on #11176
@zulipbot I have made pull request but it will be reviewed later by Tim after some time due to release planning.

[2019-02-18 14:36] tdaff commented on #11348
Good to know @timabbott! I can see this feature being useful for a couple of projects that I'll be working on, but not for a few months yet. I've bookmarked this issue and will try and make the case for working on it as part of the projects :smile:

[2019-02-18 17:55] ruchit2801 commented on #5142
@zulipbot claim

[2019-02-18 17:59] ruchit2801 commented on #11029
@zulipbot abandon

[2019-02-18 17:59] ruchit2801 commented on #5142
@zulipbot claim

[2019-02-18 21:57] akornor commented on #11055
@zulipbot claim

[2019-02-18 22:23] #5384 closed

[2019-02-18 22:36] timabbott commented on #11601
Is this https://github.com/zulip/zulip/issues/9338?

[2019-02-18 23:24] #11176 closed

[2019-02-18 23:27] timabbott opened #11612 "Deduplicate our various "organization settings" file upload widgets"
These are all follow-ups to the "realm logo" feature and its night mode (see #11316).
* [ ] We should look at changing the API to make the `upload_logo` and `delete_logo_backend` views not return anything; I'm suspect it is not useful that they do, and it'd let us remove a bunch of duplicate code.  Does the frontend actually use those values?
* [ ] We should add a test for the events we send in `t

[2019-02-18 23:28] timabbott commented on #11612
@pragatiagrawal31 @shubhamdhama @sahil839 the various parts of this are likely of interest to you.

[2019-02-18 23:34] showell opened #11613 "Build a more subtle, more ambient notifications mechanism."
Discussion here:

https://chat.zulip.org/#narrow/stream/3-backend/topic/Notifications.20for.20reactions/near/702890

This is a somewhat advanced issue.  You don't necessarily need a lot of Zulip-specific knowledge to make this change, but you need to be skillful about getting consensus on how best to build this feature in a usable way.

[2019-02-18 23:43] timabbott commented on #11591
@rishig I merged #11604 which fixes this; if you need more space, you can adjust that `min-height` accordingly.

[2019-02-18 23:43] #11591 closed

[2019-02-18 23:46] timabbott commented on #11597
@devZer0 that sounds like an OOM kill, certainly.  Check `dmesg` to see if that's indeed what was happening.

It sounds possible that is you installed with higher RAM and then reduced it later after installation?  If you change the system's RAM, you need to run `/home/zulip/deployments/current/scripts/zulip-puppet-apply` to resize the RAM configuration for postgres and friends based on the system'

[2019-02-19 02:23] pragatiagrawal31 commented on #11612
@zulipbot claim.

[2019-02-19 05:58] overide commented on #11613
@showell Hi Steve, i would definitely love to work on this. I understand that it's advance stuff so would appreciate if you can give me some reference.

[2019-02-19 05:58] overide commented on #11613
@zulipbot  claim

[2019-02-19 07:58] iamharshgupta commented on #10539
If this issue is still open , I would like to work on this

[2019-02-19 11:36] devZer0 commented on #11597
there is no messages about OOM and 1gb ram was used for caches/buffers and no swap in use - so there should be no reason for oom killer to jump in. memory wasn't reduced, either.

anyway, it did not re-appear since my changes...feel free to close

[2019-02-19 14:32] sahil839 commented on #11612
@timabbott I think your view for point 1 is correct because it just returns json success and changing the logo source using `do_change_logo_source` would be enough. the values returned are not used anywhere in frontend.

[2019-02-19 15:13] shubhamdhama commented on #11612
@timabbott I can give my detailed review on this and few other related refactors after the exams (22nd).

[2019-02-19 20:07] timabbott commented on #11477
@aero31aero the way things work is that we list first every topic that has unread messages on top sorted by time, and then every other topic sorted by time below that.  However, whatever topic you have selected goes in that top group, mostly to avoid the scroll position jumping around the moment you click on one with unread messages.

This design doesn't really imagine users leaving dozens of topi

[2019-02-19 20:10] timabbott commented on #11597
OK, weird.  The other cause you could potentially have is some sort of timeout killing the process (I guess you can check the postgres logs to see if there's something going on there), but timeouts starting the webapp have never been a problem with Zulip's backend, so I'd be surprised.

[2019-02-19 20:10] timabbott commented on #11597
OK, weird.  The other cause you could potentially have is some sort of timeout killing the process (I guess you can check the postgres logs to see if there's something going on there), but timeouts starting the webapp have never been a problem with Zulip's backend, so I'd be surprised.

[2019-02-19 20:10] #11597 closed

[2019-02-19 20:45] devZer0 commented on #11597
wil keep an eye on it. we run zulip in a virtualized xenserver environment.

[2019-02-19 22:45] rishig opened #11617 "stream settings: Ban newlines in the stream description field of "Create a stream""
Discussion at https://chat.zulip.org/#narrow/stream/137-feedback/topic/Stream.20description.

We just need to prevent users from adding newlines in the stream description field of this form: https://zulipchat.com/help/create-a-stream

For now, it's ok if it's not enforced on the backend.

(Marking as bug, since it's the cause of downstream bugs that we can ignore after making this change).

[2019-02-19 22:59] timabbott commented on #11617
@Hypro999 this is probably a good project for you, in that it's a follow-up to some work you've been doing.  Also @HarshitOnGitHub FYI since it's semi-part of moving stream descriptions into the navbar area.

[2019-02-20 01:39] vinitS101 commented on #11453
Hey, @okmanl . Are you still working on this?

[2019-02-20 03:50] Hypro999 commented on #11617
I'd be happy to work on it :). I'll get a PR out in atmost a day (shouldn't really take too long).

[2019-02-20 03:51] RishabhGoyal992 commented on #11573
@zulipbot claim

[2019-02-20 04:40] RishabhGoyal992 commented on #9446
Hello,
I'm a new contributor, willing to take up this issue.
@zulipbot claim

[2019-02-20 07:01] okmanl commented on #11453
Yes, I still am working on it. I apologize for the slow progress. I was really sick for more than a week and was only recently able to focus more time on this.

I am going to ask for help on the front end channel in the Zulip community. I managed to add the email field to the user-info-form-modal from this picture, however, I can't figure out how to have the person's email address appear in the in

[2019-02-20 07:41] vinitS101 commented on #11453
I can look into this and help out for sure. From what the OP described, I think you can add the `readonly` attribute to the email input so that it isn't editable.
`<input type="text" name="email_id" value="{{email}}" readonly />`

Ping me in the chat and we can talk about this there if needed. :)

[2019-02-20 07:42] vinitS101 commented on #11607
From the Issue description it feels like something I can work on. Is it okay if I claimed this issue, or is someone already working on this?

[2019-02-20 12:34] davidtwco opened #11618 "Add links to run code snippets for supported languages"
When a user posts a code snippet in a message with a specific language, Zulip could provide a link to run that code using a service that supports that language - such as the [Rust Playground](https://play.rust-lang.org/) (Rust), or [godbolt](https://godbolt.org/) (C/C++/Rust/Swift/etc).

#### Example

Given a code snippet like below (ie. code fence with a specified language):

[code]

A link to [t

[2019-02-20 13:58] bascht opened #11619 "Slack import fails with KeyError: 'url_private'"
Full stack trace during the import of a recently imported Slack Dump:

[code]

Let me know if I can supply more info!

[2019-02-20 14:51] YashRE42 commented on #11573
Sorry! I should have linked to [this discussion.](https://chat.zulip.org/#narrow/stream/91-code-review)
In short, we want the font to be consistent between all three tabs "keyboard shortcuts", "message formatting" and "search operators", of which, message formatting looks okay.

@mregdos if you want you can update your PR with that in mind, or if you're working on something else then I could send

[2019-02-20 14:51] KirillKhrushkov commented on #3783
Hi Team!
Could you please say if there are any news on this topic?
Thank you

[2019-02-20 15:05] jainkuniya opened #11621 "markdown: Emoji in bold format produces wrong duplicated (nested) span for emoji."
Example

If some one composes reactions in bold like ** :tada:  ** then it's markup is:

[code]

So is this a issue or intensional?

https://chat.zulip.org/#narrow/stream/3-backend/topic/reactions.20in.20bold/near/703183

Relevant: https://zulip.readthedocs.io/en/latest/subsystems/markdown.html

@zulipbot label emoji
@zulipbot label markdown

[2019-02-20 15:06] jainkuniya commented on #11621
(https://github.com/zulip/zulip-mobile/issues/3321)

[2019-02-20 15:08] jainkuniya commented on #11621
@zulipbot add "emoji"
@zulipbot add "markdown"

[2019-02-20 15:09] jainkuniya commented on #11621
@zulipbot add "area: emoji"
@zulipbot add "area: markdown"

[2019-02-20 17:17] timabbott commented on #11621
Definitely a bug.  @HarshitOnGitHub @aero31aero are folks likely to be able to fix this efficiently.

[2019-02-20 17:21] timabbott commented on #11619
@bascht can you add a `print(fileinfo)` statement just before the line that failed, and provide the content of the `fileinfo` object, which I'm guessing is some nonstandard Slack upload type?  That's what we'll need to debug this.

[2019-02-20 17:37] vinitS101 commented on #11607
@zulipbot claim

[2019-02-20 17:46] timabbott commented on #11618
@davidtwco thanks for the suggestion!  I think this is something we could provide that would be valuable to a reasonably wide range of communities.  Here's some specification details for implementing a very preliminary version of this that would determine whether it's actually feasible:
* Figure out how we're going to extract the original plain-text code with proper whitespace that the user entere

[2019-02-20 20:29] #11617 closed

[2019-02-20 23:39] rishig opened #11629 "user status: Add timeout, and other next steps to modal."
Putting some of the reasoning here, so it doesn't get lost. But some of the goals of the status feature are:
* Make it easy to set a status or mark yourself as unavailable for N minutes
* Make it hard (but possible) to set a status forever

For that, the user status modal should look like the following:
[code]

The options for the dropdown can be:
* 30 minutes
* 1 hour
* 4 hours
* Today
* This wee

[2019-02-20 23:47] rishig opened #11630 "user status: Make it easy to clear custom status."
One of the biggest problems with status messages is that people set them once and then never clear them. So we should make it as easy as possible to clear.

In Zulip the situation is extra bad since status messages don't clear by default, you don't see your own status message, and it's actually a decent amount of work to clear it.

One small thing that would help is adding a `(clear)` link at the

[2019-02-20 23:55] rishig opened #11631 "message view: Vertical spacing is off above quotes and lists."
The following markdown
[code]

produces
![image](https://user-images.githubusercontent.com/890911/53133301-71c14900-3527-11e9-9c60-a7b5c3b653f4.png)

The vertical space above the quote and especially above the bullets is too much, relative to e.g. paragraph breaks. I think it's at the point where it affects readibility, and makes it look like the bullets are not tied to the sentence that precedes

[2019-02-20 23:58] whoodes commented on #11630
@zulipbot claim

[2019-02-21 00:51] timabbott commented on #11631
This may be a complex issue.  The problem is that the way spacing between paragraphs works is a bottom margin of 10px (this is standard in bootstrap, though we have custom CSS that preserves this).  So in order to produce the visual thing you describe, we'd need to either change that (with its own set of complications), do negative margin above the bulleted list everywhere (which might create its

[2019-02-21 00:55] rishig commented on #11631
cool. And yeah, it's one of the few things that's broken in GitHub's markdown CSS.

[2019-02-21 09:40] RishabhGoyal992 commented on #9446
@rishig @timabbott
Hello Rishi!
Hello Tim!

I went into this issue of discrepancy in the on-hover text content's size . The problem is that the "Keyboard shortcut" (on the lower right) has got its on-hover text explanation being triggered by JavaScript (using Tooltip popover). Where as the "Reply", "Draft", the User's list menu on the upper right and many more elements have their on-hover text exp

[2019-02-21 11:44] PaulPfl commented on #10776
Hey, same problem here with 2.0.0rc1. Happens after an hour or so up-time ..
`supervisorctl restart zulip-senders:*` is effective

setup is a bit modified docker-compose.yml from zulip-docker deployed with docker stack (but all services as single services on a single node)

from events_message_sender.log
[code]

[2019-02-21 18:07] sahil839 commented on #11152
@zulipbot abandon

[2019-02-21 18:22] swallitsch opened #11635 "Zulip Docs: Setting up your org: Lists "delete test messages" twice"
In the zulipchat.com help documentation, under ["Setting up your organization"](https://zulipchat.com/help/getting-your-organization-started-with-zulip) there are two sections at the bottom- ["Invite users and onboard your community"](https://zulipchat.com/help/getting-your-organization-started-with-zulip#invite-users-and-onboard-your-community) and ["Bonus things to setup"](https://zulipchat.com/

[2019-02-21 18:28] swallitsch commented on #11635
(Also "setup" is being used as a verb here, so it should be "set up")

[2019-02-21 19:15] rishig opened #11636 "left sidebar: Closing stream search doesn't work."
To repro, open stream search and try to click the `X`.

![peek 2019-02-21 11-14](https://user-images.githubusercontent.com/890911/53195148-e4830080-35c9-11e9-92de-68208cc35870.gif)

(Closing with `Esc` does work)

[2019-02-21 19:18] sahil839 commented on #11601
@rishig I am not able to reproduce this on development server

[2019-02-21 19:22] rishig commented on #11601
It's not the same as #9338, which involves changing the topic in the recipient bar. Made a gif:

![peek 2019-02-21 11-21](https://user-images.githubusercontent.com/890911/53195618-da153680-35ca-11e9-9065-c116b9bf06d7.gif)

[2019-02-21 19:26] sahil839 commented on #11601
Oh I just noticed that it can be reproduced only if we narrow to the topic.

[2019-02-21 19:43] sahil839 commented on #11612
@timabbott I have gone through the code and I feel that I could do the required deduplication. Can we work on this issue in parts?

[2019-02-21 19:54] timabbott commented on #11612
Yeah, just coordinate with the others on who is doing what parts.

[2019-02-21 19:57] opensource21 opened #11637 "search for reactions"
It would be great to have the possibility to search for all messages which has a specific reaction. Would be extreme helpful to mark messages where we need external feedback or all critical issues in a support-channel.

- The syntax should be `reaction:{emoji name}`.
- The typeahead should show suggestions for emoji names. This can be a follow-up if it's tricky.

See https://github.com/zulip/zulip

[2019-02-21 20:09] sahil839 commented on #11612
I can do first and fourth part.

[2019-02-21 22:57] andersk commented on #10732
For context regarding perfect-scrollbar: I have no opinion on its appearance, but its behavior is intolerable (and replacing the browser’s native scrolling behavior is a silly thing to do even if it were to behave perfectly). See #9748. We switched to simplebar because it was the most direct replacement that makes no effort to interfere with the browser’s native scrolling behavior.

Using a real s

[2019-02-21 23:46] gab-cass opened #11639 "Cannot login using the EmailAuthBackend"
Hi,

I have set up LDAP, and that works fine. However, I cannot login (as admin) using the EmailAuthBackend. SMTP is working fine.

I have disabled the ZulipLDAPAuthBackend (so I can only have the EmailAuthBackend) - but I am getting a message on the login page stating that no authentication backends are enabled.

I would appreciate some help on this. This is what I have now in setting.py (for aut

[2019-02-22 00:53] gelav opened #11640 "Bold typeface when using Ukrainian localization"
When Ukrainain language is selected, all text in the topics become **bold** (quotes become regular).
Browser: Firefox 65.0.1 under Windows 7.

[2019-02-22 04:03] shubhamdhama commented on #11612
I haven't claimed the issue, you should check with @pragatiagrawal31 whether she has started working on this or not, otherwise, there will be conflicts.

[2019-02-22 06:45] overide commented on #11475
@zulipbot abondon

[2019-02-22 06:46] overide commented on #11475
@zulipbot abandon

[2019-02-22 06:49] overide commented on #11475
I've created PR #11576 for this fix. Abandoning this to work on some other issues.

[2019-02-22 06:51] overide commented on #11636
@zulipbot  claim

[2019-02-22 09:14] rishig opened #11642 "left sidebar: Add "+ Add streams" to bottom of streams list."
It would be great to add the corresponding version of
![image](https://user-images.githubusercontent.com/890911/53231885-c73c4980-363e-11e9-9bfb-764e4b1e6f6e.png)

to the left sidebar. It should be in the scrollable streams section, so that it doesn't take up real estate when the streams list is large.

The wording can be "+ Add streams" and it can go to `https://chat.zulip.org/#streams/all`.

As

[2019-02-22 10:20] SvetlanaTkachenko opened #11643 "package zulip for debian"
I think zulip package for debian (www.debian.org) is not available?

[2019-02-22 11:18] llukee opened #11644 "Internal Server Error after Zulip restart"
Hi
I just followed the documentation and set up the Email SMPT settings.
After this I restarted my Ubuntu Server and Zullip was not reachable anymore: Internal Server Error

I also tried with: su zulip -c /home/zulip/deployments/current/scripts/restart-server
Then I get following result:

[code]

This is currently in my LOGS:

[code]

Thank you for any hints!
Best wishes

[2019-02-22 15:54] akshaygupta533 commented on #11642
@zulipbot claim

[2019-02-22 15:55] akshaygupta533 commented on #11642
@rishig Can you assign me this issue? I have already completed work on the previous issue assigned to me. It's PR is awaiting review.

[2019-02-22 17:26] whoodes commented on #11585
@zulipbot claim

[2019-02-22 17:43] gab-cass commented on #11639
Closing this.

I have removed version 1.9.2, installed version 2.0.0-rc1+git and this problem is gone, both back ends (LDAP + Email) are working fine.

[2019-02-22 17:43] #11639 closed

[2019-02-22 18:43] hackerkid opened #11646 "Allow admins to set stream as default from stream settings UI"
Currently admins have to goto organisation settings to make a stream default. They should be able to do this from stream settings UI itself. The first step would be to to add a "Include in default streams" checkbox for admins in the streams setting (both in the creation form and in the already-created view)

See https://chat.zulip.org/#narrow/stream/101-design/topic/default.20streams/near/705770 f

[2019-02-22 19:03] hackerkid commented on #11646
Closed in favour of #2284 and #7787

[2019-02-22 19:04] showell commented on #11401
This is a pretty low priority issue until we have more clarity on how to do it, or more resources.

[2019-02-22 19:04] #11646 closed

[2019-02-22 19:06] DidacMC commented on #3220
Still working on it.

[2019-02-22 19:08] thedeveloperr commented on #11584
@timabbott The delete event is sent as ``op="remove"`` Should I change it to op = deactivate or something like that? Will it break anything ?

[2019-02-22 19:29] gnprice opened #11647 "Link to APK download from /apps/android"
When we make releases of the Zulip mobile app, we upload them not only to Google's and Apple's app stores, but as an APK posted on a GitHub "release". These are appreciated by users who use Android without Google Play, whether out of privacy concerns or a desire to stick rigorously to free software.

As suggested in [comments](https://github.com/zulip/zulip-mobile/issues/1270#issuecomment-35468345

[2019-02-22 20:12] timabbott commented on #11647
Seems valuable.  @gnprice what do you think about just having the text "Or download the APK from GitHub" in smaller text below the button?  I'm not sure "Advanced" really adds much.

Hmm, the other thing to note which might argue for "Advanced" is that folks doing the download not through Google Play would presumably need to know they need to come back for updates.

[2019-02-22 20:24] timabbott commented on #11401
I think this is pretty straightforward -- add a caret menu next to "starred messages" like the one next to "all messages", and have it send an `update_message_flags` request to the backend with the IDs of all the starred messages.

[2019-02-22 20:24] timabbott commented on #11639
Great, thanks for the confirmation that this is fixed :)

[2019-02-22 20:27] timabbott commented on #11644
@llukee I've never seen this before.  Can you provide more detail on exactly what you did?  Based on the exception, it looks a lot like your `/etc/zulip/settings.py` file either doesn't exist anymore or is no longer readable by the Zulip user.

[2019-02-22 20:34] timabbott commented on #11643
@SvetlanaTkachenko correct, we don't currently offer a Debian package installation option for the Zulip server.  I should note that there is a Debian package for the Zulip desktop app available from https://github.com/zulip/zulip-electron/releases.

As someone who's maintained over 100 Debian packages in the past, it's something I'd like to have.  But it's also a lot of work to create one especial

[2019-02-22 20:42] timabbott commented on #11640
@gelav can you provide more details on this (e.g. a screenshot)?  It's possible this is an issue with the fonts on your system...

[2019-02-22 20:45] llukee commented on #11644
Hi @timabbott
Sorry  my bloody mistake and your hint helped me to find my beginner issue: There was a comment in /etc/zulip/settings.py where I removed its #-tag.

*Now I changed it back and everything is fine* 👍

Best Luke

[2019-02-22 20:45] #11644 closed

[2019-02-22 20:48] synicalsyntax commented on #11635
Ping @rishig

[2019-02-22 20:58] timabbott commented on #11637
I believe implementing this is solely a matter of (1) picking a syntax and (2) plumbing it through the search system -- look at how `sender:` or `by-pm-with` works for something similar to crib off of, and (3) picking a performant query query.

For syntax, possibly we want something like `reaction:heart`, and then what it'd actually do on the backend is (1) map `heart` to the corresponding emoji c

[2019-02-22 21:05] timabbott commented on #11636
Fascinating, we should try to fix this soon.

[2019-02-22 21:08] timabbott commented on #10776
@PaulPfl that really looks like the main Zulip container is losing connectivity with the RabbitMQ container.  I would look at the logs for the RabbitMQ container (/var/log/rabbitmq/, e.g.) to see if you can find any evidence of that.

Also `rabbitmqctl list_queues` on the zulip container might be instructive.

[2019-02-22 21:41] timabbott opened #11651 "Fix markdown numbered list handling of blank lines between blocks"
If you write

[code]

Zulip's auto-numbering thing works and turns it into 1/2.  However,

[code]

apparently that just results in two 1.s in their own paragraphs.

[2019-02-22 21:44] SvetlanaTkachenko commented on #11643
Yes I mean package for the zulip server. I guess if it is not a high priority for you at the moment then this issue could perhaps remain open with a low priority in case someone else wants to work on it

[2019-02-22 22:48] gelav commented on #11640
@timabbott gladly:
![chrome ukr](https://user-images.githubusercontent.com/20467269/53275675-ab9b7680-3704-11e9-9ffd-46bacb569d93.png)
![firefox eng](https://user-images.githubusercontent.com/20467269/53275676-ab9b7680-3704-11e9-880c-7e1909f2c0df.png)
![firefox rus](https://user-images.githubusercontent.com/20467269/53275677-ac340d00-3704-11e9-980f-0f0b1e1bd7a0.png)
![firefox ukr](https://user-ima

[2019-02-22 23:20] rishig commented on #11635
Good catch, and thanks for the report! Fixed in https://github.com/zulip/zulip/commit/e61202387e992ab6adb7ccb8c8e59b7a6a0a0f74.

[2019-02-22 23:20] #11635 closed

[2019-02-22 23:35] timabbott commented on #11640
I see; can't reproduce in Chrome.  Can you do an "inspect element" on some of the bold text and figure out what font is actually being used for it?

[2019-02-22 23:46] timabbott commented on #11584
It would break the mobile or terminal clients.  In any case, I think `remove` is still a fine name for something which is being removed from the set of active user groups.  So keep the event name as-is.

[2019-02-23 01:20] timabbott opened #11656 "Fix focus issues when someone sends a message while you're editing the latest message"
I've occasionally noticed a problem where I send a message, am editing it, and then someone sends a reply while I'm typing my edits, and the text area loses focus (resulting in my next characters triggering hotkeys, not entering text into the message I was editing)

The reproducer for this is very precise:
* Send a message as Iago in one tab from a topic narrow.
* Start editing the message, leavin

[2019-02-23 01:26] rishig commented on #11656
yes! I've run into this a bunch recently.

[2019-02-23 02:50] rishig commented on #11590
Was closed automatically by GitHub; reopening since this issue is still there.

[2019-02-23 08:56] RalfJung opened #11657 "Please don't spoof/intercept links in notification mails"
I just got a Zulip notification mail with a link to `https://github.com/rust-lang/rust/issues/58619`. However, clicking it raised the phishing warning of my email application, and indeed Thunderbird is correct -- the link pretends to go one waxy, but it actually links to https://mandrillapp.com/track/click/XXX/github.com?p=XXXX. There is a ling ID there which probably makes this particular link an

[2019-02-23 10:01] matklad commented on #558
Yeah, having this "user list" button available on any screen resolution would be useful for me as well:

![image](https://user-images.githubusercontent.com/1711539/53284850-c30d4a80-376a-11e9-9e99-30950b5d81fd.png)

User list is rather distracting (users come and go, so there's constant flashing of green/yellow circles) and has a pretty low value for popular Zulip instances, like the Rust one.

I'

[2019-02-23 14:30] overide commented on #11636
@timabbott Tim, I figured the root cause of this issue. Turns out that click event in `clear_search` was bubbling up which in turn triggers the click event on `toggle_filter_displayed`. Since `notdisplayed` class was already applied earlier the condition `if $('.stream_search_section.notdisplayed').length === 0)` in `toggle_filter_displayed` becomes false and it ends up initiating search again.

I

[2019-02-23 15:34] abhishek125 commented on #11642
@rishig could you please assign this issue to me.

[2019-02-23 17:16] Be-ing commented on #11647
I'm always wary when the word "advanced" comes up in design discussions. It's not specific and implies that whatever isn't "advanced" is "basic". I do think adding a sentence noting that users downloading the APK will need to manually check back for updates would be a good idea.

[2019-02-23 18:46] ss62171 commented on #11087
@timabbott if we change extension of every link in docs from ".html" to ".md", it works. Is there any problem with that?

[2019-02-23 18:49] rishig opened #11662 "Message feed: Collapse message hotkey has a few bugs."
Some things that I was able to repro:
* Hitting `-` twice doesn't clear the `[More...]` link
* Once you get into that state, clicking the `[More..]` link changes to "Condense this message" rather than going away.

I tested this on messages 3-4 lines long.

[2019-02-23 19:00] timabbott commented on #11087
Yes, that will break all the links in ReadTheDocs :)

[2019-02-23 19:02] rishig commented on #11642
I've assigned Akshay, since he posted first. Abhishek, feel free to find another issue!

[2019-02-23 19:04] rishig commented on #10794
I know there is an open PR for this, but possibly we want to hold until mobile view launches? Since my guess is this feature was trying to solve some of the problems that mobile view solves.

[2019-02-23 19:48] sahil839 opened #11663 "Topic edit: edit icon doesn't remove edit icon and checkbox label doesn't fade"
Changing settings of allowing message editing to never should lead to-

-  disappearing of edit topic icon in recipient bar

- fading of checkbox of allowing to edit topic of any message

But it does so only after reloading the page after saving the settings.

This can be reproduced by-

- Login as admin in dev environment.

- Change the setting of allowing message editing to never and save the ch

[2019-02-23 19:49] #11590 closed

[2019-02-23 21:49] gelav commented on #11640
@timabbott

maybe this parameter affects font:

![screen ukr zulip](https://user-images.githubusercontent.com/20467269/53292056-9d615f00-37c5-11e9-9185-9dfd122677b5.png)

[2019-02-24 06:41] rishig opened #11665 "left sidebar: Deleting all messages in topic sometimes does not work."
I'm not sure how to repro this exactly, but it seems to happen > 50% of the time if you:
* Narrow to a stream
* Use the chevron menu on a topic to delete all messages from the topic.

![peek 2019-02-23 22-39](https://user-images.githubusercontent.com/890911/53296011-f4623680-37bb-11e9-9251-289e559456b8.gif)

Note that it's a live update bug; reloading gives the correct state.
However, switching na

[2019-02-24 08:45] thedeveloperr commented on #11401
@zulipbot abandon as @ruchit2801 already have a made a good PR.

[2019-02-24 09:05] thedeveloperr commented on #11665
Not able to reproduce on local dev. server. It works as expected the messages get deleted. If you are able to reproduce it again please post the screenshot of network requests and console. I am not able to do this because issue is not reproducing.

[2019-02-24 10:32] CoderLucifer commented on #10539
@zulipbot claim

[2019-02-24 10:51] ss62171 commented on #11087
@timabbott is this fine?

![screenshot from 2019-02-24 16-20-53](https://user-images.githubusercontent.com/32260593/53298190-46549c00-3850-11e9-9b17-18ad3dd0f6b0.png)

[2019-02-24 11:01] ss62171 commented on #11663
I'm not able to reproduce this issue in my dev environment. It is working fine.

[2019-02-24 13:07] 2208Abhinav commented on #11656
@timabbott I will try to solve this issue.

[2019-02-24 13:07] 2208Abhinav commented on #11656
@zulipbot claim

[2019-02-24 15:40] nurduman0210 commented on #9157
@zulipbot claim

[2019-02-24 16:50] rishig opened #11666 "message view: Compose icons appear even if message is not editable."
To repro:
Go to "View Source" of a message you can't edit. The compose icons along the bottom shouldn't be there.

![image](https://user-images.githubusercontent.com/890911/53302232-38335b00-3811-11e9-9529-17cd5831890e.png)

[2019-02-24 17:38] rishig opened #11669 "stream settings: Fix error message for add user box."
![image](https://user-images.githubusercontent.com/890911/53302710-0670c300-3816-11e9-9fb4-21e027676e88.png)

If you're not totally sure how Zulip works, you might think that you can add people to streams directly (i.e. before they are a member). This is a confusing error message and interaction if so.

Ideally:
* [ ] This error message should not be user visible (it's fine for the API). I'm not s

[2019-02-24 19:10] timabbott commented on #9212
This was fixed in db371928570dc816fb9f516bec9ebf9266819f2f.

[2019-02-24 19:10] #9212 closed

[2019-02-24 19:19] timabbott commented on #11657
This is definitely not intentional behavior on our part; we have no code of our own to do such tracking.  It appears this is a default feature of Mandrill (the outgoing email provider currently used by Zulip Cloud).  I just disabled this feature, since we had no use for that data.

Thanks for the report @RalfJung!

[2019-02-24 19:19] #11657 closed

[2019-02-24 19:21] timabbott commented on #11666
Hmm, yeah, this was probably just not noticed before when those icons were in the bottom-right corner.

[2019-02-24 19:30] timabbott commented on #11666
It turns out there were two bugs here, but both were pretty simple to resolve.

[2019-02-24 19:31] #11666 closed

[2019-02-24 19:31] timabbott commented on #11656
@2208Abhinav I think I'll need to fix this issue -- I did some pretty careful investigation and it will require some fairly deep changes in `message_list_view.js`.

[2019-02-24 19:33] timabbott commented on #11665
@rishig I cannot reproduce either; what you show in your GIF would happen if your browser window didn't have a working events session; can you figure out a more precise reproducer for this issue?

[2019-02-24 21:31] rishig opened #11670 "onboarding: Move intro_compose hotspot to be activated on opening compose."
We currently have 5 hotspots, which is just too much. I think intro_compose is likely adding the least, so let's remove that one.

You can grep for `intro_compose` to get a sense for where it is used and needs to be removed.
This may also be helpful: https://zulip.readthedocs.io/en/latest/subsystems/hotspots.html

Edit: as per https://chat.zulip.org/#narrow/stream/101-design/topic/new.20topic, let

[2019-02-25 03:24] TheCelestial25 commented on #11670
@zulipbot claim

[2019-02-25 05:49] sahil839 commented on #11663
@ss62171 I assume that it is not really an issue and this happens in my dev server because I am getting another error while running the server.

[2019-02-25 05:57] santherics opened #11672 "zoom videochat allows only one meeting at the same time"
I create two Zoom meetings in Zulip. My colleagues login to the first one and stay there. I try to login to the second one and see "The host has another meeting in progress". The colleagues close the first meeting then I am able to login to the second one.

[2019-02-25 07:17] hackerkid commented on #11421
@zulipbot claim

[2019-02-25 07:47] rishig commented on #11672
Thanks @santherics!

I tihnk the next step here is to figure out
* If "schedule a meeting now" is a sufficient way to get around this
* how hard asking each user to set up an API key will be (e.g. is there an easy oauth flow, or something, if they click on video icon and don't have an API key configured?)
* whether an admin-enters-multiple-keys solution is possible. Does an admin have access to mu

[2019-02-25 11:35] PaulPfl commented on #10776
[code]

/var/log/rabbitmq/log/crash.log is empty and no other log files present.
the docker logs of the rabbitmq container yield quite a lot of two types of messages:
[code]

If I run `supervisorctl restart zulip-senders:*` I expect 4 connections closed and 4 connections opened again, but that is not always the case and in a timespan without restarts I get no connections closed only new ones opene

[2019-02-25 12:03] abhishek125 commented on #11669
@zulipbot claim

[2019-02-25 15:01] 2208Abhinav commented on #11656
Sure @timabbott

[2019-02-25 15:23] bascht commented on #11619
Hi @timabbott! Took me a while to rerun it, but I think I found the faulty message in the Slack export dump.

A `print(fileinfo)` brings up
[code]

[code]

So it looks like the `url_private` attribute is really missing. I have nulled out a few things with `…` but i don't think they are relevant.

[2019-02-25 15:34] sahil839 commented on #11665
I am able to reproduce but I think this is because send_event calls are not completed in my local dev server as it gives error `Unhashable type: dict`. This same error leads to the problem of reloading in many cases.

[2019-02-25 17:49] #11636 closed

[2019-02-25 18:05] #11656 closed

[2019-02-25 19:25] timabbott commented on #11656
(@rishig for background, this has been present since the beginning of time -- so the reason we've been seeing this recently is likely changes in message editing habits on our parts!)

[2019-02-25 19:26] timabbott commented on #11665
Oh, interesting.

[2019-02-25 19:58] overide commented on #11669
@zulipbot claim

[2019-02-25 22:27] thedeveloperr commented on #11584
@timabbott should the deactivated user group mention be highlighted for which current user is member?

[2019-02-25 22:31] timabbott commented on #11619
Ahh, as I suspected, this appears to be something unusual.  They of course have no documentation on this, but it appears that this file that was deleted from Slack and they left a "tombstone" event to record that a file had been sent and deleted.

We probably just want to skip files with a `mode` of `tombstone.  Should be an easy fix for someone who has time to test this.

@rheaparekh @rht FYI.

[2019-02-25 22:33] timabbott commented on #11584
Hmm, good question.  I think it's not super important to do that (or anything else that requires sending data on the user group to the frontend).

[2019-02-25 22:35] rishig opened #11678 "compose: New topic buttons don't have keyboard shortcut hints."
Both `New topic` and `New stream message` are missing the `(c)` in their title atttribute. Hover over one of them, and compare to hovering over `Reply`.

There's also a `New conversation` button in the code, though I'm not sure when we show it. That should have the keyboard shortcut of `(x)`.

[2019-02-25 22:40] rishig opened #11679 "compose: We don't correctly switch to "New conversation" button."
In most narrows, the three buttons at the bottom are
`New topic`, `New private message`, `Reply`.
![image](https://user-images.githubusercontent.com/890911/53373645-ec64dc80-390a-11e9-837e-9971078c64ac.png)

In any PM narrow (either "Private messages" or a particular PM narrow), the buttons should be
`New stream message`, `New conversation`, `Reply`. Instead, it is
![image](https://user-images.git

[2019-02-25 22:52] timabbott commented on #11672
Tagging this as a priority since it's going to be pretty annoying for anyone trying to use this at significant scale.

[2019-02-25 22:56] timabbott commented on #11560
@mkurnikov just wanted to check in on where you are on this and whether there's anything we can do to help!  And to again invite you to start a thread on #backend on chat.zulip.org to talk through things as you get started.

[2019-02-25 23:11] mkurnikov commented on #11560
I tried to start, found the task too complex, and decided to postpone till better times:)

Just

gives me ~3000 lines of errors because of all those `# type: ` comments like
[code]

[2019-02-25 23:31] timabbott commented on #11560
Makes sense.  Those lines of course are exactly what we want for having mypy consider the `message.content` field to be a string in code that interacts with that field as you would want, but obviously require some fancy logic on the Django side to handle.

[2019-02-25 23:33] timabbott commented on #11679
I think the story is pretty simple: that code is in `show_mobile_message_buttons_popover`, which is what happens when you click the special mobile view button, not anything related to the compose buttons at the bottom of the screen.

[2019-02-25 23:59] timabbott commented on #11640
Well, that's just the user-agent stylesheet (i.e. the browser's built-in one) setting what `strong`/`bold` does.  We are not using `<strong>` tags in the places in question, so I don't think that's what's happening here.  I want to see what that looks like when the bug is visible, which it doesn't seem to be in that screenshot.

I also cannot reproduce in Firefox on Linux; Ukrainian doesn't do tha

[2019-02-26 00:24] rishig opened #11682 "compose: Make it harder to send to a non-existent stream."
As a new user, it's easy to click on "New stream message" and think that
* You're replying to your current view
* Zulip is asking you to enter a custom stream and topic, since you heard zulip does things differently but you aren't sure exactly in what way it does so.

We should help the user as much as we can in this scenario.
* If you enter a prefix that does not complete to a subscribed stream,

[2019-02-26 00:30] andersk commented on #11640
I think the problem is that this [buggy Ukranian translation](https://github.com/zulip/zulip/blob/2.0.0-rc1/static/locale/uk/LC_MESSAGES/django.po#L620) engulfs the entire page in an unclosed `<strong>` tag:

[code]

[2019-02-26 01:12] timabbott commented on #11640
It looks like some useful translation checks, including this one, were off by default.  We've fixed that string and enabled the checks that would have caught this for our translators by default, and I contacted Transifex Support to ask if there's a way we can query transifex for strings with errors.

In the meantime, this will be fixed the next time we sync translation data from Transifex.  Thanks

[2019-02-26 01:12] #11640 closed

[2019-02-26 01:18] thedeveloperr commented on #11682
@rishig

Won't this give impression to new user that they can choose only the streams that are opened in typeahead menu at beginning ?

[2019-02-26 01:22] rishig commented on #11682
my guess is many users will be familiar with the idea of typeaheads. Also, if we alphabetize the streams, I think many users will recognize that we're just presenting them with a prefix of the streams.

[2019-02-26 02:06] timabbott commented on #11568
I think this is ready for initial markdown processor work to be done.  @aero31aero we should probably do a broader chat on markdown processor priorities; this is one candidate but we have several other things to think about as well.  I'm probably busy with release engineering tomorrow, but maybe later in the week would be good.

[2019-02-26 05:44] overide commented on #11651
@zulipbot claim

[2019-02-26 07:48] rishig opened #11685 "right sidebar: Don't show invite more users if you can't invite."
Currently we show "Invite more users" in the right sidebar, to everyone (Edit: not quite, see below, it's an LDAP only issue). This can be disconcerting to folks that expect to be managing users through LDAP.

* If an invitation is required to join, and only admins can invite, we should not show "Invite more users" to non-admins.
* If the only auth method is LDAP, we should not show "Invite more u

[2019-02-26 08:13] thedeveloperr commented on #11685
@zulipbot claim

[2019-02-26 08:13] Pomazan-Bogdan commented on #9840
Will this issue be resolved in 2.0?

[2019-02-26 08:58] HarshitOnGitHub opened #11686 "reactions: Double reactions shown from same person in reaction hover."
I have seen enough reports that I am sure that there is a bug that causes a person's name to appear twice. The sad thing is that we don't have a reproducer for it. Related reports on CZO:
https://chat.zulip.org/#narrow/stream/9-issues/topic/double.20reactions/near/703620
https://chat.zulip.org/#narrow/stream/48-mobile/topic/meeting/near/486838
https://chat.zulip.org/#narrow/stream/integrations/sub

[2019-02-26 09:11] HarshitOnGitHub commented on #7093
No longer able to reproduce this on latest firefox.

[2019-02-26 09:31] abhishek125 commented on #11669
@overide could you please allow me to work on this issue.i have already started working on it.

[2019-02-26 09:54] overide commented on #11669
@abhishek125 Sure, please go ahead.

[2019-02-26 12:05] JARIS101 commented on #11686
The Link is showing Error 404!

[2019-02-26 15:13] savish28 commented on #11496
@zulipbot I am working on it.

[2019-02-26 17:25] troffasky commented on #10569
I saw this issue on a server where we upgraded it from 14.04 to 16.04 to 18.04, then a colleague upgraded Zulip. The fix was to run:
CREATE EXTENSION tsearch_extras SCHEMA zulip;
from scripts/setup/postgres-create-db and search is immediately working.

[2019-02-26 18:29] timabbott commented on #7093
OK; my guess is this was a browser bug fixed upstream, so we can close it as fixed elsewhere.  Thanks for checking!

[2019-02-26 18:29] #7093 closed

[2019-02-26 18:29] timabbott commented on #9840
@Pomazan-Bogdan likely not, because nobody replied to my proposed design.  But it could be fixed soon after.

[2019-02-26 18:38] timabbott commented on #11685
@rishig the issue summary is not correct.  Here's the current code:
[code]

So this is already doing that first bullet correctly: we only show it to admins for orgs where that's the configuration, and we never show it to guests.

In any case, we should (1) extract a function for this part of `zerver/views/home.py` that computes `show_invites`; we can put that function in `zerver/lib/users.py`; we'

[2019-02-26 18:55] rishig commented on #11672
One thing I recently learned is that what API keys you have access to may depend on the tier of Zoom that you purchased. There is a tier that allows a single API key to work, but it is very expensive, and I think it's safe to assume most Zulip users are not on that tier.

[2019-02-26 19:01] timabbott commented on #10569
@troffasky just to make sure I understand, it sounds like you replaced the postgres version as part of that upgrade, and the extensions were not preserved in that migration so you had to recreate the one we use manually?

[2019-02-26 19:02] timabbott commented on #11651
(Read our "markdown" subsystem docs, and `AutoNumberOListPreprocessor` in particular, for working on this).

[2019-02-26 19:07] timabbott commented on #11686
If we do see this in the wild, I think what we want is to collect the data structures from `reactions.get_message_reactions(message_store.get(message_id))` on the target messages from both a window showing the error and any other window.  That would help isolate where the problem is.

[2019-02-26 19:07] timabbott commented on #11686
There's a good chance that the bug is in this code:

[code]

[2019-02-26 19:09] thedeveloperr commented on #11678
@zulipbot claim

[2019-02-26 19:19] sahil839 opened #11690 "User Popover doesn't closes on clicking again on chevron."
**Current behavior-**
Once we open the user popover, clicking again on chevron doesn't closes it.

![ezgif com-crop](https://user-images.githubusercontent.com/35494118/53440658-17dee880-3a2b-11e9-90c0-e947cdde57dc.gif)

**Expected behavior-**
Popover should close after opening the popover by clicking again on chevron.

[2019-02-26 19:37] timabbott opened #11692 "ldap: Remove invalid_subdomain restrictions on LDAP backend"
We got a report from a user that they were trying to use our LDAP backend with organizations on several subdomains, with the idea being that users could auto-create accounts in any of the subdomain organizations.  This didn't work at all -- once you had an account in one, you couldn't make another with the LDAP auto creation logic.

We've confirmed try editing `get_or_build_user` in `zproject/back

[2019-02-26 19:43] timabbott commented on #11690
Seems worth changing.

[2019-02-26 19:43] timabbott commented on #11672
I see, that may explain why we've had some users not run into this problem.

[2019-02-26 20:10] Pomazan-Bogdan commented on #9840
Is it possible to generate only a hash@domain for Cyrillic groups?

[2019-02-26 20:15] Pomazan-Bogdan commented on #9840
https://pypi.org/project/transliterate/ for stream_name

[2019-02-26 20:51] troffasky commented on #10569
Yes, originally installed Zulip 1.7.1 w/Postgres 9.3 on Ubuntu 14.04, did two big do-release-upgrade's to get us to 18.04 with Postgres 10.5, then colleague upgraded us to Zulip 1.9.2 with upgrade-zulip zulip-server-latest.tar.gz.

[2019-02-26 21:32] thedeveloperr commented on #11685
What exact message should be there ? @timabbott

[2019-02-26 21:59] rishig commented on #11685
oh I see, I think I misunderstood the correct settings for LDAP when trying to debug this with the user.

I think removing the "invite more users" in cases where
* LDAP only
* Invitations are not required to join

makes sense.

[2019-02-26 22:02] timabbott commented on #11685
Yeah, agreed, let's start with just doing @rishig's proposal as well as the refactoring I suggested @thedeveloperr

[2019-02-26 22:40] rishig commented on #3471
Closing, since much of this is done, and followups are being tracked elsewhere.

[2019-02-26 22:40] #3471 closed

[2019-02-26 22:41] #11630 closed

[2019-02-26 22:44] ss62171 commented on #11087
@timabbott  is this fine?

![screenshot from 2019-02-24 16-20-53](https://user-images.githubusercontent.com/32260593/53298190-46549c00-3850-11e9-9b17-18ad3dd0f6b0.png)

[2019-02-26 22:45] rishig opened #11694 "settings: Scrollbar should always be visible."
It's hard to tell there is content below the fold in several of the settings pages. The most straightforawrd way to solve this is to add an always-visible scrollbar.

One page to QA when doing this is the User Groups page, since there is something funny going on there with the current scrollbar (e.g. it doesn't activate until you start scrolling with your mouse, and when you hover over it it seems

[2019-02-26 22:47] timabbott commented on #11087
That looks reasonable.  Does it look right after `tools/build-docs` as well?

Though one thing that's kind annoying about that version is that we'd need to edit those links whenever we rename a page; we might want to just link to the ReadTheDocs homepage rather than the specific article?

[2019-02-26 23:32] timabbott commented on #11694
Just to be clear here, we're talking about the scrollbar at the far right of the overlay; we want to keep the current scrollbar behavior for the navigation.  I think we can do this with the exiting library using this example:

https://github.com/utatti/perfect-scrollbar/blob/master/examples/always-visible.html

[2019-02-27 01:49] timabbott commented on #11640
To follow up, I just merged an update of translation data including this fix.

[2019-02-27 01:49] aero31aero commented on #10036
@zulipbot claim

[2019-02-27 02:02] gelav commented on #11640
@timabbott I confirm, everything is correct now. Thank you very much!

[2019-02-27 05:26] overide commented on #11651
Tim, thanks, I'll look :)

[2019-02-27 07:30] Varunvaruns9 commented on #11690
@zulipbot claim

[2019-02-27 12:46] cb0n3y commented on #9422
Sorry if i'm wrong here but i keep having this issue on version 1.9.2.
Default configuration via email worked,
LDAP configured and fine working but authentication via email does not work anymore.

Can some one of you help me please, i would appreciate any suggestion. Thank you.

[2019-02-27 14:03] ss62171 commented on #11087
@timabbott  Yes it's working fine after doing tools/build-docs

So should I add these lines on every file inside **zulip/doc** directory?

[2019-02-27 16:14] opensource21 opened #11699 "Link to conversation should be robust against renaming"
A link to a conversation becomes broken if the topic is changed. There are two things that should be changed:

1. change subject in url to topic for a consistent naming
2. Change the URL-Resolving behaviour, so that it looks only to the id and adjust the stream and the topic.
See [zulip-chat](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Link.20.20to.20conversation/near/708701)

[2019-02-27 17:11] rishig commented on #11601
Adding priority tag, since I've run into this several times in the last week, and it's pretty confusing. It's also a feature we highlight in our onboarding docs.

[2019-02-27 17:46] timabbott commented on #11087
Let me bring it up in the chat.zulip.org community.

[2019-02-27 17:51] timabbott opened #11700 "Add a zulip logo at the top of our ReadTheDocs"
I was reading this section of our ReadTheDocs config `docs/conf.py` and noticed a few items for branding that we're not using:
[code]

We should try setting these. (test using `tools/build-docs`)

[2019-02-27 17:57] timabbott commented on #11087
@ss62171 and can you submit a PR with those changes in a single file, just so folks can look at it and wordsmith the wording?

[2019-02-27 17:59] timabbott commented on #11087
See https://chat.zulip.org/#narrow/stream/2-general/topic/folks.20reading.20docs.20on.20GitHub/near/708835

[2019-02-27 18:07] timabbott commented on #11678
"New conversation" I think is for mobile web only, and I'm not sure we want hotkey symbols there since you can't really use hotkeys on mobile.  `mobile_message_buttons_popover_content.handlebars`

[2019-02-27 18:08] timabbott commented on #11678
I'm going to merge the part we have, since that's clearly an improvement.

[2019-02-27 18:08] #11678 closed

[2019-02-27 18:25] timabbott opened #11701 "Add responsive styling for individual /integrations/doc/ pages"
While the root /integrations page has reasonable responsive mobile styling, the /integrations/doc/github type pages do not at all.  We should fix this.

Some screenshots are in https://chat.zulip.org/#narrow/stream/137-feedback/topic/Zulip.20Integration.20Docs.20on.20Mobile/near/708632

[2019-02-27 18:31] timabbott commented on #11699
This is unfortunately a somewhat complex issue.  The natural thing to do here is look up the message ID in the URL, and if it matches the stream ID but not the topic, just send you to the other topic.  But there's a few problems with doing that generically:
* The generic `/near/` syntax supports passing a message ID that doesn't match the topic (or even stream at all), and we don't want to break/c

[2019-02-27 18:34] rishig commented on #11678
Got it, that makes sense.

[2019-02-27 18:39] rishig commented on #10524
fyi, it seems like the current state is that you can't make an existing stream announcement-only at all. (It's not in the modal, and there's also no checkbox.)

[2019-02-27 18:46] rishig opened #11702 "compose: Quote and reply adds an extra space."
If you quote and reply a message, it adds an extra space at the end of the second triple-backtick.
I tested this using the `>` shortcut.

[2019-02-27 19:13] timabbott commented on #7538
Closing this in favor of the near duplicate #11568.

[2019-02-27 19:13] #7538 closed

[2019-02-27 19:37] aero31aero commented on #11568
@zulipbot claim

[2019-02-27 19:38] aero31aero commented on #4836
@zulipbot claim

[2019-02-27 20:07] samueljsb commented on #11700
@zulipbot claim

[2019-02-27 20:55] #11700 closed

[2019-02-27 21:25] #11702 closed

[2019-02-27 21:25] timabbott commented on #10524
Ahh, I think 746870df65af56703759daa726b8b11208103ec2 ended up being `if false` because we don't pass the `is_admin` field into the partial.  I'll deal.

[2019-02-27 21:30] timabbott commented on #10524
Fixed in 60f33a374df46792877939617c09b44c6711893a

[2019-02-27 21:39] timabbott commented on #11601
I think the bug is slightly different for what you describe: This happens only in topic narrows (and the problem is we should be removing the message and aren't).

[2019-02-27 21:58] timabbott commented on #11601
Also a lot easier than what I thought you were bringing up.

[2019-02-27 22:04] #11601 closed

[2019-02-27 22:25] RishabhGoyal992 commented on #11694
Hello,
I wish to resolve this issue.
@zulipbot claim

[2019-02-28 00:23] timabbott opened #11708 "Improve robustness of organization settings to refactoring"
In ab95704d2d9ec6f6f86a7023fbe060024e3415a6 we fixed a bug that nearly made it into the 2.0 release that made several options in "Organization settings" not work at all.  The bug was caused by a refactor that on its face looked totally reasonable.  So I think we need to change the organization settings system to be a more robust to HTML template refactoring, either in the form of making tests fail

[2019-02-28 01:53] shubhamdhama commented on #11708
Makes sense! @pragatiagrawal31 are you up to take this issue!

[2019-02-28 02:16] pragatiagrawal31 commented on #11708
Yeah, I'll like to work on this issue, @zulipbot claim.

[2019-02-28 03:03] rishig opened #11711 "compose: Silent mentions don't work with user groups."
The compose typeahead doesn't recognize it, and the markdown parser doesn't either.

[2019-02-28 06:06] mwgamble opened #11714 "Search by date"
It would be immensely useful if there was an ability to navigate directly to the messages on a particular day within a stream.

[2019-02-28 08:29] cb0n3y opened #11715 "I still can't invite people via EMail when LDAP is activated in version 1.9.2"
Sorry if i'm wrong here but i keep having this issue on version 1.9.2.
Default configuration via email worked,
LDAP configured and fine working but authentication via email does not work anymore.

Can some one of you help me please, i would appreciate any suggestion. Thank you.

[2019-02-28 13:26] 2208Abhinav commented on #11608
@zulipbot I am working on it.

[2019-02-28 16:45] theredcap commented on #11647
@gnprice  Hi, I would like to work on this, could you please provide me the link to this file on the code repository. I am quite lost.

[2019-02-28 17:19] paurakhsharma commented on #11679
@zulipbot claim

[2019-02-28 20:34] rishig opened #11721 "user groups: Add edit pencils."
Currently, our user groups look like
![image](https://user-images.githubusercontent.com/890911/53596548-d4809900-3b54-11e9-8e19-1889a569619b.png)

You can click on the name or description to edit, but it's not at all obvious since we don't use this kind of pattern anywhere else in the app. We should just add edit pencils.

(In general, the styling on this page feels off from our normal style, thou

[2019-02-28 22:45] #11690 closed

[2019-02-28 23:30] timabbott opened #11726 "settings: Avoid doing extra work when saving organization settings"
Our `settings_org.js` framework for automatically managing settings with a save/discard widget is pretty nice.  However, one thing that it doesn't do correctly is that clicking the "save" button submits a payload that attempts to change everything in the section, not just those values that were actually changed by the user.  At best, this is wasteful, but it could also lead to buggy interactions w

[2019-03-01 05:48] timabbott commented on #11647
templates/zerver/apps.html is the template; `static/js/portico/landing-page.js` is the JS code.

[2019-03-01 09:54] hackerkid commented on #10732
@zulipbot claim

[2019-03-01 14:59] showell commented on #11699
This is definitely a tough issue.  I agree with 80% of Tim's prior comment, except that we don't need to look at `message_edit_history`.  The complexity is that we do need to get the message-id on the backend, generally, and do something like fetch-and-narrow.

[2019-03-01 15:04] showell commented on #11699
The other possibility here is to have only one round trip between the client and server:

* client sends .../topic/lunch/near/42
* backend fetches message 42
* if message 42 has topic "lunch", continue through current codepath, and we're done
* if message 42 has topic "dinner", change filter to dinner, get data from DB
* send back results for .../topic/dinner/near/42 to client
* add some field to

[2019-03-01 16:28] SushantSingh115 opened #11731 "'/Poll' widget is missing in zulip production installation -Ubuntu 18"

[2019-03-01 16:32] SushantSingh115 commented on #11731
Hi , I am trying to do production install of zulip 1.9.1 on Ubuntu 18 bionic. Installation is successful but /poll widget is not getting rendered. Please help. zulip/prod-static has no js files
And even zulip/deployments/current/prod-static has no js files.

[2019-03-01 17:16] timabbott commented on #11699
I feel like this was add a significantly different flow; I had been imagining just having the `hashchange` logic check if it has the message ID cached locally; if it does, do the processing there, otherwise fetch that message ID from the server and have a `success` handler to do the narrow once we have the message returned.

[2019-03-01 17:41] kashyap2108 commented on #11453
@zulipbot claim

[2019-03-01 17:53] showell opened #11734 "hipchat import: Support `room_roles` flavor."
More details here:

https://chat.zulip.org/#narrow/stream/31-production-help/topic/HipChat.20import.20error/near/710242

This issue requires familiarity with our HipChat import and may not necessarily be beginner-friendly.

[2019-03-01 17:56] timabbott commented on #11731
You need Zulip 2.0, being released today.

[2019-03-01 17:56] #11731 closed

[2019-03-01 17:57] #11589 closed

[2019-03-01 17:57] timabbott commented on #11715
Upgrade to Zulip 2.0, being released shortly.

[2019-03-01 18:15] cb0n3y commented on #11715
Than you very much, i will try it on Monday and i let you know. Have a nice weekend

[2019-03-01 18:25] kashyap2108 commented on #11679
@zulipbot  claim

[2019-03-01 19:18] #11451 closed

[2019-03-01 19:51] timabbott opened #11737 "organization settings: "Saved" state does not persist properly"
Our code in `exports.save_organization_settings` seems to configure the desired behavior, which is that the "[check] Saved" state after saving an organization settings change sticks around for ~500ms before starting to fade away (in the `succeeded` code path).  However, if you actually try using it, the "Saved" state disappears almost immediately.  The bug is probably somewhere between there and `

[2019-03-01 20:00] pragatiagrawal31 commented on #11737
@zulipbot claim.

[2019-03-01 20:09] sahil839 commented on #11524
@zulipbot claim

[2019-03-01 20:35] hmr-it-jr opened #11738 "Guests should not be able to see other guests and users if they are not share any streams"
At the moment every guest as able to see every user and all of the other guests. I think for privacy reasons it'd be better if guest users could only see users of streams which they are allocated to.
Besides the privacy reason it's easier for guests if they see only users which they know. Imagine having a company with hundreds of employees and you invite your customers as guests it will be confusi

[2019-03-01 21:28] BenMusch commented on #10828
@zulipbot claim

[2019-03-01 21:55] timabbott commented on #11738
The current guest user feature is designed for semi-trusted users like contractors, not for customer support.

Changing that is https://github.com/zulip/zulip/issues/10970, so I'm closing this as a duplicate.  Thanks @hmr-it-jr!

[2019-03-01 21:55] #11738 closed

[2019-03-01 22:19] BenMusch commented on #10828
Hey @timabbott -- I actually can't reproduce this issue despite it seeming like the `.no-select` tag isn't added on the trash can. Should I go ahead and open a PR to add it anyway? Seems like there's no _advantage_ to having the trash icon copyable

[2019-03-01 22:52] timabbott commented on #10828
@dashdsrdash can you say what browser you were using?

Idaelly, we'd reproduce it there to confirm the fix, but in any case, adding `no-select` is a useful PR.

[2019-03-01 23:04] dashdsrdash commented on #10828
Tim Abbott wrote:

I always use:

Firefox, updated via Firefox's internal update system, on Debian
9 - stable.

Chrome, updated via Chrome's internal update system, same OS.

I can check on which one I was using on Monday.

-dsr-

[2019-03-01 23:30] #11651 closed

[2019-03-01 23:50] BenMusch commented on #10828
Unable to reproduce on chrome and firefox locally, maybe it's best to hold off on a fix until you can see if it's still occurring @dashdsrdash ?

[2019-03-02 01:36] timabbott commented on #10249
Closing as fixed during the HSL migration.

[2019-03-02 01:36] #10249 closed

[2019-03-02 03:18] gnprice commented on #2517
This issue has been silent for a while -- so just bumping with the observation that this is one feature I regularly wish I had. :smile:

This also comes up in feedback I hear from other people active in busy Zulip orgs.

(Also I think this issue predates GitHub's emoji-reaction feature! So it has missed out on accumulating :+1: . Just added mine.)

[2019-03-02 03:27] gnprice commented on #2517
Adding some context on use case: what I really want this for is the situation where I participate in one conversation on a stream with lots of other conversations I don't have the bandwidth to keep up on in general. Any further discussion on that conversation, I want to learn about in the usual asynchronous way just like the streams I subscribe to.

Some tracker-gardening with cross-references to

[2019-03-02 03:36] gnprice commented on #10886
Here's another experience that falls under this issue's title:

# Search results

When I do a search, I'm typically looking for a specific old conversation I have in mind. But if I have unread messages and some of them happen to match the search query, they show up in the results... and then scrolling through the results to find the conversation I want goes and marks those messages read, which may

[2019-03-02 03:57] whoodes commented on #11682
@zulipbot claim

[2019-03-02 04:00] sahil839 commented on #11524
What would be suitable place to add the settings option?
Can we add a checkbox in the display settings option for user?

[2019-03-02 05:02] timabbott opened #11742 "/for/open-source heading area has messed up spacing on mobile"
The "Zulip" and menu end up somewhat overlapping the title:

![image](https://user-images.githubusercontent.com/2746074/53677474-27497600-3c65-11e9-8e51-e79759e5c30d.png)

[2019-03-02 05:15] ruchit2801 commented on #5142
@zulipbot abandon

[2019-03-02 06:42] rishig commented on #11524
Good question. It can go
gear menu -> settings -> display settings, under "Show counts for unread messages".

We can call it: "Sort recently active streams to top of list"
(and we'll eventually link to a help doc that explains it)

[2019-03-02 06:43] sahil839 commented on #11524
I was also thinking of the same.

[2019-03-02 06:45] rishig commented on #10886
Agreed that we should just not mark messages as read in search.

[2019-03-02 08:03] rishig opened #11743 "stream settings: Add unsubscribe button for guests."
Currently (I believe) guests can unsubscribe from a stream on the backend, but we don't show the button for it in stream settings.

[2019-03-02 11:52] ruchit2801 commented on #11743
@zulipbot claim

[2019-03-02 13:04] cathmer commented on #4109
@zulipbot claim

[2019-03-02 13:12] ruchit2801 commented on #11743
@zulipbot abandon

[2019-03-02 13:15] ruchit2801 commented on #11726
@zulipbot claim

[2019-03-02 13:31] theSuess commented on #4817
Has there been any progress here? Last references I found to this request are now almost a year old and I can't find any new information on this topic

[2019-03-02 14:13] HarshitOnGitHub commented on #11520
@zulipbot claim

[2019-03-02 14:15] theredcap commented on #11647
I have done it.
![done](https://user-images.githubusercontent.com/42991063/53683104-2e37bd80-3d25-11e9-9b80-773da32db449.jpg)
But since I didn't knew where the css file was located I have added the inline style for font size.
(I am really new to this project so please guide me.)

[2019-03-02 14:42] theredcap commented on #11647
@zulipbot claim

[2019-03-02 16:27] rishig commented on #5614
Just noting the state of this, since it took me a bit of reading this thread to figure it out: https://github.com/zulip/zulip/pull/6513 is a mostly complete PR for this, but likely needs a bit of styling.

[2019-03-02 16:31] rishig commented on #6760
Closing this, since docs that need to be written are being tracked somewhere else, and we're currently doing a deeper overhaul of our notifications system.
(But, feel free to reopen).

[2019-03-02 16:31] #6760 closed

[2019-03-02 16:44] rishig commented on #7224
Closing, since I think #10592 is a better (and sufficient) solution.

[2019-03-02 16:44] #7224 closed

[2019-03-02 16:48] rishig commented on #8538
Closing, since this is on a list of help articles that need to be written, and I think we have a good strategy for

[2019-03-02 16:48] #8538 closed

[2019-03-02 16:57] davidtwco opened #11752 "Custom favicons"
It'd be nice for organizations to be able to set their own favicons, similar to custom logos that are already available.

[2019-03-02 17:03] 2208Abhinav opened #11753 "left sidebar: Make it easy to filter topics for a particular stream."
Currently Zulip has the feature to filter streams by letting users to search them. It would be nice if we provide the same facility inside a stream to let users filter topics by searching them.
![screenshot 2019-03-02 at 10 32 33 pm](https://user-images.githubusercontent.com/30211121/53685017-1c611500-3d3b-11e9-884d-7d3b956f62ce.png)

[2019-03-02 17:04] timabbott opened #11754 "Try to preserve selected message when renarrowing via editing search filters"
See https://chat.zulip.org/#narrow/stream/138-user-community/topic/change.20filters.20without.20unfocusing.20the.20current.20message/near/711356 for some context.

Currently, when you are looking at e.g. "mentions" and modify the search arguments at the top of the page, just take you to either the latest messages or first unread (depending what the standard algorithm would do).  It would probably

[2019-03-02 17:11] swallitsch opened #11755 "user docs: Export and Import: Calls 'manage' instead of 'manage.py'"
[Export and import - Export your Zulip Data](https://zulip.readthedocs.io/en/latest/production/export-and-import.html#export-your-zulip-data) has the following code instructions:

[code]

The 2nd line should be `manage.py`

[2019-03-02 17:56] rishig commented on #11753
fwiw, I think the reason this user request comes about is a misunderstanding of topics, not that we should make it easier to search topics.

[2019-03-02 18:47] swallitsch opened #11757 "Realm Deactivated Page does not refresh"
As part of doing a backup before upgrading to 2.0, I followed the 1.9 backup instructions which recommend deactivating the realm.

Every logged in user now has a giant "Realm Deactivated" screen, telling them to email me, even though the realm has been back up for an hour.

This is extremely unideal, as some of those users will just assume the realm is dead forever. For every other non-technical u

[2019-03-02 18:58] swallitsch opened #11758 "user_uploads not serving after 2.0 upgrade"
Upgraded to 2.0 from 1.9.1 this morning, on Ubuntu Trusty. Everything working as expected before upload.

Copying my troubleshooting from the [zulip topic](https://chat.zulip.org/#narrow/stream/31-production-help/topic/user_uploads).

* Upgraded via git, to the 2.0.0 tag
* Impacts both new uploads and old uploads.
* New uploads don't trigger any errors, and show up where they're expected to on the

[2019-03-02 19:24] vinitS101 commented on #11607
Making a final pull request in just a few hours.

[2019-03-02 20:05] overide commented on #11711
Hi @rishig, i was working on one markdown recently and would like to work on this one. @zulipbot claim

[2019-03-02 20:10] alexandraciobica commented on #11742
Hi, I would like to work on it, if that is fine.

[2019-03-02 20:12] timabbott commented on #11742
Go for it!

[2019-03-02 20:13] timabbott commented on #11711
This was to some extent intentional (we put user groups with wildcard mentions on this front).  But I guess there's a use case for silent mentions of user groups in a way there isn't with wildcard mentions, so I suppose we can add it.

[2019-03-02 20:18] #11758 closed

[2019-03-02 20:57] aero31aero commented on #11711
I would be in favor of adding these if only to prevent notifications on
quoting something, but not with full typeahead support. It is much more
important to know which "Generic Name" we're talkng about, but if you have
two "Mobile Teams" or similar, then I think it is more of an issue with
naming.

On Sun, Mar 3, 2019, 1:44 AM Tim Abbott <notifications@github.com> wrote:

[2019-03-02 21:02] timabbott commented on #11757
Yeah, adding a refresh for this is worth doing for folks who upgrade after using the data export tool for easily readable backups, even though the intent of the instruction on deactivating the realm was for the case that you're definitely migrating hardware.

[2019-03-02 21:03] timabbott commented on #11757
We have one on our 500 page `static/html/5xx.html`, we may want to use similar settings here.

[2019-03-02 21:05] timabbott commented on #11755
Thanks for the report @swallitsch!

[2019-03-02 21:06] #11755 closed

[2019-03-02 21:24] timabbott commented on #11752
So, in theory, we could use the "organization avatar" as a component in the favicon.  One reason why this might not be a good idea, though, is that often that logo will be the organization's logo, which might make Zulip tabs hard to find for people in the organization.  (As a recent example of this that I experienced, we thought about changing the ReadTheDocs favicon for Zulip's docs to be the Zul

[2019-03-02 21:41] davidtwco commented on #11752
One motivation for this would be when someone had multiple Zulip instances open as pinned tabs - for example, there’s a Zulip instance for those involved in Rust’s development but also for some smaller periphery projects and one might have both open at once as pinned tabs as they’ll be communicating in them regularly.

[2019-03-02 21:50] rishig commented on #11711
yeah, I think at-all should also allow this syntax, for quote and reply.

[2019-03-02 21:53] mateuszmandera commented on #10688
@pragatiagrawal31 are you still working on this?

[2019-03-02 23:23] mayankmadan commented on #7549
@zulipbot claim

[2019-03-03 06:04] paurakhsharma commented on #11679
@zulipbot abandon

[2019-03-03 06:38] pragatiagrawal31 commented on #10688
I started working on some other high priority issues, but I'm still working on this one too, claiming again to avoid confusion @zulipbot claim.

[2019-03-03 06:59] SushantSingh115 commented on #11731
Thanks for the info ! Cheers !

[2019-03-03 10:22] Aasfga commented on #10537
@zulipbot waiting for review

[2019-03-03 11:10] abhishek125 commented on #11669
@rishig please explain 2nd issue in little more detail. i am unable to understand what behaviour is desired on clicking "Add" box.

[2019-03-03 13:47] RishabhGoyal992 opened #11766 "JavaScript on-hover explanation on the Keyboard Shortcut icon shows doubling effect."
The keyboard shortcut icon on-hover explanation shows doubling effect on and off hover.

![keyboard s](https://user-images.githubusercontent.com/35079024/53696040-fb56fd80-3de8-11e9-81f5-379b12ed84e8.gif)

[2019-03-03 13:48] RishabhGoyal992 commented on #11766
@zulipbot claim

[2019-03-03 15:47] hinchley2018 commented on #11701
@timabbott would it be okay if I work on this issue?

[2019-03-03 16:53] theredcap commented on #11679
could you please guide me with the name of file and path responsible for this behavior?

[2019-03-03 17:08] paurakhsharma commented on #11679
@theredcap This issue requires discussion on how to implement the fix. Here is some discussion: https://chat.zulip.org/#narrow/stream/49-development-help/topic/My.20first.20issue

[2019-03-03 17:13] WesleyAC opened #11767 "Unicode emoji sequences are broken: first codepoint gets turned into Zulip emoji"
I would like to type the "Eye in Speech Bubble" compound emoji (👁️ + ZWJ + 🗨️ = 👁️‍🗨️), but Zulip does not display this correctly.

Confusingly, the "speech bubble" component of it is displayed in two different ways - when typed alone, it turns into the zulip version of the same, but when it's part of the ZWJ sequence, only the "eye" emoji is converted into the Zulip style.

![screenshot](https://

[2019-03-03 17:18] WesleyAC commented on #11767
The "Rainbow Flag" sequence is broken in the same way (The "white flag" emoji is shown in zulip style, but the "rainbow" is shown in the system style)

[2019-03-03 17:31] WesleyAC commented on #11767
Since GitHub also breaks this, you can copy paste the sequence in question from https://emojipedia.org/eye-in-speech-bubble/ for debugging.

[2019-03-03 18:03] rishig commented on #11669
By "Add box" I mean the input box to the left of the Add button. Ideally it would open a typeahead similar to the one we use for @-mentions.

[2019-03-03 19:48] showell opened #11770 "Render emojis even with :bogus: in the line"
So this doesn't render correctly: `:bogus: :smile:`.  Somehow the invalid `:bogus:` prevents `:smile:` from rendering.  We can't render `:bogus:`, but it shouldn't break `:smile:`.

[2019-03-03 19:56] showell commented on #11770
More details here:

https://chat.zulip.org/#narrow/stream/9-issues/topic/Emojis.20not.20working.20in.20text/near/712397

[2019-03-03 19:57] hinchley2018 commented on #11701
@zulipbot claim

[2019-03-03 20:03] FoggyFinder commented on #6427
any updates? :-)

[2019-03-04 03:03] AsociTon commented on #10966
for reference we have discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/.2310966.20Bullet.20list.20indentation.20bug/near/697917) and [here](https://chat.zulip.org/#narrow/stream/49-development-help/topic/.2310966.20Bullet.20list.20indentation.20bug/near/712174)
The tasks would be to
- [ ] Update code in marked.js for getting the unordered-list frontend logic corrected
- [ ] u

[2019-03-04 03:54] #11742 closed

[2019-03-04 04:54] skunkmb commented on #11672
@timabbott @rishig I tried implementing the "schedule for now" behavior, but I encountered the same problem of Zoom saying that "the host has another meeting in progress." Looking at the Zoom [documentation](https://support.zoom.us/hc/en-us/articles/206122046-Can-I-Host-Concurrent-Meetings-), it seems like this is expected behavior:

I think the next step might be to have users authenticate with O

[2019-03-04 05:48] theredcap commented on #11647
@timabbott @gnprice I have opened a PR for this issue.
https://github.com/zulip/zulip/pull/11765

[2019-03-04 06:06] overide commented on #11770
@zulipbot claim

[2019-03-04 07:12] timabbott commented on #11672
That approach sounds good as the next thing to try.  Thanks for the
investigation!

On Sun, Mar 3, 2019, 8:54 PM Marco Burstein <notifications@github.com>
wrote:

[2019-03-04 11:23] lukasIO opened #11773 "URL previews cluttering message view"
For each link that I send via Zulip, a link preview is generated and attached to the message.
I did not find a way to disable this preview on a per message basis.

This becomes a problem when sending multiple links in one message, because suddenly a huge area is taken up only by link previews.
If I send another message afterwards it gets completely buried in the link previews.

It gets even worse

[2019-03-04 13:31] HarshitOnGitHub commented on #11692
@zulipbot claim

[2019-03-04 16:29] borisyankov commented on #11753
@rishig I think filtering topics is a reasonable feature, though there is a more sophisticated and better 'search' feature that can be added:
* a global search/filter, it filters through all streams, topics and user conversations

[2019-03-04 16:31] borisyankov commented on #1368
@showell As old as this issue is, I think it is still relevant and similar to a topic we discussed a month or so ago 😄

[2019-03-04 17:18] timabbott commented on #11453
The first part of this was just completed; it looks like we still need to fix the hover element.

[2019-03-04 17:29] HarshitOnGitHub commented on #11767
@WesleyAC Thanks for the report! Adding support for ZWJ emoji sequences is definitely on our roadmap. I have some partial work done for implementing and hope to complete the remaining part soon. :)

[2019-03-04 17:30] HarshitOnGitHub commented on #11767
@zulipbot label "area: emoji"

[2019-03-04 17:41] HarshitOnGitHub commented on #11757
@zulipbot claim

[2019-03-04 18:29] swallitsch opened #11777 "Regression 1.9 -> 2.0: linkifiers with dashes no longer work"
After the upgrade to 2.0, we've noticed that all of our linkifiers with dashes in the regex pattern have stopped working. The `-` might be a red herring, but that's what we've noticed between working linkifiers and non-working linkifiers.

Not working:
[code]

Working:
[code]

We've tried escaping the dashes in the regex and deleting and re-adding the regexes.

[2019-03-04 18:32] rishig commented on #11753
Yeah, to be clear I strongly support a ctrl+k behavior that does this, which I think is the right approach.

[2019-03-04 18:46] rishig commented on #11672
yeah, that is my current understanding as well.

[2019-03-04 19:08] okmanl commented on #11453
I've actually completed a good amount of the second issue already. Here's the code I've written.

[code]

All that needs to be done is to fix the hover element. If anyone else would like to complete it just let me know. Otherwise, I can work on the last part and open a PR. I believe I could potentially complete it in 1-3 days?

[2019-03-04 19:19] timabbott commented on #11777
Linking https://chat.zulip.org/#narrow/stream/31-production-help/topic/auto-links

[2019-03-04 19:19] timabbott commented on #11777
My guess is this has to do with the word boundary detection work we did in https://github.com/zulip/zulip/commit/ff90c0101c487173fd470f7dff617cbd52338962.

Tagging as a priority.

[2019-03-04 19:25] aero31aero commented on #11777
@zulipbot claim

[2019-03-04 19:40] #11757 closed

[2019-03-04 19:57] #11692 closed

[2019-03-04 20:31] timabbott commented on #11753
Yeah, I tend to agree; adding topic search there doesn't seem like an improvement.

[2019-03-04 20:31] #11753 closed

[2019-03-04 20:48] swallitsch commented on #11777
Troubleshoting with @aero31aero and he discovered that this issue only occurs if the thing to be linkified is the entire message. If it's accompanied by any other words, the link works.

So "hello HELP-438" works, but "HELP-438" doesn't.

[2019-03-05 01:19] timabbott commented on #1368
I think we did try one approach for changing this at the time, and the result was unpopular, which is why we stopped working on this at the time.

[2019-03-05 01:31] timabbott commented on #11453
1-3 days from now is totally a reasonable timeline.

[2019-03-05 02:03] swallitsch opened #11780 "ldap_query and sync_ldap_user_data break if custom LDAP field missing"
Both ldap_query and sync_ldap_user_data break if a custom field specified in `settings.AUTH_LDAP_USER_ATTR_MAP` is missing from the LDAP user.

Desired behavior: Continue syncing other, present fields

This can be fixed by changing `zproject.backends.sync_custom_profile_fields_from_ldap()` line 350 to a try/except which `continue` when it encounters a `KeyError` (No need to log the missing field h

[2019-03-05 02:13] timabbott commented on #11780
@HarshitOnGitHub can you investigate this one?

[2019-03-05 02:24] AsociTon commented on #11721
@zulipbot claim

[2019-03-05 02:28] rzillman opened #11781 "Support `X-Forwarded-Prefix` header for path-based reverse proxy"
It is not currently possible to run Zulip behind a reverse proxy such as Traefik using a path-based route rather than a subdomain (i.e. example.com/zulip instead of zulip.example.com). Traefik provides the `X-Forwarded-Prefix` header to allow backends to build the required URLs dynamically: https://docs.traefik.io/basics/#path-matcher-usage-guidelines

[2019-03-05 03:17] vipulchhabra99 commented on #11453
hi @timabbott @okmanl  i have solved the second issue should i submit pr for same?

[2019-03-05 03:21] okmanl commented on #11453
@vipulchhabra99 Sure. If you’ve already solved it you can take over.

[2019-03-05 03:30] okmanl commented on #11453
If that’s fine with @timabbott

[2019-03-05 04:08] rishig opened #11782 "emails: Add note mentioning that confirmation links expire."
For emails with confirmation links/buttons, we should add something indicating the invitation/etc will expire in N days.

This isn't well-enough specified for someone to pick it up, but it's something we shouldn't forget to do the next time we do a pass on our email system, so noting it here.

[2019-03-05 04:15] vipulchhabra99 commented on #11453
@zulipbot claim

[2019-03-05 04:22] okmanl commented on #11453
Or maybe it would be better if I just did it to avoid any confusion.

[2019-03-05 04:29] vipulchhabra99 commented on #11453
@okmanl i have completed the issue as you suggested to take over the issue :sweat_smile:

[2019-03-05 04:32] okmanl commented on #11743
@zulipbot claim

[2019-03-05 04:33] okmanl commented on #11453
@zulipbot abandon

[2019-03-05 04:33] okmanl commented on #11453
ok I just abandoned it @vipulchhabra99 . You can claim it and finish the last part.

[2019-03-05 04:34] okmanl commented on #11743
@zulipbot claim.

[2019-03-05 04:34] vipulchhabra99 commented on #11453
thanks @okmanl

[2019-03-05 04:34] vipulchhabra99 commented on #11453
@zulipbot claim

[2019-03-05 04:41] Be-ing commented on #11607
I think it would help to have the same information shown when hovering usernames and avatars next to comments.

[2019-03-05 07:19] vipulchhabra99 commented on #11453
@timabbott please review my pr.

[2019-03-05 09:21] vrongmeal commented on #11699
I had a doubt. Is it mentioned specifically that if you, say go to the URL with `/near/1`, it will take you to the first message? (I thought it might work for near 2, 3 ... and so on but it's just that it fetches the stream and topic and if no message id matches the number, it just takes you to the top, i.e., the first message).

[2019-03-05 09:31] svpcom opened #11786 "Upgrade from 2.0.0 to 2.0.1 failed"
When I try to upgrade from 2.0.0 to 2.0.1 i got:
[code]

nginx.pp line 47 is:
[code]

[2019-03-05 09:50] HarshitOnGitHub commented on #11780
@zulipbot claim

[2019-03-05 09:59] 2208Abhinav commented on #11608
@zulipbot claim

[2019-03-05 10:31] santherics opened #11787 ""User list on left sidebar in narrow windows" does not work in desktop client after upgrade to 2.0.1"
When I set  (or unset) "User list on left sidebar in narrow windows" and reload the desktop client nothing happens.

[2019-03-05 10:33] vinitS101 commented on #11607
The description for "white with line" for Unavailable needs to be add to the documentation [here](https://zulipchat.com/help/check-whether-someone-is-here-or-away). I can do that in the same PR.

[2019-03-05 11:17] mayankmadan commented on #7549
I can use the youtube's ombed api to get the JSON data right?

[2019-03-05 11:50] cathmer commented on #11418
@zulipbot claim

[2019-03-05 12:34] daanwerf commented on #11136
@zulipbot claim

[2019-03-05 12:36] daanwerf commented on #5087
@zulipbot claim

[2019-03-05 13:35] b-czaszynski commented on #4676
@zulipbot claim

[2019-03-05 13:56] b-czaszynski commented on #4676
Hello everyone!

I am interested in contributing to an issue #4676 - "Strengthen check for name validity". I might have identified a potential security vulnerability related to email name parsing, and would like someone from the team to confirm it.

Function responsible for name parsing from email (Users.check_full_name) does very little input sanitation (length and 6 disallowed characters). I hav

[2019-03-05 16:26] thedeveloperr commented on #9395
@zulipbot claim

[2019-03-05 16:50] Nikhil-Vats commented on #3128
@zulipbot claim

[2019-03-05 17:47] 2208Abhinav commented on #11629
@rishig I was thinking that when the user clicks on "Set yourself as Unavailable" a modal opens, with the UI you mentioned, and in place of **[30 minutes]** I am thinking of putting of a drop down menu with the time values.
And then I can put a form field in org settings for those time value options.
And in  database we can make table  `ScheduledFunction` with the columns -> (default (can take Tur

[2019-03-05 17:47] 2208Abhinav commented on #11629
@rishig can I work on this?

[2019-03-05 18:03] rishig commented on #11629
yup! By [30 minutes] I meant a dropdown with the values 30 minutes, 1 hour, etc.
1 hour can be the default option selected.

[2019-03-05 18:04] rishig commented on #11629
In terms of working on it, I'm not sure. I think I wanted to talk to Tim about it before putting a `help wanted` label.

[2019-03-05 18:06] reinethernal opened #11788 "django error after update to 2.0.1"
Logger root, from module zerver.worker.queue_processors line 147:
Error generated by Anonymous user (not logged in) on chat deployment

Traceback (most recent call last):
  File "/home/zulip/deployments/2019-03-05-19-08-36/zerver/worker/queue_processors.py", line 130, in consume_wrapper
    self.consume(data)
  File "/home/zulip/deployments/2019-03-05-19-08-36/zerver/worker/queue_processors.py", l

[2019-03-05 18:08] kashyap2108 commented on #11782
@zulipbot claim

[2019-03-05 18:16] rishig commented on #11607
Good catch, but no worries about the documentation update; there's a bigger change planned for that page that I'll do after this is merged.

[2019-03-05 18:23] 2208Abhinav commented on #11629
Sure @rishig but please ping me here in case it's decided to work on it I think it's a great feature!

[2019-03-05 18:43] kashyap2108 commented on #11631
@zulipbot claim

[2019-03-05 21:24] timabbott commented on #11788
@reinethernal I believe the issue here is that your email server is not configured in a way consistent with `ADD_TOKENS_TO_NOREPLY_ADDRESS`.  See
https://zulip.readthedocs.io/en/latest/production/email.html#troubleshooting for details on how to resolve this.  (That default-on setting was new a few releases back, so I assume you weren't upgrading from 1.9)

[2019-03-05 21:24] #11788 closed

[2019-03-05 21:25] timabbott commented on #11786
@svpcom can you talk about what file upload configuration you're using, and what OS version?  This seems like a puppet version compatibility problem.

[2019-03-05 21:26] timabbott commented on #11787
@santherics did this work for you in previous versions?  Note that the setting in question (as described) only applies if the window is narrow.

[2019-03-05 21:29] timabbott commented on #5437
@shane-kearns I just wanted to check whether you're still having this problem with Zulip 2.0.1, since we've made some changes in the proxy configuration defaults since then.

[2019-03-05 21:31] timabbott commented on #11781
We at present don't support running on example.com/zulip (regardless of what reverse proxy software is used).  I think there's an open issue for that though I had trouble finding it just now, but it's unlikely to be worked on in the near future.

[2019-03-05 21:31] timabbott commented on #11781
I'm going to close this as a duplicate, hopefully someone else can track down the issue for supporting example.com/zulip.

[2019-03-05 21:31] #11781 closed

[2019-03-05 23:58] davidtwco opened #11791 "Linkifiers with overlapping patterns are linked twice in topics"
Given two linkifiers, `#(?P<id>[0-9]+)` and `some-other-repository#(?P<id>[0-9]+)`, that overlap then, in my testing, the more specific pattern is matched in messages (where possible), but in topics, both patterns are matched and two link buttons are shown where this may not be desirable.

As a more concrete example, in Rust's Zulip instance, we have a linkifier with the first pattern above, that

[2019-03-06 00:07] #11770 closed

[2019-03-06 00:18] timabbott commented on #11791
So, in theory, that first linkifier should only be applying to cases where the character before the `#` is a non-alphanumeric character (specifically, we look for word boundaries).  I think the main issue here is that we're not doing word boundary detection properly in the topic linkification logic.

@aero31aero can you look into this?

[2019-03-06 00:23] #11780 closed

[2019-03-06 04:45] svpcom commented on #11786
@timabbott Ubuntu 18.04.2 LTS

[2019-03-06 04:47] svpcom commented on #11786
Puppet doesn't allow redefine already defined variables. I've fix this as:
[code]

[2019-03-06 05:40] reinethernal commented on #11788
@timabbott first i upgraded to 1.9.1 from 1.8, got that issue then upgraded to 2.0.1

[2019-03-06 08:11] vatanak10 opened #11794 "Change the # into logos"
![screenshot 20](https://user-images.githubusercontent.com/45728734/53865362-9803e000-4021-11e9-8047-6282911cbefb.png)
I think we should change the (#) sign into some logos to make the GUI looks better.

[2019-03-06 08:28] 2208Abhinav opened #11795 "right sidebar: When trying to search users in mobile browser the right sidebar closes automatically."
When the user taps on the search icon to search users, the sidebar remains open for sometime and then automatically closes.

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/30211121/53866524-c4b2fa00-4017-11e9-964d-1baf694ed8ef.gif)

[2019-03-06 08:29] 2208Abhinav commented on #11795
@zulipbot claim

[2019-03-06 08:36] okmanl commented on #11743
@rishig

Hi, under the dev environment I logged into a guest account,

[Polonius@zulip.com](https://imgur.com/cC30MGc)

When I click on the the list of options for a stream, the unsubscribe button appears. Which seems to work fine.

[List of options](https://imgur.com/rqYL7t1)

Are you sure that this is an issue?

[2019-03-06 08:41] ruchit2801 commented on #11743
@okmanl The issue is not about that button in list of options. This option is not visible for guests in stream settings. Only "View Stream" button is visible. I think this is just a one line of code. I have already created #11748, you can check that for reference.

[2019-03-06 08:45] ruchit2801 commented on #11743
@okmanl Also one side note, It is better to upload image files directly than to give link to that file. That way your image or screenshot is directly visible on your comment :).

[2019-03-06 08:50] okmanl commented on #11743
@ruchit2801 Thank you for the advice. I skimmed this topic so I missed the post that said.

"@ruchit2801 ruchit2801 referenced a pull request that will close this issue 4 days ago"

 I am completely new to open source contribution, so I still have a lot to learn.

[2019-03-06 08:57] ruchit2801 commented on #11743
I just realised that, when you click on that unsubscribe button, you get successfully unsubscribed. Now you click on View stream button, you will not see a button to subscribe that stream again in the compose box. @okmanl feel free to make a PR for that. Also, #11748 is just a single line of code, so, I would suggest merge that also in your PR.

[2019-03-06 09:09] 2208Abhinav commented on #11795
I think this is related to the keyboard opening in the mobile browsers because in small screen testing in desktop it works fine.

[2019-03-06 09:50] reinethernal commented on #11788
@timabbott i don't have such string as ADD_TOKENS_TO_NOREPLY_ADDRESS

[2019-03-06 10:02] 2208Abhinav commented on #11795
This same issue arises with **Search Streams** also.

[2019-03-06 10:52] santherics commented on #11787
Sorry, that was my mistake. It function according to the description.

[2019-03-06 10:52] #11787 closed

[2019-03-06 11:34] 2208Abhinav commented on #11795
I debugged this issue and I am thinking that the issue is with `resize.js` or `media.scss`. @timabbott can you help me on this?

[2019-03-06 12:40] ruchit2801 commented on #10829
@zulipbot claim

[2019-03-06 13:50] Tim-W commented on #4639
@zulipbot claim

[2019-03-06 13:55] cb0n3y commented on #11715
Hello, i cannot imagine what i'm doing wrong. I invite myself via email, i followed the link and entered user name and password, click on register. BUT when i try to login nothing happen.

AUTHENTICATION_BACKENDS = (
    'zproject.backends.EmailAuthBackend',  # Email and password; just requires SMTP setup
    # 'zproject.backends.GoogleMobileOauth2Backend',  # Google Apps, setup below
    # 'zproj

[2019-03-06 14:37] 2208Abhinav commented on #11795
I think the thing that is causing this bug lies inside the working of virtual keyboard in mobile. If you try it yourself and observe carefully then you will find that the right sidebar remains in it's correct position for some time but the virtual keyboard forces the message viewing are to resize and that eventually hides the sidebar. To solve this we might want to stop that  action.

[2019-03-06 16:12] hackerkid commented on #11395
I tried upgrading this since the dependecy issue with CommonMark got fixed. I am getting the following error.

[code]

[2019-03-06 16:59] 2208Abhinav commented on #11795
After a day long debugging and experimentation I guess that the problem is with resize code. When the keyboard opens it triggers the resize code that eventually leads input field to loose focus.

[2019-03-06 17:52] timabbott commented on #11795
Yeah, the issue here is definitely with the resize code, which has logic to close all popovers on resize or scroll.  We should be changing that to not close these sidebar popovers.

[2019-03-06 17:53] timabbott commented on #11788
@reinethernal that setting isn't in the /etc/zulip/settings.py template from old versions since you're on a newer version. Just add
[code]

at the bottom of your /etc/zulip/settings.py and restart the server (if that's the configuration you want).

[2019-03-06 18:28] ssvenn commented on #6102
Mattermost also has this functionality now, the message structure seems to be similar if not identical to the one Slack uses.
https://docs.mattermost.com/developer/interactive-messages.html

It would be very cool if Zulip eventually implements it in a way that could make it a drop-in replacement for either of those two platforms.

[2019-03-06 19:09] vsvipul opened #11802 "Electron check condition outdated in reset.html"
In the [reset.html](https://github.com/zulip/zulip/blob/master/templates/zerver/reset.html), there exists a codeblock-

[code]

But this 'back to login' link is not shown on the electron app currently, as visible in the attached screenshot-

![screenshot from 2019-03-05 20-37-00](https://user-images.githubusercontent.com/21038781/53906613-6a468780-4071-11e9-93d4-08c05c90c502.png)

[2019-03-06 19:13] rishig opened #11803 "portico: Add /api links to /integrations."
This is one of the steps towards cleaning up the gear menu (e.g. removing the link to /api from there, or moving it to a submenu).

Here is some starter code for `templates/zerver/integrations/index.html`:
[code]
It looks like
![image](https://user-images.githubusercontent.com/890911/53906675-64fd2480-4000-11e9-85a8-03c7048b3eb9.png)

Things remaining to be done:
* Doing something reasonable in th

[2019-03-06 19:28] nurduman0210 commented on #9157
@zulipbot abandon

[2019-03-06 20:20] Amadeo234 commented on #7766
@zulipbot claim

[2019-03-06 20:58] timabbott commented on #11802
@vsvipul thanks for the report!  This is the chain of variables that should control this:
[code]

[2019-03-06 21:12] reinethernal commented on #11788
Still not working. I receive Syntax error when i try to restart server with this string.

[2019-03-06 21:19] reinethernal commented on #11788
rocketman$ /home/zulip/deployments/current/scripts/restart-server
Traceback (most recent call last):
  File "./manage.py", line 40, in <module>
    log_management_command(" ".join(sys.argv), settings.MANAGEMENT_LOG_PATH)
  File "/home/zulip/deployments/2019-03-05-19-08-36/zulip-py3-venv/lib/python3.5/site-packages/django/conf/__init__.py", line 56, in __getattr__
    self._setup(name)
  File "/hom

[2019-03-06 21:19] timabbott commented on #11786
@svpcom ahh, I figured out that the problem was in our test environment for this code path.  Fixed, and thanks for the report!

[2019-03-06 21:19] #11786 closed

[2019-03-06 21:20] timabbott commented on #11794
@vatanak10 I don't think makes sense from a UX design perspective; users would need to upload dozens of logos.  And we already have logos representing organizations.  Closing as wontfix.

[2019-03-06 21:20] #11794 closed

[2019-03-06 21:25] thedeveloperr commented on #11795
#11448 This issue also have same core problem. The keyboard triggers resize event.

[2019-03-06 21:41] timabbott opened #11805 "copy-paste with ctrl+C is broken on Firefox with Windows+Linux (sender names are missing)"
Here's what happens when you copy-paste with ctrl+C on Windows:

[code]

The code for this copy-paste implementation is in `static/js/copy_and_paste.js` -- we'll likely need to print-debug or something to figure out what's going on.

[2019-03-06 21:45] SiddharthVarshney commented on #11679
@zulipbot claim

[2019-03-06 22:02] timabbott commented on #11715
"BUT when i try to login nothing happen"

Can you provide details on exactly what happens, e.g. with a screenshot?

[2019-03-06 22:04] timabbott commented on #11773
@lukasIO thanks for the report!  Issues like this are why the `INLINE_URL_EMBED_PREVIEWS` feature is default-off in Zulip.  When we do invest in making that something that we think is ready to have default-on, we'll look at solving this.

[2019-03-07 00:41] timabbott opened #11809 "Improve performance of `set_pm_conversation_count` in `static/js/pm_list.js`"
I was doing some frontend profiling earlier today on chat.zulip.org, and ran into a case where `update_dom_with_unread_counts()` took 163ms, which is definitely high for that sort of update.  100ms of that was 20 calls to `set_pm_conversation_count` in `static/js/pm_list.js`, each of which was consuming 5ms.  This is a bit odd because I definitely didn't have 20 conversations with unread messages

[2019-03-07 01:05] timabbott commented on #11743
I agree with @okmanl -- this behaves correctly in master.  Logged in as polonius, I see this:
![image](https://user-images.githubusercontent.com/2746074/53924713-fa64dc80-4031-11e9-93d0-c9bc98191d45.png)

(And this is I believe the correct algorithm: Display a Subscribe/Unsubscribe button if the user is currently subscribed or it's a public stream and the user is not a guest.
[code]
)

[2019-03-07 01:05] #11743 closed

[2019-03-07 02:25] 2208Abhinav commented on #11448
@thedeveloperr after fixing #11795 I will try to fix this issue as the core problem is same it will take less time after solving that issue. Thanks for reporting :)

[2019-03-07 02:32] rishig commented on #11743
Figured it out; adblock plus injects a stylesheet with `.subscribe-button { display: none !important; }`.

[2019-03-07 02:39] 2208Abhinav commented on #11448
@zulipbot claim

[2019-03-07 04:02] ruchit2801 commented on #11743
@rishig Was this fixed in some commit before? I'm pretty sure I did not see that button in stream settings when I started working on this. Also one more question, after unsubscribing, the button to subscribe again is not visible in streams with messages. And in streams without messages, it is visible, but it is not working. See this screenshot
![screenshot 2019-03-07 at 9 27 59 am](https://user-im

[2019-03-07 04:04] rishig commented on #11743
Do you have adblock plus enabled?

[2019-03-07 06:49] cb0n3y commented on #11715
I get the invitation and go straight to zulip with the link provided in the invitation.
I enter my email, my name and the password I want to have. So far everything is going great. Then when I try to log in with the credentials introduced before, I get ask again and again for the password.

![screenshot_20190307_074753](https://user-images.githubusercontent.com/45013176/53937465-7d774880-40ad-11e9

[2019-03-07 06:52] cb0n3y commented on #11715
I get the invitation and go straight to zulip with the link provided in the invitation.
I enter my email, my name and the password I want to have. So far everything is going great. Then when I try to log in with the credentials introduced before, I ask again and again for the password.
![screenshot_20190307_075029](https://user-images.githubusercontent.com/45013176/53937537-b57e8b80-40ad-11e9-99e4

[2019-03-07 07:04] rishig opened #11811 "portico: The .info and .image containers need a gutter on /apps."
Now that #11810 is merged, we have the following issue at some sizes on /apps:
![image](https://user-images.githubusercontent.com/890911/53937960-8b07e080-4063-11e9-8759-0f208f2eda37.png)

The issue is that the "padding" was originally being handled by the image itself having a bunch of whitespace around it, which is now gone.

[2019-03-07 08:34] vsvipul commented on #1991
I think this was fixed in the commit https://github.com/zulip/zulip/commit/815d009006c29d0ae733f1e1373dffeaf4f1cb6f
and can be closed

[2019-03-07 11:25] lukasIO commented on #11773
Makes sense, thanks!

[2019-03-07 11:53] vrongmeal commented on #11805
* Also on Mac (This is purely a browser specific issue)

[2019-03-07 12:13] rvansa opened #11812 "Add number of mentions to left bar (organizations)"
In addition to total number of unread messages (red ball) in given organization I'd like to see number of mentions. I currently have 5 organizations in Zulip and I want to prioritize handling conversations in which I am mentioned.

Therefore, I propose adding a blue ball below the red one, stating how many times I've been mentioned/number of alert words.

In addition to that, it would be nice to c

[2019-03-07 13:30] shane-kearns commented on #5437
@timabbott My current setup is as follows:
I have a file in /etc/nginx/conf.d containing `set_real_ip_from` and `real_ip_header` lines, describing the downstream ADC to trust.
This was preserved on upgrade to 2.0 on my staging instance.
access.log, django.log and events.log are all showing the true client IP address.

This is making use of http://nginx.org/en/docs/http/ngx_http_realip_module.html

[2019-03-07 14:44] Raghavareddy21 commented on #10265
@zulipbot I am still working on this.

[2019-03-07 15:36] sebastianelsner opened #11814 "Keeping streams and messages expanded"
When navigating between "Messages" and "Streams" on the left side menu, currently these are collapsing and expanding. The most frequent question I get at my organization (~200 users) is how to turn this off and keep everything you clicked on expanded.
Would this be possible, maybe for a first contribution?

[2019-03-07 17:43] dashdsrdash commented on #10828
Ben Muschol wrote:

I can reproduce this in Chrome --  73.0.3683.56 on Debian Linux
-- but not in Firefox.

I then upgraded Chrome to 73.0.3683.67 and reproduced again.

Failed: Enter a valid URL.,URL format string must be in the
following format: `https://example.com/%(\w+)s`

-dsr-

[2019-03-07 17:48] aero31aero opened #11818 "markdown: Handle realm filters properly."
There are a combination of things we want from our realm filters, which can be best outlined by the following sections. I think we should keep in depth discussions on https://chat.zulip.org/#narrow/stream/68-markdown/topic/word.20boundaries.

## Related issues/PRs and context:

- #9883 - (Issue) The original word boundary issue for non whitespaced languages.
- #10057 - (PR) The solution to 9883 in

[2019-03-07 17:50] aero31aero commented on #11818
@zulipbot label "area: markdown" "feedback wanted" "bug"

[2019-03-07 18:57] nikomatsakis opened #11821 "adjusting times to local time zones"
It would be so great if there were some way that I can write a time (perhaps a date?) in my local time zone, but it displays to others in their time zone. I *think* this would be best done with some form of markup, but perhaps something building on the "linkifier" system would be good too -- i.e., a regex that we can configure.

Please forgive me if this is the wrong place to file a vague feature

[2019-03-07 19:05] timabbott commented on #11818
I think focusing work on getting the backend markdown processor to be correct here is probably the first priority; it's not a big deal if the frontend parser lags a bit on correctness for special realm filters cases.

[2019-03-07 19:08] imsubhams commented on #11821
Right Now whenever We post a message on Zulip, then the time of message it shows is mine(with respect to my local timezone) and the person reading it in say some different timezone will get a relative time. So I think that we can extend this feature in messages too, but introducing some decorator like @ time .

[2019-03-07 19:13] BenMusch commented on #10828
Cool -- will probably open a PR to add the no-select class to the icon then, and hopefully reproduce on my machine using chrome beforehand

[2019-03-07 19:18] vsvipul commented on #2305
Hello, can someone tell me if this issue is still relevant to fix. I see an open PR which has not been merged. What's up with that?

[2019-03-07 19:22] rishig commented on #11821
I think this makes a lot of sense. Possible duplicate of https://github.com/zulip/zulip/issues/5176.

[2019-03-07 19:25] timabbott opened #11822 "Improve performance of resizing a Zulip window"
This is an issue that requires some pretty careful profiling/debugging.  For some reason, our `resize.js` algorithm (or maybe something in our CSS) ends up consuming a ton of resources when you resize a Zulip window, especially one like chat.zulip.org that has a lot of stuff going on.

Based on my profiling, it's very possible the issue is primarily perfectScrollbar and will go away when we remove

[2019-03-07 19:30] imsubhams commented on #11821
Can I claim this issue @rishig since issue #5176 is not yet closed?

[2019-03-07 21:06] imsubhams commented on #11752
I totally agree with @timeabbott with the fact that it will make the whole ecosystem very complicated. Right now Zulip is simple but powerful in delivering messages. But idea was noble.

[2019-03-07 21:06] timabbott commented on #10381
@ruchit2801 is there a PR for this?

[2019-03-07 21:36] rishig commented on #5816
Closing, since I think this is done.

[2019-03-07 21:36] #5816 closed

[2019-03-07 21:56] timabbott commented on #11821
@imsubhams I think this is a duplicate of #5176, which we should probably just finish.  I'll sync with @aero31aero on merging that.

[2019-03-07 21:56] #11821 closed

[2019-03-07 21:59] timabbott commented on #11752
@davidtwco yeah, I get the motivation.  Obviously one natural solution is using desktop app, which solves this exact problem and doesn't have the issue of conflict with other tabs -- is there a reason you're not doing that?

[2019-03-07 22:09] davidtwco commented on #11752
@timabbott That's what I'm currently doing but I prefer using the browser so I've not got a lot running.

I think that if an organization felt it would cause confusion they could choose to not set a custom favicon, but this would certainly be useful for organizations where the same favicon is acceptable or where they could produce a different favicon for Zulip.

[2019-03-07 22:10] timabbott commented on #1991
Yes, it can, thanks for flagging this @vsvipul!

[2019-03-07 22:10] #1991 closed

[2019-03-07 22:33] timabbott commented on #10612
I updated the description here to move content for using `+show_sender` out of the third item (now finished in https://github.com/zulip/zulip/pull/11191) and into two new items.

[2019-03-07 23:42] timabbott commented on #11752
OK.  Organizations already have a custom icon uploaded (the organization avatar used for the desktop app), so we likely wouldn't need to do any actual upload settings work; we'd just need to add a display setting for controlling what to show in the favicon.  That part isn't bad.

The main work here will be to replace the way favicons are generated to use JS to write the unread count number over th

[2019-03-08 00:15] dhirschfeld commented on #11781
I can't seem to find any other issue relating to this so perhaps this could be re-opened and given the `enhancement` label... at least until such time as someone cross-links the original issue (if it does exist)

[2019-03-08 01:08] RashulChutani commented on #11766
@zulipbot claim

[2019-03-08 02:59] rishig opened #11824 "settings: Rename "user avatar" to "profile picture"."
There are a couple of places this needs to be changed:
* https://chat.zulip.org/#settings/your-account (section heading and buttons)
* https://chat.zulip.org/#settings/your-bots (button can be "Customize profile picture")
* https://chat.zulip.org/#organization/organization-profile

For this one we should just move all the logos into one section: `Organization logos`.
The text for the first one can

[2019-03-08 04:00] timabbott commented on #11824
Let's not do any work on "organization logo" stuff here until #11612 is complete.

[2019-03-08 04:13] imsubhams opened #11826 "urls.py : Implement Url Capturing Method according to newer version of Django"
Inside the urls.py of analytics app. I see that we are using older regex method for url capturing

url(r'^realm_activity/(?P<realm_str>[\S]+)/$',analytics.views.get_realm_activity,name='analytics.views.get_realm_activity'),

Now Django (newer version) supports usage of

path('realm_activity/<str:realm_str>/',,analytics.views.get_realm_activity,name='analytics.views.get_realm_activity')

, for url

[2019-03-08 04:53] #11401 closed

[2019-03-08 05:03] timabbott commented on #11826
https://docs.djangoproject.com/en/2.1/ref/urls/#path is new in Django 2.0, and thus not supported in Django 1.11 (what Zulip is using).  Closing as wontfix, but I'll add a note to our Django 2.0 follow-up TODO list: https://github.com/zulip/zulip/issues/11341.  Thanks @imsubhams!

[2019-03-08 05:03] #11826 closed

[2019-03-08 05:12] timabbott opened #11827 "Add support for running a single-realm Zulip server under a URL prefix"
This is a common request for folks who for whatever reason have limited access to domains: being able to run a Zulip server on e.g. https://example.com/zulip (or other prefix), potentially behind a third-party reverse proxy.  I'm opening an issue for this, but I don't expect it to get attention in the near future because it's a lot of work, the use case is pretty limited, and we'd need to put effo

[2019-03-08 05:13] timabbott commented on #11781
@dhirschfeld sure, opened https://github.com/zulip/zulip/issues/11827, though as I comment there, this is one of the few issues that we are explicitly deprioritizing.

[2019-03-08 05:15] timabbott commented on #2305
@vsvipul we tried out a version of this close to when it was first opened, and were unhappy with the user experience that resulted, so we deprioritized work on this as it would require a moderate amount of iteration to get to something we felt was an improvement.

[2019-03-08 05:15] timabbott commented on #10828
Sounds great!

[2019-03-08 05:17] timabbott commented on #11811
@rishig is this still required with the new version of #11810?  It didn't look like that screenshot on my machine.

[2019-03-08 05:18] timabbott commented on #11715
@cb0n3y OK question -- which LDAP configuration mode are you using?  A/B/C as discussed in https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory

[2019-03-08 05:22] timabbott commented on #11743
@ruchit2801 you're looking at a different widget, I think?  Can you post a screenshot for "in streams without messages"?  It's possible there's a bug there we need to fix.

[2019-03-08 05:32] timabbott commented on #11714
@mwgamble thanks for the report!  This is a duplicate of https://github.com/zulip/zulip/issues/10385, closing for that reason.

[2019-03-08 05:32] #11714 closed

[2019-03-08 05:33] timabbott commented on #3406
Closing this as a duplicate of #10385.

[2019-03-08 05:33] #3406 closed

[2019-03-08 05:37] timabbott commented on #11788
@reinethernal I would check carefully that you don't have an invisible whitespace character at the start of that line that might have been generated by copy-paste (probably by deleting the whole line and typing it in directly).  Visually, the code looks correct, and it seems to be complaining about an invalid character at or adjacent to the `A`.

[2019-03-08 05:37] timabbott commented on #11788
Or you can copy-paste from /home/zulip/deployments/current/zproject/prod_settings_template.py

[2019-03-08 05:53] RashulChutani commented on #11766
I suppose the issue has been solved earlier. If it is not the case please tell.

[2019-03-08 05:54] RashulChutani commented on #11766
@zulipbot abandon

[2019-03-08 06:29] mwgamble commented on #10385
I'd be perfectly happy with a solution that just let me enter a date directly into the search box.

[2019-03-08 08:33] ruchit2801 commented on #10381
Not yet. There was a bit confusion while fixing it. I'll make a PR for this soon. Just for confirmation, we just want to migrate that `Mobile notifications for PMs` option to `Other notification settings`, and change its name to `send push notifications immediately`. I sure will test this feature, if it works on backend.

[2019-03-08 08:44] ruchit2801 commented on #11743
@timabbott See this GIF, that button is not working. That button for subscription is not visible if there are messages in that stream. See screenshot in my comment above. I don't know what is adblock plus and how to check it, @rishig. Sorry for late reply, I'm bit involved in my exams.
![screen recording 2019-03-08 at 2 07 39 pm](https://user-images.githubusercontent.com/39343253/54017351-b3025b80

[2019-03-08 09:23] vsvipul commented on #11802
@zulipbot claim

[2019-03-08 11:45] Pihlqvist commented on #10274
@zulipbot claim

[2019-03-08 11:55] PaulPfl commented on #10776
Hey,

I found this: https://success.docker.com/article/ipvs-connection-timeout-issue
Should be the same problem for kubernetes and docker swarm..

My current workaround is a custom build-zulip image with a cronjob which restarts the zulip-senders every 15min:
[code]

[2019-03-08 13:19] luizaloureiro opened #11828 "ConnectionError"
I am getting the following error when I try to request.get information from https://www.apartments.com/west-new-york-nj/ but getting the follow error: ConnectionError: ('Connection aborted.', OSError("(60, 'ETIMEDOUT')"))

Have anyone experience the same error?

Thanks
Luiza

---------------------------------------------------------------------------
OSError                                   Trace

[2019-03-08 17:27] AsociTon commented on #10966
@timabbott should I apply the fixed-width font to that particular table only or to the whole guide?

[2019-03-08 19:30] rishig commented on #11811
yeah, it only happens at some widths, but it's a fairly wide range at which it happens. If you go into responsive view and shrink I thikn you'll see it.

[2019-03-08 19:38] #11795 closed

[2019-03-08 20:10] #4109 closed

[2019-03-08 21:14] timabbott commented on #11743
@ruchit2801 OK great, that's indeed a bug.  We should not be showing that link.  I fixed it in 3baf1f3dbd3c785fb0b7fc08f0527f2e41d0e2de, and also did a code audit for similar issues.  Thanks for catching that!

[2019-03-08 21:32] #11585 closed

[2019-03-08 21:41] #10438 closed

[2019-03-08 21:41] timabbott commented on #11828
@luizaloureiro this issue is for the python-requests project (or probably better, a StackOverflow question), as it has nothing to do with Zulip.

[2019-03-08 21:41] #11828 closed

[2019-03-08 22:11] timabbott commented on #11008
@akornor have you had a chance to work on this?  I just tagged it as a priority because another user ran into it.

I also had another thought on how we could make this cleaner: potentially, we could just make the `sender` argument support a FromAddress element (though I guess then we'd need to figure out how to JSON-serialize FromAddress values?).  Not sure if that is actually a good idea.

[2019-03-08 23:05] showell commented on #11682
I think it might make sense to just change the "stream" widget in compose to be a dropdown.  Similar to how we do "time zone" in "display settings".   I'll open a new issue, and close this one.

https://chat.zulip.org/#narrow/stream/49-development-help/topic/.2311682/near/716288

[2019-03-08 23:07] #10828 closed

[2019-03-08 23:08] showell opened #11832 "compose: Make the stream box be a dropdown."
We should change the "stream" widget in the compose box to be a dropdown that's populated with all possible streams.  And then we should kill off the typeahead code related to the old widget (in a separate commit).

To implement this, look at how we set up the "time zone" widget in "display settings".

We may need to make this a "drop up" instead of a "drop down", and we want to be careful about s

[2019-03-08 23:13] whoodes commented on #11832
@zulipbot claim

[2019-03-08 23:18] timabbott commented on #10776
@PaulPfl can you try the solution recommended in https://success.docker.com/article/ipvs-connection-timeout-issue, of running `sysctl -w net.ipv4.tcp_keepalive_time=600` ?  That seems like something we could much more reasonably add to the Docker image and potentially fix this issue completely.

[2019-03-08 23:19] timabbott commented on #10381
Yes, and don't change the variable name -- just the title in the UI.

[2019-03-08 23:22] timabbott commented on #10385
@mwgamble well, there's still a UI there, even if it's just keyboard.  I think a syntax like `date:2018/04/06` or `date:2018-04-06` is pretty reasonable for that.  There's a harder issue of how to do a date range; maybe something like  `date:2018/04/06-2018/04/08` could be reasonable.

[2019-03-08 23:29] BenMusch commented on #11824
@zulipbot claim

[2019-03-08 23:34] BenMusch commented on #11824
Quick question regarding:

[code]

Does that mean it should be a separate PR, or should any PR to change the UI text also update the help changes along with it?

[2019-03-08 23:34] timabbott commented on #9446
I think we want to use the JS style of tooltips in most places, and should invest in making those look nice.

[2019-03-08 23:35] timabbott commented on #11824
@BenMusch it'd be great if you did that while you're at it.

[2019-03-08 23:37] timabbott commented on #10274
@Pihlqvist if you're interested in this area, there's several other changes we'd like to make to the RealmAuditLog system to make it work nicely.

[2019-03-08 23:42] timabbott commented on #11814
@sebastianelsner this is certainly possible as an option and something we've talked about doing.  I think the core community is focused on some other larger projects involving the sidebars, but we'd look at a PR for this sort of thing, especially if it is behind a new "display settings" setting to start.

[2019-03-09 00:14] timabbott commented on #11395
It looks like the updated version of RecommonMark is rewriting GitHub link URLs to an invalid version.

[2019-03-09 00:17] timabbott commented on #10829
@eeshangarg actually did this a few weeks ago, and we forgot to close the issue.  Sorry for the confusion @ruchit2801.

[2019-03-09 00:17] #10829 closed

[2019-03-09 00:46] rishig opened #11834 "message edit: Improve keyboard navigation of topic-only edits."
To repro, log in as Iago and try editing someone else's message. Two main things:

* [x] Initial focus should go to the topic box, when you can only edit the topic. (I.e. `i+Enter` or clicking down chevron -> View source / Edit topic should put the keyboard focus in the topic box.)
Note that the current behavior should not change when the content box is editable, or when nothing is editable.

* [

[2019-03-09 01:10] andersk opened #11835 "HTTP security hardening headers"
From https://securityheaders.com/?q=zulipchat.com&followRedirects=on, we should consider these improvements:

- [ ] Content-Security-Policy (Probably the most important by far. We only have this on uploads now. Partial work at #9065.)
- [ ] X-XSS-Protection: 1; mode=block
- [ ] X-Content-Options: nosniff
- [ ] Referrer-Policy?
- [ ] Feature-Policy?
- [ ] Expect-CT?
- [ ] Strict-Transport-Security:

[2019-03-09 01:28] hinchley2018 opened #11836 "Update setup vagrant docs"
The developer docs for setting up on macOS suggest install an old version of Vagrant https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html#macos
vagrant 2.0.2 only supports Virtualbox up to 5.2

[2019-03-09 01:36] #11836 closed

[2019-03-09 03:18] SaintFenix opened #11837 "Django Errors on startup:"
Hello, I'm very very new to running Zulip, and am running it for this use case:

1. This is running in a residential internet plan, with enough ports blocked by my ISP to prevent getting an SSL cert, so I ran the installer with the '--self-signed-cert' flag.

2. This is being built as a very fancy LAN chat system. I don't plan on putting general availability of the server out on the internet, so t

[2019-03-09 07:44] juselius commented on #10776
I reinstalled my Kubernetes Zulip installation yesterday evening, upgrading all dependencies in Helm requirements.yaml in the process. My intention was to test the tcp_keepalive_time setting, but to my great surprise everything is still up and running 14 hours later, without any extra tweaks! If messages start getting stuck, I'll try setting the keepalive time.

Here is my requirements.yaml file:

[2019-03-09 08:30] devZer0 commented on #9736
i think the poll feature is very nice, i gave it a try and found it very very useful. but seening later on that it was not available/shown in the mobile app.

you better should not call that "it's usable today" if some zulip feature is visible in desktop/web-app but not in mobile app.  i wondered why poll response in the thread i tried that feature was so low - just to find that it was not even sh

[2019-03-09 09:00] PaulPfl commented on #10776
Hey,
the setting is a kernel thing, so not possible to set it within the image. You can only document that requirement.
From what I read, there will be a feature to set kernel stuff in the docker-compose file like the ulimit already there, but it is not released yet.

If it is the problem, it should occur with the overlay network only and only if no messages are sent within the 15 min timeout.

[2019-03-09 12:48] reinethernal commented on #11788
Retyping ADD_TOKENS_TO_NOREPLY_ADDRESS helped for now. Thank you @timabbott !

[2019-03-09 13:06] davidtwco opened #11842 "Dismiss group direct messages"
When a user receives a group message then it appears on the right sidebar below the users, there is no way to dismiss group messages from this list and it will continue to grow if a user is often messaged by lots of different combinations of people, becoming unwieldy. It would good to be able to dismiss group messages so that only those that are regularly and frequently used are still listed.

[2019-03-09 13:13] davidtwco opened #11843 "Add option to only show unread count for mentions in muted streams"
It would be nice to have an option so muted streams do not show an unread count, instead showing the number of unread mentions in that stream. This is useful if a user isn't interested in a stream's contents, but wants to be in it so that they can be pinged.

*This is a feature request from a member of the Rust community that I'm submitting so it is visible and tracked.*

[2019-03-09 13:19] davidtwco opened #11844 "Add option for fixed/fluid width"
Add a display option that would allow users to customize whether Zulip is fixed width with side margins at higher resolutions or uses the full width. For example, [GitLab have a similar option](https://about.gitlab.com/2015/11/05/feature-highlight-user-preferences/).

*This is a feature request from a member of the Rust community that I'm submitting so it is visible and tracked.*

[2019-03-09 13:28] davidtwco opened #11845 "Support user-defined custom color schemes"
One of the blockers in adoption of Zulip within the Rust community (of those not already using Zulip) are the color schemes - some people don't like them (I personally do). Some settings that presents the user with a dozen or so inputs that they can use to set their own colors (as shown in Slack below) would resolve this problem. The existing color schemes could just populate these fields.

![imag

[2019-03-09 13:32] davidtwco opened #11846 "Add option to hide the search bar"
It would be useful to be able to hide the search bar, so that it appears upon pressing a button (near the settings cog) or from a keyboard shortcut. This space could then be used for showing more messages.

*This is a feature request from a member of the Rust community that I'm submitting so it is visible and tracked.*

[2019-03-10 00:42] timabbott commented on #4253
We have for a long time documented the `HOST_PORT` setting in  `docs/development/setup-vagrant.md`, which handles this issue, so I'm closing this.

[2019-03-10 00:42] #4253 closed

[2019-03-10 00:43] timabbott commented on #2429
I'm closing this as wontfix for now, since it was only ever a theoretical development environment tooling problem, and is unlikely to be worth spending time on until someone actually runs into a problem here.

[2019-03-10 00:43] #2429 closed

[2019-03-10 00:46] timabbott commented on #9054
I'm closing this, because our tooling already handles this issue automatically and we haven't heard of issues related to this in a year.

[2019-03-10 00:46] #9054 closed

[2019-03-10 00:50] #11546 closed

[2019-03-10 06:09] timabbott commented on #7619
@HarshitOnGitHub I just wrote pretty extensive documentation for how our authentication systems work internally in the comments in 873aca4a8243e3187fc00c38ae4da80ccf0cd88a; since you've been reading this code recently, I'd love it if you gave that a read and commented on anything that could be improved, either in terms of details that were really important for your understanding the code that aren

[2019-03-10 06:09] #7619 closed

[2019-03-10 06:20] timabbott commented on #11837
@SaintFenix we haven't seen this exception before.  I'm guessing the issue here reflects something unusual in your networking configuration.  The code in question appearing to be failing in authenticating a request from one process to another using the following code:

[code]

I would start with doing a `supervisorctl restart all` -- one possibility is that you regenerated the SHARED_SECRET secret

[2019-03-10 06:25] timabbott commented on #11846
@davidtwco thanks for opening this.  We agree that section of the webapp today is a bad use of space.  We have near-term plans to replace the center-top navbar with details on the stream (e.g. the "stream description", which is currently only surfaced in "manage streams").  You can see some screenshots of what we have in mind in https://github.com/zulip/zulip/pull/10101, which I expect @HarshitOnG

[2019-03-10 06:25] #11846 closed

[2019-03-10 06:43] timabbott commented on #11843
@davidtwco thanks for the report!  Just to explain Zulip's current behavior:
* We show unread counts for muted streams, but with a partially opaque styling designed to make it easy for one's eyes to filter those streams in the left sidebar if one so desires.
* We do not include unread counts for muted streams in totals (e.g. by "All Messages") unless the user was mentioned.
* One can use the "Ment

[2019-03-10 06:56] timabbott commented on #11844
@davidtwco thanks for the report.  Just to provide our thinking on this issue, research consistently shows that reading content is significantly more efficient if lines of text have limited width, in line with what one sees in Zulip, GitHub, most blogging software, etc.

That said, there's a decent number of people who prefer something different for their widescreen user experience, and this is so

[2019-03-10 07:02] timabbott commented on #11845
@davidtwco thanks for reporting this.  I'd be curious to hear more details about which specific colors folks have a problem with.  For context, @rishig and I have been discussing changes to the color scheme at least around mentions to replace the red background with something subtler.

We could certainly implement 8 different color customization settings, but that might be a much larger project th

[2019-03-10 07:12] timabbott commented on #11842
@davidtwco can you provide a screenshot of this being an actual issue, or is this a theoretical concern?

The "Group private messages" widget has two limits that I would expect make the failure mode described here extremely rare:
* For users who are caught up their non-muted message history, it will only contain conversations from the last ~1200 messages of the user's total personal message histor

[2019-03-10 07:19] timabbott commented on #9736
@devZer0 this is https://github.com/zulip/zulip-mobile/issues/3205.

[2019-03-10 07:54] mayankmadan commented on #7549
Aborting as there are going to be some architectural changes with this
https://github.com/mayankmadan/zulip/commit/d47a669090f242fe8e406a96cfd293506467557b

[2019-03-10 07:54] mayankmadan commented on #7549
@zulipbot abort

[2019-03-10 08:01] paras112 commented on #11618
@zulipbot claim

[2019-03-10 08:08] mayankmadan commented on #6018
@zulipbot claim

[2019-03-10 09:24] xiaomingplus opened #11856 "AWS S3 avatar upload bucket cannot specify a region"
I want specify a region for s3 upload.

I set the `boto.cfg`:

[code]

The message upload can work well.

but the avatar,it uploaded success,but display a designated url prefix,I found code here:

https://github.com/zulip/zulip/blob/master/zerver/lib/upload.py#L432

[code]

So,how to config avatar region at aws s3?

[2019-03-10 10:55] ajaykarthikr commented on #5142
@zulipbot claim

[2019-03-10 13:41] Pihlqvist commented on #10274
I have only followed the discussion in the chat linked above, want to familiarise myself with the project before taking on anything else. Will keep you posted.

[2019-03-10 14:10] davidtwco commented on #11843
Thanks for the detailed response! This issue was inspired by [one of the points in this post](https://internals.rust-lang.org/t/zulip-shortcomings/8454/2?u=davidtwco) as well as other ideas I had seen floated in more ad-hoc discussions. I think both of the features you suggest would be great and resolve this issue.

[2019-03-10 14:22] xiaomingplus opened #11857 "TypeError: redirect_and_log_into_subdomain() got an unexpected keyword argument 'multiuse_object_key'"
Github auth login with subdomain, `auth.xxx.com`,use web github login ,get follow error:

[code]

[2019-03-10 14:41] TheCelestial25 commented on #11670
I am still working on it, will write node tests soon.

[2019-03-10 16:20] thedeveloperr commented on #11685
@zulipbot still working on it was stuck on LDAP codebase

[2019-03-10 17:59] vinitS101 commented on #11607
Not sure what happened here, but a PR (#11759) exists and is pending review.

[2019-03-10 18:19] akornor commented on #11008
@timabbott I'm working on it. Should have a PR ready soon.

[2019-03-10 20:11] #11737 closed

[2019-03-10 20:29] timabbott commented on #11857
@xiaomingplus interesting; that's the configuration we use on Zulip Cloud, so I'm a bit surprised you're running into issues with it.  I think you must be using a fork of zUlip, because this definitely accepts such an argument:
[code]

The commit that added passing that argument is here: 868a763cec2fd9759f247ece3dd9e07388fc7ce6

So I'm going to close this as invalid -- this is an issue in your for

[2019-03-10 20:29] #11857 closed

[2019-03-10 20:41] timabbott commented on #11856
@xiaomingplus as I understand it, public S3 URLs do not include the region in the URL, so I don't understand what you're trying to report.  .

[2019-03-10 20:42] timabbott commented on #11253
Closing due to no response.

[2019-03-10 20:42] #11253 closed

[2019-03-10 20:43] timabbott commented on #10643
@x007007007 is this something you had in mind for the mobile app, or the webapp?

[2019-03-10 20:45] timabbott commented on #10472
@southisle were you able to resolve this issue by e.g. adjusting the IO ops limits on your database?

[2019-03-10 20:49] timabbott commented on #10289
@rmit-s3660270-shahd-sideek this feature request implemented in Zulip 2.0.

[2019-03-10 20:49] #10289 closed

[2019-03-10 20:49] #10368 closed

[2019-03-10 20:51] timabbott commented on #10207
Zulip 2.0 added support for using the LDAP authentication backend with multiple subdomains (using the same LDAP database for both).  https://github.com/zulip/zulip/issues/852 tracks the issue of using a different LDAP database.

[2019-03-10 20:51] #10207 closed

[2019-03-10 20:52] timabbott commented on #9692
@2208Abhinav this is probably another good test case for keyboard issues.

[2019-03-10 20:54] timabbott commented on #9801
I just labeled this as a markdown processor bug, since that's where it belongs (it'd been miscategorized).

[2019-03-10 20:54] timabbott commented on #10424
Closing as this was moved to chat.

[2019-03-10 20:54] #10424 closed

[2019-03-10 20:57] timabbott commented on #10643
This is probably a feature that wouldn't be super hard for either web or mobile if we find the right JS library to do the recording piece; once that's done, we can just pass the result into our standard file upload system.

[2019-03-10 20:59] timabbott commented on #991
I'm closing this in favor of https://github.com/zulip/zulip/issues/11560 since the newer duplicate is probably more helpful for future work on this.

[2019-03-10 20:59] #991 closed

[2019-03-10 21:00] timabbott commented on #9853
Closing this since the only reproducible issue is definitely fixed, and the rest sounds like a configuration issue of some sort.  In any case, we will be replacing `camo` entirely in the coming months, which would make any bug in the `camo` service obsolete anyway.

[2019-03-10 21:00] #9853 closed

[2019-03-10 22:45] SvetlanaTkachenko opened #11858 "automatically detect cross links"
When I link to this topic inside of another one, a message 'Svetlana linked to this topic THERE (link)' should appear here, I think this could make it easier to track related discussions.

This is discussed at https://chat.zulip.org/#narrow/stream/137-feedback/topic/automatically.20detect.20cross.20links .

[2019-03-11 02:33] 2208Abhinav commented on #9692
@timabbott this issue is also closely related to the pr I made recently and is same as the issue #11448(to which I am assigned) and that same solution worked for this. But while debugging I observed that there is something more to this issue. The pr that I made solves this issue but not satisfactorily, the first time when the user tries to add emoji the popover closes but the second time it works

[2019-03-11 02:34] 2208Abhinav commented on #9692
@timabbott I think we can close this issue because #11448 is opened recently and I am assigned to that.

[2019-03-11 03:15] gaharavara opened #11860 "Frontend markdown doesn't treats + or - as list item indicators"
It seems like the frontend markdown parser treats only * as a list indicator while - or + are not treated as a list indicators, thus raising different outputs.

Steps to reproduce:
type the below in message and click on eye button
[code]

we get the backend rendered content which is the expected output

![backend](https://user-images.githubusercontent.com/41135524/54098187-73b95200-43d9-11e9-81f0-

[2019-03-11 03:21] AsociTon commented on #11860
@zulipbot add "bug"

[2019-03-11 03:22] AsociTon commented on #11860
@zulipbot add "area: markdown"

[2019-03-11 06:16] janning commented on #11845
I'm not sure if this is a related issue or a separate one, but when I try to customize the color of a stream, it won't accept any "pure" colors [#ff0000, #f00, rgb(255,0,0), #00ff00, #0f0, rgb(0,255,0), #0000ff, #00f, rgb(0,0,255), #ffff00, #ff0, rgb(255,255,0)] or basically any color that's at the very edge of the color box. It will, however, except 1 value away [rgb(255, 1, 1), #ff0101].

[2019-03-11 06:20] xiaomingplus commented on #11856
@timabbott it seems only the Chinese region's aws s3 does not support

<http://docs.amazonaws.cn/en_us/aws/latest/userguide/s3.html>

in Chinese aws,the url:

https://zulip-avatar.s3.amazonaws.com/2/realm/icon.png?version=6

should be replace:

https://zulip-avatar.s3.cn-northwest-1.amazonaws.com.cn/2/realm/icon.png?version=6

Chinese wall,you know...

[2019-03-11 06:20] Harshagarwal19 commented on #11860
@zulipbot claim

[2019-03-11 07:12] cb0n3y commented on #11715
Hi timabbott, thank you for your patience, well you asked me which LDAP configuration am i using. As far as i can say i'm using A and also B (i guess).
The config look like this:
A:
AUTH_LDAP_USER_SEARCH = LDAPSearch("CN=Users,DC=intern,DC=",
                                   ldap.SCOPE_SUBTREE, "(uid=%(user)s)")
B:
LDAP_APPEND_DOMAIN = None  # type: Optional[str]

C:
LDAP_EMAIL_ATTR = "mail"  #

[2019-03-11 11:48] davidtwco commented on #11842
At the moment, it's mostly a theoretical concern raised by some users, more of an aesthetic thing than a functional thing.

It's desirable to be able to cull the list of group direct messages so that there's just less noise on the screen, and for users who use the group direct messages list as a set of conversations that they'll revisit with some regularity, to have easier access to those conversa

[2019-03-11 12:14] luizaloureiro commented on #11828
thank you!

[2019-03-11 15:29] Raghavareddy21 commented on #7902
@timabbott is this feature needed?

[2019-03-11 15:43] paras112 commented on #11618
@zulipbot abondan

[2019-03-11 16:11] davidtwco opened #11864 "Add option to sort muted streams to the bottom of the list"
*This may overlap with #1085, so feel free to close if so.*

It would be great if there was an option that changed the sort order of streams in the left sidebar so that muted streams were always at the bottom. This would be particularly useful when a user is a member of many streams that they are occasionally pinged from, but don't actively follow the conversations (and so therefore mute them) but

[2019-03-11 17:50] andreasoc opened #11865 "Feature request: Upload all type files from Mobile app"

[2019-03-11 18:03] #11708 closed

[2019-03-11 18:14] rishig opened #11866 "hotkeys: Add `e` for edit message."
Some discussion here: https://github.com/zulip/zulip/pull/11804#issuecomment-471134585.

[2019-03-11 18:27] timabbott commented on #11842
OK.  Structurally, it wouldn't be hard to have an X button that would hide these for the duration of the current browser session; it'd be significantly more work to do this in a persistent fashion but certainly doable.  Do you think the `X` button that dismisses it for the duration of the current browser session (with a plan to eventually persist that to the database) would be useful?

That all sa

[2019-03-11 18:42] timabbott commented on #11845
@janning that's a totally unrelated recent regression, but thanks for the report!  I'll fix that now.

[2019-03-11 18:45] Harshagarwal19 commented on #11866
@zulipbot claim

[2019-03-11 18:49] timabbott commented on #11791
This was indeed the word boundary bug described above; fixed in master, should be on Zulip Cloud tonight.

[2019-03-11 18:50] #11791 closed

[2019-03-11 19:17] akshaygupta533 commented on #10794
@zulipbot abandon

[2019-03-11 19:21] akshaygupta533 commented on #11834
@zulipbot claim