[2016-09-06 17:47] timabbott opened #1756 "Document more clearly that invite-only streams are invisible to other users"
This should at least be documented here: http://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#messages-and-history, but probably also should be documented clearly in the stream creation UI for how invite-only streams work.

Inspired by: https://zulip.tabbott.net/#narrow/near/21879/stream/documentation/topic/community

[2016-09-06 17:55] mohsenSy opened #1757 "Cannot open uploaded images"
I installed zulip by following the instructions in the readme file on my production server, it works great but when I upload an image to a chat I cannot see the uploaded image and if I try to open it I get 404 error.

This is the URL of one of the images: `https://zulip.xxxxx.com/user_uploads/2/9b/3Y3xq7ZxfGGeMd878hJoTR5c/Capture3.JPG`

zulip is great and I really love it please help.

[2016-09-06 18:54] christi3k commented on #1754
Draft outline for this guide. Would love feedback from @timabbott, @showell, @brainwane and others.

**Part 1: Overview of Zulip way of doings things.**

This will be a brief overview. Those who are very familiar with git will be able to read this and get to contributing. It'll cover these critical details:

- we use git with a rebase-based workflow (link to what that is)
- we have a commit discip

[2016-09-06 18:55] showell commented on #1757
Please join the public Zulip instance, and we will try to help you:

https://zulip.tabbott.net/#narrow/stream/installation.20help

We had a bug with our 1.4.0 release.  We've uploaded a patch, but you may need to do some cleanup that we can help you with.

[2016-09-06 18:56] timabbott commented on #1757
This was fixed in the Zulip 1.4.1 release; @mohsenSy can you try upgrading?  See http://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#upgrading for docs on how to upgrade.

[2016-09-06 18:56] #1757 closed

[2016-09-06 19:02] showell commented on #1754
Looks great! I'd put the we-encourage-submitting-early-and-often message as basically the first thing we say on this page, since everything else can be cleaned up after the fact.

[2016-09-06 19:11] timabbott commented on #1744
Yeah, we should do this.  I think basically we want to add a `version.py` file in the root of the repository that has the version, and we just need to update it to e.g. 1.4.1 on release and e.g. 1.4.1-alpha post-release.

[2016-09-06 19:12] showell opened #1758 "Please do not use 1.4.0."
If you are thinking of upgrading to 1.4.0, please be advised that it has errors.  Please go directly to 1.4.1.

If you are already experiencing issues with 1.4.0, please join the Zulip public instance and we will help you sort it out:

https://zulip.tabbott.net/#narrow/stream/installation.20help

[2016-09-06 19:13] showell commented on #1752
See #1758.

[2016-09-06 20:39] hackerkid opened #1760 "User profile page"
Every user would have a profile page which can be used to display github, twitter handles etc. The realm administrator should be able customize fields like phone number, handles, etc.

[2016-09-06 21:05] timabbott opened #1761 "Improve signaling to users around message edit being disabled after 10m"
I think we need to add a clear notice in the message edit content indicating why message editing is disabled in the event that the timer has run out.

While we're at this, it probably makes sense to add a "Show original" option for messages that you didn't write in place of the "Edit" option.  This is a somewhat commonly requested feature as well.

[2016-09-06 21:05] timabbott commented on #1761
(For context, we've been getting a nontrivial number of reports from folks who are confused as to why they can't edit their messages due to this feature)

[2016-09-06 21:13] timabbott commented on #1731
@TI-Admin the initial issue was fixed in Zulip 1.4.1, but since you mentioned another problem: are you still being spammed by cron emails?  I want to make sure we fix that issue if it is still happening.

[2016-09-06 21:16] #391 closed

[2016-09-06 21:18] #468 closed

[2016-09-06 21:19] timabbott commented on #1731
(Closing this issue since it was fixed; we can open a new one for the cron issue if it is still present).

[2016-09-06 21:19] #1731 closed

[2016-09-06 21:20] timabbott commented on #1752
Fixed in the Zulip 1.4.1 release; thanks @MarkCupitt for the report!

[2016-09-06 21:20] #1752 closed

[2016-09-06 21:50] timabbott commented on #1732
This was fixed in the Zulip 1.4.1 release.

[2016-09-06 21:50] #1732 closed

[2016-09-06 21:52] timabbott commented on #1748
@mark0978 is this a duplicate of #541?

[2016-09-06 22:10] timabbott opened #1762 "Zulip development environment broken due to pgroonga bug"
See https://github.com/pgroonga/pgroonga/issues/22 for details, but pgroonga seems to have broken their installation process in their public apt repository.

I'll probably need to revert pgroonga support to fix this, which is kinda annoying.

[2016-09-06 22:21] timabbott commented on #1734
We should come up with a visual design for how the notifications can solve this problem well.

@brockwhittaker may be a good project for you to look at...

[2016-09-06 23:11] timabbott commented on #1758
Now that 1.4.1 is advertised on the zulip.org website, I guess we can close this.

[2016-09-06 23:11] #1758 closed

[2016-09-07 04:19] timabbott commented on #1762
The upstream pgroonga installation issue was fixed, so we can skip reverting our pgroonga support.  Yay! :)

[2016-09-07 04:19] #1762 closed

[2016-09-07 05:12] timabbott commented on #1743
I think this isn't a tsearch issue -- seems like it's actually an issue with the frontend search code that should be adding the quotes in this case.

[2016-09-07 08:57] mohsenSy commented on #1757
@timabbott I upgraded but the issue still persists.

[2016-09-07 10:39] umairwaheed commented on #150
@timabbott, can I take a shot at this?

[2016-09-07 10:40] mohsenSy commented on #1757
To fix the issue I had to manually create the folder `/home/zulip/uploads` and move all folders from `/home/zulip/var/` to it.

[2016-09-07 12:12] umairwaheed commented on #150
How about this design?

![screen_shot_2016-09-07_at_5_08_53_pm](https://cloud.githubusercontent.com/assets/641763/18311518/2c67f226-751e-11e6-8d15-d6b25a641b7c.jpg)
![screen shot 2016-09-07 at 5 09 16 pm](https://cloud.githubusercontent.com/assets/641763/18311529/36462e0c-751e-11e6-80b2-7e8bab5ed9c1.png)

[2016-09-07 12:16] 3ruce commented on #150
Looks great to me!

[2016-09-08 00:05] timabbott commented on #150
Sure, yeah, that seems like a great project.  We can start with that design and iterate from there (most of the technical complexity is going to be in the backend implementation anyway).  And is probably a good project for getting deeper familiarity with the Tornado event system.

[2016-09-08 00:10] timabbott commented on #1760
Yep, sounds good.  I think basically we'll have a column (probably a Json field) in the Realm table defining which fields exist (with each having an ID, name, and field type) plus a column in the UserProfile table for the relevant values associated with a particular user.  We can send down the data in the same part of page_params that is used to setup people.js, and do live updates like we do for

[2016-09-08 02:13] timabbott commented on #1005
OK we now have everything other than the transaction rollback case done.  I think the transaction rollback case is sufficiently low-priority to test (and sufficiently annoying to test) that I'm OK with closing this issue as resolved even though we still have 3 lines uncovered.  Thoughts @showell?

[2016-09-08 02:40] #618 closed

[2016-09-08 02:49] timabbott commented on #618
This integration was merged just now!

[2016-09-08 03:02] timabbott commented on #1754
I would move the "setup Travis CI to test all remove branches in your fork" into part 1.  And also move tools/setup-git-repo into part 1.

@brockwhittaker and @umkay do either of you have thoughts on this guide?

[2016-09-08 03:37] timabbott commented on #1755
I definitely think this would be a great improvement to Zulip.  It shouldn't be too hard to hook it up to Zulip server.log...

[2016-09-08 04:21] GervaisdeM commented on #1755
When I tail django.log and try to login with a bogus email address, I see the following:
[code]

Would be nice if zulip reported something a little more akin to a login error.

I thought I had it all tooled up, but my regex must be incorrect.

[2016-09-08 04:46] timabbott commented on #1755
Hmm, yeah, it seems like those shouldn't be 200s.

[2016-09-08 04:50] timabbott commented on #1755
I guess that's a Django default, see e.g.:
http://stackoverflow.com/questions/25839434/django-login-with-wrong-credentials-returns-200-not-401

We could relatively easily add an extra element to the log lines which makes it more clear that a login error occurred, if we don't want to do a 40x response.

As a sidenote, to do this right we should probably hook fail2ban up to all the URLs that take pa

[2016-09-08 04:59] timabbott commented on #1757
Cool, yeah it makes sense that one should need to do that.  If I'd been around pre-1.4.1 I'd have included code in the upgrade script to do that automatically :/.

[2016-09-08 05:01] timabbott commented on #1733
To what extent do you think the little pencil message-edit icon is important?  We could either (A) remove it or (B) move it to where the star/caret icons are so it has a stable location.

[2016-09-08 05:04] timabbott commented on #356
I'd certainly love to see this worked on, and I'd be very happy to provide guidance to someone investing time into the project.

[2016-09-08 05:39] timabbott commented on #1744
Thoughts on https://github.com/zulip/zulip/pull/1764 @showell ?

[2016-09-08 06:24] timabbott commented on #733
Here's an updated list:
[code]

Strategically, I think we should focus effort on clearing the list of different files down, since if we get it down to just <10 files, I think we can reasonably just move the files that aren't fully annotated to the exclude list and make `--disallow-untyped-defs` enforcing to ensure we don't regress mypy coverage.

[2016-09-08 10:46] umairwaheed commented on #150
Sure.

[2016-09-08 13:43] GervaisdeM commented on #1755
I'm no fail2ban expert, I always use the built in filters, but they don't seem overly complicated.
If the error messages reported for failed logins is going to change, then it makes sense to only do the fail2ban work once they are in place.

I can definitely give it a go once things are in place.

[2016-09-08 14:12] showell opened #1765 "(upgrade) Fix up "uploads" automatically from 1.4.0 upgrade."
If we get continued reports of people having problems with uploads after 1.4.0, we may want to write some code in 1.4.2 that automatically moves files from var/uploads to uploads.  It may be too late to justify the effort for this fix, though, as hopefully most folks who installed 1.4.0 would have already dealt with the issue somehow, and hopefully new folks will install newer versions.  Writing t

[2016-09-08 15:50] showell commented on #1005
It's kind of a shame to leave 3 lines untested.  If we are test covering the happy path, it wouldn't be too risky to extract out a method called combine_two_actions() that basically does this:

[code]

And then we could cover the generalized method pretty easily with simple stubs and mocks.

[2016-09-08 16:05] showell commented on #1005
The test for the generalized method might not even stubs/mocks.  Pseudocode follows:

[code]

[2016-09-08 18:42] timabbott commented on #1739
@brainwane do you think being reminded in a configurable period of time is the right model, or is what you're looking for really a way to just keep track of a message you want to process later?  The reason I ask is that we've been talking about modifying or splitting the starring feature to be framed as more of a "messages to come back to" sort of feature where we show the count of remaining starr

[2016-09-08 18:42] timabbott commented on #1739
@showell we can always make a "more" option if we want to avoid cluttering up the action list too much.  I think we do need a feature in this problem space, just not sure what precisely it should be.

[2016-09-08 18:44] timabbott commented on #1755
Yeah, I think adding a `[password fail]` element in the log lines for failed password attempts would probably make this clearer, and with that I'm sure it'd be easy to write a fail2ban filter for it...

[2016-09-08 18:44] timabbott commented on #1125
To follow up on some discussion we had on #1729, I think we should at least move our management commands that use optparse to use argparse, since that's sorta the Django standard at this point.

[2016-09-08 18:45] timabbott commented on #1125
Also, there's some evidence on https://bugs.python.org/issue9334 that argparse may eventually be fixed to not have this heuristic (in that there are at least some patches up for it).

[2016-09-08 18:49] showell commented on #1739
Yeah, I know we can add a "more...", but then you're burying the feature, which is fine if it's kind of an advanced use case, I suppose.

But, yeah, I really think there's a bigger question here, like how can we generalize the problems statement beyond email reminders, or can we tackle "remembering messages" and "trigger emails" as two mostly separate problems?

[2016-09-08 19:03] timabbott commented on #1736
Yeah, seems like we should probably do 2 things:
(1) Eliminate the number and just rely on the favicon count
(2) Add an option to allow a user to configure Zulip to only show mention/PM counts in the favicon.  I think there's been some discussion of this broader topic in another issue as well...

[2016-09-08 22:04] rishig commented on #1733
I think editing is probably used often enough to justify keeping the icon somewhere. (B) seems reasonable mod the potential reduction of horizontal space for the message. We can also wait on this till the redesign of the message pane.

[2016-09-08 23:35] timabbott commented on #1739
Yeah, agreed.

As a sidenote, I believe Slack's "remind me" feature comes in the form of a Slack PM, not an email, so that's a difference between @brainwane's proposal and what Slack does today.

[2016-09-08 23:36] timabbott commented on #1005
yeah, that would work as a testing strategy.

[2016-09-08 23:37] timabbott commented on #1765
Yep, sounds good.  It wouldn't be crazy to just add code to fix it and stage such code for a 1.4.2 release.

[2016-09-08 23:38] timabbott commented on #1765
Though, actually, maybe that's wrong.  1.4.0 is totally broken on upgrade because of the settings symlink issue, and so basically only people who install 1.4.0 from scratch (or manually fix that up) will see the uploads problem.

[2016-09-08 23:39] timabbott commented on #1765
We should probably just resolve this by updating the docs to discourage upgrading through 1.4.0.  I think to me that means the next step is to move the zulip.org hosting so it's easier to change.  I'll work on that soon.

[2016-09-08 23:45] showell commented on #1739
When all three of us are on ztn at the same time, we should do a public brainstorm on this.  I think it is generally a good policy to simply emulate Slack when their features are reasonable, so I don't want to overthink this too much, but I do want to talk it out.

[2016-09-09 15:48] timabbott commented on #1230
This was resolved by #1178.

[2016-09-09 15:48] #1230 closed

[2016-09-10 01:26] mark0978 commented on #1748
Yes, but a poor version of it.

[2016-09-10 01:26] #1748 closed

[2016-09-10 04:27] vikas-parashar commented on #1530
My two cents, We can prefix dynamic CSS classes with `js-`. Something like this:

`<img class="banner js-visible" src="" />`

This way we can easily track the dynamic classes. This also makes the code easier to understand. So one can edit the `banner` without worrying about breaking the JS code while another can edit the `js-visible` without breaking the styling.

[2016-09-10 04:32] timabbott commented on #1530
Interesting idea.  @brockwhittaker @showell what are your thoughts on this?

[2016-09-10 05:00] timabbott opened #1767 "Implement a push notification bouncer service for Android"
The Google Cloud Messaging platform for Android push notifications does not support multiple mutually untrusted servers sending push notifications to the same app (in particular, the server has to have a certain secret key associated with the app).

In order to support push notifications for arbitrary Zulip servers, we need to build (or deploy) a push notification bouncer service that can redirect

[2016-09-10 13:12] showell commented on #1530
Almost all of the classes that JS adds dynamically to the HTML are part of CSS styling.  JS and CSS are inherently intertwined.  Some HTML classes are only used for click handlers, so I could see applying a naming convention there.

[2016-09-10 16:43] vikas-parashar commented on #1530
@showel Nice catch. afaik, adding prefix doesn't mean that these classes can't be used for styling. In above example we can add CSS properties to `js-visible` and not use just as handlers. Only thing prefix does that it let the developer know that the class is being used in JS so he doesn't break things.  :)

[2016-09-10 17:21] GervaisdeM opened #1768 "Translate `:-)` to `:smile:`"
After using `:-)` and `:-(` and `;-(` forever, I'd really like it if Zulip would convert those to the standard emoji for smily and sad and cry.

:-)

[2016-09-10 17:23] timabbott commented on #1768
Before doing this I think we need to switch emoji sets: https://github.com/zulip/zulip/issues/209

Since the Google Android emoji we're currently using don't have normal enough looking smileys.

[2016-09-10 17:25] showell commented on #1530
So I get what you're saying, I think.  In a web app HTML classes serve two different functions:

- they allow you to trigger styling via CSS
- they allow you to find DOM elements from JS code

I totally agree with you that we should try to separate those concerns, so, like you're saying, have one class for styling and another class for DOM manipulation.  There are cases in Zulip where we violate t

[2016-09-10 17:25] #1530 closed

[2016-09-10 17:33] GervaisdeM commented on #1768
I just did a bit of testing with slackbot...

`:-(` = `:slightly_smiling_face: `
`:-(` = `:disappointed:`
`;-(` = `;-(`

[2016-09-10 17:39] showell commented on #731
In #1530 @vikas-parashar suggests that we have a naming convention that tells us which HTML classes are not to be used for styling and should be reserved for DOM manipulation.  One possible prefix is `js-`, but I think that might be slightly confusing, since JS often manipulates HTML classes related to styling.  I can't think of a great alternative--you could say something `non-css-dom-location-fo

[2016-09-10 17:47] timabbott opened #1769 "Occasional pgroonga test flakiness"
We've been seeing occasional nondeterministic test failures in CI related to pgroonga, e.g. here:
https://travis-ci.org/zulip/zulip/jobs/158890340

@kou do you have any ideas for what could be going on here?  Is there logging that would make sense to add to try to debug this?

[2016-09-10 19:36] timabbott commented on #1769
I just saw this happen on Python 2, so it's flaky regardless of Python version.

[2016-09-11 00:29] TheKigen opened #1770 "Internal Server Error during initial account registeration"
I setup Zulip on a fresh VM, Ubuntu 16.04.

I followed the exact directions listed in https://zulip.readthedocs.io/en/latest/prod-install.html

I got the unique one time organization creation link.  I verify my email then when I enter my information and click submit I get an internal error page.

I got this error in /var/log/zulip/errors.log:

[2016-09-11 01:45] TheKigen commented on #1770
Additional error I found that seems related.

[2016-09-11 01:56] TheKigen commented on #1770
The fix for me was to do the following.

[2016-09-11 18:19] GPHemsley opened #1774 "Factor out HtmlTreeBranch and related code from template parser"
Move the following out of `tools/lib/template_parser.py` and into their own file:
* `Node`
* `TagInfo`
* `HtmlTreeBranch`
* `html_branches`
* `get_tag_info`
* `html_tag_tree`

[2016-09-11 20:25] #1774 closed

[2016-09-11 23:48] timabbott commented on #507
The issue is that the Vagrant environment only forwards port 9991 from the vagrant guest to the host.  So, on the Vagrant guest, ports 9991-9994 are in use and work, but only port 9991 exists on the host for the Vagrant environment.

[2016-09-12 06:36] 3ruce commented on #743
When I first encountered this aspect of Zulip, I was expecting an option in the attached image to give me the option of splitting a topic off into a new one...

![screenshot_2016-09-12_08-34-12](https://cloud.githubusercontent.com/assets/1258786/18426713/e9ecd5a2-78c3-11e6-8f71-8aa1b4cbdb89.png)

Editing the topic of a message is fine but adding it to the message/topic options might be an idea to

[2016-09-12 07:50] kou commented on #1769
Could you confirm all messages without narrowing before and after narrowing request like the following?

[code]

Some `zerver_message.search_pgroonga` may not be updated yet.

[2016-09-12 08:09] TomaszKolek opened #1777 "Test hooks refactor"
After some discussion, we'd like to split test_hooks file to a few files with one tested hook per one file. Before that, we'd like to think about some general changes to provide.

In general, simple cases (actually most of the hooks) are really easy to do using general "framework".

One case that @timabbott pointed out is:
[code]

Maybe we should create some decorator, with statement or something

[2016-09-12 14:47] showell commented on #1005
I am working on making my suggestion from a couple comments ago work.

[2016-09-12 16:14] timabbott commented on #733
OK, we've now reached the glorious point where every file checked by mypy is 100% annotated.  There are still some files that are not checked by mypy for a variety of reaasons, but I think we've achieved the goal of this issue.  I'll open a new one for the follow-up issue of getting mypy running on the remaining files.

[2016-09-12 16:14] #733 closed

[2016-09-12 16:19] timabbott opened #1779 "Get mypy running on remaining files in Zulip project"
As a follow up to #733, there are a couple dozen files in Zulip that are not fully annotated using mypy, largely because they don't pass mypy checks easily.  These are listed in the various `exclude` rules at the top of `tools/run-mypy`.

Most of these files are scripts/tools/integrations or tests.  It'd be great to get these fully passing mypy checks and annotated, since we have found bugs via my

[2016-09-12 16:21] timabbott commented on #676
We now have implemented several of the ideas I suggested somewhere in our documentation.  Things we should probably add include:
* Add a new module to the Zulip frontend
* Modify the Zulip markdown syntax (would be the how-to complement to docs/markdown.md; might be a bit tricky to write just because it's somewhat complex)
* Make a UI change / Add a new section of HTML (via Django templates or han

[2016-09-12 16:27] timabbott commented on #256
This issue is basically done -- all of our test suites but the end-to-end production installation one pass with Python 3.  The remaining list is:
* run-dev.py doesn't support Python 3
* build-release-tarball (#1752)
* Testing actually running Zulip in Python 3 in a production environment.  I'd start with getting the `production` test suite in Travis CI passing with Python 3.

[2016-09-12 16:28] timabbott commented on #260
This was resolved with the new management command in the Zulip 1.4.x release.

[2016-09-12 16:28] #260 closed

[2016-09-12 19:21] timabbott commented on #792
We merged the actual tutorial a while back; I'm not sure why this didn't get closed then.

[2016-09-12 19:21] #792 closed

[2016-09-12 19:22] timabbott commented on #725
Closing this since the items described there are all complete, and this is now an out-of-date duplicate of: https://github.com/zulip/zulip/issues/1779.

[2016-09-12 19:22] #725 closed

[2016-09-12 19:29] timabbott commented on #1769
@kou we can add that logging, but do you understand why the table might not be updated yet?  It would seem to me that this code should have guaranteed it was updated, right?

[code]

Is there some other thing we need to do to ensure that the update is completed?

[2016-09-12 19:33] timabbott commented on #731
Might be good to have a list of what tags we're thinking about doing this with as examples in the discussion.  I think it's hard to know what's correct in the abstract.

[2016-09-12 20:35] umkay commented on #1455
this still appears to be occurring.

https://travis-ci.org/zulip/zulip/jobs/159415314

[2016-09-12 21:04] timabbott commented on #1147
Left arrow key might be a good choice for this, what do you think @bmalynovytch?

[2016-09-13 02:44] brainwane commented on #135
I just ran into this need myself.

[2016-09-13 03:07] TheKigen commented on #1770
No, I did not reboot between steps.  It was not suggested.  Once completed and everything was installed and I couldn't login I tried rebooting then.  The hostname was not changed.  It was set only once during Ubuntu install and that was it.

[2016-09-13 04:30] kou commented on #1769
I don't know the reason why this problem is occurred yet. So I just wanted to confirm that correct things and wrong things in the following flow:

1. Add messages
2. Update `search_pgroonga`
3. Update PGroonga index
4. Search messages with PGroonga index
5. Return matched messages

The change just confirms 2.. If 2. is correct, I'll want to confirm 3. or 4..

If you don't like this approach, I'll

[2016-09-13 04:43] bgilbert opened #1783 ""Sent!" bar appears in browser tabs that didn't send anything"
If a message is sent from browser tab A, and browser tab B has an open compose box _and_ is narrowed to not show the message, tab B will show a green status bar containing some variant of `Sent! Your message is outside your current narrow.`  As a result, when several tabs are used to participate in conversations with different narrows, they each perpetually have a green bar talking about something

[2016-09-13 04:54] timabbott commented on #1783
That's totally a bug.  I'm surprised that we're checking that on the receive code path rather than the send code path, but either way because of the `local_id` code for handling local echo, we should have a clear understanding of whether the message was sent by the current tab in the relevant part of the receive code path that triggers this message.  Thus, I suspect this would be a fairly quick fi

[2016-09-13 04:57] timabbott commented on #1455
@umairwaheed I'm now wondering whether `test_narrow` has some of the same missing `casper.then` issue you've been fixing elsewhere -- can you take a look?

[2016-09-13 05:07] timabbott commented on #1005
There's still 1 line in zerver/views/streams.py uncovered, which is probably about as hard to reproduce as this last one, in that it requires one to actively cause a race where two threads are creating streams at the same time.  Probably doable with the right `mock.patch` game though?

[2016-09-13 05:14] timabbott commented on #707
@showell do you have thoughts on how we might want to rearrange the integrations currently under `bots/`?  Deciding what to do there is all that really remains from this roadmap issue.

[2016-09-13 05:35] timabbott commented on #132
I think the Zulip settings page in the UI now documents this pretty well, so I'm closing this.  Yay i18n!

Thanks to all the folks who helped with this!

[2016-09-13 05:35] #132 closed

[2016-09-13 05:44] umairwaheed commented on #1455
@timabbott, https://github.com/zulip/zulip/pull/1598/commits/5103f50a60f3e8e492eb4ede822b6524568324c8 fixes this issue. Let me tag this issue in that commit.

[2016-09-13 06:42] timabbott commented on #1455
OK, that means I merged it earlier today as: https://github.com/zulip/zulip/commit/d171e2c8d91df02da33a6b331a5eb26c6747a29e

So I guess we can close this as likely already fixed today :).

[2016-09-13 06:43] umairwaheed commented on #1455
Yep!

[2016-09-13 07:16] showell commented on #1005
Yeah, that last line is testable, I think, although not as nicely as the rollback thing, where I felt pretty confident the test was really simulating the runtime situation (just with simpler methods).

I think we should try a mock.patch() thing there.   A good mocked test will probably at least make it hard to rearrange the code without being somewhat thoughtful of the race scenario.

[2016-09-13 07:30] showell commented on #707
@timabbott I've never worked much in the `bots` directory, but it certainly seems like we should have a "mirrors" directory somewhere.  (I'm not sure the exact spelling, but I think it should say something about "mirror" or "gateway".)

[2016-09-13 07:43] showell commented on #1661
#1778 starts to address the automation of cleaning up templates.

[2016-09-13 07:49] showell commented on #1662
For `admin_tab` and `settings_tab` we can probably use the upcoming re-design of our settings screens as a good opportunity to think about simplifying or breaking up the corresponding templates.  For `single_message`, there may be some minor re-design changes, but even without re-design, I think we should decide if we really need a zillion divs around each message.

[2016-09-13 11:33] bmalynovytch commented on #1147
Hmm ... Why not, it's straightforward. Is it hard to implement ?

[2016-09-13 15:38] UTpH commented on #675
I just experienced Zulip today. On my first attempt I after I subscribed, I wasn't sure of the sub-channels(threads) and therefore created a new thread, 'intro' in Outreachy 2016-2017 by mistake. I think the introduction tutorial kind of prompts you to make a thread, give it a simple name and start off.  Plus, once created, I could see no way of deleting the thread to rectify my mistake too.
On an

[2016-09-13 15:49] timabbott commented on #1147
I haven't investigated specifically, but I suspect it would not be hard; likely a small amount of code in static/js/hotkeys.js.

[2016-09-13 16:08] timabbott commented on #1744
Fixed via #1764.

[2016-09-13 16:08] #1744 closed

[2016-09-13 16:09] timabbott commented on #1476
This was done yesterday.  Yay!

[2016-09-13 16:09] #1476 closed

[2016-09-13 16:12] timabbott commented on #860
Resolved via #1764

[2016-09-13 16:12] #860 closed

[2016-09-13 22:07] hackerkid commented on #1760
@timabbott Yeah. Other that the custom fields should we have any common default fields for all the realms (eg current status of the person)?

[2016-09-14 01:33] timabbott commented on #1760
I think we can do stuff like the current active status in the template pretty easily with just changes on the frontend.  Note that you get something kinda like a profile if you click on a user's name inside a message body; I think maybe a good preliminary part of this project might be to have that template mostly replace the one we have if you click the caret in the right sidebar for a user.

[2016-09-14 03:16] showell commented on #1769
See https://github.com/zulip/zulip/pull/1790/commits/8c56c4ada3d28100553abcaf7b0cdcdb006832f5

[2016-09-14 04:14] timabbott commented on #1662
@brockwhittaker has been doing some work on those two to make them simpler to design, which I think may have the side effect of decreasing the div crazyness...

[2016-09-14 04:55] #68 closed

[2016-09-14 04:56] timabbott commented on #68
This integration was just merged!  Thanks @Vallher for all your work on this! :)

[2016-09-14 08:02] TI-Admin opened #1791 "zulip logrotate fails"
I get an error with zulips logrotate on Ubuntu 14.04.

/etc/cron.daily/logrotate:
error: zulip:4 unknown unit 'B'
error: found error in /var/log/zulip/server.log /var/log/zulip/workers.log /var/log/zulip/manage.log , skipping

I guess the size 1GB in /etc/logrotate.d/zulip should just be 1G ?

[2016-09-14 17:06] #1756 closed

[2016-09-14 17:11] timabbott commented on #1791
Yep, should be `1G`, was fixed in: 12ddb1a36f68742dfb0a6170aa2b1fe607ff61c3

[2016-09-14 17:11] #1791 closed

[2016-09-15 04:55] timabbott commented on #646
This is a lot better now that we have `deploy-zulip-from-git`; I think the next step on that front will be to test whether there are migrations to apply before starting the downtime.

[2016-09-15 07:38] rishig opened #1795 "Prod install with only google auth gives error on registration"
Install 1.4.1 with only google auth enabled, invite some users. The accounts/do_confirm registration link allows you to enter your name, and then gives a CSRF error on submit. (The registration does go through though, as you can then log-in.)

[2016-09-15 13:04] GervaisdeM commented on #1768
Last bit on this (as I know it is not important). I was poking around in my Slack preferences and I found this setting:

![screen shot 2016-09-15 at 10 02 54 am](https://cloud.githubusercontent.com/assets/963514/18550759/cacb8122-7b2b-11e6-805e-66e0cacd369c.png)

It's toggled on by default.

[2016-09-15 14:36] joariasl opened #1797 "install: Use relative path to lib/install script"
The installation into Docker container from the generated image not work because the `/svr/zulip` folder reference in the container image is not equal to `/root/zulip` folder used in the `lib/install` file.

Solution:
Use: `$(dirname $0)` for reference to script file location folder instead of the static folder path.

https://github.com/zulip/zulip/blob/master/scripts/lib/install

[2016-09-15 14:50] showell commented on #1005
It turns out that last line of code was super easy to add test coverage for, once I extracted create_streams_if_needed(), which should be a useful function in both prod and test.

[2016-09-15 15:08] showell commented on #1005
#1798

[2016-09-15 17:18] #1005 closed

[2016-09-15 17:35] timabbott commented on #1797
@joariasl can you test whether https://github.com/zulip/zulip/pull/1800 fixes this docker issue?

[2016-09-15 17:36] timabbott commented on #1797
(You would need to run `tools/build-release-tarball` off that branch from a Zulip development environment to test this most directly, but since it just changes that one script you could just patch the changes into a tarball you already have)

[2016-09-15 21:10] showell commented on #731
A good reference for type of  HTML classes/ids that get handled by JS in the Zulip codebase is here:

https://github.com/zulip/zulip/blob/master/static/js/click_handlers.js

You'll see that they're kind of all over the map in terms of naming.  Some of the names are kind of verb-ish, which I think is good: topic_edit_save, topic_edit_cancel, narrows_by_recipient.

A good rule of thumb for code revi

[2016-09-16 09:49] e-tagirov opened #1803 "Broken encoding in generated links on pasted files with cyrillic characters"
If the file to upload in zulip contains cyrillic characters then the generated link to this file contains broken encoding.
For example, this is wrong (now)
![image](https://cloud.githubusercontent.com/assets/1013955/18582017/c8cdc1ec-7c0b-11e6-9094-3c42019ccafb.png)
but correctly is
![image](https://cloud.githubusercontent.com/assets/1013955/18582003/b830369e-7c0b-11e6-9fda-5d87748e575c.png)

[2016-09-16 17:42] timabbott commented on #1803
Thanks for the bug report @e-tagirov!  @umairwaheed can you take a look into this?

[2016-09-16 18:27] hackerkid commented on #1760
@timabbott Aren't both templates the same except that when you click on user name's inside the message we get some extra information about the message like the stream, sender name and the date?

[2016-09-16 18:33] timabbott commented on #1760
Hmm, yeah, it has the name+email, but that's about it.  I guess I'd somehow thought that the sender name one had the avatar for the user (probably a good addition regardless), and I had been thinking we'd probably want name/email/avatar in the presence sidebar popover as well.  So I guess the things we can do to make the popovers nicer without doing any data model work are probably these:
* name
*

[2016-09-16 18:39] hackerkid commented on #1760
@timabbott Got it  :+1:

[2016-09-16 19:09] timabbott commented on #1795
Yeah, this would be good to fix.

[2016-09-16 19:22] timabbott commented on #1777
One thing that I think we should think about with this is whether we want to do a broader refactoring with the overall goal of creating a directory structure that looks more like this:

[code]

where everything is self-contained together in a directory.  I feel like that would be a nicer system in some ways (easy to find all the code for one webhook), but less nicer in other ways (similar stuff is

[2016-09-16 19:22] timabbott commented on #1777
@showell what are your thoughts on this directory structure question?

[2016-09-16 19:50] showell commented on #1777
I like the idea of splitting them up.

[2016-09-16 20:48] timabbott commented on #1770
Interesting.  RabbitMQ is such an annoying platform to use.  I should really just make myself finish the migration to hardcoding the rabbitmq nodename and get rid of this issue.

[2016-09-16 21:57] timabbott opened #1807 "Fix supervisord interaction with http_proxy"
It can be super confusing if supervisord on a system is restarted with the `http_proxy` environment variable set, since then Zulip's services will have weird problems (like being unabled to connect to memcached).  The problem can be worked around by unsetting those environment variables and then restarting supervisord, but it'd be best if we could ensure supervisord can't impact this.

[2016-09-16 22:02] timabbott commented on #908
Just as an update, the #673 work got merged, and now one can use `./manage.py export` and `./manage.py import` to round-trip a Zulip organization's data.  I think probably the best approach for a Slack import would be to build a tool that talks to Slack's data export APIs and uses them to generate something in that same import/export format, so that we can then import the data into Zulip using our

[2016-09-17 20:04] sahildua2305 commented on #1783
@timabbott Can you help me a bit with fixing this issue? This will be my first contribution to Zulip. 😄

[2016-09-17 20:09] sahildua2305 commented on #1627
@rishig Do we have to check and rectify this issue in every file in the repo?

[2016-09-17 20:12] sahildua2305 commented on #1587
@timabbott can you please explain this issue a bit?

[2016-09-17 23:07] rishig commented on #1627
The idea is indeed for this to apply to every file in the repo, though one would likely want to do it via a script (for instance, the ones at http://unix.stackexchange.com/questions/81685/how-to-remove-multiple-newlines-at-eof), rather than checking files by hand.

In bash, something like
[code]
should work, and then you can use `git diff` to see the changes you made.

[2016-09-18 14:09] brainwane commented on #799
@ChinaVogel If it's ok to ask -- why weren't you able to use Zulip? Is it something we could fix?

[2016-09-18 16:11] kou commented on #1769
#1813 will solve this problem.

[2016-09-18 17:28] sunnypalace commented on #1672
@timabbott I would like to give this a try. Please assign this to me.

[2016-09-18 17:46] timabbott commented on #1672
@sunnypalace great!  There's no way to assign you the issue in GitHub without a bunch of setup overhead, so we've just been using comments as a way to see who's working on something :)

[2016-09-18 17:57] TomaszKolek commented on #1777
Hm... sounds good!

[2016-09-18 17:58] timabbott opened #1814 "Make dev-overview.html clear about options for each host platform"
Our homepage for the development environment setup process, http://zulip.readthedocs.io/en/latest/dev-overview.html, should be clear about which options one should look at if one's host machine is OS X, Linux, etc.  The short story is probably that one needs to use Vagrant on Windows, Vagrant and docker work for Mac, and the other options are various ways to install on various Linux platforms.

[2016-09-18 18:04] timabbott commented on #1777
OK.  I think probably we should move them to zerver/tests/webhooks/*.py as a first step, and we can think about doing the later steps in the directory structure move sequence once they're happily split into separate files

[2016-09-18 18:05] timabbott commented on #1777
I guess probably step 1 will be to move WebhookTestCase to zerver/lib/test_helpers.py.

[2016-09-18 18:12] timabbott commented on #1587
Sure, if you run `test-backend`, there are a few tests that end up printing some unnecessary spammy output to the console.  Often that can be a sign that something is wrong with the test, but in a few cases

Below are the main examples:
[code]

The problem is that unexpected logging output appearing in the test output is often a sign that a bug has been introduced, and we'd like to catch those bug

[2016-09-18 18:15] timabbott commented on #1783
Basically, read the code of exports.possibly_notify_new_messages_outside_viewport (find it using `git grep`) -- that's the function that displays this warning.  Currently, that function only displays the warning for messages sent by the current user, but it should only be displaying the messages sent by the current browser tab.  It should be possible to use some of the logic involving `local_id` (

[2016-09-18 20:30] #1769 closed

[2016-09-19 04:56] timabbott commented on #707
Alright.  I think I'm not actually sure where bots/ should move to.  I think it might be something we want to have wait until someone is actually doing work on that part of the project before moving it, since it's a decent number of integrations involved.  Since it's just 1 top-level directory that's arguably unnecessary at this point, which has its own impetus for moving (the fact that the files

[2016-09-19 04:56] #707 closed

[2016-09-19 09:47] umairwaheed commented on #1803
Sure.

[2016-09-19 12:03] bhaktibhikne commented on #1539
Hi! I am new to Zulip and was looking forward to contribute to Zulip. I would like to work on this.

[2016-09-19 16:33] timabbott commented on #1539
@bhaktibhikne there's an open PR for this here: https://github.com/zulip/zulip/pull/1708

[2016-09-19 17:06] sunnypalace commented on #1602
I would like to work on this issue.

[2016-09-19 17:29] timabbott commented on #1602
Cool, sounds good!

[2016-09-19 17:49] brainwane commented on #535
@TroJan Are you still planning to work on this? If so, please speak up here by Wednesday the 21st. If not, I'd like to suggest it to a new contributor. Thanks!

[2016-09-19 17:52] #1672 closed

[2016-09-19 17:57] unithiyashree commented on #1657
Can you elaborate on what exactly is expected to be exported ?

[2016-09-19 18:11] timabbott commented on #1657
Basically the Recipient (with type_id=Recipient.PERSONAL) and Subscription objects corresponding to the users receiving messages exported here: https://github.com/zulip/zulip/blob/master/zerver/lib/export.py#L731

Probably equivalently, the users converted to have `is_mirror_dummy` set here: https://github.com/zulip/zulip/blob/master/zerver/lib/export.py#L553.

[2016-09-19 21:46] timabbott opened #1821 "Fix remaining integrations that don't document how to specify the Zulip server"
I did an audit and determined that several of our integrations don't document how to specify a specific Zulip server.  See the list below.

I suspect most of these work already (e.g. because they are using the Zulip Python API bindings (https://zulipchat.com/api/) and we need to document how to point the integration at an arbitrary server.  templates/zerver/integrations.html, and api/integrations/

[2016-09-20 05:14] #1519 closed

[2016-09-20 05:53] #1507 closed

[2016-09-20 05:58] timabbott commented on #1455
Reopening since this is still happening: https://travis-ci.org/zulip/zulip/jobs/161236670

@umairwaheed do you want to take a pass at debugging this again?

[2016-09-20 06:23] valoriedodge commented on #1611
I would love to help with this. Can you assign it to me?

[2016-09-20 10:03] umairwaheed commented on #1455
Sure.

[2016-09-20 13:41] timabbott commented on #1611
Cool @valoriedodge!  We don't have a way to assign it to you visually in the GitHub UI (GitHub doesn't support assigning individuals to issues without a bunch of per-person setup overhead), so we just use the comment thread to see which things are being worked on.

What I'd like to do is write a function (probably in zerver/context_processors) that has the common email template fields and is calle

[2016-09-20 15:13] bhaktibhikne commented on #1539
@timabbott oh! Alright. Seems that the required changes have been made.

[2016-09-20 17:47] timabbott commented on #1539
Yes, though that PR definitely could use some work (you can read the comment thread to see why), so if you're excited about helping with this, you could probably contribute meaningfully by helping clean up and merge pieces of that PR.  Probably a project that's best if you're experienced at using Git :)

[2016-09-20 17:52] valoriedodge commented on #1611
That sounds great! I am excited to get started. I will also take a look at #1677 and see what progress I can take on that issue in conjunction with this one. Thank you for the help!

[2016-09-20 18:24] tlnob commented on #1663
Hi @timabbott , I would like to get assigned for this bug. Its my first contribution. Could you be so kind and help me out?

[2016-09-20 18:28] timabbott commented on #1663
@tlnob great!  I think that this is probably something that can be done entirely on the frontend -- check the number of "checked" users before submitting the request and provide an error message with a "dismiss" button that overrides the check.  The code for handling the "create stream" UI should all be in `static/js/subs.js`.

[2016-09-20 18:54] janitanjaria23 commented on #1593
@timabbott I am new and may be this can be my first contribution to Zulip. Can you please provide me relevant pointers for the same?

[2016-09-21 00:43] timabbott commented on #1593
@janitanjaria23 welcome!  The code for that page is all in static/js/subs.js; you should be able to reproduce the bug, and then try to trace what piece of code is processing the `enter` key in this case.  The first thing I'd check is whether something in `static/js/hotkeys.js` is firing incorrectly here.

[2016-09-21 02:08] TroJan commented on #535
@brainwane : You can assign this to a new contributor. Right now much busy at my workplace.

[2016-09-21 07:10] vsham20 commented on #1755
Hello, I want to work on this bug if it is still available.

[2016-09-21 15:27] timabbott commented on #1755
@vsham20 go for it!  As I mentioned, I think we should add the `[password fail]` style logging and then have fail2ban look for that token.

[2016-09-21 16:44] janitanjaria23 commented on #1593
@timabbott Sure. I will look into it and keep the further discussions for this bug on this same thread.

[2016-09-21 17:35] zeddmaxx commented on #1814
I would like to take this up

[2016-09-21 17:59] timabbott commented on #1814
Awesome, go for it!

[2016-09-21 22:11] keturn opened #1830 "gitlab: missing characters from branch name"
The branch names above should be "develop" and "feature."

[2016-09-21 22:19] keturn opened #1831 "gitlab: include branch name in topic"
currently the topic includes the name of the repository. I would like it to include the name of the branch as well, so things in different branches get split out to appropriate topics.

[2016-09-22 05:35] #217 closed

[2016-09-22 05:36] timabbott commented on #217
Support for markdown previews was just merged!

[2016-09-22 06:16] timabbott commented on #1455
Looks like this is still happening.  Argh!
https://travis-ci.org/zulip/zulip/jobs/161824040

I think we need a new strategy for debugging casper test failures in CI.  These issues are all things that may be worth using as part of the process of fixing this casper problem:
https://github.com/zulip/zulip/issues/921
https://github.com/zulip/zulip/issues/967
https://github.com/zulip/zulip/issues/1263

[2016-09-22 07:33] umairwaheed commented on #1455
Shoot! I'll take up https://github.com/zulip/zulip/issues/1263 and https://github.com/zulip/zulip/issues/1477.

[2016-09-22 11:39] umairwaheed commented on #1477
@timabbott, have you linked the correct webpage?

[2016-09-22 12:05] vsham20 commented on #1755
@timabbott So basically what i have to do is add one [password fail] filter in fail2ban to ban unauthorized users?

[2016-09-22 12:07] umairwaheed commented on #1455
@timabbott, this looks pretty cool, https://drupalize.me/blog/201410/using-remote-debugger-casperjs-and-phantomjs.

[2016-09-22 12:19] GervaisdeM commented on #1755
@vsham20 I was going to write a fail2ban filter and then realized that Zulip doesn't have a suitable entry in the logs for a failed login attempt. What needs happen is:

1. Fix Zulip logging to put an unambiguous entry into the logs.
2. Configure fail2ban to trigger on this new log entry.

[2016-09-22 14:02] timabbott commented on #1477
I guess I meant to link the Travis CI output for that PR.  The point is, we don't currently expose the var/casper/server.log for Casper failures in Travis CI.

[2016-09-22 14:31] webelcomau commented on #217
congratulations!

Sent from my iPhone

[2016-09-22 16:32] timabbott commented on #1830
Interesting bug.  @tomaszkolek can you fix this?  Seems like it should be pretty quick.

[2016-09-22 16:33] timabbott commented on #1831
@tomaszkolek can you work on changing this?  I think all our other Git integrations do this so I think we should just change it unconditionally.

(Also, while we're at it, I think we should show the actual commits for a push similar to what we do with the GitHub integration).

[2016-09-22 16:34] timabbott opened #1834 "Use backend markdown processor in message preview functionality"
Follow-up to #1735; there's plenty of context there.  @hackerkid FYI.

[2016-09-22 16:39] TomaszKolek commented on #1830
Sure! Take a look!

[2016-09-22 16:50] timabbott commented on #1761
@brockwhittaker the "Show original" feature seems like a nice, high-visibility, quality-of-life thing along the lines of what you've been doing recently.  I think basically we want to show that button exactly when "Edit" is not an available option on a message.

We'll need to patch `json_fetch_raw_message` to allow users other than the sender to fetch the raw content; the logic I think we want is

[2016-09-22 17:31] showell opened #1836 "Clean up email_mirror code."
We should move these three methods (and possibly others) out of actions.py and into lib/email_mirror.py:
- get_email_gateway_message_string_from_address
- encode_email_address_helper
- decode_email_address

We can probably s/_helper// on the encode method.

We probably want `get_email_gateway_message_string_from_address` to just throw an exception if it can't find an email, and then let callers ca

[2016-09-23 07:49] sonali0901 commented on #1670
I have been working on this bug, I have a few questions. I came up with the following code and it runs fine if we just mention the test_file.py instead of zerver.tests.test_file.py.

    for suite in args:
            if suite.startswith('test'):
                new_suite="zerver.tests."+suite
                args[args.index(suite)]=new_suite

    if len(args) == 0:
        suites = ["zerver.tests

[2016-09-23 08:05] reyha commented on #1743
Hi! I have made the required changes to search.js file. Please review my pull request: https://github.com/zulip/zulip/pull/1842

[2016-09-23 13:38] showell commented on #1670
I think the problem you are explaining here is that if you don't force the user to type something like `test_foo.*.*` or `test_foo`, it won't be clear whether `test_foo` is the name of a module or the name of an individual function.  Fortunately, we don't have problem with classes, since for them we can rely on our naming convention.  But still, the problem remains.

There are two workarounds:

-

[2016-09-23 13:51] sonali0901 commented on #1670
@showell  Thanks for your reply. Yes I implemented the slash to dot conversion too and its working fine. The point remains that auto  complete will work till the python files and not for the functions in them but I have implemented it such that all slashes ( if there) are changed to dots.
I will surely create a PR now so that you can review it.
I think I should go for your first idea of the workar

[2016-09-23 16:04] reyha commented on #1743
Hi! The same problem of redirection to the home page occurs instead of the "no results" page occur whenever there is a colon (:) symbol in the search item that exists for a URL too. Adding quotes whenever a colon occurs should solve the issue. Isn't it?

[2016-09-23 16:06] timabbott commented on #1743
Well, `:` is used as the delimiter between keywords and values for things like `stream:help` -- we don't want to auto-quote those, probably anyone entering that is trying to search the `help` stream...

[2016-09-23 16:50] reyha commented on #1743
Oh yes, that is right! So, do we need to leave out the case in which the user enters something like ``stream:help`` or auto-quote the URL only?

[2016-09-23 17:05] #1830 closed

[2016-09-23 17:05] #1831 closed

[2016-09-23 17:10] timabbott commented on #1743
I think the search UI already auto-quotes things that don't have a `:` in them; URLs are the main special case I can think of that people search for often and contain a `:` and thus need additional code to auto-quote.

[2016-09-23 19:37] namratab94 commented on #1604
Hello,
I am interested in working on this issue as it seems quite straightforward. This will be my first contribution to Zulip. Could you kindly guide me with what I need to do?

Thanks in advance.

[2016-09-23 19:40] timabbott commented on #1761
It looks like the "show original" feature is being discussed in #1604 (and @namratab94 is interested in working on it, so feel free to hold off on working on this @brockwhittaker ).

[2016-09-23 19:42] timabbott commented on #1604
Awesome!  I actually (having not realized this issue existed) posted the backend work towards this here: https://github.com/zulip/zulip/issues/1761.

First, read the discussion on that issue.  I'd start with grabbing the branch I posted there and updating the test suite to reflect the new logic (it fails a backend test that was verifying the old behavior, and we need to add new tests).

[2016-09-23 19:51] namratab94 commented on #1604
I have read the discussion and have the branch you mentioned there. I am not quite sure how to update the test suite though.

[2016-09-23 20:22] timabbott commented on #1604
Have you read http://zulip.readthedocs.io/en/latest/testing.html (and in particular the section on Django tests)?  You'll want to modify `test_fetch_raw_message`.

[2016-09-23 20:28] namratab94 commented on #1604
No, I haven't but, I will do so now. Thank you.

[2016-09-23 21:47] christi3k commented on #1754
Working on this here: https://github.com/christi3k/zulip/blob/1754-docs-add-git-workflow/docs/git-guide.md in case you want to follow along.

Will submit a WIP PR as soon as I'm done with the first draft.

[2016-09-23 21:52] #1498 closed

[2016-09-23 22:12] timabbott opened #1844 "Fix requirement to use MAX_INT message ID to "Get latest N messages""
One the ugliest warts in the Zulip API right now is that fetching the last N messages requires passing a super large integer as the anchor.  @arpith suggested the reasonable solution of making anchor optional, and if it is not specified, having `get_old_messages_backend` just do this for you.  It'd certainly be a lot cleaner API.

@showell do you see any problems with making that API change?  We a

[2016-09-23 22:41] showell opened #1845 "add tests and docs for zilencer.Deployment"
This is probably something that @timabbott will need to do, since there aren't many folks who have a ton of experience working with this corner of our model.

We have a zilencer.Deployments model.  We should add some comments to the model code that provide a little more context on what it's used for.  There are also some small methods on zerver.models.Realm that should have some test coverage, esp

[2016-09-23 23:31] showell commented on #1844
This seems like a good idea to me.

[2016-09-24 02:42] arpith commented on #1844
I would also suggest that num_after just be ignored in this case (when an anchor is not specified) without throwing an error.

This would simplify the API from a user's perspective.

[2016-09-24 20:13] willingc commented on #1754
Howdy @christi3k, The draft is looking great :smile: I would be happy to review the WIP PR when it's ready.

Here's a link to a [slide deck of a git talk for beginners](http://www.slideshare.net/willingc/yes-you-can-git) that I gave at Write/Speak/Code Chicago.

It's roughly what we used at OpenHatch. The first 1/3 of the presentation spends time helping folks understand git remotes conceptually.

[2016-09-24 20:19] janitanjaria23 commented on #1593
@timabbott does it have anything to do with the id not being present for that button. In static/js/subs.js there is "$('#create_test').val(i18n.t("Subscribe"))" but no 'create_test' id. Hence, it is not triggered correctly.

[2016-09-24 21:44] timabbott commented on #1593
@janitanjaria23 `git grep create_test` shows no references to that identifier in the codebase; can you explain in more detail what you're talking about?

[2016-09-25 10:41] janitanjaria23 commented on #1593
@timabbott as you affirmed about the absence of reference to 'create_test', that was what my point is. There is no id for the button in the create stream modal which is later triggered. And hence on key press there is no action. In https://github.com/zulip/zulip/blob/master/static/js/subs.js#L836, there is no action triggered.

[2016-09-25 11:35] akuckartz commented on #356
Please consider the specifications which are being developed by the W3C Social Web WG: https://www.w3.org/wiki/Socialwg#Specifications

[2016-09-25 13:31] TomaszKolek commented on #1221
@timabbott
I finished first part of the issue. I'm not sure what should be next step.
I guess we should replace `generate-fixtures` part of `test-backend` with new checking parts. But  what should be next?

[2016-09-26 04:36] #1400 closed

[2016-09-26 05:17] #1834 closed

[2016-09-26 05:23] amalad commented on #317
Hi, I would like to work on improving the UX around this issue. I am new to Open Source Development and this will be my first contribution. Could you help me proceed further?

[2016-09-26 05:29] timabbott commented on #317
@amalad awesome!  First, you should find the code for the warning (probably in static/js/compose.js) and the code Zulip has in the subscriptions page for letting you subscribe another user to a stream (probably in static/js/subs.js); I recommend using `git grep` to find both.  And then add a button the compose template offering to do the subscribe action.  You may want to read the section on templ

[2016-09-26 05:50] timabbott commented on #1844
Yep, that sounds good.

[2016-09-26 05:53] timabbott commented on #1593
OK, cool, well certainly it sounds reasonable to me to add an ID for that button as part of the solution -- is that what you're proposing?

[2016-09-26 06:38] timabbott commented on #1831
(I also just merged a quick fix to remove the unnecessary "Repository: ` text from the topics.

[2016-09-26 15:28] brainwane opened #1853 "give users a way to go back to welcome tutorial"
Per [this conversation with a new user](https://zulip.tabbott.net/#narrow/stream/Outreachy.202016-2017/subject/basic.20user.20question/near/28982) - if a new user wants to go back to the intro/welcome tutorial, it would be nice to give them a way to do that, perhaps in an option in the gear menu?

Related to #675 .

[2016-09-26 15:53] timabbott commented on #1853
Yeah this would be a great feature to add; I'd put it in the gear menu for now (though we'll probably eventually be splitting that into a gear menu and a help menu).

[2016-09-26 19:03] feorlen commented on #675
I'm a brand-new user, and stumbled over basic things trying to find my way around. Here's some of them:

When I first logged in, I was looking for a place to introduce myself while I wandered around. I had never heard of Zulip and only had a url that was recommended as a resource to learn more. I saw there was a list of streams and looked through them to see if one would be the right place. It was

[2016-09-26 19:22] rizplate opened #1855 "Theme, Skin , colors"
Hi

How can I change the colors and theme of the UI, Can I change the skin.

Out of the box, the skin and colors are horrible! can I change it easily using css etc?

Thansk

[2016-09-26 19:30] timabbott commented on #675
Yeah, actually, I wouldn't recommend that in Zulip either, for the same reason as in email -- it makes it easy for threads to get lost.  The Outreachy instructions page (which is where I imagine you got the confusion instruction) has been updated in a way that should hopefully help.

[2016-09-26 19:30] timabbott commented on #675
(BTW, thanks for all the other feedback!)

[2016-09-26 20:32] timabbott opened #1857 "Improve testing of markdown.contains_backend_only_syntax()"
Currently, `echo.contains_bugdown` does a pretty good job of checking what bugdown is supported, but there are a few gaps.

However, we have some more obscure markdown features (e.g. `!modal_link()`) that are not checked for in the file.  We have some test data in `zerver/fixtures/markdown_test_cases.json` as well as tests in `zerver/tests/test_bugdown.py` and frontend tests in `frontend_tests/nod

[2016-09-26 20:36] brainwane commented on #1626
@showell I imagine this would include the experts on all the Zulip repositories, e.g., the React Native app, major integrations, etc. -- your thoughts?

[2016-09-26 20:40] showell commented on #1626
Yeah, I think that would make sense.  I filed this PR about five weeks ago, and I think it still makes sense, but with the recent Outreachy influx, I'd be curious to know how they found the process of figuring out who to ask questions, etc.

[2016-09-26 20:51] brainwane commented on #1626
@showell I started working on this today in the course of the multilayered project of increasing review-and-merge velocity, and roughed out a partial list (only for the web app, not really for any of the other codebases):

* Brock - frontend, JS, css, images, emoji
* Umair (umairwaheed) - Casper & frontend tests, backend (Tornado), virtualenvs, auth, handlebars, i18n, templates
* Neeraj Wahi (neer

[2016-09-26 20:53] showell commented on #1626
Yeah, makes sense.  You may want to remove "provisioning" from my list.

[2016-09-26 22:23] amalad commented on #317
Thanks. I'll start working on it

[2016-09-27 00:10] brainwane commented on #444
@MarkCupitt If you'd like to talk with us about this in chat sometime, ["diversity of user needs"](https://zulip.tabbott.net/#narrow/stream/general/topic/diversity.20of.20user.20needs) in the Zulip developer realm would be a great place to talk about it. ([Calendar of Zulip developer events where a lot of people are in that realm simultaneously](https://calendar.google.com/calendar/embed?src=ktidu

[2016-09-27 03:43] timabbott commented on #1777
The refactor of webhook tests into several files was merged.

[2016-09-27 03:43] #1777 closed

[2016-09-27 03:44] #1770 closed

[2016-09-27 03:53] #1116 closed

[2016-09-27 04:06] #1627 closed

[2016-09-27 04:11] timabbott commented on #1855
We don't offer a way to do that, but Zulip is in the process of a major visual redesign to fix those color issues, so it's possible you won't want to change it in a month anyway :).

This is a duplicate of #267, so I'm closing this issue to keep the issue tracker organized.  Thanks @rizplate!

[2016-09-27 04:11] #1855 closed

[2016-09-27 04:12] timabbott commented on #1853
This will probably be a pretty quick project that's good for a beginning if anyone's interested; just check out `git grep tutorial_status`.  It may be the case that we need to force-reload the browser after changing the status to have the tutorial actually pop up after the user's status has been set to "needs tutorial", which is a bit janky, but would probably do the job for now.

[2016-09-27 04:14] #1803 closed

[2016-09-27 04:14] timabbott commented on #1803
A fix was just merged for this.  Thanks @umairwaheed for doing the work and @e-tagirov for reporting this issue!

[2016-09-27 04:27] timabbott commented on #1455
Yeah, the remote debugger is pretty cool; we mention it obscurely in our casper "debugging tips" output...

[2016-09-27 05:05] timabbott opened #1858 "Add bugdown syntax for linking a stream or stream+topic pair"
As has been mentioned a few times in discussions on Zulip, we should add a syntax for referring to a stream or stream + topic pair in Zulip.

I think for streams we should do something like `#**stream name**`; for topics we may want to do something more like `#**stream name/topic name**` to match how we display them while still setting aside the syntax to be something special.    I'd probably star

[2016-09-27 05:55] timabbott commented on #1707
So this is an interesting issue.  The cause is basically that Zulip's "recent topics" feature is entirely implemented in the frontend, based on the frontend's cache of Zulip message history (which is also used for a ton of fast frontend rendering of narrows, etc.).

I think this is a feature which we could move substantially to a backend implementation, though it would not be a simple feature, sin

[2016-09-27 07:46] anubham commented on #1734
Hello!  I want to work on this issue as my first contribution.

[2016-09-27 10:39] umairwaheed commented on #1553
working on this.

[2016-09-27 15:51] brandizzi commented on #497
What are the steps?

[2016-09-27 16:30] #1263 closed

[2016-09-27 16:30] #1477 closed

[2016-09-27 16:33] timabbott commented on #1734
@anubham cool!  I'd start with reading the code in static/js/notifications.js and figuring out how to trigger a notification on-demand either using the javascript console or using two browsers to connect to the Zulip development environment as different users (so you have a fast iteration cycle for changes to the format).  And then come up with a proposal for where in the notification to put the t

[2016-09-27 17:58] showell commented on #877
For vagrant users I think the most important thing here is to prevent a silent or cryptic failure.  I omitted the interface option by accident, and then I was on an hour long wild goose chase of re-provisioning, checking my OS settings, etc.

I think the best thing here is to not have a default.  Don't allow run-dev.py to start unless you've specified either `--native` or `--vagrant`.

[2016-09-27 19:31] sonali0901 commented on #1853
Hey, I would like to work on it. I believe it must be added in the drop down list when we click on the settings  icon.

[2016-09-27 19:35] timabbott commented on #1853
Yep, sounds good to me!

[2016-09-27 20:41] feorlen opened #1861 "confusing console messages aren't clear which process is on what port"
Console messages generated at startup from run-dev.py don't make it obvious which process is running on what port. Particularly for a novice administrator, the lines

[code]

are misleading because the web UI is accessible on 9991, not 9992. In theory, `http://127.0.0.1:9991/webpack/` would tell you that, but you would't know it if you didn't yet know what webpack is.

A suggested improved (additi

[2016-09-27 20:42] feorlen commented on #1861
I would like to fix this one. I'm not sure which labels this issue should have, so I'd appreciate it if someone could add appropriate ones.

[2016-09-27 20:53] timabbott commented on #1861
Labeled! :)

[2016-09-27 21:03] feorlen opened #1862 "Banner overlaps, can't dismiss, if user has set Safari accessibility font size"
On first login, there is a green banner with the message "What's better than Zulip in your browser? The Zulip desktop app!" With an accessibility font size of 18 or 24 points, It extends into both the left and right sidebars and can't be dismissed because the close button is under the text "USERS".  At 24 points, the left end of the banner is under the "Home" label in the left sidebar. (Presumably

[2016-09-27 21:05] timabbott commented on #1862
Thanks for reporting @feorlen!  It seems like we might be able to fix that by just changing the z-index to put that banner on top...

[2016-09-27 21:25] feorlen opened #1863 "inline code formatted text covers other text if using Safari accessibility font sizes"
This renders terribly at both 18 and 24 points, overlapping other lines of the text.

This example is from Safari 9, with minimum font size 24 set in the Advanced preferences pane: "Never use font sizes smaller than".

![zulip code formatted text safari 24pt](https://cloud.githubusercontent.com/assets/95028/18892224/9d2e0c12-84bd-11e6-8bbd-ed0513f15ab7.png)

[2016-09-27 21:36] timabbott commented on #1863
Yeah, that's not great.  @feorlen do you know how one is supposed to handle/detect the "Never use font sizes smaller than" feature in CSS?  It seems like it's probably harder to handle than the browser "zoom" feature...

[2016-09-27 21:40] showell opened #1865 "Create tool to generate screenshots from the app."
This is somewhat of a placeholder ticket for now.  We need to automatically generate screenshots of Zulip widgets for documentation as well as future dev tools and maybe for automated tests.

If you are interesting on working on this, talk to folks at https://zulip.tabbott.net first, as some of the context has been distributed among various non-public docs and old Zulip conversations.

In a nutshe

[2016-09-27 21:41] showell commented on #1865
A very raw prototype of getting Casper to generate screenshots is here: https://github.com/zulip/zulip/pull/1851

[2016-09-27 21:43] feorlen commented on #1863
Unfortunately I'm far from an expert in this area. But since my normal setting is 18, I find stuff like this all the time. If there isn't a better person who can answer, I can research (and/or ask WebKit friends.)

[2016-09-27 21:44] hackerkid commented on #1857
@timabbott Think so. I will start working on this from next week. Have midsems coming up in a few days.

[2016-09-27 21:49] timabbott commented on #1857
Cool, good luck with your midterms!

[2016-09-27 21:52] hackerkid commented on #1857
Thanks :smile:

[2016-09-27 21:54] #730 closed

[2016-09-27 22:44] rishig opened #1867 "Manage allowed domains from admin settings."
Currently an administrator needs to use the realm_alias management command [1] to add or remove allowed realms. We should allow editing of this list via the administration settings page.

This is not something that has to be changed often, so a modal should work fine. I would put a "Change" link at the end of the "users restricted to ..." setting on the #administration page, shown here:
![realmali

[2016-09-27 22:58] rishig opened #1868 "Allow *.domains in RealmAlias"
Currently we only allow realm aliases of the form `stanford.edu` or `cs.stanford.edu`, not `*.stanford.edu`. One way to do this would be to add another column to `RealmAlias` indicating whether it is a \* domain or not.

Some places off the top of my head where some thought may be needed:
- Looking up realm by domain. If we only allow things like `*.stanford.edu` and not `*ford.edu` it's not too b

[2016-09-27 23:04] timabbott commented on #1863
Add @brockwhittaker to the thread since he's been working on a lot of frontend UI improvements.  The problem is pretty clear -- we set a fixed line spacing.

[2016-09-27 23:34] timabbott commented on #1420
I added these tests in a recent Zulip testing sprint.

[2016-09-27 23:34] #1420 closed

[2016-09-27 23:57] #1696 closed

[2016-09-27 23:57] timabbott commented on #1696
Just merged a fix for this, thanks for reporting @showell!

[2016-09-28 00:53] #654 closed

[2016-09-28 00:53] timabbott commented on #654
This new feature was just merged, thanks @akashnimare for the feature suggestion!

[2016-09-28 01:50] timabbott commented on #1867
This is sorta a duplicate of https://github.com/zulip/zulip/issues/651, but has a more detailed description.

[2016-09-28 01:50] feorlen commented on #1861
run-dev.py knows the port numbers and can output a message before any more processes get started. For basic informational purposes, that might be sufficient.

I don't know how it tells if they were started successfully however, only that twisted did its thing without an exception when run-dev.py calls reactor.run() (which doesn't return until shutdown.) What goes on in there is... something I'm st

[2016-09-28 02:00] timabbott commented on #1861
It doesn't have an easy way to tell reliably, but it does have the ability to parse the log output from Django and modify it.
`zerver/management/commands/rundjango.py` has some code for filtering a lot of unnecessary output from Django; might be worth looking into whether that interface can be used to filter the "Starting development server..." output as well.

[2016-09-28 06:30] timabbott opened #1870 "subdomains: Add backend tests for wrong subdomain cases"
With the newly added REALMS_HAVE_SUBDOMAINS setting, we don't currently have tests in either test_decorators or test_auth_backends verifying that all of our auth decorators and backends correctly reject requests from users to the wrong subdomain.  Since this is authentication code, I would like to resolve that testing gap soon.

This is a follow-up to https://github.com/zulip/zulip/pull/1154.

[2016-09-28 06:30] timabbott opened #1871 "subdomains: Google auth to wrong subdomain doesn't provide a clear error message"
Currently, if you use Google authentication for an account that's only present on another subdomain, Zulip just redirects you back to the login page, with no explanation.  While this definitely beats logging you into the wrong realm or into the right realm on the wrong subdomain, we should add an error message for this case explaining what you did wrong (There may be similar issues for some of oth

[2016-09-28 06:31] reyha commented on #249
@timabbott  I am willing to work on the improvement of the IRC gateway. I have carefully read the documentation on how to add a new integration (https://zulip.readthedocs.io/en/latest/integration-guide.html). Any guidance on how to get started would be really very helpful.

[2016-09-28 06:37] timabbott commented on #249
Cool, sounds good!  Step 1 is to get the code running in your development environment.  You should be able to run the `bots/irc-mirror.py` script against an IRC server and a local Zulip development server using roughly the instructions I mentioned above.

[2016-09-28 07:03] umairwaheed commented on #1870
Taking this up.

[2016-09-28 07:03] umairwaheed commented on #1871
Taking this up.

[2016-09-28 11:46] amalad commented on #317
I read and understood the parts of static/js/compose.js and static/js/subs.js pertaining to @mentioning a user who will not receive the message and inviting a new user to a stream. I will now go on to add a button to the compose template to invite the @mentioned user to the stream. I would like to test my code after making the aforementioned changes. Is there any way of doing so?

[2016-09-28 11:59] janitanjaria23 commented on #1593
@timabbott yes. Adding that button and then on submit pass the value as it is for the stream creation button earlier.

[2016-09-28 18:52] #1670 closed

[2016-09-28 19:11] timabbott commented on #1455
The screenshots on https://travis-ci.org/zulip/zulip/jobs/163491432 are really informative!  Somehow, there are actually two copies of message C, both with timestamps rendered, visible in the screenshots -- so it seems that somehow we are actually sending duplicate copies of the message.  I don't see any errors in the server logs, though.  I think we should now start adding some print debugging to

[2016-09-28 19:53] brainwane commented on #317
@amalad Hi! Does https://zulip.readthedocs.io/en/latest/testing.html help you understand how to run our automated frontend tests? Or perhaps you're asking something else?

[2016-09-28 22:33] feorlen commented on #1861
I had a look at log_message_monkey in rundjango.py. This would be a good time to mention I know zero about Django.

It looks like it installs a log_message handler that selectively drops messages as they get handed to it. If I comment out that part, I get tons of access log style messages, so clearly that's working. (They are written to the filesystem somewhere perhaps? My puny test machine is now

[2016-09-28 22:50] timabbott commented on #1861
Yeah, I think you're right; it's easy to test by just changing that handler code to log everything it sees  into a file.  What that `rundjango` script is doing is wrapping the Django core server runner:

https://github.com/django/django/blob/master/django/core/management/commands/runserver.py

The `inner_run` function there is what actually prints that output; I think what perhaps we'd want to do

[2016-09-29 01:26] brainwane opened #1875 "Up/down arrow keypresses no longer navigate messages after I select a stream"
Ever since [the most recent zulip.tabbott.net deploy](https://zulip.tabbott.net/#narrow/stream/announce/subject/this.20server/near/30000) I have noticed a bit of wonkiness with up/down arrow keys. To repro:

* Go to zulip.tabbott.net
* Click on the name of a stream
* Use up and down arrows

I expect that, once I click on a stream, I can then use the up and down arrows on my keyboard to navigate th

[2016-09-29 01:49] feorlen commented on #1861
Also confirmed by test, those ones that are for sure from Django don't go through the handler. Thank you for locating that while I was in sysadmin mode.

Writing a replacement stdout is... somewhat more excitement than I was expecting in a first contribution. How does that work when it's needed in code that isn't yours? (Python documentation references appreciated.)

[2016-09-29 02:01] timabbott commented on #1875
@brockwhittaker can you take a look?

[2016-09-29 03:13] timabbott commented on #1861
Well, a reasonably straightforward simple hack to modify this behavior is to copy `inner_run` from that Django file into the `rundjango.py` file, modify it to not include those print statements, and monkey-patch it in with `Command.inner_run = local_inner_run`.  That's the quick hack.  The problem with that is that then we're having to maintain a fork of a reasonably large function in Django, whic

[2016-09-29 03:13] timabbott commented on #1861
We do a similar form of monkey-patching in zerver/lib/db.py that might be a helpful reference for how to do this sort of thing.

[2016-09-29 03:15] timabbott commented on #1875
(I can reproduce this -- you have to click on the actual name of the stream, not just the row, to experience this bug)

[2016-09-29 10:55] BasilisAndr commented on #1795
@timabbott hi! This could be my first contribution to Zulip. Could you help me with where to start?

[2016-09-29 11:56] BasilisAndr opened #1876 ""Log in with Google" button looks wrong in languages other that English"
Basically, https://zulip.tabbott.net/ru/register/ looks like this:
![2016-09-29 14 54 20](https://cloud.githubusercontent.com/assets/17989162/18952997/4ec20e24-865d-11e6-8465-624d8a786800.png)
and https://zulip.tabbott.net/de/register/ like this:
![2016-09-29 15 02 57](https://cloud.githubusercontent.com/assets/17989162/18953213/5efef10c-865e-11e6-922f-36d4b035b0ff.png)

[2016-09-29 13:08] brainwane opened #1877 "sending (posting) messages delivery & narrowing"
I'm not sure how to diagnose this behavior.

First: I've been trying to send a message to the "publicity" stream on zulip.tabbott.net. First I did this, thinking it would link to a previously uploaded image:

`[image](/user_uploads/2/f6/W61UzdFyz4Kywn1iO2MJLdth/20160605_001.jpg)`

That got me a "not delivered" warning in red. I then edited the message to link to a conversation, like:

`[image here

[2016-09-29 13:14] brainwane commented on #1877
"not delivered" issue:

![not-delivered-screenshot](https://cloud.githubusercontent.com/assets/842790/18955345/07a311ba-8625-11e6-85b4-66b2744120cf.png)

"outside your current narrow":

![outside-current-narrow-wrong](https://cloud.githubusercontent.com/assets/842790/18955344/07a0aa88-8625-11e6-8f34-79c83fc62c0a.png)

[2016-09-29 13:31] umairwaheed commented on #1455
I wonder why we always get the duplication of 'test message C'; apparently, the other messages are sent under identical conditions as well. Seems like a bug in the code some where.

[2016-09-29 17:39] feorlen opened #1878 "twisted unhandled exception: no attribute 'writeSequence'"
Found this when I came back to my desk. The server is Ubuntu 14.04 with a clean dev install of Zulip. A web client was connected, but gone idle. Time coincides with the desktop client machine coming out of screensaver mode.

Let me know if you want additional context/info. Edited for formatting derp.

[code]

[2016-09-29 17:44] timabbott commented on #1795
@BasilisAndr I'd start with reproducing the issue.  Probably the easiest way to do that is to setup a Zulip production server on a VM (e.g. a cheap x86 cloud hosting provider like Scaleway) following the instructions on the Zulip website, and then try to configure it with only Google auth.  (It's also possible to do it entirely in the development environment, but the process is more fiddling and n

[2016-09-29 17:58] akashnimare commented on #654
Great. @brockwhittaker thanks for working on this 🙌 .

[2016-09-29 20:14] christi3k opened #1882 "docs: Support links to images w/o inline display"
At times in our documentation we want to include a link to an image without displaying that image inline. As far as I can tell, Sphinx / Read the Docs provides no straight-forward support for this.

At least one place where we've tried to do this the link is broken.

For an example, see [Production Install, Step 5](https://zulip.readthedocs.io/en/latest/prod-install.html#step-5-create-a-zulip-orga

[2016-09-29 22:00] timabbott commented on #1882
I definitely don't want to switch back to rst.  It's way easier to get people (myself included!) to write Markdown at the scale of documentation we have than it was with RST (which got almost no contributors).

Option 3 seems pretty reasonable.  I'm not too worried about organization in the post-build world...

[2016-09-29 23:42] brainwane commented on #659
Quick question: did the merging of #679 address this?

[2016-09-29 23:46] lgh2 commented on #1125
I would like to work on this for my first contribution. I have some experience with argparse.

[2016-09-29 23:57] timabbott commented on #659
Yep, closing!

[2016-09-29 23:57] #659 closed

[2016-09-30 00:38] feorlen commented on #1861
I tried some monkey patching as an experiment, but I agree going through all that for a log message is a bit much.

Here is my proposed output:
[code]

Normally I'd try for everything on one line, but since this isn't yet headed for a giant syslog server it's less critical. It's more human-readable this way. After I fix a git thing, I'll have a PR.

[2016-09-30 00:51] timabbott commented on #1861
yeah, that looks reasonable!

[2016-09-30 00:58] keturn opened #1883 "GitLab: include more details in merge request notification"
Right now we just see

I'd like to see much more info on the new merge request.

At least

- [ ] title
- [ ] source branch

probably also
- [ ] description
- [ ] target branch

I haven't yet made much use of the milestone or labels features on GitLab, but I imagine a person who did would want to see those too.

[2016-09-30 01:01] keturn opened #1884 "gitlab: include commit messages in push notifications"
In #1831, Tim mentioned

I agree! Would love to see at least the short-form version of the commit messages.

[2016-09-30 03:19] timabbott commented on #1884
Great!  @tomaszkolek is working on refactoring the GitLab integration to share parts of its implementation with the GitHub integration so we can support this nicely without duplicating code.

[2016-09-30 03:19] timabbott commented on #1883
@tomaszkolek FYI, this seems like a good improvement :)

[2016-09-30 03:37] timabbott commented on #1125
Cool @lgh2!  I'd recommend starting with porting the management commands to all use argparse, since there's a nice interface in Django for doing it.  Use `git grep optparse zerver/management/commands` and use `git grep argparse zerver/management/commands` to get some good examples to crib from.  Once that's done we can pick out the next part of the codebase to migrate.

[2016-09-30 03:52] #1875 closed

[2016-09-30 03:52] timabbott commented on #1875
Thanks for reporting @brainwane!  We just merged a fix.  I'll deploy to zulip.tabbott.net soon.

[2016-09-30 03:57] timabbott commented on #1876
Yikes!  It does look like we hardcode the width of the button in portico.css.

[code]

[2016-09-30 05:20] timabbott commented on #1878
I think given that info I can reproduce this issue.  I'm not sure to what extent it makes sense to invest time in debugging it, since it's definitely a Twisted interaction issue, and we've been hoping to replace Twisted with Tornado for the run-dev.py proxy, so debugging this isn't a priority for me.

[2016-09-30 08:41] amalad commented on #317
@brainwane Thanks! I referred to https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html to set up the Vagrant environment in my pc. But I keep running into the following error when i try to start the server:
![selection_001](https://cloud.githubusercontent.com/assets/12957603/18985857/a5cc818a-8717-11e6-899f-badbb097e39e.png)
Can you please help me in resolving this error?

[2016-09-30 09:10] umairwaheed commented on #1455
The message is sent multiple times. I have confirmed using the event log, https://gist.github.com/umairwaheed/84d0bbd297d0ad99e9f85a19c88f366b.

[2016-09-30 09:11] umairwaheed commented on #1455
I think we should upload event log to S3 as well.

[2016-09-30 11:37] deekshaarul commented on #1876
Hello, I am an Outreachy intern applicant. I am interested to resolve this issue as my first contribution to Zulip. :)

[2016-09-30 11:52] brainwane opened #1886 "Add vagrant install troubleshooting tip about provisioning on first `vagrant up`"
I was helping someone get started with [the Vagrant install process for the development environment](https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html) and we'd gotten to the first `vagrant up` step -- but then the person doing the installation had to stop and turn off their computer while it was in the midst of that process. We weren't sure where it was in that process,

[2016-09-30 11:59] brainwane commented on #1886
[The file to edit is [in the `docs` directory](https://github.com/zulip/zulip/tree/master/docs) -- `dev-env-first-time-contributors.md`. See [this guide](https://zulip.readthedocs.io/en/latest/README.html) to making improvements to our docs.]

[2016-09-30 13:57] janitanjaria23 commented on #1593
@timabbott Can you please take a look at this code: https://github.com/janitanjaria23/zulip/commit/38c99d388cb9a6edb01eff3e32fe1bd9e2e64c4f. I think this is how it has to be resolved. Your help would be appreciated.

[2016-09-30 15:32] alanaschueroff commented on #979
Hello Tim, I'm a participante of the Outreachy Program and I would like to contribute. Can you please guide me?

[2016-09-30 15:39] alanaschueroff commented on #1561
Hello Showell and Tim, I hope you are good.
I'm an Outreachy participant and I would like to remove this classes or fix it.
Can you please guide me?

[2016-09-30 15:46] showell commented on #1561
Hello @alanaschueroff!   I am glad you are interested in working on this.  I think the trickiest part about this project is just making sure we don't delete anything that is still in use.

I mentioned a little bit of the strategy at the top of the ticket, and I'll repeat it here for convenience:

* grep the code to make sure it's not referenced
* if it's a compound thing like message-collapse, see

[2016-09-30 17:06] timabbott commented on #317
@amalad `scripts/setup/flush-memcached` is a 3-line script that runs the command you see above.  The problem seems to be that memcached (which is supposed to run on port 11211) isn't running.  You should try addressing that by running `sudo service memcached start` and trying again.

[2016-09-30 17:20] timabbott commented on #1455
BTW, great idea re: the event log.

[2016-09-30 17:35] timabbott commented on #1876
Sounds great @BasilisAndr!  I suspect we just need to change the CSS to not specify a fixed 300px width (which is too small for other languages) while still having it look good.  You can see what your version looks like in the development environment in other languages using a URL like `http://127.0.0.1:9991/ru/register/`

[2016-09-30 18:14] timabbott commented on #1877
The "not delivered" condition is what happens if e.g. the server is down at the time you try to send your message.  I suspect the "outside your current narrow" message might be a buggy interaction with that case.

[2016-10-01 06:36] sonali0901 commented on #1886
@brainwane  I was looking forward to amend the docs, and I looked into the zulip_provision.log for my system, its a very huge file (5098 lines) . So what should be included in the section where we add " that it looks like so and so"? I suppose not the complete .log file

[2016-10-01 07:05] deekshaarul commented on #1876
Could changing the width to "min-width:300px" and keeping a "max-width:100%" be a solution? The flaw would be the button extending towards the right till the end of the sentence. May be center aligning of the button could be done for a tidy look.

[2016-10-01 09:18] amalad commented on #317
I tried using sudo service memcached start. But it didn't work. I am getting the same error.

[2016-10-01 11:42] Diptanshu8 commented on #1374
@timabbott has any discussion about this done ? if not I am interested in solving this bug. But need to discuss it with you ! else kindly redirect me to the discussion so that I get a clear idea. Thank you !

[2016-10-01 11:54] Diptanshu8 commented on #1435
@timabbott can you please elaborate on what needs to be done ! I am interested in solving this ! Are we still having this trouble ?

[2016-10-02 23:05] timabbott commented on #317
Hmm.  Does running `scripts/setup/flush-memcached` directly work?  Regardless it seems like you should be able to print-debug this problem and figure out where it's going wrong; there's very little code in there.

[2016-10-02 23:06] timabbott commented on #1876
Seems plausible.  You might as well try it out and see if it works, and if it does, submit a pull request!

[2016-10-03 01:08] brainwane commented on #1886
Hi, @sonali0901! I imagine that you would sort of summarize what the developer ought to see in their `zulip_provision.log` file, and explain what important bits they ought to be sure to see. What do you think?

[2016-10-03 01:10] brainwane commented on #1435
Hi, @Diptanshu8! Yes, the feature I requested still does not exist in Zulip, so you could build it and submit a pull request. In https://zulip.tabbott.net/#subscriptions perhaps you can see that there are descriptions associated with most of the streams. In a few of those descriptions, there are URLs, but those URLs are not hyperlinks. I'd like for them to be clickable hyperlinks.

[2016-10-03 02:06] timabbott commented on #979
Cool.  A good place to start might be finishing the subscriptions page CSS split work that's partially done here: https://github.com/zulip/zulip/pull/1187.

[2016-10-03 02:09] timabbott commented on #1374
@Diptanshu8 can you reproduce the issue?  I think it may have been solved since we no longer have that dependency.

[2016-10-03 09:04] sonali0901 commented on #1886
@brainwane  Yes, I can mention that for confirming that the `vagrant up` command lead to successful completion, the user should check the /var/log/zulip_provision.log file which must read something like `^[[94mZulip development environment setup succeeded!^[ ` in the end of the file. I hope this will only be in the logs leading `vagrant ssh` to start the guest with `(zulip-venv)`

[2016-10-03 17:11] brainwane commented on #1814
Hi @zeddmaxx how is this issue going? Are you having any trouble, and do you need help?

[2016-10-03 19:07] vikas-parashar commented on #1333
It would be nice to include this error in https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#troubleshooting-common-errors since developers might ignore the requirements( 2GB available RAM) and try the setup on VM with 1GB RAM.

[2016-10-03 19:10] timabbott commented on #1333
Agreed.  @vikas-parashar do you want to submit a PR adding this?  The docs are in `docs/` in the main repo.

[2016-10-03 23:28] timabbott opened #1895 "Improve generate-secrets.py arguments"
We've found that sometimes developers get confused in our manual installation instructions by running `scripts/setup/generate-secrets.py` without the `-d` argument while setting up the development environment.  Since that's basically the only place this script is run manually, it seems worth fixing this by:

(1) Converting `generate_secrets` to use argparse rather than it's current by-hand argumen

[2016-10-04 04:57] zeddmaxx commented on #1814
@brainwane  I tried to make the dev-overview clear about the options for each host platform by creating a pull request #1829  Can you please let me know where I'm going wrong?

[2016-10-04 06:50] feorlen opened #1899 "Odd display artifacts scrolling a long topic list"
Perhaps these mean something to a more UI-knowledgable person. They happened while office hour was going on and there were a ton of active topics in the Outreachy stream. I had the full list open but it didn't all fit in my window so I was scrolling up and down through the list of topics. I am using OS X 10.11.6 and Safari 9. I see it both with my accessible minimum font size and without, so it se

[2016-10-04 11:19] DataBranner opened #1901 "Enable tagging of messages and listing all the tags"
Zulip currently allows messages to be starred, and starred messages to be narrowed to. It would be much more useful to have actual tags — containing words that could be read, sorted, searched for, edited.

**Use case 1**: Often I can't remember why I marked a particular message, so finding it again doesn't do anything for me. A tag, since it is a note to myself, tells me why.

**Use case 2**: Some

[2016-10-04 13:14] vikas-parashar commented on #1333
@timabbott Sure :)

[2016-10-04 13:55] edanaher commented on #984
I'm going to take a look at this; it seems like a fairly straightforward first bug to look at.

[2016-10-04 14:08] vikas-parashar commented on #1333
@timabbott How does this look

### `provision.py` fails during `vagrant up` on Ubuntu

If you see the following error after running  `vagrant up` :

[code]

Error log might not look exactly same so look for these lines:

[code]

and

[code]

It's likely you are running a VM and it's ran out of memory.

Check if you have alotted RAM according to [Requirements](dev-env-first-time-contributors.html#r

[2016-10-04 17:49] #877 closed

[2016-10-04 17:49] timabbott commented on #877
Fix merged!

[2016-10-04 19:33] #996 closed

[2016-10-04 19:34] akashnimare commented on #996
Closed it since Tim van 🎉   is working on this.

[2016-10-04 19:51] #1379 closed

[2016-10-04 22:49] reyha opened #1906 "Errors on running scripts in `api/example`"
This error shows up when I try to run the scripts located in ``./api/example/``:
[code]

Moreover, when I try to debug it using pdb, it shows a connection error.

[code]

It continues to show the same error even after I manually install configparser. My zulip local server is running whenever I run the scripts. I am using Python 2.7.11.

[2016-10-04 23:39] showell commented on #1865
I also experimented with Selenium, and it seems to work fine, although I didn't get past the login screen to see how some of our fancier elements look in Firefox.  I suspect that would be easy enough to do, but for now I'm going to go back to upgrading Casper.

Here is the code:

[code]

You need Firefox and PIL installed, which I already had installed on my OSX laptop.  I ran the web server from

[2016-10-05 00:38] timabbott commented on #1604
@namratab94 have you made any progress on this?  If not I'd like to hand this project off to someone else.

[2016-10-05 01:33] timabbott opened #1909 "Some node tests fail when run individually"
When running `test-js-with-node stream_data.js` (or same with `util.js`) individually, the Node tests fail like this:

[code]

[2016-10-05 01:35] timabbott commented on #1909
It looks like this is called by not using `stub_out_jquery` in the two affected test files.

[2016-10-05 01:39] #1909 closed

[2016-10-05 04:36] timabbott commented on #1899
@feorlen can you try reproducing in another browser?  I'm curious if this is a safari-only bug.

[2016-10-05 05:08] feorlen commented on #1899
@timabbott I'm not seeing it in Chrome (53.0.2785.116, font size "Very Large" for what that's worth.) Those are the two I have handy with mostly default configurations.

[2016-10-05 05:23] namratab94 commented on #1604
On Wed, Oct 5, 2016 at 6:08 AM, Tim Abbott <notifications@github.com> wrote:

​I am working on this. Extremely sorry for the delay, my laptop had crashed
and was in repair for a couple days and I got it back just yesterday. I'm
setting up Zulip locally and working on the issue.​

​
​
Regards,
Namrata Bilurkar
Bangalore, India
about.me/namratab94

[2016-10-05 05:26] feorlen commented on #1899
I tried restarting Safari to see if that made any difference, and at first it didn't happen even when I increased the font size and/or made the window shorter. But there were many fewer topics shown in the Outreachy stream. Then a minute later the whole list was back as before, and scrolling gave me the on and off black rectangle. And this too:

![sidebar black rectangle3](https://cloud.githubuser

[2016-10-05 05:26] timabbott opened #1910 "pageup/pagedown doesn't work in the compose box"
Easily reproduced by entering a few lines of text, going to the bottom, and hitting pageup.

This is likely a bug in our static/js/hotkey.js code.

[2016-10-05 06:37] timabbott commented on #1906
The module you need to make sure is installed is `six`, since the line that you're getting an error on is:
`from six.moves.configparser import SafeConfigParser`.  Can you try making sure six is installed and accessible from Python (by e.g. just running that import line in an interactively Python shell)?  I think with that approach you should be able to debug your problem.

[2016-10-05 09:32] kkampardi commented on #1895
I could work on this!
I have already install the vagrant setup for the development environment and i am in
the process of installing manually on UNIX for this issue.
Meanwhile i have some questions:
Are there any tests related to this script, and if not do you think i should consider of writing one?

( This is the second time i an trying with Zulip. The first time didn't go so well - the timing fo

[2016-10-05 10:27] umairwaheed commented on #1870
@timabbott, a realm can have only one subdomain?

[2016-10-05 10:37] umairwaheed commented on #1870
I had the impression that we could have multiple subdomains per realm.

[2016-10-05 12:12] kkampardi commented on #1895
Bay the way during the manual installation for the dev environment there seem to be two typos that could cause installation errors, that i could fix as well.

![doc-typos](https://cloud.githubusercontent.com/assets/8265472/19112510/dc5d3e52-8b0d-11e6-88ef-a623d2fcbedd.png)

I finally figured this out by typing
`sudo add-apt-repository -y ppa:tabbott/zulip`

[2016-10-05 12:30] reyha commented on #1906
I checked the installation of six. It is properly installed. Moreover, the line ``from six.moves.configparser import SafeConfigParser`` shows no error on the Python shell.

[2016-10-05 14:58] cjb commented on #541
Hi @jdherg! Any update on your WIP branch?

[2016-10-05 17:43] #1221 closed

[2016-10-05 18:37] timabbott opened #1914 "Buggy templates fetching translations.json in development"
I've started seeing these errors fetching the translations.json files in our development environment:

[code]

In theory, LANGUAGE_CODE should be having the actual language code (defaulting to English) substituted in.

[2016-10-05 18:38] timabbott commented on #1914
@umairwaheed do you have an idea as to what the problem is here?

[2016-10-05 19:50] brainwane opened #1915 "cannot rename stream"
I have admin powers on zulip.tabbott.net.

I went to https://zulip.tabbott.net/#subscriptions and windowshaded to get more details on stream "github". I renamed it to "git" and hit the rename button. Then I shift-reloaded the realm, and the name of the stream was still "github".

(I also changed the stream *description* and clicked the button to save the changed description, and when I reloaded th

[2016-10-05 20:51] timabbott commented on #1915
Yeah, this was broken on master 2 days ago and fixed on master yesterday; the timing of zulip.tabbott.net deploys is such that this is currently broken on that server.  I'm closing this issue since it's already resolved and effectively only affects zulip.tabbott.net.

[2016-10-05 20:51] #1915 closed

[2016-10-05 21:50] timabbott commented on #1906
OK, next you should try running the Zulip API code from `api/examples/list-subscriptions` manually, play around with it, and see if you can figure out exactly what's causing the problem.

One possibility is that `/usr/bin/env python` is wrong on your system.

[2016-10-06 01:18] reyha commented on #1906
I added the statement ``import six`` in the ``api/zulip/__init__.py`` after which I get no error. However, now when I run the scripts, I get this response from the API:

[code]
I suppose the API is not working properly. I am currently trying to debug the scripts on my local server.

[2016-10-06 03:18] showell commented on #967
see #1921

[2016-10-06 05:01] timabbott commented on #1906
Hmm, there is already an `import six` in `api/zulip/__init__.py`.  Well, regardless, that's progress!  Your problem is now just that you're not using the correct API key / server pair.  For connecting to your local development server, you need to pass e.g. `--site=http://localhost:9991` -- are you doing that?

[2016-10-06 05:08] #1861 closed

[2016-10-06 05:23] timabbott commented on #1870
The REALMS_HAVE_SUBDOMAINS feature makes it the case that every realm has a unique subdomain (e.g. customerName.zulipchat.com).  An individual realm can have users with multiple email domains in it, which is supported vaguely through the RealmAlias feature, but that's basically unrelated.  The subdomains here are about what URL users log into on the server.

[2016-10-06 05:51] timabbott commented on #1899
The topics shown are based on what the browser has cached, so the list will reset to less and then grow if you restart the browser.  Sounds like it's reproducibly problematic on Safari, at least.

[2016-10-06 06:24] Diptanshu8 commented on #1547
@rishig Is this issue still persistent ? If yes, then are the above mentioned 3 errors the most prominent one for which refactorization needs to be done ?

[2016-10-06 07:09] umairwaheed commented on #1914
The value of `LANGUAGE_CODE` comes from document element which in turn gets whatever current language is. I'll check this out.

[2016-10-06 11:29] umairwaheed commented on #1914
Can you please share the settings or the branch you were working on when this occurred? I can't seem to reproduce it. I have tried with both `REALMS_HAVE_SUBDOMAINS=True` and `REALMS_HAVE_SUBDOMAINS=False`.

[2016-10-06 12:34] umairwaheed commented on #1871
I am working on this. Just trying to get the hang of it. There are definitely some issues with Github due to subdomains e.g. sometimes I start getting 'Invalid session state' error. Sometimes I can't even login with dev auth after github has failed.

[2016-10-06 12:47] umairwaheed commented on #1871
I think the problem is that bad Github logins create lingering cookies which interfere with login process.

[2016-10-06 16:20] rishig commented on #1547
Hi @Diptanshu8! I believe the first is being worked on by @showell in #1808, and the second and third are still up for grabs. The ones listed would definitely be great to have, but will defer to @showell and @timabbott for priority / other ideas!

[2016-10-06 16:21] timabbott commented on #1547
The third I fixed just this week, by removing the need to pass that flag in vagrant environments :)

[2016-10-06 17:36] showell commented on #1515
@brainwane Can you provide some specific examples of what kind of data you'd enter into Zulip that you would want Zulip to relay to Beeminder?

[2016-10-06 17:43] Diptanshu8 commented on #1515
I would like to work on this issue and create a bidirectional bot for zulip-beeminder integration. I am referring to  https://github.com/mattjoyce/beeminderpy for getting started .

[2016-10-06 22:48] reyha commented on #1906
I added ``site=https://localhost:9991``  in ``~/.zuliprc`` instead of  ``site=http://localhost:9991`` which was probably causing this error. My scripts now run perfectly fine.

@timabbott  Thanks a lot for help!  I will now be closing this issue.

[2016-10-06 22:48] #1906 closed

[2016-10-07 03:21] #1256 closed

[2016-10-07 03:37] timabbott commented on #406
This article has pretty good information on what Slack's algorithm is for deciding what to preview, and
https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254#.v33uhgybz

This blog post is also useful for understanding what people are recommending sites do:
https://blog.kissmetrics.com/open-graph-meta-tags/

[2016-10-07 03:45] brainwane commented on #1734
@anubham How is your progress going? Do you need any help?

[2016-10-07 04:02] timabbott commented on #1895
This was fixed via #1911.

[2016-10-07 04:02] #1895 closed

[2016-10-07 13:44] brainwane commented on #675
From [conversation today](https://zulip.tabbott.net/#narrow/stream/general/subject/stream/near/34162):

(Although we may be reworking that UI.)

[2016-10-07 20:15] UTpH commented on #1402
Hi! I want to apply for outreachy and was wanting to take this as my first contribution. This is the first time I am attempting to fix an issue and want to know how to start on this.

[2016-10-07 20:32] brockwhittaker opened #1932 "Old Gravatar pictures not updating when user uploads new avatar."
When a user sets their avatar, any old messages before the update still retain their old gravatar. [Screenshot](http://i.imgur.com/XBogbHj.png)

All messages should probably just have the latest/most updated version of their profile picture all the way back. This issue doesn't exist when switching between avatars however -- only when switching from Gravatar to avatar.

[2016-10-07 20:51] timabbott commented on #1402
Step 1 is to reproduce the issue!  And then learn about Django's CSRF framework, and google around to see if there's a solution to this problem; I'm sure we're not the old Django site experiencing it.

[2016-10-08 06:45] jdherg commented on #541
Ah, sorry -- I ended up having a short-notice cross-country move and new job thing right after that last post and haven't had enough time free on my personal laptop (or awake in my own apartment, really) to figure out what's still left or to catch my WIP stuff up with the past couple of months of development. Whoever picks this up can feel free to build from there or if catching it up to master is

[2016-10-08 15:20] brainwane commented on #1604
Hi @namratab94 - how is this going? If you need help, https://zulip.tabbott.net/#narrow/stream/development.20help would be a good place to tell us what you've tried and what isn't working.

[2016-10-08 15:34] brainwane commented on #457
Namit's pull request #486 is potentially being superseded by @devstorm21's PR #1933.

[2016-10-08 19:11] timabbott commented on #967
Fixed via 0bdc9fef5c57d3022c91a872432f65db5b0eb410 (oops, we forgot the closes: tag).

[2016-10-08 19:11] #967 closed

[2016-10-08 19:24] timabbott commented on #933
Since this looked to be a Casper/PhantomJS bug, and was probably fixed with the recent casper upgrade, so I'm going to close this; we can reopen if it shows up again.

[2016-10-08 19:25] timabbott commented on #787
This was fixed by moving them to be saved to `var/casper/`, which is accessible outside the VM.

[2016-10-08 19:25] #787 closed

[2016-10-08 19:27] timabbott commented on #1482
This was fixed a while ago via #1485.

[2016-10-08 19:27] #1482 closed

[2016-10-08 19:27] timabbott commented on #1485
We ended up splitting out the testing docs as described not longer after this was opened.  Closing.

[2016-10-08 19:27] #1485 closed

[2016-10-08 20:06] UTpH commented on #1402
I tried reproducing the issue..
The stock django HTTP 403 error page (with message CSRF verification failed. Request aborted.) does not show up. Instead, it just logs into the other account.

[2016-10-08 20:40] timabbott commented on #1402
I think you need to be using password authentication rather than the "click a user" authentication to see this problem.

Try modifying `zproject/dev_settings.py` to switch to using password authentication in your development environment (uncomment the AUTHENTICATION_METHODS block).

[2016-10-08 20:42] timabbott commented on #541
Thanks @jdherg, I really appreciate it!

@cjb are you thinking you want to pick up this project, or just interested in the feature?

[2016-10-08 20:57] timabbott commented on #150
A few notes on the data model for this:
* Let's start with just showing typing notifications for PMs, since that's simpler from a UX perspective.  I don't think we need any database storage for typing notifications since they're so transient; we can just send state transition notifications for typing/stopped typing (but still has compose open?)/no longer typing, on a per-user basis, essentially (u

[2016-10-08 21:44] UTpH commented on #1402
What I did is
Went here https://zulip.tabbott.net/accounts/login/
Signed in to reach here https://zulip.tabbott.net/
Hit the back button and log in using a different id
It still takes me to https://zulip.tabbott.net/(my homepage for the current id) without an error

[2016-10-08 21:54] UTpH commented on #1223
Hello!
Just to be clear, the problem is the text being red in color for inline code blocks? If yes, what is the change expected?

[2016-10-08 22:03] timabbott commented on #1223
yes, that's the problem.  It's possible the change is to just make use black text in inline code blocks.

[2016-10-09 04:12] kou opened #1934 "Example text is included in translations.json"
There is an example text in [static/locale/ja/translations.json](https://github.com/zulip/zulip/blob/4e33b00/static/locale/ja/translations.json#L88)

[code]

I think that it's extracted from `static/js/templates.js`:

https://github.com/zulip/zulip/blob/c671ae2/static/js/templates.js#L85 :

[code]

Or https://github.com/zulip/zulip/blob/c671ae2/static/js/templates.js#L94 :

[code]

Both of them ar

[2016-10-09 11:11] Katy310 commented on #1223
Hey. I am an Outreachy applicant and wish to resolve this as my first contribution.
I went through the pygments.css file.
In order to fix the red color, I think we need to specify black for the <code> tag in zulip.css.
Am I on the right track?

[2016-10-09 14:09] Katy310 commented on #1634
Hey. I am an Outreachy applicant and I would like to work on this issue. Which files should I study in order to fix this issue?

[2016-10-09 14:11] Katy310 commented on #1223
This just needed a minor change of color in the bootstrap.css file.

[2016-10-09 15:53] UTpH commented on #1510
Hi!
I'd like to start on this as my first contribution for outreachy. This would be my first ever contribution so could you please help me and tell me how to proceed? I know C/C++, Python and basic HTML,CSS and Java.

[2016-10-09 18:11] #1223 closed

[2016-10-09 18:11] timabbott commented on #1223
Merged, thanks @Katy310!  I modified the commit message a bit to match our commit message style: 5d0960ae0445e06cb1e4b3b86d33c36ef34fbf6b

[2016-10-09 18:12] timabbott commented on #1223
(Huge thanks for fixing this!)

[2016-10-09 18:13] timabbott commented on #1634
`static/js/notifications.js` is where the code for desktop notifications is.  To reproduce in the development environment, I'd recommend having two browsers, e.g. login as Iago in Chrome and as Cordelia in Firefox.  Then send PMs from Iago to Cordelia to trigger desktop notifications in Firefox.

[2016-10-09 19:11] rishig commented on #1510
Hi! I'm guessing this is actually no longer a good thing to work on, since Zulip is currently going through a visual redesign which will likely change the experience around this. Thanks for reading through our issues, and hope you find another project of interest! I've removed the "help wanted" tag.

[2016-10-09 23:26] timabbott commented on #1934
That definitely seems like a bug.  @umairwaheed is there an easy solution to this problem with your i18n framework?

[2016-10-10 05:04] kou opened #1941 "Example texts are included in django.po"
There are example texts in `static/locale/ja/LC_MESSAGES/django.po`.

https://github.com/zulip/zulip/blob/4e33b00/static/locale/ja/LC_MESSAGES/django.po#L45-46 :

[code]

https://github.com/zulip/zulip/blob/4e33b00/static/locale/ja/LC_MESSAGES/django.po#L49-L50

[code]

https://github.com/zulip/zulip/blob/4e33b00/static/locale/ja/LC_MESSAGES/django.po#L53-L54

[code]

https://github.com/zulip/zuli

[2016-10-10 05:15] arpith commented on #150
A few thoughts - according to http://www.businessinsider.com/the-imessage-dots-explained-2016-1

1. iMessage shows the indicator only after the first message is sent, and
2. keeps the indicator for 60 seconds after the typing stops (including when the sender's phone is locked, etc)

I don't think it's necessary to go that far, but perhaps clients can make a `GET` request to (say) `/users_typing/re

[2016-10-10 06:04] timabbott commented on #150
I think we can do this with far less work than your proposal if we take the basically stateless server approach I described, where clients subscribe to typing notifications the same way they subscribe to things like new message notifications (`/api/v1/register`), and when a client starts typing, that client sends a POST request to e.g. `/api/v1/typing` containing in the body the recipients (probab

[2016-10-10 06:11] timabbott commented on #1941
Agreed, we should skip the `docs/` directory.  Thanks for noticing this @kou!

@umairwaheed do you want to fix this one as well?

[2016-10-10 06:17] timabbott commented on #150
I think with that design, the business logic for this feature will be almost entirely in the JS code.  It's likely we'll end up having several constants at the top of the JS code for this that control how chatty it is:

* how long before we assume a client has gone away and expire its typing status (e.g. 15s)
* how frequently "still typing" notifications to extend the expiry happen (needs to be le

[2016-10-10 06:58] umairwaheed commented on #1941
sure.

[2016-10-10 07:01] umairwaheed commented on #1934
Must have extracted from https://github.com/zulip/zulip/blob/c671ae2/static/js/templates.js#L85. Yes @timabbott, we wrote our own parser so I think we can ignore the comments from getting parsed.

[2016-10-10 15:15] kkanahin commented on #1036
Hi @timabbot. I've made research regarding this issue.
 1. We can create proxy for websocket using  twisted.protocols.portforward.ProxyServer (In twisted 16.4.1). But it can proxy only whole port (like 8001 -> 8002). Incoming port can't be proxied to several destinations (i.e and to socksjs and to socket.io). The reason: it works on low-level network connection level and doesn't see http headers a

[2016-10-10 15:24] #1934 closed

[2016-10-10 15:24] #1941 closed

[2016-10-10 15:25] timabbott commented on #1934
Fix merged, thanks @kou and @umairwaheed!  I'll do a `tx push` to update transifex.

[2016-10-10 15:25] timabbott commented on #1941
Fix merged, thanks again @kou for the report and @umairwaheed for the fix!

[2016-10-10 15:44] #1871 closed

[2016-10-10 16:04] timabbott opened #1947 "Add more complete tests for the LDAP authentication backend"
The LDAP backend is our only auth backend that doesn't have complete automated tests in zerver/tests/test_auth_backends.py.

[2016-10-10 16:05] timabbott opened #1948 "Add negative backend tests for GitHub team and organization auth"
Looking at the coverage report for our GitHub authentication backend, it appears we don't have negative tests for these two error cases:
[code]

[code]

While we're at it, we should also add tests for this case in SocialAuthMixin:
[code]

Finally, we don't have a test for the `KeyError` case in `get_full_name`.

@umairwaheed this may be pretty fast for you to fix and would get our GitHub authentic

[2016-10-10 16:20] timabbott commented on #1948
Also it'd be great if `test_github_backend_do_auth_for_default` and the other nearby functions did a bit more verification that the correct value for `user_profile` was passed to `process_do_auth`

[2016-10-10 16:24] timabbott commented on #1870
Actually, reopening this since while we've added subdomain tests for the authentication backends, we haven't added tests for the auth decorators yet (e.g. no changes have been made to `TestValidateApiKey` and its neighbors).  You can see this pretty easily with the `test-backend --coverage` report that we're not testing the authentication decorators handling subdomains correctly yet.

[2016-10-10 17:03] timabbott commented on #1914
Interesting, I was getting this on master with unmodified settings.  Let me see if I can still reproduce.

[2016-10-10 17:08] arpith commented on #150
Sounds good 👍 I've put the checklist I'm using [here](https://paper.dropbox.com/doc/Task-list-for-Zulip-typing-indicators-TaSoQdRHdC6UQC1tVJHKs)

[2016-10-10 17:53] timabbott opened #1950 "Poor handling of emacs backup files in `test-backend`"
[code]

To fix this, we should probably just filter out test files whose filenames start with `.`.

This would be a great project for a new contributor.

[2016-10-10 18:04] timabbott commented on #1547
For fixing the second issue, we already create a process group for the development environment; I think we could probably solve the problem by saving the process ID for that group to a file under `zulip/var/run/` and then reading that to determine what process group to kill.

[2016-10-10 18:05] timabbott commented on #1914
I was unable to reproduce this.  In case I encounter this again, what should I do to help debug?

[2016-10-10 18:34] timabbott commented on #507
This was fixed -- we now have a nice message making clear that in the Vagrant environment, only port 9991 is exposed automatically.

[2016-10-10 18:34] #507 closed

[2016-10-10 18:37] timabbott commented on #1662
I think the `admin_tab` and `settings_tab` ones are now resolved since they've been broken into a bunch of subcomponents.

[2016-10-10 18:40] timabbott commented on #1533
@showell has this one ended up happening?

[2016-10-10 21:41] brainwane commented on #1125
@lgh2 how's this going?

[2016-10-10 21:44] brainwane commented on #1886
@arpith I know you mentioned you're interested in making our development install process easier so I ping you in case you have some input on this issue. :)

[2016-10-10 22:01] lgh2 commented on #1125
I am still working on it - I hope to have something to submit in the next
day or two.

On Mon, Oct 10, 2016 at 5:41 PM, Sumana Harihareswara <
notifications@github.com> wrote:

[2016-10-10 22:48] porterjamesj opened #1955 "Stream annotation"
A Zulip feature that it just occurred to me would be nice to have is some way of annotating streams with metadata and easily exposing this. A concrete example: in the RC zulip, we have a stream called `announce`, which is intended to be location agnostic and low-volume. Newer users often don't realize this and use it to announce e.g. New York specific events which would probably have been better s

[2016-10-10 23:03] timabbott commented on #1955
We have already a "stream description" feature, but the descriptions are only exposed on the "manage streams" page, which makes them not that useful.  If just a sentence or two of text would suffice, I think the solution would be exposing those descriptions in more places, i.e. https://github.com/zulip/zulip/issues/164.

The hardest question with this is: where would the description go in the UI?

[2016-10-10 23:12] #147 closed

[2016-10-10 23:18] timabbott opened #1956 "Improve usability and performance of emoji picker"
We recently added a new emoji picker; yay!  The problem is it doesn't have great usability yet.

(1) It only shows 2 rows of emoji at a time, which makes it hard to actually browse the emoji.  And there's no categories for the emoji (which may be most easily fixed by switching to a source of emoji that provides that (e.g. #209) or figuring out how to get data on that question, not building our own

[2016-10-10 23:19] timabbott commented on #147
This was merged recently.  See https://github.com/zulip/zulip/issues/1956 for some follow-up issues.

[2016-10-11 00:11] #1814 closed

[2016-10-11 00:15] timabbott opened #1957 "Install the Zulip API bindings via provision.py"
Developers trying to test the Zulip API find it can be a bit tricky to get the Zulip API bindings working in the Vagrant environment.  We should just install it into the virtualenv in the Vagrant environment automatically.

This probably involves a little care to figure out how to do this correctly, since the API bindings are a subdirectory in the project; do requirements.txt files support passing

[2016-10-11 00:16] timabbott commented on #1957
Using `-e` in requirements.txt might do this correctly.

[2016-10-11 00:20] timabbott commented on #1957
Cool, yeah, that seems to work, so I'll be fixing this shortly.

[2016-10-11 00:26] showell commented on #1533
There's now support for long anchor tags, and there's a test called test_anchor_blocks on it.  I think we still insist that the `</p>` tags are on their own line, so the original example won't pass.  I am gonna close this.

[2016-10-11 00:26] #1533 closed

[2016-10-11 00:40] #1884 closed

[2016-10-11 00:42] #1957 closed

[2016-10-11 02:29] brainwane commented on #992
I would love to be able to give a thumbs-up with a hand that looks like my hand. Thank you for suggesting this @jdherg!

[2016-10-11 02:42] brainwane commented on #424
(related to #425)

[2016-10-11 02:46] brainwane commented on #195
We've now changed message editing so that, in many realms, the window for editing an old message is only a few minutes long. In cases where the edit is necessarily within only a few minutes of the original message by dint of that short editing window, I'd love to be able to more easily @-mention a colleague while editing my original message.

I like the idea of the notification saying "[user] edit

[2016-10-11 02:57] brainwane commented on #1009
@phansen01 How's it going with this issue? Thanks!

[2016-10-11 02:58] brainwane commented on #519
Name changes can be very important to the people whose names are being updated so I hope we can bump the priority up on this issue.

[2016-10-11 03:00] phansen01 commented on #1009
I had made decent progress but school started up and my free time came to a
screeching halt :-)

If anyone else is interested in finishing this one up I have a reasonable
UI implemented that I can provide; I had not worked on the back end stuff
yet.
On Mon, Oct 10, 2016 at 9:57 PM Sumana Harihareswara <
notifications@github.com> wrote:

[2016-10-11 03:53] showell commented on #1662
I'm going to close this ticket.  If the only remaining deeply-indented template is the single_message one, I'd still be inclined to do 4-space indents for all of our templates.  I'm not sure how actionable this is right now--I wouldn't want to mess with the template unless it was part of improving the message view (which might be coming up as part of the re-design.)

[2016-10-11 03:53] #1662 closed

[2016-10-11 04:44] reyha opened #1959 "Error on re-provisioning"
Today I tried to re-provision in order to get a new feature running by doing this:
[code]
but it failed giving the output as:

[code]

I get the same error when I force the new build. Python 2.7.6 is currently being used.

[2016-10-11 04:48] timabbott commented on #1009
@phansen01 it'd be super awesome if you can post your progress, since someone is working on an implementation for this now (and I'm pretty sure has done a backend for it).

[2016-10-11 04:50] timabbott commented on #519
@brainwane just a note -- old messages are updated with a browser reload (which are triggered by code deploys), so it's generally a relatively brief transient issue.  I'd still like to fix this (and actually there is ongoing work on doing so), but I think it's maybe less important than it might otherwise seem.

[2016-10-11 05:57] timabbott commented on #1959
This appears to be fixed by downgrading setuptools to 27.3.1 from 28.3.0.  I'll open a setuptools bug for this issue (in addition to downgrading what we use).

[2016-10-11 09:50] umairwaheed commented on #1914
I think it was a backend issue. In case it happens again, check the html tag of the template; we specify the language code in that tag. Probably, under certain conditions, the context which is used to render the template doesn't include the language code.

[2016-10-11 14:24] brainwane opened #1967 "explain step after re-provisioning"
https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#maintaining-the-dev-environment should make it clear that the next step after you re-provision your Vagrant guest is to simply try `ssh`-ing in (if you provisioned from outside the guest), and then running the development environment with `/srv/zulip/tools/run-dev.py`.

[2016-10-11 14:27] gustavopinto opened #1968 "Studying the evolution of zulip' project"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. zulip was in my list.

To further analyze the impacts of zulip's migration, we analyzed the git log commit history of your project in terms of _number of contributions_, _number

[2016-10-11 14:42] brainwane opened #1969 "a few emoji display wrongly as blank white spots; may be missing"
I was composing a message and tried out the emoji pane, and saw that a spot looked empty:

![missing-one](https://cloud.githubusercontent.com/assets/842790/19274222/7251000e-8f9d-11e6-87bd-8b66c1d471dc.png)

If I hovered over that spot I saw that it said `:one:`I tried using that emoji in a message and it displayed as blank white space (but if I hovered over it I saw `:one:`. After some experiment

[2016-10-11 15:20] jc2it commented on #752
A couple of questions before I pursue my organization's initiative.
Did the hack work for the OP?
In order to deploy the hack does the full dev environment need to been installed first?
What steps can be performed to change this from a hack to an admin option that can be turned off and users do not see the PM menus as well?

Thanks!

[2016-10-11 15:43] timabbott commented on #1969
@umairwaheed can you investigate this one?

[2016-10-11 15:53] timabbott commented on #1968
Hi Gustavo,

The software was not being actively developed by its owners (Dropbox), but it had many users who wanted to continue using and improving the software.  I feel that open sourcing Zulip has been a huge success, since the open source project is now moving faster than Zulip was moving when it had 11 fulltime engineers as a startup prior to the Dropbox acquisition.

Not really -- your data

[2016-10-11 15:53] #1968 closed

[2016-10-11 15:54] timabbott commented on #1959
Thanks for reporting this @reyha!  This is temporarily resolved via f5c6cb7c0ecb0c5cfbe647940caabca81ccb2b88; we're working on a nicer solution that doesn't require us to do that revert.

[2016-10-11 15:54] #1959 closed

[2016-10-11 16:30] timabbott commented on #752
For turning it into an admin option, this tutorial: http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html should cover everything one needs to know technically for adding the option itself.

Hiding the PM menus from the UI is probably pretty doable and would basically take the form of adding if statements in the templates in a few places.  Doing that would require a development environme

[2016-10-11 16:34] timabbott commented on #752
(I'd probably tag this option as experimental in the text on the /#administration page at first since it seems like the kind of thing where we'll discover various things we missed)

[2016-10-11 18:14] christi3k commented on #1882
For the time-being, let's add images that we want to statically link to rather than display inline to `_static`. That requires no change to `docs/conf.py`.

Closing since there's nothing more to do here.

[2016-10-11 18:14] #1882 closed

[2016-10-11 19:56] cjb commented on #541
@timabbott I'm super interested in the feature, but not sure how much I can help.  I just looked at the branch, it looks like the backend (models and views) are done, but nothing on the frontend side.  I'm mostly a backend person, so I'm probably not the right person to work on the UI.  I suspect I could respond to review feedback on the backend, if someone else works on the frontend?

[2016-10-11 20:16] timabbott commented on #541
Well, I think a great thing you could do on the backend side is finish the basic implementation and make the tests a bit more extensive.  There are several issues with John's backend implementation right now (basically just because it's unfinished):
* two copies of the MessageReaction class
* the `send_event` call sends to the entire realm, not the list of subscribers to the message's recipient ob

[2016-10-11 20:17] timabbott commented on #541
(and I'm happy to spend significant time helping with this; feel free to drop by zulip.tabbott.net to be able to collaborate interactively if you want do this!)

[2016-10-11 20:23] cjb commented on #541
Thanks for the explanation!  I don't want to stop anyone else working on this if they feel like it, but those do sound like things I could help with.  I guess I'll mention progress here if I have some, and if you're interested in helping and don't see any more messages from me, it means this is up for grabs.

[2016-10-11 20:59] sinwar commented on #1671
I'm taking this up @showell

[2016-10-11 21:10] brannerchinese commented on #541
I sure hope this is a feature that is turned off by default, or at worst can be turned off at will. One of the horrors of social media is the amount of metacontent I am forced to look at. Effective workflow means shutting all that stuff out.

[2016-10-11 21:19] #1710 closed

[2016-10-11 22:42] timabbott commented on #541
We can consider an option to turn it off after we've done the frontend design and maybe iterated a bit based on feedback of how noisy it feels; it's possible that we can come up with a design where ~nobody wants to turn it off.  It certainly wouldn't be hard to hide reactions if there was a clear desire for that.

[2016-10-11 23:22] #1948 closed

[2016-10-11 23:24] timabbott commented on #1870
@umairwaheed I assume you'll take care of this as well?

[2016-10-11 23:35] timabbott commented on #1914
Oh, I did verify in the browser that indeed it had `{{ LANGUAGE_CODE }}` in the HTML.  So, something was causing that to not be substituted in the template.

[2016-10-11 23:38] #1553 closed

[2016-10-11 23:39] timabbott commented on #1553
This feature was merged!

[2016-10-11 23:40] timabbott commented on #1967
Adding documentation of this would be a great contribution for a new contributor.  The docs live in the `docs/` repository of the project.

[2016-10-12 00:12] feorlen opened #1976 "User-selectable webapp alert sounds"
Right now there's one alert sound for audible notifications, no matter the reason for the notification. The user should be able to choose a sound from a library of those available, ideally different sounds for different types of alerts.

If there are global and category selections, each should have an option for no sound. This allows for selecting a base choice ("This sound for all my alerts") and

[2016-10-12 00:17] feorlen commented on #1976
See also #255 concerning volume of audible notifications

[2016-10-12 00:41] timabbott commented on #999
I just added tests for the `do_update_message_flags` case.

[2016-10-12 00:44] timabbott commented on #1761
I merged the backend support in `fetch_raw_messages`, so we now only need to do frontend changes to finish this.

[2016-10-12 00:44] timabbott commented on #1604
I just merged the backend support in `fetch_raw_messages`, so we now only need to do frontend changes to finish this.

[2016-10-12 00:55] timabbott commented on #1976
I think we should just have one issue for now.  For implementing this, I'd start with the problem of making it possible to configure the global notifications sound effect in Zulip on the settings page, with it being possible to add another one by adding it in Zulip's git repository (and then we can add a couple extra sounds); I think category sounds and user uploads are features we might want to a

[2016-10-12 00:56] timabbott commented on #1976
(If someone's interested in working on adding such a setting, http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html is a guide to most of the work involved)

[2016-10-12 01:09] showell commented on #1671
Great!  The rename has already happened, as you probably have already figured out, but I look forward to it being split out and cleaned up a bit!

[2016-10-12 01:20] #1667 closed

[2016-10-12 01:33] timabbott commented on #1593
Oops, I missed your message; that looks reasonable (assuming you've tested it).  @janitanjaria23 can you create a pull request for this change?  That'll make it easier to review and merge.

[2016-10-12 01:48] timabbott commented on #933
OK, apparently this still happens occasionally: https://travis-ci.org/zulip/zulip/jobs/166926541

[2016-10-12 03:03] timabbott opened #1977 "Use a different test database name on each test run"
Currently, we always use the `zerver_test` database name (cloned from `zerver_test_template`), which means that if you run the django backend and casper tests in parallel, we'll end up having conflicts between the two test suites using the same database.

It should be fairly easy to instead use names like `zulip_test_abc123` for the actual test database (cloned off `zulip_test_template`) and clean

[2016-10-12 03:05] timabbott opened #1978 "Casper tests should have a better "overall result" output"
Now that we are running our casper tests as basically 10 suites run in a row, rather than a single long suite, we should generate some sort of overall, final, aggregate output showing the total time consumed and number of tests passed/failed.

[2016-10-12 04:21] reyha opened #1980 "'type' argument failing 'send-message' script"
When I run  ``api/examples/send-message`` with the ``type`` arg, I get this:
[code]
However, the script works fine without the ``type`` arg:
[code]

[2016-10-12 04:26] timabbott commented on #1980
Hi @reyha!  Thanks for investigating this.  However, I think the problem is that you passed both `hamlet@zulip.com` and `announce` as positional arguments (and thus stream names).

[2016-10-12 04:26] #1980 closed

[2016-10-12 05:27] timabbott opened #1981 "Use options available in the latest mypy"
With mypy's new `--scripts-are-modules` and `-i` options, we can make running mypy much faster (and the Travis CI output much cleaner).  The main challenge with `--scripts-are-modules` is that we need to annotate or exclude a bunch of files since we weren't previously running the scripts with `--disallow-untyped-defs`.  The main challenge with `-i` is that we need to make sure we put the cache in

[2016-10-12 05:59] timabbott opened #1982 "Lightbox leaves keyboard in the wrong state on exit"
In the zulip lightbox, if you click on an image (opening the lightbox), hit escape, and then hit enter, it'll reopen the lightbox (with no image), rather than replying to whatever message is selected.

@brockwhittaker fyi

[2016-10-12 06:40] umairwaheed commented on #1914
Yeah, probably, some condition under which current language is not selected correctly.

[2016-10-12 06:43] umairwaheed commented on #1870
Yeah, yeah, will do today.

[2016-10-12 13:10] UTpH commented on #1853
Hi! I am trying to solve this issue as my first contribution. I went through the code and am wondering if we could just add the tutorial button in the gear menu that can call the required tutorial.js?For this where would I add the piece of code?
Or once the tutorial is over, we change a status to "need tutorial" and call the function again?
I am not very good at JS so would really help if you coul

[2016-10-12 13:21] brainwane commented on #1853
Hi @UTpH. I don't know what the right answer is here; @arpith do you maybe have a suggested approach?

[2016-10-12 13:38] UTpH commented on #1853
http://hastebin.com/ofawejaxek.xml
Something on the lines of this wrt to the adding a button in the gear menu.

[2016-10-12 15:19] kkanahin commented on #1036
Hi @timabbot. I have updates regarding issue.
I've made proxy tornado server which works in the same mode as twisted proxy with ability to catch websocket connection and handle it through tornado websocket handler.
To look at my progress on this issue I've pushed beta version of script with tornado server as proxy. Sorry It contains copy-paste, debug prints and unnecessary code. I will clean it an

[2016-10-12 16:10] rishig commented on #1402
Hi @UTpH, the problem indeed seems to be fixed; thanks for taking a look, and sorry for the delay in replying! Checked both the "click a user" auth and the password auth.

[2016-10-12 16:10] #1402 closed

[2016-10-12 17:39] umairwaheed commented on #1969
sure

[2016-10-12 18:51] timabbott commented on #1036
Cool, sounds awesome; are there any open issues with the Tornado proxy?

[2016-10-12 19:17] hlieberman opened #1986 "Can't Set Stream Description for Streams with #"
Attempting to set the stream description for a stream named "#POST" causes the following error:

[code]

[2016-10-12 22:43] lgh2 commented on #1125
I submitted my pull request! https://github.com/zulip/zulip/pull/1987

[2016-10-12 22:46] vikas-parashar opened #1988 "Subscribe button not working"
Subscribe button, at the end of stream is not working and showing following error in console log:

`common.c016bb62512e.js:243 Uncaught TypeError: Cannot read property 'subscribed' of undefined`

Tested on Chrome and Safari
<img width="1254" alt="screen shot 2016-10-13 at 4 08 19 am" src="https://cloud.githubusercontent.com/assets/5694967/19330363/9a4035e4-90fb-11e6-82f4-f46c9345d9b4.png">

[2016-10-12 23:43] timabbott commented on #1986
Cool, thanks for the report!  I'll make sure someone looks into this soon.

[2016-10-13 04:59] kkanahin commented on #1036
Yes there is some issue, websocket servers closed connection after few connection tries. Fixing it now.

[2016-10-13 05:24] timabbott commented on #1626
As an element in how we address this, I think http://limetext.org/contribute.html is a pretty cool way to show all the contributors to an open source project.  Also since they're open source we may be able to borrow the code...

[2016-10-13 05:28] timabbott commented on #1626
Indeed, the code is pretty simple an open source here: https://github.com/limetext/limetext.github.io/blob/master/contribute.html#L69

[2016-10-13 05:31] timabbott commented on #1988
This is probably a recent regression.  I'd appreciate someone taking a look at reproducing this on master and debugging...

[2016-10-13 07:01] arpith opened #1991 "Expanding private messages by clicking "more conversations" breaks scroll"
The left pane then becomes unusable and the only way out seems to be clicking home (which then de-expands the private messages list).

[2016-10-13 07:16] timabbott commented on #1991
@arpith what browser?  I'm wondering if this is #1899.  Regardless, it'd be awesome to debug this...

[2016-10-13 07:25] arpith commented on #1991
@timabbott I'm not sure it's the same, attaching screenshot. Browser is Chrome Version 53.0.2785.143 (64-bit)
Could it just be that the private messages part of the left panel doesn't support scroll?
<img width="247" alt="screen shot 2016-10-13 at 12 54 20 pm" src="https://cloud.githubusercontent.com/assets/62899/19339990/3c5e454e-9144-11e6-98c5-adfb44b26c88.png">

[2016-10-13 07:31] arpith commented on #1991
When the list of your private messages is bigger than the screen, the ones outside the viewport are inaccessible.

<img width="249" alt="screen shot 2016-10-13 at 12 59 42 pm" src="https://cloud.githubusercontent.com/assets/62899/19340153/18bb43fc-9145-11e6-964b-9f5fa480a160.png">

[2016-10-13 07:33] timabbott commented on #1991
Oh, I see, we do support scrolling the STREAMS section but not the "Private Messages" one.  Yeah, definitely a bug there, though it'll require some thought to figure out how we want to solve it :)

[2016-10-13 07:45] arpith commented on #1991
One possible solution may be to scroll the entire column instead of just the streams section. Another option could be to treat "Private Messages" as a section header and mimic iOS scroll behavior (when the private messages section is scrolled out of view, collapse it).

[2016-10-13 07:46] arpith commented on #1991
Either way I think it would be nice to collapse the private messages section (either fully or partially) when clicking on Private Messages a second time.

[2016-10-13 07:50] arpith opened #1992 "Clickable areas in streams section of left panel have non-pointer style cursors when not hovering over text"
When the cursor hovers over the stream name it changes to a pointer. Since the entire area is clickable (and results in the stream being opened), perhaps the cursor style should be set to pointer.
<img width="247" alt="stream-cursor" src="https://cloud.githubusercontent.com/assets/62899/19340687/cd60d9b4-9147-11e6-9fb6-d22346c0c004.png">

[2016-10-13 07:56] arpith commented on #1992
Interestingly, the cursor changes to text when hovering over the unread count, and clicking it decrements the count (by advancing the user's current read message in that stream, similar to the down arrow). Perhaps a text cursor is not the best indicator of this behavior?

[2016-10-13 13:36] mohsenSy commented on #1988
I tested this on Chrome version `48.0.2564.82 (64-bit)` on Windows 10 it is working without any errors what version of Chrome are you using?

[2016-10-13 14:08] showell opened #1994 "provisioning: follow-up on PROVISION_VERSION"
#1808 introduces the concept of PROVISION_VERSION, which is a version number in the repo that gets bumped whenever new provisioning is required.  #1808 will add some tooling to detect that the version has been bumped, and it will alert users to provision before wasting their time running tests with the wrong dependencies.

The initial versioning scheme will be human-enforced.  This follow-up ticke

[2016-10-13 15:09] mohsenSy commented on #1986
I will try to work on this.

[2016-10-13 15:20] brainwane commented on #320
I ran into this issue today.

[2016-10-13 15:35] brainwane opened #1995 "new accounts, if started at URL for a narrow, should be directed there after account creation"
I open up a new browser window in which I am not logged into any Zulip realm.

I go to https://zulip.tabbott.net/#narrow/stream/general/subject/welcome .

I create a new account.

I'm taken to the general realm tutorial, and when I skip it, I'm not taken directly to the particular stream & topic for that narrow. It would be great if I were.

[2016-10-13 16:14] timabbott commented on #1862
Fix merged, thanks to @vikas-parashar.

[2016-10-13 16:14] #1862 closed

[2016-10-13 16:47] sup95 opened #1996 "Open message in stream clickable from notifications"
When online on zulip, notifications pop up towards the top right corner. ( I do not mean the desktop notifications, I mean the notifications within zulip.) It would be nice if clicking on the notification indicating the message takes the user to the stream and topic where that particular message is typed. Currently this notification box has only a close tab. I would like that and if there are more

[2016-10-13 17:10] vikas-parashar commented on #1988
@mohsenSy I tried again, still having the problem.
Chrome version `53.0.2785.143 (64-bit)`
Safari version `10.0 (12602.1.50.0.10)`
OS: macOS 10.12

[2016-10-13 17:18] mohsenSy commented on #1986
@timabbott I did some work on this and found the following:
* The stream is stored in the database correctly with the right name.
* By examining the API calls made when changing description of other streams I can tell that this url `url(r'^streams/(?P<stream_name>.*)$', 'zerver.lib.rest.rest_dispatch',` is matched and the stream name is passed in the URL but when the name contains a **#** sign the

[2016-10-13 17:23] mohsenSy commented on #1986
I used `Insominia` REST client to send the request manually and I noticed that the `kwargs` in `rest_dispatch` contains the stream name without a **#** sign and it fails of course because there is no stream with the given name.

[2016-10-13 17:54] mohsenSy commented on #1986
**#** is unsafe character to be used in URLs and must be encoded before sending it.
[stop using unsafe characters in URLs](https://perishablepress.com/stop-using-unsafe-characters-in-urls/)

[2016-10-13 18:32] feorlen opened #1998 "Integration guide could be more novice-friendly"
I'm working through the Hello World example in the integration guide (http://zulip.readthedocs.io/en/latest/integration-guide.html) and there were some things I found confusing as a developer not well-versed in the world of web services. I'm opening this issue to capture my notes walking through the document. (Hi @christi3k! Also, I'm about half through as I start this.)

What is the expected audi

[2016-10-13 18:37] timabbott commented on #1998
@christi3k FYI

[2016-10-14 00:13] timabbott commented on #933
This should be fixed by #1999, by removing our use of that feature.

[2016-10-14 00:23] timabbott commented on #1955
Closing this as a duplicate of #164, but feel free to comment if you had something different in mind.

[2016-10-14 00:23] #1955 closed

[2016-10-14 00:26] timabbott commented on #18
I believe we fixed the hanging issue some time ago and forgot to close this issue.

[2016-10-14 00:26] #18 closed

[2016-10-14 00:28] timabbott commented on #37
@christi3k we now document this, right?

[2016-10-14 00:29] timabbott commented on #42
Ubuntu Precise is nearing EOL, so I'm closing this as wontfix.

[2016-10-14 00:29] #42 closed

[2016-10-14 00:35] timabbott commented on #176
I think we've fixed the actual settings issue here.

[2016-10-14 00:35] #176 closed

[2016-10-14 00:44] showell commented on #1765
I feel like we've been able to just address these ad hoc.

[2016-10-14 00:44] #1765 closed

[2016-10-14 00:48] timabbott commented on #379
Most of my ideas above have been imlpemented but a few haven't; it's probably worth splitting those out into their own issues.

[2016-10-14 01:00] timabbott commented on #477
This puppet now supports running the different parts of Zulip on different servers, so I'm closing this issue.

[2016-10-14 01:00] #477 closed

[2016-10-14 01:00] #475 closed

[2016-10-14 01:02] #1686 closed

[2016-10-14 01:02] timabbott commented on #666
We've basically solved this issue by deleting those extra newlines.

[2016-10-14 01:02] #666 closed

[2016-10-14 01:03] timabbott commented on #655
@christi3k is this issue now covered well in the installation docs?  I'm wondering if we can close it.

[2016-10-14 01:07] #746 closed

[2016-10-14 01:07] timabbott commented on #750
@christi3k is this issue something we should still have open?

[2016-10-14 01:08] timabbott commented on #753
This was indeed fixed by that commit.

[2016-10-14 01:08] #753 closed

[2016-10-14 01:08] timabbott commented on #765
This was done! :)

[2016-10-14 01:08] #765 closed

[2016-10-14 01:17] timabbott commented on #971
@hackerkid did you end up working on this issue?

[2016-10-14 01:17] timabbott commented on #936
We resolved this a while ago.

[2016-10-14 01:17] #936 closed

[2016-10-14 01:17] #931 closed

[2016-10-14 01:19] timabbott commented on #864
We fixed this a while ago.

[2016-10-14 01:19] #864 closed

[2016-10-14 01:20] timabbott commented on #829
I believe we've cleaned out all the things we can at this point.  I'm sure more will show up, but we won't fix them because this issue was left open :)

[2016-10-14 01:20] #829 closed

[2016-10-14 14:58] GervaisdeM opened #2004 "Twitter integration not expanding all messages"
https://zulip.tabbott.net/#narrow/near/24293/stream/general/topic/twitter-bot

I see a lot of this in my errors.log

[code]

Zulip server version 1.4.2

[2016-10-14 15:44] porterjamesj commented on #1955
@timabbott sorry for no reply—I had been intending to comment to the effect that I agree this is a duplicate of 164. thanks!

[2016-10-14 17:04] timabbott commented on #2004
Does this happen consistently when you send a link to a tweet, or does it sometimes work?  I can imagine this being a problem with firewall/networking configuration that is preventing requests from reaching the server.

[2016-10-14 17:43] GervaisdeM commented on #2004
I happens some of the time, but not always. There are screen snapshots in the converation at zulip.tabbott.net that I linked to above.

There is no firewall blocking outgoing connections. The server is behind a NAT configuration due to necessity. I imagine that twitter is not trying to contact my server directly, but only responding to requests being made from my end, but if there are ports that n

[2016-10-14 17:58] timabbott commented on #2004
If it's working sometimes, it's probably actually a timeout issue (not a request hanging forever issue).  So, I think basically we need to raise the timeout.  Can you try changing it to 10s and then restarting the server (you can just do this directly without a special deploy), and see if the problem goes away?

[2016-10-14 17:58] timabbott commented on #2004
It's possible you have slower connectivity to Twitter's servers than zulip.tabbott.net does, and thus a short timeout that works fine for us doesn't work for you.

[2016-10-14 18:00] GervaisdeM commented on #2004
@timabbott where is the timeout set?

[2016-10-14 18:02] timabbott commented on #2004
So, there are two timeouts; one is the `3`s in the traceback above for the twitter rendering itself; there's also a `5`s overall timeout in this part of zerver/lib/bugdown/__init__.py
[code]

[2016-10-14 19:34] #1986 closed

[2016-10-14 19:37] timabbott commented on #1986
Fix merged, thanks for the bug report @hlieberman (and for fixnig this @mohsenSy)!

[2016-10-14 19:41] christi3k opened #2006 "docs: Clarify required windows line-ending settings"
On Windows, when `core.autocrlf` is not set or is set explicitly to `true`, Windows-style line endings (`CRLF`/`^M`) are added to all text files. This causes provisioning to fail in odd ways.

For the time-being, we should instruct contributors on Windows to set `core.autocrlf = input`, which will prevent the conversion upon checkout and also prevent those Windows line endings from being checked i

[2016-10-14 19:41] kamalmarhubi opened #2007 "Subscribe user to stream message remains even if user is removed from mentions in draft"
Observed on the  recurse.zulipchat.com instance. I selected the wrong person with $first_name, and got the message to subscribe them. I fixed my error, but the message remains.

I'd expect this message to disappear if the person is no longer being mentioned.

[2016-10-14 19:48] kamalmarhubi opened #2008 "Improve ordering of @mention suggestions"
This is an enhancement related to the bug in #2007. I frequently either almost pick or do pick the wrong person with $first_name in the drop down because the one I want isn't at the top.

There are a few relatively simple heuristics that could make this less likey. For example:
- if replying with a selected message, prioritise that message's author
- prioritise recent participants in the topic
- p

[2016-10-14 20:40] timabbott commented on #2006
If it's possible to address via `.gitattributes`, we should definitely do that.

https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings suggests we can ... let's do that since it sounds like that would just eliminate the problem entirely.

[2016-10-14 20:41] timabbott commented on #2006
I'd be really excited if someone can successfully test the `.gitattributes` change and submit a PR...

[2016-10-14 21:09] christi3k commented on #655
Yes, I believe it's sufficiently addressed in our documentation here: http://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#windows-10

[2016-10-14 21:09] #655 closed

[2016-10-14 21:15] christi3k commented on #750
It's not causing a problem now, but it still bugs me a bit, especially with the mis-match between the virtualbox tools on the guest and the host being a whole version off. Let me see if I can get them aligned without introducing other complications into the provisioning process?

[2016-10-14 21:19] christi3k commented on #37
Not sufficiently. Need to update the vagrant setup guide and/or update .gitattributes. See #2006.

[2016-10-14 21:21] christi3k commented on #2006
I can work on that since I've already got the Wndows machines running.

@timabbott, how much do you trust Git's binary detection? We can leave it up to git to detect text files and ensure proper line endings are preserved, or we can specify text files by extension.

[2016-10-14 22:09] timabbott commented on #2006
I have no idea how good their detection is, but I assume it's not too bad?  I'd probably start with trying auto for everything, and we can fix problems by adding additional rules if we encounter any.

[2016-10-14 22:31] timabbott commented on #37
Cool, sounds good, let's close this in favor of #2006 since they're basically duplicates now.

[2016-10-14 22:31] #37 closed

[2016-10-14 22:34] timabbott commented on #1641
Checked off sqlalchemy thanks to @umkay's work on #2010.

[2016-10-14 22:35] timabbott commented on #1641
Also, I removed `google-api-python-client` since that one we're only running a few weeks' old version; the purpose of this issue is to track the things that are more than a year old, not every new release of our dependencies.

[2016-10-14 22:51] timabbott commented on #2008
I think all of these things can be done entirely in frontend code (because we have 1000+ messages of message history cached), and seem like pretty reasonable enhancements.

The code for how we do autocomplete in the compose box is in `static/js/composebox_typeahead.js`, and I think each of these ideas would be a fine project for a new frontend contributor.

[2016-10-14 23:01] timabbott commented on #1996
Yeah, we should definitely change that, and I suspect it wouldn't be too hard; the code for our notifications is all in `static/js/notifications.js` and I suspect we just need to change the handle for what happens when one clicks on them.

[2016-10-14 23:25] umkay commented on #1641
yeah I think this list was generated using ` pip list --outdated `

[2016-10-14 23:38] timabbott commented on #750
OK, we can leave this open :)

[2016-10-14 23:57] #1883 closed

[2016-10-15 00:27] timabbott commented on #2007
Yeah, I agree, this would be a nice improvement.  Care needs to be take in doing this to make sure we don't make deleting content in the compose box slow.

[2016-10-15 00:31] timabbott commented on #1051
We just added `area: compose` style labels, which I think resolves much of what you had in mine here.
I can still imagine there being a lot of value in additionally adding labels for things like:
* priority (high/med/low)
* status in workflow (needs technical design, etc.)
* difficulty

[2016-10-15 00:38] timabbott commented on #1286
@umairwaheed do we have a good solution to this yet?

[2016-10-15 02:49] brainwane commented on #1611
@valoriedodge how's it going? Do you need any help? Feel free to visit our livechat realm at http://zulip.tabbott.net/ and talk with us about your progress!

[2016-10-15 02:54] brainwane commented on #1515
@showell I'd want to be able to use Zulip to convey "new datapoint" information to Beeminder, e.g.,

I think that for anything more complicated (like changing my goal, marking an upcoming vacation on the schedule, changing my pledge amount, etc.) I'd go directly to the Beeminder web interface. But inputting data points is the kind of thing that I'd like to be able to input from within my day-to-da

[2016-10-15 03:00] showell commented on #1515
Ok, that make sense!  How much structure would we impose on you in terms of formatting the message?  Should the integration be smart enough to just look for "<x> units" and let you write the rest of it in natural language?

[2016-10-15 03:03] brainwane commented on #1515
Beeminder lets users reply to email notifications (where the subject line includes the username and the goal name) with the following format:

14 5.5 "specific detail here"

"14" here is the day (as in, the date), "5.5" is the amount, and "specific detail here" is an optional annotation enclosed in quotes. I'd be fine reusing this format for my Zulip messages to send in a particular stream & topic

[2016-10-15 03:10] showell commented on #1515
Cool!  That seems reasonable for a human to write and a bot to parse.

[2016-10-15 04:47] timabbott commented on #1355
I think we tracked this issue down to having been caused by an issue in `flush-memcached` that we've fixed, so I'm closing this.

[2016-10-15 04:47] #1355 closed

[2016-10-15 04:48] timabbott commented on #1344
I'm closing this as not reproducible, since we've never seen reports of a similar issue.

[2016-10-15 04:48] #1344 closed

[2016-10-15 04:54] timabbott commented on #1341
(This is currently still disabled and needs further investigation for why it fails in Travis CI sometimes).

[2016-10-15 04:59] timabbott commented on #1483
Closing since I think there's no change to Zulip we need to make here.

[2016-10-15 04:59] #1483 closed

[2016-10-15 05:00] timabbott commented on #1479
This is I think an issue incorrectly filed against this project rather than Android (where it was fixed a while ago).  Closing.

[2016-10-15 05:00] #1479 closed

[2016-10-15 05:01] timabbott commented on #1441
Maybe it's worth updating this list now that we've added coverage for a bunch of these?  It may be that most of what's left is the logged-out URLs, which would be really fast....

[2016-10-15 05:03] timabbott commented on #1378
@sharmaeklavya2 did we ever figure out what the issue was here?

[2016-10-15 05:04] timabbott commented on #1374
Closing this issue as likely no longer present.

[2016-10-15 05:04] #1374 closed

[2016-10-15 05:09] hackerkid commented on #971
@timabbott I spend some time on this a couple of months before. I tried fixing it using patch as well as supplying proxy argument to the `S3Connection` functions. I will spend some more time on this and try to fix this.

[2016-10-15 05:10] hackerkid commented on #1374
@timabbott Yeah. This issue is no longer present.

[2016-10-15 05:13] timabbott commented on #971
Awesome, thanks @hackerkid!

[2016-10-15 05:15] timabbott commented on #1374
Great, thanks for confirming!

[2016-10-15 08:21] sharmaeklavya2 commented on #1378
No.

[2016-10-15 10:43] umairwaheed commented on #1286
This currently is supported. The only problem is that we need to add the plural key in translations.json ourselves. The procedure is listed in `docs/translation.md`. If we want to automate the process of plural key creation then the best way is to create a new function which will tell the `makemessages` parser to create plural key for the translation string as well.

[2016-10-15 11:04] umairwaheed commented on #1341
OK.

[2016-10-15 11:06] mohsenSy opened #2016 "Change stream privacy breaks after renaming stream"
If we change the stream name from `manage stream` then try to change stream privacy without reloading the page causes an error in changing the stream privacy because it tries to change the privacy based on the previous name not the new one, so we must update the name of the stream used by the `change stream privacy button` after renaming the stream so when we try to change the stream privacy it wi

[2016-10-15 19:25] reyha opened #2019 "Stream sidebar: No message when search returns null"
The user is returned back to the same page when he tries to search a stream 'xyz' in the sidebar to which he is either not subscribed to or which does not exist. However, it might be more illustrative if he gets a message saying something like 'No 'xyz' stream found'. We can probably filter out whether the searched stream is available or not. If yes, user can then be instructed to join that stream

[2016-10-15 23:18] showell opened #2022 "Foreign language translation in the compose box"
I am going to refer to zulip.tabbott.net (ztn) here, where the primary language of conversation is English, but I recommend this feature for all realms.

If I'm a non-native English speaker on ztn, I should be able to compose languages in my native language and have them be automatically translated to English by Zulip.  I'm thinking the translation should happen client side, and there should be a

[2016-10-16 04:35] timabbott commented on #2022
This is a super interesting idea; I'd be interested in feedback being gathered on whether folks would want this feature.  I can imagine a different implementation with a "translate this message" button on the message, rather than translating before the message is sent, and I'm not sure which approach would make more sense.

I guess the other question about this idea is whether Google translate (or

[2016-10-16 04:39] timabbott commented on #1286
OK, makes sense.  We don't have a ton of use cases for this yet so probably not a pressing issue, but probably eventually we'll want to automate it.

[2016-10-16 06:26] #1981 closed

[2016-10-16 07:59] timabbott opened #2025 "Make `scripts/lib/setup-apt-repo` check for changes before running `apt-get update`"
I'll be shortly merging a change to move the `apt-get update` calls in `provision.py` and `install` into `scripts/lib/setup-apt-repo`.  We should change that script to only run `apt-get update` in the event that it actually changed the `sources.list.d/zulip.list` file, since this can save about 6s from the time it takes to run provision repeatedly.

[2016-10-16 08:09] timabbott opened #2026 "Stop regenerating the test database when it hasn't changed"
Now that we have the new `is_template_database_current` function (used by `tools/test-backend`), we should use that same logic to check whether we need to regenerate the test database in `tools/provision.py`, which is currently like 1/3 of the no-op time required to provision:
[code]

To do this correctly, we need to do a few things:
* [ ] Add code for checking the `populate_db.py` and `tools/setu

[2016-10-16 16:20] brainwane opened #2030 "clarify why empty JSON ruleset is in linter"
`tools/lint-all` has a currently empty ruleset for JSON files:

`    json_rules = [] # type: RuleList # just fix newlines at ends of files`

Steve Howell suggests:

I believe this would involve:
* deleting that line
* deleting the `for fn in by_lang['json']` for-loop
* deleting the `json` element in `by_lang`

Now that I see the infrastructure involved in supporting the JSON ruleset I am neutral o

[2016-10-16 16:37] kkanahin commented on #1036
Proxy was moved to tornado, all tests are passed, but it works only with tornado 4.4.1

[2016-10-16 16:57] brainwane commented on #2030
Oh, per conversation with @showell in https://zulip.tabbott.net/#narrow/stream/test.20suites/subject/watch.20over.20my.20shoulder.20as.20I.20improve.20the.20linter/near/39379 , I now see why we have that empty ruleset, and call it this way - it's a hack to ensure that we check for whitespace in JSON files.

[2016-10-16 17:20] sup95 commented on #1996
I was going through the code in notifications.js and click_handlers.js and came up with the following fix.
Does this look right? (Adding the following code to in_browser_notify function in notifications.js)

$(".top-right").on("click", ".narrows_by_recipient", function (e) {
        if (e.metaKey || e.ctrlKey) {
            return;
        }
        e.preventDefault();
        var row_id = get_row

[2016-10-16 17:56] timabbott commented on #1441
OK I just checked this and indeed we're now done to a very small number of untested URLs:
[code]

[2016-10-16 18:14] timabbott opened #2031 "Add tests for desk.com webhook integration"
From the analysis in https://github.com/zulip/zulip/issues/1441, `api/v1/external/deskdotcom` is one of our few remaining views that doesn't have backend tests.  We should add some!

This project can mostly follow the guide in http://zulip.readthedocs.io/en/latest/integration-guide.html, except that the integration already exists, so we just need to do the testing part.

[2016-10-16 18:22] brainwane opened #2032 "Add linter rule to capitalize GitHub properly in HTML & Markdown files"
Add a rule to `prose_style_rules` in the linter (`tools/lint-all`) so that, in Markdown and HTML files, "Github" gets flagged with an error message nudging developers to capitalize it properly ("GitHub").

You can probably use [this pull request](https://github.com/zulip/zulip/pull/2029), and the conversation linked there, as a guide to help you understand how the linter rules work and how the syn

[2016-10-16 18:25] showell commented on #2022
I was thinking of using Google for the translations, but I bet some of our i18n experts might be aware of other options.

[2016-10-16 18:38] timabbott commented on #1441
To follow up on these items:
* I opened an issue for the deskdotcom integration. (#2031)
* I just added a test for `about/`.
* I just added a test for `/en/`.
* I just added a test for `/desktop_home`.
* I don't understand why our existing password reset test (PasswordResetTest) isn't providing coverage for `^accounts/password/reset/done/$`; and its friend need investigation.  Same with the `/acco

[2016-10-16 19:29] #2030 closed

[2016-10-16 19:30] brainwane opened #2034 "add retry logic around network-intensive parts of testing system"
Tim noted: "if you ever see an error about being unable to download a URL on the public internet, that's almost certainly caused by internal networking infrastructure problems with Travis CI." and suggested it would be good to "add some retry logic around the network-intensive parts of our testing system (e.g. apt-get commands)."

The failure was https://travis-ci.org/zulip/zulip/builds/168066885

[2016-10-16 19:36] #1876 closed

[2016-10-16 19:36] timabbott commented on #1876
We just merged @deekshaarul's fix.  Thanks for reporting this @BasilisAndr!

[2016-10-16 19:39] timabbott commented on #2034
The networking issues are all around provisioning, not testing.  So #1472 is not relevant to this problem.

[2016-10-16 19:40] timabbott commented on #2034
The main things we'd want to wrap are:
* The `apt-get (dist-)upgrade` and `apt-get install` sections
* the `npm install` section
* the `pip install` section

Most of which are now actually done by other scripts that are called by `tools/provision.py`.

[2016-10-16 20:00] #455 closed

[2016-10-16 20:10] timabbott commented on #1996
Yes, I think something like that should work.

[2016-10-16 20:13] brainwane commented on #1593
@janitanjaria23 if you're having trouble creating a pull request, https://zulip-ck.readthedocs.io/en/1754-docs-add-git-workflow/git-guide.html might help. :)

[2016-10-16 20:29] brainwane commented on #1593
@janitanjaria23 Now that we've merged #1983 some relevant code has changed, and you'll probably want to take a look at that as you refine your change.

And if you're having trouble rebasing and creating a pull request, https://zulip-ck.readthedocs.io/en/1754-docs-add-git-workflow/git-guide.html might help. :)

[2016-10-16 22:28] #1743 closed

[2016-10-16 22:36] timabbott opened #2036 "Add `hl_lines` support to our markdown processor"
Now that we're using a modern version of `python-markdown`, we should take advantage of the new `hl_lines` feature of codehilite in `python-markdown`, which allows you to tag certain lines of a code block to be highlighted for demonstration purposes.

This will be somewhat interesting since we're using a significantly forked version of the relevant extension at `zerver/lib/bugdown/fenced_code.py`;

[2016-10-16 22:38] timabbott opened #2037 "Replace safe_mode with some other mechanism for ignoring user HTML in our markdown"
`safe_mode` is deprecated in the next version of python-markdown, so we should stop using it.

Since escaping (or otherwise preventing from being rendered) HTML (and especially `<script>` tags) in HTML submitted by users in messages is an important security issue, we should be sure to add good tests for this aspect of our markdown processor.

[2016-10-16 22:40] timabbott commented on #1743
Fix merged, thanks again @brainwane for the bug report and @reyha for the fix!

[2016-10-16 23:00] timabbott opened #2038 "Searching for URLs results in buggy highlighting"
Zulip's search highlighting unfortunately does not handle URLs correctly.

See example here, where I've sent a message containing a URL and then searched for that URL:

![image](https://cloud.githubusercontent.com/assets/2746074/19421559/f2395c7a-93b8-11e6-9880-3c888b9908f6.png)

To fix this, we'll probably need to add some custom checking for whether something is a URL and modify the query we sen

[2016-10-16 23:01] timabbott commented on #1992
@brockwhittaker what do you think we should do here?

[2016-10-16 23:01] timabbott commented on #1991
@brockwhittaker what do you think we should do here?

[2016-10-17 00:04] timabbott opened #2039 "Stop defaulting to https://api.zulip.com in API bindings"
Now that zulip.com has no active users, we should change the Zulip Python API bindings to require setting the `SITE` option, rather than defaulting to the old/useless api.zulip.com.

This is I think actually a pretty quick project, just requires some careful testing.  After we do this, we should plan to do a new Zulip API release on pypi.

[2016-10-17 00:53] timabbott opened #2040 "Youtube previews don't interact nicely with Lightbox"
Clicking on a youtube video currently pops up a super blurry thumbnail, which doesn't make sense.  At the very least, we should at least either not use the lightbox or point to a higher-resolution thumbnail; the actual experience we want is something that will actually play the video.

[2016-10-17 00:54] timabbott commented on #2040
@brockwhittaker this may be worth your taking a look at.

[2016-10-17 01:11] timabbott commented on #1857
@hackerkid have you had a chance to look at this?

[2016-10-17 01:15] timabbott commented on #1691
To detail how this should work a bit more, I think we should make:
[code]

and
[code]
work, but not mixed things like:
[code]
or
[code]

[2016-10-17 01:17] timabbott commented on #1103
Strikethrough is being worked on in #2023; italics is still open.

[2016-10-17 01:19] timabbott commented on #1690
I'm closing this since now that we have the `area: markdown` label, it's pretty easy to see all the items together.

[2016-10-17 01:19] #1690 closed

[2016-10-17 01:21] timabbott commented on #426
I think it's possible we want to solve this problem in part by replacing this link with a "Narrow to stream x" link, since I think most of the time folks will want to narrow to a stream before subscribing to it.

[2016-10-17 01:30] timabbott opened #2041 "`!avatar` syntax doesn't support email address changes"
It would be good to fix the `!avatar` feature (and thus ultimately, the URLs for fetching a given user's avatar) with with a format based on the relevant user's ID, not their email address, so that things will continue to work correctly if a user changes their email address.

Since we have a lot of existing stuff (old messages, etc.) using the old URL format, I imagine we'll need to implement this

[2016-10-17 04:34] timabbott commented on #106
Here's some notes on how we should implement this feature:

* We'll add a retention policy feature for the realm specifying how long messages are kept before being automatically deleted.  Implementation-wise, I'd like to use a model where after the N days the messages are deleted from Message, but added to a new table e.g. ArchivedMessage, and kept there for a week before being deleted finally, so

[2016-10-17 04:36] timabbott commented on #1335
It should be possible to do this with `pika` in some reasonable way.  I think this is basically only useful if we can make it reasonably fast; if it we can't, a better approach might be to namespace the rabbitmq content.

[2016-10-17 04:37] timabbott commented on #1088
The relevant code for this is now in `zerver/lib/test_fixtures.py`.

[2016-10-17 04:37] timabbott commented on #2026
https://github.com/zulip/zulip/issues/1088 is I guess part of this.

[2016-10-17 05:48] timabbott opened #2042 "Add tests for remaining authentication methods and backends"
As part of completing https://github.com/zulip/zulip/issues/1441, we have a few authentication methods that don't yet have tests:
* ^accounts/login/local/$ -- this is the "click on a user to login" feature we use by default in the development environment.  I imagine this would be really easy to add tests for, which would mostly include (1) checking it works and (2) checking that it refuses to work

[2016-10-17 05:49] timabbott commented on #1441
Opened the auth issue as https://github.com/zulip/zulip/issues/2042

[2016-10-17 06:01] Diptanshu8 commented on #1515
@brainwane @showell This discussion gave me a lot of clarity about the expectations from the bot. Thank you.

[2016-10-17 10:57] ezeri opened #2044 "Private channels / history + subscribe"
Hello,

We have been toying around with zulip over the past couples months, and we have just recently deployed to a select group from our team. We have just noticed the following surprising situations :
- A user that joins a private stream cannot see the chat history.
- A user that leaves a private stream can not request to join it again.
- An admin has the exact same limitations as a standard use

[2016-10-17 11:33] ezeri commented on #2044
Noticed that #230 mentions this issues, and it seems to be a design decision. (About the history)

[2016-10-17 14:21] sup95 commented on #1996
Cool. I'll submit a PR soon. Also, how can I test this on my local system? Since it requires me to receive a message from someone else? Thank you.

[2016-10-17 15:49] valoriedodge commented on #1611
@brainwane Thank you for reaching out to me. I am so sorry that I have not made any progress on this issue. I was so excited to contribute but I've had some family emergencies that have occupied my time. I still intend on resolving it, but it might take me a little more time. If it is more urgent that it gets resolved, it might be better if I just pass it off.

[2016-10-17 16:46] brainwane opened #2047 "I own my own words: one-click export of my own messages"
The WELL (the Whole Earth 'Lectronic Link) has this principle: you own your own words. I think that principle is a fine one, and I love it when my tools avoid lock-in by making it easy for me to walk away with my own data. I would love to be able to download the things I've said and the attachments I've uploaded in my Zulip realms, without having to ask an administrator to tarball them up for me.

[2016-10-17 16:47] brainwane commented on #2047
[In the near-term, a quicker way to get this stuff might be to write a [freeyourstuff](https://freeyourstuff.cc/) plugin https://freeyourstuff.cc/plugins and I'd use the Chrome extension. But I think it would be a great feature, and statement of principles, for the feature to be included in Zulip core.]

[2016-10-17 17:05] brainwane commented on #2047
[In the near-term, a quicker way to get this stuff might be to write a [freeyourstuff](https://freeyourstuff.cc/) plugin https://freeyourstuff.cc/plugins and I'd use the Chrome extension. But I think it would be a great feature, and statement of principles, for the feature to be included in Zulip core.]

[2016-10-17 17:12] showell commented on #2047
This is something well worth working on.  We have a management command that admins can run to export user data that probably does about 95% of what you need, and then we just need to expose it to the UI so an ordinary user can do it self-service for their own account.

[2016-10-17 18:20] timabbott commented on #2047
This probably ends up being somewhat involved of a feature because for people who have a lot of history, exporting their personal user data may take >60s and thus run into request timeout issues.  So, we'll probably want to use an async queue worker model for doing this.

But I agree the hard part of actually gathering together the data, we already fully support.

[2016-10-17 23:18] brainwane commented on #168
We chatted about this today in [the developers' realm](https://zulip.tabbott.net/#narrow/stream/general/topic/diversity.20of.20user.20needs) and @trueskawka will be writing up some notes about what v1 will look like.

[2016-10-17 23:19] #783 closed

[2016-10-17 23:34] #1754 closed

[2016-10-17 23:34] timabbott commented on #1754
Merged!

[2016-10-17 23:53] brainwane opened #2052 "Community health analytics for realm admins"
I as a realm admin want some community health metrics for various reasons.

I want to know what the most active and most quiet times of day and days of the week are, so I can schedule meetings.

It would be lovely to provide some kind of indication to administrators of community-style Zulip realms if there's a _ton_ of traffic happening on private streams; if I can't see what's happening there, I

[2016-10-18 00:40] brainwane commented on #758
Now that the Git workflow guide is merged, the "how to review code" guide can link to https://zulip.readthedocs.io/en/latest/git-guide.html#zulip-specific-tools which explains `tools/reset-to-pull-request` and `tools/fetch-rebase-pull-request`.

[2016-10-18 01:17] brainwane commented on #1877
Tim says this is "a bug in how our local echo support handles outages."

[2016-10-18 02:27] trueskawka commented on #168
### Version 1
It seems sensible to focus first on adding an option for blocking another user, as a user-side feature. The messages sent by the blocked user would simply not appear, which means they would be hidden on the front-end.

Further growth of the feature should be based on feedback with the experience of using the basic feature and any problems it causes.

### Use cases

There are several

[2016-10-18 03:04] timabbott commented on #168
Nice writeup!  I've retagged this issue as "help wanted" rather than "feedback wanted", since it sounds like we have an implementation plan for what to do next.

[2016-10-18 03:26] timabbott commented on #1996
To test on a local system, you'll want to open two browsers (say, Chrome and Firefox), and login to different users in the two browsers on your development environment.  Then, send a message from the user in one browser to the user in the other.

[2016-10-18 03:35] timabbott commented on #2044
Hi @ezeri!  This is a design decision to have the defaults work that way, but I think it'd be pretty reasonable to support having a private stream with history public to its members (one can certainly imagine use cases where that would be important).  This is probably a pretty straightforward setting to add; http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html should give the context on

[2016-10-18 08:46] hackerkid commented on #1857
Yeah. I am working on #1653.

[2016-10-18 12:26] GervaisdeM commented on #2004
Indeed, increasing the timeout seems to have solved my issue. My connection is very fast, but my Zulip server is running on a VM on an old Mac Pro. The issue might just be slow computers...

I pushed the tweet timeout to 15 and overall timeout to 20. Originally, I had increased them to 10 and 11 respectively, but I still got the occasional timeout. It seems to work with the settings as I have them

[2016-10-18 13:48] reyha commented on #2039
@timabbott Is it okay to remove the lines from api/zulip/__init__.py where a default is being set to  https://api.zulip.com like I did here : https://gist.github.com/reyha/9a15714cba9098bec0b61b258811a460. I am also looking up to modify the tests.

[2016-10-18 14:53] hlieberman opened #2056 "Integration of TeX-math"
This is a feature request, not a bug report, I promise!

A couple of our users have requested that Zulip have support for LaTeX style math that would get rendered through to MathML or math fonts.

MathJax tends to be the way that I've seen this integration done in the past.  Thoughts?

[2016-10-18 16:13] timabbott commented on #2056
After some discussion on zulip.tabbott.net, here's a proposal:
* We use the `$` syntax from: https://github.com/rwbarton/zulip/commit/e5116a36e62f9a69e2260add9beea716a8d53015
* We plan to use KaTeX (it's a lot faster than MathJax) pending some testing
* We do a test of sending 1000 messages containing a line or two of simple LaTeX into the Zulip development environment with Reid's branch, and see

[2016-10-18 16:27] timabbott commented on #2039
Yes, something like that should work.  The Python API bindings don't have a test suite (see #713), so nothing to modify there, though adding such a test suite could be a great project :).

[2016-10-18 17:14] timabbott commented on #2004
OK, cool.  Increasing the possible time for a message to be delivered to ~20s seems a bit crazy, so solving this properly may need to involve adding support for having the tweet rendering added to the message after it is first displayed to users.

[2016-10-18 17:17] brainwane commented on #2047
So, anyone who wants to work on this, take a look at `zerver/management/commands/export_single_user.py` and https://zulip.readthedocs.io/en/latest/queuing.html .

Also, I just realized that instead of (or in addition to) sending an email, we could notify the user in-app.

[2016-10-18 17:31] adehnert opened #2058 ""Enter your work email address" wording should be configurable?"
Going to https://zulip.tabbott.net/register/ gives a prompt "Enter your work email address". For community realms like that one, perhaps the wording should be different. I don't know whether it'd be better to change it for all realms, have some config setting, or expect non-work realms to edit the translation files (which is currently what they'd need to do, I think).

[2016-10-18 17:39] timabbott commented on #2058
We recently added support for tagging realms as community vs. corporate in nature, which should allow us to actually make that text conditional on the type of organization.  It's easy to fix this for the REALMS_HAVE_SUBDOMAINS case, and also for the case where there's only one realm on a server.

[2016-10-18 17:40] brannerchinese opened #2059 "Stream discovery by keyword in topics and posts"
Sometimes I want to find the right stream in which to ask a question and I'm stymied by the large number of choices. It would be useful to have a way to gauge just where discussion of certain keywords has been most active, before posting or, in some cases, even subscribing to new streams.

[2016-10-18 20:35] prabhakar267 commented on #1153
@timabbott I would like to work on this, if no one has taken this.

[2016-10-18 20:42] prabhakar267 commented on #1417
I would like to work on this!

[2016-10-18 22:10] timabbott commented on #1153
Cool, sounds good!  Definitely take some care while working on this to avoid introducing regressions; there's some complexity around how `build-release-tarball` works.

Also, a good starter project for this might be to clean up the emoji generator code structure -- `tools/setup/emoji_dump/build_emoji` now is an empty wrapper script and can be merged with `emoji_dump.py`, but `build_emoji` is proba

[2016-10-19 00:19] timabbott commented on #2040
Fixed via #2048.

[2016-10-19 00:19] #2040 closed

[2016-10-19 00:20] showell opened #2065 "fix readme.md links"
If somebody types readme.md in a Zulip message, it gets turned into link that points at a sketchy domain-squatted site with the TLD of .md.  We can special-case this to point at Zulip's readme instead.  This is super LOW priority, but it might be an easy fix.

[2016-10-19 02:23] rishig commented on #1417
Thanks @prabhakar267! Closing this issue, since it looks like it will be taken care of in a planned visual redesign. We would love a contribution on another issue though; sorry for the bit rot on this one.

[2016-10-19 02:23] #1417 closed

[2016-10-19 02:25] rishig commented on #1586
Done, thanks @umkay!

[2016-10-19 02:25] #1586 closed

[2016-10-19 02:28] #1424 closed

[2016-10-19 02:32] rishig commented on #1416
Closing this, since it is being addressed in the current visual redesign.

[2016-10-19 02:32] #1416 closed

[2016-10-19 06:37] timabbott commented on #2059
I understand the problem; I don't yet see a technical solution that wouldn't involve a significant new infrastructure component :).

[2016-10-19 07:07] umairwaheed commented on #2025
working on this

[2016-10-19 07:17] reyha opened #2068 "Errors on running development server"
I did a re-provision using ```./tools/provision.py```. However, my development server fails to run now. I get this as the output:
[code]
Before this, I had my server running properly.

[2016-10-19 07:25] timabbott commented on #2068
That issue looks like you're using a different version of python-markdown than is expected on master -- we recently updated it in our requirement.txt files to a new version and that's the traceback you'd get from a version mismatch.  If you recently provisioned on master, the problem is likely that you need to rebase your branch on top of upstream/master; otherwise, the problem is that you need to

[2016-10-19 07:25] #2068 closed

[2016-10-19 08:19] umairwaheed commented on #2026
working on this

[2016-10-19 09:23] brainwane commented on #675
My understanding is that https://github.com/brannerchinese/zulip_user_documentation by @brannerchinese is partially meant to address this issue, and that Tim is working on making a PR for it.

[2016-10-19 10:01] brainwane opened #2072 "Move release tarball directory to zulipchat.com or zulip.org"
In the production installation upgrade guide, we say:

Can/should we switch to zulip.org or zulipchat.com?

[2016-10-19 13:47] brainwane opened #2077 "extra padding at bottom of streams deletion table"
At `/#administration`, in the streams deletion interface (`#streams`), there's a redundant, empty row at the end of the table. See screenshot.

![off-by-one-row](https://cloud.githubusercontent.com/assets/842790/19521164/b888c31a-95e0-11e6-81ba-38d1c0fc21ce.png)

[2016-10-19 14:25] showell commented on #2059
I'm labeling this with "area:stream settings" for now.  We are actually addressing part of this in terms of having an upcoming feature showing stream counts (how many users are subscribed to each stream).  Also, when our analytics framework gets out of beta, we might be able to more easily do some of the more advanced things @brannerchinese is asking for.

[2016-10-19 14:29] showell commented on #1684
I'm closing this ticket.  I still think it's a good idea, but if it's really a good idea, somebody else will suggest it some day.

[2016-10-19 14:29] #1684 closed

[2016-10-19 14:41] showell commented on #1901
This is a good idea, and similar ideas have been suggested before.

One way to solve the tagging problem is to have somebody implement a bot that watches for tags, so that the bot can show you all the tags you have created when you ask it for them.  The advantage of a bot approach is that there's less friction in terms of getting it deployed, whereas changing the Zulip product itself raises the st

[2016-10-19 14:42] showell commented on #1371
Closing this as part of a ruthless issue-closing sweep.

[2016-10-19 14:42] #1371 closed

[2016-10-19 14:49] DataBranner commented on #1901
Is there a list of bots somewhere?

sent afk

[2016-10-19 14:51] showell commented on #1547
@rishig @timabbott

We basically address the first bullet with PROVISION_VERSION now.  (There's a follow up task for that, but it already has a ticket).

Since we're down to just 1 of the 3 tasks remaining, does it make sense to either rename this ticket or split out a new ticket for the "pkill" problem?

[2016-10-19 15:28] gearheart commented on #406
We've implemented oembed and other ways of data retrieval, now we need to run this thing asynchronously.

### 1
One way to implement an async solution is following:
 - introduce renderer param which will specify if urls should be processed
 - when a new message is received - render it without processing urls and launch async worker task
 - in async worker task, run the same renderer, but enable ur

[2016-10-19 16:49] timabbott commented on #406
The design in 2 makes sense to me.  python-markdown doesn't have great support for passing parameters to the renderer; the hack we've been using to manage that is the `db_data` and `current_message` globals; I would probably add a third global for this purpose.

Message rendering is already done by an async worker process (zerver/worker/queue_processors.py, search for "message_sender"), so I think

[2016-10-19 17:33] reyha commented on #713
@timabbott  I am willing to work on this and I am currently going through -https://zulip.readthedocs.io/en/latest/testing.html. I was wondering as to where will these tests possibly live. Any help on how to start writing this suite would be really helpful.

[2016-10-19 17:45] kkanahin commented on #1492
## Error links in documentation:
- permalink '#avoiding-sudo-passwords' not found on page https://github.com/fgrehm/vagrant-lxc#avoiding-sudo-passwords
- permalink '#commit-messages' not found on page http://zulip.readthedocs.io/en/latest/code-style.html#commit-messages
- permalink '#Long_Polling' not found on page https://en.wikipedia.org/wiki/Push_technology#Long_Polling
- permalink '#how-to-get

[2016-10-19 18:03] timabbott commented on #713
@showell do you have thoughts on where we should put the tests and/or how we should run them?

[2016-10-19 19:03] #2025 closed

[2016-10-19 19:14] Katy310 commented on #1634
I work on Ubuntu 14.04 and the notifications for personal messages disappear as and when they come on my system.

[2016-10-19 19:27] Katy310 commented on #1761
Is someone working on the front-end changes for this issue?

[2016-10-19 19:27] timabbott commented on #1634
@Katy310 did you try using Firefox 48?

[2016-10-19 19:41] Katy310 commented on #1761
If not, how could I contribute? Any guidance will be helpful.

[2016-10-19 19:43] showell commented on #1671
@sinwar Are you still planning to work on this?

[2016-10-19 19:45] namratab94 commented on #1761
@Katy310 Go ahead! I am not able to work on it.

[2016-10-19 19:46] Katy310 commented on #1634
@timabbott I am using Firefox 49.

[2016-10-19 19:47] Katy310 commented on #1761
Any pointers on how to get started?

[2016-10-19 19:49] rishig commented on #1761
Hi @Katy310! I actually just started working on this this morning. We do have another issue related to the message edit box that I'll post in a sec, in case that is of interest :).

[2016-10-19 19:49] Katy310 commented on #1761
Oh alright, that would be great!

[2016-10-19 19:52] showell commented on #933
I'm closing this, since the problem may be fixed and we don't have anything really actionable to do here.

[2016-10-19 19:52] #933 closed

[2016-10-19 19:54] showell commented on #713
Let's discuss this on Zulip.  I don't have any immediate ideas on where to put these tests, but I'd like to be part of the brainstorming.  On a related note we're eventually gonna want a test suite for contrib_bots.

[2016-10-19 19:55] timabbott commented on #933
It's not fixed yet but will be shortly when we merge #1999.  Works for me.

[2016-10-19 19:56] timabbott commented on #1634
@rishig can you see if you can still reproduce this on current Firefox?  It may be a Firefox bug that they've since fixed :)

[2016-10-19 19:59] trueskawka opened #2083 "user messages in muted topics not visible in home view"
Messages from muted topics don't appear in home view, unless they @-mention the user.

When responding to the @-mention, the user's own messages appear in the muted topic, but don't appear in the home view. Any responses in the muted topic that don't use @-mentions are not visible in the home view either.

It seems sensible to:
- include all user's own messages in the home view, even from the mute

[2016-10-19 20:03] showell commented on #1301
Closing.  I'm pretty sure we have 100% coverage on home() itself, and we have other tickets that will indirectly address any remaining gaps here.

[2016-10-19 20:03] #1301 closed

[2016-10-19 20:07] rishig commented on #1761
Never mind, the issue turned out to be intended behavior :). If you're looking to help with Zulip,
a) awesome, and welcome!
b) we'd love to help find a good issue over at our developers' server at zulip.tabbott.net; just say hi on the "general" stream!

[2016-10-19 20:24] Katy310 commented on #1761
I had originally planned to apply for the current round of Outreachy, but later decided to apply in the next round, after strengthening my association with Zulip.

[2016-10-19 20:26] namratab94 commented on #1761
@Katy310 Same here! Been reading the code from weeks now.

[2016-10-19 20:31] rishig commented on #1634
Fixed in Firefox 49 :). @Katy310 thanks for looking into this!

[2016-10-19 20:31] #1634 closed

[2016-10-19 20:33] brockwhittaker commented on #2077
So – it isn't so much an extra row of the table as much as it is the padding between the last row of the table and the end of the settings block/container.

There should be a better design for this however, I agree.

[2016-10-19 22:12] rishig commented on #1547
yup, sgtm.
Were there other common tracebacks e.g. outreachy people came across that aren't represented here?

[2016-10-19 22:16] timabbott commented on #1547
Nah, let's just leave it open -- the pkill issue I'm hoping will get solved too as well.

[2016-10-19 22:19] timabbott commented on #2083
I'm on board with both of those changes.

For the prompt issue: There's a bunch of similar code in `validate_stream_message` in `static/js/compose.js` if anyone wants to pick this up.

For the inclusion issue: I bet this is a relatively small change to the frontend, probably in `muting.js` (muting is a frontend-only feature).

[2016-10-20 00:43] showell commented on #1901
We don't really maintain many bots yet, but I'm hoping to improve that shortly, and once we some momentum on that front, I'll add some documentation.  Until then you can see the three bots here:

https://github.com/zulip/zulip/tree/master/contrib_bots/lib

[2016-10-20 04:44] showell opened #2088 "Create a wrapper for create_stream_if_needed()."
We have 25 places where call `create_stream_if_needed` and ignore the second element of the return value, which is a tuple of (stream, created).  Most of the time we only need the action to happen (create the stream if needed) and the stream object itself, but we don't care whether it existed before the call.  So we should make a simpler API for the common case.

[2016-10-20 04:47] trueskawka commented on #2083
I want to work on it - first the muting change and next the prompt issue.

Should I do it in one or two PRs? They are separate, but both are changes to the muting behaviour.

[2016-10-20 18:19] #1654 closed

[2016-10-20 19:16] kamalmarhubi opened #2091 "Returning to stream narrow after reply marks all stream messages read"
Rough steps:
1. narrow to stream with `s`
2. see interesting message, narrow to topic with `s`
3. reply at end of topic (`r`, typey-type, `<enter>`)
4. return to stream narrow with `s`

**Expected outcome:** to be returned to my position before the topic narrow (step 2).

**Actual outcome:** returned to bottom of stream, with all intervening messages marked read.

**Background:** I'm often catchin

[2016-10-20 19:23] brainwane commented on #2083
I was just talking about this with @trueskawka and realized that I usually *do not* want my own messages in muted streams to show up in the home view (nor do I want my own messages in muted topics to show up in the all-stream narrow).

When I mute, it's sometimes because the subject of conversation has gone in a direction I find unpleasant and I don't want to be reminded of it except when I specif

[2016-10-20 21:57] timabbott commented on #2091
Hi @kamalmarhubi!  Thanks for the detailedissue report; this aspect of the interaction experience is super important to us.  I think it'd be helpful for you to read the discussion in this document: http://zulip.readthedocs.io/en/latest/pointer.html, which explains in detail the current Zulip behavior, and then try to reproduce the behavior you describe with that understanding.  I think there are t

[2016-10-20 22:12] timabbott commented on #2072
Yep, just a bit of work to do it.

[2016-10-20 22:12] kamalmarhubi commented on #2091
Not sure if I'm getting you here, but I had ~180 messages unread in the stream before hitting `s` after replying. The message I replied to was indeed the last in the stream, but at no point did any of the intervening 180 messages show on my screen.

[2016-10-20 22:27] timabbott commented on #2091
Oh, I see, I'd misunderstood the flow you were describing.  This issue is actually a design bug in the navigation model described in that doc.  The `s` hotkey, by design, narrows to the stream, keeping whatever message you have selected focused.  When you can see the bottom whitespace at the end of a particular view, we mark everything in that view as read.  These two combine badly: if you were on

[2016-10-20 23:09] brainwane opened #2093 "Organize and encourage API client libraries"
Right now, our only blessed API client bindings/libraries/wrappers are the Python bindings we ship with Zulip core and our [JavaScript library](https://github.com/zulip/zulip-js). The Zulip community has written wrappers and bindings in many different languages. I did a bit of searching and found:
- [Ruby library - updated 2013](https://github.com/verg/zulip-rb)
- [Ruby library - also updated 2013

[2016-10-21 01:26] showell commented on #2091
So my opinion on read/unread is that we should always err on the side of **not** marking messages as read.  If you neglect to mark a message as read, you only inconvenience the user by forcing them to re-read some messages or scroll more.  If you mistakenly mark a message as read, then the consequences can be more severe--they may miss out on something important, including something that they may

[2016-10-21 01:30] showell commented on #2091
If we go with the approach of fixing the read/unread logic, then I think our rule should be to only mark messages that are actually visible on the page as read.  I'm a bit surprised it doesn't work this way already.  Is it possible that internally we are being correct about which messages we mark read/unread but we're advancing the pointer too aggressively (possibly due to a bug)?