[2018-02-06 21:28] rishig commented on #8278
Now that I think about it, and also see github's behavior: should an image just force a new paragraph, regardless of where it is? So

`Look at [image1] and [image2]` would be rendered as

[code]

As followup we could also modify #7212 so that pasting an image or adding an attachment prepends a newline if needed (again, similar to how github does it).

[2018-02-06 21:45] rishig commented on #6534
@rheaparekh not at all! The reason the followup didn't happen is that we didn't write down anywhere what followup needed to be done. I think Greg's comment was mainly directed at me and Steve :).

In any case, the next step here is for there to be a discussion on chat.zulip.org on what behavior we want, for which there is no rush.

[2018-02-06 22:08] AnshumanPati commented on #5802
@zulipbot abandon

[2018-02-06 22:09] timabbott opened #8291 "Add REMOTE_USER_SSO support for the mobile apps"
(This issue is probably only doable by me, since it requires a lot of knowledge on how our auth is setup and is security-sensitive).

For the REMOTE_USER single-sign-on process, we'll want to support a similar flow to what we do with GitHub and Google auth, where the auth process is done on the web and then the result forwarded to the mobile app.

It's possible the code required is as simple as th

[2018-02-06 22:11] AnshumanPati commented on #5802
@zulipbot claim

[2018-02-07 00:26] gnprice opened #8295 "stream settings: Should update view for permissions when leaving private stream"
If I leave a private/invite-only stream, I still see the list of members and the edit icons:
![image](https://user-images.githubusercontent.com/28173/35891634-33636c76-0b5a-11e8-8c84-5b93389a0f60.png)

even though if I then switch to some other stream and back, I (correctly) can't:
![image](https://user-images.githubusercontent.com/28173/35891678-68f0ba06-0b5a-11e8-8715-5bc62c3135dd.png)

[2018-02-07 00:30] gnprice commented on #8295
Also the number of subscribers -- that "3 [person icon]" in the stream-selection list.

Similarly, I still see the stream in the "Subscribed" list at the left, until I switch somewhere else (like "All streams") and back. That's exactly like for public streams, though, and it's less obvious what the right behavior is; so if we want to change that let's make that a separate issue.

[2018-02-07 02:04] PentaHiggs commented on #8278
@zulipbot claim

I'll take this as an opportunity to make the previous pull request's code less obtuse as well!  With the feedback received on #7918 and a good amount of time away from it, shouldn't be too difficult to leave it in a much easier to follow / read state.

@rishig
I'll make the issue as written above one commit, and the double-aggressive version you suggest above a second commit, so t

[2018-02-07 02:23] PentaHiggs commented on #8278
A quick question, though.  I recall that when writing tests for #7918, I was concerned that in writing too many tests for line image previews, one could slow down the tests too much by forcing images to be downloaded.  Is there a way to use only cached images so that tests can be written with impunity, or does testing fixtures not even involve downloading them.  I remember running across something

[2018-02-07 02:33] rishig commented on #8278
yup, the tests need to work without internet access anyway.

[2018-02-07 11:00] aedorado commented on #6548
@zulipbot claim

[2018-02-07 17:03] Anupam-dagar commented on #6313
@zulipbot claim

[2018-02-07 17:22] Anupam-dagar commented on #8014
@zulipbot claim

[2018-02-07 18:16] timabbott opened #8300 "Add click handler for user group mentions"
If you click on a user-group mention, we should pop up a popover (similar to what happens if you click on a user who was mentioned).  Ideally, the popover would have the group name, its description (if any), and a list of the users who are in the group (ideally in some reasonable, scrollable format).

We have all the relevant data in the frontend, so this should mostly just require some visual wor

[2018-02-07 18:19] timabbott opened #8301 "Fix typeahead ordering for user group mentions"
Here's what you currently get when trying to autocomplete `@mobile` on chat.zulip.org with the typeahead:

![image](https://user-images.githubusercontent.com/2746074/35933630-02a71c68-0bf0-11e8-9d1a-e6361996220c.png)

We should definitely sort user group exact prefix matches ahead of users who don't have a prefix match.

@*hamletcharacters* is the test user group present in the dev environment by

[2018-02-07 19:10] YJDave commented on #8295
@zulipbot claim

[2018-02-07 20:03] shubhamdhama commented on #8301
@zulipbot claim Maybe this `recipients.concat(groups)` is causing the problem, it needs some change in logic of sorting.

[2018-02-07 20:58] shreyanshdwivedi commented on #3530
@zulipbot abandon

[2018-02-07 21:12] timabbott commented on #8301
Yeah, let's try doing groups first.

[2018-02-08 05:29] Rishabh570 commented on #6990
PR #8067

[2018-02-08 06:38] Rishabh570 commented on #5639
@rodrigc I'm stuck on this... I'm getting confused, do I have to use `git` for buildbot commands? 😕 (I was using powershell)...can you help me out with this if you're not busy?
https://chat.zulip.org/#narrow/stream/integrations/subject/buildbot.20and.20zulip.20integration/near/467085
(replied to your message)

[2018-02-08 08:18] rishig commented on #3783
Let's call the following "basic stream management":
* Change stream name
* Change stream description
* Unsubscribe people
* Make public stream private
* Delete (archive) stream

The current resolution is:
* All admins can perform basic stream management on all streams, including private streams they do not belong to
* There is at most a single stream admin, who is the stream creator. The stream ad

[2018-02-08 13:03] shubhamdhama commented on #5956
@timabbott This should be closed now.

[2018-02-08 13:04] shubhamdhama commented on #7602
@rishig How about having a "Clear all draft" button.

[2018-02-08 16:01] jainaman224 commented on #6714
@rishig Is this issue resolved?

[2018-02-08 16:21] vaidap commented on #6043
since the sidebar has been converted to a perfect scrollbar, it only appears when scrolling & doesn't really affect the appearance much-- is this still an issue?
![image](https://user-images.githubusercontent.com/13666710/35984349-2219c63e-0cec-11e8-9233-975bac4639cd.png)

[2018-02-08 17:14] einashaddad commented on #6512
@zulipbot claim

[2018-02-08 17:22] Lyla-Fischer commented on #6883
@zulipbot claim
Are there docs somewhere that say how to compile the documentation. I'd like to check links etc as I work on this.

[2018-02-08 17:24] timabbott commented on #5956
@shubhamdhama there's one more thing from #7880 that we should do before closing this out:

Would you be up for fixing that?

[2018-02-08 17:31] Lyla-Fischer commented on #6883
I'll just compile and run the entire zulip server, I guess.

[2018-02-08 18:53] shubhamdhama commented on #5956
Sure, this makes sense, @zulipbot claim

[2018-02-08 19:37] rishig commented on #7602
We should discuss on #design what the rigth strategy is. Another possibilty is we keep the last 30 days of drafts.

[2018-02-08 19:42] Lyla-Fischer opened #8313 "Remove keyboard shortcut hint from user card"
When you click on a user, and the user card pops up, you have an option to "Send private message (R)", even though that particular shortcut is not very useful when you are already in a mouse-using mode. We should remove the keyboard shortcut hint and add it to the actions popover menu instead (which is where it is most likely to be actually used.) https://chat.zulip.org/#narrow/stream/feedback/sub

[2018-02-08 19:58] brainwane commented on #1515
Related: #8252.

[2018-02-08 20:26] jainaman224 commented on #6714
I have checked on dev env. According to me, the links are working perfectly.

[2018-02-08 21:35] hackerkid opened #8315 "Restrict user group modification permissions to admins and user group members"
Currently, anyone can add or remove members from a user group, edit the user group name and description, delete user group etc. We should restrict this to only admins and user group members.

We might want to have a better security model for this in future as but this is probably good enough for now. See https://chat.zulip.org/#narrow/stream/general/topic/user.20groups.20permissions for more detai

[2018-02-08 23:15] showell commented on #7229
yep, closing

[2018-02-08 23:15] #7229 closed

[2018-02-08 23:29] Kumar-Tarun commented on #8315
@zulipbot claim

[2018-02-09 02:39] #5956 closed

[2018-02-09 02:50] rishu605 commented on #5256
@zulipbot claim
I also faced the issue of not being able to find the server URL while logging into the mobile app. I would like to add the documentation towards this so that it becomes easier for any new user to find the server URL

[2018-02-09 03:00] timabbott commented on #8313
After some discussion/thinking, we shouldn't plan to move it to the actions popover.  The problem is that this popover template is accessed from 3 code paths: clicking a mention for a user, clicking a user in the right sidebar, and clicking an avatar or full name of a message sender in the feed.  Only the name/avatar of message sender in the feed use case should have the hotkey reminder; so we nee

[2018-02-09 06:16] zy964c commented on #7830
@zulipbot abandon

[2018-02-09 06:40] zy964c commented on #6617
@zulipbot claim

[2018-02-09 08:02] rishig commented on #6617
for this one also, probably good to get consensus in #design for what the feature should be. Now that I think about again, the Jan 20 proposal will just lead to a lot of spam for the admins.

Also removing the `help wanted` label here; the issue seemed a lot more straightforward when I first wrote it. Thanks for picking it up @zy964c!

[2018-02-09 10:23] penCsharpener opened #8322 "bug: when pasting some .pdf from the web memcached breaks"
this relates to [partial connection problems](https://chat.zulip.org/#narrow/stream/production.20help/subject/partial.20connection.20problems/near/489927)
@timabbott will know more about this as well

* user in conversation pastes a certain type of URL with pdf
* the unrendered content in the db would be find
* the rendered content in zerver_messages ends up being huge (in our case 3500000 charact

[2018-02-09 13:49] aedorado commented on #8144
@zulipbot claim

[2018-02-09 15:23] aedorado opened #8323 "hotkeys: Add comments to document the usage of 'message_view_only' property in hotkey.js file"
File location: `static/js/hotkey.js`

This file while describing various keydown mappings, makes us of a property called `message_view_only`, which can be a tad bit overwhelming to figure out for new developers. Adding some comments, documenting the same would be helpful.

A code excerpt is given below:

    9: {name: 'shift_tab', message_view_only: false}, // tab
    32: {name: 'shift_spacebar',

[2018-02-09 16:14] moulikcipherX commented on #7907
@zulipbot claim

[2018-02-09 16:31] aedorado commented on #6547
@zulipbot claim

[2018-02-09 19:01] timabbott commented on #8322
@penCsharpener thanks for the details here!  I'm merging a fix that should prevent this sort of giant-rendering problem from ever happening again: 77addc5456c3e61062bd3615d1ec0d33bb105a90.

There will still remain the buggy interaction where sending a PDF gets totally messed up with the inline URL embed feature; we'll need to investigate that separately.

[2018-02-09 19:02] #8322 closed

[2018-02-09 20:39] timabbott opened #8330 "Provide a clear error message for users installing in NIS environments"
We attempt to add some users to local system groups in the Zulip Puppet installation process, and that can cause problems in environements using NIS, where the local system might not have permission to edit groups.  The recommended solution is likely to just ask the user to disable NIS in an early-in-installer check.

See https://chat.zulip.org/#narrow/stream/production.20help/subject/puppet.20han

[2018-02-09 20:39] scottrus commented on #8330
Will suggest a command or two.

[2018-02-09 20:47] Lyla-Fischer opened #8331 ""Monitored Streams" feed instead of 'All messages' feed"
https://chat.zulip.org/#narrow/stream/feedback/subject/.22All.20messages.22.20feed

I spent some time last night while falling asleep thinking about the "All messages" feed, and how little I use it. It has too much junk from streams that I am subscribed to but never actually read. I like having those streams in the left-hand sidebar because I sometimes need to go to those streams to ask questions,

[2018-02-09 21:33] brainwane opened #8332 "linter: Prevent documentation author from directly transcluding webhook-url.md"
In custom apps documentation like `zerver/webhooks/beeminder/doc.md`, authors use [Markdown macros](https://zulipchat.com/api/integration-docs-guide) to transclude chunks of documentation. One file they should not transclude is `templates/zerver/help/include/webhook-url.md`; that should only be used _by other templates_.

So we should add a rule to the linter that checks for the string  `{!webhook

[2018-02-09 21:38] showell commented on #5911
@zulipbot claim

I'm starting with the other-shortcut approach (`p` or some other key), mostly because it's easier, but also because I think it might make more sense for users to want that level of control.

[2018-02-09 21:44] rishig commented on #5911
:+1:

[2018-02-09 21:53] hackerkid commented on #7748
@gnprice Should I use xenial or trusty for running production suite?

[2018-02-09 22:02] rishig commented on #6714
I can still reproduce. Try the repro in the first message of this issue.

[2018-02-09 22:18] showell commented on #5911
see #8333

[2018-02-09 22:33] roberthoenig opened #8334 "Editing a bot to have an empty owner causes 500."
![image](https://user-images.githubusercontent.com/7950151/36053243-3eadada0-0df1-11e8-964c-4afe59f24247.png)

In the edit bot menu, one can change the owner of a bot. The first "owner" available is the "empty owner". Setting the owner to that blank field displayed above causes an internal server error:
[code]

Two things to fix:
* The frontend shouldn't allow users to set an "empty owner".
* The

[2018-02-10 01:06] timabbott commented on #7970
@umairwaheed can you take this?

I think we might just want to have a table in the frontend for handling this -- basically mapping e.g. `text` to `i18n.t('text')` (because we're using the English names for the API, so those shouldn't be translated, but the display should be).  I think that's actually the only one that needs to be tagged for translation.

[2018-02-10 01:08] timabbott commented on #3358
I think we want anything like this to take the form of just some Mac-specific edits to the existing desktop app guide.  Closing this issue.

[2018-02-10 01:08] #3358 closed

[2018-02-10 01:08] timabbott commented on #3359
I think we want anything like this to take the form of just some Mac-specific edits to the existing desktop app guide.  Closing this issue.

[2018-02-10 01:08] #3359 closed

[2018-02-10 01:09] rishig commented on #7970
Does this solution also work for things like "(no topic)"?

[2018-02-10 01:09] timabbott commented on #3360
Closing this, since I'm not sure this is the right form for documenting how to use the iOS app.

[2018-02-10 01:09] #3360 closed

[2018-02-10 01:21] timabbott commented on #7993
@gnprice is this addressed in the current version of the docs?  Seems likely to be a quick fix.

[2018-02-10 01:23] timabbott commented on #7996
@mghadam did you end up getting this resolved via chat.zulip.org?

I'm closing this issue since it's stale and I seem to recall it was resolved on chat.zulip.org, but I'd love it if you could add a link to the chat.zulip.org thread with debugging.  If I'm mistaken, let me know and we can reopen.

[2018-02-10 01:23] #7996 closed

[2018-02-10 01:24] timabbott commented on #8015
I believe internal links to narrows now open in-app.  So I'm closing this; I think there's an existing issue for adding typeahead syntax here: https://github.com/zulip/zulip/issues/4836.

[2018-02-10 01:24] #8015 closed

[2018-02-10 01:26] timabbott commented on #8016
Yeah, I was confused because we actually changed that `target=_blank` thing to no longer be a problem while I was on paternity leave, so I didn't know :).

@Be-ing given that change, do you think there's still an issue here?  I'm wondering if we should close this completely or open a more focused issue on what remains.

[2018-02-10 01:36] timabbott commented on #8088
Having used this a bit more, probably a more important issue here is that the "checkmark" button is not super intuitive; why not just commit the changes as soon as a user is selected via autocomplete?

That might eliminate the need to work on the line-wrapping problem.  What do you think @synicalsyntax?

[2018-02-10 01:43] timabbott commented on #6052
The right place to put this is probably just expanding the section on Twitter in `docs/production/customize.md` to better document this feature.

[2018-02-10 01:44] timabbott commented on #1561
@Balaji2198 did you determine the other class are or aren't being used?  I think probably some others are.  If you want to work on this, include the `git grep` output you used to determine things are unused in the commit messages.

[2018-02-10 02:00] timabbott commented on #7955
@rishig I don't think this is something that makes sense to change, so I'm closing this.  Fundamentally, a message is fixed content, and the recommendation is still sorta useful regardless of which app you start with (since it suggests desktop and mobile).

[2018-02-10 02:00] #7955 closed

[2018-02-10 02:15] #6901 closed

[2018-02-10 02:19] timabbott commented on #6126
@vaidap do you want to take this one?

[2018-02-10 04:32] skunkmb commented on #8051
@zulipbot claim

[2018-02-10 06:16] rishu605 commented on #5256
@zulipbot abandon

[2018-02-10 06:18] timabbott commented on #8100
@noboevbo if you can post the traceback from /var/log/zulip/errors.log, that'd be helpful.  But this certainly works in master, and we recently fixed an issue of this form that we'd thought was introduced in master a couple weeks ago.  I'm closing this, but I'd appreciate confirmation for whether the issue was present in 1.7.1, because that would suggest we should hurry a bugfix release.

[2018-02-10 06:18] #8100 closed

[2018-02-10 06:18] timabbott commented on #7992
Closing, thanks @oktayaa!

[2018-02-10 06:18] #7992 closed

[2018-02-10 06:19] rishig commented on #7955
The plan is to move most of the information from the PM into hotspots and other places anyway; it's currently too much text for people to read. The current PM is kind of a placeholder for that project.

Thanks @pulkonet for reporting this though! It's a good point, and we should be cognizant of people being onboarded via mobile when thinking about onboarding.

[2018-02-10 06:20] timabbott commented on #8099
Closing, since this is just a feature we've implemented that hasn't been released yet.

[2018-02-10 06:20] #8099 closed

[2018-02-10 06:27] timabbott commented on #5804
This was done a while ago; closing.

[2018-02-10 06:27] #5804 closed

[2018-02-10 07:03] rishu605 commented on #8169
@zulipbot claim

[2018-02-10 07:14] rishig commented on #5614
As a note, the doc part of this is no longer important, since we dramatically reduced the threshold for having a strong password.

[2018-02-10 09:08] jainaman224 commented on #6714
@rishig Fomat messages using markdown has a topic status message. *Status message* in sidebar redirects me to `/help/format-your-message-using-markdown#status-messages`. Which is indeed correct behavior according to me.

[2018-02-10 11:19] asiamarek commented on #8149
@zulipbot claim

[2018-02-10 11:44] shubhamdhama commented on #8212
Still working

[2018-02-10 11:44] shubhamdhama commented on #8143
Still working

[2018-02-10 12:52] shubhamdhama commented on #8334
@zulipbot claim I can see need of changes in `patch_bot_backend` and `bot_owner_select`(It's strange why empty username is explicitly provided)

[2018-02-10 12:52] showell commented on #7970
@rishig I think "(no topic)" is kind of a special case.  The server should indicate topic-less messages to the client with some kind of boolean flag, not a magic English string.  And then once the server gets out of the English language part of the conversation, the client can just say `i18n.t("(no topic)")`.

So it's kind of a different animal than things like enumerations of emoji types.

[2018-02-10 13:49] jainaman224 commented on #7885
@zulipbot claim.

[2018-02-10 14:52] jainaman224 commented on #7885
@rishig How does Zulip include bootstrap?
I need to include it for icons in `activity/realm_summary_table.html`.

[2018-02-11 00:08] SatyendraBanjare commented on #7535
I closed #8106 and opened #8340.

[2018-02-11 04:00] gooca commented on #8277
@zulipbot claim
Right now I have implemented this
`message.pub_date = timezone_now() - timezone_timedelta(days=(100-num_messages), hours=random.randint(0,23), minutes=random.randint(0,59))`

Rather than create a new variable, I have reused num_messages to chronologically increase time, so the first spoofed message might be posted 3 months ago, the second 2 months and 27 days, etc.
Looks like this

[2018-02-11 04:08] ericeslinger commented on #8300
@zulipbot claim

[2018-02-11 04:12] ericeslinger commented on #8300
@zulipbot claim --force

[2018-02-11 04:40] rishig commented on #7970
yeah, totally agree. The bigger project of doing that has been open for a year+ at this point though, so if that's an easy rider to this project I figured we could throw it in. If it's not though we'll just do it the correct way when we get to it :).

[2018-02-11 06:20] jainaman224 commented on #7885
@rishig Please review this UI.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13117482/36070489-ab233cda-0f21-11e8-92b4-3cc1dca70486.gif)

[2018-02-11 06:23] rishig commented on #7885
Great, thanks! Feel free to open a PR.

[2018-02-11 06:53] Anupam-dagar commented on #8216
@zulipbot abandon

[2018-02-11 09:31] AasthaGupta commented on #8315
@Kumar-Tarun Did you make some changes to `settings_user_groups.js`?

[2018-02-11 09:37] AasthaGupta commented on #8216
@zulipbot claim

[2018-02-11 09:57] Kumar-Tarun commented on #8315
@AasthaGupta  Yeah, to solve this issue, I changed this file and when I wanted to test this, the above error popped up.

[2018-02-11 10:08] AasthaGupta commented on #8315
@Kumar-Tarun  Then, there may be some errors in the changes you made. Look at your code carefully, if there are any syntax errors.

[2018-02-11 10:18] Kumar-Tarun commented on #8315
@AasthaGupta that was a silly doubt from my side, indeed there was a syntax error, I left some statements open without closing the curly brace. Btw thanks for the help.

[2018-02-11 10:56] shubham-padia commented on #4513
@zulipbot claim

[2018-02-11 13:17] abhigyank commented on #8275
@rishig Could you tell how to reproduce this issue?

[2018-02-11 15:30] shubhamdhama commented on #8275
@patricknaughton01 if you are working on this issue then you should comment `@zulipbot claim`.

[2018-02-11 15:40] showell commented on #8277
We'll probably want to have at least 2 messages for most days, so that we exercise the code to group messages together.  Not to get too complicated, but I could see an algorithm, where you do something like this:

* remove 10 most recent from list, randomly put them today
* totally skip yesterday, so we would expose regressions with big gaps
* remove 11th most recent from list, make day before yes

[2018-02-11 15:44] patricknaughton01 commented on #8275
@shubhamdhama I thought I did that is it not showing up?

[2018-02-11 15:53] shubhamdhama commented on #5757
@timabbott is this issue still relevant, adding the public unsubscribed streams is an easy task and we can have a `secondary` string as `(Unsubscribed)` or simply the purpose. (Others like slack show unsubscribed stream without even a warning.)

[2018-02-11 16:49] jainaman224 commented on #6714
@zulipbot claim.

[2018-02-11 17:24] shubhamdhama commented on #8275
Ohh, on refresh it showed up, you can create a PR of your fix. @abhigyank this issue is in progress you can find another issue.

[2018-02-11 18:27] SatyendraBanjare opened #8344 "Message Edit Autoclose"
Whenever a user opens a message edit for any message, the message's view with message editing block stays there till user refreshes the complete window and not just changing streams or narrowed content (eg. changing from streams_section to private_message section to all_message section). It's kind of annoying to see the edit boxes staying open even if our work is done.

relevant discussion here:
h

[2018-02-11 19:01] hackerkid commented on #8222
#8293

[2018-02-11 21:52] Kumar-Tarun commented on #8315
@synicalsyntax I need your help here, as I saw your PR regarding the UI for user-groups. I wanted to know is there any way to detect that the user is clicking on the exit button of a member pill, so as to remove it, I mean I need to disable that 'clicking to remove' according to this issue. I have already blocked the user from adding any pill but the removing part is still not clear to me.
Also, a

[2018-02-12 03:34] ericeslinger opened #8347 "Development environment setup documentation suggests old vagrant / virtualbox"
error here: https://github.com/zulip/zulip/blob/master/docs/development/setup-vagrant.md

The suggested versions of vagrant and virtualbox don't work on my machine (macOS 10.13.2) - network connections are periodically reset. Installing the most recent versions of vagrant (2.0.2) and virtualbox (5.2.6) fixes this. Updating vagrant requires a virtualbox upgrade, as vagrant 2.0.2 can't find virtualb

[2018-02-12 04:31] synicalsyntax commented on #8315
@Kumar-Tarun I'd ask @brockwhittaker instead, since he implemented the pills library.

[2018-02-12 05:25] abhigyank commented on #6547
@aedorado You're already working on issue #6548. So I'll work on this since you haven't started work on this. @zulipbot  claim.

[2018-02-12 05:28] umairwaheed commented on #8249
Was busy in another issue. Will work on https://github.com/zulip/zulip/pull/8047 before this.

[2018-02-12 05:37] abhigyank commented on #6547
@lonerz current `D` function of `stream_cycle_forward` should be removed right? Should that feature be shifted to some other hotkey or be deprecated totaly?

[2018-02-12 06:40] lonerz commented on #6547
@abhigyank this issue and #6548 are very related. The hope is that the solution to #6548 and the generalization of the deprecation notice can also be used for this issue.

[2018-02-12 08:29] abhigyank commented on #6547
So should I work on this issue after that issue is closed, or do this issue without a deprecation notice? @lonerz

[2018-02-12 08:37] emillind commented on #731
@zulipbot claim

[2018-02-12 08:41] abhigyank commented on #6126
@timabbott I want to work on this. Can I claim this?

[2018-02-12 08:41] aero31aero commented on #7836
@zulipbot claim

I'll give this a try with the hardcoding duplicates strategy since this seems like a one off event.

[2018-02-12 10:56] emillind commented on #1192
@zulipbot claim

[2018-02-12 10:57] emillind commented on #731
@zulipbot abandon

[2018-02-12 10:57] emillind commented on #1192
@zulipbot claim

[2018-02-12 11:10] abhigyank commented on #5829
@zulipbot  claim.

@rishig This issue still has to be worked on right?

[2018-02-12 12:17] shubham-padia commented on #6244
@zulipbot claim

[2018-02-12 14:15] aedorado commented on #3877
@timabbott Shall I begin working on this issue?

Also, I feel that since already the subscribe button is present at the end of the messages list when we have narrowed to a particular stream, we do not need to display the button in the alert at this time. It feels redundant.

On the other hand, when we attempt to send a message in a stream we are neither subscribed to, nor have narrowed to currentl

[2018-02-12 15:24] paresh-agrawal commented on #8347
@zulipbot claim

[2018-02-12 15:24] paresh-agrawal commented on #8347
@zulipbot claim --force

[2018-02-12 15:33] abhigyank commented on #5920
@zulipbot claim

[2018-02-12 15:48] florianjuengermann commented on #5920
@abhigyank please consider that I have an open PR for this issue (see #7644).

[2018-02-12 16:02] abhigyank commented on #5920
Oh you're unassigned, and your PR wasnt updated since a month so I though you werent working anymore. Sorry. Go ahead @florianjuengermann

[2018-02-12 16:31] florianjuengermann commented on #5920
Thank you. Yes, the review takes some time...

[2018-02-12 16:36] shubhamdhama commented on #6802
Pinging @alenavolk, if you find this interesting since you are working on its bot

[2018-02-12 16:57] #7885 closed

[2018-02-12 16:58] timabbott commented on #7885
@rishig now that this is done, you should remember to play around with it a bit; we might want to tweak the design a little after it gets some usage.

[2018-02-12 17:05] aedorado commented on #6547
@abhigyank All right. I will look at other issues in the meantime. Let me know if I can help you somewhere.

[2018-02-12 17:07] timabbott commented on #7836
I think just checking in the total number of commits that appear in both repos (easiest way is to just do the total commit counts in python-zulip-api at the time of the split), and subtracting it from the total.

[2018-02-12 17:22] jainaman224 commented on #6714
@zulipbot claim

[2018-02-12 17:31] aedorado commented on #7884
@rishig What is the status on this one? Can I take this up?

[2018-02-12 17:58] rishig commented on #6802
Good catch @shubhamdhama; forgot that I had opened an issue. Assigning Alena.

[2018-02-12 18:07] gooca commented on #8277
@showell If a developer logs on at 12:05 AM, how should I handle the random time going back a day? If I were to have 10 messages for 'today', is today the past 24 hours, or after 12 AM

[2018-02-12 18:23] Shobitha-M commented on #8216
@zulipbot claim

[2018-02-12 18:55] shubham-padia commented on #6244
@timabbott I was able to successfully return the anchor in the response.
What should the tests for this check for ?

Would they be something like this:
[code]
I believe the logic for the code that you've pasted in the issue description is already being checked in
`test_use_first_unread_anchor_with_some_unread_messages` in `test_narrow.py` L1483

[2018-02-12 19:20] abhigyank commented on #6547
I can add the functionality, but not sure what to do with the existing feature and deprecation notice. Any ideas? @aedorado

[2018-02-12 19:53] masterchef2209 commented on #7549
@zulipbot  claim

[2018-02-12 19:57] Anupam-dagar commented on #7549
Hi @masterchef2209, I already have a PR opened for this issue waiting for review by the moderators.You should probably look for other issue to work on :smile:

[2018-02-12 19:59] masterchef2209 commented on #7549
@zulipbot abandon

[2018-02-12 20:11] timabbott commented on #1515
This was implemented via #8252 (and various previous PRs).  Closing, thanks @Rishabh570 and @brainwane!

[2018-02-12 20:11] #1515 closed

[2018-02-12 20:28] rheaparekh commented on #8225
@zulipbot I am still working on this.

[2018-02-12 20:32] brainwane opened #8353 "Enhance Beeminder integration to allow datapoint input"
I'd like to be able to input datapoints for my Beeminder goals via [the Zulip-Beeminder integration](https://chat.zulip.org/integrations/doc/beeminder).

This is a followup to #1515 which has API resources, use cases, and format and sample data suggestions. We also discussed the data format [on chat.zulip.org](https://chat.zulip.org/#narrow/stream/integrations/subject/beeminder-bot/near/461467).

[2018-02-12 20:50] timabbott opened #8354 "lint: Research eslint indentation/linewrapping linter options and pick one"
As discussed in #7644, we apparently don't have any eslint lint rules turned on for various major whitespace-related aspects of our JS codebase formatting.  We should look into the available options, and start turning on ones that our codebase should comply with one-by-one (fixing the violations).

The next step here is for someone to do that research and post with notes on which things they think

[2018-02-12 20:56] brainwane commented on #8005
We [discussed this just now](https://chat.zulip.org/#narrow/stream/general/subject/zulipchat.2Ecom/near/494918) in Zulip developer chat.

@timabbott said, specifically about exposing the current commit ID for zulipchat.com organizations,

[2018-02-12 21:08] timabbott commented on #7925
@ericeslinger is working on this.

[2018-02-12 21:10] shubham-padia commented on #8145
@zulipbot claim

[2018-02-12 21:30] timabbott commented on #6244
That seems fine for that part.  I'd also update 1-2 existing tests that use `get_messages` with that option to add checks the actual value of the anchor.

[2018-02-12 21:31] timabbott commented on #7970
I'd prefer to avoid adding new tools for what amounts to a single string; I was thinking we should just have something like this in the frontend:

`emoji_type_name_map = { 'text': i18n.t('text'), ... }` somewhere in the JS codebase.

[2018-02-12 21:59] darthgera123 commented on #8201
Can someone please guide on this issue.

[2018-02-12 22:17] darthgera123 commented on #8082
@zulipbot assign

[2018-02-12 22:28] darthgera123 commented on #8082
@zulipbot claim

[2018-02-12 22:53] timabbott commented on #6126
@abhigyank yes, but be sure to read the history of past attempts to make sure you do this correctly.

[2018-02-12 22:56] timabbott commented on #5757
Yep, it's still relevant.  I think the approach we discussed of having a divider line before streams the user isn't subscribed to is ideal; barring that, we could display them without a warning (but still sort anything the user is subscribed to above anything they aren't).

[2018-02-12 23:01] timabbott opened #8358 "Fix buggy interaction between inline URL previews and links to certain PDFs"
As a follow-up to #8322, we should also fix the open graph URL previews integration to not end up downloading entire PDF files and inserting their data.

This bug report doesn't have enough context to be worked on; it's a project only for folks with a lot of experience with Zulip's markdown processor.  I can share more details with someone of that description who wants to work on this.

[2018-02-12 23:30] timabbott commented on #8016
Closing under the assumption that my analysis there was correct; feel free to correct if I missed something @Be-ing :).

[2018-02-12 23:30] #8016 closed

[2018-02-12 23:31] timabbott commented on #7455
@brockwhittaker @showell is this issue fixed?

[2018-02-12 23:39] #5920 closed

[2018-02-13 00:11] showell commented on #2945
LGTM

[2018-02-13 01:51] kurianbenoy commented on #6316
So is this Issue still valid @rishig

[2018-02-13 03:45] cakleimeier commented on #2945
@showell  Awesome,  thanks!

[2018-02-13 04:50] timabbott commented on #8277
I think just spacing each message a random period between 0 and 1 hour would probably work fine, with a bit less complexity in the algorithm, and still have the ~100 messages spread over about 4 days.

[2018-02-13 04:57] umairwaheed commented on #7970
@timabbott, this will work. My only concern is that we won't be able to maintain this map in an automated manner. If we want to stick to manually adding strings then we don't even need a dictionary, even a list would work. For example:

[code]
Our `makemessages` command will capture the text within `i18n.t()` and add it into 'translations.json'. Once the keys are part of 'translations.json', `i18n

[2018-02-13 05:01] timabbott commented on #7970
Right, except we don't need to translate Google/Apple/Twitter, since those names are a constant in all languages.  I don't expect this type list to change more than once per few years (and probably all the things we might add will be brand names that aren't translateable), so probably not worth worrying about automating.

[2018-02-13 05:25] umairwaheed commented on #7970
OK, will start work on this. I think we don't even need to flag the strings in the backend.

[2018-02-13 11:00] Rishabh570 commented on #7963
@zulipbot abandon

[2018-02-13 11:39] amanagr commented on #8054
@zulipbot abandon

[2018-02-13 11:51] aedorado commented on #6547
@abhigyank I have opened PR #8308 in order to address isuue #6548. I think so once that is approved, and merged, we could use the hotkey deprecation UI to show deprecation notice for the 'D' key as well.

[2018-02-13 12:51] udaykiranreddykondreddy commented on #7549
@zulipbot claim

[2018-02-13 12:53] abhigyank commented on #6547
I will supoose then work on this after #8308 is merged/closed.

[2018-02-13 12:59] pola commented on #7098
@zulipbot claim

[2018-02-13 12:59] pola commented on #7098
@zulipbot claim --force

[2018-02-13 13:52] udaykiranreddykondreddy commented on #7549
@zulipbot abandon

[2018-02-13 13:55] aedorado commented on #6040
@zulipbot claim

[2018-02-13 13:56] YJDave commented on #5829
Hey, @abhigyank yeah, the issue is still open. You can start working.

[2018-02-13 15:01] saraervik commented on #7564
Hi,

FYI: We are 5 KTH students (Royal Institute of Technology in Sweden) and we are taking a course about software engineering. Our assignment is to contribute to an open source project. Luckily you won! Congratulations, you will now receive the full strength of our project group.  🎉

[2018-02-13 16:26] Plongy commented on #1836
@zulipbot claim

[2018-02-13 16:39] aedorado commented on #6547
Great. @zulipbot abandon

[2018-02-13 17:23] abhigyank commented on #6020
@zulipbot claim

[2018-02-13 17:23] #8145 closed

[2018-02-13 17:28] #8334 closed

[2018-02-13 20:40] AnshumanPati commented on #7549
@zulipbot claim

[2018-02-14 00:15] shubham-padia commented on #6295
@timabbott Is this issue still relevant ?
I see that the subscribe button has been removed and a warning for empty subscriber list is already being displayed.
![selection_037](https://user-images.githubusercontent.com/13910561/36181283-313cdb80-114a-11e8-962d-94b56473fd1a.png)

[2018-02-14 00:32] utkarsh23 commented on #5273
@zulipbot abort

[2018-02-14 02:17] gnprice commented on #8347
Thanks @ericeslinger for reporting this!

It looks like we've made this update now, with commit 0db9f5592.

[2018-02-14 02:17] #8347 closed

[2018-02-14 06:44] aayushagra commented on #7549
@zulipbot claim

[2018-02-14 07:28] abhigyank commented on #8323
What comment do you have in mind? I am thinking a comment [here](https://github.com/zulip/zulip/blob/master/static/js/hotkey.js#L21) would be appropriate.

[2018-02-14 08:01] abhigyank opened #8377 "Avatar: Cannot upload same image after deleting"
In `settings/your account`, after uploading a avatar, if you delete that avatar in the same settings popup, and upload new avatar with same file name, nothing happens, i.e. avatar isn't uploaded.

**Steps to Reproduce**
In `settings/your account`:
Upload an avatar with file name say, `pic.jpg`.
Without closing the settings, Delete avatar.
Now again upload an avatar with same file name `pic.jpg` (c

[2018-02-14 08:15] shubham-padia commented on #5898
@zulipbot claim

[2018-02-14 09:59] shubhamdhama commented on #8377
Nice catch @abhigyank I guess there is a fix for this already, let me check why isn't this working.

[2018-02-14 10:15] aayushagra opened #8379 "Bugdown: Duplicate links in embeds"
When you send multiple duplicate links in a single chat message there are two embeds created for the exact same content.

Example: (https://www.youtube.com/watch?v=4bfECHhoBBQ https://www.youtube.com/watch?v=4bfECHhoBBQ) would create two embeds for the exact same video

[2018-02-14 10:16] aayushagra commented on #8379
@zulipbot claim

[2018-02-14 10:16] aayushagra commented on #8379
Already working on a fix for this. Will claim and create PR once my previous issue is fixed.

[2018-02-14 10:37] abhigyank commented on #8377
Can you link to the PR/code where this fix was implemented? I'll debug on it.

[2018-02-14 11:12] hackerkid opened #8380 "Upgrade django-auth-ldap"
Currently upgrading **django-auth-ldap** causes tests to break.
https://circleci.com/gh/hackerkid/zulip/370. This should be a good issue for new contributors.

Followup of #8371

[2018-02-14 11:13] hackerkid opened #8381 "Upgrade SQLAlchemy"
Upgrading SQLAlchemy to latest version breaks. See https://circleci.com/gh/hackerkid/zulip/385.

Followup of #8371

[2018-02-14 11:40] shubhamdhama commented on #8377
Tracked it, it's here https://github.com/zulip/zulip/blob/08efd7828a9efab240c2f938befbaef515458693/static/js/avatar.js#L64 Looks like the value isn't updating, I'll create a PR to fix this. Thanks @abhigyank .
@zulipbot claim

[2018-02-14 12:48] AasthaGupta commented on #7446
@zulipbot it is in review.

[2018-02-14 12:55] AasthaGupta commented on #8216
@Shobitha-M I am already working on this issue.

[2018-02-14 12:58] asiamarek commented on #8149
@zulipbot claim --force

[2018-02-14 13:04] abhigyank commented on #8221
@zulipbot claim.

[2018-02-14 13:05] abhigyank commented on #8221
@zulipbot claim --force

[2018-02-14 13:16] aedorado commented on #8206
@timabbott I think this is a good idea to have a UI visible option for marking all messages as read. Can I take this up and start working on this?

[2018-02-14 15:37] shubhamdhama commented on #8323
@abhigyank You can claim the issue by `@zulipbot claim`

[2018-02-14 15:43] dbstraight opened #8385 "Is there any current or planned support for guest accounts?"
Is there an option I'm missing or a plan for the future to support the abiliy to add users who only have access to selected streams and/or topics? This would be extremely useful for including contractors in a team only where they are relevant without giving them access to a team's entire body of messages.

[2018-02-14 16:00] dbstraight commented on #8331
I was about to put in a suggestion to be able to search for multiple streams and have their message interleaved like the "All messages" view. This seems like a related idea, as does #1085's 3rd idea: "have streams grouped." This would be a useful feature as a way to defined groups of streams as a kind of workspace, and even switch between multiple groups like one might switch between multiple desk

[2018-02-14 16:35] dbstraight opened #8386 "Enter to send setting should apply to editing message as well"
I have my setting for new messages as "Press enter to send", but when I'm editing a message, I still have to use Ctrl+Enter. This is confusing.

[2018-02-14 17:23] shubhamdhama commented on #7602
@zulipbot claim I'll start a thread about this in #desgin.

[2018-02-14 17:24] #8275 closed

[2018-02-14 17:29] #6714 closed

[2018-02-14 17:31] timabbott commented on #8385
@dbstraight it doesn't exist yet, and there aren't immediate plans to implement it, but it's something that will almost certainly exist in the future.  This would be a medium-sized project to implement, but I don't think any major restructuring would be required to make it happen.

[2018-02-14 17:36] #8323 closed

[2018-02-14 17:41] timabbott commented on #8380
@umairwaheed this one is probably a good project for you.

[2018-02-14 17:41] #8377 closed

[2018-02-14 17:50] ericeslinger opened #8387 "Linter: linting as XHTML, but we're writing HTML5"
The linter emits an unterminated tag error if you use something like `<hr>` . It is one of the few empty elements (input, img) that should not have a terminating tag, and shouldn't be an xhtml-style self-closing tag either: `<hr>` by itself is valid HTML5, `<hr></hr>` is not valid, and `<hr/>` is questionable.

The actual doctype of the zulip page is HTML5 (line 1 is `<!DOCTYPE html>`), so the lin

[2018-02-14 19:00] shreyanshdwivedi commented on #8200
If @dgarvit is not working, I would like to take up this issue. Also, I am not getting `ENABLE_FEEDBACK` in `dev_settings.py`.

[2018-02-14 20:19] SatyendraBanjare commented on #7538
@zulipbot claim

[2018-02-14 20:38] rishig opened #8392 "Allow admins to configure custom reactivation emails"
See https://chat.zulip.org/#narrow/stream/feedback/topic/potentially.20unwanted.20automated.20mails for further discussion.

[2018-02-14 20:48] timabbott opened #8393 "User report: Clicking on twitter preview links from mobile crashes the app on iOS"
This should be easy to test/verify with #twitter on chat.zulip.org.

[2018-02-14 20:48] timabbott commented on #8393
Oops, should have opened this in zulip-mobile.

[2018-02-14 20:48] #8393 closed

[2018-02-14 20:51] rishig commented on #8000
I think a first step here is to add an org setting to turn off the two welcome emails. Adding a help wanted label for that, since that's a relatively straightforward project.

The setting should go on https://chat.zulip.org/#organization/organization-settings, above the "Save changes" button here:
![image](https://user-images.githubusercontent.com/890911/36227031-9950a9b0-1184-11e8-97d8-d568420103

[2018-02-14 21:31] rishig commented on #8200
You'll need to add the ENABLE_FEEDBACK line to the end of the file.

[2018-02-14 21:39] timabbott commented on #8387
@adnrs96 this is probably an issue for you, in that I think this is probably in `check-templates`?  Could be wrong though.

[2018-02-14 22:07] #7838 closed

[2018-02-15 04:46] umairwaheed commented on #8380
@zulipbot claim. 👍

[2018-02-15 09:48] AasthaGupta commented on #8000
@zulipbot claim

[2018-02-15 12:37] shubhamdhama commented on #3775
@zulipbot claim Since I'm working with drafts, I'll work on this after 7602. This can be a bigger project.

[2018-02-15 19:33] adnrs96 commented on #8387
will look into it

[2018-02-15 22:11] showell commented on #4874
Now that #8333 has been merged, this should be a fairly easy change.

[2018-02-15 22:47] #8387 closed

[2018-02-16 00:10] brockwhittaker opened #8403 "minifier: CSS minifier is broken with `calc` property."
The minifier does not correctly handle spacing inside the `calc` property in production which yields a production-only issue with `calc` properties breaking when the format is `/calc\(\d+% +`, where it removes the whitespace, which is illegal in CSS and breaks in at least Chrome.

An example of this is **/static/css/portico.css** where *line 232* looks like this:

[code]

And is transformed into t

[2018-02-16 01:50] #320 closed

[2018-02-16 01:50] timabbott commented on #291
This is now fixed via efe85453039e9ef9e1a7a503e33d8b21e91e5fa9, though only for Ubuntu Xenial.  We'll do a follow-up for Trusty separately (or drop Trusty support; it's unclear which will be first).

[2018-02-16 01:50] #291 closed

[2018-02-16 01:51] timabbott commented on #320
This was fixed via #8357 for Ubuntu Xenial.  A bit more work is required to support it on Trusty; whether we do that will depend on how soon we deprecate Trusty support.

[2018-02-16 01:55] timabbott commented on #8403
This is likely an upstream issue with `uglify-js` or something; likely quite hard to fix.  Probably the right solution is to just lint for this.  @adnrs96 can you look into it?

[2018-02-16 04:03] adnrs96 commented on #8403
Can we tryout a different compressor for CSS compressor?
http://django-pipeline.readthedocs.io/en/latest/compressors.html

[2018-02-16 04:07] adnrs96 commented on #8403
django-pipeline defaults to

Is there a reason we are not using the default compressor and using this one `pipeline.compressors.yui.YUICompressor`.

[2018-02-16 04:58] shubham-padia commented on #8124
@zulipbot claim --force

[2018-02-16 05:20] BenDeBrasi commented on #8124
@zulipbot abandon

[2018-02-16 09:11] abhigyank commented on #4874
@zulipbot claim --force

Edit - Not receiving the invite for being assigned to a issue, see issue here. But I am currently working on this issue despite not being assigned.

[2018-02-16 11:14] asiamarek commented on #8149
Hi, I did some research on this and the problem indeed appeared a few times (see #2629 and  #2789) but it seems that not implementing this ui is not a bug. I also checkout to some random commit from November and it worked in the same

[2018-02-16 11:18] shreyanshdwivedi commented on #6032
I am waiting for review of my PR @zulipbot claim

[2018-02-16 11:48] asiamarek commented on #8087
@zulipbot claim

[2018-02-16 11:50] asiamarek commented on #8149
@zulipbot abandon

[2018-02-16 11:51] asiamarek commented on #8087
@zulipbot claim

[2018-02-16 15:38] timabbott commented on #3570
Fixed via #8399.

[2018-02-16 15:38] #3570 closed

[2018-02-16 15:39] timabbott commented on #3347
We haven't exactly implemented this, but something similar was done via #8399.

[2018-02-16 15:39] #7585 closed

[2018-02-16 15:40] timabbott commented on #7443
We added a manual way to mark everything as read in #8399, which probably resolves the main issue here.

[2018-02-16 15:40] timabbott commented on #8206
@aedorado it's a good idea, but has already been done :).  Fixed via #8399.

[2018-02-16 15:40] #8206 closed

[2018-02-16 15:54] timabbott opened #8411 "Improve live-update when a message is deleted by an administrator"
When all the (unread) messages in a topic are deleted, the Zulip webapp (and mobile app, but that's https://github.com/zulip/zulip-mobile/issues/1926) don't properly clear unread counts.

Here's our current handler for a deleted message in `server_events_dispatch.js`:
[code]

We should also be clearing any unread counts related to that message (effectively marking it as read; though we need to be

[2018-02-16 15:57] timabbott commented on #8403
We can try another; I think the compressor was picked several years ago based on perf, and which is best now may have changed.  I think the main criteria to evaluate are (1) performance and (2) accuracy/quality.

[2018-02-16 16:15] timabbott commented on #8245
It appears that this issue might be related to the NFS file syncing backend on OSX (that seems to cause a lot of other slowness issues for things like recompiling handlebars templates).  So, I think we need to find an alternative solution to the frequent crashes of the non-NFS backend on OSX.  Might want to try using Xenial (rather than Trusty) as the Vagrant OS version there.

[2018-02-16 16:33] shubham-padia commented on #8411
@zulipbot claim
I've fixed the issue, will write the tests soon and make a PR

[2018-02-16 18:07] #6244 closed

[2018-02-16 18:12] #8301 closed

[2018-02-16 18:26] abhigyank opened #8414 "compose: Topic text auto selects on tab change"
When we create a new topic in a stream, and after typing the topic name, with the topic input in focus, we switch (browser) tabs and comeback the topic field is auto selected entirely.
It may actually be two glitches in one. If we select half of the text of the topic before tabbing away, the selection immediately goes away. And then if we come back, it selects.

Discussion on it is [here](https://

[2018-02-16 18:41] brockwhittaker commented on #8403
I'd prefer just fetch a newer version of the current system. We have no guarantees that we won't have similar-level different bugs with a new processor.

[2018-02-16 19:14] ericeslinger opened #8416 "Popover leaks memory"
In static/js/popovers.js there's an array of all popovers used to keep track of open popovers for the purposes of close_all, and making sure the popped open tooltip element is correctly deleted. This array should be truncated in order to release the Popover elements themselves (as they maintain references to orphaned DOM elements via jQuery objects).

I will submit a PR for this momentarily, as it

[2018-02-16 19:30] #5898 closed

[2018-02-16 19:48] #8143 closed

[2018-02-16 19:49] timabbott commented on #8313
@shubhamdhama this could also be a good issue for you, since you've done some work on popovers recently.

[2018-02-16 19:54] shubhamdhama commented on #8313
@zulipbot claim

[2018-02-16 20:35] timabbott commented on #7884
@aedorado you can try picking this up; https://github.com/zulip/zulip/pull/8233 has some prior work that you should look at though (seems to not work, so feel free to do your own work on it).

[2018-02-16 21:01] timabbott opened #8420 "Improve our linter rules for placeholders"
The `placeholder=` rule in `tools/linter_lib/custom_check.py` is too broad in its checking for translatable strings.  It is useful: we had a rash of folks forgetting to translate those attributes in the past.  But there are plenty of legitimate cases where one does not want to translate, like URLs, that should be easily excludeable.

We can use the `exclude_pattern` feature to (for example) exclud

[2018-02-16 21:12] Androbin commented on #7130
Technical Notes:

* Clipboards support the storing of multiple data formats simultaneously
* When data is added to the clipboard by an application, it typically makes it available in as many different data formats as it can.
* The internal clipboard functionality of the operating system (e.g. Windows) will often automatically translate data from known advanced formats to simpler formats, increasin

[2018-02-16 21:17] Androbin commented on #4130
First things first: Are we talking about end-to-end encryption here?

[2018-02-16 21:29] timabbott commented on #4130
It certainly could be done.  The hard part with this sort of thing is key distribution, for which one may want a browser extension.

[2018-02-16 21:34] #8416 closed

[2018-02-16 21:38] Androbin commented on #4130
If it's truly end-to-end, means the server doesn't get to decipher the chat either.
Or in other words: The server can't do all of those lovely things for you.
Lots of features would rely on the front-end for that.

[2018-02-16 21:38] #8300 closed

[2018-02-16 21:44] timabbott commented on #4130
Correct.  But given that Zulip messages are already encrypted in transit, and anyone with root on a server  can access anything on that server, the only possible thing one could add is end-to-end encryption.  It would presumably be optional, and on those streams, a bunch of features wouldn't work.

[2018-02-16 22:51] eirinikos commented on #8420
@zulipbot claim

(^ I think this is the correct way to claim an issue, based on [this comment](https://github.com/zulip/zulip/issues/8275#issuecomment-363316311))

Please correct me if I'm mistaken, thanks!

[2018-02-16 22:56] eirinikos commented on #8420
Hm, OK!

@zulipbot claim --force

[2018-02-16 23:37] Balaji2198 commented on #5913
@zulipbot  claim

[2018-02-16 23:42] #7925 closed

[2018-02-16 23:43] timabbott opened #8424 "features page: Fix keyboard shortcuts overflow on iPhone 7 sizing"
Several ideas are discussed in https://github.com/zulip/zulip/pull/8360#issuecomment-366090006; I'd probably prefer the "change HTML" version of that solution.

[2018-02-17 00:02] #7628 closed

[2018-02-17 00:42] AnshumanPati commented on #5802
I'm still working on this issue.

[2018-02-17 01:00] #5075 closed

[2018-02-17 01:01] timabbott commented on #7093
@HarshitOnGitHub is this still happening with current Firefox?

[2018-02-17 01:15] timabbott commented on #8149
@asiamarek thanks for researching this!  I agree this is definitely not a regression.  @rishig after reading #2789, do you think we should close this as a duplicate of #2629?

[2018-02-17 01:16] rishig commented on #5913
This is a pretty tricky issue; before you put too much into it we should make sure we'll have time to merge it once it's done.

[2018-02-17 01:22] rishig commented on #8149
Interesting. I agree that is compelling evidence. I feel like the issues raised were not fundamental (you could just have a fixed width on the typeahead box), but agree this is a duplicate of that issue.

[2018-02-17 03:45] aayushagra commented on #7549
@zulipbot abandon

[2018-02-17 05:15] AkshJain99 commented on #7795
Can anybody provide me the code for this issue or how can i find this issue in so many files???

[2018-02-17 07:04] Balaji2198 commented on #5913
@rishig  Thanks for the heads-up. I did some initial work on this. You can find that in [my-branch](https://github.com/Balaji2198/zulip/tree/issue-5913-Preregistration). Made it in separate commits
* [zerver/models.py: Add `full_name` field to the PreregistrationUser.](https://github.com/Balaji2198/zulip/commit/d7c2a6484c179e1700db11ea18a7331ab89246a6)
* [ auth.py: Put the full_name into the prere

[2018-02-17 07:58] Anupam-dagar commented on #8014
@zulipbot issue is in progress :smile:

[2018-02-17 10:08] alirizwi commented on #8004
@zulipbot claim

[2018-02-17 15:57] akashnimare opened #8430 "control-b boldfaces text rather than moves the cursor on macOS"
---

- **Operating System**:
  - [x] macOS
- **Clear steps to reproduce the issue**:

Type <kbd>Ctrl</kbd><kbd>B</kbd> in the text field.

Expected behavior:

- The cursor moves left one characer.

Actual behavior:

- The cursor is surrounded by `**` characters on either side.

When you hit this key combination on a mac, the correct native text-widget behavior is to move backward one character.  C

[2018-02-17 15:58] akashnimare commented on #8430
@zulipbot claim.

[2018-02-17 16:03] akashnimare commented on #8430
I think the issue with [this line](https://github.com/zulip/zulip/blob/6638c12aef13428bdec5ae3b7cd13f17c7237f8e/static/js/compose.js#L680). We should use either CMD or CTRL, not both. Ideally, we should do this -

[code]

So if you're on macOS only `CMD+b` will work and `CTRL+b` on Linux/Windows.

cc @YJDave.

[2018-02-17 17:10] burek967 commented on #8054
@zulipbot claim

[2018-02-17 22:07] rishig opened #8432 "org settings: Replace "Unknown" with something better for inactive users."
Currently on #organization/user-list-admin (Organization settings -> Users) we use "Unknown" to denote a last active time more than three weeks ago:
![image](https://user-images.githubusercontent.com/890911/36346039-64ee1f68-13eb-11e8-8980-5d4574916e8e.png)

Better would be to replace the "Unknown" with "*" and put the following at the bottom of the page:
`* not active in the last 3 weeks`

---

E

[2018-02-17 23:50] akashnimare commented on #8432
@zulipbot claim.

[2018-02-18 05:36] Balaji2198 commented on #1561
@timabbott  Sorry for the late reply. Somehow missed this message. So, for the reference, these classes have been removed till now. Will start working on others soon.
[code]

[2018-02-18 06:03] aniket-agarwal1999 commented on #8161
Actually I have not been able to contribute to the repo because of my approaching semester exams, I hope u will understand.

[2018-02-18 11:03] alirizwi commented on #8004
@zulipbot abandon

[2018-02-18 12:25] Rishabh570 commented on #5639
A little issue to be fixed...

[2018-02-18 19:03] timabbott commented on #7199
@gnprice this is done now, right?

[2018-02-18 19:03] timabbott commented on #1721
@gnprice this is done now, right?

[2018-02-18 19:05] timabbott commented on #7609
@0E800 were you installing on a non-x86 architecture, by any chance?  It sorta looks like a problem compiling one of our dependencies having to do with integer sizes.

[2018-02-18 19:06] timabbott commented on #5029
This was resolved through some recent, unrelated installer work.  Thanks again for the report @joshland!

[2018-02-18 19:06] #5029 closed

[2018-02-18 19:07] timabbott commented on #71
We now force the English locale, which probably resolves this (and if it didn't, we'll eventually get another report; it's been more than 2 years since the last one).  Closing.

[2018-02-18 19:07] #71 closed

[2018-02-18 19:10] timabbott commented on #6786
We've only got a couple left outside `scripts/` and `tools/`:
[code]

Might be worth putting finishing this and then lint-banning it in `zerver/` soon.

[2018-02-18 19:12] timabbott commented on #6704
I think there's nothing here that isn't covered by #6785 ad #6786, so closing.

[2018-02-18 19:12] #6704 closed

[2018-02-18 19:13] timabbott commented on #3956
I took care of this a while back.

[2018-02-18 19:13] #3956 closed

[2018-02-19 04:28] timabbott commented on #7795
This probably is an interaction issue between `zerver/forms.py` and `templates/zerver/login.html`.  May be a bit tricky to figure out exactly what's going on.  @umairwaheed this may be something good for you to fix.

[2018-02-19 04:31] timabbott commented on #8278
@PentaHiggs for further context on Internet, we usually handle external resource access by just using test fixtures; but if you look at e.g. `test_inline_youtube`, it doesn't actually need to download the image in order to generate the HTML syntax, so linkification tests are usually fine from this perspective.

[2018-02-19 04:44] umairwaheed commented on #7795
Sure. @zulipbot claim

[2018-02-19 04:44] timabbott commented on #1836
This is an issue that requires some care, since the email mirror system has incomplete unit tests.  @hackerkid this might be a good issue for you to grab.

[2018-02-19 08:34] hackerkid commented on #1836
@zulipbot claim

[2018-02-19 08:37] Plongy commented on #1836
Hi!

Going to submit a PR later today, currently working on expanding the tests :smile:

[2018-02-19 08:41] hackerkid commented on #1836
@Plongy Cool :)
@zulipbot abandon

[2018-02-19 09:11] rajujha373 commented on #7549
@zulipbot claim

[2018-02-19 09:33] hackerkid commented on #7549
@rajujha373 There are already two PRs opened for this issue.

[2018-02-19 09:44] alirizwi commented on #3865
@rishig I want to take up this issue. Is someone working on this issue?

[2018-02-19 11:08] wiktorcie opened #8440 "demo chat sign up/in dead"
I was trying to sign up to test the interface, but I'm getting

After a sign up via ouath gmail.

[2018-02-19 14:22] AasthaGupta commented on #8392
@zulipbot claim

[2018-02-19 17:05] timabbott commented on #4713
@jmandel well, this took longer than might have been ideal to happen, but I'm pretty happy with the solution in #8400.  Thanks again for bringing this issue to our attention! :)

[2018-02-19 17:05] #4713 closed

[2018-02-19 17:14] timabbott commented on #8440
@wiktorcie can you be more clear about exactly what server you visited, etc?

[2018-02-19 17:32] timabbott commented on #8403
Or maybe just lint for this use of `calc`.  Depends a bit on whether upstream has actually fixed the bug.

[2018-02-19 17:36] #7271 closed

[2018-02-19 17:51] #7910 closed

[2018-02-19 17:54] #3790 closed

[2018-02-19 18:18] Lyla-Fischer commented on #6883
https://github.com/zulip/zulip/pull/8324

[2018-02-19 18:46] #3058 closed

[2018-02-19 18:53] Lyla-Fischer opened #8442 "Document "Find your Zulip organization""
Splitting out the articles from to todo list here: https://github.com/zulip/zulip/commit/32f6a768e3ba1a3501dfaa94ab70e7cf0340fdc9

[2018-02-19 18:54] Lyla-Fischer commented on #8442
@zulipbot label area:documentation

[2018-02-19 18:57] Lyla-Fischer commented on #8442
@zulipbot label "area:documentation"

[2018-02-19 18:57] Lyla-Fischer commented on #8442
@zulipbot label "area: documentation"

[2018-02-19 18:58] Lyla-Fischer commented on #8442
@zulipbot label "area: documentation (user)"

[2018-02-19 19:00] Lyla-Fischer opened #8444 "user docs: automatically-link-to-an-external-issue-tracker"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:01] Lyla-Fischer opened #8445 "User docs: copy-a-block-of-messages"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:02] Lyla-Fischer opened #8446 "user docs: the-all-messages-view"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:02] Lyla-Fischer opened #8447 "user-docs: add-a-bot-or-integration (user-level)"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:03] Lyla-Fischer opened #8448 "user-docs: archive a stream"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:04] Lyla-Fischer opened #8449 "user docs: api-keys"
esp. "Change your API key"
Splitting out the articles from to todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:05] Lyla-Fischer opened #8450 "user docs: display-emoji-as-text"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:05] Lyla-Fischer opened #8451 "user docs: change-your-time-zone"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:06] Lyla-Fischer opened #8452 "user docs: view-organization-settings-as-non-admin"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:06] Lyla-Fischer opened #8453 "user-docs: add-custom-emoji"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:08] Lyla-Fischer opened #8454 "user-docs: invite-a-friend-to-zulip"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:09] synicalsyntax commented on #8442
Duplicate of #3355?

[2018-02-19 19:10] Lyla-Fischer commented on #8442
Indeed. I wasn't looking for existing issues on this set of stuff that I am doing. I'll be more careful about checking. Thanks for catching this.

[2018-02-19 19:10] #8442 closed

[2018-02-19 19:11] Lyla-Fischer opened #8455 "user docs: configure-authentication-methods"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:12] Lyla-Fischer opened #8456 "user docs: manage-system-notifications"
Splitting out the articles from from todo list here: 32f6a76
@zulipbot label "area: documentation (user)"

[2018-02-19 19:14] alirizwi commented on #6932
@zulipbot claim

[2018-02-19 19:30] rishig commented on #6617
Another idea I had (though not totally thought through) is to bundle all this into a "restricted user" setting. Maybe restricted users can't create streams, post to announce, initiate PMs, etc.

For some realms, maybe everyone is restricted until an admin "knights" them.
For others, maybe everyone is restricted for the first 3 days and then automatically gets unrestricted.

[2018-02-19 19:54] showell commented on #6617
I'm not sure whether this is a data point for or against a bundled "restricted user" setting, but we may have different types of restricted users.  For example, we may have the "contractor" use case in corporate settings, where the contractor is generally assumed not to be a potential spammer but also should only have read-access to streams.

[2018-02-19 20:04] adnrs96 commented on #8403
Seems like fix has been merged upstream based on this comment
https://github.com/yui/yuicompressor/issues/59#issuecomment-63692296

So actually `yuicompressor` last made a release in 2013 (v2.4.8) and never after but there master has since moved forward (98 commits ahead of last release). Should we pull `yuicompressor` off there master branch?

[2018-02-19 20:08] showell commented on #8403
My vote here is to use no CSS compressor at all.

[2018-02-19 20:29] adnrs96 commented on #8403
I must note here that `yui-compressor` is a aptitude dependency and we will need to build its code from master and maybe store somewhere online for use.
Also I read a lot of chatter about people moving towards different compressors on the issue page.

[2018-02-20 06:05] timabbott commented on #8403
I think probably the next step is to look at what alternative CSS compressors folks are using.  It's probably a fairly small config change to switch, and it sounds like YUICompressor is a dead project (no releases in almost 5 years), so we certainly shouldn't be using that.

[2018-02-20 07:08] wiktorcie commented on #8440
ok, I figured it out. Cause was on my side. I had chrome + private internet access vpn extension enabled. That caused the CSRF error for some reason. Weird.

[2018-02-20 07:08] #8440 closed

[2018-02-20 09:35] amanagr commented on #2168
@zulipbot claim

[2018-02-20 10:06] graszka22 commented on #8041
@zulipbot bump

[2018-02-20 10:43] RohitLearner commented on #8432
I might want to propose an option for word "UNKNOWN" with something entertaining and mocking like "Lost from quite a while " or "Not seen for some time". This strategy is executed for the assurance support in one of the well known free coding site "freecodecamp.com", which additionally looks better.

[2018-02-20 12:09] Abdallahassan commented on #7098
We've been working on this issue for a while but haven't finished everything, based on our experience it would take maybe 4 weeks of man-hours to get everything done. There are still some JavaScript files that haven't been shortened, and we haven't added the check at tools/linter_lib/custom_check.py.

[2018-02-20 14:19] adnrs96 commented on #8403
`Yuglify compressor` is the default compressor for django-pipeline and as well as the recommended option by them.
Switching to `Yuglify compressor` will be very easy IMO (just config change involving 2-3 lines). Maybe we should try it out.

[2018-02-20 17:01] amanagr commented on #2168
After devoting some time with https://chat.susi.ai/, I think susi is currently in it's development phase and isn't much useful as an integration. Also, the response time of susi is very very slow. @zulipbot abandon

[2018-02-20 17:44] mariobehling commented on #2168
@amanagr As SUSI chat is a web client it is not the goal to integrate it into Zulip. Rather should the SUSI.AI server API be made use of to implement a bot.

[2018-02-20 17:52] #8430 closed

[2018-02-20 18:59] timabbott commented on #8403
Yeah, try doing a PR that does that; we can test-deploy on Nightly and then chat.zulip.org and see how it goes.

[2018-02-20 19:00] timabbott commented on #7098
@Abdallahassan can you explain how you're doing things?  We're not going to review and merge a giant pull request that changes 1000 lines (and has lots of merge conflicts).  Read the issue description for our recommendation on how to do this project effectively.

[2018-02-20 19:31] SatyendraBanjare opened #8463 "Emoji-Picker Popup lost on window resize"
The Emoji Picker popup is lost on changing the window size of the browser even though the compose box and its contents remain same.

**To reproduce** : open emoji-picker while composing, Then try to resize the browser window. You should now be able to see that the popup is lost.

![gif](https://user-images.githubusercontent.com/24868887/36444818-5452ac46-16a2-11e8-8d55-04fec609cbde.gif)

[2018-02-20 20:26] SatyendraBanjare opened #8465 "Allow Selecting Multiple Emojis"
The current message composing experience allows us to add emojis from the emoji picker popup menu. However the popup disappears if user has added one emoji. Now if a user wants to add emoji immediately, without beginning writing again, he needs to open the emoji picker again.

This emoji-picking experience needs to be changed  so that emoji picker popup disappears only if user starts creating text

[2018-02-20 22:03] timabbott opened #8466 "Upgrade pika to 0.11.2 (addressing exceptions)"
Here's some sample errors from our loggers:

[code]

It seems possible the issue is just another version of the logging issue with `pika` being super chatty, but further investigation is required.

https://pika.readthedocs.io/en/0.11.2/version_history.html is a pretty short changelog and might be helpful when investigating.

[2018-02-20 22:03] timabbott commented on #8466
Assigning @gnprice as the person who did the last pika logging investigation.

[2018-02-20 22:25] gnprice commented on #8466
Cool, thanks for the report/log.

First quick thought: this looks like a lot more closed connections and reconnects than should be normal -- chatty logs or no. Also, the "Failed to send to rabbitmq, trying to reconnect" message is from our own code; I added or modified that message (forget which.)

The other two recurring lines look like noise we should suppress, since they're redundant with our r

[2018-02-21 00:53] timabbott commented on #8465
Just to clarify: Are you thinking in compose or also for emoji reactions?

I don't think this is likely to be something we change by default; the much more common case of picking an emoji and wanting the picker gone is more important.

I can imagine something like shift+click leaving the picker open when clicking an emoji to have it added being a reasonable way to support that.

[2018-02-21 00:54] timabbott commented on #8463
This is sorta intentional, but mostly because it's a pain to preserve the picker when the context around which it was popped changes (e.g. the parameters used to size it).  I'm going to close this as wontfix, in that I don't think this is going to have a good effort/value tradeoff to try to change this.

[2018-02-21 00:54] #8463 closed

[2018-02-21 05:07] amanagr commented on #2168
@mariobehling thanks for the guidance. I will take this up. @zulipbot claim. :)

[2018-02-21 05:28] timabbott commented on #7455
I've confirmed that this was fixed some time ago (just tried to reproduce).

[2018-02-21 05:28] #7455 closed

[2018-02-21 05:31] timabbott commented on #7593
This is a likely subtle bug.  The core code is in `static/js/compose_fade.js`, and I suspect what's going on is that it's a buggy interaction with `message_list_view.js` re-inserting the top message group into the DOM (when appending content above it).  Probably not a high priority to fix (lots of work with rare condition).

[2018-02-21 05:37] timabbott commented on #8381
@hackerkid @zulipbot FYI, dependencies projects should get the "area: dependencies" label :)

[2018-02-21 05:44] timabbott commented on #7748
@hackerkid ideally, we'd run the production suite on both eventually.  I'd start with just getting one running, either one.

[2018-02-21 05:45] timabbott commented on #7492
This is easily testable in development by sending to some topics with random long names (and maybe some PMs/group PMs), and then using `./manage.py mark_all_messages_unread` in the development shell to ensure you have some unread messages.

[2018-02-21 05:49] timabbott commented on #5599
For reproducing this, I think all one needs to do is load Zulip and then `pkill -f runtornado`, and then click around in the web UI.  @shubhamdhama are you interested in working on this?

[2018-02-21 05:50] timabbott commented on #7367
@eeshangarg @aero31aero this is done at this point, right?  Closing; if there's things I missed, we probably want a new issue anyway.

[2018-02-21 05:50] #7367 closed

[2018-02-21 05:53] timabbott commented on #1353
@eeshangarg this might be good to add to your list.

[2018-02-21 05:54] timabbott commented on #245
I think this was fixed some time ago.

[2018-02-21 05:54] #245 closed

[2018-02-21 05:56] timabbott commented on #4590
There's some good work on this in #8370.  Closing this as effectively a duplicate of #198.

[2018-02-21 05:56] #4590 closed

[2018-02-21 05:59] timabbott commented on #7190
I think based on this seeming to be a Gravatar-side caching issue, there's probably nothing we can do to address this.

[2018-02-21 05:59] #7190 closed

[2018-02-21 05:59] timabbott commented on #3710
@hackerkid is this issue still useful, given e.g. #6731?  I know some of these things have happened.

[2018-02-21 06:03] timabbott commented on #8025
@PentaHiggs  this might be a good issue for you to look at.  I think I'd be pretty happy with a solution that just avoids triggering the normal mention behavior for quoted-self-mentions inside quoted blocks.

[2018-02-21 06:07] timabbott commented on #7852
The root cause of this is probably something special about that stream's content (e.g. a lot of large images).  Since we haven't gotten many similar reports of narrowing perf problems (and that profile has some weird stuff in it that could be a browser extension), I'm going to close this as not likely to be worked on.

@Kiy4h if you can reproduce this reliably, that might be something we can try t

[2018-02-21 06:07] #7852 closed

[2018-02-21 06:09] timabbott commented on #7443
Closing, given #8399.  If you feel there's something left here @Be-ing, feel free to open another issue.

[2018-02-21 06:09] #7443 closed

[2018-02-21 06:10] timabbott commented on #7226
This was addressed by our now requiring the more formal, typeahead-generated `@**all**` to generate a mention.  I suspect that's enough of a change to make this no longer come up.

[2018-02-21 06:10] #7226 closed

[2018-02-21 06:26] shubhamdhama commented on #5599
Sure, I will fix this after exams(24), claiming this for now @zulipbot claim

[2018-02-21 06:36] #8249 closed

[2018-02-21 06:36] timabbott commented on #7561
@umairwaheed can you see whether this proposed solution works?

[2018-02-21 07:19] eeshangarg commented on #7367
Yep, this is done! :)

On Wed, Feb 21, 2018 at 2:20 AM, Tim Abbott <notifications@github.com>
wrote:

[2018-02-21 08:25] umairwaheed commented on #7970
OK, I have submitted a PR. Shouldn't we mark 'Plain text' instead of 'text'? 'text' is not a user-facing.

[2018-02-21 09:56] aedorado opened #8470 "user docs: Fix double scrollbar on navigation on /help."
2 scrollbars are appearing on the left navbar when screen size is less on `/help`.

Self-explanatory from the gif below:
![help-page-bug](https://user-images.githubusercontent.com/6378532/36418850-23a408de-1656-11e8-9f0d-1eebcc3a9744.gif)

[2018-02-21 12:06] akashnimare opened #8473 "design: Improve keyboard shortcut popup"
There is a room for design improvements in keyboard shortcut popup.

Currently, this is how it looks -

![image](https://user-images.githubusercontent.com/2263909/36477950-fa135078-1728-11e8-97b6-6764fea154be.png)

![image](https://user-images.githubusercontent.com/2263909/36477953-ffc2ddcc-1728-11e8-97c6-3d09859de846.png)

Few design inspirations -

![image](https://user-images.githubusercontent.

[2018-02-21 12:09] SatyendraBanjare commented on #8465
@timabbott

No, I think it should be implemented for only popup.

Lovely... I should be done this way. :smiley: :smiley:

[2018-02-21 12:15] SatyendraBanjare commented on #8463
Thank you for explaining :smile:

[2018-02-21 12:19] brannerchinese opened #8474 "Errors searching for characters in Unicode code planes above Latin Extended A"
The report below is for Firefox v.58.0 and Chrome v.63.0.3239.132, both on Mac OS 10.13.2.

1. On the Recurse Center instance I searched for the character `無` (U+7121), which I know is present in some posts. No hits are returned, and I get the error:

   over and over, and the circle around the Z logo turns constantly. But at these times I can search for regular ASCII text in another browser tab a

[2018-02-21 12:47] alirizwi commented on #3865
@zulipbot claim

[2018-02-21 14:41] akashnimare commented on #8255
@zulipbot claim.

[2018-02-21 16:44] #8470 closed

[2018-02-21 17:00] timabbott commented on #8474
@brannerchinese thanks for the report!  We've actually been investigating a complex issue that I think fits that description; we're hoping to test a potential solution soon.  I just deployed what we believe to be the fix on zulipchat.com; can you confirm whether it works now?

[2018-02-21 17:16] ts-dpb commented on #8474
無, lǎomóu, wěishàn, and fēiwén all work, including the position of the highlighting. The IPA symbols don't work:

 * https://recurse.zulipchat.com/#narrow/search/.CC.A5
 * https://recurse.zulipchat.com/#narrow/search/.CC.A6
 * https://recurse.zulipchat.com/#narrow/search/.CC.91

[2018-02-21 17:17] ts-dpb commented on #8474
Sorry — this is a subclassed instance of @brannerchinese replying to you.

[2018-02-21 17:18] ts-dpb commented on #8474
I realize the IPA request is pretty recondite.

[2018-02-21 17:25] timabbott commented on #8474
Great, I think that means the issue here with exceptions is resolved.  Yay!  I think the IPA symbols are their own issue; can you open a new issue (maybe including the actual appearance, so it's easy for folks working on it to paste it in).

@sampritipanda FYI -- this means your `tsearch_extras` fix works correctly in production! :tada:

[2018-02-21 17:25] #8474 closed

[2018-02-21 17:29] timabbott commented on #7970
Yep, sorry, my typo :)

[2018-02-21 17:37] ts-dpb commented on #8474
Will try that tonight. Can't easily produce these things on Linux. The UTF numbers are easy to find here:

[code]

[2018-02-21 19:41] swallitsch opened #8475 "Adding custom emoji succeeds but says it failed"
Sometimes adding a new custom emoji will get a "Failed" or "Failed: Realm emoji with this Realm and Name already exists." but the emoji gets successfully added, appears in the list and can be immediately used.

The following traceback is generated:

[code]

Our deployment is from this commit: 8530ed0b5e8ee8f62bceb5202ecf3e69c7bcf210

Possibly related to #6977 which we also run into.

[2018-02-21 19:55] HarshitOnGitHub commented on #8475
@swallitsch Sorry for the trouble, this a known issue and there is a WIP for fixing this which got stuck due to various reasons (#7832).

@timabbott Currently my exams are going on till 24th Feb. After that I will complete it on priority basis. Sorry for the trouble.

[2018-02-21 21:07] #8313 closed

[2018-02-21 21:11] rishig opened #8476 "auth: Preserve anchor during log in process."
Currently, if you click on a link like https://chat.zulip.org/#narrow/stream/137-feedback/subject/Delay.20loading.20messages/near/483275, and get to the login page, we don't preserve the anchor post login (so you need to go back and re-click the link after logging in).

I'm not sure we preserve the URL in a situation like https://chat.zulip.org/stats either.

This will become even more relevant af

[2018-02-21 21:13] timabbott commented on #8476
@adnrs96 is actually already working on this.

[2018-02-21 22:00] bradsimantel commented on #8110
It seems that the problem here isn't that we move the timestamp for follow-on messages to the left on smaller screens, but that the edited flag for follow-on messages, which is on the left for all screen sizes, conflicts with that placement.

What if we moved the location of the edited flag to the end of the message rather than fixing it to the left or the right?

[2018-02-21 22:05] bradsimantel commented on #7824
@zulipbot claim

[2018-02-21 22:19] bradsimantel commented on #7824
@zulipbot claim --force

[2018-02-22 06:34] umairwaheed commented on #7561
@zulipbot claim

Yep.

[2018-02-22 08:01] Kumar-Tarun commented on #8110
@bradsimantel yes you can do that, but still for consistency, I think that the time stamps for all messages, either first or follow-on should be on the same side (right) as is on normal screen sizes. It looks weird to have time-stamp first on the right and then on the left.

[2018-02-22 09:15] patrickELS opened #8482 "Confusion around /stats when looking at it on the first day"
Hi,

I just installed zulip chat, and I need to use the stats pages.

I don't see any updates on graph, and I have this messages :
WARN [] User from realm  attempted to access /stats, but the computed start time: 2018-01-18 10:05:42.749436+00:00 (creation time of realm) is later than the computed end time: None (last successful analytics update). Is the analytics cron job running?

Can you please

[2018-02-22 12:20] hackerkid opened #8483 "Invalid youtube preview when posting a link with domain same as that of the organization"
The server seems to enter into an infinite loop when trying this on dev environment.

In CZO
![screenshot from 2018-02-22 17-49-49](https://user-images.githubusercontent.com/7190633/36538279-d01a1d30-17f8-11e8-94c6-32b34ddf0bb7.png)
In Dev Env
![screenshot from 2018-02-22 17-49-32](https://user-images.githubusercontent.com/7190633/36538280-d051add6-17f8-11e8-8a23-a518a09c40d6.png)

[2018-02-22 12:21] bitfield opened #8484 "Embedded newlines in messages sent via API are ignored"
I'm sending a message like this:
[code]
But Zulip displays this literally as:
[code]
instead of the expected
[code]
Is this because the API is interpreting it as Markdown, and thus ignoring the `\n`? If so, how can I embed a newline in a message sent via the command line? For obvious reasons I can't send a literal newline.

[2018-02-22 12:27] bitfield commented on #8484
(Further information from Zulip discussion)

Aman Agrawal: @John Arundel , Try$"L\nA" in curl for getting new line characters.

John Arundel: Thanks, but -d 'content=$"Line 1\nLine 2"' has the same result. (Well, it actually outputs:

$"Line 1\nLine 2"
)

John Arundel: I've looked through the source code of a lot of Zulip bots, and none of them seem to handle \n characters in any special way.

Joh

[2018-02-22 12:41] amanagr commented on #8484
Relevant Discussion link:
https://chat.zulip.org/#narrow/stream/127-integrations/subject/Newlines.20in.20bot.20messages/near/512219
@zulipbot label "area: markdown"

[2018-02-22 12:51] hackerkid commented on #8483
@zulupbot label "area: markdown"

[2018-02-22 12:51] hackerkid commented on #8483
@zulipbot label "area: markdown"

[2018-02-22 13:03] FtoL opened #8485 "Error during zulip installation"
During  installing zulip on a Ubuntu 16.04 VM with 4GB RAM

i am getting following error:

Could sombody please help me what went wrong?

+ '[' 4037832 -lt 1900000 ']'
+ '[' -e /usr/bin/realpath ']'
+++ dirname /root/zulip/scripts/lib/install
++ realpath /root/zulip/scripts/lib/../..
+ ZULIP_PATH=/root/zulip
+ /root/zulip/scripts/lib/setup-apt-repo
+ SOURCES_FILE=/etc/apt/sources.list.d/zulip.list

[2018-02-22 13:34] timabbott commented on #8381
I improved how `NarrowBuilderTest` reports error output, so the exception is now this:

[code]

I think that code path is the `by_group_pm_with` code path.  What I don't understand is why SQLAlchemy is generating that weird query; could be a bug on their end?

[2018-02-22 13:38] #7970 closed

[2018-02-22 13:40] #8380 closed

[2018-02-22 13:46] timabbott commented on #8485
It looks like the server in question doesn't have access to the Internet to download Zulip's dependencies.

[2018-02-22 13:46] #8485 closed

[2018-02-22 13:47] timabbott commented on #8483
@hackerkid huh, can you figure out with print-debugging which code path this is following?  It seems pretty weird for this to be going through the youtube code path...

[2018-02-22 13:54] timabbott commented on #8484
The problem is not really markdown-processor related; it's an issue with encoding newlines using `curl` (the actual backend API expects and handles `\n` characters the way we want; what it doesn't do is translate a `\` character followed by an `n` character into a `\n` character, and that's what curl is sending).  Probably something for our API documentation to cover (we should probably be anti-re

[2018-02-22 13:57] timabbott commented on #8482
@patrickELS there's an hourly cron job, /etc/cron.d/update-analytics-counts, that should be generating these data.  So, if this was your first hour after installation, it might not have run yet (though that page's handling of this situation could be better).  Is that what's going on?

The other possibility is some weird timezone bug...

[2018-02-22 16:01] timabbott opened #8486 "certbot installs prompts before installing dependency packages"
We should figure out how to avoid this unnecessary interactive prompt.

[code]

[2018-02-22 17:10] patrickELS commented on #8482
Thank you.
It's part working now.
When I launch this command line it's working, I see graphs, but not on crontab.

But I've got only graph on "Messages sent over time"
All the others are still empty.
Even if I re-do this command line.

[2018-02-22 17:17] timabbott opened #8488 "Realm creation form doesn't properly handle long domain names"
On /create_realm with a moderately long hostname, It'd be better to shrink the text box than do this line-wrapping.

![image](https://user-images.githubusercontent.com/2746074/36553370-fee81a38-17b0-11e8-9efa-b1761afb4f6c.png)

[2018-02-22 20:58] timabbott commented on #8482
If this is a new server, you might need to wait a day -- some of the stats are daily totals, and so there might be 0 data points yet.

[2018-02-22 21:52] stijlist commented on #4271
Starring threads would also be useful for building institutional knowledge as communities grow.
The Recurse Zulip chat has years of history and it would be nice to be able to provide some signal to newcomers about great threads that have happened in the past and might be worth reading.

Being able to star threads wouldn't get us all the way there but you could leverage this feature later.

Another

[2018-02-23 06:24] AasthaGupta commented on #8488
@zulipbot claim

[2018-02-23 08:26] gooca commented on #8277
Submitted a pull request.

[2018-02-23 08:58] amanagr commented on #2168
@timabbott I think we can close this issue since https://github.com/zulip/python-zulip-api/pull/327 has been merged.

[2018-02-23 09:12] patrickELS commented on #8482
You're right.
It's working as you said.

Thank you @timabbott

[2018-02-23 09:34] brannerchinese opened #8492 "Enable searching for Unicode phonetic and diacritic characters in isolation"
Zulip's search functionality doesn't seem to be able to find single characters from the several Unicode Phonetic Extensions and Combining Diacritical Marks code planes, if they occur in connected transcription in a message. An arcane request? (User bowed deeply.) Perhaps, but this is a real life use-case that would expand Zulip's utility for people working in philology and linguistics. There are t

[2018-02-23 09:49] brannerchinese opened #8493 "Enable full regex functionality in the search field"
Zulip currently seems to use fuzzy search. If I search for "retreat", I get hits including `treat`, `treated`, `retreating`, etc.

That's fine, but it would be useful to be able to search more exactly when you want to. In fact, it would be very useful to have full regex functionality in the search field.

Imagine yourself looking for a message containing either `retreating` or `retreats` but not o

[2018-02-23 10:06] kurianbenoy opened #8494 "Bug on documentation of Zulip Advanced installation manual"
For installing postgres  pgrongo module, the manual does not contain the latest installation guideline for Ubuntus version from 16.04 onwards

Do check this link for information:
https://pgroonga.github.io/install/ubuntu.html

[2018-02-23 11:06] aedorado opened #8495 "user docs: Fix unwanted scrollbar on navigation on /help."
You can get a scrollbar when the sidebar isn't shown in the mobile view.

![help-page-bug](https://user-images.githubusercontent.com/6378532/36591328-abbf3910-18b7-11e8-8c24-bf3fb15353d3.gif)

[2018-02-23 11:39] akashnimare commented on #8432
@zulipbot abandon.

[2018-02-23 16:17] timabbott commented on #8482
@rishig I think this is probably a sign that we need a more reasonable first-day experience for this page (just showing "no data yet" or having a single data point for each stat that's 0 would be fine).

[2018-02-23 16:17] timabbott commented on #2168
Agreed, closed, thanks @amanagr!  @mariobehling FYI :)

[2018-02-23 16:17] #2168 closed

[2018-02-23 16:21] #8175 closed

[2018-02-23 16:55] rishig commented on #8482
yeah, can probably be closed in favor of #3865.
https://chat.zulip.org/#narrow/stream/9-issues/topic/.233865.20.2Fstats.20page.20for.20new.20users is also relevant.

Thanks for reporting @patrickELS!

[2018-02-23 17:20] timabbott commented on #8482
I guess #3865 has a plan that's a lot of work and would make things quite nice; I think potentially splitting out the just "not enough data" warning from that would be a good quick thing to fix.

[2018-02-23 17:37] rishig commented on #8482
yup, that was clarified in the czo discussion, though probably should have been added to the issue as well (will do so now). The V1 is overlaying "Not enough data; please check back in a couple of days."

[2018-02-23 17:41] rishig commented on #3865
Copying discussion from chat.zulip.org: I think a good V1 here is
* leaving the structure of the page intact (e.g. with all the boxes for the plots)
* adding a full page overlay with medium opacity
* Adding text on top of that that says
[code]

Thanks!

[2018-02-23 20:04] timabbott commented on #8494
@kurianbenoy are you saying we're missing a link to https://pgroonga.github.io/install/ubuntu.html
 somewhere on our docs?  If so, where?

[2018-02-23 20:06] timabbott commented on #8493
The way that we do things today involves using the postgres built-in full-text search system, with its built-in stemming system.  I'm not sure there's a performant way we could do full regexs on top of that model (since obviously there's no way to get a real database index).

So, I think regexs is likely wontfix; but OR is possible as is something like using "retreating" to disable stemming.  Migh

[2018-02-23 20:09] brannerchinese commented on #8493
How about wildcards and included/excluded character sets?

[2018-02-23 22:08] brainwane commented on #5803
I want search in `help/` for myself and for reassurance that if I point someone else there, they'll be able to search for the specific help topic they need. It saves me time, compared to taking the 30-60 seconds to look for and deep-link to the specific help they need.

Also, the word "Index" in the upper right made me think it would be an index (as in, a list of topics), not just the front page.

[2018-02-23 22:21] jevad opened #8499 "KaTeX problem and fix"
I installed Zulip 1.7.1 per the instructions on Readthedocs ( https://zulip.readthedocs.io/en/latest/production/index.html ).

LaTeX support was not working.

I searched for katex.js and katex.min.js in /home/zulip/deployments/... and /home/zulip/prod-static/... and could not find either JS library.

I was able to restore LaTeX support by downloading the katex 0.9.0 release zip and copying the kat

[2018-02-24 07:13] kurianbenoy commented on #8494
@timabbott. Its in this documentation:
  http://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-ubuntu

I am just trying to point out that in latest ubuntu version after 16.04 . The command is
Others:
% sudo apt-get install -y -V postgresql-9.6-pgroonga

So you can either add this to documentation or link pointing on how to install pgroonga on Ubuntu (https://

[2018-02-24 08:12] abhigyank opened #8502 "organisation-settings: Add loading indicator for users search list"
Go to Organisation settings -> Users :
Current behavior : It shows "No users match your current filter" , until the complete lists load, which can be a bit confusing.
Expected Behavior: Add loading indicator to show list is being loaded.

Three states needed:
- loading
- no users match
- normal case of >= 1 users .

Thread for this issue discussion is [here](https://chat.zulip.org/#narrow/stream/9

[2018-02-24 11:36] Rishabh570 commented on #8353
@brainwane I'm on it, I've already opened a WIP PR #307 for it in `python-zulip-api`..

[2018-02-24 11:37] Rishabh570 commented on #8353
@zulipbot claim

[2018-02-24 12:50] nax3n commented on #5105
@zulipbot claim

[2018-02-24 15:56] timabbott commented on #8499
@jevad thanks for the report -- we fixed this problem in master, but we need to do a release with the fix.  The actual bug here is that KaTeX support worked if you'd upgraded from 1.6.x (because those created the files in question) but not if you install 1.7.x directly.

Thanks for posting with the workaround, since that will help other users on 1.7.x until we get a release out.  I'm closing this

[2018-02-24 15:56] #8499 closed

[2018-02-24 15:57] kurianbenoy commented on #5829
@zulipbot claim

[2018-02-24 16:12] #8277 closed

[2018-02-24 16:29] #8291 closed

[2018-02-24 18:55] alirizwi opened #8504 "Make "Your organization's description" text-box responsive."
Currently `Your organization's description` text-box in `Organization Settings/Organization profile` is not reponsive.
![iii](https://user-images.githubusercontent.com/23309502/36633729-82d226fc-19c0-11e8-9da2-f1674598c5ff.png)

[2018-02-24 18:56] alirizwi commented on #8504
@zulipbot label "area: settings UI"

[2018-02-24 19:36] nkmishra1997 commented on #4099
@zulipbot claim

[2018-02-24 21:29] timabbott commented on #8504
Hmm, yeah, this would be good to fix.

[2018-02-25 05:17] Shobitha-M commented on #8504
@zulipbot claim

[2018-02-25 05:19] abhigyank commented on #8504
@zulipbot claim.

[2018-02-25 05:57] YJDave commented on #8502
@zulipbot claim

[2018-02-25 08:10] SatyendraBanjare commented on #7538
This Issue isn't that easy as it seems for me atleast now. So I am abandoning this for now. For others who wish to work on this might find this helpful. [link](https://chat.zulip.org/#narrow/stream/49-development-help/subject/link.20to.20conversation.20with.20quote/near/515282)

@zulipbot abandon

[2018-02-25 08:22] novokrest commented on #7217
@zulipbot claim

[2018-02-25 11:37] florianjuengermann commented on #8432
@zulipbot claim.

[2018-02-25 13:01] shubhamdhama commented on #3775
@timabbott Is this issue still priority/relevant? If so, I'll start a thread in #backend about its discussion.

[2018-02-25 17:10] timabbott commented on #3775
I think it's not a super high priority, so I'd recommend working on other things before this.

[2018-02-25 17:59] rsarky commented on #8492
@zulipbot claim

[2018-02-25 18:04] DamodarNayak9398 commented on #8381
@zulipbot claim

[2018-02-25 18:50] sinwar commented on #8381
@DamodarNayak9398 you have deleted the comment. Are you still working on this issue?

[2018-02-25 19:48] adnrs96 commented on #8403
Just to catch people up here I am going to cross post what I told Tim in PM.
I tried out Yuglify and it turns out even it does not preserve the spaces around the '+' operator in the calc.
Though it is faster in compressing the files.

Timing for the part which will use compressor:

`yuglify` new
[code]
`YUICompressor` old
[code]

We might want to start looking into using web pack for serving CSS b

[2018-02-25 21:30] eirinikos commented on #8420
I don't currently have the time to work on this issue, so I'm throwing this back into the sea for someone else to work on! 🌊

[2018-02-26 00:18] cakleimeier commented on #2945
@zulipbot Still working on this

[2018-02-26 04:46] umairwaheed commented on #7114
@zulipbot claim

[2018-02-26 05:52] novokrest commented on #5757
@zulipbot claim

[2018-02-26 05:58] SatyendraBanjare opened #8517 "Compose : Trim extra spaces while rendering inline code"
The in-line code inserted using  two `  must also be rendered with trimming extra spaces from the beginning and end of content as it happens with the case of quoting something or adding code.

for example... this
![screenshot-2018-2-26 home - zulip dev - zulip 4](https://user-images.githubusercontent.com/24868887/36655282-ba4b052c-1ae7-11e8-850c-245359556a39.png)
is rendered as
![screenshot-2018-2

[2018-02-26 06:12] umairwaheed commented on #1186
Once the topic is created, I think anyone who will send message to this topic will get subscribed to it as well?

[2018-02-26 06:26] shubhamdhama commented on #5757
@novokrest Thanks for your interest, but we recommend working one issue for beginners, I'm taking this issue since I've experience in this area.
@zulipbot claim

[2018-02-26 08:12] umairwaheed commented on #1760
Waiting for a review on #7688.

[2018-02-26 09:25] shubham-padia commented on #8124
Yes, i have my exams going on, I'll continue this in after 2-3 days

[2018-02-26 09:57] shubhamdhama commented on #8517
@SatyendraBanjare we have intentionally allowed white spaces in code(``) elements. Any discussion about this at chat.zulip.org?
@rishig can confirm this.

[2018-02-26 12:30] sinwar commented on #8381
@zulipbot claim.

[2018-02-26 13:04] sinwar commented on #8381
in `by_group_pm_with` this code -
`cond = column("recipient_id").in_(recipient_ids)` should return
`recipient_id != recipient_id` but it's returning `1 != 1` when we upgrade.

[2018-02-26 16:06] shubhamdhama commented on #7212
@zulipbot claim

[2018-02-26 16:59] Shobitha-M commented on #8517
@zulipbot claim

[2018-02-26 17:08] SatyendraBanjare commented on #8517
@shubhamdhama @Shobitha-M  very very sorry, i looked into this now only (my bad :cry: :cry: ) and on asking @hackerkid , he says its kind of intentional.

Next time I will be more careful with addressing issues.

[2018-02-26 17:15] SatyendraBanjare commented on #8517
@shubhamdhama  @Shobitha-M  closing this. Very very sorry for inconvenience.

[2018-02-26 17:15] #8517 closed

[2018-02-26 17:27] sinwar commented on #8381
@timabbott it's not a bug. In the [changelog](http://docs.sqlalchemy.org/en/latest/changelog/changelog_12.html) of sqlalchemy -
`
The longstanding behavior of the ColumnOperators.in_() and ColumnOperators.notin_() operators emitting a warning when the right-hand condition is an empty sequence has been revised; a simple “static” expression of “1 != 1” or “1 = 1” is now rendered by default, rather t

[2018-02-26 19:37] AnshumanPati commented on #5802
@zulipbot abandon

[2018-02-26 19:42] AnshumanPati commented on #5802
@zulipbot claim

[2018-02-26 20:07] SatyendraBanjare commented on #7538
@zulipbot claim

[2018-02-26 23:16] timabbott commented on #8381
@sinwar makes sense.  I think we should potentially just update the test; while we're at it, I'll also take care of making that test better (since it's currently semi-useless in terms of testing what we care about).

[2018-02-27 02:15] timabbott opened #8523 "Fix data model for user groups descriptions around field length"
I saw this exception in production:

[code]

I think (A) if we have a limit on size, a limit in the UI layer is important (e.g. a limit to the text field size), and one only at the database level is crazy and (2) I'm not sure a 100 character limit makes sense.  I think we should probably just switch the database table to TextField so that we have some freedom to manage this just at the UI and Back

[2018-02-27 04:47] shubham-padia commented on #8411
Yes, currently busy with exams, will continue in a day or two

[2018-02-27 05:16] umairwaheed commented on #7114
@zulipbot claim

Currently #1191 is on hold.

[2018-02-27 05:33] lonerz commented on #8420
@zulipbot claim

[2018-02-27 05:33] #8381 closed

[2018-02-27 08:16] hackerkid commented on #8523
@zulipbot claim

[2018-02-27 08:31] SatyendraBanjare commented on #8414
@abhigyank  just as thought the same is happening when you try to edit stream name also. I think it'll be an easy fix... Working on this.

[2018-02-27 08:55] RohitLearner opened #8527 "Replacement of single testimony with testimonial slider"
If we can suggest some design changes on the accompanying page
https://chat.zulip.org/hello/
On the off chance that we can; at that point
This page has just a single testimony. What about utilizing testimonial slider of three/four CEO to give the dependable effect which is executed in the vast majority of the site's landing page?

![testimony](https://user-images.githubusercontent.com/24774964/367

[2018-02-27 12:16] Shobitha-M commented on #8473
@zulipbot claim

[2018-02-27 12:23] showell commented on #4874
We now have the "p" key.  It's possible we may change this to have the "n" key cycle through PMs as well as streams, but my hunch is that people will like having two separate keys here.

[2018-02-27 14:23] rheaparekh commented on #8225
@zulipbot claim

[2018-02-27 15:06] sinwar commented on #7836
@zulipbot claim.

[2018-02-27 16:23] timabbott commented on #8527
@RohitLearner we have plenty of folks happy to provide quotes, so I think it would be to build a widget where we can add more testimonials with a slider design.  Can you prototype something where it's easy to just put in the text of the quotes?

[2018-02-27 17:04] #7212 closed

[2018-02-27 17:52] shreyanshdwivedi commented on #8379
@aayushagra are you still working on this? If not, I will like to take this up

[2018-02-27 18:54] aayushagra commented on #8379
@shreyanshdwivedi The issue already has a pending PR

[2018-02-27 19:46] hackerkid commented on #2955
@zulipbot claim

[2018-02-27 20:48] shubhamdhama commented on #8414
@SatyendraBanjare if you're working on this you can claim this to prevent someone else claiming this(this is happening frequently).

[2018-02-27 22:11] SatyendraBanjare commented on #5794
Similar to: #6146

[2018-02-27 23:02] Balaji2198 commented on #1561
Just done with my mid-semester exams. Will start working on this now.
@zulipbot  claim

[2018-02-27 23:10] saulpw commented on #249
For future reference: zulip/python-zulip-api#106

[2018-02-27 23:12] Balaji2198 commented on #5913
@rishig  Please look into the commits I mentioned in the last comment when you get a time.  Would like to know your thoughts on this?

[2018-02-27 23:27] sampritipanda commented on #8492
The issue here is with tsearch (postgres' inbuilt text search) which doesn't allow you to search for a part of the word. It treats each pair as a word and the combining characters as part of the word, which is why you can search for the pair but not the specific character. If you send a message `m̥o̦n̑` without spaces, then searching for a combined pair (`m̥`) will not return anything. This issue

[2018-02-28 01:13] Balaji2198 commented on #1561
After researching about all the classes found that few of them are still valid classes in the code base. Listing them down with the relevant file for reference

[code]

[2018-02-28 03:13] vikasvmads commented on #8523
@zulipbot claim

[2018-02-28 06:29] SatyendraBanjare commented on #3297
same as #8463.... @timabbott  please see and if required close i  too... :smile:

[2018-02-28 09:39] shubhamdhama commented on #5794
@SatyendraBanjare Can you try reproducing this? I can't reproduce this locally, looks like this is fixed.

[2018-02-28 12:43] SatyendraBanjare commented on #7223
@showell  isn't this same as #7209...?

[2018-02-28 12:46] showell commented on #7223
They're related but slightly different.

[2018-02-28 12:47] shubhamdhama commented on #3775
@zulipbot abandon, abandoning this for now, if someone in future wants to take this, make sure to discuss this properly first.

[2018-02-28 16:49] Rishabh570 commented on #5868
Incoming webhook part of statuspage.io is done...

[2018-02-28 17:05] abhigyank commented on #8504
@zulipbot abandon

[2018-02-28 17:08] Shobitha-M commented on #8504
@zulipbot claim

[2018-02-28 17:26] Shobitha-M commented on #8473
@zulipbot abandon

[2018-02-28 17:49] hackerkid commented on #8222
@zulipbot claim

PR is waiting for a review #8293

[2018-02-28 17:50] hackerkid commented on #8222
@zulipbot claim

[2018-02-28 17:50] hackerkid commented on #8222
PR is waiting for a review #8293

[2018-02-28 18:08] Shobitha-M commented on #8504
@zulipbot claim

[2018-02-28 18:23] SatyendraBanjare commented on #8217
@darthgera123 are you still working on this...?? If not I would like to take this up.

[2018-02-28 20:40] #8000 closed

[2018-02-28 20:40] timabbott opened #8538 "Document new setting to control whether Zulip sends welcome emails"
As a follow-up to #8000 / #8437, we should document this setting.  I think the main thing we need is an article in the /help/ tree that just makes it easy to learn about (1) the welcome emails that Zulip sends (I guess the coolest version would have a link to display the content, but that idea is probably more work than it's worth) and this setting to control them.

We might also want a link from

[2018-02-28 20:53] #7193 closed

[2018-02-28 21:07] shubham-padia commented on #8411
@timabbott The topics data structure in `topic_data.js` holds the message id of the latest message. If somebody has posted 4 new messages in a topic and the latest message gets deleted, the topic will still be removed from recent topics, should it or should it not ?
If it should not, we can either make an API call on each message delete or keep the last X no. of messages of each topic in the topic

[2018-02-28 21:23] shubham-padia commented on #8411
That cleared the confusion. Thanks :)

[2018-02-28 21:55] SatyendraBanjare commented on #8217
@zulipbot  claim --force

[2018-03-01 04:59] Rishabh570 commented on #5639
@zulipbot abandon

[2018-03-01 06:30] svatsa159 commented on #8432
I think @RohitLearner's words are true. We might use such words as 'taking forty winks', 'dormant', etc.

[2018-03-01 08:07] Shivamgera commented on #7549
@rishig Does this issue has been resolved or we need more work?

[2018-03-01 08:08] vrongmeal commented on #5384
@zulipbot claim

[2018-03-01 08:09] Anupam-dagar commented on #7549
Hi @Shivamgera, the PR is almost complete with the review process :smile:

[2018-03-01 08:15] vrongmeal commented on #8473
@zulipbot claim

[2018-03-01 08:20] vrongmeal commented on #8473
@akashnimare I want to solve this issue, @Shobitha-M wants to abandon it, I want to take this up

[2018-03-01 13:41] ZoeShaw101 commented on #5947
@zulipbot claim

[2018-03-01 14:59] DhruvThakker commented on #4891
@zulipbot claim

[2018-03-01 15:03] DhruvThakker commented on #3361
Is this issue still active

[2018-03-01 15:11] SridharPandian commented on #6018
Is this issue taken currently?

[2018-03-01 15:18] SridharPandian commented on #3534
@zulipbot Claim

[2018-03-01 15:30] hackerkid commented on #5947
@ZoeShaw101 Looks like there is already a pull request opened for this issue.

[2018-03-01 15:55] timabbott commented on #5868
Yeah, I'm going to close this as complete; the incoming webhook is much of the value here.

[2018-03-01 15:55] #5868 closed

[2018-03-01 16:00] Anupam-dagar commented on #8014
@zulipbot creating a PR

[2018-03-01 16:00] VishalCR7 commented on #6018
no

[2018-03-01 16:02] SridharPandian commented on #6018
@zulipbot claim
I would like to work on it

[2018-03-01 16:03] timabbott commented on #5286
This was fixed a while ago.

[2018-03-01 16:03] #5286 closed

[2018-03-01 16:18] timabbott opened #8544 "Scrolling in the /api documentation is messed up"
Try using `spacebar` to scroll down in http://127.0.0.1:9991/api/integration-guide in Chrome on Linux, and it's really choppy and hardly moves.  I'm guessing somehow we have the settings configured wrong for perfectScrollbar, but could be something else.

[2018-03-01 18:38] Rishabh570 commented on #5639
Working...Currently stuck on something.

[2018-03-01 18:39] Rishabh570 commented on #6990
PR #8067 for this issue is open.Work done, waiting for review and merge.

[2018-03-01 18:42] timabbott commented on #8473
@vrongmeal I manually un-assigned @Shobitha-M -- not sure why zulipbot didn't do it properly.

@synicalsyntax any ideas?

[2018-03-01 18:43] timabbott commented on #8473
Oh, @synicalsyntax I see why zulipbot didn't do the right thing: the VM zulipbot was running on rebooted.

@vrongmeal you should be able to claim now.

[2018-03-01 18:48] vrongmeal commented on #8473
@zulipbot claim

[2018-03-01 18:49] vrongmeal commented on #8473
@zulipbot claim --force

[2018-03-01 18:54] vrongmeal commented on #8473
@timabbott
Hey, I am frankly new to software development. I have fine knowledge of
HTML/CSS and am fluent in JavaScript too. I just wanted some guidelines to
start contributing to open source...
Rest, this is a keyboard shortcut pop up, and I have designs in my mind, I
can give you a brief idea by tomorrow, I'll try to match it with the
current UI so that it doesn't look odd.

On Fri, Mar 2, 2018

[2018-03-01 19:04] timabbott opened #8546 "Problems uploading certain image files as avatars"
I suspect that this is a bug that will be chased down to our not having installed some library that is needed for PIL to handle these types of PNGs.  I'd start working on this by reading the PIL documentation for what files it can handle.  I don't have a sample actual file handy, unfortunately.

I think there's 2 things we need to do here:
(1) Make the error handling for this case a nice error mes

[2018-03-01 19:30] #8523 closed

[2018-03-01 19:44] timabbott commented on #3361
I think what we should do with this is just write a short doc that says roughly this:
"""
Zulip's web and mobile apps use the same API that we publish in our API documentation, so writing an a terminal client for Zulip that is just as great as the webapp is possible.  At present, there are a few alpha-quality implementations of a terminal client for Zulip:
* [zulip-terminal](https://github.com/zul

[2018-03-01 20:00] rishig opened #8547 "compose: Reply button should be inactive when there are no messages."
The reply button here
![image](https://user-images.githubusercontent.com/890911/36866658-c5cd8200-1d47-11e8-97c5-7b855feba6f0.png)

should be inactive when you go to a link like https://chat.zulip.org/#narrow/stream/doesntexist.

On hover, it can say: "There are no messages to reply to."

[2018-03-01 20:06] #8246 closed

[2018-03-01 20:36] rishig opened #8548 "message edit: Cancel button is red."
It should use our standard styling for cancel buttons, which is closer to black. Currently it's
![image](https://user-images.githubusercontent.com/890911/36868433-27a9e72a-1d4d-11e8-9e6c-685ec6c9d9aa.png)

[2018-03-01 21:29] #8403 closed

[2018-03-01 22:02] timabbott opened #8550 "Improve error message for mentioning a user who isn't subscribed"
This error message:

![image](https://user-images.githubusercontent.com/2746074/36872127-0d95fdae-1d59-11e8-8e4d-7f8797dbf220.png)

Should make clear that the target user won't be notified if you mention them in a place they are not subscribed, since that's a key piece of information that's missing here.

(We could also open an issue for changing that behavior if we desired, but fixing this confus

[2018-03-01 22:46] #8279 closed

[2018-03-02 04:23] #8124 closed

[2018-03-02 04:57] timabbott commented on #3534
@SridharPandian hopefully you saw my notes on this from #7183.  If you're interested in working on this further, I think this could be better integrated with the existing documentation for link previews (I feel like maybe some tips linking back and forth would be valuable).

[2018-03-02 05:11] ihsavru commented on #8550
@zulipbot  claim

[2018-03-02 13:15] utkarsh23 commented on #8548
@zulipbot claim

[2018-03-02 15:16] shubham-padia commented on #8546
@zulipbot claim

[2018-03-02 17:35] #8420 closed

[2018-03-02 17:39] #8548 closed

[2018-03-02 18:15] rishig commented on #8217
I think this feature is a good idea, but will take some thinking about the design before we can implement it.
For instance, probably we'd want to do this after adding a feature that allows you to restart the tutorial from the gear menu.

[2018-03-02 19:42] #1353 closed

[2018-03-02 20:28] shreyanshdwivedi commented on #8547
@zulipbot claim
I have worked on reply button

[2018-03-02 20:58] #8546 closed

[2018-03-02 22:34] gnprice commented on #5611
Yeah, with the `test-install` tool I made a few weeks ago, it's now easy enough to make a fresh install that having a persistent test install somewhere doesn't seem necessary. Closing.

[2018-03-02 22:34] #5611 closed

[2018-03-03 00:36] Yoshi8765 opened #8562 "Support for Youtube playlist embeds"
Some youtube playlist urls are not recognized by zulip for embedding.

Works:
https://www.youtube.com/watch?v=OPf0YbXqDm0&list=PLMC9KNkIncKtPzgY-5rmhvj7fax8fdxoj

Doesn't work:
https://www.youtube.com/playlist?list=PL8dPuuaLjXtNlUrzyH5r6jN9ulIgZBpdo
https://youtu.be/fJXwerDHg18?list=PL30nYyn47z1Clxr8tSpbRagFu66nrk32x

[2018-03-03 03:11] #7098 closed

[2018-03-03 11:20] abhigyank opened #8564 "onboarding: Add an option to restart the intro tutorial."
We should have an option to restart the intro tutorial. I think it can go into the gear menu that is on the top right as an option.

[2018-03-03 12:35] shreyanshdwivedi commented on #8547
@rishig I have worked on it. Please look gif attached and review if this is the change you wanted.
![ezgif com-video-to-gif 9](https://user-images.githubusercontent.com/25428397/36934316-824a9f1e-1f0d-11e8-8b5e-14970fa3dede.gif)

[2018-03-03 17:03] shubhamdhama commented on #3530
@zulipbot claim I would like to discuss this first.

[2018-03-03 19:52] synicalsyntax commented on #8088
@timabbott The primary reason I added the button behavior was so that the group would only be saved if the user wanted to finalize changes. Constantly making queries to save the user group changes isn't optimal, especially in situations like saving the user group name/description; it wouldn't be a great idea to save the changes on every keypress. That's why I still think the button is still essent

[2018-03-03 21:32] timabbott commented on #8088
I think a save button makes sense for the name/description; where it feels weird to me is for the list of users.

[2018-03-03 23:23] synicalsyntax commented on #8088
@timabbott I still think the same logic applies to it, even though saving on member addition/deletion won't happen as much as saving on keypress. I could look into auto-saving if you're sure about this behavior, though.

[2018-03-03 23:33] timabbott commented on #8088
@rishig I'd like to get your quick thoughts, but to me if feels like you really do want the thing to save as soon as you hit enter to add someone, not wait for you to hit a check button (I at least a few times almost forgot to do so thinking I was done).

[2018-03-04 00:03] timabbott opened #8569 "@ hotkey doesn't add a space properly"
If you use the `@` hotkey when you have a message focused, it adds a mention, but is missing a trailing ` `.

@shubhamdhama I suspect this is a regression in your recent work to use `insert_syntax_and_focus`

[2018-03-04 01:40] Balaji2198 commented on #8564
@abhigyank  I think we have a similar issue #6050. But that tells the option to go in the settings menu. @timabbott can confirm this.

[2018-03-04 02:25] rishig opened #8570 "compose: "Sending .." appears to the left of "Drafts" instead of to the right."
![image](https://user-images.githubusercontent.com/890911/36941437-0260052a-1f10-11e8-8588-95e005239adf.png)

Not sure how to reproduce it normally, but you can remove the `display: none` from `#sending-indicator` to see it.

[2018-03-04 05:24] shubhamdhama commented on #8569
@timabbott This is intended, in fact, this is true for all insertion, the logic here is that if the caret is at a position after which if there is a text then add a space after the inserted text(in case not present there). And since when we use hotkey it opens new compose box and so is above logic.
This may clear this:
https://github.com/zulip/zulip/blob/7f144b9b955902c08590737d6f5fa226929afb79/st

[2018-03-04 06:40] abhigyank commented on #8570
@zulipbot claim

[2018-03-04 06:58] Yoshi8765 commented on #8562
I would like to also add that youtube's shortened versions do not get recognized by zulip.
Ex:
https://youtu.be/gjDrEdEzfQc vs
https://www.youtube.com/watch?v=gjDrEdEzfQc&feature=youtu.be

[2018-03-04 06:59] Yoshi8765 opened #8571 "Soundcloud support"
Can we get embed support for soundcloud.com tracks and playlists?

[2018-03-04 07:26] rishig commented on #8088
yeah, we're generally moving to auto-save with all our settings.
For name/description: I think saving after 250ms of inactivity (or whatever number we use for other text inputs) is reasonable.

For the list of users: one tricky thing is that we send notifs to users when they are added/removed from groups. I do agree though that the current situation will lead to mistakes.
Some ideas
* Save on memb

[2018-03-04 07:52] rishig commented on #8547
Do we have a deactivated button style that you could copy?

[2018-03-04 09:58] shubhamdhama commented on #8571
@zulipbot claim, This is very interesting feature request as there are many services like SoundCloud, Spotify whose support we can add to our bugdown, but this could increase the size of bugdown so I think we should maintain a library like we do for our webhook integrations.

[2018-03-04 10:58] shreyanshdwivedi commented on #8547
We have few disabled buttons in organisation settings, which look similar to the `Reply` button in my gif.
Please give it a look and suggest any change, if you need.
![screenshot from 2018-03-04 16-27-06](https://user-images.githubusercontent.com/25428397/36944786-0dd56968-1fc9-11e8-8c4a-28e3ac6ff882.png)

[2018-03-04 13:25] kurianbenoy commented on #5829
Hi @rishig  , CAN you suggest  the strategy on implementing it?

[2018-03-04 13:45] ZoeShaw101 commented on #5110
@zulipbot claim

[2018-03-04 14:07] AasthaGupta commented on #740
@rishig @timabbott I tested this. If as an admin, you search for a private stream that you are not a part of or a non-existent stream then, it shows the error message as shown in the screenshot below.
![screenshot](https://user-images.githubusercontent.com/15193262/36946464-6c12e7a2-1fe3-11e8-8c96-86dac51ce7da.png)

[2018-03-04 14:08] ZoeShaw101 commented on #5110
@timabbott  Hi,I'm new to zulip,  and a bit confused about

Can you explain it more clearly, thanks a lot!

[2018-03-04 14:13] AasthaGupta commented on #457
@zulipbot claim

[2018-03-04 14:17] shubhamdhama commented on #5110
@ZoeShaw101 This means we want to have modal warning user before proceeding to delete the message.
BTW before you proceed first you should make sure first is this still relevant or not because I guess https://github.com/zulip/zulip/commit/de67bf81fd463bc6d1802127adae704cf89bd187 should fix this.

[2018-03-04 16:02] rwbarton opened #8574 "Pygments patch for Lean 3 syntax highlighting"
The [Lean theorem prover](https://leanprover.github.io/) user community has [started using Zulip](https://leanprover.zulipchat.com/) and would like syntax highlighting for Lean code blocks, but the highlighting in pygments is for an earlier version of Lean with somewhat different syntax.

Unfortunately the pygments [repository](https://bitbucket.org/birkenfeld/pygments-main/commits/branch/default)

[2018-03-04 16:16] timabbott commented on #8569
Yeah, I think so -- if you insert a token at the end of a message, you want a space afterwards.

[2018-03-04 16:16] timabbott commented on #8564
Yeah, this is a duplicate of #6050, and indeed, that issue should have said "gear menu".  Updated.

[2018-03-04 16:16] #8564 closed

[2018-03-04 16:46] shubhamdhama commented on #8569
@zulipbot claim

[2018-03-04 17:17] roberthoenig opened #8575 "Automatically tag backend strings."
### Issue

Different types of strings are of different importance to be translated. In particular, error-strings (those returned by `json_error` and `JsonableError`) are less important than non-error strings. Currently, a translator in Transifex cannot easily differentiate between error and non-error strings, and therefore translates strings regardless of their importance.

### Solution

Transifex

[2018-03-04 17:53] timabbott opened #8576 "blueslip error handling: Fix incorrect z-index of browser error notices"
If you trigger a browser error in the Zulip webapp in development, we have this cool `blueslip.display_errors_on_screen` feature that will display the traceback to the developer in a super-visible fashion.

This doesn't work well in the settings pages, though, because the z-index of the alert places it below the settings page, so you don't see it until you close the settings.

The task here is to

[2018-03-04 18:01] timabbott opened #8577 "Exception with can_admin in real-time sync of bot data"
I saw this in production; don't have a clear reproducer.  I think it's worth something trying to play around with creating/editing bots in one browser with another browser open while looking for it, though.  See #8576 as a sidenote.

My guess is that when a user is changed to be the admin of a bot (and thus the bot enters that user's bot data), that user doesn't get an event telling the client tha

[2018-03-04 18:10] timabbott opened #8579 "Make test-js-with-node argument handling a bit smarter"
This has two major problems that keep coming up:
* It doesn't support passing a filename without the `.js` suffix, e.g. `test-js-with-node unread` tests everything, not just `unread.js`.
* It doesn't complain if you pass an invalid test file.

[2018-03-04 18:11] roberthoenig commented on #8577
@timabbott do you remember when this occurred? Not being able to set a property of an "undefined" bot reminds me of #8334.

[2018-03-04 18:17] timabbott commented on #8577
It was last seen in production ~3 days ago; I think it can't be #8334.  But the story I wrote above sounds plausible: for a non-admin user, if a bot is transferred to their ownership, their clients won't know about the bot's existence until they get the can_admin update.  We have to do some special code for the similar issue with private streams.

[2018-03-04 18:34] rishig commented on #740
Great. I think this issue is resolved, then. Ideally we would give a different error message here for the admin case, but probably not a big deal.

[2018-03-04 18:37] rishig commented on #5829
Thanks folks for picking this up, and sorry for the slow responses! I've removed the `good first issue` label, since I think it is probably a fairly tricky issue.

[2018-03-04 18:39] rishig commented on #8547
Interesting. Let's hold on this until we come up with a better style, then; the current deactivated style is too bold.

[2018-03-04 19:14] roberthoenig opened #8580 "Reorder "create bot UI" for embedded bots."
Currently, the "create bot UI" for embedded bots looks like this:

![image](https://user-images.githubusercontent.com/7950151/36949427-45b1fc6a-1fb6-11e8-8ce3-f61a5e1b17a4.png)

The "Bot" dropdown menu is the most important feature for embedded bots and should thus be displayed in the top (where "Full name" is right now).

[2018-03-04 20:45] lonerz commented on #8579
@zulipbot claim

Sent from mobile. Please excuse any typos.

On Sun, Mar 4, 2018, 10:10 AM zulipbot <notifications@github.com> wrote:

[2018-03-04 21:11] #8411 closed

[2018-03-04 21:17] #8569 closed

[2018-03-04 22:09] #740 closed

[2018-03-04 22:16] timabbott opened #8582 "Upgrade mypy to 0.570 and fix any mypy errors caused by it"
http://mypy-lang.blogspot.com/2018/03/mypy-0570-released.html

@neiljp want to take this one?

[2018-03-04 22:43] lonerz commented on #8562
@zulipbot claim

[2018-03-04 23:38] timabbott opened #8585 "Fix local echo marked.js implementation of emoticon translation"
The new emoticon translation implementation from bdb86f1b5ed745c5023e311d9cd960bcbc164190 doesn't correctly handle whitespace in the frontend markdown processor.  As a result, the local echo is wrong for messages containing potential emoticons (e.g. `a:)b` will get translated to emoji by the `marked.js` implementation; it should not be).  While fixing this, we should clean up how the marked.js uni

[2018-03-04 23:38] #1768 closed

[2018-03-04 23:39] timabbott opened #8586 "Better automate emoticon /help/ page"
The new http://127.0.0.1:9991/help/enable-emoticon-translations from bdb86f1b5ed745c5023e311d9cd960bcbc164190 has a table which has a lot of semi-duplicated HTML content.  We should switch it to use a template loop, ideally drawing from data directly coming from `emoji.py`, so that it's not a huge pain to adjust the list of emoticons.

Once that's done, we can work on adjusting the list of emotico

[2018-03-04 23:43] #8495 closed

[2018-03-05 00:12] 0E800 commented on #7609
Apologies for late response. Its a x86 arch. Xeon.

[2018-03-05 01:49] #7622 closed

[2018-03-05 02:46] Yoshi8765 commented on #8562
Not supporting the shortened code is a bit annoying, as most youtube links will come in this form now if you take straight from youtube...

[2018-03-05 03:10] kurianbenoy commented on #5829
@rishig Okay. I will the discuss about the issue in chat.zulip.org later

[2018-03-05 03:25] timabbott opened #8587 "Convert notification settings to use new settings_ui.do_settings_change system."
Following the just-merged #7622, which effectively implemented the change of doing a much nicer UI feedback system for our display settings, we'd like to roll out those improvements to other parts of our settings UI.

This is a project which needs to be done carefully with a lot of testing and care given to avoid breaking things; to see an example of a good style for this, see the ~10 commits endi

[2018-03-05 03:32] timabbott commented on #8574
@rwbarton what are the major differences from the original pygments, and how well-tested are the changes?  I'm happy to use an improved version of the library; just want to be sure it's improved :)

In terms of strategy, I think it might make sense for that community to publish a package on pypi with a name like `pygments-foo`, and then we can just pull in a particular version of that package from

[2018-03-05 03:34] rishig commented on #2745
The incentive problems are at least fixed in the second proposal, which is that users would get history up to the point when they joined the realm.

It's possible limiting public stream history in this way is solving problems that should instead be solved with stream-level retention policies?

[2018-03-05 03:34] timabbott commented on #8571
I think that should be possible.  @shubhamdhama I think we should at least build a cleaner structure for these, where each custom embed has custom code in a class of a fixed structure (or similar).  Such a refactor makes sense to wait on a few open PRs being merged, though.

That said, I think this might be worth also investing in improving our generic open graph preview feature.

[2018-03-05 03:40] timabbott commented on #7609
Interesting.  Is it possible you have an unusual version of openssl installed on the system (aka, not the one distributed by the distribution)?  That could be the cause here (reproducer that doesn't involve Zulip should be `pip install uwsgi`, BTW -- it'd also be great to test that on your system).

[2018-03-05 03:41] shubhamdhama commented on #8587
@zulipbot claim I'm aware of the changes done in this PR by Balaji and I've also the knowledge of our current event system so I'd like to take this.

[2018-03-05 03:48] shubhamdhama commented on #8571
Great, we could at least create a structure for few services first where the addition of other services could be easy.  Do tell me when those PRs get merged or I'll ask in few days.
And yeah definitely we need to improve open graph preview as currently, it's not even able to parse for a website like github.com.(I think I should first create PR to improve open graph preview.)

[2018-03-05 03:48] rajujha373 commented on #8587
@zulipbot claim

[2018-03-05 03:58] timabbott opened #8588 "Clicking on an old-style mention doesn't pop the user-mention popover"
I saw a few production exceptions caused by people trying to click on mentions for very old messages, rendered before the `data-user-id` was added.

@adnrs96 I think you're well-equipped to do this given your work on removing that field in #8121.

This block:

[code]

Should have fallback logic like that in `mention_button_refers_to_me` to `data-user-email`.  Probably makes sense to refactor to mo

[2018-03-05 04:02] shubhamdhama commented on #8587
@rajujha373 Apology but looks like zulipbot wasn't working and we recommend for one person to work on an issue at a time. And if you're new here we recommend taking issues with label "label: good first issue".

[2018-03-05 04:06] rajujha373 commented on #8587
@shubhamdhama thats okay :) i'll search for another issue :p

[2018-03-05 04:26] adnrs96 commented on #8588
@zulipbot claim.

[2018-03-05 05:47] timabbott commented on #8571
Yeah, if you want to work on generally improving the open graph previews (currently only enabled in development by default because we're not super happy with them), I think that'd be worthwhile.

[2018-03-05 11:12] Shivamgera commented on #8580
I would like to work on this issue. Can you please guide me?

[2018-03-05 14:35] Anupam-dagar commented on #8580
@zulipbot claim

[2018-03-05 14:35] Anupam-dagar commented on #8014
@zulipbot abandon

[2018-03-05 17:14] #8225 closed

[2018-03-05 17:14] timabbott commented on #8225
@rishig small comment after merging the fix for this: this issue should have been tagged as "settings (user)", not "settings (admin/org)".

[2018-03-05 17:46] gnprice opened #8593 "Get structured test result data into CircleCI"
This is a feature that Circle has, and shares with a lot of other good test infrastructure, which can (a) make it a lot quicker to see why a given build failed, and (b) let the computer do the work that's easy for a computer in spotting patterns of recurring flakes.

There's a common format that lots of tools use, that Ant originated for storing JUnit test results in the Java world and has become

[2018-03-05 17:48] #8488 closed

[2018-03-05 17:57] timabbott commented on #8593
@hackerkid @adnrs96 is either of you interested in working on this?

[2018-03-05 18:04] hackerkid commented on #8593
Yup. I can work on this week!

[2018-03-05 18:23] #8580 closed

[2018-03-05 18:43] #198 closed

[2018-03-05 19:14] shubham-padia commented on #8577
@zulipbot claim.
I am able to reproduce this and found that the issue matches the story described above.

[2018-03-05 19:17] timabbott opened #8595 "Improve API documentation to cover fetching messages"
We should add "Fetching message history" to the "Messages" section of /api/, based on examples/recent-messages, AKA https://github.com/zulip/python-zulip-api/blob/master/zulip/zulip/examples/recent-messages

It's worth doing a good job on this, since it's a pretty core use case.

Here's example code for a patched version of the `recent-messages` example to fetch the last ~100 messages of a user's

[2018-03-05 20:38] amanagr commented on #8595
Yeah, there are surely a lot of things that the API doc doesn't cover.
I will create issues for them once I am free.
Thanks.

[2018-03-05 21:02] Retsediv commented on #8209
@zulipbot claim

[2018-03-05 21:02] Retsediv commented on #8209
@zulipbot claim --force

[2018-03-05 23:29] YoSiJo commented on #7609
I have the same issue while installing Zulip. The error log has this output:
[code]

[2018-03-05 23:32] YoSiJo commented on #7609
Sorry i forgot to mention i tried to install zulip within an lxc container on debian 9.

[2018-03-05 23:48] timabbott commented on #7609
@YoSiJo can you try doing the debugging I suggested?

I bet this is https://github.com/unbit/uwsgi/issues/1395

Just to confirm @YoSiJo, are you installing on Debian 9 as the guest OS?  We don't support that guest OS currently, though I did see instructions for such an installation going around...

[2018-03-05 23:51] #1721 closed

[2018-03-05 23:52] #7199 closed

[2018-03-05 23:54] #5293 closed

[2018-03-05 23:58] timabbott commented on #1795
I'm removing a few labels from this, basically because the restructuring we've done to the installer for Zulip 1.8 makes this a far less likely issue to run into.  It's a thing we may want to still support (it's not an enormous amount of work), but it's also a challenging issue to work on, so I expect we won't work on it for a long time.

[2018-03-06 00:10] timabbott commented on #972
We haven't heard requests for this in years, so I'm closing this.  If it becomes important in the future, we'll do it because of that, not because we had a 2-year old issue with no activity or information on how to do it.

[2018-03-06 00:10] #972 closed

[2018-03-06 00:11] timabbott commented on #1705
Raising priority, since we're going to want to desupport Trusty soon.  I think there's an email or Zulip thread somewhere with notes on this.

[2018-03-06 00:12] timabbott commented on #466
Closing this, since I think we've done most of the generic work that can be done on making Zulip more portable.  Remaining work would be for specific platforms we want to support.

[2018-03-06 00:12] #466 closed

[2018-03-06 03:23] neiljp commented on #8582
@timabbott Sure!
@zulipbot claim

[2018-03-06 08:01] CSC510Zacky opened #8600 "nginx is logging the same error log"
My zulip server is using nginx. but nginx is logging the same error log like
`2018/03/06 16:02:41 [error] 1089#1089: *191610 upstream prematurely closed connection while reading response header from upstream, client: 10.60.203.55, server: , request: "GET / HTTP/1.1", upstream: "uwsgi://unix:/home/zulip/deployments/uwsgi-socket:", host: "zulip.maindomain.com"`

And this is my /etc/zulip/uwsgi.ini f

[2018-03-06 08:34] mtothed commented on #7330
how is the status of the voice chat integration?

[2018-03-06 14:41] #8588 closed

[2018-03-06 15:15] timabbott commented on #8600
Can you provide more detail -- is the server not working, or are you just seeing that error when scanning your logs?  Also, is there anything in the various files under /var/log/zulip (`ls -ltr` there can be helpful, but `errors.log` and `django.log` are of particular interest).

[2018-03-06 19:03] roberthoenig commented on #6542
@timabbott can this be closed now?

[2018-03-06 21:03] #8550 closed

[2018-03-06 21:05] YoSiJo commented on #7609
yep, thats the problem. I have been setting (testwise) the version in requirements/prod.txt to 2.0.17 and it's going on

[2018-03-06 21:11] timabbott commented on #7609
OK, great.  We'll upgrade our uwsgi dependency.  Folks running into this problem should be able to install from master once that's merged.

[2018-03-06 21:12] timabbott commented on #7609
I should also note that we only officially support Ubuntu Trusty and Xenial as the OS to install Zulip in; I suspect that the instructions in e.g. https://www.howtoforge.com/tutorial/how-to-install-zulip-chat-server-on-debian/ that advertise support for Debian 9 are just wrong.

[2018-03-06 21:20] rishig opened #8605 "keyboard shortcuts: Add keyboard basics in bottom of right sidebar."
Keyboard shortcuts completely change how people use Zulip, so it'd be great to teach this to users as soon as we can.

We should add a section to the bottom of the right sidebar which looks something like
[code]

where:
* See all is a link that opens the keyboard help modal
* The icon is something like :keyboard: and toggles showing the Keyboard basics section.

[2018-03-06 21:24] #7609 closed

[2018-03-06 21:36] #8004 closed

[2018-03-06 22:07] timabbott commented on #6542
Yep, the (sort of) in the commit message prevented this from being auto-closed. https://github.com/zulip/zulip/commit/81ba7a1e40d9921c70de7b5c9c636c9b14dffc29

[2018-03-06 22:07] #6542 closed

[2018-03-06 22:10] shubham-padia commented on #8605
@zulipbot claim

[2018-03-06 23:00] timabbott opened #8607 "Improve webhook defaults for where messages get sent"
There's two related features we'd like to implement across our webhooks:
* Having a default of sending a PM to the bot owner if a stream isn't specified, rather than using a default stream name.  This is a behavior change, but should be fairly obvious to users, so I don't think we need a detailed migration for this.  But it should be helpful for making it easy to test the webhook setup process wit

[2018-03-07 00:36] rishig opened #8608 "compose: Clicking "New Topic" in a topic narrow auto-populates the current topic."
To reproduce:
* Go to a topic narrow
* Click the "New topic" button

To see the correct behavior, use the `c` hotkey.

[2018-03-07 02:23] Balaji2198 commented on #8608
@zulipbot  claim

[2018-03-07 02:51] CSC510Zacky commented on #8600
I think this log came out when the zulip client occurred internal 500 error. but server is on working.

[/var/log/zulip/errors.log]
`2018-03-07 01:14:14.432 WARN [] EMAIL_GATEWAY_PATTERN is an empty string, using NOREPLY_EMAIL_ADDRESS in the 'from' field.`
(It is probably irrelevant. but this is all I have.)

[/var/log/zulip/django.log]
`2018-03-07 01:20:20.836 INFO [zr] 10.60.203.21    POST    20

[2018-03-07 03:50] lonerz commented on #8579
@zulipbot claim

[2018-03-07 10:40] Anupam-dagar commented on #6313
@zulipbot claim

[2018-03-07 12:15] kkarlo commented on #6021
Hi, I've got the same problem when I add new realm (subdomain) to my root organisation. I was generating new csr with SAN that includes subdomain and root domain. Now i'm getting
"This server could not prove that it is zulip._mydomain.com_; its security certificate does not specify Subject Alternative Names. This may be caused by a misconfiguration or an attacker intercepting your connection.

You

[2018-03-07 16:47] vaidap commented on #7388
@zulipbot claim

[2018-03-07 21:35] #8502 closed

[2018-03-07 22:13] timabbott commented on #6021
@kkarlo this is likely a misconfiguration of your SSL certificate or maybe `nginx` configuration (if you've patched that).  You need to provide a valid SSL certificate (as verified by the browser) in a chained certificate bundle; see the link to the `nginx` SSL certificate documentation that we provide from here: http://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#manual-install

[2018-03-07 22:13] #6021 closed

[2018-03-07 22:16] timabbott commented on #8600
@CSC510Zacky can you check `/var/log/kern.log` for evidence of the machine OOM killing due to insufficient memory?  It sorta looks like your `uwsgi` workers are randomly dying, which can be caused by OOM kills.

[2018-03-07 23:17] rvencu opened #8618 "Just installed the production server fresh on 16.04.4 LTS server and I cannot connect to SMTP"
Even so I was able to connect to port 25 and the server can send messages to my internal domain addresses so I could finish the setup and even send invites to internal users.
This worked with authentication OFF. When I tried to send messages to external users the smtp server protested about relaying and required authentication. Providing proper password did not help. In the authenticated setup no

[2018-03-08 01:12] timabbott opened #8619 "check-capitalization: Expand to also check for use of `realm` in translateable strings."
I just did a cleaning of our codebase for strings tagged for translation using the term "realm", which isn't intended to appear in user-facing situations.

The below works, but doesn't handle the error messages properly (i.e. it always displays errors as being capitalization mistakes):

[code]

I think we should probably change the way results are passed between `tools/check-capitalization` and `t

[2018-03-08 01:29] #7836 closed

[2018-03-08 03:14] kurianbenoy commented on #5829
@zulipbot unclaim

[2018-03-08 04:41] YJDave opened #8620 "org settings: Loading spinner are not visible."
In organization settings, `Bots` and `Deactivated user` section's loading spinners are not visible.
To reproduce the issue:
If you do not have many users/bots listed, you will not be able to see loading animations. In that case, you can comment out the code of destroying spinner(in `static/js/settings_users.js` function `populate_users` last lines).

This is followup of PR #8537

[2018-03-08 06:19] rvencu commented on #8618
manage.py send_test_email never worked. I will try to create a dedicated admin email and see how it works

[2018-03-08 08:13] rvencu commented on #8618
i opened the mailserver for relay from zulip computer ip and now it can send any message unauthenticated on port 25...

[2018-03-08 08:40] rishig opened #8622 "compose: Remove pills placeholder text when pills match the narrow."
![image](https://user-images.githubusercontent.com/890911/37141142-f709b14c-2268-11e8-9a15-7fbedf0c073a.png)

We should remove the "Add another user .." text when
* You're narrowed to the PM or Group PM corresponding to the pills
* Your cursor is not focused on the "To:" line.

Discussion at https://chat.zulip.org/#narrow/stream/101-design/topic/PM.20compose.

[2018-03-08 09:01] hackerkid commented on #8593
@zulipbot claim

[2018-03-08 10:13] cg-cnu commented on #7388
Hey @vaidap Not meant to take over this issue, just want to pitch in.
See if https://github.com/TalAter/open-source-templates would be of any help here. Thanks!

[2018-03-08 11:13] YJDave commented on #8622
@zulipbot claim

[2018-03-08 12:42] DhruvThakker commented on #7089
@zulipbot claim

[2018-03-08 15:47] timabbott commented on #3465
Here's what I think we need to do in order to make this work:
* `scroll_finished` in `static/js/ui.js` is the core function that fetches more messages when you scroll to the top of a narrow.  It has an if statement for whether we're at the top (which is equivalent to and should probably become `message_viewport.at_top()`; we just need to do a `message_viewport.at_bottom()` check in that same place

[2018-03-08 15:56] #8577 closed

[2018-03-08 19:42] hackerkid commented on #8593
@gnprice I was able to generate the JUnit XML files easily for casper. But for django it seems like our current test runner does not seem to have an option to generate the XML files. We have to use another package for this. https://stackoverflow.com/questions/11241781/python-unittests-in-jenkins

[2018-03-08 20:21] abhigyank commented on #8504
@synicalsyntax Hey Zulipbot commands not working here. Can you check it?

[2018-03-08 21:56] timabbott commented on #7158
@akaptur can you re-verify that last search query again?  We fixed a second issue in this space that seems very likely to have been the cause of your second issue.

[2018-03-08 22:46] gnprice opened #8630 "Database can get non-UTF-8 locale and reject good input"
See report at https://chat.zulip.org/#narrow/stream/127-integrations/subject/issue.20with.20UTF8/near/527775 . Messages with characters that don't fit in the latin-1 encoding (i.e., anything U+0100 and up) were rejected with a database error. The user added that initially the output of `locale` was all `en_US`.

The user installed with 1.7.1, which has a line in `scripts/lib/install` to set the lo

[2018-03-08 23:13] #8622 closed

[2018-03-08 23:40] rishig opened #8631 "right sidebar: Show last active time more prominently."
A lot of chat clients prominently show "last online" times for users, which I think is quite useful. To start, we can put it in the user popover, at the bottom of this section:
![image](https://user-images.githubusercontent.com/890911/37182316-88cf6c8a-22e5-11e8-93ee-649a68a016ea.png)
I would replace the local time line with `Local time: 03:29 PM`, and then add `Last online: 44 minutes ago` below

[2018-03-09 02:32] burek967 commented on #8054
The bug shouldn't occur anymore with PGroonga 2.0.3. It was connected to function `pgroonga_query_extract_keywords` which complained about certain inputs and got fixed at https://github.com/pgroonga/pgroonga/commit/49cfcf4ce162c5edc306bf8fade57bd5ea963ce8, so I believe this issue can be closed.

[2018-03-09 03:31] gnprice opened #8633 "Migrate dev off of vagrant-lxc"
Our standard dev environment is a VM configured through Vagrant, and on Linux we use LXC to get "VMs" (containers) that are much more efficient and pleasant than the VMs we fall back to on other platforms. To configure those LXC containers through Vagrant, we use "vagrant-lxc".

Unfortunately vagrant-lxc is basically past EOL. In the medium term we'll want to move off of it.

Some notes on the vag

[2018-03-09 03:57] timabbott commented on #8054
Fix confirmed, thanks @burek967 and @kou.  Closing.

[2018-03-09 03:57] #8054 closed

[2018-03-09 03:59] synicalsyntax commented on #8504
@abhigyank @zulipbot was down during the time you and @Shobitha-M tried to claim the issue. Feel free to try again.

[2018-03-09 06:41] rishig opened #8634 "compose: Remove private stream warning when membership has full overlap."
Currently if you type `#private-stream-name` in compose, it'll pop up a warning like
`Warning: private-stream-name is a private stream.`

We should suppress that warning if you're composing to a stream whose membership is a subset of `#private-stream-name`.

[2018-03-09 09:02] ujjawaljaiswal2017 commented on #8631
I am new here. Can you please guide me to the relevant source code?

[2018-03-09 10:08] hackerkid commented on #7884
@zulipbot claim

[2018-03-09 10:49] shubham-padia commented on #8634
@zulipbot claim

[2018-03-09 12:01] Shobitha-M commented on #8504
@zulipbot claim

[2018-03-09 12:02] CSC510Zacky commented on #8600
Sorry, I don't have any evidence of OOM in kern.log. But I tried to getting 500MB of kernel memory by command `sysctl -w vm.min_free_kbyte=5120`. And the result was bad, server was very slowed.
I put in an option of uwsgi.ini to get a log when the worker died. If I get anything of evidence, I'll post the log.

[2018-03-09 14:54] vcolano commented on #126
I got this when using the incorrect password. Double check that the password is correct.

[2018-03-09 15:18] Retsediv commented on #8631
@rishig I would like to work on it. Could you help with where to start?

[2018-03-09 15:18] Retsediv commented on #8631
@zulipbot claim

[2018-03-09 15:52] Retsediv commented on #8631
@zulipbot claim

[2018-03-09 16:00] HarshitOnGitHub commented on #8475
@zulipbot claim
This has been fixed in PR #7832.

[2018-03-09 18:39] Retsediv commented on #8631
@rishig  Do we have to use "Last online"? There is no such phrase in Transifex.
Instead of this, we have "Last active" and it is in Transifex. So, maybe, we should use it?

[2018-03-09 18:46] #8634 closed

[2018-03-09 18:59] gooca commented on #8544
@timabbott I have come across these jsfiddles, [one](https://jsfiddle.net/dyvL31r6/930/) and [two](https://jsfiddle.net/gbfLazpx/1485/). One is version 1.3.0 and seems to be scrolling properly, while the other is 0.6.10 (similar to zulip's 0.7.1) and has the scrolling issue, which makes me think the scrolling would be improved by a newer version. However, version [1.0.0](https://github.com/utatti/

[2018-03-09 19:01] gooca commented on #8544
@timabbott I have come across these jsfiddles, [one](https://jsfiddle.net/dyvL31r6/930/) and [two](https://jsfiddle.net/gbfLazpx/1484/). One is version 1.3.0 and seems to be scrolling properly, while the other is 0.6.10 (similar to zulip's 0.7.1) and has the scrolling issue, which makes me think the scrolling would be improved by a newer version. However, version [1.0.0](https://github.com/utatti/

[2018-03-09 19:18] rishig commented on #8631
Hi @Retsediv, adding phrases to transifex is not an issue.

[2018-03-09 19:19] timabbott commented on #8544
@gooca probably this means we should work on upgrading to a newer version.  I think we might want to start with refactoring more things that can to use `ui.set_up_scrollbar` and `ui.update_scrollbar` where appropriate (being careful to avoid behavior changes; I'd probably do this one commit per call point), so that we have fewer callpoints into the perfectScrollbar library.  And then we can attemp

[2018-03-09 19:33] showell opened #8639 "Have server explicitly report incomplete/complete search results."
Folks should choose this issue only if they have some experience with our message searching code.

If you do a query with `num_before` or `num_after`, it's useful to tell the client whether you fetched all the results.  The client can infer this, but clients are prone to off-by-one errors or changing semantics on the server.  It would be better if the server just said something like `got_all_data`

[2018-03-09 20:00] gooca commented on #8544
I'm interested in taking this, @zulipbot claim

[2018-03-09 21:25] #7908 closed

[2018-03-09 21:34] #7884 closed

[2018-03-09 21:41] timabbott commented on #8088
I agree with Rishi; basically, we should make this auto-save, or even better do that save-on-blur approach.

@synicalsyntax does that make sense?  Do you have time to work on this in the next few days?  We need to improve this before the 1.8 release, so if you don't have time, I can find someone else to clean this up.

[2018-03-09 21:43] timabbott commented on #8209
Reopening, since I reverted #8611 in b2cadf6817ec99b448abf36b975d62e22f030f98

[2018-03-09 22:25] timabbott commented on #7315
Dropping priority given the challenges with reproduction.

[2018-03-09 22:33] timabbott commented on #7468
It looks like many of these are fixed.

@roberthoenig would you be up for helping split out the remaining issues?  I think the main one is the "stack up" issue...

[2018-03-09 22:34] timabbott opened #8641 "Fix issues with stacking "you unsubscribed from stream" notices"
From #7468 reported by @roberthoenig this issue remains:

* unsubscribing from a stream and then revisiting the stream shows the stream, with a "you unsubscribe from this stream" ino in the bottom. being resubscribed makes that infodisappear. there is no new "you subscribed to this stream" info. unsubscribing again creates another "you unsubscribed" info. These stack up:
![image](https://user-imag

[2018-03-09 22:34] timabbott commented on #7468
I opened https://github.com/zulip/zulip/issues/8641, assuming that's all that's left.  Closing.  So @roberthoenig you may not need to do anything further.

[2018-03-09 22:34] #7468 closed

[2018-03-09 22:45] #8570 closed

[2018-03-09 22:52] #7795 closed

[2018-03-09 23:51] gnprice commented on #8593
It looks like what people typically use when using the Django test infrastructure is the `unittest-xml-reporting` package:
https://github.com/xmlrunner/unittest-xml-reporting

Want to try that?

There are other things we could gain from switching to nose or pytest, and it might be reasonable to try that at some point; but this is a pretty table-stakes feature that we should be able to get without

[2018-03-10 01:46] Anupam-dagar commented on #8641
@zulipbot claim

[2018-03-10 04:19] synicalsyntax commented on #8088
@timabbott I think it'd be better to ask someone else to work on this given the issue's time sensitivity.

[2018-03-10 05:17] #6938 closed

[2018-03-10 05:49] parity3 commented on #6938
Awesome news, thanks! Looking forward to it in next release!

[2018-03-10 09:16] amanagr opened #8643 "Improve API documentation to cover fetching initial data."
Create an example showing how to fetch intial data while registering to api.
This can be done using `fetch_event_types` with /request.
I found a useful list of parameters [here](https://github.com/zulip/zulip-mobile/blob/master/src/config.js).

Currently the API documentation only says we can use `fetch_event_types` instead of `event_types` to load inital data.
@aero31aero @eeshangarg

[2018-03-10 09:25] amanagr opened #8644 "Add description about parameters for `/message` request in API documentation."
The /message API query takes parameters like:
[code]
We should describe in the API documentation what each of these parameters if for.
Add examples for using them.
@eeshangarg @aero31aero

[2018-03-10 09:41] shubham-padia commented on #8088
@zulipbot claim

[2018-03-10 11:55] sinwar commented on #2746
@zulipbot claim.

[2018-03-10 14:04] divyabaid16 commented on #5827
@zulipbot claim

[2018-03-10 15:43] AnshumanPati commented on #5802
@zulipbot Sorry I had been away due to my midsems. I am working on it now.

[2018-03-10 17:08] timabbott commented on #8644
This is a duplicate of https://github.com/zulip/zulip/issues/8595, right?

[2018-03-10 17:08] #8644 closed

[2018-03-10 18:02] Retsediv commented on #8631
@rishig Should I also change the text(in the screenshot) from "Last seen..." to "Last online: ..." ?[screenshot from 2018-03-10 19-59-26](https://user-images.githubusercontent.com/10120566/37245232-c0c82e6a-249d-11e8-8f60-a35a7e797d30.png)

[2018-03-10 18:06] #8582 closed

[2018-03-10 20:14] lonerz commented on #8562
@Yoshi8765 hmm, I tried every single link above and it seemed to be embedded in Zulip every time. Maybe just a settings issue on your realm? I attached the screenshot below of all the links + their thumbnails which seemed to work fine.

![screen shot 2018-03-10 at 12 13 31 pm](https://user-images.githubusercontent.com/12992571/37246345-98bbdfb6-245c-11e8-87f1-c29137ca6153.png)

[2018-03-10 20:50] rishig commented on #8631
I would make the text in the hover
Last online: <date and time>
(for <date and time> using whatever functions we already have for this is timerender.js).

Also we don't need the "last seen on" text.

[2018-03-10 22:35] Yoshi8765 commented on #8562
@lonerz I just retried it in my realm. Each are being posted as separate posts.
![](https://i.imgur.com/tp2IaGR.png)

I've look at my realm (organization) settings, but I can't see anything that might be affecting this. Is there anything I can provide? If you tried to test that in chat.zulip.org I believe the platform there is a bleeding edge version which is different from what other realms are o

[2018-03-10 23:05] lonerz commented on #8562
@Yoshi8765 I tried this on my dev server off the current master. It seems like chat.zulip.org has the same issues you are facing. @timabbott is there a difference between the markdown link parsing on chat.zulip.org and the dev server?

[2018-03-11 00:04] timabbott commented on #8562
@lonerz yes, in the development environment, we have the `INLINE_URL_EMBED_PREVIEW` setting on; it's off by default in production (but can be toggled).

[2018-03-11 04:07] umairwaheed commented on #8619
@zulipbot claim

Sure.

[2018-03-11 04:37] amanagr opened #8648 "Improve API documentation to cover updating message flags."
Every message has flags associated with it:
[code]
We can do `/messages/flags` API query to update message flags.
Sample request:
[code]
Examples:
https://github.com/zulip/zulip/blob/master/zerver/tests/test_unread.py
https://github.com/zulip/zulip/blob/master/zerver/tests/test_messages.py

[2018-03-11 04:40] amanagr commented on #8648
@zulipbot label "area: documentation (api and integrations)"

[2018-03-11 05:39] dgarvit commented on #8087
I can't seem to be able to reproduce this issue. It seems to be working fine for me. I tried sending just an image, and also tried with just a file, and each time I got the title of the image/file in the notification as expected. I am using Google Chrome Browser.

[2018-03-11 07:34] dgarvit commented on #8184
So, do we plan to implement this? @timabbott @rishig

[2018-03-11 07:57] dgarvit commented on #7907
Agreed with @XavierCooney . Maybe https://zulip.readthedocs.io/en/stable/prod.html could be of some help?

[2018-03-11 11:38] nax3n commented on #5105
Yes, i am still working on the issue

[2018-03-11 13:38] nkmishra1997 commented on #3780
Right now we have a /#streams/all page which very effectively displays the average traffic and number of users subscribed. Is there anything else which was on your mind with this /discover page @showell @timabbott ? If not, then this can be closed now.

[2018-03-11 13:57] shubham-padia commented on #8088
**Save**:
![save](https://user-images.githubusercontent.com/13910561/37254311-1bcfdc08-2562-11e8-88e6-42a195010a9c.gif)

**Cancel**:
![cancel](https://user-images.githubusercontent.com/13910561/37254316-24fa250e-2562-11e8-874a-225c5ae18e88.gif)

@timabbott @rishig Can you have a look and suggest any changes if needed, in terms of design or behaviour. I tried to put the instructions on top-right co

[2018-03-11 14:24] nkmishra1997 commented on #3989
I think most of this issue is resolved except for the last thing i.e. to get all the streams simultaneously in one ORM query. If so, then I would like to take it up. If that is also done, we can close this ticket. @rishig

[2018-03-11 15:45] adarsh1021 commented on #8149
@zulipbot claim

[2018-03-11 15:46] adarsh1021 commented on #8149
@zulipbot  claim --force

[2018-03-11 22:15] timabbott commented on #3989
Yeah, the current state of this is that the backend work is all done, but https://github.com/zulip/zulip/pull/7464 isn't merged yet, because we're not sure what it should look like visually.  It's possible we should just merge the current version of that, but if you have ideas for how to make it look visually cleaner, that'd be a great thing to work on.

[2018-03-11 22:36] #8619 closed

[2018-03-11 22:38] timabbott commented on #3780
@showell I think the main thing that we need to add to that page is a way to sort by traffic or number of subscribers.  Probably makes sense to open a separate issue for that that's more directed.  Closing this and will open such an issue.

[2018-03-11 22:38] #3780 closed

[2018-03-11 22:43] timabbott opened #8659 "Add support for sorting in the /#streams pages (especially /#streams/all)"
Now that we have #3989 done, we should add some UI for sorting the list of streams in the /#streams/all page by things like subscriber count, traffic level, etc.  I think the `list_render.js` library that I think we use on that page already has some basic support for sorting in more structured tables; what we will need is a UI for selecting how one wants it sorted (and also it's possible we need t

[2018-03-11 22:44] timabbott commented on #3780
See https://github.com/zulip/zulip/issues/8659 for the follow-up work.

[2018-03-11 22:47] timabbott opened #8660 "Improve visual appearance of the new "subscriber counts" system"
Following up on #3989 / #7464, there's a couple things we definitely want to do here:

* We should add a similar hover behavior on the subscriber count that says "Subscriber count" to the "Average weekly traffic" text.
* We need to dosomething reasonable for alignment (I think ideally all the person icons and all the chat messages icons would be vertically aligned, if we can make that work and loo

[2018-03-11 22:49] timabbott commented on #3989
I just merged f876fd14233c27561fd9f0f0493e37af9aaab7fd, which implements this; I'm going to open some high-priority follow-ups for it, though.  One is https://github.com/zulip/zulip/issues/8659 for adding sorting; another is https://github.com/zulip/zulip/issues/8660.

I think another possibly follow-up would be to have a way to query our analytics database to get a graph of the stream's activity

[2018-03-11 22:49] #3989 closed

[2018-03-11 22:50] timabbott commented on #8295
@YJDave I think this is resolved now; can you confirm?

[2018-03-11 22:50] timabbott commented on #8230
@YJDave the fix for this is merged, right?  Not sure why this didn't get auto-closed.

[2018-03-11 22:52] timabbott commented on #3458
Closing this in favor of the more current #8659, since I think that's more likely to get actually worked on.  Will add a backlink.

[2018-03-11 22:52] #3458 closed

[2018-03-11 23:17] timabbott commented on #8184
I'm not sure we know what we want here.  I recommend working on other issues.

[2018-03-11 23:26] #8475 closed

[2018-03-12 03:25] timabbott commented on #7907
This might be something where nightly or playground can be helpful in reproducing.  @aero31aero can you help with debugging this?

[2018-03-12 03:30] aero31aero commented on #7907
I can reproduce this in nightly.Taking a look right now.

[2018-03-12 03:58] rishig commented on #8184
since we have a reproducer, might be good to fix the bug, independent of future product changes?

[2018-03-12 04:10] timabbott opened #8663 "Clean up automated tests and code for topic history"
Following ef92fcbe2b7e580df17c5fa89415bcfdbcf20f00, our topic history feature works as intended, but the unit tests are kinda messy and repetitive, and I'm not super happy with having two long database queries written out.  I think the DB queries could potentially be cleaned up with either the Django or sqlalchemy ORM; meanwhile, the test code doesn't use our normal ways of sending messages and ju

[2018-03-12 04:13] timabbott commented on #6515
I think we could do something similar to what our existing compose box typeahead does, where it'll consider the possibility that they're completing `sender:Tim Abbott`, basically considering things with spaces in them if and only if the thing after the `:` is an exact prefix of someone's name.

[2018-03-12 04:23] rishig commented on #8088
Thanks @shubham-padia! A few thoughts:
* Let's move the trash can to the right hand corner, and change it to a button that says "Delete".
Then the saved, cancel etc can go where the Trash can currently is.
* We have an existing ":checkmark: Saved" thing, that you can use. It's used in some of the settings on https://chat.zulip.org/#settings/display-settings.
* The "Cancel" should instead be called

[2018-03-12 04:27] #6510 closed

[2018-03-12 04:34] timabbott commented on #8178
This is almost certainly a duplicate of #3465, which we're fixing soon, so I'm closing this.

[2018-03-12 04:34] #8178 closed

[2018-03-12 05:09] #2955 closed

[2018-03-12 05:17] #7907 closed

[2018-03-12 05:18] timabbott commented on #8184
Ahh, I hadn't realized this had a reproducer.  Probably a fairly subtle issue to investigate; I should probably take it.

[2018-03-12 06:52] cg-cnu opened #8667 "move bytes_to_size function to utils"
Hi @timabbott,
Long timer lurker here and first semi code contribution 😄

I noticed that the function `bytes_to_size` is in the file `attachments_ui.js`
over [here](https://github.com/zulip/zulip/blob/c2441e4455b213e168da9aa0957dec7175fc0c75/static/js/attachments_ui.js#L19) which can be moved to to `ui_utils.js` for more clarity and separation of concern. Let me know if its a right move. Will be h

[2018-03-12 07:23] ZoeShaw101 commented on #4517
Hi, has this issue beed solved? I'd like to work on this.

[2018-03-12 07:30] ZoeShaw101 commented on #4517
@zulipbot claim

[2018-03-12 10:16] adarsh1021 commented on #8149
@zulipbot abandon

[2018-03-12 12:59] aayushagra commented on #2429
@zulipbot claim

[2018-03-12 15:22] zy964c commented on #7481
Hi @rishig, should this setting be implemented as a new manage.py command?

[2018-03-12 16:18] rishig commented on #7481
It should be in dev_settings.py. Unless Tim has a better idea of how to go about this?

[2018-03-12 16:38] showell opened #8669 "lint rules: Prevent `return undefined;`"
We should sweep the code to replace `return undefined;` with `return;`, and then make a lint rule for it, either via eslint (if they support that) or by making a custom rule.

[2018-03-12 17:04] feorlen opened #8670 "setting up for remote dev is difficult"
I tried to use my remote dev environment after several months idle. The docs still have the same instructions for remote development, but recent changes presume that remote dev is done using a pre-configured droplet provided by the Zulip team.

I can start the processes, and get to the dev login page. But if I click on a user to login, my host's ip address is replaced with `localhost`. (Registerin

[2018-03-12 17:05] AkshJain99 commented on #7237
@zulipbot claim

[2018-03-12 17:12] aero31aero commented on #8669
@zulipbot claim

[2018-03-12 17:34] zy964c commented on #7481
@zulipbot claim

[2018-03-12 18:54] timabbott commented on #4517
@ZoeShaw101 let me do a quick investigation; I think this might be more or less done.

[2018-03-12 18:54] HarshitOnGitHub commented on #8585
@zulipbot claim

[2018-03-12 19:04] timabbott commented on #8670
Hi @feorlen, welcome back!  Can you point specifically to the docs you looked at?  I think we probably need to add something to the docs to recommend setting the `EXTERNAL_HOST` environment variable (which overrides the need to hand-edit those in `dev_settings.py`).  We'll probably want to suggest putting it in `.bashrc` or something if you're not using the droplets.  We might also need something

[2018-03-12 19:12] timabbott commented on #2429
I think this is probably not a priority worth investing in right now, since it carries some bugs/transition cost and isn't likely to add much benefit.  So I'd only encourage someone who has already significant expertise editing our provisioning system (And thus can be confident they'll do this correctly) to work on it.

[2018-03-12 19:17] AasthaGupta commented on #457
Out of the two changes suggested, one has already been implemented. The user can create a new stream of the same name when the last user leaves an invite-only stream.
As for the second change, I have raised a pull request #8674 for adding a prompt for the last user in an invite-only stream.

[2018-03-12 19:26] timabbott commented on #8247
Fixed via https://github.com/zulip/zulip/pull/8259.

[2018-03-12 19:26] #8247 closed

[2018-03-12 19:36] Nap21 commented on #3355
@zulipbot claim

[2018-03-12 19:37] timabbott commented on #4163
This issue description isn't super clear and the preliminary work is now very stale; I'm closing this.

[2018-03-12 19:37] #4163 closed

[2018-03-12 19:37] Nap21 commented on #3355
@zulipbot claim --force

[2018-03-12 19:46] timabbott opened #8675 "Improve handling of blueslip errors in our node tests"
Ideally, in our node tests, we'd consistently have a setup where (1) any blueslip error that we aren't specifically looking for in a test crashes the test and (2) We have a clean way to declare specific blueslip errors that we're looking for in tests.

We have a version of that in some sense, in that by default blueslip isn't imported, so blueslip errors will crash, but we have several tests that

[2018-03-12 19:47] timabbott commented on #1577
We've done a better version of the first part of this issue by displaying them in the main message view area.  The second I opened as https://github.com/zulip/zulip/issues/8675, and the third I verified is doing the right thing.  So we can close this.

[2018-03-12 19:47] #1577 closed

[2018-03-12 19:47] hackerkid commented on #8593
I tried integrating `unittest-xml-reporting`. It is really slow and does not execute all the tests for some reason.  I will spend some more time tomorrow seeing whether I can make it work. I have added the commit for this in PR if you want to take a look. https://github.com/zulip/zulip/pull/8627/commits/a237ac9394e421bb425d587fd11afb918aa97264 #8627

[2018-03-12 20:02] nkmishra1997 commented on #8660
I would like to try this out.
@zulipbot claim

[2018-03-12 20:12] timabbott commented on #8667
@cg-cnu welcome!

I don't think that would be an improvement; probably better would be to stop exporting the function (since we don't use it in other modules) or do nothing.  I don't think it fits thematically with the other things in `ui_utils.js`, and it's generally a mistake to collect a bunch of unrelated things in a module.

[2018-03-12 20:12] #8667 closed

[2018-03-12 21:25] benwhalley commented on #8082
This would be a nice feature. What would be even cooler would be a way to enter additional data within the search url based on the current stream, current user etc.
I have a specific use-case where I'd like to append the current year to a search query to our intranet. I realise this is quite niche, but a more flexible syntax for building queries would be a great start.

[2018-03-13 02:56] AasthaGupta commented on #8392
@zulipbot claim

[2018-03-13 03:22] rishig opened #8679 "message view: Replace reactions title with on-hover popover."
Currently we use the html title attribute to show who reacted to emoji reactions. We should instead use a javascript on-hover to show this information, which will pop up the information faster, and be easier to style.

[2018-03-13 03:59] dgarvit commented on #8679
@zulipbot claim

[2018-03-13 04:02] dgarvit opened #8680 "Updating user avatar does not update the avatar on the settings page"
While trying to update my user avatar, I noticed that as I uploaded a new avatar, the settings page still shows the old avatar. On closing it though, my avatar has been successfully changed, and on opening the settings page the new avatar is displayed.

[2018-03-13 04:19] feorlen commented on #8670
Hi @timabbott it's nice to see everyone!

The docs I used start here, [Installing remotely](http://zulip.readthedocs.io/en/latest/development/overview.html#installing-remotely), which links to both the direct and Vagrant instructions. I used the basic direct Ubuntu install. (By that I mean when I first set this up way back when.)

With `EXTERNAL_HOST='x.x.x.x:9991'`
clicking on one of the devlogin

[2018-03-13 12:22] #8669 closed

[2018-03-13 12:36] showell commented on #8639
@zulipbot claim

[2018-03-13 12:52] aero31aero commented on #8675
@zulipbot claim

[2018-03-13 14:13] nax3n commented on #5105
I tried to change the UTC value by an invalid value like "azeazae" and make a test by ./tools/test-js-with-node which return success

After that, i changed the valid value "UTC+2" and it has returned an error with the same test

why does it return success whereas the value is invalid ?

Thanks

[2018-03-13 15:16] Zimm commented on #6547
@zulipbot I would like to assigned to this issue.

[2018-03-13 16:47] timabbott commented on #8670
Hmm, I'm not sure why specifying a specific IP address in `--interface` doesn't work; it's not something I've used before.  Might be worth comparing the `run-dev.py` logs.

[2018-03-13 16:52] YJDave commented on #8230
@timabbott Yes, this issue is resolved.

[2018-03-13 16:52] #8504 closed

[2018-03-13 16:53] YJDave commented on #8295
@timabbott Yes, this issue is resolved.

[2018-03-13 16:55] #8295 closed

[2018-03-13 16:55] #8230 closed

[2018-03-13 17:05] rishig opened #8686 "user groups: Change pills to be the same as the compose pills."
As followup to #8365 (would wait till that is merged to prevent merge conflicts). @Kumar-Tarun fyi if you're interested in taking this on after #8365!

[2018-03-13 17:06] timabbott commented on #8680
Thanks for the report!  Seems like a likely regression in the recent work we've done on that page.

@rheaparekh @YJDave one of you want to work on this?

[2018-03-13 17:11] dgarvit commented on #8680
@timabbott can i take this issue?

[2018-03-13 17:38] YJDave commented on #8680
@dgarvit I have already solved this issue, while debugging. Sorry for inconvenience.

[2018-03-13 17:44] YJDave commented on #8680
Here is the PR #8688, though you can review and try it out :)

[2018-03-13 17:58] #8680 closed

[2018-03-13 18:06] rishig opened #8689 "hotkeys: Add shortcuts for pan and zoom in lightbox view."
It would be great to add support for `+` and `Z` for "zoom in", `-` and `z` for "zoom out", and arrow keys for panning to the lightbox image viewer (when Pan and Zoom is enabled).

Discussion at https://chat.zulip.org/#narrow/stream/9-issues/topic/pan.20and.20zoom.20(in.20webapp).

[2018-03-13 18:31] abhigyank commented on #8689
@zulipbot claim

[2018-03-13 18:39] timabbott opened #8690 "Fix real-time sync for dismissing hotspots"
Apparently, we don't correctly sync hotspots state on the UI layer.

The `server_events_dispatch.js` code for hotspots calls `hotspots.load_new()` -- which suggests that we only implemented showing the next hotspot, not dismissing older ones.  One can check the `events` data structures sent via the JS console, but my read is that `do_mark_hotspot_as_read` sends the list of hotspots that should sti

[2018-03-13 18:56] timabbott commented on #8660
@nkmishra1997 cool; when are you likely to have something for this?  I'd like to be sure we get this fixed in the next couple days for the release, so it's possible it should be handed off to @YJDave.

[2018-03-13 19:16] Zimm commented on #6040
@zulipbot claim

[2018-03-13 19:49] rishig opened #8692 "user groups: Fix edit button for name and description."
If you edit a user group description, and click the green checkbox, the user group disappears.

[2018-03-13 19:54] srish commented on #135
@timabbott If I understand this right, the solution of this task supports deleting messages under a stream topic, but how about topics? Is there a way to delete topics as well?

[2018-03-13 21:27] nkmishra1997 commented on #8660
@timabbott I have tried stacking the data vertically. See if it works for this. I am available to work on this for the next couple of days, however, if needed, @YJDave can definitely take it up :+1:

[2018-03-13 21:42] timabbott commented on #7711
Fixed via #8241.

[2018-03-13 21:42] #7711 closed

[2018-03-13 21:47] amanagr commented on #3361
Sure( @zulipbot claim )
(I think due to markdown, I didn't get a mail for this, Google pointed me at this!! :smile: )

[2018-03-13 22:00] timabbott opened #8695 "Fix administration of subscribers for private streams"
Following up on #8361, we have a few bugs in administration of subscribers for private streams:
(1) Realm administrators don't get the initial subscribers for private streams they're not on from the backend on page load; this means that subscriber lists start empty even if the stream actually has subscribers.

(2) The real-time sync mostly works, in that if you add a new subscriber, they show up,

[2018-03-13 22:01] timabbott commented on #3786
Closing this, since it was fixed in #8361.  We went with this solution:
* Let admins see subscribers and remove users from invite-only streams (but still try to protect privacy by not letting admins join).

And updated the "security model" documentation to reflect the changes.

[2018-03-13 22:01] #3786 closed

[2018-03-13 22:02] timabbott commented on #6295
Yep, that's partial progress; the rest was fixed in #8361.

[2018-03-13 22:02] #6295 closed

[2018-03-13 22:02] timabbott commented on #3657
This was fixed via #8361.

[2018-03-13 22:02] #3657 closed

[2018-03-13 22:04] timabbott commented on #3877
@aedorado sure, go for it.  I think just unconditionally including a "subscribe" button is useful, because the user may or may not be at the bottom of the stream when they're composing their message.

[2018-03-13 22:04] timabbott commented on #4075
I don't think we have a good approach for implementing this that doesn't begin with implementing a "stream administrator" concept.

[2018-03-13 22:06] timabbott commented on #5959
This was implemented through the `deferred_work` queue a while back.

[2018-03-13 22:06] #5959 closed

[2018-03-13 23:09] Kumar-Tarun commented on #8692
I'm taking this one.

[2018-03-14 01:35] Balaji2198 commented on #6065
@timabbott  I think this got fixed. Searching for `á` listing down the user suggestions. So I think, this is good to close now.

![image](https://user-images.githubusercontent.com/22166422/37378529-8f627a8c-2755-11e8-85b7-a923b5e16283.png)

[2018-03-14 05:43] #6065 closed

[2018-03-14 06:07] rishig opened #8698 "integrations: Allow ifttt and zapier to take a topic instead of subject."
Currently for zapier and ifttt we recommend the json contain a "subject" and "content" field. We should also accept a "topic" field (without deprecating subject).

As a part of this, we should also update the two zerver/webhooks/*doc.md docs.

@eeshangarg fyi, this might be a good small project as a part of the docs work.

[2018-03-14 06:23] rishig opened #8699 "org settings: Adding a realm filter returns an error."
To replicate, just add a realm filter. It seems to successfully add it, but returns an error that the filter already exists.

[2018-03-14 06:58] visuvasi commented on #8454
hey, I want to contribute to this.
 just guide me where to start

[2018-03-14 07:01] visuvasi commented on #8454
One can only invite a new user via there email address, no option for invite through FB, Google+ or any other social account...not even Github

[2018-03-14 07:03] visuvasi opened #8700 "Invite a friend"
No option for invitation through new users FB, Google+ or github account......One can invite a new user only through there email.

[2018-03-14 07:06] visuvasi commented on #8700
@zulipbot label "area: documentation (user)"

[2018-03-14 07:29] shubhamdhama commented on #8699
@rishig Can't reproduce it locally.
![peek 2018-03-14 12-57](https://user-images.githubusercontent.com/22238472/37388651-5d3d0ae0-2787-11e8-8b99-6f55a607d81f.gif)

[2018-03-14 07:33] LudovicHenry commented on #3868
@sulian What about 1 year later?

[2018-03-14 08:27] visuvasi commented on #3355
I am new to Zulip, can I take this ?
If yes can you elaborate how to proceed please

[2018-03-14 08:28] visuvasi commented on #3534
I am new to Zulip, can I take this ?
If yes can you elaborate how to proceed please!

[2018-03-14 08:30] visuvasi commented on #5827
I am new to Zulip, can I take this ?
If yes can you elaborate how to proceed please

[2018-03-14 09:02] visuvasi commented on #8454
@zulipbot claim

[2018-03-14 09:12] Nap21 commented on #3355
@visuvasi Hello, welcome to Zulip, when you see an "in progress" tag it means someone else is already working on it, try to find some issues with beginner tag or good first issue tag. For any further help chat on Zulip.

[2018-03-14 10:00] divyabaid16 commented on #5827
I am already working on this @visuvasi .

[2018-03-14 10:05] visuvasi commented on #5614
@zulipbot claim

[2018-03-14 12:34] visuvasi commented on #5614
I think it can help a lot to the user if we create certain norms for creating the password and display it when user creates his password.
It will work in this way, if there are 5 conditions(for example) that are necessary to create a strong password then whenever user's passwords meet any of the condition it will be check marked and until all the 5 conditions are check marked password will not be

[2018-03-14 14:55] visuvasi commented on #5803
@zulipbot claim

[2018-03-14 16:22] #8576 closed

[2018-03-14 16:25] timabbott commented on #8699
The bug here is I think that we don't clear the input fields or disable the button when you submit a request to add a filter, which means if you accidentally double-click, you'll get the error described.  We should probably disable the button while the request is in transit, and then clear the input fields if it succeeds.

[2018-03-14 16:27] shubhamdhama commented on #8699
Okay, I'll fix this, @zulipbot claim

[2018-03-14 17:09] timabbott opened #8704 "Finish test coverage of user groups settings"
We should add some more node tests so that `user_groups.js` has 100% test coverage.

The main thing I know is missing is an "update description" event -- the file doesn't even have descriptions supported at all.

@Kumar-Tarun could be a good project for you.

[2018-03-14 17:14] #8692 closed

[2018-03-14 17:29] #7862 closed

[2018-03-14 18:04] #7602 closed

[2018-03-14 18:12] #5757 closed

[2018-03-15 00:23] RAF96 commented on #6020
@zulipbot claim

[2018-03-15 07:35] Kumar-Tarun commented on #8704
@timabbott Yeah, sure I'll pick it up!

[2018-03-15 17:09] #8704 closed

[2018-03-15 19:37] #8639 closed

[2018-03-15 20:57] #8699 closed

[2018-03-15 22:17] #3361 closed

[2018-03-15 23:35] timabbott opened #8718 "Improve CSS for .stream-message-hover-content"
Currently, the size for the .stream-message-hover-content and .subscriber-count-hover-content sets a fixed width, which means things line-wrap in an ugly fashion if internationalization means these areas are a different width.  We should fix this by improving the hover popover component used here so that it's always 1 line (with width depending on the size of the content).  Ideally, that'd make th

[2018-03-15 23:46] timabbott commented on #8718
This is a related issue; the hover content shouldn't be taking up space in the box for cases with longer descriptions:
![image](https://user-images.githubusercontent.com/2746074/37496542-5b4ea5c4-2870-11e8-94c3-a0dbe106b3c1.png)

[2018-03-15 23:48] timabbott commented on #8718
Merged, after fixing the bug I noted above.  I also added a few commits on top: 242f6d67b3c125a23987341a86c0bdbc2b52a846 and c89ae4ef39bd4d924250057f39e49757c039235d.

I opened #8694 for some important follow-up fixes to this.

[2018-03-15 23:48] #8660 closed

[2018-03-15 23:48] timabbott commented on #8718
The ratio of effort to fix this to value is such that this is probably a release-blocker.

[2018-03-16 01:52] timabbott opened #8720 "expectOne() exceptions in `rerender_subscribers_count`"
We're getting tons of these on chat.zulip.org (giant bunches of one for each logged-in user, presumably whenever anyone joins a stream).  While it's not user-facing, its sufficiently spammy for our JS exception collection that we really need to fix it.  @YJDave can you look into this?

[code]

[2018-03-16 02:00] timabbott opened #8721 "Fix panels.js check for local storage support"
If local storage isn't available in a browser, our check for the "dontAskForNotifications" key doesn't work (this is part of the feature to show our "Do you want desktop notifications" prompt).  We get this browser exception:

[code]

I think we just want to do a check for whether local storage is enabled (we have something in our library for it), and if it isn't, just skip that check.  Ideally we

[2018-03-16 04:53] YJDave commented on #8720
@zulipbot claim

[2018-03-16 04:57] YJDave commented on #8660
sorry for the late reply, I was busy in hackathons. I will look into #8718

[2018-03-16 04:57] YJDave commented on #8718
@zulipbot claim

[2018-03-16 05:15] AasthaGupta commented on #8087
@zulipbot claim

[2018-03-16 05:22] HarshitOnGitHub opened #8723 "topic: Topics on hover should show complete topic in tooltip."
Currently if you hover on a long topic, the tooltip shows topic truncated by ellipsis(...) which makes it almost impossible to know the what is the complete topic. We should fix it to show complete topic name in tooltip. Should be an easy fix. To reproduce the issue, hover on the following topic: https://chat.zulip.org/#narrow/stream/7-test-here/topic/A.20really.20lonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn

[2018-03-16 06:01] AasthaGupta commented on #8087
@zulipbot abandon
As I think it is assigned to @shubham-padia (https://github.com/zulip/zulip/pull/8425#issuecomment-373578068)

[2018-03-16 08:26] AasthaGupta commented on #2091
@zulipbot claim

[2018-03-16 08:30] AasthaGupta commented on #8721
@timabbott I am unclear about the case when the local storage is not enabled.

[2018-03-16 11:09] shubham-padia commented on #8087
@zulipbot claim

[2018-03-16 13:45] shubhamdhama commented on #8690
@timabbott I come up with an easy solution here since we indirectly want to close all the hotspots before the hotspots whom we have passed in `load_new()`, so we will place this code at the beginning of `load_new()` function to close all the hotspots already present in dom.
[code]
I can create a PR if this looks right.
GIF link:
https://ibb.co/nniaVH

[2018-03-16 16:27] glyph commented on #8430
Thanks for the fix!

[2018-03-16 18:39] #8607 closed

[2018-03-16 19:21] #8608 closed

[2018-03-16 19:29] #8695 closed

[2018-03-16 19:30] timabbott commented on #8720
@YJDave was this also fixed in #8701 ?

[2018-03-16 19:44] timabbott opened #8731 ""More topics" scrollbar area ends a few pixels too high"
In the left sidebar, if you click on "more topics" for a stream like 'development help' on chat.zulip.org that has a lot of topics, our scrollbar's top position ends up a bit higher than it should in a way that looks buggy.

![image](https://user-images.githubusercontent.com/2746074/37541379-a694a4c8-2917-11e8-8c45-b78f4a8f8a38.png)

[2018-03-16 20:05] timabbott commented on #8720
If I had to guess, this probably isn't, and is what happens when you haven't opened the subscriptions page yet when someone else susbcribes (in which case there's no UI to update).  So probably we're just missing an if statement.

[2018-03-16 20:07] timabbott commented on #5697
This is effectively fixed by the effort to change how we do feedback in our settings that @shubhamdhama is working on.  While that effort isn't complete, the design work is done (which is sorta what this issue was about) and we're unlikely to not finish the migration, so I'm going to close this now.

[2018-03-16 20:07] #5697 closed

[2018-03-16 20:10] timabbott commented on #4284
This was completed last fall; we just forgot to close the original issue.  Thanks to @hackerkid and everyone else who helped with this migration :)

[2018-03-16 20:10] #4284 closed

[2018-03-16 20:12] timabbott commented on #3826
This was done in 4cc8c74aaa38d581c1960939ea8b8bbb243ad8a3

[2018-03-16 20:12] #3826 closed

[2018-03-16 20:12] timabbott commented on #3826
(Thanks @roberthoenig for fixing this!)

[2018-03-16 20:15] timabbott commented on #595
This was finally implemented a few weeks ago by @brockwhittaker and @showell :)

[2018-03-16 20:15] #595 closed

[2018-03-16 20:16] timabbott commented on #3297
Closing as wontfix; this is effectively be design.

[2018-03-16 20:16] #3297 closed

[2018-03-16 20:16] timabbott commented on #3297
(Thanks for the reminde @SatyendraBanjare)

[2018-03-16 20:17] timabbott commented on #3383
I think #4249 has effectively solved this problem.

[2018-03-16 20:17] #3383 closed

[2018-03-16 20:21] timabbott commented on #1512
@timapril did you have more to say here about what this should do?  Otherwise we should probably close this 1.5-year-old issue as not possible to work on :)

[2018-03-16 20:22] timabbott commented on #752
Thanks for all the feedback folks.  Closing in favor of the duplicate #6617.

[2018-03-16 20:22] #752 closed

[2018-03-16 20:26] timabbott commented on #4755
Given that we haven't heard anyone else ask for these in almost a year, I'm going to close this as wontfix.  Thanks again for the feedback @brannerchinese!

[2018-03-16 20:26] #4755 closed

[2018-03-16 20:38] #7078 closed

[2018-03-16 20:41] timabbott opened #8732 "Investigate Django's assertNumQueries function"
We have several places in our test codebase where we do asserts on the number of queries used by an operation, using `queries_captured` and `self.assert_length`.  Django 1.10 has a new assertNumQueries function that might be a cleaner way to do this.  We should try converting one test (e.g. `test_home`) to use it and see how we like it; if we do, we can convert the rest.
Broken out from #2564.

[2018-03-16 20:42] timabbott commented on #2564
I opened #8732 as a follow-up for this, and am closing it, since we've done basically everything and the issue is getting pretty stale.

[2018-03-16 20:42] #2564 closed

[2018-03-16 20:46] #8494 closed

[2018-03-16 20:50] timabbott commented on #8332
@eeshangarg the exact thing of using `webhook-url.md` didn't actually happen, and I suspect most issues like this in the future would be caught by code review (especially after we finish your current project to deduplicate the integration docs).

So while we could probably address this issue by merging the below:

[code]

I'm tempted to close this as not actually worth doing (i.e. just slowing dow

[2018-03-16 20:53] amanagr opened #8733 "No messages on narrowing to a stream when recent messages in it are muted."
DEMO GIF:
![narrowing](https://user-images.githubusercontent.com/25124304/37544101-da3c029a-2989-11e8-81f8-3c81814d0ada.gif)
Narrowing to a stream when the topics for recent messages in that stream are muted gives no messages until clicked on a non-muted topic.

[2018-03-16 20:54] timabbott commented on #8698
Tagging this as a priority, since it's likely both easy and high-value.

[2018-03-16 21:17] neiljp commented on #8698
Is it ok to try this? Or is this so high priority that it should just be fixed super quickly?

[2018-03-16 21:43] eeshangarg commented on #8698
@neiljp, @timabbott, @rishig: I just migrated all webhooks to use `check_send_webhook_message` except a handful that might take more work. That PR #8696 would include these two as well, so I'd like that to get merged before we tackle this, just in case. I'm not sure what impact that might have on this issue.

I'll be pushing to #8696 in a bit! Thanks! :)

[2018-03-16 21:44] eeshangarg commented on #8698
@neiljp: Oh and feel free to take this up but I am not sure how the `check_sent_webhook_message` migration will affect doc macros yet, so I'd hold off on this for now! :)

[2018-03-16 21:51] eeshangarg commented on #8332
@timabbott: Agreed, we should close this. There is no point in having this in the linter. So, there are three things to keep in mind with all of the rewriting that we are doing with the webhook docs:
* With the `check_send_webhook_message` migration, the macros will be so self-contained that we will most likely not need a separate `webhook-url.md` macro file. Anyone not using the macros better hav

[2018-03-16 21:51] timabbott commented on #1415
I'm closing this, since it's really an issue for the barnowl repo, and regardless there's active work happening on [zulip-terminal](github.com/zulip/zulip-terminal) now, which seems more likely to converge to something easy to use in the near future.

[2018-03-16 21:51] #1415 closed

[2018-03-16 21:52] neiljp commented on #8698
@zulipbot claim

[2018-03-16 21:52] neiljp commented on #8698
Claiming pending @eeshangarg's changes.

[2018-03-16 21:53] timabbott commented on #1734
This was addressed some time ago; we now don't show the realm name by default, but there's a setting to include it if the user desires.

[2018-03-16 21:53] #1734 closed

[2018-03-16 21:57] timabbott commented on #3437
@rishig is this still something we want to do?  Just to be clear, is the idea that we want to make the email be in the default list for RealmAlias (but `restricted_to_domain` not set), or something else?  I can see that concept being useful and easy.

[2018-03-16 22:04] #8332 closed

[2018-03-16 22:14] timabbott commented on #8721
I think if you use the "private browsing" feature of your browser, it isn't available.  We have some code in `localstorage.js` for checking this.

[2018-03-16 22:48] timabbott commented on #3734
The `active_user_dict_fields` object is now called realm_user_dict_fields, and we've completed most of this.  It probably would not be a ton of work to finish this.

[2018-03-16 22:51] timabbott commented on #7589
@rishig I'm not sure this concept make sense.  I think it's important that the thing we pass back to the frontend via context (and then is passed back by the browser to `/accounts_register` to finish registration) be a secure secret like the random confirmation key, not an integer ID that they could guess.  Unless I'm missing something, I think we should close this as wontfix.

[2018-03-16 22:54] timabbott commented on #6574
This was fixed by the `MessageDict.finalize_payload` refactoring last year.

[2018-03-16 22:54] #6574 closed

[2018-03-16 22:55] timabbott commented on #1456
I think our plans involve instead eliminating the pointer as a backend concept entirely, so closing this.

[2018-03-16 22:55] #1456 closed

[2018-03-16 22:59] timabbott commented on #3380
This produces some super spammy JS errors, is probably not hard, and has been open for a long time.  Tagging as a priority.

[2018-03-16 23:02] timabbott commented on #8698
@neiljp #8696 is now merged.

[2018-03-17 01:50] skapil commented on #8732
@zulipbot claim

[2018-03-17 04:18] rishig commented on #7589
I thought that protection came from some combination of {{ csrf_input }} and @require_post?
Anyway, would be interested to understand this better at some point, but feel free to close if it doesn't make sense.

[2018-03-17 04:29] rishig commented on #3437
The issue this was solving was the restrict to domain setting being confusing when there are no domain there (which is the state when you create an org). E.g. these two feel the same, but aren't:
* Restrict to domain is unchecked
* Restrict to domain is checked, but there are no domains

I think the dropdown approach that explictly has options like
* "No restrictions"
* "Restrict by domain"
Comma-

[2018-03-17 07:42] visuvasi commented on #5614
@rishig can you please reply atleast?

[2018-03-17 08:00] abhigyank commented on #8689
How should we determine the `zoom` (amount of zoom) which is a parameters of `setZoom` by the keypress?

[2018-03-17 09:54] divyabaid16 commented on #8538
@timabbott, please let me know your views on PR #8734

[2018-03-17 11:51] divyabaid16 commented on #8454
@zulipbot claim --force

[2018-03-17 12:17] divyabaid16 commented on #8454
@Lyla-Fischer what do I need to do with this issue?

[2018-03-17 16:23] nkmishra1997 commented on #7089
@timabbott
1. zerver/lib/user_agent.py: Add a test passing in something totally invalid as a user agent.
The given regex "^(?P<name>[^/ ]*[^0-9/(]*)(/(?P<version>[^/ ]*))?([ /].*)?$" is matching the group name with everthing I have tried(hence unable to find an invalid string), but not version if the string does not have a / . Is this the expected behavior?

zerver/lib/rest.py: Fixing this probabl

[2018-03-17 19:19] rishig commented on #5614
Hi @visuvasi, thanks for looking into this. I think we're pretty happy with zxcvbn, so aren't looking to change the password acceptance algorithm.

[2018-03-17 19:25] neiljp commented on #8698
How does #8737 look like as the first step, for zapier? If it looks reasonable, then I'll do something similar for the other integration.

[2018-03-18 06:24] prasanna-aj commented on #8149
@zulipbot claim - -force

[2018-03-18 06:25] prasanna-aj commented on #8149
@zulipbot claim --force

[2018-03-18 06:34] prasanna-aj commented on #8149
@zulipbot abandon

[2018-03-18 13:33] AasthaGupta commented on #8721
@zulipbot claim

[2018-03-18 14:09] AasthaGupta commented on #8723
@zulipbot claim

[2018-03-18 14:57] AasthaGupta commented on #8723
@HarshitOnGitHub It is showing the complete name for long topics.
See this topic:https://chat.zulip.org/#narrow/stream/7-test-here/topic/long.20abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabc
![](https://user-images.githubusercontent.com/15193262/37567289-c2e92854-2aea-11e8-8548-b6afdd7d03a1.png)

[2018-03-18 15:01] AasthaGupta commented on #8723
@zulipbot abandon
@HarshitOnGitHub It is showing the complete name for long topics.
See these topics:
https://chat.zulip.org/#narrow/stream/7-test-here/topic/long.20abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabc
https://chat.zulip.org/#narrow/stream/7-test-here/topic/long.20abcdefghijklmnopqrstuvwxyz.20abcdefghijklmnopqrstuvwxyz.20a
![](https://user-images.githubusercontent.com/15193262/3

[2018-03-18 15:07] HarshitOnGitHub commented on #8723
@AasthaGupta See these topics:
https://chat.zulip.org/#narrow/stream/153-hacker-news/subject/Pilot.2Ecom.20raises.20.2415M.20to.20bring.20bookkeeping.20into.20the.20moder.2E.2E.2E
https://chat.zulip.org/#narrow/stream/7-test-here/topic/A.20really.20lonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnng.20topic

![anim](https://user-images.githubusercontent.com/16687990/37567375-19bf8faa-2aec-11e8-8718-2439

[2018-03-18 17:23] #8690 closed, assigned to nobody

[2018-03-18 17:37] timabbott opened #8743 "CSS for "stream settings" email address widget is broken"
If you hover over this `?` widget on the per-stream settings page, you'll encounter two issues: ![image](https://user-images.githubusercontent.com/2746074/37568842-e20898e4-2a97-11e8-95e2-3ab15c49e5b3.png).

(1) The hover behavior is super buggy (the explanation widget seems to randomly appears and disappears while you have your mouse over it).

(2) The thing that appears doesn't have appropriate

[2018-03-18 17:39] AasthaGupta commented on #8723
The max length for a topic name is 60 characters as defined in `model.py`. If the length of any topic name (that is set by a bot) is greater than that then the topic name is truncated and ellipsis is added in the end. Otherwise if you create a topic from the web app, then at max you can enter only 60 characters and there is no truncation. Currently the tooltip shows the actual topic name, it just

[2018-03-18 17:43] HarshitOnGitHub commented on #8723
Ahh, thanks @AasthaGupta for the clarification!

[2018-03-18 17:43] #8723 closed

[2018-03-18 19:50] #8718 closed

[2018-03-18 19:55] #8721 closed

[2018-03-18 20:15] amanagr opened #8744 "Implement `/summarize` submessage command."
posting `/summarize` should summarize all the messages in a topic, we would prefer not to use any external API for this.

Discussion:
https://chat.zulip.org/#narrow/stream/2-general/subject/Summarize/near/544452

[2018-03-18 20:20] amanagr commented on #8744
@zulipbot label "help wanted"

[2018-03-18 21:51] v-superuser commented on #8149
@zulipbot claim

[2018-03-18 21:52] v-superuser commented on #8149
@zulipbot claim --force

[2018-03-18 23:04] shidarin opened #8745 "Image transparency replaced with checkerboard on zoom"
A PNG image with transparency is respected on the preview image within the chat stream:

<img width="175" alt="screen shot 2018-03-18 at 4 02 30 pm" src="https://user-images.githubusercontent.com/5846610/37572264-df31c3b0-2ac5-11e8-95ac-e4609b448583.png">

But not in the zoomed view:

<img width="536" alt="screen shot 2018-03-18 at 4 03 40 pm" src="https://user-images.githubusercontent.com/5846610

[2018-03-18 23:08] shidarin commented on #8745
Apparently this is only the case when Pan & Zoom is disabled. Turning Pan & Zoom to enabled causes the transparency to be respected.