[2020-01-28 23:04] jasonaowen commented on #13750
@timabbott, yes, it is silent when manually running `sudo -iu zulip /home/zulip/deployments/current/manage.py soft_deactivate_users -d >/dev/null 2>/dev/null`.

However, I do want to get email alerts if something goes wrong with running that script; I don't want to completely silence it! Is there a way to change the log level threshold for a single run of the script?

[2020-01-28 23:07] jasonaowen commented on #13750
As an aside, there doesn't appear to be any output on STDOUT during a successful run; this command is also silent: `sudo -u zulip /home/zulip/deployments/current/manage.py soft_deactivate_users -d 2>/dev/null`.

[2020-01-28 23:19] Mark-Simulacrum opened #13759 "Cannot add bot as organization administrator"
I think this somewhat recently started happening (I've created bots before) on the rust-lang instance (https://rust-lang.zulipchat.com).

I am seeing "Only organization administrators can add bots to this organization" despite, as best as I can tell, being an organization administrator. I've tried refreshing a couple times, but that didn't seem to help.

Happy to provide more information if it wou

[2020-01-29 00:13] shubhamgupta2956 commented on #13755
@zulipbot claim

[2020-01-29 00:17] stone212 commented on #13730
@mateuszmandera I do see errors and I'm sharing the ones that look important.  Do you want others?

No.  Prior to the 2.1.2 update, the server had a different email setup.  I changed it after the update (in fact after the restore).

But pointing those things out doesn't tell me what steps to take to resolve this Issue please.

[2020-01-29 01:16] oskar-fagerfjall opened #13760 "Welcome tour animation CPU usage high on Ubuntu 19.10"
Super cool project, started playing around with it after hearing it mention on Linux Action News. However, I almost rejected the project out of hand because leaving the web page open pins one of my CPU cores at 100%. Looking into it I found that the **welcome tour click-here animation** caused the CPU spike (power user: I read man pages, I don't click bouncy animations).

Steps to reproduce:

1. L

[2020-01-29 01:19] #13750 closed

[2020-01-29 01:20] timabbott commented on #13750
What specifically is the output?  Testing locally, the line I see is:
[code]

The bug is just that we were incorrectly using `logging.` rather than `logger.` to write that line (thus ignoring the module's logging configuration).

Thanks for the report!

[2020-01-29 01:20] jasonaowen commented on #13750
Yep, basically that, but with a different number. Thank you for fixing it so quickly!

[2020-01-29 01:27] timabbott commented on #9020
I regret that we didn't manage to add this back at the time, but at this point there's probably nobody with that old muscle memory anymore, so all that this change will accomplish is wasting the key "C" for potential future keyboard shortcuts.

I don't think there's anything left to do here but close this.  Sorry @kamalmarhubi!

[2020-01-29 01:27] #9020 closed

[2020-01-29 01:31] timabbott commented on #10216
Now that we use full `pm_conversations` data from the server, our typeahead ordering in master now includes (recent or not) private message activity with a user.  I'm not convinced we have the right prioritization of different ways that something could match right now, but I think it'd be a good idea to close this issue and replace it with specific actionable improvements (there's several open her

[2020-01-29 01:31] #10216 closed

[2020-01-29 01:33] timabbott commented on #11358
The main reason we do it on a message is that lets us ask the question "how many of the historical messages on the topic do you want moved".  I think it'd be reasonable for us to have a "rename topic" option in the left sidebar menus that just moves them all, but it'd be a somewhat ugly UI thing to build (in that we'd need to provide a place to enter the replacement topic).

Feel free to open a se

[2020-01-29 01:42] oskar-fagerfjall commented on #13760
I just got the same spike on my Windows desktop as well, when the tour animation was hovering over "New Topic". Come to think of it that was the place I saw it on Linux as well. However, on Windows and Chrome the animation stopped consuming CPU after a while (~1 min?).

[2020-01-29 01:49] showell commented on #13541
I am killing off the below code in #13761

[code]

The code itself has proven more dangerous than whatever it's supposedly protecting us from.  I dug all the way back to the original commit and couldn't find a comment explaining the use case.

[2020-01-29 01:51] showell commented on #13541
Once #13761 gets merged, it might be worthwhile to have @mateuszmandera test again and see if the issues are fixed.  (I think I may have fixed the other email-related thing a few weeks ago.)

[2020-01-29 01:58] showell commented on #13541
Oh, actually there's another nuance to deactivating users.  I think this is the current behavior:

* good: If you deactivate a user in the User page, they are **sticky** so you don't have to leave the page if you have immediate regrets and want to reactivate (plus you can kind of keep track of who you've deleted if you're hitting a few different people at once)
* good: Once you reload, the sticky

[2020-01-29 02:18] neiljp opened #13762 "Creation of temporary files in requirements/ can cause provision to fail"
An example to trigger this for me is was as follows:
* `cd requirements/`
* edit file using editor which creates temporary file in this location (eg vim, depending on configuration)
* `tools/provision`
* provision fails with an error like
[code]

This appears to be due to the venv management script not being able to handle the unexpected file produced by eg. vim.

This is not a major issue, but is

[2020-01-29 05:49] stone212 opened #13764 "Backup/Restore fail: tsearch"
Instead of waiting for responses to another error: https://github.com/zulip/zulip/issues/13730 I decided to re-build a zulip server to restore.

Re-installed from scratch, Ubuntu 18.04, installed Zulip with instructions from here:

https://zulip.readthedocs.io/en/stable/production/install.html

Stopped at step 3 and followed instructions here: https://zulip.readthedocs.io/en/stable/production/expo

[2020-01-29 06:06] stone212 commented on #13730
Because this is taking so long I decided to re-build the server.  That also failed (https://github.com/zulip/zulip/issues/13764) but I can not help de-bug this at this point but since I was not getting de-bug steps that seemed best at that time.

[2020-01-29 06:50] kou commented on #13216
Could you use `groonga-archive-keyring` https://packages.groonga.org/debian/groonga-archive-keyring-latest-buster.deb instead?

[2020-01-29 09:43] Hypro999 commented on #13295
Just an update: I've tried out a few more versions of AWX to see if I can determine where the change happened and this issue seems to have been introduced from AWX v9.0.0 onward. Though sadly the release notes at https://groups.google.com/forum/#!searchin/awx-project/AWX$209.0.0%7Csort:date/awx-project/YZqcSmspqL0/tiyQqZhbBAAJ don't seem to ever suggest this change.

[2020-01-29 10:24] sourabhdharpure commented on #13303
Hello @timabbott  I would like to work on this issue but not able to find the appropriate file, please help me regarding the same

[2020-01-29 10:50] Hypro999 commented on #13295
I think that the simplest and most efficient way to handle this would be to just use AWX's [custom notifications templates functionality](https://docs.ansible.com/ansible-tower/latest/html/userguide/notifications.html#create-a-notification-template) to re-introduce the missing key in the webhook payloads.

Particularly using the following template:
[code]
should do the trick. Of course, this templ

[2020-01-29 11:03] stone212 commented on #13764
Another update: I saw that `/usr/share/postgresql/10/extension/` does not have tsearch_extras.control so I manually added it from https://github.com/zulip/tsearch_extras.  The restore error was the same.

But it does make it look like tsearch_extras was not installed when I ran the new install (today) for Zulip latest and I think this could be the problem?

[2020-01-29 12:35] showell opened #13766 "pm list: Improve experience for convos w/deactivated users"
This is kind of an open ended issue to clean up the experience for dealing with PM conversations that were with users that have since been deactivated.

In 2018 we added this commit: 88b4a9f2d7f23e67e91edda420f4ce3058618515

The code has evolved a bit, but the basic pattern is still this:

[code]

If you have deactivated a user, we basically won't open the PM list.  The idea there is fine, but we

[2020-01-29 14:12] showell commented on #9857
@timabbott The three code paths already take advantage of any history that's there:

* search
* compose/enter topic
* compose/#stream > topic

It's worked that way for a while--the data structure's always been pretty basic, so when history gets added in, it's just kinda there for anyone who needs it.

So, I renamed the issue to indicate that our scope now is pretty small--we just want to be more a

[2020-01-29 14:17] showell commented on #9857
Tim knows this (caused he merged the changes), but for anybody else following along, I recently made it so that we track whether we've fetched topic history for any given stream.  This means we make at most one request to the server per stream now.  Also, any code outside of topic_data can still request topic history at any time; it will just be short-circuited as needed.  (In other words, calling

[2020-01-29 14:34] showell commented on #13726
I guess I'm not seeing the huge annoyances with deletes/updates.  I can imagine a small library that wraps access to the table:

* get_topics_for_stream
* get_last_message_id
* add_new_message_id (inserts new row or updates message_id for existing row)
* update_for_topic (does semi-expensive calculation against Message to recompute value)

For topic updates and deleting messages, we can just call

[2020-01-29 19:06] cyphase commented on #12281
FYI, this still exists in 2.1.x. Is the fix just a relatively obvious modification of the logic in that one function, or would more be required?

[2020-01-29 20:20] timabbott opened #13769 "Document improved interface for getting first unread messages"
In b25fea24e730a4694db165ec219b7fdc621e92a0, we added an much cleaner interface for requesting the first unread message as the anchor, `anchor='first_unread'` (rather than `use_first_unread_anchor=True` + `anchor=whatever`).

We should update the documentation for `GET /messages` to recommend this as the preferred mechanism.

See https://chat.zulip.org/#narrow/stream/3-backend/topic/'anchor'.20API

[2020-01-29 20:26] timabbott commented on #13766
Thanks for reporting this.  It isn't a corner case we've thought about in a long time, and that behavior is clearly wrong.

I agree we should make this work mostly like a thread with an active user, and just have the compose box code show that the user is deactivated, potentially via `compose_error`.

[2020-01-29 23:06] orientor commented on #13698
Although Taiga returns links in many cases, there are also cases where it does not return a permalink. For example when I am creating a "user story" with minimal details it returns link for user profile and project but not for the "user story". Here's the json file for this case:
`{"by":{"id":404067,"photo":null,"username":"orientor","full_name":"Aditya Verma","permalink":"https://tree.taiga.io/pr

[2020-01-29 23:12] orientor commented on #13698
This is probably a bug in Taiga. So I am thinking that in cases where we are provided with the link it will be displayed with link else we will just display the subject name.

[2020-01-29 23:17] cyphase commented on #10127
Just found this before opening the issue myself. I'm giving it a bump since there's been no activity since the report 1.5 years ago.

[2020-01-30 00:00] timabbott commented on #13295
I think we might be able to just stop using the `friendly_name` field from the payload and instead just use the `name` element -- that is potentially better output in any case.  And I think the conditionals we have in the code on `friendly_name` are mostly conditionals on whether a `hosts` element are there plus some duplicated code.  So we might be able to unify the templates as part of this.

[2020-01-30 00:02] timabbott commented on #13303
The code is split across several files.  `git grep twitter static/styles/ zerver/lib/bugdown/` is a good subset of it to read.

[2020-01-30 00:36] timabbott commented on #13698
Yeah, we should just do the best we can with what Taiga provides.

[2020-01-30 00:41] timabbott commented on #13764
This is #13612, thanks for the report as we'd lost track of that issue.  There's an easy workaround described in that issue (that you run on the original server before creating the backup).

[2020-01-30 00:41] #13764 closed

[2020-01-30 00:45] timabbott commented on #13730
I'm reopening this issue because I believe we have a theory for a problem for the backup/restore tool introduced in the memcached 2.1.2 that we should do a clean reproduction test for.

@andersk I **think** that the issue here might be `restore-backup` failing to ensure the memcached instance has the password it should have.  But I don't see how that's possible from the code; we run `zulip-puppet-

[2020-01-30 00:53] timabbott commented on #13612
The problem here is that older versions of zulip ran `CREATE EXTENSION tsearch_extras` on creation.  Which means when we stopped including that extension in the project, the `restore-backup` tool (Which replays the SQL on the new server) can't run this successfully.

We just need to run `DROP EXTENSION tsearch_extras` on every upgraded Zulip system.

This is an awkward problem to attempt in a norm

[2020-01-30 00:59] timabbott commented on #13762
Can you provide the full traceback and the filename?  We probably are globbing for `.txt` files in that directory as part of our logic to check if anything has changed in the configuration.

[2020-01-30 01:05] timabbott commented on #13541
Yeah, that's a good summary.  It might be OK to leave that on this issue until we have a chance to fix this bundle; @pragatiagrawal31 and @shubhamdhama have been active the last few days, so I think there's a good chance it'll be done soon by folks who know "hide emails" well.

[2020-01-30 01:09] timabbott commented on #12281
I think it's not a hard bug, it's just not been something we've had time to work on.

[2020-01-30 01:12] timabbott commented on #13726
It's certainly code we can write.  My concern is that the maintenance cost would be nontrivial, and if we can avoid creating this complexity, it'd be really nice.  I think it's a pretty quick project to do the postgres 10 test, so I kinda want to try that in the next few days and then decide from there.

[2020-01-30 01:17] timabbott commented on #13759
I think it's not a bug per-se, just bad copy -- that notice is to explain the permissions model in effect, not a warning letting you know that you can't do it (which is why the page isn't disabled).

(It says "Anyone in this organization can add bots` in the same place or that message, if the configuration works that way)

[2020-01-30 01:25] Mark-Simulacrum commented on #13759
Ah, I see. Maybe a link to https://rust-lang.zulipchat.com/#settings/your-bots makes sense to add?

[2020-01-30 01:26] #13736 closed

[2020-01-30 01:47] neiljp commented on #13762
I did look into it, and it doesn't glob (except implicitly via a `listdir`) - if it did on `.txt`, then this wouldn't be an issue. It currently feeds every file name in `requirements/` to `expand_reqs` and then on to `expand_reqs_helper`, which is what causes this. So it's processing `.in` files too, as it stands.

[2020-01-30 02:27] hashirsarwar commented on #13766
@zulipbot claim

[2020-01-30 02:31] chrisbobbe commented on #13728
I haven't loaded all this into my brain yet, but just a ping to say there's a @zulip/shared-labeled issue involving diacritics: https://github.com/zulip/zulip-mobile/issues/3710 🙂

[2020-01-30 05:07] stone212 commented on #13764
@timabbott

I see the fix you recommend and I agree it is probably the same issue but there are two points that make it not great in this situation:

1. I prefer not to do anything to the original system because it is working and, well, there is a history of these fixes causing other problems so I do not want to take that risk on a working production system.

2. Issue https://github.com/zulip/zuli

[2020-01-30 05:12] timabbott commented on #13764
I'm on my phone so will be brief but that won't work.  The situation here
is we removed that dependency and it just needs to be uninstalled from the
database.

If you don't want to do as I suggested here you can wait a few days and run
the fix we merge to master that will be in the next release.

-Tim Abbott (mobile)

On Wed, Jan 29, 2020, 21:07 stone.212 <notifications@github.com> wrote:

[2020-01-30 05:14] stone212 commented on #13730
@andersk

Also I ran `zulip-puppet-apply` manually when trying to fix the issue.

And I confirm that `zulip-secrets.conf` is the same on original and new server.

[2020-01-30 06:26] neiljp commented on #13762
@timabbott #13771 fixes the temporary-file issue for me, but I've not delved deep enough to know if the `.in` files should be excluded.

[2020-01-30 11:32] ab1nash commented on #13642
I am planning to make the following changes:
1. Add a semi-opaque background to the region in question, as suggested by chrisbobbe.
2. Removing the hover property and making the action buttons visible permanently when scene width reaches a particular threshold (mobile view).
Let me know if this is fine.

[2020-01-30 15:36] lixiran commented on #13710
@timabbott
thanks for your reply.
I have setup a keycloak and a gitlab on my laptop. I have successfully config the gitlab to use openid authenticate with keycloak. I am trying to integrate zulip with it too.
any suggestion how to debug this code ?

I have added the "keycloak" button in the social login section on the login page.  When I click it, the django throw 500 error because:
https://zulip.

[2020-01-30 17:06] danielepesciallo opened #13777 "Fail2Ban Integration"
Hello Everybody,
i think that can be a good choise to use Fail2Ban to increase the protection (for example, to protect from Brute Force attack).

I see that there isan old issue (#1755).. Is there any good news?

Thanks!

[2020-01-30 17:13] danielepesciallo commented on #13295
Hi @Hypro999,
I tried your trick and now i'm able to receive AWX Notification!

Thanks a lot!! 😄

Daniele

[2020-01-30 17:35] shubhamgupta2956 commented on #13755
@timabbott I cannot understand it correctly. Can you please explain it.

[2020-01-30 17:58] orientor commented on #13698
Added the user link. Now will add the link for user activities, sprints, etc.

[2020-01-30 18:45] chrisbobbe commented on #13777
It does seem like there's an old issue; thanks for the link! I'm closing this as a duplicate, to avoid splitting the conversation between two issues with the same purpose. 🙂

[2020-01-30 18:45] #13777 closed

[2020-01-30 18:59] chrisbobbe commented on #13711
Closing as a duplicate of https://github.com/zulip/zulip/issues/6427, where you'll find more detail about this. 🙂 You may also like to follow the discussion at https://chat.zulip.org/#narrow/stream/49-development-help/topic/moving.20topics.20between.20streams/near/812619, which has had some activity in the last few days.

[2020-01-30 18:59] #13711 closed

[2020-01-30 20:17] timabbott commented on #13642
I'd love to see a PR doing that; we may have more thoughts after playing with it.

[2020-01-30 20:19] timabbott commented on #13728
Yeah, that's an issue we addressed in the webapp typeahead long ago, and one of the things that it'll be very nice to share the fix for.

[2020-01-30 20:20] #13762 closed

[2020-01-30 21:12] timabbott commented on #13605
This was almost certainly fixed by #13690.

[2020-01-30 21:12] #13605 closed

[2020-01-30 21:38] grandemk commented on #13698
Let me know which webhooks are missing permalinks and I will report these to the taiga project.

https://taigaio.github.io/taiga-doc/dist/webhooks.html documentation says that there should be a permalink in the case you are describing.

[2020-01-30 22:20] timabbott commented on #13583
We should do this for feedback-bot as well.  I tested the following successfully on one of our servers:
[code]

We'll need to be careful about fetching the users -- we'll use `get_user`, and we'll need to do a `getattr(...)` or something to make sure the migration doesn't crash if the settings for `NEW_USER_BOT` aren't set (since we did remove them).  I'd expect on systems where the migration is u

[2020-01-30 22:21] timabbott commented on #13583
(The urgency of this is significantly increased because that `late_add_user` code path now triggers much more readily in the new left sidebar code, so we should consider this a priority fix).

[2020-01-30 22:23] timabbott commented on #13755
It means for now, just include it in the email, but we may later store it in the database.

[2020-01-30 22:32] timabbott commented on #13710
We can't help with debugging your code unless you submit your code as a pull request to include in Zulip with a way for us to test it (as mentioned above); it's clear there's some sort of bug in your code, but there's no way for me to guess what it is.

[2020-01-30 22:44] timabbott commented on #13751
@Rodriq you need to run it in a Zulip development environment; `pip install requirements/docs.txt` is an option (that's how it's built for ReadTheDocs) but generally we recommend just setting up a properly environment.

[2020-01-30 22:44] #13751 closed

[2020-01-30 22:45] #13560 closed

[2020-01-31 04:17] andersk commented on #13760
Here’s this [animation extracted into a small JSFiddle](https://jsfiddle.net/anderskaseorg/hton5p2m/show). Does this show the same behavior for you? It does use about 30%–50% of a CPU core for me, which isn’t 100% but still isn’t great.

We should consider doing something more subtle like bouncing once every few seconds instead of continuously.

[2020-01-31 05:35] andersk commented on #13745
This still fails in complicated cases:

[code]

[2020-01-31 13:07] subodhk01 commented on #13450
@zulipbot claim

[2020-01-31 18:15] Rodriq commented on #13769
@zulipbot claim

[2020-01-31 20:24] #13636 closed

[2020-01-31 20:30] #13693 closed

[2020-01-31 20:47] #13547 closed

[2020-01-31 20:50] timabbott commented on #11809
This is likely fixed by the rewrite of the `pm_list` component this week to use a virtual DOM.

[2020-01-31 20:50] #11809 closed

[2020-01-31 20:51] timabbott commented on #8042
I think this was fixed by #9191 and related work.  Thanks for the report!

[2020-01-31 20:51] #8042 closed

[2020-01-31 20:52] timabbott commented on #8236
Given we haven't seen this since we reworked how unread message are tracked to use a better data pathway, I'm guessing this was indeed fixed in #9191 or related.

[2020-01-31 20:52] #8236 closed

[2020-01-31 20:55] timabbott commented on #2181
The work described here was done a long time ago; that logic doesn't run on homepage load and just does data work with no templating.  While there are other current performance issues with larger numbers of stream subscribers in "manage streams", this 2016-era issue should just be closed.

[2020-01-31 20:55] #2181 closed

[2020-01-31 20:56] timabbott commented on #2019
This was fixed years ago.

[2020-01-31 20:56] #2019 closed

[2020-01-31 20:56] timabbott commented on #6288
What we had in mind when we opened this was resolved earlier this year, through fetching deep data from the server for populating `is:private`.

[2020-01-31 20:56] #6288 closed

[2020-01-31 20:57] timabbott commented on #6923
I'm pretty sure this was fixed a couple years ago; it's certainly not reproducible.

[2020-01-31 20:57] #6923 closed

[2020-01-31 21:02] timabbott commented on #7151
Closing this as probably not worth working on.

[2020-01-31 21:02] #7151 closed

[2020-01-31 21:03] timabbott commented on #5913
This was done last year.

[2020-01-31 21:03] #5913 closed

[2020-01-31 21:05] #9277 closed

[2020-01-31 21:05] timabbott commented on #10579
Closing due to lack of input from the reporter.

[2020-01-31 21:05] #10579 closed

[2020-01-31 21:57] orientor commented on #13698
@grandemk I have tried many cases but I have been unable to receive a single link of the User Activity in any case. I am using Taiga through the normal tree.taiga.io site. Maybe it is a bug in Taiga. I am receiving the 'sprint name' though, so I have made the feature that different sprint activities come under different topics.

[2020-01-31 22:29] #13638 closed

[2020-01-31 22:33] orientor commented on #13698
Raised an [issue](https://github.com/taigaio/taiga-back/issues/1391) in the Taiga repository.

[2020-01-31 23:41] timabbott opened #13787 "events: Investigate likely buggy stream creation event generation code"
We have this block of code in `zerver/lib/events.py` for processing stream creation events:

[code]

I'm suspicious that this code is wrong.  Why should settings details like `is_announcement_only` be correctly guessable here, and why shouldn't we just be getting those values from the `stream_data` object?

For debugging this, we'll want to add a print statement in that block and run `test-backend

[2020-02-01 00:02] timabbott commented on #13658
@hackerkid I think this bug is important, so it'd be great if you can prioritize it.  (At least the `access_message` support for `message.sender` part).

I'm not sure it makes sense to increase permissions of "incoming webhook" bots to be able to edit/delete/react to messages they themselves sent; that might be a permissions change we don't want to do (instead requiring folks to use a "Generic Bot

[2020-02-01 01:17] timabbott commented on #13710
Though the 404 is probably not having enabled the backend in AUTHENTICATION_BACKENDS in `zproject/dev_setitings.py`?

[2020-02-01 01:20] timabbott commented on #13715
My guess is Zabbix is sending other events in a different format.  @pomazanbohdan is this on zulipchat.com or a server you're self-hosting?  For the latter, there should be details on the problematic event in `/var/log/zulip/webhook*.log`.

[2020-02-01 09:25] Hypro999 commented on #13295
@timabbott: So if we've decided to make changes to the integration code, then I think I found an acceptable patch. We could just use the URL to determine if the "friendly_name" was job (and all other "friendly_name"s will just follow the second template message). I opened a PR to demonstrate what I mean. Could please take a look? I think that it should do the trick.

[2020-02-01 10:59] pragatiagrawal31 commented on #13625
This can be closed now!

[2020-02-02 05:28] mayankwadhwani commented on #13657
@zulipbot claim

[2020-02-02 05:30] mayankwadhwani commented on #13657
Hi, I am new contributor to the zulip community. Please help me to get started with a good first issue. I tried claiming this issue as it seemed to be for beginners. Please help me. Thanks

[2020-02-02 05:32] mayankwadhwani commented on #13737
@zulipbot claim

[2020-02-02 05:38] arunikayadav42 commented on #13622
@zulipbot claim

[2020-02-02 05:39] arunikayadav42 commented on #13622
@timabbott As there had been no activity on this issue, can I begin to work on this one as I am a beginner? Thanks :)

[2020-02-02 05:40] arunikayadav42 commented on #13622
@punchagan As there had been no activity on this issue, can I begin to work on this one as I am a beginner? Thanks :)

[2020-02-02 05:42] mayankwadhwani commented on #12951
@zulipbot claim

[2020-02-02 05:43] mayankwadhwani commented on #12951
@zulipbot claim

[2020-02-02 05:45] arunikayadav42 commented on #12951
@zulipbot claim

[2020-02-02 05:47] arunikayadav42 commented on #12951
Can somebody please guide me how to proceed with this issue? Thanks :)

[2020-02-02 05:55] arunikayadav42 commented on #12281
@zulipbot claim

[2020-02-02 06:06] arunikayadav42 commented on #12281
Can somebody please help me get started with this issue ?Thanks

[2020-02-02 06:18] arunikayadav42 commented on #12281
@zulipbot abandon

[2020-02-02 06:19] arunikayadav42 commented on #12277
@zulipbot claim

[2020-02-02 06:29] arunikayadav42 commented on #12277
Please help me get started with this issue, thanks :)

[2020-02-02 09:08] pomazanbohdan commented on #13715
My zulip in zulipchat.com,

[2020-02-02 09:55] prachi-28 commented on #13622
Hey! Can I work on this issue?

[2020-02-02 09:56] prachi-28 commented on #13450
@zulipbot claim

[2020-02-02 14:39] showell commented on #13787
I think `stream_weekly_traffic` is a sensible default here for new streams: 0573c17819744143dde797d378f90fa33520bc0f

Not sure about the others...

[2020-02-02 14:40] showell commented on #13787
Obvious `is_old_stream` makes sense to be False: c7650c0d9dcf80d71bafc4b551380dcedd933401

[2020-02-02 14:42] showell commented on #13787
I think 295fcb8536ddc8df1c579257a47daff99d4ce0ae is where `is_announcement_only` was broken, and it was probably just cargo-culted.

[2020-02-02 15:59] showell commented on #13734
It looks like mobile uses email here, so we'll need some kind of flag or check that the-webapp-is-the-client to eliminate emails in presence.  @gnprice Am I correctly interpreting that this code is depending on email from the presence payload?

[code]

[2020-02-02 17:55] ugintl opened #13798 "Zulip on large traffic environments"
I would like to know that what are server resources needed for 50,000+ daily active users?

I have heard and read that zulip is very performance intensive and requires very high RAM to manage above 1000 active users. Please shed some light.

[2020-02-03 01:34] timabbott commented on #13787
I think those are sensible defaults but I'm not sure why we aren't able to set these fields correctly inside `send_stream_creation_event` instead, which seems like the appropriate place to set these fields.

Probably what we'll actually want to do here is some more careful reorganization of the code around creating dictionaries of stream data, like we just did with the `zerver/lib/users.py` and `f

[2020-02-03 02:53] timabbott commented on #13787
OK, I cleaned this up substantially via the commits ending with 51706bdc3aaca095d82760fa5d9fb12eb3256cf1.  The fix for this specific corner bit of code is roughly this:

[code]

However, that doesn't actually work, because it exposes the fact that we're not including `is_old_stream and `stream_weekly_traffic` in `stream.to_dict()` everywhere else (it's only done in Subscription-to-API use cases).

[2020-02-03 03:06] timabbott commented on #13798
@ugintl it depends on your planned use case (how active the users will be matter a great deal, and how they are organized into realms and streams).  https://zulip.readthedocs.io/en/latest/production/requirements.html#scalability has some sample numbers that we update periodically.

Zulip's presence system isn't designed to handle 50K daily active users in the same realm/organization, but will work

[2020-02-03 03:06] #13798 closed

[2020-02-03 04:04] timabbott commented on #5677
This was completed in #12044.  I expect we'll have some follow-up issues for whatever pieces of making this system nice we don't complete, but those should be their own issues.

[2020-02-03 04:04] #5677 closed

[2020-02-03 04:07] timabbott commented on #6962
@mateuszmandera was this resolved in a7ec1a089c2b3c5c531dde698df6c1396fb20437?

[2020-02-03 04:20] timabbott commented on #13625
Yes, fixed in #13731.  Next time remember to close the issue in one of the commits.  Thanks @pragatiagrawal31!

[2020-02-03 04:20] #13625 closed

[2020-02-03 04:21] #13295 closed

[2020-02-03 05:22] Hypro999 commented on #13746
@bangpradyumna: Yup, you can definitely work on this issue without claiming it! If you think you can solve it, then just leave a small message here to let others know and you can start working on it right away! Don't worry about that message from the zulipbot, it's more of a suggestion than a rule 🙂

[2020-02-03 05:25] timabbott commented on #13715
OK.  Did this happen by any chance the first time you set this up?  It's possible Zabbix added a "ping" request that's sent when one first configures a webhook for testing, and that doesn't use the same format as other events.

[2020-02-03 05:36] #13139 closed

[2020-02-03 08:18] AyushHazard commented on #3938
@zulipbot claim

[2020-02-03 09:16] thetruechar opened #13806 "./zulip-server-*/scripts/setup/install failed in ubuntu 18.04"
`pip install` failed; retrying...
+ /srv/zulip-venv-cache/546c5f60162d0b5be09d52adebaa995f9c609da3/zulip-py3-venv/bin/pip install --force-reinstall --require-hashes --requirement /root/zulip-server-2.1.2/requirements/pip.txt
+ /srv/zulip-venv-cache/546c5f60162d0b5be09d52adebaa995f9c609da3/zulip-py3-venv/bin/pip install --no-deps --require-hashes --requirement /root/zulip-server-2.1.2/requirements/

[2020-02-03 09:55] lixiran418 commented on #13710
@timabbott
thanks for the advice.
my code is like:
AUTHENTICATION_BACKENDS = (
    'zproject.backends.DevAuthBackend',
    'zproject.backends.EmailAuthBackend',
    'zproject.backends.KeycloakAuthBackend',
)

I have done some work in the past few days.

1.  I implement the keycloak with oauth2 protocol
class KeycloakAuthBackend(SocialAuthMixin, **KeycloakOAuth2**):

Now I can use the oauth2 to aut

[2020-02-03 10:53] soumyaa1804 commented on #12951
@zulipbot claim

[2020-02-03 17:07] arunikayadav42 commented on #12277
@penCsharpener @timabbott @punchagan Please let me know

[2020-02-03 17:54] AyushHazard commented on #13644
@zulipbot claim

[2020-02-03 18:39] neiljp commented on #11568
I assume this is still an intentional feature (and for the front-end), since I was just thinking whether this might be a good addition to ZT?

[2020-02-03 18:45] aero31aero commented on #11568
Yes, this is intended. It's the implementation part that hasn't been agreed upon right now, but the idea is to not have a dedicated syntax for this, instead relying on hyperlinks. So, if ZT supports clicking on a link to a message to jump to it, then this should automatically be supported when merged.

ZT would also need to make changes identical to the quote-and-reply feature of the frontend for

[2020-02-03 18:53] timabbott commented on #12277
@arunikayadav42 this is already being worked on in #13596.

[2020-02-03 19:43] timabbott commented on #13806
@thetruechar the actual error output is above what you pasted.  I suspect the issue is an OOM issue -- how much RAM does your system have?

[2020-02-03 21:45] #11990 closed

[2020-02-03 22:27] #11216 closed

[2020-02-03 22:35] timabbott commented on #10386
@hackerkid can you test whether we end up setting these attributes properly after data import?  I think #12912 might have automatically fixed this by having those attributes be set during message rendering, but it's possible we didn't hook up the plumbing properly.

[2020-02-03 22:35] timabbott commented on #10273
@hackerkid we should do some planning for this.  I think the main blocker for doing it is having an appropriate upload library, which you've worked on but hasn't been merged; I'm going to look at that next.

[2020-02-03 23:00] timabbott commented on #13657
This isn't a great issue for beginners, as it requires understanding details of how the database works.

[2020-02-04 04:59] arunikayadav42 commented on #12277
@zulipbot abandon

[2020-02-04 05:00] arunikayadav42 commented on #12769
@zulipbot claim

[2020-02-04 05:01] arunikayadav42 commented on #12769
Is this issue still open to contribute to?

[2020-02-04 05:07] arunikayadav42 commented on #13622
@zulipbot claim

[2020-02-04 05:08] arunikayadav42 commented on #12281
@zulipbot claim

[2020-02-04 05:09] arunikayadav42 commented on #12281
Does this need to be fixed for 2.1.x ?

[2020-02-04 05:12] arunikayadav42 commented on #12281
@cyphase can you please add screenshots?

[2020-02-04 05:27] arunikayadav42 commented on #12744
Is this issue still open to be worked on @rishig @timabbott ?

[2020-02-04 05:47] soumyaa1804 commented on #12951
@zulipbot abandon

[2020-02-04 06:18] lixiran418 commented on #13710
I doubt the problem is :
When I click keycloak login button  on the login page. it goes to below function in auth.py

def start_social_login(request: HttpRequest, backend: str) -> HttpResponse:
    backend_url = reverse('social:begin', args=[backend])
    if (backend == "github") and not (settings.SOCIAL_AUTH_GITHUB_KEY and
                                      settings.SOCIAL_AUTH_GITHUB_SECRET):

[2020-02-04 06:35] lixiran418 commented on #13710
this is a good request:
2020-02-04 04:39:15.325 INFO [zr] 192.168.3.78    GET     302  72ms (db: 32ms/2q) /login/keycloak/ (unauth via ?)

this is a bad request:
2020-02-04 06:09:39.192 INFO [zr] 192.168.3.78    GET     404  93ms (md: 21ms/1) (db: 1ms/1q) /login/keycloak/ (unauth via ?)

in bad request, seems the /login/keycloak is not stored by django ?

[2020-02-04 07:22] cyphase commented on #12281
@arunikayadav42 Of what exactly? It's not really a UI bug, it's a logic bug.

[2020-02-04 09:28] datamuc commented on #526
Shut up zulipbot

[2020-02-04 10:01] thetruechar commented on #13806
4G  @timabbott

[2020-02-04 16:42] kian2attari commented on #4240
@zulipbot abandon

[2020-02-04 19:05] jmanuelc87 commented on #12951
@zulipbot claim

[2020-02-04 19:25] gnprice commented on #8177
We just had a fresh report of this, in the form of an App Store review titled "Mobile app needs work- profile picture is sideways". It'd be good to fix.

I found it took a bit of doing to refresh myself on the state of this thread, so I went and wrote a new description with where it currently stands.

[2020-02-04 19:46] AyushHazard opened #13820 ""Full Name" doesn't change immediately after editing in settings"
The "full name" of the user doesn't change immediately after editing the name, the changes are reflected only after refreshing the page.

Screenshots of the issue:
1. Initially the name was "Name", I was changing it to "New Name"
![Screenshot 2020-02-05 at 1 09 15 AM](https://user-images.githubusercontent.com/39935516/73780604-c8fe0f00-47b4-11ea-8079-5109c3bf6266.png)

2. After clicking "Change" t

[2020-02-04 21:53] #12304 closed

[2020-02-04 21:57] timabbott commented on #12304
@pragatiagrawal31 just a note: Apparnetly "partially fixes: "  triggers GitHub's automatic issue closing code.  So we should avoid that pattern.

That said, I think we've actually fixed everything here except for the two that are their own issues, so it was reasonable to actually just close this issue.

[2020-02-04 22:02] timabbott commented on #13820
I haven't tried reproducing but this sounds like a potential regression in our real-time sync code for that page.  @pragatiagrawal31 do you have time to investigate?

[2020-02-04 22:11] timabbott commented on #13806
OK.  Can you provide the full output (e.g. from `/var/log/zulip/install.log`)?  The above doesn't tell us what the actual error is.  Also, what environment are you installing in?

[2020-02-05 01:11] #13616 closed

[2020-02-05 01:25] timabbott opened #13823 "Follow-ups to addition of new stream_post_policy feature"
Copied from https://github.com/zulip/zulip/pull/13768#issuecomment-582196283:

There's some follow-ups we should definitely do:
* [ ] Once this is deployed to chat.zulip.org (very soon), test to make sure the mobile app can still create streams and still provides a good error message posting to streams with posting restrictions.
* [ ] I think it'd be helpful for `stream_types.hbs` to have a link t

[2020-02-05 01:38] SivaGanapathy98 commented on #13737
@zulipbot claim

[2020-02-05 01:41] #11568 closed

[2020-02-05 01:41] #12446 closed

[2020-02-05 07:27] AyushHazard commented on #3938
@timabbott does this work? I've tried to fix 2 issues with this PR.

[2020-02-05 11:14] ryanreh99 commented on #13823
@zulipbot claim

[2020-02-05 16:17] arunikayadav42 commented on #12281
Yeah ! Figured out that later but I am not able to create an invite neither in development bor in production. Can you help me do that ? That is why I was asking for a screenshot or screen-recording

[2020-02-05 17:49] noemartinez opened #13828 "Outgoing webhook bots don't work in private streams unless the bot or the bot owner is subscribed"
It sounds like an outgoing webhook bot [should be able to reply in private streams, even when the bot or the bot owner are not subscribed](https://chat.zulip.org/#narrow/stream/31-production-help/topic/bots.20and.20private.20streams/near/814487). But that's not the behavior I'm seeing. If neither the bot nor its owner is subscribed to a private stream, the reply from the bot doesn't come back to t

[2020-02-05 19:29] pragatiagrawal31 commented on #13820
@zulipbot claim

[2020-02-05 19:49] thedeveloperr commented on #13052
@zulipbot claim

Will resume my work on it.

[2020-02-05 19:56] thedeveloperr commented on #13172
This project looks really cool !! I would like to be part of it. @timabbott where can start to contribute ?

[2020-02-05 20:45] timabbott commented on #13828
OK, I see the issue: The bot can __receive__ the message, but when it tries to reply, our validation doesn't take into account the fact that it is replying to a specific message as a form of authorization, and rejects the reply.

[code]

The fix may be a bit involved; we basically want to have `send_response_message` pass the `message_id` of the message that it is responding to, verify that messag

[2020-02-05 21:23] timabbott commented on #13734
So I think the design we're putting together for how the revised presence protocol should work is as follows.  (Note: I intend to edit this message as we discuss details of the design).
* On the backend, we rewrite the `UserPresence` table to instead have 4 fields: `realm_id`, `user_profile_id`, `last_connected_time`, `last_active_time`.  Active referring to actual user input.
* Clients continue t

[2020-02-05 21:31] timabbott commented on #13734
A few open questions:
* For a user who was last active 3 weeks ago, do we want to use the more accurate `last_active_time` or the more complete `last_connected_time` for displaying to other users when this user last used Zulip?  I can imagine some investigation/debugging use cases where one might care about having a precise value.  Potentially we could just have some sort of backfill job copy data

[2020-02-05 23:56] timabbott commented on #13172
@thedeveloperr great!  I think the first step is to get the two branches linked above rebased and woring properly.

[2020-02-06 04:40] arunikayadav42 commented on #12281
I am able to reproduce this bug after creating another realm but I think the issue is not with the actions.py file but when a user clicks the invitation link, then an action that is triggered causes changes in the backend. How do I figure out that piece of code ?

[2020-02-06 04:41] arunikayadav42 commented on #12281
@cyphase @timabbott ?

[2020-02-06 10:24] tk1017 commented on #13622
@zulipbot claim

[2020-02-06 10:50] tk1017 commented on #13622
Hi, @timabbott , i have worked on the issue and i have the necessary changes noted down. I am new to open source community. I have decide the changes to be made by inspecting the element. I don't know how to add the changes to my development environment. Can you help me how to do that? I am using a vagrant development environment setup. Thank you in advance.

[2020-02-06 15:11] corlettim commented on #3128
@zulipbot  my team and I are currently working on the issue and plan to push to this PR later today!

[2020-02-06 15:21] mateuszmandera commented on #6962
@timabbott Yes, I think this can be closed.

On Mon, Feb 3, 2020 at 5:07 AM Tim Abbott <notifications@github.com> wrote:

[2020-02-06 17:56] cheald commented on #12953
To add on to this, `![alt](url)` syntax in quotes breaks in an interesting way:

When I have a message like:

[code]

This renders as so:

![image](https://user-images.githubusercontent.com/9830/73964361-40c05c80-48cf-11ea-9007-9b44455b8458.png)

But then when you click the link, the browser opens it as `https://zulip.mydomain.comhttps//some.com/image.png`.

[2020-02-06 18:39] DhamiSamreet commented on #13820
@zulipbot claim

[2020-02-06 19:57] dobleuber commented on #6427
@zulipbot claim

[2020-02-06 20:04] ray-kraesig opened #13836 "`to` field of /api/v1/messages is interpreted as a list regardless of context"
When a client attempts to send a message to a stream, `extract_recipients` is still invoked on the `to` field, and still attempts to interpret it as a list.

This means that a stream name which contains commas, or (less plausibly) which appears to be valid JSON, cannot be sent directly; it must be encoded as a JSON list containing a string containing the stream name. Otherwise, the stream name is

[2020-02-06 20:42] arpit551 commented on #13080
@zulipbot claim

[2020-02-06 23:01] volo-zyko commented on #1755
@timabbott, I found the following [issue](https://code.djangoproject.com/ticket/24465) in the django's bug tracker. fail2ban is not the only remedy to brute force attacks. There are others, like https://github.com/jazzband/django-axes . It looks like the latter can be integrated to zulip without requiring externally added log filters.

[2020-02-06 23:27] chrisbobbe opened #13839 "Can't select a stream on mobile web in some cases"
A regular user at the Recurse Center reports an issue with scrolling the list of streams in the left sidebar, and I was able to reproduce it in Firefox, Chrome, and Safari on my iPhone (iOS 13.3), but not in "responsive design mode" on any of these browsers on my Mac, possibly because of differences in how scroll events are handled with these being only simulations of a touch screen.

It should be

[2020-02-06 23:29] chrisbobbe commented on #13839
Here's a link to the report (accessible to members of the RC realm only): https://recurse.zulipchat.com/#narrow/stream/19176-zulip/topic/Mobile.20Web/near/187586805

[2020-02-06 23:35] StarWhiz commented on #13760
I was wondering why my zulip desktop app was causing my computers fans to spin high when there was nothing going on. I saw CPU usage at 20-35% on an 8th generation i7 which I thought was strange.

After going through the tutorials and restarting zulip it is back to low CPU Usage even when idle.

This was with a new account with zulip desktop app running on Windows 10 Pro 1903.

[2020-02-07 06:29] tk1017 commented on #13622
@timabbott @zulipbot i have done the necessary changes on my system as you can see in the screenshots.
![Screenshot from 2020-02-07 11-50-25](https://user-images.githubusercontent.com/49960157/74006302-471f0900-49a1-11ea-9cf2-420ca3686993.png)
![Screenshot from 2020-02-07 11-50-46](https://user-images.githubusercontent.com/49960157/74006316-4f774400-49a1-11ea-95c9-23433f363e6f.png)

[2020-02-07 08:58] hackerkid commented on #13658
@timabbott I tested this in dev environment and chat.zulip.org. The bot in dev environment was able to access the message and delete it even without subscribing to the stream. Was able to access the message in CZO as well (Coudn't delete since we have deleting messages disabled).

Going through the code it looks like there are no restrictions that prevents bots that are not subsribed to public str

[2020-02-07 09:10] tk1017 commented on #13622
@zulipbot claim

[2020-02-07 09:17] cheald commented on #12953
I've gone ahead and fixed this for my own usage here, building on the work that @aero31aero did: https://github.com/cheald/zulip/tree/better-image-support

* Converts `![]()` images to `[]()` form when quoting from the UI
* Doesn't ignore explicitly embedded images (with the bang) in blockquotes

[2020-02-07 17:18] showell commented on #13836
Huh, this is annoying.  We should probably have two different versions of `extract_recipient` based on whether `type` is equal to "stream" or "private".  In the stream case, we should never split on commas and just treat stream as a single stream.

We should also add support for `stream_id` as a parameter for the messages API, which is more robust in the face of stream names (and was part of the o

[2020-02-07 17:56] Vivekk07 commented on #13737
@zulipbot claim

[2020-02-07 18:08] timabbott commented on #13658
The issue is for private streams.

-Tim Abbott (mobile)

On Fri, Feb 7, 2020, 00:58 Vishnu Ks <notifications@github.com> wrote:

[2020-02-07 18:15] hashirsarwar commented on #13584
@zulipbot claim

[2020-02-07 18:36] #12277 closed

[2020-02-07 20:52] orientor commented on #13698
Bug has been fixed. Updating the code.

[2020-02-07 21:37] timabbott opened #13845 "provision: Clean up interface for template_database_status"
Following 84edb5c5162e9299ab5fb6a0a59c402484caa98c, it's clear that we should have a cleaner database for how the arguments to `template_database_status` are passed to correctly check whether the target database (whether zulip_test_template, used by `test-backend`, or the ).  I think we could do significantly better by defining a class or TypedDict defining the settings for the `zulip_test_templat

[2020-02-07 21:46] timabbott commented on #13836
I think in any case our solution should switch to enable sending to a stream ID, because that's a better interface in several ways.  But https://github.com/zulip/zulip/compare/master...timabbott:stream-name-req-hackery?expand=1 is an approach that could be made workable to hackily support this if we wanted to for backwards-compatibility.

[2020-02-07 22:28] gnprice commented on #13836
We should enable sending to a stream ID too. But if we aren't going to say using a stream name here is completely deprecated, then we should also fix it so that it doesn't break depending on the characters found in the stream name. And I think we don't want to say that's deprecated -- you've talked before about wanting to keep supporting the use of stream names, for the sake of simple bots and int

[2020-02-07 22:35] #13588 closed

[2020-02-07 22:39] timabbott commented on #13698
Taiga is something folks can self-host; what's the failure mode if one's running an old version of Taiga?  I think the right answer would be to fallback to just including the details without the link; is that what your implementation does?  If so, it'd be great if you can point to a test for it.

[2020-02-07 22:45] #6962 closed

[2020-02-07 22:59] cheald opened #13847 "Webhooks posting as form/multipart causes 500s"
Hellosign [posts their callback as form/multipart](https://app.hellosign.com/api/eventsAndCallbacksWalkthrough), which Django only permits to be read once. Attempts to access `request.body` after the initial read throw "django.http.request.RawPostDataException: You cannot access body after reading from request's data stream".

You can trivially reproduce this locally, by provisioning a webhook API

[2020-02-07 23:24] cheald commented on #13847
I was able to fixup the HelloSign webhook by changing the decorator arguments:

[code]

[2020-02-07 23:40] timabbott commented on #13847
@cheald thanks for the report.  Do you an to just submit that change as a pull request?

[2020-02-07 23:41] cheald commented on #13847
Happy to, though Hellosign still isn't working (though I think it's on their end), as submitting a URL with multiple query parameters (ie, ?api_key=xxx&stream=yyy) causes an error to be thrown on their end.

I'll need to figure out how to generate updated fixture data and fix the tests, as well.

[2020-02-08 06:25] stone212 commented on #13764
@timabbott Will this Issue thread be updated with the pull/version/etc. info when it is integrated into the master repo?  I will upgrade at that time.  (I already tried twice a few days after the last post and don't want to keep running the whole backup/restore process until I know it's time).  Thank you.

[2020-02-08 12:40] showell opened #13851 "Fix wording: "End of results from your personal history.""
When I search for messages sent by another user, I get this funny message at the top of my feed.

I don't know why messages sent by this user are called my "personal history".

![image](https://user-images.githubusercontent.com/142908/74085266-4dff5780-4a45-11ea-84ef-ab1b078584d0.png)

@timabbott You added this wording in 3a41cb6c288b33fcd0f6d6cfa355ac22638db500.  I guess "personal history" means

[2020-02-08 12:42] showell commented on #13851
For folks looking to fix this, we would first need to decide on wording.  You can start a discussion on https://chat.zulip.org/#narrow/stream/6-frontend or just reply here, if you have suggestions.

[2020-02-08 13:37] orientor commented on #13698
Yes I have made sure that backwards compatibility is not a problem. I have not changed the old fixtures but rather added new ones. So the old tests run on the json files returned by the old Taiga.

[2020-02-08 16:20] mateuszmandera commented on #13541
Issue 1 still seems to be there on master. The blueslip error and disappearing column I can't reproduce anymore, so seems fixed.

[2020-02-08 16:34] mateuszmandera opened #13854 "Add an integration for Uptime Robot"
It could be useful to support incoming webhooks from [Uptime Robot](https://uptimerobot.com/). https://zulipchat.com/api/incoming-webhooks-overview has documentation on adding this kind of integrations.

@orientor Would you be interested in working on this?

[2020-02-08 17:48] orientor commented on #13854
Yeah, sure.

[2020-02-08 21:55] showell commented on #13734
I finally assigned myself to this issue. :)

So far, this has been merged:
* added slim_presence flags so webapp can evolve without breaking mobile and other api clients
* we use user_id instead of email in most (all?) payloads to the webapp client
* extracted zerver/lib/presence.py

PRs are out for:
* clean up JS code a bit
* add realm_id to UserPresence

On a private branch:
* remove client info

[2020-02-08 22:18] cyphase commented on #13734
This is very likely a niche use case, but I actually do include the client information in the presence notifications my notifier script sends me. For context, this is regarding a Zulip instance for a very non-technical organization. It's especially helpful with new users, who might not immediately realize that there's a mobile app they can install (even after I mention it to them in a PM). I can s

[2020-02-08 22:27] showell opened #13857 "proposal: Add realm_id to more database tables"
In #13856 I am adding realm_id to UserPresence.

Assuming we merge that PR and are happy with the changes, I will probably also add realm_id to PushDeviceToken.

The above two tables are specifically related to our effort to improve the performance of our presence system, but I think it's generally a good idea to have realm_id foreign keys on any tables that clearly are disjoint across realms (whi

[2020-02-08 22:34] showell commented on #13734
@cyphase That's a great data point, thanks!  Tim earlier alludes to `UserActivity` as another possible source of info for debugging/logging/etc., but I've lost track of what we keep in that table.  On a related note I am prioritizing some of the other suggested improvements first, since I don't think the client info in the database is the ultimate bottleneck here.

[2020-02-08 22:52] showell commented on #13857
Here's another grep that I did:

[code]

Here are the relevant tables:

## PreregistrationUser ##

too small to worry about?

## Message ##

I assume `Message` is off the table, but here is more context on how we possibly are table-scanning a significant chunk of that table whenever we try to impose the 10k-message limit (I think that's what this code is for):

[code]

## UserGroupMembership ##

I

[2020-02-09 00:52] timabbott commented on #13764
Yeah we'll update here when it's ready.

-Tim Abbott (mobile)

On Fri, Feb 7, 2020, 22:25 stone.212 <notifications@github.com> wrote:

[2020-02-09 07:45] hashirsarwar commented on #13584
@hashirsarwar abandon

[2020-02-09 07:46] hashirsarwar commented on #13584
@zulipbot abandon

[2020-02-09 07:46] hashirsarwar commented on #13845
@zulipbot claim

[2020-02-09 18:24] prajwalgowdahg commented on #13755
i would like to work on this

[2020-02-09 20:26] shubhamgupta2956 commented on #13755
@prajwalgowdahg I am currently working on this issue. Please take another one.

[2020-02-09 22:05] cheald commented on #9549
I'm debugging this one. It happens because `$message.attr("zid")` returns a string (ie, "1391"), but `message_store.get()` expects an int (ie `1391`).

[2020-02-09 22:50] cheald opened #13865 "Behavior changes: feedback requested"
Hey there. I've continued to hack on our internal Zulip install to meet our users' needs, and I've worked out a few things that we find useful, but I'm not sure if they're appropriate for upstream. I'd like some feedback on if any of them would be worth PRing.

* I've added a user option to make the compose box show persistently, rather than collapsing into the "Drafts/Reply/New Topic" line. When

[2020-02-10 07:50] stableapple commented on #13851
@zulipbot claim

[2020-02-10 20:11] kerrhome opened #13872 "Cannot prefix links with `!`"
In GitLab, merge requests shorthand are `!<number` (e.g. `!5` is merge request 5).  We tried "Add a new linkifier" and `#` works great, but we cannot use `!`.  Epics on GitLab are prefixed with `~`, so I'm sure folks would want to use that too.

[2020-02-10 21:53] timabbott commented on #13872
@kerrhome thanks for the report.  @aero31aero FYI; we should include these cases in our linkifier work.

[2020-02-10 21:55] timabbott commented on #9549
@cheald huge thanks for tracking this down!

[2020-02-10 22:01] #9549 closed

[2020-02-11 00:11] timabbott commented on #13857
Most of these models aren't in a hot code path and it basically doesn't matter; Postgres can do a great job with small tables without extensive denormalization.  I think PreregistrationUser, UserGroupMembership, CustomProfileFieldValue, UserStatus probably all fall into that category.  They'd also generally be things that are cheap to add it for; since it's an immutable field, there's not a lot of

[2020-02-11 01:43] timabbott commented on #13734
@cyphase it would definitely still be in `UserActivity` in the database.  And I think one would be able to determine that via which users don't have a registered mobile device directly, without needing the last activity timestamp for mobile app usage.

[2020-02-11 01:59] timabbott commented on #13851
@stableapple I'm not sure what your plan is for how to work on this -- we haven't agreed on replacement wording, which needs to happen before work can usefully happen here.

For what we should describe here, I think we have one good useful of terminology we've defined in taht help center article, something like "organization shared history", that is likely helpful for this string.  What we're look

[2020-02-11 01:59] timabbott commented on #13851
E.g. "End of results from your history.  Consider <a>searching shared history</a>"

[2020-02-11 02:30] cyphase commented on #13734
That's true; I did work out a manage.py shell code snippet at some point for querying the database about that. But I have had 1-2 users who needed a bit of hand-holding because they kept using the mobile webapp even after installing the mobile app, and not because they made the choice that they preferred it.

That said, either way the information is available in the database, so there's no need fo

[2020-02-11 05:08] tk1017 commented on #13839
Hey @chrisbobbe, I can't open this link to have a look at it. It is asking for an invite link to join. Can you please provide one? I am new to open source contribution, so please guide me. Thank you.

[2020-02-11 05:55] chrisbobbe commented on #13839
Yeah, unfortunately that link will work for a relatively small number of people, just members of the Recurse Center realm. Here’s the relevant commentary from there:

[2020-02-11 06:42] Izmenoff commented on #13854
It would be grateful!

[2020-02-11 12:13] showell commented on #13857
I think the dev effort here would be pretty minimal.

We just went through the exercise for the `UserPresence` table.  Here is the commit:

c4e3cfebb01966cc84fc861f7be31321f145870d

Basically, it was these steps:

* add the field to the model, run makemigrations
* copy/paste the backfill code from @mateuszmandera and then search/replace (and subsequent efforts would now just crib off my commit, so

[2020-02-11 12:37] showell opened #13874 "proposal: Optimize `get_occupied_streams` for multi-realm instances"
Please don't assign yourself this issue unless you have some fairly deep familiarity with the Django ORM, postgres, and Zulip's subscription model.

If you do have the above expertise, this might actually be a pretty small fix in terms of lines of code, but it will be somewhat more involved in terms of collecting measurements, working with Tim to test-deploy it, etc.

I propose that we can greatly

[2020-02-11 12:43] showell commented on #13874
If we do decide that speeding up this query is worthwhile, it's worth following the example of this simpler commit:

https://github.com/zulip/zulip/commit/2ff41bf9e51fcfd17168af299774949df3c1de5e

The above commit does what I'm proposing to do here, but on a smaller scale and with fewer tables involved.  Basically, the inspiration you should take from the above commit is to be sure to capture the

[2020-02-11 13:54] mateuszmandera commented on #13857
I agree too - ``Message`` seems worth it. ``Subscription`` as well, as size shouldn't be an issue.

[2020-02-11 15:01] stableapple commented on #13851
I think we should go with the "your history" as mentioned above. Should i create a PR for this?

[2020-02-11 15:44] arunikayadav42 commented on #12281
@cyphase @timabbott https://github.com/zulip/zulip/blob/master/zerver/lib/actions.py#L352 I have understood that I need to change this function but what part of it, I do not understand. Can you please help?

[2020-02-11 17:46] Vivekk07 commented on #13737
@zulipbot claim

[2020-02-11 18:10] cheald commented on #13847
I've received a response from the HelloSign team:

So, woof. I guess I can work around it with an nginx rewrite, but I think this probably leaves HelloSign broken for Zulip's general purposes.

[2020-02-11 19:27] aero31aero commented on #13872
@timabbott I tested and added the testcases to the work in #13398. The existing changes cover this issue as well.

[2020-02-11 20:31] #13836 closed

[2020-02-11 21:04] timabbott commented on #13847
I guess it works only if you don't use the stream argument, ugh.  We can presumably work around this by doing a custom encoding strategy for this webhook to fit all the data into a single JSON "argument", it's just annoying as it'd involve a bunch of code duplication.

[2020-02-11 21:23] cheald commented on #13847
I'd just as soon wait and see if HelloSign fixes things on their end. It's bizarre that they don't accept more than one query parameter, and it's obviously not a widely-missed integration if nobody else is complaining about it yet.

[2020-02-11 21:54] #13694 closed

[2020-02-11 22:14] timabbott commented on #13847
Yeah, that's fair.  Though that reply sounds like they have no plans to fix it :(.

[2020-02-11 22:14] timabbott commented on #13847
Do you think it still makes sense to merge your PR?

[2020-02-11 22:19] cheald commented on #13847
Yes, the current implementation just throws 500s. This at least leaves the integration in a state where it could theoretically work if you can get HelloSign to accept a callback URL.

[2020-02-11 22:26] timabbott commented on #13874
The other thing we should think about is whether we should just move the answer for `get_occupied_streams` to be a field on the `Stream` table for whether the stream is empty, avoiding doing this work altogether.  It's 20-40ms in some realms with 1K+ users and streams or 5K+ users with fewer streams.

[code]

We do call it twice, though, so looking at the total time for that, we're talking 40ms-60

[2020-02-12 01:00] vibhuti019 commented on #13622
hello am a newbie and would like to help out.

[2020-02-12 01:04] chrisbobbe commented on #13622
It looks like progress is still going in https://github.com/zulip/zulip/pull/13675; @Bhanu-mbvg, are you still working on this?

[2020-02-12 03:52] timabbott commented on #1677
Closing as this is now resolved, and in fact, we've been able to remove most of the infrastructure originally written for this testing method in cb2c96f7368767e86341ec24949d8c64e11de0e8.

[2020-02-12 03:52] #1677 closed

[2020-02-12 05:35] Bhanu-mbvg commented on #13622
Yes, will try to complete it as soon as possible !

[2020-02-12 15:38] zampanoo opened #13887 "make collapsed messages smaller"
Hi Zulip,

I like it to collapse unimportant messages in a stream to have only those in view which are relevant for what I am doing at the moment.

It would be quite helpful if collapsed messages could be much smaller than they are now - ideally hiding everything but the name and the "more"-indicator (and maybe the date).

Currently, if I collapse a short message of a single line, the collapsed me

[2020-02-12 15:55] happyalu commented on #10970
Is there an update on the ETA of this feature?

[2020-02-12 16:20] Abhishek-Balaji commented on #11669
@zulipbot claim

[2020-02-12 19:07] #13845 closed

[2020-02-12 19:23] #10859 closed

[2020-02-12 22:17] gnprice opened #13889 "Make "is this message editable/deletable" logic sharable with mobile app"
@timabbott in https://github.com/zulip/zulip-mobile/pull/3880#issuecomment-583621392 points out the webapp's functions `message_edit.get_editability`, `message_edit.get_deletability`, and friends, and suggests they're probably functions we should move to shared code.

Looking at [`message_edit.js`](https://github.com/zulip/zulip/blob/27b15a9722144b779ffe597b189925f21d53612d/static/js/message_edit.

[2020-02-12 23:59] gnprice opened #13892 "Make local-echo Markdown code sharable with the mobile app"
For doing local echo when the user sends a message, the mobile app currently uses a version of the webapp's implementation, forked off in 2017. Predictably, the fork has not kept up with new features or bugfixes in the webapp.

Instead of a fork, we should share a single version. This would help bring the mobile app up to date with features like silent mentions, user and stream IDs in mentions, an

[2020-02-13 00:16] chrisbobbe commented on #13892
Linking https://github.com/zulip/zulip-mobile/issues/3771, which will be affected. 🙂

[2020-02-13 05:52] aero31aero commented on #12953
I tried reproducing this, but it looks like this has been fixed in the current version. What version of Zulip are you testing?

[2020-02-13 05:58] cheald commented on #12953
This was true on master as of a few days ago. It does look like it was fixed, though.

[2020-02-13 06:36] #13847 closed

[2020-02-13 06:37] timabbott commented on #13851
Sure, go for it.  Make sure you update the linked /help/ document to agree on what we're calling this.

[2020-02-13 06:59] timabbott commented on #13865
I'd be interested in seeing a PR we can play with for the compose box being persistent but faded; it's the kind of thing we might test-deploy on chat.zulip.org for feedback before deciding whether to make it an option or it's a bad idea or doing the extra polish work to migrate to it.

I'm surprised that you mention this problem, because I don't think it should exist -- the way we include images i

[2020-02-13 07:08] cheald opened #13896 "Emojis do not work in link text"
Given a message like so:

    [:alien: Aliens!](https://google.com)

I would expect to see an emoji linked. However, the emoji code is rendered literally:

![image](https://user-images.githubusercontent.com/9830/74409900-038b2b80-4df5-11ea-820b-058ab5c9fb7e.png)

[2020-02-13 10:47] tk1017 commented on #13622
@zulipbot claim

[2020-02-13 10:51] tk1017 commented on #13622
hi @timabbott @chrisbobbe i have made a pull request referencing this issue.Can u please check on that. It is #13862 . please let me know if you have any suggestions and corrections. Thank you

[2020-02-13 12:19] showell commented on #13892
I think we should strongly consider extract markdown as its own self-contained library (as opposed to just being more code in our "shared" library).  In my branch now I am basically making everything be config-driven, so I think it's pretty easy to make it self-contained.

[2020-02-13 13:50] showell commented on #13892
One minor complication is that we have vendored the "marked" library, so we need to decide how to share that code effectively.  I haven't looked into the changes yet (in the middle of other stuff) to see how hard it would be to re-sync to the third party code.  My guess is that we've made necessary modifications there.

[2020-02-13 14:42] mayankwadhwani commented on #13737
Does anyone has any idea, why the anomaly just appears on small scaled window. ?

[2020-02-13 16:21] showell commented on #13892
I think we're kinda stuck with our highly-modified version of  `marked.js`.  Since the original commit, we have made 38 commits.  Of the current 1566 lines of code, 518 of them have been added/modified.  It would be pretty easy to change a good chunks of our hacks into monkeypatches, for code like this that we've added over the years:

[code]

But then there are much deeper hacks that are harder t

[2020-02-13 16:21] cheald opened #13900 "responsive view, mobile: message actions menu overlays the message and can block interaction"
Just noticed this on my phone (Pixel 3 XL, Chrome):

![Screenshot_20200213-091834](https://user-images.githubusercontent.com/9830/74455187-30196480-4e42-11ea-9cd6-bc469789948d.png)

[2020-02-13 18:09] cheald commented on #12056
I'm being bitten by this one. HTML entites get rendered, which makes discussing HTML entites rather a problem.

Try the following:

* &amp;copy;
* `&copy;`
* ```&copy;```

![image](https://user-images.githubusercontent.com/9830/74464599-0d427c80-4e51-11ea-8ae9-fc390a9b2135.png)

I don't think entites should ever be rendered; user input of ampersands should probably be unconditionally escaped to &a

[2020-02-13 18:41] enpuyou commented on #3128
@zulipbot claim. Continue working on the next few steps of the issue with @corlettim

[2020-02-13 21:44] shubhamgupta2956 commented on #13480
@devurandom @hackerkid is this issue still available? If it is, I want to take this issue

[2020-02-13 23:17] timabbott commented on #13900
There's an open issue and pr for this.

-Tim Abbott (mobile)

On Thu, Feb 13, 2020, 08:21 Chris Heald <notifications@github.com> wrote:

[2020-02-14 00:26] timabbott commented on #11560
Just an update: Zulip is now on Django 2.x.

[2020-02-14 00:27] #10835 closed

[2020-02-14 00:33] timabbott commented on #11341
@whoodes would you be up for fixing that one, since you probably remember the context?

[2020-02-14 10:38] XAMPPRocky opened #13906 "Provide Zulip artwork with public copyright and trademark."
Hello, I'm interested in using the Zulip logo. My use case is I'd like to include a slightly modified version of the Zulip icon on the Rust website. We have a section of logos for Social Media, and I'd like to add Zulip to it.

<img width="279" alt="Screenshot 2020-02-14 at 11 28 54" src="https://user-images.githubusercontent.com/4464295/74523945-69bf9d80-4f1e-11ea-9c73-a397bdcad7c8.png">

However

[2020-02-14 10:45] big-r81 opened #13908 "Renaming the standard stream #general to #allgemein prevents invitating users to the defined standard stream."
Hi,

if i rename the standard stream #general to #allgemein then it isn't possible to invite new users to only the standard stream, because it isn't listed in the invitation window.

Invitation with standard #general stream name:
![stream-original-name-general](https://user-images.githubusercontent.com/9985963/74523855-3bda5900-4f1e-11ea-99ef-c29fee3be062.PNG)
At the invitatoin modal the stream #g

[2020-02-14 12:15] big-r81 opened #13909 "Organization admin can't create user groups"
Hi,

i have two admin user. Both can't create a user group with the setting:

"Who can create and manage user groups"
Selected: Admins

If i change the setting to "Admins and members", then the admin users can create user groups.

[2020-02-14 18:05] timabbott opened #13913 "Optimize rate_limiter performance for get_events queries"
See https://chat.zulip.org/#narrow/stream/3-backend/topic/profiling.20get_events/near/816860 for profiling details, but basically, currently a get_events request spends 1.4ms/request talking to redis for our rate limiter, which is somewhere between 15% and 50% of the total request runtime (my measurement technique is susceptible to issues like the first request on a code path being extra expensive

[2020-02-14 18:33] hackerkid commented on #13480
@shubhamgupta2956 There is already a PR open for this but it doesn't seem to have much activity since a long time. Feel free to create a new one (You can also create one on top of the existing PR but make sure to fix the commits).

[2020-02-14 18:48] nikomatsakis commented on #6605
I would like to add my voice here -- I would love this feature! It would I think address the largest "usability challenge" I find with Zulip, which is simply that there are often **individual topics** I wish to participate in without having to keep up with an entire **stream**.

I think in my ideal world:

* whenever I participate **or** am `@`-mentioned, the topic would be "bumped" in "My topics"

[2020-02-14 23:23] sidforreal opened #13916 "Settings open animation"
When we click on the setting icon it just pops up the setting menu without any animation.
But if we look at the other menus like the left sidebars stream menu or the buddy list's profile info menu they have some sort of fading animation.

![settings menu](https://user-images.githubusercontent.com/32801674/74575939-f3b74700-4fae-11ea-9d80-78359cf71595.gif)
![buddy_list_profile_info](https://user-im

[2020-02-14 23:27] SiddharthVarshney commented on #13916
@zulipbot claim

[2020-02-15 00:32] timabbott opened #13917 "Optimize performance of get_events"
The get_events Tornado endpoint is our highest-traffic endpoint, so something well worth optimizing.  In https://chat.zulip.org/#narrow/stream/3-backend/topic/profiling.20get_events/near/816856 I describe a bunch of profiling I did to figure out where the time is going, resulting in several commits being merged.  Here's some summary details on where the time is going (all profiled in a local devel

[2020-02-15 00:54] timabbott commented on #13909
@pragatiagrawal31 can you investigate this?  I notice that it works fine if you navigate to creating user groups before reloading the page.

Likely just a frontend UI state bug.

[2020-02-15 00:57] timabbott commented on #13908
This is a very strange report; I don't know what might cause that sort of behavior.  In any case, someone should try reproducing.

[2020-02-15 01:05] timabbott commented on #13906
@XAMPPRocky thanks for raising this.  We should probably find the time to figure out which existing open source project's logo trademark policy we like the best and publish that somewhere appropriate.  In the meantime, you're certainly welcome to use the logo assets from `static/images/logo/` in this project to link to a Zulip server hosted on zulipchat.com.

[2020-02-15 01:11] timabbott commented on #11015
I think it's not worth doing; closing as resolved.

[2020-02-15 01:11] #11015 closed

[2020-02-15 01:52] timabbott commented on #13896
Our frontend markdown processor seems to do this correctly.  This appears to be an ordering thing; the following "fixes" it:

[code]

But it breaks having something that looks like emoji syntax in the URL, so I don't think that's the right fix.  The reason ordering matters here is we're marking the text as an AtomicString` inside `LinkInlineProcessor` to prevent a similar problem with linkifiers:

[2020-02-15 06:19] arunikayadav42 commented on #12281
@rishig @cyphase @timabbott made a pull request https://github.com/zulip/zulip/pull/13919 .Please review.

[2020-02-15 07:02] whoodes commented on #11341
@timabbott cool, yeah, I'll look into that one.

[2020-02-15 13:21] big-r81 commented on #13908
Hi,

i have created a debian buster vm and installed the latest production release (2.1.2). Same behavior.

After install and realm creation:
<img width="1280" alt="grafik" src="https://user-images.githubusercontent.com/9985963/74588601-29cfe780-4ffe-11ea-9a86-385cc3d2eedc.png">

Trying to invite users. #general stream not showing up:
<img width="1280" alt="grafik" src="https://user-images.githubu

[2020-02-15 13:27] big-r81 commented on #13909
Hi,

i can reproduce this with a standard production (2.1.2) install. I create a debian buster vm and installed zulip. Created an organisation. Changed the user setting to Admin only for user groups.

Result: The admin can't create user groups...

Hope this helps.

Cheers,
Ronny

[2020-02-15 15:05] shubhamgupta2956 commented on #13480
@hackerkid What is `eq` here:-
https://github.com/zulip/zulip/blob/18e3982acd47f92212e701e0fb029fe7a86ba3a5/static/js/topic_list.js#L115
I had made a function like this to display the new topic field in the list but can't call it without using `eq`. It is giving me these errors:
[code]

[2020-02-15 18:48] marcosms commented on #13730
I think that I have the same problem. I restored a zulip installation and in the restore proccess i have the following error:

`  File "/home/zulip/deployments/2020-02-15-18-44-57/scripts/setup/flush-memcache                                                     d", line 18, in <module>
    behaviors=settings.CACHES["default"]["OPTIONS"]  # type: ignore # settings n

[2020-02-15 19:12] pragatiagrawal31 commented on #13909
Sure! looking into it, @zulipbot claim

[2020-02-15 19:41] arunikayadav42 commented on #12629
@mateuszmandera @rishig @timabbott is this issue still opened? I worked on a similar issue https://github.com/zulip/zulip/issues/12281 and would like to take this up if it's still free to be worked on.

[2020-02-15 19:42] arunikayadav42 commented on #13172
is this good for a beginner? If yes, I will like to take it up while my this https://github.com/zulip/zulip/pull/13919 pull request is being reviewed. Thanks @timabbott

[2020-02-15 19:59] arunikayadav42 commented on #12281
I have already made the changes and made a pull request. The unittests need to be written which I will complete with @mateuszmandera help. So I am abandoning the issue to claim another one.

[2020-02-15 20:02] arunikayadav42 commented on #12050
is this issue still opened. If yes where do I start from ?

[2020-02-15 20:10] arunikayadav42 commented on #12281
@zulipbot abandon

[2020-02-15 20:10] arunikayadav42 commented on #12050
@zulipbot claim

[2020-02-15 20:11] arunikayadav42 commented on #12050
@timabbott Please help me get started

[2020-02-15 20:31] mateuszmandera commented on #12629
@arunikayadav42 You could finish up https://github.com/zulip/zulip/pull/13462 - I posted a new comment there about what approach seems promising.

[2020-02-15 20:34] mateuszmandera commented on #13172
This is a larger project, it may be better to get familiar with how things work through smaller issues initially @arunikayadav42

[2020-02-15 20:49] thedeveloperr commented on #13052
Still working on it.

[2020-02-15 21:05] mayankwadhwani commented on #13737
@sahil839 @timabbott Pl. check this  and review : https://github.com/zulip/zulip/pull/13921

[2020-02-16 05:30] SuvigyaJain1 commented on #13737
Is this issue solved or still open?

[2020-02-16 05:31] mayankwadhwani commented on #13737
@SuvigyaJain1 Its resolved, the PR is raised and undergoing reviews

[2020-02-16 07:23] timabbott commented on #13730
So, the issue here is some sort of problematic interaction between the backup/restore feature and the memcached authentication support added in Zulip 2.1.2.  Zulip won't work properly without a working connection to memcached.  There are definitely workarounds possible (one is to just restore on a system running 2.1.1 where memcached authentication doesn't happen and thus can't be misconfigured).

[2020-02-16 10:21] SuvigyaJain1 commented on #3938
OK I want to get the issue clearly... so what I have understood so far is that what we need to change is the hover action only. If a message is being edited it shouldn't trigger the mouse to turn into a pointer. Am I correct?
Also can you guide me to a starting point? I have only little experience navigating large codebases

[2020-02-16 13:39] marcosms commented on #13730
@timabbott Are you sure that is a problem with the actual version? @stone212 in his first post says that his version of zulip was "- ZULIP_VERSION: 2.1.0". Perhaps it is a problem with more versions.

And in the Zulip documentation I can see that i can not restore a backup in a zulip with different version (upper or lower). The version of the destination must be the same that the version of the or

[2020-02-16 13:51] showell opened #13923 "Prevent users naming themselves "Alice|999""
If a user appends something like "|999" to their name, it will create terrible confusion for users trying to autocomplete mentions.

[2020-02-16 15:09] marcosms commented on #13730
I tried to restore the backup in the following circunstances.
 - I used for the destination machine a debian installation (the original machine used ubuntu).
 - I installed in this machine Zulip 2.1.1 and I tried to restore a backup from Zulip 2.1.2

As I supposed, the restore finish with an error. This is what I get:

`pg_restore: [archiver (bd)] Error durante PROCESAMIENTO DE TABLA DE CONTENIDOS

[2020-02-16 16:44] timabbott commented on #13730
The memcached errors are definitely version-related, in that Zulip didn't configure memcached's SASL-based authentication at all before 2.1.2.

I haven't seen that `schema PUBLIC already exists` error before, but it seems likely to be unrelated.  Had you tried to restore a backup on that machine with a different Zulip version before, or was it a fresh machine?

[2020-02-16 18:04] marcosms commented on #13730
I'm doing some tests to find any solution. I'm working in virtual machines over Virtual Box. I have a virtual box machine running zulip with all my users working well, so i want to migrate this machine to a more stable server (a virtual box in our VMware server).

The machine running Zulip (with all my users and configurations) was created only for zulip (so is a fresh install that I do about 20 d

[2020-02-16 18:37] marcosms commented on #13730
Ok. The test was a failure. Now both servers are identical. Same OS, same hardware, same ip (the original server is shuted down)... I don't know what can I try now.

This is the result of the restore command.

marcosms@ubuntuserver1804:~$ sudo su
root@ubuntuserver1804:/home/marcosms# /home/zulip/deployments/current/scripts/setup/restore-backup /home/marcosms/zulip-backup-2020-02-15-17-23-49-rjcu0c

[2020-02-17 06:03] SuvigyaJain1 commented on #3938
@zulipbot claim

[2020-02-17 08:01] jtagcat opened #13927 "Make custom field viewing permissions configurable"
Using Zulip as an authentication source, allow admin-only editable fields (and optionally also admin-only readable).

---
Edit by @alya (2024-01):

#22883 is the current issue for editing permissions, but I'm leaving this one open for the viewing permissions feature request.

[2020-02-17 08:38] sirinath opened #13928 "Nested Subtopics"
Topics also can get extremely long if they continue for a while so it would be great if this can be further broken down into subcategories as needed

[2020-02-17 12:38] vinitS101 commented on #13917
@zulipbot claim

[2020-02-17 15:10] helen119 opened #13930 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 16:10] showell opened #13931 "Remove get_message_topic() shim."
Before we fix this, we'll want to make sure that the following commit has been deployed and that we don't have any blueslip errors from `get_message_topic` calls:

https://github.com/zulip/zulip/commit/39405fccdc20dac9a0eefa499ceef807e01de369

Assuming that change doesn't turn up any errors, we will want search/replace all calls to `util.get_message_topic(message)` with `message.topic`.

We can do

[2020-02-17 17:43] showell opened #13933 ".coverage.xxxxx file not getting cleaned up"
https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/.2Ecoverage.2Exxxxx.20file.20not.20getting.20cleaned.20up/near/817599

[2020-02-17 18:17] cristomathew commented on #12769
claim

[2020-02-17 19:04] afreydev opened #13936 "Copy the raw markdown for a range of messages"
An alternative for moving topic between streams is the copy markdown from a range of selected messages. It's for cases when someone needs only a part of the topic, or specific messages for pasting the content in another stream/topic.

This need is mentioned in the issue #6427.

I'd add that the ability to copy the raw markdown for a range of messages would probably be enough to handle most of our

[2020-02-17 19:13] afreydev commented on #13936
The idea would be something like this:

1. Select messages from a stream:
![copy_pasting_c1](https://user-images.githubusercontent.com/43050896/74680698-739c0780-518f-11ea-9ffb-c2bbcfb55993.png)

2. Clic on a copy button and check the markdown code:
![copy_pasting_c2](https://user-images.githubusercontent.com/43050896/74680703-77c82500-518f-11ea-8db5-0731989fad70.png)

3. Copy the code:
![copy_pas

[2020-02-17 23:15] shubhamgupta2956 commented on #12943
@timabbott @sahil839 is this issue still available? I see a PR related to it but it has no activity since a long time

[2020-02-18 02:32] timabbott commented on #13936
I think it's probably better to focus on building the actual feature we want, rather than a command-line only somewhat weird workaround.

[2020-02-18 02:32] #13936 closed

[2020-02-18 02:35] timabbott commented on #13927
@jtagcat can you explain a lot more more what you mean by "Using Zulip as an authentication source"?  Without more clarity about the use case, this issue isn't actionable.

[2020-02-18 02:53] timabbott commented on #13923
I think if we setup our parsing appropriately to prefer matches via ID over those with a ame, this shouldn't be a problem requiring us to block creation of such names -- it'll just be annoying to mention a user with such a name.  Or am I missing something?

[2020-02-18 02:58] sahil839 commented on #12943
@shubhamgupta2956 I think you should find an other issue to work on as the PR is completed and hopefully will be merged soon.

[2020-02-18 03:41] shubhamgupta2956 commented on #12943
Ok, thanks :).

[2020-02-18 06:38] hackerkid commented on #13496
@zulipbot claim

[2020-02-18 07:30] shubhamgupta2956 commented on #13931
@zulipbot claim

[2020-02-18 07:42] shubhamgupta2956 commented on #13931
@showell I am confused by `the following commit has been deployed`. The commit is already merged. So can I work on it now or is this for the next release of zulip?

[2020-02-18 11:08] helen225 opened #13942 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 12:33] helen225 opened #13944 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 16:05] pirate commented on #13936
This is a separate feature that would be used for different use-cases than moving messages.  For years we've wanted to be able to quote a group of messages without having to individually copy each message's markdown one at a time.  This was proposed as a workaround for moving messages because it also could serve as a stopgap for that need, but it's for a completely separate use-case most of the ti

[2020-02-18 17:00] Quebrantos opened #13948 "SAML Logout"
Excuse me if this is not the appropriate site to ask.
I'm testing Zulip SAML login with Microsoft ADFS. Login is working fine, but I can't find how to set up the Logout Service. Is it implemented?

As a side note,I haven't found in the documentation the url for the SAML metatadata. (https://<zuliporg>/saml/metadata.xml)

And shouldn't be the default signing algorithm set to sha-256?

Keep up this

[2020-02-18 17:30] showell commented on #13931
It’s on master but hasn’t necessarily been deployed anywhere in production yet.  I am optimistic that we won’t get any errors reported here, so you’re probably fine to start working on this now and Tim will just need to check the logs before merging your changes.

[2020-02-18 19:06] jtagcat commented on #13927
Say door system (allow /open door commands from that user (via bot), or even as a source for doors authentication), or quicker AD management (so you don't have to vpn, rdp in to the server, wait for the ad computers and users to boot up, find the user, open the user, addittional fields, now remember what was the thing named to allow the user to do x and change it)

[2020-02-18 20:23] afreydev commented on #13936
Hello @timabbott, those are some use cases for this feature:

[2020-02-18 21:15] timabbott commented on #13923
I guess if we're really just blocking `|number`, that probably has no real use case.  I'm fine with doing that tweak to our validation; I just don't want to block using pipes in names in general, since there may be use cases for that.

[2020-02-18 21:35] showell commented on #13923
We should only specifically prevent “|number”.  I may not have made that crystal clear.  😔

[2020-02-19 00:28] SuvigyaJain1 commented on #3938
@zulipbot claim

[2020-02-19 10:59] nikomatsakis opened #13959 "emoji appearance is jumbled"
Hello everyone,

When using the Zulip Windows App v4.0.0, the appearance of emojis is very strange and jumbled. See this screenshot from the emoji picker:

![image](https://user-images.githubusercontent.com/155238/74828391-06968800-52dd-11ea-96d5-9bfe9a0cece8.png)

This started about a week ago. It continues despite a factory reset as well as installing and uninstalling the Zulip app. Everything a

[2020-02-19 11:01] nikomatsakis commented on #13959
Oh, interesting! I just found that this is *specific* to rust-lang.zulipchat.com. Other Zulip organizations seem to work fine.

[2020-02-19 11:32] m4tx opened #13960 "Add support for GitLab System Hooks"
When GitLab system hook for project push events is configured for Zulip, the following 500 Internal Server Error is thrown by Zulip:
[code]
It seems to be caused by the fact that `push` System Hooks have slightly different structure than `push` Project Hooks. Example of a `push` System Hook:
[code]
`repository` key is indeed nowhere to be found in the payload sent by GitLab.

The issue is therefor

[2020-02-19 12:49] big-r81 opened #13961 "Remove reply-to-address in missed message emails if you don't allow the message content"
Hi,

**Prerequisite**
The user has configured and activated the incoming email integration

**Problems**
If you don't allow the message content in missed message mails, you get messages with the following ending:
[code]

1. The last sentence is logically wrong, because the user can send and reply to this email and it will show up in zulip.

2. If you don't allow the mesage content, there should be

[2020-02-19 16:05] ssirenkth commented on #3917
@zulipbot claim

[2020-02-19 17:22] kate5586 opened #13963 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:15] Praful932 commented on #13737
@zulipbot claim

[2020-02-19 18:31] renata117 opened #13965 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 20:50] timabbott commented on #8989
I think this issue discussion was written before we implemented `fetch_status`.  Now that we have `fetch_status`, I think perhaps the right fix for this is just to check if `fetch_status.has_found_newest` in `try_deliver_locally` or similar, and not doing it if it returns false?

[2020-02-19 21:54] travelton commented on #13959
This is currently happening in my client. macOS client v4.0.0
<img width="242" alt="emoji problem" src="https://user-images.githubusercontent.com/241714/74880028-083d6b80-5330-11ea-9583-9d12c9f2b2bc.png">

[2020-02-19 21:55] timabbott commented on #10007
I think this is very likely #1529.

[2020-02-19 21:55] #10007 closed

[2020-02-19 22:01] travelton commented on #13959
Found a potential fix. Open DevTools for Active Tab. Should be in the "Tools" menu. From there, go to "Application" tab. Select "Clear Storage", then "Clear Site Data". Quit and re-open Zulip.
<img width="932" alt="fix" src="https://user-images.githubusercontent.com/241714/74880513-00ca9200-5331-11ea-907c-f011fd361cbe.png">

[2020-02-19 22:19] jiviteshjain commented on #12898
@zulipbot claim

[2020-02-19 22:20] #13730 closed

[2020-02-19 22:21] timabbott commented on #13730
We just merged a fix for the memcached issue here; thanks for the reports!  It'll be in the 2.1.3 release and I'm adding it to the `2.1.x` branch, so you can run `upgrade-zulip-from-git 2.1.x` to verify it.

[2020-02-19 22:36] #13933 closed

[2020-02-19 22:38] timabbott commented on #13961
I believe this is fixed in master and the fix has already been backported to the 2.1.x branch.  See https://github.com/zulip/zulip/pull/13773.

[2020-02-19 22:38] #13961 closed

[2020-02-19 22:43] timabbott commented on #13960
@m4tx thanks for the report!  I imagine someone will add this soon.

[2020-02-19 22:44] #13496 closed

[2020-02-20 03:13] stone212 commented on #13730
@timabbott  Thank you.  It will be some time before I can come back to the Zulip project but now I can re-schedule the migration.

[2020-02-20 08:34] milena5511 opened #13973 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 08:48] marcosms commented on #13730
This are great news!! I will try it as soon as i can do it.

As i'm newby administrating zulip, this will be my first update, so preffer to be sure that all that I will do are right. I would like to do it at the first try, because I have already done a lot of tests and I am afraid of exceeding the maximum number of let'sencrypt requests (I have no failed tries, but but letsencrypt has given me pro

[2020-02-20 09:07] big-r81 commented on #13961
Hi Tim,

great, i didn't mentioned that i refer to to latest 2.1.2 relase.

[2020-02-20 11:13] yv-official commented on #13960
@zulipbot claim

[2020-02-20 12:42] xpac1985 opened #13974 ""Some older messages are unavailable" on self-hosted instance"
We've recently migrated our Zulip cloud instance to a self-hosted server.
Some streams show the `Some older messages are unavailable` warning.

![2020-02-20_13-41-01_Zulip](https://user-images.githubusercontent.com/6882771/74934506-a986f900-53e6-11ea-960a-6dc98c0a2d5d.png)

Is this maybe related to the fact that our cloud instance had 10k+ messages already, and showed that warning too, and it has

[2020-02-20 13:44] b30wulffz commented on #13960
@zulipbot claim

[2020-02-20 13:46] b30wulffz commented on #13820
@zulipbot claim

[2020-02-20 13:58] showell commented on #13959
I can confirm on FF, and it seems to affect Twitter emojis more than Google emojis.

[2020-02-20 14:36] nikomatsakis commented on #13959
Unfortunately, clearing site data did not work for me. :(

[2020-02-20 14:43] showell commented on #13959
This probably started when we upgraded emojis in e88fac499f59cfb4736c18e4a4f6c9dd44f9e9d7.  It's possible that the upgrade just aggravated some latent bug, or perhaps something changed about the emoji data that we couldn't have predicted.  I don't know the emoji system well enough to speculate more.

[2020-02-20 14:44] showell commented on #13959
More discussion here:

https://chat.zulip.org/#narrow/stream/9-issues/topic/emoji.20border/near/818894

[2020-02-20 16:48] showell commented on #13959
I think the latest upgrade changed the dimensions of the sprite files in a way that threw off some arithmetic calculations for the location of each individual emoji.

[2020-02-20 18:23] mateuszmandera commented on #13657
@timabbott I see that hipchat, mattermost, gitter and slack import tools seem to set ``rendered_content = None`` - unless I'm missing some place where it gets rendered later - so that's probably something that needs to be addressed next?

[2020-02-20 18:25] showell commented on #13959
I'm not sure exactly how to fix this, but I think #13977 is a start.

[2020-02-20 19:05] timabbott commented on #13974
@xpac1985 well, I think the problem is that the field for what type of plan you're on in the cloud instance came along for the migration.  You can likely fix this in a `manage.py shell` with:
[code]

That said, I'm puzzled how you ended up in this state.  The data import tool runs the following code at the end:

[code]

Can you see if `settings.BILLING_ENABLED` is somehow true on your instance?  `

[2020-02-20 19:07] timabbott commented on #13974
Oh, actually, I have another theory -- before you do change the plan type, can you print:
[code]

That may be very helpful in debugging how this happened.

[2020-02-20 19:26] timabbott commented on #13948
I don't think we do SAML logout service yet; it's definitely something we want to add soon.

Regarding signing, according to https://python-social-auth-docs.readthedocs.io/en/latest/backends/saml.html, python-social-auth is using the defaults from `python-saml`, which seem to be incorrectly SHA-1: https://github.com/onelogin/python-saml/issues/269.

We probably can just change this ourselves; can

[2020-02-20 19:28] timabbott commented on #13928
Thanks for the feedback.  Our recommended approach for an overly long/complex topic is to fork new topics for digressions, and use links to cross-reference as needed.

[2020-02-20 19:28] #13928 closed

[2020-02-20 20:02] timabbott commented on #13613
The server-side part of this was resolved in https://github.com/zulip/zulip/pull/13871.  The next desktop app beta (and release) will have the desktop app side implementation for taking advantage of this.

I'm leaving this open until we decide whether we're backporting the server-side support to the Zulip 2.1.x series.

[2020-02-20 20:20] mateuszmandera commented on #13948
Work in progress currently, I got into working on it for a while, but then got distracted with other tasks. I'll try to find time to get back to it soon.

Did you have to set ``lowercase_urlencoding`` option to ``True``, or did things work fine without that? I'm asking because ``python3-saml`` doc says:

Which I bumped into some time ago and it seems like a very annoying fiddly detail to have to f

[2020-02-20 22:46] timabbott commented on #13657
The actual rendering happens in the import process; those are just placeholder values.

[2020-02-20 23:20] shfrz commented on #13960
@zulipbot  claim

[2020-02-20 23:22] shfrz commented on #13622
@zulipbot  claim

[2020-02-20 23:40] shfrz commented on #13261
@zulipbot  claim

[2020-02-20 23:41] shfrz commented on #13261
@zulipbot abandon

[2020-02-20 23:53] clarammdantas commented on #13746
@zulipbot claim

[2020-02-21 02:13] xpac1985 commented on #13974
Ha, it looks like you're on the right path:

[code]
afaik, 1 means SELF_HOSTED, but the other two seem to suggest that the visibility limit hasn't been raised during the migration.

[code]

If you want to repro the steps - I set this up by the book and added the data export you sent me last Saturday...

I haven't made any changes yet in case you need some more info - will wait for your confirmatio

[2020-02-21 02:20] andersk commented on #13730
@marcosms At this time, zulip-server-latest.tar.gz is still 2.1.2, which does not contain the fix. Like Tim said, it is on the `2.1.x` Git branch now, and will be in 2.1.3 when that is released.

[2020-02-21 05:17] shfrz commented on #12951
@zulipbot  claim

[2020-02-21 05:22] shfrz commented on #13696
@zulipbot  claim

[2020-02-21 06:33] avi-01 commented on #12281
@zulipbot claim

[2020-02-21 06:39] scheleon commented on #4785
@zulipbot claim

[2020-02-21 06:40] avi-01 commented on #4240
@zulipbot claim

[2020-02-21 06:50] arunikayadav42 commented on #12281
Hi @avi-01 I am already working on this issue. Please take up some other. Thanks

[2020-02-21 06:54] arunikayadav42 commented on #12281
https://github.com/zulip/zulip/pull/13919 This is the pull request.

[2020-02-21 08:00] avi-01 commented on #12281
@zulipbot abandon

[2020-02-21 08:02] avi-01 commented on #4240
@zulipbot claim

[2020-02-21 08:33] Quebrantos commented on #13948
That's exactly what I did to get it to work.

[2020-02-21 08:57] Quebrantos commented on #13948
I did not set that, and authentication it's working so far. But I'll have it in mind.

[2020-02-21 11:36] ab1nash commented on #13923
@zulipbot claim

[2020-02-21 11:38] ab1nash commented on #13923
My work on another issue (#13801 ) is more or less done and pending a review. Can I work on this?

[2020-02-21 12:27] Tlazypanda commented on #13644
@timabbott can I work on this?

[2020-02-21 13:16] harshbisle commented on #3128
@enpuyou it would be helpful for others to work on the other part of the issue if you mention which the few steps you're working on

[2020-02-21 13:50] Jagansivam28 commented on #12281
@zulipbot claim

[2020-02-21 14:53] #13931 closed

[2020-02-21 14:59] arunikayadav42 commented on #12281
@Jagansivam28 I am already working on this issue. Please choose another issue. Thanks

[2020-02-21 15:10] showell commented on #13734
I am still working on this issue, just got sidetracked with some other things.

[2020-02-21 15:18] enpuyou commented on #3128
@harshbisle Thanks for checking up. We are currently working on the first subsection of this issue and we are close to creating a PR. If possible, we would like to continue working on the next several steps as well!

[2020-02-21 17:29] clarammdantas commented on #13746
@bangpradyumna are you working on this?

[2020-02-21 17:38] timabbott commented on #13974
@xpac1985 I think you can go ahead with the change; it sounds like this should be reproducible with just doing an import into a BILLING_ENABLED=False server (or re-doing the import into a new, empty server).  @hackerkid can you try figuring out why this isn't working properly?

[2020-02-21 17:43] Jagansivam28 commented on #12281
@zulipbot abandon

[2020-02-21 17:55] timabbott commented on #13959
A preliminary fix is on zulipchat.com; but due to a caching bug it may require some pretty aggressive history-clearing to see the fix.  We hope to have the caching issue resolved in the next couple days as well (see #13977 and #13981).

[2020-02-21 18:04] jiviteshjain commented on #12898
@timabbott I need some help!
My previous commit just adds the html and css and enough javascript to keep the search functionality working. As I add the javascript for making the search box appear and disappear on clicking the icon, I am not sure as to should I create a module as is created for the user search widget (static/js/user_search.js) or should the code reside in static/js/click_handlers.j

[2020-02-21 18:04] #13375 closed

[2020-02-21 18:36] SiddharthVarshney commented on #13916
made a pr #13922, will be picking another issue

[2020-02-21 18:39] SiddharthVarshney commented on #13916
@zulipbot abandon

[2020-02-21 18:43] timabbott commented on #13839
I think the bug there is that our scroll handling that triggers scrolling of the message list has code to exclude overlays (like stream settings) but somehow the left sidebar isn't being counted as such.

Might be this logic in `ui_init.js`?
[code]

[2020-02-21 19:58] timabbott commented on #11618
@rwbarton FYI.

Thinking about the design for this, I think we could make in `zerver/lib/bugdown/fenced_code.py`, the `format_code` function could save the text URL-encoded in a `data-code` attribute on the `codehilite` element just before returning to handle the pygments problem.  (Some testing required, but we can try that sort of hack).  And maybe a `data-code-lang` attribute too for what langu

[2020-02-21 21:46] hashirsarwar commented on #13612
@zulipbot claim

[2020-02-21 22:37] chrisbobbe commented on #1366
From discussion [here](https://chat.zulip.org/#narrow/stream/49-development-help/topic/moving.20topics.20between.20streams/near/815135), it appears that work is being done on https://github.com/zulip/zulip/issues/6427 to move topics between streams.

I think the one item that hasn't been addressed in this issue is this:

which sounds like a subset of https://github.com/zulip/zulip/issues/11858 (in

[2020-02-21 22:44] chrisbobbe commented on #11858
I think it might be nice to have Markdown parse links to messages/narrow and show friendly text for them. For "https://chat.zulip.org/#narrow/stream/137-feedback/topic/automatically.20detect.20cross.20links," I think even "stream:feedback topic:automatically+detect+cross+links" looks nicer, if it's nontrivial to get the actual names with capitalization, etc. There may be an existing issue for this

[2020-02-22 05:23] arunikayadav42 commented on #12050
@grahamegrieve can you provide a little more description about the issue?

[2020-02-22 06:01] shubhamgupta2956 commented on #13261
@zulipbot claim

[2020-02-22 06:01] jainkuniya opened #13994 "emoji, android: Not correct when selected from Google emoji keyboard."
There are two issues:

* For some emojis like 🤷‍♂ (man shrugging) it get's converted to 🤷‍♀ (woman shrugging)
But not for man palm face

* It adds new icon after emoji
![image](https://user-images.githubusercontent.com/18511177/75087473-d4985680-5566-11ea-91ee-5a7cb5c0c4dd.png)

Reproducible of Android mobile client (zulip-mobile) and zulip mWeb.

cc @gnprice

https://chat.zulip.org/#narrow/stream

[2020-02-22 06:17] shubhamdhama commented on #13644
@Tlazypanda a PR is already opened for this issue but not updated for the past 10 days.
@AyushHazard are you still working on this?

[2020-02-22 07:08] arunikayadav42 commented on #6605
@timabbott Do you think I can work on this one?

[2020-02-22 11:44] showell commented on #6123
I am closing this in favor of #13079, which address the specific solution proposed here.  For the broader problem, we should probably just open smaller tickets with specific proposals.  For example, we should probably have a specific ticket about the best way to not nag people who clearly are ok with lots of unread messages (i.e. better "nagging algorithm").

[2020-02-22 11:44] #6123 closed

[2020-02-22 11:49] showell commented on #3235
I am closing this ticket as part of cleaning up some old tickets.  It looks like at least some of the concerns here have been addressed by opening new, more specific tickets.  The current description of this ticket--"configuring importance instead of behavior"--is a little too broad to be actionable.

@strugee I know it's been close to three years since you filed this issue, but if you still have

[2020-02-22 11:49] #3235 closed

[2020-02-22 15:24] vinitS101 commented on #13839
@chrisbobbe  I was unable to reproduce this issue on my Phone (iOS 13.x) and on both my laptops. The scroll on the left sidebar seemed to be working fine.

Are there any gifs or screenshots of the problem? Any steps to help reproduce it would also be great.

[2020-02-22 15:42] ab1nash commented on #13923
Such usernames are causing the @ call to mention a different user as shown:
![nameissue](https://user-images.githubusercontent.com/41019632/75095136-f837bd00-55b7-11ea-95c0-3d9e7ee3ece8.gif)

[2020-02-22 17:52] Kushal-kothari commented on #13514
@zulipbot  claim

[2020-02-22 18:55] majordwarf commented on #11647
I guess this issue can be closed as we have a link to manually download APK from GitHub releases section. Or do we still need brand/platform badges in their respective buttons?

**Screenshot:**
![image](https://user-images.githubusercontent.com/23737560/75097591-7dc86680-55d2-11ea-9991-65a063854a4b.png)

[2020-02-22 20:13] sahil839 commented on #13656
@timabbott A conversation [here](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Private.20Message.20policies) mentioned the need for a policy that restricts group PMs completely or to admins only.

[2020-02-22 23:16] a-lunev opened #14002 "Missing admin control over notification settings for other users"
As it turned out, if I, as admin user, change options in Settings -> Notifications panel, this affects only my profile (initially I expected it should change the global settings and affect all users).
Also if I, as admin, subscribe a new user to a stream, the user is subscribed with disabled email and mobile notifications by default.
If the user uses only Zulip app for Android (I suppose for iOS i

[2020-02-23 07:09] Jagansivam28 commented on #13923
@zulipbot claim

[2020-02-23 09:35] ab1nash commented on #13923
@Jagansivam28 I am currently working on this.

[2020-02-23 11:41] wryonik opened #14004 "Wrong position of red notice in /accounts/register page"
When we submit the form without accepting "Terms of Services", a red notice comes in the left of the checkbox. The red notice is not suitably positioned. It should be placed below the checkbox
![2020-02-22_11-38-27-804x552](https://user-images.githubusercontent.com/43504292/75111412-8024d200-565f-11ea-8f25-15e42c345f24.png)

[2020-02-23 11:41] shubhamgupta2956 commented on #14004
@zulipbot claim

[2020-02-23 12:31] showell commented on #14004
More discussion here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/warning.20in.20.2Faccounts.2Fregister.20page/near/819813

[2020-02-23 12:50] Jagansivam28 commented on #13923
@zulipbot  abandon

[2020-02-23 13:22] Jagansivam28 commented on #13644
is Still open Can I work in this ?

[2020-02-23 13:23] Jagansivam28 commented on #8432
is Still open Can i work on This ?

[2020-02-23 13:27] nicholas-burr commented on #8432
Go for it. Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Jagan <notifications@github.com> Date: 2/23/20  7:23 AM  (GMT-06:00) To: zulip/zulip <zulip@noreply.github.com> Cc: nicholas-burr <nicholas.burr@mnsu.edu>, Mention <mention@noreply.github.com> Subject: Re: [zulip/zulip] org settings: Replace "Unknown" with something
  better for inactive users.  (#8432) is Still

[2020-02-23 13:32] Jagansivam28 commented on #13413
is Still open can i Work on This ?

[2020-02-23 13:35] Jagansivam28 commented on #11782
@zulipbot claim

[2020-02-23 13:44] Jagansivam28 commented on #11782
I this issue is already fixed ;)
![Screenshot_2020-02-23 The world's most productive team chat](https://user-images.githubusercontent.com/45326319/75113120-a1da8500-5670-11ea-996e-89bbff50d085.png)

[2020-02-23 13:45] Jagansivam28 commented on #11782
@zulipbot unclaim

[2020-02-23 14:10] vaibhavrajsingh2001 commented on #13828
@zulipbot claim

[2020-02-23 14:16] showell opened #14006 "Move zerver/lib/openapi.py to zerver/openapi/openapi.py"
See https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/api.20tests/near/820101 for context.

Moving a file generally just involves grepping for places that import it and updating import statements appropriately.

[2020-02-23 14:29] harshbisle commented on #12281
@zulipbot claim

[2020-02-23 14:40] arunikayadav42 commented on #12281
Hi its already a work in progress. Please take some other issue. Thanks

[2020-02-23 14:54] harshbisle commented on #12281
@zulipbot abandon

[2020-02-23 15:00] harshbisle commented on #14006
@zulipbot claim

[2020-02-23 15:01] arunikayadav42 opened #14007 "Normal User cannot see invitations sent by him"
While running the development environment I noticed that an admin can access his list of invitees while accessing zulip online caused me to notice that there is no such privilege for normal users.
![new_issue](https://user-images.githubusercontent.com/28708494/75114371-78732680-567b-11ea-8331-94a2630879be.png)

[2020-02-23 15:01] arunikayadav42 commented on #14007
@zulipbot claim

[2020-02-23 15:02] arunikayadav42 commented on #14007
Any sort of help will be appreciated.

[2020-02-23 15:22] mayankwadhwani opened #14008 "Sticky / pinned polls"
The polls currently created, get buried under the all messages section as more messages flow in. A new feature to pin the polls or a floating menu needs to be developed so as to keep the polls alive to the developers to get feedback on developmental changes.

[2020-02-23 15:22] arunikayadav42 commented on #14007
@zulipbot claim

[2020-02-23 15:23] mayankwadhwani commented on #14008
![Screenshot from 2020-02-23 20-52-51](https://user-images.githubusercontent.com/30961365/75114723-81b1c280-567e-11ea-80f7-be5dc65ee9ee.png)

[2020-02-23 15:24] mayankwadhwani commented on #14008
claim

[2020-02-23 15:28] arunikayadav42 commented on #14007
@showell Please let me know if I can work on this issue as my other 2 PRs are getting reviewed.

[2020-02-23 15:30] mayankwadhwani commented on #14008
@zulipbot claim

[2020-02-23 15:41] mayankwadhwani commented on #14008
I am working on this :)

[2020-02-23 16:20] vaibhavrajsingh2001 commented on #14008
Me too 😅

[2020-02-23 16:39] marcosms commented on #13730
I need help to make a migration as soon as possible.

I tried to restore the backup, but the error still contiue.

So I tried to change the files that were changed by the new ones, but i still got errors.

For example, in the origin machine, i changed the file "/home/zulip/deployments/current/zerver/management/commands/backup.py" by the one in this link

https://github.com/zulip/zulip/commit/0d4bf

[2020-02-23 20:45] hashirsarwar commented on #13913
@zulipbot claim

[2020-02-23 21:35] SiddharthVarshney opened #14011 "Improper Alignment of the `Current Plan` button"
The `current plan` button in the `/plans` route  is not properly aligned (nor vertically/horizontally)
![ss](https://user-images.githubusercontent.com/32801674/75120518-68c30480-56b2-11ea-903a-07e3aade56d4.png)

[2020-02-23 21:35] SiddharthVarshney commented on #14011
@zulipbot claim

[2020-02-24 00:54] xpac1985 commented on #13974
I think I found a fix for this - change file [zerver/lib/actions.py](https://github.com/zulip/zulip/blob/master/zerver/lib/actions.py) as follows in lines 3474pp:

[code]

The first block was missing, maybe you didn't assume that you would ever change to self hosted?
However, the result looks like this:

[code]

You may decide if this was the right thing to do, however I can now see the old messag

[2020-02-24 02:16] Jagansivam28 commented on #12203
@timabbott  is still open can i work on this ?

[2020-02-24 03:27] Jagansivam28 commented on #13209
@zulipbot claim

[2020-02-24 04:27] harshbisle commented on #14006
https://github.com/zulip/zulip/pull/14009 This pull request Involves

Grepping of places that import lib/openapi.py
And updating the statements with openapi/openapi.py

[2020-02-24 05:13] Helegbedey commented on #10044
@timabbott can the API endpoint also be writing using javascript?

[2020-02-24 08:47] Jagansivam28 commented on #13209
@ab1nash @timabbott @rishig how can i reproduce this issue in development ? can anyone help me  ?

[2020-02-24 08:58] Jagansivam28 commented on #14007
But Why do normal user need to see All the Invitations ?

[2020-02-24 09:00] arunikayadav42 commented on #14007
The user should atleast be able to see all the invitations he sent.

[2020-02-24 12:49] majordwarf commented on #13960
@yv-official Are you still working on this issue?

[2020-02-24 12:50] hackerkid commented on #13974
@xpac1985 That looks like the correct fix to me. Thanks for debugging. If you are interested in creating a PR feel to create one. I would suggest some additional changes as well.

* Add test for the case `plan_type ==  Realm.SELF_HOSTED` in function `test_change_plan_type` present in the file `zerver/tests/test_realm.py`

* If you open the file `zerver/tests/test_import_export.py` you can see the

[2020-02-24 13:07] hackerkid commented on #13480
@shubhamgupta2956 I would suggest asking in chat.zulip.org `#development help` stream

[2020-02-24 13:19] xpac1985 commented on #13974
Hey @hackerkid,
thanks for the confirmation.
I actually was about to create a PR for this, but wasn't willing to read the whole CONTRIBUTING stuff for a few lines of code fix, also I've never worked with test suites before and didn't feel comfortable messing with your tool ;-)

Therefore, I'd prefer if you could add this PR. Thanks in advance!

[2020-02-24 14:51] Jagansivam28 commented on #14007
yes Now it make sense

[2020-02-24 15:27] mahesdwivedi opened #14014 "Icons overlay messages"
### In the mobile view, the emoji, message action, and star message icons overlay on some messages.

![mobile view](https://user-images.githubusercontent.com/39699458/75165172-fac91c80-5747-11ea-990e-e8de6d3c44b5.png)

[2020-02-24 15:28] mahesdwivedi commented on #14014
@zulipbot claim

[2020-02-24 16:15] showell commented on #14007
@arunikayadav42 I officially assigned you this issue.  It might help to post a screenshot of the current admin UI here for context (like the one I posted to chat).

It's also good to post a link to any relevant chat discussions when you create an issue.

Thanks again for raising this issue, and good luck with the fix!

[2020-02-24 16:53] Jagansivam28 commented on #13209
@zulipbot unclaim

[2020-02-24 17:03] Jagansivam28 opened #14016 "Continusly Clicking On video button in message area (meet.jit.si link) creates multiple different links at the same time"
Continuously  click the video button in message area box (meet.jis.si) creates multiple different links at the same time . when i send this as message .it is annoying
![Screenshot_2020-02-24 test - Jagan Orginization - Zulip](https://user-images.githubusercontent.com/45326319/75173780-6960a700-5755-11ea-957a-3033539c6aeb.png)
![Screenshot_2020-02-24 test - Jagan Orginization - Zulip(1)](https://us

[2020-02-24 17:03] harshbisle commented on #14014
@zulipbot claim

[2020-02-24 17:04] Jagansivam28 commented on #14016
@zulipbot claim

[2020-02-24 17:09] sudhanvadp commented on #14014
@zulipbot claim

[2020-02-24 17:14] Jagansivam28 commented on #14016
@timabbott @rishig @showell can I work on this?

[2020-02-24 17:20] harshbisle commented on #14006
I have opened a pull request which will solve the issue

but to claim another issue  i'm abandoning temporarily

@zulipbot abandon

[2020-02-24 17:20] harshbisle commented on #14014
@zulipbot claim

[2020-02-24 17:21] #14006 closed

[2020-02-24 18:37] mateuszmandera commented on #13730
@marcosms You can upgrade to the 2.1.x branch, by following https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository

Basically, ``/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 2.1.x``.

[2020-02-24 19:00] YashRE42 commented on #10369
btw, it took me like 3 months to realize there were more streams than the default on czo (and I'm a contributor!)

[2020-02-24 19:12] chrisbobbe commented on #14014
Closing as a duplicate of https://github.com/zulip/zulip/issues/13642, which is in progress and pending a review.

[2020-02-24 19:12] #14014 closed

[2020-02-24 19:45] #8989 closed

[2020-02-24 19:47] timabbott opened #14017 "Fix message list handling of new messages arriving when we're not caught up with the end of the feed"
This is a follow-up to #8989, which addressed an issue with local echo producing out-of-order messages when the current user sends messages to a narrow.

There's a related bug and race issue when another user sends a message to a narrow while our browser is in the process of fetching the latest batch of messages in that topic.  The bug is that I believe currently we'll display the new message pote

[2020-02-24 19:57] sahil839 commented on #13548
@zulipbot claim

[2020-02-24 20:14] #13909 closed

[2020-02-24 20:18] marcosms commented on #13730
Ohhhh... error again.

I did all @mateuszmandera says to me. In the origin machine i did

/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 2.1.2

and then I made a backup with this sentence.

su zulip -c '/home/zulip/deployments/current/manage.py backup'

Then I shutted down the machine and start up the destination machine. first I made again this command:

/home/zulip/deployments/cu

[2020-02-24 20:26] mateuszmandera commented on #13730
2.1.x, not 2.1.2 :slightly_smiling_face:

[2020-02-24 20:28] marcosms commented on #13730
2.1.x?  Ohhh... damn!!! I suppose that the "x" is to put the desired version. Well...Let's try again. Bufffff.

;) Thanks for the info.

[2020-02-24 20:30] mateuszmandera commented on #13730
Nono, I meant literally 2.1.x, don't put anything for x

On Mon, Feb 24, 2020 at 9:28 PM marcosms <notifications@github.com> wrote:

[2020-02-24 20:30] mateuszmandera commented on #13730
That's the name of the branch to which you're updating.

On Mon, Feb 24, 2020 at 9:29 PM Mateusz Mandera <
mateusz.mandera@zulipchat.com> wrote:

[2020-02-24 22:27] marcosms commented on #13730
It works!!! YES!!!

I need to solve a last question. When 2.1.3 arrives i'll want to pass to a stable version (As this installation is in production). How will I can do it?

Thanks a lot.

[2020-02-25 00:06] timabbott opened #14019 "Encourage organization admins to change the default org description"
A lot of organizations that were setup before we added support for providing a description of one's organization on the login page, and many larger organizations haven't set it.  We should advertise this feature more strongly.

We should do the following:
* Extract the default value "The coolest place in the universe" as a constant, `DEFAULT_ORGANIZATION_DESCRIPTION` rather than just a hardcoded v

[2020-02-25 00:24] SiddharthVarshney commented on #7115
@zulipbot claim

[2020-02-25 00:27] SiddharthVarshney commented on #7115
I am working on this

[2020-02-25 01:08] Jagansivam28 commented on #14016
@zu unclaim

[2020-02-25 01:09] Jagansivam28 commented on #14019
@zulipbot claim

[2020-02-25 01:10] Jagansivam28 commented on #14019
@zulipbot claim

[2020-02-25 01:23] timabbott commented on #13730
You can just upgrade to `2.1.3` following the normal documented method when it's released.

[2020-02-25 01:28] timabbott commented on #11647
Yes, this is still open since we want to use the standard app/play store buttons.  Might make sense to close this and open a new issue that's clearly just for that to declutter the story.

[2020-02-25 01:30] #13820 closed

[2020-02-25 02:02] timabbott commented on #14008
Thanks for the suggestion.  I don't think this is a feature we want to add as described; even if it were, there's no agreement in the development community about where we'd show these pinned polls.  We can discuss more in chat.zulip.org, but it's definitely not ready to be worked on, and quite possibly not how we want to address the user problem of avoiding polls getting lost in the history.

[2020-02-25 02:02] #14008 closed

[2020-02-25 02:05] timabbott commented on #13209
I think this isn't a great issue for folks who aren't familiar with Zulip's caching model.

@hackerkid can you try reproducing in development?  It's possible Rishi was confused and there is no bug here.

[2020-02-25 02:06] timabbott commented on #14004
I like the button approach suggested in that thread, which I suppose would make this notice never appear, but it's probably worth fixing this notice to appear in the line below "I agree to the Terms of Service" and changing its text.  There may in the future be alternative code paths that might try to submit this form and hit that validation error, and it's worth making this checkbox not buggy for

[2020-02-25 02:12] timabbott commented on #14002
Our intent is that the headings "Settings" and "Organization settings" should be clear about which parts concern just you or might affect other users.

This depends on the user's settings; see https://zulipchat.com/help/stream-notifications.  The default behavior in Zulip is for a user to only get email/mobile notifications for stream messages where they are mentioned, but individual users can cha

[2020-02-25 02:15] timabbott commented on #14002
I'm closing this issue as I don't believe there's anything actionable at the moment beyond another vote for 11570; correct me if I'm missing anything in my response above.  I'd also love to hear more about how we could have made the Zulip administrative UI less confusing for you; we'll likely open targeted issues for specific changes that make sense for someone to implement based on further discus

[2020-02-25 02:15] #14002 closed

[2020-02-25 02:23] Pranav2612000 commented on #14007
![image](https://user-images.githubusercontent.com/20909078/75209177-a2c00380-57a3-11ea-93d6-c6e844852159.png)

I believe this is the admin UI. I'll like to help on this issue too. We'll create a similar one for the user

[2020-02-25 02:39] arunikayadav42 commented on #14007
I am already halfway through this, thanks for the help. You can take up some other issue or open up your own issue.

[2020-02-25 05:16] Abhinav-Anand12 opened #14022 "Internal login issue"
After logging in to Zulip I get this error

Traceback (most recent call last):
  File "/home/zulip/deployments/2020-01-17-00-55-51/zerver/tornado/handlers.py", line 229, in get_response
    response = callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/deployments/2020-01-17-00-55-51/zerver/lib/rest.py", line 35, in _wrapped_view_func
    response = view_func(request, *args, *

[2020-02-25 06:04] harshbisle commented on #14022
@zulipbot claim

[2020-02-25 08:26] hackerkid commented on #13974
@xpac1985 I have created #14024 :)

I also made the following changes on top of your fix.

* Setting `realm.max_invites` to `Realm.INVITES_STANDARD_REALM_DAILY_MAX` instead of `Realm.INVITES_STANDARD_REALM_DAILY_MAX`.

* Setting `realm.upload_quota_gb` to `None` instead of `Realm.UPLOAD_QUOTA_STANDARD`.

[2020-02-25 08:44] xpac1985 commented on #13974
@hackerkid thanks :)
what's the proper default now? `INVITES_STANDARD_REALM_DAILY_MAX` or `INVITES_DEFAULT_REALM_DAILY_MAX` ;)
I just went with the bigger number, but I admit I didn't fully understand the implications :)

I changed my code accordingly and updated again to make sure I get the proper upload limit. 👍

[2020-02-25 11:06] yv-official commented on #13960
@majordwarf Yes, I am working on this issue

[2020-02-25 11:43] hackerkid commented on #13974
@xpac1985 I realized that the best way to do this is to set the value of `max_invites` to `None`. In that case the value defined in `settings.INVITES_DEFAULT_REALM_DAILY_MAX` would be used as the limit. So if you want to increase the limit you can change the value of `INVITES_DEFAULT_REALM_DAILY_MAX` in settings file.

I have updated the code and previous comment as well to reflect the change.

[2020-02-25 12:29] mayankwadhwani commented on #3347
@zulipbot claim

[2020-02-25 15:00] ryanreh99 commented on #9228
@zulipbot claim

[2020-02-25 16:14] n-cc opened #14025 "virtualenv 20.0.1 breaks zulip installer"
When virtualenv 20.0.1 is installed on a system, the zulip installer fails to complete due to an error in `scripts/lib/setup_path_on_import.py`:

[code]

Something about how the virtualenv at `/srv/zulip-venv-cache/$hash` is being created is causing issues (note that I was able to recreate this with Zulip 2.0.7 as well).

## Steps to recreate

I provisioned an Ubuntu 18.04 container with LXD and p

[2020-02-25 18:31] shubhamgupta2956 commented on #14004
I could not understand why checked is to be set as `checked`. There is a comment above it mentioning this but the reasoning does not convince me enough for using it in this way. https://github.com/zulip/zulip/blob/324b5052c6e303bb25d0cc9c32ac6eb694e4cc72/templates/zerver/register.html#L218
I had disabled the button for now (in #14027 ) but could not found enough details about how the alert thing w

[2020-02-25 18:36] arpit551 commented on #11008
@zulipbot claim

[2020-02-25 18:53] arpit551 commented on #10879
@timabbott I still have a doubt here.
the error seems to be in function `do_send_confirmation_email`  which sets from_address at the time when it calls send_emails
`def do_send_confirmation_email(invitee: PreregistrationUser,
                               referrer: UserProfile) -> str:
    """
    Send the confirmation/welcome e-mail to an invited user.
    """
    activation_url = create_confirm

[2020-02-25 19:41] timabbott commented on #14025
Certainly sounds like a bug.

@andersk can you look into this?

[2020-02-25 20:13] timabbott commented on #10879
@arpit551 can you explain your reasoning for why you think it should be different?

[2020-02-25 20:33] arpit551 commented on #10879
@timabbott I suppose this error is due to the reason that send_email uses the passed from_address. So in the case where ScheduledEmail objects are created( namely in invitation reminders and day1/day2 follow-up emails), we are ultimately passing from_address (noreply address) to send_email which can be changed by the admin thereby causing of the error but in do_send_confirmation_email no such Sche

[2020-02-25 20:34] timabbott commented on #14004
@shubhamgupta2956 yeah, I've been meaning to figure out how to fix that.  So what's going on is that we have 2 types of error output in the registration form.  One is the frontend error checking, which I think currently is reasonably designed.  The second is the backend error checking, done via the Django forms system in `zerver/forms.py`, which I think got messed up the last time we changed styli

[2020-02-25 22:04] #13760 closed

[2020-02-26 00:14] #13974 closed

[2020-02-26 05:27] majordwarf commented on #14016
Hey, the `meet.jit.si` is online video/audio meeting platform. The button in compose message section is just to create a new URL/room for the meeting. This can be useful when someone wants to create multiple meetings and post them in the same message. So I guess this is the expected behaviour and not a bug/issue.

`P.S. - Every message can be annoying is it's spammed.` :stuck_out_tongue:

[2020-02-26 09:37] theOpetunde commented on #13450
@zulipbot claim

[2020-02-26 09:47] theOpetunde commented on #13450
This issue has already been fixed by #13535

@zulipbot close issue

[2020-02-26 12:05] Pranav2612000 opened #14037 "No confirmation message shown when user info modified in settings/users tab"
When an admin updates user information through the settings/users tab an appropriate message should be displayed, informing the admin that the data has been successfully changed. As of now, no message is displayed.

[2020-02-26 12:06] Pranav2612000 commented on #14037
@zulipbot claim

[2020-02-26 12:07] Pranav2612000 commented on #14037
I am currently working on this issue. Thanks.

[2020-02-26 13:49] shubhamgupta2956 commented on #14004
It shows the red notice even after removing the backend checks from the form. I think it should be something related to frontend error checks. Is `static/js/portico/signup.js` the only file that has frontend tests?

[2020-02-26 14:23] shubhamgupta2956 commented on #13670
@zulipbot claim

[2020-02-26 17:23] MeanNeil commented on #10970
i'm not liking the fact that ALL users even though people separated into different streams can see everyone. Can you hide all online users i.e. if I am a guest in stream A, I don't want that person seeing people in stream B, C, D etc. I've turned off PM even though I would prefer that be available, I expected each invited guest to only be able to see people in their own stream.....

[2020-02-26 20:52] Jagansivam28 commented on #14019
![Screenshot from 2020-02-27 02-22-03](https://user-images.githubusercontent.com/45326319/75386624-05321480-5908-11ea-9f9d-c6c524f788b7.png)

[2020-02-26 21:55] Jagansivam28 commented on #14019
@showell @timabbott I made a Pull Request, please review

[2020-02-26 21:56] Jagansivam28 commented on #14019
I'm abandoning this issue to claim any other issue

[2020-02-26 21:57] Jagansivam28 commented on #14019
@zulipbot abandon

[2020-02-26 21:58] Jagansivam28 commented on #14025
@zulipbot claim

[2020-02-27 00:54] xpac1985 opened #14044 "After data migration, there's no real stats data"
This is kinda a followup on #13974 - after migrating our cloud instance data to a self hosted instance, I noticed that there's no real data in `/stats` (only some data from January - March 2019 and only for the first graph).

This instance has been running multiple days, so the cronjobs should've all triggered, however I didn't get any data for the other graphs and a warning `No analytics data ava

[2020-02-27 03:58] sahil839 commented on #13656
@zulipbot claim

[2020-02-27 07:16] hackerkid commented on #13209
@timabbott I couldn't reproduce this in local dev environment. I created an organization with subdomain `epic`, changed its subdomain to `epic1` using the `do_change_realm_subdomain` function and then was able to create a new organization with subdomain `epic`. As expected I was not able to create a new organization with subdomain `epic1` once the initial organization was renamed from `epic` to `e

[2020-02-27 10:21] thetruechar commented on #13806
[code]

FYI, thank you.

[2020-02-27 13:42] majordwarf opened #14049 "Plans page is not personalised"
**Issue:**
`This issue is specific the the development environment`

Even while logged in, `/plans` page shows the user to sign-up instead of showing their current plans. This won't happen with self hosted and production builds as the user will be redirected to [Zulip's Official Plans](https://zulipchat.com/plans) page instead of the one on their system.

**How to recreate:**
- Log-in to your orga

[2020-02-27 13:43] majordwarf commented on #14049
@zulipbot claim

[2020-02-27 13:47] majordwarf commented on #14049
@timabbott @hackerkid Do we store if the self-hosted server is under community support or enterprise? I was wondering is we can just show the two panels under "Zulip On-Premise" on self-hosted instance. Or do we want to keep them redirecting to plans page on Zulip's website?

[2020-02-27 14:28] kracekumar opened #14052 "Nan values in stats page"
In the [URL](https://recurse.zulipchat.com/stats), the `Messages sent by client` section displays Nan while displaying the chart. The section beneath the `Messages sent by client` displays numerical values. Please find the screenshot below

<img width="932" alt="zulip_Messages_sent_by_client" src="https://user-images.githubusercontent.com/311929/75454107-e6c92900-599a-11ea-9b90-fb8d04a585ad.png">

[2020-02-27 14:55] kracekumar opened #14053 "Unread message clearing issue"
I logged into zulip after years. The dialog box showed 50K unread messages with an option to clear the unread messages. After clicking on the option 'clear unread message' (i don't remember exact words), the dialog box didn't show any progress or count, as result, I was waiting for the box to disappear.

Meanwhile, the unread count on the streams section kept changing in the left sidebar, after a

[2020-02-27 17:04] majordwarf commented on #14049
@zulipbot claim

[2020-02-27 18:08] hackerkid commented on #14049
To calrify, in #14018 I was mostly talking about the case in which `zulip` realm is subscribed to `Standard`. If you create a new realm in local development emvironment and subscribe to it to Standard by going to /billing it will indeed show Standard as correct plan in /plans page. The bug is only with `zulip` realm most likey due to an issue with https://localhost:9991 being its custom domain ins

[2020-02-27 20:15] hvisage opened #14059 "Boto: OVH S3 compatible API needs region inserted"
Refer to https://chat.zulip.org/#narrow/stream/3-backend/topic/S3.20to.20non-AWS.20(OVH.2Ecom)

[code]

Need perhaps fixes related to: https://github.com/boto/boto/issues/2624#issuecomment-324768519 & https://github.com/boto/boto/issues/3377#issuecomment-324766596

[2020-02-27 22:03] gnprice opened #14061 "Use Google Play and App Store badges on /apps/android and /apps/ios"
We have a pair of pages on the website that point to the Zulip mobile app, for Android and iOS. They look like this:
![image](https://user-images.githubusercontent.com/28173/75490719-91285880-5969-11ea-87b6-bd45efed74d5.png)

In place of the big green button, it'd be good to use a Google Play badge and an App Store badge respectively. See upstream marketing guidelines for details: [Google](https:/

[2020-02-27 22:04] gnprice commented on #11647
Yeah, agreed. Filed #14061; closing this one. Thanks again @theredcap!

[2020-02-27 22:04] #11647 closed

[2020-02-27 23:16] timabbott commented on #14049
It sounds like this is just an issue specific to the development environment?  It's possible we should adjust settings to make the development environment experience more consistent with what one might see in production.

[2020-02-27 23:17] timabbott commented on #13209
OK, sounds good, closing as invalid.

[2020-02-27 23:17] #13209 closed

[2020-02-27 23:20] timabbott commented on #14059
This may be addressed by finishing the upgrade to boto3, which has a stalled PR here: #10986.

[2020-02-27 23:23] timabbott commented on #14053
I think this is a duplicate issue, but I agree and thanks for reraising this.

[2020-02-27 23:24] timabbott commented on #14052
I'm betting this is a string-to-int typing migration bug.

@hackerkid can you fix?

[2020-02-27 23:24] timabbott commented on #14052
@andersk FYI.

[2020-02-27 23:26] timabbott commented on #14044
This is known, see https://github.com/zulip/zulip/issues/13486.

It's fairly involved to fix correctly in a way that handles both directions (local -> cloud and cloud->local); we're partway through that process.

[2020-02-27 23:26] #14044 closed

[2020-02-27 23:26] timabbott commented on #14037
I haven't tried reproducing yet, but I assume there's a bug here.  We should use our existing conventions for showing success/error feedback elsewhere in the settings UI.

[2020-02-28 01:10] timabbott commented on #13806
Based on this output, I think the problem is that you're using a busted pypi mirror in alibaba ECS?
[code]

[2020-02-28 01:13] timabbott commented on #10970
We don't have an ETA for this, as it isn't currently being worked on.

[2020-02-28 01:14] timabbott commented on #14004
Yeah, that's the main place for frontend-side validation code of the registration form.

[2020-02-28 01:26] shubhamgupta2956 commented on #14004
I had completed the changes in #14027 . Please review it.

[2020-02-28 02:47] SiddharthVarshney commented on #14011
picking another issue as the pr is under review

[2020-02-28 02:47] SiddharthVarshney commented on #14011
@zulipbot abandon

[2020-02-28 02:48] SiddharthVarshney commented on #14061
@zulipbot claim

[2020-02-28 02:49] SiddharthVarshney commented on #14061
@gnprice I would like to work on this

[2020-02-28 02:57] thetruechar commented on #13806
So how can i fix this? And in the time i post this issue,  i disabled the python mirror, but still failed.

[2020-02-28 05:40] Pranav2612000 commented on #14052
I'll like to work on this.

[2020-02-28 06:58] timabbott commented on #14016
Yeah, I'm going to close this as not actually a bug.  Thanks @Jagansivam28 and @majordwarf.

[2020-02-28 06:58] #14016 closed

[2020-02-28 07:58] sahil839 commented on #13541
@zulipbot claim

[2020-02-28 08:38] timabbott commented on #13806
Did it fail in the same way, or were the error lines different?

[2020-02-28 11:44] hvisage commented on #14059
Ah, This DO work (with boto3 at least):

https://www.swiftstack.com/docs/admin/middleware/s3_middleware.html#boto3

[2020-02-28 12:54] timabbott commented on #13959
This was fixed in master by the linked PRs.

[2020-02-28 12:54] #13959 closed

[2020-02-28 12:56] timabbott commented on #13927
Makes sense.  I think it's a reasonable feature but also probably not a priority for the project.  I'd be happy to help someone contribute.

[2020-02-28 13:09] Turbocube644 commented on #9480
Hi, are there any news on this?

[2020-02-28 15:00] hvisage commented on #14059
The following works with the `boto/boto` against OVH's S3 API

the questions:

1. how would/could  `OrdinaryCallingFormat()` be inserted?
2. how/would  the `S3_conn.auth_region_name=<>` be added?

[code]

[2020-02-28 18:06] arpit551 commented on #14025
@timabbott @andersk  This is so because in virtualenv>20.0.0 [activate_this.py](https://github.com/pypa/virtualenv/blob/master/src/virtualenv/activation/python/activate_this.py) is modified and it does not use the variable` 'site_package'` thereby giving key error. I guess we have to use 'path' instead of 'site_package' or any other method to verify that the virtual environment is set up or not.

[2020-02-28 20:20] timabbott commented on #14059
You can try patching the boto initialization code in `zerver/lib/upload.py` to do what you need; search for `S3Connection` there.

[2020-02-28 20:40] pirate commented on #2183
Alternatively, we can let people silince the email notifications for `@all` and `@everyone` on the receiving end. This is useful for Zulips that some people only follow occasionally, the user would still want to receive `@Name` mentions or PM notifications involving them specifically, but they don't want to get emails for the community-wide `@all` mentions (that are frequently overused).

<img wid

[2020-02-28 21:44] heynemann commented on #13418
Python 3 support is up and running. Please check this https://github.com/thumbor/thumbor/releases/tag/7.0.0a2

If you need help upgrading, let us now and we'll help however we can.

[2020-02-28 21:57] whoodes commented on #11341
Fixed in #14062

[2020-02-28 22:20] timabbott opened #14067 "Improve logging of User-Agent for errors and official clients"
Currently, all of our API requests go through decorators that call `process_client`.  This does 3 things:
* Parse the User-Agent and determine whether the client (claims to be) an official Zulip client or not
* Call `get_client` and store `request.client` with a `Client` object, which is needed for
* Call `process_user_activity` to trigger UserActivity logging.  For `get_events`, #13917 has some i

[2020-02-28 22:47] showell commented on #13726
Any update on this?

[2020-02-28 23:03] jtagcat commented on #13927
I'm ok to contribute 1-2 workdays, but I slightly dislike python and aren't the biggest fan of js.
I'd start with refining the comments here to a more precise requirements, go to the backend, look at the existing custom fields; implement it in the back, then go to the front.

[2020-02-29 00:07] gnprice commented on #12576
Here's how I interpret this report -- I think it's a reasonable piece of UX feedback.
* Start composing a message.
* Add an image -- for example, by hitting Ctrl+V (or Cmd+V) to paste, after you've copied an image to the clipboard, e.g. by right-clicking on an image in some other browser tab and picking "Copy image".
* The resulting message has not only the image, but also the filename, as in the

[2020-02-29 01:13] timabbott commented on #2183
@pirate we already have that feature; the idea of `@online` would be something lighter-weight that could be used more as it only gets the attention of people who are currently online.

[2020-02-29 01:16] timabbott commented on #13418
Awesome!

[2020-02-29 03:17] gnprice commented on #13994
Thanks @jainkuniya!

It looks like this is a duplicate of #11767.

What's actually shown in your screenshot, in the emoji at the start of each message, is neither of those. It's our `:shrug:`, corresponding to U+1F937 SHRUG, which isn't gender-specific. I've just added in that thread what happens when I enter just that emoji (aka "person shrugging"); then "woman shrugging"; "man shrugging"; "perso

[2020-02-29 03:17] #13994 closed

[2020-02-29 03:27] gnprice commented on #11767
Here's another workaround FWIW: enclose the emoji in backticks. Like this:
[code]

That's the following sequence:
[code]

---

Or here's the original example:
[code]
but that one actually seems to have other complications: it doesn't seem to get handled as a sequence either here on GitHub or in the webapp, at least not in my browser (Chrome on Linux). But when I sent a Zulip message with `👁‍🗨` jus

[2020-02-29 06:33] rht commented on #13418
cc: @adnrs96

[2020-02-29 16:19] hackerkid commented on #14049
Actually I can't reproduce the issue anymore. Zulip realm when subscribed to Standard is correctly showing it as the current plan. I think I forgot to subscribe the realm to Standard.

Actually yeah, I indeed forgot to subscribe Zulip to standard. The behavior of /plans page showing Sign Up instead of Current plan under Limited section is also correct since the default plan_type of Zulip realm is

[2020-02-29 16:19] #14049 closed

[2020-02-29 16:20] showell commented on #14049
More discussion here:

https://chat.zulip.org/#narrow/stream/49-development-help/topic/Context.20error.20in.20dev.20environment/near/823979

@timabbott I don't think there's a super-easy way to make the dev environment consistent with production here, since our main realm is set to `SELF_HOSTED`, and I think we want that `plan_type` for most of our testing, since that's the population we least wan

[2020-02-29 17:40] vinitS101 commented on #13917
Finishing up my exams and pushing a PR for this by this week.

@zulipbot

[2020-02-29 22:58] ssirenkth commented on #3917
@zulipbot abandon

[2020-02-29 22:59] ssirenkth commented on #3917
I and some students implemented this feature for a course project here: https://github.com/DD2480-group7-2020/zulip/tree/feature_first_message
Feel free to use the changes.

[2020-03-01 06:17] majordwarf commented on #14049
@zulipbot abandon

[2020-03-01 14:22] showell opened #14076 "reminders: Clean up unfinished feature."
This is **not** for beginners, and the issue is deliberately vague about how to proceed.

We have a reminder feature that was started a couple years ago and is now in somewhat of an unfinished state.  AFAIK there were no major blocking issues on the feature other than competing priorities (school, other Zulip stuff was getting more attention, etc.).  See #8121 for an example PR related to this fea

[2020-03-01 16:03] arunikayadav42 opened #14079 "Settings dropdown does not close when username clicked"
I opened the settings dropdown and simultaneously tried to click a username.

Expected behaviour: The settings dropdown should close

Current behaviour: The settings dropdown does not close.

I will add the gif for the same in a while.

[2020-03-01 16:03] arunikayadav42 commented on #14079
I am working on this issue.

[2020-03-01 16:03] arunikayadav42 commented on #14079
@zulipbot claim

[2020-03-01 18:18] mateuszmandera opened #14080 "Topic mentions shouldn't be processed by linkifier"
Steps to reproduce:
1. Add a linkifier pattern, let's use the example:
``#(?P<id>[0-9]+)`` -> ``https://github.com/zulip/zulip/issues/%(id)s``
2. Create a topic that should get linkified, let's say ``#4871``.
3. Now mention the topic (``#**Denmark>#4871**``). What happens is that the ``#4871`` part of the rendered text links to ``https://github.com/zulip/zulip/issues/4871``, but the correct way is

[2020-03-02 07:57] timabbott commented on #14022
@Abhinav-Anand12 can you provide more details on the issue?  I haven't seen this exception before.  What Zulip version are you running, does this happen every time, are you using Docker, etc?

[2020-03-02 08:03] #14080 closed

[2020-03-02 08:06] Jagansivam28 commented on #13413
@zulipbot claim

[2020-03-02 09:42] SivaGanapathy98 commented on #14079
@zulipbot claim

[2020-03-02 10:11] arunikayadav42 commented on #14079
Hi! I opened the issue for myself to work on . please find any other issue . Thanks

[2020-03-02 10:12] arunikayadav42 commented on #14079
I also mentioned above that I am already working on it. Please ask before claiming an issue. Somebody else might already be working on the same. Thanks

[2020-03-02 10:17] Abhinav-Anand12 commented on #14022
@timabbott I am using the latest version itself Zulip 2.1.2. for the latest docker-zulip image Every time I log in to my Zulip account, the same error keeps popping up in the mail and log files.

[2020-03-02 11:20] Jagansivam28 commented on #14019
@timabbott, please review

[2020-03-02 23:09] aero31aero commented on #12576
@timabbott #387 already has #12979 as the fix. This particular issue can be handled by changing the image upload code to insert the new syntax once #12979 has been merged. I can make a commit on top of it for now.

[2020-03-03 01:45] #14052 closed

[2020-03-03 10:05] ARsquare commented on #12564
Hi @rishig, I am interested in working on this issue. It would be great if I had some more clarification on the issue.

[2020-03-03 10:16] Bearbobs commented on #14067
@zulipbot claim

[2020-03-03 13:56] Jagansivam28 commented on #13644
@zulipbot claim

[2020-03-03 14:00] Jagansivam28 commented on #13413
@zulipbot abandon

[2020-03-03 14:00] Jagansivam28 commented on #13644
@zulipbot claim

[2020-03-03 17:23] MasonProtter opened #14093 "Option to set default emoji for organization"
Individual users can choose between google modern, google classic, twitter and plain text for the emoji. It would be nice if organization admins could change what default choice is made for new members of the organization.

[2020-03-03 19:34] timabbott commented on #14093
Thanks for the report @MasonProtter!  I think our approach to this will be https://github.com/zulip/zulip/issues/11570; closing this as a duplicate of that more general issue.

[2020-03-03 19:34] #14093 closed

[2020-03-03 19:53] timabbott commented on #4785
This issue is stale; we fixed it some time ago.

[2020-03-03 19:53] #4785 closed

[2020-03-03 23:18] timabbott opened #14095 "Flush per-request caches in queue workers that interact with RealmFilters"
In https://chat.zulip.org/#narrow/stream/9-issues/topic/strange.20linkifiers.20behaviour/near/824977, a user reported an issue that I believe can be traced to our not flushing the per-request caches (aka clearing a couple dictionaries) in the `message_sender` workers.  While those queue workers have been removed, I believe there's a very similar issue with the `email_mirror`, `outgoing_webhook`, `

[2020-03-03 23:29] #14095 closed

[2020-03-04 00:11] timabbott opened #14096 "Fix GitHub webhook support for requesting a team as a reviewer"
This is an issue with Zulip's GitHub webhook; we currently only support the `requested_reviewers`  part of a `review_requested` event, and not the `requested_teams` part.

Following https://zulipchat.com/api/incoming-webhooks-overview, we should capture a test fixture for this issue and then add support for displaying teams as well with test coverage from the new fixture.

Here's our implementatio

[2020-03-04 01:50] timabbott commented on #11767
Structurally, this might be the same issue as #10115; which is that our emoji/spritesheet infrastructure doesn't implement support for emoji combining characters.

[2020-03-04 02:21] chrisbobbe commented on #11767
I noted that PR above (https://github.com/zulip/zulip/issues/11767#issuecomment-572716017), but this issue isn't asking for support through the spritesheet flavor of emoji, but rather plain Unicode emoji.

I think one way forward for this issue is my question at https://github.com/zulip/zulip/issues/11767#issuecomment-572711161:

[2020-03-04 06:31] singhsourabh commented on #14096
@zulipbot claim

[2020-03-04 06:45] timabbott commented on #11767
Yes, the server aims to detect unicode emoji and convert them into the same HTML as our non-unicode emoji using the spritesheet (see `UnicodeEmoji` in `bugdown`), to support emoji format preferences.  Which is why I think the issue is the same problem as #10115 (though that PR I don't think gets as far as working on the ZWJ in bugdown part of the problem).

@aero31aero it's possible this could be

[2020-03-04 07:26] chrisbobbe commented on #11767
Mm, it makes better sense now; I think Greg and I were both unaware that such a conversion was a goal.

I think it’ll be a good idea to plan for what to do when the conversion fails because some of the code points that carry meaning don’t have counterparts in the set of names available to the user in, e.g., emoji autocomplete; see STAFF OF AESCULAPIUS and friends in Greg’s post above. That’s assum

[2020-03-04 07:34] whoodes opened #14097 "message_header: Topic edit pencil sometimes missing from recipient bar controls."
A recent bug was introduced that disables the topic edit capability of certain topics.  It's hard to pinpoint a pattern, but going farther back in a stream's history seems to be positively correlated to the number of topics that are affected.

Currently as of writing this, eg, the `checkins` stream on [chat.zulip.org](chat.zulip.org) has topic edit options on the first few.  Scrolling up reveals s

[2020-03-04 07:39] whoodes commented on #14097
@zulipbot add "message view"

[2020-03-04 07:40] whoodes commented on #14097
@zulipbot add "area: message view"

[2020-03-04 07:40] whoodes commented on #14097
@zulipbot add "bug"

[2020-03-04 09:03] hackerkid commented on #13286
@zulipbot claim

[2020-03-04 13:20] showell commented on #13286
I fixed a couple things recently, but we still need to fix at least the Javascript example here:

https://chat.zulip.org/api/typing

I think one of the reasons we didn't change the docs a while back is that our testing framework is somewhat irritating about letting you document the modern API (ints) when you still need to support the old API (strings), and I had to exclude a test.

https://github.

[2020-03-04 14:27] hackerkid commented on #13286
@showell Do we want to depreciate using emails in send-message endpoint as well?

[2020-03-04 14:41] showell commented on #13286
For the send-message codepath, we want to encourage folks to use user_ids if they can, but we don't want to deprecate emails quite as strongly, since casual users probably appreciate the convenience.  I'm fine with just deprecating it, though.

(The typing indicators are more of a special case, since we rarely expect random, casual users to need that API.)

[2020-03-04 16:33] MasonProtter commented on #3157
I just want to chime in that I agree, this feature is quite important for me in evaluating Zulip as a Slack alternative for a large (1000+) cohort of people.

[2020-03-04 17:14] orientor commented on #14067
@zulipbot claim

[2020-03-04 17:41] Abhishek-Balaji commented on #10626
@zulipbot claim

[2020-03-04 17:44] ExpandingMan commented on #13337
Hello all.  I'm part of the Julia language open source community and we've recently been investigating zulip.  Many of us noticed rather quickly that, while the web app is beautiful, the mobile apps seem to lag behind.  I'm not sure exactly what would be involved in enabling zulip as a PWA, but as the web app already works wonderfully on mobile, I'd have to think not much.  I think many users woul

[2020-03-04 18:33] showell commented on #10626
I am not completely sure that we still want to do this, so it’s worth starting a discussion on chat before doing too much work here.

[2020-03-04 18:45] vinitS101 commented on #12564
Hi @ARsquare , we basically want to break the Organization ("Realm") creation form into two parts as Rishi stated.

You can find the form at `accounts/register/`.

[2020-03-04 21:52] clarammdantas commented on #13746
I'm still working on this.

[2020-03-04 22:41] timabbott opened #14099 "Consider using mailcheck to help avoid typos in email addresses"
This issue is inspired by https://chat.zulip.org/#narrow/stream/9-issues/topic/Unable.20to.20create.20organization.20using.20zulipchat.2Ecom/near/826119, where a user typoed their email address while trying to create an account.

We don't want to be in the business of guessing which email addresses are likely typos, but apparently there's an OSS library that provides suggestions for common mistake

[2020-03-04 23:30] timabbott opened #14100 "Master TODO list for Zulip's core API documentation"
This is a new issue replacing #10044, which has become cluttered with time.  Zulip has done a lot of big investments over the last few years in making our API documentation use the OpenAPI format and have automated tests, which makes it possible for it to be maintained reasonably.  This issue documents the important work that needs to happen for our API documentation to be complete for common use

[2020-03-04 23:31] timabbott commented on #10044
Closing in favor of the cleaned-up https://github.com/zulip/zulip/issues/14100.

[2020-03-05 00:40] timabbott commented on #13337
@ExpandingMan thanks for the feedback!

I don't know a lot about PWAs myself; do you know what would be required to offer what you're looking for?

[2020-03-05 01:12] ExpandingMan commented on #13337
I'm in no way a web developer myself, so I'm afraid I can't give you much first-hand knowledge.  Basically the idea is to just cache a website, run it in a browser engine, and call that an app.  Obviously there are all sorts of reasons why you might want a native app, but most of those are negated by the iOS/android horrorshow anyway.

I realize that the zulip mobile apps are already JS.  I'm not

[2020-03-05 01:30] timabbott opened #14101 "Add zerver/lib/events / test_events support for moving messages between streams"
This is a planned follow-up to #13912; I'm opening it now so we don't lose track of it.  We should add a case to `test_stream_send_message_events` (or similar to the message editing piece of it) that moving a message between streams using the `propagate` feature, and verifies that our `zerver/lib/events.py` code does the right thing.

I'm pretty sure it doesn't today and might be fairly tricky to

[2020-03-05 01:43] timabbott commented on #10626
Yeah, I'd recommend picking another issue.

[2020-03-05 01:44] timabbott commented on #3157
Just an update on this -- we're closing to integrating a change that covers much of the need here, namely displaying Zulip's "stream description" features in the top-center navbar.

One could then additionally do a markdown link to a topic from that description to simulate this feature if the space available in the stream description is insufficient.

[2020-03-05 01:49] timabbott commented on #11767
We haven't really designed how we want to handle these emoji and I don't have a lot of time to dig into how this should work right now.  But I think a design constraint is that allowing users to select an emojiset they want effectively requires that we translate emoji into a glyph in the spritesheet.

[2020-03-05 06:00] Abhishek-Balaji commented on #10626
@zulipbot abandon

[2020-03-05 06:55] whoodes opened #14102 "index.html: Reload link fails to refresh page (Chrome)"
Some relevant discussion can be found [on this topic](https://chat.zulip.org/#narrow/stream/9-issues/topic/Chrome.20DOMContentLoaded.20event/near/826431) from chat.  This was originally discovered on macOS using `Chrome Version 80.0.3987.132`.

To reproduce, one can try the following:

This method also works on the development environment. But due to a much shorter load time, it can prove a little

[2020-03-05 08:10] ARsquare commented on #12564
Thanks @vinitS101!

[2020-03-05 08:11] ARsquare commented on #12564
@zulipbot claim

[2020-03-05 09:20] SivaGanapathy98 commented on #14099
@zulipbot claim

[2020-03-05 10:30] riadabdel opened #14104 "NameError: name 'LDAPSearchUnion' is not defined"
HI Guys,

I have a problem with docker-zulip and LDAPSearchUnion integration.
The problem was solved her : https://github.com/zulip/zulip/pull/10520
But its not anymore working for me, when i search LDAPSearchUion, i found nothing in the code : https://github.com/zulip/zulip/search?q=LDAPSearchUnion&type=Code

My error:
[code]
Thx for the help :)

[2020-03-05 13:55] SiddharthVarshney commented on #14061
submitted a pr #14084 which is under review, picking some other issue

[2020-03-05 16:50] agrawal-d opened #14107 "Cant view profile of bot owner in organization settings"
Nothiing happens on clicking the owner's name.
![nogo](https://user-images.githubusercontent.com/7714968/76004372-66bd3900-5f2f-11ea-8629-09666a5081b2.gif)

[2020-03-05 16:58] agrawal-d commented on #14107
@zulipbot add "bug"

[2020-03-05 16:58] agrawal-d commented on #14107
@zulipbot claim

[2020-03-05 16:59] agrawal-d commented on #14107
@zulipbot  add "good first issue"

[2020-03-05 16:59] agrawal-d commented on #14107
@zulipbot claim

[2020-03-05 17:19] Abhishek-Balaji commented on #13425
@zulipbot claim

[2020-03-05 17:22] Abhishek-Balaji commented on #13425
@timabbott  Do you want to have a single custom color for all alert words or different colors for every alert word?

[2020-03-05 17:23] Abhishek-Balaji commented on #13425
I could work on https://github.com/zulip/zulip/issues/12614 too alongside this.

[2020-03-05 19:02] #14107 closed

[2020-03-05 20:13] orientor commented on #14100
I will aim to do the migration from zulip-2.0.yaml to zulip.yaml.

[2020-03-05 21:43] gnprice commented on #11767
I see the appeal of this as a design goal. But for these emoji, the status quo is much worse than users not being able to get them displayed in their preferred emojiset -- it's that they get corrupted instead, basically turned into mojibake.

Here's another report of this, [in chat](https://chat.zulip.org/#narrow/stream/6-frontend/topic/formatting/near/826941) just today:
![image](https://user-ima

[2020-03-05 22:09] #14011 closed

[2020-03-05 22:21] timabbott commented on #11767
OK, having spent a bit more time digging into this: The first thing we should try is just changing `unicode_emoji_regex` to cover sequences that include ZWJ -- that's the logic that currently does our emoji detection.  I think it's reasonably likely that doing so will result in our detecting which sequences are emoji using ZWJ, and then we'll do the conversion depending on whether or not the seque

[2020-03-06 00:06] aero31aero commented on #11767
(I'm taking a look at this today)

On Fri, Mar 6, 2020, 5:16 AM Tim Abbott <notifications@github.com> wrote:

[2020-03-06 01:22] MasonProtter opened #14111 "Option for organizations to not allow admins to see user emails"
I'm an admin in an open source community on Zulip and I don't really think I need or want to have access to the email addresses of all the members. Is there a way to stop me from being able to access them?

[2020-03-06 02:42] singhsourabh commented on #14096
@timabbott I handled individual and team reviewers separately.

**Code**
[code]

**Result**
![Screenshot from 2020-03-06 07-57-44](https://user-images.githubusercontent.com/32551625/76045022-086d7600-5f82-11ea-9dac-08f81cd0f2c0.png)

[2020-03-06 02:47] singhsourabh commented on #14096
In previous implementation there is minor bug that in multiple reviewers it append a `,` before `and`.
![Screenshot from 2020-03-06 08-14-01](https://user-images.githubusercontent.com/32551625/76045372-da3c6600-5f82-11ea-9f11-d2a6c7244f78.png)

[2020-03-06 09:39] arpit551 commented on #13787
@zulipbot claim

[2020-03-06 14:09] Jagansivam28 commented on #13644
![Screenshot from 2020-03-06 19-37-43](https://user-images.githubusercontent.com/45326319/76090674-fde2c900-5fe1-11ea-9a73-1f6dc96a93b4.png)
@timabbott is this expected design  ?

[2020-03-06 14:10] Jagansivam28 commented on #13644
is this expected design?
![Screenshot from 2020-03-06 19-37-45](https://user-images.githubusercontent.com/45326319/76090854-574af800-5fe2-11ea-8794-6b198f0d824a.png)

[2020-03-06 14:11] Jagansivam28 commented on #13644
@timabbott

[2020-03-06 14:12] Jagansivam28 commented on #13644
@timabbott is this expected design?
![Screenshot from 2020-03-06 19-41-46](https://user-images.githubusercontent.com/45326319/76090942-8fead180-5fe2-11ea-985a-4a3bb810c4e2.png)

[2020-03-06 14:54] akashaviator commented on #14100
I am planning to document the endpoints under `pending_endpoints` in the order of priority.

[2020-03-06 16:16] jessicadong101 commented on #14019
@zulipbot claim

[2020-03-06 16:45] MasonProtter opened #14116 "Moving messages to another topic"
One thing I notice in Zulip is that if one user starts talking 'off topic' in a topic it can be kind-of derailing.
It may be helpful for administrators to be able to batch select a big block of messages and move them to a new topic.

[2020-03-06 18:35] hackerkid commented on #13286
#14113 updates the send-message docs to recommend user_id instead of email in send-message.md docs. Also migrates the one remaining JS example in typing docs to use user_ids.

I think the major thing that is remaining here is coming up with a system to document the breaking changes that we make in the API as suggested by Greg.

[2020-03-06 19:19] klonos commented on #292
I am going through all the issues tagged with `area: left-sidebar`, and this one seems like the closest match to my issue; please excuse if what I'm about to explain is a totally different thing, and/or a duplicate of another existing issue...

So, we have recently switched from Gitter to Zulip in Backdrop CMS (read about it here: https://backdropcms.org/news/backdrop-official-chat-switches-to-zul

[2020-03-06 19:22] klonos commented on #292
...perhaps #4601 may solve my problem, but not 100% sure.

[2020-03-06 19:37] klonos commented on #2507
Hello 👋 ...trying to figure out if what I just posted in https://github.com/zulip/zulip/issues/292#issuecomment-595920354 is what is being discussed here?

PS: ...I need to wrap my head around what you mean when you say "topic narrows" and "narrowing".

[2020-03-06 19:40] timabbott commented on #13286
We don't have a system for how to document those changes; one option would be a section at the bottom of a given API endpoint's page on "Older Zulip versions", another would be a central log; I'm not sure what makes the most sense.

[2020-03-06 20:12] #14061 closed

[2020-03-06 21:14] MasonProtter opened #14118 "Option to delete preview of linked website"
Currently, `show previews of linked websites` is a global option for a whole organization, but I find it's very contextual when I want there to be a preview to a website I link.

In Slack, it automatically shows previews, but theres a button where the posted can turn off the preview for a specific post. It'd be nice if Zulip supported such a feature.

On slack, one can only remove the preview afte

[2020-03-06 21:44] gnprice commented on #13286
The place where it's essential to have the "New in Zulip 2.1" (etc.) information is on the page that documents the given feature.

I think the ideal form for it is right next to the documentation of the specific feature itself. Take a look at how the Python documenation handles this, for example. Here's from a module I picked arbitrarily, [`json`](https://docs.python.org/3/library/json.html#comman

[2020-03-06 21:51] gnprice commented on #13286
Another good model is the Rust docs -- posting as a separate comment just to avoid smothering the text around all the screenshots. Here's a page I figured would be especially likely to have a variety of things added at different times, and [it does](https://doc.rust-lang.org/std/primitive.str.html):
![image](https://user-images.githubusercontent.com/28173/76124897-88123980-5fb0-11ea-9cee-e2169db91

[2020-03-06 22:07] gnprice commented on #14100
Thanks for this cleaned-up issue!

From the mobile perspective, there are a couple of major areas that are very important and have not been documented. (Adapting this from my previous https://github.com/zulip/zulip/issues/10044#issuecomment-407663636 .) I would rank either of these above all of the endpoints listed in `pending_endpoints`.

One is the format of the data returned by `/register`.

Th

[2020-03-06 22:09] #10044 closed

[2020-03-06 22:51] MasonProtter opened #14119 "Indicator for when a topic's name has been changed"
It'd be nice if there was a visual indicator in the chat history if someone changes a topic's title. It needn't be intrusive or large, but just something small showing when in the conversation the name was changed and by who.

[2020-03-06 23:44] timabbott commented on #14116
This is supported already.  Documented here: https://zulipchat.com/help/change-the-topic-of-a-message

(The usual approach is you find the first message that's off-topic and then move "all later" messages).

One can also configure it so anyone in the organization can do this, if administrators are rare; we haven't heard complaints of that causing abuse issues in other open source projects.

[2020-03-06 23:44] #14116 closed

[2020-03-06 23:46] MasonProtter commented on #14116
Aha! I missed this part:

Sorry for the noise!

[2020-03-06 23:50] timabbott commented on #14111
@MasonProtter not at present, but I think it wouldn't be hard to add an "email address visibility" option to address that.

[2020-03-07 00:23] timabbott commented on #14118
There's an open issue for this which I think @punchagan was working on.

[2020-03-07 00:30] MasonProtter commented on #14118
My bad, I searched around but couldn't find any related issues. Feel free to close this if it's redundant.

[2020-03-07 00:32] timabbott commented on #14119
There is an EDITED indicator, and this information is I think available in the message edit history after clicking on that (or will be once #12423 is fixed).  We could potentially show something even more visible than that, but I wanted to make sure you were aware of what's already present.

[2020-03-07 00:34] #14111 closed

[2020-03-07 00:48] showell opened #14120 "Fix `n` key to ignore current message to figure out next stream"
See discussion here: https://chat.zulip.org/#narrow/stream/9-issues/topic/.60n.60.20interacting.20with.20message.20instead.20of.20narrow/near/827498

[2020-03-07 00:53] timabbott commented on #14118
No worried; but yeah this is a duplicate of https://github.com/zulip/zulip/pull/12816.

[2020-03-07 00:53] #14118 closed

[2020-03-07 00:54] timabbott commented on #10044
@6ixty2Developer can you be more clear about what your question was?

We do have https://github.com/zulip/zulip-js which supports making API requests using JavaScript; it's not as developed as the other libraries, however.

[2020-03-07 01:01] timabbott commented on #14100
For `/register` and `/events`, the next step in our plan is https://github.com/zulip/zulip/pull/13499, which is mentioned briefly above and will make available a full set of programmatically generated examples, an important steps towards having `/register` documentation that's tested.  @hackerkid is working on making that effort mergable.

I think we should consider the /events stuff to be a separ

[2020-03-07 01:37] timabbott commented on #13286
I think we'll need to play a bit with the OpenAPI integration to figure out what works; the concern I have is that I'm not sure the way we're passing data from OpenAPI to the frontend supports what we need to do a reasonable version detail display.

[2020-03-07 01:50] #13286 closed

[2020-03-07 01:51] timabbott commented on #13286
OK, I think 35b444d59cb00ba2ca2973a5f7fef42f844ab445 is a satisfactory way to do that, at least for this parameter.  For others, design structure considerations may make that unsatisfying.

I think that is the last unresolved item in this issue, so closing.  The natural follow-up is to update the API docs to add similar notes for other endpoints that have changed their APIs.

[2020-03-07 01:52] timabbott commented on #13286
(A key detail when writing these is that one needs to use the `|`  format in the `zulip.yaml` file for `description` in order to have markdown be usable there).

[2020-03-07 04:20] Jagansivam28 commented on #14019
@jessicadong101 hello,  I already fixed this issue. this is my pull request  #14051 can you please take another issue thank you!

[2020-03-07 05:42] BirajGupta opened #14123 ""in progress" label not present on some issues."
I'm new to contributing to this organisation, and I was going through some issues that I could  solve.
It is mentioned in the Zulip docs that an issue which is assigned to someone has a "in progess" tag.
But there were some issues that did not have the tag but still were assigned to someone and could not be claimed as I browsed through the conversations in the issues.
![Screenshot from 2020-03-07

[2020-03-07 05:55] BirajGupta commented on #5087
@zulipbot claim

[2020-03-07 07:42] SiddharthVarshney commented on #13622
@zulipbot claim

[2020-03-07 10:42] SiddharthVarshney commented on #13622
there's a pr for this #13675 but the color picked were doesn't seems to match with our designs and there is no update on pr
will give it a shot

[2020-03-07 10:52] SiddharthVarshney commented on #14123
The highlighted issues are not actually claimed by anyone

![Screenshot from 2020-03-07 16-18-08](https://user-images.githubusercontent.com/32801674/76142016-82d7ec00-608f-11ea-9aa2-9e46b466d884.png)
You can clearly see that in
[code]

[2020-03-07 10:52] SiddharthVarshney commented on #14123
feel free to claim those

[2020-03-07 14:10] majordwarf commented on #13960
@timabbott I was trying to recreate the following issue on my system. So I created a bot in Zulip and a webhook and system hook on Gitlab (had to setup Gitlab locally as Gitlab won't allow webhook calls to localhost).

The webhook seems to work fine but as mentioned about the push event of System hook, for me it won't throw the error mentioned above. It straight up throws 400 error stating that th

[2020-03-07 16:45] majordwarf commented on #14123
Also make sure there is no pending PR on that issue.
If you have a better solution the the current PR linked, feel free to claim it and then work on it. Sometimes people abandon the issue to claim another issue with the PR pending for review.

Happy contributing! :tada:

[2020-03-07 17:00] majordwarf opened #14134 "Button for each platform flashes during initial render of `/apps` page"
As pointed out by @timabbott here [#14084](https://github.com/zulip/zulip/pull/14084), the page tends to display/flash download buttons for every platform during initial render of the page and it can be more noticeable if the user is having a slow internet connection.

[2020-03-07 17:21] maltokyo opened #14136 "Disable ability to have digest emails"
I want to make the server completely private so that users cannot even choose to send themselves digest emails.  So they would have to use one of the apps, or the web version.

This command was useful to turn it off for all users:

`./manage.py turn_off_digests -a -r 2`

But how can I prevent users from switching it back on? Sorry I could not work this out.

[2020-03-07 19:29] maltokyo opened #14138 "Realms: After server move I now have 2 of them, not sure what to do - images do not display"
I had one realm in old server, and I migrated a couple of weeks ago.
Users complained that some old images are not displaying, so I checked things out, and the images that were in the uploads/images directory called `1` are not viewable.  I think that means realm `1` (correct?).  So when I list realms, it seems I now have two, where `2` is my current one:

`$ ./manage.py list_realms`
[code]

When

[2020-03-07 20:39] BirajGupta commented on #5087
I forked the python-zulip-api repo and built it and setup the virtualenv to run the log2zulip , but could not find any relevant commands on how to do so.
Can I get some hints on how to go about it.

[2020-03-07 21:11] vaibhavrajsingh2001 commented on #14100
I'll try upgrading to Open API 3 standards.

[2020-03-07 21:23] BirajGupta commented on #12281
@zulipbot claim

[2020-03-08 02:12] arunikayadav42 commented on #12281
A pull request has already been made. Please take up some other issue

[2020-03-08 02:33] #14134 closed

[2020-03-08 03:39] timabbott commented on #5087
So, this issue has been stale for a long time.  The `log2zulip` tool isn't easy to get working, and there hasn't been much demand for it, so I think I'm going to close this as wontfix.

[2020-03-08 03:39] #5087 closed

[2020-03-08 03:52] timabbott commented on #14138
@maltokyo how did you migrate the server?  Our import/export tools handle placing files in the right place.

That `zulipinternal` realm is an internal implementation detail; no user data should be there.  It's possible you can fix your situation by just moving all the files from the `1` folder into the `2` folder, but it's hard to know if that's sufficient without knowing how you got where you are

[2020-03-08 04:25] BirajGupta commented on #5087
Okay I understand. I'll work on some other issue instead.

[2020-03-08 05:39] shubhamgupta2956 commented on #13670
@zulipbot still working on it.

[2020-03-08 09:47] anshalshukla commented on #12249
@zulipbot claim

[2020-03-08 10:26] BirajGupta commented on #10135
I would like to give a try to the issue....
@zulipbot claim

[2020-03-08 10:42] maltokyo commented on #14138
Hi @timabbott  I migrated from standard install to docker. You cannot use the "backup / restore" function, you must use the "export/restore" function here:
https://zulip.readthedocs.io/en/latest/production/export-and-import.html#data-export

As documented here:
https://github.com/zulip/docker-zulip/issues/235

If realm 1 was there from the start and not in use, I wonder why the old photos are in f

[2020-03-08 11:18] arunikayadav42 opened #14140 "No hover text for topic edit icon"
When we hover over the pencil icon on the topic bar in a message area , then there is no hover text which is displayed.

![Screenshot from 2020-03-08 16-46-49](https://user-images.githubusercontent.com/28708494/76161781-8e451900-615c-11ea-85cb-cf36b4834b71.png)

[2020-03-08 12:03] shubhamgupta2956 commented on #14119
@timabbott , #12423 is idle for a long time. Can I make a new PR with its changes along with the requested changes(to extend the `message_events.js` node test) on that PR?

[2020-03-08 13:00] stanzheng commented on #9521
+1 any more recent updates on this? I think if you disable user/pass and rely on SSO 2FA that can give you some relief for now but i would be ideal for zulip native 2FA

[2020-03-08 13:13] anshalshukla commented on #12249
@zulipbot abandon

[2020-03-08 13:50] mateuszmandera commented on #9521
@stanzheng It's on my TODO list with a bunch of other authentication-related things, but there's several urgent things first. Should get to this soon-ish hopefully though!

[2020-03-08 14:11] niravasher commented on #12898
@zulipbot claim

[2020-03-08 14:15] niravasher commented on #12898
![Screenshot from 2020-03-08 19-39-05](https://user-images.githubusercontent.com/32176296/76164400-a6289700-6174-11ea-8d89-3bda8784cd79.png)
![Screenshot from 2020-03-08 19-39-25](https://user-images.githubusercontent.com/32176296/76164403-a9238780-6174-11ea-9365-38ed5a6d1e4a.png)
![Screenshot from 2020-03-08 19-39-42](https://user-images.githubusercontent.com/32176296/76164407-aaed4b00-6174-11ea-

[2020-03-08 14:38] anshalshukla commented on #2305
@zulipbot claim

[2020-03-08 15:52] arunikayadav42 opened #14145 "Add suggestions list for country in Your Account"
Currently there is no type ahead while enter our country name in your account section settings.

![Screenshot from 2020-03-08 21-03-26](https://user-images.githubusercontent.com/28708494/76166212-e55de480-6182-11ea-84d6-e6378aef3864.png)

[2020-03-08 16:06] jiviteshjain commented on #12898
Hi Nirav!
Most of the work on this issue is already done, and I'm just waiting for some confirmation and a final set of changes to make. You can look at the PR referenced above and consider building on top of it, instead of starting over from scratch.
Cheers

[2020-03-08 19:46] timabbott commented on #13541
@mateuszmandera I think with #14147 resolved, we've now fixed all of these; is that correct?  I figured it makes sense for you to double-check since you noticed the original bugs.

[2020-03-09 01:20] timabbott commented on #14145
That "Country" field is is a custom profile field (basically a generic short string text box) only present on chat.zulip.org, not a generic location feature.  I don't think there's a sensible way we can do typeahead for it without requiring administrators to manually add a list of valid values.

I can imagine us eventually adding a "location" or "country" field type with such typeahead, but I'd wa

[2020-03-09 01:20] #14145 closed

[2020-03-09 03:38] timabbott opened #14151 "Fix tracebacks hitting `escape` after repeated message editing"
@showell this may be a good issue for you to investigate and at least get to a proposed path forward, since the current state seems quite weird.  I found this via production exception reporting, and can reproduce this in a development environment.  The traceback is this:

[code]

The reproducer is to find a private message sent long enough ago you can't edit it anymore, and do "View source" on it,

[2020-03-09 04:02] timabbott opened #14152 "lightbox: Fix buggy implementation of "image-list" at bottom of lightbox"
So, I haven't been able to reproduce this in a development environment, but we've seen tracebacks in production where the `exports.open()` call below is throwing "Caller should pass in a single row." inside `rows.js`:

[code]

Looking at the code here, our logic doesn't make much sense.  The setup that we have here is that:
* We've rendered this `image-list` object containing tiny thumbnails of ot

[2020-03-09 05:33] niravasher commented on #12898
Sorry @jiviteshjain didn't see your PR, ill close mine

[2020-03-09 06:58] niravasher commented on #14102
I am not able to reproduce this on ubuntu 19.04

[2020-03-09 07:44] Wowol commented on #13413
@zulipbot claim

[2020-03-09 09:07] niravasher opened #14153 "Move elements to the next line"
Elements like "Scroll down" and "cycle between stream narrows" - should occupy two lines on smaller sizes
![Screenshot from 2020-03-09 14-31-14](https://user-images.githubusercontent.com/32176296/76197707-aa0af680-6212-11ea-82b8-7420b9780863.png)
![Screenshot from 2020-03-09 14-26-57](https://user-images.githubusercontent.com/32176296/76197660-91024580-6212-11ea-95eb-15869a97399b.png)
![Screenshot

[2020-03-09 09:07] niravasher commented on #14153
@zulipbot claim

[2020-03-09 09:09] niravasher commented on #12898
@zulipbot abandon

[2020-03-09 09:10] niravasher commented on #14153
@zulipbot claim

[2020-03-09 09:31] niravasher commented on #14153
@timabbott is this relevant? Should I work on this?

[2020-03-09 09:45] mateuszmandera commented on #13541
Yeah, I think that's all now.

[2020-03-09 09:45] #13541 closed

[2020-03-09 11:41] maanuanubhav999 commented on #12571
zulipbot claim

[2020-03-09 11:52] maanuanubhav999 commented on #12571
@zulipbot claim

[2020-03-09 14:17] Udit107710 commented on #4115
@zulipbot claim

[2020-03-09 14:22] ezitisitis opened #14156 "Issue templates"
How about to invent an issue templates?

For example:
1. Bug (possibly multiple for different cases)
2. Feature request
3. Pull request

I can do it if you want.

[2020-03-09 14:54] Udit107710 commented on #4115
@timabbott
How should I proceed with the issue? There is already an audit of previously available integrations present. There were new integrations after 2017 and I think they are already returning a message.

[2020-03-09 15:36] BirajGupta commented on #9126
I'm running this command ./node_modules/.bin/eslint /static/js/debug.js --fix but it shows this:
![Screenshot from 2020-03-10 09-03-46](https://user-images.githubusercontent.com/56409094/76230470-41f2f980-6280-11ea-948d-4c6a06c2e8d2.png)

Can anyone tell what am i doing wrong

[2020-03-09 18:21] orientor opened #14157 "Is chat.zulip.org down?"

[2020-03-09 19:47] maanuanubhav999 commented on #14157
no, it seems to working fine.

[2020-03-09 19:57] orientor commented on #14157
Weird. Its working fine on my phone too but not responding at all to my pc although other things are working fine(writing this comment on pc). Maybe some problem with isp. Closing down issue.

[2020-03-09 19:57] #14157 closed

[2020-03-09 20:46] MasonProtter opened #14160 "Option to collapse list of users in a large window"
Currently, if you have a very wide webpage open there does not appear to be any way to collapse the list of users that shows up. It would be nice to have a way to do this

e.g. here with a narrow window I can click the button at the top right to hide the user list

![Screen Shot 2020-03-09 at 2 44 41 PM](https://user-images.githubusercontent.com/29157027/76255884-8f398180-6214-11ea-8f3e-851f5f4d83

[2020-03-09 21:06] timabbott commented on #4115
@Udit107710 I think we should just close this issue as hopeless stale.  I think we've likely discovered those integrations that support this sort of ping feature long ago.

[2020-03-09 21:06] #4115 closed

[2020-03-10 01:35] dhirschfeld commented on #9165
For us, one of the benefits of zulip is that your conversations can become a *searchable* repository of knowledge - if you've already explained something once you can search for the conversation and send a link to the conversation rather than repeating yourself.

Unfortunately, this bug makes that workflow a lot more difficult as often the uniquely identifying information was in a url. We try and

[2020-03-10 10:32] showell commented on #2305
Closing this since there's not much clarity that we want to do it.  We can maybe reopen this after the navbar redesign.

[2020-03-10 10:32] #2305 closed

[2020-03-10 12:36] mayankwadhwani commented on #14079
I'll like to collaborate on this issue @arunikayadav42 :)

[2020-03-10 18:03] clarammdantas opened #14165 "Deactivated users tab not being refreshed."
When an admin user deactivated a user and, without closing the settings panel, check the deactivated users it doesn't show the user that has just been deactivated.

Steps to reproduce:
1. Log in with an admin account
2. Open settings -> organization -> users
3. Deactivate a user
4. Go to 'deactivated users'

![Captura de tela de 2020-03-10 14-51-58](https://user-images.githubusercontent.com/155646

[2020-03-10 18:50] chrisbobbe opened #14166 "Make hard-coded `jitsi_server_url` and friends accessible by `/register`"
In the [Events subsystem doc](https://zulip.readthedocs.io/en/latest/subsystems/events-system.html), `page_params` is documented as the way to access data provided in the `/register` response.

I learned recently (@showell points out [here](https://chat.zulip.org/#narrow/stream/127-integrations/topic/Jitsi.20Videocalls/near/829298)) that some fields on `page_params` do not come from the `/register

[2020-03-10 21:48] Rodriq commented on #13519
@zulipbot claim

[2020-03-10 22:12] gnprice opened #14168 "Support "Sign In with Apple" auth"
This is Apple's new identity provider for users to sign into "apps and websites". We'll need to support it just like we support Google and GitHub auth, on all platforms.

The lever by which Apple is making this required for us is their control of iOS: after a deadline of 2020-04-30, we must support it in order to publish updated versions of Zulip in the App Store. But it applies to all platforms,

[2020-03-10 22:28] timabbott commented on #14156
I don't think we feel the need for separate issue templates at this time.

[2020-03-10 22:28] #14156 closed

[2020-03-10 22:34] timabbott commented on #14136
It appears this isn't properly documented, and we shouldn't close this issue until we add proper documentation for Zulip's digest emails feature, but you can make digest emails unavailable for all users here:

![image](https://user-images.githubusercontent.com/2746074/76365396-78faf680-62e4-11ea-8810-3434b3c3361f.png)

[2020-03-10 22:38] timabbott commented on #14138
Well, I wouldn't have recommended migrating from our super stable traditional model to Docker, as it's still experimental, but I guess it's a bit late for that.

Can you be clear on what precisely was present in the `uploads` folders of:
* The old server (which realm ID?)
* The new server post migration (which realm ID has the images)
* What's present in the data export tarball?

That information

[2020-03-10 22:39] timabbott commented on #14166
Yeah, the intent is to move all of the ones that are not webapp-specific to the `realm` section of the `/register` response; we did most of them a couple years ago and then forgot to finish, I think.

It's a very simple change to move one of these; we should probably just figure out the fully list we want to move and move them all.

Some, like `TEST_SUITE`, are likely meaningless; let me see if I

[2020-03-10 22:54] timabbott commented on #14166
One thing to discuss is naming; we possible want to name these as e.g. `settings_root_domain_uri` or `server_root_domain_uri` to distinguish them.  And also what `event_types` one needs to request to get them; by default I'd do `realm`.  But here's my summary.

These seem useful and could be migrated over modulo potentially adding a naming prefix:
        development_environment = settings.DEVELOP

[2020-03-10 22:55] timabbott commented on #14123
Yeah, I'm going to close as zulipbot doing what it's supposed to do, even if it doesn't provide perfect data.

[2020-03-10 22:55] #14123 closed

[2020-03-10 22:57] timabbott commented on #14104
So it seems.  You should be able to just add it to the line `zproject/settings.py` that starts like this one does; it's from the third-party module `django_auth_ldap`:

`from django_auth_ldap.config import LDAPSearch, GroupOfNamesType, LDAPSearchUnion`

We'll plan to add that import to `settings.py` to resolve this.

[2020-03-10 23:02] chrisbobbe commented on #14166
Thanks, Tim!

After having posted this, I remembered that `/server_settings` exists ([doc](https://zulipchat.com/api/server-settings)); I'd been using that recently for the zulip_version in https://github.com/zulip/zulip-mobile/pull/3839.

Might some of these belong there, or should they all go under `realm` in the /register response?

[2020-03-10 23:30] #14096 closed

[2020-03-11 01:15] whoodes opened #14169 "Messages are never marked as read when following `near:` link."
If one is to follow a link in the form of:
[code]

This will drop you at a point within a topic that is possibly well beyond your last read message, as such any messages viewed here are not marked as read.

This, of course, is the desired behavior to avoid marking messages as read all willy-nilly.  However, this can have the counter-intuitive effect of not marking messages read when you are droppe

[2020-03-11 04:39] hashirsarwar commented on #14169
@zulipbot claim

[2020-03-11 05:48] sahil839 commented on #14165
@zulipbot claim

[2020-03-11 09:22] punchagan opened #14171 "Semaphore CI's webhook notifications don't work"
It looks like the payload format for the webhook notifications has changed. The old format described [here](https://semaphoreci.com/docs/branches-and-builds-api.html) is expected by the webhook code. The test fixtures also have payloads that look very similar to what has been described here.

The new payload format is documented [here](https://docs.semaphoreci.com/essentials/webhook-notifications/

[2020-03-11 09:50] singhsourabh commented on #13960
@zulipbot claim

[2020-03-11 09:53] Jagansivam28 commented on #13923
@ab1nash are you still working on this issue?

[2020-03-11 10:14] ab1nash commented on #13923
@Jagansivam28 yeah really hadn't had time to work on this owing to college work. Sorry for eating up the time. Feel free to work on this.

[2020-03-11 10:22] abhinav824 commented on #14171
@zulipbot  claim

[2020-03-11 10:45] Dakkaron commented on #13656
This would be a very important feature for us, and (since I thought it was already implemented) it was actually one of the main reasons for us to move to Zulip.

We want to use Zulip for in-house communication on the one hand (all of our staff is either admin or member), but also to communicate with partners and customers about projects that run for a longer time.

Ideally, I want to stop our part

[2020-03-11 12:34] mateuszmandera commented on #14104
@timabbott Is `settings.py` the correct place for us to add this import, rathern than in `prod_settings_template.py`?

[2020-03-11 12:51] riadabdel commented on #14104
I added it to the line prod_settings.py

[2020-03-11 13:52] JannikJ commented on #13500
To wrap this up: Updating eliminated the issue.

[2020-03-11 14:04] punchagan commented on #14171
The notification payload seems less useful than what it was before - links to the commit/changes, and a link to the build are missing from the payload. :see_no_evil:

[2020-03-11 15:00] abhinav824 commented on #14171
I've also done some research on this and i want to mention a few things :
1. There are two versions of semaphore - **Semaphore classic** and **Semaphore 2.0**, which are operating as two distinct products. Have a look on this [page](https://docs.semaphoreci.com/guided-tour/migration-guide-for-semaphore-classic-users/#semaphore-classic-and-semaphore-20-are-distinct-products).
1.  So, our existing c

[2020-03-11 16:12] shubhamgupta2956 commented on #14100
I will try to migrate `templates/zerver/api/fixtures.json` into `zerver/openapi/zulip.yaml`

[2020-03-11 17:47] chrisbobbe commented on #14169
This behavior came up in conversation yesterday; @gnprice mentions that the behavior of never marking messages as read when you follow a `near:` link is fairly recent, so here's a bit of archeology.

That recent change was https://github.com/zulip/zulip/commit/a0c11b6c784eccef0f454ad975a6baa258bc0962, on PR https://github.com/zulip/zulip/pull/12849. This was a follow-up to PR https://github.com/zu

[2020-03-11 18:41] majordwarf commented on #13960
@singhsourabh I was already working on it and was waiting for @timabbott to revert on my comment.

[2020-03-11 19:31] singhsourabh commented on #13960
@majordwarf okay

[2020-03-11 20:22] jiviteshjain commented on #12898
@zulipbot claim

[2020-03-11 20:37] chdinesh1089 commented on #14168
@zulipbot claim

[2020-03-11 21:01] timabbott commented on #14166
I think basically no.  `/server_settings` is intended to be just the information for clients needed to determine how to connect to and authenticate with a Zulip server; I think we want to keep that interface at the minimum required to achieve that goal.

Further, I think it should be OK for an already-authenticated client to only fetch `/server_settings` when it wants to authenticate and setup an

[2020-03-11 22:04] ryanreh99 opened #14175 "list_render: Not possible to re-sort when data gets updated."
When the data gets updated and a column has already been sorted, it is not possible to again sort the list_render tables by a column.

Steps to reproduce:

1. Go to https://chat.zulip.org/#settings/uploaded-files
2. Toggle the File thead element.
3. Upload a new file.
4. Now thead sorting buttons does not seems to be clickable. (it gets resolved after reloading)

[2020-03-12 00:00] timabbott commented on #14175
Interesting, thanks for the report.  This definitely seems worth investigating and fixing, especially as we plan to use that component more broadly.

[2020-03-12 05:57] abhinav824 commented on #14171
@punchagan I have two kinds of approach to this issue.
We can handle both the payloads in the existing view and trigger the notification according to the payload we'll receive or we can have a separate integration for Semaphore 2.0.
So, how should i proceed now ?

[2020-03-12 07:03] Pranav2612000 commented on #14175
I am working to fix this issue.

[2020-03-12 09:48] Jagansivam28 commented on #13644
I'm leaving this issue to claim other issue @zulipbot abandon

[2020-03-12 12:02] #10441 closed

[2020-03-12 13:11] punchagan commented on #14171
From a user's perspective, it might be best to just have a single integration and do the right thing in the webhook code.

But, the help instructions in the `/integrations` page would probably be slightly different for the two versions, since the UI in Semaphore would be different, and the notification in Zulip itself would be slightly different because the payloads are different.

Following from

[2020-03-12 21:28] hashirsarwar commented on #14152
@zulipbot claim

[2020-03-12 23:17] gnprice commented on #14166
Thanks!

For specific naming choices, Tim started [a chat thread](https://chat.zulip.org/#narrow/stream/3-backend/topic/.2Fregister.20interface/near/830111); good idea. I replied there.

This discussion gives me the thought that perhaps `zulip_version` should appear in the `/register` response in addition to `/server_settings`. In #3839 we started making a `/server_settings` concurrently with ever

[2020-03-12 23:42] Centril opened #14187 "Simplify the topic splitting UX"
When using Zulip on https://rust-lang.zulipchat.com/ I've found it counter-intuitive and hard to move some messages from a topic. Here's how I think the UX could be improved:

- On CTRL + LEFT_CLICK on a message, select and visually highlight it.
- On SHIFT + LEFT_CLICK, all the messages from the last selected to the clicked get selected and highlighted
- During selection, there's a panel at the b

[2020-03-13 00:55] gnprice opened #14188 "Document /register data and events"
For the mobile app, the most important part of the API that isn't documented is the data from the events system.

What does exist is some documentation of the high-level design, and documentation of how to invoke the two central endpoints [`/register`](https://zulipchat.com/api/register-queue) and [`/events`](https://zulipchat.com/api/get-events-from-queue). What's still needed is documentation of

[2020-03-13 01:03] gnprice commented on #14100
Sure. I've now filed #14188 for that, drawing on my comment above.

I think it's important to be clear about objectives, and I think having an issue for the goal here will serve that better than comments in a PR thread would. Definitely interested in hearing your thoughts on a roadmap to get to the goal described in #14188. Perhaps on that issue thread? Or
a chat thread.

[2020-03-13 12:28] BirajGupta opened #14190 "unecessary scroll bar at Normal 'login to zulip page'"
There is a scroll bar in normal login to zulip page which doesn't seems to be necessary.
![Screenshot from 2020-03-14 05-01-26](https://user-images.githubusercontent.com/56409094/76617626-2be88000-6583-11ea-9fef-6ab0d618ffe2.png)

[2020-03-13 12:43] anshalshukla commented on #14190
@zulipbot claim

[2020-03-13 15:12] kanishkshah commented on #12951
@zulipbot claim

[2020-03-13 22:45] gnprice commented on #14166
Following that chat thread, here's a set of names for the first wave of these.

[code]

These two should gain a suffix `_mib` to clarify the units. (The docs say "megabytes" or "MB", but client software needs to know the actual meaning, which is in mebibytes.)

[code]

These other names are good, and can go into `/register` with the same name.

---

Then, a note on API naming choices, which is bac

[2020-03-14 06:58] fzyzcjy opened #14195 "Could anyone provides a dump of database schema :)"
Thanks for the wonderful app! I would appreciate it if I could get a database schema dump (without data, only schemas, such as `CREATE TABLE user ...`)? Just one single command on your computer (e.g. [this command](https://stackoverflow.com/questions/14486241/how-can-i-export-the-schema-of-a-database-in-postgresql)).

Thanks!

[2020-03-14 07:03] fzyzcjy commented on #9877
+1 cannot install...

[2020-03-14 08:06] fzyzcjy commented on #14195
I got it

[2020-03-14 08:06] #14195 closed

[2020-03-14 08:43] prajwal2100 commented on #14190
sir I would like to work on this issue #14190

[2020-03-14 12:50] prajwal2100 commented on #14190
@BirajGupta
the scroll bar has to be changed in the mobile view or the desktop view?
and it is working fine in the desktop view all desktop size is different
I would like to work on this issue !!