[2020-11-23 17:52] terba commented on #364
The current search implementation is very difficult to use with agglutinative languages. Those languages use prefixes and suffices, so searching for a word would require ```word*``` or even ```*word*``` wildcard searches which is not supported by Zulip now.

[2020-11-23 20:04] mateuszmandera commented on #16736
@runiq It's worth having this open until the fix is merged, just to keep track of things - so I'll go ahead and reopen for now

[2020-11-23 23:58] andersk commented on #12008
This was fixed by Python-Markdown/markdown#990 which we pulled in via d81a93cdf3ed4ea6b4de2b94c397ab86ff5f1919 (#16569) last month.

[2020-11-23 23:58] #12008 closed

[2020-11-24 01:58] elhawk opened #16783 "Sentry integration has incorrect url when configured as a webhook"
We have the sentry integration for zulip configured as a webhook, and the issue url in the notification is broken -- it has `event` in the path where it should have `events`.  I think the bug is here: https://github.com/zulip/zulip/blob/master/zerver/webhooks/sentry/view.py#L239

We're loving the new integration overall.  Thank you!

[2020-11-24 03:15] kuroriplus commented on #15375
@zulipbot abandon

[2020-11-24 10:24] WesleyAC opened #16785 "Single quotes in usenames double-escaped on emoji-reaction hover"
A username like `foo'bar` shows up as `foo&#39;bar` in the emoji-reaction hover tooltip on web. See attached screenshot from the Recurse zulip instance.

![screenshot](https://user-images.githubusercontent.com/5001092/100081551-1e112b80-2e82-11eb-8155-8e0fb5c20a10.png)

![correct username](https://user-images.githubusercontent.com/5001092/100081705-4c8f0680-2e82-11eb-8904-50dbf2aa43ef.png)

[2020-11-24 11:04] m-e-l-u-h-a-n commented on #15331
@zulipbot abandon

[2020-11-24 11:04] m-e-l-u-h-a-n commented on #15331
@zulipbot claim

[2020-11-24 11:59] JonCSgr commented on #12457
Hello , is this created yet? his is a must in my opinion and all other platforms offer it .

[2020-11-24 13:09] runiq commented on #16736
Sure, makes sense.

@timabbott I forgot to mention, I did contact the administrators of the Xi instance and got access again, so all's well from my end. Thanks for the helpful hint though! :)

[2020-11-24 18:20] aryanshridhar commented on #15390
Cool , Working on it :)

[2020-11-24 19:46] nataliebrotherton commented on #16542
@zulipbot abort

[2020-11-24 19:48] nataliebrotherton commented on #15029
@zulipbot claim

[2020-11-24 19:53] nataliebrotherton commented on #16768
@zulipbot claim

[2020-11-24 21:20] peacepenguin commented on #12457
Take a look at this python3 script. Just configure it and set it up as a cron job on your zulip server. Works great, gets the feature, just external to the zulip code base. But since it works via API, there's low risk of it breaking after zulip upgrades.

It's a really simple script, easy to read and modify.

https://gist.github.com/peacepenguin/45ed1cd5ab32f7dadd03dcfbd1b5c857

[2020-11-25 07:26] edith007 commented on #16253
@zulipbot still working on this

[2020-11-25 10:19] WesleyAC commented on #16785
Seems likely to be a regression caused by #16585

[2020-11-25 11:09] WesleyAC commented on #16785
Confirmed that #16585 caused this, will send in a patch shortly.

[2020-11-25 17:10] charliehelmijr commented on #11152
Is this still being worked on?

[2020-11-25 19:05] alexmv commented on #9166
I think I disagree with this.  We may want a command-line flag to override, but the default should not be that a human can't be convinced to create a subdomain with a reserved name by social engineering.

This also removed the check that errors nicely if the domain already exists, by short-circuiting returning before doing that check.

[2020-11-25 19:41] alexmv opened #16793 "Slack bots can cause duplicate email addresses during import"
The slack converter uses the `real_name_normalized` from Slack user data, after removing "Bot" and spaces, to generate the email address.  The `real_name_normalized` is not guaranteed unique, especially after case folding and the "bot"/spaces normalization, which can cause duplicate email address errors when doing the subsequent import with the converted data.

In `zerver/data_import/slack.py`, we

[2020-11-26 06:20] aryanshridhar commented on #16542
Taking this issue :)

[2020-11-26 08:24] ritikchauhan-01 opened #16795 "Missing 'stream_id' argument"
problem while creating the default streams for the new members
![screencapture-github-com-zulip-zulip-issues-1606378816378 (1)](https://user-images.githubusercontent.com/56171689/100325474-b5938d00-2fee-11eb-91db-012957af7d81.png)

[2020-11-26 08:27] #16795 closed

[2020-11-26 08:44] ritikchauhan-01 commented on #15223
@zulipbot claim

[2020-11-26 09:45] edith007 commented on #3917
@zulipbot claim

[2020-11-26 09:56] edith007 commented on #3917
@zulipbot  claim

[2020-11-26 10:37] alexmv commented on #16770
Partially addressed by 4f47f35cb4612ac7006060d272ed3471fde45741.

[2020-11-26 11:36] Sourabh025 commented on #16793
@alexmv can we do it by storing all the returned addresses by `get_user_email` into some data structure like a list and then iterate over them to find the duplicate one, if found then add some additional counter to the address else no change?

[2020-11-26 11:36] Sourabh025 commented on #16793
claim @zulipbot

[2020-11-26 11:38] Sourabh025 commented on #16793
@zulipbot claim

[2020-11-26 15:14] donmb1 commented on #13687
Interested in this too

[2020-11-27 00:04] devZer0 opened #16798 "i18n not complete (english instead of german in message action text bubble)"
see "Quote and reply or forward" (which isn't translated)

<img width="1036" alt="grafik" src="https://user-images.githubusercontent.com/3506105/100397802-04bbdb00-304c-11eb-9288-78fadadd7972.png">

[2020-11-27 06:51] abhi14nexu commented on #16798
This is the same issue as #16779.

[2020-11-27 14:41] devZer0 commented on #16798
it's a translation issue, yes, but it affects a different part of the application so to make really sure it's getting fixed, it should not harm to have an extra bugticket for it.

[2020-11-27 23:08] Marinette commented on #3917
@zulipbot claim

[2020-11-28 17:51] aleathea703 commented on #16770
claim

[2020-11-28 18:33] sundargs2000 commented on #16768
@zulipbot claim

[2020-11-28 19:04] noabenefraim commented on #15331
@zulipbot claim

[2020-11-29 06:25] nikhilmaske-2001 opened #16805 "Shortcut 'n' to create new stream takes a lot of time."
Shortcut 'n' is associated to Create new stream but it takes a lot of time to work..

This topic is also discussed [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Shortcut.20.22N.22.20not.20working.20to.20.20Create.20New.20stream) and [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/create.20stream.20slowness/near/1071226)

[2020-11-29 07:20] m-e-l-u-h-a-n commented on #15331
Hi, @noabenefraim I am continuing to work on this issue even now, I had made some changes  which you can refer in pr #16619 and after getting some more reference from [this comment](https://github.com/zulip/zulip/pull/16619#issuecomment-719064732), I have made more changes to other tests and only 2-3 files are remaining for which I will create a pr soon, so I don't think there would be much to wor

[2020-11-29 11:08] sundargs2000 commented on #14991
@dreihl are you still working on this?

[2020-11-29 13:24] dreihl commented on #14991
I am still working on this - sorry for the delay. Ran into issues with WSL that I finally resolved.

[2020-11-29 14:46] showell commented on #16772
For some additional flavor, see this chat conversation: https://chat.zulip.org/#narrow/stream/3-backend/topic/sent_by_human/near/1058699

I brought up the `sent_by_human` flag in the context of how we determine which messages make sense for email digests.  The email digest use case isn't actually super critical, since we are criteria for selecting messages to put in the digest are fairly arbitrary

[2020-11-29 14:54] showell commented on #16772
Tim, can you take another pass at this when things settle down? The title here is really long, and has a typo, and it should probably include a "push notifications: " prefix.  Despite having some context here, I had a hard time reading the initial description due to some double negatives in one really long sentence.

[2020-11-30 02:45] amanagr commented on #11152
@charliehelmijr It is not being worked upon right now. You can work on it if you want. You can discuss how you intend to make it not look spammy on CZO.

I was thinking maybe a good play to show someone is typing in public streams is in the right sidebar replacing the user's Full name with "is typing..." only when compose box is open.

[2020-11-30 06:25] sysardex opened #16808 "Prevent a user from viewing the full list of users"
Is it possible to limit the list of users only to channels in which the user is present?

[2020-11-30 08:17] kou commented on #16058
#16809 will fix this.

[2020-11-30 11:51] edith007 commented on #14808
@zulipbot claim

[2020-11-30 13:52] edith007 commented on #14808
@shanukun are you working on it? if not, can i work on this issue?

[2020-11-30 13:55] shanukun commented on #14808
@edith007 I was busy with my exams but I have continued working on it now.

[2020-11-30 18:57] ritikchauhan-01 commented on #15223
@zulip abandon

[2020-11-30 20:22] PuaChris commented on #3128
@zulipbot claim

[2020-11-30 20:50] PuaChris commented on #3128
@zulipbot claim

[2020-12-01 04:33] BlackHoleFox commented on #9521
Are there any plans to support Webauthn/FIDO2 security keys where a browser is available?

[2020-12-01 05:19] ShravanCool commented on #15331
@m-e-l-u-h-a-n if you're not currently working on this issue, can I continue from where you've left off?

[2020-12-01 05:33] alexmv opened #16813 "Emoji reactions on historical messages can race with themselves or message starring"
Users can react or star to messages that they have were subscribed to; Zulip inserts a "historical" UserMessage object.  Two requests for this can happen and race each other, leading to [attempted creation of a duplicate UserMessage object](https://sentry.io/share/issue/7dd529a8020b4f35a6c82891c9ed6adb/) and a 500 in the request that loses the race.

This race is not high-priority, since in almost

[2020-12-01 08:09] ayushgaur03 commented on #3917
@zulipbot claim

[2020-12-01 09:18] johannesl commented on #11814
Ping on this one. Any advice or pointers on how to read Zulip messages "topic by topic" would be helpful. I find the switching between streams challenging and for me not showing new messes ages from all topics within a stream when expanding a stream would be a good enough solution: that would allow me to read things topic-by-topic.

Sorry if I have missed something very obvious: we very recently s

[2020-12-01 09:20] Alge commented on #11814
One (possibly) easy solution might be to have a option to expand the topics in a stream in the sidebar without entering it (at the moment you have to click the stream name, which switches the focus to the stream)

[2020-12-01 09:58] amanagr commented on #11814
@johannesl  we recommend using the `n` hotkey for this. See https://zulip.com/help/keyboard-shortcuts#narrowing

You can also use recent topics for reading topics. It will be the default view in upcoming 4.0 release.

[2020-12-01 11:46] dedisoft opened #16814 "Error in database constraints"
Hello,

I'm using a fresh install of Zulip on a Ubuntu 20.04 server, and using a remote PostgreSQL 12 on CentOS 7.

We have configured Zulip with LDAP authentication.

When new user log in, they have first an error HTTP 500, then they can log in on a second time.

Errors are:

[zulip_error.txt](https://github.com/zulip/zulip/files/5622318/zulip_error.txt)

What can I do or what must I do ?

Thanks

[2020-12-01 14:19] abhijeetbodas2001 opened #16817 "mobile view: Margins for some modals and input areas are broken."
In the mobile web view, some input areas and content overflows on the right side.
Attaching some screen-shots.
<details><summary>Keyboard shortcuts</summary>
<img src="https://user-images.githubusercontent.com/55339528/100752043-161b3380-340e-11eb-80f4-4d95bd8ab42b.png" />
</details>

<details><summary>Status modal</summary>
<img src="https://user-images.githubusercontent.com/55339528/100752059-1c

[2020-12-01 15:40] kapsh commented on #7517
Best I could do client-side is to monkeypatch events passed to hotkeys detectors. This way they'll get expected `which` values based on physical keys pressed with any active layout.

Userscript, tested in Violentmonkey/Chrome: https://gist.github.com/kapsh/afdac0d51b3be1efa8f28f65bd626d00 (probably needs a couple more values in lookup tables for other non-standard layouts like Dvorak).

[2020-12-01 17:57] Pranav2612000 commented on #16817
I'll like to work on this issue.

[2020-12-01 18:04] khionu commented on #9521
That would be a separate issue

[2020-12-02 05:17] punchagan commented on #16783
@zulipbot claim

[2020-12-02 08:01] Alge opened #16820 "Redacted message content in notifications email"
I can't find any way to remove the message content from notification emails server-wide. Would that be possible to add similar to how you can do it with the mobile app notifications?

I know it is possible for each user to set it in the settings in the zulip client, but it would be great if it was a way to enforce it from the server side.

[2020-12-02 08:18] Riken-Shah commented on #16817
I will also like to work on this.
@Pranav2612000 Would you like to work on this together?

[2020-12-02 09:38] ultra-sonic opened #16821 "<time> mention not displayed inside poll"
Hi there,
this does not work for me:
`
/poll Find a time
<time:2020-12-02T14:00:00+01:00>
<time:2020-12-02T15:00:00+01:00>
`
would be great to have timezone support for finding a meeting time across timezones

thanks in advance
Oliver

[2020-12-02 11:13] Riken-Shah commented on #16817
I and @Pranav2612000 are working together on this issue

[2020-12-02 16:28] mehalter opened #16825 "MermaidJS Rederer Support"
I love that Zulip can render LaTeX blocks nicely in the browser. Is this being explored for other rendering options? Projects like GitLab and Gitea (https://github.com/go-gitea/gitea/pull/12334) have recently added support for MermaidJS (https://mermaid-js.github.io/mermaid/) that adds a markdown like syntax for drawing diagrams and would be very useful in Zulip!

[2020-12-02 16:30] khadegaosman opened #16826 "zulip desktop application stops working after every message i receive and i have to refresh it"
i am using zulip desktop application on mac os
and every time i get new message the application stops working and gave me grey screen and i have to refresh it
and iam using vpn

[2020-12-02 17:29] m-e-l-u-h-a-n opened #16828 "Add an assertNoLogs() context manager to the ZulipTestCase."
Currently backend tests are being migrated to use `assertLogs()` instead of `mock.patch()` as per issue #15331 . A problem comes while migrating such mocks is that python currently does not supports **assertNoLogs()** so for asserting no logging and we still depend on using mocks for logging.
So a context manager can be added to ZulipTestCase with name **assertNoLogs** to handle such cases in a mo

[2020-12-02 17:41] andersk commented on #16828
Doesn’t #16165 already cover this?

[2020-12-02 19:02] #16768 closed

[2020-12-02 19:35] m-e-l-u-h-a-n commented on #16828
@andersk As far as I could understand [#16165](https://github.com/zulip/zulip/pull/16165) implements checks so that no unnecessary logging is produced by any of the backend tests. While this issue addresses the case when writing some test one needs to specifically assert that no logging has occured due to some method calls or any other possible way.
You may refer to this conversation [link](https:

[2020-12-02 20:28] #16783 closed

[2020-12-03 08:50] akshatdalton commented on #16147
@Gittenburg to quickly quote & reply, I think we can add a shortcut key like `Q` (since `q` is use to quickly search streams) for the selected message ?

[2020-12-03 17:24] devZer0 opened #16835 "user highlighting - inconsistent behaviour"
is it intentionally, that stream members only get highlightet wenn you highlight a message in the stream (but not if you select the stream/topic in the left column) ?

i always find this confusing

see discussion at https://chat.zulip.org/#narrow/stream/101-design/topic/user.20highlighting

i don't see the point why highlighting stream or topic does not also highlight stream members, this should b

[2020-12-03 20:47] Riken-Shah commented on #16751
Can I work on this issue?
@zulipbot claim

[2020-12-04 01:26] akshatdalton opened #16836 "Insert the quoted content at the cursor position instead of prepending it to the beginning"
Right now whenever a user quotes a message it is prepended at the beginning of the whole message.
This should appear exactly where the cursor position is right now in the message box.
To understand this more clearly one can try this one Github.
https://chat.zulip.org/#narrow/stream/3-backend/topic/Quote.20.26.20Reply

[2020-12-04 01:36] akshatdalton opened #16837 "Whitespace is getting stripped from the input when message is edited"
4 whitespace added to the beginning of the text renders it as codeblock.
But when edited this message, the whitespace is getting stripped.
This is a compose UI problem.
https://chat.zulip.org/#narrow/stream/3-backend/topic/Use.20of.20**.20aka.20strong

[2020-12-04 04:23] b-thebest commented on #14302
Hello, I want to work on this, Could you assign it to me

[2020-12-04 04:24] b-thebest commented on #4220
Could I work on this

[2020-12-04 04:25] b-thebest commented on #6847
Can I take this

[2020-12-04 08:47] johannesl commented on #11814
The N hotkey was exactly what I needed and have been trying this for a few days now. Big thanks for the help!

[2020-12-04 09:13] StrikerTwo opened #16838 "Better notification about a "cold" video call"
We are currently migrating away from Skype for Business to Zulip. Our users are missing the ability to call somebody and have a audio/video conference with them.

In Zulip you can send a Jitsi link, which works fine if you already were in a Zulip conversation and just want to add or switch to audio. But if you just want to call a user without chatting with them before, all they get is a default Zu

[2020-12-04 11:17] vrozkovec commented on #16147
Yes, you can reply to message by clicking on it, but at least for us, **quoting** the message is one of the most used features, because as soon as you are replying to message that was 3 or 4 messages upstream in current thread, it is necessary to quote it so my reply gets the context.

So if it would be possible to extract that quoting feature to separate icon, next to the emoticon, maybe like thi

[2020-12-04 12:38] akshatdalton commented on #16147
To quickly quote & reply a selected message you can use shortcut key `>`

[2020-12-04 14:34] ayushgaur03 commented on #15948
@timabbott @zulipbot I would like to work the issue.

[2020-12-04 14:47] aryanshridhar opened #16840 "Invite link gets hidden"
When the app loads , The <code>Invite user</code> link overflows the bottom of screen unless the user manually resizes the window (which fixes it) .

<strong>ScreenShot</strong> :

![Screenshot from 2020-12-04 19-59-25](https://user-images.githubusercontent.com/53977614/101177211-8c69a100-366d-11eb-8cb1-0f2fc0ccc50f.png)

[2020-12-04 18:41] gnprice commented on #16838
I like the idea of a "ringing" interaction. As you described it [in the chat thread](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Video.20call.20notification/near/1075146):

This would take some thinking about the exact UX, as well as some implementation work. But the result would definitely be useful, and it'd fit in with similar interactions seen in other apps. There's Skype as you men

[2020-12-04 19:08] StrikerTwo commented on #16838
Well, if you want to go for the nice solution I would appreciate that of course ;)

I must admit I know nothing about Python, but if you need UX/UI suggestions or feedback or help with testing, I would be glad to help out.

[2020-12-04 20:23] PuaChris commented on #3128
@zulipbot claim

[2020-12-04 23:47] Abhirup-99 commented on #16737
@zulipbot claim

[2020-12-04 23:50] Abhirup-99 commented on #16737
@amanagr this issue doesn't have any progress. My frontend pr for adding user groups and streams is complete and just waiting to be reviewed. I guess tim is a bit busy now, may I work on this issue.

[2020-12-05 00:11] maxner1 commented on #16737
Hey @Abhirup-99, I’ve been steadily looking into this and I think I should have this done in the near future. Would def appreciate if I could finish this one off

[2020-12-05 11:20] adeorato commented on #3285
Like @wolfsonchuang suggested:
I'd like to have a feature that the first emoji reaction should trigger a notification (limit to first, cause in streams there could be really many emoji reactions.

Cause in my zulip at work the emoji is always used when a yes/no question is raised.

[2020-12-05 12:57] SaschaMann opened #16842 "Triple backtick spoilers don't tab complete or add closing backticks"
Typing

[code]

[2020-12-05 14:27] hackerkid commented on #16838
https://github.com/zulip/zulip/issues/7330 is a similar issue.

[2020-12-05 16:49] legopin opened #16843 "URL preview garbled Chinese"
Version: Self hosted 3.3

## Scenario
Server with `URL Preview` enabled
posting this link: https://newtalk.tw/news/view/2020-12-03/503169
Site uses html lang tag `lang=“zh-Hant-TW”`

## Expected Behavior
A URL leading to a Chinese website should produce a Chinese preview.

## Actual Behavior
The preview contains garbled characters like [mojibake](https://revealingerrors.com/mojibake).

![Screen Sh

[2020-12-05 18:59] mcruz1799 commented on #5595
I'll give this a try!

[2020-12-05 19:01] mcruz1799 commented on #5595
I can work on this.
@zulipbot claim

[2020-12-05 19:01] mcruz1799 commented on #16837
I can work on this.
@zulipbot claim

[2020-12-06 10:09] vrozkovec commented on #16147
It does not work, instead it types the character in the message box.

Still, I'd like to avoid learning yet another shortcut and impose that on our users.
This button also behaves like a reply button in the e-mail, with the exception that cursor is placed below the quoted text, not above.

[2020-12-06 17:21] ritikchauhan-01 commented on #14321
@zulipbot claim

[2020-12-06 17:35] maxner1 commented on #16737
Hey @EmilyRosina -- sorry for the delay on this, had a lot going on! Was just wondering what your preferred icon would be for this? I'm assuming it should probably be different from the trash can which is on deleting all messages within the topic, but I'm not sure what to give to deleting the topic. Fun decisions, just let me know!

[2020-12-06 21:55] EmilyRosina commented on #16737
No worries, will just be super happy when it's ready 🎉
🤔 Hmmm.. not sure, as 🗑️ is suitable for both...
But tbh the deletion of all messages seems less destructive than the deletion of a whole topic.. also wondering what the UX preference is. I for one, would never delete all messages in a topic. I may move them, but never delete them. I would still obvs like to delete the topic as a whole though.

[2020-12-06 22:23] maxner1 commented on #16737
I settled on giving "delete all messages" an eraser icon, and "delete topic" a trash icon. See below and let me know if it's no good!
![Screen Shot 2020-12-06 at 5 22 41 PM](https://user-images.githubusercontent.com/37555442/101294790-c8c10c80-37e7-11eb-8f19-70c25425c197.png)

[2020-12-07 02:31] amanagr commented on #16737
@EmilyRosina Can you clearly state the difference you imagine between `Delete all messages in topic` and `Delete this topic`? I may have misunderstood this issue. `Delete all messages in topic` deletes the messages from the topic and thus, deletes the topic.

[2020-12-07 07:14] ganpa3 commented on #16770
claim

[2020-12-07 07:15] ganpa3 commented on #16770
@zulipbot claim

[2020-12-07 07:49] Pranav2612000 commented on #16837
@mcruz1799 Are you still working on it? Or should I give it a try?

[2020-12-07 07:51] Gautam-Arora24 opened #16846 "The terminal message for accessing the server is not very clear."
After running the server, the terminal message does not tells the user to access the server at  http://localhost:9991/  . This is very difficult for the first time user to know how to proceed.

****Screenshot****
![Zulip ](https://user-images.githubusercontent.com/53913514/101323593-f8771f80-388e-11eb-9d8a-9dafa9b3bf53.png)

****Changes Proposed****
There should be an appropriate message stating t

[2020-12-07 08:12] ReneSpronk opened #16847 "Highlighted Message background color = Blue"
Using firefox 83.0, Windows 10, Day Mode, the highlighted/focal message has a blue background and black letters, rendering it failrly unreadable because of a lack of contrast.
![zulip_blue](https://user-images.githubusercontent.com/52246230/101325499-26973800-386c-11eb-93d5-6c6705c6ce2b.jpg)

In Night Mode the display of the highlighted message is white letters on a blue background.

[2020-12-07 09:05] Riken-Shah commented on #16846
Can I work on this issue?

[2020-12-07 09:31] Gautam-Arora24 commented on #16846
@Riken-Shah Can we both work together?

[2020-12-07 10:24] EmilyRosina commented on #16737
@maxner1 That's perfect! Makes sense and it very clean IMHO :+1:

@amanagr they are different things.
Right now I can delete a topic's messages, but I cannot delete the topic itself.. it stays in the list.

[2020-12-07 10:37] Riken-Shah commented on #16846
I would like that @Gautam-Arora24, But I don't think this issue needs collaboration(as we just need to change one file). As you proposed this issue I think you should work on this issue. If you are stuck anywhere feel free to reach out to me will try to solve it together.

[2020-12-07 11:10] Alexander3312 commented on #16821
@zulipbot claim

[2020-12-07 11:21] EmilyRosina commented on #16737
I just re-read your comment @amanagr I believe you think that how it works now is different to how it actually works.
There is absolutely no way to delete a topic (have it removed from the list of topics).

If you are simply saying that `Delete all messages in the topic` _should_ delete the topic too.. then something is broken.
Tbh though, I think there may be reasons to keep both actions :shrug:

[2020-12-07 11:27] Gautam-Arora24 commented on #16846
@Riken-Shah Thank you. I will surely work on this issue. Will contact you in case of any doubt.

[2020-12-07 11:38] Gautam-Arora24 commented on #16847
Can I work on this issue?

[2020-12-07 11:40] Haunui commented on #16821
I'll work on this issue with @Alexander3312

[2020-12-07 13:28] amanagr commented on #16737
@EmilyRosina I believe this is a bug that you are seeing maybe. We don't have Topic model in the database, topics are generated based on messages. If there are no messages in a topic, that topic don't exist anymore. `Delete all messages in the topic` should remove all traces of a topic.

Note that if you don't have access to some messages in a topic with a private stream and protected history. Tha

[2020-12-07 13:54] ganpa3 commented on #16701
@zulipbot claim

[2020-12-07 14:24] EmilyRosina commented on #16737
You cannot replicate it yourself? :confused:
I'll try and do the gif for you, but I thought it was replicable :sweat_smile: especially as the docs don't say anywhere that you can delete a topic :woman_shrugging:

[2020-12-07 14:45] EmilyRosina commented on #16737
Ha! It seems to have been fixed since I raised this issue :woman_shrugging:
Not sure what else to say :sweat_smile:
Maybe something else that effected this was merged :woman_shrugging: **magic**!

[2020-12-07 14:51] EmilyRosina commented on #16737
Ah ok.. it may still not work.. just testing.

But if I want to rename a topic, that already has a lot of messages.
I do the following and cannot delete the empty topic.
1. Change all the messages' topic to the new topic name
2. See both topics (old and new) in the list
3. New topic is fine, but the old topic is empty and non-deletable

![image](https://user-images.githubusercontent.com/21045073/1

[2020-12-07 15:12] EmilyRosina commented on #16737
I think it's to do with the app not refreshing something or still caching something.
As whatever problems I have, are fixed on the web version with a refresh.. but the problems (old topics still showing) in the app remain.

[2020-12-07 16:24] mcruz1799 commented on #16837
@Pranav2612000 still working on it!

[2020-12-07 16:38] ganpa3 commented on #16701
Can I work on this issue?

[2020-12-07 16:41] ganpa3 commented on #16701
claim

[2020-12-07 17:46] Abhirup-99 commented on #16642
@zulipbot claim

[2020-12-07 18:13] ligmitz commented on #16642
Hi @Abhirup-99, I was actually having a start at this issue but could not have a decent progress as my college exams and practicals kicked in. I would like to carry on with this one after the exams if you don't mind. I hope you can find some other good issue to work on. Btw zulip-bot is down these days, so you may not be able to claim issues.

[2020-12-07 18:42] MSurfer20 commented on #15634
@zulipbot claim

[2020-12-07 18:44] MSurfer20 commented on #15634
@zulipbot claim

[2020-12-07 18:47] c0ppelius opened #16848 "Missing state argument for installing Zoom app"
I am attempting to install Zoom on my self-hosted install following the instruction [here](https://zulip.readthedocs.io/en/stable/production/video-calls.html#zoom) and [here](https://zulip.com/help/start-a-call). The installation URL generated by Zoom first asks me to authorize it on my Zoom account and then redirects to
[code]
It generates the error
[code]
The url doesn't include at state argumen

[2020-12-07 19:00] Abhirup-99 commented on #16793
@alexmv can I start working on this issue.

[2020-12-07 19:05] Abhirup-99 commented on #16423
@zulipbot claim

[2020-12-07 19:08] Abhirup-99 commented on #16423
@mateuszmandera can you explain a bit further like what should be the response?

[2020-12-08 01:42] mcruz1799 commented on #16842
I can work on this !

[2020-12-08 01:43] mcruz1799 commented on #16842
I can work on this!
@zulipbot claim

[2020-12-08 01:49] legopin commented on #16843
@zulipbot add "bug" "area: general UI"

[2020-12-08 01:50] alexmv opened #16850 "Outgoing webhooks should catch `JsonableError` when posting messages"
Responses to outgoing webhook replies can be JSON data which is used to post an immediate response.  Mostly this consists of a `content` key, but also currently supports an undocumented `widget_content` key as well.  If the `content` or `widget_content` fails validation (e.g. `content` contains nulls, or `widget_content` is not a string which contains JSON(! ?)) in `check_message` in `zerver/lib/a

[2020-12-08 02:26] amanagr commented on #16843
https://chat.zulip.org/#narrow/stream/9-issues/topic/URL.20preview.20Chinese.20Jumbled/near/1076820 has the bug pointed out by Greg. See it before working on this issue.

[2020-12-08 02:29] gnprice commented on #16843
Copying here a bit of partial debugging I mentioned in the linked chat thread:

This looks like [mojibake](https://revealingerrors.com/mojibake), and specifically the kind of mojibake you get when taking some data that's actually encoded in UTF-8 and interpreting it as if it were encoded in ISO-8859-1.

Or equivalently: it looks like exactly what we'd get if the data is actually encoded in UTF-8 a

[2020-12-08 03:07] legopin commented on #16843
I wonder if this has anything to do with beautiful soup (web crawler) used to extract data from the page
Specifically Beautiful soup seems to "guess" the encoding of the source document.
https://www.crummy.com/software/BeautifulSoup/bs4/doc/#encodings

[2020-12-08 03:12] andersk commented on #16843
No, the problem is the opposite: we prevent Beautiful Soup from detecting the encoding by passing `str` instead of `bytes`. The pages you’ve referenced don’t send a charset in their `Content-Type`, so we need to let Beautiful Soup detect the encoding from the `<meta>` tags in the page.

[2020-12-08 03:54] andersk commented on #16843
Submitted #16851 and rafaelmartins/pyoembed#7

[2020-12-08 05:09] c0ppelius commented on #16848
This was user error. I had not correctly restarted the system. The strange missing state argument error doesn't seem to affect function. I am guessing I never should have clicked Install for the app in the Zoom marketplace.

[2020-12-08 05:09] #16848 closed

[2020-12-08 10:57] sundargs2000 commented on #16850
Hey can I work on this?

[2020-12-08 11:01] stalkerg commented on #8913
@timabbott looks like it's easy to implement what you want - https://stackoverflow.com/a/46255322/880399

[2020-12-08 15:30] dransome commented on #7330
Just wanted to add here that we currently use discord as a voice channel, and zulip for text. It would be great to have an option that combines those, whilst everything currently available with Zulip appears to focus on video calls / meetings.

[2020-12-08 18:25] edith007 commented on #16288
@zulipbot claim

[2020-12-08 22:27] maxner1 commented on #16737
Hi @EmilyRosina , I'm having trouble re-creating the issue you described. I recorded what I've tried in a GIF-- please let me know what I'm doing wrong that would cause the issue not to appear!

![Zulip GIF](https://user-images.githubusercontent.com/37555442/101548761-6f3d1700-397a-11eb-83c7-c5cde03c8a7a.gif)

[2020-12-09 02:25] amanagr commented on #16737
@maxner1 try reproducing on a private stream. This seems to be a bug on private streams. @EmilyRosina thanks for reporting this.

[2020-12-09 02:30] amanagr commented on #16737
Actually this seems to be intentional for a private stream since we don't if we deleted all the messages of topic with protected history.
[code]

@EmilyRosina this topic should just remain there temporarily and if there are no msgs in it, the topic will be removed on reload.

[2020-12-09 02:45] maxner1 commented on #16737
@amanagr the one thing I'd suggest is changing the verbiage of "Delete all messages in topic" to "Delete topic"... I can definitely see it being confusing for an admin that the former would end up deleting the topic as well. The latter seems more clear as to what the option actually does. Just a thought!

[2020-12-09 02:54] amanagr commented on #16737
@maxner1 can you open an issue for that? (I cannot make that decision alone, although it kinda make sense).

[2020-12-09 04:02] maxner1 opened #16856 "Topic: change verbiage of "Delete all messages in topic" to "Delete topic""
Based on a previous issue. Would simply change this option for admins to make it more clear as to what it actually does (selecting this option actually deletes the topic as well, as there are then no messages with that topic name).

![image](https://user-images.githubusercontent.com/37555442/101583380-60218d80-39a9-11eb-8c86-f88655062ea5.png)

[2020-12-09 04:02] maxner1 commented on #16737
Opened new issue at https://github.com/zulip/zulip/issues/16856.

[2020-12-09 05:43] SouhardyaMalakar commented on #16856
Can I work on this issue?
@zulipbot claim

[2020-12-09 13:55] Khanjan04 commented on #16856
Hey @maxner1 I would love to contribute in this project. Can I start by solving this issue right now?

[2020-12-09 14:45] lxjmac opened #16861 "ldap integration failed"
Hi ， pls help me
I'm using zulip-server-latest.tar.gz on Ubuntu 18.04 and I'm trying to connect it to a Microsoft Active Directory server for LDAP authentication and below is my configuration

Zulip settings.py
AUTHENTICATION_BACKENDS: Tuple[str, ...] = (
    'zproject.backends.EmailAuthBackend',  # Email and password; just requires SMTP setup
    # 'zproject.backends.GoogleAuthBackend',  # Google

[2020-12-09 15:00] EmilyRosina commented on #16737
Thank you guys, that's awesome :tada:

& yeah I agree about the changing of the wording :smile_cat: so everyone knows that the action **does** intend to also delete the topic too :+1:

[2020-12-09 16:29] AkaBlackCat opened #16862 "Auto-Complete doesn't work for "quote""
When typing "```q" or "~~~q" quote is no longer an auto-complete option in the latest release.
![image](https://user-images.githubusercontent.com/12794988/101657313-66b51100-3a4c-11eb-90b1-dbefba65a023.png)

[2020-12-09 17:05] maxner1 commented on #16856
@Khanjan04 it looks like @smitpatel24 made a pull request ( https://github.com/zulip/zulip/pull/16859 ) that resolves this, but thank you!

[2020-12-09 17:46] Gautam-Arora24 commented on #16846
@zulipbot claim

[2020-12-09 17:57] Gautam-Arora24 commented on #16846
@hackerkid What should be the correct location for this terminal message?

[2020-12-09 17:59] mateuszmandera commented on #16862
@aero31aero @ryanreh99 Any idea what's happening here?

[2020-12-09 19:13] alexmv commented on #16850
@sundargs2000: Sure thing!  Don't hesitate to ask if you have questions about what to do.

[2020-12-09 20:13] mateuszmandera opened #16863 "Adding an option to disable keyboard shortcuts/navigation"
This is an idea based on feedback from a user suggesting this due to running into issues where accidentally closing the compose box when typing a message leads to opening a bunch of menus etc. due to all the hotkeys being picked up. I've been running into this myself, which tends to be annoying because I'll suddenly find myself accidentally starring or even editing messages due to it.

Not sure wh

[2020-12-10 06:47] Khanjan04 commented on #16856
No problem @maxner1 . Is there any other issue you can suggest me to work on? I will be really happy to contribute.

[2020-12-10 07:56] aniketsonu commented on #16210
@zulipbot claim

[2020-12-10 08:28] MSurfer20 commented on #15967
@zulipbot claim

[2020-12-10 09:48] changchichung opened #16865 "sync_ldap_user_data return errors"
OS: ubuntu 20.04 , python 3.8
zulip version 3.3

[code]

[2020-12-10 10:01] lxjmac commented on #16861
help me

[2020-12-10 18:24] aryanshridhar opened #16868 "Shifted User Invite Copy Icon"
The <code>User invite</code> copy link icon seems to be shifted when the owner presses it .

<strong>To Fix : </strong>

Relocate it when pressed upon the icon .

<strong>ScreenShot : </strong>

![Screenshot from 2020-12-10 23-43-39](https://user-images.githubusercontent.com/53977614/101812707-b88b9300-3b41-11eb-9918-870296e53fef.png)

[2020-12-10 18:43] hackerkid commented on #16846
@Gautam-Arora24 Probably before "quit the server with ctrl c". It can also be in a different color so that it's easily noticeable.  Maybe we can take some inspiration from projects like create-react-app or gatsby. I am assuming you have used them since your profile mentions React.

[2020-12-10 19:13] ayushgaur03 commented on #15948
@timabbott  Raised the PR #16870 .Please review it.

[2020-12-10 19:18] Gautam-Arora24 commented on #16846
@hackerkid Ya, I will definitely try something that is more colourful and eye catching. Thanks for assigning me :)

[2020-12-10 20:03] SushanthReddyManda commented on #16868
@zulipbot claim

[2020-12-10 20:24] Gautam-Arora24 commented on #16868
@zulipbot claim

[2020-12-11 04:13] Pranav2612000 commented on #16862
Is this a bug? I'll like to debug and work on this issue.

[2020-12-11 07:01] kasheravaibhav14 commented on #4240
@zulipbot claim

[2020-12-11 07:28] gauravahlawat81 opened #16876 "Vagrant Installation error in Ubuntu 20.04"
While following the guide [https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html](url), I ran into vagrant related installation issue.

When I ran the command `vagrant up --provider=docker`, I got the following error

[code]
So this happens when there was an old vagrant installation through ruby gems. So a possible work around to this is to remove all the old installation and insta

[2020-12-11 07:30] gauravahlawat81 commented on #16876
I can take up this issue as I already know how to solve it.

[2020-12-11 08:03] smitpatel24 commented on #16863
I would like to work on this issue. @amanagr What are your thoughts about this feature?

[2020-12-11 09:10] rauladorean commented on #16862
Appears to be. When composing a reply and type ~~~ , quote is not in the list and you have to type it manually. I you type ~~~quote then it's the desired formation.

[2020-12-11 13:57] sushant52 commented on #16770
@zulipbot claim

[2020-12-11 15:42] maxner1 commented on #16856
@Khanjan04 I would take a look at https://zulip.readthedocs.io/en/latest/overview/contributing.html for good ways to get started. I'm not exactly an experienced veteran myself, but that'll tell you pretty much everything you need to know. Good luck!

[2020-12-11 18:12] BhaskarJoshi-01 commented on #10836
@zulipbot Claim

[2020-12-11 21:45] talha1503 commented on #14302
Hi! I wanted to work on this. Can you please assign it to me?

[2020-12-12 07:01] ganpa3 commented on #16865
I think that's because, running ```sudo su - zulip /home/zulip/deployments/current/manage.py sync_ldap_user_data``` makes manage.py to be run as a shell script, rather than as a python program. Arguments specified after the username are supplied to the user's login shell.
You can try passing the '-c' argument to 'su' to run it as a single command.
```sudo su - zulip -c /home/zulip/deployments/curr

[2020-12-12 09:24] Riken-Shah commented on #10744
@timabbott Can I work on this issue?

[2020-12-12 10:50] Khanjan04 commented on #16856
@maxner1 Thanks a lot. Really appreciated. Looking forward to contribute.

[2020-12-12 10:56] justAcoderguy commented on #3938
@ddigiovine are you still working on this issue?

[2020-12-12 11:37] justAcoderguy commented on #16492
@katie-knister Are you still working on this issue?

[2020-12-12 12:36] justAcoderguy commented on #2746
@zulipbot claim

[2020-12-12 15:46] katie-knister commented on #16492
@justAcoderguy Unfortunately, I have gotten quite busy, so I stopped working on this for the time being. I will un-claim the issue.

[2020-12-12 15:47] aryanshridhar commented on #15660
Taking this issue :)

[2020-12-12 15:47] katie-knister commented on #16492
@zulipbot abandon

[2020-12-12 17:22] mateuszmandera commented on #16863
@smitpatel24  I think this issue requires much more discussion first to really decide on what we actually want to do here (if anything) before this can be worked on.

[2020-12-12 17:23] mateuszmandera commented on #16030
@zulipbot claim

[2020-12-12 17:39] khubi09 commented on #16488
@zulipbot claim

[2020-12-12 17:54] khubi09 commented on #16488
Is this issue not resolved yet?

[2020-12-12 18:24] khubi09 commented on #16492
@zulipbot claim

[2020-12-12 18:53] ddigiovine commented on #3938
Yes @justAcoderguy I am still working on this issue it is mostly done just in the process of cleaning up the code and testing the fix.

[2020-12-12 18:54] khubi09 commented on #16492
@zulipbot claim

[2020-12-12 19:15] SushanthReddyManda commented on #16538
I will start with some other PR's , then will come here .  Sorry for inconvenience

[2020-12-12 19:16] SushanthReddyManda commented on #16868
@zulipbot claim

[2020-12-12 19:16] SushanthReddyManda commented on #16538
@zulipbot abandon

[2020-12-13 05:17] abhijeetbodas2001 commented on #16488
@khubi09 This isn't fixed yet, but there already is a PR for this (#16536). It'd be great if you could review that!

[2020-12-13 08:18] khubi09 commented on #16488
@abhijeetbodas2001 Okay, thanks!

[2020-12-13 11:21] tushar912 commented on #15029
@zulipbot claim

[2020-12-13 12:35] tushar912 commented on #6847
@timabbott Can I work on this

[2020-12-13 12:47] tushar912 commented on #6847
as I am new to contributing here .Can u please provide some additional details as to what is to be done

[2020-12-13 13:40] akshatdalton commented on #16837
@zulipbot add "area: compose" "bug" "general UI"

[2020-12-13 14:07] Drumsk8 commented on #16489
Just to let you know I wasn't successful in recovering the data, since it wasn't a massive loss, we've re-built the platform on version 3.3 as it was taking too much time vs work lost.

Thank you for your assistance and for clarifying that version 3.x recovery tool is supported.

[2020-12-13 20:00] smeer007 commented on #16492
@zulipbot claim

[2020-12-14 01:35] pddavis commented on #16081
@zulipbot claim

[2020-12-14 02:12] pddavis commented on #16081
@Gittenburg

Hi, I was working on this issue, and was confused about the line you suggested:

 I've been able to remove the option to invite as guest when invites are not required to join the server, but adding this line makes the guest option disappear in situations where it should still be available (i.e. zproject.backends.any_social_backend_enabled is true for all organization configuration set

[2020-12-14 03:33] #16865 closed

[2020-12-14 06:53] AkaBlackCat commented on #16862
Thank you @ryanreh99 for the prompt resolution!

[2020-12-14 07:42] jhochmuth commented on #15231
I believe this issue should be closed because of this commit:
https://github.com/zulip/zulip/commit/461d5b1a3ebd8b930bf419de77c107fdc763b0d6#diff-8f1447ded7fcf78b852c341c06be7529a918aff84fa774959985a908ed524ab5

[2020-12-14 08:12] khubi09 commented on #16368
@zulipbot claim

[2020-12-14 10:45] garg3133 commented on #16842
There's an another issue #16862 and PR #16884 opened for this.

[2020-12-14 13:34] amanagr commented on #7154
Closing since this is a duplicated of #16579 which has received near term attention.

[2020-12-14 13:34] #7154 closed

[2020-12-14 13:36] amanagr commented on #16579
Anyone working on this should also think about adding all crop / scale / rotate features. We want to use a js library that support the commonly used features.

[2020-12-14 13:42] Riken-Shah commented on #10744
I am new to Zulip. Sorry If I am asking a naive question.
@hackerkid @timabbott

Here, Do you mean something like `stream_dict['stream']`( = `name` or `id`) ?
Or `stream_dict` would have two attributes (`name` and `id`)
And selection will be prioritized on `id`

[2020-12-14 14:10] khubi09 commented on #16579
@zulipbot claim

[2020-12-14 14:17] khubi09 commented on #16579
@corinnejachelski Are you working on this?

[2020-12-14 16:39] r0han22 commented on #2746
@zulipbot claim

[2020-12-14 16:39] m-e-l-u-h-a-n commented on #6847
@timabbott @punchagan this issue seems to be fixed, I tried to change the `upload_emoji` handler in `realm_emoji.py` to raise `ValueError('This is a  testing error')` and upon trying to upload a custom emoji I got a 500 error from the server , also I checked browsers dev tools and it sent a response in JSON format.
I am attaching some screenshots to be more clear:

![image](https://user-images.git

[2020-12-14 17:22] jhochmuth commented on #15993
If this change still should be made, I created a pull request for it: https://github.com/zulip/zulip/pull/16893

But I wasn't sure if people still wanted this change to be made since it was created in July.
@zulipbot claim

[2020-12-14 17:40] edith007 commented on #16105
@zulipbot claim

[2020-12-14 18:41] ritikchauhan-01 opened #16895 "shortcut key for reply not working"
when we use shorcut " > " for quote or reply for the particular message, when the reply-box as  show is open it's does not work .Instead it put this sign inside  the box.
![screencapture-localhost-9991-1607970561874](https://user-images.githubusercontent.com/56171689/102120546-b3dc1d00-3e68-11eb-939b-db7c84b37982.png)

[2020-12-14 18:42] ritikchauhan-01 commented on #16895
labels : feedback wanted

[2020-12-14 18:48] hackerkid commented on #16480
Going through https://chat.zulip.org/#narrow/stream/16-desktop/topic/pdf-viewer, it looks like we already do PDF preview in the desktop app. And Tim seems to be interested in making it work on the web app as well.

[2020-12-14 18:54] hackerkid commented on #16480
Though I tried opening a PDF file in the desktop app and it opened it in chrome instead. @abhigyank What's the status of this?

[2020-12-14 18:59] hackerkid commented on #16480
This issue seems to be a duplicate of https://github.com/zulip/zulip/issues/9081. @amanagr Should we close this in favor of #9081?

[2020-12-14 19:51] abhigyank commented on #16480
It was there earlier, but it was removed due to some upstream electron bug in previewing PDFs.  It wasn't readded in favour of it being an in built feature of the webapp itself if I recall correctly.

[2020-12-15 03:31] amanagr commented on #16579
@khubi09 go ahead if you want to work on this.

[2020-12-15 04:10] amanagr commented on #16480
Closing in favour of #9081 which has more discussion and implementation details.

[2020-12-15 04:10] #16480 closed

[2020-12-15 07:16] kasheravaibhav14 commented on #16426
@zulipbot claim

[2020-12-15 08:50] khubi09 commented on #16579
@zulipbot claim

[2020-12-15 09:58] gsc2001 commented on #12308
@zulipbot claim

[2020-12-15 11:16] smeer007 commented on #16492
@zulipbot  abandon

[2020-12-15 17:09] khubi09 commented on #16579
@amanagr please assign this issue to me, thank you!

[2020-12-15 18:54] mateuszmandera commented on #16842
This issue was opened earlier, but given that #16862 has the PR tagging it for resolution, I'll close this one as a duplicate.

[2020-12-15 18:54] #16842 closed

[2020-12-15 19:30] #16843 closed

[2020-12-15 19:49] timabbott commented on #16737
Am I correct that this issue is replaced by #16856?  Closing this as that seems to be the case.

[2020-12-15 19:49] #16737 closed

[2020-12-15 19:51] timabbott commented on #16856
Just a quick bit of feedback -- an issue should only be closed when a PR resolving it is merged.  Also, the description mentions "a previous issue" -- one should link that.

Reopening until we merge #16859. Thanks @maxner1!

[2020-12-15 20:53] camelid opened #16902 "Stream search should use fuzzy search, not prefix-based search"
From what I can tell, the stream search/filter functionality (accessed via the <kbd>q</kbd> key) uses a prefix-based search technique. However, this is frustrating because you have to make sure to type out the whole beginning of the stream name, which gets especially frustrating when streams have prefixes. Perhaps it could be changed to a fuzzy-match search?

An example: If you have these streams:

[2020-12-16 00:42] #16862 closed

[2020-12-16 01:13] timabbott commented on #8913
@stalkerg that's great!  The other update here is that in the last year we did a substantial change to our use of Tornado that made it a much less conceptually complex integration.  So it would be worth making an attempt at upgrading all the way to latest at this point.  A few notes:
* We no longer use `sockjs` at all, so the exception at the top of the thread is no longer an issue.
* We can delet

[2020-12-16 06:43] v3ss0n commented on #10643
i have experience developing voice message based messenger  with videojs record , anyone still interested?

[2020-12-16 09:07] kasheravaibhav14 commented on #4240
Hey, I have added a new pull request with a single commit, the PR also consists of a gif showing the changes. If someone could review it, that would be great!!

[2020-12-16 10:08] m-e-l-u-h-a-n commented on #6847
@timabbott can you please have a look over it, I think `if request.error_format == "JSON":` condition in `JsonErrorHandler` in `zerver/middleware.py` handles the required situation.

[2020-12-16 10:29] tushar3105 commented on #16492
@zulipbot claim

[2020-12-16 11:08] EmilyRosina commented on #16737
@timabbott no, #16856 resulted from this issue, but does not close it.

There is still the bug in private channels I think (at least that is what I gathered).
[Steps to replicate here](https://github.com/zulip/zulip/issues/16737#issuecomment-739966627)

[2020-12-16 11:25] Signior-X commented on #15948
I would like to work on the first one

I have an idea how to do this.... should I go ahead?

[2020-12-16 12:49] amanagr commented on #16737
@EmilyRosina this is not a bug, but intentional, see my comment above https://github.com/zulip/zulip/issues/16737#issuecomment-741484985

[2020-12-16 16:42] vrozkovec commented on #16147
Also, another use case where this would help is using web version of Zulip (not the app) on the mobile phone.

[2020-12-16 16:52] m-e-l-u-h-a-n commented on #16105
@edith007 are you working on it?
If you are not please reply I would like to fix this issue.

[2020-12-16 17:15] edith007 commented on #16105
@m-e-l-u-h-a-n I have started working on it..

[2020-12-16 19:28] mateuszmandera commented on #16423
@Abhirup-99 I think this requires some investigation and thought into the errors that `orljson` provides when it fails to parse - if we're lucky we might be able to show the user the offending json and the olrjson error for example.

[2020-12-16 20:08] iteachmachines commented on #16856
@amanagr  @timabbott  Can I work on it?

[2020-12-16 21:16] EmilyRosina commented on #16737
@amanagr ah yes, sorry - damn do I need a holiday :sweat_smile:
I remember now you mentioning that this will resolve on reload... hopefully :sweat_smile:

It is a pain that the app differs enough from the web version to make this tricky - but indeed it seems as though the empty topics are indeed gone :bowing_woman: thanks again.

[2020-12-16 22:10] dhruvgp180901 commented on #16426
@zulipbot claim

[2020-12-16 23:52] timabbott commented on #16895
@ritikchauhan-01 can you explain the issue in more detail?  That keyboard shortcut, like all the others that apply to the message feed, can't work if the focus is in the compose box (otherwise, it'd be impossible to type `>`).

Closing since I think this is invalid; will happily reopen if corrected.

[2020-12-16 23:52] #16895 closed

[2020-12-17 01:49] timabbott opened #16911 "Weird scrollbar in notice when the server is reloading"
I noticed this today when chat.zulip.org was being updated -- there's a weird scrollbar alongside the notice.

![image](https://user-images.githubusercontent.com/2746074/102427675-b18fd500-3fc6-11eb-805f-4f7be27889d4.png)

Tagging as a priority since this is high-visibility UI in the event that we're having an outage.

Reproducible by just Ctrl-C on the development server after loading Zulip in th

[2020-12-17 02:34] amanagr commented on #16856
@iteachmachines There is already a PR open for this ->  #16859

[2020-12-17 02:52] m-e-l-u-h-a-n commented on #16911
@timabbott  Can I work on this issue?

[2020-12-17 06:27] timabbott commented on #16911
Sure!

-Tim Abbott (mobile)

On Wed, Dec 16, 2020, 18:52 Purushottam Tiwari <notifications@github.com>
wrote:

[2020-12-17 09:32] legopin opened #16913 "custom emoji overrides default emojis in emoji picker"
Note by @timabbott: We support overriding default emoji with a custom image, but also want to make sure users know this is happening when they do it.

I think we probably do want to allow overriding the image for a standard emoji if one wants to. Perhaps we want to (A) warn that when one is doing this in the UI and require confirmation and (B) perhaps require that the uploading user be an organiza

[2020-12-17 10:11] aryanshridhar commented on #16913
Looking into it :+1:

[2020-12-17 10:12] amittri1025 commented on #16911
is this issue solved

[2020-12-17 10:17] dhruvgp180901 commented on #16911
@timabbott Is the issue solved or can i work on it?

[2020-12-17 11:01] m-e-l-u-h-a-n commented on #15973
@timabbott can I work on this issue along with my pr #16914 which is under review!

[2020-12-17 12:41] dhruvgp180901 commented on #16253
@alexmv  is this issue solved or can i work on it?

[2020-12-17 13:40] ritikchauhan-01 commented on #16895
@timabbott hey someone has posted comment on here on this regarding this issue #16147

[2020-12-17 14:07] edith007 commented on #16253
@dhruvgp180901  i am working on the followup PR..

[2020-12-17 16:54] tushar912 commented on #16579
@zulipbot claim

[2020-12-17 16:57] kdheepak opened #16917 "View showing only first message from most recent topics"
The more I'm using Zulip, the more I'm loving it :)

I have maybe just one minor complaint. This may be a feature for others, but it is a minor annoyance for me because of the frequency at which I visit Zulip.

I don't spend too much time on Zulip, and when I do spend time I'm usually reading the topics in the stream I'm currently working on. However, I'm subscribed to a bunch of other streams tha

[2020-12-17 17:02] tushar912 commented on #16913
Can I work on this issue ?

[2020-12-17 17:04] tushar912 commented on #16913
@zulipbot claim

[2020-12-17 17:17] amanagr commented on #16917
We have talked about having this as a part of recent topics. Not sure how long will it take for it to be available. Thanks for your feedback.

[2020-12-17 17:22] aryanshridhar commented on #16913
Hey @tushar912 , I am currently working on it . Will let you know if I abandon it :)

[2020-12-17 17:23] kdheepak commented on #16917
I am glad to hear! I figured the team there had discussed this in more detail. I searched issues here on zulip but did not find something that discussed this specifically so I decided to open an issue to gauge interest from the community.

Thank you for all the work on zulip!

[2020-12-17 17:47] tushar912 commented on #16538
@SushanthReddyManda are u working on this. If not I would like to work on this

[2020-12-17 19:44] MasonProtter commented on #16917
Mhm, I can say I definitely find the current default behaviour unsatisfying. I'm not sure I agree that showing only the first message of each topic is right, but it's an interesting idea. Initially, I thought it was just a bad idea, but I'm actually significantly warming to it.

[2020-12-17 20:05] dhruvgp180901 commented on #16770
can i work on this issue?

[2020-12-17 20:06] dhruvgp180901 commented on #16253
@edith007 okay

[2020-12-17 20:12] dhruvgp180901 commented on #3917
@zulipbot claim

[2020-12-17 20:15] dhruvgp180901 commented on #3916
@zulipbot claim

[2020-12-17 20:16] dhruvgp180901 commented on #2083
@zulipbot claim

[2020-12-17 20:47] vrozkovec commented on #16895
@timabbott I think he meant that when message is selected. I also cannot use it to quote the message. I select the message I want to quote, type `>` and it types this character in the compose box.

The way I got it to work is only when using these steps:

1. select the message by clicking on it
2. compose box appears
3. I have to press `Esc` to hide compose box and keep message selected
4. then it

[2020-12-17 21:26] timabbott opened #16920 "Email address visibility: Display current value of setting during account creation."
We should display a notice on whether the user's email address will be public to other members of the organization (according to the "Email address visibility" setting) on the account registration page.  I'm not sure what the best visuals are for this; options include:
* A `?` icon with a popover explaining this detail next to the "Email" field
* A line of text below the "Email" field.

Text can b

[2020-12-17 21:30] aniketiq commented on #15440
@Gittenburg Can I work on this issue?

[2020-12-17 21:38] aniketiq commented on #16920
@zulipbot claim

[2020-12-17 21:53] dhruvgp180901 commented on #16920
@timabbott can i work on this issue?

[2020-12-17 21:54] dhruvgp180901 commented on #16920
@zulipbot claim

[2020-12-17 21:54] aniketiq commented on #16920
A line of text below the "Email" field with the text seems reasonable.

OR maybe we can use an asterisk as "Email*" and it would refer that this field is mandatory and probably we could use the asterisk to refer to some extra info i.e. "Email address will be visible to the users of the organization"

[2020-12-17 21:59] dhruvgp180901 commented on #16920
@aniketiq i think that asterisk way is more good as the line of text will not appear good.what do you think?

[2020-12-17 22:01] aniketiq commented on #16920
@dhruvgp180901 Yes, I think It will be more consistent and the user won't be making extra efforts for the same.

[2020-12-17 22:03] dhruvgp180901 commented on #16920
@aniketiq yeah

[2020-12-18 01:57] timabbott commented on #16913
There's a legitimate use case for this with an organization that wants to use a specific image.  E.g. a company named "dragon" might want to use their logo for `:dragon:` rather than the standard image.

I think we probably do want to allow overriding the image for a standard emoji if one wants to.  Perhaps we want to (A) warn that when one is doing this in the UI and require confirmation and (B)

[2020-12-18 02:26] timabbott commented on #6847
I can confirm we have that logic, so the remaining bit we need is https://github.com/zulip/zulip/issues/14611, so we can close this issue. Thanks for testing!

[2020-12-18 02:26] #6847 closed

[2020-12-18 02:42] primane commented on #4253
Here, is the solution: how to find the process and how to kill it
[](https://superuser.com/a/1610804/1252585)

[2020-12-18 02:52] legopin commented on #16913
(A) warn that when one is doing this in the UI and require confirmation

This behavior would solve my use case.

[2020-12-18 07:56] aryanshridhar opened #16921 "Parse Error while adding new realm emoji"
Figured out this issue when solving upon a similar one , regarding the error thrown when a owner/admin , while adding a new custom emoji accidentally leaves the emoji_name field blank. (Also fading the <code>Add emoji</code> button ,  unless the user manually reloads it)

<strong>Screenshot :</strong>

![Screenshot from 2020-12-18 23-02-08](https://user-images.githubusercontent.com/53977614/102643

[2020-12-18 08:03] SushanthReddyManda commented on #16538
@tushar912 Yes, I'm Working on this .

[2020-12-18 10:00] dhruvgp180901 commented on #16920
Is this issue fixed or can i work on it?

[2020-12-18 10:00] dhruvgp180901 commented on #16920
@zulipbot claim

[2020-12-18 10:28] m-e-l-u-h-a-n commented on #16921
I also faced a similar issue while testing issue #6847, probably we are missing a check for invalid emoji name can I try to fix it?

[2020-12-18 10:31] aniketiq commented on #16920
@dhruvgp180901 Currently working.

@timabbott What are your thoughts?

[2020-12-18 14:50] sahil839 commented on #16920
Yeah I agree with the point that we should show the email address visibility setting value on the account registration page and I think it would be better to keep it below the email field than the popover because we would want to show this important info consistently to the user, but we can try with other options too.

I am not sure how only allowing changing the setting back to visible through co

[2020-12-18 15:53] m-e-l-u-h-a-n commented on #13670
Hey @timabbott I went through the issue description, as well as issues, pull requests and code associated with it, and I think  I can take upon this.
If you allow, then I would like to proceed in the following order:

- **Point-3:** Merge the DefaultStream model into the DefaultStreamGroup model.
- **Point-4:** UI for editing an organization's default stream groups.
Will decide/discuss later on fo

[2020-12-18 19:39] timabbott commented on #9166
Hmm, yeah, I think in retrospect the right algorithm is probably that we should offer a flag `--allow-reserved-subdomain`

[2020-12-18 19:42] timabbott opened #16924 "Add better checking for reserved subdomains in data import tools"
See https://github.com/zulip/zulip/issues/9166#issuecomment-733897308 for background.

We should change the behavior for slack/etc. data import tools to error if the requested subdomain is in use or reserved, but provide a `--allow-reserved-subdomain` flag to override that setting when the server admin wants to use a reserved subdomain.

`git grep check_subdomain_available` should be helpful; we'l

[2020-12-18 19:43] timabbott commented on #9166
Opened https://github.com/zulip/zulip/issues/16924 to track an improved version..

[2020-12-18 20:36] DalvinCodes commented on #14991
@zulipbot claim

[2020-12-18 20:45] #16817 closed

[2020-12-18 20:48] tushar912 commented on #16924
@timabbott can I work on this

[2020-12-18 20:48] tushar912 commented on #16924
@zulipbot claim

[2020-12-18 20:49] DalvinCodes commented on #14578
@zulipbot claim

[2020-12-18 20:57] #16726 closed

[2020-12-18 23:35] #16058 closed

[2020-12-19 00:08] timabbott commented on #16772
I think the main thing we need to settle is the name.

[2020-12-19 01:35] sumanthvrao commented on #6050
@zulipbot claim

(Even though the bot doesn't work atm, I'm claiming the issue to prevent multiple folks working on it)

[2020-12-19 02:08] #16837 closed

[2020-12-19 02:47] andersk opened #16928 "Enable web notification inline replies"
Chrome supports a [web notification inline replies](https://chromestatus.com/feature/5743740178137088) API. We should consider using it in the web frontend.

This would provide a replacement for the broken inline replies feature we removed from Zulip Desktop in zulip/zulip-desktop#1046. There’s no reason for this feature to be macOS-specific or desktop-specific.

[2020-12-19 03:00] ganpa3 commented on #16928
@zulipbot claim

[2020-12-19 04:07] SushanthReddyManda commented on #16538
@zulipbot abandon

[2020-12-19 04:08] SushanthReddyManda commented on #16538
@tushar912 you can start working on this :)

[2020-12-19 04:22] ligmitz commented on #16554
@zulipbot working on it

[2020-12-19 04:29] kou commented on #13216
We can close this because #16809 has been merged.

[2020-12-19 05:02] #13216 closed

[2020-12-19 05:33] edith007 commented on #14810
@zulipbot still working on it.

[2020-12-19 05:33] ganpa3 commented on #8913
I would like to try this issue.
@zulipbot  claim

[2020-12-19 06:43] shanukun commented on #15947
@zulipbot still working.

[2020-12-19 06:44] shanukun commented on #16359
@zulipbot still working

[2020-12-19 10:59] Pranav2612000 commented on #16928
I'll like to work on this.

[2020-12-19 12:00] Abhirup-99 commented on #16233
@zulipbot add "PR needs review"

[2020-12-19 14:19] tushar912 commented on #16538
@zulipbot claim

[2020-12-19 15:55] ganpa3 commented on #16921
I want to try this issue.
I have submitted a PR.

[2020-12-19 16:55] ritikchauhan-01 commented on #14321
hey , @shubhamgupta2956 can you help .

[2020-12-19 17:26] aniketsonu commented on #16453
@zulipbot still pending review

[2020-12-19 20:35] meitros opened #16936 "Was able to trigger hundreds of emails"
Hey, so I wanted to open this task because in messing with the api I accidentally triggered hundreds of emails to myself, and b/c you're sending them directly from @zulip.com I don't know if this is the sort of thing you want to prevent, in order to avoid domain reputation issues (like, gmail starting to send emails from zulip to spam.)

Basically I accidentally called init from zulip-js in a reac

[2020-12-19 21:17] shubhamgupta2956 commented on #14321
Yeah sure. Can you please elaborate on what difficulty are you facing so that I can help you according to your problem?

[2020-12-20 12:38] mateuszmandera commented on #16861
@lxjmac Can you show your `/var/log/zulip/errors.log`?

[2020-12-20 12:51] mateuszmandera commented on #16782
The Zulip users are created when the user logs in and only existing users get synced via `sync_ldap_user_data` - so another tool would need to be built to allow grabbing all user entries in the directory and creating Zulip accounts for them all.

[2020-12-20 13:44] ritikchauhan-01 commented on #14321
@shubhamgupta sorry for the late reply.Can we talk in the pms about it https://chat.zulip.org/#narrow/pm-with/13950-user13950

[2020-12-20 17:26] tushar3105 commented on #16492
@zulipbot claim

[2020-12-20 19:39] timabbott commented on #16917
Yeah, I think once Recent Topics is stabilized, we'll want to have a way to get to "Recent topics filtered to stream X" from the left sidebar; not sure exactly what that will look like.

[2020-12-20 19:40] timabbott commented on #16847
@Gautam-Arora24 sure, if you can reproduce this.  My guess is this is likely hard to reproduce as it's very much broken and we haven't had other reports (and the CSS in question hasn't AFAIK changed in years).

@ReneSpronk it might be helpful to use the browser inspector to find the CSS properly that makes this blue -- the only use of that color is Zulip is for a blue border around the message bod

[2020-12-20 19:43] timabbott commented on #16846
My thinking is much of what we want to do is actually to suppress the notices that we don't want (like the webpack notice) that are provided by third-party tools.

[2020-12-20 22:04] neiljp commented on #7330
This issue perhaps needs refocusing, but to throw another voice-only open idea out there, I remember coming across mumble previously - has that been investigated?

[2020-12-21 04:54] m-e-l-u-h-a-n commented on #16368
@showell I wanted to work on this feature. The existing pr #14033 has so many conflicts and also misses coverage. So can I help out with clearing out conflicts, adding proper coverage and tests for node tests? So that it can be implemented.

[2020-12-21 11:06] SushanthReddyManda commented on #16579
@khubi09 are u working on this issue ? If not I would like to work on this issue

[2020-12-21 14:09] worldskat commented on #16641
@andersk @kou  @timabbott yes, the search works correctly, Thank you!
But in Zilupe highlight only works on the lower capital, and not on the upper
![image](https://user-images.githubusercontent.com/24825418/102785360-ea58f100-43ae-11eb-82ec-dbcedacb7a61.png)

[2020-12-21 14:38] khubi09 commented on #16579
@SushanthReddyManda I'm working on it

[2020-12-21 14:38] khubi09 commented on #16579
@zulipbot claim

[2020-12-21 15:37] stalkerg commented on #8913
@ganpa3 I can help at least in the review. Probably we can explain our intention to the bot... )

[2020-12-21 17:25] ritikchauhan-01 commented on #16770
@timabbott  can you review.

[2020-12-21 18:50] showell opened #16942 "events: Use same logic for reactions as messages with all_public_streams"
https://chat.zulip.org/#narrow/stream/127-integrations/topic/Listen.20for.20reactions.20on.20all.20public.20streams/near/1081664

We should probably have Tim weigh on this first before working on it.

Basically, if a user has `all_public_streams` set (and that user is typically a bot), then we should have all reaction events for public streams go to that user's client.

This is a somewhat advanced

[2020-12-21 19:05] showell opened #16943 "Add -is:muted as alias for in:home."
This is a relatively simple fix for somebody who's worked with our message filtering logic.  It's probably a couple hours to get stuff working and a day or two to polish.

We want to make -is:muted the new alias for in:home.

We probably want to deprecate this somewhat slowly.  I think we can add code for is:muted and move all the help/docs to the new name, but we probably might want to still supp

[2020-12-21 19:08] showell commented on #16642
Some chat discussion here: https://chat.zulip.org/#narrow/stream/127-integrations/topic/email-gateway/near/1084269

[2020-12-21 21:05] tushar912 commented on #16924
@timabbott Raising <code>CommandError</code> instead of <code>ValidationError</code> in <code> check_subdomain_available</code> is creating error in endpoints like <code>accounts/register/</code>  . This is because the views and management commands use the same <code>check_subdomain_available</code> .I think a way to solve this is to have seperate <code> check_subdomain_available</code> function f

[2020-12-21 22:35] showell commented on #16942
We should possibly be more holistic about this and audit all stream-related events to respect this flag.

[2020-12-21 23:52] andersk opened #16946 "Organization settings crashes for users without access to private stream set for New stream notifications"
Log in as an administrator and set ⚙️ → Organization settings → Notifications → New stream notifications (or New user notifications) to a private stream. Then log in as a normal user who doesn’t have access to that private stream, and try to open ⚙️ → Organization settings. The tab fails to load and gives this error:

[code]

[2020-12-22 04:41] Riken-Shah commented on #16946
@zulipbot claim

[2020-12-22 04:43] sahil839 commented on #16946
I was thinking whether we should allow private streams to be set as notification stream as notifications should be seen by all the users I think. Recently we also migrated to not allow default streams to be private.

[2020-12-22 04:50] Riken-Shah commented on #16946
@sahil839 I also tried setting public stream as notification stream but it still raising similar error
[code]

[2020-12-22 06:05] kou commented on #16641
Ah, we also need to specify the normalizer in the highlight function we used: https://pgroonga.github.io/reference/functions/pgroonga-match-positions-character.html

It doesn't have a feature to customize normalizer. I'll improve PGroonga and release a new version. Then we can add support for highlighting Russian texts.

[2020-12-22 08:26] Darshilp326 opened #16947 "As a normal user there are no options for deleting messages."
We should give deleting rights to normal users for deleting their own messages.

[2020-12-22 09:40] tushar912 commented on #16538
@amanagr Can you please provide some additional context as to what files are to be managed. I tried to find in the docs where the stream notifications are implemented but was unable to make much progress.

[2020-12-22 09:55] SushanthReddyManda commented on #16538
@tushar912   I worked on this for 3 weeks and most of the work is done but not able to make a pull request .

So gave it off . Worked on  errors Now am able to make a pull request . So can I take this up again  ??

[2020-12-22 10:25] tushar912 commented on #16538
@SushanthReddyManda Now that I have been assigned let me try for sometime .If I am unable to do I will be happy to let you take over.

[2020-12-22 10:29] SushanthReddyManda commented on #16947
@Darshilp326  when we Edit and  remove whole message we sent and then save it . Its marks as Delete . So adding is Delete option might not be a good one .
But has a short come as we can only Edit the message  up to 1 hour .

[2020-12-22 12:26] Darshilp326 commented on #16947
@SushanthReddyManda Don't you think it is a bad user experience?

[2020-12-22 12:33] HarshKapadia2 opened #16949 "Insecure page load."
Some users shared a few links on my Zulip chat and Zulip seems to be loading some of the preview images over HTTP, as seen in the picture below.

<img src="https://user-images.githubusercontent.com/50140864/102888560-0f1c9980-447f-11eb-9c08-c9cf2b36965f.png" width="70%" />

The same sites that are loaded over HTTP are also loaded over HTTPS.

![image](https://user-images.githubusercontent.com/5014

[2020-12-22 13:49] andersk commented on #16949
This happened when someone posted a link to https://parseplatform.org/, which declares

[code]

resulting in this URL preview:

[code]

[2020-12-22 15:57] aryanshridhar commented on #15709
@zulipbot claim

[2020-12-22 18:35] SushanthReddyManda commented on #16947
@Darshilp326  Ya , I too felt this ; but think they didn't gave this option intentionally .
Discussion with admins might  help us about this feature .

[2020-12-22 19:46] m-e-l-u-h-a-n commented on #16368
@zulipbot claim

[2020-12-22 21:58] SushanthReddyManda opened #16951 "Change in Invite New Users Documentation"
It should be mentioned in the documentation that we can only   "Generate Invite Link"  if we are administrator  . But it is not mentioned now .

[2020-12-22 22:04] SushanthReddyManda commented on #16951
@zulipbot claim

[2020-12-22 22:06] showell commented on #16951
For context, we prevent multi-user invites with our `require_realm_admin` decorator.  It's possible that in the long term we might want a way to relax this restriction, but I agree with @SushanthReddyManda that we should document the current behavior.  Thanks for reporting this!

[code]

[2020-12-22 22:10] showell commented on #16947
I think it's somewhat unlikely that we will change this.  A non-admin user can edit their message to the empty string, which shows as "deleted" in the message feed, but they can't actually remove evidence of their original posting.  I think this generally works in most circumstances.

The delete-message function is a bigger hammer for admins when we are clearly dealing with spam.

I'm keeping the

[2020-12-22 22:14] showell commented on #16946
cc @aero31aero in case this issue is specifically related to the `DropdownListWidget` class.  I suspect the problem is higher up the stack, but I haven't investigated.  Even if the root cause of the problem isn't specifically the widget class here, it's possible that we want to make `DropdownListWidget` more defensive, so this might be a two-part fix.

[2020-12-22 22:18] SushanthReddyManda commented on #16951
@showell Changing like this is ok ??
![Screenshot from 2020-12-23 03-45-26](https://user-images.githubusercontent.com/60990123/102938053-8b3fcd00-44d1-11eb-9a18-4987fc30c969.png)

[2020-12-23 00:08] timabbott commented on #16946
We definitely want to allow private streams here; especially for the "signups notifications stream", there's a good use case for the feature.  And in any case, we need to support the stream being unknown, since guest users may not have access to the notifications stream.

[2020-12-23 09:39] edith007 commented on #14810
@zulipbot claim

[2020-12-23 14:51] smitpatel24 commented on #16947
I have created a PR #16852, Which solves this issue. The "Delete" button I have added just removes the content and saves the empty message for the user, so the user will not have to do that manually.

[2020-12-23 16:39] timabbott commented on #16924
@tushar912 yeah, we only want to raise CommandError in a code path that's called only from management commands.  We may just need to catch the ValidationError and reraise CommandError in some place.

[2020-12-23 19:31] SushanthReddyManda commented on #16868
I have created this https://github.com/zulip/zulip/pull/16944 . Which Fixes "The shift in User Invite Copy Icon " .

[2020-12-23 19:56] SushanthReddyManda commented on #16492
@zulipbot claim

[2020-12-23 20:04] SushanthReddyManda commented on #16951
I have created this https://github.com/zulip/zulip/pull/16956 . Which Updates above Issue to the Documentation . I am Happy to hear suggestions about this PR .

[2020-12-24 00:44] andersk opened #16957 "Automatically detect the user’s time zone"
Modern browsers expose the user’s timezone via [`new Intl.DateTimeFormat().resolvedOptions().timeZone`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/resolvedOptions). We should use this to offer to automatically update the user’s time zone setting:

* Under the time zone setting, add a checkbox setting for “Automatically offer to update with

[2020-12-24 00:52] andersk opened #16958 "Display settings → Time zone is not used for display"
Currently, we use the browser’s local time zone rather than the user’s time zone setting when we display times to the user. The time zone setting is only used to compute the “local time” in the user’s profile. This is confusing:

https://chat.zulip.org/#narrow/stream/101-design/topic/Display.20Settings/near/248342
https://chat.zulip.org/#narrow/stream/19-documentation/topic/change.20time.20zone/ne

[2020-12-24 01:45] andersk opened #16959 "View narrowed by search keyword doesn’t update for renamed topic"
If you search for messages by keyword, then (either in that view or a different window) rename the topic of one of those messages, the view doesn’t update for that topic rename.

It seems that in some circumstances, the view can even get corrupted in such a way that topics become empty and message bodies become “undefined”, although I haven’t figured out exactly what those circumstances are:

![Sc

[2020-12-24 06:09] objeni commented on #9081
On which file we need to change to see a video preview

[2020-12-24 18:46] hackerkid commented on #16921
Assigning @ganpa3 since he created a PR.

[2020-12-24 19:02] hackerkid commented on #16826
@khadegaosman Are you still facing this issue?

@akashnimare @abhigyank FYI.

[2020-12-24 19:03] hackerkid commented on #16826
We should close this issue here and open this in https://github.com/zulip/zulip-desktop/issues anyway.

[2020-12-24 19:16] hackerkid commented on #16781
@JonCSgr I don't think there is a way at the moment to do that.

[2020-12-24 19:21] hackerkid commented on #16688
The last commit of https://github.com/zulip/zulip/pull/16062 should have fixed this.

https://github.com/zulip/zulip/pull/16693#issuecomment-721551490

[2020-12-24 19:24] hackerkid commented on #16596
@akashnimare @abhigyank FYI.

[2020-12-24 21:57] aniketsonu commented on #16959
@andersk can I work on this issue?

[2020-12-24 22:03] andersk commented on #16688
#16062 isn’t merged.

[2020-12-25 05:47] nikhilmaske-2001 commented on #16957
@zulipbot claim

[2020-12-25 07:21] nikhilmaske-2001 commented on #16957
@zulipbot abort

[2020-12-25 10:31] shreeshakl commented on #16492
@zulipbot claim

[2020-12-25 11:07] shreeshakl commented on #16492
hey @SushanthReddyManda , I have a fix ready for this issue. If you have not started on this yet, I can assign this to myself and raise a PR. Let me know.

[2020-12-25 12:37] SushanthReddyManda commented on #16492
@shreeshakl Yes , I am working on this .

[2020-12-25 12:41] tushar912 commented on #16538
@amanagr For implementing this can I use the <code>received_messages</code> function from <code>static/js/notifications</code> to send a message from <code> Notification-Bot</code> .Currently,I have implemented it as a function <code>notify_unsubscribe_stream</code> in <code>static/js/notifications</code> which calls <code>received_messages</code>  .This function will be called in <code>stream_dat

[2020-12-25 14:00] amanagr commented on #16538
@tushar912 I don't think you are heading in the right direction. Also, beware that this is not a good first issue.

We would like to add an option probably in the user notification settings for this. When the option is checked, we will send the user a private message from the notification bot when any user un-subscribes from a private stream. You need to generate the message in backend, not fronte

[2020-12-25 14:42] tushar912 commented on #16538
@amanagr Sorry I think I misunderstood the notification part ,I agree this approach is wrong. Now, I understand that this involves sending private message from bot from backend . I am willing to work on this even if it is not a good first issue . I will surely try to make some progress and give you update.

[2020-12-25 14:48] edith007 commented on #13262
@zulipbot claim

[2020-12-25 20:05] DesktopMasters commented on #16917
I too would like the ability, channel by channel to set the root of the channel to only show the initial topic.  This is a tried and true format that works very well in some circumstances.. such as posting a news or announcements feed with many responses.  Ideally the server would choose the default display mode and the client would have the option to override that and not use one or the other for

[2020-12-26 00:08] tushar912 commented on #16943
@zulipbot claim

[2020-12-26 10:04] Riken-Shah opened #16965 "Extra sub/unsub button when a user tries to subscribe to an empty unsubscribed stream."
When a stream has no messages and unsubscribed and the user tries to subscribe it generates another subscribe/unsubscribe button.

Moreover, the first button doesn't change even after the stream is successfully subscribed/unsubscribed.

Checkout the [discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/extra.20sub.2Funsub.20button)

Here is the demo of the bug:
![issue](https://user-im

[2020-12-26 12:09] garg3133 commented on #16965
I would like to work on this issue.

[2020-12-26 13:31] tushar3105 commented on #3916
@zulipbot claim

[2020-12-26 13:31] tushar3105 commented on #3916
@zulipbot claim

[2020-12-26 14:34] MSurfer20 commented on #16022
@zulipbot claim

[2020-12-26 16:05] nicopace commented on #10643
There is another open source react-native messaging app that has added this feature recently, and you could benefit from it.
It is [Manyverse](https://manyver.se), and the specific commits that add them are all around the Nov 4, 2020:
* https://github.com/staltz/manyverse/commit/b772acd28751e153112a3a83641af57ab5cda45c
* https://github.com/staltz/manyverse/commit/2833f77d7e230beccb8163f1ccd1b3534b

[2020-12-27 05:23] nikhilmaske-2001 commented on #16965
I would also like to work on this issue, @zulipbot claim

[2020-12-27 12:58] ganpa3 commented on #16846
Is this issue solved? Or can I start working on it?

[2020-12-27 18:22] m-e-l-u-h-a-n commented on #16473
@hackerkid this appears to be a new feature so can I work on it, or it needs some discussion with other mentors(as I see feedback wanted label) before starting to work on it?

[2020-12-28 01:09] camelid opened #16969 "Apostrophes are rendered as HTML character escapes in reaction hover"
As an example, the name `John d'Smith` is rendered as `John &#39;Smith` when hovering over a message reaction. The name displays fine elsewhere.

[2020-12-28 08:55] Gautam-Arora24 commented on #16846
@ganpa3 If you want, you can work on this issue

[2020-12-28 09:02] ganpa3 commented on #16846
@zulipbot claim

[2020-12-28 13:52] m-e-l-u-h-a-n commented on #16779
I am working on a fresh pr for it as #14519 appears a bit incomplete has conflicts and has been waiting review from a long time.

[2020-12-28 15:00] hackerkid commented on #16473
@m-e-l-u-h-a-n Yeah. This issue needs more feedback from other users as well as input from @timabbott  before you can start working on it.

[2020-12-28 15:10] akshatdalton opened #16970 "Incorrect rendering of YouTube Titles"
I tried sending some youtube videos with setting: Show previews of linked website - checked, but the **extracted** YouTube title is not as expected for most of the videos, it is `YouTube - YouTube` while it should be `YouTube - [Title of the YouTube video]`. Also **extracted** description is `Share your videos with friends, family and the world` for every video sent.
https://chat.zulip.org/#narrow

[2020-12-28 15:32] mateuszmandera opened #16971 "Starred messages view shows messages in inaccessible streams"
If you star a message in a stream and either:
1. Unsub from the stream.
2. Deactivate the stream.

The message will stay visible in the Starred messages view even though it shouldn't. E.g. in the screenshot below you can see messages I starred - first one in a deactivated stream, second one in a private stream I unsubscribed from.
![image](https://user-images.githubusercontent.com/45007152/1032254

[2020-12-28 15:36] mateuszmandera commented on #16971
@sahil839 Would you be interested in looking into this?

[2020-12-28 16:13] sahil839 commented on #16971
Sure, I will fix this.
@zulipbot claim.

[2020-12-28 22:35] kou commented on #16641
I've implemented it and released PGroonga 2.2.8.

The following change will fix it:

[code]

But we also need to run `ALTER EXTENSION pgroonga UPDATE;` as superuser after we upgrade installed PGroonga. But we don't have the feature in our Puppet configuration yet...

[2020-12-29 09:14] Bhanu-mbvg commented on #16943
@zulipbot claim

[2020-12-29 09:25] edith007 commented on #16288
@zulipbot still working on it.

[2020-12-29 12:34] tushar912 commented on #16538
@amanagr I have made a WIP Pr .Please tell if this time I am working in right direction.

[2020-12-29 13:13] garg3133 commented on #16836
@zulipbot claim

[2020-12-29 15:00] Riken-Shah commented on #16902
I will like to work on this issue.

[2020-12-29 18:12] showell commented on #16969
I can confirm this is a problem.  To reproduce:
* log in as Aaron
* change name to Aaron d'Smith
* react to last message
* log in as Zoe
* hover over the reaction

[2020-12-29 18:16] showell commented on #16969
The relevant template appears to be `static/templates/message_reaction.hbs`.  And the label is populated by `generate_title`.

We are getting double escaping from the `i18n.t` calls in `generate_title`:

[code]

[2020-12-29 18:23] showell commented on #16969
Ah, https://github.com/zulip/zulip/pull/16789 is the PR.  And that points to more general discussion about double-escaping.

[2020-12-29 20:08] sumitrathi95 commented on #716
@peacepenguin I am installing ZULIP 3.3 and trying to integrate it with Keycloak for SAML. I found your post https://github.com/zulip/zulip/issues/716#issuecomment-541824656 regarding the same. I am able to login inside the page but it is redirecting to accounts/find/.
Before SAML setup I have created organization and user with email configuration. Can you please help me with the changes?

[2020-12-29 21:47] WesleyAC opened #16986 "Old private messages are marked as read without any user interaction"
After some amount of time (usually a few weeks or months), private messages are marked as read without any user interaction. This appears in both web and mobile. The messages are subtracted from the unread count, and when I go to the narrow of PMs with that person, the messages are not shown with a blue bar on the left fading away, as I would expect if the messages were being marked as read when I

[2020-12-29 22:02] tushar912 commented on #14677
@aero31aero are you working on this.If not I would like to work on this.

[2020-12-29 22:09] tushar912 commented on #15893
@showell Can I work on this

[2020-12-29 22:36] WesleyAC opened #16988 "Custom emojis can replace default emojis"
Custom emojis can replace default emojis that have the same name, preventing a user from using the previous emoji. This does not seem like good behaviour, since any user of most realms can prevent people from using a given emoji, often inadvertently (there is no warning that you are replacing a default emoji when uploading a custom emoji with the same name).

Since it seems like the backend handle

[2020-12-29 22:44] WesleyAC commented on #16988
Notably, when there is a conflict with a custom emoji and a default emoji, aliases of the default emoji can no longer be used as reactions in the web app. They can be used as reactions in the mobile app, but this triggers a bug (see screenshot).

(This seems like two separate bugs. Let me know if I should file them as such)

![ok_got_it](https://user-images.githubusercontent.com/5001092/103318735-

[2020-12-29 22:50] WesleyAC commented on #16988
Since, I've written this sort of confusingly, here's a summary of how I think this should work:

* Attempting to add a custom emoji with the same name as a default emoji should result in an error
* If a custom emoji does have the same name as a default emoji, aliases of the default emoji should still work as expected
* If you've already reacted with a custom emoji that has the same name as a defau

[2020-12-29 22:58] WesleyAC commented on #16988
Filed https://github.com/zulip/zulip-mobile/issues/4363

[2020-12-29 23:17] WesleyAC commented on #16988
Oops, dupe of #16913, will copy my comments over there.

[2020-12-29 23:17] #16988 closed

[2020-12-30 03:49] samargarg commented on #14810
@zulipbot claim

[2020-12-30 05:04] edith007 commented on #14810
@samargarg i am working on it. The PR is under review.

[2020-12-30 08:38] amanagr commented on #15985
Opened #16991 related to this.

[2020-12-30 15:55] #16911 closed

[2020-12-30 17:10] edith007 commented on #13262
@zulipbot abandon
as the PR https://github.com/zulip/zulip/pull/14584 has already solved the issue.

[2020-12-30 17:29] akshatdalton commented on #16970
@zulipbot abandon

Anyone working on this should also change `response = requests.get(url, stream=True, headers=HEADERS, timeout=TIMEOUT)` to `response = requests.get(mark_sanitized(url), stream=True, headers=HEADERS, timeout=TIMEOUT)` in `zerver/lib/url_preview/preview.py`

[2020-12-31 09:10] MananTyagi commented on #16492
@zulipbot claim

[2020-12-31 09:28] SushanthReddyManda commented on #16492
@MananTyagi I am working on this Issue . Might be some error by Zulip Bot

[2020-12-31 09:39] m-e-l-u-h-a-n commented on #16642
I wanted to to work on it, @ligmitz are you still working on it?

[2020-12-31 09:43] ligmitz commented on #16642
@m-e-l-u-h-a-n Working on it !

[2020-12-31 10:58] sahil839 commented on #14677
I think this has been fixed already in #16076, Is there any other thing that this PR does not solve?

[2020-12-31 11:01] MananTyagi commented on #16492
I dont see that  @SushanthReddyManda . sorry for that. @zulipbot abondon

[2020-12-31 11:01] MananTyagi commented on #16492
@zulipbot  abondon

[2020-12-31 11:03] SushanthReddyManda commented on #16492
@MananTyagi . Np :)

[2020-12-31 11:03] SushanthReddyManda commented on #16492
@zulipbot claim

[2020-12-31 11:06] SushanthReddyManda commented on #16492
@amanagr  I made PR to all the existing Issues i was assigned . Can you please assign this .

[2020-12-31 11:11] MananTyagi commented on #16492
@zulipbot claim

[2020-12-31 13:08] imajit commented on #16970
Hi! @akshatdalton can I try this as my first issue ?

[2020-12-31 13:13] akshatdalton commented on #16970
@imajit
Yeah you can try to give this a shot but I am still not sure about the behaviour about the headers.
More context in [CZO](https://chat.zulip.org/#narrow/stream/3-backend/topic/Markdown.20Youtube.20Title).

[2020-12-31 17:45] adi-001 commented on #16986
Same happened w/me too

[2020-12-31 21:12] melsophos commented on #16367
When using Zulip in academia (especially maths and physics), we spend our time writing equations, so it would definitely be better to have single dollar syntax without anything more: `$…$`: first, this is quicker, second older researchers are not too happy when it comes to changing their habits. Since it's already hard to get them on Zulip, having a new syntax to learn does not help.

[2021-01-01 05:29] abhijeetbodas2001 commented on #16019
@vinitS101 @timabbott I tried the XDate part and it works fine, though we would need to twist the `page_params.translation_date` and then add a new object to the `XDate.locales` object from it. I have a few questions-
- Why don't we use a single global XDate object (like i18n) instead of using `const XDate = require("xdate");` in multiple files?
- Should I create a new `js` file to filter out the

[2021-01-01 06:27] m-e-l-u-h-a-n commented on #12424
@thedeveloperr Are you still willing to take forward the WIP pr #12589 . If you are not working on it anymore then please reply, I will start working on the top of it to get this feature completed.

[2021-01-01 12:41] m-e-l-u-h-a-n commented on #16048
I am working on it.

[2021-01-01 15:22] IgnisDa opened #16994 "Add Hyper-V support to Zulip's Vagrant configuration"
As discussed on chat.zulip.com, I have been assigned this issue, and will make a pull request to add documentation for this.

[2021-01-01 15:23] IgnisDa commented on #16994
@zulipbot claim

[2021-01-01 15:24] IgnisDa commented on #16994
@zulipbot add "documentation"

[2021-01-01 18:18] dineshssdn-867 commented on #16821
@zulipbot claim

[2021-01-01 18:24] dineshssdn-867 commented on #16828
@zulipbot claim

[2021-01-02 05:09] amanagr commented on #16492
@MananTyagi thanks for your in this issue, but @SushanthReddyManda  is already working on this.

[2021-01-02 05:28] vanclute opened #16998 "Make the sidebar responsive like Slack, to handle long stream names."
The Slack client allows users to adjust the width of their sidebar, so that they can see channel/DM names that are too long otherwise.  Zulip truncates by default so we have wound up with numerous stream names that the user cannot read fully.  Would like to be able to have the user adjust the width to whatever they like, or maybe define a starting default width as well?

Thread on the community Zu

[2021-01-02 08:21] MananTyagi commented on #16492
np:)

[2021-01-02 09:17] thedeveloperr commented on #12424
I am not working on it. Please feel free to take it up.

On Fri, 1 Jan, 2021, 11:57 am Purushottam Tiwari, <notifications@github.com>
wrote:

[2021-01-02 12:54] MananTyagi commented on #3868
@zulipbot claim

[2021-01-02 16:12] Vivekk07 commented on #16920
@zulipbot claim

[2021-01-02 18:46] GhaziTriki commented on #15136
@timabbott Now we have upgraded to Zabbix 5.0 LTS and mastering more of its features.
The error have happens at a "DISASTER" as example when we hare deboot the server.

The problem happens because of an unscaped `"` character.

The bad JSON generated by Zabbix

[code]

The good JSON should be
[code]

Is a Zabbix issue? Can we fix the JSON formatting in the zabbix shell script integration?

[2021-01-03 00:54] vanclute opened #17000 "Windows Desktop App won't remember window position"
I run multiple displays, and keep all my social stuff on one particular screen, sized just the way I want them. But Zulip refuses to remember where I had it from one launch to the next. It always pops up on my primary display instead, and I have to reposition/scale it every time.

[2021-01-03 00:58] vanclute opened #17001 "Mobile app can create post without a topic, when permissions are set not to allow that."
Mobile app users can still create "no topic" posts even if permissions are set to disallow it and desktop users cannot.  Tested on iOS.

[2021-01-03 05:56] vanclute commented on #17001
Adding to this, it looks as if the mobile client actually can't specify any topic at all, and if there is no topic in the stream yet then I think it's able to create the first post, which falls into (no topic).

Users really should be able to create topics in the mobile app.

[2021-01-03 13:33] tushar912 commented on #14304
I am making a new PR on this as #15008 has conflicts and hasn't been updated from long time.

[2021-01-03 14:16] MananTyagi commented on #3868
@zulipbot claim

[2021-01-03 18:08] vanclute commented on #17001
OK adding again, users CAN create new topics on mobile but it is completely not obvious how to do it.  You have to start writing a message in an existing topic, then EDIT the topic (that's what it looks like you'll be doing anyway) and post your message.  It will actually create a NEW topic and not edit the old one.

This is extremely unintuitive and really needs some improvement to make it crysta

[2021-01-03 19:08] vanclute opened #17003 "Right-click context menu doesn't work in the Stream or Topic fields"
Users cannot use spell check in the Topic field as the menu will not appear at all.  Works fine in the comment body, just not stream or topic.

[2021-01-03 19:22] vanclute commented on #17003
Refreshing (Ctrl-R) has resolved this issue.  It was actually happening everywhere for some users, only in stream/topic fields for me.  But a refresh cleared it up everywhere.

[2021-01-04 01:37] amanagr commented on #16994
Closing since there is no way to use WSL as a vagrant provider and might not be in future. Thanks @IgnisDa for your time and effort.

[2021-01-04 02:32] vanclute opened #17004 "No keyboard shortcut for spell check?"
A member of our community has complained that there is no shortcut for the spell checker.  He's not a native English speaker so uses it a lot more than I ever have, apparently Word uses Alt+f7 for spelling and  Shift+F7 for thesaurus.  I don't know if these can be done since Zulip doesn't have those things built in but maybe the OS could?  Anyway, thought I'd suggest it as a possible improvement.

[2021-01-04 13:01] MSurfer20 commented on #16163
@zulipbot claim

[2021-01-04 16:04] panomitrius opened #17006 "Integration idea: Signal"
Not sure if this is the right place to post integration ideas, but would it be possible to create an integration where a specific channel>topic is linked to a Signal messenger group?

[2021-01-04 18:21] MananTyagi commented on #3868
@timabbott  i succedded in doing integration of centreon_plugins to zulip

[2021-01-04 18:22] MananTyagi commented on #3868
it is through commandline of VM

[2021-01-04 18:22] MananTyagi commented on #3868
![image](https://user-images.githubusercontent.com/63817084/103566358-e1f0d200-4ee7-11eb-8147-6e21caa28f4a.png)

[2021-01-04 18:46] ToucheSir opened #17008 "Feature Request: Timed Mutes"
Sometimes I would like to mute a specific topic that is experiencing a spike in traffic, but only for a limited time. Discord offers a "mute for <x> hours" menu for this use-case. Currently, I'd have to a) permanently mute a topic, and b) remember to manually unmute it after some time. This doesn't scale terribly well for a higher traffic server with a large number of topics.

[2021-01-04 20:17] amanagr opened #17009 "Add option to specify which users can create public and private streams separately."
We only have one option in our [org settings](https://chat.zulip.org/#organization/organization-permissions) right now to decide which users can create streams. We should split it into two to specify which users can create public streams and which users can create private streams.

See https://chat.zulip.org/#narrow/stream/137-feedback/topic/Why.20no.20threads.20in.20DMs.3F detailed discussion.

[2021-01-04 22:00] gnprice commented on #17009
See also [an earlier chat thread](https://chat.zulip.org/#narrow/stream/138-user-community/topic/Managing.20streams.20.26.20topics/near/1080743) a couple of weeks ago.

The user request in both threads is to disable creating public streams, and leave creating private streams enabled.

I wrote there a bit about the motivation for the other direction, an option to disable creating private streams:

[2021-01-04 22:06] gnprice commented on #15998
Another possible design for this scenario would be to split the date bar into a part above and another below:
[code]

This could be thought of -- and implemented -- as having a date bar, then an item (the subscription marker), then a date bar, where the date in between the two date bars isn't an actual date like it usually is, but is "unknown date" and is displayed by just not showing a date on th

[2021-01-04 22:34] #16345 closed

[2021-01-05 02:58] vanclute commented on #13687
We just moved to Zulip and absolutely everyone thinks the emojis are really pathetic.  Please find some better ones, and with much more variety (male/female options especially)

[2021-01-05 06:20] ganpa3 commented on #17009
@zulipbot claim

[2021-01-05 08:02] panomitrius opened #17012 "Edit Welcome Bot's welcome message through UI (rather than manual code editing)"
I've searched around and haven't found a way to change the welcome message new users get from the Welcome Bot. It'd be really convenient if there was a way to easily edit that. Is there a way? Or can this be implemented?

[2021-01-05 11:58] tushar912 commented on #11152
@showell @amanagr is this issue available to work on? If so can you assign it to me

[2021-01-05 13:30] richardreeve commented on #16917
I've just seen this issue and I would also find it very useful feature for some streams. I'd just like to be able to switch to it and back or configure it per stream. The problem is that some (e.g. helpdesk-like) streams that I am in principle interested in move too fast, and I always just find myself lost in a maze of interleaved responses even though the majority of streams I read are up to date

[2021-01-05 13:39] chdinesh1089 commented on #11152
@tushar912 I've been working on this from a few days and have a significant amount of work done in https://github.com/chdinesh1089/zulip/tree/typing

I forgot to claim this earlier. You can claim any unassigned issued by saying @zulipbot claim. If you are interested in this, I'd appreciate a review. will open a PR soon :)

[2021-01-05 14:59] vanclute opened #17013 "Could drafts be saved and shared between login instances?"
This is a feature I really miss from Slack.  I could be on one machine typing up a post, then switch machines and my draft would appear there too.  Often I will be starting a post on my Mac, then realize I want to include a screenshot from my Windows box.  In Slack I just switched machines, screenshotted, then pasted it into the draft on Windows.  Can't do that with Zulip but it sure would be nice

[2021-01-05 15:05] Sourabh025 commented on #17009
@zulipbot claim

[2021-01-05 16:27] ganpa3 commented on #17009
@Sourabh025 Umm, I had already claimed this issue and I'm almost done working on it.

[2021-01-05 17:25] vanclute commented on #9074
Is work still happening on adding role badges?  Especially the ability to define your own?  We want to be able to assign badges to certain members of our community, such as "Moderator" or "TA" or "Mentor" etc. depending on the role they are playing within our community.  We just want other members to be able to easily see who is in what role so they know who to go to for certain things.

[2021-01-05 17:29] dineshssdn-867 commented on #16828
@m-e-l-u-h-a-n  Please find the screenshot of assertnolog() with reference to stack overflow link:https://stackoverflow.com/a/64774103.
I have tried to use yield method in this function.Please guide me and give me suggestions if i am lagging in any domain for this issue.
![Screenshot from 2021-01-05 22-48-50](https://user-images.githubusercontent.com/66898317/103678520-a1598d00-4fa9-11eb-8181-c2b2

[2021-01-05 17:43] MananTyagi commented on #3868
@amanagr  it is what , which is required

[2021-01-05 18:32] mateuszmandera commented on #16030
I'll go ahead and mark as done:

Ref https://code.djangoproject.com/ticket/23524 and https://github.com/django/django/commit/ad88524e4db91dc2f148cf40184a81a454ee7aac - as the commit message says - "only the PostgreSQL
backend supports time zones and it never uses this property." so this should be irrelevant to us. On an additional note, we set `TIME_ZONE` to UTC in `computed_settings.py` so that's

[2021-01-06 00:31] alexmv opened #17015 "Validate form of emails to /register/"
Most paths in `zerver/views/registration.py` validate the email by calling `validators.validate_email(email)` where necessary.  However, the registration from `accounts_home` does not, which can [lead to invalid SQL queries when trying to check if the email is already in use](https://sentry.io/share/issue/6b34ad6039df4d029c85230d6b715df7/), and thus a 500.

We should validate the email using `vali

[2021-01-06 01:02] alexmv opened #17016 "Streams with a given name can only be deactivated 21 times in a realm"
Because of stream uniqueness, we prepend `!DEACTIVATED:` to the name, and add successively more `!` until we hit 21 of them, or we find an unused name.  This behaviour, introduced in ac06d8870f2fa37b7e1e62f336ead8fc53e976e1, is fine in most non-pathological cases -- but some stream names may be created and deactivated a large number of times when testing.

As expected, there's a steep falloff with

[2021-01-06 01:50] tushar912 commented on #17015
@zulipbot claim

[2021-01-06 01:51] tushar912 commented on #17015
I am working on this

[2021-01-06 02:33] prakhar-ai commented on #17015
@zulipbot claim

[2021-01-06 03:08] tushar912 commented on #17015
@prakhar-ai I have almost done this.

[2021-01-06 03:31] prakhar-ai commented on #17015
@tushar912 I don't think zulipbot allows you to work on two issues simultaneously, which is why you weren't assigned. I'm sorry if this caused any misunderstanding!

[2021-01-06 03:43] tushar912 commented on #17015
@prakhar-ai No problem ....If you need help do comment here.

[2021-01-06 08:12] KamaleshSK commented on #16426
@timabbott As I understand it, you want to highlight the message selected to delete, similar to how the "add emoji reactions" highlights the message in question. I have added a screenshot to for your reference.

![Screenshot from 2021-01-06 13-40-09](https://user-images.githubusercontent.com/62380235/103745080-e078f400-5024-11eb-8742-277ff180c320.png)

Something like this?

[2021-01-06 08:17] KamaleshSK commented on #16426
@timabbott The above screenshot is rough edit I made in the browser console, just to convey the idea, if this is not what you meant, please do clarify if you can, Thankyou. I will start working on the issue, after I get a clear picture of what is to be done.

[2021-01-06 09:10] m-e-l-u-h-a-n commented on #16828
@dineshssdn-867 I used a similar approach for this issue but the the logger yielded using `yield` keyword does not catches the logs. I think you can try looking [logging.LogRecord](https://docs.python.org/3/library/logging.html#logrecord-attributes) records for it to check if it has some traces if logs occured.
[This](https://github.com/python/cpython/blob/1a9f51ed12feb4d95ad6d0faf610a030c05b9f5e/

[2021-01-06 13:10] tushar912 commented on #16538
@amanagr I have fixed/added the tests and also added mentioned user in message.So , the PR is ready for review.

[2021-01-06 13:54] MSurfer20 commented on #12970
@zulipbot claim

[2021-01-06 13:58] MSurfer20 commented on #16163
I have opened a PR on this issue, and am unassigning myself so that I may work on another while this gets reviewed.
@zulipbot abandon

[2021-01-06 13:59] MSurfer20 commented on #12970
@zulipbot claim

[2021-01-06 14:11] tushar912 commented on #16793
@alexmv I am working on this

[2021-01-06 16:27] prakhar-ai commented on #17015
I'm unable to run tests due to [OSError: [Errno 26] Text file busy](https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html#oserror-errno-26-text-file-busy). I have unassigned myself. @tushar912 feel free to work on this issue.

[2021-01-06 18:32] akshatdalton commented on #15692
@zulipbot claim

[2021-01-06 18:44] edith007 commented on #15844
@zulipbot claim

[2021-01-06 19:15] adrianvintu opened #17022 "Flutter Firebase integration tutorial"
I am very interested in an alternative to Firestore for a mobile CHAT application.

I would need:
1. integration with Firebase login, if possible
2. FCM

It would be great if you could build a **tutorial** showing how to do this in Flutter, using the Zulip Cloud Free Plan.

If it worked, I would love to switch to your platform for a payed account.

If you do a bit of googling, you will notice a lo

[2021-01-06 20:09] Signior-X commented on #16998
Currently working on this one, relevant conversations are [here](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Stream.20name.20length.20issues/near/1092703).

[2021-01-06 20:23] MananTyagi commented on #15029
@zulipbot claim

[2021-01-06 20:25] MananTyagi commented on #15029
@zulipbot claim

[2021-01-06 20:32] MananTyagi commented on #16492
@zulipbot claim

[2021-01-06 20:39] MananTyagi commented on #3868
@zulipbot claim

[2021-01-07 07:11] Pranav2612000 commented on #16971
@sahil839 , Are you still working on this? I would like to contribute too.

[2021-01-07 07:30] edith007 commented on #16288
@zulipbot claim

[2021-01-07 07:35] sahil839 commented on #16971
Yes I am working on this.

[2021-01-07 14:09] cmprmsd commented on #7330
A very lightweight version for webrtc voice-only calls would be very cool.
I like the idea of having persistent voice channels where you may jump on and off. (just like teamspeak, discord or mumble)

How about a small widget in the navigation bar, where you see who is online and maybe indication of people talking (opt-in as this creates additional background traffic).

For mattermost there was a p

[2021-01-07 15:17] IgnisDa commented on #12611
If this issue is still available, could I please work on this?

[2021-01-07 18:45] gnprice commented on #10513
We've heard this feature request again, [in chat](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Could.20.22Favorites.22.20for.20PM.20threads.20be.20added.3F/near/1092937):

I think this would be a good feature. We have "pinned streams", and I use that feature and value it quite a bit. This is basically the exact same thing for PM threads, and for anyone who uses PMs a lot, I expect it w

[2021-01-07 18:58] gnprice commented on #14573
Thanks @nanohayder for the feedback!

This is #10513 (thanks @xerus2000 for finding that!), and I've added a comment there to record that we heard that request again with this thread.

If there's a group PM thread where you feel like you want a particular name for it, the solution that we find works well is to make a private stream. I recommend trying that out for a while and seeing what you think

[2021-01-07 18:58] #14573 closed

[2021-01-07 19:10] jafingerhut opened #17026 "Finding Zulip message search results in conversation context is unreliable"
Searching for messages is good, but often one really wants to see that message in the context of the conversation where it originally occurred, i.e. the messages shortly before and after it.

Another Zulip user told me these steps to go to a message in its context:

- do a search
- select the message (a thick border will appear around it)
- click the topic

I have found that sometimes this does ta

[2021-01-08 03:45] abhijeetbodas2001 commented on #17008
#526 and #13559 are similar.

[2021-01-08 05:00] ToucheSir commented on #17008
Ah, that's on my bad search-fu :slightly_smiling_face:

What's the best place to poke about/follow this? I can't quite follow where to look after https://github.com/zulip/zulip/pull/13559 was closed, and the [linked discussion](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Temporary.20mutes.20design) seems to have petered out even earlier.

[2021-01-08 05:23] Ru28 commented on #16579
@zulipbot claim

[2021-01-08 07:08] abhijeetbodas2001 commented on #17008
I don't know if anyone if working on it right now or about the history of the PR, but you can always ask about it on CZO.

[2021-01-08 10:08] ganpa3 commented on #16921
@zulipbot Yep bot, I have made a PR. But since you can't seem to review PRs, let's just wait.

[2021-01-08 12:47] amanagr commented on #16994
Reopened as the idea is interesting, and we should keep looking for ways to accomplish this.

[2021-01-08 13:12] fatteneder opened #17028 "Feature Request: Anonymous Polls"
The syntax could look something like
[code]

The output should be like a normal poll that displays the number of votes without any names.

[2021-01-08 13:13] fatteneder opened #17029 "feature request: Allow opening markdown before /poll section"
The following snippets do not render polls properly:

[code]
or
[code]

This one also does not render a poll (I would expect an empty list and the `New choice` text field available)
[code]

[2021-01-08 19:08] aryanshridhar opened #17030 "Reposition cursor at the end when searching for a stream/topic"
Noticed a minor issue regarding the cursor position repositioning itself at the start while searching for a particular stream topic.

![Screenshot from 2021-01-09 00-34-04](https://user-images.githubusercontent.com/53977614/104054326-e7655980-5212-11eb-93bf-601a7248527e.png)

<strong>To Reproduce</strong>
<ul>
<li>Search for a specific stream/topic name.</li>
<li>After viewing the particular strea

[2021-01-09 04:29] Arnavgoyal00 commented on #1286
@zulipbot is the issue still open.I would like to contribute.

[2021-01-09 05:00] Arnavgoyal00 commented on #16840
@zulipbot I is the issue still open. I would like to contribute in it.

[2021-01-09 07:04] joshrestha7 commented on #16840
@zulipbot claim

[2021-01-09 08:14] amanagr commented on #12611
Sorry, this issue is not available. I am working on this.

[2021-01-09 12:09] legopin opened #17034 "[Integration] Publish Zulip App on Zapier Directory"
## Background

There is a Zapier integration as documented here: https://zulip.com/integrations/doc/zapier
Currently it requires the user to use the invite link listed on this page to gain access to the Zulip app in Zapier.

Compared to other apps where the user simply searches for them in Zapier's app directory.

## Proposed Changes

It would make it significantly easier for future users to find

[2021-01-09 12:33] m-e-l-u-h-a-n commented on #16048
@timabbott I have added pr #17033 to address this, it would be great if you could review it.

[2021-01-09 14:57] showell commented on #17029
I edited the description to reflect that this is more of a feature request than a bug.  I can see the use case for a little bit of introductory text before a poll, but I think most folks just do it in a separate message.

So I don't consider this super high priority to work on.

If we fix this, we would should probably do the same for the /todo widget.

[2021-01-09 15:34] ritikchauhan-01 commented on #16770
@sushant52  are you working on it?

[2021-01-09 19:41] aryanshridhar commented on #12050
@zulipbot claim

[2021-01-09 22:15] MananTyagi commented on #3868
@zulipbot abondon

[2021-01-09 23:29] laMudri opened #17036 "Skewed tray icon"
The following image is a screenshot of the tray icon when I have 43 unread messages: ![2021-01-09-223607_31x26_scrot](https://user-images.githubusercontent.com/5139265/104110605-2a860200-52d1-11eb-91fa-a0362612115b.png). The number is still visible, but very distorted.

- Zulip version 5.5.0 (release)
- Xfce 4.14, xfce4-panel
- NixOS unstable

[2021-01-10 04:10] vanclute opened #17037 "Add ability to search for custom emojis."
Issue described in more detail [in this thread.](https://chat.zulip.org/#narrow/stream/9-issues/topic/Searching.20for.20custom.20emoji)

[2021-01-10 06:42] koolgax99 commented on #15029
@zulipbot claim

[2021-01-10 06:52] koolgax99 commented on #14800
@zulipbot claim

[2021-01-10 07:13] koolgax99 commented on #14800
@zulipbot claim

[2021-01-10 07:17] koolgax99 commented on #14800
@timabbott can I work on this issue?

[2021-01-10 07:44] aniketsonu commented on #16959
@zulipbot claim

[2021-01-10 08:21] koolgax99 commented on #14800
@hackerkid @timabbott

Is this enough for analytics/views.py
`elif chart_name == 'messages_in_stream':
        stats = [COUNT_STATS['messages_in_stream:is_bot:day']]
        tables = [aggregate_table, StreamCount]
        labels_sort_function = None
        include_empty_subgroups = True`

this fetches the messages in stream

[2021-01-10 14:05] mrchntia commented on #14800
I would like to work on this.

[2021-01-10 14:06] m-e-l-u-h-a-n commented on #12424
@zulipbot claim

[2021-01-10 14:06] mrchntia commented on #17037
I would like to work on this

[2021-01-10 16:31] Ericson2314 commented on #356
Per https://matrix.org/blog/2020/12/07/gitter-now-speaks-matrix, Matrix is getting better threading features so the Gitter integration is lossless. I very much hope that could help out with this!

(Of course Matrix and Zulip are unlikely to have the same threading model, but as long as Matrix can replicate what exists on the Zulip side, and Zulip can recognize Matrix threads that correspond to Zul

[2021-01-10 16:46] aryanshridhar commented on #12050
Working on it :+1:

[2021-01-10 20:51] laMudri commented on #17036
Moved to https://github.com/zulip/zulip-desktop/issues/1061.

[2021-01-10 20:51] #17036 closed

[2021-01-11 03:10] AkaBlackCat commented on #15390
Bumping this as it seems an interesting suggestion.

[2021-01-11 09:32] rht commented on #12611
For extra motivation for this issue to be solved, here is a message from the JuliaLang cofounder on one of the main issues he faced when using Zulip: https://chat.zulip.org/#narrow/stream/137-feedback/topic/Line.20spacing.20and.20font.20size/near/955151.

[2021-01-11 09:38] rht commented on #12611
More feedback: https://julialang.zulipchat.com/#narrow/stream/137793-zulip-bridged/topic/Custom.20themes/near/195489773.

[2021-01-11 09:47] rht commented on #9124
Related #12611.

[2021-01-11 10:00] rht commented on #14160
I'm kind of confused with the plethora of solutions from the existing PRs. Why can't it be as simple as removing this line: https://github.com/zulip/zulip/blob/6c888977a6f7b319f5e91ba02eab67557d6a377a/static/styles/right_sidebar.css#L141 ? i.e. Just make the userlist toggle button permanently visible. It's not taking that much screen estate anyway.

[2021-01-11 12:29] tushar912 commented on #16718
@maxrzaw are you working on this. If not I can take it up.

[2021-01-11 16:56] maxrzaw commented on #16718
I’m not working on it anymore, feel free to use anything from my pull request although it needs a lot of work from where I left off. I think the comments in the pull request will be pretty useful.

[2021-01-11 17:09] ligmitz commented on #16473
@hackerkid Is there any discussion currently related to this as I would like to work on this issue !

[2021-01-11 17:27] tushar912 commented on #16718
Thanks . I will start working on it

[2021-01-11 17:55] hackerkid commented on #16473
@ligmitz I am not aware of any other discussions.  I would not recommend working on it till we have a concrete plan on how to tackle this issue.

[2021-01-11 18:00] hackerkid commented on #14800
@koolgax99 Please create a WIP PR. Should be easier for someone to review that.

[2021-01-11 18:02] ritikchauhan-01 commented on #14321
@shubhamgupta2956  hey can you take a help in this https://chat.zulip.org/#narrow/stream/49-development-help/topic/improvement.20in.20check_Capitaliazatio.20.20error

[2021-01-11 20:46] showell commented on #14160
I agree with the gist of what @rht is saying here.  While I don't think the solution here is quite as simple as removing that one line of CSS, I agree that we should probably just always show the toggle control.  We already show it on narrow screens, and to rht's point, if you're on a wider screen, there's plenty of real estate for it.

I think there are some nuances with what happens when you tog

[2021-01-11 20:52] showell commented on #12611
I edited the description to be slightly broader than the specific request from @cedewey, but it's a little more accurate in terms of what we have planned for the future, and I want it to be a bit easier to find this issue when people talk about info density.

This also is gonna allow me to close out #9124, which has some useful historical discussion.

[2021-01-11 20:52] showell commented on #9124
Closing this now, since #12611 is basically a dup and easier to find due to being more recent.

[2021-01-11 20:52] #9124 closed

[2021-01-11 21:18] showell commented on #17029
@fatteneder Thanks for opening this, and I do appreciate the thought behind the feature request.

Based on some chat conversations, I don't think it's realistic that we'll change the behavior here, so I am gonna close this issue.

If you feel strongly about this, you can discuss here: https://chat.zulip.org/#narrow/stream/9-issues/topic/Anonymous.20polls/near/1095722

Part of the pushback here is

[2021-01-11 21:18] #17029 closed

[2021-01-11 21:21] showell commented on #17028
This is a reasonable feature request, but we probably should postpone working on it until we get more customer feedback that this will be useful.  In my limited experience people are pretty comfortable with attaching their name to a vote on the poll, and being able to see who's voting for what will usually lead to follow-up conversations that can help decide whatever the poll is about.

[2021-01-11 21:27] showell commented on #14677
It looks like the PR from @sahil839 fixed this issue, so I am closing it.  If anything was missed that was important, we can re-open issues to more specifically address any loose ends.

Thanks @sahil839!

[2021-01-11 21:27] #14677 closed

[2021-01-11 21:29] showell commented on #16959
@aniketsonu I manually assigned the issue to you, since it seems zulipbot is broken.

[2021-01-12 01:27] aniketsonu commented on #16959
@showell thanks, close to solving this one!

[2021-01-12 06:31] #16770 closed

[2021-01-12 07:06] rht commented on #14160
This issue seems to be a duplicate of #558 ?

[2021-01-12 07:43] Arnavgoyal00 commented on #1286
@rishig can u assign me to this issue.
I would like to contribute.

[2021-01-12 09:03] rht commented on #14160
The current behavior already works, where if the browser window width is too small the buddy list is either hidden or moved to the left sidebar based on user settings. In a small window, a user can temporarily see the buddy list by clicking the toggle button, and click it again to turn it off.

[2021-01-12 13:47] showell opened #17042 "feature request: Make Zulip an OAuth Provider."
https://chat.zulip.org/#narrow/stream/127-integrations/topic/Sign.20in.20with.20Zulip/near/1096220 provides an example of a customer who would like Zulip to be an OAuth Provider.

We've had a couple internal projects to build this out, but they both got a little bit stuck due to competing priorities, so I'll make an issue for this.

See https://github.com/zulip/zulip/pull/16529#issuecomment-735401

[2021-01-12 13:48] showell commented on #17042
I encourage anybody reading this issue to upvote the top description if you think this is something you would find valuable.  Also, feel free to use the comments to provide examples of how you'd use Zulip OAuth Provider features.

[2021-01-12 13:52] mrchrisadams commented on #17042
The specific use case I have in mind is for using with the [Outline](https://www.getoutline.com/), a really nice open source knowledge base/wiki tool, for folks who want to be able update documentation, onboarding guides, books and so on, and but might not be comfortable using github and pull requests.

[2021-01-12 14:57] sahil839 commented on #16971
I am not getting time to work on this so I am abandoning it for now. WIll get back to it when I get time (if this will not be solved till then). Anyone who is taking this can have a look on the discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/.2316971.20starred.20messages.20view).
@Pranav2612000 you can take this if you want.

[2021-01-12 18:42] timabbott commented on #17016
Yeah, I think it's reasonable to add a bit more entropy in the short term, even if in the long term we'd like to do something more complicated for how to handle deactivated streams.

[2021-01-13 00:10] alexmv commented on #7161
Feedback bot was removed in d70e799466a1157aee7ed7dd325088c24eb5c461, mooting this issue.

[2021-01-13 00:10] #7161 closed

[2021-01-13 00:35] alexmv opened #17048 "Clean up and reorganize `zproject/prod_settings_template.py` / `settings.py`"
The organization starts off reasonably strong, but then descends into chaos:
[code]

Having two "Miscellaneous settings" sections is not a great look.  The "misc" sections are have the most variables in them, by far:
[code]

It would be great to:
- Standardize a bit what a section heading looks like (i.e. is `####` what we want?), and how many levels of size there are.
- Merge the two "misc" secti

[2021-01-13 01:54] #16924 closed

[2021-01-13 03:42] nikhilmaske-2001 commented on #17048
I would like to work on this issue.

[2021-01-13 07:31] ritikchauhan-01 commented on #16958
@andersk  I want to know that only time-zone and time-format should be inside the profile or with whole Time-setting Heading .

[2021-01-13 10:16] ritikchauhan-01 commented on #14321
@zulipbot abandon

[2021-01-13 14:17] Riken-Shah opened #17054 "tools/run-dev.py shows extra port in dev url when specified EXTERNAL_HOST."
This happens because  `EXTERNAL_HOST` already contains a port.
You can checkout out relevant discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/tools.2Frun-dev.2Epy.20shows.20incorrect.20url).

![incorrect_url](https://user-images.githubusercontent.com/63820270/104463069-50fcb380-55d7-11eb-93ac-2096abb44a97.png)

[2021-01-13 15:06] gd2003gamingchamp commented on #17012
Yeah please,
I am into the same problem

[2021-01-13 16:12] neiljp commented on #17012
Are you referring to the first reply message?

A quick look suggests that `WELCOME_BOT` is the appropriate identifier to look through the code for where the bot is involved, with messages in `actions.py` and `onboarding.py`.

[2021-01-13 19:28] #17015 closed

[2021-01-13 20:41] panomitrius commented on #17012
Yes, that's what I'm looking for (at least). I'm runnig Zulip as docker, so there's no more convenient way than editing those python scripts?

[2021-01-13 23:30] alexmv commented on #17016
A few potential ways to add more entropy; the simplest (and least thought-required) solution is increase the limit of `!`s.  Or we could dod something mildly more complicated like substring the sha512 of the id itself, to some length we choose, and prepend that to the `!DEACTIVATED` string.

[2021-01-14 01:07] gnprice opened #17059 "Add "send test notification" button in settings"
It'd be helpful to provide a way for a user to send themselves a mobile push notification as a test. This could be a button in settings with a label like "Send test notification", in the mobile section of `#settings/notifications` much like the existing one in the desktop section.

This should work by actually sending the user a real message, a PM, probably from one of the system bots. Perhaps Wel

[2021-01-14 04:42] skshamagarwal opened #17060 "Hover Issue on User's List"
**Description of bug**
When we are hovering on the Active Users list and the list reloads or the user gets offline on whom our cursor was, then the hover box stays there until we move our cursor over it.

**To Reproduce**
Just keep your cursor on any user and wait for a bit. The hover box will get darken, then move your cursor away.

**Expected behavior**
The hover boxes shouldn't stay there.

**S

[2021-01-14 05:54] VidithM commented on #17060
I would be happy to work on this. Could you please assign me the issue?

[2021-01-14 05:54] VidithM commented on #17060
@zulipbot claim

[2021-01-14 06:17] jalajcodes commented on #17059
@gnprice I'd like to work on it...

[2021-01-14 06:18] jalajcodes commented on #17059
@zulipbot claim

[2021-01-14 09:14] devansh5 commented on #16970
Hey @imajit, are you still working on this issue? If not, I would like to work on this

[2021-01-14 17:38] GonzRon commented on #13928
any chance @timabbott we might be able to reconsider?

Take for example a Topic "work related chat".  If there are hundreds of users in this topic, how can we tag a specific thread of conversation so that replies to a conversation can be grouped together?  I believe Slack does something like this by allowing you to "reply in new thread".  Looking for similar functionality inside of a topic.

[2021-01-14 18:35] ritikchauhan-01 commented on #16958
@zulipbot claim

[2021-01-14 19:04] showell commented on #601
One area where we need clarity is how much effort we're going to go through to automatically re-subscribe users, or at least notify them that they can re-subscribe.

At deactivation time we set all users subscriptions to active=False, but that doesn't allow us to distinguish users who deactivated themselves earlier vs. users who got deactivated when the stream itself was deactivated.

For public s

[2021-01-14 19:07] edith007 commented on #601
@zulipbot claim

[2021-01-15 12:20] drunlade commented on #1739
Given this ticket is open I assume there was no traction on getting this in? I find the "Remind me" feature in Slack very useful, such as being on a call, spotting a message come in that you need to come back on but can't while on a call, so clicking "Remind me in 20 minutes" is great - I can forget about it and in 20 minutes I get a PM telling me to go look again.

[2021-01-15 13:18] EBEPhil opened #17067 "Locked out the Owner"
Hey there,

i am very new with Zulip... so sorry if this is a really dumb question.

I created an organisation for which the owner can login with email and password. then i added the LDAP login method and some users joined the server. After that, i unpicked the authentification method "email" in the gui. now i can not login with the owner account anymore.

i tried to upgrade one of the admin users

[2021-01-15 13:25] jalajcodes commented on #17059
Any update about this? Am I supposed to wait until it is assigned to me?

[2021-01-15 14:14] tushar912 commented on #16579
Is anyone working on this. If not I would like to take it up.

[2021-01-16 10:30] dhruvgp180901 commented on #16920
@Vivekk07 I had worked on this issue and have also made PR for the same. I was waiting for @timabbott and @sahil839  for their thoughts and for their further guidance.

[2021-01-16 14:00] abhijeetbodas2001 commented on #8040
Recently, the exact feature set for muted user was discussed on `chat.zulip.org` [here](https://chat.zulip.org/#narrow/stream/2-general/topic/Mute.20user.20.2316915)
To summarize, on @showell `s [recommendation](https://chat.zulip.org/#narrow/stream/2-general/topic/Mute.20user.20.2316915/near/1099483), say if Alice mutes Bob... (highest priority first)

- When muting, any (pm/huddle/stream) unread

[2021-01-16 17:59] alexreg commented on #8040
@abhijeetbodas2001 Thanks, that all sorts very reasonable.

Regarding this future point:

It should probably be a preference setting.

[2021-01-16 20:32] jrus commented on #16013
I also can't use a literal `@` character. This makes URLs with an `@` in them impossible to output from a linkifier, which basically makes it impossible to linkify URLs of the form `https://observablehq.com/@jrus/sinebar`.

[2021-01-16 21:00] jrus commented on #13720
It would be super useful to have more explicit docs about what precisely is allowed; right now folks adding a new 'linkifier' are left with either trial and error or hunting down the code. It would also be helpful if error messages explained the specific problem instead of just `Failed: Invalid URL format string.`.

As a start, the docs could directly link to the relevant place in the code:
https:

[2021-01-16 21:04] jrus commented on #12323
While you are at it, can you make sure that output URLs can support every valid URL? Here is the spec: https://url.spec.whatwg.org

Whereas the current validator supports only: `[/a-zA-Z0-9#_?=&;~-]`, which does not match the above.

[2021-01-16 21:17] jrus commented on #16013
Here is the spec: https://url.spec.whatwg.org

Whereas the current validator supports only: `[/a-zA-Z0-9#_?=&;~-]*`, which does not match the above.
https://github.com/zulip/zulip/blob/master/zerver/models.py#L751-L769

* * *

Perhaps `[/a-zA-Z0-9#_?=&;~-]*` could be changed to ``[-!$&'()*+,./:;=?@_~\w"#<>`]*`` or the like.

[2021-01-17 02:43] jrus opened #17070 "Feature request: URL preview for URLs alone on a line; no preview for URLs in a sentence"
The current URL preview feature is potentially nice, but most Zulip servers I have seen have it turned off, because it gets a bit overwhelming to have every link turned into a preview, and there seems to be no way to set the previews to be optional.

As an alternative to always-on or always-off previews, Discourse forums have a nice implementation: if the URL is written alone on its own line, it g

[2021-01-17 03:20] VidithM commented on #17070
I'd like to work on this. Could you assign me the issue?

[2021-01-17 07:16] deto-5420 commented on #16971
I have gone through the discussions on  Zulip Community , i think i can fix this
@zulipbot claim.

[2021-01-17 07:39] abhijeetbodas2001 opened #17071 "Setting status text revokes "away""
Setting a status text while being "unavailable" revokes the away status.
https://chat.zulip.org/#narrow/stream/9-issues/topic/Setting.20status.20text.20revokes.20away/near/1100185

[2021-01-17 09:15] tushar912 opened #17073 "Confirmation dialog before deleting profile picture"
Currently there is no confirmation before the picture is deleted. It would be great if we had a confirmation dialog asking to confirm if we really want to delete the profile picture. This would prevent the picture from getting deleted accidentally.

[2021-01-17 09:18] amanagr commented on #17070
@VidithM wait for senior devs to reply in https://chat.zulip.org/#narrow/stream/2-general/topic/In-Line.20URL.20Preview before working on this issue.

[2021-01-17 09:25] jalajcodes commented on #17073
I'd like to work on it...

[2021-01-17 11:09] Vivekk07 commented on #16920
@dhruvgp180901 your pr was inactive after @sahil839 asked for changes (it would be better to keep it "below" the email field) and in your pr, you had kept it above, so I did it myself.

[2021-01-17 13:30] tushar912 commented on #17073
@jalajcodes I am working on it . Sorry I did not mention earlier.

[2021-01-17 15:14] showell commented on #17073
@jalajcodes Sorry about the miscommunication here.  You can help with code review on this, but I recommend finding another issue.

Thanks for volunteering!

[2021-01-18 09:07] jalajcodes commented on #17073
No problem. Yeah I will do that.

[2021-01-18 09:27] Ru28 commented on #16579
@tushar912  , I am working on this issue.

[2021-01-18 09:40] mrchntia commented on #17037
It seems like this issue is fixed by some previous commit, since it works fine to search for custum emojis in the development environement that is up-to-date. Though I couldn't find the commit that is responsible for this.
See [this thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Searching.20for.20custom.20emoji) for more information.

[2021-01-18 10:30] mrchntia commented on #9220
I am wondering if there are still things to do for this issue?
The first point should be solved by [this PR](https://github.com/zulip/zulip/pull/16909) which came out of [this discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/disable.20helpful.20popup).

[2021-01-18 10:40] aryanshridhar commented on #16021
@zulipbot claim

[2021-01-18 10:49] EBEPhil opened #17077 "Send Certification Request to Certification Server"
Hello everybody,

we are currently running a Zulip Server on Ubuntu Server 20.04 with an self-signed SSL Certificate.

For using the Desktop App we need to create a Certificate on our certification server for the zulip server.
But o don't know how to send a request from the zulip server to the certifications erver.

Can you help me?

[2021-01-18 11:22] aryanshridhar commented on #14931
@zulipbot claim

[2021-01-18 11:25] mrchntia commented on #11670
I just came across this issue since I recently worked on `get_next_hotspots`. I personly think it is nice and clear to get only one hotspot at the time and that they are shown in a fixed order.
But if it is still desired to change the activation of `intro_compose` and modify `get_next_hotspots` to return two hotspots I would like to work on this. (Since the open PR addressing this issue has confli

[2021-01-18 11:53] tushar912 commented on #13052
@timabbott  Can i work on it.

[2021-01-18 12:03] thedeveloperr commented on #13052
@tushar912 hi feel free to pick it up. I was intially responsible for this issue but due to some personal issues I can't devote time to it. Please feel free to ping me on chat.zulip.org for any questions. Happy to help 😃

[2021-01-18 12:07] tushar912 commented on #13052
@thedeveloperr Thanks . I will start work on it.

[2021-01-18 12:59] aryanshridhar commented on #14931
@YashRE42, There doesn't seems to be a file as <code>tab_bar.js</code> neither a function as <code>build_tab_bar</code>. Were it deprecated in the later commits since the issue was opened ?

[2021-01-18 13:16] garg3133 commented on #16038
@zulipbot claim

I think I have a better solution to this issue than that proposed in #16391.

[2021-01-18 13:58] YashRE42 commented on #14931
@aryanshridhar the main issue was resolved and I opened a PR for the follow ups.
`tab_bar` has been renamed to `message_view_header`.

[2021-01-18 15:11] hackerkid commented on #9220
@mrchntia I think I have created a PR in the past that took care of 2 and 3 as well. Can you verify if this is the case by testing in dev environment?

[2021-01-18 15:24] hackerkid commented on #9220
https://github.com/zulip/zulip/commit/ba640bf89d7f08ed29e894294e8a10c848dea18c is the commit for 2.

[2021-01-18 15:43] mrchntia commented on #9220
2 is solved, but 3 doesn't seem to be solved. I got the same day1 followup email when I signed up the same user in a second organization.
<img width="519" alt="grafik" src="https://user-images.githubusercontent.com/74138733/104935622-bf60bd80-59ab-11eb-8384-b6cde00b38f2.png">

[2021-01-18 15:48] mrchntia commented on #9220
Sould we ideally drop the following lines and leave the rest as it is?
`(you'll need these to sign in to the mobile and desktop apps)`
`Learn more about Zulip, become a pro with a few keyboard shortcuts, or dive right in!`

[2021-01-18 15:49] hackerkid commented on #9220
@mrchntia Yup. We can start with that and make more changes if required by Tim.

[2021-01-18 16:05] aryanshridhar commented on #14931
Oh Fine, Thanks @YashRE42 !

[2021-01-18 16:35] mrchntia commented on #9220
Great. I started working on it.

[2021-01-18 18:18] ligmitz commented on #16959
@aniketsonu Have you made some progress ? If not, may I take this up ?

[2021-01-18 18:27] aryanshridhar commented on #15810
@zulipbot claim

[2021-01-18 19:28] m-e-l-u-h-a-n commented on #16368
I had made a pr a few days ago which is waiting a review as of now.

[2021-01-18 20:11] dhruvgp180901 commented on #16920
@Vivekk07 Thanks for mentioning. I will ensure it now to keep it below the email field.

[2021-01-19 06:36] ritikchauhan-01 commented on #16958
hey , can  you tell me while I was solving this issue https://github.com/zulip/zulip/issues/16958  there is another issue linked in this where we have to add checkbox . so first I should wait for this to merge or create another pr for that issue because it inside the time-zone settings in display and I have to move it inside the your- account.

[2021-01-19 10:20] ritikchauhan-01 commented on #16957
@zulipbot claim

[2021-01-19 10:59] aniketsonu commented on #16959
@ligmitz hi yeah I am working on this issue. But if you want you can create a PR for this issue.

[2021-01-19 13:33] Signior-X commented on #13480
@zulipbot claim

[2021-01-19 13:36] jaichhabra commented on #13480
@zulipbot claim

[2021-01-19 13:39] Signior-X commented on #13480
@jaichhabra I am working on this one.

As per the suggestions by @timabbott in the last PR above, it is quite reasonable to add it in the stream menu.
So, making it as per that.

[2021-01-19 16:02] Riken-Shah commented on #16240
@zulipbot claim

[2021-01-19 22:55] showell commented on #17071
@abhijeetbodas2001 You might still want to look at this, as I believe the solution from @ligmitz might not get to the heart of the bug here.

[2021-01-20 08:10] jalajcodes commented on #16840
@zulipbot claim

[2021-01-20 14:03] Riken-Shah opened #17088 "puppeteer: Use value instead of textContent for the compose box."
Link to the [Discussion](https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/replacing.20textContent.20to.20value.20for.20textarea)

[2021-01-20 14:33] showell opened #17089 "events (advanced): Omit subscribers on subscription/add for certain clients."
This is an advanced bug that requires deep knowledge of our event system as well as the ability to coordinate with core project folks on API changes.

Fortunately, it's a mostly harmless bug.  (You can actually call it an unimplemented feature, to be fair.)

Right now we always send subscribers on the subscription/add event.  Arguably API clients that register with `include_subscribers=False` don'

[2021-01-20 14:36] showell commented on #17089
Another possible fix here is to only send subscribers on peer_add events, which is actually the direction I'd lean.  We would mostly need to coordinate API changes and carefully test the webapp.  There would be a small change to the webapp in `stream_events.js` to omit a `peer_data` call.

[2021-01-20 15:42] Signior-X commented on #10732
@rishig should I work on this?

[2021-01-20 16:45] #17088 closed

[2021-01-20 18:59] #17071 closed

[2021-01-20 20:22] gnprice commented on #9081
We've had [another user request for this](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Preview.20support.20for.20media.20files/near/1102861), particularly for PDFs.

Previously on the same thread there was some discussion of implementation strategy. We'll want to generate small thumbnail images on the server, so that the client doesn't have to download the entire PDF in order to show a p

[2021-01-21 06:29] nikhilmaske-2001 opened #17095 "Non-linear Draft button."
Issue: The `Drafts` button present in compose message section is non-linear with other buttons.

Screenshot:
![Non-linear draft button](https://user-images.githubusercontent.com/59444243/105296642-eacbee00-5bdf-11eb-93d2-38f7e95358df.png)

[2021-01-21 06:31] smitpatel24 commented on #17095
I would like to work on this issue. @zulipbot claim

[2021-01-21 08:28] Signior-X commented on #16488
I check the opened PR. I don't think the approach used of creating a new class is a good idea to do this task of fixing the overlap and also the PR is inactive for a long time.
I am working on a subpart of this issue - Fixing the overlap.

[2021-01-21 10:57] sfaudry commented on #16840
Hello @Arnavgoyal00 are you still working on it?
I ask that because i don't see the "in progress" tag.

[2021-01-21 11:04] sfaudry commented on #16840
In case, @zulipbot claim

[2021-01-21 11:58] Arnavgoyal00 commented on #16840
hello @sfaudry ,i dont think that i have been assigned this issue.
Or else it would have shown assigned to arnavgoyal.

[2021-01-21 12:07] jalajcodes commented on #16840
@Arnavgoyal00 the PR that is linked here fixes this issue, right?

[2021-01-21 12:14] Arnavgoyal00 commented on #16840
@jalajcodes I am not sure man. I had claimed the issue a long time back. it still hasnt been assigned.
Maybe @aryanshridhar can fix it.

[2021-01-21 12:52] aryanshridhar commented on #16840
Yup, There already exists a <a href = 'https://github.com/zulip/zulip/pull/16841'>#16841(pr)</a> for it which hasn't been reviewed yet.

[2021-01-21 22:47] timabbott commented on #9220
Closing this as resolved, see the comment on #17081 for details.

[2021-01-21 22:47] #9220 closed

[2021-01-21 23:51] #16921 closed

[2021-01-22 00:35] timabbott commented on #17070
Yeah, this is a reasonable idea.  I think I'm on board with adding this as a setting.  We might want the existing setting from a boolean to an enum as part of this process ("Previews disabled; previews enabled for messages containing only a link; previews enabled for all links").

@sahil839 may be a good source of advice, since I think he's done a few similar migrations.

[2021-01-22 01:17] jrus commented on #17070
I didn't mean messages only containing a link. I meant a link by itself in a paragraph.

So a message might have 5 links in separate paragraphs, or might have a few paragraphs of text, with a link in a separate paragraph halfway through, and still get rendered as a preview

[2021-01-22 03:03] sfaudry commented on #16840
I understand now, if the problem is solved, that's the most important point.

[2021-01-22 13:31] showell opened #17100 "feature request: Streamline process for admins to deactivate spammers"
More detail here: https://chat.zulip.org/#narrow/stream/137-feedback/topic/moderation.20features/near/1104218

As Greg says, this feature would apply only to admins, and the UI would probably be a button on the user's profile popup.

What happens next is worth discussing on our `#frontend` stream.  It might be fine to just directly navigate them to user settings for that user.

Or it may actually

[2021-01-22 14:17] KShivendu commented on #2083
@zulipbot claim

[2021-01-22 14:28] showell opened #17101 "database: Add denormalized Stream.subscriber_count field."
This is a good issue for somebody with good knowledge of postgres triggers, Django ORM migrations, and the Zulip subscriber model.

Right now the only way to count the subscribers for a particular Zulip stream is to query the Subscription model.  Not only is this query somewhat expensive at times (especially if you're trying to do it with multiple streams), it's a bit error-prone if you don't know

[2021-01-22 14:49] ganpa3 commented on #17100
@zulipbot claim

[2021-01-22 15:21] VidithM commented on #17070
@zulipbot claim

[2021-01-22 16:52] aryanshridhar commented on #17100
@zulipbot claim

[2021-01-22 17:06] ganpa3 commented on #17100
@aryanshridhar Umm, I had already claimed this issue.

[2021-01-22 17:43] gvdhorst opened #17102 "Can't change user role to "admin", "member" or "guest" in 3.3"
On Zulip 3.2 using the old `manage.py knight`command it was possible to assign the "administer" role to bots or regular users.
On Zulip 3.3 using `manage.py change_user_role -r [REALM] [USER_EMAIL] [ROLE]` it should be possible to set a bot or user's role to one of:
- owner
- admin
- member
- guest
- api_super_user

Choosing "owner" or "api_super_user" seems to work.
But choosing "admin", "member"

[2021-01-22 18:09] aryanshridhar commented on #17100
Oh @ganpa3, Aren't you already working on another issue which was mentioned by zulipbot. Anyway, Would you like me to remove my assignment ?

[2021-01-22 19:34] showell commented on #17101
@mateuszmandera and I talked over PMs, and we think we probably want to do this mostly with `post_save` triggers, rather than doing a native database trigger.  I'll let him elaborate.  We also fear any increment/decrement approaches would be vulnerable to races, so we would probably just have our `post_save` do the O(N) computation ever time somebody subscribes/unsubscribes.

[2021-01-22 19:45] timabbott commented on #17101
Can you share the reasoning?  I believe `post_save` triggers have the risk that they'll be executed in a different transaction -- perhaps you mean `pre_save` triggers?  A native database trigger to increment/decrement I believe would also be safe from that sort of issue.

[2021-01-22 19:57] timabbott commented on #17102
@mateuszmandera can you investigate?  This seems likely a backporting problem.

[2021-01-22 21:16] showell commented on #17101
I think @mateuszmandera and I are mostly worried about native database triggers from a maintenance standpoint.  We're not sure that people will know to look for that code, and it may require more expertise to change the triggers than if we just did stuff in Django.

An important thing we would have to figure out if we went the native-database route is this: how do we invalidate the Stream cache wh

[2021-01-22 21:17] showell commented on #17101
And then the update function is basically:

[code]

[2021-01-23 00:07] timabbott commented on #17101
I think we can solve the maintenance problem by just documenting the triggers in comments by the field definition in `models.py`.

I think if we're going to do something not using a database trigger, we should consider using a cache rather than the database; cache seems like the right abstraction for "computed value that might be a bit stale".

[2021-01-23 00:48] mateuszmandera commented on #17101
The concern we had regarding caching approach was that we send subscriber counts for a lot of streams on page load - so that would be a lot of cache queries.

On the triggers vs post_save question - if we're doing re-count queries for updating `subscriber_count` (as opposed to increment queries), then that makes races not too big of a deal - the subscriber count can only be off for a short moment

[2021-01-23 02:00] #16846 closed

[2021-01-23 02:10] sumanthvrao opened #17109 "Include both link and text for `topic_links` returned in our API."
Our linkifier code today, returns back the expanded URL without including the shortened text (which is handled client-side by the webapp). Other clients like ZT and mobile could benefit from having the text as a part of `topics_links` list since they can avoid doing any client-side extraction of the links.

Additionally, the order of text here could be preserved having the response be of the form:

[2021-01-23 02:16] sumanthvrao commented on #17109
@zulipbot claim

[2021-01-23 03:16] ganpa3 commented on #17100
@aryanshridhar I was working, but I have submitted a PR which is to be reviewed. I can't remove assignments.

[2021-01-23 05:51] m-e-l-u-h-a-n opened #17111 "Clarify redability issues over access_user_by_id"
zerver/lib/users.py has a function named access_user_by_id, which was
used in /users views to fetch a user by it's id. Along with fetching
the user this function also does important validations regarding
checking of required permissions for fetching the target user.

Although current name works fine but it's name gives no hints to
anyone reading the code about the validations part. This can lead t

[2021-01-24 08:26] seiwailai commented on #16920
@zulipbot claim

[2021-01-24 11:59] amanagr commented on #17100
@ganpa3 assinged you.

[2021-01-24 13:32] seiwailai commented on #3938
@zulipbot claim

[2021-01-24 16:44] ganpa3 commented on #17102
Duplicate of https://github.com/zulip/zulip/issues/17067

[2021-01-25 03:19] kedlaya opened #17117 "Some discrepancies when mentioning a time"
According to the documentation, mentioning a time can be done in various formats. However, some of them seem to be translated incorrectly. For example,
[code]
gets rendered (with PST=UTC-8 as my local time) as
[code]
with the correct time but the date off by one. Changing this to
[code]
yields an even more mysterious answer:
[code]

[2021-01-25 07:19] AtharvaParkale commented on #17030
I would like to work on this issue !!!

[2021-01-25 08:21] ro-i opened #17118 "(partially) automatic SAML configuration"
According to [this discussion](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Automatic.20SAML.20configuration), I am opening an issue here.

Currently, the SAML configuration is done statically in `/etc/zulip/settings.py` (`SOCIAL_AUTH_SAML_ENABLED_IDPS`). This can become inconvenient if the IdP changes something in its configuration. Right now I am talking about certificate chang

[2021-01-25 09:47] m-e-l-u-h-a-n commented on #16779
@timabbott the pr #17005 was completed a few days ago, can you please review it.

[2021-01-25 22:24] #16970 closed

[2021-01-25 22:51] timabbott commented on #17117
@aero31aero do you have a chance to investigate?

[2021-01-25 23:18] My-Name-Is-Nabil commented on #17117
Can I claim this as my first issue ?

[2021-01-26 07:33] seiwailai commented on #3938
@zulipbot abandon

[2021-01-26 09:31] jalajcodes commented on #17117
@timabbott I'd like to work on it...

[2021-01-26 11:14] sfaudry commented on #3917
@zulipbot claim I would like to try it to see what I can do.

[2021-01-26 13:03] IgnisDa opened #17125 "Incorrect message when EXTERNAL_HOST environment variable is set"
As mentioned in #17098, the message `Starting Zulip on:  http://172.22.220.42:9991:9991/` is incorrect when the environment variable `EXTERNAL_HOST` is set using `export EXTERNAL_HOST="$(hostname -I | xargs):9991"` which is required in the case of `Vagrant Hyper-V` provider.

Here is a screenshot for the same:
![9](https://user-images.githubusercontent.com/60938164/105848363-df742a80-6004-11eb-858

[2021-01-26 13:03] IgnisDa commented on #17125
@zulipbot claim

[2021-01-26 15:58] m-e-l-u-h-a-n commented on #16971
@deto-5420 are you working on this issue.

[2021-01-26 16:04] ganpa3 commented on #17125
Duplicate of https://github.com/zulip/zulip/issues/17054

[2021-01-26 16:07] ganpa3 commented on #17125
@IgnisDa There's already a PR that solves this issue.
https://github.com/zulip/zulip/issues/17054

[2021-01-26 16:14] #17125 closed

[2021-01-26 18:20] #16030 closed

[2021-01-26 20:21] Esgrima commented on #17022
@adrianvintu Would this require writing a Flutter package?
https://flutter.dev/docs/development/packages-and-plugins/developing-packages

[2021-01-26 21:01] adrianvintu commented on #17022
@Esgrima ultimately, yes. A package is a library, for quick plug and play.

But until then(lib), maybe you can set up an example without using package. I am assuming Zulip is using some kind of sockets, so those are probably available easily in Flutter/dart.

https://flutter.dev/docs/cookbook/networking/web-sockets
https://pub.dev/packages?q=sockets
and FCM
https://pub.dev/packages?q=fcm

I now th

[2021-01-26 21:10] amartin3225 commented on #14800
This makes sense, however I think it would be very valuable to allow administrators to view the statistics for all streams (e.g. so an administrator can identify a really large stream).

[2021-01-26 21:31] oussjarrousse commented on #6096
rocket.chat supports e2ee

[2021-01-26 21:43] timabbott commented on #6096
Does anyone know how matrix.org and rocket.chat e2ee actually work?  Does it actually provide end-to-end security, where an attacker who controls the rocket.chat server can't just modify the webapp's code hosted by that server to export all messages history client-side?

AFAIK it's not possible to create end-to-end security for any chat service that has a webapp whose source code is served by  ser

[2021-01-27 04:28] m-e-l-u-h-a-n commented on #17030
@AtharvaParkale have you started working on this issue? Can I take this if you are not working on it.

[2021-01-27 06:11] AtharvaParkale commented on #17030
Working on it !!!

[2021-01-27 06:38] aryanshridhar commented on #16356
@zulipbot claim

Will make a PR and have a better discussions there.

[2021-01-27 10:01] m-e-l-u-h-a-n commented on #16542
I am working on this issue. @zulipbot claim

[2021-01-27 10:38] m-e-l-u-h-a-n commented on #16542
@andersk It appears to be fixed. Here are my observations from dev server:
![image](https://user-images.githubusercontent.com/63504956/105978927-160b7d00-60b9-11eb-9c12-9b6bea9ff814.png)

**Source for the above message**
![image](https://user-images.githubusercontent.com/63504956/105979034-39362c80-60b9-11eb-9a95-00006360bb2d.png)

Is this same as what is expected for tmentioning in these cases

[2021-01-27 13:35] showell commented on #17101
I'm pretty anti-cache for this.  Caches are good for single values, but we typically get subscriber counts in bulk, during page load, and different users have different sets of streams, so it's not a precise fit to have a big blob of subscriber counts that we cache (not to mention that that would churn somewhat frequently).

I think the database is the right abstraction for this.  And I would stil

[2021-01-27 14:05] showell commented on #17117
@jalajcodes Let us know if you can reproduce these problems by commenting on the issue.  And then if it's an easy fix, obviously a PR would be great.  @My-Name-Is-Nabil you can also help with the investigation here.

[2021-01-27 14:25] EmilyRosina opened #17137 "buddy list: Show users statuses more like Slack"
### Why?

One of the main things I miss from Slack, since our company moved to use Zulip, is the status.

I opened this issue as I couldn't see another issue like it.
I hope, with enough backing - it is something that we can add :pray:

### Main problems

#### visbility
For me, and others in my team, it's SO much harder to see:
- if someone is available
- if they're not available, why?
- a quickly

[2021-01-27 14:44] EmilyRosina commented on #15682
Following on from the same vein as @s-cork
I opened an [issue](https://github.com/zulip/zulip/issues/17137) covering the same, and a bit more, features slack offers regarding statuses :bowing_woman:

It's a highly frustrating thing tbh..

[2021-01-27 14:56] andreasoc commented on #17137
we hope it will be taken into consideration as this function is very important

[2021-01-27 15:10] showell commented on #17117
In what appears to be a separate bug (but impacting the same overall feature), the flatpickr widget is no longer showing for me.

[2021-01-27 15:15] jalajcodes commented on #17117
@showell Strange, the widget is not showing for me too on `chat.zulip.org` but it showing up when I checked on another org's zulip

[2021-01-27 15:20] showell commented on #17117
@jalajcodes That's good news in a way.  Usually czo (`chat.zulip.org`) is on a newer version than all of our cloud customers.  So I suspect something broke very recently on the `master` branch with the flatpickr widget.

[2021-01-27 15:31] showell commented on #17117
@kedlaya Did you observe the bug on `chat.zulip.org`, or on Zulip cloud, or do you possibly self-host?  I am trying to figure out whether this is a regression from newer code, or maybe it was a latent bug that started showing up in 2021.  Any additional clues you can provide would be helpful.  Thanks for reporting this!

[2021-01-27 15:35] kedlaya commented on #17117
This came up in an organization hosted at zulipchat.com; I seem to be able to reproduce it in other organizations hosted there. I just tried it on chat.zulip.org and I can reproduce it there also.

[2021-01-27 16:39] showell commented on #17137
We have at least ten folks asking for more development in this area of the app, so this could be a great project for somebody.  We would need to spend some time figuring out the exact requirements.  There may be some small things we can do right away to make people happy, but we'll also want to think about this a bit holistically.

There has been a tiny bit of pushback in certain chat discussions

[2021-01-27 17:00] EmilyRosina commented on #17137
Just to be clear btw, I am speaking also about in streams, inline with the username :pray:
So something like this (defaulting to the coloured status blob: green/orange/grey, if emoji is absent)?
[code]

Again, as Slack has it - right there in the streams and various context menus (_even if just the emoji, with text showing on hover_).
So if I need the attention of certain people, I can **instantly

[2021-01-27 17:02] andreasoc commented on #17137
mega

[2021-01-27 17:05] EmilyRosina commented on #17137
I think it's the fair way to go yep - so not to force it on everyone :+1:
Make it something that people can opt into :+1:

I am also thinking about whether this setting should be on the global org or user level though.. :thinking:
I would think it would be something that a whole company/organization would want/not want, so I vote org level :smile_cat:

Thank you for everyone's response to this btw

[2021-01-27 17:07] showell opened #17138 "feature request: Add green/orange presence circles to PM/mention autocompletes"
I believe this would address at least part of the use case for the broader issued described in #17137.

It's probably a pretty simple change, as we already have tackled this in the "Private Messages" section--you can ask `buddy_data` and similar code pretty easily to get what you need to render the green/orange circles.

[2021-01-27 17:21] showell commented on #17138
You can basically call `buddy_data.get_user_circle_class(...)` and then change `typeahead_list_item.hbs` to include `<span class="{{user_circle_class}} user_circle"></span>`.

[2021-01-27 18:04] timabbott commented on #17117
I did just merged @amanagr's 8729965548823c871035cc4eab8a294ea37aa40d, which is likely unrelated (it's used for recent topics, and I'm not sure if it's relevant here), but thought I'd mention it just in case it is.

[2021-01-27 18:28] timabbott commented on #17101
I don't understand that concern -- we can easily do bulk cache queries with `generic_bulk_cached_fetched`.

It is relevant that we fetch all the other subscribers to a stream when editing its subscriptions to send `peer_add` events anyway, which would mean `bulk_add|remove_subscriptions` could update these fields with just the cheap database query to do a write to the `Stream` object; but we could

[2021-01-27 18:38] m-e-l-u-h-a-n commented on #17138
@zulipbot claim

[2021-01-27 19:35] #17102 closed

[2021-01-27 19:35] #17067 closed

[2021-01-27 19:36] timabbott commented on #17067
Fixed in the `3.x` branch; you can get the fix now with https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository or wait until the next 3.x release.

[2021-01-27 19:36] timabbott commented on #17102
Fixed in the `3.x` branch; you can get the fix now with https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository or wait until the next 3.x release.

Thanks for the report!

[2021-01-27 19:37] #17054 closed

[2021-01-27 20:54] ElliotSilver opened #17141 "Jira integration should support variable content"
The current Jira implementation shows user, title, priority and assignee when an issue is created. Our workflow typically doesn't give a priority or assignee until later. However, the subproject, product version, and potentially other fields may be valuable to list. Therefore, for our workflow, half of the information in the message is useless, and other useful information is missing.

There shoul

[2021-01-27 23:13] andersk commented on #17101
(Serializing my thoughts [from #backend](https://chat.zulip.org/#narrow/stream/3-backend/topic/Add.20denormalized.20Stream.2Esubscriber_count.20field.2E/near/1108665).)

We should be able to make subscription count queries plenty fast enough without denormalization, using a database index. If I add this index:

[code]

and the corresponding Django-generated migration, then the single SQL query gen

[2021-01-28 04:47] IgnisDa opened #17144 "Grammar mistake in the translating docs"
The word `Zulip's` should be `Zulip` here https://github.com/zulip/zulip/blob/master/docs/translating/translating.md#L2. I would like to make a PR for this.

[2021-01-28 04:48] IgnisDa commented on #17144
@zulipbot claim

[2021-01-28 04:48] tushar912 commented on #16943
@Bhanu-mbvg are you working on it.  If not can I take it up.

[2021-01-28 06:54] gnprice commented on #15672
For cross-referencing: this smells potentially related to #13745.

[2021-01-28 07:35] baderdean commented on #356
Beyond Federation capability, is it simply considered to implement Zulip as a Matrix client?

[2021-01-28 07:51] AtharvaParkale commented on #17144
@zulipbot claim

[2021-01-28 08:02] andreasoc opened #17145 "Windows size is lost on reboot"
After the latest updates it seems to me, the Window size of Zulip, at reboot, is lost and therefore every time you have to reset to full screen, and if you had it on the second monitor, put it back on the second monitor.
thanks

[2021-01-28 09:13] eduherraiz opened #17147 "Problem inviting users"
We can't invite new users on Zulip.

Domain and admin restricted configuration.

The URL https://ourdomain/#invite don't show anything in any page (menu, or admin page)
On the developer console we can see this errors:

[code]
Upgraded to 3.3 version and the problem still ocurrs.

[2021-01-28 11:47] jalajcodes commented on #17117
@showell I can see the widget on czo now

[2021-01-28 14:00] rutvi18 commented on #16840
@zulipbot claim

[2021-01-28 14:59] rutvi18 commented on #17147
@eduherraiz how you are getting this link? I have tried inviting the users on zulip, it is sending the mail for invitation.

[2021-01-28 15:07] eduherraiz commented on #17147
We have a custom installation on Ubuntu 20.04.
On our Zulip when we click on the "+Invite User" button we are redirected to https://ourdomain/#invite and we can't see any form.

![Screenshot_20210128_160612](https://user-images.githubusercontent.com/717200/106157339-e759d900-6182-11eb-910e-62ea83b218b8.png)

[2021-01-28 19:18] showell commented on #16943
@tushar912 I assigned it to you for now.  If @Bhanu-mbvg responds, you two can coordinate as needed.

[2021-01-28 21:41] neiljp commented on #17012
From the reaction to my comment above and also https://chat.zulip.org/#narrow/stream/49-development-help/topic/welcome-bot it seems that this worked for @gd2003gamingchamp

Perhaps the issue title could be updated to reflect the request to edit it using the UI rather than the code; I don't have permission.

[2021-01-29 05:16] dineshssdn-867 commented on #16828
@zulipbot there are already 2 pull request posted by me. Due to some or other reason my ci tests are failing so I request you to please guide me as I am very much interested in solving the issue. Thank you

[2021-01-29 07:07] GenRok1729 commented on #16492
Is anyone still working on this

[2021-01-29 07:11] GenRok1729 commented on #16821
@zulipbot claim

[2021-01-29 07:16] GenRok1729 commented on #17009
@zulipbot claim

[2021-01-29 07:54] SushanthReddyManda commented on #16492
@GenRok1729 yes i am working on this

[2021-01-29 08:25] ganpa3 commented on #17009
@GenRok1729 There is already a PR https://github.com/zulip/zulip/pull/17066 that solves this issue. I suggest you look for other issues. If you are new here, look for issues with the "good first issue" label.

[2021-01-29 11:00] mrchntia commented on #6745
@hackerkid, @timabbott is this still a desired change? If yes, I would like to work on this.

To clarify: If a user is invited to join an organization via a singel user invite they should also be able to choose the email for sign up like it is the case for multi user invite. Is that correct?

[2021-01-29 12:03] mrchntia commented on #4777
I would like to work on this new feature. I'll take some time to think about the approach and will share my thoughts in the chat.

[2021-01-29 12:04] mrchntia commented on #4777
@zulipbot claim

[2021-01-29 17:19] showell opened #17156 "widgets: Prevent edits to /poll and /todo messages."
See #14229 for a more ambitious plan here, but in the short term, we want to prevent users from editing messages that are widgetized, such as "/poll" and "/todo" messages.  You can detect widgets by the presence of `submessage` rows attached to the `message`, although there may be something more explicit.

We want to either just remove all the UI ways to perform an edit, or better, have a little p

[2021-01-29 17:20] ganpa3 commented on #17156
@zulipbot claim

[2021-01-29 17:21] andersk commented on #17156
Topic editing should still be allowed as normal. These messages should behave like messages sent by someone else, where you’re allowed to View source / Edit topic.

[2021-01-29 17:24] showell commented on #17156
Ah, good point on topic edits.  So I think the only difference from the "View Source" experience should be that we change the messaging when you hover over the `?` icon next to "Topic editing only".

[2021-01-29 17:30] andersk commented on #14229
If we ever implement editing poll messages, we should be careful to ensure that existing votes from other users don’t get deleted or their meaning altered by edits, and that extra options that were added from the widget side don’t get deleted.

This is probably more complexity than it’s worth, and disabling edits seems like a fine solution (#17156).

[2021-01-29 17:44] ritikchauhan-01 commented on #16579
@Ru28  are you still working on it.

[2021-01-29 19:12] Riken-Shah commented on #16240
I am still working on this @zulipbot.

[2021-01-29 20:19] showell opened #17158 "Move/copy cross-realm bots into individual realms"
This is an advanced issue.  See https://chat.zulip.org/#narrow/stream/3-backend/topic/cross.20realm.20bots for details.

We want to make it so that cross-realm bots are no longer cross-realm.  Instead, each realm would have its own copy of a welcome bot, notification bot, and email gateway bot.

This would require a pretty complex data backfill:
* create bots in each realm
* create recipients in e

[2021-01-30 10:00] m-e-l-u-h-a-n commented on #16971
@zulipbot claim

[2021-01-30 12:32] aryanshridhar commented on #16971
Looks like there is some misconversation @m-e-l-u-h-a-n .I am working on it which I mentioned in Czo. Thanks in advance.

[2021-01-30 12:35] m-e-l-u-h-a-n commented on #16971
Actually I just looked into the thread mentioned by sahil above but couldn't find your message there, sorry if you have started over it(please confirm) I will unclaim it.

[2021-01-30 17:24] its-harsh commented on #17158
@zulipbot claim

[2021-01-30 19:38] adsharma commented on #15993
Fonts for the menu and non-code text on Ubuntu can be improved as well.
"Source Sans Pro" doesn't look great on the platform.

[2021-01-30 19:49] adsharma commented on #15993
Would love to add "Ubuntu" family and increase the size to be a bit more than 14px in zulip.ccs. Should these be settings in the desktop app?

[2021-01-30 20:10] MSurfer20 commented on #14578
@zulipbot claim

[2021-01-31 12:09] showell opened #17164 "proposal: Move pinned streams to top left corner (and make them sticky)"
Pinned streams don't stay fixed in the stream list, so if you have more than a page-full of streams, they can stop being visible.

We should consider either truly fixing them at the top of the stream list, or just putting them right below "Starred messages" and "Recent topics" and considering them to be part of the top left corner.

We should also decide whether we actually want to remove a pinned

[2021-01-31 12:24] nikhilmaske-2001 commented on #17164
I would like to work on this issue. @zulipbot claim

[2021-01-31 12:25] showell commented on #17158
@its-harsh Thanks for volunteering to work on this.  I have had conversations with @mateuszmandera, and he is going to work on it.  Do you mind finding another issue?  Sorry about the miscommunication.

[2021-01-31 12:34] nikhilmaske-2001 commented on #17164
@showell Lets take the condition after this issue is resolved : What if the user has a lots of pinned streams? then there will be very less space/no space for scrolling other streams.
So should we limit the number of pinned streams or hiding the pinned stream under more topics after certain number of the pinned streams?

[2021-01-31 13:06] showell commented on #4777
See also #7517.

I am closing this issue for now.  I believe that custom hotkeys aren't gonna be worth the software maintenance costs, plus it complicates support if users have different hotkeys.

[2021-01-31 13:06] #4777 closed

[2021-01-31 14:14] showell commented on #17164
@nikhilmaske-2001 Yeah, that's definitely a concern, but I think we can manage it.  I suspect most users only pin a few streams.

[2021-01-31 17:52] Alexander3312 commented on #16821
@zulipbot still working

[2021-01-31 19:45] hackerkid commented on #6745
Yes. The user who is invited should be able to choose the email as well as have the ability to sign in with a SSO like Google. I would also recommend searching for relevant conversations in chat.zulip.org for more context.

https://chat.zulip.org/#narrow/stream/49-development-help/topic/User.20Invite is one of them.

https://github.com/zulip/zulip/issues/6326 is another related issue.

[2021-01-31 19:50] pbouffard commented on #6027
#14555 just leaving this here for easy x-ref

[2021-02-01 03:26] IgnisDa commented on #16994
@gnprice Could you please review (and possibly merge) #17098?

[2021-02-01 04:59] nikoma commented on #15017
Did someone do it? I am looking into Keycloack as auth provider, that would be great.

[2021-02-01 05:32] dineshssdn-867 commented on #16828
@m-e-l-u-h-a-n please help me to resolve ci errors.I am not able to get a clue where my tests are failing.As, it will be helpful for me as well as for this issue.Thank you and sorry for the inconvenience caused.

[2021-02-01 09:18] nikhilmaske-2001 commented on #16965
@timabbott Please review the PR related to this issue.

[2021-02-01 11:01] m-e-l-u-h-a-n commented on #16828
Sorry for too much delay @dineshssdn-867 I was busy with so many vivas/assignments from college. I reviewed your pr, and also answered for why CI is failing in this [comment](https://github.com/zulip/zulip/pull/17053#issuecomment-770769355).

[2021-02-01 11:11] sfaudry commented on #3917
@zulipbot  claim, I'm still working on it

[2021-02-01 11:57] abhi0504 opened #17168 "Reaction list not readable sometimes"
### Issue
When we hover the mouse on reaction on a message that who has reacted then a black modal comes out on which its written that who has reacted to that message and at the end of it its reaction is also there but its overlapping on the next message and in my opinion its `background opacity` is slightly low or anything else also I am attaching a gif you can also reffer that.

![ezgif com-gif-

[2021-02-01 12:10] sfaudry commented on #3917
I don't know if anyone will see this message but why limit it to just one URL?
A welcome message personalised by the administrator (with a possible URL in it) wouldn't be better?
The administrator could personalise the message much more, by adding some extra information.

[2021-02-01 13:35] nikhilmaske-2001 commented on #17168
Instead of only increasing the opacity (that will also hide the next message).
How is the idea of leaving one/two lines(space) after the message, if the message contains any reaction?
Visually it will look like these:
![leaveline](https://user-images.githubusercontent.com/59444243/106465678-4f305c80-64c0-11eb-86aa-d03bf6b360bb.gif)

[2021-02-01 14:18] abhi0504 commented on #17168
yeah this also looks good

[2021-02-01 16:00] rutvi18 opened #17169 "The side-bar name overlapping with setting"
When we are opening the settings in zulip, the names of the online users is overlapping with the setting menu.

**SCREENSHOT**
![Screenshot (93)](https://user-images.githubusercontent.com/43277445/106483570-ae986780-64d4-11eb-986c-641fa4e9ce57.png)

[2021-02-01 16:00] rutvi18 commented on #17169
@zulipbot claim

[2021-02-01 16:04] rutvi18 commented on #16554
@zulipbot claim

[2021-02-01 16:05] rutvi18 commented on #17169
@zulipbot claim

[2021-02-01 16:32] ritikchauhan-01 commented on #16377
@zulipbot claim

[2021-02-01 16:37] ritikchauhan-01 commented on #16957
@zulipbot abandon

[2021-02-01 16:38] ritikchauhan-01 commented on #16377
@zulipbot claim

[2021-02-01 17:16] aryanshridhar commented on #14860
@zulipbot claim

[2021-02-01 17:58] jalajcodes commented on #16957
@zulipbot claim

[2021-02-01 18:00] timabbott commented on #16946
I think that users who can't see private streams also won't be able to change the value, so it would likely be appropriate to display the feature as "Unknown stream".

[2021-02-01 18:03] timabbott commented on #16828
I'm still missing a clear explanation for why we need this feature, given #16165, which already verifies that we don't log anything?

Or is the issue specifically around cases where we're E.g. checking that nothing was logged at the DEBUG loglevel?

[2021-02-01 21:06] joshuadgilley opened #17172 "Alert Words list only takes up half of the space provided on the page"
The alert words section only takes up the left side of the space provided when adding up alert words. After having a discussion in the Zulip community server under #frontend (2:18 pm, Feb 1st), it seems that the style may have been lost through some deleted CSS. It seems that instead of it flowing down one side like it is currently is, it should resemble something more like a table. I'd be happy t

[2021-02-01 21:30] joshuadgilley commented on #17172
@zulipbot claim

[2021-02-01 22:54] joshuadgilley commented on #17172
Have solved this issue using a combination of tables (like the users list) and the styling above. Just looks a little nicer. Let me know if this can be made into a good first issue! Thanks!

![Screen Shot 2021-02-01 at 5 52 41 PM](https://user-images.githubusercontent.com/38388793/106528165-4dfa3200-64b6-11eb-85bb-faf7f8cbc863.png)

[2021-02-02 09:53] johangant opened #17173 "Configuration option to make posts editable posts by owners"
I'm working with a local charity organisation who enjoy Zulip but are finding it frustrating to build up some initial content for member onboarding/introductions and such like. They have several members of staff who are finding they cannot edit each others posts to refine and adjust content in the member streams, so are working around this with a single generic user account.

In most projects, thi

[2021-02-02 10:32] panomitrius commented on #17012
It worked for me too, I edited `onboarding.py`, `actions.py` doesn't need any modification. It's inconvenient though since the modficiation will dissapear (and will have to be manually updated again) once a new Zulip update comes, even more so when running Zulip as a Docker container. Thanks for your help @neiljp

[2021-02-02 14:43] amanagr commented on #17173
@johangant I don't see us allowing a user (even if it is owner) to edit other user's messages. We may implement a feature to allow other users to suggest edits directly in the posted message. I think we may see more request for this after web public view is out.

For now, I would suggest you copy the source of the message, edit the message and PM the sender.

[2021-02-02 15:32] tushar912 opened #17175 "filter: Check if search operand is valid"
Currently searching with an invalid search operand may lead to a 400 response. It would be better to check if the operand is valid beforehand. More details https://chat.zulip.org/#narrow/stream/9-issues/topic/Searching.20with.20invalid.20operand/near/1112149

[2021-02-02 15:34] tushar912 commented on #17175
@zulipbot claim

[2021-02-02 16:07] showell commented on #17173
https://github.com/zulip/zulip/issues/15851 is relevant here.  I hope we eventually implement that feature.  We want to avoid any edits, even by owners, unless there's explicit consent from the user and proper attribution of who did the edit.  But I do see the use cases both in this issue and other similar issues.

[2021-02-02 16:09] showell commented on #15851
I am in favor of this feature.  It's probably a considerable amount of work to implement, since we need to be super careful about security concerns and properly attributing edits.  We might not need a full wiki implementation here, but we'll need some kind of mechanism to make sure that nearly-simultaneous edits don't overwrite each other, even if we just tell users their edits weren't "made in ti

[2021-02-02 16:56] showell commented on #17168
We don't want the extra lines here, since we try to show a good number of messages in the view.

I think we should just fix the opacity here.  There's no need to be able to see through the modals when you hover.

[2021-02-02 18:44] ahmedabuamra commented on #16943
@zulipbot claim

[2021-02-02 19:34] aryanshridhar commented on #14860
Hey @amanagr,I am still unsure about the suggested UI and have a couple of queries regarding the same.
<ul>
<li>Should the <code>Move-topic</code> modal be completely changed (even removing the dropdown) and restructure its UI according to the <code>#organization/default-streams-list</code> modal.</li>
<li>To just add a filer search input box (maybe, above the dropdown menu) to select the desired

[2021-02-02 19:34] jannekemorin commented on #6358
@zulipbot claim

[2021-02-02 20:01] simpsonme1 commented on #15463
@zulipbot claim

[2021-02-02 21:26] guillaumemillot commented on #10563
+1

[2021-02-02 21:53] gnprice opened #17181 "List of terms gets treated as OR, should be AND"
If you search for a query like [combined search](https://chat.zulip.org/#narrow/search/combined.20search) on chat.zulip.org, you get just the messages that have *both* a version of the term "combined" *and* a version of the term "search".

That's often extremely useful. Another natural possible behavior would be to get all the messages that have either one term or the other; that can also be usefu

[2021-02-02 22:05] gnprice opened #17182 "Add the server's version somewhere visible in the UI"
This would be quite helpful when investigating some bug reports on self-hosted servers.

See for example [this interaction](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Several.20improvement.20suggestions.2E.2E.2E/near/1112400), where it would have been much simpler and easier for everyone to just say "go to such-and-such page on the server, and tell us what it says after "Zulip version"

[2021-02-02 22:11] gnprice opened #17183 "Can't search history of shared-history private streams"
A user [reports](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Several.20improvement.20suggestions.2E.2E.2E/near/1112444):

This is referring to the bit of UI you get when a search returns nothing, or if you scroll to the top of search results:

As I said in the chat thread: the search already includes messages in private streams, when they're messages you actually received (i.e., they we

[2021-02-02 22:14] gnprice commented on #17183
See also our [help text about searching history](https://chat.zulip.org/help/search-for-messages#searching-shared-history), and #12036 which discussed some more-explicit text we could use for that "End of results" message.

[2021-02-03 01:19] amanagr commented on #17182
Closing since duplicate of #8005 which has proper discussion and labels.

[2021-02-03 01:19] #17182 closed

[2021-02-03 01:34] amanagr commented on #14860
I think the second option sounds better. Go ahead with it.

Just FYI, the typeahead in stream settings is generated via settings_stream.js.

[2021-02-03 03:25] nikhilmaske-2001 commented on #17168
Ok I will fix it. @zulipbot claim.

[2021-02-03 04:19] tushar912 commented on #17183
@zulipbot claim

[2021-02-03 09:23] m-e-l-u-h-a-n commented on #16579
@zulipbot claim

[2021-02-03 10:17] ganpa3 opened #17190 "Can't close message edit form after internet connection is lost"
**To reproduce**:

1. Turn off your internet connection.
2. Send some messages.
3. Try to edit those messages (using keyboard shortcut `e`).
4. Close the edit form.

**Expected behaviour**:
Edit form should close.

**Actual Behaviour**:
The window just scrolls up without closing the edit form.

**GIF**:

![edit_form_doesnt_close](https://user-images.githubusercontent.com/58626718/106732735-0d75f20

[2021-02-03 10:17] ganpa3 commented on #17190
@zulipbot claim

[2021-02-03 10:29] cyphase commented on #17190
FYI, in case you don't know, you can disable network traffic for a tab in the browser developer tools, without having to actually turn off your internet connection.

[2021-02-03 15:39] showell commented on #15851
Adding this feature might help us compete with Piazza in educational settings.  See https://www.youtube.com/watch?v=LneGH0jv20s&feature=emb_logo

[2021-02-03 15:42] guillaumemillot commented on #16484
Hi @torfjelde, I have the same question but related to another integration.

I'd like to notify [orbit](http://orbit.love/) of every new message that is posted on zulip.

I'm thinking of setting up an integration via Zapier:
* Trigger app / event: Webhooks by Zapier
* Action app: Orbit

On zulip side, I'd like to trigger an outgoing webhook on every message sent.

Is it the correct approach? If no

[2021-02-03 16:30] ritikchauhan-01 commented on #16189
@zulipbot claim

[2021-02-03 18:39] chris-m-taylor commented on #17190
@zulipbot add "bug"

[2021-02-03 19:01] Esgrima commented on #17006
These docs may provide the answer you're looking for: https://chat.zulip.com/api/integrations-overview . Let me know if that proves to be useful.

[2021-02-03 19:27] mgshestko commented on #16080
@zulipbot claim

[2021-02-03 19:58] ssayce0511 commented on #2278
@zulipbot claim

[2021-02-03 20:59] m-e-l-u-h-a-n commented on #15893
@zulipbot claim

[2021-02-03 23:15] andersk commented on #17190
I’m not sure how to follow your reproduction steps, since for messages that haven’t yet been acknowledged by the server, we don’t let you open the edit form in the first place.

However, on CZO you [said](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Message.20edit.20form.20doesn't.20close.20after.20losing.20connection.2E/near/1112602) that this comes with an error “Error: Failed to execu

[2021-02-04 00:07] Esgrima commented on #17190
Using the method @cyphase suggested to disable the internet, I got this behavior:

![image](https://user-images.githubusercontent.com/25716015/106825094-28099480-6652-11eb-9075-f2512243e990.png)

The first three test messages were sent before I disabled the internet. The next three I sent after disabling the internet. I wasn't able to edit the last 3 messages after disabling the internet. However,

[2021-02-04 00:11] hafey1 opened #17202 "Deactivated/deleted streams and messages queryable via the search bar."
thread here: https://chat.zulip.org/#narrow/stream/9-issues/topic/Deactivated.20streams.20searchable

Given that a user was a member of a stream at the time of its deletion, the user can use the search bar to pull up messages and streams that were deactivated/deleted. Below are some pictures of the process. If this is not desirable behavior I would love to work on this issue if someone can point m

[2021-02-04 01:24] My-Name-Is-Nabil commented on #17202
Can I claim this as my first issue ?

[2021-02-04 02:57] ganpa3 commented on #17190
@andersk You can also edit a message using the keyword shortcut `e`.

[2021-02-04 05:54] ritikchauhan-01 commented on #17202
@My-Name-Is-Nabil  you can claim it.

[2021-02-04 07:55] Igorgro commented on #10088
Any update on this?

[2021-02-04 10:55] kbuzzard commented on #15993
I'm having trouble viewing some unicode characters in the Android app; things like `₀` are being displayed as rectangular boxes for me (this is an issue in the lean chat). On the desktop app these characters display fine. Should this be a new issue?

[2021-02-04 13:09] ganpa3 commented on #17100
@zulipbot Sure!

[2021-02-04 15:18] showell commented on #17202
@My-Name-Is-Nabil I assigned this to you, but I'm not clear on what our intentions are here, so I recommend you watch the chat thread to see what Tim decides here, before doing too much work on this.

[2021-02-04 15:29] showell opened #17205 "database: Migrate JSON fields to ArrayField or other native types."
This issue requires expertise with Django and postgres and the ability to make some executive decisions without too much guidance.  It's not a great issue for beginners, although first-time contributors with strong Django backgrounds may do well here.

We have some things in our database that are serialized as JSON to a database field, rather than introducing a whole new database table.  We are ge

[2021-02-04 15:38] ligmitz commented on #17181
@zulipbot claim

[2021-02-04 15:40] hafey1 commented on #17202
@showell This is why I wanted to hold off on claiming it. There seems to be a lot going on regarding this issue and I was hoping to get some more experienced eyes to push this in a direction. From more probing and looking at similar issues it seems that deactivated/deleted streams and messages are retrievable via query with any operator and other interactions such as the starred messages.

[2021-02-04 15:44] mrchntia commented on #6745
It seems to be unclear if this is desired in the first place and it's definitly not a priority, so I'll search for an other issue to work on.

[2021-02-04 17:40] ligmitz commented on #17205
@zulipbot claim

[2021-02-04 17:44] ligmitz commented on #17205
@showell I would like to go ahead and give this issue a try !

[2021-02-04 18:53] showell opened #17210 "bots: Run an embedded bot on chat.zulip.org"
This issue requires somebody who has pretty close ties to the core team and some knowledge of our bots.

We have code for running bots in an embedded mode.  We should find a bot that people on czo (chat.zulip.org) are likely to engage with.  There's probably a good candidate in our existing bots, or somebody can just dream up a bot that's useful on czo.  One thing that would probably engage people

[2021-02-04 19:13] showell opened #17211 "refactor: Remove `data-make-editable` from the DOM."
We use the following in our DOM for editing streams:

[code]

There is probably a cleaner approach here than having to go the DOM to find the selectors for editing and finishing editing.

This was introduced as part of 14b471a29f1736d60e73177d3dff9b609b89c8b8

If you work on this issue, you should expect to have to be somewhat self-sufficient, as it's not likely that other folks are gonna want to

[2021-02-04 19:44] JacobRoddam commented on #16821
@zulipbot claim

[2021-02-04 19:49] hafey1 commented on #17202
@zulipbot add "needs discussion" "bug" "question"

[2021-02-04 19:50] ritikchauhan-01 commented on #17211
@zulipbot claim

[2021-02-04 19:51] ritikchauhan-01 commented on #16377
@zulipbot abandon

[2021-02-04 19:51] ritikchauhan-01 commented on #17211
@zulipbot claim

[2021-02-04 19:56] chris-m-taylor commented on #17202
Also I am curious on the use of the word "delete" as the button since it is never deleted. It seems like the only action you can take to get rid of a stream is to deactivate it. If this is the case then the "delete" button might need to change to "deactivate" or "archive". Thoughts on this?

[2021-02-04 20:14] Esgrima commented on #1211
@zulipbot claim

[2021-02-04 20:16] Esgrima commented on #1211
I have significant experience with refactoring, testing, and OOP. This seems to be within my capabilities. I'll have something up and running this weekend.

[2021-02-04 21:23] lukem1 commented on #17202
To add to this, since users who were part of a deactivated stream can still view it they are able to edit/delete their messages in the deactivated stream. Seems to me that this behavior should be disallowed since other actions (i.e. adding new messages) are disallowed in deactivated streams.

[2021-02-04 21:29] mattmunnich commented on #6096
At least for rocket.chat you find the answer how they do e2ee  it here:
https://docs.rocket.chat/guides/security/end-to-end-encryption-algorithms

Because keys are stored in the database and are persistent, the other users in the room do not need to be online to participate in an E2EE conversation.

Looks pretty sound to me.

[2021-02-04 21:50] My-Name-Is-Nabil commented on #17202
I am not sure whether accessing archived streams is intended or not, since streams don't get deleted from the database.

[2021-02-05 01:50] JacobRoddam commented on #16821
So I claimed this as my first issue because I figured this was something I could figure out, but I am a little confused. I've been able to recreate the bug on the web app, but I'm confused as to what time notation this is and how it is generally parsed within zulip. Thank you

[2021-02-05 01:56] JacobRoddam commented on #16821
Did some research and I understand the format, my question now is whether this should convert the time to the viewer's time zone

[2021-02-05 03:58] ganpa3 commented on #17190
Closing as https://github.com/zulip/zulip/pull/17200 has been merged.

[2021-02-05 03:58] #17190 closed

[2021-02-05 07:57] pilgrim2308 commented on #16487
@zulipbot claim

[2021-02-05 11:20] LoopThrough-i-j commented on #15851
@showell I found this issue pretty interesting and I will love to work on it. It would be great if I get someone to guide me in this project and help me complete it.

[2021-02-05 12:24] showell commented on #16821
https://github.com/zulip/zulip/issues/12947 is closely related here.  Basically, we don't do any markdown conversions for poll items.  We have a JS-side markdown parser, but we probably don't want to support every possible feature of markdown for poll items.  Instead, we probably want basic things like bold, italics, and links.  And then the time widget makes sense, too, since scheduling is a pret

[2021-02-05 13:43] dineshssdn-867 commented on #16828
@zulipbot abandon

[2021-02-05 16:34] edith007 commented on #7660
@gnprice can i take this issue forward?

[2021-02-05 19:06] #16373 closed

[2021-02-05 19:50] timabbott commented on #17144
Closing this when merging the fix, but generally we don't open an issue for a typo, just submit a PR with the fix (as was already present).

[2021-02-05 19:51] #17144 closed

[2021-02-05 20:07] ahmedabuamra commented on #16971
Hi @aryanshridhar , I hope everything is going well. I suggest claiming the issue and assigning it to you so it would be clear someone is working on it.

[2021-02-05 20:57] brainwane commented on #1739
I do definitely want to have some kind of in-application way to see that this is a message I want to process later. Because of the way I personally process incoming information, it's more helpful for me to get a fresh re-notification than to have a backlog silently accumulate with no active notification to me.

So I'd be fine with an "add to the process-later backlog" action, as long as I also got

[2021-02-05 23:55] timabbott commented on #16959
@amanagr I think it might make sense for you to take this up -- it's very likely a subtle live-update issue.

[2021-02-05 23:59] timabbott commented on #17183
The fix for this is likely to be completing https://github.com/zulip/zulip/issues/13052.

[2021-02-06 00:16] timabbott commented on #16863
I think it's more likely the actual bug is whatever led to the compose box closing unexpectedly, more so than it being desirable to disable keyboard navigation (which is likely somewhat complex).  Which will require some careful observation/recollection as this happens to folks.  I'm not sure how to implement a feature like this in a reasonable way.

(Do you think you're hitting escape while typin

[2021-02-06 00:58] timabbott commented on #17164
I don't think this issue as described will work in the general case.  E.g. I personally have about 20 pinned streams (out of the ~60 active streams I subscribe to) and with this change, I'd only have space for ~5 unpinned streams.

[2021-02-06 01:35] #17111 closed

[2021-02-06 04:13] aniketsonu commented on #16959
@timabbott I've made a small PR regarding this bug. https://github.com/zulip/zulip/pull/17160

[2021-02-06 06:33] pilgrim2308 commented on #16487
I claimed this issue but was unaware that @shanukun had already finished and raised a pull request.
@timabbott It's pending a review by you: https://github.com/zulip/zulip/pull/16523
Just thought I'd maybe bring it to your notice...
I'll be abandoning this issue now.
@zulipbot abandon

[2021-02-06 08:14] Signior-X commented on #16674
@ligmitz are you still working on it?

[2021-02-06 08:20] ligmitz commented on #16674
@Signior-X It is already resolved and the PR is under review.

[2021-02-06 10:12] Signior-X commented on #16674
Yeah I saw that! No worries :+1:

[2021-02-06 10:26] Signior-X commented on #10732
I am working on replacing the right simple-bar with the browser scroll bar.

[2021-02-06 10:26] Signior-X commented on #10732
@zulipbot claim

[2021-02-06 10:40] tushar912 commented on #13052
@zulipbot claim

[2021-02-06 10:45] tushar912 commented on #17183
@timabbott I am working on it

[2021-02-06 12:30] nikhilmaske-2001 commented on #17164
Even if the user pinned very less streams, when the user clicks on any pinned stream its topics will be displayed which will take 5 more lines. So there will be almost no/very low space for the rest of the streams.

[2021-02-06 12:40] showell commented on #17164
I don't understand the argument that pinned streams squeeze out un-pinned streams.  Isn't that kind of the point of the feature?--let the user have control over which streams are visible.

More conversation here: https://chat.zulip.org/#narrow/stream/49-development-help/topic/Pinned.20stream.20.3A.20Issue.20.2317164/near/1114399

[2021-02-06 14:55] mateuszmandera commented on #17117
@kedlaya This should have been fixed in #17142 and will make it to production soon. Thanks for bringing this to our attention!

[2021-02-06 14:55] #17117 closed

[2021-02-06 17:06] Signior-X commented on #15375
I am working on this one.

[2021-02-06 17:43] sfaudry commented on #3917
@zulipbot claim

[2021-02-06 18:56] showell commented on #17089
I am closing this.  I just don't think it's worth the trouble.  We may consider similar solutions in the future if API client authors ask for this type of optimization.

[2021-02-06 19:25] showell commented on #17164
My proposal doesn't change the amount of lines that topics take up on the screen for pinned streams.  Even un-pinned streams have the 5-line opportunity cost now, so I don't understand this objection.

[2021-02-06 19:27] showell commented on #17164
We could easily address your concern by having a max height for the Pinned Streams section or expand/collapse.

[2021-02-06 23:15] lukem1 opened #17231 "Messages in deactivated streams are editable/deletable"
Currently users who have posted messages in a stream that has since been deactivated are able to edit and/or delete their messages in the deactivated stream.

 Since the current thinking is that the deactivate stream feature should become an archive stream feature (See Issue #17202 and [discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/Deactivated.20streams.20searchable)) I feel tha