[2019-04-23 23:19] andersk opened #12199 "Open Graph og:url tags over-canonicalize all URLs back to the home page"
Split from #12187:

[2019-04-23 23:27] timabbott commented on #12009
Just to be clear, the sequencing that I suspect is important is running `zulip-puppet-apply` (which installs the tsearch extension software on the system) before `pg_upgradecluster`.  My guess is postgres is just dropping the `CREATE EXTENSION` configuration.

For backup/restore, try upgrading to Zulip 2.0.3 -- that should fix all known bugs with backup/restore.

It's weird that `CREATE EXTENSION`

[2019-04-23 23:28] timabbott commented on #4685
The purpose of the `+git` is to indicate that it's not the 2.0.2 release you're running, but some other unreleased/unofficial version with additional changes.

[2019-04-23 23:36] timabbott commented on #12199
I think we either want to delete our `og:url` tags (if that DTRT) or specify the current page's address (I think relative links don't work?); I'm not sure we have a use case for pointing to a different canonical URL from the current one right now.

[2019-04-24 00:26] swallitsch opened #12200 "Retrieving API key fails with google auth enabled"
Not sure if this is related to #9277, but with google auth clicking "Show API key" seems to bomb out and refreshes the page when it should be showing a password confirmation, or just the API key.

[2019-04-24 01:08] swallitsch opened #12201 "Allow changing bot owner from organization/bots page"
Currently on the organization's bots page, there's no way to change the owner. Based on descriptions this should have been covered by #2719, but doesn't seem like it's in Zulip 2.

We're running into this with bots owned by deactivated users, so we can't ask them to transfer the ownership. I suspect I can manually do this with manage.py..

[2019-04-24 09:44] pragatiagrawal31 commented on #12182
@zulipbot claim.

[2019-04-24 12:47] Gautime commented on #3917
@Balaji2198 Have you opened a PR for this issue?

[2019-04-24 12:56] Gautime commented on #3865
@coreybic Are you working on this issue? Otherwise i would like to work on it.

[2019-04-24 13:08] aiveras opened #12202 "Ldap Group Sync"
we have been working with Zulip in our company for a while now, but we still miss LDAP Group Sync very much. Since many others from the community ask about it, we wanted to pick up the topic and ask about the current plans in this aspect.

[2019-04-24 13:18] Gautime commented on #4260
Is this issue still valid? I can't reproduce this issue.

[2019-04-24 13:39] Gautime commented on #4145
@babhishek21  Are you working on this? And if we want to solve this issue is there any other way than tweaking bootstrap?

[2019-04-24 15:57] swallitsch opened #12203 "Server setting to allow admins to change user email addresses"
While investigating how to delete a user, I came upon the workaround of changing the user's email address that Tim mentioned in #10533. Instead of deleting the user (which deletes all that user's outgoing messages, etc) change the user's email address. This frees up the email address (important in corporate environments) while keeping all the user's messages in the system.

At a very basic level,

[2019-04-25 00:40] stone212 commented on #12009
@timabbott

No, dammit.  The way I ran is was the way I posted that I ran it when I asked you to verify that was correct 18 days ago.

I just ran it your way now and it "took".  Search still does not work but the problem is different so I will open another issue, and *now* it is good that this is closed.

[2019-04-25 00:52] stone212 opened #12204 "Zulip doesn't install curl"
Running `upgrade-zulip-from-git master` produces this error:

[code]

Running `apt install curl` and re-running the upgrade works.  From the other recent issues I had it looks like many dependencies of Zulip are not made requirements (unless the new docs added this).

[2019-04-25 00:56] stone212 opened #12205 "upgrade-zulip-from-git fails with "fatal: remote error: upload-pack: not our ref""
Running `upgrad-zulip-from-git master` fails with this error:

[code]

[2019-04-25 00:58] timabbott commented on #12203
(It's not just Zulip Cloud that might want to have a security model of "every email address in the system is validated to be controlled by the user using it") The model I have in mind for this is as follows:
* We add a new server-level setting `ADMINS_CAN_CHANGE_USER_EMAILS`, defaulting to `False`.
* We modify the API endpoints for the `/#organization/users` page to allow changing a user's email a

[2019-04-25 00:59] timabbott commented on #4260
I have not seen this in a long time; it was likely a browser bug fixed upstream.  Closing as fixed upstream.

Thanks for the question @Gautime.

[2019-04-25 00:59] #4260 closed

[2019-04-25 01:02] stone212 opened #12206 "Search produces no results"
After upgrading to Ubuntu 18.04 and going through many issues including https://github.com/zulip/zulip/issues/12012 and https://github.com/zulip/zulip/issues/12009 search does not give the old error.  But it does not show results.

This applies to all streams and all realms on this zulip server.  Result of any search is:

[code]

OR

[code]

This is when searching in the top bar above the conversa

[2019-04-25 01:04] stone212 commented on #12009
@timabbott

Is this in the new docs?

[2019-04-25 01:50] stone212 commented on #12205
I tried again a little later and it worked.

[2019-04-25 01:50] #12205 closed

[2019-04-25 01:59] stone212 commented on #12206
@timabbott

This Issue continues after successful `upgrade-zulip-from git master`.

No errors however I search for the word `aristotelian` and then to `grep -nr 'aristotelian'` in `/var/log/zuliup` and this is displayed:

[code]

Hopefully this helps.

[2019-04-25 02:05] coreybic commented on #3865
You can take it!

[2019-04-25 02:07] stone212 commented on #12009
@timabbott

From above you suggested this: https://zulip.readthedocs.io/en/latest/subsystems/full-text-search.html

I want to hear from you that you think that this "migrate" function should work:
`/home/zulip/deployments/current/manage.py migrate pgroonga'`

Please consider in consideration of https://github.com/zulip/zulip/issues/12206.

Is there something I can test first?  What "think" will be

[2019-04-25 02:42] stone212 commented on #12009
Update: I took the risk and it works.  Full text search functions.

[2019-04-25 02:42] stone212 commented on #12206
This is an unresolved issue but I am using full text search now and can not help de-bug. https://zulip.readthedocs.io/en/latest/subsystems/full-text-search.html

[2019-04-25 04:01] Gautime commented on #4260
@timabbott My pleasure sir !

[2019-04-25 06:54] Gautime commented on #3211
Copying relevant conversation -
https://chat.zulip.org/#narrow/stream/49-development-help/topic/Improve.20compression.20settings.20in.20nginx

[2019-04-25 06:58] Gautime commented on #3211
@timabbott I searched for some other standard compression algorithms, gzip works better in most of the cases. For eg. zopfli, pigz can be used for static files might give us a little bit of improved performance.

[2019-04-25 07:44] Gautime commented on #3211
@zulipbot  abandon

[2019-04-25 07:45] Gautime commented on #3865
@zulipbot claim

[2019-04-25 11:31] babhishek21 commented on #4145
@Gautime Hi! No, I'm not working on this; I couldn't find the time. Feel free to take this up (if this issue still exists). I don't have a working copy of Zulip available right now, but I might be able to help nonetheless.

Tweaking bootstrap internals would be an absolute no-no. I think just moving the `.arrow` div after the popover loads is probably the best way forward.

[2019-04-25 12:33] stewrutledge opened #12207 "Add option for disabling webcam by default when using jitsi"
There are several audio/video conferencing solutions that by default only enable sound (or in some cases not even that). It should be possible to do the same thing when creating a conference in jitsi. There are many scenarios where it is preferred to make video opt in rather than opt out, and there is potential to surprise people.

This is pretty easily achieved by having `#config.startWithVideoMu

[2019-04-25 13:58] DestructiveInfluence commented on #11878
Hey, I hope you're doing great progress!

Just a heads-up, our architecture has become a little more complex, so we're querying for nested group membership. The AUTH_LDAP_USER_SEARCH has changed to:

`
AUTH_LDAP_USER_SEARCH = LDAPSearch("DC=company,DC=loc",
                                    ldap.SCOPE_SUBTREE, "(&(objectClass=user)(sAMAccountName=%(user)s) \
                                   (m

[2019-04-25 16:19] abhishek125 commented on #11669
@zulipbot claim

[2019-04-25 16:22] abhishek125 commented on #11669
hi @rishig , message "User not authorized to execute ..." also appears as an error message in API call.is it okay to change that as well?

[2019-04-25 17:11] timabbott commented on #12204
@stone212 I think it must have been removed on your system; `scripts/setup/install` installs curl as one of the first things it does.

[2019-04-25 17:11] #12204 closed

[2019-04-25 18:02] timabbott commented on #12207
@stewrutledge welcome, and thanks for the suggestion!  I feel like this might be something where one's preference might be different for different meetings.  @rishig what are your thoughts on this?  One version of this concept would be to have a telephone icon next to the video one that creates a meeting with the webcam disabled, which would be only available for those video chat providers that su

[2019-04-25 18:04] timabbott commented on #3211
OK, I'm going to close this -- it's certainly not a good first issue since we don't have a specific thing to try, and this aspect of performance isn't a current problem.  I imagine we'll think about this again in the context of profiling our web performance if it seems to be one from that standpoint in the future.

[2019-04-25 18:04] #3211 closed

[2019-04-25 18:09] timabbott commented on #12009
Yes, that's the order in the new docs.

What I said was:

"Try doing CREATE EXTENSION tsearch_extras SCHEMA zulip in the postgres shell after as the postgres user running psql zulip"

Which is in fact the exact same steps.  Oh, maybe you left off the `;` at the end or something?

[2019-04-25 18:14] timabbott commented on #12206
@stone212 did you switch to pgroonga, or not?  I will assume that you are not using pgroonga as your search backend in the below, please switch back if you are, since I don't want that to be a variable in this investigation.

Make sure that (1) the `process_fts_updates` job is running in `supervisorctl status` -- it is what updates the search index.  You likely will need to restart that job given

[2019-04-25 18:15] janning commented on #6027
I saw the "feedback wanted" tag.  Thought I would drop in and say something short.  :)

Not sure if this is the same issue or a different one, but it would be great to be able to mute topics from within the app/mobile version instead of having to wait until I log into the web version.  We added a new user recently and this user created a bunch of topics in a stream where I need to be able to "list

[2019-04-25 18:16] rishig commented on #12207
yeah, the telephone icon sounds good. I think we looked into this for jitsi at some point, and it wasn't obvious how to do it, but we may have also given up too early.

[2019-04-25 18:19] rishig commented on #11669
good question. Under what situations do we give that error message in the API?

[2019-04-25 18:26] timabbott commented on #12205
Yeah, sounds like a transient error from GitHub's Git hosting.

[2019-04-25 18:28] timabbott commented on #12202
@aiveras thanks for the feedback!  See https://github.com/zulip/zulip/issues/9957, I think this is a duplicate of that (though as I think we mention there, probably syncing stream membership makes more sense).

[2019-04-25 18:28] #12202 closed

[2019-04-25 18:49] rishig opened #12208 "stream settings: User should not be able to click on "Mobile notifications" if push bouncer is not set up."
In stream settings:
![image](https://user-images.githubusercontent.com/890911/56760333-d3807800-674f-11e9-92ea-3abd659103a2.png)

In Settings -> Notifications:
![image](https://user-images.githubusercontent.com/890911/56760391-ec892900-674f-11e9-9a77-9c50d458d6e1.png)

We should disable the "Mobile notifications" line in stream settings and add the question mark help (similar to how we do it Setti

[2019-04-25 18:54] pragatiagrawal31 commented on #12208
Currently, I'm working on this area, so would be a quick fix for me. @zulipbot claim.

[2019-04-25 19:41] rishig commented on #12182
Thanks @pragatiagrawal31! Quick update: let's update the first two sections on this page to

![image](https://user-images.githubusercontent.com/890911/56763477-65d84a00-6757-11e9-9aec-9d2b43d56da6.png)

Original:
![image](https://user-images.githubusercontent.com/890911/56763488-6d97ee80-6757-11e9-94eb-ab7f21622ae1.png)

[2019-04-25 20:32] timabbott opened #12209 "Fix headings in organization settings for night mode"
I just noticed this on chat.zulip.org:

![image](https://user-images.githubusercontent.com/2746074/56766549-8788ff80-675e-11e9-8d70-1d90fc5ce912.png)

[2019-04-25 20:33] timabbott commented on #12201
I think this report is in error -- click the edit pencil on the Organization bots page, and admins can change the owner.  Can you confirm?

[2019-04-25 20:35] timabbott commented on #12200
This isn't the same as #9277, it's https://github.com/zulip/zulip/issues/6341.  It's one of our older messy issues.  Probably something @HarshitOnGitHub might work on if he finds some free time in a few weeks.

[2019-04-25 20:37] swallitsch commented on #12201
Yup, sorry @timabbott

[2019-04-25 20:37] #12201 closed

[2019-04-25 20:38] stewrutledge commented on #12207
In that case, is it better to have the icon always visible and just disable/enabled based on the capabilities of the video conference provider in order to keep a consistent layout?

I’ll try to get a PR out together in the next couple of days. If I have time I’ll also look into the same concept with hangouts and zoom.

Thanks for the quick feedback!

[2019-04-25 20:51] rishig commented on #12207
cool, thanks! I'm inclined towards just hiding it, and putting a note in org settings (e.g. the dropdown can be something like
[code]

But we can play around with it once merged -- it'll be an easy thing to change.

[2019-04-25 21:26] whoodes commented on #12209
@zulipbot claim

[2019-04-25 22:36] #11497 closed

[2019-04-26 03:13] APolce commented on #3128
@zulipbot claim

[2019-04-26 05:08] stewrutledge commented on #12207
@zulipbot claim

[2019-04-26 12:20] stewrutledge commented on #12207
I've put a PR, however I branched from 2.0.3 as the master branch had failing tests. Sorry if it's not the right way, I just wanted to get something demonstrating the concept out

[2019-04-26 23:11] swallitsch opened #12218 "Organization/Bots/Edit: Save Button is not clickable"
An admin with full privs looking at the organization bots page can click the edit button, and is free to modify the values presented, but the save button itself can not be clicked.

A slightly different description of this report is what caused me to open and close #12201 , but I've verified this issue this time across 2 different installs- one on ubuntu14, one of ubuntu18- both 2.0.2

[2019-04-27 00:51] timabbott commented on #12218
@pragatiagrawal31 can you investigate this?

[2019-04-27 04:33] YJDave commented on #12218
looking into it.

[2019-04-27 05:57] YJDave commented on #12218
@swallitsch not able to reproduce this error on OS X, if you provide following detail it will be helpful!
- Is save button is disabled or clickable
- If save-button is clickable, is save-bot-modal stays as it is or it disappears when you click on it?
- does it show any error message on org-bot settings page?

If you provide screenshot or gif of problem, would be helpful.

[2019-04-27 06:27] pragatiagrawal31 commented on #12218
@swallitsch I'm unable to reproduce this error too on OS X. @YJDave asked some relevant questions, it would be very helpful if you explain the problem a bit more, and a gif of the problem would be much appreciated as then, it would be easy to understand and debug.

[2019-04-27 19:49] PentaHiggs commented on #4836
@zulipbot claim

[2019-04-27 22:03] #12209 closed

[2019-04-27 22:20] #5639 closed

[2019-04-28 03:50] Hypro999 commented on #12122
Still working on it; updated the PR yesterday.

[2019-04-28 10:36] Hypro999 commented on #10907
@timabbott, for Stripe, shouldn't we just use the official python library [stripe-python](https://github.com/stripe/stripe-python)? The reason is because they tend to do a lot of initialization before contacting their own api, an example I can give from their source code would be:
[code]

In which case we don't necessarily need the general callback method (for this integration anyhow) and we could

[2019-04-28 20:24] swallitsch commented on #12218
Save button does not appear disabled
No reaction of any kind to clicking
No error message

Occurs in the web client and desktop 2.5.0-beta on OSX 10.13.6
Occurs in the web client and desktop App Image 2.3.82 on Centos7

Zulip Servers are running on Ubuntu14 and Ubuntu18, both are 2.0.2

![image](https://user-images.githubusercontent.com/32879218/56869682-5277e980-69b8-11e9-9c29-a392ec16a448.png)

[2019-04-29 01:44] #549 closed

[2019-04-29 04:34] #12038 closed

[2019-04-29 05:13] rap999a opened #12226 "Remote RDS tsearch_data error"
I am trying to install zulip with a remote RDS instance. When I try to migrate the database I am getting the following error.

`django.db.utils.InternalError: could not open dictionary file "/rdsdbbin/postgres-9.6.12.R1/share/tsearch_data/en_us.dict": No such file or directory
`
I read #467 and found that it needs tsearch module installed. I checked the parameter group of the RDS it has tsearch2 i

[2019-04-29 06:36] timabbott commented on #12226
No, you cannot run Zulip with RDS because they don't install the postgres extensions for full-text search that we use (unless something has changed recently).  https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.FeatureSupport.Extensions.11x needs to have either `pgroonga` or `tsearch_extras` added to do this.

[2019-04-29 06:36] #12226 closed

[2019-04-29 06:41] timabbott commented on #12199
@punchagan this may be worth looking at while you're working on open graph stuff.

[2019-04-29 06:44] Philipp1909 opened #12227 "Deactivate an account after a number of x incorrect logins?"
Is it possible to deactivate an account after a number of x incorrect logins?
As authentication method we have configured LDAP for Zulip version 2.0.2.
I haven't been able to find that option anywhere yet. Is it possible to implement this requirement?

[2019-04-29 07:33] punchagan opened #12228 "Add delimiter between paragraphs and bullets in open graph descriptions"
Split from #12178

[2019-04-29 08:14] punchagan commented on #12199
@zulipbot claim

[2019-04-29 08:14] punchagan commented on #12228
@zulipbot claim

[2019-04-29 12:08] punchagan commented on #12199
og:url is a [required property](http://ogp.me/)

[2019-04-29 14:05] 2208Abhinav commented on #11629
I don't know how I got unassigned 🤔

[2019-04-29 14:05] 2208Abhinav commented on #11629
@zulipbot claim

[2019-04-29 17:07] timabbott commented on #12227
I don't think it makes sense to deactivate a user's account for incorrect login -- you probably mean having a rate-limiting process for login.  We are working on that in #12044; I'm closing this as a duplicate.

[2019-04-29 17:07] #12227 closed

[2019-04-29 18:25] #11960 closed

[2019-04-29 19:57] rishig commented on #11629
As the next step on the UI, I think we should make this so that:
* We show the five options if the text box is empty (as we do now)
* We show the time dropdown if the text box is not empty

Let me know if that doesn't make sense.

[2019-04-30 00:12] #12042 closed

[2019-04-30 03:51] shubham-padia commented on #12198
@zulipbot claim

[2019-04-30 04:24] punchagan commented on #12228
@rishig  @timabbott The text for czo would read something like this, with the `|` and `*` as delimiters.

Does this seem ok to you?

[2019-04-30 05:20] rishig commented on #12228
I think so, though open to other ideas. Tim?

[2019-04-30 05:31] punchagan commented on #12228
Just another example, the Clojurians realm

[2019-04-30 06:38] YJDave commented on #12218
@swallitsch I think I understand what is going on here, this is the error which is recently fixed in #12079
Either you can update the zulip version or deploy changes in #12079 on your instance(specifically commit 34db46970010f301ef9b52226e1dcdc5534d53d1
Let me know if you need any help with this. This should solve the error.

[2019-04-30 14:49] vinitS101 commented on #12152
@zulipbot An initial PR will be up by the end of this week.

[2019-04-30 16:53] Philipp1909 opened #12235 "Mattermost integration into an existing Zulip organization"
Hello,
I have a question about importing from a Mattermost team. According to the documentation https://zulipchat.com/help/import-from-mattermost there is only the possibility to create a **new** Zulip organization. During the import for example new users will be created.

We already have a Zulip organization with LDAP authentication and would like to integrate the Mattermost team there. We don't

[2019-04-30 20:15] timabbott opened #12236 "settings: Convert `create_streams_by_admins_only` to an enum-style field"
Following up on #12085, we should migrate the existing `create_stream_by_admins_only` boolean field (whose meaning depends on the value of the related `waiting_period_threshhold` field) to be a `create_stream_policy` enum type field with a similar model to `invite_to_stream_policy` (added in #12085) and the same allowed values.  We can easily do a database migration to set the initial value of the

[2019-04-30 20:45] timabbott commented on #12228
Yeah, that looks pretty reasonable to me.

[2019-04-30 21:48] timabbott commented on #12235
@Philipp1909 we don't have a way to do that.  There's a lot of complex technical issues in doing so, e.g. determining which users are the "same" vs. "different" to deduplicate, and similarly for channels/streams, etc.  https://github.com/zulip/zulip/issues/11335 is the issue to follow for if/when we add a way to do what you asked for.

What I'd recommend is that you just import the mattermost one

[2019-04-30 21:48] #12235 closed

[2019-04-30 21:51] timabbott commented on #12218
Closing this as already fixed, thanks for the investigation @YJDave!

[2019-04-30 21:51] #12218 closed

[2019-04-30 21:51] timabbott commented on #12218
I added this to branch for Zulip 2.0.4 since it seems worth backporting when we do that.

[2019-04-30 22:02] thedeveloperr commented on #12194
@zulipbot claim

[2019-04-30 23:37] #12198 closed

[2019-04-30 23:39] timabbott commented on #12054
@cb0n3y sorry for the slow reply, but you need to provide more details for anyone to help you investigate.  E.g. is there anything in `/var/log/zulip/errors.log` when you try?  And what precisely do you mean -- can you note send messages, or just not edit them?

[2019-04-30 23:42] timabbott commented on #12014
@SushantSingh115 this is a better question for "#development help" on chat.zulip.org.  In any case, you'll need to provide more details on what you're trying to do and why for anyone to usefully help you -- this looks like a bit of unfinished Django code.

[2019-04-30 23:42] #12014 closed

[2019-04-30 23:44] timabbott commented on #11995
@sclassen thanks for the update.

@eeshangarg @Hypro999 is there anything we want to do codewise here given the above fixture?  It seems like it's a bug there we ever send anything to the `:` topic...

[2019-04-30 23:45] timabbott commented on #11981
Since #11792 is likely to be integrated and I've confirmed it will fix this, I'm going to close this as fixed there just to simplify logistics.

[2019-04-30 23:45] #11981 closed

[2019-04-30 23:45] timabbott commented on #11976
@crlf0710 sorry for the slow reply -- can you provide more information on what you're trying to do?  It may make sense for you to start a topic in #integrations on chat.zulip.org for more real-time feedback.

[2019-04-30 23:45] #11976 closed

[2019-04-30 23:46] thedeveloperr commented on #11956
@zulipbot claim

[2019-04-30 23:46] timabbott commented on #12206
@stone212 have you had a chance to try that?

[2019-04-30 23:46] timabbott commented on #12200
Closing as a duplicate of #6341.

[2019-04-30 23:46] #12200 closed

[2019-04-30 23:48] timabbott commented on #12143
@cwhitsbm I suspect this was resolved via our discussion on chat.zulip.org, but we don't support running the Tornado service (part of the webapp frontend) behind most load-balancer configurations; requests for a given user need to all go to the same Zulip server.

https://github.com/zulip/zulip/issues/445 is relevant for background details.

[2019-04-30 23:48] #12143 closed

[2019-04-30 23:55] timabbott commented on #12114
@andersk we should probably prioritize fixing this.  I think this is likely the only thing of this form in the restore-backup tool.  There's a few ways we could try to do this check:
* Add a unique file to `rabbit.pp` in the Zulip puppet configuration, and check if that file exists to decide whether the current system is supposed to run RabbitMQ.
* Checking if `./scripts/get-django-setting RABBITM

[2019-04-30 23:58] timabbott commented on #12049
I think it's worth fixing at least the `user_id` inconsistency rather than later, before migrating gets more expensive.  It sounds like we can change `id` to user_id` and update the webapp, and mobile won't break, so I'd be tempted to do that (and consider a more expensive migration that would add a flag to `client_capabilities` later).

@HarshitOnGitHub FYI in case you're interested.

[2019-05-01 00:29] timabbott commented on #11927
@sameerchoubey @eeshangarg I think if I'm not mistaken we've fixed this for many endpoints; do we have a plan for how to test this?

[2019-05-01 00:31] timabbott commented on #11665
@sahil839 can you provide more details on what you needed to do to reproduce this?

[2019-05-01 00:32] whoodes commented on #11832
@zulipbot claim

[2019-05-01 00:37] timabbott commented on #10579
@iamwillhester just wanted to check in on whether you had an answer to my question above?

[2019-05-01 00:38] timabbott commented on #10482
@punchagan did you see this issue when testing on Safari recently?

[2019-05-01 00:43] timabbott commented on #9544
Possibly what we actually want to do here is https://github.com/zulip/zulip/issues/11015, which would result in the system bots not being in any user-facing realm in the development environment (which is the root issue here...).

[2019-05-01 00:50] timabbott commented on #8990
This was done in the new sections added to both of those files a few weeks ago.

[2019-05-01 00:50] #8990 closed

[2019-05-01 00:54] timabbott commented on #1001
We figured this out a year or two ago in collaboration (thanks @roberthoenig!); closing this stale issue :)

[2019-05-01 00:54] #1001 closed

[2019-05-01 02:30] cyphase opened #12239 "Linkifier URL validation regex is broken"
The linkifier validation regex doesn't allow things like ampersands (for query parameters) or forward slashes following the last placeholder.

Ampersand example: https://example.com/?foo=bar&id=%(id)s
Forward slash example: https://example.com/product/%(id)s/details

Either of those results in a validation error saying "Invalid URL format string".

[Here's the relevant function as of the latest co

[2019-05-01 02:41] punchagan commented on #10482
@timabbott I think this is the issue I fixed, by using a random `trackingId` instead of the `lastModified` attribute on the `file`.

[2019-05-01 02:43] punchagan commented on #10482
The symptoms looked exactly as described by @jainkuniya and I suspect this should be fixed now.

[2019-05-01 03:04] cyphase commented on #12239
I didn't check before, but as expected, I did get `KeyError`s raised for each attempted sending of a message when there was a placeholder with no matching named group. I'm not sure exactly why the URL format string will even be partially filled in; maybe something client-side? I'm sure someone more familiar with Zulip internals could answer that better.

[2019-05-01 06:45] cb0n3y commented on #12054
@timabbott everything is working fine. I guess that the install package was corrupt and that's why i got a lot of errors like django problems and so on. I downloaded the package again and i installed once again. Like i said, everything is fine. This should be closed. Thank you for your time. Have a nice week.

[2019-05-01 07:22] punchagan commented on #11055
@timabbott When you say limit the scope of the "average" such fetch, what do you mean? Can you explain a little bit more?

I tried setting explicit event types for one of the tests - `test_add_attachment` and the test time dropped to half - 0.52s to -0.25s. I set `event_types` to `['attachment', 'subscription', 'message']`.

Is this what you had in mind, when you say we should limit the scope of f

[2019-05-01 17:31] pppreethi commented on #4685
@zulipbot abandon

[2019-05-01 18:16] #12054 closed

[2019-05-01 18:27] timabbott commented on #10482
Awesome, closing, thanks @punchagan!  @jainkuniya please test this to confirm it's indeed fixed for you :).

[2019-05-01 18:27] #10482 closed

[2019-05-01 19:11] timabbott commented on #11055
@punchagan I think something like that.  The challenge with doing so is that we'll potentially miss out on actual bugs if we set the scope too narrow.  What I was imagining is we might be able to set `event_types` to just exclude a few expensive but rarely problematic structures in most tests, or something.  Not sure if this is actually possible from a "are the expensive things the same as the thi

[2019-05-01 21:52] thedeveloperr commented on #10385
@ruchit2801 if you can, kindly review my PR #12233 🙂

[2019-05-01 21:55] ruchit2801 commented on #10385
I sure will do, once my exams are over on 4th :)

[2019-05-01 22:10] eeshangarg commented on #11927
@timabbott: Yep, this has been fixed for all endpoints, thanks to @sameerchoubey! :) Also, I do have ideas on how to test this, but they'll involve tweaking our Markdown extension framework for tabbed sections. And doing that is definitely not a beginner issue, so I'll have to do it myself! I'll add this to my queue, should be able to get to it fairly soon! Thanks! :)

[2019-05-01 23:06] pirate commented on #4836
One thing to think about is how to handle renamed topics/streams, should all the mentions be updated as well?

[2019-05-01 23:10] eeshangarg commented on #11995
@sclassen, @timabbott: So, I investigated this. We used to handle issue comments only through issue updates and didn't support "comment events". But `comment_created` kinda sneaked into the implementation because when I tested it with JIRA Cloud, it did contain all requisite information about the issue that was commented on. However, as it turns out, from the example payload above, it is clear tha

[2019-05-01 23:27] rishig commented on #4836
Updating old messages is not really an option, unfortunately. I think if we wanted to solve this problem it would likely be via a topic renames table, or via adding topic ids (so the mention syntax might look something like `#**streamname|id>topicname|id**`).

[2019-05-01 23:34] #11995 closed

[2019-05-02 00:04] #11621 closed

[2019-05-02 00:06] timabbott commented on #4836
It's not even super clearly specified how this should interact with topic editing, because you can move only some of the messages in a topic you linked to, and then it's just completely ambiguous what one should do with the link, even if one had a topic ID.

So I think the most reasonable option is to have links break in that case in the near term, and maybe longer-term we could use topic IDs to a

[2019-05-02 00:07] timabbott commented on #4836
BTW @PentaHiggs I wanted to add a link to https://chat.zulip.org/#narrow/stream/68-markdown/topic/planning, which has some more recent discussion of syntax that was a bit different from what this issue describes.

[2019-05-02 00:14] timabbott commented on #11976
Oh, is the question about translating the messages sent by "notification bot"?

[2019-05-02 00:35] #12228 closed

[2019-05-02 06:36] APolce commented on #4120
@zulipbot abandon

[2019-05-02 06:57] stone212 commented on #12009
@timabbott

"maybe"??  Have you still not read my comment from 25 days ago?

[2019-05-02 06:58] stone212 commented on #12206
@timabbott

Yes and the system is working.  Since it is sometimes 18 days between replies from you, and since you often reply without reading what I wrote and because this is a production system with many users - having a stable system after all of these weeks is the priority.  That is why I said I can not help you de-bug this Issue at this point.

I intend to migrate to a new server soon so worki

[2019-05-02 06:59] stone212 commented on #12205
I agree.

[2019-05-02 07:57] crlf0710 commented on #11976
OK, i'll try to reach you at chat.zulip.org

[2019-05-02 08:17] stone212 commented on #12206
@timabbott Anyway why did you suggest `pgroonga` if you didn't want me to use it (https://github.com/zulip/zulip/issues/12206)?

And where are the instructions to "switch back"?  You skipped over that part in your comment above even if it was prudent for other reasons.  It's these half answers and disconnected responses that are making the original problem (which was caused by poor Zulip docs) tak

[2019-05-02 08:19] stone212 commented on #12207
@stewrutledge Where are you seeing that pull-down?  I did not know that there was any integration with jitsi available.

[2019-05-02 09:00] Xerus2000 commented on #4836
@rishig the ID shouldn't be displayed to the user, and you should get rid of this whole trara around the metnion. Look at how slack does it when you link to a channel: It just displays the name and if the name changes it displays the new name. So I guess it uses ids internally as well, but it does not bother the user with it. That is how I would like it.

[2019-05-02 17:11] okayzed opened #12245 "bugdown: wrap text in AtomicString so it doesn't get double processed"
As mentioned in #12242, there's potentially more spots in the bugdown processor that need to be wrapped in AtomicString, specifically as tim mentions: "I think at least StreamPattern probably deserves this treatment"

To generate a repro, wrap the offending markup in multiple tags, like **:emoji:** to verify if it gets double processed. (The :emoji: one is already fixed, though)

[2019-05-02 17:14] punchagan commented on #9451
@zulipbot claim

[2019-05-02 19:20] timabbott commented on #12206
PGroonga is totally fine to use (actually better if you have users who use multiple languages), there are several production sites happily using it and there's a good chance we'll migrate everyone over to it.  It's just a less mature implementation.  We just can't debug your problem with the other backend without switching back.

I don't think it's a priority for the project to debug the search is

[2019-05-02 19:27] timabbott commented on #6866
Tagging this as a priority, since I think it is worth working on.  I think we can more or less grep for `NOTIFICATION_BOT` in the codebase and add translation tags to the strings (+ `with override_language` blocks for the realm's default language if the message is being sent to a stream; the user's language if it's a PM).

@hackerkid this might be a good project for you, since you did the similar

[2019-05-02 19:39] timabbott commented on #12009
No, I read it, but I didn't notice that detail, because I assumed you would have mentioned the critical detail that the `psql` shell hung (which is what happens if you don't include a `;` at the end of any SQL command, it doesn't run anything)

[2019-05-02 19:43] jmandel opened #12246 "Keyboard shortcuts for compose box are not documented"
When composing I can select text and type "ctrl-i" or "ctri-b" to italicize or bold the selected text (or with no selection, to place my cursor into a new, empty italics or bold context). I don't see this documented under keyboard shortcuts or under message formatting.

[2019-05-02 19:52] jmandel opened #12247 "Add a compose-box shortcut to create links"
Many markdown-enabled text entry systems (including github) allow keyboard shortcuts in the compose box. Zulip offers several compose-time shortcuts (though, I think, undocumented -- see #12246), but they don't include a keyboard shortcut to take the selected text and "linkify" it. The desired behavior is just what GitHub does in markdown-enabled input boxes when the user types `ctrl-k`. Specifica

[2019-05-02 22:53] kou commented on #12206
I'm the PGroonga developer. I'll be able to help you.

I'll try upgrading my Zulip production server to 18.04 from 16.04 in a few days. The server is using PGroonga.

[2019-05-02 23:26] kou commented on #12009
Just for you information.

From https://github.com/zulip/zulip/issues/12009#issuecomment-484361873 :

[code]

See `->` in `zuip-> \dx` line. `-` means continuous line. It means that `CREATE EXTENSION tsearch_extras SCHEMA zulip` isn't evaluated.

We need to add `;` at the last of sentence such as `CREATE EXTENSION tsearch_extras SCHEMA zulip;` to ensure evaluating the sentence.

[2019-05-03 00:57] rishig opened #12249 "support: Add notion of primary admin."
For a few things like reactivate realm and scrub realm it'd be good to have a canonical set of people authorized to do the action (that's a little more narrow than "all admins").

The first step is to add an is_primary_admin field to UserProfile, with a migration that sets the oldest admin in each org to the primary admin. (Doesn't matter if the user is active.)
During realm creation, the new user

[2019-05-03 06:05] shubham-padia opened #12251 "NAME_CHANGES_DISABLED server setting does not disable the name button."
When disabling name changes in server settings instead of realm settings, the name edit button does not get disabled. Changing name results in a message saying no changes made.

[2019-05-03 08:19] stone212 commented on #12206
@kou Thank you but pgroonga is already working very well.  I do have concerns about *migrating* to another server with an original using pgroonga.  Do you have any documentation for this?

[2019-05-03 08:37] stone212 commented on #12206
@timabbott

No, Tim, it's not unfair. Your docs sucked and your replies (or lack of replies) sucked more.  Because of the work I have put in, your docs are much better (you're welcome).  But because you want to call me out here I'll go through your points:

I did have a backup.  I have had a backup this whole time.  I told you that.

But anyway your backup/restore process is not working like the d

[2019-05-03 08:48] stone212 commented on #12009
@kou Yes thank you that was an error that I made last month and it would have been helpful if the person I was communicating with noticed it at that time but we finally solved that.  It did solve this error (and then I had a different one: https://github.com/zulip/zulip/issues/12206)

[2019-05-03 14:25] jmandel opened #12255 "Typeahead search should work with "intersection" logic"
When I want to identify someone in a server with a lot of users, it's convenient to type multiple "probes" -- e.g. if I want to find John Smith I should be able to type "Jo Sm".

Currently, "Jo" will match this user and "Sm" will match this user, but "Jo Sm" will not. It would be good to combine multiple probes with intersection logic.

[2019-05-03 15:42] sameerchoubey commented on #9395
@zulipbot I'm still working on this. I would probably open the PR soon.

[2019-05-03 18:35] #11079 closed

[2019-05-03 19:44] timabbott opened #12258 "Fade save/discard buttons more quickly if you toggle back the last setting"
If you just double-toggle a checkbox in "organization settings", the "save/discard" widget for that settings section stays around for a few hundred milliseconds before starting to disappear; I think it should start disappearing immediately.

While we're at it, I think it'd be valuable to have a (short) minimum time for the "saving" animation of like 100ms so that you see that state in the developm

[2019-05-03 20:03] #12132 closed

[2019-05-03 20:03] #12251 closed

[2019-05-03 20:36] timabbott opened #12259 "Clean up filesystem access in test-backend unit tests"
Currently, if you run `test-backend`, we'll end up writing to a bunch of semi-random paths under `var/` (the dedicated scribble space within the Zulip checkout).  We have done some work to make this handle running tests in parallel cleanly:
* We use that `var` directory to avoid cluttering `/tmp`
* We use a different directory for each process for file uploads to avoid conflicts, through `UploadSe

[2019-05-03 21:38] pirate commented on #8082
I also propose adding the `:` character to allow for differentiating projects by prefixing some letters like:

 - `a:#(?P<id>[0-9]{2,5})` -> https://github.com/someuser/someprojecta/issues/%(id)s
 - `a:(?P<id>[0-9a-f]{40})` -> https://github.com/someuser/someprojecta/commit/%(id)s
 - `b:#(?P<id>[0-9]{2,5})` -> https://github.com/someuser/someprojectb/issues/%(id)s
 - `b:(?P<id>[0-9a-f]{40})` -> ht

[2019-05-03 22:50] kou commented on #12206
Oh, sorry. I misunderstood.

Normally, you can migrate your server by the followings:

1. Install fresh Zulip to new server https://zulip.readthedocs.io/en/latest/production/install.html with the same `/etc/zulip/settings.py` content with old server.
2. Backup data in old server: https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups
3. Restore backup date in new se

[2019-05-03 22:54] kou commented on #12206
Ah, sorry.

This is needless. Because

already says

[2019-05-04 01:35] andersk opened #12263 "get_realm can return None, which most of its callers don’t expect"
`zerver.models.get_realm` is defined as

[code]

which is a lie: `first()` of an empty query returns `None` rather than raising an exception, so the return type should be `Optional[Realm]`.

Unfortunately, while many of its callers have code to deal with the `None` return, there are hundreds that don’t, and at least a few (`analytics/management/commands/*_stats.py`) that try to catch a `Realm.Does

[2019-05-04 16:27] sahil839 commented on #11665
@timabbott I am not able to reproduce it now.
As I mentioned above I was getting this because of the error that I was facing in dev server as discussed here [link](https://chat.zulip.org/#narrow/stream/49-development-help/topic/error.20while.20running.20tools.2Frun-dev.2Epy).

I am not getting above discussed error now as I had to set up my virtual machine again for some reason so I set up the who

[2019-05-05 06:50] donShakespeare commented on #6617
I just ran into this. We have several Orgs/realms, but one Org in particular has people from diverse tech places. And we just got these requests:

1. Prevent PMing altogether. Admin can specify what User Groups have this privilege. While Admin always has this as part of moderator privilege (and all users to Admin). Some of these folks are drawn together for one purpose only to collaborate using zu

[2019-05-05 14:43] ishammahajan opened #12270 "Table titles aren't readable in dark mode."
<img width="1034" alt="Screenshot 2019-05-05 at 8 11 09 PM" src="https://user-images.githubusercontent.com/33200024/57195568-f261e400-6f71-11e9-8d42-44329b91ca3c.png">
<img width="1051" alt="Screenshot 2019-05-05 at 8 05 56 PM" src="https://user-images.githubusercontent.com/33200024/57195569-f3931100-6f71-11e9-9fe6-2e31e58d00b2.png">

The font color seems to be in conflict with the background colo

[2019-05-05 17:21] vrozkovec commented on #11773
@timabbott would it be possible to have there simple × icon next to the preview to remove it?
This way you can just discard those previews you don't want. Slack has it like that.

[2019-05-05 18:07] thedeveloperr commented on #11956
@timabbott I think backend code should also validate or reject message ids number greater than 1k or
(some N). For added protection to server. What do you think ?

[2019-05-05 18:49] ruchit2801 commented on #12249
@zulipbot claim

[2019-05-06 00:24] timabbott opened #12273 "Fix broken LDAP test when running tests in reverse order"
We had to disabled one of our LDAP tests in https://github.com/zulip/zulip/commit/26ef199a703e7506db0107c97f07417d45da1150, because it was broken; we should fix it so we can re-enable the test.

[2019-05-06 00:46] timabbott commented on #12270
@ishammahajan I think this was fixed in 820dd3a946db0b44e55b220323441e7d463779ad, which I think isn't on chat.zulip.org yet but should be later today.   Let me know if you can confirm.

[2019-05-06 00:46] #12270 closed

[2019-05-06 00:47] #12180 closed

[2019-05-06 00:51] #12199 closed

[2019-05-06 02:39] vsvipul opened #12274 "Navigating to more topics closes sidebar"
Navigating to 'more topics' of any stream closes the sidebar (for devices with smaller displays like phones) and the user is taken to the previous stream he/she was on.

We want to change this behaviour to not close the sidebar and show 'more topics' keeping the sidebar open.

Discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Click.20on.20'More.20Topics'.20closes.20sidebar/nea

[2019-05-06 02:44] vsvipul commented on #12274
@zulipbot add "area: left-sidebar" "bug"

[2019-05-06 03:11] stone212 commented on #12206
@kou Are you replying to me?  Migrating to a new server is a different Issue.  This is about Search producing no results after upgrading to Ubuntu 18.04 and following the steps @timabbott explained in 12009.

[2019-05-06 04:58] punchagan commented on #8358
This should be fixed with #12250

[2019-05-06 06:20] opensource21 opened #12275 "proonga search"
If you create a posting like
[code]
and search for +1. The proonga search fails. I guess the reason is that the content of search_pgroonga was be the base for pgroonga to create a search index. And there the html is store so you have something like `<span class="n">index</span> <span class="o">=</span> <span class="n">index</span><span class="o">+</span><span class="mi">1</span><span class="o">;</

[2019-05-06 07:07] YJDave commented on #11901
I debugged the issue more and found this: The issue is not specific to `#hello` topic on new stream.
1. If you try to rename `#Streams` topic just after creating new stream, the same bug occurs--(`#Streams`) topic does not get deleted.
2. Send message to new topic in any stream from Iago, from other login send message to same topic form other use. Now, try to change the topic name from Iago withou

[2019-05-06 13:28] ruchit2801 commented on #12249
@rishig to set the oldest admin as a primary admin, on migration, you mean to add a script in the migration file, that will set this field for all users, right? And then use `migrations.RunPython`. If so, I think I'll add following script
[code]

[2019-05-06 16:52] davidtwco commented on #12236
@timabbott I've put a PR up for this at #12276.

[2019-05-06 16:52] penCsharpener opened #12277 "Add api endpoint for GET .../users/{id}"
At the moment there doesn't seem to be an endpoint for getting individual users through the API. This is kinda important when wanted to edit, deactivate or reactivate individuals on a server.

[related topic at chat.zulip.org](https://chat.zulip.org/#narrow/stream/170-ZulipAPI.2ENET/topic/endpoint.20questions)
[and here](https://chat.zulip.org/#narrow/stream/127-integrations/topic/api.20endpoint.2

[2019-05-06 16:54] pragatiagrawal31 commented on #12182
Still working !!

[2019-05-06 17:45] rishig commented on #12249
yeah, exactly. There are a few errors in that script in particular (e.g. the first two lines), but it has the right idea. Thanks!

[2019-05-06 17:48] ruchit2801 commented on #12249
Yeah! That two times Realm is typed by mistake, I'll correct it soon :)

[2019-05-06 19:47] jmandel opened #12279 "Users expect the magnifying glass next to Streams to *search all streams*"
![image](https://user-images.githubusercontent.com/313089/57250639-f0e9f780-7015-11e9-9c7e-5ff7bbc4d565.png)

I've observed multiple users over the past few days at a FHIR Connectathon + working group meeting -- if I say "hey, subscribe to the ___ stream," people click on the magnifying glass to find it. This doesn't work, because that icon only filters subscribed streams; the correct thing is to

[2019-05-06 19:48] timabbott commented on #12277
It makes sense to add this.  We can include it in this URL logic:

[code]

and ideally we'd just refactor `zerver.views.users.get_members_backend` to share code with the new endpoint, so the response will have the exact same format as the existing `GET /users` endpoint.

[2019-05-06 20:03] timabbott commented on #12275
The reason we need to do search indexing on the HTML version is that it's required in order for highlighting of the results to work.

This is a tricky issue; in general, search for partial identifiers in code like `+1` don't work in most search tools.  That said, @kou may know a way for how we could improve our pgroonga integration to handle this better.

[2019-05-06 20:10] sysmray opened #12280 "off-the-record support"
It appears that Zulip does not currently support off-the-record (OTR) messaging. I did not see another feature request for it (open or closed).

OTR support is useful to protect sensitive conversations (e.g. notifying human resources of problematic behavior).

Rocket Chat implements it by allowing end-to-end encryption. Not sure how/if that would work with a centralized server like Zulip. In our u

[2019-05-06 20:18] kou commented on #12206
Yes. I answered your question at https://github.com/zulip/zulip/issues/12206#issuecomment-489002390

Did my answer solve your concern?

[2019-05-06 21:52] kou commented on #12275
Ah, we need to remove HTML tag in Groonga, that is a search engine used in PGroonga, layer.
I'll improve Groonga and be back to here.

[2019-05-06 21:54] penCsharpener commented on #12280
duplicate of #7156 and  #6096 and also some other issues. Zulip isn't your kind of end2end encrypted messenger. For that have a look at https://wire.com/en/

[2019-05-06 22:11] cyphase opened #12281 "Invitations are removed from the list too soon"
Invitations are removed from the list of invitations when the registration page is opened, not when the user registers.

I invited someone to a self-hosted Zulip organization. I know they received the invite because I saw the email on their phone when they were asking me about it, and they clicked on it and loaded the sign-up page. But now, they're still not registered, and yet I don't see them in

[2019-05-06 23:14] noemartinez opened #12282 "Add bot name to the outgoing webhook payload"
When using ```zulip-run-bot``` for Generic Bots, the message handler for a bot only gets triggered when there's a @mention for the bot at the beginning of the message. In contrast, Outgoing Webhooks get called regardless of where the @mention appears in the message, and there's no good way to implement a matching behavior to that of ```zulip-run-bot```'s, because an Outgoing Webhook's payload does

[2019-05-06 23:16] timabbott opened #12283 "Add test data for soft deactivation with multiple streams"
To fix CI, I merged 3ecdabdc77202839ba9abf20bbf29b53c3d47fb6, but we should have an actual test covering that code path (where messages were sent to multiple streams during the window where the user was soft-deactivated).

@punchagan @adnrs96 FYI

[2019-05-06 23:31] #12236 closed

[2019-05-06 23:36] timabbott opened #12284 "settings node tests: Clean up use of `test_realm_boolean` for non-boolean fields"
In `frontend_tests/node_tests/settings_org.js`, our tests for `create_stream_policy` and related features feel like they're somewhat brittle/not fully thought through.  In particular:
* There's sorta a weird mixture of string values like `'1'` and integer values like `0` for integer-format fields in the expected_value structure
* We use `test_realm_boolean` in `frontend_tests/node_tests/dispatch.j

[2019-05-06 23:53] timabbott commented on #12281
@cyphase awesome, thanks for the report.  I think I know what's going on here (the bug is indeed in that function).

[2019-05-07 00:17] stone212 commented on #12206
@kou I don't know what you're talking about but your comment does not answer this Issue and it does not give new information about migrating to a new Zulip server but anyway that is not this Issue.  Please don't confuse this Issue by giving details about a different subject.

[2019-05-07 00:58] kou commented on #12206
What is the remained problem in this issue?
Can we close this issue? Or should we resolve something?

[2019-05-07 03:16] stone212 commented on #12206
@kou

The original Issue was not resolved was it?  Please see my original comment.  I am un-subscribing from this thread because I am using pgroonga and can not help test.

[2019-05-07 03:30] timabbott commented on #12206
@kou the main discussion on this thread isn't related to pgroonga, but the tsearch_extras search backend.  This issue is about recovering from having done a `pg_upgradecluster` without the appropriate full-text search backend enabled on the new postgres version.  Thanks for testing the pgroonga postgres OS version upgrade path; I hadn't thought to test that when writing the instructions.

@stone21

[2019-05-07 03:30] #12206 closed

[2019-05-07 03:35] timabbott commented on #6091
This was fixed a while ago via 8623a02d986446cbb19426d310df73f4d63cb872.

[2019-05-07 03:35] #6091 closed

[2019-05-07 04:16] timabbott commented on #12247
Yeah, I think we talked about using `ctrl+l` for this or something?  Dropbox Paper is another tool to look at for examples of a live markdown editor experience for pasting links.

@YJDave do you remember what the story is with this?  I feel like you implemented this, but can't remember the deatils.

[2019-05-07 04:19] PentaHiggs commented on #4836
I think it's very reasonable to keep the scope of this issue limited and have topic links that break in the case that topic names are changed.  To fix this problem would involve changing things in the backend and sorting through a lot of thorny issues.  Like @timabbott says, even with topic IDs there's still ambiguity.  And if you think about it -- a broken link simply means that the behavior is r

[2019-05-07 04:20] shubham-padia opened #12286 "Disable and hard set realm-level options for avatar/name changes if server settings are set to True"
Follow-up to #12229

[2019-05-07 04:20] timabbott commented on #12247
If we do have it, we should fold this into #12246 :)

[2019-05-07 04:21] timabbott commented on #12246
Yeah, @rishig probably this should be under message formatting?

[2019-05-07 04:26] timabbott commented on #12280
Agreed, closing this as duplicate.  Thanks @penCsharpener.

As a sidenote, in many organizations, communications to HR about problematic behavior is generally something that HR wants recorded permanently, so I'm not sure that use case makes sense.

[2019-05-07 04:26] #12280 closed

[2019-05-07 04:27] rishig commented on #12246
Once we have the dropbox paper-style popover, this may be less necessary? In any case, no harm in adding it to message formatting.

It could be in the first column:
[code]

This is what it looks like now:

![image](https://user-images.githubusercontent.com/890911/57271759-9799bc80-7045-11e9-8dd9-409cdcc3f526.png)

We currently have shortcuts for bold, italic, and link?

[2019-05-07 04:41] timabbott commented on #12279
At the very least, we should have a message there in the event that the search doesn't match any streams the user is subscribed to.  Let's do that first, and then think about showing streams the user isn't subscribed to in some fashion.

[2019-05-07 04:50] rishig commented on #12279
Just noting some thoughts on how the richer version of this could look:

[code]

At a medium opacity at the bottom of the search results. (Don't want it to overwhelm the real results, but also it can't be as light as our current inactive color.)

[2019-05-07 04:58] jmandel commented on #12247
(Note on ctrl-l: this is chrome's shortcut for "location bar"; trapping it would not be great. I use it all the time to quickly generate links to "the current stream / thread I'm in" within zulip, as in "ctrl-l, ctrl-c" to get a link onto my clipboard, which I'll then paste into an issue report or somesuch.)

[2019-05-07 04:59] #12263 closed

[2019-05-07 05:12] timabbott commented on #12247
Yeah, was doing it from memory.  It's `Ctrl+Shift+L` and available in master.

[2019-05-07 05:15] timabbott commented on #12207
@stone212 in 2.0.x, which I'm pretty sure you're on, there's a "video call" button at the bottom of the compose box.

[2019-05-07 05:18] rishig commented on #12279
Having a tough time coming up with good wording, but maybe the V1 could be
* No change from current behavior if there are matching, subscribed streams
* If there are no matches:
[code]

[2019-05-07 05:28] andersk commented on #12279
Surely “No matching subscribed streams” would be less confusing?

Also, the name of the “ALL STREAMS” header isn’t helping, maybe that should be “SUBSCRIBED STREAMS”.

[2019-05-07 05:34] rishig commented on #12279
yeah, not particularly happy with "No matching streams", though "No matching subscribed streams" also feels a bit unwieldy?

Agreed about "ALL STREAMS" not being the right header. I think that's supposed to be "STREAMS", but an experiment is changing it on czo.

[2019-05-07 07:09] stone212 commented on #12207
@timabbott Thank you.  Yes I am and yes I see that but I mean the pull-down that @stewrutledge talks about to choose the video chat provider.  I am hoping for an option for Jitsi (not Jitsi meet) and curious what is there.

[2019-05-07 07:19] rishig commented on #12207
If you're running both zulip and jitsi on-premise, you can set JITSI_SERVER_URL in /etc/zulip/settings.py.

[2019-05-07 07:21] YJDave commented on #12247
Yes, we already have shortcut for this. `Ctrl+Shift+L` #7507 is the merged PR and #8153 is the open PR which allows to insert link without selecting the text.

[2019-05-07 07:30] stone212 commented on #12207
@rishig Thank you butI was talking about Jitsi, not Jitsi meet (including on-premise) but even if this is not an option I still wonder where is the pull-down menu in the original Issue comment?

[2019-05-07 07:32] stone212 commented on #12206
Yes!  This might help my  migration issues because I use pgroonga so this thread may have helped.  But it is correct to close it since we can not re-produce.

[2019-05-07 08:09] stewrutledge commented on #12207
@stone212 https://zulipchat.com/help/start-a-call

It's under Manage Organization -> Organization Settings

Jitsi in the dropdown menu refers to Jitsi Meet.

[2019-05-07 09:39] stone212 commented on #12207
@stewrutledge Where do you see "Manage Organization"?

[2019-05-07 13:38] FoggyFinder opened #12290 "Make "Deactivated users" panel visible to everyone"
I think it will be useful to add this option as organization setting.

Something like checkbox with next message "allow all users see list of deactivated one".

[2019-05-07 17:40] rishig commented on #12207
cool, we should just rename Jitsi to Jitsi Meet. Tim, looks like this requires a DB migration? Should we change it to an integer field while we're at it?

[2019-05-07 18:43] timabbott commented on #12207
Yeah, I think that migration to an enum type field would be worthwhile.

[2019-05-07 18:45] timabbott commented on #12207
Probably worth making that a separate issue for better clarity.

[2019-05-07 18:49] timabbott commented on #12290
@FoggyFinder can you talk more about the use case?

[2019-05-07 19:11] daschuer commented on #12071
How can we continue here? Can I help?

[2019-05-07 19:14] FoggyFinder commented on #12290
Sure. Let's say users had communicated with each other and after some time one (let's call him Bob) of them decided to deactivate his account.
Meanwhile someone (let's call her Alice) might notice that there is no one specific user. She remember his jokes, style etcetera but Alice cannot remember his nickname. The problem is: there is no easy way to understand what happened to the user. Was he dea

[2019-05-07 23:07] timabbott commented on #4836
Sounds good.  I agree we should general a span similar to how our stream mentors work, and do the actual styling using CSS.

[2019-05-07 23:42] timabbott commented on #11773
It would be fairly simple to add such an `x` that dismisses the preview for the current user for the duration of the current browser session, which may be good enough for v1.  Longer term I can imagine making it discard the preview for all users or something, but that's significantly more complicated (since we need to store it that state in the database; we could probably implement it as a message

[2019-05-08 00:39] #9470 closed

[2019-05-08 01:39] rishig opened #12293 "org settings: Rename Jitsi to Jitsi Meet."
Currently
![image](https://user-images.githubusercontent.com/890911/57343099-c91e9080-70f6-11e9-9fa0-68abd908dc46.png)

is a bit confusing, since Jitsi is a collection of several different products, and we only integrate with "Jisti Meet". #12207 has some additional discussion.

To change this, it needs to be changed in `Realm.video_chat_provider`. While we're doing this, we should just change tha

[2019-05-08 03:14] punchagan commented on #11773
Yep, I plan to fix this, once we wrap up the backend clean ups! :)

[2019-05-08 03:37] stone212 commented on #12207
@rishig

Cool.  Although I wasn't actually proposing a change.  I just wanted to know where that first screenshot was (and now I know, thank you).

[2019-05-08 09:24] vrozkovec commented on #11773
As I appreciate your effort, it doesn't seem to me this half solution is any good. If it is just for me, it still clutters the view for everyone else and I don't think others will want to close all previews again every time they start new session.
If you would be storing previews as attachments, easiest would be to just delete this attachment and be done with that, but I don't see that deep.

[2019-05-08 09:49] punchagan commented on #11773
Thanks for your comments @vrozkovec. @timabbott is suggesting we do the simpler UI solution not to solve the problem that you mention, but as a first step to figure out what the visual UI and interaction should be like.

I think we definitely want to go the full distance and remove the previews for URLs, and also may be prompt the user if we want to add the domain to a blacklist where previews sho

[2019-05-08 11:12] vrozkovec commented on #11773
@punchagan I see, thanks for explanation, makes sense. Blacklist is an interesting idea. Perhaps blacklist could be even user scoped? But that is maybe overkill and this setting should be left to organization admins only.
We would use it for docs.google.com domain for example, as we share a lot of links to those documents and previews clutter the discussion. Looking forward for the implementation!

[2019-05-08 15:57] punchagan commented on #12283
@timabbott I'm not sure I understand why the check is required, given

1. the function has only one call site.
2. it assumes that `all_stream_messages` and `all_stream_subscription_logs` are dictionaries that group messages and realm audit log entries by stream ids.

Am I missing something here?

[2019-05-08 16:55] #12273 closed

[2019-05-08 16:57] rishig commented on #12207
No worries; good to get the name right to avoid future confusion.

[2019-05-08 18:25] timabbott opened #12302 "Add support for "External Account" custom profile fields"
We'd like to have a special type of custom profile field for external accounts (e.g. GitHub, Twitter username), that gets linkified in the UI (e.g. to that page on GitHub/Twitter).  Here's the data model we have in mind for it:

* field_type = EXTERNAL_ACCOUNT = 7 ("External account")
* field_data (the JSON thing we use to encode extra data for Choices fields) is either {'subtype': 'github'} or {'

[2019-05-08 19:26] alfonsrv opened #12303 "Creating and using API keys with sAMAccountname email mapping"
_Probably_ relates to a similar issue #11878 which results in improper mapping of email and sAMAccountname. When attempting to create my user API key via User settings, it repeatedly prompts `Error getting API key: Your username or password is incorrect.`

[2019-05-08 20:36] rishig commented on #12290
Update here is I think we're just going to allow anyone to see the Deactivated users panel. Thanks for the heads up @FoggyFinder!

[2019-05-08 21:41] timabbott commented on #12283
Oh, I had thought  `all_stream_subscription_logs` was not filtered by stream, due to my searching for `modified_stream_id` in the file and finding no matches.  But it was accessing `.modified_stream.id`.  Which is potentially less performant and thus not our standard style, so I'll switch that and remove the unnecessary check.  Thanks @punchagan!

[2019-05-08 21:44] timabbott commented on #12283
Merged ddd3a365361a49eb0fdbb087d4c01a8626381afd.

[2019-05-08 21:44] #12283 closed

[2019-05-08 22:06] rishig commented on #10524
hm, I think the Feb 27 comment was fixed, but not the original issue.
I can open a new issue with this if this thread is getting unwieldy?

[2019-05-09 00:03] timabbott commented on #12303
@alfonsrv yeah the strategy outlined in https://github.com/zulip/zulip/issues/11878#issuecomment-472114829 is intended to fix this as well.

[2019-05-09 00:12] #12152 closed

[2019-05-09 00:31] timabbott commented on #9228
@zy964c did you end up doing any work on this that others should start from?  No worries if not :)

[2019-05-09 00:41] timabbott opened #12304 "Follow-ups to notification settings database model migration"
I just merged an important migration in #11507, to change the model for our global stream notification settings to be a default (for all streams where one hasn't explicitly set a value) rather than just a default for any new streams created in the future.  This model is much more intuitive and will enable us to do a bunch of things (listed near the bottom of this issue).

There's several important

[2019-05-09 01:24] jmandel commented on #12279
Even "STREAMS" is misleading -- though I understand the desire not to say "MY STREAMS" (introduces pronouns), or "SUBSCRIBED STREAMS" (verbose).

[2019-05-09 01:24] #12247 closed

[2019-05-09 06:46] YJDave commented on #12293
@zulipbot claim

[2019-05-09 07:57] vinitS101 commented on #12279
@zulipbot claim

[2019-05-09 09:22] YJDave commented on #12302
@zulipbot claim

[2019-05-09 18:15] timabbott opened #12308 "Add support for fetching deactivated/empty streams from GET /streams"
Currently, only the /register API returns deactivated streams; the `GET /streams` endpoint only returns active streams.  While this is what one wants in most cases, there are use cases where one's explicitly looking for deactivated streams.

We need to add an argument, e.g. `include_all_deactivated`, which when passed `do_get_streams`, causes it to return deactivated streams as well.

See https://

[2019-05-09 18:24] certik commented on #4817
The Archives in Lean Prover community are nice and great as a first step, but here is how they could be further improved:

* Look more like Zulip, currently they look like separate (static) archives
* Be real-time, not archives updated once in a while, so that people can see conversations happening live

Here is an example how that could work: https://gitter.im/sympy/sympy

[2019-05-09 18:35] certik opened #12309 "Notification when somebody comments under my post"
Most other similar services such as Reddit, Twitter, etc. will send a notification when somebody comments under any of my posts. Zulip only sends if if somebody mentions my name, which means that if somebody just comments, I will miss it.

The only way to currently see if somebody commented is to first go to "Search", then "Sent by me", and it only shows my own posts, then I need to click on each

[2019-05-09 20:22] andersk commented on #12279
We avoid gendered pronouns like “her” or “his”, but I don’t see an issue with “my”. Perhaps “your” is clearer—how about “YOUR STREAMS” and “No match in your streams”?

[2019-05-09 20:23] jmandel commented on #12279
I'd like that.

[2019-05-09 21:10] #11844 closed

[2019-05-09 21:20] timabbott opened #12310 "Bots should be able to post to announcement-only streams if their owner can"
Our general model for bots is that they can post to places their owner can, to help simplify setup for bots that need to post to private streams.  The same reasoning applies to posting to announcement_only streams, which we hadn't thought about.

I think the change we want is something like this, but it needs unit tests, both that a bot owner by a non-admin still gets blocked, and one owned by an

[2019-05-09 22:13] #6297 closed

[2019-05-09 22:20] timabbott commented on #10524
My claim in the February 27 comment was that the original issue wasn't the right solution, and that this alternative solution is a cleaner approach for that problem.
* This keeps all the "stream permissions" administrator stuff in one place, rather than being split between the modal and the area that opens the modal.  Especially as we add more stream-level settings, we'll probably want to preserve

[2019-05-09 22:21] certik opened #12311 "Shouldn't have to click a message to open the comment box"
The box should stay open.

Reported by @asmeurer.

[2019-05-09 22:22] certik opened #12312 "The desktop app shows an icon for the community, but the web browser app does not"
Reported by @asmeurer.

[2019-05-09 22:22] timabbott commented on #12290
@YJDave do you want to just make this change?  Seems quick to clean out.

[2019-05-10 01:47] rishig opened #12313 "org settings: Hide less used tabs by default for non-admins."
This page: https://chat.zulip.org/#organization/organization-profile shows a number of different tabs, which can be a bit overwhelming for non-admins.

We should hide some of the tabs by default, and add a link "Show more organization settings" at the bottom of the last tab. Clicking on it should unhide the hidden tabs, and change the link to "Show fewer organization settings".

For each tab, ther

[2019-05-10 01:51] rishig commented on #10524
yeah, there was some confusion in the thread. The proposal is the following:
![image](https://user-images.githubusercontent.com/890911/57497147-4975fa80-728b-11e9-92fb-a686a9a87157.png)

[2019-05-10 05:12] timabbott commented on #12312
This is a duplicate of https://github.com/zulip/zulip/issues/11752.

[2019-05-10 05:12] #12312 closed

[2019-05-10 05:14] timabbott commented on #12311
This is wontfix.  One can use `enter` on the keyboard to open it if you'd like to send a message, which is very easy.  And the benefit of this Zulip's model is that we can have really nice keyboard navigation (since typing `n` can navigate you to the next unread thread, rather than adding an `n` character in the text box).

[2019-05-10 05:14] #12311 closed

[2019-05-10 05:45] punchagan opened #12315 "improving the data for the digest emails"
Comment by @rishig on [#11761](https://github.com/zulip/zulip/pull/11761#issuecomment-474009923) below.

I'll copy out a summary of my thoughts from before. This was in the context of specifically coming up with a machine learning way to do this, but I think the basic idea or looking through a bunch of messages and getting some intuition from that holds whether or not we do it with ML.
I've posted

[2019-05-10 05:48] punchagan commented on #12315
[Comment by](https://github.com/zulip/zulip/pull/11761#issuecomment-473114442) @timabbott below:

[2019-05-10 10:50] RossBrunton opened #12317 "Clicking the Stream/Topic entry box should not highlight existing text"
When composing a message, the compose interface provides entry boxes for entering the stream and topic to send that message to. However, when clicking on existing text in these inputs, the whole text is selected, and any kepresses will replace the entire contents of the boxes.

This is contrary to the traditional behaviour of input boxes (which insert the cursor at the clicked location), and also

[2019-05-10 16:05] asb commented on #10369
We've just been evaluating Zulip and found stream discoverability to be an issue as well. Having a + button would be clearer, maybe even making it change colour to notify when a new stream is introduced (and obviously clearing once you've clicked it and seen the new stream). Adding defaults for new users is fine, but it would be good to ensure that any current users have opportunity to see when po

[2019-05-10 16:16] rishig commented on #10369
yeah, I think there are several things we want to do in this space:
* #11642 (Add something at the bottom of the streams list)
* Make it easier to set streams as default streams while you're creating them (at least for admins)

It's worth noting that when you create a stream, you have the option of "announcing" it, which provides one way for current members to find out about it.

[2019-05-10 16:18] rishig commented on #12279
I'm hoping something like https://github.com/zulip/zulip/issues/11642 will solve some of the underlying problem here.

[2019-05-10 18:59] zy964c commented on #9228
@timabbot, unfortunately not, I have not done any work on that.

[2019-05-10 19:36] timabbott commented on #12067
A few notes from debugging this:
* We tracked this down to being caused by his history containing being temporarily unsubscribed and resubscribed to this stream.  In that case, Zulip's rendering logic may end up calling `current_msg_list.view.rerender_the_whole_thing()` because it determined that the messages it has rendered are not correctly ordered.
* The other application for that function is a

[2019-05-11 07:09] vinitS101 commented on #12279
@rishig The "STREAMS" -> "ALL STREAMS" change in czo was made in this [commit](https://github.com/zulip/zulip/commit/8a228758624070ee81327a328ca428b9f3f22695). I guess the text can simply be changed there when Steve makes the final commit for this to be merge into master.
Should I start working on the Search result changes (i.e., text to be displayed if no streams match the search term)?

[2019-05-11 07:12] vinitS101 commented on #12279
@zulipbot abandon

[2019-05-11 14:16] jmandel commented on #12279
To be clear, the original issue I reported was happening in the fhir.org instance, where the left bar simply said "STREAMS". So the problem is not specifically with the word "ALL".

[2019-05-11 16:26] vinitS101 commented on #12279
@jmandel del  My bad, I skimmed over [this comment](https://github.com/zulip/zulip/issues/10369#issuecomment-491345942) and thought it addressed the issue that you brought up. It is talking about something else though, so I'll work on making the change that you requested in the opening post.

[2019-05-11 16:26] vinitS101 commented on #12279
@zulipbot claim

[2019-05-11 16:30] rishig commented on #12279
cool. We should do this, but maybe it would be helpful to first get #11642 over the finish line? That addresses this issue even more directly, and I don't think the original contributor is going to finish it.

[2019-05-11 16:33] vinitS101 commented on #12279
I'll check out the work that has been done for this in PR #11676 and continue from there.

[2019-05-11 16:38] vinitS101 commented on #11642
@zulipbot claim

[2019-05-11 19:44] vinitS101 commented on #12313
@zulipbot claim

[2019-05-12 15:49] rishig opened #12320 "message popover: "View edit history" not shown if only a topic edit."
To repro:
* Send a message
* Edit the topic
* Click the down chevron in the upper right of the message.

There should be a "View edit history" menu item.

[2019-05-12 19:10] matkaczmarek commented on #12320
@zulipbot claim

[2019-05-13 01:01] punchagan commented on #9451
Yes, I am. See #12250

[2019-05-13 01:10] certik commented on #12311
Thanks. I've added a section FAQ explaining this design decision:

https://gitlab.com/lfortran/lfortran/wikis/Zulip-Issues#faq

[2019-05-13 02:55] asmeurer commented on #12311
That seems like a weak reason to me. The vast majority of users don't know about keyboard shortcuts, and you can always make it so that escape exits the text entry box.

[2019-05-13 04:52] Cybernisk commented on #12239
I've got the same issue today with an ampersand
example: https://example.com/web#view_type=type&model=model&action=12345&id=%(id)s
```Failed: URL format string must be in the following format: `https://example.com/%(\w+)s```

[2019-05-13 05:18] #10042 closed

[2019-05-13 05:20] timabbott opened #12322 "Migrate JS codebase away from using `in_home_view` to `is_muted`"
Now that we've merged #10220, we've renamed the `in_home_view` field on Subscription in our database to `!is_muted`, which gives it a name that is nicely far more consistent with the actual user-facing name for the feature.  That migration involves sending in `subscription` objects both the `in_home_view: false` and `is_muted: true` keys.

We should follow up on this work by migrating as many refe

[2019-05-13 05:26] #8562 closed

[2019-05-13 06:32] refeed commented on #12308
@zulipbot claim

[2019-05-13 10:13] hackerkid commented on #12259
@zulipbot claim

[2019-05-13 19:09] #12293 closed

[2019-05-13 20:33] timabbott commented on #12239
@cyphase I just went ahead and fixed the original report (about characters being improperly forbidden in URL validators).  Thanks for all the test cases folks :).

Please open a separate issue for validating the list of named capture groups matches between the two lists -- we should definitely add validation for that, but it's more complex and belongs as its own issue.

[2019-05-13 20:33] timabbott commented on #12239
Actually, I'll open the separate issue, since there's a few things I'd like to cover.

[2019-05-13 20:34] #12239 closed

[2019-05-13 20:40] timabbott opened #12323 "Improve joint validation of linkifier URL format string and capture group"
The validation for our linkifier (realm filters in the code) URL format strings, in filter_format_validator, is pretty messy.  I think there's longer-term things we should be doing with the regular expression pattern as well, but for the format string, it seems like the right model given the syntax we have today is:
* We should extract the set of string substitution groups (i.e. strings of the for

[2019-05-13 20:43] timabbott commented on #12071
Given the fact that Launchpad has an API, probably the right solution for this is to implement a webhook integration for https://help.launchpad.net/API/Webhooks following https://zulipchat.com/api/incoming-webhooks-overview.  @Hypro999 @eeshangarg FYI

@mateuszmandera I think it does also make sense to include support for a `+include-footers` token in the email mirror since I think there will be s

[2019-05-13 21:04] #8358 closed

[2019-05-14 00:29] #10980 closed

[2019-05-14 08:07] McpCyber opened #12324 "Zulip Right to Left Support"
Hi There
i'm new to Zulip Server, i Install the latest version with this article
https://zulip.readthedocs.io/en/latest/production/install.html
, i need support RTL in Mobile Zulip App,
with this Refrences
https://github.com/zulip/zulip/pull/9889
https://github.com/zulip/zulip/pull/4535
https://github.com/zulip/zulip/commit/7055d46d273594fc865714423da638ad7db35c30
https://github.com/zulip/zulip/co

[2019-05-14 10:21] McpCyber commented on #3123
hi , i run this scripts , not happend

[2019-05-14 12:39] EBoisseauSierra opened #12325 "Support _underscore_ for Markdown emphasis (italic)"
Currently, Zulip only accepts `*asterisks*` for emphasis in its markdown flavour:
![Screenshot from 2019-05-14 13-38-44](https://user-images.githubusercontent.com/37387755/57698473-a0921b80-764d-11e9-8366-089f692397fa.png)

Meanwhile, [widely accepted markdown standard](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) allows you to use either `*asterisks*` or `_underscore_` for em

[2019-05-14 15:48] Hypro999 commented on #12071
@timabbott I'm on it!

[2019-05-14 22:54] timabbott commented on #3123
@McpCyber a built-in feature was merged into Zulip long after this thread; you should be able to just use RTL messages in Zulip directly.

[2019-05-14 23:00] timabbott commented on #12325
This is probably reasonable to change (there's some complex history as to why this was disabled that isn't worth getting into, but the context has changed in a way that makes it reasonable to adjust).

[2019-05-14 23:02] timabbott commented on #12324
@McpCyber the mobile app doesn't support RTL yet; only the webapp supports it (but in the webapp, you should be able to just type RTL content in messages and have the right thing happen).  I think @Shayan-To has done some work on making RTL work on mobile, but I don't know the status of that effort.

[2019-05-14 23:17] #11642 closed

[2019-05-14 23:17] timabbott commented on #12279
https://github.com/zulip/zulip/pull/12318 was just merged; @rishig I think we should close this issue and then extract the idea for "having the left-sidebar stream search show streams the user isn't subscribed to" into a new issue linking back here (since the title and majority of the content on this issue is sorta a distraction from a spec for that).

[2019-05-14 23:41] rishig commented on #12279
great, thanks @vinitS101!

I think we can just consider this issue resolved, unless we find people are still confused. There is some discovery benefit to the proposal, but it's not clear how to make it work visually, and there's other UX things to think about before that.

We should make sure we change "ALL STREAMS" to "STREAMS" though if that's live.

[2019-05-15 00:08] timabbott commented on #10524
I understand the proposal.  While it might be cleaner for now, I think we're going to end up changing that back once we have ~5 stream-level settings (or more likely, moving the current "stream-level permissions" modal to be a tab in this widget).

We're inevitably going to expand it to support restrictions like what user groups can post; do you think all the UI for managing that belongs in this p

[2019-05-15 00:09] timabbott commented on #4817
Yes, that's what we have in mind with the work in #8135.

[2019-05-15 01:50] rishig commented on #10524
hm. If it's just what user group can post, I think that could be on this page. I agree we need to split this page into a "manage stream" section and a "my settings for the stream" section, but I don't think that should end up looking like a modal, or that the privacy and posting restriction settings should be combined in that world.

Even if we do eventually change things around, I think the curre

[2019-05-15 03:40] jmandel commented on #12279
Does the Zulip team do UX research style testing for this kind of functionality? after watching naive users struggle with these aspects of the interface, I suspect there would be strong benefit from even a small dose of these kinds of user interviews, giving people tasks and watching how they try to accomplish them.

[2019-05-15 03:41] McpCyber commented on #12324
Thanks alot @timabbott

[2019-05-15 07:45] refeed commented on #12308
Btw, I'm still not sure how `/register` API can fetch the deactivated streams, I only found this API from `urls.py`, and I think it doesn't deal with `Stream` things:
https://github.com/zulip/zulip/blob/a73e8109b702f7b76ee55da80eacf8265df65cfc/zproject/urls.py#L362-L364

[2019-05-15 07:46] refeed commented on #12308
^ping @timabbott :)

[2019-05-15 07:46] vanshikaarora commented on #10044
Hey @timabbott I am a third year student from IIT Dhanbad. I have prior experience of contributing to open source as an Android Developer. And I am an applicant for GSoD'19.

I would like pick the task of "User settings for notifications". Can someone please guide me on how to begin. Shall I create a .md file and send a PR to this repository?

Thanks in advance!

[2019-05-15 10:26] vrozkovec commented on #3542
Also discussed here #11773

[2019-05-15 10:28] vrozkovec commented on #11773
@punchagan, @timabbott also I've noticed, that once preview of the link is generated, the header looks like a link - has the same color - but you cannot click on it. I think it would be good, if those headers were clickable, happened to me many times that I wanted to click the preview but had to search the message for the link.

[2019-05-15 10:54] refeed commented on #12308
BTW, I'm still quite not sure with the meaning of the term `deactivated stream` here. Does it mean a stream row that has `Stream.deactivated` field set to true,   or a stream that has 0 subscribers?

[2019-05-15 10:59] punchagan commented on #11773
@vrozkovec that would definitely be worth fixing! Thanks for the suggestion.

[2019-05-15 13:03] Hypro999 commented on #12122
@zulipbot claim

[2019-05-15 13:41] asb commented on #10369
I think with #12318 merged which closes #11642, this can be closed? Not sure how often the hosted zulipchat.com is updated, but looking forward to seeing this change there.

[2019-05-15 15:35] Be-ing commented on #10369
#12318 is a good step towards solving this, but I think to fully address this, that new "+ Add streams" feature should be added to the new user tutorial.

[2019-05-15 15:50] gdelafond opened #12328 "Add topic-contains: search filter"
Hello,

Today there is a `topic:` search filter that match only the full topic.

It would be nice to be able to search (only) topics containing a word with another search filter like: `topic-contains:`

cf conversation: https://chat.zulip.org/#narrow/stream/9-issues/topic/search.20by.20topic.20problem/near/740934

Thank you.

[2019-05-15 16:22] rishig commented on #12279
yeah, agreed. It's been on our minds -- I'm hoping we'll be able to move on this in the near future.

[2019-05-15 17:14] swallitsch opened #12329 "Pasted images don't obey embedded color profile"
Images which are pasted in (thanks for doing #7130 !) don't have their color profile retained/respected, but images which are uploaded do.

Using a test image from [this stack overflow](https://superuser.com/questions/313397/should-i-embed-the-srgb-color-profile-in-jpeg-files) which github also fails at.

This is how it will look if color profiles in the image aren't being pasted in/respected:
![i

[2019-05-15 17:46] timabbott commented on #11927
(Removing bug and priority labels since the known bug here was fixed)

[2019-05-15 20:07] timabbott commented on #12308
@refeed if you look at http://zulipchat.com/api, you'll see that `/register` is the thing backing the `page_params` data structure on the web and mobile apps and fetches basically any Zulip data a user has access to.

For your last question, those are related concepts.  If you look at the code for deactivating a stream, it removes all subscribers, and I think we also deactivate a stream when the l

[2019-05-15 20:23] asb commented on #10492
I think #10566 is a dupe of this?

Trying to log in to chat.zulip.org after being away for a very very long time and the mark all read process just doesn't seem to terminate. Leave it for 10 minutes while it works, and it's asking me whether to mark all read again.

[2019-05-15 23:14] thedeveloperr commented on #12310
@zulipbot claim

[2019-05-15 23:49] thedeveloperr commented on #6605
@zulipbot claim Claiming it as part of gsoc phase 1 If some other student developer is working on it or plans to work on it during gsoc please contact me in czo so that we can discuss 🙂

[2019-05-16 00:43] timabbott commented on #10566
Closing as a duplicate of #10492.

[2019-05-16 00:43] #10566 closed

[2019-05-16 00:44] timabbott commented on #12279
The "ALL STREAMS" is just on the "ALL UNREADS" branch.

[2019-05-16 00:47] timabbott commented on #12279
Re: UX research: In my view, this particular issue was a regression -- we used to have a more prominent UI for this (with a `+`) that we added after feedback, and then later got deduplicated with that gear widget.  But we should have re-fixed it a lot sooner.

Thanks for the report @jmandel!

[2019-05-16 00:47] #12279 closed

[2019-05-16 00:58] #11956 closed

[2019-05-16 04:29] snickell commented on #11504
@zulipbot claim

[2019-05-16 06:37] timabbott commented on #12329
Huh, interesting.  This seems likely to be an issue ultimately with the `jquery-filedrop` library we're doing to manage this, but I can't be sure without someone digging into the code.  @punchagan has done some recent work in the file upload UX and might have ideas.

[2019-05-16 07:07] punchagan commented on #12329
![image](https://user-images.githubusercontent.com/315678/57833224-32796000-77d7-11e9-94bb-8a602236d1f6.png)
![image](https://user-images.githubusercontent.com/315678/57833261-44f39980-77d7-11e9-9e11-6d3c66fc9740.png)

[2019-05-16 07:07] punchagan commented on #12329
Sorry, didn't mean to close it!

[2019-05-16 07:13] punchagan commented on #12329
This looks like a (Chrome/Chromium) browser specific bug to me, in the "Copy image" part of the workflow.

1. GitHub is also failing this test, and it's unlikely that they are using the same library for managing the pastes.
2. It works in Firefox for me when I copy the image and paste it in GitHub.
3. It also works for me when I copy the stackoverflow image from Firefox and paste it in GitHub in a

[2019-05-16 07:14] punchagan commented on #12329
Ah, I missed the part about it working in Hangouts. So, may be they do the pastes differently. I don't have ideas right now, but I can try to dig further.

[2019-05-16 07:50] thedeveloperr commented on #12322
@zulipbot claim

[2019-05-16 11:52] YJDave commented on #12322
@thedeveloperr I have already started work on it. My exams are going on so haven't finished and created a PR.

[2019-05-16 12:06] thedeveloperr commented on #12322
@YJDave oh ok @timabbot asked me to try this issue so I claimed it. I will look for some another 🙂

[2019-05-16 12:19] alexsandulescu commented on #3220
@zulipbot claim

[2019-05-16 12:28] YJDave commented on #12322
Oh, okay. No problem. Then go on, with the issue. Ping me on PR, I would like to help with review :)

[2019-05-16 12:59] thedeveloperr commented on #12322
@YJdave If you want and have done significant work on this than you can continue. Tim told me to look into it this morning. Seeing this unclaimed I claimed it. He might not know you were doing this.

[2019-05-16 13:01] thedeveloperr commented on #12322
@zulipbit abandon

[2019-05-16 13:39] punchagan commented on #12329
Looks like the bug is also triggered when pasting into Hangouts. But, the upload to Google Hangouts does some server side magic, which causes the bug to not manifest.

When I first paste the image the image does get pasted with inverted colors. But, in a paste there is also text/URL information, which Google is using. They use this URL to fetch the image on the server side (I have a request on my

[2019-05-16 15:04] swallitsch commented on #12329
Some seriously nice troubleshooting there. It looks to me like Safari and Firefox are baking the image to sRGB- either on display or on copy. Pasted pixels from Safari/Firefox are the colors they appear to be, and read as sRGB instead of wacked.icc.

Furthermore, pasting the test image into Photoshop loses the profile. So it looks to me like there's no color information present in the copy buffer

[2019-05-16 15:06] YJDave commented on #12322
@zulipbot claim

[2019-05-16 15:46] thedeveloperr commented on #12322
@zulipbot abandon

[2019-05-16 16:25] refeed commented on #12308
@timabbott re `/register`, alright, thanks!

re deactivated stream, as far as I can see when a stream has 0 subscribers it doesn't get deactivated:
![Screenshot_2019-05-16_22-46-29](https://user-images.githubusercontent.com/20320125/57869971-5e74ff80-7830-11e9-8dc0-04ba42a8f0e8.png)
so I think empty streams and deactivated streams are not the same things.

I think what LJ meant in the chat is to a

[2019-05-16 17:24] micimize commented on #11154
This was the # 1 feature I found lacking when I tried out zulip. For example, having a stream with a "topic per issue" synced with github would be a killer feature, but it would be infeasible without the ability to close topics.

[2019-05-16 17:44] micimize opened #12340 "[Feature idea] tight github issues integration"
Thought I would expand on my [comment about the possibilities closing topics presents](https://github.com/zulip/zulip/issues/11154#issuecomment-493158664):

This is what I'm imagining:
* a bot that adds a badge to each issue linking to the topic, with some heuristic for activity (chat length, most recent message)
* the ability to select a range of comments in the topic and turn them in to a commen

[2019-05-17 00:08] timabbott commented on #12329
Yeah, sounds like we should close it (and if anyone feeling excited about this, they should report it upstream to Chrome)

[2019-05-17 00:08] #12329 closed

[2019-05-17 00:09] timabbott commented on #12328
This is a pretty reasonable request and should be relatively straightforward for someone familiar with our search system.

[2019-05-17 00:27] timabbott commented on #12309
This is something that's come up a number of times, and I think this issue is a great place to describe the technical design for it.  There's going to be a number of stages of making this feature ideal; I'll describe the starting point that we'll want to implement and then iterate from.
* We should have a new category in "notification settings" called "Topics I follow" (or something like that) tha

[2019-05-17 08:06] stone212 opened #12345 "Migration fails for installation using pgroonga"
Migrating to an Ubuntu 18.04 server from an older Ubuntu 18.04 server with pgroonga fails with pgroonga error.

Steps:

1. Make backup:

[code]

2. Copy file to new server.

3. Restore backup: https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#restoring-backups

4. See this error:

[code]

I think I probably have to install pgroonga on the new server.  But

a. where are

[2019-05-17 08:07] stone212 commented on #12345
Do I get a prize for having Issue #12345?

[2019-05-17 09:36] kou commented on #12345
@timabbott `scripts/setup/pstgres-create-db` invoked from `scripts/setup/install` always install PGroonga to `zulip` database: https://github.com/zulip/zulip/blob/master/scripts/setup/postgres-create-db#L15
So we need to always install PGroonga to system. Can we remove this check https://github.com/zulip/zulip/blob/master/puppet/zulip/manifests/postgres_appdb_base.pp#L77 ?

[2019-05-17 18:26] scottdurant commented on #12208
@zulipbot claim

[2019-05-17 18:44] pragatiagrawal31 commented on #12208
@scottdurant there is already a WIP PR #12217 open for this issue, I'll be soon updating that, so, it would be great if you could find another issue from our bunch of isssues. Cheers!

[2019-05-17 18:46] scottdurant commented on #12208
Ok, no worries!

[2019-05-17 18:47] scottdurant commented on #12208
@zulipbot abandon

[2019-05-17 19:15] timabbott commented on #12098
@pnkfelix thanks for the report.  I guess the mouse option of "mark all messages as read" does this properly, and we should do something about it.

There's also been discussion that probably search queries should ignore which messages are read/unread for determining where to place you; I think that's https://github.com/zulip/zulip/issues/9893.

[2019-05-17 19:17] timabbott commented on #11809
@andersk was this potentially fixed by your rerendering changes in https://github.com/zulip/zulip/pull/11792?

[2019-05-17 19:22] scottdurant commented on #11453
@zulipbot claim       From what I understand, the first task (email) has been taken care of, but the second one (relating to the birthday box) still needs to be worked on. This is my first contribution so please let me know if I'm misunderstanding. Thanks!

[2019-05-17 19:23] scottdurant commented on #11453
@zulipbot claim

[2019-05-17 19:55] andersk commented on #11694
It’s indeed the case that (our usage of) perfect-scrollbar in the right settings pane had a bug where the scrollbar did not appear until the first time you actually tried to scroll. After the that, the scrollbar would start appearing on mouseover. Then you feel dumb for having not noticed it before—because it wasn’t there!

With the SimpleBar migration (#11792), that bug is fixed. The scrollbar no

[2019-05-17 19:59] timabbott commented on #11694
So, the problem with our settings pages in particular, is that with certain screen heights where the bottom of the window doesn't partially occlude text, it can be very not obvious that there's additional settings "below the fold".  So having a default-on scrollbar here was intended as a temporary solution to that problem until we can figure out some other way to make the visual design make that c

[2019-05-17 19:59] andersk commented on #11809
@timabbott Unlikely, unless by accident (which would be the worst kind of fix). It would be good to have a reproducible test case.

[2019-05-17 20:05] andersk commented on #10544
We now use SimpleBar everywhere (#11792). The scrollbar still appears if the cursor is initially within the modal, but it now correctly auto-hides. I think this behavior is correct. Should we consider this closed?

[2019-05-17 20:08] andersk commented on #10421
Fixed by #11792.

[2019-05-17 20:08] #10421 closed

[2019-05-17 20:13] andersk commented on #8851
#11792 removes the code in question, along with all usage of `perfectScrollbar`, `update_scrollbar`, and the entire concept of manual scrollbar recalculation hooks, so this is almost certainly fixed.

[2019-05-17 20:13] #8851 closed

[2019-05-17 20:14] andersk commented on #9039
Is this fixed by #11792?

[2019-05-17 20:22] timabbott commented on #12345
@stone212 nice issue number!  You definitely get a prize, which is the honor of having issue #12345 :).

@kou `scripts/setup/restore-backup`, which does the `zulip-puppet-apply`, restores `/etc/zulip/zulip.conf` first, so that check shouldn't be the issue here.

I think the problem is that we need to install `PGroonga` on the system before we try to

@stone212 can you try testing this code move?

[2019-05-17 20:34] andersk opened #12347 "Scrollbar drag can result in unintended click actions"
Split off from #11792:

This was not a regression from perfect-scrollbar, but I fixed it in Grsmto/simplebar#312 and Grsmto/simplebar#317. Just waiting for the fixes to be included in a new upstream release.

[2019-05-17 21:40] andersk commented on #8202
Same issue as #9911. Closing in favor of that one, even though it was reported later, because it has a proposed solution.

[2019-05-17 21:40] #8202 closed

[2019-05-17 21:46] andersk opened #12349 "Consider reenabling mobile zooming on app page"
Commit db45d220a82a941a68e88011dbd561513f05326e (#3996) disabled mobile zooming on all pages, with the reasoning that focusing an input may automatically zoom the page and break content. I reenabled zooming on non-app pages in #12344. We should consider reenabling zooming on the app page as well, to improve accessibility.

According to [this StackOverflow question](https://stackoverflow.com/questi

[2019-05-17 22:01] andersk commented on #10838
Closing as duplicate of #9911.

[2019-05-17 22:01] #10838 closed

[2019-05-17 22:51] vinitS101 commented on #9228
@zulipbot claim

[2019-05-18 02:22] stone212 commented on #12345
@timabbott I am happy to try whatever you want (and have the luxury of time and this is a spare server) but I don't understand what you are asking.

From my original comment/post I thought maybe I should install pgroonga on the new (zu2) server like normal: https://zulip.readthedocs.io/en/latest/subsystems/full-text-search.html, and then try the standard `restore` function.  Basically this is what

[2019-05-18 05:43] asb opened #12350 "Add support for user group dependent stream visibility"
For our zulip usage, we have 3 classes of streams:
1) Public, open to all
2) Non-public, but intended to be available to all staff
3) Non-public but available to a subset of staff

For public streams, users can see their existence and leave/join at will. Ideally, the same would be possible for the 2nd category above, by marking a stream as visible+joinable by members of a given user group.

The be

[2019-05-18 06:55] McpCyber commented on #3123
@timabbott Thanks , in the web version that's fine . but in Mobile app ohhh No

[2019-05-18 08:05] McpCyber opened #12352 "Replay Message in Zulip Mobile not working"
Hi There
i working on zulip for chat Solution in my company . some problem exist in Mobile app , for Example : Replay to a Message not working , right to left not working when i use mix sentences Farsi and English.
good news is on the web all needs worked correctly !!!!
is it possible to correct those issues ???

[2019-05-18 14:23] Shipow opened #12353 "🔍 Improving search on docs with Algolia's DocSearch"
Hello Zulip Chat team,<br><br>I've noticed that your documentation could take advantage of our <a href='https://community.algolia.com/docsearch/'>DocSearch</a> initiative.<br><br>So, we went on <b>trying to improve the search and came up with this:</b><br>💖<a href='https://docsearch-zulipchat.netlify.com/'>Try out the search here</a> 💖 (we've added docsearch.js to a mirror of the documentation).<b

[2019-05-19 03:18] coolrockerjoey commented on #7549
@zulipbot claim

[2019-05-19 22:30] thedeveloperr commented on #12340
I feel this can be a really great feature.

[2019-05-19 22:30] thedeveloperr commented on #12328
@zulipbot claim

[2019-05-19 23:30] timabbott commented on #12308
@refeed yeah, maybe my memory is off; we certainly remove all subscribers when a stream is deactivated.

For LJ's use case, he wants deactivated streams too, so I think what we want this to do is just not a subscribers/deactivated filter if that option is requested.

[2019-05-20 09:45] YJDave commented on #10544
This issue is fixed, It does hide the scrollbar correctly, but it doesn't seem to show scrollbar when cursor is hover near the scrollbar area.

[2019-05-20 11:10] carpecodeum commented on #4549
claim
also i have a few doubts about this issue can somebody please solve those?

[2019-05-20 18:18] Akayeshmantha commented on #12196
@timabbott  @neiljp  I would like to work on this issue.Hope it's not assigned by any one yet.

[2019-05-20 19:17] timabbott commented on #12350
@asb just to clarify your specific situation, I assume "staff" is a subset of the non-guest users in your organization?

I do think we'll want to do something of this form, and potentially it's a cleaner approach to or element of subscribing user groups to a stream (in that probably one wants to not block users from unsubscribing from streams)

[2019-05-20 19:36] asb commented on #12350
Exactly.

Yes, I think this feature is much more useful than #9480 alone as it allows self-service subscribe/unsubscribe (and indeed, viewing without subscription).

[2019-05-20 19:37] #12122 closed

[2019-05-20 20:17] timabbott commented on #10544
OK, closing this issue.  I think this may be a widget where we want to show the scrollbar always (or at least on hover) if there is scrolling to be done, because there's risk of the user not realizing there's more stuff below without it?  Not sure, @rishig what are your thoughts.

[2019-05-20 20:17] #10544 closed

[2019-05-20 20:18] timabbott commented on #12349
We do have plans to change the default font size in zulip to ~16px.  So it's possible this will be addressed through that work.

[2019-05-20 22:05] timabbott commented on #12345
@stone212 sure, so I opened https://github.com/zulip/zulip/pull/12359, which I believe is the fix for this issue.  The procedure I believe you should use is:
* Install a fresh server from whatever release your backup was taken from.
* Apply the patch in #12359 to that server.
* Run the (patched) backup tool on that server using the backup.

My belief is that the reordering in #12359 should mean th

[2019-05-20 22:20] timabbott commented on #11453
@YJDave @pragatiagrawal31 just wanted to check -- is that birthday box issue still open?  I feel like I remember someone working on it not long ago but maybe I'm misremembering.

[2019-05-20 22:40] timabbott commented on #10369
The changes in #11642 are now on zulipchat.com and will be in our next release; hopefully that will help a lot of folks.  I'm not convinced that we've fully resolved this issue -- I feel like someone could still that "Add streams" is about creating more streams, not subscribing.

[2019-05-20 22:47] #11954 closed

[2019-05-20 22:47] rishig commented on #11453
The `X` appearing on empty box is still there, though it looks like it does clear the date if set.
I added a date-type field to the profile fields on czo, since I imagine there's other date-related work we'll eventually want to do.

[2019-05-20 22:58] timabbott commented on #11455
Just updated this with the parts already merged via #12173.

[2019-05-20 23:07] rishig commented on #10544
yeah, I'm also inclined towards always-show.

I think my current thoughts on the scrollbar algorithm for everything but the main screen is
* For the right-most panel:
    * If it's a full-page thing (like /help), we should use the browser scrollbar.
    * If it's in a modal .. we should consider using the browser scrollbar, but if we can't, we should use a high-contrast, always-on scrollbar.
* For

[2019-05-21 00:36] andersk commented on #8633
Related:
* #7861 dev provision: Add docker compose integration
* #7901 Vagrantfile: Bump Ubuntu version to Xenial
* #9597 Update vagrant guest images to Bionic
* #12357 Vagrantfile: Support Vagrant Docker provider

[2019-05-21 00:52] timabbott opened #12362 "analytics: Fix missing unique constraint when subgroup=null"
Apparently, due to https://code.djangoproject.com/ticket/28545, our `unique_together` database indexes on `RemoteInstallationCount` and `RemoteRealmCount` don't work where `subgroup=None`, because in Django+postgres, `None != None` for the purposes of this sort of index.

@punchagan discovered this in https://github.com/zulip/zulip/pull/12197 as we were debugging our tests for better error handlin

[2019-05-21 01:18] timabbott commented on #11455
OK, #10850 is merged, and #12173 partially addresses hiding email addresses in search typeahead (the parts that are independent of switching our search UI to use pills).

I'd like to get the rest of these resolved while we still have momentum on this; @shubhamdhama this is probably the highest priority pace for you to contribute while @pragatiagrawal31 isn't available.

[2019-05-21 01:56] #11701 closed

[2019-05-21 01:58] timabbott opened #12365 "Make heading section of responsive /integrations/doc pages look good"
Following #11963, We do need a title area for the page. I think we than removing the logo entirely, we should just eliminate the box and do a horzontal layout like this all in one line at like h2 size, like this:

`[Airtable logo] Airtable integration      [back icon right-justified]`

I think that could be a lot cleaner than what we have so far.

@alexandraciobica this might be a good project for

[2019-05-21 03:05] andersk commented on #10055
This was fixed by #11792.

[2019-05-21 03:05] #10055 closed

[2019-05-21 03:08] #6043 closed

[2019-05-21 03:10] andersk commented on #11897
Should be fixed by #11792.

[2019-05-21 03:10] #11897 closed

[2019-05-21 03:31] punchagan commented on #12362
I wrote a quick snippet to find other such fields, and found the following:

[code]

I wonder if we should add this checking code to a linter somehow, to prevent such errors in future.

[code]

[2019-05-21 04:06] andersk commented on #9039
@synicalsyntax wasn’t able to reproduce in Firefox on Mac, so I’ll assume this was fixed.

[2019-05-21 04:06] #9039 closed

[2019-05-21 04:21] YJDave commented on #11453
Yes, `X` is working as expected, except it do not disappear on empty box.
@vipulchhabra99 's #11783 is the PR in progress for this issue.

[2019-05-21 06:20] rabeehrz commented on #6040
@zulipbot claim

[2019-05-21 07:11] rishig opened #12369 "stream settings: Clicking outside stream permissions modal doesn't close it."
Edit: the issue below is resolved, but see the messages from me and Yash starting at https://github.com/zulip/zulip/issues/12369#issuecomment-499759044

To reproduce:
* As Iago, go to stream settings, and click on a stream
* Click `[Change]` on the line that describes the stream permissions
* Click anywhere outside the modal that pops up.

It should close the modal; instead, the click goes through

[2019-05-21 07:37] rishig commented on #10524
Reopening, so we don't lose track of this. I think understanding stream privacy is a pretty important part of the new admin experience.

I have some ideas here, but not sure I understand where you're coming from yet. So maybe worth a longer discussion.

[2019-05-21 11:31] carpecodeum commented on #11453
claim as a first issue

[2019-05-21 11:58] carpecodeum commented on #5087
@zulipbot claim as a first issue

[2019-05-21 12:25] vipulchhabra99 commented on #11453
@YJDave i think issue is fixed please review once.

[2019-05-21 17:04] timabbott commented on #12362
@punchagan I think a linter option probably isn't ideal for that, but it'd make for an excellent test case.  Might want to put it into a new file, `zerver/tests/test_database_indexes.py`, since I don't see an obvious test file for it to go into.

[2019-05-21 20:56] timabbott opened #12374 "Clean up `update-locked-requirements` and `requirements.in` files to remove `-e` hackery."
It looks like https://github.com/jazzband/pip-tools/pull/807 was included in the latest `pip-tools` release 12 days ago.  I think this may mean we can get rid of our semantically incorrect usage of `-e` in our requirements files, which in turn may mean we can remove most of the messy code in `tools/update-locked-requirements` related to hackily removing the `-e` lines.
 See `compile_requirements`

[2019-05-21 21:31] #11573 closed

[2019-05-21 22:06] #6018 closed

[2019-05-21 22:32] timabbott commented on #12369
@YJDave FYI, my guess is we're not quite using the modals library properly here.  @shubhamdhama FYI in case you remember what's caused similar bugs in the past.

[2019-05-22 00:55] #12105 closed

[2019-05-22 00:57] timabbott commented on #12350
Cool.  There's a good chance we'll end up building some version of this during the summer.

[2019-05-22 17:44] refeed opened #12377 "Move wrong password warning to next to the password field when fetching an API key through setting modal"
Original chat: https://chat.zulip.org/#narrow/stream/6-frontend/topic/show.20a.20warning.20when.20password.20is.20wrong.20(fetch.20api.20key)/near/744694

When we want to fetch an API key from the setting modal, we have to input our password, but if the submitted password is wrong, the warning is shown at the top of the setting modal instead of being shown next to the password field. This is prett

[2019-05-22 19:51] amartin3225 opened #12380 "Allow only organization admins to create or manage group membership"
Right now anyone can create a user group, which could lead to a large number of extraneous groups being created. Moreover, similar to #11600, it would be nice to only allow organization administrators or some other designated group of users (#10688) to administer user group membership. Thanks!

[2019-05-22 19:52] amartin3225 commented on #296
Any updates on the ability to create mandatory streams? Maybe just an option for default streams that prevents anyone from unsubscribing from that specific default stream?

[2019-05-22 21:21] alfonsrv commented on #12206
Will enabling `pgroonga` make it possible to search and find partial matches?

[2019-05-22 21:23] alfonsrv commented on #12275
Will enabling `pgroonga` make it possible to search and find partial matches?

[2019-05-22 21:42] timabbott opened #12381 "Fix LDAP avatar synchronization not checking if the avatar has changed"
The comments starting here https://github.com/zulip/zulip-desktop/issues/695#issuecomment-493252147 have more details, but basically, when we run `manage.py sync_ldap_user_data` with a thumbnailPhoto field configured, we end up re-uploading (and re-notifying about) every user's avatar regardless of whether or not they've actually changed, which is really expensive in a bunch of ways.

Ideally, we'

[2019-05-22 21:47] kou commented on #12275
Yes. (But not implemented yet.)

[2019-05-22 21:48] alfonsrv opened #12382 "PGroonga migration fails due to syntax error in migrate.py"
Tried enabling PGroonga, following the guide provided in the docs. I see a similar issue was fixed in #11063, however there still seems to be a slight syntax error when migrating a Zulip instance running since version 1.8ish.
Currently running 2.0.1 but the syntax for the do_batch_update function hasn't changed in zerver/lib/migrate.py at least.

Error stack below:
[code]

PS: Something I noticed

[2019-05-23 00:45] timabbott commented on #12382
@alfonsrv what OS/postgres version are you running?  It's possible that `ROW(` syntax is only allowed in more recent Ubuntu versions than what you're using (Trusty is EOL at this point, if you're on that).

[2019-05-23 08:00] davidtwco opened #12386 "Document making Vagrant development environment reachable for testing integrations"
While Zulip has [an excellent integrations dev panel](https://zulip.com/api/incoming-webhooks-walkthrough#integrations-dev-panel), sometimes it's useful to be able to have an external service (e.g. JIRA) send webhooks to the development environment directly.

It took me a while to piece together all of the information needed to make my Zulip development environment reachable, so it might be worth

[2019-05-23 12:56] hackerkid commented on #12374
@zulipbot claim

[2019-05-23 15:21] akumria opened #12391 "Topics which are URLs are not clickable"
We are currently testing out zulip and one think we noticed is that we often use URLs as topics.

for example, let's say we are discussing 'https://www.google.com/'

having the URL as the topic means that you can not click through to the actual URL, what happens is that you get a URL which links you to the a window which will narrow things to a stream and then the specific topic.

Which is unexpec

[2019-05-23 19:20] YJDave opened #12394 "stream settings: Bug in delete stream modal appearance."
Click on Stream settings -> Delete stream button
Delete stream modal do not appear properly.
![image](https://user-images.githubusercontent.com/25907420/58280241-c9d54900-7dbd-11e9-8842-f88540060b35.png)

[2019-05-23 19:22] YJDave commented on #12369
Debugging.. There is also bug with delete-stream-modal, submitted #12394. It is probably a recent regression.

[2019-05-24 00:31] #12347 closed

[2019-05-24 07:42] stone212 commented on #12345
@timabbott I see https://github.com/zulip/zulip/pull/12359 and https://github.com/timabbott/zulip/tree/restore-backup-pgrestore but I don't know what you mean by "Apply the patch in #12359".

I have a server with a fresh install of zulip.  I can re-install, I can run zulip upgrade from git master, etc.  Please be specific how to "apply this patch" and I will test.

Yes this is what we will be test

[2019-05-24 15:52] FoggyFinder opened #12400 "Can't create account with GitHub"
Got a message that someone wasn't able to sign in with github. He got a message to the email but clicking on it haven't any effect.

I know there was a problem: #9127 but it was fixed.

[2019-05-24 16:58] matkaczmarek commented on #12320
@zulipbot abandon

[2019-05-25 00:46] #11694 closed

[2019-05-25 11:05] Hypro999 commented on #12071
@timabbott after I started working on this, I took another look at the problem that we're trying to resolve by adding a launchpad integration and I realized that https://help.launchpad.net/API/Webhooks is not going to solve the issue at hand.

From what I've understood, and please correct me if I'm wrong, we want to use Launchpad's webhook to help track bugs and notify users when new bugs arise, o

[2019-05-25 11:09] Hypro999 commented on #12071
A potential idea might be to create an embedded bot which we can trigger via. slash commands and use https://launchpad.net/+apidoc/1.0.html to retrieve information, though this doesn't feel like a good idea and would be more of a pain than if Launchpad supported bug-tracking related events in their outgoing webhook.

[2019-05-25 13:03] aero31aero commented on #12391
@zulipbot claim

[2019-05-25 16:51] thedeveloperr commented on #12328
@timabbott is a ```LIKE %operand%``` kind of SQL where condition good for implementing this ? I have concern that this approach might not be performant way.

[2019-05-26 02:36] alfonsrv commented on #12065
Doing a release upgrade from Ubuntu 16.04 to 18.04 caused this issue for me as well. I fixed it running `rm -rf /srv/zulip-venv-cache/` and then `/home/zulip/deployments/current/scripts/lib/create-production-venv /home/zulip/deployments/current` - both as root.

[2019-05-26 03:19] alfonsrv commented on #12382
I was running Ubuntu 16.04 with postgres 9.5 - just did a major release upgrade and tried following along the [Upgrade guide](https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html) - excellent source btw.

Because release and service upgrades always have to be a pain, I had to run into an error that, aside from #3167 doesn't seem to come up anywhere else.

[code]

I first

[2019-05-27 05:21] Hypro999 commented on #10907
@eeshangarg any comments?

[2019-05-27 06:16] daschuer commented on #12071
So for now the ```+include-footers``` idea might be straight forward. Did you make any progress here?

[2019-05-27 06:17] daschuer commented on #12071
So for now the ```+include-footers``` idea might be straight forward. Did you make any progress here?

[2019-05-27 07:18] davidtwco opened #12410 "Adding a linkifier can cause sending messages to timeout."
I've found that when creating two linkifiers, one of which is a subset of the other, then sending a message with the "more restrictive" linkifier will cause Zulip to timeout when rendering the message.

For example, given this linkifier that matches any JIRA ticket - `(?P<id>[A-Z]+-[0-9]+)` (URL isn't important) - and this linkifier which matches a specific JIRA project (which could be on a differ

[2019-05-27 07:34] akumria opened #12411 "backtrace when attempting to synchronise thumbnailPhoto onto S3 backend"
[code]

[2019-05-27 07:37] akumria commented on #12411
Deployed code:
- ZULIP_VERSION: 2.0.3
- version: 2.0.3

Request info:
- path: /accounts/login/
- POST: {'csrfmiddlewaretoken': ['**********'], 'username': ['********************'], 'password': ['**********'], 'button': ['********************']}
- REMOTE_ADDR: "['10.166.14.122']"
- QUERY_STRING: "['next=******"
- SERVER_NAME: "['']"

[2019-05-27 10:14] ruchit2801 commented on #12320
@zulipbot claim

[2019-05-27 10:52] Hypro999 commented on #12092
@timabbott why not just use a table like the one we use for [arguments](https://chat.zulip.org/api/update-message-flags#arguments). The columns could be "Flag Name" and "Purpose". After looking at the models and the zerver/lib/actions/do_update_message_flags method, I don't think that there's all that much complexity behind the fields for such a table.

Also, for quick future reference, all of the

[2019-05-27 11:30] carpecodeum commented on #5087
@zulipbot i am having trouble understanding what has to be done could someone please elaborate

[2019-05-27 11:49] hackerkid commented on #5087
@carpecodeum You have to create a page like this for log2zulip
https://chat.zulip.org/integrations/doc/git.

The code for the integration is at https://github.com/zulip/python-zulip-api/tree/master/zulip/integrations.
If you open this link link you can see a bunch of integrations like log2zulip, git etc. Some of them dont have documentation and some of them have. The git integration for example ha

[2019-05-27 12:48] farziengineer opened #12412 "Checking if file path exists before reading can cause problem in case of race condition."
https://github.com/zulip/zulip/blob/d9adc9d7bc9039b81a6fbf7297c7de8089cc6cbd/scripts/lib/zulip_tools.py#L152-L154
https://github.com/zulip/zulip/blob/d9adc9d7bc9039b81a6fbf7297c7de8089cc6cbd/scripts/lib/zulip_tools.py#L351-L353

The above two snippets of code can cause problem in case of race condition, where file might be present at the time of `if os.path.exists(path)` but might not exist when w

[2019-05-27 13:19] mateuszmandera commented on #12071
Posted a PR for this.

[2019-05-27 21:35] timabbott opened #12414 "Split a section for developers out of translating.md"
The original `translating.md` was about the technology for translating (i.e. how to tag strings for i18n properly); while we added content for translators, it wasn't well optimized for their use case.  I just merged 8a04284c622e5819fdfd5be231367d2574eb49a5, which moves all the content for translators to the top (and in a reasonable order).  But now the top of that page isn't an ideal link for me t

[2019-05-27 22:27] timabbott commented on #12411
@shubham-padia @HarshitOnGitHub @vinitS101 FYI, this is a high priority issue with our LDAP integration.  See https://chat.zulip.org/#narrow/stream/31-production-help/topic/backtrace.20with.20s3/near/745310 for some notes from me on it.  I think we just need to do something like setting a `name` attribute on that element that doesn't have an extension.

[2019-05-27 22:35] vinitS101 commented on #12411
I haven't worked on the LDAP integration before, but I would definitely like to learn about it and work on this issue. I've left a PM for Harshit to get some hints on where to start with this.

[2019-05-27 22:35] vinitS101 commented on #12411
@zulipbot claim

[2019-05-28 00:26] timabbott commented on #9042
@priyank-p is updating https://github.com/zulip/zulip/pull/9675 something in the cards?  (We should probably first look at upgrading `webpack-dev-server` and see if there's an option that just does this, since it really should be an upstream option)

[2019-05-28 00:43] timabbott commented on #8593
@hackerkid just wanted to check in on this -- I know we abandoned it in part because of issues with the `junit` libraries, but wasn't sure of the full details.  I think even if we only had this for `casper`, it'd be potentially useful (since then I'd know it was failing with a given casper flake without needing to click in).

[2019-05-28 01:48] #12310 closed

[2019-05-28 02:34] timabbott commented on #12412
Hmm.  Neither of these is an actual problem, so I'm going to close this as an issue.  I'm OK with a PR to change these to do a try/except block; though I think we're be trading readability for it being claer we don't have a bug of this form.

That particular try/except block is wrong, in my view; we want most IOErrors to just raise an exception.

[2019-05-28 02:34] #12412 closed

[2019-05-28 02:40] timabbott commented on #12092
That plan sounds great to me.  Can you do a draft of it?  Feel free to leave any flags you don't understand blank, and I can fill in those details (I want to just be providing the content piece here).

[2019-05-28 03:44] timabbott commented on #12328
@thedeveloperr replying to your question there's probably a sqlalchemy way to write it that doesn't involve raw SQL, but yeah, we'll probably need to do a LIKE query on the topic underneath.  And then we might need to compute the highlighting indexes directly in our Python code, since postgres might not do it for us.

[2019-05-28 05:23] timabbott commented on #12410
Yes, overlapping patterns are not supported.  My guess is you're causing an infinite loop in the markdown processor, which is being caught by our timeout for detecting that.  I'm not sure there's an easy way for us to handle this generically, but generally the advice is to use mutually exclusive patterns (e.g. require a `#` before the ID in the first pattern or whatever).

[2019-05-28 05:32] timabbott commented on #10907
@Hypro999 we already have that library in the project, so it seems potentially reasonable to use it for Stripe in particular.

That said, there are other integrations where a callback either is or would be required, and I think our goal should be to figure out the correct way to do this in general (which could include an `if` statement that determines whether to using `python-stripe` or `requests`

[2019-05-28 05:43] timabbott commented on #12382
So, `Unable to locate package postgresql-10-pgroonga` as an error message suggests Zulip is detecting your system as running Ubuntu bionic (see this block in `puppet/zulip/manifests/base.pp`):
[code]

Is it possible you actually upgraded to bionic?

[2019-05-28 05:45] timabbott commented on #12382
That variable is set via:
[code]

So we'd have to figure out why puppet is getting `bionic`.

[2019-05-28 05:46] timabbott commented on #12065
@alfonsrv were you following our guide?  We have `rm -rf /srv/zulip-venv-cache/` at the start of step 4 here: https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-the-operating-system.

(And the `upgrade-zulip-stage-2` there runs `create-production-venv` as a subroutine).

[2019-05-28 06:18] alfonsrv commented on #12382
Yes, that is correct! I went from 16.04 to 18.04.  Sorry I forgot specifying what I upgraded to.

[2019-05-28 06:20] alfonsrv commented on #12065
I found that guide only later. However I never was on 14.04, but 16.04 and just upgraded to 18.04.
Aside from that I'm stuck at the second command of step 3 and never reached the 4th one.

[2019-05-28 06:23] alfonsrv commented on #11878
I see you categorize this as an advanced beginner task in #12229 @timabbott – I really want to contribute (and fix this issue for our production) or should I rather make an attempt at #5142 first?

[2019-05-28 06:26] rossoskull commented on #12414
I would like to work on this issue.

[2019-05-28 06:28] timabbott commented on #12400
We need more details on the server version+configuration and the clear/precise series of steps the user went through in order to investigate this.  The fix for #9127 includes tests, so this is unlikely to be that.

[2019-05-28 06:35] timabbott commented on #12065
I see, OK, let's debug that then.

[2019-05-28 06:39] timabbott commented on #12382
OK, great.  What architecture?  I see that indeed `scripts/lib/setup-apt-repo` is being run earlier in the sequence by `zulip-puppet-apply`, and that should be adding the PPA containing `tsearch-extras`, which in turn should mean those `apt install` commands work.  What is in `/etc/apt/sources.list.d/zulip.list`?

[2019-05-28 06:43] timabbott commented on #12386
I agree that this would be useful.  For cloud services, this also requires a public IP address (or instructions for how to configure something to proxy to your laptop), so we should be sure to mention that.  I'm not sure where to put it; maybe a new section at the bottom of https://zulip.readthedocs.io/en/latest/development/using.html (plus a link from the integrations developer guide?)

[2019-05-28 07:00] timabbott commented on #12380
This is a reasonable setting to add; I think it can work exactly like the existing options for who can create streams.  Have you actually had a problem with users creating lots of groups and that being a problem?  It could be that this issue is lower priority than improving the UI for browsing user groups.

[2019-05-28 07:02] timabbott commented on #12377
Agreed; I guess we missed this in the "error feedback" migration.  Though it's potentially going to be done by accident in #10102; we might want to focus on that first.

[2019-05-28 07:04] timabbott commented on #12382
@kou for the original issue here: https://github.com/zulip/zulip/issues/12382#issue-447358268, do you know if there's a way we can write that SQL that will work everywhere?

[2019-05-28 07:08] timabbott commented on #12345
For "Apply the patch in #12359", it's kinda an annoying process and thinking about explaining it gave me a better idea.  I just repushed that branch to just be a single commit on top of 2.0.3.  You should now be able to use `/home/zulip/deployments/current/tools/upgrade-zulip-from-git restore-backup-pgrestore-test` to get 2.0.3 plus just that patch applied to your server with no hassle.

[2019-05-28 07:32] timabbott commented on #11878
@alfonsrv given that you are experiencing this in production, I think it's a better choice to work on this one (especially since I think someone else is working on #5142).  The technical design above is pretty detailed and we have a pretty nice test suite for our LDAP integration, so feel free to start working on it.

[2019-05-28 07:34] kou commented on #12382
`UPDATE x SET a = b, c = d` style will work.

[code]

[2019-05-28 08:46] farziengineer opened #12419 "Files not closed after opening. Reading/ Writing file with "with open" syntax."
https://github.com/zulip/zulip/blob/ee8ff4df66c89c8ef66ff507492e636d07776df1/tools/setup/emoji/build_emoji#L138-L142

https://github.com/zulip/zulip/blob/e9841079660a5c79ad504a1f8858a69e8520f172/scripts/setup/generate_secrets.py#L111-L115

https://github.com/zulip/zulip/blob/ee8ff4df66c89c8ef66ff507492e636d07776df1/tools/lib/test_server.py#L57

https://github.com/zulip/zulip/blob/ee8ff4df66c89c8ef

[2019-05-28 13:13] hackerkid commented on #8593
@timabbott The casper part is mostly done. Let me rebase the PR and see if everything is working. As far as backend tests are concerned I was having a hard time integrating `unittest-xml-reporting.`. I think the issue was that the tests were running pretty slow and was not even completing. I can take a look at it again soon.

[2019-05-28 14:00] vinitS101 commented on #9228
@zulipbot working

[2019-05-28 16:24] GonzRon commented on #11154
this would definitely be useful for Streams that are Q/A heavy, i.e. one's where people post questions to topics.  After their question is answered, we'd like to Archive that conversation (i.e. remove it from the topic and archive it in a searchable way).  That or allow for conversation threads inside of topics to allow the main topic thread to continue without flooding the Stream.

[2019-05-28 17:36] GonzRon commented on #10933
slack allows you to "start a new thread" by selecting an existing message.  I'd like the option of starting a new thread inside a topic (inside a stream).
Example :
Stream: _Awesome Electric Car_
-> Topic: _Battery Runtime Mods_ (conversation about X subject ongoing in topic)
--> Thread : _can this be done_
--->question asked and answered --> (archive thread in topic)

Slightly different direction

[2019-05-28 18:09] alfonsrv commented on #12382
Architecture? What exactly is it you're asking? It seems like Postgres is already at version 10.8 by now btw.
[code]

/etc/apt/sources.list.d/zulip.list:
[code]

@kou thanks! However I think the initial syntax error of this issue will resolve itself once I successfully managed to upgrade to Postgres 10 as @timabbott already pointed out in his first comment.

[2019-05-28 18:10] alfonsrv commented on #12382
Architecture? What exactly is it you're asking? It seems like Postgres is already at version 10.8 by now btw.
[code]

/etc/apt/sources.list.d/zulip.list:
[code]

@kou thanks! However I think the initial syntax error of this issue will resolve itself once I successfully managed to upgrade to Postgres 10 as @timabbott already pointed out in his first comment.

[2019-05-28 18:11] FoggyFinder commented on #12400
I'll try to get additional information about steps

[2019-05-28 18:55] alfonsrv commented on #12382
After uncommenting the second line in **zulip.list**, the [upgrade guide](https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html) worked quite well, up until the 4th step. Running `/home/zulip/deployments/current/scripts/lib/upgrade-zulip-stage-2 /home/zulip/deployments/current/ --ignore-static-assets` first throws the error that `--ignore-static-assets` doesn't exist and t

[2019-05-28 19:12] priyank-p commented on #9042
I just read the changelog on webpack-dev-server and unfortunately upgrading won't help. I am probably going to close that PR and open a new one written in Python.

[2019-05-28 21:10] timabbott opened #12424 "Add UI support for making a bot have administrator permissions"
We have a number of administrator permissions (like creating other users, streams, etc.), which it would be useful to be able to create a bot that can use.

We should:
[ ] Add a new "Administrator Bot" bot type, which only admins can create or own, and otherwise works like a Generic Bot but has administrator permissions (`is_realm_admin=True`) and thus can do things like create users.
[ ] Do an au

[2019-05-28 21:59] alfonsrv commented on #12382
Fixed. Don't ask me how, I just restored from a clean backup.

After uncommenting the second repository in **zulip.list** and running apt update, everything just magically went fine and search has _dramatically_ improved as well. Thanks for the effort!

[2019-05-28 21:59] #12382 closed

[2019-05-28 22:55] timabbott opened #12426 "test-backend: Fix leaking of test databases on ctrl+C"
Currently, if you hit Ctrl+C while running out backend unit tests, we'll end up leaking copies of the test template databases:

[code]

Actually, I think we leak them unconditionally right now; possibly because the code in `teardown_test_environment` is confused.... I tried the below patch, but it did not seem to fix the problem (I don't know why).

[code]

We should figure out some solution for p

[2019-05-28 23:55] whoodes opened #12428 "Cache our migration files to improve test-backend startup time."
Right now we are checking if migrations are needed in a slightly inefficient way when running `test-backend`.   Instead, per Tim's suggestions, we could optimize this by caching the files in `zerver/migrations` and only performing this check if a file is dirty.

From Tim's comment [here](https://chat.zulip.org/#narrow/stream/3-backend/topic/test-backend.20startup/near/746704):

[2019-05-28 23:58] #11927 closed

[2019-05-29 00:16] timabbott commented on #12428
To add a few more notes:
* The code for doing this check is in `zerver/lib/text_fixtures.py`, `template_database_status` and the function it calls, `what_to_do_with_migrations`.
* We already have nice functions like `check_file_hash` for checking individual files.
* We probably just need code to hash-and-compare `*/migrations/*.py` and then return `migrations_are_latest` if it's the same.

[2019-05-29 03:01] thedeveloperr commented on #12424
@zulipbot claim

[2019-05-29 03:29] thedeveloperr commented on #12424
@timabbott should removing last administrator ignore only "Admin bots" or all types of bots created by the last admin ?

[2019-05-29 04:34] punchagan commented on #12362
@timabbott I've added some tests [here](https://github.com/punchagan/zulip/commit/40120b4937a89b5faf7c4c95caec1e92a84166eb) as a first step to start working on this.

The actual constraints can be added in migrations where we run SQL, but I wonder if it would be useful to have the constraints close to the models. Do you think it's worth adding a dependency on the `django-postgres-extra` package si

[2019-05-29 13:36] stone212 commented on #12345
@timabbott Okay so:

1. Install Zulip on second server
2. Upgrade both `from-git master`
3. Upgrade Z2 `from-git restore-backup-pgrestore-test`
4. Back up Z-prime
5. Copy backup to Z2
6. Restore backup on Z2 with `/home/zulip/deployments/current/scripts/setup/restore-backup /path/to/backup`

Is this the full process you are suggesting?  I just want to be 100% clear so if things do not go smoothly

[2019-05-29 20:28] rishig opened #12435 "scrollbar: Add data-simplebar-auto-hide=False to progressive tables."
Our progressive tables should probably have an always visible scrollbar.
* You can find them using something like `git grep data-simplebar | grep -v auto-hide`
* To make a simple scrollbar always visible, see e.g. #12434

Two extra things that need to be done for the progressive table case:
* The scrollbar is too far to the right on the ones I looked at, and should be moved 7px to the left.
* The

[2019-05-29 21:02] andersk commented on #12435
The existing offset is somehow a consequence of the entire `<div id="settings_page">` having class `rendered_markdown`. Why did we do that?

Can you explain what problem the transparency causes? As I see it, because a scrollbar without a dedicated track may overlap content, it needs to be transparent to avoid blocking content completely from view.

[2019-05-29 21:52] timabbott commented on #12382
@alfonsrv by architecture I'd meant the output of `uname -a`; I was wondering if you were using ARM or some other non-x86 platform and that could be the cause of the problem.

[2019-05-29 22:00] timabbott commented on #12382
For the `ROW` issue, I merged 7134a12231439799858aa257020058ad9c63f11c.  Thanks @kou for the patch!

[2019-05-29 22:03] timabbott commented on #12424
The goal is to require that there's at least one human administrator at all times.  So I think we just need to make sure this:
[code]

handles bot users correctly.  It seems like we'll want to make a version of `realm.get_admin_users`, `realm.get_human_admin_users()`, and use it here (and maybe in a couple other places).  And add a test that just sets the admin bit on a bot user etc.  This would b

[2019-05-29 22:41] whoodes commented on #12428
@zulipbot claim

[2019-05-29 23:44] timabbott commented on #12435
Yikes, @vrongmeal that block should definitely been only on the parts of settings pages that have rendered markdown, which are some pretty small areas (e.g. I guess stream descriptions fit into this category).  I totally missed that in review, so I don't know why that change happened.

I didn't see any visual problems with removing it, and code-wise it shouldn't be there, so I removed it in  ac73d

[2019-05-29 23:47] neiljp opened #12438 "Improve first run of (d)mypy by adding detailed caching"
When working on a previous attempt to use the mypy daemon, I noticed the slow startup time, which I understand to be due to starting from scratch and not loading from a cache. On the contrary, the non-daemon mypy has used a disk cache for some time, though as the only way that it runs faster.

The following documentation suggests that this could be improved through a more detailed disk cache:
http

[2019-05-30 00:04] timabbott commented on #10933
@GonzRon I expect we'll extend Zulip soon to make it easy to create a new topic with a links in both directions between the two topics.

[2019-05-30 00:34] timabbott commented on #12438
In theory, we can use CircleCI's artifacts feature for setting this up.  Tagging as a priority because it could potentially be a big development quality-of-life thing.

(I can provide an S3 bucket if we need that).

[2019-05-30 01:05] rishig commented on #12435
ah, good point. In that case I think we should just make a dedicated track for it? Right now it looks a bit funny because the horizontal lines of the table come through.

[2019-05-30 03:47] kou commented on #12382
You're welcome!

[2019-05-30 04:26] andersk commented on #12435
It sounds like we’ve just invented…the native browser scrollbar? :stuck_out_tongue:

But, I don’t see anything weird about the lines coming through—that’s what transparent things do. Does it look less weird now that Tim fixed the horizontal offset problem with ac73dc81f70ea720c66e751afc1b9752782daaca, so the scrollbar doesn’t overlap the right edge?

[2019-05-30 05:55] timabbott commented on #12345
The following simpler process should work, assuming your existing server (Z1) is running 2.0.3:

1. Install Zulip on second server from Git after cloning restore-backup-pgrestore-test
2. Back up Z-prime
3. Copy backup to Z2
4. Restore backup on Z2 with /home/zulip/deployments/current/scripts/setup/restore-backup /path/to/backup

[2019-05-30 09:14] Hypro999 commented on #9221
@zulipbot claim

[2019-05-30 10:41] coolrockerjoey commented on #7549
I plan on finishing it very soon! :)

[2019-05-30 13:10] Hypro999 commented on #9221
I got Phabricator set up on a virtual box. The main issue now is that Phabricator does not provide a list of possible events, and given the size of Phabricator I'm sure that there are _tons_. So which subset of events should I try generating fixtures for @timabbott and @eeshangarg?

[2019-05-30 13:14] Hypro999 commented on #9221
Also, @isolin, I know that it's been a long while, but do you have a set of events that you'd like to see Zulip support?

[2019-05-30 13:34] YJDave commented on #12304
@zulipbot claim working on first task

[2019-05-30 13:57] Hypro999 commented on #10907
@timabbott why are we trying to generalize this? Each integration/service is unique in it's own way and I don't see the motive here anymore. Yes, there would be slight overlaps between certain integrations, but I'm not sure if it's worth forgoing flexibility by introducing a generalized method/function. In fact at this point, it even seems to be harmful. Due to this lack of understanding of the si

[2019-05-30 17:58] timabbott opened #12446 "Quote-and-reply doesn't handle code blocks properly"
If you use quote-and-reply on a message containing a code block without a language specified, like this one, it doesn't work, because we treat the start-block marker as an end-block marker for the quote:

https://chat.zulip.org/#narrow/stream/49-development-help/topic/Vagrant.20Docker/near/747567

I think there's a few reasonable ways we could handle this:
* Have quote-and-reply generate a "``` en

[2019-05-30 18:08] #12196 closed

[2019-05-30 18:24] timabbott commented on #2004
@punchagan I was thinking about this issue, and maybe it makes sense for the Twitter integration to use a 2-tier approach: If it gets a timeout trying to fetch the tweet the first time, it still adds the messages to the "fetch links async" system, and will try to re-fetch them with a higher timeout?  I don't think it's OK to have a 20s delay before a message is delivered because of previews which

[2019-05-30 18:25] timabbott commented on #1281
I'm going to close this as unlikely to be fixed, since Zephyr is an ever-shrinking community, and nobody's been interested in this after 3 years.

[2019-05-30 18:25] #1281 closed

[2019-05-30 18:36] rishig commented on #12435
yeah, I think it's fine now.

[2019-05-30 18:55] vrongmeal commented on #12435
Yeah sure. I'll get right to it.

[2019-05-30 19:00] timabbott commented on #9221
I would focus on the core things that people care about with any version control system integration:
* Code push
* New pull request
* New issue
* Issue update
* Maybe some other things from `zerver/lib/webhooks/git.py`

I think it's totally reasonable for us to merge an integration that just covers the above, and then get user feedback on what else to add in a later PR (there's no reason the first

[2019-05-30 19:03] #12011 closed

[2019-05-30 19:39] timabbott opened #12447 "Fix "connection refused" error state while run-dev.py restarting"
Currently, in part because of #12095, if you try to reload a Zulip development environment browser window just after making some code changes, you'll often get a "connection refused" error, because the Django `manage.py runserver` webserver isn't started again yet.  This is annoying because you end up needing to manually reload multiple times.

Given that `run-dev.py` is actually a Tornado webserv

[2019-05-30 20:47] rishig opened #12449 "left sidebar: Click target should include whole row."
For streams, the click target includes the whole shaded area. For the four links in the upper left, this seems to not be the case.

[2019-05-30 20:50] vinitS101 commented on #12313
@zulipbot PR is awaiting review.

@timabbott  #12321 is a somewhat smaller PR, and ready for review.

[2019-05-30 20:59] gnprice opened #12450 "Message shown locally as "me message", but not to others"
The logic for just what counts as a `/me` message seems to differ slightly between local echo and the server. Moreover, a message you sent can persist indefinitely in being shown locally as a `/me` message, even as other users see it as a normal message.

Repro:
* Send a message like
[code]
i.e. with a newline.
* It gets displayed like

* Reload the tab.
* Now the message is displayed like

  as u

[2019-05-30 22:47] #10844 closed

[2019-05-30 22:55] eeshangarg commented on #10907
@timabbott: I would actually love to know your thoughts on whether we are doing this for all integrations or just specific ones (which was my initial impression). In terms of quality, I kinda see Hemanth's point that an implementation tailored to specific integrations might be easier to use and more robust. Perhaps we should come up with a general framework that can be used to buttress specific im

[2019-05-30 23:07] timabbott opened #12451 "Add a compose validator for sending to public streams that are not "#test here" on chat.zulip.org"
It's unclear whether we'll want to do this as a more general feature, but we can implement the czo-only version of this as follows:
* Adding configuration for a new UserHotSpot (at the data layer; it won't be displayed as one), perhaps called `compose_public_stream_warning` to keep track of whether we've shown this warning.  It should be initialized to True (already shown) for existing users and f

[2019-05-30 23:25] timabbott commented on #11455
We just merged the search typeahead task here via #12379.  Not too many things left!

[2019-05-30 23:44] timabbott commented on #10907
I guess the two options here are as follows:
1. For each platform with a bad webhook API, integrate a third-party Python API bindings like `python-stripe` (if it exists).  The advantage of this is that we get to use the hopefully nice syntax the library designers created for interacting with the third-party API, which can be nice in the case that we're going to hit a lot of endpoints in the third-

[2019-05-31 00:11] timabbott commented on #12362
I am fine with the dependency; it seems like a reasonably run project. Ideally we'd just use that feature, and not the fully integration to use HStore (which seems to require switching our postgres backend, which sounds like kinda a pain and more invasive than I'd like).  I suppose worst case we can borrow that file, since it seems to have no dependencies on other files in the project.

As a siden

[2019-05-31 01:37] punchagan commented on #2004
@timabbott The 2-tier approach seems promising, and we could give that a shot.  On the other hand, how do you feel about completely dropping the special API based twitter previews that we have, in favour of just using open graph tags to show a preview?  It would also get rid of some setup for server admins - no need to setup Twitter API keys.

![image](https://user-images.githubusercontent.com/315

[2019-05-31 01:49] punchagan commented on #2004
I guess we could add some per-domain customizations for how we embed the data. We could possibly still keep the UI as it is, right now, but the data from open graph tags.

[2019-05-31 04:46] #12322 closed

[2019-05-31 04:53] rishig opened #12453 "setting UI: Custom emoji and Linkifier tables need message when empty."
Here is how they look to guests at least:
![image](https://user-images.githubusercontent.com/890911/58682325-1250b180-833e-11e9-9e97-fd9c806cf674.png)

![image](https://user-images.githubusercontent.com/890911/58682328-17adfc00-833e-11e9-951d-c566428dc6b7.png)

We should just add a string like what we have for other tables, e.g. "You have not uploaded any files" from
![image](https://user-images.g

[2019-05-31 05:00] timabbott commented on #2004
I think the current UI is nicer, and we should potentially keep the custom styling, but I'm fine with using open graph for the data if it means we can get rid of a bunch of annoying API code (and more importantly, a setup step for folks who want Twitter previews).

[2019-05-31 05:07] punchagan commented on #2004
I also think the current UI is nicer. I can look into re-using that with data coming from open graph tags.  Doing linkification of mentions is going to be tricky with open graph tags, though. We could use `@<word>` regex, but it's not fool proof.

[2019-05-31 05:34] PentaHiggs commented on #4836
@zulipbot claim

[2019-05-31 11:22] punchagan commented on #2004
There's a few nice things that can't be done, if we switch to using the data from the open graph metadata.

1. @mentions being links to the profile will be a hack, and just plain words like `@all` may be incorrectly marked as links.
2. Twitter short URLs will be displayed in tweets rather than the actual URLs put into the tweet.

The third, I think, is actually a bug which makes this method quite

[2019-05-31 13:03] alexandraciobica commented on #12365
@zulipbot claim

[2019-05-31 14:37] tcep01 commented on #5200
This feature would certainly expand on the usefulness of an already great tool.

[2019-05-31 14:49] amartin3225 commented on #12380
Not an actual case, just anticipating a potential issue.

[2019-05-31 14:54] amartin3225 commented on #3783
Would this configuration for stream permissions provide an option to only allow the stream admin(s) to invite new users to the stream? I could see that as being a problem in large private streams - currently any member can invite new users which may be undesirable; if instead inviting new users was restricted to the stream admins, that would provide better management of stream membership

[2019-05-31 14:57] amartin3225 opened #12457 "Sync LDAP users before first login"
I would like to be able to subscribe LDAP users to a stream before they login to Zulip for the first time. This is currently not possible since a user doesn't exist in Zulip until he/she first logs in, even if the user is active in LDAP. It would be nice to have an option that populates users in Zulip if LDAP sync is enabled, that way the users would exist before first login and their stream membe

[2019-05-31 15:04] Hypro999 commented on #9221
http://webhook.site/7760feaa-0a45-4e60-94af-ab0e327ae061

[2019-05-31 15:46] hi-ko commented on #11878
I'm not sure if I'm getting it right.
I setup zulip ldap auth in variant (C) as follows:
[code]

I did _not_ setup sync.

One could login either by using a ldap account or by email account from the zulip internal passwords.

What is _not_ working once I activate both authentication systems in the organisation config is the process for invited users. They could set a password following the link in

[2019-05-31 21:54] timabbott commented on #12457
I think this makes sense to support; potentially the right model is to use the `is_mirror_dummy` featureset (or similar) to create shadow accounts?  I'm not sure.

[2019-05-31 22:06] timabbott commented on #11878
As discussed in https://github.com/zulip/zulip/issues/11878#issuecomment-472114829, it will work with any LDAP configuration other than model (C).  The problem is that model (C) doesn't have a way to check whether a given email address is present in LDAP without the changes discussed there, so the security logic has to fall back to assuming every email address is present in LDAP.  So your issue wi

[2019-05-31 22:46] timabbott commented on #3783
I expect that once we have a stream owner concept, there's a bunch of features we'll be transitioning to be doable by the stream owner.  I expect @YJDave will be building the core model for this in the next few weeks.

[2019-05-31 22:47] timabbott commented on #12365
@alexandraciobica in theory that notice should only first if you haven't merged any commits; I'm a bit confused.  @synicalsyntax any idea what's up?

[2019-05-31 22:49] timabbott commented on #2004
Based on that, I think we should probably keep the current integration, though I can imagine something where we do open graph as a fallback if we don't have keys and (2) put some sort of notice on Twitter previews messages with this fallback advertising the nicer integration.  May not be worth spending time on, though.

[2019-05-31 22:58] timabbott commented on #12453
I noticed this as well while reviewing @vinitS101's #12321.  I think this should be pretty simple, since if I recall correctly, we do have a data-layer system for declaring a "no items message", but I'm not sure :).

[2019-05-31 23:13] #9042 closed

[2019-05-31 23:25] punchagan commented on #2004
Yeah, keeping the existing integration makes sense.

Currently, if the keys are missing, twitter URLs don't get any previews. So, doing what you suggest might be good.

Or we could add a link to the docs or a note, in org settings -- next to the flag for URL previews, that says twitter previews need keys. The flag doesn't control those previews, si it might not be a great place to put the note, th

[2019-06-01 00:02] timabbott commented on #2004
We already document it as a top recommended thing to do in server setup; I just worry the actual experience might be worse for folks skipping doing that setup.

[2019-06-01 00:04] timabbott commented on #12450
@aero31aero this is probably a good issue for you to look into.  My guess is this is an issue with local echo not updating the `is_my_message` flag when the messages comes back from the server, combined with a frontend bug in the rendering logic.

[2019-06-01 00:46] #12428 closed

[2019-06-01 05:44] #12313 closed

[2019-06-01 05:53] timabbott commented on #12414
@rossoskull awesome!  I think the description there is reasonably clear as to what needs to happen, at least if you've read our "Writing Documentation" section on ReadTheDocs.

[2019-06-01 06:16] timabbott commented on #11901
@YJDave thanks for the detailed investigation!   I think possibly the bug is that in this block:

[code]

we should be doing a check for whether the bucket is empty; if it is, we should skip it?  E.g.

The other possibility is that in the the message-edit code path (`exports.update_unread_topics`):
[code]

The `del` implementation isn't correctly implemented; in particular:
[code]

should be doing

[2019-06-01 12:14] rabeehrz commented on #6040
Yes, I'm still working on this.

[2019-06-01 12:48] punchagan commented on #9451
I think a bulk of the work for this has been done, and we can close this issue. Any follow up things can come in new issues. #4645 has some good ideas for follow-up things to do.

@timabbott Please re-open if you think shouldn't be closed yet.

[2019-06-01 12:48] #9451 closed

[2019-06-01 13:18] vinitS101 commented on #12449
The behavior is actually pretty weird. The whole row for "All messages" is a click target but the pointer does not change in the empty space.
The other 3 are exactly like you said.

[2019-06-01 13:18] vinitS101 commented on #12449
@zulipbot claim

[2019-06-01 21:53] vinitS101 commented on #12453
@zulipbot claim

[2019-06-01 22:40] whoodes opened #12467 "Reduce the grayscale value of night_pm_bg"
When using night mode, the background color for private messages could perhaps be contrasted better with the text-color and background-color.

A useful quote from the conversation on [czo](https://chat.zulip.org/#narrow/stream/101-design/topic/background.20color.20of.20PMs.20in.20night.20mode/near/746172)

The fix here would simply be to change the color, but this issue could maybe use some though

[2019-06-01 23:59] timabbott commented on #9451
Sounds good!

[2019-06-02 07:31] Xerus2000 commented on #11154
Threaded topics? I think you are misunderstanding the concept of Zulip. This would introduce an additional unnecessary layer of having to check up and parallelised conversations as it is in Slack, exactly what Zulip was built to avoid. If a topic is so large that it would require individual threads, it should probably be its own stream.

[2019-06-02 12:15] foss- commented on #12071
For reference, PR is: https://github.com/zulip/zulip/pull/12413

[2019-06-02 17:56] timabbott commented on #12071
@daschuer we just merged https://github.com/zulip/zulip/pull/12413, so you should be able to use the `+include-footers` option for your Launchpad emails once that reaches production (probably in a day or two).

[2019-06-02 18:06] timabbott opened #12470 "chat.zulip.org planned downtime today"
I'm opening an issue for this just to make sure folks aren't confused by the chat.zulip.org downtime this afternoon; we're upgrading the base OS for that system.  I expect the downtime to start in roughly 3 hours; I'll update this issue when it begins.

(In large part because we want this development system to be testing something close to the default self-hosted configuration, we don't do run cha

[2019-06-02 21:04] GonzRon commented on #11154
@Xerus2000 with all due respect perhaps it is you that does not understand the use cases behind the concepts being espoused in this Feature Request.  Zulip is a project that is bigger than one person's conception of what it should or shouldn't be.  Also, you have the freedom to take the best parts of other software like Slack threads, and improve upon their design and implement them in smarter way

[2019-06-02 21:29] timabbott commented on #12470
Starting the downtime in the next few minutes.

[2019-06-02 22:58] timabbott commented on #12186
It seems like this doesn't have to be inherently broken.  We should be able to use the same high-level strategy used for blockquotes (for example) to produce a block without invalid HTML.

@aero31aero @PentaHiggs this might be something you could help with, since it's likely to be something subtle like the order we runs things in.  The code is in `zerver/lib/bugdown/tabbed_sections.py` and http://

[2019-06-02 23:29] timabbott commented on #12470
Starting the actual downtime shortly.

[2019-06-03 00:07] timabbott commented on #12470
Downtime is longer than I'd hoped to, possibly due to some networking issues with our hosting provider (we successfully upgraded to Ubuntu Xenial, but now no network access to/from the server works).

[2019-06-03 00:32] timabbott commented on #12470
OK, I've confirmed that this is indeed a networking issue with the hosting provider for chat.zulip.org (it can reach its local network but cannot reach systems off its local network, which I'm pretty sure means it's the network's fault).  In parallel with trying to resolve this with the hosting provider, I am attempting to restore the snapshot I took before the upgrade.

[2019-06-03 01:10] timabbott commented on #12470
Service is restored, though we failed to complete the upgrade due to the networking issue described above.

[2019-06-03 01:10] #12470 closed

[2019-06-03 04:33] kanishk98 commented on #4891
Just remembered that I'd committed to working on this (sorry for the slip-up!). I'll set up PyCharm.
@zulipbot claim

[2019-06-03 04:40] kanishk98 commented on #4891
@timabbott it'd be great if you could go through [this JetBrains tutorial](https://blog.jetbrains.com/pycharm/2018/04/running-flask-with-an-ssh-remote-python-interpreter/) and decide if it fits your criteria of a good tutorial as mentioned in https://github.com/zulip/zulip/issues/4891#issuecomment-375489026.

If not, I'd be happy to write some new content.

[2019-06-03 07:52] stephanemagnenat opened #12472 "Sqrt does not render properly on web client"
I am not sure whether I should report problems with web client issues here, but I did not find a specific repository for it.

When typesetting sqrt (e.g. `$$\sqrt{2} > 1$$`) in the web client on the `chat.zulip.org`, the square root does not get rendered properly (it appears for a quick duration and then is not shown). Other signs such as integrate work. I am using Firefox 67.0 on Linux 64 bits.

[2019-06-03 09:54] stone212 commented on #12345
@timabbott

What does this mean?  You keep throwing new things at me without context.

[2019-06-03 14:44] micimize commented on #11154
@Xerus2000 @GonzRon Let's constrain the conversation on threads to #10933. It was only mentioned initially here as a workaround to this (less controversial) feature request

[2019-06-03 14:58] micimize commented on #10933
I think the way to do this would be for a "thread" to just be a new topic with an in-line "thread style" widget as an optional entrypoint. This would eschew a need for a data model change, and let us have our cake and eat it too, UX-wise.

Either the new topic would require a name, or the name could be auto-generated `source-topic/message_number/thread`. You aren't allowed to start a nested thread

[2019-06-03 17:45] Hypro999 commented on #10907
@timabbott, @eeshangarg I agree with this. This would be a better idea IMHO. The reason is that after I began working on the Phabricator integration, I found that trying to formulate a general method or set of methods would be difficult and make me feel extremely restricted especially with APIs like Phabricator's where we would need to contact *several* endpoints in a manner that we can't tie to g

[2019-06-03 19:35] timabbott commented on #12472
This seems likely a bug in the version of KaTeX we're using, probably already fixed upstream.  @tommyip can you test that this is fixed when you do the next KaTeX upgrade?

[2019-06-03 19:57] timabbott commented on #4891
@kanishk98 I don't use pycharm and don't have time to do that sort of setup.  In general https://blog.jetbrains.com/pycharm/2018/04/running-flask-with-an-ssh-remote-python-interpreter/ looks great, and possibly we should just link it and call it a day; but probably better would be for you to go through that tutorial and just see if you run into any issues; if you do, we should probably include not

[2019-06-03 20:05] #12453 closed

[2019-06-03 23:11] whoodes commented on #12426
@zulipbot claim

[2019-06-03 23:21] timabbott commented on #12345
Switched it to something with 1 more step but less assumption of Git/GitHub familiarity.

[2019-06-04 00:26] #8201 closed

[2019-06-04 06:30] #11524 closed

[2019-06-04 06:39] Hypro999 commented on #12092
Sure thing :+1:

[2019-06-04 07:42] #12092 closed

[2019-06-04 09:26] Ak-shay commented on #6512
@zulipbot claim
I have seen some changes in PR #10676
I think no one is working on that

[2019-06-04 10:18] Anty0 commented on #11619
I have encountered similar error, but in my case `fileinfo` mode is: `'mode': 'hidden_by_limit'`
Problem is similar, but reason why file is missing is different...

Can be fixed by modifying line 735:
[code]

[2019-06-04 10:19] Ak-shay commented on #6512
@rishig I have a doubt
In `zerver/lib/actions.py`
[code]
Should we need to change this code such that it mark 920  msgs to read flag, leaving last 80 msgs to unread
like:
[code]
or just mark last 80 msg as unread?

[2019-06-04 16:48] whoodes commented on #12259
@zulipbot claim

[2019-06-04 17:27] gloels commented on #10044
@zulipbot claim

[2019-06-04 19:47] aero31aero commented on #12450
@zulipbot claim

[2019-06-05 00:37] timabbott commented on #12414
Fixed via 3225fd39a5138bc219824b43624cfd818630b637.

@davidtwco FYI, I'd love any feedback on this restructuring.

[2019-06-05 00:37] #12414 closed

[2019-06-05 00:47] punchagan commented on #7549
@zulipbot claim

[2019-06-05 01:09] timabbott opened #12490 "Document all of the features of /etc/zulip/zulip.conf"
We have a bunch of useful configuration tweaks available for running Zulip in production with various parameters tweaked.  While we strive to have good defaults that work for everyone, there's plenty of situations where one might want to tune things differently for an installation.

We have a nice system based on adding things in `/etc/zulip/zulip.conf`; here's some example configuration:
[code]

[2019-06-05 01:33] timabbott commented on #11619
This is fixed in master; we'll be including it in the 2.0.4 release.

[2019-06-05 02:23] rishig opened #12493 "message edit: Topic edit box should have typeahead."
Often when you're changing the topic, you're changing the topic to an existing one.
We just need to add the typeahead we use in compose.

[2019-06-05 03:07] punchagan commented on #7549
@coolrockerjoey Sorry for claiming this issue without asking you before doing so, even though @zulipbot unassigned you only a day or so ago.  I should've may be asked you if you were still working on it.

[2019-06-05 05:05] tommyip commented on #12472
Yep this is fixed in upstream.

[2019-06-05 05:23] tommyip commented on #12419
For this type of scripts, closing the file handler is not terribly important since Python will GC it. But closing it wouldn't hurt either, so feel free to do it!

[2019-06-05 07:08] davidtwco commented on #12414
Looks good to me, @timabbott, thanks for clarifying the processes here.

[2019-06-05 09:03] abhishek125 commented on #11669
@zulipbot abandon

[2019-06-05 10:42] shubhamdhama commented on #12369
Thanks @YJDave for reminding this in PM :)

I don't exactly remember what's the cause of this issue, but always I have these logs in developer console which helps me, this type of thing mostly happens when some other click handler interferes with this (by either stopping the propagation), modal not registered properly. This type of issue I used to solve by writing so many console statements (or tr

[2019-06-05 12:38] kanishk98 commented on #4891
@timabbott after a day of wondering why I couldn't get the linked tutorial to work on my machine, I realised that this capability is limited only to PyCharm Professional Edition (the paid version of PyCharm). I can purchase that with a student account if you think it's required, but I'd like to confirm if I should look for a free way to do this instead.

(Not sure if that exists - I couldn't find

[2019-06-05 16:13] rishig opened #12496 "compose: Only show "New Topic" when in stream or topic narrow."
If you're in All messages, Mentions, Starred messages, or Search, `New topic` doesn't prefill the stream. We should only show "New Topic" if we're going to prefill the stream in the compose box. Otherwise we should show "New stream message", similar to what we show for PM narrows.

Possibly the only thing that has to change is this logic in `narrow.js`, as well as one more reference to `update_clo

[2019-06-05 16:21] rishig commented on #4891
I think you can get it for free if you're using it to work on an open source project?

Otherwise I think we can just link to the tutorial, say you need PyCharm professional, and that we haven't tried it but if you do let us know and we'll update this doc.

Thanks for the investigation!

[2019-06-05 17:30] crazee881 opened #12498 "private conversation randomly scrolls up"
Couple of times a day it happens that in a private conversation the content suddenly scrolls randomly up.

This unfortunately is hard (or even impossible) to reproduce but is there anybody who is experiencing the same problem? We are at least two.
AFAIK it happens when
1) receiving a new message at the time the given conversation is showing
2) switching to zulip with alt+tab
3) sending a message

[2019-06-05 18:09] timabbott commented on #12498
This is definitely a webapp issue.  This could match the issue here: https://github.com/zulip/zulip/issues/12067#issuecomment-491406355

which we're hoping to fix in the next couple weeks (it's fairly complex).

[2019-06-05 18:55] rishig opened #12500 "email: Use -showsender instead of +show-sender for stream email options."
A thought while looking at https://github.com/zulip/zulip/commit/e4138c5463a7d86aced0c4710be60e126d1c8eaa -- Google groups silently drops anything after the `+`, so we should move to a `-` notation. In particular,
`-includefooter` (no `s` at the end) and `-showsender`.

[2019-06-05 19:06] timabbott opened #12501 "Improve placement of rate-limiting for email mirror"
We had our first application of the new email mirror rate-limiting in production. Unfortunately, it only sorta worked.  We indeed rate-limited messages from the offending sender, however, because the flow is:

(1) The code in postfix config's master.cf causes postfix to invoke a new copy of scripts/lib/email-mirror-postfix
(2) scripts/lib/email-mirror-postfix does an HTTP POST to /email_mirror_mes

[2019-06-05 19:19] timabbott opened #12502 "Use new optimized data set for populating "private messages" in left sidebar"
Since we merged https://github.com/zulip/zulip/pull/11946, it should now be easy to significantly improve the data set used for rendering of the "private messages" by using the same ~1000 recent PMs of history data set available in `/register` (`page_params` in the webapp) that we made available for mobile.

We'll need to remove this temporary block from `always_want` in `zerver/lib/events.py`:
`s

[2019-06-05 19:24] vinitS101 commented on #12502
@zulipbot claim

[2019-06-05 19:33] rishig opened #12503 "right sidebar: Creating a new Group PM doesn't update the Group PM section."
To repro: Send a Group PM to (say) Aaron and Cordelia

Expected behavior is that the bottom right will look something like
![image](https://user-images.githubusercontent.com/890911/58984456-fa3dbf80-878d-11e9-98af-950cf68633aa.png)

Current behavior is that the `aaron, Cordelia Lear` line doesn't show up until you refresh.

[2019-06-05 19:52] YashRE42 commented on #11752
@zulipbot claim

[2019-06-05 19:55] timabbott commented on #12498
Thought #12067 is something that happened at least 10x less than this, and in a different context, so I'm a bit skeptical it's the same issue.  @crazee881 what server version are you using?

[2019-06-05 20:18] vinitS101 commented on #12496
@zulipbot claim

[2019-06-05 20:56] crazee881 commented on #12498
both of us updated the desktop version to v3.0.0 but the issue remains the same.
Our server version is 2.0.3
I managed to record the bug after all, in case it might help: https://youtu.be/TBY_736114s

[2019-06-05 22:52] rishig opened #12505 "docs: Add developer documentation for our markdown tab switcher."
We have a new tab switcher that you can see at https://zulipchat.com/help/logging-out. Would be great to add this to our list of features at https://zulip.readthedocs.io/en/latest/documentation/user.html#features.

You can see how it works by looking at the source (`git ls-files | grep logging-out`).

We also use the tab switcher box for lists of instructions that only apply to one platform, but i

[2019-06-05 23:02] timabbott commented on #12498
OK, great; based on that, this could actually have the same root cause as #12067.  I think it'd make sense to do the fix for that issue and then see if this is resolved.

[2019-06-05 23:57] rishig commented on #12353
Hi @Shipow, @s-pace, thanks for reaching out! This potentially looks great. The demo seems to not be working any more; any chance you could put it back up for a few days?

(The link works, but then using the link to search doesn't seem to do anything.)

[2019-06-06 00:08] timabbott commented on #12500
@mateuszmandera can you take care of this?

[2019-06-06 00:20] timabbott commented on #12419
Yeah, feel free to migrate these to use `with`.

[2019-06-06 01:01] rishig commented on #10886
Is it worth opening another issue for "don't mark messages as read in search"? That and mobile unreads view car be independent efforts.

[2019-06-06 01:05] rishig opened #12507 "compose: Prepopulate the streams field if user only has one stream."
This is potentially a decent fraction of users, since new organizations only have 1 public stream by default, and also eventually we'll have a single-stream guest concept.

[2019-06-06 01:09] rishig commented on #11832
Removing some tags, in light of https://chat.zulip.org/#narrow/stream/49-development-help/topic/dropdown.20stream.20box.

[2019-06-06 01:12] rishig commented on #11682
The dropdown idea ended up being more work than we can handle right now. Reopening.

Also edited the issue a bit in light of discussion at https://chat.zulip.org/#narrow/stream/49-development-help/topic/dropdown.20stream.20box.

[2019-06-06 03:16] rishig opened #12508 "left sidebar: Increase thickness of hover."
This is a regression from the left-sidebar refactorings we did a few months ago, but I didn't get a chance to write it up.

I've overlaid the hover from hovering over two adjacent streams:

![image](https://user-images.githubusercontent.com/890911/59004359-385ad380-87ce-11e9-84e4-e3b8dc819117.png)

There should be no gap -- the click targets and hover highlight should extend to cover the gap. I th

[2019-06-06 07:06] s-pace commented on #12353
@rishig sorry I have disabled it, should works now:

https://docsearch-zulipchat.netlify.com/

[2019-06-06 08:23] YashRE42 commented on #12369
@YJDave I don't think this is the case, I can reproduce this @ HEAD~200 ...

I'll do some more testing to see if I can find a commit where this bug isn't present, because we could `bisect` from there and find the source of the regression.

[2019-06-06 10:01] mateuszmandera commented on #12500
@rishig @timabbott  Using `` . `` instead of `` + `` was already supported when I started changing that code, and I kept that support:
In `` decode_email_address ``:
[code]

Also tested:
[code]

So ``.show-sender `` `` .show-footers `` work. Do we want to keep the dot notation, or change to  `` - `` ? I'll make a quick commit to have "footer" instead of "footers" for now.

[2019-06-06 10:19] mateuszmandera commented on #12500
Made a PR for the renaming.

[2019-06-06 16:14] punchagan commented on #4685
@zulipbot claim

[2019-06-06 17:13] rishig commented on #12500
I think `-` is a bit nicer, but also fine with leaving it as `.show-sender.show-footer` if that's what we've already been using.

[2019-06-06 17:16] YashRE42 commented on #12369
All I've been able to figure out is that this still exists at master~1000. Haven't been able to find a commit where this has been working as intended.
Going to try a different debugging approach.
Commit that originally added this modal is 9c8865ba766c7295caed9c972257b47e039bfa33

[2019-06-06 19:01] rishig opened #12516 "webhooks: A few minor improvements to the stripe webhook"
Now that we've used the stripe webhook for a bit, a few improvements:
- [ ] For `invoiceitem.updated`: If the only thing that's updated is the Invoice, we should suppress it
- [ ] For `invoice.updated`: If amount paid is non-zero, amount remaining is 0, and status is paid, the message should just be "[Invoice] is now paid"
- [ ] For `invoice.updated`: Suppress "status transitions" and "payment int

[2019-06-06 19:40] rishig opened #12518 "message feed: Add a recently read state."
Currently Zulip has two unread states: read, and unread.
Several chat products have three unread states: read, recently read, and unread. We should adopt a similar middle state as well.

The middle state is nice for a few reasons:
* When you land on a narrow, it's clear where the "new" messages start, even if the product has already marked everything in the view as read.
* Zulip's unread markers a

[2019-06-06 19:56] rishig opened #12519 "left sidebar: Add some space below "Add streams"."
It's hard to scroll to it in the left sidebar because it overlaps the area the browsers use for URLs of links you've hovered over.

You can check the amount of space we used to have there before we added "+ Add streams", and just copy that.

[2019-06-06 20:40] timabbott opened #12521 "Improve validation of our OpenAPI declared arguments against reality"
Something that's incredibly valuable in maintaining API documentation is making sure that we keep it up to date as the API changes.  Our API documentation isn't complete yet (see https://github.com/zulip/zulip/issues/10044), but in 1de4b94fbe04e57c5959001ec8e881f36718cb15 I added an automated test that does a comparison between our API documentation and the actual arguments declared in our view fu

[2019-06-06 20:54] timabbott opened #12522 "Loading indicator for fetching more messages does not have a night theme variant"
Zulip's night theme ("display settings") apparently doesn't override the styling for the loading spinner for more messages (Which spins around the "Z" at the top of the message feed), making it basically invisible.  It's easy to reproduce on chat.zulip.org; in a development environment, I'd recommend using `./manage.py populate_db -n5000` to make it easy to trigger repeatedly (by rebuilding the te

[2019-06-06 21:15] timabbott commented on #12519
@alexandraciobica this is likely a good issue for you.

[2019-06-06 21:16] timabbott commented on #12519
611f1f8fd20af1a138cceb1fcf94d8a8a4a8ac9e is the commit that added this.  Could also be a good @vinitS101 project.

[2019-06-06 21:47] #12426 closed

[2019-06-06 22:01] timabbott commented on #12369
Thanks for debugging this @YashRE42!  @shubhamdhama @YJDave @pragatiagrawal31 https://github.com/zulip/zulip/pull/12517 is worth a read, because this is a pretty common category of bug to accidentally introduce and then someone else spends a day debugging it a year later.

[2019-06-06 22:04] rishig commented on #12353
cool! We'd be interested in discussing next steps. What's the best way to proceed?
Email (support@zulipchat.com) or live chat (at chat.zulip.org) both work for us.

[2019-06-06 22:35] timabbott commented on #12518
Some notes on how this should work technically:
* This is a frontend-only feature, because all the necessary data is there in the frontend already.  The webapp should be able to set this in the `message_list_view` rendering logic by just looking for the first unread message in the messages it has available, and setting a bit on that to trigger the divider bar.  Some reading of the existing logic f

[2019-06-06 23:36] #12345 closed

[2019-06-06 23:38] timabbott commented on #12345
This fix will be in the 2.0.4 release.

[2019-06-06 23:43] #12114 closed

[2019-06-07 00:15] timabbott opened #12523 "Fix LastPass inserting the user's password into the DOM in our API key form"
LastPass will aggressively insert the user's password into any HTML field with the "password" format.  This potentially means that our `#settings/your-account` features which have the user enter a password might have the password automatically entered by LastPass even when those parts of our forms are hidden (but still in the HTML).  What I'd like to do is move the form containing `#get_api_key_bu

[2019-06-07 03:56] rishig opened #12524 "settings: Name change restriction help icon appears regardless of org setting."
- [x] On https://chat.zulip.org/#settings/your-account, the question-in-a-circle should not appear unless https://zulipchat.com/help/restrict-name-and-email-changes is set.

![image](https://user-images.githubusercontent.com/890911/59080383-4c213b00-889d-11e9-8ba0-16a541304961.png)

Labeling as priority since this is something users may see pretty early in their use of Zulip.

- [x] One other thin

[2019-06-07 05:12] YJDave commented on #12369
@YashRE42 thanks for debugging this. Yes, we will be really careful onwards to prevent bugs like this one.

I mean #12394 seems like recent regression.

[2019-06-07 05:13] rishig commented on #12369
There is still a bug I think, which is that if you open this modal, and then click the `x`, you can't click `[Change]` anymore.

[2019-06-07 05:54] carpecodeum commented on #12508
@zulipbot claim

[2019-06-07 05:55] carpecodeum commented on #12508
@zulipbot i have accepted the invite can i claim this issue now?

[2019-06-07 06:04] Shipow commented on #12353
@rishig It's a great news, once you are convinced, the next steps are pretty straight forward :)

- you need to [submit a request on this form](https://community.algolia.com/docsearch/#join-docsearch-program) (so we attribute an owner to the configuration)
- then we send you the snippet, credentials and access to analytics for your team.

[2019-06-07 06:32] vinitS101 commented on #12411
@zulipbot pushing a WIP PR soon.

[2019-06-07 08:32] hackerkid commented on #4891
Yeah. Also isn't PyCharm free for students?
https://www.jetbrains.com/student/

[2019-06-07 12:47] kanishk98 commented on #4891
Yeah, I was just asking if it was the best idea to include a generally paid option on our docs.
I'm downloading the Pro edition right now, will check the flow on my end once and update you.

Thanks for the help!

[2019-06-07 14:16] punchagan commented on #3354
@timabbott #4030 tried to address this, and a few of the changes were merged. Do we still want to keep this issue open, or are we happy with the PR template?

[2019-06-07 14:41] alexandraciobica commented on #12522
@zulipbot claim

[2019-06-07 14:42] rishig commented on #4891
I tihnk it's not ideal, but also not a big deal in this case. We can mention that it's free fro students and if you're using it to work on FOSS.

[2019-06-07 14:55] rishig commented on #12353
Done!
Would we have access to analytics if we eventually end up running our own instance (as per https://community.algolia.com/docsearch/run-your-own.html)?

[2019-06-07 15:17] punchagan commented on #4321
#11433 implemented the UI. Closing this.

[2019-06-07 15:17] #4321 closed

[2019-06-07 15:24] Shipow commented on #12353
Unfortunately you would have a shorter retention period, except if you go for a paid plan. DocSearch is running on a dedicated Enterprise cluster which is allowing us to provide our user with 1 year of stats analytics (for free).

[2019-06-07 15:54] punchagan commented on #4315
#10662 fixed the last problems with the switch. Closing this.

[2019-06-07 15:54] #4315 closed

[2019-06-07 16:15] rishig commented on #12353
Got it. Three things:
* The help pages for our zulipchat.com organizations are actually hosted at URLs like example.zulipchat.com/help. There is the main zulipchat.com/help as well, but that's just for logged out users.
* Most Zulip users actually run Zulip on-premise (on their own installation). Ideally we'd be able to provide something for them as well.
* Eventually we'd like to build an in-prod

[2019-06-07 16:18] vrongmeal opened #12528 "css: Use SCSS nesting in stylesheets."
Creating this issue to keep track of all the stylesheets refactored using SCSS nesting.

- [ ] `static/styles/portico/activity.scss`
- [ ] `static/styles/portico/archive.scss`
- [x] `static/styles/portico/billing.scss`
- [ ] `static/styles/portico/integrations_dev_panel.css`
- [x] `static/styles/portico/integrations.scss`
- [ ] `static/styles/portico/landing-page.scss`
- [x] `static/styles/portico

[2019-06-07 16:18] vrongmeal commented on #12528
Next target: `lightbox.scss`

[2019-06-07 16:29] punchagan commented on #4907
This issue can be closed now, I think? :thinking:

[2019-06-07 16:46] timabbott commented on #12528
I checked off user_circles.scss since there's nothing to do there.

I wonder if it would be helpful to move the files that are not part of the main app's CSS (portico, stats, activity, etc.) to a subdirectory `portico/`, like we've done for JavaScript?  I think that might help make it clear which pieces are irrelevant if you're looking at the logged-in app codebase.

[2019-06-07 16:52] timabbott commented on #3354
I've been reasonably happy with this template addressing the problems we used to have in people leaving off important details while being brief (reminding folks to comment on their testing strategy, and post screenshots).  So yeah, we can close.

[2019-06-07 16:52] #3354 closed

[2019-06-07 17:12] vrongmeal commented on #12528
Yeah we could do that. I'll submit a PR for the same

[2019-06-07 17:45] #12522 closed

[2019-06-07 18:20] kanishk98 commented on #4891
Alright, great.
So I tried out the steps in the post I linked above, and turns out that most of that stuff is unnecessary. We don't have to configure a remote interpreter at all, just add a remote host through `Tools > Deployment > Configure`.
And then we can simply edit and save files directly on the remote machine. We can also start a remote SSH session through the deployment menu to get a termi

[2019-06-07 18:36] punchagan commented on #5242
Duplicate of #6296. Closing the first created issue, instead of the issue created later, since it has a better description and an idea for handling it at the backend along with a front end fix.

[2019-06-07 18:36] #5242 closed

[2019-06-07 18:50] punchagan commented on #5262
Closing as duplicate of #6605

[2019-06-07 18:50] #5262 closed

[2019-06-07 18:55] punchagan commented on #6847
See also the notes in #6296

[2019-06-07 19:10] punchagan commented on #6949
Short name doesn't seem to have been used for implementing the feature making email addresses private. Do we want to remove the short_name field?

[2019-06-07 19:11] rishig commented on #4891
Great! Once we have the text it'll be easy to move it around, so I'd just put it on this page for now.

[2019-06-07 19:41] mateuszmandera commented on #12501
@zulipbot claim

[2019-06-07 20:08] Shipow commented on #12353
- There is not problem to index and serve resources from several domains with DocSearch, we just need to edit the public config file together fo fit your needs.
- Your users could definitely call your DocSearch index from their own instances.
- You sould have many options to build a good chatbox with Algolia as well and yes, you could also use this same DocSearch index from it.

[2019-06-07 20:44] #4685 closed

[2019-06-07 22:39] rishig commented on #12518
@vaibhavsagar would you be interested in working on this? It might relate to your other message feed work.

[2019-06-07 22:46] rishig opened #12532 "scrollbar: Change scrollbar color for scrollbars on the left and right sidebar."
The color of all the scrollbars in the app was recently changed (last few weeks). I think this was a great change for the modals, /help page, and other non-main-app scrollbars, but it's too bold for the main logged in page. E.g. typing `n` causes my eyes to jump to the scrollbar now.

It would be great to just change it back to the previous color, for the Streams, Users, and Group PM scrollbars. (

[2019-06-08 10:04] punchagan commented on #7517
It looks like `event.code` is not supported in IE: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code#Browser_compatibility.

[2019-06-08 10:12] punchagan commented on #8108
@rishig @gnprice Can this be closed?

[2019-06-08 10:21] punchagan commented on #8149
Closing as duplicate of #2629

[2019-06-08 10:21] #8149 closed

[2019-06-08 10:34] punchagan commented on #8177
It looks like this bug still exists even with Thumbor PR completed.

[2019-06-08 10:38] punchagan commented on #8191
Closed in #12142

[2019-06-08 10:38] #8191 closed

[2019-06-08 10:57] punchagan commented on #8933
This issue should be moot with our move away from `perfectScrollbar`?

[2019-06-08 11:30] punchagan commented on #9020
This issue has unfortunately been open for an year, now. I wonder if we still want to restore the `C` shortcut? Or if most users have already had their muscle memory change.

[2019-06-08 11:35] punchagan commented on #11915
Also related #8951

[2019-06-08 11:40] punchagan commented on #9031
Duplicate of #3813. @HarshitOnGitHub 's old PR is #4065

[2019-06-08 11:40] #9031 closed

[2019-06-08 11:41] Hypro999 commented on #12516
@zulipbot claim

[2019-06-08 12:07] punchagan commented on #5146
Duplicate of #9165. Closing older issue in favor of new one because it has more GitHub activity.

[2019-06-08 12:07] #5146 closed

[2019-06-08 12:08] johnfdepop commented on #12249
@zulipbot claim

[2019-06-08 12:26] YashRE42 commented on #12369
There's also a bug that if you click change and save, then you have to click on the body once before any other click's work.

[2019-06-08 12:27] punchagan commented on #9471
@whoodes this issue may be up your alley

[2019-06-08 12:43] ruchit2801 commented on #12249
Hey @johnfdepop! There is a significant amount of work already done on this issue in #12298. Can you pick something else to work on? Or if you are interested, you can work on the following part for this issue, which is not covered in #12298.
We need to display `primary_admin` field in user roles in the settings section. We'll also want to add the following models.
 (1) Warn the primary admin about

[2019-06-08 12:45] punchagan commented on #9819
Duplicate of #7517

[2019-06-08 12:45] #9819 closed

[2019-06-08 12:46] johnfdepop commented on #12249
Hi @ruchit2801, sure I'll have a look at the other open issues. Very new, so looking for something small and fresh. All the best.

[2019-06-08 12:47] johnfdepop commented on #12249
@zulipbot abandon

[2019-06-08 14:40] rishig commented on #8108
yeah, there's lots of billing work to do, but the things listed in this issue have been done.

[2019-06-08 14:40] #8108 closed

[2019-06-08 17:31] daschuer commented on #12071
Is this patch now included at https://mixxx.zulipchat.com?
Where can I set this new option?

[2019-06-08 18:49] punchagan commented on #10148
Duplicate of #10038

[2019-06-08 18:49] #10148 closed

[2019-06-08 19:00] rishig opened #12537 "portico: Figure out why /apps screenshots look blurry."
The screenshots at e.g. https://zulipchat.com/apps/linux don't look crisp, even though the underlying `.png` files look crisp enough. (I'm on a non-retina screen; possibly it looks the same, worse, or better on a retina screen).

Not sure what the best practices here are. The png files are generated from an svg, so there is some flexibility. Possibly we should just have a fixed image size, and exp

[2019-06-08 19:28] punchagan commented on #10635
Related to #8857

[2019-06-08 21:53] vinitS101 commented on #12496
`compose.update_closed_compose_buttons_for_private()` also changes `New private message` to `New conversation`. This change is meaningful when in PMs, but do we want the same thing in Starred/Mentions narrows?
If not, which I am guessing is the right choice here, we'll have to add a new function(s) to handle these specific cases.

[2019-06-09 00:26] rishig commented on #12496
btw, #12491 may also be a relevant piece of context (or not, not sure)

[2019-06-09 02:31] punchagan commented on #11042
Seems like a duplicate of #6027

[2019-06-09 02:54] whoodes commented on #9471
This was on certainly on my radar, thanks for the ping @punchagan! Adding it to my GitHub project... :)

[2019-06-09 03:02] punchagan commented on #9902
Closing as duplicate of #11440. (Keeping newer issue since it has some more investigation notes, than this one)

[2019-06-09 03:02] #9902 closed

[2019-06-09 03:09] thedeveloperr commented on #12424
Still working

[2019-06-09 06:25] thedeveloperr commented on #12328
Still working on this.

[2019-06-09 11:59] Hypro999 commented on #12516
@rishig could you please explain this a bit? If the invoice was updated, then wouldn't the event be of the `invoice.updated` type? Are you referring to some other kind of attribute?

[2019-06-09 12:41] priyank-p commented on #12537
If you click on `Open Image in New Tab` (atleast in chrome) the quality of image is great as expected but the size is too large (2299 x 1279). The size of container that holds the image on the website is almost quarter of the image size and for me the whole viewport is 1530px wide and the width of the image is 718px. So I think the best way to try to fix this issue is to make the screenshots you g

[2019-06-09 13:42] punchagan commented on #10135
@zulipbot claim

[2019-06-09 15:32] rishig commented on #12537
Do you know if one needs the image to be large for retina displays?

[2019-06-09 17:04] rishig commented on #12516
yeah, so the invoiceitem object has an invoice attribute. Here is an example of what the message looks like:
![image](https://user-images.githubusercontent.com/890911/59161932-b3a5d900-8a9d-11e9-96ce-3b9fafbf2fdb.png)

My guess is we just need to add this to the blacklist:
[code]

I can send sample webhook payloads over PMs (might not be till later today pst).

[2019-06-09 17:23] Hypro999 commented on #12516
Cool, and yes, as you said, just adding 'invoice' to the blacklist list should probably be enough. Thanks for clarifying!

[2019-06-09 18:22] priyank-p commented on #12537
Hmm, I don't think it needs to be larger to look better for retina displays. It needs to have higher dpi to look better for retina displays. For example, there could be an image of size 150px x 150px with 150dpi or 300dpi.

Depending on what software you use to generate the image there is a setting to check and set dpi, usually, it is called resolution (just google it). Higher dpi image is also si

[2019-06-09 23:30] andersk commented on #12537
For an image shown with a known size or a small number of known sizes (as measured in CSS px), you can use `srcset` to serve images at the appropriate resolutions for retina displays. However, these particular screenshots are shown with `width: auto` inside a flex layout that resizes with the browser, so resizing from a much larger image is the best we can do. The tricks required to make text look

[2019-06-10 00:37] rishig opened #12541 "settings: Add backend and UI for restricting setings by plan type."
Zulip supports restricting settings by Realm.plan_type. Currently some settings are already restricted (e.g. ability to upload a wide organization logo is restricted if plan_type == LIMITED), but we don't display this to the user in the settings UI.

We'll start by fixing this for wide organization logo.

There are a few parts to this
- [x] Add two page_params variables
plan_includes_wide_organiza

[2019-06-10 02:06] whoodes commented on #9471
@zulipbot claim

[2019-06-10 04:11] rishig commented on #12537
Interesting, thanks! Would using a vector image be a possible solution?
Or next time we design this page we can just make sure it works with a small number of fixed image sizes.

[2019-06-10 05:57] Hypro999 commented on #12541
@zulipbot claim

[2019-06-10 06:47] andersk commented on #12537
Merely using a vector image wouldn't make a noticable visual difference (although it might be more efficient in terms of download size and memory usage). It’s possible that a vector image with text displayed using webfonts would look better, but whether that can be done depends on how the screenshots were generated, and I’m not sure if browser support is good. You say these came from svg files—whe

[2019-06-10 06:50] Hypro999 commented on #12541
For anyone wondering why we need to create new variables instead of just using `page_params.realm_plan_type` it's because handlebars, unlike Jinja or the Django template language, does not allow testing things like equality in its "if" conditional blocks (as of now anyhow). So we need a boolean variable to work with and hence the need for `plan_includes_wide_organization_logo`.

We could avoid usi

[2019-06-10 11:56] YashRE42 commented on #12394
@YJDave are you on upstream master?

I've failed to reproduce on firefox/ubuntu
![image](https://user-images.githubusercontent.com/33805964/59193875-c1925180-8ba4-11e9-8867-b32694ba5049.png)

[2019-06-10 11:59] YashRE42 commented on #12369
Actually, I can't reproduce what Rishi is saying exactly, but what I'm getting is that click becomes unresponsive for 2 or 3 clicks after closing the modal, If I move the mouse a bit and try the [change] again, it does work. hmm...

[2019-06-10 14:37] YJDave commented on #12394
@YashRE42 I can still reproduce this on master.
![image](https://user-images.githubusercontent.com/25907420/59202976-45efcf00-8bbb-11e9-8a80-732ac2be0bfd.png)

It is probably then but with Chrome on MacOS.

[2019-06-10 16:56] vrozkovec commented on #11773
@punchagan please have a look at the screenshot below. What is also annoying is generating previews when someone quotes your text. Sometimes I have to search for what the other person actually said.
And also as you can see, previews just clutter the stream.

![zulip](https://user-images.githubusercontent.com/135681/59211822-1f2c9b00-8bb1-11e9-8db0-ca2d27939a5d.png)

Thanks for looking into it!

[2019-06-10 17:24] itsalexschwartz opened #12550 "Zulip drafts discarded when wifi drops"
When wifi drops out while working in the OSX Zulip client, a refresh occurs and any WIP drafts are discarded. Video showing the issue here: https://www.dropbox.com/s/2r5xz7x64yytncn/zulip_deletes_drafts.mp4

[2019-06-10 18:15] amartin3225 commented on #5099
The ability to mute Group PMs or leave group PMs (similar to how you would leave a stream) would be very useful to my organization. The use case for this would be if someone initiates a Group PM with a number of people but it turns out that the topic is only relevant to a subset of people. The others who were initially invited currently have no choice but to receive the messages and notifications

[2019-06-10 18:16] amartin3225 commented on #1555
This would be very useful for my organization; is there an ETA or has any progress been made on adding support for streams in PMs? Since 1-on-1 PMs are pretty easy, maybe implementing that part of it first would be possible? I can see a strong use case for topics in 1-on-1 PMs but less of a use case in Group PMs.

[2019-06-10 19:19] Arpitpundir commented on #12505
can I work on this one?

[2019-06-10 19:37] priyank-p commented on #12537
Well, `srcset` doesn't make things better for retina screens. To make things better for retina screens first you will a high pixel density image, since these images are generally larger in size and it is a waste to send them down to devices that don't support them, there is a convention to add `2x` to signal it a high res image. Then you use something like:
[code]

to detect if the device supports

[2019-06-10 19:39] YashRE42 opened #12552 "draft UI regression (can't scroll to oldest drafts)"
I saw this on CZO and managed to reproduce on upstream master. I can see it if I open drafts and have enough of them that I need to scroll down. The bug is that I'm not able to see the bottom-most draft.

![image](https://user-images.githubusercontent.com/33805964/59221181-4f416180-8be4-11e9-918e-79ea19bc3cf6.png)

I'll update here if I can bisect this.

update: I see this on master~1000, so I don

[2019-06-10 19:55] carpecodeum commented on #11453
@zulipbot is this issue still open?

[2019-06-11 03:23] JonathanLindsey commented on #6027
@janning Here's the issue you were looking for https://github.com/zulip/zulip-mobile/issues/3473. There is actually a way to mute a topic from the app like cyphase said on May 10th 2019 in that issue.

By the way I am for the feature of this issue #6027.

[2019-06-11 04:11] whoodes commented on #11453
Hey @carpecodeum zulipbot won't be able to help in this case. You'll need to discuss with the individuals involved :) However, it does look this has been worked on recently.

[2019-06-11 04:17] YJDave commented on #11453
@carpecodeum Issue is still open and there is WIP for issue in #11783 which requires some changes, which are posted in PR. If you are willing to work, probably a good to start on top of #11783

[2019-06-11 05:49] janning commented on #6027
Thanks, @JonathanLindsey !  It was a helpful tip from the future.  I empathize with the discussion in that thread: The topic mute feature on mobile is difficult to get to, unintuitive, and can't be undone (via mobile).

Currently, the long press on the master list of topics (under each stream) doesn't do anything, so that might be an option to consider attaching the mute/unmute feature to instead.

[2019-06-11 11:11] rishig commented on #12541
The reason to have the string in the backend is that we're pretty soon going to have multiple paid plan types, and the string will depend on which plan type the feature is in (so the conditional for the string will also become too complicated for handlebars).

[2019-06-11 11:19] rishig opened #12553 "settings: Change 24-hour time setting to a dropdown."
The label `24-hour time (17:00 instead of 5:00 PM)` is very 12-hour centric.
Instead the label should be `Time format`, and it should be a dropdown with options `12-hour clock (5:00 PM)` and `24-hour clock (17:00)`.
The setting is in Display Settings.