[2020-09-09 05:24] PawBud commented on #16081
ohh no I totally understood what we are trying to do, its just that I am not sure how to do them.

[2020-09-09 13:34] Gittenburg commented on #15946
@sumit-kushwah which part of this issue do you want to work on?

[2020-09-09 23:07] Pugio commented on #16315
Go for it, and thank you! Let me know if you'd like comments or help.

[2020-09-09 23:10] timabbott commented on #11618
We'd love feedback from users interested in this feature on some details, specifically on whether a 1-button design is better or we want a menu where users could (say) pick one of multiple options:

https://github.com/zulip/zulip/pull/16308#issuecomment-689870009

[2020-09-10 02:11] Amitsinghyadav commented on #15977
@zulipbot  claim

[2020-09-10 04:10] kanishka-azimi opened #16322 "agpl?"
I know this is a big topic, but just noting my individual preference for using agpl projects. I am using mattermost for now, but if zulip changes licenses at some point in the future, I will switch to zulip. Feel free to close this.

[2020-09-10 05:18] Gittenburg commented on #16322
Can you explain why you prefer the AGPL?

[2020-09-10 06:05] kanishka-azimi commented on #16322
It can be a huge topic and people have written interesting arguments on both sides of permissive vs copy left. For me personally, the first metric of community health is a wide group of contributors, and not too centralized in ownership/control. After, I look for a copy left license to align with systems that aren't open to future exploitation to invade users privacy within the product or within a

[2020-09-10 06:23] Gittenburg commented on #16322
Well, Zulip has over 600 contributors and is privacy respecting in the sense that you can host it yourself with sovereignty over your own data (and I am very certain that this won't change).

[2020-09-10 06:32] kanishka-azimi commented on #16322
Yes. Zulip looks pretty healthy. Just wanted to register my note, but don't want to keep this cluttering the backlog, will close for now, feel free to reopen at a later point if this becomes an active area of research.

[2020-09-10 06:32] #16322 closed

[2020-09-10 07:03] andersk commented on #16322
I’m not qualified to provide legal advice, but my understanding is that Zulip’s current Apache 2.0 license is strictly more permissive than the AGPL, and you can do anything with Zulip that you would be able to do under the AGPL—including relicensing it under the AGPL yourself, if that’s what you want to do for some reason.

I note that Mattermost is [dual-licensed](https://github.com/mattermost/m

[2020-09-10 09:11] Gittenburg commented on #16315
I think changing `topic:` to do contains instead of equals is a bad idea because it means we can no longer do searches in a specific topic (because we will also get results from other topics that have the same name with a prefix / suffix).

If you click in the header while viewing a topic you get a search that searches for topics within the current topic:

![image](https://user-images.githubuserco

[2020-09-10 09:45] davidtwco commented on #11618
I think it'd be preferable to have a drop-down - in the rust-lang Zulip, it's common to sometimes use [Compiler Explorer](https://rust.godbolt.org/) over the [Rust Playground](https://play.rust-lang.org/) to run examples because it lets you change the compiler flags - so being able to configure multiple sources for a language would be awesome.

[2020-09-10 13:25] robertylewis commented on #11618
This feature looks great!

In principle Lean has multiple web editors. In practice people should always use this one: https://leanprover-community.github.io/lean-web-editor/ (I didn't look at which one is hardcoded in the PR). But there's a new version of Lean on the horizon and a potentially long transition period, so I can imagine we'd want multiple options then.

Being able to set the leanprove

[2020-09-10 13:49] hackerkid commented on #16310
Closing this, since this can be enabled from the Stripe dashboard.

[2020-09-10 13:49] #16310 closed

[2020-09-10 13:52] kanishka-azimi commented on #16322
Agreed on those points and the worst case has happened for copyleft licensed products like rhodecode (https://sfconservancy.org/blog/2014/jul/15/why-kallithea/). I just like when the community is working under the assumption that proprietary modification should be prevented by default. I don't want to use something that could currently be folded into Microsoft Teams or a Google product. Dual licen

[2020-09-10 16:19] aryanshridhar opened #16323 "Feature request : Add a Preview button while writing a message"
Hey Everyone , Was wondering while writing a message to add a <code>Preview</code> button to the existing <code>ComposeBox</code> so that to read the message from the receivers perspective before actually sending it . (Similar to that of Github while writing a message) .

The current way of doing so it to forcefully save it as a draft and then take a look at it in the drafts section before sending

[2020-09-10 17:56] codesankalp commented on #16215
Please review this issue

[2020-09-10 19:36] timabbott commented on #16323
This already exists.  See https://zulipchat.com/help/preview-your-message-before-sending.

[2020-09-10 19:36] #16323 closed

[2020-09-10 21:19] kanishka-azimi commented on #16322
On an aside, it would be interesting to see you all develop a small visualization of how decentralized a given git repo is with respect to commit history. Something that summarizes how much contribution is made by how many people, with the contributions grouped by orgs and individuals, in a single live graphic/chart. It takes too much time to decipher that from Github insights on commit activity.

[2020-09-10 21:49] brechin commented on #11440
https://apps.google.com/intl/en/meet/pricing/
![Screen Shot 2020-09-10 at 4 48 41 PM](https://user-images.githubusercontent.com/103296/92812779-84a7a280-f385-11ea-9ece-48cfb493a823.png)

There's a free tier listed as "Always free".

[2020-09-10 23:27] timabbott opened #16324 "Avoid reloading the browser for "mark all as read" when possible"
Currently, the "mark all messages as read" left sidebar menu item (and bankruptcy feature) reload the browser after marking all messages as read:

[code]

This is legacy behavior implemented with a very old data model; we should look at whether we can remove that (either unconditionally, or make that reload conditional on some condition that suggests the client's data structures are unable to be u

[2020-09-11 06:43] AlexisTM commented on #11440
The free tier was up to 24h meetings, going down to 1h meeting maximum. Always free, but reduced :disappointed:

[2020-09-11 07:02] thedeveloperr commented on #9165
I am working on it.

On Fri, 11 Sep, 2020, 7:36 am zulipbot, <notifications@github.com> wrote:

[2020-09-11 19:39] aryanshridhar opened #16328 "Clipboard tooltip not disappearing"
Hey , Noticed this small error of clipboard tooltip not immediately hiding once clipboard has been pressed .
For more clarification :

![error](https://user-images.githubusercontent.com/53977614/92965450-6def7180-f493-11ea-8f19-7ba7930b33e3.gif)

Would love to dive into it as to resolve this issue , if it seems legit :)

[2020-09-11 22:31] octogonz commented on #15688
@timabbott Circling back, our Gitter -> Zulip migration is still blocked behind this issue.  Are there any status updates?

I recall that you had proposed a plan -- is that finalized, or is it still being discussed? If the design part is worked out, maybe I could help out somehow with getting it implemented. (?)

[2020-09-12 03:05] Sytten commented on #11440
Nice to know, I think they want to kill hangout so they are making meet somewhat free?

[2020-09-12 04:14] Gittenburg commented on #16328
Good catch, I can confirm this bug. You're of course welcome to work on this.

[2020-09-12 05:57] aryanshridhar commented on #16328
Cool , Working on it 👍

[2020-09-12 11:28] abhijeetbodas2001 commented on #15963
Currently, we add the `selected` class to the tab with is selected.
I've added `role="checkbox"` to these tabs.
Should I also add/remove the aria-selected attribute as necessary?
( Via `$('element').attr('aria-selected', true);` )
But I think doing this will be somewhat repetitive.

Also, I did not understand how doing this will make it more accessible. There is no visual indication that one of th

[2020-09-12 11:38] lukehayes1101 commented on #11324
This is still an issue on both chrome and safari on my iOS xe device.

[2020-09-12 11:49] Gittenburg commented on #15963
I suggested a checkbox because it's only two tabs so it could be semantically simplified to on / off with an `aria-label` "show only subscribed streams".

Yeah I think this toggle method is problematic because it doesn't produce accessible HTML. Afaik tab=role needs the tab headers to be mapped to the tab content containers (which need to be present in the DOM). With the callback we don't really d

[2020-09-12 12:41] FlorianLudwig commented on #11440
How is any of this related to the issue? Even if it there wasn't a free version at all this would still be a valid feature request.

[2020-09-12 12:58] abhijeetbodas2001 commented on #15963
MDN docs says-

I think implementing role=tab would need some major refactoring.

[2020-09-12 16:20] bryangingechen opened #16335 "upgrade Pygments to 2.7.0"
Pygments 2.7.0 was just released and among other improvements, it contains a significant upgrade to the Lean syntax highlighter. The [Lean community Zulip](https://leanprover.zulipchat.com/) has been waiting since 2018 or so for these changes, so we're quite excited to see them. In https://github.com/zulip/zulip/issues/8574#issuecomment-454619950 we were told to ping you to update Pygments when ou

[2020-09-12 18:54] timabbott commented on #16335
@bryangingechen awesome, thanks!

@andersk want to do a general Python dependencies upgrade including this?

[2020-09-12 19:01] timabbott opened #16340 "Clean up ordering-dependence of deactivated user tests."
In 7c17bdb9c524a3ba0d36843879cca0e5dfb229a1, we added a workaround for the fact that the "deactivate a user" test messes up later tests that might interact with that user.

The better way to fix this is to use a `@openapi_param_value_generator` function to create a user that we'll then deactivate the user ID for.  Use `git grep` to find the code in `zerver/openapi/curl_param_value_generators.py`,

[2020-09-12 19:04] #16328 closed

[2020-09-13 02:27] prasannakumar09 commented on #452
Was it successfully. ? Are you able to generate authorisation tokens to allow other clients to call the api and successfully login.! Kindly help the steps.
Thanks in advance.

[2020-09-13 13:30] harshest2019 commented on #14880
@zulipbot Claim

[2020-09-14 03:54] #16173 closed

[2020-09-14 04:00] #16335 closed

[2020-09-14 06:45] Jellby opened #16345 "GitLab webhook repeats the whole description when only the assignee changes"
As mentioned in https://github.com/zulip/zulip/pull/16183#issuecomment-687020928, when a merge request (MR) is updated, the GitLab webhook is repeating the whole MR description in Zulip, instead of showing only the information that has changed (e.g., the assignee(s)). Apparently the data sent from GitLab contains a `changes` section with both `previous` and `current` values, so it should be possib

[2020-09-14 09:00] ThomasBaeuml opened #16346 "Different authentication for different organizations"
Dear all,

Is it possible to use different authentication (two LDAP groups) for two organizations? For example, LDAP Group students should not have access to the organization of employees. This would be a great feature for my company.

Maybe like that:

### Organization Staff:
[code]
### Organization Student:
[code]

[2020-09-14 10:38] its-harsh commented on #16340
@zulipbot claim

[2020-09-14 13:58] jeremy160189 opened #16347 "Internal Server Error for some users"
Hello, we have some problem recently for some of our users.
Some try to login and got some "Internal Server Error".
For some others it works.
They connect with LDAP authentication.
I tried to upgrade the server with last version (3.1) but it didn't solve the problem for them.
This is our error.log :

[code]

Any idea of the problem and how to solve it ?
Thank you

Jeremy

[2020-09-14 16:21] its-harsh commented on #16340
I have fixed the issue.
Created Pull Request for review
Link https://github.com/zulip/zulip/pull/16348

[2020-09-14 18:18] timabbott commented on #13571
@ytjohn hmm, couldn't you just configure that email alias and then document the email list to use somewhere more visible (E.g. in the stream description?) for this sort of use case?

We will want to do need to do something in this code path, mainly because at present it isn't possible to rotate the keys in the email addresses without server access.  It might be reasonable to just allow changing th

[2020-09-14 18:21] timabbott commented on #16346
The Django LDAP library we're using  has some provision for this sort of thing; see https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#multiple-ldap-searches

Does that do what you're looking for?

[2020-09-14 20:14] ytjohn commented on #13571
@timabbott  I didn't have a good place to test inbound email, but I went ahead and spun up a linode with some processing. The short answer is that zulip seems to read the original To.  I'll post my details in case I'm missing something, but I think the best option is being able to "just allow changing the email address".  Alternatively, creating a namespace (like the subdomain) seems even more use

[2020-09-14 22:02] #16284 closed

[2020-09-14 22:02] cmcaine commented on #11618
I think the Julia community would also like to have a default with dropdown for others.

[2020-09-14 22:04] timabbott commented on #14499
This private stream feature was implemented via https://github.com/zulip/zulip/issues/16284.  I think the last bit of this will likely be that we'll include stream administrators in who can move messages between streams.

[2020-09-15 05:34] timabbott commented on #16340
Fixed via #16348.  @its-harsh next time, include a `Fixed: #16340` in your commit message, and the issue will be automatically closed when the commit is merged.

[2020-09-15 05:34] #16340 closed

[2020-09-15 05:40] timabbott commented on #16347
@jeremy160189 you can likely work around this as follows:

[code]

Did you import your data from another tool like Slack or HipChat?  That situation shouldn't be possible (as at least one RealmAuditLog entry is generated when subscribing in the first place); we'll likely want to fix the root bug that is likely present in our data import tools and add a migration to fix up anomalies like this.  But

[2020-09-15 05:47] timabbott commented on #11440
Agreed re: it being a reasonable feature regardless of the free/paid status.  But the problem is that there isn't an API.

I don't believe there's a way we can automate this as a feature in Zulip -- I don't think this does anything without a logged in Google account, and we can't manipulate the user's browser to do this and then get back the URL.

Or is the idea that we'd just have the button open

[2020-09-15 05:48] timabbott commented on #11324
@lukehayes1101 can you open a separate issue?  This is likely resulting from an unrelated regression.

[2020-09-15 07:18] ThomasBaeuml commented on #16346
Yeah that's great, but is this way possible with different organization (different subdomains)? So i want to choose different LDAP authentication for each organization, so group staff just can access organization staff und group student just can access organization student.

Do you know what i mean?

[2020-09-15 07:18] ThomasBaeuml commented on #16346
Yeah that's great, but is this possible with different organization (different subdomains)? So i want to choose different LDAP authentication for each organization, so group staff just can access organization staff und group student just can access organization student.

Do you know what i mean?

[2020-09-15 07:34] DavidBM commented on #11440
I was thinking: Wouldn't be possible to create a private "Zulip-meetings" calendar in the user's Google account and add the events with the Google Meet room in there? If the user wants to remove everything, then they can just remove the whole calendar.

The API for creating calendar events is: https://developers.google.com/calendar/v3/reference/events/insert .
More info for the Request: https://de

[2020-09-15 08:27] sdurrheimer opened #16356 "Add keyboard shortcut for the "Set a status" modal"
It would be really nice to have a keyboard shortcut to set your status message.
This would really help with the usability of the feature.

[2020-09-15 13:50] yajna-pandith commented on #15973
@zulipbot claim

[2020-09-15 13:51] yajna-pandith commented on #15973
@timabbott Could you assign me this Issue

[2020-09-15 16:03] bryangingechen commented on #16335
Thanks for the quick response and commit! Any estimate on when this will be deployed to leanprover.zulipchat.com?

[2020-09-15 16:04] vishkrish200 commented on #16345
Hey,

Can I take up this issue?
It would be my first!

Thanks

[2020-09-15 16:35] amanagr commented on #16345
@vishkrish200 yes, just comment `@zulipbot claim` on this Issue.

[2020-09-15 16:36] vishkrish200 commented on #16345
@zulipbot claim

[2020-09-15 20:17] timabbott commented on #16335
Certainly this week; it looks like this just missed the cutoff for the last production deployment.  You can test on chat.zulip.org (which has already been upgraded) if you'd like to verify everything is working.

[2020-09-15 20:18] timabbott commented on #16356
Would a slash command, e.g. `/status My new status`, be the right interface for this?  @aero31aero thoughts?

[2020-09-15 23:00] timabbott opened #16359 "Display expiration data for invitation links"
We should add a column "Expiration date" in the "organization settings" invitation links UI.  And then extend the UI to allow specifying/editing the expiration time for invitations (rather than the 10 day default).

This is really important for organizations that want to use specific invitation links with members of different types to set default streams properly.

[2020-09-15 23:46] timabbott commented on #15973
@yajna-pandith done.  I expect this to mostly consist of adding some conditionals in the supervisord template.

[2020-09-15 23:51] timabbott commented on #11440
Seems possible, though sorta ugly.  We'd certainly integrate something of that form if someone were to prototype it.

[2020-09-16 05:46] shanukun commented on #16359
@zulipbot claim

[2020-09-16 08:24] valdar commented on #11752
+1 for this one, after you start having 3 or 4 Zulip different chat tabs it becomes hard to find at first glance which one you need.

[2020-09-16 08:30] pint-pint commented on #3783
What is the current status of this, has this dream been abandoned or is it still considered? As long as there are private streams, there should be a way for some user(s) to admin the stream without organization level admin privileges.

[2020-09-16 08:49] DavidBM commented on #11440
I can try to implement it but I would need some help. For now I have these questions:
- Where should the Google API calls be done? Front or backend?
- How the login into google should be done? Opening a browser tab or in the app itself?
- Do you have a Google App already that can be used?

[2020-09-16 09:14] jeremy160189 commented on #16347
Hello,
Thanks for your answer.
No we didn't import our data from another tool like Slack or Hipchat.
Unfortunately, it didn't solve the problem, we still have this messages for some  users :

[code]

[2020-09-16 13:04] Gittenburg commented on #15963
On second thought we might actually want to avoid implementing strict ARIA-tabs because [they come with UX problems](https://simplyaccessible.com/article/danger-aria-tabs/). Which also appears to be the reason why other apps (e.g. Mattermost & Rocket.Chat) are not using them. So I think we should focus on making our tabs keyboard accessible instead of complying with ARIA tabs. I updated the issue

[2020-09-16 17:18] Coder-Joe-YT commented on #14880
@zulipbot claim

[2020-09-16 17:46] rostov-da commented on #10643
This feature is very necessary.

[2020-09-16 20:09] alfonsrv commented on #10351
This issue should be reopened @timabbott

[2020-09-16 21:12] timabbott commented on #10351
Let's open a new issue linking to this one -- that'll get more visibility on it.

[2020-09-16 21:27] timabbott commented on #16347
@jeremy160189 I think you didn't restart the server or something after applying my change -- that traceback is shows that you're still running the unpatched code.

[2020-09-16 21:37] #16215 closed

[2020-09-16 22:41] timabbott commented on #15688
We're still thinking about how best to do this.  I don't think it'll be a lot of work to implement the plan we eventually settle on, but I do want to be sure .  Things have been a big difficult for me the last couple weeks due to the CA wildfires.  Still on my radar.

Personally I don't see why you consider this a blocker to migrating as opposed to "something that'd be good to have soon after we m

[2020-09-17 01:30] andersk opened #16365 "Write migration to delete export tarballs from S3 that we failed to delete due to leading slash"
Commit ddf8ec33df21ddfba57569f42fcf03a1f143a878 (#16343) fixed a bug where we may have been failing to delete export tarballs from S3 as requested, because of confusion over leading slashes. We need to investigate the remaining consequences of this bug, and if needed, write a migration to delete the export tarballs that we failed to delete before.

Cc @mateuszmandera.

[2020-09-17 07:32] octogonz commented on #15688
This is absolutely true. The only issue is that the meaning of the word "soon" amongst software engineers can be rather vague. 😋 A clear plan and/or proof-of-concept might be enough to get this unblocked, though!

[2020-09-17 09:15] jeremy160189 commented on #16347
Hello, I don't know how to apply your patch but tried to replace the line you mentioned in soft_deactivation.py file.
Then I restarted the server.

Now I have this :

[code]
I don't know if we have something else to do ? The server in on Debian 10 version.

[2020-09-17 12:49] davidfarmer opened #16367 "Allow standard LaTeX math mode markup"
In TeX, single dollar signs are used to enter and leave inline math mode,
and double dollar signs for display math.  It would be good to allow the
familiar syntax in Zulip.

There is a myth that this is not possible, because a dollar sign
can also be just a dollar sign.  But if you take into account how
people actually type TeX math, it is possible.  For PreTeXt I wrote
a very simple pre-processor

[2020-09-17 12:54] davidfarmer commented on #16367
The idea is that most people keep the dollar signs "tight" around the math,
as in `$\int e^x dx$`.  A letter or number immediately followed
by a dollar sign (with no space) indicates end-of-math-mode.
Then the previous dollar sign was the open-math-mode marker.

This is the code we use for pre-processing:

[code]

[2020-09-17 15:35] showell opened #16368 "feature request: Enable autocomplete for editing topics."
If you're editing a topic in the edit-message UI or recipient bar, we should probably autocomplete topics, using whatever topics make sense.  For example, if you're in a stream view, we have the list of recent topics readily available to populate autocomplete.  And we can aggregate them easily (if we don't already) for "All Messages" views.

See https://chat.zulip.org/#narrow/stream/101-design/top

[2020-09-17 16:22] showell commented on #16368
#14187 is also worth mentioning in the context of making it easier to move messages to new topics.  I think both proposed features make sense, so it's not an either/or kinda thing.  It's possible that they would share a bit of code, too.

[2020-09-17 20:31] timabbott commented on #16367
We're definitely not planning to switch from KaTeX to MathJax as the engine; performance considerations make MathJax not viable given how much math it's possible to have on a page at once.

I believe we use a similar algorithm for how we handle bold/italics in Zulip, so it would theoretically be possible to do something like this.  If we think it's too invasive, I could imagine an organization-lev

[2020-09-17 22:06] alfonsrv opened #16370 "Custom GIF emoji - alpha color v2"
As per #10351, the error still occurs with Zulip 3.2. Uploading custom emojis GIFs results in unexpected behavior. Turning on or off the `optimize=` flag does not change anything about it.

Example: uploading a Giphy sticker, mostly results in a black background – here, on the official Zulip server.

![nice-normal](https://media2.giphy.com/media/l1J9LUpGQ4TCtzO24/giphy.gif), [ref](https://giphy.co

[2020-09-17 23:19] timabbott commented on #16370
#10351 has useful context; debugging this will likely involve spending some type looking at Pillow and debugging, and potentially reporting an upstream bug.  @HarshitOnGitHub did this with the previous iteration of this sort of bug, and may have some context as well.

[2020-09-18 00:38] timabbott opened #16373 "Replace moment.js with a smaller library with frontend timezone support"
We don't use `moment.js` very much, and half the callpoints are hacks to suppress warnings.  `moment` is also very large, and that's not going to change (https://momentjs.com/docs/#/-project-status/) as the project is in long-term maintenance mode.  So we should look at replacing it with a more modern/smaller library.

[code]

Tagging as a priority because this is one of our larger JavaScript depe

[2020-09-18 03:44] alexmv commented on #16373
https://github.com/you-dont-need/You-Dont-Need-Momentjs#readme may be of use.

[2020-09-18 04:33] abhijeetbodas2001 commented on #15963
Yes, I tried applying `outline-color:red` and it worked. I think there is some problem with the `:focus`.

[2020-09-18 06:10] dev-bot1 commented on #14880
claim

[2020-09-18 06:54] Gittenburg commented on #15963
And allowing them to be focused with Tab.

There might be another rule that is more specific that takes precedence. Have you tried adding `!important`?

[2020-09-18 10:44] aryanshridhar commented on #16288
Hey , I have been digging into the codebase for a while now , but still unable to get the exact location of language setting when a new user signs up . A hint for it would be great to continue with it :)

[2020-09-18 14:23] jakharrahul000 commented on #16080
Hi @timabbott and @Gittenburg, I am new to this community and was looking to contribute.
I saw the issue, and it seems the button is already disabled, it does nothing on click, however it does change the color of the button, if you are addressing that.

[2020-09-18 15:32] jakharrahul000 commented on #15818
Hi, I am new to Zulip.
Can you tell me where would I find the code for this?

[2020-09-18 16:12] showell opened #16377 "bitbucket webhook: Fully deprecate username field."
We will want #16376 to get merged first, before tackling this, so if you're looking a this in September 2020, it's probably worth letting the dust settle on that a bit.

The Bitbucket webhook (bitbucket2) no longer sends username, at least according to https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/.  It has been that way since April 2019, apparently, although I didn't

[2020-09-18 16:17] showell commented on #16258
@shanukun I would try to help you, but I don't really know their docs too well.  I assume the link I provided above is their most current reference, but it's worth poking around on GitHub to see if you can find out what's up here.

[2020-09-18 18:38] timabbott commented on #16288
I suspect the challenge is in large part that we're using Django for parts of this: https://docs.djangoproject.com/en/2.2/topics/i18n/.

@hackerkid maybe https://zulip.readthedocs.io/en/latest/translating/internationalization.html should cover the logic of this system once we've implemented it (maybe via a link to Help Center docs)?

[2020-09-18 22:23] brainwane commented on #9610
We could also check out MyST which is new https://myst-parser.readthedocs.io/en/latest/index.html :

["We've been working on a Sphinx extension that lets you write Sphinx docs in 💯 markdown (incl. roles and directives). We call it "MyST Markdown" (for "Markedly Structured Text").](https://nitter.net/choldgraf/status/1272633413132943360)

[2020-09-18 22:29] timabbott commented on #16288
I added 9c0d6becc55db3c366ec6073b3106e4e4b4af70b to make sure it's easy to find our master documentation on i18n when reading the code around this, as a preparatory step.

[2020-09-19 00:07] timabbott commented on #16347
@jeremy160189 that looks like it's running the modified code.

Can you try running the following in a Zulip `manage.py shell`:

[code]

https://zulip.readthedocs.io/en/latest/production/management-commands.html will help you run that.

(I'm presenting running that job on Zulip Cloud to see if this sort of issue affects anyone else).

[2020-09-19 02:53] andersk commented on #16367
I note that the LaTeX syntax is actually `\( … \)` (or `\begin{math} … \end{math}`), even though most people seem to use the plain TeX syntax `$ … $`.

It’s of course reasonable to want the shorter syntax for convenience even if not for “standardness”. But in Markdown the convenience of using a short syntax when you want it always needs to be balanced with the convenience of *avoiding* it when you

[2020-09-19 03:26] davidfarmer commented on #16367
I can confidently say that what the vast majority of LaTeX
users want is to use just a single dollar to start inline math and
a single dollar to end.  It is acceptable if those dollars have
to be "tight", as previously motioned.  Anything else feels broken
and makes me hesitate every time.

Note that inline math does not span across a line break.  That helps
avoid some false positives when dollar

[2020-09-19 04:58] andersk commented on #16367
Since neither the “tight” heuristic nor the “line break” heuristic is from LaTeX, clearly you’ve already accepted that one can’t just smash unmodified LaTeX into a syntax that wasn’t designed for it. Now, like I said, I get the appeal of `$ … $`, but heuristics are always frustrating. The dollar signs in “the difference between $10 in English and 10$ in Canadian French” from my last message are “t

[2020-09-19 10:30] aryanshridhar commented on #16288
Cool , Looking into it :+1:

[2020-09-19 10:30] Gittenburg commented on #16368
Closing as a duplicate of #12493, which already has the PR #14033 (although currently conflicted).

[2020-09-19 13:57] mateuszmandera commented on #16347
@jeremy160189 Do you remember the version you installed originally when setting up this zulip server? Or approximately how long ago that was?

[2020-09-19 15:30] showell commented on #16368
Reopening this and closing the older issue, so it doesn’t stay buried.

[2020-09-19 15:31] showell commented on #12493
Closing as dup—we created a newer issue.

[2020-09-19 15:31] #12493 closed

[2020-09-19 19:35] showell commented on #16287
This could plausibly also be useful for folks who don't natively speak the language on their realm.

I linked to here from https://chat.zulip.org/#narrow/stream/9-issues/topic/local.20stream.20aliases/near/1020784, just in case there are other folks interested in this. Otherwise, we will probably want to close this is as a wontfix.

@GorangeNinja Thanks for the suggestion!

[2020-09-19 19:40] showell commented on #16233
On a related note, we should work to improve Manage Org/User Groups.  There are a bunch of ways to improve that screen, including making most of the data tabular.  Having a user search view there would be nice.  Also, clicking on a user there might be an appropriate place to list all the groups for a user.

[2020-09-20 05:24] abhijeetbodas2001 commented on #15963
Yes I will do that.

This too didn't seem to work. I'll try finding whats wrong. I'm currently a bit busy with exams.

[2020-09-20 20:11] aryanshridhar commented on #16373
@zulipbot claim

[2020-09-20 21:03] shanukun commented on #16359
@timabbott I think making a calendar for specifying expiration time for invitations would be better suited or should we implement a
plus minus counter. What do you think?

[2020-09-21 03:14] Amitsinghyadav commented on #15384
@zulipbot  claim

[2020-09-21 08:32] sdurrheimer commented on #16356
Both would be awesome, as we have people using used to the shortcut and the slash command of Slack.
That being said, the slack command would be a good start.

[2020-09-21 09:26] starlordsaraf commented on #16174
Hi,
I wanted to know if i could work on this issue?

[2020-09-21 09:30] starlordsaraf commented on #16174
@zulipbot claim

[2020-09-21 09:45] starlordsaraf commented on #10539
@zulipbot claim

[2020-09-21 09:47] starlordsaraf commented on #2278
@zulipbot  claim

[2020-09-21 13:34] jeremy160189 commented on #16347
After trying to apply the command in manage.py shell, I have this error :

[code]

[2020-09-21 13:36] jeremy160189 commented on #16347
It was Zulip 2.1.2

[2020-09-21 17:54] ryanreh99 commented on #9911
@zulipbot claim

[2020-09-21 19:18] timabbott commented on #15384
Fixed in https://github.com/zulip/zulip/pull/16384.

[2020-09-21 19:18] #15384 closed

[2020-09-21 20:18] aryanshridhar commented on #16373
Hey , I am stuck in an error during resolving it and eventually created a topic : https://chat.zulip.org/#narrow/stream/49-development-help/topic/Not.20a.20function.20error
Would love to know my error :)

[2020-09-21 20:52] akshatdalton commented on #16370
@alfonsrv @timabbott can you help me reproduce this bug as this seems to be working fine with me.

![custom emoji](https://user-images.githubusercontent.com/67277428/93820169-6477bd80-fc7a-11ea-87e6-89e0d0acbc25.png)

[2020-09-21 21:00] alfonsrv commented on #16370
@akshatdalton
What I do is:

1. Download the image via Chrome
2. Go to [chat.zulip.org](chat.zulip.org), click Settings -> Organization -> Custom Emoji
3. Choose the GIF I just downloaded, name it e.g. `akshat1` and upload.

In the preview pane you should now see the same result as shown above. Not sure what you're doing, but this clearly doesn't seem like an upload to Zulip, as it would cut off t

[2020-09-21 21:20] akshatdalton commented on #16370
I am working on this issue.

[2020-09-21 22:28] timabbott commented on #16373
https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html may be helpful.

[2020-09-21 22:30] timabbott commented on #16347
I'd try copy-pasting the code -- I'm not sure that redirection approach works with `manage.py shell`.  Certainly the error message is in reading input, but the code I provided.

[2020-09-21 22:43] #16296 closed

[2020-09-22 00:39] Amitsinghyadav commented on #15977
@zulipbot claim

[2020-09-22 10:25] abhijeetbodas2001 commented on #16094
@zulipbot claim

[2020-09-22 10:30] showell commented on #16287
I am closing this.  I think this is a nice feature idea, but we haven't heard enough feedback from other users who need this to justify the complexity.

Thanks for the suggestion, @GorangeNinja, and sorry it didn't have the outcome you were hoping for.

[2020-09-22 10:30] #16287 closed

[2020-09-22 15:15] avestura opened #16390 "Custom integration doesn't work after upgrading from git"
I've upgraded Zulip to the latest master and my custom integration is now broken:

[code]

[2020-09-22 16:37] avestura commented on #16390
Chaning `api_key_only_webhook_view` to `webhook_view` solved the problem.

[2020-09-22 16:37] #16390 closed

[2020-09-22 17:30] JulianGro opened #16396 "Show avatars in user list"
**Problem Description**
Currently the user list on the right does not look very nice. It only shows names, rather than the familiar faces of your friends and collegues.

**Proposed Solution**
It would be great for an organization to be able to set the user list on the right side to show avatars by default. I would suggest something like a round 48 pixel avatar.

**Describe alternatives you've cons

[2020-09-22 17:40] JulianGro opened #16397 "Chat messages do not go all the way to the bottom"
**Problem Description**
The chat message view does not go all the way to the bottom, wasting a lot of space.

**Proposed Solution**
The messages should go to the bottom.

**Additional context**
![1Zulip - Zulip Community_758](https://user-images.githubusercontent.com/11144627/93917531-66d62800-fd0b-11ea-9314-ef6d7187c05c.png)

[2020-09-22 20:43] alexmv opened #16393 "Update NewRelic integration"
The NewRelic integration is essentially unchanged since [it was written in 2013](https://github.com/zulip/zulip/commit/eb6bc91c22b6cc0876b8e265b87fcbdb69ab60b4), and looks to reference query parameters that are no longer used by the NewRelic webhook.  We should update the integration to work with [what they currently post](https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts

[2020-09-22 21:56] andersk opened #16394 "Keyboard shortcuts fail after /, Esc in Firefox"
In Firefox (but not Chrome), if you press `/` to open the search bar, then press `Esc` to close it, most other keyboard shortcuts (those not involving `Ctrl`, I think) stop working until a second `Esc` press or a mouse click.

For example, `/` `Esc` `/` opens the Firefox quick find bar instead of our search bar.

[2020-09-22 22:41] timabbott commented on #16393
@Hypro999 FYI

[2020-09-22 22:49] JulianGro opened #16395 "Standard organization theme"
**Problem Description**
Our App and the Discord server we currently use are dark themed. It would give Zulip a lot better impression if it started out with a dark theme.

**Proposed Solution**
Adding the ability for an organization to set a different default theme. The themes are currently per organization anyways, so being able to set the theme for new people would make a lot of sense.

**Describ

[2020-09-22 22:49] #16395 closed

[2020-09-22 22:51] timabbott commented on #16397
This is intentional behavior -- the extra space means that if you're scrolled to the bottom, you can see new messages appear without your reading being disrupted by scrolling.

[2020-09-22 22:51] timabbott commented on #16397
We've in the past considered adding an option to change that behavior for folks who don't like it.

[2020-09-22 22:55] timabbott commented on #16396
@JulianGro I transferred this and several other of your new issues to the zulip/zulip repository, since the code in question is part of the webapp (shared with the desktop app).

The main challenge with this is that it wastes space; we should make it an option since what one wants likely depends on the size of the organization.

[2020-09-23 08:36] JulianGro commented on #16395
I mean it *is* added functionality. I don't really see a problem with doing that at least on the desktop app, since the theme setting is per organization anyways. All you would need would be an "organization default" option that might be higher priority than "automatic".

There is also good reasons why people might prefer a dark theme but not have their OS set to a "dark theme". A lot of software

[2020-09-23 08:41] JulianGro commented on #16397
That does make sense.
I would still suggest making it smaller; Maybe enough space to fit a one line message. And add an indicator that tells you that there are more messages or unread messages further down.
Personally I feel like 1/3 of the screen is just too much. But that seems very much like a taste thing.

[2020-09-23 11:16] ghost opened #16401 "Any one can help me modify the roles and role permissions in the zulip to a custom user roles."
Roles currently available, - owner, admin, member, guest.

needed roles - owner, vice-president, project-manager, team-lead, manager and employee.

Need to modify and add new roles. Can someone suggest How to do that.

Thanks in advance.

[2020-09-23 11:18] prasannakumar09 commented on #16401
Also need to modify the one-to-one(priavate messages) chat eligibilty for only few roles.

In zulip you call them streams. Employee - Employee should be restricted. All other roles and chat with each other and with employee. how to, where to modify it.

[2020-09-23 11:50] ATHarv011 commented on #14880
It's My first time...is the project still on?
if it is can I do it?

[2020-09-23 14:41] showell commented on #16396
This is also a feature that can take advantage of wide screens.  Although part of the problem is actually the vertical height of the avatar.  If we keep the current line height, you might barely be able to see the person.

[2020-09-23 15:14] mateuszmandera commented on #9521
Working on it

[2020-09-23 15:33] lascimmia opened #16402 "Disconnect from / verify connected devices"
I hope I will not make mistakes, I'm a total noob here. I dont' know if really is a *issue* or more a *nice-to-have*.

I cannot find a function to **disconnect all device** where my account is connected, or at least verify where I'm connect.
I think it can be very useful for those (like me) that use the professional chat on different devices, sometimes not of exclusive use.

[2020-09-23 19:01] ji438937 commented on #9957
We also need this functionality and it would go hand in hand with #9480 in my opinion - LDAP sync of the groups and members, then assign those groups to streams. This would greatly simplify group and stream management in Zulip.

[2020-09-23 22:51] timabbott commented on #15985
Strangely, I haven't seen any reports of this bug since then, so I suspect we accidentally fixed it.

[2020-09-23 23:04] timabbott commented on #14079
@aryanshridhar I think we only want to close the gear menu on click, not when tooltips are shown.

[2020-09-24 00:40] timabbott commented on #16395
Yeah, or possibly we should just change the default theme to the dark theme; it seems most folks prefer it.  I've started a discussion on this question: https://chat.zulip.org/#narrow/stream/6-frontend/topic/default.20theme/near/1023727

[2020-09-24 06:17] amanagr opened #16408 "Document process of getting api key from server via the api."
See https://chat.zulip.org/#narrow/stream/49-development-help/topic/Get.20API.20Key for discussion.
See https://github.com/zulip/zulip-terminal/blob/master/zulipterminal/cli/run.py#L120 as an example for how this works.

* Document it similarly to https://zulipchat.com/api/dev-fetch-api-key
* Link to documentation for how to download the api key manually via the UI.
* Document the need to create a

[2020-09-24 07:43] amanagr commented on #15985
I experience it once here https://chat.zulip.org/#narrow/stream/49-development-help/topic/first.20issue/near/989941 . The error is not clear enough for me to debug - `blueslip.js:51 Restarting get_events due to delayed receipt of sent message undefined` This clearly happens due to some network issue.

[2020-09-24 11:27] Amitsinghyadav commented on #15977
@orientor  I want help to work on this issue, please tell me the files name where changes to be done.

[2020-09-24 15:54] aryanshridhar commented on #16373
To add , when I find all files containing <code>moment</code> using <code>grep -rnw . -e 'moment'</code> , I find the follwing files :

<pre>
./js/popovers.js:6:const moment = require("moment");
./js/popovers.js:545:            defaultDate: moment().format(),
./js/popovers.js:978:        const datestr = moment().add(20, "m").format();
./js/popovers.js:983:        const datestr = moment().add(1, "h

[2020-09-24 23:56] sathwikacharya commented on #16345
@zulipbot claim

[2020-09-24 23:57] sathwikacharya commented on #3917
@zulipbot claim

[2020-09-25 00:22] andersk commented on #16373
We probably also want to replace XDate, which also looks unmaintained, and will almost certainly be redundant with whatever replaces Moment.js.

[2020-09-25 07:09] miredo opened #16415 "Outgoing webhook: sender_realm_id is not set but it is used set_sender_avatar function"
Using an outgoing webhook I got the following error:
[code]

It looks like the *sender_realm_id* is required although the webhook format that is described here:
https://zulipchat.com/api/outgoing-webhooks does not reference such a field.

As a quick and dirty work around for my production server, in the _finalize_payload method of message.py, I added a try / except around the set_sender_avatar and

[2020-09-25 07:51] aryanshridhar commented on #16373
Oh Cool , Will also look into it . As of now , I am trying to replace <code><a href = 'https://momentjs.com/'>moment.js</a></code> with <code><a href = 'https://date-fns.org/'>date-fns</a></code> . (As , date-fns is having a <code>parsed-size</code> size of 11.5 kb , while that of moment.js is 217 kb)

[2020-09-25 11:40] ayushin opened #16416 "make zulip openapi-generator compatible"
Hi guys,

@timabbott Any chance you have resources to fix this?

Revisiting this issue, which nearly makes us abandon zulip and move to mattermost :-(

If this was fixed (and we don't have resources to fix it) we would be able to contribute our zulip-flutter sdk and also we could make zulip-livechat that we would share with the community.

The problem is that https://github.com/OpenAPITools/openap

[2020-09-25 13:11] jeremy160189 commented on #16347
I just tryed with some users who had the problem and it works now. So I think your patch solved the problem.
Thanks

[2020-09-25 21:58] timabbott commented on #16416
@ayushin most of those warnings are `allOf` issues related to #16109.  We use the `yamole` preprocessor to deduplicate pieces of YAML in the OpenAPI spec file a way that's nonstandard.  I suspect you can remove most of these notices by running the generator on the output of https://pypi.org/project/yamole/ run on `zulip.yaml` in the meantime; can you try that?

@orientor FYI, what's the status of

[2020-09-25 22:57] timabbott commented on #16415
@showell any idea how this might be possible?

@miredo can you confirm what Zulip server version you're running?

[2020-09-25 22:58] timabbott commented on #16347
I don't consider this resolved for the project, so reopening.  We need to figure out what code path makes it possible to have Subscription objects without appropriate RealmAuditLog entries.

[2020-09-25 23:38] timabbott commented on #15985
That error is likely very helpful, thanks for finding that detail.

[2020-09-26 08:05] luxlogica opened #16420 "[Feature Request] UI Themes - Custom CSS"
There are several issues here where users show they'd like to have more options to customise Zulip's UI - for example:

* to change all colours and fonts to better match the company's brand (or personal taste)
* to fine-tune the UI to better support users with specific accessibility requirements (e.g., increase font size, tweak font colours for better contrast)
* to provide better internationalisa

[2020-09-27 01:59] wcasanova commented on #10643
Please, it would be very useful.

[2020-09-27 13:02] Amitsinghyadav commented on #15977
@zulipbot  abandon

[2020-09-27 17:24] mateuszmandera opened #16423 "Show problematic json to users in incoming webhooks"
If an incoming webhook is sending incorrect json to zulip, currently we just post the generic message
[code]

We should consider displaying the problematic json and a more specific message e.g. if `orljson` provides a sufficiently informative parsing error.

[2020-09-27 20:47] avats-dev commented on #16408
@amanagr  I checked out
https://github.com/zulip/zulip-terminal/blob/5609c78bdc45f972dc1f4bd30399bb6cafe5f332/zulipterminal/cli/run.py#L120-L132 , but I couldn't find `getpass` anywhere. Could you explain a little bit here.

Also, where is the source code for https://zulipchat.com/api/ , I only found the source for readthedocs version.

So, based on https://chat.zulip.org/#narrow/stream/49-develop

[2020-09-28 04:19] amanagr commented on #16408
@avats-dev thanks for your interest but this issue is not a "good first issue". There are many details to how this should be documented correctly. I would suggest you take up one of the issues labelled "good first issue".

[2020-09-28 08:20] miredo commented on #16415
The problem was initially seen on Zulip 2.1.3. But since there has not been any change:
- on message.py in the methods _finalize_payload and set_sender_avatar
- in outgoing_webhook.py on the call to _finalize_payload
- no documention update for the webhook
I would suppose the problem is still here unless the documentation on api/outgoing-webhooks is deprecated.

I may try though to remove the patc

[2020-09-28 09:24] iangilfillan opened #16426 "Improve delete message warning"
When deleting a message, the text "Are you sure you want to delete this message?" is shown. Not providing details about the message to be deleted increases the chances of mistakenly deleting the incorrect message. The warning could give more details, something like "Are you sure you want to delete the message '%FIRST_80_CHARACTERS%'?"

[2020-09-28 09:33] iangilfillan opened #16427 "Bulk delete"
It is currently possible to delete individual messages, or to delete an entire topic/stream. Deleting multiple messages individually is time-consuming.
It makes sense at times to be easily able to bulk delete messages, for example when a bot has posted multiple spam posts (and the bot is behaving well, as the spam posts are from another source it picks up from, and the topic has otherwise useful p

[2020-09-28 09:50] amanagr commented on #16427
@iangilfillan It is possible, see https://zulipchat.com/help/delete-a-topic . It requires you to be an admin though.

[2020-09-28 09:53] iangilfillan commented on #16427
I specifically said I do not want to delete a topic...

[2020-09-28 09:56] amanagr commented on #16427
Oh! Do you want to select multiple message for deletion? I think we don't have the UI ready for it. We can do it as part of https://github.com/zulip/zulip/issues/15983.

[2020-09-28 19:13] timabbott commented on #15331
Following #15708, we're about 180/250 converted:
[code]

[2020-09-28 19:47] Gittenburg commented on #16420
Thanks for the suggestion. I am closing this since we already have issues for the points you mentioned:

* #11845 Support user-defined custom color schemes
* #12611 Feature request: Set font size
* #5010 and  #5536 for better contrast

If there are issues with internationalisation, they should be filed as separate issues.

It's worth noting that using a browser addon like [Stylus](https://github.c

[2020-09-28 19:47] #16420 closed

[2020-09-28 19:49] Gittenburg commented on #16426
Thanks for the suggestion. Could you provide a screenshot to illustrate the warning you speak of?

[2020-09-28 19:54] wcasanova opened #16430 "emoji in the stream name."
Hi.
When an emoji is placed in the stream, the ability to link the stream to the bot is lost.
![imagen](https://user-images.githubusercontent.com/12401985/94479310-ff0c5b00-01aa-11eb-9333-da29abac91bd.png)
url-encode
![imagen](https://user-images.githubusercontent.com/12401985/94479382-177c7580-01ab-11eb-8b36-dee2bbf59543.png)

[2020-09-28 19:59] Gittenburg commented on #16430
A related issue is  #10611.

[2020-09-28 21:33] iangilfillan commented on #16426
![Screenshot from 2020-09-28 23-29-30](https://user-images.githubusercontent.com/13224481/94488505-02233d80-01e3-11eb-8a17-8442f726f7fc.png)

[2020-09-28 22:14] alexmv opened #16431 "Notify bot owners if bot tries to send to a channel it does not have access to"
They get a message if the stream does not exist; it would be good to also give them a message if the stream exists but access to it is denied.

---
Update by @alya 2026-01:

Message content:

Please add a commit updating the message for non-existent channels to:

And the message for no matching channel ID should be:

We should also send a message when a bot tries to post to a topic it does't have

[2020-09-28 23:05] #11618 closed

[2020-09-28 23:15] timabbott opened #16432 "Add settings supporting the "playground" feature"
In #16308 (issue #11618), we added support for "playground" links, allowing one to easily open the contents  code to an external playground (E.g. the Rust Playground).

There are several follow-up and settings-related changes needed to complete this feature:
* [x] Add a database table and then configuration UI for managing these.  I'd expect the new table to be called `RealmPlaygrounds` to have th

[2020-09-28 23:17] timabbott commented on #11618
We just integrated the first (not yet configurable) version of this, and I opened #16432 to track follow-on configuration work.

Feedback is appreciated!  One thing I notice is that we're using a different icon than in @davidtwco's mockup; feedback on that detail (and others!) appreciated!  Currently the `lean` playground is hardcoded as having two options, for folks who want to test that UI.

[2020-09-29 01:26] andersk commented on #16416
I’m not sure if these warnings indicate that openapi-generator doesn’t like our nonstandard interpretation of `allOf` or that it doesn’t like `allOf` at all. I fixed our nonstandard interpretation of `allOf` in #16433. Does that help?

[2020-09-29 02:16] sumanthvrao commented on #16432
I'd be down to work on this. 😃

@zulipbot claim

[2020-09-29 11:17] imolein commented on #16058
This problem hit me on the Zulip 3.2 update again today. It tries to install `postgresql-12-pgroonga`, but couldn't, because I installed `postgresql-12-pgdg-pgroonga`. I guess the puppet manifest need some kind of check, which package is installed, if possible. (I don't know puppet)

To finish my update, is it safe to edit the puppet manifest in the `deployment/next` folder and run the update agai

[2020-09-29 11:21] abhijeetbodas2001 commented on #16094
The timestamps are generated by Plotly and Plotly [supports localization](https://github.com/plotly/plotly.js/tree/master/dist#to-include-localization).
Shall we use that?

I did not that understand what the issue is. What is meant by "appear to be using the English locale"?
These strings are getting translated alright.

<details>
<summary>English</summary>
<p>
<img src="https://user-images.github

[2020-09-29 23:38] timabbott opened #16438 "Keyboard shortcuts widget in bottom-right of webapp UI is buggy"
This widget:

![image](https://user-images.githubusercontent.com/2746074/94627310-02b6e500-0272-11eb-9b70-8e6c1d9c3de4.png)

Has a couple important bugs related to the tooltip hover behavior:
* There's a weird flicker one can trigger by hovering over it in the right spot.
* If you try to click on the keyboard icon to open "keyboard shortcuts" when hovered over roughly the top half of the icon, it

[2020-09-29 23:47] #10484 closed

[2020-09-29 23:47] #16109 closed

[2020-09-29 23:47] timabbott commented on #16416
#16433 is merged, so @ayushin, you should be able to retest using master.

[2020-09-30 00:00] timabbott commented on #16430
Yeah, this is likely an encoding bug, whereas #10611 covers a range of issues that might ultimately require us to do complex things like markdown-rendering on stream names for display.

The next step for this issue is just for someone to track the code path and figure out where the failure is.

[2020-09-30 00:22] timabbott commented on #16094
It's possible I didn't do my testing correctly; I was using the `/de/stats` URL; it's possible that we handle a configured language correctly but not those testing URLs.

I think we probably don't want to use plotly's localization, in that they don't seem to offer a way to do it without including their content over HTTP, and we need to deal with the timestamps ourselves in #16019 anyway, so we can

[2020-09-30 00:29] timabbott commented on #16058
Yeah, that should be safe.  Just be sure to run `zulip-puppet-apply` and any other tools from the `/home/zulip/deployments/next` path.

[2020-09-30 00:33] timabbott commented on #16431
This likely just involves catching the right errors and extending the `send_pm_if_empty_stream` code path to support additional cases.  It's possible what we actually want to do is rework that system somewhat to replace the `validate_stream_id_with_pm_notification` bundle of functions with raising a subclass of `JsonableError` with a few data attributes attached, and trigger the PMs via catching t

[2020-09-30 00:37] timabbott commented on #16426
It's hard to preview a specific set of characters on the messages, because messages are in HTML, and you can't easily cut those to produce something of a specific size without creating invalid HTML.  But we could provide details like sender, timestamp, etc.  Or we could try to set the scroll position so that the target message is visible in the background (or change the design to replace this moda

[2020-09-30 05:06] hs2361 commented on #16438
I would like to work on this issue. If I am not wrong, this widget can be found in the templates/zerver/app/right_sidebar.html file? There is an <i> tag to show the keyboard icon there. However I am not being able to understand what exactly is causing the flickering effect you mentioned, or how I can resolve it. Any guidance from your side would be appreciated.

[2020-09-30 07:38] HDsky opened #16441 "TornadoQueueClient couldn't connect to RabbitMQ"
After i upgrade the zulip to 2.0.6 version , i get the email frequently.

[code]

I see this issue #13536 , and here is the `HOSTS`

[code]

Is it any problems in my `HOSTS` ? Or other problems?

[2020-09-30 08:25] ayushin commented on #16416
Indeed, only one non-significant warning left (after applying yamole):

`[main] WARN  o.o.codegen.DefaultCodegen - Empty operationId found for path: post /real-time. Renamed to auto-generated operationId: real_timePost`

However I still have trouble with the following models:

[code]

Did not have time to look into details, but it looks like the definition does not define the specific model, it is

[2020-09-30 08:34] ayushin commented on #16416
Looks like that's something yamole is doing

[2020-09-30 11:01] showell opened #16442 "Add copy-to-clipboard option for generated invite links."
This is a pretty newbie-friendly task for somebody with frontend experience.

If you want to invite folks to Zulip, we have an option to generate an invitation link that you can send to your friends.  In this dialog we show the link, but we don't have a convenient copy-to-clipboard icon.

In almost all cases the use case for the invite link is to generate it and then copy/paste it somewhere else.

[2020-09-30 17:42] Bhanu-mbvg commented on #16442
@zulipbot claim

[2020-09-30 17:45] Bhanu-mbvg commented on #16442
@zulipbot claim

[2020-09-30 17:47] amanagr commented on #16442
@Bhanu-mbvg added the "help wanted" label, you should be able to claim it now.

[2020-09-30 17:50] Bhanu-mbvg commented on #16442
@zulipbot claim

[2020-09-30 17:50] Bhanu-mbvg commented on #16442
@zulipbot claim

[2020-09-30 17:54] Bhanu-mbvg commented on #16442
@amanagr zulipbot is not assigning me. Should I go ahead with working on the issue?

[2020-09-30 17:54] amanagr commented on #16442
Yes, there appears to be some problem with zulipbot.

[2020-09-30 18:33] swallitsch opened #16444 "URLs with empty [] displaying URL now"
We upgraded to 3.2 (yay!) and found a possible regression.

Previously, if you had a message like this:

`This is a sample message with a sample image [](https://media.tenor.com/images/933c3ba5f9faa828fb55bab4d47e6518/tenor.gif)`

It would display like:

This is a sample message with a sample image
![](https://media.tenor.com/images/933c3ba5f9faa828fb55bab4d47e6518/tenor.gif)

Now it displays like

[2020-10-01 00:44] timabbott commented on #16444
I'm not sure -- I think long-term what we should be doing is using the standard markdown syntax for what you're trying to do (`![alt](url)`), and it's possible that the right fix is just for us to provide that syntax.

@aero31aero @andersk thoughts?

[2020-10-01 00:56] timabbott commented on #16416
Following #16433, `yamole` is no longer used by Zulip; so you should just run openapi-generator directly.

If you can get line numbers (or something) for that block of issues, that'd be helpful; that seems like a small enough list that it should be fast to fix, if we know what the issues are.  (I'm not sure off the top of my head what that error message means).

[2020-10-01 00:57] timabbott commented on #16438
Great!  That sounds right to me.  I'm not sure what causes it either -- @vinitS101 might have some ideas.  But my guess is that we have logic to show a tooltip over it, and that if you find that logic (`git grep` for its selector will be helpful), you'll find the responsible code.

[2020-10-01 00:59] timabbott commented on #16441
@HDsky I'd recommend continuing to upgrade Zulip to 3.x; there's a good chance that we addressed this configuration issue some time ago.  But if you need to investigate in the meantime, I'd try deleting `localhost` from the `::1` line of your /etc/hosts and then restarting rabbitmq and Zulip.

[2020-10-01 01:04] andersk commented on #16444
As always, my position is that any deviation from the CommonMark spec is a bug. A link `[](https://…)` with empty link text should be [valid](https://spec.commonmark.org/0.29/#links) according to the spec, so this is a bug. We have lots of CommonMark compliance bugs, including the misuse of link syntax for image display. But if the empty link text bug is also a regression, we should prioritize fix

[2020-10-01 02:47] swallitsch commented on #16444
I'm definitely onboard with moving to the more correct `![]()` syntax, although I believe `[](https://…)` should like be considered an additional feature due to Zulip's preview functionality, which is available as an option in org settings.

[2020-10-01 03:11] andersk commented on #16416
I tried playing with `openapi-generator` a bit. It clearly has opinions about which `allOf` constructions it likes that are much more restrictive than what the OpenAPI specification itself allows. I’m not quite sure what its restrictions are, and whether they are intentional or unavoidable or just bugs.

* One theory is that `allOf` should only be used to reference things in `components`, i.e.

[c

[2020-10-01 03:30] andersk commented on #16416
By the way, although we do ideally want openapi-generator to do something reasonable, I should note that our recommended Python binding is https://github.com/zulip/python-zulip-api. I’m curious whether that might do a better job of meeting your needs.

[2020-10-01 08:12] miredo commented on #16415
On the production server (latest Zulip release), I reverted my patch and I could not reproduce the problem. So the problem might have already been fixed (Commit *queue_processors: Avoid unchecked casts* from Anders Kaseorg on queue_processors.py on June 23st 2020 ?)

[2020-10-01 08:36] vinitS101 commented on #16438
I am unable to reproduce the clicking issue, but I have experienced the flicker bug before. A solution I found for this was to replace it with proper js tooltips (like I've done in #14539 [here](https://github.com/zulip/zulip/pull/14539/commits/0648b6f5201371c0112165069d4a9b2c34a260bf)).

[2020-10-01 09:03] hs2361 commented on #16438
Ok, so replacing the tooltip with a JS tooltip should fix the flickering then? If so I will try to implement this.

[2020-10-01 09:23] vinitS101 commented on #16438
We've been actively replacing HTML titles with js tooltips so it's a change
we've wanted to do for a while now. It has the added advantage of fixing
this bug, primarily since you can have custom positioning of the tooltip to
avoid any clicking or flickering issues.

On Thu, Oct 1, 2020 at 2:33 PM Harsh Sharma <notifications@github.com>
wrote:

[2020-10-01 11:41] savish28 commented on #16430
@wcasanova is this issue resolved? I tried sending messaged through bots to stream channels with emoji in their name and was successful. If not could you share the steps to recreate the issue?

[2020-10-01 14:40] aryanshridhar commented on #16373
@timabbott , I have made corresponding changes in #16451 .

[2020-10-01 15:29] AnnaDinaburgVulikh commented on #14810
Hello, if this issue is still open Iwould like to help.

[2020-10-01 15:56] matthewlswanson opened #16452 "Navigating to Private Messages from a stream marks all PMs as read"
Zulip has been really great but there is one thing that really bugs me. If I am in a stream and get private messages from a couple people and want to go back to my private messages, I click the "Private messages" section of the app and it brings me to the feed of all my conversations. The issue with this is that I will then respond to one person and it will mark ALL of the messages as read from th

[2020-10-01 18:23] AnnaDinaburgVulikh commented on #15946
Hello, I can try to fix this if you can direct me to the file that needs fixing.

[2020-10-01 18:50] timabbott opened #16453 "Rework "user groups" widget to work like other organization-level settings widgets"
Specifically, we should use the normal Save/Discard widget that we use across all of "organization settings", rather than the custom inconsistent "Click outside to save or click discard to discard" UI that it currently has.

[2020-10-01 20:00] timabbott commented on #16452
@matthewlswanson thanks for the feedback!  We're planning to do several things to improve this issue; one of which is https://github.com/zulip/zulip/pull/16313 (avoiding marking anything as read).

In the meantime, I recommend using the `p` keyboard shortcut to jump directly to the first unread private conversation rather than clicking on "Private messages"; that's an effective workaround for this

[2020-10-01 20:24] monikas-github commented on #16426
Can I work on this?

[2020-10-01 20:46] shanukun commented on #16300
@zulipbot claim

[2020-10-02 00:31] wcasanova commented on #16430
try again to place an emoji, and it fails the message comes to private.
@savish28 How do you encode the emoji for the url?

[2020-10-02 00:55] timabbott commented on #16415
Yeah, we definitely fixed some bugs with that attribute in that code path (before the 3.0 release), so if you were on an older version, it's likely this is already fixed.  I'll close this, please comment and we can reopen if you see this after upgrading to 3.x.

[2020-10-02 00:55] #16415 closed

[2020-10-02 00:57] timabbott commented on #16416
Yeah, I see `openapi-generator` as potentially useful to Zulip mainly for offering bindings for 20 more programming languages beyond the ones we have hand-written bindings for.  (I think @ayushin has been writing Flutter, for example).

[2020-10-02 06:47] AasthaGupta commented on #15818
@zulipbot claim

[2020-10-02 06:53] AasthaGupta commented on #15818
@zulipbot claim

[2020-10-02 07:59] AasthaGupta commented on #15818
@zulipbot claim

[2020-10-02 08:40] ayushin commented on #16416
In the ideal world you would not even need too maintain a separate python-zulip-api or js-zulip-api - you would be able to auto-generate them in pretty much any language like @timabbott said

In the ideal world as well, you would not be maintaining zulip.yaml with a bunch of scripts and manual work, but rather have it generated from your code, with something like https://github.com/axnsan12/drf-ya

[2020-10-02 09:29] abhijeetbodas2001 commented on #16094
That is indeed the case. I'm not able to figure out what the problem is here.
I tried to investigate and found that `translation.get_language()` inside `get_chart_data` returns 'en' even when using the testing url for another language, but it returns the correct language when that language is configured in user settings.

[2020-10-02 09:32] arthurpankiewicz opened #16460 "tornado IOLoop blocked for 5 seconds"
Hey, when running `zulip` in vagrant for local development, my log spams the following warning:

[code]

specs:
[code]

Unfortunately I don't have any more information to share since I'm pretty confused by why this warning is firing. Any guidance is appreciated. Thanks.

[2020-10-02 11:33] trinhvandat commented on #716
hello!
I want add a SAML auth of keycloak intergration to Zulip. But I cant find document. Can you help me?

[2020-10-02 14:19] savish28 commented on #16430
I used the python zulip client to send the request.
[code]

[2020-10-02 14:52] savish28 commented on #16453
@zulipbot claim

[2020-10-02 14:58] wcasanova commented on #16430
The problem is that I cannot add emoji, in the Zabbix configuration interface, it seems that utf8mb4 is needed and it is not implemented like that.

[2020-10-02 18:27] wcasanova commented on #16430
Perhaps, it would be less difficult to add a field in stream and the topic, to add an emoji, and that is not part of the names of the same.
example how notion does
![image](https://user-images.githubusercontent.com/12401985/94957165-b531b680-04c3-11eb-8bcc-be88c8ef6544.png)

[2020-10-02 18:37] mateuszmandera commented on #716
@trinhvandat https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#saml is our documentation for configuring SAML

[2020-10-02 20:45] akshatdalton commented on #16370
@zulipbot claim

[2020-10-02 23:12] timabbott commented on #16460
Sorry for the trouble!  We've seen this exception before mainly on Windows, e.g.
https://chat.zulip.org/#narrow/stream/9-issues/topic/development.20environment.20windows/near/883809

but not recently as far as I recall on macOS.  In any case, usually that error reflects a problem with the host's shared filesystem driver and/or the RAM available on the system breaking the development server's "watc

[2020-10-02 23:43] shanukun commented on #16408
@zulipbot claim

[2020-10-03 01:20] sumanthvrao opened #16468 "Replace compose box preview widget's default vertical scrollbar to use simplebar styled scrollbar."
The vertical scroll bar appearing (in lengthy messages) in the preview widget of the compose box area, currently has the browser's default scroll bar.
![image](https://user-images.githubusercontent.com/30312566/94980132-8b6ca400-0544-11eb-9bd9-ac911bec47fc.png)

This is causing the scroll bar to overlap with our view-code-in-playground icon. So the best option is to replace the default scrollbar w

[2020-10-03 05:18] chetnaaggarwal-ca commented on #16468
@sumanthvrao
can you please tell if this code is written in python and please share source code also ?

[2020-10-03 06:57] sahil87 commented on #10970
We are currently using Zulip for both inter-company _and_ partner communication. Having this would allow us to keep the two realms shielded from others. Really looking forward to this. Thanks!

[2020-10-03 08:01] akshatdalton commented on #16430
I am working on this.

[2020-10-03 08:25] sumanthvrao commented on #16468
@chetnaaggarwal-ca If you are new to Zulip or Open Source in general, I  would suggest you to checkout https://zulip.readthedocs.io/en/latest/overview/contributing.html#your-first-codebase-contribution

[2020-10-03 12:29] 4molybdenum2 commented on #15962
@zulipbot claim

[2020-10-03 13:39] tareq12345 commented on #15946
@zulipbot claim

[2020-10-03 13:42] tareq12345 commented on #15946
@Gittenburg Hi I want to work on the easy part I'm a beginner and I want to contribute I just don't know which file to modify

[2020-10-03 13:48] Gittenburg commented on #15946
A good way to find the source code for some frontend element is to right-click on the element in your browser and choose `Inspect` in the context menu. Then in the inspector of the developer console look around the HTML for some unique `id` or `class` and then do a `git grep "whatyoufound"` in the cloned repository.

[2020-10-03 13:51] Gittenburg commented on #15946
Since we want to add the `role="dialog"` and `aria-label` to all overlays, it however probably makes more sense to do this in the `open_overlay` function in `static/js/overlays.js`, instead of editing each handlebars template individually.

[2020-10-03 13:57] 4molybdenum2 commented on #15962
@Gittenburg Hi, I am new and want to start working on this. Can you help me with what to modify?

[2020-10-03 14:11] Gittenburg commented on #15962
Hi, I no longer think that `role=tab` is the way to go (see my https://github.com/zulip/zulip/issues/15963#issuecomment-693390938). I have updated this issue accordingly. You are welcome to work on both points. It's now basically about making it accessible if you are only using the keyboard (pressing `Tab` to shift the focus to the next element / `Shift+Tab` to focus the previous element).

[2020-10-03 14:26] tareq12345 commented on #15946
so basically what I have to do is opts.overlay.attr("role","dialog") and opts.overlay.attr("aria-labe") I want to test my code

[2020-10-03 14:29] mandepsingh commented on #16453
@zulipbot claim

[2020-10-03 14:41] savish28 commented on #16453
@mandepsingh I am working on the task already. There is some issue with zulipbot I guess.

[2020-10-03 14:48] 4molybdenum2 commented on #15962
Okay

[2020-10-03 14:49] Gittenburg commented on #15946
Yeah, that would work for `role=dialog`. The label however should be set to something descriptive. I initially thought we could just use `opts.name` for this but just realized that this wouldn't be ideal since it isn't translated and `aria-label` should be translated for non-English users. (In the Handlebars templates the translation is done with the `t` function e.g. `{{t 'Streams' }}`).

So I gu

[2020-10-03 14:54] Gittenburg commented on #15946
Actually I think we should prefer `aria-labelledby` as shown on [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role) (for this you will need to add `ids` to the `h1` tags in the overlays.

[2020-10-03 15:17] tareq12345 commented on #15946
okay got you so one example would be `aria-labelledby={{t 'Drafts' }}`, I assigned it the value in `h1` and add the attribute
`id={{t 'Drafts' }}` to` h1`

[2020-10-03 15:31] Gittenburg commented on #15946
No the ids shouldn't be translated (since they are never shown to users). An example would be:
[code]

[2020-10-03 16:32] tareq12345 commented on #15946
@Gittenburg  can you review if I need to add anything

[2020-10-04 08:04] the-rdt commented on #16468
I guess this should be a `goodfirstissue`
I'd like to work on this issue

[2020-10-04 08:10] adwait-thattey commented on #16426
@zulipbot claim

[2020-10-04 10:37] sureshdsk commented on #16394
@zulipbot claim

[2020-10-04 10:51] sureshdsk commented on #16394
@zulipbot  claim

[2020-10-04 12:06] nitheeshmavila commented on #14880
claim

[2020-10-04 13:06] Vibhu-Agarwal commented on #14304
Hi @timabbott
Does #15008 require any further changes to make it mergeable?
If any, can I claim this issue, take the PR as the base, make the changes and make a fresh PR?

[2020-10-04 13:42] #16018 closed

[2020-10-04 15:08] aniketsonu commented on #16442
@zulipbot claim

[2020-10-04 17:00] hs2361 commented on #16438
@vinitS101 In the PR you have written a function called `create_generic_tooltips` to create tooltips using jQuery .  However, when I tried to apply the code as written in the PR to the `keyboard-icons`  element, the tooltip is not displayed. I have tried changing the position of the tooltip as well, but to no avail. This code seems to be working for all the other tooltips though. I am completely c

[2020-10-04 20:23] SaschaMann opened #16473 "Improving the way to ban users"
The current [suggestion](https://zulipchat.com/help/deactivate-or-reactivate-a-user) to remove a user acting in bad faith is to simply deactivate their account.

When banning a user, I'd like to be able to do the following things:

- [x] Notify the user of why they were banned. This is technically possible if I first change email visibility to admins, then look up their email and send them one, bu

[2020-10-04 20:25] SaschaMann opened #16474 "Add an admin/moderation log"
In open communities, it's important to build trust between admins and the rest of the community. A good way to do that would be a moderation/admin log that lists all admin actions that have been done. This is primarily important for deactivating users or deleting messages, but ideally the log would include all admin-only actions.

[2020-10-05 04:09] aniketsonu commented on #16442
can I claim this issue?

[2020-10-05 04:37] aniketsonu commented on #16442
I've started working on the issue, some glitch with the zulipbot ig

[2020-10-05 06:49] vinitS101 commented on #16438
@hs2361 That function is a part of the PR I shared, and it is yet to be merged. I refactored some of the existing code to create that re-usable fun 1 of 2 things to fix this:
- Rebase on top of that commit from my PR and then proceed as you are right now.
- or, don't use `create_generic_tooltips` and just use that code to get tooltips for your specific element (like we have been doing before this)

[2020-10-05 08:03] vishkrish200 commented on #16345
@zulipbot abandon

[2020-10-05 09:10] cmcaine commented on #16474
For prior art, https://lobste.rs has this: https://lobste.rs/moderations and the users there often point to it as a good thing compared to the opaque moderation on hacker news.

[2020-10-05 11:10] arthurpankiewicz commented on #16460
Hey @timabbott, just want to confrim that by

you're referring to the python packages in `requirements/`? If so, I am unfortunately still getting this error in the 3.2 zulip release.

The problem persists :(

[2020-10-05 17:19] hs2361 commented on #16438
I did exactly what you mentioned in your second point, I took the code that you wrote for the `create_generic_tooltips` function and applied it to the `keyboard-icons` element, but the tooltip wasn't appearing. I tested the function on some of the other elements on the page and it seemed to be working there. I thought there was some kind of overlay on top of the tooltip due to which it wasn't seen

[2020-10-05 17:49] robinovitch61 opened #16475 "Keyboard shortcut for previous/next location"
In some popular software (I'm thinking of Slack and VSCode), there is a keyboard shortcut for Previous Location of `Cmd + [` and Next Location of `Cmd + ]`. It would be cool to have this in zulip too!

[2020-10-05 21:11] rachitmanas commented on #16158
Can you please explain the issue a little more detailed?

[2020-10-05 23:12] vinitS101 commented on #16438
It'd be much easier to review if you pushed a PR.

Did you remove the existing html tooltip from `templates/zerver/app/right_sidebar.html`?

[2020-10-06 02:35] sumanthvrao commented on #16432
Revisiting this during designing, I think we should only have unique index only on (realm, name). We certainly want folks to configure multiple playgrounds for same pygments_language (Eg: Lean community having multiple playgrounds links) and having a unique index on (realm, pygments_language) would restrict that.

[2020-10-06 04:48] hs2361 commented on #16438
Yes, I did remove the existing tooltip. I was hesitant to open a PR because I didn't want to push code that didn't work. Nevertheless, I will open one, and we could discuss it there.

[2020-10-06 06:37] Askerion commented on #16158
Hello,

Currently it is so that the chat history is arranged left-justified one below the other, I personally don't like it that way and I'm looking for a solution how I can display my own written text right-justified one below the other, as it is also displayed in teams, for example.

Any text that is not from me is displayed left-justified and my own right-justified

[2020-10-06 07:39] aryanshridhar opened #16477 "Mobile Web : Color picker popover not responsive"
When someone attempts to change the stream color in a mobile device with less than 500px or so  , the popover is shifted towards right and eventually overflowing the screen width .

![Screen Shot 2020-10-06 at 12 58 04](https://user-images.githubusercontent.com/53977614/95171520-a0129b80-07d3-11eb-929b-d4955bc9b65c.png)

I currently see a couple of ways to resolve this .
<ul>
<li>Either make the p

[2020-10-06 09:09] shaqb4 commented on #716
Hi all, I'm just starting out with SAML and also trying to get sso with keycloak. I went through and completed the documentation steps. The problem is that when I click on my sso sign in button and enter correct credentials, it just redirects back to the zulip login page.

Keycloak is successfully making a user session, but zulip itself isn't being signed in. How is keycloak login supposed to tran

[2020-10-06 12:05] amanagr opened #16480 "Preview support for media files."
We only support preview of images and gifs right now. We would like to extend that support for media files that are common in a modern chat. Priorities are support for `.pdf` and `video` files.

[2020-10-06 12:33] wcasanova commented on #16480
the playback of audio files, is also important, related to #10643

[2020-10-06 12:38] akshatdalton commented on #16430
@wcasanova till the time I am trying to fix this, I think I can provide you a temporary solution to fix this. If I am not wrong then you must be supplying ".F0.9F.9B.B0-monitoreo" as a parameter for stream in the Payload URL. Try to encode the stream name using [URL Encoder](https://www.urlencoder.org/), copy & paste it in place of previous parameter in URL Payload.
**Note :** This worked for me i

[2020-10-06 13:55] sumagnadas commented on #14880
Can i do this?

If yes, i will start working on it.

[2020-10-06 15:07] showell commented on #14165
@aero31aero FYI, I can still reproduce this, which is a bit surprising...I thought we got to the stage of fixing this bug as part of our cleanup of active/deactivated users in settings.  It's probably at least an easier fix now, if you're interested in tackling it.  I'm un-assigning myself for now.

[2020-10-06 15:58] wcasanova commented on #16430
@akshatdalton it worked for me like this.

```%F0%9F%9B%B0%20monitoreo```

[2020-10-06 18:44] timabbott commented on #16477
@aryanshridhar thanks for the report!  What we've done with similar popovers (E.g. the one you get from clicking on a user's avatar in the message feed) is making them fullscreen in narrow windows; I think that would be an appropriate choice here as well.

[2020-10-06 19:17] alexmv opened #16482 "Linkifier validation -- non-existant group name breaks rendering"
With the following pattern and replacement:
`#(?P<id>[0-9]+)` / `https://github.com/zulip/zulip/issues/%(bogus)s`

...sending messages with `#123` results in:
[code]

We should at very least not fail to send the message -- especially since there are already such in existance.  But we should also prevent the creation of the linkifier in the first place, so people aren't confused why they silently a

[2020-10-06 21:13] torfjelde opened #16484 "Trigger outgoing webhook for every message"
From the documentation it seems like it's also possible to listen to _every_ message sent https://zulipchat.com/api/writing-bots#bot-api :

[code]

 but I can't for the life of me figure out how.

[2020-10-07 00:16] timabbott commented on #16460
No, by dependencies I meant Vagrant/Virtualbox/macOS.

[2020-10-07 00:39] timabbott commented on #16484
@torfjelde the simplest version of the bot API only reacts to messages that mention or PM the bot.  Can you talk about what exactly you're trying to do?  There's a few options and I'm not sure which is best for your situation without more information.

[2020-10-07 00:41] timabbott commented on #16482
@aero31aero can you help investigate this?

I think #13398 might be what we need to validate this more correctly.  I think most correctly we should just block creating such an invalid linkifier, and purge any that have been already created.

[2020-10-07 00:42] timabbott commented on #16432
Yes, of course, thanks for the correction.

[2020-10-07 01:18] amanagr opened #16487 "Add option to subscribe user to all default streams in change role UI."
In the change role UI (https://zulipchat.com/help/change-a-users-role), provide option to add user to all the default streams (we don't want to remove them from any streams).

See discussion in https://chat.zulip.org/#narrow/stream/92-learning/topic/Default.20streams.20.26.20guests for details.

[2020-10-07 03:30] abhijeetbodas2001 opened #16488 "Improve user experience in mobile web view."
Currently in the mobile web view,
- The blue outline for selected message has minimal functionality since keyboard shortcuts and navigation can't be used.
This also causes accidental compose box opens, and leads to not-so-smooth scrolling. Hiding the outline widget all together in mobile view would be a good idea. (Some discussion for this can be found [here](https://chat.zulip.org/#narrow/stream/

[2020-10-07 03:46] Drumsk8 opened #16489 "Restore backup to docker-compose invalid user"
Hello,

So I had a docker-compose setup running nicely on version 2.1.4 and today it started to fail repeatedly. I decided it would be a good time to update it as well. So I followed your [documentation ](https://github.com/zulip/docker-zulip#running-a-zulip-server-with-docker-compose)on the docker setup on how to upgrade, paying special attention to the [link](http://zulip.readthedocs.io/en/lates

[2020-10-07 06:10] vishkrish200 commented on #16477
@zulipbot claim

[2020-10-07 06:11] vishkrish200 commented on #16477
Hey,
Can I claim this issue?

[2020-10-07 06:27] the-rdt commented on #16468
@zulipbot claim

[2020-10-07 08:45] mandepsingh commented on #7154
@zulipbot claim

[2020-10-07 10:05] mandepsingh opened #16492 "Double tap not working to toggle the stream sub topics ."
When i clicked 1 time on stream topics its sub topics gets opened like file structure ,to Toggle back it , i have to click on another topic.  But  feature called double click toggle back looks nice here.

---

Edit by @alya (2023-10):

To clarify, I believe the request here is that clicking on a currently open stream should collapse the stream.

[2020-10-07 10:14] andersk commented on #16492
Possible duplicate of #5404.

[2020-10-07 11:10] mandepsingh commented on #16492
@andersk my issue looks same but it is not implemented yet.

[2020-10-07 11:11] mandepsingh commented on #16492
@zulipbot claim

[2020-10-07 11:12] mandepsingh commented on #16492
@andersk can i work on this issue

[2020-10-07 11:14] mandepsingh commented on #16492
@zulipbot label "area:generalUI"

[2020-10-07 13:30] aryanshridhar commented on #16477
Hey , @vishkrish200 , I am currently working on this one . Seems , like there appears to be some trouble with zulipbot .

[2020-10-07 15:39] arthurpankiewicz commented on #16460
👌

I'll do some extra debugging and update the issue if I ever end up resolving it

[2020-10-07 16:57] ritikchauhan-01 commented on #16487
@zulipbot claim

[2020-10-07 22:37] akshatdalton commented on #16430
@timabbott I think there is not any encoding bug as you can see [here](https://github.com/zulip/zulip/blob/52c411df8a74ca5ad5011feb4e7f50ea2587cfb5/static/js/hash_util.js#L25-L27) `"%"` is replaced by `"."` to make it a working URL.
If we will not do this, it will create problem if we have an emoji in the stream or topic name.
I think some of the users try to copy & paste stream name from the Brow

[2020-10-07 22:45] timabbott commented on #16477
Yep!

[2020-10-07 23:25] timabbott commented on #16489
@Drumsk8 docker-zulip before 3.x didn't have good support for the `restore-backup` tool, but the problems were just tooling problems (like the one you have there), so it's surely possible to resolve the problem you have there with the right hackery.

I wish you hadn't removed the containers from your failed upgrade, since in any case we'll want to understand what happened there.  Do you have the l

[2020-10-08 00:04] wcasanova commented on #16430
Yes, I knew about the stream id, I tried both ways.
`.F0.9F.9B.B0-monitoreo`  > `tried to send a message to stream #.F0.9F.9B.B0-monitoreo, but that stream does not exist`.
it only worked like this `%F0%9F%9B%B0%20monitoreo`

[2020-10-08 00:22] pavan5555 commented on #16442
Hi @Bhanu-mbvg  are you working on this issue ?

[2020-10-08 03:49] shanukun commented on #16487
@zulipbot claim

[2020-10-08 05:20] ritikchauhan-01 commented on #16487
hey @shanukun can I work on this?

[2020-10-08 06:36] shanukun commented on #16487
@ritikchauhan-01 I've already started working on it.

[2020-10-08 10:13] ritikchauhan-01 commented on #14565
@zulipbot claim

[2020-10-08 12:24] shubham00jain commented on #16477
@vishkrish200 Hey are you working on this issue?

[2020-10-08 12:35] diwanshu8850 commented on #16345
@vishkrish200 Are you still working on this issue? I would like to claim.

[2020-10-08 12:57] strifel opened #16498 "Adjusting ID and Title of Big Blue Button Meeting"
We currently generate the ID of a Big Blue Button Meeting for Video Calls randomly.
As suggested by @GhaziTriki we should generate them the following way:
[code]

The problem I see in that is that using the formats for the id that would mean that there can not be different meetings in one stream/pm chat. I think a time aspect should be included. (like appending the unix timestamp)

[2020-10-08 12:59] strifel commented on #16498
@zulipbot claim

[2020-10-08 13:00] shubham00jain commented on #15948
@timabbott @zulipbot Hey I would like to work on `Make contrasts meet the WCAG standard (see the Accessibility tab in the browser developer console)` and ` Wrap main content in <main> and sidebar in <nav>. #15969 ... makes the pipeline fail`.
Can you guide me on this? Thanks!

[2020-10-08 13:00] diwanshu8850 commented on #15948
@timabbott @zulipbot I want to work on the issue `Add a "Skip navigation" link.` & `Stop using simplebar for the main content. Not difficult per se but it does mangle our layout (which indicates that it's poorly constructed).` Can you guide me as where to start from.

[2020-10-08 13:10] shubham00jain commented on #15946
Hey @Gittenburg is the `role=dialog` issue fixed? If not I would like to collaborate with @tareq12345 on this.

[2020-10-08 13:10] diwanshu8850 commented on #15946
@Gittenburg I would like to work on this issue ` Label them with aria-label or aria-labelledby.`  Please guide me if this is not fixed already.

[2020-10-08 13:13] shubham00jain commented on #15818
Hey @aero31aero is this issue fixed? If not I'd like to get started on it.

[2020-10-08 13:14] diwanshu8850 commented on #15818
@aero31aero is anyone working on this? I would like to collaborate.

[2020-10-08 13:17] shubham00jain commented on #15750
Hey @Gittenburg @timabbott  is this issue fixed? I'd like to work on it. Please reply!

[2020-10-08 13:18] diwanshu8850 commented on #15750
@Gittenburg @timabbott I would like to work on this issue. Please guide me where to start from.

[2020-10-08 13:20] Gittenburg commented on #15946
I think @tareq12345 is already doing both of these in the PR #16471, and there is not much room for collaboration there, so you should probably take on some other issue.

[2020-10-08 13:20] shubham00jain commented on #15375
@timabbott I would like to work on this issue? Please show me where to begin. Thanks!

[2020-10-08 13:23] Gittenburg commented on #15750
There is already the PR #16074 for this.

[2020-10-08 13:23] diwanshu8850 commented on #15375
@timabbott Is this issue already fixed? Would like to collaborate.

[2020-10-08 13:29] shubham00jain commented on #16444
Hey @swallitsch is this issue fixed. I would like to collaborate.

[2020-10-08 13:33] diwanshu8850 commented on #16444
@timabbott @swallitsch I would also like to work on this issue.

[2020-10-08 13:38] shubham00jain commented on #16427
@amanagr @Gittenburg @iangilfillan I would like to collaborate on this feature? Please guide me where to begin!

[2020-10-08 13:40] diwanshu8850 commented on #16427
@Gittenburg @amanagr I would also like to collaborate on this new feature.

[2020-10-08 13:50] strifel commented on #16498
I started implementing it.
The problem I have is that in the request to generate the link we do not know which Stream/Private Message/Group Message the Meeting/Message that will be created is in.
I am not sure if the name and id should be generated client side.

[2020-10-08 13:54] vishkrish200 commented on #16477
@shubham00jain Yes, I have fixed this issue, but I am open to better solutions.

[2020-10-08 13:55] vishkrish200 commented on #16345
@diwanshu8850 No, I am not working on this. You may take this issue.

[2020-10-08 16:09] amanagr commented on #16427
@shubham00jain @diwanshu8850 we don't have UI ready for this. We would like user to be able to select multiple messages and then provide options for deletion / forwarding / moving / copy to clipboard / etc... The UI / UX details for it is up for discussion. I don't think this is a feature for first time contributors to work on though. Bring it up for discussion on czo to work on it. It is not like

[2020-10-08 16:59] Drumsk8 commented on #16489
Hi @timabbott thank you for getting back to me and outlining this. I like the idea of hacking the tool to get out of this jam.

I am assuming we'd need to tell the restore tool to ignore the database part and manually inject it to the docker postgre container? Hopefully, @hackerkid can offer the best path.

I've just seen some stack traces in my email from 3.2 I'll link these here.

[code]

When I

[2020-10-08 18:22] showell opened #16499 "prod installs: Confirm that user is on a clean box."
People get understandably annoyed when they install Zulip on a production box, and it overwrites things like nginx configurations.

The https://zulip.readthedocs.io/en/stable/production/install.html instructions don't explicitly tell you to run on a dedicated box; you have to instead follow the link to "installation requirements", where we are pretty clear.  I think it's understandable that some f

[2020-10-08 18:33] L422Y commented on #16499
I actually run a few other services and use NGiNX, and the install failed first because something was already bound to port 80 (non-NGiNX, actually), i ended up sorting things out manually allocating the SSL certs, but then to my surprise my nginx sites-enabled contents were modified.

I just wasn't expecting it that at all :)

[2020-10-08 18:45] ritikchauhan-01 commented on #14565
@hackerkid I made the changes but it is not shown in the git status .

[2020-10-08 18:50] ritikchauhan-01 commented on #14565
![screencapture-localhost-9991-1602182963393 (1)](https://user-images.githubusercontent.com/56171689/95500922-32c65c80-09c5-11eb-9e20-0460aec240f4.png)

[2020-10-08 21:30] timabbott commented on #16499
I feel like we used to have text of that form on the top-level document; I guess it must have been moved at some point; I guess in d99ec6426d9ed98e59f094a2f7fe62995ab42b42.

I'm not excited about adding more prompts to the script because folks use it in automation, but I suppose that with an option to skip it is a possibility as well.

[2020-10-08 21:32] timabbott commented on #16498
I feel like we could generate the IDs still randomly and just configure the name based on the current compose box location at the time the request is made to create them?

[2020-10-08 21:36] timabbott commented on #16484
OK; there's a few options for that which you may prefer for what you're trying to do:
* https://zulipchat.com/help/import-from-slack
* https://github.com/42wim/matterbridge
* https://github.com/zulip/python-zulip-api/tree/master/zulip/integrations/bridge_with_slack

[2020-10-08 23:14] aero31aero commented on #15818
@shubham00jain  and @diwanshu8850, we already have a PR open for this issue: #16458. Please take a look at other open issues.

[2020-10-08 23:31] aero31aero commented on #16444
I don't think its a regression, though. This was last touched in a8ab745ee408528469796a88719abbee3f9db572 I believe and the behavior was/is to remove link elements when it is a standalone link without any modifications to the title. So:

[code]

---

That said, we should maybe stop doing this 'smart' behavior and leave the formatting entirely to the sender.

[2020-10-08 23:54] rekhajay commented on #4891
@timabbott This issue is still marked as Open, even though there is a pending pull request. As a newbie contributor, it is confusing to know if there is still work remaining on this issue. I spend the last couple hours looking through good-first-issue tags, and  all of them look like they are already being worked on.  It is intimidating and confusing for someone new find an issue that is really op

[2020-10-09 00:04] rekhajay commented on #16345
@vishkrish200  - I am new to open source development and was wondering if I could work with you on this issue. So far, I have been able to get the zulip dev environment up and running and understand the application architecture and different components of the tech stack.  In working together, I am hoping to learn how to understand how to narrow down on where in this vast code base we do the work f

[2020-10-09 00:05] aero31aero commented on #16444
#12979 is a relevant PR here.

[2020-10-09 00:07] aero31aero commented on #16482
@timabbott yes, the first commit of #13398 fixes this. I'll test and amend the commit message to close this issue and rebase the PR while I'm at it.

[2020-10-09 00:13] aero31aero commented on #16498
@strifel we can simply pass some JSON to the API call and write

[code]

in `zerver/views/video_calls.py:164:def get_bigbluebutton_url`

[2020-10-09 00:15] alexmv opened #16502 "Deleting a message can race with various updates"
Anything which updates the message is potentially subject to a race with deleting it.  We have observed it with [literal message updates](https://sentry.io/share/issue/ee45770852124aea93606792942bebfc/) as well as [mobile message notifications](https://sentry.io/share/issue/4d90fa6524204ad4b4e9fff43c488b8b/).

In order to prevent this, the message needs to be originally selected with `SELECT FOR U

[2020-10-09 00:21] timabbott commented on #16502
I wonder if we could do this within the `access_message_by` methods?

[2020-10-09 00:27] alexmv commented on #7553
Resolved by b72bb8171b699a2f9c72cca12baaf2aa0a8122bb, since we de-supported Trusty.

[2020-10-09 00:27] #7553 closed

[2020-10-09 00:30] timabbott commented on #15375
This has not been fixed, and the issue description as well as my other comments here should explain what you need to know.

[2020-10-09 00:31] alexmv commented on #6966
Mooted by the removal of the websockets code in ea6934c26d226055f0d1fac6737e4b235f0d7783.

[2020-10-09 00:31] #6966 closed

[2020-10-09 00:58] timabbott opened #16503 "Fix Tornado load issues with `peer_add` events when a large number of users join at once"
When many users join a large Zulip organization with thousands of users, many of whom are currently online, and dozens of default streams, we currently can generate a huge number of events that can cause load problems for the Tornado server->client events system.  This is a common chain of events for a large event running on Zulip, which is increasingly common.

We had a recent partial outage rela

[2020-10-09 01:27] alexmv commented on #435
This seems extremely niche; I'm not sure it's worth doing unless other folks have had a similar use case.

[2020-10-09 01:27] #435 closed

[2020-10-09 01:29] alexmv commented on #13331
Closing, due to lack of update.

[2020-10-09 01:29] #13331 closed

[2020-10-09 06:53] hackerkid commented on #14565
(Replied in PMs)

[2020-10-09 07:30] vishkrish200 commented on #16345
Hey, @rekhajay
I'm probably not the best person to answer this question as I haven't fully understood the structure of the app and webhooks, but I may be able to help you look in the right place.

zerver/webhooks/gitlab/fixtures/merge_request_hook__merge_request_created_with_assignee.json
Perhaps looking here will help you get started.

[2020-10-09 09:38] shanukun commented on #16487
@amanagr What do you think what option needs to be provided? (like a checkbox or a button)
And should it be there only when changing role of guests?
Also if it can be used to remove user from all the default streams when changing user's role to guest?

[2020-10-09 10:20] mandepsingh commented on #16492
@zulipbot add "good first issue" "help wanted"

[2020-10-09 10:21] mandepsingh commented on #16492
@zulipbot claim

[2020-10-09 10:55] amanagr commented on #16487
For a v1, I would aim at button below user role options in the form which will subscribe user to all the default streams (regardless of user role or if the user role was changed). We can iterate from there as per feedback.

[2020-10-09 11:58] vishkrish200 commented on #16488
@zulipbot claim

[2020-10-09 11:59] vishkrish200 commented on #16345
@zulipbot abandon

[2020-10-09 12:01] vishkrish200 commented on #16488
@zulipbot claim

[2020-10-09 17:09] jahazieldom opened #16509 "File browser text not display properly on desktop application (Fedora)"
Hello everyone, in the desktop application the file browser does not work correctly and is practically unusable. I am using version 5.4.3 of the desktop application (AppImage) in Fedora 31.

Screenshot of the problem:
![image](https://user-images.githubusercontent.com/3392725/95611751-20750e80-0a17-11eb-9f37-a3ebc2c4bc2f.png)

[2020-10-09 19:06] thedeveloperr commented on #9165
I have created a PR for this issue waiting for review
@zulipbot claim

[2020-10-09 19:22] alexmv commented on #15391
This got fixed somewhere in the middleware logging changes since 3.0.

[2020-10-09 19:22] #15391 closed

[2020-10-09 19:32] alexmv commented on #6068
Resolved by switching to wal-g in c43b3d95e27594e40cb173c10f2f81f33e66aa7b and follow-ups.

[2020-10-09 19:32] #6068 closed

[2020-10-09 19:50] alexmv commented on #15743
#15819 is the underlying problem here; closing this in favor of that.

[2020-10-09 19:50] #15743 closed

[2020-10-09 20:25] mateuszmandera commented on #16502
That has been my concept for fixing this - I'm not super happy with it because it'll require adding a bool flag (or even ttwo? one for "select message for update" and one for "select usermessage for update", since both can be useful) to the function, but it seems the most reasonable approach

[2020-10-09 23:28] cozyrohan commented on #16345
@zulipbot claim

[2020-10-10 03:15] alexmv commented on #14456
This was fixed via b312001fd92dc36233e5a9f57cd9fada890880c4 in #12711; see also #10776 for more on the issue.

[2020-10-10 03:15] #14456 closed

[2020-10-10 05:07] rekhajay commented on #16345
@vishkrish200 Appreciate the pointer you gave me. Will start to look into it

[2020-10-10 05:25] shubham00jain commented on #16453
@zulipbot claim

[2020-10-10 05:26] shubham00jain commented on #16477
@vishkrish200 got it. I'll let you know if I find any.

[2020-10-10 05:29] shubham00jain commented on #16438
@hs2361 @vinitS101 is this issue fixed? I would like to contribute.

[2020-10-10 05:34] shubham00jain commented on #16426
@adwait-thattey is this issue fixed?

[2020-10-10 05:36] shubham00jain commented on #16453
@savish28 are you still working on this issue? I

[2020-10-10 05:43] savish28 commented on #16453
I have worked on the issue and waiting for pr review. Past that only testfiles need to be changed.

[2020-10-10 05:50] shubham00jain commented on #16453
Okay. It was unassigned so I thought that you have stopped working on it.

[2020-10-10 06:05] shubham00jain commented on #15331
@timabbott are all `mock.patch` migrated to `assertLogs`?

[2020-10-10 06:14] adwait-thattey commented on #16426
@shubham00jain I have opened a PR. It's pending for review

[2020-10-10 06:20] the-rdt commented on #16468
I've tried to solve the issue and generated a pr [#16515](https://github.com/zulip/zulip/pull/16515).
Please review it and recommend if any changes required.

[2020-10-10 06:39] Hypro999 commented on #16345
@rekhajay and @vishkrish200, `merge_request_hook__merge_request_created_with_assignee.json` is just a fixture - in order words, it's just test data. It's a JSON file, meaning that it's bound to either be data or config - not code.

The actual code is in `zerver/webhooks/gitlab/view.py`. This is where you should start.

All of the webhooks/integrations are located in `zerver/webhooks`. Each webhook

[2020-10-10 07:07] shubham00jain commented on #16426
@adwait-thattey okay.

[2020-10-10 07:11] shubham00jain commented on #16468
@sumanthvrao is this issue good for beginners?

[2020-10-10 10:25] shanukun commented on #16300
@zulipbot claim

[2020-10-10 10:38] shubham00jain commented on #16453
@zulipbot abandon

[2020-10-10 10:42] shubham00jain commented on #15375
@zulipbot claim

[2020-10-10 18:04] the-rdt opened #16518 "Missing links in Git Documentations"
There are several places where link text is present but hyperlink is missing.

1. Link to "git-pack-refs(1)" is missing. I expect there should be a hyperlink to https://git-scm.com/docs/git-pack-refs
![link to git-pack-refs](https://user-images.githubusercontent.com/57325543/95661828-0c80f800-0b50-11eb-95eb-57aed51f157c.png)

2. Link to "git-fetch(1)" is missing. I expect there should be a hyperli

[2020-10-10 21:53] akshatdalton commented on #16431
@alexmv can you help me understand under what conditions we can restrict a bot access to a stream ?
Does that stream need to be private or there are some other conditions ?

[2020-10-11 04:47] rekhajay commented on #16345
With all the inputs you guys have given me I am excited to start working on this. @coryrohan and myself are collaborating on this

[2020-10-11 23:25] timabbott commented on #16370
Several classes of this form of issue were fixed in https://github.com/zulip/zulip/pull/16456 thanks to excellent work by @codypiersall; the remaining ones appear to be an upstream PIL bug (which we should link here once it's filed).

[2020-10-11 23:29] #12144 closed

[2020-10-12 01:02] akshatdalton commented on #16480
@amanagr After working on a couple of issues I would like to work on this, add new feature.
Does this most likely include - adding `<video>` and `<audio>` elements to provide video and audio preview or extracting image frames also ? I think preview feature will be similar to what we see in Slack ?
Is there any stream/topic in zulipchat where we can discuss this topic ?

[2020-10-12 02:54] andersk commented on #10706
I think we can use [`git worktree`](https://git-scm.com/docs/git-worktree) for this, and save some disk space too.

[code]

[2020-10-12 04:10] YashRE42 commented on #2278
I can't reproduce the original error because the failed message is not editable, however, closing the edit box is buggy because the close button doesn't work.

[2020-10-12 05:08] HDsky commented on #16441
I just del the line `::1     localhost       ip6-localhost   ip6-loopback` ,the problem still.

[2020-10-12 05:45] HDsky commented on #16441
After i try the comand `su zulip -c '/home/zulip/deployments/current/scripts/restart-server'` i received six mail same as the

[code]

[2020-10-12 06:22] timabbott commented on #16502
Yeah; probably we need two flags to encode those ideas.  There's only about 10 call points to `access_message(`, so this might not be that much work to migrate.  Maybe `lock_message` and `lock_usermessage` would be reasonable names for the flags?

[2020-10-12 06:39] cozyrohan commented on #16345
@Hypro999
I integrated GitLab with a Zulip Webhook bot and made an assignee change in GitLab to reproduce the bug, pictured here:
![zulipBug_1](https://user-images.githubusercontent.com/47287291/95712883-6c43d580-0c1a-11eb-85ab-b03285f6811f.JPG)
Is this the problem area that the bug encompasses?

Is the expectation to not display this description at all after assignee changes are made?

[2020-10-12 06:54] Jellby commented on #16345
Yes. The description could be quite lengthy, and if it hasn't changed, repeating it is only confusing.

[2020-10-12 07:27] Hypro999 commented on #16345
The reason this happens is because the GitLab webhook is using the `get_pull_request_event_message` method located in `zerver/lib/webhooks/git.py` (a library used by more webhooks than just the GitLab one). This method will use the description every time it exists (which is passed as to it via. the `message` parameter). This means that the issue probably affects more webhooks than just GitLab.

Fr

[2020-10-12 07:56] amanagr commented on #16480
@akshatdalton the best way to approach this would be to start a conversation on #frontend related to this. It might be that we don't want to add this feature to webapp and just add it as a feature of the desktop client.

[2020-10-12 08:45] Cybernisk commented on #14455
Just what to raise up the ticket.
I have that message `psycopg2.OperationalError: server closed the connection unexpectedly` from time to time. My installation uses a simple docker-compose file, no docker swarm at all. Using version `docker-zulip:2.1.7-0` Sometimes I can get 10 messages a day, then weeks without even one. Any ideas what could be the reason?

p.s. That zulip instance is not much in

[2020-10-12 11:15] ligmitz commented on #16430
@wcasanova @akshatdalton If this issue is still open , please let me know . I would like to work on it !

[2020-10-12 11:19] akshatdalton commented on #16430
Yes please go ahead !

[2020-10-12 11:20] ligmitz commented on #16080
@zulipbot claim

[2020-10-12 11:54] ligmitz commented on #16430
Okay

[2020-10-12 11:56] ligmitz commented on #16430
I am not sure how to resolve this but will try to work on this and if I think I have found a way , I will claim it and make a pr asap.

[2020-10-12 12:39] sumanthvrao commented on #16468
@shubham00jain I believe @the-rdt is currently working on this and has a PR for opened for this. Feel free to test out the PR if you wish to contribute on this further.

[2020-10-12 17:32] timabbott commented on #16518
Interesting; I wonder what code is making those into links?  The source has `(See git-pack-refs(1).)`.  I believe the intent is to reference the man page.

[2020-10-12 17:33] timabbott commented on #16489
@Drumsk8 so I believe your problem was just that you didn't update the `docker-compose.yml` when doing the 3.x upgrade -- somewhere in the `2.1.x` series we changed how memcached authentication works to require setting a password for memcached.

@andersk @alexmv it sounds like the root issue here is that our upgrade/Docker documentation doesn't have a place to mention docker-specific upgrade notes

[2020-10-12 17:49] the-rdt commented on #16518
Currently there are no links. I just highlighted the text so others could find it easily.
I'm quite confused by statement "reference to man page",
is it for terminal git man page, accessed by command `git --help pack-refs`
or reference to "https://git-scm.com/docs/git-pack-refs"

in case the intention is of former option, I guess the command `git --help pack-refs` should be given in side for user

[2020-10-12 18:04] timabbott commented on #16345
Awesome, thanks for that investigation @Hypro999.  This thread confirms that we have a version of this problem in the GitHub webhook as well, so that audit is well worth doing:

https://chat.zulip.org/#narrow/stream/112-desktop-issues/topic/zulip-desktop.20.2F.20PR.20.231027.20Remove.20support.20for.20custom.20certif.2E.2E.2E

[2020-10-12 18:07] timabbott commented on #435
Yeah; the most I'd consider doing is if we add a doc on "How Zulip runs", including mention of cron jobs on that doc.

[2020-10-12 23:46] alexmv commented on #16441
Can you run the and show the output of the following commands?
[code]

I'd also suggest, like Tim suggested above, upgrading Zulip to 3.x.  Are there things which are preventing you from doing that?

[2020-10-12 23:51] timabbott commented on #16393
Sure!

[2020-10-13 00:45] timabbott commented on #16518
`man 1 git-pack-refs` will access it -- that is a UNIX standard way of referencing a `man` page, but of course not everyone knows that.  I think linking to the `git-scm.com` docs makes the most sense to me.

[2020-10-13 01:26] showell commented on #16503
I am currently working on this, but in case I get derailed, here is some discussion on chat:

https://chat.zulip.org/#narrow/stream/3-backend/topic/peer_add.20events

[2020-10-13 03:43] HDsky commented on #16441
cat /etc/rabbitmq/rabbitmq-env.conf
[code]

[2020-10-13 03:54] HDsky commented on #16441
service rabbitmq-server status
[code]

[2020-10-13 05:39] savish28 commented on #16453
@zulipbot claim

[2020-10-13 05:44] abhijeetbodas2001 commented on #16094
@zulipbot abandon

[2020-10-13 06:18] cozyrohan commented on #16345
@Hypro999 @timabbott
My investigation was leading me down to the same functions calls that you mentioned, and your confirmation is helpful. I will work on making the description optional, as well as auditing the GitHub webhook.

[2020-10-13 09:55] abhijeetbodas2001 commented on #16324
@zulipbot claim

[2020-10-13 18:48] timabbott commented on #13651
Sorry for losing track of this, but I understand the problem and I'm pretty sure this was either fixed by the `bulk_add_subscriptions` changes a few months ago or will be by the `peer_add` changes happening this week.  So closing this as fixed or a duplicate of #16503.

[2020-10-13 18:48] #13651 closed

[2020-10-13 22:56] alexmv commented on #16441
It looks like RabbitMQ is in a bad or broken state; most likely more than one empd service is running.  `service rabbitmq-server stop; killall epmd; service rabbitmq-server start` may resolve it.  Failing that, try restarting the server.

[2020-10-13 22:58] alexmv commented on #16441
Possibly related to #14862.

[2020-10-14 06:24] HDsky commented on #16441
I use the `rabbitmqctl list_queues` to show the list
[code]

[2020-10-14 06:34] HDsky commented on #16441
I try this, but nothing happened. and our server base on ubuntu 16.04 . it is a little hard to upgrade to 3.X zulip :(

[2020-10-14 09:31] m-e-l-u-h-a-n commented on #14880
@zulipbot claim

[2020-10-14 12:55] amanagr opened #16538 "Notify user when someone unsubscribes from the stream."
Add option to notify user when someone unsubscribes from a stream.

See https://chat.zulip.org/#narrow/stream/92-learning/topic/Stop.20unsubscribing for context.

[2020-10-14 15:14] ligmitz commented on #16430
@zulipbot claim

[2020-10-14 18:05] timabbott commented on #16347
OK I think the bug was the issue discussed in https://github.com/zulip/zulip/pull/16539/commits/7e3a6ebbd1dcd6b379cf45b45dac6c66edf75f77#r504872392.

[2020-10-14 23:55] andersk opened #16541 "ModuleNotFoundError in flush-memcached when installing separate Postgres server"
As [reported](https://chat.zulip.org/#narrow/stream/31-production-help/topic/hardware.20requirements/near/1037715) in #production help, `PUPPET_CLASSES=zulip::base,zulip::postgres_appdb_tuned zulip-server-3.2/scripts/setup/install` fails with

[code]

because the installer only sets up `zproject/prod_settings.py` for the `zulip::app_frontend_base` class. I assume this was introduced in #13239.

[2020-10-15 00:02] andersk commented on #16541
Additionally, if I comment out the `flush-memcached` line from `postgres-init-db`, it fails with

[code]

because `/home/zulip/deployments` is also only a thing for `zulip::app_frontend_base`.

[2020-10-15 00:23] andersk opened #16542 "Mentions not recognized inside italic, bold, strikethrough, or link"
We fail to recognize any of these mentions:

[code]

[2020-10-15 07:56] ligmitz commented on #16538
@amanagr I really think that it would be fruitful to notify both the user and admin of stream using mail or anything else when that user unsubscribe from the stream by his/her will.

[2020-10-15 09:12] amanagr commented on #16538
User unsubscribing from a stream isn't a very useful data for everyone. So, just an option where anyone can opt in for these notifications (including admin) would work. We don't want to force stream admin to receive notifications.

[2020-10-15 13:52] sylfel commented on #3157
A pinned Topic in a Stream is a feature we need !
Nowadays, if we want a "read-first", "best message in this topic" or  something like this, we need to store them in another tools. Why close it ?

[2020-10-15 16:49] showell opened #16548 "Allow "saving" of topics (pinning/starring/bookmark)"
Several folks have wanted to be able to mark certain topics within a stream, so they can come back to it.

We have a way for admins to mark the most "important" topic in a stream--they can simply link to the topic in the stream description, which is now prominent in the search bar when you narrow to topics.

But I think some individuals want to mark their **personal** important topics.

One idea i

[2020-10-15 16:51] showell commented on #3157
I agree with @xerus2000, @MasonProtter, and @sylfel that we probably haven't addressed all the use cases that have been brought up in this issue.  I opened #16548 to continue the discussion.

[2020-10-15 17:11] ligmitz commented on #16538
Can we execute something like whatsapp where a message is displayed when someone leaves the group?

[2020-10-15 18:45] Drumsk8 commented on #16489
@timabbott that's right, I didn't do a fresh git pull of project (dock-compose.yml file), just updated the version string in the old one as per the instructions given. I was curious about the other supporting containers like db, redis etc.. but since it only mentioned the webapp image version string, I followed the docs.

I would also update the notes [Upgrading the Zulip container](https://github

[2020-10-15 19:19] areebbeigh commented on #16090
What about a completely new checkbox called `Disable notification sounds` instead? Seems cleaner both in terms of implementation (no special strings) and the settings UI.

[2020-10-15 19:23] areebbeigh commented on #16239
caused us to no longer...? Is some info missing here?

[2020-10-15 22:28] timabbott commented on #14959
Tagging as a priority since apparently a lot of people google for this:

https://chat.zulip.org/#narrow/stream/51-kandra-marketing/topic/answer.20the.20public/near/1038231

[2020-10-15 22:41] timabbott commented on #16239
Oops, fixed -- basically we'd configured Casper to generate Junit XML output, and haven't done so with puppeteer.

[2020-10-16 00:14] #15651 closed

[2020-10-16 09:21] simolev commented on #3618
How far are we from the needed budget and this feature being put on the roadmap?
I'm trying to introduce Zulip at my workplace, and lack of a "seen" status is the first objection that's been raised against it.

[2020-10-16 13:30] aniketsonu commented on #16548
@showell this is a valid point, but should we allow users to pin the topic to the top just like we can pin the stream to the top?

[2020-10-16 17:25] mateuszmandera opened #16554 "Jotform integration"
It might be valuable to implement an integration with [Jotform](https://www.jotform.com/), as we have received feedback from users who would be willing to switch to Zulip if we had that feature available.

It seems like a standard outgoing webhook, with https://www.jotform.com/help/245-how-to-setup-a-webhook-with-jotform providing some introductory information on setting this up.

[2020-10-16 18:54] chuckycharms commented on #3618
Tim,

Asking an unorganized group to put together a budget seems backwards to me,
maybe I am missing something. However, It would make more sense for you to
propose the required budget and then those interested can contribute their
bounty portions.

Thanks,
*ADAM JOHNSON — PRESIDENT*
(815) 304-6008 | AJOHNSON@THEWISP.NET <ajohnson@thewisp.net>
PO BOX 460 TAMPICO,IL 61283
*WWW.THEWISP.NET | * <http

[2020-10-16 19:57] alexmv commented on #16482
[This is also possible in topic names](https://sentry.io/share/issue/655e20a2bd4f467cafa4f9c0dd17ad00/).  The effects of this are worse if it's in a topic name, as it breaks for more than just a single message.

[2020-10-17 00:07] timabbott commented on #16482
Let's see if we can get #13398 integrated.

[2020-10-17 00:15] timabbott commented on #16489
If you look inside the backup tarball, you'll see it contains the uploaded files, a `pg_dump` postgres backup, and the settings (which are managed via Docker anyway).

I think what you want to do is restore the backup on a new 2.1.x Docker setup manually (which you can by just just using `pg_restore` to restore the database backup, and untarring the files tarball the same way `restore-backup` does

[2020-10-17 00:25] timabbott commented on #16489
I've resolved the original documentation issue here: https://github.com/zulip/docker-zulip#using-docker-compose.

[2020-10-17 00:25] #16489 closed

[2020-10-17 02:54] Drumsk8 commented on #16489
@timabbott Amazing thank you, that's enough direction and clarification to get me going. I'll report back as soon as I've managed to work on it.

[2020-10-17 15:59] ritikchauhan-01 commented on #16090
@areebbeigh , we just want to have a option(silent)  inside the noditfication-sound , as said by Tim above.

[2020-10-17 16:32] starlordsaraf commented on #10539
@zulipbot claim

[2020-10-17 17:43] starlordsaraf commented on #10539
@timabbott For this issue, the topic input doesn't allow more than 60 characters to be sent for the topic, should that be changed to accept more than 60 characters?

[2020-10-18 05:49] amanagr commented on #14880
#16562 and #15041 are two ways this could possibly go. So, we don't need any other PRs on this. (Removed the labels so that no one else starts working on it.)

[2020-10-18 07:33] cozyrohan commented on #16345
@zulipbot claim

I fixed the bug, but am still working on tests.

[2020-10-18 08:28] ligmitz commented on #16554
It may proof to be a useful integration to get real-time information of the form responses . Are you willing to work on it?

[2020-10-18 08:46] ligmitz commented on #16473
It is a good thing to notify the user of the reasons responsible for his/her banning and the time flexibility to revert a decision by admin. I would like to work on this issue if you are not currently working. Please let me know.

[2020-10-18 09:40] mateuszmandera commented on #10539
@starlordsaraf As explained in the issue description, we don't want to increase the topic length limit, but rather, when the subject of the email is longer than 0 characters "we should make the first line of the zulip message be the subject line of the email, if it is the first message with that topic (maybe: the first message with that topic that was sent in the last week?)."

[2020-10-18 09:50] mateuszmandera commented on #16347
@timabbott Hmm, what's your thinking here? I went through that codepath originally when looking for explanations for this issue, and still don't see how it could have caused this. Your commit states "Subscription objects were created
without corresponding RealmAuditLog entries." - but the Subscriptions were being made in `transaction.atomic()`, so either all of them got successfull created or none

[2020-10-18 11:35] mateuszmandera opened #16565 "test-queue-worker-reload doesn't fail as desired"
`test-queue-worker-reload` is a small tool that verifies the correct queue count in `run-dev.py` and their reload upon file change. Currently it isn't integrated with our CircleCI checks or the automated test tools that we normally run, so it tends to not be used at all, and is frequently broken - mainly through the expected queue count getting outdated.

Also, as of now, its failure mechanism see

[2020-10-18 12:24] SaschaMann commented on #16473
I'm not working on it, but I don't know if anyone else is either (probably not I'm guessing based on the lack of comments).

[2020-10-18 13:23] YashRE42 commented on #14503
I had another idea here... how about we simply count down on the unreads over a period of time? We can use a very lenient estimate for how long that time is. The idea being that this can provide more satisfying feedback to the user and reaffirm the idea that messages are being "marked" as "read".

[2020-10-18 15:12] amanagr commented on #16548
https://github.com/amanagr/zulip/commit/1c70b733c5857ceb123706d112ffaf78b61631cc implements this idea using starred messages as base feature. It has important work regardless of whether this idea gets accepted.

[2020-10-18 20:26] m-e-l-u-h-a-n commented on #15331
@shubham00jain are you working on it, because I saw that you have assigned yourself for other issue.

[2020-10-18 20:27] m-e-l-u-h-a-n commented on #15331
@timabbott from your previous comment I think there is still work to be done on this issue, I have gone through some of the previous commits referencing this issue, from which I think I could work on it.
So I wanted to ask,can I start working on it?

[2020-10-18 21:36] #16468 closed

[2020-10-18 21:58] timabbott commented on #16565
I think basically we should fix the actual live-reload behavior (the main bug being that it doesn't handle rebases well), potentially including deleting the `zerver/tornado/autoreload.py` logic which has never worked fully as desired, and once that's done, look at whether there's a version of this tool that can help with verifying a lack of regressions to that logic.

[2020-10-18 22:57] areebbeigh commented on #16565
I played around with this a little. Adding some stuff that might be relevant:

[code]

If you make the edits above, particularly the part where we've commented out reading `run_dev.stdout`, the program exits. I think the program hangs when reading from run_dev.stdout, which probably is implemented as a generator yielding `stdout.readline()` which blocks?

Something else I noticed:
So `run-dev` doe

[2020-10-18 23:49] timabbott commented on #15331
Yeah, go for it!

[2020-10-19 00:26] timabbott commented on #16347
Oh, the simplest theory was that the Subscription objects were made just before a failure (E.g. the database/server being restarted at the wrong time), as so no RealmAuditLog entries were created.

Database writes are network calls, and one should always assume that things can fail at any time in a network context (or more generally -- the server could be rebooted or the process killed for a resta

[2020-10-19 00:26] #16347 closed

[2020-10-19 02:30] m-e-l-u-h-a-n commented on #15331
@zulipbot claim

[2020-10-19 04:35] andersk commented on #15205
This is now blocking a Mypy upgrade.

[2020-10-19 05:44] its-harsh commented on #16023
@zulipbot claim

[2020-10-19 12:33] Garagoth commented on #14499
Can this be used to rename a topic as well?

[2020-10-19 13:09] aniketsonu commented on #16538
@zulipbot claim

[2020-10-19 15:13] tomgw commented on #10886
A bit late in the discussion but it seems relevant here: I addressed the same problem in my question in the Zulip community when it was [answered ](https://chat.zulip.org/#narrow/stream/101-design/topic/new.20message.20count.20disappearance/near/807196 )by @showell  with a rewrite of calc_can_mark_messages_read() in static/js/filter.js.
In short: with one boolean you can avoid messages being marke

[2020-10-19 17:14] mateuszmandera commented on #16347
Ah fair enough, while rare, a network failure could have caused this. Makes sense to close this given that I have found no other plausible explanation for this in my digging.

[2020-10-19 19:06] #16100 closed

[2020-10-19 22:37] alexmv commented on #12490
What's our explanation of the division of settings between `zulip.conf` and `settings.py`?

[2020-10-19 23:32] timabbott commented on #12490
The difference is that settings in `zulip.conf` are accessible to the `puppet` tools that configure the OS, whereas those in `settings.py` are not.  One might be able to summarize this for users as something like:

"Configuration for the Zulip application lives in `settings.py`, but a small portion of configuration used to determine which services to run on a given Zulip server, and how to configu

[2020-10-19 23:44] timabbott commented on #16023
@its-harsh do you have a plan for how to provide better output?  I think there's a few sensible approaches:
* We can pass an option to `openapi-core`, if one exists, to do a briefer traceback format.  (If they don't have this feature, we should look at opening an upstream issue for that problem).
* We can catch exceptions from the validator and just print the arguments that we passed which failed.

[2020-10-20 01:31] #15205 closed

[2020-10-20 02:58] mandepsingh commented on #16492
@zulipbot abandon

[2020-10-20 04:19] ligmitz commented on #16473
@zulipbot claim

[2020-10-20 06:15] timabbott commented on #4891
@rekhajay sorry to hear that.  One thing you can do with a situation like this is help get the PR merged, so that the issue actually gets resolved.

For https://github.com/zulip/zulip/pull/12534, the main reason it isn't merged is that we don't have confirmation of anyone new to the project trying the instructions and posting feedback on them -- would you be up for doing so?  That sort of work is

[2020-10-20 06:17] timabbott commented on #16554
Tagged it as a good first issue; this seems like a great project for someone new to working on Zulip.  https://zulip.com/api/incoming-webhooks-overview documents how to write one.

[2020-10-20 07:11] ligmitz commented on #16430
@timabbott Can I please work on this issue parallely with my PR #16524 under review ?

[2020-10-20 07:19] its-harsh commented on #16023
@timabbott I wanted to reproduce this issue so read documentation here.[ https://zulip.readthedocs.io/en/latest/subsystems/events-system.html#testing ] but I am not able to reproduce it. I don't know how to  fail apply events method

[2020-10-20 07:40] ligmitz commented on #16554
@timabbott Can I please work on this issue parallely with my PR #16524 under review ?

[2020-10-20 09:05] areebbeigh commented on #16565
Working with this further, I think I've identified the codepath causing this issue:

`tools/test-queue-worker`

[code]

`tools/run-dev.py`
[code]

`tools/webpack`
[code]

So what is happening is, 'test-queue-worker' is sending a SIGINT to `run-dev` and `run-dev` is sending a SIGTERM to all its children. All of them seem to exit except `tools/webpack` can't exit gracefully because of the `SIGTERM`

[2020-10-20 09:17] its-harsh commented on #16023
@timabbott  I have read this documentation https://zulip.readthedocs.io/en/latest/subsystems/events-system.html#testing
It to fail a test i should write test in such a way so that verify_action 's apply_events method fails on running test
Anyone knows how to produce it.

[2020-10-20 12:05] idandr opened #16577 "Handle ldap.log with logrotate or supervisord"
Our /var/log/zulip/ldap.log keeps growing. I did not find a rule that rotates and compresses this log file in /etc/logrotate.d/zulip or in /etc/supervisor/conf.d/*. Would be great if a rotation rule could be added at the right place.

[2020-10-20 12:21] showell commented on #16023
To reproduce this error, you can basically modify any event in `zulip.yaml` to have the wrong documentation.  Here is an example patch:

[code]

And then run `./tools/test-backend zerver/tests/test_events.py`

[2020-10-20 18:39] timabbott commented on #16577
Logrotate seems appropriate for this.  @alexmv FYI.

@idandr can you provide a bit of detail as to what content appears in the log for you?  I wouldn't expect the log file to get significant in size in normal use, so I'm curious if there's excessive logging that needs investigation as well.

[2020-10-20 19:21] timabbott commented on #16233
There's some discussion in https://chat.zulip.org/#narrow/stream/137-feedback/topic/user.20member.20of/near/1042140

I think it makes sense to provide both a list of streams and a list of user groups in the "Full profile" page.  This should be a straightforward frontend-only project for someone looking for one.

[2020-10-20 20:12] akshatdalton opened #16579 "Make User Profile Picture Adjustable"
Till now users can just upload their profile picture but it will be really great if they can adjust it (dragging, zoom in, zoom out) before uploading.
This is similar to what we see there on Facebook and Whatsapp.

[2020-10-20 23:55] timabbott commented on #16554
Sure!

[2020-10-21 00:04] timabbott commented on #16579
@Jagansivam28 did you look into libraries we might use for this feature?

[2020-10-21 00:07] #16394 closed

[2020-10-21 01:45] mmarinez commented on #16442
I would like to check on this issue. Can you point out from where are you generating the link? so I can work on the copy to clipboard feature.

[2020-10-21 02:40] amanagr commented on #16442
@mmarinez someone is already working on this issue.

[2020-10-21 08:26] the-rdt commented on #16518
@timabbott yes linking to `git-scm.com` docs will be appropriate.
I have made appropriate changes and generated a pr #16584.
Please review it and merge if appropriate or suggest any changes if required.

[2020-10-21 13:12] idandr commented on #16577
Sure, thanks for the quick reply.

Some numbers: We have messages of about 6 months in the log file, 294277 classified as WARN and 1340027 as DEBG summing up to a bit more than 400 MB. At the moment we have around 80 users, numbers growing.

It looks like messages in ldap.log (mostly) belong to two groups.

### Group 1 - LDAP sync
We run an LDAP sync every hour. Each run lasts 15 to 20 seconds. Fo

[2020-10-21 14:43] #2304 closed

[2020-10-21 14:45] #16518 closed

[2020-10-21 17:55] timabbott opened #16586 "Replace `manage.py knight` with a `change_user_role` management command"
The `manage.py knight` command is the current supported way to edit who is an administrator from the command line.  But it's based on a very outdated model:
* The `permission` naming comes from an old data model replaced years ago
* The command's name is out of line with the rest of our management commands
* It doesn't support the `owner` role.

I think we want to basically just rewrite it to solv

[2020-10-21 18:15] #16430 closed

[2020-10-22 08:37] ThomasBaeuml commented on #16346
Are there any new findings or solutions?

[2020-10-22 13:46] m-e-l-u-h-a-n commented on #15331
I have done changes at some places where I replaced `mock.patch('logging. ...')` with `assertLogs()`, after which I ran those tests although those tests run as before(without any changes made),  how/where would I find the logs to know that the line was actually logged, so that I can know that the changes I made are working in the desired way.
I am attaching a screenshot of the changes which I made

[2020-10-22 14:52] sahil839 commented on #16586
@zulipbot claim

[2020-10-22 16:16] areebbeigh opened #16596 "zulip-desktop: Streams scroll doesn't fit"
The list of streams on the left in the "streams" window (after clicking on `Add Stream`) gets cut-off towards the end:

![image](https://user-images.githubusercontent.com/15276828/96900157-67e7aa00-14af-11eb-8342-39c0bced64b9.png)
![image](https://user-images.githubusercontent.com/15276828/96900352-9feeed00-14af-11eb-81d8-fe2aa86a2c3b.png)

Ubuntu: 18.04
Zulip desktop: v5.4.3

[2020-10-22 16:22] areebbeigh commented on #16596
Just realised this probably belongs to the zulip-desktop repository. Can it be transferred?

[2020-10-22 19:30] mateuszmandera opened #16599 "Refering to a topic when composing a message deletes all the composed content"
When composing a message, if after typing some content, you use a topic reference `#**stream_name>topic_name**` and click the autocomplete hint, it just deletes everything. Easier demonstrated visually than with words.

![topic](https://user-images.githubusercontent.com/45007152/96920635-ed159380-149c-11eb-8628-dafaa6b49759.gif)

[2020-10-22 20:41] gnprice opened #16600 "Translation for zh_TW gets ignored in some places"
In the webapp, if I try switching to the translation for "Chinese (Taiwan)", a lot of the text on the screen is still untranslated:
![image](https://user-images.githubusercontent.com/28173/96927079-63010700-146b-11eb-843e-ebede1e91469.png)
That's even though many (at least) of those strings [do have translations in Transifex](https://www.transifex.com/zulip/zulip/translate/#zh_TW/$/67194598?q=text

[2020-10-22 21:58] its-harsh commented on #16023
@timabbott I think we should catch exception from validator and raise an exception in this way.
[code]

With this I am getting this output

[code]

Is this fine ? Should I remove WIP from PR 16601

[2020-10-22 22:03] #16211 closed

[2020-10-22 22:44] its-harsh commented on #16023
@timabbott If I remove these exception handling
[code]
On test-backend I am getting error from this function `test_validate_against_openapi _schema`

even with these I am getting error from `test/run-mypy`

[2020-10-22 23:43] #16600 closed

[2020-10-22 23:52] timabbott commented on #16599
@aero31aero @ryanreh99 any idea what the bug is here?  Definitely seems worth fixing.

[2020-10-23 06:26] its-harsh commented on #16023
@zulipbot claim

[2020-10-23 09:40] alizx commented on #10643
voice messages like the ones in WhatsApp and Telegram can be a great addition to this awsome product.

[2020-10-23 14:49] valleandres commented on #5099
@Gittenburg are there any updates regarding this? It has been more than three years since it was created...

[2020-10-23 18:38] Purhan commented on #15029
@zulipbot claim

[2020-10-23 19:00] timabbott commented on #16246
@sdurrheimer do you have time to test the changes proposed in #16612?

[2020-10-23 19:16] Purhan commented on #15029
@Krishna-Sivakumar I just noticed you have an open PR. Are you still working on this? If so, please tell me and I will drop this issue. Didn't see that before claiming it.

[2020-10-23 20:15] Krishna-Sivakumar commented on #15029
nope, I'm not working on it anymore. Please go ahead.

[2020-10-23 21:34] showell commented on #16503
Still working

[2020-10-23 23:42] alexmv commented on #16577
We certainly should rotate auth.log (#16622).  That being said:

This seems to be the crux.  The intent is that servers should probably not run in DEBUG level in steady-state, as that is expected to create a log of logs.  Can you clarify the sorts of common problems that debug-level logs are useful for?  If we can source that information at a higher level, we can avoid folks having to run at debug

[2020-10-24 00:03] #16023 closed

[2020-10-24 02:24] m-e-l-u-h-a-n commented on #15331
I marked it as WIP because there are still changes to be done in some files, sorry I forgot to mention that I would update the comment there.
Also I wanted to ask that only backend tests(contained in `zerver/tests/`) need to be migrated to use assertLogs as mentioned in the issue #15331  or at other places also(like in `analytics/tests/test_views.py`)?

[2020-10-24 17:23] killarny commented on #5296
I'm going to be testing zulip within our team, in an effort to move away from rocket.chat (it feels stale and old-fashioned, plus their threading UI is annoying to everyone on the team)

The latest reply on this issue makes it sound like you have some strategy in place for migrating rocket.chat data to zulip, but I can't find mention of the details for that process anywhere else. Am I misreading?

[2020-10-24 21:35] Abhirup-99 commented on #16579
@timabbott can I work on this issue?

[2020-10-24 23:42] cozyrohan commented on #16345
@Hypro999 @timabbott -  I just submitted Pull Request #16630. Would appreciate getting some feedback on the code I have written to fix the bug. I am a first year computer science student, so still new to Git and open source, so any feedback to improve is much appreciated.

[2020-10-25 08:21] ayushin opened #16631 "moving zulip production to google cloud"
Hi,

Lost almost a day figuring it out, I hope this helps somebody:

- looked into running zulip in a cluster with all services separate (redis, rabbitmq, tornado) - gave up, so the best best is to run zulip on a google compute VM with REMOTE_POSTGRES and S3_UPLOAD_BUCKET & S3_AVATAR_BUCKET

- it is possible to use Google Storage in S3 interoperability mode, but this requires modifying S3_Upload_B

[2020-10-25 14:18] Jagansivam28 commented on #16579
@timabbott  i think we can user [Croppie](https://foliotek.github.io/Croppie/) for this

[2020-10-25 14:22] abhijeetbodas2001 commented on #15403
Do we use `deferred_work` queue for streams? We call `actions.py/do_mark_stream_messages_as_read` directly from `message_flags.py/mark_stream_as_read` right? (as opposed to creating a `deferred_work` event first like [here](https://github.com/zulip/zulip/blob/master/zerver/lib/actions.py#L3352))

[2020-10-25 21:55] #16586 closed

[2020-10-26 06:44] edith007 commented on #16253
can i claim this issue?

[2020-10-26 07:14] edith007 commented on #16253
@zulipbot  claim

[2020-10-26 17:00] imolein commented on #12715
I would like to have this feature too. I have quiet some private messages from deactivated users or old group private messages, which I want to delete.

[2020-10-26 19:48] #16503 closed

[2020-10-27 09:06] abhijeetbodas2001 commented on #16324
@zulipbot Still working on it.

[2020-10-27 11:05] worldskat opened #16641 "problem with search in russian with capital letters"
Search in Russian language is case-sensitive (unlike English),  but search string normalize query to lower-case. So, if i want to find word like  ```Привет``` in  ```Привет, Мир!```, i'll get an empty result.
Reproduced on fresh install self-hosted,  ubuntu 20.04, last zulip version in https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz - 3.2,
Install zulip with this man:
https://zulip.

[2020-10-27 11:05] idandr commented on #16577
Thank you for adding ldap.log to log rotation.

I think our problems are not common problems in general. We had a merger and, till both directories are consolidated, we have two of them to authenticate against. An LDAP proxy between Zulip and the directories creates a common name space for Zulip. As far as I remember, we had a duplicate user name and duplicate email addresses in the common name sp

[2020-10-27 11:21] aniketsonu commented on #16442
@zulipbot claim

[2020-10-27 11:29] Abhirup-99 commented on #16233
@timabbott can I work on this issue? This seems a bit easy and I am a newbie in open source. Thanks.

[2020-10-27 19:21] alexmv opened #16642 "Failures to send message in email gateway should notify the user in some way"
Replying to an email on, say, an announcements stream (which only allows admins to post) will attempt to reply on the stream, and error out in `_internal_prep_message` due to the authorization check in `check_message`.

This results in logging an exception, returning `None` from `internal_send_stream_message` in `process_missed_message`, ignoring that value, and then logging `Successfully processe

[2020-10-27 20:02] Abhirup-99 commented on #16233
@zulipbot claim

[2020-10-27 20:32] #12490 closed

[2020-10-27 21:59] timabbott commented on #15403
Yes, that's correct.  The reasoning is that "all messages in a stream for a single user" is small enough that there's no reason to defer; the reason we need a queue for it is because we mark all messages in the stream for all users, and I know experimentally that can take minutes to run.

[2020-10-28 01:55] AdityaKG-169 commented on #16442
Is anyone working on this issue?

[2020-10-28 08:21] Selectaman commented on #16492
@zulipbot claim

[2020-10-28 08:25] Selectaman commented on #16492
@andersk I am going to add toggle action when user again clicks stream. Is it okay?

[2020-10-28 13:43] Selectaman commented on #3916
Hello @timabbott I tried reproducing this issue going in display settings then checking "Show user list on left sidebar in narrow windows" but users list is still in right side only!

[2020-10-28 13:56] Selectaman commented on #16492
@timabbott can I start working on this issue? I will try to add toggle action when user again clicks stream.

[2020-10-29 01:19] timabbott commented on #16542
https://zulip.readthedocs.io/en/latest/subsystems/markdown.html is relevant background for how this works.

This is likely a somewhat subtle issue involving order-of-operations in the markdown processor.

[2020-10-29 04:56] Selectaman opened #16655 "Users list is not in left side after changing display settings"
In display settings I have turned on "Show user list on left sidebar in narrow windows", but still the users list in right side only. No change is observed.

[2020-10-29 04:59] #16246 closed

[2020-10-29 05:05] timabbott commented on #16631
Thanks for the feedback @ayushin!

* I agree we should support specifying the database and usernames; I guess #16629 should resolve that once you have a chance to finish it.

There's no reason to run Tornado on a separate system and we don't recommend or support that.  We do support redis and rabbitmq on remote systems (and `docker-zulip` does that model).  Might not be worth the effort, though.

[2020-10-29 05:23] timabbott commented on #16655
Did you reload after changing it, and is your window actually narrow?  This setting only controls what we do with the USERS tab for narrow windows, not the general case.

![image](https://user-images.githubusercontent.com/2746074/97528937-1a19e880-196c-11eb-9e7a-f8d745f404fb.png)

(I'm pretty sure there's an existing issue open for supporting a feature to hide the USERS area for folks who want the

[2020-10-29 05:23] #16655 closed

[2020-10-29 06:36] Selectaman commented on #16655
Yeah It is working in narrow windows. Sorry for misunderstanding

[2020-10-29 08:08] ferranpujolcamins commented on #2367
I think an option to not display the popup agian would be useful. I already know what I'm doing when muting a topic.

[2020-10-29 08:29] mandepsingh commented on #16492
hey @Selectaman you an also ask them on zulip issues [https://chat.zulip.org/#narrow/stream/9-issues]

[2020-10-29 08:29] mandepsingh commented on #16492
[https://chat.zulip.org/#narrow/stream/9-issues](url)

[2020-10-29 08:31] mandepsingh commented on #16492
hey @Selectaman ,you can also ask them on (zulip issues [https://chat.zulip.org/#narrow/stream/9-issues](url)) for help and permissions.

[2020-10-29 08:33] mandepsingh commented on #16492
hey @Selectaman ,you can also ask them on ['Zulip issues'](https://chat.zulip.org/#narrow/stream/9-issues).

[2020-10-29 13:46] StrikerTwo opened #16659 "Error on incoming mail if https binding was removed"
Hello,

first of all thank you for your great product. We tried it out on a standalone server (using Let's Encrypt) but have now moved the server behind our firewall and reverse proxy.
Everything worked fine after following https://zulip.readthedocs.io/en/stable/production/deployment.html?highlight=reverse#putting-the-zulip-application-behind-a-reverse-proxy - all but incoming emails.
It seems tha

[2020-10-29 15:07] starlordsaraf commented on #10539
@zulipbot unclaim

[2020-10-29 17:41] shivamSharmaMWP commented on #11440
hey @timabbott , are you still using google meet url generation in your app ?

[2020-10-29 17:52] zulipuser opened #16660 "Zulip won't start"
Hi first time user,

PLease help me with this error: Fail to start after restart server.

Traceback (most recent call last):
  File "./manage.py", line 44, in <module>
    log_management_command(" ".join(sys.argv), settings.MANAGEMENT_LOG_PATH)
  File "/home/zulip/deployments/2020-10-09-16-43-23/zulip-py3-venv/lib/python3.7

[2020-10-29 18:03] #16599 closed

[2020-10-29 18:17] zulipuser commented on #16660
Nevermind. It was the ENABLE_GRAVATAR line casing the issue.

[2020-10-29 18:17] #16660 closed

[2020-10-29 22:18] timabbott commented on #11440
It depends on the authentication, but it might need to be on the backend if there's a Zulip-side secret.  If Google's authentication APIs allow it, one could imagine a frontend-only implementation, but I think that's unlikely to be supported.

An Oauth flow like we use for Zoom (and soon Webex) is probably best (https://github.com/zulip/zulip/pull/16633).

There is one for Google authentication; I

[2020-10-29 23:18] #16438 closed

[2020-10-29 23:44] kanishka-work commented on #16322
I thought about this more and I have switched to Zulip for my personal use. If AGPL is too strong, then GPL might be a minor change that guards a slight bit more against people reselling without open sourcing their modifications so that community can benefit from their work, but Apache is similar enough.

[2020-10-29 23:56] #16477 closed

[2020-10-30 00:14] timabbott commented on #16426
I merged 5bfafae764742d2ebc512ab2c3dc2a9d35724035 to cover the documentation linking piece that I wanted for this issue.

[2020-10-30 00:26] timabbott commented on #16426
And 5fb667cf9ed265247611cc75aac9941932640b2d implements the other part of my proposal.

[2020-10-30 00:28] timabbott commented on #16426
Cross-posting from #16472, I'm wondering if there's a better way to do the indication than duplicating message content in the popover, which is fundamentally not super clear -- could we make the "delete a message" popover work like the "emoji reactions" popover in pointing to the message in question, visually?

I think that's a better path forward than the strategy taken in #16472.

[2020-10-30 13:09] Abhirup-99 commented on #16233
@timabbott I have made a pr. Can you review it?

[2020-10-30 22:15] timabbott commented on #14379
Commonmark agrees that these should not be merged, so it seems definitely worth making this tweak.

[2020-10-30 22:21] #14379 closed

[2020-10-30 22:34] timabbott commented on #16659
Thanks for the report.  I think you can actually just pass `-d http://127.0.0.1` to the tool in the postfix configuration; but that still requires some hackery.

@alexmv @mateuszmandera perhaps we should make `email-mirror-postfix` check the `http_only` property from `zulip.conf` and pick its default URL based on that?

[2020-10-31 02:47] timabbott commented on #2367
Well, we do want it to be somewhat visible because it's accessible via keyboard shortcuts one could hit by accident.  But I'd like it to be 1 line height in size, not the giant thing it is right now.  The main question is where to put it -- perhaps above the compose area?

[2020-10-31 07:22] cozyrohan commented on #16345
@zulipbot claim

[2020-10-31 11:54] s-cork commented on #15682
I've convinced my team to move over to zulip from slack for a trial 🤞

I was doing some exploration to set things up and think about what the hesitations might be before we start.

Status was the immediate thing I think will become a niggling issue for the team as it's a nice feature and something we've become accustomed to in slack.

![Screen Shot 2020-10-31 at 19 36 12](https://user-images.githu

[2020-11-01 03:49] edith007 commented on #12613
@zulipbot claim

[2020-11-01 03:51] edith007 commented on #12613
@zulipbot claim

[2020-11-01 04:02] amanagr opened #16674 "Disable tooltip on click in touch based devices."
We show tooltips at various places in our app. On touch based devices, tooltips are triggered on click (since hover is not a concept for them) and persist when the modal is open (or the function associated with it is triggered). We would like to disable tooltip on touch based devices or come up with some intelligent way to show them.

Example:
![stream_create](https://user-images.githubusercontent

[2020-11-01 05:57] hs2361 opened #16676 "Settings icon tooltip in left sidebar of webapp UI is buggy"
This is the settings widget on the left sidebar:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/51477130/97796090-db1db880-1c33-11eb-9abc-5832e5de522a.gif)

As is clearly seen in the GIF, the tooltip flickers on hovering, and it's not possible to click the icon, because the tooltip eats the click. This is similar to https://github.com/zulip/zulip/issues/16438.

Proposed soluti

[2020-11-01 05:57] hs2361 commented on #16676
@zulipbot claim

[2020-11-01 09:40] MSurfer20 commented on #16026
@zulipbot claim

[2020-11-01 10:15] aniketsonu commented on #16442
@zulipbot claim

[2020-11-01 18:54] ligmitz commented on #16676
Yeah, the button does not respond to click event when it is hovered upon specifically at the top-left point otherwise it behaves normally.

[2020-11-01 20:13] shanukun commented on #16359
Still working.

[2020-11-01 20:48] LoopThrough-i-j commented on #16028
@zulipbot claim

[2020-11-02 03:31] amanagr commented on #16028
Closing since this was fixed via #15574. @LoopThrough-i-j sorry! You need to find another issue to work on.

[2020-11-02 03:31] #16028 closed

[2020-11-02 03:34] nikhilmaske-2001 commented on #16676
I want to work on this issue...I will change the position of that setting icon

[2020-11-02 03:42] nikhilmaske-2001 commented on #16676
@zulipbot claim

[2020-11-02 03:44] amanagr commented on #16676
We don't want to change the position of setting icon here. The goal is to remove the flickering behavior. You can experiment with position of the tooltip if it helps.

[2020-11-02 04:04] nikhilmaske-2001 commented on #16676
I tried spacing between the search icon and setting icon but that flickering behaviour didnt stop.
what should be next step?

[2020-11-02 04:30] hs2361 commented on #16676
@nikhilmaske-2001 Take a look at https://github.com/zulip/zulip/issues/16438. I fixed it in https://github.com/zulip/zulip/pull/16571. You can make similar changes for the left sidebar settings tooltip as well. Just move the tooltip to the top or to the bottom.

[2020-11-02 04:56] nikhilmaske-2001 commented on #16676
Ok @hs2361 Thanks you. I am now working on it.

[2020-11-02 05:44] LoopThrough-i-j commented on #16028
Okay thats fine.Thanks for letting me know.

[2020-11-02 08:12] nikhilmaske-2001 commented on #16676
@hs2361 @amanagr I have solved this issue and now there is no flickering behaviour. What to do next?

[2020-11-02 08:13] hs2361 commented on #16676
Open a PR and reference this issue.

[2020-11-02 09:08] nikhilmaske-2001 commented on #16676
@hs2361 I have tested the tooltip myself by hovering over it, and it works fine but when I run tools/test-js-with-node it shows TEST failed as shown below :
![image](https://user-images.githubusercontent.com/59444243/97849759-0928f880-1d19-11eb-957d-23636a8c0a34.png)

[2020-11-02 09:09] nikhilmaske-2001 commented on #16676
what to do now @hs2361 ?

[2020-11-02 09:23] hs2361 commented on #16676
It'd be easier to review if you open a PR

[2020-11-02 09:54] nikhilmaske-2001 commented on #16676
@hs2361 I have opened a PR please review it.

[2020-11-02 12:42] MSurfer20 commented on #16026
@zulipbot claim

[2020-11-02 15:54] Pranav2612000 commented on #16542
@sohamsshah Are you still working on this? I'll like to give this a try.

[2020-11-02 21:22] showell opened #16686 "Optimize handle_digest_email"
from Tim: "In open source organizations with 1K+ users that have digest emails turned on, it takes a long time to generate them all. And if you look at the work in handle_digest_email, most of it is the same work for each user (because it's doing a computation on what conversations happened on a given public stream)."

[2020-11-02 23:35] #16442 closed

[2020-11-03 00:45] #16408 closed

[2020-11-03 02:17] timabbott commented on #5296
By strategy I mean write a tool using the libraries in `zerver/data_import` that we use for all of our other data import tools.

https://github.com/zulip/zulip/pull/16683 is a PR with that approach; I'm optimistic that some version of that will be merged in the next few weeks.  Help with testing it is appreciated!

[2020-11-03 02:31] andersk opened #16688 "After User settings → {Email, Full name, Password} → Esc, clicks leak through the settings modal"
In User settings, when you click on the Email, Full name, or Password setting to open a nested modal, then press Esc, then try to click on one of these settings again, the second click doesn’t work; it leaks through to the view behind the settings modal.

This was introduced by #10985: opening the nested modal sets `pointer-events: none` on `#settings_overlay_container`, and Esc does not unset thi

[2020-11-03 05:23] Purhan commented on #15029
@zulipbot abandon

[2020-11-03 05:25] kc611 commented on #16473
Adding a 'Reason for Deactivation' column to Settings / Deactivated users would be really great.

[2020-11-03 06:29] its-harsh commented on #16688
@zulipbot claim

[2020-11-03 06:42] kc611 opened #16691 "Stream list doesn't update itself after deleting stream"
If we try to delete a sole remaining stream, the stream removes itself as expected from the list in
stream settings but the list in left sidebar still shows the stream as listed and gives an error if we click on it:

![Screenshot from 2020-11-03 11-42-00](https://user-images.githubusercontent.com/55352418/97955146-81e88d00-1dcb-11eb-95d2-f4cf16470fe1.png)

Full error stack trace given in browser:

[2020-11-03 07:16] HDsky opened #16692 "Upgrade zulip from 1.11.20 to 3.X"
I still using the Ubuntu16.04 with zulip 1.11.20, after i see the [upgrade-log](https://zulip.readthedocs.io/en/latest/overview/changelog.html#upgrade-notes),i find the 3.X version remove the support in Ubuntu 16.04. Can I get some suggestiones about how to upgrade my zulip to 3.X

[2020-11-03 08:53] Cybernisk commented on #14455
I'm continuing with the investigation of what could be the reason for the errors. I restarted Zulip on 2020-10-15 and it was working ok till yesterday. The backend error log is quite the same, with `psycopg2` errors.
Down below is a Postgresql error log and it explains some errors in the backend log as the DB trying to recover and closing connections and etc, but what is the initial reason? It was

[2020-11-03 09:16] aniketsonu commented on #16453
@zulipbot claim

[2020-11-03 10:05] its-harsh commented on #16688
@andersk PR for review #16693

I have added an event listener for `Escape` Click which reset what you mentioned. Still I am getting Backend test failure(on Ubuntu 20.04).
On Circle Ci It passes on Ubuntu 18.04 bionic.

[2020-11-03 10:19] its-harsh commented on #16691
@zulipbot claim

[2020-11-03 13:30] ligmitz commented on #16674
@amanagr Is this issue still present or resolved?

[2020-11-03 13:42] Alge opened #16696 "Installation fails if Zulip is already installed; maybe upgrade instead?"
Operating system: Clean debian buster
version: 3.2
installed (or at least tried to install) with:
./zulip-server-*/scripts/setup/install --certbot --email=${EMAIL} --hostname=${HOSTNAME}

Running the checkconf gets the same error:
`ValueError: Missing staticfiles manifest entry for 'images/integrations/logos/prometheus.svg'`
complete stacktrace here: [https://pastebin.com/PJfAhchu](https://pastebi

[2020-11-03 16:13] amanagr commented on #16674
It is still present. You can work on it if you want.

[2020-11-03 16:36] ligmitz commented on #16674
Sure !

[2020-11-03 17:43] SushanthReddyManda commented on #16691
Is this issue Closed ?

[2020-11-03 18:12] corinnejachelski commented on #16579
@zulipbot claim

[2020-11-03 19:15] corinnejachelski commented on #16579
@akshatdalton could you add a help wanted tag so I am able to work on this?

[2020-11-03 22:29] andersk commented on #16692
Yeah, you’ll need to first upgrade Zulip Server from 1.11.20 to 2.1.7, then upgrade Ubuntu from 16.04 to 18.04, then upgrade Zulip Server from 2.1.7 to 3.2. We have the [whole process documented here](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-ubuntu-16-04-xenial-to-18-04-bionic).

[2020-11-03 22:29] #16692 closed

[2020-11-03 23:06] timabbott commented on #16696
Can you post `/var/log/zulip/install.log` and comment on any other issues you might have seen along the way?  I think it's very likely the actual error happened earlier in running webpack, and the traceback you're showing is a secondary consequence of that failure.

[2020-11-03 23:09] SushanthReddyManda commented on #16538
Can i take up this issue ??

[2020-11-03 23:11] timabbott opened #16697 "message_fetch: Support storing multiple contiguous blocks of history"
This is a feature that likely only makes sense to do once we've completed https://github.com/zulip/zulip/issues/15131, but might be a design consideration for how we complete that effort.

Ideally, the `message_list_data` data structures would support caching more than one contiguous block of message history.  The obvious use case is when we're loading the `home_msg_list` data:
* We want to fetch

[2020-11-04 00:29] timabbott opened #16698 "Clarify how to encode parameters in the Python bindings"
We got a report form a user that they had trouble with https://zulip.com/api/get-subscriptions, because they tried:
[code]

and got an exception.  The actual way to pass that parameter is:
[code]

i.e. pass the parameters as a dictionary, rather than as arguments to this function.  I think the user was very reasonable in being confused by this, since we don't say clearly anywhere on that page how

[2020-11-04 00:44] timabbott commented on #16538
Sure!

This should be done as a message from notification-bot.  Ultimately I think we'll want to support 3 modes -- "Notify always", "Notify for private streams", and "Notify for public streams", but for now we should just implement it for private streams only just to get the infrastructure in place without needing to decide on what options to support.

[2020-11-04 00:45] timabbott commented on #16579
Done.

[2020-11-04 04:04] TiokengSamuel commented on #2284
Is this issue still available

[2020-11-04 08:50] Alge commented on #16696
Sure! here it its: https://pastebin.com/vcCzYiqC

[2020-11-04 08:57] Alge commented on #16696
I didn't notice any other issues during the install

[2020-11-04 09:56] skamranahmed commented on #15029
@zulipbot claim

[2020-11-04 10:51] showell opened #16701 "docs/ui: Tell users to put info in stream descriptions"
We should describe workarounds to pinning messages under Streams & Topics in our documentation.  The basic workaround for now is putting useful markdown (or links) in the stream description.  We may also want to mention starring topics briefly.

In the status bar where we show description now, we may want to change messaging from "No description" -> "Describe type of conversation. Add link to topi

[2020-11-04 11:16] CircleCode opened #16702 "Feature: allow custom credentials for url preview"
When Zulip is self-hosted, you may want to make link to internal / corporate pages requiring authentication.
It would be interesting to have a way to define credentials (mostly headers) when url to preview match a given regex

For example, all previews of internal gitlab urls could then have a token allowing to preview issues which are not public.

[2020-11-04 13:14] corinnejachelski commented on #16579
@zulipbot claim

[2020-11-04 13:35] SushanthReddyManda commented on #16538
Thanks !!!! . I will be implementing Notify msg  for private streams for now  .

[2020-11-04 17:17] Alge commented on #16696
I had to re-install the VPS i was using due to non-related reasons, and the installation worked the second time.

One difference with the first install was that I made the zulip user before installing, otherwise they should have been identical. This can probably be closed, but it might be worthwhile to check if something breaks if the zulip user already exists

[2020-11-04 17:20] Alge opened #16705 "Add server_name in nginx conf"
Version: 3.2
operating system: Debian buster
the regular install doesn't add the server name in the nginx config which doesn't work well when having other things served by nginx.

adding something like this should suffice (the server name should already be available as the install generates certificates):
server_name zulip.example.com;

[2020-11-04 17:23] Alge opened #16706 "move ssl_session_cache from nginx.conf to the zulip-enterprise conf"
the ssl_session_cache shared:SSL:50m; line in nginx.conf can interfere with other virtualhost configuration files, so it should maybe be moved to the server block in sites-available/zulip-enterprise to prevent problems when running multiple things with nginx

[2020-11-04 17:24] #16706 closed

[2020-11-05 13:11] nikhilmaske-2001 commented on #16676
@zulipbot abort

[2020-11-05 15:38] timjwkim commented on #16676
Hi! I'm new and looking to contribute to this project. Is this issue still something I can pick up and work on?

[2020-11-05 18:11] timabbott commented on #16705
@Alge what other software are you hosting with your `nginx` instance?  Generally we don't support that model because it is difficult to avoid conflicting configuration with arbitrary third-party software.

It is probably cleaner to not specify `server_name` for a dedicated Zulip server, since it eliminates a possibly place that could be out-of-date when renaming the server (which often happens as

[2020-11-05 18:55] timabbott commented on #16696
Hmm, I could imagine that causing some sort of problem.  Do you happen to have in your shell history the command you used to create the Zulip user before installing?

[2020-11-05 19:35] ligmitz commented on #16698
Should we create a code block similar to the one above showing the right way of passing the parameter?

[2020-11-05 19:46] #16026 closed

[2020-11-05 20:00] timabbott commented on #14455
@Cybernisk I think your issue is unrelated to what @stratosgear originally reported.  If I had to guess, you have some operational issue with your server (memory corruption, OOM kills due to insufficient memory, etc.) that resulted in postgres processes crashing.  `dmesg` is the place to look for details that can answer what actually is happening.

I'll also add that you should upgrade to current

[2020-11-05 20:20] shanukun commented on #16359
@zulipbot claim

[2020-11-05 21:21] noabenefraim commented on #16554
Hello! I am new to Zulip and really excited to contribute. Can I work on this issue?

[2020-11-05 21:30] ligmitz commented on #16554
@noabenefraim Actually this issue is already been assigned and there is a pr under review that will close this issue. You can look for some other good first issues in the issues tab!

[2020-11-05 21:33] Alge commented on #16696
I don't have the log, but I created the user with adduser and downloaded and extracted the files into the zulip users home folder

[2020-11-05 21:36] Alge commented on #16705
I had a freshly installed debian virtual machine with only jitsi set up on it.

The install didn't mess with the jitsi installation, but the activation link I got from the zulip installer didn't work as it took me to jitsi. It was easily solved by adding the server_name in the zulip nginx conf.

[2020-11-05 21:44] Alge commented on #16705
Another thing that conflicted with jitsi was that the ssl_session_cache shared value was different (jitsi sets it in its own conf file, zulip in the main nginx.conf), but nginx doesn't seem to support having different values for it in different configs, so I don't know if there's anything that can be done to solve that. Might be worthwhile noting in some readme though. No idea what is best practic

[2020-11-05 22:40] MSurfer20 commented on #16502
Can I take up this issue if it is still available?

[2020-11-05 23:00] hellfirehd commented on #11939
Any progress on this? We're looking a new deployment and Zulip ticks all the boxes except OpenID Connect, which is a deal-breaker.

[2020-11-06 04:17] andersk commented on #1709
Is that really true? I haven’t gone through all our changes in detail, but a cursory glance suggests that we should be able to achieve them using normal JavaScript class inheritance.

[2020-11-06 05:17] kc611 commented on #16676
@nikhilmaske-2001 I noticed that you have an open PR but have aborted the issue here. Are you still working on it ?

[2020-11-06 05:31] HDsky commented on #16441
I will try to update the zulip to 3.X

[2020-11-06 10:51] nikhilmaske-2001 commented on #16676
@kc611 No.

[2020-11-06 12:52] mateuszmandera commented on #16502
@MSurfer20 Someone else started working on this as far as I know, let me verify.

[2020-11-06 13:28] Abhirup-99 commented on #15029
@zulipbot claim

[2020-11-06 15:16] MSurfer20 commented on #16022
@zulipbot claim

[2020-11-06 18:11] #14845 closed

[2020-11-06 19:12] abhi14nexu commented on #16676
@zulipbot claim

[2020-11-06 19:35] showell opened #16718 "Make /digest page interactive"
We have a /digest page that corresponds to what users will see in email digests that we send to users who have been away for a while.

We want to introduce a scoring system that is some linear combination of number of messages and number of senders (and maybe reactions).

We want to use the /digest page as a way to play with the parameters.

Once we get some good feedback on the parameters, we'll

[2020-11-06 21:20] noabenefraim commented on #10539
I would like to work on this! May I claim it?

[2020-11-06 21:42] noabenefraim commented on #15331
Hello, I would like to work on this feature! Can I claim this?

[2020-11-06 21:47] noabenefraim commented on #10539
@zulipbot claim

[2020-11-06 21:47] noabenefraim commented on #15331
@zulipbot claim

[2020-11-06 22:22] alexmv commented on #16705
I'm not opposed to writing out a `server_name` in concept, but it does seem like this is just going down the long tail of other arbitrary changes that would be required to co-exist with other pieces of software -- steps that are going to vary and be in some cases mutually-exclusive (the `ssl_session_cache` being a fine example).

Zulip's best practice is laid out in [the beginning of its Requireme

[2020-11-06 23:15] alexmv commented on #16696
I'm unable to replicate if I pre-create a `zulip` user before running the installer.  Were you installing from tarball?  If the VPS is still around, what does `sha256sum zulip-server-*/staticfiles.json` show?

[2020-11-07 00:37] timabbott commented on #16416
I'm not a fan of django-rest-framework, so we're unlikely to go that way.  I think it is possible we'll rebase `python-zulip-api` as just having a few wrapper functions around generated bindings if we end up really happy with said bindings, but I think right now the generated bindings are almost certainly worse than the hand-written ones.

[2020-11-07 06:39] starlordsaraf commented on #10539
@noabenefraim I'm not working on this issue anymore due to mid terms, you can go ahead! I'll unclaim it.

[2020-11-07 06:39] starlordsaraf commented on #10539
@zulipbot abandon

[2020-11-07 11:03] Alge commented on #16696
The VPS is unfortunately gone by now. I used https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz (it doesn't seem to have been updated since i downloaded it earlier this week)

[2020-11-07 12:02] Alge commented on #16696
I also tried to replicate it, and failed (even with the zulip user created). No idea what I could have done to make it fail the first time

[2020-11-07 12:20] mateuszmandera opened #16722 "Allowing "social" authentication backends to skip the invitation requirement for joining an organization"
We should allow organization which require an invitation to join to exempt certain backends from it. Meaning that if a new user signs in using that backend, they get allowed to register.

Right now this makes the most sense for SAML (although it does makes with "Login with Github" that uses `SOCIAL_AUTH_GITHUB_TEAM_ID` or `SOCIAL_AUTH_GITHUB_ORG_NAME` to restrict the set of users able to use it to

[2020-11-07 18:07] 4molybdenum2 commented on #15962
Hi, @Gittenburg I am working on this and I added the role and tabindex to both the sidebar links and toggle buttons... also added a focus outline to the sidebar links.
Can I open a PR to this?

[2020-11-07 18:53] Gittenburg commented on #15962
Yeah of course, you can always open a PR.

[2020-11-08 10:38] shanukun commented on #15947
@zulipbot claim

[2020-11-08 14:27] 4molybdenum2 commented on #15962
I have made a PR, would appreciate if you review it.

[2020-11-08 14:51] its-harsh commented on #16688
@zulipbot abandon

[2020-11-08 14:51] its-harsh commented on #16691
@zulipbot claim

[2020-11-08 15:37] Sourabh025 commented on #16631
@zulipbot claim

[2020-11-08 18:01] dlbeck commented on #14810
@zulipbot claim

[2020-11-08 18:19] katie-knister commented on #16492
@zulipbot claim

[2020-11-08 20:03] aryanshridhar opened #16724 "Flatpickr not hiding after Esc"
Following #16227 , The <code>Favourite Date</code> flatpickr doesn't hide when the user presses <code>Esc</code> within Users account page .

<strong>ScreenShot<strong> :

![prob](https://user-images.githubusercontent.com/53977614/98482548-2b92a880-2228-11eb-8e46-1ea0358a8fc0.gif)

[2020-11-09 00:51] BhingaradiaNihar commented on #16402
Can I work on this? if it's not taken!

[2020-11-09 00:56] BhingaradiaNihar commented on #16402
@zulipbot claim

[2020-11-09 01:41] BhingaradiaNihar commented on #12947
@zulipbot claim

[2020-11-09 01:43] BhingaradiaNihar commented on #12947
@zulipbot claim

[2020-11-09 01:44] zhark01 commented on #12947
@zulipbot claim

[2020-11-09 02:03] kelvinyu23 commented on #6342
@zulipbot claim

[2020-11-09 02:07] kelvinyu23 commented on #16426
@zulipbot claim

[2020-11-09 05:45] kelvinyu23 commented on #4145
@zulipbot claim

[2020-11-09 07:11] LoopThrough-i-j opened #16726 "Images don't open on exiting the image slideshow by browser back button"
Here is how the issue looks like.

![deepin-screen-recorder_Select area_20201109123627](https://user-images.githubusercontent.com/55960431/98510325-e5216600-2288-11eb-9ca3-660fc3a09abe.gif)

A page refresh can make it work again.

[2020-11-09 08:36] mandepsingh commented on #16492
Hello @katie-knister  if u need any direction let me know, I have worked on it before.

[2020-11-09 10:50] sdurrheimer commented on #16246
@timabbott
I don't have a testing environment right now.

Do you plan to release that fix anytime soon?
It would let me upgrade our prod server to this new release and test the import again using a secondary org.

[2020-11-09 15:37] smitpatel24 commented on #16676
@abhi14nexu I have solved this issue. Should I go ahead and create a pull request?

[2020-11-09 20:29] anubhvshrma18 commented on #16698
@timabbott  We can document this in the parameters section and we will also mention the code blocks that you have mentioned above.

[2020-11-09 22:18] wrox commented on #16701
@zulipbot claim

[2020-11-10 00:59] kuroriplus commented on #15375
@zulipbot claim

[2020-11-10 01:08] yuzhouli1999 commented on #10539
@zulipbot claim

[2020-11-10 01:19] dlbeck commented on #14810
@zulipbot abandon

[2020-11-10 01:19] dlbeck commented on #2746
@zulipbot claim

[2020-11-10 02:03] ddigiovine commented on #3938
@zulipbot claim

[2020-11-10 02:07] ddigiovine commented on #16542
@zulipbot claim

[2020-11-10 03:18] nataliebrotherton commented on #3128
@zulipbot  claim

[2020-11-10 06:35] maxrzaw commented on #16718
This looks like something I would be able to handle. Can I work on this task?

[2020-11-10 06:49] smitpatel24 commented on #16676
@zulipbot claim

[2020-11-10 06:52] smitpatel24 commented on #3916
@zulipbot claim

[2020-11-10 07:39] popochou0311 commented on #2278
@zulipbot claim

[2020-11-10 08:37] shFrank commented on #16538
@zulipbot claim

[2020-11-10 10:05] showell commented on #16718
Yes feel free to claim it.

[2020-11-10 10:45] smitpatel24 commented on #16676
I have created a PR #16730 that fixes this bug. Please review the PR.

[2020-11-10 12:11] SushanthReddyManda commented on #16538
@shFrank   I'm working on this .

[2020-11-10 12:28] HDsky commented on #16441
finaly, i reinstall the zulip, this problem has been solved.

[2020-11-10 12:28] #16441 closed

[2020-11-10 14:23] abhi14nexu commented on #16676
@smitpatel24 sorry for the late reply, I had already fixed the issue but wasn't able to make a PR as my laptop ran into some issues.
I see that you have already created a PR but my approach is a bit different and you should squash your commits into one using git rebase.

[2020-11-10 14:39] maxrzaw commented on #16718
@zulipbot claim

[2020-11-10 15:02] smitpatel24 commented on #16676
@abhi14nexu No problem. Actually I was working on this issue since couple of days but I had not assigned it to myself.

[2020-11-10 15:08] maxrzaw commented on #16393
@akshatdalton are you still working on this?

[2020-11-10 15:09] amanagr commented on #16538
@shFrank sorry someone has already started work on it! Please find another issue to work on.

[2020-11-10 15:10] akshatdalton commented on #16393
@maxrzaw , no, please go ahead !

[2020-11-10 15:37] maxrzaw commented on #16718
@zulipbot claim

[2020-11-10 16:04] nataliebrotherton commented on #16542
@zulipbot claim

[2020-11-10 17:33] maxrzaw commented on #16393
@zulipbot claim

[2020-11-10 18:30] edith007 commented on #16253
still working on this! @zulipbot

[2020-11-10 18:30] maxrzaw commented on #16718
@zulipbot unclaim

[2020-11-10 18:31] maxrzaw commented on #16718
I might still work on this if I need another task, but I am going to tackle another one first.

[2020-11-10 18:31] maxrzaw commented on #16393
@zulipbot claim

[2020-11-10 19:37] wrox commented on #16726
Interesting, going to look into this issue.

[2020-11-10 19:37] wrox commented on #16726
@zulipbot claim

[2020-11-10 19:38] wrox commented on #16701
@zulipbot abort

[2020-11-10 19:38] wrox commented on #16726
@zulipbot claim

[2020-11-10 20:15] andersk commented on #16698
Why *doesn’t* `client.get_subscriptions(include_subscribers=True)` work though? That seems way more Pythonic.

[2020-11-10 20:51] wrox commented on #16726
@zulipbot abort

[2020-11-10 21:25] maxner1 commented on #16548
@amanagr hi! I'm new to developing with Zulip-- looking for a good first feature to do.

Is this done? I love the idea of using starring messages as a base feature. I was wondering if your commit amanagr@1c70b73 happens to note the stream each topic is a part of (and sorts them by stream by default)? If you don't think that's a good idea, never mind. If you think it is, I'd be happy to try that ou

[2020-11-11 00:24] andersk commented on #16724
This is a duplicate of #16227, not “following #16227”.

[2020-11-11 00:24] #16724 closed

[2020-11-11 02:02] andersk commented on #16641
This looks like pgroonga/pgroonga#92. Apparently the default Groonga normalizer doesn’t support Cyrillic, but the newer `NormalizerNFKC100` does. You’ll need to rebuild the full-text index to switch; try this:

1. Stop the Zulip server: `supervisorctl stop all`
2. In the `psql` shell (`psql zulip` or `sudo -u zulip psql zulip`):
[code]
3. Start the Zulip server: `supervisorctl start all`

If that

[2020-11-11 02:03] amanagr commented on #16548
My implementation offers a starred filter in recent topics. Using it, user can sort the topics by stream, topic and last messages time.

[2020-11-11 02:23] maxner1 commented on #16548
I was thinking of implementing a sort of front-end feature that could maybe go on top of this-- specifically a tab on the sidebar under "starred messages" that would be "starred topics", sorted and grouped by stream.

I'm super new to open source projects, so I'm wondering if you have any guidance for how I would go about doing that? Thanks!

[2020-11-11 04:14] edith007 commented on #16253
@zulipbot  still working on this..

[2020-11-11 05:10] amanagr commented on #16548
@maxner1 thanks for your interest but until we are sure #16616 is the approach we want to follow for implementing starred topics, we don't want anyone to work in this direction.

[2020-11-11 05:31] edith007 commented on #9184
@zulipbot claim

[2020-11-11 05:41] edith007 commented on #9184
@zulipbot claim

[2020-11-11 08:45] 2580ayush2580 commented on #16726
I would like to contribute on this issue

[2020-11-11 12:46] edith007 commented on #14810
@zulipbot claim

[2020-11-11 13:05] runiq opened #16736 "xi.zulipchat.com: After deactivating account, I cannot re-register anymore"
Hi, thanks for Zulip! :heart:

**Context:** I deactivated my account on xi.zulipchat.com so I could register with an email address instead of Github OAuth. I then realized that this is not supported by the org (it supports Github and Gitlab OAuth logins), and tried to login with my Github account again.

**Bug:**

1. When I click the "Login with GitHub" button, GitHub correctly asks me if I want t

[2020-11-11 14:30] maxner1 commented on #16718
@zulipbot claim

[2020-11-11 15:04] maxrzaw commented on #16718
@maxner1 Could you please leave this task as I am planning on taking it.

[2020-11-11 15:07] EmilyRosina opened #16737 "Topic: Allow deletion of an empty topic"
I have tried also moving a topic from one stream to another stream (we named it `archived`) to combat this, but that didn't work either :sweat_smile:.

I am an admin, we only need this to work for admins really.
So this could be an entry under `ADMIN ACTIONS` for each topic.
![image](https://user-images.githubusercontent.com/21045073/98828331-daed9c00-242f-11eb-99f3-56393391dd33.png)

TLDR: please

[2020-11-11 15:22] maxner1 commented on #16718
@zulipbot unclaim

[2020-11-11 15:27] maxner1 commented on #16737
@zulipbot claim

[2020-11-11 15:28] maxner1 commented on #16737
@zulipbot claim

[2020-11-11 15:29] maxner1 commented on #16737
Hi @EmilyRosina -- are you saying that if a topic is empty, it should show up in a list of topics that an admin can delete? Just making sure I understand what you are looking for before diving in. Thanks!

[2020-11-11 15:37] EmilyRosina commented on #16737
HI @maxner1 I just mean right now, I have no way to delete a topic, at all :sweat_smile:
So I'm unsure how to answer your question, sorry :cry:

Ideally, in the context menu for a topic (shown in the description) there would be an entry under `Delete all messages in topic` that would allow me to `Delete this topic`.

By deleting the topic, it would no longer show up in the available topics for tha

[2020-11-11 15:40] maxner1 commented on #16737
100%, thanks! I see what you mean now. I'll get right to work 😃

[2020-11-11 15:45] EmilyRosina commented on #16737
@maxner1 OMG thank you - it's all I want for Christmas! :christmas_tree: :joy:

[2020-11-11 21:45] neiljp commented on #16698
As long as there's no conflict between the specific request parameters and the general options, this seems reasonable to allow, though we'd have to resolve (or document) the case of which takes precedence if specifying parameters both ways.

[2020-11-11 22:20] JonnyMnemonic123 commented on #16492
Could i collaborate with @katie-knister ?

[2020-11-11 22:31] andersk commented on #16698
Use the same rule the `dict` function itself uses, which is that the kwargs take precedence:

[code]

And we can just deprecate the non-kwargs way.

[2020-11-12 03:33] amanagr commented on #16737
For implementing this, we already have an API for deleting messages in a topic in zproject/urls.py
[code]

We would want to use this API here. `topic_sidebar_actions.hbs` and `stream_popover.js` are some relevant files which will have to be edited. Hope @maxner1 this will help you fix this issue.

[2020-11-12 05:22] ligmitz commented on #16722
I would like to work on this issue @mateuszmandera . Can you briefly explain the insights?

[2020-11-12 07:51] torfjelde commented on #16484
Thank you for the response @timabbott ! We've put this on hold for now, but I might make use of this information in the future :+1:

[2020-11-12 08:34] dreihl commented on #14991
@zulipbot claim

[2020-11-12 12:51] Sourabh025 commented on #16691
@zulipbot claim

[2020-11-12 13:33] nankigrewal commented on #15634
Hi! I'm a first time contributor to Zulip and I was wondering if I could tackle this feature?

[2020-11-12 13:36] nankigrewal commented on #15390
Hi! I'm a first time contributor, is this an issue I can work on?

[2020-11-12 13:37] nankigrewal commented on #15390
@zulipbot claim

[2020-11-12 14:32] Pranav2612000 commented on #16726
I'll like to work on this issue

[2020-11-12 14:58] nankigrewal commented on #15634
@zulipbot claim

[2020-11-12 18:30] gnprice commented on #16416
We've also tried running openapi-generator to emit Go code. (See [chat thread](https://chat.zulip.org/#narrow/stream/127-integrations/topic/go-zulip-api/near/1061304).) The major symptom there is that the generated bindings decode every endpoint's response as just `JsonSuccessBase`, even when the endpoint returns a great deal more information than that. [For example](https://github.com/rht/go-zuli

[2020-11-12 20:05] aryanshridhar commented on #15390
Hey , @YashRE42 . Is there any threshold you would like to suggest regarding the <code>height</code> and <code>width</code> of emoji ?

[2020-11-12 21:33] akshatdalton commented on #16482
@timabbott can I work on this issue ? Or is this dependant on the PR #13398.

[2020-11-12 23:05] nankigrewal commented on #14800
@zulipbot claim

[2020-11-13 05:26] alexmv opened #16741 "Setting MAX_FILE_UPLOAD_SIZE > 25m requires a change to nginx as well"
The [default `MAX_FILE_UPLOAD_SIZE` size is 25 megabytes](https://github.com/zulip/zulip/blob/dfa7ce5637eb6e29f21298aaa33bac1783423dd3/zproject/prod_settings_template.py#L412-L417) -- and while we mention not setting it above 80, we don't clarify that [the cap of 25 is also currently enforced at the nginx level](https://github.com/zulip/zulip/blob/8499b2c0dc527426bb327a0753642222a4db2527/puppet/zu

[2020-11-13 05:28] alexmv commented on #16741
Ref [this thread](https://chat.zulip.org/#narrow/stream/2-general/topic/Static.20Pages.20.26.20Content/near/1061291).

[2020-11-13 05:55] Sourabh025 commented on #16741
@zulipbot claim

[2020-11-13 12:33] akshatdalton commented on #12008
@timabbott I couldn't really understand the issue. Is escaping of <bla> an issue or is it the 4 spaces ignored after editing the message ?

[2020-11-13 12:35] akshatdalton commented on #12008
@timabbott I couldn't really understand the issue. Is escaping of `<bla>` an issue or is it the 4 spaces ignored after editing the message ?

[2020-11-14 11:10] ashok-arora commented on #16718
@maxrzaw Are you working on this?

[2020-11-14 16:23] maxrzaw commented on #16718
@ashok-arora yes

[2020-11-14 17:20] maxner1 commented on #16737
@amanagr this is super helpful, thank you!

[2020-11-15 19:39] katie-knister commented on #16492
Hi @JonnyMnemonic123, thank you for the offer! However, I am actually already collaborating with @dlbeck on this, and I think it would be difficult to closely collaborate with three people.

[2020-11-15 20:02] JonnyMnemonic123 commented on #16492
Ah that's a shame. I've been tinkering with it for a few days now without
much progress. I would love to see how you guys are getting on and share
our knowledge.

El dom., 15 nov. 2020 a las 20:40, katie-knister (<notifications@github.com>)
escribió:

--
Kind regards,
Jonathan.

[2020-11-16 09:01] ucodelukas commented on #6096
**cough**

[2020-11-16 13:25] mateuszmandera commented on #16346
@ThomasBaeuml I believe this can be done by modifying the code to add more LDAP backend classes, but I haven't gone through the details of how exactly to accomplish it. Nevertheless, this is a feature we want to implement in `master` at some point, so I'll reopen the issue to keep track of this.

[2020-11-16 17:35] Debilski opened #16751 "Confusing message when posting to non-subscribed streams"
When trying to post to a stream to which I’m not subscribed to, I receive the message in the image that I interpreted as ‘post if you like, but you won’t be getting any updates about this thread’.

<img width="775" alt="image" src="https://user-images.githubusercontent.com/216179/99286974-eda20f80-2839-11eb-933a-102ff085adbf.png">

However, when clicking the x and dismissing the message, whenever

[2020-11-16 17:57] Debilski opened #16752 "Feature: Show non-subscribed streams in ‘recent topics’ / make streams more discoverable"
Currently, as far as I am aware, new streams (or streams that I have unsubscribed from), are only discoverable from the ‘All streams’ tab in the ‘configure streams’ menu. And even there, trying to figure out what is happening in a particular stream is a bit of a pain. The only information that I get is who is subscribed to it and maybe some vague description text. Then, to read the stream, one fir

[2020-11-17 01:22] #16676 closed

[2020-11-17 02:31] YashRE42 commented on #15390
Discord does 48x48, which looks fine. (their small version being 22x22, our current size being 20x20).

[2020-11-17 13:46] shanukun commented on #14808
@arpit551 are you going to continue? If not, @timabbott, can I work on this?

[2020-11-17 13:56] arpit551 commented on #14808
@shanukun I am little occupied with some work. You can definately work on this.

[2020-11-17 16:18] Bagira80 commented on #16702
I would be very interested in such a feature, too.

[2020-11-18 03:54] sahiljena commented on #11440
I'm still struggling with creating a meet link,
Event is getting created but im not getting the meet link
This is my current request
[code]

[2020-11-18 07:35] ligmitz opened #16763 "Repeated emails for missed PMs"
Recently I was having a small conversation with a friend through Private Messages. However I got a little annoyed with the repeated mails that I was receiving regarding missed PMs just few minutes later to the message being sent. Is there a way the mails can be moderated to send them when there has been a certain gap between the conversation including the first time as sending them again and again

[2020-11-18 07:35] ligmitz commented on #16763
@zulipbot add "emails"

[2020-11-18 07:37] ligmitz commented on #16763
@zulipbot add "area: emails"

[2020-11-18 17:36] its-harsh commented on #16691
@zulipbot  abandon

[2020-11-18 19:08] stwime commented on #7303
I got annoyed with both of the default notification sounds, and created a few sounds that should be suitable as zulip notification sounds: https://github.com/stwime/decent_notification_sounds/tree/main/sounds. I would love to get some (or all) of them into zulip, and it should be as easy as copying them into the `static/audio/notification_sounds`.

[2020-11-18 21:17] timabbott commented on #16736
It's partially a UI bug -- I'm not sure why the error message we have for that situation is not being displayed.  @mateuszmandera can you look into that?

Because we don't have a record for whether you deactivated your account or the organization administrators did (E.g. because you were sending spam), we can't offer a simple self-service reactivation as it would allow spammers to circumvent accou

[2020-11-18 21:18] timabbott commented on #16763
@ligmitz can you explain more precisely what you saw (and what client you're using)?  You should only be getting such emails if you're inactive in Zulip at the time your collaborator sent their messages.

[2020-11-18 21:26] timabbott commented on #16641
@worldskat have you had a chance to test this?

[2020-11-18 22:12] katie-knister commented on #16492
@JonnyMnemonic123 Yes, we've had difficulty as well! We'd be happy to talk about your ideas and what you've found in the Zulip community chat. We just started a new topic under "development help" called "Collapsing stream topics" if you'd like to join in the discussion there, or you can feel free to message me directly!

[2020-11-19 00:19] #16393 closed

[2020-11-19 01:40] timabbott commented on #16722
This is likely a somewhat tricky issue best done by someone who already understands our authentication system.  In particular, it likely will be interdependent with some sort of broader restructuring of our domain restrictions system to be more customizable.

[2020-11-19 04:59] ligmitz commented on #16763
Actually I was having the conversation in the zulip community chat realm. I was receiving mails for each message in the conversation through PM.
Yes, I was inactive at the moment but since I was using the mobile application I could hear the notification of the zulip message and just after a few minutes the respective mails were received. Maybe the duration for the mails can be increased as the ina

[2020-11-19 05:04] ligmitz commented on #16722
Oh Yes, I realized this after doing some research. No problem.

[2020-11-19 05:06] ligmitz commented on #16642
@timabbott I was looking to work on this issue. Should I go ahead?

[2020-11-19 07:50] worldskat commented on #16641
@timabbott  unfortunately not yet, I will definitely check and inform you

[2020-11-19 08:22] alexmv opened #16768 "parse_anchor_val should ensure that anchor is a 64-bit integer"
Passing `anchor=99999999999999999999999999999` to the [`/api/v1/messages`](https://zulip.com/api/get-messages) endpoint fails (when serializing the response, actually!) because the anchor value is bigger than a 64-bit integer, so [can't be serialized into a JSON blob](https://sentry.io/share/issue/adc45e16544c483c82128d31f70d26e9/).

The `parse_anchor_val` function in `zerver/views/message_fetch.p

[2020-11-19 08:43] alexmv opened #16770 "Catch `get_realm` calls with invalid realm in `zerver/views/auth.py`"
There are a number of calls in `zerver/views/auth.py` to `get_realm` -- and most, but not all, catch the potential `Realm.DoesNotExist` exception that that raises.  The ones that don't currently should catch the `Realm.DoesNotExist` and raise a `JsonableError`, to prevent [500's like this](https://sentry.io/share/issue/662754894247489e9916e8c3ffa418aa/):
[code]

[2020-11-19 08:51] #16741 closed

[2020-11-19 09:18] ashok-arora commented on #16770
@zulipbot claim

[2020-11-19 09:24] nikhilmaske-2001 commented on #16768
Will the code below work for this issue?

`if anchor.bit_length()<=63:
    raise JsonableError(_("Error"))
`

[2020-11-19 09:24] nikhilmaske-2001 commented on #16768
@zulipbot claim

[2020-11-19 13:38] its-harsh commented on #16691
@zulipbot abandon

[2020-11-19 14:18] maxrzaw commented on #16718
@zulipbot claim

[2020-11-19 19:05] noabenefraim commented on #15967
Zulipbot claim

[2020-11-19 19:18] noabenefraim commented on #15967
@zulipbot claim

[2020-11-19 19:56] timabbott commented on #16768
I'd like us to do this by modifying the existing `check_int` method, which is currently doing the existing validation for this parameter.  I think probably `check_int` should accept an optional `max_value` parameter that defaults to the maximum 64-bit integer.  (I expect we will only pass lower values in the future).

[2020-11-19 23:10] andersk commented on #16768
@nikhilmaske-2001 No, the supported range is actually the *signed* 64-bit integers [−2<sup>63</sup>, 2<sup>63</sup> − 1].

This is actually a totally [artificial range](https://github.com/ijl/orjson#int) though, based on the internal [`PyLongObject` API](https://docs.python.org/3/c-api/long.html#c.PyLong_AsLongLong). It’s not the [range for JavaScript compatibility](https://tools.ietf.org/html/rfc

[2020-11-20 00:14] JonnyMnemonic123 commented on #16770
Would you like to collaborate?

[2020-11-20 01:53] timabbott opened #16772 "push_notifications: Modify receiver_is_off_zulip logic to only consider "full clients", and not just bots that access a user's message history"
This is a subtle issue, so including the difficult label for now; it's possible after some discussion that we'll decide the actual solution is relatively straightforward and we can remove that.  I'll note that the issue described here should only happen rarely as the logic is a fallback for corner cases where the user is still "present" (because they used Zulip in the ~3 minutes before closing the

[2020-11-20 11:41] dmarar commented on #15029
@zulipbot claim

[2020-11-20 15:59] jeremy160189 opened #16776 ""Unable to connect to Zulip. Updates may be delayed. Retrying soon..." messages for some users"
Hello, we have an issue since few weeks, some users (not all and we don't know why) have errors messages "Unable to connect to Zulip. Updates may be delayed. Retrying soon..." when they connect to Zulip. They can't see last received messages without refreshing the page.
Errors.log show this :
`2020-11-20 15:16:34.467 ERR  [django.request] Internal Server Error: /json/messages
2020-11-20 15:16:39.5

[2020-11-20 16:15] mateuszmandera commented on #16736
@timabbott  The problem is that we don't have proper error handling on the auth subdomain (we do relative redirects rather than absolute redirect to display the error message on the subdomain of the realm the user is trying to auth into). This is fixed in #13924

[2020-11-20 17:47] ashok-arora commented on #16770
@JonnyMnemonic123 Sure, we can do that!

[2020-11-20 20:03] timabbott commented on #16776
@jeremy160189 can you talk about the maintenance history of this system?  E.g. what version, was it upgraded around that time, and did you do some sort of data import/export process with it?  Also, are you using docker-zulip?

It seems possible the root cause is that one of Zulip's services like memcached is down.  https://zulip.readthedocs.io/en/latest/production/troubleshooting.html may be helpf

[2020-11-20 21:39] angsalacata commented on #15967
Clarification- for deprecated status and types, we want the value of these flags to be rendered in a HTTP response, correct? eg- In a HTTP response, a deprecated field has a true value under deprecated (deprecated:true)

[2020-11-20 23:23] timabbott commented on #16768
Hmm, yeah, I agree with @andersk's thoughts on the best way to fix this.

[2020-11-21 09:31] m-e-l-u-h-a-n commented on #15331
@zulipbot claim

[2020-11-21 14:24] Abhirup-99 commented on #15029
@zulipbot claim

[2020-11-21 14:27] Abhirup-99 commented on #16770
@zulipbot claim

[2020-11-22 00:57] olivierIllogika commented on #1755
I found myself interested in this issue. The [last comment](https://code.djangoproject.com/ticket/24465#comment:6) from the django issue pointed by @volo-zyko was very helpful, the solution pretty simple to implement and it works great. Here's the [patch](https://github.com/zulip/zulip/files/5578717/DjangoLoginView401.txt) if anyone's interested and a quick summary:

in zerver/views/auth.py, add t

[2020-11-22 21:13] JonCSgr opened #16778 "openLDAP configuration issue , quick testing works fine (on terminal) but syncning gives error"
Running latest version on ubuntu 20.0.4
openLDAP is running on another server .

/home/zulip/deployments/current/manage.py query_ldap username

This command works fine and fully returns the query however when i run this
/home/zulip/deployments/current/manage.py sync_ldap_user_data

I get the error attached , this is a ll on a test environment btw.
admin@example.com what exactly does he needs to fi

[2020-11-22 21:14] kou commented on #16641
It'll work.
`NormalizerNFKC121` is better than `NormalizerNFKC100`. Because the former is based on Unicode 12.1 and the latter is based on Unicode 10.0.

[2020-11-22 21:47] devZer0 opened #16779 "internationalization not complete (english instead of german in search textbox)"
see screenshot
<img width="496" alt="grafik" src="https://user-images.githubusercontent.com/3506105/99918032-8c37e000-2d14-11eb-9125-71fde9341bce.png">

[2020-11-23 03:56] timabbott commented on #16482
I think ideally we should make a PR that extracts the first commit of #13398 as a separate PR addressing the comments related to that commit; that would allow us to close out this, since #13398 as a whole has a decent number of unresolved comments.

[2020-11-23 03:57] timabbott commented on #12008
I would expect that our implementation here should match what CommonMark does (https://johnmacfarlane.net/babelmark2/), since this isn't a situation where we have a strong reason to prefer specific behavior.

[2020-11-23 04:47] timabbott commented on #16779
This is known; https://github.com/zulip/zulip/pull/14519 is intended to fix this (but incomplete).

[2020-11-23 04:48] timabbott commented on #1755
@mateuszmandera FYI

[2020-11-23 05:12] nikhilmaske-2001 commented on #16768
@zulipbot abort

[2020-11-23 09:52] Abhirup-99 commented on #16579
@corinnejachelski are you working on this? I would like to take a stab at this.

[2020-11-23 10:19] JonCSgr commented on #16778
Solved 👍
I created a user on ldap with that spesific email addresss.
I used the --force command for the sychronization , it worked fine cheers.

[2020-11-23 10:19] #16778 closed

[2020-11-23 11:09] JonCSgr opened #16781 "Disallow guest to create new topics"
Is there any way to disallow guest to create New Topics ?

Thank you for your great work .

[2020-11-23 13:33] runiq commented on #16736
@mateuszmandera Ah, #13924 looks like it'd fix my issue. I'll close this issue then. Thanks!

[2020-11-23 15:04] JonCSgr opened #16782 "Importing via LDAP possible or am i doing something wrong ?"
Hi , i have set up ldap with zulip and it works fine i just have some questions.

I want to pre subscribe my users to some groups using Java , the thing is that unless the user log in it won't show up as an existing user on Zulip therefore i can't use my java to do things with him .

Is there any way to import the names to Zulip so i can use the API on my users?

Is the sychronization support to d