[2017-03-14 19:25] PhilSk commented on #4064
Ah, looks like I chose the wrong thing

[2017-03-14 19:25] PhilSk commented on #4064
@zulipbot abandon

[2017-03-14 19:26] brockwhittaker commented on #4059
Yep, this should be fixed in #4036; all of the darkened areas will effectively be click targets on all modals.

[2017-03-14 19:44] rishig commented on #4064
No worries, thanks for being so on top of looking at issues! In general, we use the "help wanted" label for issues that are ready to be worked on.

[2017-03-14 19:45] rishig commented on #3865
Go for it, thanks @blaze225! You can use zulipbot to claim.

[2017-03-14 21:10] #3950 closed

[2017-03-14 21:40] rishig commented on #3999
cool, looks like this hasn't been a problem recently; we can wait to see if it ends up a problem in the future. Closing.

[2017-03-14 21:40] #3999 closed

[2017-03-14 21:52] timabbott commented on #2377
We've fixed the `upgrade-zulip-from-git` process to build static assets before shutting anything down, which I think resolves this issue.

[2017-03-14 21:52] #2377 closed

[2017-03-14 21:56] #3870 closed

[2017-03-14 21:58] hollywoodno commented on #3136
@rishig are you still working on this issue? If so, would you like some help? One of my earlier tasks was creating email templates and a standard template to follow would of been great. So, I will be happy to work on it with you.

[2017-03-14 22:01] timabbott commented on #3136
This issue definitely could use more work @rohithasrk has all your stuff been merged yet?

[2017-03-14 22:13] timabbott commented on #4016
yeah, I think `control+[` is probably a better choice here.

[2017-03-14 22:17] showell opened #4066 "Rename "Custom alert words" to "Alert words"."
Change the settings menu label to be just "Alert words."  This should be an easy fix, but you should make sure tests pass and update any necessary documentation, particularly user help docs, which may require producing some new screenshots.

[2017-03-14 22:18] synicalsyntax commented on #4066
@zulipbot claim

[2017-03-14 22:27] timabbott commented on #3978
I don't think it's been fixed, but it sounds like the bug is less deterministic than had been thought :)

[2017-03-14 22:38] #3741 closed

[2017-03-14 22:41] timabbott commented on #3948
Asana's API sounds terrible!  I think this is a case where it's worth looking at whether Zapier or IFTTT provides a "good enough" Asana experience, and if so, just document how to set that up, since this sounds like a huge pain to get working well as a direct webhook.

[2017-03-14 22:55] #156 closed

[2017-03-14 22:56] showell opened #4068 "refactor/test: Clean up hotkey.js."
We can accomplish a couple goals with `static/js/hotkey.js`:

- Eliminate nearly all jQuery calls (besides keydown/keypress) by delegating to other modules like settings.js, compose.js, popover.js, etc.
- Add more coverage to hotkey.js (`via frontend_tests/node_tests/hotkey.js`)

This is a good task for a relative newbie who has a little bit of experience with Zulip node tests.

The best way to ac

[2017-03-14 23:15] aripollak commented on #3912
Thanks for the super quick fix!

[2017-03-14 23:25] timabbott commented on #4068
One can use `test-js-with-node cover` to get a nice HTML report of what has coverage so far.

[2017-03-15 00:40] #2236 closed

[2017-03-15 01:59] lonerz commented on #4061
I haven't been able to reproduce this also. Can you give a specific example?

[2017-03-15 02:01] zulipbot-test commented on #2985
Hello @saurabhkanhegaonkar, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this is

[2017-03-15 02:01] zulipbot-test commented on #3564
Hello @jajodiaraghav, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue, s

[2017-03-15 02:01] zulipbot-test commented on #3731
Hello @khantaalaman, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue, si

[2017-03-15 02:01] zulipbot-test commented on #3791
Hello @khantaalaman, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue, si

[2017-03-15 02:01] zulipbot-test commented on #3802
Hello @khantaalaman, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue, si

[2017-03-15 02:01] zulipbot-test commented on #3858
Hello @khantaalaman, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue, si

[2017-03-15 02:01] zulipbot-test commented on #3928
Hello @brockwhittaker, you claimed this issue to work on it, but this issue hasn't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on this issue within 3 days, or else I'll automatically remove your assignment from this issue.

If you've decided to stop working on this issue,

[2017-03-15 02:25] blaze225 commented on #3865
@zulipbot claim

[2017-03-15 05:20] PhilSk commented on #3871
Hello @pranjaypatil !
Are you currently working on the issue?
If you don't, tell me please, I have a solution.

[2017-03-15 05:23] lonerz commented on #3871
@PhilSk I think it's safe to say that @pranjaypatil is not working on this issue. He also has not claimed the task and it's been two weeks.

[2017-03-15 06:33] umairwaheed commented on #3974
Hmm, checked with Pyhton3 as well. My venv has Python 3.4.3 while the error log is against Python 3.5 so can be related to that.

[2017-03-15 06:40] umairwaheed commented on #3974
OK, was able to reproduce it. The problem occurs when you are logged out and you go  to '/en/'. Doesn't happen with '/'. In fact it happens with any url pattern which doesn't exist.

[2017-03-15 06:43] rishig opened #4074 "bugdown: Buggy local echo when ending with at-mention."
Not sure what the underlying issue is, but a reproducer is
[code]

The local echo should have 15 copies of the `@mention` replacing all the `stuff`.

[2017-03-15 07:23] PhilSk commented on #3871
@lonerz Sounds reasonable

[2017-03-15 07:23] PhilSk commented on #3871
@zulipbot claim

[2017-03-15 08:03] HarshitOnGitHub opened #4075 "subscriptions: No way to change a stream's privacy."
If a private stream is created with no admin subscribed then there is no way to change its privacy without subscribing the admin.

[2017-03-15 08:27] umairwaheed commented on #3974
This seems like a known bug: https://code.djangoproject.com/ticket/26886

[2017-03-15 10:59] CSC510Zacky commented on #4061
For example, let's say I want to mention user '장그래' (Korean characters). I will being typing through the name, but press enter before I fully type out the full characters (I will type '@장그', then press enter. This will result in the following: @@\*\*장그래[ID]\*\*). In addition, if I use the left/right direction keys to complete the input mid-way through and select the relevant user, the mention is c

[2017-03-15 11:37] kracekumar opened #4077 "Multiple dialog boxes for large unread messages"
When a user has large unread messages, say 750 or 3300, and logins into the system, the dialog appears with the similar message, "You have X unread message. Do you want to catch up or go to the latest message"? The user may choose any one of the available options. When a user selects a similar, `I'll catch up`, the dialog disappears. Then user starts to read the messages in the stream and clicks a

[2017-03-15 14:51] showell opened #4080 "big idea: Allow orgs to use Zulip as a knowledge base."
This issue is not actionable yet, but I wanted to start the discussion.

We have had a couple users that view Zulip as a potential knowledge base for their organization.  Imagine that folks chat on Zulip (as always), but the community treats the content that gets posted there more like a wiki than a real-time chat.  This will lead to a series of feature requests that sort of synergize toward that

[2017-03-15 15:13] pranjaypatil commented on #3871
Thanks for claiming this issue, I did figure out a way to fix this but it had some bugs so I did not claim it. It worked on hiding the expand\collapse in the same stream but did not work when the stream was changed.

[2017-03-15 15:20] vbNETonIce commented on #296
just found this issue and would certainly have UX cases for all. Much has been mentioned already.
I can see read-only streams for company news letters, links to tutorials and how-tos, updates on software that most/everyone is using. Zulip doesn't (and won't need a calendar) but a read-only stream can contain events as well.
transient streams: major hiccup in software > stream used to discuss work

[2017-03-15 15:22] vbNETonIce opened #4081 "improvement: syntax highlighting support for more languages"
syntax highlighting support for more languages
C#
Visual Basic (.NET)
C++
.ini files
.bat or .cmd files
linux bash
.xml
the editor Notepad++ is a good example what it could look like

currently it seems that Zulip supports mainly what it's built upon

[2017-03-15 15:25] vbNETonIce commented on #4080
that would also include the possibility to delete messages/topics/stream entirely but only by super admins.
btw: the table in the user database has a column `superuser` as boolean. I used it on myself but I don't it didn't make a difference.

[2017-03-15 15:38] vbNETonIce commented on #4080
in connection with 'Link to this conversation' you can create a powerful network of cross-references.
![image](https://cloud.githubusercontent.com/assets/26190934/23956662/835795fa-099d-11e7-8f68-40718268afca.png)
I can even imagine a researcher or php student using a single lonely VM with Zulip just to keep a record of his notes because Zulip is free from distractions like editing.

[2017-03-15 17:39] timabbott commented on #4081
We're using pygments, so we should support everything here:
http://pygments.org/languages/

You can use the short names from here: http://pygments.org/docs/lexers/

We should probably document the list of short names, though...

[2017-03-15 18:07] #3974 closed

[2017-03-15 18:24] timabbott commented on #1506
We merged #4060, which is a nice start on this project.  The next steps are:
* Adding a UI for a user setting their own timezone on the /#settings page.
* Setting the initial timezone for users to be the timezone of their browser when they create an account so we don't have everyone defaulting to UTC.  Might make sense to default timezone to null, not UTC, for users who never set one (e.g. were cr

[2017-03-15 18:26] #4066 closed

[2017-03-15 18:30] timabbott commented on #4077
I think there are 2 bugs here:
* We should have a better mechanism to suppress that dialog if you start reading things.  There's some discussion in some other issues related to this modal.
* it's opening new browser tabs when you click on things; clicking on links to a Zulip URL should open in-window rather than opening a new one.

[2017-03-15 18:30] brockwhittaker commented on #3928
Hey @feorlen, did you figure anything out?

[2017-03-15 18:33] wangjames commented on #3978
@zulipbot claim

[2017-03-15 18:37] timabbott commented on #4061
@CSC510Zacky I can't reproduce this.  I tried making a user's name `장그래`, but following the recipe you describe could not get it to generate two `@@`.  Can you try this on chat.zulip.org which is running the latest Zulip?  It's possible we fixed this issue without knowing it and that's why we can't reproduce.

[2017-03-15 18:48] #4035 closed

[2017-03-15 18:55] eeshangarg commented on #4000
@zulipbot claim

Seems like a good little project to learn more about integrations! Hope to work on this over the weekend! Thanks! :-)

[2017-03-15 19:00] kracekumar opened #4084 "Mismatch in search highlight"
I searched for the word "diversity" and one of the returned result highlighted the wrong word.

![diversity](https://cloud.githubusercontent.com/assets/311929/23965940/a1c0f7f6-09df-11e7-97fe-1a2b737e66a4.png)

The exact word is one line above the highlighted words.

[2017-03-15 19:04] timabbott commented on #4084
I think we have a bug with unicode characters in full-text search (was there more text earlier in the message).

[2017-03-15 19:29] #4029 closed

[2017-03-15 19:29] #4036 closed

[2017-03-15 19:30] timabbott commented on #3655
@brockwhittaker this seems like something that could be done easily now using the new `modals.js` -- maybe we should just replace `ui.home_tab_obscured` with a new `modals.any_modal_open()`?

[2017-03-15 19:38] timabbott commented on #4059
Fixed via #4036.

[2017-03-15 19:38] #4059 closed

[2017-03-15 19:40] aakash-cr7 commented on #4064
I totally agree with @showell to keep allowing topic-editing.

I have thought of the following things:

* When we are in the editing phase, there is this pencil icon on the top right corner. Since we are in the editing phase there is no need of the icon. I guess we can simply add the "X" button (to stop editing) instead of the pencil icon.
* Secondly, if the message is too old, as discussed earlie

[2017-03-15 19:44] rishig commented on #4064
For the first point, I think there is an open issue somewhere (or if there isn't, probably should be created) to remove the 3 icons (pencil, chevron, and star) when in message editing mode.

[2017-03-15 20:01] brainwane commented on #675
Dropping a note here (sorry not to answer @synicalsyntax's question) to offer a data point. I invited someone to chat.zulip.org using the "invite a user" functionality. The new user emailed me:

Once I @-mentioned them I think they were able to figure it out. I wonder whether our tutorial/tour intro needs a little more explicit signalling, pointing to https://chat.zulip.org/help and indicating:

[2017-03-15 20:07] timabbott commented on #4081
@vbNETonIce if you can test whether indeed using those short names work for the languages you had in mind, we can turn this into a documentation issue.

[2017-03-15 21:38] timabbott commented on #1539
This is now done.

[2017-03-15 21:38] #1539 closed

[2017-03-15 21:44] timabbott commented on #3991
Fixed via https://github.com/zulip/zulip/pull/3943

[2017-03-15 21:44] #3991 closed

[2017-03-15 22:01] timabbott commented on #3716
@jajodiaraghav do you want to take care of this in the other search bars?

[2017-03-15 22:44] strugee commented on #3235
Oh, I should probably clarify (since at the time I wrote this I didn't realize this was how other people used Zulip): I completely ignore Zulip's "Home" view in favor of checking individual streams/topics. That's the only way I've been able to find sanity in trying to balance a) not missing important things (which the bankruptcy modal may mark read), b) still seeing things that I'm interested in,

[2017-03-15 22:48] #3655 closed

[2017-03-15 23:27] #3967 closed

[2017-03-15 23:27] timabbott commented on #3967
Fix merged, thanks @southisle for the report and @TomaszKolek for the fix!

[2017-03-15 23:38] samatdav commented on #3945
I just created a [WIP] PR for this issue.
Initially I tried to only change `val` to `caret` at ```textarea.val('@**' + name + '** ');```
I think this is already a better that the existing approach because it does not delete the inputted text anymore. However, this way, the `'@**' + name + '** '` is always added to the beginning of the message since the cursor position is lost while clicking to use

[2017-03-15 23:39] Dracozny commented on #647
An always open text entry box with the last Stream/topic used would be an ideal implementation to this I think, would give a more chat feel to the stream concept.
Also, a shortcut to change the stream or topic on the fly would help heavy chatters such as IRC users feel more at home.

[2017-03-16 00:39] timabbott commented on #3945
I'm not sure; let's just start with adding it at the beginning, and then see what feedback we get from users.  Might not be important to do something fancier, and there's a good amount of complexity there.

[2017-03-16 02:53] feorlen commented on #3928
@brockwhittaker I went through compose.css and reverted those changes one by one. No difference. Disabled caches and restarted between, too. Going to look more into the history of that file and try some other things.

[2017-03-16 03:17] southisle commented on #3967
Thank you so much! :)

[2017-03-16 03:40] CSC510Zacky commented on #4061
This can't be reproduced by copy & pasting.
I made gif, it should help you to understand
![mention reproducing](https://cloud.githubusercontent.com/assets/26270196/23980632/2a44dc6e-0a44-11e7-93dc-a06c93b40ecd.gif)

[2017-03-16 03:41] lonerz commented on #4061
Ah, I see. This indeed is a bug.

[2017-03-16 04:25] timabbott commented on #4061
So it is.  Fascinating; I wouldn't have thought copy/paste would be relevant.  I guess whoever debugs this will need to have their keyboard setup to actually type the relevant characters.

[2017-03-16 05:09] timabbott commented on #2184
The scrolling is now fixed, and the sending issue is a duplicate of #2306 which will be closed soon via #3996, so I'm closing this.  Thanks to @brockwhittaker for fixing it :)

[2017-03-16 05:09] #2184 closed

[2017-03-16 05:27] vbNETonIce commented on #4081
cool! yes, then it's probably just one line in the documentation like "We support pygments which has more than 50+ languages that it supports. For more details see here ... link"
I only saw examples of .py and .php and .sql and used those.

[2017-03-16 05:37] #3965 closed

[2017-03-16 05:41] timabbott commented on #4081
Great.  @synicalsyntax this is probably a great one for your queue :).

[2017-03-16 05:53] jajodiaraghav commented on #3716
@timabbott I would love to, but i can only submit the PR after 2-3 days as i am busy on a different issue currently. I hope that's not a problem.

[2017-03-16 06:12] timabbott commented on #3716
Yeah, not a problem, just wanted to make sure this doesn't get lost :)

[2017-03-16 07:56] digi0ps opened #4091 "register: Password Strength Bar doesn't work"
The password strength bar doesn't get updated on the registration page for new users.
On inspecting the page, I found that Javascript is throwing an _ReferenceError_ for _i18n_ in _signup.js_.

`$.validator.addMethod('password_strength', function (value) {
        return password_quality(value, undefined, $('#id_password, #id_new_password1'));
    }, i18n.t("Password is too weak."));`

How do we i

[2017-03-16 10:08] digi0ps commented on #4091
@zulipbot label "area:i18n" "bug" "feedback wanted"

[2017-03-16 10:10] digi0ps commented on #4091
@zulipbot label "area: i18n"

[2017-03-16 10:30] umairwaheed commented on #1506
Yeah, I don't see any issue with this. I'll create a PR.

[2017-03-16 12:04] tejaskasetty commented on #3911
**Clarification:** Is it when one of the replies in a conversation is in focus or when nothing is selected.

When one of the messages form the conversation is selected the compose box will open with text box in focus. When the use goes out of focus the the message is selected. But the compose box would have gone. Now when we press the hotkey the emoji reaction UI has to open with text box on focus

[2017-03-16 14:05] synicalsyntax commented on #4081
I'll see what I can do :) @zulipbot claim

[2017-03-16 16:53] decached commented on #3400
Hope I've not highjacked the issue :)
I've made a pull request for this. @hackerkid

[2017-03-16 17:15] feorlen commented on #3928
Something odd is going on, as the exact branch in prod shows the problem but in dev it does not.

[2017-03-16 17:29] lonerz commented on #3992
@PhilSk can you comment so zulipbot doesn't unassign you?

[2017-03-16 17:46] #4038 closed

[2017-03-16 18:01] synicalsyntax commented on #3648
@blaze225 Please add the issue your PRs fix in the PR description next time so we kcan be notified that you opened a PR! Will take a look at them later :)

[2017-03-16 18:31] #3871 closed

[2017-03-16 18:51] timabbott commented on #4091
Hmm, yeah, our i18n library should be moved to the `common.js` bundle, not the `app.js` bundle.  The configuration is a bit tricky.

[2017-03-16 19:32] timabbott commented on #3911
This is when the compose box is closed.  The hotkey should just open the message reactions popover (the thing you get by clicking the smiley on the message body itself or via the message actions menu), for adding an emoji reaction.  It's not for adding an emoji to an existing message -- we already do that via the typeahead that triggers off of `:`.

[2017-03-16 20:35] rishig opened #4099 "analytics: Add LoggingCountStat backend for messages read by client."
We currently have a graph for messages sent by client, but it would also be interesting to know messages read by client, which in some sense is a better indicator of e.g. how people are using the mobile apps.

This will be a `LoggingCountStat`; you can see how `active_users_log:is_bot:day` is implemented to see how these work, and http://zulip.readthedocs.io/en/latest/analytics.html for general do

[2017-03-16 20:53] showell opened #4100 "tools/js: Create visual representation of JS dependency cycles"
It would be nice to have a diagram that shows interrelationships between our JS modules.  Basically, if module A assigns to global variable x, and B uses global variable x, then B depends on A.

There are probably tools that can produce a visual diagram just by installing, configuring, and running the tool.  We basically want to point the tools at `static/js/*.js`.

There may be tools that produce

[2017-03-16 21:21] tommyip commented on #4100
@zulipbot claim

[2017-03-16 21:26] rishig opened #4102 "analytics: Split huddles from PMs in "messages sent by type""
http://zulip.readthedocs.io/en/latest/analytics.html has instructions on how to see the analytics page in the development environment.

This project will touch several pieces of the analytics system:
* The `count_message_type_by_user_query`, along with any tests that touch it. The tests here are very important, since mistakes in the SQL query are hard to find later.
* A migration to remove the old

[2017-03-16 21:27] decached commented on #3994
@zulipbot claim

[2017-03-16 21:58] lonerz commented on #3400
@decached I think you're in the clear.

[2017-03-16 22:05] lonerz commented on #3911
@tejaskasetty are you interested in picking this up? Otherwise, I'd like to take it.

[2017-03-16 22:24] PhoeniXkrypT commented on #4099
@zulipbot claim

[2017-03-16 22:35] catthu commented on #3958
As fixing the bigger issue with this will be more involved, should I go ahead and abandon this? I feel like the issue should be closed in favor of fixing it as part of fixing the bigger issue, but not sure what the common way to go about this is.

[2017-03-16 22:44] Dracozny commented on #908
@lepetitjan That is for a completely different set of circumstances.

[2017-03-16 23:53] timabbott commented on #3958
I guess it's reasonable to de-assign you; I think we should keep this open but just plan to fix it once we've redesigned the structure :)

[2017-03-17 01:15] lonerz commented on #1180
@zulipbot claim

[2017-03-17 02:42] andrewallen00 commented on #3980
@zulipbot I'm still working on it.

[2017-03-17 04:26] rishig opened #4105 "user search: Clicking on name should clear the search box."
A common pattern for me is: type a few characters till the user list has < 10 users, and then click on the user I want. This should then clear the search box.
This is probably what I meant in the second part of #3874 :).

[2017-03-17 04:27] lonerz commented on #4105
Ah, so to clarify when you click on a name in the user list, it should clear the search field.

[2017-03-17 04:27] lonerz commented on #4105
@zulipbot claim

[2017-03-17 05:26] TomaszKolek commented on #3949
@zulipbot claim

[2017-03-17 05:52] abhisheksoni27 commented on #3361
I'd like to work on this. Can I?

[2017-03-17 05:59] lonerz commented on #3361
@abhisheksoni27 yep! Go ahead.

[2017-03-17 05:59] rishig opened #4106 "dev environment: Make login page nicer."
The development login environment is one of the first things a new develop sees when interacting with Zulip. A few easy changes:
* "Choose a user:" should be "Click on a user to log in"
* The colors of the buttons should play nicely with the green in the new header
* The button shadow is not looking good with the new header

This would be a great first project for a new contributor to Zulip! You c

[2017-03-17 06:00] rishig commented on #3361
https://github.com/kcr/snipe is the Snipe project

[2017-03-17 06:04] abhisheksoni27 commented on #3361
@lonerz &ndash; Thanks! I'll start right away. :tada:

[2017-03-17 06:10] synicalsyntax commented on #3361
@abhisheksoni27 Make sure to comment `@zulipbot claim` on this issue so other users know you're working on it

[2017-03-17 06:21] abhisheksoni27 commented on #3361
@zulipbot claim

[2017-03-17 06:24] rishig commented on #3361
Thanks Abhishek!
This may end up a bit complicated if it involves interacting with the Snipe project; maybe check on chat.zulip.org (general stream is fine) before submitting a PR to Snipe.

[2017-03-17 06:40] abhisheksoni27 commented on #3361
I think it does involve interacting with the `Snipe` Project. I'll make
sure I discuss with moderators on chat.zulip.org.

Also, I think I should not add the number of shortcuts Snipe introduces
except the ones that would be relevant for first time use and link Snipe's
original docs for reference to the more advanced users.

What do you reckon?

[2017-03-17 06:55] rishig commented on #3361
yup, that sounds great!

[2017-03-17 09:49] vbNETonIce opened #4108 "improvement: Hold Ctrl, select multiple people in user pane, Enter to start private group chat"
I hope the issue title says it all.

In Android this could be realised by long press on each name to select multiple people.

[2017-03-17 09:53] penCsharpener opened #4109 "improvement: add OR Operator in user search box"
in connection with #4108 it would be nice to use | (pipe/vertical bar) or + (plus) character to search for multiple people in the user pane and then use Ctrl + mouse select to create a private group chat with them

![image](https://cloud.githubusercontent.com/assets/26190934/24037970/cf9e11ce-0aff-11e7-852d-6c1250faa3cf.png)

[2017-03-17 10:15] vbNETonIce opened #4111 "Add typeahead for supported languages for syntax highlighting"
in the message formatting pop over there could be a tool tip that lists the supported language for syntax highlighting and what code you need to tip to activate them. Currently only .py is there and that's why I thought for a long time that this was the only language.

![add tooltip there](https://cloud.githubusercontent.com/assets/26190934/24038649/a39a6dcc-0b02-11e7-903f-f2455eff17ae.png)

Was t

[2017-03-17 11:25] aakash-cr7 commented on #3496
No, currently i have stopped working on this one. If any one is interested feel free to pick this up, or I'll finish it if no one is interested.

[2017-03-17 11:38] sinwar commented on #4106
@zulipbot claim

[2017-03-17 12:54] sinwar commented on #4000
@TomaszKolek you mean we should think about bitbucket or gitlab too.

[2017-03-17 17:19] zerocod3r opened #4113 "Search suggestion box is going out of bottom screen"
Tested on resolution 1366x768
Suggestions list while searching for keywords in searchbox is going out of window and list is not scroll-able.
![pp](https://cloud.githubusercontent.com/assets/14259718/24054876/ed81564c-0b63-11e7-95ea-87cc5c987221.jpg)

[2017-03-17 17:36] zerocod3r commented on #4113
@zulipbot claim

[2017-03-17 18:30] timabbott commented on #4000
Yep I'm prettys ure that's what Tomasz means.

[2017-03-17 18:34] timabbott commented on #4106
See also https://github.com/zulip/zulip/issues/3652

[2017-03-17 18:39] timabbott commented on #4111
This is a nice idea; I think we could reasonably make the typeahead/autocomplete complete languages.  To do this I think there's basically 2 steps: (1) Sending the list of languages to the frontend and (2) tweaking the typeahead after a ` ``` ` to show languages.

We recently changed the CSS to no longer have inline code be red, since folks felt it was unnecessarily distracting/attention grabbing

[2017-03-17 18:42] timabbott commented on #4109
We already support OR via commas, which is probably more intuitive; I'm not sure it makes sense to add the `|` syntax.  But right now if you do `tabbott,showell` + Enter, it just selects one of them; I think it makes sense for that to try starting a group PM conversation with the whole group, as long as there aren't too many users matching.

[2017-03-17 18:42] timabbott commented on #4108
Let's do a separate issue in the zulip/zulip-mobile project for the mobile instantiation, but the control-click thing seems like a reasonable feature on web.

[2017-03-17 18:47] #3994 closed

[2017-03-17 18:52] timabbott opened #4115 "Audit our webhook integrations for ping messages that should be handled"
As a follow-up to #3994, it'd be super awesome to audit our other integrations for whether they have "ping" type messages that are being silently accepted and should instead send out a similar notice.  Probably the best way to check is to read the webhook docs for the integration, but we could also check our code in most cases.

I'd sorta do this in a few stages that all feel fairly quick (and log

[2017-03-17 18:58] timabbott commented on #4113
I think it would be reasonable to just cut its height off at some reasonable number of suggestions like 15 rather than making it scrollable.

[2017-03-17 19:30] zerocod3r commented on #4113
Cool, I try to make it so.

[2017-03-17 19:59] #1886 closed

[2017-03-17 20:20] sinwar commented on #3652
I think second strategy will be more cool.

[2017-03-17 20:21] timabbott commented on #3652
OK, seems worth trying that out.

[2017-03-17 20:23] sinwar commented on #3652
yup
@zulipbot  claim

[2017-03-17 20:43] sinwar commented on #3652
@zulipbot claim

[2017-03-17 20:59] #1914 closed

[2017-03-17 20:59] timabbott commented on #1914
Merged, thanks @umairwaheed!  I was thinking about adding a lint rule but I think it's probably not needed, since the Django docs discourage use of `render_to_response` and we no longer use it so we're safe from copy-pasted code.

[2017-03-17 21:02] feorlen commented on #3928
It looks like a recent change resolved this? I just updated my prod install (that was showing the problem, and was about ten days out of date) and now it's ok. chat.zulip.org is fine too, and was updated yesterday.

Don't know what did it, but it seems fixed.

[2017-03-17 21:02] #3928 closed

[2017-03-17 21:19] abhisheksoni27 commented on #3361
@zulipbot abort

[2017-03-17 21:20] lonerz commented on #3361
@abhisheksoni27 it's "@zulipbot  abandon". I've removed you.

[2017-03-17 21:53] #2944 closed

[2017-03-17 22:00] rishig opened #4120 "Change consider_bankruptcy to use UserPresence instead of pointer."
Currently, the following piece of code in `static/js/unread_ui.js` puts up the bankruptcy modal if you have more than 500 unread messages and your pointer is more than 2 days in the past:

[code]

It would be better to use the information in UserPresence to calculate this, since `page_params.furthest_read_time` can be very far back for those that use the left sidebar to read Zulip rather than the

[2017-03-17 22:20] rishig opened #4122 "emoji: Replace compose emoji picker with reactions emoji picker."
They should use ~the same code, so that future updates to one are reflected in the other.
A lot of the code for this is in `popovers.js`. `git grep` for `#emoji_map` to find the compose picker, and `toggle_reactions_popover` to start finding the reactions emoji picker.

[2017-03-17 22:38] vbNETonIce commented on #4109
sweet, didn't know about the comma. `|` is just what I'm used to from `regex`

[2017-03-17 23:32] vbNETonIce commented on #4111
with typeahead would be nice. But how does it work on an US English keyboard. When I type the back tick on a German keyboard I get nothing with the first and two with the second hit on the key. I understand that this is for accented vowels etc. but how would it work then if you want to type three of them. So far I type 4, delete one or type 6 and add a new line in between 3 and 3. Feel very clumsy

[2017-03-18 03:11] refeed commented on #3629
@zulipbot claim

[2017-03-18 03:38] rishig opened #4126 "emoji: Use spaces instead of underscore when possible."
Many emoji shortcodes have underscores, like `:baby_bottle:`. We display the emoji shortcodes with underscores everywhere in the app, but it would be nicer just to show spaces, like `baby bottle`.

A few places this should be changed:
* Emoji autocomplete should show `baby bottle` instead of `baby_bottle`
* Typing either `:baby b` or `:baby_b` should show `baby bottle` in the autocomplete, but it

[2017-03-18 03:45] #150 closed

[2017-03-18 03:48] timabbott commented on #150
Typing notifications for PM and group PM threads was just merged; once we've gotten feedback on that experience, we can think about adding it for stream/topics as well.

[2017-03-18 03:56] timabbott opened #4127 "Make it easier to debug 500s that cause casper failures"
Right now, if you have a Casper test that fails due to a 500 in the server in the `/` endpoint, it's really difficult to debug.

Here's an example bad change (breaks the `/` endpoint):
[code]
Here's what the output looks like:
https://travis-ci.org/timabbott/zulip/jobs/212317830

Aka:
[code]

`/var/casper/server.log` isn't available in Travis CI, and locally it just has this (with not traceback):

[2017-03-18 04:01] timabbott commented on #4111
We support the `~~~`  syntax as well; you can use that.

[2017-03-18 04:08] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-18 04:08] synicalsyntax commented on #3805
@zulipbot claim

[2017-03-18 04:08] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-18 04:15] #3413 closed

[2017-03-18 04:38] timabbott commented on #3868
@sulian did it work for you?

[2017-03-18 04:39] timabbott commented on #3708
@akhilmd are you working on this?

[2017-03-18 04:58] timabbott commented on #4091
Fixed this earlier today, but forgot to close the issue.  Thanks for the report @digi0ps!

[2017-03-18 04:58] #4091 closed

[2017-03-18 05:38] adnrs96 commented on #3883
@zulipbot claim.

[2017-03-18 06:03] TomaszKolek commented on #4000
Exactly ;-)

[2017-03-18 06:34] JPJPJPOPOP commented on #4105
@zulipbot claim

[2017-03-18 07:23] 3ruce commented on #150
Nice...

[2017-03-18 08:43] sulian commented on #3868
hello @timabbott, I'm currently on an another project (enterprise wifi migration), I'll try to test Nagios plugin as soon as possible.

[2017-03-18 10:51] ManthanoPoly opened #4130 "big idea: encrypted streams / private messages"
Zulip lends itself also for use in communities that handle confidential information. Currently the admin of the server that runs zulip is able to read the messages in plain text in the postgresql database.
How much work would it be to introduce encrypted streams (or called secure streams) besides closed streams?

Those streams could be encrypted with a password that the subscribers know and it doe

[2017-03-18 12:51] digi0ps commented on #4126
@zulipbot claim

[2017-03-18 14:26] lonerz commented on #3971
@aakash-cr7 can you comment to keep zulipbot from unassigning you?

[2017-03-18 14:52] #3873 closed

[2017-03-18 16:41] akhilmd commented on #3708
No. I've had a basic implementation ready but its failing some tests which I have not found time to fix. Due to some changes I suspect that there will be a lot of conflicts with my implementation anyway.

[2017-03-18 17:38] HarshitOnGitHub commented on #3391
Update: The mentioned traceback has been fixed. There is a new error being thrown now:
[code]
This is so because on receiving a bot update event we try to access the relevant bot but it is not there in the bot_data.js.

[2017-03-18 17:53] HarshitOnGitHub commented on #3391
I think here we are sending the update event too broadly, am I right @timabbott?

[2017-03-18 18:36] aakash-cr7 opened #4135 "Cancel button behaving incorrectly in "Invite more users""
I found this bug while at chat.zulip.org .In the right sidebar, when we click to invite other users a modal opens. The cancel button of the modal is behaving as the "Invite" button.

[2017-03-18 19:05] akhilmd commented on #3708
Yes. I apologise for the slow response. I was delayed while fixing some failing tests. I'll open a PR after addressing some conflicts.

[2017-03-18 20:12] PhoeniXkrypT commented on #3471
Hi,

I was going through the analytics related bugs, and I found this to be interesting. I’d like to clarify if my understanding about this bug is correct.

There is a need to be able to collect analytics information from various zulip servers. These servers can opt-in to send data over to a zulip.org server. The endpoint to collect this information is “/report”. As only the server at zulip.org is

[2017-03-18 20:29] synicalsyntax commented on #3354
._. PR inactivity checks aren't working, huh.

[2017-03-18 20:32] lonerz commented on #3354
@synicalsyntax yea :/ Same thing with assigning reviewers of PRs

[2017-03-18 20:36] hollywoodno commented on #4102
claim

[2017-03-18 20:36] hollywoodno commented on #4102
@zulipbot claim

[2017-03-18 20:59] rishig commented on #3471
yup, your understanding is great :).

For DoS, there are two different situations:
* We'll probably need installations to register somehow, if they are going to send analytics. We already have tooling to rate limit on some combination of user/realm/endpoint (I forget which), I think in rate_limiter.py, which we could probably extend to this.
* A non-installation trying to DoS a Zulip server. This

[2017-03-18 21:03] rishig commented on #2059
"Number of messages sent to stream in last week" opened as #3989.

[2017-03-18 21:07] PhoeniXkrypT commented on #3471
Thanks! Yes, I would like to include this in my GSoC proposal.

[2017-03-18 21:58] lonerz commented on #3910
@zulipbot claim

[2017-03-18 22:02] lonerz commented on #3911
@zulipbot claim

[2017-03-18 22:46] lonerz opened #4145 "Message actions popover shifted to the left with narrow windows"
When you shrink your window, the message actions popover is shifted to the left. See images below:

![screen shot 2017-03-18 at 3 44 35 pm](https://cloud.githubusercontent.com/assets/12992571/24076594/fd721e90-0bf1-11e7-89e4-15558d7dd9b5.png)
![screen shot 2017-03-18 at 3 42 45 pm](https://cloud.githubusercontent.com/assets/12992571/24076593/fd719ab0-0bf1-11e7-8d6d-96e25a5635b5.png)

[2017-03-18 23:07] italo-batista commented on #3865
@blaze225 are you working on it yet? if you want some help, let me know :)

[2017-03-18 23:15] #4105 closed

[2017-03-18 23:21] timabbott commented on #4135
Already fixed in master earlier today, thanks for the report!

[2017-03-18 23:21] #4135 closed

[2017-03-18 23:26] italo-batista commented on #3630
@rishig, is there someone working on it yet? can i try? i think it is an excellent way to get in touch with analytics stuff

[2017-03-18 23:39] lonerz commented on #3630
@italo-batista go ahead and claim the issue.

[2017-03-18 23:42] italo-batista commented on #3630
@zulipbot claim

thanks, @lonerz!

[2017-03-19 00:58] rishig commented on #3630
Great, thanks @italo-batista! Instead of the design above, let's actually do a dropdown above the "Humans/Bots" links, with two options: "All Messages" and "Sent by Me".

This will work better with future planned changes for this graph (in particular, adding more options to the dropdown.)

[2017-03-19 03:49] #4081 closed

[2017-03-19 06:31] blaze225 commented on #3648
@synicalsyntax sure, will keep that in mind

[2017-03-19 07:26] blaze225 commented on #3865
@italo-batista sure , will let you know. I was actually busy with exams, so wasnt able to make much progress on this

[2017-03-19 07:45] tejaskasetty commented on #3911
oh i was late to check. :(

[2017-03-19 09:31] tejaskasetty commented on #3677
i m working on performance enhancement. i ll look into this as well. And most of the other issues on emoji's are linked to #1956. So, I m doing it keeping those things in mind as well. And few others are working on those particular issues which connected to  #1956 in someway. So, if there has been a fix to all those bit size ones due to #1956 i would ask them to still submit. If its better than th

[2017-03-19 11:04] jeremyphilemon commented on #4145
@lonerz I'm unable to reproduce this effect? When I resize the window, the popover seems to disable and hides instead...

[2017-03-19 12:30] boxin-yang commented on #4120
@zulipbot claim

[2017-03-19 12:49] jainayush975 commented on #2604
sorry, I typed 2604 instead of 2640 in my commit message that's why this is showing wrong commits.

[2017-03-19 15:58] lonerz commented on #3911
@tejaskasetty I just finished it during the PyBay sprints.

[2017-03-19 16:00] lonerz commented on #4145
@jeremyphilemon Resize the window then open the popover.

[2017-03-19 17:17] aakash-cr7 commented on #3971
Sure, yeah I am still working on this one.

[2017-03-19 18:10] stevenganz opened #4163 "Various issues uncovered by fix that caused additional execution of test code"
That fix was pull request #4162.
Issues remain that would cause failure of various race tests, not on a race condition but due to other issues.  One is that comparison of states would fail due to different values of avatar_url being returned for each call to fetch_initial_state_data.  The avatar_url fields were deleted from the states to allow these tests to pass.  3 other tests are now commented

[2017-03-19 19:13] wangjames opened #4169 "Running certain tests while in tools folder causes error"
If you run test-js-with-casper, test-api, or test-help-documentation.py while in the tools folder, it causes an error, but if you run these tests while in the root folder, it works.

[2017-03-19 19:18] #4016 closed

[2017-03-19 19:22] abhijeetkaur commented on #3882
I was busy in some commitment, back to working on this now.

[2017-03-19 19:45] timabbott commented on #4005
This was fixed recently.

[2017-03-19 19:45] #4005 closed

[2017-03-19 19:49] timabbott commented on #4169
Specifically:
[code]

fails to raise the server.

[2017-03-19 19:51] decached commented on #3447
@zulipbot claim

[2017-03-19 20:17] hollywoodno commented on #3998
@zulipbot claim

[2017-03-19 21:07] #3962 closed

[2017-03-19 21:22] lonerz commented on #4068
This one seems fun 😂 . I will take this up 😄  since I kind of started on this during the sprint. @zulipbot claim

[2017-03-19 21:46] #3910 closed

[2017-03-19 21:46] #3911 closed

[2017-03-19 22:26] lfaraone commented on #599
@timabbott is this worth doing yet, or is more work expected on @brockwhittaker 's branch?

[2017-03-20 03:39] #3978 closed

[2017-03-20 05:18] timabbott commented on #3926
We added almost everything here that we're confident as to exactly what we want to do this weekend.  We should discuss the remaining ones and then perhaps break this into individual issues for the remaining work.

[2017-03-20 05:55] timabbott commented on #3447
@decached I did some work at the Python Bay Area sprints today on this, not merged into master.  Some findings are:
* The `error: <uninhabited>` errors are a mypy bug; we should ignore them since mypy will fix them for us.
* There's a lot related to `get_stream` potentially returning None, especially in tests.  I think it probably makes sense to change its API to not catch the Stream.DoesNotExist

[2017-03-20 06:01] #4022 closed

[2017-03-20 06:03] timabbott commented on #4145
Tweaked the description to correctly reference narrow windows.

[2017-03-20 08:22] umairwaheed commented on #1914
Cool. Adding a lint rule should not take a lot time. Let me add it.

[2017-03-20 09:03] PhoeniXkrypT commented on #3989
I have an initial(incomplete) patch here (https://gist.github.com/PhoeniXkrypT/bd9f21db96acec199d6dcde79d81ba0e) that implements gathering StreamCount info from the backend and showing it on the subscriptions page.

When looking at the StreamCount table, there does not seem to be any test data. Inside analytics/management/commands/populate_analytics_db.py, there is a comment "# TODO: messages_sent

[2017-03-20 13:52] jainayush975 commented on #971
@hackerkid  and @timabbott, I think this will fix the issue because I also face same problem and now I use to unset all the proxy settings and then all tests works fine.

[2017-03-20 14:27] tejaskasetty commented on #3952
I have looked at the issue. Since, no one has attended to it for almost 15 days  shell i resolve the issue. I checked the issue and can be easily solved. I have corrected it as well. I have to create a PR.

[2017-03-20 14:29] tejaskasetty commented on #3952
And i looked at PR #3923 and @HarshitOnGitHub seems to have left this part out. So, i guess its ok to submit my PR.

[2017-03-20 14:33] HarshitOnGitHub commented on #3952
@tejaskasetty PR #3923 is not complete yet, so this is technically not left out but since you have already made the changes feel free to create a PR. :)

[2017-03-20 14:34] tejaskasetty commented on #3952
Ok thanks

[2017-03-20 14:51] italo-batista commented on #3630
Hello, can someone or @rishig review / judge my first changes? I will be very glad! :smile_cat:

[2017-03-20 15:16] YagoGG opened #4182 "Thumbs up '+' keyboard shortcut not working properly"
# Description

In #4153 it was implemented the possibility of adding a :+1: emoji reaction to the selected message, only by hitting `+`.

However, this isn't working properly (it only does with <kbd>Shift</kbd> + <kbd>+</kbd>, or <kbd>Shift</kbd> + <kbd>=</kbd> in the American keyboard layout).

# Steps to reproduce
1. Select a message (without opening the compose box).
2. Press <kbd>+</kbd>.
3. N

[2017-03-20 16:48] #4182 closed

[2017-03-20 16:53] synicalsyntax commented on #3805
@zulipbot remove "bug"

[2017-03-20 16:54] synicalsyntax commented on #3805
@zulipbot label "bug"

[2017-03-20 16:54] synicalsyntax commented on #3805
@zulipbot claim

[2017-03-20 16:54] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-20 17:25] YagoGG commented on #2394
Apparently the problem is related to Pygments: they added those empty `<span>` tags to fix an [issue](https://bitbucket.org/birkenfeld/pygments-main/issues/1111/an-empty-line-at-first-has-been-ignored), but as they mentioned [here](https://bitbucket.org/birkenfeld/pygments-main/issues/1254/empty-at-the-begining-of-the-highlight) they have no intention in changing this behavior.

I guess we will ha

[2017-03-20 17:33] mahimg opened #4183 "Variable mute durations for a stream."
A new feature can be added where the muting duration of each stream can be variable and not always permanent. Some options can be provided ranging from a few hours to maybe weeks and then the permanently mute option. It might be even better to keep a custom duration button, where the user inputs whatever he is comfortable with.

[2017-03-20 17:42] timabbott commented on #2394
@borisyankov how annoying is this empty span tag from an API perspective?  We could probably do a hack to remove it in post-processing of the pygments output.

[2017-03-20 17:46] #3952 closed

[2017-03-20 17:48] timabbott commented on #971
Awesome; @jainayush975 can you submit a PR tweaking `test-backend` to do this?

[2017-03-20 17:49] borisyankov commented on #2394
Not very annoying anymore.

[2017-03-20 18:18] blaze225 commented on #3865
@rishig I need to clarify a few things.
Firstly, for solving the broken page for new realm i would need to edit in the following conditional, in line 95 of `analytics/views.py`:
`   if end is None or start > end:`

I would have to assign `data` some fixture data and then `return json_success(data=data)`

Secondly, could you explain the role of `end_times` ?

Also i checked the page with <1 wk data

[2017-03-20 18:47] #4102 closed

[2017-03-20 18:50] rishig commented on #3865
I think `get_chart_data` should always return the truth, and the fixture data should just be generated on the frontend. That way there is no danger of confusing other clients using the analytics API endpoints.

An end_time is a datetime indicating the end of a time interval. It will be on an hour (or UTC day) boundary for stats collected at hourly (or daily) frequency.

So for a stat collected dai

[2017-03-20 20:11] tejaskasetty commented on #4122
Can you please describe a bit more in detail about is expected?

[2017-03-20 21:25] tejaskasetty commented on #4122
I would like to work on this. @zulipbot claim
But i would like a bit more detail about the issue.

[2017-03-20 21:34] mahimg opened #4189 "Buggy local echo when "@foo bar" is used to mention"
To reproduce the error type `@cordelia lear` without the asterisk of mention shortcut.
The result would be somewhat of this sort:
![image](https://cloud.githubusercontent.com/assets/16012015/24122743/07926608-0de3-11e7-81ec-3d654867d1ba.png)
You might also wanna look at #4074 .

[2017-03-20 21:41] mahimg commented on #4074
As far as I got, this happens whenever `@mention` starts in a new line.

[2017-03-20 21:46] showell commented on #4122
See #4188 for a small but important fix.  It will mostly likely hit master before you start working on it.

[2017-03-20 21:47] mahimg commented on #3916
@timabbott I can't find the "Display left side userlist in narrows" in the "Zulip Labs" setting. Has it been removed as of now?

[2017-03-20 21:52] mahimg commented on #4074
@zulipbot claim

[2017-03-20 22:06] rishig commented on #4122
Great, thanks @tejaskasetty!
Feel free to ping me on #development help on chat.zulip.org.

[2017-03-20 22:07] tejaskasetty commented on #4122
sure.

[2017-03-20 23:18] rishig commented on #4074
Great, thanks @mahimg!

[2017-03-21 00:08] galexrt opened #4191 "Debugging the text search"
Is there a way to debug why Zulip doesn't show any results when searching for anything?

https://github.com/galexrt/docker-zulip/issues/78

[2017-03-21 00:53] showell opened #4194 "Break some JS circular dependencies."
Talk to @showell or @timabbott before working on this ticket.

This is a list of dependencies we can try to break in our JS code.

ping @tommyip

[code]

[2017-03-21 00:56] lonerz commented on #4194
Wow, can't wait for this to be done 😄

[2017-03-21 01:40] rishig commented on #3989
That would be great :). (And as you noted, this is now called `messages_in_stream:is_bot:day`)

yeah, that is a symptom of it not being in `populate_analytics_db.py`.

[2017-03-21 03:28] timabbott commented on #3916
It's actually in display settings; I just fixed the description.

[2017-03-21 03:30] timabbott commented on #4189
I think that's actually a consequence of some intentional behavior that we should probably get rid of, namely that you can do `@shortname` for a user to mention them (where `shortname` is usually the prefix of their email).  That feature predates autocomplete and is I think not used intentionally anymore.

But of course it would translate just the `@cordelia` to a mention of cordelia, and do nothi

[2017-03-21 03:51] timabbott commented on #4191
@galexrt this is almost certainly that the `process_fts_updates` job isn't running, since that's what maintains the search indices.

[2017-03-21 03:53] timabbott opened #4195 "Make `G` hotkey an alias for End to go to the bottom of the feed"
This is pretty self-explanatory, and I'm confident will be an improvement.

See discussion in #3926 and #1679 for some context on why this is a good choice (basically it's a vim navigation key and thus goes with j/k, and on some keyboards the `end` key is a bit difficult to use, so it's nice to have a convenient alias).

[2017-03-21 03:56] timabbott opened #4197 "Make the arrow keys work for navigating the emoji reactions popover"
Now you can use `:` to open the emoji reactions popover, which is awesome.  Some good follow-ups are:
* Making the arrow keys navigate.  This is a bit interesting since there is a text box that you're in, but I think basically we want the behavior to be that do is the down arrow moves to the grid of emoji, as down the right arrow if you're at the right end of the text box.  And I think similar beh

[2017-03-21 03:57] timabbott opened #4198 "Make the arrow keys work for navigating the streams management page"
Once you're on the streams management view, it'd be awesome to be able to navigate the streams quickly using the arrows keys.  I think to make this work, mostly we need to do the same tabindex stuff that we do in the gear menu.

[2017-03-21 03:59] timabbott commented on #3926
We've now added or opened PRs for almost all of the hotkeys in this list that we're confident would actually improve Zulip.  I opened individual issues for some of the remaining ones that are priorities; I think we may want to make a few more calls about specific hotkeys in this list, open issues for the things that we want to do soon, and then close this meta-issue since it's now a bit cluttered.

[2017-03-21 04:02] showell commented on #4189
I'm in favor of removing the shortname syntax.

[2017-03-21 04:03] timabbott commented on #4189
Cool, let's just do it.  It's not useful and as demonstrated does cause problems confusing :)

[2017-03-21 04:08] timabbott opened #4199 "Add hotkey for jumping to next unread topic"
This has been discussed in #3926 and #1679 and I think would be a big improvement; I think it's important enough to get its own issue.

I think we can start with logic that's basically "jump to next topic in current stream with unread messages, or if none, jump to next stream in left sidebar order with unread messages".

In terms of key choice, I think `n` for "next unread" could be a good choice;

[2017-03-21 04:12] lonerz commented on #4195
@zulipbot claim

[2017-03-21 04:13] lonerz commented on #4197
@zulipbot claim

[2017-03-21 04:20] lonerz opened #4200 "ESC doesn't close the gear menu"
Open the gear menu in the top right hand corner. Press ESC. It should close the gear menu but doesn't.

This should be a recent regression from the gear hotkey push.

[2017-03-21 04:22] #3010 closed

[2017-03-21 04:23] timabbott commented on #4200
Hmm, I can't reproduce?

[2017-03-21 04:24] lonerz opened #4201 "Pressing down in gear menu stops at "Settings""
When you tab into the gear menu and press down to go to "User documentation," you get stuck at "Settings" and can't go further until you tab.

[2017-03-21 04:26] lonerz commented on #4200
@timabbott click on the gear. Press ESC. It doesn't close the gear menu. If you are tabbed into the menu, you can close it with ESC.

[2017-03-21 04:35] timabbott commented on #4200
Ahh cool, it works if you got to the gear menu via the hotkey, but not the mouse.

[2017-03-21 04:36] timabbott commented on #4201
Nice find; I think the bug is that the /#administration link is there hidden blocking navigation if you're not an admin.

@brockwhittaker FYI.

[2017-03-21 04:45] #2306 closed

[2017-03-21 04:55] #4106 closed

[2017-03-21 05:26] #1435 closed

[2017-03-21 05:27] timabbott opened #4202 "Editing stream descriptions seems to jump you to the end of the description frequently"
Try opening the stream settings UI as an administrator, and editing the stream description.  The content-editable area will highlight, you can type things at the end, but if you try typing things not at the end, the character appears but your cursor gets jumped to the end.

Also, the escape key no longer works in that widget; the cause may be the same.

[2017-03-21 05:30] timabbott commented on #3391
Yeah that seems likely to me.  I guess only the owner and admins should get it?

[2017-03-21 06:27] synicalsyntax commented on #4198
@zulipbot claim

[2017-03-21 06:31] timabbott commented on #4198
@synicalsyntax you may want to check out some of the work @JPJPJPOPOP did on the drafts hotkeys for inspiration.

[2017-03-21 06:42] HarshitOnGitHub commented on #3391
@zulipbot claim

[2017-03-21 06:54] timabbott commented on #4197
@lonerz I just did the `escape` part since it was pretty quick in ee2e6a31b1e3b92a7e43a2333f2e36043a756b1a ; I'd forgotten it was part of a claimed issue :/.

[2017-03-21 06:57] timabbott commented on #599
I think not; we may be getting rid of most of the screenshots anyway.

[2017-03-21 07:26] jajodiaraghav commented on #4202
@zulipbot claim

[2017-03-21 07:45] rishig commented on #3882
Awesome, welcome back!

[2017-03-21 07:55] #3883 closed

[2017-03-21 08:02] souravbadami commented on #3972
Ah, Yes. I'm waiting for #3923 to go in.

[2017-03-21 10:47] galexrt commented on #4191
@timabbott Thanks for the answer!
I directly submitted a PR to make the user and dbname configurable too, especially for the Docker Zulip version, see #4205.

[2017-03-21 10:47] #4191 closed

[2017-03-21 12:42] mahimg commented on #4199
I read about adding hotkeys and went through the hotkey.js file. I can take this up, is it fine?

[2017-03-21 14:27] tejaskasetty commented on #4122
Clarification and discussion on this **[issue](https://chat.zulip.org/#narrow/stream/development.20help/subject/emoji.3A.20Replace.20compose.20emoji.20picker/near/175634)** on Zulip Chat

[2017-03-21 14:36] timabbott commented on #4199
Sure, go for it!  Check out the node tests for hotkeys as well :)

[2017-03-21 14:50] Lplenka opened #4208 "Bug in change language settings in Display settings"
![bug](https://cloud.githubusercontent.com/assets/13533873/24153137/9e8035c8-0e73-11e7-8c4d-45b41b35c6dc.png)
The popup modal to choose default language is not scrollable & gets hidden.Works fine in mobile view though.

[2017-03-21 15:07] showell commented on #4194
You can use this tool to generate the report at the top of this issue:

https://github.com/zulip/zulip/blob/36b29a966ebfcdf9c57dc3358c0dc6fa08a47ef0/tools/js-dep-visualizer.py

As we fix stuff, the tool will start to generate different output, and there's some possibility that as we break some dependencies, the tool may make different decisions about the future roadmap than it originally did.  Thi

[2017-03-21 17:13] timabbott opened #4209 "Fix buggy interaction between default streams and inviting users to join an organization"
Right now, if you use default streams and invite users to join an organization, you have a super confusing experience.

The "invite users" UI predates the default streams feature, and default streams are what you get if you aren't invited with a list of streams (so default streams does nothing if you're inviting someone to join, which makes no sense).  It seems pretty clear that we should just hav

[2017-03-21 17:22] sinwar opened #4210 "Remove redundant lines from bottom of integration documentation"
When We click on any integrations on ```http://localhost:9991/integrations/``` then there are two redundant lines at the bottom of the integration documentations page
[code]

These lines should be appeared on the homepage of integration only. (only on /integrations url)

Code to look in ```templates/zerver/integrations.html``` and ```zerver/webhooks```.

[2017-03-21 17:28] eeshangarg commented on #4000
Hey guys! Plan on working on this soon! Prepping for a Math midterm exam at the moment. Hope to submit a PR for this tomorrow night! Thanks! :-)

[2017-03-21 17:31] timabbott commented on #4210
It'd be awesome to fix this soon.

Anyone want to pick this up?

[2017-03-21 17:35] TomaszKolek commented on #4210
I'll be working on basecamp doc in a while, so
@zulipbot claim

[2017-03-21 17:50] sinwar commented on #4000
cool @eeshangarg no issue :)

[2017-03-21 17:54] timabbott commented on #1522
@showell @adnrs96 to what extent are these things done?

[2017-03-21 18:03] wangjames commented on #4209
@zulipbot claim

[2017-03-21 18:06] timabbott opened #4211 "Fix potentially different maximum lengths of fields in frontend vs. backend"
In 17597e2ddfd1980b5d3e673a42914c0cca9e313f, I fixed a bug where we had a maximum length mixmatch between the frontend code and backend code.

I think it probably makes sense this and other similar maximum lengths into constants in zerver/models.py like MAX_REALM_NAME_LENGTH, pass them as values provided to HTML templates in `zerver/context_processors.py`, and then use that value to determine the

[2017-03-21 20:09] adnrs96 commented on #1522
I haven't gone through this ticket much yet (probably now will) but i believe consistent indentation is almost done. I am waiting for review on this #4062. This was been discussed in [here](https://chat.zulip.org/#narrow/stream/tools/subject/linters/near/175314).

[2017-03-21 20:30] mahimg commented on #4199
@zulipbot claim

[2017-03-21 20:41] #1659 closed

[2017-03-21 20:56] timabbott commented on #4210
@TomaszKolek Brock ended up fixing this bug this morning, so it's all good.  Thanks for looking at this though!

[2017-03-21 20:56] #4210 closed

[2017-03-21 21:33] timabbott opened #4217 "Add a hotkey to open the lightbox on the nearest image above your current place in feed"
This would make it super convenient to just browse through recent designs or other images that are being shared, even if there's been a lot of back-and-forth.

This should probably be `V`, the analog of `v` (which only works if the current message has an image).  Or maybe we should just make `v` find an image if there aren't any in the current message.  Thoughts?

[2017-03-21 21:37] timabbott opened #4218 "Reactions addition feature broken with /me messages"
Reproducer:

* Send a message using `/me`, e.g. `/me message`
* React to it.
* Hover over the reactions area.
* The smiley button that's usually to the right of the existing reactions will only appear when your cursor is over a smaller corner of it; usually it'll look like this:

![image](https://cloud.githubusercontent.com/assets/2746074/24171948/b03ac52e-0e43-11e7-898a-74bb39e89e0b.png)

This is

[2017-03-21 22:47] #2640 closed

[2017-03-21 22:59] borisyankov opened #4220 "API: Get messages by specifying list of message id"
Currently, a messages 'GET' operation works by specifying `anchor` and `num_before` and `num_after`.

Allow, in addition to that, to get messages by passing a list of message IDs to the same call (but omitting the anchor, num_before, num_after fields)

This enables various scenarios, some not yet conceived.

[2017-03-21 23:04] borisyankov opened #4221 "API: Allow get only parts of messages fields"
When doing a GET to `/messages` allow optionally to specify which fields the client is interested in, in addition to receiving all by default (the current behavior).

This functionality allows the API client some flexibility and enables cases like asking only for most basic information upfront (but for lots of messages) and later request the full message content.

[2017-03-21 23:14] timabbott opened #4223 "Fix CSS for avatar upload widget"
The "Uploading..." text appears in a weird place; I think probably we can just remove the text, given that we have a loading spinner anyway.

There may be a similar issue with the organization upload widget.

[2017-03-21 23:19] lonerz commented on #4197
@timabbott yea, no problem.

[2017-03-21 23:41] #2056 closed

[2017-03-22 00:31] rishig opened #4225 "tutorial: Change initial messages to be sent in a PM."
Currently, for new organizations, we send a bunch of tutorial-y messages into #announce when the first person from the organization logs in. Search for `send_delayed_stream_message` in `static/js/tutorial.js` to see what we send.

A better model would be to send those messages to a PM with the user instead, and drop the user into the PM view when they first log in to the realm. Some reasons:
* We

[2017-03-22 02:57] #3948 closed

[2017-03-22 03:34] #4198 closed

[2017-03-22 03:47] synicalsyntax opened #4227 "hotkeys: Pressing up arrow key moves cursor to Filter streams input in Streams menu."
Add a hotkey for moving the cursor to the Filter streams input when the up arrow key is pressed in the Streams menu.

Followup to PR #4226

[2017-03-22 03:49] synicalsyntax opened #4228 "hotkeys: Pressing left/right arrow keys to switch tabs in Streams menu."
Add hotkeys for switching to the All Streams view when the right arrow key is pressed and switching to the Subscribed view when the left arrow key is pressed in the Streams menu.

Followup to PR #4226

[2017-03-22 03:50] synicalsyntax commented on #4228
@zulipbot claim

[2017-03-22 03:53] synicalsyntax opened #4229 "hotkeys: Add a hotkey for subscribing/unsubscribing from a selected stream in the Streams menu."
Add (undetermined) hotkey for subscribing/unsubscribing from a selected stream in the Streams menu.

Followup to PR #4226

[2017-03-22 03:53] synicalsyntax commented on #4229
@zulipbot claim

[2017-03-22 03:54] synicalsyntax opened #4230 "hotkeys: Fix scrolling in Streams menu when up/down arrow hotkeys are pressed."
In a not-very-tall window (or equivalently, if there's a lot of streams to scroll through), the scrolling is jerky when up/down arrow hotkeys are pressed.

Followup to PR #4226

[2017-03-22 03:56] lonerz commented on #4229
It should just be `s`.

[2017-03-22 03:58] #4209 closed

[2017-03-22 03:59] lonerz commented on #4230
Something like #4139. We probably should just wait for that to be done before implementing it here.

[2017-03-22 04:10] timabbott commented on #4229
In terms of key, `s` is probably reasonable but not super obvious, I could imagine using `Enter` or something like that, but I kinda imagine we'd use that for switching over to the right side of the page or something.

[2017-03-22 04:14] lonerz commented on #4229
Yea, `Enter` seems the most intuitive to switch to the right side of the page. Also, @synicalsyntax do you think when you first get to the stream window, your cursor should be in the Filter input.

[2017-03-22 04:21] synicalsyntax commented on #4229
Personally I thought the right arrow key would be better for switching over, but I guess `Enter` works too.

I think `S` would be better for subscribe/unsubscribe for this since you need to hold down the Shift key to subscribe/unsubscribe, preventing any accidental keyboard presses.

[2017-03-22 04:32] timabbott commented on #4220
Something like the following should work:

[code]

In some cases, using this may require specifying the same narrow (at least at the stream level) that the message IDs were originally fetched from.  We need the narrow basically because if it's the home view (aka no narrow), the logic will fetch exactly messages that the user actually received, whereas if it's a stream, we may have access to messag

[2017-03-22 04:37] timabbott commented on #4221
Probably the simplest implementation of this would be to just add a new argument that's a data structure showing the requested fields, and some code at the end of `get_old_messages_backend` to just only pass back the fields requested.  The simple version would be to just do top-level fields, but I could imagine passing something fancier.

@borisyankov @neerajwahi can you think a bit about which fi

[2017-03-22 05:07] timabbott commented on #4229
Capital letter isn't a bad idea, since this is probably an area with some type risk.  We can also start with something like that and see what feedback we get.

[2017-03-22 05:59] wangjames opened #4232 "Form to add new default stream does not have a submit button"
Admins cannot add a default stream because there is no submit button for the form that sends a request to create a default stream.

[2017-03-22 06:12] #3971 closed

[2017-03-22 06:14] timabbott commented on #3151
This was fixed by 68e7a8a82480b888cf0c63d14c30e93d4584e958

[2017-03-22 06:14] #3151 closed

[2017-03-22 06:15] timabbott commented on #2604
This was fixed a couple months ago anyway.

[2017-03-22 06:15] #2604 closed

[2017-03-22 06:27] timabbott commented on #4232
You just hit "enter" to submit.  We should probably add a button though anyway.

[2017-03-22 06:39] wangjames commented on #4232
Enter doesn't work

[2017-03-22 06:42] timabbott commented on #4232
It does for me; I wonder what's going on...

[2017-03-22 06:43] #3572 closed

[2017-03-22 06:43] #3858 closed

[2017-03-22 06:49] wangjames commented on #4232
Hmm just double checked - default streams is the only admin page that doesn't work by just hitting enter.  all of the other admin pages work. are you using chrome?

[2017-03-22 06:56] timabbott commented on #4232
Yep I'm using Chrome on Linux.

[2017-03-22 15:31] brainwane opened #4235 "allow admin to merge two users"
I'd like functionality for an org admin to be able to merge two users, so that if a person accidentally creates a duplicate account and posts some messages under that account, we can meld their history.

[2017-03-22 16:01] brainwane commented on #2093
Also: [a new Go library](https://github.com/decached/go-zulip).

[2017-03-22 16:40] manjithd2 commented on #4223
/claim

[2017-03-22 16:41] manjithd2 commented on #4223
@zulipbot claim

[2017-03-22 17:18] tommyip commented on #4100
This could be closed.

[2017-03-22 17:30] timabbott commented on #4100
Yep, thanks @tommyip and @showell !!

[2017-03-22 17:30] #4100 closed

[2017-03-22 17:37] timabbott commented on #4235
@brainwane shouldn't the second account just be deactivated?  That seems way simpler than "merging" accounts and trying to meld their histories.

[2017-03-22 18:00] #3239 closed

[2017-03-22 18:05] zormit commented on #3687
How would you reproduce this issue in the development environment?
Is there an easy way to send a lot of messages and trigger this?

[2017-03-22 18:09] zormit commented on #3460
@zulipbot claim

[2017-03-22 18:13] timabbott commented on #3460
@HarshitOnGitHub is it easy to check whether this issue will be solved as a side effect of your sprite sheet work?  In that case this might not be a great project right now @zormit.

[2017-03-22 18:23] manjithd2 commented on #4223
Hi, @timabbott I am working on this. I'll clean up my commit and give a PR soon!

[2017-03-22 18:32] timabbott commented on #3687
Probably easiest is that there's a function `consider_bankruptcy` in `static/js/unread_ui.js`; make that unconditionally show the modal.

[2017-03-22 18:35] timabbott commented on #4223
@manjithd2 you should try the approach of just modifying `loading.make_indicator` to not pass text in this case and see how that looks.

[2017-03-22 18:51] timabbott commented on #1134
@lonerz @synicalsyntax #4079 should have caused that zulipbot notice to not be sent, right?

[2017-03-22 18:53] brainwane commented on #4235
I get that deactivating one account is simpler. But I want to be able to narrow to (for instance) private messages with that user, for when I'm trying to find something that someone has said. And I want to be able to easily search for all their contributions to a stream (example: when checking how many times have they spoken up when I polled people). It is kind of a pain if I have to think "oh wai

[2017-03-22 18:56] zormit commented on #3460
@timabbott Thanks for the hint. I'll wait then.

[2017-03-22 19:05] zormit commented on #3460
@zulipbot abandon

[2017-03-22 19:10] rishig opened #4238 "message edit: Improve experience for copy to clipboard"
A few quick things for the new copy to clipboard:
* The button styling should match the button styling of the buttons in the compose box:
![image](https://cloud.githubusercontent.com/assets/890911/24215563/6e03b3ce-0ef6-11e7-8159-571e7dc85f81.png)
(note that they also darken on hover)

(In particular, we should also remove the border of the current button; the main reason for the surrounding white

[2017-03-22 19:12] rishig opened #4239 "compose: Fix on-hover behavior of the preview icon."
The fourth icon here isn't styled like the rest, in terms of what happens on hover:
![image](https://cloud.githubusercontent.com/assets/890911/24216199/970ce28e-0ef8-11e7-9a6d-d17fe802a29b.png)

Desired behavior is for it to darken, like the other 3 icons. Same issue with
![image](https://cloud.githubusercontent.com/assets/890911/24216243/bac9a748-0ef8-11e7-820a-3419553fe70a.png)
(the icon you get

[2017-03-22 19:15] timabbott commented on #4235
I'd argue that if someone lost access to an old account, they should prove to their server/organization administrators that they are the same person and get their existing account changed, rather than making a new one.

Account merging would be a huge amount of work for not too much benefit; I would rather address this problem with more clear instructions on login pages for users to help head off

[2017-03-22 19:15] #4235 closed

[2017-03-22 19:16] timabbott commented on #4235
(Feel free to open an issue for trying to help users avoid creating duplicate accounts when they already have one)

[2017-03-22 19:18] rishig opened #4240 "message edit: Nicer animation on close."
Currently closing the "message edit" or "view source" view is a bit jarring. See for comparison how nice the animation is when we send a new message.

It would be great to add an animation that closed the message edit/view source box more slowly.

[2017-03-22 19:21] #4202 closed

[2017-03-22 19:31] jajodiaraghav commented on #3780
So are we going to remove "All streams" tab under /streams page, or can both the pages exist simultaneously? Since the /discover is going to have content of "All streams" tab (Along with analytics and user pinning thing), will we still need that tab?

[2017-03-22 19:35] timabbott commented on #3780
I think we should probably start with imagining this as an enhancement to the "All streams" tab rather than a separate page and see if we can make that experience great.  If not, we'd make a separate one, but obviously life will be a lot easier if we don't need to make a second thing :)

[2017-03-22 19:37] jajodiaraghav commented on #4238
@zulipbot claim

[2017-03-22 19:40] zormit commented on #3687
Ok thanks. I can reproduce the behavior when clicking "yes, please". Then [the tab gets changed to home by `fast_forward_pointer`](https://github.com/zulip/zulip/blob/dbcd19bcfa3e33462c53bfcc192e750b29efc61d/static/js/pointer.js#L67).
When clicking "No, I'll catch up", no redirection happened.

I'll see what I can do to prevent this redirection.

@zulipbot claim

[2017-03-22 19:55] brockwhittaker commented on #4201
I can't replicate this bug. The whole list is able to be tabbed through on Chrome. Are you able to do this on the chat.zulip.org server or on latest master? This was potentially fixed last weekend in the hotkeys sprint.

[2017-03-22 19:59] jajodiaraghav commented on #4238
I think the following would would be better:

Thoughts?

[2017-03-22 20:04] #3652 closed

[2017-03-22 20:11] timabbott commented on #4201
I can reproduce; you need to not be an administrator user.

[2017-03-22 20:16] #4239 closed

[2017-03-22 20:17] timabbott commented on #4238
The problem with that alert plan is that it'll potentially overlap other content.

[2017-03-22 20:20] timabbott commented on #3687
Urg, I think that just means that the main bug isn't reproducible in development with just this; which I guess confirms that the cause of the main bug has to do with returning from suspend with your event queue removed (which causes your browser to reload).

Try using `reload.initiate({immediate: true})` to simulate the browser-initiated reload that we do when you come back from suspend after bein

[2017-03-22 20:23] rishig commented on #4238
oops, those were meant to be the same thing. I.e. a green "Successfully copied", that disappears after a few seconds, in the space to the left of the three icons which are to the left of the timestamp.

[2017-03-22 21:19] #3998 closed

[2017-03-22 21:20] brainwane opened #4244 "Help users avoid creating/seeing duplicate accounts"
Sometimes a user in a realm creates a second account, which causes confusion for someone trying to search/narrow to find things they've posted. Some reasons:

* moving jobs/schools/etc. and losing access to an old email address, and thus to password reset emails
* coming back after a while away, forgetting that they have an old account (or forgetting the email address for it), and creating a new o

[2017-03-22 21:22] timabbott opened #4245 "Weird horizontal scrollbar with ultra-long inline code blocks"
![image](https://cloud.githubusercontent.com/assets/2746074/24221261/df8dbe18-0f0a-11e7-94cb-5bb7e645665b.png)

[2017-03-22 21:28] timabbott commented on #4244
For chat.zulip.org in particular, we should add a small note in docs/chat_zulip_org.html that test accounts should use a certain naming scheme with "Test" in the name, since for some folks it's intentional (they want to have a a second account to test PMing with themself on mobile, or whatever).

[2017-03-22 21:33] HarshitOnGitHub commented on #3460
@timabbott Reproducible on my sprite sheets branch as well. I think the culprit here is the regex used in bugdown for matching a unicode pattern:
[code]

[2017-03-22 21:35] baoqchau commented on #4211
@zulipbot claim

[2017-03-22 21:39] timabbott commented on #3460
Ahh, cool, so I guess this is something to fix independently.

[2017-03-22 22:12] eeshangarg opened #4246 "Search results should return a few messages before/after the message containing the keyword"
Right now, when a user searches for a keyword, only the messages that contain the keyword(s) are returned. However, this quickly gets confusing, especially when someone posts multiple messages in quick succession and they are all lumped together (visually). In that case, only the message containing the keyword will be returned, not the surrounding messages by the same user, which can make search r

[2017-03-22 22:28] timabbott commented on #3460
https://zulip.readthedocs.io/en/latest/markdown.html is useful documentation for this.  In theory that regular expression should have all unicode emoji characters, but it seems clear there's a mistake in it.

[2017-03-22 22:34] timabbott commented on #4246
I agree there's a problem here; a simpler instance is the "@-mentions" narrow.  What I'm not sure about is whether the right approach is to show adjacent messages by default (which would clutter the results if there are a lot of results!), or we should just make it feel really efficient to view adjacent results for a given match.

[2017-03-22 22:38] eeshangarg commented on #4246
@timabbott: Could we have an option of some kind that allows users to toggle the "adjacent messages" on and off? Also, I wonder if it needs to be more visible or pervasive than something like the "@-mentions" narrow.

[2017-03-22 22:59] timabbott opened #4249 "Prioritize recent message senders / PM recipients in typeahead"
Thanks to @tommyip's work in #2806, we now prioritize PM recipient and @-mention typeahead by users who are subscribers to a stream.

A second level of prioritization that should probably be above that one is prioritizing recent message senders and users you've been in a PM thread with (first in the current narrow and then in the organization overally); this would massively decrease the impact of

[2017-03-22 22:59] timabbott commented on #4244
Another thing we should fork off this issue is improved typeahead; opened https://github.com/zulip/zulip/issues/4249 for the most natural thing to do here.

[2017-03-22 23:01] timabbott commented on #2008
Now that #2806 is done, I think this issue feels not super actionable and thus not likely to be resolved.  So I wrote up the main remaining specific improvement we have in mind in https://github.com/zulip/zulip/issues/4249 and am closing this.  Thanks for the thoughts everyone, and I encourage you to comment there!

[2017-03-22 23:01] #2008 closed

[2017-03-22 23:02] timabbott commented on #4244
A nice idea would be to actually show the user any other users with the same or similar names in the 2nd step of the registration flow (after we've confirmed their email and that they're allowed to join, where we're prompting them for name and ToS acceptance) to help them avoid collisions and also discover this sort of situation.  What do you think about that @brainwane?

[2017-03-22 23:11] timabbott commented on #1707
We fixed the redraw issue a while ago; but I guess the "more" issue is still open.

[2017-03-22 23:12] timabbott commented on #1707
@showell I guess this is the open issue for using the new "topic fetching" system you've added on the backend (only so far); we should remember to close this when you do the frontend for it.

[2017-03-22 23:24] timabbott opened #4251 "Clicking the bottom half of an avatar doesn't open the user profile panel"
Currently, if you click the top half of the avatar or the user's name, you get the (new and fancy!) user profile popover; otherwise you get start composing a reply.  We should fix it so that the profile popover shows up if you click anywhere on the avatar.

I did a bit of work on trying to figure this out, and I think the problem is that clicking on the bottom half of the avatar actually is handle

[2017-03-22 23:32] timabbott commented on #4251
This seems to work, though I'm a bit worried about side effects.  Is there a better solution?

[code]

[2017-03-23 00:48] rishig opened #4252 "markdown: Backend isn't rendering second level markdown."
The local echo seems to get this right, but the backend is not:
[code]
This should result in the lines with items `a` and `b` being indented relative to the top line, which they currently are not.

http://zulip.readthedocs.io/en/latest/markdown.html has some information about Zulip's markdown processor.

[2017-03-23 01:08] brainwane opened #4253 "put "Vagrant cannot forward the specified ports on this VM" in troubleshooting guide?"
I got this error message upon `vagrant up`:

[code]

The error message gives you a suggestion to go ahead and change the Vagrantfile so that the port number is no longer 9991, and when I searched for this error message on chat.zulip.org I saw a number of people with this problem, and very rarely did someone say "go ahead and change the Vagrantfile's port number" -- most of the time I saw people re

[2017-03-23 01:10] timabbott commented on #4253
I think this error message comes from Vagrant itself, and I'm not sure that the automatically suggested solution is correct.  @brainwane can you use `netstat -nlp` or similar to figure out what was using port 9991?  I have a feeling it might be that `vagrant` is already running and using that port bug is buggy and doesn't know that, in which case this might be the manifestation of a Vagrant bug or

[2017-03-23 01:14] brainwane commented on #4253
`netstat -tulpn` tells me:
[code]

Also:
[code]

[2017-03-23 01:19] timabbott commented on #1977
@umairwaheed to what extent is this easy to do on top of what you've done for parallelizing tests?

[2017-03-23 01:21] rishig opened #4254 "compose: Change compose box to use a handlebars template."
Currently, the message edit box and the compose box have completely different styling. We'd like to make the message edit box look more like the compose box. The first step for this is to render the compose box via a handlebars template, so that we can then reuse that template for the message editing box.

Much of the relevant compose box code is in `static/js/compose.js`.

[2017-03-23 01:21] timabbott commented on #1713
@sandish2222 can you provide more detail on why those lines were important for you?  I want to make sure that the config changes are correct and actually fix a bug before merging them.

[2017-03-23 01:21] timabbott commented on #1249
Adding the bite size tag since this is fairly accessible.

[2017-03-23 01:23] timabbott commented on #498
I think this was fixed last last year as part of the Windows guest work we did.

[2017-03-23 01:23] #498 closed

[2017-03-23 01:24] timabbott commented on #2886
@Jeffthebest1 any progress on this?

[2017-03-23 01:25] timabbott commented on #129
@lfaraone just following up on this question.

[2017-03-23 01:26] timabbott commented on #245
@refeed have you had a chance to work on upgrading jquery-filedrop?

[2017-03-23 01:27] timabbott commented on #280
Retagging this as an enhancement because I think it's actually a fairly involved infrastructure feature.

[2017-03-23 01:28] timabbott commented on #435
Retagged this as an enhancement

[2017-03-23 01:30] timabbott commented on #353
@brockwhittaker it sounds like we should probably upgrade our copy of the SourceSansPro font (and maybe stop calling it "Humbug") to fix this?

[2017-03-23 01:34] timabbott commented on #863
I think we've fixed several issues involved here; it might be the case that only thing thing that needs to happen to make this work is to stop replacing /root/zulip with a symlink, since AFAIK that's the only step that makes rerunning installation not work.

This is probably a pretty accessible task for someone who can a good VM setup for installing Zulip in production repeatedly.

[2017-03-23 01:35] timabbott commented on #1016
@Jianchun1 any luck debugging?

[2017-03-23 01:36] timabbott commented on #1212
I like the solution of changing key prefixes here.

[2017-03-23 01:37] timabbott commented on #750
@brockwhittaker I wonder whether this is related to the Mac crashes we've been having.  Want to try upgrading the version of the "guest additions" in your dev environment and see if it helps?

[2017-03-23 01:40] timabbott commented on #2091
I'm happier with the navigation approach from a fragility/complexity perspective; are you OK with that plan @showell?  If so I think this wouldn't be too hard to close out...

[2017-03-23 01:40] baoqchau commented on #4254
@zulipbot claim

[2017-03-23 01:41] timabbott commented on #1991
Let's plan on just copying the strategy we have for (more topics) here; it seems like that should just work.

[2017-03-23 01:43] timabbott commented on #1988
This works now, so closing; I'm not sure when we fixed it but it was probably months ago :)

[2017-03-23 01:43] #1988 closed

[2017-03-23 01:43] timabbott commented on #1956
Since this is about fixing the compose emoji picker that we're planning to get rid of and replace with a version of the reactions one, does it make sense to close this issue @tejaskasetty?

[2017-03-23 01:46] timabbott commented on #1566
@rishig I think this may be what you're seeing as well -- can you try the profile I suggested to see where the time goes?  We may be able to optimize this somewhat

[2017-03-23 01:46] timabbott commented on #1341
Given that this test has been disabled in CI for months, I think re-enabling it is now an enhancement issue :)

[2017-03-23 01:48] timabbott commented on #2247
@nicholasbs can you still reproduce this?

[2017-03-23 01:49] timabbott commented on #2289
This button was removed and replaced with a cleaner deep link to the stream, so this bug is resolved.

[2017-03-23 01:49] #2289 closed

[2017-03-23 01:50] timabbott commented on #2360
Update: Thanks to a bunch of refactoring to support email address changes, the `pm-with` narrow tokens now contain an opaque list of user IDs; so I think we could now just add yourself to the list of user IDs to make these shareable.  @showell does that approach makes sense to you?

[2017-03-23 01:55] timabbott commented on #2445
This feels like a bite-size issue for someone who knows CSS well.

[2017-03-23 01:56] timabbott commented on #2557
I think we fixed this a couple months ago.  Thanks for the bug report @zbreit18!

[2017-03-23 01:56] #2557 closed

[2017-03-23 01:57] timabbott commented on #2606
I think "ask to resubscribe" is probably the right answer here.

[2017-03-23 01:59] rishig commented on #1566
yup, this is exactly what I'm seeing, will do

[2017-03-23 02:01] timabbott commented on #2755
I think a reasonable approach is to either remove the expiry for these or mention it in both the email and the bounce notification so users know what's up.

[2017-03-23 02:02] timabbott commented on #2869
Given our plan to replace the current compose emoji picker with a copy of the reactions popover (which will solve this automatically), I think it makes sense to just close this.  Thanks for the bug report @tommyip and work @anirudhjain75!

[2017-03-23 02:02] #2869 closed

[2017-03-23 02:03] timabbott commented on #2901
We now hide the collapsing UI, so we can close this (was kinda a duplicate of #3871).

[2017-03-23 02:03] #2901 closed

[2017-03-23 02:08] timabbott commented on #3295
I can reproduce with an ultra-short window.  I'm not sure it's important since it's pretty usable right now, but it might make sense if the popover can't fit with the arrow pointer at the smiley to just pop it anywhere.  We have some code for doing "pop anywhere" from the new user profile popover (click on a sender name to see it) that we can probably reuse.

@babhishek21 do you want to attempt th

[2017-03-23 02:15] umairwaheed commented on #1977
Parallel tests already use different databases. To be precise, every process has an independent DB with a different name, so I think this should not be very difficult.

[2017-03-23 02:17] timabbott commented on #3869
Let's stick with our current library for now, since we have some relevant custom logic.

[2017-03-23 02:19] timabbott commented on #3958
Retagging this as a feature.  BTW @catthu have you made much progress on this?  It's possible you should work on some other typeahead-related issues first (e.g. in the compose area) to get more familiarity with the ways this can work.  I think the compose typeahead is significantly better setup than the search one and may provide some insight.

[2017-03-23 02:20] timabbott commented on #4145
@babhishek21 can you take a look at this?  It's probably a bug in your recent changes to the positioning of this popover...

[2017-03-23 02:24] timabbott commented on #4254
@baoqchau while working on this, be careful to make a clean series of commits that changes as little as possible (while still preserving correctness) in each commit, to make it easy to review, since this is a fairly high-risk change.

[2017-03-23 02:34] rishig opened #4256 "stream list: Once a stream is marked as inactive, it never re-activates."
A stream is considered inactive (namely, has the CSS class `inactive_stream`), if it has no messages among the messages currently loaded in the browser. See `exports.is_active` in `static/js/stream_data.js`.

We label streams as inactive (or not) when initially loading the webapp (see `build_stream_sidebar_row` in `stream_list.js`). However, we don't update this designation if an inactive stream g

[2017-03-23 02:34] timabbott commented on #4256
Yeah, that solution should work.

[2017-03-23 02:51] rishig opened #4257 "tooling: Improve handling of duplicate migration numbers after rebase."
Currently, if you have a branch with a new migration, and you rebase onto master past someone else's migration, you have to manually renumber your migration.

It would be great to improve this in a couple of ways.
1. Write a script that automatically renumbers the migrations.
2. Update http://zulip.readthedocs.io/en/latest/schema-migrations.html (the section "Numbering conflicts across branches").

[2017-03-23 03:01] rishig opened #4259 "hotkeys: Left arrow in compose should not open last sent message if uneditable."
Currently the left arrow opens the last message for editing, even if it is in topic editing only mode, and many messages in the past. I think in these cases hitting left arrow was probably an accident, and should just do nothing. In particular, I think the left arrow should only open the message if `get_editability(message)` is `editability_types.FULL` (these are at the top of `message_edit.js`).

[2017-03-23 03:08] rishig opened #4260 "font: Ligatures like ff have strange behavior"
Copying conversation from https://chat.zulip.org/#narrow/stream/issues/topic/ligatures

--
If you type something with two f's and then left arrow back over it, you get somewhat strange behavior, since the ff is turned into a ligature.
I managed to get stranger behavior as well by using backspace instead of left arrow, though I don't have a repro at the moment. If we turn off ligatures, would that

[2017-03-23 03:10] jajodiaraghav opened #4261 "Create a new content_editable,js file for reusable content-editable"
The JS for content-editable resides in static/js/click_handlers.js

We would like to do the following:

- Extract it to a new content_editable.js module.
- Refactor the code to prevent redundancy.
- Convert the "Your name" and "organization name" settings to use this widget.

[2017-03-23 03:20] timabbott commented on #4259
I agree with that analysis as to what should happen.

[2017-03-23 03:22] timabbott commented on #3345
I just fixed this; thanks again @derAnfaenger for the bug report!

[2017-03-23 03:22] #3345 closed

[2017-03-23 03:25] timabbott commented on #3387
This was fixed via 9821b3ebef5a422ea99313dc604649192e3f5eeb.  This can happen for old messages in a user's history.

[2017-03-23 03:25] #3387 closed

[2017-03-23 03:33] rishig opened #4262 "lightbox: Don't show emoji and open graph images in list of past images."
Currently, when you click on an image in a stream, it has a cool list of images at the bottom that you can scroll through. These should only show user uploaded files though, not open graph or emoji images.

To reproduce, go to a test stream, and send a bunch of messages with twitter/open graph links, emoji, and real uploaded files.

[2017-03-23 03:38] timabbott commented on #4262
I think @brockwhittaker was just in this code; may be pretty quick for him to fix.

[2017-03-23 03:45] synicalsyntax commented on #4227
@zulipbot claim

[2017-03-23 03:48] rishig commented on #1243
Is this basically resolved by the waitForSelector -> waitUntilVisible insight?

[2017-03-23 03:55] timabbott commented on #1243
I think we want higher-level navigation functions for code duplication reasons, but this issue is perhaps not that useful since it has a bunch of clutter at the top.  So maybe worth closing and opening a new clearer issue; I'll do that.

[2017-03-23 03:55] #1243 closed

[2017-03-23 04:04] timabbott opened #4263 "casper: Create high-level navigation functions for the casper tests"
We have a lot of somewhat messy sections of code in our casper tests like this:

[code]

The problem is that this isn't exactly correct in a few ways;
* `casper.click('a[href^="#administration"]');` should be something like `casper.click('.dropdown_menu a[href="#administration"]');` (note the removal of the carrot and expansion of the selector to ensure it doesn't click multiple links if they exis

[2017-03-23 04:19] timabbott commented on #3687
So clicking "yes" on the bankruptcy modal basically calls this:

[code]

Two things stand out: `save_narrow` is set to false and we change the tab there.  Looking at the history, it appears that `save_narrow` is an oversight; basically a piece we missed in the follow-ups to the extraction of separate settings in 24b63f30ba75fe103d33d2fcc646994da3578e38 and its follow-ups:
12bff0441c9de1014d9be4149

[2017-03-23 04:19] timabbott commented on #3687
(testing this now)

[2017-03-23 04:19] rishig commented on #2769
Closing, since I think long messages (resolved in #3271) were the bulk of the problem.

[2017-03-23 04:19] #2769 closed

[2017-03-23 04:30] timabbott commented on #4245
I can't seem to reproduce this readily, which is interesting.

[2017-03-23 05:07] boxin-yang commented on #4259
@zulipbot claim

[2017-03-23 05:29] babhishek21 commented on #4145
@timabbott Umm.. I don't think there is specific coverage from my changes in #3741 onto this bug. My changes handled vertical positioning (whether the popover is positioned at the `top` or the `bottom` of the message element). Nothing to do with horizontal positioning (mostly because the bootstrap popovers library handles the exact positioning; we just provide it relative terms like `top`, `bottom

[2017-03-23 05:33] babhishek21 commented on #3295
Looks similar to #3741 . I could take a look at this. I'm waiting to hear back on #4145 .
@timabbott The sender profile "pop anywhere" is awesome! Why aren't we using this for *all* popovers?

[2017-03-23 05:59] rishig commented on #195
This would be great for someone to take up. Ping us on chat.zulip.org before starting, to nail down the exact behavior desired.

[2017-03-23 06:12] timabbott commented on #3295
@hackerkid just added it in the last couple days.  I'd be perfectly happy to change our other popovers to use some of that logic.

[2017-03-23 06:13] timabbott commented on #3687
OK I have a branch fixing this; just waiting for tests to run.  Thanks to both @jajodiaraghav and @zormit for helping track this down!

[2017-03-23 06:13] timabbott commented on #3411
I figured this out today; turns out to be a complex consequence of our upgrading Django a few months ago.  Sigh.  Anyway, should be closed shortly.

[2017-03-23 06:22] lonerz commented on #4245
To reproduce, make a long inline code block in a bullet point format. Like the following:

- `testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttestte

[2017-03-23 06:53] #3411 closed

[2017-03-23 06:53] #3687 closed

[2017-03-23 07:43] Jianchun1 commented on #1016
Tim, sorry about it. I have little time to reproduce and debug it recently.
I hope I could find time to deal with it in coming months, and continue to
contribute to the Chinese translation. Now you can just close it as a
non-reproduce issue.

Thanks

On Mar 23, 2017 09:35, "Tim Abbott" <notifications@github.com> wrote:

[2017-03-23 08:27] umairwaheed commented on #3651
@zulipbot claim

[2017-03-23 12:10] digi0ps commented on #4232
@zulipbot claim

[2017-03-23 13:56] showell commented on #2360
Yep, without knowing the details too much, that approach makes sense to me.

We have a lot of code that deals with adding/removing yourself from the list of PM recipients--it would be nice to come up with a consistent philosophy on how to represent  PMs, but that's beyond the scope of this ticket.

[2017-03-23 14:05] showell commented on #2091
I'm ok with the navigation approach.

[2017-03-23 14:12] showell opened #4270 "Make "more topics" use the backend to get more topics than now."
We need to get more more topics. :)  The double-more is intentional there.

When you click on "more topics" in the left sidebar, it gives you more than 5 topics, but it still only reports on the topics that the frontend knows about.

Back in November I created a backend endpoint that reports all the historical topics in a stream.  I have not yet done the frontend work here, so I'm creating this is

[2017-03-23 14:14] showell commented on #1707
I opened #4270 to track the "topic fetching" system, so I'm going to close this issue.

[2017-03-23 14:14] #1707 closed

[2017-03-23 15:33] showell commented on #4261
This seems like a good idea to me.  We may want to discuss the name on chat.

[2017-03-23 17:22] rishig commented on #3968
Hi @wizsid11, just checking in. How are things going?

[2017-03-23 18:39] #4195 closed

[2017-03-23 18:48] kracekumar opened #4271 "Star a Thread"
Zulip allows to star a message but doesn't allow star-ing an entire thread.
The feature is useful while viewing complete conversion.

The current way to achieve this is to star a message in the thread and then click on the thread heading to read whole conversation.

[2017-03-23 18:57] wizsid11 commented on #3968
Hi @rishig,
Tomasz helped be break this into 3 steps.
Step 1 : Change limit of commits shown to 20 for push notifications.
Step 2 : Change push commits message to show url at the end.
Step 3 : Show names of all the committers along with their number of commits.

Step 1 and Step 2 have been completed and merged.
You can check that here https://github.com/zulip/zulip/pull/4006

For implementing Step

[2017-03-23 19:10] timabbott commented on #3968
I think what you do for bitbucket is just have it reprocess the payload to copy `payload['commits']['author']['raw'] ` to `payload['commits']['author']['username']` before calling the `git.py` function.

[2017-03-23 19:12] timabbott commented on #4271
@kracekumar can you explain how one would use this feature a bit more?  Is the idea to make it easy to track a handful of ongoing conversations you want to be sure to come back to?

[2017-03-23 19:26] kracekumar commented on #4271
@timabbott Let's say someone creates a thread `How to write a conference proposal`. A lot of folks chip in and pour valuable pointers.

Over a period, the user forgets the title, and when the needs arise, the user has to search to spot the thread. The available option is search.

The search yield a lot of messages and cumbersome to navigate.

Another workaround is the user can star a message and t

[2017-03-23 20:47] jainayush975 commented on #971
@timabbott I created pr so please review it.

[2017-03-23 21:18] catthu commented on #3958
@timabbott I've been studying the codebase to figure out how things work. I'll take a look at the typeahead-related issues, thanks!

[2017-03-23 21:44] brockwhittaker commented on #4251
I think the solution is to change from:

[code]

[2017-03-23 21:45] timabbott commented on #4251
Ahh, yeah, that seems nicer.

[2017-03-23 21:47] brockwhittaker commented on #3707
If we had \<br> tags that were the margin-bottom + margin-top height of a paragraph tag it should be fine to add them in.

[2017-03-23 22:18] timabbott commented on #4271
OK, cool.  Yeah, I can imagine a "star topic" option being useful.

[2017-03-23 22:20] #4245 closed

[2017-03-23 22:23] #4251 closed

[2017-03-23 22:23] timabbott commented on #4251
Merged the fix after some testing and failing to find any side effects, thanks @brockwhittaker for the better solution.

[2017-03-23 22:26] timabbott commented on #2373
Cool!  Just submit a PR with the change once you've confirmed.  Yay, it'll be nice to close this out.

[2017-03-23 22:43] wangjames commented on #4270
@zulipbot claim

[2017-03-23 23:18] nicholasbs commented on #2247
I now get a different error when I click the pencil button to change (anyone's) name on the administration page:

![image](https://cloud.githubusercontent.com/assets/50336/24274259/7a98295a-0ffd-11e7-88a0-55e0ea85eca7.png)

[2017-03-24 00:06] timabbott commented on #2247
Oh, right, that's an unrelated bug.  I just deployed the fix; can you reload and try now?

[2017-03-24 00:09] #3626 closed

[2017-03-24 01:05] timabbott commented on #3854
Just a quick update: thanks to @sarahcstringer we've completed the first part of this :)

[2017-03-24 01:19] timabbott commented on #4145
@hackerkid can you collaborate with @babhishek21 on this?

I don't feel we need to stick with bootstrap's logic; what's important is that our popovers look good, not that we use bootstrap or unmodified bootstrap for them :)

[2017-03-24 01:21] timabbott commented on #4145
(I think we should definitely fix this, and you clearly have the expertise, so I'd be excited to see you work on this @babhishek21!)

[2017-03-24 01:44] lonerz commented on #1180
@zulipbot still working

[2017-03-24 02:07] nicholasbs commented on #2247
Success! I was able to both change my own name and someone else's. Thanks!

[2017-03-24 02:07] #2247 closed

[2017-03-24 02:12] blaze225 commented on #3865
@rishig Is it possible for `data.end_times` to have time in seconds?
Because `(data.end_times[len-1] - data.end_times[0])/(24*60*60)` gives me 2.7 (first chart) and 2 (for the rest) when i populate the db with `DAYS_OF_DATA = 3`

[2017-03-24 02:28] rishig commented on #3865
yup!

[2017-03-24 02:46] lonerz commented on #3989
@PhoeniXkrypT I don't know what happened here, but I reassigned you.

[2017-03-24 02:51] umairwaheed commented on #3651
Working on this.

[2017-03-24 03:10] lonerz commented on #4197
Currently working on this. Some issues is that the grid below is like an array, which means that I need to process indices of that array. Should this be the direction I proceed in?

[2017-03-24 03:59] timabbott commented on #4197
Yeah, definitely we should treat it as an array.

[2017-03-24 04:54] PhilSk commented on #3992
@zulipbot I'm working on it

[2017-03-24 05:41] lonerz commented on #4011
@synicalsyntax why didn't zulipbot just remove the assignee here? We need to do some serious debugging with the inactivity feature.

[2017-03-24 05:46] timabbott commented on #3633
Today I add tests for (and where necessary, fixed) all of these except for two issues:
* email change
* sending presence

(to be merged shortly).

I'm going to open follow-up issues for both of those specific issues, and am closing this meta-issue.

[2017-03-24 05:46] #3633 closed

[2017-03-24 05:49] timabbott opened #4282 "Fix real-time sync race for presence events with new "aggregated" field"
There's a new test in `test_events.py`, `test_presence_events`, which I added today, but is basically disabled, because our code in `zerver/lib/events.py` for handling the "presence" event type doesn't update the `aggregated` section of the state.  I think fixing this involves writing some short but somewhat thorny code in `zerver/lib/events.py` to merge the data for the user whose presence state

[2017-03-24 05:51] timabbott commented on #1370
Just following up on this, I think the main thing that would still be valuable here, now that we've expanded EventsRegisterTest significantly (and it doesn't feel THAT expensive).

So I think the main things that I'd like to do here are:
* build a `self.assert_length` check on the number of events issued into the `do_test` wrapper; maybe the right idea is for it to default to 1 but you can pass a

[2017-03-24 05:54] timabbott opened #4283 "Fix race conditions with email changes in backend events system"
Following #3633, one of the 2 remaining things that is still broken in terms of potential races in our real-time sync system on the backend is the handling of email changes.

The root problem is that we still have a few data structures, like presence, that are keyed off of user email addresses, which is not properly handled by the code in zerver/lib/events.py.

#4162 has some work on this.

[2017-03-24 06:22] TomaszKolek commented on #3949
@synicalsyntax -  I actually referenced one commit to the issue - are we somehow able to catch such event as well?

[2017-03-24 06:24] TomaszKolek commented on #3949
#4204

[2017-03-24 06:26] timabbott commented on #3949
Definitely a zulipbot bug.

[2017-03-24 06:29] #3949 closed

[2017-03-24 06:43] timabbott opened #4284 "Add support for using the same email address in multiple Zulip organizations"
Zulip now supports putting different realms on different subdomains via the settings.REALMS_HAVE_SUBDOMAINS setting.

It would be awesome to now make it possible to actually reuse the same email address with multiple accounts.

This will likely be a huge refactoring.  Fortunately, we already encapsulate basically every email-related lookup using `get_user_profile_by_email`, so we just need to repl

[2017-03-24 06:44] timabbott commented on #1845
We're planning on deleting this model, so I'm closing this.

[2017-03-24 06:44] #1845 closed

[2017-03-24 06:46] timabbott commented on #732
I think it makes sense to close this meta-issue at this point, since most of the files I had in mind when I opened this are at 100%, and the rest have their own open issues or naturally will grow such issues.

[2017-03-24 06:46] #732 closed

[2017-03-24 06:47] timabbott commented on #3736
This is a great bite-size project for someone looking to work on the Zulip API.

[2017-03-24 06:53] timabbott commented on #1342
This is probably a part of #1000; we should remember to close it when we do that.

[2017-03-24 06:59] #3685 closed

[2017-03-24 06:59] timabbott commented on #1444
We deleted most of zilencer, including its tests, so this is unnecessary now.

[2017-03-24 06:59] #1444 closed

[2017-03-24 07:00] timabbott commented on #1117
This was finished like 6 months ago.

[2017-03-24 07:00] #1117 closed

[2017-03-24 07:05] timabbott commented on #2956
@umairwaheed I think you're probably the only person likely to fix this one :)

[2017-03-24 07:08] timabbott commented on #2748
@umairwaheed I think you're probably best-equipped to do this one -- basically we just want to provide a customized error message in the event that all auth backends enabled for the realm require an `@` in the username.

Or to determine that this isn't super feasible and we should close this -- it's not clear to me that there's an easy way to do this with the Django auth system.

[2017-03-24 07:17] TomaszKolek commented on #4115
@zulipbot claim
On it.

[2017-03-24 07:31] adnrs96 commented on #1661
@zulipbot Yes i have this in mind.
Its currently not merge conflict safe to push in more cleanup tasks.

[2017-03-24 07:50] Jeffthebest1 commented on #2886
@timabbott No, sorry. I've had lots on in real life.

[2017-03-24 12:36] showell commented on #1370
Sounds good.

[2017-03-24 14:02] showell commented on #4261
If somebody simply does the refactoring suggested above, that would be a great improvement right away and will clear this issue.

Longer term, we may want to think about creating more of a "component" approach here for these types of widgets.  Basically, these components tend to be used in forms, where the textbox should be editable until you submit the form.  If you want to try this out, I'd stil

[2017-03-24 16:49] rishig opened #4287 "message edit: Edit and save removes the edit pencil."
If you edit a message and click save, the on-hover pencil edit icon next to the timestamp doesn't show up until your mouse leaves the message box. The other two icons do.

This should hopefully be a fairly quick fix if someone wants to take it up!

[2017-03-24 16:49] showell opened #4288 "traceback: left arrow hotkey"
at Object.l.fatal (https://recurse.zulipchat.com/static/min/common.4584f908a1d2.js:254:105)
       = static/js/blueslip.js line 400 column 27

    at MessageList.select_id (https://recurse.zulipchat.com/static/min/app.737d5314c023.js:1244:437)
       = static/js/message_list.js line 162 column 13

    at Object.e.edit_last_sent_message (https://recurse.zulipchat.com/static/min/app.737d5314c023.js:

[2017-03-24 16:52] showell opened #4289 "traceback: accessing deactivated users for reactions"
Message:
Cannot read property 'full_name' of undefined

Stacktrace:
TypeError: Cannot read property 'full_name' of undefined
    at d (https://veelo.zulipchat.com/static/min/app.737d5314c023.js:1817:34)
       = static/js/reactions.js line 111 column 12

    at Array.map (native)

    at a (https://veelo.zulipchat.com/static/min/app.737d5314c023.js:1817:187)
       = static/js/reactions.js line 12

[2017-03-24 16:55] showell opened #4290 "traceback: reaction already exists"
Tim's suggestion over email is to silence this error, and we may want to investigate local reaction echo.

Message:
Error sending reaction: Reaction already exists

Stacktrace:
Error
    at Object.l.error (https://recurse.zulipchat.com/static/min/common.4584f908a1d2.js:253:487)
       = static/js/blueslip.js line 390 column 21

    at error (https://recurse.zulipchat.com/static/min/app.737d5314c02

[2017-03-24 16:57] showell opened #4291 "Add local-echo functionality for reactions."
The goal here is to make it so that when I click a reaction, it immediately shows up, without having to wait for the server.  If the reaction gets rejected server-side, or times out, we'll want to deal with it accordingly.  A lost reaction is generally not the end of the world, so our emphasis here should be on a good experience for the normal case.

[2017-03-24 16:59] showell commented on #4263
For some types of navigation, where we really want to exercise the navigation and not cheat by changing the hash, we could probably have helper functions as well.  JS is pretty good at enabling high-level functions that could make these tests a lot easier to write.

[2017-03-24 17:06] lonerz commented on #4290
This happens if you spam the `+` hotkey.

[2017-03-24 17:09] showell commented on #4271
See also #3157, which suggest we allow pinning topics.  I personally find the pinning concept slightly more appropriate for the overall use case of wanting to track topics.  Regardless of the approach, we should probably combine these tickets into something like "Make it easier to remember topics," and then refer back to the two original tickets for suggested solutions.

[2017-03-24 17:14] showell opened #4292 "Fix comparisons for provision version checks."
When we check for provision updates, we currently use a naive alpha comparison between version numbers, which makes 4.7 look newer than 4.12.  We should use a library function to do this--we have one for API version checks, I believe.

[2017-03-24 17:17] hollywoodno commented on #4252
I will make an attempt at this. Did you write a backend test to discover this?
@zulipbot claim

[2017-03-24 17:23] rishig commented on #4252
Awesome, thanks @hollywoodno! I haven't written a backend test, but if you run the example I gave through our frontend bugdown processing, you should see the desired result.

[2017-03-24 17:32] hollywoodno commented on #4252
Ok. I will start with those two things. Thanks.

[2017-03-24 19:01] rishig opened #4293 "integrations: Add a footer with a disclaimer."
All of the integrations pages should have a common footer with the disclaimer: "Logos are trademarks of their respective owners. None of the integrations on this page are created by, affiliated with, or supported by the companies represented by the logos."

[2017-03-24 21:11] showell opened #4294 "drafts: Serialize drafts differently (and avoid tracebacks)."
When we serialize drafts, the current code attempts to build a message object to serialize the current compose state, using `create_message_object`, but that serialization will choke on drafts where somebody has only entered a partial recipient or is trying to send to an invalid stream.  This is a use case we need to handle, since often the reason somebody creates a draft is that they realize they

[2017-03-24 21:24] showell opened #4295 "js: Create mechanism to track duplicate in-flight requests."
In Zulip we often have this flow:

- web user clicks on an action (such as picking a reaction emoji)
- server process request
- server sends an event
- event handling code does the UI response

In these scenarios, especially for users with slow connections, we can get races where the user tries to re-do the request before the in-flight request gets fully processed.  This causes us to spam the serv

[2017-03-24 21:26] showell commented on #4295
This is a mildly advanced project.  The amount of code to make this happen will be relatively small, but we'll want somebody who can design a good API for this, and we'll want extensive unit testing.

[2017-03-24 21:31] adnrs96 commented on #1236
@zulipbot i am still working on it.

[2017-03-24 21:41] PhoeniXkrypT commented on #3989
@lonerz Thanks!

[2017-03-24 22:29] showell commented on #4290
#4291 covers solving this with true local echo, which I think is the best long-term solution for this.

#4295 suggests a solution to the double-clicking issue that is a little less than ideal ideal for the reactions scenario, but it's something we can generalize easily for the whole class of double-clicking quirks.  I also think it's a good enough solution that we may not need to implement local e

[2017-03-24 23:10] showell commented on #4295
If we implement this for reactions as our first experiment, then we should be able to upgrade blueslip warning to a blueslip error.  Look for `#4295` in the code, and you'll see a comment explaining that.

[2017-03-25 01:24] #4290 closed

[2017-03-25 02:30] eeshangarg commented on #4000
Hi everyone! I would love to work on implementing this for all of our Git integrations. I think its a good way to dive into some more of our integrations codebase. Should I file a separate issue for each one, or should this one be enough? :-) Thanks!

[2017-03-25 05:46] zerocod3r commented on #4113
@zulipbot abandon

[2017-03-25 07:07] gnawwaycon commented on #4287
@zulipbot claim

[2017-03-25 11:54] sampritipanda commented on #4294
It actually works fine now, since you don't really access any stream object/user when calling `create_message_object`.

I created 2 drafts, one with a non-existant stream and another with a non-existant user and these are the draft objects created.

![image](https://cloud.githubusercontent.com/assets/1736001/24321952/d8f150fc-117f-11e7-9311-1ccfa0989346.png)

[2017-03-25 13:01] andrewallen00 commented on #3980
@zulipbot I'm still working on it. I'm sorry that this is taking a while.

[2017-03-25 13:24] sampritipanda commented on #4294
Ignore my previous comment (now deleted).

So right now in `create_message_object`, we call `people.email_list_to_user_ids_string` for private messages and `stream_data.get_sub` for stream messages.

We should probably write a new method that just returns a object with the data in it as you suggested.

[2017-03-25 13:28] sampritipanda commented on #4294
@zulipbot claim

[2017-03-25 13:45] blaze225 commented on #3865
PR #4299
Haven't handled the case when there is no user data.
Not clear on what to do after the control reaches the following:
`if end is None or start > end:`
as you told me not to change `raise JsonableError(_("No analytics data available. Please contact your server administrator."))`

[2017-03-25 13:55] tejaskasetty opened #4300 "Emoji Picker is unnecessarily rendering the emojis everytime."
This is related to the issue #3952. The reason for duplicate entries of emoji's that were being created was because opening the emoji picker would render all the emoji's each time. This in turn is unnecessary  transfer of data  between the client and server. And one of areas which if corrected makes the emoji rendering faster.
The initial fix was to clear the  ```emoji_popover``` content before ap

[2017-03-25 13:59] tejaskasetty commented on #4300
The right fix would be to make it render the emoji content only once at the beginning when the emoji picker is first opened. Later ones will only toggle the emoji picker.

[2017-03-25 14:03] tejaskasetty commented on #4300
@zulipbot claim

[2017-03-25 14:16] synicalsyntax commented on #3219
@zulipbot claim

[2017-03-25 18:15] lonerz commented on #3980
@andrewallen00 I'm going to add the inactive tag to your issue.

[2017-03-25 18:23] rishig opened #4302 "font awesome: Icons from 4.7.0 not appearing."
We updated our font awesome version to 4.7.0 in ee0b16b, but `git grep` for the icons at the top of http://fontawesome.io/icons/ (i.e. the ones in 4.7.0) doesn't seem to find anything. Not sure if this is a provisioning issue, or something else. The old icon definitions seem to be in `static/third/thirdparty-fonts.css`.

Followups:
- [x] Replace `<i>@</i>` in `static/templates/user_info_popover_co

[2017-03-25 18:33] timabbott commented on #4302
I suspect we just need to add something like this:
[code]
at the bottom of static/third/thirdparty-fonts.css (we're not using their modern API).

[2017-03-25 18:34] timabbott commented on #4302
and/or start switching to using their modern API.

[2017-03-25 19:03] adnrs96 commented on #4302
I just took a look at the latest font awesome css file from there website and its looks like a whole lot difference in them to me. I am not a css expert but it feels like we might require a whole lot of refactoring to move to font awesome 4.7.0 since the css file looks quite different from what we currently have.
eg.
From 4.7.0
[code]
What tim already mentioned above from our version of file.
[cod

[2017-03-25 19:09] rishig commented on #4302
We shouldn't be; I suspect it's just that we haven't been upgrading correctly in the past.
Guide to upgrading from 3 to 4:
https://github.com/FortAwesome/Font-Awesome/wiki/Upgrading-from-3.2.1-to-4

Even if we don't do a migration, I think it is worth making it so that we can at least use the icons in Font Awesome 4; there have been several times when I've felt the best icon for something has been

[2017-03-25 19:12] nikhilhassija commented on #4271
@zulipbot claim

[2017-03-25 19:29] adnrs96 commented on #4302
I have a crazy idea by the way(might not be that crazy).
Since we already have updated most stuff in the commit you mentioned above why don't just miss out the migration of uses of font-awesome 3.0.2 classes on the front end and just edit the thirdparty-fonts.css file to append it with stuff from new font-awesome file. I guess Tim has mentioned this in a way already.
I have tried it and it works f

[2017-03-25 19:32] adnrs96 commented on #4302
I believe this shouldn't create any issues seeing the pattern the file uses (`content: "\f049";`). Some kind of code to match icons from another file which seems to retain older icon mapping to same code.

[2017-03-25 19:56] rishig commented on #4302
Nice! You may as well submit the `@` as a quick PR, to solve that problem :).

I could go either way. There are ~90 unique icons in the codebase, so not a small amount of work to migrate. Though possibly we should just upgrade to take advantage of features like fixed-width icons for menus, etc (`fa-fw`).

https://github.com/jdewit/grunt-html-upgrader has a possibly beta-quality upgrade script.

[2017-03-25 20:21] adnrs96 commented on #4302
Here is a quick [PR](https://github.com/zulip/zulip/pull/4306).

[2017-03-25 20:37] adnrs96 commented on #4302
I believe the script you mentioned might not be useful directly. Not at least without modifications since the script is written to upgrade font-awesome from 3.2.1 to 4.* standards rather than from 3.0.2 which i believe is the actual version of file we have been using.
Prime difference i believe being in the base class.
3.0.2 uses icon-vector-* and 3.2.1 uses icon-*.
Might be other changes be prese

[2017-03-25 20:42] timabbott commented on #4271
I'm not sure we have an implementation concept for this yet; @nikhilhassija what were you planning to do?

[2017-03-25 20:55] timabbott commented on #4300
Note that there's a potential problem with this approach, which is that if new realm emoji are added, it does need to be rerendered.

[2017-03-25 20:59] rishig commented on #4302
ah, got it.
And cool! From the PR it looks like the hack is essentially to use both Font Awesome 3.0.2 and 4.7.0? If so that seems like the best of both worlds :).
Possibly doing the migration could be a good pycon sprints project (and e.g. include in that changing menu icons to fixed width, maybe checking if there are improved 4.7.0 variants, etc)

[2017-03-25 21:03] adnrs96 commented on #4302
yeah the hack ensures Font-awesome 3.0.2 works as it is and enables us to use 4.7.0 as well.

[2017-03-25 21:15] timabbott commented on #4302
This might be a migration better done in the style of our HTML templates whitespace migration, where we try to avoid merge conflicting with anything while we refactor.

[2017-03-25 21:17] timabbott commented on #4000
I think you could just do them as a series of commits, one per integration, in the same PR.  Make sure each has tests, though!

[2017-03-25 21:20] nikhilhassija commented on #4271
I am planning to figure out how starred messages are managed at the backend, and then implement in a similar fashion the functionality for a starring subjects in a stream.

P.S. I'm new to the community, so I apologize if I missed any step before claiming the issue.

[2017-03-25 21:20] adnrs96 commented on #4302
I can pick it up to do that way. Probably even develop some kind of tooling to automate stuff. Better try modifying the script rishi already posted.

[2017-03-25 21:22] eeshangarg commented on #4000
Thanks, Tim! Yes, I am working on the tests right now for the current commit and I'll make sure I do the same for future related commits. :)

[2017-03-25 21:24] timabbott commented on #4271
No worries; I think we're not yet confident we've figured out what the right feature to solve this use case is; I'd encourage you to pick another issue to work :).  Issues in that status usually have the "feedback wanted" tag on them :)

[2017-03-25 21:51] nikhilhassija opened #4308 ":zulip: emoji is not rendered in emoji picker."
When using Zulip chat from web, :zulip: emoji is rendered correctly in messages but appears as a blank box in emoji picker.

Also, on Android App, :zulip: emoji doesn't render at all.

[2017-03-25 21:54] lonerz commented on #4308
Seems similar to #3025.

[2017-03-25 21:55] nikhilhassija commented on #4300
@timabbott a workaround for this could be to store a hash for current emoji set, and whenever emoji picker is toggled just check if the hash for emoji set of the realm has changed on server-side. In case it's changed, we can render the emojis again.

[2017-03-25 21:58] rishig commented on #4302
Awesome :).

[2017-03-25 22:00] HarshitOnGitHub commented on #4308
Seems to be a regression from #3588 and I think #3539 will fix it.

[2017-03-25 22:45] timabbott commented on #1016
OK; we can reopen this when you find the time :)

[2017-03-25 22:45] #1016 closed

[2017-03-25 22:48] timabbott commented on #195
Some quick notes on how this should work:

The backend can check whether the user in question has read the message yet in `do_update_message`.  If they haven't, it can just update the message and proceed happily.  If the user has already read the message, then we need to notify the user, maybe with a "you have a new mention" email / desktop notification (depending on the user's configuration).

[2017-03-25 23:48] rishig opened #4309 "streams list: Add vertical space or an <hr> to separate streams from inactive streams."
A stream is considered inactive (namely, has the CSS class `inactive_stream`), if it has no messages among the messages currently loaded in the browser. See `exports.is_active` in `static/js/stream_data.js`.

If you're subscribed to more than 40 streams, we push inactive streams to the bottom of the list, in `build_stream_list` of `stream_list.js`. This is somewhat confusing as a user, and would b

[2017-03-25 23:56] #2182 closed

[2017-03-26 00:47] rishig opened #4310 "stream creation: Don't mark stream as inactive after creation."
We currently mark streams as inactive if they have no loaded messages. If you create a stream (e.g. through the subscriptions modal), it will be marked as inactive, since it has no messages.

This is slightly confusing for people on small realms (it marks the newly created stream as light grey, which is a different color than the rest of the streams), but really confusing if you have 40+ streams,

[2017-03-26 01:00] rishig opened #4311 "stream creation: Small bugs in stream name and description."
In the subscriptions modal, after clicking `+` to create a new stream.
* Up and down arrow are not correctly captured by the text boxes on the right hand panel (e.g. stream name, stream description, filter). Probably a `stopPropagation()` is all that's needed.
* If you partially fill out a name and description, leave the page, and come back (e.g. by clicking on a stream on the left), it restores t

[2017-03-26 01:21] timabbott opened #4312 "Fix line-wrapping for integer administration settings fields"
See
![image](https://cloud.githubusercontent.com/assets/2746074/24327492/938ac8ba-1187-11e7-9cc2-ad9b38e2f00d.png)

@brockwhittaker I'm assigning this one to you since while it would seem we could just change this CSS:

[code]

I'm not sure whether there was a reason why 200px was selected there...

Not that since there are labels, we want to make it look good even if the text is like 2x longer (f

[2017-03-26 01:23] #3391 closed

[2017-03-26 01:24] timabbott commented on #4308
Yeah #3539 should fix this.

[2017-03-26 01:24] timabbott commented on #4300
It's simpler than that -- we can just trigger off of this block in `server_events.js`:

[code]

[2017-03-26 01:30] timabbott commented on #4302
OK I'll merged #4306 and then we can work on migrating and thus being able to get rid of the old font stuff.

Based on `$ git grep icon-vector  | grep -v translations | grep -v thirdparty | wc`, there's only 325 references, so I think it shouldn't be too painful to migrate this.

[2017-03-26 01:31] #4302 closed

[2017-03-26 01:31] timabbott commented on #4302
#4306 resolves the original issue here; @adnrs96 can you open a new issue for the migration?

[2017-03-26 01:35] feorlen opened #4313 "prod clean install fails on "Invalid requirement: 'api/'""
When I do a clean prod install with a tarball built from master, I get an error running the install script. This has happened with several clean installs. But if I restart it, it completes. I don't see this in a different branch that hasn't been updated in a few days.

There's a recent commit that added a new requirement `api/` in `requirements/common.txt`, which was formerly in `dev.txt`. Is it s

[2017-03-26 01:38] #4227 closed

[2017-03-26 01:38] #4228 closed

[2017-03-26 01:38] #4229 closed

[2017-03-26 01:45] timabbott opened #4314 "subscribers: Remove fetching subscribers from server."
Now that we have awesome new hotkeys for navigating the streams overlay (see #4255), we should fix the fact that we do a fairly large unnecessary data fetch (to get the subscribers data) every time you navigate to a new subscription row.

I believe we actually have all the data necessary to rewrite `show_subscription_settings` to just not do that fetch at all, and instead just render off of `sub.s

[2017-03-26 01:46] timabbott commented on #4288
Potentially should fix https://github.com/zulip/zulip/issues/4259 together with this.

[2017-03-26 01:47] timabbott commented on #4313
Ahh, yeah, I bet this code only works if your current working direction is right.  Let me see if I can find a simple patch.

[2017-03-26 01:50] timabbott commented on #4313
I think this might fix this; can you test @feorlen ?
[code]

[2017-03-26 02:07] synicalsyntax commented on #3657
Hello @HarshitOnGitHub, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on someth

[2017-03-26 02:07] synicalsyntax commented on #3677
Hello @tejaskasetty, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #3564
Hello @jajodiaraghav, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on somethin

[2017-03-26 02:07] synicalsyntax commented on #4000
Hello @eeshangarg, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something e

[2017-03-26 02:07] synicalsyntax commented on #4028
Hello @aakash-cr7, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something e

[2017-03-26 02:07] synicalsyntax commented on #4099
Hello @PhoeniXkrypT, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #4126
Hello @digi0ps, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else

[2017-03-26 02:07] synicalsyntax commented on #4199
Hello @mahimg, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else,

[2017-03-26 02:47] feorlen commented on #4313
@timabbott it works fine now, cool!

[2017-03-26 02:49] #4292 closed

[2017-03-26 02:49] timabbott commented on #4313
Cool, will merge that fix, thanks for testing @feorlen!

[2017-03-26 02:49] #4313 closed

[2017-03-26 03:04] timabbott commented on #4246
Yeah, that's one approach.  I think this would be a pretty involved project to build and I'm not sure about the right UI, so I think we should focus on other search-related issues over this for now.

[2017-03-26 03:11] #4211 closed

[2017-03-26 03:13] adnrs96 opened #4315 "Migrate our code base to use font-awesome 4.7.0 instead of 3.0.2"
Currently we have been using a very ancient version of font-awesome(3.0.2) in our templates which is not compatible with font-awesome 4.7.0. We would like to move to 4.7.0 as it has much better icons and much more of them. This requires us to move completely away from the 3.0.2 version and replace all of its usage with the 4.7.0 versions of icons. This shouldn't be difficult as indicated by Tim in

[2017-03-26 03:15] adnrs96 commented on #4302
Sure. Here is the new [issue](https://github.com/zulip/zulip/issues/4315)

[2017-03-26 04:32] tejaskasetty commented on #4300
OK so, I ll just have to handle the case when a new realm emoji  is added to the set, it renders the new ones as well.

[2017-03-26 05:21] janakamarasena opened #4317 "MacOS and Windows images not showing in /apps"
Images for [MacOS](https://zulipchat.com/apps/#mac) and [Windows](https://zulipchat.com/apps/#windows) not being displayed in [https://zulipchat.com/apps](https://zulipchat.com/apps).

[2017-03-26 05:52] timabbott commented on #4317
@brockwhittaker can you investigate?

[2017-03-26 05:52] timabbott commented on #4317
(Thanks for the bug report @janakamarasena!)

[2017-03-26 08:31] HarshitOnGitHub opened #4318 "emoji: Add necessary infrastructure for generating sprite sheets for realm emojis."
We are switching to using iamcal's sprite sheets for rendering default emojis everywhere on frontend(PR #3923). Similarly, we would like to switch to sprite sheets for rendering realm emojis rather than hardcoded urls(#3972). This issue concerns with adding necessary infrastructure for automatically generating sprite sheets whenever a realm emoji is added/deleted. This can be done in two steps:

-

[2017-03-26 08:35] HarshitOnGitHub commented on #4318
@zulipbot label "area: emoji"

[2017-03-26 08:36] HarshitOnGitHub commented on #4318
@zulipbot claim

[2017-03-26 08:36] HarshitOnGitHub commented on #4318
Waiting for #4097 to go in.

[2017-03-26 10:18] brainwane opened #4319 "Document how admin can respond to an org-wide password breach"
I just read [this piece on recovering from a data breach](https://www.troyhunt.com/data-breach-disclosure-101-how-to-succeed-after-youve-failed/) and was wondering - is it possible for a system administrator to force a password reset across the org, for all users? I looked in the management commands and don't think I found a command to do this (although there are commands to log out all users and

[2017-03-26 10:24] brainwane commented on #4244
I cautiously like that idea. Since it's after we've confirmed their email, there's less of a privacy risk to the existing user (in case they're truly different people), and we can point them to how to contact the org admin to say "hey that's actually my account" and let them handle that authentication out-of-band or however they want to do it.

[2017-03-26 15:28] showell opened #4321 "Allow Zulip invites to be forwarded."
If I'm inviting several folks to Zulip, the invite-users form can't support autocomplete, since it doesn't have access to your inbox, so it's kind of awkward for adding multiple people without doing things like drafting an email in your email system and copy/pasting the invites.

What I think my be a cleaner workflow is this:
* I ask Zulip to give me an invite.
* I choose the initial streams and g

[2017-03-26 19:01] showell opened #4322 "Send deactivated users to the client."
note: Somebody who has a fairly good understanding of page_params should take this issue.

We don't currently send info for deactivated users to our web client, except indirectly as part of message data.

Generally, most Zulip functions only deal with active users, but there are several scenarios where we need to know about deactivated users.  Admins will need to know about them to reactivate them

[2017-03-26 20:09] #4289 closed

[2017-03-26 20:32] #4000 closed

[2017-03-26 20:46] catthu commented on #3958
Sorry @timabbott there's been a developing urgent-ish situation that requires some people and I to arrange legal actions very soon. But I'll be back with some updates in a few days!

[2017-03-26 20:57] eeshangarg opened #4327 "Add support for filtering webhook notifications by specific branches in all our Git integrations"
Hi! This is a follow up to #4000. I have already started working on this. I thought it prudent to create a separate issue for future questions that I might have while implementing this. My PR will have a series of commits that implements this feature for each of our Git integrations (BitBucket, Gitlab, etc).

Thanks!
Eeshan

[2017-03-26 20:57] eeshangarg commented on #4327
@zulipbot claim :)

[2017-03-26 21:06] timabbott commented on #4327
Yep, sounds great :)

[2017-03-27 03:19] JPJPJPOPOP opened #4329 "Action popover menu arrow stays visible even though exited"
The correct behavior is when you click the arrow or use the `i` hotkey, and hit `esc`, and the actions popover selection arrow disappears.

However, if you click the arrow, then click it again to close it, the actions popover selection arrow still stays visible. Similarly, if you press `i` to open and `i` a second time to close, the arrow stays visible.

![message_menu_arrow_visible](https://cloud

[2017-03-27 03:24] lonerz commented on #4329
Edited title and description to be more specific.

[2017-03-27 07:23] tejaskasetty commented on #209
Okay.

[2017-03-27 08:33] tejaskasetty commented on #1956
Yeah we can close this one. Since i'm working on #4122  also. I will be working on these aspects as well. We can add the part about outcome: "improvement in usability and performance" in #4122. So, that part gets logged as well.

[2017-03-27 13:40] aakash-cr7 commented on #4028
Still working on this one.

[2017-03-27 15:41] showell commented on #4259
@boxin-yang I am fixing this as part of #4288, but if you have done work on it, maybe you can help review my change when it's ready.

[2017-03-27 16:01] boxin-yang commented on #4259
@showell Hi thx for letting me know. I am still trying to figure out the solutions. But please tag me when you open the PR as I would like to know how you approach the problem and maybe can help to review

[2017-03-27 16:37] showell commented on #4288
I am closing this.  I wasn't able to reproduce the above traceback, even with trying to force local echo delays, but as part of fixing the other issue (only edit content, not topics), I am cleaning up the error handling, so hopefully we'll get a more clear symptom if the problem doesn't go away on its own.

[2017-03-27 16:37] #4288 closed

[2017-03-27 16:43] #1956 closed

[2017-03-27 18:10] showell commented on #4259
@boxin-yang See #4330.

[2017-03-27 19:16] timabbott opened #4331 "Clicking a link in the message feed defocuses the compose box"
If you click a link in the message feed to another site, the compose box loses focus, which is slightly annoying if you're consulting some linked-to resource as part of drafting a reply.

I suspect this is effectively a bug in how we fixed the earlier issue that clicking a link in the message feed would focus the link (causing `enter` to re-open the link).

[2017-03-27 19:18] #4259 closed

[2017-03-27 19:52] timabbott commented on #4319
You can disable all existing passwords in a few lines on the django shell with something like `[user_profile.set_unusable_password() for user_profile in UserProfile.objects.all()]`.  Combined with `manage.py send_password_reset_email --server` you can complete that action (one will probably want to tweak the email template that uses, by hand, to explain what's up).

[2017-03-27 20:40] #2097 closed

[2017-03-27 21:14] timabbott opened #4333 "Makes drafts UI hotkeys more testable"
We don't have hotkey tests for the hotkeys within the drafts overlay, namely the arrow keys, backspace, and enter.

Fixing this may involve some refactoring to move some of the hotkey control logic out of `drafts.js`.

[2017-03-27 21:15] timabbott opened #4334 "hotkeys: Fix drafts scrolling logic (and maybe extract it to be reused for streams)"
The new drafts scrolling logic is pretty good, but isn't quite right -- if you have dozens of drafts and scroll down, the scroll position jumps **twice** each time that you get to the bottom of the feed; first, a small motion to show the rest of the bottom message, and then again to scroll half a screen down.

I think we might want to do more like 3/4 screen jumps, and not have that first jump hap

[2017-03-27 21:17] timabbott opened #4335 "Improve documentation for drafts hotkeys"
I think we want to do a few things:
* Add a section for the hotkeys you can use inside the drafts modal (enter/
* Document the hotkeys inside the hover behavior for the "drafts" button, trash can icon, and pencil icon in the drafts view.

I think while we're at this it's probably also worth making `delete` do the same thing as `backspace`, since one some keyboards that's a lot easier to press.

[2017-03-27 22:08] lonerz commented on #4334
We will also need to fix this in streams settings.

[2017-03-27 22:13] timabbott commented on #4334
Yeah, probably best to get this working right before copying/extracting it for that purpose, though :)

[2017-03-27 22:23] showell opened #4337 "Create maybe-down state for JS app."
This is an advanced issue for an experienced Zulip developer.

When we come out of a suspended state in the browser, it can take a few seconds before we re-connect to the server's event system.  When that happens, we should explicitly note that state so that the app can query something like `events_healthy()` to make sure we're currently processing events.

If events are not yet obviously healthy,

[2017-03-27 22:57] synicalsyntax commented on #4335
@zulipbot claim

[2017-03-28 00:11] showell commented on #4337
I'm leaving this open for now, but we probably have a better solution coming, so if somebody stumbles on this a few weeks after March 2017, you can probably close it.

[2017-03-28 00:57] JPJPJPOPOP opened #4340 "Drafts deletion using delete hotkey triggers stream escape in the background"
When you press `delete` to delete a selected draft in the draft overlay while narrowed in a stream, it deletes the draft, but also changes stream, causing the draft overlay to close by itself.

[2017-03-28 03:34] tejaskasetty commented on #4300
Even if we trigger off the above mentioned block. We still wouldn't have rendered it to the compose picker right? We have to still do that explicitly when a new realm_emoji is added to the set.

[2017-03-28 04:21] brockwhittaker commented on #4337
Perhaps we could proxy key functions that should wait until the system is healthy. When these functions are called in an "unhealthy" state, they would get pushed into a process queue that is executed when the state returns to healthy again or dumped when the page is refreshed.

[2017-03-28 04:29] brockwhittaker commented on #4314
@zulipbot claim

[2017-03-28 04:45] timabbott commented on #4340
Merged, thanks @JPJPJPOPOP!

[2017-03-28 04:45] #4340 closed

[2017-03-28 12:09] blaze225 commented on #3865
@rishig could you have a look at the PR?
Thanks :)

[2017-03-28 13:07] HarshitOnGitHub commented on #209
Now that the sprite's PR is almost ready, doing this will be a matter of just switching the sprite sheets dynamically. The main problem here will be how to deal with old messages?
@timabbott @rishig Thoughts?

[2017-03-28 14:31] showell commented on #4337
@brockwhittaker Yeah, that's essentially what the proposal above is, except that the proposal above is specific to posting to the back end, where we tend to have races.  If I understand what you're suggesting, it would be more like `call_when_healthy(function () { # do real work once system is good });`.

The trickiest thing here is figuring out when the system is truly healthy again, and I think

[2017-03-28 15:10] blaze225 commented on #4310
@rishig In `stream_list.js` the function `self.update_whether_active` updates the status of a stream by calling `is_active` in `stream_data.js`. So what needs to be done is to modify `is_active` by adding a check for new stream like this : `return recent_topics.has(stream_name) || <check new stream>;`

I noticed that  `create_streams` function in `stream_data.js` adds `attrs`. So, `<check new stre

[2017-03-28 16:22] showell commented on #4319
It's probably worth automating this, and we may want to have it only disable ordinary users by default, so that admins can still easily stay on chat.  (And you'd have an option to reset admin passwords if you believe they've been compromised as well.)

A more likely breach would probably be around API keys, so we should think of that as well.

@brainwane It might make sense to close this issue if

[2017-03-28 18:47] petasetahi opened #4345 "facebook number 1844 762 8448 facebopok jhelp number"
facebook number 1844 762 8448 facebopok jhelp numberfacebook number 1844 762 8448 facebopok jhelp number
facebook number 1844 762 8448 facebopok jhelp number
facebook number 1844 762 8448 facebopok jhelp number
facebook number 1844 762 8448 facebopok jhelp number
facebook number 1844 762 8448 facebopok jhelp number
facebook number 1844 762 8448 facebopok jhelp number

[2017-03-28 18:48] #4345 closed

[2017-03-28 19:38] rishig commented on #4310
hm, probably not, since those are modified pretty fast (before `is_active` is called). Maybe the solution is to add another attr (`new_stream`, or similar), here? This could be a good question for #developer help; I am also not too familiar with this part of the codebase :).

Thanks a ton for looking into this!

[2017-03-28 19:58] showell commented on #4294
@sampritipanda Just doing a quick ping on this.  We are trying to fix all tracebacks for the upcoming release, so if you get busy with other things, let us know, and if you have any partial fixes here, we can take it from there.

[2017-03-28 20:50] HarshitOnGitHub commented on #209
Cool, I am really excited about this!! :)

[2017-03-28 23:14] showell commented on #1650
I was thinking we'd introduce some of the core modules in the docs, like people.js and server_events.js, so that folks have a basic orientation.  We'd maybe use some of the recent work on visualizing dependencies, too, to give some high level flow diagrams.

[2017-03-29 08:33] qj739 opened #4351 "the tornado server is interrupted in some situation"
I run zulip server in DEVELOP mod, the tornado server is interrupted every 2 or 3 days, I got this error:
below ,and found the process of tornado is also stopped. Anyone can help me to solve this ? thanks!

39228 2017-03-29 03:06:39,202 ERROR    Traceback (most recent call last):
39229   File "/srv/zulip-venv/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_respons

[2017-03-29 21:09] jajodiaraghav commented on #4311
@zulipbot claim

[2017-03-29 21:11] timabbott commented on #4221
@borisyankov @neerajwahi ping on this.

[2017-03-29 21:20] sinwar opened #4355 "Enable enter to send in dev env"
In dev environment every time we fresh login we have to check ```Enter to send``` to true. We should enable it by default for dev env only to increase testing speed.

```git grep enter_sends``` will help you.

[2017-03-29 21:21] jajodiaraghav commented on #4257
Where exactly do I have to keep the script file? I really would like to try this one.

[2017-03-29 21:31] rishig commented on #4257
Great, thanks! `tools/` directory seems like a good place

[2017-03-29 21:31] misteraverin commented on #3780
@timabbott imho, first step for improvment "all streams" rather than create new page is displaying the most popular tags and streams. Next thing is tab "getting started" which asks you questions, like that: "need help with code review or problem or are you wanna to contribute? " and then shows best suited streams.

[2017-03-29 21:40] borisyankov commented on #4221
Oh, I didn't notice your comment. Thanks for the ping.

I think the messages as they are right now are too heavy, too self-contained, and include data that we already have. Just omitting these values I expected to make the network requests 'magically' smaller.

Examples:
* avatar_url, gravatar_hash - we already have these from the 'users' request
* sender_*** - we probably just need the ID, rest c

[2017-03-29 21:41] borisyankov commented on #4221
Also if you just give the unread count via API call, we will need to do that as an event, so we can update the counts.

[2017-03-29 22:35] HarshitOnGitHub opened #4357 "markdown: Buggy local echo when having an alert word besides an emoji."
To reproduce:
1: Add `emoji` as an alert word.
2: Type `emoji :smile:` or `:smile: emoji`.
3: It will get rendered like this:
![image](https://cloud.githubusercontent.com/assets/16687990/24479616/b991f2ee-14fd-11e7-8763-4b714f19a289.png)
4: If you have some other alert word, e.g., besides `emoji` like `abc`, then following will also have the same behavior:
`abc :smile:` or `:smile: abc`.

Removing

[2017-03-29 22:37] HarshitOnGitHub commented on #4357
@zulipbot label "area: settings (admin/org)" "bite size" "enhancement"

[2017-03-29 22:38] HarshitOnGitHub commented on #4357
@zulipbot label "area: markdown" "bite size" "bug" "help wanted"

[2017-03-29 22:44] HarshitOnGitHub commented on #4357
@zulipbot remove "enhancement" "area: settings (admin/org)"

[2017-03-29 23:14] timabbott commented on #4351
The Tornado server's auto-restart logic doesn't recover from being auto-restarted to broken code (e.g. with syntax errors).  Syntax errors resulting from merge commits or accidentally saves is essentially always the cause of this condition.

I think we probably should be able to write something to auto-restart Tornado when it dies this way, however.

[2017-03-29 23:16] timabbott commented on #4357
This is amazing: the secret to creating enormous emoji in Zulip!

(We should fix this).

[2017-03-30 00:43] aero31aero commented on #267
@zulipbot claim

[2017-03-30 00:47] aero31aero commented on #267
I'll give the inversion approach a try. Here's the basic idea:

1. Invert the colors of the complete content inside the body tag using CSS filter: invert(100%);.
2. Invert all images, emojis and video elements again, bringing them back to normal.

The trick would be to find these elements which are supposed to be inverted.

Also, where needed I'll write classes like `.day` and `.night` to help wit

[2017-03-30 01:38] #4355 closed

[2017-03-30 03:57] qj739 commented on #4351
@timabbott  Thanks for your reply ,
I checked the code in Runtornado.py :  **ioloop.IOLoop.instance().set_blocking_log_threshold(5),**
The tornado will be killed if the request is blocked exceed 5 second , I think it cause tornado interrupted

[2017-03-30 05:04] jajodiaraghav commented on #4257
@zulipbot claim

[2017-03-30 05:26] lonerz opened #4360 "Message with mention stays highlighted red when deleted"
1. Mention yourself.
2. See that the message is highlighted red.
3. Delete the message, should show up as "(deleted)"
4. The message is still red.

This is also a problem with not supporting in-edit mentions. Probably fix both for this issue.

Link to [zulip chat](https://chat.zulip.org/#narrow/near/181494/stream/design/topic/deleted.20mentioned.20message).

[2017-03-30 15:08] abhijeetkaur commented on #3636
@zulipbot claim

[2017-03-30 15:49] derAnfaenger commented on #4309
@zulipbot claim

[2017-03-30 16:07] abhijeetkaur commented on #3636
Update: "Organisation Settings" and "Custom bots" already brought to left side bar(read-only).
#3748

[2017-03-30 17:11] timabbott commented on #3636
@brockwhittaker did the initial work on this, but there's obviously more to do.

[2017-03-30 17:21] #4294 closed

[2017-03-30 17:22] abhijeetkaur commented on #3636
@timabbott So what other options do we want on the left side-bar(read-only view) for a non-admin user. I guess adding "deactivated users" wont be of much help. The rest of them can be made visible to the users.
What are your views?

[2017-03-30 17:26] timabbott commented on #3636
Yeah, I think everything but "Delete streams" and "deactivated users" is useful.  I'd recommend doing them 1-commit-per-panel as you go along.

(BTW plan  is to rename "Administration" to "Organization" for clarity, while we're at it).

[2017-03-30 17:34] timabbott commented on #4317
Oops, this was fixed in master, but not closed.  Thanks again for the bug report @janakamarasena!

[2017-03-30 17:34] #4317 closed

[2017-03-30 17:54] kracekumar commented on #3300
I came to file the same issue and found the existing issue. So :+1:

[2017-03-30 18:50] HarshitOnGitHub commented on #4122
@tejaskasetty Any update on this?

[2017-03-30 19:03] timabbott commented on #3383
I sorta feel we should focus on #4249 first and see if that resolves the actual user-facing problem of finding the right person in typeahead efficiently.

[2017-03-30 20:54] hackerkid commented on #1506
@umairwaheed Is it fine I work on the frontend for setting and displaying the timezone?

[2017-03-30 21:00] #4312 closed

[2017-03-30 21:10] showell commented on #4109
I'd be in favor of adding "|" to make this more discoverable, although what we probably really need here is a tiny search help button.

[2017-03-30 21:14] showell commented on #4108
I removed the "bite size" label here, as I think it will be a bit challenging in the details.

A related issue is drag&drop.  Believe it or not, you can actually drag and drop the buddy list items to the "New private message" button, but it doesn't do what you'd expect it to do here.

[2017-03-30 21:46] showell commented on #3780
I may be misinterpreting what @misteraverin is saying in the previous comment, but I like the idea of a "Getting Started" page somewhere that the org can customize with their own text.  For example, it might have a basic code of conduct, links to the org's website, and some text about good streams to subscribe to.  This would be similar in concept to the user-profile page we're trying to develop n

[2017-03-30 21:59] YagoGG opened #4367 "Apostrophes should be allowed in bugdown tests"
# Description

When a fixture in `zerver/fixtures/markdown_test_cases.json` contains an apostrophe (`'`), the result produced by the frontend (Marked) and the backend (Bugdown) don't seem to match, since running the test with the `bugdown_matches_marked` flag as true produces an `AssertionError`.

# Steps to reproduce

1. Add the following key to `zerver/fixtures/markdown_test_cases.json`, inside

[2017-03-31 01:42] umairwaheed commented on #1506
Yep, it would be awesome :). Please go ahead.
On Fri, Mar 31, 2017 at 1:54 AM Vishnu Ks <notifications@github.com> wrote:

--
Sent from mobile.

[2017-03-31 03:09] PhoeniXkrypT commented on #3989
<img width="595" alt="demo" src="https://cloud.githubusercontent.com/assets/5231792/24534750/30ae5e9e-15d0-11e7-9c7f-6d5325f5d092.png">

[2017-03-31 04:37] rishig commented on #3989
cool! What do you think of showing only 2 significant figures, and also putting it in line with the person icon? So:
`12000 [icon for messages]     1 [icon for person]`
we'll have to find a good icon for "# messages sent last week". Any ideas from http://fontawesome.io/icons/?

Also might be a great thing to post in #design, to see what people think.
Thanks Archana for working on this!

[2017-03-31 05:20] misteraverin commented on #3780
@showell yeah, you got it right. @timabbott what do you think about it?

[2017-03-31 06:47] JPJPJPOPOP commented on #4334
@zulipbot claim

[2017-03-31 07:41] jajodiaraghav opened #4372 "Add option to set oneself to "Busy" or "Do not disturb""
There should be a feature that sets a user's status to "Busy", "Unavailable" or "Do not disturb".

Also the user should be able to configure an automatic message such as "Sorry, I'm away on vacation. I'm not ignoring you, but my response may take a while" and the like.

Full conversation: https://chat.zulip.org/#narrow/stream/general/subject/online.20to.20unavailable

It would be a good idea to di

[2017-03-31 08:18] PhoeniXkrypT commented on #3989
Nice, yes when the number of messages is large, it might clutter the page if whole number is displayed. By 2 significant digits, do you mean like '12k' instead of '12000' or just display the 2 significant digits?
I was also thinking about an icon instead of 'msgs'. Thanks for the link!

[2017-03-31 10:41] janakamarasena commented on #4317
@timabbott the fix is not in the live version yet right?

because the two links are still giving a 404

[1]- https://zulipchat.com/static/images/landing-page/assets/macbook.png
[2]- https://zulipchat.com/static/images/landing-page/assets/microsoft.png

[2017-03-31 12:50] denistarasov commented on #4360
@zulipbot claim

[2017-03-31 13:19] abhijeetkaur commented on #3636
@zulipbot abandon
As this issue is already a part of someone's gsoc proposal.

[2017-03-31 16:20] blaze225 opened #4374 "Most recent message gets hidden when writing a long message"
When writing a long message the previous message gets hidden below the new message edit box. The only way to view it is to close the message edit box.
This can be annoying if the previous message contains a lot of content that has to be looked up again and again while writing the reply (for ex. a long of questions that have to be answered).

![screenshot from 2017-03-31 21-50-05](https://cloud.git

[2017-03-31 18:42] lonerz opened #4376 "Pressing enter in user search when search field is empty shouldn't open compose box"
1. Press `q` (hotkey) to focus on search field in user list.
2. Press enter and the compose box opens.

This should just be a simple addition of `stopPropagation` or `preventDefault`.

[2017-03-31 19:04] timabbott commented on #3636
@abhijeetkaur if you'd like to work on this, you should just work on this -- GSoC doesn't start for months, not all proposals will necessarily be accepted (and we won't know for a month), and almost all the important projects are in _someone's_ GSoC proposal.  There's no sense in stalling progress because of a potential GSoC project -- we got 70 proposals last year.  We can easily find a replaceme

[2017-03-31 19:07] timabbott commented on #4376
I think this is actually intentional/correct behavior -- to make it convenient to send that person a message while looking at your past message history with them.

Why did you think this was not?

[2017-03-31 19:24] timabbott commented on #4317
Correct

[2017-03-31 20:23] rishig opened #4378 "drafts: Empty topic gets recovered as "(no topic)" when recovering drafts."
This is due to a larger problem which is that messages with no topic get stored with topic "(no topic)" in the database: #3639.

But a quick fix here is just to check if the topic is "(no topic)" when recovering a draft, and if so replace it. We already do this for message editing, so you can potentially just copy the logic from there.

[2017-03-31 20:32] rishig commented on #3989
yeah, 12K instead of 12000 definitely looks better. Though I suspect few streams have more than a few thousand messages per week, so may not be worth the extra complexity (both for us and for the user).

One thing that might be nice is actually doing something like 1.5 sig figs. i.e. showing a second digit only if the first digit is 1 or 2.

[2017-03-31 21:31] misteraverin commented on #4208
@Lplenka could you specify browser and OS?  I have Chrome 56 and everything works well.

[2017-03-31 21:47] lonerz commented on #4376
@timabbott I was talking about an **empty** search field.

[2017-03-31 22:15] HarshitOnGitHub commented on #3145
@zulipbot claim

[2017-03-31 23:38] PhoeniXkrypT commented on #3989
Which would be more useful -- the average traffic in last 4 weeks or the number of messages in last week?

[2017-04-01 00:03] rishig commented on #3989
Average traffic, I think. That way things like holidays have less of an effect.

[2017-04-01 01:06] Lplenka commented on #4208
Windows 10
Chrome Version 57.0.2987.133 (64-bit)
Same happened in my Linux Mint also Chrome  57

[2017-04-01 09:08] jajodiaraghav commented on #3636
@abhijeetkaur If you don't want to work on this, I would be happy to claim it.
@timabbott I hope that's not a problem

[2017-04-01 10:11] abhijeetkaur opened #4379 "Add ability for organization administrators to add Community rules/guidelines to Zulip users"
[Updated description based on [CZO discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/Organization.20policies.20via.20UI.20.234379), 2023-01]

- [ ] Create a "Policies" tab in organization settings, perhaps just under **Organization permissions**. Shown by default for non-admin users.
- [ ] Admin permissions required in order to edit.
- Similarly to stream descriptions:
	- [ ] Markd

[2017-04-01 10:14] abhijeetkaur commented on #2362
@timabbott I think we can close this, a new ticket has been created for this. [zulip-chat-discussion](https://chat.zulip.org/#narrow/stream/issues/topic/issue.20.232362)

[2017-04-01 10:37] abhijeetkaur commented on #3636
@zulipbot claim
@timabbott Thank you for the insight. :)
@jajodiaraghav I really want work on this.

[2017-04-01 10:45] abhijeetkaur commented on #2284
Update description [zulip-chat-discussion](https://chat.zulip.org/#narrow/stream/issues/subject/issue.20.232284) :
-Add an additional "Default Stream" toggle button next to the stream name along with "View stream" and "Unsubscribe" button.
-This button should be accessed by admins only, and view only for others.
![default-stream](https://cloud.githubusercontent.com/assets/8913577/24578063/5d44e442

[2017-04-01 15:50] janakamarasena commented on #4317
:)

[2017-04-01 17:52] jajodiaraghav commented on #2412
@showell Should I take this or wait for khantaalaman to respond?

[2017-04-01 18:27] lonerz commented on #2412
@jajodiaraghav it seems like this should be ok to be taken.

[2017-04-01 21:00] brainwane commented on #883
I witnessed a user today, on chat.zulip.org, run into this bug. So it's still happening.

[2017-04-01 21:03] brainwane opened #4381 "Make login/forgot password pages more explicit to help new users"
My friend just started using Zulip today. She self-registered, and when she saw "You look familiar" she assumed that meant she already had an account -- and then when she used "Forgot password" and it did not explicitly say anything about whether she had a pre-existing account or not, she didn't notice that. I had to help her out and say "try creating a new account" - otherwise she would have wait

[2017-04-02 06:06] brockwhittaker commented on #267
I feel like using `-webkit-filter: invert(n)` and the like for this isn't a scalable option. Every time we want to add something that is color sensitive we're going to have to add it to an exclusion list, which doesn't sound great.

I think it'd be better to have finer grain control over the components by just having some fine selectors. Change the body color, body text color, etc.

I'd rather dar

[2017-04-02 08:36] blaze225 commented on #3648
Can somebody tell me the reason fro travis build failure for #4342 ? not able to understand
Thanks

[2017-04-02 20:33] danlaudk opened #4384 "Enhancement : muting threads should not affect view of starred messages"
muting a topic removes the ability to see any message in that topic/thread which I've already starred, when I go to my starred messages. I wish muting wouldn't affect what I see in my starred messages - after all, the message is still starred

Use case: I'm interested to come back to a message later, but don't want to be alerted to all the activity now

@kracekumar maybe this would be of interest

[2017-04-02 22:03] kartik95 commented on #4378
@zulipbot claim
Could you please elaborate a bit more? I would start working on it then.

[2017-04-02 22:06] adnrs96 commented on #320
@zulipbot claim.

[2017-04-03 01:08] kamalmarhubi commented on #168
I hope this will be a realm-configurable option. In particular, I think it's a decision that the Recurse Center should make for itself.

[2017-04-03 02:47] neerajwahi commented on #4221
I wonder how much this will actually speed things up. My guess is that latency is a bigger issue than bandwidth for us on normal message fetches, so not sure that cutting the payload in half will make a huge difference (if we only request ~20 messages at a time)

One nice thing this model might allow is to get just the list of people you've had a private conversation with, instead of having to fet

[2017-04-03 04:16] umairwaheed commented on #2956
Working on this.

[2017-04-03 05:25] timabbott commented on #4381
Yeah we can't chance the "forgot password" feature, but I've been meaning to remove "you look familiar" for other reasons, and this is a good reason to actually go through with it.

[2017-04-03 08:55] tejaskasetty commented on #4122
Yeah. Actually, I was going through the code. But my college work is giving me a hard time to keep up. So, I was thinking of putting it as part of the work i would be doing in Summer, as part of my GSoC propsal. Because I will be free from may and would be able to devote my complete time on this as well. One more thing was, I wouldn't be just working on unifying both emoji composer and emoji react

[2017-04-03 09:24] umairwaheed commented on #4011
Working on this.

[2017-04-03 10:10] misteraverin opened #4395 "Horizontal line stays after you unsubscribed from pinned channel"
If you have only one pinned channel and you unsubscribe from it, `<hr>` stays and dissappears after refreshing the page.
**Small addition**:  If you have regular streams + inactive and then unsubsribe from all regular, `<hr>` stays.

[2017-04-03 13:42] showell commented on #4122
@tejaskasetty Thanks for the detailed answer on your availability.  Given your school commitments, I think you should abandon this current task, so that other folks can make progress on it.  Of course, you are still free to participate in code review and tracking the issue.  When your schedule frees up, I am confident there will be similarly challenging and interesting problems around.

I am going

[2017-04-03 16:38] rishig commented on #4378
Great, thanks @kartik95! Most of the drafts code is in `/static/js/drafts.js/`. The code for recovering drafts looks like it might be in `exports.restore_draft` in that file.

[2017-04-03 16:50] tejaskasetty commented on #4122
@showell okay

[2017-04-03 17:19] aripollak opened #4400 "Edit history should be disableable?"
Before the new message edit history feature was added, most people (myself included) probably didn't realize that edit history was still stored invisibly. This seems like a violation of some assumptions of a social contract, and I think that old edit history (before this feature was announced/documented) should be optionally purged and/or new messages should optionally not store edit history. I ap

[2017-04-03 17:25] lonerz commented on #4122
@HarshitOnGitHub are you going to take this up?

[2017-04-03 17:25] xxv commented on #4400
An alternative idea would be to leave it visible by default, but only to the author.

[2017-04-03 17:27] HarshitOnGitHub commented on #4122
Not right now but it is on my TODO, currently working on issue #209.

[2017-04-03 18:10] brockwhittaker commented on #4395
Hm, I can't seem to replicate this on master. I added two pinned streams, removed them both, and there was no stale \<hr>.

[2017-04-03 18:36] misteraverin commented on #4395
@brockwhittaker  it is very important to unsubscribe from them clicking down arrow and choose option "Unsubscribe"

[2017-04-03 18:45] lonerz opened #4401 "Previously pinned stream is still pinned when resubscribed"
1. Subscribe to a stream.
2. Pin that stream to the top.
3. Unsubscribe to that stream.
4. Witness #4395 horizontal line.
5. Resubscribe to the stream.
6. The stream is automatically pinned to the top.

Is this supposed to happen?

[2017-04-03 19:05] brockwhittaker commented on #4395
Ah, I misinterpreted that. I see. @zulipbot claim.

[2017-04-03 19:35] timabbott commented on #4400
The data for edit history has actually always been available via the API (the edit history feature existed with a too-disruptive UI 3 years ago), and we've tried to document it clearly (it's discussed in e.g. our security model docs), but I definitely understand not being aware of this feature and being worried that there might be something secret in old edit history that one would rather not be a

[2017-04-03 19:58] aripollak commented on #4400
I'd be okay with just purging all of our existing edit history.

Having the ability to retrieve the history seems like it'd cause another problem like this one, where the data is all still there on the server but it's hidden from some views so people don't realize that it's saved.

[2017-04-03 23:23] brockwhittaker commented on #4262
Whoops, this was fixed with #4298 and merged by @showell already!

[2017-04-03 23:33] #4262 closed

[2017-04-03 23:37] timabbott commented on #4401
I think this might be expected behavior.  The common case when resubscribing is probably that you accidentally or temporarily unsubscribed, and in that case you probably want your settings (color, notifications, pinned state, etc.) preserved.

What do you think?

[2017-04-03 23:51] timabbott commented on #168
This should definitely be realm-configurable.  I expect some companies will want to have their own internal process for handling issues like this, that likely involves an HR department, not a chat product feature.

[2017-04-03 23:57] timabbott commented on #4384
@danlaudk can you provide a bit more detail on exactly what you're doing?  Does the message not show up in the "starred messages" view, or does it not show up after you click on the stream title to narrow to the stream (in which case you'd have left the "starred messages" view and gone to that stream)?

I would expect the current behavior to be that the message will appear in the stream+topic narr

[2017-04-04 00:03] timabbott commented on #883
@brockwhittaker now that your notifications bar changes are done, I think we should move our prompt for desktop notifications to use the new notifications bar prompt (rather than prompting the moment the tutorial finishes).  That should resolve this issue as well as #1189.

[2017-04-04 00:14] timabbott opened #4404 "Optimize performance of editing a message you just sent"
Currently, we still need to fetch the raw content of a message you just sent from the server in order to open the edit-message widget.  In the event that the message was locally echoed and has not been edited since then, this extra step is unnecessary (we can just store the raw content in `message_store.js`, and discard it on-edit).

Fixing this could materially improve the feeling of responsivene

[2017-04-04 00:16] timabbott commented on #4379
Makes sense to me.  We may also want to advertise the guidelines when users are signing up.

[2017-04-04 00:18] timabbott commented on #2362
Yep, sounds good, closing this.  Thanks for getting this to be a concrete implementation (though next time, I'd probably just add the concrete notes on the existing issue, so the motivation and implementation details are in the same place).

[2017-04-04 00:18] #2362 closed

[2017-04-04 00:19] timabbott commented on #4208
@brockwhittaker FYI

[2017-04-04 00:19] timabbott commented on #4376
Oh, yes, that's a bug.

[2017-04-04 00:29] timabbott commented on #3707
Fixed via #4365.

[2017-04-04 00:29] #3707 closed

[2017-04-04 01:42] lonerz commented on #4401
@timabbott hmm, interesting– didn't think of it like that. Closing this issue then.

[2017-04-04 01:42] #4401 closed

[2017-04-04 01:56] adnrs96 commented on #291
This will get fixed as a consequence of validating user requests for viewing an upload in #4387. As this would require to route every request through django for authentication the S3 requests will start to function properly without need of commenting out any part of nginx files during production setup.

[2017-04-04 03:05] yk2kus commented on #126
I had to install pip
sudo apt install python-pip

[2017-04-04 04:12] lonerz commented on #4331
@LiuzcEECS can you claim this task by commenting `@zulipbot  claim`?

[2017-04-04 04:19] LiuzcEECS commented on #4331
@zulipbot  claim

[2017-04-04 06:27] umairwaheed opened #4407 "Trello integration help corrupts everything"
1. Go to [Trello integration help](https://chat.zulip.org/integrations/#trello).
2. Click **legacy Trello cron-based integration** link.
3. All the data from Trello help page will be carried over to Trello Legacy help page. In fact, if you try to go to any other integration help page, e.g. [Airbrake](https://chat.zulip.org/integrations/#airbrake), it will include Trello help data.

[2017-04-04 06:37] LiuzcEECS commented on #4331
@timabbott Can you tell me the number of the earlier issue that clicking a link in the message feed would focus the link? I'd like to modify the same file as the eariler issue

[2017-04-04 06:39] lonerz commented on #4331
@LiuzcEECS can you comment `@zulipbot claim` again. It seems like your initial comment had two spaces in between.

[2017-04-04 06:51] lonerz commented on #4331
You might want to look at this commit: https://github.com/zulip/zulip/commit/6ed7ba8935f72f24dbd5936b33e4d7af6ea5d97d

[2017-04-04 08:59] anirudhjain75 commented on #4376
Hey guys I would like to try to solve this bug :)

[2017-04-04 09:09] anirudhjain75 commented on #4329
you have to click anywhere other than the message box it belongs to, to make it disappear. And yeah it stays even when to click on it the second time to close it :) . Would like to discuss about this so I can give this a try.

[2017-04-04 09:12] anirudhjain75 commented on #4329
I guess this is a minor bug in CSS, Any suggestions

[2017-04-04 09:15] anirudhjain75 commented on #4256
Will read about it :)

[2017-04-04 11:53] LiuzcEECS commented on #4331
@zulipbot claim

[2017-04-04 15:28] showell commented on #4376
@anirudhjain75 We have a new process for claiming bugs.  You can say `@zulipbot claim` to claim the issue.

[2017-04-04 16:17] anirudhjain75 commented on #4376
@showell Ok will keep that in mind

[2017-04-04 18:46] YagoGG commented on #4407
I have been able to reproduce this!

Just something maybe worth noting is that this only happens within the same tab (if you opened Airbrake's help page in a new tab, everything would look OK).

[2017-04-04 19:19] #4208 closed

[2017-04-04 19:57] azurelunatic commented on #168
@brainwane Thank you for asking me to weigh in!

Even in the case where the HR department wants to handle all user vs. user conflicts (even the really really petty ones), the chat product should offer a feature to funnel reliable reports to HR (or the direct manager, or selectively either in case it's the direct manager that's the problem).

The chat product should not become a way for problem use

[2017-04-04 21:01] timabbott commented on #3780
Yeah, I think that idea is basically #4379 (including the suggestion of showing it when users sign up the first time).

[2017-04-04 22:54] #3145 closed

[2017-04-05 00:12] timabbott commented on #4109
Yeah, I guess I agree with both parts of that -- we should either support `|` or have some sort of little search help link for this (which can probably just point to an article on /help/)

[2017-04-05 00:22] #4311 closed

[2017-04-05 01:30] #4314 closed

[2017-04-05 03:41] sinwar commented on #3407
@zulipbot claim

[2017-04-05 04:04] umairwaheed commented on #4407
Yeah. Opening a new browser session fixes the problem which gives the hint that the problem is with the client-side code.

[2017-04-05 08:31] anirudhjain75 commented on #4376
@zulipbot claim

[2017-04-05 12:44] galexrt opened #4420 "Getting 500 internal server error"
I'm currently trying to update/fix the Docker image.
I'm having the problem that when the container is stopped, removed and recreated with the existing data directory, after login I'm getting 500 internal server error (`/register` is working).
I checked the `/var/logs/zulip/errors.log` but it is empty.
The other log files are not showing any errors (the only thing is the log line of the 500 for `/

[2017-04-05 15:17] showell commented on #4009
@zulipbot claim

I am converting the script to Python and adding the venv sanity check.

[2017-04-05 16:12] hollywoodno commented on #2278
@zulipbot claim

[2017-04-05 17:11] glyph opened #4423 "mac app non-functional after sleep/wake cycle"
I use the Zulip mac app.  I frequently close my laptop at night, let it sleep during the evening, and then open it in the morning. After doing so, the app is frequently in one of three states:

- Looks normal, but is nonresponsive to keyboard input, and appears to receive no new messages
- Looks like this:
![screen shot 2017-04-05 at 10 09 57 am](https://cloud.githubusercontent.com/assets/716529/2

[2017-04-05 18:10] #3981 closed

[2017-04-05 18:46] #3219 closed

[2017-04-05 19:04] #4009 closed

[2017-04-05 19:19] #2328 closed

[2017-04-05 19:19] timabbott commented on #2328
This was fixed a lot later than I'd imagined it would, but it is fixed in master now.  Thanks again for the bug report @hrotkogabor!

[2017-04-05 19:22] #4223 closed

[2017-04-05 19:44] timabbott commented on #4423
@glyph can you try using https://github.com/zulip/zulip-electron?  That's soon to be the only supported desktop app, replacing the ancient default one.  Can you see if switching to that resolves this issue?

[2017-04-05 19:45] timabbott commented on #4423
https://github.com/zulip/zulip-electron/releases is the recommended way to download/install.

[2017-04-05 19:49] timabbott commented on #4420
Check /var/log/zulip/django.log and /var/log/zulip/server.log and see if there's anything there.

[2017-04-05 19:49] timabbott commented on #4420
But my guess is it's some sort of problem connecting to rabbitmq.

[2017-04-05 20:00] galexrt commented on #4420
No there is no trace or something other relevant shown.
[code]

[2017-04-05 20:03] timabbott commented on #4420
Interesting; to confirm, are you running off of master?

We did recently do some refactoring of our error handling, and it's possible that what is happening is that they error reports are being only emailed to the settings.ADMINS (by default settings.ZULIP_ADMINISTRATOR), and not also logged.  If so, that'd be a bug we should investigate...

Check /var/log/nginx/errors.log as well?

[2017-04-05 20:11] galexrt commented on #4420
@timabbott Ah, I get emails with the error. Thanks for the info!
[code]
The script I use to create the user seems to cause this..
[code]
Is there something wrong with just creating the user like this?
The variables are for example:
[code]

[2017-04-05 20:17] timabbott commented on #4420
The users that are missing are the system bots created by `scripts/setup/initialize-database`

[2017-04-05 20:24] timabbott opened #4424 "/integrations page back buttons take you to top when going back from a subpage"
The flow here is basically (1) scroll down on /integrations, (2) click an integration, (3) click the "back to main page" button.  You'll be scrolled to the top, rather than keeping your place in the list.

[2017-04-05 20:25] timabbott commented on #4424
Arguably this is something where the right fix is to actually just change the page layout to be more of a list structure rather than a 2D grid.

[2017-04-05 20:32] timabbott opened #4425 "Phabricator integrations page is misformatted"
![image](https://cloud.githubusercontent.com/assets/2746074/24725548/3e91deb8-1a04-11e7-937c-a69150ccffc6.png)

[2017-04-05 20:32] timabbott commented on #4425
Puppet integration has the same problem.

[2017-04-05 20:46] #4293 closed

[2017-04-05 20:52] galexrt commented on #4420
@timabbott I finally found the cause of the issue.
For some reason the postgres image used, even though a data volume was mounted, didn't persist the data..

[2017-04-05 20:52] #4420 closed

[2017-04-05 23:41] #3407 closed

[2017-04-06 00:15] timabbott commented on #3989
Agreed, average traffic is best.

[2017-04-06 00:45] #4425 closed

[2017-04-06 05:38] TomaszKolek commented on #4115
`airbrake` -> has no info about ping event in the doc
`appfollow` -> I didn't find webhooks doc
`basecamp` -> has no ping event.
`beanstalk` -> no info in the doc
`bitbucket` - > deprecated, I ignored it
`bitbucket2` -> no ping event
`circleci` -> has no info about ping event in the doc
`codeship` -> has no info about ping event in the doc
`crashlytics` -> "ping" event implemented

[2017-04-06 05:52] umairwaheed commented on #2748
Working on this.

[2017-04-06 06:37] TomaszKolek commented on #4115
`delighted` -> no info about ping event in the doc
`deskdotcom` -> N/A
`freshdesk` -> doc says nothing about it and free plan does not allow to set it up
`github_webhook` -> Done already
`gitlab` -> No ping event
`gogs` -> has test event but `Test delivery` button does nothing (not working)
`gosquared` - no ping event
`greenhouse` - has something like ping event but we have to request demo account

[2017-04-06 08:36] umairwaheed commented on #2748
@timabbott, so I think this should be handled in views. The `authenticate` function of auth backends should only return `None` or a user object.

[2017-04-06 09:02] umairwaheed commented on #2748
The only instance where we show this message is when we authenticate through `api_fetch_api_key` or `json_fetch_api_key`.

[2017-04-06 09:15] umairwaheed commented on #2748
For `EmailAuthBackend`, we have client-side validation in place.  I think we can add checks in `OurAuthenticationForm` as well.

[2017-04-06 16:31] kkanahin commented on #3686
@zulipbot claim

[2017-04-06 17:44] brainwane commented on #4319
Changed the issue title to reflect that probably a good way to finish this up would be to add Tim's guidance (from the comment above) to https://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#securing-your-zulip-server  .

[2017-04-06 17:56] YagoGG opened #4435 "Move the chevrons in the stream list farther from the scrollbar"
# Description

As @timabbott also pointed out, right now the chevrons in the stream list are too close from the scrollbar, which is a bit uncomfortable and doesn't look good aesthetically either.

Moving them some pixels to the left should do it.

[2017-04-06 18:11] YagoGG opened #4436 "Make scrollbars wider when hovered"
# Description

Some users have reported that the custom scrollbars we use are too narrow to click them easily.

It would be great if we could make them wider when hovered.

# Additional information

The latest version of [`perfect-scrollbar`](https://noraesae.github.io/perfect-scrollbar/) (the library we use for these scrollbars) already supports this, so technically upgrading that lib should take

[2017-04-06 18:23] roberthoenig opened #4437 "Add hotkeys for switching between the three main panels."
Currently, there is no easy way to switch between the three main panels (navigation, chat, users) without using the mouse:
![image](https://cloud.githubusercontent.com/assets/7950151/24769101/81a1105a-1b05-11e7-8c59-c7b8ce05bcca.png)

It would come in handy if there were hotkeys for switching between those.
The most intuitive keys would be the left/right arrow keys.
* The right arrow key is curren

[2017-04-06 18:44] brockwhittaker commented on #4407
Looks like the issue is that if you go from one hash (that isn't empty "#") to another without first going back to "#", it won't clear the content of the last module.

[2017-04-06 18:45] brockwhittaker commented on #4407
@zulipbot claim

[2017-04-06 19:00] timabbott commented on #4436
I think that may mean this will be fixed by finishing #3227

[2017-04-06 19:01] brainwane opened #4440 "Occasional stream sidebar glitch scrolls too far down, displays blankness"
When I've clicked on the name of a stream in the left stream bar and then I click "more topics", sometimes it autoscrolls such that the entire sidebar looks blank.

![empty-sidebar](https://cloud.githubusercontent.com/assets/842790/24770919/9b15da7e-1ad9-11e7-80e8-59867bf4fa61.png)

Then I have to use the streams scrollbar, and when I start clicking on it or dragging it, it grows or moves under me

[2017-04-06 19:04] YagoGG opened #4441 "Use the same scrollbar type across the whole UI"
# Description

Right now we have a custom scrollbar provided by the [`perfect-scrollbar`](https://noraesae.github.io/perfect-scrollbar/) library, but it's used only in the streams list, whereas there are many other scrollbars in Zulip's user interface.

![Streams list scrollbar](https://cloud.githubusercontent.com/assets/7356565/24771021/545ea286-1b0c-11e7-8424-983bab79eae9.png)

We should switch

[2017-04-06 19:12] adnrs96 commented on #4440
Here is a Gif of while trying to reproduce it.
![scroll-bar](https://cloud.githubusercontent.com/assets/17237412/24771309/c1a3bdcc-1b2a-11e7-8eaf-b537f10502a8.gif)
I believe it is reproducible when we click more topics option on streams which we reach by scrolling down.
This means it is more and more prominent for a stream which is deep down the scroll section.

[2017-04-06 19:12] timabbott commented on #2748
Yes, this is used in those authentication methods, which are used primarily by mobile.

Agreed we can do this at the views layer; what I might do is have the view just loop over the enabled authentication backends (for the current realm, if any), and if none of them is the LDAP backend (probably using a flag with a name like `supports_non_email_usernames` on the backend class to check, rather than

[2017-04-06 19:13] rishig opened #4442 "stats: Extract messages sent over time legend from plotly."
Currently the messages sent over time legend has confusing styling; the squares should be checkboxes, and "Humans" and "Bots" should be grouped together separately from "Me".

The first step to doing this is to replace the plotly legend with three regular checkboxes. The click handlers of the checkboxes should either call the appropriate plotly functions to retrace the graph, or if it's easier, th

[2017-04-06 19:15] YagoGG commented on #4435
By the way, keep in mind that #4436 makes scrollbars wider, so we may need to move the chevrons more than the current (narrower) scrollbar requires.

Feel free to comment this in the Zulip development chat to discuss and clarify this.

[2017-04-06 19:18] italo-batista commented on #4442
It would be great working on this! Thanks, @rishig.

@zulipbot claim

[2017-04-06 19:21] timabbott opened #4443 "i18n local storage leak"
We seem to have an issue where Zulip's i18next caching of translation strings is being done in local storage, and doesn't have a mechanism to clear itself either over or time or when we deploy a new version of the Zulip server.  This means that on servers like chat.zulip.org that are deployed frequently, we end up with hundreds of entries in local storage:

![image](https://cloud.githubusercontent

[2017-04-06 19:28] timabbott opened #4444 "White space overlapping floating recipient bar on iPad blocking content"
See this screenshot (ignore the network error, the problem is the top recipient bar being half-cutoff):

![img_0307](https://cloud.githubusercontent.com/assets/2746074/24771887/2fb3a6cc-1ac4-11e7-881d-4dd85f81150c.PNG)

I can't reproduce this in Chrome on Linux, so I suspect it's an iPad-specific CSS issue.

Reported by @ThePsychicVictini.

[2017-04-06 20:23] a2t2 opened #4445 "Failed email test on production install"
I am trying to setup a production version of Zulip. I don't have SMTP setup, so I'm using the instructions available here: [no smtp setup](https://zulip.readthedocs.io/en/latest/prod-email.html#logging-outgoing-email-to-a-file-for-prototyping ).

The installation and database setup worked without errors.

I am facing an error when I test the email functionality using:
[code]

The error is as follo

[2017-04-06 20:31] derAnfaenger commented on #4309
@misteraverin thanks for working on this! With zulipbot, you can easily assign yourself to issues, so that everyone knows what is being worked on and we don't do duplicate work :)

[2017-04-06 20:33] timabbott commented on #4309
@derAnfaenger want to review the implementation?  I think one needs to create a few dozen streams to see it in action.

[2017-04-06 20:34] misteraverin commented on #4309
@zulipbot claim

[2017-04-06 20:45] misteraverin commented on #4309
@timabbott  @derAnfaenger i try to provide gif with already 40+ created streams. But we need to fix #4395 because if you have regular streams + inactive and then unsubsribe from all regular, <hr> stays. I hope @brockwhittaker deals with complicated js state and where and when it is changed.

[2017-04-06 20:59] #4407 closed

[2017-04-06 21:02] timabbott commented on #4309
@misteraverin I think we can fix this issue independently from #4395; #4395 already exists anyway with pinned streams anyway.  So I don't see why we need to block finishing this issue waiting for #4395 -- am I missing something?

[2017-04-06 21:09] misteraverin commented on #4309
@timabbott ok, yes. I create a new issue after merge to master.

[2017-04-06 21:21] timabbott commented on #4309
I think we could just add this to the #4395 issue, since the solution is likely to be the same as well.

[2017-04-06 22:25] YagoGG commented on #3097
Reopening this as the CSS fix was reverted due to performance issues.

[2017-04-07 00:54] adnrs96 commented on #4440
@zulipbot claim.

[2017-04-07 03:19] timabbott commented on #4113
This was fixed via #4392.

[2017-04-07 03:19] #4113 closed

[2017-04-07 14:12] #4440 closed

[2017-04-07 19:07] timabbott opened #4453 "Inline image previews are not sorted in the same order as the links"
Apparently, our markdown inline image previews show the images in a random order, not the same order that the links to the images appeared in the message.  This can be quite confusing!

See, for example, https://chat.zulip.org/#narrow/near/186339/stream/design/topic/Starred.20messages.20in.20app

[2017-04-07 19:38] danlaudk commented on #4384
Given that I: have subscribed to (and not muted) a stream, have starred a message, and then muted the topic that the message is in
When I: click on my "starred messages"
I should be able to: see the starred message when i scroll up/down (without having to enter any more keywords)

i missed office hours but will come to next one bc i can't follow

[2017-04-07 19:41] timabbott commented on #4384
You could also just stop by chat.zulip.org and we can chat about it.

[2017-04-07 22:53] #4011 closed

[2017-04-07 23:08] baoqchau commented on #4254
Due to some business, I cannot continue working on this. If anybody have interest, feel free to take a look at this.

[2017-04-07 23:15] #4252 closed

[2017-04-07 23:17] timabbott opened #4455 "Link to /help/ documentation from in-app documentation"
We should link from templates/zerver/markdown_html.html to the more detailed /help/ article on it (and similarly for keyboard shortcuts and search operators).

[2017-04-07 23:17] timabbott opened #4456 "Document multi-level bulleted lists syntax."
Now that #4252 is resolved, we should document the syntax in our markdown help documentation.

[2017-04-07 23:40] lonerz commented on #4254
@baoqchau you can use `@zulipbot abandon` next time :)

[2017-04-08 01:31] lonerz commented on #4455
@zulipbot claim

Where would this link be?

[2017-04-08 04:41] timabbott commented on #2421
I think HTTPS is probably the right way to do this.

[2017-04-08 05:36] synicalsyntax commented on #4456
@zulipbot claim

[2017-04-08 14:31] showell opened #4460 "Split up admin.js into smaller components."
In #4429 I broke out a bunch of smaller modules from `settings.js`, which made it easier to lazy-load "sections."

I intend to do the same with `admin.js`.  This issue will track my work.

[2017-04-08 14:36] showell commented on #4460
One of the PRs that my work will conflict with is #4098, but the main moving pieces there are probably outside of `admin.js`.

Most of the other PRs that touch admin.js also seem relatively easy to re-apply to split out modules.

[2017-04-10 08:19] tejaskasetty commented on #209
@zulipbot unclaim

[2017-04-10 08:23] tejaskasetty commented on #209
@HarshitOnGitHub Since, you have already started, it right for you to claim and finish it.

[2017-04-10 08:37] tejaskasetty commented on #3677
@zulipbot unclaim

[2017-04-10 11:18] kkanahin commented on #2421
@zulipbot claim

[2017-04-10 17:16] glyph commented on #4423
@timabbott - Those releases are unsigned. You should probably fix that. Happily I am savvy enough to dequarantine them but not a course of action I'd recommend for most users :).

[2017-04-10 17:19] glyph commented on #4423
New app version installed. I'll let you know if the issues recur.

[2017-04-10 17:58] brockwhittaker commented on #4443
@zulipbot claim

[2017-04-10 20:35] brockwhittaker commented on #4295
@zulipbot claim

[2017-04-10 20:49] brockwhittaker commented on #4295
The way this is set up would be kind of not great from the perspective that the objects would have to be deep compared since they'd be different objects with the same contents.

[2017-04-10 21:16] brockwhittaker commented on #4201
I think the easy fix to this actually is just to always display the organization settings, but toggle between "Manage organization" (if admin), and "Organization settings" if not.

[2017-04-11 04:37] umairwaheed commented on #1977
working on this.

[2017-04-11 05:34] TomaszKolek commented on #4115
`hellosign` ->  No info about ping event in doc
`helloworld` -> N/A
`heroku` -> No ping event
`homeassistant` -> No ping event in the doc
`iftt` -> No ping event
`jira` -> No ping event in the doc (also I don't remember something like this during the setup)

[2017-04-11 06:00] TomaszKolek commented on #4115
`librato` -> No ping info in the doc.
`mention` -> N/A
`newrelic` -> N/A
`pagerduty` -> No ping event in the doc
`papertail` -> No ping event
`pingdom` -> No ping event

[2017-04-11 06:59] kkanahin commented on #3686
@timabbott Could you  review this PR please?

[2017-04-11 07:25] TomaszKolek commented on #4115
`sempahore` -> No ping info in the doc
`sentry` -> No ping event
`slack` -> No ping event
`solano` -> Test event handler added
`splunk` -> No info about ping event

[2017-04-11 07:33] umairwaheed commented on #4127
Working on this.

[2017-04-11 12:05] abhijeetkaur commented on #3636
Update:

- "Administration" tab has been renamed to "Organization" #4426 #4454.
- View only tabs added for "Authentication methods" and "Users" for non-admin users. #4463

[2017-04-11 18:21] abhijeetkaur commented on #2047
@zulipbot claim

[2017-04-11 23:32] #4201 closed

[2017-04-12 00:07] #4395 closed

[2017-04-12 00:07] timabbott commented on #4309
@misteraverin #4395 was resolved; you should be able to use the same approach (placing the code when a stream is marked as no longer inactive) to solve the similar issue here.  Maybe makes sense to do it while you're at it.

[2017-04-12 04:57] rishig opened #4479 "registration: Reset password form changes in size due to error messages."
To reproduce in the dev environment:
* Go to the login page
* Click "normal login page"
* Click "Forgot password"
* Click on the link in the console
* Put a short password (like `a`)
* Click in another field, like confirm password.

My guess is it has something to do with the error message, since the form changes in size every time the error message changes or appears/disappears.

[2017-04-12 05:31] lonerz opened #4480 "New feature: make navigation in help menu keyboard-friendly"
Help menu can be accessed through the hotkey `?`.

Currently, when we try moving up/down in this menu, it seems to disregarding the help menu and moving the selected message up and down. We want to disable this.

Also, we would like to be able to switch tabs from Keyboard Shortcuts to Message formatting/Search operators by allowing tabbing or navigation with right/left arrows.

Read more [here](ht

[2017-04-12 05:38] umairwaheed commented on #4127
@zulipbot claim

[2017-04-12 05:38] timabbott commented on #4460
@showell can you give #4098 a review?  It would be good to get that moving towards being merged... I'd start with making sure the behavior is right, and then we can work on breaking it up in a way that interacts with this well.