[2017-06-26 23:39] timabbott commented on #5501
I think a "compact sidebars" display option would be pretty reasonable and likely not too much effort to maintain, so I'd be on board with something like this being implemented.

[2017-06-26 23:45] gnprice commented on #5513
Oh neat, that definitely helps -- I hadn't realized that for installing
from a release tarball the situation is so much simpler.

Does that mean the release tarballs already bundle in the other resources
we use like pip packages? I'm not seeing that in e.g.
`build-release-tarball`, but I could easily be missing some logic somewhere.

[2017-06-27 00:31] dhcrzf commented on #3710
Yes.

[2017-06-27 00:57] timabbott commented on #5513
Oops, `pip` dependencies are still separate; it's `npm` and the other static asset stuff that's bundled.  It'd be easy to bundle a `pip` repository, though, since we already have a nice list of all the pinned versions we need.

Edited the notes above for clarity.

[2017-06-27 00:58] cory2067 commented on #5483
Ok, I can give this a shot.
@zulipbot claim

[2017-06-27 02:40] showell commented on #5554
Maybe.  Does this take a ton of topics to reproduce?

[2017-06-27 03:01] rishig commented on #5554
yeah, in the sense that if the topic list doesn't reach below the bottom of the screen, there's no scrolling.

[2017-06-27 03:11] synicalsyntax opened #5586 "docs: Update Git guide with more info on resolving merge conflicts"
The "recover from a pull request failure" section in the [Git guide](http://zulip.readthedocs.io/en/latest/git-guide.html#recover-from-a-git-rebase-failure) can be created to mention that you can run `git fetch upstream; git log -p upstream/master -- foo/bar.py` to see recent changes made to `foo/bar.py`, which comes useful during merge conflict resolving.

[2017-06-27 04:18] umairwaheed commented on #5512
Yeah. @zulipbot claim

[2017-06-27 04:18] umairwaheed commented on #5581
@zulipbot claim.

[2017-06-27 09:08] lauryndbrown commented on #5113
Hi, is this issue still needing someone to work on it? I'd love to help if so.

[2017-06-27 15:06] lonerz commented on #5113
Hi @lauryndbrown, seems like no one is working on this. You can claim tasks with `@zulipbot claim`

[2017-06-27 15:20] vaidap commented on #5113
This is being worked on, just that it's on a private stream & there have not yet been any PRs for it! Sorry for the misunderstanding.

[2017-06-27 15:24] lonerz commented on #5113
Oh, can you go ahead on claim the task then @vaidap

[2017-06-27 15:33] vaidap commented on #5113
sorry about that!
@zulipbot claim

[2017-06-27 15:58] loganmhb opened #5591 "Make saved drafts more visible"
The drafts feature in Zulip is currently hard to find, and it's easy to think that you've lost a draft if you hit the Escape key and don't know that Zulip automatically saves drafts.

Some ideas to make the drafts more visible, per discussion on RC's Zulip stream:
1. Display the number of saved drafts on the drafts button, i.e. `Drafts (123)`
2. Automatically retrieve the most recent draft for a t

[2017-06-27 17:16] sarahcstringer commented on #5489
I do have someone in mind who might want to work on this -- @jgriffith23

[2017-06-27 18:07] #4500 closed

[2017-06-27 18:59] jrowan commented on #5591
+1.  This was a pain point for me when I was first starting to use Zulip; I thought that what I'd typed was just getting deleted every time I switched narrows to find something to quote/link.  We should at least make sure in the in-app tutorial the drafts area is brought up/hotspotted (based on prior experience with email, people might look for it by the Home and Private Messages buttons on the le

[2017-06-27 19:31] showell opened #5595 "Allow message code blocks to be zoomed in a lightbox."
We do a great job of displaying code blocks in messages with color syntax and scroll bars, but if your browser window isn't wide enough, and the code you're excerpting is wide, it's a pain to view the code.

One possible option would be to allow you the user to toggle wrapping on the code block, but I think this would be still kind of ugly for the user, and we mostly try to avoid changing the heig

[2017-06-27 20:19] rishig commented on #778
Thanks for the issue @neerajwahi! Closing, since I think between the realm information on the registration page (planned enhancement), and the ability to add custom invite text (done), this has been resolved.
The followup_day1 email is now being reserved for either marketing text or for explaining topics.

[2017-06-27 20:19] #778 closed

[2017-06-27 20:42] jgriffith23 commented on #5489
Sure, I'll give it a try!

[2017-06-27 20:42] jgriffith23 commented on #5489
@zulipbot claim

[2017-06-27 23:55] #5581 closed

[2017-06-28 00:03] timabbott commented on #5595
This is a great idea.  I think doing a lightbox with an "open" button is probably the way to do it nicely.

[2017-06-28 00:54] gnprice opened #5598 "Error responses should have machine-readable codes, not only messages"
In at least a couple of places in the web frontend, we inspect the message text in an error returned by the server. This is a bug, because error message text gets translated -- many error messages may be shown to the user -- so if the user is using Zulip in a language other than English, the condition will fail.

Two known examples:
[code]

The impact of the first example ("Bad event queue id") is

[2017-06-28 00:58] gnprice opened #5599 "Switching to a narrow clears "Unable to connect" warning box"
While I was experiencing the "Unable to connect" issue described in #5598 (actually "Fehler beim Verbinden", since the issue was triggered by my having the UI set to German), I found that if I switched to a narrow, the warning box went away.

The underlying problem hadn't gone away -- I still didn't get the messages that had been sent since I was last connected -- and the box eventually came back.

[2017-06-28 04:49] dhcrzf opened #5600 "Display year in attachments ui upload time stamp"
The time stamp displayed in a user's Settings => Uploaded files interface includes the month, day and time that the file was uploaded, but not the year.

The function absolute_time() in timerender.js builds the time stamp. It can be easily modified to include the year. This function does not appear to be used anywhere else.

This issue was brought up in #3710.

[2017-06-28 04:49] dhcrzf commented on #5600
@zulipbot claim

[2017-06-28 05:25] umairwaheed commented on #5544
Yeah. @zulipbot claim.

[2017-06-28 05:27] piroor opened #5603 "Impossible "OR" search by PGroonga"
PGroonga (an extension for PostgreSQL to do fulltext search) supports the `OR` boolean operator, but it doesn't work on Zulip because [all search terms are always canonized to lower case](https://github.com/zulip/zulip/blob/master/static/js/filter.js#L191) and PGroonga requires upper cased `OR`.

After I removed the `toLowerCase()` from `Filter.canonicalize_term()`, PGroonga-powered Zulip successf

[2017-06-28 06:35] a4d442663580 commented on #5603
Hmm... The `ISO/IEC 9075*` SQL specification is inaccessible even though it is
an open standard. Though, PostgreSQL says it conforms to ANSI-SQL:2008 [1].

All I can find from the documentation[2]:

However, the requirement level (**may** or **should** or **must**) is not
explicitly stated here.

What are the use cases to justify for case sensitive syntax? If it is to
minimize ambiguity for the pa

[2017-06-28 07:12] piroor commented on #5603
Thank you for research. However I think that the case sensitivity of PGroonga's `OR` operator is outside of SQL specification about operators. PGroonga-powered operator `@@` accepts case-sensitive value like `SELECT * FROM table_name WHERE column_name @@ 'keyword1 OR keyword2'`. (It will be generated [here](https://github.com/zulip/zulip/blob/master/zerver/views/messages.py#L334).) It is similar t

[2017-06-28 08:39] a4d442663580 commented on #5603
I see. Another way to put it, it is a DSL within a DSL.  What I had in mind was
the operator itself being case-insensitive, e.g. `SELECT * FROM table_name WHERE
column_name @@ 'keyword or KeyWord'`.

Since currently Zulip uses PostgreSQL's default fulltext, I think it is
case-insensitive. This is inferred from 1. the fulltext documentation not stating
anything about it[1], 2. the postgres `@@` tes

[2017-06-28 09:31] rht opened #5604 "Automate the WCAG checks for Zulip frontend"
@jmbowman
[stated](https://github.com/zulip/zulip/pull/5064#issuecomment-304468306)
various automated tools that have been used in a11y-ing edX, which differ by
which building-blocks they are built with. It is still an unresolved question on
how to repurpose them for Zulip. There is an implementation trade-off between
writing one from scratch to be Zulip-specific with Casper, or running the checks

[2017-06-28 09:39] piroor commented on #5603
Yes, `@@` provided by PGroonga is incompatible to tsearch's one. The case sensitivity of PGroonga's DLS is originated from its backend (Groonga).

Thus, there are some approaches to solve this problem:

 1) Make PGroonga's DLS compatible to tsearch's one.
 2) Fit Zulip to PGroonga's way when PGroonga is chosen.
 3) Add DSL translator from tsearch to PGroonga.

I think that the 1st approach is hard

[2017-06-28 10:55] #5552 closed

[2017-06-28 16:57] vaidap commented on #5586
@zulipbot claim

[2017-06-28 18:23] HarshitOnGitHub commented on #5451
@timabbott

Yeah the idea is to do an find the places where we are updating things wrongly and correct them.

[2017-06-28 23:02] gnprice opened #5611 "Set up a test install for testing production scripts"
As discussed in #5510, it'd be useful to have a handier way to experiment with changes to production scripts, for things like upgrades, without using a live really-used install like chat.zulip.org. That'd make it easier to more freely experiment with bigger changes to the scripts.

The first version of this will probably be a particular install, perhaps with a name like test.zulip.org, that I set

[2017-06-28 23:15] gnprice commented on #5598
Another thought or two on how these errors should look:
* If we're sending a numerical code, and it also corresponds to an identifier like `BAD_EVENT_QUEUE_ID` that we use in code, we might as well also send that identifier string. This helps make the error code self-explanatory for exploratory development and for very simple clients (like small bots, even shell scripts using `curl`); and for clie

[2017-06-29 03:04] gnprice opened #5612 "pm-with huddle suggestions should prioritize known huddles"
If I've recently had PM conversations with the following groups:
- me + Alice
- me + Alice + Bob
- me + Charlie

then if I start typing a search with `pm-with:`, complete it with Alice's name, and then add a comma for `pm-with:Alice,`, my suggestions may look like
- pm-with:Alice,Greg (i.e., myself)
- pm-with:Alice,Charlie
- pm-with:Alice,Bob

Instead, we should
- filter out the suggestion of Alic

[2017-06-29 04:58] a4d442663580 commented on #5603
(note: views are my own, subject to a mistake; if I am allowed to voice a
statement, which I know I do)

I am sure Zulip developers/community (narrow: the ones who use non-ASCII chars)
do welcome the upgrade to the fulltext search to become crosslinguistic by
default with [P]Groonga.  This is without a full information set if there exists
other solutions (which there isn't, for PostgreSQL, AFAIK).

[2017-06-29 05:18] cory2067 commented on #5612
@zulipbot claim

[2017-06-29 06:36] rishig opened #5614 "user docs: Write a good explanation for "your password is too weak"."
A surprisingly common frustration while registering for Zulip is that our password checker, zxcvbn, will consider someone's password (like `d0nth4ckMe`) too weak, and they won't understand why. I think a good user doc here (that we could link to from the error message) would help a lot.

Suggested content:
title: Why does Zulip think my password is too weak

Zulip uses the zxcvbn password checker,

[2017-06-29 19:29] gnprice commented on #5544
Thanks @umairwaheed ! This is a little trickier to deal with than that commit in #5615 will handle, though -- in particular because translated strings can be multi-line.

For example, with `git grep -PA4 '\{\{\#tr[^{]*$'` I find this example in `static/templates/settings/bot-settings.handlebars`:
[code]

I'm also a bit concerned about the exception that had to be added in that commit -- there'll p

[2017-06-29 19:50] timabbott commented on #5604
I don't expect we'll modify zulipbot to do CI type stuff; Travis is the right place to do that.

I think probably a better approach for this would be to add support for doing some Selenium testing in Zulip s we can use those tools.  Maybe we'll end up deciding to use Selenium more broadly (it is a more widely used stack than Casper).  Especially since for accessibility, a pretty basic test accessi

[2017-06-29 20:32] sarahcstringer commented on #5164
I know a few people who might be interested in working on this in the next few days; I'll have them claim it if so.

[2017-06-29 21:29] timabbott commented on #5591
I think these are all good ideas.  I would personally favor 1+2+3 (plus maybe hiding the drafts UI when there are none there).

[2017-06-29 21:37] hollywoodno commented on #5574
@zulipbot claim

[2017-06-29 21:49] jrowan opened #5622 "UI for messages to oneself is confusing"
I wanted to leave a note for myself such that it would show up when I searched in Zulip, so I sent myself a PM.  It wasn't immediately clear how to do this, since my name was not visible to me in the right sidebar or when I searched for my name in the search box above the user list.  I was able to send a message to myself by going to New Private Message and typing in my name in the "You and:" fiel

[2017-06-29 22:21] timabbott commented on #5598
I think we might want s/code/error_code/, for clarity.  And possible also `s/name/error_name/`.

Having the Queue ID there in the logs when printing these errors is often helpful for debugging, so I'd be tempted to leave it in.

The actual bug with "Bad event queue ID" is pretty serious, so I'd like to get a quick resolution on this.  I might defer adding the `value` field for v1 of the fix, to av

[2017-06-29 22:38] showell commented on #5598
I like `error_name` and `error_code`.

[2017-06-29 22:38] gnprice commented on #5598
Yeah, I've waffled on that. I'd be fine with either way.

I think if we use `error_` prefixes, I'd prefer to put them on all the fields -- so e.g. `error_code`, `error_name`, `error_msg`, `error_value`. Except maybe skip `msg` because a bunch of client code already refers to that. In particular I'm pretty sure I want the names for `code` and `name` to match, because they're different representatio

[2017-06-29 22:43] timabbott commented on #5598
We have the same issue with the Python API bindings, so I think we should try to make the right fix.  I think renaming `msg` to `error_msg` would be fairly unpleasant, so if we feel the need to be consistent, I'd rather make the new fields not have `error_` in them, though maybe pick a better name for "value" (that one seems a bit off for having no prefix).

Arguably, the `error_` prefix is unnece

[2017-06-29 22:47] gnprice commented on #5598
Yep, this is my thinking. If you imagine this JSON blob as representing a tagged union or an algebraic data type, then this is already a record with the `error` type, or data-constructor -- so putting "error" in the field names is redundant. (Though as I said, I'm fine with either way.)

[2017-06-29 22:51] gnprice commented on #5598
Other possible names for the field that has the event queue ID, or stream name, or whatever else that's bad -- in general, the thing that the error is about, often some user input:
* `bad_value`
* `item`
* `subject`
* `data`

[2017-06-29 22:58] synicalsyntax commented on #5622
@jrowan So for a solution to this issue, do you prefer an actual message/notification at the top of the PM with yourself, or a short article in user docs?

[2017-06-29 23:06] franziskagoltz commented on #5164
@zulipbot claim

[2017-06-29 23:31] rishig opened #5623 "streams settings: Don't show deactivated users in stream membership."
We don't deliver messages to deactivated users while they are deactivated. Also see https://chat.zulip.org/#narrow/stream/feedback/topic/deactivating.20users.

[2017-06-30 00:04] showell commented on #5544
We should be able to handle this somewhat gracefully using out template parser.

[2017-06-30 04:17] umairwaheed commented on #5544
Hmm, in that case our `tools/lint` cannot handle this. Like Steve said, I think we should handle this like we handle capitalization. Let me see what I can do.

[2017-06-30 04:29] cory2067 commented on #5622
I'm kind of in favor of just including oneself in the users sidebar, assuming it's worth the tradeoff of the extra clutter.

[2017-06-30 04:46] cory2067 opened #5629 "Message edit history breaks with some large messages"
In particular, see this message: https://chat.zulip.org/#narrow/stream/issues/subject/quote.20autocomplete/near/236165

![image](https://user-images.githubusercontent.com/8433005/27721262-4218c9fe-5d2d-11e7-9260-b64a33e95739.png)

I'm not sure what exactly is causing this to happen. Played around with it for a while and have yet to reproduce it.

[2017-06-30 04:47] cory2067 commented on #5629
@zulipbot label "bug" "area: message-editing"

[2017-06-30 06:03] umairwaheed commented on #5544
New implementation done here: https://github.com/zulip/zulip/pull/5631

[2017-06-30 16:33] jrowan commented on #5622
Including oneself at the top of/somewhere in the users sidebar is what I had in mind.

[2017-06-30 17:29] timabbott commented on #5622
Yeah, we just need to be a bit thoughtful about how we place you with respect to the filter text box.  It's a bit weird for you to be above it, but on the other hand, since our mechanism for the filter box is that enter selects the top match, it may be kinda weird to put you below it as well.  Maybe below is the right answer anyway, since when one filters for anything not matching your own name, i

[2017-06-30 17:44] gnprice commented on #5614
Do you think this will still be needed after we start showing feedback with #5500?

If we've already told the user something like "repeats don't help" that's specifically related to the password they tried, a longer doc may not be necessary or helpful. It'll depend on the quality of those messages and how consistently zxcvbn is able to produce one, which I don't know.

[2017-06-30 17:45] pweaver commented on #5377
See
https://chat.zulip.org/#narrow/stream/backend/topic/webpack.20migration

[2017-06-30 17:55] gnprice commented on #5544
The two examples I mentioned above are still in the codebase -- let's keep this issue open until we've actually eliminated all the known examples of the problem.

I'm a little confused after reading #5631 -- the new `tools/check-frontend-i18n` fails, as it should because the problem is still there:
[code]

But Travis builds seem to be passing.

[2017-06-30 18:01] gnprice commented on #5544
Oh, apologies -- even though the new linter is failing, the issues aren't actually present in the code; they're just still in `static/locale/en/translations.json`, which the linter relies on.

This feels like a sign to me that the linter is working at the wrong stage in a pipeline -- it'll only catch the error after `static/locale/en/translations.json` is updated, which we don't routinely do, so t

[2017-06-30 18:04] rishig commented on #5614
yeah, #5500 was a first attempt to fix this problem. Based on my spot checking, the error messages seem to work well for really weak passwords, but there is a big gap between really weak and our bar of .5.

I didn't check very thoroughly though, and possibly we should be using result.suggestions rather than result.warning (e.g. Tr0ub4dour&3 has three suggestions and no warnings).
https://dl.dropbo

[2017-06-30 18:04] showell commented on #5544
I was actually thinking the same thing, @gnprice, but didn't feel confident enough in my knowledge of the pipeline to articulate it clearly.  I think you're right about this being an issue, and I agree with you that it's probably not urgent to tighten it down, but we should probably at least file an issue.  What do you think, @umairwaheed?

[2017-06-30 19:27] timabbott commented on #5544
I think we just need to run `manage.py makemessages` to update that file in the relevant test.  I bet that's being done inside Travis already due the capitalization test, or something?

[2017-06-30 19:36] showell commented on #5544
The file that's it's checking is under source control, so it's slightly confusing to me that we would be modifying it.

[2017-06-30 20:00] gnprice commented on #5614
​Ah, yeah -- it sounds like we should be showing the suggestions too, then.

For the marketing benefit, I wonder if there's a blog post in here. But I'd
worry some about hanging a big multi-paragraph doc off the main
registration flow -- if a user goes there after their password attempts
have been rejected, they're going to be frustrated, probably not in the
mood to appreciate our security-conscio

[2017-06-30 20:02] timabbott commented on #5544
That file is a generated file, updated by `manage.py makemessages`.  It's in source control primarily to pin a version of the translations data for distribution in releases.  We should potentially think about removing the English copy from source control, since we really only need the non-English versions pinned.

[2017-06-30 20:39] sasma commented on #5623
@zulipbot claim

[2017-06-30 21:38] rishig commented on #5614
agreed about a long doc, I really just mean the 1 paragraph above, maybe with the comic, maybe not. The main thing being an answer to the feeling that "I know my password is strong, I've used it in 10 different sites, zxcvbn's heuristic must be broken".

Which I think is two concepts:
- zxcvbn mimics what a password cracker would do (with no details on what password crackers actually do),
- has no

[2017-06-30 21:56] gnprice opened #5635 "Navigation inside /apps page doesn't work when a language is specified"
If I go to e.g. https://zulipchat.com/es/apps/ for the Spanish-language version of our `/apps` page, I see the iOS tab only and can't change it to another tab of that page -- the sidebar doesn't work, and setting a fragment (like `#android`) doesn't work.

I think the cause of the issue is this check that encloses the relevant logic in `static/js/portico/landing-page.js`:
[code]

Elsewhere in that

[2017-06-30 21:58] gnprice commented on #5635
Seems possibly related to #4842, too.

[2017-06-30 22:01] gnprice commented on #5614
Ah, yeah, I like the idea of a tooltip! Maybe with the crack time inside
that. Let's try something like that, and with the zxcvbn suggestions too,
and see what feedback we get after that.

[2017-06-30 22:31] showell commented on #5544
I think that would be a good idea.

[2017-06-30 23:07] gnprice commented on #5598
Thinking more about it, let's skip finding a generic name for "the thing the error is about that's bad" -- instead, for errors that have such a thing, they should pick an appropriate name and fill a field with that name. This is what the [Amazon S3 API](http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html) does, and it seems like a pretty reasonable idea. A client should only be atte

[2017-06-30 23:45] rodrigc opened #5639 "[Integration] Create a buildbot reporter for zulip"
It would be good to have [Buildbot](https://github.com/buildbot/buildbot) reporter that sends notifications to Zulip.
There are already reporters for IRC and Hipcat:
     http://docs.buildbot.net/latest/manual/cfg-reporters.html

[2017-06-30 23:50] gnprice commented on #5544
Yeah, when I run `tools/travis/backend` locally, I find that all the `translations.json` and `django.po` files have been modified, in a way that looks like `makemessages` ran.

... In fact, from a grep of the source, that appears to be an undocumented side effect of `tools/check-capitalization`.

I now understand why this check is failing on its own and passing in Travis, and it should catch new c

[2017-06-30 23:50] #5544 closed

[2017-06-30 23:55] gnprice opened #5640 "Translation linters should work on a clean checkout, and not modify version-controlled files"
As discussed [on #5544](https://github.com/zulip/zulip/issues/5544#issuecomment-312334693), our linters should
* work correctly on a clean checkout and dev environment, without any undocumented other requirements like having already run `manage.py makemessages`; and
* not leave behind changes that are significant to Git and the developer has to clean up, by modifying files that are in version cont

[2017-07-01 00:04] franziskagoltz commented on #5164
I completed the feature request, but noticed references to  "mandatory_topics"/"realm_mandatory_topics" in the code after I completed the work. I used a different variable name. A checkbox has never been created and it was not part of the property types framework -- should I go ahead and delete these references or submit the feature as a WIP?

[2017-07-01 00:35] gnprice opened #5643 "Remove `local_settings.py` as it gets gradually more out of date"
This file is increasingly diverging from reality as we don't maintain it, and mainly serves to confuse people developing changes to Zulip that affect settings. See https://github.com/zulip/zulip/pull/5607#issuecomment-312146012 for more discussion.

At a quick grep, I think the only code that at all cares about that file is this in `scripts/upgrade-zulip-from-git`:
[code]
which is probably not som

[2017-07-01 02:35] rishig opened #5645 "models: Remove reliance on short name in non-subdomains case."
We should remove our reliance on `Realm.string_id` in the non-subdomains case, so that you don't have to create a string_id (or "Short name") at the time of realm creation.
At minimum, this means
* Parts of the code that use Realm.string_id just to pass around a Realm object should either pass around a Realm or Realm.id instead.
* Management commands should take a `--realm` argument that can be ei

[2017-07-01 03:50] akhilmd commented on #595
@zulipbot abandon

[2017-07-01 04:53] timabbott commented on #5643
Yeah, that sounds correct.

[2017-07-01 05:05] timabbott commented on #5164
@franziskagoltz after a quick skim of the code, I think that `mandatory_topics` variable probably actually has some ancient code that implements the database part of the setting, just there's no UI for it (we used to have several crufty half-implemented settings like this; I'm a little surprised this one still exists).  Is that what you're seeing?  I think the `mandatory_topics` field name is reas

[2017-07-01 09:04] siepkes commented on #716
Bonus points for implementing SAML single logout besides single login ;-). I might take a crack at this if we decide to deploy Zulip internally. As for implementation the Python OneLogin library might be well suited for this: https://github.com/onelogin/python-saml . I found their Java library very easy to work with. Since SAML is such a complicated protocol it's easy to make mistakes so an easy t

[2017-07-01 16:01] timabbott commented on #716
Yeah, we definitely want to use a library.  I'd love to see this happen and would be happy to provide advice for your work on this.  The main place in the code you'll want to work in is the auth backends code `zproject/backends.py`; any additional views needed by SAML would live in `zerver/views/auth.py`.

Ideally, we'd be able to make it web-configurable (as opposed to something where one needs t

[2017-07-01 18:14] #5555 closed

[2017-07-01 18:28] #5185 closed

[2017-07-01 20:20] feorlen opened #5650 "clean prod install: "No module named backends.smtp" and "server closed the connection unexpectedly""
This is with a tarball generated last night from master.

I'm getting these two exceptions every few minutes, starting immediately after creating my organization. I'm using the same configuration in settings.py I always use, except now I don't have to provide a DEFAULT_FROM_EMAIL and the email backend is already enabled. Everything else appears to be working correctly and I'm receiving emails as e

[2017-07-01 23:59] rishig opened #5652 "emails: Personalize reply-to of missed messages."
With the right configuration, replying to a missed message email sends a Zulip into the appropriate stream/PM/Group PM.

We should populate the reply_to name with an appropriate thing in each of the three cases. This is done with the `reply_to_name` variable in `create_missed_message_address` in `zerver/lib/email_mirror.py` (builds upon #5540, in case that is an open PR at the time that you're rea

[2017-07-02 14:58] feorlen commented on #5650
I left it running and stopped getting these emails around 23:45 local (pacific) time. Also, rabbitmq crashed/stopped responding (also starting about then) and I had to restart it. (It looked like Zulip restarted, as expected, at 6:00 gmt.)

The rabbitmq log started doing this shortly after the scheduled restart, but it had been going on all night already
[code]

[2017-07-02 16:38] rishig opened #5655 "referral: Delete all code touching do_refer_friend."
It's called by the following legacy url: url(r'^json/refer_friend$', zerver.views.invite.json_refer_friend), which is used in referral.js by a #referral-form that I think no longer exists.

The code for this is in a bunch of different files -- you'll want to make sure to remove the relevant html, css, and javascript for the referral box, the url end point, the views function, any python code that

[2017-07-03 04:26] h6pham8 commented on #5075
@zulip abandon

[2017-07-03 04:26] h6pham8 commented on #5075
@zulipbot abandon

[2017-07-03 08:48] vbNETonIce commented on #5553
I agree with listing all people with unread PMs first and then active and inactive users.

[2017-07-03 14:10] #5640 closed

[2017-07-03 15:05] #5556 closed

[2017-07-03 17:23] #5635 closed

[2017-07-03 17:24] TomaszKolek commented on #5639
@zulipbot claim

[2017-07-04 03:04] cory2067 opened #5672 "integrations: Add Dropbox integration."
It seems fitting for us to support a Dropbox integration!
The Dropbox API supports webhooks to notify when a file has been modified, which could be potentially useful for organizations with shared files.

If anyone has any other suggestions for what such an integration could do, let me know.

[2017-07-04 03:05] cory2067 commented on #5672
@zulipbot claim

[2017-07-04 13:23] vaidap commented on #5655
@zulipbot claim

[2017-07-04 17:21] srimukhsai commented on #5259
Not sure if this is the right place to post this, but there seems to be a similar problem with the close sidebar icon 'X'. Happens on Chrome and Firefox on Android.
![screenshot_20170704-224339](https://user-images.githubusercontent.com/4338312/27838891-1c6ff646-610b-11e7-8fab-16694aa6679f.png)

[2017-07-04 19:03] timabbott commented on #5259
@brockwhittaker can you investigate?

[2017-07-04 20:18] #1472 closed

[2017-07-04 21:09] #5164 closed

[2017-07-04 21:12] timabbott opened #5675 "Document new "mandatory topics" setting"
We need want to create a /help/ guide for this new setting (see #5660).  http://zulip.readthedocs.io/en/latest/user-docs.html documents how to do this.

While we're at it, we should think about whether we should recommend it anywhere else in our documentation.  @rishig thoughts on that second question?

[2017-07-04 21:50] timabbott commented on #3880
090d7487cf9a065fa41cfd5245009a10362522d4 I think was the fix.

[2017-07-04 21:57] timabbott opened #5676 "Eliminate use of `HTTP PUT` method when we don't mean it"
We have a few places where we're using a `PUT` HTTP method where the endpoint isn't actually idempotent.  This causes exceptions when things are automatically retransmitted by the browser incorrectly.   The main ones are:

[code]

[code]

[code]

[code]

3/4 of these are because we're uploading a file and we should just change to `POST`; the alert_words one is more interesting (but also hasn't bee

[2017-07-04 22:31] timabbott opened #5677 "Add rate limiting to the login and password change processes"
Zulip historically has relied on strong password strength requirements (strong enough to protect against)

But it seems like a clear improvement to add (ideally) both target-user-based and IP-based rate limiting on attempts to check passwords in Zulip.  We should look into whether Django has a good library for this, but I'd be tempted to roll our own thing unless a library makes it easy to handle

[2017-07-04 22:39] timabbott commented on #5650
@feorlen did you install a fresh machine?  The rabbitmq errors, at least, look like what happens if `scripts/setup/configure-rabbitmq` wasn't run (aka the 'zulip' user's password hasn't been setup).

[2017-07-04 22:40] timabbott commented on #5650
I think your actual problem is that your database is down (and maybe also something about the virtualenv being accessible from queue processors), and that exception is being masked by other errors.  Maybe this machine has too little RAM?  I'm not sure, but it seems like a very broken installation.

You probably will want to make sure all the third-party services (postgres, etc.) are working and th

[2017-07-04 22:40] #5650 closed

[2017-07-04 22:41] timabbott commented on #5650
(This seems unlikely to be a code issue, so removing the bug tag).

[2017-07-04 22:48] #5586 closed

[2017-07-04 22:49] synicalsyntax opened #5678 "user docs: Information on changing organization settings is outdated"
Our user docs are very outdated in the fact that most of our organization settings formerly located at `#organization/organization-settings` have been moved to the `#organization/organization-permissions` page; most of our docs still point to those pages when they should be pointing to the permissions page instead.

Additionally, several new organization settings have been added and should be docu

[2017-07-04 22:59] timabbott commented on #5678
Yeah, good point.  The "organization permissions" piece we should at least treat as a high priority.

[2017-07-04 23:08] timabbott commented on #5538
This is a priority issue that we'll want to include a fix for in a point release soon.

@hlieberman what happens when one of these users tries to register -- is there an error message?  I'm not entirely sure in which code path the reported bug is.

I believe this involves the `settings.POPULATE_PROFILE_VIA_LDAP` code path in the registration flow, details on an error message or what appears in the

[2017-07-04 23:09] timabbott commented on #5545
That plan sounds good.  @umairwaheed since you've done work on this caching system, can you take this one?

[2017-07-04 23:13] #5600 closed

[2017-07-05 01:27] refeed commented on #5216
@zulipbot abandon

[2017-07-05 02:56] cory2067 commented on #5591
@zulipbot claim
I especially like #2, so will focus on that one first.

[2017-07-05 03:58] umairwaheed commented on #5677
Yep. @zulipbot claim.

[2017-07-05 05:21] umairwaheed commented on #5545
Sure. @zulipbot claim.

[2017-07-05 09:15] vaidap commented on #5655
was wondering if all of the `#share-the-love` in the left sidebar & its associated contents can be removed?

[2017-07-05 11:29] hackerkid commented on #5676
@zulipbot claim

[2017-07-05 14:22] feorlen commented on #5650
This is my usual test machine, which is now running with 2GB of ram. If it happens again next time I install, I'll see what new details I can find.

[2017-07-05 16:37] timabbott commented on #5655
Yep, that should be removed as part of this effort as well (it's the frontend for this feature).

[2017-07-05 17:14] jrowan commented on #5652
@zulipbot claim

[2017-07-05 17:39] timabbott commented on #5598
I think that proposal sounds good.

[2017-07-05 18:04] timabbott commented on #5524
Yeah, I'm actually not confident that there's a current problem here.  We may want to consider changing our system to use `zulip@127.0.0.1` as the nodename in new installs for extra safety.  I think it's worth testing that, and if it works, we can probably delete mention of `/etc/hosts` as a potential issue.

But the "broken /etc/hosts" configuration referenced by that issue was generally related

[2017-07-05 18:13] timabbott commented on #2058
I think we fixed this in the main registration flow, but it's still present in realm creation and docs:

[code]

We should probably just fix this, since it seems really quick.

[2017-07-05 18:33] showell opened #5688 "Fix left-sidebar issue with inactive -> active changes."
When a stream has gone idle for a while, and it's not newly subscribed, `stream_data.is_active()` will return `false` for streams, and we will gray out its sidebar row.  If a new message comes in, it causes `recent_topics` to have data in `stream_data.js`, and it causes `is_active()` to return `true`, which is all good.  Unfortunately, we don't trigger UI changes on this transition.  We need to fi

[2017-07-05 18:52] #5675 closed

[2017-07-05 19:03] rishig commented on #5675
I think this is probably a "power-realm" setting, at least for now. So probably wouldn't add it to our reaml onboarding documentation.

[2017-07-05 19:04] timabbott commented on #5574
@hollywoodno any luck on this?  If you'd like help, @hackerkid may have some tips since he built the feature originally.

[2017-07-05 19:11] hollywoodno commented on #5574
Actually I am just getting started. I am looking into the JS code for
composing messages. This shouldn't be a complicated fix. However if this
issue is high priority he/she may takeover. I have to work on this around
my schedule, so I have no problem with working on an issue with less
priority.

On Wed, Jul 5, 2017 at 12:04 PM, Tim Abbott <notifications@github.com>
wrote:

[2017-07-05 19:16] hollywoodno commented on #5574
My progress so far is that I see in the compose.js file that there is an
*enter_with_preview_open* function where messages are sent from the preview
box. I imagine that a simple check for an empty message box should be done
there prior to sending the message. I will work my way around from there.

On Wed, Jul 5, 2017 at 12:11 PM, ajr m <hollywoodno@gmail.com> wrote:

[2017-07-05 19:20] timabbott commented on #5675
OK, I think that this is resolved then with the new use doc.

[2017-07-05 19:22] timabbott commented on #5688
This one looks pretty bad.  @cory2067 if you're interested in starting to work through our sidebar issues, this is probably a good one to start with.

[2017-07-05 19:26] showell commented on #5194
So the scope of this ticket is basically steps 1-5 above (see Tim's message), which I'll summarize:

* add new DB fields
* write zerver.lib.messages.add_missing_messages (w/tests)
* invoke add_missing_message when user returns
* have do_send_messages do short circuiting
* think about digest emails

I'll split out the later steps to another ticket.

[2017-07-05 19:36] showell opened #5689 "Automate user soft-deactivation/re-activation."
This ticket splits out some tasks that were originally part of #5194.  We can have two people working mostly in parallel on the effort of user soft-deactivation.  The tasks in #5194 focus mostly on a manual solution where we flag users as idle using database updates.

This issue talks about further automation:

-  [x] Add a cron job management command that finds all non-bot active user accounts th

[2017-07-05 20:01] #4750 closed

[2017-07-05 20:22] brockwhittaker commented on #5259
Should have been fixed in #5347. Was that commit in at this point?

[2017-07-05 20:23] #4028 closed

[2017-07-05 20:26] timabbott commented on #5259
That may not have made it out to zulipchat.com yet.  @brockwhittaker if you can confirm it no longer exists in chat.zulip.org/hello, I think we can close.

[2017-07-05 20:30] timabbott commented on #5574
Sounds good!

[2017-07-05 22:16] timabbott opened #5692 "Realm emoji should use absolute URLs when referenced in missed-message emails"
If you PM someone with a realm emoji in the message, the URL it generates for the missed-message email is like this:
[code]

Which of course is a broken link, because it's being included in your email, and that doesn't have the same server as your Zulip server.

We need to use absolute URLs here.

I feel like this might be a regression.  @HarshitOnGitHub can you look into this one?

[2017-07-05 22:18] HarshitOnGitHub commented on #5692
@zulipbot claim

[2017-07-05 22:27] timabbott opened #5693 "/for/open-source/ page CSS isn't quite right"
With a moderately wide screen, things get misaligned in the responsive CSS:

![image](https://user-images.githubusercontent.com/2746074/27887588-56c5e7e8-6196-11e7-8aaa-225081e2bbd0.png)

[2017-07-05 23:30] showell opened #5695 "Rename Dict.setdefault()."
The function setdefault() in Dict is kind of confusing to read, because it's not clear that it only sets a default if the value is missing.  We should debate possible variations on chat:

* children.setdefault(name, []); // current way to do it
* children.set_or_get(name, []);
* children.set_or_get({key: name, default: []);
* other possibilities?

Once we we get consensus, we can sweep the code to

[2017-07-05 23:54] timabbott commented on #5695
I think what we have is exactly the interface of the `setdefault` method in Python, which I'm guessing is where the name came from.  The function would just be called `set` if it set the thing unconditionally.  I think `get_or_set` is another name I've seen for this sort of thing, but I'm not sure it'd be clearer.

[2017-07-06 00:15] timabbott opened #5696 "Deduplicate realm and display_settings sections of server_events_dispatch.js"
One thing to keep in mind while doing this is that our long-term goal is that everything will probably do something beyond just editing `page_params` to rerender UI (etc.), but I think the `page_params` editing part is probably automatable.

@sarahcstringer FYI this is one of the #5660 follow-ups.

[2017-07-06 00:18] timabbott opened #5697 "Decrease the number of semi-duplicated translateable strings involved in settings"
Each new setting ends up having several semi-duplicated translateable strings (for the setting itself, the notification that you changed it, the title, etc.).  We should think about whether there's a way to avoid creating so many strings for each checkbox.

See #5660 for details.

[2017-07-06 00:21] timabbott commented on #3854
@sarahcstringer I think probably you should take over #5023.  Also mentioning #5696 and #5697.

[2017-07-06 00:23] jackrzhang commented on #5693
@timabbott Can't seem to reproduce this. On which device(s) / around how many pixels in width is this occurring?

[2017-07-06 00:25] timabbott commented on #5693
Hmm, I'm having a hard time reproducing this now too.  Though, the Zulip logo's position doesn't stay fixed as one resizes in a kinda odd way, that makes me think something is broken.

[2017-07-06 00:33] showell commented on #5695
Yeah, if we can't come up with a clearly superior name, we can close this.  This came up when @adnrs96 and I were looking at some code.  The `setdefault` idiom is something that not all programmers know about it.  But the function is definitely useful, because it's hard to write the idiom in a non-clumsy way without the helper.

[2017-07-06 00:38] brockwhittaker commented on #4746
I was looking at this: http://jsfiddle.net/Javarome/DQJJW/1/

https://stackoverflow.com/a/23594455

I don't know if this is a better solution however.

[2017-07-06 06:31] timabbott commented on #5405
Merged via #5642, thanks @tommyip for doing this!!

[2017-07-06 06:31] #5405 closed

[2017-07-06 09:12] vadi2 opened #5701 "Optimise users display list"
One of the issues we're facing at [chat.fhir.org](https://chat.fhir.org) is that the users list is huge and makes the whole webapp lag annoyingly. Filtering the list down to nothing with jibberish [improves responsiveness](https://chat.fhir.org/#narrow/stream/social/subject/Make.20your.20Zulip.20snappier).

Perhaps Zulip could consider not displaying the full user list until someone is actively se

[2017-07-06 09:23] vaidap commented on #5655
thanks for the clarification!

[2017-07-06 10:34] vaidap commented on #4746
thanks for those! i was thinking of going for something like https://jsfiddle.net/dPixie/byB9d/3/light/, but ended up taking a simpler solution where the header is simply a table outside of the scrolling div. (see #5663).

[2017-07-06 10:56] tommyip commented on #198
Anyone working on this? If not @zulipbot claim

[2017-07-06 11:50] tommyip commented on #5701
See also #728.

[2017-07-06 15:18] #5305 closed

[2017-07-06 15:21] #5316 closed

[2017-07-06 16:33] timabbott commented on #5701
@vadi2 we fixed this some time ago, so I bet the problem is that you're running an old version of Zulip.  Zulip 1.6 has some major improvements to the user list performance for the many-inactive-users cases present in chat.fhir.org.

@jmandel what version are you folks running?

[2017-07-06 17:26] jmandel commented on #5701
We're still on 1.5.1. Planning to upgrade mid-July...

[2017-07-06 17:40] timabbott commented on #5701
Cool.  You'll find perf for an organization like yours to be way better on 1.6.  Closing this issue since we technically already fixed it :)

[2017-07-06 17:40] #5701 closed

[2017-07-06 18:52] timabbott commented on #5395
@derAnfaenger just checking in on this; I think maybe we're actually done with it?

@showell can you confirm?

[2017-07-06 18:57] showell commented on #3365
moved to https://github.com/zulip/python-zulip-api/issues/1

[2017-07-06 18:57] #3365 closed

[2017-07-06 19:04] showell commented on #4509
Moved to new repo: https://github.com/zulip/python-zulip-api/issues/3

[2017-07-06 19:04] #4509 closed

[2017-07-06 19:07] showell commented on #4960
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/4

[2017-07-06 19:07] #4960 closed

[2017-07-06 19:12] showell commented on #4975
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/5

[2017-07-06 19:12] #4975 closed

[2017-07-06 19:16] rishig opened #5707 "confirm_continue_registration: Make text less scary."
The text here
![image](https://user-images.githubusercontent.com/890911/27928684-0f3e6a26-6245-11e7-9735-5fec51797b08.png)

should just be "Did you mean to register instead?"
And then the two buttons can be "Continue to Registration" and "Go back".

You can get to the page by trying to log in with an email address that doesn't exist. The relevant file is `templates/zerver/confirm_continue_registra

[2017-07-06 19:26] showell commented on #5152
moving to new repo:

https://github.com/zulip/python-zulip-api/issues/6

[2017-07-06 19:26] #5152 closed

[2017-07-06 19:30] showell commented on #5359
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/7

[2017-07-06 19:30] #5359 closed

[2017-07-06 19:32] showell commented on #5360
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/8

[2017-07-06 19:32] #5360 closed

[2017-07-06 19:35] showell commented on #5395
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/9

[2017-07-06 19:39] showell commented on #5395
moved to new repo:

https://github.com/zulip/python-zulip-api/issues/9

[2017-07-06 19:39] #5395 closed

[2017-07-06 20:06] jrowan commented on #5707
One other confusing thing I saw when I was dealing with this text: I was already on the `/register` url, chose "sign up with Google" and I was given the button to "Continue to registration?", which seemed like a bug (I was already on the registration page when I clicked "sign up with google", why am I being told to continue to registration?)

[2017-07-06 20:07] timabbott commented on #5707
Yeah, I think there's a secondary bug here, where if the server is in a situation where one needs an invitation to join (as that one is), we shouldn't be offering registration options as all, but instead just providing a notice that "this organization requires an invitation to join".  Probably a separate issue, though.

[2017-07-06 20:49] timabbott commented on #2058
I think given the context of realm creation, we don't even need a conditional, we just just remove the word "work".  @rishig can you make sure this one gets taken care of?

[2017-07-06 22:08] adnrs96 opened #5712 "Weird behaviour with mentioning users and a PR using #directive in a single message."
I have been seeing this issue from sometime now. What happens is when you mention a user and a PR number in the same message (or maybe a two consecutive messages as well, remember happening), the name of the person mentioned repeats itself in a weird way in the entire message body. Attaching a gif to get the reader a taste of what's happening.

![output_dlflis](https://user-images.githubuserconten

[2017-07-06 22:10] showell commented on #5712
This is probably just a bug with the JS side markdown processor, and we can probably produce a failing test in `frontend_tests/node_tests/markdown.js`.  Fixing the actual parser bug might be tricky, depending on how strange the bug is.

[2017-07-06 22:17] rishig opened #5714 "onboarding: Don't show registration options if the realm/server requires an invite."
If there's nothing the user can do to sign up, we should replace what's current on our `/register` page with something that suggests the user ask their organization admin for an invite.

[2017-07-07 00:40] #5180 closed

[2017-07-07 00:58] #5184 closed

[2017-07-07 02:28] jmandel opened #5716 "Highlight the new "Manage Organization" features in docs"
Now that Zulip has a web UI for configuring org-level setttings like name, description, and logo, it would be good to highlight how this works in the docs. Some specific ideas:

* Include an overview of org-level config in https://zulipchat.com/help/getting-your-organization-started-with-zulip

* Add inline docs indicating that the org "description" can be Markdown

[2017-07-07 03:13] #2058 closed

[2017-07-07 04:09] adnrs96 opened #5719 "Is chat.zulip.com down???"
I have been witnessing weird behaviour and minutes ago the site started showing 502 Bad Gateway.
Is this just me?
It opens up in between some times, though.

[2017-07-07 04:15] lonerz commented on #5719
It's alright for me, but EVERYONE is offline

[2017-07-07 04:15] lonerz commented on #5719
![screen shot 2017-07-06 at 5 31 55 pm](https://user-images.githubusercontent.com/12992571/27942990-49be61ba-6290-11e7-9ad7-c4725384928f.png)

[2017-07-07 04:16] lonerz commented on #5719
![screen shot 2017-07-06 at 9 15 33 pm](https://user-images.githubusercontent.com/12992571/27942993-501b4442-6290-11e7-9a7f-641ee083d090.png)

[2017-07-07 04:33] synicalsyntax commented on #5719
It's down for me.

[2017-07-07 05:04] timabbott commented on #5719
Ahh, it appears that it ran out of disk, due to buggy logrotate configuration.

[2017-07-07 05:05] timabbott commented on #5719
Should be happy again now.

[2017-07-07 09:00] vaidap commented on #1901
what is the status on this issue -- have we decided on on how go about this?

[2017-07-07 09:22] adnrs96 commented on #5719
ahh, I guess it might be related so, I have kind of stuck messages now.
Did you received a PM from me @lonerz [link](https://chat.zulip.org/#narrow/pm-with/joshuapan8.40gmail.2Ecom.2Cadi.2Ebansal241996.40gmail.2Ecom/near/244918.2E03)
and @timabbott [link](https://chat.zulip.org/#narrow/pm-with/tabbott.40zulipchat.2Ecom.2Cadi.2Ebansal241996.40gmail.2Ecom/near/244918.2E02).

If I now click page sour

[2017-07-07 12:18] HarshitOnGitHub commented on #5712
Possibly duplicate of #4074.

[2017-07-07 12:27] adnrs96 commented on #5712
seems like it thanks for tracking it down @HarshitOnGitHub

[2017-07-07 14:56] showell commented on #1901
I still think we should do a bot for this.  I'll mention it on the integration stream.

[2017-07-07 16:23] jrowan opened #5722 "developer docs: strange context given for a search"
I searched the developer docs for the phrase "email mirror," and I got the following result:

<img width="960" alt="screenshot 2017-07-07 12 08 59" src="https://user-images.githubusercontent.com/5571464/27966827-a88fa414-630e-11e7-8255-916e50775313.png">

Getting almost the entire page in the context for where the search term was found was a little weird/unhelpful.  I'm not sure what's causing thi

[2017-07-07 16:32] lonerz commented on #5719
No I did not? @adnrs96

[2017-07-07 16:46] vaidap commented on #5722
Could this be due to the large code block the search term is in? (thinking of something indirectly related to [this](https://github.com/rtfd/readthedocs.org/issues/2427)?) It would be helpful to know how the context snippets are generated.

[2017-07-07 16:56] adnrs96 commented on #5719
yeah I figured it. Basically during the time site was down any messages that were sent have ended up in some sort of a stuck state. Now I have few messages that haven't been delivered but are stuck somewhere in backend.
The links I posted are for such messages. Also such message seems to have broken functionality.
@lonerz @timabbott

[2017-07-07 16:57] timabbott commented on #5722
I think we don't have a lot of control over the search feature (it's ReadTheDocs' built-in search).  But given that we're only seeing this in one place, it does make me wonder whether there's something wrong with the syntax for that page.

[2017-07-07 16:58] shane-kearns opened #5724 "Log rotation settings in supervisor.d keeps too much data"
The zulip installation guide recommends a 10GB disk.
The puppet configuration for supervisor (/etc/supervisor/conf.d/zulip.conf) is set to rotate logs at 1GB and keep 10 copies of each log.
See https://github.com/zulip/zulip/blob/940cf9db3b42ed41ededa3d580370f5ef0214a51/puppet/zulip/templates/supervisor/zulip.conf.template.erb
This will eventually fill the disk with logs - my installation is a VM

[2017-07-07 16:58] timabbott commented on #5719
I'm not sure if I've seen that particular exception before, but yeah, it's a known problem that if the server is broken in certain ways, one gets confusing behavior.  There's an open PR for fixing that.

[2017-07-07 19:14] #5612 closed

[2017-07-07 19:20] #4746 closed

[2017-07-07 20:08] timabbott opened #5726 "Expand clean-venv-cache and clean-npm-cache to be usable in production"
I found on chat.zulip.org (probably the Zulip server deployed the most often) 8GB of old virtualenvs and 4GB of old `node_modules` directories, which is a lot of disk to be used by old copies of dependencies.

I ran the clean scripts to clean this up; the `venv` one worked fine (though I think ideally it would iterate through all non-purged deployments (from listing `/home/zulip/deployments/`) whe

[2017-07-07 20:13] timabbott commented on #5724
I did a few quick changes to the logging configuration to:
(1) Avoid having huge limits for files that don't grow very big (e.g. individual queue worker logs)
(2) Also limit the total size of those files that do grow quite larger, like django.log and tornado.log.

The net effect is that 5GB should be more than enough for Zulip's logging requirements (leaving 5GB or so for the database, etc.).

It'

[2017-07-07 20:13] #5724 closed

[2017-07-07 20:13] jmandel opened #5727 "Keyboard shortcuts for "search people", "search streams" reversed?"
key | function
-- | --
q | Search people
w | Search streams

This feels backwards to me — on a QWERTY keyboard, "q" is left of "w", but "Search people" is on the right of Zulip's interface, and "Search streams" is on the left. (I'm guessing that some *other* mnemonic is in play here, and if so I'd love to know it.)

[2017-07-07 20:24] timabbott commented on #5727
Hmm, that's a good thought.  Yeah, I would be on board with swapping these to be more intuitive.

[2017-07-07 21:59] #5655 closed

[2017-07-07 22:08] timabbott commented on #5716
Yeah, this would be a great improvement.  Tagging it as a priority because this is a new and valuable featureset that would be great to have more clearly documented.

[2017-07-07 23:34] #5512 closed

[2017-07-07 23:37] timabbott commented on #908
@rht it probably makes sense to upgrade `zulip_slack.py` to have your improved code for users/channels; can you submit a PR to do that?  I think message history we'll want to create some sort of admin API for.

[2017-07-08 01:00] timabbott commented on #735
This feature is as of a few weeks ago implemented, though I think we have a lot of work to do on improving the UI and documentation around it (which can be their own issues).  @synicalsyntax if you're interested in beta testing, @vabs22 can help you get setup.

[2017-07-08 01:00] #735 closed

[2017-07-08 01:13] timabbott commented on #1028
Yeah, I think that's a good approach.  We can list a few high-level concepts (e.g. in Zulip, "which environment" is mostly about dev vs. production, and if production, whether it's an old version).

And then link to a few documents; the two you suggested are both better than the one I found.  @eeshangarg are you aware of good resources from OpenHatch on this topic we might want to link to?

I thin

[2017-07-08 01:41] timabbott commented on #4799
We did some CSS changes; @lonerz can you check if this still happens for you?

[2017-07-08 01:43] lonerz commented on #4799
Seems like it doesn't happen anymore! Closing.

[2017-07-08 01:43] #4799 closed

[2017-07-08 01:47] timabbott commented on #4785
@hackerkid I think you might have the context required to add i18n to this page since you just did that for the password forms?  Don't worry about actually adding translation tags to everything, since I think the actual strings on the page we'll want to redo capitalization on; we just need the framework in place.

[2017-07-08 02:23] #1663 closed

[2017-07-08 02:27] timabbott commented on #5428
Closing since this seems like a browser bug, but if other folks see this, feel free to comment and we can reopen!

[2017-07-08 02:27] #5428 closed

[2017-07-08 02:39] timabbott commented on #5722
Opened https://github.com/rtfd/readthedocs.org/issues/2995 for this issue, since I think it's a bug in the ReadTheDocs search algorithm.  Thanks for the report @jrowan!

[2017-07-08 02:39] #5722 closed

[2017-07-08 02:40] timabbott commented on #5301
Tagging this as a priority since it's one of our few known regular exceptions in production.

[2017-07-08 02:53] timabbott commented on #5437
Thanks for the report @shane-kearns!  This is super helpful context; I'm not yet sure what the best solution is for making this work for both you and our existing default model (ideally, we wouldn't require some new arcane configuration).

[2017-07-08 02:58] timabbott commented on #198
Go for it @tommyip!  Make sure to read the discussion in #4590, and keep in mind that directionally, we probably want the message editing implementation to share code with the compose implementation to the extent possible.  So it might make sense to have this lead with some refactoring to support that goal.

[2017-07-08 03:57] #5399 closed

[2017-07-08 03:57] #5400 closed

[2017-07-08 07:49] rht commented on #908
The script does 100% data-data restructure surgery, with no API calls. It would make more sense if there is `util/` repo for this purpose.

[2017-07-08 08:03] rht commented on #908
DB operations suffice if these are to be done locally in the machine rather than from an API. Also, this message history functionality won't be used in Slack meta-integration's case since they are for fresh new messages rather than the old ones.

[2017-07-08 08:04] rht commented on #908
The script can be iterated much more quickly if there is a guinea pig slack user willing to test the script.

[2017-07-08 09:39] abhijeetkaur opened #5731 "Change the default tab in #settings/your-bots to "Active bots" instead of "Add a new bot". Redirect to "Active bots" tab on creating a new bot."
This is a follow-up task for #5096. As creating a new bot in "Add a new bot" tab, shows an empty form. This  might be mistaken by users to think that the new bot didn't get created.

For clarity of the situation and confirmation for the user that the bot got created, we intend to switch tab to "Active bots"

[2017-07-08 09:58] abhijeetkaur commented on #5731
@zulipbot claim

[2017-07-08 14:42] jmandel commented on #2185
How much of this is obviated by the convenience of "Sign in with Google", "Sign in with GitHub", etc? Like, if we just gave users an e-mail or SMS with a link that opened Zulip and pre-filled the server field, that might go a long way toward simplifying sign-in.

Assuming there's a deeper need,  I'd separate out two cases:

1. Slick process for authenticating on mobile for users who *already have

[2017-07-08 14:56] hackerkid commented on #4785
@zulipbot claim

[2017-07-08 17:55] #5692 closed

[2017-07-08 18:37] timabbott commented on #3893
1.6 was released some time ago, so closing this.

[2017-07-08 18:37] #3893 closed

[2017-07-08 18:45] timabbott commented on #5259
@srimukhsai can you confirm the issue is resolved on chat.zulip.org/hello?

[2017-07-08 18:46] timabbott commented on #5052
This was fixed in #5500; looks like we forgot to close it when that was merged.  Thanks again @hackerkid!

[2017-07-08 18:46] #5052 closed

[2017-07-08 20:04] HarshitOnGitHub commented on #5018
Possibly duplicate of #5712 and #4074.

[2017-07-08 21:31] #5731 closed

[2017-07-09 01:29] srimukhsai commented on #5259
@timabbott the x icon still seems to be treated as text, and is selectable

![](http://i.imgur.com/49JV6kb.png)

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-09 02:48] dhcrzf opened #5737 "uploads: Only show year uploaded when not current year"
In #4843, we modified the recipient bar time stamps to include the year for messages with pub dates that were in previous years. Having merged #5601, it makes sense to apply similar logic to the list of uploaded message attachments found on a user's Settings => Uploaded files screen.

[2017-07-09 02:48] dhcrzf commented on #5737
@zulipbot claim

[2017-07-09 07:23] rishig opened #5739 "confirmation: Refactor confirmation pathways to use common error handling."
Currently, the five different confirmation pathways do error handling in four different ways. It would be great to unify them!

I've put some preliminary work up at https://github.com/rishig/zulip/tree/confirmation-common, that starts the process of adding error handling to the email change pathway. Note that the work there builds on #5720, but the main relevant one is the top commit.

To approach

[2017-07-09 09:57] vaidap commented on #5716
@zulipbot claim
Will submit a PR tomorrow!

[2017-07-09 10:01] vaidap commented on #5678
@zulipbot claim

[2017-07-09 14:53] #4249 closed

[2017-07-09 17:04] hollywoodno commented on #5018
@zulipbot claim

[2017-07-09 22:15] phansen01 commented on #5714
Would it be sufficient to have an `{{ if register_link_disabled }}` block in the `/register` template? Can't tell if that boolean is synonymous with an org being invite only.

[2017-07-09 22:48] penCsharpener opened #5745 "feature idea: starred msg follow up reminder"
currently a click on the star basically creates a starred msg filter, that's it
what if:
a click on the star makes another button appear next to it (ie. a flag). Click it and a drop down appears with
15min
1 hr
4 hrs
1 d
which means that when clicking any one of those times this particular starred msg will be marked unread again and I get a new notification for it after that amount of time. To mak

[2017-07-10 03:39] neiljp opened #5746 "mypy: bankrupt_users Command calls do_update_message_flags with messages=None"
MyPy with strict-optional indicates:
[code]

Either `do_update_message_flags` should be annotated/handle `Optional[Sequence[int]]`, or else an appropriate `Sequence[int]` should be passed to `do_update_message_flags` from the bankrupt_users Command. I trust someone who understands the implications of either change to know which change is more appropriate.

[2017-07-10 05:45] timabbott commented on #5746
I think do_update_message_flags supports None as an argument.

[2017-07-10 05:57] tommyip commented on #198
@timabbott I got the filedrop working for copy & paste and drag & drop. Do we also want a dedicated file attachment button?

[2017-07-10 15:05] hollywoodno commented on #5018
@zulipbot abandon

[2017-07-10 15:06] hollywoodno commented on #4074
@zulipbot claim

[2017-07-10 17:25] timabbott commented on #5538
@jwedoff FYI, can you help with getting the data needed to debug this?

[2017-07-10 17:25] timabbott commented on #3786
@jwedoff FYI.

[2017-07-10 17:33] jwedoff commented on #5538
I haven't been in the loop on this on the Akamai, but I will try to get this information for you as soon as I can.

[2017-07-10 17:59] lonerz opened #5757 "Add all public streams to typeahead and sort unsubscribed streams to the bottom"
We should have all public streams in the typeahead, but sort the streams you are not subscribed to to the bottom.

Chat can be found [here](https://chat.zulip.org/#narrow/stream/new.20members/subject/Getting.20Started.2Ed/near/247194)

[2017-07-10 18:14] timabbott commented on #5757
We might want to even tag them as "you're not subscribed" in the typeahead output, if we can figure out a way to make that not clutter the UX too much (probably best would be an icon that you can mouse over, or something).

Any ideas for what a good icon would be?

[2017-07-10 18:15] timabbott commented on #5757
I guess one thought is that since we're sorting these to the bottom, we could just use a separator between the things you are subscribed to and the ones you aren't, visually.

@akhilmd what are your thoughts on this one?

[2017-07-10 18:28] timabbott opened #5758 "Improve exception handling sending push notifications"
I got the below exception recently, which looks like a classic transient network error.  I think we probably want to implement some sort of automatic re-enqueue-and-retry logic for this kind of network error.

[code]

[2017-07-10 18:32] hackerkid commented on #4579
We forgot to close this when https://github.com/zulip/zulip/pull/4822 was merged.

[2017-07-10 18:32] #4579 closed

[2017-07-10 18:44] timabbott commented on #198
Yeah, I think we should add a button too for consistency.

[2017-07-10 18:47] timabbott commented on #5745
Yeah, so I've been wanting to use stars this way myself.  I don't like that solution, since it requires a bunch of UI; one idea that I had is to have a display setting to have starred messages be displayed like unread messages (i.e. with a count).

That way, you can see when scanning your left sidebar that you have starred 3 messages.

I know for a fact some people use starring messages to keep tr

[2017-07-10 18:53] timabbott commented on #5678
@synicalsyntax with #5750, are there more things we need to do here?

[2017-07-10 19:46] timabbott opened #5760 "Stop calling `clean_repo` in `run-dev.py`"
I did a small bit of investigation into the startup performance of our Casper tests.  It appears 1/8 of the time we spend on `tools/test-js-with-casper 01` is saved if we don't run `tools/clean-repo`.  I think we don't need to delete all `.pyc` files; just those that correspond to deleted files.

@gnprice do you know if there's a tool that does this or do we need to write our own?

[2017-07-10 20:02] vbNETonIce commented on #5745
I think it's difficult to marry those two ideas.
a) I use them for long-term marking of msgs that I want to get back to as well. In that case I don't want a count as you describe. There wouldn't be much point to it. The starred menu as it is right now would be sufficient.
b) counts in the left sidebar is great, too. But in order to make the short-term star count work for every user it would have t

[2017-07-10 21:15] gnprice commented on #5760
I don't know of one offhand. Fortunately I think it should be just a few lines of code -- someone somewhere has probably posted such a thing, but it may be no less trouble to pull that in than to just write it.

[2017-07-11 02:17] synicalsyntax commented on #5678
For `change-your-organization-settings.md`, I was referring to the fact that both that page and the `{!admin.md!}` macro refer to a "Manage organization" page, which doesn't exist. I think it's been renamed to "Organization"?

[2017-07-11 12:46] NikishinRoman opened #5767 "Error running a subcommand of lib/provision.py: sudo scripts/lib/install-node"
1)host operating system:
Microsoft Windows 7 Professional
Version=Service Pack 1
2)installation method
Vagrant
3) Log: http://dropmefiles.com/h265I

Good day.
During the installation of zulip with the help of a Vagrant, an error occurs: Error running a subcommand of lib/provision.py: sudo scripts/lib/install-node

I ask to help with elimination. The log file provision is accessible by the link abo

[2017-07-11 13:56] showell opened #5769 "bug: Fix custom emoji settings."
When you say that only admins can edit emojis, it seems to lock out the admin as well.  The admin can change the setting so that anybody can do the modification, but then it doesn't live-update.

Another thing that's awkward is that the flag for flipping admin powers on custom emojis isn't on the custom emojis tab.  Instead, it's with all the other boolean settings.

[2017-07-11 16:35] #5716 closed

[2017-07-11 16:39] jrowan opened #5770 "user docs: /help has no page explaining pointer/unread counts"
This might just be how I'm using Zulip (as someone who used Zephyr from a command-line client before I ever used Hipchat or Slack), but I had a fair bit of confusion about where my pointer would go when I logged in, opened a new tab, or exited a stream/topic narrow.  It wasn't obvious to me, for example, that with no unread messages, refreshing the page or exiting a narrow would move the pointer t

[2017-07-11 16:40] jrowan commented on #5770
@zulipbot label: "feedback wanted"

[2017-07-11 17:31] HarshitOnGitHub commented on #5769
@zulipbot label "area: emoji"

[2017-07-11 17:31] HarshitOnGitHub commented on #5769
@zulipbot claim

[2017-07-11 18:17] HarshitOnGitHub opened #5771 "populate_db: While populating test database, add a realm emoji which can be used for testing."
Since a number of tests relating to realm emojis require a realm emoji to be present, one needs to add code for ensuring atleast a realm emoji is present every time a test related to realm emoji is added. This makes testing code repetitive. This issue aims at adding a default realm emoji in test database while populating it and removing the duplicate code for ensuring the presence of atleast one r

[2017-07-11 18:18] HarshitOnGitHub commented on #5771
@zulipbot label "area: testing-infrastructure"
@zulipbot claim

[2017-07-11 18:59] timabbott commented on #3142
I think we decided against making a change here.  Closing.

[2017-07-11 18:59] #3142 closed

[2017-07-11 19:49] HarshitOnGitHub commented on #5769
@timabbott What are your thoughts on moving the checkbox for flipping the power to upload emoji from `Organisation permissions` tab to `Custom emoji` tab?

[2017-07-11 20:59] vbNETonIce opened #5774 "enhancement: add /stats and /about as hyperlinks somewhere in webapp"
this is particular interesting for the electron app:
/integrations is in the drop down and can be opened in the electron app but /about and /stats are missing of which /stats is most interesting and /about more to see the Zulip version which the server is running (at least for me)

[2017-07-11 21:01] lonerz commented on #5774
Is this for the electron app solely? If so, it might be a better fit in our electron repo?

[2017-07-11 21:04] vbNETonIce commented on #5774
no, certainly not. I mean, there is no hint anywhere in the webapp that /stats exist, nor /about because they don't have links. I always have to type it in the address bar or am I missing something?

[2017-07-11 21:15] lonerz commented on #5774
Oh! I see what you mean.

[2017-07-11 21:41] #5760 closed

[2017-07-11 21:50] hollywoodno commented on #4074
It seems that in marked.js the Parser.parse static method throws off the local echo. I realized that when it is called from the marked function, if you explicitly pass in the renderer arg as opt.userMentionHandler, than the markup is more accurate. I will have to look into the original implementation of the marked.js and see how this works. I am not sure if that arg is required for the static meth

[2017-07-11 22:01] rishig opened #5775 "right sidebar: Include non-displayed users in typeahead."
If someone is gone for three weeks, we remove them from the right sidebar. We should still include them at the bottom of the user search typeahead, though, since it feels like something is broken when you know someone is part of a realm and you can't find them in user search.

Note that we include all such users in the compose box typeahead, so the list is already being sent to the frontend.

[2017-07-11 22:35] #5259 closed

[2017-07-11 22:48] timabbott commented on #5769
I don't think we should move it.  There's a lot of value for onboarding administrators in having all of the permissions settings in one place, which we'd lose if we moved it to that tab.

[2017-07-11 23:17] timabbott commented on #5770
Yeah, this is a good idea.

[2017-07-11 23:19] timabbott commented on #5767
This was fixed in f724900e68d4eb75c93310a8e9cd4b55b9cffff5

Next time, @NikishinRoman, please don't report the same issue in 3 places; pick one of chat.zulip.org, the bug tracker, and the email list :).

[2017-07-11 23:19] #5767 closed

[2017-07-12 06:43] Shayan-To opened #5777 "Markdown processor inconsistency"
Use this for reproduction:
[code]

![88eb6184-485b-46f4-9d8c-6f2fb7a62f9f](https://user-images.githubusercontent.com/12458563/28104980-e1dcb6c0-66f2-11e7-90b6-6f8e20f7f065.gif)

[2017-07-12 06:50] lonerz commented on #5777
Seems like a duplicate of #4074

[2017-07-12 06:54] Shayan-To commented on #5777
@lonerz They seem very similar, but they behave a bit different.

[2017-07-12 18:06] akhilmd commented on #5757
I think adding an icon with tool-tip would be good. Maybe all the suggestions can have the `#` icon in colour and the un-subbed streams can have it greyed-out? Would also greying out the stream name be helpful visually?

Right now we sort by matches in stream name, description and activity. Using a separator would not let us easily change the preference of this. Eg: if we prefer stream with name m

[2017-07-12 18:46] rishig opened #5781 "settings: "Include private message content" should be a sub-setting."
On https://chat.zulip.org/#settings/notifications:
The "Include content of private messages in desktop notifications" (2) option should be
* indented
* programmatically tied to "Desktop notifications" (1), in the sense that if you uncheck/check (1), it should disable/enable (2).

A similar example is the "Only admins may invite" checkbox at https://chat.zulip.org/#organization/organization-permiss

[2017-07-13 00:19] timabbott commented on #5757
My only concern with the icon approach is whether it'll look weird with N things in a row that all have the same icon.

[2017-07-13 00:26] timabbott commented on #5310
@thallada are you still working on this?

@HarshitOnGitHub this may be a good project for you to take given your recent work on a similar emoji bug.

[2017-07-13 00:26] timabbott commented on #5312
Dropping the priority since we haven't heard other reports of this issue in a month.  I doubt the root cause has been fixed, though.

[2017-07-13 00:28] pirate commented on #5312
It's still happening for me, both on the bleeding-edge chat.zulip.com and my hosted 1.6 server.

<img width="497" alt="screen shot 2017-07-12 at 7 27 53 pm" src="https://user-images.githubusercontent.com/511499/28145485-42b7ccc4-6738-11e7-8724-66101f2f46f8.PNG">

[2017-07-13 14:30] vaidap commented on #1535
is there still a need to make this clearer in the docs?

[2017-07-13 16:23] #2038 closed

[2017-07-13 18:53] NikishinRoman commented on #5767
Hello
I updated the code, but the error still remains.
[provision.txt](https://github.com/zulip/zulip/files/1146297/provision.txt)

[2017-07-13 20:19] timabbott commented on #5767
can you add `set -x` to the top of `scripts/lib/install-node` and try running it again?  That'll make this easy to debug.  You don't need to upload the whole file, just the part starting from `+ sudo scripts/lib/install-node`; I think that should be short enough to make it easy to see where it's failing.

[2017-07-13 20:28] HarshitOnGitHub commented on #5771
@timabbott Would it make more sense to populate a default realm emoji to both automated as well as manual testing database or to only automated testing database(I am in favor of adding it to both). If we go for adding it to both the databases then we will need a test image for the realm emoji since the image file we have been using till now in the tests is the zulip logo which will collide with `:

[2017-07-13 21:09] #5769 closed

[2017-07-13 21:25] gnprice commented on #106
Because GitHub makes this a little hard to see automatically: PR #2172 is meant to address this.

[2017-07-13 21:28] HarshitOnGitHub opened #5794 "topics: Trigger a narrow change if the message topic gets changed."
If someone sends a message with some topic and a user narrows to that topic and later the topic of the message gets changed, the user still remains narrowed to the old topic and misses further replies to that message. We should trigger a narrow change if a user is narrowed to a topic which gets changed later. This is mostly useful in cases where the original sender of the message forgets to add a

[2017-07-13 21:29] HarshitOnGitHub commented on #5794
@zulipbot label "area: topics" "bug"

[2017-07-13 22:43] rishig opened #5795 "user settings: Add setting to suppress login notification emails."
Sometime orgs have security policies that force people to re-log-in to Zulip every day. In such a situation the notify_new_login emails can feel spammy.

It would be great to add a user setting to turn off these emails. Some notes
* If you `git grep notify_new_login` you can see where the conditional should go
* The setting can go in https://chat.zulip.org/#settings/notifications at the bottom; gr

[2017-07-14 04:09] lonerz opened #5797 "Allow clicking the <li> element of left sidebar links in /help/ page"
We should be able to click the `<li>` element that holds the link element in the left sidebar of [help page](https://chat.zulip.org/help/).

![screen shot 2017-07-13 at 9 07 52 pm](https://user-images.githubusercontent.com/12992571/28197977-668427d8-680f-11e7-8609-66f9b65cc92e.png)

[2017-07-14 04:42] timabbott commented on #5545
Because I ended up working on i18next caching issues for an entirely different reason, I just merged 8c5cce7f2b52574a7004cb89abf1748e79908d69 and cbd52234295712f4bdee61e376c2c18e70165e77 to address (a) and (b) above.

We also now have, via e3f1d025aeee022e9edb83b94106fd716f77147a, code that explicitly deletes items from the i18n cache in certain circumstances.  So it would probably not be too hard

[2017-07-14 05:04] #4730 closed

[2017-07-14 05:09] timabbott commented on #5771
Both is the right answer.  For a test image, we can probably do something already in the repo like `static/images/checkbox-valid.svg`?

[2017-07-14 05:15] timabbott opened #5798 "/help/ homepage footer overlaps with content in mobile view"
This is pretty self-explanatory:

![image](https://user-images.githubusercontent.com/2746074/28199189-a3747d88-6818-11e7-80e9-ee0eda0e769d.png)

[2017-07-14 06:47] NikishinRoman commented on #5767
I add set -x to the top of scripts/lib/install-node.

The log file provision is accessible by the link
http://dropmefiles.com/G0vIV

[2017-07-14 15:30] thallada commented on #5310
I'm not sure I'll have time to finish it off to be honest. The WIP is up here: https://github.com/zulip/zulip/pull/5321 I think it needs refactoring to use `stream_narrow_url` and some tests.

[2017-07-14 15:31] HarshitOnGitHub commented on #5310
@thallada No problem I will take it up! :)

[2017-07-14 16:14] fleytman opened #5802 "Hide text (spoiler) on message"
I would like to do a hidden text, which is visible only if I select it or move the mouse pointer over it. Something like this https://meta.stackexchange.com/posts/71396/revisions
![spoiler](https://cloud.githubusercontent.com/assets/136959/16365968/71ebeeac-3bd4-11e6-970f-b7616347e440.gif)

 or https://github.com/dear-github/dear-github/issues/166#issuecomment-228700139

![hide](https://user-image

[2017-07-14 16:52] jrowan opened #5803 "user docs: Add search to /help"
It would be helpful to be able to search the user docs (currently I just `CTRL+F` through the list of help topics, but being able to search the text of the articles would be nice).

[2017-07-14 16:53] #5797 closed

[2017-07-14 16:54] aero31aero opened #5804 "Update logged-out/portico pages to be aware of user login status"
Currently, even when you are logged in, pages like https://chat.zulip.org/api/ and https://chat.zulip.org/help/ created using portico show the Login and Register buttons like this:

![image](https://user-images.githubusercontent.com/8033238/28221921-e5f4d2f0-68e2-11e7-8776-b4b07f591d40.png)

We should instead display nothing or something like `Logout` with the user avatar instead of these buttons.

[2017-07-14 16:54] timabbott commented on #5797
One small note @sawant: You can use zulipbot (http://zulip.readthedocs.io/en/latest/zulipbot-usage.html) to claim issues when you're working on a PR for an issue; that makes it easier for folks looking at views like https://github.com/zulip/zulip/issues to see which ones are still open :)

[2017-07-14 17:01] jrowan commented on #5803
@zulipbot label  "area: documentation (user)"

[2017-07-14 17:02] timabbott commented on #5804
I think step 1 of this is to deduplicate the markup for that section of our login/landing pages, and then we can edit the markup in just one place.

[2017-07-14 17:02] timabbott commented on #5803
We should look at how other sites do this.  I'm not sure if there's an easily integrated search library; one idea would be to see if we can get Google to do this for us with an appropriate `site:foo` declaration.

[2017-07-14 17:12] timabbott commented on #5020
This may be sorta a search issue.

[2017-07-14 17:50] uri opened #5806 "Can't run a bot following the instructions"
zulip server 1.6
OS: Ubunutu 16.04x64

Following the instructions on http://zulip.readthedocs.io/en/latest/bots-guide.html#how-to-run-a-bot

And at this instruction:

`python run.py ../bots/<my-bot>/<my-bot>.py --config-file ~/.zuliprc` substituted to:

`python run.py ../bots/giphy/giphy.py --config-file ./giphyrc` results in the following error

[code]

[2017-07-14 17:56] timabbott commented on #5806
I think you need to either be using the virtualenv on the server or `pip install zulip` first.

We will likely want to update the documentation to clarify this, but can you test that?

[2017-07-14 18:13] uri commented on #5806
`pip install zulip`

Fixes the problem

[2017-07-15 00:24] timabbott commented on #5192
Since working on this is mostly waiting for things to run, I took care of everything needed for this except:
* We don't have `tsearch_extras`.  I think we can probably just add code to automate something like http://zulip.readthedocs.io/en/latest/dev-setup-non-vagrant.html#on-debian-or-ubuntu-systems, but ideally we'd put it in packagecloud.io.
* No documentation updates
* I didn't updated `SUPPOR

[2017-07-15 00:34] #3496 closed

[2017-07-15 03:01] gnprice commented on #5545
Great!

Yeah, that seems like a reasonable next step that would completely close this issue.

[2017-07-15 22:35] eeshangarg commented on #5192
@timabbott: I think I'd like to take it from here! :)

@zulipbot claim!

[2017-07-15 22:55] aero31aero commented on #5804
Looks like the relevant markup is in the `templates/zerver/portico.html` file.

[code]

[2017-07-16 17:15] timabbott commented on #4400
Sorry for the delay on this.  We just merged support for disabling message edit history in Zulip.

The new setting should be available in our next Zulip release (and on zulipchat.com, very soon!).

[2017-07-16 17:15] #4400 closed

[2017-07-16 20:24] timabbott commented on #5802
We discussed this a bit, and current thinking is that we should use ` ``` spoiler ` as the syntax for block spoiler text, similar to ` ``` quote`, since that's a lot more efficient for doing a large block.  I'd consider implementing just the block-spoiler feature and not individual-line-spoiler to keep down the size of this project.

[2017-07-16 20:27] timabbott commented on #5804
Yep!  I think we might need to add a flag or something to `zerver/context_processors.py` for whether the user is logged in, and if so, the metadata we'd want to display an avatar or something here.

[2017-07-16 20:56] #5310 closed

[2017-07-16 21:06] timabbott commented on #5774
@rishig we're ready to add a /stats link from the gear menu at this point, right?

[2017-07-16 21:13] rishig commented on #5774
yeah, let's do it.

[2017-07-16 21:34] timabbott commented on #5774
Maybe something like this?

![image](https://user-images.githubusercontent.com/2746074/28251513-ce4846c6-6a33-11e7-9f3b-ab6bef221097.png)

[2017-07-16 21:36] timabbott commented on #5377
It's `app.js` left at this point, right?

[2017-07-16 21:38] rishig commented on #5774
Nice icon. I was imagining it would be less prominent, though organizationally I guess it doesn't really fit into any other section. Also, maybe "Analytics" sounds better than "Statistics"?

[2017-07-16 21:39] timabbott commented on #5774
We could potentially move it after "API documentation", though it's definitely a bit more weird organizationall to put it there.

[2017-07-16 21:40] HarshitOnGitHub commented on #5377
@timabbott sockjs is also left, I think it has ticked by mistake. I was working on migrating it but found that we have patched it so did not migrated.

[2017-07-16 21:41] timabbott commented on #5377
Why is our having patched it a problem for migrating?  `static/third/` should be accessible to webpack, right?

[2017-07-16 21:44] HarshitOnGitHub commented on #5377
The existing one can't be used. I will need to replace the existing one with a minified version and then use script-loader to load it.

[2017-07-16 21:57] rishig opened #5816 "registration: Initial narrow after registration should be to PMs with welcome bot."
Currently, we implement this by redirecting to this narrow after the tutorial. The tutorial is going away, so we need a different way of doing it.

Some ideas, not sure which is the best:
* Put something in the session in `accounts_register`, that `zerver.views.home.home_real` can read and interpret. `home_real` already seems to have somewhat relevant code:
[code]
* Something else?

You can get we

[2017-07-16 22:09] rishig commented on #5774
yeah. Maybe moving it after API is a bit better? Agree it is weird organizationally.

[2017-07-16 23:12] #5774 closed

[2017-07-16 23:12] timabbott commented on #5774
Sure, this looks alright:

![image](https://user-images.githubusercontent.com/2746074/28252105-922f0824-6a41-11e7-8b20-515a2ab67f58.png)

[2017-07-16 23:15] timabbott commented on #3648
This is now linked in the gear menu.  @synicalsyntax would you be up for picking this up and finishing it?  I think this documentation effort got bogged down :(.

[2017-07-16 23:23] timabbott commented on #4785
Likely fixed in #5755, but there's some follow-up investigation that needs to be done to confirm that it's hooked up correctly.

[2017-07-17 00:14] timabbott commented on #5767
Something isn't right with that log file; it doesn't seem to match the actual code of `scripts/lib/install-node` in the version of master from 3 days ago.  Are you sure you pulled the new version?  Or is it possible you replaced `set -e` with `set -x` rather than just adding `set -x`?

[2017-07-17 00:26] timabbott commented on #1535
Yeah, I think we still have trouble with new contributors sometimes looking at those docs but then not following the advice correctly.  Though arguably we should instead focus on @tommyip's linter work.

[2017-07-17 01:07] pweaver commented on #5377
Specifically there are a couple of issues going on here.
1) It would be nice if the copy of sockjs used was unmodified from the node package so we could distribute without compiling. Not totally necessary, but it reduces compilation time and dependencies in static/third.
2) The sockjs bundle currently isn't used by the app at all. sockjs is used in the app bundle and the tornado code uses the sock

[2017-07-17 03:27] jrowan commented on #5745
Here's a summary of what I found on the competition:

**Slack** has two separate concepts: starred messages and pinned messages.

Pinned messages are on a by-conversation basis.  On each stream/PM conversation, you can pin messages and access them from a sidebar from the stream/PM view (clicking on a pinned message jumps to it).  Pins are visible to everyone in the channel and you can remove other

[2017-07-17 05:00] lonerz commented on #2204
I think we can close this? @timabbott

[2017-07-17 06:31] umairwaheed commented on #5545
Is there any specific reason why we don't use the api in `static/js/localstorage.js` to manage the i18next cache? I think we can remove some code from `static/js/translations.js`.

[2017-07-17 08:06] sawant commented on #5803
@timabbott You can use [Google Custom Search](https://developers.google.com/custom-search/) instead of `site:foo` on the main site.

[2017-07-17 08:09] NikishinRoman commented on #5767
Good day. Indeed, I replaced set -e with set -x.
Now I did everything right. Here is my log
http://dropmefiles.com/sBJ3Y

[2017-07-17 10:44] vaidap commented on #5770
@zulipbot claim

[2017-07-17 13:20] catxeger commented on #1736
Having an option to only show mention and/or PM counts in the favicon would be a plus.

[2017-07-17 13:29] catxeger opened #5821 "Electron - Adding left-hand configuration bar + reactive +resize hides user list"
Adding the left-side configuration bar results in the electron 1.2.0 client being exceedingly wide -- and the width can't be adjusted without hiding the user list.

Is it possible to make the width of the user list adjustable (streams also would be nice!), so it's possible to reduce the overall width of the client?

Somewhat related, it would also be a plus to be able to move or hide the left-side

[2017-07-17 15:11] vaidap commented on #5707
@zulipbot claim

[2017-07-17 16:48] lonerz commented on #5821
This issue should probably be opened in our electron repo.

On Jul 17, 2017 6:29 AM, "catxeger" <notifications@github.com> wrote:

[2017-07-17 17:59] timabbott commented on #5821
Agreed, thanks for the report @catxeger!  I'm closing since this is the wrong project, but can you reopen this issue in https://github.com/zulip/zulip-electron/issues ?

I think the best solution is that we should just have the left-side configuration bar be hidden when you only have one organization, but let's discuss that in the right project :).

[2017-07-17 17:59] #5821 closed

[2017-07-17 18:04] timabbott commented on #5545
Mostly history, I think?  But I guess part of it is that we're using `i18next`'s third-party caching module, which turns out to be stupid in that it doesn't garbage-collect expired entries, and the `translations.js` code was written to interact with it.

[2017-07-17 18:32] showell opened #5824 "dev: Server drops responses after Django reloads"
https://chat.zulip.org/#narrow/stream/development.20help/subject/sockets.20in.20dev/near/251932

[2017-07-17 18:32] showell commented on #5824
see also #5809

[2017-07-17 18:40] #5798 closed

[2017-07-17 18:52] timabbott commented on #5678
#5765 was merged, so we can close this.  Thanks @synicalsyntax and @vaidap!

[2017-07-17 18:52] #5678 closed

[2017-07-17 18:56] timabbott commented on #5767
OK, this is the (surprisingly interesting) problem:
[code]

The `source` command is a shell builtin that comes as part of bash.  You don't get a similar error when you run `source` with broken arguments, e.g.:

[code]

So I'm tempted to believe that something is very wrong with your system, and `/usr/bin/env bash` is not a normal version of bash.  Do you have other modifications to the tools?  Are

[2017-07-17 19:02] timabbott commented on #5803
Hrm, that seems to have a pretty add-heavy experience, but I suppose it's an option.

One thing I notice when playing with that is the Zulip user documentation isn't really there in Google at all.   We should prioritize fixing that.

[2017-07-17 19:16] timabbott commented on #1736
@catxeger thanks for the feedback!  I think there's been enough interest in this from different folks over time that it's reasonable for someone to implement.  The setting piece can be done following http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html (the setting should go in "notification settings"), and the actual logic for the count computation I think goes in `static/js/notificati

[2017-07-17 19:20] timabbott commented on #2204
Yes, I think that's right.  @kamalmarhubi thanks for the great feedback!

[2017-07-17 19:20] #2204 closed

[2017-07-17 20:02] showell opened #5825 "local echo: Make restarts more robust."
It's possible for a restart event to occur right between rendering a message locally and actually transmitting it to the server.  When this happens, you are in danger of a couple things:

- It's possible that the message doesn't even get sent to the server.
- You may have the locally rendered messages disappear until the server responds to them, which can be confusing.

We've written code to addre

[2017-07-17 21:11] jrowan opened #5827 "user docs: minimize references to the home view in /help/"
Because the home view can be confusing to new users and excessive use of the home view early in one's Zulip career can hurt the development of stream/topic discipline (leading to (no topic) messages and messages sent to the srong stream), we are trying to de-emphasize the home view to new users.  We should make sure the user documentation does not encourage/imply that the home view is what people

[2017-07-17 22:13] rishig opened #5829 "emails: Missed message emails should wait 5 minutes."
Currently, we send missed message emails using something like the following algorithm:
* Every time a notifiable message is sent to a user, add it to their missed messages queue
* Every two minutes, group everything in the queue together and send it as a missed message email.

By "notifiable" I mean `(received_pm or mentioned) and (idle or always_push_notify)`, where `idle` seems to be "zulip is n

[2017-07-17 22:32] gnprice commented on #4284
After a lot of work by a number of people at the PyCon sprint and elsewhere, this is now much closer! There are 48 references to `get_user_profile_by_email` left, in 18 files:
[code]

[2017-07-17 22:53] timabbott commented on #4284
@gnprice do you want to take replacing the `docs/mypy.md` example?  Probably switching to `get_user` would be reasonable, but it's probably worth thinking a little bit about that page.

About half of the remaining references will be easy to change and we have a plan for.  The last 15-20 or so, basically the registration/login process ones, is where things will start to get interesting.

Also, at s

[2017-07-17 23:03] gnprice commented on #4284
@hackerkid FYI :-) as I think you've been working on this recently, with #5808 and other PRs. Would you mention this issue in your PRs so that GitHub makes links between them?

[2017-07-17 23:36] hackerkid commented on #4284
@gnprice Sure :)

[2017-07-18 07:12] lonerz commented on #5777
Fixed in ec669a0c452b5cf5983ee026f06444c5b4ac860b

[2017-07-18 07:12] #5777 closed

[2017-07-18 07:12] lonerz commented on #5712
Fixed in ec669a0c452b5cf5983ee026f06444c5b4ac860b

[2017-07-18 07:12] #5712 closed

[2017-07-18 07:13] lonerz commented on #5018
Should be fixed in ec669a0c452b5cf5983ee026f06444c5b4ac860b

[2017-07-18 07:13] #5018 closed

[2017-07-18 07:15] lonerz commented on #4074
Should be fixed in ec669a0c452b5cf5983ee026f06444c5b4ac860b

[2017-07-18 07:15] #4074 closed

[2017-07-18 08:47] lonerz commented on #4678
Interestingly, this is because `#` was annoyingly matched with a paragraph regex. This should be fixed in #5838

[2017-07-18 08:55] lonerz commented on #2707
Seems to be fixed in ec669a0c452b5cf5983ee026f06444c5b4ac860b

[2017-07-18 08:55] #2707 closed

[2017-07-18 10:23] vaidap opened #5839 "user docs: fix left-margin"
Certain pages render with a much smaller left-margin, which puts them very close to the sidebar and less comfortable to read. It seems to me that all pages that have images have this issue.

Normal margin:
![image](https://user-images.githubusercontent.com/13666710/28312513-53db8b5e-6bab-11e7-8ac9-df4dececc0e9.png)

Small margin:
![image](https://user-images.githubusercontent.com/13666710/28312526

[2017-07-18 10:33] vaidap commented on #5707
@rishig, could you expand on how to get to this page? I just end up getting a `Please enter a correct email and password. Note that both fields may be case-sensitive.` error on the `login/` page. thanks!

[2017-07-18 12:50] showell opened #5841 "message editing: Allow editing of failed or not-yet-acked messages."
Our implementation of editing messages that failed to get acked by the server was buggy, so we removed it for now.

We should re-visit adding the feature back after some other issues with local echo get addressed and the code starts to stabilize again.

The challenge with "editing" failed messages is that you are not really editing, you are submitting a brand new message.  There are parts of the U

[2017-07-18 15:04] vaidap commented on #5839
seems like images are not the cause of this. the `class="markdown"` div is sometimes offset, which causes this:
![image](https://user-images.githubusercontent.com/13666710/28323877-e97f21ea-6bd1-11e7-9c4e-320ca248de0b.png)
@brockwhittaker any thoughts on what could be causing this?

[2017-07-18 15:09] vaidap commented on #5827
it would still be useful (& more productive) for people to be aware that they can eg. narrow if they are in the home view-- would changing the different docs into the simpler versions & adding a Tip for the home view version of things be a good compromise?

[2017-07-18 16:28] synicalsyntax commented on #3648
Sure, I probably won't begin working on this until after Thursday when my class is over.

[2017-07-18 16:56] #5382 closed

[2017-07-18 18:00] #5746 closed

[2017-07-18 18:09] #4678 closed

[2017-07-18 18:19] timabbott commented on #3853
This project was finished a month or so ago.  Thanks to @fionabunny for all her work on this!

[2017-07-18 18:19] #3853 closed

[2017-07-18 18:30] rishig opened #5844 "settings: Reorganize organization settings."
We currently have "Organization settings" and "Organization permissions" in the settings tab. We should add a third, "Organization profile".

This can build off of #5793.

The final settings should be:
Organization profile: Has name, description, and avatar
Organization settings: Has default language, notifications stream, and the bottom two sections of organization permissions (see #5793)
Organiz

[2017-07-18 19:34] skapil commented on #5816
@rishig let me look into it! I am assigning to myself: @zulipbot claim

[2017-07-18 19:40] rishig commented on #5816
Great, thanks @skapil!

[2017-07-18 19:49] skapil commented on #5816
Welcome @rishig. Recently I heard @timabbott in podast__init__ about zulip. Learn lot about zulip and it's vision. overall it was great Talk. Love to contribute!!

[2017-07-18 21:13] rishig commented on #5707
oh hm. Try logging in with google auth instead?

[2017-07-18 22:00] timabbott commented on #5707
Yeah, the way you get here is to try to login with Google/GitHub auth with an email that doesn't have an account.

[2017-07-18 22:09] brockwhittaker commented on #5839
I can't seem to replicate this on those pages.

[2017-07-18 22:11] timabbott commented on #5839
@vaidap what precise browser and version are you using?

[2017-07-18 23:04] #5393 closed

[2017-07-19 00:30] rishig opened #5853 "compose: Preserve links when pasting html."
Copying and pasting an html link into the Zulip compose box should preserve the link, by converting the html link to markdown in a javascript onpaste handler.

[2017-07-19 01:15] gnprice opened #5854 "Make "new login" notifications less spammy"
Like any good security citizens, we send notification emails to tell a user that there's been a new login to their account. Currently we send these too readily, though -- even if the user logs in from the same browser on the same machine at the same IP as they've done before, we send them an email about it. This ends up feeling spammy, and a recurring bit of [feedback](https://chat.zulip.org/#narr

[2017-07-19 04:52] pweaver opened #5856 "lints: create a lint to verify all production assets are versioned."
`prod_static` needs to be consistent when restarting the app across different versions. This means all assets need to have a version stamp. Otherwise subtle bugs get introduced during upgrades/downgrades. This bit us with the webpack stats files.

A lint should be created to verify all assets in prod_static have a hash and the hash matches the checksum of the file. Can be run from `production-help

[2017-07-19 05:56] umairwaheed commented on #5545
I see. Working on this.

[2017-07-19 06:31] NikishinRoman commented on #5767
I did it in the environment of a vagrant.
Vagrant v1.86
VirtualBox v 5.1.22 r115126

[2017-07-19 10:24] vaidap commented on #5839
I am using Chrome Version 58.0.3029.110 (64-bit) -- I figured out that the problem is that I get a scrollbar for longer pages such as `
Format your message using Markdown` but not for `Preview your message before sending`, and the additional space added by the scrollbar shifts the div.

[2017-07-19 15:07] vaidap commented on #4894
Is this still being worked on?

[2017-07-19 15:11] Brigette-Eckert commented on #4894
Nope.  Feel free to take over

Sent via the Samsung Galaxy S7 active, an AT&T 4G LTE smartphone

-------- Original message --------
From: Vaida <notifications@github.com>
Date: 7/19/17 8:08 AM (GMT-08:00)
To: zulip/zulip <zulip@noreply.github.com>
Cc: Brigette Eckert <brigette.eckert@live.com>, Mention <mention@noreply.github.com>
Subject: Re: [zulip/zulip] Focus issues on login and registration p

[2017-07-19 15:12] vaidap commented on #4894
thanks for the quick reply!
@zulipbot claim

[2017-07-19 15:18] uri opened #5861 "Show emoji reaction authors on hover"
It would be neat to see who reacted with an emoji when hovering over the reaction. For instance if a message has  3 reactions 👍   👎  💯  with 10, 1, 4 counts respectively. Hovering over 💯  would show a tooltip of some sort that would say something like

Hovering over 👎  would produce

[2017-07-19 15:28] vaidap commented on #5707
thank you! submitted a PR.

[2017-07-19 16:46] lonerz commented on #5861
@uri isn't this implemented already?

[2017-07-19 17:14] timabbott commented on #5861
Yeah, we already do that... @uri is it not working for you somewhere?

[2017-07-19 17:51] brockwhittaker opened #5863 "linting: Linter trips on "with" tags in Jinja."
Currently the code below fails with the error:

[code]

This seems to be because the linter doesn't understand the "with" and "endwith" tag being used in the templates. Here's the following code to trigger it:

[code]

[2017-07-19 18:33] timabbott commented on #5863
@adnrs96 is this easy to fix?

[2017-07-19 18:47] brockwhittaker opened #5865 "compose: @-mentioning yourself seems to cause message send failure."
If you try in the development environment writing the message below while being Iago it fails.

[code]

You can see that it sends locally but not to the server here: <img width="690" alt="screen shot 2017-07-19 at 11 48 12 am" src="https://user-images.githubusercontent.com/10321399/28384079-2ed410e2-6c78-11e7-8dc0-737f7bad7683.png">

[2017-07-19 18:49] adnrs96 commented on #5863
from the looks of it, feels like an easy fix. I am trying it out right now.

[2017-07-19 18:51] #5865 closed

[2017-07-19 18:51] timabbott commented on #5839
I see, this is a right-side scrollbar?  That does seem like a bug.  I think we should fix that by converting it to use the same perfectScrollbar we're using for the left-side area, which doesn't eat space the same way the native scrollbars do.

[2017-07-19 19:00] uri commented on #5861
Whoops my bad. It seems to only be an issue for the MacOS app.

[2017-07-19 19:01] lonerz commented on #5861
@uri is that the electron app?

[2017-07-19 19:14] adnrs96 commented on #5863
Ohk I have created a PR for fixing this.

[2017-07-19 19:15] uri commented on #5861
I would guess so.

[2017-07-19 19:15] lonerz commented on #5861
You could open an issue there: https://github.com/zulip/zulip-electron. Closing this however, since it does not apply to the webapp.

[2017-07-19 19:15] #5861 closed

[2017-07-19 19:49] vaidap commented on #5839
yes, a native right-side one that appears for longer pages.

[2017-07-19 20:39] #5863 closed

[2017-07-19 21:17] timabbott commented on #5839
Cool, yeah, this should be easy to do with the perfectScrollbar library.  If you want to work on this @vaidap, you can see how we do it for the other scrollbar in this page.

[2017-07-19 22:07] geekdave opened #5868 "statuspage.io integration?"
Is it possible to integrate zulip with statuspage.io, both for
1. subscribing to receive updates in zulip from a status page
2. posting an update from zulip to a status page

[2017-07-19 22:27] timabbott commented on #5868
Can you explain more what you have in mind for how to integrate Zulip with it?

Should be doable with our incoming and outgoing webhooks, how much work it is depends mostly on their API.

[2017-07-19 23:00] geekdave commented on #5868
@timabbott Sure!  I guess it would be pretty similar to PagerDuty, where you would receive a Zulip message when an incident is created.  And you could use a Zulip command to trigger an incident to get created yourself.  Except whereas Pagerduty is only an internal tool, statuspage.io is intended to be subscribed to by your customers.  So you could subscribe to get updates from someone's status pag

[2017-07-20 02:11] showell opened #5870 "Make a fancy right-hand tray menu."
All of our options in the gear menu have icons:

![image](https://user-images.githubusercontent.com/142908/28397290-ad5d7150-6cce-11e7-84d6-93567340499b.png)

We have empty space on the right edge of our app:

![image](https://user-images.githubusercontent.com/142908/28397416-5fada0fa-6ccf-11e7-861a-bd5d8a4aaba3.png)

We can make a fancy right-edge tray that always shows all the icons of the gear

[2017-07-20 05:50] umairwaheed commented on #5677
Working on this.

[2017-07-20 20:07] hackerkid commented on #5739
@zulipbot claim

[2017-07-20 20:10] synicalsyntax commented on #5781
@zulipbot claim

[2017-07-20 23:18] timabbott commented on #5870
I'm a little bit worried about squeezing vertical space from the sidebars with this concept; I think we should think a bit carefully before making this sort of change.

[2017-07-20 23:44] showell commented on #5870
Yeah, I should have emphasized that anybody who takes this on should discuss it on chat first.  There are a couple pitfalls here:

* wasting real estate
* icons aren't always obvious what they do, so we want to preserve the ability to see the "text" options in a non-cumbersome way

A quick prototype of this would be helpful to start discussion, but we don't want to waste too much time on this befo

[2017-07-20 23:46] timabbott commented on #5767
OK; can you `vagrant destroy; git fetch upstream; git rebase upstream/master; vagrant up` to try recreating it?

[2017-07-21 02:54] jrowan opened #5875 "portico: broken link on hubot integration page"
(this is happening for me on both zulipchat.com/integrations/#hubot and chat.zulip.org/integrations/hubot)

At the bottom of `/integrations/#hubot`, there is a link reading "Check out additional Zulip integrations available via Hubot" and pointing to `/integrations/#hubot-integrations`, but the link just takes you back to the `/integrations` page.

[2017-07-21 04:03] jrowan opened #5876 "Web page titles for private message narrows are not fully descriptive"
For stream and topic narrows, the web page title (the thing that shows up on the browser tab when you're in another tab) gives either the stream name or the topic you are currently narrowed to.  However, for private messages, it just says "private."  The two tabs in

![screenshot from 2017-07-20 20-59-03](https://user-images.githubusercontent.com/5571464/28448640-52bd5e20-6d8e-11e7-874f-adebbe4965

[2017-07-21 09:13] vaidap commented on #5839
will do! @zulipbot claim

[2017-07-21 13:58] vaidap commented on #4887
@zulipbot claim

[2017-07-21 14:53] synicalsyntax commented on #5875
Pinging @jackrzhang to take a look at this, who has been working on the Integration pages recently.

[2017-07-21 17:52] showell opened #5884 "Clean up bankruptcy code (performance/API)."
We are about to have a partial index for unread user messages, and it would be nice to have the expensive bankruptcy codepath use it.

This would be a simple, low risk change if there were a dedicated code path for marking messages as read, but right now the backend code (as well as the API) is conflated with starring and mentioning messages.

The bankruptcy API is low level and probably over-gene

[2017-07-21 17:55] timabbott commented on #5884
Yeah, that seems like a good refactor.  I would be in favor of keeping `/messages/flags` as the main place for toggling flags on specific messages, but moving the `stream` and `all` features to another endpoint.  Code-wise, even just splitting `do_update_message_flags` into the top and bottom halves (so we can reuse the bottom half) would be more readable.

[2017-07-21 18:06] showell commented on #5884
Yeah, starting from the inside out (i.e. splitting `do_update_message_flags` as you suggest) may be a good strategy here.

[2017-07-21 18:57] timabbott commented on #5854
I think location and long-lived cookie may be common practice here based on past experience with using my laptop when travelling (it seems to very by product), though I'm sure the others could be helpful as well.

@lfaraone do you have advice as to what the best practice is here?

[2017-07-21 19:18] synicalsyntax commented on #5781
Closed in e21c3e1

[2017-07-21 19:18] #5781 closed

[2017-07-21 19:42] marboxvel opened #5885 "Confusion around the inline URL preview feature"
Hi guys,

When I share an article, only the URL is shown up, no images and no subject. I checked the INLINE_IMAGE_PREVIEW and it is set to true.

`INLINE_IMAGE_PREVIEW = True`

Is there another config I need to set?

Thanks

[2017-07-21 19:45] timabbott commented on #5885
@marboxvel yep, if it's a random URL, not an image this is controlled by `INLINE_URL_EMBED_PREVIEW`.  That setting is off by default because some aspects of the experience are rough, but it should work.

Let me know if that works for you!

[2017-07-21 20:11] fragm3 opened #5886 "Bug in text formatting"
When formatting text(italics, bold, etc),  if I click anywhere in the blue highlighted box, the typed message gets deleted.
<img width="939" alt="screen shot 2017-07-22 at 12 58 17 am" src="https://user-images.githubusercontent.com/18073126/28479187-f04db7d0-6e78-11e7-8571-ef1229d2701d.png">

Shifted from electron repo : [https://github.com/zulip/zulip-electron/issues/232
](https://github.com/zuli

[2017-07-21 20:17] fragm3 commented on #5870
I think changing the menu would be better as the settings are overlapping with the online USERS.  We should shorted the settings tray with just icon, on hovering we can give it this effect:
<img width="146" alt="screen shot 2017-07-22 at 1 44 02 am" src="https://user-images.githubusercontent.com/18073126/28480702-8c2a5f7c-6e7f-11e7-8d4a-20e6536677a5.png">

[2017-07-21 20:20] marboxvel commented on #5885
Thanks @timabbott for the quick reply. It worked perfectly nice in the browser but in the mobile app it only shows the subject and few review lines and not the images. I couldn't find any settings tab or pane from within the app to customize any app features, is that also be done from the server? I use Android Zulip app.

[2017-07-21 20:25] timabbott commented on #5885
Ahh, yes, one of the rough edges is that the mobile apps don't support that feature well yet.

@borisyankov is there an open issue tracking this in the mobile project?  I think we should probably work out refined HTML for these that makes life easy for mobile...

[2017-07-21 20:31] timabbott commented on #5816
Welcome @skapil :)

[2017-07-21 20:33] timabbott opened #5887 "clean-repo: Also delete `.pyc` files with same timestamp as the `.py` file"
I encountered a bug the other day which turned out to be fixed by deleting a certain `.pyc` file that had the same timestamp as the corresponding `.py` file but didn't actually match (caused, I think, by some rebase race).

This is a follow-up issue introduced by #5768.   Tagging it as a priority since the issue took a bit for me to debug, so I imagine most folks would just get confused and demora

[2017-07-21 20:37] timabbott commented on #2956
We decided this wasn't actually a helpful change as written; see #4393 for much discussion.

[2017-07-21 20:37] #2956 closed

[2017-07-21 20:38] fragm3 commented on #5886
@zulipbot claim

[2017-07-21 20:44] marboxvel commented on #5885
@timabbott @borisyankov many thanks for the efforts, keep up the good work!

[2017-07-21 20:59] fragm3 opened #5889 "Error while running vagrant ssh"
OS: macOS 10.12.5
While running the command:

Error: ssh_exchange_identification: Connection closed by remote host

[2017-07-21 21:06] timabbott commented on #5889
@fragm3 I think that means the guest isn't running.  `vagrant up` should boot it; or if it's crashed you may need to reboot it with `vagrant reload`.

[2017-07-21 21:07] timabbott commented on #5889
@fragm3 is this error not covered in our Vagrant troubleshooting guide?  If so, maybe we should add it.

[2017-07-21 21:13] fragm3 commented on #5889
No, its not there in the troubleshooting guide, just went through the zulip docs.

Also, on running vagrant `vagrant provision`, the following error is there:

The error message is shown below. In many cases, errors from this
library are caused by ssh-agent issues. Try disabling your SSH
agent or removing some keys and try again.
If the problem persists, please report a bug to the net-ssh project.

[2017-07-21 21:20] timabbott commented on #5889
Cool, want to take that task?  I think you probably are best equipped to decide where that should go in the troubleshooting guide...

[2017-07-21 21:27] fragm3 commented on #5889
Yeah, sure we have to fix this and update docs

[2017-07-21 22:09] jackrzhang commented on #5875
@jrowan Thanks for bringing this up! I believe `/integrations/#hubot-integrations` originally redirected to a (now removed) subsection of the main `/integrations` page on the old design.

The routing, along with a number of other changes to `/integrations` is currently being reimplemented [here](https://github.com/zulip/zulip/pull/5874), so those links will be updated in a bit. :) I think adding a

[2017-07-21 22:14] borisyankov commented on #5885
@timabbott no, I haven't open an issue, but the solution is relatively simple: use simplest html markup and possibly use flexbox instead of floats on the css side.

I think we can very easily improve the way the link is presented, as FB Messenger and Skype have a consistent between them look, and it is better than what we have.

[2017-07-21 22:38] jrowan opened #5890 "emails: Digest email missed message block display issues"
The digest emails are exhibiting an unsightly nesting behavior (probably because of a template bug) where all the subsequent messages (and the "welcome new users" and "manage preferences" blocks at the bottom) are appearing inside the block for the first message.

Screenshot 1:

![digest-bug](https://user-images.githubusercontent.com/5571464/28484938-76731b4c-6e2a-11e7-8a47-5df1e39e8b89.png)

Scre

[2017-07-21 22:38] jrowan commented on #5890
@zulipbot label "area: emails"

[2017-07-22 04:50] jrowan commented on #5652
Per the discussion at #5743, this might actually cause address book pollution where people's address books start automatically filling up with other addresses for people they email and Zulip with frequently.

[2017-07-22 10:44] vaidap commented on #4887
Quite confused by this. The inspector shows `<div class="required" aria-required="true"></div>` but the actual css gives me ` <div class="required"></div>`. I suppose that the attribute is somehow added dynamically due to the `class="required"` of the div, but I can't find anything when grepping for `aria-required`, or `required` in JS files. Would appreciate a pointer on this!

[2017-07-22 14:45] jmbowman commented on #4887
I'm not aware of any legitimate reason for empty divs to be "required" at all, and the first attempt at fixing this in #4944 just removed that class from those divs.  And those divs have height zero even when an error message is showing, so I'm not sure what purpose (if any) they serve.  Maybe @brockwhittaker can explain, he added these divs in the redesign from #4531 .

[2017-07-22 17:37] fragm3 commented on #5889
I think we should close this!

[2017-07-22 17:47] rishig opened #5895 "registration: Button on confirm_continue_registration should just register you."
* Try to login with a github account that is not a part of the organization you are logging in to
* Click "Continue to registration"

Currently, we just dump you on to `/register`. Instead, the button should be called "Register instead", and we should just register you, using the credentials provided. The only way to get to this page is via google or github auth, I believe (maybe sso?)

This is a

[2017-07-22 19:06] #5886 closed

[2017-07-22 20:53] synicalsyntax commented on #5844
@zulipbot claim

[2017-07-22 23:08] aero31aero commented on #5176
@zulipbot abandon

I have the feature *almost* complete, and we now only require adding supoort for parsing dates with timezones to bugdown.

I have to leave this issue for now. If you decide to take this up, please build on top of #5253 to add this last feature.

[2017-07-23 10:52] rnice01 commented on #5853
@zulipbot claim

[2017-07-23 17:22] lonerz commented on #5889
Closed.

[2017-07-23 17:22] #5889 closed

[2017-07-23 22:33] timabbott commented on #5895
I don't think that's why; it's more because if you're not sure whether you have an account with something, clicking "log in with GitHub/Google" is usually a pretty good way to make progress.

Anyway, indeed, that's the only way to get to this page.  The main challenge with a "Register instead" button is just passing through the information about the user's authentication on to the registration pag

[2017-07-23 22:39] rishig commented on #5895
Can we just store everything in PreregistrationUser? I.e. treat a click on "log in with Google" from the login page exactly the same as clicking it from the registration page, if the email corresponds to no account in the realm.

[2017-07-24 09:09] vaidap commented on #4887
i was thinking of simply removing the class too, but wanted to first check whether that class had any other meaning than adding the aria attribute. would be helpful to get feedback on this!

[2017-07-24 09:42] vbNETonIce commented on #3220
can typeahead also be fired about two letters have been entered? I'd probably prefer it if it didn't mix with the emojis. something like `>>` I can se working. or two `##` or `::`.
Another logical option would be `...` because it suggests that more is coming.

[2017-07-24 09:51] derAnfaenger commented on #3220
Yup, `::` is definitely preferable to `:`. Rethinking this, it might be actually better to refrain from using any special combination, since that'd  be again something new a user would have to learn. Instead, I think aliases are the way to go, with the default alias for a text snippet being the snippet itself. On entering the first few characters of an alias, it'll pop up in the compose box as an

[2017-07-24 10:39] vbNETonIce commented on #3220
agree, and if you wanted to use a special conbination you can integrate them in the alias yourself.

[2017-07-24 11:07] showell commented on #3220
I like this idea too.  We'd need some discussion on the exact details before implementing it, but I think the initial feedback is positive enough that we'd probably find a a good approach.

[2017-07-24 16:45] timabbott opened #5897 "Document wildcard (`@all`) mentions capability in user docs"
Neither https://chat.zulip.org/help/make-an-announcement nor https://chat.zulip.org/help/at-mention-a-team-member nor mentions `@all`.

[2017-07-24 17:45] timabbott commented on #5693
This was made irrelevant through some other changes to this page by @brockwhittaker.

[2017-07-24 17:45] #5693 closed

[2017-07-24 17:46] timabbott commented on #5538
@jwedoff any luck getting info on this?  We're choosing what gets to go into the Zulip 1.7 release, and I'd love to have a fix for this problem (which seems to only impact you) included.

[2017-07-24 18:22] #5483 closed

[2017-07-24 19:05] anirudhjain75 commented on #5775
@rishig Any idea how do I duplicate the issue, Waiting for three weeks for user to disappear isnt a wise thing to do 😄

[2017-07-24 19:17] anirudhjain75 commented on #5895
@zulipbot claim

[2017-07-24 20:49] timabbott opened #5898 ""Apply to all of my subscriptions" option for changing stream notification settings uses a loop"
I just heard from a user who got rate-limited using this feature because they had more 100 subscriptions.

To reproduce:
* Create + subscribe to more than 100 streams in development; I think there's a `manage.py populate_db` option that will do this for you.  Or skip this step and just watch  the 15 queries on the `run-dev.py` console that don't hit the rate limit; it's not really essential to fix

[2017-07-24 21:06] timabbott commented on #5775
You should be able to replicate locally by temporarily modifying the `exclude_old_users` function to instead exclude some specific user by ID or email or something.

[2017-07-24 23:10] brockwhittaker commented on #4887
The divs used to be required for styling since we would show/hide an asterisk on required and invalid/valid input.

The CSS is here and pretty self explanatory:

[code]

However, now it is old and not useful anymore since we more recently had removed the content (*). It could be taken out of the codebase I believe.

[2017-07-24 23:28] timabbott commented on #5676
@hackerkid if you have a chance, it'd be great to convert the `alert_words` code path.  I guess to do that we need to decide what to do with the old endpoint.

[2017-07-24 23:43] rishig opened #5900 "emails: Add log for outgoing emails."
`zerver.lib.send_email.send_email` should write an INFO log line for each email it attempts to send, and another ERROR line when `mail.send() == 0`.

The log file can be called `email.log`, and live next to `server.log` and friends.
We can log the `mail.to`, the `template_name = template_prefix.split('/')[-1]`, and the `to_user_id` if set.

[2017-07-25 00:32] #5427 closed

[2017-07-25 00:37] #5696 closed

[2017-07-25 00:55] rishig opened #5902 "markdown: Buggy local echo with numbered lists."
The following message will reproduce the error:
[code]
The local echo has the two lines in separate paragraphs (?), and the backend corrects it.

[2017-07-25 01:06] lonerz commented on #5902
Oh that's weird. @zulipbot claim

[2017-07-25 01:07] rishig opened #5903 "drafts: Recover draft should narrow to stream if topic is new."
Currently, recovering a draft automatically narrows you to its stream and topic. This is unlikely to be what you want in the situation where you were composing a new topic.

In that situation, it would be better to narrow you to the stream, rather than to an empty topic.

[2017-07-25 01:26] AnupKumarGupta commented on #5688
@timabbott I am interested in contributing to the project. I am a newbie to Open Source world.
I am setting up the dev environment. I want to work to some  bugs  and  try to get some idea of the project. If anyone if not working on this issue, can I look upon this ? Please let me know how can I get started.

[2017-07-25 01:44] lonerz commented on #5688
@AnupKumarGupta welcome! First thing you probably should do is join us at chat.zulip.org. There you can get help quickly. You can read how to set up a dev environment here: zulip.readthedocs.io/en/latest/dev-overview.html. Finally, this issue is not taken, so feel free to claim it by commenting `@zulipbot claim`!

[2017-07-25 02:20] lonerz opened #5906 "mentions: Home is still selected when you refresh mentions page"
1. Go to https://chat.zulip.org/#narrow/is/mentioned
2. Home will be selected in the upper left corner.

[2017-07-25 10:25] vaidap commented on #4887
thanks Brock! submitted a PR removing these divs.

[2017-07-25 10:41] vaidap commented on #5897
@zulipbot claim

[2017-07-25 12:00] showell opened #5911 "hotkeys: Make "n" key cycle to PMs as well as streams."
We should make the popular "n" key work with PM conversations as well as streams.

The mode of operation should be this:
* if you're in streams, keep cycling in streams
* if you're in PMs, keep cycling in PMs
* if you run out of unread threads in streams/PMs, switch to PMs/streams respectively

A related thing to fix, which we should probably split out an issue for if it's not easy to piggyback on

[2017-07-25 16:37] rishig opened #5913 "registration: Store full_name in PreregistrationUser if we know it."
Currently all our confirmation links work reasonably similarly, with one odd pathway that tacks a query string onto the URL. This contributes to the convolution of the registration code down the line.

To fix this:
* Add a field full_name (null=True) to PreregistrationUser
* Change maybe_send_to_registration to put the full_name into the prereg_user that's created
* Change accounts_register to tak

[2017-07-25 17:17] rishig commented on #5895
Just noticed you can also get to this page via SSO, as one more case to consider.

[2017-07-25 18:19] #3648 closed

[2017-07-25 18:20] lonerz opened #5914 "Have `-` hotkey expand a condensed message if possible"
Currently there's no way to uncondense condensed messages and the `-` hotkey seems like a good option.

When there's a condensed message, clicking `-` will do the following:

1) Uncondense the message
2) Collapse the message
3) Uncollapse the message

So, in short, before collapsing a message, see if it can be uncondensed first and if so, uncondense it.

[2017-07-25 19:11] AnupKumarGupta commented on #5688
@zulipbot claim

[2017-07-25 20:36] timabbott opened #5917 "Add `manage.py list_realms` command to list all the realms on a server"
It's been noted that now that our management commands require a realm, you might really want to be able to see a list of all the realms on a server in nice visual table with id/string_id/name (and maybe also a longer-form "print all the configuration settings" format?  Idunno).  We should make a management command for this.  We may also want to recommend this command in the help for commands that

[2017-07-25 20:37] hackerkid commented on #5917
@zulipbot claim

[2017-07-25 21:03] #5598 closed

[2017-07-25 21:30] rishig commented on #4671
I should mention, I find myself using the group PM widget surprisingly often. I'm not saying we shouldn't get rid of it, but maybe worth thinking about how to get that functionality ("easy access to recent group PM"), maybe by some change to the "Private messages" in the left sidebar.

[2017-07-25 21:33] rishig opened #5920 "sidebars: Enable up and down arrow keys in user and stream search."
If you search for a user (or stream) and have more than 1 match, it would be great to be able to use the down arrow to get to later matches (similar to how our other typeaheads work).

[2017-07-25 22:03] jrowan opened #5921 "name_restrictions: Update the list of reserved subdomains"
The reserved subdomains in `name_restrictions.py` haven't been updated in seven months, and there are a few new competitors/portico pages we should add in to the list.

[2017-07-25 22:03] jrowan commented on #5921
@zulipbot claim

[2017-07-26 01:35] rishig opened #5923 "hotkeys: Add Alt+up and Alt+down for previous/next unread topic."
Alt+down should do the same thing as n (next unread topic), and Alt+up should go to the previous unread topic.

Full discussion at https://chat.zulip.org/#narrow/stream/issues/topic/after.20sending.2C.20close.20compose.3F, but some highlights are:
* Using Alt+down solves the problem of accidentally typing 'n' when you have an open compose box
* Other messaging apps have an Alt+up and Alt+down, whi

[2017-07-26 01:40] lonerz commented on #5923
@showell I'm wondering if we keep track of the unread topics list

[2017-07-26 01:46] #5739 closed

[2017-07-26 01:53] showell commented on #5923
@lonerz As we discussed over PMs, we don't maintain a list of all unread topics across all streams; every time you hit "n" we dynamically find the next unread topic in the sidebar using various sources of information.

[2017-07-26 02:33] #5574 closed

[2017-07-26 06:06] #5737 closed

[2017-07-26 08:32] vaidap commented on #4887
I believe this can be closed now!

[2017-07-26 16:09] #5897 closed

[2017-07-26 16:26] timabbott commented on #4887
Ahh yes, closing; I guess #5909 didn't correctly tag itself as closing this.  Thanks @vaidap  and @jmbowman!

[2017-07-26 16:26] #4887 closed

[2017-07-26 16:27] #4126 closed

[2017-07-26 17:59] jhurwitz opened #5928 "Support some formatting when copy/pasting (in and out)"
If you write a message with a bulleted list:

* a
* b

And then copy/paste it into another program, you lose the bullets. Ideally I feel like we'd paste as markdown, preserving the asterisks.

We also eat a newline after the bulleted list (but not before it). So the above would get pasted as:
[code]

Tim adds: "Doing the full markdown is probably weird (since e.g. link syntax isn't going to copy/p

[2017-07-26 18:25] gnprice commented on #5928
A pretty common case of this I see is for copying and then pasting right back into Zulip to quote a piece of someone's message. A fragment of Markdown that'd be especially useful for that case is backticks -- I see those lost in quoted replies all the time on chat.zulip.org. Conveniently that's also, like `*` bullets, a case where the raw Markdown works fine as plain text.

[2017-07-26 20:05] anirudhjain75 commented on #5895
@zulipbot abandon
Sorry guys I cant set up a dev environment on windows so I cant complete this in the near future, I will try to get Linux then continue 😞

[2017-07-26 23:07] rishig commented on #5895
Thanks for the heads up @anirudhjain75.

Another thing to note here is that we'll likely have to pass a signed token (or cookie, or something) of some sort to this page, to ensure that a user can't just get to this page, modify some post parameters, and log in as someone else.

[2017-07-27 06:24] timabbott opened #5935 "Debug problems with upgrading jQuery to 3.0 and re-upgrade"
We had to downgrade jQuery back to 2.x due to some compatibility issues.

See 41d7bfabe497e218b33ba2820e57a12689b9a4a2 and this discussion for context:

https://chat.zulip.org/#narrow/stream/announce/subject/chat.2Ezulip.2Eorg/near/258036

One needs to remember to provision after adding the code back in order to actually test effectively.

@cory2067 FYI in case you want to debug.

[2017-07-27 06:37] timabbott opened #5936 "Webpack bundle source maps aren't placed where"
I got the below exception in the Zulip error reporting code path trying to access the source maps for `common.js` in production.  I bet the same issue applies to all of our other webpack files.

There appear to be source maps for the webpack bundles in `/home/zulip/prod-static/webpack-bundles/`:
[code]

But our code is looking in `~/deployments/current/prod-static/source-map`, which just has the s

[2017-07-27 17:28] brockwhittaker opened #5938 "Long email addressed make user profile boxes wider than intended."
When a user has a long email address, the user profile box becomes wider than it should. A max width and email wrapping or resizing should take place.

<img width="344" alt="screen shot 2017-07-27 at 10 27 26 am" src="https://user-images.githubusercontent.com/10321399/28683672-4617aaae-72b6-11e7-9826-fe87b3c76f7e.png">

[2017-07-27 17:28] brockwhittaker commented on #5938
@zulipbot claim.

[2017-07-27 18:10] #5938 closed

[2017-07-27 20:14] jrowan commented on #5921
Fixed in #5927

[2017-07-27 20:14] #5921 closed

[2017-07-27 20:21] jrowan commented on #5890
This seems to be happening only intermittently.  When it's not happening, I'm seeing weird-looking unusable scroll bars for each message block like this:
<img width="386" alt="screenshot 2017-07-27 16 18 24" src="https://user-images.githubusercontent.com/5571464/28690540-90ef1248-72e7-11e7-9e92-3fe92b30238c.png">

[2017-07-27 21:06] #5771 closed

[2017-07-28 00:39] timabbott commented on #5266
@vaidap this is probably a good quick task while you're working on developer docs...

[2017-07-28 00:40] timabbott commented on #4849
@feorlen would you be for helping with this?  Seems like probably a pretty quick one.

[2017-07-28 01:03] timabbott commented on #278
I think this is no longer required, since we've enabled it by default.

[2017-07-28 01:03] #278 closed

[2017-07-28 01:03] #1330 closed

[2017-07-28 01:08] #5770 closed

[2017-07-28 01:55] rishig opened #5945 "hotkeys: Advertise hotkeys in alt-text."
The alt-text for the `New Topic` button is "New Topic (c)". This makes that hotkey easy to discover.

We should do that for every alt-text / hotkey that we can.

[2017-07-28 02:15] rishig opened #5946 "message editing: Admins see topic edit pencils when message editing is off."
To reproduce:
* Log in as Iago
* Turn off "users can edit their messages" (Go to Organization settings -> Organization permissions).
* You can still see the edit pencils here:
![image](https://user-images.githubusercontent.com/890911/28699611-a2c84ec2-72ff-11e7-9774-3c2c3b478980.png)

If you try editing the topic and click save, you'll get an error, but we shouldn't have the edit pencil there in t

[2017-07-28 02:32] rishig opened #5947 "org settings: Add realm setting to allow users to edit topics."
Discussion at https://chat.zulip.org/#narrow/stream/design/topic/topics.20world.20editable.
[code]

A potential name for the setting in the `Realm` object might be `edit_topics_by_admins_only`. The setting should be False by default, though all past orgs should be migrated in as True.

In the settings UI, I would put it under Organization Permissions, and call it "Users can edit the topic of any m

[2017-07-28 07:48] bgilbert opened #5951 "Restoring message draft doesn't update rendered preview"
Steps to reproduce:

1. Start writing a message.
2. Switch the editor to preview mode.
3. Click "Drafts" and select a different draft to edit.  Notice that the destination field is updated but the message preview is not.
4. Switch back to write mode.  The draft is correctly restored.
5. Switch back to preview mode.  The preview is now correct.

[2017-07-28 07:49] AnupKumarGupta commented on #5688
Hey, I am having some trouble reproducing the bug. Am I missing something? Please guide me!

Steps followed by me:

1. Goto home screen
2. Create a new topic for stream `errors` (`errors` stream is inactive right now)
3. `errors` stream becomes active in the left-sidebar

Here are the screenshots:
![screenshot 15](https://user-images.githubusercontent.com/13765996/28707692-f1c1c20a-7396-11e7-8935-

[2017-07-28 10:04] vaidap commented on #5266
@zulipbot claim

[2017-07-28 12:48] vbNETonIce commented on #5885
do I understand this correct that if I add `INLINE_URL_EMBED_PREVIEW = True` in the `settings.py` and restart our server images pasted in msgs would show in between the lines of text rather then being piled up at the end? I would want that (no one is using mobile for this server anyway)

[2017-07-28 12:49] vbNETonIce commented on #5885
btw right now the `INLINE_URL_EMBED_PREVIEW = True` ain't there in `settings.py`

[2017-07-28 15:28] vaidap commented on #5945
@zulipbot claim

[2017-07-28 17:58] timabbott commented on #3654
@HarshitOnGitHub this should be relatively doable now that we're using the upload flow for realm emoji.

[2017-07-28 18:00] HarshitOnGitHub commented on #3654
Yeah it was already on my TODO. Will start working as soon as I complete other issues. :)

[2017-07-28 18:04] #5545 closed

[2017-07-28 18:04] timabbott opened #5956 "recent_sender: Also sort by stream or overall message recency as tiebreaks"
Our `recent_sender` typeahead is good for mentioning people active in the current topic, but I think we could do a lot better with realms with many thousands of users by also applying weight to users who send a lot of messages in the stream or organization as further tiebreaks.  I added a comment on this issue in e729814cfde23686bf7085ef463963a0820cf2b9 in the place where we'd want to do the check

[2017-07-28 18:27] timabbott commented on #5951
Arguably the correct fix is that we should switch back to write mode when you select a draft.

[2017-07-28 19:00] timabbott commented on #5885
Yep, that's correct.

We should probably add it to the `prod_settings_template.py` file next to `INLINE_IMAGE_PREVIEW`.

[2017-07-28 19:10] pweaver commented on #5936
It is true that the minified source maps are not being unminified properly and #5957 fixes that. However the exceptions you are seeing are unrelated. I think it has to do with removing the source-maps directory between deploys.

[2017-07-28 19:32] #5902 closed

[2017-07-28 20:23] showell commented on #5884
A related discussion on unread counts (and possibly capping unread queries):

https://chat.zulip.org/#narrow/stream/backend/subject/unread.20data/near/259338

[2017-07-28 20:29] timabbott opened #5958 "Limit `unread_msgs` data structure to only some unread messages"
Some users may have as many as 1M unread messages but still be caught up, because these other unread messages are in muted or even unsubscribed streams/topics.

We'll want to probably eliminate the situation of unread messages on muted streams, but for the case of muting, as well as users who just are really far behind, we should limit the `unread_msgs` API's number of messages to look at to somet

[2017-07-28 20:32] timabbott opened #5959 "Mark messages as read when a user unsubscribes from a stream"
Currently, a user can have a bunch of unread messages that stay that way forever, because thy're on a stream the user isn't subscribed to anymore.  This is probably just wrong, since the user can't really benefit from keeping that state.

One question is whether we want this to be limited to the case that the user doesn't immediately unsubscribe (one could do it accidentally), e.g. by using an hou

[2017-07-28 20:32] timabbott commented on #5884
There's a few issues going on here; I just opened these two for issues around that last discussion:
* https://github.com/zulip/zulip/issues/5958
* https://github.com/zulip/zulip/issues/5959

[2017-07-28 23:03] timabbott commented on #5936
Hmm, I guess there is the somewhat suspicious data point that this was looking for simply `common.js`, without a hash in the name...

[2017-07-29 00:02] timabbott commented on #5887
This problem is happening to others and pretty confusing, in that it's led to a few folks rebasing branches ending up with broken development environments.

@gnprice do you have time to fix this correctly, or should we revert #5768?

[2017-07-29 00:03] timabbott commented on #5868
Cool.  @geekdave is this something you're interested in working on?  zulip.readthedocs.io/en/latest/integration-guide.html covers in the incoming-to-Zulip webhook side, which should be quite easy with their API.  The second half should use our brand new outgoing webhooks; I'd recommend doing that after the incoming part is all done though :)

[2017-07-29 01:33] timabbott commented on #1857
I did some work on this in 016167198143a1f518f8a141d1aadeeacb5f3a87 and the few commits before it.

[2017-07-29 01:34] timabbott commented on #5154
I think the next-best thing to do here would be to just add this sort of case to `markdown.contains_backend_only_syntax` with a test.  Though I suppose that may run into the same problem of writing the regular expression.

In case that problem is solvable, see https://github.com/zulip/zulip/commit/016167198143a1f518f8a141d1aadeeacb5f3a87 for new documentation that explains how to do this easily wi

[2017-07-29 03:47] gnprice commented on #5887
How big is the impact of #5760 which #5768 fixed?

The #5760 description says it accounts for 1/8 of the time in `tools/test-js-with-casper 01`. In a bit of testing just now on my machine, that command took 30.8s and 30.1s in two trials; and when I manually remove all `.pyc` files with the old version of the line replaced in #5768, it takes 29.8s and 30.4s.

... Oho, that's because #5768 actually

[2017-07-29 04:15] timabbott commented on #5887
For me, it's the same 1s, but out of 8s.  Given the fact that 1s apparently doesn't scale, seems fine.

[2017-07-29 13:07] vbNETonIce commented on #5885
@timabbott  see #5964

[2017-07-29 13:08] vbNETonIce commented on #5885
re side by side: that would be good as well!

[2017-07-29 14:05] HarshitOnGitHub commented on #2994
This highlighting issue seems to be already fixed in the commit 2f09866364b2bf991ef611af27a9b3d9642f0eda.

[2017-07-29 17:53] IshanGupta10 commented on #5913
Hi Rishi,

I'm new to the contributing to Zulip's code base, and I would like to start my contribution with this issue. Please let me know if it's available to pick and I'll start working,

Thanks,
Ishan

[2017-07-29 18:00] anirudhjain75 commented on #5913
@IshanGupta10 You can claim the task using the command **zulipbot claim**

[2017-07-29 18:06] rishig commented on #5343
Closing this issue; will be handled by #5819.

[2017-07-29 18:06] #5343 closed

[2017-07-29 18:07] IshanGupta10 commented on #5913
zulipbot claim

[2017-07-29 18:08] rishig commented on #5913
Hi @IshanGupta10, welcome! https://github.com/zulip/zulip/issues/4507 might be a good issue to start with. I'd also recommend making an account at chat.zulip.org, where we can discuss your interests.

[2017-07-29 18:17] IshanGupta10 commented on #5913
Hi @rishig

Thank you for letting me know this. I'll start over from there and get back to this issue. I can work in parallel over this issue locally. Do I introduce myself in some of the specific forum over chat.zulip.org? I've read some really interesting messages over the landing page, I'll be learn more about Zulip that way.

Thanks,
Ishan

[2017-07-29 18:23] rishig commented on #5913
cool! You can introduce yourself in the "#new members" stream. This issue is somewhat tricky for a first contribution, so I'm going to
@zulipbot abandon
you for now.

[2017-07-29 18:54] HarshitOnGitHub commented on #4357
@zulipbot claim

[2017-07-29 22:01] HarshitOnGitHub commented on #5154
@zulipbot claim

[2017-07-30 16:04] anirudhjain75 commented on #5951
Hi I am unable to replicate this issue

[2017-07-30 18:01] franziskagoltz commented on #5946
Hey @rishig,

I just checked this out, and noticed that currently by design admins seem to be allowed to edit any topics (see below - code from zulip/static/js/message_store.js). However the code does not follow through with that, as Iago can not actually save the updated topic.

[code]

When logged in as AARON and "users can edit their messages" is turned off, the edit pencil is not visible.

![s

[2017-07-30 18:08] pweaver opened #5971 "build-release-tarball has two copies of all assets"
This makes the tarball much larger than needed. Also in practice one version of the assets is unversioned so when release code depends on those files it tends to break running code.

[2017-07-30 18:21] rishig commented on #5946
Hi @franziskagoltz, welcome!

Your observation is correct, admins can edit any topic when message editing is turned on.
When message editing is turned off, the current backend behavior is the correct one; no one (including admins) should be able to edit messages.

I'm not actually sure what the current backend behavior is when the topic is empty, and message editing is turned off. But I would go w

[2017-07-30 18:47] franziskagoltz commented on #5946
Great, thanks for the clarification @rishig!

[2017-07-30 18:48] franziskagoltz commented on #5946
@zulipbot claim

[2017-07-30 19:54] bgilbert commented on #5951
I'm using Firefox 54.0 on Fedora.  There are no errors in the JS console.

[2017-07-30 21:09] skapil commented on #5816
@rishig I don't want to hold this ticket because of me. Looks like, I need to better understand the zulip code and need more time. I am removing myself as assign. I will pick some other ticket which I have better confident to resolve. Thanks again for patients.
@zulipbot abandon

[2017-07-30 23:17] timabbott commented on #5971
I think this may be caused by tools using hard-linking and then it getting converted to duplicate files in the tarball, but I'm not sure.  At the very least, we could do symlinks, but really, we just want the non-versioned copies to not exist.

[2017-07-31 00:24] #5887 closed

[2017-07-31 01:01] anirudhjain75 commented on #5951
I am using Chrome on both on Ubuntu zesty

[2017-07-31 01:03] lonerz opened #5973 "Twitter profile pic overlaps with surrounding border for embedded tweets"
If a tweet is short in length, the surrounding border around the tweet is partially covered by the profile pic of the tweet author.

![screen shot 2017-07-30 at 5 58 24 pm](https://user-images.githubusercontent.com/12992571/28759381-56c02028-7551-11e7-9c45-d52cb451c7a0.png)

[2017-07-31 02:18] rishig opened #5974 "tooling: Editing help and other markdown files requires reload in dev environment."
To reproduce:
* kill and restart the server
* Go to localhost:9991/for/open-source
* Change some text in templates/zerver/for/open-source.md
* Reload localhost:9991/for/open-source
* See the changes reflected
* Repeat steps 3-5 a few times. After a few iterations, I stop seeing the changes reflected.

Further discussion at
https://chat.zulip.org/#narrow/stream/development.20help/topic/edit.20.2Emd

[2017-07-31 04:57] IshanGupta10 commented on #4507
@zulipbot claim

[2017-07-31 09:44] vaidap opened #5975 "Make emoji more accessible"
Continuation of [this](https://github.com/zulip/zulip/pull/5807#discussion_r130172925) discussion.

This involves improving accessibility for both people using screenreaders and users wanting to figure out what the code for an emoji is by hovering on it.
* For screenreaders, setting `aria-label="name of emoji"` seems to be the correct approach.
* For users wanting to see the emoji code, setting a

[2017-07-31 09:45] vaidap commented on #5975
@zulipbot claim

[2017-07-31 14:35] vaidap commented on #5945
Adding the `title` attribute won't communicate this information to users using screenreaders properly, but I don't really see an easy way to make this accessible (adding an alt, but do we want the shortcut to always be pointed out?)

[2017-07-31 15:45] skapil commented on #5816
@rishig Thanks! I will ask over there!!

[2017-07-31 16:38] #5266 closed

[2017-07-31 18:20] rishig commented on #1421
The theme is sea creatures doing cute things :). Closing!

[2017-07-31 18:20] #1421 closed

[2017-07-31 18:25] rishig commented on #5652
Closing, based on discussion at #5743.

[2017-07-31 18:25] #5652 closed

[2017-07-31 18:37] lonerz commented on #5578
Still working.

[2017-07-31 18:48] lonerz commented on #4068
This is an inactive task for right now..

[2017-07-31 19:30] showell commented on #4749
@timabbott We may want to close this as non-actionable.

[2017-07-31 19:31] timabbott commented on #3887
@jackrzhang can you look into this issue and confirm it's fixed?

[2017-07-31 19:32] showell commented on #4310
@timabbott I think we can close this, since the major issues were addressed, and the minor issues haven't caused any real world feedback since 1.6.

[2017-07-31 19:34] timabbott commented on #4894
@vaidap was this fixed in #5881?

[2017-07-31 19:41] timabbott commented on #4310
I think it makes sense to close this issue; it might be reasonable to open a replacement issue that documents the suboptimal elements of the modal post-this-issue, but is described in a way that discourages new folks from trying to work on it.

[2017-07-31 19:41] #4310 closed

[2017-07-31 19:41] timabbott commented on #4749
Yeah, that's reasonable; if we didn't accidentally fix it, it should have shown up again by now.

[2017-07-31 19:41] #4749 closed

[2017-07-31 19:42] #5154 closed

[2017-07-31 20:01] timabbott commented on #5272
I think this is now complete.  Thanks for working on this @eeshangarg!

[2017-07-31 20:01] #5272 closed

[2017-07-31 20:08] #611 closed

[2017-07-31 20:11] timabbott commented on #4517
I went through and corrected all the items in my list above.  I believe this still needs a bit more audit work / decisions made.  Might make sense to have the work product of that be documentation on exactly which endpoints should be available to bots vs. not and why.

[2017-07-31 20:40] timabbott commented on #5951
@anirudhjain75 this is easy to reproduce in Chrome on Ubuntu if you follow @bgilbert's recipe exactly.

[2017-07-31 21:02] akashnimare opened #5978 "Add keyboard shortcuts in markdown"
It would be great to have few keyboard shortcuts in our markdown just like GitHub.

* [ ] <cmd+b> for bold text
* [ ] <cmd+k> for links
* [ ] <cmd+i> for italic texts

![pasted_image 3](https://user-images.githubusercontent.com/2263909/28798236-83f4bf8e-7661-11e7-92ff-beef166f7a04.png)

Edited by tabbott with notes on how to do this:
* We should be able to do this pretty easily with the `jquery-ca

[2017-07-31 21:56] #5974 closed

[2017-07-31 22:33] timabbott opened #5981 "Figure out how to handle caching in `var/` around Vagrant rebuilds"
We now have a bunch of super useful caching tooling as part of `provision`.  Most of it generates things under places like `/srv/zulip-venv-cache`, which is nice, in that if you use the same Zulip checkout for multiple Vagrant guests (or for Vagrant + the root machine), everything works fine, since those paths aren't shared.

However, we've recently added a few stamp files that live under `var/`:

[2017-07-31 23:34] jackrzhang commented on #3887
Can confirm it's fixed :) The registration form validates required fields (the check was already in place prior to any work I did on it last month)

![image](https://user-images.githubusercontent.com/12771126/28802914-cb950532-760d-11e7-8c11-a0b6bd4dd035.png)

[2017-07-31 23:36] lonerz commented on #3887
Awesome! Closing.

[2017-07-31 23:36] #3887 closed

[2017-07-31 23:46] rishig opened #5984 "streams settings: Change url to #streams/all when clicking on "All streams""
@brockwhittaker

[2017-08-01 00:29] wangjames commented on #5775
@zulipbot claim

[2017-08-01 04:22] #4357 closed

[2017-08-01 05:50] phfta opened #5988 "Zulip error"
I've install and setup zulip for my testing purposes, i've used gmail for outgoing SMTP.

I was was to get realm for my Organization setup. However, after i click the CREATE ORGANIZATION. i am getting the following error:

 ZULIP
Log in Register

Internal server error.

Well oops. This one's probably our fault. Sorry about that!

If you'd like, you can drop us a line to let us know what happened.

[2017-08-01 06:20] timabbott commented on #5988
@phfta check `/var/log/zulip/errors.log`; you probably have a configuration issue.

[2017-08-01 06:48] phfta commented on #5988
I tested my email outgoing and it works fine.

however i am getting this error message:
root@zulip:~/zulip/scripts/setup# tail -f /var/log/zulip/errors.log
    return mail.send() > 0
  File "/home/zulip/deployments/2017-08-01-12-39-20/zulip-venv/lib/python2.7/site-packages/django/core/mail/message.py", line 342, in send
    return self.get_connection(fail_silently).send_messages([self])
  File "/h

[2017-08-01 09:23] vaidap commented on #5535
The PR is still being worked on!

[2017-08-01 09:24] vaidap commented on #5536
Just waiting on the frontend (#5593) to be CR-ed and merged!

[2017-08-01 09:25] vaidap commented on #4894
Yes! Sorry, I tend to forget to put the issue to be closed in the actual commit description.

[2017-08-01 09:26] vaidap commented on #5534
Waiting for a CR on #5590.

[2017-08-01 09:26] vaidap commented on #5113
This is being worked on in #5592.

[2017-08-01 09:27] vaidap commented on #1028
Should I just go ahead and do an initial PR on this?

[2017-08-01 09:28] vaidap commented on #5010
Just waiting for the frontend of high-contrast to get merged!

[2017-08-01 09:28] vaidap commented on #4883
This can be closed! Forgot to add the issue in the commit body.

[2017-08-01 09:30] vaidap commented on #5004
Should I go ahead with adding something to `help/` about using the emoji as text option?

[2017-08-01 09:32] vaidap commented on #5707
Still working on it!

[2017-08-01 09:32] vaidap commented on #5839
Still working on it!

[2017-08-01 09:32] vaidap commented on #5198
Still working on this!

[2017-08-01 10:03] vbNETonIce commented on #3783
could this be added to some road map, please? For coorporate use this is really quite useful to have.

[2017-08-01 11:24] showell commented on #5959
For context, the interim solution here would be to filter out the unread messages from unsubscribed streams as part of a post-processing step while building page_params.

[2017-08-01 15:10] #4883 closed

[2017-08-01 15:35] timabbott commented on #5988
@phfta if `manage.py send_test_email` works, then I bet you forgot restart the server after testing email sending, so the server is still running with your previous not-yet-working SMTP configuration.  Can you try restarting?

[2017-08-01 15:52] timabbott commented on #5839
@brockwhittaker FYI since you're looking at some /help/ styling issues.

[2017-08-01 15:53] timabbott commented on #5004
Yeah, we should at least mention/link to that setting on the "high contrast mode" accessibility page.

[2017-08-01 15:53] timabbott commented on #1028
Yeah, I think so.

[2017-08-01 15:57] #5534 closed

[2017-08-01 15:57] timabbott commented on #4894
No worries.  That may be something worth adding to a paper "submit a PR checklist" that you check every time you submit a PR until you build the habit :)

[2017-08-01 15:57] #4894 closed

[2017-08-01 16:32] rht commented on #1666
I am sorry for not pushing this fix earlier.
@zulipbot I can't figure how the time span was being calculated unless it was recently updated to have the specified number.

[2017-08-01 17:35] jgriffith23 commented on #5489
I'm still working on it...I got a bit busier than expected just after claiming it and am just getting back to it. Apologies! I'd still like to give it a shot if that's okay.

[2017-08-01 17:50] timabbott commented on #5489
Go for it @jgriffith23!

[2017-08-01 17:58] lonerz commented on #1666
@rht don't worry about it :) Thanks for pushing a PR now! @zulipbot can't find lone commits that reference an issue– it can only find PRs that have commits that reference the issue.

[2017-08-01 19:00] HarshitOnGitHub commented on #209
@timabbott Any update on reaction migration or emoji web PR, since without those two this one can't move forward.

[2017-08-01 21:33] HarshitOnGitHub commented on #3654
@zulipbot claim

[2017-08-01 21:42] gnprice opened #6002 ""Copy link to conversation" doesn't work when reached from keyboard"
If on a message I hit `i` to pull up the message actions menu, then `down` a bunch to get to the "Copy link to conversation" option, and `enter` to select it:
* I get the nice green "Copied!" message that tells me the link was copied, but
* nothing is actually copied. When I go paste from the clipboard elsewhere, I get whatever was previously there. (This is true of both the ctrl-v and the middle-

[2017-08-01 22:03] timabbott commented on #6002
@lonerz @tejaskasetty any ideas?

[2017-08-01 22:31] lonerz commented on #6002
Haven't really debugged but possibly this commit: aa645eb72bf848a2fb5db281e533644a3f6f70ef

[2017-08-01 22:35] timabbott commented on #6002
Yeah, that seems highly suspicious.

[2017-08-01 22:36] lonerz commented on #6002
Hmm I just reverted that commit and it still didn't work..

[2017-08-01 22:38] #3634 closed

[2017-08-01 22:50] lonerz commented on #3820
@timabbott I was playing around with this and it has to do with something of the typeahead.

If you have a nonexistent stream name, this bug doesn't happen. Can you confirm?

[2017-08-01 23:18] timabbott commented on #6002
Also @brockwhittaker FYI

[2017-08-02 02:19] rishig opened #6003 "bugdown: Whitespace gets eaten in messages."
To reproduce, send the message:
a       [lots of spaces]         b

It'll show up as "a b".

[2017-08-02 02:40] rishig commented on #6003
It seems like this is potentially desired behavior in markdown, and using `&nbsp;` instead of spaces works anyway. Closing for now.

[2017-08-02 02:40] #6003 closed

[2017-08-02 03:55] #1666 closed

[2017-08-02 10:55] vaidap commented on #1028
Should this go as a separate md file under Code Contribution Guide in readthedocs, and then be linked to from `Mailing lists and bug tracker. ` in the main README file?

Here is a draft:

Please include these elements in your bug report to make it easier for us to help you.

* A brief title
* An explanation of what you were expecting vs. the actual result
* Steps to take in order to reproduce the

[2017-08-02 15:52] #5707 closed

[2017-08-02 16:53] borisyankov opened #6006 "Feature request: New 'conversations' API call"
In the mobile app, we are currently requesting the last 100 PMs to use as 'last conversations you've had'. Since using the `unread_msgs` call, we can have a much lighter (in terms of traffic used) and robust call to get that data.

We need:
* a combined list of PMs and Huddles
* include the last message sent to narrow (no html formatting?)
* sorted by timestamp of the last message
* gives us at le

[2017-08-02 18:16] brockwhittaker commented on #6002
Yeah the commit `aa645eb` should have no affect on the code. I'm looking into it.

[2017-08-02 18:19] HarshitOnGitHub opened #6007 "emoji: Allow to unreacting to a deactivated realm emoji."
Currently if a user reacts using a realm emoji and that realm emoji gets deactivated then a user can't unreact to it and they get stuck in the UI forever. We should change this behavior. It is a follow up issue of PR #4918.

[2017-08-02 18:20] HarshitOnGitHub commented on #6007
@zulipbot label "area:emoji" "enhancement"

[2017-08-02 18:20] HarshitOnGitHub commented on #6007
@zulipbot label "area: emoji"

[2017-08-02 21:09] rishig commented on #201
I'd now recommend the Zulip developers' server, chat.zulip.org, where you can see what an active organization is like. Say hi in "#new members" or "#user community"!

[2017-08-02 21:37] Jonholguin17 opened #6009 "i cant register users"
2017-08-02 21:22:14,665 ERROR    Internal Server Error: /create_realm/69f8b098536f01e8df931c30e06bc4b20bc125f2
Traceback (most recent call last):
  File "/home/zulip/deployments/2017-08-02-11-01-49/zulip-venv/lib/python2.7/site-packages/django/core/handlers/base.py", line 131, in get_response
    response = middleware_method(request, response)
  File "./zerver/middleware.py", line 281, in process_

[2017-08-03 00:40] sarahcstringer commented on #5947
Just to clarify, would the UI for the admin to change a message topic be the same as that for an individual user changing their own messages?

[2017-08-03 00:59] jackrzhang commented on #5804
Some examples of how other products handle this -

Figma, logged out:
![image](https://user-images.githubusercontent.com/12771126/28900080-73fa31ac-77a3-11e7-81c4-697082b250a0.png)

Figma, logged in:
![image](https://user-images.githubusercontent.com/12771126/28900096-8db71664-77a3-11e7-81e7-ea3e0e06e562.png)

Asana, logged out:
![image](https://user-images.githubusercontent.com/12771126/28900128-

[2017-08-03 01:38] phfta commented on #5988
Thanks it works now. by the way Tim, do you have skype?

[2017-08-03 04:49] rishig commented on #5947
Yup!

On Aug 2, 2017 5:40 PM, "Sarah" <notifications@github.com> wrote:

Just to clarify, would the UI for the admin to change a message topic be
the same as that for an individual user changing their own messages?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/zulip/zulip/issues/5947#issuecomment-319836181>, or mute
t

[2017-08-03 13:09] showell opened #6011 "linter: Improve the system for enforcing translations in templates"
We use our custom regex-based linter to enforce that people don't put bare-English strings into templates, since 90% of the time strings should have enclosing markup that flags the strings for translation.

Right now the systems is kind of ugly for a couple reasons:

- We have a bunch of regex rules for different HTML constructs like placeholder, aria-label, alt, and title, and it's possible that

[2017-08-03 17:59] #5984 closed

[2017-08-03 18:47] lonerz commented on #5377
Gonna label this `inactive` since it's a tracking issue

[2017-08-03 18:50] lonerz commented on #5194
Since this is a longer project, I'm going to mark this as inactive.

[2017-08-04 06:42] rishig opened #6018 "dev tooling: Add "create new user" and "create new realm" buttons to /devlogin."
We're about to make a lot of improvements to the onboarding process, and for testing (and user testing) it would be useful to have buttons on /devlogin that just create a new accounts/realms with random or semi-random data, and dump you into the start of the onboarding flow.

I might call the endpoints `/register_realm` and `/register_user` (they go in dev_urls.py), and put the view code at the bo

[2017-08-04 08:10] rishig opened #6020 "dev tooling: Make streams and initial messages more like production."
The pseudo-code for setting up a realm in production is
[code]

The task is basically to replace the creation of `zulip_realm` and possibly also `mit_realm` in `populate_db.py` with code like above.

It will also require some changes to how the admin user is created, and then changes later on down the file in terms of stream creation and other things. Though we also don't need to keep any of the `

[2017-08-04 08:16] Dviros opened #6021 "HTTPS (HSTS) issues"
Hi,
I'm using Zulip on a local server in my domain.
it has a self signed certificate, by the installation document.
However, I'm having HSTS issues when using chrome to browse to the server, thus rendering it unusable.
Is there anything to do against it?

Thanks
Dvir

[2017-08-04 08:29] phfta opened #6022 "Multiple IPS"
My server is behind NAT.

Public xx.xx.xx.150
Internal IP xx.xx.xx.200

I did change the /etc/hosts
xx.xx.xx.200 localhost
xx.xx.xx.150 zulip

My objective is for my local users to use the internal IP on their zulip client settings.

I can only assign 1 x EXTERNAL_HOST which is my Public.

How can i configure the zulip server for my zulip internal client can use my local IP.

Your advise is highly

[2017-08-04 11:49] showell commented on #5032
I have a PR coming to fix this.  It seems like the bankruptcy code would have been the culprit here.  Over time we'll try to rely less on flags for determining if a message is unread, and we'll only look at the flags when the messages first arrive from the server.

[2017-08-04 13:25] timabbott commented on #6022
Have you tried using ALLOWED_HOSTS for the second ip?

-Tim Abbott (mobile)

On Aug 4, 2017 4:29 AM, "phfta" <notifications@github.com> wrote:

[2017-08-04 14:46] vaidap opened #6024 "Fix aria-hidden assignments."
When grepping for `aria-hidden`, there are mostly `<i>` tags that use `aria-hidden="true"` to hide them from the user, or modals that have their `aria-hidden` property modified dynamically.
However, there are a bunch of aria-hidden assignments that are unnecessary/do not function correctly.

* `$('#default_language_modal').show().attr('aria-hidden', false);` in `settings_display.js` never gets set

[2017-08-04 14:46] vaidap commented on #6024
@zulipbot claim

[2017-08-04 18:20] timabbott commented on #6021
We recommend using LetsEncrypt to get a real SSL certificate, since it's free and easy and doesn't result in a bunch of pain with clients that (correctly) don't like self-signed certificates.  Self-signed is usually only good for getting through the install process and having a couple people look at it.

That said, in most browsers, including Chrome, there's usually a "ignore the fact the cert isn

[2017-08-04 19:14] geronm opened #6027 "Subscribing to topics within a stream for push notifications"
The usage pattern that I have experienced for Zulip includes a few high-traffic streams within which everybody is chatting at once. I personally find this easier to deal with than trying to split communication into many different streams (for example, because in that case everyone would have to manually subscribe to all of those new streams in order for us to have the same level of intra-organizat

[2017-08-04 19:59] synicalsyntax commented on #5988
Closing issue since initial question has been resolved

[2017-08-04 19:59] #5988 closed

[2017-08-04 21:11] #5032 closed

[2017-08-04 21:25] #5917 closed

[2017-08-04 22:01] timabbott commented on #3380
@cory2067 is this issue still open?

[2017-08-04 22:02] timabbott commented on #6027
Thanks for the feedback @geronm!  This is a helpful additional use case to think about in the general space of extensions to what one can do with topics.

[2017-08-04 22:25] rishig opened #6028 "dev tooling: populate_db.py generates multiple copies of each message."
See https://chat.zulip.org/#narrow/stream/issues/topic/repeated.20messages.20in.20dev.

[2017-08-04 22:25] lonerz commented on #3380
@timabbott still happens, just reproduced.

[2017-08-05 02:32] rishig opened #6030 "onboarding: Make welcome-bot a real bot."
Currently, welcome bot sends you an onboarding message, that asks you to reply, so that users can test out the replying process. It would be great if welcome-bot could then reply back!

The first step is to write a welcome-bot that just replies with a fixed message, like
[code]
the first time you send it a message, and then nothing forever after. It can store the "has replied to user" bit in the U

[2017-08-05 03:02] gnprice commented on #5643
Done last week, with 2d534e739.

[2017-08-05 03:02] #5643 closed

[2017-08-05 07:13] Dviros commented on #6021
Hey Tim,
Thanks for your answer.
When having the HSTS error message, my only solution will be to clear HSTS settings in chrome.
It's not always works.
I will attach a similar screenshot (because I'm OOO) but it does not allow me to visit the Zulip site.
Thanks again,
Dvir

[2017-08-05 15:12] showell opened #6032 "Have descriptions when you hover over #stream links."
Zulip currently supports links like #general that you can click to narrow to the "general" stream.

We should make it so that when you hover over them, a tooltip shows the description of the stream.

We probably want do this without changing the render code.  The web app and other clients could look for the class "stream" and set up the tooltips.  The client will generally have the descriptions fo

[2017-08-05 17:34] timabbott opened #6035 "Error changing an email back to an email address you just stopped using"
This is almost certainly a caching regression.  Just change your email address, and then change it back, and you'll get this error.

![image](https://user-images.githubusercontent.com/2746074/28997434-9e3cff4e-79c9-11e7-9d17-b2b9bf98b602.png)

[2017-08-05 17:51] #6035 closed

[2017-08-05 18:22] #6028 closed

[2017-08-05 18:24] timabbott commented on #6028
I fixed the root issue here, which is the random seed being handled incorrectly.  I think it was just an invisible problem because of how boring the Hamlet section was.

However, there's a secondary issue that we only generate something like 78 messages in the data file for each `populate_db` run, and then the threads are all pulling from that file, so fundamentally, there's just not enough entrop

[2017-08-05 18:26] timabbott opened #6036 "populate_db: Increase entropy of messages generate"
We have a new `generate_test_data` framework for generating test messages, which is great in that it includes a bunch of rich syntax now, but it definitely still needs work to increase the variability in the messages it generates.

[2017-08-05 18:27] #6022 closed

[2017-08-05 19:24] rishig opened #6037 "left sidebar: Add ability to edit topics."
Add a "Rename <topic name>" in the topic popover, which would allow you to edit the topic directly in the left sidebar. It should appear if (and only if) message editing is on.

@brockwhittaker, do you want to take this, since I imagine it is sort of a tricky change? I'm imagining the topic would turn into an input box with a save icon or a check box. And maybe on blur it resets (does not save)?

[2017-08-05 21:01] timabbott commented on #5973
@brockwhittaker can you investigate this one?

@lonerz can you post the Tweet ID for that?  It'll make testing easier.

[2017-08-05 21:35] lonerz commented on #5973
https://twitter.com/usemoslinux/status/882958518323732481

[2017-08-05 23:23] timabbott commented on #6009
@Jonholguin17 the issue here is definitely that you don't have RabbitMQ setup properly, so your server isn't working yet.  I recommend looking at the RabbitMQ sections of http://zulip.readthedocs.io/en/latest/prod-troubleshooting.html.

@gnprice I think this is the sort of issue we might be able to prevent by changing the default hostname we use for rabbitmq to 127.0.0.1 instead of "localhost", si

[2017-08-05 23:23] #6009 closed

[2017-08-06 00:38] timabbott opened #6038 "/help/ responsive view hides the menu too well so that it is not discoverable"
When chatting with some users the other day, I experienced a user being super confused about where the /help/ actual content was in a reasonably wide but not large window (e.g. 700px wide).

I think we should either make the hamburger menu more visible (e.g. making it have a label like "menu") or otherwise make this more discoverable.

@brockwhittaker any ideas?

[2017-08-06 01:08] #3654 closed

[2017-08-06 01:09] timabbott commented on #3295
@jackrzhang and @brockwhittaker have been working on popovers CSS recently; adding them to this conversation.  Ideally, we'd resolve this completely soon, since this issue has been running a long time.

[2017-08-06 01:11] #6024 closed

[2017-08-06 01:18] timabbott commented on #1028
Sure, that looks reasonable.

[2017-08-06 02:26] rishig opened #6040 "notifications: Do not notify for at-all in muted streams."
In muted streams, we should
* notify on an @-mention specifically of you
* but not notify on @-all.

Currently, we notify both for @-mention of you and for @-all.

[2017-08-06 18:05] roed314 opened #6042 "Capitalization when changing topics"
When editing a topic, if you just change capitalization it appears to revert to the old topic, even though the change was successful. If you narrow to another stream and then come back, it appears correctly (and the change also happens immediately in the list of streams on the left).

[2017-08-06 18:38] mahimg opened #6043 "Left sidebar responsiveness for big screen sizes"
The left sidebar doesn't completely occupy the left side and scrollbar gets fixed after a window size, bug arises somewhere between vertical length greater than 18-19 inches. Not a urgent bug as such.

![image](https://user-images.githubusercontent.com/16012015/29005949-efebff26-7b03-11e7-85bc-fa17ceffe342.png)

[2017-08-07 03:22] phfta commented on #6022
What is the right format?

ALLOWED_HOSTS = 'xxx.xxx.xxx.xxx'

This doesn't work

[2017-08-07 13:46] vaidap commented on #6032
Would we like to do this with the bootstrap tooltips so that markdown is supported, or just the simple title tooltip?

[2017-08-07 13:48] vaidap commented on #6043
This should hopefully be fixed by #5926 (the perfectScrollbar is invisible unless being scrolled), once I get it to work.

[2017-08-07 14:58] timabbott commented on #6022
You need to list all hosts that users will use.  The comments above the setting in /etc/zulip/settings.py should help, but if you need more info, you can google ALLOWED_HOSTS; it's a standard Django thing and there's lots of answers for how it works.

[2017-08-07 15:11] phfta commented on #6022
Thank you Tim, will have it checked tomorrow morning. 

Sent from Yahoo Mail for iPhone

On Monday, August 7, 2017, 10:58 PM, Tim Abbott <notifications@github.com> wrote:

You need to list all hosts that users will use. The comments above the setting in /etc/zulip/settings.py should help, but if you need more info, you can google ALLOWED_HOSTS; it's a standard Django thing and there's lots of answ

[2017-08-07 17:50] lamarqua commented on #4120
Any ETA for a fix on this :) ?

[2017-08-07 19:07] Dviros commented on #6021
Another question - what type of certificate can I generate if my server is locally installed and not as a domain? Letsencrypt is not suitable for this purpose.
Thanks
Dvir

[2017-08-07 21:43] jackrzhang opened #6050 "hotspots: Add "Restart Tutorial" to gear menu."
This would be useful for (1) manual testing on chat.zulip.org and (2) allowing users to revisit certain hotspots.

[2017-08-07 22:26] gnprice opened #6051 "Text renders with odd spacing (in Chrome on Linux)"
I'm not sure if this is new; or I used to be masking it with the zoom settings I used to have tweaked; or if it's always been this way and I just can't unsee it now that I spent a few hours over the past few days getting my desktop setup working great at high pixel density and choosing better fonts to work with that.

In any case, I'm now in a relatively vanilla configuration -- no scaling happeni

[2017-08-07 22:27] gnprice commented on #6051
@brockwhittaker ^

[2017-08-07 22:49] jrowan opened #6052 "docs: Improve documentation around Twitter previews"
At the bottom of the [portico page for the Twitter integration](https://chat.zulip.org/integrations/#twitter), there is a note that

Within the `/help/` user docs, it's hard to find (if there even is one---I couldn't find one) a place describing how to set up the pretty inline previews of tweets by supplying API credentials in `settings.py`.

This is a cool feature that I think should be documente

[2017-08-07 23:01] neiljp commented on #991
I was just looking if any `-> Any` annotations could be removed/improved, and I've certainly hit the places where django and zulip interact wrt mypy previously; is there a plan/roadmap for type-checking with django in the near/mid-future?

[2017-08-07 23:21] jackrzhang commented on #3295
The [logic for computing popover orientation](https://github.com/zulip/zulip/pull/5983/commits/92a841b4f206b15f658b991e46603f837fce2364), with the most recent changes to `popovers.compute_placement`, should now be able to detect situations like these.

When a popover is determined unable to fit directly to the left, right, top, or bottom of the target element, a `viewport_center` orientation is re

[2017-08-08 00:40] ethanhs commented on #991
@neiljp the Django stubs need work. I started improving them based on docs and working with zulip (see my PR) but there are still quite a few issues with them (mostly missing stubs).

[2017-08-08 01:27] timabbott commented on #6052
Seems like a good plan.  One nice touch would be to have the docs show whether or not the `settings.py` part is enabled on the current server.

[2017-08-08 02:01] timabbott commented on #6021
What do you do for SSL on your existing services on your local network?  That should work well here.  Many organizations in a similar situation have an internal certificate installed on all their machines.

[2017-08-08 03:11] adithyant commented on #6030
@zulipbot claim

[2017-08-08 03:50] franziskagoltz commented on #5946
@rishig, I have another clarifying question: the updating of the pencil icon works when refreshing the page after updating the setting. However, the goal of fixing this issue is that after updating the setting and closing the modal the pencil icon automatically disappears/reappears (without refreshing the page)?

[2017-08-08 04:33] rishig commented on #5946
oh interesting, I had not noticed that. Yeah,

is correct, then. Good catch!

[2017-08-08 04:43] gnprice commented on #5524
See #6009 for another example of a user running into a RabbitMQ failure. @timabbott writes there:

[2017-08-08 15:28] brockwhittaker commented on #6051
Hm, that does look particularly bad but it appears to be to be a Linux/config issue with displaying fonts. I generally feel that Macs are the most true in rendering to the form of the font, and on my computer for example it looks quite good:
<img width="511" alt="screen shot 2017-08-08 at 8 26 08 am" src="https://user-images.githubusercontent.com/10321399/29079943-61f7ce6e-7c13-11e7-895f-b62d94271

[2017-08-08 19:16] gnprice commented on #6051
Yeah, I assume this is not an inherent problem with Source Sans Pro, but somehow we're not getting appropriate hinting information for that font through to the system.

Fascinating, it looks pretty good:
![image](https://user-images.githubusercontent.com/28173/29089529-6960f3d8-7c31-11e7-8517-aef88f37ec4e.png)
In particular the spacing looks totally fine. For example, the words "to" and "the" in m

[2017-08-08 19:41] gnprice commented on #6051
@brockwhittaker and I discussed in person and he looked at the issue on my screen. He's going to try updating the font files we serve, in the hope of getting it to look like it does on the Travis docs.

[2017-08-08 19:52] jrowan opened #6059 "popovers sometimes go off the edges of the page"
Sometimes when I click on a user's name in a message block, the user popover extends off the bottom  of my screen like this:
<img width="761" alt="screenshot 2017-08-08 15 44 05" src="https://user-images.githubusercontent.com/5571464/29091413-e0993f4a-7c50-11e7-879c-4a61d294043a.png">

There's only a narrow range of screen positions where this happens for me: roughly when the name is between 20% (

[2017-08-08 21:01] timabbott commented on #6059
@brockwhittaker @jackrzhang FYI, this should be worth fixing while you're working on popovers stuff.

[2017-08-08 21:41] rishig commented on #4120
Hi @lamarqua, there's most of a pull request at #4452. If you'd be interested in taking it over we'd be happy to help you take it over the finish line!

[2017-08-08 21:43] timabbott commented on #4120
Tagged this as a moderate priority.  I think we're now in a much better position to do something smarter here with the new unread counts backend.  Might make sense to move the check that controls this to the backend so that we can use the same logic for mobile as well.  @showell FYI.

[2017-08-08 21:46] jrowan commented on #6059
This seems to also happen towards the top of the page with the emoji reaction popover (though this particular screenshot came from when I had a portrait-mode laptop screen)
![screenshot 7](https://user-images.githubusercontent.com/5571464/29096102-8474942e-7c61-11e7-9d09-cdb988ad0478.png)

[2017-08-08 21:54] lonerz opened #6061 "user list on left sidebar in narrow windows takes up majority of sidebar instead of streams"
![screen shot 2017-08-08 at 2 52 27 pm](https://user-images.githubusercontent.com/12992571/29096347-5cfed08e-7c49-11e7-8c05-d6f0f0cd07db.png)

We should either make the middle region draggable between user and stream list or give more space to the stream list.

[2017-08-08 22:52] showell commented on #4120
There are two things that go into nagging about bankruptcy:
* the unread counts (we can get this easily on the server now)
* knowing how long it's been since we nagged them

Instead of replacing UserMessage with UserPresence as our timestamp here, do we want to just add `UserProfile.bankruptcy_timestamp`?  UserPresence seems awkward to me, since users can have multiple presence records across vari

[2017-08-09 00:36] aktse commented on #6040
@zulipbot claim

[2017-08-09 03:10] synicalsyntax commented on #5113
@vaidap To prevent @zulipbot from mentioning you again, you should change your pull request's description and commit messages to mention that they reference this issue.

[2017-08-09 03:13] #5004 closed

[2017-08-09 03:14] synicalsyntax commented on #5004
This issue wasn't referenced properly in #6004 but it was resolved in commit eb001e4. Closing issue.

[2017-08-09 04:47] lonerz commented on #1180
Still working.

[2017-08-09 08:34] vaidap commented on #5113
@synicalsyntax sorry about that, will fix!

[2017-08-09 08:40] vaidap commented on #5010
It would be good to have the frontend of the current version of the high-contrast mode merged (#5593), since the backend is merged already & it could be confusing for people as to why it doesn't work-- @timabbott @brockwhittaker would you maybe be able to have a look at it? :)

[2017-08-09 08:40] vaidap commented on #5536
Still working on it.

[2017-08-09 08:41] vaidap commented on #5535
Just waiting for a CR on #5521.

[2017-08-09 08:42] vaidap commented on #5975
@timabbott do you have thoughts/preferences on which approach should be used?

[2017-08-09 08:52] vaidap opened #6064 "off-by-one-pixel white line in features/"
When resizing width-wise on the `features/` page at the `Keyboard Shortcuts` section, the wave sometimes is slightly offset, causing a white line to appear.

![image](https://user-images.githubusercontent.com/13666710/29113141-27644f22-7ce8-11e7-8bc0-2f6be8ff50e7.png)

[2017-08-09 12:07] penCsharpener opened #6065 "improvement: please add #5494 code to SETTINGS / ACTIVE USERS Filter"
please make user filter in organization settings diacritic insensitive as well

![image](https://user-images.githubusercontent.com/26190934/29120753-14e00e6c-7d0c-11e7-8ebf-deb97dce834b.png)

[2017-08-09 12:20] synicalsyntax commented on #6064
Interesting thing I've noticed: this bug is only reproducible through in Google Chrome's responsive window siz-changing developer tool. When you manually change the browser window, this bug doesn't show. Not sure if it's worth fixing if it's only limited to Google Chrome's developer tool.

I think a bigger issue is the images & some text isn't responsive, ex:
![screenshot at aug 09 05-19-54](https

[2017-08-09 12:37] vaidap commented on #6064
I get this error as soon as I open the page-- without having opened the developer tools.

[2017-08-09 13:45] vbNETonIce commented on #6065
Would that be something for you @cory2067?

[2017-08-09 18:40] #1028 closed

[2017-08-09 19:19] brockwhittaker commented on #6064
On it!

[2017-08-09 19:36] timabbott opened #6068 "Upgrade wal-e to a newer version."
Our current version of wal-e (the tool we recommend for {Postgres backups) is out of date and depends on the python-boto library, which doesn't have a Python 3 equivalent.  We should upgrade to a current version, which does seem to expect Python 3.

@gnprice you probably should take this one.

[2017-08-09 19:38] timabbott commented on #6068
The timabbott/tabbott-python3 branch should deal with all the other Python 3 library issues in our puppet configuration.

[2017-08-09 20:02] timabbott commented on #5004
@synicalsyntax I don't think that commit is relevant to this issue?  Regardless, I think this is more or less resolved; can you confirm @vaidap?  As a sidenote, I think the alt tags we're using for emoji for avatars (namely, the user IDs) don't make sense, just brought that up in #frontend.

[2017-08-09 20:06] timabbott opened #6070 ""Go back to login" choice in GitHub login flow shows weird duplicate errors badly"
Here's a screenshot of the issue:

![image](https://user-images.githubusercontent.com/2746074/29141495-5214aab2-7d03-11e7-8204-fdc62abdcba5.png)

To get here:
(1) You'll need to setup http://zulip.readthedocs.io/en/latest/settings.html#testing-google-github-authentication
(2) Set REALMS_HAVE_SUBDOMAINS and make the main "zulip" realm not require a "zulip.com" domain.
(3) Try to login with GitHub a

[2017-08-09 20:45] #886 closed

[2017-08-09 20:52] #6064 closed

[2017-08-09 20:56] timabbott commented on #6061
We should also consider changing it to a toggle rather than stacking things.

[2017-08-09 22:55] gnprice commented on #6068
The two commits we had locally were (a) a fix that went upstream, and (b) a crude one-line way to knock out syslog logging. In newer versions you can control logging with an environment variable, so I think we can just use the current latest release.

I have a draft commit for this but need to make an environment to test it in.

[2017-08-10 02:47] timabbott commented on #6068
Sounds good.  This is probably as good an opportunity as any to test that backup restoration is working properly.

[2017-08-10 07:14] umairwaheed commented on #1633
@timabbott, I think this can be closed after #6019.

[2017-08-10 08:45] vaidap commented on #5004
yes, this is mostly resolved! & have responded to #frontend.

[2017-08-10 09:40] phfta opened #6079 "Zulip IOS and Android App"
Hi

I've, downloaded the Zulip App and Android App and tried to connect to my Zulip server with public IP.

Unfortunately, i'm getting "Network request failed"

I can connect using desktop.

Regards,

[2017-08-10 15:26] rnicedep commented on #5900
@zulipbot claim

[2017-08-10 15:27] rnicedep commented on #5900
@zulipbot abandon

[2017-08-10 16:54] timabbott commented on #6079
@phfta the mobile apps require a real SSL certificate; does your server have one?

@borisyankov this is perhaps a data point that we should give a clear error message when connection failures are due to an SSL problem.

[2017-08-10 16:55] timabbott commented on #1633
Yep, I actually already closed an issue related to this, so I guess we had duplicates.

[2017-08-10 16:55] #1633 closed

[2017-08-10 16:56] timabbott commented on #4733
@umairwaheed this might be a good quick project for you.

[2017-08-10 17:24] #5875 closed

[2017-08-10 17:37] borisyankov commented on #6079
Hmm, should there be a different error reported by the backend in case of SSL problem?
I am pretty sure the 'Network request failed' text comes from the request exception itself.

[2017-08-10 17:41] timabbott commented on #6079
No, the error's going to come from the HTTP library, because SSL errors (e.g. self-signed certificates) happen before the app opens any connection to the backend in the first place.

[2017-08-10 17:45] borisyankov commented on #6079
Hmmm, you might be right. We are currently shoing a generic error.
@phfta are you sure the error does not say 'Can not connect to server' (which is what we have)?

[2017-08-11 02:33] phfta commented on #6079
hi @borisyankov
i'm getting "Network request failed"

[2017-08-11 02:34] phfta commented on #6079
i did used openssl, it should work right?

[2017-08-11 04:23] umairwaheed commented on #4733
OK. @zulipbot claim.

[2017-08-11 16:00] rht commented on #356
Indeed ! And that the communications should remain tractable since the messages
between Zulip servers can be neatly sorted to the designated topics within a
stream; it should be possible in a Zulip server to have lots of n-point <-->'s
in addition to the 2-point <-->'s given the 2-tier threading granularity.

There is an ambiguity with how the implementation could be:
1. A topic in a stream, share

[2017-08-11 20:16] timabbott opened #6090 ""more topics" CSS / indentation looks wrong"
This is really all one needs to see the issue:

![image](https://user-images.githubusercontent.com/2746074/29230273-1a319b4c-7e97-11e7-851c-b2915c49a77e.png)

@brockwhittaker can you deal?  @showell @rishig FYI.

[2017-08-11 20:18] timabbott commented on #5554
@showell is this fixed by #6082?

[2017-08-11 20:18] timabbott commented on #4270
This was fixed by #6082.

[2017-08-11 20:18] #4270 closed

[2017-08-11 20:19] timabbott commented on #1991
@showell is this easy to fix with the techniques from #6082?  No is a possible answer :)

[2017-08-11 20:29] timabbott opened #6091 "Tweak "more topics" to be less distracting when we know there aren't any"
Now that we have a way to access all historical topics, we need to decide whether we want to have some sort of handling for cases where there are unlikely to be more topics and we might be able to prove it:
* new streams.
* new realms.
* A stream where you just clicked on "more topics" 30 seconds ago.
where basically we have the entire message history of the organization there.

Basically, the goa

[2017-08-11 20:31] showell commented on #1991
It's probably possible to use stream_list.scoll_element_into_container to fix this, and we'll probably want to put that function in a new module.

[2017-08-11 20:33] timabbott opened #6092 "upgrade-zulip-from-git: Support specifying remote on the command line"
This would make it easier to deploy from multiple different repositories are different times.

An alternative solution to the problem is that perhaps we should switch to using a shared branch in zulip/zulip for managing chat.zulip.org deploys, which is the actual problem I'm hoping to solve :).

@gnprice thoughts?

[2017-08-11 20:34] showell commented on #5554
#6082 probably fixes this bug my making the scrolling less aggressive.  I'm going to close this, because I think whatever bugs remain will quickly get reported.

[2017-08-11 20:34] #5554 closed

[2017-08-11 20:36] showell commented on #6090
Just to be clear, I think the issue here is we need  to indent "more topics"?  Probably to the same indent level as the topics?

[2017-08-11 20:45] timabbott commented on #6090
Yep.

[2017-08-11 21:30] brockwhittaker commented on #6090
Also I'd advocate for making it the same font size and perhaps `#AAA` in color?

[2017-08-11 21:57] showell commented on #6090
I actually think there should be some contrast between "more topics" and actual topics.  The indentation contrast is probably more distracting than helpful, but it should be a different size and color.

[2017-08-12 07:21] LeapingDragon opened #6096 "End-to-End Encryption for Group Chat"
It would be great to have end-to-end encryption for messaging as it's becoming ubiquitous on major chat apps.

There's a few open-source implementations of the Axolotl/OMEMO/Double-Ratchet protocol which allows for E2E encrypted group chats:
- [Signal](https://www.whispersystems.org/docs/specifications/doubleratchet/)
- [Wire](https://github.com/wireapp/proteus)
- [SilentCircle](https://github.com

[2017-08-12 18:19] marboxvel opened #6100 "Mobile notification is not working"
Hi guys,

I have been looking for a self hosted collaboration solution for long time now and tried different ones like mattermost, rocketchat, and several more. So far, Zulip is the best that fulfills my team needs.

One of many features my team uses is the mobile notifications and I worked with you guys to set this feature up about three weeks ago but unfortunately it hasn't worked yet.
The probl

[2017-08-14 00:33] neomodern opened #6102 "Interactive message attachments for integrations?"
I was wondering if it's possible (or if it's on the roadmap) to create integrations with interactivity similar to [Slack's interactive message attachments](https://api.slack.com/interactive-messages), e.g:

**Message buttons**
![](https://a.slack-edge.com/dcb1/img/api/message_guidelines/Example_6.gif)

**Message menus**
![](https://a.slack-edge.com/5069/img/api/message_menus_triforce_pm.png)

Thes

[2017-08-14 07:54] vaidap commented on #5198
Currently we're discussing whether we should put the descriptions to the chevron menu/navbar instead, in addition to having them in the streams menu.

[2017-08-14 10:18] vaidap commented on #6070
Those errors are generated by this piece of code in `login.html`:
[code]
I assume the duplication is due to it triggering for both email & password.
I'm wondering what the use of these errors is, since commenting these lines & clicking "sign in" while leaving the email/password fields empty triggers the nicer-looking errors:
![image](https://user-images.githubusercontent.com/13666710/29267812-421e

[2017-08-14 15:36] sarahcstringer commented on #5947
I know someone interested in working on this, and I'll go through and update the new feature tutorial as she does so it captures the current process -- she'll claim it shortly :)

[2017-08-14 17:04] timabbott commented on #6070
@jackrzhang can you look at this, since you did recent work on the similar form errors issue on the registration pages?

[2017-08-14 17:05] timabbott commented on #5947
Awesome! :)

[2017-08-14 18:28] timabbott commented on #6096
We'd be happy to see someone work on such a feature.  The tricky issue with this is how to distribute the keys.  Do other tools with webapps like Matrix do key management with browser extensions or something else?

@LeapingDragon are you interested in working on this?

[2017-08-14 18:34] #6090 closed

[2017-08-14 18:45] borisyankov commented on #6100
I think we can provide some hidden developer screen that can do stuff like a push notification on demand (and other things to help debug in production). How does that sound?

[2017-08-14 18:52] timabbott commented on #6100
Yeah, I guess one question is whether we want that screen to be part of the mobile app or the webapp.  E.g. I can imagine a simple webform where an organization admin can select a user and click "send test push notification" or something, and it'll tell you how many devices it sent to.

[2017-08-14 18:56] gnprice opened #6109 "Scrollback in stream stops prematurely"
In multiple streams on chat.zulip.org, I observe the following behavior:
* Narrow to an old topic, scroll to the top.
* Switch to stream narrow, and scroll to the top.
* The top is nowhere near the actual beginning of the stream, but no further message loading happens, and the gray Zulip-logo "this is the beginning" marker sits inert and doesn't do its spinner animation.

First example: I was play

[2017-08-14 19:05] timabbott commented on #6109
OK, I can reproduce.  Turns out this isn't a regression, but instead an issue that was hard to encourage before we expanded "more topics", since previously it was pretty hard to end up narrowed to an ancient topic with no recent traffic.

[2017-08-14 19:09] gnprice commented on #6109
Yep, that was my suspicion. Glad it reproduces easily!

[2017-08-14 19:16] timabbott commented on #6109
Just verified the fix on chat.zulip.org and merged it.  Thanks for providing a clear bug report!

[2017-08-14 19:16] #6109 closed

[2017-08-14 19:21] borisyankov commented on #6100
Might be better on the web side, as it will include only backend supported features (for people on older vs newer version).

[2017-08-14 19:27] LeapingDragon commented on #6096
Sorry I'm not a developer :-/

On 14 August 2017 19:29:05 BST, Tim Abbott <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-14 19:40] #1300 closed

[2017-08-14 19:57] timabbott commented on #5298
Fixed by #5608.

[2017-08-14 19:57] #5298 closed

[2017-08-14 19:59] timabbott commented on #4907
We just merged a new emoji picker with categories, and with that change, I think we should do research into what emoji are in practice popular, and making sure they end up in the "popular" section.

(I guess this isn't quite the hotkey issue, but clearly related)

[2017-08-14 20:43] rishig opened #6110 "emoji picker: Show name of emoji in emoji picker."
It would be great to have the name of the emoji appear somewhere (other than the title text) when you hover or move the selector box over it. Currently I find myself hovering over the emoji, waiting for the title text, and it also makes it feel less usable from the keyboard.

I'm not sure I quite like how Slack does it, but it has one example of what it could mean to show the name of the emoji on

[2017-08-14 20:48] rishig opened #6111 "emoji picker: Change title text to be "full moon" instead of ":full_moon:"."
I don't think there is much need to demonstrate the `:emoji_name:` syntax in the picker, since once you click on an emoji it'll automatically insert it into the message using the correct syntax.

[2017-08-14 20:51] rishig opened #6112 "emoji picker: Typing should bring focus back to text box."
To reproduce:
* Open emoji picker
* Hit down arrow
* Start typing

It should bring the focus back to the text box.

[2017-08-14 20:54] lonerz commented on #6112
Just to clarify, typing any key other than the arrow keys should bring focus back to the text box/search.

[2017-08-14 20:59] jackrzhang commented on #6070
@timabbott Sure! I'm not familiar with how we handle form validation errors on the backend; the work I did earlier on the registration form was just mostly visual. I don't mind digging into it a bit, though.

[2017-08-14 22:21] timabbott opened #6113 "perf: Add a cache for looking up user_profile objects by API key"
Since this is how `api_key_only_webhook_view` and likely soon, `validate_api_key`, work, this could save a database query basically every time that we process a request using API key authentication.  In most cases it'll be immaterial, but for things like presence requests from the mobile app, this could be huge.

[2017-08-14 22:29] rishig opened #6114 "digest: Only send digest emails once a week."
Currently the digest emails are both not very good and are sent very often. This encourages people to unsubscribe from digest emails.

Until we have time to improve our digest emails, we should reduce the frequency to once a week. The main file to start with is enqueue_digest_emails.py.

Also linking to #549, which is sort of related.

[2017-08-14 23:16] marboxvel commented on #6100
@timabbott, I may know now what do you mean by "not testing something that should send a push notification". I tried a private message and it is working. I didn't try it in the first, because my team doesn't usually use PMs when collaborating, they mostly share a link or post something to the chat rooms. They need other members get notified whenever a link is shared or posted without the need to '

[2017-08-14 23:23] borisyankov commented on #6100
@marboxvel I don't think we are doing that yet, but is potentially quite useful.
Can you think of what criteria (besides PMs and mentions) would be useful to get notifications for?
The concern would be to not notify you on unrelated/unwanted messages.

[2017-08-14 23:41] marboxvel commented on #6100
@borisyankov, my team members heavily share links, code, files, etc. among themselves. If, lets say, there are 10 members in a chatroom, then anyone would need to mention the other 9 to have them notified when he/she posts something into that chatroom.

The best way to solve this is that all members within that chatroom get notified once a link, file, or anything is shared.

[2017-08-14 23:41] timabbott commented on #6100
We do already let users configure which streams trigger desktop notifications and sounds.  I suppose we could add "mobile push notifications" (default: off) to that notification settings matrix.

[2017-08-14 23:43] marboxvel commented on #6100
It would certainly be great.