[2016-10-21 02:09] timabbott commented on #1492
https://github.com/fgrehm/vagrant-lxc#avoiding-sudo-passwords and https://cygwin.com/cygwin-ug-net/using.html#pathnames-symlinks seem to be a valid links?  So I think that's a bug in the code, but some of the others definitely don't work (looks like it doesn't handle hashes on third-party sites properly or something?).

[2016-10-21 02:29] kkanahin commented on #1492
oh yes, they use other style for permalinks.

[2016-10-21 02:42] kamalmarhubi commented on #2091
I noticed reports here always get carefully read, so I decided to report anything I find. :-)

[2016-10-21 05:03] timabbott commented on #2026
Looks like we forgot to close this with the commit message on #2074, closing now.

[2016-10-21 05:03] #2026 closed

[2016-10-21 05:34] #1009 closed

[2016-10-21 05:42] #758 closed

[2016-10-21 06:11] timabbott commented on #2088
Yeah, I like the name `ensure_stream` for this.

[2016-10-21 06:51] arpith commented on #150
The PR for the backend is here: https://github.com/zulip/zulip/pull/1985
and the WIP PR for the frontend: https://github.com/zulip/zulip/pull/2089

[2016-10-21 07:07] timabbott commented on #1492
Cool, once you've done that can you update the list of errors?  Then we can fix those :)

[2016-10-21 07:13] timabbott commented on #1460
I'm not sure I think we actually want to switch to using this rather than simpler things like `HostRequestMock`, so I'm going to close this for now.

[2016-10-21 07:13] #1460 closed

[2016-10-21 12:03] umairwaheed commented on #1088
@timabbott, I think this was fixed in #2026 as well, right?

[2016-10-21 12:16] deekshaarul commented on #1910
@timabbott I would like to get further information regarding the issue. I tried reproducing it but it seemed to work fine. Hitting page up and page down works fine in the compose box on my system.

[2016-10-21 12:17] arpith opened #2095 "Refactor get_typing_notification_recipients() (in lib/actions.py) so that do_send_messages() can use it"
The idea is that since get_typing_notification_recipients() is based on code from do_send_messages(), it's possible to have just one method that is used by both do_send_messages() and do_send_typing_notification().

Hopefully these links work :)

get_typing_notification_recipients()
https://github.com/zulip/zulip/blob/6e1674aca5a9e9427d410b25db8e18bf711c2302/zerver/lib/actions.py#L821

do_send_mes

[2016-10-21 13:09] kkanahin commented on #1492
I've updated script and it can't found just two pages:
docs/_build/html/py-modindex.html
docs/_build/html/handling-dependencies_

[2016-10-21 13:49] deekshaarul commented on #2032
@brainwane After having a look at #2051 , I believe all changes from "Github" to "GitHub" has been made in the docs but no change has been made to the `lint-all` file. Shall I work on changes to the lint file so that henceforth such an err is flagged?

[2016-10-21 15:15] timabbott commented on #2032
Yep, that sounds great!

[2016-10-21 15:16] timabbott commented on #2095
Cool, thanks for opening an issue; I've labeled it.

[2016-10-21 15:17] timabbott commented on #1910
Interesting!  I'm experiencing this problem in Chrome 52 on Linux; what browser did you try?

[2016-10-21 15:18] timabbott commented on #1088
Yep, thanks @umairwaheed!

[2016-10-21 15:18] #1088 closed

[2016-10-21 15:20] timabbott opened #2097 "Show the last login time of users in the /#administration "users" tab"
This would help organization admins to deactivate users who are no longer active in the organization.

We may also want to expose this via the API so that one can write a script to e.g. bulk-deactivate users who have been inactive for at least a month.

[2016-10-21 15:35] #1870 closed

[2016-10-21 15:48] #1697 closed

[2016-10-22 09:47] brainwane commented on #1214
My guess is it should now go in https://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#security-model .

[2016-10-22 10:36] deekshaarul commented on #1273
@timabbott @rishig I would like to work on this issue. A solution by changing `value=` in Handlebars to `placeholder=` seems to be working pretty good. Also, when I added `document.getElementById("message_edit_topic").value = "";` in `message_edit.js` , if a user edits the message, the topic becomes empty. Which solution shall I go ahead with?

[2016-10-22 10:43] deekshaarul commented on #1273
![js change](https://cloud.githubusercontent.com/assets/16373231/19618788/d86ab8bc-9871-11e6-9e65-4e7f5e200c4e.png)
The above image depicts what happens when the code is altered in js file.

![html_change](https://cloud.githubusercontent.com/assets/16373231/19618810/539a8d1e-9872-11e6-929f-c966112572d3.png)

The above image is what happens when I change HTML tag as 'placeholder'

[2016-10-22 18:00] phansen01 commented on #1009
Hey, sorry to drop the ball a bit on this one. I was getting crushed pretty hard by exams the past two weeks; glad things smoothly otherwise 😎

[2016-10-22 19:15] timabbott commented on #1009
No worries!  Your early work on the design side of it was still quite helpful :)

[2016-10-22 22:06] brainwane opened #2101 "Remove unused AVATAR_FROM_SYSTEM"
In `zerver/lib/export.py` Steve left a comment in August saying:

The only other places in the source code that mention `AVATAR_FROM_SYSTEM` are the `models.py` database definition (a system-generated avatar) and the `test_get_system_generated_avatar` test in `zerver/tests/test_upload.py`. I looked around to try to find whether/where Zulip generates avatars but I'm not seeing anything. Is this now

[2016-10-22 22:52] brainwane opened #2102 "user data export: use human-readable message timestamps"
The behavior of the current export, at least for exporting a single user, emits a JSON file that includes a "pub_date" like:

I think this would be more usable as a timestamp, like, using `zerver.lib.timestamp`'s `datetime_to_timestamp`.

Per conversation just now with Steve:

I'm going to take a crack at this now.

[2016-10-23 00:25] timabbott commented on #1214
Yep, that's where we should put it.

[2016-10-23 02:06] timabbott commented on #1604
This feature has been added and merged via #2100.  Thanks @rishig!

[2016-10-23 02:06] #1604 closed

[2016-10-23 02:07] timabbott commented on #1761
This feature has been added and merged via #2100. Thanks @rishig!

[2016-10-23 02:07] #1761 closed

[2016-10-23 02:25] doraemon96 commented on #99
Okay so I have a fix for this, what should the commit message (title) be?
I thought "Fix zulip notifies once per message per browse tab" was a bit too long

[2016-10-23 02:31] #1492 closed

[2016-10-23 02:32] timabbott commented on #1492
OK, I addressed the broken links, yay!

[2016-10-23 02:43] timabbott commented on #99
Thanks for working on this @doraemon96!

We actually just fixed that link due to our new documentation test for broken links!  Check again now for the new link.  @kkanahin FYI :).

"Fix duplicate desktop notifications with multiple open browser tabs." is great for the first line.

[2016-10-23 02:45] doraemon96 commented on #287
Could I get an explanation about your tests @timabbott ? I wanted to begin work on this issue and it seems to be working on Chromium[53.0.2785.143 Built on Ubuntu] but not on Firefox[49.0 for Ubuntu]
Any ideas to where the problem could be located?

[2016-10-23 02:49] #2101 closed

[2016-10-23 02:49] timabbott commented on #2101
Yeah, this is not needed, I'll just remove it.

[2016-10-23 03:01] timabbott commented on #287
I think what is happening is that when a new message comes in, we actually rerender the bottom message block as part of adding the new message, and that eliminates the message object that the edit popover was connected to.  My guess is `current_message_info_popover_elem` ends up point to an element that has been destroyed if the message you clicked on was rerendered.

[2016-10-23 05:36] brainwane commented on #2102
I got as far as deciding I'd probably use `from zerver.lib.timestamp import datetime_to_timestamp` and then I got sidetracked by some other investigations, so I'm going to leave this issue to whoever wants to fix it. :)

[2016-10-23 07:30] rishig commented on #1273
Awesome, thanks @deekshaarul! Let's go with the placeholder approach, if we can think of a good placeholder value. Any ideas, @timabbott?

[2016-10-23 08:46] deekshaarul commented on #1273
@rishig currently, the existing topic name is put into the `value=` attribute thus keeping the topic name as a placeholder.
Also, I tried editing the code in `message_edit_form.handlebars` as `<input type="text" value="{{topic}}" onClick="this.value='';" class="message_edit_topic" id="message_edit_topic" />` . What this does is, when we _edit message_, the topic text box has the existing topic nam

[2016-10-23 17:41] rishig commented on #1273
I thought of another possibility, which I think I like best so far:
* If there is already a topic: value={{topic}}, and when you click on the box, all of the text gets selected, making it easy to both see what is currently there and easy to edit.
* If there isn't already a topic: placeholder=(no topic).

If this starts getting complicated, we can do "value={{topic}}, and when you click on the box,

[2016-10-23 17:46] rishig commented on #1273
Unrelatedly, @timabbott, should we not allow backwards propagation for `(no topic)`? For context, @deekshaarul, I'm referring to disabling the following line from `message_edit_form.handlebars` in the no-topic case:
[code]

[2016-10-24 03:21] #1214 closed

[2016-10-24 08:49] deekshaarul commented on #1273
@rishig I have implemented exactly what you have mentioned above. That is, if there isn't any topic, it uses placeholder else uses the value ( and selects it when clicked ). What further changes shall I work on?

[2016-10-24 09:15] arpith commented on #2095
Working on this on https://github.com/zulip/zulip/pull/2109

[2016-10-24 14:53] arpith opened #2110 "Typing notification backend: requests fail with 500, TypeError: 'UserProfile' object does not support indexing"
[code]

[2016-10-24 15:28] rishig commented on #1273
Awesome! Could you open a pull request with the changes?

[2016-10-24 17:18] sinwar commented on #1671
yes @showell

[2016-10-24 18:29] christi3k commented on #750
I was able to fix this by:

- Upgrading to most current versions of Vagrant (1.8.6) and VirtualBox (5.1.8 r111374).
- Installing the vagrant vbguest plugin https://github.com/dotless-de/vagrant-vbguest
- Reloading the Zulip dev environment with `vagrant up reload` so that vbguest installs the updated guest tools.

This issue might be sufficient documentation, or I could add a section to the troubl

[2016-10-24 18:52] gearheart commented on #406
Hi
@timabbott

We have a sync version working, but have stuck a little bit on the async version. You suggested to do loading in the same worker and avoid unnecessary parsing.

As far as I understand, do_send_messages does rendering and saving of messages. We need to add queries and re-render there.

There are lines:

[code]
We parse and can detect if there are any links that require external queri

[2016-10-24 19:19] vaibhavsagar opened #2115 "Preview doesn't work with `/me`"
The new preview functionality doesn't work with `/me`. Example attached:

![preview-me](https://cloud.githubusercontent.com/assets/1525767/19660294/26058a0c-99fd-11e6-823b-76b077294990.png)

[2016-10-24 20:18] brainwane commented on #249
@reyha by the way, how is this going? If you have a work-in-progress branch, it would be great if you mentioned/linked it here. :)

[2016-10-24 21:30] timabbott commented on #2115
@hackerkid @TomaszKolek is either of you interested in picking this one up?

[2016-10-24 22:02] TomaszKolek commented on #2115
@timabbott I will start working on it tomorrow.

[2016-10-25 10:54] deekshaarul commented on #1147
@timabbott I would like to work on this issue. I have gone through all the linked .js files. I need a little more assistance regarding the same. Could you please guide me?

[2016-10-25 12:43] sup95 commented on #1996
@timabbott Hi! Could you please have a look at the patch I submitted and let me know if there are any changes to be made? Thank you! :)

[2016-10-25 13:11] deekshaarul commented on #1272
@rishig @timabbott I have changed the code to this
`else if (e.target.id === "message_edit_topic" && code === 13) {
        // Hitting enter in topic field isn't so great.
        var recipient_row = $(this).closest(".recipient_row");
        if (message_edit.save(recipient_row, true) === true) {
            current_msg_list.hide_edit_topic(recipient_row);
        }
        e.stopPropagation();

[2016-10-25 14:54] timabbott commented on #1996
Done!  Thanks for working on this; I posted a comment on how you could improve the behavior in this code.

[2016-10-25 15:04] timabbott commented on #1147
Sure.  I think what you need to do is:
(1) Add code in hotkey.js to handle the left-arrow hotkey; you can start with making it just do `alert("Left");` to test your logic for triggering it in the right circumstances.
(2) Once you're happy with that logic, make it instead call `message_edit.start()` on the last message that the user sent in the currently visible view.  The tricky part is computing

[2016-10-25 15:25] timabbott commented on #406
Re: `do_update_message`, no, we don't want to modify edit history; I think we'll want to write a new function that uses the same logic to update caches and call `send_event` as `do_update_message`, but creates it own slightly event (maybe slightly tweaked to add a flag so the frontend knows this is an "add_preview" style update event, or whatever).  Via server_events.js, this ends up resulting in

[2016-10-25 17:05] deekshaarul commented on #1147
@timabbott I could get left arrow to work. And to call `message_edit.start()` , I need the row id of the message that is in focus. I am having a tough time to figuring how to get the row id of a focused message from an event triggered by keyboard. Most of the code has the lines when event is triggered by clicks. And for the tricky part, I will immediately read and understand `message_list.js` .

[2016-10-25 17:36] #1596 closed

[2016-10-25 18:08] kkanahin commented on #106
@timabbott I've done first stage(added tool for getting expired messages). Please review PR https://github.com/zulip/zulip/pull/2119. I need your feedback to continue work on it.

[2016-10-25 18:14] timabbott commented on #194
We're working on migrating to a system where we change the default rabbitmq
nodename from rabbit@`hostname` to `zulip@localhost`, for new installs,
which I think would eliminate this problem, since `localhost` should always
resolve to 127.0.0.1.

We actually now do this in Travis CI, but haven't changed the installer
yet.  It's controlled by setting

[rabbitmq]
nodename = zulip@localhost

in /etc/

[2016-10-25 18:34] deekshaarul commented on #1398
I would like to work on this. Could you give me more information on what exactly is needed out of this?

[2016-10-25 19:24] showell opened #2120 "Update "Manage Streams" more dynamically"
If you have the "Manage Streams" page open and somebody else is doing stream activity, your UI will not update immediately for all things, such as the list of subscribers in streams and stream counts.  For counts, it's probably not disruptive, but for redrawing list of subscribers, it may be a bit jolting to have rows appear/disappear.  We may want to refine this after the re-design.

[2016-10-25 20:50] reyha commented on #249
I plan to work on the implementation of the IRC mirror as a plugin with Zulip that can be enabled/disabled by choice. It would be really very helpful to get some suggestions on how to get started. Thanks!

[2016-10-25 21:18] brainwane commented on #1515
I'll summarize here some conversations & clearer specifications we've come up with [in conversation at chat.zulip.org](https://chat.zulip.org/#narrow/stream/bots/topic/Beeminder.20bot).

@Diptanshu8 currently is thinking of having the integration's messages be like:

This is mostly what I want! I'd personally like for the alerts to say the *timestamp* of the date & time when I'm going to derail, t

[2016-10-25 21:41] #483 closed

[2016-10-25 21:41] timabbott commented on #483
Merged today.  Thanks @jedahan for the suggestion, @krtkmj for initial work on this, and @showell for helping get this over the finish line!

[2016-10-25 21:42] timabbott commented on #2120
I did the piece for stream counts in 0f7c8c6d34046641fbe7c75706ca36a123403fec.  It'd be nice to do the subscribers list as well.

[2016-10-25 21:53] reyha commented on #713
As discussed over the Zulip chat, ``~zulip/api_tests`` seems like a good place where these tests could possibly be present. Right now, it is okay to start writing the unit tests. Unittest framework is best suited for writing these unit tests. Integration tests can be added as the project proceeds. I need to stop working on this as of now as some other commitments came up. I would like to resume wo

[2016-10-25 22:01] #1982 closed

[2016-10-25 22:09] #2077 closed

[2016-10-25 22:09] timabbott commented on #2077
Fix merged, thanks for the report @brainwane!

[2016-10-25 22:23] #2037 closed

[2016-10-25 22:30] timabbott commented on #2095
Fixed via #2109.  @arpith FYI, if you put `Fixes #2095.` in the commit message, GitHub will auto-close the issue when the commit is merged.

[2016-10-25 22:30] #2095 closed

[2016-10-25 23:49] #1272 closed

[2016-10-25 23:52] timabbott commented on #1272
@deekshaarul that was the right direction, however, due to the duplicate IDs issue fixed in d14f2763224a573a55369959baebf14244f207eb, that code didn't work quite correctly.  Now that the issue is fixed, we merged essentially your fix (and also did some cleanup to remove the need to do that if statement every time we call `message_edit.save()`, see 7ebfa25f5aa280a4c1e995b2d1cb944986cc176e).  Huge t

[2016-10-26 00:23] doraemon96 commented on #99
@timabbott I have tried to make this work with Firefox for 3+ days but there seems to be nothing with the code. Tags are even explained in the link I provide with a working example.
It works in Chrome and Crhomium. If someone can give it a try in other browsers and provide feedback I'd be thankful.

I hope someone else can take a look or even work a bit more with this. If they do, please take a lo

[2016-10-26 00:27] timabbott commented on #99
If tags don't work in Firefox, another way that we could do this would be to just store something in localstorage (which is shared by multiple browser windows on the same site), and then just check if that message ID has already been notified about when creating the desktop notification.  I think that solution would probably still be a reasonably small amount of code, and might work better cross-b

[2016-10-26 01:09] #2039 closed

[2016-10-26 01:11] timabbott commented on #1147
Cool.  Just to clarify: I think we want to trigger editing on the last message the user sent, not the currently selected message; getting the current selected message is easy (msg_list.selected_id() works), but unfortunately that does't do what we want.

[2016-10-26 01:13] timabbott commented on #287
This same bug seems to also happen if one mutes a message via the message actions menu.  So I'm pretty convinced the bug here is that we don't correctly handle closing popovers where the original message rendering no longer is present in the message view.

[2016-10-26 01:30] timabbott commented on #249
Cool, well, to start, have you gotten the existing script working, and fixed any issues you found while doing so?  I imagine any approach we'd take here would start with that.

[2016-10-26 05:28] deekshaarul commented on #1272
Thank you @timabbott . I am glad I could help. :)

[2016-10-26 13:20] UTpH commented on #1932
Hi! I'd like to try to solve this issue. Could you point out where I can start?

[2016-10-26 16:20] rishig commented on #1398
Hi @deekshaarul! The main task here is figuring out a best practice for adding infotips under the constraint that they pop out quickly and can be positioned where one wants them (or at minimum, being able to position it to the left, right, or bottom of the icon-vector-question-sign, and being able to specify its width). This might require a fair amount of experience with javascript/frontend develo

[2016-10-26 16:51] deekshaarul commented on #1398
Hi @rishig . I have good experience with HTML, CSS, JavaScript. As per what I understood, we have to document how we can :
- Add a infotip to the handlebar
- Position it correctly so that it doesn't hinder view of other components
- Add functionality to the infotip using JavaScript.
Am I thinking in the right direction?

[2016-10-26 20:01] rishig commented on #1398
Great! I would start with the following task: The tooltip in message_edit_form.handlebars currently pops out to the left, covering the timer (the "n min to edit" text). It would be better for it to pop out below when there is room (i.e. when it would not be off the page), and to the left only when it has to.

[2016-10-26 20:13] #2110 closed

[2016-10-27 06:01] vegegoku opened #2138 "Error while installation"
Hi,
 i am trying to install zulip server on a fresh Installation of Ubuntu 16.04, i have trying to follow the instructions.
all the following have been done sucessfully
[code]
but when i run the next command

`/root/zulip/scripts/setup/install`
it start installing and then it fails with this error

`Error: /Stage[main]/Zulip::Nginx/Service[nginx]: Could not evaluate: Execution of '/sbin/status ngi

[2016-10-27 13:46] vegegoku commented on #2138
i found that this error only happed when i am trying to install on a virtual machine, i found this blog which provides the solution to this issue
[https://www.nesono.com/node/368](
 https://www.nesono.com/node/368)

so simply if you are testing on a virtual machine just run the following commands

`sudo dpkg-divert --local --rename --add /sbin/initctl`

`ln -s /bin/true /sbin/initctl`

[2016-10-27 13:46] #2138 closed

[2016-10-27 13:51] vegegoku opened #2140 "Testing send mail fails"
I am trying to install the server on Ubuntu virtual machine and i reached the point where i need to test send mail using manage.py

when i execute the following command
`./manage.py send_test_email someemail@something.com`

the following error message is printed

[code]

[2016-10-27 14:00] brainwane opened #2141 "substring search when searching streams"
In https://chat.zulip.org/#subscriptions , I'd like full substring search rather than just "does a word in the name of the stream start with this string" search. For instance, when I search for `owl`, the results do not include `barnowl` -- I think the results should.

[2016-10-27 16:22] feorlen commented on #2031
This integration doesn't have any fixtures, which maybe that's expected because there aren't tests either. But a comment in the code says it doesn't return JSON. Desk.com webhook docs say their custom actions will post your configured (static or dynamic) JSON content to a URL you supply. How do you write a test for this?

Desk.com documentation:
https://support.desk.com/customer/portal/articles/86

[2016-10-27 16:44] timabbott commented on #2031
Interesting!  What I would do is add to our integration documentation a recommended template that we suggest folks use in desk.com, and then test with the fixtures resulting from using that template.

[2016-10-27 21:27] feorlen commented on #2031
I set up a demo Desk.com account (good for 14 days) and captured what it sends for a custom action. I don't have a spare public address for my test server to try this for real, so right now I can only see what requestb.in reports.

The POST data is urlencoded text, not JSON. (I don't know why the docs mention JSON, they are also incorrect in other ways.) The only way to distinguish different types

[2016-10-27 22:36] umkay opened #2143 "Throw full traceback when template rendering fails."
Currently, when a template render fails in `static/js`
we trigger a ` throw "Cannot find a template with this name: ..."`
which isn't very helpful when debugging. We should throw a full traceback.

[2016-10-27 22:41] timabbott commented on #2031
Interesting, can you push up an example test fixture from desk.com in a branch?

The way REQ works is that is extracts GET/POST HTTP parameters by those names that were contained in the request; so there's no expectation of JSON involved there.  It might be possible to control them via `?topic=my_topic` in the URL?

[2016-10-27 22:42] timabbott commented on #2143
@showell do you know why `throw` in our node tests doesn't produce a full traceback?

[2016-10-27 22:52] umkay opened #2144 "'use_template' leaks from test to test."
In node_tests, rendered functions will carry over to other tests, when they should be destroyed at the end of the test. For example, in `node_tests/templates.js`  the `admin_tab()` function should call`use_template` for the emoji table, but`use_template("admin_emoji_table")` carries over from an earlier test.

[2016-10-27 23:04] timabbott commented on #2141
This seems like a pretty doable feature; we might want to do some sorting (or something) though to sort prefix matches first.

[2016-10-27 23:05] timabbott commented on #2141
Or we could decide that we need to keep things sorted alphabetically and we're OK with others being disadvantage; I'm not sure what's best.  Feedback on that detail appreciated!

[2016-10-27 23:06] timabbott commented on #2140
@vegegoku did you finish running the `install` script for your Zulip server before testing this?  That directory is created and its permissions setup in the Zulip puppet rules.  Can you upload the contents of  `/var/log/zulip/install.log` so we can help debug?

[2016-10-27 23:06] feorlen commented on #2031
What would a test fixture to handle this look like? Plain text? Urlencoded text? "data=" urlencoded text?

Here's what I see if I put only static text in the template:
![desk com sample](https://cloud.githubusercontent.com/assets/95028/19788749/11a96f4c-9c5f-11e6-88e1-8c506b0bfd92.png)

[2016-10-27 23:50] timabbott commented on #2031
Probably `data=<urlencoded text>`.

[2016-10-28 03:17] showell commented on #2143
I don't know off the top of my head, but I assume it's just something silly you need to do in node:

http://stackoverflow.com/questions/10539201/how-to-output-a-deep-stack-trace-in-node-js

[2016-10-28 03:28] kracekumar opened #2148 "Lengthy markdown message isn't readable"
Enter the following line in zulip stream as markdown
`270    10.949555000    192.168.1.32    vcom-tunnel 224.0.0.7   8001    UDP 224 Source port: vcom-tunnel  Destination port: vcom-tunnel`. The text `Destination port: vcom-tunnel` isn't displayed.

Here is a screenshot

![markdown_long_message](https://cloud.githubusercontent.com/assets/311929/19793946/e81dbbcc-9c9c-11e6-82dc-49b68e08f08d.png)

B

[2016-10-28 04:15] timabbott commented on #2148
There should be a horizontal scrollbar on that block; are you not seeing one?

[2016-10-28 04:22] kracekumar commented on #2148
No, I don't see any, but holding `left mouse button`+ `right arrow` moves the selected message area right.

[2016-10-28 04:27] timabbott commented on #2148
Cool, good to know. What browser?

[2016-10-28 04:31] kracekumar commented on #2148
Browser: `Chrome 53.0.2785.116`
OS: `X11 Linux x86_64, Trisquel`

[2016-10-28 04:40] timabbott commented on #1441
I resolved /json/get_events just now, and #2108 resolves the auth stuff, which leaves us with just:
[code]

`notify_tornado` actually should have a test added, but the `/accounts` stuff is I think an issue with the tracking; @showell when you get a chance do you want a take a crack at fixing the tracking issue there?

I think that `/register/domain` endpoint is a feature that we probably want to j

[2016-10-28 05:32] #2143 closed

[2016-10-28 06:32] #1084 closed

[2016-10-28 06:56] timabbott opened #2149 "Make UI alert for muting a topic responsive for mobile"
The UI alert for muted messages seems to not work well on mobile.  It is too wide to fit on the screen (so the close button isn't visible).

@brockwhittaker FYI.

[2016-10-28 15:16] vegegoku commented on #2140
yes i did.
after spending few hours trying i found that if i run the test from zulip user instead my user it will try to send an email, but then i got another error regarding mail server authentication, and i had to change the zulip/zproject/setting.py and replace the

`EMAIL_HOST_PASSWORD = get_secret('email_password')`
with
`EMAIL_HOST_PASSWORD = 'mypassword'`

then i had another problem for whi

[2016-10-28 15:47] timabbott commented on #2140
Hi @vegegoku, I'm sorry you've been having a hard time with installation!  Zulip's installation usually gets praise for how smooth it is.  Something has clearly gone wrong with your installation and the `install` script never finished (you should probably rerun it; it's safe to do that and it seems like you're having issues with things that the `install` script should have setup properly).  Also,

[2016-10-28 16:23] vegegoku commented on #2140
Thank you very much, i will redo the setup from scratch and i will go through it to the end and submit all my findings as its the only way i can help.

[2016-10-28 16:30] timabbott commented on #2042
Fixed via https://github.com/zulip/zulip/pull/2108.

[2016-10-28 16:30] #2042 closed

[2016-10-28 16:40] timabbott opened #2150 "Exceptions raised in Tornado get eaten in development"
Reproducer: Modify some part of the Zulip Tornado codebase (zerver/lib/event_queue.py, zerver/management/commands/runtornado.py, and some of the things they call) to throw an exception and not do anything:

[code]

The app totally doesn't work (e.g. messages won't send, though they will still echo; you can tell because the timestamp never appears), but no traceback ever shows up on the run-dev.py

[2016-10-28 16:46] arpith opened #2151 "Typing notifications backend: use user id instead of dict when calling send_event in do_send_typing_notification (in lib/actions.py)"
process_notification (in zerver/lib/event_queue.py) expects a list of user ids (integers) except for special cases (messages). Passing a dict fails silently (the event just isn't sent out).

[2016-10-28 19:57] showell commented on #1441
@timabbott On the accounts stuff, I think we decided that tracking redirects can be kind of difficult because that happens pretty deep in Django testing.  So I think the best option here is to directly test those endpoints with negative tests that verify the redirected-to endpoints don't have loopholes.  I can start in on this early next week.

[2016-10-28 20:44] timabbott commented on #2120
This was fixed in #2126.

[2016-10-28 20:44] #2120 closed

[2016-10-29 05:57] rishig opened #2156 "Scroll is broken for wide code blocks."
To reproduce, send a message like
`lots and lots of text ...`
The code block overflows the right hand side of the message box, rather than truncating and adding a scroll bar.

Adding @brockwhittaker.

[2016-10-29 19:17] vegegoku commented on #2140
I have been able to finish the installation successfully tell i reached the test mail step, then i got the following error

[code]
i have been able to do the test before but i think it was because my user was named 'zulip' the same as the zulip server user name.
so i decided to switch from my user to the zulip user to perform the test ..but simply it wont work as the user disabled by default.

how

[2016-10-29 20:01] vegegoku commented on #2140
i managed to test the email, then i generated the organization creation link, opened the link in the browser and got a page in which i have to type my email and then push create organization button
in the email field i type the same email i used in the test step but when i push the button i get this error message:
[code]

If you'd like, you can drop us a line to let us know what happened.

[2016-10-30 06:54] vegegoku opened #2160 "can i Install the Zulip server on Ubuntu desktop?"
I wonder if i can install Zulip server on Ubuntu Desktop version instead of Server version.

[2016-10-30 17:23] brainwane commented on #1611
@valoriedodge How about this: for now, we assume you are not working on it, and anyone else can come to this issue and comment to signal that they are picking it up. If and when you have some time to work on it, come back to this issue, and if no one else has said "I'm working on this", then you can pick it back up. :) Thanks and best wishes -- hope the family emergencies work out ok.

[2016-10-30 17:25] brainwane commented on #2032
Closed thanks to the merging of #2098. Thanks!

[2016-10-30 17:25] #2032 closed

[2016-10-30 19:18] valoriedodge commented on #1611
That sounds great. Thank you for understanding.

On Sun, Oct 30, 2016 at 10:23 AM, Sumana Harihareswara <
notifications@github.com> wrote:

[2016-10-30 20:32] showell commented on #2144
This leakiness is a bit misleading, but unlike other leaks, it shouldn't affect the validity of the tests.

The root cause of this problem is that I never figured out how to make partials work through node.  If we could figure that out, then we would no longer need to spell out the dependencies, and we could still have the final step of making sure all templates in the directory were invoked at so

[2016-10-30 21:52] leoluk commented on #2160
Yes, but keep in mind that Zulip assumes that it's the only service running on the machine. It will install Puppet and modify a number of global config files.

If you do not want to dedicate the machine to Zulip, your best bet would be to run it in Docker (https://github.com/galexrt/docker-zulip) or a LXD container.

[2016-10-31 14:36] UTpH commented on #2141
Maybe you could have 2 lists. One just with the exact string and others in which it is a sub-string?
The second one sorted alphabetically.

[2016-10-31 15:06] denfromufa commented on #908
+1

[2016-10-31 17:08] brockwhittaker commented on #2156
Cool thanks for creating an issue. I fixed it by setting overflow to auto in the message container. I think this may also fix normal lines too if someone were to just type:

ooooooooooooooooooooooooooooooooooooo...

Or something.

[2016-10-31 17:25] brockwhittaker commented on #2149
Working on this one now.

[2016-10-31 22:04] mariobehling opened #2168 "Propose and implement AskSusi AI chatbot integration with Zulip"
It would be great to enable the integration of of [AskSusi](https://github.com/fossasia/susi_server) as an AI bot into Susi. Please propose steps for integration and implement it.

[2016-10-31 22:36] feorlen opened #2169 "HTML documentation for Desk.com webhook incorrect"
The HTML documentation in templates/zerver/integrations.html for the Desk.com webhook is incorrect. When it describes how to create the custom action, it says to use the URL /api/v1/external/desk. It should be deskdotcom, not desk.

This line needs to be updated:

`          <li><b>URL</b>: <code>{{ external_api_uri_subdomain }}/v1/external/desk</code></li>`

[code]

[2016-11-01 00:22] timabbott commented on #2168
Hi @mariobehling!  http://zulip.readthedocs.io/en/latest/integration-guide.html and http://zulip.readthedocs.io/en/latest/custom-apps.html are relevant reading, and the code in `contrib_bots/` in zulip.git is where our existing prototype interactive bot stuff lives.  But probably most useful for next steps is after looking at the above links, you folks should stop by chat.zulip.org and discuss int

[2016-11-01 00:29] #2016 closed

[2016-11-01 00:29] #2149 closed

[2016-11-01 00:29] #2156 closed

[2016-11-01 16:05] kkanahin commented on #106
It would be better to use hashes as message identifier do not depend on db ids. It useful when messages are archiving.

[2016-11-01 16:08] timabbott commented on #106
Can you explain more what you mean?  Hashes of what?

[2016-11-01 17:14] feorlen opened #2171 ""Stream does not exist" error should say which stream"
I have a test that isn't correctly specifying the stream for a new message to be created. The error I get would be much more useful if it reported the name of the offending stream.

Here is an example:
[code]

This appears to be coming from check_message in zerver/lib/actions.py:
[code]

It could include stream_name in that message.

[2016-11-01 17:17] timabbott commented on #2171
Yeah, this is probably something worth changing.  We should be careful about it, though, to make sure that we don't open up attack vectors involving stream names that have `<script>` tags in them, etc., since these error messages do get inserted into the HTML of the webapp.

[2016-11-01 17:24] feorlen commented on #2171
I tested a simple change, and `test_message_to_nonexistent_stream` breaks because it is looking for that specific message.

So that, too.

[2016-11-01 17:27] feorlen commented on #2171
Someone is welcome to take this, if they get to it before I do.

[2016-11-01 17:55] timabbott commented on #790
@hackerkid just added documentation of this in docs/realms.md (http://zulip.readthedocs.io/en/latest/realms.html) ; does anyone have thoughts on where we should link to that new document from?

[2016-11-01 17:56] timabbott commented on #790
(Also, does that actually address the questions you had @jmandel?)

[2016-11-01 17:57] feorlen commented on #2169
Changing the HTML is trivial. But there's still a screen capture image showing the incorrect url.

The Desk.com UI has changed, so now not only is the branding different, the flow for a custom action is also different. Bonus: I don't have a real account so I get a nag banner about by soon-to-expire trial everywhere.

Recommendations?

[2016-11-01 17:59] timabbott commented on #2169
Can you take a screenshot with your trial account and then just edit out the nag banner via the gimp or whatever?  Or just have the screenshot only show the part of the page that you actually configure (and thus not the nag banner)?

Another option is to make a new trial account if those don't get a nag banner.

I've also had good luck in the past with just asking the company's support to give you

[2016-11-01 18:23] feorlen commented on #2169
If I follow the form of the existing document, one screen capture should be the full page but the others could be cropped. All trials get the banner.

It probably would come out ok edited, because it's text on a solid color. (I already would have to edit the images if I want the same arrows pointing things out. I think the tool I have can do that.)

I can try asking Salesforce for a real account.

[2016-11-01 18:50] adamhub commented on #1679
I am with @caipre on this one. Vim is powerful because of the two modes, and Zulip has a similar feature with the compose window. In my opinion, Zulip is a power user's tool, so more Vim like shortcuts means more power users are staying on the home-row. I am still trying to figure out the fastest way to get to a topic. Some Vim power would help there :)

As for extra key presses outside the compos

[2016-11-01 18:52] feorlen commented on #2169
The salesperson says Zulip can apply to be a partner. There's a page to sign up, but it assumes there is a company involved. I'm not sure what happens after that, I don't know if this is even reasonable.

http://help.desk.com/register-your-app

I can make up as many email address as I want, which technically could give me continued access. They might catch on and cancel my trials, however. They wi

[2016-11-01 21:43] jmandel commented on #790
This is definitely helpful! Thanks all.

[2016-11-01 22:16] rishig opened #2175 "Dev environment: Tornado sometimes doesn't shut down when quitting server."
Not sure how to reproduce it, but the error message I got was

[code]

`ps` shows a running python process, and a workaround is to use `kill -9` to kill the running python process.

[2016-11-01 22:20] timabbott commented on #2175
This is most likely caused by Tornado failing (due to a rebase or something) in a way that causes it to not stop when killed without `-9` (which is what happens when you ctrl-C the development server).

[2016-11-01 23:13] timabbott commented on #790
Great, I'll close this; folks should feel free to post comments here though if there are follow-up things we should address.

[2016-11-01 23:13] #790 closed

[2016-11-02 00:25] rishig opened #2178 "test-js-with-casper: Allow specifying only the numeric part of the casper test file."
Currently we can run casper tests on a single file using something like
```tools/test-js-with-casper 00-realm-creation.js```
This can get a bit laborious, since the casper test file names are long, and there is no auto-complete.

It would be great if we could instead specify only the number, like
```tools/test-js-with-casper 00```

The change most likely should be made to this section of `frontend

[2016-11-02 00:27] timabbott commented on #2178
@sonali0901 this might be a good project for you given your recent similar work on `test-backend` :)

[2016-11-02 00:29] timabbott commented on #2144
@brockwhittaker is working on changing the model to have partials be automatically compiled when `render` is called on a template (via just going in and parsing the template for partials, nothing fancy).

[2016-11-02 00:34] showell commented on #2144
Cool, I think that makes sense.  It would be nice to preserve the check that we exercise all the templates, but if that's a pain I think removing that would be a small price for simplicity.  Do partials ever include other partials, I wonder?

[2016-11-02 00:59] timabbott commented on #2144
partials do include other partials; the plan is to check recursively.  This technical plan would preserve the check that we exercise all the templates (because we'll be tracking which partials we compile).

[2016-11-02 02:27] timabbott commented on #2141
That may be too confusing.  Let's start with just doing substring match -- I think that's an improvement over the current state -- and see what user feedback we get.

[2016-11-02 03:23] #1858 closed

[2016-11-02 03:38] #1036 closed

[2016-11-02 04:05] timabbott commented on #1641
Now that Tornado and Markdown are upgraded, this is nearly done!  The only significant thing left is Django, which has its own issue #1135 (and is running the latest LTS release, so not really part of the problem we originally set out to fix with this issue). Hence, I'm closing this issue. Thanks @umkay, @kkanahin, @sharmaeklavya2, and everyone else who contributed to this!

[2016-11-02 04:05] #1641 closed

[2016-11-02 04:06] timabbott commented on #1878
Since run-dev.py just got switched off Twisted onto Tornado for the proxy, this issue no longer exists.  Closing.  Thanks for the bug report @feorlen!

[2016-11-02 04:06] #1878 closed

[2016-11-02 04:06] timabbott commented on #1578
This was a duplicate of #1036.

[2016-11-02 04:06] #1578 closed

[2016-11-02 04:07] timabbott commented on #1282
Fixed via #1036.  Thanks @umkay and @kkanahin for your work on this.

[2016-11-02 04:07] #1282 closed

[2016-11-02 04:45] timabbott commented on #2140
Hmm, that's the 500 error message for when the server can't event startup.
What's in /var/log/zulip/errors.log when that happens?

[2016-11-02 04:47] timabbott commented on #1950
@sonali0901 I think this bug was introduced by your work on `test-backend`; are you interested in investigating this as a next project?

[2016-11-02 04:49] timabbott commented on #983
I did this in 4a4664d2687a42e91ccb81c80e264e7b3023397c

[2016-11-02 04:49] #983 closed

[2016-11-02 04:58] timabbott commented on #256
The only thing now left here is to actually start running Zulip in a production server on Python 3.

I think in order to do that, the next step is to add a way to configure Zulip to actually run using Python 3.  I think what actually controls what we use in production is:

* the code in `scripts/lib/setup_path_on_import.py`, since that's used by `manage.py` and all of our other tools to setup the

[2016-11-02 05:00] timabbott commented on #1458
We've done everything in this list other than the static assets piece, which is #693, so I'm closing this.

[2016-11-02 05:00] #1458 closed

[2016-11-02 05:03] timabbott opened #2180 "upgrade-zulip-from-git: Check whether there are migrations before causing downtime"
upgrade-zulip-from-git is great and makes it possible to do reasonably fast deploys from a git repository now.  There's one area we can definitely improve: currently, it checks for whether the user has configured their system to run migrations + puppet updates, and if so, it stops the server for a much longer period fo time to run those migrations.  We should change this to also check for whether

[2016-11-02 05:04] timabbott commented on #646
We've solved the main problem here, which was apt updates; I've left open  https://github.com/zulip/zulip/issues/2180 for the follow-up item I mentioned in my last comment.

[2016-11-02 05:04] #646 closed

[2016-11-02 05:05] timabbott commented on #677
We completed this project a while ago.

[2016-11-02 05:05] #677 closed

[2016-11-02 05:09] timabbott opened #2181 "Optimize rendering in populate_subscriptions"
populate_subscriptions is kinda slow, and a lot of the time is spent in build_stream_sidebar_row initializing the jquery object via $(templates.render('stream_sidebar_row', args));; maybe it's worth trying removing the $() around the templates.render in that function? Might require a bit of restructuring, but it seems like that could improve the homepage load time by half a second.

[2016-11-02 05:10] timabbott commented on #714
This isn't a great issue since it's an ongoing sort of thing; after profiling, we're actually still super fast; the only thing we found that seems worth working on is the issue I mentioned above, which I've opened as https://github.com/zulip/zulip/issues/2181

[2016-11-02 05:10] #714 closed

[2016-11-02 05:11] timabbott commented on #676
I think the things we had in mind when we opened this issue are solved with the "write a new view" thing. It's now just a random list of unrelated documentation enhancements we could make.  @brainwane what do you think about a strategy of taking the list in my previous comment and opening an issue for each of those, and then closing this?

[2016-11-02 05:14] timabbott commented on #563
The only piece of this which remains is adding filtering in the administration pages, which I'm not sure is an important feature to add.  These are fine things to do, but were not the issue we had on the roadmap; that issue was the more visible filtering UI in the non-administration panels.  So, I'm removing this from the 2016 roadmap milestone.

[2016-11-02 05:35] timabbott opened #2182 "Send users an email confirmation on logins on a new device"
We should send users an email notice when they login on a new device; this is a standard security nicety.   It's worth looking at whether Django has a standard thing for this before spending too much time working on it.

[2016-11-02 06:18] timabbott commented on #2160
Nothing prevents you from installing a production Zulip server on a machine running the Ubuntu Desktop flavor.  That said, unless this is a setup for a small group of friends at a university or something, I would advise using a dedicated actual server for running a production Zulip server (as @leoluk suggests).

[2016-11-02 06:18] #2160 closed

[2016-11-02 06:19] timabbott commented on #2148
Cool, thanks for the bug report!  This was fixed in master yesterday and should hit various production servers soon.

[2016-11-02 06:19] #2148 closed

[2016-11-02 06:32] timabbott commented on #1653
@hackerkid this is finished, right?

[2016-11-02 06:37] timabbott commented on #1857
Most of the side issues are now done, yay!  The things that remain are:
* Add a blueslip.warn call to report to the server whenever the local echo support ends up discovering a mismatch between marked and bugdown, so that we can catch future mismatches and fix or test them.
* Documenting the testing notes about in docs/markdown.md.

[2016-11-02 06:57] timabbott commented on #1947
@umairwaheed fixed this recently.  Thanks @umairwaheed!

[2016-11-02 06:57] #1947 closed

[2016-11-02 07:59] kkanahin commented on #106
sorry I mean uid, https://docs.djangoproject.com/en/1.8/ref/models/fields/#uuidfield which is not connected with ids. Ids values can be broken by vacuum or rewriting free ids values but we need to have independent identidier for each message to restore data or put them to archive

[2016-11-02 13:10] sonali0901 commented on #2178
Sure, I will take it up.

[2016-11-02 15:23] timabbott opened #2183 "Add support for an @here notification that doesn't send push/email notifications"
Currently, Zulip supports `@all` and `@everyone`, which both end up sending complete notifications for a message: desktop notifications for those present, adding the item to the user's "mentions" tab, push notifying mobile recipients, and emailing offline recipients.

It would be nice to add a similar feature with aliases `@here/@online` that just sends desktop notifications to online users who ar

[2016-11-02 15:31] timabbott opened #2184 "Sending messages on mobile web is annoying"
Zulip's compose box doesn't have a nice system for responsively being usable on mobile, which means it can be hard to type and send a message when using Zulip on a phone.

[2016-11-02 15:35] timabbott opened #2185 "Add server support for a slick process for authenticating to mobile without typing your password"
This needs some careful security design, but it'd be cool to have a convenient way to authenticate to a Zulip mobile app, given a logged-in session on the browser (and your password on the browser).

This can make a pretty significant difference in what fraction of users end up setting up the mobile apps.

Related CZO discussion about magic links: [#feedback > email login code feature request](htt

[2016-11-02 15:40] timabbott commented on #1592
I fixed this a couple days ago, thanks @krtkmj for the bug report!

[2016-11-02 15:40] #1592 closed

[2016-11-02 15:55] timabbott opened #2186 "Enable permissions-limited incoming-only bots"
This has actually been fully implemented on the backend, with tests; we just need to modify the bot creation UI to support declaring a bot as incoming-messages-only.

This was originally part of #692.

[2016-11-02 16:32] timabbott opened #2187 "Add an in-product mechanism for notifying users about new features / changes"
Because Zulip server administrators upgrade their servers at different times, we should develop a nice system for how to convey to what new things were added to the product in recent upgrades.

Options include:
* Add a mechanism for sending newsletter style Zulip messages about new Zulip features into Zulip “announce” streams.  Seems like a nice lightweight way to advertise the new stuff we’re doi

[2016-11-02 17:04] sonali0901 commented on #1950
Sure, will try to fix this.

[2016-11-02 17:33] hackerkid commented on #1653
@timabbott `!_subscribe_link` and `!modal_link` is left.

[2016-11-02 17:36] timabbott commented on #1653
Yep, but I think actually it's not useful to do this for them (one is being removed and the other isn't really user-facing), so we can close this.

[2016-11-02 17:36] #1653 closed

[2016-11-02 17:40] hackerkid opened #2190 "Update marked.js to a new release"

[2016-11-02 18:03] timabbott commented on #2190
Yeah, we should definitely do this!

[2016-11-02 20:17] showell opened #2192 "Check provisioning version in run-dev.py"
We should prevent running run-dev.py if your provisioning status is not ok.  You can follow the model in `test-backend` and copy this code to the appropriate place in `run-dev.py`:

[code]

You will also need to add the appropriate import statement and command line argument handling.  Again, you can use `tools/test-backend` as a model there.

[2016-11-02 21:12] Shashankagarwal181996 commented on #2192
I would like to work on this issue.

[2016-11-02 21:17] showell commented on #2192
Great!  Let us know if you need any help.

[2016-11-02 23:53] timabbott opened #2193 "Integrate the PEP-8 linter into Zulip's linter suite with configurable rules"
The PEP-8 linter's 50+ rules can be somewhat spammy, but a number of the rules are pretty good and could help us clean up our codebase.  We should integrate the tool into Zulip's provisioning process and `lint-all` script, with all the rules that Zulip doesn't pass completely disabled in a convenient blacklist; and then that will leave a scalable follow-up process to clean up violations of a rule

[2016-11-03 00:47] #1273 closed

[2016-11-03 04:15] TigorC commented on #1677
Can you explain about

What it must be?

[2016-11-03 04:18] timabbott commented on #1677
Sure, see https://github.com/zulip/zulip/blob/master/tools/test-backend#L166.  Basically, we require that all templates are tested; there's a  test in `zerver/tests/test_templates.py` that mass-renders a bunch of templates not in the context where they're normally used to make sure none of them are malformed (the code calls this "shallow" rendering).  The goal would be to require that all template

[2016-11-03 04:39] #2178 closed

[2016-11-03 05:10] timabbott commented on #2144
Fixed via https://github.com/zulip/zulip/pull/2179

[2016-11-03 05:10] #2144 closed

[2016-11-03 05:43] timabbott opened #2195 "Fix stream name/descriptions changes not being live-updated to all realm users"
See the discussion in https://github.com/zulip/zulip/pull/2017#issuecomment-256554275.

I think the issue is that `do_rename_stream` and `do_change_stream_description` in zerver/lib/actions.py use the `stream_user_ids` function to determine which users to notify via their `send_event` calls, which is basically the current subscribers of the stream.  However, since we recent changed the frontend to

[2016-11-03 06:52] timabbott commented on #106
I understand the issue, but I'm not sure that using UUIDs is the best solution.

Having thought about this more, I think we probably need to have some mechanism to present IDs from archived objects from being reused.  Because Zulip orders messages by ID in all the UI/display logic, and we don't intend to change that, if a message were to have its ID change through an archive+unarchive process, it

[2016-11-03 08:59] zeeshanqamar opened #2197 "Installation is getting failed"
Cloning https://github.com/rwbarton/django-guardian.git (to caf9f0c8c035feb3dff5542fb042dd13126cdd69) to /tmp/pip-SE0Mu7-build
  Could not find a tag or branch 'caf9f0c8c035feb3dff5542fb042dd13126cdd69', assuming commit.
Collecting git+https://github.com/bear/python-twitter@7fafaf291512bd103c3de2cb478ab48377c424d5 (from -r /root/zulip/requirements/common.txt (line 149))
  Cloning https://github.co

[2016-11-03 13:32] denfromufa opened #2199 "installation failure on ubuntu 16.04.1 LTS (Desktop) loaded in Hyper-V VM"
unable to connect to upstart: failed to connect to socket /com/ubuntu/upstart: connection refused.

I followed instructions here:

https://zulip.readthedocs.io/en/latest/prod-install.html#step-3-configure-zulip

I setup openssl certificate.

How do I troubleshoot?

I tried a fix according to this suggestion, but the same error:

http://askubuntu.com/questions/614970/vivid-failed-to-connect-to-upst

[2016-11-03 16:51] kamalmarhubi opened #2204 "In-realm links should open in current window, with navigation handled by JS"
Right now, a link like `[some-stream](https://my-zulip/#narrow/stream/some-stream)` will have `target="_blank"`, and open in another window. I think it would be better to do a direct navigation as though I clicked the stream in the left sidebar, maintaining history.

In-realm links are useful for directing people to another stream, leaving breadcrumbs when forking a topic, and a bunch of other thi

[2016-11-03 17:04] timabbott commented on #2199
Hi @denfromufa!  I think you need to uninstall the `upstart` package; it was replaced by systemd in Ubuntu 16.04, but having it installed confuses some Ubuntu packages into trying to connect to it.

Then you should be able to just rerun the install script.

[2016-11-03 17:09] timabbott commented on #2197
Is it possible that your network was interrupted while attempting the installation?  That looks like what happens when the network fails trying to install packages into the Zulip virtualenv.  Can you try rerunning the install script and see if it works?

[2016-11-03 17:21] denfromufa commented on #2199
Hi @timabbott ! this worked, but maybe docs need to be updated to address this?

[2016-11-03 17:25] timabbott commented on #2199
Yeah, agreed; I actually think we can probably do better by adding a check in the install script with a nice error message.  Can you post a bit more of the traceback to show where in the installer script the error happened?  /var/log/zulip/install.log should have it.

[2016-11-03 17:32] denfromufa commented on #2199
![image](https://cloud.githubusercontent.com/assets/7870949/19977429/856ef25a-a1c1-11e6-8efe-b574fce7504e.png)

[2016-11-03 17:32] denfromufa commented on #2199
this is after 2nd or 3rd attempt

[2016-11-03 18:06] timabbott commented on #2199
OK, cool, so it's in the puppet stage; that's enough info to know we can fix this by just putting code in the `install` script before we start puppet.  Thanks for the debugging info @denfromufa!

[2016-11-03 18:06] timabbott commented on #2199
(I think we should do this via adding a script `scripts/lib/check-upstart` and call it both from the install script and the upgrade script).

[2016-11-03 18:17] #2150 closed

[2016-11-03 19:12] timabbott commented on #1768
Cool, we probably will want to add a setting for this eventually.

[2016-11-03 21:49] TomaszKolek commented on #1821
I'm working on it.

One question:
should usually be https://yourDomain.zulipchat.com/api - it means its always hosted on zulipchat.com ? Or it might be self-hosted like https://tomaszkolek.pl/api ?
I'm asking because not sure about usage `external_api_uri_subdomain` variable

[2016-11-03 21:59] hackerkid commented on #1857
@timabbott I was checking for some mismatches and found these two. I got them from the test cases in the function test_marked(frontend_tests/node_tests/echo.js).

**Text**: `This is a @**Cordelia Lear** mention`
**Marked**:  `<p>This is a <span class="user-mention" data-user-email="cordelia@zulip.com">@Cordelia Lear</span> mention</p>`
bugdown: `<p>This is a @<strong>Cordelia Lear</strong> mention

[2016-11-03 22:09] TomaszKolek commented on #1821
As to second point from the list:
https://github.com/TomaszKolek/puppet-zulip/blob/master/lib/puppet/reports/zulip.rb
Not sure but it seems we should:
1. Add param to config
2. Use param in file above
3. Change doc to inform user about changing config param

Does it make sense? @timabbott

[2016-11-03 22:12] yuvipanda opened #2211 "GitHub login 500s if a user is connecting with a different host than expected."
(not sure if this is the right forum!)

Clicking 'login with GitHub' on chat.zulip.org takes me to a 500 page, with

[code]

[2016-11-03 22:15] aripollak opened #2212 "Compose is broken on mobile web view"
This seems to be a recent change; I think it worked okay as of more than a few weeks ago. It affects Chrome and Firefox on mobile, as well as Chrome on the desktop in a "device emulation" mode. Anything else I can do to help?

[screenshot_20161103-180418](https://cloud.githubusercontent.com/assets/451345/19987400/516b1756-a1f1-11e6-98c7-b7d9352c749a.png)

[2016-11-03 22:52] timabbott commented on #1821
See zerver/views/integrations.py; it sets `external_api_uri_subdomain` appropriately for the different places that Zulip can be deployed.  So, we should just be using that variable for the integration docs.

Yes, that approach makes sense; we probably don't need to write the docs as "this is a change"; just write them describing the new behavior.

[2016-11-03 23:05] timabbott commented on #2212
Thanks for the bug report @aripollak!  This is fixed in master and will be deployed to production soon.

[2016-11-03 23:05] #2212 closed

[2016-11-03 23:12] timabbott commented on #2211
Thanks for the bug report @yuvipanda!  This is in part a configuration thing -- chat.zulip.org is in the process of being renamed from zulip.tabbott.net, and the way GitHub oauth works, it doesn't support more than one URL to post back to at a time.  I believe we've moved all the links to zulip.tabbott.net and can finish the transition over the chat.zulip.org, so I just switched the GitHub oauth d

[2016-11-03 23:31] timabbott commented on #1857
Well I think places where `echo.contains_bugdown` determines the change does contain bugdown should not trigger the warning.  I think the fact that those differ means those are actually bugs in our bugdown/marked setup.

So, you're right, I guess I summarized the issue in a relatively simple fashion; our goal is to find and cut down on these divergences, and the `blueslip` warning is a way to do t

[2016-11-04 00:10] timabbott commented on #2204
So we actually have a feature already in master that if lets you complete a stream with typeahead starting with `#` that will I think solve this problem for the common case of linking to a stream.  Should be deployed to chat.zulip.org in the next day for you to play with.  However, there are at least 2 issues still needing work:
* How to link to a topic withing a stream easily (e.g. how does the t

[2016-11-04 01:03] timabbott commented on #2204
The new feature is now on chat.zulip.org if you want to check it out.

[2016-11-04 04:15] TigorC commented on #432
@timabbott
I'm workong on first version of this issue

and I have questions:
I tried generate thumbnail inside a UploadBackend, how I can set information of thumbnail for a uploaded file? I can return thumbnail url from the upload view but if we plan to use "Nginx thumbnailing" then it won't be work.
Do we need generate Attachment for a thumbnail?

[2016-11-04 05:23] sharmaeklavya2 commented on #1641
There are still many dependencies left to be upgraded, according to requires.io:
https://requires.io/github/sharmaeklavya2/zulip/requirements/?branch=master

[2016-11-04 07:21] umairwaheed commented on #2211
Sure.

[2016-11-04 13:35] hackerkid commented on #1857
@timabbott I will start with upgrading the marked. After that will I will move to fixing divergences and adding blueslip call. Is this workflow sounds fine?

[2016-11-04 14:31] brainwane opened #2218 "Preview of stream link doesn't show hyperlink"
If I'm typing a Zulip message and autolink to a stream using syntax like `#**general**`, and then hit the preview (eye) icon, the previewed text just shows up as bold, not as a hyperlink. I'd like for the hyperlink to show up in the preview.

Followup to  #1858.

[2016-11-04 14:45] paxapy commented on #1611
i'm working on this =)

[2016-11-04 14:58] brainwane commented on #168
[Evidently Slack refuses to implement a block feature](https://twitter.com/bysusanlin/status/794144161880489984) (I heard about this [via Cate Huston](https://twitter.com/catehstn/status/794163392252624896)). I'm looking forward to being able to tell people "switch to Zulip and you'll be able to block/filter/mute". :)

[2016-11-04 15:05] brainwane commented on #1611
Cool! @paxapy if you ever want to chat about it, feel free to swing by http://chat.zulip.org/ . :stars:

[2016-11-04 17:05] timabbott commented on #1857
Yep that sounds great!

[2016-11-04 17:05] mohsenSy commented on #2218
@brainwane this is because the library used to convert markdown text to html `marked` treats ** as a bold decorator it converts `**test**` to `<strong>test</string>`.

Maybe we should do some pre-processing before we pass the string to the markdown processor.

We can convert `#**test**` to `[test](https://zulip.tabbot.net#narrow/stream/test` if the stream named `test` exists otherwise it should be

[2016-11-04 17:14] TomaszKolek commented on #1821
https://github.com/matthewbarr/puppet-zulip/pull/1

[2016-11-04 17:31] TomaszKolek commented on #1821
As to redmine:
https://github.com/TomaszKolek/zulip-redmine-plugin/blob/master/redmine_zulip/lib/zulip_hooks.rb

Do we need any additional docs? I think we should change `zulip_api_basename` to returns `zulip_server+"/api"` (pseudo code)

[2016-11-04 17:32] timabbott commented on #2218
Yeah I think that's the right general approach.  I pointed @paxapy at this this problem yesterday right after merging the code, though this is actually a different manifestation of the root problem (if the `echo.contains_bugdown` knew that this wouldn't preview correctly, we would have queried the backend markdown processor and the preview would have been correct).

[2016-11-04 17:34] timabbott commented on #1821
Well this part of the docs: "In either case, fill out the bot email address and API key, and the Zulip stream that should receive notifications. Apply your changes." should mention the server as well, yeah.

Also, we should change the repo to point to zulipchat.com, not zulip.com (which will cease existing soon).

[2016-11-04 17:54] TomaszKolek commented on #1821
Heh, sorry for the next question:
RSS - for me is documented correctly. Documention points to https://chat.zulip.org/integrations/#rss (link in doc is to zulip.com - so it should be fixed)
Correct url https://chat.zulip.org/api/#api_keys - I think here we should change example value of SITE param.

What do you think?

[2016-11-04 18:00] timabbott commented on #1641
Yep!  However, the goal of this issue was to update all the dependencies that are more than a few months old, not to have everything 100% up-to-date (because we have so many dependencies, that condition would only last a couple days before something does a release anyway).  If you look at the things in that branch, they're all recent upstream releases.

I did add updating Python dependencies as a

[2016-11-04 18:05] timabbott commented on #1641
I guess now is a fine time to do a pass of doing minor version upgrades, so I'll do that, but we'll have another 20 outdated packages next month :).

[2016-11-04 18:06] timabbott commented on #1821
sounds good!

[2016-11-04 18:10] timabbott commented on #1821
OK I fixed the chat.zulip.org configuration.

Hmm, I guess we potentially want to change things the documentation on /api/ to not include the (unnecessary) trailing `/api`.

[2016-11-04 18:15] sharmaeklavya2 commented on #1641
I was thinking that whenever we do decide to update our dependencies, we'll have to go through the changelogs of all outdated dependencies to see if we need to make any changes to our code, and one-by-one upgrade all of them. By keeping almost all our dependencies always up to date, we'll have less work to do each time but it will be more often.

So both strategies make sense to me. I don't yet kn

[2016-11-04 18:18] timabbott commented on #1641
Yeah.  We can probably trust that minor version upgrades (1.1.2 -> 1.1.3) are fine, but will need to take some care with larger changes.

[2016-11-04 18:32] TomaszKolek commented on #1821
Yes, we should do it for being consistent.

[2016-11-04 18:41] TomaszKolek commented on #1821
For Hubot I just copied part about run script on self-hosted Zulip

[2016-11-04 19:04] umkay commented on #1641
I think CommonMark and httpretty are two smaller upgrades that we haven't attempted, (first breaks the docs, second probably needs a close reading of changelogs since its appears to not be compatible with the latest moto/boto)

[2016-11-04 19:06] TomaszKolek commented on #1821
@timabbott Do you have jenkins instance to retake screenshot? I think its only one think needed in Jenkins.
I can set it up if needed.

[2016-11-04 19:12] timabbott commented on #1641
We do still need twisted; it's now used in tools/test-documentation.

[2016-11-04 19:13] timabbott commented on #1821
I don't think we do; @wdaher do you happen to still have this setup?

[2016-11-04 19:47] wdaher commented on #1821
I don't, sorry!

On Fri, Nov 4, 2016 at 12:13 PM Tim Abbott <notifications@github.com> wrote:

[2016-11-04 20:22] Shashankagarwal181996 commented on #2192
Would you please guide me how to check if the change I did in run-dev.py is working or not.

[2016-11-04 21:08] showell commented on #2192
You can manually change version.py in various ways and make sure you get the error when you expect to get it.

[2016-11-05 01:13] hollywoodno commented on #2182
This sounds like an interesting task that I will like to contribute to. Can you please assign this to me.

[2016-11-05 04:42] #2195 closed

[2016-11-05 04:44] timabbott commented on #2175
I've had this happen a few times now.  @kkanahin do you have ideas for what the problem here might be?  It appears to be a regression introduced by the twisted->tornado migration for run-dev.py.

[2016-11-05 04:50] #1950 closed

[2016-11-05 04:57] #2190 closed

[2016-11-05 05:00] timabbott commented on #2182
Cool @hollywoodno!  Consider it assigned; GitHub requires overhead of "adding someone to a project" in order to assign issues to them, so we just use the issue thread to see who's working on what.

[2016-11-05 13:13] TomaszKolek commented on #1821
Ok, so I'm starting to setup.

[2016-11-05 14:43] showell commented on #2184
I also have difficulty scrolling the message feed when I run the normal web app on my iPhone.

[2016-11-05 14:57] rishig opened #2226 "Remove get_realm from zerver/tests."
Zulip used to use Realm.domain as a unique key for the Realm object. This allowed Zulip to guess a user's realm based solely on their email. This makes sense in some corporate environments where you really do know which realm someone should join based on their email domain, but doesn't make sense in others. Consequently, Zulip is moving from using Realm.domain as a unique key to using a Realm.stri

[2016-11-05 15:07] rishig opened #2227 "ZulipLDAPAuthBackend relies on user email domain."
`ZulipLDAPAuthBackend.get_or_create_user` uses
[code]
to figure out which realm to create the user in. This is fine in the non-subdomains case, but doesn't work in the subdomains case where a domain no longer uniquely maps to a realm.

I'm not sure what the right strategy is here for fixing this. Maybe somehow get their realm information from `PreregistrationUser` (but what happens if they have se

[2016-11-05 15:48] kkanahin commented on #2175
@timabbott  For now I haven't any ideas. Let me check script

[2016-11-05 15:52] kkanahin commented on #2175
@timabbott  Could you explain this cases in details. What steps was made before it?

[2016-11-05 15:54] kkanahin commented on #2175
@rishig if you can please describe your steps too, cause I can't catch the error. It would be helpful.

[2016-11-05 16:06] kkanahin commented on #2175
I catch the same error after exit with ctrl+z

[2016-11-05 16:08] timabbott commented on #2175
I don't have a reproducer; this seems to happen every few days for me.  It could be caused by rebasing branches and resolving merge conflicts, where you end up with intermediate states with merge conflicts, and I usually see it after rebasing.

[2016-11-05 16:11] rishig commented on #2175
Don't have a reproducer either, unfortunately. The only thing I remember is I was on public transit at the time, with flaky internet, and that I killed the server with Ctrl-C.

[2016-11-05 16:51] Shashankagarwal181996 commented on #2192
@showell I have done the changes required in run-dev.py. May I generate a pull request.

[2016-11-05 18:04] showell commented on #2192
Yes, you are more than welcome to generate a pull request, and refer back to this issue.  We actually encourage folks to submit PRs even before they consider it done.  If you have questions about the PR, please put "wip" in the title of the PR, which stand for "work in progress."  @timabbott This change may interest you as well.

[2016-11-05 18:37] timabbott opened #2230 "Add backend tests for sending messages with websockets"
We currently don't have any backend tests for the full code path of sending messages with websockets enabled, which is the default way we send messages in production.  This is not really OK; we recently had a regression with sending messages being broken that lasted most of a day (be3e9e3a0578e71e60bc52799d880cc5b2e5265d) before being found.

The primary code paths are:
* zerver/lib/socket.py -- r

[2016-11-05 18:57] Shashankagarwal181996 commented on #2192
@showell Can I generate a pull request without being added as a contributor.

[2016-11-05 19:27] timabbott opened #2231 "Figure out new home for current_msg_list and friends"
We have a cluster of 4 variables that are kinda core to the Zulip application:
* home_msg_list
* narrowed_msg_list
* all_msg_list
* current_msg_list (always equals a pointer to home or narrowed).

As part of eliminating globals in zulip.js, we moved two of these to names like `message_list.all`, but I am now thinking that proposed new name was a mistake on my part, because e.g. `message_list.narro

[2016-11-05 19:29] timabbott commented on #610
OK zulip.js now just has `home_msg_list` and `current_msg_list`.  We've made their friends `narrowed_msg_list` and `all_msg_list` globals, but I'm not sure we actually want to de-globalize those variables; if there's something that should stay as globals, it's them.  I opened https://github.com/zulip/zulip/issues/2231 for making a decision on that question; but given that leaving them as globals m

[2016-11-05 19:29] #610 closed

[2016-11-05 19:37] showell commented on #2231
My initial leaning is toward a small collection class like `message_pane` that mainly hides the details of the four different message lists from the main code and provides a slightly higher level of abstraction for any situation where you're possibly touching multiple message lists or inquiring about multiple message lists.

[2016-11-05 19:40] timabbott opened #2232 "Document Zulip's frontend report_error framework"
This is a super common thing to end up working with when building UI in the Zulip frontend, and it would be nice to have clear documentation on how to use it.

(Split out from the ideas brainstormed in #676).

[2016-11-05 19:41] timabbott commented on #804
@sharmaeklavya2 do you think it's still useful to write such a document at this point?

[2016-11-05 19:42] sharmaeklavya2 commented on #804
No there's no need now.

[2016-11-05 19:42] timabbott commented on #676
The markdown piece is already in https://github.com/zulip/zulip/issues/1857; I opened #2232 for the error message one; I think the others we already have now.  https://github.com/zulip/zulip/issues/1649 is for the template system; and I'm not sure we really need docs for adding a new module to the frontend (it kinda exists in the Node testing docs).

[2016-11-05 19:42] #676 closed

[2016-11-05 19:48] #804 closed

[2016-11-05 20:07] showell commented on #2192
Anybody should be able to submit a PR.  If you have any questions, you can sometimes get quicker answers on our public Zulip instance:

https://chat.zulip.org/#narrow/stream/development.20help

[2016-11-05 21:08] Shashankagarwal181996 commented on #2192
@showell I have created the pull request please do have a look.

[2016-11-05 22:30] timabbott opened #2235 "Consider adding UI to mute topics to recipient bars"
If you're reading messages in the home view, this is the most natural place where you would want to be able to mute topics.  We have plenty of space in recipient bars; we'd just need to decide where to put it (just after the topic?  At the end?).

I think probably a reasonable choice would be to put it right after the topic (just to the right of where we put the little pencil icon for messages to

[2016-11-05 23:06] timabbott opened #2236 "Make it easier to make the compose box big for composing something large"
I've gotten feedback that some users compose messages in emacs because composing a long message in Zulip didn't feel great to them.  There are 3 parts of the problem:
* Compose is at the very bottom of the screen, so you're looking down.
* It's nice to feel like there's a lot of space if you're composing e.g. an announcement.
* The user didn't know how to expand the compose box (hitting enter work

[2016-11-06 10:11] aakash-cr7 commented on #2236
@timabbott I like the idea of making the compose box big. It would be really nice to do that for longer messages. Having a popover may be a good idea, but I am not sure if it is suitable for opening a popover just to write a longer message. Currently the composing `texarea` is not resizable. What if we make the `textarea` resizable (which will be visible to the user) and the user can simply drag i

[2016-11-06 20:18] timabbott commented on #2236
Yeah, I think making it resizable via drag (not just holding down enter) is probably a good immediate response to this.  We should think carefully about the semantics here to avoid creating other problems.

The model is currently that the compose box grows/shrinks in size based on how much content you have in it; I guess the new model could be that it keeps the behavior, but if you've dragged it w

[2016-11-07 01:11] timabbott commented on #689
Fixed via #2146.

[2016-11-07 01:11] #689 closed

[2016-11-07 01:12] timabbott commented on #2211
Actually, it seems likely that we want to solve this the same way that we solved it for Google auth, namely having our GitHub auth button go to a canonical URL.

[2016-11-07 01:13] timabbott commented on #716
There's some notes on options in: https://github.com/zulip/zulip/issues/274 (which is kinda a duplicate)

[2016-11-07 01:14] timabbott commented on #274
Since we've now added GitHub auth, I'm closing this as a duplicate of #716.

[2016-11-07 01:14] #274 closed

[2016-11-07 01:16] timabbott commented on #9
It's now super easy to integrate things from https://github.com/omab/python-social-auth into Zulip; would it make sense to hook mediawiki into python-social-auth?

[2016-11-07 01:16] timabbott commented on #1016
Any luck reproducing this @Jianchun1!

[2016-11-07 02:11] timabbott opened #2239 "Speed up our rate limiting test"
`test_hit_ratelimits` sleeps for a second in order to verify that our rate limiting code works correctly.  We should change it to instead mock the current time and shave 1s off our total test runtime.

[code]

[2016-11-07 02:37] #993 closed

[2016-11-07 02:40] timabbott opened #2240 "Deactivated users who sent messages recently show up in autocomplete for @-mentioning."
Reproducer: Create a user, have it send at least one message, then deactivate it.  Other users will still that user as an option for who to send to in the autocomplete.

@showell FYI this might be a good follow-up to some of your recent `people.js` work (I'm not sure if it is a regression or not).

[2016-11-07 03:18] timabbott commented on #432
Thinking about this problem in more detail, there's a few ways that Zulip serves image files today:
* links to images on third-party sites, from inline message previews, which we just want to server a thumbnail to.  We currently use camo (https://github.com/atmos/camo) for this purpose to generate HTTPS links.  I'm increasingly thinking we should switch to something like thumbor for this purpose,

[2016-11-07 04:54] #1414 closed

[2016-11-07 06:30] #380 closed

[2016-11-07 06:31] timabbott commented on #380
This feature was just merged.  Thanks @clam2310 for the report, @kevchentw for prototyping and @TigorC for finishing this :)

[2016-11-07 07:26] umairwaheed commented on #2211
Yes, this is what I had on mind.

[2016-11-07 09:43] aakash-cr7 commented on #2236
Right. The new model you are suggesting sounds great. The vertical dragging system would work fine. So if the user drags the box to a certain height and then types something, and if the typed content's height becomes more than the current height of the box then the box will grow till its max height (provided the max height is not already  reached by dragging the box). And finally if a user starts

[2016-11-07 13:50] Jianchun1 commented on #1016
Hi, it is common in my environment. I think the key difference from usual
production installation is that my installation is in local intranet and
without internet access.

I also installed the zulip production with the local apt mirror before.Hope
this can help you to find some clues.

On Nov 7, 2016 09:16, "Tim Abbott" <notifications@github.com> wrote:

[2016-11-07 15:51] timabbott commented on #2236
Sounds good!

[2016-11-07 19:36] nicholasbs opened #2247 "Error when changing (some) users' names"
I'm getting a JavaScript SyntaxError when trying to change my name from the admin view (/#administration):

![image](https://cloud.githubusercontent.com/assets/50336/20072652/34dce552-a4f7-11e6-942d-9cd5922d77f0.png)

I'm able to change other users' names, and I've confirmed with another admin user for the same realm that he can change his own name but gets the same error when trying to change my

[2016-11-07 19:47] timabbott commented on #2247
Cool, thanks for the bug report!  I suspect we have a problem with a reused class name or ID between the "change your own name" stuff and the "change someone else's name".  This is probably quick to fix, tagging as a good project for new contributors.

[2016-11-07 21:39] rahulchawla1995 commented on #2247
in which file can i find this bug to be fixed

[2016-11-07 21:52] Shashankagarwal181996 commented on #2192
@showell I have done the required changes, please take a look.

[2016-11-07 22:29] reyha commented on #2226
@rishig  I have modified all the functions in ``zerver/tests`` replacing ``get_realm()`` by ``get_realm_by_string_id()``. However, on running the tests, the file ``zerver/tests/tests.py`` seems to throw an AttributeError which is due to the absence of ``name`` attribute in ``get_realm_by_string_id()`` function. Should I add a ``name`` attribute for this function? If so, where should these attribut

[2016-11-07 23:19] rishig commented on #2226
Thanks for working on this @reyha! If this is for a line like `get_realm(realm.domain).name`, then the fix is to change it to `get_realm_by_string_id(realm.string_id).name`. Something like `get_realm_by_string_id(realm.domain).name` will first do `get_realm_by_string_id(realm.domain)`, which will return `None`. Then it will do `None.name`, which will give an `AttributeError`, since `name` is not a

[2016-11-08 00:57] timabbott commented on #2247
Probably `static/js/admin.js`

[2016-11-08 05:13] timabbott commented on #1998
This is a priority to work on over the next couple weeks so that we can have these problems fixed before the Google Code In students arrive.

[2016-11-08 06:29] #2151 closed

[2016-11-08 07:20] trueskawka commented on #1733
Related issue - the icon doesn't appear when the message is of a certain length.

First screen - hovering over my first message in live coding stream - no icon.

![screen shot 2016-11-08 at 2 14 52 am](https://cloud.githubusercontent.com/assets/3491502/20090177/869189ae-a559-11e6-878d-34cc870be07f.png)

Second screen - after zooming in and hovering the icon appears.

![screen shot 2016-11-08 at 2

[2016-11-08 16:45] timabbott opened #2257 "@all warnings feature could use some improvement"
We have this great feature that warns you if you try to @-all mention a lot of people.  However, it could use some work.  Right now, the way that it actually works is the moment you use the typeahead to enter an `@**all**` type thing, it pops up a yellow warning with a "YES" button you need to click; and if you try sending a message containing an `@all` type mention without clicking the YES, it po

[2016-11-08 19:04] showell opened #2258 "bug: Allow editing of new streams (in popup/overlay)"
Here's the repro:

- as Cordelia, go to Manage Streams
- click on any existing stream, and it works
- create a new stream called "foo" and subscribe Hamlet (or whoever, prolly)
- clear the text box so you're not filtering
- click on an old stream, it works
- click on "foo" and it fails

You can eventually edit "foo" by either reloading the app or by leaving Manage Streams and re-entering it.

The

[2016-11-08 19:38] #1611 closed

[2016-11-08 20:47] showell commented on #2240
see also #2259 Once we have clarity on all the rules laid out in #2259, I can try to do a sweep of all the `people.foo()` calls to make sure they make sense.

[2016-11-08 20:54] TomaszKolek commented on #1821
Jenkins done.

But now I get stuck.
Please correct me if I'm wrong.
example:
We'd like to setup more than one bot. Lets say `twitter-bot` and `rss-bot`. Before that we create `~/.zuliprc` file with properly configured bot keys in `api` section. Is it true that both bots will be used the same bot?

[2016-11-08 20:57] timabbott commented on #1821
The Zulip API bindings support passing the `--config-file` option for where to find the zuliprc file for the bot.  But yes, if you're testing multiple bots on the same system, you need to pass that argument.

[2016-11-08 21:17] TomaszKolek commented on #1821
OK, and the second question - is any idea behind the thing that some bots are using ./Xrc file and some have python own config?

I'm wondering if we could (or even should) normalize it?

[2016-11-08 21:24] timabbott commented on #1821
Some of the ones, like the trac one, that have a Python script config file clearly need that because they have some code that's configurable as a function.  So we need to keep the python config file model.

So the only way to normalize would be to eliminate the zuliprc file approach, which I'm not sure is a good idea (it's a pretty handy mechanism when you're just writing custom code to do stuff).

[2016-11-08 21:53] #2218 closed

[2016-11-08 21:53] timabbott commented on #2218
I just merged the fix for this; thanks @brainwane for the review and @mohsenSy for the work on this!

[2016-11-09 03:30] bungeye commented on #33
Hi @timabbott just wondering when this integration will be available for use as we would like to use it in our current installation, thanks

[2016-11-09 10:07] paxapy commented on #2218
well, i've done pretty the same thing, but with ability to work with multiple "stream mentions" and with case where stream link is not on the beggining of string. In addition my change use stream id to get same link structure as we get from backend
but i'm not sure what to do with this, @timabbott please check
https://github.com/zulip/zulip/compare/master...paxapy:js_stream_syntax_support?expand=1

[2016-11-09 13:17] s0nskar commented on #2257
I want to do it.

[2016-11-09 15:08] TigorC commented on #432
Regarding solution with thumbor.
For external links we can just use default http loader https://github.com/thumbor/thumbor/wiki/Image-loader#http-loader
For internal links need to create custom image loader https://github.com/thumbor/thumbor/wiki/Image-loader#custom-loaders to verify signatures and url expiration.
Inside serve_file_backend view we'll check permission and generate thumbor link:
on

[2016-11-09 18:51] timabbott commented on #2218
@paxapy if the merged version doesn't work with multiple stream mentions, that's definitely worth fixing; can you submit a patch on top of master fixing those issues with tests for that case?

[2016-11-09 19:24] sinwar commented on #1671
@showell can u suggest me the file name. I'm using zuliptestcase.py

[2016-11-09 19:51] paxapy commented on #2218
yes, it doesn't
okay, will do

[2016-11-09 21:29] timabbott commented on #1671
Maybe `zerver/lib/test_classes.py`?  We could move WebHookTestCase there as well.

[2016-11-09 23:10] showell commented on #1671
That works for me.  For these kind of naming decisions, I recommend going to https://chat.zulip.org and asking a few people.

[2016-11-09 23:22] timabbott commented on #2193
This was fixed via #2262!

[2016-11-09 23:22] #2193 closed

[2016-11-09 23:45] timabbott commented on #33
@bungeye I guess this one just missed the last major release.  Given the Thanksgiving holiday coming up soon, I think our next major release is going to be in early December.

[2016-11-10 00:10] bungeye commented on #33
thanks very much for that @timabbot appreciate the response. We can wait for the next release.  And, a big thanks t you and the team for Zulip, we tried all the others and are loving Zulip

[2016-11-10 00:10] showell commented on #2192
closed via #2234

[2016-11-10 00:10] #2192 closed

[2016-11-10 01:30] xoofee opened #2269 "server dead when hostname modifed"
After incautious modification of hostname, the server became dead. Python processes occupy 100% CPU. Web accessing gives error also.

The server returns to normal after reset hostname back.

[2016-11-10 03:14] timabbott commented on #2269
This is almost certainly caused by rabbitmq not handling hostname changes; see #194.  I'm hoping that issue will be fixed by hardcoding the rabbitmq nodename in the next release.

[2016-11-10 03:14] #2269 closed

[2016-11-10 03:21] #2240 closed

[2016-11-10 06:01] timabbott commented on #675
The new /help directory (just merged to master via #2266) and @brannerchinese's work on content resolves the main issue here of not having a system for user documentation; I think we still need to do some follow-up work to take all the feedback in this thread is actually discussed in those docs, that they're linked somewhere, etc.  So I'm not quite ready to close this issue, but I think we should

[2016-11-10 06:14] timabbott commented on #432
That loader strategy sounds good to me!

Should this piece:
`    if sign == sign_request(raw, SECRET_KEY):`
be checking the signature, not re-signing it?  I guess maybe it's about the same because of the nature of the system, but that reads wrong to me :).

We're not planning to use a CDN in the near future; it seems like thumbor's own caching should be sufficient for the scale that we expect this

[2016-11-10 06:16] timabbott commented on #33
Glad to hear it @bungeye!

[2016-11-10 10:06] TigorC commented on #432
Yes, of course, this is just a check, I'll do another name for this function.
I have some questions:
Should the Thumbor be optional? Do we need a puppet script to set up the Thumbor server?

[2016-11-10 16:07] timabbott commented on #432
Yes, we need puppet config to run the thumbor server.  From a puppet perspective, we can assume that Zulip's installation process has setup a virtualenv with the Python packages (as long as you modify requirements/ appropriately), so the main thing I think is a supervisord config to run it (and installing any C library dependencies not already in `VENV_DEPENDENCIES` and scripts/setup/generate_secr

[2016-11-10 16:17] timabbott commented on #249
Yes, it would be super useful to add documentation for the parts that you get working!  One can either add it in comments at the top of the script or in a new docs/mirrors.md file (we can eventually add Jabber and Zephyr discussion there).

[2016-11-10 16:20] timabbott commented on #1016
Interesting.  I guess since this is a first-time-login issue, the problem probably comes down to the remote user auth accounts registration process not sending the user to the right place after succeeding in creating an account.

[2016-11-10 16:43] hollywoodno commented on #2182
So far I do not see that Django has any specific or straightforward way to send notifications on logins from new devices. There's access to user agents but no specifics on obtaining device specific information to be able to associate a particular device with a previous log in. So far it seems it can be accomplished using a combination of user agents, Django session ID's and cookies.

[2016-11-10 17:04] timabbott opened #2270 "Chat With Us On Zulip button"
When chatting with folks who run other open source projects, basically the only thing people like about Gitter is that they have a nice badge/button to chat with the community on Gitter.  We should add a similar button/badge for Zulip that projects using Zulip can easily link to their Zulip server instance on their GitHub or documentation with a pretty button.

I think for v1 it should literally j

[2016-11-10 17:39] timabbott commented on #2197
@zeeshanqamar I'm closing this since you haven't responded; if you have more debugging info and are still having this problem, we can reopen the issue.

[2016-11-10 17:39] #2197 closed

[2016-11-10 17:39] #1669 closed

[2016-11-10 17:39] timabbott commented on #2140
@vegegoku just wanted to follow up -- can you post the error logs?

[2016-11-10 17:58] timabbott commented on #1733
#2260 should fix this (and the host of related issues).

[2016-11-10 19:51] rishig opened #2273 "Translate "(no topic)" and "(deleted)" on the frontend."
We use `"(no topic)"` as a topic on the frontend for messages that have no topic, and `"(deleted)"` for messages that have no content. There are a variety of reasons why it is good to have something other than the empty string in those places, but one is that it gives users something to click on in the recipient bar to narrow.

Both `"(no topic)"` and `"(deleted)"` are currently untranslated. Reso

[2016-11-10 19:55] timabbott opened #2274 "Private messages to yourself don't appear in the left sidebar conversations list"
This is not super important, but they should be there for consistency.

[2016-11-10 20:01] timabbott opened #2275 "Move is_zephyr_mirror_realm to be a database field on Realm"
Currently `is_zephyr_mirror_realm` is defined as follows:
[code]
We should move it to be a field on the Realm object controlled by the database, rather than hardcoding "mit.edu".

[2016-11-10 22:57] rishig opened #2278 "Fix topic editing of messages that threw a backend error."
To reproduce:
Intercept messages by adding something like
[code]
to `zerver.lib.actions.do_send_messages`.

Send a few messages, and then send a message with content 'fail me'. Edit the message, change the topic, and hit save. The topic in the recipient row will change instead of the topic of just the message changing, which is a bug. The error is likely somewhere inside the call to `echo.edit_loc

[2016-11-10 23:35] rishig opened #2280 "Fix "not delivered" element overlapping with message content."
To reproduce: Add
[code]
to zerver.lib.actions.do_send_messages.

Then send two messages like the following:
![not-delivered](https://cloud.githubusercontent.com/assets/890911/20198724/170426ec-a75b-11e6-8771-e9bd78bc7a40.png)

The solution is to make the red stuff fit in a smaller space, probably by removing the "Not delivered" text, and showing it on hover over the red icons. The red icons also

[2016-11-11 00:01] programo commented on #2274
Hi Tim,
I just check for private messages to myself.I could see the private message to myself and it appears on the left side bar
![screenshot from 2016-11-10 18 00 07](https://cloud.githubusercontent.com/assets/14178085/20199390/b8703048-a76f-11e6-877c-b0c720dd9e5f.png)
.Have attached the screen shot.

[2016-11-11 00:07] programo commented on #2274
Hi Tim,

I could see the private messages to myself display on left side bar.Have attached the screen shot.
![screenshot from 2016-11-10 18 06 18](https://cloud.githubusercontent.com/assets/14178085/20199500/820f9cc2-a770-11e6-870d-bdbada36bd2c.png)

[2016-11-11 00:19] showell opened #2281 "Clear popovers on stream narrows"
If you narrow to stream A and open its popover menu, then click on stream B in the sidebar, the popover for stream A still sticks around.   Generally, we solve this by calling `popovers.hide_all();` at the start of various UI actions (or at the start of trigger event handlers).   This should be an easy change, with the following minor challenges:

* We want to avoid having lots of calls to `popove

[2016-11-11 03:15] #1103 closed

[2016-11-11 03:17] timabbott commented on #1103
I did some testing, and with the narrow syntax described above, it appears accidental italics would be extremely rare (on the scale of 1/20K messages), which seems low enough to be fine.  Italics support has been added.  Thanks @TigorC for working on this!

[2016-11-11 03:30] #1671 closed

[2016-11-11 03:43] timabbott commented on #2182
For logins on web, we can use: https://docs.djangoproject.com/en/1.10/ref/contrib/auth/#module-django.contrib.auth.signals to find out about new logins.  Mobile goes through a different codepath (`api_fetch_api_key` in `zerver/views/auth.py`), but we can just hook it there.

[2016-11-11 03:48] #1733 closed

[2016-11-11 03:50] timabbott commented on #1733
This was fixed by moving the message edit icon to sit at the far right.  Thanks for the bug report @trueskawka!

[2016-11-11 03:51] timabbott commented on #1733
We're probably going to change the "view source" icon (on messages you didn't send and thus can't edit) to be the "add emoji reaction" element when we add that feature.

[2016-11-11 04:11] programo commented on #2270
Like the "join chat" badge here: https://github.com/gitterHQ/desktop

[2016-11-11 04:12] programo commented on #2270
The "join chat" badge here: https://github.com/gitterHQ/desktop

[2016-11-11 04:59] timabbott commented on #1706
Oops, I didn't know we had an issue for this, but this was fixed in 56552007bfbad00c0f0658891b162c945f7001e4

[2016-11-11 04:59] #1706 closed

[2016-11-11 05:18] timabbott opened #2283 "Add support for setting a stream's initial description on stream creation"
While currently we only allow realm administrators to edit a stream's description once a stream has been created (which probably should be controlled by an option), we should at the very least allow the user creating a new stream to set a description for it if they are an administrator.

[2016-11-11 05:20] timabbott opened #2284 "Add support for administrators toggling default streams in stream settings page"
Currently, administrators can manage the "default" streams that new users get automatically when they sign up via the administration panel; we should also display and allow management of whether a stream is a default stream when an administrator is looking at that individual stream's settings.

[2016-11-11 05:22] timabbott opened #2285 "Offer to make a new stream a default stream if all users are invited"
This is a common workflow issue when setting up a new organization - you create several new streams intending to have everyone end up on them, but it doesn't work out that way because you don't add them as default streams.

This has the same administrator policy issue as #2283; I think in this case we should probably only offer this option to administrators.

[2016-11-11 05:23] rishig opened #2286 "populate_db.py: Remove dependence on Realm.domain."
We currently use the Realm.domain field as a primary key for the Realm table. We are phasing out use of this field in exchange for Realm.id (or sometimes, Realm.string_id), in order to support (among other things) having multiple realms that use the same domain. Eventually we will be removing the domain field entirely from the Realm table, and storing all domain information in the RealmAlias table

[2016-11-11 05:23] timabbott opened #2287 "Fix invite new users system's handling of some (but not all) email addresses failing"
Currently it leaves all the emails in the input box, even though it definitely knows which ones succeeded vs. failed in the error message.

[2016-11-11 06:14] showell commented on #2181
I wonder if 7fd74c45d7eb048f9a27470f5c95ed33b7b52f87 or a commit near that time fixed some of the issues with populate_subscriptions().

[2016-11-11 12:19] Jianchun1 commented on #1016
I'd like to try debuging this issue if find time. Can you give me some tips about what I should check.

[2016-11-11 16:27] varshit97 commented on #2275
@timabbott So, what I get is you need to get the domain from the database instead of hardcoding it. Is it correct?

[2016-11-11 16:33] phsteve opened #2289 "Incorrect "Subscribed to stream" text appears after clicking Notification Bot's "Subscribe to stream XYZ" button"
Notification bot posted a message about a new stream, and I clicked on the "Subscribe to stream" button. Then some text appeared saying that I had just subscribed to the stream that Notification Bot's message appeared in, not the stream to which I had just subscribed. Here's a screenshot:

![image](https://cloud.githubusercontent.com/assets/1628311/20222212/6f153572-a802-11e6-934e-28d67310976f.png

[2016-11-11 17:43] maxlinux2000 opened #2290 "setup fail on ubuntu 14.04 or 16.04"
Hi all,

I'm tring to setup a tulip server in a VPS on digitalocean. (fresh ubuntu 14.04 and 16.04, but both fails)

in the step 2 (after setup the ssl certificate), I can see this error:

[code]

here the install.log

[code]

I have tried to update the pip and virtualenv with:

# pip install --upgrade pip
# pip install --upgrade virtualenv

...without luck :(

Any idea how to fix this problem

[2016-11-11 18:12] timabbott commented on #1016
The flow here should be:
* remote_user_sso calls
* login_or_register_remote_user calls
* maybe_send_to_registration causes a request to
* accounts_register, which should show the registration form, when submitted, it should go to
* the accounts_register `form.is_valid()` code path.  That, in turn should create the user, log them in, and then redirect to the webapp homepage logged-in.

I suspect th

[2016-11-11 18:44] timabbott commented on #2290
It looks like the C compiler is being OOM killed while trying to install Zulip's dependencies.  How much RAM does your machine have?

[2016-11-11 18:45] timabbott commented on #2275
No, I'm thinking we just add a new database field and then the "mit.edu" realm would just be have that field set.

[2016-11-11 19:07] timabbott commented on #2289
Thanks for the bug report @phsteve!  I'm not tagging this one as bite-size since that code path is somewhat involved, but that definitely seems broken.

One question to help with trying to reproduce this -- is it possible that you have the "zulip" stream muted or something?

[2016-11-11 19:28] nicholasbs commented on #2289
@timabbott I do not have the `zulip` stream muted, and I saw the same bug (I subscribed to the new `algorithm study group` stream and the message said I'd been subscribed to `zulip`).

[2016-11-11 19:36] timabbott commented on #2289
Cool, thanks for the info!

[2016-11-11 19:37] phsteve commented on #2289
Same, not muted here either.

[2016-11-12 00:09] #2031 closed

[2016-11-12 04:31] kracekumar commented on #541
I am interested in working on this feature. I can set aside few days to work on this in next few weeks. I remember @timabbott mentioning; he will be in RC during Thanksgiving weekend. If that's true, I can work on those days.

[2016-11-12 08:23] maxlinux2000 commented on #2290
You are right!
too low of ram. now I have put 2 GB ram and 1 GB swap and lxml works fine.

But there is another error that don't stop the installation:

[code]

i'ts important? How to fix it?

but finally the installation break, because nginx it's not installed.... why not add this dependence in the installer script?

[code]

[2016-11-13 17:28] leoluk opened #2299 "Paste images from clipboard"
It would be useful to paste images from the clipboard.

UI example (Rocket Chat):

![image](https://cloud.githubusercontent.com/assets/859697/20247531/df4324a8-a9ce-11e6-9412-b8d1472df8b2.png)

[2016-11-13 17:46] rahulchawla1995 commented on #2286
@rishig hello i want to work on this..do i only need to replace realm.domain with the realm.string_id??

[2016-11-13 18:07] rishig commented on #2286
Great, thanks! And let's actually go with realm.id instead of realm.string_id; I'll change the description above. It may not be quite as simple as a find and replace, since the populate_db calls functions in other files, and the domains get passed around as keys in various dictionaries. One strategy for this might be to start with a single realm.domain, replace it with realm.id, and then follow it

[2016-11-13 19:34] rahulchawla1995 commented on #2286
that requires a simple find and replace all kind of strategy ...right??

[2016-11-13 20:00] rishig commented on #2286
It'll likely be more complicated then that, but try it and run the test suite! The errors from the tests are a good guide as to where you'll need to make additional modifications.

To run the test suite: `tools/do-destroy-rebuild-test-database` (not normally needed for running the test suite, but needed here since the test database is built off of `populate_db.py`), and then you can follow the ins

[2016-11-14 06:35] AmoliShah commented on #1967
PL #2301
Please check it out.
Thanks.

[2016-11-14 07:23] AmoliShah commented on #1967
PL #2301
2 Test Suites are getting failed.
Please help me out.
Thanks.

[2016-11-14 10:54] brockwhittaker opened #2304 "Convert favicons to be <canvas>."
In `./static/images/favicon` we have 100 different icons that were generated a while ago with the number of notifications that a user may have. Instead of calling a particular png every time the favicon is updated to reflect a new number of notifications, we should just generate a favicon with the <canvas> element.

This could be done with a combination of the green Zulip "z" icon and a text rende

[2016-11-14 11:10] brockwhittaker opened #2305 "Add avatar to navbar right column."
To provide a better user/profile branding in the Zulip navbar, we should add the avatar of the currently logged in user to the right column of the navbar. This should look somewhat similar to the below image but for now without the green notification dot.

<img width="47" alt="screen shot 2016-11-14 at 3 00 39 am" src="https://cloud.githubusercontent.com/assets/10321399/20262314/96630c74-aa16-11e6

[2016-11-14 12:01] brockwhittaker opened #2306 "iOS mobile web messages do not send."
When trying to send a message in iOS in either chrome or safari, the "Sending..." text appears and just continues to exist ad infinitum as the message never sends. It seems like there's likely a JavaScript error happening in-browser that is happening in the thread before the message is sent.

![zulip-error](https://cloud.githubusercontent.com/assets/10321399/20262852/f910a640-aa18-11e6-9102-fa3555

[2016-11-14 17:22] showell commented on #2305
Totally agree!

[2016-11-14 17:23] showell commented on #2305
I added the area:right-sidebar label, even though it's not exactly a buddy list issue.

[2016-11-14 17:25] showell commented on #2299
You can do this in Zulip now.  Perhaps the UI is unintuitive--in Zulip you directly insert the image into the compose box; it's not part of the upload flow.

[2016-11-14 18:35] hackerkid opened #2308 "Add support for disabling stream creation for new users"
New users creating streams and inviting users without asking can become a nuisance in public realms.

As @showell points out

Tagging @timabbott @showell @brainwane incase you want to add some more information to this issue.

[2016-11-14 18:54] showell commented on #1509
I don't notice any sluggishness with 500 users, but I also think we have bugs in the search here. :(  I search for "extrauser101" and come up empty.  Investigating...

[2016-11-14 21:37] heatherbooker opened #2310 "Bug: Opera says "your connection is not private""
In the last couple of days, I have noticed that using a normal or private window in Opera and trying to navigate to zulipchat leads to a cease in navigation and the following message :

Then if I click "Help me understand", it further specifies:

Going to the [opera://net-internals/#hsts](Opera page for managing HSTS) and putting zulipchat in the "Delete domain" box makes it work again.

I can log

[2016-11-14 21:42] timabbott commented on #1967
@AmoliShah if you click on the failures you can find out why the tests are failing; in this case it's because `tools/lint-all` has detected lint errors in your changes.

[2016-11-14 21:49] timabbott commented on #2308
We already support limiting both inviting users and creating streams to organization administrators, but I like the idea of this waiting period feature since I think that might achieve the same goal with less collateral damage to normal use cases.

This project should be fairly beginner-friendly, since one mostly just need to follow our "new application feature tutorial": http://zulip.readthedocs.

[2016-11-14 21:53] timabbott commented on #2310
Do you get the same error going to amazon.com?

[2016-11-14 22:00] timabbott commented on #2310
A similar issue issue in Chrome 53 was caused by a bug in handling of certificate transparency, see https://bugs.chromium.org/p/chromium/issues/detail?id=664177.  This is the first I've heard of any issues with opera; I wonder if they're using the same code.  Can you try upgrading opera and seeing if that resolves the problem?

[2016-11-14 22:22] mghadam opened #2311 "Trello webhook integration error"
I've run my own zulip server. I'm trying to integrate Trello by following [this tutorial](https://zulip.com/integrations/#trello) but Trello API doesn't accept the setup and returns the following error:

`URL (https://zulip.MYDOMAIN.TLD/api/v1/external/trello?api_key=BOT_API_KEY&stream=STREAM_NAME) did not return 200 status code, got 400`

My zulip version: /zulip/deployments/2016-11-14-16-40-34

[2016-11-14 22:55] showell commented on #1509
see #2312, which changes search filtering to match on emails and full names a bit better

[2016-11-14 23:39] timabbott commented on #2311
Hi @mghadam!  There's a few possible issues:
* Did you create the stream with name `STREAM_NAME`?
* The event type is one not recognized by the Zulip Trello integration; I think we support all the card and board actions but possibly not everything the Trello webhook sends.

There may be some additional instructive data in /var/log/zulip/server.log including the precise 400 error message the integr

[2016-11-14 23:42] timabbott commented on #2299
Seems like maybe we should document this as the action item for this issue?

[2016-11-14 23:50] timabbott opened #2313 "Cleanup `self.assertIn("string", result.content.decode("utf-8"))` pattern"
In Python 3, result.content is `bytes`; whereas the strings we're checking with are `text` objects.  The correct way to do this is e.g.: `self.assertIn("string", result.content.decode("utf-8"))`.  I think we should add a test helper method for handling these checks so that we're not manually doing string decoding in so many places.

[2016-11-14 23:50] showell commented on #2299
While you're on Github, notice how they handle this. :)

[2016-11-14 23:55] timabbott commented on #2299
Hmm, yeah, verbose, but effective.

[2016-11-14 23:59] heatherbooker commented on #2310
ah! cool, thanks @timabbott, updating Opera did solve it - and amazon.com was loading but having issues getting any images/styles due to security, it is also now fixed. thank you so much!

[2016-11-15 00:00] timabbott commented on #2310
Great, glad to hear it!  We may end up changing the certificate on zulipchat.com to work around this problem since it is a confusing experience even though it isn't our bug.

[2016-11-15 00:00] #2310 closed

[2016-11-15 05:52] timabbott opened #2315 "Fix compose box PM recipient typeahead handling of focus"
Click "New Private message", start typing a recipient, and then click on the typeahead to select a recipient.  It sends focus to the message feed, and should instead either keep focus in the recipient bar, or probably better, send focus to the compose box.

[2016-11-15 05:52] timabbott commented on #2274
After some debugging, it turned out to be a somewhat complicated issue involving sending a message to yourself using by typing your own email and then clicking your email in the typeahead.  I fixed the primary issue (of having the Zulip local echo frontend record such messages incorrectly) in: e40e756d47ad5a788fec546b569215393c2d53e5.

However, there's still an open issue that we should follow up

[2016-11-15 05:52] #2274 closed

[2016-11-15 05:53] timabbott commented on #2274
Thanks @programo for trying to reproduce; this was very helpful in discovering the root cause of this problem.

@showell FYI since the actual bug we had here is an interesting data point.

[2016-11-15 06:12] mghadam commented on #2311
Hello @timabbott ! Thank you for your reply.
* Yes I've already created the stream name `STREAM_NAME`.
* The above error is not from an active error, it's from the step which we send the Curl request to Trello API to get the webhook activated but Trello doesn't activate the webhook and returns the above error.

The following errors in `/var/log/zulip/server.log`:
[code]

[2016-11-15 06:14] timabbott commented on #2311
Cool, that's helpful, the problem is the RabbitMQ server used by Zulip isn't running properly, which means Zulip is generally broken right now (sending messages via the web UI also won't be delivered to other users, etc.).  The problem may be e.g. #194

[2016-11-15 06:19] timabbott commented on #541
@kracekumar awesome!  We could definitely work on this Monday+Tuesday next week while I'm visiting RC and see how much we can get done.  I'd encourage you to prepare by getting your Zulip development environment setup before then, since there won't be a ton of in-person time.

@arpith have you made much progress beyond @jdherg's original version?  It looks like https://github.com/zulip/zulip/pull/

[2016-11-15 06:25] timabbott commented on #1996
@sup95 I just wanted to check in on whether you're planning to finish that implementation?

[2016-11-15 06:30] timabbott commented on #2290
The install script does depend on nginx; your problem appears to be something else.  Are you running 16.04?  If so, the problem is that upstart needs to be uninstalled (it's the default on 14.04 but breaks starting nginx on 16.04).

[2016-11-15 06:49] timabbott commented on #1147
@deekshaarul are you still working on this?

[2016-11-15 07:12] deekshaarul commented on #1147
@timabbott I was working on this, though I won't be able to devote time for the next two weeks due to my semester exams.
If anyone wishes to take this, please feel free.

If no one takes this by first week of December, I am open to working on this. :)

[2016-11-15 07:17] mghadam commented on #2311
sorry rabbitmq-server was stopped on the server for some reason, I run it again and web IU is working fine now but Trello API still doesn't accept the webhook and returns the same 400 error.

Now I get the following errors in /var/log/zulip/server.log:
[code]

I've already added the bot to the stream. It appears that Trello API sends a HEAD request without any data to test if the zulip URL is work

[2016-11-15 07:18] timabbott commented on #2311
Ahh, interesting; it could be that Trello changed their API to start doing these HEAD requests recently.  @TomaszKolek can you investigate this issue?

[2016-11-15 07:49] arpith commented on #541
@timabbott I expect to have a useable backend by the end of today 😃
@kracekumar would love to build this feature with you, shall we pair / work together on the frontend?

[2016-11-15 12:07] moty119 opened #2316 "Right to Left sentences in zulip text box"
Hi, I want to write Right to Left sentences in zulip text box, but it's not correctly worked.

[2016-11-15 12:18] paxapy commented on #1677
I'm working on this issue and I've found something strange about it.
https://github.com/zulip/zulip/blob/master/zerver/lib/test_runner.py#L166
there we check if we got special flag in the context - `shallow_tested`
but this flag is passed to all templates except skipped ones:
https://github.com/zulip/zulip/blob/master/zerver/tests/test_templates.py#L93
so, it looks like when we add new template, w

[2016-11-15 12:38] paxapy commented on #426
Hi
@timabbott you suggested to replace this subscribe button with new #stream link, but I don't understand how it will fix the issue? This link also use stream name to navigate to a stream, and if it renamed, the link will be broken, isn't it?

[2016-11-15 13:41] mghadam opened #2318 "Taiga webhook integration issue"
I've run my own zulip server. I'm trying to integrate Taiga by following [this tutorial](https://zulip.com/integrations/#taiga) but Taiga API doesn't accept the webhook API and returns the following error:

[code]
the above error is in fact returned by Zulip Taiga module.

I run a local node server to see the JSON request that Taiga sends to validate the webhook:

[code]

My zulip version: /zulip/

[2016-11-15 14:01] TomaszKolek commented on #2311
@timabbott @mghadam I'm going through the procedure described in doc - maybe I did a mistake there.

[2016-11-15 14:39] paxapy commented on #2183
should we show warning about group notification that prevent message to submitting like we do for @all and @everyone?
also, is there a easy way to tell if person is online?

[2016-11-15 15:54] aakash-cr7 commented on #2305
Great! I would like to work on this.

[2016-11-15 16:33] timabbott commented on #2183
I think we might as well use that warning here as well; there's an open PR for making a significant change for that logic (#2264), so it's worth some care to avoid merge conflicting (might just make sense to add this piece later).

If you look at the logic in `process_message_event` in `zerver/lib/event_queue.py`, that's the place where we trigger offline notifications for users who are offline wh

[2016-11-15 16:40] timabbott commented on #426
I don't think so, because we can use the stream ID in `data-stream-id` to control what happens when you click the new `#stream` links.  I guess I'm not sure whether we actually do that right now, but it's easy to test :).

[2016-11-15 16:47] timabbott commented on #2318
If you look at `zerver/views/webhooks/taiga.py`, it appears that we support all their event types except the "test" one.  I bet that's a new feature of their webhook API.

@mghadam if you're interested put a bit of work into fixing this issue, I expect it'd be a pretty small change to `parse_change_event` in the above file to add a section for the new event type.  If your server isn't in productio

[2016-11-15 16:55] AmoliShah commented on #1967
@timabbott That was solved but now its showing as follows:
[code]
Please help me out.
Thanks.

[2016-11-15 17:01] TomaszKolek commented on #2311
@mghadam @timabbott
Because I'm using ultrahook this procedure worked for me when I was implementing it.
ultrahook is not passing HEAD requests.

It'd be good to test that fix on real Zulip @mghadam could you do this?

[2016-11-15 17:18] timabbott commented on #1967
That issue is unrelated to your change -- seems to have suddenly started happening on all builds in the last day.

[2016-11-15 17:44] timabbott opened #2320 "install: Check whether system has at least 2GB of RAM"
We periodically get reports from users who try installing our production environment with <2GB of RAM and get OOM kills (e.g. https://github.com/zulip/zulip/issues/2290).  We should check the system RAM and give a nice error message if there's not enough rather than having the user get a random traceback partway through.

[2016-11-15 19:11] timabbott commented on #201
https://zulipchat.com is now available as an option for folks who want to use Zulip without running their own server.

[2016-11-15 19:27] AmoliShah commented on #1967
@timabbott So shall I leave it as it is for now?

[2016-11-15 19:33] AmoliShah commented on #2270
In which file is this feature to be added?

[2016-11-15 20:24] timabbott opened #2321 "Add tests for `subs.filter_table()`"
This search filtering functionality has some somewhat involved logic, so it'd be great to have a test suite for it, verifying things like the behavior around substring matches.

[2016-11-15 20:24] #2141 closed

[2016-11-15 20:24] timabbott commented on #2141
Fixed via 3d8ed7b55fb7cc6f5083960bc767ee204d5328a2.

[2016-11-15 20:37] mghadam commented on #2311
@timabbott @TomaszKolek The patch worked! Thank you.

[2016-11-15 20:38] timabbott commented on #2311
Great!

[2016-11-15 20:49] paxapy commented on #426
no, we don't
should I add this click handling functionality here? Or it's better to do that in separate PR?

[2016-11-15 20:51] timabbott commented on #426
Maybe do it in the same PR but a separate commit within that PR?

[2016-11-15 20:52] timabbott commented on #2270
Maybe `zerver/views/realm.py`?  Don't have strong feelings.

[2016-11-15 21:00] paxapy commented on #2183
okay, thanks for details.
I've looked to mentioned PR and found that there is not direct relation with this, because it uses current_stream.subscribers.num_items() as a counter of people that will be notified
and we here talking about only of those who online.
btw, I can continue on this after that change will be merged

[2016-11-15 21:10] paxapy commented on #1677
yes, thank you.

[2016-11-15 21:23] timabbott commented on #2183
Hmm, yeah, I guess maybe it's simplest to just not do the prompt for now in that case.

[2016-11-15 21:34] #2226 closed

[2016-11-15 21:36] timabbott commented on #2226
Fixed via #2250, thanks @rishig for the writeup and @reyha for fixing this!

[2016-11-15 22:24] mghadam commented on #2318
mghadam/zulip@d05e46758d857cf67f33022d38c03edb6309f7d1

[2016-11-15 22:31] timabbott opened #2322 "Add a UI for seeing your muted topics."
We should add a display somewhere in the user's settings pages showing the topics the current user has muted.

[2016-11-15 23:35] rishig opened #2325 "Change management commands to use Realm.string_id instead of Realm.domain."
From discussion on `chat.zulip.org`; copying here so we can keep track of it.
Example management command change is at `rishig/zulip/management-commands-get-realm-example`.

A good way to find all the commands to be changed is
`git grep 'get_realm(' | grep 'management'`

You can ignore the following line in `populate_db.py`: `set_default_streams(get_realm(old_message["domain"])` --> update, this li

[2016-11-16 02:41] kracekumar commented on #541
@timabbott I will get the development environment up and running by this weekend.

@arpith: I didn't know, you're already into this. I am happy to pair next week and not this week. So please go ahead.

[2016-11-16 02:41] timabbott commented on #2318
Awesome, thanks for debugging this @mghadam!

If you want to add another commit or two to your branch addressing that (1) docs issue and (2) maybe adding a test for the new "test" thing and open a PR, I'd be very happy to merge it.

See http://zulip.readthedocs.io/en/latest/integration-guide.html#webhook-integrations for notes on how our test fixture system works; it should be pretty straightforwa

[2016-11-16 06:14] reyha commented on #2325
@rishig Thanks for opening an issue for this. I am on it and will be submitting a PR soon.

[2016-11-16 07:10] AmoliShah commented on #2270
ok.Thanks.

[2016-11-16 14:20] paxapy commented on #2183
well, with frontend it's pretty clear, but on backend I still have bunch of questions
it looks like in bugdown we setting this attribute to the message instance:
https://github.com/zulip/zulip/blob/master/zerver/lib/bugdown/__init__.py#L890
which is used to set UserMessage flag later:
https://github.com/zulip/zulip/blob/master/zerver/lib/actions.py#L828
but then, in notification process, we only l

[2016-11-16 15:21] showell opened #2327 "Have option to download ~/.zuliprc from Zulip."
If you're connected to the server, the server knows your host, your email, and your API key, so it can produce this for you:

[code]

This would cut down a little bit of friction for people setting up their bots/integrations.

[2016-11-16 16:47] varshit97 commented on #2275
@timabbott ```./manage.py makemigrations``` is showing an error. I am reinstalling the development server in case something is wrong with it.

[2016-11-16 16:48] varshit97 commented on #2320
@timabbott Should this test be put in ```provision.py```?

[2016-11-16 17:02] timabbott commented on #2320
I was thinking the production piece, but actually we could add one in provision.py as well for development.

[2016-11-16 17:07] varshit97 commented on #2320
@timabbott So is it fine if I add it right at the start?

[2016-11-16 17:09] hrotkogabor opened #2328 "Problem handling data on queue email_mirror"
This is a message from Zulip in the error log, when I send and email to a stream, and the mail contains unicode character.
Version: Zulip 1.4.2
In my case, the mail's body was this, sent from thunderbird:

[code]

[code]

[2016-11-16 17:13] hrotkogabor opened #2329 "support for hashtags"
It would be a very nice to have the feature, to be able to add tags with hash mark.
Like here in github, if I add a tag like #bug in the text, it can be clicked to see all the messages that contains this tag.
I think that it is very similar to the function of 'mentions'.

[2016-11-16 17:31] nicholasbs opened #2330 "Unread counts aren't cleared sometimes from scrolling (regression?)"
I noticed this just today and I'm fairly sure it's a recent regression.

Steps to reproduce:

1. Click on a stream in the sidebar with unread messages. The sidebar expands to show topics under that stream and has unread counts for the topics with unread messages and the total count for that stream.
2. Scroll down to read all the messages in the newly focused stream. The total unread count for the

[2016-11-16 17:31] timabbott commented on #2329
Interesting idea; there's some potential conflicts with other features that we'd need to think about (specifically auto-linkification of #**streamName** to the stream and our "realm filters" to auto-linkify things like `#123` to bug 123 in a bug tracker).

This would just be a faster alias to searching for `#bug` in the search bar at the top of the page?

[2016-11-16 17:33] timabbott commented on #2330
Cool, thanks for the report; we're looking into this.  There was indeed a production deploy yesterday that could have caused this.

[2016-11-16 17:42] hrotkogabor commented on #2329
I think of it like mentions, but here I can write anything after the #. There could be a new menu in the top left box to list the posts that includes the tag.
e.g.:
Private Messages
- user1
- user2
HashTags
- bug
- feature
- documentation

Clicking on HashTags/documentation would list all the posts including the tag #documentation.

[2016-11-16 18:10] #2330 closed

[2016-11-16 18:31] timabbott commented on #2330
@nicholasbs I think this is now fixed and deployed; let us know if you're still seeing this!

[2016-11-16 18:36] timabbott commented on #2328
Thanks for the bug report!  It should be pretty doable to add a test for this and then fix it.

[2016-11-16 18:38] timabbott commented on #2327
This is an excellent idea.  I guess we probably could do this in the form of adding a little download button on each bot's card as well as in the "show your own API key" section.

[2016-11-16 19:49] timabbott commented on #2183
I think a new `online_mentioned` flag is probably the right answer, while the effect for now is ephemeral, I can imagine wanting to use that distinction in future features as well.

[2016-11-16 19:50] timabbott commented on #2183
The attribute on the message object is how we pass data back from bugdown to its caller; python-markdown doesn't support returning additional stuff so we instead modify the message object to return things like that.

[2016-11-16 19:52] varshit97 commented on #2275
@timabbott Same error even after reinstalling the development server.
![screenshot from 2016-11-17 01-19-30](https://cloud.githubusercontent.com/assets/14835842/20363094/fbac8066-ac63-11e6-85c8-160892184806.png)

[2016-11-16 19:55] timabbott commented on #2275
I don't see a virtualenv being used on your prompt; you need to run this inside the vagrant guest.

[2016-11-16 20:12] timabbott opened #2335 "Add realm option to get default avatars from GitHub or Gravatar"
It'd be really cool to have the ability to select the default avatar source for an organization as a realm setting. Some particular options that would be cool to support are:
* Using gravatars -- what we currently do.
* Defaulting to the user's GitHub avatar (if any) when they create an account with GitHub's SSO.
* Some included-in-Zulip-avatar generator.

The initial project here would be to just

[2016-11-16 20:48] varshit97 commented on #2275
@timabbott Ahh!!! It worked inside the vagrant guest :) But why did the tests fail(https://github.com/zulip/zulip/pull/2295)?
I did not change anything. Should I commit ```zerver/fixtures/migration-status``` and ```zerver/migrations/0043_realm_default_domain.py``` too for the tests to pass?

[2016-11-17 14:43] jeremyclement opened #2343 "pm-with search doesn't work with group PMs"
Hyperlinks to group private conversation doesn't work most of the time. They result to a `pm-with:user1@mail.com,user2@mail.com,user3@mail.com,...` page with:

1. not work: pm-with:anais.bearzi@mydomain.com,lucas.stummer@mydomain.com,thais.cuellar@mydomain.com,vincent.leprat@mydomain.com,benjamin.prive@mydomain.com,celia.hanini@mydomain.com,david.loison@mydomain.com,frederick.cadet@mydomain.com,gh

[2016-11-17 17:43] paxapy commented on #1677
i've created PR for this, so you can review it
but i've had problems with testing emails templates, because I can't trigger function which uses it
https://github.com/zulip/zulip/blob/master/zerver/worker/queue_processors.py#L163

[2016-11-17 18:10] timabbott commented on #1677
The code for sending the emails is in `zerver/management/commands/deliver_email.py`; you should be able to import that and then call the relevant function (possibly after editing the DB row to send it a few days back in time so we can test the scheduling logic).

[2016-11-17 18:21] timabbott commented on #2343
Huh, I haven't heard reports of issues with that feature in years.

Just to be clear, is this search, the feature in the lower-right (Group PMs), or the feature in the upper-left (with "Private messages" expanded) where you're having this problem?

[2016-11-17 18:57] timabbott commented on #2169
@feorlen you resolved this, right?

[2016-11-17 19:21] sylvan1 commented on #1648
I would like to work on this issue.

[2016-11-17 19:25] timabbott commented on #1969
OK I've figured out what's going on here; these emoji actually do exist, they're just white, and thus are essentially invisible against our white background.  You can sorta see them in a PM message.  I'm not sure what the right solution for these emoji is; it's possible we should either remove them or change their color.

[2016-11-17 19:25] timabbott commented on #1648
Great, go for it!

[2016-11-17 21:32] feorlen commented on #2169
Yes. Everything for this was rolled into #2155

[2016-11-17 21:32] #2169 closed

[2016-11-17 21:37] timabbott commented on #2169
Awesome!  Yay for cleaning up the issue tracker :).

[2016-11-17 21:46] rishig opened #2347 "People search doesn't support multiple words."
Searching "ti" or "abb" in the "Search people" bar on the right sidebar gives Tim Abbott (along with others), but searching "tim a" does not.

[2016-11-18 01:07] rishig opened #2350 "Change users_subscribed_to_stream to take a Realm instead of a realm_domain."
Counting down the get_realm's in the codebase! @reyha, let me know if you would be interested in tackling this. It is a smaller change in terms of lines of code, but will require deeper changes than the test and management commands.

The first step will be to `git grep` for where `users_subscribed_to_stream` is called in the codebase, and change those to pass Realm objects instead of domains. If t

[2016-11-18 02:40] aakash-cr7 commented on #2305
@showell @brockwhittaker I have tried adding the avatar next to the settings gear icon. What do you guys think ?

![screenshot from 2016-11-18 08 09 10](https://cloud.githubusercontent.com/assets/7534680/20416685/70e92dc2-ad66-11e6-8028-b68fd4f16bd9.png)

[2016-11-18 05:49] brockwhittaker commented on #2305
Looks good! Perhaps on the left side however of the right column would be better placement? I think having both on the right side would be too heavy. What do you think @timabbott?

[2016-11-18 08:50] reyha commented on #2350
@rishig  Sure. After doing ``git grep users_subscribed_to_stream ``,  I see only 5 files where the changes are required to be made. Since I am manually testing all the changes for the test and management commands, I will make these changes too and test them all to see if everything works fine. Thanks!

[2016-11-18 10:42] jeremyclement commented on #2343
Both and also on click on `message_header`

[code]

I think the problem is not the links, but the search

[2016-11-18 11:18] jeremyclement opened #2355 "Allow to hide private message content from notifications"
Most of users have totally disabled chrome notifications because they don't like that anyone who come can see them private message content. (I don't like either)
But now, most are unreachable because it was the only way to know we have a new message (except the little number displayed on one of lot of little buttons in the task bar)

[2016-11-18 17:53] timabbott commented on #2355
Interesting; it'd be technically quite easy to add a setting to only show limited information about private messages in the desktop notifications (the sender, e.g. "New private message from Alice Example" or maybe recipients if it's a group PM, e.g. "New private message from Alice Example to you and Bob Example").  Do you think that's the right design to solve your problem?

[2016-11-18 17:59] timabbott commented on #2343
Hmm.  It could be a case sensitivity issue - it looks like you have capital letters in email addresses in some of these examples.  @showell FYI.

[2016-11-18 19:34] timabbott opened #2356 "Improve search autocomplete for finding pm-with conversations"
Currently, our search autocomplete doesn't offer to autocomplete names or email addresses of additional users if you type e.g.

`pm-with:hamlet@zulip.com,cord`

I think fixing this involves primarily just extending the code in `static/js/search_suggestion.js`.

[2016-11-18 20:51] timabbott opened #2357 "hotkeys: It's easy to accidentally compose a message to the first user using right sidebar "user search""
Reproducer:
Hit "q" to enter the users search, and then without typing anything, hit enter.  You'll start composing a message to the first user in the buddy list, which is almost certainly not what you intended.

This can be confusing it feels like this should be starting compose to reply to the latest message (since you may have just forgotten you had that focused).  I'm not sure if it should act

[2016-11-18 20:53] showell commented on #2357
I think the one-line fix here is fine.  There's a special hack to let you filter and send, and it's not even that robust a hack.  If the filter search is empty, we should not auto-send.

[2016-11-18 20:59] showell commented on #2347
Can you test this on master?  I though I fixed this recently, and my change just hasn't been activated.  ping @timabbott

[2016-11-18 21:01] showell commented on #2356
Seems reasonable to me.

[2016-11-18 21:10] timabbott commented on #2357
Agreed.

[2016-11-18 23:33] timabbott opened #2358 "`zerver.lib.actions.apply_events` does not handle `update_global_notifications` events"
Here's the traceback:
[code]

Given how these are used, we should probably move them from raw page_params to the `register_ret` data structure (so notification settings are accessible via the API), and then update the values in `apply_events`.

[2016-11-19 00:08] aakash-cr7 commented on #2305
I have tried to align it to to the left column. This is how it looks

![2](https://cloud.githubusercontent.com/assets/7534680/20450888/204dd1b0-ae1a-11e6-9438-aeac8d18d414.png)

I guess it looks neat on the left side. What do you think?

[2016-11-19 00:16] #535 closed

[2016-11-19 00:21] timabbott commented on #535
This was fixed via https://github.com/zulip/zulip/pull/2246.  While technically the description of this issue was about replacing `jslint`, the actual core goal was to integrate and add `eslint` so that we can start configuring more advanced linter rules; we can remove `jslint` now at our leisure.

[2016-11-19 00:21] timabbott commented on #2305
yeah I think the left side is good.

[2016-11-19 00:28] #2311 closed

[2016-11-19 00:41] timabbott opened #2360 ""Link to this conversation" with group pm conversations isn't shareable"
If I have a conversation with alice@example.com and bob@example.com, and want to email them a permanent link to the conversation using the "Link to this conversation" feature, it doesn't work, because we generate a link of the form:

`/#narrow/near/12345/pm-with/alice.40example.2Ecom.2Cbob.40example.2Ecom`

which doesn't contain me!  We should probably change the structure so that those links cont

[2016-11-19 00:53] timabbott opened #2362 "Add ability for organization administrators to link to community rules in-Zulip"
For an open community that's using Zulip, it'd be awesome if we had a way for the organization administrator to post realm-level instructions associated with their Zulip organization.

The simplest possible implementation of this would be to just support the realm administrator entering a link, and that being displayed with a heading like "Community rules" somewhere in the UI.

This differs from t

[2016-11-19 02:11] #1441 closed

[2016-11-19 03:53] #1797 closed

[2016-11-19 03:54] timabbott commented on #1797
Fix merged, sorry for the delay @joariasl!  Let me know if there's any other trouble you're having on the docker front.

[2016-11-19 08:42] bgilbert opened #2364 "Unclear how to subscribe to a stream from Manage Streams"
Steps to reproduce:
1. Go to the Manage Streams page
1. Filter on a stream name
1. Click on the row for the desired stream, or on its drop-down arrow
1. Wonder whether you're supposed to type your email address and click "Add"

I eventually figured out that in the new UI, there's an invisible "subscribed" checkbox in the left-hand column.  (I would have noticed it earlier if I hadn't immediately f

[2016-11-19 08:49] bgilbert opened #2365 "Subscribing to a stream from Manage Streams clears the stream filter"
Steps to reproduce:
1. Go to the Manage Streams page
1. Filter on an unsubscribed stream
1. Click the invisible checkbox to subscribe to the stream

The stream list reverts to an unfiltered state, which is disconcerting because (a) the thing I just clicked on suddenly disappears, and (b) the "Filter by stream name" textbox is not cleared, so it appears that filtering is still enabled.

[2016-11-19 09:11] bgilbert opened #2366 "UI glitches when muting a topic"
Steps to reproduce:
1. Click the drop-down arrow on a message.
1. Click "mute the topic".

Results:
1. The drop-down menu fails to dismiss itself.
1. The reading pane rescrolls upward, causing me to lose my place.

[2016-11-19 09:28] bgilbert opened #2367 "Topic-muting confirmation popup is intrusive"
The new confirmation popup after muting a topic (#1711) seems too large, given that the user will almost always want to ignore it.  It also appears in prime real estate at the top of the reading pane.  If I mute a topic my goal is usually to reduce cognitive load/screen noise, but muting now momentarily does the opposite.  Could the popup be made less intrusive?

[2016-11-19 19:13] timabbott commented on #2367
I think it's probably not super easy to move because the message pane is the only thing that's present in narrow windows, but we could definitely make it smaller, dismiss faster, etc.

A specific proposal for how it should look would be welcome!

[2016-11-19 21:43] leoluk commented on #2299
Thanks guys :)

[2016-11-19 21:43] #2299 closed

[2016-11-19 21:50] leoluk opened #2369 "Add ability to hide user email addresses"
Sometimes, it's desirable to hide user's email addresses (for example, open source projects with GitHub OAuth login where contributors do not want to share the e-mail address).

The only UI I've found where addresses are shown in the frontend are private messages. How complicated would it be to remove all such occurences?

[2016-11-19 22:03] leoluk opened #2370 "Shortcut for pasting code"
In technical discussions, you often send messages which entirely consist of or end with code snippets.

Right now, you have to type out the opening and closing \`\`\` block to format a bunch of source code:

[code]

... or manually indent everything. On foreign keyboards (like the German one), \` is a modifier key and you have to press it twice to get the actual \` character.

In Rocket Chat, you

[2016-11-19 22:09] leoluk opened #2371 "Easier to use shortcut for editing last sent message"
Most users are familiar with a simple `Up` shortcut for editing the last sent message since it's a common UI paradigm (Skype, Rocket Chat, readline-based CLI applications, ...).

I propose to support a similar shortcut in Zulip, since the `Esc i Enter` is error-prone and complicated. In our Zulip instance, users post messages containing a single "i" all the time when they get it wrong.

[2016-11-19 22:15] leoluk commented on #2355
That sounds like a good solution. I've had that issue too.

[2016-11-20 01:47] timabbott commented on #2371
Cool, thanks for the context!  This is a duplicate of #1147 and is on our roadmap.  See the discussion on that issue though about why `Up` might not be ideal -- feedback on the question of what hotkey to use is welcome!

[2016-11-20 01:47] #2371 closed

[2016-11-20 03:28] andersk opened #2373 "Production installer fails with umask 077"
Running the [production installer](https://zulip.readthedocs.io/en/latest/prod-install.html) under `umask 077` fails with permission errors, because, e.g., /srv/zulip-venv-cache becomes readable only by root. It should probably `umask 022` near the top.

[2016-11-20 05:10] csvoss opened #2374 "Popovers on streams near bottom of left sidebar partially hidden"
If you open the popover menu for a stream that is close to the bottom of your screen in the left sidebar, it may be impossible to click on some colors or on the "Choose custom color" button.

![screen shot 2016-11-20 at 12 08 24 am](https://cloud.githubusercontent.com/assets/3229696/20460598/b309cab8-aeb5-11e6-8d92-9ee56b94c687.png)

[2016-11-20 05:56] andersk opened #2377 "upgrade-zulip-from-git fails when building static assets"
[code]

[2016-11-20 08:00] aakash-cr7 commented on #2367
Totally agree. What we can do is design it better as Tim suggested by making it smaller etc. so that it fits with the overall theme of Zulip.

[2016-11-20 09:20] aakash-cr7 commented on #2280
@rishig I have tried to make the text "Not delivered" display on hover. How does this look?

![two](https://cloud.githubusercontent.com/assets/7534680/20461843/a7e19af0-af30-11e6-966d-f2424ec47b5d.png)

[2016-11-20 15:17] rishig commented on #2280
Awesome, thanks @aakash-cr7! Could you post a pull request?

[2016-11-20 20:46] timabbott commented on #2280
Yeah that works.  Make sure something reasonable happens with `/me foo` style or 1-line messages, though -- some care may be needed to make sure it fits in those

[2016-11-20 23:06] tonynater commented on #2358
Taking a look at this.

[2016-11-21 02:48] aakash-cr7 commented on #2280
Sure, I will post the PR when its completed. There is a problem with this method for 1-line messages. Clearly there is not enough space if the message contains only one line (Neither can we display the text on the left side of icons as it would overlap the text):

![o2](https://cloud.githubusercontent.com/assets/7534680/20469043/a716e3c2-afc2-11e6-9c34-72c750da8bf7.png)

@timabbott @rishig How abo

[2016-11-21 05:54] rishig commented on #2280
cool, I think a tooltip is a great idea. What do you think of something like "Not Delivered: Resend", "Not Delivered: Edit", and "Not Delivered: Delete" as tooltips for the three buttons?

[2016-11-21 09:38] jeremyclement commented on #2343
Maybe but I am not convinced because registered emails are:

however:

On the other hand, I notice the order may be the problem:

The not working cases are the only have not the same email order displayed in the search bar as in the `private_message_recipient` input

[2016-11-21 10:07] kgulti commented on #2290
Have exact the same problem like @maxlinux2000 first post. But I have 4GB RAM 1GB SWAP

[2016-11-21 13:24] timabbott commented on #2290
@kgulti can you post the next ~20 lines of log content above that section?  All that you posted shows is that `pip install` (aka installing our Python dependencies) failed; the error output above that has what the actual failure was.

[2016-11-21 13:30] kgulti commented on #2290
Here is the full log
`+ APT_OPTIONS=
+ ADDITIONAL_PACKAGES=
+ DEPLOYMENT_TYPE=voyager
+ PUPPET_CLASSES=zulip::voyager
+ VIRTUALENV_NEEDED=yes
+ /root/zulip/scripts/lib/setup-apt-repo
+ set -x
+ apt-get install -y lsb-release
Reading package lists...
Building dependency tree...
Reading state information...
lsb-release is already the newest version (9.20160110ubuntu0.2).
0 upgraded, 0 newly installe

[2016-11-21 13:34] timabbott commented on #2290
I think this might be the problem:
[code]

I doubt pypi.python.org's certificate is invalid, so the problem is likely something to do with your machine's configuration...

[2016-11-21 13:45] kgulti commented on #2290
We have an own certificate installed that is necassary for our firewall to connect via https. Otherwise we can't get any https internet connection. Thanks I'll try to fix it.

[2016-11-21 13:47] timabbott commented on #2290
Yeah, I figured.  It's possible we could ship pre-built virtualenvs for 14.04 and 16.04 to help simplify installation for folks in your situation.

[2016-11-21 15:38] Shashankagarwal181996 commented on #2321
I would like to work on this.

[2016-11-21 17:49] showell commented on #2343
@jeremyclement Thanks for digging deeper into this.  I probably should have updated this ticket after my commit to save you the effort.  Let me know if there's anything I can do to help you verify that the problem has been fixed.  If you can confirm it's fixed in your installation (may require an upgrade), please close the issue.

[2016-11-22 04:50] kracekumar opened #2388 "Subscription page is sluggish"
For organization containing a large number of streams like RC scrolling the page halts in midway. After a point, the page doesn't respond to mouse scroll. As a result, clicking on a stream `Book` opens `Conf` stream which is lower down the order.

[2016-11-22 04:54] kracekumar commented on #2388
Reloading the page fixes this. Looks sporadic.

[2016-11-22 05:01] kracekumar opened #2389 "ESC key doesn't work in Subscription modal window"
It is a typical behavior to expect the modal window to disappear when a user presses `ESC` key.  The current modal window doesn't respond to `ESC` key.

[2016-11-22 06:06] aakash-cr7 commented on #2280
I think a tooltip for every button would be a great idea, it would be more clear to the user about the functionality of the three buttons.

[2016-11-22 08:53] akhilmd commented on #2235
I've gone through the changes required for the mute button on the recipient bars. I'd love to hear thoughts on the changes I've made.

[2016-11-22 09:49] TigorC commented on #2315
@timabbott

But `click` and `enter` will have different behavior.
In most cases a private messages are sent to a single user. Maybe to make them similar (use focus on compose box)?

[2016-11-22 10:59] aakash-cr7 commented on #1147
@timabbott @deekshaarul I have started working on this and is almost finished I'd post a PR within a day.

[2016-11-22 16:36] stanzheng commented on #1760
@hackerkid I was interested in working on the displaying TimeZone's issue https://github.com/zulip/zulip/issues/1506 and after talking to Tim, it seemed like a good idea to put it in the UserProfile information.

I was interested in working on this issue if you don't mind.

[2016-11-22 16:37] borisyankov opened #2394 "Code formatter renders an useless empty span"
Code formatter renders an useless empty span right after the pre tag.
This affects both the web version and the api.
It is invisible on the web, but for mobile apps consuming the api, it is a problem.

**Input:**
cout << "Hello" << endl;

**Expected:**
< pre >
"
cout << "Hello" << endl;
"
< /pre >

**Actual:**
< pre >
< span > < /span >
"
cout << "Hello" << endl;
"
< /pre >

[2016-11-22 18:12] stanzheng commented on #1506
I'm interested on working on this.

I think there would be value of keeping this outside and adding this as a standalone field in the UserProfile Model so that we can make computed properties without deserializing it from a JSON blob.

An example of this in Slack that it localizes the time for each user before sending it to to the client so that  UX is below
From my current client time of 1:11
![s

[2016-11-22 18:49] hackerkid commented on #1760
@stanzheng Sure. Go On!

[2016-11-22 19:19] stanzheng opened #2396 "Last admin of Realm should not be removable"
Currently, if an Admin removes themselves the Realm will have no Administrators.

The Realm should have at least one Admin and the last one should not be able to remove themselves.

[2016-11-22 21:58] timabbott opened #2398 "Show stream descriptions in compose autocomplete"
With the new `#**streamName**` syntax for autocompleting and linking to stream names, it'd be cool to display (the first part of) the stream's description in the autocomplete results.

[2016-11-23 09:31] hexaJer opened #2401 "how escape ` accent ?"
How can I \`do that\` ?

\`\`\`
or that ?
\`\`\`

thanks

[2016-11-23 10:18] TigorC commented on #2115
@timabbott
`/me` only sets the flag `is_me_message` for a message and doesn't processed in the bugdown.
For preview I can replace first `/me` on the current user name. (in client part)
![screenshot_352](https://cloud.githubusercontent.com/assets/1096253/20557349/f5a773d2-b18c-11e6-9548-96b4321b9762.png)
It will be enough for this task?

[2016-11-23 20:15] kracekumar opened #2405 "Update Zulip in PyPI"
`pip intall zulip` for Python 3 fails.

[code]
Installation candidate in `api` directory works.

[code]

Also PyPI package version is `0.2.4`.

[2016-11-23 22:12] kracekumar opened #2406 "call_on_each_message doesn't receive message"
[code]

The problem happens in Python 2.7 and Python 3.

The credentials are present in `~/.zuliprc` like

[code]
whereas `call_on_each_event` receives the event message. The Chrome receives all the message but the code never receives any message.

Am I missing something?

[2016-11-24 14:53] showell opened #2409 "Elminate `nodejs` usage from `tools/node`"
Our `tools/node` script seems to currently cause more problems than it solves.  For users who have a modern version of `node`, the current behavior is to still take a possibly ancient version of `nodejs`.  Apparently the whole "nodejs" mistake dates back a few years and is no longer relevant for most OSes, and we can always have users create a symlink.

There are a few things we can do here:
- Mak

[2016-11-24 17:26] showell commented on #2409
@timabbott has said on Zulip that we can simply eliminate the wrapper here, so we git rm `tools\node` and then replace calls to `tools\node` with simply `node`

[2016-11-24 23:04] andersk commented on #1648
This isn’t quite right; see my [comment on the PR](https://github.com/zulip/zulip/pull/2410#issuecomment-262854042).

[2016-11-25 10:15] aakash-cr7 opened #2412 "Pressing enter while on settings takes the user back to home"
While on the `/#settings` page, pressing enter loads the home page. This might be an issue if a user presses enter by mistake, it would take the user back.

[2016-11-25 10:25] aakash-cr7 opened #2413 "Fix positioning of error message that appears while adding custom alert words in settings"
![custom_alerts](https://cloud.githubusercontent.com/assets/7534680/20622086/29d9d028-b327-11e6-8609-be6f8f293480.png)

[2016-11-25 14:25] timabbott commented on #2406
@kracekumar is that bot subscribed to any streams?  By default, it will only display messages that it would receive were it logged in with a browser; so you can test by sending PMs directly to the bot.  Later you can subscribe the user to streams as needed.

[2016-11-25 14:27] timabbott commented on #2405
@lfaraone FYI, it'd be really nice if we could update the Zulip package in pypi, since that version is now quite old...

[2016-11-25 17:51] kracekumar commented on #2406
@timabbott I missed subscribing to a stream. For my use case swapping my Email and API key was all needed.

[2016-11-25 17:51] #2406 closed

[2016-11-25 19:18] rishig opened #2416 "Message editing: Save button needs to be pressed twice when editing unsent message."
To reproduce: Add
[code]
to zerver.lib.actions.do_send_messages. Send a message starting with `fail me`; it should not go through. Click on the red edit icon, and then edit the message. Click the Save button. Nothing happens. Click the Save button again.

Expected behavior: You should only have to click the Save button once.

The click handler for that button (`.message_edit_save`) is in `static/j

[2016-11-25 21:47] timabbott commented on #2401
Currently not possible; see #2248 where we're working on changing this.

[2016-11-26 03:40] aakash-cr7 commented on #2322
I have started working on this one.

[2016-11-26 03:44] aakash-cr7 commented on #2322
So far I have this
![muted-topics](https://cloud.githubusercontent.com/assets/7534680/20637813/b7555aee-b3b8-11e6-8ade-f04a42cae84d.png)

What do you think @timabbott ?

[2016-11-26 18:02] timabbott commented on #2115
This should only happen for messages where the first characters of the raw content are `/me`.  Something like that should work for the frontend parser.

We'll want to also handle this on the backend parser, perhaps by adding a bit of code to `zerver.views.messages.render_message_backend` to set that bit.

[2016-11-26 18:07] timabbott commented on #2396
@stanzheng how were you removing the admin?  Via the "deactivate myself" feature?  I think we check for this when you make users no longer an admin, but it seems very possibly we don't check this in the (relatively new) deactivate user codepath.

This seems like a great feature for a new contributor to work on; I think we can implement this entirely in the backend code paths for user deactivation

[2016-11-26 18:10] timabbott commented on #2412
Yeah, we should fix this.  Probably requires some care, since we probably still want enter to submit various forms properly.

[2016-11-26 18:12] #2413 closed

[2016-11-26 18:16] timabbott commented on #2280
Fixed via #2390.  Thanks @rishig and @aakash-cr7!

[2016-11-26 18:16] #2280 closed

[2016-11-26 18:29] stanzheng commented on #2396
Hi Tim, It was via the Administration Setting menu panel. It was a curiosity of mine if a user could remove themselves which is sensible but if they could do it being the last admin in the realm.

After clicking `Remove admin`, the user no longer has permission to make any modifications and on refresh the user no longer can view the menu as expected.

Glad it's so easy to rebuild and boot up a new

[2016-11-26 19:21] timabbott commented on #2416
@aakash-cr7 FYI since this is in the same code path as something you just fixed.

[2016-11-26 19:35] timabbott commented on #2389
This is fixed in #2147.

[2016-11-26 19:35] timabbott commented on #2388
This is fixed in #2147.

[2016-11-26 19:46] timabbott opened #2419 "provision: Give a clearer error message of postgres isn't running"
When debugging a recent issue where postgres didn't start correctly after being installed (turned out to be a locale issue), the error message was postgres-init-dev-db reporting the somewhat confusing error message that `psql` gives when trying to connect to a database that isn't running.  We should try to generate a clearer error message for the situation of postgres not running, either in `postg

[2016-11-26 20:11] showell commented on #2343
#2349 has hit master and should fix this.  I will wait for verification to close the bug.

[2016-11-26 20:18] timabbott opened #2420 "The email-mirror system should have rate limiting"
Currently, it's possible to essentially DoS a Zulip server by sending tons of emails to one of its email-mirror addresses, because that code path doesn't use our standard rate-limiting logic that is applied to all API endpoints (since it's not an endpoint).  We should probably do rate-limiting for incoming email by recipient/stream (or something) using a similar design (and to the extent possible,

[2016-11-26 20:19] timabbott opened #2421 "Improve performance of email mirror postfix integration"
Related to https://github.com/zulip/zulip/issues/2420 and somewhat essential to getting the benefits of fixing that is that problem is that currently we do a `manage.py email_mirror` invocation for every email, which means that we're paying a Django process startup for every email we process, which is very expensive.  It probably makes sense to redesign this to support having a long-living process

[2016-11-26 20:35] timabbott commented on #153
This was fixed a few months ago, when we switched the `password_reset_email` to support subdomains.

[2016-11-26 20:35] #153 closed

[2016-11-26 20:44] #2409 closed

[2016-11-26 20:46] timabbott commented on #2315
We should make mouse click do the same thing that enter already does; I don't think we should change the behavior of enter at this time.

[2016-11-26 21:11] timabbott commented on #2394
This might be an issue in upstream python-markdown.  @hackerkid FYI since this may be something that differs between marked.js and bugdown (or maybe just is present in both?).

[2016-11-26 21:15] timabbott opened #2422 "Extracting testing docs to their own TOC section"
Now that we have a ton of testing documentation, those files should have their own section in docs/index.rst.

[2016-11-26 21:16] timabbott commented on #2321
Great, go for it!  See our node testing docs under http://zulip.readthedocs.io/en/latest/testing.html for details on how to do this.

[2016-11-26 21:30] timabbott opened #2423 "Replace download-zxcvbn with downloading it via `npm`"
We should just be able to move zxcvbn to be downloaded via `npm` by putting it in `package.json` and changing a few lines of configuration; see 3ba604cb474b0c0eba13d1c0d533853f0f661c05 for an example of this sort of thing (except without the download tooling).  This would let us remove some extra provisioning code and make it simpler to update the zxcvbn version.

[2016-11-26 21:38] zbenjamin opened #2424 "Copying and pasting the commands for step 1 of an Ubuntu vagrant install doesn't work"
If you copy and paste the entire set of commands from https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#ubuntu at once directly into a terminal, several of the commands (sudo and apt-get) can fail because they require interactive input.

[2016-11-26 21:43] timabbott commented on #2424
Hmm, how should we address this?  Do you think it makes sense to add `-y` on the `apt-get` command?

I think `apt-get` has changed in recent versions to start eating stdin when pasting a series of commands in a kinda annoying way...

[2016-11-26 22:29] zbenjamin commented on #2424
Yeah, it probably makes sense to ues `-y` and separate the commands with `&& \`. I'll submit a pull request.

[2016-11-26 22:47] #2424 closed

[2016-11-26 22:53] #2313 closed

[2016-11-26 23:13] timabbott opened #2426 "populate_db should generate some default presence data"
When we create a new development database using `populate_db`, it has no presence data, so most development is done with an empty right (users) sidebar.  We should fix this by making populate_db generate some basic `UserPresence` rows for the users it creates.

[2016-11-26 23:38] timabbott commented on #2377
Hmm, looking at that traceback, it's not actually clear what specifically was the failure inside `tools/minify-js`.  Do you still have the environment handy to debug there?

I had initially thought the issue would not having a new enough `node` installed and that we should be using `tools/setup/install-node` in production to fix this, but that doesn't make too much sense given where this fails.

[2016-11-26 23:41] timabbott commented on #2423
(This is arguably part of the larger #1709 effort)

[2016-11-27 00:20] timabbott commented on #2374
Interesting!  This is a super helpful data point; @brockwhittaker FYI since this will be something to think about when we update the popovers design.

[2016-11-27 00:21] timabbott commented on #2373
Sounds good; I think we just need to add that line near the top of scripts/lib/install and then test it to make sure we did it right :)

[2016-11-27 00:24] timabbott commented on #2355
yep, that feature makes sense as well.

In terms of implementation, we can add an if statement in the appropriate part of `static/js/notifications.js`, and then the rest of the complexity is just adding a setting.  The guide in http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html should be pretty complete for the data flow part of the implementation; as a result I think this would be a

[2016-11-27 00:27] timabbott commented on #2370
We actually don't require the closing backticks; if you send the following in Zulip it highlights the code:

[code]

The closing backticks are only needed if you're going to send additional stuff afterwards.

Is there something we could do in the docs to make it more obvious that this works?

[2016-11-27 00:27] #2370 closed

[2016-11-27 00:28] timabbott commented on #2370
(I'll reopen this if we have a proposal for how to make Zulip's support or docs for this better)

[2016-11-27 00:59] timabbott opened #2427 "Add descriptions for the default streams in the development environment"
Now that stream descriptions are more prominent in the UI, it seems important to set default descriptions for the initial streams that exist when you create a new Zulip realm.

This probably involves a bit of changes to the plumbing, but structurally we should change the list of streams in `zilencer/management/commands/populate_db.py` to be name/descriptions dicts (or something); later we may also

[2016-11-27 01:01] #2283 closed

[2016-11-27 01:03] timabbott opened #2428 "Add tests for creating a new stream with a description"
In https://github.com/zulip/zulip/pull/2384#issuecomment-261826929, we added support for setting a stream description when creating a new stream.

(1) We should probably add a backend test to test_subs.py exercising this code path.

(2) We should probably set a description in one of the casper tests for stream creation in frontend_tests/casper_tests/05-subscriptions.js and verify that it appears c

[2016-11-27 01:18] timabbott commented on #2358
@tonynater did you end up making progress on this one?  I'm happy to provide further pointers if you'd like to keep working on it.

[2016-11-27 01:26] timabbott opened #2429 "Replace run-dev.py check on Zulip user to determine default ports with something file based"
From 92d1b6d6da3a2e523ca8b1e30f7827b10b5f652f:

    Ideally, we'd replace the vagrant/zulipdev user check with something
    that just checks whether a special file that is created by the
    Vagrant/remote-dev-vm creation process exists; that would be more
    robust.

We could create the file in the little script section in `Vagrantfile` that calls `provision`.

Edit: What I'd had in mind is cre

[2016-11-27 01:30] timabbott commented on #2369
We should definitely support this.

It'd be fairly complicated right now, since the frontend accesses email addresses in hundreds of places:
[code]

But we're actively removing them as part of #734.  Once #734 is finished, it would be a lot simpler to add this as an option.  There's also the hackish approach of having a fake display email that's e.g. username@zulip.example.com, which would be poss

[2016-11-27 01:33] timabbott commented on #2366
The menu failing to dismiss itself is I think the same issue we have in https://github.com/zulip/zulip/issues/287, namely that rerendering a message causes any open popover pointed to that message to be broken (just different code paths for rerendering).  This one is more nicely reproducible, so I'd probably attack this and then go from there.

@brockwhittaker FYI.

[2016-11-27 01:35] timabbott commented on #2365
@brockwhittaker this is likely a regression in your streams page changes, though may be worth fixing after we merge #2147 .

[2016-11-27 01:35] timabbott commented on #2364
It might be worth checking in on this after #2147 is merged, but I'm guessing we need to do something to make this clearer.

[2016-11-27 01:36] timabbott commented on #1506
OK, sounds good re: making this its own UserProfile field.

[2016-11-27 01:38] timabbott commented on #2322
Cool!  Visually, I would probably display it more similarly to how we display recipient bars, with the "stream / topic" in the same line, e.g. "test / abx".  That would also make the items more compact, which I think is good given that some folks may have a lot of these.

@brockwhittaker do you have any thoughts?

[2016-11-27 01:39] timabbott commented on #2235
@akhilmd cool!  Can you open a pull request tagged as WIP?  That's our usual workflow for doing feedback on code.  Also, it'd be great if you posted a screenshot so that it's fast to show the new UI proposal to a lot of people and get their feedback.

[2016-11-27 02:04] timabbott opened #2430 "Add support for using access_message as a REQ() converter/validator"
We now have several views that accept a message ID and call `access_message` in the request body to interact with the message with proper authentication.  It might make sense to move that code to make that function a validator/converter that can be used to do the relevant checking entirely in the decorator code path.

The other thing to think about before doing this is whether we want to change th

[2016-11-27 02:07] timabbott opened #2431 "Clean up erroneous use of the PUT HTTP verb"
Currently, we use the PUT HTTP verb in a few URLs where it should really be POST.  See http://restcookbook.com/HTTP%20Methods/put-vs-post/ for how to tell; basically `PUT` should only be used when the URL encodes the resource being created.

Aside from the pointer update one, the URLs that use this are all sufficiently obscure that it's unlikely they're in use by API clients (most were even added

[2016-11-27 02:09] timabbott commented on #2431
[ ] `PUT /users/me/alert_words`.
[ ] `PUT /users`.
[ ] `PUT /realm/emoji`.
[ ] `PUT /default_streams`.
[ ] `PUT /users/me/pointer`

[2016-11-27 02:50] timabbott commented on #2347
Indeed, this is already fixed, closing.  Thanks @rishig!

[2016-11-27 02:50] #2347 closed

[2016-11-27 02:57] timabbott commented on #466
Just to follow up on an item in this thread, we've supported 16.04 for some time, and adding Debian I expect would be pretty straightforward.

[2016-11-27 02:58] #194 closed

[2016-11-27 03:01] timabbott commented on #465
Addressed by #2376.

[2016-11-27 03:01] #465 closed

[2016-11-27 03:02] timabbott commented on #1375
Addressed for new Zulip installs by #2376.

For existing Zulip installs, we'll want to document how to change the config file and then clear rabbitmq as part of upgrading.

[2016-11-27 03:02] #1375 closed

[2016-11-27 03:02] timabbott commented on #1751
The RabbitMQ issue was addressed by #2376.

[2016-11-27 03:02] #1751 closed

[2016-11-27 03:07] #1605 closed

[2016-11-27 03:23] #1967 closed

[2016-11-27 04:51] akhilmd commented on #2235
I created the PR ( #2407 ). @showell already went through the PR.

[2016-11-27 06:08] timabbott commented on #729
The plan is to move this to `zerver/tornado` for now; it doesn't really need to be its own Django app, but it's nice to have a well-organized subdirectory for the Tornado server code.

[2016-11-27 06:29] #729 closed

[2016-11-27 06:29] #2230 closed

[2016-11-27 06:33] timabbott commented on #1713
@sandish2222 well the development server now uses websockets; but I'm confused about your bug report.  The error message you provided above is clearly port 9991, which is what we use for the development server...  I'm confused why we would need to add that additional nginx config for your case and not for everyone else.  Are you connecting to a server by IP address or something?

[2016-11-27 07:59] andersk commented on #2377
No, but I tried cannibalizing another one and got a slightly different error:

[code]

[2016-11-27 08:59] andersk opened #2435 "Add lint check for explicit python invocations"
(Split from #2378.)

The following are some regexes to check for explicit `python` invocations and incorrect `python` shebang lines that may interfere with the Python 3 transition.

[code]

We want to match the first one against all files (including random config files that don’t currently have a recognized file type), not just `py` files. Tim says we don't currently have a nice way to do that.

[2016-11-27 16:11] timabbott commented on #2435
The closest we have to a mechanism for doing that is to add this to `whitespace_rules` (and then rename it).  Might make sense to just add it as a new list that is checked explicitly against all files; it would probably be a pretty small amount of code in `tools/lint-all`.

[2016-11-27 16:22] timabbott commented on #2377
OK, cool, that's the error message I would have expected.  I think we want to move `tools/setup/install-node` to `scripts/setup/install-node` and then run that inside `scripts/lib/install` and `upgrade-zulip-stage-2`.   Might want to also modify `install-node` to only do work if the current version isn't the one it wants (would save ~2s of upgrade time, which is probably 10% of the `upgrade-zulip-

[2016-11-27 17:46] #2428 closed

[2016-11-27 18:42] #1648 closed

[2016-11-28 04:58] brockwhittaker commented on #2374
Okay, I'll see about a fix for that in the short term and a redesign in the future when we do popovers. Thanks @csvoss!

[2016-11-28 05:00] brockwhittaker commented on #2366
I'll take a look at this and figure out a solution. That does sound pretty annoying. Thanks for pointing it out @bgilbert!

[2016-11-28 05:01] brockwhittaker commented on #2365
Yep, looks like it. Thanks for pointing it out @bgilbert, I'll look at fixing it after merging the redesign!

[2016-11-28 05:03] brockwhittaker commented on #2322
I agree that it should be something like {stream} / {topic}. Some of the styling should be cleaned up a bit to make sure it matches the rest of the settings style. There seems to be more padding on the bottom of each block than on the top, and we are trying to stray away from boxes-inside-boxes design in recent iterations, so perhaps a table view like we have in the `#administration` page?

[2016-11-28 05:57] arpith opened #2442 "Missing close button in modal displayed when clicking on stream in streams settings page"
This would be nice to have :) Closing when the escape key is pressed would be cool too!

[2016-11-28 12:04] TigorC commented on #2115
Currently the `\me` doesn't processed in the Bugdown or js Marked.
On client side I found only this https://github.com/zulip/zulip/blob/master/static/js/message_list_view.js#L890, do I need to delete it?

How to handle this on the backend?

[2016-11-28 15:43] joyhchen commented on #2442
Clicking the down chevron again will close the menu. Maybe changing that to an X when the stream settings menu is open could work too.

[2016-11-28 16:37] aakash-cr7 commented on #2322
Cool. Actually I have tried both the styles,  {stream} / {topic} and the table style as well. I guess in order to make items compacts we should go with the {stream} / {topic} style. As using the table style takes up a lot of space and as Tim mentioned if someone has a lot of topics muted the table would be a lot bigger.

![settings2](https://cloud.githubusercontent.com/assets/7534680/20676717/b6b1

[2016-11-28 16:38] aakash-cr7 commented on #2416
Cool. I am on it.

[2016-11-28 20:56] joyhchen opened #2445 "Stream settings hidden menu overflow"
1. Minimize window to mobile width (365px)
2. Press the hamburger menu icon to open list of streams
3. Press the down chevron to the right of any stream's name

The stream settings that extend after pressing the down chevron should overflow and be hidden outside of the window's view as seen in the picture.

![screenshot from 2016-11-27 18-13-44](https://cloud.githubusercontent.com/assets/7107181/2

[2016-11-28 22:14] timabbott commented on #2445
Thanks for the bug report @joyhchen!  I updated the title to not have "Quality assurance" in it and added labels.  It's not totally clear to me what the right solution is here.

@brockwhittaker FYI.

[2016-11-28 22:17] brockwhittaker commented on #2322
@aakash-cr7 I think that the first style in the standard table format is good for this. It blends nicely with the rest of the tables we have currently in the settings and administration pages, which makes the overall style more coherent.

[2016-11-28 22:20] timabbott opened #2448 "Add option to copy subscribers from an existing stream when making a new one"
A common thing one wants to do is basically split a stream into two streams, in which case you want to copy the subscribers from an existing stream when creating the new stream.  We should add an option to support that in the "create a new stream" UI.

[2016-11-28 22:21] brockwhittaker commented on #2445
@joyhchen can you elaborate on what you mean by "[the stream settings] should overflow and be hidden outside of the window's view as seen in the picture."

I'm not fully sure what that entails, as to me it sounds like cutting off the settings to a place where it is completely inaccessible/off screen on mobile.

I think this is a good bug though, and perhaps the direction to go with this is some ki

[2016-11-28 22:32] joyhchen commented on #2445
@brockwhittaker Ah, sorry my wording was a bit confusing. Yup, I meant to say that the rest of the settings menu is inaccessible because the overflow of the menu isn't visible.

[2016-11-28 22:45] brockwhittaker commented on #2445
Thanks, @joyhchen. I see what you mean. I think we'll just have to fix this when we fix popover design in general and come up with a mobile solution that perhaps uses overlays.

[2016-11-29 01:49] aakash-cr7 commented on #2322
Cool. I guess table style it is then.

[2016-11-29 17:21] brainwane commented on #1969
My suggestion: change their color.

[2016-11-29 17:31] timabbott commented on #1969
Yeah, I think that's reasonable; we'll likely need to do that via adding new code to `tools/emoji_dump/build_emoji`.

[2016-11-29 23:30] timabbott commented on #1899
Fixed via #2457, thanks for the report @feorlen!

[2016-11-29 23:30] #1899 closed

[2016-11-29 23:31] timabbott opened #2464 "Topic editing doesn't rerender home view properly"
Here's what I did:
* In a stream narrow, pick a thread with no topic
* Edit the topic, cascading down
* Go back to the home view.  The thread still displays "no topic".

Probably this is something where we only update `current_msg_list` but should also update `home_msg_list` if we're in a narrow.

[2016-11-29 23:35] feorlen commented on #1899
Awesome! I just saw it again today scrolling through a bazillion messages.

[2016-11-30 00:31] timabbott opened #2465 "Automatically test /help/foo in test_public_urls"
Currently, when you add a new user documentation article in templates/zerver/help/, you need to also add a test for it in our public URLs test system.  Ideally, we should just automatically test all the articles in that directory.

[2016-11-30 00:47] #2366 closed

[2016-11-30 01:44] PikarooBonzai opened #2467 ""Writing a new intergration" typo: "Webhook" as "Webook""
On the documentation page ["Writing a new integration"](http://zulip.readthedocs.io/en/latest/integration-guide.html), "Webhook" is misspelled as  "Webook" 6 times.

[2016-11-30 03:08] timabbott commented on #2467
Fixed, thanks for the report @PikarooBonzai!

[2016-11-30 03:08] #2467 closed

[2016-11-30 03:17] #2199 closed

[2016-11-30 03:17] timabbott commented on #2199
This has now been fixed in master; thanks @denfromufa for the bug report!

[2016-11-30 04:44] arpith opened #2471 "When scrolling in the left pane after clicking on a stream with many threads, the thread names overlap with home / private messages etc"
This is probably best explained with the screenshot

![image](https://cloud.githubusercontent.com/assets/62899/20740005/b9458b6e-b6e5-11e6-98e2-98d51399ad81.png)

[2016-11-30 04:45] timabbott commented on #2471
Yep, already fixed in master.  See #2457.

[2016-11-30 04:45] #2471 closed

[2016-11-30 04:50] arpith commented on #2471
Awesome :) thanks @timabbott!

[2016-11-30 17:08] isht3 commented on #2464
Is this issue solved? Because I couldn't reproduce it.

[2016-11-30 19:02] timabbott commented on #2464
No; I saw it just yesterday, and it hasn't been fixed.  It's possible the circumstances are more subtle; hrm.

[2016-11-30 20:40] rishig opened #2481 "Clicking on a message and typing [end] should take you to the end of the narrow?"
I feel like I often click on the message view to bring it (the browser window, etc) into focus, and then type page-down or end or down-arrow to continue reading. But the compose box captures these key strokes.

What do people think of the following change: If you've just clicked a message, and haven't started typing, {page down, end, down-arrow, etc} still goes to the message view?

[2016-11-30 20:48] Juanvulcano commented on #2464
I was able to reproduce it. @timabbott Could you point me to the view that renders the home template?

[2016-11-30 21:00] timabbott commented on #2481
yeah, I think that's reasonable; we already do something similar with the up/down arrow keys (using them closes compose and then processes the key), so we can probably follow that code path.

[2016-11-30 21:02] timabbott commented on #2464
It's more complicated than there being a single view, but message_group.handlebars is relevant.  You can find this sort of thing by using the Chrome inspector to find the names of elements, and then grepping for them.  I'd instead recommend reading the code in `static/js/message_edit.js` for editing topics, and find where it rerenders things.

[2016-11-30 21:23] tomosm commented on #2396
Hi @timabbott ,

I faced the same problem as @stanzheng mention, and I just tried to fix it in zerver/views/users.py, not zerver/views/admin.py as follow:
[code]

I am not sure whether it is correct or not as expected, and if I should create a pull request, please let me know :).

Also, I am just curious why a user could remove itself too.

[2016-11-30 22:21] stanzheng commented on #1760
I outlined in #1506 that it would be better for me to add it as an attribute to the model so I don't have plans to continue pursuing adding User Profile. If another person wants to take the issue feel free.

I did look at this and chatted with Tim with it. It might be worth waiting for when Zulip Django 1.9 and `JSON fields` are added to the ORM. It would be a nicer way to handle the data object f

[2016-12-01 00:08] #2290 closed

[2016-12-01 00:08] #2320 closed

[2016-12-01 00:23] timabbott opened #2487 "Lower opacity when looking at topics on a muted stream"
Currently, if you mute a stream, and then click on the stream to look at the topics inside, it's really hard to read them, because we have a strong opacity filter (intended primarily for the stream name itself).  We'll need to play a bit with the details; the first thing I'd try is only making the stream line opaque, not the topic area inside.

@brockwhittaker this may be a good quick fix to do so

[2016-12-01 00:25] brockwhittaker commented on #2487
@timabbott how about on :hover increase the opacity back to 1 (or close to it) for reading purposes?

[2016-12-01 03:04] stanzheng opened #2492 "NonNumeric Django UserProfile Ids fail sort on Case Sensitivity"
The users field for `window.activity.presence_info` is keyed by `email` on the recurse.zulipchat.com. When sort in `activity.js` is called, it creates object.keys that are case sensitive while all the emails are lower cased causing `undefined` lookups. Newer versions of Zulip on local dev show this is an numeric id object mapping now.

Solution, migrate or to lower all the keys in `sort` or migrat

[2016-12-01 03:57] timabbott commented on #2492
I think this may be fixed in master but not deployed yet to zulipchat.com...

[2016-12-01 04:07] stanzheng commented on #2492
@timabbott ok we actually traded this down, we have a user in recurse.com ill pm you, that has a capital letter in their email which caused `.sort` for presence to crash.

Ill DM you the user on recurse zulip.

[2016-12-01 04:25] kracekumar commented on #2492
At the local instance, the sort is performed using `id` of the user and not on email anymore.

![sort_user](https://cloud.githubusercontent.com/assets/311929/20781826/2ce8a81c-b754-11e6-9390-212dae6d5c17.png)

[2016-12-01 05:34] stanzheng commented on #2492
It was a fun 3 hour bug spelunking mission. probably put together a more detailed write up to fix later on.

I found more instances and names that this affected and I imagine this affects any companies that have been using Zulip as long as the @recursecenter and performed django data migrations. It involves UserIds

[2016-12-01 06:45] timabbott commented on #2492
Yeah, we're in the process of migrating the frontend to always key users by ID, not email address that @showell has been driving.  If this issue is still present in master, we should definitely fix it.

[2016-12-01 06:49] timabbott commented on #2396
Yeah, that looks reasonable; you should also add a test for the new behavior :).

Users can remove themselves so that they can deactivate their own account -- this is relevant for servers for open source projects like chat.zulip.org, where someone might want to close their account to stop getting notifications or whatnot.

[2016-12-01 06:51] timabbott commented on #2396
Oh, another note, we prefer doing all the validation up-front, before we call any `do_change_foo` functions (so that API routes atomically either do everything or nothing that was requested), so you should probably do the check at the beginning.  And I think you should have the `check_last_admin` function share code with `deactivate_user_own_backend` (and not have a leading _, though that's just a

[2016-12-01 09:19] aakash-cr7 opened #2499 "Private message allows adding the same recipient more than once"
I guess while adding recipients to private message the suggestion pop up should not show the recipient already added neither should it let user add the same recipient again.

[2016-12-01 11:45] umairwaheed commented on #2211
Starting this.

[2016-12-01 18:38] timabbott commented on #2499
We might want to just display the user somewhat differently to indicate they're already included; it can be kinda confusing to be unable to find a user (even if the reason was you'd already added them).  Thgouths wanted!

[2016-12-01 18:42] #2416 closed

[2016-12-01 18:42] timabbott commented on #2416
Fix merged, thanks @rishig and @aakash-cr7!

[2016-12-01 19:29] timabbott opened #2505 "Add test that visits all templates/zerver/help/ templates via their URLs"
We should be able to add a fairly simple test that visits all the new help guides and makes sure they don't throw an error.

Vaguely a follow-up to https://github.com/zulip/zulip/pull/2486

[2016-12-01 20:44] showell opened #2507 "Allow users to open topics directly (without going through streams)."
If you are using Zulip on a really busy realm, you have this scenario:

- You're narrowed to stream A, topic x
- You switch to stream B
- You want to go back to stream A, topic x
- You click stream A on the sidebar
- Doh!  Now you've implicitly read stream A/topic y and stream A/topic z messages, so you need to either address those immediately or fear forgetting them.

It's a really tough workflow

[2016-12-01 22:02] timabbott commented on #2507
The other approach we should consider is switching the default effect of narrowing to focus the last read message, not the first unread message.  There are some model issues to think about (specifically, how to handle the case where there are messages, but none of them area read); but I think we could solve them (e.g. for that problem, have a virtual "top-of-feed" message, and focus that).

[2016-12-01 22:51] timabbott opened #2510 ""Left sidebar userlist" option is buggy with a lot of streams/users"
You can reproduce this easily on chat.zulip.org -- enable the setting, reload, and go to a narrow window.  Basically the whole space is taken up by the user list; it only leaves space for 2 streams, which ends up being super confusing.

[2016-12-02 07:31] timabbott opened #2517 "Add support for unmuting certain topics within a muted stream"
It'd be cool if one could unmute certain topics in a muted stream, basically declaring you want to follow just those topics.

This probably wouldn't be too difficult to implement, since we're doing all the muted stream/topic filtering on the frontend anyway.  But it would limit our flexibility for future model changes, so some care is required.

[2016-12-02 15:29] showell commented on #2507
With regard to the unread logic, I think we may still have some logic that says that if a message appears on the screen, it's considered read, so shifting the focus by one record (if I'm interpreting you correctly) might not be a huge help.   I'm slightly more inclined to a solution that allows you to just get to the topic directly.  Even if the not-your-desired-topic messages on the stream don't

[2016-12-02 15:30] Juanvulcano commented on #2464
You need to click the topic and edit it for the changes not to occur, if you click the stream and edit the topic changes will occur.

[2016-12-02 16:33] tommyip opened #2524 "Scroll bar overlapping in Chrome"
The scroll bar for the chat and users are occupying the same space thus I can only scroll the chat using my mouse wheel or keyboard. I tried it in Chrome `[Version 54.0.2840.100 (64-bit)]` and Firefox `[50.0]` on Linux Mint 18 and only Chrome has this issue.

How to reproduce:
1. Launch Chrome
2. Goto zulip chat main page
3. Try scrolling the chat with the scroll bar for the chat and users list.

[2016-12-02 18:00] timabbott commented on #2524
Can you post a screenshot of what you mean?

[2016-12-02 18:00] timabbott commented on #2524
I'm using Chrome 54 on Linux and can't reproduce this issue...

[2016-12-02 20:26] timabbott opened #2527 "Global notifications settings don't live-update on settings page"
If you open two browser windows with the same user, the visual display of the global notification settings on the /#settings page does not update as you change the settings.  We do update the state via changing `page_params`; we just need to also write the bit of code to toggle the checkboxes visually.  See `notifications.handle_global_notification_updates` for the code path to modify, and the "Ne

[2016-12-03 00:11] Juanvulcano opened #2532 "Bug: User photo and name not updating after saving"
Hi there, I tried this both on the live site and on the DigitalOcean droplet.

To reproduce this:

1. Write on a topic
2. Go to settings, change your account name or avatar. Save Changes
3. Go back to the topic you initially wrote.
Your avatar and name will be unchanged.

@timabbott @kevinr @showell Is this a new bug?

[2016-12-03 00:13] timabbott commented on #2532
Nope, this is a known issue.  See e.g. #1932

[2016-12-03 00:13] #2532 closed

[2016-12-03 00:31] timabbott commented on #2464
Great, now it should be possible to fix this!

[2016-12-03 00:33] timabbott commented on #2507
The logic we have is documented clearly in http://zulip.readthedocs.io/en/latest/pointer.html.

I agree that my proposal only addresses part of the problem, namely the issue of losing one message of unread count every time you click into a narrow.

[2016-12-03 12:44] tommyip commented on #2524
GIF:
![optimise](https://cloud.githubusercontent.com/assets/18504232/20859396/21f87d98-b956-11e6-9db8-467e87ebf00a.gif)

[2016-12-03 18:34] timabbott commented on #2524
Interesting, the native scrollbars look different on Linux Mint vs. Ubuntu (and thus don't overlap), so that's why I can't reproduce.  Thanks, this is helpful!

[2016-12-03 18:35] timabbott commented on #2524
This may not be easy to fix without somewhat significant changes to the page structure.

[2016-12-03 20:03] timabbott commented on #2442
This feature will be eliminated with #2147, which will merge next week, so closing this.

[2016-12-03 20:03] #2442 closed

[2016-12-03 20:13] timabbott commented on #2318
@mghadam just wanted to check in on this; I'd love to get your fix to the documentation into master.

[2016-12-03 20:16] timabbott commented on #1998
@feorlen were these issues resolved by your PR a few weeks back?  I'm wondering if we can close this.

[2016-12-04 02:30] zbreit18 opened #2557 "The syntax for single-line code in markdown can cause a message with longer than intended width"
If you type a message in between backticks (i.e  **\`Random Message\`**) with a long line of spaces afterwards, it causes the width of the codeblock to overflow over the width of the message. This behavior allows for horizontal scrolling (which is not intended).
### The Original Bug:
[code]
Notice how there is a long string of spaces instead of a single `\n` after `<module>`.

[2016-12-04 04:25] kevinr commented on #2008
Just prioritizing stream subscribers would help a **lot** on the Zulip instances I frequent.

[2016-12-04 04:40] timabbott opened #2559 "Support restarting the server without rejecting any requests"
In theory, it should be possible with uwsgi and its `master=true` setting to restart the server with 0 requests being rejected due to the service being down (the approach seems to be the obvious thing of queuing requests in the socket until the new processes are up).  I tried this briefly with our supervisord and ran into problems where it would just fail to restart, so some investigation is requi

[2016-12-04 04:46] timabbott opened #2560 "Document new #**stream** syntax"
You can link to streams via #**streamName**; this is a new feature and not yet documented.

This should be documented in a few places:
* docs/markdown.md
* templates/zerver/markdown-help.html
* templates/zerver/help/message-formatting.md

[2016-12-04 05:02] jQwotos commented on #2239
Seems like the `send_api_message` in the loop of `test_hit_ratelimits` is what's making it take so long. Odly when testing with the `time.sleep` patched off it still took 1.178s
[code]
I noticed this when running and looking
[code]
with `test_hit_ratelimits' replaced with
[code]
while looking at the delays in between

[2016-12-04 05:16] timabbott commented on #2239
I suspect your instrumentation isn't quite right; sending a message definitely doesn't take more than 1s.

[2016-12-04 05:27] timabbott opened #2561 "Using "more messages" inside "Private messages" in left sidebar randomly closes"
This is a fairly significant regression we'll need to track down; I think what's happening is that whenever new messages become available, "private messages" section reverts to its unexpanded state.

@showell you've been in this code recently; any ideas?

[2016-12-04 06:11] timabbott commented on #1135
The work here is effectively resolved by #2302.

[2016-12-04 06:11] #1135 closed

[2016-12-04 06:13] timabbott opened #2564 "Take advantage of Django 1.10's new features"
With upgrading to Django 1.10 around the corner, I did a detailed read through the Django 1.9 and 1.10 changelogs and identified these follow-up projects:

## 1.9:
* [x] Test parallelization.  It looks like this requires some work to our test runner system; naively just adding `parallel=4` to our TestRunner call caused it to not run any tests :).
* [ ] Extended session backends -- this could clean

[2016-12-04 16:20] tommyip opened #2574 "Support for username auto-completion when editing message."
Currently, the username auto-completion feature is only implemented for the new message compose box, but not in message editor.

[2016-12-04 16:40] abhayKashyap03 opened #2575 "HotkeyForSearch"

[2016-12-04 17:01] timabbott opened #2577 "Support autocompleting stream names inside message editing"
When editing a message, we auto-complete emoji, but not usernames (#195) or stream names.  It'd be great to be able to autocomplete the `#**stream_name**` syntax in the message editor.

[2016-12-04 17:01] timabbott commented on #2574
Thanks for reporting this!  This is a duplicate of https://github.com/zulip/zulip/issues/195.

If you're interested in working on this area, I think one thing we don't have an open issue for is being able to autocomplete the `#**stream_name**` syntax in the message editor.  Opened that as https://github.com/zulip/zulip/issues/2577

[2016-12-04 17:01] #2574 closed

[2016-12-04 17:02] timabbott opened #2578 "Show markdown help in message editing UI"
When editing a message, we should make it convenient to see the markdown help, just like we do in the normal compose box.  This probably just means adding a little markdown-help link using the "A" icon below the edit text area as well.

[2016-12-04 19:59] isht3 commented on #2505
So, just redo what you removed in #2486 into a new test which will also test the newly added files within the /zerver/help directory right?

[2016-12-04 20:01] timabbott commented on #2505
I would add something similar to `test_signup` that lists the relevant directory to see what articles exist, and then tries to visit them in the browser and makes sure they return 200s.  A goal for this is to not need to do any changes to have new articles be tested.

[2016-12-04 23:41] pweaver opened #2586 "Add topic support to the Stripe integration based on payload."
Stripe can be a high volume plugin. The integration should be able to set the topic based on either the customer or event type.

Also the default topic should be something other than test.

[2016-12-05 01:53] showell commented on #2561
My guess is that we've had this bug a long time, and we're just noticing it now.  Our code uses the blunt hammer of rebuilding lists for various events, and the PM sidebar code doesn't seem to track whether you're zoomed in or not.  It's possible that recent changes introduced this regression, but I mostly just moved code.  This is probably about a 10-line fix where keep a boolean in `pm_list.js`

[2016-12-05 02:33] timabbott commented on #2561
Yeah, I'd believe that this has always been broken, and it's obvious just because of high message velocity.

[2016-12-05 06:01] arpith opened #2596 "Creating streams with long names breaks UI in three places"
Creating streams with long names in the streams settings page leads to bugs at three different lengths. To reproduce this,
1. Log in as Iago
2. Click on the gear icon and click on manage streams
3. Click on Create New Stream
4. Enter a long stream name and click on Create

## Overflow in error message
The error message that says the stream name is too long contains the stream name, which overflows

[2016-12-05 11:58] xeor commented on #2405
Count me in... Or at least write some text that it is old and unmaintained, and give a short description on how to install the updated version. If all you want it the python api client.

[2016-12-05 17:54] isht3 commented on #2505
Should I use `os.listdir()` function to find out the possible files in that directory or is there a workaround for this? And all the help guides will be in markdown, yes?

[2016-12-05 18:47] timabbott commented on #2505
yeah `os.listdir` is a reasonable approach for that.

[2016-12-05 19:25] polypmer opened #2604 "Creating an invite only stream, stream isn't added to Streams list - needs page refresh"
Hi,

So when I create an invite only stream, it doesn't get added to the streams list, I think it's because of this if statement, inside`create_stream_if_needed` :

        if not invite_only:
            event = dict(type="stream", op="create",
                         streams=[stream.to_dict()])
            send_event(event, active_user_ids(realm))

And so if the stream is created invite-only, t

[2016-12-05 19:30] polypmer opened #2605 "Check all for invite-only stream after filtering users, checks ALL users"
So I discovered this making an invite only stream, I copy and pasted a list of emails from a private message thread (to make a stream out of it). That filtered the user list to those I wanted to be invited, but then when I clicked check all (because only those I filtered out where there) I inadvertently invited everyone to the invite only thread (which besides being deeply ironic, was slightly awk

[2016-12-05 19:43] timabbott commented on #2605
There's actually an open issue with some ongoing work on prompting the user in https://github.com/zulip/zulip/pull/2592; but the "check all" thing should probably most coherently only check all the things that are visible; I'm guessing that might actually be a regression...

[2016-12-05 19:48] davidbalbert opened #2606 "You should be able to resubscribe to private streams that you've unsubscribed from"
When you unsubscribe from a private stream, it is still visible in your "Manage Streams" page. When you try to perform actions on that stream (like subscribing or inviting someone), you get a relatively unhelpful error message. The message you get while trying to subscribe is "Error adding subscription: Unable to access stream."

This should be changed, either to allow you to subscribe to and modi

[2016-12-05 19:53] timabbott commented on #2606
I'm not sure we should let you resubscribe, exactly, for security reasons (people might act under the assumption you aren't watching), but we should certainly do something more reasonable here.  Possibly an "ask to rejoin" sort of thing?  Idunno.

But there's definitely a bug here that we show you something confusing :)

[2016-12-05 20:06] timabbott opened #2607 "missedmessage_emails queue worker can backlog when inviting many users to a stream"
Currently, if someone creates a new stream and invites all 500 people in an organization (which is a reasonable thing to do sometimes), we send a PM to all 500 people, which often generates an email.  Zulip's message sending infrastructure handles this fine, but then we end up with a backlogged outgoing email queue, since sending outgoing emails is an expensive operation, intentionally made slow b

[2016-12-05 20:12] davidbalbert commented on #2606
Either would fix the bug from my perspective.

[2016-12-05 21:04] cosmicAsymmetry commented on #2350
#2608

[2016-12-05 22:23] cosmicAsymmetry commented on #2396
This task seems claimed @timabbott could you please remove this from the GCI task list?

[2016-12-05 23:57] stanzheng commented on #1506
I'm going to free this up since working on https://github.com/zulip/zulip/issues/541 has eaten up most of my time.

Feel free for anyone to take this over.

[2016-12-06 01:00] YagoGG commented on #2287
The ones that succeeded should be removed, but the failed ones should remain, right?

[2016-12-06 01:04] timabbott commented on #2287
yep!

[2016-12-06 05:56] #1528 closed

[2016-12-06 05:57] timabbott commented on #1528
@timapril FYI this was just completed :)

[2016-12-06 07:30] TomaszKolek commented on #2596
![long_stream_error](https://cloud.githubusercontent.com/assets/5993758/20916833/278c2784-bb8e-11e6-96b1-2bcc1cc89e96.png)

Proposition for error - looks reasonable I think

[2016-12-06 07:58] TomaszKolek commented on #2596
![long_stream_name](https://cloud.githubusercontent.com/assets/5993758/20917271/d487269e-bb90-11e6-96de-e0ca33b00117.png)

Stream names

[2016-12-06 08:00] TomaszKolek commented on #2596
![long_stream_deletion](https://cloud.githubusercontent.com/assets/5993758/20917550/72a331a0-bb92-11e6-986a-60a98685aad9.png)
And the last one.