[2020-07-13 19:01] timabbott commented on #15772
Thanks for the report!

I'd recommend using `./manage.py shell` for trying to delete objects; that will properly `CASCADE` deletions allowing you to do whatever you're trying to do.  That said, see https://github.com/zulip/zulip/issues/10533 for how to delete a user object correctly.

[2020-07-13 19:03] timabbott commented on #15770
@retep998 @pachi thanks for the report!  My guess is that you secretly have an unread message (perhaps in a muted stream or topic) that's near that date, and our logic for placing the pointer is incorrectly landing you there.

We'll do some debugging to see what the data issue is; that will likely reveal the bug.  The specific message ID is valuable for understanding this (which is included in tha

[2020-07-13 19:07] pachi commented on #15770
Oh, that makes sense. Is there some way to find that message (without loosing the set of muted and unmuted streams)?

[2020-07-13 19:08] timabbott commented on #15750
I think "Organization Subdomain" would be somewhat inaccurate for the root domain case, which is what folks usually experience on self-hosted servers.  We could make it conditional on whether the root domain is a possibility.

I agree with the other comments.  I'd also want to look at making the space before the password strength bar a bit less to make that more clearly attached to the `password`

[2020-07-13 19:10] timabbott commented on #15743
Hmm, I wonder what thing suddenly happened for several folks around the same time -- perhaps an Ubuntu update broke the locale configuration on your systems?

Are either of you up for spelunking in `/var/log/dpkg.log` to see what packages were updated in the leadup to your noticing this problem?  (Are you using `unattended-upgrades`?).

[2020-07-13 19:12] timabbott commented on #15768
I think this might be a night theme CSS bug -- it's visible in the day theme.

@SiddharthVarshney @majordwarf @Gittenburg anyone want to investigate?  Seems likely shallow.

[2020-07-13 19:20] timabbott commented on #15772
But bug here is in part a missing index, though I'm sure there must be some other issue that made it possible to create this semi-duplicate user in the first place.  In any case our solution will start with adding the missing index.

[2020-07-13 19:20] thedeveloperr commented on #15768
@timabbott I noticed it in light theme too. It triggers usually when popover opened via mouse usually. What strange is if you use tab instead of down arrow once menu have focus, the highlighting re-appears.

[2020-07-13 19:24] #15518 closed

[2020-07-13 19:29] #15351 closed

[2020-07-13 19:44] #14982 closed

[2020-07-13 19:53] cdebroncas commented on #15743
Sure, This is my dpkg.log

`2020-07-10 03:50:18 status half-configured linux-image-4.15.0-109-generic:amd64 4.15.0-109.110
2020-07-10 03:50:20 status installed linux-image-4.15.0-109-generic:amd64 4.15.0-109.110
2020-07-10 03:50:20 status triggers-pending linux-image-4.15.0-109-generic:amd64 4.15.0-109.110
2020-07-10 03:50:20 configure linux-modules-extra-4.15.0-109-generic:amd64 4.15.0-109.110 <n

[2020-07-13 19:56] YashRE42 commented on #15686
the relevant files here are `tab_bar.hbs` and `tab_bar.js` the correct fix will need to edit both of them:
* the change for the js file, the case should probably be `has_operator("pm-with") ...` and we append the user status(es?) to `tab_data.rendered_narrow_description` via `user_status.get_status_text(...)`,
we don't need to handle "group-pms" ([searching narrow](https://paper.dropbox.com/doc/Na

[2020-07-13 20:06] #12868 closed

[2020-07-13 20:29] timabbott commented on #15208
Yes, definitely.

[2020-07-13 20:31] timabbott commented on #1587
The `Running` lines come from `test-backend` itself and I don't consider to be spam.  Nor the OK, Ran, etc that `test-backend` itself outputs.  The spam is other output printed while running individual tests.

[2020-07-13 20:31] timabbott commented on #1587
`Using existing clone for alias 'default'...` is from the test system as is "**Skipping**" but the rest on that looks like spam to me.

[2020-07-13 21:18] aero31aero opened #15777 "Render elements that use the database stream descriptions."
Currently, stream descriptions cannot render stream, stream-topic, user-mention, user-group-mention links because we do not pass a realm to the renderer and because we do not have a `zulip_message` object when we aren't rendering a message. Fixing this might have some privacy concerns so we want to be careful about how we add this functionality.

Context: https://chat.zulip.org/#narrow/stream/137-

[2020-07-13 22:11] aero31aero commented on #4970
We have fixed this by renaming bugdown to markdown. See https://chat.zulip.org/#narrow/stream/3-backend/topic/zerver.2Elib.2Ebugdown for more details.

[2020-07-13 22:11] #4970 closed

[2020-07-13 22:20] andersk commented on #4970
Don’t forget to leave links to the relevant PRs. This was #15569,  #15606, and #15670.

[2020-07-14 00:04] cdebroncas commented on #15743
![WhatsApp Image 2020-07-13 at 7 02 43 PM](https://user-images.githubusercontent.com/6067492/87365357-a0d0c400-c53b-11ea-8146-098b0ff7d2f8.jpeg)

[2020-07-14 05:24] hardikkat24 commented on #15208
@zulipbot claim

[2020-07-14 06:35] transferkraM commented on #15772
First of all: Thanks a lot @timabbott, great support, as usual!

For reference. I had trouble following the `manage.py shell` user deletion process referenced in #10533.

Wrong:

[code]

`UserProfile` was not imported in IPython shell, probably because there was no `readlink` to derive the real directory of manage.py, or something.

Correct was:

[code]

[2020-07-14 07:25] timabbott opened #15784 "Provide better UI for handling failures on large bulk invitations"
From a user running conferences on Zulip:

I don't think it'd be correct to automatically add the users to the invitation streams (that might very well not be one's intended resolution!), but I think offering a button that does so makes sense to me.

[2020-07-14 08:53] tonythomas01 opened #15786 "Feature request: Scroll to latest message"
So I came to a channel which I had subscribed to after 6 months and sadly, I cannot find a way to get to the latest message. I have to scroll those paged channels one after other.

Steps to reproduce:
1. Go to one of your old channels subscribed and you which you have not opened for some time.
2. Try to reach to reach to the latest fast.

[2020-07-14 09:20] agrawal-d opened #15787 "Can't @-mention cross realm bots"
It is currently not possible to @-mention a cross-realm bot. I specifically tried Notification Bot and Welcome Bot on CZO. I think it is important to enable @-mentioning the Welcome Bot because the first PM that most people get from is the Welcome Bot and people may try to test Zulip features by interacting with it.

The local echo for these works - if I manually type ` @**Welcome Bot**` and send

[2020-07-14 10:13] Gittenburg commented on #15786
Closing as a duplicate of #10209.

[2020-07-14 10:13] #15786 closed

[2020-07-14 14:36] YashRE42 commented on #15320
closing this, resolved via #15455.

[2020-07-14 14:36] #15320 closed

[2020-07-14 15:31] xerus2000 commented on #14573
You want to archive a topic to stop the discussion? But somebody might simply open a new topic. I think topics simply drifting down the list makes more sense, sort of automatically archives them.

Pinning People, PMs, and topics is something I am definitely in favor of.

[2020-07-14 15:44] xerus2000 commented on #3157
Sorry, I don't really understand how that feature solves this issue.
I have a specific ongoing topic that I want to keep accessible, even if it isn't written to in a few days and pushed down by new topics, and don't see any way to solve this.

[2020-07-14 15:55] xerus2000 commented on #14573
See also https://github.com/zulip/zulip/issues/10513

[2020-07-14 16:07] MasonProtter commented on #3157
Yeah, the recent topics view is great, but it is not a replacement for this feature.

[2020-07-14 16:17] udkumar commented on #15760
@Gittenburg
I am thinking to control user limit......plan wise.....for an organization.
If organisation requested plan A then the limit for the user will be X....If plan B then limit XX and so on....

[2020-07-14 19:23] #15706 closed

[2020-07-14 19:54] blinry opened #15790 "Make <time syntax report the timezone used for display"
I just used the <time syntax for the first time, and it caused *more* confusion instead of less, because a person was not currently in the timezone configured in their profile. :P

I'd suggest that Zulip should display the user's timezone next to the time, like so: `Sat, Aug 8 2020, 10:00 PM (Europe/Berlin)`

[2020-07-14 19:57] blinry opened #15791 "Make <time syntax adhere to 24-hour clock setting"
I have activated 24-hour time format in my Zulip profile.

Expected behavior: <time markup is rendered as `Sat, Aug 8 2020, 22:00`.
Actual behavior: it's rendered as `Sat, Aug 8 2020, 10:00 PM`

[2020-07-14 23:05] SiddharthVarshney commented on #15768
this is not very consistent
if I change to dark theme and follow the above steps focus box does not appear. If I do shift+R it starts working in dark mode.
And then if I change back to the light mode it doesn't work for light mode too until I do shift+R

[2020-07-14 23:29] #15759 closed

[2020-07-14 23:37] timabbott commented on #15327
There's too much going on in the 3.0 release prep process to think through this properly, so I'm demoting it to something we'll look at after 3.0.

[2020-07-14 23:38] timabbott commented on #15772
That's correct -- I often make the mistake in this issue tracker of assuming readers are familiar with how to run management commands.  I should probably make a saved reply for it.

[2020-07-15 11:01] Gittenburg commented on #15768
I investigated this and it's a Chrome bug. Reported it as https://bugs.chromium.org/p/chromium/issues/detail?id=1105822.

I'll open a PR with a workaround. We also have a completely separate issue making the focus outline invisible in Firefox in the night theme ... will fix that also.

[2020-07-15 11:07] GreenUkr commented on #9736
it's possible to make multi choice. Bad.
For example I made pool
++
**Is it good
-Yes
-No**
++
and had ability to push and Yes and No simultaniusly. Unusable
https://greenukr.zulipchat.com/#narrow/stream/247654-general

[2020-07-15 13:56] irfansheikh777 commented on #15509
@timabbott  and Team Zulip   Memcached issue for zulip was  finally resolved on release "Zulip Server 2.1.7" . Thank you so much for fix.

[2020-07-15 16:57] #15768 closed

[2020-07-15 17:06] #15772 closed

[2020-07-15 17:17] #15637 closed

[2020-07-15 17:39] timabbott opened #15808 "Avoid closing compose box when opening long messages"
As reported in https://news.ycombinator.com/item?id=23842137, apparently the compose box closes when you click the "more" link to open long messages; this doesn't seem like the right tradeoff.

[2020-07-15 17:50] #15808 closed

[2020-07-15 18:41] timabbott opened #15810 "Glitch when hovering a message as its editing window expires"
There's a UI glitch where we only show two items in the message controls area (ellipses menu and star) and not the third (edit pencil or view source for a message you yourself sent).  The reproducer is:

* Set a short editing deadline:

![image](https://user-images.githubusercontent.com/2746074/87582916-f4ecbd00-c68f-11ea-853a-bc6f643a49e3.png)
* Send a message and hover the mouse over it
* When t

[2020-07-15 19:48] blinry commented on #15790
Another option would be to put timezone information in the hover text, like so: "This time is in your timezone, Europe/Berlin." But this wouldn't have solved my communication problem described above. I feel like we should be as explicit as possible here.

[2020-07-15 20:08] timabbott commented on #15509
You're welcome, and thanks for the confirmation!

[2020-07-15 20:19] timabbott commented on #15790
I don't think this uses the timezone in their profile, does it?  I would have thought it used the timezone configured in their browser, like we do for timestamps.  If that's not what it's doing that's a blocker bug.

[2020-07-15 20:21] timabbott commented on #15790
OK I can confirm that it's incorrectly using `page_params.timezone`.
[code]

[2020-07-15 21:00] aero31aero commented on #15790
Confirmed, I'm fixing it now.

On Thu, Jul 16, 2020, 1:52 AM Tim Abbott <notifications@github.com> wrote:

[2020-07-15 21:15] timabbott commented on #15790
@aero31aero I think I know how I want this fixed; I'll push to https://github.com/zulip/zulip/pull/15814 and you can review there.

[2020-07-16 00:01] #15791 closed

[2020-07-16 00:01] #15790 closed

[2020-07-16 01:22] aero31aero commented on #15512
Related issue: #9857. If we fix that, we could easily at least list the topics in the table even if we don't have the participants data.

[2020-07-16 05:49] aero31aero opened #15818 "Show color scheme: auto in the theme change popover and typeaheads"
Currently, if we use the slash commands (`/day` or `/night`) to change the theme, we get a popover that allows us to switch to the other theme among day/night. That popover doesn't take into account the new automatic color scheme option we've added.

Fix: add another button in the dialog.

We also need to show `/automatic` (text not final) in the slash commands to switch to this theme.

[2020-07-16 06:04] andersk opened #15819 "Installer’s generated en_US.UTF-8 locale is destroyed on upgrade of locales package"
The install script tries to generate the `en_US.UTF-8` locale with `localedef -i en_US -f UTF-8 en_US.UTF-8` in case the system doesn’t have a working UTF-8 locale. This has two problems:

* It requires the `locales` packages to be installed first; we don’t ensure or check this.
* If the `locales` package is upgraded without having been correctly configured to generate `en_US.UTF-8`, the generated

[2020-07-16 07:20] timabbott commented on #15416
Fixed in #15798.  Thanks @aero31aero!

[2020-07-16 07:20] #15416 closed

[2020-07-16 07:47] timabbott commented on #15770
This investigation won't make the 3.0 release -- we'll investigate later this week.

[2020-07-16 09:04] anshgit101 commented on #15818
@zulipbot claim

[2020-07-16 10:43] sasithav commented on #13553
@Vinit-Dantkale  How did you solve it?

[2020-07-16 12:45] garg3133 commented on #15750
@zulipbot claim

[2020-07-16 12:57] garg3133 commented on #15750
Should I address all issues in different commits or one single commit?

[2020-07-16 13:05] Gittenburg commented on #15750
You can but you don't need to. These are mostly simple markup changes that should result in a readable diff and don't really require dedicated commit messages.

[2020-07-16 13:37] Gittenburg opened #15826 "Make Recent topics accessible / improve UX"
Accessibility issues:

- [x] You should be able to navigate between the filter controls and the results with `Tab`. (More feedback is needed for this. We already have the vim keys and arrow keys working to help user navigate RT view.)
- [x] The checkboxes should have `role=checkbox` and `aria-checked`, [as described in the MDN docs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/R

[2020-07-16 16:22] amanagr commented on #15826
I am not sure about `Recent topics should always focus the search input when you open it.` It depends upon the use case.

[2020-07-16 17:58] amanagr opened #15830 "list_render: Add capability to avoid complete redraws on calling `hard_redraw`."
Right now, `list_render.js` re-renders the complete table when `hard_redraw` is called and it is not smart about updating the individual list elements like `vdom.update`.

Basically we want:
[code]

See discussion in https://chat.zulip.org/#narrow/stream/321-settings-system/topic/List.20render.20dynamically.20add.20new.20data for more info or to discuss implementation details.

[2020-07-16 18:03] Jagansivam28 commented on #15830
@zulipbot claim

[2020-07-16 18:14] timabbott commented on #15826
Yeah, we switched away from focusing the search box to focusing where you were before -- that's better if you're actually using it with the keyboard since you can browser to and from things.  Will become more obviously what you want when we move it to the center pane.

Agree with the table cell change and the ARIA stuff.

[2020-07-16 18:25] timabbott commented on #14943
Some debugging has been been happening here, which I think is promising:
https://chat.zulip.org/#narrow/stream/6-frontend/topic/multiple.20composite.20layers.20in.20chrome.20mobile/near/937937

[2020-07-16 21:52] Guetrazik opened #15833 "Remove line (email and username)"
https://github.com/zulip/zulip/blob/48c3c33d10e9e53c4d5b840a829731cbc1c96a38/locale/fr/LC_MESSAGES/django.po#L23

Hi guys, I'm really sorry but I would like to remove this line because I used the wrong mail adress to edit the document, and it can cause trouble to me. If not possible to remove, just replace by the new mail associated with my Transifex account mail updated : williamwendling7@gmail.c

[2020-07-17 07:33] JanKoppe commented on #15819
Thanks. I just stumbled upon this because the server I run zulip on was installed with only the de_DE.UTF-8 locale.

Running `locale-gen en_US.UTF-8` generated the missing locale, which in turn allowed the upgrade to continue.

[2020-07-17 08:44] andersk commented on #15819
A better workaround for those affected is to run `dpkg-reconfigure locales` and enable the `en_US.UTF-8` locale. Then it will continue to work after `locales` package upgrades.

[2020-07-17 09:10] prince-03-16 commented on #15552
@zulipbot abandon

[2020-07-17 09:11] AlexisTM commented on #11440
We can create a new meeting by simply navigating to http://meet.google.com/new, which automatically creates and redirect to a meeting. We could fetch it and get the redirection URL to share to users.

[2020-07-17 10:51] rhn opened #15836 "Unclear message authors in notification emails"
Background: a self-hosted version updated sometime in 2020. Notification emails on missed messages enabled.

The problem: text/plain alternative doesn't adequately mark authors. Example based on a real email with 3 messages, adjusted with random text and names to maintain privacy:

[code]

It's easy to miss that there were 3 people in the discussion (I thought it was 2 until I started editing the

[2020-07-17 10:54] Gittenburg commented on #15836
An elegant solution would be prefixing each message line with `>` which email clients automatically render as quotes, so e.g.

[code]

This would also prevent spoofing.

[2020-07-17 11:01] rhn opened #15837 "Notification emails are unstructured"
Notification emails don't reference each other, leading to my inbox being interspersed with a stream of unrelated messages sharing the same subject, but being completely unthreaded. This is in departure to what mailing lists do, where messages which are replies to each other reference each other, so that the client can group them into related threads.

The usual way to do it is to fill in the `In-

[2020-07-17 11:02] Gittenburg commented on #15837
Closing as a duplicate of  #14337.

[2020-07-17 11:02] #15837 closed

[2020-07-17 11:23] rhn commented on #14337
Sorry for not searching existing issues before filing. @timabbott what could be in the headers is the Zulip thread ID, as I proposed in https://github.com/zulip/zulip/issues/15837 . That would be a simple change and hopefully to the benefit of some clients.

[2020-07-17 11:33] rhn commented on #15836
When I mentioned spoofing, I didn't mean crafting an email, but crafting a Zulip message to appear as something else than it is.

Prefixing with ">" would make the contents unspoofable: there's no way to create a Zulip message that would end up without ">" when inside an email.

">" itself, on the other hand, would make the UX just a little bit worse by turning the notifications into a quote deliv

[2020-07-17 15:45] crodriguez1a commented on #13760
Still experiencing this issue exactly as described above on 5.3.0. Not sure where #13953 was released.

[2020-07-17 15:52] clarammdantas commented on #15344
@zulipbot claim

[2020-07-17 16:21] hashirsarwar commented on #14188
@zulipbot claim

[2020-07-17 16:53] orientor commented on #14188
@hashirsarwar FYI I am doing the openapi documentation of these endpoints for my GSoC project.

[2020-07-17 17:15] octogonz commented on #15688
I'm looking at migrating from Gitter to Zulip for an open source project, and have this same concern: For a business, there isn't any concern about employees impersonating each other. But for a public internet chat that anyone can join, trolls can be a serious nuisance.

In our case, GitHub has already solved this problem.  So the ideal would be a setting that says *"Your Zulip identity exactly eq

[2020-07-17 17:22] octogonz commented on #10711
I'm trying to migrate an open source project from Gitter to Zulip and we have this same concern.  On GitHub people's aliases are the primary way that you remember them.  Gitter always shows the alias next to the person's name:

![Capture](https://user-images.githubusercontent.com/4673363/87813604-14622200-c817-11ea-86fc-1c5ed594b7fd.png)

For privacy reasons, many people don't want to specify thei

[2020-07-17 17:27] Gittenburg commented on #15688
But you also don't want an attacker to be able to impersonate the CEO just because they gained access to an employee's account.

[2020-07-17 17:49] octogonz opened #15840 "Impersonation of other users with EMAIL_ADDRESS_VISIBILITY_ADMINS"
**Repro steps**
1. Create a public Zulip organization, in my case for an open source organization
2. Allow users to join without an invitation
3. Enable Github/Twitter profile fields

**Expected:** Some kind of validation to prevent trolls from impersonating a real person.

**Actual:** Without any validation, I was able to create a fake troll account that shows the exact same information as my exi

[2020-07-17 17:49] YashRE42 commented on #15688
How about just having a `new member` UI label and #9172?

[2020-07-17 17:53] Gittenburg commented on #15688
That does not at all address the problem. Old accounts can still be hijacked. Impersonation can not only be used for spam but also for targeted social engineering e.g. spear phishing. A report spam feature does not help when the attacker sends you a PM.

[2020-07-17 18:00] YashRE42 commented on #15688
That's what I mean by "I guess that would be a bandage and not a cure".

The idea was that if new accounts were visually labeled as so, it would mitigate the problem, eg you get a PM from the CEO but the CEO 's name is followed by a "new account" label, that would be obviously suspicious.

But it wouldn't prevent the attacker from just waiting for the label to go away and then switching names (and

[2020-07-17 18:02] Gittenburg commented on #15840
The major problem are the display names, for which I already opened #15688.

All major platforms let users choose the same profile picture so I don't think we need to disallow that.

I also don't consider account validation for profile fields that important since many other major services don't have them. E.g. with GitHub you can enter any Twitter handle and it will be displayed on your profile. W

[2020-07-17 18:11] Gittenburg commented on #15688
Security issues need to be properly addressed otherwise a sophisticated attacker will always find a loophole.

[2020-07-17 18:36] hashirsarwar commented on #14188
Sure @orientor!

[2020-07-17 18:58] octogonz commented on #15840
I didn't mean to imply that we should solve this by validating/deduplicating every field.  Merely to illustrate the sort of attack that we are trying to prevent.

Gitter (which we're coming from) only allows authentication via Gitter, GitLab, or Twitter. Your profile is reused from that service. I don't believe it's even possible to make your name/photo different from the GitHub one.  Alias collis

[2020-07-17 19:04] timabbott commented on #15840
A few thoughts on this:
* This is only an issue with EMAIL_ADDRESS_VISIBILITY_ADMINS, since otherwise we display real email addresses which are hard to forge.  Of course most public communities where impersonation is a social problem use that setting, and we recommend doing so, but worth thinking about the scope.
* Previously I'd have thought about keybase.io as an option in this space; as it is,

[2020-07-17 19:52] timabbott opened #15844 "Create a directory of public communities on Zulip Cloud"
We've gotten a number of requests from folks who are interested in seeing a directory of public Zulip organizations.  I imagine the easiest version of this would have data on organizations on Zulip Cloud via a database, and we can later add a configuration file for recording self-hosted organizations (or maybe piggy-back on the push notifications service authentication) if desired.

There's two ma

[2020-07-17 20:06] octogonz commented on #15840
The design of Slack, and GitHub, and Twitter is that you have an "alias" with a constrained recognizable pattern (alphanumeric). When people post, the alias is displayed.  For Slack/GitHub the alias is your identity:

![Slack-Alias](https://user-images.githubusercontent.com/4673363/87825666-5c3f7400-c82c-11ea-91ad-ad3c48953afa.png)

For Twitter/Gitter, the display name and alias appear together:

[2020-07-17 20:08] timabbott commented on #14337
What does GitHub do?  Our email notifications are quite similar to GitHub's in structure and purpose and we can likely borrow their solution.

@mateuszmandera FYI.

[2020-07-17 20:09] octogonz commented on #15840
+1 My friend group stopped using Keybase after the acquisition. In the news, Zoom != security.

[2020-07-17 20:23] amanagr commented on #13172
@mateuszmandera and I have decided to work on this together!

[2020-07-17 21:28] camelid opened #15846 "Add API endpoint for renaming topics"
As far as I can tell, there's no way to rename a topic from the REST API.

[2020-07-17 23:21] Gittenburg commented on #15846
With https://zulip.com/api/update-message you can update the `topic` ... with the `propagate_mode` set to `change_all` you can update the topic of all messages in a topic.

[2020-07-17 23:21] #15846 closed

[2020-07-17 23:41] camelid commented on #15846
Great, thanks!

[2020-07-17 23:52] gnprice commented on #13728
These pieces are all done now (from #13739, I believe), so I think for emoji typeahead the next steps are on the mobile side: zulip/zulip-mobile#3833.

Probably good for us to go and do that, for more practice doing this whole process end to end and to see if there's anything to adjust in it. But otherwise the next step on the webapp side is probably:

[2020-07-18 00:10] gnprice commented on #13728
There's also a piece of people typeahead which is in the shared package and ripe for the mobile app to start using as shared: zulip/zulip-mobile#3710

[2020-07-18 06:40] sahil9001 commented on #15833
@zulipbot claim

[2020-07-18 07:29] Gittenburg commented on #15632
Custom emojis that have since been removed should probably also have `(removed)` in the tooltip.

[2020-07-18 11:48] rhn commented on #14337
The email carrying the above message has the following:

[code]

The In-Reply-To seems to be the Message-Id of email with the issue itself. All following messages have that as their In-Reply-To.

I don't think this can be done in Zulip in the exact same way when Zulip is both allowed to send multiple messages in the same email, and send the same message in multiple emails. There needs to be exactl

[2020-07-18 14:34] thedeveloperr commented on #1587
@zulipbot claim Still working on it

[2020-07-18 16:48] schroef commented on #14449
Just noticed the logo has been redesign but the main theme color is still Green. Kind of weird to do this in parts? This combo doesn't fit together nicely. I would opt for a gray theme with blue primary and greys as secondary colors.

![Screen Shot 2020-07-18 at 12 47 53 PM](https://user-images.githubusercontent.com/6923008/87857472-ee12b400-c8f4-11ea-97c7-f5353c061865.png)

[2020-07-18 16:55] schroef commented on #14449
Perhaps more cooler, i noticed the colors in the blue hue but feel green. Not sure why or what is causing that.
I did a little test with some tweaks to match the tints of the logo a but better. Perhaps more neutral colors would be end nicer.

Its just an idea!!
![Screen Shot 2020-07-18 at 12 53 11 PM](https://user-images.githubusercontent.com/6923008/87857587-e3a4ea00-c8f5-11ea-8967-08add448c696.p

[2020-07-18 18:22] Gittenburg opened #15849 "Keyboard shortcuts stop working in Firefox after closing private message compose with Escape"
1. Open the private message compose box by clicking `New private message` or by pressing `x`.
2. Close the compose box by pressing `Escape`.
3. All keyboard shortcuts don't work anymore until you click somewhere.

This apparently only happens with Firefox ... it doesn't happen with Chromium.

[2020-07-18 20:09] adithyay328 commented on #15384
Still working on this. Close to done.

[2020-07-18 20:42] holtzermann17 opened #15851 "feature request: "Community Wiki" posts"
Stack Overflow gives users the ability to flag an answer as "Community Wiki", which means that anyone can edit it.

This would be a useful option to add inside of Zulip, so that we could create posts that are editable by others.

Related requests:
- #4080
- #9278
- #29821
- #25957
- #18926

[2020-07-19 00:01] devZer0 commented on #15310
when creating a new stream in mobile web view on iphone, the button on the upper right is invisible, too.  looks pretty broken.

[2020-07-19 00:09] devZer0 commented on #7824
related:  https://github.com/zulip/zulip/issues/15310

[2020-07-19 05:16] deependhulla commented on #3618
Totally agree @mjmunger , this read receipt need to be optional, & its organisation owner plans it to be always ON/optional/OFF

[2020-07-19 05:25] deependhulla commented on #3618
First points is great and it would be like starting point for this feature is available in some format.

[2020-07-20 05:35] AT1452 commented on #15375
@zulipbot claim

[2020-07-20 07:25] andreasoc commented on #3618
would be the top @timabbott

[2020-07-20 07:40] sahil839 commented on #15836
@zulipbot claim.

[2020-07-20 11:32] EugeneGreenbeans commented on #14424
Have the same misunderstanding. Especially with Azure. They have names like 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname' and this you have to put on the RIGHT side. Just in case some one will come here
      "attr_user_permanent_id": "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/userprincipalname",
        "attr_first_name": "http://schemas.xmlsoap.org/ws/2005/05/iden

[2020-07-20 11:35] EugeneGreenbeans commented on #14424
And Yes SAML Works I have a proven example.
@timabbott btw how can I do a small commit I think I found a typo in settings.

[2020-07-20 17:09] hashirsarwar commented on #13766
@zulipbot claim

[2020-07-20 17:57] #15833 closed

[2020-07-20 17:57] timabbott commented on #15833
@Guetrazik resolved; I expect Transifex will download the new email the next time we sync data from Transifex.  Thanks for contributing to translations!

[2020-07-20 19:59] trisk commented on #11154
I was looking for a way to preserve the messages in a topic that was no longer needed without leaving it to clutter up its stream; in leiu of this feature I created an "archived" stream to move topics to.

[2020-07-20 21:36] timabbott commented on #14449
@schroef thanks for the suggestions!  I think it'd be best if you posted in #design in chat.zulip.org to get more visibility and discussion around your ideas.

[2020-07-20 21:40] schroef commented on #14449
I tried searching for logo and didn't find anything. So I went to twitter. I'll check that hashtag. Thanks

[2020-07-20 23:02] timabbott commented on #14424
@EugeneGreenbeans if it's small, simplest is the pencil icon in the upper-right of https://github.com/zulip/zulip/blob/master/zproject/prod_settings_template.py

[2020-07-20 23:02] timabbott commented on #14424
@mateuszmandera given that multiple folks have been confused about the two sides here, I wonder if there's something we can tweak in the documentation to explain how to do these examples?

[2020-07-20 23:03] timabbott commented on #14424
@ChrisRFK would you be up for pasting the configuration you used?  I imagine we can take things from there.

[2020-07-21 00:40] devZer0 opened #15860 "cannot delete posting in mobile web view on iphone"
on my iphone Xs, i cannot delete a message in mobile web view, neither in safari, nor in firefox. it happens with iOS 13.5.1 and also after update to 13.6.

If i choose delete, the screen turns dark, the deletion confirmation dialoge is greyed , too - and when choosing "yes delete this message", nothing happens - the browser just returns to the previous screen and the message which i wanted to del

[2020-07-21 04:01] AT1452 commented on #15375
@zulipbot abandon

[2020-07-21 07:59] sasithav opened #15861 "Enabling the dev environment"
How can I enable the dev environment of Zulip server. I have used ubuntu 18.04 and installed from the digital ocean market place.

[2020-07-21 11:20] tobiasjj opened #15864 "Error in email_mirror - _UnstructuredHeader has no attribute addresses"
Since updating to Zulip 3.0 emails fetched by the email_mirror setup are not processed properly any more. The following error occurs:

[code]
The issue (in my case) is caused by an email with the header `Delivered-To`, which belongs to the type `'email.headerregistry._UnstructuredHeader'`. Probably one should test for the type of the class returned by the function `message.get_all(header_name, [])

[2020-07-21 12:21] Gittenburg commented on #15860
Closing as a duplicate of #15310, feel free to expand the issue description there.

[2020-07-21 12:21] #15860 closed

[2020-07-21 12:24] devZer0 commented on #15860
wouldn't it be better to have separate tickets for separate issues? in #15310 i reported two issues in one, instead of closing this i would prefer to remove this from the original report (and leave only the button issue there)

[2020-07-21 12:27] Gittenburg commented on #15860
I assume the different invisible inputs on iOS to be caused by the same problem, so it I think it makes sense to track them together and fix them together.

[2020-07-21 12:28] devZer0 commented on #15860
ok!

[2020-07-21 13:03] ChrisRFK commented on #14424
Sorry, but i had no time for making such a document.

1. First you need to make a Relying Party Trust on ADFS Server. Here're the steps from wizard:
https://imgur.com/a/I5G7UF6

2. Next you need to make claim rule:
https://imgur.com/a/c6KNp58

3. I dont know if its necessary, but I've used this command in PowerShell
Set-AdfsRelyingPartyTrust -TargetName Zulip -samlResponseSignature MessageAndAsser

[2020-07-21 15:44] munircontractor opened #15865 "Add horizontal scroll bars for table on overflow"
Currently, if the table text overflows due to too many columns, there is no way to scroll horizontally to see the whole table. The text is rendered properly since it can be selected and copied

Here's a markdown snippet that you can use to reproduce the issue.

[code]

When pasted in a Zulip chat, it renders as below, with no way to scroll horizontally. I'm running Zulip in Firefox 78.0.2 on Linux

[2020-07-21 16:49] Gittenburg commented on #15865
Applying `overflow-x: auto` to the whole message would be undesirable when a message contains a long table and other content (in which case we only want the table to scroll horizontally without the other content).

So to fix this we need to update our server-side Markdown parser (`zerver.lib.markdown`) to wrap the `<table>` tag in div with a CSS class e.g. `table-overflow` that sets `overflow-x: a

[2020-07-21 17:43] Gittenburg opened #15866 "Cannot react with a custom emoji to a bot message"
Attempting to react to a bot message with a custom emoji appears to work but if you refresh the page it's gone. Inspecting the network requests reveals that the request to add the reaction fails with a 400 Bad Request error `Reaction doesn't exist.`.

This can be easily reproduced with the Notification Bot. Note that the `zulip` reaction works since it's not really a custom emoji, but you can repr

[2020-07-21 19:08] #15849 closed

[2020-07-21 19:43] timabbott commented on #15864
Tagging as a priority since all backend exceptions are.

[2020-07-21 22:32] Gittenburg commented on #12588
Closing as a duplicate of #4627.

[2020-07-21 22:32] #12588 closed

[2020-07-21 22:44] timabbott commented on #15866
I think the key detail here is not that it's a bot message, but that it's a Notification bot message (i.e. we're dealing with a cross-realm user).  We're incorrectly using `message.sender.realm` here rather than `user_profile.realm`, I think:

[code]

Longer-term, we will probably want to denormalize `Message.realm` and use that for queries like this.

@mateuszmandera would you be interested in wo

[2020-07-21 22:45] timabbott commented on #15866
Tagging as a priority since this is a correctness issue.

[2020-07-21 23:02] timabbott commented on #15865
We could also do this adjustment in `static/js/rendered_markdown.js` rather than the backend.

[2020-07-21 23:13] andersk commented on #15865
Does this need extra divs and classes, or does `.rendered_markdown table {display: block; overflow-x: auto}` suffice?

[2020-07-21 23:21] Gittenburg commented on #15865
Huh, that seems to do the trick in Firefox and Chrome, but setting the display of a table to `block` feels like a hack, I guess some browsers might do something weird with that.

[2020-07-21 23:29] elopez commented on #15864
I hit this issue today after upgrading our server to 3.0, and fixed it as in the PR above. Feel free to close it if you feel it's not a suitable solution :+1:

[2020-07-22 00:39] timabbott commented on #15770
OK, I believe I understand the bug here -- the problem is that:
* (1) We choose the first unread message for where to place users here.
* (2) Some users have leaked unread messages on deactivated streams, which we apparently don't exclude properly from these "what unread messages exist" queries.  Since the stream is deactivated, you can't mark the message as read, so it's just broken.

The fix is

[2020-07-22 00:43] timabbott commented on #5414
I think this was fixed as part of recent OpenAPI documentation work.

[2020-07-22 00:43] #5414 closed

[2020-07-22 00:46] timabbott commented on #13755
Closing as fixed by #15140.

[2020-07-22 00:46] #13755 closed

[2020-07-22 00:52] timabbott commented on #15844
Thinking about this a bit more, maybe let's do an IntegerField, in that we might have more complex preferences sites want to express in the future.
[code]

UI-wise, we'd have a dropdown on "Organization profile".  I'm not sure but perhaps at first it'd be only available to organizations that have `plan_type=STANDARD_FREE`?

[2020-07-22 07:03] majordwarf commented on #15818
@aero31aero How about we switch to single command which takes multiple arguments? `/theme (day/night/auto)`
This will reduce the necessity of multiple commands that targets a single use-case. Also, I don't see the use of button to in the popover we get later :thinking: We can just show that the theme is changed and you can change the theme again using the command or via the display settings?

[2020-07-22 08:05] anshgit101 commented on #15818
@majordwarf Yeah, seems like a nice idea!! Can work on it

[2020-07-22 08:46] dransome commented on #15682
In its current form, the `status message` feature is absolutely useless because:
 - you cannot see your own status easily (so often forget to update/reset it)
 - you cannot see others' statuses easily

Several of our team have taken to just permanently setting themselves as `unavailable` which is not nearly as informative as busy vs. vacation vs. meeting etc.

[2020-07-22 09:45] majordwarf commented on #15866
@timabbott So should a temporary fix be filed or wait for `message.realm` to be denormalized?

[2020-07-22 10:11] andreasoc commented on #15682
thank goodness we are not the only ones to say it !

[2020-07-22 10:23] dziebart opened #15873 "KeyError 'message_sender' while starting zulip_events_message_sender-{0,1,2,3}"
After upgrading our Zulip instance on Debian 10 Buster to 3.0, I've encountered two issues, which resulted in Zulip working but producing a high CPU load on every core. I then noticed, that zulip-thumbor and zulip-senders:zulip_events_message_sender-{0,1,2,3} were not running in supervisorctl.

Zulip-Thumbor failed to start with the following error:
[code]

I could mitigate these issues by just cr

[2020-07-22 10:38] dziebart commented on #15873
Seems that old supervisor configs are the issue here. There were some changes in the update to 3.0 that were overwritten by our config-deployment system. If someone else has these issues, check /etc/supervisor/ first.

[2020-07-22 10:38] #15873 closed

[2020-07-22 10:58] Debilski opened #15874 "feature request: Allow embedding/preview of short videos"
Feature request to improve on the UI/UX of uploaded (short) videos.

Currently, Zulip seems only to be able to display uploaded animated gifs inline with the post but this functionality won’t work for example with uploaded mp4 clips.
mp4 clips embedded with link syntax `[text](/user_uploads/...)` will only display as a link without any preview [*], whereas an uploaded gif will display inline with

[2020-07-22 11:16] Gittenburg commented on #15874
Closing as a duplicate of #9081.

[2020-07-22 11:16] #15874 closed

[2020-07-22 13:54] nanathlor opened #15877 "Upgrade to Zulip 3 "django.db.utils.OperationalError: FATAL: role "zulip" does not exist""
I've tried several times and even tried changing the order around but the Debian Stretch to Buster upgrade instructions don't work for me:
https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-debian-stretch-to-debian-buster

It is unclear when to upgrade Zulip to 3.0, is it after step 5?

Step 5: (rm -rf /srv/zulip-venv-cache/*
/home/zulip/deployments/current/scr

[2020-07-22 15:44] joaomcarvalho commented on #15709
@zulipbot claim

[2020-07-22 15:59] dransome commented on #15682
Returned here to say that our team are also using the `status message` feature to communicate their location (office, home etc.) which the set as `unavailable` indicator doesn't help with at all.

Hoping to see some improvements on this. Seems odd to have to push so much for features that were included in MSN and ICQ messengers 20+ years ago though!

[2020-07-22 16:04] realimpat opened #15878 "Missing Zoom video provider option"
Hi,

This is my first issue! Happy to contribute code as well, I work in django day-to-day.

I had a Zoom integration setup via API token for Zulip 2.*, and when upgrading to Zulip 3 last week, it went away. More of an issue is that the option to select Zoom is now gone. This is consistent across desktop and web interfaces for me.

The docs + release notes still indicate that there should be an op

[2020-07-22 16:16] Gittenburg commented on #15682
Could you guys share some screenshots showing how other apps do this better?

[2020-07-22 16:43] dransome commented on #15682
My examples were apps from years ago, so not very easy to screenshot now... but here's one contemporaneous example:

![image](https://user-images.githubusercontent.com/10818722/88204025-9badfc00-cc42-11ea-9e50-42915aff5010.png)

Whether or not Skype for Business qualifies as "better" is open to debate, but it at least shows how they tackle this and are providing a lot more "status information".

[2020-07-22 16:57] dransome commented on #15682
![image](https://user-images.githubusercontent.com/10818722/88204582-635aed80-cc43-11ea-9a94-f92b03bd994d.png)
![image](https://user-images.githubusercontent.com/10818722/88204801-bd5bb300-cc43-11ea-9fc1-d6459e58fb52.png)

ICQ had lots of status icons like this:
![image](https://user-images.githubusercontent.com/10818722/88204881-db291800-cc43-11ea-94c7-678c9d2bc330.png)

Which showed in the conta

[2020-07-22 18:18] chdinesh1089 commented on #14168
Can we close this?

[2020-07-22 19:11] #15864 closed

[2020-07-22 23:22] timabbott commented on #14168
Yes, closed, thanks for the reminder (and all the work on this feature) @chdinesh1089!

[2020-07-22 23:22] #14168 closed

[2020-07-22 23:25] timabbott commented on #15878
@realimpat the Zoom integration in Zulip 2.x was flawed (you could only have one meeting open at a time), and so we replaced it with an OAuth integration.  That new system requires a different configuration workflow:
https://zulip.readthedocs.io/en/latest/production/zoom-configuration.html

The same is true for Big Blue Button.  We will want to do something to make it clear other options can be co

[2020-07-22 23:35] timabbott commented on #15877
Thanks for the report @nanathlor!  I can confirm the documentation wasn't updated properly; the `audit-fts-indexes` option is only available in Zulip 3.0.  You can just leave off that option to complete Step 5, and then upgrade to Zulip 3.0, and then rerun Step 5 (with that option).

You don't need to run `upgrade-postgres`; the instructions in Step 4 do the same thing as `upgrade-postgres` (which

[2020-07-22 23:37] timabbott commented on #15877
Maybe the simplest documentation change is to just add an "Upgrade to Zulip 3.0" step 6 and then a `manage.py audit_fts_indexes` step 7?  I think that would make the documentation correct and address both issues here.

[2020-07-22 23:38] timabbott commented on #15810
Sure!

[2020-07-22 23:53] timabbott commented on #15873
Thanks for the follow-up.  We generally recommend that config-deployment systems just manage `/etc/zulip/zulip.conf` and then let `zulip-puppet-apply` implement that configuration in order to avoid problems like this when upgrading.

[2020-07-23 00:34] timabbott commented on #15866
There's a quick temporary fix we can do involving `user_profile.realm`, as mentioned above.

[2020-07-23 00:38] timabbott commented on #15301
The last billing bit was resolved via cb01a7f599ac7feb32eaebc0cbf31e752d920e29.

[2020-07-23 00:38] #15301 closed

[2020-07-23 00:39] timabbott commented on #15819
@andersk want to try switching this as a background project?

[2020-07-23 01:07] clarammdantas commented on #15810
@zulipbot claim

[2020-07-23 01:32] alexmv commented on #15877
That's not quite sufficient, since "Same as Bionic to Focal" as step 5 of Stretch -> Buster means running `upgrade-zulip-stage-2 ... --audit-fts-indexes` which won't work.

I think we need to just copy/paste step 5 of Bionic -> Focal, but without the `--audit-fts-indexes` to all of the upgrade steps which are for Zulip < 3.

----

Changing the the Xenial -> Bionic and Stretch -> Buster upgrades to

[2020-07-23 01:58] realimpat commented on #15878
@timabbott thanks. I would be happy to try to update the UI info if helpful.

[2020-07-23 07:01] andreasoc commented on #15682
this is history of chat :)
I believe it is inevitable to make this change, otherwise the state as it is done is useless.

[2020-07-23 07:31] Gittenburg commented on #15682
@andreasoc Please don't unnecessarily bump issues.

[2020-07-23 07:34] andreasoc commented on #15682
sorry? i don't understand

[2020-07-23 07:42] Gittenburg commented on #15682
Commenting on an issue notifies everybody subscribed to the issue, so you should only do so if you have new information to add. If you want to show your agreement with another comment, just upvote it, there is no need for a comment. For more casual conversations we have [CZO](https://chat.zulip.org/).

[2020-07-23 07:55] chdinesh1089 opened #15890 "Uploading image while editing message opens stream message compose."
![edit_message](https://user-images.githubusercontent.com/44665669/88263566-dddd4900-cce7-11ea-9169-73a5b48a1813.gif)

[2020-07-23 08:35] raLaaaa commented on #10862
I completly agree with that. Could anyone explain why we can only move topics to public streams? I'm not sure if it is always a good solution how ever I think we should at least have the possibility to do so.

[2020-07-23 10:10] mdjunaid09 commented on #15877
Good

[2020-07-23 11:40] showell opened #15893 "Clean up realm_bot delete/remove events"
We send two events related to bots that should possibly be consolidated, where one has type/of realm_bot/delete and the other has type of realm_bot/remove.  More context here:

https://github.com/zulip/zulip/pull/15714#issuecomment-662752231

We should try to either consolidate the events or make the names less confusing.  We'll want to be careful about considering backward compatibility.

This wo

[2020-07-23 11:55] pateldhwani01 commented on #4240
@zulipbot claim

[2020-07-23 15:03] realimpat commented on #15878
Maybe instead of a drop down, the ui would work better as a group of
buttons to toggle, where clicking on the other video providers opens a link
to the docs. The drop down implies that it can be configured within the
settings pane

On Wed, Jul 22, 2020 at 7:25 PM Tim Abbott <notifications@github.com> wrote:

--
sent from phone, please excuse tone

[2020-07-23 16:36] swallitsch commented on #13658
I think this issue might be relevant for private messages as well. We're getting the same error, `BAD_REQUEST 400`, although the message is correct and we're trying to edit a PM the bot sent.

We're attempting a patch to `https://{server}/api/v1/messages/{message_id}` with the correct auth and a data payload of `{"content": "Hello world"}`. If you don't believe this error is related, I'll create a

[2020-07-23 18:29] #15890 closed

[2020-07-23 20:09] #12369 closed

[2020-07-23 20:17] Gittenburg opened #15897 "Compose box does not update placeholder when changing recipients"
![placeholder](https://user-images.githubusercontent.com/47354597/88334546-3cc7b000-cd32-11ea-9be2-67bd02f9365b.gif)
![placeholder2](https://user-images.githubusercontent.com/47354597/88334555-40f3cd80-cd32-11ea-9937-8f9d95ff927d.gif)

[2020-07-24 02:31] pohutukawa opened #15901 "manage.py stream_stats crashes with a ValueError"
We have started with Zulip earlier this year with a data export from Slack in the migration. I suspect something may have created some inconsistencies in the data/state on the import at that time. I've had problems with creating a data export (this has resolved with the upgrade to the Zulip server v3.0 this week), and upgrades to a release did not work after an upgrade to the Git master branch usi

[2020-07-24 08:53] codebit-de opened #15904 "SAML: First call of /complete/saml/ fails, settings missing?"
With the new Version 3.0 the first call of /complete/saml/ (callback from IDP) fails with the following error. It seems that OneLogin_Saml2_Response is called with a empty Settings-Object. But when i call "Login" again everything is working fine.

**ERROR**
2020-07-24 08:35:03.823 ERR  [django.request] Internal Server Error: /complete/saml/
Traceback (most recent call last):
  File "/srv/zulip-ven

[2020-07-24 11:53] hardikkat24 commented on #15208
@zulipbot abandon

[2020-07-24 11:54] hardikkat24 commented on #15208
I will not be able to do this due to some issues in my Ubuntu.

[2020-07-24 13:09] sahil839 opened #15905 "navbar: Typeahead does not close unless we select an option from it."
Typeahead in the navbar does not close unless an option is selected from typeahead itself.

Steps to reproduce-
1. Click on the navbar. Typeahead opens on clicking.
2. Click on the close icon on the navbar or anywhere outside like on a message or sidebars. The typeahead does not close by clicking on any of them.

The correct behaviour should be that the typeahead should close when we click on the

[2020-07-24 14:31] sumanthvrao commented on #15410
@zulipbot claim

[2020-07-24 14:35] Gittenburg opened #15907 "compose: Typeaheads don't close when closing compose box."
![compose_popover_closing](https://user-images.githubusercontent.com/47354597/88402560-94662a00-cdcb-11ea-999d-1113f73480d9.gif)

[2020-07-24 14:39] Gittenburg commented on #15905
Apparently the same happens in the compose box; reported as #15907.

[2020-07-24 15:48] Gittenburg opened #15909 "compose: Pasting text longer than maxlength cuts it off without warning."
To reproduce this copy the following two lines and paste them in the textarea of the compose box.

[code]

To fix this we need to increase the `maxlength` of the textarea to be greater than 10000 and check with JavaScript on submit if `value.length > 10000`, in which case we should display a warning to the user.

[2020-07-24 15:55] Gittenburg opened #15910 "compose: Message control buttons are unaccessible."
* The message control buttons should be focusable with Tab and clickable with Enter.
* The message control buttons should have `role=button`.

[2020-07-24 17:01] timabbott commented on #15905
I think this is a regression in the recent jQuery migrations (specifically I suspect0f76e989636e42895d74d1490a9841e877d75bc3); @andersk FYI.

[2020-07-24 17:20] jamieolmsted opened #15912 "Getting "Unable to connect to Zulip. Updates may be delayed. Retrying soon..." every few minutes after Zulip 3.0 upgrade"
Hello,

On our Zulip install (originally running on Debian Stretch upgraded to Debian Buster via the Zulip upgrade instructions) after running the 3.0 update I am continually getting the "Unable to connect to Zulip. Updates may be delayed. Retrying soon... Try now." message at the top of the Web interface and  the MacOS and Windows client. Both clients are version 5.4.0. If I click "Try Now" or "R

[2020-07-24 17:44] timabbott commented on #15912
Can you try going through https://zulip.readthedocs.io/en/latest/production/troubleshooting.html#troubleshooting-and-monitoring?

That sounds to me like your Tornado service isn't running properly.

[2020-07-24 17:51] jamieolmsted commented on #15912
Thank you for the link! Going through that I get the following...

Output of sypervisorctl status:
`process-fts-updates                                             RUNNING   pid 785, uptime 0:00:00
zulip-django                                                    RUNNING   pid 783, uptime 0:00:00
zulip-tornado                                                   RUNNING   pid 784, uptime 0:00:00
zulip-

[2020-07-24 17:55] jamieolmsted commented on #15912
running `supervisorctl restart all` seems to have made it happy... the uptime isn't sitting at 0:00:00 every time I run `supervisorctl status` now. Very strange as I had restarted the server twice since the problem started.

[2020-07-24 18:04] timabbott commented on #15909
I think the best practice for this sort of thing is to display the warning as long as the length is longer than the limit.

[2020-07-24 18:29] timabbott commented on #15901
This was indeed a minor data inconsistency caused by Slack import of "archived channels" in Slack, now fixed.

Generally master is ahead of the latest release at any time, so this is expected -- what you were trying to do here is actually a downgrade, which is generally not supported.  https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-to-master may be helpful.

AFA

[2020-07-24 19:17] tslug commented on #12611
I could really use this.  We adopted Zulip as our company chat client, and I can't read the code people are posting.  I would rather not use the website version.

[2020-07-24 19:36] timabbott commented on #14808
@arpit551 I did an audit by searching for `.save()` in `zerver/lib/actions.py` and I think there's several more to update:
* `do_change_stream_invite_only`
* `do_change_stream_web_public`
* `do_change_stream_post_policy`
* `do_change_stream_description`
* `do_change_stream_message_retention_days`

We might want to look at refactoring some of these to use a `Stream.property_types` type framework.

[2020-07-24 20:09] timabbott commented on #12611
@tslug as noted above, you can use the browser/desktop app zoom feature to change the font size.  Have you tried that?

[2020-07-24 20:11] #15866 closed

[2020-07-24 20:42] ftribrunn opened #15919 "exception while upgrading to zulip-from-git 2.1.x"
hi. trying to upgrade
/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 2.1.x
to go from debian Stretch to Debian Buster
but getting an error:

[code]

can anyone help me with this? thx

[2020-07-24 22:30] timabbott commented on #15919
This was caused by starting from a commit in `master` that contains substantial development not in 2.1.x; see https://chat.zulip.org/#narrow/stream/31-production-help/topic/upgrade/near/953724.

[2020-07-24 22:30] #15919 closed

[2020-07-25 00:17] timabbott commented on #14337
There is no special "First message in thread" concept in Zulip at present, and I'd prefer not to add one just for this.  I don't think that's required for email clients to thread properly, as they need to handle the case that they didn't receive the very first message in a mailing list thread anyway.

We can probably encode the thread (i.e. stream ID and topic or similar) the same way we do for pe

[2020-07-25 00:32] timabbott commented on #15912
Great.  Those errors look to be the result of being unable to connect to the database, which would be consistent with Tornado not having restarted since the database upgrade and thus being offline, which will break the system in a way consistent with what you describe.  I'd expect the system to be stable now that those are resolved.  Glad to hear our troubleshooting docs were helpful!

[2020-07-25 00:32] #15912 closed

[2020-07-25 01:43] pohutukawa commented on #15901
Thanks @timabbott for the elaborations on the notes I had put in as context. Really helpful!

As for the `stream_stats` tool ... I've never needed it, but it was one of the tools that had shown an error when I was trying to debug previous problems. You know ... poking in the dark, trying to gain additional insights, as things seemed to be related to some streams. I've had one stream ID cough up on

[2020-07-25 04:31] Gittenburg commented on #9143
I added the labels in 2922e2cbb1aa7da9d879740e7b461ac67a734ce5. Leaving this open since they still need to be converted to `<button>`s.

[2020-07-25 15:55] showell commented on #15826
My vote is to go back to focusing the search box.  It definitely felt like a regression to me.

[2020-07-26 22:48] #15904 closed

[2020-07-26 22:50] timabbott commented on #15904
@codebit-de thanks for the report!  We've fixed this and backported the change to the `3.x` branch -- can you confirm that after `upgrade-zulip-from-git 3.x` this problem is resolved for you?

(I expect it'll be in the 3.1 release if we can confirm the fix).  Thanks!

[2020-07-27 08:35] ross-sysadm opened #15935 "Auth via ldap No such object"
Hi all.
So i have problems.
I try check conection to ldap via:
su zulip -c '/home/zulip/deployments/current/manage.py query_ldap zuliptest1'
and have the next result:
2020-07-27 08:05:40.490 ERR  [django_auth_ldap] search_s('cn=DigitalPlatformReader,ou=systemUsers,dc=avo,dc=ru', 2, '(mail=zuliptest1)') raised NO_SUCH_OBJECT({'desc': 'No such object'},)
2020-07-27 08:05:40.490 DEBG [django_auth_lda

[2020-07-27 10:44] codebit-de commented on #15904
Perfect. The fix works fine 👍 Thank you

[2020-07-27 11:42] hashirsarwar commented on #15907
@zulipbot claim

[2020-07-27 12:54] vinitS101 commented on #15897
@zulipbot claim

[2020-07-27 14:29] vinitS101 commented on #15897
Pushed #15937 for this. Thanks for reporting this, @Gittenburg.

[2020-07-27 17:14] borekon opened #15939 "Mail polling is not working"
Hi,
I've configured all the polling mechanism as described on readthedocs and everything is working fine. Or almost everything.
When zulip connects to the IMAP account, it does nothing: don't put the messages in the streams, don't mark them as read or delete them.
Looking at postfix log, the login is successful. So i don't know if it's a bug or a missconfiguration.

[2020-07-27 18:13] timabbott commented on #15939
@borekon I'd recommend doing a bit of print-debugging in `zerver/management/commands/email_mirror.py`, which is the tool that tuns for you.  It's possible you haven't configured the right `EMAIL_GATEWAY_IMAP_FOLDER` or similar.

[2020-07-27 18:25] borekon commented on #15939
ok, i got the error:
[code]

[2020-07-27 18:32] borekon commented on #15939
related #15869

[2020-07-27 18:36] #15939 closed

[2020-07-27 18:59] timabbott commented on #15904
Awesome, thanks for the confirmation!

[2020-07-27 23:34] #15410 closed

[2020-07-28 00:04] timabbott commented on #14100
I think this is probably not longer advisable.

[2020-07-28 00:06] timabbott commented on #14100
@orientor I think at this point we should plan to open smaller issues for the remaining TODO list items for this and close this master tracking issue; thoughts?

[2020-07-28 00:28] Gittenburg opened #15946 "Overlays are inaccessible"
Easy:

- [ ] Use `role="dialog"`.
- [ ] Label them with `aria-label` or `aria-labelledby`.
- [ ] "Invite users" popup does not focus first element.

More difficult:

- [ ] Prevent `tab` and `shift + tab` from focusing elements in the background, i.e. the focus should wrap around.
- [ ] Closing the overlay should return the focus to the previously focused element.
  So e.g. opening the drafts with

[2020-07-28 00:52] #15905 closed

[2020-07-28 00:53] timabbott commented on #15907
This should have been closed in #15945.  @hashirsarwar FYI -- you need to put the "Fixes" before each issue ID you want GitHub to auto-close; it's parser is very simple.

[2020-07-28 00:53] #15907 closed

[2020-07-28 01:15] timabbott opened #15947 "Fix event queue internals fields being leaked to the API"
While working on #15899, we discovered that a few internal fields in the message event handling system are incorrectly being leaked to clients.  The details on the fields are here: dbde901684ae67eeed67de14ac699fb430082479.

What's going on is that we're somewhat sloppily attaching values to event objects in order to pass data around internal to `zerver/tornado/event_queue.py` logic -- but then not

[2020-07-28 01:20] rht commented on #9124
More discussion at https://chat.zulip.org/#narrow/stream/137-feedback/topic/Line.20spacing.20and.20font.20size.

[2020-07-28 01:31] Gittenburg opened #15948 "Documentation accessibility"
This issue is about both the user documentation (`/help`) and the API documentation (`/api`).

Easy (good first issues):

* [ ] Make contrasts meet the WCAG standard (see the Accessibility tab in the browser developer console).
* [ ] Add a ["Skip navigation" link](https://webaim.org/techniques/skipnav/).
* [x] Images should have alt tags (`git grep '!\[]' templates/zerver/*/*.md`). **in progress**

[2020-07-28 01:54] esamson opened #15951 "Use GitLab merge request ID as topic name"
When GitLab webhook is set up, each merge request notification gets its own topic. However, this includes the MR title in the topic name.

It would be nice to have an option to only set the topic name using the merge request ID (e.g. `proj / MR #234`) so that it is stable and MR messages stay together even if the MR title is modified.

[2020-07-28 03:19] Hypro999 commented on #15951
@zulipbot claim

[2020-07-28 17:13] orientor commented on #14100
@timabbott Yes at this point we only have three main issues left:
1. Better styling for the OpenAPI docs.
2. Showing deprecated status for responses.
3. Documentation of the OpenAPI automated testing system.
It makes sense to open separate issues for them as they are pretty independent of each other and grouping them is not going to be of any major help.

[2020-07-28 17:30] Lithimlin commented on #14499
I've been looking through the pull requests a bit.
How far is the implementation of this feature? Especially 1) would be very helpful for a workflow we're trying to build up right now.

To give a bit of feedback on the ideas: I think the newest idea (by tim) summarizes this the best: Tombstones should be optional and having them say "from/to a private stream" seems like a good idea to prevent the

[2020-07-28 18:25] Gittenburg opened #15957 "Support running Puppeteer tests non-headless with backend in vagrant"
Running the Puppeteer tests in non-headless mode would be very useful for debugging test failures (because you can see what's happening). Vagrant does not support GUI, so we should provide an easy way to run the puppeteer tests in the host os and the backend in vagrant.

* [ ] With our current Vagrant setup `node_modules` is a broken symlink in the host OS. We should somehow move `node_modules` el

[2020-07-28 18:27] timabbott commented on #15948
For the sidebar, I'd prefer to copy the /api approach of having the sidebar be always expanded.  Those sliding widgets are bad UI in general.

[2020-07-28 19:01] timabbott commented on #14499
This issue is a bit out of date; we've already implemented making the tombstones optional in the 3.0 release.  Though we haven't added the "to a private stream" text change.

The much more complicated issue involves UserMessage objects (which track which users actually received the message, and is used in private streams without shared history to determine which users should have access to which m

[2020-07-28 21:27] Gittenburg opened #15962 "Settings are inaccessible"
This issue is about the accessibility within the settings overlay (for the inaccessibility of overlays in general see #15946).
* [ ] The sidebar links and the Settings/Organization toggle button should be keyboard accessible (add `tabindex=0` and `role=button`) and if nessary an EventListener on `keydown` if `e.key === "Enter"` do `e.target.click()`.

* [ ] Both the sidebar links and the toggle bu

[2020-07-28 21:45] Gittenburg opened #15963 "Channel settings are inaccessible"
This issue is about the accessibility within the subscriptions overlay (for the inaccessibility of overlays in general see #15946).

* [ ] The stream-rows should be focusable, so add `tabindex="0"` and `role="button"`
* [ ] [Subscribed | All streams] should be [ARIA radiogroup](https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html).
* [ ] The stream sorter toggle

[2020-07-28 22:22] timabbott commented on #15948
For tabbed content, we at least use a single piece of code (`zerver/lib/markdown/tabbed_sections.py`) to generate those, so we likely need to just fix it there and it'll apply to all of those tabbed widgets.

[2020-07-28 22:56] Gittenburg commented on #15748
Closing in favor of the Accessibility board: https://github.com/orgs/zulip/projects/1

[2020-07-28 22:56] #15748 closed

[2020-07-28 23:05] timabbott opened #15964 "Avoid leaking huge amounts of disk in the yarn cache in old production servers"
On chat.zulip.org, `/home/zulip/.cache` is 7GB; some other users have reported sizes more like 2.6GB.  This is large compared to the rest of a Zulip installation, and probably deserves some attention.

The main cause of this is `yarn` caching; which sadly doesn't have any feature to auto-prune its caches.
[code]

There are 2 things we should do to fix this, both in `scripts/lib/clean-unused-caches

[2020-07-29 00:49] timabbott opened #15967 "Improve styling for HTTP response details"
There's a few pieces of data in the OpenAPI "Responses" data in `zerver/openapi/zulip.yaml` (displayed at /api) that aren't rendered at all:
* [x] Types -- we should say which fields are guaranteed to be an integer (for example) or have an `enum` list of values.
* [x] Deprecated status?  Though maybe our convention of explaining deprecations in the text is better, and we should just add an asserti

[2020-07-29 00:50] timabbott commented on #14100
OK those are #12571, #15967, a few other open issues, and can you open an issue for the "Deprecated" status work to the extent it is not covered by #15967?  Thanks @orientor!

[2020-07-29 00:50] #14100 closed

[2020-07-29 00:55] timabbott commented on #14188
https://github.com/zulip/zulip/pull/15899 and it's successors I expect to address the `/events` part of this, along with improvements to formatting (E.g. https://github.com/zulip/zulip/issues/15967).

Based on the progress so far, I feel good about @orientor being on track to finish this issue during the summer, which would be a huge milestone.

[2020-07-29 05:10] Gittenburg commented on #15750
@garg3133 GitHub interprets "Partially Fixes" in commit messages as just "Fixes", so if you don't want GitHub to close the issue you need to write something else, I usually do "Part of". I am reopening this since the use root domain / use subdomain UI can still be improved by using radio buttons, as I explained on CZO.

[2020-07-29 06:42] andreasoc commented on #15682
hi lads
can we try this solution that I proposed for a few days, only with the icon status,  and see how it goes? And if user goon hover, see the status..

[2020-07-29 07:26] mortenpi opened #15970 "Use 😛 as :P emoticon translation"
#15590 added the (optional) translation of `:P` to `:stuck_out_tongue:`. However, Zulip renders `:stuck_out_tongue:` as [`😝 U+1F61D`](https://emojipedia.org/squinting-face-with-tongue/), while I would expect `:P`/`:p` to render as [`😛 U+1F61B`](https://emojipedia.org/face-with-tongue/) (called `:mischievous:` in Zulip). `U+1F61B` is what gets rendered for `:P`/`:p` on any other platform I am on (e

[2020-07-29 11:31] dziebart opened #15973 "Add Logging Settings in /zulip/settings.py"
Zulip currently outputs most of its logs to /var/log/zulip/*. While generally this is sufficient, our servers do not save any logs locally and instead we forward them to rsyslog and upload them to a central logging server.

Currently, we solved this problem by changing appropriate parameters for zulip in /etc/supervisor/ and /etc/supervisor/conf.d/ (which resulted in problems after upgrading to Zu

[2020-07-29 18:18] #15970 closed

[2020-07-29 18:30] timabbott commented on #15973
I agree with the desire; the way I'd expect us to resolve this would be to offer a setting in `/etc/zulip/zulip.conf` to configure rsyslog.  Would you mind sharing the specific supervisord configuration changes you made?

@alexmv FYI, since you're likely going to be thinking about this issue soon for our own purposes.

(We should probably also invest in making a documentation page for `/etc/zulip/

[2020-07-29 18:49] orientor opened #15977 "Add `required` field to all data in `/events` OpenAPI response schema."
Currently some of the examples in the [/events API doc](https://zulip.com/api/get-events) are from older API feature levels and don't represent the current scenario of events. Also we have no mechanism to ensure the correctness of our current examples if API adds new features in the future.

One of the best possible methods is to add `required` fields to all data present in the API so that our exa

[2020-07-29 18:58] Lithimlin opened #15978 "Moving messages between streams using bots - missing permissions (Python)"
Hi, I'm trying to move messages using a bot which were not written by the bot to another stream.
However, when trying to update the message, I get the error "You don't have permission to move this message".

I have "Users can edit the topic of any message" checked in the settings and both the source and target streams are public.

The code I used was pretty straight forward for this:
[code]
The [d

[2020-07-29 21:20] dziebart commented on #15973
Certainly. Where it was possible (like in supervisord.conf, thumbor.conf, zulip.conf etc.) we removed entries related to the stdout_logfile, e.g.

[code]
and replaced them with

[code]
If we want to completely deactivate the logging for one module, we would set
[code]
Note, that this still resulted in the writing of some logs, particular at the time, when the Zulip instance is restarting. There ma

[2020-07-29 23:28] timabbott commented on #15978
You likely need to make your bot an organization administrator; only organization administrators can move topics between streams.  I think you can give a bot the administrator permission via the API.

See https://github.com/zulip/zulip/issues/14499 for discussion around relaxing those restrictions.

[2020-07-29 23:29] timabbott commented on #15978
@orientor I think there's a documentation bug here -- we should clearly explain on that page that the user must have permission to edit the message with a link https://zulipchat.com/help/configure-message-editing-and-deletion.

(And maybe also update that /help/ article to detail that only organization administrators can move topics between streams at present).

[2020-07-30 03:38] #15861 closed

[2020-07-30 06:00] Lithimlin commented on #15978
How do I make a bot administrator? I've tried to find such a setting in the organization settings, members or bots but couldn't find it.

[2020-07-30 14:48] joaomcarvalho commented on #15709
I'll abandon this issue to take a bug and fix it, then I'll be back to this one @zulipbot abandon

[2020-07-30 14:48] joaomcarvalho commented on #15909
@zulipbot claim

[2020-07-30 15:25] erlend-sh commented on #5803
We'd be happy to discuss how this might be implemented with the open source [MeiliSearch](https://github.com/meilisearch/MeiliSearch). The setup is effectively the same as Algolia except that the API is self-hosted, though we can also consider hosting it for you:

https://docs.meilisearch.com/resources/howtos/search_bar_for_docs.html

[2020-07-30 16:20] hashirsarwar commented on #14754
@zulipbot claim

[2020-07-30 16:28] MasonProtter opened #15983 "Selection interface for moving messages between topics"
Currently, the interface for moving messages between topics is a little clunky sometimes. It'd be nice if there was a GUI or other interface for batch selecting a list of messages to be moved to another topic rather than just "all messages", "this message", "messages below" and "messages above"

[2020-07-30 19:22] timabbott commented on #15973
Great, thanks!

[2020-07-30 19:25] timabbott opened #15985 "Track down duplicate send bug in the webapp"
We've had a couple reports in the last week of issues with duplicate message sends in the webapp, an issue we hadn't seen for a couple years before that (100% of duplicate sends reported had been from the mobile app).  So I think this is an important regression worth hard work trying to reproduce.

[2020-07-30 21:46] akashaviator commented on #13544
@zulipbot claim

[2020-07-30 22:14] timabbott commented on #13544
@akashaviator I don't think this issue is ready to work on -- we don't have a design for how it would work technically or agreement that we want to implement it in this form.

[2020-07-30 22:17] akashaviator commented on #13544
@timabbott Okay. Should I initiate a topic on czo regarding this ?

[2020-07-30 23:22] timabbott commented on #13544
I'd recommend finding something else to work on; I don't think this issue is likely to be ready for work until we've merged support for web-public streams.

[2020-07-31 00:57] timabbott commented on #15983
This would be nice to have, if we can figure out a reasonable way to do it.

[2020-07-31 09:25] akashaviator commented on #13544
@zulipbot abandon

[2020-07-31 11:15] SaschaMann opened #15992 "Posting and deleting a message in an old topic leaves the topic higher than it should be in the stream topic list"
If you post a message in a topic that's long been buried in the topic list to the left, and then delete your new message, the topic stays on top of the list, even if the latest message is months old.

[2020-07-31 12:26] Kha opened #15993 "Set sensible code font for Linux"
Code blocks currently use `font-family: Monaco,Menlo,Consolas,"Courier New",monospace;`. The first three are rather macOS/Windows specific, which leaves the hideous Courier New for standard Linux installations. GitHub for example uses `Liberation Mono`, which looks nice enough.

[2020-07-31 14:13] sumanthvrao commented on #15784
@zulipbot claim

[2020-07-31 16:11] hackerkid opened #15996 "Build a system to make sure that major contributors are linked to their GitHub profile in /team page"
We use https://api.github.com/repos/zulip/<repo_name>/contributors for fetching the data for populating /team page.

eg: https://api.github.com/repos/zulip/zulip/contributors

The API returns a list of contributors. Most of the contributors have the details of their GitHub account associated with them in repose. But some of them don't have it because the email they used for committing is no longer

[2020-07-31 17:34] #15951 closed

[2020-07-31 17:38] timabbott commented on #15996
An Action run weekly in CI makes sense to me.

[2020-07-31 18:05] timabbott opened #15997 "Add an organization setting to require stream descriptions"
Some organizations want to ensure that every stream has a description, and enforce that during stream creation.  This is a reasonable request, and I think we should add an organization setting to require that.

(We got a related request to require every stream by private; I'm not sure we want to add that, but maybe it's worth thinking about when building the feature as it'd be adjacent).

There's

[2020-07-31 19:48] andersk opened #15998 "“You subscribed to stream” marker is misordered with respect to date markers"
This view shows a “▾ TODAY” marker followed by a “You subscribed to stream backend” marker, making it appear as if I just subscribed to the stream today, which is not the case:

![Screenshot from 2020-07-31 12-45-19](https://user-images.githubusercontent.com/26471/89071529-ce837e80-d32b-11ea-8c58-8130795a58f6.png)

[2020-07-31 20:02] timabbott commented on #15998
Hmm, this is likely not simple to fix, in that putting it above that date bar would also be wrong.  One relevant detail is that we don't as a general rule have the data for what day you subscribed.

I suppose we could try to do something clever to merge the two hrules and have the "You subscribed" text be in the middle.

We've talked about changing the design for the date bars to have just "Today"

[2020-07-31 20:13] timabbott commented on #15992
This is a tricky issue; the problem is that we order things in the sidebars based on the latest message ID, but for performance reasons don't store every single message ID in every topic in the frontend.  As a result, when the latest message gets deleted, the frontend doesn't have an easy thing it can do to compute the second-latest message ID.

I had thought our solution was generally to just del

[2020-07-31 20:16] timabbott commented on #15978
I think you have to use https://zulipchat.com/api/update-user using the bot's user ID (obtainable using adjacent API endpoints).

We should probably document this, or better, just have a UI feature for it; I'll open a separate issue before we close this (which I expect we'll do via the documentation edit described above).

[2020-07-31 20:18] lmckenzi commented on #15997
An ideal might be "minimum description length" - default would be zero.  Organizations could then decide the minimum level of descriptiveness they want - whether just a word or two, or they're looking for several sentences.  As well, it would be good if the description was not allowed to be the same as the name (ignoring case), because I just *know* some folks will try to meet the need for a manda

[2020-07-31 20:34] sahil839 opened #15999 "Remove "Subscribe" button from trailing bookend and also change its content on live update on deactivating stream."
Steps to reproduce in dev env-
1. Login as Hamlet and unsubscribe from Denmark stream.
2. Narrow to Denmark stream.
3. Login as Iago in a different window and deactivate the Denmark stream.
4. Go to the window where hamlet is logged in. Subscribe button is still shown in the trailing bookend.

The "Subscribe" button in trailing bookend should be removed as the stream is deactivated.
Also the conte

[2020-08-01 00:16] timabbott commented on #15840
Just to clarify, Slack displays the `@tabbott` type alias in the same circumstances where Zulip displays email addresses today.  And Twitter and GitHub are a different context, where usernames are globally unique worldwide, vs. Zulip/Slack where they're local to the instance.  So I'm not convinced by the argument that Zulip should copy Gitter's conventions here (Gitter, since it had no separate de

[2020-08-01 05:07] amanagr commented on #15992
Yes, on it. @zulipbot claim

[2020-08-02 07:20] hmr-it-jr opened #16012 "15+ emails per day with title [Django] zulip: (451, b'4.3.0 pymilter: untrapped exception in pythonfilter')"
Hello,

we receive about 15 mails per day with this mail body:

[code]

What we've tried but didn't change anything:

- Upgrade vom Zulip 2.1.7 to 3.1

What is this causing and how can we stop it?

[2020-08-02 15:13] aero31aero opened #16013 "Allow using '%' character for linkifier urls."
https://chat.zulip.org/#narrow/stream/19-documentation/topic/linkifier/near/967173

We cannot use the % character in linkifier format strings currently. We should either document this or fix this.

Example: `https://trac.example.com/epic/%(num)s/hello%25world` is an invalid format string.

[2020-08-03 00:37] stone212 commented on #7330
@vaibhavrajsingh2001

For clarity for everyone: You have jitsi *meet*, not jitsi.

[2020-08-03 05:04] pablorq opened #16024 "Stream - Change stream permissions - No changes applied / Try again message button"
**Describe the bug**

On "Stream Settings"/"Change stream permissions" if you change "Who can post on the stream" instead of changing it the button "Save changes" turns into "Try again" but nothing is changed.

**To Reproduce**

- Create a new stream
- On "Stream Settings"/"Change stream permissions", change "Who can post on the stream" to "Only organization administrators can post"
- Click on "Sa

[2020-08-03 18:13] orientor opened #16017 "Clean up `update_message_flags` events."
All events related to `update_message_flags` use `operation` instead of `op`, the latter being the key used in ALL other events.So modify the `update_message_flags` events so that they also use `op`. Backward compatibility should be taken care of.

[2020-08-03 19:26] Mant1kor commented on #14565
You can use ISO 639 table with language native names, like https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2020-08-03 19:37] resynth1943 opened #16018 "Analytics"
Is there a reason as to why the [official website](https://zulipchat.com/) uses Google Analytics? Would you be open to move to a privacy-focused alternative?

I would love to recommend Zulip as a privacy-focused alternative to Slack, but am currently unable to. Fixing this would immensely increase the privacy of users who visit your site, without giving consent for Google Analytics.

Thanks!

[2020-08-03 19:41] yassinetouati commented on #10970
Hi
i need to add a guest to my organization and also to a special stream, i did it 👍
the problem is : the guest cant send messages to all users(members) of my organization !
can you please share if there is a special configuration to do for stopping permission to chat with other users, but only those in the same stream
Thank you so much 👍

[2020-08-03 19:44] Mant1kor opened #16019 "Dates in chat aren't tagged for translation"
I found chat and stats page dates aren't tagged for translation.
![зображення](https://user-images.githubusercontent.com/5281753/89220131-bafd3f80-d5d9-11ea-8d20-0be114f8e0c7.png)
![зображення](https://user-images.githubusercontent.com/5281753/89220197-d2d4c380-d5d9-11ea-9ce9-fefc4bc93582.png)

I think there should be some libs with already translated dates. Or just move the stings to Transifex.
A

[2020-08-03 19:44] timabbott commented on #16018
We're definitely open to an alternative; it's mostly a matter of doing the work to figure out which alternative to setup.  I'm partial to one of the options that one self-hosts.

(Just to be clear, it's only in use in logged-out pages.)

[2020-08-03 19:56] resynth1943 commented on #16018
Thanks for being so open! I would recommend [Freshlytics](https://freshlytics.gitbook.io/docs/), as that is FOSS and self-hosted. I have also heard good things from people that have used it, so it seems like a promising route to explore.

[2020-08-03 19:57] andersk opened #16021 "Migrate legacy Stripe Checkout to Stripe.js"
(From [#frontend](https://chat.zulip.org/#narrow/stream/6-frontend/topic/stripe/near/958591).) Apparently we’re using a legacy version of Stripe Checkout on the frontend and we should [migrate](https://stripe.com/docs/payments/checkout/migration) to the newer Stripe.js.

Cc @hackerkid who said he’d look into it.

[2020-08-03 20:00] TheEvilSkeleton commented on #16018
There is also [Matomo](http://matomo.org/), which is aimed to be a replacement to GA. Element (Riot.im) also uses Matomo!

[2020-08-03 20:05] resynth1943 commented on #16018
While I like Matomo, I am pretty sure Freshlytics is more lightweight, hence my recommendation.

[2020-08-03 20:14] hackerkid commented on #16021
I should be able to work on this next week. I don't think they would be dropping support for this soon. I have seen a bunch of products like Notion who are also using the legacy version.

[2020-08-03 20:35] #15344 closed

[2020-08-03 23:23] timabbott commented on #16019
The two libraries we use for dates in `static/js/timerender.js` both support specifying a locale; we should have them use the same locale we're using for translating the UI.
* XDate: https://gist.github.com/arshaw/1221376
* Moment: https://momentjs.com/docs/ (may require some webpack work)
* The /stats stuff might be plotly; or it might be our own code that isn't using the `timerender` library.

@

[2020-08-03 23:31] timabbott commented on #16012
I've never seen this exception before. The code path is Zulip trying to send outgoing email.

Googling, it looks like your email server is running https://pythonhosted.org/pymilter/ and that is throwing an exception (I.e. the bug is on the mail server side).  So I'm going to close this as likely not an issue with Zulip; let us know if you find anything suggesting Zulip could better handle this iss

[2020-08-03 23:31] #16012 closed

[2020-08-04 01:14] timabbott opened #16022 "message embeds: Fix nonstandard update_message event for message embeds"
In `do_update_embedded_data`, we generate a variant `update_message` event, which has not been properly maintained and doesn't actually match the normal format.  I fixed one issue in 00fd9afad5147beb373caf3410ddc34b0c68a83f; but we should figure out how to make this event actually match the format of a normal `update_message` event, and then update the `GET /events` documentation with clear advice

[2020-08-04 01:20] timabbott opened #16023 "`test_events` failures when an event format doesn't match the OpenAPI documentation are giant"
When one has a `test-backend test_events` failure for the new OpenAPI checking of `GET /events` event formats added in #16000, the error output ends up printing event piece of that endpoint's definition to the console, which is 1000s of lines of terminal scrollback.  We need to figure out a way to make the output usable (Potentially by passing options or doing data setup for the OpenAPI checker to

[2020-08-04 01:46] timabbott commented on #14188
The events part of this was completed via the portion of #16000 that was merged today.  I expect the `/register` part to be finished in a few days as well.

[2020-08-04 02:00] timabbott commented on #16024
Can you post a screenshot of the "Try again" button you're seeing?  I'm not sure what you're talking about.

[2020-08-04 02:01] timabbott commented on #16024
@sahil839 can you try reproducing?

[2020-08-04 02:02] timabbott commented on #16017
@neiljp @gnprice thoughts on changing this?  I think we'd probably have to go with sending `op` and `operation` with the latter being deprecated, and then slowly update clients with the usual API_FEATURE_LEVEL process.

[2020-08-04 04:34] pablorq commented on #16024
Stream / Change permissions:
![Zulip - Change permissions 01](https://user-images.githubusercontent.com/774839/89253284-7c3ca900-d61c-11ea-9b53-00173a9f5ac1.jpg)

Change to do:
![Zulip - Change permissions 02](https://user-images.githubusercontent.com/774839/89253287-7f379980-d61c-11ea-8ecb-939b4bb7e201.jpg)

Try again, after click on "Save changes" button:
![Zulip - Change permissions 03](https:/

[2020-08-04 05:20] ssachan commented on #5296
Looking for this.
Thanks

[2020-08-04 05:47] neiljp commented on #16017
That seems reasonable to me :+1: ZT moved to a unified `TypedDict` for `Event`s some time ago (though python 3.6 will make this easier & better), and seeing `op` and `operation` was something I remember noticing then.

[2020-08-04 09:36] sahil839 commented on #16024
@timabbott Yes I can reproduce this when the realm is on limited plan. I will fix this.

[2020-08-04 11:43] amanagr commented on #16022
So, If I understand correctly, this event doesn't belong in the edit history but is an `update_message` event. If there are other events like these we can definitely club them and create a new event for them.

This is also related to a case with topic edits for messages, where only one messages among all those that are moved receives an "EDITED" tag. I remember you telling me mark all of them as "

[2020-08-04 12:12] vinitS101 commented on #16019
@zulipbot claim

[2020-08-04 14:20] sahil839 opened #16026 "Fix live-update of streams sidebar after renaming a stream."
The stream row in streams sidebar in left is not updated after renaming a stream.
This also leads to another bug where the unread messages count in the stream is also not updated by clicking on `Mark all messages as Read` option in the stream popover while the unread messages count in `All messages` is updated.

There is some discussion [here](https://chat.zulip.org/#narrow/stream/6-frontend/topic

[2020-08-04 15:50] SaschaMann opened #16028 "Button to DM Bot owner directly"
If you click on a bot, it'll show its owner. If you click on the name, it shows a profile. It would be quite convenient to have a button in the profile to DM the owner instead of having to search for the name manually.

[2020-08-04 16:36] aero31aero opened #16029 "Render dynamic elements in message edit history view and drafts."
This probably isn't as straightforward as just calling rendered_markdown.js; we might want to preserve the old user names or stream names that the user had typed so the history remains accurate.

At the very least, we should render the spoiler syntax properly while keeping this issue open for other elements.

[2020-08-04 17:16] timabbott opened #16030 "Upgrade Zulip to Django 3.1"
Django 3.1 was released today: https://docs.djangoproject.com/en/3.1/releases/3.1/

For its [support window](https://www.djangoproject.com/download/): Django 3.1 reaches EOL in April 2021, which is when Django 3.2 comes out.  But 3.1 has "extended support" (security and data loss fixed) until December 2021).  The 2.1 EOL is early 2022, not much later; so in conclusion, I think Django's deprecation

[2020-08-04 17:18] gr455 commented on #15948
I would like to work on the issue ` Images should have alt tags (git grep '!\[]' templates/zerver/*/*.md).`

[2020-08-04 17:42] timabbott opened #16031 "Take advantage of new features of Django 3.0 and 3.1 once we upgrade"
This issue tracks things we can do once we've upgraded to Django 3.1 (https://github.com/zulip/zulip/issues/16030) to make Zulip better.  This is analogous to the older issue https://github.com/zulip/zulip/issues/11341 for the 2.1 upgrade:

* [ ] Investigate using the new asynchronous support for queue processors that do things like sending email, or for Tornado (3.1)
* [ ] Look into using `AddInd

[2020-08-04 18:20] hmr-it-jr commented on #16012
Thank you @timabbott  - I did some more investigation on mail server log and the error there was:

[code]

It's just strange because mails have already worked some time ago...

So setting the `NOREPLY_EMAIL_ADDRESS = 'zulip@my-domain.tld'` in `/etc/zulip/settings.py` fixed it.

-------------

In the config is written:
[code]

Maybe the better default behavior is to use the `EMAIL_HOST_USER` instea

[2020-08-04 18:38] Gittenburg commented on #16028
Can you post a screenshot of the UI in question?

[2020-08-04 18:43] Gittenburg commented on #15999
We should not just remove the button but also show something like "This stream has been deactivated." (I don't know how we currently show that).

[2020-08-04 19:00] SaschaMann commented on #16028
Sure!

Clicking on a bot:

![grafik](https://user-images.githubusercontent.com/20866761/89333301-117b8400-d695-11ea-9473-3b6d736bc0d2.png)

If you click on the name, it opens the owner's profile:

![grafik](https://user-images.githubusercontent.com/20866761/89333415-3839ba80-d695-11ea-8e7c-f13e19f6313b.png)

It would be nice to have a way to DM a user in one of those dialogues, for example like th

[2020-08-04 19:16] sahil839 commented on #15999
Yes this was suggested by Tim also and I have not mentioned this in the issue because I just wanted to confirm with Tim once that whether I should add this in the same issue or a separate issue if we decide to show a trailing bookend for deactivated streams in future which we do not show currently after a reload.

Anyway I have edited the description here itself. Thanks

[2020-08-04 19:21] Gittenburg commented on #2524
This also happens with Firefox and `layout.css.devPixelsPerPx` set to `1.5` in `about:config`.

[2020-08-04 21:45] timabbott commented on #15836
@rhn can you look at the screenshots on #16034 to see if this matches what you had had in mind?  Thanks!

[2020-08-04 22:10] timabbott commented on #16012
Well, it's a bit of a security problem if the "noreply" role email address can receive email, which could be the case for EMAIL_HOST_USER.  So it seems risky to create that default; we'll shift the consequence of missing the noreply documentation details from "emails don't arrive" to "potential security problem".

So I think there's not a simple change we can make here to help avoid other users ha

[2020-08-04 22:29] #15992 closed

[2020-08-04 23:09] andersk commented on #2524
@Gittenburg More details including OS, desktop environment, display resolution, and window size would be necessary to reproduce that claim. There are reasons we don’t have the scroll bar next to the message feed (from a comment in #9911):

In case you think we could simply emulate that using JS event handlers, we know from experience (#11792) that emulated scrolling inevitably feels non-native and

[2020-08-04 23:17] #14824 closed

[2020-08-05 00:33] robbyoconnor commented on #5296
I have not really had the immediate need. You're going to have some...shall I say fun with topics of exported messages from Rocket Chat to Zulip

Also, since Rocket Added threading, I feel less compelled to switch as that solves one of my pain points. Discussions are also something that solves a pain point(with Discussions it creates a parent-child relationship where you can fork a group after a c

[2020-08-05 04:44] Gittenburg commented on #2524
Having a scrollable container overlap another scrollable container, so that both scrollbars are next to each other, results in a very confusing user interface (which I consider to be the greater evil compared to not being able to scroll the message feed if your cursor is outside the sidebars, which is what new users would expect).

Yeah I also don't think that's possible. I once tried re-emitting

[2020-08-05 10:01] Jellby opened #16038 "Long reply covers previous messages"
When typing a long reply, or manually resizing the compose box, if the window is not high enough, the compose frame covers the last messages shown and it's not possible to scroll down and see them, except by resizing the compose box. This at least in the desktop app (snap).

CZO topic: https://chat.zulip.org/#narrow/stream/9-issues/topic/Long.20reply.20covers.20previous.20messages

[2020-08-05 13:34] davidtwco opened #16040 "Distinguish between full and new members in organization settings"
In the organization settings, under "Users", it would be helpful if users were listed as "New Member" or "Full Member", rather than just "Member" so that it is easy to tell who has new member limitations applied. I had to work this out manually when debugging an issue (which ended up being 4f930688cf2977be8047a11ecd07d1cdc8120bd3).

---
Edit by @alya 2025-11:

This should apply only to organizatio

[2020-08-05 16:53] onavhamid commented on #15770
Just adding my experience here, following up on discussion on [Zulip Community](https://chat.zulip.org/#narrow/stream/138-user-community/topic/why.20start-up.20on.20old.20messages/near/973880)
1. Experienced after upgrading from Ubuntu 18.04 to 20.4
2. Experienced on only 1 of 2 organizations
3. Other colleague using the same organization did not have the issue.  They had a clean installation of 2

[2020-08-05 20:34] timabbott commented on #16038
Maybe the right answer is to have the maximum compose box height be at most bottom_whitespace? (And then we can tune those values, but that seems like the logical structure needed to resolve this?)

[2020-08-05 23:17] #16024 closed

[2020-08-05 23:29] timabbott opened #16048 "Document display settings in Zulip API documentation"
This should look very similar to the existing documentation for the notification settings endpoint.

When we do this, we should remember to update the `/register` documentation added in #16000 for display settings to include ir link to the detailed explanations of the meaning of these settings.

[2020-08-06 00:54] NN708 opened #16050 "Unable to set single stream notification back to default"
Setting notification for a single stream will override any default stream notification settings. Is there a way to set it back to default if I do not want this notification preference?

[2020-08-06 00:58] #14188 closed

[2020-08-06 09:59] g4laad opened #16051 "Link creation for resources doesn't work for ALLOWED_HOSTS"
I recently updated my zulip from 2.1.3 to 3.1.

After the final update I found that the way zulip is creating the links to fetch some of the resources for the website is using the variable EXTERNAL_HOST. So if I want to connect to my Zulip instance via one of my ALLOWED_HOSTS but I can't access the url provided by EXTERNAL_HOST, I have 404 errors.

Zulip: 3.1
OS: Ubuntu server 18.04

[2020-08-06 10:05] g4laad opened #16052 "Make Nginx IPv6 binding optional"
In my infrastructure we use templates in order to create VMs. In these templates we disable IPv6 by choice.

I tried to installe Zulip 3.1 on a fresh Ubuntu 20.04 without IPv6, however I encountered problems because the configuraton file for Zulip expects IPv6 to be enabled.
Nginx fails to start making it an unresolved depedency for the rest of the install.
All the steps linked to Nginx are marked

[2020-08-06 10:42] itsafire opened #16053 "Zulip 3.0: logrotate configuration not installed"
After doing a production Zulip 3.0 install by the manual at readthedocs, no logrotate configuration was added for Zulip. As a fix I copied the file from `deployments/current/puppet/zulip/files/logrotate` to `/etc/logrotate.d/zulip`. From reading other issues, the file should have been installed by puppet.

[2020-08-06 11:03] koelle25 opened #16054 "Send all email from NOREPLY_EMAIL_ADDRESS"
Dear Zulip-Team,

thanks for your amazing software! We migrated from Slack nearly a year ago and really like it.

But we have an issue with sending email. We want that all outgoing emails are sent via the configured `NOREPLY_EMAIL_ADDRESS = "noreply@ourdomain.com"`. But for some emails Zulip seems to use the `ZULIP_ADMINISTRATOR = "support@ourdomain.com"` email address.

As I read in another [issu

[2020-08-06 11:43] mcocdawc opened #16055 "Show that password has to be generated for users without password"
Hello and thank you for this great project,

We just exported our Slack workspace to Zulip and stumbled over the issue that it is not immediately clear that passwords have to be regenerated and that one has to follow the "Forgot your password" workflow.
So I have the following enhancement request.
It would be great if a user with an existing account, but without a password gets notified that they

[2020-08-06 12:34] mateuszmandera commented on #15770
@zulipbot claim

[2020-08-06 18:40] imolein opened #16058 "upgrade-postgres script fails on Ubuntu 18.04 because of unavailable postgresql-12-pgroonga"
The upgrade-postgres script fails on Ubuntu 18.04, because the bionic dist of the Groonga repo has no package  `postgresql-12-pgroonga`, only `postgresql-10-pgroonga`.

It fails with:

[code]

I fixed this by manually downloading the package from the pool and installing it.

[2020-08-06 20:31] timabbott commented on #16058
@imolein thanks for the report; just to check, are you using pgroonga in your installation?

@kou would it be easy for the Groonga project to provide Pgroonga packages built for the postgres.org package repository (https://www.postgresql.org/download/linux/debian/)?  We've switched to using that in order to support using modern postgres on somewhat older OS releases (and also allow upgrading postg

[2020-08-06 20:43] imolein commented on #16058
@timabbott  Thanks for the fast reply :) Yes, we use pgroonga in our installation.

[2020-08-06 20:44] kou commented on #16058
I think that we can provide them easily. I'll take a look at it.
We need PGroonga packages for Debian 10,  Ubuntu 18.04 and Ubuntu 20.04, right?

[2020-08-06 20:47] imolein commented on #16058
@kou `postgresql-12-pgroonga` is available for 20.04 via the Groonga repository.

[2020-08-06 20:48] kou commented on #16058
Ah, it may be difficult to provide PGroonga packages for Ubuntu.
Because PGroonga uses https://launchpad.net/~groonga/+archive/ubuntu/ppa . PPA may require that dependencies exist on PPA but the PostgreSQL packages provided by https://www.postgresql.org/download/linux/ubuntu/ don't exist on PPA.

[2020-08-06 20:49] kou commented on #16058
The current `postgresql-12-pgroonga` package on Ubuntu 20.04 is built with the PostgreSQL package provided by Ubuntu not PostgreSQL.
It may have a problem to use the current `postgresql-12-pgroonga` package with the PostgreSQL package provided by PostgreSQL.

[2020-08-06 21:06] andersk commented on #16052
Can you elaborate on how you disabled IPv6 and why? It sounds like you may have disabled the IPv6 stack entirely when you only want to disable IPv6 communication with the outside. The former will break various things; for better or worse, it is 2020. For the latter, you can create `/etc/netplan/99-no-ipv6.yaml` with e.g.

[code]

[2020-08-06 21:08] kou commented on #16058
Oh, I already created `postgresql-12-pgroonga` for the PostgreSQL package provided by PostgreSQL on Debian 10: https://pgroonga.github.io/install/debian.html#install-on-buster

[2020-08-06 21:53] timabbott commented on #16053
Yes, it certainly should have been.  What is in your `/etc/zulip/zulip.conf`?  It's possible if you disabled the relevant puppet rule this might not happen.  And does `/home/zulip/deployments/current/scripts/zulip-puppet-apply` attempt to create that?

[2020-08-06 21:53] timabbott commented on #16053
`puppet/zulip/manifests/app_frontend.pp` installs it.

[2020-08-06 21:55] timabbott commented on #16051
@g4laad can you explain more precisely what you're doing with `zulip.example.com` type domain names?  Are you using `REALM_HOSTS` documented here? https://zulip.readthedocs.io/en/latest/production/multiple-organizations.html

@andersk I think this is a consequence of using the root domain of the Zulip server for hosting static assets, which is great for zulipchat.com (where many organizations are

[2020-08-06 22:57] timabbott commented on #5296
Zulip already has data import for Slack and other tools that copied its threading model (such as Rocket.Chat); we can use the same strategy we already use for the Slack import tool.

[2020-08-06 23:02] timabbott commented on #15999
Yes, I'd like us to show a trailing bookend with text like what @Gittenburg suggested above when looking at a deactivated stream.

[2020-08-06 23:03] timabbott commented on #16028
The bug here is that we're showing the wrong type of profile; https://github.com/zulip/zulip/pull/15574 will fix this.  @sahil839 FYI to confirm.

[2020-08-06 23:12] timabbott commented on #16029
I don't think there's any need to try to do the preservation you describe.

BTW I think the same problem may apply to "drafts"; we should check.  @Hypro999 FYI since you're in that code.

[2020-08-06 23:13] timabbott commented on #16026
I'm pretty sure this used to work; so the bug is likely shallow.

[2020-08-07 03:53] Hypro999 commented on #16029
Drafts are more about short-term preservation and a draft is supposed to be either sent or discarded in a few days - so we don't really need to preserve names here. If we did, it would need to be done at the message level once the draft has been sent (if it's sent). The main problem we had to take care of when it comes to drafts is resilience against name changes between when the draft is first be

[2020-08-07 05:34] kou commented on #16058
I've uploaded `postgresql-12-pgdg-pgroonga` packages for Debian GNU/Linux buster, Ubuntu 18.04 and Ubuntu 20.04. They are for the PostgreSQL packages provided by the PostgreSQL Global Development Group.

Note that we need enable both https://launchpad.net/~groonga/+archive/ubuntu/ppa and packages.groonga.org to use `postgresql-12-pgdg-pgroonga` for Ubuntu.

See also:

  * Install document for Debi

[2020-08-07 07:34] g4laad commented on #16052
I think I completely disable the IPv6 stack. To do so I modify the following file `/etc/default/grub` and add the following parameter: `GRUB_CMDLINE_LINUX="ipv6.disable=1"`.
We don't need IPv6 at all and we would like to no have it configured.

[2020-08-07 07:45] g4laad commented on #16051
I want to have multiple domain names pointing to the same organization (I only have one organization) which I thought `ALLOWED_HOSTS` was for. It allowes me to have the same config file for production, preproduction and test. The production URL is in `EXTERNAL_HOST`, the others are in `ALLOWED_HOSTS`.
Moreover I use Zulip behind a HAProxy, I like to have a direct access to my Zulip chat; bypassing

[2020-08-07 08:42] imolein commented on #16058
Hm, maybe that explains why I don't get any results from the search anymore?

Is it save to deinstall the `postgresql-12-pgroonga` from the PPA and install `postgresql-12-pgdg-pgroonga`? Do I have to run any migration after the installation?

[2020-08-07 10:01] abhijeetbodas2001 commented on #15946
I would like to work on this part.

[2020-08-07 10:16] andersk commented on #16052
Well, if you want to run an unusual configuration, you have to recognize that it will break assumptions that some software relies on. Zulip [expects](https://zulip.readthedocs.io/en/latest/production/requirements.html#general) to have the system to itself and to have it configured in certain ways. Without a convincing use case, it’s hard to justify the development, maintenance, and testing work th

[2020-08-07 10:16] #16052 closed

[2020-08-07 11:16] itsafire commented on #16053
This is my `/etc/zulip/zulip.conf`. Installation was on a recent Debian/buster.

[code]

[2020-08-07 14:07] abhijeetbodas2001 commented on #15946
I've made the emails field focus on opening the invite users window. But what is to be done after the user clicks the invite button?
- If the data is valid, focus on the emails field or focus nowhere?
- If data is invalid, focus on the emails field or focus on the field which is invalid?

[2020-08-07 15:00] Gittenburg commented on #15946
I don't think we need to change the focus after submitting the form. Another accessibility problem I however just noticed is that we are forcing keyboard users to tab through every stream checkbox to reach the Invite button. We should instead support submitting the form by pressing Ctrl+Enter (like we do for compose).

I also just noticed a bug: Open the compose box and then the Invite more users

[2020-08-07 16:44] sahil839 commented on #16028
Yes #15574 will fix this. I have attached a GIF for this in the PR itself for feedback.

[2020-08-07 18:25] timabbott opened #16066 "Add migration to fix RealmAuditLog entries from bad JSON serialization"
Apparently, the RealmAuditLog work in #15601 resulted in corrupted entries being stored to the new RealmAuditLog entries (See f8bcf39014e4aa44564998119aea7bdf3f13ab08 for details).  We should write a migration to clean up this format.  I think there are two changes I'd like to do:
* Move the `property` key to the top-level of `extra_data`
* Find these corrupted keys and fix them.

I'm going to do

[2020-08-07 18:43] timabbott commented on #16066
The `authentication_methods` variant of this bug was present in the 3.x release series.

[2020-08-07 20:04] timabbott commented on #16066
Opened https://github.com/zulip/zulip/pull/16067 to fix this.

[2020-08-07 20:55] kou commented on #16058
You can just install `postgresql-12-pgdg-pgroonga`. `postgresql-12-pgdg-pgroonga` replaces existing `postgresql-12-pgroonga` automatically.

You just need to disconnect before installing `postgresql-12-pgdg-pgroonga` and connect again after installing `postgresql-12-pgdg-pgroonga`. You don't need to migrate again.

[2020-08-07 22:37] timabbott opened #16068 "Investigate performance issues with loading OpenAPI data"
Apparently, now that we have fairly complete OpenAPI documentation for every aspect of the Zulip API (#16000), we're now seeing a performance problem the first time one loads on a given server process.  (Server logs show 5s load times for random /api pages until all the uwsgi worker processes have loaded `zulip.yaml` into memory).

@orientor @eeshangarg FYI.  This is a high priority to investigate

[2020-08-07 22:51] andersk commented on #16068
Here’s a dramatic observation: it takes a full second just to parse the YAML, compared to the two milliseconds it would take to parse the same data from JSON.

[code]

[2020-08-07 23:35] timabbott commented on #16068
Yeah; is it possible we want that build step to be "Convert the YAML to JSON"?

(I think YAML features like the way we write descriptions might be painful in JSON, not to mention that the tedium of OpenAPI would be a lot more without `yamole` -- though I'd love to replace that if we can find a better solution).

[2020-08-07 23:51] andersk commented on #16068
If we could use the LibYAML C parser via `yaml.CSafeLoader`, we could reduce the YAML parsing time to 65 ms. Three problems are:

* The `pyyaml` binary package on PyPI doesn’t come with LibYAML enabled, and it seems to be difficult to tell pip-tools to tell pip to pass the appropriate options to enable it via a requirements file.
* `yamole` hard codes `yaml.safe_load` and provides no way customize

[2020-08-08 01:41] andersk commented on #16068
#16069 solves the first problem if we merge it before #16063.

[2020-08-08 03:58] timabbott commented on #16068
Merged #16069.

[2020-08-08 05:31] alexmv commented on #16053
If you temporarily move `/etc/logrotate.d/zulip` out of the say, does running `/home/zulip/deployments/current/scripts/zulip-puppet-apply` as root re-create it?

[2020-08-08 08:04] plankt3r opened #16072 "New user via the API: include the id of the new user in the response"
Currently, the creation of a user via the REST API returns either "success" or "error". Adding the Zulip ID of the new user in the response would be an improvement that would facilitate integrations.

[2020-08-08 11:20] showell commented on #16072
https://chat.zulip.org/#narrow/stream/137-feedback/topic/New.20user.20via.20the.20API/near/977987

[2020-08-08 12:15] pravzzyy commented on #14880
then maybe close this issue ?

[2020-08-08 14:34] abhijeetbodas2001 commented on #15946
I've done Ctrl+Enter to submit part. One thing I noticed is that after the form is submitted, it does not scroll up to the top of the window. Is this to be done too? (Since this would directly show any error/success alerts which appear at the top after submitting, without the need to scroll)

[2020-08-08 21:17] Jagansivam28 commented on #16040
@zulipbot claim

[2020-08-09 04:12] Gittenburg commented on #15946
Good catch, that's indeed a UX problem. We don't want to just scroll without changing focus though (because then the focused element can be out of view), so I now like your initial proposal, i.e. after submitting the form we scroll to the top of the modal (so that you can see the success or error message) and focus the email input, assuming it is the only input that can lead to errors (so that you

[2020-08-09 04:23] Gittenburg opened #16077 "Fix accessibility / UX of Invite Users modal"
* Focus email input when modal is opened.
* Allow submitting the form with `Ctrl+Enter` (so that keyboard users don't need to tab through all checkboxes).
* On form submission scroll to top of modal (so that you can see the success or error message) and focus the email textarea (so that you can invite more users or correct an error). (I am assuming that the textarea is the only error source).
* Fi

[2020-08-09 04:24] Gittenburg commented on #16077
@abhijeetbodas2001 is working on this.

[2020-08-09 04:41] 992749089 opened #16078 "help"
/zulip-server-3.1/scripts/lib/install-node
failed: Connection refused.
failed: Connection refused.

Zulip installation failed (exit code 4)!

[2020-08-09 04:44] Gittenburg opened #16079 "Navbar alerts are inaccessible"
See `templates/zerver/app/navbar_alerts.html`:

* The `alert-link`s without an `href` cannot be activated from the keyboard. You should be able to focus them (add `tabindex=0`) and open them by pressing enter (add an event listener). They should also have `role=button`.
* The close button should also be focusable, activatable with enter and have `role=button`.
* If a navbar alert is shown when loa

[2020-08-09 05:38] Gittenburg opened #16080 "Deactivate organization button is not disabled for regular users"
Can be reproduced at https://chat.zulip.org/#organization/organization-profile.

I think this is a regression ... I remember the button being disabled before.

[2020-08-09 05:43] Gittenburg opened #16081 "Remove Guests option from Invite users dialog when anybody can sign up"
If anybody can sign up (i.e. no invitations are required), it doesn't make sense that users can invite other people as "guests" that have fewer permissions than they could get by signing up themselves.

[2020-08-09 06:11] Gittenburg opened #16082 "loading_indicator_spinner should have aria-hidden="true""

[2020-08-09 06:26] Gittenburg commented on #10552
I unfortunately won't be able to work on this because I have since discovered that Zulip has major accessibility problems. So I will be spending the time I have for Zulip on improving its accessibility (https://github.com/orgs/zulip/projects/1), which I deem to be more important than introducing new features.

[2020-08-09 06:58] abhijeetbodas2001 commented on #16077
Should I be writing any tests after/before commiting or run any existing tests? I couldn't find any file in frontend_tests/node_tests corresponding to static/js/invite.js

[2020-08-09 08:02] Gittenburg commented on #16077
Yeah I don't think we have tests for this modal. The changes of this issue are all DOM-related so they cannot be properly tested with `node_tests` because they run without a DOM. If you want to, you can write Puppeteer tests for the user modal, but you don't have to.

[2020-08-09 08:05] Gittenburg opened #16083 "Replace Casper developer documentation with Puppeteer documentation"
CC @priyank-p, @chdinesh1089

[2020-08-09 12:53] imolein commented on #16058
I installed your package, thank you. Unfortunately the search still is kinda broken. For some words, I got 1-2 results, even if there are many more in the least recent messages. But in 99% of the time I got nothing back from the search.
I look into the logfiles, but didn't find any error. Can you or @timabbott give me a hint where I have to look? Thanks :)

[2020-08-09 17:52] sumanthvrao commented on #15997
@zulipbot claim

(Will start a discussion on `czo` to discuss specifics before starting work on this.)

[2020-08-09 18:30] shanukun commented on #16082
@zulipbot  claim

[2020-08-09 21:41] kou commented on #16058
Could you try writing "Hello World" message and search by "Hello"?
Does it find the latest "Hello World" message?

[2020-08-09 23:47] #16082 closed

[2020-08-09 23:51] #16066 closed

[2020-08-10 00:56] timabbott commented on #16058
@imolein are you actually using PGroonga, or the default search backend?  With the latter, you need to run `manage.py audit_fts_indexes` after the upgrade -- that step is included in our upgrade documentation indirectly via a flag to `upgrade-zulip-stage-2`, but it seems possible because of the error you didn't run that as expected.

[2020-08-10 00:57] timabbott commented on #16083
I think this is probably one of the most important things we need to do for the Puppeteer stuff.

[2020-08-10 00:58] timabbott commented on #16083
Can one of you just write notes here summarizing what it's important to know about how to debug Puppeteer tests?  I can then help turn that into proper documentation.

[2020-08-10 00:59] timabbott commented on #16080
Yeah agreed it's a regression.

[2020-08-10 01:01] timabbott commented on #16081
Hmm, we need to be thoughtful, because one could be trying to use a limited set of enabled authentication backends (E.g. SAML auth with some system) that limits the ability of folks to create accounts, but I'm not sure I see a non-brittle way one could setup authentication such that this would be useful.

I suppose if the URL for your Zulip server is secret, there could maybe be a use case for the

[2020-08-10 04:10] cyphase commented on #16078
@992749089 The best place to get specific help with Zulip is https://chat.zulip.org/.

[2020-08-10 04:30] timabbott commented on #16078
This looks to be a networking problem, not an issue with Zulip.

[2020-08-10 04:30] #16078 closed

[2020-08-10 04:31] Gittenburg commented on #16081
Good point!

If you invite a user they get the URL, so I think they could still find the sign up page.

[2020-08-10 06:33] parthi2929 opened #16090 "Disable Notification Sound Not available"
**Describe the bug**
I could not disable the notification sound because the page only gives 2 choices of music, and no "no sound" option.

**To Reproduce**
Go to settings -> notifications -> other notification settings -> notification sound.

**Expected behavior**
Either a check option to disable the sound or no sound as one of options

**Screenshots**
![image](https://user-images.githubuserconten

[2020-08-10 15:00] shanukun commented on #16079
@zulipbot claim

[2020-08-10 18:10] timabbott commented on #16090
This seems worth supporting, and is likely quite easy.  The main decision is how to represent "no sound" in the API -- maybe the empty string would be most consistent?  I could also imagine the string "none" to avoid having multiple types here.

[2020-08-10 18:34] priyank-p commented on #16083
Mostly, debugging involves looking at the error message, the failure screenshot and reading the relevant test. Doing what the test does manually is also helpful and reading the test doesn't require one to fully know the puppeteer API either it just bunch of `.click`, `.type` and such but linking the [puppeteer docs](https://pptr.dev/) is still helpful.  The depending on the failure you might need

[2020-08-10 18:42] chdinesh1089 commented on #16083
I think it is also important that we mention `await common.screenshot(page, name<this arg is optional>)`. It can be very helpful to add that line in a few places while debugging to know what's happening. But it might become obsolete when Priyank's PR(#16036) gets merged but might still be useful as sometimes we cannot see few things in the recording because of puppeteer being fast.

[2020-08-10 18:52] chdinesh1089 commented on #16083
Another thing that often comes handy is `page.on('console', msg => console.log("LOG:", msg.text());` to print the logs in browser console.

[2020-08-10 18:59] Jagansivam28 commented on #16080
@zulipbot claim

[2020-08-10 23:30] timabbott opened #16094 "i18n: Fix i18n on /stats"
Our i18n is broken in /stats right now.  Following dedb28055a88a5a3748811aa3248254b381aa604, there's 2 issues we need to resolve:
* We aren't sending translation data to support `i18n.t(...)` to the frontend.  So even though our translators have translated the strings declared this way.  See the way we put translation data in `page_params` inside `zerver/lib/home.py` for what we need to do to reso

[2020-08-11 08:55] MSurfer20 commented on #16026
@zulipbot claim

[2020-08-11 11:30] itsafire commented on #16053
It did. Here is the output.

[code]

[2020-08-11 11:31] itsafire commented on #16053
For versions: I have yet to upgrade to 3.1. Still on 3.0.

[2020-08-11 14:11] xendk opened #16100 "Youtube preview overrides markdown link titles"
![image](https://user-images.githubusercontent.com/229422/89907165-98c47c80-dbec-11ea-8c23-fd89960ddda6.png)

Doesn't seem to happen for previews of sites.

[2020-08-11 17:58] #6507 closed

[2020-08-11 18:19] ritikchauhan-01 commented on #16090
Hey there are two ways (a) either I write silent in the array "available_notification_sounds" or should (B) or should I add files "silent.mp3 and silent .ogg" in "static/audio/notification.sounds".
which should I do ?

[2020-08-11 19:37] #6234 closed

[2020-08-11 19:40] timabbott opened #16105 "Message edit UI: Improve accessibility of message control button handlers"
Following 0dbc5df42dfa526c477c9eac9ede3f8fa4ca9985, the message-edit UI is somewhat accessible.  But if you click on the "preview" button using the keyboard, the focus leaves the button, which means you can't toggle it back easily.  We should change the "Preview" handling to leave the focus on the "go back to editing" button for easy toggling.  (Probably the go-back-to-editing).

And we should aud

[2020-08-11 22:19] andersk opened #16109 "OpenAPI schema and validation is built on a fundamental misunderstanding of allOf"
The `yamole` library preprocesses our OpenAPI schema by expanding `$ref` (incorrectly: #16106) and then naïvely merging all the objects in an `allOf` array together. This fails to capture the meaning of [`allOf`](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/) according to the specification.

For example, consider

[code]

In order for `{"msg": "", "result": "success"}` t

[2020-08-11 22:27] andersk commented on #16068
While investigating this I’ve found that everything `yamole` does is wrong. All it adds on top of `yaml` is incorrect `$ref` resolution (#16106) and incorrect `allOf` merging (#16109). We can use the faster [`jsonref`](https://pypi.org/project/jsonref/) library for correct `$ref` resolution, and `allOf` needs special treatment that simply can’t be done correctly in a pre-processing step like `yamo

[2020-08-11 23:40] #16072 closed

[2020-08-11 23:54] timabbott commented on #16068
Yeah, that doesn't surprise me.  `yamole` was added years ago when the OpenAPI specification was on an older version that had a lot of problems, so there was never deep examination of whether it's really necessary.

My preference would be to remove `yamole` from the pipeline just because it's unmaintained in any case; if we can do so without needing to duplicate a lot of content, then we should ju

[2020-08-12 00:59] alexmv commented on #16053
If puppet puts it in place now, then I'm mystified.

One very faint possibility is that there was an ordering issue in puppet, and `/etc/logrotate.d` didn't exist when it tried to put `/etc/logrotate.d/zulip` into place -- but that would have caused an error and installation would have failed noisily, which I presume you would have mentioned.

I can't replicate this with a stock 3.0 install, thoug

[2020-08-12 04:03] cgb commented on #10970
Hi there, I'm also eager to see this being implemented, Covid has really accelerated my organisations online interactions with customers and using zulip for this would be a great win compared to having to use Teams... :)   Thanks!

[2020-08-12 04:31] cyphase opened #16114 "Fix image panning no longer working due to some regression"
Due to a currently unknown regression, image panning no longer works in the main branch. The image can be zoomed, and shows the panning cursor, but it doesn't actually pan. It's working on my self-hosted 3.0 server, which indicates that the regression was introduced some time after d74664a60346e8e425ed0d33a0b42a391d13969d.

This was originally reported by someone else [on CZO](https://chat.zulip.o

[2020-08-12 06:45] N-litened commented on #10886
This is definitely a major issue for me, and the opposite of “don’t miss an important conversation” selling point of Zulip.

I think the best way to fix it would be — to mark messages automatically as read **only** when I am inside an individual topic (or PM conversation), when I have the whole context of discussion. When I am in an “all messages” view, or when I am in a “stream” view, or in “sear

[2020-08-12 09:04] itsafire commented on #16053
I did not experience any errors during installation.

[2020-08-12 09:15] sabvente opened #16116 "Add support for Azure AD tenant auth backend."
Zulip only supports Azure AD apps linked to a common tenant. This makes it impossible to use AD SSO with a specific tenant.

Related social-core docs:
https://python-social-auth.readthedocs.io/en/latest/backends/azuread.html#tenant-support

The `prod_settings_template.py` instructions needs to be updated. The `https://apps.dev.microsoft.com` site is deprecated.

[2020-08-12 11:51] xendk opened #16118 "has:image broken?"
I've just discovered `has:image` and `has:attachment`. But in our own realm `has:image` gives me nothing, while a lot of images show up in `has:attachment`. On CZO `has:image`gives me two messages, and again `has:attachment` gives me a lot of messages that I would say has an image.

I figure an image counts as an attachment, but images aren't properly detected.

[2020-08-12 15:17] Dylan-DPC opened #16119 "Ability to report messages/users"
It would be nice to have the feature where in users can report certain messages and/or users to moderators and moderators can likely view such messages in a separate UI or get pinged automatically on that stream.

Additionally, it would be nice to have a way that moderators can have then discuss it with the reporter (similar to GM tickets)

(this is from the rust community on zulip for labeling pu

[2020-08-12 16:42] Gittenburg commented on #16119
Closing as a duplicate of #9172. You are welcome to add a comment there.

[2020-08-12 16:42] #16119 closed

[2020-08-12 17:14] joshtriplett commented on #16119
Could you please label the duplicate as something the Rust community needs as well?

Also, "report spam" isn't quite accurate, because this would also be used for flagging messages that violate community norms, not just spam. "Report message" or "Flag message for moderation" seems more accurate.

[2020-08-12 17:19] joshtriplett commented on #9172
The Rust community needs something like this as well. It wouldn't quite be "report spam", because this would also be used for flagging messages that violate community norms. "Report message" or "Flag message for moderation" seems more accurate.

Notification via Zulip PM would be ideal. Eventually, it'd be nice to define a "moderators" group that may not be the full set of administrators.

Finally

[2020-08-12 17:50] Gittenburg commented on #16119
Labeled it. I agree that the scope of the other issue should be expanded to "Reporting" in general.

[2020-08-12 19:34] timabbott commented on #16118
I can confirm this is broken.  Some quick testing suggests the API is working (Network tab shows results) but the UI is blank, which suggests a web frontend bug.

[2020-08-12 19:48] #15877 closed

[2020-08-12 19:55] timabbott commented on #15272
@hamidjackal do you have time to continue debugging this?  I don't understand what would cause this failure mode.

[2020-08-12 20:01] chrisbobbe opened #16122 "Typing-state event doc improvements."
Following from #16000 (thanks so much, @orientor!), here's a small bundle of improvements that could be made to the docs for the `typing` event. Opening this as an issue on Tim's recommendation, as this should be self-contained.

Copying from [discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.2Fevents.20and.20.2Fregister.20docs/near/984241) on CZO:

- Looks like we're missin

[2020-08-12 23:16] timabbott commented on #16116
@sabvente do you have a recommended new site to link to?

Probably in any case we should plan to move that level of documentation detail out of prod_settings_template to ReadTheDocs.

If you're up for doing some testing, the AzureAD backend is very simple on top of python-social-auth:
[code]
So you might find it easy to add.

(BTW is there a doc on what "tenant" means in the AzureAD context?)

[2020-08-12 23:17] timabbott commented on #16114
Fixed in 4e7eda05396b9ee49692b292cd34a5289f275571

[2020-08-12 23:17] #16114 closed

[2020-08-12 23:18] timabbott commented on #16122
@orientor @showell are either of you up for doing a pass on this?  Ideally we'll want to add a `test_events.py` test for the STOP event as part of having tests covering this.

[2020-08-12 23:35] alexmv commented on #16053
Hm, OK.  I'm out of ideas for causes, then.

[2020-08-12 23:43] timabbott commented on #13172
For this, I think we're in OK shape already; the `email` field is what is available, and we'll just want to gate requiring EMAIL_ADDRESS_VISIBILITY_ADMINS or more on the ability to have web-public streams in an organization.

[2020-08-12 23:53] timabbott commented on #16017
OK.  I think we can safely add `op` alongside `operation` and mark `operation` as deprecated.  @orientor want to do the PR?

[2020-08-13 00:13] timabbott commented on #16053
The other possibility could be that you're running some other configuration manager tool that deleted our file; @itsafire is that possible?

[2020-08-13 00:14] timabbott commented on #16053
I think it's pretty likely based on this investigation that there isn't a bug in Zulip's puppet code; @itsafire please report back with whether you have any other configuration management tooling that could have caused this.

[2020-08-13 00:14] #16053 closed

[2020-08-13 00:19] timabbott commented on #10970
There's currently no way to do this that's effective (even if we hid the UI widget, data on other guest users would be send via the API).  But it's something on the longer-term roadmap, and if anyone's interested in helping fund this happen, email Zulip support.

[2020-08-13 00:20] timabbott commented on #10886
I think this is certainly viable as an option.  I'd to some extent to prefer to focus on the solution of taking you to the last read message rather than the first unread, which I think @ryanreh99 was doing some work on, but it could be sensible to do both.

[2020-08-13 07:47] sabvente commented on #16116
@timabbott thank you for your response.

The changes are described here in the docs: https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registration-portal-training-guide

There is a shortlink for the new app registration site: https://go.microsoft.com/fwlink/?linkid=2083908
This redirects me to https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade

He

[2020-08-13 08:36] orientor commented on #16017
@zulipbot claim

[2020-08-13 09:06] imolein commented on #16058
@kou yeah, it seems like new messages are found correctly

@timabbott I enabled pgroonga right after the installation of my Zulip server a few months ago. I followed the documentation and edited `zulip.conf` and `settings.py` accordingly and the settings are still there. So I guess it is used as the search backend.

[2020-08-13 09:31] itsafire commented on #16053
I installed on recent vanilla Debian 10. Install tasks: Base system + ssh server. Debian is not provide configuration management in this configuration.

[2020-08-13 12:04] MSurfer20 commented on #16026
The stream name is getting updated when I checked in /json/streams, and adding an update_stream_sidebar() to the change_stream_name function seems to fix it. However, would running the update_stream_sidebar() on every edit cause too much load on the server?

[2020-08-13 15:02] nanathlor commented on #15877
Thanks everyone. I gave it another go and have upgraded successfully, a couple of observations.

1) I did the entire upgrade then upgraded Zulip without rebooting, not sure if this made a difference but it never worked when I rebooted after the Debian Buster upgrade

2) During the PostgreSQL upgrade "/home/zulip/deployments/current/scripts/zulip-puppet-apply -f" failed:

Notice: /Stage[main]/Zulip

[2020-08-13 16:34] ritikchauhan-01 commented on #15689
the previous last commits only solves the half of the issue.

[2020-08-14 08:45] harlov-va opened #16209 "Old bug"
The version is growing, but the bug is still there.
I chat with users. When switching to a different user, sometimes (or often) the old user remains active. I write to a new user, but the message goes to the old user.
I show in screenshots.
![screenshot number one](https://user-images.githubusercontent.com/46627357/90231284-9e57d780-de23-11ea-90c3-d567f1048fd9.png)
![screenshot number two](https:/

[2020-08-14 15:54] ftribrunn opened #16140 "manage.py --audit-fts-indexes"
here https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-debian-stretch-to-debian-buster
@ 7.

[code]

but does not work?

[2020-08-14 17:33] timabbott commented on #15997
@lmckenzi we just merged a change to remove the "(Optional)" text next to the field.  Before we work on building a potentially unnecessary option, I'd like to see if that change is sufficient to encourage folks to add a stream description.  I'm not sure whether leaving the field blank would end up being any more common from putting an inane/useless description to hit the length requirement.

I cou

[2020-08-14 18:52] arpit551 commented on #16030
@timabbott  Regarding the 4th point, I don't think so that we use regex optional naming groups in re_path. Or is this change something else?

[2020-08-14 19:43] stupendoussuperpowers commented on #16100
I'd like to work on this. Can someone guide me as to where I can get started?

[2020-08-14 21:01] Gittenburg commented on #16100
Check out the [Zulip developer documentation](https://zulip.readthedocs.io/en/latest/development/index.html).

The relevant code seems to be:

https://github.com/zulip/zulip/blob/0d6047840b28efbd9d51397958bc410e1f4399c7/zerver/lib/markdown/__init__.py#L1231-L1233

[2020-08-14 22:10] Rockstar5645 commented on #15947
Hi, I'd like to work on this

[2020-08-14 22:23] timabbott commented on #16030
Yeah, I think I agree that change has no effect on us.

[2020-08-14 22:49] #9143 closed

[2020-08-14 23:01] #16079 closed

[2020-08-14 23:20] timabbott opened #16143 "Add spinner on the "Save" button in message editing UI"
When moving topics between streams on very large Zulip servers, the API call to move the topic can take a few seconds.  To avoid confusion, we should show a clear loading spinner for this operation (probably similar to our "Send message" spinner when we're not doing local echo).  The most important part of this is disabling the "Save" button so one can't double-click it, but it's also important to

[2020-08-14 23:40] timabbott commented on #16100
@aero31aero can likely help investigate.

[2020-08-14 23:51] #16118 closed

[2020-08-14 23:55] #16140 closed

[2020-08-14 23:56] timabbott commented on #16140
Thanks for the report; we just merged those instructions yesterday and there was a typo (just fixed). You want `manage.py audit_fts_indexes`, without the leading `--` and with underscores rather than dashes.

@alexmv FYI :)

[2020-08-14 23:57] timabbott commented on #16140
Oops, repushed since we had this typo in 2 places.

[2020-08-15 00:44] aero31aero commented on #16100
As @Gittenburg said, the bug is in L1233 above. The easiest fix here would be something like:

[code]

This same bug should be present with vimeo links too.

For easier manual testing, just comment this check:

[code]

[2020-08-15 00:45] aero31aero commented on #16100
Slightly long term, do we really want to modify the original link text and not add the title to the preview like we do for our Twitter previews?

[2020-08-15 04:36] Gittenburg commented on #16100
Yeah I think having the title above the preview would be better.

[2020-08-15 04:45] #15910 closed

[2020-08-15 13:12] melsophos commented on #10862
This would be a great idea for the same reasons as stated above: I often start to discuss privately, then find that more people could be interested and that the discussion is going in several directions. For this reason, it would be very helpful to move messages to a new stream.

Concerning the privacy issue, a solution would be: 1) anyone can create a new stream by selecting messages from the dis

[2020-08-15 13:38] melsophos commented on #8659
Would it be possible to consider also more general sorting scheme? The most important would be to split the list in public/private. Another layer of separation could be created by global / local audience (so if we expect to have a channel with many or few participants).

To explain a bit the context, I have created a Zulip instance for researchers working on some topic, public channels are used fo

[2020-08-15 23:16] danninov opened #16147 "Add quote/reply button icon when hoovering to message"
Quote/reply is one of feature that very useful for conversation. In Zulip when I want to reply to certain message, I need to hover to message, click three dot, click quote and reply. It's quite a long way just to reply message.
I think we need itu add reply icon at most right when hovering to message so we can reply message quickly. This UX is standard in Slack, Mattermost or Telegram.

[2020-08-16 03:45] alexmv commented on #16140
Apologies for this one sneaking in. :(

[2020-08-16 08:40] maxandersen commented on #14302
just bumped into this need - would like to sync github teams with zulip teams but seem no way to lookup users by name or email to be able to find out which zulip id to use when adding/creating zulip groups.

Any pointers on how to do that with existing apis would be very welcome!

[2020-08-16 16:36] ritikchauhan-01 commented on #16147
@zulipbot claim

[2020-08-17 10:22] Debilski commented on #14373
Hey, similar problem here after upgrading to Zulip 3.1. Should I open a new issue?

[2020-08-17 15:38] amartin3225 commented on #10886
I've noticed this problem recently where I'll be viewing a different message (e.g. typing a private message to User A) and a private message from User B will come in and I'll see it show up grayed out at the bottom of the window. I do not want to read it now as I need to finish what I was typing to User A, so I finish doing that and send the message. Later, I notice that the message from User B ha

[2020-08-17 17:07] matchenko-dv commented on #9376
I added file boto.cfg to /etc/zulip/, but the upload doesn't work error message The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256. Can you help pls?
`[s3]
use-sigv4 = True
host = s3.eu-central-1.amazonaws.com`

[2020-08-18 09:33] Askerion opened #16158 "CSS Own Message right align"
Hello

there is a solution with CSS to display your own text right-aligned

![grafik](https://user-images.githubusercontent.com/25051192/90496788-8f846400-e146-11ea-96d2-d9fe3ec653a7.png)

[2020-08-18 15:04] munircontractor opened #16160 "Include message in @ mentions list when @_ is used for a username"
I think this was the behaviour in older versions of Zulip, but it seems to have changed.
When tagging a user with `@_**username**`, I'd like the message to appear in the @ mentions list and update the counter there, but still not send a notification to the user. Otherwise, the `@_` feature seems to have limited use.

[2020-08-18 15:06] munircontractor commented on #16160
This would be really useful to have so that I can tag a user after hours and not bother them, but still have them see the message as an @ mention when they login.

[2020-08-18 16:30] sumanthvrao commented on #15208
@zulipbot claim (Seems like a nice issue to work on and explore Zulip's markdown implementation)

[2020-08-18 17:06] akashaviator commented on #15844
@zulipbot claim

[2020-08-18 17:51] ankit-saraf commented on #14880
I would like to resolve this issue. I had found the solution to it. Only want to confirm what should "Add streams" renamed to.
Please tell me whether I can work on it or not.

[2020-08-19 04:54] ankit-saraf commented on #14880
@zulipbot claim

[2020-08-19 04:58] ankit-saraf commented on #14880
@SouravPal1995 Please abandon this claim if you are not working on it. You are working on this issue since 9 July. Pls allow me to try this one.

[2020-08-19 05:32] ankit-saraf commented on #16158
@Askerion can you label it 'good first issue' or 'help wanted'

[2020-08-19 05:41] ankit-saraf commented on #16147
@danninov Can you please label it 'Good first issue' or 'Help wanted'. I want to work on it. But I am new at contribution

[2020-08-19 06:39] RalfJung commented on #11752
One possible solution to the "organization icon duplication" problem is to make the icon show both the Zulip icon and the org icon -- one bigger, and the other one smaller in the corner. That should make them distinguishable from other icons that also use the org icon.

I strongly prefer in-browser apps over things I have to install -- this means they benefit from the browser sandbox and I don't n

[2020-08-19 11:44] akshatdalton commented on #16100
@zulipbot claim

[2020-08-19 12:21] rht opened #16163 "API: deactivate_my_account is undocumented."
This line: https://github.com/zulip/zulip/blob/33d7a2268563cc89dca662369ccacfd0d35a8a7f/zerver/openapi/zulip.yaml#L4383 is undocumented. https://chat.zulip.org/api/deactivate-my-account currently returns 404. This issue was discussed at https://chat.zulip.org/#narrow/stream/127-integrations/topic/go-zulip-api/near/991579.

[2020-08-19 12:55] Gittenburg opened #16164 "Missing 405 error bodies"
The following POST-only routes return an empty body when requested with GET. Instead they should return an error message:

* https://chat.zulip.org/accounts/logout/
* https://chat.zulip.org/accounts/register/
* https://chat.zulip.org/json/subscriptions/exists
* https://zulip.com/json/remotes/server/register
* https://chat.zulip.org/api/v1/dev_fetch_api_key

All of these seem to be caused by using

[2020-08-19 14:11] ankit-saraf commented on #15208
@zulipbot claim

[2020-08-19 14:31] sumanthvrao commented on #15208
@ankit-saraf Hey! I had started work on this previously and will soon open up a WIP PR. Your welcome to help test the PR or provide feedback on it, in case you want to further help out with this issue. :)

[2020-08-19 16:22] ritikchauhan-01 commented on #16147
@ankit-saraf you can claim it .If you want to work it .

[2020-08-19 16:37] ritikchauhan-01 commented on #16158
yeah it will be good idea .

[2020-08-19 18:14] adithyay328 commented on #15384
@zulipbot abandon

[2020-08-19 19:50] Gittenburg commented on #16090
I think adding a special value would be preferable to playing empty audio files (because it might confuse users if the browser indicates that the tab is playing some sounds when it's actually not).

[2020-08-20 05:14] ankit-saraf commented on #16147
@zulipbot claim

[2020-08-20 05:15] ankit-saraf commented on #16147
Actually I am a new contributor. That's why I requested to label it so.

[2020-08-20 05:17] ankit-saraf commented on #15208
Okay, @sumanthvrao. All the best!

[2020-08-20 06:07] jcommelin commented on #15208
Let me briefly chime in that I'm excited to see that people are working on this! I'm a really happy user of Zulip, and this feature would make me even happier. :smile:

[2020-08-20 10:35] thedeveloperr commented on #9165
@timabbott  Can I work on this ?

[2020-08-20 12:21] peternagelsa opened #16172 "Impossible to send email"
[Zulip test sending.pdf](https://github.com/zulip/zulip/files/5102957/Zulip.test.sending.pdf)
Hi everyone. After failing to use mailgun, sendgrid, and remote smtp server to get Zulip sending emails I desperately need your help.

UBUNTU 20.04 LTS
Zulip 3.0

Domain pointing to Linode server: mydomain.com
Zolip administrator: admin@myotherdomain.com (the email address is hosted one of my other server

[2020-08-20 12:30] Jellby opened #16173 "GitLab webhook reports single assignee for MR when there are several"
It looks like the GitLab webhook reports assignees for merge requests, but it only gives one assignee, even if there are several. This gets particularly confusing when the only change is in the assignees (say, from A and B to A and C), but the bot reports no change (only A). I think this may be a problem [here](https://github.com/zulip/zulip/blob/ad8943a64aab3f21ba692fe3842232291e222838/zerver/web

[2020-08-20 15:53] jmandel opened #16174 "Search by name doesn't work if a middle initial is present"
UX bug: at https://chat.fhir.org if I type into a compose box "Karl D", I *don't* find Karl Davis, even though the name should be a match. Apparently this is because the registered name is "Karl M. Davis". Search with multiple words should fire off multiple "probes" and return any results that match all probes.

[2020-08-21 02:33] gnprice commented on #16109
Very interesting! This seems likely to be the reason why openapi-generator produces (at least for Go) bindings [where most every method returns just a `JsonSuccess`](https://chat.zulip.org/#narrow/stream/127-integrations/topic/go-zulip-api/near/991574), instead of objects with the appropriate data.

[2020-08-21 02:34] gnprice commented on #16109
Here's upstream's documentation of a pattern that resembles what we're attempting to express here:
https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/
[code]

Happily this looks like it may not be very hard to adapt our incorrect schemas to. The differences that stand out at me are:
* `JsonResponse` shouldn't have `additionalProperties: false`. After all, the point is t

[2020-08-21 04:24] wpj opened #16176 "Handle trailing slashes when creating Jitsi video meeting URLs"
When creating video call links for Jitsi, an additional slash is getting added between the base Jitsi server URL and the video call ID, i.e. `https://meet.jit.si//141518590623948` instead of `https://meet.jit.si/141518590623948`

[2020-08-21 07:16] thedeveloperr commented on #9165
@zulipbot claim

[2020-08-21 08:18] Gittenburg commented on #16176
The relevant code is:

https://github.com/zulip/zulip/blob/25c3f052cd0a7cd51c603c8458c11244c62cf682/static/js/compose.js#L1195

[2020-08-21 08:28] dransome commented on #15770
@onavhamid please can you outline the workaround mentioned here:

[2020-08-21 08:51] Gittenburg opened #16178 "Confusing status terminology"
We currently use "active" to describe two distinct things:

* a user can be either active or unavailable
* users recently online have the "Active now" tooltip

I find it very confusing that you can be unavailable and active at the same time (especially because according to our status terminology active and unavailable are mutually exclusive).

![2020-08-21-104840_249x92_scrot](https://user-images.

[2020-08-21 11:16] rht opened #16180 "zulipchat.com doesn't detect whether I am on free or standard plan when visiting /upgrade page."
My research group is already on standard plan, yet when I visited the /upgrade page, I was greeted with "Upgrade to Zulip Standard" implying that my realm is not yet on standard plan.

[2020-08-21 21:59] showell opened #16185 "trello webhook: Support more actions"
This is a good issue for somebody who uses or has used Trello on a close to daily basis.

Our Trello integration ignores certain actions such as createCheckItem, updateCheckItem, and updateList.

Also, for the updateCard action, we ignore changes to certain fields such as "cover" and "pos".  If you grep the trello webhook code for these things, it should be fairly clear how we ignore them.

If you

[2020-08-22 12:44] showell opened #16189 "jira webhook: Handle missing events."
We have this code in our jira webhook:

[code]

For somebody who knows our Jira webhook pretty well (maybe @Hypro999?), it would be good to do a more detailed audit of those events, and we should either try to support them or add comments explaining why we should never support them.

[2020-08-24 14:37] PawBud commented on #16081
@Gittenburg just curious, Am I missing something?

[2020-08-24 14:59] Gittenburg commented on #16081
I guess we shouldn't completely remove the guest option because that effectively renders the guests feature useless. We should only remove it if sign up is unrestricted, i.e. no invitations are required to sign up and sign up is not restricted to specific email domains. If we should also account for restricting to certain auth backends, depends on if such a restriction can be set up reliably (whic

[2020-08-24 15:08] PawBud commented on #16081
So, should I close my PR?

[2020-08-24 16:14] Gittenburg commented on #16081
I think it is only lacking a more elaborate if condition (the template should just check a boolean like `guests_enabled` that is set in `zerver.views.home.home_real`).

[2020-08-24 16:34] PawBud commented on #16081
I see, well I haven't really checked out out zulip's backend, This should be a good opportunity to tinker around :)

[2020-08-24 20:10] timabbott commented on #16176
Thanks for the report @wpj!

Given that the mobile apps will end up using this, do we want to instead change the server to strip the trailing slash (or ensure it's always present, so that client apps can just assume it's there)?  This seems wrong for a client-side change, in that every client will need to write this same logic.  @savish28 FYI.

[2020-08-24 20:38] wpj commented on #16176
@timabbott yeah, I agree that this would best be handled on the server side.

[2020-08-24 20:51] enzote84 commented on #41
Hi!
Is there any updates on this? Is there a procedure to instal Zulip in CentOS?

Thank you
Kind regards

[2020-08-24 23:29] timabbott commented on #16163
@akashaviator would you be up for taking this issue?

I believe the bug is that we just haven't written a /api/ page for this.

[2020-08-24 23:33] timabbott commented on #16109
@orientor do you have time to work on this restructuring?

[2020-08-25 00:57] timabbott commented on #16068
For this, we could easily fork `yamole`; it's effectively our own software.  It's probably worth doing that tweak?

[2020-08-25 01:27] andersk commented on #16068
Perhaps that would be worth considering if there was anything `yamole` did that was correct, but it literally does three things: 1. YAML parsing, inefficiently; 2. `$ref` resolution, incorrectly; 3. `allOf` merging, incorrectly and at a level where it can’t possibly work. That’s all. It doesn’t have a single line of code that we want.

[2020-08-25 01:31] #16180 closed

[2020-08-25 05:41] Ezio-Sarthak commented on #16100
I'd like to work on this. Could someone guide me to get started?

[2020-08-25 07:21] rht commented on #41
See https://chat.zulip.org/#narrow/stream/3-backend/topic/prod.20env.20on.20CentOS.207 for current discussion.

[2020-08-25 13:46] volo-zyko commented on #15383
Finally, I'm back to this issue and can confirm that it was on my side. Somehow I misconfigured the Zulip server, so that in certain situations (when running from root's crontab) `manage.py sync_ldap_user_data` for all images had content type `application/octet-stream`. However, when I did it in an interactive shell it worked as expected. I cannot say anything more since I reconfigured the server

[2020-08-25 13:46] #15383 closed

[2020-08-25 14:25] codesankalp commented on #9877
I solved this problem by changing the line in provision.py i.e.
sys.path.append(ZULIP_PATH)  to sys.path.insert(0,ZULIP_PATH)

[2020-08-25 16:22] dushyantgupta72 commented on #15390
@YashRE42 I and my team would like to contribute to it. Please assign the work to us.

[2020-08-25 18:05] aryanshridhar opened #16198 "Overlapping text while creating new Organization"
Hi all ,
Encountered this error of <strong>alert</strong> message and text message overlapping while creating a new organization .

To Produce this error , head over <a href = 'https://zulipchat.com/accounts/register/' target = '_blank'>here</a> ( After receiving email )
For reference , I am attaching an image for the same .

![Screenshot from 2020-08-25 23-02-44](https://user-images.githubusercon

[2020-08-25 19:11] Gittenburg commented on #16198
There is already a PR for this: #16074

[2020-08-25 19:22] codesankalp commented on #15865
@zulipbot claim

[2020-08-26 00:21] timabbott commented on #15390
@dushyantgupta72 feel free to work on this.

[2020-08-26 00:24] #16143 closed

[2020-08-26 00:33] timabbott commented on #9877
@codesankalp did you by any chance have a `scripts` package in your PYTHONPATH?  I suppose that would explain the reason one might need to do make the adjustment you mention.

[2020-08-26 00:34] timabbott commented on #9877
@andersk thoughts on whether we should be using `sys.path.insert` for adding our own path in our scripts?  It seems like it might be helpful for avoiding problems like this.

[2020-08-26 04:34] aryanshridhar commented on #16198
Oh Cool ! , Closing this issue

[2020-08-26 04:34] #16198 closed

[2020-08-26 08:52] codesankalp commented on #9877
@timabbott no I don't have `scripts` in PYTHONPATH. I think it will be good to replace it by `sys.path.insert` to avoid this error.

[2020-08-26 08:54] codesankalp commented on #15865
@Gittenburg where is the file related to this issue?
and also should I change the js or CSS to fix this problem.

[2020-08-26 09:49] aryanshridhar commented on #16178
@zulipbot claim

[2020-08-26 09:51] Gittenburg commented on #16178
This should be discussed before being worked on.

[2020-08-26 10:09] Gittenburg commented on #15865
I don't think we should do the CSS-only fix because some accessibility software may rely on `display: table` for semantics (e.g. [Firefox did until 2 years ago](https://bugzilla.mozilla.org/show_bug.cgi?id=1005271) and [still has a related bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1460927), so it's probable that other accessibility software has similar issues).

So I think we should wrap t

[2020-08-26 10:38] codesankalp commented on #15865
Ok thanks for your help.

[2020-08-26 10:46] aryanshridhar commented on #16178
Oh Cool , Since the users recently online have the <code>Active now</code> tooltip , Displaying an <code>Recently online</code> in  place of it and <code>Active now</code> for the former one looks more sensible , isn't it ?

[2020-08-26 11:07] Gittenburg commented on #16178
Recently is not the same as now. I see two options:
* renaming the opposite of unavailable to available
* changing last active to last online (or last seen)

Which of these is preferable should be discussed on CZO ... I just [created a topic for that](https://chat.zulip.org/#narrow/stream/101-design/topic/confusing.20status.20terminology.20.2316178).

[2020-08-26 14:28] timabbott opened #16203 "api documentation: Document outgoing webhook payloads using REST /api infrastructure"
As came up in https://chat.zulip.org/#narrow/stream/137-feedback/topic/Send.20a.20message.20to.20a.20stream.20via.20API/near/1000097, the documentation for our outgoing webhooks:

https://zulip.com/api/outgoing-webhooks#example-incoming-payload

Doesn't have the same detail as is present in our REST API documentation on the meaning of fields.  We should aim to have documentation on these fields be

[2020-08-26 15:58] akashaviator opened #16206 "api: Modify subscribe API response to include `id` as well."
Current response format for `POST /users/me/subscription`:
[code]
Desired response format :
[code]

[2020-08-26 16:09] akashaviator commented on #16206
@zulipbot claim

[2020-08-26 18:03] akshatdalton commented on #16100
@zulipbot claim

[2020-08-26 18:34] timabbott commented on #15865
The CSS-only fix suggested in https://github.com/zulip/zulip/issues/15865#issuecomment-662153289 seems like the right approach; I don't think many folks more than 2-year-old Firefox, and I think "Using accessibility tools on 2-year-old Firefox + Tables (a rarely used syntax)" is a sufficiently rare combination that I don't think it's worth doing a messy workaround for it.  (Every piece of code we

[2020-08-26 19:01] #16176 closed

[2020-08-26 19:02] codesankalp commented on #15865
So should I fix this problem by only changing the CSS property?

[2020-08-26 19:37] timabbott commented on #15865
Yeah, let's do that change; we can test what the accessibility situation is once we've done that to determine if my analysis above is missing something.

[2020-08-26 19:39] Gittenburg commented on #15865
According to [this post from 2020](https://adrianroselli.com/2020/03/csun-2020-css-display-properties-versus-html-semantics.html) `display: block` breaks the accessibility of tables in Safari. So I don't think we should do the CSS-only fix.

[2020-08-27 01:22] cyphase commented on #16209
I think the issue being described is that the recipient specified in the compose widget is not changing when the user selects a different user.

@harlov-va It looks like the user icon is changing between the two screenshots. Can you explain why that is? Is the icon changing but not the name? Also, are you sure that there isn't a message in the compose box? That certainly would keep the compose box

[2020-08-27 04:52] gnprice opened #16210 "Generate thumbnails for uploaded images"
Images in a chat thread are often big — for example, photos or screenshots from a modern phone. In particular they often have a lot more pixels than we'll actually show in the message list.

Currently a client has to download the full images anyway, because we don't provide anything else. Instead, we should provide smaller versions, "thumbnails", of each image that appears in the message list.

Th

[2020-08-27 06:20] #15208 closed

[2020-08-27 06:56] rht opened #16211 "Control who can do wildcard mentions."
This is problematic when a user spams `@all` in an organization with lots of members.

The feature to disable wildcard mentions already exists on Discord.
But we probably want to do it like the way Slack does it, where the option of who can wildcard-mention is more fine-grained:
1. Everyone
1. Everyone, except guests
1. Workspace owners and admins only
1. Workspace owners only

Discussion at https

[2020-08-27 07:18] harlov-va commented on #16209
Of couse

[2020-08-27 07:23] harlov-va commented on #16209
The icon is changing and the name is changing. My screenshot a little wrong. Yes, I sure. There isn't the message in the compose box. And the message disappears when I turn an another user.

[2020-08-27 09:51] Askerion commented on #16158
@ankit-saraf how can i label the issue

Does anyone know a solution, so far I haven't found anything in the css.

[2020-08-27 12:45] hackerkid commented on #16021
@zulipbot claim

[2020-08-27 18:40] #1587 closed

[2020-08-27 19:10] hackerkid opened #16215 "Devlogin breaks if a hash is present in the URL"
Opening the following link foe example and trying to login as one of the existing users results in a 404
 http://realm-24.zulipdev.com:9991/devlogin/?next=/upgrade/#sponsorship

[2020-08-27 19:11] gagansh7171 opened #16216 "Preview for various websites is not there"
It seems to me that preview is enabled only for selective websites in zulip(I got for Twitter and Youtube). I think having a preview of all social media shareable links would be a great addition to Zulip.
![Screenshot from 2020-08-28 00-34-41](https://user-images.githubusercontent.com/52528493/91484418-cdac2100-e8c6-11ea-9440-f4acec4bd352.png)
I would like to contribute to the issue. Could someone

[2020-08-27 19:21] timabbott commented on #16216
This is configurable; see https://zulipchat.com/help/allow-image-link-previews.  By default we don't do open graph previews/embeds for most websites, largely because they end up being spammy.  If you're interested in contributing to improving this area such that we might turn that on by default, let me know.

[2020-08-27 19:21] #16216 closed

[2020-08-27 20:01] timabbott commented on #16172
I'd recommend mailgun; it's the simplest option.  Timeouts suggest either a mistake in entering the hostname.

Also, I notice you've changed the capitalization in your settings files from the default (E.g. it's `EMAIL_HOST`); capitalization is important for variable names, and I suspect that's a potential root cause of your issues.

[2020-08-27 20:02] gagansh7171 commented on #16216
Oh didn't know that! But I experimented a bit with this feature and then found #16100. This issue is still open while it seems there is no need for it to be.
![ask why](https://user-images.githubusercontent.com/52528493/91489121-ecfa7c80-e8cd-11ea-9a78-8333dfed1804.png)
The user has full control of using preview title or markdown link text.

[2020-08-27 20:05] peternagelsa commented on #16172
Thanks @timabbott got it sorted, using sendgrid. I assume the problem was not so much the Zulip configuration as it was my Linode config.

Thanks for the response!

[2020-08-27 20:11] #16172 closed

[2020-08-27 20:29] orientor commented on #16017
@timabbott This issue can be closed now, right?

[2020-08-27 20:36] orientor commented on #16109
@zulipbot claim

[2020-08-27 21:20] orientor commented on #16109
Removing additionalProperties will result in loss of gurantee that all properties have been documented and that there are no additional Properties which haven't been documented. On the other hand, we can save the object received from yamole into zulip.yaml file since that would be the most schematically correct spec(without any allOfs), but this will make the file really long. So which method shou

[2020-08-27 21:41] andersk commented on #16109
We can use `additionalProperties: false`, but only in “leaf” schemas from which other schemas don’t “inherit”. For example, `JsonResponse` and `JsonSuccess` cannot have `additionalProperties: false`, but this can:

[code]

[2020-08-27 23:27] timabbott commented on #16017
Yes, thanks @orientor!

[2020-08-27 23:27] #16017 closed

[2020-08-28 05:24] aryanshridhar commented on #16178
Hey , Going with the 2nd option ( changing last active to last online or last seen ) looks more sensible as rightly discussed within the topic .

[2020-08-28 06:10] Gittenburg commented on #16178
Yes changing the tooltips to "Online now" and "Last online: ..." appears to be the best choice. Feel free to work on a PR.

[2020-08-28 06:32] Gittenburg commented on #9522
Closing this because it is solved by our "unavailable" feature and I don't think we should complicate our UI by adding a timeout for unavailable.

[2020-08-28 06:32] #9522 closed

[2020-08-28 09:50] dynamoh commented on #16100
@zulipbot claim

[2020-08-28 13:40] theraser opened #16221 "Enable welcome bot translation"
Since #6866 will only focus on notification bot messages, I want to suggest adding translations for the welcome bot, too. For non-native speakers it may be difficult to understand the English message. There are already finished translations at the *.po files which can be used so this shouldn't be a big deal.

Affected files: zerver/lib/onboarding.py

[2020-08-28 13:46] scasplte2 opened #16222 "[Feature request] Automate topic cleanup"
The ability for members to create topics is great but over time the number of topics can become unwieldy. In my organization we have taken to moving conversations from old topics into a catch all "Archive" topic in each stream. To avoid manually doing this, I'd like to be able to run a tool that will clean up old topics for me. Basically, if the last message in a topic was X months (or weeks) ago

[2020-08-28 13:53] CohenCyril commented on #14912
Dear @timabbott as I suspected, some of our users did not see/follow my instructions during the migration and now own two distinct accounts. So even if the `@users.noreply.github.com` authentication has been implemented now (thank you very much BTW!), it happens there still remains a need for the merge-user tool... just FYI.

[2020-08-28 14:59] KarenEfereyan commented on #16100
I see that this is already being worked on. Is there a slack channel I can join?

[2020-08-28 16:19] dynamoh commented on #15818
@zulipbot claim

[2020-08-28 16:34] dynamoh commented on #16178
@zulipbot claim

[2020-08-28 16:52] dynamoh commented on #16178
Hey, can I work on this issue ?

[2020-08-28 17:00] aryanshridhar commented on #16178
Hey @dynamoh , That's really nice but I am about to submit a Pr regrading this issue now .

[2020-08-28 17:02] dynamoh commented on #16178
ok no problem

[2020-08-28 19:43] chdinesh1089 commented on #16215
It isn't working on normal login too. Ending at a "page not found" error with URL similar to http://zulip.chdinesh1089.zulipdev.org:9991/accounts/login//#sponsorship

Seems like it's an issue with the `next` parameter ignoring the part after `#` and considering only `/upgrade/`.

[2020-08-28 19:53] theraser opened #16224 "Enable translations for hotspots subsystem"
There are unused translations at the hotspots subsystem, which could be enabled due to finished and available translations. At the moment there is a mix of English and the configured user language.

Affected file: zerver/lib/hotspots.py

Example (mixed English/German):
![grafik](https://user-images.githubusercontent.com/7988080/91609700-28518580-e978-11ea-8073-c8f368253595.png)

[2020-08-28 21:14] wpj opened #16225 "Normalize jitsi_server_url at the API level"
Currently, the `jitsi_server_url` field of the realm state that the Zulip API sends to clients as part of the `/register` API response doesn't consistently end with or without a trailing slash. As a result, clients are creating Jitsi meeting URLs with an additional slash. If the API removed the trailing slash from the value read from Django settings before adding it to the realm state, this issue

[2020-08-28 22:06] andersk opened #16227 "With Flatpickr open inside settings, pressing Esc closes settings without closing Flatpickr"
In Settings → Your account, click on a custom date field (e.g. “Favorite date” in CZO) to open Flatpickr, then press the Esc key. The settings modal closes but the Flatpickr stays open. I would expect Esc to close Flatpickr without closing settings.

[2020-08-28 23:47] #16203 closed

[2020-08-29 05:48] galbwe commented on #14991
@zulipbot claim

[2020-08-29 09:46] dynamoh commented on #16227
@zulipbot claim

[2020-08-29 09:46] codesankalp commented on #15865
@timabbott please review the pull request. I have made changes according to your need.

[2020-08-29 09:47] dynamoh commented on #16227
Hey @andersk, I would like to work on this issue, can you guide me.

[2020-08-29 16:57] mateuszmandera opened #16233 "Show user's groups when previewing user details"
When previewing user details (see screenshot) we should show the user groups somewhere. We'd need to figure out the visual design of this, but it seems pretty important and worth the effort, as right now the only way to figure out which groups someone belongs to is in `Manage organization -> User groups` and looking the person up.

![image](https://user-images.githubusercontent.com/45007152/916421

[2020-08-30 06:07] S-Abhishek commented on #16225
Hi,

I would like to contribute to this issue, but I have a doubt,

Is the issue due to users setting up zulip with jitsi url ending with trailing '/'? If so my proposed solution would be to use `re.sub("/$", "", settings.JITSI_SERVER_URL)` to fix this issue or to add a note in the documentation that urls given must not end with a slash.

[2020-08-30 22:22] timabbott opened #16239 "Set up Junit XML output from Puppeteer tests (etc.)"
We've recently made two majors changes to our testing infrastructure:
* Migrating to GitHub Actions from CircleCI as our primary CI infrastructure
* Replacing Casper with Puppeteer, which as a side effect caused us to no longer have tooling that generics Junit XML files.

We should look at using junit.xml files (the ~standard format for communicating which tests failed, though maybe there's a bett

[2020-08-30 22:29] timabbott commented on #16233
I'm not sure if we want to put the information here or on the "Full profile" (which might be better as it'd let us keep this element fixed in size), but it seems clear we should show it somewhere.

[2020-08-30 22:32] timabbott commented on #16224
Hmm, not sure what the bug is here; @vinitS101 @hackerkid can you investigate?

[2020-08-30 23:43] #16122 closed

[2020-08-31 01:16] timabbott opened #16240 "Set up puppeteer tests with Firefox too"
From https://github.com/puppeteer/puppeteer#faq, it looks like there is Firefox support:

We should see if we can add a `test-js-with-puppeteer --firefox` option that uses this.

@chdinesh1089 @priyank-p FYI.

[2020-08-31 01:43] timabbott commented on #16083
Addressed as a first pass in 0b2854f0107a27ba5a85a3b37b4a53c699f1cdc0; leaving this open until we do a bit more work on that.  That commit has several TODOs in the debugging section that I'd love you folks to tackel in a follow-up PR, but should provide a framework for adding your insights.

For that `console.log` thing -- should we just add that to what runs by default in the testing infrastructu

[2020-08-31 06:06] Amitsinghyadav commented on #15384
@zulipbot  claim , as I am new here can you tell me about where will be the files for this, it will help me to get idea faster, I have done with all development setup.

[2020-08-31 10:09] theraser commented on #16224
The "Hab's verstanden" (English: "Got it!") is translated at locale/[language]/translations.json, the rest of the text is translated at locale/[language]/LC_MESSAGES/django.po. Maybe that's the problem - sorry, I cannot investigate this any further :-)

[2020-08-31 14:32] Amitsinghyadav commented on #15384
@orientor As I am very new to open source contribution, I am going through the urls, then views and then template to get exact file for change ,but I can;t be able to find desired file. What I have understood about this issue is that I have to create reference urls such that we can directly go to a desired heading at same page. Hope to get learning from this issue.

[2020-08-31 15:22] hackerkid commented on #16224
#16242 will fix this :)

[2020-08-31 15:58] ifaisalalam commented on #16215
@zulipbot claim

[2020-08-31 17:12] sdurrheimer opened #16246 "manage.py: import uploads doesn't work with S3-compatible backend"
Hello,

I'm trying to set up a server from imported Slack datas on Scaleway.

Scaleway has a S3-compatible object storage which I'm trying to use for avatars and uploads.

But during the import of the `converted_slack_data`, the S3 uploads fails with the following error:

[code]

It looks like the import mechanism try to connect to AWS and doesn't take into account the `host` and `endpoint_url` co

[2020-08-31 18:22] #16224 closed

[2020-08-31 18:31] timabbott commented on #16246
@sdurrheimer thanks for the report.  This definitely works for us (we use that backend for data imports into zulip.com) but we don't use an /etc/zulip/boto.cfg there; so the issue is indeed likely to be that we're not processing `/etc/zulip/boto.cfg` properly.

The code that should configure that is this block in `zproject/computed_settings.py`:
`os.environ['BOTO_CONFIG'] = '/etc/zulip/boto.cfg'`

[2020-08-31 19:11] PawBud commented on #16081
ok, I think I am confused now, as to what are we trying to achieve here, I thought we were ok with completely removing the guest option? Or at least let's keep it for non-members(Org admins, owners) but then that wouldn't make sense, Moreover u said that users can still sign up as `guests` through the sign-up page, so we are technically not removing the option overall?

[2020-08-31 19:21] wpj commented on #16225
Yeah, that's exactly right, when the Jitsi URL is configured without a trailing slash, there's no problem for clients. I think that the approach you described or `settings.JITSI_SERVER_URL.rstrip('/')` would be a good solution.

[2020-08-31 22:07] Gittenburg commented on #16081
Through the sign-up page you sign up as a full user (not as a guest). So offering the guest option doesn't make sense when anybody can just get a full account by signing up for a new account.

[2020-08-31 22:16] timabbott commented on #16225
Yeah, I think the `rstrip` approach seems right.  We've already signaled to users in the `settings.py` template that one doesn't need a trailing slash, but it seems like worth doing this bit of normalization.

[2020-08-31 22:30] timabbott commented on #16227
@aero31aero has worked with flatpickr more and may have some ideas.

[2020-08-31 23:43] #16164 closed

[2020-09-01 00:04] timabbott opened #16252 "Save/discard buttons in "organization settings" busted after Bootstrap upgrade"
I'm guessing the Bootstrap upgrade is responsible; we have this super weird CSS for our "save/discard" widget buttons in the settings UI:

![image](https://user-images.githubusercontent.com/2746074/91780291-f32d7900-ebab-11ea-9399-65d474ef1780.png)

@amanagr FYI.

[2020-09-01 00:40] alexmv opened #16253 "Deactivated realms should have a configurable redirect URL"
Often, realms are deactivated on a Zulip instance if they have moved to another server -- particularly for Zulip Cloud instances.  Add a `deactivated_redirect` URL field on the Realm object which would allow https://acme-inc.zulipchat.com/ to say (e.g.) "This realm has moved to https://zulip.example.com/".

For a first pass, having this only settable via a command-line management interface flag is

[2020-09-01 01:41] timabbott commented on #16222
@scasplte2 can you explain a bit more what you mean by "become unwieldy"?  In theory, there shouldn't be much inconvenience to having old topics in the scroll history that nobody's looking at.

[2020-09-01 01:42] timabbott commented on #16221
@hackerkid can you look at this one?  Might be similar to the hotspots bug.

(Also, is #6866 actually done?)

[2020-09-01 01:42] timabbott commented on #16100
No, we use Zulip: https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html

[2020-09-01 01:44] #15865 closed

[2020-09-01 02:41] sumanthvrao commented on #11618
@zulipbot claim

With the followups to #16179 almost complete, this would be the next item to takeup.

[2020-09-01 02:51] orientor commented on #15384
@Amitsinghyadav most of the changes will have to be done in `zerver/lib/markdown/api_arguments_table_generator.py`. This file renders the arguments in all API docs.

[2020-09-01 03:43] S-Abhishek commented on #16225
@zulipbot claim

[2020-09-01 03:47] S-Abhishek commented on #16225
This issue seems like a good first issue, would love to contribute to this little change once the label is added.

[2020-09-01 04:14] KarenEfereyan commented on #16253
@alexmv im a new contributor and would like to fix this. Can you put me through

[2020-09-01 04:48] Sytten commented on #11440
That wont work after September 30th once the service becomes paid again.

[2020-09-01 04:53] timabbott commented on #16253
The backend half of https://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html is likely helpful.

[2020-09-01 05:06] timabbott commented on #14400
The second issue is addressed by removing Casper; and I'm not sure what I'd put in a troubleshooting section of `testing-with-django.md` ; we've generally aimed to have test-backend output provide that sort of tip directly.

[2020-09-01 05:06] #14400 closed

[2020-09-01 05:17] timabbott opened #16254 "Responsive mobile "New organization" page is broken"
This is what zulip.com/new looks like on mobile (easily reproducible in a development with localhost:9991/new):

![image](https://user-images.githubusercontent.com/2746074/91797470-816b2480-ebd7-11ea-9bf4-9443382d736b.png)

We should figure out what's broken, whether that affects any of our similar pages (password reset, etc.), and fix it.

[2020-09-01 05:28] #15999 closed

[2020-09-01 05:40] timabbott commented on #14912
Noted.  At least we'll save future users from similar problems.  It should be possible to write a tool for merging users; a general such tool would require a carefully tested enumeration of database tables with foreign keys on UserProfile; as anything not migrated explicitly would get corrupted without some special care.

[2020-09-01 05:58] #15448 closed

[2020-09-01 06:05] aryanshridhar commented on #16254
Hey , Should I go ahead and take this issue or will it be referenced within #16074 .

[2020-09-01 06:22] PawBud commented on #16081
I see, so we have to remove it overall? This should require a discussion at length with others, right?

[2020-09-01 06:24] garg3133 commented on #16254
Hey @aryanshridhar, I will address this issue in #16074 itself as I've made some changes there which are to be taken care of while resolving this issue. Thanks.

[2020-09-01 06:24] S-Abhishek commented on #16225
@zulipbot claim

[2020-09-01 06:34] Amitsinghyadav commented on #15384
@timabbott I want help for this issue ,as I am new  to open source community Zulip,I am not able to find the right file for this issue to make changes.I have tried to go through the templates ,urls and views but not getting.
What have I understood about this issue is that I have to create url to directly reach to a particular section at same page.
Hope to learn from this issue.

[2020-09-01 10:19] sdurrheimer commented on #16246
@timabbott Setting `os.environ['BOTO_CONFIG'] = '/etc/zulip/boto.cfg'` or even setting the envvar in my shell doesn't seem to help with my reproducer script.

[2020-09-01 12:18] showell opened #16258 "github webhook: Re-visit ignored events and actions"
Please only try this issue if you have a little bit of knowledge of the github webhook, as it will require making some judgment calls and getting consensus on new features.

We have the following:

[code]

(The latter list hasn't been merged at the time of this writing.)

Sometimes when we ignore events (or actions) it's very deliberate, because the events/actions would be too spammy for users.  O

[2020-09-01 12:49] hackerkid commented on #16221
#15583 added translation tags to all the messages sent by the NOTIFICATION_BOT. If that is the scope of the issue then it can be closed.

[2020-09-01 13:04] showell commented on #16258
Also look for:

[code]

[2020-09-01 13:35] Dylan-DPC commented on #4271
(Coming from the rust community) would be nice to see this implemented

[2020-09-01 16:04] scasplte2 commented on #16222
This is simply a matter of preference to keep the number of actionable topics to a reasonable number.

[2020-09-01 16:04] codesankalp commented on #16215
@Gittenburg  can you explain me more about this issue because i wasn't able to generate this issue so that i can try to resolve it.

[2020-09-01 16:19] ifaisalalam commented on #16215
@codesankalp I am able to reproduce the problem. If you have Zulip running on your local, open http://localhost:9991/devlogin/?next=/upgrade/#sponsorship then click on any login button. It will throw an error.

You could also inspect the button in your dev tool, you could see `formaction` is set to wrong path because of parsing issue. Also, the parsed URL in the `formaction` attribute does not con

[2020-09-01 17:00] sumit-kushwah commented on #15946
@zulipbot claim

[2020-09-01 17:44] timabbott opened #16261 "Add support for GitHub "converted to draft events" in GitHub webhook"
GitHub seems to have recently added a 'pull_request:converted_to_draft' event type, which isn't currently supported by Zulip's GitHub webhook.  We should probably just add support for it.

See https://zulipchat.com/api/incoming-webhooks-overview for details on the process here.

[2020-09-01 17:47] timabbott commented on #16258
I think with the GitHub webhook, it's reasonable to support essentially all actions, since GitHub supports filtering events on the integration configuration side.

[2020-09-01 17:56] #16252 closed

[2020-09-01 18:09] theraser commented on #16221
Sorry, I forgot the screenshot. The issue is about the initial welcome bot, not the regular notification bot. If they share the same base, this should be already fixed as you wrote.

![grafik](https://user-images.githubusercontent.com/7988080/91889919-ee8dc100-ec8e-11ea-8586-a06dd91de021.png)

[2020-09-01 18:24] #15770 closed

[2020-09-01 18:27] timabbott commented on #15770
This is now fixed!

For anyone who hadn't done the workarounds described above, we pre-ran the migration that fixes the data for existing users on zulip.com as part of verifying the change; so it should be fixed for everyone using Zulip Cloud.

[2020-09-01 18:46] showell commented on #16261
This is a subset of #16258, so we can maybe close it?

[2020-09-01 18:48] showell commented on #16258
For convenience, here are the docs: https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads

[2020-09-01 19:03] showell commented on #16261
Closing...see #16258

[2020-09-01 19:03] #16261 closed

[2020-09-02 00:29] #16225 closed

[2020-09-02 06:20] aryanshridhar commented on #16147
Hey , @Gittenburg Should this issue be worked upon or to be discussed within a new topic as it has been labelled as <code>feedback wanted</code> .

[2020-09-02 06:45] Gittenburg commented on #16147
Yes I am not convinced that we need reply buttons because in Zulip you can click anywhere on a message to reply to it (within its topic).

In Mattermost the reply button just replies in the same thread without quoting the message (so the same as clicking on a message in Zulip). Slack's reply button afaik also does not quote the message. Telegram does not have threads, so they need the quoting for

[2020-09-02 07:05] codesankalp commented on #16215
@zulipbot  claim

[2020-09-02 07:06] codesankalp commented on #16215
Thanks @ifaisalalam

[2020-09-02 09:21] dynamoh commented on #15948
I would like to work on the issue

[2020-09-02 10:05] aryanshridhar commented on #16038
@zulipbot claim

[2020-09-02 10:17] dynamoh commented on #16227
Hey @aero31aero, can you guide me on this?

[2020-09-02 16:44] sdurrheimer opened #16273 "Twitter integration not previewing links"
Hello,

I had a running Zulip server with no twitter integration setup.

I modified the `/etc/zulip/zulip-secrets.conf` as documented in the `/etc/zulip/settings.py` with the following keys and values from my app in https://developer.twitter.com `API Key & Secret` and `Access Token & Secret`:

[code]

And restarted the server with:

[code]

But after that, my twitter links are not previewed:
 

![

[2020-09-02 17:58] timabbott commented on #16273
Can you try using `scripts/get-django-setting TWITTER_CONSUMER_KEY` etc. to check if Zulip is correctly accessing those settings?  Sort sort of typo in your configuration is the most likely problem.

[2020-09-02 18:41] timabbott commented on #16221
That message is tagged for translation.  Since it's sent to new users, I believe the language chosen for it is determined by https://zulipchat.com/help/change-the-default-language-for-your-organization; @theraser can you check that you've configured that setting to be non-English?

[2020-09-02 19:57] codesankalp commented on #16215
@Gittenburg please review it.

[2020-09-02 20:49] theraser commented on #16221
Yes, our default is German. Only this message is in English, the remaining interface is in German as expected. Just verified it with a fresh user account.

(The missing hotspot translation in the screen shot is already fixed with #16224)

![grafik](https://user-images.githubusercontent.com/7988080/92034850-1e5fc600-ed6e-11ea-8cd0-ef38c5500dea.png)

[2020-09-02 21:00] shanukun commented on #16258
@showell There is a `submitted` action with state `approved` but I can't seem to find any docs related to `approved` pull request action.

[2020-09-03 00:49] timabbott commented on #6866
Closing as resolved; I think the only remaining work is debugging whatever #16221 is.

[2020-09-03 00:49] #6866 closed

[2020-09-03 07:51] Lithimlin commented on #14499
Any new developments on this?

[2020-09-03 08:55] andreas-bulling opened #16284 "Move topic to a private stream"
Dear all,

It would be nice if at least the administrator/owner could move topics to a different stream. This necessity occurs frequently on our (intensively used) Zulip installation when I am "cleaning up".

[2020-09-03 09:03] sdurrheimer commented on #16273
@timabbott 
I tried your command for each twitter settings, each worked with the proper value I have set in `/etc/zulip/zulip-secrets.conf`.

[2020-09-03 09:59] sahil839 commented on #16284
@andreas-bulling Organization administrators and owners are allowed to move topics to a different stream. See this - https://zulipchat.com/help/rename-a-topic

[2020-09-03 10:55] GhaziTriki opened #16285 "User change password internal error"
I am using `postal` as an e-mail server and when I try to reset the password I get this error in the logs. The UI shows `Internal server error`

[code]

`postal` gets a invalid user name from `zulip`.

[2020-09-03 10:58] andreas-bulling commented on #16284
I tried but I receive an error message:
Error moving the topic: Streams must be public

[2020-09-03 11:00] sahil839 commented on #16284
Yes you can move the topics only from a public stream to a public stream.

[2020-09-03 11:35] andreas-bulling commented on #16284
I've changed the title accordingly.

[2020-09-03 11:51] sahil839 commented on #16284
It's fine but we already track this in first part of #14499. (on which you have already commented)

[2020-09-03 12:01] GorangeNinja opened #16287 "Feature request: Locally rename streams"
As a user it's annoying when the organization uses overly long or inaccurate stream names. For example: "CS and BT Q3 2020 General", the ability to rename/nickname it to "General" would be appreciated.

[2020-09-03 12:21] sdurrheimer commented on #16273
Okay, today I tested it again and it looks like it working as intended. Didn't do any specific change or restart.

[2020-09-03 12:28] andreas-bulling commented on #16284
That other issue is about moving messages - the current one about moving whole topics. I supposed that is different?

[2020-09-03 12:32] sahil839 commented on #16284
AFAIK Moving messages includes moving the whole topic.
We can keep this issue open unless someone confirms this.

[2020-09-03 12:35] andreas-bulling commented on #16284
If there is no difference between these two cases this issue can be closed, of course. Let's see what other people say.

Thanks for your help with this so far!

[2020-09-03 14:00] showell commented on #16185
There's also a `copyCard` event.

[2020-09-03 14:58] amanagr commented on #14499
@Lithimlin thanks for pinging on this issue, I can try some positive work done on it this week, seems simple enough.

[2020-09-03 17:54] hackerkid commented on #16221
The initial PM from the welcome bot uses the browser locale of the user for translating the message. And the reply acknowledgment, once you sent back something, is translated using the user.default_language of the user  present in settings (which would be the default language of the organization by default). Yeah. It's not really idea at the moment.

All the hotspots use the user.default_language

[2020-09-03 18:17] hackerkid opened #16288 "Improve how we set the default_language of the user and organization"
### New organization creation

Currently, when a new user creates an organization, the default language of the user and the organization is set as English irrespective of what the browser locale is.

- [x] We should instead be setting the default language of the user to be the one sent by the browser.

- [ ] ~~The same for the default language of the organization as well.~~ Replaced by: #25729

##

[2020-09-03 20:52] stevegula commented on #8021
The lack of this feature is likely to be the reason I move my company back to Slack. Maybe myself and my users expect Zulip to work more like a chat room and less like an email client, but it is amazingly aggravating that it doesn't scroll down past my own recent message when a new one comes in.

[2020-09-04 01:00] timabbott commented on #16221
Hmm, yeah, having a inconsistent data source for the language seems wrong.  We should use the same language we use for everything else on the initial loading screen, which is `user.default_language` once the user account has been created (copied off realm.default_language).  If we do #16288 the result would most likely be to change how we pick `user.default_language`, not any of the code described

[2020-09-04 02:09] andersk commented on #16109
It looks like the upcoming [OpenAPI 3.1.0](https://github.com/OAI/OpenAPI-Specification/blob/3.1.0-rc0/versions/3.1.0.md) will, by way of incorporating [JSON Schema 2019-09](https://json-schema.org/draft/2019-09/release-notes.html), support an [`unevaluatedProperties`](https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.3.2.4) keyword that sees through `allOf` and `$ref`. It

[2020-09-04 02:16] andersk commented on #16109
The [json-schema-merge-allof](https://github.com/mokkabonna/json-schema-merge-allof) library claims to do `allOf` merging correctly. Comparing its output to `yamole`’s might help highlight where we’re relying on `yamole`’s incorrect behavior.

[2020-09-04 09:25] garg3133 opened #16296 "Compose box resize issue while inserting files in preview mode"
If we insert some files from `markdown_preview` mode and then switches back to `edit` mode, the compose box doesn't get resized automatically (neither do it allows scrolling).
![chrome-capture-1](https://user-images.githubusercontent.com/39924567/92223474-22026280-eebe-11ea-8b18-d05689f47980.gif)

Actual size
![Annotation-2020-09-04-014948](https://user-images.githubusercontent.com/39924567/922234

[2020-09-04 09:26] garg3133 commented on #16296
I'd like to try out resolving this issue too.

[2020-09-04 09:41] sahil839 commented on #16211
@zulipbot claim

[2020-09-04 09:49] Gittenburg commented on #16287
I don't think we should introduce this feature because having people call the same streams different things is bound to result in confusion. Maybe suggest your admins to use the same streams across quarters?

[2020-09-04 10:42] ThomasBaeuml opened #16299 "Change notification sound"
Dear all,

I tried to change the notification sound. I wanted to change Ding.mp3/Ding.ogg for another sound (with the same name), but after change the sound and restart the zulip server, the old sound is still there. Is the sound stored somewhre else?
I also tried to add a new custom sound like [here](https://github.com/zulip/zulip/commit/ba46dc83c6d6d6ef7d646ee7a5b2ffc6958dfcf4?branch=ba46dc83c6d

[2020-09-04 16:00] ritikchauhan-01 commented on #16299
you can add the another sound with the same name in static/audio/notification_sounds

[2020-09-04 16:27] ThomasBaeuml commented on #16299
@ritikchauhan-01

Thanks for the fast reply!

I already try this... replace and delete the old version of Ding.* in /prod-static/serve/audio/notification_sounds, but it doesn't work. So my question is, if the sound is saved somewhere else.

[2020-09-04 17:51] timabbott commented on #16299
The process described will work if you follow the process described in https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#modifying-zulip

If you just make changes in directly in production, you need to workaround various caching and static asset build related details (e.g. find `prod-static/`, and deal with hash-named files that we've configured to be cached forever by brows

[2020-09-04 17:51] #16299 closed

[2020-09-04 17:52] timabbott commented on #16284
I expect https://github.com/zulip/zulip/pull/16297 will resolve this.  @amanagr want to update your PR to close this?

[2020-09-04 17:57] timabbott commented on #16287
I mostly agree; while we could implement that sort of nickname feature and it might not even be hard, this feels to me like a configuration problem in this organization that should be fixed by all of its users.  @GorangeNinja can you ask the organization administrators why they've gone with such verbose stream names?  It seems like the "Q3 2020" part at the very least shouldn't be there during the

[2020-09-04 19:45] #15897 closed

[2020-09-04 19:50] #16273 closed

[2020-09-04 19:51] timabbott commented on #16273
It works for both Tweets for me:

![image](https://user-images.githubusercontent.com/2746074/92279968-3f7b0080-eead-11ea-87a8-4a809745b2ca.png)

Are you running the latest Zulip?  With versions older than 3.0, it's possible that you neglected to restart the Zulip server after some final fix, and what you're seeing is only some processes having updated to the new settings.

[2020-09-04 19:52] timabbott commented on #16273
You can also check `/var/log/zulip/errors.log`; it's possible that your Zulip server got a networking server accessing the Twitter API.

[2020-09-04 19:54] timabbott commented on #16285
I suspect that the problem is in how you've configured https://zulip.readthedocs.io/en/latest/production/email.html; check the troubleshooting section there.  Zulip gets the From email address to use for outgoing emails from your configuration.

[2020-09-04 19:54] #16285 closed

[2020-09-04 20:07] #16077 closed

[2020-09-04 21:41] adampankow opened #16300 "Allow users to disable displaying of inline image previews"
Discord has a similar feature, targeted at low-bandwidth users or those that do not want posted images displayed.

In my case someone was not fond of animation, specifically of the Giphy variety.

Such a setting per user would allow users choice over whether they want inline image previews or not.

[2020-09-05 04:36] Gittenburg commented on #16300
Thanks, that's a good suggestion! This could be implemented with just modern HTML5 using:

[code]

`loading=lazy` [is supported by Firefox, Chrome and Edge](https://caniuse.com/#feat=loading-lazy-attr).

A related issue that should improve Zulip for low-bandwidth users is #16210.

[2020-09-05 05:58] aryanshridhar commented on #16300
@zulipbot claim

[2020-09-05 06:54] Amitsinghyadav commented on #15384
@timabbott  I have made changes for this issue and created a pull request , I am new here , this is my first issue on which I worked.
I don't know what to do next to get code merged.

[2020-09-05 07:51] shanukun commented on #16300
@zulipbot claim

[2020-09-05 08:46] amanagr commented on #16284
Okay, done!

[2020-09-05 08:46] amanagr commented on #16284
Okay, done!

[2020-09-05 13:56] PawBud commented on #15039
Either way is fine by me, If that happens then I will close my PR too!

[2020-09-05 15:33] Gittenburg commented on #15039
There already is an open PR for switching to the HTML5 picker: #15796

[2020-09-05 17:04] PawBud commented on #15039
Well in that case, if it gets merged then I will close my PR

[2020-09-05 18:19] hackerkid commented on #16221
We still have to override the language used in the initial stream and PM message sent by the bot. At the moment it uses the language sent by the browser and not the `user.default_language.`.

[2020-09-06 02:02] ytjohn commented on #13571
I am actually in the process of evaluating Zulip on a self-hosted instance to replace a mailing distribution list (google groups). At the end of the day, for my use case (self hosting zulip for a single org), I'd like to give out a short email address to the users, as I expect over half of them to not log into the web interface most of the time. They would get the stream email notifications, reply

[2020-09-06 09:10] nathanielvirgo opened #16307 ""Loading..." on Mac app"
I use the Zulip app on a Mac. I leave it open all the time and check it periodically. However, after some time, it will always eventually starts showing the message

[code]

The message does not go away. The word "reload" is highlighted as a link, but clicking it does nothing. Right-clicking doesn't give an option to reload the page.

I've just realised while writing this bug report that I can pre

[2020-09-06 16:42] hackerkid opened #16310 "Send email asking customer to update the card when a card is declined multiple times"

[2020-09-06 17:40] MSurfer20 commented on #16026
@zulipbot abandon

[2020-09-07 09:21] flexd commented on #9957
I need this functionality as well! Is there any news on when this could get implemented? It kind of feels like the first thing you would want after LDAP login.

[2020-09-07 10:15] flexd commented on #9480
Any news on this? How can I help? I need this to be able to deploy Zulip :-) Hard to argue for Zulip when this isn't possible

[2020-09-07 16:42] amanagr commented on #15384
@**Amit Singh Yadav** Thanks for working on this issue. Can you also add the chain icon on hover so that it is easier to create and copy links to these references?
<img width="250" alt="Screenshot 2020-09-07 at 10 09 52 PM" src="https://user-images.githubusercontent.com/25124304/92407044-2e551c80-f157-11ea-9483-3865bb06273f.png">

[2020-09-07 22:54] Pugio opened #16315 "feature request: search for topics LIKE a phrase (full text search for topic title)"
Currently the `topic:` operator only matches exact topics.

It would be really helpful to be able to do searches like:
`stream: updates topic: "project5:"`

This would give me a list of topics whose title begins with "project5:".

This would be incredibly useful when bookmarking the search/view. Users could then establish
basic naming conventions and easily filter streams to sets of topics relevan

[2020-09-08 05:24] PawBud commented on #16081
uhmm, @Gittenburg, sorry to bother you by over pinging, but I would love to hear some updates about this issue, as to what has been decided?

[2020-09-08 07:54] GhaziTriki commented on #16285
@timabbott The email configuration is properly working as I am getting e-mail notifications for missed messages.
I suspect the password forgot is not send the e-mail the same way alerts being sent. Can you please show me where it is done in both places?

[2020-09-08 08:08] Hypro999 commented on #3775
Still working in this - just waiting for review. Just pushed to this about 3 days ago so I'm not sure what lead to this being triggered...

[2020-09-08 08:10] palashcode commented on #15331
@zulipbot claim

[2020-09-08 09:48] S-Abhishek commented on #16315
Hi @Pugio,

I think this issue was raised before: https://github.com/zulip/zulip/issues/12328#issue-444515508, but no one has contributed to it as of now.

I went through the codebase and it seems that for searching, it calls `json/messages` GET method, with `narrow` query parameter with value like so,

`[{"negated":false,"operator":"topic","operand":"URLS compiling quickly"}] `

I too would like

[2020-09-08 13:09] S-Abhishek commented on #16315
@zulipbot claim

[2020-09-08 13:25] galbwe commented on #14991
Still working on this.

[2020-09-08 13:50] sumanthvrao commented on #15784
Still working on this - Awaiting a review...

[2020-09-08 20:44] Gittenburg commented on #16081
Nothing has been decided yet. I am afraid you still don't get what I was saying. We don't want to completely remove it ... just remove it in certain cases.