[2017-09-22 19:43] #6319 closed

[2017-09-22 19:59] showell opened #6635 "Show avatars for persons in autocompletes."
We should show avatars in the web app when we have typeaheads for people, particularly when we do at-mention typeaheads.  The mobile app already does this, and it can prevent accidental spamming of people.

[2017-09-22 20:03] borisyankov commented on #6635
I am sure Tim April will appreciate that :trollface:

[2017-09-22 20:59] rishig commented on #6576
ok, I think I know what's going on. The problem is just when `SEND_ALL = True` (which is just used for testing). The frontend relies on each hotspot being sent up at most one time, and that contract is violated when `SEND_ALL = True`.

I'm tempted to close, but regardless, this shouldn't block turning hotspots on.

[2017-09-22 21:10] timabbott commented on #6576
I would not close as long as we imagine that being part of the hotspots development experience, which it seems like it might be.

Also, I think there's a totally reasonable future where we have 2 hotspots enabled at once, e.g. one on the main page and one in the settings UI.

[2017-09-22 21:15] rishig commented on #6576
The part that's broken is having the same hotspot twice; having two different hotspots is fine, as far as I know.

Leaving it open is fine. I suspect the right solution is to edit the documentation to correctly set expectations, rather than trying to fix it.

[2017-09-22 21:38] timabbott commented on #6576
Hmm, in that case, I'd try to fix the `SEND_ALL` feature to deduplicate, but if that's messy, we should at least document this.  My experience is that it's usually less total work to just make a thing just work than to have to explain it to everyone working on the subsystem :)

[2017-09-22 21:43] showell opened #6638 "Update timestamps when locally echoed messages get acked."
When locally echoed messages come back from the server, we need to make sure we update the timestamp in the message store with the server-side timestamp.

At least one fix should probably be in `echo.process_from_server`, but we want to analyze the codepath.  We need to account for the fact that messages get acked both via the server request and via the events mechanism.

[2017-09-22 21:59] timabbott opened #6639 "Improve error message for unregistered server from push notification bouncer"
Dave Cadwallader: cool. seems to be working well. i did however get this email when someone just logged in something like this: `zerver.lib.exceptions.JsonableError: Invalid Zulip server: <uuid>`

I believe this is going through this code path in `send_to_push_bouncer`:
[code]

What we should do is use an actual error code so we can reliably check for this specific error (which is sent by the push

[2017-09-22 22:43] timabbott commented on #4839
@pweaver just pinging you on this; any chance you can find time to work on this in the next few days?  I'd really like to address this in our release.

[2017-09-22 22:43] timabbott commented on #5293
@gnprice did you end up fixing this in your prod installer docs work?

[2017-09-22 22:48] #3704 closed

[2017-09-22 22:50] timabbott commented on #3608
I believe this was fixed by @gnprice a while back; can you confirm?  If so, we should close the issue.

[2017-09-23 00:15] rishig commented on #6576
okay, I *think* the following should work:
* In insert_hotspot_into_DOM in hotspots.js, check whether there is a thing with id `"hotspot_' + hotspot.name + '_icon"`.
* If there is, return without doing anything.

[2017-09-23 00:17] imjennyli commented on #6627
@showell @timabbott I'd love to take a look at this! I found this project through https://github.com/showcases/great-for-new-contributors :) mind if I take a crack at it?

[2017-09-23 00:19] lonerz commented on #6627
@imjennyli welcome! You can claim the task by commenting `@zulipbot claim`

[2017-09-23 00:19] alirizwi commented on #6627
@zulipbot claim

[2017-09-23 00:31] imjennyli commented on #6627
whoops. ah well, I think there are additional steps I need to take w/ my employer before I sign CLA's. :) Will come back and find another issue to work on then. thanks @lonerz!

[2017-09-23 03:06] timabbott commented on #3704
@feorlen I believe I added support for this in master just now; do you have time to test it?

[2017-09-23 04:30] AasthaGupta commented on #1189
@zulipbot claim

[2017-09-23 13:07] vishwesh3 commented on #6601
Seems to be fixed in current latest deploy, so closing it. Will reopen if I reproduce it.

[2017-09-23 15:01] non-Jedi commented on #356
As a maintainer of the matrix-python-sdk, I should note that the python sdk doesn't have AS capabilities by itself. There are a couple of third-party projects for matrix application services in python (one of which I'm working on myself), but their maturity isn't great. For developing application services, JS is better if it's possible to use JS.

[2017-09-23 15:36] rht opened #6647 "Move "Invite more users" in the right sidebar to organizational settings in the gear menu."
As has been discussed in https://chat.zulip.org/#narrow/stream/feedback/subject/symmetry.20between.20left.20and.20right.20sidebar/near/286460

The UX should be like subscribing a user to a stream.

[2017-09-24 08:20] kritisingh1 commented on #6477
Yeah I am still working on it and will soon make a PR. Apologies for delay

On Sun, Sep 24, 2017 at 1:24 PM, zulipbot <notifications@github.com> wrote:

[2017-09-24 08:21] kritisingh1 commented on #6510
Yeah I am working on it. Apologies for delay. I will update it soon.

On Sun, Sep 24, 2017 at 1:24 PM, zulipbot <notifications@github.com> wrote:

[2017-09-24 08:50] tommyip opened #6652 "Stream subscription message does not decode HTML entities."
Chat: https://chat.zulip.org/#narrow/stream/issues/topic/Stream.20subscription.20msg

![img_20170924_092947](https://user-images.githubusercontent.com/18504232/30780900-6c9fa4b2-a10d-11e7-83e4-d9e1b0a562a8.jpg)

The stream name should be `ML / NLP`.

[2017-09-24 11:40] #6632 closed

[2017-09-24 11:46] timabbott commented on #6652
Nice find; I bet this will be a fairly quick fix.

[2017-09-24 14:19] NjeriNjoroge commented on #6361
@zulipbot claim

[2017-09-24 14:22] NjeriNjoroge commented on #1998
@zulipbot abandon

[2017-09-24 16:53] YJDave commented on #6578
@zulipbot claim

[2017-09-24 18:06] YJDave commented on #5614
I am working on this. Here is PR for this issue #6513

[2017-09-24 18:39] nwshane commented on #6605
@tommyip I would prefer that all topics I contribute to be in one place automatically, without me having to remember to star them.

[2017-09-24 19:44] ataul443 commented on #6578
@zulipbot claim

[2017-09-24 20:36] HarshitOnGitHub commented on #6324
@zulipbot claim

[2017-09-24 20:39] NjeriNjoroge commented on #6126
@zulipbot claim

[2017-09-24 20:41] synicalsyntax commented on #6414
Duplicate of #6126, closing

[2017-09-24 20:41] #6414 closed

[2017-09-25 03:14] timabbott commented on #6605
Yeah, I think this has value regardless of whether we also do #4271.

[2017-09-25 03:14] timabbott commented on #6605
@showell how hard do you think a frontend-only version of this feature would be?

[2017-09-25 03:35] #3882 closed

[2017-09-25 05:32] NjeriNjoroge commented on #6361
@zulipbot abandon

[2017-09-25 09:12] roberthoenig opened #6662 "Test the custom linter rules."
## Background
Linting is the process of automatically checking source code for errors, typos, or style inconsistencies, without actually executing the code. Zulip has automatic tools for linting both its source code and its documentation.
You can find general information on how Zulip does linting in Zulip's [Linters guide](http://zulip.readthedocs.io/en/latest/testing/linters.html).

### Custom li

[2017-09-25 09:14] derAnfaenger commented on #6662
@julianasobreira am I mistaken that you once wanted to work on a similar issue?

[2017-09-25 09:41] KiranShahdadpuri commented on #6490
yes, I am workingon this issue.

[2017-09-25 12:56] #6320 closed

[2017-09-25 12:57] timabbott commented on #6662
#6501 is merged, so folks should be able to start working on this.  I think we can divide the work by file type pretty easily, e.g. @julianasobreira can start with `js_rules` and @derAnfaenger with `python_rules`.  We should do ~10 of each and then revisit how we feel about the framework.

[2017-09-25 13:06] NjeriNjoroge commented on #6126
I would like to work on this issue, please guide on how to go about it. I already have the zulip development environment setup

[2017-09-25 13:07] NjeriNjoroge commented on #6126
@zulipbot abandon

[2017-09-25 13:09] NjeriNjoroge commented on #6652
Hi, i'm participating in the outreachy internship and i would like to contribute to this. My background is Android development. Any assistance on how to get started on this issue would be helpful. I have already set up the Zulip development environment

[2017-09-25 13:16] tommyip commented on #6652
Hi @NjeriNjoroge, it's best if we discuss this inside Zulip
chat: https://chat.zulip.org/#narrow/stream/issues/topic/Stream.20subscription.20msg

[2017-09-25 13:50] timabbott opened #6663 "Fix test_registration_through_ldap use of `realm_name` and `realm_subdomain`"
We want to do something similar to 5159151e5fd5bef787fbee814f833d38e982dad1 for `test_registration_through_ldap`.  That test is incorrect/confusing, in that it (1) currently does not properly pass `from_confirmation` to a lot of its submissions of the registration form (and thus is doing part 2 of registration, not part 1, unexpectedly), (2) passes the `realm_name` and realm_subdomain` fields to t

[2017-09-25 14:19] showell commented on #6605
I am guessing a few days to get something working, but this will require a lot of polish across the board, in terms of having good tests around the model, nice UI, probably a setting to disable it, etc.

[2017-09-25 14:40] NjeriNjoroge commented on #6652
@zulipbot claim

[2017-09-25 17:27] hackerkid commented on #6509
@zulipbot claim

[2017-09-25 18:29] timabbott commented on #6634
@lmckenzi this was added in #6654, but we're still trying to decide on what the right name for the field is, since we're sure we've made the right choice.  Would you be up for posting on #6654 with feedback on the name ideas I suggested there?

Thanks!

[2017-09-25 18:29] #6634 closed

[2017-09-25 19:08] julianasobreira commented on #6662
@timabbott @derAnfaenger Great! I'll work on it.

[2017-09-25 19:32] #6480 closed

[2017-09-25 20:35] lonerz commented on #6061
@shubhamdhama zulipbot doesn't recognize edited comments. I have removed you from the issue now.

[2017-09-25 21:07] rishig commented on #6135
Closing in favor of #6512.

[2017-09-25 21:07] #6135 closed

[2017-09-25 21:08] timabbott opened #6665 "CSS for new organization signup email form clips "g" characters"
Here's an example:

![image](https://user-images.githubusercontent.com/2746074/30831054-f1145ede-a1fa-11e7-9d0b-e8eefc1489f3.png)

@brockwhittaker can you fix this?  Should be a quick bug.

[2017-09-25 21:09] timabbott commented on #6665
Tagging this as high priority since this seems to effect any "g" I enter in one of our registration forms.

[2017-09-25 21:11] timabbott opened #6666 ""Custom invitation message" has initial content of like 20 blank spaces"
This seems like a priority issue, since it feels kinda broken to need to enter text here.

[2017-09-25 21:13] timabbott opened #6667 "Improve visuals for "organization does not exist" error"
We should probably put this in a nice white box we use for similar features:

![image](https://user-images.githubusercontent.com/2746074/30831207-7c04f0bc-a1fb-11e7-9c04-17c5f788b3a5.png)

Accessible by visiting an invalid subdomain in development with REALMS_HAVE_SUBDOMAINS=True.

[2017-09-25 21:44] synicalsyntax commented on #6665
Possibly related to #6361

[2017-09-25 22:44] #5900 closed

[2017-09-25 23:17] timabbott opened #6674 "Suppress pika/RabbitMQ logging"
Following #6671, we now have the "Connecting to" and "Created channel" items below being logged in all of our worker logs every time they restart.  We should suppress these, since they're not really useful; probably it's one of the loggers in the `pika` library that `disable_existing_loggers` was turning off for us.

[code]

[2017-09-26 00:45] brockwhittaker commented on #6576
I don't think we really want to check in the DOM like that. I'd prefer the hotspot class just have an object of hotspots which are added and removed when they are added and removed from the DOM, so that we don't have to introduce two separate pieces of logic that are supposed to work side by side.

[2017-09-26 01:19] rishig commented on #6576
The problem is the SEND_ALL feature is kind of a messy hack. I'm fine with any solution, but given that this only runs in development, and is a questionable feature anyway, I don't think it's worth doing anything hard.

[2017-09-26 05:07] umairwaheed commented on #6663
@zulipbot claim.

[2017-09-26 05:08] Konigari commented on #6635
@zulipbot claim

[2017-09-26 06:59] shubhamdhama commented on #6581
@zulipbot claim, I'm able to reproduce this issue, trying to find some leads from related issues.

[2017-09-26 07:04] lonerz commented on #6581
@zulipbot label "bug"

[2017-09-26 08:46] shubhamdhama commented on #6581
@zulipbot claim

[2017-09-26 09:55] ritveeka commented on #6652
@zulipbot claim

[2017-09-26 11:13] Konigari commented on #6316
@zulipbot claim

[2017-09-26 11:25] Konigari commented on #6316
could u be more specific about the 1st issue?

[2017-09-26 13:25] ritveeka commented on #6652
@zulip abandon

[2017-09-26 13:41] Konigari commented on #5920
@zulipbot claim

[2017-09-26 13:44] Konigari commented on #5920
@rishig  just to be clear, you want a down arrow when we search for a user when we are writing a private message right?

[2017-09-26 13:48] ritveeka commented on #6511
If I am not wrong, when we receive a missed-message mail we can not reply to it via mail. So basically currently there is no functionality to reply via mail even in at-mention missed message case.

[2017-09-26 14:55] synicalsyntax commented on #6652
@ritveeka zulipbot doesn't record edited comments, but I assigned you for now.

[2017-09-26 15:26] ritveeka commented on #6511
@zulipbot claim

[2017-09-26 16:13] jumperskirt commented on #6126
@zulipbot claim

[2017-09-26 17:17] ritveeka commented on #6511
Oh, the mail that I received on the development console says that we can reply by replying to the mail.

[2017-09-26 17:47] lamarqua commented on #6040
Just for confirmation, I'm the person who reported the issue through feedback, indeed my problem was specifically that it appears in my mentions. (It just happened to me, right now.)

[2017-09-26 18:48] #6361 closed

[2017-09-26 18:48] #6665 closed

[2017-09-26 19:07] rishig commented on #5920
I mean here:
![image](https://user-images.githubusercontent.com/890911/30878977-f5a4488e-a2b2-11e7-8015-7248f425edc8.png)

If I wanted to PM "Tim K", typing "down arrow" a single time should get me there.

[2017-09-26 20:02] #6638 closed

[2017-09-26 20:10] rspier opened #6687 "Android @mention notifications render as @**person**"
Android notifications look like

@**Robert** some text

instead of

@Robert some text

![screenshot_20170926-124710](https://user-images.githubusercontent.com/43223/30881840-f890ba60-a2bb-11e7-8e93-8dd25dadf9c1.png)

[2017-09-26 20:10] rheaparekh commented on #6489
I have submitted the PR. I am waiting for the final review.

[2017-09-26 20:26] showell commented on #6638
@timabbott We can close this, correct?  You merged my three changes, and we saw no  flicker, and then you added a fourth commit with comments.

[2017-09-26 20:26] showell commented on #6638
oops, stale browser window

[2017-09-26 20:38] timabbott commented on #6674
I also noticed that `test-backend` in development now logs a bunch of exceptions in tests that that we are catching in the test code.  I'm not sure why the #6671 changes cause that, but it seems potentially annoying.  `test-backend zerver.tests.test_auth_backends.AuthBackendTest.test_ldap_backend` is a nice reproducer.

[2017-09-26 21:00] synicalsyntax commented on #6687
Thanks for reporting this issue @rspier! However, this repository is for the main web app; can you please make an issue in the zulip/zulip-mobile repository reporting this bug?

[2017-09-26 21:00] #6687 closed

[2017-09-26 21:13] timabbott commented on #5676
This was finished by @alenavolk, except for the `pointer` endpoint, which I think deserves its own issue, since it's a bit more complicated.

[2017-09-26 21:13] #5676 closed

[2017-09-26 21:13] timabbott commented on #6586
This was completed in #6603; I think we just forgot to close it.

[2017-09-26 21:13] #6586 closed

[2017-09-26 21:15] #6666 closed

[2017-09-26 21:16] timabbott commented on #6687
@borisyankov @kunall17 FYI in case @rspier doesn't get around to opening this in the mobile repo soon.

[2017-09-26 21:24] rspier commented on #6687
Done. https://github.com/zulip/zulip-mobile/issues/1221
Sorry about that.

[2017-09-26 21:30] #6291 closed

[2017-09-26 21:45] timabbott commented on #6687
No worries @rspier!  And thanks again for the bug report :)

[2017-09-26 22:03] #6344 closed

[2017-09-26 22:25] HarshitOnGitHub commented on #6351
Can't reproduce on both firefox as well as chrome on ubuntu. Both are having a scrollbar:
Chrome:
![image](https://user-images.githubusercontent.com/16687990/30887086-7b181d68-a337-11e7-963c-1dbc4af51430.png)

Firefox:
![image](https://user-images.githubusercontent.com/16687990/30887115-978523e2-a337-11e7-9c7e-a4a3ca614100.png)

[2017-09-26 22:51] timabbott opened #6693 "Support multiple groups of default streams"
Many larger organizations using Zulip for their chat server have multiple audiences that they are trying to serve.  E.g. in our own organization, we have sysadmins using Zulip, developers contributing code, and students wanting to do programs like Google Summer of Code.  Ideally, we'd be able to have the organization signup process offer a few choices for what default streams to join, with text so

[2017-09-26 23:05] gnprice commented on #6674
For the LDAP exceptions, just pushed 8907a0ed9 to my fork.

Looking at the others in turn; I think this will be a sequence of separate fixes for the different log sources.

Hmm, I think one thing I may do is add `name` -- the logger name that was used, typically the full name of a relevant Python module -- to the standard log format. That'd help us track down noisy sources, and it'd also help in r

[2017-09-26 23:51] synicalsyntax commented on #6351
[![https://gyazo.com/457cd23d06c3bd4482c27d22b2a38d47](https://i.gyazo.com/457cd23d06c3bd4482c27d22b2a38d47.gif)](https://gyazo.com/457cd23d06c3bd4482c27d22b2a38d47)

The only way I can scroll through  the menu is if I focus input and press a down arrow key to move through the rows.

[2017-09-26 23:52] timabbott commented on #6351
Can you try with #6691?

[2017-09-27 00:01] #6667 closed

[2017-09-27 00:04] rishig commented on #6316
To reproduce, select the last half of one message and the first half of the next. If you copy and paste, the thing that is pasted != the thing that was highlighted. The 1st issue is just asking to change the what is highlighted to match what will be pasted.

[2017-09-27 00:06] brockwhittaker commented on #6351
This presumably is the same perfectScrollbar issue that we have everywhere. Any scrollbar that isn't modified to be perfectScrollbar that is inside another perfectScrollbar won't work. Really frustrating.

This is making me feel less and less good about using perfectScrollbar while also trying to write maintainable code for the site, given that every since possible scrolling object must also have

[2017-09-27 00:10] timabbott commented on #6351
Idunno, on the other hand, normal scrollbars always look bad on Linux and Windows, so arguably we should be moving them all anyway.

[2017-09-27 01:00] synicalsyntax opened #6700 "user docs: Cannot scroll through sidebar on small screen devices."
It's currently impossible to scroll through the user docs sidebar on mobile devices, which is troubling for any user that wants to access a different user doc article through their smartphone.

[![https://gyazo.com/3c63003ee353e50b3589e3e5b3fff866](https://i.gyazo.com/3c63003ee353e50b3589e3e5b3fff866.gif)](https://gyazo.com/3c63003ee353e50b3589e3e5b3fff866)

(behavior is reproducible on mobile dev

[2017-09-27 01:18] rishig opened #6702 "user settings: Updating avatar doesn't update user popover."
To reproduce:
* Send a message
* Change your avatar via settings
* Exit settings
* Your 35px avatar will be successfully updated
* Click on your avatar, the 240px popover avatar will still be the old one.

[2017-09-27 01:32] synicalsyntax commented on #6351
@timabbott Still reproducible on my system while rebased on #6691

[2017-09-27 02:32] showell opened #6704 "Simplify logging now that we're on python3."
Context here:

https://chat.zulip.org/#narrow/stream/backend/subject/loggers/near/287993

[2017-09-27 02:33] hollywoodno commented on #6704
@zulipbot claim

[2017-09-27 04:02] #6674 closed

[2017-09-27 04:12] timabbott commented on #6700
Moved this up to high-priority :)

[2017-09-27 04:42] timabbott opened #6706 "Final page in email change flow could use some design work to use white box"
This looks fairly broken:

![image](https://user-images.githubusercontent.com/2746074/30896113-81793022-a303-11e7-8df3-57629104e9e2.png)

@brockwhittaker can you take this one?

[2017-09-27 05:56] #6391 closed

[2017-09-27 06:05] timabbott opened #6707 "Organization default language selector looks ugly in Firefox on Linux"
Here's what it looks like:

![image](https://user-images.githubusercontent.com/2746074/30898230-1e2b1a56-a30f-11e7-8a4d-2aa59144f856.png)

I feel like quite possibly we should actually just reuse the existing modal that we have for a user picking their personal default language, rather than having this totally separate thing.

[2017-09-27 07:18] rht commented on #6704
Also: remove `six` now that we're on python3.

[2017-09-27 10:30] kritisingh1 commented on #6510
@rishig one more observation was that if we have typed some message it remains open. However in case of null message, it closes even if we have typed the subject. @timabbott can it be fixed only by making some changes in hashchange.js or I need to modify the compose _*.js files too ?

[2017-09-27 10:55] showell commented on #6704
@rht You can add new tickets for various other python3 cleanups; this is specifically to track logging-related stuff.

[2017-09-27 12:46] showell commented on #6510
Before implementing this, I think we should get consensus on the frontend stream about what the correct behavior is here.  I think when you switch narrows, the current behavior of closing the compose box is correct for most cases, and we want to err on the side of avoiding mixes.  If there's message content, the compose box is currently sticky for the "forward" step.

For the back button, I think

[2017-09-27 13:15] rheaparekh commented on #6702
@zulipbot claim

[2017-09-27 15:37] timabbott opened #6713 "/apps page loses the download link on ultra-wide screens"
I had to zoom out a lot to reproduce this:

![image](https://user-images.githubusercontent.com/2746074/30922787-ff005f9c-a35e-11e7-8cd1-578c3185bfc5.png)

[2017-09-27 15:42] kritisingh1 commented on #6121
@rishig since I have worked with the hotkeys, I would like to take this up. Can you elaborate it a bit more that which hotkey do you want to include for which function?

[2017-09-27 15:52] rishig commented on #6121
Awesome!
Just realized this is a duplicate issue with #6546 -- maybe let's move this there?

[2017-09-27 15:52] #6121 closed

[2017-09-27 15:52] showell commented on #2606
I don't view resubscribes as a must-have feature, because I think in practice most people just ask friends to re-invite them to the old streams.  So, I think the immediate need here is to disable any buttons that lead to  cryptic error messages or improve error messages.

Once we get a stream owner concept in place, I think the request-invite idea is worth pursuing.

More discussion here:

https:/

[2017-09-27 16:01] rishig opened #6714 "help: Links to anchor tags from left sidebar don't work."
To repro:
On localhost:9991/help, click "Send a status message" in the left sidebar. It takes you to the top of "Format your message using Markdown", even though the URL is correct. (E.g. if you open another tab and go to that URL directly, it'll take you to the correct place.)

We do some fancy stuff when you click links in the left sidebar to avoid reloading the page, so the error is probably so

[2017-09-27 16:26] brockwhittaker commented on #6706
@zulipbot claim.

[2017-09-27 16:36] brockwhittaker commented on #6700
@zulipbot claim.

[2017-09-27 17:36] timabbott opened #6720 "Send semi-rendered content in mobile push notifications"
Currently, the functions that generate the raw content sent to the GCM/APNS mobile push notifications APIs in `get_gcm_payload` and `get_apns_payload` contain the first 200 characters of the raw markdown that the user entered as part of composing a message.

Here's my thought for how we can do the processing:
* Instead, take the markdown rendered content, remove all unsupported HTML tags (and mayb

[2017-09-27 17:47] HarshitOnGitHub commented on #6720
@timabbott Any doc where I can find which HTML tags are supported/not supported by both GCM/APNs?

[2017-09-27 18:24] kritisingh1 commented on #6714
@zulipbot claim

[2017-09-27 18:33] synicalsyntax commented on #6714
Just a heads up for clarification: the URL is correct, except the "Status messages" section isn't automatically scrolled to when the link is clicked; this is where the issue lies in.

[2017-09-27 21:12] Gyttegott commented on #2606
@zulipbot abandon

[2017-09-27 22:54] showell opened #6727 "Decide on self-mention functionality."
If you mention yourself, some of our functionality is based on earlier decisions that we want to re-visit.

Why would somebody mention themselves?  Well, we know that people often send messages to themselves for reminders.  People may want to at-mention themselves for strange reasons we don't predict, such as triggering a missed-message email.

I think actually the most common use for self-mention

[2017-09-27 22:58] #6612 closed

[2017-09-27 22:59] timabbott commented on #6727
Note that the current behavior is that for both private messages and mentions, if you sent the message to yourself from a human client (i.e. web or mobile, not the API), then we mark the message as read as soon as it is sent, and do not trigger push/email notifications for the message.

I do think we want to do something on this front, because we fairly frequently hear from users who try to test o

[2017-09-27 23:53] timabbott commented on #5113
This was resolved via #6383!  Huge thanks to everyone who contributed.

[2017-09-27 23:53] #5113 closed

[2017-09-28 00:17] timabbott commented on #6720
Yeah, I'm not sure there's a great doc; @borisyankov and @kunall17 are I think going to do some investigation, and I imagine will report back once they know.  But I figure if we write the code for filtering tags in a way where we just have a list of tags to keep, it shouldn't be too hard.

BTW I'd assume the function should take an argument for which service it is; for now, we'll ignore it, but I

[2017-09-28 00:19] #6700 closed

[2017-09-28 00:21] timabbott opened #6730 "Fix /help/ scrollbar visibility on mobile"
As a follow-up to #6717, I just noticed a new problems on mobile, which is that with the scrollable area closed, you see a scrollbar, which seems wrong:

![image](https://user-images.githubusercontent.com/2746074/30943784-1788c678-a3a8-11e7-841e-ded2652273ac.png)

[2017-09-28 00:44] #6706 closed

[2017-09-28 00:50] borisyankov commented on #6720
I can confirm, the iOS notifications cannot have any formatting. So we definitely need a version that strips all formatting.

For Android, the notifications support some html markup. A good place to read on some of the tags is here:
https://www.grokkingandroid.com/android-quick-tip-formatting-text-with-html-fromhtml/

I don't see too much value in trying to preserve the formatting.

[2017-09-28 00:51] anirudhkannanvp commented on #6473
@zulipbot claim

[2017-09-28 00:55] lonerz commented on #6473
@anirudhkannanvp we usually don't recommend multiple people from claiming a task.

Be aware that @kpdp, even though may be inactive, may come back to this. In a couple days, if @kpdp doesn't update this issue, then @kpdp will be removed from the issue and then you'll have the green light to take over the issue.

[2017-09-28 00:55] #6408 closed

[2017-09-28 00:55] #6519 closed

[2017-09-28 00:58] timabbott opened #6731 "Add real-time update to the "uploaded files" UI"
Currently, we don't update the "uploaded files" UI automatically when files are uploaded/deleted, so you need to reload the page for it to be useful.  I think fixing this wouldn't be super hard; we just need to add a new "attachment" event type with `add/remove` ops.

[2017-09-28 01:47] #6351 closed

[2017-09-28 02:48] #2232 closed

[2017-09-28 03:24] timabbott opened #6738 "right sidebar: Should run perfectScrollbar.update() when hitting backspace in right sidebar"
In the right sidebar, if you do the following:
* In a large realm, fliter to a subset of users that's long enough that still has a scrollbar (e.g. type "a").
* Scroll down in that list
* Hit backspace one or more times to unfilter
* move the mousewheel in the right sidebar area

Then at the last step, the scrollbar visibly resizes significantly, suggesting that probably it wasn't updated in step 3

[2017-09-28 07:39] shubhamdhama commented on #6730
@zulipbot claim

[2017-09-28 07:49] sampritipanda commented on #6515
Yes, I was on away for a couple of days.

[2017-09-28 08:50] hackerkid opened #6743 "If user uses a multiuse invite link for signing up mention it in registration form"
We should have something on the registration form that indicates that the user got there via an invite link.

If you need some context see #5656 and #6703 to see how multi use invite link is implemented.

[2017-09-28 09:04] hackerkid opened #6745 "Make current single user invite system use the backend of multi use invite link"
We should probably convert the existing invitation system to use the same "show registration form" model used by multi use invite link. Current implementation sends the verification email directly to the invited user which means the invited user won't be able to choose an email of his choice for signing up.

![screenshot from 2017-09-28 14-31-08](https://user-images.githubusercontent.com/7190633/3

[2017-09-28 09:08] hackerkid opened #6746 "Make uploaded files UI use perfectScrollbar and list_render to handle large list"
Refer to #6532 for more context

[2017-09-28 09:14] hackerkid opened #6747 "Make it easy to sort the uploaded files table by size by just clicking on the table header"
If you are interested in this it is a good idea to start with #6746 and then finish this.
See #6532 for more details.

[2017-09-28 09:39] rht commented on #5513
Unless I am missing something, why can't this be solved with a VM image which contains a version of Zulip or with a system that can be `dd`-ed to a USB stick?

[2017-09-28 09:40] rht commented on #5513
E.g. Qubes OS

[2017-09-28 10:49] kunall17 commented on #6720
In GCM we basically need the HTML tags without any attributes (data, class etc) and would be parsed using <a href="https://developer.android.com/reference/android/text/Html.html#fromHtml(java.lang.String, int, android.text.Html.ImageGetter, android.text.Html.TagHandler)">HTML.fromHTML</a> which uses **TagSoup** for parsing.

For APNS as Boris said, text without tags would be used.

[2017-09-28 13:25] YJDave commented on #6578
#6749

[2017-09-28 15:36] rishig commented on #6358
Bumping this up to bug, since if you type 'just sender:tim' it'll actually match senders with 'just' in their name.

[2017-09-28 16:15] Gyttegott commented on #4777
@zulipbot claim

[2017-09-28 16:27] Jinnial opened #6750 "LinOTP"
We are considering using this for our internal communications where I work but we're wondering if can integrate this software with LinOTP for two factor authentication.

[2017-09-28 16:48] timabbott commented on #6750
@Jinnial hello!  Almost certainly.  I tried browsing the LinOTP site, and couldn't find clear documentation on how you're supposed to integrate it into an application.  There's a few options:
* We support python-social-auth, so if it has an integration there, we can just use that.
* We support integration with any third-part auth service that can set the Apache REMOTE_USER variable.  See https://z

[2017-09-28 16:53] timabbott commented on #5513
That sort of model with Docker is a possibility for installation (upgrade is pretty messy with that model for  a VM image), but having talked to some of these organizations, they generally want to use their existing VM system, not run Docker inside a VM.

So we should do the "full tarball" project regardless of whether we also do a nicely published Docker build (which seems like a good idea as wel

[2017-09-28 17:04] #6702 closed

[2017-09-28 17:05] timabbott commented on #6702
@rishig just a quick comment: I would have tagged this with "bug".

[2017-09-28 17:29] timabbott commented on #1335
Bumping the priority on this, since it's been causing confusing in development a good amount recently (probably an indirect consequence of changes in our push notifications code)

[2017-09-28 18:03] #6730 closed

[2017-09-28 18:19] brockwhittaker commented on #6746
@zulipbot claim

[2017-09-28 18:53] timabbott commented on #6578
Fix merged, thanks for the report @HarshitOnGitHub and the work @YJDave and @brockwhittaker!

[2017-09-28 18:53] #6578 closed

[2017-09-28 20:00] verma-varsha commented on #5951
@zulipbot claim

[2017-09-28 20:22] lonerz commented on #4777
@Gyttegott make sure to join us on chat.zulip.org to discuss your approach.

[2017-09-28 21:01] lonerz opened #6757 "Lightbox hotkey bugs"
1. Open the lightbox. Pressing `j` or `k` closes the lightbox.

2. Open the lightbox. Pressing `d` opens the draft modal. Then pressing ESC closes the lightbox, but leaves the draft modal open, which can't be closed unless you refresh the page.

[2017-09-28 21:02] #6713 closed

[2017-09-28 21:17] #6746 closed

[2017-09-28 22:24] timabbott commented on #963
I think this is basically addressed by our new bot framework.

[2017-09-28 22:24] #963 closed

[2017-09-28 22:39] timabbott commented on #1180
Just to lay out how I'd go about approaching this in a way that should involve a manageable amount of effort, here's what I'm thinking:
* First, we get the data stuff in place.  I'd add an API endpoint for `GET /invite` to `v1_api_and_json_patterns` that has `@realm_admin_required` (so only realm admins can access) and returns all the PreregistrationUser/Confirmation objects that are unexpired in

[2017-09-28 22:52] timabbott opened #6760 "docs: improve user documentation for stream notifications"
We recently added a new feature to send push notifications for every message on a stream.  We should document in our user docs on notifications.

I think we should also take the opportunity to do a bit of an overhaul of e.g. https://chat.zulip.org/help/set-notifications-for-a-single-stream .  I think we should add a bit of a section at the top (or link back to a main doc on notifications) explaini

[2017-09-28 23:17] #6747 closed

[2017-09-29 00:47] timabbott commented on #3295
This was fixed recently via #6291.

[2017-09-29 00:47] #3295 closed

[2017-09-29 00:57] alirizwi commented on #6570
@zulipbot claim

[2017-09-29 01:21] #1335 closed

[2017-09-29 04:09] rishig opened #6763 "portico: Add link to login page from password reset page."
On the desktop app, there is no back button to get back to the login page, after you reset your password. Rather than adding it to the desktop app in particular, I think it'd be reasonable to have it in the web flow as well.

See https://chat.zulip.org/#narrow/stream/user.20community/topic/bug.3F.20change.20email.20after.20oauth.20reg

[2017-09-29 06:19] amanharitsh123 commented on #6763
There is a login link on the top of the webpage..I think

[2017-09-29 06:54] Gyttegott commented on #4777
Found another one more suitable to start with. Might take this up later though :)

[2017-09-29 06:54] Gyttegott commented on #4777
@zulipbot abandon

[2017-09-29 06:54] Gyttegott commented on #1180
@zulipbot claim

[2017-09-29 06:59] amanharitsh123 commented on #6763
Can you please explain ..what do you want exactly? :-)

[2017-09-29 07:01] rishig commented on #6763
I think adding a "back to login page" link is still reasonable, even if it is in the upper corner. In the desktop apps, the link in the upper corner is not there.

[2017-09-29 07:16] amanharitsh123 commented on #6763
Can i take up this issue?

[2017-09-29 10:13] amanharitsh123 commented on #6763
Please add the tag of the hacktober fest too on this issue

[2017-09-29 11:00] verma-varsha commented on #5951
#6766

[2017-09-29 13:00] amanharitsh123 commented on #6763
![final](https://user-images.githubusercontent.com/17999620/31016890-32881a12-a544-11e7-8eda-c63b6ca52e65.jpg)

Have a look

[2017-09-29 15:22] hollywoodno commented on #6704
@zulip abandon

[2017-09-29 15:27] hollywoodno commented on #6704
I would have to take more time to get familiarized with the most recent reactoring and understand the direction it's going in.

[2017-09-29 16:06] synicalsyntax opened #6770 "user docs: Block access to macros in /include/ directory."
Our documentation macros are located in the `templates/zerver/help/include` folder. However, these same macros are being rendered by the markdown parser as independent articles (ex: `http://localhost:9991/help/include/go-to-the`). Accessing these macros should redirect the user to a 404 page (`missing.md`) instead.

[2017-09-29 17:02] roberthoenig opened #6771 "Add a --no-cache option to tools/run-dev.py"
### Issue
Browser caching can often lead to inexplicable development issues, even after a bug has been fixed.

### Workarounds
Two ways of facing this this problems are:
* reloading the page with ctrl-shift-r
* running the page in incognito mode

### Feature request
It would be convenient to have an option for disabling browser caching for the dev server. We can do so by modifying the cacher heade

[2017-09-29 17:06] timabbott commented on #6770
Ahh, nice find, I think we probably want to require no `/`s in the `article` path and then this will work automatically....

[2017-09-29 17:11] brainwane commented on #2335
One person I'm talking to just asked whether an organization's administrator can turn off avatars org-wide.

[2017-09-29 17:18] timabbott commented on #2335
Can you explain the use case for disabling avatars?

[2017-09-29 17:22] vishwesh3 opened #6775 "Some styles aren't applied to account confirmation mail."
Screenshot for rediffmail. (background color of confirm button is not visible.)
<img width="805" alt="screen shot 2017-09-29 at 5 46 46 pm" src="https://user-images.githubusercontent.com/18511177/31027628-8146771a-a568-11e7-97e1-839261bb8bdf.png">

(BTW it is visible on gmail.)

[2017-09-29 17:23] timabbott commented on #6775
It seems worth fixing this while things are still fresh.

[2017-09-29 17:35] timabbott opened #6776 "Improve error handling of import failures"
If you try to import something that doesn't exist, our test suite provides a pretty unhelpful error message.  Technically, you can read from the logs that the problem is in `test_audit_log` (example problem in the diff below), but I think only because I ran that file rather than the whole suite.

[code]

In particular, if you run the whole suite, you get this instead:
[code]

Ideally, we'd provide

[2017-09-29 18:17] #3895 closed

[2017-09-29 18:17] #3972 closed

[2017-09-29 18:33] #4318 closed

[2017-09-29 18:33] timabbott commented on #4318
Closing this, since it's not clear it'll be worth the work required to build this; individual images seem fine for most realm emoji use cases.

[2017-09-29 18:59] timabbott commented on #5975
@vaidap we just finished the big migration in our emoji infrastructure to use sprite sheets, so I think now is a great time to take this up again.  We currently have 2 syntaxes for emoji:
* An image tag, used for realm emoji (which thus are not in the sprite sheet)
* A span, used for built-in emoji, that uses the sprite sheet.

Here's what the emoji spans look like:
`<span class="emoji emoji-1f604

[2017-09-29 20:30] hackerkid commented on #6745
@zulipbot claim

[2017-09-29 20:54] timabbott commented on #6763
We should probably use the same styling we use for the "register" links on the login page itself.

[2017-09-29 21:07] timabbott opened #6780 "mypy: Plan switch to using the Python 3 typing syntax"
Now that we're on Python 3, it would be great to be able to switch to using the built-in type annotations syntax.  The main challenge with this will be that we support Ubuntu 14.04 trusty, which reaches EOL in April 2019.

There are 3 paths forward here:
* Investigate whether there's a way to use the new syntax with Python 3.4 somehow
* Backport Python 3.5 (or later) to Trusty, either using the de

[2017-09-29 21:27] gnprice opened #6781 "Show emoji names in picker when selecting with keyboard"
When I'm looking for a suitable emoji and type part of a word I hope might be in an emoji name, if I go mouse over the matching emoji, I get a nice tooltip providing its name. For example, the one in the middle here is `:moon_ceremony:`.
![image](https://user-images.githubusercontent.com/28173/31036480-3661b15c-a521-11e7-8d9e-99a23dc4a746.png)

But of course I'm already typing, so I'd rather use t

[2017-09-29 21:30] HarshitOnGitHub commented on #6781
@gnprice Thanks for the report but there is already an open issue about #6110 and an open PR #6294. Can you check it out and tell if it looks good to you. Thanks!

[2017-09-29 21:38] #6110 closed

[2017-09-29 21:38] #6111 closed

[2017-09-29 21:44] HarshitOnGitHub commented on #6781
@gnprice PR #6294 just got merged so this is resolved, so this can be closed. :smile:

[2017-09-29 21:45] timabbott commented on #6781
Yet, closed, thanks folks!

[2017-09-29 21:45] #6781 closed

[2017-09-29 21:55] gnprice commented on #6781
Ah excellent. :smile: I did a search of our issues on "emoji", but didn't look far enough down through the list! Looking forward to using the new picker.

[2017-09-29 22:34] dgarvit commented on #6380
@zulipbot claim

[2017-09-29 22:49] gnprice commented on #6780
Yep, we should do this!

This doesn't have anything to do with Python 3.5, though -- the syntax actually dates to Python 3.0, in [PEP 3107](https://www.python.org/dev/peps/pep-3107/). It doesn't cover annotations for variables, only function/method signatures; those came only in 3.6, in [PEP 526](https://www.python.org/dev/peps/pep-0526/). So while we might or might not decide to desupport Ubuntu

[2017-09-29 22:53] gnprice commented on #6780
Yep, this sounds like the right plan.

[2017-09-29 23:03] gnprice commented on #6780
Also, the tool to automatically migrate our annotations would be a great thing to publish as a standalone, reusable thing -- there will be other static-types users in the Python community who can make good use of it.

(Among them Dropbox, sometime in the next few years when they move to Python 3. :grin: They will have a ton of code to migrate to the new syntax!)

[2017-09-29 23:06] timabbott commented on #6780
OK, I think the next step should be to try migrating 1 small file to use the new syntax, and make sure everything happily passes in CI and it runs in production (we can test-deploy on chat.zulip.org).  And then we can plan a project to actually migrate the codebase, which we should start after 1.7 is released.

[2017-09-29 23:58] gnprice opened #6785 "logging: Use the stdlib API in a uniform way with clear log sources"
Expanding on my comment at
https://github.com/zulip/zulip/pull/6737#issuecomment-333263835 , here's the path I'd like to take to making our logs, and also the many places in our code that emit logs, easier to understand:

1. Reduce `create_logger` to its component parts -- `logging.getLogger`, `Logger.setLevel`, and a new helper function `set_log_file`. Details in that comment.

2. Convert all our

[2017-09-30 00:04] gnprice opened #6786 "Eliminate rogue `logging.basicConfig` calls"
The `logging.basicConfig` function attempts to configure logging globally for the whole program. This can be suitable for a standalone script, but not for part of a large application like our Django app codebase -- if they do anything at all, then they stomp all over the config we've carefully set up in `zproject/settings.py`.

We have five examples of this outside of scripts, all in `zerver/`:
[c

[2017-09-30 00:09] gnprice commented on #6704
I just filed a couple of issues with specific steps to simplify our logging: #6785 and #6786.

The direction that's specific to Python 3 that I'm aware of is in our logging filters, and is documented here: https://docs.python.org/3/library/logging.html#filter-objects
Instead of Java-style classes whose only purpose in life is to carry one method and no data, we can just write normal functions. We

[2017-09-30 00:12] gnprice commented on #6780
​Sounds like a plan!

[2017-09-30 00:23] #6489 closed

[2017-09-30 00:23] timabbott commented on #6489
It looks like this will re-introduce #3889.  After much code re  ading, I determined the correct fix for this problem is much more involved.  I ended up merging 6c1c29408ea57d253bd08c22ee7672f7d1ec880e to resolve this issue.  Thanks @rheaparekh for your work on this!  It's be awesome if you can test out the version merged into master and make sure it works for you as well.

[2017-09-30 00:26] timabbott commented on #6786
I think it'd be a good idea to attempt to address this before the 1.7 release, so that we only need to carefully recheck that the right stuff is in the right log files after your other logging PR once...

[2017-09-30 00:30] timabbott commented on #6785
Can you explain more clearly the benefit of converting every file to use a `logger.info()` call rather than just `logging.info()`?  Migrating 200 points in the codebase feels like a lot of work to me, and we'd be adding an extra line to every file that uses `logging`, and it's not obvious to me what the benefits are (I've certainly never had trouble finding what is emitting a given log line via `g

[2017-09-30 00:59] #6570 closed

[2017-09-30 01:05] timabbott commented on #6588
@hackerkid can you edit this issue to the traceback that one gets after upgrading?

[2017-09-30 01:10] lonerz commented on #6380
@dgarvit We usually don't recommend two people to claim and work on the same task, so we should see if @13nehu is still working on this.

[2017-09-30 03:47] rht commented on #6780
@gnprice I was looking at [PEP 484](https://www.python.org/dev/peps/pep-0484/).

The option to use 16.04 instead of 14.04 is actually there, see https://travis-ci.org/rht/zulip/jobs/281554811.

As @**Greg Price** had stated, the syntax has actually been introduced since 3.0. Also here is a test which shows that the server worked in 3.4 https://github.com/zulip/zulip/pull/6784.

If I were to estima

[2017-09-30 10:49] YJDave commented on #6693
@zulipbot claim

[2017-09-30 13:03] HarshitOnGitHub opened #6795 "emoji: Add a setting to display emoji in messages as text."
Now that we have switched to using sprite sheets for displaying emojis in messages as well, it is now possible to display them as text just like we do for reactions, if user wants.

@zulipbot label "area: emoji" "enhancement"

[2017-09-30 16:13] #6330 closed

[2017-09-30 16:43] timabbott commented on #6795
We probably just want to change what the existing similar setting for reactions does to also effect emoji.

[2017-09-30 16:58] timabbott commented on #6771
This would be a pretty high-value project, since I think many new developers aren't familiar with tricks like ctrl-shift-r.  It will require some research into the right way to do this.  Since the assets are all served by Django, I think we just need to research how to do this in Django.

[2017-09-30 17:15] #6127 closed

[2017-09-30 17:27] vishwesh3 opened #6797 "Subscribers list isn't updated just after changing subscription status."
![ezgif com-video-to-gif-6](https://user-images.githubusercontent.com/18511177/31048005-8ca88754-a632-11e7-9903-69e27a858119.gif)

https://chat.zulip.org/#narrow/stream/issues/topic/Better.20handling.20of.20subscriptions.20add.2Fremove

[2017-09-30 17:28] vishwesh3 opened #6798 "Stream setting panel isn't visible just after changing subscription status."
![ezgif com-video-to-gif-6](https://user-images.githubusercontent.com/18511177/31048005-8ca88754-a632-11e7-9903-69e27a858119.gif)

https://chat.zulip.org/#narrow/stream/issues/topic/Better.20handling.20of.20subscriptions.20add.2Fremove

[2017-09-30 17:36] timabbott commented on #6797
@brockwhittaker is this something that's easy to fix?  Seems like a list_render migration bug.

[2017-09-30 17:37] timabbott commented on #6798
A key detail here is that it's clicking the button in the upper-right, not the checkboxes on the left.

@brockwhittaker FYI.

[2017-09-30 18:07] namish800 commented on #6763
can someone direct me to the link where we have to make the changes?

[2017-09-30 18:26] showell commented on #4322
We currently only keep active users in cache.  If we don't mind an extra query, we can just get deactivated users from the database.  We've reduced the number of queries at page load recently, for whatever that's worth, and I doubt a simple query against UserProfile is going to be too disastrous.  I haven't thought through whether "soft-deactivation" complicates this at all.

[2017-09-30 18:37] showell commented on #4322
Another recent development in the codebase that impacts this ticket is that we now cache `active_user_ids` separately from our main realm-users cache.  So now that the latter cache has less use, we can possibly widen it to include deactivated users.  Another option is to just eliminate the cache and hit the DB.  It should be a fast query, and if we use `values`, there's less ORM overhead.

[2017-09-30 19:17] timabbott commented on #4322
I think soft deactivation doesn't complicate this -- it's invisible to other users.

[2017-09-30 19:24] hackerkid commented on #6588
@timabbott done

[2017-09-30 20:58] Pri-Pri-Pri commented on #5578
@zulipbot claim

[2017-09-30 21:03] lonerz commented on #5578
@Pri-Pri-Pri there's an open PR if you want to work off that: #6001

[2017-09-30 21:40] hackerkid commented on #5795
@zulipbot claim

[2017-09-30 21:48] hackerkid commented on #5795
Thinking about this I think we should make our new login notification system more intelligent(as discussed in #5854) than setting up an option to disable this completely as this can lead to serious security vulnerabilities.

[2017-09-30 22:16] rishig opened #6802 "integrations: Add a webhook integration for Front."
This would be a great project for a new contributor.
We have a guide for writing webhook integrations at http://zulip.readthedocs.io/en/latest/integration-guide.html#webhook-integrations.

Front is at frontapp.com.

[2017-10-01 05:54] dgarvit commented on #6802
@zulipbot claim

[2017-10-01 07:17] rht commented on #356
@non-Jedi the situation is reversed in Zulip. `zulip-node` hasn't been touched for 4 years, `zulip-js` I have no idea of (at least it is as recent as last year, cc: @arpith). @timabbott made no statement of which one is the official/supported one.

@non-Jedi what is your estimate of the complexity of the task of implementing AS into the matrix-python-sdk / polishing the existing third-party-projec

[2017-10-01 17:14] rishig opened #6806 "emoji: `:` in empty search should close the picker, since `:` opens it."

[2017-10-01 17:16] HarshitOnGitHub commented on #6279
@zulipbot claim

[2017-10-01 17:17] HarshitOnGitHub commented on #6806
@zulipbot claim

[2017-10-01 17:23] rishig opened #6808 "emoji: Start compose typeahead from the first letter."
Currently we only start the typeahead on the second letter, after the `:`. We should instead start it on the first letter.

You can see the current behavior by typing `:oc` in the compose box.

[2017-10-01 18:31] Anupam-dagar commented on #6808
@zulipbot claim

[2017-10-01 23:23] timabbott commented on #5795
I think certainly I would prioritize #5854 first.  I also noticed we have a `SEND_LOGIN_EMAILS` server-levels setting that does control this.

[2017-10-01 23:28] timabbott commented on #5854
@gnprice can you ask around and get some advice on this?  My belief is we probably just want a long-lived signed cookie containing a list of dicts with e.g. User ID, IP, and any other data we eventually choose to add to this security feature (it can just be a JSON dict that grows over time).  We do a list so we can handle the user having multiple accounts they use regularly.  Then we can write a f

[2017-10-01 23:38] timabbott commented on #6588
@umairwaheed can you look into this one?

[2017-10-02 02:31] rishig opened #6809 "org settings: Add modal for time limits."
We have a couple of settings that look like
![image](https://user-images.githubusercontent.com/890911/31052450-ede8acd6-a639-11e7-8014-d75dc9dd23d2.png)
It would be great to instead change that to be something like "Messages can be edited for: 5 hours [Change]", where Change opens a modal.

The modal should make it easy to choose "No limit", or [input a number] {minutes, hours, days}. It can't be

[2017-10-02 02:38] rht commented on #6809
@zulipbot claim,

[2017-10-02 03:22] YJDave commented on #5614
#6513

[2017-10-02 04:16] umairwaheed commented on #6588
Sure. @zulipbot claim.

[2017-10-02 05:11] #6564 closed

[2017-10-02 06:48] anirudhkannanvp commented on #6797
@zulipbot claim

[2017-10-02 08:02] umairwaheed commented on #4839
@timabbott, GCE requires a credit card for the account or a debit card which works online. I don't have a credit card and my debit card doesn't work online.

[2017-10-02 08:03] umairwaheed commented on #4839
@zulipbot abandon

[2017-10-02 16:24] elenaoat commented on #6512
@zulipbot claim

[2017-10-02 16:35] ArchitaDesai commented on #3359
@zulipbot claim

[2017-10-02 22:18] timabbott opened #6819 "Add support for uploading emoji and other images in SVG format"
We don't currently support this because the way we're using `PIL` doesn't seem to support converting SVG to something like PNG that we're happy to serve to the web.  We should investigate options for addressing this.

[2017-10-02 23:13] timabbott opened #6821 "`window.location.reload(true);` seems to sometimes not actually reload"
We've had a few issues where a browser was continuing to run the Zulip presence/socket code, throwing lots of errors, after its event queue had been garbage-collected.  The root problem seems to be that `window.location.reload(true)` was called, but didn't actually reload the browser.  May be a new browser bug.

I say this on @brockwhittaker's machine running Chrome on Mac today; have seen a few c

[2017-10-03 00:59] #6775 closed

[2017-10-03 04:15] AasthaGupta commented on #1189
@zulipbot
I am waiting for the dependencies to be resolved.

[2017-10-03 04:16] umairwaheed commented on #6518
(Waiting for a review)

[2017-10-03 04:23] AasthaGupta commented on #6795
@zulipbot claim

[2017-10-03 04:46] AasthaGupta commented on #6731
@zulipbot claim

[2017-10-03 15:45] #6757 closed

[2017-10-03 17:36] #6518 closed

[2017-10-03 18:09] timabbott opened #6827 "emoji picker: Make the mouse hover cursor be the same as the hotkeys navigation cursor"
Ideally, if you're switching back and forth between using the hotkeys and mouse to navigate the emoji picker, the keyboard and mouse cursors would be the same, not 2 different things:

![image](https://user-images.githubusercontent.com/2746074/31141057-282524cc-a82b-11e7-8d4f-04d188d13738.png)

We should also pick whichever visuals we prefer.

This is I think the one remaining major issue with our

[2017-10-03 18:19] #6770 closed

[2017-10-03 18:33] timabbott commented on #5727
This was fixed in 178f5080cf012f568fd587816e053d77ed3216cf.  Thanks for the feedback @jmandel!

[2017-10-03 18:33] #5727 closed

[2017-10-03 18:34] timabbott commented on #4713
I like the last solution.

[2017-10-03 18:35] timabbott commented on #4622
This is now addressed (in large part through now only subdomain-based realms being supported), which eliminates all those messy corner cases discussed above.

[2017-10-03 18:35] #4622 closed

[2017-10-03 18:35] timabbott commented on #6628
This was just fixed.  Thanks again for the excellent bug report @jmandel!

[2017-10-03 18:35] #6628 closed

[2017-10-03 18:39] jmandel commented on #6628
Super! This is working delightfully on https://chat.zulip.org/#

[2017-10-03 18:41] #6588 closed

[2017-10-03 19:52] rishig opened #6834 "registration: Add an "invite as admin" checkbox to the invite modal."
See discussion at https://chat.zulip.org/#narrow/stream/design/topic/invite.20as.20admin.

The way I would implement this is adding a field to the PreregistrationUser, 'invited_as_admin', that then gets read in accounts_register.

In the invite modal, the text of the option can be "Users join as", and there can be two radio buttons, "Administrators", and "Regular users", with the latter checked by

[2017-10-03 20:17] rishig commented on #6693
I think we will likely want to allow streams to be in multiple groups? I can see how not allowing that would simplify things, though.

I can imagine another use case, that we might want to have in mind when designing this, which is having different stream groups attached to different invitations. E.g. maybe consultants at a company are given certain stream group options, and employees another.

In

[2017-10-03 20:18] keturn opened #6835 "using `!` in linkification regex"
I'm trying to make a custom linkification filter that recognizes the GitLab convention of a `!` prefix to identify a merge request.

I've tried several variants:

[code]

but it always comes back with

[2017-10-03 20:43] timabbott commented on #6835
Hi @keturn!  Thanks for the report.

We have somewhat strict rules on what one can do in regular expressions here, mostly to avoid potential DoS issues.  I'm not happy with the current implementation, though.

Are you running your own server?  If so, this is likely easy to hack around.

[2017-10-03 21:15] timabbott opened #6836 "mobile: Add option for `/get_messages` and `/register` to not return URLs for gravatar-format avatars"
Since the default avatars are gravatar, and the URLs can be simply be computed by the app give the realm and user IDs, we should be able to stop sending the gravatar URLs over the wire.

Since the gravatar URLs are based on a hash, they compress poorly, making this particularly valuable from a network performance perspective.  Thus, this could provide significant performance benefits for the mobil

[2017-10-03 21:21] timabbott opened #6837 "mobile: Add support for an expanded unread_msgs data structure"
There are a few pieces of data that we need for the next version of the mobile app's home screen (some design docs here):

https://paper.dropbox.com/doc/New-Home-Screen-TRkSsVPy6pAOfOlZ0GZOj

* We need the list of user IDs of senders in the unread messages.  I think this should be an easy extension to the queries we're already doing to fetch messages, so mostly a plumbing project.
* We need the me

[2017-10-03 21:31] keturn commented on #6835
No, this is a `zulipchat.com` instance.

[2017-10-03 21:44] timabbott commented on #6835
OK.  If you email support@zulipchat.com, the folks there can figure out how to help you out until this gets fixed for everyone.

[2017-10-03 21:51] showell opened #6839 "Improve missed message email timing."
Right now our timing for sending out missed-message emails is a bit non-deterministic:

https://chat.zulip.org/#narrow/stream/checkins/subject/Steve/near/292205

Somebody with a decent amount of experience with Zulip systems like our queue processors and message-send path can probably refine the experience so it's more deterministic.

We probably also want to re-visit some of the general timing pa

[2017-10-03 21:55] Shayan-To commented on #6839
I had a bad experience about this a few times. I sent a message that included a mention, and then I found out that there is a typo, or something wrong with the message. But before I could edit it, the email was sent.

And I think maybe something like 5 minutes would be better than 2 minutes (or it could be configurable).

[2017-10-03 22:55] timabbott commented on #6366
@mcmanuss8 @synicalsyntax I just deployed the fix on chat.zulip.org, if you'd like to test :)

[2017-10-04 00:03] timabbott commented on #6693
I think we'll want to integrate this with the invitation experience at some point as well; presumably, one should be able to use these default stream groups in inviting users.  I think it's probably a good idea to just build the base case without worrying about that use case to start, however.

[2017-10-04 00:34] timabbott commented on #6321
I'm going to close this bug as resolved.  Theoretically issues may recur, but they may not, and we can open a new issue then.

[2017-10-04 00:34] #6321 closed

[2017-10-04 00:37] timabbott commented on #5261
@umairwaheed any luck investigating this?

[2017-10-04 01:39] timabbott commented on #4720
I have a suspicion that what's going on is this:

https://blog.chromium.org/2017/03/reducing-power-consumption-for.html

Possibly what's happening is that Chrome's throttling means that sometimes the scroll events don't get throttled, but the "move the pointer" events that would normally prevent scroll events from proceeding too far are being throttled, resulting in the pointer walking below the s

[2017-10-04 01:51] wangjames commented on #4720
This actually only ever happened to me on iOS Safari. I've never had this problem on desktop.

[2017-10-04 01:53] wangjames commented on #4720
Just tested it again using the mobile web app with iOS safari and it automatically scrolled all the way to the bottom marking everything as read.

[2017-10-04 02:49] synicalsyntax commented on #6366
![img_5491](https://user-images.githubusercontent.com/15116870/31158048-d82d8ee8-a873-11e7-8fc0-5922fbe25f14.PNG)

Mentions popover is still accessible, need to zoom out to even see it :\

[2017-10-04 04:22] umairwaheed commented on #5261
Oh, this completely slipped my mind. @zulipbot claim.

[2017-10-04 12:19] YJDave commented on #6040
@zulipbot claim

[2017-10-04 13:04] rht opened #6843 "chat.zulip.org is down?"
No worries, already federated: https://riot.im/app/#/room/#zulip:matrix.org

[2017-10-04 13:15] WtfJoke commented on #6843
Is there an official statement why its down?

[2017-10-04 14:26] anirudhkannanvp commented on #6704
@zulipbot claim

[2017-10-04 15:05] timabbott commented on #4720
@wangjames interesting; did this happen the moment you loaded the app, or did you do something?

[2017-10-04 15:13] wangjames commented on #4720
Moment I loaded the app

[2017-10-04 15:15] timabbott commented on #6843
It's back up.  There's a memory leak regression that we can only reproduce in production that we're debugging on chat.zulip.org; the issue today was an OOM kill of memcached.

Tracking this down is the main remaining blocker for the 1.7 release.

[2017-10-04 15:15] #6843 closed

[2017-10-04 16:48] synicalsyntax commented on #4720
I have the same issue on iOS Safari, hence why I've never bothered to use Zulip on mobile.

[2017-10-04 17:09] timabbott commented on #4720
OK.  It sounds like we actually have 2 bugs here; the thing I've been investigating is something in Chrome on web that happens when you leave a browser window overnight.

@brockwhittaker can you investigate the mobile Safari issue?

[2017-10-04 17:13] timabbott commented on #4720
@synicalsyntax @wangjames what version of iOS are you on?  We can't reproduce with @brockwhittaker's phone.

[2017-10-04 17:16] hackerkid opened #6844 "Option to toggle between text and HTML in /emails page"
Currently /emails page displays the emails in both `text only` and `HTML` versions. This is not super useful and kind of annoying in most cases. We should probably just display HTML version by default and add an option to show text only version.

[2017-10-04 17:18] hackerkid commented on #6844
@zulipbot label "bite size" "area: emails"

[2017-10-04 17:21] wangjames commented on #4720
10.3.3 (thanks for the reminder to update lol)

I have a iPhone 6 - what is brock using?

[2017-10-04 17:23] timabbott commented on #4914
I just reproduced this by toggling that setting: the error message is this:

![image](https://user-images.githubusercontent.com/2746074/31189464-2b58cbea-a8ed-11e7-8913-e73e99e2c63d.png)

This comes from Django's CSRF protection, and seems to be an actual security issue.  So I think what makes sense to do here is provide a better user-facing error message (e.g. if we detect it's Firefox, which see

[2017-10-04 17:25] showell opened #6845 "Remove autoscroll_forever option."
We have discussed removing the autoscroll_forever option, which fewer than 1% of users use, and which causes confusion for users, and which may be prone to bugs (since few devs use it or even know about it).

Removing this feature should be fairly easy for any developer with a little bit of experience doing full-stack features for Zulip.

On a high level we want this to happen:

* communicate on c

[2017-10-04 17:28] wangjames commented on #4720
one thing I've kind of wondered is how does zulip handle the viewport resizing from desktop to mobile? i just went to the developer tools on chrome and changed the viewport and that marked my messages as read. I'll retry again later to see if that happens again

[2017-10-04 17:31] timabbott commented on #4720
static/js/resize.js does it.  That's a great reproducer concept, though; it could explain some other things we've been seeing.  Let me investigate.

[2017-10-04 17:45] timabbott opened #6847 "Make 500 errors for JSON URLs be in JSON format"
Currently, our 500 errors for all URLs is sorta a 500 webpage.  For API endpoints, we should try to return something in JSON format (though still with status code 500).  I think this should be possible in most cases by doing something in our middleware.

[2017-10-04 17:47] timabbott commented on #4720
@wangjames I actually can't reproduce changing the viewport in chrome marking anything as read.  You can try doing this in a development environment, using `manage.py mark_all_messages_unread`  to set up the situation.

[2017-10-04 17:49] timabbott commented on #4720
Also, what exact browser platform and version are you using?

[2017-10-04 18:32] akashnimare commented on #6629
@timabbott, @lmckenzi I can add the DND feature in the electron app but it would be one way only i.e. other users won't be able to see that you are on DND mode. Ideally, we should have this functionality in the web app itself since we have more control over notifications, user status etc there. User should have an option to choose their status from -
* Do not Disturb
* Busy
* Invisible
* Custom st

[2017-10-04 18:38] wangjames commented on #4720
oh wow

so i was unable to reproduce the issue on my desktop and my laptop so I must have just been seeing things with regards to the viewport

i just updated my iphone to 11.0.2 from 10.3.3 and now when i go to zulip it doesn't mark everything as read - so maybe this issue was just specific to a version of iOS safari?

[2017-10-04 19:16] AasthaGupta commented on #6844
@zulipbot  claim

[2017-10-04 19:17] AasthaGupta commented on #6844
@hackerkid where is this /emails page you are talking about?

[2017-10-04 19:28] hackerkid commented on #6844
@AasthaGupta http://zulipdev.com:9991/emails/

[2017-10-04 19:30] timabbott commented on #4720
OK.  I guess we should get someone who still has 10.3.3 to reproduce this in development and figure out what code is causing the scrolling.  It sounds like a Safari in iOS 10.3.3 bug, but we'll want to work around it somehow to minimize user pain.

[2017-10-04 19:30] timabbott commented on #6629
Yeah, we should plan to add the setting in the webapp and the desktop app can then implement the correct behavior based on the setting.

[2017-10-04 19:48] synicalsyntax commented on #4720
I'm on 10.3.2 on a iPhone 5, but I'd need instructions on how to properly debug.

[2017-10-04 20:49] HarshitOnGitHub opened #6854 "Make 500 error page mobile-friendly."
The 500 internal server renders like this on mobile:
![screenshot_2017-10-04-18-27-28-844](https://user-images.githubusercontent.com/16687990/31198915-867eb6ac-a973-11e7-8d94-1e06542b7942.jpeg)

We should make the page mobile responsive so that it renders properly.

[2017-10-04 21:08] timabbott opened #6855 "Simplify "code style" guide where we could be using the linter instead"
I read our code style guidelines (docs/code-style.md) for the first time in a while recently, and determined that most of it is obsolete with the linter and then deleted; that's a much better way to manage this stuff.

To starthese items from our style guide could easily be converted to lint rules:

1. Don't use the `style=` attribute in HTML. Instead, define logical classes and
put your styles in

[2017-10-04 21:11] neiljp commented on #6845
Is this feature documented anywhere? I was curious, but I'm not sure what is expected to happen, and that discussion is inaccessible to me.

[2017-10-04 21:31] timabbott commented on #6845
It's not super documented.

[2017-10-04 21:36] timabbott commented on #6854
@brockwhittaker can you deal with this one?  This is accessible in development via /devtools.

[2017-10-04 22:42] showell opened #6860 "Prevent linking to private streams (or require user to confirm)."
If you have a private stream like "internal team" that is private, we allow you to use the `#internal team` linking mechanism.  This can cause us to leak info about which private streams exist.

Many streams are invite-only, but the existence of the stream isn't necessarily a security concern, and it's often convenient to link to the stream for the convenience of folks that are indeed subscribed t

[2017-10-04 22:50] timabbott commented on #6860
I think we want to use the same confirmation flow that we have for mentioning a user who isn't subscribed to a given stream.

[2017-10-04 22:52] timabbott commented on #6366
@brockwhittaker I assume you'll investigate this.

[2017-10-04 22:56] #6854 closed

[2017-10-04 22:57] brockwhittaker commented on #6366
re-looking into this

[2017-10-04 23:59] gnprice opened #6862 "Better error message for narrow to a nonexistent stream"
Currently if you try to narrow to a stream that doesn't exist (or to a private stream you're not on), you get a message like "You are not subscribed to this stream." This is confusing because
* it seems to confirm that the stream exists (even if it doesn't);
* if you're pretty sure there is such a stream, and you're right, this is a poor way of explaining that you're not seeing them because it's p

[2017-10-05 00:04] #5775 closed

[2017-10-05 00:27] timabbott opened #6863 "subdomains: When creating the first realm on a server, do something reasonable"
If the room domain isn't used as a realm, most sysadmins creating a realm will just want it to be super easy.  Asking them for a subdomain is kinda confusing (also, how do you specify you want the root domain?).

I think the right model is to, if the root domain isn't already taken, just have the frontend show a checkbox that says "Use zulip.example.com", and is default-checked (with the subdomain

[2017-10-05 00:37] brockwhittaker commented on #6366
new PR!

[2017-10-05 00:40] #6366 closed

[2017-10-05 01:41] showell commented on #6837
Does the list of sender_ids need to be broken down by message type or anything?  Or is literally just the unique set of sender_ids across all unread messages?

[2017-10-05 03:10] timabbott commented on #6837
It needs to be broken down by topic

-Tim Abbott (mobile)

On Oct 4, 2017 18:42, "showell" <notifications@github.com> wrote:

[2017-10-05 04:23] rht commented on #4839
@zulipbot claim,

[2017-10-05 05:36] timabbott commented on #728
I'm going to close this, under the theory that we have no reason to believe our current strategy won't work at that scale, and we're unlikely to do this testing because of this issue (rather than because we have an organization at that size).  chat.zulip.org will probably end up at 10K users before too long.

[2017-10-05 05:36] #728 closed

[2017-10-05 05:37] timabbott commented on #599
This is done now.

[2017-10-05 05:37] #599 closed

[2017-10-05 06:14] #6279 closed

[2017-10-05 06:18] timabbott commented on #6837
This screenshot, from the doc I posted above, I think should make it clear why:

![image](https://user-images.githubusercontent.com/2746074/31213201-3596c8a6-a95a-11e7-8604-e76f48e24499.png)

(This would power the "A, B, and C are talking" part).

[2017-10-05 06:49] timabbott opened #6866 "Messages from notifications_bot aren't tagged for translation"
You can find these and similar strings by searching the codebase for `get_system_bot`, since most things sent by system bots are this sort of notification.  We may want to take the opportunity to edit the text a bit when tagging for translation as well.

In terms of what language to use, for private messages, we should use the language of the recipient user.  For stream messages, we should use the

[2017-10-05 07:22] timabbott commented on #6511
@ritveeka we actually do support replying to missed-message emails in certain configurations.  chat.zulip.org just doesn't use that configuration.

[2017-10-05 07:23] derAnfaenger commented on #6855
@zulipbot claim

[2017-10-05 08:27] YJDave commented on #6693
This issue require many design decisions and work. Right now I am beginner to this project, so I don't want to hold this issue by claiming it. So if other wants to work on this, they can. @zulipbot abandon

[2017-10-05 10:00] ritveeka commented on #6511
Yes, I have found that out. But what are these "certain configurations" that you mentioned ?
I think if user has selected "email notifications when offline" then he/she will receive the mail with an option to reply to missed personal message or mentioned message by replying.

[2017-10-05 10:30] rht commented on #4839
@zulipbot abandon,

[2017-10-05 10:33] rht commented on #4839
Reason: my card for fiat currency was stolen recently and had since been deactivated. I haven't received a replacement card yet, hence can't sign up for a free trial. If anyone is willing to lend an instance temporarily, I am up for it.

I suspect the solution may just be to remove boto from the requirements when it is detected that the platform is GCE.

[2017-10-05 13:18] dgarvit commented on #6311
@zulipbot claim

[2017-10-05 13:39] HarshitOnGitHub commented on #6827
@zulipbot claim

[2017-10-05 13:58] dgarvit commented on #5853
Links automatically remove on pasting into HTML Textbox. Any way it can be preserved?

[2017-10-05 15:38] showell commented on #6837
I assume this should be for huddles as well?  (I'm not sure mobile will use it right away, but it's easy enough to get).

And I assume we should omit it for 1:1 PMs, since it's always exactly implied by the bucket.

[2017-10-05 15:58] timabbott commented on #6837
Agreed re: PMs.  For huddles aka group pms, it's not clear to me that it's useful, since you have the list of all the users involved from the group.  @borisyankov what are your thoughts?

[2017-10-05 16:01] showell commented on #6837
The only thing that putting this in huddles would accomplish is that if multiple people are on the huddle, you might be interested in who specifically is sending messages.

[2017-10-05 16:02] #6806 closed

[2017-10-05 16:06] #6827 closed

[2017-10-05 16:15] timabbott commented on #6837
Yeah.  I think that would probably just be clutter in the UI (often repeating the list at the top of the entry), so probably you should just work under the assumption that we don't need it.

[2017-10-05 16:22] timabbott commented on #5853
@dgarvit what we'd need to do is create a custom paste handler that, when pasting in the compose box, parses the HTML for links and converts them into the corresponding markdown (e.g. [link name](url)); and presumably discarded most other HTML.  I'd put the code in `static/js/copy_and_paste.js`.

See https://stackoverflow.com/questions/11605415/jquery-bind-to-paste-event-how-to-get-the-content-of-

[2017-10-05 16:28] timabbott commented on #6511
Basically, in order to have replying to a mentioned message do something reasonable, the Zulip server needs to be running an email server, which requires a bunch of DNS setup (etc.) that we don't want to require every Zulip server administrator to do.

@ritveeka I actually don't think this is a bite-size issue; there's a lot of complexity involved here.  Further, I think ideally @sarahcstringer wo

[2017-10-05 17:30] timabbott commented on #6738
Oops, I think we forgot to close this when we fixed it last week, since the fix also addressed another issue.  Closing, thanks @brockwhittaker!

[2017-10-05 17:30] #6738 closed

[2017-10-05 18:28] timabbott commented on #6538
This was done by @showell and myself recently.

[2017-10-05 18:28] #6538 closed

[2017-10-05 18:28] timabbott commented on #6488
@YagoGG ping on this?

[2017-10-05 19:28] borisyankov commented on #6837
We kinda need the PMs and huddles, but it will be dual-use....

We discussed it briefly a month or so ago, but the current 'conversations list' which is last PMs and Huddles (not necessarily unread though!). Currently, we do a get last 100 messages for PMS+Huddles and parse. But it is not ideal at all, as we might not get enough of the entries.

I guess we can open another issue for that.

[2017-10-05 19:31] borisyankov opened #6875 "mobile: Add support for a 'get' of PM + Huddles list"
This is related to #6837 but should be a separate issue.

What we need is a new API endpoint, that on 'GET' returns a list that is:
* chronological
* includes all unique PMs and Huddles for the last N months (would 3 months be a good value? we don't need it configurable but it can be)
* includes the last message in each PM and huddle (for preview purposes)
* includes the unread message count (can

[2017-10-05 20:26] timabbott commented on #6837
@borisyankov the question here was not about removing the PMs/huddles, just about whether we need the `sender_id`s data for them in the `unread_msgs` data structure.

The new issue we should definitely do something about, but are you OK with the plan for this issue?

[2017-10-05 20:51] borisyankov commented on #6837
I am confused. Read the discussion twice, and it is not clear which `sender_ids` we are talking about. The `unread_msgs` response has `sender_id` for PMs and `user_ids_string` for Huddles.

No `sender_id` list  for stream/topic though, and maybe you meant this one?

[2017-10-05 21:03] showell commented on #6837
The commit that addresses this PR tells you the senders of unread messages on a topic/stream narrow.  Imagine you have a stream with 1000 subscribers.  You might not care about unread messages, but if you see that your friends Alice and Bob were the last folks to send unread messages to the stream, you may be more likely to narrow.

[2017-10-05 21:04] timabbott commented on #6837
@borisyankov ahh, yes, that's the source of the confusion.  Yeah, we're talking about extending the stream/topic data to have sender_ids, and wondering if we also want the list of users in the huddle who actually sent messages for huddles.  My theory is no.

[2017-10-05 21:07] showell commented on #6837
On master we now only add sender_ids to stream/topic.  It will never make sense to add this for PMs, since there can only be one possible sender per bucket.  If we change our mind on huddles, it's about 4-5 lines of code now to add it back in, including a brief test.

[2017-10-05 23:13] rishig commented on #6866
The onboarding.py messages probably shouldn't be translated yet, since they are still in a lot of flux. Not sure what a good workaround is.

[2017-10-06 00:31] gnprice opened #6880 "Check new-password strength on the server too"
When a user tries to set a password, we use zxcvbn to check that it isn't a weak one. See [our docs](https://zulip.readthedocs.io/latest/security-model.html#passwords).

Currently this check is only in the browser. To be sure, it would be good to check on the server side too.

The simplest way to do this is probably to use [zxcvbn-python](https://pypi.python.org/pypi/zxcvbn-python), a reimplementa

[2017-10-06 05:54] dgarvit commented on #5853
@zulipbot claim

[2017-10-06 06:09] #5261 closed

[2017-10-06 06:09] timabbott commented on #5261
This is fixed now, so you should be able to hit 100% @YagoGG and @derAnfaenger now :)

[2017-10-06 06:10] rishig opened #6883 "user docs: General update of docs."
I did a pass through our docs, and a few things stood out
* We should add info about keyboard shortcuts into the relevant articles. E.g. the article about lightbox should include info about the `v` shortcut.
* I put up a diff between what our left sidebar would ideally be, and what it currently is (after #6878 is merged), at https://github.com/zulip/zulip/commit/32f6a768e3ba1a3501dfaa94ab70e7cf034

[2017-10-06 06:34] timabbott opened #6885 "Figure out the correct way to represent zh-Hans in Django"
Based on some reading about Django and the fact that Transifex disagrees on how this should be spelled, I merged ba8dc621322619aefdea7097e0ce8274e44a0bd9.

I'm now wondering whether we should instead be adding language-remapper code in `.tx/config` to make it spell things `zh_Hans` after all.

@umairwaheed can you figure this out?

[2017-10-06 07:56] ritveeka commented on #6511
Ok I will find something else to work on.

[2017-10-06 07:56] ritveeka commented on #6511
@zulipbot abandon

[2017-10-06 08:09] ritveeka commented on #6490
@zulipbot claim

[2017-10-06 09:37] ritveeka commented on #6490
@zulipbot abandon

[2017-10-06 10:20] rht opened #6892 "Number of search result should be displayed in the search bar."

[2017-10-06 16:13] timabbott commented on #6892
@rht which search bar do you have in mind here: the "messages" search or the "users" filter?  I think for the latter, it's useless, and for computing the former accurately, it would have performance impact, far beyond its utility (and I don't see much value in a heuristic estimate).

[2017-10-06 17:39] rishig opened #6895 "message view: Clicking on topic closes compose box."
To replicate:
* Hit `r` to some message
* type a few characters
* click on the topic title in the recipient bar

Expected behavior is that the compose box stays open. Actual behavior is that the compose box closes.
For an example of the expected behavior, click the stream title in the recipient bar instead.

[2017-10-06 17:50] timabbott opened #6896 "Add a database index to optimize the "private messages" narrow"
The "private messages" narrow is one of the more common things one clicks on in the Zulip UI.  Right now, it fetches the most recent few hundred private messages from the server, which is often fast, but can be very slow for a user who has been around for a year and has only ever been a participate in 4 private messages (since we effectively end up scanning every message they've received to find t

[2017-10-06 18:32] synicalsyntax commented on #6895
Duplicate of #6473?

[2017-10-06 18:32] #6895 closed

[2017-10-06 18:43] timabbott commented on #6473
@rishig you should tag things like this bug.  @brockwhittaker can you try to fix this one today?  Given that the other click handlers work, it seems likely to be something minor.

[2017-10-06 19:26] timabbott commented on #6885
I reverted what we had changed, but I think it's still worth someone trying to find clear documentation on this (or getting someone who speaks Chinese to test).

[2017-10-06 19:51] showell opened #6898 "Remove emails from the add-subscriber code."
We send emails down to clients when people subscribe to streams.  We should just use user_ids, which may require small changes to the web app.  This will streamline the payload a lot, and we can also simplify the code.  For example, we can eliminate the UserLite objects and just get ids.

[2017-10-06 20:31] timabbott commented on #6855
I just merged another batch of changes to clean up the code style guide.  I think probably the next useful step here is some reorganization.

[2017-10-06 22:00] rht commented on #6892
At least, it'd be helpful to display the number of the result that has been rendered so far. This feature exists in Gmail.

[2017-10-06 22:17] showell opened #6900 "Add message body details for unread_msgs data structure in get_messages format."
This is split out from #6837.  I fixed the first piece of that PR, which was to add sender_ids to the unreads structure.

We need this in order to support this future design for the mobile app's unread messages display:
![image](https://user-images.githubusercontent.com/2746074/31213201-3596c8a6-a95a-11e7-8604-e76f48e24499.png)

[2017-10-06 22:18] showell commented on #6837
d6e21b5ca9d6eb7037861092f47b2950bcfc6b4c is the commit that fixes the first item in this fix.  If we're happy with that, we can close this issue, I think.  I split out #6900 for the other thing here.

[2017-10-06 22:26] timabbott opened #6901 "Optimize performance of test_public_urls"
Using `./tools/test-backend --processes=1 --report-slow-tests`, I found that `test_public_urls` is by far our slowest test, taking about 4.3s on my laptop (out of 85s total), or 5%.  The cause is, of course, that it renders every single /help/ document, which is fairly expensive.

I was about to decrease runtime from 4.3s to 2s by just deleting `sidebar.md`, so a big part of the cost here is handl

[2017-10-06 22:46] #1478 closed

[2017-10-06 22:51] timabbott commented on #6837
@borisyankov you should inspect the new `sender_ids` data for topics in `unread_msgs` to make sure it looks sane ASAP (since we're releasing 1.7 soon, and it's best to not have to support multiple versions of this API).

@showell note that we're not talking about modifying `get_messages`, we're talking about returning data on the first message in each group, using the same format as `get_messages`

[2017-10-06 23:10] borisyankov commented on #6837
Is it deployed on `chat.zulip.org` or going to be there soon vs should I try playing with it on a local installation?

[2017-10-06 23:12] timabbott commented on #6837
Yep, it's on chat.zulip.org already.

[2017-10-06 23:48] #6720 closed

[2017-10-06 23:57] timabbott commented on #6720
Thanks for @HarshitOnGitHub, we have this fixed for the release, and also a quite nice test suite system we can use if we want to try adding formatting.

I think there are a few follow-up items for this:
* Handling cases where there's something complicated like a multi-byte unicode character right at the 200 character boundary in `truncate_content`.  @HarshitOnGitHub can you open an issue for this

[2017-10-07 00:01] timabbott opened #6902 "Searching for "@tabbott" should typeahead to some sort of `mentions:email` syntax"
It'd be nice to be able to search my messages for things that directly mention another user.

I think it'd be not too hard to accomplish, at least moderately well, by just search that other user's UserMessage table, and then filtering for UserMessage rows on YOUR UserMessage table.  But that has some messy security implications to think about, and will also not cover cases where that user was ment

[2017-10-07 00:03] timabbott commented on #6720
Just a quick note: This is now deployed on chat.zulip.org, so we can test how these notifications look end-to-end.

[2017-10-07 00:06] borisyankov commented on #6720
My hunch is that trying to make formatting works for GCM is just of marginal benefit, and the complexity is high enough to not be worth it.

What I mean is:
 * not huge benefit even if it works
 * supports only basic formatting anyways
 * complicated html might be very tricky to convert
 * bad documentation on what is supported
  * likely differences between platform versions

That being said, I a

[2017-10-07 00:08] timabbott commented on #6720
Re: GCM, I think I agree it feels marginal.  Probably we should just let this slide with no new issue on that front, and plan to only do something if we get another compliant about the notifications format :).

[2017-10-07 00:13] timabbott commented on #6892
Interesting.  What I like about this idea is that it would be valuable to make search more visually distinct, and some sort of banner about search results could help.  Something to think about when we redo the navbar.

[2017-10-07 04:25] AasthaGupta commented on #4542
@rishig I think this issue is already resolved.

[2017-10-07 04:27] AasthaGupta commented on #4488
@timabbott  I am not able to reproduce this. I tried network throttling but link did get uploaded.

[2017-10-07 05:26] AasthaGupta commented on #6329
@JaneCeng  are you still working on this or can I take this up?

[2017-10-07 06:27] rishig commented on #4542
Thanks for looking into this @AasthaGupta!
The /integrations page has changed, which makes the issue description confusing, but the issue still stands; which is that https://chat.zulip.org/integrations/doc/assembla should be a special page for assembla, just like https://chat.zulip.org/integrations/doc/airbrake is a special page for airbrake.

We'll have to reconstruct which hubot integrations we'

[2017-10-07 09:25] AasthaGupta commented on #6795
@HarshitOnGitHub Can you help me out with this? I changed markedown.js to remove classes but somewhere in between sending the message and rendering it on the message list, it reverts back to the old classes.

[2017-10-07 09:51] kritisingh1 commented on #6490
@zulipbot claim

[2017-10-07 17:43] haroldtreen opened #6908 "Pressing Shift+Enter sends message despite "Press Enter to send" being disabled"
### Current Behaviour

I have unchecked the `Press Enter to send` box. When I type a message and press `Shift+Enter` the message sends.

### Expected Behaviour

The message should not send. (This was the case previously)

### Demo

![image](https://user-images.githubusercontent.com/1745854/31310392-73cb1976-ab65-11e7-8cd4-a50919a0f216.png)
![zulip-bug](https://user-images.githubusercontent.com/174

[2017-10-07 18:04] arpith commented on #6908
This is so interesting! When press enter to send is selected, shift + enter is used to prevent the message from being sent.. but when press enter to send is deselected, shift + enter has the opposite behavior!

@timabbott is it because of this?https://github.com/zulip/zulip/blob/48ac282667e60408853a98161972a6cb82342ece/static/js/hotkey.js#L47

[2017-10-07 18:57] HarshitOnGitHub opened #6909 "reactions: Add a new api endpoint and switch the webapp to use it."
This aims at changing how the API for reactions works to give us flexibility to change the names for emoji in the future without needing a DB migration. We can't really modify the existing reactions endpoints, because they're used by the mobile apps. But we can add new endpoints that are similar to the existing ones, and have the interface we want, and use them on web. The point of doing this migr

[2017-10-07 19:00] HarshitOnGitHub commented on #6909
@zulipbot label "area: emoji"
@zulipbot claim

[2017-10-07 19:30] HarshitOnGitHub commented on #6007
@zulipbot claim

[2017-10-07 21:53] HarshitOnGitHub commented on #6795
(Replied on chat)

[2017-10-07 22:27] kneufeld opened #6911 "the zulip user should be created as a system user"
Daemon accounts should not be created as human user accounts. Also, the `zulip` user should not have it's home in `/home`. This wrecks havoc when you have managed users like in a FreeIPA system.

[code]

All scripts use hard coded paths to `/home/zulip` but should probably use a variable.

Fix all scripts with

[code]

[2017-10-07 22:33] kneufeld opened #6912 "following the `generate_realm_creation_link` doesn't work"
[code]

The form doesn't have `realm_org_type` defined so I added the `or '0'` to get on with my life. I'm not sure how your testing scripts work but they should follow the the generated link to see if a domain is created.

Basically it's impossible to successfully install zulip.

[2017-10-08 08:56] HarshitOnGitHub commented on #6795
This change will not require any changes to the parsers. You will need to use CSS with some javascript to control how to display the emoji in messages based on the value of the setting. We have two types of emojis, default emojis which are rendered in a `span` and realm emojis which are rendered using an `img` tag. While it is possible to control the appearance of the default emojis using only CSS

[2017-10-08 17:54] elenaoat commented on #6627
@zulipbot claim

[2017-10-08 18:54] timabbott commented on #6912
@kneufeld sorry for the confusing traceback here!  There is an issue with the `realm_org_type` field (fixed in master already), but the actual problem is something else; the exception you saw happens only if something else is already wrong.  The actual problem is that you need to use EmailAuthBackend when creating your realm; you can only use e.g. LDAP for later users.  See the last paragraph of h

[2017-10-08 18:55] timabbott commented on #6912
Closing as a duplicate of https://github.com/zulip/zulip/issues/6399.

We'll be releasing 1.7 in the next week or so, which should fully resolve this.

[2017-10-08 18:55] #6912 closed

[2017-10-08 19:01] timabbott commented on #6911
@kneufeld thanks for the report!  I certainly agree `/home` isn't ideal, though changing that would be a significant (though likely not huge) migration for existing Zulip servers.  I would definitely be on board with someone doing the work to move this to be a variable in `/etc/zulip/zulip.conf`, so that we can at least support installing with a home directory under `/var/lib` and then start switc

[2017-10-08 19:10] timabbott commented on #6908
@rishig we should talk about this, since I believe we changed this behavior because people complained about inconsistency in modifier keys that ctrl+enter would send (which people liked) and shift+enter did not.  It'd be easy to change the behavior for shift back; we should just make sure we're actually getting to a state we're happy with.

@haroldtreen can you explain why you would prefer shift+e

[2017-10-08 19:14] kneufeld commented on #6911
It's entirely possible something else happened and I'm mis-remembering events, but when the `zulip` user got created it got `uid` 1000. This collided with an existing FreeIPA user (basically a single sign on, ldap, active directory, etc, user) so permissions were very wonky.

I was able to install zulip by manually creating the zulip user with uid/guid of 800 and then running the puppet scripts. A

[2017-10-08 19:29] timabbott commented on #6911
It sounds like the user ID reuse bug is the main problem here.  That feels likely to be a bug in either FreeIPA or puppet; in theory, Puppet's adduser shouldn't clobber a user ID that already exists on the system when you don't explicitly declare the user ID you want.  And we intentionally don't set a user ID in our configuration so `adduser` can just pick any user ID that's not in use.  I wonder

[2017-10-08 19:33] haroldtreen commented on #6908
@timabbott I've gotten very used to many sites sending upon `Enter` and requiring `Shift+Enter` to insert a new line. Thus it has become ingrained into my mind always to use `Shift+Enter` when inserting a newline (even on Zulip where that can be disabled).

`Shift+Enter` did not send previously, so it's unexpected to have it doing that now. I also don't like the idea that keyboard shortcuts are de

[2017-10-08 19:34] rheaparekh commented on #6860
@zulipbot claim

[2017-10-08 19:35] #6898 closed

[2017-10-08 22:53] timabbott commented on #6866
OK.  Let's focus on the notification bot stuff for this issue.

[2017-10-09 02:47] #4839 closed

[2017-10-09 07:02] umairwaheed commented on #6885
Working on this.

[2017-10-09 07:14] timabbott opened #6923 "Left sidebar faded a stream even though it has an unread message"
This shouldn't be possible, and suggest some sort of bug in the state update system:

![image](https://user-images.githubusercontent.com/2746074/31327864-c26d73f4-ac86-11e7-9a77-1eb7cb31dc04.png)

[2017-10-09 07:40] umairwaheed commented on #6885
@timabbott, we already map 'zh-Hans' to 'zh_Hans' in '.tx/config'.

[2017-10-09 07:54] umairwaheed commented on #6885
Btw, there is a data structure in Django at `django.conf.locale.__init__.LANG_INFO` which provides the name of the language in its local language. If we use it we won't have to use `with_language` in `compilemessages.py.

[2017-10-09 08:03] umairwaheed commented on #6885
We want the folder under `static/locale` to be called `zh-Hans` instead of `zh_Hans`?

[2017-10-09 12:18] YJDave commented on #1736
@zulipbot claim

[2017-10-09 12:22] YJDave commented on #1249
@zulipbot claim

[2017-10-09 13:43] dgarvit commented on #6802
@zulipbot abandon

[2017-10-09 14:57] fooksupachai opened #6926 "I want to Zip each day the files that were created on that same day (into one zipped folder) and erase the not zipped files of that day. I have this batch for zipping files that were created with the same name:"
@echo off
for %%A in ("E:\Logs\SmartLogger\*") do (if /I not "%%~xA" == ".zip" 7za.exe a -tzip -mx5 -y -- "%%~dpnA.zip" "%%~A" >nul && del /Q /F "%%~A")
How can I change it to ignore the name but respect the date? For example, If I have files created on one day that are:

doc1.dat
doc2.dat
doc3.dat

[2017-10-09 18:09] brockwhittaker commented on #6473
This logic looks like it has been here for a while, and seems to stem from `cc6c0104`. The important code fragment being:

[code]

The explanation seems reasonable however I think we want to modify the logic. It's fine if the topic is different, however what we really care about is whether there was content in the box. We don't want someone composing a message, then switching narrows and posting t

[2017-10-09 18:32] #6007 closed

[2017-10-09 19:16] showell opened #6928 "Prevent spam on #announce stream."
We might want to try a lightweight experiment where it's harder to post to the "announce" stream, perhaps by just using a modal confirmation.

Long term, we might want to make announce a read-only stream (we have a ticket for read-only streams somewhere) or make it so that only admins can post there, or something.

Folks who work on this should discuss options on chat before implementing anything

[2017-10-09 19:20] haroldtreen commented on #6908
Just saw another person confused by this behavior today:

![image](https://user-images.githubusercontent.com/1745854/31354708-5c1d2034-ad05-11e7-91c8-6c8e7064640c.png)

[2017-10-09 20:51] gnprice commented on #6928
I think making a stream read-only is an option that a lot of orgs will probably be glad to use for an "announce"-type stream.

For a large, open org like chat.zulip.org, it'd be a little sad to limit it that much. I like the idea of something like "your account must be at least N days old", where N might be set to something like 7 (or even 1 would probably suffice). That'd solve the problem of new

[2017-10-09 20:54] haroldtreen commented on #6908
Another person confused by this behavior:

![image](https://user-images.githubusercontent.com/1745854/31358163-844751da-ad12-11e7-82e6-cf95fd3b32f2.png)

[2017-10-09 21:15] timabbott opened #6932 "Extend email mirror to support admins@realm.zulip.example.com forwarding addresses"
For Zulip's "your account has been deactivated" notices, and maybe a few other places, we'd like to provide a way to contact the organization administrators for a given Zulip organization/realm on a multi-realm server (for a single-realm server, the existing ZULIP_ADMINSTRATOR contact is great).

The right way to do this probably involves using the "email mirror" service (`zerver/lib/email_mirror.

[2017-10-09 21:18] brockwhittaker commented on #6928
How about having a stream option where posting to that stream always requires confirmation (something similar to the warning slack has for example when you want to @ a lot of people).

<img width="530" alt="screen shot 2017-10-09 at 2 16 23 pm" src="https://user-images.githubusercontent.com/10321399/31358961-a9ef9ea8-acfc-11e7-9323-c4c486cb910f.png">

[2017-10-09 21:37] timabbott commented on #6928
We have an existing "waiting period for stream creation" feature, that I think could reasonably be extended to be a "waiting period for posting to #announce" as well.

We might also want the confirmation feature.

[2017-10-09 21:41] rheaparekh commented on #6534
@rishig It is mentioned in the issue that we need to disallow the character '#' in stream names too, but the IRC mirror streams are required to start with '#', as mentioned here https://github.com/zulip/zulip/blob/master/zerver/views/messages.py#L956-L961. I have finished with the migrations in the PR, but I have not disallowed  '#' for stream names. Can you guide me further?

[2017-10-09 22:00] rheaparekh commented on #6860
@showell @timabbott should I go ahead with the same confirmation flow as for the user mentioned who is not subscribed?

[2017-10-09 22:11] #6908 closed

[2017-10-09 22:12] timabbott commented on #6908
@haroldtreen that reasoning makes sense, I've fixed this and left a comment that should ensure that we don't end up switching it back again.  Thanks for your help with this!

[2017-10-09 22:20] timabbott commented on #6908
@haroldtreen can you confirm the fix on chat.zulip.org?

[2017-10-09 22:23] haroldtreen commented on #6908
Thanks @timabbott !

I unfortunately don't have chat.zulip.org. Only recurse.zulipchat.com (where it looks like the change hasn't been deployed yet).

[2017-10-09 22:30] gnprice commented on #6928
The confirmation modal sounds likely to work.

It'd be a useful thing for `@all`, too -- I don't think we've needed it on chat.zulip.org, but in a big realm where the least polite 5% of users are less polite than on that realm, it could really help for setting a norm that you don't do it gratuitously. (I think the corresponding Slack feature helped a lot at Dropbox.)

[2017-10-09 23:11] showell commented on #6860
That sounds reasonable.  I'd ask on chat.

[2017-10-10 00:19] showell commented on #6836
The original discuss on the mobile stream was here:

https://chat.zulip.org/#narrow/stream/mobile/subject/Perf/near/277439

If the the /users request is where we're feeling the most pain, that might be what we should fix first here.

[2017-10-10 10:54] Rishabh570 commented on #6802
Hey @rishig i want to do this ...but it's my first time so i need a little guidance.I know python and read about webhook integration from the docs..I'm hoping this can be my first contribution to zulip as you wrote that it's good for beginners..

[2017-10-10 16:14] Rishabh570 commented on #6802
@zulipbot claim

[2017-10-10 16:52] rishig commented on #6802
Great, and welcome! https://github.com/zulip/zulip-gci/blob/master/tasks/webhook-integrations.md might be helpful as well.

[2017-10-10 16:52] fooksupachai opened #6937 "I am a python newbie and I am trying to learn how to "zip" lists. To this end, I have a program, where at a particular point, I do the following:"
x1, x2, x3 = stuff.calculations(withdataa)
This gives me three lists, x1, x2, and x3, each of, say, size 20.

Now, I do:

zipall = zip(x1, x2, x3)
However, when I do:

print "len of zipall %s" % len(zipall)
I get 20, which is not what I expected. I expected three. I think I am doing something fundamentally wrong.

[2017-10-10 21:53] brainwane commented on #466
One more potential item for this: checking the SHA-1 or MD5 of the https://www.zulip.org/dist/releases/ package and verifying it.

[2017-10-11 00:27] parity3 opened #6938 "Add setting to disable including message content in missed-message notifications"
I think there should be an option not to include message content for non-public streams and PMs in emails. In my opinion it should be the default.

Reasoning is that in most cases sending an email across SMTP to an external recipient or email server will expose the message content to whoever wants to read it. It kind of defeats the purpose of a "private" message.

The intent of the email is not lo

[2017-10-11 00:28] parity3 commented on #6938
I've been instructed to crosslink [this issue](https://github.com/zulip/zulip/pull/5829), I hope this constitutes a crosslink.

[2017-10-11 05:12] timabbott commented on #6908
You can just make an account on chat.zulip.org to test it -- it's an open community.  We deploy there from master frequently (it's sorta the community development server).  It'll get to recurse.zulipchat.com soon but we like to ask folks to confirm fixes on chat.zulip.org to help avoid buggy code ending up in production.

[2017-10-11 05:21] timabbott commented on #6928
We actually do have a confirmation modal for `@all` already, which is used if there are something like 10+ users subscribed to where you're posting with it.

[2017-10-11 05:40] lonerz commented on #6928
Oh, cool. Is it documented anywhere @timabbott

[2017-10-11 05:43] timabbott commented on #6928
Not sure, but the code's in `validate_stream_message_mentions`.

[2017-10-11 06:02] timabbott commented on #3783
See https://github.com/zulip/zulip/pull/1122 for an implementation we'll want to consult when picking this up again.

[2017-10-11 06:03] timabbott commented on #158
Just noting that while #1101 is closed, we should definitely look at it when picking this back up.

[2017-10-11 06:04] timabbott commented on #236
Just noting that #850 and its updated version #3317 are things one should look at before working on this.

[2017-10-11 06:05] timabbott commented on #740
@rishig is this issue still open?  We recently closed https://github.com/zulip/zulip/pull/749, an unfinished implementation of this, and I want to know whether we should close the issue as well.

[2017-10-11 06:48] dgarvit commented on #6652
@zulipbot claim

[2017-10-11 06:50] dgarvit commented on #6581
@zulipbot claim

[2017-10-11 07:44] rishig commented on #740
haven't investigated fully, but something similar to this bug still exists. E.g. if you are an admin, and search for a private stream you are not a part of, you'll get this message.

[2017-10-11 08:20] rht commented on #6251
@timabbott here is an answer I get from #puppet IRC: https://botbot.me/freenode/puppet/2017-10-11/?msg=92163167&page=1. I think the documentation should be updated accordingly, to recommend using `puppet apply` when having Zulip running in conjunction with the other process on puppet?

[2017-10-11 08:22] rht commented on #6251
cc: @gnprice

[2017-10-11 08:33] rht commented on #6251
(@zulipbot actually, I'd be happy to be subscribed to the @zulip/server-production notif flood!)

[2017-10-11 13:14] jmandel opened #6941 "Extend zulip's default logrotate to cover any log files"
In the chat.fhir.org serfver, the following files (at least) can get big but aren't covered by Zulip's default logrotate config:

[code]

This PR proposes covering all zulip logs with a `*.log`.

[2017-10-11 13:16] jmandel commented on #6941
Covered by https://github.com/zulip/zulip/pull/6942

[2017-10-11 13:16] #6941 closed

[2017-10-11 14:51] haroldtreen commented on #6908
Confirmed to be working 👍

[2017-10-11 15:45] fooksupachai opened #6943 "Trying to strip the "0b1" from the left end of a binary number. The following code results in stripping all of binary object. (not good)"
''
So I did the .lstrip() in two steps:

'1000101110100010111010001'

'000101110100010111010001'
What's the deal?

Thanks again for solving this in one simple step. (see my previous question)

[2017-10-11 15:46] fooksupachai opened #6944 "Trying to strip the "0b1" from the left end of a binary number. The following code results in stripping all of binary object. (not good)"
''
So I did the .lstrip() in two steps:

'1000101110100010111010001'

'000101110100010111010001'
What's the deal?

Thanks again for solving this in one simple step. (see my previous question)

[2017-10-11 16:27] Rishabh570 commented on #6802
I'm not getting exactly what info i need to show up in my view.py...

[2017-10-11 16:35] rishig commented on #6802
I'd recommend starting with the hello world example in the link I posted. Let's also move this to chat.zulip.org #"development help" stream, where more people will see it.

[2017-10-11 17:01] #6652 closed

[2017-10-11 17:07] Rishabh570 commented on #6802
I've been through hello world example...but the fixture there was small and concise so it was pretty understandable that which info is to be extracted from it...but in case of front the json file is very big as compared to helloworld and i'm being confused...
Thnx BTW...

[2017-10-11 17:10] #6844 closed

[2017-10-11 17:15] timabbott commented on #6251
@rht invited you.

That answer from #puppet isn't really to our question.  I think they were answering the question of "what should I do if I want to use both on a system".  Our question is actually "what should I do if I want to use `puppet apply` as part of reliably installing/upgrade a set of services shipped as part of Zulip, but the system is already using a puppet agent, which we don't want

[2017-10-11 17:23] vishwesh3 opened #6946 "Alert words styles are not applied in own send messages."
<img width="285" alt="screen shot 2017-10-11 at 10 35 48 pm" src="https://user-images.githubusercontent.com/18511177/31456292-e9a33aec-aed6-11e7-99bb-f227db85063d.png">

[2017-10-11 17:32] timabbott commented on #6946
Ahh, interesting, this seems likely to be a local echo problem.

https://zulip.readthedocs.io/en/latest/markdown.html is a useful reference.

[2017-10-11 17:49] showell opened #6947 "Avoid double work in do_send_messages() related to apply_markdown."
One of the reasons that send_messages is expensive is these two lines:

[code]

The `message_to_dict` function is a pretty expensive function, and we're calling it twice to produce nearly the same data.  We can restructure the code to fix this.

[2017-10-11 17:55] timabbott opened #6948 "Issue with message list being rendered out of order causing scrolling problems"
Today I encountered a rare issue where the message list on a given narrow was out-of-order.  The displayed order was:
[code]

Trying to scroll past 296455 would throw the following exception (and not proceed):

![image](https://user-images.githubusercontent.com/2746074/31457508-d6882978-ae71-11e7-8538-814a2fd36ca5.png)

I've seen that exception a number of times in our exception reporting, but nev

[2017-10-11 17:57] showell opened #6949 "Remove UserProfile.short_name."
We no longer use UserProfile.short_name in any meaningful way, so we should sweep it from our code.

If you work on this, you should have some experience with doing full-stack stuff, and you'll want to communicate with the mobile team.

[2017-10-11 18:08] showell opened #6950 "Profile performance of do_send_messages()."
There's a known performance issue with `do_send_messages()`, which is documented in #6947.

Once we fix that, we should do another round of profiling on this code.

There's also an effort to move to a "hydration" strategy for populating message dicts, and that will probably hit master by the time most people read this issue.  For filling in "sender" info, it might make sense to use memcached more

[2017-10-11 18:48] derAnfaenger commented on #6542
@zulipbot claim

[2017-10-11 19:31] timabbott commented on #6938
@parity3 just to confirm, are you interested in having an email be sent, but just with no content other than "Fred sent you a private message"?  Because we do have a setting to disable the emails; I'd like to make sure that you actually want the emails but without the message content.

I think it's probably a reasonable item to add to our notification settings matrix.

If we end up implementing th

[2017-10-11 19:37] parity3 commented on #6938
* I'm aware that you can simply disable all emails
 * I still want the email sent and potentially say the topic, sender, count and time, but leave out the contents of the messages
 * I am not interested in implementing the feature due to lack of time, but thanks for the invite!

[2017-10-11 19:38] timabbott opened #6954 "Add end-to-end encryption for push notifications"
If you're interested, our concept for how this should actually work would be to use encryption using a key shared between the installation of the mobile app and the organization's Zulip server, so that the actual message content does not need to be readable by the push notification bouncer (or Google/Apple's servers, for that matter).

That would be more work to implement than #6936, but also a mu

[2017-10-11 19:41] timabbott commented on #6938
@parity3 cool, thanks for the quick response!

[2017-10-11 19:48] #6798 closed

[2017-10-11 19:48] #6797 closed

[2017-10-11 19:50] timabbott opened #6955 "Minor issues with the real-time sync state in streams management"
* If you use the "subscribe" button in the upper-right, somehow the stream row on the left doesn't get selected after the stream is subscribed to.
* If as Iago, you unsubscribe using the checkbox on the left, the count changes, but the list of subscribers still contains Iago.

[2017-10-11 19:58] timabbott commented on #6885
I don't really care about the folder structure.  I just want to make sure that if you're a Chinese speaker and have your locale setup normally that you actually get served Chinese appropriately.  Possibly we should just find a native Chinese speaker to help confirm this.

[2017-10-11 19:58] timabbott commented on #6885
@Jianchun1 can you confirm that chat.zulip.org handles Chinese correctly?  It would be a great help in knowing whether our i18n stuff is configured correctly.

[2017-10-11 20:13] timabbott commented on #6944
@fooksupachai I think you opened this against the wrong project; this has nothing to do with Zulip.

[2017-10-11 20:13] #6944 closed

[2017-10-11 20:13] timabbott commented on #6943
@fooksupachai I think you opened this against the wrong project; this has nothing to do with Zulip.

[2017-10-11 20:13] #6943 closed

[2017-10-11 20:13] timabbott commented on #6926
@fooksupachai I think you opened this against the wrong project; this has nothing to do with Zulip.

[2017-10-11 20:13] #6926 closed

[2017-10-11 20:13] timabbott commented on #6937
@fooksupachai I think you opened this against the wrong project; this has nothing to do with Zulip.

[2017-10-11 20:13] #6937 closed

[2017-10-11 20:53] #6331 closed

[2017-10-11 21:03] #6763 closed

[2017-10-11 22:56] showell opened #6958 "test: Make sure client descriptors get torn down in event tests."
We should make sure we don't leak tornado clients in our tests.

[2017-10-11 22:58] #6948 closed

[2017-10-11 23:38] timabbott opened #6959 "logging: Spammy error emails with `Attempted to attach to session ... from different IP ...`"
Since we stopped suppressing third-party logging, we've started getting a ton of logging messages as described in this issue title from the `tornado.general` logger.

@gnprice I'm going to fix this with direct suppression of that logger, but I think there's clearly 2 other bugs in our new logging code:
* The ZulipLimiter is clearly not working
* We're sending error emails for `logging.error`, wher

[2017-10-11 23:41] timabbott opened #6960 "Investigate and potentially suppress social auth AuthStateMissing errors"
We've been getting this exception occasionally in production:

[code]

Either this is a bug in our auth integration, or more likely, it's what happens when you hit the "back" button somewhere in the social-auth flow.  If the former, we should fix; if the latter, we should make sure something reasonable happens and not throw a 500.

[2017-10-11 23:42] timabbott opened #6961 "Exceptions in websockets code"
I got this exception in our websockets code path in production:

[code]

Here's another:
[code]

These seems like the sort of thing that shouldn't be possible (at least, the second should probably provide a less intense error, since it sounds like an invalid request, unless it indicates a client-side bug).  Regardless, it deserves some investigation.

[2017-10-11 23:47] timabbott opened #6962 "ZulipLimiter seems to not work with memcached being down"
Something related to either our Python 3 migration or our recent logging refactor means that ZulipLimiter is no longer correctly rate-limiting the emails when Zulip is down due to something like memcached being down.

One interesting observation is that the memcached tracebacks seem to have a fairly random number in them (37562480) which could explain what we're seeing.

However, we also recently

[2017-10-11 23:54] #6959 closed

[2017-10-12 02:47] gnprice commented on #6962
I suspect this is actually exactly what the issue title says -- the filtering doesn't work when specifically memcached is down. Normally we use memcached for the filtering (via `django.core.cache.cache`, which we've configured to use memcached.) We have some logic that tries to check to see if the cache is working, and if not then use a backup solution, but that path is rarely used and I suspect t

[2017-10-12 02:58] rht commented on #6251
cc: @ripienaar who answered my question !

[2017-10-12 03:03] gnprice commented on #6962
One suspicion was that the filter instances aren't sticking around -- that would cause our strategy of hanging off of the object to fail. So I added some logging to print the `id` of the filter instance. But experiments (with `./manage.py shell`, or the dev server) suggest that the filter instance is kept around and not re-created. And when I print whether the filter accepts or rejects a message,

[2017-10-12 03:15] gnprice commented on #6959
Hmm. I actually haven't touched the block in zproject/settings.py that should control this:
[code]
(Despite the name, this is also what sends emails, I'm pretty sure -- just determined that tonight.)

So I think we're just getting more ERROR-level messages, from this and maybe another third-party logger or two.

[2017-10-12 03:16] timabbott commented on #6959
See #6962 for the ZulipLimiter issue.

[2017-10-12 03:18] gnprice commented on #6959
For this sockjs.tornado issue, here's one possible workaround that would be more narrowly-focused but perhaps simpler to deploy than patching sockjs.tornado: we could add a filter, perhaps just at this logger name, that looks for the spammy messages and discards them, or possibly downgrades them to DEBUG or something.

[2017-10-12 03:18] #6639 closed

[2017-10-12 03:19] timabbott commented on #6959
Yeah, would you be up for trying that out and seeing how messy it is?  I don't have a great way to reproduce this one in development since it involves changing your IP, but I think we could do some artificial writing to a logger to test the code path and be pretty confident.

[2017-10-12 03:21] gnprice commented on #6961
I think the `csrf_token` attribute on the request may be something set up by the `@csrf_token` and `@requires_csrf_token` decorators -- I know their job includes, and for the latter this is its only job, setting up a field by that name to be available in templates. (This came up in diagnosing the DisallowedHost double-fault issue.) Not 100% sure where that field is supposed to live or if this is t

[2017-10-12 03:40] #6821 closed

[2017-10-12 03:47] #6030 closed

[2017-10-12 03:55] gnprice commented on #6959
Sure -- I'll go open a quick issue for that.

On the ZulipLimiter side: the reason these didn't get usefully rate-limited is that the message is different every time. The rate-limiting is keyed on a hash of the log message. (Details discussed in #6962.) That hasn't changed since last year.

How to group together errors is a tricky balance between hiding things that are actually novel information v

[2017-10-12 03:57] gnprice opened #6966 "Filter spammy sockjs.tornado errors more specifically"
See #6959 . This issue is for the follow-up to make a more narrowly-targeted fix, like the one discussed there.

[2017-10-12 04:20] ripienaar commented on #6251
What I said does pretty much answer the question, you cant run both - apply simply does not support checking the locks puppet agent makes to avoid concurrent runs

you have to get people to stop the agent ie `service puppet stop` or disable it and wait for any in-progress run to stop `puppet agent --disable` and later `puppet agent --enable`.

[2017-10-12 04:33] timabbott commented on #6251
@ripienaar so, the context in which we're running this is that we're basically using `puppet` as an installer/upgrader, without interacting with or breaking things if the user happens to use a puppet agent on all their systems.  We want to:
* Run `puppet apply` without talking to the agent's config, since it may be incompatible with what we have in our own files
* Not start a puppet agent if it wa

[2017-10-12 04:36] ripienaar commented on #6251
as you run it with different module path and config it wont interact with the host agent

the problem comes in subsystems puppet interact with - lets say you try to install a package while the host agent also try to talk to the package manager there might be locks and errors - yum will wait for a lock others might just die I am not sure.

That class of interaction is one you cant avoid and mainly

[2017-10-12 04:36] timabbott commented on #6273
This should be fixed by the parts of #6963 that we've merged.  We can reopen if we see them again.

[2017-10-12 04:36] #6273 closed

[2017-10-12 04:37] timabbott commented on #6693
@hackerkid this is probably a good project for you, given your recent work on the onboarding process.

[2017-10-12 04:41] timabbott commented on #6251
@ripienaar unfortunately, `puppet` seem to connect to the host agent even with the separate config we're using -- that's what this issue is about.  If there's a config option we can add to firmly disable trying to talk to the agent, that's what we need.

[2017-10-12 04:44] timabbott commented on #3582
I believe this was resolved by the tag-based fixes we did to our full-text search several months ago.
 Closing.

[2017-10-12 04:44] #3582 closed

[2017-10-12 04:46] timabbott commented on #3716
I actually can't find any searchbars that still need this, so closing.

[2017-10-12 04:46] #3716 closed

[2017-10-12 04:46] ripienaar commented on #6251
puppet apply does not do that, the log even shows you its puppet-agent that produced the log, apply isnt involved in that log.

Suspect whoever reported this has something else going but with the info provided and seeing your code and your background given - this isnt an apply problem.

[2017-10-12 05:00] timabbott opened #6967 "Change the "zulip" realm from populate_db to be more faithfully generated"
From @rishig's comment in https://github.com/zulip/zulip/pull/6734#issuecomment-336015710:

"I think the right thing long term is probably to have the zulip realm be a "real" realm, e.g. call do_create_realm or a new do_create_realm_and_initial_user function or whatever, rather than essentially replicating that code in populate_db.

I made an attempt at it a few weeks ago, and got stuck on the fac

[2017-10-12 05:05] #129 closed

[2017-10-12 05:30] timabbott commented on #6795
@AasthaGupta thanks for working on this!  This approach will only work for messages you yourself send during the current browser session, since you only modify the local echo code path.  See zulip.readthedocs.io/en/latest/markdown.html.

What we'll want to do is just have a "emoji_as_text" CSS class be put on the body if this is set, and ideally that CSS class would cause emoji to be displayed as

[2017-10-12 05:36] timabbott commented on #6961
I think that's totally irrelevant.  This websockets request is generated in `static/js/socket.js`, and should unconditionally have that attribute.

[2017-10-12 05:41] timabbott commented on #6961
I'm going to add some debug logging; hopefully that'll reveal what's going on here.

[2017-10-12 05:59] #6324 closed

[2017-10-12 05:59] timabbott opened #6969 "Optimize performance of `tools/update-locked-requirements`"
Currently, `tools/update-locked-requirements` is kinda slow, so we can't reasonably run the test for it being run (`tools/test-locked-requirements`) in Travis CI.  I think with a bit of working either on perf (I'm not sure, but it seems like `pip-compile` is slower than it should be) or caching (not running it when the `requirements.txt` bundle hasn't changed), we could enable it by default.

[2017-10-12 06:07] ripienaar commented on #6251
The purpose of apply is to have a local way to just run some code, it doesnt do SSL stuff or talk to the puppet master (though it could be made to do that) but for 100% certain it does not interact with the puppet agent on the node.

I'd guess what is happening here is someone installed puppet to get zulip installed with your installer and perhaps its a debian/ubuntu machine that has the annoying

[2017-10-12 06:42] timabbott commented on #6837
OK I cleaned up #6900 for the remaining part of this; closing this issue now since we resolved the `sender_ids` piece and this is still kinda cluttered.

[2017-10-12 06:42] #6837 closed

[2017-10-12 06:44] timabbott commented on #4488
@AasthaGupta oops, it turns out the timeout in question is in the nginx configuration, which doesn't run in development.  Updated the description above to make this clear.  You'll need to install a production Zulip server in a VM to test this, I think.

[2017-10-12 06:44] hackerkid commented on #6693
@zulipbot claim

[2017-10-12 06:51] timabbott opened #6970 "Remove simplejson dependency from zulip"
Zulip still uses `simplejson` (Rather than the built-into-Python-3 `json` module or the even faster `ujson` module) for one thing: writing the `page_params` object into a `<script>` tag in `zerver/views/home.py`.

It'd be really great to be able to finish removing `simplejson` as a dependency.  However, it is not trivial to do so, since we're using `simplejson.encoder.JSONEncoderForHTML`, and that

[2017-10-12 06:53] timabbott commented on #6251
OK I'll see if I can find the users who reported this issue and get more details.

[2017-10-12 07:12] timabbott commented on #6567
@vbNETonIce sorry for the slow reply.  I'm not totally sold on this concept, but I think if we were to do it, it should be a server-level setting, not a realm-level setting.  The thing which makes me think we shouldn't implement this as a feature in Zulip is that we'd need to make a lot of changes to the UI to hide these options from users, which doesn't seem great.  Also, some users may actually

[2017-10-12 07:29] AasthaGupta commented on #4488
@timabbott I tried it in chat.zulip.org and not in development.

[2017-10-12 07:47] AasthaGupta commented on #6795
@timabbott There is a CSS class 'emoji_alt_code' which I think can be used.
 I am currently working on this. There are two parts:
1. Change class for incoming messages.
2. Change class for all the previous messages.
I am currently facing problems because when I change the class in message_events.js, it gets reverted back again.

[2017-10-12 08:06] umairwaheed commented on #6960
So the normal code paths for login and register are working fine.

[2017-10-12 10:20] Xuxiaotianonlyone commented on #6146
Hi,I've been paying attention to this issue for a long time,but its state always is open,is there any difficult problem to finish it?

[2017-10-12 12:34] melbel commented on #353
@timabbott Yep, it is fixed. Our local installation at version 1.5.1 exhibits it, the one at chat.zulip.org is clean 👍

[2017-10-12 15:39] timabbott commented on #353
Awesome, thanks for checking! :)

[2017-10-12 15:41] timabbott commented on #6960
Yeah, this feels like something in the space of "hitting the back button somewhere in the registration flow"

[2017-10-12 16:06] timabbott commented on #6795
You probably want to just change a CSS class on the entire message feed and add new CSS to make that work, rather than tagging every message.

[2017-10-12 16:47] showell commented on #6146
Thanks for following up on this, @Xuxiaotianonlyone!

I don't think this is a hugely difficult problem, and I hope somebody tries to work on it soon.  It's probably about a three-day project for somebody with the right skills.  Somebody could probably produce a quick prototype in a matter of hours, but we'd want to thoroughly test it, get feedback on the design, etc.

The issue was opened two mont

[2017-10-12 17:28] #6958 closed

[2017-10-12 17:49] timabbott commented on #6520
This was fixed in 069f681bc61f2191fbb7f651b5efa7af9d4f6d9f

[2017-10-12 17:49] #6520 closed

[2017-10-12 17:59] HarshitOnGitHub commented on #6969
@zulipbot claim

[2017-10-12 18:17] jvasile opened #6974 "Email documentation suggestions"
In /etc/zulip/settings.py, you might be able to clarify the instructions for setting up email in two ways.

First, the gmail instructions are a touch incomplete.  If you have 2FA enabled, the right move is to make an app-specific password, not to enable less secure access.  Mentioning that would point people in the right direction.

Second, the docs say to set email_password in /etc/zulip/zulip-se

[2017-10-12 18:26] timabbott commented on #6974
@h6pham8 thanks for the feedback!  This is much appreciated.

[2017-10-12 18:32] timabbott commented on #6974
@jvasile is https://support.google.com/accounts/answer/185833?hl=en the right doc to point people to for app-specific passwords?

[2017-10-12 18:35] showell commented on #6923
I think we need a little more info to chase this down:

* Was the stream muted?
* Was there really an unread message?  (possibly a message that was unread before the stream was muted)

If it's the case that muted streams can have legitimately unread messages, there are a couple courses of action:
* close this as not a bug
* suppress the display of unread counts for muted streams (sort of questiona

[2017-10-12 18:38] showell commented on #6946
I don't think this is a local echo issue, as I can repro this with an attached file (and thus no local echo).  I'll investigate--my hunch is that we just don't look for alert words when the sender is "me".

[2017-10-12 18:38] timabbott commented on #6974
I just confirmed that doc is correct.  I'll merge a fix for this shortly.  Thanks for the feedback @jvasile!

[2017-10-12 18:39] timabbott commented on #6923
The stream wasn't muted, and there were no actual unread messages.  I suspect it was some sort of tracking bug.

[2017-10-12 18:40] #6974 closed

[2017-10-12 19:27] sarahcstringer commented on #6511
@zulipbot claim

[2017-10-12 20:50] jvasile opened #6977 "Replacing a removed custom emoji doesn't work"
I added a custom emoji in the Linux desktop app, and it worked fine.  I then decided I didn't like it, deleted it.  I then tried to add a different png of the same name and received an error: "Failed: Realm emoji with this Realm and Name already exists."

I then went to my web browser and logged in to my zulip instance from there.  All is well.  The unwanted emoji is gone and the new one is in pla

[2017-10-12 20:58] timabbott commented on #6977
Thanks for reporting this @jvasile!  I can reproduce the issue in master, which has nothing to do with the desktop app: replacing a removed custom emoji just doesn't work.  I'd thought we'd resolved this in our emoji work over the last couple months that will be coming out in Zulip 1.7 next week, but I guess my memory is off.

@HarshitOnGitHub what do we need to do to fix this bug?

[2017-10-12 21:04] timabbott commented on #6946
Fix merged, thanks for the report @vishwesh3 and the fix @showell!

[2017-10-12 21:04] #6946 closed

[2017-10-12 21:10] timabbott opened #6978 "User mentions incorrectly considers deactivated users"
If there's 2 users with the same name, one of them deactivated, mentioning can end up targeting the wrong user.

This seems to be a regression in `get_full_name_info`, which doesn't filter on `is_active=True`.

@showell can you take this one?  Seems like it should be quick to fix and test.

[2017-10-13 00:11] #6978 closed

[2017-10-13 01:10] #195 closed

[2017-10-13 01:10] gnprice commented on #6962
Mystery solved, I think, from debugging a different issue in our error emails -- #6980 should fix, and explains the diagnosis.

[2017-10-13 01:48] Xuxiaotianonlyone commented on #6146
I'm really looking forward to it! I will Continue to focus on it. Thanks for you reply.

[2017-10-13 04:57] umairwaheed commented on #6960
Hmm, interesting, I just looked at the code and it seems that we are already handling this exception:
[code]
This exception should be handled by `except SocialAuthBaseException` block. We do log the exception though.

Exception hierarchy in Social Auth.
[code]

[2017-10-13 05:02] umairwaheed commented on #4733
(waiting for a review)

[2017-10-13 05:34] timabbott commented on #350
Closing this, since the old desktop application has been completely replaced by the electron app discussed here.

[2017-10-13 05:34] #350 closed

[2017-10-13 05:40] timabbott commented on #1019
@showell I think this issue was completed by your recent work on the topic muting table, so I'm closing it :).

[2017-10-13 05:40] #1019 closed

[2017-10-13 05:47] timabbott commented on #6960
Ahh, I think that explains it!  `logging.exception` sends an email that looks the same as a 500.  We should probably downgrade it to a `logging.warning` just letting us know that this happened; these are usually not actionable.

[2017-10-13 12:51] showell commented on #1019
Yep!

[2017-10-13 14:37] derAnfaenger opened #6984 "Broken search results for query `handle 'zulip_admin'`"
### Reproduction

1. Search for `handle 'zulip_admins'`.
2. The search results should look similarly broken to this:
![image](https://user-images.githubusercontent.com/7950151/31551265-48d50d02-b034-11e7-945d-4b16cda19269.png)

*Note: `handle 'zulip_admin'` is the shortest string I found that breaks the results. Queries like `handl 'zulip_admin'` work fine for me. Also, the results break for me on

[2017-10-13 14:56] jvasile opened #6985 "Install docs fumble a required auth setup step"
I ran the install script on a fresh Ubuntu 16.04 LTS box.  After some work, I got it up, made the a realm and set up my initial user.  All was well..

At some point, I realized I'd never been asked for a password during user setup.  I wondered if maybe Zulip was passwordless and just did an email-based auth, which seemed odd but maybe not inherently insane.  As an experiment I logged out.  I could

[2017-10-13 15:36] jvasile opened #6986 "Error message references wrong problem"
When I invited colleagues to join and evaluate our new Zulip instance, they got an error message:
"Your email address, foo@bar.baz, does not correspond to any existing organization."

I checked that the "New users restricted to the following domains:" was set to None and unchecked.  What I had to to uncheck was "E-mail invitation required", which is not what is suggested by that error message.

I

[2017-10-13 16:19] rishig commented on #6986
Thanks for the report @jvasile! I believe this is fixed in master, but I'll let Tim confirm, since he was last working on the registration/auth code (he's at a conference today, so may not get to this till tonight).

[2017-10-13 16:37] shubhamdhama commented on #6808
@zulipbot claim

[2017-10-13 18:36] hackerkid opened #6990 "Support Dialogflow (API.AI)"
Zulip is not listed as a supported integration in Dialogflow(previously API.AI). Figure out what to do to add Zulip to this list and do the same.

https://dialogflow.com/docs/integrations/

[2017-10-13 18:57] timabbott commented on #6986
Yeah, this is fixed in master, should be in the 1.7 release next week.  Thanks for the feedback @jvasile!

[2017-10-13 18:57] #6986 closed

[2017-10-13 20:30] shubhamdhama commented on #6808
@rishig From the comment in `composebox_typeahead.js`:

        // as :P or :-p
        // Also, if the user has only typed a colon and nothing after,
        // no need to match yet.

I think we have left typeahead from just first characters because many users find it easy to use just `:D`,`:P` or maybe some user-defined symbol like `:C`.

[2017-10-13 21:04] shubhamdhama commented on #6809
@zulipbot claim

[2017-10-13 21:40] alirizwi commented on #6627
@zulipbot claim

[2017-10-13 22:17] rishig commented on #6808
hmm, interesting point. Just checked what some other products do: github and dropbox paper autocomplete at the `:`, and slack does our current behavior (second letter).

One compromise might be to autocomplete on `:[a-z]`, but not `:[A-Z]`. (And we won't be autocompleting on `:)`, `:-)` etc anyway).
Could you start a discussion about this in #design?

[2017-10-13 22:31] HarshitOnGitHub commented on #6977
@timabbott Reaction API migration and realm emoji migration are the two big projects that I am currently working on and are required to fix this.

[2017-10-13 23:02] timabbott commented on #6808
I like that compromise.  Lower-case letters aren't really used in smileys, and all emoji have lower-case names, so it seems like it has all the benefits of both options.

[2017-10-14 00:04] jvasile opened #6993 ""Attempting to send a GCM push notification, but no API key was configured""
This is a brand new install on an Ubuntu 16.04 box.  The install was done using the standard script and following the instructions in http://zulip.readthedocs.io/en/latest/prod-install.html?highlight=install.

I followed the steps at http://zulip.readthedocs.io/en/latest/prod-mobile-push-notifications.html under "How to sign up".  I emailed support and sent the requisite information.  I received a

[2017-10-14 00:13] #6960 closed

[2017-10-14 00:19] timabbott commented on #6993
@jvasile I think Zulip 1.6 might have a bug wherein the line in the `/etc/zulip/settings.py` template is missing quotes, so just uncommenting the line results in invalid syntax.  I'm pretty sure that's the cause of the internal server error, and unfortunately syntax errors in the settings file are bad enough that Django doesn't start up and thus doesn't log something to `errors.log`.  Can you conf

[2017-10-14 00:31] timabbott commented on #6993
@jvasile I merged 27a450b58d29c24f29a3a6e55f4da3e3fb6a4b5e to make that error message clearer as a start on this issue.  Thanks for another excellent bug report :)

[2017-10-14 01:01] shaddygarg commented on #6488
@zulipbot claim

[2017-10-14 03:10] YJDave commented on #1249
Deactivating realm deactivate all functions (user registration/login) of realm.
This issue is already solved. @timabbott you can close this :)

[2017-10-14 05:10] rht commented on #6970
It is not a viable solution to do the rewrite. Such reimplementation in Python 3 only would be about as long as the current implementation, https://github.com/simplejson/simplejson/blob/master/simplejson/encoder.py.

[2017-10-14 05:13] vinithegit commented on #6714
@zulipbot claim

[2017-10-14 05:20] vinithegit commented on #6714
Is this issue only seen in left side bar of help section or is there any other place where it occurs?

[2017-10-14 05:56] synicalsyntax commented on #6714
@vinithegit Only the left sidebar

[2017-10-14 07:01] Jianchun1 commented on #6885
Hi Tim, the settings for Chinese language is not working. I have tried
 both reloading the page and logout/login. For your information.

Best regards

On Oct 12, 2017 3:59 AM, "Tim Abbott" <notifications@github.com> wrote:

@Jianchun1 <https://github.com/jianchun1> can you confirm that
chat.zulip.org handles Chinese correctly? It would be a great help in
knowing whether our i18n stuff is configure

[2017-10-14 07:32] rht commented on #6251
To shed more light into this, I think it is best to ask @hobson, who wrote the documentation on how to get Zulip running on an existing server, https://github.com/zulip/zulip/commit/a647f7bf9fc053a9128af948ed850da469a7f7e1#diff-b73f5a9e8a6d12c0949ecef7df8efacd. @hobson my apologies for asking you for the nth time once again, but it would help us if you could describe the specific use case you have

[2017-10-14 09:01] rht commented on #466
What about SHA-256 instead? E.g. https://bitcoin.org/bin/bitcoin-core-0.15.0.1/

[2017-10-14 09:25] rht commented on #6969
The solution is to run the test only when the relevant files in requirements/ are listed
in `git diff-tree --no-commit-id --name-only -r HEAD`.

[2017-10-14 11:34] HarshitOnGitHub commented on #6969
@rht This is not going to work since for a PR which contains 10 commits and updates some requirements in first commit with running `tools/update-locked-requirements` this test wouldn't run.
I propose to calculate a hash of the requirements file at the end of `tools/update-locked-requirements` and place that hash in a version controlled file. Then we can modify the `tools/test-locked-requirements`

[2017-10-14 12:38] rht commented on #6969
My aim is to avoid running pip-compile in `tools/test-locked-requirements`. This
can still made to work for a PR with N commits if the condition is to be made to
be: "if any (instead of every) of the commits touch requirements/common.txt,
etc, and the lockfile doesn't change, exit 1".

This, I agree, simplifies the current implementation of the diff check, but
doesn't eliminate the fact that `pip-

[2017-10-14 15:28] teerapat2539 opened #6998 "test"
test

[2017-10-14 15:28] #6998 closed

[2017-10-14 16:16] timabbott opened #6999 "perfect scrollbar on /help/ pages not working"
![image](https://user-images.githubusercontent.com/2746074/31577275-498fe474-b0c0-11e7-8738-464289a1b267.png)

@brockwhittaker we seem to have regressed to the old scrollbar.

[2017-10-14 16:50] vinithegit commented on #6714
Kinldy review this pull request https://github.com/zulip/zulip/pull/7000

[2017-10-14 20:39] jvasile commented on #6993
As you mention, there are no quotes around that string in the settings.py file.  I uncommented the push line and restarted the server.  The traceback (and one preceding line so you can see where it fell) in django.log is as follows:

    *** Operational MODE: preforking ***
    Traceback (most recent call last):
      File "./zproject/wsgi.py", line 26, in <module>
        django.setup()  # We nee

[2017-10-14 20:44] HarshitOnGitHub commented on #6969
can still made to work for a PR with N commits if the condition is to be made to
be: "if any (instead of every) of the commits touch requirements/common.txt,
etc, and the lockfile doesn't change, exit 1".

Yeah, I had understood what you mean but the question is how will you determine the value of N in travis?

doesn't eliminate the fact that pip-compile (slow, with network bottleneck
because it r

[2017-10-14 22:16] adambirds opened #7003 "Issue when creating organisation."
When creating an organisation, after clicking the verify link in the email I get the below error page:

Here is the traceback from errors.log:

[code]

[2017-10-15 01:41] rht commented on #6969
The value can be determined relative to the cloned master branch (see https://travis-ci.org/zulip/zulip/jobs/288082987#L425).

For the scenario of:
1. User does not run `tools/update-locked-requirements` after updating any of the input file. The shasum of the requirements file then changes, but it differs from the stored value, and so `tools/test-locked-requirements` is triggered.
2. User runs `to

[2017-10-15 02:44] sagar-kalra commented on #6999
@timabbott  i would like to work on this issue.

[2017-10-15 02:48] lonerz commented on #6999
@sagar-kalra you can claim this by commenting `@zulipbot claim`

[2017-10-15 09:18] sagar-kalra commented on #6999
@zulipbot claim

[2017-10-15 09:21] sagar-kalra commented on #6999
@lonerz @timabbott
The problem is just that the scrollbar on the left side doesnot show all of the contents, right?

[2017-10-15 11:07] hackerkid commented on #6834
@zulipbot claim

[2017-10-15 13:46] adambirds commented on #7003
Any ideas on the above issue. My authentication methods are both LDAP and Email/Username. I can receive the emails from Zulip fine but upon clicking the link in the email after creating the organisation I get the above mentioned issue. LDAP also tested fine using the manage.py test method.

[2017-10-15 15:16] rht commented on #7003
It looks like the err was about that the 'realm_org_type' should have been corporate or community. The choice is shown in the realm creation page I think. @adambirds  We can debug this problem more interactively at chat.zulip.org

[2017-10-15 15:31] AasthaGupta commented on #6731
@timabbott
I have added code to render list again.
Can you explain what do you mean by remove case because delete attachment is already being handled.

[2017-10-15 17:35] AasthaGupta commented on #6900
@zulipbot claim

[2017-10-15 21:59] adambirds opened #7017 "Issue when logging in with LDAP Auth"
I get the following error when trying to login with a new user who is in my LDAP directory:

[code]

The hostname I use for Zulip is https;//chat.adbtechltd.co.uk
The domain name of my LDAP domain is adbtechltd.co.uk

I can however login using LDAP for a user that had already been created using the EmailAuthBackend which has now been disabled.

[2017-10-15 23:00] adambirds opened #7018 "Integrations logos not showing on /integrations/ page."
On the /integrations/ page, not all the logos display correctly as in the below screenshot:
![image](https://user-images.githubusercontent.com/13500254/31590198-2da05966-b204-11e7-8228-65ee01a77659.png)
The below shows in Chrome Dev Tools:
![image](https://user-images.githubusercontent.com/13500254/31590212-56a2f12a-b204-11e7-80fb-3aa9b9a9653c.png)
We get the below errors in the nginx error.log fi

[2017-10-16 00:24] rht commented on #306
Is this issue still relevant? Should there be another issue for `upgrade-zulip-from-git`?

[2017-10-16 00:33] rht commented on #7003
Hmmm... So reinstalling from a fresh env solved the issue. But there should be a way of reproducing this.

[2017-10-16 04:36] YJDave commented on #5614
@zulipbot claim

[2017-10-16 07:32] hackerkid commented on #7003
Duplicate of #6912 and #6399

[2017-10-16 10:02] modestlearner commented on #6949
Can I take this up??

[2017-10-16 11:56] showell commented on #6949
yep, @modestlearner, you can work on this...probably the first step is to remove `short_name` from `static/js/*.js` and `static/templates` in one or two atomic commits

[2017-10-16 12:06] hackerkid commented on #6326
@zulipbot claim

[2017-10-16 15:42] tommyip opened #7021 "Search highlighting misalignment due to unicode characters"
Unicode characters with multiple code points should be handled correctly. See https://chat.zulip.org/#narrow/stream/issues/topic/Misaligned.20search.20highlight for more information.

![screenshot-2017-10-16 1971 sort imports - zulip community - zulip](https://user-images.githubusercontent.com/18504232/31621064-befe440e-b290-11e7-8dd1-812e0b01c400.png)

The `ö` here is causing the issue.

@zulipbo

[2017-10-16 16:07] timabbott opened #7022 "Using `git clone -C` to configure repositories for rebase mode for folks following our docs"
At the GSoC mentor summit, I mentioned to the person representing Git the problems we have with new contributors using git pull and getting into trouble, and he suggested we may want to have our documentation suggest a git clone -C ... invocation that sets the git pull mode to be rebase by default in their repository in the configuration right there on the command line.

This is a great starter is

[2017-10-16 16:50] lonerz commented on #6949
@modestlearner you can claim this task by commenting `@zulipbot claim`

[2017-10-16 16:59] brockwhittaker commented on #6999
@sagar-kalra, the issue is that the sidebar does not have the `perfectScrollbar` extension working properly. Otherwise it would look like a narrow grey bar, rather than the default linux scroll bar.

[2017-10-16 17:02] brockwhittaker commented on #6999
@timabbott, we could probably revert my revert actually since the new one doesn't CTRL-F anyways. 😉

[code]

[2017-10-16 17:05] timabbott commented on #7017
This is fixed in master, but as mentioned in #6624, the problem here is actually that you need to create the first user not using LDAP.

[2017-10-16 17:05] #7017 closed

[2017-10-16 17:18] alirizwi commented on #7022
@zulipbot claim

[2017-10-16 17:29] timabbott commented on #6601
https://chat.zulip.org/user_uploads/2/27/L8lsqVBOnmysaaYYxTqT1SMN/Zulip-Webapp-stream-list-scroll-480p.mov

[2017-10-16 17:29] timabbott commented on #6601
@showell any idea what this could be?

[2017-10-16 17:34] timabbott commented on #6999
@brockwhittaker can you open a PR for that?

[2017-10-16 17:36] modestlearner commented on #6949
@showell Thanks for your support.
But can you please help me out with this as I am new to the community and want to contribute.

[2017-10-16 17:37] modestlearner commented on #6949
@zulipbot claim

[2017-10-16 17:50] timabbott commented on #7022
https://www.git-scm.com/docs/git-clone#git-clone---configltkeygtltvaluegt is helpful.

[2017-10-16 17:59] timabbott commented on #306
Well, it's relevant in the sense that we haven't added such a test.  What I had in mind for how this test should work is that we'd have a modified version of the `production` suite that builds a release tarball on the **previous** version (aka the merge-base of the branch with master), installs that, and then runs `upgrade-zulip-from-git`, and tests the end result.

[2017-10-16 18:08] timabbott commented on #7018
@adambirds I've never seen this sort of "many but not all static asset images are missing" issue before.  It sorta looks like some of the static assets aren't installed properly.  The installer should copy all these files from the release tarball into the `prod-static/` directory in the installation.

[2017-10-16 18:09] timabbott commented on #7018
Can you try spelunking a bit to see what's going on in that directory?

[2017-10-16 18:14] showell commented on #6601
I have no idea what's causing in it, but we can probably just try to force the scrollbar to the top as part of `stream_list.initialize()` if we think that's okay.  It's a little curious that all the streams are grayed out in the video.

[2017-10-16 18:23] timabbott commented on #6601
Yeah, that seems like a fine strategy.

[2017-10-16 18:23] timabbott commented on #6601
Greyed out here probably is because those streams had no traffic that had loaded yet?

[2017-10-16 18:24] timabbott commented on #6601
Maybe that means the actual bug here is basically a race where messages are received from the server too late.  In which case maybe the right fix for this is to finish switching to use the `unread_msgs` data set (which has a few prereqs).

[2017-10-16 19:53] adambirds commented on #7018
@timabbott contents of the directory, looks like it has all the .svg files but not all the .pngs:

[code]

[2017-10-16 19:55] shubhamdhama commented on #6808
I came up with this solution:
[code]
It covers the cases like `:D',`:X', `:-p`, `:-l`, `:-)` and as far as `:)` is concerned there is no emoji name at zulip which have `)`.
Another solution might be
[code]
it prevents any character other than a-z but it also prevents some first character typeaheads of emojis like `:+1:`
@rishig @timabbott I would like to know which one is better or is there any re

[2017-10-17 01:30] rishig commented on #6808
I guess we left this a bit underspecified. For 1 character: A-Z is no autocomplete, a-z is yes autocomplete.
* For `+` and `-`, there is `:-1:` and `:+1:`. I'm tempted to say yes autocomplete for `+`, and no autocopmlete for `-`.
* For 0-9, there will soon be things like `7.00` for 7 o' clock. I think the only emoticons here are `:3` and `:0`? I could go either way, but first thought is no autocom

[2017-10-17 04:53] timabbott commented on #6808
Yeah, sounds good.  And of course, @shubhamdhama make sure you include test cases for these corner cases we're talking about in the `frontend_tests/node_tests/composebox_typeahead.js` tests.

[2017-10-17 05:02] umairwaheed commented on #6885
I see. I think the problem is not Transifex. It is with out application code. Working on this.

[2017-10-17 05:19] timabbott commented on #7018
I believe these files should be `.svg`, so my guess is that in @adambirds's installation, the problem is in `zerver/lib/integrations.py`.

I guess the code is this:
[code]

So we would expect if something were wrong with the paths involved.

Oh, I bet I see the problem: those `DEFAULT_...` paths don't correctly use `STATIC_ROOT` to find the files.  So if a machine has never been upgraded with `upg

[2017-10-17 05:20] timabbott commented on #7018
@eeshangarg can you fix this ASAP?  We'll definitely want the fix in the 1.7 release.  I believe we just need to replace the `static/` at the start of these paths with `settings.STATIC_ROOT`.

[2017-10-17 05:20] Be-ing commented on #267
I would sure appreciate this. I don't think a full featured theme system is necessary or would even be beneficial. On the contrary, I think it would be an unnecessary maintenance and support burden. I propose following how Signal handles this by having one binary preference option to switch between a single light and dark theme shipped with the application.

[2017-10-17 05:21] timabbott commented on #7018
(@adambirds thanks for the report, as this is a release-critical issue that we were very unlikely to find in any of our testing environments, since we usually use the from-git upgrade code path)

[2017-10-17 05:30] timabbott opened #7031 "Sometimes duplicate notification emails"
Since we merged @showell's and my work on the editing notifications (etc.), I've gotten a few times now 2 copies of a PM notification email, 2 minutes apart.  We need to investigate the possibility that missedmessage_hook is sending duplicate notifications, because that's very likely what's happening here.

(The message edit code path is definitely not involved, in that in neither case where I've

[2017-10-17 05:36] timabbott commented on #7017
@adambirds actually I may have mixed up this issue with your other report.  Do you want to try using `upgrade-zulip-from-git` (see http://zulip.readthedocs.io/en/latest/prod-maintain-secure-upgrade.html#upgrading) to upgrade to master and letting us know what exception you get then?  The exception you have above is masking whatever the real problem is, and is fixed, but I'd like to be confident th

[2017-10-17 05:48] adambirds commented on #7017
@timabbott yes I'll try that and run that upgrade as soon as I can this morning and get back to you on if it working for us.

[2017-10-17 05:55] timabbott commented on #1249
Yep, agreed, this is fixed, thanks for noting this @YJDave !

[2017-10-17 05:55] #1249 closed

[2017-10-17 06:44] timabbott commented on #6985
Tagging this as high-priority since it's a tweak should not forget about for this 1.7 release.

[2017-10-17 06:45] timabbott commented on #6990
@hackerkid do you have a sense how much work adding this would be / how much that service is used?  I'm trying to think about how to prioritize this.

[2017-10-17 06:47] timabbott commented on #6969
@HarshitOnGitHub I think your plan sounds good.

[2017-10-17 06:48] timabbott commented on #6993
Great, thanks for the confirmation @jvasile!

[2017-10-17 06:48] #6993 closed

[2017-10-17 06:51] timabbott opened #7032 "Improve debuggability of syntax errors in `/etc/zulip/settings.py` files"
As discussed in #6993, it's common for a broken `settings.py` file to mean that Django doesn't start, and thus `/var/log/zulip/errors.log` remains empty; instead, a user needs to know to look in `/var/log/zulip/django.log` to see why Django didn't start.  I think with some clever coding in `zproject/wsgi.py`, we might be able to ensure that something gets logged into `errors.log` in the event that

[2017-10-17 06:52] timabbott commented on #7032
@rht @umairwaheed do either of you have a production environment handy for testing?  This feels like something that won't be much work for someone who has one setup.

[2017-10-17 06:53] timabbott commented on #6993
Opened #7032 for the debuggability issue.

[2017-10-17 06:57] timabbott commented on #6970
@rht I think I disagree.  The actual HTML encoder is quite short given the encoder class, and I believe the base encoder class itself is included in Python 3's `json` module.  See https://github.com/simplejson/simplejson/blob/master/simplejson/encoder.py#L378.  So I think this should be totally solvable.

[2017-10-17 07:17] rht commented on #7032
I have access to @feorlen's; on it.

[2017-10-17 07:37] adambirds commented on #7017
@timabbott, the update from git failed with below error:

[code]

### /etc/zulip/zulip.conf

[code]

Any ideas?

[2017-10-17 07:55] rht commented on #7017
@adambirds  you need to sudo: `sudo .../upgrade-zulip-from-git master`

[2017-10-17 07:55] rht commented on #7017
Oh nvm, saw you already did that.

[2017-10-17 07:59] adambirds commented on #7017
I was running directly as root so didn't think I'd need to. @rht

[2017-10-17 08:16] umairwaheed commented on #6885
I think this should be fixed in #7034.

[2017-10-17 09:45] rht commented on #6970
I tested. It worked.

[2017-10-17 10:33] waozixyz opened #7037 "allow people to request an invite"
If you do not want everyone to be able to sign up, then currently you need to send out invites. it would be nice if people could request an invite and 'admins' can accept or reject the person to join.

[2017-10-17 13:34] sagar-kalra commented on #7037
@spaceywolfi Can you explain more about what exactly do you want to change?

[2017-10-17 13:52] spaceywolfi commented on #7037
hi @sagar-kalra
sorry for not being very clear, i hope this explanation helps more:

If the setting of an organization is set to invite only
and a person who has not been invited to the organization yet goes the url of the team chat such as
organization.zulipchat.com they will not be able to request an invitation.
I think it would be nice if the person could request an invitation.

The admins that

[2017-10-17 14:25] sagar-kalra commented on #7037
@spaceywolfi okay
I understood now

[2017-10-17 14:44] jdong92 commented on #6847
Can I take this?

[2017-10-17 16:20] kfogel opened #7042 "Support username auto-completion without "@" prefix."
**Status quo:** In the message composition box, one can type TAB to get nick autocompletion right now.  However, the to-be-completed nick must start out with an "@" -- the "@" is apparently the signal to Zulip that TAB-based autocompletion should be activated at that spot.

**Proposal:** Make TAB complete username prefixes without requiring "@" to already be in place on the front (instead, the aut

[2017-10-17 16:26] timabbott commented on #6847
@jdong92 sure, though I recently remembered that we have in `zerver/middleware.py` a `JsonErrorHandler` function that might actually do this already for normal 500s.  So, the task here is to test: change a random API route (e.g. the one to add a realm emoji) to throw an exception that's not a JsonableError so that it 500s, and then use the chrome inspector when adding a realm emoji to verify the f

[2017-10-17 16:42] timabbott commented on #7042
Hmm, interesting idea.  I agree that `TAB` doesn't currently do anything in Zulip, so it could be used for auto-complete.  Pinging @showell @lonerz @lonerz @gnprice for a few opinions on the utility of this and also whether there's anything it would prevent us from doing...

[2017-10-17 16:44] kfogel commented on #7042
Thanks, @brainwane and @timabbott (and @zulipbot :-) ).  Looking forward to the feedback on this idea.

[2017-10-17 16:47] kfogel commented on #7042
One further thought: If we do make TAB default to nick-autocompletion, then we'd be choosing that over stream-autocompletion (as proposed in issue #2577).  I think nick-autocompletion is more frequently used, and is probably the right action to default to when neither "@" nor "#" are present to disamiguate, but maybe it would be worth making a per-user setting for which way TAB should default.  Pe

[2017-10-17 17:02] timabbott commented on #7037
Yeah, this is a good idea.  @hackerkid is probably the right person to work on this :)

[2017-10-17 18:05] gnprice commented on #7042
Sounds good to me!

Other than username and stream completion, I could imagine using TAB for specialized bits of UI like completing the language name for syntax highlighting, at the top of a ``` block. But those will be specialized, and I think we should be fine making each of those depend on some specific preceding syntax (like the start of a ``` block, in that example.)

[2017-10-17 18:11] spaceywolfi opened #7045 "Disable space-makes-code blocks feature of markdown renderer for email gateway"
Since every stream has an email address it is useful to use this feature to forward emails to a specific stream.
Usually emails are not written with markdown syntax in mind and the emails sometimes render in strange ways.
I think it would be a good idea to add a feature to disable the markdown render for the email gateway bot (emailgateway@zulip.com)

[2017-10-17 18:21] hackerkid commented on #7037
I was actually thinking about creating an issue for this a couple of hours ago :)
@sagar-kalra If you don't mind I will work on this as I have been working on this part of the codebase for the past few days :)

[2017-10-17 19:03] Be-ing opened #7046 "wasted horizontal space makes GUI feel cluttered"
Zulip wastes considerable horizontal space, making the main chat area in the middle feel cluttered on my 1366 x 768 screen. Notice all the unused space indicated by the red circled areas:
![image](https://user-images.githubusercontent.com/9455094/31683806-88a5d116-b343-11e7-8370-b7cdc4434298.png)
I propose a few solutions to this:
  * shrink the width of both the left and right panes. In a desktop

[2017-10-17 20:05] adambirds commented on #7017
@timabbott upgraded successfully from git. Can confirm that this issue is resolved and working as expected in the new version.

[2017-10-17 21:07] kfogel commented on #7042
Thanks, @gnprice.  If I have time to make a PR I will, though if someone else wants to sooner I hope they'll go for it.  At least we've got it on record now that the idea is not totally insane and that a patch might be welcomed!

[2017-10-17 21:11] jumperskirt commented on #6126
yes, still working on it!

[2017-10-17 21:32] Pri-Pri-Pri commented on #5591
@zulipbot claim

[2017-10-17 22:19] timabbott commented on #7045
@spaceywolfi hmm, while it's true that emails are not usually written in markdown, plain text should almost always render just fine in Zulip's markdown syntax.  I want to make sure that the issue here isn't that e.g. our quotation removal code isn't working properly with a given email provider (since that's the most likely cause of weird formatting in an email ending up in a Zulip message).

Can y

[2017-10-17 22:28] showell commented on #7042
I'm a little wary of using the tab key.  I have press-enter-to-send turned off, and so the tab key for me tabs me to the Send button.  I usually hit control-enter to deliver a message, but I occasionally hit tab and then enter.

[2017-10-17 22:34] timabbott commented on #7017
Great!  Release coming out soon :)

[2017-10-17 22:37] adambirds opened #7047 "Email Auth Registration Bug"
Scenario:

Email Auth Enabled to Create Organisation
LDAP then enabled and tested, works fine.
Email Auth then disabled and server restarted.

However it still lets you register a user via email (who is none LDAP)
Sends confirmation email
Link in confirmation email will let them set a password and then log them in.
However if you log out and try logging back, auth will fail.

The registration by e

[2017-10-17 22:44] adambirds commented on #7042
I can second @showell's concerns on this one. I again don't always have press-enter-to-send switched on. And I mainly use tab to go to Enter and then Send, so maybe if this was to come in, maybe have it so when press-enter-to-send is turned off, tab to get to Enter is still the default.

[2017-10-17 22:55] gnprice commented on #6985
Thanks @jvasile for reporting this!

I think this is actually fixed in master, with 5c0712599, so it'll be fixed in the upcoming 1.7 release. The default auth backend, `EmailAuthBackend`, is enabled now in the initial template config, just as you suggested.

Moving that warning out of the install doc and into the config file right next to the setting, like in #7011, looks like a good idea too -- t

[2017-10-17 22:55] #6985 closed

[2017-10-17 23:01] timabbott commented on #7042
Glad I asked several people for feedback.  I had not thought of tab+enter, which is in fact how I send most messages in Zulip.  And I suppose shift+tab is used to get to the subject box as well, and tab is used to get back to the main box from the topic box.  I'm not confident we can really do this feature in a way that makes Zulip easier to use, but I'm open to ideas.

[2017-10-17 23:02] gnprice commented on #7042
Hmm, that's an interesting point. I also have enter-to-send off, but I think I always hit ctrl-enter to send rather than tab, enter, so I didn't think of it.

Maybe the username completion should only fire when you're at the end of a word that could plausibly be a name, or I guess when the completion actually finds any candidates? That might address that issue -- I think when I want to send a mess

[2017-10-17 23:07] #6808 closed

[2017-10-17 23:15] rishig opened #7049 "org settings: Allow users to delete messages."
We already allow admins to delete messages; it's in the actions popover menu. It would be good to add a setting that would allow users to do the same.

The setting can go at the end of the Message Editing section of the Organization Settings tab. Good text for this would be "Users can permanently delete their messages.". We'll need a pretty good user doc for this, but that can be done as follow-up

[2017-10-17 23:27] #7018 closed

[2017-10-17 23:27] timabbott commented on #7018
Thanks again for reporting this @adambirds; it should be fixed in master.  If you want do an `upgrade-zulip-from-git` from master to confirm the fix on your system, that'd be awesome.

[2017-10-17 23:39] adambirds commented on #7018
@timabbott when I did my upgrade from git earlier as part of #7017 all of the logos where showing fine. But I believe you said when upgrading from git, you get the files, so it wouldn't error anyway. Think it's only an issue when installing from a tar ball. Or is there any specific way I can check the new way is working? Thanks.

[2017-10-17 23:42] timabbott commented on #7018
@adambirds You make a great point.  I'll get this verified another way.

[2017-10-18 00:40] #6999 closed

[2017-10-18 00:52] jvasile opened #7051 "manage.py export fails on relative path"
Somebody asked me how easy it is to get data out of Zulip.  The use case here is extracting the info and them building a static site.  He doesn't want to be tied to running Zulip instances just to let people read the logs as if it were IRC.  I didn't see any easy way to get at Zulip logs, so I looked at the data export.

I did:

    su zulip
    cd ~/deployments/2017-10-12-17-22-56
    mkdir t

[2017-10-18 02:12] jvasile opened #7052 "Export excludes avatars"
I'm on 1.6 and did an export:

    su zulip
    cd ~/deployments/2017-10-12-17-22-56
    ./manage.py export --output /home/zulip/deployments/2017-10-12-17-22-56/t ots

The output seemed clean:

    2017-10-18 01:26:55,004 INFO     Exporting data from get_realm_config()...
    2017-10-18 01:26:55,004 INFO     Exporting via export_from_config:  zerver_realm
    2017-10-18 01:26:55,004 INFO     Expor

[2017-10-18 02:26] rishig opened #7053 "user docs: Highlight the article in the left sidebar corresponding to the issue."
If I go to something like https://chat.zulip.org/help/create-a-stream, it looks like
![image](https://user-images.githubusercontent.com/890911/31698039-113c9f88-b370-11e7-8de6-4a325b108800.png)

Ideally it would instead look like
![image](https://user-images.githubusercontent.com/890911/31698075-54699aae-b370-11e7-94a7-e48a98ab70d2.png)
(not that color, this is just for demonstration purposes)

No

[2017-10-18 02:36] Pri-Pri-Pri commented on #7049
@zulipbot claim

[2017-10-18 02:38] simoniz0r commented on #267
I would also appreciate a dark theme of some sort at least.  The current theme is very bright, and my eyes really start to get angry at me after using it for a short period of time.

[2017-10-18 03:32] aklap opened #7056 "Broken anchor links in Vagrant environment setup tutorial"
The [Vagrant environment setup tutorial](https://github.com/zulip/zulip/blob/master/docs/dev-env-first-time-contributors.md#troubleshooting-common-errors) anchor links to the Troubleshooting & Common Errors section don't work due to a quirk with GitHub flavored markdown: the ampersand in the heading gets removed and the resulting space is filled with a hyphen. ([See this comment.](https://gist.git

[2017-10-18 03:39] timabbott commented on #7056
Thanks for the detailed and helpful bug report @aklap!  I just merged a fix.

[2017-10-18 03:42] timabbott commented on #7052
@jvasile can you check whether those users have actually uploaded avatars, or are just using gravatar?  Since gravatars are stored by Gravatar, we don't need to export them.

[2017-10-18 03:48] timabbott commented on #7051
Thanks for a great bug report; this was an easy fix.

[2017-10-18 03:48] #7051 closed

[2017-10-18 03:50] alirizwi commented on #7053
@zulipbot claim

[2017-10-18 04:11] timabbott commented on #7052
I was able to confirm a bug here, fixing now.

[2017-10-18 04:16] #7052 closed

[2017-10-18 04:17] #5981 closed

[2017-10-18 04:24] timabbott commented on #7003
This is already fixed in master.

[2017-10-18 04:24] #7003 closed

[2017-10-18 04:30] kritisingh1 commented on #6547
@zulipbot claim

[2017-10-18 04:38] timabbott commented on #7056
I reverted that fix in 2648d595c17d58905bab8bd786613fd859033edb, because as it turns out, changing this broke the links in ReadTheDocs.  Since that's where we link to these docs, I think it's most important to have the links work there.  To fix this properly, we'll need to figure out how to modify our ReadTheDocs/Sphinx configuration under `docs/` to match GitHub Flavored Markdown in how it does a

[2017-10-18 04:57] #7031 closed

[2017-10-18 05:10] timabbott commented on #7031
@showell you may want to do a post-commit review on https://github.com/zulip/zulip/commit/513b6d624f35bf5ff3b3e51100b7d4b49187638c

[2017-10-18 05:27] timabbott opened #7058 "Clean up error message for sending to a stream you're not subscribed to"
![image](https://user-images.githubusercontent.com/2746074/31702200-40da291c-b38a-11e7-9477-4b2ee3e6c5db.png)

We should make this prettier and also have a button to just subscribe yourself.

(You can get here by just typing `stream:Scotland` in the top search box)

[2017-10-18 05:48] timabbott opened #7059 "push notifications go to muted topics on streams with stream_push_notify set"
I think to fix this, we'll want to change `get_recipient_info` to accept the `topic` as an argument and do a `MutedTopic.objects.filter(stream=stream, topic=topic)` query to see if anyone has it muted, and if so, filter them from the `stream_push_notify` list.

While we're at this, we should probably add `db_index=True` for some columns in `MutedTopic`  to make this query fast.

This is a follow-u

[2017-10-18 05:50] timabbott commented on #7059
See 64cd0c2c5aa76ec6143ace467a82a01930deda7a for the test.

[2017-10-18 07:25] Anupam-dagar commented on #6862
@zulipbot claim

[2017-10-18 07:38] rishig commented on #6862
Hi @Anupam-dagar, thanks for looking into this! @synicalsyntax already has most of a PR in #6987. I'd recommend finding a different issue for now.

[2017-10-18 07:49] dgarvit commented on #6311
waiting for a review

[2017-10-18 08:16] sagar-kalra commented on #6802
@Rishabh570 Are you still working on it?

[2017-10-18 10:16] Anupam-dagar commented on #6862
okay

[2017-10-18 13:29] sagar-kalra commented on #6477
@zulipbot claim

[2017-10-18 14:43] ArchitaDesai commented on #6512
@zulipbot claim

[2017-10-18 15:18] sagar-kalra commented on #6126
@vaidap Why dont we just use onclick function of javascript under button tags instead of using form approach.

[2017-10-18 16:29] timabbott opened #7064 "Group PMs unread counts have incorrect offset in right sidebar compared"
As you can see, it's almost going off the screen:

![image](https://user-images.githubusercontent.com/2746074/31730411-aecc4eda-b3e6-11e7-88b4-7a150dd05416.png)

The other unread counts in the right sidebar are in the right place.

@brockwhittaker can you fix this one today?

[2017-10-18 18:42] brockwhittaker commented on #267
Yeah we definitely don't have the current infrastructure to support a theme system, however maintaining a single dark theme could be reasonable. It increases the amount of visual state complexity, however as we continue to expand our base style guide and list of components that should become easier to maintain.

Any thoughts @timabbott?

[2017-10-18 18:45] aklap commented on #7056
Ah, okay didn't realize that was the default, makes sense to leave the anchor links as is for now. I guess the simple fix is to replace `&` with `and`, but doesn't help much if we wanted to use non-letters/numbers in a link in the future.

[2017-10-18 18:47] timabbott commented on #7056
Yeah, I'd merge a change to just make it use "and" and work around this problem.  Want to work on that @aklap?

[2017-10-18 18:47] #6955 closed

[2017-10-18 18:48] timabbott commented on #267
Yeah, I think adding a dark theme is a good investment.  @brockwhittaker if you want to work on the stylesheet (I think @synicalsyntax has some prototype you can play with), we can

I can imagine doing 3 versions (full light, full dark, and just left sidebar dark a la Slack and friends) of the CSS.  I think someone is working on adding a setting checkbox for this.

[2017-10-18 18:53] Be-ing commented on #267
What is the use case for that? It doesn't seem worth the maintenance burden or complexity in the settings UI to me.

[2017-10-18 18:53] aklap commented on #7056
Sure!

[2017-10-18 18:58] spaceywolfi commented on #7045
![unbenannt](https://user-images.githubusercontent.com/31371807/31737166-ee10f338-b446-11e7-9b5f-e1fd6b87f950.PNG)

This happens to a lot of emails. They end up in a box that scrolls a lot into the right direction. Do you also need the raw email that caust this render issue?

[2017-10-18 18:59] timabbott commented on #267
It's for people who are used to the Slack-style.  I don't think it's as important as the main dark theme feature.

[2017-10-18 19:04] timabbott commented on #7045
@spaceywolfi ahh, OK, it's the whitespace being treated as a code block!  That makes a lot of sense.  I think what we probably want is to have an option we pass into the markdown processor when a message comes from the email mirror to either ignore/strip it or treat whitespace indentation as a quote block.

Do you have thoughts on which solution would be better?

[2017-10-18 19:11] timabbott commented on #7018
OK, verified the fix with one of our production systems by just moving aside `static/`.  Thanks again for the report @adambirds!

[2017-10-18 19:17] swallitsch opened #7066 "Admin only creation of custom bots"
Following #2186 and #692 (which splits bots into incoming webhook bots which can't read the stream, outgoing webhook bots which get packets, and full custom, generic bots which can read/write) it'd be nice to have an organization setting which limits the creation of full custom bots to admins.

For security concerned organizations, you could have better control over who has generic API key access,

[2017-10-18 19:17] spaceywolfi commented on #7045
@timabbott after asking other people who use the chat they favorited the idea of ignoring the whitespace indentation 👍

[2017-10-18 19:25] brockwhittaker commented on #7064
On it.

[2017-10-18 19:35] timabbott commented on #7045
OK.  I was thinking that direction as well, since at last in your example above, it's actually not being used to quote something.  So I think we just need to have a flag to turn off that feature of the `fenced_code` extension.

[2017-10-18 19:35] brockwhittaker commented on #7064
@zulipbot claim

[2017-10-18 19:35] brockwhittaker commented on #7064
it also appears as though the other offsets are bad too.

<img width="257" alt="screen shot 2017-10-18 at 12 34 44 pm" src="https://user-images.githubusercontent.com/10321399/31738891-e15ecee4-b400-11e7-84d8-d079cbff8526.png">

[2017-10-18 19:47] timabbott commented on #7045
We can do that via `del md.parser.blockprocessors['code']` in `extendMarkdown` in `zerver/lib/bugdown/__init__.py`.  The calls for the email mirror come from the `internal_send_message` calls in `zerver/lib/email_mirror.py`.  So we'll just need to pass a flag on through between those points in order to make this work.

[2017-10-18 21:20] timabbott opened #7069 "Offset when clicking anchor links to /help/ documentation"
If you click on a link to e.g. this:
http://127.0.0.1:9991/help/desktop-app-install-guide#installing-on-windows

You get to here:

![image](https://user-images.githubusercontent.com/2746074/31743279-6b58d3b6-b40f-11e7-861c-9625cfd52ca7.png)

We should be like 15 pixels further down, I think.

[2017-10-18 21:24] timabbott commented on #7069
@brockwhittaker @synicalsyntax does one of you have time to fix this?

[2017-10-18 22:25] HarshitOnGitHub opened #7072 "message_edit: Message feed looses focus when the message edit form is closed using ESC key in Firefox."
If I use the left arrow hotkey to edit the last sent message but instead of editing the message I simply close the form using ESC key, I am unable to navigate in the message feed using arrow keys. The issue here is probably that we are not probably focusing correctly after closing the message edit form.

(Seems to be a firefox only issue, working fine on Chrome)

@zulipbot label "bug" "good first

[2017-10-18 22:27] #7056 closed

[2017-10-18 22:38] timabbott commented on #7066
Yeah, I think the idea of limiting access to create custom bots is the right boundary.  Adding the setting checkbox should be an application of zulip.readthedocs.io/en/latest/new-feature-tutorial.html (it should go in organization permissions) ; making it do something should be a few lines in the `create_bot_backend` function.  We'll want to make sure to do some negative tests for the security mod

[2017-10-18 22:51] rosatamsen opened #7073 "Outreachy guide: Link to bite-sized bugs issues is pointing to a non-existent label"
https://github.com/zulip/zulip.github.io/blob/master/outreachy-round-15.md

[2017-10-18 22:59] simoniz0r commented on #267
If you guys could make the dark theme use colors similar to KDE's Breeze Dark, that would be awesome :D

[Here's the GTK version of Breeze Dark for color references](https://github.com/KDE/breeze-gtk/tree/master/Breeze-dark-gtk)
[Here's a screenshot of an app using the Breeze Dark theme if you're not familiar](https://u.teknik.io/lLAoo.png)

[2017-10-18 23:11] brockwhittaker commented on #7069
@zulipbot claim

[2017-10-18 23:57] timabbott commented on #7073
Fixed via https://github.com/zulip/zulip.github.io/pull/46; thanks for the report @rosatamsen!

[2017-10-18 23:57] #7073 closed

[2017-10-19 00:03] #7069 closed

[2017-10-19 00:04] timabbott opened #7075 "/help/: Improve indentation in the "installing" guide"
The http://127.0.0.1:9991/help/desktop-app-install-guide#installing-on-linux section looks bad, just because of how the indentation of code blocks and the numbered list bullets isn't coordinated.

![image](https://user-images.githubusercontent.com/2746074/31748167-10088292-b426-11e7-8629-025d86bed2a4.png)

I'm not sure whether we want to indent the numbers less or the code blocks more, but FYI
@br

[2017-10-19 00:04] timabbott commented on #7075
(As a sidenote, we might want to add a sentence at the start of the "Installing on Linux" section just to make the `apt` heading stand out more).  CC @gnprice since he did the last edit pass on the text.

[2017-10-19 00:06] timabbott opened #7076 "i18n: Fix missing translation tags in `validate_stream_message_address_info`"
The `validate_stream_message_address_info` function in our compose code path doesn't tag all of the strings it uses for internationalization.

Fixing this is a great bite-size issue for someone new, but make sure to read about how i18n.t works and the i18next library.  See https://zulip.readthedocs.io/en/latest/translating.html as a useful resource.

[2017-10-19 00:16] timabbott commented on #6542
@derAnfaenger are you still working on the follow-ups for this?

[2017-10-19 01:07] #7064 closed

[2017-10-19 03:43] rishig opened #7078 "emails: Send followup_day2 email two days later."
This piece of code in zerver/lib/notifications.py stages a particular email to be sent one day after a new user signs up.
[code]

It'd be great to replace the delay so that the email is sent
* 2 days from now instead of 1 day
* If that results in it being a weekend in the user's timezone (we have timezone info in `UserProfile.timezone`), round up to Monday
* Subtract 1 hour. The reasoning being th

[2017-10-19 04:04] timabbott opened #7079 "Weird CSS bug with spacing between messages"
If you write the following in a Zulip message:

[code]

Then the fact that the "testing extra" is there at the end of the message causing the spacing between the paragraph at the top and the bulleted list to be extra large, like so:

![image](https://user-images.githubusercontent.com/2746074/31753780-a5bd3438-b447-11e7-9c49-f536327823b0.png)

I don't think it's a regression, it's just a weird CSS

[2017-10-19 04:57] aklap commented on #5920
@zulipbot claim

[2017-10-19 04:57] #1189 closed

[2017-10-19 05:37] timabbott opened #7082 "Replace mkdir_p methods with Python 3 function if possible?"
I noticed a comment in some of our use of `mkdir_p` that suggests we may not need this function now that we're on Python 3:
[code]

We should see if indeed there's a Python 3 system library function that does this, and if so, use it to replace our various copies of this.

[2017-10-19 06:08] #6663 closed

[2017-10-19 07:30] sagar-kalra commented on #7075
@zulipbot claim

[2017-10-19 07:31] sagar-kalra commented on #7075
@timabbott What exactly do you want?
Can you elaborate more?

[2017-10-19 07:36] derAnfaenger commented on #6542
Yup. I don't know if zulipbot's  behavior is entirely correct, since the comment came at a time when when the last update to my queue processor PR was only 3 days old. Is it possible that it ignores closed PRs?

[2017-10-19 07:38] lonerz commented on #6542
@derAnfaenger that is probably correct. Filing a bug right now.

[2017-10-19 09:58] shubhamdhama commented on #6809
Before zulipbot comments, I've started working on this issue :trollface:

[2017-10-19 10:22] shubhamdhama commented on #7078
@zulipbot claim

[2017-10-19 12:44] sagar-kalra commented on #7075
![screenshot from 2017-10-19 18-14-21](https://user-images.githubusercontent.com/31239108/31771335-5d15a12c-b4f9-11e7-94b1-f36e612f4f7a.png)
Is tis what you were looking for, @timabbott ?

[2017-10-19 12:48] sagar-kalra commented on #7037
@hackerkid Yeah, sure you can go ahead work on this.

[2017-10-19 12:53] sagar-kalra commented on #6477
@zulipbot abandon

[2017-10-19 13:59] ataul443 commented on #7082
@zulipbot claim

[2017-10-19 15:12] showell commented on #6836
This issue had a lot of refactoring requirements, which are done now.  There's still the actual piece of passing the client_gravatar flag into the event registration codepath.

[2017-10-19 15:52] timabbott commented on #7075
Well, I'm not sure what we want exactly, but if we're doing something like this, we should do something more like the code block's left border being indented.

[2017-10-19 16:11] brainwane commented on #7042
I currently use Tab+Enter to send but could get used to Control+Enter without too much difficulty, I predict.

[2017-10-19 16:19] sagar-kalra commented on #7075
![screenshot from 2017-10-19 21-48-33](https://user-images.githubusercontent.com/31239108/31781960-47b4fdc8-b517-11e7-916a-a3ebbda7fa2e.png)
@timabbott Please review this change.

[2017-10-19 17:41] brockwhittaker commented on #7075
That looks good, but can you show the code for how you're getting there? Open a PR @sagar-kalra?

[2017-10-19 17:54] hackerkid commented on #6990
@timabbott I am not aware of how much work is needed for this. I will do some research and get back to this.

[2017-10-19 17:56] timabbott commented on #7072
Edited the title to mention Firefox.

[2017-10-19 18:05] rishig opened #7085 "emails: Add UI to /emails for sending to real email address."
From https://chat.zulip.org/#narrow/stream/development.20help/topic/testing.20email

Would be great to add a UI to /emails that sends all the emails on the page to an address you enter via direct SMTP.

@hackerkid, do you have time to work on this?

[2017-10-19 18:06] hackerkid commented on #7085
I would be free of issues assigned to me in 2 or 3 days. I can start on this after that.

[2017-10-19 18:18] rishig commented on #7085
Great, thanks!

As follow-up once this is done: It would be good to see if the address at the bottom of the emails shows up as a link or not in gmail. It seems like it currently does, but I can't replicate the behavior on litmus.

[2017-10-19 19:08] tulikavijay commented on #7076
I would like to work on this.

[2017-10-19 19:23] rishig opened #7088 "stats: Add daily actives and all-time actives."
The "Active Users" chart currently displays something akin to 15-day actives. Namely, each day on that chart corresponds to people that
* Have a useractivityinterval in the last 15 days
* Are not deactivated

It would be great to add 1-day actives and all-time actives to that chart.

**Backend**
For 1-day actives, we'll want to add the following to count_stats_ in analytics/lib/counts.py:
[code]
a

[2017-10-19 19:27] timabbott opened #7089 "Move many more backend files to 100% test coverage"
We'd like to move as much of the Zulip backend as possible to 100% test coverage.  We're currently at 94% overall, and a bunch of important files are at 100%.  We've found a good way to make progress is to get a file to 100% and then lock it down via removing it from the `not_yet_fully_covered` list in `tools/test-backend`.

This is sorta a meta-issue, more intended to help me write down the proce

[2017-10-19 19:35] rishig opened #7090 "activity: Add date joined to /activity page."
A useful metric to add to the /activity page is the date a realm joined. It can go as the last column, and use a format like 2017-05-19 to simplify sorting.

The current columns are
![image](https://user-images.githubusercontent.com/890911/31790103-32ab30ee-b4c9-11e7-9c86-90461f2e2b55.png)

The code for this will go in analytics/views.py, likely in the realm_summary_table function.

This is a good

[2017-10-19 19:56] rishig opened #7091 "integrations: Add Hubot, Zapier, and IFTTT integrations to search."
Currently if you search for an integration offered by Zapier on /integrations, it looks like we don't have it.

It would great to instead show a card for that integration. It can use the Zapier logo, and link to /integrations/doc/zapier, just like Zapier does. It also doesn't need a category. So the only thing we need from Zapier is the list of integrations it supports, maybe with some QA to short

[2017-10-19 20:08] timabbott commented on #7091
@eeshangarg this may be a good project for you, but we should talk a bit about how to make this work sensibly.  @rishig is your thinking that we'd not show these in the main grid, but only show them why you type in the search?

I imagine we'd just do a fixed export of the list from e.g. Zapier, and plan to update that periodically?

[2017-10-19 20:11] rishig commented on #7091
not show in main grid: yeah, that was my original thought for a V1, so we don't have to obtain 700 logos.

fixed export, updated periodically: yeah, I think that's a fine strategy for now.

[2017-10-19 20:25] cakleimeier commented on #7072
@zulipbot Claim

[2017-10-19 20:29] timabbott commented on #7046
@Be-ing thanks for the feedback!  We just merged a few changes to improve use of the sidebar space, but there's actually not as much that can feasibly be done as you think, since there's a scrollbar, unread count, and on-hover menu all in there, and we do want to allow reasonably display of topics of moderate length and names of users with longer surnames.

We actually do have an option to hide th

[2017-10-19 20:29] rishig opened #7092 "integrations: Add max-width for text and images."
E.g. make this page more readable: https://chat.zulip.org/integrations/doc/zapier

[2017-10-19 20:31] timabbott commented on #7046
I suspect what we'll want to do is after this discussion finishes, write up a clear issue for the work of making the right sidebar hideable.

I'd also be OK with making the sidebar sizes draggable, though that may be kinda technically annoying.

[2017-10-19 20:52] HarshitOnGitHub opened #7093 "left_sidebar: Rendering glitch on clicking `more topics` in firefox."
Sometimes on clicking the 'more topics' in firefox, the UI is rendered like this:
![image](https://user-images.githubusercontent.com/16687990/31793575-405918c2-b53d-11e7-8631-f6ba56ed482c.png)
which is clearly buggy. This commit helps in reproducing the issue reliably: https://github.com/HarshitOnGitHub/zulip/commit/abcfb2c7e0cb43bba62096b044adf0b8832a13fe

Browser info: Firefox 56.0 (64-bit) on u

[2017-10-19 23:12] #6863 closed

[2017-10-19 23:27] timabbott opened #7095 "When users unsubscribe from streams, mark all messages read"
Currently, if a user unsubscribes from a stream where they have unread messages, nothing marks those messages as read, which can be potentially confusing for e.g. the mobile apps (those unread messages will show up in various APIs).

It seems like probably the correct solution is to automatically mark as read unread messages on a stream when a user is unsubscribed from that stream.  We'll likely w

[2017-10-19 23:29] timabbott opened #7096 "Use server-defined initial unread counts in the webapp"
Now that we've done the work to be able to construct all the unread messages for a user on the server-side (for mobile), we should make use of that new code in the webapp.

Before we can turn on server-unreads, we need to fix a few webapp issues:
* reading muted streams with 1000s of messages doesn't work properly: the narrow pointer placement isn't at the first unread message, and
* scrolling dow

[2017-10-19 23:30] timabbott commented on #6254
Closing this in favor of #7095 and #7096 for the two individual issues, since they're basically unrelated at a technical level.

[2017-10-19 23:30] #6254 closed

[2017-10-20 00:06] timabbott commented on #6855
@derAnfaenger I think the original project we had in mind is done.  It might make sense to open another issue for further general cleanup to our code style guide, though; it still feels kinda hard to read.

[2017-10-20 00:06] #6855 closed

[2017-10-20 00:09] timabbott commented on #1041
Adding "good first issue", since with the framework stuff we've done, now one can work on this as follows:
[code]

And there's an exclude system for the markdown section a bit further in that file that we can borrow for anything that's supposed to be really long.

[2017-10-20 00:11] timabbott commented on #1041
Actually, I think I'll open a new, more focused issue; this one has gotten a bit cluttered.

[2017-10-20 00:11] #1041 closed

[2017-10-20 00:14] timabbott opened #7097 "Page pageup/pagedown do a better job in the compose box"
If you're composing a really long message (like a couple screenfuls of text), and then try to navigate within the compose box using pageup/pagedown, it doesn't really work.  The cursor moves, but the scroll position in the window doesn't, which is annoying.  We should improve this.

[2017-10-20 00:17] timabbott opened #7098 "Clean really long lines of code from the codebase"
Zulip has more really long lines in the codebase than would be ideal.  We should clean them up in a systematic way.  What we've done in the past with good success is for each language, doing a series of PRs, each of which ratchet down the max length enough to fix ~25 long lines that need to be wrapped (and possibly mark some as excluded from this lint check if there's a really good reason why they

[2017-10-20 00:18] timabbott commented on #3709
I believe this was fixed by @showell recently.

[2017-10-20 00:18] #3709 closed

[2017-10-20 00:21] timabbott commented on #3854
Closing this issue, since the thread has gotten super long and I think #5697 is the main outstanding thing to do here.

[2017-10-20 00:21] #3854 closed

[2017-10-20 00:22] timabbott commented on #3557
@showell I think you might have just fixed this with your work on avatars, right?

[2017-10-20 00:26] timabbott commented on #1857
I think basically everything we had in mind here is done.  I'm pretty happy with the current testing system, and I think we decided the `blueslip` thing didn't totally make sense.  If we have more trouble with this system, we can open a new issue.

I'm going to open issues for some follow-up projects, though.

[2017-10-20 00:26] #1857 closed

[2017-10-20 00:28] timabbott opened #7099 "markdown_test_cases: Clean cases where `bugdown_matches_marked` is false"
See https://zulip.readthedocs.io/en/latest/markdown.html#testing for a detailed discussion of what's involved here.  Basically, we want to replace `bugdown_matches_marked` with the more usefully descriptive `backend_only_rendering` and `expected_marked_output`, that explain why the output doesn't match, and whether that's how things should be, or not!

This is something worth making sure we work o

[2017-10-20 00:29] timabbott commented on #1857
Opened https://github.com/zulip/zulip/issues/7099 for the main follow-up.

[2017-10-20 00:31] timabbott commented on #1727
Added a priority tag and updated the description, since I think this is something that'll be more pleasant the sooner we do it.

[2017-10-20 00:32] timabbott commented on #1348
@neiljp if you're interested in doing a bit of fancy mypy work, this would be super valuable to fix, since it'd dramatically increase the practical mypy coverage of Zulip (aka it'll get rid of a lot of things that are `Any`).

[2017-10-20 00:35] timabbott commented on #1125
@hackerkid @eeshangarg are either of you interested in picking this back up?  We only have like 10 lines left, and it'd be nice to close this out.

[2017-10-20 00:37] timabbott commented on #1236
I merged a few commits today that removed a bunch of things from our lists that still needed work, and adding comments on which ones are ready for further work.  @adnrs96 if you have time, doing the 3 that are ready to update should be pretty fast and would be awesome: https://github.com/zulip/zulip/blob/master/tools/check-templates#L103

[2017-10-20 00:50] #6311 closed

[2017-10-20 00:57] #6885 closed

[2017-10-20 00:58] timabbott commented on #6885
@Jianchun1 OK, I think we've fixed this correctly now.  I've just deployed the (hopefully) fixed version on chat.zulip.org; would you be able to do me a favor and test whether it works now?

[2017-10-20 01:02] timabbott commented on #6885
@umairwaheed after testing a bit more, I think we still have a problem.  Now, the frontend translations work, but all the things that are Django translations seem to still not be translated in the UI (e.g. "Private messages")...  Can you investigate?

[2017-10-20 03:06] sagar-kalra commented on #7075
@brockwhittaker Review my PR https://github.com/zulip/zulip/pull/7100

[2017-10-20 04:22] Rishabh570 commented on #6802
@sagar-kalra Yes...sorry for delay, got some error to be fixed...

[2017-10-20 05:00] umairwaheed commented on #6885
Hmm, this is really interesting. If I access chat.zulip.org after setting the language from settings, the document element gets the correct language but backend translations do not working. If I do https://chat.zulip.org/zh-hans/, backend translations start working. It seems that we are missing some step while we try to activate the language, but then this same code works in the dev machine :/. Lo

[2017-10-20 08:30] rht commented on #7076
@tulikavijay you can comment with `@zulipbot claim` to claim the issue; welcome ;)

[2017-10-20 08:58] tulikavijay commented on #7076
@zulipbot claim

[2017-10-20 14:30] Riju19 commented on #7090
Hi!
I would like to take up this issue.

[2017-10-20 14:47] tulikavijay commented on #7099
@zulipbot claim

[2017-10-20 14:49] tulikavijay commented on #7099
I read all the docs regarding this. I would like to work on this. Please provide any additional information needed. Thanks ☺

[2017-10-20 15:50] showell commented on #3557
I fixed the caching part of this, so the back end should now be more performant.

In the second paragraph, I mentioned that we could also slim the payload over the wire, but that requires some changes on mobile and in the webapp, and it's already on our radar whenever we talk about optimizing mobile, and it's not really covered by the title of this issue.

I'm gonna close this.

[2017-10-20 15:50] #3557 closed

[2017-10-20 16:34] eeshangarg commented on #1125
@timabbott: I can take this up fairly soon! :)

On Thu, Oct 19, 2017 at 10:05 PM, Tim Abbott <notifications@github.com>
wrote:

[2017-10-20 16:36] eeshangarg commented on #1125
@zulipbot claim

[2017-10-20 16:37] timabbott opened #7105 "Tracebacks related to notifications prompt on iOS Safari"
@brockwhittaker can you fix this?  Seems to be new with your notifications panel PR merged, even with the latest master.

[code]

[2017-10-20 16:40] timabbott opened #7106 "JavaScript errors when trying to paste unusual files into Zulip"
I don't have any details other than this traceback, but ti seems worth investigating, since seems to have started happening occasionally on our production systems:

[code]

@brockwhittaker can you try to reproduce?  It's not clear to me whether this is a file-dropping or file uploading thing, but I'm guessing the former, since it gets less testing...

[2017-10-20 16:40] eeshangarg commented on #7091
@timabbott, @rishig: So the goal is to render all of the integrations that Zapier and Hubot offer on our integrations page? Also, we don't need every integration offered through Zapier and Hubot to have their own logo but they can just have a Zapier/Hubot logo correct?

[2017-10-20 17:29] lonerz commented on #5578
@Riju19 you can claim this issue by commenting `@zulipbot claim`. There's an open PR #6001 already if you want to work off that.

[2017-10-20 17:30] lonerz commented on #7090
@Riju19 Can you comment `@zulipbot claim` to take the issue up? Thanks!

[2017-10-20 17:31] adnrs96 commented on #1236
Sure, I can update them today with a PR.

[2017-10-20 17:41] hackerkid commented on #7085
@zulipbot claim

[2017-10-20 17:56] timabbott commented on #7091
Right, but probably only if you search/filter; we don't want the default view to have 800 Zapier logos :).

[2017-10-20 17:57] timabbott commented on #7091
I guess we're not 100% confident what this should look like; I would probably focus on grabbing the data and doing a first-pass rendering quickly so we can play with it, and then we can proceed from there.