[2019-03-11 19:28] chuckycharms commented on #3618
Second this motion, it is highly needed (almost a requirement) for our companies. As we eval Zulip against other platforms as we transition away from Google Hangouts.

[2019-03-11 20:53] timabbott commented on #11715
OK, some background:
* If you're using LDAP + Email authentication, LDAP admins expect that an email address managed by LDAP is not allowed to use EmailAuthBackend -- otherwise there's an exploit where your LDAP password is changed (or whatever) but you can still login.  In order to prevent this, our email authentication backend generally doesn't allow authentication for an email address matching

[2019-03-11 21:09] timabbott commented on #7902
Potentially, but it's definitely a low priority and tricky in several ways.  I don't think this is something I'd expect you to succeed at @Raghavareddy21 .

[2019-03-11 21:15] timabbott commented on #11864
We can think about changing this; #1085 is ancient and has a bunch of proposals, so I'd rather discuss the item on this issue than there.

I'll chat with @rishig about whether we want to offer this, but I should mention users can use "pinned streams" to organize what streams they want sorted to the top.

[2019-03-11 21:25] whoodes opened #11867 "Youtube thumbnail has unexpected behavior on mouse hover."
This looks like a Firefox specific bug.  Basically, the play icon appears to the right of the thumbnail when you hover the mouse over the video.

<img width="611" alt="Screen Shot 2019-03-08 at 9 17 33 PM" src="https://user-images.githubusercontent.com/39782863/54159084-3613f380-43f0-11e9-8d66-d969224d356e.png">

[2019-03-11 22:41] timabbott commented on #1085
Closing this in favor of #11864, since I think that has the main remaining actionable item from this thread that didn't have an issue before (and this is a long read just to get a few ideas like that).

[2019-03-11 22:41] #1085 closed

[2019-03-11 22:43] timabbott commented on #11867
This is likely something with a pure CSS fix.

[2019-03-11 23:07] showell opened #11868 "Prevent spurious animation effects for PM unread counts"
We have an animation effect when the count for PMs changes.  It's mostly driven by this function: `unread_ui.animate_private_message_changes`.

The problem with the function is that it doesn't correctly detect when the PM count has changed.  It naively uses a single global variable to track the "last" unread count, which doesn't work when you have multiple PMs.

We can fix this by tracking PM coun

[2019-03-11 23:11] Mentalone opened #11869 "Organization Avatar not changing"
We are unable to change the Organization Logo.  It stays with either the Z or an H while in the App.

With console up, I do get this every time that I try to upload:

![image](https://user-images.githubusercontent.com/48458920/54164005-9e7ac900-4420-11e9-8285-47a42f8ff12d.png)

[2019-03-11 23:48] rishig commented on #11672
Copying a relevant conversation with zoom support.

me:
"""
Zulip is a team chat product. We currently integrate with Google hangouts, and recently customers have been asking for us to add a Zoom integration as well.

I see how to make this work, if every Zoom account holder uploads their API key to Zulip. Then whenever someone wants to start a meeting, we can use their API key to create the meeti

[2019-03-12 00:32] vipulchhabra99 commented on #11867
hey @timabbott, I think this issue is limited only to Mozilla Firefox and is fine in Google Chrome
![Screenshot from 2019-03-12 06-01-01](https://user-images.githubusercontent.com/18120004/54166680-51344100-448c-11e9-8fec-48633819cebb.png)
![Screenshot from 2019-03-12 06-01-06](https://user-images.githubusercontent.com/18120004/54166689-5c876c80-448c-11e9-9a5f-05bc569352d8.png)

[2019-03-12 01:01] timabbott opened #11871 "Make the "#announce" stream reminder more configurable"
Currently, we have some code hardcoded for the stream name "announce" to provide an alert when posting to a #announce stream with 60+ members.  This code lives in `validate_stream_message_announce` in `static/js/compose.js`.

We're potentially removing the `#announce` stream name from default streams in an organization, which is one motivation for cleaning up that hardcoding sooner rather than lat

[2019-03-12 01:05] vipulchhabra99 commented on #11867
@zulipbot claim

[2019-03-12 01:13] vipulchhabra99 commented on #11867
hey @timabbott i have fixed this issue please allow me to submit the pr for same
![Screenshot from 2019-03-12 06-41-21](https://user-images.githubusercontent.com/18120004/54167915-2a790900-4492-11e9-99d8-0787b6338f62.png)

[2019-03-12 01:27] vipulchhabra99 commented on #11867
hey @timabbott please allow to me to submit for pr for same if have fixed this issue
![Screenshot from 2019-03-12 06-41-21](https://user-images.githubusercontent.com/18120004/54168366-1f26dd00-4494-11e9-8846-0028159eec14.png)

[2019-03-12 01:42] vipulchhabra99 commented on #11453
@zulipbot abondon

[2019-03-12 01:44] vipulchhabra99 commented on #11453
@zulipbot abandon

[2019-03-12 01:44] vipulchhabra99 commented on #11867
@zulipbot claim

[2019-03-12 02:32] rishig opened #11873 "left sidebar: Blue highlight of active PM doesn't go to edge of sidebar."
To repro, just go to any PM conversation, and hover over the Private messages section. You'll see that the bule box is too narrow. Topic narrows have the correct behavior, for comparison.

[2019-03-12 02:44] southisle commented on #10472
@timabbott
Sorry for late reply.
After migrating the database server to the SSD host server, the issue was resolved.
And the loading time that took a few seconds to load the topic list was also very short.

In addition, after migrating the application server to the SSD host server, the issue of message transmission delay has also been resolved.

Please refer to the graph which summarizes message t

[2019-03-12 04:48] timabbott commented on #10472
Great, glad to hear the SSD change fixed it.  I did add 0a17a2acaa1909ca4206487606f916b5a8082073, which will hopefully help prevent others from making the same mistake.

@southisle that log line is unusual; that said, it seems much more likely to be an issue of client-side reporting than an actual delivery time on that scale.

[2019-03-12 04:48] #10472 closed

[2019-03-12 04:51] timabbott commented on #9692
Sounds good, closing as a duplicate of #11448.

[2019-03-12 04:51] #9692 closed

[2019-03-12 04:59] #11679 closed

[2019-03-12 05:38] southisle commented on #10472
@timabbott

The time recorded in that log is correct. This user and I were in the same stream.
He suddenly sent a message that did not fit the context, I asked him what it was, and he said it was a message he sent yesterday.
The message was displayed today at 10:51 (KST), and the time he entered was about 18:28 (KST) yesterday.

Is there a problem with our configuration? Or is it a simple delay or

[2019-03-12 05:52] timabbott commented on #10472
If he tried sending the message and then went off the Internet, it's expected behavior for it to be delivered when the user comes back online.

[2019-03-12 06:06] southisle commented on #10472
He was still online. After entering the message yesterday, he sent several other messages. And he sent another message in the online state before the message was displayed today.

You think it is likely to be an issue on the client side. Got it. Thank you!
Other messages are being transmitted well. So I do not mind.
I will report again if the same issue occurs again.

[2019-03-12 06:23] cb0n3y commented on #11715
Hello timabbott,
it sounds good but you know, about point 1 LDAP + Email authentication, the emails with which we tried to register in zulip "**ARE NOT**"  in our LDAP server. Let's say i'm trying to register myself with my gmail.com account, well i get everything done as i mentioned before but when i try to login with the new credentials, it doesn't work. I try also the option allowed Domains and

[2019-03-12 08:16] SiddharthVarshney commented on #11873
@zulipbot claim

[2019-03-12 11:44] davidtwco commented on #11842
This would be ideal.

Is there somewhere I can read about these plans? They sound interesting.

[2019-03-12 12:13] DestructiveInfluence opened #11878 "sync_ldap_user_data deactivates all users, despite query_ldap delivering proper results"
Attempting to synchronize user fields via `manage.py sync_ldap_user_data` results in all LDAP authenticated users being deactivated. `manage.py <username>` delivers the proper results though. I'm quite confused if this is a bug or an error with our setup.

[code]

[code]

Our LDAP logic is as follows: \<firstname_initial\>\<surname\> for the username and for the mail \<firstname\>.\<secondname\>@\

[2019-03-12 13:20] paras112 commented on #11618
Hello @timabbott this issue is too interesting and as a beginner i learn too many things(markdown,integration,message view) and i hope that i will solve this issue .

[2019-03-12 14:12] lmckenzi commented on #11871
It would definitely be useful to be able to enable it on multiple streams.  It would also nice to be able to customize the text in the alert on those streams that have the alert enabled.  I'm not sure about the need for a particular cutoff.  If we want a low-traffic, tightly tuned stream, it shouldn't really matter how many are on it.

[2019-03-12 14:42] jamesvl commented on #11619
I hit this same error when importing data as well.

The fix is fairly simple, change `zerver/data_import/slack.py` line 734 to exclude tombstoned files:

[code]

[2019-03-12 15:50] SiddharthVarshney commented on #11873
@zulip abundant

[2019-03-12 15:56] SiddharthVarshney commented on #11873
@zulipbot abandon

[2019-03-12 16:09] Compupaq commented on #11878
I have this issue too (not the disabling users part, but the sync not finding users part).  I've been testing out a zulip server for my organization for a couple weeks now and can't figure out why it doesn't work either.  I can log in and create new users fine through LDAP, but it won't sync.  I wasn't sure if this was an issue on my end setting up zulip or not.  Glad to hear I'm not the only one

[2019-03-12 16:40] DestructiveInfluence commented on #10680
Inline Preview is handled by the client and not as I originally thought served through the server. Client settings have not been configured with proxy, aka autodetect of settings on Windows doesn't work.
This issue can be closed as it's neither a bug, nor relevant.

[2019-03-12 16:58] Trelobarbouni18 commented on #11811
@zulipbot claim

[2019-03-12 17:05] sahil839 commented on #11524
I am working on this issue. But have been busy with my exams. Will be able to complete the issue as major work is done.

[2019-03-12 17:48] timabbott commented on #11878
We have received no prior reports of a similar issue; I'm investigating.  Also @HarshitOnGitHub FYI in case you can help investigate.

[2019-03-12 17:59] timabbott commented on #11715
I think I have a plan for how to address this issue with LDAP auth method (C).

[2019-03-12 18:00] timabbott commented on #11878
Hmm, OK, I think I see the problem.  (@Compupaq are you also using the `LDAP_EMAIL_ATTR` feature?  I assume you're not getting deactivation issues because you haven't setup `userAccountControl` synchronization).  As an immediate workaround, you can turn off `userAccountControl` syncing while we work on a proper fix.

So, the LDAP settings that users configure today just allow looking up an LDAP us

[2019-03-12 18:27] #11802 closed

[2019-03-12 18:34] Compupaq commented on #11878
Yes, I am using `LDAP_EMAIL_ATTR` instead of `LDAP_APPEND_DOMAIN`.  I didn't turn on the auto deactivation because I was having issues getting LDAP to sync.

[2019-03-12 22:48] Amadeo234 commented on #7766
After some digging I have found that the problem lies in zerver/lib/html_diff.py - highlight_html_differences. It uses function htmldiff from lxml.html.diff, which sometimes marks too many changes (those that never happened). I can't come up with some easy way to help htmldiff make proper markings, so the question is, should I try to make better function to compare original and edited message?
Her

[2019-03-13 08:21] #10680 closed

[2019-03-13 08:32] aero31aero commented on #11568
Working on it.

[2019-03-13 09:01] xeor commented on #6102
This is a blocker for us being able to adapt zulip..

[2019-03-13 11:44] armaanahluwalia commented on #11574
FYI see slack's solution set [here](https://api.slack.com/docs/deep-linking)

[2019-03-13 12:25] vedhant commented on #11453
@zulipbot claim
This is my first issue I'm picking up in Zulip.
@vipulchhabra99 can u tell me the progress in this issue so far so that I can start working on this.

[2019-03-13 13:14] vipulchhabra99 commented on #11453
Hello, @vedhant actually I have an open pr and will suggest you to look over other issues.

[2019-03-13 15:20] 2208Abhinav commented on #11868
@showell can I try to solve this issue?

[2019-03-13 16:26] Raghavareddy21 opened #11887 "Lightbox: hover properties for Open and Download doesn't work in Night Mode."
When we try to hover over Open or Download they are not highlighted in Night Mode.

[2019-03-13 16:53] showell commented on #11887
To fix this we either need to add some code to `night_mode.scss`, or maybe code already exists there, and we just have a regression where the class changed or something in the HTML, and we forgot to update the appropriate section in `night_mode.scss`.

[2019-03-13 16:53] alexandraciobica commented on #10423
Hi. I would like to work on the two remaining issues here. I saw that the discussion is quite old, but I tested and the issues are still there.

[2019-03-13 17:27] 0x4a50 opened #11888 "Notifications on mobile are not granular enough"
Allow user to decide whether a specific notification type (stream vs @ message) makes a noise or a badge or both independently from each other.

Allow notifications only during specific time window of the day.

[2019-03-13 17:32] ostermang opened #11889 "Link Previews cause error for some links in Organization description"
With the "show previews of linked websites" feature enabled, some links such as https://zulipchat.com in the Organization description result in an error on the login page.

Here is the traceback:

Logger root, from module zerver.lib.bugdown line 2235:
Error generated by Anonymous user (not logged in) on ip-10-239-30-102 deployment

Traceback (most recent call last):
  File "./zerver/lib/bugdown/__

[2019-03-13 17:34] ostermang opened #11890 "Mailto links open a new browser tab"
mailto links such as mailto:tom@smith.com open a new browser tab before launching the default mail client.

I suspect this is expected behavior since we normally want links to be opened in a new tab. I'm wondering if it is possible to have mailto links not open a new tab?

[2019-03-13 17:43] vsvipul commented on #11890
@ostermang i tested this and they opened by default in the mail client, and not in a new tab. This is the default behaviour for most applications.

[2019-03-13 17:55] vsvipul commented on #11887
@zulipbot claim

[2019-03-13 18:06] ostermang commented on #11890
Hi @vsvipul ,

It does open the default mail client, but in Chrome, it also opens a new blank tab in the browser. I am just wondering if there is a way to have it not open that blank tab.

[2019-03-13 18:08] vsvipul commented on #11890
@ostermang I am using Chrome as well. It doesn't open up a new tab for me.

[2019-03-13 18:13] ostermang commented on #11890
@vsvipul how weird. I just tried it from Edge, Firefox and from the Zulip desktop app and they all work as expected. Must be an issue with Chrome on my side. We can close this issue. Thanks for checking on this!

[2019-03-13 18:13] #11890 closed

[2019-03-13 18:50] vsvipul commented on #11887
@showell i have opened up a PR, please review and tell if it is the right approach or not. If not, how can i improve upon it?

[2019-03-13 19:44] #11619 closed

[2019-03-13 20:05] HarshitOnGitHub commented on #11878
Yeah makes complete sense, will pick this up on this weekend. :)

[2019-03-13 20:18] harry-hov commented on #7549
@zulipbot claim

[2019-03-13 22:30] paras112 commented on #11618
zulip abandon

[2019-03-14 00:39] #11805 closed

[2019-03-14 01:19] scholtzan opened #11895 "Automatically shorten Github URLs"
Currently, using [custom linkification filters](https://zulipchat.com/help/add-a-custom-linkification-filter) it's possible to use shortened forms to link to issues or pull requests. It would be nice if GitHub URLs could be automatically transformed into this shorter form. For example, if `https://github.com/org/repo/issues/1234` is used in a message, then it could be automatically shortened into

[2019-03-14 02:16] vedhant commented on #11844
@zulipbot claim
@timabbott can u give me a headstart towards solving this issue as this is my first issue in Zulip.

[2019-03-14 02:18] vedhant commented on #11453
@zulipbot abandon

[2019-03-14 02:20] vedhant commented on #11844
@zulipbot claim
@timabbott can u give me a headstart towards solving this issue as this is my first issue in Zulip?

[2019-03-14 08:48] mayankmadan commented on #6018
@zulipbot claim

[2019-03-14 09:25] santherics opened #11896 "Custom keyboard shortcuts"
Hello all!
It would be great to be able to configure hot keys in the Zulip clients, as in non-English-speaking countries most of the time an alternative layout is enabled and hot keys do not work

[2019-03-14 09:52] ruchit2801 commented on #11726
@zulipbot abandon
@pragatiagrawal31 FYI. If you want to continue

[2019-03-14 11:18] juselius commented on #10776
After 5 days messages started getting stuck again. Restarting the zulip-senders fixed the problem, so now I'm back to using Kubernetes CronJobs to restart the senders every 15 minutes.

[2019-03-14 11:43] pragatiagrawal31 commented on #11726
No worries, I'm currently traveling, will complete this in a few days. @zulipbot claim

[2019-03-14 12:57] Raghavareddy21 opened #11897 "Streams: Scrollbar in 'All Streams' and 'STREAMS' doesn't end when we scroll to the end."
When we try to scroll to the bottom of STREAMS in the main page or of All Streams in stream settings the scrolling doesn't end.

![](https://chat.zulip.org/user_uploads/2/94/FBB2VGe8wInBCy18vpFSd2Bz/streams.gif)

I was able to observe this in both localhost and https://chat.zulip.org in Ubuntu Firefox and Chrome.
Just try to scroll down in Streams as far as possible to observe this behavior.

[2019-03-14 13:09] accakks commented on #10539
@zulipbot claim

[2019-03-14 15:20] davidtwco opened #11899 "Add option to limit quote depth"
When using the `>` keyboard shortcut to quote-reply a message (or the UI), this can lead to quotes being very nested if lots of participants in a conversation are quote-replying.

For example, if I want to quote-reply to a quote-replied message, then I end up with something like this:

[code]
    Message B
[code]

[2019-03-14 17:10] rishig opened #11901 "message view: Changing topic of hello message from message actions doesn't rerender left-sidebar."
The repro is:
* As Iago, create a new stream
* Use the message actions menu to edit the topic of the Welcome bot `hello` message

The left sidebar shows both `hello` and the changed topic.

Seems specific to the initial message. I think it's not the same as #9338, though maybe related to #8750?

[2019-03-14 18:02] paras112 commented on #11618
Hello @timabbott I think rust community request label make this issue more interesting but I don't know what to do in this ?Can you help me ?

[2019-03-14 18:46] timabbott commented on #11899
Just to be clear, is the user intent here to just end up quoting message A, message B, or something else?  I guess I could see adding a separate `<` hotkey or something that would just let you quote message `B` (skipping the quoted part of A) being a well-defined feature; I think something that included A + B with equal quote nesting would be confusing.

I agree that it's easy to create noise by d

[2019-03-14 18:55] #8858 closed

[2019-03-14 18:55] chuckycharms commented on #558
Agreed with this feature request.

We are a consulting firm, each of our clients' groups has their own stream. We would like the ability to hide the users all together.

In reality, we would like users to only be able to see and communicate with users that share the same streams.

If this isn't possible, should this be a separate feature request?

[2019-03-14 18:59] timabbott commented on #11896
I agree this would be nice.  It's a duplicate of #4777 or #7517.

[2019-03-14 18:59] #11896 closed

[2019-03-14 19:01] timabbott commented on #11889
Thanks for the report!  @Hypro999 this is probably a good issue for you, since you fixed the similar issue we had for stream descriptions.

[2019-03-14 19:02] timabbott commented on #11889
(Obviously a workaround is to disable the setting temporarily, but we should fix this).

[2019-03-14 19:03] timabbott commented on #11895
Yeah, this seems like a nice touch that we should add to what we're doing.  I think we might want to do it as a built-in feature of the markdown processor's link handler, not an optional linkification filter, since I don't see a reason anyone would want to turn this off.

[2019-03-14 19:04] timabbott commented on #11618
@paras112 this is a complex project.  If you don't know where to start, you should pick something else to work on.

[2019-03-14 19:40] davidtwco commented on #11899
The intent here would only the message that you have selected while pressing `>` (or the equivalent option from the UI) would be quoted, and that any quotes that message contains would be stripped out.

**Background:** I find that this occurs quite often in meetings that are held within Rust's Zulip instance (text meetings are often preferred as it can be easier to follow for non-native English sp

[2019-03-14 21:58] timabbott commented on #2420
We just had a DoS issue in the last few days where someone sent 50K+ emails into our email mirror system, which required some operational intervention to handle.

Having thought about this more (and in consideration of the work done in #2421), I think the right architecture for this is as follows:
* The rate-limiting should be placed in the `zerver/worker/queue_processors.py` code for the email mi

[2019-03-14 22:12] whoodes opened #11903 "Fail to re-calculate native scrollbar width on zoom."
Related: #9911

The header div and compose box overlap the scrollbar when zoom < 100% (FF).

* The screenshot below was captured in FF with a zoom of 67%.
* For Chrome it seems this bug only occurs when the zoom <= 50%.

<img width="174" alt="Screen Shot 2019-03-14 at 12 06 18 PM" src="https://user-images.githubusercontent.com/39782863/54394655-9e154480-4651-11e9-950f-93db75f09b89.png">

[2019-03-14 22:49] andersk commented on #11903
Thanks for the report.

This looks like it will be difficult to solve in any way other than getting rid of the layout calculations dependent on scrollbar width, via the plan I described in #9911.

I don’t think the browser gives us a way to distinguish zoom events from resize events; we could recalculate the scrollbar width on every resize, but I think that would make resize performance even more

[2019-03-15 00:06] timabbott commented on #11903
It doesn't seem like an expensive calculation, so I don't think that concern is particularly relevant.

[2019-03-15 00:33] andersk commented on #11897
It looks like this will be fixed by #11792.

[2019-03-15 00:58] andersk commented on #11448
Shouldn’t we be solving these kinds of issues by teaching the resize handler to avoid closing things and messing with focus, rather than by skipping the resize handler sometimes?

[2019-03-15 01:08] andersk commented on #11903
It’s absolutely an expensive calculation because it forces the browser to layout the page again. Go type `scroll_bar.initialize()` into the console and you’ll see a very noticeable delay.

[2019-03-15 03:21] scholtzan commented on #11895
@zulipbot claim

[2019-03-15 04:49] paras112 commented on #11618
I choose this issue because i think that after solving this issue i understood zulip architecture ,working  much more but when i receive your  comment on gmail then it's demotivate me  and now I think i can  switch on to  the good first issue .

[2019-03-15 04:50] paras112 commented on #11618
@zulipbot abandon

[2019-03-15 04:53] #10265 closed

[2019-03-15 04:59] timabbott commented on #558
@chuckycharms this issue is about a UI toggle.

I think the thing you're interested in is an essentially unrelated feature for guest user accounts: #11738.

[2019-03-15 05:10] punchagan commented on #7560
@zulipbot claim

[2019-03-15 05:50] rishig commented on #11899
One idea I've had is to open a small menu when you select text with your mouse, with one of the options being "quote and reply". At least for mouse users, that might encourage more economical quoting.

[2019-03-15 07:15] Hypro999 commented on #11889
Just finished my midsems, so I'd be happy to take a look :slightly_smiling_face:

[2019-03-15 07:20] stone212 opened #11905 "./upgrade-zulip-from-git master failes"
Running as `root` here is the output that starts to look bad when I upgrade using these commands.  (I upgrade every month and it is automatic).

[code]

[code]

[2019-03-15 08:02] davidtwco commented on #11899
This is a similar mechanism to how Discourse handles quoting and would solve the issue for mouse users.

[2019-03-15 08:20] PaulPfl commented on #10776
After a bit of testing: setting `sysctl -w net.ipv4.tcp_keepalive_time=600` didn't solve the problem for me either.
But in my opinion a connection to the docker swarm / kubernetes overlayer network is still highly probable..

[2019-03-15 09:39] Hypro999 commented on #11889
Patch ready :slightly_smiling_face:

P.S. Those :x: marks are due to force stopping a couple of CI builds because I wanted to change the commit message a bit. All the tests check out though.

[2019-03-15 09:50] akashnimare commented on #11873
I think this is fixed in https://github.com/zulip/zulip/commit/aae3f8a04a987ed538f5b79e7f3f949afa4d1535.

[2019-03-15 11:23] ss62171 commented on #11901
@zulipbot claim

[2019-03-15 12:21] mateuszmandera commented on #2420
@zulipbot claim

[2019-03-15 13:20] AsociTon commented on #11721
I was a bit preoccupied with other issues, will start working on it :)

[2019-03-15 15:35] ruchit2801 commented on #11685
@thedeveloperr Still working on it?

[2019-03-15 16:30] timabbott commented on #11901
I can reproduce this, and it's super weird, in that I can't reproduce if I try to edit the message after a reload.  @showell FYI in case you have ideas for what's happening here.  I did a bit of print-debugging and found that the `topic_data.js` data structure seems to be maintained properly; so I think the bug is somewhere in the `topic_list.js` interface..

[2019-03-15 16:31] lukasIO commented on #11895
this sounds like a very nice addition!
maybe there could be a way to enable this also for self-hosted environments?
we are running a gitlab instance on premise so it would be extremely handy to configure that in the settings in order to get those shortened URL links...

[2019-03-15 16:42] armaanahluwalia opened #11910 "Lightbox: Enable double-clicks as an alternative for zooming images"
We should try to clean up the user experience around "Pan and Zoom". Currently, users without a mousewheel or trackpad capability don't have the ability to zoom in on images.

There are two components to this in my mind:

1) Make double clicks mimick using the trackpad or mousewheel to zoom-in on images.
2) Clean up the UX around "enabling" and "disabling" Pan and Zoom. It seems like the need for

[2019-03-15 16:44] showell commented on #11910
https://chat.zulip.org/#narrow/stream/101-design/topic/lightbox/near/719605

[2019-03-15 17:21] timabbott commented on #11647
I merged a version of #11765 that I'm reasonably happy with; the big outstanding thing here is doing the play store replacements, which I encourage @borisyankov to just do since it should be reasonably quick (though a not instant, because of details around how we currently construct the button text).

[2019-03-15 17:21] timabbott commented on #11647
Oops didn't mean to close this.

[2019-03-15 18:26] lukasIO opened #11912 "Select **mention** on space"
To mention a person with the screen name 'genericname' I have to hit TAB on the suggestion or select the name with the mouse.
In practice (within our team) this leads to a lot of messages being sent as @genericname instead of @**genericname** and the persons not being mentioned.
My Proposal would be to select the mention not only on TAB but also on SPACE. so that it does not interrupt with the nor

[2019-03-15 18:28] #11887 closed

[2019-03-15 18:30] timabbott commented on #11912
@lukasIO you can also accept the typeahead with `enter`.  It's generally not a good user experience to accept typeahead on space because that makes several things impossible:
* Having keys with ` ` in them supported by the typeahead (e.g. how we do emoji or let you search for "Tim A" to find me)
* It makes it really annoying if you ever want to _not_ accept typeahead for something.

[2019-03-15 18:30] #11912 closed

[2019-03-15 18:44] timabbott commented on #10776
@PaulPfl good point about that being a kernel thing.  I agree it's very likely an issue with the Kubernetes network killing Zulip's connections to rabbitmq; we just need to figure out what it is.

[2019-03-15 18:45] showell commented on #11868
I fixed this in a pending PR by just removing the animation, with buy-in from Tim and Rishi.

[2019-03-15 19:06] timabbott commented on #11895
Yeah, a GitLab version of this feature would require a realm-level setting for the GitLab server.  We can build the GitHub feature and then plan to extend it to support GitLab as well.

[2019-03-15 19:08] timabbott commented on #11905
@stone212 so, this looks a lot like a permissions issue.  We had a bug for a week or so in master that would set the permissions of a new zulip directory under `/home/zulip/deployments` incorrectly, and it's likely that's the cause .  If you run as root `chown -R zulip:zulip /home/zulip/deployments/` and try again, you should be fine.  I'm closing this now under the assumption that's indeed the pr

[2019-03-15 19:09] lukasIO commented on #11912
While I agree with everything you say, I would claim there is one exception, which is, if I already typed out the complete name, then it’s sufficiently specific to allow select on space imho.
But I completely agree with the general bad parts of my initial suggestion.

[2019-03-15 19:09] timabbott commented on #11873
Oops, yes, the original commit only closed the other PR for this.

[2019-03-15 19:09] #11873 closed

[2019-03-15 19:12] timabbott commented on #11899
I like that menu idea; perhaps we should open that as a well-defined issue referencing this discussion, and close this one?

[2019-03-15 19:14] timabbott commented on #11619
This is in the 2.0.2 release that went out this morning, so this should be fully resolved for new installations.  Thanks again for the report!

[2019-03-15 19:15] timabbott commented on #11842
Not other than a series of conversations on chat.zulip.org.  But a couple changes in this direction that's already merged is showing presence details in the "Private messages" area and adding a scrollbar there.

[2019-03-15 19:33] timabbott commented on #11912
We could possibly do something with that, but it's take some care around names that are substrings of other names.  But I'm not sure that the added inconsistency from that would be net helpful to users -- it's good for typeahead to be predictable as to exactly how it behaves.  We'll think about it more if we hear similar thoughts from other users

[2019-03-15 19:39] ss62171 commented on #11901
@timabbott after changing topic of "hello message", message_id of **hello** is changing to -Infinity. So after removing topic with message_id equals to -Infinity from `get_recent_names` in `topic_data.js` it's working fine

[2019-03-15 19:40] timabbott commented on #11901
Oh, super weird.  What is the message ID of that message before the edit?

[2019-03-15 19:44] ss62171 commented on #11901
Before the edit id seems a legit number (some positive number like 173)

[2019-03-15 20:31] #11824 closed

[2019-03-15 20:34] #11868 closed

[2019-03-15 21:04] rishig opened #11915 "message view: Open menu for quote&reply, copying, etc. when selecting text."
There are a few different things you might want to do when selecting text from the message feed:
* "Quote and reply" on that text
* "Copy messages", which would work similar to how our current Ctrl+C works
* "Copy", which would just copy the message text (no names, timestamps, topics, etc)

We should open a small menu when you select text from the message feed, and offer these options. If one of t

[2019-03-15 21:04] rishig commented on #11899
Opened as #11915

[2019-03-15 21:19] vinitS101 commented on #11915
Do you want something like what medium.com offers? I'd be interested in working on this.

[2019-03-15 21:21] vinitS101 commented on #11915
@zulipbot claim

[2019-03-15 21:38] amahoneyLIT opened #11916 "Bullet list does not work correctly in block quote"
When quoting text with bullet lists, the formatting breaks if there is a non-empty line preceding the list, or if there is a number list before the bullet list. (This may not cover all cases, but are the two we identified).

Example text:
[code]

How it renders (I've circled where it is broken):
![image](https://user-images.githubusercontent.com/38052592/54463262-b3f93700-472f-11e9-8dc2-5c6f116429

[2019-03-15 22:20] ss62171 commented on #11087
@zulipbot abandon

[2019-03-15 22:46] rishig opened #11917 "left sidebar: Icons not horizontally aligned."
Noticed two related issues on czo:
* There's too much space between the `#`s and the stream names, and too little space between the icons and filter names in the global filters sections
* The house, envelope, star etc icons should be horizontally centered with the locks and `#`s

![image](https://user-images.githubusercontent.com/890911/54465616-42be8180-4739-11e9-9f18-199747690922.png)

Opening a

[2019-03-15 23:24] rishig commented on #11915
yeah. I guess one question is if we want to do icons or text. Icons with on-hover explanations might be the right solution?

[2019-03-15 23:30] vinitS101 commented on #11915
Yeah, that would be a good idea. I'll get to work on this.

[2019-03-15 23:43] tkunkel opened #11918 "Add attachment list to api"
## Description
 As a developer I want to be able to reuse existing files a bot has uploaded in order to save resources on the installation.
I wrote a bot that provides data in the form of images to the user and at the moment I have to re-upload the same data if a user asks for it, because the bot cannot access the list of uploaded files in order to check, if this data was already provided.

## Pos

[2019-03-16 00:02] bascht commented on #11619
@timabbott Thanks for the quick reaction & the heads-up! :sparkle:

[2019-03-16 00:33] vipulchhabra99 commented on #11917
Hey @rishig, I am a bit confused in the first part increase in space between icon and title is required or reduction of space between # and stream name is required or both?

[2019-03-16 01:03] rishig commented on #11917
Both. Though I think this is a recent regression; we should just match what it was 500 commits ago.

[2019-03-16 01:06] vipulchhabra99 commented on #11917
Ok, @rishig I can try finding out but any idea how many commits before it was ok?

[2019-03-16 04:34] thedeveloperr commented on #9395
@zulipbot still working.

[2019-03-16 05:06] ruchit2801 commented on #11864
@timabbott Let me know if you and Rishi decide to add this option. I'm now familiar with writing features after writing three features in zulip :)

[2019-03-16 10:53] shubhamdhama commented on #9362
@zulipbot claim

[2019-03-16 12:47] ruchit2801 commented on #11227
@zulipbot claim

[2019-03-16 20:15] vinitS101 commented on #11915
@rishig I have managed to get the "Quote and Reply" and "Copy Text" parts done. I am not sure I understand what the third one is, though.
Currently (in master), using "Ctrl + C" just copies whatever text I highlight. It only copies Names and Timestamps if I highlight/select them as well before copying.
Could you please elaborate on what exactly we want the options to do?

[2019-03-16 22:23] rishig commented on #11915
Great, thanks! In master, try copying
* a part of one message
* the end of one message and the beginning of the next

to see the different behavior.

[2019-03-17 02:13] AsociTon opened #11923 "stream-edit: Empty edit stream-name makes the span styling ineffective"
![stream_edit_bug](https://user-images.githubusercontent.com/41135524/54484225-ff265d80-4887-11e9-9f30-f64de0c81a74.gif)
In the stream settings when editing a stream name if we erase all the characters the styling of the span becomes ineffective resulting in  the above output.

[2019-03-17 03:50] stone212 commented on #11905
@timabbott I followed your direction but it did not solve the same problem.  I think the script is changing permissions to root user for `2019-03-17-03-44-33/` directory and that might be the problem.

I change permissions and re-run the script:

[code]

Then a lot of things happen correctly and then I see errors (posting starting with Yarn just for a marker but the error os `PermissionError: [Err

[2019-03-17 08:40] mateuszmandera commented on #9840
@zulipbot claim

[2019-03-17 10:26] adnrs96 commented on #11227
Hey @ruchit2801 Have you discussed this issue with @timabbott? This issue has some partial work merged and other being tracked by #8121. I should have probably referred to issue from my PR. (Sorry for that)

Also this might not be a good project if you are new to contributing to Zulip. I would suggest something from [good-first-issues](https://github.com/zulip/zulip/issues?q=is%3Aissue+is%3Aopen+l

[2019-03-17 10:56] ruchit2801 commented on #11227
@adnrs96 I saw your PR. I think we can collaborate here. So far, I've just implemented the UI for this feature. See this screenshot,
![Screenshot 2019-03-17 at 11 37 22 AM](https://user-images.githubusercontent.com/39343253/54489156-716e6080-48cf-11e9-9795-fefa49228b19.png)
#8121 seems to be adding remainders for messages and backend logic for scheduling a message. Is this issue same as that featu

[2019-03-17 12:42] adnrs96 commented on #11227
We can definitely collaborate on this. I was just making sure if you had talked to someone about the issue before devoting significant time.
You are correct in assuming that apart from my PR most of the work needed for this issue lies with the UI implementation. Most of the infra is already there and I just need to clean up some code for delivery bot after which reminders should be working and sch

[2019-03-17 13:53] sahil839 commented on #11524
@zulipbot claim

[2019-03-17 14:18] ruchit2801 commented on #10385
@timabbott For the UI part, what if we add similar option of filter as we have on GitHub? We can provide such a filter option on the left side of search bar. In this we will provide various filters such as `before`, `after`, `on`, and `during`. Slack has similar UI but, rather than providing a separate filter button, it provides suggestions when you click on search bar.  Choosing a `from` option w

[2019-03-17 14:27] Nikhil-Vats commented on #3128
Yes, I am working on this, I had my exams so I was busy!

[2019-03-17 19:02] ss62171 commented on #11901
@timabbott before edit id seems a legit number (some positive number like 173)

[2019-03-17 19:26] timabbott opened #11927 "Audit curl API examples for `-X post` and/or test"
It appears our `curl` API examples on e.g. /api/send-message are missing the `-X post` argument.

We should do an audit for this, and probably also add some automated tooling in e.g. `test-api` or otherwise to verify that the `curl` examples contain `-X post` if the endpoint is an HTTP post endpoint. (Depending how tricky this is, it could be a follow-up or an immediate thing we do).

@eeshangarg

[2019-03-17 20:09] timabbott commented on #11901
@ss62171 cool; can you do console.log-debugging to figure out precisely when that value gets corrupted to `-Infinity`?

[2019-03-17 20:13] timabbott commented on #11905
Hmm, weird; I don't understand why you would have this problem without everyone seeing it.  @andersk this is likely some sort of weird regression related to our recent `su_to_zulip` changes, but I don't see an obvious story for what it could be.  Any idea how to debug efficiently?

[2019-03-17 20:22] ss62171 commented on #11901
Can i upload gif of that?

[2019-03-17 20:56] #11889 closed

[2019-03-17 21:44] timabbott opened #11929 "Add caching for bugdown rendering for realm descriptions"
We should add simple `cache_with_key` style catching for the markdown rendering of realm descriptions; that currently adds about 5ms even for a trivial realm description to the minimum call time of `common_context`, which sounds like not much, but can be more than half of the total runtime of some simple routes.  And this could potentially be a lot more if markdown rendering for a given realm desc

[2019-03-18 01:22] stone212 commented on #11905
@timabbott

I agree, that is weird. I only had problems upgrading once before and it was a problem everyone had.  I can not think of anything unusual about my configuration.  Nothing else runs on this server, it runs Ubuntu 16.04 and I am experienced.  I am happy to run any tests you think will help.

[2019-03-18 04:11] timabbott opened #11930 "Add webapp feature to trigger a public-data-only export"
We get reasonably frequent requests from folks to export their organization's public stream data from Zulip Cloud.  See https://zulipchat.com/help/export-your-organization for documentation on options.

We'd like to start the process of supporting "public export" as a webapp feature, without any manual intervention involved.  You can do this on the command line with this:
`./manage.py export --pub

[2019-03-18 04:27] timabbott commented on #10423
@alexandraciobica great!  I think we should hold off on this issue for about a week, since https://github.com/zulip/zulip/pull/11894 will likely merge conflict, but after that I'd love to see this happen.

Let me know if you're having trouble finding a good issue to work on now -- I can point out a few good ones.

[2019-03-18 04:29] timabbott commented on #11916
@amahoneyLIT thanks for the report!

[2019-03-18 04:35] timabbott commented on #4676
@b-czaszynski sorry for the slow reply!  I had thought I'd replied to you the day you posted your original issue, but don't see it here.  In any case, because we render user names using templates that do escaping, I don't think there's a vulnerability here.  But if you believe otherwise, please report using our official security issue report channel.

The change we have in mind here is solely to b

[2019-03-18 04:43] timabbott commented on #7766
Hmm, I'm not sure.  I don't think we want to be in the business of writing and maintaining an HTML diff tool -- that seems like something better done by a third-party library.  We could look for whether there's a better Python library than the LXML one, or consider reporting an issue upstream.

[2019-03-18 04:43] timabbott commented on #7766
Hmm, I'm not sure.  I don't think we want to be in the business of writing and maintaining an HTML diff tool -- that seems like something better done by a third-party library.  We could look for whether there's a better Python library than the LXML one, or consider reporting an issue upstream.

[2019-03-18 05:04] timabbott commented on #11918
@tkunkel so, `GET https://ZULIPSERVER/api/v1/attachements` is an existing API endpoint, that returns all the attachments the current user has uploaded.  Is the issue that you'd like to administrative version of this API that lets you see all attachments any user in the organization has uploaded?

[2019-03-18 06:24] Hypro999 commented on #11929
Sounds like a worthy optimization! That and it looks like a great opportunity for me to further explore the Zulip's default context processors as well as caching systems. I'll be working on this.

[2019-03-18 06:25] punchagan commented on #7560
We now have 100% coverage on `zerver/lib/digest.py` and I think we can just close this issue.

https://github.com/zulip/zulip/commit/7798aae6ca08bbf00cab37566b12d15ee16c372f seemed to have added this bit of test code to check the inactive users flow, when there are bunch of active users alongside.

[2019-03-18 10:30] alexandraciobica commented on #10423
@timabbott Great! I will wait until the other issue is merged.

I would definitely need some help in finding an issue :D Thank you!

[2019-03-18 10:40] aashutoshrathi commented on #3916
@timabbott Can you brief if this issue is still valid?

[2019-03-18 11:05] abhishek125 commented on #11669
@zulipbot claim

[2019-03-18 11:31] SjurWarEagle commented on #11918
@timabbott at the moment  `GET https://ZULIPSERVER/api/v1/attachements`  doesn't exist (at least not at `https://tkunkel.zulipchat.com/api/v1/attachements`), having the list of attachements from the current user would be ennough for my current requirements.

Having the information marked in red would be nice, having in addition operations to change them would be a nice to have, not needed for my c

[2019-03-18 14:59] mayankmadan commented on #6018
@zulipbot claim

[2019-03-18 15:12] sahil839 commented on #11494
@zulipbot claim

[2019-03-18 15:19] pragatiagrawal31 commented on #11726
Ahh, Strange... Zulipbot unassigns in 14 days and gives a warning before unassigning, looks like an issue with zulipbot. Anyways, I'm still working on this.

[2019-03-18 15:55] sahil839 commented on #11494
@armaanahluwalia do we need to keep the option of opening of search box on clicking the sidebar title **STREAMS** or it should only open when clicking on the icon.

[2019-03-18 18:17] #9840 closed

[2019-03-18 18:22] #2420 closed

[2019-03-18 18:43] sameerchoubey commented on #11803
@zulipbot claim

[2019-03-18 20:21] #11867 closed

[2019-03-18 20:48] timabbott commented on #11918
You can do this using our Python API bindings as follows (assuming you have a ~/.zuliprc setup) in a python shell:
[code]
(Which calls `GET /attachments`).  Can you confirm that works for you?

[2019-03-18 21:04] timabbott commented on #3916
Yes, this issue is still valid.  I reproduced this today:
![image](https://user-images.githubusercontent.com/2746074/54563381-485cd700-4986-11e9-93c0-447263b81959.png)

The actual issue here is I think that the architecture of the scrollable regions is wrong; the USERS block should be below all streams, rather than having a scrollable region containing (pinned streams, then streams) with not much

[2019-03-18 21:17] tkunkel commented on #11918
Oh well, many thanks to you.
I really have to apologize, your proposal works absolutely fine.
And if **I'm** using `attachments` and not `attach>e<ments` it's working fine for me, too....

Many thanks and sorry for the time.

[2019-03-18 21:18] #11918 closed

[2019-03-18 21:34] timabbott opened #11937 "Fix social auth backend handling of attempts to login by deactivated users"
We just got a report that while trying to login with our Google auth backend with an email address that has a deactivated account did something reasonable (took them back to /login with a clear error message), our GitHub backend took them back to /login and then redirected again to /accounts/go.  So it seems likely we have buggy error handling in SocialAuthBackend for this error situation.  We sho

[2019-03-19 02:06] WesleyAC opened #11938 "Errors when changing password do not display"
I attempted to change my password to the string `"Q|~>(I%$9r*IctB1yRBWJL"|`. This does not change my password, but this is unclear from the UI. I think what might be happening is an error appears for a moment, but the page is immediately reloads, dismissing the error.

[2019-03-19 04:01] OvermindDL1 opened #11939 "OIDC Auth Support"
It is already supported in python-social-auth at:  https://github.com/python-social-auth/social-core/blob/master/social_core/backends/open_id_connect.py

This has quickly become a standard at a lot of locations (at least the ones I frequent?) and supporting OpenID Connect (latest OAuth spec) would quickly and immediately support them all.

[2019-03-19 04:32] WesleyAC commented on #11938
It also seems like in general, changing passwords via the settings page is broken? I can change my password via password reset, but not the settings page. That's probably a separate bug, though.

This is on the Recurse Center's Zulip instance, not sure what version it's running.

[2019-03-19 05:01] timabbott commented on #11939
@OvermindDL1 would you be able to test a prototype integration that we built based on this if it happened in the next couple weeks?

[2019-03-19 05:04] timabbott commented on #11938
Hmm, I can reproduce a CSRF error when trying to change one's password in development right now, so we clearly have a recent regression here (Zulip Cloud generally runs very close to master).  I'm investigating.

[2019-03-19 05:14] timabbott commented on #11938
@shubhamdhama FYI it turns out this was introduced in dee4e3fb8998c1d896c36b9d6ef097f3a21121ce; we should have tested that change more carefully.  And also apparently people mostly only change their passwords via password reset; I think this is to some extent a sign of the fact that ~everyone uses SSO these days.

[2019-03-19 05:15] timabbott commented on #11938
@WesleyAC thanks for the report, this was very helpful!  And is now fixed in master and will be in production tonight.

[2019-03-19 05:16] #11938 closed

[2019-03-19 05:39] timabbott commented on #7560
Sounds great, closing, thanks for the investigation @punchagan!

[2019-03-19 05:39] #7560 closed

[2019-03-19 05:44] #10427 closed

[2019-03-19 06:29] Pomazan-Bogdan commented on #9840
Fix?))

[2019-03-19 06:41] mateuszmandera commented on #9840
@Pomazan-Bogdan Yes, in the case of cyryllic stream name, token@domain will be the pattern, without the stream name.

[2019-03-19 06:48] frg-tarasov commented on #9840
@mateuszmandera Thank you very much from Russia :-)

[2019-03-19 13:49] Raghavareddy21 commented on #11152
@zulipbot claim

[2019-03-19 14:34] OvermindDL1 commented on #11939
@timabbott Yep!  It's just a little open source project but we use an OIDC server for centralized logins with everything, pretty simple for me to test.  :-)

[2019-03-19 15:00] sahil839 commented on #11721
@AsociTon If you are not working on this issue I may take this up.

[2019-03-19 15:09] sahil839 commented on #11923
I am not able to reproduce this in my dev server.

[2019-03-19 16:55] sahil839 commented on #11570
@timabbott I wanted to take this issue. Can you help me from where I should start?

[2019-03-19 17:42] timabbott opened #11944 "Allow requesting data on recent PM conversations via /register"
The mobile app's PMs screen shows the PM conversations we've been in recently, but "recently" may be as few as the last 100 PM messages. For a user that heavily uses PMs, this can leave out conversations even from a day or two ago.  One user reported an example as a typical experience: they're looking for a specific conversation, and the last message in it was 3pm yesterday. It's 3:30pm at the tim

[2019-03-19 17:43] timabbott commented on #3649
Closing this in favor of https://github.com/zulip/zulip/issues/11944, which is a better writeup of this concept.

[2019-03-19 17:43] #3649 closed

[2019-03-19 17:43] timabbott commented on #6006
Closing this in favor of https://github.com/zulip/zulip/issues/11944, which is a better written-up version of this feature idea.

[2019-03-19 17:43] #6006 closed

[2019-03-19 17:43] timabbott commented on #6875
Closing this in favor of https://github.com/zulip/zulip/issues/11944, which is a better articulated version of this concept.

[2019-03-19 17:43] #6875 closed

[2019-03-19 17:58] timabbott commented on #11939
OK, tagging as a priority and I'll discuss this with @HarshitOnGitHub once we merge a few of his other active authentication PRs.

[2019-03-19 18:10] #11803 closed

[2019-03-19 18:11] timabbott commented on #11701
@hinchley2018 are you still working on this?  I seem to recall seeing some screenshots of partial work on it...

[2019-03-19 18:26] sameerchoubey commented on #11701
@timabbott

If @hinchley2018 is not working on this issue, should I claim it as I can start a PR right away?

[2019-03-19 18:45] timabbott commented on #11701
You can start working on this; it looks like https://github.com/hinchley2018/zulip/commit/823c529c3cda9f5cb2b0c3c7ac174f3857acb395 has some partial work you can look at, and https://chat.zulip.org/#narrow/stream/137-feedback/topic/Zulip.20Integration.20Docs.20on.20Mobile/near/708632 has some discussusion on what it should look like.

[2019-03-19 19:01] sameerchoubey commented on #11701
@zulipbot claim

[2019-03-19 19:11] yz2524 opened #11945 "Zulip error: [Django] ip-xxxxx: Invalid message(s)"
Hi,
 We are receiving error email notifications as below.

It occurs only while we chatted in a locked stream (invitation only) whose original creator departed (His accesses is  disabled from LADP but his zulip account is still 'active').

 This error seems goes away after the original creator been unsubscribed from the stream.

  Would you please explain what causes this issue?

 Thank you.

"
Lo

[2019-03-19 19:30] #4639 closed

[2019-03-19 19:45] timabbott commented on #10271
See also https://github.com/zulip/zulip/pull/10683 for a possible backend change to set the badge counts.  @gnprice, I'm assuming you're driving the question of when to invest in doing the notification counts stuff for iOS.

[2019-03-19 19:47] vrongmeal commented on #11923
Neither can I

[2019-03-19 19:53] timabbott commented on #7549
Work on this should start with the code and comments in https://github.com/zulip/zulip/pull/10719.

[2019-03-19 20:32] #10537 closed

[2019-03-19 21:06] borisyankov commented on #11944
I would say that `conversations` is better.

[2019-03-19 21:09] borisyankov commented on #11944
How practical is it to increase this `[0:1000]`?
Obviously, it is more of an example. Do you have a feel for how many private messages does the average user send per month?

Maybe your own messages are an example of the extreme count?
Though some customers might have very PM-focused chats and this might be higher?

[2019-03-19 21:15] eeshangarg commented on #11927
@timabbott: Adding some automated tooling for this shouldn't be hard per se, to be honest. It will involve tweaking or augmenting our Markdown extension framework a bit. I'll add it to my queue, or see if a new contributor might be interested in getting to know this area of our code. Thanks!

[2019-03-19 21:16] akashnimare commented on #11923
@AsociTon are you able to reproduce this bug on the latest master?

[2019-03-19 23:24] timabbott commented on #11945
@yz2524 upgrade to Zulip 2.0 -- this bug is already fixed.

[2019-03-19 23:24] #11945 closed

[2019-03-19 23:33] timabbott commented on #11944
The design described above proposes giving PM data from 1000 messages of history, and would add a few dozen milliseconds to the runtime of `/register`.

[2019-03-20 01:13] AsociTon commented on #11923
yeah it is present on the latest master, [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Empty.20stream.20name.20on.20edit/near/720956) is the related conversation for it, the issue seems to be related with firefox only.

[2019-03-20 02:09] rishig commented on #11607
I don't know if it makes sense to change this now or as followup, but let's do
`Online in the last day`
instead of `Last online: Today` when the user is unavailable. Discussion at https://chat.zulip.org/#narrow/stream/48-mobile/topic/user.20status/near/721401.

[2019-03-20 02:12] vinitS101 commented on #11607
@rishig This should just be a small change in the `static/templates/buddy_list_hover.handlebars` template. I'll make the change.

[2019-03-20 05:56] Hudda commented on #11721
@zulipbot claim

[2019-03-20 06:23] timabbott commented on #11944
I added https://github.com/zulip/zulip/pull/11946, which has an initial implementation of this.  I'll post more detailed comments on the mobile-side issue.

[2019-03-20 06:28] TheCelestial25 commented on #11670
@zulipbot claim

[2019-03-20 07:12] stone212 commented on #11905
@andersk Please tell me if I can do any testing to resolve this issue.

[2019-03-20 09:58] TheCelestial25 commented on #11670
@rishig  I have fixed the issue by PR #11948 . Please review in your free time. Thanks!

[2019-03-20 10:06] aashutoshrathi commented on #3916
@timabbott Yes, that makes sense. I think I can send a patch for that on it.

[2019-03-20 10:49] Hudda commented on #11721
@rishig Is it good?
![Screenshot from 2019-03-20 16-16-47](https://user-images.githubusercontent.com/29057268/54678846-f81f7980-4b2b-11e9-94fa-ac0e01267235.png)

[2019-03-20 13:42] harry-hov commented on #7549
so, all I have to do is "resolve conflicts in #10719 and made new PR regarding the same" @timabbott

[2019-03-20 14:13] khorsmann commented on #852
@timabbott My organisation is splitted in three ADs and so i got DC=Domain-One, DC=Domain-Two, DC=Domain-Three. And i want to offer all of them *one* zulip Instance. Is that possible? I search the docs and the issues and it refers all to this one.
Subdomain searching works only with one LDAP Server (or AD) i thought.

So could a solution for this kind of problem? Three sub-domains / organisations

[2019-03-20 14:33] AsociTon commented on #11721
@Hudda I am actually working on it : )

[2019-03-20 14:53] kfogel commented on #10216
By the way, Jeremy Mikkola's post [Rules for Autocompletion](http://jeremymikkola.com/posts/2019_03_19_rules_for_autocomplete.html) caught my eye -- I don't think everything in his checklist applies here, but it might be useful to look it over.

[2019-03-20 15:09] kfogel commented on #7042
Ah, I didn't know about the Tab-to-Enter-button behavior (I usually have press-Enter-to-send turned on, though not always).  That's a tough one to get around, since it's a common web-form behavior and people are used to it, both from the Web in general and from Zulip in particular.

When press-Enter-to-send is turned on, we could have Tab complete usernames without an "@" first... but maybe that i

[2019-03-20 16:13] 2208Abhinav commented on #11685
@zulipbot claim

[2019-03-20 16:42] akashnimare commented on #11811
I'm getting some weird characters in a narrow window on this page -

![image](https://user-images.githubusercontent.com/2263909/54702606-31241200-4b5d-11e9-966a-c26de5c335e4.png)

[2019-03-20 17:10] rishig commented on #11607
I just noticed a discrepancy between what we call our availability states (active, idle, offline, unavailable) and "Last online", which actually refers to when the user was last active.

I know this is coming a bit late, but would be great to change "Last online" to "Last active", "Online now" to "Active now", and "Online in the last day" to "Active in the last day". Can be done as followup / a co

[2019-03-20 17:22] thedeveloperr commented on #9395
@zulipbot claim

[2019-03-20 17:36] thedeveloperr commented on #10385
@zulipbot claim

[2019-03-20 17:40] timabbott commented on #11685
Just to be clear, I think we want to remove that UI widget when **both**:
* LDAP is the only auth backend
* Invitations are not required to join

Not when just one of them is true.

[2019-03-20 17:42] 2208Abhinav commented on #11685
Sure @timabbott I will update the pr according to that.

[2019-03-20 17:53] timabbott opened #11954 "Make "Authentication methods" use the organization settings save/discard method"
The "Authentication methods" settings area is sensitive in the same way as the "organization settings" and "organization permissions", and should use the same save/discard settings system.

[2019-03-20 18:16] pragatiagrawal31 commented on #11954
@zulipbot claim

[2019-03-20 18:17] thedeveloperr commented on #10385
@ruchit2801 @timabbott  A discussion for deciding the UI https://chat.zulip.org/#narrow/stream/9-issues/topic/Search.20by.20date.20.2313085
in addition to text search in search bar, we can do a calendar icon beside the search bar which can open a date selector popup.

[2019-03-20 18:18] vinitS101 commented on #11607
These commits have actually been merged already so like you suggested I'll make another commit for this change.

[2019-03-20 18:29] timabbott commented on #11811
That is super weird!  The strangest part is the "Find Accounts" text appearing in that screenshot -- is this somehow showing content from another page?

[2019-03-20 18:42] akashnimare commented on #11811
The find account thing is the menu item which is fine but these strange characters -

![image](https://user-images.githubusercontent.com/2263909/54710554-f4ace200-4b6d-11e9-987e-3e26482799a0.png)

[2019-03-20 19:00] timabbott commented on #11811
Ahh, OK.  Still no idea where those are coming from.  Could be a browser bug.

[2019-03-20 19:34] timabbott opened #11956 "Batch calls to do_update_message_flags with very large message ID lists"
I found this while investigating some circumstances where a production server was holding hundreds of locks at the same time.  The root cause is the following:

* In rare circumstances involving a user who is very far behind holding hitting the `end` key in the "All messages" view (or similar), our frontend UIs may attempt to mark 10,000s of messages as read using the  standard API for marking an

[2019-03-20 20:22] timabbott commented on #10385
A few notes on sequencing a technical implementation for this:
* We should start with building the backend (tests in test_narrow, etc.) with support for the textual syntax we have in mind, which we should copy from https://chat.zulip.org/#narrow/stream/9-issues/topic/Search.20by.20date.20.2310385 once that discussion conclusions.
* Next, we should add that to the frontend search typeahead so that

[2019-03-20 20:27] OvermindDL1 commented on #11570
For now is there any way or workaround to default new members to specific settings for a given organization (specifically just need to change I think it was 2 settings)?  :-)

[2019-03-20 20:27] ss62171 commented on #11901
@timabbott

![Peek 2019-03-21 01-55](https://user-images.githubusercontent.com/32260593/54716802-9dfad480-4b7c-11e9-84ec-2cd0e51a311e.gif)

[2019-03-20 21:09] rishig commented on #10732
As followup on this issue we should make sure the keyboard focus is on the right pane when you load the page and when you switch sections. (Currently it's incorrectly set to the left pane in both those situations.)

Holding work on that till the scrollbar changes are merged, since they seem intertwined.

[2019-03-20 21:37] timabbott commented on #11777
@aero31aero this was fixed with the revert we included in 2.0.2, I think.  @swallitsch can you confirm?

[2019-03-20 21:40] swallitsch commented on #11777
I didn't see that 2.0.2 was released, I'll backup our server, upgrade and check this evening.

[2019-03-20 21:47] timabbott commented on #852
@khorsmann there's a couple solutions for this.  The simplest is to use https://django-auth-ldap.readthedocs.io/en/latest/multiconfig.html.  This is a bit complex and thus likely something you might want to get help setting up as part of a support contract; it'll require a small fork to Zulip.

With this model you should be able to either do a single Zulip organization or one per AD domain.

[2019-03-20 22:03] OvermindDL1 opened #11959 "CAS Auth support"
I've been quite liking testing Zulip for an open source project I help manager the backend of, and I've been liking it so much that I'm considering introducing it at work, a not-for-profit college, however all of their auth goes through, as seemingly with most colleges in my experience if they have SSO at all, the CAS protocol, which is very similar to oauth/oidc but older and less well thought ou

[2019-03-20 23:04] clarammdantas commented on #11937
@zulipbot claim

[2019-03-20 23:22] clarammdantas commented on #8750
@zulipbot claim

[2019-03-21 00:34] rishig opened #11960 "infra: Add cron job to run invoice_plans_as_needed once a day."
I've been running `invoice_plans_as_needed` once a week or so for a couple of months, which I think means it can graduate to being run automatically. Let's run
`invoice_plans_as_needed(timezone_now())` (possibly by adding a default value for event_time to invoiced_plans_as_needed) once a day at 22:00 UTC.

(Nice to run it during business hours PT, since the script just generates the invoices, whic

[2019-03-21 00:55] jainkuniya opened #11961 "notifications: Add user email in get_base_payload so that it can be send to all types of notification."
I am working on https://github.com/zulip/zulip-mobile/pull/3407 and we are changing data structure to caches/store conversations.

So we have created a key  as a object which is basically identity of user in that realm:
[code]

But currently user email field s not present in FCM messages with `event` as `remove`.
Read our requirement here: https://github.com/zulip/zulip-mobile/pull/3407#discussion

[2019-03-21 01:10] gnprice commented on #11961
Sounds like a good plan -- thanks!

[2019-03-21 03:45] swallitsch commented on #11777
Confirming this is fixed in 2.0.2

[2019-03-21 03:46] swallitsch commented on #11780
Just upgraded to 2.0.2 with this and it's working great.

[2019-03-21 05:04] timabbott commented on #11961
Just to check, do we want the user ID rather than the email within that realm, or both?  User ID is guaranteed to be stable for a given account over time.

[2019-03-21 05:13] timabbott commented on #11956
OK, after some discussion with mobile folks in zulip/zulip-mobile#3423 and elsewhere, I think we want to go with option 1 above.  That particular solution I think is reasonably accessible, so I'm removing the "difficult" tag.

[2019-03-21 05:16] jainkuniya commented on #11961
Currently we are using email all the time on mobile. We haven't yet
migrated to user Id yet.

This seems to be a good starting point for native side, thoughts @gnprice

So let's put both for now or go with only id?

On Thu, Mar 21, 2019, 10:34 AM Tim Abbott <notifications@github.com> wrote:

[2019-03-21 05:17] timabbott commented on #11780
Great, thanks for the confirmation!

[2019-03-21 05:18] timabbott commented on #11777
Great, thanks for the confirmation!  @aero31aero if I'm not mistaken, we've added tests to master that would catch a regression here and can close this, so I'm doing so.  Correct me if I'm wrong :)

[2019-03-21 05:18] #11777 closed

[2019-03-21 05:23] timabbott opened #11962 "Fix issues with private streams containing only guests"
From the original report in https://github.com/zulip/zulip/pull/8361#issuecomment-475059223:

* I'm an admin and I've created a private stream
* I've invited guests user to the stream
* I've accidentaly unsubscribed myself from that stream
* I can't subriscribe anymore untill I'm invited
* All the users are guests and have not the permission to invite me

The right fix for this, given our present

[2019-03-21 05:27] timabbott commented on #11959
@OvermindDL1 I would recommend adding it to python-social-auth; that way, the benefits of the integration are available to other apps using that library.  And I think it's probably a similar amount of work; if you look at the architecture of a social_auth backend, it's usually just a few classes and some tests (And they have a nice test framework).

The other approach you could take is combining h

[2019-03-21 08:44] aero31aero commented on #11777
@timabbott agreed. Also, the 'longer' mentions this issue so anyone coming by this later would still get the context.

[2019-03-21 11:43] mateuszmandera commented on #1836
@zulipbot claim

[2019-03-21 11:43] mateuszmandera commented on #1836
Made a PR for this issue.

[2019-03-21 13:45] sahil839 commented on #11962
@zulipbot claim

[2019-03-21 14:18] OvermindDL1 commented on #11959
Very good point.  ^.^

Is there a description of the on-wire API for that so I could whip up an nginx setup for it instead, they don't use apache here except in one very old place they are trying to get rid of.

I also just got to thinking about the details, the CAS server here doesn't supply an email (it's a *very* old protocol) but rather a string ID that needs to be looked up elsewhere for furt

[2019-03-21 16:48] MattMakiya opened #11966 "Exchange Connectivity Issues (TLS)"
We have recently configured a Zulip chat server on Linux Ubuntu (18.04).  Everything is setup and functional, but I have some questions about email configuration.  We have Zulip set to smtp to our in-house Exchange server (using local IP), but it will only deliver mail if we disable TLS and use port 25.  I'm lead to believe this is unsafe.  When TLS is enabled, we run into authentication issues (u

[2019-03-21 16:54] alecakin commented on #11966
We're having a very similar issue

[2019-03-21 16:57] timabbott commented on #11238
This was fixed via #11202.

[2019-03-21 16:57] #11238 closed

[2019-03-21 17:01] timabbott commented on #7194
@hackerkid I just read through this old issue, and I think everything is finished, so I'm closing this.  Thanks for fixing this!

[2019-03-21 17:01] #7194 closed

[2019-03-21 17:03] timabbott commented on #6567
I'm going to close this as wontfix for now since we haven't had anyone else show interest in this feature in the last 1.5 years.

[2019-03-21 17:03] #6567 closed

[2019-03-21 17:03] timabbott commented on #6567
(As a workaround for a single server, yes, you could write a manual query to just turn the setting off for all users, or just not run the missed_message_emails queue processor)

[2019-03-21 17:42] hackerkid commented on #11960
@rishig I should be able to start working on this next week. Currently occupied by Mattermost import.

[2019-03-21 20:11] timabbott commented on #8527
This was done a long time ago in #9289.

[2019-03-21 20:11] #8527 closed

[2019-03-21 20:32] timabbott commented on #10256
Closing this, as it's not clear we need this feature (now that we have other useful slash commands).  Similar products don't seem to have a `/settings` type thing in the first place, so I'm sorta tempted to do this or not based on whether users ask for it.

[2019-03-21 20:32] #10256 closed

[2019-03-21 20:56] Nikhil-Vats commented on #11455
I would like to work on this, since I have sent PR for the other issue I was working on. @rishig @timabbott Can I?

[2019-03-21 21:32] timabbott commented on #11455
This is probably too complex an issue for someone super new, but might be a good project for @pragatiagrawal31.

[2019-03-21 22:29] #1836 closed

[2019-03-21 22:42] penCsharpener commented on #6567
that's a pitty. I'm in this situation now - don't want to pay a mail provider because mails aren't that important for my use case. How do I stop the missed_message_email queue processor?

[2019-03-21 23:07] clarammdantas commented on #8750
Hi! :)

So, I think I've fixed this issue, but I have a question. Now with my alterations, if a user subscribes to a stream (that has public history) and then changes the topic of a message sent before he/she was a subscriber, it successfully updates the topic. But it doesn't show the message "message successfully edited!". Should this message appear?

Also, I've read the conversations in a PR ama

[2019-03-21 23:56] timabbott commented on #6567
`supervisorctl stop zulip-workers:zulip_events_missedmessage_emails` works.  If you want to do it more robustly, you can edit `/etc/supervisor/conf.d/zulip.conf` to delete that queue processor there and then restart supervisord, so it won't come back on server restarts.

[2019-03-22 00:04] timabbott commented on #11966
@MattMakiya the issue is likely that your exchange server+account you're using to send email is configured to only allow sending from a particular sender email address, given the error message. You may want to look at disabling `TOKENIZED_NOREPLY_EMAIL_ADDRESS` to see if that helps.

[2019-03-22 00:04] timabbott commented on #11966
That said, I'm a bit surprised that disabling TLS and using port 25 would help; what port are you using?

[2019-03-22 00:05] timabbott commented on #11966
https://stackoverflow.com/questions/48654081/django-send-mail-from-smtp-office365-com and similar answers on Exchange + Django email configuration may be helpful.

[2019-03-22 00:10] MattMakiya commented on #11966
Thanks Tim, I'll disable TOKENIZED_NOREPLY_EMAIL_ADDRESS and report back.

We were originally using port 587 with TLS.

[2019-03-22 00:14] timabbott commented on #11959
That system just uses the Apache `REMOTE_USER` variable in the WSGI request to `zproject/wsgi.py` as its source of truth.
 And the model is to post to `/accounts/login/sso/` with that variable set.  It's not an HTTP header; those get encoded as e.g. `HTTP_REMOTE_USER`.

[2019-03-22 00:23] timabbott commented on #8750
Yeah, we should definitely add an automated test that verifies the `send_event` call goes to the right set of users in `zerver/tests/test_messages.py`; possibly just extending an existing message_edit test.  Generally we include tests verifying a given feature in the same commit that implements it.

Feel free to submit a WIP PR without tests so that we can verify the fix (and be sure to look at Am

[2019-03-22 00:24] timabbott commented on #11961
If we need email, we should make this include both, so that we can drop email from this once mobile is migrated to use user ID.  But worth checking whether we actually need it on the app side for this feature.

[2019-03-22 00:45] timabbott commented on #10216
Yeah I completely agree prefix matches are very important for having a good typeahead experience.

Based on my usage over the last few months, I feel like there must be something wrong with the `recent_senders` logic here (like, I get the alpha first Mark, not the Mark who is active).  It'd be good to know whether in cases where the user you're looking for isn't sorted to top, `recent_senders.js`

[2019-03-22 01:00] whoodes commented on #11930
@timabbott could I make an attempt to tackle this issue?

[2019-03-22 03:39] paras112 commented on #5142
@zulipbot claim

[2019-03-22 03:48] timabbott commented on #11930
@whoodes yeah, go for it.  I expect @hackerkid may be able to provide some support as he's working on our import/export tools this week as well.

[2019-03-22 04:30] whoodes commented on #11930
Cool, @zulipbot claim

[2019-03-22 06:29] penCsharpener commented on #6567
Will that also deactivate registration and password reset mails? It shouldnt from the name of this queue processor.

[2019-03-22 09:00] thedeveloperr commented on #11584
Waiting for review On previous PR

[2019-03-22 09:00] thedeveloperr commented on #11584
@zulipbot waiting for review

[2019-03-22 15:10] OvermindDL1 commented on #11959
I'm unfamiliar with the (HTTP_)REMOTE_USER header, do you have a link to the standards spec for that, I seem to be unable to find one?  (Only thing I recall about anything related to REMOTE_USER is an old CGI var, though that's a long dead spec at this point and it had quite a share of issues in many implementations.)

I'm guessing that the (HTTP_)REMOTE_USER is validated some way so that not just

[2019-03-22 16:21] timabbott commented on #11959
The key detail for security is that it's not an HTTP header; it's passed in the WSGI request (I think via the environment?).  See for example these docs: https://wsgi.readthedocs.io/en/latest/specifications/simple_authentication.html https://modwsgi.readthedocs.io/en/develop/user-guides/access-control-mechanisms.html

[2019-03-22 16:24] timabbott commented on #6567
No, this is the "missedmessage" emails queue processor, responsible for determining what missed-message emails to send.  There are others that handle actually sending email.

[2019-03-22 16:30] OvermindDL1 commented on #11959
As it is an entirely different server altogether I'm unsure how I could set the environment in another server from that?  Everything runs in docker here, so everything is containerized to begin with (zulip's docker container seems to run quite well, thanks for that!), but even then it is still different physical servers regardless (that server is one of very very few that have access to the backin

[2019-03-22 16:32] timabbott commented on #11959
Yeah, if you're CAS server runs on another machine, you can't use REMOTE_USER as your security model.

[2019-03-22 16:38] OvermindDL1 commented on #11959
Heh, not just on another machine, but a few different ones.  The main CAS server gets daily syncs from the backing oracle database, but that CAS server is hosted off-site (a collection of college's shared setup), that CAS server only gives the internal backing ID (PIDM) of the accounts, so when it comes back into our network then we have to look up into our backing oracle database to get more info

[2019-03-22 18:32] MattMakiya commented on #11966
Hi Tim,
We disabled the tokenized_no_reply_email_address setting, but it had no effect on our issue.  I believe we found a solution though, which ended up having to do with Exchange Receive Connectors.  We used a different port (with TLS enabled), and the test email went through.  We are continuing to test, and we appreciate your guidance!

[2019-03-22 19:52] eeshangarg commented on #5142
I think there is some confusion about this issue. Please note that Confluence does not have a built-in "webhook". So we'll have to write a [non-webhook integration](https://zulipchat.com/api/non-webhook-integrations) for Confluence. For some examples of such integrations, see [here](https://github.com/zulip/python-zulip-api/tree/master/zulip/integrations). Thanks!

[2019-03-22 20:48] mayankmadan commented on #6018
@zulipbot claim

[2019-03-22 20:48] mayankmadan commented on #6018
I have submitted the PR so waiting for the review

[2019-03-22 23:09] gnprice commented on #11961
Ah, good question! The initial impulse was for email just because that's what the server currently sends for `message` messages (i.e. to cause a notification), in the `user` field.

The existing mobile code actually completely ignores this field, so there's no need to keep it for compatibility reasons.

Let's just start sending `user_id`, in `get_base_payload` -- and we can stop sending `user` (ak

[2019-03-22 23:59] gnprice commented on #11961
Done! Also started parsing `user_id` -- as an optional field, of course. :wink:

Then in a followup commit 8c1e1b3a0, I also added the parsing of this whole set of fields (`server`, `realm_id`, `realm_uri`, `user_id`) to `remove` messages as well.

[2019-03-23 03:25] TheCelestial25 commented on #11917
Is anyone working on this?

[2019-03-23 04:55] crlf0710 opened #11976 "How to make 'notification bot' service in another language?"

[2019-03-23 10:01] alexandraciobica commented on #11917
I am working on it

[2019-03-23 10:38] TheCelestial25 commented on #11642
@zulipbot claim

[2019-03-23 10:51] pacicap commented on #2335
@zulipbot claim

[2019-03-23 14:56] Amadeo234 commented on #7766
@zulipbot abandon

[2019-03-23 15:41] akshaygupta533 commented on #11642
@TheCelestial25 there's already an open PR for this awaiting review. You could work on some other issue.

[2019-03-23 16:16] Amadeo234 commented on #8386
I think this was fixed with #10320 and can be closed as well.

[2019-03-23 18:44] rishig commented on #11629
A first step that would be great to work on is getting this modal to use our regular modal styling. So just
[code]
We can add other features incrementally from there.

[2019-03-24 03:41] TheCelestial25 commented on #11694
@zulipbot claim

[2019-03-24 03:46] sjuxax commented on #10351
This is still impacting a pretty large number of emoji imported from slackmojis.com. The issue does indeed seem to originate in Pillow, see https://github.com/python-pillow/Pillow/issues/3665, where there is ongoing discussion around how and/or if to fix.

The docs mention potentially moving this task to Thumbor some day, which may be a good idea since Thumbor appears to use either OpenCV or Graph

[2019-03-24 03:49] TheCelestial25 commented on #11642
Thanks for telling me @akshaygupta533 ! I could not notice you'd completed your work on this.

[2019-03-24 04:38] TheCelestial25 commented on #11642
@zulipbot abandon

[2019-03-24 06:55] harry-hov commented on #7549
PR #11969 is ready for review.

[2019-03-24 10:08] harry-hov commented on #1736
@zulipbot claim

[2019-03-24 12:02] Amadeo234 commented on #1727
@zulipbot claim

[2019-03-24 15:37] siepkes commented on #1718
While I won't contend that RabbitMQ is stable I would like to add that RabbitMQ adds a lot of complexity to a Zulip setup. For example when you have to debug mnesia inconsistencies after a hard crash. Erlang by itself is a great language with a great VM (beam) but it's definitely a complex beast. Also RabbitMQ is quite heavy in terms of resources.

[2019-03-24 18:24] rht commented on #1718
Technically it is possible to use RabbitMQ as a backend of Django channels: https://github.com/django/channels/commit/5e96e3c17650c0a65b410e3571f814d4f7c3bf45. This way, it is possible to swap with Python processes for use on Raspberry Pis / low RAM devices, or even upgrade to Redis (hence having 2 separate Redis processes?). Of course, can't do anything without the upgrade to Django 2.x.

[2019-03-24 18:31] pacicap commented on #2335
please @timabbott can i have a hint on what i should know to solve this issue? and also can i know which file(s) need to be modified?

[2019-03-24 20:04] sjuxax commented on #10351
Looking into this more, it seems that it'd require some involved logic to implement something that works reasonably well for the general case.

I hacked up the code to use Wand, and then to use a subprocess call out to the imagemagick binary itself, but there are still some unsolved issues. The long and short of it is, no surprise, getting decent transparency handling with GIF is really annoying.

[2019-03-25 01:20] WesleyAC opened #11980 "Ability to insert message break"
It would be nice to have the ability to insert a break into a message (the "[More...]" link - not sure what else to call it).

I currently do this by inserting a lot of lines with "." on them, but that's inconvenient, and I'm never sure how many I need to put in to make it collapse.

The main usecase for this is spoilers (#5802), but I think this could have general utility outside of spoilers - fo

[2019-03-25 05:41] overide opened #11981 "Topic highlight is visible in scroll gutter."
![ui_glitch](https://user-images.githubusercontent.com/19911594/54897482-9cb80780-4eee-11e9-8024-24ba06a5895c.png)

[2019-03-25 07:29] winmasta opened #11982 "Can't access to web client interface"
When I try to login to we interface I have got an error

```If this message does not go away, please wait a couple seconds and reload the page.```
Reloading page doesn't help.
Linux and windows clients doesn't work too with error ```can't connect to zulip```.
Android client works properly as I can see.

Found errors in log:
[code]

[code]

Rolled back memcached packets upgrade, now having new erro

[2019-03-25 07:52] winmasta commented on #11982
Seems like the same issue https://github.com/zulip/zulip/issues/8760

[2019-03-25 08:18] Nikhil-Vats commented on #9074
@timabbott Can I work on this either to add the new user badge or both new user and admin badge if there is some work left for admin badge as well?

[2019-03-25 08:24] Nikhil-Vats commented on #7935
@timabbott Can I work on this?

[2019-03-25 11:33] TheCelestial25 commented on #11694
@timabbott @rishig I have fixed this issue with PR #11983 . Kindly check in your free time. To make it always visible no changes to PerfectScrollbar were needed, only the call to update Scrollbar had to be put in proper place. I encountered and solved another issue related to this in the same PR. Thanks.

[2019-03-25 12:49] Z0Marlin commented on #11389
I've made a PR for this, and it is ready for review. #11587

[2019-03-25 13:11] daanwerf commented on #5087
@zulipbot abandon

[2019-03-25 14:07] nurduman0210 commented on #11923
@zulipbot claim

[2019-03-25 15:34] showell commented on #11981
This is slightly harder to fix than it seems, just due to some strange markup/CSS and the absolute positioning of the chevrons.  Although it's possible some of my recent cleanup there will help.

[2019-03-25 15:40] showell commented on #11981
(The key feature to preserve here is that you'll still want unread counts and chevrons to line up both within the stream list and with their counterparts in the top left corner.)

[2019-03-25 16:42] skunkmb opened #11985 "portico: Gradient looks different on Safari compared to Chrome"
Compared to how it appears on Chrome (and Firefox), the portico gradient is much darker and murkier on Safari:

<img width="1680" alt="Safari (left) vs Chrome (right)" src="https://user-images.githubusercontent.com/17259768/54937639-0978d500-4ee2-11e9-9c2b-330fc1276319.png">

This seems to be an issue with how the different platforms handle the `linear-gradient` function. Safari seems to be the in

[2019-03-25 16:42] skunkmb commented on #11985
@zulipbot claim

[2019-03-25 17:02] Harshagarwal19 commented on #11866
Still working on it

[2019-03-25 19:40] timabbott commented on #1718
@siepkes I agree that aspect of rabbitmq is annoying, but we've essentially solved it.  In particular, we configured rabbitmq to listen to `127.0.0.1` as the hostname in our default configuration, which makes it impossible for hostnames to change on rabbitmq.  And we haven't had issues with mnesia inconsistencies for new servers in the year or two since (we didn't force-migrate older servers, so t

[2019-03-25 19:45] timabbott commented on #11982
@winmasta did you try the solution recommended in #8760?  I can't tell if your server is new or not, but in any case, that certainly looks like the result of memcached (etc.) having been restarted without also restarting Zulip.

[2019-03-25 19:46] #11982 closed

[2019-03-25 20:13] timabbott commented on #11981
I think this issue may be fixed by the migration to the new scrollbar library in #11792, since the CSS that generates that gutter is being deleted there.

[2019-03-25 20:46] scholtzan commented on #11895
https://github.com/zulip/zulip/pull/11924

[2019-03-25 20:58] timabbott commented on #11966
OK, sounds good, thanks for the follow-up @MattMakiya!

[2019-03-25 20:58] #11966 closed

[2019-03-25 21:08] #11929 closed

[2019-03-25 21:27] freakystylie opened #11986 "Inefficient and illogical "mentions" when composing from mobile app"
We are on a three month trial implementation of Zulip, and have been receiving feedback from our field users who interact almost entirely on the mobile app. Part of our internal communication protocol is to @mention anyone who _needs_ to see the message.

On the mobile app, the process to mention is cumbersome, because it always involves going to another keyboard screen to get the "@". This might

[2019-03-25 22:12] #3731 closed

[2019-03-25 22:48] andersk opened #11987 "Invite link can become shoved below the bottom of the page on load"
Some combination of the top panel and the Group PMs list in the right sidebar can cause the Invite more users link to be shoved below the bottom of the page on initial page load. It goes back to the right place when resizing the browser.

![screencast](https://user-images.githubusercontent.com/26471/54959049-14992880-4f15-11e9-980f-46a6e56bcd84.gif)

[2019-03-25 22:51] timabbott commented on #2335
This issue is not great for folks who don't have significant experience, as it doesn't have a concrete set of next steps.  Removing a few labels.

[2019-03-25 23:25] #11985 closed

[2019-03-25 23:31] timabbott commented on #11980
@WesleyAC hmm, it seems to me like the right solution to this is the spoilers feature (#5802).  We only want to allow one "More" link in a message for UI reasonableness reasons, and I don't see a good mechanism for allowing that which wouldn't be confusing.

Further, auto-collapsing is currently dynamic depending on the client's screen size, and I think that collapsing behavior should be controlle

[2019-03-25 23:31] #11980 closed

[2019-03-25 23:31] timabbott commented on #5802
See #11980 for another request that basically wants this feature.

[2019-03-25 23:38] timabbott commented on #10351
Thanks for the investigation @sjuxax!  I think in our ideal world, Pillow would just fix the bug here, since I'm not super excited about adding additional dependencies just for animated GIFs.  Using thumbor or one if its dependencies is certainly an option as we already have that.

I suppose we could also just allow uploading raw animated GIFs more generally, and just warn users if the GIF is larg

[2019-03-26 01:37] rht commented on #1718
On a baseline system, which arguably is the most common setup for self-hosted systems of 5-10 users: while it is not the largest memory hog, rabbitmq memory use is still significant (https://github.com/zulip/zulip/pull/5224#issuecomment-306137198) relative to other processes.

[2019-03-26 02:36] winmasta commented on #11982
I made new install: ubuntu 18.02 + zulip 2.0.2 and now I can't register new organization. I created new invitation link and enter my email, on the second page I filled form but when I push REGISTER nothing happens. There is some errors in errors.log

[code]

[2019-03-26 02:55] winmasta commented on #11982
Yes I have tried to reboot machine for some times but it didn't help.

[2019-03-26 05:44] nurduman0210 commented on #11923
@zulipbot abandon

[2019-03-26 05:44] nurduman0210 commented on #11987
@zulipbot claim

[2019-03-26 09:59] fleytman commented on #5802
Please specify what exactly you want to change in the concept of spoilers?

[2019-03-26 11:31] aero31aero commented on #5802
Nothing changes for this, but the request for adding a breakpoint to work around the lack of spoiler syntac has been closed in favor of having the real thing.

[2019-03-26 15:39] 2208Abhinav opened #11990 "Disable "w" hotkey when settings dropdown menu is open."
Ideally the settings dropdown should close when we use "w" shortcut to search users.
![ezgif com-video-to-gif(4)](https://user-images.githubusercontent.com/30211121/55011147-7d62cc80-500b-11e9-8910-9ea6044b52e7.gif)

[2019-03-26 15:40] 2208Abhinav commented on #11990
@zulipbot claim

[2019-03-26 19:54] alistair-low commented on #11842
Hi Tim,

I'm a colleague of David's - I just started using Zulip and I'm really enjoying using topics in some very busy streams!

I have some feature requests around the "Private messages" widget, related to my workflow from other collaboration/chat applications. Typically, I receive private messages from 10-20 people per day, and often they have questions for me that require a bit of time to thin

[2019-03-26 21:13] Mentalone opened #11995 "Jira to Zulip stream integration"
We just integrated the webhook into a stream.  The idea is that any critical ticket that is created and commented on shows up in a "critical issues" Stream in Zulip.  Though we didn't specify topics, each ticket that is created shows up in the "critical issues" stream with a topic of the ticket number.  For now, this is fine.  But when people comment on the critical ticket, it shows up in a ":" to

[2019-03-27 00:41] mayankmadan commented on #5639
Is anyone working on this? If not, can I have a go at it?

[2019-03-27 00:58] rodrigc commented on #5639
@mayankmadan give it a go!

[2019-03-27 00:59] mayankmadan commented on #5639
@zulipbot claim

[2019-03-27 05:57] overide commented on #11916
@timabbott I would like to look into this. @zulipbot claim

[2019-03-27 05:59] vinitS101 commented on #11915
@zulipbot  still working on this

[2019-03-27 14:45] KirillKhrushkov commented on #11672
Hello!
Could you please say if there is a plan for solving this issue?
Zoom is a top vendor for video conferencing and it is really desired to have a possibility to use it inside Zulip. But now it's not possible since only one conference per time can be used. It doesn't work for at least several teams working in the same Zulip.

[2019-03-27 16:21] rishig commented on #7935
I feel this should be serialized after our "Contact us" page, or we should just add an Intercom-like thing to the page.

In the contact us version, clicking that button would just open /contact with a bunch of stuff pre-filled in.

[2019-03-27 16:32] Amadeo234 commented on #1727
From what I've seen in the code, there are methods (zerver/lib/timestamp.py) datetime_to_timestamp, which often takes msg.pub_date as an argument, and timestamp_to_datetime, which sometimes is used to set msg.pub_date. Should I rename pub_date to timestamp nonetheless?

[2019-03-27 18:34] punchagan commented on #5890
The scroll bars have been removed in b8e25677ef864c1628931e21115c366f7d73ca4a.

From the first screenshot, it looks like the second message ("decreasing the thickness...") is indented more than it should be.

I suspect it has something to do with inserting the message content using `message_block.html|safe`. This probably leaves behind some extra html open/close tags, and the browser does it's own

[2019-03-27 18:47] mohitm15 opened #11998 "Typo in the CODE_OF_CONDUCT.md"
**Describe the bug**

Typo in the CODE_OF_CONDUCT.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CODE_OF_CONDUCT.md'
2. Scroll down the file at subsection :
   * Expected Behaviour
   * Reporting and Enforcement
3. See error

**Additional context**

  I am working on it

[2019-03-28 11:27] tommyip opened #12000 "Audit & remove any assumptions that the frontend is JS only."
#11513 started to migrate our frontend to Typescript, but a lot of places in the codebase (and documentation) makes the assumption that it is Javascript only. For example in [`test-js-with-node#L119`](https://github.com/zulip/zulip/blob/master/tools/test-js-with-node#L119):
[code]

[2019-03-28 13:42] Amadeo234 commented on #1727
From what I've seen there are methods: datetime_to_timestamp converting pub_date to timestamp and timestamp_to_datetime converting timestamp to pub_date, so I wanted to make sure that you want renaming to timestamp or some other name.

[2019-03-28 14:06] mayankmadan commented on #5639
@rodrigc Is there somewhere(like IRC) that I can ask questions or are github comments fine?

[2019-03-28 15:58] Mentalone commented on #11995
This is how we have the webhook setup.

![image](https://user-images.githubusercontent.com/48458920/55172674-02e79900-5140-11e9-9864-4c908a4beec6.png)

[2019-03-28 16:55] Mentalone commented on #11995
Comments from non Critical issues are showing up in the ":" section.  It looks like all updates to all tickets are showing there vs just the comments on Critical.  The second issue, is that the critical updates, should nest in the appropriate topic.

[2019-03-28 17:30] skunkmb commented on #12000
@zulipbot claim

[2019-03-28 18:13] zuleger5656 commented on #11180
@zulipbot claim

[2019-03-28 21:27] clarammdantas commented on #8750
@timabbott I'm a bit confused about writing the test. For me, it makes more sense to write it in zerver/tests/test_event_queue.py because I want to check if the send_event call goes to um users and subscribers of the stream. I opened a PR [11972](https://github.com/zulip/zulip/pull/11972) could you take a look at that, please? I wrote part of the test on test_message.py as well

[2019-03-29 03:34] stone212 commented on #11905
@timabbott I am still unable to upgrade, original issue still happening  Is there any de-bugging I can do to help you fix this permissions error?

[2019-03-29 07:45] stone212 commented on #7330
@rishig @timabbott Tox is a free, ethical reasonably secure project supporting voice and video.  Recommend you evaluate as an option: https://tox.chat/  Also most clients allow sign-up from within the app so sign-up might be easier with Tox than others.

[2019-03-29 08:01] stone212 opened #12004 "Internal Server Error / No Listener on 128.0.0.1:9993"
Upgraded to Ubuntu 18.04 including default /etc/nginx/nginx.conf file.  Over-wrote that with https://github.com/zulip/zulip/blob/master/puppet/zulip/files/nginx/nginx.conf but this seems wrong.  Where is the correct zulip-default `nginx.conf` file I should use?

nginx provides this error message:

[code]

`netstat` reports nothing listening on port `9993`

[2019-03-29 08:07] stone212 opened #12005 "Zulip Server Does Not Start After Ubuntu Upgrade"
Today upgraded to Ubuntu 18.04.  Receiving this error:

[code]

Do I need to down-grade Python?  What version?  Searching for "python" "dependencies" etc on https://zulip.readthedocs.io/en/stable/production/install.html does not provide answer.

My system has Python 2.7.15rc1.  Do I need python3?

Possible cause of https://github.com/zulip/zulip/issues/12004

[2019-03-29 08:57] dasfreak opened #12006 "TypeError: query_ldap() got an unexpected keyword argument"
Hi there,

I just installed the latest zulip release (2.0.2) according to the documentation.
Zulip itself is up and running but I have difficulties with LDAP.

System: Linux XXX 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux

I am able to update user I added manually (via API):
[code]
However, if I use `query_ldap` it fails and complains about unexpected keywords:
[code]

He

[2019-03-29 09:09] stone212 opened #12007 "pkg_resources.DistributionNotFound: The 'supervisor==3.3.1' distribution was not found and is required by the application"
After upgrading to Ubuntu 18.04 Zulip gives `Internal Server Error` and `./restart-server` says:

[code]

dpkg says:

[code]

[2019-03-29 09:11] stone212 commented on #12004
closing because nginx was not the problem.  Python was. Zulip required manual installation of python3.5 and symlink for `/usr/bin/python3' not `/usr/bin/python`

[2019-03-29 09:11] #12004 closed

[2019-03-29 09:11] stone212 commented on #12005
Requires Python 3.5.  Not 3.6 that comes default with Ubuntu 18.04.

Also symlink `/usr/bin/python3` not only `/usr/bin/python`.

[2019-03-29 09:11] #12005 closed

[2019-03-29 09:27] danberindei opened #12008 "Paragraphs indented by 4 spaces are double escaped"
Paragraphs indented by 4 spaces are formatted as code, but html special characters are escaped, e.g.
[code]
is rendered as

[code]

This only happens when writing a new message. When editing a message, the indent is ignored and the paragraph is not formatted as code.

[2019-03-29 09:50] stone212 commented on #12007
The problem was I had made python3.5 the default python because zulip requires it.  But supervisord needed 2.x

[2019-03-29 09:50] #12007 closed

[2019-03-29 09:52] stone212 opened #12009 "Search (only) produces "Unable to connect to Zulip. Updates may be delayed. Retrying soon... Try now.""
Zulip is working and I connect with Electron app.  Can communicate with users.

When I try the search bar I get this error:

`Unable to connect to Zulip. Updates may be delayed. Retrying soon... Try now.`

Lasts a few seconds and does not cause other problems.

Could this be related to python?  Recently upgraded to Ubuntu 18.04 (python 3.6) and have had a difficult time with python libraries and v

[2019-03-29 15:53] thedeveloperr commented on #11584
@zulipbot claim
@timabbott PR is waiting for review but for some reason zulipbot is still unassigned me from this issue. I something wrong in my PR ?

[2019-03-29 18:39] mayankmadan commented on #5639
@rodrigc I have written the basic functionality so that buildbot will send a request when a new build starts or finishes. Now I'm writing the incoming webhook integration in zulip

[2019-03-29 19:30] clarammdantas commented on #6040
@zulipbot claim

[2019-03-30 02:50] mikegcoleman opened #12011 "Slack import fails with KeyError: 'url_private' due to 'hidden_by_limit'"
This bug is similar to #11619  except than the mode being 'tombstone' it's 'hidden_by_limit'.

My hypothesis is that we were using a community slack version which caps displayed messages at 10k, but they keep all the messages available so you can unlock them w/ a paid plan later.

[2019-03-30 08:20] stone212 opened #12012 "Flooded with traceback emails"
Recently upgraded from Ubuntu 16.04 to Ubuntu 18.04 and so many problems are popping up.  Here is one.  I get hundreds of traceback emails every day:

[code]

Python compatibility was a problem and I manually installed python 3.5 (in alt location of /usr/local/bin).  Some other issues.  Maybe they are all related?

https://github.com/zulip/zulip/issues/12009
https://github.com/zulip/zulip/issues/1

[2019-03-30 12:40] AsociTon commented on #11860
@zulipbot claim

[2019-03-30 15:41] SushantSingh115 opened #12014 "Getting login mail, but page is not redirecting"
I am trying to login in zulip by using the following code. I am using dev environment, set up by vagrant..

from django.conf import settings
from django.contrib.auth import login as mylogin

def rt_login(request,user):
    user=UserProfile.objects.filter(email=user)[0]
    user.backend=settings.AUTHENTICATION_BACKENDS[0]
    mylogin(request,user)
    return HttpResponseRedirect('http://localhost:9

[2019-03-30 16:20] matkaczmarek commented on #11923
@zulipbot claim

[2019-03-30 16:43] mikegcoleman commented on #12011
I changed line 734 in `zerver/data_import/slack.py` to

`for fileinfo in (f for f in files if ((f['mode'] != 'tombstone') and (f['mode'] != 'hidden_by_limit')):`

and that seemed to fix the problem.

Let me know if you need additional information.

[2019-03-30 17:30] sahil839 commented on #11494
I have submitted a PR for this issue.

[2019-03-30 18:02] sahil839 commented on #11524
I have already made a PR for review.

[2019-03-30 19:45] rodrigc commented on #5639
@mayankmadan When you get ready to test this out, there is a stream https://python.zulipchat.com/#narrow/stream/116693-workflow.2Fbot-deploys , maybe we can test sending buildbot notifications there.

The Python project uses buildbot ( https://buildbot.python.org ), and also uses Zulip ( https://python.zulipchat.com ).

Maybe @zware can help with testing this out, since he maintains the buildbots

[2019-03-30 19:47] mayankmadan commented on #5639
@rodrigc I have added a very basic Zulip reporter. Can you have a look at it? https://github.com/mayankmadan/buildbot/commit/bfcfb161b1db909990bb23bee3caa505e11f9674
I have also added a webhook integration in zulip for it. Will push the commit to my fork in a couple of hours. I tested it on my local server

[2019-03-31 00:13] timabbott commented on #12011
@mikegcoleman thanks for the report; that's probably all we need to address this.  I wish Slack didn't add new undocumented features to their data exports all the time :(.

[2019-03-31 00:17] clarammdantas commented on #8750
I got it! :)
PR is finished, just waiting for review and then I will fix my commits

[2019-03-31 05:51] sahil839 commented on #10553
@rishig If this feature is still required, I can start working on it.

[2019-03-31 06:36] YJDave commented on #6295
@xpac1985 Thanks for the report, the issue is fixed in #12021

[2019-03-31 07:28] whoodes commented on #11832
@zulipbot pending review.

[2019-03-31 17:04] rishig commented on #10553
Hi Sahil, I would stick to issues that have `help wanted` or `good first issue`.

[2019-03-31 23:03] Aasfga commented on #6581
@zulipbot claim

[2019-04-01 00:15] donShakespeare commented on #10970
I had assumed that guests could see nothing but their fellow users in a stream, but boy was I mistaken. Having rival clients in the same org is no bueno, especially when their usernames are attractively spelled out in the list (usually with company name), and their emails are accessible with a simple click.

While we wait for an implementation, I suggest to introduce a warning asap - something lik

[2019-04-01 06:17] sahil839 commented on #11629
@2208Abhinav can I claim this issue if you are not working on this?

[2019-04-01 07:05] Gautime commented on #10539
@timabbott  Do we need to change the `truncate_topic()` function in zerver/lib/actions.py asit is being called on the topic  (send_zulip )  in zerver/lib/email_mirror.py ? Will that do achieve the task? I am a new contributor here so please guide me.

[2019-04-01 10:49] 2208Abhinav commented on #11990
In this case it is better to disable "w" hotkey when settings dropdown is open. As discussed [here](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Settings.20dropdown.20doesn't.20close.2E)

[2019-04-01 11:11] 2208Abhinav commented on #11629
@sahil839 thanks for pinging me :) It's weird that I didn't get notification when Rishi mentioned me here. I am working on this issue.

[2019-04-01 11:11] 2208Abhinav commented on #11629
@zulipbot claim

[2019-04-01 11:16] 2208Abhinav commented on #11685
@zulipbot abandon

[2019-04-01 12:28] clarammdantas commented on #6040
I'm with a pending PR waiting for approval. Can I work on this issue before my other PR is merged?

[2019-04-01 16:36] profgrammer commented on #9157
@zulipbot claim

[2019-04-01 21:38] andersk commented on #10732
If you make the right scrollbar be the normal scrollbar on `<html>` (rather than the overflow scrollbar of a separate pane), and position the header and left sidebar using `position: fixed`, you won’t have any of those issues.

[2019-04-02 02:17] rht commented on #4817
For now, it is possible to use the script used by the Lean Prover community: https://github.com/leanprover-community/leanprover-community.github.io/blob/master/import.py. See https://leanprover-community.github.io/archive/116395maths/index.html for a live example.

[2019-04-02 10:27] clk-jkn opened #12030 "Can't upgrade from 1.8.1 to any other version"
Hello,
we currently have Zulip 1.8.1 running on an Ubuntu 16.04.6 LTS server. We wanted to upgrade to benefit from some new features but find we are unable to do so.

Environment:
-Zulip 1.8.1 running on Ubuntu 16.04.6 LTS, which is running on an ESXi 6.0 Hypervisor
-Every connection to Websites have to be made over a squid-Proxy

The upgrade via the command "/home/zulip/deployments/current/script

[2019-04-02 12:05] Hypro999 commented on #10903
This feature should be completed with PR #11992

[2019-04-02 13:58] wscott opened #12033 "Feature: add line numbers to code blocks"
I would like to have code blocks with line numbers.

I want to be able to add something to this:
[code]
To make it look something like this:
[code]
It would make it easier to talk about the source code snippet I pasted in a chat if I can refer to sections by line numbers.  I would be OK if line numbers where just included by defualt (or with a per-orginization setting). Or numbers could be request

[2019-04-02 15:35] ronso0 opened #12035 "don't show muted/unsubscribed streams in global search"
at mixxx.org we use Zulip. There we have a github relay stream which I muted as I don't need it.
Nevertheless, when I perform a search at the top level all those (muted) github messages popup. This clutters the results view.
Also, the Mute button on each (actually already muted) message header does nothing.

[2019-04-02 16:59] profgrammer commented on #9157
@zulipbot abandon

[2019-04-02 17:09] lukasIO commented on #12035
Hi,
from my experience as a zulip user, I would argue that "not needing it" is not everyone's reason for muting a stream.
For your specific usecase could it maybe be useful to unsubscribe from unwanted the stream?

[2019-04-02 17:23] profgrammer commented on #1286
@zulipbot claim

I'm new to the zulip community, please help me solve this issue! Thank you

[2019-04-02 18:16] whoodes commented on #11930
@zulipbot WIP

[2019-04-02 19:58] rishig opened #12036 "search: Explain that All Messages search only searches messages you've received."
A couple of people (including me) have been bitten by the somewhat confusing perf optimization we make which is:
* Searching without a stream narrow only searches messages you've received
* Searching with a stream narrow searches all messages from that stream, if it is public or private with shared history.

I think this can be solved by just explaining to the user what happened. E.g. when you sea

[2019-04-02 21:42] ronso0 commented on #12035
of, course, point taken.
also, your proposal to unsubscribe would be fine for me...if it would work:
even after logging out and back in, messages from the unsubscribed stream pop up in the search

[2019-04-02 22:01] donShakespeare opened #12037 "More Realm isolation with admin/server email and social authentication"
Scenario: one zulip server administering multiple realms on even distinct TLDs.
Said realms are not necessarily of same family, therefore need to be thoroughly isolated and may find it unprivate or untrustworthy or be spooked when things don't match up.

Oh, and it might be that all the dynamic email addresses point to the same admin

Suggested feature
[code]
In this way, this zulip settings cavea

[2019-04-02 23:29] donShakespeare commented on #10912
@timabbott right now, you can delete messages in a topic, that's awesome efficient.
But the Topic remains (unless I am mistaken).

![image](https://user-images.githubusercontent.com/5103329/55442652-6882bd80-5564-11e9-85e2-74497390efb0.png)

In my little image ^^^ I had the idea to nuke even the Topics with all their messages.
This of course is for the super admin who wants to clean things up and

[2019-04-02 23:35] timabbott commented on #12033
This behavior in our markdown processor is controlled by the `linenums` flag.  I'm not sure what the right model should be here for controlling whether or not to show line numbers.

[2019-04-02 23:40] rishig opened #12038 "user docs: Clicking on article in multiple sections breaks scrollbar."
To repro:
* Make your window not too tall
* Go to localhost:9991/help
* Click **Stream Management** in the left sidebar
* Click **Add or remove users from a stream**

And then try to scroll around the left sidebar.
Note that directly going to http://localhost:9991/help/add-or-remove-users-from-a-stream doesn't cause this broken behavior.

[2019-04-03 01:41] donShakespeare commented on #12037
Right now, we use a separate generic non zulip org domain for the admin email, something like
`ZULIP_ADMINISTRATOR = 'support@zulip_support.example.com' `

BTW, what is the legal limitations for us to use "zulip" in a domain name?

[2019-04-03 02:52] sahil839 commented on #12036
@zulipbot claim

[2019-04-03 02:59] synicalsyntax commented on #12038
@rishig Can't produce on FF Quantum on Mac, but something I've noticed about https://chat.zulip.org/help/add-or-remove-users-from-a-stream is that it's listed in the sidebar twice (once under Streams&Topics and again under Stream Management) and clicking on that link opens both sections; might be a contributor to the issue? Don't know if listing twice was a mistake.

[2019-04-03 03:00] rishig commented on #12038
ah yeah, should have said that this is on Chrome/Linux for me, and that almost definitely it's related to it appearing twice (it appearing twice is intentional)

[2019-04-03 06:34] cornjuliox commented on #10539
@zulipbot claim

[2019-04-03 07:02] cornjuliox commented on #10539
So if I'm understanding the spec for this correctly:

If the topic line length is greater than 60 characters, append the topic line to the beginning of the content?

Should I be appending the truncated topic line? Or the full topic line?

[2019-04-03 09:20] BartekJachowicz commented on #11834
@zulipbot claim

[2019-04-03 09:23] tinyblob opened #12042 ""Minimum account age" stream creation setting also affects stream invitations"
Adding a "minimum account age" value to the "All admins, and members with accounts at least N days old" choice in the "Who can create streams" setting also prevents users inviting others to streams they are members of.
According to discussion in the official Zulip chat this seems to be an unintended side effect. Options were suggested [here](https://chat.zulip.org/#narrow/stream/137-feedback/topic

[2019-04-03 14:10] harry-hov commented on #7549
Almost completed work from my side, now need review on #11969

[2019-04-03 15:55] Raghavareddy21 opened #12045 "left sidebar: global_filters must open even if we click beside the text."
When we click on the All messages we will get the output even if we click beside the text, but that is not the case with the others. We must be able to open them even if we click them beside the text.

[2019-04-03 16:55] sahil839 commented on #12036
@rishig does without stream narrow shows the messages that were sent after we joint zulip?

[2019-04-03 17:41] showell opened #12048 "presence: Remove two-week limitations for last online date."
This is a somewhat advanced issue, so it should be taken by somebody who know both the backend and has familiarity with our three major clients.  We currently limit our presence queries to two weeks, going back to a performance fix that we id in 2017:

3a332aee0b23786f15101876d97821e09d19497c

We'll need to get final signoff from Tim on how to re-introduce data for dormant users, in a way that doe

[2019-04-03 17:46] rishig commented on #12036
yeah

[2019-04-03 18:48] neiljp opened #12049 "Reactions API: Improve consistency/simplicity of user information encoding"
While developing zulip-terminal, we noticed two different forms of reactions data being sent:
* events have a `user` dict with a `user_id` entry (and others)
* messages have a `user` dict with an `id` entry

This was reported as issue zulip/zulip-terminal#334.

I initially suggested simply migrating to add `id` in the event. However, to satisfy a long-term goal of reducing user info and bandwidth

[2019-04-03 18:54] sahil839 commented on #12036
I think that it is not showing such behaviour:
It shows me messages of 2nd November while I joint zulip on 9th Nov.
![Screenshot (62)](https://user-images.githubusercontent.com/35494118/55504985-b1736880-566f-11e9-9bf8-5c919002b5e8.png)
![Screenshot (64)](https://user-images.githubusercontent.com/35494118/55505041-d23bbe00-566f-11e9-9ca1-d8beed974560.png)

[2019-04-03 19:17] rishig commented on #12036
Good catch! Continuing conversation in https://chat.zulip.org/#narrow/stream/137-feedback/topic/Searching.
Let's change the text to
"This search may not exclude some messages you have access to, such as messages sent to public streams before you joined the stream. [Learn more]"

and then we can write a /help doc with the full explanation. Thanks!

[2019-04-03 20:40] grahamegrieve opened #12050 "Allow to search users by email domain"
it would be good to be able to find users by their email address domain.

See https://chat.zulip.org/#narrow/stream/101-design/topic/Search.20by.20email.20domain

[2019-04-03 21:02] lukasIO commented on #12035
Hm, strange, for me it works. I dont see any content from unsubscribed streams in my search results afaict.

[2019-04-03 21:20] vinitS101 commented on #1413
@zulipbot claim

[2019-04-03 21:39] vinitS101 commented on #1413
@zulipbot abandon

[2019-04-04 05:43] Hypro999 commented on #10903
For now it's been implemented much like any other webhook (zulip-writer).

[2019-04-04 06:01] Hypro999 commented on #10903
@timabbott Would we say that this issue can be closed or is there something else that we should implement (Like maybe [#10907](https://github.com/zulip/zulip/issues/10907)) before we can call the case closed?

[2019-04-04 08:41] whoodes opened #12052 "status_message: Align button-height with input field"
The save button's height is currently a little taller than the input field in the status message modal.  Lining these up--as well as a slight width reduction of the button--would be a simple improvement on aesthetics.

<img width="375" alt="Screen Shot 2019-04-03 at 10 40 51 PM" src="https://user-images.githubusercontent.com/39782863/55541863-8d108f80-5661-11e9-9881-76ec0094374e.png">

[2019-04-04 09:15] ronso0 commented on #12035
fiw: unsubscribed content still showing up after restart and cleaning firefox cache.

[2019-04-04 11:57] cb0n3y opened #12054 "After 2.0.2 upgrade..."
I cannot edit my messages on zulip app. Can you help me please?

[2019-04-04 16:46] kfogel commented on #10216
If I get a chance, I'll instrument it.  I'm very cautious about playing around with our production Zulip instance, though, so no promises :-/.

[2019-04-04 17:12] ronso0 commented on #12035
btw this happens in the android app as well

[2019-04-04 17:28] sjuxax opened #12056 "HTML entities are decoded in code blocks"
Typing `&zwnj;` in a message box will be decoded into a zero-width non-joiner, even if fenced by either single or triple backticks. To type `&zwj;` without interpretation, we have to HTML-ize the ampersand like `&amp;zwj;`.

Most users would not expect HTML entities to be decoded directly from the message box. This should probably be fixed.

![image](https://user-images.githubusercontent.com/78644

[2019-04-04 17:33] paras112 commented on #5142
I am working on this issue my pull request is in python-zulip-api repository.
(https://github.com/zulip/python-zulip-api/pull/509)

[2019-04-04 17:44] sjuxax commented on #12012
It looks like the functions you're missing are part of a Zulip extension to PgSQL. https://github.com/zulip/tsearch_extras. Maybe the migrations didn't run all the way, or maybe you're missing the requisite libraries to build and install this extension.

[2019-04-04 17:53] timabbott commented on #12056
This is likely an artifact of using markdown as the basis of our message formatting; the same applies with `&nbsp;`.  I'm not sure whether it makes sense to change this behavior; some investigation is required.

[2019-04-04 17:57] timabbott commented on #12035
The way Zulip's search works is that it searches the history of messages you received, not the history of your current subscriptions.  So content you received while you subscribed does and should remain in your searchable history, as there are legitimate use cases for that behavior.  Unsubscribing prevents new messages from being added to your history, and does not remove older messages from your

[2019-04-04 17:57] #12035 closed

[2019-04-04 18:03] timabbott commented on #12012
@stone212 this looks like a consequence of upgrading postgres without installing the tsearch-extras package for that version of postgres.  A success `zulip-puppet-apply` after the upgrade will install that package automatically.

[2019-04-04 18:03] #12012 closed

[2019-04-04 18:03] timabbott commented on #12009
The issue here is that you need to instead the `postgresql-10-tsearch-extras` package; more discussion on how this should happen automatically in #12012.

[2019-04-04 18:03] #12009 closed

[2019-04-04 18:06] timabbott commented on #12006
@HarshitOnGitHub can you help investigate?  This seems like some sort of weird bug wherein `manage.py query_ldap(**options)` is ending up passing the Django-default options like `--no-color` to the function, which we definitely don't want.

[2019-04-04 18:08] timabbott commented on #12005
Just to correct the statement above, Zulip expects to use the version of Python as on the system, however, you need to rebuild the Zulip virtualenv after changing that in (which was the source of the confusion that Zulip requires Python 3.5).  This is an issue caused by doing a do-release-upgrade from 16.04 to 18.04 without appropriately updating the Zulip virtualenv.

I'm going to prioritize addi

[2019-04-04 18:12] sjuxax commented on #12056
Hi @timabbott , I'm not sure why this would be considered a normal behavior of Markdown. [The spec](https://daringfireball.net/projects/markdown/syntax#precode) seems to indicate that at least within fenced blocks, characters represented by HTML entities should be transparently converted before display.

Quoting:
[code]

Furthermore, as far as I'm aware, it'd typically be considered a failure of i

[2019-04-04 18:14] timabbott commented on #12037
@donShakespeare thanks for the suggestions.  I don't think we're likely to add customization settings like this in the near future, as they might require a significant fork to python-social-auth.  I think a generic email address for the server administrators should work well for most applications, but if you have details on a specific situation where you need these, I'd be curious to hear about it

[2019-04-04 18:29] timabbott commented on #12030
@clk-jkn the first issue is definitely a proxy/networking issue, glad you were able to figure that out.  Does this `prev` error happen reproducibly if you try multiple times?

The issue with `prev` I've never seen before, and I'm puzzled by, because I don't think the tool in question has an identifier called `prev`.

@andersk do you have any idea what could cause this or how to debug further?

[2019-04-04 18:32] #11811 closed

[2019-04-04 20:08] andersk commented on #12056
There are clearly bugs here. The Markdown

    `&lt;`

[code]

        &lt;

which should be rendered as

`&lt;`

[code]

    &lt;

is instead rendered by Zulip as

`<`

[code]

    &amp;lt;

[2019-04-04 20:11] clarammdantas commented on #5273
@zulipbot claim

I'm with a pending PR waiting to be merged, so I would like to work on this meanwhile :)

[2019-04-04 20:42] #12006 closed

[2019-04-04 20:54] timabbott opened #12058 "Upgrade to latest mypy: big performance improvement"
See the release notes:

http://mypy-lang.blogspot.com/2019/04/mypy-0700-released-up-to-4x-faster.html

@neiljp FYI

[2019-04-04 20:55] andersk opened #12059 "Zulip Markdown needs a coherent specification"
I’m pretty sure nobody has a clear understanding of what Zulip Markdown really means at the moment, much less how to specify it. All we have is a Python implementation and a JavaScript implementation, both of which were hacked together out of old versions of questionable libraries that predate CommonMark (granted, all Markdown libraries were questionable at the time), and which seem to disagree wi

[2019-04-04 21:08] mayankmadan commented on #6018
https://github.com/zulip/zulip/pull/11893

[2019-04-04 23:15] AsociTon commented on #12059
One of the intentional difference is while most of the markdowns use single spacing before bullet list indentation, zulip uses two spaces to indicate sub items in the list.
ex.
[code]

[2019-04-04 23:51] #11944 closed

[2019-04-04 23:54] #10036 closed

[2019-04-04 23:55] timabbott commented on #10903
Yes, this was finished by #11992 and we can close.

I do think we should work on #10907, for improving this integration and other issues, but we now have an integration and so this issue can be closed.

I'd love feedback from the various users who posted on this thread; you can use `upgrade-zulip-from-git` to get the latest master including this new integration.

[2019-04-04 23:55] #10903 closed

[2019-04-05 00:03] timabbott commented on #10912
Deleting all messages in a topic removes the topic (there is not independent data structure for a topic, it's just a string field on a message).  If you're seeing something different, it's likely a UI live-update bug in the client.

[2019-04-05 00:45] sunrez opened #12063 "[Feature Request]: Reduce base RAM usage"
Hi,

I have a Zulip server with 2-4 users at any given time.  We love the threaded conversations & channels but the RAM usage of a basic Zulip server hovers right around 2.77GB.  Idle CPU utilization seems reasonable (< 1%, Load average: 0.08, 0.06, 0.07).

In comparison a similar Mattermost server is < 500 MB, realistically 300 MB of RAM, same machine.

Can you guys work to close this gap?

[2019-04-05 05:50] stone212 commented on #12012
@timabbott

`zulip-puppet-apply` fails with this error:

`E: Unable to locate package postgresql-10-tsearch-extras`

Also that package does not exist: https://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=postgresql-10-tsearch-extras&searchon=names
Okay but `zulip-puppet-apply

[2019-04-05 05:57] stone212 opened #12064 "zulip-puppet-apply fails after upgrade to Ubuntu 18.04"
Upgraded zulip server from Ubuntu 16.04 to Ubuntu 18.04.

Postgres updated

Running `zulip-puppet-apply` fails like this:

[code]

[2019-04-05 05:57] stone212 commented on #12009
@timabbott Thank you although that solution failed it is a new Issue I posted here: https://github.com/zulip/zulip/issues/12064

[2019-04-05 06:00] stone212 commented on #12005
@timabbott I appreciate you making this distinction and I accept it is probably accurate..  But you still did not link to any documents that explain what this means: "you need to rebuild the Zulip virtualenv after changing that"

I am very supportive of this.  But how about linking me to the documentation that exists at this moment please?

[2019-04-05 06:07] whoodes commented on #12052
Closing this in favor of #11629.

[2019-04-05 06:07] #12052 closed

[2019-04-05 06:23] ronso0 commented on #12035
thanks @timabbott for the clarification! Wish I had known this a few months earlier..
Guess I'll have to use `-stream:github -stream:launchpad" for every search. Not very handy but it works

[2019-04-05 07:17] stone212 commented on #12064
Okay this was dumb.  Upgrading to Ubuntu 18.04 commented out the zulip repos.  Now this installs and runs.  I have other problems but those are different.

[2019-04-05 07:17] #12064 closed

[2019-04-05 07:28] stone212 opened #12065 "restart-server fails due to virtualenv python versions"
@timabbott I am getting very close to a working installation.

I restored pythony3 --> python3.6 symlink and `zulip-puppet-apply` now runs without error:

[code]

The problem is that when I `restart-server` I get a virtualenv error and I think it is because the virtualenv is set for python 3.5:

[code]

So I think the question is: what is the correct way to upgrade this virtual environment to pyth

[2019-04-05 08:03] YashRE42 commented on #8859
@zulipbot claim

[2019-04-05 08:07] stone212 commented on #11905
@timabbott I am still hoping for feedback on this error.

[2019-04-05 08:08] stone212 opened #12066 "upgrade-zulip-from-git master fails with permissions errors"
Upgrade fails like this (maybe related to https://github.com/zulip/zulip/issues/11905)?:

root@zulip:/home/zulip/deployments/current# ./scripts/upgrade-zulip-from-git master
2019-04-05 08:05:30,690 upgrade-zulip-from-git: Fetching the latest commits
error: cannot lock ref 'refs/pull/11609/merge': Unable to create '/srv/zulip.git/./refs/pull/11609/merge.lock': Permission denied
error: cannot lock r

[2019-04-05 08:13] YashRE42 commented on #8859
@timabbott
Pinging you because I just wanted to make sure that this is something that we'd want to solve right now before I dive in too deep here.

[2019-04-05 09:41] clk-jkn commented on #12030
It does happen reproducibly. Even with different versions. We tried upgrading to 1.9.0 because we thought the error might be related to the jump from 1.8.1 to 2.0.2, but even then it failed with the same exact error.
I looked into the script but I am no programer and couldn't find anything obvious with my limited python knowledge. Which is why I asked for help here. I just can't seem to figure thi

[2019-04-05 14:55] jasonaowen opened #12067 "Narrowing to re-subscribed stream scrolls to last subscribed message"
I recently rejoined a stream that I had left a few years ago, and now every time I narrow to the stream it scrolls me back to the last message sent before I unsubscribed.

I've tried scrolling to the most recent message (by pressing the `End` key and by going through all the messages with the `j` key), and I've tried using the stream drop-down option `Mark all messages in <stream> as read`, but th

[2019-04-05 17:12] speerwil commented on #3564
@rishig or @timabbott when looking through this issue I am unsure if it is completed. It seems that @techac may have completed this in issue #10066.

Thanks,
Will

[2019-04-05 19:56] timabbott commented on #12065
This is the command that creates the virtualenv:
`/home/zulip/deployments/current/scripts/setup/create-production-venv /home/zulip/deployments/current`

I think its caching strategy may not be smart enough to handle a change in the Python version on the system; I'm going to look into that.  But assuming it isn't, you'll want to `rm -rf /srv/zulip-venv-cache` before running the above (and it'll tak

[2019-04-05 20:01] timabbott commented on #12035
Well, presumably you'll only need to do that as long as you have a lot of recent muted traffic on those streams with content overlapping your search terms.

[2019-04-05 20:01] neiljp commented on #12058
@zulipbot claim

[2019-04-05 20:34] mayankmadan commented on #5639
I was also wondering if previous build status can be a useful bit of information to send

[2019-04-05 22:11] timabbott commented on #12066
I've never seen this before; it seems likely caused by something writing to that Git repository as root, preventing the `zulip` user from writing there in future runs.  I suspect `rm -rf /srv/zulip.git` will resolve the issue for you.

[2019-04-05 22:12] timabbott commented on #11905
@stone212 try resolving #12066 first.  I think `chown -R zulip:zulip /home/zulip/` should be all you need to address this, assuming you're upgrading to master.

[2019-04-05 22:13] vinitS101 commented on #11866
@Harshagarwal19 are you still working on this issue?

[2019-04-05 22:13] timabbott commented on #8859
@YashRE42 I would start with doing a simpler search backend issue before working on this -- I expect this one will be relatively difficult.

[2019-04-05 22:45] timabbott commented on #12063
@sunrez this is a difficult problem, because the root issue is that Django Python processes consume a few hundred megabytes of RAM, and for reliability/debuggability reasons we run several Python processes.  We have done some optimizations to run some services multithreaded on systems with a small amount of RAM which allows Zulip to run on systems with under 2GB of RAM, and could probably save ano

[2019-04-05 22:52] #3564 closed

[2019-04-05 22:53] timabbott commented on #11866
@vinitS101 I would generally assume not for an issue of this complexity with no PR or commits appearing.

[2019-04-05 22:54] vinitS101 commented on #11866
@timabbott I'll claim this then.

@zulipbot claim

[2019-04-05 23:49] timabbott commented on #10539
I think including the full email subject line is probably clearer.

[2019-04-05 23:52] timabbott commented on #12030
Can you provide the content of `/var/log/zulip/upgrade.log`?  It might have details that help investigate this.

[2019-04-05 23:59] mmarroqu commented on #12038
@zulipbot claim

[2019-04-06 00:07] #8750 closed

[2019-04-06 00:20] timabbott commented on #5263
Closing this since it's pretty obsolete following the CircleCI migration of our automated testing docs.

[2019-04-06 00:20] #5263 closed

[2019-04-06 00:32] #11608 closed

[2019-04-06 00:38] andersk commented on #12030
The `NameError` is complaining about the `prev` variable in `activate_this.py`. Some versions of `activate_this.py` do use `prev`, but they also define it as expected, so the `NameError` is strange indeed. Can you paste in the contents of `/home/zulip/deployments/2019-04-02-12-21-11/zulip-py3-venv/bin/activate_this.py`?

[2019-04-06 03:32] stone212 commented on #12065
@timabbott

/home/zulip/deployments/current/scripts/setup/create-production-venv /home/zulip/deployments/current

That command is not on the system (remember that I have not been able to upgrade for weeks https://github.com/zulip/zulip/issues/11905):

[code]

But `/home/zulip/deployments/current/scripts/lib/create-production-venv` does exist.  Should I run

`/home/zulip/deployments/current/scripts

[2019-04-06 03:40] stone212 commented on #12066
@Timabbott

Yes, that's what https://github.com/zulip/zulip/issues/11905 is about, right?  Permissions.I'm closing this and moving to that Issue.

[2019-04-06 03:40] #12066 closed

[2019-04-06 03:43] stone212 commented on #11905
@timabbott

Upgrade successful after removing `/srv/zulip.git` and `/srv/zulip-venv-cache`.  I wonder why this was necessary but I am happy it was successful.

[2019-04-06 03:43] #11905 closed

[2019-04-06 04:03] stone212 opened #12069 "Can Not Restart Server - ModuleNotFoundError: No module named 'django'"
@timabbott

I ran `upgrade-zulip-from-git master` like discussed in https://github.com/zulip/zulip/issues/12066 I also ran `/home/zulip/deployments/current/scripts/lib/create-production-venv /home/zulip/deployments/current` and it looked successful from https://github.com/zulip/zulip/issues/12065.

Now `restart-server` fails like this:

[code]

I see that django module is not found.  I understand

[2019-04-06 04:07] stone212 commented on #12065
@timabbott Okay I took a chance and did this.  I'm not sure it was a good idea though.

It seemed to run well:

[code]

Now I can not `restart-server` so this continues in https://github.com/zulip/zulip/issues/12069

[2019-04-06 04:24] stone212 commented on #12065
@timabbott Okay an update.  I notice that these symlink are bad in `/home/zulip/deployments/current/`:

[code]

Yes running `/home/zulip/deployments/current/scripts/lib/create-production-venv /home/zulip/deployments/current` created a new `srv/zulip-venv-cache` but the symlinks above were not changed, so the `4cfed786731bb9f2347553f7edb35ee4667b71cb` refers to an older environment.

I manually del

[2019-04-06 04:24] #12065 closed

[2019-04-06 04:25] #12069 closed

[2019-04-06 04:53] stone212 commented on #12009
@timabbott This issue is still present.  From `/var/log/zulip/error.log`

[code]

`postgresql-10-tsearch-extras` is installed:

[code]

Because of all of the work done I wonder if a re-boot is necessary?  I have already run `restart-server` but I am afraid to re-boot.

[2019-04-06 05:08] stone212 commented on #12012
@timabbott

You said

But I still have this issue after installing that package, and also after running `zulip-puppet-apply`:

[code]

The error is different from original.  At least one traceback looks like this:

[code]

[2019-04-06 05:12] stone212 commented on #12012
Related to https://github.com/zulip/zulip/issues/12009?

[2019-04-06 06:11] neiljp commented on #12058
This upgrade is a little more challenging than some, so far:
* A straight upgrade to 0.700 crashes mypy (and so does 0.670)
* 0.660 is fine

I've worked out the issues with 0.670 (and the crash) but there are now a few regular typing issues to resolve to get 0.700 updated.

I assume we'll want the compiled version by default?

[2019-04-06 06:58] mohitm15 commented on #11998
So @timabbott sir ,should I open a PR for this change [8c0cd1b](https://github.com/zulip/zulip/commit/8c0cd1b6d4644902ae6d9edc529ebcc3292acc3a) only

[2019-04-06 07:25] thedeveloperr commented on #9395
@zulipbot claim

[2019-04-06 07:28] thedeveloperr commented on #10385
@zulipbot claim

[2019-04-06 13:54] daschuer opened #12071 "Launchpad https://launchpad.net/ integration"
At https://mixxx.zulipchat.com/ we use Launchpad as bug tracker and release management system. Notification mails are send to a Zulip stream using the Launchpad email Notification to a Zulip email hook.

Unfortunately the important link to the bug is not shown in the Zulip stream.

A Launchpad mail look like this, the part under the -- is omitted.
[code]

[2019-04-06 14:39] vinitS101 commented on #11954
@zulipbot claim

[2019-04-06 14:51] vinitS101 commented on #11954
@zulipbot abandon

Just found #12070. My bad. :)

[2019-04-06 15:04] cmorph1 commented on #11662
@zulipbot does this still need working on?

[2019-04-06 15:33] clarammdantas commented on #5273
@zulipbot claim

[2019-04-06 16:39] vinitS101 commented on #11631
@zulipbot claim

[2019-04-06 17:27] jdimaria3 commented on #9610
@zulipbot claim

[2019-04-06 18:14] jdimaria3 commented on #10732
@zulipbot claim

[2019-04-06 19:46] timabbott commented on #12009
@stone212 hmm, it's possible that the way you upgraded the database lost the postgres extension installation.  Try doing `CREATE EXTENSION tsearch_extras SCHEMA zulip` in the postgres shell after as the `postgres` user running `psql zulip`; I believe that's what creates those functions.  In theory that state should have been ported over when you migrated the database, but depending on how you did

[2019-04-06 19:51] timabbott commented on #12065
There's a separate issue for documenting the overall `do-release-upgrade` process, which I expect we'll test thoroughly from a clean state and thus will cover these details.

[2019-04-06 21:56] vineetj23 commented on #11662
@zulipbot claim

[2019-04-06 22:23] vbomdica3 commented on #6040
Does this issue still need work?

[2019-04-06 22:23] vbomdica3 commented on #4676
Does this issue still need work?

[2019-04-06 22:28] cmorph1 commented on #11662
vineetj23? are you messaging me? No problem if someone has already claimed it.

[2019-04-06 22:50] vbomdica3 commented on #2746
@zulipbot claim

[2019-04-07 04:51] stone212 commented on #12009
@timabbott Okay I did this:

[code]

But I still get the error when I try the search feature in Zulip.  But the immediate traceback error is different.  Here is the new one:

[code]

[2019-04-07 05:50] stone212 opened #12074 "zulip-thumbor error"
@timabbott

I noticed this error when running `restart-server`.  I don't know if it is tied to https://github.com/zulip/zulip/issues/12009 but that issue is the only noticeable problem we still have with the recent tickets so it is possible?

[code]

[2019-04-07 07:45] profgrammer commented on #1286
@zulipbot abandon

[2019-04-07 10:30] aero31aero commented on #12059
I feel that the best way to have a 'specification' here would be to contain something similar to `markdown_test_cases.json` which we use to generate a table like:

| plaintext | commanmrk and zulip agree | commonmark | zulip |
| --- | --- | --- | --- |
| Hi | True | <p>Hi</p> | <p>Hi</p> |
| Hi | True | <p>Hi</p> | <p>Hi</p> |
| # Hi | False | <h1>Hi</h1> | <p># Hi</p> |

Something like this can b

[2019-04-07 12:16] xiaomingplus opened #12077 "The bot does not have permission to read the image sent by the user"
How to deal it?

I want write a bot to handle image and response a pic to user.

[2019-04-07 17:00] overide commented on #11711
@zulipbot  Waiting for PR review!

[2019-04-07 17:45] nomolos commented on #11453
@zulipbot claim (Looking to get my first contribution in here)

[2019-04-07 17:48] nomolos commented on #6126
@zulipbot claim (unless @abhigyank finished/is still working on it)

[2019-04-07 17:51] pppreethi commented on #10539
@cornjuliox Are you still working on this or would you mind if I took a shot at it?

[2019-04-07 17:57] pppreethi commented on #8144
@zulipbot claim

[2019-04-07 18:04] pppreethi commented on #6512
@zulipbot claim

[2019-04-07 18:13] pppreethi commented on #6512
@zulipbot abandon

[2019-04-07 18:14] pppreethi commented on #4685
@zulipbot claim

[2019-04-07 18:44] alicewu8 commented on #1736
@zulipbot claim

[2019-04-07 19:05] Amadeo234 commented on #1727
I'll do PR in a few days

[2019-04-07 20:03] nomolos commented on #6342
@zulipbot claim (or can I?)

[2019-04-07 20:05] speerwil commented on #7549
@zulipbot claim

[2019-04-07 20:11] nomolos commented on #2994
@zulipbot claim

[2019-04-07 21:45] jgalp commented on #12050
Is this a valid issue and is anyone working on it? I am a student at the University of Michigan looking to contribute to an open source project for my upper-level software engineering class.

[2019-04-07 22:08] ss62171 commented on #11901
@zulipbot claim

[2019-04-07 22:47] kskonanur commented on #11685
@zulipbot claim

[2019-04-07 22:47] kskonanur commented on #11516
@zulipbot claim

[2019-04-07 22:57] kskonanur commented on #9612
@zulipbot claim

[2019-04-08 01:43] NealMatta commented on #4240
@YashRE42 I reviewed your Pull request and it seems as you have completed this issue. Is it safe to assume that you will be closing this issue in the near future or are there any components that you need help with?

[2019-04-08 01:48] NealMatta commented on #12050
@zulipbot claim

[2019-04-08 01:50] lopezayl commented on #12050
Hello! My name is Aylin. I'm interested in helping with this task, but there are no labels. Will labels be added to this task? As a newcomer, I'd like to follow the community guidelines and try an issue labeled "good first issue" and "help wanted". I have experience working in Python using django and regex and am always eager to learn more. Let me know if I can help with this issue or should keep

[2019-04-08 01:59] NealMatta commented on #12050
Hi @grahamegrieve I am also interested in this problem. I have used Python and Django in the past and if you deem this a "good first issue" I would love to help out.

[2019-04-08 02:01] 24khxn commented on #4676
@zulipbot claim

[2019-04-08 02:13] lopezayl commented on #6512
@zulipbot claim

[2019-04-08 03:35] NealMatta commented on #3713
@aedorado I took a look at your pull request and it seems like this has been completed. Is it safe to assume that this issue is closed? Otherwise, @zulipbot claim

[2019-04-08 04:33] vineetj23 commented on #6040
@zulipbot claim

[2019-04-08 05:30] timabbott commented on #12009
So, the function `ts_match_locs_array` is a function in that postgres extension.  I don't think I'll be able to debug this further without doing some live debugging work.  I will try to find time tomorrow to do a test upgrade of 16.04 to 18.04 to see if I can reproduce and if so, debug.

[2019-04-08 05:37] timabbott commented on #12000
Cool, yeah, we should also look at our linter tooling.

[2019-04-08 06:49] stone212 commented on #12009
@Timabbott

Okay but do I have to create the function manually after I create the extension manually?  From my text above did I create the extension correctly?

[2019-04-08 06:50] clk-jkn commented on #12030
Sure, no Problem.

Contents of activate_this.py:
`"""Activate virtualenv for current interpreter:

Use exec(open(this_file).read(), {'__file__': this_file}).

This can be used when you must use an existing Python interpreter, not the virtualenv bin/python.
"""
import os
import site
import sys

try:
    __file__
except NameError:
    raise AssertionError("You must use exec(open(this_file).read(), {

[2019-04-08 07:44] whoodes commented on #11930
@zulipbot claim

[2019-04-08 10:46] nurduman0210 commented on #11987
@zulipbot I am working on this issue

[2019-04-08 10:48] Raghavareddy21 commented on #8144
@pppreethi this issue is mostly solved, only 1 more commit is left to be merged.

[2019-04-08 12:58] YashRE42 commented on #10409
@rishig I started work on this issue, I sent a WIP to validate how I'd approach this:
This is what I've gotten done so far:
![image](https://user-images.githubusercontent.com/33805964/55714698-bb4ef000-5a10-11e9-8918-c77c7c71388e.png)
![image](https://user-images.githubusercontent.com/33805964/55714855-108b0180-5a11-11e9-9a28-942205109f10.png)

But I have questions about what exactly is desired he

[2019-04-08 13:15] AsociTon commented on #12008
@zulipbot add "bug"
@zulipbot add "area: markdown"

[2019-04-08 13:17] AsociTon commented on #12008
Tested it, and our frontend markdown produces the expected output, the error seems to be from the backend parser.

[2019-04-08 13:51] AsociTon commented on #10135
@zulipbot claim

[2019-04-08 16:25] Hypro999 commented on #11995
@Mentalone I tried to see if I could replicate this issue, but I haven't been able to.

**Webhook configuration:**
![webhookconf](https://user-images.githubusercontent.com/29123352/55740163-2831ac80-5a48-11e9-9d60-f0440599b15b.png)

**Sending the generated fixtures to a zulip instance:**
![interface](https://user-images.githubusercontent.com/29123352/55740194-3384d800-5a48-11e9-8671-4fefd04bc4b1.p

[2019-04-08 16:43] pppreethi commented on #8144
Thanks for the update! Good luck!!

[2019-04-08 18:17] ayushah commented on #11516
@zulipbot claim

[2019-04-08 18:58] davidtwco commented on #12042
@zulipbot claim

[2019-04-08 19:01] davidtwco commented on #12042
I have a local branch that stops the "Who can create streams" setting from influencing who can invite users to streams, and adds a new "Who can invite to streams" setting that handles this. I intend to open a pull request with this later today.

[2019-04-08 21:00] andersk commented on #12059
That might be a start, although I would rather see a specification delta like

* The [ATX heading](https://spec.commonmark.org/0.29/#atx-headings) and [setext heading](https://spec.commonmark.org/0.29/#setext-headings) features of CommonMark are disabled in Zulip Markdown, because headings were found to be disruptive (?).

(This is just an example—I don’t know whether that was actually found, or w

[2019-04-08 21:02] jacktigg commented on #3220
@zulipbot claim

[2019-04-08 21:44] NealMatta commented on #10550
@rishig Are you still looking for a fix to this?

[2019-04-08 21:51] NealMatta commented on #9486
@rishig Is this still relevant to this date?

[2019-04-08 23:05] coreybic commented on #3865
@zulip claim

[2019-04-08 23:36] timabbott commented on #12059
I have a pretty clear understanding of what changes we've made that are intentional.  There may be other variations that result from quirks of the python-markdown implementation.  I am aware of zero instances where we have intentionally modified the `marked.js` implementation behavior for something without also modifying the `python-markdown` behavior in the same way, so I don't think it's importa

[2019-04-08 23:41] rishig commented on #9486
The bug is still there, even though we removed "Status messages" from the left sidebar. You can go directly to https://chat.zulip.org/help/format-your-message-using-markdown#status-messages to see it (though currently there seem to be other scroll position bugs obscuring this one ..)

[2019-04-08 23:52] NealMatta commented on #9486
I see. So would there be a way to recreate this bug or would it be better to tackle the other scroll position bugs before attempting to fix this one?

[2019-04-08 23:54] YashRE42 commented on #8201
@zulipbot claim

[2019-04-08 23:57] timabbott commented on #11995
@Mentalone what version of Jira are you using?

[2019-04-09 00:00] timabbott commented on #12008
I wonder if this is an upstream bug in python-markdown's code block behavior.  I suppose it could be an order-of-operations issue with our HTML escaping logic?

[2019-04-09 00:02] timabbott commented on #12071
Does Launchpad have an outgoing webhook API we can use?  I'm not that excited about building a custom email parsing integration.

[2019-04-09 00:03] timabbott commented on #12071
(I suppose we could offer an email address option to not hide signatures in our email integration).  @mateuszmandera FYI; I don't think we're ready to work on something here, but figured I'd get you subscribed in case we do end up wanting to change the email mirror.

[2019-04-09 00:08] rishig commented on #9486
Probably will have to tackle the other scroll position bugs first.

[2019-04-09 00:09] NealMatta commented on #9486
Do you think you can direct me to where this issue has been created? I have a bit of experience with web development so I feel like this is something that I could definitely help out with.

[2019-04-09 02:20] timabbott commented on #12067
I believe the bug here likely has to do with some unread messages in the stream's history.  Just to check, what version of Zulip are you using?  I'm pretty sure we fixed a bug with a description very much in line with what you describe late last year.

[2019-04-09 02:21] timabbott commented on #12067
(It seems surprising to me in any case that "Mark all messages in stream as read" would not correct the issue, since that feature uses the backend to just find all unread messages you have for the stream.  Did you reload the browser after doing that action?  I could imagine there being a real-time sync bug of some sort there.

[2019-04-09 02:36] timabbott commented on #8201
@YashRE42 if you can reproduce this reliably, I think it shouldn't be super hard to track down.  Reproduction may be tricky -- you'll likely have to delete the 'new message' coming in each time you test to get back into the state where a pinned stream has no (recent) history, and of course you'll need to have at least 30 streams for this feature to turn on.

[2019-04-09 05:52] daschuer commented on #12071
Launchpad has a web API described here:
https://launchpad.net/+apidoc/1.0.html
https://help.launchpad.net/API/Webhooks

[2019-04-09 08:33] Raghavareddy21 commented on #11152
@zulipbot claim

[2019-04-09 11:44] mateuszmandera commented on #12071
We could add support for something like an optional "+include-footers" token in the "msg_string" part of the mirror address, analogically to how "+show-sender" is done - if we end up wanting to solve this issue through an email mirror change.

I'll keep track of this issue to see what ends up being decided.

[2019-04-09 15:12] jasonaowen commented on #12067
@timabbott it's on https://recurse.zulipchat.com/ , and according to https://recurse.zulipchat.com/api/v1/server_settings is on version `2.0.2+git`.

I've reloaded both the tab and my browser multiple times, including the ctrl-shift-r hard refresh, and it continues to do the same thing. Maybe there are also muted topics that are complicating things?

[2019-04-09 15:12] Mentalone commented on #11995
We are on v7.7.1.  However, we will be upgrading shortly to the latest release.

[2019-04-09 18:03] punchagan commented on #11055
@timabbott I spent some time profiling the `test_urls` and `test_docs` tests, and it looks like a bunch of time is spent inside `render_markdown_path`.  It looks like 59f61c25255f616064dc84d0ceb02f11e702ff4d found that the function is mostly called with hashable args, but `context` itself is a dict which causes most of the calls to be unhashed! (I tried to run the old code, but provisioning the ol

[2019-04-09 19:11] mmarroqu commented on #12038
Hey @rishig I was able to reproduce this issue on Firefox and Chrome on Linux. For me this issue occurs when going to localhost:9991/help and trying to expand ANY of the menu options that would otherwise truncate the content off of the screen. The scroll bar will appear if your window resizes by zooming in and then out or even opening up the console log, these things  make it so that Simple Bar pr

[2019-04-09 19:19] rishig commented on #12038
Nice find, that looks like it! Might be worth waiting then to see if it is fixed upstream.

[2019-04-09 20:31] #11998 closed

[2019-04-09 20:31] synicalsyntax commented on #11998
Closing since #11999 was merged

[2019-04-09 21:53] coreybic commented on #3865
Is this still an open issue? Trying to find a first contribution.

[2019-04-10 00:38] blinry commented on #1736
I would love it if this functionality was added, to be able to configure how notifications are displayed in the favicon! :green_heart: I have my Zulip tab pinned in my browser, but I don't want to be distracted each time, someone write a message. I think @YJDave has worked on this in #7147, but it's not yet rebased & merged. :)

[2019-04-10 04:40] timabbott commented on #11055
@punchagan awesome, thanks for the investigation!  I think that approach is probably reasonable; the cleaner version might be to do the tuple conversion inside the zerver/lib/cache.py code, rather than having it contaminate higher layers.

[2019-04-10 07:06] shubham-padia commented on #11937
@zulipbot claim

[2019-04-10 08:08] veerjainATgmail commented on #9916
https://github.com/zulip/zulip-mobile/issues/2785 says, it will require backend support.
Can this be supported for both Web and Mobile Apps?

[2019-04-10 10:52] punchagan commented on #11055
Yeah, that sounds cleaner, and I was planning on investigating that approach next! :+1:

[2019-04-10 13:00] mohitm15 opened #12090 "Typo in various document files"
**Describe the bug**

Typo in the various markdown files in the docs/production section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs.
2. Go to subsection 'production' :
3. Various typos in the file listed in pull request.

**Additional context**

  I am working on it

[2019-04-10 16:16] showell opened #12092 "api docs: Document UserMessage flags (read, starred, etc.)"
This issue is appropriate for your only if you have experience researching Zulip code and writing basic docs.

We have docs for updating message flags:

https://chat.zulip.org/api/update-message-flags

This lists all the flags that a user should update, but it doesn't explain what the flags mean.  Some flags are sort of self-explanatory to folks who use Zulip a lot--starred, read, mentioned, etc.-

[2019-04-10 16:21] showell commented on #12077
@xiaomingplus I'm not sure I really understand your question, but I'll try to respond.  We generally expect API users to only care about the message content and not the image.  If you want to get the bits for the image, though, I guess you would have to authenticate yourself to access the image, and I'm not sure we support that off of the top of my head.

@adnrs96 You may understand better what we

[2019-04-10 17:45] timabbott commented on #12090
@mohitm15 there's no need to open an issue for typo fixes, just submit a PR :)

[2019-04-10 17:45] #12090 closed

[2019-04-10 17:54] adnrs96 commented on #12077
So actually bot isn't able to access the images because we protect uploaded files from being accessed by someone who doesn't have access to it. If you need to access images, I believe you would need to access the API using an API key of a user who has access to them.

I guess this is another thing we would need to think about when building public archives. We would need to build support for exclud

[2019-04-10 18:32] mohitm15 commented on #12090
@timabbott I didn't knew about that .Will take care from next time.

[2019-04-10 22:50] ss62171 commented on #11754
@zulipbot claim

[2019-04-10 23:41] timabbott commented on #12092
@eeshangarg @Hypro999 FYI.  I think if someone can figure out how to make a nice-looking table as a prototype of this, I can quickly add the content for what they do.

[2019-04-11 00:28] rishig opened #12094 "portico: Link features on /features to /help articles."
There's a lot of work that can be done on this page, but a simple first step is to make the bottom of the page better, by putting each thing in a box that does something visually reasonable on hover, and where clicking on the box takes you the relevant /help page (I can provide the mapping of boxes to /help pages once the first one is done).

[2019-04-11 00:37] timabbott opened #12095 "Dramatically improve run-dev.py startup time"
I'm using a 7-year old computer this week with 8GB of RAM and 2 CPUs, and the `run-dev.py` startup time is pretty unbearable (about 35s by my measurement).  I imagine a lot of our developers use older hardware, so I think it's important for us to invest in improving this.  The actual technical work for this issue may also be useful in production, but I'd like to start with the development environm

[2019-04-11 00:53] #11631 closed

[2019-04-11 02:32] gnprice commented on #12049
Interesting, good find!

Definitely it'd be good for the message and reaction-event APIs to match. And I agree with @showell that the ideal API seems like it'd be to normalize and just mention the `user_id`, letting the client work out the user's name, avatar, etc., etc. separately.

That leaves the question of how to migrate. Perhaps another flag for `client_capabilities` in `/register`, like in

[2019-04-11 02:48] xiaomingplus commented on #12077
@adnrs96 Does the robot have permission to read the images of the user's private chat?

How to read it by the bot API key?

[2019-04-11 04:41] jdimaria3 commented on #10732
@zulipbot abandon

[2019-04-11 07:44] YashRE42 commented on #8201
So the problem is that pinned streams are not separated into dormant and active streams,
This means that:
https://github.com/zulip/zulip/blob/99dd9ca1a3afbd1a86f87e1dc4718b9b4abc6e59/static/js/stream_list.js#L99-L102
Will trigger and return and prevent us from updating the streams as it should. Even if we have changes in dormant/active status in a pinned stream.

In https://github.com/zulip/zulip/

[2019-04-11 09:16] TheCelestial25 commented on #12094
@rishig may i work on this?

[2019-04-11 13:11] pnkfelix opened #12098 "Jumping to Home or End is limited by local message buffering"
If you do a search (e.g. "stream:wg-traits meeting") over a stream with lots of unread messages (>= 300 unread messages or so), hitting "End" to try to jump to the end of the list does not actually jump to the end of all the messages.

For example, it seems like hitting `End` (or keyboard `G`) jumps to whatever number of messages is currently buffered, and then loads a chunk of messages (not sure

[2019-04-11 13:11] pnkfelix commented on #12098
(This is something that is frustrating one of the Rust team members using Zulip for team discussion.)

[2019-04-11 15:47] zuleger5656 commented on #12098
Hello pnkfelix,
This issue does look mildly frustrating and I will take a look to see what can be done to fix this issue.
Regards,
Travis Z.

[2019-04-11 16:52] jasonaowen commented on #12067
Just now, I logged out, deleted all the cookies and local storage on `recurse.zulipchat.com` via the developer tools, and logged back in, and the behavior still persists.

[2019-04-11 16:56] YashRE42 commented on #9420
@timabbott I'd be interested in working on this, and would appreciate it if you could elaborate what you meant when you said that "there's a natural way to this",
which code paths would you think are relevant to doing this in a way that isn't too hacky?

[2019-04-11 17:24] vbomdica3 commented on #2746
Hi, I've started to work on this, and could anybody suggest which files/which areas in specific files I should focus my efforts on.

[2019-04-11 17:27] timabbott commented on #12067
Fascinating.  Can you provide the message ID for the message you're landing on?  You can get it from the `zid` attribute if you do "inspect element" on the message in Chrome.  Also, please check whether you have any muted topics on that stream in the settings UI.  (Try not to actually change the state -- I'd like to figure out what the client bug is here and fix it, not make the problem go away fo

[2019-04-11 17:32] jasonaowen commented on #12067
Yes! The message ID is 122842055. I do see at least one muted topic, but I'm not sure if there are any unread messages in it - I assume narrowing to a muted topic would change the state? What would you like to know about the muted topic?

[2019-04-11 17:35] vineetj23 commented on #6040
@timabbott what is currently expected from this feature? I saw that you mentioned modifying the narrow in `by_is` and `can_apply_locally`, but I also saw you talked about looking for `mentioned_user_ids` which seem to be in completely different files. Just wanted a clearer idea of which files to tackle

[2019-04-11 17:49] #11917 closed

[2019-04-11 18:37] timabbott commented on #8201
@YashRE42 that recording doesn't load for me, but in any case, thanks for the very helpful investigation.  @showell @rishig since I'd like your participation in this discussion.

I think a simpler of @AasthaGupta's implementation in #8867 that just adjusts the calculation of `same_as_before` to collect the list of dormant pinned streams and diff it (it's easy to make this work without changing the

[2019-04-11 20:46] rishig commented on #8201
Yeah, I think that
* we don't want to change sort order
* we should just never show pinned streams as dormant

[2019-04-12 05:04] YJDave opened #12105 "org setting: Add "Preview" button for organization profile."
Currently we do not have "Preview" button for organization profile in organization settings. We can add "Preview" button similar to "Preview profile" button in user settings, which opens organization `/login` page.

Link to discussion: https://chat.zulip.org/#narrow/stream/137-feedback/topic/No.20parsing.20at.20Organization.20settings/near/731536

[2019-04-12 05:04] YJDave commented on #12105
@zulipbot claim

[2019-04-12 05:39] mayankmadan commented on #12077
@xiaomingplus I'm pretty sure the bot can't access files sent using private chat

[2019-04-12 15:42] Hypro999 commented on #10907
Opened a WIP PR to get the ball rolling :)

[2019-04-12 17:02] AsociTon commented on #12008
@timabbott for sure,
[code]
inside **zerver/lib/bugdown/fenced_code.py** from line 317 onwards, this function is responsible for escaping it ! I am currently working on other issues, so not taking it currently! would love to work on it after finalizing the current issues if anyone else is not up for it.

[2019-04-12 18:33] timabbott commented on #12000
@tommyip @skunkmb @priyank-p so for closing out this issue, we should:
* Do a bit more thoughtful work on discussion of TypeScript in our docs.  E.g. we might want a top-level page in the "testing" section similar to the one we have on mypy, explaining that we're migrating, linking to the "cheat sheet", and providing some details on how our current partial integration works.  Let me know if you'd

[2019-04-12 20:21] timabbott commented on #8201
OK, sounds like we just need to add the or statement in the code block I posted (and tests).  @YashRE42 can you take it from here?

[2019-04-12 20:27] YashRE42 commented on #8201
Definitely, I'll update the pr.

On Sat, Apr 13, 2019, 01:52 Tim Abbott <notifications@github.com wrote:

[2019-04-12 21:48] timabbott commented on #10539
Looks like yes, there's recent updates to the PR :)

[2019-04-12 21:52] pppreethi commented on #10539
Good to know, thanks!

[2019-04-13 00:43] timabbott commented on #12048
I think the correct solution to this is as follows:
* We continue not sending presence information for users who have not been active in the last 2 weeks in the regular upgrades.
* When loading the main page, we include the full presence information for actual last visit for all users (which isn't a big bandwidth change since we already have `realm_user`).  I'd need to look at the backend code to

[2019-04-13 00:45] andersk opened #12114 "restore-backup should run configure-rabbitmq (if using local RabbitMQ)"
Restoring a backup might change the RabbitMQ password, so if we’re using a local RabbitMQ, we need to rerun `configure-rabbitmq`. Note this isn’t always the case (e.g. in docker-zulip). [Context](https://chat.zulip.org/#narrow/stream/31-production-help/topic/RabbitMQ.20auth.20error.20after.20backup.20and.20restore).

[2019-04-13 00:56] tommyip commented on #12000
Regarding the linters, I believe TSLint currently doesn't actually do anything since we aren't giving it TS files to work with. See #11984.

[2019-04-13 06:59] cornjuliox commented on #10539
Just for the record, I am still working on this

[2019-04-13 07:14] YashRE42 commented on #10409
@timabbott I'd appreciate any suggestions for how to approach this issue in a less hacky manner.

[2019-04-13 08:25] stone212 commented on #12009
@timabbott We are still experiencing this issue.  I don't know why you closed the Issue actually?  But have you run the upgrade that you said you would?  What can I look at or de-bug to fix the search function?

[2019-04-13 15:29] rishig commented on #12094
This was put up as a test project for someone -- after a week or so I'll add the `help wanted` label. Thanks for asking!

[2019-04-13 18:29] showell opened #12116 "api docs: Add explicit `-G` for curl requests."
Some versions of `curl` will do a `POST` if you supply `-d` but don't supply `-G`.

Also, several endpoints in Zulip have the same name for two different endpoints.  For example, "/messages" can POST messages or GET messages.

Newbies testing the API may think they're doing a `GET` when actually a `POST` occurs, and the error messages can be confusing.

We just need to sweep our docs to explicitly

[2019-04-13 19:35] timabbott commented on #12000
I added a44de17f9b705d60fd406e2b38b09af6f844003e as a very much draft initial top-level doc on TypeScript and its migration.  I'd love contributions to extend it (filling in the TODO, etc.) and I think we can use the notes in the "migration strategy" section as a starting point for discussion.

I think we should make a list of all the types of code changes we have made in migrating `dict.ts` and d

[2019-04-13 20:30] ayushah commented on #11516
@zulipbot abandon

[2019-04-13 20:31] ayushah commented on #11685
@zulipbot claim

[2019-04-13 20:55] rishig commented on #3865
yup! Feel free to build on https://github.com/zulip/zulip/pull/8506.
Thanks!

[2019-04-13 21:36] kskonanur commented on #11685
@ayushah  and I are working on this issue. From reading this thread, this is how we interpret the requirements. Please comment or ask questions if needed:

**Issue:** Remove Right Sidebar Invite More Users UI Widget When BOTH Requirements are TRUE:

1. **Requirement #1:** `IF an invitation is required to join, and only admins can invite

Functionality: Complete (from https://github.com/zulip/zulip

[2019-04-14 01:58] #11866 closed

[2019-04-14 02:24] #11916 closed

[2019-04-14 02:59] #11937 closed

[2019-04-14 03:01] TheCelestial25 commented on #12094
Thanks for the reply.

[2019-04-14 03:35] #11923 closed

[2019-04-14 03:44] #5415 closed

[2019-04-14 05:40] 2208Abhinav commented on #11990
@zulipbot I am working on this issue.

[2019-04-14 05:40] 2208Abhinav commented on #11629
@zulipbot I am working on this issue.

[2019-04-14 06:04] timabbott commented on #12009
This week ended up being really hectic, in part because I was still recovering from an unusually intense flu.  I was not successful in trying to reproduce your issue today, hoping I'll figure out what you did tomorrow.

That said, I don't understand why you're having this issue after doing the `CREATE EXTENSION`.  You upgraded postgres to a new version which did not have the `tsearch_extras` exten

[2019-04-14 06:10] timabbott commented on #12074
I seem to recall you mentioned removing Python 2 from you system -- Thumbor requires that to run.  In any case `/var/log/zulip/thumbor.log` will likely have debugging details.

(Thumbor is also an idle service as of Zulip 2.0.x, so possibly this isn't a problem)

[2019-04-14 10:09] refeed commented on #12116
@zulipbot claim

[2019-04-14 11:22] refeed commented on #11516
@zulipbot claim

[2019-04-14 12:44] Hypro999 opened #12122 "Create a "Developer's Panel" to Make Testing Integrations Easier."
Currently the command line process of manually testing integrations can be _**quite**_ cumbersome.

We label the process of creating a new integrations as a very easy thing that any one can do (and with the help of docs like the [incoming webhooks walkthrough](https://zulipchat.com/api/incoming-webhooks-walkthrough) this is made possible). The one main hitch in the process is the part where we man

[2019-04-14 12:45] Hypro999 commented on #12122
@timabbott,  @eeshangarg, and @rishig any thoughts/ideas/suggestions?

[2019-04-14 12:45] Hypro999 commented on #12122
@zulipbot claim

[2019-04-14 12:48] Hypro999 commented on #12122
Link to discussion: https://chat.zulip.org/#narrow/stream/127-integrations/topic/Integrations.20Dev.20Panel

[2019-04-14 14:11] stone212 commented on #12074
@timabbott

Never and I thought I was very clear in explaining that I did not remove anything.  Here is an error from `/var/log/zulip/thumbor.log`

[code]

I could probably search how to install pycurl but I am more interested to know why this did not happen as part of the upgrade.  If it is necessary to install some packages manually did I miss this in the documentation somewhere?  That's possibl

[2019-04-14 14:30] stone212 commented on #12009
@timabbott

I pasted the commands I used to install this and I did that exactly to eliminate that as a possible problem.  Was that in the correct context?  If not then please explain.  If so then we can rule that out right?  Yes I did re-start the server and here is the output.  The only error is for zulip-thumbor.

[code]

`/var/log/zulip/django.log` and also `errors.log` confirms the search prob

[2019-04-14 18:10] timabbott commented on #12074
Oh, that's really interesting -- definitely looks like a curl linking problem.  Sigh, I think you need to run `scripts/lib/create-thumbor-venv` similar to `scripts/lib/create-production-venv` in order to rebuild the Python 2 virtualenv used by thumbor.  Can you give that a try?

[2019-04-14 18:25] kskonanur commented on #9612
@zulipbot  claim

[2019-04-14 18:31] timabbott commented on #12122
I like the high-level idea; we should give some careful thought to what we want the precise interface to be.  We should put some thought into how to make this not a giant rabbit hole of work.

* We should give it a URL like /devtools/integrations
* We should advertise it on /devtools/
* We would basically have at most two API endpoints -- one that provides a directory listing of effectively `ls ze

[2019-04-14 18:35] rishig commented on #11930
A small note -- I think we'll likely want this rate-limiting to be controlled by a field on the Realm object, and probably something of the form "you have to wait N days after your last export to do the next one".

Can be follow-up work, just wanted that on the radar.

[2019-04-14 19:16] stone212 commented on #12074
@timabbott

Here is the output:

[code]

Is there a command line option I need to add?

[2019-04-14 19:38] stone212 opened #12125 "restore-backup Fails"
Following the instructions from https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups:

1. Back up the database on current server and rsync to new server.

2. Follow step 1 and 2 from here https://zulip.readthedocs.io/en/latest/production/install.html

3. Back to page https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups run `/home/

[2019-04-14 20:43] rishig opened #12126 "message editing: Pasting images then hitting ctrl+enter sends broken image link."
When composing a message, if you try to send while an image is uploading, nothing happens.
When message editing, doing the same results in

![image](https://user-images.githubusercontent.com/890911/56098874-63096980-5eba-11e9-825e-e7d1b4762632.png)

This was on a connection with ~0.5 mbps upload and download, but I suspect that only matters in that there is sufficient time to hit "Ctrl+enter" whil

[2019-04-14 22:45] timabbott commented on #12074
Yeah do
`./scripts/lib/create-thumbor-venv  /home/zulip/deployments/current`

[2019-04-14 23:16] stone212 commented on #12074
@timabbott

No change.  I ran this:

[code]

I ran restart-server

[code]

I closed and re-started Electron app, tried a search and still get the error `Unable to connect to Zulip. Updates may be delayed. Retrying soon... Try now.`

Traceback email says:

[code]

[2019-04-14 23:42] timabbott commented on #12074
Just to be clear, the only thing this was supposed to help with was the thumbor piece -- is thumbor now running in `supervisorctl status`?

[2019-04-14 23:47] stone212 commented on #12074
No it's not:

[code]

`/var/log/zulip/thumbor.log` has this:

[code]

[2019-04-14 23:47] stone212 commented on #12074
So that gives me a clue.  Investigating now.

[2019-04-14 23:55] stone212 commented on #12074
@timabbott

Okay thumbor is working now.  It looks like zulip requires `libcurl3` ( `apt install libcurl3`) which must have been automatically removed during the upgrade to Ubuntu 18.04?  If so then this should really be something that the zulip .deb files have as a dependency.

[2019-04-14 23:55] #12074 closed

[2019-04-15 00:01] timabbott commented on #12126
I suppose the right fix is that we should disable the "send" button while the upload is happening.  We can't really do anything else, since we don't have the URL until the upload finishes.

(We'll need to be thoughtful about having the "X" for a failed upload attempt remove that disablement).

@skunkmb @shubhamdhama FYI as folks who've worked on the upload system before.

[2019-04-15 00:01] stone212 commented on #12074
@timabbott

Yes sorry I got confused.  Thank you for keeping this on track.

[2019-04-15 00:02] timabbott commented on #12011
@hackerkid ping on this -- should be a fairly fast change (I don't think we need a unit test for it).

[2019-04-15 00:30] timabbott commented on #12074
OK, great, glad this piece is resolved.

[2019-04-15 02:40] rishig commented on #12126
yeah. Whatever we do for the regular compose box is fine -- I've never had a problem there, but hit the message edit case pretty easily.

[2019-04-15 02:55] AsociTon commented on #11701
@zulipbot claim

[2019-04-15 04:46] timabbott commented on #12012
Can you try doing a `./manage.py dbshell` and then listing the postgres extensions?
https://stackoverflow.com/questions/21799956/using-psql-how-do-i-list-extensions-installed-in-a-database

I'm concerned that you might have somehow run the `CREATE EXTENSION` command in the wrong context and thus not actually added the extension to your database.

In any case, I've now finished testing carefully th

[2019-04-15 04:57] sameerchoubey commented on #11701
@AsociTon

https://github.com/zulip/zulip/pull/11963 is already open for this issue and is waiting for review.

[2019-04-15 05:02] timabbott commented on #12012
For reference, https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-the-operating-system is the new documentation for how we recommend upgrading the base OS.

[2019-04-15 05:02] #1705 closed

[2019-04-15 05:02] #10796 closed

[2019-04-15 05:06] timabbott commented on #12125
I believe the issue here is that the backup tarball needs to be at a path readable by the `zulip` user.  Try moving it to /home/zulip first.  A related issue I noticed today is this:

+ su -s /usr/bin/env -- postgres dropdb --if-exists -- zulip
could not change directory to "/root": Permission denied
+ su -s /usr/bin/env -- postgres createdb -T template0 -- zulip
could not change directory to "/ro

[2019-04-15 15:10] sysmray opened #12132 "avatars not locked when pulling from LDAP"
Zulip version 2.0.2

When syncing avatars from LDAP via AUTH_LDAP_USER_ATTR_MAP, I would expect avatars to be locked; however, users are still free to upload custom avatars, which take precedence to LDAP avatars.

There is no option or setting to prevent this behavior that I know of.

[2019-04-15 16:05] vrongmeal commented on #12126
@zulipbot claim

[2019-04-15 16:07] pragatiagrawal31 commented on #11844
@zulipbot claim.

[2019-04-15 20:55] jacktigg commented on #3220
@zulipbot abandon

[2019-04-15 20:55] jacktigg commented on #2994
@zulipbot claim

[2019-04-15 21:15] jacktigg commented on #2994
this appears to have been fixed already? i can search by emoji in the most recent build. unless there's some other functionality needed

[2019-04-15 21:24] jacktigg commented on #2994
@zulipbot abandon

[2019-04-15 21:25] sclassen commented on #11995
I can confirm the issue with Jira Version  7.12.3
Is there a way to log the messages which are received by the jira bot to help you debug the issue?

[2019-04-15 21:32] jacktigg commented on #11662
@showell are you still working on this? or is it ok if I take it over?

[2019-04-15 22:21] eeshangarg commented on #12122
@timabbott, @Hypro999: Okay, I agree that this seems like a worthwhile endeavour, but why should we make this exclusively dev-only? I was thinking more so along the lines that when you create an Incoming webhook bot:

* You pick the integration you'd like the bot to be used for, which automatically populates the avatar.
* You pick the events you'd like to be notified of that we support for that pa

[2019-04-15 22:23] sclassen commented on #11995
Here a json of the webhook message sent by our JIRA

[code]

[2019-04-15 22:31] sclassen commented on #11995
It looks like the `"webhookEvent": "comment_created"` does not contain the `issue` related information

[2019-04-15 22:50] sclassen commented on #11995
I found a workaround for now.
I changed the webhook configuration in JIRA as shown below.
This way Zulip is handling the `issue_updated` instead of the `event_created` webhook. And the issue updated body contains the required information about the issue

![jira-webhook-settings](https://user-images.githubusercontent.com/1795224/56170305-5895bf80-5fe1-11e9-928e-44849116e6d9.png)

[2019-04-15 23:29] jacktigg commented on #3530
@zulipbot claim

[2019-04-16 01:04] stone212 commented on #12125
@timabbott

Path and file permissions.  So I moved it to `/home/zulip` and then `chown -R zulip.zulip /home/zulip` and that error went away.  I don't know if the restore is successful yet (big installation) but that error is gone.  Closing Issue.

[2019-04-16 01:04] #12125 closed

[2019-04-16 01:11] stone212 commented on #12012
@timabbott

That is why I keep directing you above where I show you exactly how I ran the command and I asked you to please check that this is what you mean by "correct context".

I used `pg_upgradecluster` because that is the recommended way to do it. :)  I am not someone who tries to be clever and when I do go into the forest I try to leave a trail of bread crumbs.  I have been doing this for a

[2019-04-16 01:18] stone212 commented on #12012
@timabbott

You didn't give context but I assume you mean from `/home/zulip/deployments/current/` running as zulip?  I think this is what you want to see:

[code]

It shows the same with `\dx` which is a cool shortcut I just learned, thank you.

[2019-04-16 03:16] stone212 commented on #12009
@timabbott

[code]

Do you think it is still safe to try on a running server to fix the tsearch problem?

[2019-04-16 14:19] Nikhil-Vats opened #12140 "The text "Zulip" is not vertically aligned with Zulip's logo in portico sidenav."
![image](https://user-images.githubusercontent.com/31413407/56217370-c218db00-6080-11e9-902f-4c1457fd9f53.png)

[2019-04-16 14:23] Hypro999 commented on #12122
Yup, this'll definitely be an issue, and yes, we should build a system to allow us to store headers in the fixtures as well (though we might want to do this is a separate/follow-up PR).

@eeshangarg

I think that this would be a great idea but for issue #9815 which is on my "hit-list".

I was, also, once thinking that we should do this. But then I remembered that the user is already doing this whe

[2019-04-16 15:52] rishig commented on #12122
I agree that some parts of this might be useful to users, but I suspect making this a good user-facing experience will be 10x the work of the dev-facing part, so I think it does make sense to separate the two. (E.g. if we're allowing users to send test messages, the test messages will have to be higher quality than the test messages we currently have in the repo.)

Some parts of this are indeed ar

[2019-04-16 17:03] eeshangarg commented on #12122
[code]

@Hypro999: Yes, but eventually, I think it is worthwhile for us to offer the ability to restrict event notifications on our end too. Not all third-party webhooks offer fine-grained control over which events generate a notification and we should do it in a standardized way on our end, in my opinion. One of the reasons I have emphasized having "event-to-function" mappings in all the more com

[2019-04-16 18:37] cwhitsbm opened #12143 "Load Balanced Zulip - PM's going to phone but not to desktop or web app"
Hello,

We have load balanced Zulip recently with two web servers and a seperate pgsql server.  We seem to be having an issue with PM's ever since.  The user will get notified on their phone that there is a new PM, however when they look at their desktop (or web) app, the messages do not show.  But the responses that they made from the phone do.  Really strange issue.  Has anyone seen this before?

[2019-04-16 18:41] hackerkid opened #12144 "New line character issue when using create_user management command"
The create_user management command reads password from a text file created by the server admin. To run this command I tried creating this text file using VIM, nano and echo (` echo pass > password.txt` without using `-n` flag). Each and every time new line character was automatically added to the end of the file. So if I set the content of file as `helloworld` and try to login to the server by ent

[2019-04-16 18:47] hackerkid commented on #12144
@zulipbot add label "area: production"

@timabbott Do you think we should have a label for management commands? I couldn't really find a good label for this.

[2019-04-16 18:48] hackerkid commented on #12144
@zulipbot label "area: production"

@timabbott Do you think we should have a label for management commands? I couldn't really find a good label for this.

[2019-04-16 21:16] cwhitsbm commented on #12143
As we try to narrow this down, the messages do show up if you go look at your PM's however they are never reflected under all users, and there is no desktop or web app alert.

[2019-04-16 21:37] andersk commented on #12038
This is indeed fixed in my PR that upgrades SimpleBar to 4.0.0-alpha.3 (#11792).

[2019-04-17 00:02] andersk commented on #12030
@clk-jkn Thanks! I was able to find the root problem, and submitted a fix as #12147.

[2019-04-17 00:42] #12030 closed

[2019-04-17 00:48] timabbott commented on #12038
@andersk is this fixed by just the simplebar version update commit?  Wondering if I can merge just that to master to resolve this or I need the rest of that PR?

[2019-04-17 08:11] shubham-padia opened #12150 "Backup fails when providing output file path as an optional argument."
As described on https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-from-ubuntu-14-04-trusty-to-16-04-xenial,

The following command: `./manage.py backup --output=/home/shubham/backup1.tar.gz` with error:
[code]

The `output` here is a positional argument instead.

[2019-04-17 08:31] shubham-padia commented on #12150
@zulipbot label "area: production"

[2019-04-17 15:18] laem commented on #3783
Being able as a member to create a stream but not rename it is disturbing.

[2019-04-17 19:10] #12116 closed

[2019-04-17 19:14] timabbott commented on #12150
This looks great, merged, thanks @shubham-padia!

[2019-04-17 19:14] #12150 closed

[2019-04-17 19:43] timabbott opened #12152 "Make MAX_FILE_UPLOAD_SIZE=0 hide the file upload UI"
We got a question here: https://chat.zulip.org/#narrow/stream/138-user-community/topic/Disable.20File.20Upload/near/733879 about how to disable file uploads in Zulip.  I believe setting `MAX_FILE_UPLOAD_SIZE` in https://zulip.readthedocs.io/en/latest/subsystems/settings.html would achieve that goal, but it'd have the somewhat awkward setup of having UI elements for file upload that could confuse u

[2019-04-17 20:04] timabbott commented on #12144
I've been using the `production` area label for these if production, or `tooling` if it's development-only.  I don't think there's enough issue volume for them to be worth their own label.

I agree, we should definitely `.strip()` the passwords in that command.

[2019-04-17 20:15] #6750 closed

[2019-04-17 22:00] Luraktinus commented on #106
Any news on this? I only have 16 GB and i also host files

[2019-04-17 22:10] #12126 closed

[2019-04-17 22:25] timabbott commented on #12122
Cool, I think we are on the same page here.  It definitely makes sense to focus on making this a useful devtool, which I agree is like 10% of the work of making it a nice user-facing feature.  And that devtool, done well, would significantly decrease the effort involved for folks working on our integrations library being able to see what all the messages look like.

[2019-04-17 22:36] timabbott commented on #12132
Thanks for opening this issue.

We should add a setting similar to the "users can modify their full name" option, probably using the same 2-setting model where one is at the server level and the other at the realm level we have for NAME_CHANGES_DISABLED.  I think `AVATAR_CHANGES_DISABLED` is a good name for this setting.  We'll want to mention it in the docs where we discuss thumbnailPhoto but pro

[2019-04-17 23:17] pppreethi commented on #4685
I'm still working on this issue!

[2019-04-17 23:25] rishig commented on #12152
Also worth changing MiB to MB while we're looking at it.

[2019-04-17 23:35] timabbott commented on #2994
Yes, I don't see the issue linked, but I'm pretty sure @HarshitOnGitHub fixed this a while ago.  Thanks for reporting this is already fixed and can be closed!

[2019-04-17 23:35] #2994 closed

[2019-04-18 00:09] timabbott commented on #12009
You effectively did this manually.  In any case it is unlikely to help with this specific problem, which as I have said many times before is that somehow your postgres database lost the `tsearch_extras` extension registration when you upgraded it.  It's possible the root cause of the issue here is that you migrated the database before doing `zulip-puppet-apply`, and the database migration process

[2019-04-18 00:09] timabbott commented on #12012
OK, try running the `CREATE EXTENSION tsearch_extras SCHEMA zulip` in that shell and then rerunning `\dx`.

[2019-04-18 00:11] timabbott commented on #12012
The one open issue with that documentation is that it doesn't handle that issue.  Installing `libcurl3` is not the right fix -- the right fix is instead to fix the relevant Python package that's a thumbor dependency to not require libcurl3.  But as I mentioned before, in any case, thumbor is not used at all in production by default (It's part of an upcoming feature), so it's not a problem for it t

[2019-04-18 00:52] rishig commented on #10824
@hackerkid the existing work has been super useful. Could we add a few more things? These are probably the next highest value:
* Applying a discount to a realm: text box with default value 85 + save button; the button calls attach_discount_to_realm(realm, Discount(text box value)).
* Reactivating a deactivated realm (should be in actions.py)
* Deleting or scrambling a realm: my guess is there's so

[2019-04-18 03:15] AsociTon commented on #11701
@zulipbot abandon ,sorry for the confusion @sameerchoubey please proceed with your pr :+1:

[2019-04-18 05:25] stone212 commented on #12009
Yes you have and I have run the commands you said to run to fix this.  Are you mentioning this again because you have a new suggestion how to fix this?

Yes that is possible.  I did not see anything about running `zulip-puppet-apply` and I did not run it during the Ubuntu 18.04 upgrade.  Technically you still don't instruct this because you have the OS upgrade as step 2 and the OS upgrade tells yo

[2019-04-18 05:32] stone212 commented on #12009
@timabbott I am trying to focus on this issue so I am replying to your comment in https://github.com/zulip/zulip/issues/12012 which is closed and should be closed, by answering here which is still an open (or unsolved) issue.  You said :

I did that and the `CREATE EXTENSION` doesn't "take":

[code]

[2019-04-18 06:41] hiteshkhairwal commented on #12094
Worked on this.
Here is the link to the PR: [portico: Added link features on /features to /help articles. #12155](https://github.com/zulip/zulip/pull/12155)

Please have a look and provide me with some feedback and areas of improvement.

[2019-04-18 09:11] cb0n3y opened #12156 "I can't make a zabbix integration.."
I want to use zabbix notification via zulip but after updating to zulip 2.0.2 i was getting this erro(s) so a comment the line for zabbix-webhook:

Traceback (most recent call last):
  File "./manage.py", line 46, in <module>
    execute_from_command_line(sys.argv)
  File "/home/zulip/deployments/2019-03-06-08-06-35/zulip-py3-venv/lib/python3.5/site-packages/django/core/management/__init__.py", li

[2019-04-18 12:30] pragatiagrawal31 commented on #11455
@zulipbot claim.

[2019-04-18 14:24] sahil839 commented on #12036
@zulipbot claim

[2019-04-18 17:06] cwhitsbm opened #12157 "Document need to update nginx configuration when changing LOCAL_UPLOADS_DIR."
Hello,

We have two zulip servers being load balanced by an HAPROXY device.  We are receiving an error message that pasted images cannot be located.

2019-04-18 16:39:13.598 WARN [django.request] Not Found: /user_uploads/2/bd/4noXNJxUV_mIuK0yivK7r8FT/pasted_image.png
2019-04-18 16:39:13.607 WARN [django.request] Not Found: /user_uploads/2/9a/nbEb38yVVFo4s_PCNXSNCkHB/pasted_image.png

We have modif

[2019-04-18 17:42] 24khxn commented on #4676
Hello zulipbot! Still working on it!

[2019-04-18 22:51] andersk commented on #12038
@timabbott That commit isn’t separate at this time (you already merged a separate upgrade from 2.6.1 to 3.1.3), but I can separate it if you’d like, in which case, yes, it would.

[2019-04-19 00:19] andersk commented on #12152
Given [the code](https://github.com/zulip/zulip/blob/2.0.2/zerver/views/upload.py#L71), the units actually are MiB, not MB.

[2019-04-19 10:31] nipan09 commented on #11721
@zulipbot I am a new contributor on github and would like to contribute in this issue. Provide me the necessary guideline to carry out this issue.

[2019-04-19 13:27] sahil839 commented on #11721
@nipan09 This issue has already been taken and there is also an open PR for this.
You must find another issue to work on.

[2019-04-19 16:06] rishig commented on #12152
yeah, I think the code should be generous (i.e. we should accept a file if their filesystem or whatever is giving them a number under 25), and it's not a big deal if the error message is more strict.

[2019-04-19 16:25] amartin3225 commented on #11570
+1

I can see 3 different ways to apply these default settings, so ideally this implementation would support all 3:

- force setting: this would force the setting value as the only option across the organization (e.g. make all users use night mode)
- default setting: this would make the setting value as the default for new accounts, but would leave existing accounts alone; users could still change

[2019-04-19 18:51] vrozkovec opened #12169 "/etc/zulip/settings.py NOREPLY_EMAIL_ADDRESS vs TOKENIZED_NOREPLY_EMAIL_ADDRESS"
Hi, using latest Zulip server installed on my machine, I experience this behavior, which I think is confusing.

*/etc/zulip/settings.py*:
`EXTERNAL_HOST = 'discuss.internal.mysite.com'`

If I have settings like this:
[code]

Invitations and test e-mails have correct `from` - tokenized noreply email address, as expected.
However private message reminders go from `noreply@discuss.internal.mysite.com

[2019-04-20 02:39] AsociTon commented on #11721
Welcome to zulip @nipan09 , to add to what Sahil said since you are a new cotributor you could https://zulip.readthedocs.io/en/latest/overview/contributing.html go through this link for our organization's guidelines and once you have finished setting up the development environment you can look for a good first issue here https://github.com/zulip/zulip/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+

[2019-04-20 13:31] vinitS101 commented on #12152
@zulipbot claim

[2019-04-20 16:16] jainkuniya commented on #11961
hey @zulipbot submitted https://github.com/zulip/zulip/pull/12172

[2019-04-20 20:13] sameerchoubey commented on #9395
@zulipbot claim

[2019-04-20 20:14] thedeveloperr commented on #10385
@zulipbot claim

[2019-04-20 20:54] pppreethi commented on #4685
@timabbott How should I update ZULIP_VERSION? Right now it reads "2.0.2+git", so should I instead make it "2.0.2 - x commits behind master" where x is read in from a file?

(Also, what is the purpose of "+git" in the original ZULIP_VERSION?)

[2019-04-21 04:50] stone212 commented on #12009
@timabbott Bump.  This would be less urgent if backup and restore was working but without this or that we have no working zulip and it's been many weeks.

[2019-04-21 18:48] timabbott commented on #12169
Agreed, we should fix the documentation to make clear what's going on here.

@rishig FYI

[2019-04-21 18:50] timabbott commented on #12157
@cwhitsbm that `/user_uploads` path is an agreement between Zulip's `nginx` configuration and the URLs it uses; `zerver/lib/upload.py` has the code that does the mapping, but in short, basically accessing those paths is done by joining the `LOCAL_UPLOADS_DIR` to the file type (e.g. `uploads`) and the stuff after `/user_uploads` in the URL.

I'm guessing something is wrong with your NFS setup that

[2019-04-21 18:54] timabbott commented on #12156
Those files definitely appear in a Zulip 2.0.2 release tarball:

[code]

Based on your description, I suspect filesystem corruption.  You may be able to fix the problem by doing an `upgrade-zulip` using the same 2.0.2 release tarball, but I'd investigate the possibility of issues with the disk on the machine; unless you manually edited/deleted those files, I don't see another obvious explanation f

[2019-04-21 18:54] #12156 closed

[2019-04-21 22:13] nomolos commented on #11453
Working on it!

[2019-04-22 04:44] cb0n3y commented on #12156
Thank you very much

[2019-04-22 06:05] #12140 closed

[2019-04-22 06:40] shubham-padia commented on #12132
@zulipbot claim.
Presuming that the issue does not fall under `priority: high`.
@timabbott Please let me know if that's not the case :)

[2019-04-22 10:16] Gautime commented on #3211
@zulipbot  claim

[2019-04-22 10:51] 2208Abhinav commented on #11990
@zulipbot claim

[2019-04-22 16:58] jacktigg commented on #3530
@zulipbot claim

[2019-04-22 17:57] timabbott commented on #12132
Yeah go for it.  This would be a nice improvement, but it is isn't urgent which is why we didn't give it that label.

[2019-04-22 18:30] vineetj23 commented on #6040
Yes still working on this

[2019-04-22 18:31] APolce commented on #4120
@zulipbot claim

[2019-04-22 20:40] timabbott opened #12180 "Remove tools/check-urls linter"
This linter was a useful tool added as part of preparations for the migration to Django 1.10, but no longer serves a useful purpose because the old-style URLs don't run anyway.

[2019-04-22 21:11] NealMatta commented on #12180
@zulipbot claim

[2019-04-22 21:34] #12157 closed

[2019-04-22 21:37] timabbott commented on #12169
@rishig is it intended to we aren't using the tokenized addresses in these code paths?
* missed_message emails
* digest emails
* new login notifications

(It looks like these are the ones that don't use the token).

From a security perspective, I think we only need to use tokenized noreply addresses for confirmation emails, but I'm curious if there was a reason not to use them for these other use

[2019-04-22 21:51] timabbott commented on #11961
Just merged #12172; I think that means we can close this as wontfix.  Thanks @gnprice and @jainkuniya!

[2019-04-22 21:51] #11961 closed

[2019-04-22 21:59] rishig commented on #12169
I don't think so. I think `noreply@` potentially looks a bit cleaner, but I don't recall an explicit decision for it. I don't have strong feelings about it.

[2019-04-22 22:12] rishig opened #12182 "settings: Rearrange checkboxes on Notifications tab."
We'd like to change

![image](https://user-images.githubusercontent.com/890911/56535415-819ddf00-6510-11e9-8e1a-81bba7d13974.png)

into
![image](https://user-images.githubusercontent.com/890911/56535428-89f61a00-6510-11e9-97d8-161ff3d900c1.png)

on https://chat.zulip.org/#settings/notifications.

This is a part of a larger refactor of our Notifications page. There will be more rows of checkboxes a

[2019-04-23 01:16] JonathanVillordo commented on #12180
@zulipbot claim, Hey @NealMatta can I work with your this is will be my first contribution. Thanks

[2019-04-23 03:03] andersk opened #12186 "bugdown: {start_tabs}…{end_tabs} produces broken HTML"
In templates/zerver/help, the Markdown input

[code]

renders as

[code]

which is incoherent tag soup: there’s a `</p>` closing a `<div>`, a `</div>` closing a `</p>`, and a `</p>` closing nothing at the end (because the first `<p>` was autoclosed by the first `<div>`).

This affects all uses of `{start_tabs}`…`{end_tabs}` across /api, /help, and even test_tabbed_sections.md, whose broken output

[2019-04-23 05:19] timabbott commented on #12186
@eeshangarg can you look into this?

[2019-04-23 16:20] hackerkid opened #12191 "Upgrade defusedxml to latest version"
Upgrading defusedxml from 0.5.0 to 0.6.0 result in the following error

https://travis-ci.org/zulip/zulip/builds/523564345

[2019-04-23 16:54] hackerkid opened #12192 "Upgrade Markdown to latest version"
Upgrading Markdown from 3.0.1 to 3.1 results in the following error.

https://travis-ci.org/zulip/zulip/builds/523579779

[2019-04-23 18:07] hackerkid commented on #12192
@zulipbot label "area: dependencies"

[2019-04-23 18:08] hackerkid opened #12193 "Upgrade Pillow to latest version"
Upgrading Pillow from 5.4.1 to 6.0.0 gives the following error

https://travis-ci.org/zulip/zulip/builds/523587443

[2019-04-23 18:11] showell opened #12194 "feature: Add option to unstar all messages in a topic."
This is a bit of a power user feature, but we want the ability to unstar all messages in a topic.

If a user opens the context menu for a particular topic, then we should have the code determine whether there are any unstarred topics, and, if so, add a menu item to "Unstar all messages in topic foo".

To make this easy, we'll just have the frontend send the messages ids it knows about that are sta

[2019-04-23 18:13] showell commented on #12194
Here's some Zulip conversation about this feature:

https://chat.zulip.org/#narrow/stream/137-feedback/topic/unstar.20in.20topic/near/735823

[2019-04-23 18:21] hackerkid commented on #12193
@zulipbot label "area: dependencies"

[2019-04-23 19:00] timabbott commented on #12192
@brockwhittaker @PentaHiggs FYI

[2019-04-23 19:11] timabbott commented on #12192
Reading that error, I suspect the issue is that the new release isn't installable on Ubuntu Trusty.  Does it pass tests on other platforms?

[2019-04-23 19:49] neiljp commented on #12193
This appears to be related to lack of support for python 3.4 in the this new version of Pillow.

[2019-04-23 19:51] timabbott commented on #12193
Yeah, I think 3.4 is reaching EOL and we should probably do some focused work on killing Trusty.

[2019-04-23 20:32] neiljp opened #12196 "API docs: Avoid escaping double-quotes in curl examples"
Since double-quotes have to be escaped inside regular quotes, but are needed in JSON, it is clearer to have single quotes on the outside of the curl command line.

Instead of a line such as the following (from get messages api docs):
[code]
we might use:
[code]

This is a lot clearer to read.

A first pass might ensure that escaped double-quotes are substituted along the lines of the above, but it

[2019-04-23 21:46] timabbott commented on #12169
OK, sounds good, I'll just update the documentation.  Thanks again for the report @vrozkovec!

[2019-04-23 21:47] #12169 closed

[2019-04-23 21:54] timabbott commented on #12196
This would be a nice improvement.

[2019-04-23 22:21] sameerchoubey commented on #12196
I've added it in my queue.

[2019-04-23 22:35] eeshangarg commented on #12186
@andersk: Thanks a lot for reporting! I think I remember running into this at some point, the way the Markdown preprocessor works is kinda inherently broken, to be honest! I'll investigate this. :)

[2019-04-23 22:43] timabbott commented on #10381
Fixed via #12148.

[2019-04-23 22:43] #10381 closed

[2019-04-23 22:45] timabbott opened #12198 "notification settings bug: Visual toggling of "Mobile" in private messages UI"
This issue is related to the messy `if_and` business in the settings_checkbox template.  Basically, the template has correct behavior, but whenever you toggle any setting, `settings_notifications.update_settings()` gets called, and that ends up always checking the checkbox for "mobile" in the private messages bundle, even though that checkbox was disabled.

I believe the issue here is that `update