[2019-08-23 23:36] timabbott commented on #9277
I completely agree.  We've had a few folks work on this unsuccessfully; my hope is we'll have some new effort on it in the next few weeks.

[2019-08-23 23:39] deseven commented on #13056
@timabbott yeah, i do understand that, thank you. I now see that you have 2 versions of documentation called `latest` and `stable`. Link on the website leads to `latest` one, maybe this is also a problem.

[2019-08-23 23:40] timabbott commented on #13050
@davidtwco I'm not sure I understand -- AFAIK there isn't a fixed height for the left sidebar stream list, it's a scrollable area.  Maybe I'm not using a tall enough monitor -- can you post a screenshot of the issue?

The height is intended to be limited only by keeping the global filters always visible at the top of the page.

It is controlled by this logic in `resize.js`, so maybe there's a bug

[2019-08-24 00:21] timabbott commented on #12940
Our ReadTheDocs covers running tests locally in detail (see the "testing" section); in particular, `tools/test-backend zerver.tests.test_reactions.ReactionEmojiTest` will run that test suite, for example.

[2019-08-24 00:29] timabbott commented on #13056
Which link on the website did you follow?

[2019-08-24 00:31] deseven commented on #13056
Open [zulipchat.com](https://zulipchat.com/), scroll to the bottom (to the site map), there is a link called 'Documentation' to https://zulip.readthedocs.io/en/latest/

[2019-08-24 00:35] deseven commented on #13056
Also various links here and there lead to the `latest` documentation.

Some pages with them:
https://zulipchat.com/security/
https://zulipchat.com/plans/
https://zulipchat.com/features/

If this needs to be changed you may want to just do a text search in website sources.

[2019-08-24 08:06] YJDave commented on #11453
@rishig is this issue resolved?

[2019-08-24 10:45] ab1nash commented on #4145
@timabbott please review this when convenient. Thanks.

[2019-08-24 16:39] victorphoenix3 commented on #6512
@timabbott @rishig I think the PRr is ready to be merged.

[2019-08-25 00:28] andersk opened #13068 "Upgrade pip from 19.1.1 and pip-tools from 3.8.0"
Followup issue from #13067. pip-tools 3.9.0 or 4.0.0 fails to resolve dependencies from Git URLs (jazzband/pip-tools#851):

`pip._internal.exceptions.DistributionNotFound: No matching distribution found for zulip==0.6.1_git (from -r requirements/common.in (line 135))`

while pip 19.2 breaks pip-tools 3.8.0 (jazzband/pip-tools#853):

`TypeError: __init__() got an unexpected keyword argument 'find_l

[2019-08-25 02:44] andersk commented on #13068
I opened a possible fix as jazzband/pip-tools#879.

[2019-08-25 08:05] Pomazan-Bogdan commented on #13057
This adress correct.
Name channel "Cyrillic".
Support cyrillic name for chanel and mail stream add to 2.x

[2019-08-25 13:15] #12609 closed

[2019-08-25 19:11] rht opened #13070 "parse_lsb_release/parse_os_release: Replace DISTRIB_FAMILY with ID_LIKE"
`ID_LIKE` is a field that is part of the content of /etc/os-release.
See https://github.com/zulip/zulip/pull/13061#discussion_r317372832.

[2019-08-25 19:13] rht opened #13071 "parse_os_release: Update CentOS/Fedora to use /etc/os-release instead of /etc/redhat-release"
See https://github.com/zulip/zulip/pull/13061#discussion_r317372691.

[2019-08-25 22:03] #10802 closed

[2019-08-25 22:03] #12374 closed

[2019-08-26 03:33] timabbott opened #13073 "Fix desktop notifications for wildcard mentions in muted streams/topics"
The correct behavior, as described in #6040, is that we should not do desktop notifications for wildcard mentions (e.g. `@all`) in muted streams or topics.  I just merged 5e19546c148bd46544cc5b120df6fdc5655c4f7a which covers one of the more complicated pieces of it.

This replaces #6040 which is pretty cluttered at this point; the `unread_msgs` data work has been completed, as has been the work to

[2019-08-26 03:34] timabbott commented on #6040
Closing in favor of #13073.

[2019-08-26 03:34] #6040 closed

[2019-08-26 03:49] timabbott commented on #5137
See #13074 for code one should be able to mostly template off of for implementing this.

[2019-08-26 04:43] #6221 closed

[2019-08-26 05:38] timabbott commented on #11453
Yes, this appears to have been fixed without the issue being closed.

[2019-08-26 05:38] #11453 closed

[2019-08-26 05:41] timabbott commented on #13056
Ahh, OK -- I was pretty sure we linked to `/stable` from the "Install Zulip" type links.  Some of those make sense to link to the /latest content.

@drrosa is there an easy way to make that warning block from https://github.com/zulip/zulip/commit/e6340c6e54a572d58bc1039430a8f3a461635f00 appear at the top of every /docs/production ReadTheDocs page without a bunch of copy-paste?  I think that would

[2019-08-26 05:44] timabbott commented on #13035
@lukasIO can you talk more about what you're trying to do?  It sounds like some sort of API tool.

In any case, you should be able to just use the sorted list of user IDs in the `display_recipient` object for what you're doing.

[2019-08-26 05:44] timabbott commented on #131
The list got renamed; it's https://groups.google.com/forum/#!msg/zulip-devel-announce/iRQDeorUKEU/TBhTgOELBgAJ.

[2019-08-26 13:51] victorphoenix3 commented on #6512
@timabbott @rishig I think the PR #13059  is ready to be merged

[2019-08-26 14:44] davidtwco commented on #13050
@timabbott thanks again for the quick response. I slightly misunderstood the issue when initially reporting the bug. You're correct that the left sidebar will always expand to have all subscribed streams shown, and then a scrollbar will appear when that's no longer possible (an absence of this is what I initially misunderstood the problem to be).

However, even when there is sufficient space for a

[2019-08-26 17:15] lukasIO commented on #13035
@timabbott you are right, I could use the entries of `display_recepient`.
my issue is, that I think that this could/should be done by the server.

I try to give an example Scenario:
A new message is coming in via the real time api.
The client now has to figure out where to put this message in the client side data model.
For streams there is a distinct `stream_id` which makes it easy to do so, as i

[2019-08-26 19:44] lukasIO commented on #13035
thank you for taking the time to answer this throughly!

Maybe I'm misunderstanding the desire for local echo, but wouldn't this only be relevant on conversation instantiation?
If I already have at least one message of the conversation I want to write to, then I already have the `conversation_id` for that private/group message.

[2019-08-26 20:52] #6512 closed

[2019-08-26 21:23] timabbott opened #13079 "Keep some messages when users declare bankruptcy"
Currently, Zulip's "declare bankruptcy" UI will remove all unread messages.  We likely want to provide a less aggressive version that preserves messages the user is likely to want to read given that they are coming back to Zulip:

* Private messages
* Mentions (just the `mentioned` flag, not `wildcard_mentioned`)
* The most recent `BANKRUPTCY_KEEP_RECENT_COUNT=100` messages in the user's history.

[2019-08-26 21:43] lukasIO commented on #13035
in that case, I feel the argument about local echoing is not very strong, as in the case of message instantiation, the server response of the first successful message in a new conversation can include the conversation id. until then the local copy could be kept in a pending state.

[2019-08-26 21:54] timabbott opened #13080 "Display which user group was mentioned in email/mobile push notifications"
As a follow-up to https://github.com/zulip/zulip/pull/13074#discussion_r317743329, we should extend our display logic for mentions of user groups to support e.g. "Hamlet mentioned @mobile" if that's what happened, rather than the current "Hamlet mentioned you".  And similarly for the text in emails: "You are receiving this because you were mentioned" -> "You are receiving this because @mobile was

[2019-08-26 23:19] gnprice opened #13081 "Google OAuth flow is broken for existing mobile apps"
This is zulip/zulip-mobile#3594.

In zulip/zulip@bf14a0af4 (in July) we refactored our server-side support for Google auth, to use the same third-party library we're using for GitHub auth and Azure AD auth.

That's good, but as a side effect the URL for starting the Google auth flow on Zulip changed from `https://zulip.example.com/accounts/login/google/` to `https://zulip.example.com/accounts/logi

[2019-08-26 23:35] gnprice opened #13082 "URL pattern for login page is too broad"
This is an oddity I noticed in the course of debugging #13081 / zulip/zulip-mobile#3594.

The login page normally appears at the URL path `/accounts/login/`. There are several other patterns which begin with that path and correspond to specific ways of logging in -- for example `/accounts/login/local/` for local dev auth, or `/accounts/login/social/github` for GitHub auth.

But if you visit some o

[2019-08-27 03:14] #13081 closed

[2019-08-27 03:54] #13082 closed

[2019-08-27 04:06] timabbott opened #13084 "Make `configure-rabbitmq` not require Django on the system"
This is for running rabbitmq on its own system; it's a low priority because essentially everyone asking for this should just use https://github.com/zulip/docker-zulip/, which has already solved this problem.

As reported here: https://chat.zulip.org/#narrow/stream/31-production-help/topic/Running.20Zulip.E2.80.99s.20service.20dependencies.20on.20different.20machines/near/781808, our instructions f

[2019-08-27 04:25] #13040 closed

[2019-08-27 10:01] kratsching opened #13086 "Integration of open source project management tool Wekan"
We are using Wekan as open source alternative for trello at work and I'm looking for a way to integrate notifications into zulip - just like the trello integration.

- Has anyone experiences in doing so and can help?

If this is not the right place for this question please tell me where to ask.

[2019-08-27 14:35] gnzlbg opened #13087 "UX for collapsing stream threads is super inefficient"
When I click on a stream on the left panel, all threads within the stream are shown in the panel, making it hard to click another stream in the panel. AFAICT there is no way to collapse the stream in the panel to be able to easily move to another stream. I have to go all through the UI to the stream search box at the top and click the X there, and then come back all the way to the panel to click o

[2019-08-27 14:38] gnzlbg commented on #13087
I forgot to mention. Next to the stream name in the pane there is an arrow pointing down, that looks like a button that when clicked, would collapse the stream:

![Screen Shot 2019-08-27 at 16 37 16](https://user-images.githubusercontent.com/904614/63780809-fdf26580-c8e8-11e9-8e65-28ade16226f1.png)

Instead I get a box showing me the stream settings and possible colors. Why does zullip sometimes u

[2019-08-27 17:06] mateuszmandera commented on #1727
@zulipbot claim

[2019-08-27 19:06] lukasIO commented on #13035
Currently I am taking the `user_id`s of `display_recipient` to create a unique hash based on those ids, using [xxHash](https://cyan4973.github.io/xxHash/) and set the resulting hash as `conversation_id`.

@timabbott would you welcome a pull request to the zulip repository implementing xxHash (or something similar) as a way to create consistent `conversation_id`s for private and group messages in o

[2019-08-27 21:06] timabbott opened #13088 "Fix browser caching of images when using S3 upload backend"
Apparently, the way we securely handle user-uploaded images on zulipchat.com prevents proper browser caching from occurring.  As described in our [security model doc](https://zulip.readthedocs.io/en/latest/production/security-model.html#user-uploaded-content), when serving uploaded files, we serve a redirect to a randomly generated temporary URL in S3, to ensure that uploaded files can only be acc

[2019-08-27 23:03] mateuszmandera commented on #12976
@fredczj Sorry for the delay! Did you manage to solve your issue or is this still a problem?

[2019-08-27 23:34] mateuszmandera commented on #12976
@timabbott Yeah, I think I'd like to try this. Also could be good to get this figured before finishing up authentication rate limiting, in case what we do ends up messing with that rate limiting design.

[2019-08-28 06:55] gnzlbg commented on #13087
@timabbott

Oh, I did not know this. The Rust zulip org maybe grew out of scope, but there are many active users, and we have streams for widely different parts of the project (language design, general questions, standard library, different parts of the compiler, tooling, ...). I usually stick to the streams of the stuff I work on, and occasionally when that work interferes with other parts, then

[2019-08-28 10:20] andersk opened #13093 "Searching for Unicode requires pressing Enter twice"
You can search for an ASCII keyword by typing it in the search box and pressing Enter once, but to search for a Unicode keyword you need to type it and press Enter twice.

[2019-08-28 12:58] harshS26 opened #13094 "Showing avatar(profile pic) of all users in my buddy list"
I want to show Avatars of all users in my buddy list along with their Name and Status..can someone guide me in doing it? @timabbott

[2019-08-28 17:53] euresti opened #13096 "Editing a message with an @-mention of a group removes the message from "@ Mentions""
This can happen in 2 ways but only applies to @-mentions of "User Groups" (i.e. "Users" function correctly)

Method 1:
1. User writes a message with an @-mention.
2. User edits the message to fix a typo.
3. The group that was @-mentioned doesn't see the message highlighted and it no longer shows up in the "@ Mentions" menu.

Method 2:
1. User write a message without an @-mention.
2. User edits the

[2019-08-28 21:46] Katharsas opened #13109 "Auto-Complete for Java->Javascript is annoying"
If i want to post some Java code i type in
<pre>
[code]

[2019-08-28 22:19] #12952 closed

[2019-08-28 22:21] gnprice commented on #13098
(Also FTR: the original number for this issue was zulip/zulip-mobile#3327 . This is the first time I've used GitHub's fancy "Transfer issue" feature; it looks like... the old URL redirects to this one, but references to it in comments etc. no longer auto-linkify, and it doesn't show up in the original repo's issue search.)

[2019-08-28 22:27] #13045 closed

[2019-08-28 23:01] SOIT-SF opened #13099 "Empty private streams"
WE noticed as an admin you can create a stream and then remove all users including yourself. When doing this you are unable to get the stream back. We are now wondering does this auto delete or is there away to get it back. If not is there plains to have a lock on the creator, or the ability to pass creation to another user.

[2019-08-28 23:44] timabbott commented on #13087
I opened https://github.com/zulip/zulip/pull/13100 with a prototype for this.  Here is a screenshot:

![image](https://user-images.githubusercontent.com/2746074/63899801-162eb700-c9b3-11e9-87cc-76cd47b16c98.png)

(I didn't take the time to figure out how to get the "more unread topics" unread count to be aligned properly).

[2019-08-28 23:48] timabbott commented on #13035
I'm not excited about that proposal in that I'm not convinced we want a hash-based (as opposed to ID-based) value for this use case, and if we added that to core Zulip, we'd need to maintain that field forever.  I'd be happy for us to add a patch to our API bindings tools to expose a unique `conversation_id` computed client-side, in that we'd have more ability to change that to a server-driven sou

[2019-08-28 23:54] timabbott commented on #13099
This is definitely an issue; it's in the bundle of things we intend to fix when we add the "stream administrator" featureset.

If it's on zulipchat.com email support with details and we can rename it for you as a workaround; otherwise you can use the `manage.py shell`.

[2019-08-29 00:42] timabbott commented on #13098
The issue is in this code:

[code]

We should probably just delete that code and use https://pypi.org/project/user-agents/ instead.

[2019-08-29 00:46] timabbott commented on #13050
7544d0eb11cef6d895f096bbd60bee723bcc429e is what introduced that; I'm pretty sure it's there to prevent the link URL indication area from occluding the "Add streams" button.  It's possible we need to change that CSS, or possible that we need to update the `resize.js` logic to take that margin into account.

@synicalsyntax @vinitS101 @alexandraciobica do any of you have time to investigate this fur

[2019-08-29 00:46] timabbott commented on #13050
(Or @davidtwco if you can reproduce easily in a development environment, you may want to fiddle a bit given that information)

[2019-08-29 02:45] forlornlawngnome commented on #6617
I mentor a high school robotics team. We are currently using slack but very frustrated with the inability to turn off DMs. Slack has been super unresponsive and so this would be about all the reason we needed to switch. Working with minors, it is a security concern if DMs are available at all.  Adults shouldn't be able to contact those under 18 privately, it is a breeding ground for bullying/exclu

[2019-08-29 03:30] zy0016 opened #13102 "Can't create a bot in settings."
Hello:
    I use the latest zulip source code and want to create a bot in settings. The page always shows "Bad name or username" after I fill every field and press the "Create bot".
Could someone help me solve it?

[2019-08-29 06:03] okmanl commented on #12784
Hi @rishig I have a question.

How can I go about solving this?

I've tried using `git grep /activity` , `git grep model_name='confirmation'` , and `git grep /support`.

And have been confused so far about what files and directories I should be focused on. From my understanding, I'm assuming this is a front-end task, but what part of the UI allows you to search for email address on the /activity/s

[2019-08-29 10:54] lukasIO commented on #13035
@timabbott thanks for considering.
I understand the issue regarding the maintenance of a hashed `conversation_id` in core Zulip.

What would be your preferred solution (if not a hash) for a `converation_id` that guarantees uniqueness and reproducability (i.e. for the local echo you mentioned) ?

I'd continue working with my client-side hashing solution for now and will report any issues/shortcomin

[2019-08-29 11:00] lukasIO commented on #12980
thanks for tackling this so quickly!
I tried it out and am getting a different response from the server than I expected, maybe that's by design?

When sending a `POST` request (with a file) to `/user_uploads/` the response looks like this:

![grafik](https://user-images.githubusercontent.com/12997837/63934902-ac6ae780-ca5c-11e9-917b-1ccf21b5d38b.png)

The upload works, as I get an event via the re

[2019-08-29 15:55] lukaszwierzynski opened #13104 "share files via api"
Is it possible to use file upload API (`POST https://yourZulipDomain.zulipchat.com/api/v1/user_uploads`)and then share those with other stream members?

[2019-08-29 18:50] timabbott commented on #12784
You can access this via http://localhost:9991/activity/support, and it's in `analytics/urls.py` / `analytics/views.py`.  If you read our tutorials on how Django and Zulip views work, you should get most of the background you need to work on this.

[2019-08-29 18:56] timabbott commented on #9401
I think probably the right answer here is to have a `FAKE_EMAIL_DOMAIN` setting in that defaults to `EXTERNAL_HOST`, and is used for both this feature (`user_profile.realm.get_bot_domain`) and the "hide emails" feature (using it instead of `realm.host` in `get_display_email_address`).  And then we can make the error message for this recommend that the server admin set `FAKE_EMAIL_DOMAIN`.

See htt

[2019-08-29 18:56] timabbott commented on #13102
@zy0016 this happens if your Zulip server doesn't have a real hostname.  It's a bug that we require a real hostname here (https://github.com/zulip/zulip/issues/9401), but as a workaround, you just need to set `EXTERNAL_HOST` to be a hostname, not an IP address (which you'll want to do for SSL anyway).

[2019-08-29 18:56] #13102 closed

[2019-08-29 19:04] timabbott commented on #13071
Tagging this as a priority mainly because it's likely not much work and will make life easier for other projects.

[2019-08-29 19:13] timabbott commented on #13104
Yes, you just need to send a message using the URI returned by the API endpoint.  The docs should really cover this; I'll fix this now.

[2019-08-29 19:14] timabbott commented on #13104
@zulip/server-integrations it looks like the upload endpoint is still using `client.call_endpoint` in the docs; we should probably extend `python-zulip-api` to have an explicit `client.upload_file` function that just returns the URI for you nicely.

[2019-08-29 19:47] timabbott commented on #13104
Fixed in 6058e07d2336ee64bb4650198b2144bcdf068147

[2019-08-29 19:47] #13104 closed

[2019-08-29 19:53] #467 closed

[2019-08-29 19:53] #13027 closed

[2019-08-29 19:57] timabbott opened #13105 "Test and document support for Amazon RDS as the database"
Following #13092, it should be possible to use Amazon RDS (and similar database services) as the database for Zulip.  We should test doing that (installing a zulip server off `master`) and document what's required in terms of installation steps (the main thing being what one should pass in  https://zulip.readthedocs.io/en/latest/production/deployment.html#running-zulip-s-service-dependencies-on-di

[2019-08-29 20:51] mateuszmandera commented on #9401
@zulipbot claim

[2019-08-29 22:47] mateuszmandera commented on #9401
Posted a PR

[2019-08-29 23:21] timabbott commented on #13109
I've transferred this issue to the right repository.  @aero31aero this is probably a fairly straightforward typeahead fix if you want to claim it.

[2019-08-29 23:47] timabbott commented on #13094
We don't support this currently.  Are you suggesting you want to implement it?

[2019-08-30 00:30] #13070 closed

[2019-08-30 00:30] #13071 closed

[2019-08-30 05:49] zy0016 opened #13113 "Why there isn't the activate_this.py in zulip project"
Hello:
   In the "/home/git/zulip/scripts/lib/setup_path_on_import.py", the source code are:

if os.path.basename(sys.prefix) != "zulip-py3-venv":
    BASE_DIR = os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))
    venv = os.path.join(BASE_DIR, "zulip-py3-venv")
    activate_this = os.path.join(venv, "bin", "**activate_this.py**")
    activate_locals = dict(__file__=act

[2019-08-30 06:10] xkr47 commented on #7843
Here's another overflowing example for your copy-pasting pleasure:
ด้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็้้้้้็็็็็้้้้้้้้็็็็็

[2019-08-30 06:17] andersk commented on #13113
You need to follow the documentation for [installing a development environment](https://zulip.readthedocs.io/en/latest/development/overview.html).

[2019-08-30 06:17] #13113 closed

[2019-08-30 08:31] zy0016 opened #13114 "No module named 'zproject.prod_settings'"
Hello:
   I run the "./tools/provision", the system reports an error:
could you help me resolve it?
I follow the "https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-ubuntu-debian-centos-or-fedora"
guide.

zulipdev@zuliphcl:~/zulip$ ./tools/provision
No changes to apt dependencies, so skipping apt operations.
+ sudo -H -- env http_proxy= https_proxy= no_pr

[2019-08-30 13:18] rht commented on #10835
For prior work: #11307

[2019-08-30 13:25] fredczj commented on #12976
Hi, sorry for the late answer.
I will try some additional couple of options, removing synchronization with LDAP data and account clean-up if not available in LDAP... I may have missed some cross-options.
I keep you posted

[2019-08-30 15:16] fredczj commented on #12976
So nothing works.
I disabled/enabled my synchronization cron, something I didn't test.

`/home/zulip/deployments/current/manage.py sync_ldap_user_data`

What is strange is that I cannot see any trace of the user that has just been registered. The link to 'create user account' seems to work and indicates everything worked correctly. But then, I cannot find any trace of the user in the user list.

[2019-08-30 15:20] fredczj commented on #12976
I cannot find any reference to `email_belongs_to_ldap` in my current zulip settings.

[2019-08-30 21:39] timabbott commented on #12976
@fredczj this is because the users are marked as deactivated; go to the "Deactivated users" admin panel to see deactivated users.

[2019-08-30 21:40] timabbott commented on #13114
Can you upload `var/log/provision.log`?  It's not clear what the cause of the failure is from the output you've pasted.  And what OS are you using?  It sorta looks like a problem with symbolic links on your system.

[2019-08-30 21:41] timabbott commented on #7843
That one seems to break GitHub in the same way.

[2019-08-30 21:59] #9401 closed

[2019-08-30 22:45] timabbott commented on #1516
A few notes on this:
* I think Zulip's "Delete stream" feature actually does something pretty similar to what @porterjamesj described above: The messages are still stored and accessible (though it's actually quite difficult to get to them through anything other than full-text search, since all the navigation hides them).
* The main work here would likely instead be providing a way to interact with

[2019-08-31 07:33] zy0016 commented on #13114
Hello
    Thanks,I will provide these next Monday.Because those data are in machine  in office.

Zhao Yong

-----原始邮件-----
发件人: "Tim Abbott" <notifications@github.com>
发送时间: ‎2019/‎8/‎31 5:41
收件人: "zulip/zulip" <zulip@noreply.github.com>
抄送: "zy0016" <zyabc12345@163.com>; "Author" <author@noreply.github.com>
主题: Re: [zulip/zulip] No module named 'zproject.prod_settings' (#13114)

Can you upload `v

[2019-09-01 06:15] richardgreg commented on #5087
I'm on it!

[2019-09-01 21:16] mateuszmandera commented on #12595
@zulipbot claim

[2019-09-02 02:09] zy0016 commented on #13114
Sorry, there isn't the var/log/provision.log in my server.

**root@zuliphcl:/var/log# uname -a
Linux zulipxxx 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux**
root@zuliphcl:/var/log# ls
alternatives.log  auth.log.2.gz  cloud-init.log         faillog         kern.log       lastlog     mail.log.2.gz  puppet      syslog       syslog.4.gz  tallylog
apt

[2019-09-02 02:49] zy0016 commented on #13114
Hello:
I find the file is in "/home/zulipdev/zulip/var/log", please check.
PROVISIONING STARTING.
+ sudo -- sh -c 'echo "$1" > "$2"' - bd74b511-fabc-4f16-9982-64dc1a40fd12 /home/zulipdev/.zulip-dev-uuid
+ sudo -- ./scripts/lib/setup-apt-repo
+ set -e
+ mkdir -p /var/lib/zulip
+ SOURCES_FILE=/etc/apt/sources.list.d/zulip.list
+ STAMP_FILE=/etc/apt/sources.list.d/zulip.list.apt-update-in-progress
++

[2019-09-02 02:50] zy0016 commented on #13114
My server:
zulipdev@zuliphcl:~$ uname -a
Linux zuliphcl 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
zulipdev@zuliphcl:~$

[2019-09-02 03:57] whoodes commented on #10798
@hackerkid have you worked on this already, or could I take a look at it?

[2019-09-02 03:58] whoodes commented on #12992
@thedeveloperr have you had a chance to work on this? (I was thinking of looking into working on an implementation for  #10798)

[2019-09-02 04:04] thedeveloperr commented on #12992
@whoodes you can start I have not done significant work on it other than reading some related code. I got distracted due to my some other previous PR and lost track of this one.

[2019-09-02 10:10] zy0016 opened #13121 "password authentication failed for user "zulip""
Hello:
    When I run the "./tools/provision",program prompts input the password for zulip user, I input the correct password but the program reports:"psql: FATAL:  password authentication failed for user "zulip""
who can tell me why the program report password authentication when I input correct password?

zulipdev@zuliphcl:~/zulip$ ./tools/provision
No changes to apt dependencies, so skipping ap

[2019-09-02 20:05] arpit551 commented on #13114
I think you are running it in a production environment so you have to use your own production settings. Looks like there is a template at zproject/prod_settings_template.py for production.
As in line 109 where ModuleNotFoundError came will only run when PRODUCTION will be true. @timabbott check this

[2019-09-03 00:00] rishig opened #13122 "right sidebar: Keyboard shortcuts icon should disappear in medium widths."
To reproduce:
* Turn the "User list on left sidebar in narrow windows" display setting on
* Narrow the window till there are 2 panes

You'll get stuff like
![image](https://user-images.githubusercontent.com/890911/64135978-0512eb00-cda3-11e9-8d55-7a1718076c0f.png)

You need the display setting turned on to hit the bug.

[2019-09-03 01:33] timabbott commented on #13122
@vinitS101 @YashRE42 @vrongmeal this may be a quick fix for one of you

[2019-09-03 02:10] timabbott commented on #13114
Agreed.  @zy0016 if you are trying to run Zulip in production, restart from here: https://zulip.readthedocs.io/en/stable/production/install.html

[2019-09-03 02:10] #13114 closed

[2019-09-03 05:06] mateuszmandera commented on #12595
PR submitted https://github.com/zulip/zulip/pull/13123

[2019-09-03 07:30] vrongmeal commented on #13122
Sure I'll take this up :) @zulipbot claim

[2019-09-03 07:43] mateuszmandera commented on #12501
@zulipbot claim

Got distracted by other things previously, will get on this properly now.

[2019-09-03 11:05] zy0016 opened #13124 "vagrant up --provider=docker reports error."
Hello:
I get an error when I am running the "sudo vagrant up --provider=docker", could you help me check it?
zulip@zuliphcl:/home/zulipdev/zulip$ sudo vagrant up --provider=docker
Bringing machine 'default' up with 'docker' provider...
==> default: Building the container from a Dockerfile...
    default: Sending build context to Docker daemon  4.608kB
    default: Step 1/8 : FROM ubuntu:18.04

[2019-09-03 16:19] gloels commented on #12940
@zulipbot still debugging test case failure.

[2019-09-03 16:51] richardgreg commented on #5087
This is the code I intend to insert into the Integrations dictionary:
[code]
@timabbott Is the `display_name` and the `category` accurate?

[2019-09-03 18:01] timabbott commented on #5087
Category seems right.  For display name, I'm not sure; Log2Zulip is probably a fine name.  I can imagine something more generic like "Log files" being more appropriate.

[2019-09-03 18:13] timabbott commented on #12940
@gloels you may want to post a WIP PR so other can help debug that test case failure.

[2019-09-03 18:16] timabbott commented on #13124
@andersk any idea what the issue is here?  `useradd: UID 0 is not unique` seems to suggest that `vagrant up` was run as root (given that UID should be `Process.uid` from Vagrant contxt), but that doesn't look to be the case given the terminal.

[2019-09-03 18:36] rk-for-zulip opened #13126 "Message when attempting to log into deactivated externally-authenticated account does not name account used"
When logging in via Google, if the user's current Google account is associated with a deactivated Zulip account, the message that appears — "Your account is no longer active. Please contact your organization administrator to reactivate it." — is visually associated with the email/password block, potentially obscuring the cause of the error.

The message should probably either appear next to the "L

[2019-09-03 18:47] #12595 closed

[2019-09-03 18:52] timabbott commented on #13126
Agreed, this would be nice to improve.

[2019-09-03 22:26] timabbott opened #13127 "Alert words only send desktop notiifcations"
"Alert Words" were an early Zulip feature built long before email and push notifications existed, and as a result of that legacy history, they actually only are able to send desktop notifications (just because it was never implemented).

We may want this to eventually have the full matrix of notification setting features, but this first change should just make it fire when PM/Mentions/(Alert) noti

[2019-09-03 23:37] andersk commented on #13124
It is the case—see the beginning of the report:

You should not use `sudo` when running `vagrant`. To recover, run

1. `sudo vagrant destroy` (that will probably tell you there was nothing to destroy, which is fine).
2. `sudo rm -r .vagrant` (to avoid permission errors later when running `vagrant` as yourself).
3. `vagrant up` (do not use `sudo`).

[2019-09-03 23:37] #13124 closed

[2019-09-04 02:29] andersk commented on #6507
`rapidjson` has similar behavior to upstream `ujson` on #6332. While `ujson` loads unpaired surrogates and refuses to dump them, `rapidjson` refuses to either load or dump them. I hesitate to call this a bug: there are clearly at least two and perhaps three things that have already gone wrong if we’ve gotten a JSON string including `'"\\udcef\\udcbf\\udcbd"'`. In fact, it’s probably better to refu

[2019-09-04 08:12] mateuszmandera opened #13130 "sync_ldap_user_data can deactivate all users if LDAP connection fails"
Reported here: https://chat.zulip.org/#narrow/stream/31-production-help/topic/sync_ldap_user_data.20in.202.2E0.2E4/near/784741

If ``ZulipLDAPAuthBackend`` is the only backend enabled, ``sync_ldap_user_data`` will deactivate all users if it can't connect to LDAP. This is because ``LDAP_DEACTIVATE_NON_MATCHING_USERS`` defaults to ``True`` if LDAP is the only backend enabled - and then we have this

[2019-09-04 11:25] kratsching commented on #13086
@timabbott thank you for your answer - I will check that out in october. If I find a solution I will come back here.

[2019-09-04 15:23] ab1nash commented on #4145
@zulipbot working on it. Review is pending

[2019-09-04 19:46] Kreyren opened #13133 "Zapier bot is not working"
Following instructions in https://rixotstudio.zulipchat.com/integrations/doc/zapier results in:

![image](https://user-images.githubusercontent.com/11302521/64286242-9d989f00-cf4c-11e9-9034-c2ee24605fad.png)

### STEPS TO REPRODUCE
Invoke `https://domain.zulipchat.com/api/v1/external/zapier?api_key=abcdefgh&stream=stream%20name`

[2019-09-04 20:10] rishig opened #13134 "stream settings: Use the .show-sender version of email address."
In stream settings, we should
* show `announce.b64ccc11942283fe612c93a0c57af830.show-sender@zulipdev.com` instead of `announce.b64ccc11942283fe612c93a0c57af830@zulipdev.com`
* The (?) should just be a `target=_blank` link to /help/message-a-stream-by-email. You can copy how we do this in other places, e.g. to the right of Organization profile at http://localhost:9991/#organization/organization-pro

[2019-09-04 20:33] rishig commented on #12500
Should this be closed?

[2019-09-04 21:10] rishig opened #13135 "billing: Keep track of user role in RealmAuditLog."
This will enable us to do things like charge different amounts for guests and members, and also keep track of user roles in analytics.

The steps here are probably:
* Add a `role` field on `UserProfile`, with values like
REALM_ADMINISTRATOR = 20
MEMBER = 40
GUEST = 60
and keep that in sync with UserProfile.is_guest and UserProfile.is_realm_admin.

* Add a RealmAuditLog entry USER_ROLE_CHANGED to k

[2019-09-04 21:52] gnprice commented on #6507
Makes sense! In fact it looks like I said something along the same lines in [my upstream PR](https://github.com/esnme/ultrajson/pull/284) for that situation:

If I'm understanding you right, I think your point is something like
* `rapidjson` has made a different choice for this situation, probably the better one -- so that's another small point in its favor overall
* but also it's a choice that wi

[2019-09-05 05:09] Rits1272 commented on #12553
@zulipbot claim

[2019-09-05 08:14] arpit551 commented on #12951
@zulipbot claim

[2019-09-05 08:27] whoodes commented on #10798
@zulipbot claim

[2019-09-05 08:35] mateuszmandera commented on #13134
@zulipbot claim

[2019-09-05 11:28] mateuszmandera commented on #13134
Posted a PR: https://github.com/zulip/zulip/pull/13136

[2019-09-05 12:55] santherics opened #13137 "LDAP sync error"
Zulip 2.0.4 in docker with LDAP authentication in AD
When I run
**su zulip -c "/home/zulip/deployments/current/manage.py sync_ldap_user_data -r '' -a"**
in docker container, Zulip client shows a white screen with a message like
{"result":"error","msg":"API usage exceeded rate limit","retry-after":8.3048295975}

[2019-09-05 18:10] ashutosh-b-b commented on #12553
@zulipbot claim

[2019-09-05 18:22] timabbott commented on #13137
@santherics do you have more than 100 users?  I think the root issue here is a problem fixed in master (where LDAP avatars get resynced every time you run that, triggering a lot of traffic).  You might want to upgrade to master to get the fix.

[2019-09-05 18:48] #13134 closed

[2019-09-05 18:58] timabbott opened #13139 "Fix "stream settings" handling of really long stream names"
Following 7ca65b2bb56cd333e0f8943f5267161b7db221f0, we still have some buggy handling of the "stream settings" section of the page:

![image](https://user-images.githubusercontent.com/2746074/64370909-3cb4a980-cfd4-11e9-9398-3035f0bf852c.png)

I'm not sure whether the right approach is elipses, line-wrapping, or what, but that is clearly wrong :)

[2019-09-05 18:59] #13130 closed

[2019-09-06 05:19] gameglz commented on #3783
Is it possible to add more roles to the organization ? such as staff members or mods. and have their roles displayed in the realm user list ?

[2019-09-06 16:27] vrongmeal commented on #13122
Do we want the display to be `none` or add more bottom space at bottom for the button to adjust

[2019-09-06 16:41] ghost opened #13142 "Certain topics get bugged- broken message"
We've encountered an error a couple times now where a topic will get bugged.

Symptoms: Posting and reading the topic usually work when viewing "All Messages" or the entire stream, but the message list empties out (displays no messages) if scoped in on the single topic and attempting to post- like there's a single message in the history that is bad. Scrolling up to try and "see" that message break

[2019-09-06 19:34] rishig commented on #10798
Thinking about this now, a much better design is just a two-column table with name and consent status.

We should also get rid of the third "No response" option.

[2019-09-06 21:16] rishig commented on #13122
`display: none`, thanks!

[2019-09-06 21:27] rishig commented on #10798
One more thing is that collecting consent etc. should only be live for a week. I.e. the flow should be:
* Admin clicks "start collecting consent"
* Users consent or say they don't consent
* At any point in the 7 days since the start of step 1, the admin can click "export" to export with whoever has given consent at that time. They can do this multiple times (up to 5/wk).
* After a week is up, they

[2019-09-06 23:41] timabbott commented on #13121
I'm not sure what you're doing but it kinda sounds like you're mixing a production and development environment.  I don't think there's a bug in zulip here; our development tooling in `tools/setup/postgres-init-dev-db` will automatically generate a `.pgpass` to handle passwords transparently for you; one should never get this prompt as a result.

[2019-09-06 23:41] #13121 closed

[2019-09-06 23:48] timabbott commented on #13142
Interesting, thanks for the report!  I don't think we've seen this exception before.

I'm not sure we can easily debug this from just the traceback.  If you want to add some code that catches that exception and uses `blueslip.log` statements to record what message ID is involved, you should be able to find the message and what emoji code/name is involved (accessable after the exception is seen wit

[2019-09-06 23:50] timabbott commented on #3783
@gameglz it's certainly possible to do so with a significant fork, but we don't have a system for adding those inexpensively.  What do you have in mind?

[2019-09-06 23:52] timabbott commented on #13137
We just extended our docs with a new guide on upgrading to master: https://zulip.readthedocs.io/en/latest/production/modifying-zulip.html, in case you want to try it out to test this; I would like to get confirmation that upgrading to master fixes this issue for you (should also fix the desktop app issue that I think you're on the thread for).

[2019-09-06 23:59] timabbott commented on #13135
I think `old_value: 60` is the right model for a `RealmAuditLog` entry for this.

[2019-09-06 23:59] timabbott commented on #12500
Yeah, I think so, given that we've settled on a syntax we like that resolves this issue (by using `.` rather than `-` as the delimiter between options).

[2019-09-06 23:59] #12500 closed

[2019-09-07 07:29] thedeveloperr commented on #13052
@zulipbot claim

[2019-09-07 07:42] thedeveloperr commented on #13135
@zulipbot claim

[2019-09-07 14:50] maltokyo opened #13144 "Email gateway postfix fatal error - "fatal: in parameter smtpd_relay_restrictions or smtpd_recipient_restrictions" - with workaround"
I set up the email gateway without issue.  But postfix mail log kept throwing this error:

[code]

Inserting the line:
compatibility_level=2
into the postfix `main.cf` seems to have fixed it as a dirty hack, but I have no idea what the real fix should be, as this will be overwritten by puppet (I could not find how to configure puppet)

Any help would be appreciated.

[2019-09-08 13:07] richardgreg commented on #5087
@zulipbot claim

[2019-09-08 22:44] timabbott commented on #13144
This is fixed in master.  I'll try to get out the 2.0.5 release with this fix.

[2019-09-08 23:42] #12822 closed

[2019-09-09 05:14] maltokyo commented on #13144
Can I use master on my own server? Is just doing a clone from github master
stable enough?

On Mon, 9 Sep 2019 at 00:44, Tim Abbott <notifications@github.com> wrote:

[2019-09-09 06:52] maltokyo opened #13148 "Ios and web view (android too?) don’t go to first unread message in stream/topic"
When my users enter a topic with unread messages from the “unread messages” page, they expect to be taken to the first unread message, rather than to the top of the topic and have to scroll all the way down to the unread ones. Is it possible to go directly to the first unread message, when clicking on a topic? Maybe I missed something in setup or config/preferences?

[2019-09-09 09:04] luckyraul opened #13149 "Bot availablity status in pm"
If you send PM to a bot it has always unavailable status. Even if it is online and replying

[2019-09-09 10:53] kushthedude commented on #12940
@zulipbot claim

[2019-09-09 12:35] kkoderr commented on #12951
@zulipbot claim

[2019-09-09 14:23] gloels commented on #12940
@kushthedude Here is a zulip chat conversation regarding this issue:
https://chat.zulip.org/#narrow/stream/49-development-help/topic/ReactionEmojiTest.20Failure/near/784111

[2019-09-09 16:50] kushthedude commented on #12940
@gloels Thanks, I will take a look into it.

[2019-09-09 17:13] mateuszmandera commented on #13144
We have a script for upgrading from git, you can take a look at this:
https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-from-a-git-repository

[2019-09-09 21:33] timabbott commented on #13088
If we do the service worker plan and it works, we should be sure to open a mobile app issue for doing the same technique.

[2019-09-10 02:39] rishig opened #13153 "setting: Turn on "Include organization name in subject of missed message emails" for second realms."
When you join a realm:
* If it is the first realm you joined on that server, "Include organization name in subject of missed message emails" should default to False.
* If it is the second realm you joined on that server, it should default to True, and we should also change the value of that setting in your previous realm to True.
* If it is the third+ realm you joined on that server, it should def

[2019-09-10 15:43] pyrocto commented on #7620
Seems like some of these issues have reappeared:

[code]

renders as
![image](https://user-images.githubusercontent.com/30355933/64628647-0483e100-d3af-11e9-8d55-a27c15d2f426.png)

However, `$$2_{2_{2_{2_{2_{2_{2_2}}}}}}=1^{1^{1^{1^{1^{1^{1^1}}}}}}$$` renders correctly:
<img width="125" alt="Screen Shot 2019-09-10 at 9 41 55 AM" src="https://user-images.githubusercontent.com/30355933/64628787-4281

[2019-09-10 16:11] datamuc commented on #526
@ruchit2801 that's exactly what I want

[2019-09-10 19:02] andersk commented on #7620
@pyrocto That’s a different bug, but I’ve fixed it as #13154.

[2019-09-10 21:36] clarammdantas commented on #12947
@zulipbot claim

[2019-09-10 21:47] joaomcarvalho commented on #12629
@zulipbot claim

[2019-09-10 22:16] timabbott commented on #716
Now that we've reworked our `python-social-auth` integration to work nicely, it should now be about 100 lines of code to add an integration for an authentication backend like SAML supported by `python-social-auth`.  This is something the core team would be happy to prioritize if we have an organization interested in testing such an integration.

https://zulip.readthedocs.io/en/latest/production/au

[2019-09-10 23:08] timabbott commented on #13153
I think this makes sense to migrate for existing realms in this change, yes.  @hackerkid this is probably a good project for your TODO list since you did the previous special logic for joining additional realms on a server.

[2019-09-10 23:09] timabbott commented on #13148
This is a known issue in the mobile apps and being worked on actively.

[2019-09-11 18:42] timabbott commented on #13149
@luckyraul thanks for the report.  I think the right fix is we should never show a "status" in the compose box for bots.

@rishig FYI for confirmation.

[2019-09-11 18:51] rishig commented on #13149
I'm not sure how a bot could have gotten a status at all?

[2019-09-11 22:28] timabbott commented on #13149
It doesn't.  This is the compose placeholder text reporting the bot doesn't have a status, I think?

@luckyraul can you post a screenshot?

[2019-09-11 22:54] mateuszmandera commented on #716
@zulipbot claim

[2019-09-12 00:24] timabbott commented on #13144
This was fixed in the 2.0.5 release today.

[2019-09-12 00:24] #13144 closed

[2019-09-12 03:08] vaibhavrajsingh2001 commented on #13149
@zulipbot claim

[2019-09-12 03:14] antfitch commented on #4120
Hi, I see that this issue is still open. What is the current status of this request? I'm new to Zulip, but this looks like an interesting task to take on.

[2019-09-12 05:59] vinitS101 commented on #13149
I guess this is an issue related to #12866 so the solution should be easy.
This is a good first issue, I think, and I can guide @vaibhavrajsingh2001 if he can work on this.

[2019-09-13 02:35] kushthedude opened #13162 "Settings: Change username to `bot email` in bot settings"
This could be reworked as a new issue for just the remaining change (changing `username` to `bot email`

_Originally posted by @timabbott in https://github.com/zulip/zulip/pull/10627#issuecomment-530919948_

[2019-09-13 08:46] stephanemagnenat opened #13165 "Documentation: Broken link from "multiple organizations" to "technically focused article on realms""
The link to "technically focused article on realms" (https://github.com/zulip/zulip/blob/master/docs/subsystems/realms.html) from https://github.com/zulip/zulip/blob/master/docs/production/multiple-organizations.md is broken.

[2019-09-13 08:57] stephanemagnenat commented on #12467
I have a similar comment: Is there a reason why the night mode does not have a black background instead of dark gray? It would save energy on OLED screens and increase contrast. The way signal does it looks nice.

[2019-09-13 08:59] stephanemagnenat opened #13166 "Night mode: Android bottom navigation is not in dark mode on Android 9"
On my Galaxy S9 with Android 9, Zulip in night mode has a light Android system bottom navigation bar. Signal, on the contrary, has the dark one.

[2019-09-13 12:17] hackerkid commented on #13060
@zulipbot claim

[2019-09-13 12:24] santherics commented on #13137
I upgraded Zulip server to master and reproduced this behavior 2 times from 5.

[2019-09-13 17:08] andersk commented on #13166
Are you using the website in a mobile browser (this repository), or the app from Play Store ([zulip-mobile repository](https://github.com/zulip/zulip-mobile))?

This may be the same issue as zulip/zulip-mobile#3402.

[2019-09-13 17:29] andersk commented on #12467
Signal [doesn’t use pure black](https://community.signalusers.org/t/restore-black-background-as-dark-theme-or/4571) either; the energy difference is [almost unmeasurable](https://www.xda-developers.com/amoled-black-vs-gray-dark-mode/) and the added contrast with pure black can actually [increase eye strain](https://uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/

[2019-09-13 19:10] timabbott commented on #13137
OK, cool, so there's still a bug here, thanks for the investigation!  There's two things that can help debug this:
(1) Look at `/var/log/zulip/server.log` to see what requests were being made that hit the rate limit
(2) Using the browser developer tools "Network" tab, watch what responses are being sent by the server to the "events" endpoint.

My guess is you'll learn something like the LDAP sync

[2019-09-13 19:15] timabbott commented on #11087
Reopening since we reverted the "fix" because it broke ReadTheDocs.

[2019-09-13 19:16] timabbott commented on #13165
This is GitHub's fault mostly; those docs are meant to be read in ReadTheDocs, not via GitHub.  See https://github.com/zulip/zulip/issues/11087.

[2019-09-13 19:16] #13165 closed

[2019-09-13 19:29] stephanemagnenat commented on #13166
Yes I am using the app client and it is the same issue as the one you mentioned. I'm closing this one, sorry for the noise.

[2019-09-13 19:29] #13166 closed

[2019-09-13 19:36] stephanemagnenat commented on #12467
You are right about signal, and sorry for posting to the wrong issue. Yet signal (and other apps with dark mode) tend to have darker background than zulip is using, either for private and other messages. However, I realise I'm posting that to the wrong repository as I was considering the app. Should I post to the other repository rather? Or is this part of the code shared?

[2019-09-13 20:18] timabbott commented on #6581
This is a pretty tricky issue because the focus change is a default browser behavior and moving the focus after the click is a fundamentally messy kind of change; removing "good first issue"

[2019-09-13 21:36] maxandersen commented on #12309
I'm a new user of zulip and happy about its topic centric approach.

I'm though surprised the lack of a "follow" thread is kinda making it 'weak' as I now still have to go back manually and check the zulip window if someone responded to a thread without mentioning my nick.

Big +1 for having this :)

[2019-09-13 21:36] Aasfga commented on #6581
Oh, I didn't know that :/ Maybe disabling this default behavior will be better? I've found that something like that is possible, but I haven't checked it yet.

[2019-09-13 23:21] kushthedude commented on #13162
@zulipbot claim

[2019-09-14 01:01] gnprice opened #13167 "API documentation for describing a narrow"
Continuing a thread from https://github.com/zulip/zulip-mobile/issues/3525#issuecomment-526747210 . We're discussing there the API for querying a narrow, and the new feature of using user IDs rather than email addresses.

There's some partial documentation here:
https://chat.zulip.org/api/construct-narrow
but it doesn't yet have the information needed to use the API.

[2019-09-14 01:06] gnprice commented on #13167
Picking up the thread after I'd asked about `pm-with` and `group-pm-with`, @timabbott wrote:

Interesting -- how are you looking at this in the browser inspector? The closest I readily find is in the network tab, when I go to such a narrow, there's a request... with the narrow all percent-encoded in the URL. Do you have a more convenient way to see it?

In any case, what I'm really asking for is f

[2019-09-14 01:09] gnprice commented on #13167
In the case of `pm-with` there's another recurring wrinkle (or pair of wrinkles) that I'd very much want to see specifically documented when using this API:
* does it include the self-user, or only the other users in the thread?
* (particularly if it doesn't include the self-user): how is the self-1:1 thread named? Is it an empty list, or is it an exception where the list does include one's own ID

[2019-09-14 02:16] gameglz commented on #3783
Like more roles that can be displayed in the server for different users or if this is customizable that would be even better. Sometimes we have lead staffs/support staffs or even team project managers in the server but we cant give them a roll or any recognition due to the lack of roles and authorities...
It seems very awkward when new people join in and dont know whos who..
Also theres another ma

[2019-09-15 15:44] KlebersonCanuto commented on #12853
@zulipbot claim

[2019-09-16 00:47] FMota0 commented on #13093
The problem is that when an Unicode character is typed it triggers the 'compositionend' event, but this event is used to handle the case where the user lefts the search bar using enter, so the first enter is used to "left" the search bar, the second one is triggers the search on the 'keyup' event.

[2019-09-16 04:26] luyenlvVNC opened #13169 "Android: Cannot connect to server"
Hi There.

I installed the android zulip app v.26.5.128 on Samsung note 9.

So, i cannot connect to server https://vinibacklog.com

https://www.ssllabs.com/ssltest/analyze.html?d=vinibacklog.com

nginx version: 1.10.3
zulip version: 2.0.4

How to resolve it?

Thank for your help!

[2019-09-16 05:33] peacepenguin commented on #716
I would love to help test and debug any alpha/beta saml implementations for Zulip. In not the best with python but 100 lines to enable this feature doesn't sound too bad. I'll take a stab at writing some python, but I also have lots of SAML integration experience in case someone puts out something to test I'll grab it and give feedback.

[2019-09-16 09:53] santherics commented on #13137
(1)
2019-09-13 11:59:16.982 INFO [zulip.sync_ldap_user_data] Updated email4@example-domain.com.
2019-09-13 11:59:17.010 INFO [zr] 10.200.10.60    GET     200   4ms /json/events [1568374429:5/1/realm_user] (email2@example-domain.com via ZulipElectron)
2019-09-13 11:59:17.101 INFO [zr] 10.200.10.60    GET     200   3ms (lp: 40ms) /json/events [1568374429:4/1/realm_user] (email3@example-domain.com vi

[2019-09-16 11:17] aero31aero commented on #12947
The rendering logic is in `zerver/lib/widgets.py`. We have at least two ways to handle this:

1. Implement support for `[]()` style links only, in widgets.py.
2. Create an instance of our markdown renderer that only runs InlineProcessors and we get things like Autolink, Emphasis, Strong etc all in one go.

Both these approaches could work by rendering a line/option at a time, because we already ha

[2019-09-16 16:49] anthnykiedis commented on #12505
@zulipbot claim

[2019-09-16 19:25] eMPee584 opened #13170 "Protected polls where only the original poster can edit options"
This does not seem currently possible, right?

[2019-09-16 22:57] timabbott commented on #13170
Correct, that's not currently supported.  Certainly a reasonable feature to add.

[2019-09-16 23:01] timabbott commented on #13137
@santherics hmm, annoying that you can't reproduce it.  Do you have any custom profile fields setup to be synced from LDAP?

My read of `sync_custom_profile_fields_from_ldap` is that it has the same bug we had with avatars, namely that it'll trigger an update of the custom profile field data regardless of whether it's actually changed.  I think there's a good chance that's the root cause of the is

[2019-09-16 23:51] timabbott opened #13172 "Add support for logged-out reading of Zulip history for public organizations"
This is the master issue for the large project of supporting viewing logged-out Zulip history.  This is useful for two major uses case:
* For community and open source projects, to make it possible to browse and search history after clicking a link without logging in, making Zulip more fully replace the use case of a project forum.
* As a demo of the Zulip UI that doesn't require signing up for an

[2019-09-17 00:08] timabbott commented on #13167
If you click on the "Headers" tab for a request

![image](https://user-images.githubusercontent.com/2746074/65001224-8a1dfa00-d8a3-11e9-9d82-29081ac2dd9c.png)

and scroll to the bottom:

![image](https://user-images.githubusercontent.com/2746074/65001204-75d9fd00-d8a3-11e9-8c04-c9b9a7832103.png)

that has what was sent in JSON format.

I'll try to address the rest in a revision.

[2019-09-17 00:18] timabbott commented on #13167
Just merged a fix for this; sorry about all the typos.  Hopefully that Chrome Network inspector feature is useful for investigating other questions in the future, though I agree we should ideally document them all.

[2019-09-17 02:25] aero31aero commented on #12669
@arthurpankiewicz I might have some good news on this. We recently merged some code that allows you to import out-of-tree bots in botserver. If you're willing to test this, you would need to install the zulip-botserver package from git; we haven't published a release since this was merged.

https://github.com/zulip/python-zulip-api/pull/523

[2019-09-17 11:28] scadu commented on #1739
@timabbott that's the workaround I currently use. There is one issue though. I don't always recall to check starred messages, especially when switching contexts, so it's fairly easy to lost something.

[2019-09-17 12:45] janLo commented on #12239
Is it possible to include this fix in the next 2.0.x release?

[2019-09-17 13:15] aliblong opened #13173 "Sporadic internal server errors"
I'm getting a bunch of 500: internal server errors with no cause that I can discern. Here are some checks I did during the periods of errors:
<details>
<summary>`supervisorctl status` shows all systems go

</summary>

[code]

</details>
<details>
<summary>`rabbitmqctl status` seems normal</summary>

[code]
</details>

<details>
<summary>content of `/var/log/zulip/errors.log` seems benign</summary>

[2019-09-17 15:40] vfazio opened #13175 "Direct file transfers via WebRTC"
Any chance of allowing peer-to-peer file transfers? Uploading and sharing a link isn't always feasible for larger files as it requires additional space and time. Utilizing the zulip server as the middle man in establishing direct connections would allow sending files to colleagues be a bit more convenient vs having to find another software suite to do this.

[2019-09-17 18:48] timabbott commented on #13175
It's something we could consider.  I doubt the core team is likely to invest a lot of effort into this direction unless someone can suggest a library that takes care of it.

Can you talk more about the use case?  E.g. is the problem that you're on a local network that's fast but with a poor connection to the Internet / Zulip server, or is it about saving storage on the server because the files are

[2019-09-17 18:49] timabbott commented on #13169
Have you reviewed https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#troubleshooting?

[2019-09-17 18:51] timabbott commented on #13173
This part doesn't seem benign:

`2019-09-15 05:18:47.877 WARN [django.security.csrf] Forbidden (CSRF token missing or incorrect.): /json/users/me/presence`

You can likely get more context in `/var/log/zulip/server.log`, but my guess is some configuration issue around how you've put Zulip behind a proxy (or something) is breaking the CSRF security measure.  Can't guess more without details on exac

[2019-09-17 19:04] vfazio commented on #13175
yea, it's mostly due to the enormity of the files we send (ISOs, full filesystem images, etc). Uploading this to another service requires an additional N amount of storage space and M amount of time for the download and an extra step to remove the file from the zulip uploads.

Our zulip instance is on our LAN, so the speeds there are fine, but uploading an 8G+ file to zulip, that in essence should

[2019-09-17 19:18] dustinheestand commented on #12912
I've spent some time with the issue, and I think the `has:link` field is going to need to be calculated post-rendering. The issue is that the `has_a` method only functions on "interesting" links (like Youtube); for the most part, the guts of Markdown handle adding `a` tags. I couldn't figure out a way to configure Markdown such that triggering a certain inline pattern (as registered in the `build_

[2019-09-17 19:21] dustinheestand commented on #12912
@sysmray It is indeed natural and simple to fix the message edit issue as part of resolving this issue. I'm working on a commit that fixes both issues.

[2019-09-17 19:45] timabbott commented on #13050
OK, I think I reproduced another instance of this issue: In 1620x844 window, after clicking "private messages" and scrolling through that container, and then navigating to "Starred messages" or any other view that doesn't show topics, there's a momentary flash when the left sidebar spacing just cuts off (less reproducably, I've seen it not fix itself and just be temporarily flipped).

@andersk is

[2019-09-17 19:50] vfazio commented on #13175
Sample library

https://github.com/feross/simple-peer

[2019-09-17 20:11] timabbott commented on #12239
@janLo yep!  I've staged it in the branch for 2.0.x releases.

[2019-09-17 20:14] timabbott commented on #13175
Great, that seems like one possible way to do this.  Agreed you'd need to patch Zulip to do this.  I'm not sure whether it makes sense to add this as a native feature using e.g. that library or just making it easy to use an existing P2P file transfer tool with the links included in Zulip.

[2019-09-17 20:16] timabbott commented on #12912
I believe every link generated by Zulip's markdown processor is done through the `add_a` function; we've disabled all the native markdown methods for creating a link not through code paths we control, since we need to do security rule validation.

@aero31aero may be above to provide some additional thoughts here, since he's in the process of refactoring some parts of our link implementation.

[2019-09-17 20:21] timabbott commented on #716
@peacepenguin awesome!  We'll let you know when we have something testable.

[2019-09-17 20:27] timabbott commented on #1739
There's a setting for making starred messages appear with unread-style counts:

![image](https://user-images.githubusercontent.com/2746074/65077009-ea1daa80-d94e-11e9-8651-61c0a71712c7.png)

[2019-09-17 21:24] aero31aero commented on #12912
I don't think `add_a` is the only point we need to look at here. Of the top of my head, I recall `url_to_a` being used in our AutoLink code.

Without reworking url_to_a to use add_a, we do have one common point where all links in text are parsed: the walk_tree method called by our interesting links processor. It should be easy to set a flag to true if we find any a tag in that code.

[2019-09-17 22:00] joaomcarvalho commented on #12629
@zulipbot abandon

[2019-09-17 22:01] joaomcarvalho commented on #13162
@zulipbot claim

[2019-09-17 23:54] aliblong commented on #13173
Thanks for your quick response!

Two things I've noticed:
* Errors in the nginx log matching the one described in #8600
* Django warnings about not having the public IP address of the host machine in `ALLOWED_HOSTS`

For the latter, I went ahead and added the IP address to `ALLOWED_HOSTS` (I hope this is not incorrect). Not sure what to do for the former. It shouldn't be an OoM error as in #8600 s

[2019-09-18 00:24] timabbott commented on #13127
Oops, I didn't mean to assign myself.  We'll likely fix this as part of our broader effort on notification settings.

[2019-09-18 00:29] timabbott opened #13180 "Improve load characteristics of the user_activity queue worker"
This is a priority issue because it is causing queuing both on zulipchat.com and in some other installations, and we don't have a good recommendation for how to work around it.

The basic issue is that we have this queue worker, which we need because Tornado isn't allowed to connect directly to the database:

[code]

which is configured to only support a single process.  The `do_update_user_activi

[2019-09-18 00:44] timabbott commented on #13173
Do you have a proxy?  It looks like there may be a proxy (or something) blocking websockets.

[2019-09-18 01:30] dustinheestand commented on #12912
Thanks guys, this makes sense and I understand the code flow now. I'll work
on this tonight.

On Tue, Sep 17, 2019, 14:24 Rohitt Vashishtha <notifications@github.com>
wrote:

[2019-09-18 02:24] aliblong commented on #13173
I don't think so. I never explicitly set one up.

[2019-09-18 14:36] vfazio commented on #13175
Do you mind speaking to how you'd imagine integrating an existing P2P solution into zulip? what would the workflow be? Are you thinking of popping a modal with the P2P site? just trying to envision it.

[2019-09-18 16:25] thedeveloperr commented on #13052
Still working on it.

[2019-09-18 16:25] thedeveloperr commented on #13135
Still working on it.

[2019-09-18 18:21] timabbott opened #13184 "Move backups documentation to a new top section in export-and-import.md"
As a small reorganization of our documentation, we should move our docs for backups to the same page as our docs for export / import, so we don't need potentially missed cross-links between those pages.  (Also, the "backups" docs are now fairly long and sorta interrupt the discussion of maintaining a server).

See discussion here for some background: https://chat.zulip.org/#narrow/stream/31-produc

[2019-09-18 18:44] #12067 closed

[2019-09-18 18:44] #12498 closed

[2019-09-18 18:45] timabbott commented on #12498
I just merged a commit that should fix this as well as #12067.  If you'd like to test it, I've backported the relevant commit to the `2.0.0-series` branch, so you can you use `upgrade-zulip-from-git 2.0.0-series` to get the changes.

[2019-09-18 19:13] timabbott commented on #13173
Adding the IP to `ALLOWED_HOSTS` was definitely correct.  Do you have a firewall between your users and the Zulip server?

[2019-09-18 19:14] timabbott commented on #13173
Also, is it possible those times are just times when you restarted your Zulip server?

[2019-09-18 19:24] timabbott commented on #13175
Yeah, something along those lines.  I don't have time to think about this in great detail.

I guess the simple workaround is to just send a Zulip message containing a link to a P2P fileshare URL.

[2019-09-18 20:05] aliblong commented on #13173
There's no firewall, and the server log at the time of the issue doesn't indicate any restart (I definitely never initiated one myself).

[2019-09-18 20:35] jasonaowen commented on #12067
Thank you for fixing this, @timabbott! I look forward to this being released.

[2019-09-18 21:36] timabbott opened #13192 "Optimize our search typeahead in organizations with 10,000+ users"
In large organizations like chat.zulip.org, it appears our search box typeahead has gotten really laggy, likely just due to the large number of users causing some list being handled to be too big.

Here's a profile in chat.zulip.org; it's likely reproducible in development using `manage.py populate_db --extra-users=12000` to create a ton of users.

![image](https://user-images.githubusercontent.co

[2019-09-18 22:44] timabbott opened #13193 "Avoid out-of-office auto-replies with Zulip's missed-message emails"
We got a report of an organization suffering from every message sent to a given stream resulting in a missed-message email (to a user who'd configured such notifications) which in turn got a vacation/out-of-office auto reply.

We should figure out what HTTP headers we can set in our missed-message emails to avoid getting such auto-replies, and also modify the email gateway to avoid processing them

[2019-09-19 00:40] #13149 closed

[2019-09-19 10:30] maltokyo commented on #10612
Hello, I am not sure if this is the right place.  I will try anyway, and please guide me to the correct place if it is not.

In my Zulip self-hosted server (version 2.0.5, Ubuntu 18.04 latest update) I setup the email gateway and it works well, as per here to email a stream: https://zulipchat.com/help/message-a-stream-by-email

However, when I add the configuration option `.show-sender` to the ema

[2019-09-19 15:13] victorphoenix3 commented on #9614
@zulipbot  claim

[2019-09-19 18:22] mateuszmandera commented on #10612
@maltokyo Perhaps you should post about this at https://chat.zulip.org/#narrow/stream/31-production-help , it's the easiest place to get help with issues like this. And could you show what's in
``/var/log/zulip/errors.log``  and ``/var/log/zulip/email_mirror.log`` ?

[2019-09-19 19:23] timabbott commented on #12302
@YJDave just noticed this is still open; I guess when you submit your next PR extending this, we should close it?

[2019-09-19 19:47] timabbott commented on #10612
@maltokyo the `.show-sender` feature is new in the upcoming Zulip 2.1.  you can upgrade to master to get that feature.

[2019-09-19 19:48] mateuszmandera commented on #10612
Ohhh, right, I forgot that wasn't added in 2.0.5, my bad.

[2019-09-19 19:55] timabbott commented on #12878
Just to update the status of the issue:
* The system is complete; see `zerver/openapi/test_curl_examples.py` and `zerver/lib/bugdown/api_code_examples.py` for the implementation
* We've only converted one endpoint to it:
[code]

The remaining work is to convert all of our other curl examples to this system, ideally changing their output only in ways we think are an improvement in the process.

One

[2019-09-19 20:48] maltokyo commented on #10612
Thank you all. What is the github upgrade label to use for master?

On Thu, 19 Sep 2019 at 21:48, mateuszmandera <notifications@github.com>
wrote:

[2019-09-19 20:51] mateuszmandera commented on #10612
@maltokyo You can check this part of our docs for doing the upgrade: https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-from-a-git-repository

[2019-09-19 21:00] maltokyo commented on #10612
Thank you again. I normally use that method but missed the “master” line in
there. Great!

On Thu, 19 Sep 2019 at 22:52, mateuszmandera <notifications@github.com>
wrote:

[2019-09-20 12:30] maltokyo commented on #10271
Is there a version that has badge icon unread message counts that we can use on mobile?  I read a lot of issues about this, but no conclusions on if it will be implemented.

[2019-09-20 12:34] aliblong commented on #13173
Closing this for now since I haven't gotten a single 500 since I opened the issue.

To summarize, the only thing I've done is add the IP address of the instance to `ALLOWED_HOSTS`, and it's unclear if that was in any way related to the issue.

[2019-09-20 12:34] #13173 closed

[2019-09-21 01:30] timabbott commented on #10271
That's been fully implemented as works well on Android.  I'm not sure how much plumbing is required to make this work on iOS; @gnprice would know.  But probably not a ton.

[2019-09-21 12:06] faizan2700 commented on #10539
Is someone still working on this issue ? Please assign me if no one is working on this I have checked some other issues too. Can someone suggest me unclaimed issues (given that I am first time contributer  and want to contribute to "good first issue type" ) . Thank you in advance

[2019-09-21 15:23] maltokyo commented on #10271
Hello Greg @gnprice - would you have any insights here, or something I could try?  My users are desperate for this feature.

[2019-09-21 18:49] #13180 closed

[2019-09-21 18:58] timabbott commented on #10539
@faizan2700 you're welcome to work on this!

You can start with picking up the work in https://github.com/zulip/zulip/pull/12041, which seems to have gotten lost due to the author disappearing.  Our `reset-to-pull-request` tool may be helpful.

Check out our [GitHub guide](https://zulip.readthedocs.io/en/latest/git-guide.html) and [commit guidelines](https://zulip.readthedocs.io/en/latest/contribu

[2019-09-21 20:34] rishig opened #13209 "support: do_change_realm_subdomain should clear relevant cache."
If you run `do_change_realm_subdomain` on a subdomain X in production, and then go to zulipchat.com/new to create a new realm with subdomain X, you'll get "subdomain name unavailable".

You can fix this by flushing memcached, which suggests there's some cache entry that do_change_realm_subdomain should be clearing.

[2019-09-22 18:26] stanzheng commented on #1516
hey @timabbott thanks for addressing this!

do you think this is a priority that could be added to the roadmap and designed so possibly someone could work on this?

In the capacity of someone being "not joined to a channel" but able to view, could this be changed so that it makes a stream "unsubscribable" so it not editable?

This seems like a shortcut way that is supported in the application alre

[2019-09-23 00:51] matheuscmelo commented on #12380
Working on this in #13208

[2019-09-23 10:02] alistair-low commented on #11845
Personally, I find the night mode colour scheme a bit too blue, so I have custom CSS to change the background to dark grey (38, 38, 38). That's a good enough workaround for me, but maybe having some settings would help other users.

[2019-09-23 16:37] vaibhavrajsingh2001 commented on #13139
@zulipbot I have my exams going on right now. Will push a PR by this weekend

[2019-09-23 18:01] rishig commented on #13153
update: https://github.com/zulip/zulip/commit/2646d70cbd634757ccb38f37117d4ace5a69020d may be
a sufficient fix for the underlying issue here, so let's hold on this for now.

[2019-09-23 18:52] timabbott commented on #13209
Hmm, from the code, it certainly looks like this should work correctly.

[code]

[2019-09-23 18:53] timabbott commented on #13209
And I think the test in question goes directly to the database:

[code]

I'll try to repro in development.

[2019-09-23 19:57] timabbott opened #13214 "Clean up output from `clean-unused-caches`"
As shown in https://github.com/zulip/zulip/pull/13201#issue-319518675, we have way too much verbose output from `scripts/lib/clean-unused-caches`, coming from the shared helper method `may_be_perform_purging`.

I think we want `scripts/purge-old-deployments` to pass an option to that code path that suppresses the heading output in its subroutines for particular types of caches.  This change should

[2019-09-23 20:16] timabbott commented on #8914
This issue was resolved through dropping Python 3.4 support.

[2019-09-23 20:16] #8914 closed

[2019-09-23 20:17] timabbott commented on #12191
This was caused by them removing Python 3.4 support; fixed for us since we no longer support Python 3.4 either.

[2019-09-23 20:17] #12191 closed

[2019-09-23 22:32] gnprice commented on #8177
I looked further into this today after @timabbott [provided an example](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/photo.20upload/near/787915) of it on chat.zulip.org, and following helpful reports on zulip/zulip-mobile#3583 from another user trying several devices. I think we have a diagnosis!

Details of my investigation are at https://github.com/zulip/zulip-mobile/issues/3583#i

[2019-09-23 22:50] timabbott commented on #1516
I think this is something where if there were someone committed to spending dozens of hours working on building this, I'd be happy to spend the couple hours of my time required to design it properly.  I don't think there's enough demand from this to invest that time without someone committed to do the work.

[2019-09-23 22:55] #13162 closed

[2019-09-23 23:07] andersk opened #13216 "Automatically update groonga repository keyring on Debian 10 buster"
#13212 installs groonga-keyring on Debian 9 stretch but not Debian 10 buster because it isn’t yet available there (groonga/packages.groonga.org#16). When it becomes available, we should install it.

[2019-09-23 23:09] #7843 closed

[2019-09-23 23:19] andersk commented on #8177
I don’t think it’s feasible to detect the orientation on the client at download time because the browser doesn’t expose the bytes of the encoded image to JS. All the client-side solutions I see seem to be about detecting the orientation at upload time.

Thumbor already has a `RESPECT_ORIENTATION` option defaulting to `False` that we could enable.

[2019-09-24 00:01] gnprice commented on #8177
Hmm. That certainly makes sense, but...

some of the suggested solutions on those SO threads certainly appeared to be doing the detection in the client at display time.

I hadn't dug into how they accomplished that. Looking at one of them now, it turns out:
https://github.com/exif-js/exif-js/blob/53b0c7c1951a23d255e37ed0a883462218a71b6f/exif.js#L383
that if you point it at an `<img>` tag with a `s

[2019-09-24 04:57] kenhys commented on #13216
As I commented https://github.com/groonga/packages.groonga.org/issues/16#issuecomment-534383686
Installing groonga-keyring package is deprecated, putting published .gpg and `deb [signed-by=/usr/share/keyrings/groonga-archive-keyring.gpg] https://pacakges.groonga.org...` may be simple.

[2019-09-24 08:59] ab1nash commented on #13214
@zulipbot claim

[2019-09-24 17:30] hackerkid commented on #13105
@zulipbot claim

[2019-09-24 18:47] gloels commented on #12940
@zulipbot claim

[2019-09-24 19:45] richardgreg commented on #12951
@zulipbot claim

[2019-09-24 20:16] timabbott opened #13220 "Fix sort order of emoji choices"
The "plain text" option should really be last here (this is a regression from other refactoring) in "display settings":

![image](https://user-images.githubusercontent.com/2746074/65546938-50fe0f00-decd-11e9-84f6-ffd0522e400f.png)

I'm not sure what the right fix is.  The data is passed from the backend to the frontend in a dictionary (`page_params.emojiset_choices`, grep for `EMOJISET_CHOICES`) ;

[2019-09-24 23:37] drrosa commented on #13184
@zulipbot claim

[2019-09-25 00:17] gnprice commented on #13167
That's helpful, thanks! I'm looking now at what's on https://chat.zulip.org/api/construct-narrow .

1. I think one of my questions above about `pm-with` is left open:

From reverse-engineering, I think the answer is the latter. I'd really like to see that written down in the docs.

2. The formulation

leaves open when it should be one vs. the other. In particular if querying for `pm-with` with an

[2019-09-25 00:38] gnprice commented on #10271
Hi @maltokyo -- this isn't something we've worked on recently.

One thing we'll need to figure out before we build it is what exactly the count should be a count of. To help us with that, I'd be curious to understand better how you and your users would use the badge count. When you say y'all are desperate for it: what are you missing without it? What do you find yourself trying to do, and can't do

[2019-09-25 00:43] rishig commented on #13135
@thedeveloperr do you have the first bullet done by any chance?

[2019-09-25 10:00] illseption commented on #12951
@zulipbot claim

[2019-09-25 10:18] neat-byte commented on #13220
@zulipbot claim

[2019-09-25 10:20] neat-byte commented on #13220
@zulipbot unclaim

[2019-09-25 14:00] eosimosu opened #13223 "Scaling Zulip to 100k+ (30k+ active) users ?"
Hi!

We're considering Zulip (On-Prem) for an internal project at my company. One of the hard requirements is that it can handle 100k+ registered users and 30k+ active users.

I found some information about [scaling 1k+ users](https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#scalability) but that's not enough info to base my findings on. Has anyone had to scale Zulip

[2019-09-25 14:41] arpit551 commented on #12951
@illseption I have already done this and made a PR. You can look try another issue.

[2019-09-25 14:56] illseption commented on #12951
Ah okay. I thought the issue was free because you had been unassigned.

[2019-09-25 19:48] timabbott commented on #13223
Zulip easily scales to that many users in an installation, but that many in a single organization/realm won't work today.  Zulip 2.1 will support very well 10Ks of registered users in an organization, and thousands of concurrent actives; to scale to the numbers you mention above you'd need to buy a support contract to get some scalability customizations made.  For anyone reading this later, I expe

[2019-09-25 19:48] #13223 closed

[2019-09-25 23:12] victorphoenix3 commented on #9614
@rishig The pr is ready for review.

[2019-09-25 23:14] victorphoenix3 commented on #9614
@rishig My PR #13217 is ready for review.

[2019-09-26 04:36] anirudnits commented on #13220
Hi, I am new-comer to this project and would like to work on this issue.

[2019-09-26 09:07] macto commented on #6617
Hi @forlornlawngnome

Have you succeeded turning off DM between Zulip users? I'm trying to block those messages in my zulip server as I have a similar scenario where users should not be able to send DM or private messages between them. Zulip works great but I'd like to implement that feature. If you could help me and point me to the right direction I'd be grateful.

Thanks in advance

[2019-09-26 09:23] fwyh commented on #13220
@zulipbot claim

[2019-09-26 12:41] rajvaibhavdubey commented on #12553
@zulipbot claim

[2019-09-26 14:54] stellargo commented on #4785
@zulipbot claim

[2019-09-26 17:05] rishig commented on #9614
awesome, thanks! Tim will review.

[2019-09-26 19:49] timabbott commented on #11834
@rishig is this the precise change we want to make?  For the first bullet, the background is this commit of yours:

[code]

Not sure if we want to try doing something more complicated here, like setting up an `enter` handler to provide the benefits of the old model (cancelling if you didn't change anything).

In any case, a proper fix for this will want to make `escape` cancel when focus is in the

[2019-09-26 19:56] timabbott commented on #11834
Fixed the `escape` bug in 2756706149282a73e8506e1a5b534372b75cddb2.

[2019-09-26 20:01] #13109 closed

[2019-09-26 20:17] rishig commented on #11834
Interesting. I think with the "community topic edits" feature, I'm leaning towards the desired behavior being the thing that is described in this issue. `Esc` to close should help with the "want to view source" case.

[2019-09-26 22:19] joaomcarvalho commented on #12255
@zulipbot claim

[2019-09-26 22:24] joseph-dewitt commented on #5273
Is there more I should do for this issue? Happy to make any kinds of changes based on feedback, thanks!

[2019-09-27 08:55] shubhamdhama commented on #12553
@rajvaibhavdubey before you start working on this, there is a PR already for this!

[2019-09-27 14:30] rajvaibhavdubey commented on #12553
@zulipbot abandon

[2019-09-27 14:31] rajvaibhavdubey commented on #3220
@zulipbot claim

[2019-09-27 20:47] clarammdantas commented on #11462
@zulipbot claim

[2019-09-27 23:11] gnprice commented on #8177
Had another report of this today, in a support email.

A couple of fun facts I learned while replying to it:
* In 2019, people are [still seeing](https://forums.androidcentral.com/google-pixel-3-pixel-3-xl/934785-incorrect-photo-rotation.html) this problem on at least Facebook and Imgur. So the situation on the web at large may not in fact be much improved from that 2012 blog post.
  * It seems to

[2019-09-27 23:29] cognusion commented on #8177
Tried on two Motorola phones (Z2 and Z3) and it didn't change the behavior.
Also tried with HDR off altogether, no luck.

On Fri, Sep 27, 2019, 7:12 PM Greg Price <notifications@github.com> wrote:

[2019-09-27 23:41] gnprice commented on #8177
Good to know, thanks.

The HDR off/on workaround is quirky enough that I wouldn't really expect it to generalize beyond Pixel 3-family phones -- or perhaps Pixel phones more broadly -- so that fits. If someone sees this issue on a Pixel device, I'd be quite curious to hear whether this workaround works (and what specific device model they're on.)

[2019-09-28 00:36] andersk commented on #8177
I took four pictures with my Pixel 2 in all four orientations, without changing any settings or closing the camera app. They all got saved with EXIF orientation top-left, and display correctly in EXIF-aware and non-EXIF-aware viewers. There are probably zillions of variables involved so I don’t know what to conclude from this other than that my particular phone doesn’t exhibit this problem.

[2019-09-28 00:42] #11834 closed

[2019-09-28 02:48] gnprice commented on #8177
Yeah, I got similar results the other day with my Pixel 2 XL: https://github.com/zulip/zulip-mobile/issues/3583#issuecomment-534302762

It seems to me like if you're trying to make a quality phone, the strategy "always save with EXIF orientation top-left" is clearly the one that's best for your users, given all the software out there -- most of all, the web itself -- that's incompatible with anyth

[2019-09-28 23:23] danielledavie commented on #12505
Still working on it!

[2019-09-29 00:26] rishig commented on #13135
#13224 is relevant for the first bullet point.

[2019-09-29 00:36] rishig commented on #12844
Closing this, since it's looking likely that SCA may not affect us after all. From https://support.stripe.com/questions/businesses-affected-by-strong-customer-authentication-sca-regulations:

It also looks like nearly every country has postponed the enforcement date for cards from their country out 12-18 months: https://support.stripe.com/questions/strong-customer-authentication-sca-enforcement-da

[2019-09-29 00:36] #12844 closed

[2019-09-29 01:37] chdinesh1089 commented on #12553
@rishig was this issue fixed?

[2019-09-29 21:21] gloels commented on #12940
@zulipbot Finally reestablished Zulip development environment.  Ready to start work on PR.

[2019-09-30 04:17] EXTREMOPHILARUM commented on #12553
@zulipbot claim

[2019-09-30 04:56] thedeveloperr commented on #13052
@zulipbot claim

[2019-09-30 04:58] thedeveloperr commented on #13135
@rishig sorry lost track of this issue due to college. I will start working on it again. @zulipbot claim

[2019-09-30 04:59] rajvaibhavdubey commented on #12553
@EXTREMOPHILARIUM there is already a PR pending for this issue.

[2019-09-30 05:07] thedeveloperr commented on #13135
I guess i will have to wait for #13224 to be merged to start on rest of bullet points ?

[2019-09-30 17:13] chdinesh1089 commented on #13122
@zulipbot claim

[2019-09-30 17:51] #13214 closed

[2019-09-30 18:20] jag3773 opened #13240 "Add recently used to emoji picker"
Feature request to add a recently used section to the emoji picker.  As a user, this is a "must have" as I consistently use a handful of emoji that are a pain to have to go find each time.

Maybe importing a library like https://github.com/joeattardi/emoji-button would help?  If nothing else, that library demonstrates the recently used list that I'm asking for (see the [demo](https://joeattardi.gi

[2019-09-30 18:51] rishig commented on #13135
no worries! And you can just cherry pick the first commit from #13224 -- even if we decide on different constants it will be easy to rebase on top of.

[2019-09-30 21:03] drrosa commented on #11087
@zulipbot claim

[2019-10-01 01:10] #12524 closed

[2019-10-01 01:16] timabbott opened #13233 "Organization settings "Discard" option is misaligned vertically"
While testing #12958, I noticed this CSS bug:

![image](https://user-images.githubusercontent.com/2746074/65927053-06890080-e3ad-11e9-88cc-071ec26868b6.png)

It seems to not be a regression in the last 100 commits; didn't try bisecting further.  It might be simpler to just fix forward than to figure out where it was broken; not sure.

[2019-10-01 02:57] andersk opened #13234 "Using underscores in S3 metadata names was an unfortunate choice"
I set up my dev environment with a Moto server behind the S3 upload backend, and it sort of works, but `./manage.py export` fails with `AssertionError: Missing realm_id in key metadata: {'user-profile-id': '11', 'realm-id': '2'}`.

The problem is that S3 metadata are transmitted as HTTP headers, so these underscores are converted to hyphens before any server based on the CGI or WSGI protocols gets

[2019-10-01 11:48] hackerkid commented on #13105
@timabbott @andersk So I tested this using the DigitalOcean DB service and I am getting this error.

[code]

[2019-10-01 12:08] hackerkid commented on #12878
@zulipbot claim

[2019-10-01 12:31] TJBANEY commented on #13233
@zulipbot claim

[2019-10-01 14:14] fuzunspm opened #13236 "Can't Upgrade (Column Does Not Exists)"
I'm trying to upgrade from 2.0.0 to 2.0.6 but it gives error after applying puppet changes

[code]

[2019-10-01 14:26] fuzunspm opened #13237 "Can't Send Email or Invitation Link"
It was working fine but today i can't send invitation mails or invitation link is not working either with an error of

[code]

[2019-10-01 20:48] timabbott commented on #13234
Annoying; probably reasonable to just include this in an S3 migration.

[2019-10-01 20:59] #13220 closed

[2019-10-01 21:03] timabbott commented on #13237
The error is pretty clear -- there's no route from your Zulip server to the server you've configured to handle outgoing email for it.  Likely a firewall configuration issue.   See https://zulip.readthedocs.io/en/latest/production/requirements.html#network-and-security-specifications.

[2019-10-01 21:03] #13237 closed

[2019-10-01 21:05] timabbott commented on #13236
It looks like you're running a version of master from the last few months, not 2.0.0, because the column in question there was renamed between 2.0.0 and the latest master.  So you're actually trying to downgrade in an unsupported way.  I would recommend planning to upgrade to 2.1.0 instead.

[2019-10-01 21:05] #13236 closed

[2019-10-01 21:16] timabbott opened #13238 "Make `flush-memcached` support a remote memcached service"
Apparnetly, `flush-memcached` doesn't work with a remote memcached server.

`scripts/setup/flush-memcached` is run at various places in the Zulip scripts, generally in places that are not particularly performance-sensitive, so we should be able to just use `get-django-setting`.

[2019-10-01 22:22] timabbott commented on #13088
We apparently had a different bug with `Cache-Control` in the local uploads backend, which was reported today and is fixed in c869a3bf82473efd6c3d415bb1af849b31c96a17.

Still need to fix the S3 backend issue.

[2019-10-01 23:06] #13238 closed

[2019-10-02 07:32] akashnimare commented on #13240
@timabbott yeah, I don't have the permission. The transfer widget only show two repos to me

![image](https://user-images.githubusercontent.com/2263909/66025767-dceae900-e514-11e9-833c-9c224e962b50.png)

[2019-10-02 09:42] victorphoenix3 commented on #11669
@zulipbot claim

[2019-10-02 12:32] ishitatsuyuki opened #13244 "Make it clear that "streams:public" is required to search all conversations"
Hello, I'm from rust-lang Zulip, and I'm getting missing results for a particular search.

This was due to me not subscribing to that stream at the time the topic was posted, but since subscribing to the stream afterwards had no effect, this confused me a lot.

Maybe we should show this as a hint when there was no or few results?

[2019-10-02 15:35] amartin3225 commented on #10517
+1

[2019-10-02 16:10] jmandel commented on #13192
Just wanted to echo the concern on this one -- and to emphasize that it's not just *slow*, but that the entire UI freezes while typing in a search query. Since Zulip's search is generally one of its best (and for me at least, most frequently used) features, this lag is particularly painful. A "quick fix" might be better de-bouncing: when I quickly type a search phrase like "reverse include" into t

[2019-10-02 16:53] ab1nash commented on #4145
Can someone please review this ? It has been pending for a while now. Worked a lot on this one. Thanks!

[2019-10-02 22:14] andersk commented on #6236
Closing as this doesn’t seem to be a viable option.

[2019-10-02 22:14] #6236 closed

[2019-10-02 22:20] rishig opened #13245 "billing: Add RemoteRealmAuditLog."
Builds on #13224, but can be started without that being merged.

For more flexible on-prem billing, we'll need users to sync some RealmAuditLog entries, in addition to the *Count tables we already sync.

For that, we'll need to
* [ ] Add a RemoteRealmAuditLog table to zilencer/models.py
* [ ] Sync all RealmAuditLog entries with event_type between 100 and 119 to RemoteRealmAuditLog (see zilencer/vi

[2019-10-03 01:09] refeed commented on #12899
@zulipbot claim

[2019-10-03 05:24] rishig commented on #11341
Another potential one is https://docs.djangoproject.com/en/2.2/ref/models/constraints/ (Django 2.2). E.g. something like
[code]
In `corporate.models.Customer`.

[2019-10-03 06:36] YashRE42 commented on #13233
This might be chrome only. I couldn't reproduce in firefox.
There's also some mess about using a text `x` instead of `fa fa-times`.

[2019-10-03 12:01] itsjayhan opened #13249 "Invitating Users to join my organization"
Need Help!
I've been going back and forth on installing and uninstalling zulip and now that I finally have it working I cant seem to invite other users.

When inviting users "500 internal server error" appears. and i dont know what to do.
I've attached screenshots of error and logs.

![error](https://user-images.githubusercontent.com/56117880/66125028-85ce3c80-e618-11e9-93fd-f9505676bb20.PNG)
![zu

[2019-10-04 08:58] hackerkid commented on #12969
@zulipbot claim

[2019-10-05 01:10] rishig opened #13255 "slack import: Map restricted and ultra restricted users to Zulip guests."
This should be a pretty fast change. See 052e3e1540cb2912773652267946a3995df6cbbe for how we did it on the admin side.

The main thing to verify is how slack guests appear in slack exports. My guess is it's something like `is_restricted` (multi-channel guest) and `is_ultra_restricted` (single-channel guest) but it's just a guess.

When done we should remember to update the Caveats section of https

[2019-10-05 09:14] Chinmay-Gurjar commented on #13255
@zulipbot claim

[2019-10-06 01:21] timabbott commented on #13249
The issue is clearly the "ERR" line there; your outgoing email configuration on your email server is not done properly and doesn't allow Zulip to send from all the senders it uses.  https://zulip.readthedocs.io/en/latest/production/email.html#troubleshooting discusses this in detail.

[2019-10-06 01:21] #13249 closed

[2019-10-06 01:36] timabbott commented on #13240
OK, good to know.  I added a brief section on the desktop `README.md` mentioning where to report issues, in case that helps avoid this.

@jag3773 would you have seen that section?  We could also add similar text in the issue template (or a link).

[2019-10-06 01:49] timabbott commented on #13192
@jmandel can you try testing again now?  I believe the deploy on zulipchat.com we just did includes the first fixes from #13198, which are definitely not complete but I'm curious if they benefit your benchmark above.

[2019-10-06 01:52] timabbott commented on #13244
The default Zulip search behavior (with no keywords) will search the current user's own personal history -- messages that they actually received in streams they're subscribed to and their private messages.  If you want to search the entire public stream history of the organization, the (relatively new) `streams:public` search operator will do that; that's what you should use if the goal is to get

[2019-10-06 02:01] #1727 closed

[2019-10-06 05:39] victorphoenix3 commented on #9614
@zulipbot abandon

[2019-10-06 05:40] victorphoenix3 commented on #11669
@zulipbot claim

[2019-10-06 06:56] ishitatsuyuki commented on #13244
Yeah, that seems to be the thing. I'm going to reword this issue around that.

[2019-10-06 07:28] ab1nash commented on #13209
@zulipbot claim

[2019-10-06 18:30] timabbott commented on #13244
Yeah, I was also thinking we should extend the search error/top-of-feed text to advertise `streams:public`; @rishig @vinitS101 what do you think?

[2019-10-06 18:51] timabbott commented on #13105
The issue seems to be that the postgres server doesn't have the fulltext search dictionary files that our provisioning code installs under "/usr/pgsql-11/share/tsearch_data/en_us.dict".  I googled a bit and don't think there's a way to do this; we should email Digital Ocean support to see if there's some undocumented way to upload full-text search dictionaries.

RDS seems to not have it either: ht

[2019-10-06 18:53] timabbott commented on #13105
Reading https://www.postgresql.org/docs/10/textsearch-dictionaries.html, we should figure out whether the defaults do something reasonable.

[2019-10-06 23:55] timabbott commented on #13135
@thedeveloperr we've now merged #13224, so you should be able to work from there.

@rishig this is resolved with 4256ee61cfba22ab23bf9750782c6aa942517526, right?

[2019-10-06 23:59] timabbott commented on #13245
I think I agree with a plan of just syncing a whitelist of fields from RealmAuditLog.

[2019-10-07 00:02] timabbott commented on #13167
I believe both encodings are valid with a single ID.

Yeah, seems worth adding.

[2019-10-07 00:02] timabbott commented on #13167
@priyank-p do you want to quickly verify the claims about both encodings being valid for cases of a single ID?

[2019-10-07 00:05] timabbott commented on #9972
@aero31aero do you want to pick this up?  I think @HarshitOnGitHub had some work on it in the commits linked in this thread, and I think it should be very similar to the change you made in the pygments typeahead.

[2019-10-07 00:05] timabbott commented on #13240
Returning to the actual issue, we should definitely support "recently used".  It's mostly a data tracking problem.  There's a few possible designs for how we should do it with different semantics; we should discuss the options before someone starts work on this.

[2019-10-07 00:16] timabbott commented on #2102
I'm going to close this, because probably that single-user data export system isn't the long term model for how to achieve that sort of per-user goal.  Instead, we'll want to do something using e.g. the `zulip/zulip_archive` project.

[2019-10-07 00:16] #2102 closed

[2019-10-07 00:18] timabbott commented on #5273
@joseph-dewitt oops, so the problem here was that you didn't post a comment on the PR when you updated it to address the last comment; as a result, nobody knew that you'd done so.

Please in the future always post a GitHub comment when you're ready for a new review; GitHub does not have a reliable mechanism for inferring whether you're ready for another review if you just push changes to a PR.

[2019-10-07 03:43] #13122 closed

[2019-10-07 06:57] NemalPeiris commented on #12951
@zulipbot claim

[2019-10-07 10:21] vinitS101 commented on #13244
This would be pretty useful for new users I think. The search feature is probably the most confusing part of Zulip for newer users.

[2019-10-07 12:28] jag3773 commented on #13240
Definitely, I read the README first.  However, checking [the section you added](https://github.com/zulip/zulip-desktop#reporting-issues) in the the README on zulip/zulip-desktop, it looks like neither of the links point to this repository.

[2019-10-07 13:21] kkoderr commented on #12947
@zulipbot claim

[2019-10-07 15:34] rishig commented on #13240
A simple version of the data source part of this might be to just use the Reaction table (e.g. take the last 50 reactions of the user, cut off at the last 3 months).

[2019-10-07 15:59] rishig commented on #13244
yeah, I guess https://github.com/zulip/zulip/pull/13000 has some partial work.

[2019-10-07 16:01] rishig commented on #13135
I chatted with Mohit in PMs; should have updated here. I think we can close this for now, and I'll open a separate issue with followups from the migration.

[2019-10-07 16:01] #13135 closed

[2019-10-07 18:53] timabbott commented on #13240
@jag3773 thanks for pointing that typo out!  I fixed the link.

@rishig well, there's a question for whether we want the current user's "recently used", the organization's, or a combination (i.e. sort first by most recent current user usage, for reactions the current user hasn't used, sort by organization usage).

[2019-10-07 18:58] #13233 closed

[2019-10-07 19:03] timabbott commented on #13244
Yeah, I think #13000 would more or less close this.  So let's prioritize getting that finished.

[2019-10-07 19:08] rishig commented on #13240
yeah, I guess all I meant is that even if V2 uses both Reactions and Message data, V1 can sidestep the data source issues by just using Reactions data (which we already collect in a structured format).

[2019-10-07 19:08] #11087 closed

[2019-10-07 20:40] timabbott commented on #12733
This is indeed fixed by #12921, closing.

[2019-10-07 20:40] #12733 closed

[2019-10-07 20:43] timabbott commented on #12077
@WesleyAC sorry for the slow reply.  I expect that what you're trying to do should work if the bot is subscribed to the stream (or whatever) where the message is sent; (and should work for public streams in general).  Can you explain the use case more precisely?

I think there's likely a change we need to make here for use with outgoing webhook bots in private streams (etc.); I'm just not sure wha

[2019-10-07 20:51] WesleyAC commented on #12077
This is for the case where a user PMs the bot with a file.

On Mon, Oct 7, 2019, at 4:44 PM, Tim Abbott wrote:

[2019-10-07 20:53] #12508 closed

[2019-10-07 20:55] timabbott commented on #12077
Ahh, OK.  What type of bot is it?  My guess is that would work with a Generic Bot but not with an Outgoing Webhook Bot (and that's the bug here).

[2019-10-07 20:56] timabbott commented on #4120
Good question!  This is a super old issue, it's possible we accidentally already fixed it.  Let me investigate.

[2019-10-07 21:09] rishig opened #13261 "general UI: Bootstrap tooltip font-size is too small."
The font size here should just be the same as our normal font size.

Two places we currently use the bootstrap tooltip are when hovering on emoji reactions and when hovering over names in the right sidebar (once #11882 is merged).

[2019-10-07 21:21] gloels commented on #12940
@zulipbot still working.  Hope to have [WIP] PR ready by end of week.

[2019-10-07 21:37] kushthedude commented on #12940
@zuliptbot claim

[2019-10-07 21:38] kushthedude commented on #12940
@zulipbot claim

[2019-10-07 22:26] WesleyAC commented on #12077
Yeah, it's a webhook bot.

On Mon, Oct 7, 2019, at 4:55 PM, Tim Abbott wrote:

[2019-10-07 22:37] rishig opened #13262 "support: Add noop way of visiting registration and invitation links."
Ideally adding something like `&support=True` to the end of a registration or invitation URL would skip
[code]
in get_object_from_key.

This would allow checking a link without changing its status.

[2019-10-07 22:49] joseph-dewitt commented on #5273
@timabbott Hi Tim! Thanks for clearing that up for me, appreciate it. I'm comment in the PR when it's ready for review again.

[2019-10-08 00:01] timabbott commented on #4120
The answer is that it hasn't.  That said, I think the right path forward for this issue is that we should first migrate bankruptcy from being a modal to a visible dialog similar to our prompt to accept desktop notifications; once we've done that, we can work on our product improvements for bankruptcy.

I'd love for someone to work on that migration, and then we can come back to this issue.

[2019-10-08 00:37] drrosa opened #13263 "docs: remove multiple build warnings."
- [x] `/srv/zulip/docs/README.md: WARNING: document isn't included in any toctree`can be fixed by adding `docs/README.md` to the `exclude_patterns` list in `conf.py`

- [x] `UserWarning: Container node skipped: type=document` is caused by upstream bug https://github.com/readthedocs/recommonmark/issues/177

- [ ] `sphinx_rtd_theme/search.html:20: RemovedInSphinx30Warning: To modify script_files in

[2019-10-08 00:44] drrosa opened #13264 "docs: make links equally browsable on both GitHub and ReadTheDocs"
Once upstream bug https://github.com/readthedocs/recommonmark/issues/179 is fixed, we can replace the `.html` part in links of the form `file_name.html#anchor` with `.md`.

This is a followup to https://github.com/zulip/zulip/pull/13232.

[2019-10-08 01:26] drrosa commented on #13263
@timabbott We no longer have any sphinx warnings. What do you think about treating `sphinx-build` warnings as errors from now on by adding `-W` to `SPHINXOPTS` in the Makefile? This would help catch regressions in the documentation.

[2019-10-08 11:57] victorphoenix3 commented on #11669
![type](https://user-images.githubusercontent.com/48182195/66393533-6ce6d200-e9f0-11e9-98a1-1f95d321ccd7.gif)
@rishig  A typehead already opens for the "add" input box. Exactly what needs to changed about it?

[2019-10-08 20:06] r4zorgeek commented on #12249
@zulipbot claim

[2019-10-08 20:41] timabbott commented on #13263
Yeah, let's do that.

[2019-10-08 23:32] andersk opened #13269 "Upgrade mypy from 0.720 to 0.730"
Errors with mypy 0.730:

[code]

[2019-10-09 08:53] aero31aero commented on #9972
@zulipbot claim

[2019-10-09 15:51] rishig commented on #9612
Eventually we might do something like `q` + up and down arrow keys. But for now the functionality of `A` and `D` would be removed.

[2019-10-09 16:04] r4zorgeek commented on #12249
@zulipbot abandon

[2019-10-09 22:29] #12036 closed

[2019-10-09 22:32] timabbott commented on #13244
I consider this resolved in #13000.  Feedback on the precise wording for how we explain this is appreciated.

[2019-10-09 22:32] #13244 closed

[2019-10-10 15:58] ayushin commented on #3618
is there any progress on this?

[2019-10-10 16:48] chuckycharms commented on #3618
I'm really really hoping so!!

On Thu, Oct 10, 2019, 8:58 AM Alexis Yushin <notifications@github.com>
wrote:

[2019-10-10 21:52] timabbott commented on #8177
https://medium.com/@ageitgey/the-dumb-reason-your-fancy-computer-vision-app-isnt-working-exif-orientation-73166c7d39da may be helpful for doing the rotation in our Python codebase (it has some nice code examples).

[2019-10-10 22:52] #716 closed

[2019-10-10 22:55] timabbott opened #13275 "Finish preparing SAML authentication for public release"
This issue documents the remaining work for making our SAML authentication backend publicly releaseable.

* [x] Some items from https://github.com/zulip/zulip/pull/13228#issuecomment-537282422; can you review and let me know what's open?
* [x] Multiple IDP provider support, at least at the basic level of changing the URL scheme to support it.
* [x] Figure out a protocol for communicating with mobi

[2019-10-10 23:13] timabbott commented on #3618
There's no update on this.  We have the capacity to add features like this, but it's not a priority for the core team compared with other improvements we're considering.

[2019-10-10 23:26] sakebomb commented on #3618
Is there a way to get it on the priority consideration list? This is a
widely requested feature by many people.

On Thu, Oct 10, 2019 at 7:13 PM Tim Abbott <notifications@github.com> wrote:

[2019-10-11 00:20] mateuszmandera commented on #13275
As a note on this, in python-social-auth saml a ``OneLogin_Social_Auth`` object (responsible for handling the SAML-things) is created on every request to the endpoints, with its config being generated on the spot by these two functions:
[code]

It seems pretty easy to override things to accept an additional ``realm`` argument, and then have the above functions generate the config based on settings

[2019-10-11 10:55] hackerkid opened #13277 "Rename not_subscribed key to not_removed in users/me/subscriptions DELETE response"
The response that would be generated when someone try to remove a user that is not subscribed to a stream is this.

[code]

`not_subscribed` should be renamed to `not_removed` since that makes more sense.

http://zulip.zulipdev.com:9991/api/remove-subscriptions

This should be an easy easy issue to work.

[2019-10-11 12:58] victorphoenix3 commented on #11669
@zulipbot abandon

[2019-10-11 12:58] victorphoenix3 commented on #13261
@zulipbot claim

[2019-10-11 21:05] timabbott commented on #13277
Hmm, yeah, good catch.  I guess one can tell by the fact we're just discovering this that nothing is actually processing that strong, so we should aim to fix this soon so that API callers that do eventually need this API don't have to deal with the old version.

[2019-10-12 14:48] clarammdantas commented on #11462
@zulipbot claim

[2019-10-12 16:40] mridullpandey commented on #12553
claim

[2019-10-13 02:36] refeed commented on #13277
@zulipbot assign

[2019-10-13 02:36] refeed commented on #13277
oh, I forgot... :P @zulipbot claim

[2019-10-13 06:47] refeed commented on #12899
Yup, waiting for review

2019年10月13日(日) 8:58 zulipbot <notifications@github.com>:

[2019-10-13 10:45] victorphoenix3 commented on #9612
@rishig @timabbott the previous PR gas some merge conflicts.
Submitting PR #13284. Do please review and suggest corrections.

[2019-10-13 12:54] realmayus commented on #12553
@zulipbot claim

[2019-10-14 04:56] #13277 closed

[2019-10-14 13:16] KirillKhrushkov commented on #3783
Hi Team!
Do you have any update on Stream Owner feature?

[2019-10-14 17:54] peacepenguin commented on #716
Thanks a ton for the work on this! I got the new SAML integration deployed and working against Keycloak 7.0.0 using a clone of the zulip master branch from 2019.10.13.

The documentation inside of settings.py was perfect and accurate to get this deployed quickly.

Thanks so much @timabbott and @mateuszmandera! Let me know if you need any testing or documentation assistance, but looks good to me!

[2019-10-14 22:02] gnprice opened #13286 "API docs for send and/or "typing" are inaccurate"
The https://zulipchat.com/api/typing doc says the `to` argument to `/typing` should be:

In turn, https://zulipchat.com/api/send-message says the `to` argument there (to `POST /messages`) should be:

There are a few things to fix here:
* Neither description contemplates using user IDs instead of emails. The webapp actually sends user IDs (at least for `/typing`), so the reality must be that those

[2019-10-14 22:09] timabbott commented on #13275
Cool, that path makes sense to me.

[2019-10-14 22:15] timabbott commented on #716
Awesome @peacepenguin, thanks for the feedback!  If you have any small nits for how we could improve the documentation, they'd be much appreciated, but the confirmed test from someone who wasn't involved in implementing this has already been incredibly helpful.

[2019-10-14 23:07] peacepenguin commented on #12457
I would love to see this feature added to get all LDAP users registered in Zulip automatically. Ideally just an enhancement to the existing "sync_ldap_user_data" script could get the job done, or perhaps a new script "provision_ldap_user_data" for this type of scenario that could be used together with the existing sync script.

And now that SAML support is arriving in Zulip, this LDAP sync enhance

[2019-10-14 23:32] peacepenguin commented on #13275
Thanks for all the work on the SAML support and Zulip, really great software.

I've got the latest bits running with SAML enabled, working great in general. One oddity is how the "new-user" flow is triggered the first time a SAML user logs into Zulip.

If the user doesn't exist the login to zulip goes like this: click "login with saml" the IDP login page is shown. Then after saml login, redirected

[2019-10-15 00:17] timabbott commented on #13275
Cool, thanks for the note.  Just to clarify, you have both LDAPAuthBackend and SAMLAuthBackend enabled on the system?  I suspect if you had just the SAML backend enabled, then it wouldn't have the password prompt in the registration flow.

[2019-10-15 00:29] timabbott commented on #13275
Or more correctly, if you configured LDAP to just populate data, and not as an authentication backend, via the `POPULATE_PROFILE_VIA_LDAP` setting.

[2019-10-15 00:34] timabbott commented on #12457
The model is definitely intended to be that with our SSO authentication models (LDAP, etc.), one doesn't require that sort of dance.

We should probably have an option to support auto-creating users from LDAP if that's what an organization wants; there are downsides (in that it's then not clear which users actually have used Zulip), but they all seem like organization preferences to me.  There are

[2019-10-15 02:09] peacepenguin commented on #13275
Thanks for the tips, I just now tried setting POPULATE_PROFILE_VIA_LDAP = True

Still get the same as before in the login flow for a new user. But really just a minor annoyance to the user, and only on First ever login for each user via SAML.

The flow and conditions:
only auth backend enabled: SAMLAuthBackend
LDAP configured and syncing users correctly (their jpeg etc, imports fine via ldapsync s

[2019-10-15 10:38] hackerkid commented on #12969
Created and merged #13258. Only `/events` endpoint is remaining.

[2019-10-15 12:52] amartin3225 commented on #106
I think it would be really useful to have retention configurable on the stream level or even the topic level if possible. As mentioned before, some users like being able to search messages from years ago, so it makes sense to be able to keep those forever (e.g. Private messages). But I could also see the case where something like an automated build system is posting messages to a particular stream

[2019-10-15 14:01] Chinmay-Gurjar commented on #13255
@zulipbot still working on it.

[2019-10-15 18:05] chdinesh1089 commented on #12825
@zulipbot claim

[2019-10-15 18:41] victorphoenix3 opened #13290 "Fix link in documentation file [bugfix]"
![Screenshot from 2019-10-15 23-56-54](https://user-images.githubusercontent.com/48182195/66859705-713f5c00-efa9-11e9-8797-ffd097dc9535.png)

The backend test failed due to a broken link in one of the documentation files.
The given link is missing a trailing slash.

fixing this with the following commit.

[2019-10-15 18:44] victorphoenix3 commented on #13290
@timabbott

[2019-10-15 18:49] victorphoenix3 commented on #13261
@rishig  do please review. Had to add the second commit due to issue #13290 .

[2019-10-15 19:33] peacepenguin commented on #12457
In my experience auto-import of all LDAP users is the "norm" for many LDAP supporting applications. But obviously just because something is the norm doesn't make it right or better.

Again just from my experience with other LDAP sync-able apps; user onboarding emails do not get sent out for users created via the import process. An option to send emails for imported users could be nice though, but

[2019-10-15 22:18] jmandel commented on #13192
No appreciable change -- or, maybe it's faster by the numbers, but still doesn't really "work". Here's my typing the same phrase as in the last capture, just now:

![image](https://user-images.githubusercontent.com/313089/66874078-c2325e80-ef6f-11e9-9d0f-9b92c980ebeb.png)

[2019-10-15 22:38] timabbott opened #13294 "Improve error handling in push notification bouncer service"
Apparently, our code for sending push notifications to the remote Zulip server doesn't properly handle network errors (i.e. before one gets to an HTTP error) when trying to connect to the bouncer server; those just result in an unhandled exception which gets emailed to the server administrator.  This is not ideal in cases where e.g. there's transient network downtime between the Zulip server and t

[2019-10-15 22:42] timabbott commented on #13294
While we're working on this, we may want to look at using an HTTP session here like we do in the API library; it can save redoing the HTTP/TLS overhead every time we make this sort of request.

Actually, we should look at whether it's possible to actually just using `python-zulip-api` directly for making these requests; it should be very reasonable to do so using the API bindings' `call_endpoint`,

[2019-10-15 23:18] timabbott commented on #12457
Well, what one probably actually wants is to import the users but then have onboarding emails be sent on first login, not at import time, so the users still get that information.

[2019-10-15 23:25] andersk commented on #13290
This was fixed by commit 0ce508693f78c6f949b85d03606c7b633141b8c1.

[2019-10-15 23:25] #13290 closed

[2019-10-16 07:04] sulian opened #13295 "Error with AWX 7.0.0"
Hello.
I'm testing integration between **AWX 7.0.0** (Ansible Tower) by sending notifications in **Zulip 2.0.4**.
During testing, I encounter an error from Ansible :

![image](https://user-images.githubusercontent.com/2016950/66895321-c5baf980-eff2-11e9-8649-06e5f2433133.png)

And I immediatly receive an email warning from Zulip with the following content :

[code]

I have already disable the "Dis

[2019-10-16 09:33] kostekIV commented on #12555
@zulipbot claim

[2019-10-16 09:52] apardyl commented on #9957
Hi,
I am also looking for this feature - currently we add users to groups manually in my org, LDAP group integration would be really useful.

@timabbott I suggest it might be the best to:
a) sync LDAP groups to Zulip groups (so they can be @mentioned),
and
b) allow adding entire Zulip groups to streams (this way the feature will work with other auth methods, not only with LDAP)

[2019-10-16 10:04] aiveras commented on #9957
We are also looking for this feature.
It would be great if an LDAP group is synced with the stream and/or mapped with groups. In any case it would be necessary to synchronize stream user and LDAP groups.

Furthermore a support for group sync for SSO via SAML or Oauth would then be the perfect solution.

[2019-10-16 11:36] hackerkid commented on #12878
@zulipbot claim

[2019-10-16 17:24] vfazio commented on #13175
Do Webtorrent clients like instant.io and file.pizza require being able to hit external trackers? If this was on a corporate network, that wouldn't be a good idea unless it's configurable.

[2019-10-16 17:26] peacepenguin commented on #12457
I've created an external python3 script that can accomplish this feature request goal outside of Zulip itself.

The script does not have to be run locally on the Zulip server, it is completely external and only needs access to the LDAP URL and the Zulip API URL to function. Unfortunately that also means it needs to be configured separately too, you need to match the LDAP Base DN to what is configu

[2019-10-16 17:40] peacepenguin commented on #13275
FYI I've overcome the SAML-first-login-Register-with-any-password bug by importing the full list of LDAP users in advance of first login. Details and script to test that are here in the LDAP sync all users feature request:
https://github.com/zulip/zulip/issues/12457#issuecomment-542807213

Ideally the LDAP all-user import wouldn't be needed, but I'm not sure the complexity involved in bypassing th

[2019-10-16 18:20] rht commented on #13175
I read the file.pizza description and it says:

So I don't think the link is going to be scraped by trackers.
No such statement by instant.io, but the source itself could be checked at https://github.com/webtorrent/instant.io.

[2019-10-16 19:00] vfazio commented on #13175
https://github.com/webtorrent/instant.io/blob/master/client/index.js#L16

[code]

https://github.com/webtorrent/create-torrent/blob/master/index.js#L25

[code]

file.pizza: https://github.com/kern/filepizza/blob/master/lib/stores/UploadStore.js#L6

[code]

[2019-10-16 20:54] rht commented on #13175
I see, announcing to at least 1 tracker is unavoidable for proper transfer of a file, isn't it?
There is no client for direct file transfer in https://github.com/feross/simple-peer#who-is-using-simple-peer either.

I'm brainstorming another solution. What about using [Dat](https://dat.foundation) or [IPFS](https://ipfs.io)?

[2019-10-16 21:22] vfazio commented on #13175
It may be possible to disable it by setting tracker = False, but that means having a client built into Zulip and not using an external service. DHT and peer exchange would be necessary for torrenting to work presumably. Then again, Zulip could itself have a tracker built into it if necessary.

[code]

re simple-peer, I haven't used it (i don't use much JS day-to-day), but my impression was that th

[2019-10-17 00:57] timabbott commented on #13275
Interesting, that's very helpful.  Looking at 47b5f9a4a3a1acbfdb57f2d45d21d6cbd2a3e4c1, I think the bug is that we need to apply this change (basically, that boolean should depend on whether you're using LDAP passwords, not just syncing data from LDAP):

[code]

Can you try testing that out?

[2019-10-17 03:24] peacepenguin commented on #13275
That worked perfect! The password field is gone with that patch, so the "Continue to registration" flow asks the user to confirm their full name, but it's already filled out correctly from the SAML response, then they click "Sign up", and then they're registered and in.

The new SAML user flow is simple and straight forward with that patch. Now since the new user flow itself for saml doesn't requi

[2019-10-17 10:55] hackerkid commented on #13105
This does not work.
[code]

Its not possible to create an ispell dictionary without specyfing `DictFile` and `AffFile`. And postgresql does not ship with any ispell files that can be used as default.

https://www.postgresql.org/docs/current/textsearch-dictionaries.html#TEXTSEARCH-ISPELL-DICTIONARY

By this do you mean to just use the default `pg_catalog.english` configuration and dont make any alt

[2019-10-17 15:18] Ichoran commented on #3157
This is a critical feature for Zulip to be usable, when desired, as a "conventional" chat room--if you can't pin a default thread to the top, everyone has to use thread topics all the time (which normally are great).  If you can pin a thread to the top, then that can be used as a default stream-of-consciousness-style chat, which occasionally is desirable also.

[2019-10-17 18:43] ray-kraesig opened #13297 "stream settings: subscribed-filter state is stickier than subscribed-filter UI state"
1\. Hover over any stream in the left-hand list. Click the dropdown arrow and select _Stream settings_.
2\. Change the stream filter (upper left iOS-style radiobutton-group) from "Subscribed" to "All Streams".
3\. Hit `Esc`.
4\. Repeat step 1.

The stream-list within the settings dialog will show all streams, but the segmented-control will be reset to "Subscribed".

This was _not_ reproduced on us

[2019-10-17 21:47] timabbott opened #13298 "Avoid showing a registration form at all when unnecessary with SAML+LDAP"
For organizations that are using just SAML authentication (or SAML + LDAPUserPopulator), and don't have Terms of Service configured, it's very possible that we'll end up offering a registration form with literally nothing to do after clicking "Continue to registration".

We should avoid this and just take the user to the app.  I think the way to fix this is to figure out why the `form.is_valid()`

[2019-10-17 21:48] timabbott commented on #13275
OK, merged d364891894d4dc5f87c811293644adaca9817d9d with that fix.

I was going to mention that you'll almost certainly see a basically useless registration form.  I agree it shouldn't be there (and it isn't for certain other authentication backends).  I opened https://github.com/zulip/zulip/issues/13298 for that issue; if you want to try testing the code change proposed there, that could help acc

[2019-10-18 07:37] gloels commented on #12940
@zulipbot still working on it.

[2019-10-18 09:29] clk-jkn opened #13299 "Problem using the Push Bouncer behind a proxy"
Hello everybody,

we recently updated to Zulip 2.0.6 and wanted to enable Mobile Notifications. It doesn't work though because our Zulip-server gets a timeout error when trying to send a request to the bouncer. The message reads as follows:

We configured the proxy as environment variables for the user zulip (http_proxy, https_proxy, HTTP_PROXY and HTTPS_PROXY) but it just doesn't want to work. Ca

[2019-10-18 12:31] virtuaris commented on #12239
Sry for coming along with this but what's about `;` (semicolon) and even more perfectly valid characters in URIs resp. query strings (see https://tools.ietf.org/html/rfc3986#section-2.2)? The current regexp e.g. doesn't allow to create a linkifier for our OTRS issue tracker which uses URIs like `https://myissuetracker.foo/otrs/index.pl?Action=AgentTicketZoom;TicketID=2342` due to the semicolon.

[2019-10-18 15:20] ab1nash commented on #13209
@zulipbot still working on it.

[2019-10-18 20:44] timabbott commented on #13299
@clk-jkn thanks for the report!  I think the problem is that you need those proxy environment variables to be set in the context of the supervisord job that runs the relevant part of Zulip.

What should work is changing this line in `/etc/supervisord/conf.d/zulip.conf` to change:

`command=/home/zulip/deployments/current/manage.py process_queue`

to e.g.

`command=env HTTP_PROXY=x HTTPS_PROXY=x /h

[2019-10-18 21:29] radusuciu commented on #6052
Also running into this. In fact, I still don't have it working and I can't find anything in the docs that would help. The bot is searching and posting links successfully and I've added the secrets (with twitter_ prefix) and ran the restart-server script but to no avail. I imagine if I restarted with supervisorctl it would work but I can't do that now..

[2019-10-19 00:25] radusuciu commented on #11845
@alistair-low curious if you directly modified the css or if there is a mechanism for adding a custom stylesheet

[2019-10-19 11:33] sahil839 commented on #12943
@zulipbot claim

[2019-10-19 13:39] joseph-dewitt commented on #5273
Still working on it

[2019-10-19 15:26] choldgraf commented on #4817
Hey all - just a note that being able to have a linkable, indexable, and discoverable w/o signon collection of messages is really important for our open source community.

It's really important to many folks in our group that it is easy for somebody to, say, click a Zulip message, get a URL, then paste that URL into a GitHub issue that anybody can click to see without logging in. Even better if it

[2019-10-19 15:34] alistair-low commented on #11845
@radusuciu Click the Settings icon at the bottom of the sidebar, and scroll down to "Add custom CSS". This is the CSS that I use:

[code]

[2019-10-19 16:29] rht commented on #4817
Relevant #13172.

[2019-10-19 23:57] radusuciu commented on #11845
@alistair-low Thanks for reply - I am actually looking to add my own css to the zulip core so that it would take effect for all users of my instance. In particular I'd like to change the way that integrated tweets are displayed as well as increase the size of some image previews.

Unless I misunderstand, the "Add custom css" feature is a per-user setting and only available in the desktop clients?

[2019-10-20 00:24] timabbott commented on #12825
@chdinesh1089 this issue isn't ready to work on since it isn't clear what the problem is.

@FoggyFinder can you explain the issue in more detail, maybe with a screenshot?  You can do this using this menu:

![image](https://user-images.githubusercontent.com/2746074/67152947-413bd580-f295-11e9-9420-cdac7bc153e3.png)

[2019-10-20 01:36] timabbott commented on #11845
@radusuciu we'd definitely be open to consider a PR with nicer Twitter card CSS; please open an issue.  I'm a little concerned your proposal there wastes space; I'd at the very least want to put `@interior` and the date on the first line and have the text appear next to the card; that'll be a lot nicer especially for tweets not containing a link to an image.

@punchagan has been doing work on impr

[2019-10-20 01:37] timabbott commented on #4817
Yeah, https://github.com/zulip/zulip/issues/13172 is the issue for that project, which has a detailed technical plan.  It's definitely in the works, and I'm hoping we'll be able to invest in that in the near future.

[2019-10-20 01:38] timabbott commented on #6052
@radusuciu just a guess, but after adding the Twitter API keys and restarting the server, it'll only add tweet rendering for new messages, not those that had been already sent.

[2019-10-20 01:40] timabbott commented on #12239
Thanks for the report.  Our plan for this issue is https://github.com/zulip/zulip/issues/12323, i.e. to use an actual URL validator, rather than a custom regular expression.

If you're self-hosting, it should be easy to use a temporary patch in the meantime.

@aero31aero FYI, if you have time to tackle #12323, that'd be awesome.

[2019-10-20 01:43] timabbott commented on #13295
@Hypro999 do you have time to look into this?  It may be that our Ansible Tower integration needs to be updated for upstream API changes.

[2019-10-20 01:49] timabbott commented on #13105
Makes sense.  I think this is probably something we can support but should just document the issue with full-text search: That full-text search will be worse and that, and let users decide how they want to handle that tradeoff?

Can you try writing a docs section in `docs/production/deployment.md` covering the right setup process?

(For the full-text search thing, I assume we'll need code changes;

[2019-10-20 02:06] chdinesh1089 commented on #12825
I was thinking a checkbox(‘hide muted topics’) needs to be added in user display settings, when enabled muted topics doesn’t appear on clicking the a stream in left sidebar.

[2019-10-20 03:02] radusuciu opened #13303 "Improving twitter card integration"
I think that the current twitter cards could be improved upon. Currently it looks like this:

![image](https://user-images.githubusercontent.com/1108600/67152862-26686180-f293-11e9-92b3-e11ef23655d3.png)

If there is interest, I would like to submit a PR that makes a few changes:
- make author name and handle stand out from content
- place image embeds on the same line as content
- add date and po

[2019-10-20 04:06] radusuciu commented on #13303
@zulipbot claim

[2019-10-20 06:44] FoggyFinder commented on #12825
@timabbott I meant exactly what @chdinesh1089 wrote.

[2019-10-20 09:45] chdinesh1089 commented on #12825
@FoggyFinder @timabbott ,I've added a new field in UserProfile model for this, but I'm unable to find out how to modify this field from the frontend. It would be very helpful if you could briefly explain what is to be done and direct me to the relevant javascript files.

[2019-10-20 16:37] rht commented on #4817
This, in the context of using `zulip_archive`, can be tentatively solved by having a bot that can automatically generate the correct archive URL by feeding it the URL to the message in Zulip.
This is possible because `zulip_archive` also keeps track of the message UID, e.g. https://leanprover-community.github.io/archive/116395maths/17534Uniquenessofthereals.html#178268535 with 178268535 being the

[2019-10-21 01:37] refi64 commented on #4817
You can't link messages on mobile though...

On Sun, Oct 20, 2019, 11:38 AM rht <notifications@github.com> wrote:

[2019-10-21 04:51] timabbott commented on #9957
@mateuszmandera we should discuss the right model for this after the 2.1 release work is complete.

[2019-10-21 06:53] clk-jkn commented on #13299
@timabbott thanks a lot for helping!

I modifed the following line:

`command=/home/zulip/deployments/current/manage.py process_queue --multi_threaded deferred_work digest_emails email_mirror embed_links embedded_bots error_reports feedback_messages invites missedmessage_email_senders email_senders missedmessage_emails missedmessage_mobile_notifications outgoing_webhooks signups slow_queries user_

[2019-10-21 07:30] maxandersen commented on #3750
I would suggest @topic as a way to notify those who have participated in a topic rather than having to notify the whole room....at least as long as there is no support for listening just to specific topics.

[2019-10-21 08:13] aero31aero commented on #12323
@zulipbot claim

[2019-10-21 18:34] peacepenguin commented on #13298
Thanks for looking into this; removing the indent caused more trouble:

  form['password'].field.required = False

/var/log/zulip/error.log shows:

    form['password'].field.required = False
       ^
IndentationError: expected an indented block

Thanks for investigating this issue!

[2019-10-21 19:52] A-s-e-e-m commented on #12951
@zulipbot claim

[2019-10-21 22:17] timabbott commented on #13298
That's just a syntax bug -- you want to remove 1 indentation layer from both lines; looks like you removed 2 indentation leves from the second line, which is invalid Python syntax.

[2019-10-21 22:26] timabbott commented on #12825
Hmm, OK.  @FoggyFinder can you talk more about the problem you're hoping for this to solve?  There are some other left sidebar changes in flight that may relieve the problem and I want to make sure we're approaching this the right way.

[2019-10-21 22:45] timabbott commented on #11455
The remaining open tasks for this this were fixed in #13304.

[2019-10-21 22:45] #11455 closed

[2019-10-21 22:49] timabbott commented on #13303
The "Without embedded image" mockups look great, with maybe the exception taht I'm not sure the Twitter icon looks good overlapping the outline; I'd just put it either to the right or left of the date.

[2019-10-21 23:16] timabbott commented on #13299
Just to be clear, did you replace the `x` with your actual proxy values?  `x` was meant to be a standin here for the appropriate values of those variables.

The push notifications are sent from the queue worker I mentioned, so that's what you need to update.

[2019-10-21 23:17] timabbott commented on #106
The plan is definitely for this to support stream-level configuration.

[2019-10-21 23:17] timabbott commented on #106
The feature is more or less complete; it's just waiting on some careful testing in a production environment.

[2019-10-21 23:48] timabbott commented on #12969
I did some research and figured out the remaining issues for `test_events`; I'll be merging a commit finishing this out soon.

Thanks again @Hypro999 and @hackerkid for making this happen!  It's really nice to have the tooling here to take care of making sure our documentation is accurate.

[2019-10-21 23:52] #12969 closed

[2019-10-21 23:57] #13060 closed

[2019-10-22 03:13] peacepenguin commented on #13298
Ah ha! That did the trick to simplify the new saml user flow even further.

Now the flow looks like this:

New saml user hits zulip login page, click "login with saml" -> saml idp login form -> redirect back to Zulip "Zulip account not found" click "Continue to registration" -> Logged into Zulip (and user is provisioned in zulip correctly and with correct name/attributes)

Before and after changes

[2019-10-22 05:17] timabbott commented on #13298
OK, great.  @mateuszmandera you can put this on your SAML todo list -- we'll want to include automated tests before merging this fix.

[2019-10-22 05:30] timabbott commented on #13192
Great, I think that confirms we fixed the superlinear behavior seen before.  Still obviously needs a lot of work.

As @andersk and I discussed, ultimately we're going to want an algorithm that maintains an efficiently queried data structure rather than doing a linear scan of all users every time a character is typed.

We need this to be fixed for chat.zulip.org as well.

[2019-10-22 05:39] timabbott commented on #13286
I believe the following are valid:
* The desired API for future users is a JSON-encoded list of integer user IDs.
* There are two legacy APIs still allowed.  The first is a JSON-encoded list of string email addresses.
* The other is the original encoding, a JSON-encoded string `iago@zulip.com` or `iago@zulip.com,hamlet@zulip.com` (what is meant by "CSV").  My hope is we can get rid of this, but th

[2019-10-22 05:49] timabbott commented on #13286
An incomplete fix would be something like this:
[code]

Ideally, we'd also rework all the examples to use the preferred API here.

@hackerkid @Hypro999 @eeshangarg @priyank-p are any of you interested in working on this?

[2019-10-22 07:17] FoggyFinder commented on #12825
For example, there is a topic with active discussions. But content may be inappropriate for someone (like politics).
When topic is muted user still sees count of unread messages and that can be annoying.
Or another case - user may have itch to return to a converstation but since topic is slippery one will "leave" again after a while.
If muted topics are invisible then user won't know that disputes

[2019-10-22 08:28] clk-jkn commented on #13299
Yes. I replaced it with the IP-Address of our proxy (192.168.x.x, just replaced it by x because I thought it didn't matter). Our server can reach the proxy just fine, as it can update through the proxy just fine.

I will try changing the line
`command=/home/zulip/deployments/current/manage.py process_queue --queue_name=message_sender --worker_num=%(process_num)s`
aswell, as changing the line with

[2019-10-22 08:43] clk-jkn commented on #13299
So I just recieved the following email:
`Traceback (most recent call last):
  File "/home/zulip/deployments/2019-10-18-06-39-10/zulip-py3-venv/lib/python3.6/site-packages/urllib3/connection.py", line 159, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw)
  File "/home/zulip/deployments/2019-10-18-06-39-10/zulip-py3-venv/lib/python3.6/site-packages/urllib3/util/connection.py",

[2019-10-22 15:40] kkoderr commented on #12947
@zulipbot claim

[2019-10-22 22:51] Tlazypanda commented on #13184
@timabbott is this issue still available?

[2019-10-22 23:05] #11715 closed

[2019-10-22 23:05] #11878 closed

[2019-10-22 23:14] Tlazypanda commented on #13255
@zulipbot claim

[2019-10-22 23:16] timabbott commented on #9277
@mateuszmandera this was fixed by #13256, right?  The commit 3699fe28f8b25aca829fca0185cefa43faf2fb81 doesn't seem to have been tagged as closing this.

[2019-10-23 00:52] Tlazypanda commented on #13255
@rishig @timabbott I have created a pr for the same.Can you kindly review the same and let me know of the changes :)

[2019-10-23 04:48] clk-jkn opened #13309 "BUG: Zulip crashes when creating Linkifier"
Hello,

we are currently using Zulip 2.0.6 on an ubuntu 18.04 LTS server. We experienced some weird behavior yesterday when creating a linkifier. After the linkifier was created, you couldn't access the UI. It only showed an internal error.  It didn't just show it to the person that created the Linkifier but also to the rest of the users on that server. Turns out the problem was the name of the re

[2019-10-23 09:09] oktayaa commented on #7330
@stone212 I don't see a server component for tox. It seems to be a decentralized solution. They'd have to implement a client on the zulip side for this no?

[2019-10-23 11:10] arthurpankiewicz opened #13312 "Help Wanted: How to change default view"
Where is the default route being set to direct a user `All Messages`? I'd like to set the `Starred Messages` narrow as the initial page when opening up Zulip.

Thanks

[2019-10-23 12:33] Cybernisk commented on #11715
@timabbott
I could confirm that it is still not working as expected. Build with current `master` branch and using schema (A) and get the same error with "Wrong password"
`email_belongs_to_ldap` function is working fine. **True** for LDAP emails and **False** for any other.

[2019-10-23 17:10] Cybernisk commented on #11715
I've found the issue...
Also, @mateuszmandera said that he will do a PR with a proper patch, but for now I'm using my hotfix to get it works.
So, If anyone interested in fast&dirty solution with a hot-fix:
[This line of code](https://github.com/zulip/zulip/blob/master/zproject/backends.py#L339) could be replaced with
[code]
which will fix the flow of user creation if you are using schema **(A)** f

[2019-10-23 17:39] cb0n3y commented on #11715
@Cybernisk Thank you very much for your answer. Can you please tell where exactly should that line be paste?

[2019-10-23 20:50] Tlazypanda commented on #13286
@timabbott Can I work on this issue?

[2019-10-23 20:59] Tlazypanda commented on #8144
@zulipbot claim

[2019-10-23 21:02] Tlazypanda commented on #8144
@rishig @timabbott  Is this issue still available? It seems that it is assigned but the last pr is from a couple of months back.

[2019-10-23 21:53] Tlazypanda commented on #10539
@zulipbot claim

[2019-10-23 21:53] Tlazypanda commented on #10539
@rishig is this issue still available?

[2019-10-24 06:09] andersk commented on #11516
Reopening because this fix was incomplete. Jinja2 allows you to strip _independently from either side_ of a variable, block, or comment.

[code]

[2019-10-24 07:08] hackerkid commented on #13105
@zulipbot claim

[2019-10-24 11:14] hackerkid commented on #13105
@timabbott  Should I create a puppet class for installations that use remote DB or pass all the necessary puppet classes as env variables? If its second case I would need to show two example in docs, one for debian and one for redhat. If its the first case what do you suggest the class name to be?

[2019-10-24 11:18] Abhishek-Balaji commented on #3220
@zulipbot claim

[2019-10-24 11:37] hackerkid commented on #12784
This is fixed in ec955f8f78c49d70bd5f4738d85eb7a173f54df5.

[2019-10-24 11:37] #12784 closed

[2019-10-24 11:39] hackerkid commented on #13184
@Tlazypanda There is already a PR created for this one. #13222

[2019-10-24 13:19] grandemk opened #13317 "Taiga webhook integration issue"
Hi, I'm trying to create a webhook using the taiga integration.
I get the same issue as  #2318.

Content:
[code]

Payload:
[code]

Response:
[code]

zulip_version on zulipchat.com : "2.0.0-2712-g45d2154b4"
taiga_version: current stable: 4.2.14-stable

[2019-10-24 14:47] Cybernisk commented on #11715
@cb0n3y
File: zproject/backends.py
Line: L339
[code]

[2019-10-24 16:42] rocketkittens opened #13318 "Zulip doesn't work after restart"
Zulip doesn't work when you restart, to use it i have to manually restart the server every morning?
Out of the box, this should not be happening, why is this huge problem not documented?

I already tried to purge rabbitmq and im trying to set hostname, none of fix the problem or make any difference.

In my /var/log/zulip/error.log:
TornadoQueueClient couldn't connect to RabbitMQ - connection refus

[2019-10-24 17:49] drrosa commented on #13184
Hi @Tlazypanda We'll probably make other similar reorganizations soon. Would you like to help review my PR?

[2019-10-24 20:38] timabbott commented on #13318
This isn't documented because it doesn't happen to anyone else -- we haven't seen this problem before.

Can you explain how you're running Zulip (e.g. is it in a container or something), and if there's anything in RabbitMQ's logs?

[2019-10-24 20:40] timabbott commented on #13317
My guess is Taiga changed the format of their webhooks again without backwards-compatibility.

This should be a great project for a new contributor; just follow https://zulipchat.com/api/incoming-webhooks-overview, get new fixture payloads from Taiga, and update the integration.

[2019-10-25 00:36] rocketkittens commented on #13318
I'm running **HTTP only** behind Nginx reverse proxy; when i power off and start up i am getting Internal Server Error. I don't see anything weird in rabbitmq log (zulip@localhost.log)

When i run the folowing command or manually restart the service restores:
[code]

[2019-10-25 01:00] mateuszmandera commented on #11715
Pull request here: https://github.com/zulip/zulip/pull/13320

[2019-10-25 13:21] kostekIV commented on #12555
@zulipbot abandon

[2019-10-25 13:21] kostekIV commented on #13317
@zulipbot claim

[2019-10-25 20:19] timabbott commented on #13318
OK.  It sounds like something running on your machine is restarting the RabbitMQ server -- I'd investigate that possibility.  OOM kill is a possibility if your system has low RAM.

[2019-10-25 20:26] timabbott commented on #13137
This was fixed in #13230.  Thanks @mateuszmandera!

[2019-10-25 20:26] #13137 closed

[2019-10-25 20:28] timabbott commented on #11939
Just a quick note that we recently added SAML support, which doesn't address this but may be relevant for auth providers that have both interfaces.

[2019-10-25 20:28] timabbott commented on #11959
Just a quick note that we recently added SAML support, which doesn't address this but may be relevant for folks using auth providers that have both interfaces.

[2019-10-25 20:29] timabbott commented on #12303
This was fixed as part of fixing #11878.

[2019-10-25 20:29] #12303 closed

[2019-10-25 20:44] rocketkittens commented on #13318
Thanks @timabbott, i think this is a really helpful tip,

I checked the requirements for Zulip = 2GB min Ram, which i **have provided** to my VM...
Now, armed with this information, I imagine i am running OOM on the VM host machine and it may be from another VM that isn't Zulip's necessarily causing services running inside the VMs to fail.

I will diagnose OOM on host and VMs and report back findi

[2019-10-26 15:27] mateuszmandera commented on #9277
Yes, this should be fixed now @timabbott

[2019-10-26 15:29] mateuszmandera commented on #11715
merged, this shoudld be fixed now if you update to the master branch. If you do, let me know if there are any remaining problems @cb0n3y

[2019-10-26 17:12] vcode11 commented on #12249
@zulipbot claim

[2019-10-26 18:18] vcode11 commented on #12249
@zulipbot  abandon

[2019-10-27 03:58] Tlazypanda commented on #13184
@drrosa Sure would love to :)

[2019-10-27 04:52] Tlazypanda commented on #12571
@timabbott Is this issue available? I am not sure if the pr made is still active

[2019-10-27 07:06] victorphoenix3 commented on #8087
@AasthaGupta  what remains to be done on this issue?

[2019-10-27 07:57] victorphoenix3 commented on #13127
@zulipbot claim

[2019-10-27 08:50] cyber1998 commented on #6342
@zulipbot claim

[2019-10-27 08:50] Tlazypanda commented on #12505
@zulipbot claim

[2019-10-27 08:51] Tlazypanda commented on #13255
@zulipbot abandon

[2019-10-27 08:52] Tlazypanda commented on #12505
@zulipbot claim

[2019-10-27 11:10] Tlazypanda commented on #12505
@aero31aero @timabbott Have opened a pr for the issue ,kindly review and let me know of the changes

[2019-10-27 15:22] mridullpandey commented on #13317
Hi there !
@grandemk
i am new to opensoarce may i take this up!!

[2019-10-27 19:42] kostekIV commented on #13317
Hi,

I have looked [here](http://taigaio.github.io/taiga-doc/dist/webhooks.html) for reference on taiga webhooks and it looks like there are no changes to the format of webhooks. The issue seems to originate from 'test' action which wasn't handled by zulip.

[2019-10-28 09:23] grandemk commented on #13317
Hi,
It would be great to have support for the test action. That's a really handy way to see if things are working :)

In my case, I don't get any events from my taiga instance, If it's only the test action that isn't handled, I will look at what's happening on my taiga instance and see if the events are truly sent to zulip.

[2019-10-28 13:14] santherics opened #13331 "Rabbitmq doesn't delete messages in the message_sender queue"
Zulip 2.0.4 in k8s. Zulip and rmq have enough RAM (6Gb and 2Gb). Sometimes the number of messages in the message_sender queue starts to grow and does not decrease until I manually delete the queue and restart the zulip server. The "./manage.py purge_queue message_sender" command does not help.

[2019-10-28 14:43] grandemk commented on #13317
I fixed the webhooks configuration on my instance and it works correctly.
The only remaining problem is this ticket is the support of the test action.

Apart from that:
I find the taiga integration really lacking, I would like to know if there is someone I should talk to once I refine what my usecase is and how I think we should make the integration better or if I can just go ahead and propose a p

[2019-10-28 16:17] downright77086 commented on #13099
Hey just checking in if there was any progress on this.

[2019-10-28 19:34] ab1nash commented on #13209
Hey, so I'm not sure if this is relevant, but can anyone explain the nocoverage comment  ?
[code]
Does it mean that realm_subdomain can be empty? Or can it not be?

[2019-10-28 19:35] ab1nash commented on #13209
This is in _subdomains.py_

[2019-10-28 19:51] ab1nash commented on #13209
@zulipbot claim

[2019-10-28 21:29] timabbott commented on #13127
@victorphoenix3 this probably isn't a great issue for you, since it requires some depth of background in some trickier parts of Zulip.

But see #13074 for the relevant code path.

[2019-10-28 21:42] timabbott commented on #13331
The actual issue here sounds like the queue backlogging; you should investigate that.  I'd expect that failure mode to totally break sending messages from the Zulip webapp.

Can you explain what happens when you do the `purge_queue`?  You might need to stop the zulip server (or at least the workers for that queue) before that job will proceed.

[2019-10-28 21:45] timabbott commented on #13317
@grandemk please open an issue to discuss how you'd like the integration to work once you have a good sense of that; I don't think this one has had a ton of use so it's very likely there are improvements to be made.  And then we can agree on a design that it makes sense to do a PR for.

(I'll also see posts here if you want to do more early discussion)

[2019-10-28 21:58] #13317 closed

[2019-10-28 22:31] timabbott commented on #13275
Just updated this with what's done and not in the above SAML checklist.

[2019-10-28 22:47] timabbott commented on #11516
@vrongmeal do you want to take the project of fixing the remaining issue here?

[2019-10-28 23:19] timabbott commented on #13312
Changing the default view (what happens when you hit `escape`) is complicated to change, but you just need to link to the URL of the "starred messages" view to have folks go there (and the login screen will preserve that if the user isn't logged in when clicking the link).

[2019-10-28 23:19] #13312 closed

[2019-10-28 23:20] timabbott commented on #13209
Well, the question is whether we call `user_matches_subdomain` anywhere that the first argument can be `None`.

[2019-10-29 09:01] arthurpankiewicz commented on #13312
What about if I want to route them their in the client rather than the browser?

[2019-10-29 13:23] amartin3225 opened #13337 "Investigate PWA Support"
I see that Zulip Desktop 4.0.0 is still using Electron 3 (it looks like Zulip Desktop support for Electron 5 is coming) and that Chrome now has [Progressive Web Apps](https://developers.google.com/web/progressive-web-apps); would it be possible to support Progressive Web Apps for Zulip to provide similar system integration but reduce the overhead and bugs of using Electron?

[2019-10-29 17:26] nikomatsakis opened #13338 "cannot zoom out in windows app"
I accidentally zoomed in much too far on https://rust-lang.zulipchat.com/, which I am viewing in the Windows App. Unfortunately, pressing `Ctrl+-` doesn't make the make the text size any smaller. Selecting Zoom Out from the menu also has no effect. Selecting "Zoom to actual size" (`Ctrl+0`) also does nothing. Removing the organization and adding it back again also had no effect; the text remained

[2019-10-29 18:11] #13338 closed

[2019-10-29 21:30] scottdurant commented on #13255
@rishig Is this still open? It looks a good first issue for me

[2019-10-29 23:22] #9576 closed

[2019-10-29 23:51] timabbott opened #13340 "Add support for configuring which realms use which SAML providers in multi-organization servers"
In order to sensibly support SAML authentication on shared hosting environments like zulipchat.com, we need a way to configure which IdPs should be used by which realms.  There's a few ways this could work:

* One model would be to have the keys in SOCIAL_AUTH_SAML_ENABLED_IDPS be the realm.string_id values, and that's how we control the mapping of which SAML config goes with which organization.
*

[2019-10-29 23:55] timabbott commented on #13275
Opened https://github.com/zulip/zulip/issues/13340 for zulipchat.com support.  And the mobile support has its own issue: https://github.com/zulip/zulip-mobile/pull/3670.

So all that remains in this issue's description is docs, which I'm about to merge.

[2019-10-29 23:55] #13275 closed

[2019-10-30 00:01] #12899 closed

[2019-10-30 00:03] timabbott commented on #13105
Puppet reads the classes (and all other configuration) to use from `/etc/zulip/zulip.conf`; so if there's a configuration flag we need there, it should live there.  Grep for `zulipconf` if needed.  If you just need a flag, we can use that without making duplicate Puppet classes, which would be a lot cleaner.

[2019-10-30 00:04] timabbott commented on #13105
(But I don't feel like I know clearly enough where you need changes to configure this; may be helpful to make a WIP PR that just makes changes unconditionally for RDS and then I can advice on how to put the options in)

[2019-10-30 10:26] snath99920 commented on #12553
@zulipbot claim

[2019-10-30 12:00] ab1nash commented on #13209
@rishig I think I'll have to add another `cache_delete` to
[code]
as pointed out by Tim

[2019-10-30 14:43] brainwane commented on #3618
@sakebomb and others: a reminder that you can contact [support@zulipchat.com](mailto:support@zulipchat.com) if you're interested in offering a bounty (a specific payment to prioritize this feature). You could also check Tim's comment https://github.com/zulip/zulip/issues/3618#issuecomment-383780288 plus [the tutorial on developing a new application feature](https://zulip.readthedocs.io/en/latest/t

[2019-10-30 19:50] timabbott opened #13346 "Add an integration for Gitea"
[Gitea](https://gitea.com/) is an open source Git service.  Apparently, they claim their webhooks are GitHub-compatible, but they aren't actually, resulting in errors like this when hitting our GitHub integration's API endpoint:

[code]

We should just add an official integration for Gitea.  See https://zulipchat.com/api/incoming-webhooks-overview for docs; also note that we have some really nice

[2019-10-30 20:08] timabbott commented on #3618
Obviously whether we can make it happen depends on the scale of the bounty.  My experience with folks who use the term "bounty" generally is that they're thinking a few hundred dollars, which is small compared to what it'd pay someone to develop this feature.  If folks interested in this can put together a real budget for accelerating the feature, this feature could definitely be shipped.

There's

[2019-10-30 20:14] sakebomb commented on #3618
The first option is great. The second would be very difficult considering
how Zulip is designed with streams. However, it would be ideal if we could
see it in PMs or group PMs as live.

On Wed, Oct 30, 2019, 16:08 Tim Abbott <notifications@github.com> wrote:

[2019-10-30 20:19] andersk commented on #11341
#13343 (security: Send SameSite=Lax cookies) should be reverted with Django 2.1, which provides that behavior by default; we’ll get a [warning](https://github.com/jotes/django-cookies-samesite/blob/d6b524016ba6e15e858b15f444a2f57203d28a12/django_cookies_samesite/middleware.py#L31-L35) until we do.

[2019-10-30 20:19] timabbott commented on #13337
I don't think Electron has any real overhead in the Electron app; it's really just Electron bugs (largely from Electron being forked off an older Chromium that has more bugs).  Given that many users are very happy just using a pinned browser tab, it should be possible to have a good experience.

I think most of the criteria for PWAs have been true about Zulip for a long time because they're import

[2019-10-30 20:21] #13050 closed

[2019-10-30 20:25] timabbott commented on #13309
This is fixed in master; the workaround for Zulip 2.0.x is to change the name of your parameter from `name` to anything else.

[2019-10-30 20:25] #13309 closed

[2019-10-30 20:25] timabbott commented on #13309
(Thanks for the report; we only discovered and fixed this recently)

[2019-10-30 23:06] timabbott commented on #12571
That PR just needs some more attention and merging, there's no much for another contributor to do here.

[2019-10-30 23:18] #10776 closed

[2019-10-30 23:19] timabbott commented on #10776
We merged the fix for this; if anyone has time to re-test this issue on an installation off master, it'd be much appreciated.  Huge thanks to @jabagawee for debugging the root cause of the issue.

[2019-10-30 23:36] #12505 closed

[2019-10-30 23:42] timabbott commented on #13255
This is still open, yes.  Would love to see it fixed in the near future since we're releasing soon.

[2019-10-30 23:43] timabbott commented on #8144
It's totally reasonable to make a new PR based on the work of the previous PR; it's clearly been idle for a long time so there's no reason to expect the previous person will finish it anytime soon.

[2019-10-31 00:45] #293 closed

[2019-10-31 00:45] #13184 closed

[2019-10-31 02:41] Tlazypanda commented on #13255
@zulipbot claim

[2019-10-31 11:16] kostekIV commented on #13346
@zulipbot claim

[2019-11-01 13:43] kkoderr commented on #12947
@zulipbot unclaim

[2019-11-01 17:12] donShakespeare commented on #6617
Any addition to/implementation of this idea yet?

[2019-11-01 18:55] radusuciu commented on #13303
@zulipbot still working, thanks!

[2019-11-01 19:38] timabbott commented on #6617
So, there's a crude version of this that's very easy, which is just to make sending a private message in an organization with PMs disabled throw an error saying "Private messages are disabled in this organization".  We could ship that as an alpha feature quite quickly.

The thing which is a lot of work for making a good version of this feature is to adjust the UI to hide all the places we offer to

[2019-11-01 19:41] timabbott commented on #3618
OK.  Folks who are interested in offering a bounty for that first option (initially just on web, though naturally our goal is for all web features of this form to be supported on mobile as well, just we're not going to promise a timeline for that) should email sales@zulipchat.com with a link to this thread and what they'd pay for it.  If there's enough interest, we can make this happen.

[2019-11-01 19:45] timabbott commented on #12825
@FoggyFinder thanks, that's helpful.  We'll need to think about the right model for how this sort of thing would work; would it be a global setting or per-stream?  Does it work by automatically marking messages in those topics as read, or by hiding them from view?  Etc.

I doubt I'll have the time to think through the options there in 2019 but we could think about this next year.  There's some oth

[2019-11-02 00:31] timabbott commented on #6427
So, I don't have an update on this other than it's something we'll be looking to pick up after the 2.1 release.

One important thing that we have done in this direction is adding markdown syntax for mentioning a topic, which will likely be used as part of communicating clearly what happened with this sort of thing.

[2019-11-02 05:38] donShakespeare commented on #6617
Awesome thanks! All the way! Crude alpha version would be a dream.
UI will be welcomed when it comes.

[2019-11-02 06:28] chdinesh1089 commented on #12825
@zulipbot abandon

[2019-11-02 06:29] chdinesh1089 commented on #13098
@zulipbot claim

[2019-11-02 08:57] FoggyFinder commented on #12825
Got it, thank you

[2019-11-02 16:20] akasranjan005 commented on #12951
@zulipbot claim

[2019-11-03 15:48] Abhishek-Balaji commented on #3220
Working on it.

[2019-11-03 23:42] mateuszmandera commented on #13294
@zulipbot claim

[2019-11-04 00:16] #13298 closed

[2019-11-04 00:47] #12380 closed

[2019-11-04 01:14] timabbott opened #13362 "Implementation follow-ups for #13208 (user groups admin support)"
Following #13208, there's a few things we should fix:

* We have like 7 places where we write this line or an equivalent:

[code]

I think it makes sense to factor out a common except and convert these to `raise OrganizationAdministratorRequired()`, so that we can avoid this duplciation of strings (Which is potentially error-prone).  This can be similar to `InvalidJSONError` from `zerver/lib/excep

[2019-11-04 01:29] matheuscmelo commented on #13362
@zulipbot claim

[2019-11-04 05:16] Be-ing commented on #13346
An alternative to making a Gitea-specific integration would be working with the Gitea community to make its API actually compatible with GitHub's API. If Gitea claims to be compatible with GitHub but is not, that may be a bug rather than an intentional choice. I think it would be a good idea to open an issue on [Gitea's tracker](https://github.com/go-gitea/gitea/issues) to clarify this. However, t

[2019-11-04 07:49] t3hmrman commented on #12741
Want to note I have the same issue -- I can't even find where the internal server error is happening but every time I visit `domain.tld/login` I see the 500 (`/var/log/zulip/errors.log` shows nothing, `server.log` shows nothing out of the ordinary, `stdout`, etc).

Here's what happens:
- On the first load `domain.tld` seems to redirect to `domain.tld/login/` and immediately returns a 502 (and an i

[2019-11-04 08:37] t3hmrman commented on #12741
Here's the error I get:

[code]

This error gets emailed to me after creating the initial Zulip organization and entering username and password.

When I check the DB I find that `zerver_userprofile` is empty (which explains the error). So the user creation failed, and no user profile got created.

After that if I attempt to use `manage.py createsuperuser` I get the following error:

[code]

After

[2019-11-04 08:44] t3hmrman commented on #12741
After trying to sign up with a different email on my instance I'm convinced that this is actually a timing issue -- when users get initially created, there's a bit of a delay until the user profile actually gets made it seems, but the process tries to move along too quickly

[2019-11-04 10:19] davidtwco opened #13363 "Add keyboard shortcut to open links in currently selected message"
When browsing Zulip using the keyboard, users need to reach for their mouse to open links. If there were a shortcut to select between links in a message and before pressing enter to open the link, then this would let users continue to use Zulip using their keyboard.

[2019-11-04 15:47] amartin3225 opened #13364 "Active Queue of Private Messages"
It would be useful to have a way to track the on-going conversations I am having in private messages. Here are a couple examples where this would be useful:

- I start a private message with someone by asking him/her a question; with other chat solutions, I could leave that window open and if the person never responded, it would serve as a reminder that I need to contact them again to get the answ

[2019-11-04 15:52] amartin3225 opened #13365 "Add Context To Search Results"
Currently when reviewing search results, it is not always clear which result is the one you want because there is no context surrounding the matched message. It would be useful if search results would show several lines before and after each match (e.g. similar to `grep -C 10 <search-string>`)

[2019-11-04 17:57] joseph-dewitt commented on #5273
@zulipbot claim

[2019-11-04 18:33] aman11verma commented on #10539
@zulipbot claim

[2019-11-04 18:48] aman11verma commented on #10539
Can someone explain what's the current status of this issue?What changes need to be made?

[2019-11-04 21:32] haiyanxu commented on #8144
@zulipbot claim

[2019-11-04 21:42] haiyanxu commented on #8144
@timabbott Hey Tim, any idea why this issue is still marked as claimed? If I understand correctly, zulipbot should have released it after an inactive period of 14 days. It looks like this issue was last active in April.

[2019-11-04 23:57] steinybot opened #13369 "Wrong email hash for Gravatar image in profile"
When I go to my profile it has the link which says "Avatar from Gravatar" but it is the wrong image.

If I go to https://en.gravatar.com/site/check/ and enter my email address then I see the correct image and also the email hash.

When I look in the network tab I see that it is downloading the image that is shown in my profile from https://secure.gravatar.com/avatar/cd16f71697e7bed9f447bcbf03c6f20

[2019-11-05 01:58] timabbott commented on #12752
Can you talk a bit more about the use case here?  I think if you configure a stream to be announcement-only (where only administrators can post) only bots controlled by administrators will be able to use the email gateway for the stream as well.

[2019-11-05 02:00] timabbott commented on #13364
There's a few ways we could handle this.  One direction which would be easier than it sounds (because of existing functionality that already exists for embedded Zulip in another page) is the ability to pop out a small window for a specific private message thread.  To what extent would something like this cover your use case?

Another is pinning ability in a buddy list feature like https://github.c

[2019-11-05 02:03] timabbott commented on #8144
I assume a bug where zulipbot missed its follow-up task. I've marked it as unclaimed.

[2019-11-05 15:46] amartin3225 commented on #13364
Could the pop out window be resized by the user? Would these windows work with Zulip Desktop and still handle desktop notifications the same way? I could see some users "popping out" all of their private message conversations to separate small windows in order to manage them this way - do you see a problem with that workflow?

This would also work but is probably not ideal because I can see users

[2019-11-05 15:56] amartin3225 commented on #12752
How does Zulip handle when a user sends an email to the email address for the email gateway for an announcement-only stream? Does Zulip look at the sender's email address, compare it against the list of administrators, and then reject the email if the email is not one of the administrators? Even so, the email address could be spoofed, so it seems best to have the ability to disable this functional

[2019-11-05 16:46] vinitS101 commented on #13364
This sounds a lot like how Facebook chat windows work. I think this would clutter the app a bit and I'm not sure how we could use this for the mobile app.

We could actually do something like this with the buddy list (on the right sidebar). Tabs like *Starred* and *Active Conversations* could be added. Any frequent/favorite contacts or pinned conversations can go here for easy access.

This would

[2019-11-05 19:27] timabbott commented on #13369
@steinybot thanks for the report!  This sounds like a bug in the new feature for hiding user email addresses, which for legacy reasons involves using a fake email address of the form `user15@domain` in some places where the legacy API requires an "Email address".

It would appear that we missed the avatar URL code path in this migration.  I'll make sure this gets fixed in time for the 2.1 release.

[2019-11-05 20:36] #13369 closed

[2019-11-05 23:27] matheuscmelo commented on #13362
Hey @timabbott, making automatic tests for `video_chat_provider`, `waiting_period_threshold` and some other integer attributes from Realm seems not possible right now because of different error messages.
For  `video_chat_provider` it's `"Invalid video chat provider {value}"` and for `waiting_period_threshold` it's `"Bad value for 'waiting_period_threshold': {value}"`

What should be done in this c

[2019-11-05 23:44] timabbott commented on #13362
I think they can be converted to use the standard error message format we're using for the other integer-format fields; we'll just need to update the tests.

[2019-11-06 00:16] timabbott commented on #13363
Yeah, that'd be good to support, thanks for the suggestion!

I suppose the standard UI for this would be for `tab` to iterate through the links in the currently selected message, though I think managing `tabindex` for that might be too annoying to make that a good experience.  So I think I agree that an explicit keyboard shortcut for this would be a good idea (possibly iterating through links in t

[2019-11-06 00:24] timabbott commented on #12741
@t3hmrman can you provide more detail on precisely what you did to setup your Zulip installation?  It sounds like you're using Kubernetes, is it possible you accidentally deleted your Zulip database in your postgres container (or changed paths in a way where it lost access to its storage)?

That would be a simple explanation for this issue -- the Zulip app's Docker image has some first-time-startu

[2019-11-06 00:32] timabbott commented on #13346
That's reasonable; opened https://github.com/go-gitea/gitea/issues/8850.

[2019-11-06 01:23] Zhenye-Na opened #13373 "Error when setting up development env in Win 10"
Hi all,

I am interested in this project and wanna contribute. But I had this error and struggled with it for 1 hour. So I came here for help.

I am using Windows 10 for this project and I followed the environment setup but when it came to vagrant with virtualbox, it kept throwing errors. Here is the detailed error message:

[code]

It seems Hyper-V is the main reason, I have use this script with

[2019-11-06 01:42] t3hmrman commented on #12741
Hi @timabbott thanks for the detailed response, sorry to take up some of your likely busy day.

I recently spent some time reworking and breaking out the Zulip pieces into their own `Deployment`s and `Services`, etc (after using what the `docker-zulip` project provided). I know that I changed over `PVC`s when doing the switch, but I think it *is* the case that I cleared out the database but did no

[2019-11-06 03:19] timabbott commented on #12741
Yeah it'd be great if you opened an issue in docker-zulip for this that can
be clean and uncluttered with unrelated things.  Thanks!

-Tim Abbott (mobile)

On Tue, Nov 5, 2019, 5:42 PM Vados <notifications@github.com> wrote:

[2019-11-06 03:20] timabbott commented on #12741
Also we'd love to collaborate on making the kubernetes config in
docker-zulip nice.

-Tim Abbott (mobile)

On Tue, Nov 5, 2019, 7:18 PM Tim Abbott <tabbott@zulipchat.com> wrote:

[2019-11-06 06:59] andersk commented on #13373
Have you tried all the suggestions at https://forums.virtualbox.org/viewtopic.php?f=6&t=93443? Specifically, there are more Windows features you could try turning off, and make sure you reboot afterwards.

You may have more luck posting on the VirtualBox forums, since I think nearly all of the Zulip developers use Linux and Mac. I have used the Zulip development environment on Windows for long eno

[2019-11-06 07:41] Zhenye-Na commented on #13373
Thank you for your advice! I will try this tomorrow, do not have the windows machine right now.

Please don't mind if I came up with new issues here.

Have a great night!

[2019-11-06 07:51] t3hmrman commented on #12741
Will do, I'll find some time this week and attempt to reproduce if I can and get a PR up to help with `docker-zulip`!

[2019-11-06 12:22] rajat2502 opened #13375 "Website: The footer is not properly visible in mobile view of the website"
### Problem:
The footer of the website https://zulipchat.com/apps/ios is not visible properly in the mobile view of the website as the font-color is light and is not visible properly as the background-color of its background is also light in color.

### screenshot:
![Screenshot from 2019-11-06 17-42-15](https://user-images.githubusercontent.com/42200276/68297718-a6792e80-00bd-11ea-9235-81891c3ea86

[2019-11-06 12:32] rajat2502 opened #13376 "Website: Dropdown menu not working"
### Problem/Bug:
The dropdown menu of the Apps link in the navbar of the website https://zulipchat.com is not working as expected. On Clicking it is randomly redirecting to any of the OS link.

### Screenshots:
![Screenshot from 2019-11-06 17-56-55](https://user-images.githubusercontent.com/42200276/68298489-7cc10700-00bf-11ea-9ea4-690f38a0aadf.png)

### Specifications of my system:
OS: Linux(ubun

[2019-11-06 13:22] raghu1812 commented on #13220
we have tried an alternate solution of issue. please review it.
https://user-images.githubusercontent.com/57407789/68300909-c19b6c80-00c4-11ea-91a0-b326d276cb70.png
https://user-images.githubusercontent.com/57407789/68301595-505cb900-00c6-11ea-92cb-7ec3405f3d60.png
https://user-images.githubusercontent.com/57407789/68301632-64081f80-00c6-11ea-9b47-4cb05711e116.png

[2019-11-06 14:22] amartin3225 commented on #13364
This sounds like a great way to do it. To clarify, you'd have a button next to each buddy that lets you add them to one (or multiple) of the tabs?

That would be a good idea too.

[2019-11-06 15:20] donosco98 commented on #3917
@zulipbot claim

[2019-11-06 15:20] donosco98 commented on #3917
@zulipbot abandon

[2019-11-06 15:20] donosco98 commented on #3917
@zulipbot claim

[2019-11-06 15:21] donosco98 commented on #3917
@zulipbot abandon

[2019-11-06 16:15] Abhishek-Balaji commented on #3220
@zulipbot abandon

[2019-11-06 16:15] Abhishek-Balaji commented on #3220
@zulipbot claim

[2019-11-06 22:12] Zhenye-Na commented on #12951
@zulipbot claim

[2019-11-06 22:31] timabbott opened #13378 "Add "Return to login" button to password reset page"
Related to https://github.com/zulip/zulip/issues/6763, once you complete the password reset flow, there's an instruction to check your email, but no button to return to the login page.

This is problematic on the Zulip desktop app, where the app's design doesn't have highly visible "back" buttons (etc.) or the top navbar navigation for returning there.

[2019-11-06 22:54] timabbott commented on #13376
The intent is that it should go to the link for the OS you're using, not something random, and testing it appears to do that.  Can you explain the issue you see more clearly?

[2019-11-06 22:55] timabbott commented on #13375
Yeah, that gradient should definitely not be active there.  A PR to fix this would be great.

[2019-11-06 22:56] timabbott commented on #13220
We already merged a fix for this, and screenshots of code isn't an effective way to communicate about code changes.  Can you propose a diff for a change you'd like to apply on top of master?

[2019-11-06 23:19] timabbott commented on #13286
@Tlazypanda this is probably a better issue for someone with more experience working with our API docs.

[2019-11-07 01:15] fwyh commented on #13378
@zulipbot claim

[2019-11-07 03:36] rajat2502 commented on #13376
Ok got that!!! I am closing the issue. Sorry I didn't get that at the first time.

[2019-11-07 03:36] #13376 closed

[2019-11-07 03:38] rajat2502 commented on #13375
@timabbott I searched but I couldn't get to the required code, can you please provide me the link to the code. I will make a PR to remove that gradient.

[2019-11-07 05:47] Zhenye-Na commented on #13373
Shifted to macOS dev env. solved.

[2019-11-07 05:47] #13373 closed

[2019-11-07 07:58] clk-jkn commented on #13299
Hello,

so I still haven't figured this out and am out of ideas... Does anyone still have an idea?

Thanks

[2019-11-07 18:09] Zhenye-Na commented on #12951
Hi @rishig

I am very new to the Zulip codebase but would like to make contributions. I am currently planning to integrate Grafana to Zulip. I should setup Grafana webhook first. And I am thinking that we do not need install Grafana in the vagrant env or I should install it in my local machine in order to test functionality. Any advice?

Thanks

[2019-11-07 22:55] forteller commented on #12555
I agree that it should not be set on installed locales. But Zulip does automatically detect which time zone I'm in, so that should be the basis for automatically seting 24 or 12 hour clock. You're in a timezone where they use 24h? Then you get 24h as default.

[2019-11-08 01:51] Zhenye-Na commented on #12951
Resolved.

[2019-11-08 05:52] A-Bawer commented on #13375
Hi, Can I work On this?

[2019-11-08 17:32] ivangretsky commented on #7517
Good day! Is there any progress on this one? Keyboard controls is one of the biggest catches for Zulip I think.

[2019-11-08 22:26] timabbott commented on #13375
Well, the gradient itself is defined in `landing-page.scss`; and that page is `templates/zerver/apps.html`.

You should be able to get all that with the Chrome inspector, though.

[2019-11-08 22:37] timabbott commented on #7517
No progress on this, since we seemed blocked on the compatibility issue.  Based on https://hacks.mozilla.org/2017/03/internationalize-your-keyboard-controls/, I don't think there's anything better to do than using `event.code` when available.

Some testing/research is required, but I'd be on board with a plan of:
* If `event.code` is available (covering Chrome and Firefox), use that.
* Otherwise,

[2019-11-08 23:10] timabbott opened #13388 "Improve rendering of "bot owner" fields in "bot settings""
As explained in a TODO comment I just wrote in 44f9ce92e91f23afb8e92b08f9d6c6e8184ba789, our webapp doesn't provide the ideal experience in the "Bots admin" page for investigating bot owners:

[code]

It would be a nice improvement to the UI to do what's described there.

The main thing that's going to be somewhat tricky about this code is writing the logic to trigger navigating to the user's prof

[2019-11-08 23:23] timabbott opened #13389 "A few longer administrative strings tagged for translation are not actually translated"
I got a report from one of our translators that two of our settings pages, `/#organization/filter-settings` and the bottom of `/#settings/your-account` have large sections that don't seem to be translated properly:

![image](https://user-images.githubusercontent.com/2746074/68517108-077a4100-023b-11ea-8b7a-79cf5349a3bd.png)

![image](https://user-images.githubusercontent.com/2746074/68517123-195be

[2019-11-09 01:40] #12553 closed

[2019-11-09 06:27] rajat2502 commented on #13375
Ok thanks I am working on it

[2019-11-09 13:09] ryanreh99 commented on #13262
@zulipbot claim

[2019-11-09 15:02] ab1nash commented on #13209
A little busy with college at the moment. I can pick this up later, but if someone else wants to work on this please go ahead!

[2019-11-09 15:03] ab1nash commented on #13209
@zulipbot abandon

[2019-11-09 15:29] nil4 commented on #13275
Very excited to see SAML support officially added to Zulip! Please consider updating the `docker-zulip` documentation with the settings required to activate SAML auth for Docker-based installations.

[2019-11-10 03:06] vandytx commented on #2278
I tried to reproduce this issue, but I could not edit the message at all.

<img width="924" alt="Screen Shot 2019-11-09 at 9 05 51 PM" src="https://user-images.githubusercontent.com/26888281/68538108-d54d0a00-0334-11ea-82b3-c19b998f33ec.png">

[2019-11-10 04:22] aditisingh2362 commented on #1295
Hello, I can't find any commented out code in 10-admin.js, however I compared the file from #1294 and I found that it did comment out some code sections. What to do? I just saw this issue and thought it would be easier for me to start my contribution from here.

[2019-11-10 14:12] ivangretsky commented on #7517
I am sure that just making English keys work across all layouts on modern browsers without translation will do for most users (it will for me at least))

[2019-11-11 14:48] rajvaibhavdubey commented on #6342
@timabbott @rishig The PR related to this issue is stale and has not been updated in recent times. Can I work on it?
Thankyou :smile:

[2019-11-11 15:07] rajvaibhavdubey commented on #13303
@zulipbot claim

[2019-11-11 21:25] sp2703 commented on #12249
claim

[2019-11-11 21:26] sp2703 commented on #12249
@zulipbot claim

[2019-11-11 21:35] sp2703 commented on #13378
@zulipbot claim

[2019-11-12 01:36] timabbott commented on #13275
Yeah, that's a good idea.  @mateuszmandera this is probably a task for you; have you worked with `docker-zulip` before?  If not, I can brief you on some of the things we're hoping to change about it that mean we shouldn't invest much future work into the current approach.

For this in particular, I think we might want to take the approach of (1) Making manually managing `settings.py` not via envir

[2019-11-12 10:45] farzin347 opened #13394 "how can i reactive  administrator user?"
I have installed new zulip server and when i want to sync it with our Active Directory, our administrator user became deactivate and so i cant login to zuplin as administrator 
how can i reactive  administrator user?

[2019-11-12 16:11] Zhenye-Na opened #13395 "integrations: Add Sonar Qube."
Suggest adding Sonar Qube integrations for real-time notifications of code coverage, `#` of bugs ant etc.. I can also work on this since I have made a PR adding grafana integrations.

Sonar Qube webhook
https://docs.sonarqube.org/latest/project-administration/webhooks/

instructions for adding a new webhook integration
https://zulipchat.com/api/incoming-webhooks-overview

[2019-11-12 19:38] chdinesh1089 commented on #13389
Here's something that I found.
Whenever we use `{{#tr this}}`  we start a new line with leading whitespace with multiple lines. This text is sent to the helper function `Handlebars.registerHelper('tr', function (context, options) ` in `static/js/templates.js`.
The code looks something like this
[code]
The const result that's returned is no different than the string between `tr this` tags.
Here's s

[2019-11-12 20:02] timabbott commented on #1295
I'm going to close this as wontfix; we're generally moving away from the Casper tests as our frontend strategy because they have nondeterministic failures, so it's unlikely we'll ever want to invest in uncommenting those tests.

[2019-11-12 20:02] #1295 closed

[2019-11-12 20:13] #13255 closed

[2019-11-12 20:14] timabbott commented on #13389
Ultimately, this issue is a debugging challenge.  The next thing I'd try is manually finding the actual translation data in the i18n data sent from the backend to the frontend and compare the strings against what you have there for equality.

[2019-11-12 20:22] timabbott commented on #13395
Feel free to work on adding an integration for it, thanks @Zhenye-Na!

[2019-11-12 20:24] timabbott commented on #13394
You can use `manage.py knight` to make a user into an administrator via the command line; that user can then re-add the administrator permission via the UI.  It's also possible to use `do_reactivate_user` on a `manage.py shell`.

[2019-11-12 20:24] #13394 closed

[2019-11-12 20:26] Zhenye-Na commented on #13395
Thank you for reaching out, @timabbott !

Definitely would love to make contributions to this project. Could the core developing team or reviewers review my last PR concerning grafana integrations?

Just wanna make sure the last PR is on the right way so that I can follow the same procedure on this issue.

Thanks!

[2019-11-12 20:28] timabbott commented on #13395
Yeah, can you post a link?

[2019-11-12 20:29] Zhenye-Na commented on #13395
of course, why not!

here is the link: https://github.com/zulip/zulip/pull/13384

[2019-11-12 21:08] #12940 closed

[2019-11-12 21:24] timabbott commented on #12555
I'm not sure there's such a mapping from timezones to 12/24 hour time available in data (we do use `moment.js` which is available, so worth checking.  If you look at how `timezone` is plumbed in `signup.js` through `templates/zerver/register.html` and `zerver/views/registration.py`, we should be able to use a similar process.  And then it's just a matter of passing the argument on into `do_create_

[2019-11-13 05:03] sumukhah commented on #13378
Hello there,
can I work on this?

[2019-11-13 05:58] Tlazypanda commented on #13378
@zulipbot claim

[2019-11-13 06:17] Tlazypanda commented on #8144
@zulipbot claim

[2019-11-13 07:15] Abhishek-Balaji commented on #3220
@zulipbot claim

[2019-11-13 20:42] #13269 closed

[2019-11-13 20:53] timabbott commented on #13378
@Tlazypanda feel free to work on this if you know how to do it; @fwyh hasn't posted anything in a week and it seems not super complex, so I sorta suspect he's not actually working on it.

[2019-11-13 23:45] fwyh commented on #13378
@timabbott apologize about the delay. Submitted PR on the issue.

[2019-11-14 06:47] sumukhah commented on #13375
@zulipbot  claim

[2019-11-14 15:51] luckyraul commented on #11939
@timabbott OIDC is more preferable

[2019-11-14 17:14] mzch opened #13404 "[QUESTION] Debian Buster?"
I'm runing Zulip on Debian 9 and I'd like to upgrade OS to Debian 10.
Is Zulip compatible with Debian 10?

[2019-11-14 20:07] timabbott commented on #13404
Yes, but you need to upgrade to Zulip's master branch (soon to be `2.1-rc1`; you could wait for that if you like) as it's not supported in 2.0.x.

[2019-11-14 20:08] timabbott commented on #13404
See https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository
and https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system

[2019-11-14 20:08] #13404 closed

[2019-11-14 21:53] yovanycunha commented on #12617
@zulipbot claim

[2019-11-15 00:30] lelandhwu commented on #13346
Hey @kostekIV, how's it going? Am curious to know if you are still tackling this issue. Thanks!

[2019-11-15 06:32] kostekIV commented on #13346
Hi @lelandhwu, I am still working on this issue.

[2019-11-15 11:10] zfeed opened #13407 "Update zulipchat.com source code for organizations"
I created an organization by [zulipchat.com](https://zulipchat.com), so it's like example.zulipchat.com

All api endpoints work fine except for` /api/v1/events`. The same problem as in this [issue](https://github.com/zulip/zulip/issues/12902)

I assume the bug was fixed, but [zulipchat.com](https://zulipchat.com) wasn't updated

[2019-11-15 13:36] jag3773 commented on #13346
Note that Gitea's webhook should be nearly identical to the Gogs webhook.  I think there is already a Gog's integration for Zulip, right?

[2019-11-15 20:24] timabbott commented on #13407
@zfeed indeed; try testing again now.

[2019-11-15 20:24] #13407 closed

[2019-11-16 04:01] Abhishek-Balaji commented on #3220
@timabbott @roberthoenig Should I just stick to predefined shortcuts as of now or would you like me to enable a page for adding new custom shortcuts in organizational settings similar to custom emojis?

[2019-11-16 07:23] kkoderr commented on #13086
@kratsching are you still working on this.

[2019-11-16 07:23] kkoderr commented on #13086
@zulipbot claim

[2019-11-16 09:56] kostekIV commented on #13346
@jag3773 Thanks for pointing that out. I have checked Gogs webhooks and I didn't find yet a difference between them and Gitea (On gitea side I have used ). I looked at current Gogs webhooks and it looks like some did change. For example if I try to process webhook send by Gogs with information about closed pull request I get following key error.
[code]
Also at least one event is missing: 'issue_co

[2019-11-17 21:08] SZ1 commented on #11455
Guys loving the system but user emails showing It is a privacy law breach at the least and illegal in the UK oh my so confused now what to do. Wondering how to update zulip too. Loving zulip but this issue is quite major and now wondering if i wasted my time. Love zulip but seriously frustrated about this issue. Any fix on this to stop me getting sued? Thanks guys.

[2019-11-17 21:15] SZ1 commented on #11455
Users should not be able to see anything to do with the admin side what so ever, this will also push zulip forward as simple features like this should not be overlooked and may of caused many to use other systems which clearly are not as good as zulip. I will shut down my server for now as i can not run it showing users emails and besides that the admin menu etc should not be showing at all.

[2019-11-17 23:03] SZ1 commented on #11455
The issue is now fixed and resolved, here is how i did it:
Before upgrading backup:
**supervisorctl stop all**
/home/zulip/deployments/current/manage.py backup --output=/home/zulip/release-upgrade.backup.tar.gz
Now use command:
**apt-get update**
then:
**apt-get upgrade -y**

Then: you need to stop zulip services (zulip) using the command:
**sudo supervisorctl stop all**

Then i upgraded to offici

[2019-11-18 03:51] kostekIV commented on #13346
Hi, I opened pr with Gitea integration and while I was at it I also added issue related event in Gogs integration in another pr #13412. In my previous comment I have stated that some Gogs webhooks in zulip were outdated which was my mistake as they were up to date and working correctly.

[2019-11-18 19:51] timabbott commented on #11455
Correct, you just need to upgrade to master (or soon, to Zulip 2.1.x or newer) to get this feature.

[2019-11-18 20:09] #13346 closed

[2019-11-18 20:22] #13378 closed

[2019-11-18 21:00] lelandhwu commented on #3868
First time contributor here. Is new code necessary to write this integration? It seems like @LudovicHenry  was able to get something to work, but am still unsure if it's what we need. Will claim this issue in the meantime. @timabbott

[2019-11-18 21:01] lelandhwu commented on #3868
@zulipbot  claim

[2019-11-18 23:23] #13362 closed

[2019-11-18 23:50] timabbott opened #13413 "Improve management command system for sending custom emails"
In https://github.com/zulip/zulip/pull/13409, we added support for sending custom emails using `manage.py send_custom_email`.  There's a few things that would be nice improvements:
* Move the `send_custom_email` function to `zerver/lib/send_email.py` and add unit tests for it.  This will make it easier to maintain over time.
* Add support to the management command for including the `From:` address

[2019-11-18 23:52] timabbott commented on #3220
I had been imagining (A) A totally generic system and (B) it being a per-user feature more like "alert words" (maybe with eventually the option for admins to set a few to be available to all users).

I think this probably isn't a great project for a first-time contributor; there's a few somewhat tricky design decisions we'll want to make.

[2019-11-19 00:07] timabbott commented on #3868
I think it's certainly worth writing a documentation page for how to do it, even if no code changes are required.  And it might be cleaner to have the docs use the code from `zulip/integrations/nagios/` rather than a `curl` command.

[2019-11-19 00:20] swallitsch opened #13414 "Allow for additional hyperlink formats"
Currently (to my knowledge) Zulip only supports `http://`, `https://` and (if an config option is enabled) `file:///` (and probably `mailto`). We'd like for zulip to allow several additional link formats to be converted into links so they can be dealt with by our system's protocol handlers. Perhaps this could be a settings file only configuration?

[More information on protocol handlers](https://s

[2019-11-19 00:22] timabbott commented on #13414
This change is planned.; there's an open PR somewhere.  See https://github.com/zulip/zulip/pull/13076.

[2019-11-19 00:22] #13414 closed

[2019-11-19 00:23] swallitsch commented on #13414
Oh awesome! Thanks Tim!

[2019-11-19 01:44] bongjlee commented on #13413
@zulipbot claim

[2019-11-19 02:39] Abhishek-Balaji commented on #3220
![Screenshot from 2019-11-19 08-07-12](https://user-images.githubusercontent.com/42106909/69111508-cdfbce00-0aa3-11ea-8d91-3262dc6d6170.png)
@timabbott I've been working on something like this. Is this the idea you are interested in? Should I continue or drop the issue?

[2019-11-19 03:43] katisari commented on #12725
claim @zulipbot

[2019-11-19 03:44] apricity8 commented on #12050
@zulipbot claim

[2019-11-19 03:48] sletap commented on #3938
@zulipbot claim

[2019-11-19 04:10] sletap commented on #12799
@zulipbot claim

[2019-11-19 04:16] sletap commented on #12799
@zulipbot claim

[2019-11-19 04:44] blevenson commented on #2746
@zulipbot claim

[2019-11-19 05:23] timabbott commented on #3220
Well, the idea I'd had in mind was a bit more like GitHub's "saved replies" feature, with that sort of thing available as typeahead if one doesn't one to move one's hand to the mouse.  With that in mind, I'd build the "saved replies" type feature first and then add the keyboard typeahead for it.

To start with, we'll want a backend for storing these; I think a table called `SavedReply` with backen

[2019-11-19 05:58] Abhishek-Balaji commented on #3220
@timabbott I got it. I'll go through this.

[2019-11-19 19:09] apricity8 commented on #13388
@zulipbot claim

[2019-11-19 19:10] XAMPPRocky opened #13416 "Include attachments with emails"
### Current and desired situation

When I forwarded an email that contained a PDF attachment I was surprised that Zulip did not include this PDF, so I had to manually download and upload the attachment to the thread.

### Proposed implementation

Show emails with their attachments, in the same fashion as attaching a file to a message works currently.

[2019-11-19 19:10] apricity8 commented on #13388
@zulipbot claim

[2019-11-19 20:48] katisari commented on #12725
@zulipbot claim

[2019-11-19 23:34] timabbott commented on #13416
I had thought we did include attachments.  @mateuszmandera can you investigate?

[2019-11-19 23:35] andersk opened #13418 "Consider replacing Thumbor"
Thumbor runs on Python 2, which reaches [end of life on January 1, 2020](https://pythonclock.org/). This may not affect us immediately as some LTS distros are expected to provide some extended support for Python 2, but it will be [removed from Debian 11](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=931659) and [from Ubuntu 20.04](https://lists.ubuntu.com/archives/ubuntu-devel/2019-November/04

[2019-11-19 23:56] timabbott commented on #13418
It's worth noting that thumbor isn't in current production use outside chat.zulip.org, so it would not be particularly difficult to simply remove it in the short term.  But we of course want something to cover the use case we had been integrating thumbor to solve.

[2019-11-20 03:03] mayakhanna4 commented on #13365
@zulipbot claim

[2019-11-20 08:29] hashirsarwar commented on #13080
@zulipbot claim

[2019-11-20 10:44] LynMar91 opened #13420 "Slack Private Channel & Direct Message Import"
We are hosting our own Zulip server.  And would like to import our data from Slack.  Anyway that we can get the private channels and direct message history imported?

[2019-11-20 14:30] HDsky opened #13422 "Sending followup_day2 email"
I find my zulip has a high cpu rate process in our server.

`python3 /home/zulip/deployments/current/manage.py deliver_email`

and i find a lot of logs in `/var/log/zulip/send_email.log`

[code]

So how can i stop it?

[2019-11-20 18:50] timabbott commented on #13420
Yes, if you upgrade to Zulip master (soon to be posted as `2.1-rc1`), the Slack import tool supports importing that data.

[2019-11-20 18:50] #13420 closed

[2019-11-20 18:51] LynMar91 commented on #13420
Thanks Tim!  Do you have a timeframe when master will be posted?

Lyndon Martin
Martin’s Electrical Service LLC
Service Manager | 570.668.4540  ext. 108<tel:570.668.4540;108>

On Nov 20, 2019 at 1:50 PM, <Tim Abbott<mailto:notifications@github.com>> wrote:

Yes, if you upgrade to Zulip master (soon to be posted as 2.1-rc1), the Slack import tool supports importing that data.

—
You are receiving t

[2019-11-20 18:52] timabbott commented on #13422
@HDsky I'd like to understand how you got into this situation.  Is `emailaddress` a valid email address?

Are there any detailed logs in `/var/log/zulip/events_deliver_enqueued_emails.log` indicating what the cause of the error is?

[2019-11-20 18:55] timabbott commented on #13420
I'm hoping to get it posted this week before I leave for Thanksgiving travel.  You can also just install/upgrade to master following our docs and then upgrade to the release candidate when it's posted.

[2019-11-20 19:01] #13389 closed

[2019-11-20 19:06] LynMar91 commented on #13420
Thanks Tim!  Sounds great!  Here is our problem, we are hosting our own server and set it up last night doing the Slack import as part of the setup.  Only to discover that the private channels did not import!  So, is there anyway to use the slack import tool on an existing server or would need to start over to get the private channels imported?

Thanks for your help!

Lyndon Martin
Martin’s Electr

[2019-11-20 19:08] timabbott commented on #13420
You can use `upgrade-zulip-from-git master` to upgrade the software, and then re-import the organization (deleting the database).  So no need to start over.

See https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository

[2019-11-20 19:14] timabbott commented on #13365
I think this would be a good feature in line with our vision.

This would be somewhat complicated to implement; it'll require at least:
* Backend work to fetch the relevant nearby messages.  It may be nearly impossible to efficiently fetch the data desired for this as a single bulk query, so we'd likely end up needing to write a loop to fetch adjacent messages (making it slower than other, but pot

[2019-11-20 19:20] LynMar91 commented on #13420
Got it!  Thanks!

Lyndon Martin
Martin’s Electrical Service LLC
Service Manager | 570.668.4540  ext. 108

    [cid:image001.png@01D59FAD.B16088F0] <https://online.flowpaper.com/78900753/MESBrochure2019/>

From: Tim Abbott <notifications@github.com>
Sent: Wednesday, November 20, 2019 2:09 PM
To: zulip/zulip <zulip@noreply.github.com>
Cc: Lyndon Martin <lyndon@martinselectrical.net>; Author <author@

[2019-11-20 19:21] timabbott opened #13425 "Add support for customizing alert word colors"
We should probably support users specifying a custom color for alert words.

Implementation in the webapp shouldn't be very complex: We add the settings implementation, and then modify the `exports.process_message` function (which rewrites the message body to add the alert words HTML) to set the color as a style attribute.

We also want to change the default color: https://github.com/zulip/zulip/i

[2019-11-20 20:52] #11607 closed

[2019-11-20 20:56] timabbott opened #13426 "Fix i18n of sidebar user popovers"
In #11882, we added new tooltip hover behavior in the sidebars over users, replacing the old `title` elements that were slow to appear.

As part of that implementation, we added `static/templates/buddy_list_tooltip_content.hbs`, which has no internationalization.  We need to use https://zulip.readthedocs.io/en/latest/translating/internationalization.html#handlebars-templates to tag the various `La

[2019-11-20 21:12] vinitS101 commented on #13426
@zulipbot claim

[2019-11-21 00:13] stone212 commented on #7330
@oktayaa I don't know what you're asking.

[2019-11-21 00:46] timabbott opened #13429 "Add per-stream configuration for wildcard_mentions_notify"
In #13128, we are adding a new setting, `wildcard_mentions_notify`, which determines whether

This setting should have a per-stream override, like our other stream notification settings; this issue is for adding that.  I believe the plumbing for implementing it should be fairly simple; the #13128 implementation already creates the field in the data model and makes it do what it's supposed to; so w

[2019-11-21 00:50] timabbott opened #13430 "Optimize fetching of mention data for wildcard mentions"
In #13128, we are introducing this TODO:

[code]

Fixing this will avoid a performance regression in rendering of stream messages to large streams, and so is well worth doing; the regression isn't so bad to block merging #13128 in the first place, however.

This requires some restructuring of the code in `zerver/lib/mention.py` and its calling code path in bugdown to extract and save the informati

[2019-11-21 01:04] #13426 closed

[2019-11-21 01:40] #3530 closed

[2019-11-21 03:36] HDsky commented on #13422
@timabbott `emailaddres` is a user's emailaddres in our zulip.

in `/var/log/zulip/events_deliver_enqueued_emails.log`

[code]

I realized that the `****@gmail.com` is different with the up comment `emailaddres`. so ,how should i fix it up?