[2018-12-13 18:54] Alex-CodeLab commented on #11031
![screenshot from 2018-12-13 19-52-16](https://user-images.githubusercontent.com/1678423/49960535-aa81e800-ff10-11e8-8eac-98f3caea290b.png)
it tries to do something with long names, but it doesnt work anyway.

[2018-12-13 19:02] timabbott commented on #11034
Removing "area: bots", since that is for the bots API/ecosystem, not in-system notifications.

[2018-12-13 19:04] timabbott commented on #11029
@stone212 raising `PASSWORD_MIN_LENGTH` just affects new passwords; since we follow best practices of only storing hashes of passwords, we have no way of knowing the length of old passwords.

I'm not a fan of the user experience of forcing users to change passwords, but ultimately that should be an organization-level decision, so this is a reasonable organization-level set of settings/features to

[2018-12-13 21:34] #10916 closed

[2018-12-13 21:43] #286 closed

[2018-12-14 00:27] timabbott opened #11039 "ldap: Add support for providing the "full name" field split across two attributes"
In some LDAP databases, they only have separate "first name" and "last name" fields; we should offer a way to do that (inspired by comments in https://github.com/zulip/zulip/issues/9710).

I think a reasonable approach for this is to support users setting the `first_name` and `last_name` keys in `AUTH_LDAP_ATTR_MAP`, and then just have some custom code similar to what we have in 5dd646f33fa154ea98

[2018-12-14 00:48] timabbott opened #11041 "ldap: Add complete automated tests for LDAPUserPopulator and refactor"
Following 5dd646f33fa154ea98df1366b53e8904e5adf762 and 626e191201fa1376fe172cce096ccd7ff477631f, we have a decent block of code in `zproject/backends.py` that has been carefully manually tested, but doesn't have any automated tests.  We should extend `test_auth_backends.py` to have automated tests for running effectively  `zerver/management/commands/sync_ldap_user_data.py`.  While we're it, we can

[2018-12-14 02:59] blitzerr opened #11042 "Be able to get notification for a topic"
Currently Zulip supports notification for a stream or multiple of them. But sometimes we find the need to follow a specific topic in a stream rather than an entire stream. I would really love this feature.

[2018-12-14 05:34] stone212 commented on #11029
I agree that periodic password changes are annoying but to force users once to use a new security model so we don't have 75 users with very weak passwords forever will be useful.

[2018-12-14 05:40] stone212 commented on #11030
@timabbott

I am receiving all of the login email messages and my /etc/zulip/settings.py file has this:

[code]

I have tried it with the line un-commented with no change.  After all changes I do this:

[code]

[2018-12-14 07:08] timabbott commented on #11030
To uncomment the line, you want it to read as:
`SEND_LOGIN_EMAILS = False`
(no hash at the front; `#` is the syntax for a comment and thus makes the line not do anything).

[2018-12-14 07:22] timabbott opened #11043 "emails: Fix `.subject` files not being included for translation."
We have the `templates/zerver/emails/*.subject` template files, several of which are tagged for translation via work in #9223.  However, this grep result:
[code]

shows that our `.subject` files don't appear in the `static/locale` directories, and clearly aren't actually being included for translation.  We should investigate and fix.

[2018-12-14 07:53] Shoumorup commented on #11016
@zulipbot claim

[2018-12-14 10:19] Varunvaruns9 commented on #11026
@zulipbot claim

[2018-12-14 11:55] Hudda commented on #11015
@zulipbot abandon

[2018-12-14 15:02] ishanrai05 commented on #10895
@zulipbot  claim

[2018-12-14 18:52] timabbott commented on #11030
Can you run `grep SEND_LOGIN /etc/zulip/settings.py`?  I want to make sure the line doesn't appear twice in your settings file.

[2018-12-14 18:58] timabbott commented on #9953
Closing this, since I think the only outstanding issue here is #10992 (well, that plus hopefully getting various upstreams to merge our changes so we can unfork them, but that's easy to track separately).

[2018-12-14 18:58] #9953 closed

[2018-12-14 19:00] timabbott commented on #11042
I don't think we have an open issue for this idea.  There's some complexity to this sort of thing because of how one can edit message topics, but really no more complexity than we already have with muted topics.

In terms of your use case @blitzerr, are you primarily interested in desktop, email, and/or mobile notifications?

[2018-12-14 19:23] blitzerr commented on #11042
Maybe all three options would be ideal and people can opt in if they want. But if you ask me for preference I would say mobile notifications first.

I would like thank you, @timabbott  for such a speedy response. I am thankful that you guys are so attentive to requests and asks.

[2018-12-14 19:33] #10953 closed

[2018-12-14 23:53] timabbott opened #11047 "Finish work on automatic open graph tags for /help/ and /api/"
I recently opened #11045, which is a prototype implementation for making Zulip's /help/ and /api/ pages have reasonable open graph and twitter meta tags based on the content of each article.

The outstanding work required is:
* Do something with first paragraphs that contain HTML tags.  I'm going to do some testing for what's required here, but probably a custom LXML thing like `get_mobile_push_co

[2018-12-15 00:13] #11033 closed

[2018-12-15 02:06] stone212 commented on #11019
@akashnimare

[code]

[2018-12-15 02:07] stone212 commented on #11030
@timabbott I already checked but "great minds think alike" so here is the output (shows the line one time only:

[code]

[2018-12-15 06:07] shubham-padia commented on #10534
@zulipbot claim

[2018-12-15 06:58] madguy02 opened #11048 "Not able to access zulip-dev on the browser"
I have a vagrant set up on my desktop(Ubuntu-16.04). I have done a `vagrant up` and then `vagrant ssh`, after which i logged into the vm and then ran `./tools/run-dev.py`, the server runs without errors, but i am not able to access zulip on port 9991 localhost

Here are the logs:

[code]

the vagrant runs with the root user access

on the brower it says:

[code]

[2018-12-15 07:04] madguy02 commented on #11048
resolved!!

[2018-12-15 07:12] madguy02 commented on #11048
In the vagrant docs for zulip : [https://github.com/zulip/zulip/blob/master/docs/images/zulip-dev.png](image)
it says it runs on `localhost:9991` but its not accessible for me, hence i have done an ifconfig over in the vm and then got the ip and ran it with port: 9991, it works now

I am not sure if the screenshot has to be updated or am i missing something on the localhost end?

[2018-12-15 08:13] Hudda commented on #11015
@zulipbot claim

[2018-12-15 10:04] sumanthvrao commented on #11009
Hello @timabbott. I am really interested in performance improvements and would like to take up a project on those lines. This may be tough but I want to give it a shot. Can i go ahead?

[2018-12-15 10:33] AsociTon commented on #10840
if the current color seems ok, I will raise a PR with it.

[2018-12-15 11:27] jainkuniya opened #11049 "server: Add a server setting to enable pin/fingerprint option for mobile app."
https://chat.zulip.org/#narrow/stream/48-mobile/topic/block.20with.20pin

[2018-12-15 12:10] #11048 closed

[2018-12-15 14:42] rht commented on #11010
On another note, what about adding a settings group called "Experimental features"? This way, testing can be outsourced to zulipchat.com, not just on czo.

[2018-12-15 17:44] akashnimare commented on #11031
`overflow: hidden` is needed while using `text-overflow: ellipsis`
https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2018-12-15 19:14] #10895 closed

[2018-12-15 21:41] timabbott opened #11055 "tests: Optimize test-backend performance when not much has changed"
The `test-backend` total runtime has slowly crept up to around 80s on my laptop, up from ~35s a few years ago.  To some extent this is a result of Zulip gaining a ton more functionality, often with extensive test suites.  But it's worth investing in whether we can optimize this without doing anything super hard.  This issue has a few notes on ideas.

- [ ] We could make the default `test-backend`

[2018-12-15 22:34] timabbott opened #11056 "Make message_edit compose options look more similar to the compose box."
Currently, the message edit area has several of the feature buttons of the main compose box (attachments, message formatting link), but in a weird place that makes them easy to miss:

![local_file 3](https://user-images.githubusercontent.com/2746074/50047969-49275980-0075-11e9-9429-783ab6fb7857.png)

We should at the very least move them to the left of the time limit thing (and maybe just left-jus

[2018-12-15 22:54] Varunvaruns9 commented on #11026
@timabbott I think we should also move the code in https://github.com/zulip/zulip/commit/982a70431f18a2b75d6d287748ff5ce2b243a60f for re-rendering the mentions to current names, https://github.com/zulip/zulip/blob/982a70431f18a2b75d6d287748ff5ce2b243a60f/static/js/message_list_view.js#L462-L468 outside the if block checking for class 'mention' as currently it only checks mentions with orange backg

[2018-12-16 06:06] AsociTon commented on #9157
@zulipbot claim

[2018-12-16 07:54] AsociTon commented on #11056
@timabbott I would like to claim this issue but my previous PR for issue #10840 is in pending condition and I am a new contributor so I am unable to claim any other issue, please help me with it.

[2018-12-16 09:50] hackerkid commented on #10840
@AsociTon Please take a look at https://chat.zulip.org/#narrow/stream/101-design/topic/dark.20mode.20reaction

[2018-12-16 15:52] #10534 closed

[2018-12-16 17:35] timabbott commented on #11026
@Varunvaruns9 I don't think that's right -- we use the class `user-mention` whenever a user is mentioned, regardless of whether it's you or another user.  See the `people.is_my_user_id` earlier in the block.

[2018-12-16 18:42] timabbott commented on #10792
This is my fault as I've been swamped; doing a review now.

[2018-12-16 18:55] Varunvaruns9 commented on #11026
@timabbott Yes, we use class `user-mention` every time a user is mentioned but on line 451 here (if block just outside find for `user-mention`) we have an if condition checking for class `mention` that is true only if row has orange background, that is you were mentioned or a user group you are in was mentioned.
https://github.com/zulip/zulip/blob/022e926d64335d9ab3febd2ba327bf569e71a885/static/js

[2018-12-16 19:13] timabbott opened #11058 "notifications: Fix styling for sending group PMs to several people out-of-view"
Notice the `x` being overlapped by the text content in this screenshot:

![image](https://user-images.githubusercontent.com/2746074/50057739-716d9180-0123-11e9-8e7f-c51a1692b902.png)

Reproducer:
* Make your Zulip window narrow.
* Narrow to a stream.
* Use `x` to compose a PM to a set of several users.
* Send the message; Zulip will notify you that the message appeared off-screen.

[2018-12-16 19:36] timabbott commented on #11026
Oh, I see, makes sense.  Yes, we should change that logic.

[2018-12-16 20:00] timabbott commented on #11010
Generally we just add things in the place they should go, and tag them as "experimental".  It's not super hard to do that here, but I also don't think it's any less work than just fixing the widget.

[2018-12-16 20:02] timabbott commented on #11048
In theory, this line in the Vagrant config:
[code]

Should forward port 9991 on localhost to the guest.  I'm guessing your actual problem might be something weird in your `/etc/hosts` file for `localhost`.

[2018-12-16 20:48] rht opened #11060 "Upgrade Postgresql version on CentOS 7 dev environment to 11"
Steps to do:
1. Bump PGVER to 11 at build-tsearch-extras, setup-yum-repo; bump POSTGRES_VERSION_MAP to 11 for centos7
2. Add `install llvm-toolset-7` to yum dependencies for building tsearch-extras since it now requires clang. This requires adding subscription to the repo (see https://developers.redhat.com/blog/2018/07/07/yum-install-gcc7-clang/, see also https://github.com/zulip/zulip/pull/11004#

[2018-12-16 21:47] #11056 closed

[2018-12-17 00:01] ilyaevseev opened #11063 "Cannot install pgroonga for Zulip 1.9.1 on Ubuntu 18.04"
It seems that [pgroonga/migrations/0002_html_escape_subject.py](../blob/master/pgroonga/migrations/0002_html_escape_subject.py#L11) uses syntax that's incompatible with PostgreSQL 10:

[code]

[2018-12-17 00:55] timabbott commented on #11063
@ilyaevseev I assume you enabled `USING_PGROONGA` in `/etc/zulip/settings.py`?

Also, it looks like you're upgrading an existing installation, based on the fact that there's 74K message rows in your database; can you talk more about what exactly you're doing?

[2018-12-17 00:57] timabbott commented on #11063
I suspect this change is sufficient to fix the issue.
[code]

[2018-12-17 01:04] ilyaevseev commented on #11063
Great!
Your fix of zerver/lib/migrate.py solved this problem!

[2018-12-17 01:46] timabbott commented on #11063
Ok, I'll merge a fix.  Thanks for the report!

[2018-12-17 01:47] #11063 closed

[2018-12-17 02:05] rht commented on #11010
I'm not referring just to the "/poll" widget but to all the experimental "lab" features. Isolating them in a group helps to reinforce that they are experimental.

[2018-12-17 04:05] rht commented on #959
Isn't the problem already 50% solved with the existing email integration? The other remaining 50% is to forward the messages sent within Zulip to the mailing list. This solution is general, can be applied to any mailing list server.

[2018-12-17 04:52] timabbott commented on #3447
@neiljp did the work some time ago to enable it by default, with an exclude list of the files that don't have complete coverage.  There's still a reasonable project of shrinking that exclude list, but I think it's reasonable to close this now as the issue is now confusing.

[2018-12-17 04:52] #3447 closed

[2018-12-17 08:44] aero31aero commented on #4627
@zulipbot claim

[2018-12-17 09:03] loop-evgeny commented on #10953
Thanks. It would be good to also tell the user what characters are considered valid. Otherwise the error message if you use a character it doesn't allow is still confusing: "you must use the following format" - "well, that's what I'm doing!"

[2018-12-17 12:14] lukasIO commented on #6954
is it still planned to solve this? seems like a very nice feature

[2018-12-17 15:39] timabbott commented on #10953
Yeah; I've been unhappy with how the validation works for this feature basically since we introduced it, but that would likely be a valuable improvement.

[2018-12-17 15:40] #10440 closed

[2018-12-17 15:45] iamkroot commented on #10626
@zulipbot abandon

[2018-12-17 16:35] timabbott commented on #6954
@lukasIO yes, definitely.  We just have other push notification-related issues that have taken higher priority.  I just did a rebase of #8076, since we should include thinking about it in our plans.

[2018-12-17 19:19] alexsandulescu commented on #9157
@zulipbot claim

[2018-12-17 19:30] timabbott commented on #11043
Fixed in b29d66f34b17465713024a95abb3fe9b1705af58.

[2018-12-17 19:30] #11043 closed

[2018-12-17 19:36] alexsandulescu commented on #9157
@zulipbot abandon

[2018-12-17 21:00] #10914 closed

[2018-12-17 22:19] timabbott opened #11069 "Accepting typeahead in the compose box is not properly advancing"
When you accept the autocomplete in the stream/topic boxes of the compose box, it should automatically advance you to the next field (and I think it used to, though not 100% sure).  Now, accepting the typeahead there leaves you in the same box, which is the correct behavior for PMs (since you may want to add a second user), but not for streams/topics.

@shubham-padia probably this is a good issue

[2018-12-17 22:41] timabbott opened #11070 "Use python's subTests for some of our test suites"
https://docs.python.org/3/library/unittest.html#distinguishing-test-iterations-using-subtests is a cool feature of the Python unit test framework that lets you declare subtests.

We have a few test suites, especially e.g. `BugdownTest`, which could likely have their output be significantly cleaned up by using this feature.  Once we've done that and seen if we like the results, we can look into whe

[2018-12-18 00:40] timabbott opened #11072 "stream_color: Fix stream colors always changing when you subscribe to a stream via web UI."
Reproduction: Go to the "Manage stream" "All" tab, and click any stream you've never been subscribed to before.  The color will immediately change when you click it.

@showell I feel like I fixed this bug at some point in the past; the strategy is supposed to be that the we send the color the webapp had picked to the server in the subscribe request, so it knows what color to use.

My guess is we m

[2018-12-18 04:58] GrugLife commented on #11070
@zulipbot claim

[2018-12-18 07:52] stone212 commented on #11030
@timabbott I am not sure why this is closed.  I am still experiencing this Issue and I have run the commands you specified.  Is anyone able to reproduce this but un-commenting and setting to True and then trying to revert back to defaults?

[2018-12-18 13:22] alexsandulescu commented on #7549
@zulipbot claim

[2018-12-18 16:49] Aasfga commented on #10828
@zulipbot claim

[2018-12-18 18:06] Rishabh570 commented on #5639
@timabbott Nope, Actually I've tried to set-up fixtures for this but due to some roadblock because of me using windows (there was some command related to buildbot that was not supported in windows and it was required to set up the webhook URL...so couldn't get fixtures because of that) stopped me from going ahead with it :(

[2018-12-18 19:25] abhishekslab opened #11077 "Message editing: minimise the message edit box after 60 mins"
![issue](https://user-images.githubusercontent.com/41135524/50177207-65522180-0327-11e9-98d1-e361ef3b6fa7.png)

**Steps for Reproducing issue:**
-write a message to anyone, after 60 mins when the message can't be edited[ according to our organization's policy], open the edit box, now even if we can't edit the message inside the box it still opens that big.

**Expected behavior after fix:** Once th

[2018-12-18 19:31] vrongmeal commented on #11025
@timabbott `/me` works if it is used at the start of the message. Is this behaviour intentional?

[2018-12-18 20:01] timabbott commented on #11025
`/me` is currently only intended to be processed at the start of a message, yes.  I think conceptually it'd be weird to change that, because of how we rearrange how the avatar/name (etc.) is displayed.

[2018-12-18 20:18] timabbott opened #11079 "Fix redis flakes on Ubuntu bionic in circleci"
We've been suffering from an annoying test infrastructure flake for a while, where `redis` doesn't start up properly in Ubuntu bionic like 1% of the time.  While rare, this is a significant problem for the project since CI flakes reduce confidence in CI failures being definitely your fault, and can be really confusing for new contributors to try to debug.  See

https://chat.zulip.org/#narrow/strea

[2018-12-18 20:38] vrongmeal commented on #11025
Thanks. I'll get started with working on the issue.

[2018-12-18 20:45] rht commented on #11009
@sumanthvrao check out this [PR](https://github.com/zulip/zulip/pull/9097) for reference.

[2018-12-18 20:46] #7995 closed

[2018-12-18 22:21] timabbott commented on #11030
@stone212 can you try this:
[code]

And then next, edit `zerver/signals.py` to add `print(SEND_LOGIN_EMAILS)` there and check for what appears in `/var/log/zulip/server.log`?

I'm reopening, but generally I keep responding as long as there's something resolved regardless of whether the issue is open.

[2018-12-18 22:38] #10478 closed

[2018-12-19 01:19] timabbott commented on #41
Just an update on this, we recently completed support for installing a Zulip development environment on CentOS/Fedora/etc.  Work is ongoing on production installer support.

[2018-12-19 06:46] stone212 commented on #11030
@timabbott

[code]

I will do the other test later.  I am starting to think these email messages are not login related.  But they started within a few minutes of first enabling that option and when I dis-abled that option these kept coming but I did not scrutinize enough.   However the reason I enabled it is because our site was getting some malicious traffic and now I wonder if the emails are war

[2018-12-19 06:46] #11030 closed

[2018-12-19 07:55] AsociTon opened #11085 "Dead links present on the architecture-overview page"
**Reproducing the issue**
Go to the page https://github.com/zulip/zulip/blob/master/docs/overview/architecture-overview.md
various links listed below don't work, they are specified in the order of their presence on the page.
1)the directory structure guide
2)the security model section
3) the guide to the pointer and unread counts
4) real-time push and event queue system
5)translation
6)templates
7

[2018-12-19 09:02] sarathsoma commented on #8144
@zulipbot claim

[2018-12-19 09:03] sarathsoma commented on #11085
@zulipbot claim

[2018-12-19 10:36] Shoumorup commented on #11016
Hey @timabbott ! Just a few trivial questions.
This issue essentially wants to address that:
1. All hard-coded css presently in templates/zerver/emails/compiled/digest.html be removed to a separate digest.css file (Similar to email.css)?
2. This digest.css file be called from another python script similar to tools/inline-email-css?

Is this correct or you aim to address something else that i might

[2018-12-19 12:36] hackerkid opened #11086 "tools/check-capitalization catches variables with "realm" in its name"
Its not currently possible to include a variable with name realm inside the trans tag. It will create error that term realm should not appear on user-facing strings. For example the following lines will create error.

[code]
[code]

The variables had to be rewritten to something like this supress the error.
[code]

I think the idea for adding the "realm" check was to prevent passing strings with r

[2018-12-19 12:37] hackerkid commented on #11086
@zulipbot label "area: i18n" "area: tooling"

[2018-12-19 14:30] sumanthvrao commented on #11009
thanks you @rht

[2018-12-19 16:39] donosco98 commented on #10592
@zulipbot claim

[2018-12-19 17:44] timabbott opened #11087 "Figure out how to stop people from reading our ReadTheDocs docs on GitHub"
We commonly run into new contributors being confused about 'broken links' because they read our ReadTheDocs articles using GitHub's markdown viewer.

E.g. https://github.com/zulip/zulip/blob/master/docs/overview/architecture-overview.md links to
`../subsystems/events-system.html`, which is the correct relative link (and convenient for being able to test in the development environment).  But with G

[2018-12-19 17:56] shubhamdhama commented on #10818
@YJDave I can work on this if you're busy with other things?

[2018-12-19 17:59] timabbott commented on #11087
This approach sorta works:

[code]

On ReadTheDocs, it's invisible.  On GitHub, it's:
![image](https://user-images.githubusercontent.com/2746074/50238502-6198bc00-0374-11e9-8fe6-d1f94a0f9136.png)

which is ugly but maybe OK, since it'll achieve the goal of redirecting folks.  There are two problems we'd need to solve:
* We kinda want this on every article, which is a pain to do without copying tha

[2018-12-19 18:27] timabbott opened #11088 "Optimize performance of open graph tag addition in our /help/ pages with caching"
In 9c3f38a56487d709233b61cc9037b9eae8339437, we added support for automatically extracting open graph strings from the /help/ and /api/ articles' text, and substituting it into the HTML.

That process currently involves using BeautifulSoup to parse our own HTML, which is fine but takes about 20ms.  Since in production, the /help/ article content doesn't change with time, we should be able to cache

[2018-12-19 18:32] #11085 closed

[2018-12-19 18:44] Shoumorup commented on #11016
I've made a few changes to templates/zerver/emails/compiled/digest.html directly. The issue is since the digest mail script just triggers on Tuesday it should render the changes i've made without injecting css from email.css using inline-email-css, unless of course you change the day and all the work gets overwritten.

The changes to digest do not appear on doing a git status (as I'm presuming its

[2018-12-19 18:55] timabbott commented on #11086
Yeah, I actually liked the change to do `{% trans organization_url=realm_uri %}` from a translator user experience perspective; it's kinda nice for translators to not have to see the word 'realm'.  So I'm basically happy with the current outcome.  It might be not a bad idea, though, to change the variables passed to templates to be `organization_uri` rather than `realm_uri`, as the default name...

[2018-12-19 18:56] timabbott commented on #11085
Thanks for reporting @AsociTon!  This issue is actually https://github.com/zulip/zulip/issues/11087.

[2018-12-19 18:57] timabbott commented on #10818
@shubhamdhama go for it; I think @YJDave has been busy moving or something :)

[2018-12-19 18:58] timabbott commented on #11030
@stone212 thanks for resolving this mystery!  As a sidenote, you're running a random version off master, right?  I think that traceback is actually an electron app/server interaction bug that was present in master for about a day.  In any case, if you upgrade you should be all set.

[2018-12-19 19:18] shubhamdhama commented on #10818
Sure, @zulipbot claim

[2018-12-20 02:10] rht commented on #41
Ongoing PR: #11091.

[2018-12-20 08:14] stone212 commented on #11030
@timabbott I did a normal upgrade again (same way I did just before this problem started - and coinciding with me changing the EMAIL variable) and I have not had these emails in a few hours.

So the "Issue" should have been: `Recent Upgrade Got me On Some Other Track That Sends me Too Many Emails` or something.  But it's resolved too.

[2018-12-20 10:02] ImRaviTejaG commented on #11088
@timabbott I'd like to take up this issue, but this being my first time here with zulip, can you elaborate a bit more on this issue and give me an idea of where to get started!

[2018-12-20 10:03] ImRaviTejaG commented on #11088
@timabbott I'd love to work on this issue, but this being my first time here with zulip, it'd be highly appreciable if you can elaborate a bit more on this issue and give me an idea of where to get started!

[2018-12-20 12:47] sumanthvrao commented on #11009
@zulipbot claim

[2018-12-20 13:52] C0ffeeMachine commented on #11088
@timabbott I would like to work on this issue. Well I searched for caching and I am learning about frontend caching to work on this issue, if you assign me to this issue.

[2018-12-20 14:07] Shoumorup commented on #11016
@timabbott  Can you please review it?
[https://github.com/zulip/zulip/pull/11095](url)

[2018-12-20 14:30] isunitha98selvan commented on #10539
@zulipbot claim

[2018-12-20 16:07] akornor commented on #11008
@zulipbot abandon

[2018-12-20 16:44] donosco98 commented on #11008
@zulipbot claim

[2018-12-20 18:34] YashRE42 commented on #4240
@zulipbot  claim

[2018-12-20 20:51] Xerus2000 commented on #10369
Are you working on this. I just experienced this myself, adding new streams is not really a visible thing, only a tiny gear over the streams...
Maybe add a "Configure Streams..." text button directly below the streams? You simply need to create more visibility.

[2018-12-20 21:30] Be-ing commented on #10369
I wouldn't want this perpetually taking up space in the UI. Configuring streams is generally a set-and-forget action. I think this UX issue would be better addressed by changing something only at the time a new user registers.

[2018-12-20 21:35] Xerus2000 commented on #10369
Maybe a short intro to zulip and point out the button. That could also help against new users posting randomly somewhere or creating test topics.

[2018-12-20 22:07] glyph opened #11098 "keyboard shortcut for "narrow to mentions""
I can narrow to most other things by using the keyboard, cycling through to check my unread messages, a shortcut to narrow to @-mentions would be great.

Thanks!

[2018-12-20 22:31] keithat80024supportdotcom opened #11099 "Hipchat import image files broken."

[2018-12-21 09:48] gnzlbg opened #11105 "Implement StackOverflow reply UI for replying to messages within streams"
One of my favorite features of StackOverflow's chat rooms is being able to reply to a particular message, such that the writer of the message gets pinged, and the reply contains a way to jump to the message being replied to.

The "Quote and reply" option doesn't really cut it. It is "hard" to discover (as in, it is part of a drop-down), and while it quotes the message in the reply, it is not possi

[2018-12-21 15:08] akashnimare commented on #11058
@timabbott does this look okay -

![image](https://user-images.githubusercontent.com/2263909/50348919-2eb31b80-0560-11e9-9b84-f000b8575401.png)

![image](https://user-images.githubusercontent.com/2263909/50348954-45f20900-0560-11e9-9db2-d8c26b858f95.png)

The problem here is that it should have the same styling as `compose_close`.

[2018-12-21 16:48] bstansberry opened #11108 "Add a config setting to keep the 'Private messages' block open"
RFE: Make it easier to toggle between streams and a particular private message conversation by leaving the left hand block of 'Private messages' open when I move away from private messages to a stream.

Basically, I find having the overall 'Private message' content open in the main panel to be risky as it is too easy to post a message meant for one person to another person by mistake. And since th

[2018-12-21 19:35] timabbott commented on #11058
X may be too close to the corner (not sure) but otherwise looks good.  Open
a PR?

On Fri, Dec 21, 2018, 7:08 AM Akash Nimare <notifications@github.com wrote:

[2018-12-21 20:32] #11099 closed

[2018-12-22 09:16] adityavats007 commented on #8750
@zulipbot claim

[2018-12-22 09:40] adityavats007 commented on #6018
@zulipbot claim

[2018-12-22 09:48] adityavats007 commented on #4676
@zulipbot claim

[2018-12-22 12:58] Raghavareddy21 commented on #8144
@zulipbot abandon

[2018-12-22 12:59] sahil839 commented on #11048
I am also facing the same problem.
Can anyone help me out with the detailed solution to this problem?
thanks

[2018-12-22 16:06] AsociTon commented on #10890
@zulipbot claim

[2018-12-22 16:30] BartekJachowicz commented on #10432
@zulipbot I'm still working on this issue

[2018-12-22 16:31] timabbott commented on #11098
Suggestions for what key would make sense for this?

[2018-12-22 17:12] sahil839 commented on #10867
Can I work on this issue?

[2018-12-23 03:40] skunkmb commented on #10979
@zulipbot claim

[2018-12-23 04:51] jayantsudo24 commented on #11088
@zulipbot claim

[2018-12-23 08:00] mregdos commented on #9020
@zulipbot : I am still working on it, I should be able to add pull request either today or tomorrow.

[2018-12-23 13:48] Hypro999 commented on #11079
WIP pull request made [here](https://github.com/zulip/zulip/pull/11117).

[2018-12-23 15:08] beppe9000 opened #11119 "Is there a way to set resource usage limitations?"
I am in the process of evaluating Zulip on a server that already has other things on it, butbefore deploying I wondering about this thing...

My shared hosting provider has set some limitations on server resources. I am allowed to use 25% of CPU (if I use more it needs to be in 90 seconds bursts) and 25% of the ram. I also have limitations on the number of processes.

Is there a way (i think ipref

[2018-12-23 15:11] beppe9000 commented on #11105
even whatsapp has it

[2018-12-23 17:44] siddhantkhandelwal commented on #11034
I would like to work on this issue. Can you please guide me through the process?

[2018-12-23 20:20] apooravc commented on #11072
@timabbott I tried reproducing this on the master branch but I didn't see stream color change. I went to Menu > Manage Streams > All tab and checked subscribing an unsubscribed stream. Did I miss something?

[2018-12-23 20:47] Amadeo234 commented on #10320
@zulipbot claim

[2018-12-23 21:31] apooravc commented on #11072
@zulipbot claim

[2018-12-23 21:46] zeitrechnen opened #11123 "Add administrator setting for controlling whether "include message content is missed message emails" is forced to true for all users"
For data protection reasons I would like to remove the conversations from the outgoing emails. But I couldn't find a setting for it. Do I have to change the individual email templates here?

Thanks!

Zulip Server 1.9.1

[2018-12-23 21:51] apooravc commented on #11072
@zulipbot claim

[2018-12-23 22:43] rishig commented on #10979
By the way, we have a number of potential users migrating from HipChat that are asking for this, so would be great to get this in soon!

[2018-12-24 04:36] GrugLife commented on #11070
I've made it about half way through `BugdownTest` adding subTest.  Should I put in a PR now and see if the subTest is something to move forward with or keep on adding them to `BugdownTest`?

[2018-12-24 13:36] puneeth2001 commented on #7549
can I work on this issue..??

[2018-12-24 14:01] puneeth2001 commented on #9157
can anyone help me with this, I have added two alert words
![screenshot from 2018-12-24 19-27-06](https://user-images.githubusercontent.com/43813460/50401133-2c480000-07b2-11e9-8c9f-578ba7fc77f9.png)
and Then first If I had alert word as Puneeth Chanda it is not working and only Puneeth is getting highlighted like this:
![screenshot from 2018-12-24 19-27-12](https://user-images.githubusercontent.c

[2018-12-24 17:16] donShakespeare commented on #10912
@timabbott your idea would be very very much welcome and wonderful. Right now, deleting 100 messages just to remove the parent topic is more tasking than nuking the topic to nuke the including 100 messages.

Maybe eventually add a nice checkbox near the delete stream button to opt in delete all the topics (and therefore messages) in the stream that is being nuked.
![image](https://user-images.gith

[2018-12-25 06:32] bistaastha commented on #4849
@zulipbot claim

[2018-12-25 07:18] akata01 commented on #5256
Hii.. I want to contribute to zulip react native app but I m not able to explore all the functionality and find bugs because I don't have a server url to log into the app. Please somebody send me an invite. Please.😞

[2018-12-25 12:44] sarathsoma commented on #10867
@zulipbot claim

[2018-12-25 12:59] sahil839 commented on #10867
@zulipbot claim

[2018-12-25 13:00] sarathsoma commented on #11011
@zulipbot claim

[2018-12-25 13:14] sahil839 commented on #11034
Is there any feature currently which involves usage of notification bot ?

[2018-12-25 13:50] sahil839 commented on #11077
@AsociTon can you elaborate more on which type of special alert notice is required?

[2018-12-25 13:58] AsociTon commented on #11077
@sahil839 you need to discuss and get confirmation on the exact details for how the alert message should look like in #design section, while the basic idea was that instead of showing the message that cannot be edited , show an alert message in it's place and adjust the buttons accordingly. refer to this https://chat.zulip.org/#narrow/stream/9-issues/subject/message.20edit.20window.20doesn't.20aut

[2018-12-25 17:20] hackerkid commented on #11034
@sahil839 Yup. When a user gets subscribed to a stream `notification-bot` sends message. There are many other cases as well. Just search for `NOTIFICATION_BOT` in the codebase to find out how its done
[code]

[2018-12-25 19:17] swapnilkha commented on #10867
claim

[2018-12-25 19:17] swapnilkha commented on #10867
@zulipbot claim

[2018-12-26 16:48] nikomatsakis commented on #11105
Yes, whatsapp + telegram both have this and it is great.

[2018-12-26 16:48] nikomatsakis commented on #11105
(That said, I still think quoting is useful as part of the UI -- I'd just like to have a link to the thing that was quoted.)

[2018-12-26 16:57] puneeth2001 commented on #2305
@zulipbot claim

[2018-12-26 20:57] matkaczmarek commented on #10980
Still working on that.

[2018-12-26 22:13] rht commented on #1718
What is the current status of whether to prefer Django channels or RabbitMQ as of today?

[2018-12-27 10:10] mregdos commented on #9020
@zulipbot claim

[2018-12-27 13:16] architkshk commented on #11098
As "M" is being used for muting a topic, it can be confusing. I think a better option is to use "ctrl/cmd + m".

[2018-12-27 13:39] architkshk commented on #11098
@zulipbot claim

[2018-12-27 15:03] rht commented on #9020
@kamalmarhubi 	in the meantime, check out https://github.com/zulip/zulip-terminal which has config for custom keys.

[2018-12-27 18:15] Dbone29 opened #11134 "Use Apache as Webserver"
Hallo Zulip-Team,

I'm currently working to make Zulip run with Apache as Webserver in front of it. The installation script is setting up a Nginx Webserver which we wouldn't use if possible. Our school uses apache for every other service we run, so it would be easier to maintain apache for us. We also want to use apache sso.

Is there any kind of example config or documentary for using apache for

[2018-12-27 21:43] cruscio opened #11135 "FileNotFoundError importing from HipChat - emoticons.json"
Attempting to migrate from HipChat Server (Atlassian HipChat 2.2.9 (2018.01.23.110010) ) to Zulip

- Fresh Zulip install using the production install guide - https://zulip.readthedocs.io/en/stable/production/install.html
- Followed the Import from Hipchat instructions (including upgrading Zulip server to the latest master branch) - https://zulipchat.com/help/import-from-hipchat
- Encountered the f

[2018-12-28 04:14] #10947 closed

[2018-12-28 04:30] timabbott opened #11136 "Document support for using stream_id in mute_topic endpoints"
We just added support in #11126 for muting topics using stream ID, not stream name, in the API; we should update our Python bindings and documentation to support this as well.

[2018-12-28 05:34] AsociTon opened #11137 "message editing: The edit message is unconstrained of MAX_LENGTH"
**Reproducing the issue** : Send a message greater than 10, 000 characters http://www.blindtextgenerator.com/lorem-ipsum , zulip will only take MAX_LENGTH, you won't be able to type anything after it. Now after sending it, click on edit message and append more content to it, you can now expand it to whatever length.

**Expected behaviour** : The text box should enforce a MAX_LENGTH limit while edi

[2018-12-28 05:37] timabbott commented on #11135
@cruscio thanks for the report!  I think we're just not properly handling the `includes_emoticons: false` state.  @showell can you investigate?

[2018-12-28 06:32] rishig commented on #10513
Thanks for the suggestion! More discussion at https://chat.zulip.org/#narrow/stream/3-backend/topic/pinning.20users.

[2018-12-28 06:38] rishig opened #11138 "message view: We show "Scroll down to view message" even if Zulip scrolls message into view."
A bug I've run into a few times since the feature was released is that the "Scroll down to view messages" notice will show even if Zulip then subsequently does the scrolling for me. I believe it happens every time, so as long as you can reproduce the "Zulip subseqeuntly scrolls" behavior, you can probably reproduce this.

The sequence of events is
* I'll send a message, such that some part of it i

[2018-12-28 13:06] TheVzard opened #11141 "Scrolling in Settings"
On scrolling down in one section of settings, if you move to another section then it is already scrolled down to the same level. When the other section has content enough to be scrolled it shows scrolled down content but when the other section is shorter than the original section it shows blank and we have to scroll up to see the settings.
![capture_1](https://user-images.githubusercontent.com/225

[2018-12-28 13:30] Hudda commented on #11015
@timabbott for the third part, I changed the database default from `HOST: ''` to `HOST: '.'` in `settings.py`. Am I going in the right direction.

[2018-12-28 13:57] cruscio commented on #11135
Managed to get an export with an `emoticons.json` file using `hc-migrate` - [instructions here](https://confluence.atlassian.com/hipchatkb/exporting-from-hipchat-server-or-data-center-for-data-portability-950821555.html)

And encountered the following error during conversion
[code]

[2018-12-28 14:17] cruscio commented on #11135
Contents of emoticon.json file below.
jq can parse it... maybe `ujson` ran into an issue?
Also, should I open a separate issue for this error?

[code]

[2018-12-29 04:12] donosco98 commented on #10592
@zulipbot claim

[2018-12-29 04:17] benneyman opened #11145 "Possible typo in docs/subsystems/sending-messages.md"
In this https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html#local-echo
file the first bullet point says ` echo.try_deliver_locally` checks whether correct local echo is possible (via markdown.contains_backend_only_syntax) but after looking at the code it looks like it is  `exports.try_deliver_locally` that does what is described.

[2018-12-29 10:37] Shoumorup commented on #11016
https://github.com/zulip/zulip/pull/11147

@timabbott  @hackerkid  Do you want anything really fancy or minimalistic? Is it required to add a link in the alert that would take the person back to the intended conversation page from the /digest page?

Is there anything more specific that you'd like?

[2018-12-29 13:57] Varunvaruns9 commented on #11026
I think both the tasks have been completed. @zulipbot abandon

[2018-12-29 14:48] hackerkid commented on #11016
@Shoumorup You don't want to add any extra features.

Focus only on this. If you compare the /emails and /digest page its obvious that the styling looks kind of broken in /digest page. You just have to make it look better without touching the content of the email :)

[2018-12-29 16:30] AsociTon commented on #11137
@zulipbot claim

[2018-12-29 16:51] timabbott opened #11151 "Add setting to automatically deactivating users who no longer match an LDAP search"
Currently, our LDAP feature for automatically deactivating users ( https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#automatically-deactivating-users-with-active-directory) only deactivates users who match the LDAP search but are disabled in LDAP.

This works for some organizations, but others might either delete deactivated users from their LDAP database or be filterin

[2018-12-29 17:07] showell opened #11152 "Add typing indicators for streams."
We have typing indicators in PMs, so if you're talking to Alice, and she is typing, you will see something like "Alice is typing..." when you're narrowed to PMs with Alice.

Our original implementation of typing indicators did the same thing for streams, but the naive implementation was kinda spammy and annoying, particularly for large streams, plus there were minor performance implications (broad

[2018-12-29 17:15] Xerus2000 commented on #4836
Still waiting for this!

[2018-12-29 17:36] Xerus2000 commented on #8025
Hey, still relevant!

[2018-12-29 18:02] abhigyank opened #11154 "Closing/"Solving" a topic"
A feature request from [czo](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Closing.2F.22Solving.22.20a.20topic).

Some topics are questions or reports, that, once answered, are not really of value to other people and if the topic creator and authorised people could mark a topic as "Done"/"Solved"/"Closed". This would not actually block users from writing more in that topic, but visually

[2018-12-29 18:17] architkshk commented on #11072
@timabbott unable to reproduce this.

[2018-12-29 18:33] architkshk commented on #11058
@zulipbot claim

[2018-12-29 18:39] timabbott commented on #4836
Tagging this as a priority, since I think it is an important missing element.

[2018-12-29 18:42] #10840 closed

[2018-12-29 19:17] #11058 closed

[2018-12-29 19:19] architkshk commented on #3802
@zulipbot claim

[2018-12-29 22:39] #3802 closed

[2018-12-29 22:48] timabbott commented on #11141
Tagging this as a priority just because it's probably easy and is fairly visible.  @YJDave @shubhamdhama FYI.

[2018-12-29 23:02] #11018 closed

[2018-12-29 23:06] shreyanshdwivedi commented on #10593
@YJDave any update on this?

[2018-12-29 23:13] timabbott commented on #11026
@Varunvaruns9 yep, all done, closing.  Next time, you can have the commit message for the last commit auto-close the issue.

[2018-12-29 23:13] #11026 closed

[2018-12-29 23:35] timabbott commented on #11025
@catxeger we just merged support for this; it'll be in the next release.  Enjoy!

[2018-12-29 23:35] #11025 closed

[2018-12-30 00:42] vishaldotkhanna commented on #7549
@zulipbot claim

[2018-12-30 03:02] timabbott commented on #11135
@cruscio I just merged 44f117ac72e46c6e204f372075e888b3c7f1c0d6, which should fix the original issue you reported.  Usually, I'd recommend a separate issue, but I just went ahead and fixed the second issue in 41b7d9a4c881f7df14b721b0f75f04c31f5373a8.

Please open a new issue for anything else you find.  It appears that `hc-migrate` uses a different export format than the HipChat exports we've seen

[2018-12-30 03:02] #11135 closed

[2018-12-30 03:06] timabbott commented on #11134
I assume you've seen https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#apache-based-sso-with-remote-user for doing SSO?  That handles the SSO issue.

Given that Zulip manages the `nginx` configuration for you, I would expect there won't be any real maintenance burden from having Zulip be the exception that uses nginx in an Apache shop.

That said, we don't have ready in

[2018-12-30 03:09] timabbott commented on #11123
There's a user setting in the "notification settings" part of the webapp that should do what you want:
![image](https://user-images.githubusercontent.com/2746074/50544012-ed90bc00-0b9c-11e9-9bfd-e2537af58f5b.png).  Can you verify that its effect on the emails is what you want?

If so, it shouldn't be hard to make it possible to force that to off for all users on your server (which I imagine is wha

[2018-12-30 05:16] shubhamdhama commented on #10818
https://github.com/zulip/zulip/pull/11139 Opened, I will reference this issue in final commit

[2018-12-30 09:45] RashulChutani commented on #9157
@zulipbot claim

[2018-12-30 15:38] cruscio commented on #11135
Thanks @timabbott - After updating zulip, the conversion ran without error on an export from the hipchat web server admin page. Not too surprisingly, the `hc-migrate`-based export still fails further along; looks like it puts files in a different path. Unfortunately I can't share one of my exports. I may be able to stand up a clean instance, fill in some chatter, and share an export of that. If I

[2018-12-30 18:44] vishaldotkhanna commented on #7549
@rishig I'm working on this issue and have come with the following approach:

If image preview is enabled for a realm and we have a video_id from the URL, we send an external API request to the Google API to obtain the video's title.

I have the following questions on this:

1. Will an external API call just for a video's title be a major performance bottleneck? I see that we've limited the render

[2018-12-30 19:13] #10754 closed

[2018-12-30 19:31] zeitrechnen commented on #11123
Hi @timabbott, Thank you! This is exactly what I was looking for. It would be nice if we could have a variable in the settings.py which overrides the user's selection.

[2018-12-30 19:39] pragatiagrawal31 commented on #11141
Even I'm unable to reproduce this using Chrome 70 & Safari 12 on macOS High Sierra.

[2018-12-30 21:06] mateuszmandera commented on #10612
@zulipbot claim

[2018-12-31 05:37] Hudda commented on #11015
@zulipbot abandon

[2018-12-31 05:37] Hudda commented on #10626
@zulipbot claim

[2018-12-31 05:38] AsociTon commented on #10923
@rashmitpankhania no, it's already taken you can look for an issue here https://github.com/zulip/zulip/issues?q=is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee
I would recommend reading https://zulip.readthedocs.io/en/latest/overview/contributing.html since it seems you are new to organization.

[2018-12-31 06:02] hackerkid commented on #10923
@timabbott This issue can be closed.

[2018-12-31 06:03] #10923 closed

[2018-12-31 11:50] kunal-mohta commented on #11072
@timabbott I think a simple way to fix this is to change [this](https://github.com/zulip/zulip/blob/master/static/js/server_events_dispatch.js#L304) to
[code]
i.e. changing **rec.color** to **sub.color**

However, this feels like a hack, and does not solve the underlying problem of why the `event` variable is giving the the wrong color in the first place, which is causing a mismatch between the co

[2018-12-31 14:17] TheVzard commented on #11141
![issue](https://user-images.githubusercontent.com/22577662/50561849-ca991000-0d34-11e9-8f79-8a43c3bb8333.gif)
Using Firefox 64 on Windows 10

[2018-12-31 15:07] Varunvaruns9 commented on #11010
I would like to take this up if no one is working on it already. @zulipbot claim

[2018-12-31 15:38] vishaldotkhanna commented on #7549
@zulipbot abandon

[2018-12-31 16:07] timabbott commented on #11072
Generally we are only interested in correct fixes, not hacks.  I think the
issue is we are not sending the color to the server properly when we click
to subscribe.

On Mon, Dec 31, 2018, 3:50 AM Kunal Mohta <notifications@github.com wrote:

[2019-01-01 12:13] Dbone29 commented on #11134
I will first try nginx with sso. Afterwards I will try it with Apache.
I will make die Apache configs public when they are ready.

[2019-01-01 13:14] Vasu7052 opened #11164 "Not able to Register on Development environment at http://localhost:9991/register/"
I couldn't find list of steps to configure something for registration process in any of the pages https://zulip.readthedocs.io/en/latest/tutorials/index.html or https://zulip.readthedocs.io/en/latest/development/using.html. When i enter an email-id and click on the "Sign-up" button, it is showing an error "```Your email address, vasu.test@gmail.com, is not in one of the domains that are allowed to

[2019-01-01 13:39] kunal-mohta commented on #11072
@timabbott I did some more digging and found that the problem lies in [this piece of code](https://github.com/zulip/zulip/blob/master/zerver/lib/actions.py#L2603-L2613)
The array `new_subs` contains the new subs created by the user, as well as the subs that were created by someone else, but of which the current user has never been the part of, i.e. creating a new stream and subscribing to a stream

[2019-01-01 14:20] sahil839 commented on #11034
@zulipbot claim

[2019-01-01 15:14] ishanrai05 commented on #11010
@Varunvaruns9  I am almost done with the edit pencil thing... so i would request you do the other parts of this issue

[2019-01-01 16:32] hackerkid commented on #11034
@zulipbot label "good first issue"

[2019-01-01 16:38] sahil839 commented on #11034
@zulipbot claim

[2019-01-01 17:45] Varunvaruns9 commented on #11164
By default, development environment only supports 'zulip.com' as email domain.

You can add other domains in organisation settings > organisation permissions if that is what you're trying to do.

[2019-01-01 20:59] Varunvaruns9 commented on #11141
I was able to reproduce it using Chrome 71 and Safari 11 on macOS High Sierra without activating night mode.

Open the settings overlay once and close it. Open it again and then try to reproduce the issue.
![scrollissue](https://user-images.githubusercontent.com/29421208/50576337-dd473e00-0e35-11e9-8eca-a4283f8fe354.gif)

[2019-01-02 03:33] timabbott commented on #1718
Our current RabbitMQ queuing setup works great and is super stable in production.  We don't have a reason to invest in alternatives.  In any case, we can't do anything with Django channels until we upgrade to Django 2.x.

[2019-01-02 04:38] timabbott commented on #11164
We should think about whether there's something we should do display-wise to make more clear what's going on for new contributors.

[2019-01-02 04:46] timabbott opened #11165 "Implement guest-user avatar tweaks in missed-message emails"
Now that we've merged #11158, Zulip's missed-message emails don't support the new styling for marking messages sent by guests.  While it isn't a super high priority to ensure that we do so (there are a lot of other more important differences from the main app in that styling right now!), this is the only one that likely requires significant code plumbing, and thus it deserves its own issue.

[2019-01-02 04:51] sumanthvrao commented on #11009
@zulipbot still working on this.

[2019-01-02 05:07] #10131 closed

[2019-01-02 05:20] timabbott commented on #10923
Awesome, thanks again for fixing this :)

[2019-01-02 07:19] C0ffeeMachine commented on #11088
Yes I am working on this issue, I will make the pull request within 3 days. Sorry for the delay.

[2019-01-02 08:53] kunal-mohta commented on #11069
@timabbott I think this is fixed. I am unable to reproduce.

[2019-01-02 10:06] shubhamdhama commented on #11141
Great thanks @pragatiagrawal31 @TheVzard @Varunvaruns9 for helping, I've opened a PR fixing this issue, can you test it locally whether it's working fine now?

[2019-01-02 10:09] shubhamdhama commented on #11141
`tools/fetch-pull-request` makes reviewing PR easy :)

[2019-01-02 10:19] Xerus2000 opened #11168 "Can't save changes in Organization Permissions > Other"
![image](https://user-images.githubusercontent.com/13354331/50587957-3b990e80-0e80-11e9-9fa1-50210d51d2fd.png)
When I click "Save changes", nothing happens...

[2019-01-02 10:39] Varunvaruns9 commented on #11141
@shubhamdhama it's working fine now 👍

[2019-01-02 11:02] Varunvaruns9 commented on #11010
I thought this was abandoned. Please continue @ishanrai05 👍

[2019-01-02 11:42] kunal-mohta commented on #10980
@timabbott Is anyone working on this? If not, I would like to give it a try.

[2019-01-02 11:49] matkaczmarek commented on #10980
Ignor zulipbot, still working on that.

[2019-01-02 11:50] nil3sh99 commented on #10617
@zulipbot  claim

[2019-01-02 14:54] pigulla commented on #9277
Any update? It doesn't look like 1.9 solved this.

[2019-01-02 17:10] tdaff commented on #10612
I've hit a stumbling block that might fall under this umbrella. Users are wishing to forward emails from elsewhere to a stream, however the forwards go through talon which strips everything leaving an empty message.

Obviously replies to missed messages need quoted text stripped, but is this necessary for email to stream type messages which might be better with just signatures stripped?

[2019-01-02 18:57] timabbott commented on #11168
Thanks for the report, this was a new regression.

[2019-01-02 18:57] #11168 closed

[2019-01-02 19:01] #11141 closed

[2019-01-02 20:17] timabbott commented on #9277
@pigulla thanks for the reminder; we now have a nice system for testing this sort of thing in development; I'll try to reproduce.

[2019-01-02 20:44] timabbott commented on #10612
Well, a lot of software that sends emails includes a bunch of junk in footer areas that folks often want removed as well.  I think the right model for that sort of use case is that we could provide some options for overriding the default behavior.

[2019-01-02 20:51] timabbott commented on #9277
OK, here's a reproduction recipe:
* Set `FAKE_LDAP_MODE = 'c'` in zproject/dev_settings.py
* Login as `ldapuser1`.
* Try to get your API key via this flow

The problem is that we call the standard `authenticate()` method, passing in the user's email address as their username, which is correct in most places in Zulip, but not here.

The right fix is https://github.com/zulip/zulip/issues/6341 (i.e.

[2019-01-02 20:51] sgowie commented on #10776
We're running into this issue as well.
We've tracked it down to the message_sender queue not actually doing anything.   When we shell into the Zulip pod we can flush all queued messages by starting a new one (`$ python3 /home/zulip/deployments/current/manage.py process_queue --queue_name=message_sender --worker_num=4`), but when that exits the issue returns.

Killing the existing message_sender pr

[2019-01-02 22:17] sgowie commented on #10776
Restarted the pod to capture the content.  The processes are running, and appears to re-establish connections to rabbitmq if those connections are manually closed.

[code]

[code]

There are no errors about those in the error log, just some `/external_content/` that are absent at present (looks like we need another volume mount for those).

[2019-01-02 22:35] rht commented on #8466
The issue might have been fixed in 0.12.x.

[2019-01-02 23:11] timabbott commented on #10912
@donShakespeare can you provide more detail on what precisely you're trying to do?  Deleting a stream is very different from deleting all messages in a topic.

[2019-01-03 11:03] mateuszmandera commented on #10612
Perhaps in case of emails forwarded to the stream, we should just keep the forwarded content (stripping quotations and other useless stuff from the inside of the forwarded email of course)? If someone forwards an email to zulip, then their intention is for it to be displayed. So I think that it may be better to just make this the default behavior?

[2019-01-03 13:46] jeswincyriac commented on #11138
So what do you suggest as a fix?remove the notice "scroll down to view messages". i would like to work on this if this is beginner friendly.

[2019-01-03 16:19] pragatiagrawal31 commented on #10688
@zulipbot claim

[2019-01-03 17:17] showell commented on #10792
I'm reopening this.  The initial implementation in 372cb20f doesn't take into account that we're often able to auto-scroll the most recently sent message into view.  The check needs to happen later in the process.

[2019-01-03 21:48] #10535 closed

[2019-01-03 22:00] timabbott opened #11176 "Add support for uploading a dark-theme organization logo"
Since we display the "organization logo" in the Zulip webapp on top of both the light and dark theme backgrounds, we should add support for also uploading a dark-theme version of the logo.  Otherwise, logos that have colored text will look weird.

We can probably use a filename like `night_mode_logo` and mostly reuse the same endpoint with a flag, so I don't think this should be a huge project for

[2019-01-03 22:32] #11137 closed

[2019-01-03 22:33] timabbott commented on #11070
What does the output look like?  I had been imagining we'd focus on migrating `test_bugdown_fixtures` (and similar single tests that are actually dozens of tests), not on using subTest for every test function that checks a few things.

[2019-01-03 23:28] Varunvaruns9 opened #11177 "Success message visible even after switching to other settings on Org settings > Users."
To reproduce, open Org settings > Users, edit and save any user. An alert "Update Successfully!" shows up on top of the page but it does not disappear even if we switch to other settings.

[2019-01-03 23:40] timabbott commented on #11030
Yep, great, thanks for the followup!

[2019-01-04 00:37] timabbott commented on #11177
Seems likely that's either in the wrong container, missing hide logic, or both.

We should also think about moving to a more modern way of communicating about the fact we saved changes, more similar to how our other settings work.

[2019-01-04 00:42] timabbott opened #11178 "Add support for automatically uploading exports to S3"
When exporting an organization from Zulip Cloud, there's an annoying step at the end where we have an export tarball.

We should add an option to `manage.py export` to use `boto` (i.e. our `zerver/lib/upload.py` logic) to copy the exported tarball to a randomly generated path in S3 under `S3_AVATAR_BUCKET` in a path like `exports/abcd1234567890/export-abcd1234.tar.gz` (We want that bucket, because

[2019-01-04 01:15] timabbott commented on #10612
Is the idea that we'd determine whether an email was forwarded based on whether it has a `Fwd:` (or its equivalents) at the start of the subject line?

I think if we're OK with that sort of detection, then it makes sense to not strip quotations at all in such emails, yeah.  The quotations should be turned into block quotes, which is I think what we want here, regardless of whether there's text out

[2019-01-04 01:45] timabbott commented on #8466
Hmm, yeah, https://github.com/pika/pika/pull/975 from their changelog looks like this.  So we should try doing an upgrade to 0.12.x, then; I bet test-deploying on chat.zulip.org will reveal if it's indeed an issue still.

[2019-01-04 01:48] timabbott commented on #10776
Try `rabbitmqctl list_consumers` when you're seeing the issue?  I'm wondering if the processes are losing their rabbitmq connection.

A workaround that may be available for you for now is you can set `USE_WEBSOCKETS = False` in the Zulip `settings.py`; with that, the `message_sender` workers aren't used.  But my guess is whatever problem you have here would also affect other queue workers.

[2019-01-04 01:58] timabbott commented on #11123
OK, retitled this issue to be for that feature.  Thanks for the feedback @zeitrechnen!

This issue should be doable for someone familiar with our "New feature tutorial".

[2019-01-04 01:59] timabbott commented on #11135
OK, sounds good.

[2019-01-04 06:54] jeswincyriac commented on #11177
@zulipbot claim

[2019-01-04 07:27] rishig opened #11180 "emails: Simplify missed message emails."
Change missed message emails to use the following patterns:

* Subject lines:
[code]

The first two are already correct, and the last three need to be changed in `missed_message.subject.txt`.

* Content
[code]

If `reply_to_zulip` is False, the last line can instead be `[Reply in Zulip]`. `reply_warning` can be removed; just check that the reply-to is `noreply-...@...` in that case.

More discussi

[2019-01-04 07:35] rishig commented on #10612
I was thinking more of this thing in the body: `---------- Forwarded message ---------`

The way I imagine talon works is it has a "is signature starter" regex. So the change I'm proposing is basically:
* if talon thinks the first line is a signature starter, remove the first block of text (i.e. all the lines till the first empty line)
* Continue as normal

[2019-01-04 09:42] arc999 commented on #10828
@zulipbot claim

[2019-01-04 12:22] pragatiagrawal31 commented on #11123
@zulipbot claim

[2019-01-04 15:37] edi9999 opened #11183 "Mentions with special characters"
In other languages than english, people may have accents or other special characters in their name.

It would be great to be able to search for people regardless of accents when using the `@mention` feature.

For example, If I type `@gael`, I would expect to see as a suggestion `gaël`, however currently it does not appear in the list.

I'm not sure which version of zulip our organization is using,

[2019-01-04 17:39] timabbott commented on #10597
Fixed in #10598; apparently the commit was missing a "Fixes: " tag.

[2019-01-04 17:39] #10597 closed

[2019-01-04 17:40] timabbott commented on #10569
We now support Postgres 10 via Ubuntu 18.04.  I don't think there's anything else here for us to fix, as the issue was a custom installation of postgres without our search extensions.

[2019-01-04 17:40] #10569 closed

[2019-01-04 17:42] timabbott commented on #10482
Sigh.  Probably the right long-term fix is to move to another upload library, but @akashnimare's workaround seems better than nothing (better would be to just not show the progress bar at all on Safari).

[2019-01-04 17:57] akashnimare commented on #10954
@zulipbot claim.

[2019-01-04 18:54] sgowie commented on #10776
I am content with restarting the message_sender processes as a workaround for now.  What are the implications of forgoing the use of websockets?

I removed the `pkill` cycle, and a few minutes later the issue returned.  I did not restart rabbitmq (not sure if that will alter the results here).

### Failed state
[code]

I manually kicked the message_senders, and after they'd been restarted I re-ran

[2019-01-04 19:57] timabbott commented on #10776
OK, something weird is going on with your Docker setup -- you seem to have several copies of each consumer.  I wouldn't be surprised if what's going on is that somehow your RabbitMQ server is load-balancing between the duplicates, and that's what is getting things stuck.

Normal output looks like this:
[code]

Can you talk about exactly how your kubernetes setup is configured?  E.g. do you have mu

[2019-01-04 20:07] #10320 closed

[2019-01-04 20:09] timabbott commented on #11183
@edi9999 thanks for the report!  I don't think we've had something similar reported in the past, so I assume this bug exists in master as well.

If I recall correctly, I think we handle this issue by normalizing such characters in other places in our typeahead (e.g. the right sidebar search) -- can you confirm if that works for you?  If so, we'll just need to port that fix to the compose mention t

[2019-01-04 20:15] edi9999 commented on #11183
Yes, in the users "Search people" sidebar, I can search for "gael" and still find "Gaël" for example.

[2019-01-04 20:16] timabbott commented on #10593
I think this got stuck in discussion about how exactly it should work.  The PR has the latest state.

[2019-01-04 20:37] IAlwaysBeCoding opened #11186 "Error while installation of Dev(non-vagrant)"
I launched a fresh new Droplet with ubuntu 18.

I then went ahead and created a new user account and I added it to the sudoers group as instructed [here](https://zulip.readthedocs.io/en/latest/development/remote.html#setting-up-user-accounts).

Then, I followed these 3 commands.
[code]
Of course, I replaced YOURUSERNAME with my username.

Now, I log into the newly created account, in this case I n

[2019-01-04 21:52] timabbott commented on #11183
`people.person_matches_query` is the function that does the diacritic removal. I think we need to change `query_matches_person` to make use of this function.

@shubham-padia do you have time to do a quick look at this?  Might not be very complicated.

[2019-01-04 22:09] timabbott commented on #11186
What directory are you running it from?  It kinda sounds like you're doing so from /zulip, not e.g. /home/USER/zulip.

[2019-01-04 22:14] sgowie commented on #10776
There's only one of each role, the deployments are built following the docker compose example file (with all the 999x ports added in as part of troubleshooting - 9995 wasn't bound to 127.0.0.1 so I thought it was worth a shot).

[code]

Altering the Zulip deployment definition (e.g. add or remove the auto `pkill -f message_workers`) forces a new pod to be created, after the old is removed.   Since

[2019-01-04 22:31] #4849 closed

[2019-01-04 23:06] timabbott commented on #11072
Maybe we need to extend the `subscribe` API to support sending a proposed color.

[2019-01-04 23:18] Varunvaruns9 commented on #11010
@zulipbot abandon

[2019-01-04 23:20] Varunvaruns9 commented on #11010
@ishanrai05 you can reclaim the issue if you are working on it.

[2019-01-04 23:20] timabbott commented on #11047
This was resolved when we finished #11045.

[2019-01-04 23:20] #11047 closed

[2019-01-05 00:47] timabbott commented on #10019
@Mant1kor have you upgraded to Zulip 1.9.1?  We fixed some issues with the LDAP integration and Active Directory that may match this description.

[2019-01-05 00:48] timabbott opened #11188 "Add emoji picker button to "message edit" UI to match compose box"
This is a follow-up to: https://github.com/zulip/zulip/pull/11061#issuecomment-447679100

We should also add the "add video call link" feature here.

[2019-01-05 00:51] timabbott commented on #10929
We've added some documentation on this on https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#adding-more-authentication-backends, as well as removed a lot of the work one needs to do in order to add an authentication backend.  I'm going to close this as resolved -- I think we've answered your question, and I don't think there's much we can add to the codebase to further

[2019-01-05 00:51] #10929 closed

[2019-01-05 00:53] timabbott commented on #11119
It's not possible to install a Zulip server on a shared hosting provider without a lot of manual work.  You can deploy it easily on a VPS.

[2019-01-05 00:53] #11119 closed

[2019-01-05 00:53] timabbott commented on #10921
Closing this, since I believe we've answered your question.

[2019-01-05 00:53] #10921 closed

[2019-01-05 00:55] timabbott commented on #10830
This seems like a reasonable UI to add, though probably not super high priority, just because folks tend to edit these only once when setting up an organization.

[2019-01-05 00:57] timabbott commented on #10743
@ITMaya you need to run `scripts/zulip-puppet-apply` after changing `zulip.conf` for that sort of settings change to take effect.  Are you using the Docker image, or the normal Zulip installer?  The `DISABLE_HTTPS` type settings names are only a feature for the Docker environment.  The `zulip.conf` thing is what you need for a normal Zulip server.

[2019-01-05 00:57] #10743 closed

[2019-01-05 00:58] beppe9000 commented on #11119
are there guides or further resources on the technical details?

[2019-01-05 01:01] timabbott commented on #11119
In short, we need to install Zulip's various dependencies, which our installer assumes root access for.  In theory, all of them are things you could probably install manually, but there's a lot of them and we don't have the resources to support that sort of manual process.  Just get a VPS or use Zulip Cloud.

[2019-01-05 01:09] beppe9000 commented on #11119
ok...

[2019-01-05 02:37] rishig commented on #10593
It looks stuck on a minor styling issue. Possibly better to merge and make a note somewhere about the styling needing a look?

[2019-01-05 03:46] C1intMason commented on #7549
@zulipbot claim

[2019-01-05 05:05] rishig commented on #10568
This still feels a bit haphazard (ideally all the editability computations would be in `message_edit.get_editability`), but I guess we can fix that the next time we're looking at this code.

[2019-01-05 11:51] martinpospech opened #11190 "Feature request: delay notifications until business hours"
I would love to see a setting where I can set business hours and outside of those, all notifications would be either muted or delayed until the next business day.

A switch that lets mentions, channels or mentions in specific channels ignore this would probably be useful too.

[2019-01-05 11:54] martinpospech commented on #11190
Shoot, I meant to create this in the zulip mobile repo. If the desktop version already has this, please ignore.

[2019-01-05 13:12] mateuszmandera commented on #10612
I submitted a pull request addressing parts 1 and 3 for now.

[2019-01-05 17:43] Swapnilr1 commented on #6316
@zulipbot claim

[2019-01-05 18:41] akornor commented on #11055
@zulip claim

[2019-01-05 19:14] vrongmeal commented on #10831
@zulipbot claim

[2019-01-05 19:21] gregzil opened #11194 "Internal Server Error"
I am working on Windows 10 and specifically the Zulip Desktop v2.3.82.
By going to "Tools"/ "Toggle DevTools for Zulip App", after a while, an "Internal server error" appears.
![zulip error](https://user-images.githubusercontent.com/45594372/50728267-ca7f8280-112f-11e9-8b33-0d9dfe8b93bc.jpg)

[2019-01-05 22:54] #10818 closed

[2019-01-05 23:32] timabbott commented on #11010
@Varunvaruns9 seems like a reasonable addition.

[2019-01-05 23:33] timabbott commented on #11194
What is in `/var/log/zulip/errors.log` on the Zulip server?  We can't help without that information.

[2019-01-06 00:09] timabbott opened #11195 "Make UI development work on the email mirror system convenient"
I feel like we have a number of improvements we want to make to the email gateway, and they've been moving slowly in part because it's hard to test, especially the end-to-end "what does this look like in the UI" part of things.

One thing that would be super helpful for iterating on the email mirror system would be to store a few more emails in `zerver/tests/fixtures/emails/`, and have a tool simi

[2019-01-06 00:14] timabbott commented on #10593
Oops, I think my comment was meant for another PR.

[2019-01-06 00:59] timabbott commented on #11190
Android, at least, has a "do not disturb" feature at the OS level that you can do this with.  But yeah, this is a mobile question.

[2019-01-06 03:14] rishig commented on #10593
Do we have a document where we can keep track of small styling followups like this? Or not worth keeping track of?

[2019-01-06 03:48] Baidya99 commented on #6018
@zulipbot claim

[2019-01-06 03:58] timabbott commented on #10593
Yep :).  There's a few places we could put such things, but where possible I try to either just fix it or open an issue an mention someone likely to work on it.

[2019-01-06 05:37] sumanthvrao commented on #11009
@timabbott could not get this to work. I tried most fixes , but i need to learn more about django-backend to fix the errors. Also i don't have an approach on how to stop re-initializing boto library repeatedly. Leaving the project so that others can take it up.

[2019-01-06 05:37] sumanthvrao commented on #11009
@zulipbot  abandon

[2019-01-06 09:42] mateuszmandera commented on #11195
@zulipbot claim

[2019-01-06 11:38] ronso0 opened #11196 "Drafts discarded with multiple Zulip tabs"
I use multiple Zulip tabs to have single currently discussed streams open and accessible in an easy way.
However, when saving a draft in one tab it's gone later on, no way to restore it in a following browser session. IME it desn't matter if I re-open the exact streams again (browser restore) or start over with a single tab, drafts are gone.

Firefox 64, linux 64 bit

[2019-01-06 12:57] BartekJachowicz commented on #10432
@zulipbot claim

[2019-01-06 15:21] C0ffeeMachine commented on #11088
@zulipbot  claim

[2019-01-06 16:35] Swapnilr1 commented on #6316
@rishig I am unable to replicate this issue, so I have possibly misunderstood it. I am not yet sure how to invoke middle click on my touchpad (will look at it), but for the Ctrl+C part, I got exactly what was selected. I was using Firefox on Ubuntu 18.04.1 and I tested it on an organisation's zulipchat (instead of my development environment) [ _anyrandomorg_.zulipchat.com ]

So I am unable to unde

[2019-01-06 17:17] 2208Abhinav commented on #11188
@zulipbot claim

[2019-01-06 17:19] 2208Abhinav commented on #11188
@timabbott here we need to add emoji picker and add video call link right? Should I do both of them in single commit or 2 commits?

[2019-01-06 17:50] HarshitOnGitHub commented on #11188
@2208Abhinav One commit for each button should be fine I think.

[2019-01-06 17:50] luckyraul opened #11200 "Jira support for a comment_created event"
If you add comment to task JIRA Cloud currently send only a comment_created event, which is ignored in the webhook

[2019-01-06 17:55] HarshitOnGitHub commented on #10917
@zulipbot claim

[2019-01-06 19:10] isunitha98selvan commented on #9157
@zulipbot claim

[2019-01-07 00:06] rishig commented on #6316
Thanks for looking into this! Try selecting text that spans multiple messages.

[2019-01-07 02:20] himanish-star commented on #11180
@rishig, could I work on this?

[2019-01-07 04:09] himanish-star commented on #11180
@zulipbot claim

[2019-01-07 04:38] timabbott commented on #11196
@ronso0 we use the browser's local storage feature to store drafts.  Do you have privacy settings on Firefox configured to disable local storage?

[2019-01-07 06:18] ikolev21 commented on #9846
This is still an issue with server 1.9.1.
I suppose the Slack migration has been fixed, but we can't import our accounts from Slack again (that were imported with 1.8.1) to "fix" them.
So I had to apply the changes described here to 1.9.1 to avoid the error and allow the user who had this problem to log in.
Maybe an alternative solution would be to offer some script that would "fix" the accounts t

[2019-01-07 08:00] akshithashetty commented on #9375
@YagoGG I'll be interested in this one. Can I take it up ?

[2019-01-07 09:43] Aasfga commented on #10539
@zulipbot claim

[2019-01-07 10:04] YagoGG commented on #9375
Sure, feel free to take it! Remember that you can use @zulipbot to claim issues.

[2019-01-07 10:13] akashnimare commented on #10482
@timabbott should I send a PR containing that temporary fix?

[2019-01-07 12:13] Xerus2000 opened #11206 "Automatically restore last Draft when hitting Reply"
When hitting reply and there is a draft for the current conversation, it should automatically be loaded (if there are multiple, simply load the latest one). This is how I as a user expect it to work from previous experience in GitHub, Discord, Slack etc and it makes the UX a little more streamlined.

Sub-issue of https://github.com/zulip/zulip/issues/5591, which contains multiple ideas.
Zulip disc

[2019-01-07 12:35] irahulcse commented on #11194
@gregzil @timabbott
As I had started working on the Zulip from the last 3 days, so yesterday I had properly installed the Zulip Desktop App from instructions provided on the website. And In my app, it is not showing any kind of error on Tools"/ "Toggle DevTools. By the way, I am using the app with Linux Distribution.
/home/rahul/Pictures/Screenshot from 2019-01-07 18-05-16.png

[2019-01-07 12:38] irahulcse commented on #11194
@gregzil Or might it could be the problem with the administrator of the Zulip server(you are currently working with).

[2019-01-07 12:40] irahulcse commented on #11206
@zulipbot claim

[2019-01-07 13:37] sameerchoubey commented on #10909
I'm working on this.

[2019-01-07 15:14] mateuszmandera commented on #11195
Thank you. I deleted the message because I figured out I can just import and directly use `` process_message `` from email_mirror.py in my management to send a message, bypassing any actual email configuration.

[2019-01-07 15:35] akshaya9 commented on #7549
@zulipbot claim

[2019-01-07 16:30] hackerkid opened #11209 "Upgrade redis pip package to latest version"
The backend tests are failing after upgrading redis to ` 3.0.1`

[code]

@zulipbot label "area: dependencies"

[2019-01-07 16:44] akshithagrowfitter commented on #9375
@zulipbot claim

[2019-01-07 16:50] puneeth2001 commented on #5384
@zulipbot claim

[2019-01-07 17:16] #10672 closed

[2019-01-07 17:16] timabbott commented on #11196
I don't think that sort of issue should be possible with how it is setup.  I'll see if anyone can reproduce.

[2019-01-07 17:19] hackerkid opened #11211 "Upgrade google-api-python-client package to latest version"
Backend tests fail while upgrading `google-api-python-client` to `1.7.7`
[code]

@zulipbot label "area: dependencies"

[2019-01-07 17:45] timabbott commented on #9846
Yeah, that's the current state -- it's fixed for new imports, but not servers imported on 1.8.1.  I think roughly the code in `backfill_subscription_log_events` from `zerver/migrations/0093_subscription_event_log_backfill.py`  (aka the initial; migration for creating the `RealmAuditLog` data for `Subscription`) should work for this.  I've lightly edited that code for this use case:

[code]

Can yo

[2019-01-07 17:51] 2208Abhinav commented on #11196
I tried this but didn't face this issue.

[2019-01-07 18:03] #10979 closed

[2019-01-07 18:14] ronso0 commented on #11196
hm strange..I experienced it twice.
Will try again

[2019-01-07 18:33] Shoumorup commented on #11138
@zulipbot claim

[2019-01-07 18:33] #8466 closed

[2019-01-07 18:39] hackerkid commented on #10803
Closed in a028fb710b9c56cf55ecad635eb0c5142f22ed1a

[2019-01-07 18:39] #10803 closed

[2019-01-07 18:40] hackerkid commented on #9306
Closed in f5ea661c1f77b0b99a01ff9f26eed8a5da463fa2

[2019-01-07 18:40] #9306 closed

[2019-01-07 18:42] hackerkid commented on #9308
Closed in 19db3088dfc21afbb9747d6e73414102e9221b24 and other previous commits.

[2019-01-07 18:42] #9308 closed

[2019-01-07 18:45] timabbott opened #11212 "ldap integration: Don't ask users to set a password when invited"
For users whose email addresses match the LDAP domain (or more generally, servers with only the LDAP authentication backend enabled), we currently have the following dissonant behavior:
* They can just create an account by entering their LDAP credentials on the login form
* If invited to join Zulip, they get prompted to set a password, which is silly because for an LDAP-only organization, these pa

[2019-01-07 19:20] timabbott commented on #11196
If you can reproduce again @ronso0, what browser extensions do you have enabled?

[2019-01-07 19:39] architkshk commented on #10842
@zulipbot claim

[2019-01-07 19:52] showell commented on #10842
Before anybody works on this, please discuss on chat.  We have "q" and "w" hotkeys that allow you to navigate sidebars with arrow keys.

[2019-01-07 19:55] gregzil commented on #11194
I work v2.3.82 on Windows 10

[2019-01-07 20:08] architkshk commented on #10983
I think this would look fine -
![screenshot from 2019-01-08 01-37-35](https://user-images.githubusercontent.com/5001704/50790837-0b20fc80-12e6-11e9-8a46-c7a0ef2050d1.png)
On hover -
![screenshot from 2019-01-08 01-37-26](https://user-images.githubusercontent.com/5001704/50790836-0a886600-12e6-11e9-9a79-332273f428ff.png)

[2019-01-07 21:13] timabbott commented on #11016
@jmandel FYI this is now a way one can see the what the digest emails look like for iterating on the content, which I recall was an FHIR request.

[2019-01-07 22:55] #11200 closed

[2019-01-07 23:02] timabbott commented on #11194
Closing this until @gregzil can provide error logs from their server administrator, since this isn't a client issue and has no details on the server.

[2019-01-07 23:02] #11194 closed

[2019-01-07 23:04] timabbott commented on #10482
@akashnimare I suppose so.  But we should still be thinking about replacing our upload plugin with something more modern.

[2019-01-07 23:26] rht opened #11214 "API behavior: Set client_gravatar=True to be the default."
Currently, most API users will have to do that manually to ensure that they don't have to download extra payload, which means, people have to be aware of such in the first place. If the default is `True`, then the "error" encountered by GUI-based API users will be explicit and can be mitigated early on.

The only complication with the migration is that legacy clients are not aware of `client_grava

[2019-01-07 23:41] timabbott opened #11215 "Make attempts to upload a decompression bomb image/avatar not 500"
Currently, if you try to upload a super giant image in Zulip, we throw this 500 exception:

[code]

The good news is that PIL already handles not crashing the server and provides a nice exception.  However, ideally, we'd catch that exception, return a JsonableError about it being an invalid image, and thus return a 400 type error for this sort of invalid user input.

(This presumably comes from so

[2019-01-07 23:43] timabbott commented on #11214
Before we can do anything with this concept, we need to check whether ZulipMobile version `16.2.96` passes `client_gravatar`; if it doesn't, we can't change this without causing problems.

[2019-01-07 23:44] #11196 closed

[2019-01-07 23:45] timabbott commented on #10983
Yeah, that looks reasonable!  Maybe without the subtle boxes around the icons?

[2019-01-07 23:57] timabbott opened #11216 "import: Fix missing import logic for organization avatar and logo"
We don't currently have logic to import the organization avatar and organization logo data, even though those are included in our exports.  I think this shouldn't be super hard to add, given that we already have template logic for e.g. custom emoji, which have a similar structure.

[2019-01-07 23:58] showell opened #11217 "enhancement request: Limit drafts more aggressively."
This is not an approved issue to work on yet, but if it resonates with you, discuss it on chat.

There's some strong sentiment among a couple users (@borisyankov and myself, for example) that we store way too many drafts, when you never really go back more than 3 or 4 drafts.

It would be nice to either just limit drafts more aggressively (and let power users like Tim deal with the rare cases that

[2019-01-08 00:01] showell opened #11218 "Add setting to auto-open drafts."
See the discussion here:

https://chat.zulip.org/#narrow/stream/137-feedback/topic/Auto-load.20Draft/near/679701

We may want to allow users to set a preference to auto-open drafts.  (Note that some users will definitely NOT want that feature, hence the preference.)

If users prefer to auto-open drafts, we'll want to search their prior drafts for the last message with the same addressee (either st

[2019-01-08 00:06] timabbott opened #11219 "Fix handling of duplicate requests to delete a message"
From our server logs, we occasionally see this sequence for users using the webapp, where the the `DELETE` requests are being apparently retransmitted several times to the server in the same second:

[code]

Based on those logs, I'm pretty sure all 4 requests were received by the server essentially simultaneously (i.e. at 18.583 - 155ms ~= 19.069 - 640ms).  I think there's two possibilities for th

[2019-01-08 00:11] timabbott commented on #11219
I tried to reproduce this with things like double-clicking, without success.  That approach might work if there were sufficiently latency.

One thing that's probably wrong with the JS code here is that we do allow effectively a double-click on the element to send 2 requests to the server.  But I think that still wouldn't explain the immediate timing here.

At the very least, we should catch this e

[2019-01-08 00:21] showell commented on #11217
Another approach here is to show just the 2 or 3 latest drafts and add a "show more..." link if you want more.  This de-clutters the dialog for 95% of use cases.  You would want to make sure keyboard support doesn't break if you were to do this change.  And, again, you want to discuss ideas on chat before implementing anything here.

[2019-01-08 00:58] timabbott opened #11220 "export: Write analytics data to a separate analytics.json file"
Since 6eda129741d764c251f79e16c3b0b8566bbbbaac, we've had support for including the analytics table data in zulip server data exports.  These data can be quite large (as much as 10% of the size of the total export image), and currently end up in `realm.json`, which makes it fairly expensive to interact with that file for debugging.

We should refactor things to write these data elements to a separ

[2019-01-08 01:05] timabbott commented on #10980
Note that to fix this properly, we also need to adjust any logic that might send the user to the "all streams" tab, and probably add on-hover text on the "All streams" text.

[2019-01-08 03:04] #11034 closed

[2019-01-08 03:09] timabbott opened #11221 "Add support for silent mentions in Zulip"
For certain notification situations, like https://github.com/zulip/zulip/pull/11197, we want to mention a user (and get the UI benefits, like clicking on the mention shows you details on the user), but we don't actually want to trigger a notification to the user, since e.g. they actually were the person who did the action.

I think strategically, we want to do this:
* Add a new syntax `_@**foo**`

[2019-01-08 06:07] aero31aero commented on #11221
I suppose we could then first merge this syntax and then make the quote and reply feature generate this syntax of mentions on the frontend, thus bypassing that tree walk.

On second thought, it might lead to inconsistent behavior among clients so having the mentions-in-quotes on the backend makes the most sense, but maybe just a preprocessor to convert them instead of an end of the line treeproces

[2019-01-08 06:08] aero31aero commented on #11221
@zulipbot claim

[2019-01-08 08:32] xeruf opened #11222 "Linkifier with automatic Fallback"
I have a Zulip server that is about a GitHub organization, which has a few repositories. Thus, it would be nice if pasting a commit hash from any of the repositories would automatically link to the correct repo.

The solution I thought of is a Linkifier with fallback: You provide a default (i.e. url for repo1) and when that returns a 404 for a particular input, there is an alternative (url for rep

[2019-01-08 09:56] architkshk commented on #10983
@timabbott another idea is to use colours similar to those in organization settings -

![screenshot from 2019-01-08 15-25-36](https://user-images.githubusercontent.com/5001704/50823349-c33bbd00-1359-11e9-8100-bba059bf72e1.png)

![screenshot from 2019-01-08 15-03-47](https://user-images.githubusercontent.com/5001704/50823348-c33bbd00-1359-11e9-8123-80dbb399bad0.png)

[2019-01-08 14:01] Mant1kor commented on #10019
@timabbott I've make clean installation Zulip 1.9.1.
`settings.py`
[code]
BIND_DN password stored in `zulip-secrets.conf`

In Organization settings:
![default](https://user-images.githubusercontent.com/5281753/50834806-ad2ffb80-135d-11e9-98ba-4c3d82a66f31.png)
But authentication failed with next errors(first time I've try to login with my e-mail, second - my login):
[code]

[2019-01-08 14:23] Mant1kor commented on #10019
I got it!
In Active Directory, if you want to login with AD login, need to change:
`ldap.SCOPE_SUBTREE, "(uid=%(user)s)")`
to
`ldap.SCOPE_SUBTREE, "(sAMAccountName=%(user)s)")`
If you want to login with AD email, need to change:
`ldap.SCOPE_SUBTREE, "(uid=%(user)s)")`
to
`ldap.SCOPE_SUBTREE, "(mail=%(user)s)")`

In general, you need to replace `uid` to another _unique_ login attribute (`sAMAccount

[2019-01-08 14:24] VishalCR7 commented on #11220
@zulipbot assign

[2019-01-08 14:41] matkaczmarek commented on #10980
Ok, will try my best to fix this properly.

[2019-01-08 17:51] aero31aero commented on #10800
@zulipbot claim
Since I've already done this partway, I'll keep this claimed for now.

[2019-01-08 21:23] timabbott commented on #11222
This would require a bit more architecture work than it might seem, since currently we don't fetch the link at all for realm filters in the markdown rendering phase.  But would still be a nice improvement.

I'm tagging this as difficult since the refactoring involved will require some careful design work.

[2019-01-08 22:19] timabbott commented on #10019
Yeah, this definitely deserves documentation.  Probably just covering it on ReadTheDocs is reasonable?  That's where we've been putting most complexity for this.

[2019-01-08 22:21] timabbott commented on #10983
Sure, that looks great -- we've most happy with the "organization settings" design.  I think you may have some centering off (the X looks below the middle of the box), but otherwise lgtm.  And then I think it'd be great to also switch the "Stream settings" things to use these as well.

[2019-01-09 00:30] #10019 closed

[2019-01-09 00:56] timabbott opened #11227 "Add support for a "Send later" feature to the compose experience"
We got a user request for a "send later" feature in Zulip.  I imagine the use cases are pretty similar to those for the similar feature in Boomerang, Mailbox, and other email tools.

We actually have essentially all of the infrastructure required to support this (namely, the `reminder_bot` and `ScheduledMessage` tables), so this should be pretty doable infrastructure-wise.

On the UI front, I imag

[2019-01-09 08:15] sahil839 commented on #11176
I think we need to do almost the same thing as it is done for organisation logo. we just want to add a field of night_mode_logo.

[2019-01-09 08:21] peanutbutterandcrackers opened #11229 "Enhancement: Archive Topics"
Just an idea for the devs: Perhaps there should be a way to archive a topic.

Often, our team has worked on a topic with the name "certain_bug", and once that is fixed, the topic just sits there (yes, it does sink below in the topic list; still). Perhaps, if the topics could be archived and put under a separate 'archived' group in the channel, it would help organize the topics better?

[2019-01-09 12:06] Raghavareddy21 commented on #5384
@zulipbot claim

[2019-01-09 12:24] architkshk commented on #10983
@zulipbot claim

[2019-01-09 14:02] showell commented on #10741
So I independently made this change on Oct 11, 2018 (three months ago):

8379aeee155573ebf1549d16dcf1ff2bb6ee975c

@xiaomingplus reported the bug 17 days later, but I assume they were still working off of an older
version of Zulip.

I'll add the user-agent now.

[2019-01-09 14:03] ishanrai05 commented on #11010
@zulipbot  claim

[2019-01-09 15:07] sameerchoubey commented on #10909
@zulipbot claim

[2019-01-09 15:08] sameerchoubey commented on #10909
@zulipbot claim

[2019-01-09 15:16] showell commented on #11229
See #11154, which has similar ideas.  @peanutbutterandcrackers Feel free to add commentary there.  Closing this as a duplicate.

[2019-01-09 15:16] #11229 closed

[2019-01-09 15:47] showell commented on #11221
I did a minor edit to the description: s/not/note/

[2019-01-09 15:54] showell commented on #11206
Closing in favor of #11218.  @Xerus2000 Feel free to update the other issue.

@irahulcse We'll likely want to make this a user preference, as discussed in #11218.  You'll want to hash out final requirements on chat.

[2019-01-09 15:54] #11206 closed

[2019-01-09 17:01] peanutbutterandcrackers commented on #11154
I think it'd be great too if the topics could be 'archived' and not just 'closed'. Archived topics would all go under an 'archived' label (a meta-topic, perhaps). Would help in organizing things a lot.

[2019-01-09 17:13] Xerus2000 commented on #11218
This preference should definitely default to true, as it is the behaviour most users are used to, as we have already mentioned in the Zulip discussion. I am still not quite convinced that we need a setting at all.

[2019-01-09 17:59] himanish-star commented on #11152
@zulipbot claim

[2019-01-09 18:43] #11195 closed

[2019-01-09 18:46] #10741 closed

[2019-01-09 18:51] #10917 closed

[2019-01-09 18:57] HarshitOnGitHub commented on #11039
@zulipbot claim

[2019-01-09 18:57] #10831 closed

[2019-01-09 18:59] timabbott commented on #11176
Just avoiding having a ton of duplicated code; with a bit of refactoring we should be able to have the implementation not be as big as the existing organization logo thing.

[2019-01-09 19:24] jeswincyriac opened #11238 "Deactivating and reactivating users doesn't create an immediate updation of list."
To reproduce go to organization settings >users / organization settings>Deactivated users.Reactivate or Deactivate a user,the cross across the user name is updated immediately.But the list is updated only after closing and reopening settings.
just after reactivating AARON@ZULIP the deactivated users list looks like below.
![issue 1](https://user-images.githubusercontent.com/27897288/50923040-f70a0

[2019-01-09 19:44] ikolev21 commented on #9846
Thank you, that worked. I restored the original soft_deactivation.py and executed your script in the manage.py shell. The problem hasn't appeared, the user can still log in fine.

[2019-01-09 21:16] vrongmeal commented on #11219
@zulipbot claim

[2019-01-09 21:27] jasonaowen opened #11239 "Streams / topic list automatically scrolls to top"
As I've been looking at RC Zulip today (at https://recurse.zulipchat.com/ ), the streams / topics list on the left side of the desktop browser view keeps scrolling to the top of the list, rather than scrolling to the currently narrowed stream / topic. I tried force refreshing the page, but the behavior persists.

To reproduce: narrow to a stream which has many topics, click "more topics" to expand

[2019-01-09 22:18] timabbott commented on #11239
This is a recent regression and fixed in master earlier today; fix will be on zulipchat.com soon.

[2019-01-09 22:18] #11239 closed

[2019-01-09 22:23] jasonaowen commented on #11239
Thank you for the quick turnaround, @timabbott and @showell !

For the sake of discoverability, see also commit 82e453d9fee9b891182b529e0974c2e59ceca76a, which resulted from PR #11234.

[2019-01-09 22:33] timabbott opened #11240 "Add support for passing language into send_future_email"
The invitation_reminder email, and possibly other emails using send_future_email, are not properly internationalized because we aren't passing through the proper language details.

The correct fix to this for the invitation reminder email is roughly:
[code]

however, we need to also tweak `send_future_email` and friends to pass the data through.

@hackerkid @akornor do one of you want to take this

[2019-01-09 22:37] akornor commented on #11240
@zulipbot claim

[2019-01-10 00:21] IAlwaysBeCoding commented on #11186
Okay, I found the error. I cloned the repository with root, then I created the username. Obviously, `zulip` user can't create any files on cloned repository that `root` created. Now, it works. By the way love the project and you guys are doing a great job.

[2019-01-10 00:21] #11186 closed

[2019-01-10 00:21] IAlwaysBeCoding commented on #11186
I could do a pull to maybe make it clearer so people won't get stuck on my problem again.

[2019-01-10 00:35] IAlwaysBeCoding opened #11242 "Have a consistent file extension name for each file under the tools folder."
I'm trying to understand why the inconsistent file names for all the executable files found under the tools folder.

For example, why have some end with .py and others without it but always executing them as an executable.

`run-dev.py` is one example of naming it `run-dev` would still work. In other words, it would be much better to name all of the tools scripts to either `.py` or have no extensi

[2019-01-10 01:36] timabbott commented on #11242
The short story is that in general we avoid `.py` extensions, but they are necessary for any tools which we want to be importable from another python module.  `run-dev.py` is sorta the exception to this rule, which we've avoided changing more out of backwards-compatibility than anything else (since it's a thing developers type a lot).  I'd be open to changing it, probably worth a discussion on `#b

[2019-01-10 01:36] #11242 closed

[2019-01-10 01:38] timabbott commented on #11186
Ahh, makes sense.  I think it'd be reasonable to submit a quick PR adding a check to `tools/provision` that it has write access to the root of the Zulip repo, giving a nice error message if it doesn't.

[2019-01-10 01:38] timabbott commented on #9846
Great, thanks for the follow-up!

[2019-01-10 01:49] #11240 closed

[2019-01-10 07:58] ruchit2801 commented on #10830
So, there are three functions in file zerver/views/realm_filters.py. For listing, creating and deleting. And I think a function for editing filter needs to be created. Should I do so and hit PR?

[2019-01-10 08:57] ruchit2801 commented on #10830
@zulipbot claim

[2019-01-10 11:13] HarshitOnGitHub commented on #11188
@2208Abhinav See this: https://github.com/zulip/zulip/blob/254bf4c08f49c48cec318d4cc0569baae2b22c8c/static/js/emoji_picker.js#L644
Let me know if you have any doubt after following the code. :)

[2019-01-10 11:14] 2208Abhinav commented on #11188
Thank you @HarshitOnGitHub  :)

[2019-01-10 11:41] 2208Abhinav commented on #11188
@HarshitOnGitHub I studied the function. We need to pass a textarea variable to the function (**insert_syntax_and_focus**) with the correct location. Currently there is no mechanism to send that argument. Here's my logic: In the code you mentioned above I will add a code that checks whether the emoji is selected from message edit section or not. If its true then correctly find the position of text

[2019-01-10 12:34] HarshitOnGitHub commented on #11188
You can create a new event handler like: `    $(document).on('click', '.emoji-popover-emoji.edit-area', function (e) { ... }` and add your custom logic to find the text area there and then pass it to `insert_syntax_and_focus()`.  If you face any problem open up a WIP PR. It will be easy to discuss it there.

[2019-01-10 12:45] 2208Abhinav commented on #11188
Thank you @HarshitOnGitHub for the help. I will try this. :)

[2019-01-10 13:06] santherics commented on #10903
Hello @timabbott !
We are really interested in this integration. Could you clarify, when the functionality is expected to be implemented, please?
Thank you in advance!

[2019-01-10 13:36] 2208Abhinav commented on #11188
@HarshitOnGitHub in **emoji_popover_emoji.handlerbars** how do  I check whether I am in editing  mode or not?

[2019-01-10 14:08] sahil839 commented on #11176
@zulipbot claim

[2019-01-10 14:24] 2208Abhinav commented on #11188
Actually I want to add "edit-from" class to emoji-popover-emoji element to use `$(document).on('click', '.emoji-popover-emoji.edit-area', function (e) { ... }`

[2019-01-10 17:30] HarshitOnGitHub commented on #11041
@zulipbot claim

[2019-01-10 18:40] 2208Abhinav commented on #10970
@timabbott  I will try to solve this ssue. I will try my best :) . I haven't contributed to backend till now.

[2019-01-10 18:40] 2208Abhinav commented on #10970
@zulipbot claim

[2019-01-10 20:19] vrongmeal commented on #11219
@zulipbot abandon

[2019-01-10 22:45] rht commented on #5377
For sockjs, can the patched version be put in a repo, say `zulip/sockjs`, then put `zulip/sockjs` in the dependencies to download from master? This way, it is done within the framework of webpack.

[2019-01-10 22:52] glyph opened #11249 "since 2019-1-5, message text duplicated in missed message emails"
On 2019-1-4 (and many times previously), I received a notification like this:

[code]

On 2019-1-6 (and many times since), I have received email notifications like this:

[code]

The stylesheet also appears different.

It would be nice if the initial "here's some text" were removed.

[2019-01-10 23:10] timabbott commented on #10830
That's correct, we need to extend the API for this.

[2019-01-10 23:18] timabbott commented on #5829
For these concepts:

This is done.

This is done, except the number is currently 2 minutes, not 5.  There's some tradeoff with risk of losing missed-message emails if the server is restarted during this window, which is a reason not to make this dramatically larger (e.g. 15 minutes), which could be resolved.  I guess we can open an issue for eliminating that tradeoff (requires a state save/dump me

[2019-01-10 23:19] timabbott commented on #10624
I think @akashnimare fixed this via a separate PR, sorry I missed this when you submitted it @gooca.

[2019-01-10 23:19] #10624 closed

[2019-01-11 06:02] vrongmeal commented on #11015
@zulipbot claim

[2019-01-11 08:45] jinks opened #11253 "Can't login after changing language (Error 500, UnicodeDecodeError)"
After setting up the basic of a Zulip test server I changed the language of the (only) admin user from "en" to "de". This immediately resulted in me getting a 500 error from django.

The following is in the server logs:
[code]

Is there a way to manually reset the user's language from the command line, so I can at least access the web interface again?

[2019-01-11 10:55] Swapnilr1 commented on #6316
Sorry for not being able to understand the issue yet. I selected some text and used Ctrl+C, and I get exactly what was highlighted in my selection.

![copiedtext](https://user-images.githubusercontent.com/35957512/51029731-2416ff80-15bd-11e9-9306-073c31041483.png)

How exactly do I replicate this issue on my end?

[2019-01-11 11:55] 2208Abhinav commented on #10970
@timabbott I will not take much time if I am not able to solve it and will abandon it.

[2019-01-11 16:23] ishanrai05 commented on #11010
@zulipbot  abandon

[2019-01-11 16:51] sakebomb opened #11255 "Invite users results in error"
Inviting multiple users results in error 'Argument "invite_as" is not valid JSON.'

I have a screenshot but it contains PII. I can reproduce this error with only one user.

[2019-01-11 18:23] showell opened #11256 "Move dev views to zerver/views/development"
We should move code like `zerver/views/email_log.py` to `zerver/views/development/*.py`, so it's more obvious that they're dev-only views.  The `email_log.py` move is easiest--there are also views in `dev_urls.py` that are a bit harder to move.

We can also lint against `import foo from django.test` in non-dev views.

[2019-01-11 18:36] 2208Abhinav commented on #10970
@zulipbot abandon

[2019-01-11 18:57] 2208Abhinav commented on #2335
@zulipbot claim

[2019-01-11 19:58] timabbott commented on #11253
@jinks you should be able to do that with `do_set_user_display_setting(user_profile, 'language', 'en')` in the `manage.py shell`.  That said, I think the problem here is something to do with a UTF-8 locale not being installed on your system, which will likely cause other problems.

Can you try fixing that and see if it helps?

[2019-01-11 20:00] timabbott commented on #11249
@glyph what email client are you using?  We use a `.preheader` block to add what should be hidden text at the top of the email (which is the standard technique for making the preview shown by clients like gmail not start with the useless boilerplate like "While you were away").

So the actual problem here is likely that something is wrong with how that block is working.

[2019-01-11 20:02] ss62171 commented on #10867
@zulipbot claim

[2019-01-11 20:32] timabbott commented on #10800
Fixed via https://github.com/zulip/zulip/issues/10800

[2019-01-11 20:32] #10800 closed

[2019-01-11 20:38] glyph commented on #11249
Out of the 4 mail clients I use:

- iOS Mail.app
- Dispatch
- Fastmail
- macOS mail.app

the only one that hides this text is Dispatch.

I can't reproduce this quickly with a minimal HTML message, but I notice that the messages I'm looking at have 2 `<html>` tags, 2 `<body>` tags, 2 `<head>` tags (all in the same MIME part) and very different stuff in each.

[2019-01-11 20:46] #11256 closed

[2019-01-11 21:21] csvoss opened #11259 "In Travis webhooks, include an emoji for status 'Errored'"
The Travis CI integration does not recognize the status 'Errored' and does not display an emoji for it:

<img width="910" alt="Travis CI Bot: Author: Chelsea Voss
Build status: Errored (No emoji specified for status 'Errored'.)
Details: changes, build log" src="https://user-images.githubusercontent.com/3229696/51060119-6fbcaf80-15a3-11e9-96ac-ac83e3003e3c.png">

The fix should be a small change to

[2019-01-11 21:49] timabbott commented on #11259
Agreed; @csvoss do you want to submit a PR for this?

@eeshangarg FYI.

[2019-01-11 22:08] csvoss commented on #11259
Sure!

[2019-01-11 22:13] timabbott commented on #11249
Ahh, OK, that duplication explains the issue. Fixing shortly, thanks for the very helpful report!

[2019-01-11 22:32] timabbott commented on #11255
@sakebomb can you provide more details on what Zulip server you're using (Zulip Cloud or another server) and what role you're inviting the users as?  I can't reproduce this error, and the code should send JSON here.  So there's something different about what you're doing.

Mostly helpful would be if you can check your browser console to see what the actual HTTP request being made, and provide that

[2019-01-11 22:33] timabbott commented on #11255
(Tagging as a priority because this could be a pretty high-profile issue if for some reason the problem is I can't reproduce it).

[2019-01-12 00:55] timabbott commented on #11249
(This fix hits production in a couple minutes -- let us know if you see issues after this point).

[2019-01-12 01:07] timabbott commented on #11249
(This fix hit production -- let us know if you see any issues with the missed-message emails after this point).

[2019-01-12 04:04] amanpro30 commented on #11070
@zulipbot claim

[2019-01-12 07:47] shiv0408 commented on #7549
@rishig @Anupam-dagar Is this issue still active? I would like to claim it otherwise.

[2019-01-12 07:47] shiv0408 commented on #7549
@zulipbot claim

[2019-01-12 10:42] ruchit2801 opened #11260 "'Change User info and roles' form does not disappear when navigating to different tab"
In Users tab of organisation settings, when we click on edit user button, it opens a form to update user info. Now when we try to navigate to different tab(the form being open), it does not disappear.

Desired behaviour :- Either the form should disappear or the user should not be allowed to navigate to different tab when the user edit form is open

![screenrecording20190112at3](https://user-image

[2019-01-12 11:45] aman566 commented on #1342
@timabbott claim

[2019-01-12 11:46] aman566 commented on #1342
@zulipbot  claim

[2019-01-12 16:35] mateuszmandera opened #11262 "Optional PGP encryption of emails"
I want to make a suggestion to implement optional PGP encryption of the emails that the zulip server sends out to users. The idea is that in user settings we could let people enable the option and import their public PGP key. Then, whenever the server sends an email to the user (missed message notifications and such), it would encrypt it using the key. The server could have its own private key, pu

[2019-01-12 17:07] nil3sh99 commented on #10617
@zulipbot abandon

[2019-01-12 17:54] aaryan01 commented on #11215
@zulipbot abandon

[2019-01-12 19:00] HarshitOnGitHub commented on #11215
@zulipbot claim

[2019-01-12 23:21] thedeveloperr commented on #11219
@timabbott I would like to take up this issue. I would like to mention I am not an experienced open-source contributor and also new to zulip as well. Came to know about it through GSoC. It was tagged with help wanted but not with tag good first issue so I just want to confirm if it is a fit for me take it up  ?

I also tried to reproduce the issue by simulating network throttling to create a laten

[2019-01-13 08:35] HarshitOnGitHub commented on #10900
@zulipbot claim

[2019-01-13 09:14] adarshPatel509 commented on #9575
@zulipbot claim

[2019-01-13 10:12] adarshPatel509 commented on #9575
@timabbott , is this issue is still not fixed. if yes, I would like to work on this, can you please elaborate the issue.

[2019-01-13 10:43] HarshitOnGitHub commented on #10900
@timabbott Wouldn't it be better to have the default behavior of filling cache? We mention about the `restart-server` script in our docs at couple of places and changing them to tell most of the users to use `--fill-cache` is worse than telling a handful of users (by some help message) to use `--no-fill-cache` for live code editing.

[2019-01-13 10:54] HarshitOnGitHub commented on #5975
@zulipbot claim
@timabbott Just to make sure that I am doing the right thing, we want to add `role=img` and `aria-label=<title_text>`, right?

[2019-01-13 10:59] HarshitOnGitHub commented on #11151
@zulipbot claim

[2019-01-13 12:42] architkshk commented on #10842
@zulipbot abandon

[2019-01-14 02:52] #11215 closed

[2019-01-14 03:05] #11039 closed

[2019-01-14 03:05] #11041 closed

[2019-01-14 03:05] #11151 closed

[2019-01-14 03:19] timabbott commented on #9575
@adarsh1021 yes, this is still a present issue.  See https://github.com/zulip/zulip/issues/9575#issuecomment-430377294, @eeshangarg is a good person to consult with about any deeper framework questions, but https://zulip.readthedocs.io/en/latest/subsystems/documentation.html is a good place to learn about the frameworks involved in our codebase.

[2019-01-14 03:21] timabbott commented on #10900
@HarshitOnGitHub the cache-filling behavior is primarily useful when doing a planned server restart (e.g. this would be called by the upgrade script).  When you're in a hurry (e.g. if the server is down right now, or if you're testing a configuration change in a newly setup server), it's best to just restart it without pre-filling the cache, and I think that's going to be the vast majority of case

[2019-01-14 03:31] timabbott commented on #11262
@mateuszmandera seems like a fine feature concept, though we'd nee to be careful to not over-promote it in the UI just because many users won't know what a PGP key is.  I think the implementation for the encryption phase would be 2-part:
(1) Figuring out how to call PGP from the Django `send_email` flow in `zerver/lib/send_email.py` in a sane fashion.  This is likely the hardest part of such a fea

[2019-01-14 03:56] timabbott commented on #11260
Thanks for the report @ruchit2801!  I believe this is a duplicate of https://github.com/zulip/zulip/issues/11177, however.

[2019-01-14 03:59] timabbott commented on #11219
I also was unable to reproduce the issue in development without changing the code; I suspect doing so would require adding some network latency (or simulating it by making the backend view function start with a `time.sleep(5)`  to sleep 5 seconds.  I'd recommend doing so, so that you can test the fix, but I would certainly be satisfied for this issue with adding the loading spinner approach you su

[2019-01-14 04:09] timabbott commented on #5975
Yes, I think so.

[2019-01-14 04:12] timabbott opened #11268 "Add proper validation for stream color inputs"
We should add proper validation that "stream color" inputs are valid HTML colors in the format of `#abcd12` where the 6 colors after the hash are valid hex characters.  I think doing this basically involves just changing `update_subscription_properties_backend` to replace `check_string` with a a new validation function `check_color`, and adding some tests.

[2019-01-14 06:12] vrongmeal opened #11269 "Inconsistent style for `code` in markdown preview in night mode"
![screenshot 2019-01-14 at 11 35 33 am](https://user-images.githubusercontent.com/33068691/51098585-5741d480-17f1-11e9-9ebf-4ffae57ebac9.png)

The `code` in the message list and markdown preview differs in style in the night mode.

[2019-01-14 06:51] glyph commented on #11249
Thanks! I'll keep an eye out.

[2019-01-14 07:15] #11269 closed

[2019-01-14 07:18] Hypro999 opened #11272 "Delegate the responsibility of rendering stream descriptions to the backend"
Currently, the rendering of streams' descriptions is handled by the frontend. However, this could cause time-related issues, particularly for the mobile clients. Hence by moving this responsibility to the backend and then storing the results of the rendering, we could save on a lot time and avoid a lot of unnecessary processing.

The general steps to be taken on the backend side are:
- [x] Update

[2019-01-14 11:01] hackerkid commented on #11272
@zulipbot label "area: stream settings"

[2019-01-14 11:20] Hypro999 commented on #11272
@zulipbot claim

[2019-01-14 11:34] manpoffc opened #11273 "Broken Links Under Documentation"
All the links Under Docs--> Development---->Overview.md file are broken for setting up the environment for further development for first-time contributors
![untitled](https://user-images.githubusercontent.com/18673237/51110358-7440cc80-181e-11e9-8144-3b8e428b0461.png)
 contributors

[2019-01-14 11:46] jeswincyriac commented on #11177
why bot why?i had made the pr and referenced the problem,why cant u see it.

[2019-01-14 11:50] hackerkid commented on #11272
@zulipbot label "help wanted"

[2019-01-14 12:36] Varunvaruns9 commented on #11273
This is a known issue #11087 . You can access the links on [ReadTheDocs](https://zulip.readthedocs.io/en/latest/).

[2019-01-14 18:19] #11268 closed

[2019-01-14 18:19] #11273 closed

[2019-01-14 19:37] adarshPatel509 opened #11279 "OS specific docs not showing User's default OS tab as active when opened form left help sidebar.""
when opened with complete url shows correct tab as active.
![screenshot 4](https://user-images.githubusercontent.com/36725774/51135994-6b251f00-1861-11e9-8171-603c150dcb74.png)
when opened by clicking from left help sidebar showing first tab as active.
![screenshot 5](https://user-images.githubusercontent.com/36725774/51136086-a4f62580-1861-11e9-9fdf-453ce29dcdfa.png)

[2019-01-14 19:39] timabbott commented on #10954
Let's close this and move the follow-up project to its own issue.

[2019-01-14 19:39] #10954 closed

[2019-01-14 19:41] timabbott opened #11280 "Improve set of icons for "organization settings""
Following up on #10954, we probably want to replace some of the lock icons on the left with other things. E.g. "organization profile" could have a greyscale Zulip logo or maybe https://fontawesome.com/v4.7.0/icon/address-card, and "Authentication methods" could be fa-key.

This is a good issue for someone with design sense, but even just trying my suggestions above and posting a screenshot and you

[2019-01-14 20:43] gregzil opened #11282 "Zulip on the Web User Documentation issue"
There is not a "Search" field in the User documentation, in order to find easier what you are looking.
![user documentation](https://user-images.githubusercontent.com/45594372/51139867-b2091980-184d-11e9-97e6-2cb038669341.JPG)

[2019-01-14 20:45] gregzil opened #11283 "#Web Invite new users"
When i am trying to invite new users, the following fault appears.
![web invite users](https://user-images.githubusercontent.com/45594372/51139990-057b6780-184e-11e9-9c97-ad284a49bfcf.JPG)

[2019-01-14 21:20] andreasoc commented on #11154
Is a fantastic features.. This would replace to do Application for some activities

[2019-01-14 22:38] #11279 closed

[2019-01-14 23:11] timabbott commented on #11283
@gregzil thanks for including a screenshot in your bug report!  We'd gotten another report of this issue, but it didn't provide the context required to fix it.  The fix is merged and should be out on zulipchat.com later today.

[2019-01-14 23:11] #11255 closed

[2019-01-14 23:11] #11283 closed

[2019-01-14 23:12] timabbott commented on #11255
@shubhamdhama the problem turned out to be only for non-administrators doing the invitation.

I'm not sure my fix is the ideal long-term one; it might be better to just always have the form in the template and just hide it visually for non-admins.  And in any case, @rishig should we allow Members to invite new users as a Guest if they are allowed to invite new users at all?

[2019-01-14 23:13] timabbott commented on #11282
This is a duplicate of #5803.

[2019-01-14 23:13] #11282 closed

[2019-01-14 23:21] #10900 closed

[2019-01-15 00:17] timabbott commented on #10903
@santherics should this be implemented, it would work just like our other ~10 integrations for Git tools, with the same formatting/etc. as the rest.

[2019-01-15 02:15] adarshPatel509 commented on #9575
@timabbott ,Actually I can't get the meaning of the issue (less-than-helpful-link) properly. Do u want the python tab to be shown by default to install python bindings?  [ref-comment](https://github.com/zulip/zulip/issues/9575#issuecomment-430377294).

[2019-01-15 02:41] rishig commented on #11255
yes, I think we should allow Members to invite new users as Guests.

[2019-01-15 03:30] synicalsyntax commented on #11177
@jeswincyriac Can you try correcting your `Fixes :#11177` notice in your PR description to `Fixes: #11177`? I can try adjusting the regex on the bot to be more flexible on whitespace meanwhile. Thanks!

[2019-01-15 05:30] riddhi22 commented on #4676
Is it closed?

[2019-01-15 05:36] riddhi22 commented on #7549
@ zulipbot claim

[2019-01-15 05:45] riddhi22 commented on #7549
@zulipbot claim

[2019-01-15 05:53] riddhi22 commented on #5677
Is this issue open
@zulipbot claim

[2019-01-15 06:01] riddhi22 commented on #6018
@zulipbot claim

[2019-01-15 06:06] riddhi22 commented on #6018
@rishig since this is my first issue.Could you give a more concised form of the problem.

[2019-01-15 06:40] riddhi22 commented on #6018
@zulipbot abandon

[2019-01-15 06:40] riddhi22 commented on #6342
@zulipbot claim

[2019-01-15 06:49] riddhi22 commented on #2994
@zulipbot claim

[2019-01-15 07:23] ilyaevseev opened #11286 "zulip-puppet-apply fails on Debian Stretch because python-software-properties unavailable."
zulip-puppet-apply tries to install python-software-properties package that's presented in Debian Jessie (oldstable) but excluded from Debian Stretch (current stable) and replaced by software-properties-common.

It seems that lsbdistrelease 9.6 is recognized in puppet/apt/manifests/ppa.pp and puppet/apt/spec/defines/ppa_spec.rb as old Ubuntu version instead of modern Debian.

[2019-01-15 07:36] ilyaevseev opened #11287 "zulip-puppet-apply tries to install pgroonga from PPA under Debian"
puppet/zulip/manifests/postgres_appdb_base.pp tries to install pgroonga from PPA:
[code]
Under Debian we need to setup pgroonga repo in another manner:
[code]

[2019-01-15 09:47] akshaya9 commented on #4676
@zulipbot claim

[2019-01-15 09:51] riddhi22 commented on #8750
@zulipbot claim

[2019-01-15 13:15] thedeveloperr commented on #11219
1. @timabbott

I was able to reproduce this 500 you mentioned earlier error by adding a sleep of 1 second to move_messages_to_archive() function. I added it before the line that deletes messages from main table and after the line that moves messages to archived messages tables (i.e. Line no. 77) I think the database slow write operations but fast delete requests causes this 500 error. So how shoul

[2019-01-15 14:32] moagstar commented on #10351
I did some investigation on this issue and it seems that the problem lies within Pillow itself. There are two things that lead me to believe this...

1. If you change the code in upload.py to save the frames as pngs rather than all as a gif then the alpha is correctly preserved.
2. If you change the call to save in upload.py to use `optimize=False` then the alpha is preserved in the gif (but it lo

[2019-01-15 15:00] Xerus2000 commented on #11154
I don't think that that should be possible. The topics should always stay in their stream for searching through.

[2019-01-15 15:54] peanutbutterandcrackers commented on #11154
I didn't mean all topics archived into the same topic; rather, the topic itself archived into a meta one.

Here:
**#archived**
|-#general
|---#random_topic_001
|            |--- all conversations in the topic
|
|-#development
|---#bug_fix_001
|             |--- all conversations in this topic intact
|---#new_feature_001
|             |--- all conversations in this topic intact
|---#etc
**#develop*

[2019-01-15 16:00] adarshPatel509 commented on #9575
@timabbott please review the PR ,Thanks!.

[2019-01-15 16:07] HarshitOnGitHub commented on #10351
@moagstar Thanks for investing time in this, your investigation is exactly correct, this is a problem with pillow's optimization related code. I had tried various solutions for fixing it but none of them worked(related PR #10679). Probably the next step on this is to do some research on adding an external library that can handle GIFs(and would be best if we could also add svg support using it). :)

[2019-01-15 16:44] mateuszmandera commented on #11262
My current thoughts on this:

1. django-secure-mail (And others with similar functionality) doesn't seem necessary or appropriate (due to the reliance on having the public keys in the keyring). The essence of what they do in encrypting the email content isn't very complicated and perhaps it's better to just have our own, similar, code in our send_email function. The way it could work is check in t

[2019-01-15 17:21] shubhamjadon commented on #11280
@zulipbot claim

[2019-01-15 17:32] mateuszmandera commented on #11262
About point 3, maybe what we could do is import the key into the keyring, encrypt the message and remove the key? Then we wouldn't have to make modifications to python3-gnupg, unlike in the scenario where we write the key to a temporary file.

[2019-01-15 17:33] AsociTon commented on #10966
@zulipbot claim

[2019-01-15 17:45] Swapnilr1 commented on #6316
@zulipbot unclaim

[2019-01-15 18:22] timabbott opened #11289 "Fix handling of email .preheader with Microsoft OWA"
Some emails clients (at least Outlook Web Access) don't properly respect the various things we try to do to hide the .preheader, and one ends up with weird display artifacts like this:

![image](https://user-images.githubusercontent.com/2746074/51200646-f4167780-18ae-11e9-8e54-3adc44cb2846.png)

I went back and forth with the reporter in PMs and tried a various things without much success; the onl

[2019-01-15 19:34] timabbott opened #11290 "Don't offer members the ability to create a stream only administrators can post to"
Currently, in the "create stream" UI, we offer the "restrict posting to organization administrators" option regardless of whether the user creating the stream is an organization administrator, which can result in them creating a stream that they can neither post to not change the settings for to allow them to post.

We should fix this by just hiding that option for non-admin users.

Original repor

[2019-01-15 19:48] timabbott commented on #11262
That license is a standard MIT license; definitely not a problem.  We use a virtualenv (https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html) so we can install any Python packages via `pip`; it would seem really weird for a serious Python package to not be present on pypi.  Maybe it's this?  https://pypi.org/project/pygpgme/

But I guess reading https://wiki.python.org/moin/GnuPriva

[2019-01-15 20:10] mateuszmandera commented on #11262
The wiki links to this https://pypi.org/project/gpg/ but yeah, it says "this is not recommended by the PGP project since the PyPi library version would have to exactly match the version of GNUPG installed on your system", so it sounds like this could end up being tricky to set up and maintain.

Looking at the homepage https://launchpad.net/pygpgme , pypgpme seems unmaintained, so perhaps not a goo

[2019-01-15 20:36] vrongmeal commented on #11015
@timabbott I'll be working on this issue side by side... I've still to catch up on the existing codebase. zulipbot unassigned me from the issue somehow a few hours back (Don't know if it's a bug). Anyway, just wanted to let you know.

[2019-01-15 20:38] timabbott commented on #11219
Great, the reproducer is super helpful because it means we can test changes.  I think we should do two things:
(1) Add code for those two 500s to catch those IntegrityError exceptions and throw a 400 `JsonableError` exception (i.e. client error) instead, just like we do if the message doesn't exist.
(2) Add a loading spinner to help prevent users from triggering that code path by accident.

[2019-01-15 20:40] vrongmeal commented on #11290
@zulipbot claim

[2019-01-15 22:54] #11177 closed

[2019-01-15 23:36] #10161 closed

[2019-01-15 23:47] timabbott commented on #4271
I think #6605 is more likely to get near-term attention than this.  Let me comment on that one.

[2019-01-15 23:58] timabbott commented on #11177
I think that weird formatting is discouraged and it's probably not worth changing our zulipbot code.

[2019-01-16 00:20] timabbott commented on #5145
This was effectively resolved via 09cd47c6ad03ed4386cbe5ed143c38a95d913e19

[2019-01-16 00:20] #5145 closed

[2019-01-16 00:55] timabbott opened #11293 "Fix broken links after exporting + importing a Zulip organization with a new domain"
Reproducer:
* Mention a user in a message.
* Do a `manage.py export`
* Do a manage `manage.py import` on the result.
* Click on the mention.

Some issues of this form will be fundamentally hard to fix (e.g. links to specific stream/user IDs), but if you export an organization using `manage.py export` and then import it via `manage.py import`, we will renumber all the message/user/stream IDs (as pa

[2019-01-16 01:15] timabbott opened #11294 "Add tooling/documentation for migrating from local uploads backend to s3 backend"
This is a common workflow for someone setting up zulip -- they start out on the LOCAL_UPLOADS_DIR backend, and then as they scale their server, they want to move to the S3 backend instead.  While we currently tell folks to just setup S3 at the start, many don't until late.  And we don't have a nicely documented way for them to do the migration correctly.

Roughly, you just want to upload all the f

[2019-01-16 01:32] rht commented on #11286
It looks like this is another benefit in using just 1 apt setup system (previously with setup-apt-repo and puppet-apt).

[2019-01-16 01:38] timabbott commented on #9
https://github.com/zulip/zulip/pull/7234 has some useful work if someone wants to work on this again down the line, though one may be better off basing one's work on the GitHub auth backend code we have in production.

[2019-01-16 01:45] timabbott commented on #5550
https://chat.zulip.org/#narrow/stream/3-backend/topic/replace.20minor.20of.20PROVISION_VERSION.20with.20content.20version/near/673841 has some detailed discussion on a design that we're pretty happy with for how this should work.

[2019-01-16 01:46] timabbott commented on #8574
I'm going to close this as wontfix; you folks should just get your syntax merged into pygments upstream now that it's active again, and then we'll take the upgrade automatically through routine dependency updates (or you can ping us to do so).

[2019-01-16 01:46] #8574 closed

[2019-01-16 01:48] timabbott commented on #10802
@hackerkid can you easily submit a report to pip-tools upstream for this?  Ideally with a clean reproducer of a file + command that works with old version and not with the new one.

[2019-01-16 01:52] timabbott commented on #10248
This issue was resolved via d5e1e8e5e3c46ce5df7ef93a32632217a7e05d96.  And the other changes we had in mind are in #10255.

[2019-01-16 01:52] #10248 closed

[2019-01-16 04:06] stretch4x4 commented on #10351
We have just migrated and come across this too, having an option to disable or customise the resizing would be good as we have a local install and bandwidth isn't too much of an issue at this point in time.
Most of the images we have used in our old hipchat server previously are getting crushed pretty badly so far.

[2019-01-16 07:47] adarshPatel509 commented on #11293
@zulipbot claim

[2019-01-16 10:11] ruchit2801 commented on #10830
@zulipbot abandon

[2019-01-16 11:48] utkarsh-raj commented on #6581
Hello, is the issue open?

[2019-01-16 12:08] ss62171 commented on #10867
I am using vagrant and i am trying to access localhost:9991/accounts/register on my local setup but the page is showing no output.
can you tell me how can i view this page on my local setup.

[2019-01-16 12:39] 2208Abhinav commented on #11188
@timabbott now I am working on the video call link stuff.

[2019-01-16 13:12] utkarsh-raj commented on #4513
I would like to work on the issue. Is it open ?

[2019-01-16 13:52] rishig commented on #4513
This issue is blocked on some design decisions; I'll remove the `good first issue` label.

[2019-01-16 13:56] TharunThomas8 commented on #4240
@zulipbot claim

[2019-01-16 14:58] shubhamjadon commented on #11280
@timabbott does this looks good?
![check](https://user-images.githubusercontent.com/35838512/51257256-3c2bbc00-19cd-11e9-9638-00edff267b5f.JPG)

[2019-01-16 16:18] timabbott commented on #11280
I think "Organization permissions" can go back to being a lock, maybe?

[2019-01-16 16:19] timabbott commented on #11280
But otherwise looks good.

[2019-01-16 17:07] #5975 closed

[2019-01-16 18:05] #9575 closed

[2019-01-16 19:01] timabbott commented on #11286
Right, the `setup-apt-repo` migration we did should have fixed this, and the fix will be in our next release.  I'm going to close since I'm 99% confident it's fixed in master, but @ilyaevseev let us know if you can confirm.

[2019-01-16 19:01] #11286 closed

[2019-01-16 19:20] timabbott commented on #372
I finished implementing a basic version of this that supports using one Tornado process per realm, which is mostly merged into master (but doesn't yet have a supported way to configure it without a small fork).

[2019-01-16 19:55] sakebomb commented on #3618
Is this feature in the roadmap? I would like to request it.

[2019-01-16 19:59] ss62171 commented on #10867
In the file **static/js/portico/signup.js** if we comment out the line '$("#id_full_name").val("")' then it works. There is no need for clearing the field as it seems to me.
Can we do that?

[2019-01-17 00:09] #8025 closed

[2019-01-17 00:09] #11221 closed

[2019-01-17 00:38] timabbott opened #11301 "Fix handling of ctrl+C when cloning a virtualenv"
Our Python dependency management system (https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html) generally does a good job of ensuring that you're always running the correct version of everything if you just run provision.

But there is a reproducible issue that I've seen:
* Start with a provision virtualenv
* Add a new Python package to requirements/dev.txt
* Run provision
* Hit ctrl

[2019-01-17 05:38] esbeeb commented on #356
@timabbott said "Zulip will probably eventually have XMPP style federation, though a lot of care needs to go into such a feature with an auto-discovery model to avoid creating other problems (E.g. spam vectors)."

How does this sound for a sensible way to deal with such potential spam vectors?

Why not simply copy the way that WhatsApp handles unwanted people (who might abuse such DNS-based auto-d

[2019-01-17 05:45] esbeeb commented on #356
PS: with such awesome Federation as this (DNS-based auto-discovery), then I think the value of Zulip increases exponentially, as it starts becoming something that actually  stands a chance of replacing email as that baseline way that everybody uses to communicate globally, in a textual, Markdown-enhanced way that has good security, and openness thanks to the Open Source codebase.

[2019-01-17 06:09] esbeeb commented on #356
OK, wild idea.  Normally, AI creeps me out majorly, but this perennially very difficult problem might be the right time to use AI in an actually beneficial way: say there was a sort or "bouncer" AI who would be the first to look at those potentially spammy/malicious federated posts from random zulip servers.  In order to get past the bouncer, the sender had darn well better know the recipient very

[2019-01-17 06:56] overide commented on #11123
Hi @pragatiagrawal31 if you are still working on this then please let me know otherwise please abandon it so that I can work on it. Thanks!

[2019-01-17 09:03] Rajamanickam1999 commented on #4891
@timabbott What should I document here ?No description is provided.

[2019-01-17 10:18] Anmolbansal1 commented on #11301
@zulipbot claim

[2019-01-17 11:01] riddhi22 commented on #2994
@zulipbot abandon

[2019-01-17 11:03] riddhi22 commented on #8750
@zulipbot claim

[2019-01-17 11:04] riddhi22 commented on #8750
Hye @amanagr could you give a brief about the problem?

[2019-01-17 13:15] pragatiagrawal31 commented on #11123
Due to some personal issues, it got delayed, but I'm still working on it. Thanks!

[2019-01-17 13:33] moagstar commented on #10351
I found a number of upstream issues related to gif and transparency...

https://github.com/python-pillow/Pillow/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+gif

So perhaps it's not one single issue, it looks like the handling of transparency is a bit flaky.

@timabbott I understand the concern about adding more code paths and dependencies. So I agree that this is probably not the best approach.

[2019-01-17 13:42] moagstar commented on #10351
Actually I'm not sure where I got the 25x25 value from since it looks like the gifs are resized to 64x64, apologies if I cause any confusion!

[2019-01-17 15:52] ss62171 commented on #10867
@timabbott we should close this issue if it is fixed.

[2019-01-17 18:16] #11212 closed

[2019-01-17 18:18] #10867 closed

[2019-01-17 18:30] #11280 closed

[2019-01-17 18:57] siddhantkhandelwal commented on #11087
I would like to work in this issue.
@zulipbot Claim

[2019-01-17 20:11] kagibson commented on #10903
Hi @timabbott my organization is also interested in this functionality. We would like to see it work the same as the other Bitbucket integration except for Bitbucket Server.

[2019-01-18 01:03] rht opened #11308 "Case insensitive topic name (i.e. canonical name) should be handled with casefold()."
See https://github.com/zulip/python-zulip-api/pull/469#discussion_r248658046.

[2019-01-18 03:09] siddhantkhandelwal commented on #11087
@zulipbot claim

[2019-01-18 06:32] overide commented on #11308
@zulipbot claim

[2019-01-18 06:59] overide commented on #11308
Hi @rht can you please add the appropriate label so that i can claim and work on it? Thanks!

[2019-01-18 09:38] hackerkid commented on #11087
@zulipbot label "help wanted"

[2019-01-18 09:43] siddhantkhandelwal commented on #11087
@zulipbot claim

[2019-01-18 11:54] HarshitOnGitHub commented on #10976
@zulipbot claim

[2019-01-18 13:16] pragatiagrawal31 commented on #10688
@zulipbot claim

[2019-01-18 14:10] amanpro30 commented on #11070
Please review this PR @timabbott. I have made changes to BugdownTest with whatever I understand of the issue statement. Looking forward to positive feedback.

[2019-01-18 14:12] VipulRamtekkar commented on #9157
@zulipbot claim

[2019-01-18 16:13] YashRE42 commented on #4240
@TharunThomas8 Have you been able to make progress on this issue? I was actually working on this before and I have it mostly resolved now,

[2019-01-18 17:38] kunal-mohta commented on #10794
Is anyone working on this?

[2019-01-19 01:41] rht commented on #11308
@zulipbot label "help wanted"

[2019-01-19 01:42] rht commented on #11308
@overide just did that. Also, you have to make sure to tell the difference between `lower()` and `casefold()` behavior on unicode chars, e.g. `\Beta` and `\beta`.

[2019-01-19 04:46] rishig commented on #5829
yeah, that plan sounds good.
Eventually it would be nice to be able to do 5 or 15 minutes, but probably not a priority given that it's not easy.

[2019-01-19 05:30] overide commented on #11308
@zulipbot claim

[2019-01-19 07:17] adarshPatel509 commented on #11293
@zulipbot  abort

[2019-01-19 11:39] adarshPatel509 commented on #10673
@zulipbot claim

[2019-01-19 13:32] Aasfga commented on #10539
@zulipbot I'm still working on this issue

[2019-01-19 15:03] adarshPatel509 commented on #6296
@zulipbot claim

[2019-01-19 15:11] adarshPatel509 commented on #6296
@timabbott  How to produce this error? Can you give any example request, so that I can get a better understanding of this issue? Thanks!

[2019-01-19 17:49] sameerchoubey commented on #10909
@zulipbot Yes, I'm working on this issue. I have an issue open already, #11248

[2019-01-19 20:16] thedeveloperr commented on #11219
@timabbott I have developed the following design. Is it ok ?
![11219 jan-20-2019 01-41-37](https://user-images.githubusercontent.com/23462580/51431839-b0c45c00-1c54-11e9-977f-5376abd02c26.gif)
I am working on backend exception catching code now.

I have one question. Do this loader needs frontend test ? If yes which one, casper or node test ? I am not experienced with writing automated tests so co

[2019-01-19 21:06] Dbone29 commented on #11134
I have a Problem:

<...> [core:error] <...> [client 127.0.0.1:56074] AH00037: Symbolic link not allowed or link target not accessible: /home/zulip/deployments/current

If I replace the symbolic link with the real directory everything works just perfekt.

[2019-01-19 21:07] Dbone29 commented on #11134
I also want to ask if there is a plan for supporting permission group through Apache sso?

[2019-01-19 23:14] ss62171 commented on #11183
can I claim this issue @timabbott ?

[2019-01-20 00:14] ss62171 commented on #11290
@zulipbot claim

[2019-01-20 03:02] benneyman opened #11320 "Invalid windows file names in corprate/tests/stripe_fixtures/"
I trying to pull in the forked code into my windows machine.
 I ran these two commands
git clone --config pull.rebase git@github.com:benneyman/zulip.git
git remote add -f upstream https://github.com/zulip/zulip.git

And if i did a git status after that i get a log like this

D:\zulip>git status
On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use

[2019-01-20 08:33] Raghavareddy21 commented on #5384
@zulipbot I am still working on the issue but i am facing a small error which i hope to solve soon.

[2019-01-20 12:37] xiaomingplus opened #11323 "UnicodeEncodeError at /register/ with docker dev env"
Hello,
      I try setup with <https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#using-docker-experimental>, everything is ok,

but when I try to  signup, there is an error:

[code]

here is the trace:

[code]

[2019-01-20 13:02] ruchit2801 opened #11324 "Button to create a new stream is not visible in mobile browser"
When I tried to create a new test stream in my test organisation, in my mobile browser, I added stream name and description. Now create stream button is at bottom in this form. I scroll down to most possible bottom side in browser, but button is still not visible. Only a 5-10% of its portion is visible(Only top line of button).
![whatsapp image 2019-01-20 at 6 30 28 pm](https://user-images.githubu

[2019-01-21 02:33] rht commented on #9
See also #10618 for the most recent PR on adding a new auth. This is to show that the  complexity of the task is much less than > a year ago.

[2019-01-21 03:41] himanish-star commented on #11152
@showell starting my work on this right away :)

[2019-01-21 03:50] ss62171 commented on #11183
@zulipbot claim

[2019-01-21 08:06] lonerz commented on #11324
(this is a test) @zulipbot claim

[2019-01-21 08:43] hackerkid commented on #11009
@zulipbot claim

[2019-01-21 12:58] akshaya9 commented on #4676
@zulipbot claim

[2019-01-22 12:02] TharunThomas8 commented on #4240
@zulipbot  abandon

[2019-01-22 12:08] TharunThomas8 commented on #4240
@YashRE42  np

[2019-01-22 12:44] TharunThomas8 commented on #8731
@zulipbot claim

[2019-01-22 15:35] TharunThomas8 commented on #8731
@timabbott  Is this the way you had in mind?
I've uploaded the screenshots.

![screenshot from 2019-01-23 02-23-49](https://user-images.githubusercontent.com/32872276/51545517-28c69800-1e88-11e9-89c7-868a9dbfdbb2.png)
![screenshot from 2019-01-23 02-21-39](https://user-images.githubusercontent.com/32872276/51545567-4267df80-1e88-11e9-8af0-5af3d6610eb9.png)

[2019-01-22 16:53] ajitesh-30 commented on #10537
@zulipbot  Remove claim

[2019-01-22 17:00] ajitesh-30 commented on #10537
@zulipbot  abort

[2019-01-22 17:14] thedeveloperr commented on #11219
@timabbott I have written the code catching backend error too but I am not sure how to write the tests for it. How to simulate the latency in the automated test code files ? I am. stuck at this point need your advice.

[2019-01-22 17:59] synicalsyntax commented on #11324
@ruchit2801 Can't reproduce, can you describe what mobile OS/browser you're on?

[2019-01-22 18:04] #10892 closed

[2019-01-22 18:32] ruchit2801 commented on #11324
@synicalsyntax  This issue is on Androd 9 OS. I'm using oneplus 5 and the browser in which I observed this is Chrome-Dev. I'll try to upload screen recording tomorrow :)

[2019-01-22 18:49] YashRE42 commented on #4240
@rishig could you have a look at the PR and let me know if I need to change something?

[2019-01-22 20:44] whoodes commented on #11088
@zulipbot claim

[2019-01-22 21:17] whoodes commented on #11088
Remove assignment until more comfortable.  @zulipbot abort

[2019-01-22 21:29] timabbott opened #11335 "Add feature for merging history of 2 Zulip organizations"
We often get requests from folks who are migrating to Zulip from another tool like Slack or HipChat.  This comes up when folks start using Zulip for part of their organization and then want to migrate the whole org and import the data.

A few things make doing this well challenging:
* We'd need to renumber all the message IDs for both organizations to preserve the temporal sort order of the messag

[2019-01-22 23:48] timabbott commented on #3618
@sakebomb we don't have any near-term work planned for this feature.

[2019-01-22 23:58] timabbott commented on #11323
@xiaomingplus the problem here is likely missing installation/setting of locales in the Docker development environment.  Can you try debugging?  I cannot reproduce easily since I use an English locale.

These two lines from `Dockerfile-dev` are supposed setup the locale for the Docker development environment.

[code]

[2019-01-22 23:59] timabbott commented on #11323
(Maybe the issue is `.bashrc` isn't the right place to add those lines?)

[2019-01-23 00:06] timabbott commented on #11320
@hackerkid @rishig we shouldn't be using colons in filenames -- userscore, slash, dash, dot are all file cross-platform delimiters.  Can you take care of fixing this?

[2019-01-23 00:07] timabbott commented on #11134
@Dbone29 our Apache SSO configuration should support limiting access to a group.

[2019-01-23 00:08] timabbott commented on #6342
@ss62171 I believe so, but you should pick up the work from https://github.com/zulip/zulip/pull/8348

[2019-01-23 05:33] sameerchoubey commented on #10909
The #11248 PR just add support for the payout events.

[2019-01-23 06:59] 2208Abhinav commented on #11260
@zulipbot claim

[2019-01-23 07:02] 2208Abhinav commented on #2335
@zulipbot claim

[2019-01-23 07:14] hackerkid commented on #11320
Yup.
@zulipbot claim

[2019-01-23 07:39] VKFdekr commented on #3618
We would also like to use this feature.

[2019-01-23 11:42] akshaygupta533 commented on #11324
@zulipbot claim

[2019-01-23 12:49] ruchit2801 commented on #11324
@synicalsyntax In which browser were you trying to reproduce this? I think issue is only in chrome browser. I tried in my friend's device, still was same issue in chrome browser. Today I tried to look in Firefox on my device, worked perfectly. So, @timabbott , Can this be issue by our side (I mean due to some code in Zulip )? or it is just some problem with the mobile browser? Also we can see butt

[2019-01-23 12:54] TharunThomas8 commented on #8731
@timabbott  I am actually new to this , is this the proper way to commit?

[2019-01-23 15:06] moagstar commented on #10351
@zulipbot claim

[2019-01-23 17:29] sakebomb commented on #3618
@timabbott Is there anyway to put a bounty on this? This is a highly desired feature.

[2019-01-23 17:47] ruchit2801 commented on #11293
@timabbott  When I do manage.py it asks for REALM_ID and in case of import it asks for subdomain and export path. How can I find those values?

[2019-01-23 18:05] timabbott commented on #11293
@ruchit2801 use `manage.py list_realms` to get that.

[2019-01-23 18:07] xiaomingplus commented on #11323
@timabbott

The Dockerfile-dev write env to `.bashrc`
[code]

but the script `start-dockers` source:

[code]

I replace `.bash_profile` to `.bashrc`, it worked.

I also create a pr : https://github.com/zulip/zulip/pull/11340

[2019-01-23 19:07] #11323 closed

[2019-01-23 19:54] Ankit-Sonthalia commented on #8631
Is this issue still open?

[2019-01-23 19:54] Ankit-Sonthalia commented on #8631
@zulipbot claim

[2019-01-23 19:55] Ankit-Sonthalia commented on #7549
@zulipbot claim

[2019-01-23 20:06] Ankit-Sonthalia commented on #2305
@zulipbot claim

[2019-01-23 20:09] timabbott commented on #11308
Closing as wontfix -- we don't want to case-fold topic names.

[2019-01-23 20:09] #11308 closed

[2019-01-23 20:11] timabbott commented on #9736
This is now available via the `/poll` slash command (merging into master now, should be in Zulip Cloud soon).  There's plenty of future work planned for making it nicer, but it's usable today.

[2019-01-23 20:11] #9736 closed

[2019-01-23 20:12] timabbott commented on #11010
Closing, since this was mostly resolved via https://github.com/zulip/zulip/commit/85535ae09c20d31d09da10cbef12c4fc28264929 and related commits.  We should still work on the follow-ups that have their own issue.

[2019-01-23 20:12] #11010 closed

[2019-01-23 20:47] timabbott commented on #8731
Check out our [GitHub guide](https://zulip.readthedocs.io/en/latest/git-guide.html) and [commit guidelines](https://zulip.readthedocs.io/en/latest/contributing/version-control.html).

[2019-01-23 22:09] rht commented on #11308
Why?

[2019-01-23 22:11] rht commented on #11308
Additionally, this makes the topic search result more relevant on non-en_* topic names.

[2019-01-24 00:00] paragkanodia commented on #11123
@zulipbot claim

[2019-01-24 00:05] timabbott commented on #3618
@sakebomb sure -- contact support@zulipchat.com and we can discuss there.

[2019-01-24 01:07] timabbott opened #11341 "Take advantage of new features of Django 2.x"
This issue is for my notes on what features of Django 2.x we can make use once we're on Django 2.x.  We should investigate:

* [ ] Using https://docs.djangoproject.com/en/2.0/topics/db/instrumentation/ to replace `zerver/lib/db.py` (our custom query-logging tooling done by monkey-patching).

This is of course blocked on actually doing the upgrade.  See #10835.

[2019-01-24 07:14] rishig commented on #11320
I guess we can use `--` (two dashes) instead of `:`?

[2019-01-24 08:40] Dbone29 commented on #11134
Is it possible to make a usergroup Zulip admins?
Login is allready Limited to a speciefic usergroup.

[2019-01-24 10:17] Dbone29 commented on #11134
I fixend it by adding:

<Directory />
Options FollowSymLinks
AllowOverride None
</Direktory>

[2019-01-24 14:02] rishig commented on #10912
@chris-crunchr Deleting automated reporting output does make sense.

@xpac1985 you can already bulk move all the messages in a topic to a different topic: https://zulipchat.com/help/change-the-topic-of-a-message

[2019-01-24 14:07] wolfsonchuang commented on #3285
@timabbott
We would like to introduce emoji as a response to a request in my teamwork environment.
For example:
   :thumbs up: to inform the initiator that you "understand the message", "like the idea", or "take the action".
    :check mark: to inform the initiator that you "finish the request" or "terminate the discussion".

The notification on emoji would make the communication simpler and more

[2019-01-24 15:27] xiaomingplus commented on #11323
@timabbott I found it can't worked now.  but replace `bash_profile` to `bashrc` is worked. Here is the log:

[code]

[2019-01-24 16:50] xpac1985 commented on #10912
@rishig thanks for the hint, I knew you could update the topic, but couldn't really figure how to mass edit/delete. Can you give me anither hint?

[2019-01-24 16:59] rishig commented on #10912
Bulk deleting all the messages from a topic is not currently supported (that's what this issue is for).

For bulk editing the topics: where did you get stuck?

[2019-01-24 18:59] #11290 closed

[2019-01-24 19:08] manpoffc commented on #6040
@timabbott I'd like to work on this. Can you help me around from where to start and make changes?

[2019-01-24 19:12] akshaygupta533 commented on #11259
@csvoss Can I work on this?
P.S. Also seems like a good first issue.

[2019-01-24 19:12] akshaygupta533 commented on #11259
@zulipbot claim

[2019-01-24 19:13] csvoss commented on #11259
Thanks @akshaygupta533! This fell off my radar, so I appreciate it.

[2019-01-24 19:14] akshaygupta533 commented on #11259
Can you add help wanted label to this?

[2019-01-24 19:16] csvoss commented on #11259
Looks like I don't have sufficient permissions to add labels, but @timabbott should.

[2019-01-24 19:30] timabbott opened #11346 "Figure out why Google Translate translations of our user docs look terrible"
If you use Google translate on our /help/ user docs pages, there's some crazy formatting that happens:

original: https://zulipchat.com/help/format-your-message-using-markdown
translated: https://translate.google.com/translate?sl=auto&tl=fr&u=https%3A%2F%2Fzulipchat.com%2Fhelp%2Fformat-your-message-using-markdown

![image](https://user-images.githubusercontent.com/2746074/51703518-61bb5580-1fcb-11

[2019-01-24 19:40] timabbott commented on #11323
Maybe we need to add it to both .bashrc and .bash_profile?

[2019-01-24 19:46] akshaygupta533 commented on #11259
@zulipbot claim

[2019-01-24 19:50] karansinghgit commented on #11346
@timabbott I found that the issue lies with the fact that translate adds a space to the li closing tags.
Here you can see, http://bit.do/eGAPg
That is what is messing with the formatting. Is there a way we can replace all the incorrect html tags with the correct ones?

[2019-01-24 20:17] holtzermann17 opened #11348 "Use Zulip as a replacement for commenting service Disqus"
Is there a way to embed Zulip chat into another website, to use instead of page comments like Disqus? Presumably this could be done with iframes, but a tighter and more semantic integration would be nice, so that, e.g., each page had its own stream.

Tim Abott told me:

So, documentation would be helpful.

[2019-01-24 21:00] rht opened #11350 "frontend vs backend markdown: Comments are rendered as text in the former but hidden in the latter."
Typing `[//]: <> (comment)` into the message box will result in the message being empty then after a moment, shows `[//]: <> (comment)`.

[2019-01-24 21:55] thedeveloperr commented on #11294
@timabbott I want to try fixing this issue. I have a doubt, What do you mean by looking user profile ID and why do it ? I mean can't we simply upload all files to s3. I have limited working experience with s3.

[2019-01-25 01:35] timabbott commented on #11294
If you look at how we store things in s3 in `zerver/lib/uploads.py`, we set certain metadata fields to contain the user profile ID.  See `upload_image_to_s3`

[2019-01-25 05:45] YashRE42 commented on #11346
linking czo topic here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/translate.20on.20.2Fhelp

[2019-01-25 15:48] xpac1985 commented on #10912
As far as I could see, I can rename all messages from the same day, when selecting the stream and topic before. If the messages stretch over more than one day, the "day seperator" line will seperate them - any way to actually rename them all at once?

[2019-01-25 17:23] showell commented on #11217
#11062 is relevant here.  I think there's nothing blocking it from being merged at this point.

[2019-01-25 19:09] #11219 closed

[2019-01-25 19:10] timabbott commented on #10912
@xpac1985 I don't believe the date separators should have any impact on your ability to edit topics.

[2019-01-25 19:11] timabbott commented on #3783
@KirillKhrushkov this has been integrated yet, though there is an open pull request with some significant work towards this feature.

[2019-01-25 19:18] #8731 closed

[2019-01-25 19:34] KirillKhrushkov commented on #3783
Thank you for the response.
It is very crucial feature, withou that it is very hard to work with several teams inside the same zulip instance.
Do you know if anyone works on merge conflict solving?

[2019-01-25 19:37] timabbott commented on #3783
The issue with that PR isn't merge conflicts (it'd take a few minutes for me to fix those), it's more correcting a few design errors in that PR.  In any case, it's something we could prioritize integrating and finish

[2019-01-25 19:41] #7130 closed

[2019-01-25 19:53] KirillKhrushkov commented on #3783
I'd be very grateful to you if you could prioritize this functionality.
Thank you a lot!

[2019-01-25 20:38] #11009 closed

[2019-01-25 22:01] xpac1985 commented on #10912
![2019-01-25_22-56-44_chrome](https://user-images.githubusercontent.com/6882771/51775011-91b24800-20f4-11e9-97b4-38240ceee211.png)

I just found out how to do this, it's just a little confusing. As the light blue frame only goes down until the date seperator, I assumed that clicking the pencil icon would only rename the messages up to that seperator.
It works, but maybe it's easier to have an entr

[2019-01-25 22:09] xpac1985 opened #11358 "Suggestion: Adding context menu option to rename topic"
Continuing a discussion started in #10912.

The way to move all messages from one topic to another one (effectively renaming a topic) is not really obvious to new users. It requires selecting the topic to display, than selecting the little pencil icon.
However, the date seperator makes it look as if it will only influence messages from that day.

The more intuitive solution to new users is most li

[2019-01-25 22:43] #11123 closed

[2019-01-26 00:40] timabbott commented on #11358
There's already an option to edit topics from the message actions menu (the little caret menu when you hover over a message).

[2019-01-26 00:46] #11072 closed

[2019-01-26 06:38] Raghavareddy21 commented on #5384
@zulipbot claim

[2019-01-26 08:49] TharunThomas8 commented on #8202
@zulipbot claim

[2019-01-26 14:34] Gauravpurohit409 commented on #11088
@zulipbot claim

[2019-01-26 17:04] 2208Abhinav opened #11362 "User popover doesn't disappear properly."
The user profile modal should disappear when the user clicks in the search bar and searches something.
Somewhat similar issue is fixed in #11361

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30211121/51790350-0e5b2a00-21ba-11e9-9c58-f8bafd219255.gif)

[2019-01-26 17:05] 2208Abhinav commented on #11362
@zulipbot claim

[2019-01-27 08:17] YashRE42 commented on #10592
@claim

[2019-01-27 10:54] thedeveloperr commented on #10592
@YashRE42 you have not claimed it properly. Use @zulipbot then write word claim after that

[2019-01-27 11:02] YashRE42 commented on #10592
Woops, thanks for pointing that out,

@zulipbot claim

[2019-01-27 15:18] Anmolbansal1 commented on #11301
Yes I am working on it, I was having difficulty on setting zulip offline but everything is fine now. This issue will be fixed soon

[2019-01-27 19:48] ss62171 commented on #11350
@zulipbot claim

[2019-01-28 00:08] neiljp commented on #7126
@rht Interesting to see this mentioned here, given the discussion around pipenv for zulip-terminal. If anything, it looks more appropriate to handle zulip itself with pipenv, rather than zulip-terminal, given the 'deployment' angle of pipenv.

I expect one approach to this would be to have something which compares environments built with pip-tools and with pipenv; such a tool might also be useful

[2019-01-28 01:59] whoodes commented on #11220
@zulipbot claim

[2019-01-28 10:28] 6uellerBpanda opened #11372 "add "description" argument to subscription api endpoint"
for automated creation of streams a "description" field/argument at the [add subscriptions ](https://zulipchat.com/api/add-subscriptions#add-subscriptions) endpoint would help a lot

[2019-01-28 10:46] thedeveloperr commented on #8144
@zulipbot claim

[2019-01-28 10:49] thedeveloperr commented on #8144
@Raghavareddy21 Are you working on it ? You are still assigned to this issue even though you abandoned it. Please let me know what's the status. If you are no longer working let me assign myself to this issue.

[2019-01-28 11:23] Hypro999 commented on #11272
I'm still working on this issue. I have talked with @timabbott about some other urgent work that has popped up so I have had to suspend my progress on this issue. However, I think that it would be better if I finished PR #11284 soon and then maybe work on the frontend aspects after my urgent task. So I will.

[2019-01-28 13:41] Raghavareddy21 commented on #1991
isn't this a duplicate of #5384?

[2019-01-28 14:50] pragatiagrawal31 commented on #10688
Still working!!

[2019-01-28 14:53] Raghavareddy21 commented on #8144
@thedeveloperr I have stopped working on this a while back but I will resume my work on this.

[2019-01-28 14:53] devZer0 opened #11374 "manage.py streams_stats broken ?"
i installed latest zulip from master and we successfully imported hipchat archive. looks good so far.

i tried to get a list of all streams with stream_stats.

apparently, something seems broken.

there should be >100 rooms/streams (i can see in webgui), but streams_stats does not list
private streams at all and prints out "70 private streams" for the public ones

looks like a bug to me.

btw, how

[2019-01-28 15:11] Hypro999 commented on #11272
Done with the backend portion.

[2019-01-28 16:14] NikhilPhalange commented on #7935
@timabbott I would love to work on this. Also, what will that button do exactly and where can I find the relevant code?

[2019-01-28 16:18] NikhilPhalange commented on #7115
@timabbott If not [#7935](https://github.com/zulip/zulip/issues/7935) I can work on this issue too, whatever you feel is best. Please tell me where is the relevant code and from what I have understood the only thing that needs to be done here is replacing the chevron icon with the three dots icon in the left sidebar. Please correct me if I am wrong.

[2019-01-28 16:45] rht commented on #7126
Note: pipenv uses pip-tools to generate Pipfile.lock. I finally figured that a common dependency between dev and prod in the form of `-r common.txt` is no longer required, since `pipenv --dev` by default installs from `[packages]` and `dev-packages`.

The main problem now is that currently `requirements/` contains multiple type of "`[packages]`", mypy-only, docs-only, etc. The temporary solution i

[2019-01-28 17:20] siddhantkhandelwal commented on #11087
@zulipbot Working on this.

[2019-01-28 19:16] timabbott commented on #11358
Closing this, since we already have an "edit topic" menu item.

[2019-01-28 19:16] #11358 closed

[2019-01-28 20:03] xpac1985 commented on #11358
Yeah, I know there's an option, I just thought it would be more intuitive. It for sure confused me...

[2019-01-28 20:52] paras112 commented on #6512
@zulipbot claim

[2019-01-28 21:46] whoodes commented on #11088
This issue has migrated to [WIP] PR #11365.

[2019-01-28 21:54] phersonj commented on #11259
@zulipbot claim

[2019-01-28 22:49] #9883 closed

[2019-01-28 23:23] #11088 closed, assigned to whoodes

[2019-01-29 00:04] whoodes commented on #11220
@zulipbot claim

[2019-01-29 01:25] rht opened #11381 "Option to hide offline users in the user list"
There should be a user and org-wide settings that hide inactive users from the right sidebar. Discussion on how to tackle this can be found at https://chat.zulip.org/#narrow/stream/137-feedback/topic/USERS-list-noisy. This is a highly-wanted feature in addition to #9125 for screen real-estate decluttering.

---
Edit by @alya 2025-11:

To address this, we should add a "Show offline users" setting.

[2019-01-29 02:09] #10673 closed

[2019-01-29 02:21] eeshangarg commented on #11259
@phersonj: Sure, feel free to submit a PR! :)

[2019-01-29 02:33] rht commented on #11381
This might significantly reduce the RAM consumption on realms with lots of users, as has happened in riot.im refactor.

[2019-01-29 05:36] timabbott commented on #11259
@phersonj there's already an open PR here: https://github.com/zulip/zulip/pull/11364

[2019-01-29 05:38] #11259 closed

[2019-01-29 05:39] timabbott commented on #11381
I'll just note that we actually already hide inactive users from the right sidebar for large organizations (only showing users who have been active in the last 3 weeks or so).

[2019-01-29 05:40] timabbott commented on #11358
@xpac1985 were you confused by the label, or something else?

[2019-01-29 05:51] timabbott commented on #11374
Hi @devZer0!   `manage.py stream_stats` isn't a super supported tool -- it was last looked at for anything other than code migrations years ago :).  We don't have a command-line interface intended for listing streams, since that's something you can easily do in the actual UI.

That said, that output is what the tool provides.  `manage.py stream_stats` shows the list of public streams, and then jus

[2019-01-29 06:03] timabbott commented on #11372
@6uellerBpanda thanks for the feedback!  Did you see this part of that page which shows how to specify a description?
[code]

[2019-01-29 08:09] 6uellerBpanda commented on #11372
:man_facepalming: I just checked the arguments lists. It's working fine. Thanks @timabbott

[2019-01-29 08:53] punchagan opened #11383 "Use Zulip as a replacement for commenting service Disqus"
Is there a way to embed Zulip chat into another website, to use instead of page comments like Disqus?  I mean, presumably this could be done with iframes, but a tighter and more semantic integration would be nice, so that, e.g., each page had its own Stream.  Thoughts or suggestions on this?

[2019-01-29 09:07] xpac1985 commented on #11358
@timabbott The list of topics under a stream on the left seems to me like the central point to manage topics. Both streams and topics have an "down arrow" menu, which allows for some management, e.g. streams have a "Stream settings" option there, and topics allow mute, narrow down and mark all read option. It's where I would expect a feature like "rename/move/merge" for topics.
That was also the r

[2019-01-29 12:41] usman2407 commented on #245
I have a very small solution for this , as soon as you open IE browser , you will see a crossmark at the top right corner,click on that cross mark and then just do Alt+F4 on windows and use power button for mac.
It's weird no ? because this solution works cross platform/device/life...etc

[2019-01-29 13:42] xpac1985 commented on #6295
Just wondering - as an admin, you can still try to join an invite-only stream, which fails (and that is expected behavior, as I understand?).
Go to stream settings, and hover over the left the invite only stream, a partially faded check mark will appear. Clicking will try to join the stream, but fail. Maybe this option should be removed, too, or give a more precise error message (like "Admins can

[2019-01-29 14:03] Gauravpurohit409 commented on #3992
@zulipbot claim

[2019-01-29 16:00] sachinmukherjee commented on #10828
@zulipbot claim

[2019-01-29 17:10] NikhilPhalange commented on #7935
@zulipbot claim

[2019-01-29 17:15] NikhilPhalange commented on #3731
@zulipbot claim

[2019-01-29 17:30] NikhilPhalange commented on #3731
@timabbott Can you tell me where is the relevant code so that I can start working on this? Also, I believe all other parts except 2nd and 3rd are done? Can you please explain me the 3rd point?

[2019-01-29 17:54] punchagan commented on #11383
Duplicate of #11348

[2019-01-29 17:54] #11383 closed

[2019-01-29 18:42] timabbott commented on #11348
@holtzermann17 so if you use e.g. `https://chat.zulip.org/?stream=feedback&topic=test` and embed that as a small window in an iframe, we have some modifications to the responsive mobile UI for Zulip that is designed for this purpose (And more improvements to it are planned).  You'll need to do some authentication integration with your app to make this work with the current mechanism, but there are

[2019-01-29 18:48] aero31aero commented on #10617
@timabbott we should close this issue re: https://github.com/zulip/zulip/pull/10627#issuecomment-430444281

[2019-01-29 19:12] timabbott commented on #10617
Done @aero31aero.  I also posted a quick comment on #10627 that should help us resolve this fully.

[2019-01-29 19:30] #11372 closed, assigned to nobody

[2019-01-29 21:51] rishig opened #11389 "compose: Add two lines before quoting or pasting images."
For pasting images, adding attachments and using "quote and reply", we should add up to two newlines before the start of the new content so that it appears as its own paragraph.

Edit: #23608 is the updated issue for "quote and reply".

[2019-01-29 22:08] rishig commented on #3783
Hi @KirillKhrushkov, thanks for the feedback! What aspect of this feature do you need? I.e. what do you need the stream owner to be able to do, that you don't want the organization admin or regular users doing?

[2019-01-29 22:10] rishig opened #11390 "emails: Remove whitespace from translation files."
Currently the email templates have lines like
[code]
which is well-intentioned, but results in the following translation string:
[code]

The correct way to write this is just `<p>{% trans %}Hi {{ user_name }},{% endtrans %}</p>`.

It would be great to go through and fix the formatting of all the strings in the the email template files. They are all at `templates/zerver/emails/`. You can see the tr

[2019-01-29 22:47] bslbckr opened #11391 "slack import: Fails to import messages from Slackbot"
We recently converted our slack workspace to zulip. During import we noticed that the import failed, as for the user `slackbot` no e-mail address could be found. However, down in the code (in slack.py IIRC) I found that the code only checks whether the user-name if `slackbot` in a case-sensititve manner. But what slack gave us was `Slackbot`.

I assume that a case-insensitive string-comparison wou

[2019-01-29 23:54] timabbott commented on #11391
@bslbckr this is already fixed in master, see 370cf1a2cbab06b31f44ae1a223359dadef0ddf3.

[2019-01-29 23:54] #11391 closed

[2019-01-30 00:09] bslbckr commented on #11391
@timabbott Thats good news. I was using 1.9.0 or 1.9.1

[2019-01-30 00:48] timabbott commented on #11391
Yep, the fix will be in 1.9.2, being released today.

[2019-01-30 06:00] adarshPatel509 commented on #6296
@zulipbot abandon

[2019-01-30 06:53] anh2111 commented on #11390
@zulipbot claim

[2019-01-30 08:47] KirillKhrushkov commented on #3783
Hi @rishig, Stream Owner should be able to:
1) Change Stream name
2) Change Stream privacy
3) Change Stream description
4) Remove Stream subscribers

If Stream Owner leaves the stream then everything works as it is now (admin can handle Stream).

Organisation admin and regular users should be able to do all the same actions that they are allowed now.

[2019-01-30 12:21] hackerkid opened #11394 "Upgrade pika pip package to latest version"
Provision fails with the following error while upgrading pika to 0.13.0

[code]

@zulipbot label "area: dependencies"

[2019-01-30 12:29] hackerkid opened #11395 "Upgrade recommonmark pip package to latest version"
update-locked-requirements fails due to compatibility issues. This is probably a dead end since we can't upgrade CommonMark.

[code]
@zulipbot label "area: dependencies"

[2019-01-30 12:32] ss62171 commented on #11374
@zulipbot claim

[2019-01-30 12:32] decaz commented on #3783
It's very important to add such stream privacy setting for "stream membership" so that either any member or stream owner only can invite users to stream.

[2019-01-30 12:38] hackerkid opened #11396 "Upgrade pycodestyle pip package to latest version"
Upgrading pycodestyle to 2.5.0 results in `./tools/lint` to fails

[code]
https://circleci.com/gh/hackerkid/zulip/2662

@zulipbot label "area: dependencies"

[2019-01-30 12:40] hackerkid opened #11397 "Upgrade pyflakes pip package to latest version"
Upgrading pyflakes to 2.1.0 results in `./tools/lint` to fails

[code]
https://circleci.com/gh/hackerkid/zulip/2696

@zulipbot label "area: dependencies"

[2019-01-30 14:08] Z0Marlin commented on #11389
@rishig I would like to work on this issue. Could you please give me some idea of where I'm supposed to look and add changes. Thanks!

[2019-01-30 14:57] thedeveloperr commented on #11350
@rht I was not able reproduce it. Please post a screenshot

[2019-01-30 15:12] rht commented on #11350
It's a split second change because the frontend rendering is quickly replaced by the backend rendering. The parentheses are not optional btw.

[2019-01-30 15:13] rht commented on #11350
Reproduced again on a test topic on czo.

[2019-01-30 15:18] thedeveloperr commented on #11350
@rth I was reproducing it on electron desktop app. It's not happening there. I was able to reproduce it on desktop.

[2019-01-30 15:27] aero31aero commented on #11350
@thedeveloperr it will be visible for a split second. Do you have a local dev environment set up?

Another trick is to load chat.zulip.org and then disconnect from the internet. Any messages you now send will only show the local frontend rendering, or, in this case, the lack thereof.

If you want, I'm willing to help you reproduce and debug this in https://chat.zulip.org/#narrow/stream/68-markdown

[2019-01-30 15:32] aero31aero commented on #11350
BTW, I think I have a pretty clear idea of what is causing this issue. We musn't be disabling reference links in marked.js and related code properly.

[2019-01-30 15:41] thedeveloperr commented on #11350
@aero31aero I have reproduced in web app. Do this happen in desktop app too? I will come to the stream for figuring out the issue.

[2019-01-30 15:53] thedeveloperr commented on #11389
@zulipbot claim

[2019-01-30 15:58] rishig commented on #3783
@KirillKhrushkov got it, thanks!
@decaz we already offer this: https://zulipchat.com/help/stream-permissions

[2019-01-30 16:49] decaz commented on #3783
@rishig isn't any of the members of the stream can invite someone else to stream?

[2019-01-30 18:36] rishig commented on #3783
ah, I misunderstood your suggestion. You'd like to (have the option to) limit invites to the stream owner?

[2019-01-30 18:38] decaz commented on #3783
@rishig exactly! I think it's the main point of stream privacy.

[2019-01-30 20:05] showell opened #11400 "starred message count: Improve styling."
We have a setting that allows you to show a count of starred messages next to "Starred messages" in the top left corner.

We could improve the styling to be a bit more subtle.  Ask on chat for ideas.

https://chat.zulip.org/#narrow/stream/137-feedback/topic/starred.20messages/near/692050

[2019-01-30 20:06] showell opened #11401 "Add "unstar all messages" feature."
It would be nice to add a little context menu next to "Starred messages" that lets you unstar all of your messages.  This will be particularly useful for people who use the feature to show counts there.  (Right now it's a setting that's turned off by default.)

[2019-01-30 20:07] showell commented on #11401
See also #11400.  If we finish both these issues, we may want to make the setting "on" by default.

[2019-01-30 20:12] thedeveloperr commented on #11389
Should the two line break appear in the compose box or the posted message as well ?

[2019-01-30 20:35] timabbott commented on #11400
What we should try first is just using the same styling as muted streams for the starred message count.  This would at least make clear that the count is not included in the "All messages" unread count at the top (since muted streams aren't counted there either).

[2019-01-30 21:42] thedeveloperr commented on #11400
@zulipbot claim

[2019-01-30 21:56] timabbott commented on #11374
We are open to fixing it -- that's why this issue is open and was labeled for folks to work on.

@ss62171 feel free to work on this.  I would personally prefer to just display the counts in the top line where we should the realm name rather than having them on their own special line (that aspect of the output is weird).

[2019-01-30 22:05] timabbott commented on #11397
This should be a good first issue for someone looking for a project.

[2019-01-30 22:08] timabbott commented on #11394
This is I believe caused by https://github.com/pika/pika/pull/1129 aka a PR I contributed.  I think we just need to change the import to use the proper name for the module rather than this alias.  @hackerkid can you take a look at doing that?

[2019-01-30 22:08] timabbott commented on #11394
This is I believe caused by https://github.com/pika/pika/pull/1129 aka a PR I contributed.  I think we just need to change the import to use the proper name for the module rather than this alias.

[2019-01-30 22:16] ss62171 commented on #11401
@showell can i  work on this issue?

[2019-01-30 23:09] rht opened #11404 "Search bar: Remove the redundant stream name widget."
Title says it all, but see the screenshot at https://chat.zulip.org/#narrow/stream/137-feedback/topic/huge.20vertical.20margin.20in.20search.20bar.20stream.20name for which one is being removed. This should be a quick fix.

[2019-01-31 02:13] SamGuay commented on #10730
I know this is a closed issue, but I have received the same message twice today. We have been using our own Zulip instance on our server.

[code]
Is this a problem or I can ignore it?

Thanks,

(I really love this app!!)

[2019-01-31 05:54] hackerkid commented on #11394
@zulipbot claim

[2019-01-31 06:15] overide opened #11406 "Message controls are overlapping with message content in mobile"
Message controls are overlapping with the message content in mobile devices, check the attached screenshot. It's happening on almost all screens.
![message-controls-overlap](https://user-images.githubusercontent.com/19911594/52034119-7a88b580-254d-11e9-8710-c5ef48492aac.jpeg)

[2019-01-31 06:17] overide commented on #11406
@zulipbot  claim

[2019-01-31 09:09] KirillKhrushkov commented on #3783
Just one more thing.
Stream Owner should be able to change topic of messages anytime inside the stream as it is allowed for admins now.

[2019-01-31 09:22] armaanahluwalia opened #11409 "Add screenshots/GIFs to README.md"
I think it would be helpful for new users to have screenshots/GIFs on the main README file to demonstrate how the app looks and behaves. This gives new/potential users a quick glance at what they would get if they went through the signup/download/install process.

[2019-01-31 09:38] pragatiagrawal31 commented on #11374
@zulipbot claim

[2019-01-31 09:47] devZer0 opened #11410 "hipchat import problem - empty streams"
hello,

there is an import problem in zulip when doing import from hipchat.

after import, i observed that for a lot of channels/streams were empty.

apparently that happens, if in hipchat (we were using free version) the last message was too old to be visible in the hipchat history.

i could workaround the issue by adding a recent message to the "unused/orphaned" channel before exporting from hip

[2019-01-31 09:47] pragatiagrawal31 commented on #11396
@zulipbot claim

[2019-01-31 09:47] ss62171 commented on #11374
@pragatiagrawal31 actually i'm already working on this issue

[2019-01-31 09:49] pragatiagrawal31 commented on #11374
Ohh, my bad, I didn't read above (https://github.com/zulip/zulip/issues/11374#issuecomment-459125479) (actually I have this page loaded since last night), abandoning now, @zulipbot abandon

[2019-01-31 12:00] thedeveloperr commented on #11401
@showell I have made a pull request for #11400 Can I move forward with this issue ?

[2019-01-31 13:35] borisyankov opened #11413 "User details not showing user status correctly"
The user details popover (message info popover?) is not reflecting the manually set user away status.

<img width="517" alt="screen shot 2019-01-31 at 3 33 39 pm" src="https://user-images.githubusercontent.com/867242/52057428-a320a780-256d-11e9-86ad-63946a054e9f.png">

[2019-01-31 15:40] thedeveloperr commented on #11413
What should be the expected behaviour ? Should it just make the green dot appear blank circle or also write "away" along with it ?

[2019-01-31 16:20] thedeveloperr commented on #11401
@zulipbot claim

[2019-01-31 16:37] ss62171 commented on #11374
is this fine or should i add a total number of stream field also??
![screenshot from 2019-01-31 22-05-39](https://user-images.githubusercontent.com/32260593/52069286-6fad3f80-25a4-11e9-9581-be541cf3fed4.png)

[2019-01-31 17:46] timabbott commented on #8914
@hackerkid they just did a release with Python 3.4 support fixed, so we can probably upgrade this now.

[2019-01-31 17:52] hackerkid commented on #8914
@zulipbot claim

[2019-01-31 18:00] Varunvaruns9 commented on #11413
@zulipbot claim

[2019-01-31 18:06] #11394 closed

[2019-01-31 18:10] #11183 closed

[2019-01-31 18:31] nikomatsakis commented on #10369
Some further thoughts:

Perhaps changing the text of "Streams" to "Your streams" might help make it more obvious to new users that the set of streams they see is not the complete set?

Or include a `... more streams ...` option?

[2019-01-31 19:41] thedeveloperr commented on #11389
@zulipbot abondon

[2019-01-31 19:42] thedeveloperr commented on #11389
@zulipbot abandon

[2019-01-31 19:59] #11362 closed

[2019-01-31 20:01] timabbott commented on #10369
Interesting.  I like the idea of adding a "Subscribe to more streams" link/button at the bottom of the "STREAMS" area, styled similarly to the "Invite more users" thing we have at the bottom of the "USERS" list on the right sidebar.  I don't think it'd add much visual clutter, and it'd make it super clear that more streams exist to subscribe to.  @rishig what do you think about that idea?

[2019-01-31 20:02] timabbott commented on #11413
@showell can you take this while you're working on the "user status" display?

[2019-01-31 20:19] timabbott commented on #11374
@ss62171 a few suggestions:
* I'd add a column indicating which streams are private, as suggested.
* I'd move the totals to the same line as the realm name.  E.g. `zulip (14 public streams and 1 private stream).
* I don't think we need a grant total.

Make sure you keep each change in its own clear commit.

[2019-01-31 20:23] #11396 closed

[2019-01-31 20:23] timabbott commented on #11410
@devZer0 did you upgrade to the latest master before importing?

[2019-01-31 20:25] timabbott commented on #11409
Was this intended for e.g. the mobile project?  I don't think it makes sense to put screenshots/etc. in the zulip/zulip README; we have those in https://zulipchat.com, which is linked to from the README and a better way of presenting that information than is convenient to do in the markdown README (which is targeted at developers looking to contribute).

[2019-01-31 20:25] #11409 closed

[2019-01-31 20:39] timabbott commented on #11409
If you want to pick out one of screenshots (maybe the one from /features) and try to get it to look nice on GitHub, you're welcome to do so.  I expect you'll find it's kinda a pain without the ability to do CSS and wouldn't improve the page.

[2019-01-31 20:41] timabbott commented on #11404
Closing as wontfix just because the strategy is wrong.  Our plan is to integrate https://github.com/zulip/zulip/pull/10101 after some JS work to make the interaction work (that PR just has HTML/CSS change).

[2019-01-31 20:41] #11404 closed

[2019-01-31 21:00] devZer0 commented on #11410
i'm using master from 25.01.2018

[2019-01-31 21:04] timabbott commented on #11410
Interesting; we haven't heard similar reports.  The import tool should definitely import all message history.

If you can share your export with support@zulipchat.com, I can help debug.

[2019-01-31 21:10] devZer0 commented on #11410
i'm sure you did not hear because i'm somebody who is doing thoroughly and double checking. i have a  sensor for finding bugs and i like reporting those.

sorry, the problem is not important enough to share that data with 3rd party - there is probably some confidential information inside.

I added a message to every hipchat channel as a workaround.

i keep the old export, so if you really want to

[2019-01-31 21:42] rishig commented on #10369
We could go back to having the `+` in this line:
![image](https://user-images.githubusercontent.com/890911/52087344-f5f26300-255d-11e9-98cd-1fcc341aacac.png)

That would match how other products do it.

[2019-01-31 23:06] #11374 closed

[2019-01-31 23:08] timabbott commented on #11410
Oh, just to be sure I understand -- the problem was HipChat channels that had 0 messages in the export (but might have had other history in a more complete export)?

[2019-02-01 01:37] grahamegrieve opened #11418 "CommonMark support: support # header syntax"
It would be good if the commonmark heading syntax ## header was supported. e.g.

## Header

no need to have anything more than all headers bolded - but better than leaving them as plain ## header in text.

see https://chat.zulip.org/#narrow/stream/6-frontend/topic/Markdown.20Preview

[2019-02-01 01:38] timabbott commented on #11418
We had some bad experiences with having actual header-style styling, which is why we turned this off in the first place.  But just doing bold is pretty reasonable and worth trying.

[2019-02-01 03:51] Z0Marlin commented on #11389
@zulipbot claim

[2019-02-01 03:58] rishig opened #11421 "onboarding: Add a simple splash screen for '/'."
Currently, we send people to All Messages on `/`. We're trying to remove All Messages from the new user experience, so it no longer makes sense to use All Messages for `/`.

Instead, we should have a simple "home screen", that says:
**Welcome!**
Click on the stream names on the left to get started.

It can use the same formatting as when you go to starred messages and have no starred messages, or

[2019-02-01 04:51] rishig opened #11422 "import: Add RealmAuditLog entries for users."
Writing this up as an issue, since I think this is likely a high priority for the upcoming release.
Basically, in order for various parts of analytics to work correctly, every user needs to have a user_created entry in RealmAuditLog. So the slack/hipchat import path should create entries like
[code]
for active users, and
[code]
(where `timezone_now()` could be some fixed time of import).

I'm ment

[2019-02-01 05:57] armaanahluwalia commented on #11011
@sarathsoma Are you working on this currently?

[2019-02-01 06:37] Varunvaruns9 commented on #11413
@zulipbot abandon

[2019-02-01 07:00] mateuszmandera commented on #11262
@zulipbot claim

[2019-02-01 07:06] devZer0 commented on #11410
no, i think the problem was not in the export, as i could grep the hipchat export and i could find the messages which were missing in zulip import.

apparently , zulip does not import the whole export's history if the hipchat channel's last message is too old. in hipchat client they were not shown anymore, because of free version gui/client limitation - i.e. the channel appeared empty.

[2019-02-01 08:22] abhigyank opened #11424 "Image not in lightbox from message preview"
This is possibly a very corner-case issue.
Steps to reproduce:
In the compose message box, attach an image. After the image is uploaded, click on the Preview option of the compose box and then click on the image previewed.

The image then opens in a new tab, whereas the expected action should be to open it in the lightbox preview.

This has unexpected behaviour in the desktop app as reported [here

[2019-02-01 09:58] devZer0 opened #11425 "default zulip plugin for jenkins outdated and no hint about the recent one ?"
could somebody explain the difference between this one https://github.com/jenkinsci/zulip-plugin and this one https://plugins.jenkins.io/humbug ?

apparently , the first one appears to be a more recent version - but why does zulip docs at https://zulip.com/integrations/doc/jenkins  point to the old release and jenkins also installs this 3-years old one per default ?

we want per-project notificati

[2019-02-01 10:48] aero31aero opened #11426 "Add typeahead support for silent mentions."
We recently added the following syntax for silent mentions: `_@**<text>**`. We should use `_@` as a trigger for showing this. Once we have this typeahead, we can also tell people about this syntax in our message formatting help.

This is a followup to #11221.

@zulipbot label "area: compose"

[2019-02-01 11:16] hackerkid commented on #11294
@zulipbot claim

[2019-02-01 13:16] Shoumorup commented on #11397
@timabbott  This is ready for review

https://github.com/zulip/zulip/pull/11427

[2019-02-01 16:59] abhigyank commented on #11424
@zulipbot label "area: compose"

[2019-02-01 20:04] overide commented on #11421
@zulipbot claim

[2019-02-01 21:19] thedeveloperr commented on #11424
@zulipbot claim

[2019-02-01 22:50] ss62171 commented on #6342
@zulipbot claim

[2019-02-01 23:00] ss62171 commented on #6342
@timabbott  Can we do like, after clicking on "Forgotten it" opens a new tab with a button "Send reset link" and on click it shows "Check your email"

[2019-02-01 23:48] thedeveloperr commented on #11424
Please review PR:
https://github.com/zulip/zulip/pull/11431

[2019-02-02 01:09] #10909 closed, assigned to nobody

[2019-02-02 01:14] #10912 closed

[2019-02-02 01:42] akornor commented on #11055
@zulipbot claim

[2019-02-02 07:37] timabbott commented on #11425
@devZer0 the story here is that uploading the updated plugin has been stuck in Jenkins-upstream beaurocracy.  You definitely want the new one.

@butchyyyy we should try to push more on getting the migration finished...

[2019-02-02 19:04] #11188 closed

[2019-02-02 19:05] timabbott opened #11438 "Add a "preview" button to message-edit UI"
Following #11188, there's only one real feature that's present in the compose box but not the message-edit UI: our "preview" feature.  This feature isn't very important in the message-edit UI context, because usually folks are just fixing a small thing and one can just edit twice.  But it'd be nice to have.

If we do this properly (with careful refactoring), we should be able to do it without dupl

[2019-02-02 19:14] #11424 closed

[2019-02-02 19:22] showell opened #11439 "buddy list: Go directly to popover when clicking on yourself."
There's some more context here:

https://chat.zulip.org/#narrow/stream/101-design/topic/user.20status/near/693428

[2019-02-02 19:32] timabbott opened #11440 "Add Hangouts Meet video call API"
Apparently, Google's deprecation process may eliminate the convenient Hangouts "start a video call" integration we have (one won't be able to just generate a random URL).  It's hard to know from what they've published so far, but https://gsuiteupdates.googleblog.com/2019/01/upcoming-hangouts-service-consolidation.html suggests that it may be removed.  Though since our integration is only for G Sui

[2019-02-02 19:34] thedeveloperr commented on #11439
@zulipbot claim

[2019-02-02 19:57] vrongmeal commented on #11438
@zulipbot claim

[2019-02-02 21:18] Amadeo234 commented on #5629
I think the work is complete, but I haven't got any feedback after last commit.

[2019-02-02 23:38] butchyyyy commented on #11425
Things finally moved ahead on Jenkins side last week, but since we optioned to change the artifact id of the plugin i have to put in some more work to make the upgrade as seamless as possible (automatic upgrades to the new artifact id, peeps not loosing existing configuration etc.).

I hope to publish the new plugin next week.

[2019-02-03 08:00] thedeveloperr commented on #11400
@showell we should close this issue right ?

[2019-02-03 08:57] Shoumorup commented on #8392
Hey @rishig is this issue still relevant?

[2019-02-03 08:58] Shoumorup commented on #8392
@zulipbot claim

[2019-02-03 18:36] timabbott commented on #11324
@ruchit2801 this may be something you need to help debug.  I'm sure there is some sort of CSS change workaround that can fix this, but it probably requires someone with a reproducer to try things out.  It does seem like something is off in how heights are calculated.

[2019-02-04 05:37] ruchit2801 commented on #11324
okay! @timabbott. A small doubt, how am I supposed to test changes in mobile web, we create server in Desktop, but what should be done in android?

[2019-02-04 06:11] overide opened #11445 "Sender name is clipped from bottom in mobile"
Letters like g, y, p etc. are clipped from the bottom in mobile. Check the screenshot below -
![clipped](https://user-images.githubusercontent.com/19911594/52192735-96ec6100-2871-11e9-972d-58d91d0f8ba3.png)

[2019-02-04 08:13] paras112 commented on #6512
zulip abandon

[2019-02-04 08:46] zerefwayne commented on #11445
@zulipbot claim

[2019-02-04 19:00] #11220 closed

[2019-02-04 19:16] #11350 closed

[2019-02-04 19:51] ruchit2801 commented on #11029
@stone212 @timabbott  Is this issue beginner friendly?

[2019-02-04 20:05] thedeveloperr opened #11448 "Emoji Popup abruptly closes on android mobile website"
This is a bug.
This issue occurs when we add emoji reaction to sent messages.

Steps to follow try to reproduce:
1) open zulip website on an android mobile browser (I tried chrome only)
2) try to add emoji to a message
3) The emoji popup and android keyboard appears. Then both disappear abruptly before user can select an emoji

Note: This issue was tested on iphone but was not happening there.
It

[2019-02-04 22:14] timabbott commented on #11029
@ruchit2801 it's fairly complex as a new setting.  Let me do a bit of design.  We'll need:
* A new DateTimeField on `UserProfile`, `last_password_change`, and code in our user creation and password change code paths to update this.  We should be sure to set it to match the import time in our data import tool at `zerver/lib/import_realm.py` for Slack/HipChat import.  This should be an independently

[2019-02-04 22:24] zerefwayne commented on #6040
@zulipbot claim

[2019-02-04 22:30] timabbott opened #11451 "Make to_non_negative_int support a maximum argument"
Our `to_non_negative_int` REQ converter (read our "developer tutorials" if you don't know what this is) should validate the maximum for the integer, and return a user error in the case that it's too large.

Probably should change it to a nested decorator `to_non_negative_int(max: int=None)`.  See `api_key_only_webhook_view` for an example similar decorator.  The error message can be e.g. "'%s' is

[2019-02-04 22:31] #11445 closed

[2019-02-04 22:38] timabbott commented on #11448
I'm guessing what's happening is that the keyboard apprearing triggers a scroll event, and that triggers closing all popovers.  See this block:
[code]

in `static/js/popovers.js`.

[2019-02-04 22:41] timabbott opened #11452 "Write nice documentation for connecting to mobile web from a phone in the development environment"
Because your development server has, by default, a firewall limiting outside access, some care needs to be taken.  There are two options:
* Use a remote development environment (docs/development/remote.md)
* Do some e.g. port-forwarding and IP address discovery setup work that most developers won't be able to quickly do off the top of their heads

I think the mobile project has something good that

[2019-02-05 00:46] timabbott commented on #11031
Fixed by https://github.com/zulip/zulip/pull/11446

[2019-02-05 00:46] #11031 closed

[2019-02-05 01:31] rishig opened #11453 "org settings: Add email to edit menu in user-list-admin."
Two small changes to the edit menu in user-list-admin. In the dev environment, you can get there by going to http://localhost:9991/#organization/user-list-admin and clicking an edit icon under Actions.

* [x] It's a bit confusing that the email doesn't show up in this view:
![image](https://user-images.githubusercontent.com/890911/52248265-7983bb00-28a2-11e9-9fb6-31fa307d1d8f.png)

The email shoul

[2019-02-05 03:00] timabbott opened #11454 "Finish "email address visibility" feature"
I'm opening this issue to track the follow-up work related to our email address visibility feature (https://github.com/zulip/zulip/issues/2369) once #10850 merges.  There are a few critical items:
* [x] Some end-to-end testing
* [x] Make sure we send gravatars even if `client_gravatar` is set, with this setting.
* [x] Ensure that the mobile apps won't completely break when you toggle this setting.

[2019-02-05 03:17] gnprice commented on #11452
This is valuable and I think definitely belongs in these docs, but it answers a different question than I believe you asked.

The linked section is about connecting your browser developer tools, on your nice laptop/desktop with a keyboard and big screen, to a webview on your phone to debug behavior happening inside the webview. The same steps can also connect those dev tools to a mobile browser; @

[2019-02-05 06:54] rishig opened #11455 "hide emails: List of quick fixes."
Possibly this work will need to be done on top of #10850.

In the emails-hidden case, we should remove the email field from
* [x] compose box user typeahead
* [x] PM user typeahead
* [x] Search typeahead
* [ ] http://localhost:9991/#organization/user-groups-admin user groups typeahead

In the emails-hidden case, for non-admins, we should remove the email field from
* [x] user popover
* [x] custom

[2019-02-05 08:02] refeed commented on #11451
@zulipbot claim

[2019-02-05 10:39] okmanl commented on #11453
@zulipbot claim
I'm new to open source contribution, and I would love to take on this issue! I've already created an account in the zulip community and am in the process of reading the contribution guide. Thanks!

[2019-02-05 13:57] devZer0 opened #13098 "Login notification email says "Device: Zulip on an unknown operating system""
On first login with old iPhone4 (Model MD235D/A) and iOS 9.3.5 (13G36) i'm getting "Device: Zulip on an unknown operating system." in the notification email

[2019-02-05 15:20] ruchit2801 commented on #11029
@zulipbot claim

[2019-02-05 18:54] #10976 closed

[2019-02-05 19:36] #11438 closed

[2019-02-06 00:53] timabbott opened #11462 "message_list: Don't scroll past unread messages when scrolling after reply."
In 32757b489bde39a65f4f699e8b22ea1aeede88c8 as part of fixing a bug in our determination of whether we're already scrolled to the bottom, I moved the logic originally from maybe_advance_to_recently_sent_message.  While doing that, I noticed that logic doesn't do the right thing in some situations:
* [ ] If you're not caught up in the current narrow, it will scroll you all the way to the latest mes

[2019-02-06 03:58] CoderLucifer commented on #10539
@zulipbot claim

[2019-02-06 04:20] 2208Abhinav opened #11463 "w keyboard shortcut not working properly due to popovers.hide_all()"
The `w` keyboard shortcut doesn't work properly due to implementation of `hide_userlist_sidebar` inside `hide_all`.

Related discussion [here](https://github.com/zulip/zulip/pull/11399)

[2019-02-06 07:53] vrongmeal commented on #11418
@zulipbot claim

[2019-02-06 12:00] butchyyyy commented on #11425
The new Zulip plugin https://plugins.jenkins.io/zulip is now published and available in the update center (if you don't see it, manually upgrade the plugin index by going to Jenkins -> Plugin Manager -> Advanced -> Check now).

If you're using the old plugin (humbug), an update to version 0.1.4 should be available and it will automatically install the new plugin as a dependency. You can then remov

[2019-02-06 12:38] Aasfga commented on #10537
Is this being fixed? I checked PRs #10814 and #10557 but they hasn't been touched for weeks.

[2019-02-06 12:38] Aasfga commented on #10537
@zulipbot claim

[2019-02-06 13:04] ftribrunn opened #11466 "renaiming a default stream"
I have a similar problem as here  #3893
I renamed one of the default streams. The new name was not passed to the default stream settings. I also couldn't delete the old stream name from the defaults and add the new name. I had to rename the stream again (back), then delete it from the default, then rename it, then add the renamed stream again.

my zulipserver version is git:master

[2019-02-06 16:06] devZer0 commented on #10208
why is that only shown when compose box is open and not also when the stream is select for reading on the left? adding another list isn't needed with this highlighting feature, but please highlight users when stream is selected and not only when compose box is entered

[2019-02-06 19:20] showell opened #11469 "[release blocker] Fix user popup positioning."
This issue is about the placement of the user popover menu.

If you have a small screen (or just make your browser window short) and click on a message near the center of the page, the user menu will be cropped.  If somebody's screen height is less than about 550 pixels, we just make the **vertical** position exactly in the center of the screen (regardless of the click point).

If you have a thin

[2019-02-06 19:23] thedeveloperr commented on #11469
@zulipbot claim

[2019-02-06 19:26] showell opened #11470 "enhancement: Reduce image size in user popups."
This not a **final** decision yet, so before working on this, you'll want to get consensus.

The user popup menu features a large image of the person, which makes it kind of large for what's essentially a context menu.

We may want to use a design like this, at least at smaller resolutions, and possibly always:

![image](https://user-images.githubusercontent.com/142908/52367795-badeac80-2a01-11e9-

[2019-02-06 19:31] vinitS101 commented on #11470
@zulipbot claim

[2019-02-06 19:38] thedeveloperr commented on #11470
@vinitS101 Some tips for you if this design gets approved. The design was basically 2-3 design patch while I was doing experimentation. Some changes in ```user_info_popover_content.handlebars``` and some in .scss file. Also see ```render_user_info_popover()``` function . But this is just a rough estimate