[2019-11-21 06:14] timabbott commented on #2676
Just a quick note -- a helpful option for folks who want to come back to a thread later is to star the message and use this setting: https://zulipchat.com/help/star-a-message#display-the-number-of-starred-messages to have starred messages displayed as unread.

[2019-11-21 06:45] mateuszmandera commented on #13294
@zulipbot claim

[2019-11-21 07:24] HDsky commented on #13422
Hey guys:

When i want to solove this problem in my our zulip server. i try the next command in #10879 and it is work.

[code]
i get a number `29`,so next i try to delet it.

[code]

Thinks guys, you are so cute !

[2019-11-21 07:26] HDsky commented on #13422
Hope it can help more zulip users in here. I will close this issue.

[2019-11-21 07:26] #13422 closed

[2019-11-21 09:49] hashirsarwar commented on #13080
@zulipbot claim

[2019-11-21 12:06] hashirsarwar commented on #12502
@zulipbot claim

[2019-11-21 16:12] matheuscmelo commented on #11152
@zulipbot claim

[2019-11-21 17:10] k-spa opened #13433 "Emoji parsing is broken after an invalid emoji code in the same line"
When writing a line that contains two colons with text inbetween that does not correspond to a valid emoji code, it is not possible to use an actual emoji code afterwards.

It happened to me when I tried to post a timestamp in chat and it seems to break down as soon as `:06:` appears in the message. Please have a look at the following screenshot for clarification.

![image](https://user-images.git

[2019-11-21 17:38] timabbott commented on #13433
Interesting, thanks for the report.  @aero31aero any idea what's going on here?

[2019-11-21 17:39] timabbott commented on #11152
@matheuscmelo this may require some careful design work -- let me know if you have any questions about how this should be hooked up after reading the existing typing notifications code.  `docs/subsystems/typing-indicators.md` is likely also helpful.

[2019-11-21 17:40] timabbott commented on #11152
(I think conceptually we want the API to deliver typing status data for all users who are typing on the stream, and the UI-level code to be responsible for displaying e.g. "Several people are typing")

[2019-11-21 18:01] jhenahan opened #13434 "Toggle emoji animations"
Our community is testing out Zulip as a replacement for Slack, but we've got something of a dealbreaker for some folks. In particular, there's no option to disable animations. The specific case regards animated emojis, but I imagine for accessibility reasons it might be useful to also be able to toggle UI animations in general. I'm happy to help/recruit people to help if this is nontrivial.

[2019-11-21 18:23] #6880 closed

[2019-11-21 19:15] #11520 closed

[2019-11-21 19:27] timabbott commented on #13434
The emoji version of this concept seems like a totally reasonable feature.  There are a few things we'd need to figure out before it could be implemented.

* What are the options?  I think we might want 3-options: "Always, Never, On hover" for whether to animate emoji?  (I can see "on hover" being annoying if you really never want to see them)
* Does this control animated GIFs as well as emoji, or

[2019-11-21 20:02] timabbott commented on #12502
@hashirsarwar sorry to do this, but this issue is a high priority for our release, so I'm implementing it myself today.  Hopefully you'll learn something from the solution I'm merging and won't have wasted your time.

[2019-11-21 20:27] YashRE42 commented on #12502
I must have forgotten about this ping. Sorry I never responded.

[2019-11-21 21:12] #13087 closed

[2019-11-21 21:53] timabbott opened #13437 "Cache data in database to optimize recent_private_conversations computation"
Following #12502, we're now accessing the history of which users a given user has had private message conversations with as part of loading the Zulip webapp.

The database query we use there is well optimized, but in the end it's fairly expensive (about as 100ms for my account on chat.zulip.org).  There's two reasonable paths to improve that:
* Denormalize into `zerver_userprofile` the value of `z

[2019-11-22 01:01] #12502 closed

[2019-11-22 08:30] aero31aero commented on #13433
I cannot reproduce this on master. Here's the message that I've tried, among other similar tests:

[code]

@k-spa which version of Zulip and which client are you on?

[2019-11-22 12:33] #2093 closed

[2019-11-22 12:42] brainwane commented on #2093
Awesome. Thanks, @drrosa.

[2019-11-22 12:43] k-spa commented on #13433
Zulip server version is 2.0.6, I can reproduce the problem with both the web and the desktop client (on Windows, Version 4.0.0).

Here's the source of the message that my screenshot was taken of:

[code]

The double line breaks are important for me because otherwise the first line breaks all emojis (there wouldn't be a single one working in the screenshot I took). A double line break makes them wo

[2019-11-22 13:25] jhenahan commented on #13434
For the what:

- Those three options seem sensible, though I'd be happy enough dropping "On Hover" if it significantly complicates things.
- For first steps, just emojis should be fine, but hopefully we can find a generic solution that could be extended to other animated elements.

As for the how, I'm less sure. I'll dig around the code and see how things look. A `canvas` solution seems like the e

[2019-11-22 14:06] timabbott opened #13441 "Search "you may want to use streams:all" notice appears before we've loaded messages from server"
If you do a search for something and it returns no results, we provide this helpful notice:

![image](https://user-images.githubusercontent.com/2746074/69431563-dd218c80-0cec-11ea-8ac0-f6c31a81f5c0.png)

(See the call to `filter.contains_only_private_messages` and 01b19291e73f5bfddd48999623d581d40fe12caf for the implementation)

The intent is that we also provide this notice at the very top of the

[2019-11-22 19:03] timabbott commented on #12878
@Hypro999 @hackerkid is there anything left to do for this issue, or should we declare victory?

[2019-11-22 20:50] timabbott commented on #9893
This will be fixed in #12849.

[2019-11-22 23:06] drrosa commented on #2093
@brainwane Thanks for all the links you provided!

[2019-11-22 23:18] timabbott commented on #12748
@YJDave did we fix this and forget to close the issue?

[2019-11-23 04:49] aero31aero commented on #13433
Ah, this was fixed on master in #11785. If you can wait for sometime, this fix should be released with Zulip server 2.1.0 release.

If you manage the server in question, you could upgrade now to our 2.1.0 release candidate. [More details here](https://chat.zulip.org/#narrow/stream/1-announce/topic/server.20releases/near/799033).

[2019-11-23 08:42] gauravthapar28 commented on #13388
@zulipbot claim

[2019-11-23 16:03] clarammdantas commented on #13193
@zulipbot claim

[2019-11-23 21:04] CDFriend commented on #13429
@zulipbot claim

[2019-11-24 12:00] janish1999 commented on #5087
Is this issue still active?

[2019-11-24 17:25] mateuszmandera commented on #10539
@aman11verma I believe https://github.com/zulip/zulip/issues/10539#issuecomment-533822218 still applies

[2019-11-24 17:29] mateuszmandera commented on #13437
@zulipbot claim

[2019-11-25 10:54] gauravthapar commented on #13080
@zulipbot claim

[2019-11-25 10:58] gauravthapar commented on #13080
I have already sent a PR for #13388 . So @timabbott Can I please work on this while my PR #13443 is under review ?

[2019-11-25 15:26] timabbott commented on #13080
Yeah that's fine

-Tim Abbott (mobile)

On Mon, Nov 25, 2019, 5:58 AM gauravthapar <notifications@github.com> wrote:

[2019-11-25 16:51] shubhamgupta2956 commented on #12953
Hi,
I am Shubham Gupta, a 2nd-year undergrad from IIT Roorkee. I am new to zulip. I want to work on this issue. What I can understand from the description is that the image is not coming and only the text "pasted imaged" is coming. But when I run the test in my system, it shows the image also, which confused me. Please help me to start this issue.
![2019-11-25_22-20-02-1920x1080](https://user-imag

[2019-11-26 13:12] yovanycunha commented on #12617
still working on this

[2019-11-26 13:15] yovanycunha commented on #12617
Still working on this issue

[2019-11-26 18:59] MironovDmitry opened #13447 "Markdown list format does not work in Desktop and Web application"
Reply in a topic with text which should be formatted as list, but after message is posted no format applied:
![image](https://user-images.githubusercontent.com/7125926/69663752-f3866a00-1097-11ea-9062-d93554e4e918.png)

[2019-11-26 19:01] Mant1kor opened #13448 "A few stats strings tagged for translation are not actually translated"
There are several strings on /stats page aren't use translation, but they are translated on transifex.
Messages sent over time
![зображення](https://user-images.githubusercontent.com/5281753/69663474-fcbf0900-108e-11ea-988a-a4ea4c061dad.png)
Me | https://www.transifex.com/zulip/zulip/translate/#uk/djangopo/116075406
Humans | https://www.transifex.com/zulip/zulip/translate/#uk/djangopo/116075425
Bo

[2019-11-26 22:44] zalupacrew opened #13449 "WARN [django_auth_ldap] Caught LDAPError while authenticating admin@domain.com: STRONG_AUTH_REQUIRED({'desc': 'Strong(er) authentication required', 'info': 'Secure authentication required'},)"

[2019-11-26 23:07] pitOOf commented on #13449
Что мне нужно прописать что бы все заработало?

[2019-11-27 02:45] punchagan opened #13450 "Link to a help section near the setting to toggle link previews"
It can be confusing for users to figure out under what circumstances a preview is shown for a link, after they turn on the feature. It would be useful add a link some documentation near the checkbox for turning this feature on.

https://chat.zulip.org/#narrow/stream/49-development-help/topic/Link.20previews.20broken.3F/near/799451

[2019-11-27 06:44] hackerkid commented on #12878
@timabbott All the todos mentioned in this issue has been completed.

[2019-11-27 09:46] victorphoenix3 commented on #13127
@zulipbot claim

[2019-11-27 09:57] keyurkumbhare commented on #13450
@punchagan kindly assign me this issue. I'm a newcomer and this one seems like a good one to start with. I'm excited to be an active part of the Zulip community.

[2019-11-27 10:03] punchagan commented on #13450
You can use [zulipbot](https://github.com/zulip/zulip/blob/master/docs/contributing/zulipbot-usage.md) to claim this issue, @keyurkumbhare

[2019-11-27 10:04] keyurkumbhare commented on #13450
Thanks

[2019-11-27 10:05] keyurkumbhare commented on #13450
@zulipbot claim

[2019-11-27 17:44] janish1999 commented on #5087
@zulipbot claim

[2019-11-28 10:13] lukasIO opened #13451 "Opinion: exclude private messages from 'All messages'"
This has been a subtle annoyance for me for a long time, but I have no idea if that's just me having weird preferences.
I see private messages to be completely seperate from stream messages and thus would be happy to have an overview of all ongoing discussions in streams but not have that cluttered by private message streams. In zulip there is already an own link for "private messages" on the top

[2019-11-28 13:01] ClundXIII opened #13452 "LDAP Group sync - No groups appearing in zulip"
Hi,

(I am using the 2.1.0 rc1 because debian10 buster is already releases and the older zulip versions don't want to install on buster.)

I have tried to setup ldap group syncing. Unfortunately no groups appear. In addition I am also unable to set realm admins based on ldap groups:

[code]

No groups appear in zulip. Also as soon as I uncomment the is_realm_admin line I receive the following erro

[2019-11-28 13:36] vipulchhabra99 commented on #13375
@zulipbot claim

[2019-11-28 14:17] vipulchhabra99 commented on #13375
@timabbott Hi, As far I can understand do I need to only disable the gradient for devices with width less than 686px?

[2019-11-28 18:26] #13449 closed

[2019-11-29 00:40] alexreg commented on #8040
Any update on this? It's quite disappointing not to have such a basic feature in Zulip still... it's kind of essential for interaction in any sizeable community (sadly).

[2019-11-29 02:28] lelandhwu commented on #3868
I've decided to work on another issue, as I think that it makes the most sense for someone who has Centreon installed to work on it.

[2019-11-29 02:46] lelandhwu commented on #3868
@zulipbot abandon

[2019-11-29 04:12] gauravthapar commented on #13080
okay thank you  ! @timabbott .  I am working on this issue

[2019-11-29 15:35] grahamperrin opened #13454 "Occasional non-effectiveness of /me"
[Occasional non-effectiveness of /me - Zulip Community - Zulip](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Occasional.20non-effectiveness.20of.20.2Fme)

Some of the test results at https://chat.zulip.org/#narrow/stream/7-test-here/topic/.2Fme/near/799765 suggested (to me) that failure occurs if the `/me` line includes (or is followed by a line with) a pasted image.

This, however, wa

[2019-11-29 19:02] joaomcarvalho commented on #12255
@zulipbot claim

[2019-11-30 17:06] ryanreh99 commented on #12277
@zulipbot claim

[2019-11-30 19:07] Abhishek-Balaji commented on #3220
@zulipbot abandon

[2019-11-30 19:56] katisari commented on #12725
yes

[2019-12-01 00:40] clarammdantas commented on #13193
@zulipbot abandon

[2019-12-01 00:51] clarammdantas commented on #12629
@zulipbot claim

[2019-12-01 11:03] gautamaman30 commented on #2278
@zulipbot claim

[2019-12-01 13:39] gautamaman30 commented on #2278
@zulipbot abandon

[2019-12-01 14:41] clarammdantas commented on #12629
The thing is when it sets the status there to inactive and then the function that lists the invitations gets called, it returns all the invitation with status different from STATUS_ACTIVE, and thus returning the invitations of the user that already accepted an invitation and registered.

`days_to_activate = settings.INVITATION_LINK_VALIDITY_DAYS
    active_value = getattr(confirmation_settings, 'S

[2019-12-01 14:41] clarammdantas commented on #12629
The thing is when it sets the status there to inactive and then the function that lists the invitations gets called, it returns all the invitation with status different from STATUS_ACTIVE, and thus returning the invitations of the user that already accepted an invitation and registered.

`days_to_activate = settings.INVITATION_LINK_VALIDITY_DAYS
active_value = getattr(confirmation_settings, 'STATU

[2019-12-01 14:43] clarammdantas commented on #12629
The thing is when it sets the status there to inactive and then the function that lists the invitations gets called, it returns all the invitation with status different from STATUS_ACTIVE, and thus returning the invitations of the user that already accepted an invitation and registered.

`days_to_activate = settings.INVITATION_LINK_VALIDITY_DAYS
    active_value = getattr(confirmation_settings, 'S

[2019-12-01 16:19] joaomcarvalho commented on #13297
@zulipbot claim

[2019-12-01 19:07] Aaryan-kapur commented on #13434
can I take this project up?

[2019-12-01 19:08] Aaryan-kapur commented on #13261
can I take this project up?

[2019-12-01 19:11] Aaryan-kapur commented on #694
can I take this up please?

[2019-12-01 19:12] Aaryan-kapur commented on #10645
can I take this project up?

[2019-12-01 21:33] clarammdantas commented on #12629
I'm going to abandon this issue to take another while this one isn't reviewed

[2019-12-01 21:33] clarammdantas commented on #12629
@zulipbot abandon

[2019-12-01 21:33] clarammdantas commented on #12953
@zulipbot claim

[2019-12-01 21:34] clarammdantas commented on #13193
I'm not sure how to reproduce this, could you give an example @timabbott  please?

[2019-12-01 21:35] clarammdantas commented on #13193
I tried to replicate using a outlook account but it didn't behave like that

[2019-12-02 01:25] Dariuzs commented on #6427
Vote +1 for moving topics to a different stream.

[2019-12-02 06:42] timabbott opened #13464 "Don't generate useless local_database_password secret in production"
The `local_database_password` secret is only used in the Zulip development environment, and it's a bug that `generate_secrets.py` generates it in production.  We should ensure it doesn't get generated there for new installations, since it's confusing.

It might also be helpful to make `generate_secrets.py` remove or comment it on upgrade, though I suppose that carries some risk if the user has wri

[2019-12-02 07:09] timabbott commented on #13073
There's a related bug in triggering desktop/audible notifications with wildcard mentions disabled (which we've only fully implemented for push/email notifications).  See here: https://chat.zulip.org/#narrow/stream/49-development-help/topic/Wildcard.20Mentions.20Testing.20%28.2313429%29/near/799908

[2019-12-02 07:13] timabbott commented on #13450
We have several similar `?` links in "settings" and "organization settings"; it should be simple to borrow code from those.

[2019-12-02 07:16] timabbott commented on #13454
Agreed this is a bug.  @aero31aero can you investigate what's going on here?

[2019-12-02 07:28] timabbott commented on #13193
So, part of the challenge here is that we don't know what email software's auto-responder is involved here; it could be Outlook, or it could be something else.  What we should do aim to do is start with researching documentation and standards for how email software indicates (1) that a message is an auto-responder reply, and filter those, and (2) how we can indicate that our missed-message emails

[2019-12-02 07:32] timabbott commented on #13448
The code is in `static/js/stats/stats.js`, and seems to be using `i18n.t` properly.  My guess is the bug is that we're expecting the i18n data to be sent inside `page_params.translation_data`, and it isn't for portico pages (and this is basically a regression caused by the restructuring of i18n library to not fetch the i18n data in a separate HTTP request and instead include it in `page_params`).

[2019-12-02 07:34] timabbott commented on #13447
@MironovDmitry I think the actual story here is that Zulip's markdown does not render mixed `-` and `+` prefixes as a markdown list.  It sounds like the be an issue where the library used for local echo doesn't agree with the authoritative backend markdown processor on this.

[2019-12-02 09:22] hackerkid commented on #13105
@zulipbot claim

[2019-12-02 18:01] #13297 closed

[2019-12-02 18:03] timabbott commented on #694
@Aaryan-kapur this isn't a good project for someone who doesn't have experience working on the Zulip frontend already.

[2019-12-02 18:06] Aaryan-kapur commented on #694
@timabbott

Thank you for the suggestion, though I have been working with react for quite a while and also following Zulip but thank you for your suggestion

[2019-12-02 18:06] Aaryan-kapur commented on #694
@timabbott can you please suggest me a project or anything to start working I would love to start working on zulip

[2019-12-02 18:20] crizise opened #13465 "Bot Permissions"
Hello,
I have a permission issue for bot I created. Hope it can be fixed.

Well, I created generic rss bot using (python-zulip-api)[https://github.com/zulip/python-zulip-api/blob/master/zulip/integrations/rss/rss-bot] according this and it works perfectly for public streams. But when the bot subscribed to public stream with enabled _ Restrict posting to organization administrators_ option and tryi

[2019-12-02 18:23] bmonikraj opened #13466 "Custom Authentication for Zulip from APIs"
Zulip should have features to set API endpoints, which would work as custom authentication endpoints for services.
Like for auth,
if the custom API endpoint is https://IP:PORT/login, params as userid, password ->
Then authentication backend should have ability for making call to the same and verifying if the user is logged in, and can also fetch required information.

[2019-12-02 19:28] timabbott commented on #13466
@bmonikraj can you describe the use case?  What you're describing sounds like is already implemented in the form of our mobile authentication API, which fetches an API key for use by the mobile app.

[2019-12-02 19:29] timabbott commented on #13465
Thanks for the report @crizise!  This is fixed in master and 2.1-rc1 (soon to be Zulip 2.1).

[2019-12-02 19:29] #13465 closed

[2019-12-02 19:32] bmonikraj commented on #13466
Hi @timabbott
So for the use case, I have my own application hosted on cloud with custom authentication module implemented. Now, I want to host zulip on my cloud, but the authentication should happen only from my custom authentication API.

How can I do that ?

[2019-12-02 19:43] bmonikraj commented on #13466
@timabbott
Basically, if Zulip had a set of request and response params which can be pointed to any arbitary HTTP endpoint for custom auth, that would give it a lot more flexibility, specially in scenarios where it would be private chats within organizations.

[2019-12-02 19:53] timabbott commented on #8040
@alexreg @FoggyFinder there's significant work that's happened on this in https://github.com/zulip/zulip/pull/8318, which is very stale but I think could be adapted without too much trouble.  It won't make the 2.1 release, but it's something we'll consider when planning priorities for 2.1.

@hackerkid this might be a good upcoming project for you.  We should discuss strategy for whether to rebase

[2019-12-02 20:12] #13430 closed

[2019-12-02 20:23] timabbott commented on #13466
You can write a custom authentication backend or use `python-social-auth`.  https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#adding-more-authentication-backends has some discussion.

[2019-12-02 20:23] #13466 closed

[2019-12-02 20:26] timabbott opened #13467 "Fix Trello exception classes"
We need to make `zerver.webhooks.trello.view.exceptions.TrelloException` into a subclass of `UnexpectedWebhookEventType` to avoid getting error emails whenever Trello adds a new event type.  See `zerver/webhooks/trello/view/exceptions.py` for where to make the change.

[2019-12-02 20:58] daubaris commented on #13467
@zulipbot claim

[2019-12-03 01:00] skorokithakis opened #13469 "Up arrow on an empty typing box should edit last message"
Right now it's very hard to edit your last message, with "esc, up, e" being an error-prone and slow sequence. It would be much better if "up arrow" on an empty edit box immediately took you to edit your last message, and "down arrow" on a newly-opened/unchanged edit box canceled the edit.

[2019-12-03 01:27] timabbott commented on #13469
The left arrow hotkey does this.

We don't want to use up-arrow for this purpose because it's used for keyboard navigation of which message is selected.

[2019-12-03 01:27] #13469 closed

[2019-12-03 01:33] skorokithakis commented on #13469
Ah, it's even on the help page :( Thank you.

[2019-12-03 07:43] i-m-vivek commented on #6342
Hello, I am new to open source. I would like to contribute to zulip can you please guide me how  to get started

[2019-12-03 09:26] ryanreh99 commented on #12277
hi @timabbott could i submit a pr for this?
my other pr is in its end stages.

[2019-12-03 14:58] aero31aero commented on #13447
I think this classifies as a bug. [Every implementation here](https://babelmark.github.io/?text=%2B+one%0A-+two) supports mixed lists including python-markdown.

[2019-12-03 16:34] aero31aero commented on #12953
@clarammdantas before you start working on this, I think you would find #12979 relevant. It re-enables the `![]()` syntax for inserting images and should resolve part of this issue.

On top of that, we can write logic to automatically convert `![]()` to `[]()` when someone clicks quote-and-reply (similar to how we currently handle silent mentions while quoting.

[2019-12-03 19:12] bongjlee commented on #13413
Things came up and was not able to work on it recently, however, I should be able to get to it within the next week.

[2019-12-03 19:51] MironovDmitry commented on #13447
Hello.

what is strange, after clicking on Send button, the list renders correctly
with bullets, but then (in about a second or two) formatting disappeared.

On Tue, 3 Dec 2019 at 17:58, Rohitt Vashishtha <notifications@github.com>
wrote:

[2019-12-03 20:32] aero31aero commented on #13447
That is what Tim meant in his comment. In our setup, we have a frontend library to render each message you send that immediately shows you what the message will look like - the local echo; and we also have a backend library that is the authoritative rendering that everyone sees. We replace the local echo that only you see with the final backend render when it is available.

Here, the local echo ve

[2019-12-04 01:06] timabbott commented on #11015
Marked off a few more tasks that are complete.  I'm not 100% confident we actually want to do the `''` -> `.` migration; we should discuss the question again before investing time in such a migration.

[2019-12-04 01:17] #13454 closed

[2019-12-04 02:37] CDFriend commented on #13429
@zulipbot Still working on it!

[2019-12-04 05:23] joaomcarvalho commented on #13192
I think the solution could be to build a Trie Tree every time we opened the site so we can perform the queries efficiently. The trie node would be something like that:

[code]

The algorithm to perform a query would be something like that:

1 - Search for the query using the standard trie algorithm.

When we reach the end of the query node, it isn't enough to just return the 'users_ids'  list of t

[2019-12-04 06:42] grahamperrin commented on #13454
Fix confirmed at https://chat.zulip.org/#narrow/stream/7-test-here/topic/.2Fme/near/800388

Thanks @timabbott and @aero31aero

[2019-12-04 06:49] grahamperrin commented on #13454
I reckon, we can reasonably treat this as out of scope:

![image](https://user-images.githubusercontent.com/192271/70119428-2f09d100-1662-11ea-856d-fc4787536c87.png)

[2019-12-04 09:28] kostekIV commented on #13395
Hi @Zhenye-Na are you working on this or planning to? If not can I take this issue?

[2019-12-04 11:45] clarammdantas commented on #12953
@aero31aero thanks!

[2019-12-04 15:48] Zhenye-Na commented on #13395
Go ahead, checkout my working branch and make the changes. Thanks!

On Dec 4, 2019, at 01:28, kostekIV <notifications@github.com> wrote:

﻿

Hi @Zhenye-Na<https://github.com/Zhenye-Na> are you working on this or planning to? If not can I take this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/zulip/zulip/issues/13395

[2019-12-04 17:51] timabbott commented on #13454
Yes, that's out of scope.  There's no coherent way for `/me` not at the start of the message to modify rendering, because what we do is move the `me` to be alongside the name, and that isn't a coherent thing to do if it's not at the start of the message.

Thanks again for the report!

[2019-12-04 18:11] #13294 closed

[2019-12-04 18:23] timabbott opened #13477 "Bulleted lists with `-` are broken in the backend markdown processor"
The reproducer is simple:

[code]

@tommyip @aero31aero FYI.  This could have been caused by our recent work on numbered lists?

[2019-12-04 18:34] timabbott commented on #13452
@ClundXIII I think you're trying to do something that isn't supported: Zulip doesn't have a feature for syncing streams/user groups from an LDAP database.  See #9957.

Setting `AUTH_LDAP_USER_FLAGS_BY_GROUP` is something that should work; @mateuszmandera can you investigate that?

[2019-12-04 18:54] timabbott commented on #13192
@joaomcarvalho yeah, I think that's a reasonable solution.  There may be some fancier data structure we could use, but I'm guessing a trie will be good enough.

If there's a well-tested third-party trie implementation we can use, that might be a nice way to save time polishing/testing our own trie implementation.  Maybe https://www.npmjs.com/package/trie-search?

See also https://github.com/zulip/

[2019-12-04 19:15] timabbott commented on #13192
A few notes on research related to that plan:
* https://github.com/bassjobsen/Bootstrap-3-Typeahead#options and e.g. `exports.initialize_compose_typeahead)` are good reading for how the system is currently hooked up.
* The code for our typeaheads are in `static/js/composebox_typeahead.js` and similar.  (I guess this one is the search typeahead, so `static/js/search_suggestion.js`).
* I'm concerned

[2019-12-04 19:19] timabbott commented on #13451
I think we're likely to end up adding some form of configurability for the top-left area.

That said, probably a more relevant and near-term plan is moving away from "All messages" being the default landing page in the app.

[2019-12-04 19:25] ClundXIII commented on #13452
@timabbott are there any plans for that? I would guess it is not that hard to implement giving the fact django fully supports ldap group syncing.

[2019-12-04 19:32] mateuszmandera commented on #13452
On on quick look, ``AUTH_LDAP_USER_FLAGS_BY_GROUP `` should work. The immediate problem here is that ``is_realm_admin"`` is no longer a property you can set. ``UserProfile.role`` is now an integer that signifies the priviledges.

[code]

so you can't settattr this. Setting role to ``ROLE_REALM_ADMINISTRATOR`` is necessary. Not sure how to achieve that in the ``ROLE_REALM_ADMINISTRATOR`` configurat

[2019-12-04 19:35] timabbott commented on #13452
Ok at least something to change in our documentation.  We might just need
to give the number to enter here with a comment or something.

-Tim Abbott (mobile)

On Wed, Dec 4, 2019, 11:32 AM Mateusz Mandera <notifications@github.com>
wrote:

[2019-12-04 20:08] mateuszmandera commented on #13452
Might be impossible, it looks to only support boolen attr.

@timabbott maybe we could implement ``UserProfile.__setattr__`` to allow setting ``is_realm_admin`` (while actually setting the role field in the background)?

[2019-12-04 20:13] timabbott commented on #13452
Yeah that'd work, though I kinda want to move away from any other code
accessing that field.  Probably doable on combination with a lint rule.

-Tim Abbott (mobile)

On Wed, Dec 4, 2019, 12:08 PM Mateusz Mandera <notifications@github.com>
wrote:

[2019-12-04 20:29] ClundXIII commented on #13452
Is it possible to set the `.role` integer based upon ldap?

Any plan or timescale on when you plan to implment ldap group support?

[2019-12-05 07:14] kostekIV commented on #13395
Thank you, @zulipbot claim

[2019-12-05 13:09] rvansa opened #13481 "Mentions of names with non-ASCII characters"
Some people I want to mention quite often have non-ASCII chars in their names, e.g. "Ståle" (see the little circle above A?) When typing the mention, I'd start with `@St` but when I type the A, the name gets missing from the list, as `'å' != 'a'`.
I suggest that Zulip should internally normalize the names to ASCII at least for the mention suggestions (you'd probably have to create manually the uni

[2019-12-05 14:07] lukasIO commented on #13451
thanks for the reply @timabbott
What would, in your mind, be the desired default landing page?
In my opinion it would be pretty much what I described above, a collection of all stream messages that I am subscribed to.

[2019-12-05 20:44] devurandom opened #13480 "New topic UI/UX"
It took me a while to figure out how to create a new topic. I was searching in the list of streams and their respective topics for a `+`, a green button, some "New topic" action in the stream "chevron / arrow down" context menu, ... I did not expect the button to be on the bottom right, because I associated that area with the messages in a topic.

I think this could be made more intuitive, by maki

[2019-12-05 21:01] devurandom commented on #7330
See-Also: https://chat.zulip.org/#narrow/stream/137-feedback/topic/audio.2Fvideo.20calls

[2019-12-05 21:01] devurandom commented on #6605
See-Also: https://chat.zulip.org/#narrow/stream/137-feedback/topic/.22my.20topics.22.20meta.20stream

[2019-12-06 07:14] aero31aero commented on #13477
@zulipbot claim

[2019-12-06 10:00] oktayaa commented on #7330
I am saying tox is CLIENT software. As far as I can see it doesn't have a web browser client. The zulip team would have to write that. I am sure they'd much rather work on their own web client than writing a client for tox. On the other hand if there were a web client for tox they'd be able to integrate it fairly easily.

[2019-12-06 11:31] XAMPPRocky opened #13484 "Parse email formatting"
Hello, we've been using the email forwarding as a way to share emails in Zulip. One nit that has shown up is that Zulip doesn't preserve the email's original formatting. I was wondering if it was possible to allow Zulip to parse an email's formatting to render in Zulip? The naive approach to this would be to have an email parser that converts the document into markdown that is then rendered by the

[2019-12-06 18:04] drrosa commented on #1535
@zulipbot claim

[2019-12-06 19:39] #1535 closed

[2019-12-06 19:42] timabbott commented on #13452
@ClundXIII our plan is to fix the `role` integer detail before the 2.1 final release.

@mateuszmandera I think given the time available it makes sense to do a `@is_realm_admin.setter` setter definition (and similarly for guest), and we can worry about other roles as we add them.

[2019-12-06 19:47] timabbott commented on #13484
I believe our system already uses `html2text.HTML2Text()` to convert any HTML markup in a `text/html` email into markdown before sending it into Zulip.  If you have an example of the raw content of an email where this isn't working, we can look at improvements to that (one possible issue would be if the email is using e.g. `style=` rules to set `font-weight` rather using `<strong>` tags).

[2019-12-06 19:48] timabbott commented on #13480
I think this is definitely worth prototyping and testing on chat.zulip.org.  The code for the "topics open" widget is `static/js/topic_list.js`.

[2019-12-06 20:04] #13388 closed

[2019-12-06 20:14] timabbott commented on #13481
Well, the bug here is that our logic to remove diacritics does not handle `å`.

[code]

[code]

We should be doing something better here.  Maybe:
* https://www.npmjs.com/package/diacritics or https://www.npmjs.com/package/remove-accents.
* https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript
* Possibly something involving unicode normalization, though that

[2019-12-06 23:23] XAMPPRocky commented on #13484
@timabbott I can't share the particular emails since they aren't public. But I can say for certain that no styling is being applied to email messages. I what I tend to do is write an email to someone and CC the the stream mailing list so that we have a full log of it on Zulip that we can use for discussion, and none of the emails I've ever sent have had styling, nothing bold or anything.

[2019-12-06 23:29] andersk commented on #13481
My suggestion here is the one I gave in https://github.com/zulip/zulip/pull/13198#issuecomment-533274408:

[2019-12-06 23:45] timabbott commented on #13484
If you can provide a modified copy of the emails with no private content, just the formatting (e.g. change all the text to `xxx`s), that'd be helpful.

Also, what Zulip version are you running?

[2019-12-06 23:48] timabbott commented on #13481
@aero31aero can you open a PR doing that?  We can test how mention typeahead performance is with that many users to see if the normalization thing is slow. It may very well not be.  If it is, I think it'd likely suffice to cache the results of NKFD normalization via a simple dictionary cache in `remove_diacritics` to avoid recomputing these things.

[2019-12-07 00:20] andersk commented on #13192
I’m a little worried that a trie might have notable memory overhead. It would also be hard to generalize it to more complicated queries like the “intersection” queries of #12255.

Another idea would be to precompute the concatenation of all (normalized) names into a giant string, along with an index array holding positions and user IDs. We could query the giant string with one substring or regex s

[2019-12-07 01:51] gnprice commented on #11042
Closing in favor of #6027 , which describes the same thing. (Thanks @punchagan for spotting that!)

[2019-12-07 01:51] #11042 closed

[2019-12-07 01:57] andersk commented on #13481
Opened as #13485.

[2019-12-07 01:58] gnprice commented on #2517
One additional thought on this, inspired by #6605: I'd love for this to happen automatically for any topic I send a message on.

Model-wise, that probably comes in two layers:
* Have a concept of "anti-muted topic" or "subscribed topic" at all (which is what this issue has discussed so far)
* Automatically subscribe to / anti-mute the topic when you send a message

And then #6605 is basically a th

[2019-12-07 02:04] gnprice commented on #6027
I agree this feature would be useful.

Thinking about the UX of it: I think in many use cases, a key complementary feature would be that you automatically get subscribed in this way to any topic that you send a message on. For example, if in a busy org you sometimes ask a question but you aren't regularly reading other messages there during the day, you might want a notification when someone repli

[2019-12-07 05:42] stone212 commented on #7330
@otkayaa  So you weren't asking me anything, just saying something?  The question mark confused me.  Anyway now I know what you're saying I think.

Yes of course it is.  Jitsi is also client software.  I was continuing what @timabbott said when we wrote: "we actually already have a Jitsi integration."  If Zulip can open one client it can open another right?

Does any ethical, open-source voice pro

[2019-12-07 16:27] katisari commented on #12725
@zulipbot claim

[2019-12-07 19:44] timabbott opened #13486 "Data import between Zulip servers doesn't properly handle FillState"
If you've exported data from an empty Zulip server and then import it into another empty Zulip server, you'll get the following exception when `manage.py update_analytics_counts return:` runs:
[code]

The issue is that the RealmCount, UserCount, etc. analytics tables were imported, but the global `FillState` table that is supposed to keep track of which CountStat objects from `analytics/lib/counts

[2019-12-07 21:20] omry opened #13487 ""GitHub no longer support your web browser" in desktop app"
It is no longer possible to authenticate with GitHub in the desktop app.
See screenshot.
A solution can be to update the user agent sent to GitHub.

![image](https://user-images.githubusercontent.com/376455/70380685-13b5f480-18f4-11ea-99b9-fde465e8c373.png)

[2019-12-07 22:57] mtrame098 commented on #12951
claim

[2019-12-07 23:17] katisari commented on #12725
After investigating this issue, I have more questions to follow up about the design of the solution and also some insights.

It seems like the upper case and lower case version are both present when a topic with the same name that you are typing already exists. For example, if "topic" already exists and a user types "Topic", both versions will show up as "Topic" is exactly what the user is typing

[2019-12-07 23:36] katisari commented on #13434
@zulipbot claim

[2019-12-07 23:44] apricity8 commented on #13480
@zulipbot claim

[2019-12-08 01:43] khionu commented on #9521
This is Priority High, but it hasn't had any activity for over a year?

[2019-12-08 11:50] aman11verma commented on #10539
@zulipbot  still working on this issue

[2019-12-08 18:20] CDFriend commented on #13429
@zulipbot claim

[2019-12-08 18:21] CDFriend commented on #13429
Apologies, @Nat1405 and myself are working on this collaboratively for a school project. We'll have a PR up shortly.

[2019-12-08 18:33] blevenson commented on #2746
Submitted a fix in PR #13488

[2019-12-08 19:18] bongjlee commented on #13413
@zulipbot claim

[2019-12-08 20:14] mateuszmandera commented on #13425
Disregard the PR and commit above, I mistyped the issue number, and then Github puts these references in the UI with no way of getting rid of them...

[2019-12-09 08:39] jaichhabra commented on #1286
Hey if this is still available , I would like to work on this . @timabbott @zulipbot @rishig

[2019-12-09 08:42] jaichhabra commented on #13480
Hey is it still available?
if yes , I would love to start working on it . @devurandom @zulipbot @timabbott

[2019-12-09 08:44] jaichhabra commented on #13375
Hey is it still available?
if yes , I would love to start working on it .@zulipbot @timabbott @rajat2502

[2019-12-09 08:44] jaichhabra commented on #13375
@zulipbot claim

[2019-12-09 08:44] apricity8 commented on #13480
@jaichhabra I'm working on it right now. If for some reason I can't finish then zulipbot will unassign me and you can work on it.

[2019-12-09 08:46] jaichhabra commented on #13480
@apricity8 Thankyou , if you want me to take over just mention me once .

[2019-12-09 08:47] jaichhabra commented on #13363
Hey is it still available?
if yes , I would love to start working on it @davidtwco @timabbott

[2019-12-09 08:47] jaichhabra commented on #13363
@zulipbot claim

[2019-12-09 09:04] rvansa commented on #13481
Thank you!

[2019-12-09 10:56] akashaviator commented on #12951
@zulipbot claim

[2019-12-09 19:59] #13452 closed

[2019-12-09 21:02] #13481 closed

[2019-12-09 21:05] #13464 closed

[2019-12-09 23:01] maltokyo opened #13495 "Git upgrade failing"
Using this command to upgrade from vanilla 2.0.5 (which was also a git upgrade itself) fails:
(Edit: also fails with same error with normal tarball upgrade as per here: https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-to-a-release )

Command:
`/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 2.0.7`

Output as below (error at bottom):
[code]

[2019-12-09 23:25] #13437 closed

[2019-12-10 00:09] #13429 closed

[2019-12-10 00:13] #13477 closed

[2019-12-10 00:28] timabbott commented on #13495
@maltokyo what version of the base OS are you using?  I think the bug likely has to do with this this check being incorrect on your system:
[code]

in `zerver/migrations/0209_user_profile_no_empty_password.py`.  I don't understand what might cause that to happen, though.

@mateuszmandera FYI

[2019-12-10 00:30] timabbott commented on #13363
Yeah, you're welcome to work on this.  It may take a while to be ready to integrate just because I'm not sure what key we should use (etc.) and those decisions may take time, but it's worth prototyping.

[2019-12-10 00:36] mateuszmandera commented on #13495
``event_type_class = RealmAuditLog._meta.get_field('event_type').get_internal_type()``
must be returning the incorrect field type for some reason. It may be better to choose whether to use strings or ints through a try/except block where we actually verify that querying using the type doesn't error out in this manner.

[2019-12-10 00:37] Chemsmith commented on #12063
I'll jump on this with a question @timabbott

Are the changes you're suggesting above likely to degrade performance noticeably on a server with ~10 users total (~5 active at any time)? I will try them out when I get a chance and see what, if any, difference it makes to ram usage but curious about the performance effects.

I'd love to be able to run a zulip instance to replace a "family" slack but

[2019-12-10 00:38] mateuszmandera commented on #13495
@zulipbot claim

[2019-12-10 00:39] timabbott commented on #9521
@khionu that's correct.  We use "priority: high" to keep track of things that are important and we'd like to have someone work on soon.  There are hundreds of issues in that category, and not all of them actually get resources.  2FA has been of less interest than one might expect because many organizations use SSO with a third-party tool that provides 2FA, but I'd still very much like to see it ha

[2019-12-10 00:41] timabbott commented on #12725
Zulip's data model is already that topics are case-insensitive on the backend; the UI intent is to preserve the case that was actually typed in the first message to the topic in the UI.  It's likely the bug here is that a frontend data structure for tracking topics is incorrectly case-sensitive.

I'm guessing the issue here is somewhere in `composebox_typeahead.js`.

[2019-12-10 00:42] timabbott commented on #13495
I'm not sure we should jump to changing that field type; this could be something odder.  @maltokyo can you mention @mateuszmandera on chat.zulip.org in `#production help` to do an interactive investigation of what's going on with your system?

[2019-12-10 00:56] timabbott commented on #13192
Hmm, I wouldn't except a Trie with 12K objects to be huge, but I guess it's easy to test.  But yeah, the larger concern is being able to do that sort of "intersection" query.  In any case, I think the next step here will need to be figuring out how to gain more control over the typeahead system to have avoid the O(N) time behavior of scanning through a large list.

[2019-12-10 01:32] timabbott opened #13496 "Fix data import when `EMAIL_GATEWAY_BOT` setting is in use"
If a user has changed the `EMAIL_GATEWAY_BOT` setting (and the bot's email address), our data import/export process into Zulip crashes with an exception (https://chat.zulip.org/#narrow/stream/31-production-help/topic/Realm.20import/near/800549).

I think it's possible that this could be fixed by just adding a bit of code  in `fetch_user_profile_cross_realm` to canonicalize the `EMAIL_GATEWAY_BOT`

[2019-12-10 01:35] mateuszmandera commented on #13495
On second thought, I agree, it's absurd for the ``event_type`` field to be an integer then, since the migration of RealmAuditLog to integers is in ``0247``, so there should be no way for it to have been applied on this server :thinking: Could be something weird here

[2019-12-10 07:09] timabbott commented on #12063
I'd expect no performance impact with that scale of users.  To give some framing, the `message_sender_processes` piece will mean that you can't send Zulip messages faster than about 20/s without queuing, which is likely impossible in a sustained fashion with that many users just given Zulip's rate limits :).

[2019-12-10 07:57] maltokyo commented on #13495
@timabbott and @mateuszmandera  here is my OS info - stock standard Ubuntu 18.04 on Google Cloud virtual machine (with all latest updates applied, right before this upgrade, maybe that has something to do with it?  And, Zulip is the only thing on this server, nothing else at all):

~# lsb_release -a
[code]

[2019-12-10 11:05] akornor commented on #13496
@zulipbot claim

[2019-12-10 11:59] JannikJ opened #13500 "Add option to ignore lower/uppercase in email addresses"
In our organization, users often struggle to reset their passwords because they do not write their email addresses correctly. More precisely, they usually write their email addresses in lower case while the addresses are stored in uppercase.

While I see that you may want to conform to the specification, it would be great to have an option to just put everything in lower case inside the database.

[2019-12-10 12:13] k-spa opened #13502 "Putting lists or line breaks in tables"
Hi,

is it possible to have a table where a cell contains a list or a line break? Most answers concerning markdown on the internet suggest using HTML `<br>` or `<ul>` tags, but obviously this is not possible with Zulip as there are no HTML tags allowed.

Is there a way to put (preferrably) a list inside a table cell? Alternatively I could do with line breaks - maybe some kind of escape character t

[2019-12-10 17:01] timabbott commented on #13500
@JannikJ I'm puzzled by this issue.

Email addresses in Zulip are treated as case-insensitive, and I just confirmed in a Zulip development environment that indeed logging in with randomly modified case on the email address works.

Can you explain how you determined that this was an issue in Zulip?

[2019-12-10 20:12] timabbott opened #13504 "Improve error handling for invalid memcached requests"
We sometimes get exceptions from memcached about invalid keys being passed in that aren't super useful, e.g.:
[code]

or this:

[code]

That last one appears to be a HackerOne user trying to send an invalid API key.  I think the error handling behavior that we want is probably:
(1) We modify `cache_with_key` to check if keys are longer than the maximum supported by memcached or have invalid charac

[2019-12-10 21:12] #13073 closed

[2019-12-11 00:31] #9893 closed

[2019-12-11 00:35] timabbott opened #13510 "Improve behavior for `is:private` narrow for mouse users"
In the bundle of changes around #12849 and #9893, we improved the behavior of searching in Zulip to avoid two major problems:
* Search taking you to old messages in muted streams/topics rather than the latest messages containing the keywords
* Accidentally marking messages as read when searching for something.

An open question is how to handle the `is:private` narrow (i.e. what you get when you c

[2019-12-11 01:18] timabbott commented on #11860
This was fixed via #13482.

[2019-12-11 01:18] #11860 closed

[2019-12-11 02:38] #13441 closed

[2019-12-11 12:21] aero31aero commented on #13447
@timabbott should we close this?

[2019-12-11 14:25] PrashanthPuneriya commented on #13450
@zulipbot claim

[2019-12-11 14:27] PrashanthPuneriya commented on #13450
@timabbott  @keyurkumbhare Can I work on this issue?

[2019-12-11 16:29] shubhamgupta2956 commented on #12953
Hey, is it still available?
If yes, I would love to start working on it. @clarammdantas  @aero31aero @timabbott

[2019-12-11 18:46] timabbott opened #13514 "Use Django proxy models for markdown extensions of Message"
We have several extra fields we add to Django Message objects when doing Bugdown rendering (e.g. `potential_attachment_urls`, `mentions_wildcard`, etc.).  Currently, it's a bit of a hack, in that these values we attach to the `Message` object aren't part of its class definition..

One reasonable approach for typing this flow (enforced to some extent by how `python-markdown` is architected) would b

[2019-12-11 19:15] timabbott commented on #13447
Yes, this was resolved by #13482.

[2019-12-11 19:15] #13447 closed

[2019-12-11 19:15] #12912 closed

[2019-12-11 21:45] mateuszmandera commented on #13495
This was an issue due to the server being in a strange state with extra migrations applied, rather than any bugs in the migration code. It was solved by upgrading the server to 2.1-rc1.

@timabbott I think this can be closed?

[2019-12-11 21:51] maltokyo commented on #13495
I will close. As above.

[2019-12-11 21:51] #13495 closed

[2019-12-12 00:26] timabbott commented on #9760
I believe this was fixed in 2b6cfbcf7b952380eec0c5fd49d3865bb713f199

[2019-12-12 00:26] #9760 closed

[2019-12-12 00:27] gnprice commented on #9760
Looks like #13294 was the issue which duplicated this one.

[2019-12-12 00:40] gnprice opened #13518 "Add retries for sending to APNs or FCM"
This is similar to #9760 (aka #13294), but at the next link in the chain. When sending a push message to APNs or FCM (from either the bouncer service, or a Zulip server which has been set up with its own credentials for APNs and FCM), we should retry requests that fail with network errors, with 5xx responses, or with a timeout.

(We should also make sure there *is* a timeout on those requests, so

[2019-12-12 01:57] scrapcode commented on #13434
Can I give this a shot?

[2019-12-12 01:58] katisari commented on #13434
Yes you can!

[2019-12-12 02:07] gnprice opened #13519 "Document the data model for user presence"
We have some docs on the user-presence subsystem, here:
https://zulip.readthedocs.io/en/latest/subsystems/presence.html

They're helpful, but there are some important areas they don't cover, or don't make clear. These have caused confusion a few times in the mobile app. Here are some that recently came up:
* The relationship between the three states `active`, `idle`, `offline`. (And/or `inactive`?

[2019-12-12 03:58] scrapcode commented on #13434
Sorry, I think I may have jumped the gun on this. I thought I had an easier solution than it turns out. From what I've gathered the most efficient way to accomplish this is going to be parsing the gif at the time of upload and uploading a static version. The current js implementations, even if minimized, have to be called anytime a gif emoji is posted to be successful. I am having difficulty findi

[2019-12-12 04:24] shubhamgupta2956 commented on #13467
@daubaris are you still working on this issue? If not, I want to work on this issue.

[2019-12-12 07:17] daubaris commented on #13467
@zulipbot unclaim

[2019-12-12 07:24] shubhamgupta2956 commented on #13467
@zulipbot claim

[2019-12-12 12:17] vipulchhabra99 commented on #13375
@zulipbot  I have submitted the pr for the same and waiting for it to be reviewed.

[2019-12-12 12:55] MrPizzly opened #13520 "Separation of group and just private messages"
In the case of the picture, it is only intuitively possible to understand which group dialogue and which one is personal. I would like either separation, or icons in group dialogs, or something else.

![image](https://user-images.githubusercontent.com/31764136/70713804-d38db200-1cf7-11ea-8c5d-0ce627f948b4.png)

[2019-12-12 19:36] timabbott commented on #13520
Thanks for the report @MrPizzly!  I agree that screenshot is definitely a problem.

This is at least in part an i18n issue, in that longer full names are more common in some languages/cultures than others.  With shorter names, you'll at least see a comma (providing an indication for what's a group PM, at least).

I'm not sure what the best solution.  I think something that, for group PMs, shows th

[2019-12-12 20:53] timabbott opened #13521 "Make installation using RDS work cleanly"
Following #13105, it's now reasonable to use Zulip with a remote postgres database service like Amazon RDS.  However, there are a few things that are awkward about the setup:

* [ ] The `POSTGRES_MISSING_DICTIONARIES` configure is passed via an environment variable, which can result in issues if folks run the instructions at the end of `scripts/setup/install --remote-postgres` rather than remember

[2019-12-12 21:19] timabbott commented on #13105
Fixed via #13472.

[2019-12-12 21:19] #13105 closed

[2019-12-13 06:35] MrPizzly commented on #13520
You can show the number of people in a conversation, you can make an icon of a group conversation instead of a number (just an example, not a sentence: [image](https://cdn2.iconfinder.com/data/icons/outline-basic-ui-set/139/Profile_GroupFriend-Outline-512.png)) or divide personal and group conversations into 2 sections (for example, personal messages come first, then a line and group conversations

[2019-12-13 07:01] MrPizzly commented on #13520
Maybe it’s worth taking out group conversations in a separate tab?
For example:
`Private messages`
`Group conversations`

[2019-12-13 09:29] JannikJ commented on #13500
Apparently, this issue arises when trying to reset passwords or logging in. We currently use version 1.9.3. This only applies to local users. Users who registered via LDAP are not affected.
In the pull request, you mentioned that you use __iexact in the database queries. Could you point me to the relevant files/code snippets where database queries are made?
Thank you!

[2019-12-13 10:31] morevsky commented on #13495
Hello, when upgrading from version 2.0.6 got the same problem.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

[2019-12-13 10:38] maltokyo commented on #13495
@timabbott this was also my case. I'm pretty sure I only upgraded using tag 2.0.7
Are you sure that someone the tags aren't getting ignored for 2.0.6 to 2.0.7 upgrades?

[2019-12-13 12:30] bjoernvoss opened #13527 "LDAP auth not working after upgrade to 2.1"
After upgrading our Zulip-server to 2.1.0 using the upgrade-zulip-from-git script the ldap authentication is not working anymore.

I get the following error from manag.py query_ldap:
[code]

[2019-12-13 12:51] alfonsrv opened #13528 "Upgrade to 2.1 fails due to LDAP settings migration"
Attempted upgrading from 2.0.1 to 2.1. Same issue as #13527 (even though he seems to have managed to install it), but more elaborate issue detailing.

**Upgrade Log**
[code]

**Settings**
[code]

[2019-12-13 13:45] bjoernvoss commented on #13527
I could solve it by adding
[code]
to settings.py

[2019-12-13 13:45] #13527 closed

[2019-12-13 16:13] mateuszmandera commented on #13495
@morevsky Can you ping me (Mateusz Mandera) on chat.zulip.org in #production help ? And please include a copypaste of the exact error + to which version you're upgrading + the output of ``su zulip -c '/home/zulip/deployments/current/manage.py showmigrations'``

[2019-12-13 17:51] alfonsrv commented on #13528
Got it. Got around this issue by adding the two variables and configuring them properly.

It should be noted that the [documentation](https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory) should extend the mentioned `%(user)`-attribute by `%(email)` in order to get the `AUTH_LDAP_REVERSE_EMAIL_SEARCH` to work properly.

[2019-12-13 18:39] hackerkid opened #13530 "Running ./scripts/setup/install for the second time results in failure"
For generating Digital Ocean one click app base image, we run `./scripts/setup/install` on a droplet with `--no-init-db --self-signed-cert` + random hostname, email values and take a snapshot. After the user creates a droplet from the image and logs into the droplet, `./scripts/setup/install` script is ran again with `--certbot`, proper hostname, email to complete the installation. This used to wo

[2019-12-13 18:54] #13528 closed

[2019-12-13 19:05] timabbott commented on #13500
I would try upgrading to 2.0.x (or 2.1.x); 1.9.3 is sufficiently old that it's reasonably likely an issue was fixed.  `common_get_active_user` in `zproject/backends.py` is the main code path for login.

I'm going to close this as likely not affecting a current release just to declutter the issue tracker; but please report back on the resolution (if there is a current bug, we'll reopen it).

[2019-12-13 19:05] #13500 closed

[2019-12-13 19:09] timabbott commented on #13530
I think this is the fix:

[code]

(Totally untested)

[2019-12-13 19:23] timabbott commented on #13528
@alfonsrv thanks for the suggestion!  I'm not sure precisely what you have in mind -- was it to add a sample `AUTH_LDAP_REVERSE_EMAIL_SEARCH` in the Active Directory section, or somewhere else?  Feel free to just submit a pull request using  https://github.com/zulip/zulip/edit/master/docs/production/authentication-methods.md if that makes it easier.

[2019-12-13 21:57] timabbott commented on #13520
We could do that, though I think it'd be a regression for some users.  Could be done as an option.

[2019-12-13 22:45] timabbott opened #13533 "Stop using redis for things that would be better stored in the database"
Our use of `redis` for rate-limiting is I think a good use of redis that limits loads to the Zulip database and ; it's fundamentally transient data that isn't a problem for us to delete.

However, the other places where we use redis are probably mistakes and should be replaced with storing that data in the Zulip database:
* [x] The use in `zerver/lib/email_mirror.py` to store data for replies to m

[2019-12-14 10:22] sahil839 commented on #12943
@zulipbot claim

[2019-12-14 17:09] kenemar opened #13536 "Internal Server Error - rabbitmq issue comes back after upgrade"
Hi I installed Zulip Server on Ubuntu 18 Server on dedicated Hyper-V a few weeks ago. It has mostly been working, but it was giving me Internal Server Errors on reboot that seemed to be caused by rabbitmq. So I purged, reinstalled, and ran the configuration script for rabbitmq-server. That took care of the problem - I could reboot without seeing Internal Server Error. Then I upgraded to 2.0.8 and

[2019-12-14 19:50] akashaviator commented on #12951
#12951 added a commit to akashaviator/zulip that referenced this issue

[2019-12-14 22:45] alfonsrv commented on #10351
Still getting a black background when uploading GIFs like [these](https://giphy.com/stickers/ben-tuber-l1J9LUpGQ4TCtzO24).
Results in ![nice-black](https://i.imgur.com/pZTaO9b.gif)

[2019-12-14 23:39] alfonsrv commented on #11568
Should also include the person's picture and a clickable profile link to make it seem more interactive. It would also be desirable if big quotes were auto-condensed, making it optional to expand them.
Example (didn't go too far to find a suggestion, I'll admit)

![quote](https://slack.zendesk.com/hc/article_attachments/115009149127/share_message.png)

[2019-12-15 00:46] mateuszmandera commented on #13527
@bjoernvoss Our documentation for this was very badly worded, basically suggesting email search configuration to be the way you did it. That's not going to work correctly and will cause issues - we updated the docs https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory to better explaing how to configure this setting.

[2019-12-15 05:55] timabbott commented on #13536
@kenemar thanks for the report.  We haven't seen similar issues in 2+ years.

Can you post what's in `/etc/hosts` both before and after one of these reboots?  Generally RabbitMQ having issues after a reboot is caused by changes in the system's hostname details.  A couple years ago, Zulip solved around this category of problem by configuring RabbitMQ to listen on 127.0.0.1 and connect to it there.

[2019-12-15 10:06] nguyenhaitochucsukien commented on #11440
I am also waiting for this issue to integrate [teaching Chinese](https://chinese.com.vn) online

[2019-12-15 16:57] ClundXIII opened #13539 "Hiding email adresses with ldap caused everyone to be locked out"
I am sorry to bother you again but I managed to lock myself and everyone out.

I am running current master branch due to needing realm admin perms based on ldap user groups.

I flipped some switches in the Admin Section and now no one can log in. I am not sure what setting exactly caused this but I remember to hide email adresses from other users. When I ran (and run) ldap sync I get this result:

[2019-12-15 17:04] ClundXIII commented on #13539
Ideally I would like to fix this with psql. But I guess this is also some kind of bug that should not happen.

[2019-12-15 19:13] timabbott commented on #13539
@ClundXIII thanks for the report!  As an immediately workaround, you can likely do the following in a `manage.py shell` to disable that setting:

`do_set_realm_property(get_realm(""), 'email_address_visibility', Realm.EMAIL_ADDRESS_VISIBILITY_EVERYONE)`

But likely a better solution will be to just apply the patch in https://github.com/zulip/zulip/pull/13540.  And then re-run the LDAP sync process

[2019-12-15 19:34] ClundXIII commented on #13539
That was quick! Thank you. I will do the workaround for now :)

[2019-12-15 20:03] ClundXIII commented on #13539
I might have celebrated prematurely. We still cannot log back in. Patch does not help either.

"Please enter a correct email and password. Note that both fields may be case-sensitive."

[2019-12-15 20:14] mateuszmandera commented on #13539
@ClundXIII The deactivated users will need to be reactivated, is the amount of users large, or will it be enough for us to just reactivate your account and you'll be able to reactivate people manually by clicking in the UI?

[2019-12-15 20:23] mateuszmandera commented on #13539
Either way, first you can reactivate yourself and see if you can log in. After that you can either reactivate the users by clicking manualy in the UI (in ``Users`` section in organization settings) or let me know if you need help automating the process.

To reactivate yourself, run in ``manage.py shell``:
1. ``from zerver.lib.actions import do_reactivate_user``
2.  `` do_reactivate_user(get_user_b

[2019-12-15 20:44] ClundXIII commented on #13539
Just a bunch of users, no problem. Thank you.

[2019-12-15 20:46] mateuszmandera commented on #13539
Great! Sorry for the inconvenience with this bug, that was a bad oversight with not handling hidden email addresses in ldap code. We should have that fixed soon.

[2019-12-15 21:22] ClundXIII commented on #13539
I have one more issue that might be related to this. I am a Realm  admin and I am unable to add myself or other user to streams.

[2019-12-15 21:36] mateuszmandera commented on #13539
@ClundXIII How exactly does that demonstrate itself? What happens when you try to add someone to a stream?

[2019-12-15 21:47] ClundXIII commented on #13539
I never looked at the "all streams" tab before. The Area where I should be able to put usernames in and the "subscribe" button are greyed out.

The "Unsubscribe" box next to the users in a stream not for some reason. Although I have not tried it.

[2019-12-15 23:18] mateuszmandera opened #13541 "Glitches around the hidden emails setting"
Besides https://github.com/zulip/zulip/issues/13539 there are some glitches I've bumped into:

- [x] With email visibility set to admins only, when I go to stream settings on an admin account, the email addresses for the ``Subcriptions`` section are in their hidden version userX@domain.

- [x] In ``Users`` tab in Org settings I'm having the Email column empty quite often. In those cases,
trying to

[2019-12-15 23:24] mateuszmandera commented on #13539
Hmm no idea what that could be caused by, but it think it'd be strange for it to have anything to do with ldap - you seem to have admin status, so it's not like ldap sync removed it incorrectly.

@timabbott Any ideas here? Something around Organization settings, or the email visibility perhaps somehow? I also wrote up an issue with some order things that seem to have to do with email visibility in

[2019-12-16 00:38] mateuszmandera commented on #13539
@ClundXIII Actually, could you post a screenshot demonstrating this? I think it could be helpful. Censoring people's names/emails of course :slightly_smiling_face:

[2019-12-16 06:59] #13539 closed

[2019-12-16 07:00] timabbott commented on #13539
Are we sure @ClundXIII didn't lose the admin bit on their admin account?  Generally, the "unsubscribe" button is only shown for admins.

[2019-12-16 07:02] timabbott commented on #13541
@shubhamdhama @pragatiagrawal31 @YJDave FYI as folks who've worked on the EMAIL_ADDRESS_VISIBILITY feature.

Just to note the intent, it's intended that deactivated users move to only showing in the "Deactivated users" tab after refreshing; they stay until a refresh just to make it convenient to undo changes and/or see they happened.

The actual bug is almost certainly a simple data flow issue whe

[2019-12-16 07:09] mateuszmandera commented on #13539
He successfully reactivated user accounts frmo the UI, so I think he must have admin privileges

[2019-12-16 07:16] hackerkid commented on #13521
The first part here is done.

[2019-12-16 08:24] arpit551 commented on #13486
@zulipbot claim

[2019-12-16 09:35] ClundXIII commented on #13539
I am "Admin" according to the User list. This is what I get:

![image](https://user-images.githubusercontent.com/4571541/70895781-cde1e600-1fef-11ea-9b95-1790f324ae5a.png)

[2019-12-16 10:45] mateuszmandera commented on #13539
I believe that's normal, these are private stream, and, after tracking it through the code, blocking the subscription settings is governed by this:
``sub.can_add_subscribers = !page_params.is_guest && (!sub.invite_only || sub.subscribed);``

So for a private stream, you can only subscribe to it (or invite people to it) if you're its member.

[2019-12-16 10:50] ClundXIII commented on #13539
That is a ... weird way to handle perms. The Admin not being able to actually admin his own instance.

Also this means that I need one Admin per Stream if I do not want to give every stream member permission to add new members?

Also there is no one in the "core-team" stream for some reason. And I am unable to add myself into it.

Where is this line located? I might have to change this manually.

[2019-12-16 11:00] mateuszmandera commented on #13539
In ``static/js/stream_data.js``
``sub.can_add_subscribers = page_params.is_admin || (!page_params.is_guest && (!sub.invite_only || sub.subscribed));`` should do I think.

That's the idea behind private streams I think - they're closed to outsiders, unless invited by someone from the inside - even to admins. You don't need one admin per Stream, if you're creating a private stream, you'll be subscri

[2019-12-16 11:12] ClundXIII commented on #13539
I do not want every member of a private stream being able to invite everyone. So I flicked the "Who can add users to streams" switch to "admins only". And that should imply that I need a member who is also an Admin in each stream, right?

Ideally I would like to tie membership of streams to ldap groups.

I guess that my specific use case is against the design philosophy of zulip, right?

[2019-12-16 12:28] kenemar commented on #13536
thanks for your response @timabbott I think I might be onto my problem here. I started examining my `/etc/hosts` file and comparing it with another working Zulip Server and I'm seeing the second line had 127.0.0.1 and the name of the local machine instead of 127.0.1.0. I must have changed my `/etc/hosts` somewhere along the line and that might be an explanation for the random Internal Server Error

[2019-12-16 14:31] showell opened #13544 "feature request: Allow me to globally publicize any single Zulip message"
Let's say that I'm in a Zulip conversation where I say something really brilliant, and I want to cross-post it to other social media like Twitter.

For example, let's say we're talking about insects in the fourth dimension, and I have this brilliant insight:

"Time flies like an arrow."  -- Steve

Right now I can create a link to a message that is visible **within** the realm, and the URL looks li

[2019-12-16 16:14] Mnaukal commented on #1739
I would also like this feature as I don't use Zulip that often (I don't check it regularly, I only check it when I get notified). The use case for me is that I see a message that something has to be done and I can't do it right now, but I know I will have time to do it in evening, so I want to be reminded to read the message again and do it.

[2019-12-16 19:16] swallitsch opened #13545 "Muted topics with unread messages appear in condensed stream topic list"
We're still on an older 2.x version of Zulip, so this issue might have been fixed since then.

When a user mutes a topic, and other people talk in it, those messages still count as unread for that topic (See #11843 for more on this). For us, this is desirable but it leads to:

The muted topics, because they have unreads, now always show up in 'most recent topics/condensed topic' list when narrowed

[2019-12-16 20:19] Goblenus commented on #12715
It's not a problem, but I like to have private messages "clean". It's kind like to take out the old trash.

[2019-12-16 21:55] timabbott commented on #13536
Yes I think you've probably identified the issue.

-Tim Abbott (mobile)

On Mon, Dec 16, 2019, 04:28 Kendall Martin <notifications@github.com> wrote:

[2019-12-17 01:34] kenemar commented on #13536
After fixing `/etc/hosts` I was able to upgrade to master and then reboot and it is still working fine. Thanks for your help!

[2019-12-17 10:31] anlevshin opened #13547 "Incorrect conversation link in private message with multiple people"
Hi,
Could you please fix the following issue:

1. Start a private conversation with 3 or more people.
2. Write a message
3. Select the option 'Copy link to conversation' in this message (it needs to be your message)
4. Your ID is excluded from the link to the message
Should be:  /#narrow/pm-with/9,14,57-group/near/1231756
As is: /#narrow/pm-with/9,14-group/near/1231756

Thank you

[2019-12-17 12:03] oktayaa commented on #7330
Jitsi is a front end that uses open source standard protocols such as SIP and jabber. The real work is done on the server side. But a web based client can still run p2p since javascript allows everything to run on the browser itself.

I am talking about web based things because zulip has a web interface. I don't know the exact stats but I would imagine most people use the web interface rather than

[2019-12-17 12:12] oktayaa commented on #7330
Perhaps it would be possible to integrate Nextcloud Talk? It is open source.

https://nextcloud.com/talk/

I realized from @stone212 's comments that I am concentrating only on the web interface but IMO it is much more useful to have a self hosted solution that is packaged with zulip and takes care of all the registration, user creation steps.

Perhaps jitsi meet can be integrated the same way sin

[2019-12-17 13:19] mateuszmandera opened #13548 "Starred messages from muted topic are counted, but don't show up in "Starred messages" view"
To reproduce:
1. Enable Starred message count to show up next to "Starred messages"
2. Star a message in a muted topic
3. The count increases, but the message doesn't show in the view if you go into it.

[2019-12-17 13:39] mateuszmandera commented on #13547
To add a detail here - it needs be sent by you and the issue only demonstrates until you reload the page. That is - You will get the link with 2 ids if you do "Copy link to conversation", and after reloadiing the page doing that will generate the proper 3-id link.

[2019-12-17 13:41] mateuszmandera opened #13549 "Duplicated displaying of group PMs"
After clicking into some group PMs, I'm getting them displayed twice in the list of conversations. Example:
![image](https://user-images.githubusercontent.com/45007152/71000209-cc3d1e80-20d2-11ea-8b27-95a351eefff9.png)

That's one conversation, the link is identical, but it gets rendered twice for some reason.

[2019-12-17 16:43] stableapple commented on #10539
@zulipbot claim

[2019-12-17 17:27] gauravthapar commented on #13080
I am working on it @zulipbot

[2019-12-17 20:19] showell opened #13550 "feature request: Allow incremental exports"
It would be good to support incremental exports for two major reasons:

- Admins of large realms could create more frequent exports
- The archive tools could just run off of exports

Hopefully the first use case is self-evident.

I'm more interested in the second use case.  The zulip_archive tool basically does its own version of a Zulip export to produce a static website of Zulip content.

The ma

[2019-12-17 20:58] stone212 commented on #7330
@oktayaa

I think we are getting off the topic but I don't like to leave a thread with bad information.

There is no Jitsi server.  You might be thinking of "Jitsi Meet" which I just learned about.  That is different from Jitsi and it is not something I was asking about and it is not something I recommend.  Actually one of the things Jitsi Meet solves about Jitsi would also be solved (for zulip us

[2019-12-18 00:21] shubhamgupta2956 commented on #13467
@timabbott I want to know about how can I test the changes related to this PR?

[2019-12-18 06:45] hackerkid commented on #12878
Going to close this. Feel free to reopen if I missed anything.

[2019-12-18 06:45] #12878 closed

[2019-12-18 07:07] hackerkid commented on #13533
@zulipbot claim

[2019-12-18 10:10] oktayaa commented on #7330
@stone212 I agree that we are getting off topic.

I am with you on this one personally. My vote would be on zulip integrating an open source solution or creating one themselves. The current solutions we have seem to be a stop gap measure. Or maybe it's out of scope for the team.

Cheers.

[2019-12-18 11:14] timabbott commented on #13549
Interesting!  Definitely worth investigating.

[2019-12-18 11:15] timabbott commented on #13547
OK, sounds like a live update issue with the left sidebar data structures in `static/js/pm_conversations.js`, likely in the logic for tracking yourself.  @hackerkid can you try reproducing?

[2019-12-18 11:16] timabbott commented on #13547
This may also be the cause of https://github.com/zulip/zulip/issues/13549.

[2019-12-18 11:48] showell commented on #13544
A couple more comments:

## Allow embedding too

Another use case, brought up by @hackerkid on Zulip, is embedding a single Zulip message into a blog post.  That would require a variation on the above idea combined with how Twitter lets you embed tweets.

## Url preview

We'd eventually want to support the url preview protocol here.  (I don't know much about url previews, to be honest, except that

[2019-12-18 11:51] hackerkid commented on #13547
@zulipbot claim

[2019-12-19 01:50] naveennvrgup commented on #13548
I have tried to reproduce this bug in the web client and native client for linux. But unable to repoduce it.
The feature works correctly for me.
Let me know if I can help in other way.

[2019-12-19 10:17] Vinit-Dantkale opened #13553 "vagrant up --provider=docker"
Im facing issue while setting up zulip using recommended way specifically with this command :
`vagrant up --provider=docker`
**Summary :**  I followed up issue #13124 though it didn't work. Also, looked online where it said vagrant is to be installed separately not with `gem install vagrant`. I tried that as well but does't work. Also, tried changing the permission for access to directory. My syst

[2019-12-19 10:49] nikomatsakis opened #13554 "user settings: cannot search users (too slow?)"
This may be a duplicate of https://github.com/zulip/zulip/issues/13192, but in the rust-lang Zulip org I literally cannot search through the list of users. This is a problem since it prevents me from "administering" successfully! What happens when I go to the list of users is as follows:

* Searching simply has no effect at all
* Scrolling is very, very slow, but I can (it seems) in principle scro

[2019-12-19 10:56] davidtwco commented on #13554
I'm able to reproduce this on Rust's Zulip instance, I get the following errors in the console:

[code]

[2019-12-19 14:02] spastorino commented on #13554
Scroll works ok for me, but I'm seeing the same error @davidtwco is seeing.

[2019-12-19 16:37] Hypro999 commented on #13467
There doesn't seem to be any testing needed for this particular issue because there is no feature that uses TrelloWebhookException as of yet (please do correct me if I'm wrong though - I've grepped through everything and couldn't find anything using it whatsoever)

Otherwise, this is what you could have done (I wrote this part before realizing that nothing uses this Exception class, so might as we

[2019-12-19 16:47] akornor commented on #13413
@zulipbot claim

[2019-12-19 16:51] sahil839 commented on #12898
@rishig @timabbott I think adding magnifying glass like widget will look better.
Can I start working on this and if yes what fix should be implemented of the above two mentioned above?

[2019-12-19 17:11] Hypro999 commented on #13467
I don't think that any automated tests need to be added for this PR. Some thorough manual testing should be just fine since I don't see this being something that can regress.

[2019-12-19 18:07] jishansingh commented on #11152
@zulipbot claim

[2019-12-21 03:58] #13553 closed

[2019-12-21 03:58] Vinit-Dantkale commented on #13553
Solved it. Thanks.

[2019-12-21 18:16] a-lunev commented on #6427
We also need this feature :) It would be great to have it.

[2019-12-21 18:37] a-lunev commented on #1555
In my opinion, this can be considered not as a workaround but as a right way (as a more general case): If you have talked with someone in a private stream (1-on-1) and assigned a topic, it means the conversation is mostly likely important and structured. Then some day you may want to add one more person to this conversation to collaborate. If it would be only PM channel, then it's not possible to

[2019-12-21 18:38] lelandhwu commented on #3868
@zulipbot claim

[2019-12-21 21:02] a-lunev commented on #10862
Would you please consider at least implement the following:
- for private messages use the same UI and approach that is already used for changing topic of a message in a stream (https://zulipchat.com/help/change-the-topic-of-a-message).
- allow this operation only for administrator

As I understand, this can be implemented not hard because most of UI already exists for this, including managing rig

[2019-12-22 00:45] lelandhwu commented on #3868
I am going to unclaim this issue as I feel as if it makes more sense for someone who uses Centreon often to tackle this issue. Otherwise I would appreciate any input.

As someone who does not use Centreon, I had to try setting it up. For VMs, you need virtualbox or vmware, the latter of which can be pricey if you don't normally use it (which I don't). A couple of issues I ran into when trying to d

[2019-12-22 04:52] a-lunev opened #13558 "feature request: Support topic hierarchy (or "topic groups")"
Would you please consider supporting topic hierarchy.
Channels are to group messages along user groups.
Topics are to group messages along a topic. However, it would be great to create an hierarchy of topics (main broad topics, and more detailed sub-topics inside of each main topic).

[2019-12-22 16:37] ryanreh99 commented on #13262
@zulipbot abandon
to work on another issue.

[2019-12-22 16:38] ryanreh99 commented on #526
@zulipbot claim

[2019-12-22 21:04] showell commented on #13192
I suspect there's huge opportunity for simple cleanups before going to a fancy data structure here.

I believe we're talking about `search_suggestion.get_suggestions_legacy` here.  It calls
`get_person_suggestions` 4 times here (sender/pm-with/from/group-pm-with).

[code]

Each call leads to this snippet, which is the same for all callers:
[code]

We can get an immediate 4x speedup (in that contex

[2019-12-22 21:20] showell commented on #13192
To summarize my last post:

* We can make stuff that happens 4N times happen N times literally by pushing some logic up the stack.
* We can make some logic that is O(N) become O(1) by pushing logic up the stack.
* We can make some logic that is O(N) not happen at all in search suggestions by computing some handy fields in `person` either in Python or at JS load time (such as splitting up names int

[2019-12-22 21:51] jmandel commented on #13192
Is there also an opportunity to apply some basic debouncing? If I'm continuously typing 5 keystrokes per second it would be nice to wait 100ms before evaluating. (Apologies if this has already been done, or already been decided against.)

[2019-12-23 00:29] andersk opened #13560 "After logging into mobile app with OAuth, same browser can’t log into webapp with OAuth"
The browser-based OAuth flow for the mobile app stuffs `mobile_flow_otp` into a session variable somewhere in Python Social Auth. If you then try to use the same browser to log into the webapp, the previous value of `mobile_flow_otp` leaks into the new authentication flow and you end up getting dumped back into the mobile app instead of logged into the webapp.

[2019-12-23 03:38] timabbott commented on #13560
Annoying.  @mateuszmandera FYI.  Likely the fix is to just figure out how to clear the `python-social-auth` session when we start an oauth flow.  I'm a bit surprised python-social-auth isn't doing this for us...

[2019-12-23 03:43] timabbott commented on #13192
Yeah, I agree with that.  I suspect that we'll want to do some looking at fancier data structures as well, but at the very least the 4N thing should happen first, and the `person` object calcuated field stuff should be meaningful too.  (Though I don't think doing those calculations in Python is right, as it'd add a bunch of bandwidth that's likely not worth it)

@showell are you interested in work

[2019-12-23 11:40] showell commented on #13192
Is there a reason we don't slice person suggestions with some large number, like 100?  I can't imagine people actually scroll down past the first 20 suggestions (actually 80ish); they probably keep typing, correct?

[2019-12-23 14:02] showell commented on #13192
@jmandel I don't think throttling is a great workaround here, since it will be painful for folks on small realms who are used to zippy updates in the suggestions.

I've started to work on this, and I think we can at least make a big dent in the problem:

https://github.com/zulip/zulip/pull/13561

[2019-12-23 16:18] sahil839 commented on #13548
@mateuszmandera  I am able to reproduce it.
I have a doubt that it is intentional because messages from muted streams also do not show in the view which is narrowed to stream of the muted topic.
I just wanted to confirm whether it is intentional or a bug before starting working on it.

[2019-12-23 17:38] jmandel commented on #13192
OK. I'd note that de-bouncing doesn't need to slow things down by more than ~50ms to be effective. Alternatively, could think about making searches interruptible and canceling stale searches when a "next" character is typed. Both of these approaches are orthogonal to "just make the search run faster, and keep doing O(n) searches for n keystrokes".

[2019-12-24 07:02] PragatiVerma18 opened #13562 "Add an open with gitpod badge in the readme."
Gitpod launches ready-to-code dev environments for your GitHub or GitLab project with a single click. Thus, having a direct Open with Gitpod badge would be good for the first time contributors and beginners with Zulip.

[2019-12-24 13:54] danielepesciallo opened #13565 "LDAP Authentication Issue"
Hello Everybody,
today i try to upgrade my Zulip Instance from 2.0.8 to 2.1.1.

After this, i'm not able to connect with my AD Credential.
This is my setting.py file:
``
AUTH_LDAP_SERVER_URI = "ldap://domain.name"

AUTH_LDAP_BIND_DN = "ldapzulip"
#auth_ldap_bind_password

AUTH_LDAP_USERNAME_ATTR = 'uid'
AUTH_LDAP_USER_SEARCH = LDAPSearch("ou=Users,dc=domain,dc=name",

[2019-12-24 18:41] EydenVillanueva commented on #13514
Hello, is anyone working on this?  Can I claim it ?

[2019-12-25 22:13] mateuszmandera commented on #13565
@danielepesciallo You have both ``LDAP_APPEND_DOMAIN`` as well as ``AUTH_LDAP_REVERSE_EMAIL_SEARCH`` (and related), which aren't meant to go together. Which configuration type is the intended one? A, B or C? (See https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory)
Also, please the relevant error from the logs (probably in ``/var/log/zulip/

[2019-12-26 00:05] danielepesciallo commented on #13565
Hi Mateusz, thanks for you reply!
I want to connect to my Zulip Instance by username (not username@domain or email address). So, i used the B configuration.

Before the upgrade, i was able to connect without any problem; after this, i can't connect to my instance.

In /var/log/zulip/errors.log i can't see any auth error log.

What is the best "settings.py" file for connect Zulip 2.1.1 to my Active

[2019-12-26 00:21] mateuszmandera commented on #13565
If you want LDAP_APPEND_DOMAIN mode, you should remove or comment out the reverse_email_search, username_attr and email_attr settings. Let me know if that fixes the issue. If it doesn't help, please try the query_ldap command (its mentioned in the doc i linked) to query for your username/email and post its output, it should tell us more about the problem.

-------- Original Message --------
On Dec

[2019-12-26 08:25] dubeyaayush07 commented on #12249
@zulipbot claim

[2019-12-26 09:01] jishansingh commented on #2278
hey @rishig i am trying to understand the issue but there are many other error that start popping like due to id's like 127.01 query selector did not get them without escaping period(.) is it fixed somewhere so i can focus on main issue that is changing topic of message instead of recipient row.
or i need to fix them too.

[2019-12-26 13:30] amartin3225 commented on #1555
I think this is true in some conversations but not others. It is also worth noting that if your Zulip instance is configured to only allow administrators to create new streams, creating a private stream for the two people would require an administrator to get involved which is too much of an administrative delay in my use case.

[2019-12-26 14:23] arpit551 commented on #13486
@zulipbot still working

[2019-12-26 16:45] sahil839 commented on #12835
@zulipbot claim

[2019-12-26 21:41] danielepesciallo commented on #13565
Hi,
i tried with your advice, but nothing.
Now my "settings.py" is this:
import ldap
from django_auth_ldap.config import LDAPSearch

AUTH_LDAP_SERVER_URI = "ldap://domain.name"
AUTH_LDAP_BIND_DN = "ldapzulip"

AUTH_LDAP_USER_SEARCH = LDAPSearch(
    "ou=Users,dc=domain,dc=name", ldap.SCOPE_SUBTREE, "(sAMAccountName=%(user)s)"
)

LDAP_APPEND_DOMAIN = "domain.name"  # type: Optional[str]

AUTH_LDAP_

[2019-12-26 21:46] mateuszmandera commented on #13565
@danielepesciallo That query_ldap output makes things seem like they're working :thinking: What exactly is the issue that's happening?

Can you also query_ldap for your email? (pesciallo@yourldapdomain rather than just pesciallo)

[2019-12-26 21:52] danielepesciallo commented on #13565
Yes, it's strange. I can't login in the web interface (Please enter a correct email and password. Note that both fields may be case-sensitive.)
I tried the query_ldap command with pesciallo@doman and it works

zulip@zulip:~$ /home/zulip/deployments/current/manage.py query_ldap pesciallo@domain.name
full_name: Pesciallo Daniele
first_name: Daniele
last_name: Pesciallo

On the web interface, i tried

[2019-12-26 21:58] mateuszmandera commented on #13565
Anything in ``/var/log/zulip/server.log``? You could grep for ldap
``grep -i ldap  /var/log/zulip/server.log``

[2019-12-26 22:10] danielepesciallo commented on #13565
There is nothing in /var/log/zulip/server.log that match with ldap (i tried with grep -i ldap /var/log/zulip/server.log)..

After that, i tried with `tail -f /var/log/zulip/server`
==> /var/log/zulip/server.log <==
2019-12-26 23:07:01.284 INFO [] Tornado 9993   0.0% busy over the past 60.0 seconds
2019-12-26 23:07:06.284 INFO [] Tornado 9993   0.0% busy over the past 60.0 seconds
2019-12-26 23:07:

[2019-12-26 22:13] akashaviator commented on #12277
@zulipbot claim

[2019-12-26 22:16] mateuszmandera commented on #13565
Considering that query_ldap is succesfully finding you when querying for "pesciallo", I'm at a loss how logging in could be failing with that username if the correct password of the AD user is being given.

1. Is the ``ZulipLDAPAuthBackend`` backend enabled in ``AUTHENTICATION_BACKENDS`` in ``/etc/zulip/settings.py``?
2. And is LDAP auth enabled for the realm? You can try in the django shell ``man

[2019-12-26 22:24] danielepesciallo commented on #13565
Yes, the ZulipLDAPAuthBackend is enabled:

AUTHENTICATION_BACKENDS = (
#    'zproject.backends.EmailAuthBackend',  # Email and password; just requires SMTP setup
    'zproject.backends.ZulipLDAPAuthBackend',  # LDAP, setup below
)

And this this is the LDAP auth:

zulip@zulip:~$ /home/zulip/deployments/current/manage.py shell
Python 3.6.9 (default, Nov  7 2019, 10:44:02)
Type 'copyright', 'credits

[2019-12-26 22:25] akashaviator commented on #12951
@zulipbot abandon

[2019-12-26 22:25] akashaviator commented on #12277
@zulipbot claim

[2019-12-26 22:47] mateuszmandera commented on #13565
Can you save this in ``zerver/management/commands/custom_command.py`` and run it ``manage.py custom_command``?

[code]
(change your password of course)

[2019-12-26 22:56] danielepesciallo commented on #13565
This is the output
[CustomCommandOutput.txt](https://github.com/zulip/zulip/files/4003590/CustomCommandOutput.txt)

Thanks!

[2019-12-26 23:19] mateuszmandera commented on #13565
That makes it seem like the user ``pesciallo@yourldapdomain`` doesn't even exist  in this realm? Can you run this version (I just added a print of the email for debugging and commented out the problematic attempt to fetch the user profile):
[code]

[2019-12-26 23:34] danielepesciallo commented on #13565
My Domain Name is dn.nm (it's an example), so my username on the domain is pesciallo@dn.nm
My Email address is @domain.name, for example, d.pesciallo@domain.name

I tried with your command and the result is "None"
[CustomCommandOutput.txt](https://github.com/zulip/zulip/files/4003645/CustomCommandOutput.txt)

With the previous version i was able to logged into Zulip only with "pesciallo".
Thanks

[2019-12-26 23:37] danielepesciallo commented on #13565
My Domain Name is dn.ne (it's an example), so my username on the domain is pesciallo@dn.ne
My Email address is @domain.name, for example, d.pesciallo@domain.name

I tried with your command and the result is "None"
[CustomCommandOutput.txt](https://github.com/zulip/zulip/files/4003646/CustomCommandOutput.txt)

With the previous version i was able to logged into Zulip only with "pesciallo".
Thanks

[2019-12-26 23:50] mateuszmandera commented on #13565
Ah, that would explain the confusing results I think. So, let me check that I understand this correctly. 1. Your sAMAccountName is ``pesciallo``?
2. The domain name is ``dn.ne`` (so it doesn't actually match the email address domain?)?
3. And your zulip account's email is ``d.pesciallo@domain.name``? Is this the value of the ``mail`` attribute of your account's entry in AD?

If this is (close to)

[2019-12-27 00:09] danielepesciallo commented on #13565
Correctly,
My sAMAccountName is pesciallo, my Domain Name is **dn.ne** and the value of my mail is in the `mail` attribute of my AD account :smile:

Ah ok :smile: , good :smiley:

[2019-12-27 00:19] mateuszmandera commented on #13565
Okay, let's try:
1. Set ``LDAP_APPEND_DOMAIN = None``
2. ```
AUTH_LDAP_REVERSE_EMAIL_SEARCH = LDAPSearch("ou=Users,dc=domain,dc=name",
                                   ldap.SCOPE_SUBTREE, "(mail=%(email)s)")
[code]
4. ``LDAP_EMAIL_ATTR = "mail"``

I'm assuming ``mail`` is correct name of the attribute that has email addresses of users in AD.

[2019-12-27 00:26] mateuszmandera commented on #13565
For verification, ``query_ldap`` should correctly find your AD info when queried both with your ``sAMAccountName`` value and your email address.

[2019-12-27 02:20] XAMPPRocky commented on #13484
I don't know if that's needed, currently no styling is applied. You could easily test this with sending email to the gateway with bolding and it will be unbolded in Zulip.

[2019-12-27 02:35] XAMPPRocky opened #13571 "Short/Vanity Stream Email Addresses"
Currently stream email addresses for streams are something like `general.abcd1234@example.zulipchat.com`, however the `.abcd1234` makes impossible to easily type from memory. I understand that the `.abcd1234` probably exists to prevent email abuse, however it would be nice if there was a way to provide a shortened or alternative email address that people can easily remember so that's easy to input

[2019-12-27 06:20] dubeyaayush07 commented on #12249
@zulipbot abandon

[2019-12-27 11:43] Tlazypanda commented on #13480
@timabbott @hackerkid Is this issue still available?

[2019-12-27 13:35] Tlazypanda commented on #13425
@timabbott @hackerkid Can you elaborate more on what needs to be done?

[2019-12-27 14:03] hackerkid commented on #13480
@Tlazypanda There ia recent PR open for this. Probably try some other issue.

[2019-12-27 15:51] jishansingh commented on #2278
@zulipbot claim

[2019-12-27 17:31] #13536 closed

[2019-12-27 18:20] danielepesciallo commented on #13565
Hi Mateusz,
sorry for my late reply...

So, i tried with your advice, but nothing, i can't connect to my instance.

I attach my settings.py file..

[settings.txt](https://github.com/zulip/zulip/files/4005971/settings.txt)

The query command find correctly my AD info with sAMAccountName and my email address.

Thanks,

Daniele

[2019-12-27 18:42] saksham-kapoor commented on #1286
@zulipbot claim

[2019-12-27 18:56] saksham-kapoor commented on #4240
@zulipbot Claim

[2019-12-27 18:57] saksham-kapoor commented on #4240
@zulipbot claim

[2019-12-27 19:52] Tlazypanda commented on #13261
@hackerkid @timabbott Is this issue still available?

[2019-12-27 21:21] saksham-kapoor commented on #4240
@zulipbot claim

[2019-12-27 21:52] Tlazypanda commented on #12611
@timabbott @hackerkid Is this issue still available?

[2019-12-27 22:56] mateuszmandera commented on #13565
Did you restart the server after changing settings? Are you getting the same error still when trying to log in? And can you check server.log and errors.log again?

``"username": "sAMAccountName",`` shouldn't be in AUTH_LDAP_USER_ATTR_MAP I think

[2019-12-27 23:59] mateuszmandera commented on #13571
Currently the ``.abcd1234`` is actually the important one - it's the unique token by which the target stream is identified. One challenge regarding short addresses is that, especially on a big installation with lots of realm like zulipchat.com, would be "collisions" in the short addresses - many organizations have ``general`` channel and many may want ``general@stream.zulipchat.com``.
That could b

[2019-12-28 00:02] mateuszmandera commented on #13565
In addition to the previous question, did you perhaps change email visibility settings for the organization? We had a bug there that's now fixed.

[2019-12-28 01:16] shubhamgupta2956 commented on #12800
@aero31aero @zardyh is this issue available? I had seen one PR referenced to it, and it had also reviewed but not yet merged.

[2019-12-28 04:51] aero31aero commented on #12800
@shubhamgupta2956 that PR solves this issue.

[2019-12-28 06:30] rushikesh90 commented on #1657
@zulipbot claim

[2019-12-28 06:32] rushikesh90 commented on #1657
@timabbott Does this issue still under good first issues? I see reference to #1624 and #1619

[2019-12-28 12:55] shubhamgupta2956 commented on #3490
@hackerkid is this issue still available?

[2019-12-28 13:02] shubhamgupta2956 commented on #3128
@rishig is this issue still available? I saw some of the checkboxes yet unmarked.

[2019-12-28 13:10] shubhamgupta2956 commented on #2284
@timabbott is this issue still available?

[2019-12-28 14:31] showell commented on #13571
I think it's somewhat unlikely that we're gonna change the actual emails.  I'm wondering if there's some kind of workaround like we could email you the "contact info" for the stream from the stream settings page.

[2019-12-28 14:49] showell commented on #13554
I can reproduce the error on czo: "TypeError: a is undefined".  Investigating now.

[2019-12-28 15:42] showell commented on #13554
I'm fixing the worst symptom in #13582.   I'm seeing if there are some easy ways to address some of the other stuff, too.

[2019-12-28 19:24] timabbott commented on #13554
I merged #13554 which fixes the most critical bug, but we should look at using the same sort of prefix-based name search logic we use elsewhere here (and also at scrolling perf, etc.).  Might make sense to split this to a few issues for the different pieces.

[2019-12-28 19:50] timabbott opened #13583 "Fix historical New User Bot messages to be sent by Notification Bot"
In 656f882a44b2a29414aafe22d724a09c493f1468, we eliminated NEW_USER_BOT, which was basically a duplicate of NOTIFICATION_BOT with a different identity.  What we should have done at the time was added a database migration to move all messages sent by the NEW_USER_BOT cross-realm bot to have been sent by `NOTIFICATION_BOT` instead, and then delete `NEW_USER_BOT`.

This will fix a bug that causes `NE

[2019-12-28 19:53] mateuszmandera commented on #13583
@zulipbot claim

[2019-12-28 20:10] timabbott opened #13584 "Dump `update-prod-static.log` after failures in `update-prod-static`"
It's common for networking or resource issues on a Zulip server during `upgrade-zulip-from-git` to result in `update-prod-static` failing.  We should make it a lot easier to see those errors and self-service debug.  See https://chat.zulip.org/#narrow/stream/31-production-help/topic/Upgrade.20from.202.2E1.2E0.20to.202.2E1.2E1.20failed/near/804160.

I'm not sure what the best model is; maybe it's `t

[2019-12-28 21:30] danielepesciallo commented on #13565
Hi,
so, i removed "username": "sAMAccountName" and i've added AUTH_LDAP_USERNAME_ATTR = "sAMAccountName".

After that, i restarted the server (su zulip -c '/home/zulip/deployments/last/scripts/restart-server')

Now, on the server.log, i see this error when i try to log in:

2019-12-28 22:22:53.904 INFO [zr] 172.17.36.24      POST    200  53ms (db: 4ms/3q) /accounts/login/ (unauth via ?)

About zul

[2019-12-29 10:14] preetmishra commented on #13584
@zulipbot claim

[2019-12-29 10:18] preetmishra commented on #13584
@timabbott I would like to work on this. Is it possible as a new contributor?
-------------------------------------------------------
I think I have sort of figured out what to do.
![Screenshot from 2019-12-29 15-47-36](https://user-images.githubusercontent.com/43616959/71555460-9d1f9900-2a52-11ea-8b75-931e57c6184f.png)

[2019-12-29 11:40] shubhamgupta2956 commented on #12738
@ArturGajowy @timabbott is this issue still available?

[2019-12-29 16:05] vaibhavrajsingh2001 commented on #13520
@timabbott can I work on this? Some sort of difference between group and private conversations would be a nice addition.

[2019-12-29 19:25] shubhamgupta2956 commented on #12853
@rishig is 2nd part of this issue still available? If yes, I want to know, is any hover effect previously decided for this or I can implement any random hover effect?

[2019-12-29 20:19] shubhamgupta2956 commented on #12532
@rishig @namannimmo10 is this issue still available? I had seen a PR related to this issue but was not sure about it as it was not merged yet.

[2019-12-29 20:25] namannimmo10 commented on #12532
Yes. You can work on this issue. Just claim it :)

[2019-12-29 21:45] mateuszmandera commented on #13565
Can you try this command with the current settings:
[code]
setting the password an email values correctly. The email should be your email in AD (so it should match the ``mail`` attribute of your AD entry).

Same way as before, save it in ``zerver/management/commands/custom_command.py`` and run ``manage.py custom_command``.

[2019-12-29 22:18] shubhamgupta2956 commented on #12532
@zulipbot claim

[2019-12-29 22:20] shubhamgupta2956 commented on #12532
I am working on this issue as my old issue is complete but its PR is not yet merged. Thanks @namannimmo10

[2019-12-29 23:01] rushikesh90 commented on #13565
Just for suggestion, if you have access to AD, try getting wireshark traces. It might help if any wrong query is being sent.

[2019-12-30 00:47] andersk commented on #12738
I’m not sure this is a change we want to make (see Tim’s comment above), but FWIW, the scrollbar in question is referred to as horizontal, not vertical.

[2019-12-30 18:14] timabbott commented on #13539
The intent is that we'll be adding a "Stream administrator" permission to manage ownership of streams.

And there are also plans to have a feature to sync stream membership from LDAP.

[2019-12-30 18:17] timabbott commented on #12853
Yes, it is.  We don't have a specific hover behavior in mind, but you should do something that feels consistent with the design for the rest of the landing pages part of the site.

[2019-12-30 18:18] timabbott commented on #13584
This is possible for a new contributor to work on, but you'll need to setup a production system for testing, since the code path we're concerned with is the call from `upgrade-zulip-from-git`, not `build-release-tarball`.

[2019-12-30 18:22] timabbott commented on #3128
Yes, it is.

[2019-12-30 21:31] mateuszmandera commented on #13548
@sahil839 It certainly shouldn't be the case to have a mismatch between the displayed message count and actual amount of message displayed there. Whether we want to show starred messages from muted topic in the "starred messages" view, I'm not sure, though personally I'd expect to have them displayed.

@timabbott What should be the intended behavior here?

[2019-12-31 01:21] timabbott opened #13588 "Rename `subject_links` to `topic_links` in our API"
This is an element of the broader `subject` -> `topic` migration (see #1192) that should be straightforward to change, because I believe the mobile apps don't access `subject_links` yet, so there's no compatibility work required.  (What the data is used for in the webapp is the little in-topic-field links we show when there is a link or linkifier matching the topic line of the message).

@gnprice

[2019-12-31 02:06] gnprice commented on #13588
We don't usefully *use* that field, but it looks like we do access it. ... But I think the impact of it going missing would be limited to us sometimes recreating it in our internal data structures, with a value of `undefined`.

Specifically, there's this in `src/message/messagesReducer.js`:
[code]

That's in the handler for `update_message` events. We're maintaining the `subject_links` property on

[2019-12-31 02:10] jonasgalli commented on #1877
Hello, I just joined the community and started looking for issues to help with, and seems like this old one can be closed.

I tried to reproduce locally but was not able to, looks like things changed a lot already.

Can anyone please confirm if this can be closed?

[2019-12-31 03:38] arpit551 commented on #13486
@zulipbot claim

[2019-12-31 06:06] gnprice commented on #13286
Another wrinkle: on zulip/zulip-mobile#3732, we learned that the form accepting user IDs here (rather than emails) was new with server version 2.0.

That information should be in the docs; lacking it led us to ship versions of the mobile app where typing-status notifications just don't work on older servers. In general, in cases where using the API as documented will produce error responses on old

[2019-12-31 08:45] preetmishra commented on #13584
I don't quite understand that in which file the changes are supposed to be made. I looked into `upgrade-zulip-from-git` but I couldn't find anything related to `update-prod-static` failing.
Is this not something to contribute to, if I am just starting?

[2019-12-31 10:37] akashaviator commented on #12277
@timabbott @penCsharpener what is {id} here exactly ? The UserProfile model does not have a field 'id' or 'user_id' ?

[2020-01-01 13:46] Radio-Quergedacht opened #13593 "How can I incorporate the data protection declaration"
How can I integrate the data protection declaration? and the gbr cookies

[2020-01-01 14:12] Radio-Quergedacht opened #13594 "zulip Social Medien Login and Register"
how can I integrate a social media login and register into zulip

[2020-01-01 20:50] danielepesciallo commented on #13565
Hi Mateusz,
this is the output:

`zulip@zulip:~$ /home/zulip/deployments/current/manage.py custom_command
Attempted email: d.pesciallo@domain.name
User email: d.pesciallo@domain.name is_active: False
result: None
return_data:{}
result: None
return_data:{}
`

Thanks!

[2020-01-01 22:46] mateuszmandera commented on #13565
@danielepesciallo Your user account is deactivated for some reason - my guess would be that you have syncing with LDAP set up? Because with the ldap configuration causing failure to find the account in AD, syncing would have deactivated it. In that case, all other user accounts probably got deactivated. But this is very easy to fix.

First you can reactivate yourself and confirm that you can log i

[2020-01-01 22:55] danielepesciallo commented on #13565
Yes, now it works! I'm able to connect with my AD account!

Thanks for all!! :smile:

[2020-01-01 22:58] mateuszmandera commented on #13565
Great news!

Summary for anyone looking through the issue in the future - the problem was some misconfiguration of the ldap settings, which just required fixing and then a bit extra cleanup to reactivate user accounts that got deactivated by ldap sync due to not finding the corresponding accounts in AD>

@danielepesciallo @timabbott Can one of you close the issue?

[2020-01-01 23:01] mateuszmandera commented on #13594
Have you already looked through https://zulip.readthedocs.io/en/latest/production/authentication-methods.html ?

[2020-01-02 12:37] dubeyaayush07 commented on #12951
@zulipbot claim

[2020-01-02 18:59] ReubenDsouza commented on #10539
@zulipbot claim

[2020-01-02 20:00] timabbott commented on #13549
I suspect this was fixed by https://github.com/zulip/zulip/pull/13595.  @showell FYI.

[2020-01-02 20:00] #13549 closed

[2020-01-03 02:33] gnprice commented on #13560
:open_mouth: Thanks @andersk for pinning that down! I'm pretty sure I've run into that behavior before, and been annoyed by it.

[2020-01-03 07:12] orientor commented on #12249
@zulipbot claim

[2020-01-03 13:02] NitinBhasneria commented on #3128
@timabbott Can I work on this issue?

[2020-01-03 13:12] NitinBhasneria commented on #3917
@hackerkid Is this issue available?

[2020-01-03 13:22] NitinBhasneria commented on #4549
@zulipbot Is this issue available? If yes, @zulipbot Claim.

[2020-01-03 13:52] NitinBhasneria commented on #5273
@zulipbot claim

[2020-01-03 13:53] NitinBhasneria commented on #5273
@timabbott Can you please tell me know about the remaining work on this issue?

[2020-01-03 14:02] eduherraiz opened #13603 "Unable to search after upgrade 2.1.1"
Hello,

We recently upgrade from 1.9.0 to 2.1.1 and now we can't search.
The request return a 500 error:
https://zulip-host/json/messages?anchor=10000000000000000&num_before=50&num_after=50&narrow=%5B%7B%22negated%22%3Afalse%2C%22operator%22%3A%22search%22%2C%22operand%22%3A%22test%22%7D%5D&client_gravatar=true

On server logs we can see:
[code]
We tried:
1. Restart service. No change
2. Try to ap

[2020-01-03 17:21] NitinBhasneria commented on #3865
@zulipbot claim

[2020-01-03 18:51] timabbott commented on #13603
@eduherraiz thanks for the report!  We haven't gotten similar reports.  What OS and postgres version are you using with your Zulip server?

@andersk FYI; this feels likely to be a postgres version issue with the `tsearch_extras` replacement with raw SQL.

[2020-01-03 19:49] timabbott opened #13604 "Fix"

[2020-01-03 19:52] timabbott opened #13605 "Fix "private messages" widget frequently rerendering and losing scroll position"
We got this report from a user:

I think what's going on is "Private messages" is rerendering periodically (specifically, I think every time we get new presence data from the server), and that's resetting the scrollbar.  I'm aware of the rerendering behavior because it is super annoying when using "Inspect elements".

I'm not sure what the best fix is; we could potentially avoid doing a rerender a

[2020-01-03 20:01] kenickeo commented on #13548
@sahil839 Are you still intending to take on this issue?

[2020-01-03 20:06] NitinBhasneria commented on #13605
Hey, @timabbott I am new in contributing and I can't find an issue match for me. Can I work on this?

[2020-01-03 20:19] shubhamgupta2956 commented on #12532
@rishig I have found that the previous color of the sidebar (now simplebar) is hsl(0, 0%, 38%). To change color for some particular page, I have to add an inline style tag or make another class to change its properties. The only problem is that I can't find the exact file to be changed. Can you please tell me about where to look for it.

[2020-01-03 22:32] timabbott commented on #13548
I think correct behavior should be to show starred messages even if they're in a muted stream/topic.  You've taken explicit action to indicate you're interested in that specific message, and that should override the more general setting of muting on the stream/topic level.

We may need to take some care to modify the search backend to support doing this correctly.

[2020-01-03 22:32] timabbott commented on #13548
Tagged this as "difficult" since I think it'll require some search backend expertise to resolve correctly.

[2020-01-03 22:54] #13604 closed

[2020-01-03 22:54] timabbott commented on #13604
This seems to have been opened by a GitHub bug.

[2020-01-03 22:55] #13594 closed

[2020-01-03 22:55] timabbott commented on #13593
You can do this via the `TERMS_OF_SERVICE` setting.

[2020-01-03 22:55] #13593 closed

[2020-01-03 23:34] hashirsarwar commented on #13605
@zulipbot claim

[2020-01-04 00:13] Radio-Quergedacht commented on #13593
Where can I find the terms of use and data protection and since I am from Germany how can I add an imprint

[2020-01-04 00:56] #13504 closed

[2020-01-04 02:04] timabbott commented on #13593
If you're self-hosting, you need to provide your company's ToS and data protection terms.  I don't think we currently have a setting for adding an imprint, but we'd happily merge a PR that added an option for it.

[2020-01-04 02:55] Radio-Quergedacht commented on #13593
I would like to expand the footer area for data protection and imprint where I can find this file that I can change sorry my english is not perfect

[2020-01-04 03:19] sahil839 commented on #13548
@kenickeo you can work on this. I am currently working on other issue.

[2020-01-04 04:50] kenickeo commented on #13548
@timabbott This would be my first issue.  I know this issue is more difficult than the typical "new issue", but can I have your permission to work on this issue first?

[2020-01-04 13:34] showell opened #13609 "Make `get_search_result` more like `get_search_result_legacy`."
Once #13599 gets merged, we will want to make `search_suggestion.get_search_result` look more like `search_suggestion.get_search_result_legacy`.  This means extracting `filterers`, `get_people`, and `get_groups`.

This might not be a great issue for beginners, but a beginner should be able to do this by reading the two functions carefully and looking at some of the recent commits on `search_sugges

[2020-01-04 13:52] showell commented on #13605
@hashirsarwar Be sure to ask questions on https://chat.zulip.org/#narrow/stream/6-frontend if you get stuck here for any reason.

I think the gist of this change is that we're going to want to replace the calls to `pm_list.update_private_messages()` inside of `activity.js`.  Instead of calling `update_private_messages`, we'll want a new function that's something like `pm_list.update_presence_info`

[2020-01-04 14:02] showell commented on #13605
Here's a good place to discuss the change:

https://chat.zulip.org/#narrow/stream/6-frontend/topic/Private.20Messages.20updates

[2020-01-04 18:11] hashirsarwar commented on #13605
Thank you for the explanation! That's really helpful.

[2020-01-04 18:11] hashirsarwar commented on #13605
Okay, will do. :blush:

[2020-01-04 21:42] kenickeo commented on #13548
@zulipbot claim

[2020-01-04 22:27] kenickeo commented on #12725
@zulipbot claim

[2020-01-04 23:02] luxaritas commented on #8040
Is the ability for an administrator (or ideally, a "moderator" with limited capabilities?) to globally mute a user (perhaps for some limited period of time) in scope here? Is that worth another issue?

[2020-01-05 12:59] shubhamgupta2956 commented on #3128
@NitinBhasneria I am currently working on the first part of the issue.

[2020-01-05 13:59] shubhamgupta2956 commented on #12853
@timabbott I have added a box-shadow to tour card for now as I have seen two effects on that page i.e., box-shadow and border and border look somewhat weird on it

[2020-01-05 20:59] kenickeo commented on #12725
@rishig If I understand this issue correctly, it seems that it has already been resolved when I reproduce the issue?  Is this a correct?

[2020-01-05 21:37] kenickeo commented on #12725
@zulipbot unclaim

[2020-01-06 06:42] timabbott commented on #13192
@jmandel I just deployed to production the series of changes already merged to master for search typeahead performance; can you let us know what you think?  I didn't notice any issues on chat.fhir.org now, but I also have a very fast computer.

[2020-01-06 07:51] codebit-de opened #13612 "Restore fails: tsearch_extras.control missing"
Hi,
i want to migrate our Zulip-System to a new server (Debian 9->Debian 10). I've installed the server according to your docs (Step1, Step2) without problems. Bur the restore-process fails with the following message:

[code]
[full_output.txt](https://github.com/zulip/zulip/files/4025133/full_output.txt)

The version is 2.1.1 for both systems (Backup und Restore).

[2020-01-06 09:38] codebit-de commented on #13612
Fixed it for myself: The outdated extension "tsearch_extras" must be uninstalled:
[code]

After that, the backup mus be created again and now the restore works.

[2020-01-06 09:45] krsatyam01 opened #13613 "Unable to sign in to zulip desktop app using google account"
I am facing issues when I try to sign in to zulip desktop application using google. Google throws a message "This browser or app may not be secure"
I was able to sign in earlier.

I am using zulip version v2.3.82.

[2020-01-06 15:52] jmandel commented on #13192
Looks great on my laptop as currently deployed!

[2020-01-06 16:58] jiviteshjain commented on #12898
@zulipbot claim

[2020-01-06 18:27] timabbott opened #13616 "Add setting for who can post to announcement-only streams"
One common use case of announcement-only streams is anti-accidental-spam; basically, making to hard for new users who are still figuring out Zulip and the new community to accidentally post to a stream generally reserved for announcements.

We currently offer two methods for helping with this problem:
* Limiting who can post to administrators
* Anyone can post, but if a stream named  "announce" ha

[2020-01-06 20:04] timabbott commented on #13192
Great!  Do you folks notice any lag when trying to mention users with the compose box typeahead?  That component is missing some of the improvements we have made to search.

[2020-01-06 20:14] jmandel commented on #13192
Compose box behavior works without a hiccup for me.

[2020-01-06 20:20] timabbott commented on #13613
The issue is that Google started blocking a wide range of User-Agent values from Google authentication.  We're working on a change to how Google auth is done in the desktop app for Zulip to solve this properly.

[2020-01-06 20:21] timabbott commented on #13613
We might as well use this thread for tracking the issue, since I'm not sure we had one previously.

[2020-01-06 20:24] timabbott commented on #13613
Also you should manually upgrade to the latest app; v2.3.82 is very old.  See https://zulipchat.com/apps to download.

[2020-01-06 20:25] timabbott commented on #13612
Thanks for the report.  @andersk I believe that this is a bug and we should add a migration to drop the `tsearch_extras` extension if it exists?

[2020-01-06 20:54] kasthuri28 commented on #6342
@zulipbot claim

[2020-01-06 22:27] #13565 closed

[2020-01-07 06:08] kasthuri28 commented on #6342
@zulipbot I would like to know how can I get the code to work on this issue as I am contributing something for the first time.

[2020-01-07 07:41] codebit-de opened #13620 "SAML: /saml/metadata.xml shows 'invalid_xml' (but works)"
I've configured the integrated SAML-Authentication (with authnRequestsSigned=true). It works fine (thanks for the great work), but our metadata.xml shows no output: just 'invalid_xml'

Here is the Log-Output:
[code]

It seems there are difficulties displaying our public-cert.

[2020-01-07 08:34] eduherraiz commented on #13603
We are using Ubuntu 16.04 (dist-upgraded from 14.04)
And postgresql postgresql-9.5 upgraded on the same time we dist-upgrade to 16.04.

[2020-01-07 08:57] eduherraiz commented on #13603
It seems that we have the extension installed:
[code]

[2020-01-07 10:49] eduherraiz commented on #13603
We tried to remove the unused extension on database but the problem still occurs:
[code]

[2020-01-07 20:37] andersk commented on #13603
Hmm. I’ve verified that search works in a production install on Ubuntu 16.04 with postgresql-9.5 9.5.19-0ubuntu0.16.04.1, so it must not be as simple as a version compatibility issue.

[2020-01-07 20:40] timabbott commented on #13620
@mateuszmandera can you look into this?

I think the issue might be that your certificate is expected to be base-64 encoded by the validator, but isn't?  It's not clear to me where that encoding is supposed to happen (should code be doing it, ).

[2020-01-07 21:07] timabbott commented on #13565
Also worth noting that we added e81aa740bc57c2bb5ec124ed0e37d79ef7da47c2 to avoid that category of misconfiguration resulting in every user being deactivated.

[2020-01-07 21:10] timabbott commented on #8040
Not for this, but it could be a follow-up.  That said, I would expect many moderators/administrators to just deactivate the accounts of problematic users rather than globally muting them permanently.

[2020-01-07 21:18] andersk commented on #13603
I also verified that the exact `/json/messages` URL from your report works for me, and the exact SQL query shown in your error message executes successfully for me.

@eduherraiz Can you try running this query in the `psql` command line to make sure we’re on the right track to narrowing down the issue? Also include the output of `SELECT version();` to verify that the right PostgreSQL version is run

[2020-01-07 21:24] #12904 closed

[2020-01-07 21:43] timabbott commented on #5377
Closing, since we finished our webpack migration last year.

[2020-01-07 21:43] #5377 closed

[2020-01-07 21:53] timabbott opened #13622 "Improve colors for "message edit history""
From https://chat.zulip.org/#narrow/stream/137-feedback/topic/editing.20highlights/near/807040, "The green color over the gray color of the letters to show the new inserted text in the message editing is great to be read, however it is very difficult to read the text with the pink color that shows the erased one."'.

I'm pretty sure we never spent time on those colors, so I'm sure they could be im

[2020-01-07 23:30] andersk commented on #5377
sockjs still has not been migrated (#11250) or otherwise disposed of (#12862).

[2020-01-08 01:18] timabbott opened #13625 "Fix duplicate code in "Other settings" section of "Organization Permissions""
The changes in `settings_org.js` to 272ed9068590e575e09c5abaeffca48040164873 provide a pretty good example of the duplicated code I have in mind; we have this awkward process where `get_property_value` and `build_page` basically do this mapping between human-readable and machine-readable descriptions of settings.  I think the similar `email_address_visiblity` setting has something closer the right

[2020-01-08 01:22] timabbott commented on #13625
@pragatiagrawal31 FYI in case you're interested in this.

[2020-01-08 01:41] drrosa commented on #10670
@zulipbot claim

[2020-01-08 01:50] timabbott commented on #6617
I posted a PR for the alpha version here: https://github.com/zulip/zulip/pull/13626

I think it's more or less ready to go once tests pass.

I expect we'll want to open new issues for follow-up improvements to better hint to users that you can't send private messages to other users; without having used this in real life, though, I'm not sure what those changes should be.  For that reason, we'll ad

[2020-01-08 02:02] #13467 closed

[2020-01-08 02:12] kenickeo commented on #13616
@zulipbot claim

[2020-01-08 03:52] kenickeo commented on #13616
@zulipbot claim

[2020-01-08 09:35] eduherraiz commented on #13603
Hello @andersk,

Thank you so much for your efforts.
The version of postgresql 9.5 was installed but not correctly upgraded. My fault! :-D
Was necessary to do a extra steps to upgrade like:
[code]
Zulip and the search is working again.

[2020-01-08 09:35] #13603 closed

[2020-01-08 10:29] mateuszmandera commented on #13620
Perhaps the  X509 public certificate in your ``/etc/zulip/saml/zulip-cert.crt`` is in some non-standard format that the metadata generator isn't expecting?

[2020-01-08 11:47] anushaharish538 opened #13630 "Unable to retrieve API Key when SAML authentication is used."
Hi,
I'm using Saml authentication method. I'm unable to retrieve API.

[2020-01-08 15:03] ajkerzner opened #13634 "CSS issue with /me and code"
<img width="269" alt="color_mismatch_example" src="https://user-images.githubusercontent.com/11799692/71987610-8c161b00-31fc-11ea-9b30-edebee5fe281.png">

When using `/me`, inline code blocks have the wrong CSS styling. Also lacking is dark-mode coloring.

Styling for the containing `<span>` element:
[without_me.txt](https://github.com/zulip/zulip/files/4035862/without_me.txt)
[with_me.txt](https:

[2020-01-08 17:42] Bhanu-mbvg commented on #13622
@zulipbot claim

[2020-01-08 18:35] sahil839 commented on #12835
@zulipbot I am currently working on this issue.

[2020-01-08 21:22] timabbott opened #13636 "Improve wording for mention @all notice"
See https://chat.zulip.org/#narrow/stream/137-feedback/topic/Mentioning.20.60all.60/near/807251 for some background.  We should at least make clear that mentioning these users will send them email/push notifications (either through directly saying so, or having a link to the /help/ article explaining mentioning).  And we should make it clear what you need to change in your message as well.

(We al

[2020-01-08 21:23] donShakespeare commented on #6617
Brilliant! I think Zulip is wonderfully addressing some crucial privacy issues here.

[2020-01-08 21:41] timabbott commented on #13634
Thanks for the report!  My guess is some sort of CSS scoping issue.

@synicalsyntax

[2020-01-08 21:49] #13634 closed

[2020-01-08 21:52] timabbott opened #13637 "Fix bugs involving lack of a `.message_content` element in /me messages"
Following up on #13634, I think that we likely have some bugs in handling of `/me` messages, which currently in their HTML templates don't have a `message_content` class around the message content (instead, having `rendered_markdown status-message` on those elements).

At least, `git grep [.]message_content static/js/ | wc` returns 30 matches, and many of those don't seem to consider a `.status-me

[2020-01-08 21:52] timabbott commented on #13634
I opened https://github.com/zulip/zulip/issues/13637 after fixing this.

@vrongmeal FYI; can you check that your message templates redesign PR handles this issue correctly?

[2020-01-08 22:01] timabbott commented on #13630
This is a duplicate of https://chat.zulip.org/#narrow/stream/3-backend/topic/SAML.20Auth/near/807187.

Users who are authenticating via SAML can fetch a Zulip API key using the normal flows in the web or mobile apps without modification to Zulip.

There's no issue with Zulip here; we don't have an API endpoint to fetch a user's API credentials without providing authentication, which is what you se

[2020-01-08 22:01] #13630 closed

[2020-01-08 22:02] #13609 closed

[2020-01-08 22:15] timabbott opened #13638 "Prevent inconsistencies between get_cross_realm_dicts and get_raw_user_data"
We've had some issues with inconsistencies between in the dictionary format for `get_raw_user_data` and `get_cross_realm_dicts`, including in 630aadb7e077a857bb3940a404dacc8b1740f6a5.

We should make that category of error impossible.  I see a few paths forward:
* Deduplicating the code by having `get_cross_realm_dicts` call a part of `get_raw_user_data` as a subroutine.  (Maybe via extracting its

[2020-01-09 05:12] timabbott commented on #5377
Yeah, but I think our plan for SockJS is to dispose of it.

[2020-01-09 05:20] dubeyaayush07 commented on #13638
@zulipbot claim

[2020-01-09 05:21] dubeyaayush07 commented on #12951
@zulipbot  abandon

[2020-01-09 05:21] dubeyaayush07 commented on #13638
@zulipbot claim

[2020-01-09 05:23] timabbott commented on #13533
@hackerkid I think given what has been done so far and is in #12862, can you work on deleting the feedback bot system?

[2020-01-09 07:37] dubeyaayush07 commented on #13638
@timabbott I am planning on using default arguments for the `get_raw_user_data` variables that were used in `user_data ` method while extracting the helper method. Is it okay or should I try a different approach.

[2020-01-09 09:32] sirshikher opened #13639 "After Integrating zulip with our application,how to skip login after redirecting from any application to zulip?"

[2020-01-09 10:10] gauravthapar commented on #13080
claim

[2020-01-09 10:10] gauravthapar commented on #13080
@zulipbot claim

[2020-01-09 19:15] chrisbobbe commented on #11767
Interestingly, on sequences of repeated ZWJ emoji, the first one is displayed incorrectly, but the rest are correct, as seen in a sequence of doctors in [this message](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/ZWJ.20sequence.20emoji/near/807658) in the web app:

![image](https://user-images.githubusercontent.com/22248748/72094816-11b4cc00-32cc-11ea-9607-95b79f414c33.png)

and the

[2020-01-09 19:26] chrisbobbe commented on #11767
Related issues are https://github.com/zulip/zulip/issues/992 and https://github.com/zulip/zulip-mobile/issues/1746, but I think these are more about adding capabilities to Zulip Markdown to parse sequences of emoji names, e.g., `:emoji_name::skin-tone-n:` into their combined HTML/CSS forms and making sure the sprite sheet supports the required images. This issue is about Unicode emoji.

[2020-01-09 22:41] chrisbobbe opened #13642 "Mobile web: Small bugs in the three buttons on viewing a message"
In mobile web, there are two small bugs in the three buttons on the right of a message view in the message list (adding a reaction, viewing a menu with more actions, and starring/unstarring). They can probably be fixed in a single PR, which is why I'm opening a single issue (but let me know if it should have been two).

* [x] First bug (fixed in #26283)
First is that these buttons, when visible, o

[2020-01-10 09:22] hedonhermdev commented on #12951
@zulipbot claim

[2020-01-10 10:48] Bhanu-mbvg commented on #13622
Hey, can I get to know what are the new proposed color codes for day and night themes?

[2020-01-10 13:18] sahil839 opened #13644 "Edit bot from does not closes after clicking save button"
To reproduce-
1. Open settings and go to `Your Bots`.
2. Click on the `edit` icon on one of the bot cards and edit some information in the form.
3. Click the save button on the edit form.

The form does not close on clicking the save button.
The form should close once the save button is clicked and the server acknowledges that the save is successful.

[2020-01-10 17:16] Abijith10 commented on #6342
@kasthuri28 You cannot claim a issue that has been already claimed by someone, find some other issue to fix.

[2020-01-10 19:01] priyanshu-09 commented on #13261
@zulipbot claim

[2020-01-10 19:09] priyanshu-09 commented on #13375
@zulipbot claim

[2020-01-10 21:24] vaibhavrajsingh2001 commented on #13636
@zulipbot claim

[2020-01-11 05:13] luxaritas commented on #10552
I certainly find Discord’s channel grouping useful where I can collapse an entire group. When collapsed it will show only channels with unread topics (unless the whole category is muted), which I think is the best approach. In most small to mid size channel-based chats I’ve been in, there are often a fair number of channels (and for good reason) but it’s not uncommon for only a few to be active at

[2020-01-11 05:33] Phfas opened #13645 "Guest invite grants permission to additional unselectable stream"
Hello,
The guest invite feature on both a self hosted install and chat.zulip.org will grant permissions to any selectable stream as well as a hidden stream. On a self-hosted install it would grant the `#general` stream and in chat.zulip.org it will grant the `#announce` stream. When configuring the guest invite, neither of these streams appear in the selectable stream list.

In both UI's the "Defa

[2020-01-11 11:34] dubeyaayush07 commented on #13638
@zulipbot abandon

[2020-01-11 12:23] jishansingh commented on #2278
@zulipbot abandon

[2020-01-11 12:44] kasthuri28 commented on #13642
@zulipbot claim

[2020-01-11 14:19] prajneya commented on #3916
@zulipbot claim

[2020-01-11 14:56] prajneya commented on #3916
@timabbott

To clear things up, we currently have two separate scrollable sections of STREAMS and USERS.

We now basically need a section containing ALL the streams, and then ALL the users, and finally this entire section of STREAMS and USERS should be scrollable. Did I get this right?

[2020-01-11 15:18] kasthuri28 commented on #13642
Hi,
I am trying to contribute to zulip. As a first time contributor I started
working on an issue that was already claimed so I stopped working on the
issue and selected a new one to contribute to. It would be really helpful
if I could know where will I get the code to work on the issue :
https://github.com/zulip/zulip/issues/9446

This is my first attempt, please kindly help me.
Regards,
    Kast

[2020-01-11 15:32] akashaviator commented on #13638
@zulipbot claim

[2020-01-11 15:32] akashaviator commented on #12277
@zulipbot abandon

[2020-01-11 15:33] akashaviator commented on #13638
@zulipbot claim

[2020-01-11 15:34] akashaviator commented on #13638
@zulipbot claim

[2020-01-11 17:59] akashaviator commented on #13638
@timabbott Should `get_cross_realm_dicts ` return the same dictionary as returned by `get_raw_user_data` ?

[2020-01-12 02:36] ReubenDsouza commented on #10539
@zulipbot abandon

[2020-01-12 05:42] stableapple commented on #13416
@zulipbot claim

[2020-01-12 08:18] kasthuri28 commented on #10375
@rishig I would like to know, as a beginner in contributing to open source will it be good for me to start my contribution with this issue. If yes please guide me how to begin with.

[2020-01-12 08:49] priyanshu-09 commented on #13261
@zulipbot abandon

[2020-01-12 08:55] priyanshu-09 commented on #13375
@zulipbot claim

[2020-01-12 09:32] kasthuri28 commented on #9446
@zulipbot claim

[2020-01-12 10:26] Hypro999 commented on #13638
@akashaviator, if it's okay with you, I'd like handle this one small issue :slightly_smiling_face:. I've done some work here before and this feels like a natural follow up for me to handle.

@timabbott, I like the idea of extracting `get_raw_user_data`'s internal `user_data` method and then slightly modifying it so that we can potentially specify exactly which keys are desired. It's simple and eff

[2020-01-12 13:13] akashaviator commented on #13638
@timabbott   In PR #13596 , I have extracted `user_data` from `get_raw_user_data` and made a commit.

@Hypro999  I wanted to handle this for the same reason . I'll abandon the issue if you still feel doing this.

[2020-01-12 13:19] Hypro999 commented on #13638
I'll just suggest changes to your PR then for the time being.

[2020-01-12 13:35] akashaviator commented on #13638
Thanks @Hypro999 ! That'll be helpful .

[2020-01-13 10:34] codebit-de commented on #13620
Yes, our CRT-File was invalid because it had a single info line at the beginning:

I've removed this line and everything works fine.

[2020-01-13 10:34] #13620 closed

[2020-01-13 16:30] showell commented on #13554
5e0fc25f74bad36ff79255309e1aac01dd86c89c was the commit that fixed the most critical bug

[2020-01-13 16:39] fmt-Println-MKO opened #13651 "create new stream via post subscription api is very slow"
as we are using the zulip api a lot, we realized that creating a new stream via the post subscription api is very slow.
its always more then 1 second, especially if the user already have a lot of streams.

seeing that the get subscriptions  endpoint have a parameter to ignore subscribers, would this also be an option for the post endpoint ?

[2020-01-13 16:55] Abhishek-Balaji commented on #11685
@zulipbot claim

[2020-01-13 18:30] chrisbobbe commented on #11452
Here's a doc for a similar feature on Chrome: https://developers.google.com/web/tools/chrome-devtools/device-mode#viewport

[2020-01-13 18:33] sahil839 commented on #12835
@zulipbot claim

[2020-01-13 18:53] chrisbobbe opened #13655 "docs/dev server: link to mobile development doc"
Something that could improve the first-time setup process for using a dev server for mobile development is a link from the dev server setup docs back to here: https://github.com/zulip/zulip-mobile/blob/master/docs/howto/dev-server.md.

I found that page first, and it sent me to https://zulip.readthedocs.io/en/latest/development/overview.html which sent me to https://zulip.readthedocs.io/en/latest/

[2020-01-13 19:35] vinitS101 commented on #9446
Hi @kasthuri28 . It looks like this issue was [already fixed](https://github.com/zulip/zulip/pull/11769#issuecomment-505157407) in #12535.

@timabbott this issue should probably be closed.

[2020-01-13 20:23] #6617 closed

[2020-01-13 20:26] timabbott commented on #13651
@fmt-Println-MKO I don't think we can try to reproduce this without more information on the setup.  Can you provide details on how many users are you in your organization, and how many of those users you're adding to the new stream?  Also, how much RAM and CPU does your server have?

Also, is the 1 second time on the backend (i.e. from `/var/log/zulip/server.log`), or delay in the UI before the ne

[2020-01-13 20:27] timabbott commented on #13644
@pragatiagrawal31 @shubhamdhama FYI; the "edit bots" widget is relatively old; I wonder if we should try to redesign that widget to use our newer settings page UI patterns rather than working on this issue.

[2020-01-13 20:31] timabbott commented on #13645
So, the logic that controls this is the following:
[code]

That behavior, added back in 2014, seems clearly wrong in the context of guest users.  I think in terms of our actual goals, what we should do is remove that bit of logic, and instead just show the `realm_notifications_stream` in a highlighted fashion (e.g. adding " (notifications stream)" as text in the list of streams to select when invi

[2020-01-13 20:33] timabbott commented on #13655
I like the idea of adjusting `using.html` to have headings for server/web/mobile; that organization would likely make it better for the webapp use case as well as simplifying the mobile setup.  Feel free to make a PR doing that sort of reorganization.

[2020-01-13 20:37] timabbott opened #13656 "Add support for additional private_message_policy values"
In 79f18138f590898c9c7174f313141f7e907bfe49, we added beta support for a "private message policy" limiting who can use private messages.  This is useful in open organizations where the administrators don't want to have to worry about people contacting their community members privately (which can dramatically simplify moderation with a limited set of public streams).

There's a few private_message_

[2020-01-13 20:37] timabbott commented on #6617
I opened https://github.com/zulip/zulip/issues/13656; I'd appreciate feedback from folks on what set of alternative policies Zulip should support around private messages.

[2020-01-13 20:56] timabbott opened #13657 "Remove `.rendered_content=None` from database model"
When running the `0257_fix_has_link_attribute.py` migration on zulipchat.com, it crashed and needed to be restarted because the message with ID `153818321` had a `.rendered_content` of None.  We can and should perhaps adjust that migration to skip messages with `.rendered_content` being `None` just like it does `''`, but I think we should also work to eliminate the possibility in the database mode

[2020-01-13 21:04] timabbott commented on #11685
Thinking about this issue more after looking at #13654, I think the strategy behind this proposed change might be wrong.  At least until we add support for LDAP management of streams, there is a real use case for invitations in an LDAP organization, namely setting the initial streams for a user.

As I noted [above](https://github.com/zulip/zulip/issues/11685#issuecomment-467559541), I think these

[2020-01-13 21:04] arpit551 commented on #13486
@zulipbot abandon

[2020-01-13 21:31] volands opened #13658 "API usage problem with message IDs (invalid message / BAD_REQUEST)"
- Zulip version: 2.1.0-5-g49ff894d6a
- OS version: Ubuntu 18.04.3 LTS (bionic)

We currently have some seemingly strange problems by using Zulip API with message IDs (e.g. with message deletion).

Initially we created a new (generic) bot in Zulip and enabled message deletion as described (https://zulipchat.com/help/configure-message-editing-and-deletion). On this way we are able to successfully se

[2020-01-14 00:01] timabbott commented on #13658
If I had to guess, the problem is that your bot user only has permission to post messages to the stream in question, and not to read or otherwise access them afterwards.  Is it a private stream that the bot isn't subscribed to, or an "incoming webhook" bot?  If so, that'd explain the cause of the issue.

I'll need to think about this, but I think the fix would be to modify `access_message` to addi

[2020-01-14 00:16] volands commented on #13658
Hi @timabbott, thank you very much for your message and explanation.

I now ensured that the used bot is subscribed to the corresponding stream - but unfortunately get the same error message as mentioned above:

[code]

I can confirm that a public stream is used - as well as we use a "Generic bot".

We also tried to use an "Incoming webhook", but then there is a correspond error message:

[code]

[2020-01-14 00:17] timabbott commented on #9446
I don't think that's the right issue/PR, but I agree the ultra small size was fixed some time ago by one of your PRs.

[2020-01-14 00:17] #9446 closed

[2020-01-14 00:50] timabbott commented on #13658
@hackerkid @aero31aero does one of you have time to try investigating / reproducing this?

[2020-01-14 01:13] volands commented on #13658
I need to correct myself - according to a new test with a new sended message (after bot was subscripted to the stream) now it seems to work successfully as intended:
[code]

@timabbott: So everything seems to be fine and your initial guess was right. Thank you very much!

[2020-01-14 01:41] timabbott commented on #13658
I'm still not sure the current behavior is as intended.  Can you confirm that the stream is a public stream, or was it a private stream?

At the very least, I'd like to update our documentation to avoid this confusion in the future.

[2020-01-14 01:47] volands commented on #13658
Thanks, no problem.

I can confirm that the stream was already a public stream before - but we forgot to subscribe the corresponding bot user to the target stream (this information we didn't found in the documentation).

After subscription of the used bot to the target stream - and after sending a new message - we was able to get and delete the message successfully by its message ID.

[2020-01-14 02:30] #8144 closed

[2020-01-14 03:37] hashirsarwar commented on #13645
@zulipbot claim

[2020-01-14 04:56] Tlazypanda commented on #11584
@zulipbot claim

[2020-01-14 10:28] dubeyaayush07 commented on #13625
@zulipbot claim

[2020-01-14 10:48] nikomatsakis commented on #13554
I can confirm that search works for us again, btw. Thanks ❤️

[2020-01-14 11:20] dmarconi opened #13660 "Realm migration error while updating to 2.1.1"
The update from 2.0.0 to 2.1.1 fails during the migration phase. You can find the log below.

Thanks in advance for any help provided

Daniele

[code]

[2020-01-14 12:05] mateuszmandera commented on #13416
I can't reproduce, it works on chat.zulip.org: https://chat.zulip.org/#narrow/stream/7-test-here/topic/Attachment.20test/near/808816

[2020-01-14 12:09] mateuszmandera commented on #13416
@XAMPPRocky you can you try if you can reproduce this on our server by sending the email in the same way to our address? The stream address is `` test-here.dcacebe10d41b0a15642343678973ef0.show-sender@chat.zulip.org ``

[2020-01-14 12:31] XAMPPRocky commented on #13416
Yep, I can reproduce it. See this [stream](https://chat.zulip.org/#narrow/stream/7-test-here/topic/Testing.20attachments.20and.20styling/near/808820). I've included a screenshot of the email below. You can see two different, one is a png and the other is a PDF and neither were attached to the email.

I should probably also mention what mail client I'm using. I'm using Mail.app Version 13.0 (3608.4

[2020-01-14 12:34] mateuszmandera commented on #13416
@XAMPPRocky Hmm, interesting. Could you send this exact email to my address mateusz.mandera@zulipchat.com so that I can play around with it and figure out the specific reason the server is failing to parse the attachments correctly?

[2020-01-14 13:01] XAMPPRocky commented on #13484
While reproducing #13416 I also reproduced this bug. You can see in the [zulip stream](https://chat.zulip.org/#narrow/stream/7-test-here/topic/Testing.20attachments.20and.20styling/near/808820) that there's no styling but in my email I have bold italics and underlines.

I'm using Mail.app Version 13.0 (3608.40.2.2.4)

<img width="547" alt="tes-email" src="https://user-images.githubusercontent.com/

[2020-01-14 13:08] hackerkid commented on #13658
I think its not intuitive that we allow sending messages to a public stream without subscribing and at the same time don't allow the sent message to be accessed or deleted.

[2020-01-14 15:19] zampanoo opened #13664 "messages in reverse chronological order"
I'd appreciate it to be able to display messages inside a topic in reverse **reverse chronological order**, instead of chronological. In other words, I'd like to see the **new and unread** messages at the **top** of the list, not at the bottom. Thank you.

[2020-01-14 18:21] mateuszmandera commented on #13484
I don't think that's strictly speaking a bug, it was intentionally done that way in the code, but I think it does make sense to change this behavior. The way it is now is that if the message provides a plaintext version of the message, we use that, rather than trying to render html:
[code]

@timabbott Should we favor the html version by default?

[2020-01-14 18:22] mateuszmandera commented on #13484
Alternatively, we could add an option in the email address (like ``.show-sender``) to tell the system to use HTML, and keep plaintext as the default behavior.

[2020-01-14 18:45] mateuszmandera commented on #13660
Have you done anything to change the name of the system realm (``id=1``)? It used to have ``string_id`` set to ``zulip``, this migration is meant to rename it to ``zulipinternal``. Can you show the output of ``/home/zulip/deployments/current/manage.py list_realms`` ?

[2020-01-14 18:47] mateuszmandera commented on #13660
Also, output of ``/home/zulip/deployments/current/scripts/get-django-setting SYSTEM_BOT_REALM`` could be useful.

[2020-01-14 19:46] shubhamdhama commented on #13644
Yeah sounds, good!
- A modal for "Create new bot"
- List of "All bots" with the "Active"/"Inactive" column or separate section for "Active" and "Inactive" bots.
- Basically use

[2020-01-14 22:47] timabbott commented on #6693
Most of the work was done on this before being lost track of due to Brock losing the branch he'd written for it.

I'm closing this in favor of a new issue I'm about to open with details on what's remaining.

[2020-01-14 22:47] #6693 closed

[2020-01-14 22:49] timabbott opened #13670 "Finish implementing default stream groups"
Many larger organizations using Zulip for their chat server have multiple audiences that they are trying to serve.  E.g. in our own organization, we have sysadmins using Zulip, developers contributing code, and students wanting to do programs like Google Summer of Code.  Ideally, we'd be able to have the organization signup process offer a few choices for what default streams to join, with text so

[2020-01-14 22:50] timabbott commented on #6693
See https://github.com/zulip/zulip/issues/13670 for the new issue.

[2020-01-14 23:25] timabbott commented on #13484
Hmm.  I think the current behavior is correct -- if they provide a plain-text version, that's likely to be better markdown-like content and more reasonable to process than the output of converting HTML to markdown.  But I think it makes sense to have an option to control which is preferred, maybe documented as this:

* **.prefer-html**: By default, Zulip prefers the plain-text (`text/plain`) conte

[2020-01-14 23:37] #13416 closed

[2020-01-14 23:40] XAMPPRocky commented on #13484
I think having `.prefer-text` makes sense. For documentation purposes, I think it should documented along with `.prefer-html` and mention that it included by default. There's no reason if it's documented it can't be changed. And then there is already documentation ready when the change is made.

[2020-01-14 23:45] timabbott commented on #13484
Yeah, that's reasonable; we can just document that it is the default, but should we change the default in the future, will prefer `text/plain`.

[2020-01-15 01:18] timabbott commented on #13642
@kasthuri28 generally, it doesn't make sense to claim an issue when you haven't figured out how to make progress on it.

For this specific issue, I'm not sure we have a specific plan for how to proceed, so it's not a great choice for a first-time contributor.

[2020-01-15 06:17] dubeyaayush07 commented on #13625
@zulipbot abandon

[2020-01-15 08:25] dmarconi commented on #13660
I personaly don't remember to touch anything on the realm standard setting. Here's the output

[code]

[code]

[2020-01-15 09:56] mateuszmandera commented on #13660
This definitely doesn't look right, because the system bot realm is missing, that by itself must be causing various bugs. I'm not sure what the best way forward is. To check one more thing - could you run ``/home/zulip/deployments/current/manage.py shell`` and in the shell run these two command and see the output?
[code]

@timabbott To try to fix this instance my best idea so far would be to run t

[2020-01-15 10:07] dmarconi commented on #13660
Thanks a lot. I will wait for the complete feedback and give it a try once again. Here's the output

[code]

[code]

[2020-01-15 10:12] mateuszmandera commented on #13660
Oh, that changes things a lot. I was expecting the bots to be missing (because the system bot realm seemed missing), but it seems that the system bot realm and the realm you're using are one. Okay, new idea then:

@timabbott Should it work to simply manually rename this realm to ``zulip`` string_id, and the migration will successfully run and rename it to ``zulipinternal``, or are more things expe

[2020-01-15 11:23] iamabhishek0 commented on #13562
Can you list other Open Source organisations having Gitpod Badge

[2020-01-15 11:48] aisamu opened #13676 ""More topics" count includes muted topics"
(reproducing sections of the e-mail here, per @timabbott's request)

We have a large OS community that’s currently running on (free) slack.
A bot mirrors selected slack channels as topics on a slack-archive stream.
Here’s what we’re frequently presented with:

<img width="234" alt="Screen Shot 2020-01-14 at 08 50 28" src="https://user-images.githubusercontent.com/431708/72431125-d2c2c280-3772-11ea

[2020-01-15 11:50] aisamu opened #13677 "Topic ordering on short-list of streams with a lot of active topics"
(reproducing sections of the e-mail here, per @timabbott's request)

We have a large OS community that’s currently running on (free) slack.
A bot mirrors selected slack channels as topics on a slack-archive stream.
Here’s what we’re frequently presented with:

<img width="234" alt="Screen Shot 2020-01-14 at 08 50 28" src="https://user-images.githubusercontent.com/431708/72431125-d2c2c280-3772-11ea

[2020-01-15 21:23] timabbott commented on #13677
Thanks for the detailed report @aisamu!  This is a bug in our recent change to add unread counts for "more topics".

@showell the bug here is that the code in `static/js/topic_list.js` for implementing "more topics" does a pure time-based sort, while ideally it'd give sort priority to unmuted topics when not zoomed (so that muted topics don't waste the limited space of the 5 most recent topics).

[2020-01-15 21:24] timabbott commented on #13676
I think this makes sense to change as well as #13767

[2020-01-15 21:58] timabbott commented on #13660
@mateuszmandera I don't think we want to rename his realm; it should rename `''`.

@dmarconi what version of Zulip did you originally install with?  I am not aware of there ever being a version where system bots weren't in their own realm, but I suppose I could be wrong.

I think a fine solution is to just patch the migration to add these lines:
[code]

[2020-01-15 22:01] #13660 closed

[2020-01-15 22:02] timabbott commented on #13660
@dmarconi I put this patch on the `2.1.x` branch with commits intended for the 2.1.2 release; you should be able to use `upgrade-zulip-from-git 2.1.x` to upgrade.

[2020-01-15 22:24] timabbott commented on #13562
I don't consider the lack of this badge to be an issue in Zulip, so I'm closing this.

[2020-01-15 22:24] #13562 closed

[2020-01-15 22:39] timabbott commented on #3916
Yes, that's what we have in mind.

[2020-01-15 23:49] SiddharthVarshney commented on #13261
@zulipbot claim

[2020-01-16 02:03] aero31aero commented on #13433
@timabbott this should be closed.

[2020-01-16 02:20] #13433 closed

[2020-01-16 04:08] agrawal-d opened #13684 "Selecting same emoji setting causes infinitely long Saving message"
![bug](https://user-images.githubusercontent.com/7714968/72492625-e0944880-3843-11ea-9807-a2be544f2318.gif)
Minor bug. Will probably happen in other settings with radio-button settings.

[2020-01-16 04:13] agrawal-d commented on #13684
![image](https://user-images.githubusercontent.com/7714968/72492801-9069b600-3844-11ea-87ca-96cc477c06d5.png)
The server response is OK, the UI is not being updated

[2020-01-16 04:13] agrawal-d commented on #13684
![image](https://user-images.githubusercontent.com/7714968/72492831-a7100d00-3844-11ea-9c33-b1d47cb0a9b7.png)
The server response is OK

[2020-01-16 07:00] cobbzilla opened #13685 "New integration: Errbit (open source clone of Airbrake)"
[Errbit](https://github.com/errbit/) is an open source clone of Airbrake, a popular error catcher.

Errbit sends webhooks that are similar to, but *ever so slightly* different than Airbrake.

This issue is being opened to track a PR I am about to open to add Errbit integration to Zulip.

[2020-01-16 09:23] mateuszmandera commented on #13660
@timabbott  Hmm, my thinking in that migration was to intentionally let the migration crash if ``zulip`` realm isn't found, because I figured with the variability in problems that may be causing that, it'd be better to stop the migration and figure out the appropriate steps to fix things, rather than just renaming the existing realm (that isn't ``zulip``) and continuing further migrations (and the

[2020-01-16 10:03] ezitisitis opened #13687 "Add Apple emoji to Emoji settings"
As I see there there is available 3 different packs of emoji (Google modern, Google classic and Twitter).

Maybe should add Apple emoji pack also?

[2020-01-16 11:48] dmarconi commented on #13660
Thanks a buch :) ! I will definitely give it a try.

It was 1.8.1

[2020-01-16 13:35] showell commented on #13687
I think we used to have them but had to remove them due to copyright complications with Apple.

[2020-01-16 13:57] ezitisitis commented on #13687
https://developer.apple.com/app-store/review/guidelines/

4.5.6 Apps may use Unicode characters that render as Apple emoji in their app and app metadata. Apple emoji may not be used on other platforms or embedded directly in your app binary.

5.2.5 Apple Products: Don’t create an app that appears confusingly similar to an existing Apple product, interface (e.g. Finder), app (such as the App Store,

[2020-01-16 14:22] aero31aero commented on #6186
@zulipbot claim

[2020-01-16 15:14] fmt-Println-MKO commented on #13651
Hi,

ok so we have 10 users in the system. its our dev system
but we wanted to create 100 to 5000 streams for just one user. (one out of this 10)
we only invite 1 other user to this streams at first place, later there should be all 10 users in those streams.

we tried with 16 vCPUs and 15gb Ram.
we ended up in parallel stream creation. but Zulip just uses 4 cores, so maximum number of parallel thr

[2020-01-16 17:38] GhaziTriki opened #13689 "Supprot backblaze for files storage"
Hello,

Zulip currently supports S3 storage. I would be very interested to see it supporting backblaze sotrage.

[2020-01-16 18:54] timabbott commented on #13689
Zulip does support any storage service exposing a similar API to S3 (i.e. that's supported by boto), such as OpenStack.

Does Backblaze provide a suitable API similar to S3 for uploading and hosting files?  I'm mainly familiar with them as a backups product, not a cloud file hosting product, but maybe they can be used for this, potentially with https://github.com/Backblaze/b2-sdk-python?  We'd acc

[2020-01-16 19:04] GhaziTriki commented on #13689
I understand that your focus on what is widely used. Unfortunately I did not start python yet. However I would love to see B2 BlackBlaze in this product.

[2020-01-16 19:26] timabbott commented on #13651
Just to be clear, you're looking at the performance of creating 5000 streams in a single API request?  You really should have included the detail that you were trying to create thousands of streams in your initial report.

It's possible we have some unintentional quadratic behavior there; we certainly don't intend users to create thousands of streams in a single request, so we haven't made effort

[2020-01-16 19:51] fmt-Println-MKO commented on #13651
ah no, we don't create 5000 stream in one request, just **one stream per request**.
so also 5000 requests.
but as soon as you have around 1000 streams created, every single new stream creation takes at least 1s.

yes right it's our internal system to manage our tasks and bugs etc.

about your profilers, are they already included in Zulip? sorry for this question, but I'm not a python developer

[2020-01-16 20:16] timabbott opened #13693 "Fix emails when disabling "Include message content in missed message notifications""
I got a report from a user in the Recurse Center who was confused as to why they were getting missed-message emails that didn't contain any content.  The emails also incorrectly claimed one couldn't reply because missed-message emails weren't configured on the server.  There are 2 things we should do to fix (mostly centered on this block of code:
[code]

* [ ] In this case, rather than the email d

[2020-01-16 20:42] kerrhome opened #13694 "GitLab oauth2 support needed"
Please add support for using GitLab's oath2 in Zulip.  We're using `gitlab.company.com`, so local GitLab server support is what we're interested in.

[2020-01-16 20:51] timabbott commented on #13694
This is worth doing.

@mateuszmandera I think it'd be worth integrating this via https://python-social-auth-docs.readthedocs.io/en/latest/backends/gitlab.html; it can be a good test of how successful we've been in making adding new authentication backends simple.

[2020-01-16 23:25] #13484 closed

[2020-01-16 23:34] #13685 closed

[2020-01-17 00:00] #13655 closed

[2020-01-17 00:03] timabbott opened #13696 "Reorganize docs on using the development environment"
Following the series ending with c113d74daff9e232010ffcea6d7179643e8319f1, it's clear to me that we could do better in structuring our discussion of how to use the development environment.

In particular, I think the section of our Vagrant docs starting here: https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html#step-4-developing should probably be merged into https://zulip.readthe

[2020-01-17 00:31] timabbott commented on #13687
I would be very surprised if Apple granted the rights to use this -- that's not their strategy with their emoji set.  Other chat apps have needed to remove the Apple emoji set for similar reasons.

What we are allowed to do is something like, on Apple devices only, render unicode emoji characters, which the device would display using the Apple emoji set on those devices.  It's messy to do that, ho

[2020-01-17 00:34] timabbott commented on #13658
@hackerkid if you're interested in working on this, I believe the fix is just to modify `access_message` to have an additional clause returning True for messages sent by the requesting user.

(For non-bot users, this is already covered by the UserMessage query, but we don't create UserMessage rows for bot users posting to streams they are not subscribed to)

[2020-01-17 05:44] madhavsikka commented on #10539
@zulipbot claim

[2020-01-17 08:47] MegaMind77-coder commented on #3128
@zulipbot claim

[2020-01-17 09:22] danielepesciallo opened #13697 "AWX Webhook Issue"
Hello Everybody,
i'm trying to configure my AWX instance to send a message when a playbook start. I follow this guide:
https://zulipchat.com/integrations/doc/ansibletower

But, every time that i launch a new Job, i receive this error in my mailbox:

`Traceback (most recent call last):
  File "/srv/zulip-venv-cache/546c5f60162d0b5be09d52adebaa995f9c609da3/zulip-py3-venv/lib/python3.6/site-packages/

[2020-01-17 10:13] ezitisitis commented on #13687
But we still have Mattermost, Slack (thats first from chats what got in to my head) which use Apple emoji (on Windows, macOS and Linux), so I guess there should be an option.

[2020-01-17 10:35] siddhi381 commented on #13664
@zulipbot claim

[2020-01-17 10:36] siddhi381 commented on #13664
@zulipbot abandon

[2020-01-17 10:38] stableapple commented on #13664
@zulipbot claim

[2020-01-17 13:13] arpit551 commented on #13697
Probably a duplicate of [issue](https://github.com/zulip/zulip/issues/13295).

[2020-01-17 13:28] showell commented on #13664
@stableapple I don't think it's likely that we'll do this.  Most of our users like the current chronological order, and it's what most chat products use.  It would be a pretty high maintenance cost to support ordering in both directions.

[2020-01-17 13:32] showell commented on #13451
FWIW you can say "-is:private" in the search bar to exclude PMs.

[2020-01-17 14:30] arpit551 commented on #13295
@zulipbot claim

[2020-01-17 15:33] grandemk opened #13698 "Taiga webhooks enhancement"
See #13317 for the context of this issue.

After working with the integration for a while, I think it is missing two things:

### Links in the webhook messages
The most important one is that we need to add links to the actual taiga user story / task / etc. in the message that is posted on zulip.

For example:
    Kevin Grandemange closed user story December 2019: SDR In linux magazine
    should b

[2020-01-17 16:51] stableapple commented on #13664
@zulipbot abandon

[2020-01-18 08:08] hackerkid commented on #13658
@zulipbot claim

[2020-01-18 08:11] hackerkid commented on #13533
Created #13701 for removing feedback bot.

[2020-01-18 08:16] hackerkid commented on #13693
@zulipbot claim

[2020-01-18 12:54] stableapple commented on #8392
@zulipbot claim

[2020-01-18 19:06] kss682 commented on #11048
@madguy02 , I am currently facing the same problem you had faced , can you help me resolvle it.
I ran ./tools//run-dev.py
[code]
but on the browser it is
[code]

[2020-01-18 19:34] kss682 commented on #1995
I am new to zulip , I have set up the development env and not yet understood the structure of zulip .
I would like to work on this @timabbott .Could you help me with it.
@zulipbot claim

[2020-01-19 00:32] volands commented on #13658
Hi @timabbott,

thanks again for your support on this topic. Some more remarks - I am not sure if it should be included into this issue, because it goes in a bit other direction (but it should be also a bit related)...

We encountered the mentioned (permission) problem with the API because we started to integrate Zabbix monitoring notification into Zulip - for this, the Zulip project already provi

[2020-01-19 09:51] chrisbobbe commented on #13622
It looks like this issue is asking the contributor to suggest some colors, and to show screenshots of them here, in both day and night themes, for feedback. 🙂

The report says the main problem is that the pink color showing deleted text is currently difficult to read because of low contrast. You may want to use Chrome DevTools or another tool to be sure the text-to-background contrast is high enou

[2020-01-19 13:56] vaibhavrajsingh2001 commented on #13696
@zulipbot claim?

[2020-01-19 17:37] arpit551 commented on #13295
@zulipbot abandon

[2020-01-19 23:03] Rodriq opened #13706 "Description section of APIs yaml file in use but not mentioned."
As seen [here in the docs](https://zulip.readthedocs.io/en/latest/documentation/api.html#description), the descriptions of any particular API endpoint is been extracted from the `YAML` file. But it's not stated yet in the docs.

[2020-01-20 04:18] cyphase opened #13709 "Users list incorrectly says last active "never" if last active more than 2 weeks ago"
When hovering over certain users in the sidebar user list, the tooltip correctly says, "Last active: More than 2 weeks ago". However, when I look in "Settings / Users", those same users are said to have been last active "Never". Users who have been active more recently than 2 weeks have an accurate last active time.

[2020-01-20 04:18] cyphase commented on #13709
As an aside, is there a reason to not show (at least for admins) the date of last activity older than two weeks?

[2020-01-20 06:37] orientor commented on #13709
This seems like a good first issue. If this was not meant as a feature then I can solve it.
@zulipbot assign

[2020-01-20 06:39] orientor commented on #13709
@zulipbot claim

[2020-01-20 11:56] shubhamgupta2956 commented on #3128
Sorry for the delay. I actually had some work in college.
@MegaMind77-coder on which issue are you currently working. I will do the next.

[2020-01-20 15:53] Hypro999 commented on #13295
@sulian if it's okay with you, could you please share a (redacted) version of the payload that you received that caused this?

If you're not sure of how, here's how you can do this in 5 easy steps:
1. Go to https://webhook.site
2. The site will give you a target URL. Something like `https://webhook.site/fec9a205-ecf8-422e-97a2-d42d16048e1d` - copy this to your clipboard.
3. Then go to your AWX ins

[2020-01-20 16:21] lixiran commented on #11939
@OvermindDL1

can you share a sample code of zulip integration with OIDC server ?

[2020-01-20 16:39] lixiran opened #13710 "need help on OIDC authentication support"
Currently I am working on oidc integration betweek zulip and keycloak.
the python social auth has a keycloak.py but  it is based on oauth2. not 100% pure oidc.
the python social auth has 2 open id auth class
open_id.py
open_id_connect.py
open_id_connect.py  need to add extra dependency. so  I am trying to add a subclass of open_id.py in backend.py.
but I have encoutner many problems.

from other i

[2020-01-20 16:49] lamyseba opened #13711 "Ability to change topic stream"
Sometimes a topic starts on the wrong stream. After to or three replies, it would be cool if moderator or admins could change the stream to the correct stream. It would act as if the topic was deleted from original stream, and as if message were posted to the new thread.

[2020-01-20 16:54] lamyseba opened #13712 "Have a topic on multiple streams"
Sometimes a topic is "at the cross" of multiple streams. I mean it is interesting for people on different streams (like "#marketing" and "#communication") It would be nice if a topic could be "broadbanded" on multiple streams.

[2020-01-20 17:28] jiviteshjain commented on #12898
Still working @zulipbot

[2020-01-20 18:40] kss682 commented on #1995
@timabbott  how do I move forward with the issue, could you help me ?

[2020-01-20 20:15] danielepesciallo commented on #13295
@Hypro999 I have an instance of AWX Tower 9.1.1 and i have the same problem.

I tried to follow your steps and this is the result:
![AnsibleTower](https://user-images.githubusercontent.com/32877830/72755061-dd91b300-3bc9-11ea-8e22-b0e3bb31593a.png)

This is just a Test Notification.

[2020-01-21 08:21] lixiran commented on #13710
I am referring this doc to write some code.
https://github.com/zulip/zulip/commit/49dbd85a8985b12666087f9ea36acb6f7da0aa4f

the backend code is:

class KeycloakAuthBackend(SocialAuthMixin, OpenIdAuth):
    auth_backend_name = "Keycloak"
    name = 'Keycloak'
    URL = 'https://keycloak.willy.com:8443'
    USERNAME_KEY = 'nickname'

    def get_verified_emails(self, *args: Any, **kwargs: Any) -> Li

[2020-01-21 11:23] akashaviator commented on #13588
@zulipbot claim

[2020-01-21 11:41] Hypro999 commented on #13295
@danielepesciallo that's great! Can you trigger a payload for events which involve a "job" so that we can see if the keys have been renamed/changed? Thanks for the help! 🙂

[2020-01-21 16:16] OvermindDL1 commented on #11939
@lixiran I never wrote such code, we ended up using matrix for now.  I really like zulip's streams and so forth and would prefer it, but matrix integrates with a lot more (not just logins but libraries for clients and more as well).

[2020-01-21 16:36] stuntsman opened #13714 "UI: too large whitespace under last message"
Both in Windows 8.1 desktop app (v4.0.0) and in latest Opera (Chromium) the topic window has a huge (half screen) empty area in the bottom of the discussion.

Using Inspector it looks like that the height of the #bottom_whitespace element is set to 315px for some reason making the UI look and feel broken, as there are a lot more messages above so the message list could easily fill up the screen:

[2020-01-21 16:55] pomazanbohdan commented on #13658
I have problem in zabbix to:
![image](https://user-images.githubusercontent.com/696713/72825372-9534cc80-3c7f-11ea-89b2-814b785dc516.png)

[2020-01-21 17:34] pomazanbohdan opened #13715 "Zabbix 4.4 error integrations"
Zulip say:
[code]
But stream incoming messages:

![image](https://user-images.githubusercontent.com/696713/72828033-81d83000-3c84-11ea-8e47-0e41cb939802.png)

2. and i fix **Default Subject** to {EVENT.ID}

[2020-01-21 17:47] arpit551 commented on #13496
@zulipbot claim

[2020-01-21 20:04] danielepesciallo commented on #13295
@Hypro999 thank you for the help! :smile:

[2020-01-21 20:11] danielepesciallo commented on #13295
@Hypro999
So, this is the startup notification
![TowerStartJob](https://user-images.githubusercontent.com/32877830/72839056-d930cd00-3c91-11ea-8ef7-cbcc69eb45cb.png)

This is the notification that i see when the job finish
![TowerSuccessJob](https://user-images.githubusercontent.com/32877830/72839198-1d23d200-3c92-11ea-8f43-433a992a8fe9.png)

Thanks you for the help! :smile:

[2020-01-21 20:39] orientor commented on #13684
@zulipbot claim

[2020-01-22 00:48] lixiran commented on #11939
@OvermindDL1  ok thanks.
I encounter some problem while using zulilp to integration with open id provider

[2020-01-22 06:41] b30wulffz commented on #13714
This seems like a good first issue. I would like to work on this.

[2020-01-22 06:41] b30wulffz commented on #13714
@zulipbot claim

[2020-01-22 07:05] krsatyam01 commented on #13613
Thanks for the update. looking for the issue to be resolved soon.

![zulip_signin_error_message_from_google](https://user-images.githubusercontent.com/42486297/72872517-91eb2080-3d13-11ea-9109-25ddfbc6c3e8.png)

I have upgraded to zulip client version V4.0.0. ( see attached screenshot) still the issue persists.

![zulip V4 0 0](https://user-images.githubusercontent.com/42486297/72872359-20ab6d80-3

[2020-01-22 07:44] pragatiagrawal31 commented on #13625
@zulipbot claim

[2020-01-22 09:36] krptic07 commented on #12951
@zulipbot claim

[2020-01-22 10:19] vaibhavrajsingh2001 commented on #13696
@zulipbot claim

[2020-01-22 10:20] vaibhavrajsingh2001 commented on #13696
@zulipbot claim

[2020-01-22 17:26] kss682 commented on #1995
@zulipbot abandon

[2020-01-22 18:58] Hypro999 commented on #13295
Finding change logs for the AWX project was quite a bit of hassle, but after a fair amount of digging around, I was able to find:
https://groups.google.com/forum/#!searchin/awx-project/7.0.0%7Csort:date/awx-project/lemzchJocjk/HAOXI0DnAAAJ

Posting here for future reference. I'll try to see what progress I can make on this issue over the course of this week (or whatever's left of it) - it may take

[2020-01-22 19:00] rajudev commented on #11134
Although you dont intend to switch to Apache, you should still have ready working configuration examples for most web servers.

[2020-01-22 19:52] kian2attari commented on #4240
@zulipbot claim

[2020-01-22 20:26] Dbone29 commented on #11134
Yeah, I was working for a university and we have templates for Apache. I have edited it so we could Apache SSO with Kerberos and Ldap for login.

[2020-01-22 21:02] shubhamgupta2956 commented on #13714
@zulipbot claim

[2020-01-22 22:21] shubhamgupta2956 commented on #13714
@stuntsman I had reduced the bottom whitespace. Its height is set by method `viewport_height * 0.4`. I had changed the factor to 0.05(I thought that this ratio gives a more elegant look). Please review my PR. Sorry for so many commit messages (I just got confused in branching).

[2020-01-22 22:31] #13676 closed

[2020-01-22 22:31] #13677 closed

[2020-01-23 01:17] timabbott commented on #13710
It's very difficult to tell from the post what your issue is with your new authentication integration.  The tests we use are in `test_auth_backends.py` and should be reusable for an OpenID integration.

If you have an OIDC authentication server that's working with some other tool that we can use for testing, we can look at helping debug, but I don't see an efficient way for me to help investigate

[2020-01-23 01:18] timabbott commented on #1995
This problem was fixed a couple years ago via our handling of the `next` parameter; closing.

[2020-01-23 01:18] #1995 closed

[2020-01-23 01:26] mangini opened #13720 "Improve the Linkification doc"
Re https://zulip.com/help/add-a-custom-linkifier
The settings UI doesn't have a way to test the pattern and the doc is very thin on what regex syntax/flavor is supported.

This issue is a request to improve https://zulip.com/help/add-a-custom-linkifier with more technical details, so that one doesn't have to search in the source code to find it out.

[2020-01-23 06:52] timabbott commented on #13714
Thanks for the feedback @stuntsman!

That said, the bottom whitespace here is intentional; it makes it possible to set a scroll position so that new messages will appear in place without scrolling the screen.  You can always choose to scroll so that the screen is filled with messages if you like.  We at one point had a setting that changed the behavior, but very people preferred it after trying bo

[2020-01-23 06:52] #13714 closed

[2020-01-23 07:07] timabbott commented on #13720
I agree we should at least have a technical description of what's supported.  Though it's possible we should prioritize #12323 first, since that may provide a much clearer story for what's supported.

I've also wanted for a long time a tester system for it, but it'd be a good amount of code to implement, and potentially not worth it.

[2020-01-23 07:09] timabbott commented on #11134
I'll repeat:

[2020-01-23 07:17] timabbott commented on #13698
@grandemk thanks for the report.  Do Taiga's outgoing webhooks contain the data needed to include those links?  If so, we should certainly adjust our integration, but looking at the fixtures in e.g. `zerver/webhooks/taiga/fixtures/userstory_changed_closed.json`, it doesn't appear that Taiga exposes the information required to provide a link.

It's possible that Taiga has changed their API to add f

[2020-01-23 07:23] timabbott commented on #13697
Agreed, this seems like a duplicate of #13295.

@danielbradburn if you can capture some example payloads from version 2.1.2 that we can develop against (see https://zulipchat.com/api/incoming-webhooks-overview for what this means), that would help a great deal in addressing this, since I think the main blocker for fixing this has been getting that data (as we don't run AWX ourselves).

[2020-01-23 07:23] #13697 closed

[2020-01-23 07:23] timabbott commented on #13697
Oh, just noticed you're already corresponding on #13295, great :)

[2020-01-23 07:36] shubhamgupta2956 commented on #11990
@timabbott is this issue available?

[2020-01-23 08:46] shubhamgupta2956 commented on #13696
@zulipbot claim

[2020-01-23 08:55] Hypro999 commented on #13295
Ok, so today I took the time to set up my own installation of Ansible + AWX so that I can take a closer look at what's going on and to test things out. Here are the installation details:
1. OS: Ubuntu 18.04.3 LTS x86_64
2. Ansible: ansible 2.5.1 (using python 2.7.17 by default)
3. AWX: awx 7.0.0. (commit: 4edfe7e5fc8b31b71e53091cb9271210fbee641b)

Then I ran the demo job template and I found that

[2020-01-23 09:20] Hypro999 commented on #13295
Now, I've reconfigured my server to use the latest versions of both Ansible and AWX since @danielepesciallo that's what you seem to be using. Here are the new installation details:
    OS: Ubuntu 18.04.3 LTS x86_64
    Ansible: ansible 2.9.4 (using python 2.7.17 by default)
    AWX: awx 9.1.1 (commit: 4edfe7e5fc8b31b71e53091cb9271210fbee641b)

And the good news here (depending on how you look at i

[2020-01-23 10:00] grandemk commented on #13698
@timabbott Yes it seems the webhooks have a permalink to the userstory in the webhook.

Looking at the Taiga documentation, in 4.3.3 Change on http://taigaio.github.io/taiga-doc/dist
[code]

[2020-01-23 10:33] stuntsman commented on #13714
@timabbott I'm afraid there's a misunderstanding and I'd like to ask for review.

New messages definitely _don't_ appear in the empty area, the empty area stays empty _all the time_ taking up the screen estate for no reason.

[2020-01-23 14:05] showell commented on #9857
Tim, can you look at the logs for one of our bigger realms and see how expensive the topic queries are?

They should be of the form `'/json/users/me/' + stream_id + '/topics'`.

The data structure in `topic_data` is pretty simple.  The Dict has a key of `stream_id`, and then each value is an array of objects with members `message_id`, `pretty_name`, `historical`, and `count`.

It should be relativ

[2020-01-23 15:09] sgregori commented on #11959
Excuse me, Cas provides many attributes like email, and there are new versions of cas protocol supported by many apps like rocketchat and others.

https://apereo.github.io/cas/6.0.x/integration/Attribute-Resolution.html

Regards.

[2020-01-23 16:29] rht commented on #13418
It's way past January 1 2020. Is it worth it to remove Thumbor now and implement using Imageflow later?

[2020-01-23 18:32] vsvipul commented on #13560
Facing this same problem while building the flow for desktop auth as well. Normal login in the browser (after app login ) also results in a prompt to open the app.

[2020-01-23 19:40] adithyay328 commented on #5087
@zulipbot claim

[2020-01-23 20:30] OvermindDL1 commented on #11959
We can't all use newer CAS providers unfortunately.  And optional arguments are indeed optional, email just outright doesn't exist in ours.  ^.^;

[2020-01-23 21:25] timabbott opened #13726 "Fix scalability issues with GET .../topics with many streams on the server"
We have a useful API for fetching historical data on topics, `/users/me/{stream_id}/topics`.  This API is intended to be fast (it's used whenever one clicks "more topics"), and on chat.zulip.org, it is (50ms-200ms runtime).  But on zulipchat.com, where we have history from a great many organizations, it can end up quiet slow, e.g. this:

[code]

I think what's happening here is that postgres is us

[2020-01-23 21:26] timabbott commented on #9857
For scope, there's a few things we'd like to do with this, ideally using a common mechanism:
* stream search bar typeahead (important)
* compose box topic autocomplete (if it's easy; I'd at least like to use the data if it's available in-browser even if we don't decide it's worth fetching it)
* compose box `#stream>topic` typeahead (if it's easy; I'd at least like to use the data if it's available

[2020-01-23 21:32] timabbott commented on #13726
OK, I think this index is what we want:

`CREATE INDEX CONCURRENTLY IF NOT EXISTS zerver_message_recipient_subject ON zerver_message (recipient_id, subject, id);`

[2020-01-23 21:42] timabbott commented on #13560
@mateuszmandera can't we just make `oauth_redirect_to_root` (aka the starting point of social auth) clear the session at the beginning?  Oh, hmm, I guess we need to clear session cookies on `auth.zulipchat.com` instead, which currently would be inside the actual start function for the social auth code (and thus harder to hack)?

[2020-01-23 21:48] timabbott commented on #13418
Unclear.  I think it's worth figuring out what we're replacing Thumbor with before removing the code, because that will tell us which parts of the infrastructure we'll end up wanting to reuse.

https://www.imageflow.io/licensing/ is worth noting (they're an AGPL with proprietary relicensing business model).  It's not clear to me whether we'd need to integrate more tightly than just using their API

[2020-01-23 22:18] gnprice opened #13728 "Make typeahead code sharable with mobile app"
@timabbott remarked on zulip/zulip-mobile#3833:

I think this would be very fruitful! As Tim says, there's a lot of pure logic in there, and it encodes a lot of nuanced product choices that would be a lot of work to reimplement one by one in the mobile app. There's also some annoyances people regularly run into on mobile which the webapp has a nice feature that solves, like zulip/zulip-mobile#2603

[2020-01-23 23:07] drrosa commented on #13696
@shubhamgupta2956 just FYI, I think @timabbott started working on this and was planning to push his draft PR soon as he [mentioned here](https://chat.zulip.org/#narrow/stream/65-checkins/topic/tabbott/near/809863).

[2020-01-24 00:14] timabbott commented on #13726
Well, that index definitely helps, but the query still ends up somewhat expensive (250ms on the same query that was 500ms-1330ms on zulipchat.com, shown above):

[code]

I think it's likely still worth merging a migration to add the index I had, since it's a factor of >2x.  But we should be able to do better; from a data structures perspective, it should theoretically be possible for the database

[2020-01-24 00:16] shubhamgupta2956 commented on #13714
@stuntsman I have checked this thing. The new messages(which the user sends not the new messages from other users) actually come in that space. But it does not take the whole space. A certain space is still left at the bottom. I guess that will not be a big problem as it does not affect the UI feel much IMO.

[2020-01-24 00:22] #13684 closed

[2020-01-24 01:10] timabbott commented on #13726
Well, that new index I just tested (`"zerver_message_recipient_subject" btree (recipient_id, subject, id DESC NULLS LAST)`) seems to not perform any better than without the `DESC NULLS LAST`.  Hrm.

[2020-01-24 09:25] stone212 opened #13730 "error 47 from memcached_set:"
A recently restored server is sending this error to email but the server looks like it is functioning:

[code]

[2020-01-24 13:46] shubhamgupta2956 commented on #13696
@zulipbot abandon

[2020-01-24 19:32] Abhishek-Balaji commented on #11685
@zulipbot abandon

[2020-01-24 19:33] Abhishek-Balaji commented on #11685
I've started working on another issue but the pull request is still open for a final review @timabbott

[2020-01-24 20:11] timabbott commented on #13730
The exception is caused by the memcached process having been restarted.  The most common cause is an apt upgrade restarting memcached without your having restarting the Zulip server afterwards; many details are here: https://zulip.readthedocs.io/en/latest/production/troubleshooting.html#disabling-unattended-upgrades

[2020-01-24 20:28] sgregori commented on #11959
Our CAS server (based on ruby casino gem) is connected to LDAP also.

Tomorrow i will test zulip, actually we are using rocket chat for testing, and zulip seems nice alternative.

[2020-01-24 20:42] ryanreh99 commented on #13616
@zulipbot claim

[2020-01-24 21:00] orientor commented on #13698
@zulipbot assign

[2020-01-24 21:04] orientor commented on #13698
@zulipbot claim

[2020-01-24 21:14] timabbott opened #13734 "Improve presence system's scalability for large realms"
So, I'm not sure the approach in #13709 is the right path forward for improving our presence system's handling of users inactive for more than 2 weeks in large realms.

To explain what's going on, the current model is that the "last active" data is maintained via the presence system.  Presence is something that requires careful optimization, see https://zulip.readthedocs.io/en/latest/subsystems/pr

[2020-01-24 21:15] timabbott commented on #13709
So, I'm not sure the approach in #13725 is the right path forward here.

I'm going to close this issue in favor of my preferred solution writeup, #13734.  Thanks for working on this @orientor and the report @cyphase!

[2020-01-24 21:15] #13709 closed

[2020-01-24 21:59] stone212 commented on #13730
@timabbott   Zulip has been re-started (many times) and the error continues so I don't think that is the issue.  This server does not have unattended upgrades.

[2020-01-24 22:04] timabbott commented on #13730
Check the IP address details for the server that's sending the error emails -- is it the one you think it is?  The error is very clear: A Zulip process is attempting to connect to memcached and finding it down.  But it could be being sent from a different copy of your restored server.

[2020-01-24 22:09] timabbott opened #13736 "Deduplicate `create_internal_realm` between populate_db and initialize_voyager_db"
Once https://github.com/zulip/zulip/pull/13735 is merged, I believe that we can now do a commit series like this:

* Move `create_internal_realm` and `create_users` from `populate_db` to some reasonable place, like `zerver/lib/server_initialization.py`
* Move the `get_client("website")` common setup code block into `create_internal_realm`
* Change `tos_version` to be an option to `create_users`
*

[2020-01-24 22:12] stone212 commented on #13730
@timabbott I re-started the other server just in case but yes I am sure that I'm looking at the correct server.  I re-started the server with `restart-server`, not a re-boot.  I can do a re-boot if necessary but I hope it isn't.

Is there something in the restore procedure that could have the new server expecting to find memcached in a different location (same OS, same version)

memcached shows up

[2020-01-25 01:51] timabbott commented on #13730
Can you explain how frequently the emails are being sent?  The traceback unfortunately doesn't provide details of what code path is hitting it, so it'll be hard to debug without something else that indicates where this is running :(.

I would expect the server to be much more broken than you describe if memcached inaccessible to Zulip, but we should consider that possibility as well.  What precise

[2020-01-25 05:05] stone212 commented on #13730
@timabbott

I've been deleting them but I can say that a few come at one time and then I get another batch at once later, and I will stop deleting them so I can give you accurate information.

It might be.  It is not being used yet.  It looks like the restore worked, and I also did a successful "Forgot Password" process and everything has been good other than this.  What is a good test I can run t

[2020-01-25 08:27] pragatiagrawal31 commented on #12304
@zulipbot claim, working on 4th task and separately on the 5th task later.

[2020-01-25 13:13] akashaviator commented on #13588
@zulipbot abandon

[2020-01-25 14:10] showell commented on #13734
I think we should just have a database table for tracking last_active date.

[2020-01-25 14:20] showell commented on #13728
One thing we'll want to move here is `people.remove_diacritics`.  It's in `people` only because that's the first place we needed it, but it has nothing to do with people data specifically, and we could move it to the new shared library.

[2020-01-25 14:38] showell commented on #13726
My proposal is to create a table with columns stream_id, topic_id, and last_message_id that we simply update on every message.

The only annoyance I can think of with my proposal is renaming topics, but I think we can manage that.  We'd probably still want an index like `"zerver_message_recipient_subject" btree (recipient_id, subject, id DESC NULLS LAST)` to be able to find the last message id aft

[2020-01-25 15:23] jiviteshjain commented on #12898
@zulipbot claim

[2020-01-25 17:12] sahil839 opened #13737 "Settings: Settings on narrowed browsers should open list of settings"
Steps to reproduce:
1. Reduce the width of browser to a certain extent.
2. Open settings page by clicking on gear icon on top right.
3. The first setting in the menu opens directly,
`Your Account` opens for user settings while `Organization Profile` opens for organization settings.

![Peek 2020-01-25 00-31](https://user-images.githubusercontent.com/35494118/73124662-c422a980-3fc3-11ea-8d87-76415bb

[2020-01-26 04:22] krptic07 commented on #13480
@zulipbot claim

[2020-01-26 06:16] timabbott opened #13738 "Upgrade Zulip's set of supported base OSes to facilitate dropping Python 3.5"
This is a meta-issue for work we'd like to do in 2020 to upgrade the versions of Zulip's supported releases:
* [x] Add explicit, tested upgrade instructions for Debian Stretch -> Debian Buster here: https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system.  My guess is this will likely be just testing that the procedure works (we won't need to make an

[2020-01-26 06:31] timabbott commented on #13737
I'm not sure what precisely will be required to do this, but it seems like clearly a good idea.  Tagging it as a good issue new contributors because I think it's fairly self-contained even though it'll likely require some research to resolve.  I'd recommend that they prototype something that seems workable before claiming this issue, to avoid cluttering it with claims from folks who aren't sure ho

[2020-01-26 06:41] #13533 closed

[2020-01-26 06:42] timabbott commented on #13736
OK, #13695 merged and this is now ready to work on.

[2020-01-26 07:05] timabbott commented on #13533
Awesome, I'm excited to have this resolved.  I think we're now good to do things like migrating the redis server on zulipchat.com to newer hardware; I'll attempt that tomorrow.

[2020-01-26 07:07] chdinesh1089 commented on #13694
@zulipbot claim

[2020-01-26 07:13] timabbott commented on #13726
The bigger annoyance will be features like deleting messages, I think.  If we can figure out how to tell postgres to create the right database index, this **should** be something the database can just do magically for us.  I wouldn't be surprised if this is something fixed in Postgres 10/11 with the index described above; I wish I had a good way to test that.  I suppose simplest would be to upgrad

[2020-01-26 07:16] timabbott commented on #13734
Yeah, I think that's a reasonable way to do the performance optimization piece at least for the "every user data" part.  Before we can do that, we will probably want to change the presence data format, since right now the format semi-requires us to send data that we'd need more tables for.

[2020-01-26 07:19] timabbott commented on #12304
Awesome, I'm really excited about this!

[2020-01-26 07:41] #11685 closed

[2020-01-26 07:49] timabbott commented on #9857
Thinking about how to unblock this, I guess the piece that's definitely in the clear to do is just have the code in those 3 code paths take advantage of the full topic data if it's already available (with the only way to make it available being clicking "more topics"); I think that'll be a strict subset of what we'll end up writing once #13726 is resolved to also allow these features to trigger a

[2020-01-26 17:11] Vivekk07 commented on #13737
When you click the settings icon and select settings while the browser is fit to screen(or of adequate width), it opens a dialog box with two tabs [Settings] and [Organization] and within the tab, the first sub-tab is open by default(or previously opened sub-tab if opened).

Now when you say if you reduce the browser width to a certain extent, the first sub-tab is opened by default, and due do sma

[2020-01-26 19:54] vaibhavrajsingh2001 commented on #13737
@zulipbot claim

[2020-01-26 19:57] vaibhavrajsingh2001 commented on #13737
@timabbott can I work on this? For the issue being referenced by Zulipbot, I’ve already made #13705 .

[2020-01-26 22:44] corlettim commented on #3128
@zulipbot claim

[2020-01-27 05:29] timabbott commented on #13737
@vaibhavrajsingh2001 yeah, go for it.  The zulipbot restriction is intended to prevent people who haven't done any work from claiming 10 issues (a form of accidental spam we get sometimes).  Anyone who has made a serious PR we're planning to merge is welcome to claim other issues.

[2020-01-27 06:49] hackerkid commented on #13588
@zulipbot claim

[2020-01-27 09:47] ab1nash commented on #13642
@zulipbot claim

[2020-01-27 09:54] ab1nash commented on #13642
I'd love to work on this because I saw this occurring while working on #4145.

[2020-01-27 22:48] gnprice opened #13745 "List formatting can break when message contains a quote"
Originally reported in chat a few weeks ago, [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/bulleted.20list.20.2B.20quote-block/near/805243).

@aero31aero has a PR for a fix, #13598. Filing this issue because I ran into the bug again a few times today, and just spent a few minutes looking for where I'd previously reported it.

[2020-01-27 23:38] #13645 closed

[2020-01-28 00:02] timabbott opened #13746 "Add support for importing avatar from GitHub on account creation"
Especially for realms which are using GitHub as their only authentication method, it'd be really nice to pull in the user's avatar from GitHub during the authentication flow.  (We might be able to do something similar with Google, too; I haven't checked their APIs but it seems likely the data is available in what we're already requesting).

I think we could do this by just plumbing through a `soci

[2020-01-28 00:06] timabbott commented on #12638
@mojca thanks for the many thoughtful proposals!  I'm sorry we didn't reply to them when you posted them, but since we're working on the main issue here and I don't want them to get lost as they have a lot of good ideas, I'm going to organize them into new issues.

I think after the items discussed above are completed, we may not need this; it's unusual that someone would want 2 active accounts in

[2020-01-28 01:04] timabbott commented on #13642
@ab1nash feel free to work on this.  I think the semi-opaque background for the buttons approach sounds promising; previous attempts at fixing this have had issues with messing up the spacing of messages that haven't been clicked.

[2020-01-28 02:24] ryanreh99 commented on #13616
Hi @timabbot, I have some questions about the api parameters for this issue.
Since we want to change the `is_announcement_only` field from `boolean` to enum (`smallPositiveInteger` called `stream_post_policy` maybe).
To make it compatible with `zulip-mobile` should we keep the `is_announcement_only` field along with the `stream_post_policy` field?

[2020-01-28 03:45] stone212 commented on #13730
@timabbott  I am still getting these messages and still waitin for a reply.  There does not seem to be a pattern except that I get about 50 per day.

Did you find out how I can apply that patch you mentioned?  Where you said "the memcached authentication we added in 2.1.2 requires a patch to restore-backup"

[2020-01-28 03:46] stone212 commented on #13730
@timabbott Actually I think the error now is a new one.  It says:

`error 47 from memcached_set: (0x55ce45879f80) SERVER HAS FAILED AND IS DISABLED UNTIL TIMED RETRY, host: 127.0.0.1:11211 -> libmemcached/connect.cc:720`

[2020-01-28 03:47] stone212 commented on #13730
@timabbott And a new error mixed in.  Does this indicate something:

error 41 from memcached_set: (0x23bbe10) AUTHENTICATION FAILURE, host: 127.0.0.1:11211 -> libmemcached/sasl.cc:292

Maybe there is a step missing from the backup/restore documentation about setting up a username and password for memcached?  I don't remember if that is part of Zulip installation.

[2020-01-28 04:19] stone212 commented on #13730
@timabbott `service memcached restart` doesn't fix the problem.  memcached/systemctl shows no errors but the emails still come.  I got 10 within 4 minutes of each other, starting one minute after re-starting memcached.

[2020-01-28 06:59] #13706 closed

[2020-01-28 07:02] bangpradyumna commented on #13746
@zulipbot claim

[2020-01-28 07:09] bangpradyumna commented on #13746
@timabbott Although I'm new to Zulip, This issue seems to be solvable to me, Can I work on it without claiming it ?

Thanks

[2020-01-28 09:37] mateuszmandera commented on #10832
I think this got closed prematurely due to github weirdness?

[2020-01-28 13:20] mateuszmandera commented on #13730
@stone212 You should have all the errors in ``/var/log/zulip/errors.log``, you don't need to rely on the emails. Particularly referring to:

You should be able to see from the timestamps in the log to see if this was happening before the update.

[2020-01-28 16:28] sourabhdharpure commented on #13375
@zulipbot claim

[2020-01-28 17:57] som23ya commented on #13737
@zulipbot claim

[2020-01-28 18:03] showell commented on #13664
I'm gonna go ahead and close this.  Zulip's approach here is similar to most chat products, and we've gotten very little pushback on it through the years.  It would also be a lot of work to support two modes here, so I just don't think this is likely to happen.

[2020-01-28 18:03] #13664 closed

[2020-01-28 18:12] sahil839 commented on #13737
@som23ya I think @vaibhavrajsingh2001 is working on this issue. You can take up another issue,

[2020-01-28 19:08] jasonaowen opened #13750 "soft_deactivate_users cron job sends email"
Zulip automatically configures a daily cron job to "soft deactivate long term idle users":

https://github.com/zulip/zulip/blob/cfa62700809584003468a982605ef724204a5f21/puppet/zulip/files/cron.d/soft-deactivate-users#L5-L6

The `>/dev/null` at the end implies that this job should not emit any email.

However, because of `INFO`-level logging statements, cron is sending out an email each time the jo

[2020-01-28 19:20] Rodriq opened #13751 "Building docs error"
As stated in the documentation, when I run `./tools/build-docs ` I get the following error:
[code]

I tried installing **Sphinx** manually with `pip3 install -U Sphinx` but still got the same issue.

[2020-01-28 20:21] kfogel commented on #13750
+1 to @jasonaowen's suggestion.

[2020-01-28 21:54] timabbott opened #13755 "Include application to be a sponsored organization in organization signup flow"
Our volume of requests from open source projects for sponsorship has gotten pretty high, and I'd like to make the process more streamlined and also more clear to the projects that they'll be approved with a process that does the check following signup.

I believe we can address this as follows (the following would be conditional on `BILLING_ENABLED`):
* Extend the main registration template (`regi

[2020-01-28 22:12] timabbott opened #13756 "Fix reloading browser window in stream-edit UI"
If you reload a browser window that's visiting http://localhost:9991/#streams/8/design, we end up incorrectly showing the "Create stream" UI.  I'm not sure when this regressed, but it should be loading that stream's settings page.

![image](https://user-images.githubusercontent.com/2746074/73309962-294ee880-41d8-11ea-8d07-bfedb4ef97cc.png)

@pragatiagrawal31 @YJDave any idea what's going on here?

[2020-01-28 22:18] timabbott commented on #13756
Turns out to be another Int/str issue; @showell FYI in case there's other things to audit for here.

[2020-01-28 22:27] #13756 closed

[2020-01-28 22:59] timabbott commented on #13750
This is definitely not intended to send emails.  I think the problem is with the logger configuration -- it sounds like it's somehow writing to STDERR?

Can you try testing what happens if you add `2>/dev/null` at the end of the command as well?