[2022-11-15 00:30] timabbott commented on #20087
This was fixed in #22882.

[2022-11-15 00:30] #20087 closed

[2022-11-15 01:31] drrosa commented on #23560
@alya Yes, I'll work on this.

[2022-11-15 06:09] amanagr opened #23573 "Fix recent conversation focus line flickering."
In recent conversation narrow, after pressing `enter` on a topic and pressing `esc`,  the focus line briefly disappears and reappears again; It is possibly related to the race where Enter would have opened the compose box before #23536.

[2022-11-15 06:24] rht commented on #23469
@zulipbot claim

[2022-11-15 06:41] Rixant commented on #23408
@zulipbot abandon

[2022-11-15 06:41] Rixant commented on #23408
@zulipbot claim

[2022-11-15 12:25] Quin452 opened #23575 "Is there a way to disable "invisible" status?"
I have an employee who likes to set his status to invisible.
I assume it is to evade when he goes idle, etc., since he is known to wander from his desk during working hours (it's 100% remote).

[2022-11-15 18:27] #23560 closed

[2022-11-15 18:35] #23548 closed

[2022-11-15 18:43] #23469 closed

[2022-11-15 19:38] prakhar1144 commented on #22884
Update -- A PR has already been raised and `post release` label added to merge after `6.0` release.
[Details](https://github.com/zulip/zulip/pull/23225#issuecomment-1304278321)

[2022-11-15 19:58] brboyce commented on #23266
I have made a pull request titled "Issue 23266 - Improve handling of long bot owner names in bot management modal #23551". Are there other steps I should take to have this pull request merged?

[2022-11-15 19:58] brboyce commented on #23266
@zulipbot claim

[2022-11-15 20:05] timabbott commented on #23407
I think probably following #22893 we will be able to just remove the whole `mark_all_as_read` API endpoint in favor of it once we've confirmed it's no longer used, so I think it probably makes sense to close this as wontfix.

(I don't think we'd thought through the fact that the updated "mark as unread" endpoint would obviate these secondary endpoints).

[2022-11-15 20:05] #23407 closed

[2022-11-15 20:07] timabbott commented on #23406
This will be fixed by https://github.com/zulip/zulip/pull/23579 as a side effect of using the new message flags endpoint for bulk-marking messages as read.

[2022-11-15 20:12] timabbott commented on #14169
@alya should we close this? I think the new banners communicate clearly what's going on in such a view, and I'm not sure whether or not there's something further to do here. If there is, we should probably open a new focused issue, since I think the current writeup doesn't feel actionable given the changes we've made in this space in the last year.

[2022-11-15 20:13] timabbott commented on #16324
Closing in favor of https://github.com/zulip/zulip/pull/23579.

[2022-11-15 20:13] #16324 closed

[2022-11-15 20:15] timabbott commented on #11843
We now do display an `@` symbol next to any streams with unread mentions; this isn't precisely the idea proposed here, but it probably does help solve the core problem here.

[2022-11-15 20:17] timabbott commented on #10492
The current user experience for marking all messages read, including what we're about to merge in https://github.com/zulip/zulip/pull/23579, does solve the two key problems here: You get a progress indicator, and that progress indicator doesn't block browsing Zulip. I think we can close this as (about to be) resolved, though we're of course we're very open to new issues to further improve the expe

[2022-11-15 20:17] #10492 closed

[2022-11-15 20:19] timabbott commented on #13079
I think users can now simulate this themselves by marking everything as read, and then visiting the mentions, PMs, etc. individual views and using "mark as unread" in those views to get what they want. Does it make sense to close this given that? I don't see a simple feature we could do here that would be an improvement, other than perhaps documenting that workflow.

[2022-11-15 20:19] timabbott commented on #13079
Also worth noting that https://github.com/zulip/zulip/pull/23579 addresses the progress indicator items discussed here.

[2022-11-15 22:33] #23482 closed

[2022-11-15 23:15] timabbott commented on #21789
Fixed in https://github.com/zulip/zulip-archive/pull/93/commits/0d9141dfed156c9c90695af6a02dd06bf926fe20.

[2022-11-15 23:15] #21789 closed

[2022-11-16 01:55] alya opened #23588 ""more topics" not working while left sidebar is loading"
Repro:

1. Open a slow-loading organization, like chat.zulip.org.
2. *While the left sidebar is loading*, click on "more topics" on a stream.

Expected: "more topics" should open
Actual: The sidebar jumps to a different location; "more topics" does not open.

[2022-11-16 01:56] alya commented on #23588
@amanagr I'm assigning this one to you, but if you have too many release goals on your place, please ping someone for help (@sahil839 ?).

[2022-11-16 08:09] melbel commented on #21596
Unfortunately, that appears to not have fixed it. Updating Zulip from 4.7 to 5.6 still showed one migration as "missing in new version". But then we've had this installation active since version 2015, version 1.3.

Adding --skip-downgrade-check to the deploy options and as a parameter to stage 2 after do-release-upgrade did help though.

Is there a way to completely get rid of old migrations? I ca

[2022-11-16 15:35] Emil2022 commented on #22045
Hello! I'm trying to add these features to the Zcommand related files. Are there any particular files that I should be looking into outside of zcommand.py and zcommand,js?

[2022-11-16 17:55] arijitghosal03 commented on #23516
@zulipbot claim

[2022-11-16 19:13] alya commented on #21505
See[ more recent discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/redirects.20from.20near.20links/near/1461038) on the above thread for a concrete proposal for how to solve this issue.

[2022-11-16 19:43] alya commented on #23188
Hi @anniechnn , could you please describe your proposed approach for solving this issue?

[2022-11-16 20:06] alya commented on #22045
@Emil2022  I recommend posting your question in the #development help stream in the [Zulip development community](https://zulip.com/development-community/), where more folks will see it.

[2022-11-16 20:12] amanagr commented on #23561
Closing this since we should now do #23563 directly.

[2022-11-16 20:27] alya commented on #13079
Yeah, I agree. It would be pretty complicated to explain to the user the "mark most messages as read" functionality described here. Let's close this one out.

[2022-11-16 20:27] #13079 closed

[2022-11-16 20:33] alya commented on #14169
Yes, that's right. I think the banner resolves this general issue, and any further improvements can be filed as separate issues.

[2022-11-16 20:33] #14169 closed

[2022-11-16 20:51] alya commented on #23575
We do not currently have such an option; marking this issue as a feature request.

[2022-11-16 20:54] alya commented on #20972
Hi @Dhruvi16 ! Please come by the [Zulip development community](https://zulip.com/development-community/) and check out the conversations in the #design stream to get a feel for how you might be able to contribute. https://zulip.readthedocs.io/en/latest/contributing/design-discussions.html may also be a helpful reference. Thanks!

[2022-11-16 21:22] alya commented on #23561
No decision has been made; we will test this on CZO and see.

[2022-11-17 02:58] legopin opened #23595 "Topic Edit Typeahead interferes with IME selection"
## Basic Info
Zulip Server
Version 6.0-dev-2443-g527b656fc9
Forked from upstream at 6.0-dev-2430-ge797715f1d
Appears on both web and mac Desktop app V5.9.3

## Expected Behavior
When editing topics using IME (for example Chinese) and there already exists a topic with matching character, text should only be inputted after composition event in IME is complete

## Actual Behavior
GIVEN
- editing/comp

[2022-11-17 05:13] #22893 closed

[2022-11-17 05:53] timabbott opened #23598 "Deprecate and remove legacy unread endpoints"
The API endpoints documented here: https://zulip.com/api/mark-all-as-read are effectively special cases of the /api/v1/messages/flags/narrow API endpoint; we should plan to replace client use of them with the more general endpoint, sharing code  web app code from #23579.

The first step for this will be starting a thread in `#api design` on chat.zulip.org for what our deprecation options are; if t

[2022-11-17 08:09] timabbott opened #23600 "Mark all as read/mark as unread status notifications don't support multiple parallel requests"
In https://github.com/zulip/zulip/pull/23579, we introduced new feedback for users when large bulk operations to mark messages as read/unread. This code path doesn't support more than one copy running at the same time; both because of the shared global `loading_indicator_displayed` state, as well as the use of a fixed banner (rather than each request using its own banner).

This is not particularl

[2022-11-17 08:46] #14053 closed

[2022-11-17 08:46] #23406 closed

[2022-11-17 14:23] sutidor commented on #23188
@alya, I can't add labels, only maintainers can. Would you please?

[2022-11-17 17:37] #23561 closed

[2022-11-17 18:20] timabbott commented on #23563
We should do this by extending `recent_senders.js` with logic to track the message IDs we know about for each sender in each private message conversation.

I expect us to be able to reuse the `IdTracker` class in that module, and this code path to be considerably simpler, since you can't move messages between private message conversations like you can move content between topics.

Reading `unread.

[2022-11-17 19:30] chrisbobbe opened #23608 "Quote and reply: Pad with two newlines instead of one"
Currently, in the web app, quote-and-reply Markdown is inserted with a newline character before and after it, unless it's inserted at the beginning in which case the newline before is omitted.

Let's keep all that the same, except use two newline characters instead of one, which would pad the inserted text with a whole empty line. The extra breathing room will be nice, and we're doing this on mobi

[2022-11-17 19:32] alya opened #23609 "Scroll selected PM conversation into view"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20section.20.2320870/near/1465789):

We should implement scrolling to a PM conversation when it's selected, as we do for stream conversations, and test on CZO.

[2022-11-17 20:02] erwsmith commented on #23608
@zulipbot claim

[2022-11-18 01:10] Joelute commented on #23295
@zulipbot claim

[2022-11-18 02:10] shishir03 commented on #23609
@zulipbot claim

[2022-11-18 04:26] quinnah commented on #23598
@zulipbot claim

[2022-11-18 05:01] danger-ahead opened #23615 "Location of the `provision` script is not correctly given in `setup-advanced.md`"
For an absolute new user who has just started browsing through the zulip docs, it might be a bit confusing to find the path of the `provision` script. The correct path should be `tools/provision`.

[2022-11-18 12:59] andreas-bulling commented on #23430
Any update on this?

[2022-11-18 13:54] rebeccasod commented on #23470
@zulipbot I'm still working on this issue

[2022-11-18 16:43] alexmv commented on #21596
That's very odd -- starting from version 5.1, when we merged #21656, we've ignored that specific migration (among others) for purposes of determining if there are migrations applied which we don't expect.  I don't see how the logic could be failing here.

If you can show the relevant section (from the last `subprocess.CalledProcessError` in there up to the closest `upgrade-zulip: Archiving the tar

[2022-11-18 16:59] devurandom opened #23618 "Mark topic as resolved when New Relic webhook sends "closed" event"
# Context

New Relic sends "closed" events (cf. also https://afya.zulipchat.com/integrations/doc/newrelic). They render as "[Incident](https://alerts.eu.newrelic.com/...) closed for condition: ...". Zulip supports marking topics as resolved, which adds a checkmark next to the topic name in the list.

# Request

To keep an overview over what are still ongoing problems and what issues were already d

[2022-11-18 17:36] alexmv opened #23620 "upgrade-zulip should print what version it is upgrading between"
`upgrade-zulip-from-git` prints what commit hashes it's upgrading to, but `upgrade-zulip` with a tarball doesn't show anything useful:
[code]

This makes `/var/log/zulip/upgrade.log` much less useful for knowing what was upgraded to when.

We should update `upgrade-zulip` to print the current version, as well as the version in the tarball it unpacks.

[2022-11-18 18:24] #23110 closed

[2022-11-18 21:46] sayamsamal commented on #23089
@zulipbot claim

[2022-11-19 12:55] Nibor9198 commented on #23493
Im in the process of creating a pull request

[2022-11-19 16:38] ilaiyengar commented on #21224
I am still working on this

[2022-11-19 17:12] lamyseba commented on #16210
Hi. I think this problem is an important issue, and it has been submitted more than two years ago.  So I'm pushing up hoping to help get it solved.

Morever, it seems there is also **a similar problem in the image viewer**. The first time I click to enlarge an image, I have to wait a lot of time (like 20-30 seconds) for it to be displayed. It seems Zulip is downloading every thumbnails in the bott

[2022-11-20 04:53] Rixant commented on #23408
@zulipbot claim

[2022-11-20 06:21] willigd commented on #21800
@zulipbot still working!

[2022-11-20 08:23] ryansong13 commented on #23494
@zulipbot Still working on the fix!

[2022-11-20 11:20] nikoPLP opened #23624 "insert image in message"
Hello,
I am running a self-hosted instance of Zulip, latest version, on Ubuntu 20.
It looks like you removed the thumbnailing system last year.
As a consequence, images inserted in messages are showing up as links without any inline image preveiw, right?
contrary to what the doc says here https://zulip.com/help/format-your-message-using-markdown#images
it seems impossible to insert an image in a m

[2022-11-20 18:57] nagyem commented on #22582
still working on the issue

[2022-11-20 21:40] AlexanderMohan opened #23625 "Transgender Flag missing in reaction in Zulip 6.0"
Hi,

All of the new unicode 14 flags are showing in the reaction picker except, as far as I can tell, the transgender flag (🏳️‍⚧️).

Steps to reproduce:
* Go to react to a message

[2022-11-20 23:44] lzmartinico opened #23626 "Zero-width emojis do not display correctly"
- [ ] On Zulip 6.0, Zero Width Emoji characters in messages fail to display if not selected with the emoji picker (or by typing the colon name). Instead, when an emoji is pasted from an external source, it is rendered in the compose box only, and once the first two component emojis appear, without the first zero width joiner (emojis that contain multiple joiners such as 👨‍👩‍👦‍👦 will join some port

[2022-11-21 02:14] timabbott commented on #23624
The thumbnailing system was never enabled by default, but even when it was enabled, it just saved bandwidth; we have always had inline image previews enabled by default.

I think most likely your installation has this setting configured: https://zulip.com/help/allow-image-link-previews

[2022-11-21 02:15] timabbott commented on #23626
@evykassirer can you investigate this? I have a suspicion that `UNICODE_EMOJI_RE` is involved.

[2022-11-21 02:20] timabbott commented on #23618
Thanks for the feedback! Our current design for integrations is not to do this sort of thing, because an incident being resolved in a monitoring tool like New Relic does not necessarily mean the __conversation__ about that incident in Zulip is resolved. It's pretty common for teams to want to do a retrospective or further debugging before resolving the conversation in Zulip.

I can imagine having

[2022-11-21 02:34] timabbott opened #23628 "Replace Bootstrap progress bars in portico pages"
As part of our ongoing effort to remove use of Bootstrap from the Zulip codebase by stopping using and then deleting portions of our forked `bootstrap`, we should stop using the Bootstrap progress bars library.

We use it in two places in the `portico` codebase; the registration form and the password reset confirmation form:
[code]

In both places, this is code to show a password strength indicato

[2022-11-21 02:41] timabbott opened #23629 "Make billing.css no longer depend on landing_page.css"
Currently, our billing pages include landing_page.css; this results in a lot of styles that are part of our landing pages being applied to these pages. I think basically none of them are useful; the only thing I can identify is the Zulip logo in the heading section at the top of these pages; which I imagine we can either move/copy to `billing.css` or pick some good CSS class names for the behavior

[2022-11-21 03:05] timabbott opened #23630 "Replace Bootstrap tabs in activity/billing codebase"
We currently using the bootstrap-tabs library and its CSS for a few parts of our portico/billing site:

[code]

We should remove these in favor of using some more modern/modular way to do tabs.

One option would be to extract the `tab-switcher` component that we use for tabs in the web app; it's defined in `app_components.css`, but could be moved to `components.css` if we wanted to use that exact

[2022-11-21 03:17] timabbott opened #23631 "Rewriting landing_nav.html and portico-header-dropdown to replace Bootstrap"
We currently using the `bootstrap-dropdown` portion of Bootstrap in essentially one place: The dropdowns in our landing pages.

Since that's an item included in a bunch of pages, it'd be valuable to migrate it off Bootstrap; doing so would let us remove a substantial portion of Bootstrap that we'd like to stop using.

I'm sure there's a modular modern library we can use to replace this. (We should

[2022-11-21 03:20] timabbott opened #23632 "Rewrite popovers to no longer use bootstrap-popover"
We stopped using Bootstrap tooltips a while ago, but can't delete it from our fork of Bootstrap that we're trying to delete entirely, because we're still using the Bootstrap popovers library for almost all of our popovers in the project. `static/js/popovers.js` contains the Bootstrap popovers; `static/js/popover_menus.js` has the new-style Tippy-based popovers. We should migrate them all to the mo

[2022-11-21 03:45] timabbott opened #23635 "Remove Bootstrap CSS reset from <select> elements"
We have an ongoing project to remove Bootstrap from the codebase. One of the more unpleasant parts of this project is that Bootstrap sets CSS "defaults" that apply across the entire application. For example, it sets a `width` for all `<select>` elements across the app.

We will need to remove this in order to make much use of modern component frameworks in Zulip. This writeup will detail a plan fo

[2022-11-21 04:11] amanagr commented on #23632
This is mostly straight forward, with the port for emoji popover being the hardest one. I will take care of this one.

[2022-11-21 05:16] Sanidhya0077 commented on #23520
@alya can you please give some insights which part of code is to be changed, I have completed the setup though.

[2022-11-21 10:05] nikoPLP commented on #23624
This feature is configured properly in my instance/organization as per the documentation.
Nevertheless, it does not work.
And when it is activated, it prevents also the "previews of linked websites" from working.
If I deactivate "previews of uploaded and linked images" then the preview of linked websites starts to work...
So it is obvious something wrong is going on here.
Why did you close the iss

[2022-11-21 12:44] laurynmm opened #23638 "Optimize rerendering of recent conversations for single message events."
Currently, when new messages are received (either via the events API or fetching messages), the **Recent conversations** view will do a `complete_rerender` if any of the processed messages has data that has been updated/added to the view.

Instead of completely rerendering when processing a single message (most likely from the events API), it would preferable to optimize so that we only update the

[2022-11-21 13:15] aannalarsson commented on #23365
@zulipbot claim

[2022-11-21 15:09] kakulukia opened #23639 "Installation fails in Ubuntu 20.04 (due to rabbitmq-server)"
I just installed zulip on a fresh Ubuntu server and sadly have to report that it did not work out of the box just using the install script.

Maybe its a special version or other circumstances, but the Ubuntu i got at Strato (Provider) was not able to configure rabbitmq-server using the latest default version.

I had to follow the official install guide which included adding their package repo.
htt

[2022-11-21 15:11] aannalarsson commented on #23288
@alya Is this issue settled or are there any points that still need to be resolved?

[2022-11-21 17:10] anniechnn commented on #23316
Hi @timabbott
Please disregard my previous comment, as we found a different approach to solving this issue. Since the function getData doesn't verify if local storage is supported before using `.getItem`, the code will crash if local storage is unsupported.
`    getData(version, name) {
        const key = this.formGetter(version, name);
->     let data = localStorage.getItem(key);
        data =

[2022-11-21 20:57] alya opened #23641 "Notify users when their account is modified"
When an administrator modifies something about a user's account, it would be helpful to notify them that a change was made. We should have Notification Bot send a private message to the user informing them about the change.

https://zulip.com/help/configure-notification-bot should be updated to reflect these changes (can be a follow-up).

Message text:

## Manual changes

@_**name** has made the f

[2022-11-21 21:22] alya opened #23642 "Notify users when they are added to a group"
Just as we notify users when someone else adds them to a stream, we should also notify users when someone else adds them to a group, by sending a Notification Bot message.

In parallel with the stream notification message ("{user_full_name} subscribed you to the stream {stream_name}."), the message text can be:

"{user_full_name} subscribed you to the group @{group_name}."

As the groups project (

[2022-11-22 00:03] gopipate commented on #23642
@zulipbot claim

[2022-11-22 00:56] Ujjawal3 commented on #23235
@zulipbot claim

[2022-11-22 01:28] alya commented on #23520
@Sanidhya0077  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

You're welcome to ask a specific question about how to

[2022-11-22 01:28] alya commented on #23520
I'm not sure why this issue ended up double-claimed. @akarsh-jain-790 are you currently working on it?

[2022-11-22 01:32] alya commented on #23631
@terpimost is looking at redoing the top menu in any case, so this might happen automatically as part of the website redesign project.

[2022-11-22 01:33] alya commented on #23631
I'm removing the "help wanted" label for now to avoid wasted effort here.

[2022-11-22 01:46] alya commented on #23532
Related PR for stream settings: #23616

[2022-11-22 01:48] alya commented on #23625
Hm, @evykassirer , could you please take a look at this one?

[2022-11-22 04:25] jhpratt commented on #12325
What's the status of this?

[2022-11-22 05:27] drrosa commented on #23471
@zulipbot claim

[2022-11-22 06:32] petercabra commented on #23235
@zulipbot claim

[2022-11-22 06:54] santiagomed commented on #23023
@zulipbot claim

[2022-11-22 09:29] prakhar1144 commented on #22884
@zulipbot claim

[2022-11-22 12:46] shefbiss commented on #23247
@zulipbot claim

[2022-11-22 13:18] DoraBianq commented on #23327
@zulipbot abandon

[2022-11-22 13:19] DoraBianq commented on #23641
@zulipbot claim

[2022-11-22 13:33] thaiscodafond commented on #23218
I will improve the pull request already made to make it ok for Russian and also make the email column a bit wider, @zulipbot claim

[2022-11-22 13:40] TanatornG commented on #23642
@zulipbot claim

[2022-11-22 13:41] ntessi commented on #23642
@zulipbot claim

[2022-11-22 14:50] shefbiss commented on #23628
@zulipbot claim

[2022-11-22 16:04] shefbiss commented on #23249
@zulipbot claim

[2022-11-22 16:18] laurynmm commented on #23638
@zulipbot add "help wanted"

[2022-11-22 16:32] shefbiss commented on #23247
@zulipbot claim

[2022-11-22 19:27] timabbott commented on #23624
I closed the issue because it sounded like you were reporting that image preview doesn't work if "previews of uploaded and linked images" is disabled, which is expected behavior.

Is what you're saying that previews of linked websites only works if previews of uploaded images is turned off? That would be a fairly surprising bug. Though I could imagine it being an interaction with a specific websit

[2022-11-22 23:49] evykassirer commented on #22059
yup still working on it, I'm just waiting on review

[2022-11-22 23:55] #23615 closed

[2022-11-23 00:22] evykassirer commented on #23625
Opened #23652! :)

[2022-11-23 00:24] #22813 closed

[2022-11-23 00:34] Ujjawal3 commented on #21036
@zulipbot claim

[2022-11-23 00:35] alya opened #23653 "Long email spills over in notice on Personal settings > Account & Privacy"
If a user changes their email to one that's long, the notice telling the user to check their email for confirmation spills out of the settings menu. We should fix this; it would be fine to have the notice use multiple lines, and/or to abbreviate the email if neededed.

<img width="782" alt="Screen Shot 2022-11-22 at 4 31 59 PM" src="https://user-images.githubusercontent.com/2090066/203448170-61af9

[2022-11-23 00:40] alya opened #23654 "Long email spills out on email change confirmation page"
<img width="970" alt="Screen Shot 2022-11-22 at 4 37 11 PM" src="https://user-images.githubusercontent.com/2090066/203448558-bd7a4c3a-ccdc-4f5d-81b8-3093ba52a8d3.png">

We would ideally break up the email to multiple lines, but abbreviating would also be better than the current situation.

[2022-11-23 00:40] alya commented on #23654
@amanagr FYI, in case this is a quick one for you to fix.

[2022-11-23 01:33] alya commented on #23188
Related discussion on CZO: https://chat.zulip.org/#narrow/stream/31-production-help/topic/email_mirror.2Epy.3A.20Israel.20encoding.20iso-8859-8-i.20.2323188/near/1448522

[2022-11-23 01:35] alya commented on #23188
With that context, I'm marking this issue as "help wanted". However, folks should still keep in mind the following guideline from the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html):

[2022-11-23 01:40] alya commented on #23595
Thanks for the report, @legopin ! Does this only happen in the message bar editing UI, or is the modal for moving topics or messages (https://zulip.com/help/move-content-to-another-stream) affected as well?

Does entering topics in the compose box work fine?

[2022-11-23 01:47] vfroes21 commented on #1192
I was interested in helping with this issue by cleaning up the variable names in the frontend, so I searched manually in all frontend  files (JavaScript, TypeScript, CSS and HTML) located in "static" and "templates" folders for references to"subject",  and most cases that I found  were ones that, apparently, referes to an e-mail subject, and therefore would not need correction.

The cases that I f

[2022-11-23 06:54] legopin commented on #23595
@alya

I did some more testing, but I had to do it on an older server where I have permission to move topics:
v5.2

Compose Box Editing:
YES the bug appears

Topic Moving:
No the bug is not there

It seems that Topic moving modal does not have typeahead for topic names

[2022-11-23 09:08] cloudier1337 commented on #23654
@zulipbot claim

[2022-11-23 10:40] shefbiss commented on #23247
@zulipbot done

[2022-11-23 10:46] shefbiss commented on #23653
@zulipbot claim

[2022-11-23 10:48] shefbiss commented on #23653
@zulipbot claim

[2022-11-23 16:27] amanagr commented on #23654
You get the notice after you click on `confirm` button.

[2022-11-23 18:18] flaviozluca opened #23862 "Show images when replying or forwarding a post"

[2022-11-23 19:43] #23241 closed

[2022-11-23 19:46] #23235 closed

[2022-11-23 20:10] alya commented on #23654
@cloudier1337  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to reproduce (following @amanagr's advice above) and how to approach making a fix.

Thanks!

[2022-11-23 20:26] alya commented on #23247
Closing in favor of a broader redesign for the menus.

[2022-11-23 20:29] alya commented on #23595
Got it, thank you for checking!

We've made major changes to the topic moving UI since 5.2, so whoever is working on this issue will need to check that separately.

[2022-11-23 22:00] ilaiyengar commented on #21224
@zulipbot claim

[2022-11-23 22:11] Ujjawal3 commented on #23654
@zulipbot claim

[2022-11-23 22:13] Ujjawal3 commented on #21036
@zulipbot abandon

[2022-11-23 22:14] Ujjawal3 commented on #23654
@zulipbot claim

[2022-11-24 00:13] vfroes21 commented on #23250
In order to stop using the ```message.display_reply_to``` in a message object, I can think of two ways:

- Could the content of ```message.display_reply_to``` (that is, the name(s) of the user(s) in a PM conversation) be stored in another field of a message object? For instance, if that could be considered to be a stream that the user currently is, the content of ```message.display_reply_to``` cou

[2022-11-24 01:42] timabbott commented on #1192
Yeah, I think we've largely completed the effort to localize use of "subject" to just the places that require an actual transition (whether a database migration or API change) to modify.

Probably the most interesting part of this will be changing the API. For example, message objects sent via the `/events` and `GET /messages` API endpoints currently contain a `subject` field and no `topic` field.

[2022-11-24 07:08] CarloLucibello opened #23664 "preview not avilable for some URLs"
Hi,
it seems like the preview is not displayed for some URLs, e.g. for the arxiv website:
<img width="868" alt="Screenshot 2022-11-24 at 08 02 16" src="https://user-images.githubusercontent.com/7014210/203716627-b61bd7b8-c321-4312-97c5-48dc8360daf2.png">

Is there a reason for this? Can it be fixed? On slack preview is fine for arxiv.

[2022-11-24 07:31] cloudier1337 commented on #23654
Thanks for your answer, I am confident I can solve it (I just did not think I would have trouble reproducing it). My bad. Will find another one, now that this one has been claimed.

[2022-11-24 12:59] MAX-786 commented on #23532
Hello there, I'm a new member here and I was looking to make my first contribution, I saw that this issue is labeled "good-first-issue". Any tips on getting started, I have already set up the dev environment.

[2022-11-24 13:04] MAX-786 commented on #21036
Hello there, I'm a new member here and I was looking to make my first contribution, I saw that this issue is labeled "good-first-issue". Any tips on getting started, I have already set up the dev environment.

[2022-11-24 14:50] AlexanderMohan commented on #23620
@zulipbot claim

[2022-11-24 14:51] AlexanderMohan commented on #23380
@zulipbot claim

[2022-11-24 14:57] sahil839 commented on #23653
Yeah, I think we need to do some modification for notices. I have seen a couple of cases when failure notice does not fit in one line and result in some weird layout. And this is worse in somewhat smaller screens. I am not sure what the best solution is.

For this issue, probably abbreviating the email can be a solution, but for a general case clipping the message (ending with "..." ) may not be t

[2022-11-25 07:10] alya commented on #23653
Hmm, do you want to kick off a #frontend discussion to see if folks have ideas on how to solve this more generally?

[2022-11-25 07:11] alya commented on #23653
That makes sense to me. It's probably less good for any notices that disappear, as having everything shift up and down is a bit awkward. But since this notice sticks around, I think it should look pretty reasonable.

[2022-11-25 07:12] alya commented on #21036
Welcome @MAX-786 ! Please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

You're welcome to ask a specific question about ho

[2022-11-25 10:36] Deekshith-S-Shetty commented on #23501
@alya  I am not completely sure I understand the issue, is the below outcome is what expected to be done to solve the issue?
"When the user clicks on the inactive stream, the stream should not move to the active stream section unless it is manually moved."

[2022-11-25 11:26] rebeccasod commented on #23470
@zulipbot claim

[2022-11-25 12:57] prakhar1144 commented on #22973
@alya Can you please assign this to me?

This [PR #23225](https://github.com/zulip/zulip/pull/23225) is ready to merge and is labeled as `post release`.

And I am awaitng feedback on the [PR #23362](https://github.com/zulip/zulip/pull/23362) from couple of weeks, will finish it up as soon as I get some feedback.

In the meantime, I would like to work on this issue -- Thanks.

[2022-11-25 17:53] shishir03 commented on #19653
@zulipbot claim

[2022-11-25 19:35] MAX-786 commented on #21036
Hello @alya, now I think I am confident enough to tackle this issue. I'll be claiming it now and I'll make a progress update in the next 24hrs. Thanks😊.

[2022-11-25 19:36] MAX-786 commented on #21036
@zulipbot claim

[2022-11-25 22:41] cledi01 commented on #23628
After some digging around, it seems like the password progress bar for the web UI flow, registration, and password reset all use bootstrap. Should be pretty simple to move all the bootstrap css to another file, which CSS file should I move it to? The css selectors that would have to be moved from bootstrap.css would be .progress, .progress .bar, .progress .bar-success, and .progress .bar-danger.

[2022-11-25 22:50] cledi01 commented on #23628
There's also a bunch of other misc .progress (additional selectors) that are not used in bootstrap.css that can be deleted. After playing around, it seems like the only classes used are the 3/4 I mentioned previously.

[2022-11-26 04:30] cledi01 commented on #23638
Hi @laurynmm , this issue looks really interesting so I started digging around :). So currently, as far as my understanding goes when the messages are being fetched for the first time to complete-rerender being called, this is the callstack:

![image](https://user-images.githubusercontent.com/68887197/204072226-cc1cb6ef-cc13-46f5-aad5-d2c696e7afa4.png)

and this is the callstack when a message com

[2022-11-26 21:05] HemantUmre12 commented on #22844
@zulipbot claim

[2022-11-26 23:47] cledi01 commented on #23628
@zulipbot claim

[2022-11-26 23:55] vfroes21 commented on #16473
For the second task of this issue, where exactly the user note would be attached?

[2022-11-27 00:23] daph0213 commented on #22883
@zulipbot claim

[2022-11-27 00:38] otemitay commented on #21017
@zulipbot claim

[2022-11-27 00:41] vfroes21 commented on #15718
To solve this, which design do you think would be most suitable:

- Admin/Creator of stream forces turn on notifications, users can't turn off;
- Admin/Creator of stream forces turn on notifications, but users can turn off (if user turned off, notify admin?)

In any case, I think it would also be a good idea that a stream that has forced turned on notifications have a help text to inform the user

[2022-11-27 00:47] daph0213 commented on #22883
@zulipbot claim

[2022-11-27 00:50] otemitay commented on #21017
@zulipbot claim

[2022-11-27 00:51] daph0213 commented on #21017
@zulipbot claim

[2022-11-27 02:12] SpencerLong0624 commented on #9599
@zulipbot claim

[2022-11-27 02:23] Emil2022 commented on #22045
@zulipbot I am still actively working on the issue

[2022-11-27 02:33] YiHanna commented on #21841
@zulipbot claim

[2022-11-27 09:49] prakhar1144 opened #23674 "Missing input field for custom time in delay-before-sending-message-notification-emails settings"
While playing around with personal settings on [CZO](https://chat.zulip.org/).

In the `delay-before-sending-message-notification-emails` settings in the Notification tab,
On selecting `custom` from the dropdown menu there isn't any input field to enter custom time.

How to reproduce:
1. Visit [#settings/notififcations](https://chat.zulip.org/#settings/notifications)
2. Scroll down to `Email messa

[2022-11-27 11:21] SaschaMann commented on #16473
I was thinking it could be added to the list in Organisation Settings -> Deactivated Users.

[2022-11-27 12:34] nikoPLP commented on #23624
so, thanks for reopening the issue.

here is a more detailed description of the problem :
- "Show previews of uploaded and linked images" is checked in the Org settings
- "Show previews of linked websites" is checked in the Org settings.
- if i put some links in the message, and save, the link preview works fine. the are added at the end of the message.
- if i also add an upload image (by uploadin

[2022-11-27 17:51] sahil839 commented on #23674
Thanks for the report @prakhar1144. I have opened #23675, should be merged soon. You can probably test the PR once locally to make sure it fixes the bug, if you have time to do so.

[2022-11-27 21:30] #23674 closed

[2022-11-28 00:24] Jareltey commented on #22769
@zulipbot claim

[2022-11-28 03:19] amanagr commented on #23501
@Deekshith-S-Shetty thanks for your interest in this issue, this is not an easy one to fix apparently, hence removing the "good first issue" tag.

[2022-11-28 07:15] ryansong13 commented on #23494
@zulipbot claim

[2022-11-28 09:43] alya commented on #16473
That seems reasonable. We could probably add a "Reason" column to address the second point, and a "Deactivated by" column to address the fourth.

[2022-11-28 09:47] alya commented on #16473
To specify the reason, we should probably offer a dropdown of common options in the deactivation menu. Something like: Unspecified, Spammer, User request, ?? , Other.

I think the "Reason" field may only make sense in open communities. At least, if we did offer it in closed communities, the options would have to be quite different.

[2022-11-28 09:50] alya commented on #16473
I'm marking this issue as "help wanted", since I think points 2 and 4, at least, are sufficiently specified that a motivated contributor could start working on them. However, at least for point 2, there are definitely details that would need to be worked out, so anyone interested in working on this would need to proactively flag questions for discussion in the #design stream on CZO.

[2022-11-28 10:01] alya commented on #15718
Yeah, I don't think we need an extra column of checkmarks.

If we decide that the right approach is to turn on notifications by default but allow the user to toggle them, we probably don't need any special UI on the user side.

If the user is not allowed to toggle them, disabling the checkmark and adding a question mark to explain why should work fine.

[2022-11-28 10:18] alya opened #23681 "Topic suggestions become separated from topic box when window is resized"
Repro:

1. In a moderately wide window, open the compose box and start typing into the topic box to open the suggestions dropdown.
2. Make your window narrower.

Expected: Topic suggestions remain attached to topic box.
Actual:

<img width="626" alt="Screen Shot 2022-11-28 at 2 13 46 AM" src="https://user-images.githubusercontent.com/2090066/204252828-b1365c6c-41db-4d97-96da-8aca72a4b5bd.png">

[2022-11-28 10:26] alya commented on #22973
@prakhar1144 Done, thanks!

[2022-11-28 13:52] vfroes21 commented on #15718
@alya should I wait for community feedback to decide which to implement (user can toggle on/off, or user not allowed to toggle)? If so, should I create a topic in #feedback as well?
Or is this something the development team is going to discuss to make a decision?

[2022-11-28 13:57] akarsh-jain-790 commented on #23681
@zulipbot claim

[2022-11-28 16:27] quinnah commented on #23598
@zulipbot abandon

[2022-11-28 17:22] alya opened #23685 "Add stream icons to subscribed/unsubscribed divider line"
When you subscribe / unsubscribe to a stream, we display a divider line in the message feed:

![Screen Shot 2022-11-28 at 9 20 35 AM](https://user-images.githubusercontent.com/2090066/204341080-c3379ecb-1955-4234-bc6b-78347ca9d28e.png)

In certain cases, we also display similar notices at the bottom of the message feed:

![Screen Shot 2022-11-28 at 1 47 05 PM](https://user-images.githubusercontent

[2022-11-28 18:46] alexmv commented on #23620
@AlexanderMohan: I've marked this as "help wanted" now if you still want to pick it up!

[2022-11-28 19:52] Ujjawal3 commented on #23685
@zulipbot claim

[2022-11-28 19:54] Ujjawal3 commented on #23685
@alya can you assign me this issue? My pr for another issue is under review.

[2022-11-28 21:06] sdr2spoilers commented on #21438
@zulipbot claim

[2022-11-28 21:44] kimberlygao commented on #22022
@zulipbot claim

[2022-11-28 21:49] alya commented on #23685
@Ujjawal3 Please provide a link to your other PR so that I can review its status. Thanks!

[2022-11-28 22:48] alexmv opened #23691 "Document that postgresql versions need to match when restoring backups"
We should adjust the documentation for [how to restore backups](https://zulip.readthedocs.io/en/latest/production/export-and-import.html#restoring-backups) to include that it needs to have the same version of PostgreSQL as the backup was taken on, by passing, e.g. `--postgresql-version=12`.

Ref https://chat.zulip.org/#narrow/stream/31-production-help/topic/backup.20restore.20different.20postgresq

[2022-11-28 22:51] alya opened #23692 "Reload newly subscribed stream"
When a user is not subscribed to a stream, they do not receive live updates for events in that stream (e.g., new messages).

Thus, if a user subscribes to a stream while their message view includes that stream (e.g., by clicking the "Subscribe" button at the bottom of an unsubscribed stream view), we should immediately refresh the view to avoid confusion due to missing messages.

[2022-11-29 00:14] pkaufhol commented on #23692
@alya Hey Alya, I am a student at Carnegie Mellon University that is starting a project where me and my group have to contribute to an open source project. We aren't all the most experienced programmers but I think we can complete a few good-first-issue tasks over the next 2-3 weeks or so.

This is a large repository with a lot of issues and contributors so I figured I would reach out to somebody,

[2022-11-29 02:03] alya commented on #23624
Hm, I have tried to replicate on Zulip Cloud, and was not able to do so. Images and website previews for the same message are showing up fine for me.

Could you please provide a specific URL for which you've seen this happen?

[2022-11-29 02:05] alya commented on #23692
@pkaufhol Welcome! Please start by reading the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html); it has advice on how to pick an issue, as well as how to ask for help.

[2022-11-29 02:23] tanishk-23 commented on #23685
@zulipbot claim

[2022-11-29 02:24] tanishk-23 commented on #23685
@zulipbot claim

[2022-11-29 02:24] rachlluo commented on #22660
@zulipbot claim

[2022-11-29 02:27] adamhf47 commented on #23626
@zulipbot claim

[2022-11-29 02:37] janiduVBR commented on #23692
@zulipbot claim

[2022-11-29 03:04] adamhf47 commented on #23691
@zulipbot claim

[2022-11-29 04:02] sharonren02 commented on #3128
@zulipbot claim

[2022-11-29 04:04] shenpeg commented on #3128
@zulipbot claim

[2022-11-29 04:22] #23471 closed

[2022-11-29 08:06] nikoPLP commented on #23624
thanks for trying to help, and for your tests.
if you want to test on the live instance, you can create a account and then a topic at https://forum.nextgraph.org by example in the General stream. I ll clean up afterwards.
i have set the settings of the Org to have both preview of websites and images now.
also please let me know in which log file i should search for errors

[2022-11-29 10:54] Neeraj138 commented on #23664
@zulipbot claim

[2022-11-29 16:46] i5hi opened #23699 "Ambiguous 500 Error"
**500 Errors are not clearly logged by default.**

On inspecting `/var/log/zulip/errors.log`

**I get the following error when trying to rest my password on an existing Zulip server:**
[code]

I get a similar error when trying to login.

[2022-11-29 17:43] kangalioo commented on #1186
I found this issue via "subscribe to topic". As a Zulip newcomer I'm using Rust language Zulip server to ask questions. But I can either get notifications for the entire #t-compiler/help stream, or no notifications at all. This is a bit unfortunate, because I want to know when people respond to me but not want to notified every few minutes for unrelated messages within the stream

[2022-11-29 17:45] kangalioo commented on #1186
Found #2517 which covers my use case, and is even marked with the "rust community request" label (that's a thing? :D)

[2022-11-29 18:10] laurynmm opened #23701 "Add empty narrow banner for Combined feed view."
It's very unlikely that there won't be any messages in a user's **All messages** view. But, if a user deleted all of their private messages (including the initial messages on account creation from the Welcome bot) and muted all topics in all streams, then the view would be empty and there would be no empty narrow banner displayed on the page.

<details>
<summary>Current empty All message view scre

[2022-11-29 18:39] alya commented on #21188
Closing in favor of #21767, which is a more specific version of this issue.

[2022-11-29 18:39] #21188 closed

[2022-11-29 19:29] #23563 closed

[2022-11-29 19:58] timabbott commented on #23699
Can you talk about the recent maintenance history of the server and its database? That error suggests that your Zulip database either doesn't contain any Zulip organizations, or you're visiting the server using an invalid subdomain. I don't see how this would happen with an existing Zulip server without someone having done something that put it into this state.

We can provide more help investigat

[2022-11-29 19:59] adamhf47 commented on #23691
I submitted a PR  "Update export-and-import.md #23702"

[2022-11-29 20:02] adamhf47 commented on #23701
@zulipbot claim

[2022-11-29 20:08] adamhf47 commented on #23701
@zulipbot claim

[2022-11-29 20:13] pkaufhol commented on #23701
@zulipbot claim

[2022-11-29 20:26] MokaCake commented on #3938
@zulipbot claim

[2022-11-29 20:32] alexmv commented on #16502
Fundamentally, `check_update_message`, which is the main work from the [update message backend](https://github.com/zulip/zulip/blob/38a4751b7bb8535416569bb5f41b246f83ac64c2/zerver/views/message_edit.py#L116), calls `access_message` without taking a lock:
https://github.com/zulip/zulip/blob/38a4751b7bb8535416569bb5f41b246f83ac64c2/zerver/actions/message_edit.py#L904-L919

This means that deletes ca

[2022-11-29 20:33] jcchou12 commented on #23598
@zulipbot claim

[2022-11-29 21:16] ilaiyengar commented on #21224
@zulipbot abandon

[2022-11-29 21:18] ilaiyengar commented on #23638
@zulipbot claim

[2022-11-29 21:38] Mina-byte commented on #23620
claim

[2022-11-29 21:39] Mina-byte commented on #23620
@zulipbot claim

[2022-11-29 21:43] amyxixin commented on #23210
@zulipbot claim

[2022-11-29 22:01] peterwang06 commented on #23294
claim

[2022-11-29 22:02] peterwang06 commented on #23291
claim

[2022-11-29 22:04] peterwang06 commented on #23291
@zulipbot claim

[2022-11-29 23:06] alya commented on #23638
@dartaylor8 We don't have any special rules for class projects. Your group should follow the general guidelines for all contributors. https://zulip.readthedocs.io/en/latest/overview/contributing.html

Have fun!

[2022-11-30 00:31] timabbott commented on #23664
@Neeraj138 do you understand this issue and how to fix it? Please only claim issues if you have a plan for how you'll be able to resolve them (and post that plan in the issue thread).

We do website previews based on the Open Graph and OEmbed headers for the page in question, so the first step for debugging this will be look at what headers a specific page that is not previewing is returning and p

[2022-11-30 00:35] #22844 closed

[2022-11-30 01:19] evykassirer commented on #23626
edited the issue to show which part has been fixed and which is left

[2022-11-30 01:52] amylcheng commented on #22693
@zulipbot claim

[2022-11-30 01:58] walkingcabbages commented on #21800
@zulipbot claim

[2022-11-30 02:17] fuhaowei commented on #23609
@zulipbot claim

[2022-11-30 02:28] aaronto0705 commented on #21800
@zulipbot claim

[2022-11-30 03:04] willigd commented on #21800
Hello I was wondering if it would be at all possible for us to work on this together since I began working on this issue. This is my first time working on an open source project and I was unaware that I had been unassigned

[2022-11-30 03:09] Emil2022 commented on #22045
Just making sure I understand this correctly. Do I need to make a pull request by tomorrow, or else I get removed from the issue?

[2022-11-30 03:12] willigd commented on #21800
@walkingcabbages

[2022-11-30 08:18] andreasoc commented on #15718
@alya
in the reality of a company, users cannot disable the notification

[2022-11-30 08:20] andreasoc commented on #15718
https://chat.zulip.org/#narrow/stream/137-feedback/topic/IDEA.3A.20force.20notification
here is the origin of everything ;)
@vfroes21

[2022-11-30 16:25] sdmanchiraju commented on #10539
@zulipbot claim

[2022-11-30 16:26] sdmanchiraju commented on #10539
@zulipbot claim

[2022-11-30 16:43] tashasinghvi commented on #10539
@zulipbot claim

[2022-11-30 18:47] janiellec commented on #188
Hi! I'd like to take a shot at this. I was installing Zulip in WSL2 but it caused some issues and and I want to use this as an opportunity to help clean my space.

[2022-11-30 18:47] janiellec commented on #188
claim

[2022-11-30 18:49] N-Shar-ma commented on #23681
Just adding that the same issue happens with other dropdowns, like the stream box and even the search box at the top, as well

[2022-11-30 19:03] joannetsaii commented on #22351
@zulipbot claim

[2022-11-30 22:50] alya commented on #21017
@otemitay  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

You're welcome to ask a specific question about how to app

[2022-11-30 22:59] alya opened #23715 "Make behavior of overlapping linkifiers clear and consistent"
To make the behavior of overlapping linkifiers clear, consistent and predictable, we should:

- [ ] Add an order_by on  linkifier ID, so that linkifiers shown higher in the settings list take priority over overlapping linkfiers that are lower on the list.
- [ ] Document the above behavior on https://zulip.com/help/add-a-custom-linkifier
- [ ] Make linkifiers in topics work like linkifiers in messa

[2022-11-30 23:02] alya opened #23716 "Make linkfiers reorderable"
When there are overlapping linkifiers, it should ideally be possible to reorder them to determine which one will take priority (i.e., the one that's listed higher).

In the settings UI, can use the same drag-and-drop approach as we do for custom profile fields.

This addresses a user pain point ([discussed on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/linkifiers/near/1467689)):

[2022-11-30 23:41] PIG208 commented on #23715
@zulipbot claim

[2022-11-30 23:43] Beanpen commented on #23532
@zulipbot claim

[2022-11-30 23:45] Beanpen commented on #23532
Hi @alya ! I fixed this issue in #23717. It was a quick fix in HTML since #23616 made revisions on javascript.

[2022-11-30 23:47] Beanpen commented on #23532
@zulipbot The invitation link was expired. Could you send me a new one? Thanks!