[2022-04-12 23:32] andersk commented on #18286
Closing as WONTFIX after discussion with Tim and Alya. We don’t want to manually add lots of HTML tags to our Markdown; whatever convenience might be gained is, at the very least, not worth the cost of this clutter. Also, `target="_blank"` can lead to tabnabbing vulnerabilities if it isn’t used carefully (`rel="noopener"`, which adds even more clutter). This issue seems to have turned into a trap

[2022-04-12 23:32] #18286 closed

[2022-04-13 00:22] #21756 closed

[2022-04-13 02:42] aparna-bhatt commented on #21745
I am little confused about what the following piece of code does
<img src="https://user-images.githubusercontent.com/86338542/163089165-9b475e71-4c15-4234-a231-3df94428dfeb.png" width="460" height="400">

[2022-04-13 06:26] supriya-045 commented on #21767
@zulipbot claim

[2022-04-13 07:21] golli1337 opened #21783 "RocketChat Import"
There appears to be an issue with Importing messages, emojis, etc. for users that dont exist anymore. In my use case there are messages from users that dont exist in the rocketchat database anymore and as far as i can tell this collides in multiple areas during the import as the script tries to look up the id/name of the user corresponding to the message, but cannot find the user as they dont exis

[2022-04-13 08:57] akanakis commented on #21776
@zulipbot claim

[2022-04-13 09:07] nikhilmaske-2001 commented on #20973
@zulipbot claim

[2022-04-13 10:06] Zimmi48 commented on #10873
Is this addressed by the new web-public stream feature in Zulip 5.0?

[2022-04-13 11:44] Zimmi48 opened #21784 "Surprising message when switching public stream to web-public."
When switching a public stream to web-public, we got a message in the stream event topic "changed the [access permissions](https://coq.zulipchat.com/help/stream-permissions) for this stream from Public, protected history to Web-public." Most other public streams, when similarly turned into web-public display "changed the [access permissions](https://coq.zulipchat.com/help/stream-permissions) for t

[2022-04-13 12:13] asah commented on #20047
@alya  Here's the strawman UI, feedback/approval appreciated while I wire up the backend (API to inject the message to the target stream, testing code, etc).

UI/UX notes:
- I chose inline vs a popup (a la Drafts) because I found it helpful to see the message and the context (the other messages around it). This is also a "lighter-weight" UX for the user who might be reporting many messages, and it

[2022-04-13 13:37] ebecaf commented on #21756
@sayamsamal

Yes that's where I looked first, unfortunately this item is not in the menu for me. Is there a reason this might be missing?
![missing-about-menu](https://user-images.githubusercontent.com/91161208/163192751-9bfc857a-fc38-458a-9c5f-5b32674e9e73.png)

_N.B. I am logged in as 'Owner'._

[2022-04-13 14:33] yuroitaki commented on #21525
@zulipbot claim

[2022-04-13 14:46] yuroitaki commented on #19056
Hi guys, I am interested in picking this up, however I don't know how to replicate this issue in my local vagrant setup. Can someone please guide me on that?

[2022-04-13 16:42] raghavluthra20 opened #21785 "Clicking on the "Manage Streams" header resets the "Create Stream" form."
Clicking on the "Manage Streams" header resets the "Create Stream" area to its original state. The header area doesn't look like a click target for the user, so clicking it should not affect the form.

https://user-images.githubusercontent.com/59819879/163228388-08c12f37-13a0-4734-95ec-f43e898ec165.mp4

[This comment](https://github.com/zulip/zulip/blob/0df4d8eb172bee9988d0a33c251368d2c2aa08ae/sta

[2022-04-13 17:31] timabbott commented on #21785
https://chat.zulip.org/#narrow/stream/9-issues/topic/Clicking.20the.20header.20resets.20the.20Create.20Stream.20form/near/1365128 has some discussion; in particular the thing that is surprising to me is that clicking that area does anything at all, so I'd start with finding what click handler is handling clicks to that area.

[2022-04-13 17:59] alya commented on #20047
Great, thank you for sharing the prototype! I agree that it makes sense to put this form into the message feed for the reasons you describe.

This is (hopefully) a rare action, so I agree that a hotkey is not necessary.

All message types definitely makes sense to me. Org admins who are not server admins can't view private messages, but in any case a recipient can screenshot a message, as you ment

[2022-04-13 18:03] Ginohmk commented on #21432
@zulipbot claim

[2022-04-13 18:03] alya commented on #20047
A few comments on the UI details:

1. For the buttons, we should use the styling on the Save / Cancel buttons in the "Edit message" UI.
2. I think it would be more clear if the blue box extended to include the form, if the message being reported is selected.
3. We should also check to make sure everything looks reasonable in the following situations:
- There are emoji reactions on the message.
- W

[2022-04-13 18:05] alya commented on #20047
Do you think it should be possible to report your own messages? It might help communicate with the moderators in case of a dispute, but perhaps it would be weird to see that option.

[2022-04-13 18:11] alya commented on #21784
Thanks for the report @Zimmi48  -- that's definitely a bug!

[2022-04-13 18:14] alya commented on #10873
Yes, we have no plans to develop a separate/different public rooms feature at this point. I think there are good reasons to require sign-up in order to participate. Thanks for flagging @Zimmi48 !

[2022-04-13 18:14] #10873 closed

[2022-04-13 18:15] timabbott commented on #21784
I think the bug is that the stream was incorrectly set to be public with protected history. The question is how that was possible. Investigating.

[2022-04-13 18:16] alya commented on #21783
@garg3133 would you potentially have time to look into this?

[2022-04-13 18:23] ebecaf commented on #21756
Thank you, the irony of this is that I am trying to look up what I have, in order to upgrade it...

[2022-04-13 18:27] gnprice opened #21787 "Email in profile doesn't update when user changes email"
### Actual behavior:
1. I viewed another user's profile in the web app, by clicking on their avatar on a message they sent.
2. Their email address was `foo@foo.example`.
3. They changed their email address to `bar@bar.example`.
4. I viewed their profile again, by again clicking on their avatar.
5. The profile still said their email address was `foo@foo.example`.

Loading the app freshly in another

[2022-04-13 18:39] timabbott commented on #21761
Fixed in 88e2f64869eaa7294e15f4945e25ee5884cb5013; we'd fixed this in main but forgot to backport, so thanks for the report @JRowe47!

[2022-04-13 18:39] #21761 closed

[2022-04-13 18:41] timabbott commented on #21787
This is puzzling, in that I'd have expected that popover to read the email from `people.js`, and for that value to have been updated immediately via live update. Needs debugging; one should be able to find the problem by tracing the real-time sync code path here (hopefully we can also reproduce in a development environment).

[2022-04-13 18:54] alya opened #21789 "Automatically publish web-public streams to zulip-archive"
For organizations using web-public streams, it would be very helpful to be able to automatically publish web-public streams to zulip-archive, in order to make them indexable by search engines. We expect this issue to be solved on the zulip-archive side, but adding it here for tracking purposes.

The zulip-archive issue: https://github.com/zulip/zulip-archive/issues/80.
Related issue: https://githu

[2022-04-13 19:04] aparna-bhatt commented on #21785
@zulipbot claim

[2022-04-13 19:20] asah commented on #20047
thx @alya ! makes sense (added below), two new issues:

### reporting experience
What happens after you click Submit?  Since this is an experimental new feature, I propose that we keep the reporter experience minimal for now, i.e. after submit, you just get a simple "thanks! the admins have been alerted." type message. Then, if this feature becomes popular, we can flesh out the reporting experienc

[2022-04-13 19:33] ebecaf opened #21791 "Upgrade from 3.3 to 5.1 - Permission Denied"
Hi,

I haven't updated Zulip for longer than I should have (I thought it was Nov 2021, but it turned out to be since just before 3.4), so that's my fault.

However, I tried to update and it said pip was out of date so sorted that with `/srv/zulip-venv-cache/some-long-ID/zulip-py3-venv/bin/python -m pip install --upgrade pip`

Unfortunatley I got this:

`2022-04-13 19:28:59,980 upgrade-zulip-stage-

[2022-04-13 21:36] MartinX3 opened #21794 "Remove ferdi from the homepage"
Remove ferdi at https://zulip.com/apps/
It got rage removed by the main developer.
See https://www.reddit.com/r/getferdi/

[2022-04-13 22:01] alya opened #21795 "Make documentation on user-side stream management easier to find"
At present, it can be hard to find documentation on user-side stream management (https://zulip.com/help/add-or-remove-users-from-a-stream#from-a-users-profile-alternate-method). To address this, we should create a new help center page.

* Title: Manage a user's stream subscriptions (maybe? we might decide to shorten it)
* Location: In the Users section; we can try just below "User groups"
* Conten

[2022-04-13 22:03] alya opened #21796 "Document subscribing users via @-mentions"
https://zulip.com/help/add-or-remove-users-from-a-stream should document that users can be subscribed to a stream via the @-mentions banner, without (necessarily) sending an actual message to the stream.

[2022-04-13 23:37] ebecaf commented on #21791
I got to 3.4 by starting all the 'supervisorctl' programs as I had stopped them all. But I still can't get to 4.0 or above using;

`/home/zulip/deployments/current/scripts/upgrade-zulip-from-git 4.0`
or
`/home/zulip/deployments/current/scripts/upgrade-zulip zulip-server-latest.tar.gz`

[2022-04-14 00:51] timabbott commented on #21796
This is a good idea, I use that technique all the time :).

[2022-04-14 02:56] salmonax commented on #21711
@zulipbot claim

[2022-04-14 03:36] terpimost opened #21798 "UI redesign: styles of the search input field (no search pills or autosuggestion update)"
This issue replaces https://github.com/zulip/zulip/issues/20163.

## Materials
- Light mode [Figma prototype](https://www.figma.com/proto/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?page-id=1700%3A137541&node-id=1716%3A126708&viewport=389%2C48%2C0.25&scaling=min-zoom&starting-point-node-id=1700%3A137588) of the search flow
- [Figma search component](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip

[2022-04-14 04:48] jamesbraid commented on #21709
We're hitting this as well on our production instance.
Happened on 4.11 and now on 5.1 as well.

sync_ldap_user_data never completes, same trace back in ``safe_session_cached_db.py", line 24``

Happens regardless of ``LDAP_DEACTIVATE_NON_MATCHING_USERS`` true or false, both config settings trigger the same traceback.

[2022-04-14 04:49] jamesbraid commented on #21709
Zulip chat has a workaround, documenting here so it's discoverable (Zulip chats are not indexed by search engines seemingly)

[code]

[2022-04-14 05:19] Arch0125 opened #21800 "Add phone number validator in personal settings"
Currently in Personal settings we have option to enter Phone number but the input is not validated, as a result the user can enter text/special characters in the field upto 50 characters.
The field should only allow users to input numbers and fixed number of characters according to international standards.

### Current Behaviour:
![image](https://user-images.githubusercontent.com/72722967/16331852

[2022-04-14 05:22] Arch0125 commented on #21800
@zulipbot add "area: settings (user)"

[2022-04-14 05:22] Arch0125 commented on #21800
@zulipbot add "area: settings (admin/org)"

[2022-04-14 05:43] alya commented on #20163
Closing in favor of https://github.com/zulip/zulip/issues/21798.

[2022-04-14 05:45] #20163 closed

[2022-04-14 05:59] alya commented on #21794
Thanks for letting us know!

[2022-04-14 06:10] alya commented on #20047
### reporting experience

Agreed!

### target stream has been deleted
I think the target stream will be an org setting, and the simplest thing is to disable the reporting feature altogether when no stream is configured. There would be no "Report message" option in the menu. We can give an error in the super-rare case where a user is in the middle of reporting an issue when the stream gets de-confi

[2022-04-14 06:13] alya commented on #21756
I recommend asking this in [#production help](https://chat.zulip.org/#narrow/stream/31-production-help) on chat.zulip.org.

[2022-04-14 07:54] MartinX3 commented on #21794
You're welcome. :)

I personally use now https://github.com/sonnyp/Tangram
It's fast because it's no electron app.
Only WebKit.

[2022-04-14 09:35] Zimmi48 commented on #21784
In case it's useful, I've got another example of a stream which was previously "public, protected history": https://coq.zulipchat.com/#narrow/stream/237655-Miscellaneous/topic/stream.20events/near/278943005

[2022-04-14 10:43] tom-schreiber commented on #21648
Thank, you.
That seems to work for us ;)

[2022-04-14 10:43] #21648 closed

[2022-04-14 13:01] salmonax commented on #21711
@alya Just pinging, since there is a (very minor) GUI-facing change. I'm new here, and this is my first PR. I'll do my best with the feedback! :-)

[2022-04-14 14:44] lzmartinico opened #21804 "Document using bots for automated cross-stream replies"
I would like to be able to designate a pair of streams such that replies to topics in stream A should result in a new topic in stream B, quoting the original post. Any subsequent replies in A should be appended to the relevant topic in B instead.
The use case for this is having A being an announcement stream, and B a discussion stream related to the annoucements in A.
An alternative feature would

[2022-04-14 15:01] TonaDaphin commented on #21410
@zulipbot claim

[2022-04-14 15:09] Kevinland123 commented on #21214
@zulipbot claim

[2022-04-14 15:12] Kevinland123 commented on #21274
@zulipbot unclaim

[2022-04-14 15:12] Kevinland123 commented on #21214
@zulipbot claim

[2022-04-14 15:16] Kevinland123 commented on #21214
@zulipbot abandon

[2022-04-14 15:16] Kevinland123 commented on #19355
@zulipbot claim

[2022-04-14 15:54] asah commented on #20047
@alya UI next rev, incl blue box around the form and support for uncondensed msgs. Also added a background for the form and cute little animation. Tested with emoji reactions, on narrow windows, mobile (inside Chrome dev), Firefox and Safari. whew!

![chrome-capture (6)](https://user-images.githubusercontent.com/140002/163424658-ba32c37c-b89d-482d-8d79-ba43ff03b486.gif)

I used this logic to deter

[2022-04-14 16:54] matt-shen commented on #21800
@zulipbot claim

[2022-04-14 17:22] stephenhajjar commented on #20956
@zulipbot claim

[2022-04-14 18:37] alya opened #21805 "Move avatar in full profile to the right"
At present, the avatar is on the left of the full profile modal, which looks odd when custom profile fields are present, and doesn't match the Settings > Profile layout.

- [ ] We should move the avatar to the right side of the full profile modal.
- [ ] While we're at it, we should also make the last active time look like other parts of the profile.
   * Label (bold, on the left): "Last active"

[2022-04-14 18:39] alya commented on #21805
@sayamsamal would you be up for taking this one on? It's a priority, because it's on a path towards making further improvements in the user profile modal.

[2022-04-14 18:52] alya opened #21806 "Move "Manage user" modal into "Full profile" modal"
At present, we have two separate modals for viewing and managing users, which is inconvenient and may cause confusion ([see CZO thread](https://chat.zulip.org/#narrow/stream/137-feedback/topic/list.20of.20streams.20for.20another.20user)).

In order to address this, we should make there be two versions of the Profile tab in the full profile popover:

1. The non-editable version we have today.
2. A

[2022-04-14 19:13] alya opened #21807 "Long "Person" type profile field spills out of input box"
With long names, the "Person" type field input spills out of its box, both in Settings > Profile UI (top screenshot) and the "Manage user" UI (bottom screenshot).

![Screen Shot 2022-04-14 at 11 56 29 AM](https://user-images.githubusercontent.com/2090066/163459985-abe5a422-2ad3-4880-a2ff-257ec2f889e2.png)

![Screen Shot 2022-04-14 at 11 55 36 AM](https://user-images.githubusercontent.com/2090066/1

[2022-04-14 19:16] timabbott commented on #21784
We've confirmed that this problem affects specifically streams imported from third-party tools like Slack and Gitter; I expect we'll have a fix both for the import tools and a migration to deal with it soon.

@mateuszmandera can I assign this to you?

[2022-04-14 19:17] timabbott commented on #21794
https://www.reddit.com/r/getferdi/comments/u2vkl4/best_alternatives_now_that_ferdi_is_gone/ is helpful. I think in an ideal world we'd link to a more official-looking page of that form that just details the N options in this space.

[2022-04-14 19:30] timabbott commented on #21791
Hi!  The Zulip upgrader drops permissions to the `zulip` user for operations that don't require root access, as a standard security best practice.

That permission denied error seems likely to result from something that you did making a part of the `/home/zulip` directory not owned by the Zulip user; your mention of running manual `pip` install operations suggests you've been doing that sort of th

[2022-04-14 19:30] #21791 closed

[2022-04-14 19:32] timabbott commented on #21804
You can likely implement a version of this with a simple interactive bot that does the reposting: https://zulip.com/api/writing-bots.

The bot would just reply to the first message in any topic in stream A with a "Discuss this announcement here." notice linking to the discussion stream.

[2022-04-14 19:33] timabbott commented on #21794
I think we'll need to figure out what to replace it with; I started https://chat.zulip.org/#narrow/stream/16-desktop/topic/Cross.20protocol.20apps/near/1367005 to discuss some options.

[2022-04-14 19:34] timabbott commented on #21776
Once we complete this, we'll likely be in a position to do a follow-up migration of moving all the landing page content currently in `templates/zerver/` to `templates/corporate`.

[2022-04-14 19:46] adambirds commented on #21794
@timabbott it seems it's back online and it was just an outage apparently!

[2022-04-14 19:47] #21267 closed

[2022-04-14 19:51] MartinX3 commented on #21794
@adambirds no. It got replaced by a new person/project/whatever.
It seems a new person owns now the domain.

But I hope this new person/group will continue ferdi.

[2022-04-14 20:06] mateuszmandera commented on #21784
Sure

[2022-04-14 20:10] timabbott commented on #20620
@N-Shar-ma do you want to try putting together a PR doing this?

[2022-04-14 20:40] alya commented on #19700
@N-Shar-ma would you be up for picking this one up?

[2022-04-14 20:48] timabbott commented on #19196
@ligmitz can you take this one?  I'd really like to just get it checked off.

[2022-04-14 20:50] timabbott commented on #19165
@m-e-l-u-h-a-n do you want to pick up the final point on this?  I'll drop the priority label because only the first two parts were high priority, but we should finish the remaining bit.

[2022-04-14 20:54] timabbott commented on #17925
We implemented an alternative version of this as https://github.com/zulip/zulip/pull/21068 in the 5.0 release.

[2022-04-14 20:54] #17925 closed

[2022-04-14 21:03] timabbott commented on #13696
@laurynmm this is in no way timely, but I figured I'd add it to your TODO list since we've clearly lost track of it.

(The core problem is folks on Windows end up having a weird chain of links to go back to part of the Vagrant docs).

[2022-04-14 22:21] alya opened #21810 "UI for message reminders"
This issue describes a specific plan for solving #1739.

In #8121, we have a lot of initial work towards message reminders, but we have not been able to finalize and merge the UI. It would be great to pick up this work again, and finish this feature, which is enables a really helpful workflow for some users.

## Setting a message reminder
* We should add an option to the three-dot message menu; th

[2022-04-14 22:53] timabbott commented on #2517
Looking at one aspect of implementing this, namely the core backend code path, I think we'd need to change these places:

* First, integrate https://github.com/zulip/zulip/pull/21251 so that we can send these data to clients via the API.  @akashaviator this could be a good issue for you to work on once that is integrated, and potentially you can start working on this now in any case.
* Use the `Us

[2022-04-14 23:08] timabbott commented on #4817
Closing this as we've now implemented this via #13172.

https://github.com/zulip/zulip/issues?q=is%3Aopen+is%3Aissue+label%3A%22area%3A+web-public+streams%22 tracks various enhancements to the new web-public view.

[2022-04-14 23:08] #4817 closed

[2022-04-14 23:19] alya opened #21811 "Allow "resolve topic" permissions to be managed independently"
At present, permissions to resolve a topic are managed together with topic editing permissions. However, resolving topics is quite different from editing topic names from a user perspective, and permissions for doing so should be managed independently.

Under Organization settings > Organization permissions > Moving messages, we should add:

 A dropdown setting to control who can resolve topics, w

[2022-04-14 23:20] alya commented on #21811
@sahil839 are there any sequencing considerations for the ordering between this and https://github.com/zulip/zulip/issues/21739>

[2022-04-14 23:42] hannahsalameh commented on #21432
@zulipbot claim

[2022-04-14 23:42] timabbott commented on #16083
@Riken-Shah @chdinesh1089 is there a reason we haven't finished this last bit of documentation?  We should get it on someone's TODO list :)

[2022-04-15 00:00] timabbott commented on #14808
Here's a current list specifically of places where `acting_user` is not passed in a `RealmAuditLog.objects.create` call, which would close out this issue:

* `do_reactivate_realm` cannot know what user it is, so should hardcode `acting_user=None` with a comment.
* `do_delete_user` has `acting_user` hardcoded to None; that's correct but probably needs a comment.
* `do_create_realm` sets `acting_use

[2022-04-15 01:07] jni commented on #4817
Thank you all! 🙏❤️

[2022-04-15 03:55] alya commented on #15998
Not immediately actionable, but tagging this as something to think about when redesigning the separators in the message feed.

[2022-04-15 04:32] rayy-lo commented on #21805
Hello, I'd love to take this on @zulipbot claim

[2022-04-15 04:52] sayamsamal commented on #21805
@alya I would definitely like to take this on and try my best to fast forward it, thanks.

[2022-04-15 04:57] sayamsamal commented on #21753
@alya I would like to work on all the three together as I believe it would make it more consistent, I'll definitely be splitting them up into separate descriptive commits.

[2022-04-15 05:35] alya commented on #21753
Sounds good -- thanks!

[2022-04-15 05:36] alya commented on #21805
Perfect, thanks @sayamsamal !

[2022-04-15 06:05] aparna-bhatt commented on #21807
@zulipbot claim

[2022-04-15 06:34] alya commented on #20047
Cool, thanks for the update! The blue background seems like a bit much to me here, but I think we don't need to fine-tune that aspect of it until we're closer to merging the feature.

[2022-04-15 08:08] N-Shar-ma commented on #19700
@alya Sure! Might take me a bit to get to this (~by the end of this month) but I'm definitely up for this

[2022-04-15 08:09] N-Shar-ma commented on #20620
@timabbott I'm yet to read everything properly and understand the details of what's needed, but yes I do want to try this out!

[2022-04-15 09:42] Owirtifo opened #21814 "Errors when sending a message to a deactivated user"
Hello! I have installed Zlip 5.1 on the server. Errors are constantly appearing in the logs:
[code]
Because of this, the memory on the disk runs out quickly.
Alex Fisher is a deactivated user. Tell me how to fix it?

[2022-04-15 10:58] mateuszmandera commented on #14808
Yeah, it's run from the `invoice_plans` management command, which I'm pretty sure we have set up in a cronjob? On the other hand, it also gets run from a bunch of other places, that are triggered by user actions, so we *could* make an effort to record it. But the nature of the functions is such that it may not make sense to record the user who triggered it to be called, since it "summarizes" a var

[2022-04-15 12:03] asah opened #21816 "developer docs: REST endpoints / changes to the db refers to nonexistent zerver/actions subdir"
`If the view does any modification to the database, that change is done in a helper function in zerver/actions/*.py.` but there's no actions/ subdir anymore. [view online](https://zulip.readthedocs.io/en/latest/tutorials/writing-views.html#making-changes-to-the-database) [view docs source](https://github.com/zulip/zulip/blob/main/docs/tutorials/writing-views.md?plain=1#L242)

cc @andersk since you

[2022-04-15 12:12] asah commented on #20047
@alya thx. working on backend.

idea for a future version (again, if this proves popular): display "reported" on the message somewhere, which also gives the reporting-user additional confidence that the report was sent.

[2022-04-15 12:31] ayazhan8 commented on #21224
@zulipbot claim

[2022-04-15 13:55] meeddhhaa commented on #21798
Hi @alya I'd like to work on this, could you please assign this issue to me?

[2022-04-15 17:06] asah commented on #20047
@alya works end-to-end :-). I'm assuming you'll want to pull the PR and give it a spin locally? I'm moving onto unittests. notes:
 * reporting message: I went with a "tighter" message that's fewer lines, which allows more content above-the-fold (before condensing aka [More]).
 * softened the background color (same blue as the current-topics-list in the streams list)
 * adding a "thank you" for sub

[2022-04-15 17:24] alya opened #21817 "Topic editing via message header bar should rename entire topic"
At present, editing a topic via the pencil in the message header bar edits the topic of the messages below the current header bar. This is not an intuitive model -- the user may reasonably assume that they are renaming the entire topic.

Instead, if permissions allow, editing via the message header bar **should edit all the messages in the topic**, not just the ones below.

Also:
* If the user doe

[2022-04-15 17:38] alya opened #21818 "Enforce topic editing permissions when moving messages via message menu"
At present, the "Change previous and following messages to this topic" option in the three-dot message menu lets the user move all messages in the topic, even when they don't have permissions to do so.

Instead:
* If the client knows that the user does not have permission to move some of the messages, the  "Change previous and following messages to this topic" option should not be shown.
*  If the

[2022-04-15 18:00] timabbott commented on #20047
Yeah, it'd be great to see a PR. You can probably submit it with the draft tag before your have unit tests ready, so we can comment on some API details that may be fully drafted at this point.

[2022-04-15 18:07] timabbott commented on #20047
On the bulk-export API front -- it's possible that just uses the existing API to fetch all the messages sent to the reports stream may serve as a decent option at first; we'll need to experiment a bit.

[2022-04-15 18:11] alya opened #21819 "Make moving topics between channels faster in large organizations"
In large organizations (like chat.zulip.org), moving a topic to a different stream can be very slow (seconds to tens of seconds). We should fix this.

[2022-04-15 18:13] alya opened #21820 "Make creating streams faster in large organizations"
In large organizations (like chat.zulip.org), creating a stream can be very slow (seconds to tens of seconds). We should fix this.

It should be possible to reproduce this by creating 20K users with `manage.py populate_db --extra-users` in a development environment.

[2022-04-15 18:18] ayazhan8 commented on #21410
I have a [PR raised](https://github.com/zulip/zulip/pull/21427), which needs to be reviewed.

[2022-04-15 18:21] sahil839 commented on #21811
I think it does not matter much, but will be easy for the person to follow the work done for `topic editing` and then do it taking it as a reference. But other than it, it may be fine apart from some merge conflicts.

[2022-04-15 19:05] asah commented on #20047
@timabbott [PR created](https://github.com/zulip/zulip/pull/21821). notes:
 * just started writing tests: pls ignore for now. I'm also seeing some weird test failures, will resolve those too.
 * bunch of refactoring - I can of course move this stuff into separate PR(s)... mind if we wait until the end to split them off?

[2022-04-15 19:59] m-e-l-u-h-a-n commented on #21805
I had opened #19484 for this, last year.
@sayamsamal feel free to pick the commits in case you need them.
Also [#design >  user Profile modal](https://chat.zulip.org/#narrow/stream/101-design/topic/user.20Profile.20modal) is the old thread containing discussions regarding this.

[2022-04-15 20:02] RyanJHamby commented on #21437
@zulipbot claim

[2022-04-15 22:18] timabbott commented on #14808
Yeah, making a separate issue for just billing makes sense -- can you open it?

[2022-04-15 22:21] chrisbobbe commented on #21818
Let's aim to put front-end code for deciding whether you have permission in `static/shared/js`.

[2022-04-15 22:27] timabbott commented on #14808
Opened https://github.com/zulip/zulip/pull/21823 to close the non-billing parts of this.

[2022-04-15 22:53] timabbott commented on #21814
This was fixed in fcf82bf0477d7b5c6fe6d26f2458a5acef43dae2, thanks for the report!

[2022-04-15 22:53] #21814 closed

[2022-04-15 22:54] timabbott commented on #21816
@asah this documentation is correct in `main`; you'll need to do a `git pull --rebase` on your branch.  We just merged a change last night to split `zerver/lib/actions.py` into that directory not long before you posted this question :). See #21770.

[2022-04-15 22:54] #21816 closed

[2022-04-15 22:55] #14808 closed

[2022-04-15 23:07] YashRE42 commented on #21798
@meeddhhaa, I'm already working on this issue and there's a bit of complexity to the code... I recommend looking for a different issue.

[2022-04-15 23:17] YashRE42 commented on #21798
this part is harder than everything else. (Meaning I haven't figured it out yet.)

<details>
<summary>
Here's my current WIP with a fake input:
</summary>

![](https://user-images.githubusercontent.com/33805964/163651612-32820725-1812-41e0-91b7-a35b72494eb1.gif)
</details>

I'll obviously fix the styling on that, but its a span, ie a fake input.

I'm realizing that us wanting this to be a real inp

[2022-04-15 23:21] timabbott commented on #20337
Adding the release goal issue for integrating this in 6.0.

[2022-04-15 23:30] timabbott commented on #19465
I think to fix this, we mainly need to do a bit of refactoring. Specifically, we need to extract the portion of `FetchLinksEmbedData` that fetches the data requires for rendering embeds to a reusable function, and then arrange for `render_message_backend` to support call that and pass its result into `render_incoming_message`.

Doing so creates a potential performance downside -- if the server hos

[2022-04-15 23:32] timabbott commented on #18280
We should try reproducing this. I could imagine 0d90bb2569ad61eec96b064d29b66c0195a40987 having changed the situation.

[2022-04-15 23:35] timabbott commented on #21482
We ended up integrating f9f111f950054dcf7d077dc09aa4d5e3d99e9e30 as our best pass at a next step here in time for the 5.0 release. We haven't had any concrete reports of issues with the new logic, so I think there's nothing actionable remaining on this issue.

[2022-04-15 23:35] #21482 closed

[2022-04-15 23:37] timabbott commented on #21666
Thanks for the report!  I agree this is important and we're actively discussing this while planning upcoming projects.

Given the database query noted above, I think this is effectively a duplicate of #15403, which has more detailed technical discussion of the path forward.

[2022-04-15 23:37] #21666 closed

[2022-04-15 23:38] timabbott commented on #19490
Just adding a note that I think the path forward we're likely to take for the core issue here involves extending the Session table to record the User ID and Realm with database indexes.

[2022-04-15 23:41] timabbott commented on #21556
I'm going to close this since I think we don't have an actionable thing to work on here that isn't covered in #19525, at least for now, but please be encouraged to stop by chat.zulip.org to discuss these ideas further.

But once again, we appreciate the thoughtful suggestion!

[2022-04-15 23:41] #21556 closed

[2022-04-15 23:42] timabbott commented on #19525
Just adding a note that I think this is really important and we plan to prioritize pushing forward as though it's a release goal, but there's enough here that we're unlikely to finish everything in time for the 6.0 major release, so I'm not adding the release goal label at this time.

[2022-04-15 23:43] timabbott commented on #17306
Closing this since we've now refined our plan for this area to have a nicer UI: https://github.com/zulip/zulip/issues/20870.

[2022-04-15 23:43] #17306 closed

[2022-04-15 23:47] timabbott commented on #17415
I think the remaining checkboxes here are likely all useful, but we should consider splitting this into individual issues in the "recent topics" label; I feel like nobody is in practice going to work on an issue with this state.

[2022-04-16 05:32] gitmotte commented on #14229
But this also prevents adding another options in android clients, The web client renders an "Add Option input field".

[2022-04-16 10:26] AnishaSingh0118 commented on #21807
@zulipbot claim

[2022-04-16 10:38] iamcynthiamamah commented on #21807
@zulipbot claim

[2022-04-16 12:50] AnishaSingh0118 commented on #21807
@alya As my first PR is taking time to merge with zulip till then the bot will not assign me any issue so kindly review my PR for this perticular issue.
Kindly suggest me If there is anything else that needs modifications.

[2022-04-16 14:38] terpimost commented on #21798
It doesn’t really matte but having a text cursor on hover is important. In
future it would be nice to make a transition increasing width of the field.

On Fri, Apr 15, 2022 at 7:18 PM Yash Rathore ***@***.***>
wrote:

[2022-04-16 17:41] hannahsalameh commented on #21432
@alya whats the status on this issue? I noticed that @sayamsamal had a merge request out just now and was wondering if there was anything else needed to resolve this issue.

[2022-04-16 18:39] hannahsalameh commented on #21432
@zulipbot unclaim

[2022-04-16 18:40] hannahsalameh commented on #21274
@zulipbot claim

[2022-04-16 19:39] hannahsalameh commented on #21274
Hello! I've been looking at this bug for a minute and I don't believe there is a way to fix it without disabling Youtube functionalities, as there is no way to access a keypress once the focus shifts to the youtube player. I also looked into the ability to populate the keypress out, and that doesn't seem like a viable option either. Let me know if I am wrong.

[2022-04-16 19:39] hannahsalameh commented on #21274
@zulipbot unclaim

[2022-04-17 00:13] MarisaShang03 commented on #15948
Hi @alya @timabbott I'd like to work on "Make contrasts meet the WCAG standard (see the Accessibility tab in the browser developer console)."  My plan is to first read the WCAG standard about contrasts.

I am a candidate for the Outreachy program. I would like to be part of the Extend and polish Zulip's OpenAPI documentation project. I wonder what is something I can contribute as a new member of t

[2022-04-17 04:55] LALBJ opened #21832 "vagrant up --provider=docker reports error."
Hello:
I get an error when I am running the "vagrant up --provider=docker", could you help me check it?
host operating system: Mac Book Pro(Intel)

[code]

[2022-04-17 05:00] asah commented on #21832
suspicious curl error just before this: `default: [#6](https://github.com/zulip/zulip/pull/6) 0.223 curl: (7) Failed to connect to [raw.githubusercontent.com](http://raw.githubusercontent.com/) port 443: Connection refused`

also, you might try breaking down the command (cut between the &&'s) and running each command separately.

[2022-04-17 06:29] LALBJ commented on #21832
Thank you for your reply. I have solved this problem after modifying the DNS server.

[2022-04-17 06:31] Preshh0 commented on #15948
@zulipbot abandon

[2022-04-17 08:55] AnishaSingh0118 commented on #20831
Here is the [PR](https://github.com/zulip/zulip/pull/21815)  link which will fix this issue. Waiting to review this PR.

[2022-04-17 11:23] Riken-Shah commented on #21716
Hey @somesh202,
Are you are still working on this issue?
If yes, no problem go ahead and let me know if you need any help?

[2022-04-17 12:28] sayamsamal commented on #21674
I plan on working on this issue as part of GSOC '22.

[2022-04-17 12:53] chdinesh1089 commented on #21217
Sorry about the delay, got occupied with other things. I have exams from tomorrow until 21st April. Will work on this after that.

[2022-04-17 14:31] LALBJ commented on #21832
I met a new error. Here is the error message:
[code]

[2022-04-17 17:20] MarisaShang03 commented on #15948
@zulipbot claim Make contrasts meet the WCAG standard (see the Accessibility tab in the browser developer console).

[2022-04-17 17:30] MarisaShang03 commented on #15948
@zulipbot I noticed that we have a PR #17032 that has a good design for "Make contrasts meet the WCAG standard" task.

[2022-04-17 17:39] mekaustubh28 commented on #21832
can i use virtualbox inplace of docker??

[2022-04-17 18:13] somesh202 commented on #21716
Hey @Riken-Shah!
Actually, I'm looking to fix this issue as a part of my GSoC project, also I'm a bit occupied with my exams right now. But I'll try to fix this soon.
Thanks!

[2022-04-17 18:46] mekaustubh28 commented on #1526
@zulipbot claim

[2022-04-17 19:09] supriya-045 commented on #21767
@alya Please assign this issue to me.

[2022-04-17 22:25] tanyasingh7 commented on #21713
Hello @zulipbot, yes I am still working on it. It should be done very soon!

[2022-04-18 00:24] andreamaciasr commented on #17856
@zulipbot claim

[2022-04-18 00:27] #21705 closed

[2022-04-18 04:06] barrysnow1 commented on #20618
@zulipbot claim

[2022-04-18 08:14] christopherchong94 commented on #21224
@timabbott I can reproduce this issue in my local setup of GoCD and Zulip. Few observations similar to what @cynay and @junchen-liu pointed out

1. When configuring `Config.XML` as instructed [here](https://zulip.com/integrations/doc/gocd), one needs to add `&id=${ID}` in the url, else GoCD will not accept the url by throwing this error - Link must be a URL containing '${ID}'. Go will replace the

[2022-04-18 08:18] yuroitaki commented on #21224
@timabbott I can reproduce this issue in my local setup of GoCD and Zulip. Few observations similar to what @cynay and @junchen-liu pointed out

1. When configuring `Config.XML` as instructed [here](https://zulip.com/integrations/doc/gocd), one needs to add `&id=${ID}` in the url, else GoCD will not accept the url by throwing this error - `Link must be a URL containing '${ID}'. Go will replace the

[2022-04-18 10:15] aparna-bhatt commented on #19369
How should I contribute in this issue @alya can you guide me.

[2022-04-18 12:45] iamcynthiamamah commented on #21807
Good day, I am one of the outreachy applicants, I claimed an issue 2days back with the issue number #21828 (https://github.com/zulip/zulip/issues/21807#), after which I forked and cloned the zulip code to my  VSCode but I don't know the branch the source code for the issue is

In order words, I really dont know how to access the branch and the code that has the issue in order for me to make change

[2022-04-18 13:06] DevanshKariya commented on #21432
claim

[2022-04-18 19:09] mili1499 commented on #20583
@zulipbot claim

[2022-04-18 19:20] alya opened #21838 "Turn off "Send notification to old topic" option by default"
When moving messages, users can choose to send a notification to the old and/or new topic, which helps others understand what happened, e.g.:
<img width="880" alt="Screen Shot 2022-04-18 at 12 12 59 PM" src="https://user-images.githubusercontent.com/2090066/163862539-844d6a35-1052-4709-be6e-34e473c3107b.png">

A good default is to send a notification to the new topic (for clarification), but not t

[2022-04-18 19:25] alya opened #21840 "Add option to send notification for within-stream message moves"
When moving messages, users can choose to send a notification to the old and/or new topic, which helps others understand what happened, e.g.:
<img width="880" alt="Screen Shot 2022-04-18 at 12 12 59 PM" src="https://user-images.githubusercontent.com/2090066/163862539-844d6a35-1052-4709-be6e-34e473c3107b.png">

However, when moving messages via the three-dot message menu, we only offer the option t

[2022-04-18 20:24] timabbott commented on #19056
I believe https://github.com/zulip/zulip/issues/19056#issuecomment-1040863023 contains a replication recipe. (You'll presumably want to adjust the hostname/etc. to target your development environment, look at http://localhost:9991/api for some useful details).

[2022-04-18 20:59] alexmv commented on #19056
For reference, the `https` tool which I show using, can be installed via `pip install httpie`, [among other ways](https://httpie.io/docs/cli/installation).

[2022-04-18 21:31] alya opened #21841 "Add a "Frequently used" emoji to emoji selector"
We should add a "Frequently used" emoji section based on emoji that are frequently used by the user and/or organization.

* This section should appear at the top of the default emoji picker view.
* To fit well with the emoji picker layout, we should show the top 6 emoji.

## Ranking
We should try using a ranking formula that combines the user's and the organizations frequent emoji. As a starting p

[2022-04-18 21:37] MarisaShang03 opened #21842 "Need a more comprehensive Accessibility guideline for users"
Our Zulip community has done so much to welcome users and contributors with different backgrounds and need. I think it is important to write what accessibility features we have on the user guidance. Users who need accessibility features to fully utilize Zulip product can access them right in the user guidance, and can ask for help if encounter problems

Now the accessibility guidance is under Code

[2022-04-18 21:46] MarisaShang03 commented on #21842
I think a good start is to add a step by step introduction for accessibility features for users: for example, our contrasts meet the WCAG standard (see the Accessibility tab in the browser developer console); If the navigation blocks your accessibility functions, we have a skip navigation link; We make sure that all images should have alt tags, etc.

[2022-04-18 22:00] vparv commented on #21800
@zulipbot claim

[2022-04-18 22:18] Preshh0 commented on #18583
@zulipbot abandon

[2022-04-18 22:54] djoo3 commented on #21838
@zulipbot claim

[2022-04-18 23:29] alya opened #21843 "Internationalize section labels in emoji picker"
The section labels in the emoji picker are not internationalized. We should fix this.

See [CZO thread](https://chat.zulip.org/#narrow/channel/9-issues/topic/emoji.20picker.20internationalization/near/1369477) for discussion, including technical considerations.

[2022-04-18 23:53] timabbott commented on #21842
https://zulip.readthedocs.io/en/latest/contributing/accessibility.html is a useful resource.

[2022-04-19 00:07] timabbott commented on #21832
The actual error message is above what you've posted -- likely also some sort of networking issue, but it's not easy to tell without the traceback.

Please use our documented "provision help" stream in the Zulip development community for debugging, since we'll be much better able to debug interactively.

[2022-04-19 00:07] #21832 closed

[2022-04-19 00:15] andersk opened #21844 "Scroll to bottom button flashes repeatedly after scrolling up with ↑ key"
In a long view, if I quickly press the <kbd>↑</kbd> key a number of times to scroll up (or hold it down to repeat), the “Scroll to bottom” button starts slowly fading in and out and in and out the same number of times. It seems the keyboard handler fades it out but the scroll handler fades it back in.

In addition to fixing this bug, we should switch the fade from a jQuery animation to a CSS trans

[2022-04-19 00:41] MarisaShang03 commented on #15465
Hi @zulipbot I'd like to work on this issue.

I am a candidate for the Outreachy program. I would like to be part of the Extend and polish Zulip's OpenAPI documentation project. I think this issue is something I can contribute as a new member of the community.

My skill sets are Python, Web, and technical writing.

[2022-04-19 01:08] djoo3 commented on #21838
Hi, I'm really new to this project and I was wondering how you can recreate this behavior (moving messages to another topic)  in the dev env. Thanks!

[2022-04-19 04:19] rayy-lo commented on #21806
@zulipbot claim

[2022-04-19 05:50] alya commented on #21767
@supriya-045 what's the other issue you're working on and what's its status?

[2022-04-19 05:57] supriya-045 commented on #21767
I have completed the  issue no. #21754 and [PR](https://github.com/zulip/zulip/pull/21754) is ready for test deploy.

[2022-04-19 06:03] alya commented on #21674
@sayamsamal If you aren't actively working on it (I think you've got a few higher-priority issues on your plate?), you can go ahead an unassign yourself. We don't expect folks to work precisely on the issues they put in their GSoC proposal, and it's best to leave issues open unless you're actively working on them, in case someone else would like to pick it up. You can always help by reviewing anot

[2022-04-19 06:22] yogesh-sirsat commented on #21634
@zulipbot claim

[2022-04-19 08:38] yuroitaki commented on #21628
@timabbott I replicated this issue successfully - seems like the http post payload for `SCANNING_COMPLETED` from Harbor has changed.

My replication steps:
1. Set up a test account in https://demo.goharbor.io/, create a new project
2. Go to project `Configuration` setting, turn on `Automatically scan images on push`
3. Go to project `Webhook` setting, create a new webhook by putting the URL from h

[2022-04-19 14:45] somya51p commented on #19884
@zulipbot claim

[2022-04-19 17:00] jatammaro49 commented on #19849
@zulipbot claim

[2022-04-19 17:16] alya commented on #21838
Welcome @djoo3 ! I recommend referring to the help center documentation: https://zulip.com/help/move-content-to-another-topic, https://zulip.com/help/move-content-to-another-stream.

Please also take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you

[2022-04-19 17:30] sayamsamal commented on #21674
@zulipbot abandon

[2022-04-19 17:31] sayamsamal commented on #21674
For anyone picking up this issue, I'd like to leave some notes.

[2022-04-19 17:36] sayamsamal commented on #21805
@m-e-l-u-h-a-n thank you for the references, much appreciated!

[2022-04-19 18:41] asah commented on #21433
@zulipbot claim

[2022-04-19 19:25] mateuszmandera opened #21851 "Add feature to allow organization administrators to customize the list of default statuses"
When setting a status we get this list of proposed, default statuses to choose from:

![image](https://user-images.githubusercontent.com/45007152/164079746-785845ae-e70a-4ef6-a533-cbd385827b27.png)

It could be a nice feature to allow organization administrators to edit this list and fill it with their own, custom statuses.

The decision whether to  implement this and the design require discussion

[2022-04-19 19:46] giftcup commented on #21843
@zulipbot claim

[2022-04-19 19:52] giftcup commented on #21843
Hello @alya for the emoji area please am I to use i18n to translate the different categories listed following the data structure path done and do them manually such that it refreshes directly once connected?

As seen from the emoji picker initialization.

[2022-04-19 20:56] asah commented on #21433
@alya [v6.0 release goal issue] pls review this simple adjustment to the UI/UX. This is a new/experimental feature and we can improve the UX if it becomes popular. Currently, the easiest way to nav to this screen is to either bookmark the unsubd stream or subscribe and the unsubscribe.

demo showing (a) "Send anyway" appearing, (b) the msg getting sent but the user remaining unsubscribed, and (c)

[2022-04-19 23:10] #21711 closed

[2022-04-20 02:50] terpimost opened #21856 "UI redesign: stream members panel"
**[This issue is blocked on finalizing plans for redesigning the left sidebar, and will need to be updated.]**

This is a big task, which could be decomposed to multiple issues.
This is also related to https://github.com/zulip/zulip/issues/21285 and might want to wait for https://github.com/zulip/zulip/issues/21798, since it uses the same icon (search).

As a part of redesign we want to update sty

[2022-04-20 02:51] andersk commented on #20980
The test covering the `display_emoji_reaction_users` event should have gone in the first commit, not the second. This broke test coverage on `main`, so I’ve committed that test separately as 1db591de54b9d573094bcc5307d0af279a69d370 to restore passing CI.

[2022-04-20 06:34] pratham-bhatnagar commented on #21838
@zulipbot claim

[2022-04-20 07:15] alya opened #21858 "Simplify the hotkey.js list of exceptions for recent_topics"
We should think about simplifying the hotkey.js list of exceptions for recent_topics -- it's generally undesirable to have a list of specific widgets where we shouldn't eat input; better would be to only eat input relevant to the target widget. E.g. if we added a new text box in a sidebar, we'd probably need to remember to adjust that list.

[2022-04-20 07:19] alya commented on #17415
I filed #21858 for the first unchecked point.

[2022-04-20 07:46] alya commented on #21739
Adding a note to make sure we plan for making this logic accessible for mobile, per @gnprice 's [comment](https://github.com/zulip/zulip-mobile/pull/5189#issuecomment-1100368443):

[2022-04-20 08:00] alya commented on #19700
Great, thanks!

[2022-04-20 10:36] Akanksha2403 commented on #20484
Hello, @timabbott I would like to work on this issue. Please assign it to me.

[2022-04-20 10:38] Akanksha2403 commented on #19884
@zulipbot if open, assign this issue to me.

[2022-04-20 10:39] Akanksha2403 commented on #19770
@zulipbot Please assign this issue to me.

[2022-04-20 10:40] Akanksha2403 commented on #20916
@zulipbot is this issue still open?

[2022-04-20 10:41] Akanksha2403 commented on #20916
@zulipbot if it is still open can you assign it to me?

[2022-04-20 11:43] Zoronium commented on #20916
@zulipbot the pr for this issue is under review #21537

[2022-04-20 12:39] #21695 closed

[2022-04-20 13:10] jag3773 opened #21859 "Linkify Custom URL Protocols"
(I must say, great work on a great product!)

It would really help our team to share direct links with one another if custom URL protocols were linkified. I'm familiar with Zulip's linkify feature, which is awesome, but it doesn't allow custom protocols.

For example, we would like [Obsidian](https://obsidian.md) links to be clickable in Zulip. Some examples of Obsidian links:

- obsidian://open?v

[2022-04-20 13:12] timorantalaiho commented on #12738
This would be an excellent feature.

It could be toggleable, with something like this

[code]

Or to include the syntax highlighting option

[code]

[2022-04-20 13:33] SuperSupeng commented on #19434
Provide a use case
We want a topic to be able to send messages only to administrators, for notifications and not for small talk.

[2022-04-20 17:58] newbiochemist opened #21862 "Update Zoom Integration Instructions"
It is not clear where the Build app is.

There is no whitelist but OAuth allows list

About the scopes tab, it is not clear option is meeting:write option.

@zulipbot claim

[2022-04-20 18:01] alya opened #21863 "Make "Remove" button in stream creation UI not red"
In the "Subscribers" part of the stream creation UI, the "Remove" button for modifying the list of users to add to the stream is red:

![Screen Shot 2022-04-20 at 11 00 32 AM](https://user-images.githubusercontent.com/2090066/164293912-5429ae57-0a7c-4675-a105-d042cd29b31a.png)

We should make it regular text color instead (similar to the "Cancel" button), as the user is still creating the stream,

[2022-04-20 19:47] alya commented on #14490
The current state of this issue is that the backend is correct, i.e. a guest user can access a web-public stream by following a direct link to get there.

However, subscribing to web-public streams is not supported in the UI for guests. We need to do the following for guest users:

- [ ] Enable the "All streams" tab in Streams management UI when the organization has web-public streams enabled.
- [

[2022-04-20 19:47] alya commented on #14490
@sahil839 this is not super-urgent, but would you be up for adding it to your to-do list?

[2022-04-20 19:57] rebekahsnow commented on #20073
@zulipbot claim

[2022-04-20 20:02] alya opened #21865 "Make "Subscribe to more streams" more informative"
To make the "Subscribe to more streams" link in the left sidebar more informative and appropriate to the user's situation, we should do the following:

- **When the user has N>0 streams they can subscribe to:** Replace the link with: "Browse N more streams"
- **When the user has no streams they can subscribe to**:
  - If the user has permission to create streams, show a "Create a stream" link, whi

[2022-04-20 21:56] medhatiwari commented on #21863
@zulipbot claim

[2022-04-20 23:10] alya opened #21869 "Add an "Unsubscribed" streams tab"
When browsing streams to potentially subscribe to, it would be helpful to just view streams to which you're not currently subscribed. We should:

- [ ] Add an "Unsubscribed" tab to the streams UI.
- [ ] Direct the "Browse streams" and "Subscribe to more streams" links in the left sidebar to that tab.

Notes:
- If the user is subscribed to all streams they can view, we should show a "No streams to

[2022-04-20 23:13] alya commented on #16751
Ah, I didn't notice this issue when filing #21433. Closing in favor of #21433, which has a bit more detail on the proposed fix. Thanks for the report @Debilski !

[2022-04-20 23:15] alya commented on #21433
@asah I just discovered that there's an existing PR towards fixing this issue, which you might want to take a look at: https://github.com/zulip/zulip/pull/16854

Also, I think @Riken-Shah would be a great person to review https://github.com/zulip/zulip/pull/21852 when it's ready.

[2022-04-20 23:21] alya opened #21870 "In stream settings, add a message when there are no steams to show"
At present, when the user isn't subscribed to any streams, they see a blank panel, which may be confusing:

![Screen Shot 2022-04-20 at 4 11 11 PM](https://user-images.githubusercontent.com/2090066/164339960-93799d10-6170-4c0a-94ca-cbc6c0354f3c.png)

To address this, we should add a default message when there are no streams to show in a panel.

* **Subscribed**: You are not subscribed to any strea

[2022-04-20 23:27] asah commented on #21433
@alya yep, saw that. Different approach, didn't learn much from it. But thx! LMK when the UI/UX is approved so I can start on the eng polishing.

@Riken-Shah let me know if you have time to review, thx.

[2022-04-21 02:27] sahil839 commented on #14490
Yeah sure. Will claim it when I start working on this.

[2022-04-21 03:26] gnprice commented on #9972
This was fixed at some point. A test demonstrating the fix dates to 345fcd3a6945cacbf131dc185c18606074f75bfa in 2020-01:
[code]

But that commit was a pure refactor apart from adding tests, so the fix itself is older.

[2022-04-21 03:26] #9972 closed

[2022-04-21 04:29] anurastogiji commented on #21281
@zulipbot claim

[2022-04-21 05:45] Cologalaxy commented on #21838
@zulipbot claim

[2022-04-21 05:57] bkmgit commented on #21862
@zulipbot claim

[2022-04-21 06:22] amanagr commented on #21638
I will just complete this first since  #16411 seems have some weird issues with it.

[2022-04-21 06:38] newbiochemist commented on #21862
@zulipbot claim

[2022-04-21 12:54] supriya-045 commented on #21870
@zulipbot claim

[2022-04-21 13:20] Arshita-CHD commented on #19619
@zulipbot claim

[2022-04-21 14:59] process0 commented on #19017
Hi can we add a button? this is confusing for our users

[2022-04-21 15:10] Zimmi48 commented on #21784
Is there any update on this? And more importantly, is there any issue for the users beyond the confusion arising from the message?

[2022-04-21 15:36] iamcynthiamamah commented on #21807
@alya, Please kindly confirm that the issue #21807 has been fixed by #21867 . Thanks a lot

[2022-04-21 17:17] karanka commented on #20197
@zulipbot claim

[2022-04-21 17:43] alya commented on #21439
Related issue: #2047

[2022-04-21 18:36] AnishaSingh0118 commented on #19090
hello @alya since this issue requires some CSS codes, I tried my best to resolve it and i would highly appreciate if I could get your feedback on my PR #21873.

[2022-04-21 18:40] ebecaf opened #21875 "Change the 500 error 'technical difficulties' message"
Hi, I would like to change the message:

"This Zulip server is currently experiencing some technical difficulties. Sorry about that!"

Even if it doesn't persist across updates, may I ask where the file is to change that? Thank you.

[2022-04-21 18:46] ebecaf commented on #21875
is it;
`/home/zulip/deployments/current/templates/500.html`?

[2022-04-21 18:48] alexmv opened #21876 "We should 404 on /api/api-doc-template, not 500"
Requesting `/api/api-doc-template` directly hits this code:
https://github.com/zulip/zulip/blob/c2148dc4d9e2ba1ea96d8ee0c972fcf77af43e8d/zerver/views/documentation.py#L190-L196

Those `assert`s cause the request to 500, since `/zerver/api/api-doc-template.md` is an internal URL which is not meant to be accessed directly.

Right above these lines:
https://github.com/zulip/zulip/blob/c2148dc4d9e2ba1

[2022-04-21 19:03] asah commented on #21876
ha!  @alexmv did you see this in the CZO logs today?  I ran a test today while working on [PR 21835](https://github.com/zulip/zulip/pull/21835) to provide 100% test coverage for a dozen files, including the API docs.

Anyway, if you want to play reviewer on that PR, I can trivially include this (and the test case...) :-)

[2022-04-21 19:05] timabbott commented on #21876
Yeah feel free to submit a PR for this @asah!

[2022-04-21 20:34] salmonax commented on #21670
@zulipbot claim

[2022-04-21 21:00] mateuszmandera opened #21879 "Audit the billing system for things that should record a RealmAuditLog entry but don't"
As discussed briefly in #14808, the billing system is less well-organized in terms of recording `RealmAuditLog` than the rest of the codebase. Here are some examples:
* In `make_end_of_cycle_updates_if_needed` a `RealmAuditLog` entry isn't made when adjusting the `plan` in the `if plan.status == CustomerPlan.SWITCH_NOW_FROM_STANDARD_TO_PLUS:` condition.
* `do_change_plan_status` is clearly the kin

[2022-04-21 21:17] alexmv commented on #21876
And yes, feel free to poke me on #21835 once it's ready for review.

[2022-04-21 21:29] Arshita-CHD commented on #21876
Hey can I contribute on this issue too?

[2022-04-21 21:36] alya opened #21880 "Prohibit multiple copies of the same option in "list of options" custom profile field"
At present, the "list of options" custom profile field can have multiple copies of the same option. This is confusing, and should not be allowed.
![Screen Shot 2022-04-21 at 2 34 01 PM](https://user-images.githubusercontent.com/2090066/164556047-76b16605-16ce-4b86-9e16-25a653e9ee9e.png)

[2022-04-21 21:48] alya opened #21881 "Add an option to make web-public streams search indexable"
For many organizations, it is desired to have web-public streams be search-indexable. Creating this option is a complex project that would require (at a minimum):

* Changing our URL format for views to remove the `#`s model.
* Potentially providing some sort of simpler "Just show this topic" and "Show the list of streams and list of topics" type views, somewhat similar to the `zulip-archive` mode

[2022-04-21 22:10] Arshita-CHD commented on #19619
Hey I have created a pull request for this issue. Can someone verify that it is done correctly?

[2022-04-22 00:53] djoo3 commented on #21865
@zulipbot claim

[2022-04-22 04:58] alya commented on #21432
There's a PR for this issue that's awaiting review; no further work is required at this time. Thanks, folks!

[2022-04-22 05:01] djoo3 opened #21886 "Non default stream names object not being updated when user subscribes"
When a user subscribes to a new stream(s) using the streams subscription popover:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/23219615/164606032-8e96d9e3-6480-4cad-80ff-59a99e68d200.png">

The `stream_data.non_default_stream _names()` getter function does not reflect this change. You can observe this using console outputs here:

<img width="600" alt="image" src="ht

[2022-04-22 05:05] alya commented on #15465
@MarisaShang03 Welcome! Please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) for a detailed walk-through of how to get started. I also recommend checking out the #Outreachy stream in the [Zulip development community](https://zulip.com/development-community/).

[2022-04-22 05:23] djoo3 commented on #21865
Related PR: https://github.com/zulip/zulip/pull/21887

Note: I would like to recommend fixing [this issue](https://github.com/zulip/zulip/issues/21886) before merging this PR.

[2022-04-22 05:31] alya opened #21888 "Do not show "Send private message" option when user does not have PM permissions"
There is an organization setting that controls whether users can send PMs (https://zulip.com/help/restrict-private-messages). When a user does not have permission to send PMs, we should remove the "Send private message" option from the user profile menu.

![Screen Shot 2022-04-21 at 10 23 46 PM](https://user-images.githubusercontent.com/2090066/164609448-3b2cd54b-53e2-4fef-a2dc-72ddea8f8830.png)

[2022-04-22 05:32] alya commented on #21888
@yogesh-sirsat FYI in case you're interested in picking this one up.

[2022-04-22 05:51] alya opened #21889 "Change empty PM view text when user does not have permissions to send PMs"
In an empty PM view, we show the following message, which does not make sense when the user is not allowed to send PMs (https://zulip.com/help/restrict-private-messages).:

![Screen Shot 2022-04-21 at 10 23 17 PM](https://user-images.githubusercontent.com/2090066/164611373-864c42f2-0a4f-4625-869b-32ad9606e572.png)

Instead, if the user somehow navigates to such a view, the message should say: "You

[2022-04-22 05:52] alya commented on #21889
I think fixing this should be a blocker for removing the "beta" flag from the "disable private messages" feature. @timabbott does that sound right?

[2022-04-22 05:54] alya commented on #3409
Also note that the switcher should be disabled when the user does not have permission to send PMs (see https://zulip.com/help/restrict-private-messages). @evykassirer FYI

[2022-04-22 06:04] YashRE42 commented on #21798
One of the difficulties here is that the typeahead is completely separate from the searchbox, as such doing a box shadow that fits both of those correctly seems complicated, but without the drop shadow it doesn't give off the same impression of being a single component.
normal:
![](https://user-images.githubusercontent.com/33805964/164611907-74c1b5fd-d819-4cad-a1af-af2a609cd265.png)
hover:
![](htt

[2022-04-22 10:30] alfredbez commented on #12857
Looks like #15390 is a duplicate of this and some work was already done in #16792.

[2022-04-22 10:33] sahil839 commented on #14490
@zulipbot claim

[2022-04-22 11:26] yashd26 commented on #21869
Hey @alya, I have implemented the things that you have listed in the issue for now. I have also created a thread in the [CZO](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Unsubscribed.20tab.20in.20streams.20settings) for this. Also I am little confused about the order of the tabs in stream settings.

Uploading a gif describing the working of the unsubscribed tab:
![22042022-154525-REC](h

[2022-04-22 12:31] medhatiwari commented on #21757
@zulipbot claim

[2022-04-22 13:28] medhatiwari commented on #21757
@zulipbot claim

[2022-04-22 13:47] process0 commented on #10208
I agree, this is a confusing UX decision here.

[2022-04-22 13:56] karanka commented on #20197
@zulipbot unclaim

[2022-04-22 14:31] karanka commented on #19627
@zulipbot abandon

[2022-04-22 14:35] karanka commented on #21876
@zulipbot claim

[2022-04-22 14:54] iamcynthiamamah commented on #21863
@zulipbot claim

[2022-04-22 14:55] sahil839 commented on #14490
@alya I had a couple of questions -
- Regarding the third point of showing `+` to guest only when web-public streams are enabled, do we want to show it only if web-public streams are enabled and guests are allowed to create them, or also when just the web-public streams are enabled.
- And do we want to enable `All streams` even when web-public streams are enabled but there are no web-public stream

[2022-04-22 15:19] supriya-045 commented on #21889
@zulipbot claim

[2022-04-22 15:53] Alexjake660 commented on #20831
@zulipbot claim

[2022-04-22 17:24] yogesh-sirsat commented on #21888
Yeah, looks interesting.

[2022-04-22 17:26] yogesh-sirsat commented on #21888
@zulipbot claim

[2022-04-22 17:41] terpimost commented on #21798
I'm a little bit confused by questions, but see that there is a complexity of implementation here.
I would love to discuss that on a call. Lets talk in Zulip chat https://chat.zulip.org/#narrow/pm-with/22433-user22433 ?
Do you call actual `<input>` element a _typeahead_ ?

This button doesn't have to be an actual input
<img width="233" alt="image" src="https://user-images.githubusercontent.com/190

[2022-04-22 20:17] karanka commented on #21876
@zulipbot Abandon

[2022-04-22 20:17] karanka commented on #21876
@zulipbot unclaim

[2022-04-22 20:19] karanka commented on #19627
@zulipbot claim

[2022-04-22 21:00] asah commented on #21876
@zulipbot claim

[2022-04-22 21:51] alya opened #21896 "Communicate upfront when user is not allowed to send a DM"
_[updated Apr 2023]_

At present, when a user is not allowed to send a DM, we notify them via a banner _after_ the "Send" button is pressed:

<img width="989" alt="Screen Shot 2022-04-22 at 2 48 24 PM" src="https://user-images.githubusercontent.com/2090066/164800408-fe072c22-090d-444f-b70c-8ab23386fd76.png">

This can cause frustration, as the user may have spent some time composing the message.

[2022-04-22 22:20] bsureshkrishna opened #21897 "Windows: unable to install 5.9.1 or 5.9.2"
Hi,

Since 5.9.1 (and also for 5.9.2) of Zulip app, trying to run the installer hangs in between with an error message saying "unable to close Zulip" etc.. also happens if done right after restarting, without a Zulip app running. I have tried running the installer directly, and also via the Zulip app, no difference. Also unable to uninstall the existing Zulip 5.9.0, again get the same error..

Thi

[2022-04-22 22:32] bsureshkrishna commented on #21897
OK... could fix by manually deleting Zulip installation folder and then reinstalling.. but looks like, for me, automatic update is broken right now. Thanks !

[2022-04-22 22:33] #21279 closed

[2022-04-22 22:35] karanka commented on #21896
Hi, first time contributor here, where would the code be for this send button?

[2022-04-22 22:37] karanka commented on #21896
@alya would this be in the message_send.py?

[2022-04-22 22:52] alya commented on #21869
Cool, thanks! Please post a PR when ready.

Let's try putting "Unsubscribed" on the right; I think that will work best.

[2022-04-22 23:02] karanka commented on #19627
@zulipbot abandon

[2022-04-22 23:33] karanka commented on #21876
@zulipbot claim

[2022-04-23 00:07] alexmv opened #21900 "Set an optional max connection lifetime for SMTP connections"
Zulip's `email_senders` worker process opens an SMTP connection on start-up, and re-checks that connection is still live with a `NOOP` command immediately before attempting to re-use it every time:
https://github.com/zulip/zulip/blob/77fd03e426e75b5914bece7da46a3bbaa8121f17/zerver/worker/queue_processors.py#L735-L751
https://github.com/zulip/zulip/blob/77fd03e426e75b5914bece7da46a3bbaa8121f17/zerv

[2022-04-23 00:18] asah commented on #21876
@alexmv weird - I can't reproduce this, e.g. these both return 404 today:
https://chat.zulip.org/api/api-doc-template.md
https://chat.zulip.org/zerver/api/api-doc-template.md

[2022-04-23 00:34] alexmv opened #21901 "Stop running `git fetch --prune` in a mirrored repo"
`/srv/zulip.git` is a repository which is cloned with `--mirror` from https://github.com/zulip/zulip (or whatever repo is configured in `/etc/zulip/zulip.conf`).  We then add an explicit `upstream` remote of https://github.com/zulip/zulip.  This results in a `/srv/zulip.git/config` which looks like:

[code]

We then run `git fetch --prune --tags --all` -- the `--prune` having been added in 02582c6

[2022-04-23 00:36] alexmv commented on #21876
https://zulip.com/api/api-doc-template replicates

[2022-04-23 01:17] timabbott commented on #10797
Just adding a note that we removed `ENABLE_FILE_LINKS` / `file://` support because browsers removed support that URL scheme in links for security reasons.

We currently allow the URL schemes documented here: https://html.spec.whatwg.org/multipage/system-state.html#safelisted-scheme.

[2022-04-23 06:48] SuperSupeng commented on #19525
This is indeed a more important feature, and I hope to give high priority to the arrangement.

[2022-04-23 08:51] Arch0125 commented on #21680
I'm working on the issue

[2022-04-23 12:34] ditsuke commented on #20484
You can claim it with `@zulipbot claim` if no one is already assigned.

[2022-04-23 14:47] JackBauer78 opened #21903 "Internal server error after first start"
Hello,

I mounted 2 Debian 11 for Zulip :
- 1 for web access with all services except PostgreSQL (4 CPU / 16Go RAM)
- 1 for PostgreSQL only (4 CPU / 16Go RAM)

I followed the docs and used the scripts to deploy.
But when I access to the web page, I always have the zulip `Internal server error`.

I checked several log files and I have this error in `/var/log/zulip/django.log` every time I access th

[2022-04-23 16:10] yashd26 commented on #21869
Done! I have pushed the PR. There are still some node tests that have to be done but I think you can test the working for now.

[2022-04-23 22:17] code-review-doctor opened #21905 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/zulip/zulip/blob/ce2014bfef18e3920f46c9a0f385d8616ae59268/zerver/lib/event_schema.py#L1026
https://github.com/zulip/zulip/blob/ce2014bfef18e3920f46c9a0f385d8616ae59268/zerver/tests/test_external.py#L207
https://github.com/zulip/zulip/blob/ce2014bfef1

[2022-04-24 05:50] manila commented on #19821
@zulipbot claim

[2022-04-24 07:35] yuroitaki commented on #19056
@zulipbot claim

[2022-04-24 07:55] eldy opened #21909 "Request for integration with Dolibarr ERP CRM"
Dolibarr is major open source erp and crm software.
It has Api, hooks and triggers.
It would be great to have a dolibarr module that implement trigger so each time an event occurs in dolibarr (a new quite has been sent, a new order has been received, a new invoice has been sent), an avent appears in zulip...

[2022-04-24 13:06] jerrybb opened #21910 "Messages with URL only are not sent"
Hi, anyone has same issue that messages containing URL only (no other text) are not sent?
If there is some text in front of URL link the message gets sent successfully.

There is no error logged in log files. Sender's client shows the message is sent but no one receives it. The message is not visible even on sender's other client (if message was sent using desktop client the sender cannot view sen

[2022-04-24 15:28] yashd26 commented on #21896
Hey @karanka, are you working on this issue?

[2022-04-24 22:02] terpimost opened #21913 "UI redesign: top bar"
[update by @alya 2023-06]

The main remaining part of this issue is to update the icons/buttons in the top right of the top bar, including updating:

- Icons used for the gear menu, user list, and keyboard shortcuts (keeping keyboard shortcuts in its current position for now).
- Icon alignment, and button click targets.
- Button colors and hover behavior.

Described in the original issue, but plan

[2022-04-24 22:28] IvanToy commented on #21863
@zulipbot claim

[2022-04-25 16:06] timabbott commented on #21224
I think it's reasonable to contact the GoCD project if you're unable to debug why it isn't doing an outgoing HTTP request to the Zulip server, yeah.

[2022-04-25 18:36] alya opened #21914 "Make it possible to enable multiple video call providers"
At present, an organization can enable one video call provider at a time (https://zulip.com/help/start-a-call#change-your-video-call-provider). However, some organizations may want to enable multiple providers for users to choose from, and we should make it possible to do so.

## Settings menu
In the settings menu, we should replace the "Video call provider" drop-down with a set of checkboxes. The

[2022-04-25 19:27] timabbott commented on #21903
@JackBauer78 I'm pretty sure that output from UWSGI indicates an out-of-memory kill issue. Can you stop by chat.zulip.org to discuss? I am not aware of any mechanism through which Zulip itself would cause out-of-memory issues on a system with 16GB of RAM, so there's likely something specific to your system involved.

[2022-04-25 19:28] timabbott commented on #21909
@eldy thanks. Can you link to the documentation for the Dolibarr outgoing webhook system? I suspect that'll make it a lot easier for a contributor to pick this up.

[2022-04-25 19:29] timabbott commented on #21910
I have not heard of a similar issue, so it's likely something specific to your installation.

Which server log files did you check? In any case, please stop by "production help" in chat.zulip.org so that we can investigate with you.

[2022-04-25 19:50] alya commented on #14490
Just when they are enabled, since the `+` also offers a way to subscribe to streams. It should take them directly to the "All streams" view, like we do more generally for users who aren't allowed to create streams.

I think we can keep it simple an just condition it on the web-public streams enabled setting. In general, we don't currently check whether the user actually has any streams they can ad

[2022-04-25 19:55] raghavluthra20 commented on #21767
@zulipbot claim

[2022-04-25 20:54] jerrybb commented on #21910
I was watching all *.log files in /var/log/zulip for any event message (tail -f *.log). I'll stop by chat.zulip.org.

[2022-04-25 22:49] NerdyLucifer commented on #21913
@zulipbot claim

[2022-04-25 23:16] #21646 closed

[2022-04-26 00:35] #21432 closed

[2022-04-26 01:01] #21140 closed

[2022-04-26 04:51] timabbott commented on #21266
This is connected to https://github.com/zulip/zulip/pull/21740, which we merged earlier this week; reading that will be a good resource for seeing how to do this. (And of course https://zulip.readthedocs.io/en/latest/subsystems/schema-migrations.html is the basic background for doing the migration part of this).

[2022-04-26 04:57] timabbott commented on #6251
I'm going to close this, since I think I haven't seen this exception in years -- so my guess is changes in upstream Puppet fixed the upstream bug referenced here.

[2022-04-26 04:57] #6251 closed

[2022-04-26 05:07] timabbott commented on #19596
That error email does indeed seem pretty messy for what is fundamentally a networking issue connecting to the [mobile push notifications service](https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html). The code path is here:

[code]

And my guess is that we're somewhere raising an exception or doing a `logging.error` type call without passing a proper stack trace. We do

[2022-04-26 05:58] alya commented on #21674
Thanks! Yeah, I don't think we have short-term plans to solve the general problem, but anyone working on this should also consider fixing #12947 and #16821.

[2022-04-26 06:03] alya opened #21917 "Support some Markdown in polls"
At present, we do not support Markdown in polls. Even if we don't solve the general issue, there are specific Markdown features that would be especially helpful. This issue compiles issues filed for individual Markdown feature requests for polls, so that we can track and prioritize them in one place.

Features to support in order of priority:

- [ ] #16821
- [ ] #12947
- [ ] #21674

Please feel fr

[2022-04-26 06:19] alya commented on #21843
@giftcup Please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

If you need help, you can post a question in #frontend on [c

[2022-04-26 06:28] alya commented on #21805
Oops, I forgot about that PR -- thanks for noticing this issue, @m-e-l-u-h-a-n !

I guess next time we should try to be more careful to file an issue if a PR doesn't get merged right away, so that we don't lose track of things. :)

[2022-04-26 06:47] alya commented on #19770
@Akanksha2403 you have to follow the precise wording in the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) for Zulipbot to work. :)

Also, please keep in mind the following guideline:

Could you start by posting a brief description of your planned approach for this issue? Thanks!

[2022-04-26 07:51] alya commented on #19017
Thanks for the feedback @process0 !

We're currently working on #21216, and also planning on trying #21217. I'd be interested to hear if folks are still confused after those changes.

[2022-04-26 09:15] akanakis commented on #21776
I'm still working on this.

[2022-04-26 10:13] sahil839 commented on #14490
I generally use "+" to go to the streams overlay. Guest users may want to go to streams overlay to change the notification settings, seeing who is subscribed to the streams, even when public streams are not enabled and they are not allowed to subscribe/create stream themselves. So, in that case isn't showing "+" helpful?

[2022-04-26 11:01] sahil839 commented on #14490
Also for this point -

Do we want to allow guest to subscribe in case where stream is web-public but the `Allow creating web-public streams (visible to anyone on the Internet)` realm setting is off and thus web-public streams are disabled in the organization?

[2022-04-26 16:14] aparna-bhatt commented on #21785
@alya @timabbott @raghavluthra20 I have made a PR regarding this issue can you please review it.

[2022-04-26 16:34] timabbott commented on #18121
Looking at using CLDR, one problem is that it does not distinguish between things that are potential aliases for the name and things that are potential search keywords for the item. Here's a section of body parts:

![image](https://user-images.githubusercontent.com/2746074/165348315-c836d01c-1a39-4d89-8863-cf4f318ea678.png)

Notice how "body", "accessibility", "prosthetic", etc. each appear with m

[2022-04-26 17:25] Lotiun commented on #21645
@zulipbot claim

[2022-04-26 18:11] timabbott commented on #19260
This was fixed in https://github.com/zulip/zulip/issues/20289.

[2022-04-26 19:26] cognusion commented on #21160
@zulipbot claim

[2022-04-26 19:32] andersk commented on #18121
Part of what I’ve proposed above is that aliases will not be part of the data model.

My claim is that whatever value might exist in a system that communicates alias choices along with emoji is outweighed by its unmaintainability.

Other systems don’t treat emoji that way. An emoji is the union of all of its meanings, just like a word is the union of all of its meanings; everybody in a conversatio

[2022-04-26 20:41] JackBauer78 commented on #21903
In case someone has the same problem, I just opened the port in the firewalls from the front server to the PostgreSQL one because I forgot to do it.
@timabbott and others helped me greatly with the other problems I encountered to launch the app !
Thanks !

[2022-04-26 20:41] #21903 closed

[2022-04-26 23:29] #21692 closed

[2022-04-26 23:45] timabbott opened #21921 "Displayed duplicate of a just-sent message when switching views races with message confirmation"
I experienced a duplicate message bug, which I'm confident is a webapp frontend bug (as I was able to confirm the message ID was the same for both copies).

See https://chat.zulip.org/#narrow/stream/6-frontend/topic/duplicate.20message/near/1374032 for a detailed analysis of what I think is going on here.

This is a project that is mostly spelunking the codebase; so while it may be accessible to f

[2022-04-27 00:28] timabbott commented on #21889
That sgtm.

[2022-04-27 01:00] #21211 closed

[2022-04-27 01:12] asah opened #21925 "support concurrent backend testing for generate_emails"
A couple of backend unittests are failing when executed concurrently, and it seems to be related to generating emails.

The [CZO](https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/parallel.20testing.20on.2064.20core.20node) has a by @timabbott has a reasonable hypothesis about what might be happening. @andersk reduced the symptoms to a very simple test case:

[code]

As I investigat

[2022-04-27 01:13] asah commented on #21925
@zulipbot claim

[2022-04-27 02:50] manila commented on #19821
Since this is still being discussed in terms of what the UX design should be I am removing myself from this issue in order to claim a different issue

[2022-04-27 02:50] manila commented on #19821
@zulipbot abandon

[2022-04-27 06:32] alya commented on #21875
@ebecaf Please drop by the [#production help](https://chat.zulip.org/#narrow/stream/31-production-help) stream in the [Zulip development community](https://zulip.com/development-community/) to get help with your question.

[2022-04-27 06:32] #21875 closed

[2022-04-27 06:55] alya commented on #10208
Closing this issue in favor of the specific plan laid out in #21285, with an in-progress PR (#https://github.com/zulip/zulip/pull/20072).

[2022-04-27 06:55] #10208 closed

[2022-04-27 07:00] manila commented on #21896
@zulipbot claim

[2022-04-27 07:16] manila commented on #21896
I'd like to work on this issue if possible (my other issue is pending further discussion). There are two considerations that seem important when solving this:

1. Private Messages are allowed for bots when PM's are disabled org wide and thus shouldn't be stopped
2. Private Messages to other users should be stopped early when PM's are disabled in the org and so we should receive an error as soon as

[2022-04-27 10:01] aleksanb commented on #1739
We use SlackBot reminders that post to a channel where all members of that channel can see the message.
We're partially using Slack and mainly Zulip, but we have a ton of automated reminders that remind us to do stuff, and i'd love to have those on Zulip, as currently you have to hang on both slack (to get reminders) and zulip (to discuss actions arising from those reminders).

There's no plugin i

[2022-04-27 10:58] tushar-corbic commented on #2275
@timabbott  claim

[2022-04-27 10:59] tushar-corbic commented on #2275
@zulipbot  claim

[2022-04-27 18:31] sahil839 commented on #14490
Basically, as per the server code for checking access to stream at various places, we just allow guests access to stream if it is web-public without actually checking the realm settings.

[2022-04-27 19:04] timabbott commented on #14490
Yeah, let's discuss that last question on chat.zulip.org; I think it's somewhat complicated and would benefit from extra attention.

[2022-04-27 19:08] #21784 closed

[2022-04-27 19:09] timabbott commented on #21784
@Zimmi48 there may be some very subtle impact for users that will be fixed once the fix is deployed; but after the migration in this fix is applied, there should be continuing impact beyond the existing notifications being confusion.

[2022-04-27 19:54] timabbott commented on #21224
Their response suggests the right plan might be to just rewrite this integration using a different API?

[2022-04-27 19:54] xeruf opened #21930 "Custom nginx configuration"
To allow iframing zulip into our hub, I added a `add_header Content-Security-Policy` statement to zulip - first to `/etc/nginx/sites-available/zulip-enterprise`, but that was overriden with the update, now I used `/etc/nginx/zulip-include/headers`.
Is this the proper place for that? Is there a file for overrides?

[2022-04-27 21:59] ebecaf opened #21932 "Zoom requires 'host' to start meeting?"
I followed the docs here: https://zulip.readthedocs.io/en/stable/production/video-calls.html

I added an app on Zoom and the I can create a Zoom link in Zulip chats.

However, when the Zoom is started it is always displays "Please wait for the host to start the meeting".

As I understand it, Zoom is supposed to use the first person who clicks the link, not the Zoom app creator.

So currently it me

[2022-04-27 22:44] tanyasingh7 commented on #21713
@zulipbot claim

[2022-04-27 23:44] #19861 closed

[2022-04-28 03:38] chadlwilson commented on #21224
GoCD contributor here. I am relatively new to the GoCD project (user for many years, occasional plugin dev for a few, but adhoc contributor/maintainer on GoCD itself for last 9 months or so) so don't have all the history back through here from a dev perspective - but as I mentioned in my comment at https://github.com/gocd/gocd/issues/10379#issuecomment-1111137009 I'm a bit confused as to how this

[2022-04-28 06:36] alya opened #21941 "Change wording on "Login required" modal for logged out users"
Following up on #21920 (or @laurynmm 's replacement PR), whenever possible, we should use the term "public access" rather than "web-public stream" when communicating with logged out users. We should therefore change the text of the "Login required" modal.

- **Current**: Since you are not logged in, you can only view messages in [web-public streams](/help/stream-permissions).
- **New**: Since you

[2022-04-28 17:16] tanyasingh7 commented on #21214
@zulipbot claim

[2022-04-28 17:24] tanyasingh7 commented on #21680
@zulipbot claim

[2022-04-28 17:29] tanyasingh7 commented on #21680
Hi @alya, would I be able to claim this issue? I have submitted a PR for my other claimed issue and I would love to continue making contributions

[2022-04-28 18:05] carlokok opened #21944 "slack compatible incoming webhook & attachment events"
Azure Devops sends slack incoming event as as attachment:

[code]
returns 200 ok:
[code]

However doesn't post anything.

On chat Tim Abbott suspected zulip doesn't handle the Slack attachment event type yet.

[2022-04-28 19:28] #21941 closed

[2022-04-28 19:33] timabbott opened #21946 "Simplify process for adding redirects for /help/ pages"
We currently have a bunch of hand-coded `RedirectView`s inside `zproject/urls.py`. These are annoying to manage, in that one has to do something with tests, because our test system requires that every URL be tested.

We have various awkward things we do to work around this, e.g., bd2dc7358b276e6aaf49dd3fbec79cf045a3f912.

What we should actually do is just have a file like `zerver/lib/documentatio

[2022-04-28 19:36] #21690 closed

[2022-04-28 19:53] #21643 closed

[2022-04-28 20:38] alya opened #21947 "Update "Configure notification bot" help center page"
The list of when the notification bot sends messages on `/help/configure-notification-bot` is incomplete. We should fix this.

[2022-04-28 20:38] alya commented on #21947
@laurynmm not at all urgent, but something to add to your to-do list.

[2022-04-28 21:16] timabbott opened #21948 "Update "notifications language" setting to use the "Default language" picker modal"
The settings UI for picking the "notifications language" (previously "Default language for new users"; see #20866) should use the much nicer language picker component that we have for an individual user's language setting (i.e. this, rather than the simple dropdown).

![image](https://user-images.githubusercontent.com/2746074/165846747-f381f28d-081d-4eb1-978c-6dc967156acc.png)

I haven't looked at

[2022-04-28 21:23] timabbott opened #21949 "Clean up documentation around organization notifications language"
After merging #20866, we have a bunch of follow-up cleanup needed:

* [x] We should fix the /help/configure-notification-bot article to cover all the notifications that it sends, maybe not exhaustively but at least in terms of their categories (E.g. notifications when stream settings are changed). Also, we should think about whether it's be better to make the "organization notifications language"

[2022-04-28 21:45] #19056 closed

[2022-04-28 23:28] jni commented on #21690
Thank you so much, folks!!! :pray:

[2022-04-28 23:44] nicopace opened #21953 "search for topics started by a certain user"
Hi,

I specifically want to search for the topics started by me, to keep track of the conversations that I stared.
The most specific use-case is to be able to know what topics I started that had no interaction from the rest of the team, to be able to invite others to the conversation, add information or check if they are still relevant. But this is something I can achieve manually with the search

[2022-04-29 03:39] Arch0125 commented on #21680
@zulipbot claim

[2022-04-29 05:03] barrysnow1 commented on #20618
@zulipbot Yes I am still working on it. I found the solution. Just need to run some tests.

[2022-04-29 10:35] Zimmi48 commented on #21784
Sorry, I didn't understand what you mean here.

[2022-04-29 13:14] codetalker7 commented on #21838
Hi. I'd love to work on this issue. I've recreated this scenario in my local development environment, but I need some help to locate where this feature is implemented.

1) I tried looking at the console to see where requests are sent, but still it doesn't help me to locate the code.
2) In general, how is the code for a particular feature normally located? Also, is it possible to run the server in

[2022-04-29 15:38] #21713 closed

[2022-04-29 17:09] alya opened #21959 "Document "Go to conversation" button"
We should add a help center page to document the "Go to conversation" button in the compose box.

- Page title: Mastering the compose box
- Sidebar location: Just below "Open the compose box"

In addition to explaining the mechanics of the button/keyboard shortcut, we should also explain the overall concept that Zulip lets you compose to a different conversation from the one you're viewing, and th

[2022-04-29 17:10] alya commented on #21959
@laurynmm could you add this one to your todo list? Not super urgent, but more timely than the settings documentation issues I've been tagging you on, as this documents a new highly visible feature.

[2022-04-29 17:50] alya opened #21961 "Add language to gear menu for logged out users"
Logged out users should be able to set their language via the gear menu. The option can be shown just below light/dark theme.

[2022-04-29 17:51] alya commented on #21961
@amanagr I recall discussing this, but I'm not finding where that was.

[2022-04-29 18:12] timabbott opened #21962 "Offer narrow to compose target button when composing a private message"
In #19590, we added support for renarrowing to the compose box target (like the `Ctrl+.` hotkey) via a button in the compose box.

This issue is to track that we should add this for when you're composing a private message too.

Not tagging as "help wanted" since we're blocked on figuring out a visual design for where the button goes.

[Design discussion on CZO](https://chat.zulip.org/#narrow/strea

[2022-04-29 18:46] timabbott opened #21963 "Clicking MOVED/EDITED to see message edit history fails for spectators"
You get this result, underneath the "Login to access" modal:

![image](https://user-images.githubusercontent.com/2746074/166004273-55583445-e4df-49bd-b6b3-a8e1bc62df39.png)

Presumably this happens because we only do the API request to get message edit history after opening the modal.

I think the simplest fix is probably to make the click handler in question pop the "Login to access" modal direct

[2022-04-29 18:56] thedeveloperr commented on #9165
@alya I would love to take another try at this one. I will explore the idea @gnprice mentioned to write a text parser in Postgres. I will take a look at https://github.com/zulip/tsearch_extras for reference as this is first time I would be doing this for Postgres. I will open a chat.zulip.org topic for more technical discussion on this one.

[2022-04-29 19:11] thedeveloperr commented on #9165
@gnprice Check Anders message on `tsearch_extras ` https://chat.zulip.org/#narrow/stream/3-backend/topic/Searching.20parts.20of.20url.20.239165/near/996827. So from message it looks like  `tsearch_extras ` because it being a C postgres extension. Do we want to go this route again ?

[2022-04-29 19:19] asah commented on #21925
This is perfectly reproducible for me, which means it's only a matter of time - PR coming. thx @andersk

[2022-04-29 20:54] mateuszmandera commented on #21784
@Zimmi48 I believe Tim meant " there should be NO continuing impact beyond the existing notifications being confusING" (existing notifications = referring to the old stream event messages about "protected history"

[2022-04-29 21:50] ppenguin opened #21965 "Continuous error msgs: zerver.models.UserPresence.MultipleObjectsReturned: get() returned more than one UserPresence -- it returned 2!"
Since I got email sending working I'm being spammed with the following error, which appears to explain as well why user presence has been very inaccurate in my deployment:

[code]

Might be caused by the same user being logged in with multiple clients and the need for a filter in the call?

[2022-04-29 23:35] #21963 closed

[2022-04-30 07:25] fredhampton opened #21968 "Production mode customization documentation"
I have installed Zulip in production mode and I'm wondering if there is documentation on how to customize the look and feel ?

Thanks so much

[2022-04-30 12:11] Anton-4 opened #21969 "github integration: show if push was forced"
The github integration bot is really useful :heart:, I'd like to help make it even better.

The github integration currently does not inform the user if a push was forced or not, the message is the same for both cases.
We consider a force push to be an important security event and would like to be notified when one happens.

The current format in case of a force push is:
[code]
My proposed format

[2022-04-30 17:25] akanakis commented on #21776
@zulipbot claim

[2022-05-01 01:59] rebekahsnow commented on #20073
@zulipbot claim

[2022-05-01 08:04] manila commented on #21896
@zulipbot claim

[2022-05-01 14:33] mariosmantzaris commented on #21841
@zulipbot claim

[2022-05-01 15:28] raghavluthra20 commented on #21767
@zulipbot abandon

[2022-05-01 16:08] #21968 closed

[2022-05-01 18:52] terpimost opened #21973 "UI redesign: left side bar/panel (streams/topics/narrowers)"
As part of the redesign we want to update styles and tune sizing of elements of the left sidebar.
This might be a big task, which could be decomposed to multiple issues. @alya could you please review and help with that?

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20left.20sidebar/near/1437382)

Just examples of the light and dark theme:
![image](https:

[2022-05-02 03:27] rebekahsnow commented on #19797
@zulipbot claim

[2022-05-02 03:29] rebekahsnow commented on #20073
@zulipbot abandon

[2022-05-02 03:30] rebekahsnow commented on #19797
@zulipbot claim

I abandoned a project I am waiting for a PR approval on so I can work on this.

[2022-05-02 07:21] sahil839 commented on #21739
Already opened #21837

[2022-05-02 08:24] colorninja opened #21976 "Massive spike in PutObject requests in S3 after 5.0 upgrade"
I've upgraded from Zulip 4.11 to Zulip 5.0 on April 1st and since then there is a massive spike in PutObject requests in S3. I wasn't able to find an issue in this repository, so opening this.

![image](https://user-images.githubusercontent.com/32983864/166208281-0ef21bab-fa4f-48d4-84d6-4c753b38b83c.png)

![image](https://user-images.githubusercontent.com/32983864/166208180-0fb512fe-1289-4edf-b8c6

[2022-05-02 09:49] skinkie opened #21978 "Maximum upload filesize validation in the browser"
At this moment the upload may fail being it too big. Having a check prior to upload improves the user expectation.

https://stackoverflow.com/questions/3717793/javascript-file-upload-size-validation

[2022-05-02 09:54] Alizter commented on #21976
I think I am experiencing a similar problem, however I don't have any technical debugging knowledge to contribute. When clicking on a message to focus, there is a large lag spike. Specifically for the [Coq Zulip](https://coq.zulipchat.com/). It has become unusable unfortunately. Please let me know if I can debug this further.

[2022-05-02 11:30] Alizter opened #21979 "Huge performance issues"
Hi,

I am experiencing huge performance issues with Zulip. When clicking on a message in [coq zulip](https://coq.zulipchat.com/) for instance, there is a huge delay making the entire application unusable (web app).

Here is a profiled session with the chome dev tools:
[Profile-20220502T123110.zip](https://github.com/zulip/zulip/files/8602495/Profile-20220502T123110.zip)

[2022-05-02 18:34] aparna-bhatt commented on #21785
@zulipbot claim

[2022-05-02 19:32] aparna-bhatt commented on #21785
@timabbott I have made another PR #21983 please see to it and review it.

[2022-05-03 00:41] #8913 closed

[2022-05-03 06:08] amanagr commented on #21948
@sahil839 I already did some work on it as part of #21977, let me finish this.

[2022-05-03 10:04] amanagr commented on #21979
It maybe due to `const $visible_textarea = $("#compose-textarea:visible, #preview_message_area:visible");` in resize.js. Working on a fix. Thanks for reporting this @Alizter

[2022-05-03 12:58] tanyasingh7 commented on #21863
@zulipbot claim

[2022-05-03 14:23] mariosmantzaris commented on #21841
@zulipbot abandon

[2022-05-03 14:23] mariosmantzaris commented on #21838
@zulipbot claim

[2022-05-03 14:33] IvanToy commented on #21838
@zulipbot claim

[2022-05-03 14:44] zulipmonkey opened #21987 "Exporting to Slack"
Is there a way to export all the messages in a Zulip thread's history to a slack channel?

[2022-05-03 15:52] #21925 closed

[2022-05-03 15:52] IvanToy commented on #21978
Hi, I would like to work in this.

[2022-05-03 16:08] timabbott commented on #21987
I'm not aware of a tool of this form. https://slack.com/help/articles/204897248-Guide-to-Slack-import-and-export-tools does not document an interface for doing such an import from a third-party app.

I'd recommend you ask Slack support. It's probably in some sense possible for the Zulip community to write such a tool, in that Slack has a tool for importing Slack exports, and theoretically it shoul

[2022-05-03 16:08] #21987 closed

[2022-05-03 16:10] IvanToy commented on #21978
@zulipbot claim

[2022-05-03 16:10] timabbott commented on #21978
@skinkie can you provide a screenshot to be explicit?

@IvanToy you're welcome to work on this; see `static/js/upload.js`. We're using a third-party library, so most likely we need to just configure that library, rather than making changes ourselves.

[2022-05-03 16:14] timabbott commented on #21976
@Alizter your request is https://github.com/zulip/zulip/issues/21979, which I'm confident is unrelated. (This is a backend issue, vs. a frontend performance issue).

@colorninja I suspect what you're seeing might be https://github.com/zulip/zulip/pull/21982; @alexmv can you confirm? I expect that to be included in the upcoming 5.2 bug fix release, but you can verify the fix today by using `upgrade

[2022-05-03 16:15] timabbott commented on #21969
I think probably the :boom: is unnecessary, but we'd be happy to merge a patch that did this!

https://zulip.com/api/incoming-webhooks-overview should help you find the code.

[2022-05-03 16:19] #21979 closed

[2022-05-03 16:19] alexmv commented on #21976
I strongly suspect that to be the wal-g process, yes -- are you on PostgreSQL 10 or 11?

If so, the other quick fix is to [upgrade PostgreSQL](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-postgresql) to 12 or above.

[2022-05-03 16:23] timabbott commented on #21979
@Alizter thanks for the report! We really appreciate it.

[2022-05-03 16:39] alexmv commented on #13262
Closing, as #14584 addressed this.

[2022-05-03 16:39] #13262 closed

[2022-05-03 17:02] IvanToy commented on #21978
@timabbott `page_params.max_file_upload_size_mib` is  passed in the `upload_files` function in `static/js/upload.js`. Maybe
it would be good idea just to add simple file size check by adding something like this  `page_params.max_file_upload_size_mib > max_file_zise`  ?

[2022-05-03 17:02] skinkie commented on #21978
![image](https://user-images.githubusercontent.com/502394/166503026-d4eacaeb-5ead-4378-aff6-1932774539d0.png)

I don't know how I can make something more explicit not working ;-)

[2022-05-03 17:59] Anton-4 commented on #21969
Thanks for responding @timabbott :)
Without the :boom: I believe it is easy to miss that the push was forced, especially when there are many push messages.
When a "bad" force push happens I think it is vital that all developers are aware of this as fast as possible and that actions to fix this are started as fast as possible.

For these reasons, it is necessary for the message to stand out.

[2022-05-03 19:46] timabbott commented on #21969
We can play with it -- I wouldn't put 2 copies of :boom:, at least. It's possible a single copy at the start of the line would be appropriate. In any case, it'll be easier to play with when we have screenshots, which the development environment makes easy to generate. It seems possible that just the longer link text of "force pushed" might already stand out, which had been what I was thinking.

[2022-05-03 19:51] timabbott commented on #21978
@skinkie thanks -- of course I understand it's not working, but it's helpful for others in the community to have a screenshot for thinking about prioritizing the issue, etc.

@IvanToy well I'm not sure whether the size would be obtained as the `files` variable in your example, but yes from a UI standpoint we want to do a `compose_validate.js` style error if the file size is larger than that cutoff

[2022-05-03 23:48] IvanToy commented on #21978
@timabbott there is a size property on a value that comes from the input tag whose type is set to file. By accessing the size property you can get the size of the file.

[2022-05-04 00:28] IvanToy commented on #21978
<img width="769" alt="Screen Shot 2022-05-03 at 8 27 40 PM" src="https://user-images.githubusercontent.com/68671067/166608056-b20f0f50-d187-4bfc-8a50-65acc550c95f.png">
This is what I have done so far.

[2022-05-04 10:33] eleftheriakaminari commented on #21863
Hello, can I contribute to this issue?

[2022-05-04 11:57] colorninja commented on #21976
I think I'm running PostgreSQL 12. A quick `sudo apt list --installed` shows:
[code]

I will try updating tonight (when no-one is using the Zulip) and report back.

[2022-05-04 13:06] pavlopoulos commented on #21800
@zulipbot claim

[2022-05-04 15:20] joeflack4 commented on #12309
It is critical that this is added, I think, in order for Zulip to be a successful and widely used.

I already have Slack and MS Teams open full time. I'm not going to keep Zulip open on my computer. I only want to know when someone either (a) @'s me, or (b) replies to a thread I made. I think there are many, many users who are in my same boat and share this preference.

[2022-05-04 17:13] asah commented on #12309
Can you open a discussion thread on chat.zulip.com?  I might be interested
in working on this, but we should discuss how this differs from the
existing behavior. Thanks.

On Wed, May 4, 2022, 11:21 AM Joe Flack ***@***.***> wrote:

[2022-05-04 18:50] alexmv commented on #21976
OK, PostgreSQL 12 isn't subject to that bug -- I think this is technically expected.

I think what you're seeing is that in Zulip 4.x and below, enabling S3 backups would get you _daily_ backups, not [streaming backups](https://www.postgresql.org/docs/12/continuous-archiving.html); the only way to get streaming backups was to half-enable replication.  Zulip 5.x makes all sites with backups configu

[2022-05-04 18:59] jai2201 commented on #20870
@zulipbot  claim

[2022-05-04 20:55] alexmv commented on #19559
We've addressed the rendering of messages which are empty; I'm going to close this and split a new issue for preventing the creation of such messages.

[2022-05-04 20:55] #19559 closed

[2022-05-04 20:56] alexmv opened #22001 "Prevent sending messages which render as empty"
#19559 addressed the rendering of messages which are empty; however, it is still possible to send such messages.

Specifically, the empty fence:
[code]
...renders as an empty message.

We should prevent sending such messages, with a pop-up similar to when you try to send a truly empty message.

[2022-05-05 00:12] #21312 closed

[2022-05-05 00:36] timabbott opened #22002 "Improve visuals of the dialog_widget disabled buttons while a loading spinner is showing"
Following #21864, we now show a loading indicator inside the "Deactivate user" modal and several similar ones. I think the visuals we have for this are fairly unattractive and distracting, with a large grey disabled style on both the Cancel and "Save" buttons (with the latter replaced with a loading spinner). We should figure out a much less distracting disabled style, designed for the context tha

[2022-05-05 00:55] #21880 closed

[2022-05-05 08:09] colorninja commented on #21976
It was unexpected, which made me think it's a misconfiguration or a bug, so I re-checked all the settings relating to S3. The cost is insignificant because I am hosting a server for ~20 users. However, it might be an issue for instances that generate more data, so it can be sensible to add a flag.

[2022-05-05 14:31] zulipmonkey commented on #21987
Yes, this would actually be about exporting the entire organization! Reached out to Slack and they said:

"If it is possible to export from Zulip in different formats you may be able to get a CSV file containing the data you need for the last month or more. If you can get this, our CSV import guide will help for bringing this data into your Slack workspace: https://slack.com/intl/en-gb/help/articl

[2022-05-05 16:06] timabbott commented on #21965
Please stop by chat.zulip.org for help. This is most likely caused by upgrading the host operating system to a new version of libc with different collation that corrupts Postgres database indexes. The correct upgrade process is documented here:

https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system

`/home/zulip/deployments/current/scripts/setup/re

[2022-05-05 21:03] #21888 closed

[2022-05-05 21:11] timabbott commented on #21976
I'm not entirely sure I see a clear motivation when someone would want to turn off streaming backups; I wouldn't expect them to materially increase the storage used. So I'd be tempted to just make sure our backups documentation is clear about the model, and only add a setting if someone asks who intends to turn it on.

[2022-05-05 21:13] timabbott commented on #21953
@nicopace thanks for the feedback and the kind words! I think the plan of ours most likely to achieve your goals is support for explicitly following topics (and having an option to automatically follow topics you start, or just those that you post to).

[2022-05-05 21:18] timabbott commented on #21932
@ebecaf thanks for the report. Everyone who joins the meeting should be a host. I think the most likely explanation is you have enabled a Zoom organization-level setting that controls this.

I'm not sure how that detail of Zoom's integrations system works; it's reasonably likely that there's some toggle you need to do in the Zoom App's configuration, but I'm not sure which. You might try asking Zo

[2022-05-05 21:23] timabbott commented on #21930
I think the right way to add an override is to add a configuration file in this directory:

`include /etc/nginx/zulip-include/app.d/*.conf;`

We should document this better; @alexmv FYI.

May I ask what specific content-security-policy you're looking to add?

[2022-05-06 00:12] #19765 closed

[2022-05-06 15:33] joeflack4 commented on #12309
@asah Sure thing. I couldn't make a thread in the `chat.fhir.org` channel of http://chat.fhir.org, so I put in `General`: https://chat.zulip.org/#narrow/stream/2-general/topic/Feature.20request.3A.20Notifications.20on.20thread.20response/near/1378980

There's not too much else to add here. I added this text to my previous comment, which is the crux of the issue.

Of course, when you respond on Zul

[2022-05-06 18:20] anurastogiji commented on #21281
@zulipbot claim

[2022-05-07 13:09] aadiljaleel commented on #21265
@zulipbot claim

[2022-05-07 19:22] ppenguin commented on #21965
@timabbott Thanks for the info! That sounds like a fair suspicion, though it also begs the question whether the query could be more fault-tolerant (in line with the suggested solution in the interwebs for similar `django` errors, which simply filters one record if more are returned for a query that expects only one).

I made a quick hack [here](https://github.com/ppenguin/zulip/compare/c52d99a6cd2

[2022-05-07 22:06] terpimost opened #22020 "Open Organizations landing page"
@alya asked me to provide a design for the Open Organizations landing page for the Zulip website. She also told me that probably @amanagr is the right person to implement this (if its not so, please reassign the task)

We don't introduce any new design to the Zulip website this time and would like to reuse already available styles and elements.
S lets take [integrations](https://zulip.com/integrat

[2022-05-08 00:44] terpimost opened #22021 "UI redesign: Recipient header bar (topic title bar)"
Checklist:

- [x] Stream message header bar colors
- [x] DM header bar colors
- [ ] Update icons
- [x] Date styling in header bar

---

As part of the redesign we want to update styles and tune sizing of elements of the recipient bar.
This might be a big task, which could be decomposed to multiple issues.
<img width="915" alt="image" src="https://user-images.githubusercontent.com/1903309/167274279

[2022-05-08 04:20] terpimost opened #22022 "UI redesign: message typography, including mention pills"
The following changes described in this issue can be implemented without waiting on larger/adjustable font size work.

- [ ] 1. For the light theme text color is `color: #262626;`
- [x] 2. Text color for the dark theme is `hsla(0, 0%, 100%, 0.75)`
- [x] 2. Mention pill colors
- [ ] 3. Code spans:
+ `border: 1px solid rgba(0, 0, 45, 0.15)` and in dark theme is `rgba(255, 255, 255, 0.1)`
+ backgroun

[2022-05-09 07:09] bmalynovytch commented on #10970
PR #21212 seems to be stuck.
Any ETA @sahil839 @alya ?
Thx 🙂

[2022-05-09 10:08] grantcarthew opened #22025 "Invites are broken"
I upgraded from Zulip v4.5 to v5.2 yesterday and this error has shown up.

Any help is appreciated. Thanks.

![image](https://user-images.githubusercontent.com/572141/167387773-0c539ca3-3fe9-4cf0-95fe-9b9430cff118.png)

![image](https://user-images.githubusercontent.com/572141/167388042-c31489d7-0e0a-442e-8cc1-03049331d92a.png)

[code]
[code]

[2022-05-09 13:40] lzmartinico opened #22026 "Warn users about wrong URL syntax in markdown"
It's quite common for users to get mixed up with the URL syntax in markdown, and when someone puts the URL in the square brackets and the description in the parenthesis this can result in a non-clickable link.
It would be nice if the compose editor warned users about using the wrong syntax; this wouldn't be detectable in all cases, but there are some simple heuristics such as the description inclu

[2022-05-09 13:54] flaviozluca opened #22027 "Feature request: logo size"
Dear friends,

Here, where you define Zulip logos, in the organization settings, it would be nice to inform the size of the image (height/width).

Thanks.

![image](https://user-images.githubusercontent.com/44004645/167425585-86c728ad-cefa-4e23-a89d-87ce4d8d81b7.png)

[2022-05-09 18:03] laurynmm commented on #21949
Still actively working on it.

[2022-05-09 19:41] alexmv commented on #21965
Your hack is not safe and will lead to weird and inconsistent results.

There isn't a way to reasonably make the query more fault-tolerant -- there is already a database-level unique index on the `user_profile` and `client` columns:
https://github.com/zulip/zulip/blob/9e42cf435bf94fda4cb8df08e8c00c214479e6b7/zerver/models.py#L3877-L3892

The error you're seeing is because your database is corrupte

[2022-05-09 20:19] pygy commented on #20934
I'm one of those users who find having that thing moving around grating.

Quoting @andersk

That's far too much work for one little widget (so ephemeral it's not even material, just a shadow).

The first three functions would best be served by using a fading background, or a fading indicator in the margin, like Gitter does.

For the keyboard focus, having a fat left "border" works well and is far

[2022-05-10 00:14] alexmv commented on #21930
https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#nginx-configuration-changes is our existing documentation about extending nginx's configuration, and it talks about `/etc/nginx/zulip-include/app.d/*.conf` and `etc/nginx/conf.d/*.conf`.  I added a couple more sentences in #22029.

@xeruf, adding the file works for me to add headers:
[code]

The problem you're actually runnin

[2022-05-10 00:54] alexmv commented on #21930
A quick test of [`ngx_headers_more`](https://github.com/openresty/headers-more-nginx-module#description) finds that its [`more_clear_headers`](https://github.com/openresty/headers-more-nginx-module#more_clear_headers) doesn't suffice to clear the header, sadly -- presumably because it's only at the `server` level, not the `location` level, so it can't override headers in the `location`s.

[2022-05-10 06:11] chenghxy opened #22031 "Request interface：/json/invites，Cause 500 Error"
[code]

[2022-05-10 10:21] xeruf commented on #21930
Interestingly, the `DENY` never produced issues for me. I just now created `/etc/nginx/zulip-include/app.d/framing.conf` and it did work, after all, I screwed up a little last time ^^

[2022-05-10 15:03] Attack44 commented on #20585
Our Active Directory servers only accept an encrypted connection.
Here is an error message from our AD server when I try to access Active Directory from Zulip.

Internal event: An LDAP over Secure Sockets Layer (SSL) connection could not be established with a client.
Client network address:
192.168.0.149:54702
Protocol:
TCP

Additional Data
Error value:
2148074289 The client and server cannot comm

[2022-05-10 15:47] amanagr commented on #22020
I see we removed the search bar that is in integrations. It would still be useful here, right?

[2022-05-10 17:07] ailyas19776 commented on #21410
@zulipbot claim

[2022-05-10 18:38] alexmv commented on #21930
Hm, OK!  I'll close this as resolved, then, and #22030 will help improve the docs on this slightly.

[2022-05-10 18:38] #21930 closed

[2022-05-10 20:26] v3ss0n commented on #21648
how about without certbot

[2022-05-10 20:37] timabbott opened #22033 "Deduplicate "edit bot" modal"
It appears we have 20px of bottom margin on this form for only one of the inputs, which looks bad (both the spacing, and bottoms of characters being cut off). We should make its styling match the settings page g"Edit user" modal, which doesn't have this problem.

![image](https://user-images.githubusercontent.com/2746074/167717099-3af22372-4729-4a64-ba12-32315d128c21.png)

I think we should just a

[2022-05-10 20:42] asah commented on #20047
y I'm working on it, thx for the nudge!  I got buried with 8 days of jury
duty followed by some emergency projects.

On Tue, May 10, 2022 at 3:11 PM zulipbot ***@***.***> wrote:

[2022-05-10 21:09] #21105 closed

[2022-05-10 21:26] alexmv commented on #21648
You'll need to be more specific, @v3ss0n.  The script in question (to fix a cerbot setting) doesn't run if certbot is not currently in use.  You're still able to use self-signed or custom certificates if you wish -- this script is unnecessary in those cases.

[2022-05-10 21:52] v3ss0n opened #22034 "Upgrading 5.2 fail due to certbot renew and after several attempt , letsencrypt banned my account."
I am using external nginx as proxy  where i proxy my nginx server to zulip , all went fine until this 5.2 upgrade. It tries to get certbot to renew certificates. I tried to disable it by setting http_only but its in vain.
After a few attempt letsencrypt liit reached and it ban me , barring from renewing any certificate of ohter sites too.
There is no way to skip cerbot step in upgrade ... please h

[2022-05-10 21:58] v3ss0n commented on #21648
i submit a new issue regarding that.
My case is like this :
i used to setup with certbot , but i now uses external proxy and it connects to internal Zulip servers , there are few of them.
The external server (nginx proxy manager) take cares of renewing certs.
So i setup internnal at use_http in zulip.conf.
Now i decided to upgrade and then i am having problem (even though i tried to disable in zul

[2022-05-10 22:20] alexmv commented on #22034
As a short-term fix, you can change the line in `/etc/letsencrypt/renewal/cloud.hexcode.tech.conf` from:
[code]
to:
[code]
If that file doesn't exist, whatever file does exist in `/etc/letsencrypt/renewal/`.

To make sure I understand -- your configuration is that:
1. You used to be using certbot
2. You switched to `http_only = true` and put Zulip behind a different nginx server which did your HTT

[2022-05-10 22:54] alexmv commented on #22031
The exception you're showing is from the queue worker that sends emails, not from `/json/invites` -- though it's possible that they're related.

The error you show happens when there is a problem creating the outbound connection from the server.  Are you running this server in Docker, some other sort of container, or with some sort of operating-system level firewall?

[2022-05-10 22:57] alexmv commented on #22025
Is this only immediately after creating an invitation, or does it persist if you open the list of invites again?

If the former, this is #21306.

[2022-05-10 23:11] alexmv commented on #21691
This was fixed via 61365fbe21e907bd25dc233ee6fcf68e3638af9a.

[2022-05-10 23:11] #21691 closed

[2022-05-11 03:20] yuroitaki commented on #21525
@timabbott @andersk I believe this issue shouldn't be closed yet because https://github.com/zulip/zulip/pull/21581 only finished migrating the webhook D - G (up till gitlab), there're still H - Z webhooks to be migrated.

[2022-05-11 06:40] medhatiwari commented on #21757
Already made a PR #21757

[2022-05-11 10:04] LaniJ commented on #21714
I'm done with this issue.
Waiting for the PR to get a last review so that it can be merged.
cc @timabbott

[2022-05-11 20:57] manila commented on #21896
Hello! PR #21971 is ready for review which may close this issue, as I understand it I would need to un-assign myself on this issue to formally claim another?

There could still be some discussion around this issue so I'll opt to stay on this one for now

[2022-05-11 23:56] yevon commented on #12063
I didn't realize that heavy zulip memory consumption until I was reaching server max ram. Mine is consuming about 3gb of ram at any time even idle. It seems too much just for a "chat" application. Not even gitlab consumes more than 1.5gb, and gitlab is quite heavy. It should dynamically allocate more processes based on user load.

[2022-05-12 12:57] flaviozluca commented on #20847
Thanks, Alya. No more luck on it? Other apps accept this fine, to paste images in this way, email clientes, Word/Office, etc.

Appreciate it!

[2022-05-12 19:41] joshtriplett opened #22045 "Coin flips / die rolls, with results shared in the topic/DM"
I'd love to have a command to roll a die or flip a coin, accepting dice expressions. The server would roll the die, and fill in the result like this:

User types: `/roll 2d20`
Message says: `* User rolled 2d20: 12, 17 (total 29)`

(The value of the die roll should be preserved in message history, and not re-rolled if the message is edited. If the message or the roll is deleted, or the roll express

[2022-05-12 22:39] evykassirer commented on #21716
I'm gonna take this one on :)

[2022-05-13 03:54] grantcarthew commented on #22025
Hi Alex,
At any time, if you go to Organization Settings and click Invitations, the error is there. At no time can I get a list of the invites. The invite system still works, we just can't see them.

[2022-05-13 06:44] cmprmsd commented on #21978
As a side note.
Are there plans to increase the maximum upload size? What's limiting it?

Also for single text messages that e.g. bots are allowed to send there is currently a hard limit of 10000 bytes, which makes me wonder, as I integrate several services via n8n and for example newsletters that I forward to topics often are truncated in the middle of the message.

I think there is already "show

[2022-05-13 07:46] aparna-bhatt commented on #22002
Hey, @timabbott I have removed the loading spinner and the grey disabled style on the cancel and confirm buttons.

https://user-images.githubusercontent.com/86338542/168235433-6d07f8e5-5ee3-4684-9a19-7f0a668c5a6c.mp4

I think we should keep the buttons simple and also I would like to add that the confirm button is kept on the right but usually our
natural reading is from left to right so I think t

[2022-05-13 12:17] mrtndwrd opened #22051 "Logging out of an account with an OIDC provider should redirect to the end_session_endpoint"
If you use an oauth provider to log into an application, a common practice is to call an endpoint with the OIDC provider when the user logs out. This is so the user can log in again with a different account, for example. The endpoint that needs to be called is defined in the OIDC provider's `.well-known/openid-configuration` as `end_session_endpoint`.

Example of current flow:

1. User goes to zul

[2022-05-13 15:34] AnishaSingh0118 commented on #22027
hey , @flaviozluca I am wondering where actually should we place the image's height/width? I mean right below the text where "Day logo" and "Night logo" have been written, I think that's how it should be placed, would love to hear your opinion on this.

[2022-05-13 18:01] flaviozluca commented on #22027
Dear Anisha,

Thanks a lot for your reply. I agree, I believe placing it there would be perfect. And same for the organization logo.

Will make it easier, so one doesn't have to compare with the original.

Appreciate it!!

[2022-05-13 18:15] AnishaSingh0118 commented on #22027
Thank you so much for your kind feedback.

[2022-05-13 22:22] mariosmantzaris commented on #21712
@zulipbot claim

[2022-05-14 03:42] #14769 closed

[2022-05-14 04:09] terpimost commented on #22020
@amanagr as soon as there are more than 20 organizations.

[2022-05-14 04:53] dummy26 commented on #21946
@zulipbot claim

[2022-05-14 06:23] dummy26 commented on #21946
Is this what the tests should be checking for all the redirect urls?
[code]
As in -

https://github.com/zulip/zulip/blob/0043c0b6b2d78f4ccbee4c422b7324a1690857b5/zerver/tests/test_docs.py#L189-L198

And, does `/for/companies/` require a separate `assert_in_success_response`?

Also, I'll have to remove the redirect_urls from -https://github.com/zulip/zulip/blob/0043c0b6b2d78f4ccbee4c422b7324a169085

[2022-05-14 13:19] dummy26 commented on #21266
PreregistrationUser has a `confirmation` field -
https://github.com/zulip/zulip/blob/0043c0b6b2d78f4ccbee4c422b7324a1690857b5/zerver/models.py#L2206

Confirmation has a `content_object` field -
https://github.com/zulip/zulip/blob/0043c0b6b2d78f4ccbee4c422b7324a1690857b5/confirmation/models.py#L142

To find MultiuseInvite from PreregistrationUser -
`PreregistrationUser.confirmation.content_object`

[2022-05-15 19:01] terpimost opened #22059 "UI redesign: message highlights and UI"
As part of the redesign we want to update styles messages. This issue is not about [typography ](https://github.com/zulip/zulip/issues/22022) but about all the different ways to highlight the whole message.

New design of the possible message highlights consist from such layers:

- [x] 0. theme message background (https://github.com/zulip/zulip/pull/22419)
- [x] 1. kind of message background (http

[2022-05-16 02:52] legopin opened #22062 "enter to send message repeats Chinese"
## Basic Info
Zulip Server Version: 5.2 (also reproducible on zulip cloud server)
Appears on both web and mac client V5.9.3

## Expected Behavior
When user has "Return to send" setting enabled and using ZhuYin 注音 input method, the act of pressing enter to select correct character should not send the message

## Actual Behavior
This is a regression. Previous versions of Zulip server (4.9) did not h

[2022-05-16 07:50] sahil839 commented on #22033
@zulipbot claim

[2022-05-16 07:52] sahil839 commented on #22033
@timabbott with this I think we would also need to allow non-admin bot owner to edit the bot from `/#organization/bot-list-admin` panel then. Since now only admins can edit bot from that panel.

[2022-05-16 08:06] xeruf commented on #2517
I am confused - I clearly remember commenting _somewhere_ on this subject, but I can't find anything in any repo or Zulip. So here is what I wanted to add:

By making topics in muted streams subscribe-on-demand/-on-post, Zulip can be used more like a forum, where you usually follow those topics you posted in, too.
Right now, people are overwhelmed in high-traffic streams, saying they can't keep up

[2022-05-16 08:45] alfonsrv commented on #8166
Should be a documented setting.

[2022-05-16 08:47] alfonsrv commented on #8166
This setting has no effect. Setting `WARN_NO_EMAIL = False` does not remove the banner.

Also should be documented.

[2022-05-16 20:21] alexmv opened #22066 "Soft-reactivate users on password reset emails or failed logins"
b4feb673f1da503583899a7ee1a41952240c70d2 and a8fd9eb7010d572be8129fe244729865a730a87d started soft-reactivating users when we sent them PMs, which is great for the user experience.

We should expand this to soft-reactivate users on password reset requests and "find my accounts" emails, which are other good signals that the user is about to log back in.

We could potentially consider a stronger for

[2022-05-16 20:22] alexmv commented on #22066
cc @PIG208, if you're so inclined

[2022-05-16 23:57] asah commented on #12309
@joeflack4 I haven't forgotten... just working through my queue... (not @claiming it, in case someone else wants it)

[2022-05-17 01:16] evykassirer opened #22068 "Update drafts on resolve/unresolve"
CZO discussion [here](https://chat.zulip.org/#narrow/stream/6-frontend/topic/draft.20.2B.20resolved.20topic.20name/near/1381361).

Drafts are stored with the topic name as a string, and topic names change when they're resolved to have a checkmark in the name.

When a topic is resolved or unresolved, drafts aren't updated to point to the new topic name.

The solution is to add some code beside this

[2022-05-17 01:23] alya commented on #21896
@manila yep, that's right, but please feel free to informally claim something with a comment while waiting for feedback here.

[2022-05-17 02:20] amanagr commented on #21896
@manila also note the new task at the end of issue description:

[2022-05-17 02:27] manila commented on #21896
Thank you for pointing out the updated issue description, I'll re-work my existing PR #21971 to meet these specs

[2022-05-17 13:33] aadiljaleel commented on #21265
@zulipbot I have raised a PR - waiting for someone to review it

[2022-05-17 13:34] accountforcity opened #22078 "Import from slack error"
Hi. There is some error during import from slack:
[code]
U013ACBP1SP - some slack user

Help me please.

[2022-05-17 16:32] mariosmantzaris commented on #21838
@zulipbot abandon

[2022-05-17 16:32] mariosmantzaris commented on #21712
@zulipbot claim

[2022-05-17 19:19] alya opened #22080 "Follow CommonMark rules for white space in code blocks"
In https://github.com/zulip/zulip/commit/d6716838adbdd8414de133cd0fe986e361d90902, we stripped trailing whitespace in code blocks to address #3998. However, this is inconsistent with CommonMark, and can cause problems for the user, e.g. making `diff` blocks invalid.

As [discussed on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/code.20blocks.20trim.20whitespace/near/1374857), we shoul

[2022-05-17 22:03] #22034 closed

[2022-05-17 22:17] timabbott opened #22082 "Add endpoint to get a stream by ID"
Apparently, we've never added an endpoint to get the details of a single stream by ID -- probably because most clients tend to want all the streams in a given category.

This should be `GET /streams/{stream_id}` and implemented using a combination of `Stream.get_client_data` and `access_stream_by_id`.

[2022-05-17 23:02] fredhampton opened #22083 "Disable API options on the settings/account-and-privacy page ?"
We are going to be running a self hosted Zulip instance. We have a community of non technical members. They do not need access to API keys etc. Is there a way to disable or take out the API options on the settings/account-and-privacy page ?

[2022-05-18 00:53] timabbott commented on #22045
This seems like a pretty reasonable slash command.

I wonder if there's a good Python library for doing the parsing; that seems like most of the complexity here.

[2022-05-18 00:56] timabbott commented on #22026
Some sort of regular expression based check would probably be useful here. I'm not sure how easy it is to implement in a way without false positives, which is always the challenge with this of rule.

I'm more cautious about triggering network requests to URLs from your browser just because they appear in the compose box as that might have security concerns.

[2022-05-18 01:04] timabbott commented on #22062
Thanks for the report! I suspect one bug here might be that the click handler in ZhuYin is missing a `e.stopPropagation()` -- i.e. it is incorrectly propagating your `Enter` keypress to the Zulip after selecting that input.

But even with that, I don't understand how we'd be able to leave content in the compose box so that it can be sent two more times, so there's clearly something for us to fix i

[2022-05-18 01:34] legopin commented on #22062
How to use Zhuyin to type

Chris Bobbe: I added "Zhuyin - Traditional" as an input source in my keyboard preferences (I'm on a Mac).
Chris Bobbe: Then I typed `a` `8` `3`, then the up or down arrow to bring up the menu for which character I wanted to use. Sometimes I chose 馬, sometimes 🐎. To choose one from the list, I pressed Enter.

https://chat.zulip.org/#narrow/stream/9-issues/topic/enter.20to

[2022-05-18 01:40] legopin commented on #22062
Suspected git bisect is at:
@_**Chris Bobbe|13313** [said](https://chat.zulip.org/#narrow/stream/9-issues/topic/enter.20to.20send.20Chinese.20error.20.2322062/near/1381747):
[code]

[2022-05-18 07:08] v3ss0n commented on #13928
Atleast one level of subtopic would be enough.

[2022-05-18 07:09] v3ss0n commented on #22034
Thanks , i got it fixed after removing the certbot configs

[2022-05-18 07:20] sahil839 commented on #22082
@zulipbot claim

[2022-05-18 09:14] Zoronium commented on #20916
@zulipbot claim

[2022-05-18 09:23] ppenguin commented on #21965
@alexmv @timabbott Thanks for your inputs! I'll clean up the DB then, and revert the install to an upstream version. Cheers.

[2022-05-18 18:25] chrisbobbe commented on #22062
Progress in the CZO thread! 🙂 https://chat.zulip.org/#narrow/stream/9-issues/topic/enter.20to.20send.20CJK.20IME.20error.20.2322062/near/1382010

Can we use [`KeyboardEvent.isComposing`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/isComposing) to see if a given event was emitted as part of an [IME composing session](https://developer.mozilla.org/en-US/docs/Glossary/Input_method_

[2022-05-18 18:49] alexmv commented on #21965
Sounds good!  I'll close this issue, but don't hesitate to stop by [chat.zulip.org](https://zulip.com/development-community/) if you need help detangling the database.

[2022-05-18 18:49] #21965 closed

[2022-05-18 19:37] 03amir commented on #21962
@timabbott  i want to work on this issue

[2022-05-19 10:56] ZelphirKaltstahl commented on #13928
In a well designed code base, I think once you allow one level of sub-anything, it is easier to implement arbitrarily nested structure, than to limit the structure to one particular level of depth. Basically a question of "recursive data structure unlocked!", or not unlocked. I cannot say anything about Zulip Chat though, as I am not familiar with the code base. The speed at which the development

[2022-05-19 11:39] flaviozluca opened #22091 "Zulip in the taskbar"
Just a note, friends. I've had some strange issues with Zulip in the task bar in Win 11, when I customize the task bar, to make it appear always, for example, I see it twice.
Right now, for example, oddly it appears once with its icon and 1 more time with my Bluetooth icon.

Might wanna check out the software in this area. Could be something just on my side, of course.

See

![image](https://user-

[2022-05-19 11:44] flaviozluca opened #22092 "Feature request: spell checker langs not so clear"
Friends,

A small suggestion. In the app settings, Spellchecker languages is not so friendly, in terms of usability.

One needs to know he has to type English (US) for US English dictionary...

Since the languages are in english, sometimes they differ, from the way theyre written in the native language. Portuguese, for example, there's Portuguese (Brazil) and Portugues, which surely is related to

[2022-05-19 13:43] v3ss0n commented on #13928
Any level more than one is bad UI and flow wuse , look reddit circle jerks

[2022-05-19 15:53] brijsiyag commented on #22001
@zulipbot claim

[2022-05-19 17:39] aparna-bhatt commented on #22002
Hey @timabbott can you review my suggestion.

[2022-05-19 17:49] brijsiyag commented on #21870
@zulipbot claim

[2022-05-19 20:38] ZelphirKaltstahl commented on #13928
I think this is conflating things. UI is a matter of its own. For any handling of recursive topics in a UI, it would first have to exist in the data structures of the backend in some form or another. UI is secondary to the matter. I am a good solution could be found for that.

Anyway, Zulip Chat has a different use-case from Reddit. Many organizations set up Zulip for organization internal communi

[2022-05-19 21:09] v3ss0n commented on #13928
Zulip codebase is well structure on the server side, it should be easy to implement subtopic functionality.
But the UI , currently Zulip is under redesign of UI/UX . even at current level of threading UI is quite complicated to scare away new users ( The team realize that and there is full time UI/UX guys working on it) .

The data-structure should not be a problem , the nested nature of Tree UI a

[2022-05-20 02:05] evykassirer commented on #21037
CZO discussion here: https://chat.zulip.org/#narrow/stream/378-api-design

[2022-05-20 03:27] medhatiwari commented on #21896
Hey @manila are you still working on the extended part of this issue?
If not would like to work on this!

[2022-05-20 03:31] manila commented on #21896
Hey @medhatiwari, thanks for checking in, I have been actively working on the updated issue and expect to submit an updated PR shortly. Did you have any additional ideas or comments that you thought might be helpful in regard to this issue?

Would you like to be tagged when I submit my PR as a peer reviewer?

[2022-05-20 03:39] medhatiwari commented on #21896
Heya, I just wanted to confirm If I could contribute.

Yeah definitely, would love to see your work!

[2022-05-20 14:03] chdinesh1089 commented on #21962
@03amir I think this is not yet ready to be worked on yet since we're blocked on figuring out the design as Tim mentioned above:

But you can help with the design in the mentioned discussion thread.

[2022-05-20 17:48] PIG208 commented on #22066
@zulipbot claim

[2022-05-20 18:49] jwillmer opened #22097 "[Feature] Include group selection into invite"
**Request:** We would like to assign a group to our invited users.

**Reason**: Currently we need to wait till someone accepted the invite, then go into groups and add them. When we start a new project with a client we would like to invite all participants and already assign a group to them. Something along the lines of group: `[Customer]:[Project]`. Currently we often forget to include users in a

[2022-05-20 18:52] jwillmer opened #22099 "Offer a way to edit open invitations"
**Request:** Be able to modify pending invites.

**Reason:** Sometime we forget to add a channel to an invite and it would make it very convenient if we could modify the pending invite instead of waiting for the user to join or cancel/recreate the invite.

Related issues:
- #31244

[2022-05-20 21:58] mlncn opened #22100 "Two spaces before a bullet list character no longer works to produce a bulleted list"
and it's driving me crazy!

It's been quite a while (a month or so) and figured that it would be a minor bug that would be quickly fixed… but i don't see anyone else even complaining?  Is this not happening to anyone else?  (Or does everyone else only put one space before bullet items?)

This works:

[code]

This does not:

[code]

But the latter should work just as well in Markdown.

This is some

[2022-05-20 23:45] laurynmm opened #22102 "Audit of API docs changes notes against central changelog (feature levels 1-27)"
**Unless otherwise noted, each entry just needs Changes note(s) added to API documentation**:

Feature level 1:
- [ ]  [`POST /register`](/api/register-queue): Added `zulip_feature_level` to the response if `zulip_version` is among the requested `event_types`.
- [ ] `GET /api/v1/user_uploads`: Added new endpoint for requesting a temporary URL for an uploaded file that does not require authenticati

[2022-05-21 18:34] harshit-agarwar commented on #21863
@zulipbot claim

[2022-05-22 07:04] alexmv commented on #22100
As far as I can tell, two spaces has never worked for indenting bullets -- I tested with versions back to 4.0 (May 2021) and didn't see it treat them as bullets.

Two things which might be confounding:
 1. The client-side first-pass render _does_ treat them as bullets, so there's a momentary second where they show up as bullets:

https://user-images.githubusercontent.com/28347/169682651-c7e9d060-c

[2022-05-22 12:27] sahil839 commented on #21700
Still working on it. Would open a PR in couple of days.
@zulipbot claim

[2022-05-22 17:17] alexniga opened #22105 "Bug report - multiple issues detected"
- Hello! My name is Niga Alexandru-Constantin and I had a university project, in which I had to find an active github and run a tool to check / detect bugs on it. I chose your project because it looks amazing and I wanted to contribute to it.

-  I am also doing some pull requests with fixes for the bugs. If you guys can take a look and merge them if they are ok, will also help me on the project a

[2022-05-22 17:43] asah commented on #22105
re issue 3 - this appears to be intentional, see this commit:
https://github.com/zulip/zulip/commit/48719cb8c4267b460ae0ac16a2b57928edde41a3#diff-24aeb066cf1c7536c98b217a816d6a476f543560685f4a640fbe26978a6f1706R195

perhaps there's a better way to do this? or perhaps mypy now supports this use-case?

[2022-05-23 00:16] alisonbuki commented on #12611
++ to requests for font size settings - the default body text is way too small to be usable. standard UX guidelines for body font [recommend around 16-18px](https://www.editorx.com/shaping-design/article/font-size#:~:text=Optimal%20font%20sizes%20for%20desktop,our%20sizing%20rules%20mentioned%20above), but this should ideally be an adjustable user setting

[2022-05-23 02:21] mightyiam opened #22107 "Permission to edit stream descriptions"
I'd like to allow full members to edit stream descriptions. This is a very permissive Zulip organization.

[2022-05-23 10:32] lzmartinico commented on #22026
True, but I hope false positives would not be too much of a concern if the UI design for the warning was unobtrusive and easy to dismiss.
I agree re. the security concerns, but if the URL request check is made only when the user sends the message rather than while they are composing it, this wouldn't be much different from the request made to show URL previews (and if the realm blocks URL previews

[2022-05-23 19:10] nftchance commented on #5190
After struggling with this issue for far too long while implementing [Bionic Reading](https://bionic-reading.com/) your comment finally helped me understand what was going on as anyone that is editing each line of text (somehow) needs to know that there are certain elements/strings to be ignored?

Thank you.

[2022-05-23 19:58] alya opened #22110 "Warn when archiving notification stream"
In organization settings, administrators can select streams for new user notifications, new stream notifications, and (after #20047 ) reported messages.

At present, archiving a user/stream notification stream silently disables user/stream notifications. Instead, we should warn the user that this will happen. We can do this by adding the following in the "Archive stream" confirmation dialog, just

[2022-05-23 20:58] timabbott commented on #22062
I think https://chat.zulip.org/#narrow/stream/9-issues/topic/enter.20to.20send.20CJK.20IME.20error.20.2322062/near/1383626 has a proposed fix for this that should be viable.

Tagging this as a release goal since it seems like a significant regression for folks affected by it.

[2022-05-23 22:14] #22082 closed

[2022-05-23 22:30] alya opened #22112 "Put separate keys into separate boxes in keyboard shortcut documentation"
In our keyboard shortcut documentation, multiple keys sometimes appear in the same box, and sometimes not. Having them appear in the same box is sometimes caused by the `has_mac_keyboard` function taking one key to a pair of keys.

We should consistently put separate keys into separate boxes. The "+" between them should not be inside a box.

This should be fixed both in the help center (https://zu

[2022-05-23 22:48] #11136 closed

[2022-05-23 23:14] endigma commented on #9081
Is there going to be a PR for this?

[2022-05-24 00:23] timabbott commented on #22107
@mightyiam thanks for the feedback! Our plan for this is https://github.com/zulip/zulip/issues/19525, which is a very active area of work for the project.

[2022-05-24 00:23] #22107 closed

[2022-05-24 00:25] timabbott commented on #22105
Generally it's better to do a single PR with multiple commits, not multiple PRs, for individual minor issues as part of a single project/issue.

Check out the Zulip commit message guidelines for more details: https://zulip.readthedocs.io/en/latest/contributing/version-control.html#commit-messages

[2022-05-24 00:26] timabbott commented on #22100
I suspect the explanation for why this is the first time this has been reported is that others don't have the habit of putting spaces at the start of their bulleted lists. This certainly is a detail where we'd like to match CommonMark.

[2022-05-24 00:29] timabbott commented on #22099
This is clearly a thing we'll want to support. It's probably most relevant for reusable invitation links, just because those are something one would want to maintain over time.

It's likely a moderately complex project, since we don't currently send the data on what streams are associated with an invite to clients, but potentially fairly straightforward, especially if we can reuse the component fo

[2022-05-24 00:30] timabbott commented on #22097
Thanks for the feedback! This is something we'll want to make sure gets included as part of our groups vision encoded in #19525; @sahil839 FYI.

[2022-05-24 00:32] timabbott commented on #22083
Thanks for the feedback! I don't think we're likely to want to offer an option to remove it, but we do have plans to clean up that component to not be so large/ugly/distracting, which likely will achieve your actual goals here. (Likely including moving it to a separate "API" tab in the sidebar).

[2022-05-24 00:32] #22083 closed

[2022-05-24 00:34] timabbott commented on #22078
@accountforcity can you stop by chat.zulip.org to debug interactively? We'll need to do a bit of print-debugging to determine why that user is not being correctly discovered and added to the `slack_user_id_to_zulip_user_id`.

Slack doesn't document their export format, so we'll need to work with you to determine what Slack feature this user ID corresponds to and where its details live in the Slack

[2022-05-24 18:41] alya opened #22113 "Make DMs searchable in the left sidebar"
We should add a search bar in the expanded ("more conversations") left sidebar view for direct messages, just below the "back to streams" link. This is analogous to the topic filter in the "view all topics" view for channels.

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20section.20.2321102/near/1383569)

[2022-05-24 21:36] alya commented on #14490
I think `+` really has the wrong semantics if you are trying to do something other than adding a stream. So I think we should remove it when that semantics doesn't make sense, and consider it a follow-up to add something else in its place if we feel that it's appropriate

For the use cases you describe, I think the "Stream settings" link in the three-dot stream menu seems pretty reasonable?

[2022-05-24 21:50] alya commented on #14490
I just chatted with @timabbott about this -- let's keep it as-is for simplicity. This is an edge case, and a temporary setup that will be updated when we change to the new groups model. We should just make sure it's documented correctly in the help center.

[2022-05-24 22:24] davidbalbert commented on #13193
This is a problem for us. Some of our employees use [Front](https://www.front.com) to manage their personal inbox, and Zulip has this problem with Front's vacation responder. Front's support team gave me the following list of headers. If Front gets an email that matches at least one of these headers, it considers the email auto-generated. If there's an associated regexp, the field body (the "value

[2022-05-25 02:43] refeed commented on #21789
@zulipbot claim

[2022-05-25 03:15] refeed commented on #21789
@zulipbot claim

[2022-05-25 05:54] brijsiyag commented on #21870
Hello @alya !
I've added button.
Please take a look and tell me if you have any suggestions.
<img width="400" alt="Screenshot 2022-05-25 at 11 12 52 AM" src="https://user-images.githubusercontent.com/71015892/170188369-147d411a-9537-44bb-b246-31410347f4b4.png">

[2022-05-25 08:38] zulipmonkey opened #22117 "Identifying Zulip Stream name/ID"
Hi

we create unload data from Zulip. where I can see Stream name or it Id ?

for example, this is message from messages-000001.json file

https://drive.google.com/file/d/1OYM7PVY0I_yRQ-QA6G7WVmketer4i4ZM/view?usp=sharing

[2022-05-25 12:01] AndreasBackx opened #22119 "Keeps loading when starting up on login when no internet is available yet"
I start Zulip when I login with [swaywm](https://swaywm.org/), see [my config](https://github.com/AndreasBackx/dotfiles/blob/master/.config/sway/base#L129). Zulip seems to be then forever stuck in the loading spinner animation, not even showing the Zulip logo yet. I would assume that this is because the network hasn't started yet or is being changed and it fails to retry properly. What fixes it, i

[2022-05-25 12:27] flaviozluca opened #22120 "Feature request: Forwarding images"
Friends,

I know I can right click copy image and paste it to someone else, but when I use the option to forward a message, it sends the message's text + the image in form of a link.

Is it possible to forward the image itself and, if not, can you add this as a feature request? Perhaps an extra option? Forward with images inline.

Thanks.

[2022-05-25 15:00] sahil839 commented on #14490
So just to confirm, we would just check whether stream is web-public and allow guests to subscribe to them and send web-public streams data from server, etc. even when web-public streams are not enabled. But in this case subscribing will be possible only from API or from the stream narrowed view accessed through a message link, since we are enabling the `All streams` tab only when web-public strea

[2022-05-25 20:06] gnprice commented on #22102
Excellent! Looking forward to these fixes.

Skimming a few of these, one thing I notice is that some of them are missing links from the changelog to the endpoint that changed. For example several of the entries you have for feature level 1; and one at FL 2 and one at 22 and a few in between. Those would be nice to fix too; in some cases, like "Added `None` as a video call provider option.", it's a

[2022-05-26 00:20] alya opened #22121 "Improve and document logo sizing/scaling"
At present, we don't provide clear guidance on the size of organization logos that should be uploaded. We also distort wide organization logos in some cases.

We should:

- [ ] Scale the wider organization logo so that it is the largest it can be in a 25x200 box _without distortion_. At present, we distort logos with an aspect ration wider than 8:1.
- [x] If the logo is narrower than required, lef

[2022-05-26 18:06] aarondr77 commented on #10643
+1 to having a voice or video message option!

[2022-05-26 18:29] gnprice commented on #2676
The server side of this was merged as #21252, along with web support for handling when messages get marked as unread.

The web client has an open PR #21477 for UI to actually mark messages unread. The mobile client has an open PR zulip/zulip-mobile#4790 to handle stream messages and some PMs getting marked unread, and issues zulip/zulip-mobile#5361 and zulip/zulip-mobile#5364 to track the remainin

[2022-05-26 18:48] aparna-bhatt commented on #21785
@zulipbot claim

[2022-05-26 23:21] alya opened #22131 "Add keyboard shortcut to "Drafts" link tooltip"
At present, while the left sidebar "Drafts" link tooltip includes the keyboard shortcut, the compose box "Drafts" link tooltip does not. We should fix this.

The compose box "Drafts" tooltip should thus be "Drafts (d)", with the same styling as the compose box `x` button tooltip:
![Screen Shot 2022-05-26 at 4 20 30 PM](https://user-images.githubusercontent.com/2090066/170594930-8926447c-8740-4829-

[2022-05-26 23:26] alya opened #22132 "Make compose box tooltips consistent"
At present, we have inconsistent styling for tooltips for the buttons in the top row of the compose box. We should fix this by making the styling match the tooltip for the `x` button:
![Screen Shot 2022-05-26 at 4 20 30 PM](https://user-images.githubusercontent.com/2090066/170595252-1bb28930-64b1-4423-81d1-c757dbe5cc61.png)

This requires:

- [ ] Removing the bold formatting from the "Go to conver

[2022-05-27 00:12] timabbott commented on #22078
From a PM from the user, it looks like the user in question is Slack's Google calendar integration bot account. So I think what we should do to try to reproduce this is setup that integration in a test organization, do a data export, and see if we can reproduce this.

@yuroitaki if you have a bit of time, it'd be awesome to try reproducing this.

[2022-05-27 01:04] #13193 closed

[2022-05-27 06:02] pygy opened #22135 "Code highlighting gets in the way of searching for complex expressions in code blocks"
As discussed [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Searching.20in.20code.20block): suppose you have a code block that says...

[code]

... with syntax highlighting enabled. If you search for `console.log` it will not turn up in the search results, because the HTML tags get in the way, whereas searching for `console` and `log` individually works fine.

In a code block without

[2022-05-27 06:23] alya opened #22136 "Remove confusing usage of "notifications" terminology in organization settings"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/notification.20options.20when.20moving.20messages/near/1384173), at present we have a "Notifications" section under Settings > Organization settings, which uses the term "Notifications" in a different way from other places in Zulip (e.g. the Personal > Notifications settings panel). We should use a different term here to

[2022-05-27 06:40] zulipmonkey commented on #22117
Or is there a way to export messages by stream in Zulip?

[2022-05-27 06:47] BemaFisher commented on #22112
@zulipbot claim

[2022-05-27 07:09] aadiljaleel commented on #21265
@zulipbot claim

[2022-05-27 08:43] madrix01 commented on #22132
@zulipbot claim

[2022-05-27 09:19] madrix01 commented on #22132
![image](https://user-images.githubusercontent.com/51414879/170670497-7b4b9851-5b21-4bd3-bd00-2787e1b09c7a.png)
Can we convert web public stream tooltip to Tippy as well?

[2022-05-27 10:14] aparna-bhatt commented on #22002
Ok @alya  I will try to make it still work .Thanks!

[2022-05-27 10:21] aparna-bhatt commented on #22131
Hey @alya I have solved this issue.But my previous PR Is almost ready to merge so can I contribute in this issue?
Pending PR #22129.
I am uploading the screenshot for you to see the changes.
![Screenshot from 2022-05-27 15-46-59](https://user-images.githubusercontent.com/86338542/170681155-424954ce-31da-4844-80fb-17644556e0d2.png)

[2022-05-27 11:32] fgendorf opened #22138 "User can't change Full name in version 5.X"
Hi, we are using zulip since version 4.x, when we migrate to 5.x the bug disappear but in the last week it returns... No configuration was changed and the settings are the same:
![image](https://user-images.githubusercontent.com/15034336/170690772-2c257ec2-bfa6-4717-821c-7b3d029a8d55.png)

But when a member user goes to personal profile the `Full name` are grey and he can't change the name, Admin

[2022-05-27 11:56] madrix01 commented on #22132
@alya made the pull request #22137. Can you review it?

[2022-05-27 15:48] accountforcity commented on #22078
Additional Information:

Slack import files with user information

integration_logs.json
[code]

2022-04-12.json
[code]

users.json

`Line 1127: {"id":"U013ACBP1SP","team_id":"TAWTD6X0R","name":"X.YYYYYYY","deleted":true,"profile":{"title":"\u041c \u043f \u043e","phone":"+00000000000","skype":"","real_name":"\u0410 \u041a","real_name_normalized":"XXXXXXXXXXX YYYYYYY","display_name":"\u0410","displ

[2022-05-27 19:40] cognusion commented on #21160
PR #22006 has been open for this issue. :patientlywaiting: on that :smile:

[2022-05-27 21:30] #22066 closed

[2022-05-27 22:21] alya opened #22142 "Make searching for an emoji work in Recent topics"
At present, searching for an emoji in Recent topics fails to find topics with that emoji in the name. We should fix this.

[2022-05-27 22:22] alya opened #22143 "Make searching for an emoji work in top search bar"
At present, searching for an emoji in the top search bar does not work. We should fix this.

[2022-05-27 22:48] alya opened #22144 "Document "Resolve/Unresolve topic" mobile app feature"
In the mobile app, topics can be resolved/unresolved via the long-press menu. This menu can be accessed from the topic bar on any message, as well as the top bar in a topic narrow, and the list of topics for a stream.

We should document this feature on https://zulip.com/help/resolve-a-topic.

Instructions for accessing the long-press menu should be added using a new macro in `templates/zerver/hel

[2022-05-28 00:38] timabbott commented on #10970
@bmalynovytch I don't have a timeline for this right now, because we've determined that the right way to do this is probably to get far enough along in #19525 that we can implement this permission as a group thing, not a role. We are likely not very far from being able to start rewriting #21212 on top of the groups infrastructure -- #19525 has a decently up to date set of checkboxes.

The end resu

[2022-05-28 05:35] alya opened #22145 "Improve behavior of deleting an option for a "List of options" custom profile field"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/378-api-design/topic/custom.20profile.20fields.20option.20deletion/near/1384923), when an administrator deletes an option for a "List of options" custom profile field, users have the invalid value in the database while in UI the empty option is selected. Also, we do not show any warning in the UI to the admin user deleting the option. We

[2022-05-28 06:09] alya opened #22146 "Document "Mute/Unmute topic" mobile app feature"
In the mobile app, topics can be muted/unmuted via the long-press menu. This menu can be accessed from the topic bar on any message, as well as the top bar in a topic narrow, and the list of topics for a stream.

We should document this feature on https://zulip.com/help/mute-a-topic.

Instructions for accessing the long-press menu should be added using a new macro in `templates/zerver/help/include

[2022-05-28 06:13] alya opened #22147 "Document "Copy link to topic" mobile app feature"
In the mobile app, topics links can be copied via the long-press menu. This menu can be accessed from the topic bar on any message, as well as the top bar in a topic narrow, and the list of topics for a stream.

We should document this feature on https://zulip.com/help/link-to-a-message-or-conversation#get-a-link-to-a-specific-topic.

While we're here, we should also remove the `:` which have acci

[2022-05-28 08:46] garg3133 commented on #22131
Sure @aparna-bhatt, you can go ahead and open a PR for this issue.

[2022-05-28 08:54] aparna-bhatt commented on #22131
OK @garg3133 thanks!

[2022-05-28 15:12] aparna-bhatt commented on #21785
Hey @sahil839 I have made a new PR for this issue #22129 .I have also added the word ```Fixes``` in the commit message but it has not automatically closed the issues can you tell me what wrong I have done.

[2022-05-28 18:27] aparna-bhatt commented on #22131
@garg3133 I have made the PR can you review it?

[2022-05-29 09:21] maltokyo commented on #12576
Hello @timabbott @aero31aero - did this make it to production?  I don't think so, just checking.
My users don't like seeing the file name when they upload images...  they just want to see the image.  Any hack/advice on how to do this myself?

[2022-05-30 12:19] ritikBhandari commented on #22145
Hi,
Can I take up this issue if nobody is working on it?

[2022-05-30 12:21] ritikBhandari commented on #22143
What does 'searching for an emoji' mean? Is it like a custom emoji button we get in other chat platforms that presents the whole list of emojis available?

[2022-05-30 15:25] mariosmantzaris commented on #21712
Still working on it

[2022-05-30 20:02] chaoxu opened #22156 "LaTeX for languages that doesn't use space to separate words."
The Chinese language does not separate words with a space (and so is Korean, Japanese etc, but I'm not sure how their standard of interacting with math).

So for my students, it is perfectly reasonable to write things like

``` 假设$$x=5$$，```

and unfortunately in Zulip, this does not get turned into LaTeX. But it would be, if spaces are added around it.

This is a major pain for my students who tr

[2022-05-30 21:12] IvanToy commented on #21978
@timabbott Could you please review my pr?Thank you.

[2022-05-31 03:20] drrosa commented on #22147
While we're here, I think we should also rename the `Via browser's address bar` tab to just `Web` to make it consistent with other help center articles.

[2022-05-31 10:44] brijsiyag commented on #21870
Hey @alya #22118  ready for your review, please take a look and tell me if there are any suggestions.

[2022-05-31 11:30] aparna-bhatt commented on #22002
Hey, @alya I have removed the grey background color and to show that the site is currently loading I think the loading spinner is needed any other suggestion you have to show the loading?

https://user-images.githubusercontent.com/86338542/171162687-f36d57b9-c0d8-459f-b485-beec2a229f54.mp4

[2022-05-31 14:59] ben221199 commented on #21978
Seems the guy has some holiday or something...

[2022-05-31 15:29] amartin3225 commented on #12738
While it doesn't help if you're trying to use syntax highlighting for a specific language (e.g. as in the above example using `java`), you _can_ do this right now when using the `quote` string after a block quote:
[code]
[code]

[2022-05-31 17:02] #21714 closed

[2022-05-31 17:59] sahil839 commented on #14490
@alya just pinging you for a reminder. I have asked a couple of questions above.

[2022-05-31 18:31] alya opened #22159 "Make all navigation links from Recent topics row go to topic"
In Recent topics, it's easy to accidentally click on a stream and end up in the interleaved stream view when one is actually trying to go to a topic.

To address this, we should have all navigation clicks anywhere on a row in the Recent topics (other than the mute button, etc.) go to the topic, rather than the interleaved stream view. This should feel intuitive, as the entire row represents the to

[2022-05-31 22:35] alya opened #22161 "Upgrade banner should mention Zulip Standard sponsorship for non-business orgs"
In organization settings, we show an upgrade banner next to settings that are not available on Zulip Cloud Free:

![Screen Shot 2022-05-31 at 3 27 03 PM](https://user-images.githubusercontent.com/2090066/171294351-4542fd0c-a02d-4557-8fcf-fb340614de50.png)

Non-business organizations are often eligible for sponsorship for Zulip Standard, so it would be very helpful if this banner mentioned sponsors

[2022-06-01 01:29] gnprice opened #22164 "Server sending mark-unread for already-unread messages"
To reproduce:
* Open up the web app in a dev server running https://github.com/zulip/zulip/pull/21477 .
  * (That provides handy UI for exercising the issue; but the behavior is something the server itself shouldn't allow, and that PR doesn't touch the server, so it's already a bug in main.)
* Watch the events the server emits.
  * One way to do this is in the "Network" tab of Chrome DevTools, whi

[2022-06-01 01:29] gnprice commented on #2676
In manually testing https://github.com/zulip/zulip-mobile/pull/4790 just now (using the UI added in https://github.com/zulip/zulip/pull/21477 ), I found a bug that will need to be fixed before we can roll this feature out. I think the server's behavior here is wrong and should be fixed (even though we might simultaneously go for a workaround in the client.)

Reported at #22164 with details.

[2022-06-01 01:59] rht opened #22165 "The topic narrow URL path when clicked from recent topics is URL-escaped."
If I click a topic from the recent topics list, the URL shows up as
`https://chat.zulip.org/#narrow%2Fstream%2F137-feedback%2Ftopic%2F.5BFeature.5D.20.20Full.20Blown.20Project.20Management.20Features=`.
The slashes are being escaped somehow. But this is not the case if I manually click the topic from the feedback stream.

Another example: `https://chat.zulip.org/#narrow%2Fstream%2F19-documentation

[2022-06-01 03:08] rht commented on #22165
Turns out it is because I'm using this browser extension: https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk/ (they also do it for Firefox).

See discussion at https://chat.zulip.org/#narrow/stream/9-issues/topic/problem.20with.20urlpath.20from.20recent.20topics.

[2022-06-01 03:10] rht commented on #22165
Closing because it is ClearURLs' problem: https://github.com/ClearURLs/Addon/issues/191.

[2022-06-01 03:10] #22165 closed

[2022-06-01 09:38] sahil839 opened #22169 "Fix bot owner dropdown partially hidden in `Manage bot` modal."
Steps to reproduce -
- Login as Iago in development environemnt.
- Open organization settings and go to `Bots` section.
- Click on "pencil" icon for any of the bot.
- Click on the owner dropdown.

CZO discussion - https://chat.zulip.org/#narrow/stream/9-issues/topic/dropdown.20in.20bot.20edit.20modal

The dropdown opened is not visible completely as shared below -
![Screenshot from 2022-05-26 22-3

[2022-06-01 11:21] sahil839 commented on #22161
@zulipbot claim

[2022-06-01 12:21] timorantalaiho commented on #12738
Ahh thanks! That helps a little, though for code samples and other "technical snippets" it has the additional drawback of losing the fixed-width font.

[2022-06-01 12:54] ritikBhandari commented on #22138
Are you still facing this issue?

[2022-06-01 12:55] ritikBhandari commented on #22136
I'd like to work on this issue. Can anybody pls assign this to me?

[2022-06-01 13:51] fgendorf commented on #22138
if do want any information, logs, config, etc just ask!

[2022-06-01 13:52] ritikBhandari commented on #22138
Sure! That would of great help.

[2022-06-01 14:22] hongquan opened #22171 "API: Get no events other than heartbeat"
Hi, I'm following this doc https://zulip.com/api/get-events but cannot get any other events than hearbeat. The result are the same when I register event with empty body or with `event_types=["message"]`. Do I miss something?

I tested by opening two browser windows. One browser is to open Zulip UI and one browser is to run our web app that calls Zulip API. I sent a message in Zulip UI, under an us

[2022-06-01 21:40] alya commented on #22136
@ritikBhandari please review the contributor guide for [instructions](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on) on how to pick up an issue.

Before claiming this issue, can you post a comment describing your planned approach, including which help center pages will need to be updated? Thanks!

[2022-06-01 21:45] timabbott commented on #22171
Is the user who is supposed to receiving events subscribed to any streams? You don't receive messages unless you're subscribed. You might want to test with private messages instead.

[2022-06-01 21:47] alya commented on #12738
I guess there are a couple of different proposals above:

1. Recipient side: Have a user setting for whether to wrap lines in code blocks.
2. Sender side: Add a special code block formatting option that is combines fixed-width font with line wrapping.

I'm not sure about either of those being a feature we should implement, but would be great to clarify if both of those would equally address the pr

[2022-06-01 22:05] #21795 closed

[2022-06-01 22:11] #9474 closed

[2022-06-01 22:11] #21947 closed

[2022-06-01 22:16] #21796 closed

[2022-06-01 22:25] timabbott commented on #22143
This refers specifically to taking a unicode emoji character, like `🥕`, and pasting it into the search bar.

[2022-06-01 22:27] timabbott commented on #22145
Yeah, go for it. The New Application Feature tutorial should give you the background needed to find the code for this.

[2022-06-01 23:06] #21901 closed

[2022-06-01 23:11] #21976 closed

[2022-06-01 23:23] ritikBhandari commented on #22136
@alya where should I describe my approach? Here only or zulip?

[2022-06-01 23:28] timabbott commented on #22164
I think probably this should be claimed by someone more experienced with the codebase; @amanagr can you debug this one?

[2022-06-01 23:30] ritikBhandari commented on #22143
But why do we need to search the emoji? Like you said 'paste it into the search bar'. For that, we must have alread copied it. And that means we have the emoji already no?

[2022-06-01 23:30] timabbott commented on #21949
Which parts of this issue remain after #21947 was resolved?

[2022-06-02 00:06] laurynmm commented on #22112
@BemaFisher - I wanted to check-in with you on this issue and your progress. I did some work on the help center documentation audit portion of the issue after starting [this conversation on chat.zulip](https://chat.zulip.org/#narrow/stream/19-documentation/topic/format.20of.20keyboard.20shortcuts.20in.20help.20center.20docs/near/1384367).

Have you been focused on the `has_mac_keyboard` portion of

[2022-06-02 00:08] #21961 closed

[2022-06-02 00:26] laurynmm commented on #21949
I have a local branch I need to look over and push for the 2nd and 4th parts. Will tag this issue when I make the PR.

Via [this CZO conversation](https://chat.zulip.org/#narrow/stream/101-design/topic/language.20in.20invitation.20emails/near/1375528), the 3rd part got changed to be fixed with #22108, which Alya tagged today with 'integration review'. I don't think this issue is tagged on that PR.

[2022-06-02 01:47] BemaFisher commented on #22112
Looks like I missed that chat, since you've already were working on this, you can go ahead.

[2022-06-02 01:48] BemaFisher commented on #22112
@zulipbot abandon

[2022-06-02 02:42] laurynmm commented on #22112
@BemaFisher - I had only focused on updating the markdown files so far and hadn't started on the `has_mac_keyboard` part of the task. So if the `has_mac_keyboard` part of the issue was what you had an idea or work in progress for, then you can still put together a PR that addresses that part of the fix. Just let me know.

[2022-06-02 09:20] hongquan commented on #22171
Thanks, @timabbott
I missed the step of subscribing the stream. Now it works.

[2022-06-02 09:20] #22171 closed

[2022-06-02 10:21] fgendorf commented on #22138
OK, sorry by the noise, I never saw this parameter before, as UI don't show any information about server configuration and Admins and Owner can change their names normally, I never suspected about.

Thank you so much @timabbott and all people in this thread.

[2022-06-02 10:21] #22138 closed

[2022-06-02 16:04] drrosa opened #22178 "Refactor the instructions for "Resolve a topic" and "Mute a topic" so that a Mobile tab can be used"
In the mobile app, topics can be resolved/unresolved, muted/unmuted, and topics links can be copied via the long-press menu. However, the process of documenting these mobile features gets complicated because their help articles are not consistent with one another.

So the idea would be to take the current instructions to resolve/unresolve topics:
<img width="539" alt="image" src="https://user-imag

[2022-06-02 16:10] drrosa commented on #22178
@zulipbot add "area: documentation (user)"

[2022-06-02 16:31] mekaustubh28 commented on #8392
Hi is this issue still open and can I work on it?? I am new to open source.

[2022-06-02 16:35] mekaustubh28 commented on #8392
@zulipbot claim

[2022-06-02 19:14] timabbott commented on #22164
I think the client will likely want to add a workaround in any case -- since probably an appropriate workaround would also help generate correct behavior in bugs/corner cases involving races, event reordering (say, an unread, read, unread sequence for a given message ID gets somehow reordered to read, unread, unread).

[2022-06-02 21:20] alya commented on #22144
Proposed approach for this issue: #22178

[2022-06-02 21:21] alya commented on #22146
Proposed approach for this issue: #22178

[2022-06-02 21:29] alya opened #22182 "Add a delay before showing reload message"
At present, the web/desktop app shows the following message while loading:

This message often flashes on screen briefly, causing unnecessary worry for the user (is the app likely to not load?). To address this, we should add a delay before the message is shown. We may need to experiment with how much to delay showing the message; we can try 3 seconds to start with.

[2022-06-02 21:36] gnprice commented on #22164
Reasonable. Can we agree that we'll fix this bug before merging any UI to exercise the feature?

The difference is:
* If we fix the bug before there's UI to exercise the feature, then I can go ahead and merge https://github.com/zulip/zulip-mobile/pull/4790 . It's been open a long time, is all ready as far as its code is concerned, and would be great to get in.

  Then adding that workaround can be

[2022-06-02 22:50] v3ss0n commented on #19483
Looking forward to it.

[2022-06-03 07:30] alya commented on #22143
@ritikBhandari You would do this if you're trying to find messages/topics/etc. with 🥕 in them.

[2022-06-03 16:49] amanagr commented on #22182
Sure!

[2022-06-03 19:01] alya opened #22188 "Refer to messages from Notification Bot as "notices" rather than "notifications""
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/notification.20options.20when.20moving.20messages/near/1384173), at present we refer to the messages sent by Notification Bot as "notifications":

![Screen Shot 2022-05-24 at 1 28 30 PM](https://user-images.githubusercontent.com/2090066/171929264-e34f499d-a0f3-4ac7-affb-08b6c7ddd3e7.png)
![Screen Shot 2022-05-24 at 1 37 1

[2022-06-03 19:54] alya opened #22189 "Add an Inbox view"
On mobile, we offer an "inbox" view that shows all topics that have new messages, organized by stream. It would be very helpful to offer a similar view in the webapp as well.

- What is included: Any PMs or topics that have unread messages (no matter how old).
- How it's organized/displayed:
  - List of topics/PM threads
  - Grouped by stream
        - Streams should be collapsible, in case there

[2022-06-03 19:56] aparna-bhatt commented on #22131
Hey @alya can you review this PR.
Thanks!

[2022-06-03 20:12] timabbott commented on #22189
A few technical notes:
* I expect we should be able to implement this entirely using the data we already have in the browser from the `unread_msgs` data structure, which powers the left sidebar.
* We'll need to do a somewhat careful audit of places where we we access `recent_topics_util.is_visible`, and generalize those to say what we mean -- which in some cases is "is recent topics visible" and f

[2022-06-03 21:45] alya commented on #14490
Sorry for the delay!

I think the rule should be to show a "+" whenever the org permissions would let you put more streams in your left sidebar, whether by joining an existing stream or creating a new one. So for guests that's when web-public streams are enabled, and for non-guests it's always. That's what intended with the comment above, but I guess it was ambiguous what "adding a stream" is supp

[2022-06-03 21:47] alya commented on #14490
Got it. That's fine by me.

[2022-06-03 21:50] alya commented on #14490
I guess we should add a section to `/help/public-access-option` explaining what happens when you make some web-public streams and then disable the setting. @sahil839 @timabbott does one of you want to take a first pass at that to make sure we get the details right?

[2022-06-03 22:00] alya commented on #21978
Is this a recent regression? I recall seeing a max file size notice previously.

[2022-06-03 22:03] alya commented on #22002
@timabbott I'm not sure what exactly you were hoping for here, so maybe you should take a look / provide additional guidance.

I think if we are working on this, we should definitely make sure the button size doesn't change the way it's currently doing when it goes into the spinner mode.

[2022-06-03 22:06] alya commented on #18941
I think this is more of a question for @ligmitz .

@ligmitz do you plan to pick this up again any time soon, or would it make sense to hand over the PR?

[2022-06-03 22:10] alya commented on #22156
[CZO discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/LaTeX.20math/near/1386265)

[2022-06-04 05:02] amanagr commented on #22189
Cool

[2022-06-04 06:17] a1pharooster commented on #21863
@zulipbot claim

[2022-06-04 06:30] a1pharooster commented on #21410
@zulipbot claim

[2022-06-05 02:26] Rixant commented on #22188
@zulip claim

[2022-06-05 02:28] Rixant commented on #22188
@zulipbot claim

[2022-06-05 05:14] BallZ253 opened #22190 "NEW!! LOOKING FOR SOMEONE TO TAKE ME UNDER THEIR WING!!!"
I'm a 21yr old living in Ontario, just recently got into coding, I'm hoping to find someone to take me under their wing just so i can join in and you can teach me the ins and outs of coding. I'm more of a hands on learner and I really think if someone could just walk me through things for a little while I could really get the hang of this. Hopefully this gets out to someone.......
Cheers.

[2022-06-05 05:15] v3ss0n commented on #22117
Try zulip API. It would be quite easy

[2022-06-05 08:11] ritikBhandari commented on #22136
@zulipbot claim

[2022-06-05 10:21] thedeveloperr commented on #9165
@zulipbot claim

[2022-06-06 05:56] alya commented on #22146
Potentially relevant discussion: https://github.com/zulip/zulip/pull/22158#discussion_r888418410

[2022-06-06 05:56] alya commented on #22144
Potentially relevant discussion: https://github.com/zulip/zulip/pull/22158#discussion_r888418410

[2022-06-06 06:05] alya commented on #22117
Yes, please refer to the [API documentation](https://zulip.com/api/), and stop by the [Zulip development community](https://zulip.com/development-community/) if you have further questions.

[2022-06-06 06:05] #22117 closed

[2022-06-06 06:06] alya commented on #22190
Please start by reading and working through the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html). Best of luck!

[2022-06-06 06:06] #22190 closed

[2022-06-06 11:15] aadiljaleel commented on #21265
@zulipbot still waiting for review buddy

[2022-06-06 14:55] Hoss3770 commented on #10643
+ 1

[2022-06-06 15:47] agbaber opened #22194 "Changing a stream from private to public requires a client reload to view"
When a stream is changed from private to public, users who were not invited to the private stream need to reload the client in order to view the now-public stream.

If the user does not refresh the client, they get a `This stream does not exist or is private.` error when trying to access the channel via hashtag reference (`#name-of-channel`) in chat. If they attempt to navigate to it manually, it

[2022-06-06 16:44] sahil839 commented on #14490
@alya I have updated the PR remove the commits for API changes for treating web-public streams as public when setting is disabled and we now allow guests to subscribe, access unsubscribed web-public streams even when setting is disabled. And this also means that guest can access unsubscribed web-public streams throught API even after a plan is downgraded. Do we want separate behavior in the case o

[2022-06-06 17:50] ritikBhandari commented on #22188
@zulipbot claim

[2022-06-06 18:51] alya opened #22195 "Document "Delete topic" mobile app feature"
In the mobile app, topics can be deleted via the long-press menu. This menu can be accessed from the topic bar on any message, as well as the top bar in a topic narrow, and the list of topics for a stream.

We should document this feature on https://zulip.com/help/delete-a-topic.

Instructions for accessing the long-press menu should be added using a new macro in `templates/zerver/help/include` fo

[2022-06-06 19:00] ritikBhandari commented on #22195
@zulipbot claim

[2022-06-06 19:03] alya opened #22196 "Document "Mute/Unmute stream" mobile app feature"
In the mobile app, streams can be muted/unmuted via the stream long-press menu or the topic long-press menu.

- The stream long-press menu can be accessed via the list of streams, the stream name in the "inbox" (unreads) view, or the top bar in a stream narrow.
- The topic long-press menu can be accessed from the topic bar on any message, as well as the top bar in a topic narrow, and the list of t

[2022-06-06 19:08] ritikBhandari commented on #22169
@zulipbot claim

[2022-06-06 19:09] alya opened #22197 "Document "Copy link to stream" mobile app feature"
In the mobile app, stream links can be copied via the stream long-press menu.

The stream long-press menu can be accessed via the list of streams, the stream name in the "inbox" (unreads) view, or the top bar in a stream narrow.

We should document this feature on https://zulip.com/help/link-to-a-message-or-conversation#get-a-link-to-a-specific-stream.

Instructions for accessing the long-press me

[2022-06-06 19:11] alya opened #22198 "Document "Pin to top"/"Unpin from top" mobile app feature"
In the mobile app, streams can be pinned/unpinned via the stream long-press menu.

The stream long-press menu can be accessed via the list of streams, the stream name in the "inbox" (unreads) view, or the top bar in a stream narrow.

We should document this feature on https://zulip.com/help/pin-a-stream.

A stream can also be pinned/unpinned via stream settings; we may want to refer to this (less

[2022-06-06 23:01] alya commented on #236
Our current plan is #21285; we can consider what to do with this issue once it is completed.

[2022-06-06 23:03] alya commented on #236
#20870 should help address some of the problems described here as well.

[2022-06-06 23:36] alya commented on #22136
Could you please describe how you verified that no other pages need to be updated?

[2022-06-06 23:36] alya commented on #22136
Translations are updated automatically. See here for details: https://zulip.readthedocs.io/en/latest/translating/internationalization.html

[2022-06-06 23:42] alya commented on #14490
Mmm, yeah, these edge cases are so tricky!

I think in the same spirit as above of keeping things as simple as we can and not trying to get the edge cases into a perfect state, we shouldn't do anything special for orgs that downgrade. We can treat them like any other org that turned off the public access option.

[2022-06-06 23:42] alya commented on #14490
Could you remind me which warning modal you are referring to?

[2022-06-06 23:46] alya commented on #22194
Thanks for the report @agbaber !

CZO discussion thread: https://chat.zulip.org/#narrow/stream/9-issues/topic/live.20update.20for.20stream.20access.20issue.20.20.2322194

[2022-06-07 04:21] sahil839 commented on #14490
The modal for "you cannot subscribe to this stream again" which is shown for private streams and to guests for other types of streams as well. What should we do for guest if stream is web-public and setting is not enabled?

[2022-06-07 10:29] sahil839 commented on #22194
@zulipbot claim

[2022-06-07 17:05] alya opened #22205 "Show info about organization and Zulip in gear menu"
At present, it requires some digging to find a few key pieces of information about the Zulip organization one is viewing:

- Organization name
- Organization URL (if using the Desktop app)
- For Zulip Cloud, the plan that the organization on.
- For self-hosted Zulip, does the server need to be upgraded?  What's the version of the server, and what's the current release version?

We should address t

[2022-06-07 17:10] timabbott commented on #22027
This makes sense to tweak... though it may take some care to figure out the right language.

[2022-06-07 17:14] timabbott commented on #22051
Some care may be required with this sort of configuration -- because Zulip supports having multiple authentication methods enabled, so we wouldn't want to make it impossible to switch to a different authentication provider.

I guess the way that this would need to work is that when logging in, Zulip would store metadata in the session object about the `end_session_endpoint` for the OIDC provider,

[2022-06-07 18:26] ritikBhandari opened #22206 "Links not working properly"
![stream](https://user-images.githubusercontent.com/69508348/172455068-b39a530c-a347-40d1-8e78-35e86bd35b32.png)

This link at `help/create-a-stream.md` does not lead to anywhere. Is this deliberate or an error?

[2022-06-07 19:19] alya commented on #10643
Thanks for the feedback! We have no short-term plans to work on this, but comments on this issue will help with getting prioritized in the future.

[2022-06-07 19:49] alya commented on #21785
@aparna-bhatt your PR is now correctly linked to this issue. The issue will remain open until a PR that resolves it is merged.

[2022-06-07 19:53] alya commented on #22206
Hm, what happens when you click on it?

The link from https://zulip.com/help/create-a-stream correctly goes to https://zulip.com/help/create-streams.

[2022-06-07 19:56] alya commented on #22136
Ok, when you submit a PR, please include an explanation of how you identified the list of pages that need to be updated. Thanks!

[2022-06-07 19:58] ritikBhandari commented on #22136
Sure. I'll do that.

[2022-06-07 20:03] ritikBhandari commented on #22206
![streamerror](https://user-images.githubusercontent.com/69508348/172471803-b09a5f2e-2815-43a6-8c0f-46f1f448ca33.png)

I'm getting this. Actually I'm accessing this from within the .md file rather than the website. Does it affect the accessibility of certain links?

[2022-06-07 20:04] #22027 closed

[2022-06-07 20:38] alya commented on #14490
Ohh, I see.

I guess let's not show it, as they *can* subscribe again, and it's not worth it to create a custom warning just for this edge case.

[2022-06-07 22:34] davidpriest commented on #22197
@zulipbot claim

[2022-06-08 00:56] timabbott commented on #22120
I think you can do what you're trying to do by just moving the URL outside the quote block when using quote-and-reply.

[2022-06-08 00:57] timabbott commented on #22206
Yes, you can't expect links from the Markdown source code for our Help Center on GitHub to work; read the Help Center on zulip.com/help/.

[2022-06-08 00:57] #22206 closed

[2022-06-08 02:32] nealhamiltonjr commented on #6096
The link to rocket chats implementation is sound and they layout how they did it. Has any progress been made by zulip on this; It's becoming extremely important today to encrypt both group and private chats with e2ee. Zulip is awesome in it's threading model but for usage in private research where each group or user might not need to see the others data including the servers admin.

[2022-06-08 03:29] ritikBhandari commented on #22206
Ohh okay. Thank you.

[2022-06-08 05:13] alya commented on #22025
@alexmv thoughts on next steps on this one? Would it help to debug more interactively on chat.zulip.org?

[2022-06-08 07:23] dronmaxman opened #22212 "Can't upgrade to 5.2. Error: This is not an upgrade -- the current deployment (version 4.11)."
Hi all.
I'm updated my server from Debian 9.13 to Debian 11, from zulip 2.1.2 to 4.11 and stuck on upgrade to 5.2. Can you help me ?

Server configuration
Debian 11
zulip 4.11
postgresql-13
postgresql-13-pgdg-pgroonga

/var/log/zulip/upgrade.log
[code]

[2022-06-08 07:26] fatteneder commented on #20213
Hi,

I want to add another thing to the wishlist:

Add an option to pin tasks to a topic which makes it appear somewhere close to the corresponding feed. On desktop I could imagine it taking space from the current active users list in the side bar.

A bit more context: Currently a task list might vanish within a conversation if enough conversation is going on in the same topic. Of course, people w

[2022-06-08 14:15] aparna-bhatt commented on #21785
Ok I will do the needful changes .
Thanks!

[2022-06-08 15:00] mariosmantzaris commented on #21712
@zulipbot claim

[2022-06-08 15:56] N-Shar-ma opened #22215 "Add description matching to the compose stream recipient input"
Currently, the compose stream recipient input's typeahead menu only shows stream suggestions with prefix matching names, and does not consider those streams' descriptions.
![image](https://user-images.githubusercontent.com/68962290/172661844-0d3ee84b-dd5c-4e87-be0f-cc23d98eda59.png)
We'd like to add the ability to match words in descriptions as well to make it easier to find a stream.

---
Edit by

[2022-06-08 16:57] alya commented on #22146
Duncan Keall is working on this issue.

[2022-06-08 17:23] flaviozluca commented on #22120
Thanks, Tim! Cool, that worked, but still, not worth an option "forward with images inline" or to natively by default, preserve the image? More practical to see it immediatly then having to click on the URL.

[2022-06-08 17:28] davidpriest opened #22216 "Feature Request: Mobile App: Copy link to message"
The mobile app supports "Copy link to stream" and "Copy link to topic" commands, accessed by long-press. The app should also support "Copy link to message", accessed by long-press on the message. This will be an addition to the long-press menu that contains the actions "Add a reaction, Reply, Copy to clipboard, Share, Star message."

[2022-06-08 18:03] alya commented on #22216
Thanks for the suggestion! Closing as a duplicate of https://github.com/zulip/zulip-mobile/issues/2623.

[2022-06-08 18:03] #22216 closed, assigned to nobody

[2022-06-08 18:29] alya commented on #22205
If we want to split this into separate tasks/PRs for self-hosted orgs vs. Zulip Cloud, the self-hosted part specifically is a higher priority, as we want it to be included in the 6.0 release.

[2022-06-08 19:18] #22182 closed

[2022-06-08 19:24] #22147 closed

[2022-06-08 19:45] alya opened #22217 "Improve "All streams" UI"
In https://github.com/zulip/zulip-mobile/pull/5333, we update the mobile UI for subscribing to streams. The resulting design is an improvement on the design we have in the webapp, and we should change the webapp to match. At present, it can be hard to discover how to subscribe to streams via the left panel, and it may be confusing why it's not possible to subscribe to private streams, and this iss

[2022-06-08 20:08] alya commented on #22215
Hmm, thinking about this more, I think we should only do it if we can show the stream description. Otherwise it's more likely to be confusing than helpful.

[2022-06-08 20:10] jschu713 opened #22218 "Feature Request: Documentation for installing Zulip on Apple Silicone Chip/M1/M2 Architecture"
In the past few months when trying to use Zulip through the desktop application, I realized installation was not supported for the M1/Apple Silicone Chips. I attempted to install Zulip through a Linux VM but was unable to until I found a program that was able to emulate x86 architecture. In the Zulip documentation I have read that pull requests are submitted through feature branches of open issues

[2022-06-08 20:41] timabbott commented on #22218
@andersk FYI; I thought the Zulip desktop app did work on Apple M1 already; see https://github.com/zulip/zulip-desktop/issues/1076.

[2022-06-08 20:49] jschu713 commented on #22218
Ah I must have missed it then and tried to install the non silicon build. I see the option now on the mac installation [page](https://zulip.com/apps/mac). Though now I am wondering if that option should have its own section or formatted equally with the other macOS download option as it was easy to miss (at least imo).

[2022-06-08 20:57] alya commented on #21856
The color scheme changes could be worked on at this point.

Other parts should wait:
- The alignment parts of this issue are currently blocked on https://github.com/zulip/zulip/issues/21285 / https://github.com/zulip/zulip/pull/20072, but
- As mentioned in the issue description, let's to hold off on search bar changes until https://github.com/zulip/zulip/issues/21798.

[2022-06-08 21:00] timabbott commented on #21753
Structurally, there's 3 things that make up this project:
* Refactoring to change the way that keyboard elements in tooltips are encoded in the DOM to use a reusable `tooltip-keyboard-hint` component that can be styled. We should look at options for doing this -- it's possible we want to make it a proper component like `settings_checkbox` that is included via Handlebars partial syntax rather than

[2022-06-08 21:11] timabbott commented on #21913
I think we'll want to start on implementation for this once #21798 is integrated.

After reading this issue, I think the main question that we still need to specify is how the background for the top bar should work when the screen is ultra wide. At present, Zulip limits the width of the middle column for readability reasons, and thus when a window is ultra wide, we leave blank space at the sides o

[2022-06-08 21:20] timabbott commented on #21973
I think we can aim to start implementation on this once we've integrated the "Private messages" expansion and "Pinned streams" headings; which hopefully won't be too far in the future.

We'll need to see how folks react to the unread color backgrounds, which are the most visible change; I can imagine a world where some folks would prefer monochrome and we offer that as a settings option, but I don

[2022-06-08 21:25] timabbott commented on #22021
I think we should try prototyping this. I can't really tell a priori to what extent we'll feel blocked on integrating this until we've changed the backgrounds, and I think the only way to find that out is try a prototype. It's possible we'll find an intermediate state that we can test-deploy on chat.zulip.org for evaluation or even merge that has only minor changes from the design specified here (

[2022-06-08 21:35] alya commented on #21753
One more to-do: If we have non-tippy tooltips that refer to keyboard shortcuts, we'll need to modify those too according to the new convention. Probably the right approach is to convert them to Tippy; I can file a separate issue.

[2022-06-08 21:46] alya commented on #22059
Related thread: https://chat.zulip.org/#narrow/stream/431-redesign-project/topic/font.20size

[2022-06-08 21:47] alya commented on #22022
Related thread: https://chat.zulip.org/#narrow/stream/431-redesign-project/topic/font.20size

[2022-06-08 21:53] andersk commented on #22218
FYI, [Apple silicon](https://en.wikipedia.org/wiki/Apple_silicon) is different from [silicon](https://en.wikipedia.org/wiki/Silicon) and very different from [silicone](https://en.wikipedia.org/wiki/Silicone).

Both the x86 build and the Apple silicon build work fine on M1. macOS will automatically emulate the former through Rosetta, and the latter will run natively. The automatic upgrader will swi

[2022-06-08 21:53] #22218 closed

[2022-06-08 21:54] alya commented on #22059
Steps 0, 1 and 2 can be worked on.

[2022-06-09 01:33] alexmv commented on #22212
If you have problem running this:
[code]
..or problems with the upgrade after doing so, please re-open this issue!

[2022-06-09 01:33] #22212 closed

[2022-06-09 03:35] nathanielvirgo opened #22223 "Accidentally deleting comments by keyboard shortcuts"
A couple of times now the following has happened to me:

 * I start typing a very long, very technical comment in the text entry box
 * I attempt to type something but hit the wrong key
 * In the course of a few keypresses I somehow manage to select all the text in the text box, overwrite it with a word or two of what I was trying to type, and then close the text box, causing it to be saved as a d

[2022-06-09 06:56] alya commented on #22033
@timabbott correct me if I'm wrong, but I think the proposal above is to change `/#settings/your-bots` to pop up the same modal when you click the "edit" button as we pop up from `/#organization/bot-list-admin`. I don't think @timabbott is suggesting that we get rid of `/#settings/your-bots`.

[2022-06-09 07:01] sahil839 commented on #22033
I read the para below the screenshot and thought that Tim is suggesting to delete/remove the modal from that panel. Nevertheless will wait for confirmation from Tim once.

[2022-06-09 08:30] ritikBhandari commented on #22136
![zulipnotifications](https://user-images.githubusercontent.com/69508348/172800838-bbc3a117-01fa-4fea-b047-891c0df4c365.png)

I've changed other aspects but I can't find the source to change the `Notifications` heading. Can anybody please help me out? @alya @timabbott.

[2022-06-09 11:46] hongquan opened #22227 "How to let API user access uploaded files?"
We have a web application where we leverage Zulip to build chat feature. We created a chat box in our web application and calling Zulip API to receive and send chat messages. The problem is that when one user sends a file, other users in the same stream cannot access the file, getting "You are not authorized to view this file" error, if view from our front-end.

How can I make the files accessible

[2022-06-09 11:48] nathanpalmer opened #22228 "Slack Incoming integration ignores fields"
I am trying to use a Slack integration from Uptime Kuma and when the message comes in it seems to post only the main text and none of the blocks. I decided to try the example from Slack's website and, in-particular, it seems that the `fields` portion is getting skipped over.

Here is the example JSON I'm using

[code]

The message it posts is simply this

<img width="191" alt="CleanShot 2022-06-09

[2022-06-09 14:36] route-2 commented on #21863
@zulipbot

[2022-06-09 17:25] aparna-bhatt commented on #21785
Hey @alya I think I have to open a new PR.
Sorry for the inconvenience.

[2022-06-09 18:02] dronmaxman opened #22229 "Can't upgrade to 5.2. Error: This is not an upgrade -- the current deployment (version 4.11)."
Hi all.
I'm updated my server from Debian 9.13 to Debian 11, from zulip 2.1.2 to 4.11 and stuck on upgrade to 5.2. Can you help me ?

I tried to disable pgroonga using the manual, but it did not work, the error is the same.
https://zulip.readthedocs.io/en/latest/subsystems/full-text-search.html#disabling-pgroonga

I also tried a new server. I deployed a new server, installed zulip 4.11 and restore

[2022-06-09 19:28] aparna-bhatt commented on #21785
@alya made a new PR.Please take a look at it.
Thank you!

[2022-06-10 07:20] tal66 commented on #21900
.

[2022-06-10 11:39] sahil839 commented on #22136
You would need to find the specific template file in `static/templates/settings`. Generally you can use browser inspector to find the class/id of an element and then find the file using `git grep`.

[2022-06-10 12:24] drrosa commented on #22144
@zulipbot assign

[2022-06-10 12:25] drrosa commented on #22144
@zulipbot claim

[2022-06-10 12:39] ritikBhandari commented on #22136
Thank you @sahil839 !

[2022-06-10 20:16] andersk commented on #22229
It sounds like you have previously enabled PGroonga, but then didn’t follow all of the [steps for disabling it](https://zulip.readthedocs.io/en/latest/subsystems/full-text-search.html#disabling-pgroonga)?

[2022-06-11 01:17] dronmaxman commented on #22229
I feel like I need more sleep..
update went without error)) Thank's for help.

But one problem is left.
Photos from ldap not syncing, before the update everything was working correctly.
![zulip_ldap_photo](https://user-images.githubusercontent.com/15871669/173166870-5dc168f3-f435-441d-9c48-21cc7d8fcdef.jpg)

I tried syncing and resetting the cache, but that didn't help.

./manage.py sync_ldap_user