[2015-12-26 07:11] AcidWeb commented on #385
I seen that already.

I don't have problems with rabbitmq starting and no AMQPConnectionError errors.

[2015-12-26 07:12] timabbott commented on #385
Try running `scripts/setup/configure-rabbitmq` and the restarting the Zulip server.

[2015-12-26 07:22] #329 closed

[2015-12-26 07:23] timabbott commented on #329
Closing since there's not enough information to confirm or debug this issue; feel free to comment/reopen if there's more information.

[2015-12-26 07:25] AcidWeb commented on #385
OK. We will see if that solve this problem.

Probably I do not make myself clear - Zulip work correctly. This error appear randomly.

[2015-12-26 07:28] timabbott commented on #385
Given those errors, I think Zulip is not working correctly.  Given your comment about messages out of order (which shouldn't happen if messages are being delivered), I suspect what you're seeing is Zulip's local echo feature displaying messages sent by you that haven't been delivered by the server; you can tell whether this is the case because messages delivered by the server have a timestamp on t

[2015-12-26 07:34] AcidWeb commented on #385
Nothing went missing - we tested that. Both sides see that message is in wrong order with the same timestamp It occur only when messages are sent immediately one after the other.

[2015-12-28 20:10] timabbott commented on #355
Closing this since it seems like a standard apt upgrade notice, unrelated toZulip.

[2015-12-28 20:10] #355 closed

[2015-12-29 07:43] mlosev commented on #124
@timabbott - how do I recover deleted stream? is there any way to enable deleted stream back without touching database directly?

[2015-12-29 08:08] yurapm opened #397 "Cant login as admin and cant register a new user"
Hello! Can you help us, please?

We created a new server (https://52.29.157.64/login) with zulip. But we cant create a new user:(
When I registered a new user on realm (which added by ./manager.py) I saw the '500 Internal Error'

________

Here is our  /var/log/zulip/error.logs:

2015-12-28 10:58:24,423 ERROR    Internal Server Error: /register/
Traceback (most recent call last):
  File "/usr/lib/

[2015-12-29 09:35] yurapm commented on #397
We've added domain @workrocks.com
but when I try to register 'test@workrocks.com' user on this page: https://52.29.157.64/register/
we have an error..

[2015-12-29 16:34] timabbott commented on #397
It looks like the hostname you put as the EMAIL_HOST doesn't resolve.

[2015-12-29 16:34] #397 closed

[2015-12-30 01:37] timabbott commented on #124
You should be able to find it in the database using `manage.py shell`.  It'll have been renamed to have a name of the form `!DEACTIVATED:stream_name` where stream_name is the original name of the stream.  Recipe is roughly:
[code]

and then you'll be subscribed to the stream and able to administer it further

[2016-01-01 09:29] mlosev commented on #124
@timabbott thanks! This really helped me!

[2016-01-02 02:39] codepython opened #399 "after run vagrant up ,there is no /srv/zulip-venv found"
there only is /srv/zulip folder .

[2016-01-02 04:55] codepython opened #400 "clone django trouble"
pip install -r requirements.txt
Collecting git+https://github.com/rwbarton/django-guardian.git@caf9f0c8c035feb3dff5542fb042dd13126cdd69 (from -r requirements.txt (line 19))
  Cloning https://github.com/rwbarton/django-guardian.git (to caf9f0c8c035feb3dff5542fb042dd13126cdd69) to /tmp/pip-TBLs_0-build
  Could not find a tag or branch 'caf9f0c8c035feb3dff5542fb042dd13126cdd69', assuming commit.

[2016-01-02 04:59] timabbott commented on #400
That's not a bug, those is indeed supposed to be a commit ID

-Tim Abbott (mobile)
On Jan 1, 2016 8:55 PM, "AndyLau" <notifications@github.com> wrote:

[2016-01-02 05:38] codepython commented on #400
pip install -r requirement.txt hang up at django clone:

Collecting git+https://github.com/rwbarton/django.git@59f1fc4c7b65d23fceffd5c87e2b6ea350030c56 (from -r requirements.txt (line 1))
  Cloning https://github.com/rwbarton/django.git (to 59f1fc4c7b65d23fceffd5c87e2b6ea350030c56) to /tmp/pip-4Fv9KC-build

[2016-01-02 06:28] codepython opened #401 "Verify new enough version of node.js in installation process"
gyp: Call to 'node -e "require('nan')"' returned exit status 1. while trying to load binding.gyp
gyp ERR! configure error
npm http 200 https://registry.npmjs.org/cryptiles/-/cryptiles-2.0.5.tgz
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (/usr/share/node-gyp/lib/configure.js:431:16)
gyp ERR! stack     at ChildProcess.EventEmitter.emit (events.js

[2016-01-02 07:08] timabbott commented on #400
That step usually takes a long time even with a good network so if you have
a slow network it may appear to hang even when making progress.

-Tim Abbott (mobile)
On Jan 1, 2016 9:38 PM, "AndyLau" <notifications@github.com> wrote:

[2016-01-03 10:59] codepython opened #402 "mac virtualbox vagrant"
if I use vagrant up to set up dev enviroment ,do I need to install requirement by hand after 'vagrant up' command ?

[2016-01-03 10:59] codepython commented on #402
the document is not so clear about details

[2016-01-03 11:12] AcidWeb commented on #385
This warning still appear. Fun fact: It appear even when Zulip is not used at all.

[2016-01-03 11:53] codepython commented on #400
the clone has not give any interactive progress information.

[2016-01-04 01:30] zhouyq commented on #135
+1

[2016-01-04 03:58] timabbott commented on #400
Yeah pip doesn't provide output when downloading a large file.  You can probably check the status by using `du` on the path it's cloning to that it printed out (in this case /tmp/pip-4Fv9KC-build).

[2016-01-04 03:58] #400 closed

[2016-01-04 04:00] timabbott commented on #402
No, you just need to follow the steps indicated in the README.dev.md ; it will automatically install the dependencies inside the Virtualbox VM.

[2016-01-04 04:00] #402 closed

[2016-01-04 04:43] timabbott commented on #399
Are you checking inside the vagrant guest VM?  Vagrant creates directories like /srv/zulip-venv in the guest VM, not on the host machine.  Use `vagrant ssh` to login to the VM.

[2016-01-04 04:43] #399 closed

[2016-01-04 07:48] codepython opened #403 "vagrant up errors"
==> default: W
==> default: :
==> default: Failed to fetch http://security.ubuntu.com/ubuntu/dists/trusty-security/main/source/Sources  Hash Sum mismatch
==> default: W
==> default: :
==> default: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/main/source/Sources  Hash Sum mismatch
==> default: W
==> default: :
==> default: Failed to fetch http://archive.ubuntu.com/ubuntu/di

[2016-01-04 07:53] timabbott commented on #403
That's an error running `apt-get update` against the standard Ubuntu servers and thus not related to Zulip; this could in theory happen if you run it while a mirror is updating, but could also be caused by other things, e.g. a malicious server posing as archive.ubuntu.com or a broken mirror server.

If it's an update issue, trying again should work.

[2016-01-04 07:53] #403 closed

[2016-01-04 09:39] codepython opened #404 "Provide clearer error message for missing node dependencies when running ./tools/run-dev.py"
2016-01-04 09:38:23,340 INFO: process_fts_updates starting
2016-01-04 09:38:23,371 INFO: Not in recovery; listening for FTS updates
Recompiling templates

module.js:340
    throw err;
          ^
Error: Cannot find module '/srv/zulip/node_modules/.bin/webpack-dev-server'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Function.Modul

[2016-01-04 17:13] thehatchcloud opened #405 "Refactor webathena authentication to be disabled by default"
`zerver/views/__init__.py` line 258

This function appears to default Kerberos authentication to the mit.edu realm? Is there a reason for that? If not, seems like something that was left in there at some point and should be removed.

[2016-01-04 18:08] ulope opened #406 "Provide inline URL preview"
Please provide an inline link preview similar to the image preview. This is very useful in Slack for example.

[2016-01-04 18:51] timabbott commented on #406
Is what you have in mind a generic "headless browser takes a screenshot of the website" thing, not an integration specific to the site in question?

[2016-01-04 18:54] timabbott commented on #405
Yeah it's hardcoded for a reason, since the web Kerberos service it talks to only exists for MIT; see https://webathena.mit.edu/.

We shouldn't remove the code, because the mit.edu realm still runs for zulip.com but I think it would make sense to move it to another file and make it an option that's disabled by default.

[2016-01-04 19:14] joubertredrat opened #407 "Documentation about EmailAuthBackend"
Hi guys,

I'm trying to install Zulip on my server but I can't make EmailAuthBackend work. I'm trying to find documentation about this auth option but I didn't found.

Is possible to display more information about this option on documentation? Thanks

[2016-01-04 19:19] timabbott commented on #407
Can you give more detail on the error you're getting?  Currently the backend is primarily documented in local_settings_template.py right where you configure it.

[2016-01-04 19:20] timabbott commented on #407
Also, what quetions do you have that you'd like to see answered in the documentation?

[2016-01-04 19:39] joubertredrat commented on #407
Hi @timabbott

Documentation on file don't show what hash I need to use to put email_password password on zulip-secrets.conf

Only error that I have is when I try to register. On login don't show error.

[code]

[2016-01-04 19:55] ulope commented on #406
No, they're using some form of automatic content extraction.

[Slack's documentation on that feature](https://get.slack.help/hc/en-us/articles/204399343-Sharing-links-in-Slack)

Some examples:

![example1](http://cl.ly/0S3A1h2r0140/Image%202016-01-04%20at%208.48.02%20nachm..png)
![example2](http://cl.ly/2x2U0M3p3Q0f/Image%202016-01-04%20at%208.49.46%20nachm..png)

In the documentation it reads as

[2016-01-04 19:56] timabbott commented on #407
This looks like an issue with the configuration of Django's standard
outgoing email service (which is what Zulip uses); while I'm not sure what
the precise problem is, if you google for "django SMTPServerDisconnected"
there's plenty of debugging tips for this.

If you figure out what the issue is, report back and we can update the docs!
​

[2016-01-04 19:59] timabbott commented on #404
This is probably caused by not running `npm install` successfully to install the node.js webpack dependencies (this is done automatically as part of the Vagrant provision process) or not running the server inside the Vagrant guest.  It might be good to make the error message clearer so I'll leave this open for fixing that.

[2016-01-04 20:14] timabbott commented on #406
OK cool.  Yeah, this would be a great feature to add.

[2016-01-04 20:45] ajvb commented on #115
@ecylmz What was the ruby version that it worked with?

[2016-01-05 00:26] timabbott commented on #115
It works with the ruby that comes with Ubuntu Trusty, which is currently
1:1.9.3.4

The issue here is a puppet/ruby version incompatibility; it probably would
work with newer ruby if one also upgrades puppet, but I haven't tested.

        -Tim Abbott

On Mon, Jan 4, 2016 at 12:45 PM, AJ Bahnken <notifications@github.com>
wrote:

[2016-01-05 02:00] codepython commented on #404
then should I rerun npm install manually inside ubuntu?

[2016-01-05 02:11] codepython commented on #404
that is all error messages that   it print out .

[2016-01-05 05:37] timabbott commented on #404
Yeah try running `npm install` inside the Vagrant guest and see if that
works or at least gives a clear error message.  If that doesn't work and
you want to start over, you can rebuild the Vagrant guest using `vagrant
destroy` and then `vagrant up`.

        -Tim Abbott

On Mon, Jan 4, 2016 at 6:11 PM, AndyLau <notifications@github.com> wrote:

[2016-01-06 02:58] timabbott commented on #132
It looks like Serbian and German are getting pretty close to 100% translated for the parts that we have tags for, which is great!

[2016-01-06 03:03] #297 closed

[2016-01-06 03:03] #308 closed

[2016-01-06 03:03] #105 closed

[2016-01-06 03:05] timabbott commented on #283
This was resolved with #288.

[2016-01-06 03:05] #283 closed

[2016-01-06 03:06] timabbott commented on #311
Also we `rm -rf` `VENV_PATH` in provision.py, so even if we were to address the pip issue, we'd still have this problem.  @lfaraone is there a reason we shouldn't remove the code to delete `VENV_PATH` to at least not require everything to be redownloaded every time?

[2016-01-06 06:59] akuckartz commented on #132
:+1: interested in German localisation.

[2016-01-06 18:17] thehatchcloud commented on #405
Thank you for the clarification, Tim! I appreciate the information.

[2016-01-07 08:29] janekwonner commented on #105
Hello,

i've imported the VM in Virtualbox and configured a SMTP-Server.
The problem is, i can't register an account - error message: "Your e-mail does not match any existing open organization. Use a different e-mail address, or contact ********@*****.de with questions."

Authentication Backend is "EmailAuthBackend" and also the other settings should be correct.

Do you have an idea what the probl

[2016-01-07 09:49] BornToBeRoot commented on #132
This would be nice if someone help with translating... i have no time to do this alone :smile: And i need someone who review all translated strings.

[2016-01-07 22:42] asmartin opened #408 "Distinction between group private messages and individual private messages"
It would be nice if instead of having a single `Private messages` heading on the top-left that shows the combined notifications for all private one-on-one messages and all private group messages there would be two separate headings:

-    Private Messages
-    Group Messages

The problem my users have run into is a noisy group message prevents you from seeing that you have a new private one-on-one

[2016-01-08 04:35] timabbott commented on #408
Hmm I definitely see the use case here, but I'd worry a bit about complicating the UI by having a long list of left-sidebar filters.  This could be a case where an option to control whether those are separated in the UI makes sense, but I'd love to come up with something simpler.

OOC, have you thought about whether frequent, long, group private message conversations are a situation where you shou

[2016-01-08 07:04] timabbott commented on #132
@akuckartz feel free to ask to join the German project for Zulip on Transifex if you want to help!

For those following these are the current progress stats:
[code]

[2016-01-08 07:04] timabbott commented on #105
Check out https://github.com/zulip/zulip/blob/master/README.prod.md#authentication-and-logging-into-zulip-the-first-time

[2016-01-10 05:24] rwbarton commented on #302
This is broken in the Vagrant dev environment too; 14.04 has npm 1.3.10. The effect is that `/webpack/bundle.js` 501s because `tools/webpack watch` does not run. However, I don't know whether this has any visible effects.

[2016-01-10 06:53] #205 closed

[2016-01-10 07:04] timabbott commented on #302
That has no visible effect other than being spammy -- webpack is currently being tested for whether it has a stable toolchain before we use it for anything real.  So far it's been pretty unstable -- the same command will work one day and not the next, I think because webpack has like 300 dependencies and frequently at least one of them is broken...

I built a new Vagrant Dev VM today and it worked

[2016-01-10 18:25] rwbarton commented on #194
Just a quick note for now: `/etc/default/rabbitmq-server` is actually managed by puppet, instead of (or in addition to?) the distro, so upgrading Zulip will revert any changes to that file...

[2016-01-10 18:34] rwbarton commented on #208
@timabbott I got the same error as @wolfen351 `django.db.utils.OperationalError: FATAL:  the database system is shutting down`. Only the puppet output looks relevant, here it is:
[code]

`Exec['pg_ctlcluster 9.3 main restart']` has a subscribe relationship on `File['/etc/sysctl.d/40-postgresql.conf']`. I guess the latter file changed because I resized this VM since doing the original installation,

[2016-01-10 18:36] timabbott commented on #208
I actually think I just fixed that bug in #412 -- in particular 75b5a1b8dad47df28c9b70e74fc7c4270f1fd449 and e7353902dfc84372c50eefe2ecf31a77a57b8b17; the issue was that it wasn't correctly stopping the services using postgres so restarting didn't work.

[2016-01-11 07:41] janekwonner commented on #105
The configuration is correct but it's still not working.

[2016-01-11 23:53] dbiollo opened #417 "tools/zulip-export/zulip-export not scalable"
I was looking at get_old_messages and noticed that the zulip/zulip-export script makes a remote api request hitting that endpoint with a potentially very large value for "num_after". Exporting a stream with a ton of messages (think 100K +) could take a very long time and may be open to DOS.

In particular, this is the code that calls *get_old_messages* with potentially very large value of max_id.

[2016-01-12 05:32] timabbott commented on #417
Yeah this is not a historically widely used tool but I think the right approach is to batch and loop as you describe.  I think it's adding the subscription and then fetching messages to get a message ID that's higher than the max message ID in the stream; I think we could probably hardcode a super big number and achieve roughly the same effect (or if we wanted to do something cleaner, use a more d

[2016-01-12 05:37] #208 closed

[2016-01-12 10:03] WanzyShu opened #418 "zulip-tornado: ERROR (abnormal termination)"
when I start zulip ,I got an error:
zulip-tornado: ERROR (abnormal termination)

cat /home/zulip/deployments/current# cat /var/log/zulip/
raceback (most recent call last):
  File "/home/zulip/deployments/current/manage.py", line 24, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 338, in execute_from_command_lin

[2016-01-12 16:14] timabbott commented on #418
Your problem is that EXTERNAL_HOST should be the DNS name for the server, not an IP address and definitely not the special address 0.0.0.0.  If you fix that and restart the server that should resolve this problem.

[2016-01-12 16:14] #418 closed

[2016-01-13 04:24] WanzyShu opened #423 "I can't login as zulip"
when I login as zulip, i got an error in page:
                  email:myUserName@myDomain.com
                   password:myPassowrd

for login ,i got this:
Please enter a correct email and password. Note that both fields may be case-sensitive.

my settings.py

AUTHENTICATION_BACKENDS = (
#                           'zproject.backends.EmailAuthBackend', # Email and password; see SMTP setup below

[2016-01-13 04:27] WanzyShu commented on #418
yes i'd fix that ,but i'm not modify EXTERNAL_HOST in settings.py

i'm modify /etc/supervisor/conf.d/zulip.conf

change python2.7 /home/zulip/deployments/current/manage.py runtornado localhost:9993 to python2.7 /home/zulip/deployments/current/manage.py runtornado 127.0.0.1:9993

and now  it works!
ths for you help!

[2016-01-13 07:23] WanzyShu commented on #423
I have a new problem,

The ldap server can be connect and authenticate, and I config SMTP SERVER to register and reset password ,but  I still can't login system, them alwasy told me:

Please enter a correct email and password. Note that both fields may be case-sensitive.

and i can sent email and receive mail .

I don't know what's wrong , pls help me . ths

[2016-01-13 07:27] WanzyShu commented on #423
i got this error:

2016-01-13 02:24:57,930 ERROR    Internal Server Error: /
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/usr/lib/python2.7/dist-packages/django/contrib/auth/decorators.py", line 22, in _wrapped_view
    return

[2016-01-13 07:27] WanzyShu commented on #423
root@xg-zulip-test-1:~/zulip/templates/zerver# netstat -ntlp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 127.0.0.1:5432          0.0.0.0:*               LISTEN      23975/postgres
tcp        0      0 0.0.0.0:25              0.0.0.0:*               LISTEN      22474/master
tcp

[2016-01-13 07:28] WanzyShu commented on #423
cat /ets/hosts
127.0.0.1       localhost

[2016-01-13 08:20] WanzyShu commented on #423
I fix it,  I think this is a bug,

in zproject/settings.py:
   TORNADO_SERVER="localhost:9993"

   they told me: InvalidSchema: No connection adapters were found for 'localhost:9993/api/v1/events'

change it to:
 TORNADO_SERVER = http://127.0.0.1:9993

it works !

[2016-01-13 11:02] WanzyShu commented on #423
when I restart zulip ,i got new error:
zulip-deliver-enqueued-emails has problem

cat events-deliver_enqueued_emails.log

Traceback (most recent call last):
  File "/home/zulip/deployments/current/manage.py", line 24, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 338, in execute_from_command_line
    utility.e

[2016-01-13 18:11] bedge commented on #401
Same thing on Ubuntu 14.04:
[code]

[2016-01-13 23:57] Wylfenrix opened #424 "Request: Remove users from an Invite-Only Stream"
Hi there,

I'd like the ability to remove users that have been added to an invite-only Stream that I've created. I hope that there's some sense of which user is an "owner" or "creator" of a Stream, so not just anyone can remove users, but so the owner/creator has those permissions to do so.

Once the user is removed, then the Stream should also no longer appear in their left-hand Streams panel.

S

[2016-01-14 00:36] Wylfenrix opened #425 "Request: Set permissions of users invited to Invite-Only Stream"
It'd be helpful if I could set different levels of permissions for users that I invite to the Stream I've created.

Permissions could be various levels of most strict to least strict, such as:
**Most Strict** - User can view chat, but cannot reply to chat. User cannot add new members to this Stream, and cannot create new topics (essentially letting the Stream or topic creator use it as an "announc

[2016-01-15 10:27] melbel opened #426 "Notification Bot message breaks renamed or removed streams"
When someone creates a new stream, Notification Bot writes a message to the Stream _Zulip_ with the content

**Streams**
_<user>_ just created a new stream _<stream>_. `Subscribe to <stream>`

with the Subscribe being a button and changing to Unsubscribe afterwards if one is subscribed.

Now if that stream gets renamed or deleted later, the button still exists, and a click will actually create a n

[2016-01-15 15:23] timabbott commented on #426
Yeah I noticed this recently as well.  I think there are probably two solutions:
(1) Adding some code when a stream is renamed to rerender any of these announce messages that contain the stream name button; this has some performance risks but is probably manageable.
(2) It should be possible to fix this by using the stream ID, rather than the stream name, and then we can send an event to update th

[2016-01-15 15:40] melbel commented on #426
From a POLA standpoint, I can see issues with both solutions:

(1) would change facts. If I create stream *foo*, the bot says so. If that stream later gets renamed, changing the message to *bar* would make the announcement wrong. I did not create a stream *bar*, I created *foo*.
(2) Will probably confuse users for all but the most obvious typos. I click on *subscribe to stream foo* and get subscri

[2016-01-15 16:00] melbel commented on #426
Forgot: there already is the most common way where clicking that button will fail with a rather nondescript error message: when someone creates a stream that later gets made private.

[2016-01-15 21:42] bgilbert opened #427 "Muting a topic with unread messages doesn't update the unread count"
Sometimes, if the user mutes a topic with unread messages, the global unread count (next to Home, in the title bar, in the favicon, etc.) is not updated to deduct the muted messages.

[2016-01-15 21:44] bgilbert opened #428 "Titles of muted topics in muted streams are unreadable in left sidebar"
In the left sidebar, muted topics within muted streams are shown double-dimmed.  The resulting text is so faint that it's almost unreadable.

[2016-01-15 22:19] bgilbert opened #429 "Android app can't authenticate to a development-mode Zulip instance"
The Android app authenticates via the `api_fetch_api_key` view, which calls `django.contrib.auth.authenticate` with a `username` and `password`.  Of the `AUTHENTICATION_BACKENDS` enabled by default in development mode, none have an `authenticate` method that takes `username` and `password` arguments, so `django.contrib.auth.authenticate` fails without consulting any backends.

[2016-01-16 07:20] MarkCupitt opened #430 "Improve documentation of SSl Certificate configuration"
I am having trouble getting my positivessl (Comodo) certificate to work with zulip

I have the ssl issued against chat.mydomain.net and the certifcate iarrived with a .ca-bundle (usually used for apache) and a crt file I have the key file I used to generate teh CSR installed as explained in the installation notes

I have tried converting the ca-bundle to pems, renaming to crt's using the zulip.com

[2016-01-17 22:11] chikhi commented on #78
How have you setup the admin password access, because i followed the instructions
and i have a working system i guess, but i do not know what to put in the admin/password page
on https/zulip ????

[2016-01-18 08:56] pkaske opened #432 "Generate thumbnails of uploaded images"
and load those in the message stream instead of a scaled down version of the full resolution.
If you don't have a quite fast upload speeds it takes like forever to get that stuff from the server.

[2016-01-18 09:08] phillip-white-sociomantic commented on #78
@chikhi The first user you register will be promoted to admin. So try to register a user first. Hopefully your smtp settings are all correct :)

[2016-01-18 12:42] chikhi commented on #78
Well, How do i register the first user, sorry i am lost with all these
options

I do not know which one to une with a local network

Without internet i mean !!!

On Mon, Jan 18, 2016 at 4:08 AM, Phillip White <notifications@github.com>
wrote:

[2016-01-18 13:04] phillip-white-sociomantic commented on #78
@chikhi

First, if your zulip instance is on a local network, and it was internet access, you can use any smtp service, such as gmail. If your instance is on a network without internet access, you will have to setup a local smtp server.

Registering the first user won't work until the smtp is setup in `/etc/zulip/settings.py` and the password in `/etc/zulip/zulip-secrets.conf`. After that, on the

[2016-01-19 16:23] asmartin commented on #150
+1

[2016-01-20 09:56] MarkCupitt opened #435 "Is there a cron job that restarts Zulip on a Sunday Morning"
My server is restarting, it appears early Sunday Mornings and causes me some issues as it is a Dev Server. I recall reading that there was a cron job to do this, but I cannot find a crontab entry for this

How does this work if there is no crontab entry and how can I disable it, even if it is just temporarily

Thanks in Advance

Mark

[2016-01-20 18:09] timabbott commented on #432
This is a good idea; if people are sending large images in messages, that can easily be a strong majority of the total data transferred by a Zulip instance.

This is probably not super easy to implement, since there are security issues around thumbnailing images that would need to be handled carefully (unfortunately, image-processing libraries often have security bugs).  Unless there's a third-par

[2016-01-20 19:37] timabbott commented on #435
Yes there is!  It's installed under /etc/cron.d/restart-zulip

OOC what problem(s) is this causing for you?  I'd certainly be up for making this better documented and easier to control (e.g. adding a config entry in the Zulip config file for whether to do this) if that would help.

[2016-01-20 19:47] timabbott commented on #188
@rfilmyer just wanted to check in on the status of this since other folks are asking about the uninstall process :)

[2016-01-20 23:02] timabbott commented on #189
Fixed in a recent PR; the link is here: https://github.com/zulip/zulip/blob/master/README.prod.md#backups-for-zulip

[2016-01-20 23:02] #189 closed

[2016-01-21 06:06] timabbott commented on #428
Definitely a bug.  Is there a use case for muting a topic within a muted stream?  It could make sense to make this not a thing you can do rather than fixing the dimming...

[2016-01-21 06:07] timabbott commented on #427
Interesting, do you have a reproduction recipe (or other context on the situation) for this?

[2016-01-21 06:10] timabbott commented on #430
The problem here is likely that you need to include the full certificate authority chain, not just the certificate; see the section on certificate chains here for how to do this: http://nginx.org/en/docs/http/configuring_https_servers.html

(If you have thoughts on how we should tweak the docs to make this clear, let me know!)

[2016-01-21 06:14] timabbott commented on #429
It's easy enough to configure password auth in the development environment, but I agree it'd be nice to have a mechanism for the Android app to auto-auth into the development environment too.

@lfaraone do you think the right fix here is to modify the Android app or would it make sense to modify the server to e.g. accept any password for in the mobile auth endpoint for `fetch_api_key` if `DevAuthB

[2016-01-21 06:21] timabbott commented on #426
Oh, I see, you're suggesting making the button error if the stream doesn't exist rather than the current "create a stream" which is definitely wrong; I'd actually only noticed that it was weird the button had the strong stream name and had missed that detail.  I think that'd be a great incremental improvement over the current situation.  It should be fairly doable to fix it; just tweak the call to

[2016-01-21 06:25] timabbott commented on #401
Can you give the full log output for what's going on here?  The Zulip installation process doesn't explicitly call `node-gyp` (and in fact that isn't even in my PATH on my Trusty system) so I'm a bit confused as to what exactly you're doing...

[2016-01-21 06:31] timabbott commented on #423
The password reset email should use a URL based on EXTERNAL_HOST; can you confirm what different value you're seeing?  Reading the code it seems possible there might be some caching in the database going on.

I think that traceback means that your SMTP server only supports sending email with a "From" address that's different from the email account being used to send the email.  We should probably

[2016-01-21 06:35] timabbott commented on #425
Agreed that we probably will need to do some form of stream permission levels eventually.  @wdaher do you have ideas for what the right model structure should be here?

[2016-01-21 06:38] timabbott commented on #424
Currently a realm administrator can remove other users from a stream (and of course users can remove themselves and any user subscribed can check who is subscribed and thus confirm it happened).  We will likely need to create a notion of a stream owner who can do the same but only for the streams they administer.

[2016-01-21 06:39] bedge commented on #401
I solved my issue by moving to a newer nodejs installation process documented here: https://github.com/nodesource/distributions#debinstall
There were a number of modules failing with the older nodejs included in Ubuntu installations.
This is no longer a problem for me.

[2016-01-21 06:40] wdaher commented on #425
Truthfully, not really - I'd probably look at e.g. the permission model in something like Google Groups for inspiration — the roles @Wylfenrix seem reasonable: e.g. can talk, can add members to stream, can modify members in stream, can create new topics, etc.

Having said that, I'd encourage us **not** to implement this right now — it increases the product's complexity significantly and I don't th

[2016-01-21 06:41] timabbott commented on #401
OK cool, good to know that's the solution to this issue.  I guess we should document or test for a new enough node.js in the install process.

[2016-01-21 07:59] pkaske commented on #432
I fully understand your concerns for security, but I thing a third party thumbnail API is problematic as well. At least for companies in Germany (or EU altogether?). The moment your business data is stored on servers outside the EU you're no longer compliant with data protection laws. At least to my knowing. Thus you wouldn't be allowed to use the thumbnail feature as a German company if your imag

[2016-01-21 08:03] timabbott commented on #432
I completely agree that a third-party thumbnailing service would have to be a configuration option so it can be disabled by folks who have more intensive data privacy requirements (whether by law or company security policy).  The reason I mentioned that idea is that it could provide a quick path to offering something in this direction for those users who don't have sensitive data (and e.g. get the

[2016-01-21 10:21] niklasenB commented on #132
Hi there,
great project! I'd like to assist for German locale
Request on transifex is pending.

thanks
cheers

[2016-01-21 16:58] timabbott commented on #132
Great @niklasenB, I approved you on Transifex!

[2016-01-22 02:38] danshev commented on #201
Anyone end up setting up a test server?

[2016-01-22 07:47] WanzyShu commented on #423
yep,  I used ldap login and I can login now.

The email server send email to me ,and I can login, and I register email accounts is OK, no problem.

But I restart zulip server , I get this error.

The most important thing is that I have not set u'Zulip zulip-admin@ele.me'。I don't know where it from.

By now , I did not solve the problem。And reset the password is not important, we use ldap。

[2016-01-22 13:01] niklasenB opened #438 "Internal Server Error on Login"
Hi,
I have been testing Zulip a little and set up some Streams and test accounts.
That was yesterday.
Today, without even touching any of the configuration I have issues logging in with any of my accounts incl. the Admin User. I have enabled the Auth backend via Email and Password.
The error I get on clicking login is:

*500: Internal server error.
Well oops. This one's probably our fault. Sorry a

[2016-01-22 13:08] niklasenB commented on #438
Ok, just found an answer in #314 and ran *rabbitmq-server*
but as soon as I hit Ctrl + C it's killing the process and Zulip stops working:

[code]

[2016-01-22 13:18] niklasenB commented on #132
Thanks for approval! How can I test the django.po file to see the texts in context; where does it go in the file structure and how to load it?

[2016-01-22 17:45] danshev commented on #135
+1

[2016-01-22 22:27] timabbott commented on #132
You can generate a copy of django.po via `manage.py makemessages` ; I think it'll end up going under locales/ in the root of the repo when we check it in.  To see it in context, one thing you can do is just in the repo use `git grep 'string to translate'` to find where it is in the code.

[2016-01-22 22:28] timabbott commented on #438
Use `/etc/init.d/rabbitmq-server start` to run it as a daemon in the
background instead...

        -Tim Abbott

On Fri, Jan 22, 2016 at 5:08 AM, niklasenB <notifications@github.com> wrote:

[2016-01-24 01:40] timabbott opened #441 "Improve performance of backend tests by eliminating guardian"
The zulip backend tests currently take about 90s to run on my machine.  I did some profiling using the new code in #440, and found the following primary issue we should optimize:
* about 40s is spent in django guardian's `has_perm` function to check whether users are admins; this seems crazy.  It's worth either optimizing this or ceasing to use Guardian.  Given that I don't think we're getting muc

[2016-01-24 02:02] timabbott commented on #375
@dbiollo so looking at issue 4, I think there's a few things that would need to happen if we wanted to remove that cache:

(A) I pushed a small commit to https://github.com/timabbott/zulip/tree/tabbott-user-dicts removing some of the users of get_active_user_dicts_for_realm

(B) With that change, most of the zerver/lib/actions.py accesses can just use `active_user_ids(realm)`, which we can reimple

[2016-01-24 15:41] e-tagirov commented on #132
Russian finished off up to 100% on transifex, (maybe there are some errors :) )
I'm not good at django and so do not understand how to add ".po" file to Zulip server. Can anyone help?

[2016-01-24 19:43] timabbott commented on #132
@e-tagirov awesome!  I can take care of putting the translation data into the next release.  Since I'm strapped for time, if anyone wants to test the process out before I get a chance, that'd be very helpful; I think the process is documented here: https://docs.djangoproject.com/en/1.8/topics/i18n/translation/#compiling-message-files

[2016-01-24 19:45] niklasenB commented on #132
That sounds perfect! I will try to finish the German part asap as well - what's the next release date?

[2016-01-24 19:48] timabbott commented on #132
@niklasenB there's no firm schedule (releases are gated on enough interesting improvements to make it feel worth the effort to do the release) but I've been targeting around 1/month and the last one was late last week, so you've got at least a few weeks...

[2016-01-24 21:34] bgilbert commented on #428
I discovered it by muting a stream that already had muted topics.  I'd think it should be possible to temporarily mute a stream, unmute it later, and have topic mutes remain intact.  Is it important for the sidebar to visually distinguish muted topics within muted streams?

[2016-01-24 21:44] bgilbert commented on #427
Not really.  It's happened to me a few times, always when muting a topic from the Home view.  Sometimes it corrects itself as I advance through other unread messages.  Sometimes it'll still be wrong when I've completely caught up, but fixes itself later.

[2016-01-24 23:28] timabbott commented on #428
I don't think it's important to visually distinguish those cases, but I'd be interested to hear if anyone disagrees.

[2016-01-25 07:25] MarkCupitt commented on #435
I was able to remove the cron and the issue went away ..

We installed Zulip on a standalone server and another server that ran Apache 2. As predicted the Standalone went well, but issues developed on the server that was used for other things. We do not use VM's we use physical hardware, so we wanted to assess how much impact there really was on using Zulip on a non dedicated machine

When startin

[2016-01-25 07:27] MarkCupitt commented on #430
Yep, that was the problem, the link was enough to get it sorted out, It would be worth distinguishing between self-signed installation and Full Chain installation on Nginx in the Production Install instructions

Just make it clear if you are using a purchased certificate and NOT self-signed certificate, use the instructions in the link would be enough .. once the penny dropped, had it running in 5

[2016-01-25 07:36] MarkCupitt opened #444 "Selectively Remove Direct Message and Invite to Stream Capability from Zulip Users"
We will most likely move to Zulip form Slack for three reasons
1. Self hosted - no issues with sensitive data on external servers
2. Threaded Conversations - WOW
3. Ability to modify to suit our needs

On Slack, our DM/Channel Messag ratio was about 90%, we had no way to enforce people to use Channels (Streams) so that members of the team could benefit from the exchanges collectively

We want to i

[2016-01-25 07:39] MarkCupitt commented on #429
Quick Note, will be submitting a Pull Request in next week or so for the Android App where we have added the server url on the login page same approach as the iOS app, will this solve the issue??

[2016-01-25 18:43] bgilbert commented on #429
@MarkCupitt Nope.  This issue is about getting development-mode Zulip to correctly authenticate after the app connects, not about getting the app to connect to the right Zulip instance in the first place.

[2016-01-25 21:40] davidhkc opened #445 "Support sharding of the Tornado server"
Right now, the tornado server is a single point of failure and a bottleneck in scaling out Zulip. I took a quick look at the code and thought it shouldn't be terribly hard to support sharding if we modify TornadoQueueClient to converse with RabbitMQ via a fanout exchange (pub/sub).

Messages on the "notify_tornado" queue can be broadcast to all tornado shards, and the rest of the code should work

[2016-01-25 22:01] timabbott commented on #445
Yep, that sort of broadcast to all the shards with a future upgrade to do a subset is my current plan for how to handle multiple queue server shards.

With #395, I think we do what we want without nginx session affinity if we namespace queue IDs to include the ID of the queue server in them.  Since to clients, the queue ID is just an opaque string, that upgrade could be backwards-compatible.

If y

[2016-01-27 04:49] timabbott commented on #444
So there are a few features discussed here:
* Being able to restrict who can invite other users to streams is a totally reasonable feature to support.  The simplest implementation would be to add a flag on the Realm object with the effect of enforcing that only administrators can add other users to streams; would that work for your purpose?  If so, that's a feature that's of general interest so I'

[2016-01-27 11:15] Lynngre commented on #201
Also desperately looking for a demo of some kind.

[2016-01-27 16:20] timabbott commented on #430
@MarkCupitt can you take a quick look at #447 which I think should resolve this?

[2016-01-27 20:51] hlieberman opened #448 "Emails should come from user, not system email"
In order to prevent contamination of email auto-complete lists, I suggest that we change the semantics of how Zulip emails are sent slightly.

Emails from away messages should be From the email address of the user/s who caused the message to be sent, while the Sender header should be used to indicate the emails are on behalf of the Zulip installation.  (ZULIP_ADMINISTRATOR, or some thing else? DEF

[2016-01-27 21:20] timabbott commented on #448
There's existing code that should do some of this here:
`https://github.com/zulip/zulip/blob/master/zerver/lib/notifications.py#L342`
in the hardcoded realm=zulip.com case.  I think there may be a few issues with that codepath (it doesn't have a good mechanism for clearing the reply headers).

@karamcnair how far did you get in your work on making it possible to turn this on unconditionally?

[2016-01-28 15:46] Galexrt opened #449 "Database migration problem"
When I run the `manage.py migrate --noinput`, I'll get the following error:
[code]

This is my current `/etc/zulip/settings.py`:
(Everything expect the lower part is the default, expect `example.com` has been replaced with `test.com`)
[code]
Is there something wrong with the config? I would appreciate a hint to fix this, because then I can fix the final "bug" in the official docker image and creat

[2016-01-28 17:08] markdwags commented on #135
Yes, please.  Being able to delete / purge topics would be great.

[2016-01-28 17:59] timabbott commented on #449
I think the issue issue you need to run `scripts/setup/postgres-init-db`.

        -Tim Abbott

On Thu, Jan 28, 2016 at 7:46 AM, Alexander Trost <notifications@github.com>
wrote:

[2016-01-28 18:17] Galexrt commented on #449
@timabbott Oh I completely forgot about the `postgres-init-db` script. Thanks for the hint!

[2016-01-28 18:17] #449 closed

[2016-01-29 16:18] asmartin commented on #286
Moreover if you enable the "derive avatar from `jpegPhoto`" toggle, then users should no longer be able to customize their avatars from their profile page

[2016-01-29 18:03] timabbott commented on #286
Yep, that makes sense.

[2016-01-29 22:23] dbiollo opened #452 "Support for OAuth2 token authentication for API?"
I've been working on an OAuth2 extension to allow Zulip to generate access tokens, allowing clients to call with the Bearer token in the Authorization header. Currently using the django-oauth-toolkit (https://django-oauth-toolkit.readthedocs.org/en/latest/index.html).

That library provides various ways to hook in the token authorization - hooks into djangorestframework; "@protected_resource()" de

[2016-01-29 22:59] dbiollo commented on #452
Maybe something like this. How do you feel about authenticating users at the Middleware layer?

[code]

[2016-01-29 23:04] asmartin opened #453 "Zulip Components"
Can you describe what each component that compromises the Zulip stack is used for? I would like to better understand how each piece works together. From what I can see, Zulip uses these technologies:

-    postgres
-    redis
-    rabbitmq
-    nginx - serves python (the web frontend)
-    erlang

[2016-01-30 04:25] timabbott commented on #452
Can you give a bit more detail on what you're trying to do?  If the goal is SSO-style authentication for logging into the website, you could define another auth backend in zprojects/backends.py.

If the goal is to support Oauth-based API bots/integrations, then `authenticated_rest_api_view` is probably the right place to put the oauth check; I'd just patch the `elif request.META.get('HTTP_AUTHORIZ

[2016-01-30 04:58] timabbott commented on #453
I've been meaning to write a more detailed doc on the architecture but here's the short version:

* nginx serves static assets and proxies to django + tornado
* django is the main web application server
* tornado runs the server -> client real-time push system
* postgres is the database and stores basically all the data
* memcached is used for caching of database model objects
* redis is used for

[2016-01-30 05:05] baali commented on #453
- supervisor to manage all programs(listing down all management commands which we run via supervisor and their roles).
- webpack(node)/django-pipeline setup for frontend.

[2016-01-30 05:17] timabbott commented on #453
webpack actually currently doesn't do anything useful, but yeah, it's there :)

[2016-01-30 05:20] asmartin commented on #320
+1 keeping uploads private to just the user who posted it and the members of the stream or private message where the uploader posted it is important to my environment

[2016-01-30 05:22] timabbott commented on #320
@asmartin is it possible for you to use the S3 integration in your environment?

[2016-01-30 05:35] asmartin commented on #320
No, unfortunately all uploads must be hosted locally

[2016-01-30 05:39] asmartin commented on #453
Thanks, this helps to clarify things! Two things that interest me are:

-    what I need to do to make complete backups that I can restore later (e.g. if the server crashes). If I were to just use `pg_dump` to dump the `zulip` database, is that all I would need to restore to fully recover my zulip install on a new host?
-    if I want to make changes/enhancements to the web interface or backend, w

[2016-01-30 05:47] timabbott commented on #453
@asmartin there are docs on backups in README.prod.md -- check them out.

`scripts/restart-server` is for restarting everything in the production environment; with the development server, it will auto-restart automatically whenever you change python code (and reloading the browser will get the latest static assets).

[2016-01-30 05:53] timabbott commented on #320
OK.  A potential workaround is to use the S3 integration with something that implements the S3 API like Eucalyptis, but better would be to just fix the file upload integration to support access controls.

[2016-01-30 05:59] timabbott commented on #435
Thanks for the details!  Sounds like we should make the cron job controlled by a setting (otherwise it'll come back when you next upgrade).

[2016-01-30 06:04] asmartin commented on #150
1) I would say that the "user is typing" notification could fade out if they have stopped typing (or the computer dropped off the network) for more than 10 seconds

2) I think a simple one-line message right above the "New stream message" and "New private message" buttons  or above the name of the stream and topic if the compose input box is visible. This would be unintrusive but also directly whe

[2016-01-30 06:06] asmartin commented on #408
I think you're correct, long group private messages should be transitioned to be invite-only streams.

[2016-01-30 06:06] #408 closed

[2016-01-30 06:09] asmartin commented on #295
As far as the UX, what do you think about making this an option under the gear menu? You could select from one of these states:

-    normal
-    do not disturb
-    working remotely

All this would do is change the user's icon color in the list of users. It would still be an honor system for whether or not someone decides to message you while you're DND, however hopefully most people will think t

[2016-01-30 06:12] asmartin opened #454 "Manage or Delete your uploads"
Would it be possible to add a view where you can see all of your uploads, with a button to delete them? I can think of a number of use cases where you would not want old uploads being available after a short period of time.

[2016-01-30 06:15] asmartin commented on #236
As a start to this enhancement, what about first just allowing users to pin favorite users in the "Users" list on the right to the top?

[2016-01-30 06:19] asmartin commented on #320
What about when an upload is done, an entry is created in the database with the upload filename and also a list of the users in the stream where the upload was made. Then rather than exposing the files directly, require that they be served by a script which checks this entry to make sure the requesting user is in the list. This would have the added benefit of ensuring that someone who got added to

[2016-01-30 06:20] asmartin commented on #453
Thanks for the clarification, that is cool that it auto-restarts when changes are detected!

[2016-02-01 04:40] timabbott commented on #295
Hmm, yeah, I think something soft like that which just changes display is probably a good place to start.

I think probably the best place to put controls for your status would be above the user list, rather than the gear menu, so that it's naturally next to where you see other people's status...

@wdaher what do you think?

[2016-02-01 13:24] asmartin commented on #295
That's a good idea keeping it close to the user list

On January 31, 2016, at 10:40 PM, Tim Abbott <notifications@github.com> wrote:

Hmm, yeah, I think something soft like that which just changes display is probably a good place to start.

I think probably the best place to put controls for your status would be above the user list, rather than the gear menu, so that it's naturally next to where y

[2016-02-01 18:15] dbiollo commented on #452
I am supporting Oauth-based API - on behalf of a user, rather than bots/integrations (though no reason to exclude them).

Thanks for the feedback!

[2016-02-01 20:56] bgilbert opened #455 "Unclear how to create a private stream"
I wanted to create a private stream, and found this UI:

![screenshot from 2016-02-01 15-45-11](https://cloud.githubusercontent.com/assets/361374/12730637/d5376b1e-c8fa-11e5-8c7c-a9b9bee25c70.png)

It's not at all obvious that the "Create new stream" button leads to an additional dialog box that allows making the stream private:

![screenshot from 2016-02-01 15-47-35](https://cloud.githubuserconte

[2016-02-02 01:22] timabbott commented on #455
Yeah.  I think in general that page could use an overhaul.

[2016-02-02 03:46] kamalmarhubi opened #456 "Notification bot 'Subscribe' button does not work for streams punctuation in the name"
The subscribe button helpfully posted by the notification bot will not allow subscription in these cases. You can subscribe the to streams in the stream management interface.

Strangely, you can *unsubscribe* from a stream using the notification bot's button, but still not resubscribe.

Observed for the stream names `where@` and `100:10:1`.

[2016-02-02 04:36] dogatemycomputer commented on #135
Our company hosts a Zulip server for our customers.  It's basically a demo at this point to see if it helps our customers better communicate.   We do this by manually creating streams, assigning the user and letting them post inside their own stream.

Of course, every so often, someone publishes something "bad" that needs to be removed.  For example.. an ex-employee logging in and posting some ina

[2016-02-02 17:40] timabbott commented on #236
@asmartin yep that was what I was thinking as an initial implementation here as well.  There's code for doing something similar for the streams list in #285, and I think this feature could work similarly to that.

[2016-02-02 17:43] tkwon opened #457 "Private stream cannot be deleted after no one remains"
I created a private stream. But before I could add anyone, I accidentally unsubscribed myself. Now I can't add myself back, or anyone else. And I can't delete the stream either as myself or as admin.

[2016-02-02 17:45] timabbott commented on #457
I think there are two changes we should do here:
* prompt before letting the last user leave an invite-only stream
* don't block a new stream of that name being created when the last user leaves an invite-only stream.

[2016-02-02 17:46] timabbott commented on #320
Yeah, that's roughly the approach I had in mind.  Implementation-wise, I'd do it in two phases:
(1) Make the local uploads integration controlled by Django and use the same codepath as the S3 integration.
(2) Change that codepath to track exactly which users have had the file shared with them.

[2016-02-02 17:48] timabbott commented on #454
Yeah I think this is a feature Zulip should have.

[2016-02-02 17:53] timabbott commented on #456
Definitely a bug; I think switching this button to use stream IDs would solve both this and #426 and thus might be a good path forward here.

[2016-02-02 18:08] tkwon opened #458 "Admin denied api access"
1. I attempted to access my api using:
2. https://zulip.mydomain.com/api/v1/messages
3. I'm routed to login screen.
4. Enter admin email and password
5. access denied.

Second attempt
1. Log in to regular zulip account as admin. https://zulip.mydomain.com
2. attempt to access api. https://zulip.mydomain.com/api/v1/messages
3. I'm sent back to login screen again.

[2016-02-02 18:51] timabbott commented on #458
The API endpoints are not meant to be visited using a browser, and do not accept username/password authentication (instead you should be using the API key auth described in the API docs)

[2016-02-02 23:08] #407 closed

[2016-02-03 22:29] danshev opened #461 "Issue with Vagrant when setting up dev env on OSX"
Apologies if this is restricted to me / my system, but I followed the README instructions for setting up the environment w/OSX, specifically:

1.  Cloned the repo
2.  Installed VirtualBox and Vagrant
3.  From the cloned directory, ran `vagrant up` and only get this:

[code]

Any suggestions?

[2016-02-03 22:30] timabbott commented on #461
Sounds like it's incorrectly using the LXC provider, not the virtualbox provider.  Try reverting fdc7f5b86a9c56cb9a507166f5b12765c18da721 and see if it helps.

[2016-02-03 22:34] danshev commented on #461
Yes, that works -- thank you for the quick response.

[2016-02-03 22:59] timabbott commented on #461
Reopening since it seems like a bug that OSX was trying to use LXC.

[2016-02-04 04:05] #430 closed

[2016-02-04 04:30] wdaher commented on #295
Sorry for the delay. Truthfully, I recommend against adding a user-configurable status — in my experience, users just forget to set (or un-set) it and it rapidly becomes pretty useless.

Having said that, +1 on trying to put this configuration close to the user list, though.
(I guess this might require always showing your own name there?)

[2016-02-04 05:08] timabbott commented on #452
Ahh, OK, that makes sense.  Yeah, then I think `authenticated_rest_api_view` is the place to do it.

[2016-02-04 05:54] #438 closed

[2016-02-06 16:58] mcouillard commented on #461
Removing those lines from Vagrantfile solved Vagrant usage on Windows for me, too.

[2016-02-08 04:58] timabbott commented on #461
Sigh, OK, it appears the issue is that Vagrant executes the code blocks for all providers regardless of which provider is selected.  I'll attempt to fix this.

[2016-02-08 05:12] timabbott commented on #461
OK, I pushed a change that I think should fix this.  @mcouillard @danshev, can one of you test that #462 addresses the issue for you?  Thanks!

[2016-02-08 09:32] AcidWeb opened #463 "Question about memory usage"
VM that run ~200 user realm use during working hours about ~4.5gb of RAM. 60% of that is tornado started by `python2.7 /home/zulip/deployments/current/manage.py runtornado localhost:9993`.

This is expected usage or something is leaking?

[2016-02-08 10:07] AcidWeb commented on #463
Well it look definitively like memory leak. Tomorrow I will give this VM 8GB of RAM and we will see if memory usage stabilize or will leak endlessly.

[2016-02-09 00:13] mcouillard commented on #461
Success, I think! I applied your Vagrantfile change then did vagrant reload. It started up fine and I used the web interface to truly prove it.

[2016-02-09 08:26] SummerBulb opened #464 "Installation failed on Ububntu 14.04 LTS (HVM) (AWS image)"
Installation fails with the following error:

[code]

The error points to `/root/zulip/puppet/zulip/manifests/voyager.pp`, line 54, which is expecting a config file to be at `/etc/postgresql/9.3/main/postgresql.conf.template` but is missing.
In fact, there isn't even a directory at `/etc/postgresql`.

[2016-02-09 15:52] timabbott commented on #464
Can you give the full output (/var/log/zulip/install.log should have it)?  That error I'd expect to be caused by the puppet rules to configure postgres running before postgres is installed...

[2016-02-09 16:14] timabbott commented on #463
Interesting.  The Tornado process consuming tons of memory is somewhat surprising; it should only be storing 10m of message history that hasn't been delivered to browser clients, which should definitely be fairly small for ~200 users.  One possibility is if you check your server logs (e.g. /var/log/zulip/tornado.log and /var/log/zulip/django.log) that you'll find there's an API integration that is

[2016-02-09 16:25] #461 closed

[2016-02-09 16:26] timabbott commented on #461
Great, merged, thanks for checking this out!

[2016-02-09 16:37] AcidWeb commented on #385
Message order problem was caused by miss-configured webserver gateway that was handling Zulip traffic.

[2016-02-09 16:39] AcidWeb commented on #463
Currently I need 8gb of ram and about 4gb of swap to keep tornado running for 24h - I restart it every night.

I don't see anything special in /var/log/zulip/django.log and var/log/zulip/django.log. I guess that /json/update_active_status should be triggered pretty often.

Error log have few `Got JIRA event type we don't understand: comment_created`. But I doubt that is the cause.

In about 3-4h I

[2016-02-09 18:15] AcidWeb commented on #463
event_queues.json have 12kb.

[2016-02-09 19:17] timabbott commented on #463
Interesting.  Well, while we track this down, restarting tornado should cause very little disruption with a small event-queues.json, so you can do that to keep your memory usage under control.

What version of Zulip are you running?  If it's 1.3.10, it is possible that some refactoring that went into the last release could have introduced a memory leak... I can look into that possibility later.

[2016-02-09 19:18] timabbott commented on #385
OK, good to know -- @AcidWeb I'd love it if you could post a few more details on how you tracked that down in case other users have the same problem.

[2016-02-09 19:28] AcidWeb commented on #385
It was very specific bug so not sure if it will help anybody.

MPM event in current version of Apache 2.4 have bug that in specific scenarios cause workers that proxy many short-lived SSL to SSL connections fail to process them correctly. Sometimes random requests were hold on Apache level and Zulip received them after short delay.

[2016-02-09 19:35] AcidWeb commented on #463
I probably should start this issue with information that we currently running fork based on master branch 9735025. So... bleeding edge. Problems started around 1 February (Python3 comparability changes?).

Our changes are cosmetic and I'm quite sure are not connected with this issue.

[2016-02-09 19:59] timabbott commented on #463
Event IDs are of the form <timestamp>:<id number> so numbers like that are expected.

OK, that's actually very informative.  I think it's likely the issue was introduced in the range from commit 5a6154c8bae82bddf0a911623b26c03581613677 to 83dd51dcd649436fa7eb27f0a5a13e78c0d48813 (the Tornado refactoring that actually didn't make it into 1.3.10), since those included some significant changes to the

[2016-02-09 20:16] AcidWeb commented on #463
Well from obvious reasons would like to minimise the amount of experimentation on our live system.

In few next days I will try to deploy version rebased on commit a5d4d0a. We will see if that will stop the leak.

[2016-02-10 01:46] rawray7 opened #465 "Document recipes for fixing rabbitmq issue"
i had a really hard time fixing the rabbitmq issue after i had misset /etc/hosts . just wanted to summarize my findings before i forget so that the next person doesn't have to beat their head against the wall so many times. this happened to me on a fresh digital ocean droplet when trying to follow the install instructions, so i hope it will help clarify for new zulip users:

i'm assuming you alrea

[2016-02-10 05:14] timabbott commented on #385
It may not be generally relevant but it'll certainly help me if we hear a similar bug report in the future.  Thanks for the notes!

[2016-02-10 06:36] timabbott commented on #463
Sounds good, if you can confirm the issue is that refactoring, I bet I'll be able to track down what specific change is responsible.  Thanks so much for the report and investigation so far -- I think this would likely have otherwise made it into a release.

[2016-02-10 06:48] SummerBulb commented on #464
I am reluctant to post a log from our servers which might accidentally contain sensitive information. I'd be glad to go through it and answer any questions you have regarding it.

It's important to mention that I've managed to get Zulip installed. I had to manually apt-remove postgresql (including creating a non-existent directory to make that work). Also, the hostname was not something comaptible

[2016-02-10 21:39] timabbott commented on #464
`install.log` should be pretty clean.  Is it possible that you initially had a different version of postgres from 9.3 installed on the system?

[2016-02-11 08:22] SummerBulb commented on #464
I don't think so. One can check the standard AWS Ubuntu14 image to get a
concrete answer, but AFAIR the answer is no.

On Wed, Feb 10, 2016 at 11:40 PM, Tim Abbott <notifications@github.com>
wrote:

--
בברכה,
שמואל בליץ

[2016-02-11 11:09] AcidWeb commented on #463
a5d4d0a don't leak

[2016-02-11 23:58] 007 opened #466 "Bulletproof production deployment"
_This started as a comment on #379, but I think it should be a separate issue for commentary / resolution. #59 might address some of this process as well, and I'll be using that as my primary reference._

It's great that this has a "do-everything-for-you" script to get started, but a production instance probably shouldn't be using that - it ought to have a list of dependencies, and expect a sysadm

[2016-02-13 04:07] timabbott commented on #262
Fixed by #434 !

[2016-02-13 04:07] #262 closed

[2016-02-13 05:45] timabbott commented on #463
OK, I think I've found the memory leak, introduced in 2ea0daab193834bbffa56cc8e53e66e29c840e57 -- nothing clears the handlers_by_id dict, so it ends up leaking every request object.  This should be fairly easy to fix but I'd like to do this carefully; I should have a fix I'm ready to merge next.  Thanks again @AcidWeb for investigating!

[2016-02-13 06:14] timabbott commented on #54
This is now covered in https://github.com/zulip/zulip/blob/master/README.prod.md#scalability-of-zulip

[2016-02-13 06:14] #54 closed

[2016-02-13 06:16] timabbott commented on #466
So I recently did some refactoring of the puppet modules to make them more modular; you can see the list of modules in puppet/zulip/manifests/voyager.pp.

What I'd love to see happen on the documentation front is a two-step process:

(1) Patch scripts/lib/install script to support taking the deployment type as an argument and thus be able to setup a server for any of the roles making up a Zulip pr

[2016-02-16 01:31] 007 opened #467 "Allow deployment without `tsearch_extras` addon"
It appears that the search functions are only called in [zerver/views/message.py#L271](https://github.com/zulip/zulip/blob/5bacda3662cd9975eee9f0f6fb5d1b93077681be/zerver/views/messages.py#L271) and in a test file, so isolating the functionality shouldn't be too difficult. The main problem would be working around / faking the functionality to wrap the fulltext search content with offsets for highl

[2016-02-16 15:37] eddiewebb commented on #315
THis should be added to the https://github.com/zulip/zulip/blob/master/README.prod.md docs which imply that just configuring the python settings is sufficient.

[2016-02-16 19:26] 007 commented on #464
I'll be deploying on AWS later this week, will see if I can repro.

[2016-02-17 04:03] timabbott commented on #467
The right answer here is most likely to get tsearch_extras merged into Postgres upstream.

I think it'd be a significant chunk of work to add the highlighting another way, and make it do the exact same thing as the postgres search does.  Not impossible, but quite possibly more total work than getting postgres upstream to support the tsearch_extras functionality.

(BTW, @007 would I be correct in g

[2016-02-17 04:25] timabbott commented on #315
@eddiewebb, do you mean the `manage.py create_realm` step I suggested to @npcode ?  A realm for whatever the user set in settings.ADMIN_DOMAIN is automatically created as part of the install process (`initialize_database` in particular); so it shouldn't be required unless the admin e.g. changes ADMIN_DOMAIN after the fact (which is covered here: https://github.com/zulip/zulip/blob/master/README.pr

[2016-02-17 05:36] rfilmyer commented on #188
Unfortunately, I ended up swamped with other stuff a few days after this. I also lost the VM where I was doing the uninstall test.

I'm still pretty busy, but I could try and do this again with a new VM and a more up-to-date version of zulip. I don't want to promise anything, though, since I don't want to give false impressions of my progress.

[2016-02-17 05:37] rfilmyer commented on #188
... And just now, I realize that you wrote that 27 days ago. I think that says it all.

[2016-02-17 05:53] 007 commented on #467
In this case yes, Amazon RDS which supports `tsearch2` and several other plugins, but can't (won't) support external dependencies. Getting it upstream would be best all around, then just waiting for a supported version to be rolled out.

I haven't had time to go deep into this one, but I wanted to look at returning "always highlight everything" or `null`, whichever is easier - certainly not reimpl

[2016-02-17 19:10] 007 commented on #467
Most of these are listed on the [RDS PG extensions page](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.FeatureSupport), but they leave off a few. The full set of supported plugins, if it helps at all:
* `btree_gin`
* `btree_gist`
* `chkpass`
* `citext`
* `cube`
* `dblink`
* `dict_int`
* `dict_xsyn`
* `earthdistance`
* `fuzzystrmatch`
* `hsto

[2016-02-17 19:20] timabbott commented on #467
We could try asking AWS support if they're willing to add the tsearch_extras extension; it's a simple enough extension that I can imagine them doing it.

[2016-02-18 01:43] timabbott opened #468 "HTTP requests from Django=>Tornado on localhost should not respect http_proxy environment variable"
See https://groups.google.com/forum/#!topic/zulip-devel/zPtclpn4Kao for details.

[2016-02-18 01:54] lfaraone commented on #406
We previously used embed.ly for this, but it was removed. I would be adverse to re-adding because it was:

- closed source
- slow (if done server-side) or messed with rendering (if done via their client-side JS)

But if there's some library for content extraction that has reasonable behaviour, we could integrate it.

[2016-02-18 02:46] lfaraone opened #470 "Dependency on `wget` not declared"
Attempting to provision in a minimal LXC container on Ubuntu 14.04:

[code]

[2016-02-18 04:16] #470 closed

[2016-02-18 19:14] timabbott commented on #188
Definitely understood!

[2016-02-19 00:55] timabbott commented on #432
http://charlesleifer.com/blog/nginx-a-caching-thumbnailing-reverse-proxying-image-server-/ is relevant and its comments mention some other open source options for this.

[2016-02-20 17:37] VincentSC opened #472 "The project is simply broken :("
I wanted to send a load of bug-reports, but I see no use.

- Documentation is incorrect at many points. Want to fix? Just install it yourself.
- Nginx config files are being adapted, so other sites stop working. It wants to have the whole server, assuming there is no Xeon with 32GB of memory?
- Install-script can't made work on anything else than 14.04.
- Loads of Github-issues, and only a few are

[2016-02-20 17:38] VincentSC commented on #472
See for example http://docs.mattermost.com/install/prod-ubuntu.html how it should be done.

[2016-02-20 23:37] timabbott commented on #472
Hi @VincentSC!

Wow, I think this is the first time anyone has accused Zulip of having been "dumped".  The project is actively developed by a growing community and I have been quite active as its lead maintainer.  For example, you mention there are a lot of open GitHub issues -- but just as many GitHub issues have been closed!  That doesn't happen magically.  And you claim only a few are features,

[2016-02-20 23:37] #472 closed

[2016-02-20 23:40] timabbott commented on #349
@melbel do you think you have enough data to open a PR for this now?  I figure probably it's worth doing at this point even if we'll find we want to make some additional improvements later...

[2016-02-20 23:43] timabbott commented on #210
@nVitius I just got another request for this feature here: https://groups.google.com/d/msgid/zulip-devel/53eaeaa0-36cc-49ec-8897-fd73ed8ef8e3%40googlegroups.com?utm_medium=email&utm_source=footer for docs on this -- did you end up implementing this for your installation?

[2016-02-21 07:01] VincentSC commented on #472
Hi Tim, after a few evenings after work and a Saturday trying to install Zulip on Ubunutu 15.04, I just gave up. And I normally don't give up on things I want to get done, hence my shitty reaction. I'm sorry for the frontal attack, and I'll try to make up by creating the tickets.

One point of feedback on the tickets: don't close tickets, where you made promises of fixing them. Only close them whe

[2016-02-21 07:08] VincentSC commented on #39
Please reopen this issue, as it is not fixed.

It still breaks existing installations, as configurations of the global scope are being altered and Zulip is not at the global scope. Things that need to be changed:

- Leave the current user to www-data. You need to find another solution for using the zulip-user, without this hack.
- Put all the extra servers under a config under sites-enabled, and d

[2016-02-21 07:18] VincentSC commented on #466
I agree with Bond, that the scripts don't give the control an administrator needs. As the documentation is not clear what is recommended and required, it neither is clear what is being done by the scripts.

My suggestion: split the documentation for the production into two parts: scripted for Ubuntu 14.04 and manual for the rest. Now more information about dependencies is found in the dev-document

[2016-02-21 07:22] VincentSC opened #473 "Non-existing directory in documentation"
/home/zulip/deployments/current/ doesn't get created. It is under /root/zulip, but then it doesn't work under the zulip-user.

[2016-02-21 07:25] VincentSC opened #474 ""nc" dependency missing"
During installation it fails on "nc" not being found. (Assuming this is netcat6, the installation now stalls after "OK")

[2016-02-21 07:44] VincentSC opened #475 "Fix needed: Dependency management"
Under Linux, I think the dependency management should be done by the OS. I need to have control over what is installed for security reasons, and be able to simply remove software with their dependencies. Now it's done with scripts and totally out of control. Puppet is great for **after** dependencies are met.

Currently a lot is hardcoded into scripts, where I have hardly any control over. For ins

[2016-02-21 07:46] VincentSC opened #476 "Don't close unfixed issues"
While browsing issues to see if others had the same problems like me, I found several unfixed issues to be closed. I know it's great to have closed issues, but this makes project management harder in the end.

[2016-02-21 07:55] VincentSC opened #477 "Separation of concerns for installation"
Mentioned in several other tickets, but I wanted to specify it in one. The scripts try to do everything and have these "while I'm here, also do something else" nature. Best is to start from scratch and separate the goals:
- Check requirements, from OS to hardware.
- Install Ubuntu dependencies. See #475
- Install Python dependencies with pip.
- Fill in settings file
- Configure SSL
- Configure Ngi

[2016-02-21 08:02] VincentSC opened #478 "request: Staging server"
To be able to test out without all the details, I'd like to have a staging server with some default stuff for a quick install. For instance no SSL and a default user, which later can be added - I now tended to choose development for testing. It should also be easy to uninstall, as requested in #131.

[2016-02-21 08:07] VincentSC commented on #477
I found a few more dependencies: redis, rabbitmq, memcached, postgres, supervisord, cron files, supervisor config, nginx config....

For each I'd like to be sure that it doesn't kill my current setup. By having configure-scripts for each instead of a "do it all", I can easier check these. Thinking of it, it might be a good start to document the puppet-scripts and from there try to separate each pa

[2016-02-21 08:26] akuckartz commented on #476
Examples ?

[2016-02-21 15:59] AcidWeb commented on #478
https://github.com/zulip/zulip/blob/master/README.dev.md

[2016-02-21 16:00] AcidWeb commented on #473
Your installation failed terribly if `/home/zulip/deployments/current/` don't exist.

[2016-02-21 16:35] jedahan commented on #475
FWIW, I prefer #3 - software devs focusing on the software, and package maintainers working on the distro.

[2016-02-21 17:53] VincentSC commented on #478
That is development, which is different than staging - there is no way to turn a dev-install into a prod-install.

[2016-02-21 17:59] AcidWeb commented on #478
Docker support for production environment is almost ready. Then starting multiple environment on single machine will be easy.

[2016-02-21 18:04] AcidWeb commented on #478
And technically dev-installs can be turn to production environment as they create release tarballs for zulip upgrade script.

[2016-02-21 18:16] VincentSC commented on #476
For example #39, which is the only one I reacted to. I indeed should have provided proof... I found the issues, as I was searching for the same problems via google.

I also found several solutions explained, but not fixed in the documentation. So one has to search through the issues, to get things working.

[2016-02-21 18:23] VincentSC commented on #473
I came to that conclusion recently. Hence I created issue #477.

[2016-02-21 18:24] VincentSC commented on #478
That sounds perfect!

[2016-02-21 23:13] jmandel opened #479 "API docs shouldn't refer to "BOT_EMAIL_ADDRESS""
Feedback from a zulip user at chat.fhir.org: It's confusing/misleading to talk about BOT_EMAIL_ADDRESS in the API docs, since there's no email involved in the API.  Might be clearer to talk about a BOT_USER_NAME.

[2016-02-22 13:57] melbel commented on #349
Yes, I think I have enough data. From what I heard back from others, my comment right at the top using sAMAccountName is the most robust way to authenticate against a AD. Some people use an E-Mail address but this requires strict rules for those and is confusing if your main E-Mail Address is not <account name>@<domain>.

Unfortunately, I have been swamped with other work here and will not be able

[2016-02-23 01:38] nsvrana commented on #464
Was able to reproduce when installing it on a clean AWS Ubuntu instance. Log file attached.

[install.txt](https://github.com/zulip/zulip/files/141760/install.txt)

[2016-02-23 01:58] nsvrana commented on #108
How do we go about building the static assets on their own? For example if I've got a modified version I would like to install/build from source.

[2016-02-23 11:25] timabbott commented on #108
tools/build-release-tarball will do what you want

-Tim Abbott (mobile)
On Feb 22, 2016 17:58, "nsvrana" <notifications@github.com> wrote:

[2016-02-23 19:22] rfilmyer commented on #188
Alright. I'm going to try this again, using master.

[2016-02-27 20:51] rawray7 opened #482 "after reinstalling nginx?"
dumb question: after installing a working zulip instance, i had to purge & reinstall nginx to debug my ssl setup. got that working now. but now i just get the nginx welcome page. tried scripts/restart-server - which claimed to be successful, but still seeing that page.

do i need to redo the install script and then restore from a backup?

[2016-02-29 20:27] jedahan opened #483 "List # of subscribers for each stream"
Would be nice to see how many people are subscribed to a stream in the stream adding page. I would like to make this feature happen, let's see if I can assign this to myself.

[2016-03-01 07:28] yash14123 commented on #334
I am on it. :)

[2016-03-02 15:07] varshit97 opened #485 "Document proxy-related issues while running the command ' vagrant up '"
I am trying to set up zulip on my computer.
I followed the building process given in README.dev.md.
Even though npm has proxy set, running vagrant up gives errors saying "npm proxy not set"
I am not able to find a solution for this.
Can you please help?
BTW I could find the IRC channel for zulip. Let me know if you people start one.

Thanks

[2016-03-03 20:29] timandovo commented on #295
The ability for users to set their status (Online, Away, Busy, Invisible) is an absolutely vital feature (invisible especially so).  See Skype and rocket.chat for examples of how this works well.
Rocket.Chat
![image](https://cloud.githubusercontent.com/assets/17623747/13508141/05211ac0-e186-11e5-8478-e6e9f7fca1f8.png)
Skype
![image](https://cloud.githubusercontent.com/assets/17623747/13508151/1969

[2016-03-04 17:46] k-potter opened #487 "/srv/zulip: No such file or directory"
After doing 'vagrant up', when I move to '/srv', it is empty.

[2016-03-04 18:23] varshit97 commented on #487
@k-potter You should run the "vagrant ssh -- -L9991:localhost:9991" command first and then move to /srv/zulip

[2016-03-04 20:34] varshit97 opened #488 "File uploading error in the zulip development version"
File starts uploading and then an error pops out saying "Unknown error occurred".
How do I fix this?
![error](https://cloud.githubusercontent.com/assets/14835842/13539444/856d65ee-e276-11e5-9fe0-9e517ed2fcce.png)

[2016-03-05 07:42] prastut commented on #225
This issue seems to be done in #259? Or does this require work?

[2016-03-05 12:33] k-potter commented on #487
I did exactly the same, but it resulted in this only.

[2016-03-05 17:47] k-potter opened #490 "A server error occurred. Please contact the administrator."
After running ./tools/run-dev.py, this is what appears in cli,

Traceback (most recent call last):
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 85, in run
    self.result = application(self.environ, self.start_response)
  File "/home/sid/.local/lib/python2.7/site-packages/django/core/handlers/wsgi.py", line 170, in __call__
    self.load_middleware()
  File "/home/sid/.local/lib/python2.7

[2016-03-05 19:26] varshit97 commented on #490
Hi, Please do not get frustrated.
Start off from the first i.e delete the zulip folder
1)Clone the zulip repo.
2)Install vagrant with the given commands(check which version of ubuntu you are using).
3)You need to have an internet connection without proxy for best results.
4)Follow the given commands line by line
5)After everything gets finished open a browser and go to localhost:9991
6)Its done

[2016-03-06 04:32] timabbott commented on #225
Yes, thanks for pointing that out @prastut !

[2016-03-06 04:32] #225 closed

[2016-03-06 04:33] timabbott commented on #488
This likely has a corresponding error in the server logs -- is there
anything in /var/log/zulip/errors.log?  If not, check the javascript
console.

[2016-03-06 08:59] timabbott commented on #485
@varshit97 did you figure out what the cause of the problem here was?

[2016-03-06 09:23] varshit97 commented on #485
@timabbott Yup figured it out and then only made a PR :p

[2016-03-06 10:29] timabbott commented on #3
Thanks to @blablacio's work, the feature that caused Zulip to need a forked Django is now in mainline Django via https://github.com/django/django/pull/5936 !

So we should be able to remove the fork sometime after Django 1.10 comes out (scheduled for July, see https://code.djangoproject.com/wiki/Version1.10Roadmap).

[2016-03-06 16:07] ishankhare07 opened #494 "Implement desktop client with Electron"
I would like to implement the desktop client with electron under GSOC`16.
Please let me know of further steps.

[2016-03-06 21:03] akashnimare commented on #350
@BornToBeRoot @timabbott by rebuilding the desktop client in Node-Webkit/Electron this can be easily done.

[2016-03-06 22:57] sharmaeklavya2 commented on #256
I would like to work on Unicode transition fixes. I have done similar things in the past. Where and how should I begin?

[2016-03-07 05:22] gvaibhavraj2 commented on #275
@timabbott  I think shell_plus can help us in this and we can customise it to import our default modules. What do you think?

[2016-03-08 05:22] timabbott commented on #490
@k-potter were you able to get the development environment working?  If not, it'd be great if you could post a full log of the output of what you did to get to this error.

[2016-03-08 05:35] timabbott commented on #494
The Zulip desktop app is a thin wrapper around the main Zulip web app (only ~2500 LOC that's not 3rd-party code). The goal of that project would be to replace the QT+webkit desktop app with an electron app implementing the same functionality; if that's completed with time the spare, there's improvements to the app that we could add onto the project (e.g. making the desktop app support multiple tea

[2016-03-08 05:35] #494 closed

[2016-03-08 05:36] timabbott commented on #487
@k-potter Can you show a full terminal log starting from a clean environment leading to this problem?

[2016-03-08 05:37] timabbott commented on #487
(I agree with @varshit97 that this is mostly caused by failing to ssh into the Vagrant VM)

[2016-03-08 05:42] timabbott commented on #350
Yep @akashnimare, I'm hoping to have one of our GSOC students take on rebuilding the Zulip desktop app using Electron, which I think will make incremental improvements easier in the future (certainly it's a stack a lot more people know than the existing QT+webkit stack).

[2016-03-08 05:49] akashnimare commented on #350
Oh. Awesome. Should I take part in this? Have been working in electron/nw
for a year.
On Mar 8, 2016 11:13, "Tim Abbott" <notifications@github.com> wrote:

[2016-03-08 05:52] timabbott commented on #350
If you're interested, sure!  See https://summerofcode.withgoogle.com/organizations/5197525313126400/ for the Zulip GSOC page.

For some background, the Zulip desktop app is actually a fairly small codebase, because it's a thin wrapper around the main Zulip web app (only ~2500 LOC that's not 3rd-party code).  The goal of that project would be to replace the QT+webkit desktop app with an electron ap

[2016-03-08 05:56] timabbott commented on #485
Cool, if there's a tweak to the documentation that would prevent this from affecting other folks in the future, I'd love a PR to make that tweak!

[2016-03-08 06:22] timabbott commented on #483
Assigning to people who aren't "project members" seems to not work, but this is a totally reasonable feature if you're interested in working on it!

[2016-03-08 06:33] timabbott commented on #473
I don't understand the concern here -- /home/zulip/deployments/current/ is a symlink to the currently deployed version of the Zulip code, created by the install script and updated by the Zulip upgrade script.

@VincentSC how did you get an installation that doesn't have this file present?

[2016-03-08 06:37] timabbott commented on #474
Confirmed, `netcat` is missing from the dependencies; it probably belongs in `memcached.pp`

@VincentSC what platform are you installing on?

[2016-03-08 06:39] timabbott commented on #479
The API works on (email address, api key) pairs -- currently in Zulip usernames are always email address format.  But you're probably right that this is confusing, since the bot "email addresses" may not actually be able to receive email.

[2016-03-08 07:36] VincentSC commented on #473
The main reason why scripts don;t work. The number of untested situations is huge, and therefore I got into a situation like this one. There is no other way to describe it.

It might be best solved by documentation. "Your installation was successful if ..."

[2016-03-08 07:40] VincentSC commented on #474
Hi Tim, had a good holiday?

Ubuntu 15.04.

[2016-03-08 08:45] k-potter commented on #490
@varshit97 Can you please tell me , exactly for which part proxy creates a problem?

[2016-03-08 11:06] varshit97 commented on #485
@timabbott Sure, I'll look into it. :)

[2016-03-08 11:07] varshit97 commented on #490
@k-potter The part where you run the command "vagrant up".

[2016-03-08 12:16] k-potter commented on #487
Okay, did everything from the start , now i am able to change the directory to /srv/zulip
but running the command source /srv/zulip-venv/bin/activate, results in "-bash: /srv/zulip-venv/bin/activate: No such file or directory"

[2016-03-08 14:09] nitingera1996 commented on #479
@timabbott
Hey, I am looking to solve some bite size issues and found this, which seems to be easy as it requires to change all the BOT_EMAIL_ADDRESS instances to BOT_USERNAME in the html files, but this will solve the issue for curl requests only, but for python and zulip-send, email is on of the request parameters
which I believe require changes in
zulip/zilencer/management/commands/sync_api_key

[2016-03-08 15:14] bmalynovytch commented on #457
I confirm that clicking the "Unsubscribe" button by mistake is really easy when trying to click the down arrow to show the stream settings :+1:

[2016-03-08 16:57] timabbott commented on #487
@k-potter can you show a terminal log?  It's very difficult for anyone to help you debug your environment if you don't provide the full context leading to the error.

[2016-03-08 17:02] ishankhare07 opened #497 "./tools/run-dev.py --interface='' results in `no module named twisted.internet`"
[code]

I am following instructions from [Installing the Zulip Development environment -> Using Vagrant](https://github.com/zulip/zulip/blob/master/README.dev.md#using-vagrant)
I am already interested in contributing the project under GSOC and supposed to fix a bug. During local setup this pops up. Would be interested in fixing this bug. I noticed there is no `requirements.txt` file though.

[2016-03-08 17:04] timabbott commented on #39
Reopening, since I agree it'd be good to not require Zulip be installed in global scope (though I think changing that will be a significant project, especially since we'd need to do it with a clean upgrade process).

Note #188 is also related to this issue.

[2016-03-08 17:05] timabbott commented on #497
We're using the requirements.txt file to install dependencies; see provision.py in the root of the repo for the code.

It seems very likely you got an error earlier during the installation process -- can you post the terminal log of your installation?

[2016-03-08 17:09] timabbott commented on #275
`shell_plus` seems like it would solve this problem; though if it's easy to do this with a few lines of code in the manage.py script without adding another dependency, I would prefer that approach, just because there is a bit of extra maintenance work managing each additional dependency we add.  So maybe it's worth trying out the approach in the article I linked to for a bit before switching to sh

[2016-03-08 17:13] ishankhare07 commented on #497
Might be possibly. I'll clean-up, destroy vagrant, try again and let you know in a bit.

[2016-03-08 17:18] timabbott commented on #256
@sharmaeklavya2 I just merged https://github.com/zulip/zulip/pull/443 into master, which addresses the issues I'd tracked down already.  I think the best place to start working on the python 3 support would be to build a python3 venv from the Zulip requirements.txt and run the Zulip backend test suite using python 3.  As mentioned above, I have some hackish work from before on this branch:
https:/

[2016-03-08 17:36] SummerBulb opened #498 "vagrant up error on windows with cygwin"
Following the [instructions](https://github.com/zulip/zulip/blob/master/README.dev.md) for a dev environment setup with Vagrant for windows with cygwin, I am getting the following errors:

[vagrant.log](https://github.com/zulip/zulip/files/163646/vagrant.txt)
[npm-debug.log](https://github.com/zulip/zulip/files/163649/npm-debug.txt)

[2016-03-08 17:41] sharmaeklavya2 commented on #256
I tried making a python3 venv a few hours ago using requirements.txt. That failed for some reason. I'll get back with the error messages.

I should work on zulip's current master branch and use your branch only for reference, right? Or should I work on your branch?

[2016-03-08 17:42] timabbott commented on #498
Hmm, interesting -- definitely looks like an NPM issue.  I'd recommend investigating whether npm works in vagrant-on-cygwin at all on your machine (try replacing 'package.json' with just listing a single dependency)?  It's possible some workaround is needed for this situation; I'd also try just googling for the npm error message since this is very likely not a zulip-specific issue.

[2016-03-08 17:43] timabbott commented on #256
I'd recommend working on top of master and using that branch for reference -- it's pretty hacky and most of the valuable stuff has been merged; the main things I'd expect to get out of that old branch is how to comment out LDAP and a maybe subset of the requirements.txt updates you'll need to make.

[2016-03-08 17:45] SummerBulb commented on #498
I tried opening the VM and attempting to run `python provision.py`.

I get this error:
`1614 warn notsup Not compatible with your operating system or architecture: fsevents@1.0.8`

[2016-03-08 17:53] timabbott commented on #498
Hmm.  What vagrant provider are you using?

[2016-03-08 17:57] SummerBulb commented on #498
I had no idea that there was more than one vagrant provider.
I hope I understand the question correctly. I downloaded the windows installer from: https://www.vagrantup.com/downloads.html

[2016-03-08 18:21] ishankhare07 commented on #497
@timabbott you were right. Something went wrong during installation process. Clean install worked perfectly.

[2016-03-08 18:21] #497 closed

[2016-03-08 19:34] sharmaeklavya2 opened #499 "By-hand setup instructions do not mention installing phantomjs"
PhantomJS is needed to run Casper tests. The [Ubuntu and Debian By hand setup instructions in README.dev.md](https://github.com/zulip/zulip/blob/master/README.dev.md#on-debian-or-ubuntu-systems) does not mention installing phantomjs.

Simply installing phantomjs using apt-get is not guaranteed to work, since Zulip depends on a specific version ([1.9.8](https://bitbucket.org/ariya/phantomjs/downloa

[2016-03-08 20:42] rawray7 commented on #482
sorry to be a pest, but any thoughts on this @timabbott ?

[2016-03-08 20:50] ishankhare07 commented on #360
@timabbott Please have a look at my PR and let me know of any changes

[2016-03-08 21:10] timabbott commented on #482
Hi @rawray7, sorry for the slow reply (I was on vacation in Cambodia at the time of your report).

I suspect that purging nginx removed the Zulip nginx config; If you run `scripts/zulip-puppet-apply`, it should restore the Zulip nginx config and thus fix your issue.

[2016-03-08 21:37] timabbott commented on #476
Thanks for pointing out #39, I agree that shouldn't have been closed (even though the documentation was added).

If you see any others, please ping me on the relevant issues' threads -- as a general rule, I've been making an effort to reopen issues that users have closed upon learning the solution and rewriting them as a documentation issue so we can help others having the same problem.  See the "

[2016-03-08 21:37] #476 closed

[2016-03-08 23:43] rawray7 commented on #482
thank you that fixed it!

[2016-03-08 23:43] #482 closed

[2016-03-09 08:14] sharmaeklavya2 commented on #488
Those who have used the [by-hand instructions](https://github.com/zulip/zulip/blob/master/README.dev.md#by-hand) will not have `/var/log/zulip/errors.log`.

I checked the JS console. There was a 500 error in `http://localhost:9991/json/upload_file`

Here is the corresponding output from the server:

[code]

[2016-03-09 08:53] baali commented on #488
OSError: [Errno 13] Permission denied: '/home/zulip'

@sharmaeklavya2 the user using which you are running your server doesn't have write permission to /home/zulip Either grant permission(chmod/chown) or run server with zulip as user.

[2016-03-09 10:01] ishankhare07 commented on #198
@timabbott I am targeting this as my 2nd bug fix. Do you suggest taking this up at this moment? Or shall a look at some other ones listed [here](https://github.com/zulip/zulip/issues/229#issuecomment-151927035)

[2016-03-09 12:46] sharmaeklavya2 commented on #488
The problem was fixed by creating the directory `/home/zulip` and giving it appropriate permissions. Thanks @baali.

However, it is not documented anywhere that we are supposed to do so. It should be written in README.dev.md. I won't be able to test it on vagrant right now. Someone please confirm the bug on vagrant.

So we have two options:

1. Add instructions to create this directory in [README.

[2016-03-09 13:01] sharmaeklavya2 opened #501 "When some tests fail, they also cause other tests to fail"
I had Zulip installed [manually](https://github.com/zulip/zulip/blob/master/README.dev.md#on-debian-or-ubuntu-systems) on Ubuntu 15.10 when I faced this bug.

After `./tools/test-js-with-casper` failed, I tried running `./tools/test-backend`. It failed with this error message:

[code]

I rebuild the databases by doing this:

[code]

Then when I ran `./tools/test-backend`, it passed all tests.

Aft

[2016-03-09 16:29] jmandel opened #502 "Invited users have case-sensitive e-mail addresses?"
I invited a user to `chat.fhir.org` using a mixed-case e-mail address. It appears the resulting account only works if the user signs in with the same (case-sensitive string match) address. Is this a known issue?

[2016-03-09 16:49] sharmaeklavya2 commented on #256
The package `enum34==1.0.4` is causing problems while `pip install -r requirements.txt` when in the python3 virtualenv.

[code]

[2016-03-09 17:02] sharmaeklavya2 commented on #256
I just now read up what enum34 does. It's probably not needed on python 3.4. I'll just remove it and see what happens.

[2016-03-09 17:33] timabbott commented on #501
I think the problem is that we run `tools/generate-fixtures` when the casper tests startup (addressing the version of the issue where you run the backend tests first), but not when the backend tests startup.  Can you try adding a call to `tools/generate-fixtures` to `tools/test-backend` before it actually runs the tests and see if that fixes this?

[2016-03-09 17:38] timabbott commented on #488
Thanks for the report!  Historically we'd always used the S3 integration for file uploads, not the local file upload mechanism, in development, so this codepath was never tested in the development environment.

`/home/zulip` is a directory that should only be needed in production; so I think the right fix here would be to change the directory files are uploaded to in the development environment to

[2016-03-09 17:41] timabbott commented on #198
Yeah, this is a pretty good choice of starter bug to work on.  Please use the Zulip commit discipline while doing this (see http://zulip.readthedocs.org/en/latest/code-style.html#version-control if you don't know what I'm talking about) by first refactoring the upload code into upload.js (and feel free to submit that for review once it's done even before you've implemented the feature) and then in

[2016-03-09 17:46] timabbott commented on #502
No, definitely not a known issue, and somewhat surprising -- what authentication mechanism are you using?  In general all our user lookups use `get_user_profile_by_email` which does a case-insensitive match, precisely because this would otherwise be a very common problem, but it's possible that e.g. the LDAP integration doesn't handle this correctly since that's substantially third-party code...

[2016-03-09 17:56] jmandel commented on #502
I'll see whether I can reproduce. But we're using zulip managed usernames and passwords (plus Google sign in), not LDAP.

[2016-03-09 17:57] sharmaeklavya2 commented on #256
I ran [caniusepython3](https://pypi.python.org/pypi/caniusepython3) and it said:

[code]

After removing these packages from requirements.txt, I got an error while installing wsgiref==0.1.2. Since that comes with newer versions of python, it's probably not needed.

[2016-03-09 18:05] timabbott commented on #256
If I recall correctly, several of those projects actually do have a python 3 supporting version available -- if you check them out on github, you can usually find things like a .travis.yml or setup.py showing whether they actually do support python 3 with a newer version, or in other cases that the package was renamed when python 3 support was added.

(And yeah, some packages have been removed in

[2016-03-09 18:14] timabbott commented on #498
Vagrant providers are the tools used to actually run the guest environment (e.g. VMWare, Virtualbox, or LXC or Linux).  You probably had to download one of these tools as part of setting up Vagrant -- was it Virtualbox?

[2016-03-09 18:28] sharmaeklavya2 commented on #256
Yeah I found that py3dns is the python3 port of pydns. I'll similarly check for other packages.

[2016-03-09 18:28] #428 closed

[2016-03-09 18:33] sharmaeklavya2 commented on #256
I anyways ran `./tools/test-all` and I got a lot of errors in `./tools/lint-all`.

[code]

You can see that most of them are about `print` statements, `except`, `raise`, etc. These should be easy to fix IMO.

[2016-03-09 18:37] jmandel commented on #502
I can't readily reproduce this -- but @nschwertner is experiencing it :/

[2016-03-09 18:42] timabbott commented on #256
​Those errors are all in scripts, not the application itself.  Definitely
still worth fixing, but I think that's how they were missed when we ran the
python 3 fixers before.  Would recommend using the automated fixers from
tools/travis/py3k rather than doing this by hand, and do 1 commit per fixer
(if you search for python 3 in the Zulip commit history you can see
examples of what I mean).

[2016-03-09 19:09] sharmaeklavya2 commented on #256
I realized that scripts start with `#!/usr/bin/env python2.7`. I thought that I was running them with a python3 venv but that's not the case. Doing `python tools/lint-all` gives this output:

[code]

[2016-03-09 19:12] timabbott commented on #256
Yeah probably you'll just want to replace that hardcoded python2.7 with
"python" for this purpose :)

        -Tim Abbott

On Wed, Mar 9, 2016 at 11:09 AM, Eklavya Sharma <notifications@github.com>
wrote:

[2016-03-09 19:13] k-potter commented on #487
Finally! Phew
I was using university internet, proxy was creating the problem, did vagrant up again, everything is working now. Thanks for the help.

[2016-03-09 19:13] #487 closed

[2016-03-09 19:13] k-potter commented on #490
Finally! Phew
I was using university internet, proxy was creating the problem, did vagrant up again, everything is working now. Thanks for the help.

[2016-03-09 19:13] #490 closed

[2016-03-09 19:25] sharmaeklavya2 commented on #256
I searched for 'python3' and 'python 3' in Zulip's commit history. I still can't understand what you mean by '1 commit per fixer'. Is this what you mean by fixer: [https://docs.python.org/3/library/2to3.html#fixers](https://docs.python.org/3/library/2to3.html#fixers)?

[2016-03-09 19:34] timabbott commented on #256
See ​https://github.com/zulip/zulip/commits/master?page=8

[2016-03-09 19:39] sharmaeklavya2 commented on #256
Thanks. I got it now.

[2016-03-09 19:46] nschwertner commented on #502
Yeap
![screen shot 2016-03-09 at 14 38 10](https://cloud.githubusercontent.com/assets/752839/13648250/b686f84c-e605-11e5-849b-c2530e6d4f65.png)
![screen shot 2016-03-09 at 14 44 23](https://cloud.githubusercontent.com/assets/752839/13648251/b687c56a-e605-11e5-8495-4dd0502c3ed5.png)
![screen shot 2016-03-09 at 14 44 47](https://cloud.githubusercontent.com/assets/752839/13648252/b6933a12-e605-11e5-9

[2016-03-09 20:18] SummerBulb commented on #498
Virtualbox, indeed.
On Mar 9, 2016 8:14 PM, "Tim Abbott" <notifications@github.com> wrote:

[2016-03-09 20:25] sharmaeklavya2 commented on #256
`./tools/travis/py3k` only showed these diffs:

* `zulip_tools.py` in `lib2to3.fixes.fix_except`
* `zerver/lib/cache.py` in `libfuturize.fixes.fix_print_with_import`

Manually doing a git diff however showed many more changes:

[code]

It seems that the script is not working like it is supposed to.

[2016-03-09 20:41] sharmaeklavya2 commented on #256
I ran the above py3k test using python3 venv. When I ran it using python2 venv, the output of the script is the same but git diff didn't show any change.

[2016-03-09 20:44] disissid opened #503 "Scrollable dropdown menu for 'stream' and 'topic'"
In 'New Stream message' dialog box, when the user starts typing, dropdown appears, but with only first three options. This might not be a problem when number of streams are less but it could be bad for user experience if there were more than three streams with same prefix/starting name.

[2016-03-09 21:12] timabbott commented on #256
Right, it's run as part of the CI (with py2), so it'll have no affect
there.  But I think what's going on is that it passes "." as the path to
modify, and that is only picking up the python module type stuff (e.g.
zerver/) and not running on the scripts in the codebase.  So I think what
you'll want to do is tweak that script (or just the code run in it) to also
run against tools/, api/integrations

[2016-03-09 21:26] sharmaeklavya2 commented on #256
I also noticed that when running py3k using a python2 venv, the last few tests are not run, which are:

[code]

Also after running py3k on a python3 venv, on observing the output of git diff (which I run manually), it seems that all changes come from `libmodernize.fixes.fix_dict_six`.

[2016-03-09 22:10] sharmaeklavya2 commented on #256
When invoked on a directory, futurize only works on .py files in that directory. If it is invoked directly on a file, the file's extension doesn't matter.

I'll check the mime-type of all files and call futurize only on those files which have the mime-type `text/x-python`. Mime type can be found using the command `file -b --mime-type NAME_OF_FILE`.

[2016-03-10 04:38] #456 closed

[2016-03-10 04:55] sharmaeklavya2 commented on #426
I tried to replicate this bug but I couldn't. I created a stream called 'Juggling' from an admin account. I checked a standard account and there was a PM from the notification bot with a button 'Subscribe to juggling'.

Then I renamed the stream from the admin account to 'Bounce Juggling'. Then I subscribed the stream from the standard user. It seemed that nothing happened. I checked the subscript

[2016-03-10 04:58] timabbott commented on #426
The issue is the notifications with a "subscribe to X" button that the notification bot sends to the "zulip" stream (if it exists) would still have the stream name "Juggling", not "Bounce Juggling", and the button won't work.

[2016-03-10 05:02] timabbott commented on #464
Can you post a more complete log file?  It's clear there are some errors at
the top of the file suggesting your log isn't complete.

Zulip logs the full output of installation to /var/log/zulip/install.log,
so uploading that would help!

[2016-03-10 05:04] timabbott commented on #349
No worries; I'd certainly be excited about a PR for this even if it came
after Easter!

[2016-03-10 05:13] sharmaeklavya2 commented on #426
The stream 'zulip' exists but there was nothing posted there. I forgot to mention in my previous comment that the subscribe button (on the PM between the standard user and the notification bot) still says 'Subscribe to juggling' and not 'Subscribe to Bounce Juggling'. The button didn't work as you said, but it didn't create a new stream of the original name as the OP says.

[2016-03-10 05:18] timabbott commented on #426
Ahh, well the important issue is that the message ends up stuck with the wrong name; the other issue the OP described would be a consequence of the button being stuck with the wrong name.  I'm pretty sure the right fix for this is to have the reference be to the stream by ID, not name, which won't change if the stream is later renamed.

[2016-03-10 06:05] #458 closed

[2016-03-10 10:56] ashishk1994 opened #505 "UnboundLocalError: local variable 'arch' referenced before assignment"
Hi,
I was trying to setup zulip in my machine (32-bit Ubuntu 14.04) but It is giving unbound local error in provision.py
Command :
[code]

Traceback:
[code]

[2016-03-10 11:27] anindya commented on #426
@timabbott I have worked around the issue so that if a user X creates a stream "foo" and renames it to "bar", then when subscribing from announcement "Subscribe to foo" a new stream "bar" will not be created. Rather a error message "Stream foo does not exist" will be shown. Should I make a pull request or go for referencing by stream ID?

[2016-03-10 11:57] sharmaeklavya2 commented on #256
I have written a script using which uses `**` in bash to recursively operate on files. However, it takes around 4 minutes for a fixer to run on all python files. With 40 fixers, this can take around 3 hours.

[2016-03-10 12:15] disissid commented on #503
Can any of the collaborator confirm if it is a valid issue, so that I could start working on it.

[2016-03-10 12:50] TomaszKolek commented on #275
I did a research it looks impossible to do it using virtualenv and no additional tools.

PYTHONSTARTUP looks good but it's no way to set up locally for virtauenv.
I think the best way would be using virtaulenvwrapper and add custom postactvate, postdeactivate hooks.

What do you think?
@timabbott @gvaibhavraj2

[2016-03-10 13:09] disissid commented on #455
I suppose even the name of the stream should be asked in the dialog box only.What say @timabbott ?

[2016-03-10 13:40] ishankhare07 commented on #198
@timabbott i guess we also need to add related html to the edit message template in order to add a progress bar and show error messages?

[2016-03-10 14:23] ishankhare07 commented on #198
I'm getting an `OSError: [Errno 13] Permission denied: '/home/zulip'`, in trying to upload a file.
I tried manually creating the directory and then giving the permission as such:
[code]

[2016-03-10 15:27] SummerBulb opened #507 "Fix confusion around navigating to localhost:9992 in development environment"
I'm running in dev mode, and getting the following errors below.

Also, I am unable to receive events/message with my bot which worked just fine not long ago.
[code]

[2016-03-10 15:53] sharmaeklavya2 commented on #198
Refer to #488

[2016-03-10 18:38] sharmaeklavya2 commented on #256
All futurize transforms done!

[2016-03-10 19:08] sharmaeklavya2 commented on #256
I tried to run tests now. `tools/lint-all` has some unicode encode-decode related errors. `tools/test-migrations` and `tools/test-backend` failed as soon as they started because `ImportError: No module named 'ldap'`. I haven't yet installed python-ldap or pyldap.

[2016-03-10 19:23] timabbott commented on #505
​Hi Ashish,

Can you give the full error output and more context for how you're setting
things up?  It's not possible to help you debug your problem without more
detail.

[2016-03-10 19:29] timabbott commented on #505
Ahh, yeah, we should definitely fix that.  It would be fairly easy to just
fix support for 32-bit -- I think the only thing we'd need to do is build a
32-bit tsearch_extras binary...

[2016-03-10 20:56] TomaszKolek commented on #69
@timabbott
Here we should instead of API use webhooks.
API allows for the same actions like web interface but configuration the API (event if we make this easier) requires from user some technical skills.

So I prefer using webhooks.
User did some checker in pingdom.com then add a hook that we hadnle.
This way does not require from the user doing the same configuration twice. And, what is the most

[2016-03-10 23:31] TomaszKolek commented on #505
You're probably right, I don't see any architecture specific places.

[2016-03-11 05:11] timabbott commented on #69
Using webhooks here sounds good to me.

I agree that we will want to split webhooks.py into one-file-per-hook.  If you choose to work on that, please write your changes in a way that's easy to review and carefully follow the Zulip commit guidelines http://zulip.readthedocs.org/en/latest/code-style.html#version-control

So for that refactor, I'd recommend first a commit moving webhooks.py to webhoo

[2016-03-11 05:14] timabbott commented on #69
Also I would avoid combining the change to split out the files with a change to add a WebhookHandlerAbstract construct; it usually works best to avoid combining two totally different refactors into the same commit. (does this make sense?)

Also, at present there's little in common between the various webhooks, so I don't think there's a reason to create a WebhookHandlerAbstract class anyway.

[2016-03-11 06:24] timabbott commented on #454
To provide some notes for what'd be involved in adding this, currently Zulip doesn't actually store in its own database which files were uploaded by which users (instead the data is stored as metadata in S3).  So either we need to write code to query S3 for the metadata, or (likely simpler) have Zulip start storing the metadata in a new database table declared in models.py.

To start on this featu

[2016-03-11 06:44] timabbott commented on #505
OK @lfaraone uploaded the 32-bit binary.  I posted https://github.com/zulip/zulip/pull/510 which should make 32-bit work as well; @ashishk1994 can you test it out?

[2016-03-11 06:47] timabbott commented on #455
Yeah, I think that (and just removing the text box on the main page) would be a good incremental improvement here.

@wdaher what do you think?

[2016-03-11 08:12] timabbott commented on #507
That's a very surprising error, since request._tornado_handler is set in the runtornado.py  for all routes handled by Tornado before the code path even reaches decorators.  And get_events_backend is the main Tornado route.

Do you have any other errors in the log that might provide information on why this is happening, or did you write some code modifying the Tornado subsystem?

Regardless I'd try

[2016-03-11 08:32] timabbott commented on #275
@TomaszKolek after looking into what you said, I just read the code for `manage.py shell` and it turns out one can just set PYTHONSTARTUP inside `manage.py` itself.  See https://github.com/zulip/zulip/pull/511; can you review it?

[2016-03-11 14:18] ashishk1994 commented on #505
@timabbott , Thanks above mentioned error is gone but now I am getting 404 not found error for below package.
 https://dl.dropboxusercontent.com/u/283158365/zuliposs//postgresql-9.3-tsearch-extras_0.1.2_i386.deb

It is giving this error when I am trying to open it in my browser too.
Traceback:

[code]

[2016-03-11 14:20] TomaszKolek commented on #505
Maybe double "/" before zuliposs and postgresql

[2016-03-11 14:42] ashishk1994 commented on #505
@TomaszKolek  Giving the same error with single "/"

[2016-03-11 14:49] TomaszKolek commented on #505
I don't have an access to dropbox so the information for @timabbott file does not exist or has different name. And for sure double "/" is a bug

[2016-03-11 16:14] TomaszKolek commented on #69
WebhookHandlerAbstract  is not good name/type - it's just an interface.

[2016-03-11 18:07] timabbott commented on #505
Oh, it appears we have version 0.1.3  on i386 and 0.1.2 on amd64.

        -Tim Abbott

On Fri, Mar 11, 2016 at 6:49 AM, Tomasz Kolek <notifications@github.com>
wrote:

[2016-03-11 18:11] disissid commented on #455
So, @timabbott do you think if I should take this as my first project?

[2016-03-11 18:21] timabbott commented on #455
​Yeah seems like a great starter project!

[2016-03-11 19:53] disissid commented on #455
Now that I was going through the code, Just moving stream name inside the dialog box isn't a very good idea, as it searches if the user has already subscribed or not to the stream but having filling all the options and than getting the error you are already subscribed would not be a very good idea, What do you think?

[2016-03-11 19:55] timabbott commented on #455
It's probably a pretty rare case that someone will try to create a stream
that they're already subscribed to, so I think it's fine to give an error
in that case.

[2016-03-11 20:09] disissid commented on #455
Ah, okay. Working on it. :)

[2016-03-11 21:19] timabbott commented on #505
OK try using my patch with a small tweak on top setting TSEARCH_VERSION to
0.1.3 ...

        -Tim Abbott

On Fri, Mar 11, 2016 at 10:06 AM, Tim Abbott <tabbott@mit.edu> wrote:

[2016-03-11 21:27] TomaszKolek commented on #69
#513
Please take a look @timabbott

[2016-03-11 21:57] disissid commented on #455
@timabbott I've opened a PR #514 , Please review it and tell if any further changes are required.

[2016-03-11 22:32] disissid opened #515 "Alert not visible when scrolled down"
If a user scrolls down more than the screen height, alert becomes invisible as it is positioned static.
![screenshot from 2016-03-12 03 55 50](https://cloud.githubusercontent.com/assets/6582951/13717343/e09ff59a-e806-11e5-8ea6-82be1b2b2a42.png)

This could be solved by making it fixed and also there is no way to hide the alert it remains there until the next action is taken.
![screenshot from 2016

[2016-03-12 04:59] krtkmj opened #516 "Collapsing message"
In `Private messages`, whenever a user collapses any message, Following events takes place:
1. Clicking back on `[More..]` doesn't uncollapses the message(unless reloaded).
2. In Message controls, collapse button doesn't get updated to Un-collapse(unless reloaded).  ![screenshot from 2016-03-12 10 09 19](https://cloud.githubusercontent.com/assets/6594924/13720872/bbace6ba-e83a-11e5-92ef-5dab353dbd

[2016-03-12 05:09] sharmaeklavya2 commented on #501
@timabbott, you were right about adding a call to `tools/generate-fixtures`. That fixed it.

[2016-03-12 10:46] Saketnandan opened #518 "not getting /etc/zulip/settings.py"
There is no zulip directory in /etc even after installing /root/zulip/scripts/setup/install

[2016-03-12 15:17] wdaher commented on #503
I worry that this would look kind of ugly and not actually be that usable.
To make sure we're following web convention: can you show me another
example of a typeahead with a scroll bar in a mainstream web app?

[2016-03-12 16:01] Saketnandan commented on #518
[](url)

[2016-03-12 16:01] #518 closed

[2016-03-12 17:26] #501 closed

[2016-03-12 17:52] timabbott commented on #505
I updated the patch to set TSEARCH_VERSION to 0.1.3, so you should be able
to just try the code from my PR now.

[2016-03-12 22:19] sharmaeklavya2 commented on #256
I tried to get a python3 venv working. Most packages had a python 3 port available. `tools/test-backend` runs well on the first 17 tests and gave this error on the following test

[code]

I traced this down to line 144 in `bugdown-data.json`. What is bugdown and what is camo?

[2016-03-13 00:28] timabbott commented on #516
The code for managing collapsed messages is I think in `static/js/message_list_view.js` if anyone wants to take a crack at debugging this; it sounds like the reproduction recipe is pretty simple here...

[2016-03-13 00:30] timabbott commented on #515
Thanks for the report!  This definitely should be fixed.  The idea of making it fixed at the top rather than in the scrollable section is pretty reasonable; the other approach we could take is having it appear inside the individual stream's "Administrator settings" block (which would probably be more readily visible for the user, and save a bit of work if we were to eventually move the per-stream

[2016-03-13 00:33] timabbott commented on #503
Yeah I'm also not convinced by the use case; I'd be happy to reconsider this idea if we start hearing from users they find this annoying in an actual use case, but for now closing this as wontfix.

[2016-03-13 00:33] #503 closed

[2016-03-13 00:42] timabbott commented on #256
Bugdown is the Zulip markdown parser (implemented as an extension to python-markdown), `zerver/lib/bugdown/__init__.py` is the main implementation file, and `bugdown-data.json` is the test data set for it.  Camo is a https image proxy that Zulip uses to avoid mixed-content warnings.

Looking at that error, it appears it's an unicode bug of some sort -- `b''` is getting included in part fo the URL

[2016-03-13 01:01] wdaher commented on #515
Either option works for me.

On Sun, Mar 13, 2016 at 9:31 AM, Tim Abbott <notifications@github.com>
wrote:

[2016-03-13 01:11] krtkmj commented on #516
@timabbott I am working on this.

On Sun, Mar 13, 2016 at 5:58 AM, Tim Abbott <notifications@github.com>
wrote:

[2016-03-13 06:49] SummerBulb commented on #507
Yes:
[code]

Indeed, if I `ls` the directory, there is no file of directory called `webpack-dev-server`:
[code]

[2016-03-13 08:07] SummerBulb commented on #507
Update: I remove the `node_modules` directory and re-ran `npm install`. The module error is now gone. But the 500 an 404 and still here...

[2016-03-13 09:17] avikantz opened #519 "Username change not visible in old chats."
If a user changes their _full name_ in settings, the effect is apparent in new messages, but not in old ones.

![screen shot 2016-03-13 at 2 13 13 pm](https://cloud.githubusercontent.com/assets/7699509/13727783/84e2016e-e926-11e5-913b-7af3864f7c8b.jpg)

![screen shot 2016-03-13 at 2 13 32 pm](https://cloud.githubusercontent.com/assets/7699509/13727785/8af1672a-e926-11e5-8795-872433102e6e.jpg)
![sc

[2016-03-13 09:17] ashishk1994 commented on #505
@timabbott Thanks It worked, above mentioned error is gone but during the installation of npm modules I am getting some error.
Actually I am behind proxy previously It was giving some proxy error but those are resolved by setting up the proxy and https-proxy as
npm config set proxy
npm config set https-proxy
Gist: https://gist.github.com/ashishk1994/bb9fc031c5c1e61b3c64
npm-debug.log: https://gist

[2016-03-13 09:32] sharmaeklavya2 commented on #256
I fixed it. `InlineHttpsProcessor.run` had this line:

    img.set("src", "%s%s/%s" % (settings.CAMO_URI, digest, hex_encoded_url))

I changed it to:

    img.set("src", "%s%s/%s" % (settings.CAMO_URI, digest, hex_encoded_url.decode("utf-8")))

[2016-03-13 09:36] sharmaeklavya2 commented on #256
Now I'm facing this error:
[code]

I think the problem is arising because django-pipeline is not completely python 3 compatible.

[2016-03-13 09:56] krtkmj commented on #483
@timabbott Hi I worked on this issue. # in parenthesis is # of subscribers. See if it looks good or I am open to suggestions.
![screenshot from 2016-03-13 15 08 15](https://cloud.githubusercontent.com/assets/6594924/13728029/949d835e-e92f-11e5-97d8-d908be1ae461.png)
![screenshot from 2016-03-13 15 08 07](https://cloud.githubusercontent.com/assets/6594924/13728030/94c58bc4-e92f-11e5-8cd3-5c64f5c05a

[2016-03-13 10:32] sharmaeklavya2 commented on #256
I also noticed that in python 3 tests in `zerver/tests.py` are not being run. In python 3, tests start with
[code]
Any idea why this could be happening?

[2016-03-13 11:02] disissid commented on #515
Yeah, having inside the "Administrator settings" block is a good idea rather than floating it around hindering the view.Can I take this as my next project?

[2016-03-13 15:32] sharmaeklavya2 commented on #256
I have made a small report about python 3 support of controversial packages. I hope this will help.

### django-auth-ldap
* version: We use 1.2.6; latest is 1.2.7
* pypi python support: 2.6-2.7, 3.3-3.5
* Internally uses pyldap for python 3 and python-ldap for python 2.

### fonttools
* version: We use 3.0 which is latest
* pypi python support: -
* Supports py3.3+ according to [README](https://git

[2016-03-13 16:55] timabbott commented on #515
Go for it!

[2016-03-13 17:01] timabbott commented on #483
Cool @krtkmj, can you open a pull request with your code?  @wdaher thoughts on that screenshot?  I worry a bit that it may be unclear that these are numbers of subscribers (and not, e.g. unread counts).  It'd be good to at least add e.g. a person icon next to the count (could also make sense to put it in a different column...)

[2016-03-13 17:12] #505 closed

[2016-03-13 17:13] timabbott commented on #505
Great, thanks @ashishk1994, I merged the fix.

[2016-03-13 17:14] timabbott commented on #505
@ashishk1994 re the proxy issue, since it sounds like you've done the work to debug this, it'd be useful if you contribute a patch to the Zulip development setup instructions (README.dev.md) on how to setup a Zulip development environment when on a network where a proxy is needed to access the internet -- can you do that?

[2016-03-13 17:19] timabbott commented on #519
@avikantz thanks for reporting this!  While it's a known issue, it's good to have it in the tracker.

The issue is actually that the older messages are cached in the browser, including the names of the participants.  So when we live-update the names of other users in people.js:exports.update() (called from server_events.js when a realm_user update comes in), we would need to actually rerender exis

[2016-03-13 17:21] timabbott commented on #507
@SummerBulb which instructions are you following for setting up your development environment?

If you have a 500, there should be a traceback -- is the error still `AttributeError: 'WSGIRequest' object has no attribute '_tornado_handler'` or something else?  Regardless, I would start with restarting your run-dev.py process to see if that helps.

[2016-03-13 17:22] timabbott commented on #507
(And please post the full terminal output starting from the run-dev.py command line, so I can see the full context)

[2016-03-13 17:35] timabbott commented on #463
@AcidWeb sorry for the delay, but I am fairly confident that #521 will fix this issue.  It'd be great if you could confirm the fix.

[2016-03-13 19:55] ashishk1994 commented on #505
@timabbott  I have added the details here. Check the https://github.com/zulip/zulip/pull/523.

[2016-03-13 19:58] sharmaeklavya2 commented on #256
I deleted all other test files and ran test-backend. It then worked and showed the same django-pipeline error as above on the very first test.

So it seems we have no option but to port our code to the new django-pipeline before any more progress can be had on python 3 support.

[2016-03-13 23:17] timabbott commented on #256
Great, thanks for putting together that analysis @sharmaeklavya2 !

I think there are two angles for how to make forward progress on python 3 support from here:
* You can run the tests with `test-backend --nonfatal-errors` to see the whole set of which tests pass and fail, and thus fix those issues that are unrelated to the django-pipeline version issue.
* I agree that we'll need to do the django-

[2016-03-14 01:37] sharmaeklavya2 commented on #256
Well yeah you were right about tests.py not running because it's due order is different. I did a small experiment to find that out. Nevertheless, it is failing with the same error message (django-pipeline).

[2016-03-14 01:44] timabbott commented on #256
Can you post the django-pipeline traceback?
​

[2016-03-14 02:10] sharmaeklavya2 commented on #256
[code]

[2016-03-14 02:20] sharmaeklavya2 commented on #256
Thanks for the `--nonfatal-errors` switch. I found many errors not related to django-pipeline. They seem easy to fix.

[2016-03-14 06:28] SummerBulb commented on #507
@timabbott Turns out I was browsing to localhost:9992. On the one hand, the page loads as if i was using port 9991, but on the other hand, the routing seems to fail.

[2016-03-14 12:45] sharmaeklavya2 commented on #256
In `zerver/models.py`, `__repr__` and `__str__` methods of models return `bytes` instead of `str`. This is okay in python 2 but it's wrong in python 3 and gives a `TypeError`.

For eg, we have this in the `Stream` model:
[code]

I think we can safely change it to
[code]

I changed it to that and tools/test-backend is not giving any error on python 2.

But I thought maybe there is a reason why it i

[2016-03-14 12:56] AcidWeb commented on #463
Good job. Sadly I cant say when we could test in in live environment.

[2016-03-14 14:57] datamuc opened #526 "Mute topic/stream for a limited time"
It would be nice if I could ignore a topic or stream for a limited amount of time (like 1h or 24h or so). I'm generally interested in that topic or stream, but not in the current conversation.

[2016-03-14 20:13] disissid commented on #515
@timabbott Adding warnings inside the administrator settings block isn't a very good idea,
1) Sometimes even administrator settings block gets even bigger than the screen height, so having a warning inside doesn't solve the issue in the first place.
2)Non-uniformity, all the 'create new stream' warnings(and some others) will be displayed outside the administrator settings block.

I'm inclining tow

[2016-03-14 20:44] disissid commented on #457
@timabbott Hi, why can't implemented delete a private stream if he is not part of it, is this intentional?

[2016-03-14 21:17] TomaszKolek commented on #69
https://github.com/TomaszKolek/zulip/pull/1

@timabbott
It's on my fork because I'm working on refactored webhooks version.
Please look if we've not missed our concepts.

[2016-03-14 21:44] disissid opened #528 "Link to this conversation isn't quite clear"
I clicked on the 'Link to this conversation' from dropdown at right of a message, it took me some time to figure out that link in the url has been changed, I even tried pasting in the message box(before figuring out) thinking that it might have gotten copied to my clipboard.

![screenshot from 2016-03-15 03 03 05](https://cloud.githubusercontent.com/assets/6582951/13760831/2085a17c-ea5b-11e5-993b-

[2016-03-15 03:50] timabbott commented on #515
@disissid that reasoning makes sense to me, let's have it be fixed at the top.

[2016-03-15 04:09] timabbott commented on #502
OK; definitely seems like it should be reproducible.  If anyone wants to take a look at reproducing and debugging this before I get a chance, you'll need to enable zproject.backends.EmailAuthBackend in zproject/settings.py.

[2016-03-15 04:26] timabbott commented on #69
Cool!  That approach looks pretty good.

[2016-03-15 04:40] timabbott commented on #256
Yeah, I think there was a reason -- the reproducer for the issue that resolved is this:

`from zerver.models import *; print(Stream(name=u"☃", realm=get_realm("zulip.com")))`

[2016-03-15 04:41] timabbott commented on #256
Re the django-pipeline issue, that traceback makes sense; I think we basically will have to resolve that by upgrading django-pipeline.

[2016-03-15 04:49] timabbott commented on #528
Thanks for reporting this, @disissid !  I agree that the current link is a bit confusing.

What if instead we made it a button that copies to clipboard with the test saying "Copy link to conversation"?  That's the main intended use case for that menu item.

[2016-03-15 04:59] timabbott commented on #457
@disissid that's an interesting question.  In the current Zulip security model, admins don't have any access to private streams that they are not subscribed to (check out the Zulip security model notes (https://github.com/zulip/zulip/blob/master/README.prod.md#messages-and-history) in README.prod.md for details).  I think it would be reasonable to change that aspect of the model (so admins can del

[2016-03-15 05:05] timabbott commented on #526
I think this is a reasonable feature concept.  I think it needs some thought about exactly how the UI should work for enabling this "temporary mute", and the exact details of what it should do (e.g. does one want a fixed time window like 24hr, or wait until its idle for 1hr, or something else?).

[2016-03-15 05:08] timabbott commented on #507
Ahh, thanks for report back on that @SummerBulb , that makes a lot of sense.  What is happening is that usually in development port 9991 intelligently proxies to either 9992 (Django) or 9993 (Tornado events system) based on the URL, so visiting 9992 directly doesn't work because it can't reach the events system.

I think we should be able to implement something that provides a clear explanation of

[2016-03-15 05:08] krtkmj opened #529 "Messages from unsubscribed stream in Home"
In Home, I see messages from an unsubscribed stream(See screenshot).
![screenshot from 2016-03-15 10 32 35](https://cloud.githubusercontent.com/assets/6594924/13768221/85b95564-ea99-11e5-9261-e8e80a3ffbbf.png)

I am subscribed to "Verona" Stream, though messages from Verona are there in my Home. Please confirm if its a bug or how is it working?

[2016-03-15 05:14] timabbott commented on #529
The Home view shows all the messages you've received, whether or not you are still subscribed to the stream they were sent to now (similarly, it doesn't add the entire stream history into your message history when you join a stream).  This saves a lot of expensive work rewriting the user's message history, and also provides a clearer user experience where if you scroll to last month's messages in

[2016-03-15 05:14] #529 closed

[2016-03-15 05:17] timabbott commented on #498
Weird, I wouldn't have expected Virtualbox to have this sort of problem just because you're running it inside cygwin.  You may want to try doing `vagrant destroy && vagrant up`; it's possible that's a transient error (npm can be flaky, unfortunately)...

[2016-03-15 05:17] krtkmj commented on #529
@timabbott Thanks, it helped.

[2016-03-15 06:49] priya299 opened #530 "Development environment provision fails to find postgresql > 9.3 version already installed"
I was trying to setup the development environment of zulip and I ended up in the following error.
![fielderror1](https://cloud.githubusercontent.com/assets/17764649/13769719/df952320-eaa7-11e5-93d8-06e32d926b16.png)

Postgres 9.4.6 is already installed in my system. It is given in the documentation of zulip development environment installation that any postgresql>version 9.1 is preferable.
![field

[2016-03-15 09:50] akashnimare commented on #530
Which version of ubuntu are you using? Have a look [here](https://github.com/zulip/zulip/blob/master/README.dev.md#on-debian-or-ubuntu-systems).

[2016-03-15 09:51] disissid commented on #528
Yeah that would be nice, will work on it after resolving the warning bug.

[2016-03-15 09:58] priya299 commented on #530
Version in 15.10

[2016-03-15 12:31] sharmaeklavya2 commented on #256
[Django's way of handling `__str__` and `__unicode__`](https://docs.djangoproject.com/en/1.9/topics/python3/#str-and-unicode-methods) is the cleanest I have found so far. I think this is what we should do for our models.

[2016-03-15 12:32] varshit97 opened #533 ""vagrant ssh -- -L9991:localhost:9991" Not working after latest pull"
![issue](https://cloud.githubusercontent.com/assets/14835842/13777749/f7874c62-ead7-11e5-8948-73f3583e895c.png)

This is the error after running "vagrant ssh -- -L9991:localhost:9991" after pulling.
Any fix for this?
Please check !!

[2016-03-15 13:39] sharmaeklavya2 commented on #533
Do you already have a development environment running natively? If yes, that will take up port 9991 and not allow vagrant to do so.

[2016-03-15 13:53] varshit97 commented on #533
@sharmaeklavya2 I have zulip set up already. The server isn't running, even then I am getting this error.

[2016-03-15 16:28] timabbott commented on #256
OK, yeah that seems reasonable.

[2016-03-15 17:50] timabbott opened #535 "Migrate from jslint to eslint for the javascript linter"
jslint is pretty clearly no longer the preferred choice for javascript linter, and eslint has a pretty active plugin ecosystem which should make it easy to add new options.

Since the projects likely have different configurations by default, the way I'd want to do this project is to first replace jslint with eslint configured to check as close to the same rules as we have jslint doing (to minimize

[2016-03-15 17:50] timabbott opened #536 "Add lint check for no-newline-at-end-of-file"
Removing the newline at the end of files is a pretty common issue in Zulip pull requests; this is a classic example of something best checked by computers rather than being checked in code review, so we should modify tools/lint-all to add a check for this.

Googling a bit, it seems like eslint has a plugin to do this, so it's possible that as part of making progress on this we should do the migrat

[2016-03-15 20:08] frostyfrog commented on #528
I'm just going to [leave this link to clipboard.js here](https://clipboardjs.com/), just in case it comes in handy or if I decide to try to work on it... >_>

[2016-03-15 20:33] TomaszKolek commented on #69
#537 - created, ready to review.

[2016-03-16 00:25] wama881 commented on #320
Hi  Tim, Is there a timeline when the two phases you mentioned above will be implemented? And is there a way to get all uploaded files for a specific stream? Thanks.

[2016-03-16 04:56] danshev opened #538 "APNS package is out of date, causes authentication error"
Zulip currently relies on the [**apnsclient** package](https://pypi.python.org/pypi/apns-client/0.2.1) for sending Apple push notifications.  Unfortunately, that package hasn't been actively maintained since 2014.

This has become a problem as **apnsclient** still uses `OpenSSL.SSL.SSLv3_METHOD`, which Apple stopped supporting in October of 2014.  As such, if you build the current Zulip as-is, App

[2016-03-16 05:03] timabbott commented on #538
The packages in the Zulip apt repository that we used for python-apns-client have been using the TLSv1_METHOD for a long time (this is a patch against upstream python-apnsclient).  It looks like there's been a behavior change a few days ago on Apple's end that makes that workaround no longer work.

[2016-03-16 05:09] timabbott commented on #538
I guess https://github.com/djacobs/PyAPNs is probably a reasonable option

[2016-03-16 08:30] mgrabow1 commented on #502
I've been having a similar problem for some time now in my organization. If I send an invitation mail using mixed-case address and a person accepts it (no problem so far) there are issues with starting a PM using user list: if I double-click on such contact, your private conversation shows up, but it's all greyed out (as if it didn't concern this contact). But when I modify the "You and" line and

[2016-03-16 10:20] disissid commented on #528
Hi @timabbott [clipboard.js](https://clipboardjs.com/) seems nice, what do you think? Shall I start working on this?

[2016-03-16 11:41] disissid commented on #457
Yeah I agree it should be given a lot of thought before implementing. But I think admin should atleast know how many streams are there(public or private), no. of people subscribed to each stream, usage statstics, and much more( I know, you are thinking of implementing it) So sticking to this issue, Are organisations currently using zulip are satisfied with this feature(admin not having access to p

[2016-03-16 13:13] varshit97 commented on #536
@timabbott Will it be fine if I do like, opening every file and going to the end and checking or should I be doing something better than this?

[2016-03-16 13:14] varshit97 commented on #533
@sharmaeklavya2 Its working fine. Thanks for the help :).

[2016-03-16 13:14] #533 closed

[2016-03-16 13:41] SummerBulb commented on #498
Being a true Windows user I tried destroying and creating a few times. It didn't change anything.

[2016-03-16 16:20] timabbott commented on #536
custom_check_file in `tools/lint-all` is already reading every file to the end, so I think you can just add a bit of code in that function to check that there's a newline at the end of the file.

[2016-03-16 16:23] timabbott commented on #528
@disissid yeah, I think it's reasonable to work on this.  Just FYI, we have some copy/paste related code already in static/js/copy_and_paste.js, but it's very complex and for a different use case (copying a set of messages out of the feed).  clipboard.js seems reasonable for this application.

[2016-03-16 16:45] disissid commented on #528
Thanks @timabott , I'll take a look at the code already written.

[2016-03-16 21:19] transistorgit commented on #538
Do you have a current problem? I'm using PyAPNSs for a year now, and yesterday it suddenly broke and my measurement system suddenly stopped sending push notifications around March 15, 23:00 UTC. I agree that probably something changed at apple's side.

[2016-03-16 21:25] danshev commented on #538
I agree -- I think something's up.

I'm seeing very strange behavior even with the "hot fix" to the OpenSSL.SSL.TLSv1_METHOD.

I have:

- An iOS app distributed from TestFlight (so **definitely** in `aps-production` mode)
- The production .pem on the server
- From apnsclient, my connection is `push_production`

... but I keep getting `Invalid token` errors.

In fact, the only way I _**don't**_ get

[2016-03-16 22:57] timabbott commented on #502
Yikes, well this should definitely work, and I bet the fix will be small, just needs someone to track this down.  I'm hoping one of the interested GSOC students will take this, but if not I can take a look this weekend.

[2016-03-16 23:31] danshev commented on #538
I believe the root of the oddity is that Apple now issues a Production Certificate called "Apple Push Services" (vs. the old "APNs Production iOS").

This is part of [Apple's new HTTP/2 -based Push API](https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/APNsProviderAPI.html)

If you read the notes, it states,

You'll notice that, abov

[2016-03-17 00:31] danshev commented on #538
https://github.com/jleclanche/django-push-notifications might be another worthwhile alternative.

[2016-03-17 00:32] cjb opened #541 "Support lightweight "reactions""
Emoji responses shown underneath a post.

[2016-03-17 01:36] sharmaeklavya2 commented on #256
I noticed that we are using an old version of pika (0.9.14) which does not support Python 3. The latest version (0.10.0) has Python 3 support. I have update the [packages report above](https://github.com/zulip/zulip/issues/256#issuecomment-195979757).

[2016-03-17 15:21] sharmaeklavya2 commented on #256
I have ported Zulip to django-pipeline 1.6.7 (which is the latest version) from 1.2.2. See pull request [#545](https://github.com/zulip/zulip/pull/545).

[2016-03-17 23:12] tobywhughes commented on #541
Are you saying similar to facebook's new like system?
![New system](http://cdn.pcadvisor.co.uk/cmsdata/features/3635702/facebook_reactions_800_thumb800.png)

I personally think that would be an interesting feature to add, but it should definitely be able to be toggled off.

[2016-03-18 01:26] timabbott commented on #541
I think this is a feature that we'll likely end up wanting to add at some point in the future, since it's been a popular feature for some similar products.  It's probably one of the more complex new features that could be added to Zulip.  If anyone's interested in working on this, ping me and I'm happy to help with a technical design.

[2016-03-18 01:26] timabbott opened #548 "Make it harder to accidentally delete a production Zulip database."
See https://groups.google.com/d/msgid/zulip-devel/8ace9a24-473c-4138-98d4-bd29cee5829f%40googlegroups.com for details

[2016-03-18 01:28] timabbott commented on #548
I think one could approach this by making the scripts that have the effect of killing the database prompt in someone if there appears to be nontrivial data in it (e.g. >N messages).

[2016-03-18 05:27] sharmaeklavya2 commented on #256
I have been using the latest version of pika for a few days. No problems have come up so far, except that it sometimes throws weird errors when I stop tools/run-dev.py with <kbd>Ctrl</kbd> + <kbd>C</kbd>.

[2016-03-18 05:52] timabbott commented on #530
The `provision.py` script at present only supports Ubuntu 14.04 trusty, and is documented as such.  It'd be reasonable to open an issue about expanding that, but the solution to your problem for now is to either use the Vagrant instructions or the "by hand" instructions, not manually running provision.py on your Ubuntu 15.10 system.

[2016-03-18 05:52] #530 closed

[2016-03-18 06:29] timabbott commented on #256
Cool!  Might need to track down those errors, though they might go away with https://github.com/zulip/zulip/pull/367...

[2016-03-18 08:01] varshit97 commented on #548
@timabbott Would a prompt before deleting be fine? A prompt like the one which comes for rm -i
![rm](https://cloud.githubusercontent.com/assets/14835842/13872077/95808e7e-ed0d-11e5-9375-d54b35a17262.png)

You have to type "y" to confirm the delete.

[2016-03-18 08:56] varshit97 commented on #401
@timabbott What minimum version of npm should be sufficient for installation of zulip?

[2016-03-18 22:06] disissid commented on #528
@timabbott button should just copy the link to clipboard or should also narrow the view?

[2016-03-19 17:26] naggie commented on #201
Any progress on this? Even a video would be good.

[2016-03-19 17:35] danshev commented on #201
I found the easiest solution was to just run the dev server locally.

[2016-03-19 17:36] timabbott opened #549 "Improve operational control over Zulip digest email support"
Here are two issues suggested by @jmandel in #527 that I think we should address:
- the current digest functionality hardcodes a list of days on which digests are sent (Tue-Thu). It might be good to expose this decision in settings.
- the current digest functionality will double-send e-mails if you trigger the digest generator twice. Ideally it would be nice to "mark" the point at which the last d

[2016-03-19 17:44] timabbott commented on #320
There isn't a timeline -- most new feature development right now is driven by individual contributors deciding its worth working on an issue; we don't have a centralized planning process (though I'm hoping to set one up in the next month or two).

Right now, my time is currently absorbed with managing the 40 open pull requests we have due to Zulip being very popular with Google Summer of Code appl

[2016-03-19 18:25] timabbott commented on #548
Yeah, a prompt along those lines would be fine, but as I mentioned above, I'd only want the prompt to appear in the case that the database has nontrivial data in it (because these commands are often run repeatedly as part of early setup, and the prompt would be annoying).  So something like

"You are about to delete the Zulip database, including N messages.  Are you sure you want to do that?"

[2016-03-19 18:31] timabbott commented on #401
@varshit97 I'm not sure, I think someone will need to test (or research).  Zulip does not integrate with npm tightly -- we just run `npm install` with the package.json file in the root of the Zulip git repository, so I think this should be fairly easy to investigate...

[2016-03-19 18:33] #275 closed

[2016-03-19 18:35] timabbott opened #551 "Add documentation for manage.py shell usage"
Now that we've fixed #275, we should add a section to README.prod.md on how to use the Django manage.py shell (probably mostly linking to the Django docs, mentioning what's auto-imported via the fix to #275, and giving a few examples)

[2016-03-19 19:17] timabbott commented on #528
Hmm.  I can see use cases for either.  One idea would be to do something that looks like this:

[Narrow to this conversation](link) [:clipboard:](copies to clipboard)

where the clipboard icon does a fast copy to clipboard and the link remains as it is?

[2016-03-19 19:40] timabbott commented on #380
@clam2310 can you check out https://github.com/zulip/zulip/pull/508 to see if that would solve this issue for you?

[2016-03-19 19:55] disissid commented on #488
I confirm that this is an issue on vagrant as well.

[2016-03-20 00:30] timabbott commented on #457
I think probably it makes sense to add the features you describe, from a security model perspective.  I do think there are at least some organizations who want to be able to have some admins who do not have access to read content on private streams.  It's probably OK in those organizations for team admins to be able to see the names of private streams, though even that would be a change from the c

[2016-03-20 02:17] disissid commented on #528
![screenshot from 2016-03-20 07 41 32](https://cloud.githubusercontent.com/assets/6582951/13902468/8eb01fd4-ee6f-11e5-9d5d-76e4dabef99c.png)
![screenshot from 2016-03-20 07 42 13](https://cloud.githubusercontent.com/assets/6582951/13902467/8eac6650-ee6f-11e5-8bf5-9fb8cb8b5e40.png)

Which mockup is better? I'm inclining towards the second one.

[2016-03-20 02:51] frostyfrog commented on #528
Personal preference from what I've commonly seen UX designers do: I'd have
to go with the second mock up. Though it might make more sense of the text
said "Copy link to this conversation"

~ Sent from my Alphabet phone
On Mar 19, 2016 8:17 PM, "Kumar Siddharth" <notifications@github.com> wrote:

[2016-03-20 04:40] timabbott opened #552 "Improve backup documentation/scripting to be more automated"
Here's the output from a DRT test of our backup tooling: https://groups.google.com/d/msgid/zulip-help/1d6a8e06-9b2b-4b5c-b19a-d9ee67486d87%40googlegroups.com?utm_medium=email&utm_source=footer

(included below)

[code]

It probably makes sense to script/document this more directly within the Zulip codebase.

[2016-03-20 04:52] timabbott commented on #479
Hi @nitingera1996, sorry for the slow reply!  This is a somewhat complicated issue, since I think ultimately we need to come up with a clear name for what to call the bot's "email address" that isn't confusing.  Currently, for actual users, the person's email address is the username.  For bots, this can be a bit confusing, but probably your account ID a "username" uniformly in the API docs might m

[2016-03-20 04:55] timabbott commented on #465
We need to improve the troubleshooting docs for RabbitMQ, combining the data  in this issue with the data from https://github.com/zulip/zulip/issues/194#issuecomment-166703534 and replacing my initial work in https://github.com/zulip/zulip/pull/377, which is definitely lacking in specificity.

[2016-03-20 04:56] timabbott commented on #502
I'm not looking into this for now, since it sounds like one of the GSOC is working on this.

[2016-03-20 06:59] timabbott commented on #463
It appears my confidence is misplaced; I did some testing and the updated version appears to still leak memory, though I think it's less than it used to.  Reopening this issue, I'll investigate further.

[2016-03-20 15:49] sharmaeklavya2 commented on #502
I changed py3k such that now a list of files are sent to futurize instead of calling it individually on each file. There was improvement in performance, but the difference is not very large, like I expected it to be.

[2016-03-20 15:55] sharmaeklavya2 commented on #502
I noticed that you have put a version of my py3k script on Travis. But that script always returns 0, whether checks fail or not. Should I change that? I think we will get a lot of violations of `fix_dict_six`, so we can let that pass.

[2016-03-20 16:34] disissid commented on #457
I had an idea in my mind and after reading your previous comment I think it makes sense, to have a super user(admin) who could set privileges for different admins. We obviously don't want to increase the complexity, so how it should be implemented UX wise must be taken care of. What do you say @timabbott ?

Can I take up this issue next?(implementing the two changes you suggested)

[2016-03-20 18:56] timabbott commented on #335
@heitorlessa we just merged into master some great work by @blablacio that added a mechanism for documenting Hubot integrations clearly in the Zulip docs and in particular documents the Hubot Hangouts integration; I think it would be reasonable to add links to the docs for additional videoconference tools  like appear.in, if anyone is interested in that.

To what extent do folks think we should al

[2016-03-20 23:54] timabbott commented on #463
OK, I just merged a set of commits that fix the remainder of the memory leak problem, which I've carefully tested and deployed successfully on zulip.com.  So this is fixed for real; I'm closing this issue.  Thanks gain @AcidWeb for reporting and helping investigate this issue!  I really appreciate it.

[2016-03-20 23:54] #463 closed

[2016-03-20 23:59] #516 closed

[2016-03-21 00:07] timabbott opened #554 "Add last deployment tracking in Zulip deploy processes"
It would be good to keep track of the last deployment made in our two upgrade path tools (`tools/update-deployment` and `scripts/lib/upgrade-zulip`), so that `scripts/purge-old-deployments` can avoid purging the last deployment (so you can revert back to it if desired).

Also this would make it easier to revert a bad deploy without having to think.

Finally, `scripts/lib/upgrade-zulip` should call

[2016-03-21 00:20] timabbott commented on #457
Yeah, I've been thinking about whether a superadmin concept makes sense.  I'm not entirely sure it does, but it might.

Working on this stuff next seems reasonable to me!

One of the two changes discussed has gotten at least some work in https://github.com/zulip/zulip/pull/486; though it had a good amount of issues, and I'm not sure the author is planning to fix it up.

[2016-03-21 12:30] goelakash commented on #499
The script already downloads phantomjs-1.9.8 from bitbucket I think:
[code]

[2016-03-21 13:02] sharmaeklavya2 commented on #499
provision.py installs it, but the [manual install instructions](https://github.com/zulip/zulip/blob/master/README.dev.md#on-debian-or-ubuntu-systems) don't mention installing it.

[2016-03-21 13:13] SummerBulb opened #558 "How to configure user list to hide?"
When the screen is narrow, and if the user has not enabled "Display user list on left side in narrow windows." , the user list is hidden and a small icon appears in the top right corner, next to the cog.

How can I make this configurable?
I'd like to have it hidden by default and allow users to choose if they want it always open

[2016-03-21 14:08] SummerBulb commented on #301
@timabbott I just opened #558 which is very close but a little different.

I'd be glad to change the user profile attribute `left_side_userlist` so that is has four logical values: always on the right, always on the left, on the left for narrow window, and on the right but hidden

I can look at the code myself, but a small intro would be of great help.
Thanks.

[2016-03-21 15:58] disissid commented on #528
What do you think @timabbott ?

[2016-03-21 18:09] chandan5 opened #560 "Hide stream from streams table (without refreshing) when deleted by admin."
Currently when admin deletes a stream from admin streams table. Stream is still visible in streams side panel. It should go as soon as there is success in deletion of stream.

[2016-03-21 18:16] disissid commented on #560
Quoting @timabbott from #124

[2016-03-21 18:28] chandan5 commented on #560
By admin streams table I meant the one in view. I know streams are deactivated and not deleted. I meant that when it is deactivated same stream should be deleted from side panel table on the left side of the page. It seems it is deleted. So this is not an issue.

[2016-03-21 18:28] #560 closed

[2016-03-21 18:35] chandan5 opened #561 "Calendar and task assignment"
A calendar widget on bottom right of the web page.
Admin or some special user can create task for some user(s). These tasks will show up in the calendar.
Integration of this with google calendar and several other features....
How does this feature sound ? Would it be good to have this feature ?
Anybody wants to discuss it ?

[2016-03-21 18:38] chandan5 commented on #561
@timabbott @lfaraone What do you think ?

[2016-03-21 18:45] Alpus opened #562 "Add distributing of users by groups in administration page."
When number of users increase it is hard to find needed user (e.g. from team that work directly with you). I suggest to add an opportunity to distribute users by groups in administration page. Also, it can help to solve issue #236 (If we make opportunity to create folders of users in right sidebar it seems logically that one of the folders will contain groupmates).

[2016-03-21 18:58] Alpus opened #563 "Make search of users and streams by filters"
There are lists of users and streams in administration page and in stream settings page, but there are no instrments for effective searching of items in tnem. So, I sudgest to add instrument for searching of that items with filters by name and participants for streams and by name, email, is admin, is activated, group etc. for users. Also, it will be very convenient to make some actions with all fi

[2016-03-21 19:14] Alpus opened #564 "Implement changing of group private chat titles"
Now, the titles of group private chats is just enumerations of user names and it is not convenient. It seems logically to add opportunity for each user to interchange that titles with more understandable for human. It might be implemented as button near the name like an arrow in the upper left corner of messages.

[2016-03-21 19:22] Alpus opened #565 "Support searching for streams by name"
Searching users by name (in right sidebar) it is convinient feature and it seems wise to add the same feature for streams. Also, adding of folder supporting for stream list will make work with huge lists more efficient.

[2016-03-21 19:42] Alpus opened #566 "Transfer part of the settings that implemented for administration page to "stream owner" users"
I think that when number of streams increase that is not convinient for administrators to manage all streams by themselves. Maybe it has sence to give opportunity to setting stream (delete, rename etc.) for its creator? That will shift the part of responsibility from administrators to users.

[2016-03-22 03:20] timabbott commented on #498
This thread has some notes on how another user fixed this issue:

https://groups.google.com/d/msgid/zulip-devel/68fad6d5-0dbf-4426-9379-e8d24e23c9c7%40googlegroups.com?utm_medium=email&utm_source=footer

It'd be good to cover this in the documentation.

[2016-03-22 03:36] timabbott commented on #558
It sounds like roughly you want to add an option to make the user list always shown even in super-narrow windows where that might make it hard to read the actual chat messages?

Can you go into a bit more detail on the use case?  There's a few possibilities I can imagine for what you mean, and I'm not sure which, so it's hard to give you advice on how to do what you want.

[2016-03-22 04:03] timabbott commented on #566
I think "stream owners/admins" is a reasonable concept but I think we need to be thoughtful about the semantics -- e.g. what happens when the stream admin leaves the stream?

[2016-03-22 04:05] timabbott commented on #565
That description covers two ideas.  I'm not sold by the idea of having folders of streams -- that would add a lot of UI complexity and I'm not convinced it's needed.  But I think it'd be totally reasonable to have an interface for filtering/searching for streams, either on the stream sidebar or the stream management page.

[2016-03-22 04:07] timabbott commented on #564
This is a potentially interesting idea.  I think probably the model I'd take for solving this problem is to have the ability to change a group private message conversation into a private stream, since that's effectively a nicely named group of users already.  We'd need to be thoughtful about letting the user specify a range of messages to move over to the new stream, since a particular group of us

[2016-03-22 04:09] timabbott commented on #563
Adding a text box for doing filtering to the lists of users in the admin page and lists of streams in the admin and stream settings pages would be a very reasonable feature to add.  We may also want to add additional ways to filter (either via keyword type filters like we do for messages, or e.g. checkboxes), but I'd start with the basic filter-by-name/email, since that's going to be by far the mo

[2016-03-22 04:11] timabbott commented on #562
Hmm, maybe.  I think I'm more excited about an implementation of #236 as a next step towards making progress on the direction of scaling the user lists; I think it's very possible the right solution here for the administration page is just to have a good search feature.

[2016-03-22 04:14] timabbott commented on #561
I don't think it makes sense to try moving Zulip into providing a task management/calendaring feature at this point; I think we'd have a hard time making something competitive with existing projects without a ton of work.  If you're interested in working on something in this direction, I think cleaning up `bots/gcal-bot` (which was written years ago to provide calendar reminders via Zulip messages

[2016-03-22 05:47] timabbott commented on #106
@blablacio is working on this feature!

[2016-03-22 05:56] timabbott commented on #301
Well there are a few issues involved with doing that.  The boring one is that we'd need to change the type of the field to be an enum or something; I imagine we can work that out.

If you run `git grep left_side_userlist static/`, you'll see that we only access that variable in ~10 places in the frontend code, and that's including the code for updating the setting (which is most of it).  The right

[2016-03-22 06:44] SummerBulb commented on #558
See #301

[2016-03-22 07:45] chandan5 commented on #561
Yeah it would be good to provide task assignment by making gcal-bot two way. Can you tell me what a bot exactly is ? According to my understanding its a service which can be activated by admin and then functionality provided by that bot can be used. Can you point me to some resources for how bot works at Zulip.

[2016-03-22 12:13] sharmaeklavya2 commented on #256
I saw that the file `tools/python-proxy` was giving a `UnicodeDecodeError` with python3. When I opened the file, I found that it has encoding `cp1252`. There are a few special characters (Spanish?) in that file where python 3 throws up. Python2 does not give that error, but it is not able to display those special characters correctly on my terminal.

There might be a few more files like this. Mayb

[2016-03-22 15:52] SummerBulb commented on #301
I'm starting with the `auto_hide` option.

My quick and simple solution would be to take all the styling found in `static/styles/zulip.css` under the  `@media (max-width: 975px)` section, and apply it to the page, if the user has chosen `always_hidden` as the value of the `left_side_userlist` attribute.

The questions are:

1. How can I easily apply this bunch of style (over 70 lines and 20 elemen

[2016-03-22 18:14] Alpus commented on #566
I think when stream admin leave conversation he must to give someone adminn rights.

[2016-03-22 18:27] Alpus opened #570 "Make UI for more convinient work with files"
I think as part of improving of work with files it is good idea to implement next features:
1) In left sidebar add list "Files" that will contain all messages containing files. (like “Private messages” or “Stared message” lists)
2) Add button "Show all attached files" in chats.

[2016-03-22 19:06] Alpus commented on #541
I think it is interesting for me to make it as part of my summer work. I need more details.

[2016-03-22 20:49] ryansnowboarder commented on #498
Added a pull request to merge updated dev environment setup instructions in README.dev.md

[2016-03-23 06:52] ashishk1994 commented on #269
@timabbott I have added a recent-messages example tool. Check the PR https://github.com/zulip/zulip/issues/269

[2016-03-23 08:13] ashishk1994 commented on #269
@timabbott I have added recent_message example. Please check the PR https://github.com/zulip/zulip/pull/575

[2016-03-23 08:28] reyman commented on #210
Actually what is the correct `LDAPSearch` string to research users using email into ldap ? I suppose i need to change `uid=` by the correct `email=` field, but for `%(user)`

`AUTH_LDAP_USER_SEARCH = LDAPSearch("ou=users,dc=example,dc=com",
    ldap.SCOPE_SUBTREE, "(uid=%(user)s)")`

[2016-03-23 11:51] kunall17 opened #576 "Incorrect version number in commands in Production readme"
In [README](https://github.com/zulip/zulip/blob/master/README.prod.md#installing-zulip-in-production)
` mv zulip-server-1.3.6 /root/zulip`

Is the old version of zulip.

[2016-03-23 18:47] timabbott commented on #256
​Yes everything should be UTF-8 encoded; seems like something worth adding
a test/lint check for too, since those were surely introduced by accident.

[2016-03-23 18:51] timabbott commented on #561
In zulip, a "bot" is just a special user who can't login intended to be used for integrations like those in zulip.com/integrations.  There's some docs on the API at https://zulip.com/api/ and more in api/ in the Zulip git repository for the Zulip API, and we also support incoming webhook integrations via the the code under zerver/views/webhooks/.  So to write a two-way bot, you'd need to write som

[2016-03-23 18:53] timabbott commented on #570
Not sure I'd put these in the left sidebar along with the streams -- could create a lot of clutter -- but I think we definitely will want the ability to access uploaded files, and some sort of widget along the lines of a sidebar section is a reasonable frontend for it.  These ideas are related to #454

[2016-03-23 18:55] timabbott commented on #566
Right, and there's a few ways that could work -- either they can't leave until they give someone else rights, or they can leave but we have a special UI asking them to pick who to give rights to.  The "can't leave" approach is probably simpler to implement since it doesn't involve adding an extra UI.

Of course, even with that approach, we then will need to figure out how this interacts with the "

[2016-03-23 19:20] timabbott commented on #576
Hmm, yeah, this needs improvement.  Ideally we'd tweak the README instructions to not require hardcoding the version; can you think of a way to do that which doesn't involve adding more manual steps to the install process?  Maybe passing an argument to `tar` to have it unpack to `/root/zulip` would work?

[2016-03-23 19:25] sharmaeklavya2 commented on #256
After grepping for the `-*- coding: something -*-` headers, I think python-proxy is the only non-utf-8 file that we have.

[2016-03-23 19:32] timabbott commented on #256
OK cool if it's just one, probably reasonable to just fix and not bother
with a lint rule (since each one we add does slow does the linting process)​

[2016-03-23 19:41] timabbott commented on #541
Cool.  I think from a UI perspective we should plan to make it something similar to how this works in other products.

From a data storage perspective, probably we'll want to store them on a new MessageReaction table, though we need to be careful about adding additional joins to core flows for performance reasons, so it's possible we'd end up wanting to store all reactions to a message in a field

[2016-03-23 19:57] timabbott commented on #210
`%(user)` will have the user's email address in the Zulip database substituted in when generating the actual LDAP queries.

[2016-03-23 20:14] sharmaeklavya2 commented on #256
I have changed `tools/python-proxy`'s encoding to utf-8.

I can't see where this file is being used. I grepped for 'python\-proxy' and the only result that came up was `THIRDPARTY`.

If we're not using this file and we're likely to not use it in the future, then I think it is better to just delete it.

[2016-03-23 20:17] timabbott commented on #256
It was introduced in: d25f0a758028117bf1d7dc7bed5c228349692aa9

I think it was used for testing CSS not loading error conditions at some
point; there's probably value in having a tool for testing those error
conditions, but I doubt anyone has used this tool since Zulip was open
sourced.  I'd be fine with deleting it -- we can always pull it out of the
history if we find a use for it.
​

[2016-03-23 21:22] sharmaeklavya2 commented on #256
Ok. I'll delete it and send a pull request.

[2016-03-23 23:07] kunall17 commented on #576
@timabbott yeah nice idea we can replace
`  tar -xf zulip-server-latest.tar.gz
  mv zulip-server-1.3.10 /root/zulip`
with
`mkdir -p /root/zulip && tar -xf zulip-server-latest.tar.gz --directory=/root/zulip --strip-components=1`

This will place everything in the zulip folder.!

[2016-03-24 03:22] timabbott commented on #576
Call, you update #577 with that solution?

[2016-03-24 04:03] ryansnowboarder opened #581 "Strange References to .Handlebars files that DNE?"
A couple of errors are thrown while starting the dev environment via Cygwin (might be thrown through other terminals as well), yet the server ends up running seemingly fine. Screenshot of errors attached and currently investigating.
![run-dev error on windows](https://cloud.githubusercontent.com/assets/6963222/14008100/aaabd00c-f153-11e5-9235-18dd16fc009b.png)

[2016-03-24 04:23] timabbott commented on #581
Those errors are in starting webpack, and are what you get if you didn't
successfully run `npm install`, I think...

        -Tim Abbott

On Wed, Mar 23, 2016 at 9:03 PM, Ryan Fletcher <notifications@github.com>
wrote:

[2016-03-24 04:33] kunall17 commented on #576
@timabbott definitely, done. :)

[2016-03-24 19:16] danshev commented on #467
+1

[2016-03-24 19:26] danshev commented on #562
Depending on the use-case, a group-based approach can be nice in that, with some additional modifications, it enables a User creating a Stream to easily subscribe an entire swag of Users (versus picking through the entire User list).

@Alpus We've implemented this approach in our project and it works well.  Our project has made enough mods so to not be able to merge back, but I can share some code

[2016-03-24 19:29] timabbott commented on #562
Cool @danshev.  Some screenshots of how you did groups support would be great!  One of the big challenges with this sort of thing is always figuring out how to make the UI for a groups feature work well.

[2016-03-24 19:50] sharmaeklavya2 opened #583 "500 error on uploading jpg image as avatar"
I created a new user and tried changing my avatar. I got a 500 error and the web page hanged.

There should be a more graceful way to handle this.

I then tried uploading a png image. That worked.

`POST /json/set_avatar HTTP/1.0" 500 49`
[code]

[2016-03-24 19:59] sharmaeklavya2 commented on #583
After setting a png avatar, I again tried to upload the jpg file, the same error came up (this was expected). But my avatar changed back to the stock one (this was not expected). I thought that I probably forgot to click on the 'save changes' button. so I replicated the error, this time making sure that I press the save changes button. But once again, my avatar changed to the stock one.

[2016-03-24 19:59] danshev commented on #562
Our access paradigm is very different, so our implementation can thankfully be pretty basic.  Just sharing for the sake of ideas for others:

1.  In a User's profile settings page, they can freely subscribe / unsubscribe to Groups:
![abc](https://cloud.githubusercontent.com/assets/3915359/14029404/ed2380ca-f1cf-11e5-9605-78afbf0a0860.png)

2.  For subscribing an entire Group to a Stream, we use th

[2016-03-24 20:04] rahuldeve commented on #454
@timabbott
Currently zulip stores attachments without actually checking if they are being referenced in the message being sent(the sender can just remove the upload string after the upload). This will cause a major problem in implementing this. Ive made a PR to address this #584

[2016-03-24 20:51] sharmaeklavya2 commented on #502
I'm not able to reproduce this. I invited a user with an email address which has a few uppercase letters, but I could log in with both the correct email and the lowercase email. I also had a one-to-one and group private chat with that user but I couldn't see any errors.

[2016-03-24 22:15] mgrabow1 commented on #502
Strange... Did you start the conversation using double-click on the user list? That's the problem in my case.
The "grayed-out" conversation appears on my server for all contacts invited using mixed case email.

BTW, at the moment it is more important to me to "repair" the contact list rather than being able to use uppercase letters in invitation emails :) Is it safe to just correct email addresses

[2016-03-25 02:26] sharmaeklavya2 commented on #502
I didn't start conversation by double-clicking on the user list. I pressed the 'New private message' button and manually added the email in the text box labeled 'You and '.
I'll soon try double-clicking too.

[2016-03-25 03:28] timabbott commented on #467
@danshev is your use case also RDS?

I think it would be worth someone who actually has a support contract with AWS asking whether they'll install our extension, since it is pretty small, but I do think it's reasonable to think about workarounds for whatever cases where one doesn't control the postgres install.

So here's the things we could make possible as options for this use case:
* No full te

[2016-03-25 05:55] timabbott commented on #538
I won't be able to look at this for probably another week; it'd be super awesome if someone were to take a look at fixing this...

[2016-03-25 06:15] timabbott commented on #583
Interesting find!  It seems like there are at least a few issues here:
* We probably should install a jpeg decoder
* We should maintain a list of what image formats we accept and give a reasonable error in the event that the user uploads an image in the wrong format.

[2016-03-25 06:32] Optimus-Nishant opened #585 "Implementing a chat bot notifier."
We can set a notification or alert for a user or group at scheduled time. The chat bot will notify that particular mentioned group or user at the scheduled time.
This will be really helpful feature for the team that are very serious about the deadlines and all. Scheduled notification will keep the team in time track.

[2016-03-25 07:29] mgrabow1 commented on #502
Please do :) Manually adding the recipient in the "you and" box is working fine for me. The problem is with double-clicking on contact list - this is the most common scenario in our case.

[2016-03-25 08:05] danshev opened #586 "Potential bug with Supervisor zulip.conf"
I just merged commits made within the past few days.  On my live server, I'm now seeing repeated errors like this:

[code]

I'm light as far as configuration / DevOps, but I believe this is because `process_queue ` is being executed by:  `/puppet/zulip/files/supervisor/conf.d/zulip.conf` and the contained commands not using the  `--` characters before the arguments?

[Example here](https://github.

[2016-03-25 08:48] sharmaeklavya2 commented on #502
I'm able to reproduce the error @mgrabow1 reported.
I made a user called EkuRgn@zulip.com and named him 'Camel Man'.
I then had a conversation with Cordelia Lear.

When I was logged in as Cordelia, I clicked on 'Camel Man' from the right-side column and the conversation appeared. The conversation was greyed out (this doesn't happen if the other person has uppercase letters in his email)

![zulip3]

[2016-03-25 09:46] reyman commented on #210
@timabbott Thanks for answer, i try to use ldap with docker image of Galexrt without success. Is there a way to see more log about authentification with ldap ? When i run the script query_ldap i have an error  :

[code]

[2016-03-25 13:32] Plonski opened #587 "Sign in with Google dead link"
Web page screws up if you press the "Sign up with Google" button on the front page whilst being online on a regular Gmail account. Subsequent entries into the form end up with a blank page.

What it is:

[code]

If you were to press the register button on the top right corner the action tag wouldn't be empty and I'm guessing it should be like this:

[code]

Code in question:

[code]

[Link to HTML

[2016-03-25 16:19] timabbott commented on #210
I haven't seen this error before.  The error is pretty deep in the django-auth-ldap / python-ldap code; I would try checking your AUTH_LDAP_SERVER_URI, since I'm not sure what other files/directories are involved here.  Googling for your error and django-auth-ldap, this thread seems helpful:

https://groups.google.com/forum/#!topic/django-auth-ldap/Mcu6S2aFwSc

[2016-03-25 16:23] timabbott commented on #502
OK, great!  The graying out (we call it "fading") problem is almost certainly a frontend logic bug where we're not normalizing case before comparing email addresses.  `static/js/compose_fade.js` is where the fading is implemented, and `exports.would_receive_message` does suspiciously have a `if (email === page_params.email)` check.

There's also clearly a backend bug on the login codepath...

[2016-03-25 16:27] timabbott commented on #586
yes, that's exactly right.  We need to revert the part of the process_queue.py refactoring in cd2348e9aec36d7f26475fa7d966d06588dbeb75 that desupported that way of specifying arguments.

[2016-03-25 16:28] timabbott commented on #586
Thanks for reporting this @danshev!  Ultimately this is a failure of our "production" test suite that it didn't catch this.

[2016-03-25 16:37] timabbott commented on #587
@Plonski can you give a bit more detail on the situation?  Is this in a development environment or production?

[2016-03-25 23:18] 007 commented on #467
@timabbott just filed a support ticket, in theory you are CC'd on responses from AWS.

[2016-03-26 11:24] reyman commented on #210
@timabbott Thanks, with your comment, manual query works now ..

URI need to be indicated like this :

`AUTH_LDAP_SERVER_URI: "ldap://51.255.47.40:389"
`

[code]

But front end login continue to doesn't work so my ldapresearch is probably wrong ...

[code]

[2016-03-26 17:53] danshev commented on #586
Absolutely -- glad it was of help!

[2016-03-26 18:44] reyman opened #591 "Ldap error 500"
My config of ldap in settings.py is

[code]

When i run `manage.py`, ldap return full name correctly.

[code]

After login page i have an error 500 juste after login ... any idea ?

Here the log

[code]

Like i see in the issue https://github.com/zulip/zulip/issues/315 , i try to call manage.py create_realm :

[code]

Creation of user failed it seems :
[code]

I'm using the image of @Galexrt which

[2016-03-26 21:21] Croolis commented on #502
It's fix for wrong fading: #592
There is nothing similar between this problem and original issue.
Also I can't reproduce original bug. Is there anyone who can describe the way of reproducing?

[2016-03-27 13:36] Galexrt commented on #591
@reyman The part in the bottom, is "fixed" (see https://github.com/Galexrt/docker-zulip/issues/64).

[2016-03-27 14:41] medapptech commented on #502
The screenshots that I posted describe the way to reproduce the problem on the user side. I am not sure what the reproduction steps would be on the admin end of things.

[2016-03-27 14:41] nschwertner commented on #502
The screenshots that I posted describe the way to reproduce the problem on the user side. I am not sure what the reproduction steps would be on the admin end of things.

[2016-03-27 15:26] sharmaeklavya2 commented on #536
I think we should close this issue now, since #540 has been merged.

[2016-03-27 16:40] reyman commented on #591
Yep, sorry about confusion, the creation of user failed is here :

[code]

[2016-03-27 17:59] Galexrt commented on #591
As I wrote in https://github.com/Galexrt/docker-zulip/issues/64, this is not an issue with the script. Exit status 0 implies the user has been created.

[2016-03-27 18:53] timabbott commented on #467
Great, thanks @007 !

[2016-03-27 19:05] sharmaeklavya2 commented on #583
Here's the code for `upload_avatar_image_local` in 'zerver/lib/upload.py':
[code]
It can be seen that avatar uploading has been implemented with the assumption that the user will always upload a png image.

Maybe the code which fetches the user's avatar also rests on this assumption. It might be difficult to change this behavior everywhere.

One workaround is to convert the image posted by the use

[2016-03-27 19:07] reyman commented on #591
@Galexrt is right, i misread the message.
But the error 500 persist :/

[2016-03-27 19:10] timabbott commented on #210
So the problem here is this: ZulipLDAPAuthBackend expects  the base name of the user's email address (in the case of your example email, "@gmail.com") to match the domain for the realm ("comnmodel.org"), which is clearly not the case, and given that you're using GMAIL addresses, probably not going to be possible to make the case.  The quick fix to this is thta we  probably we should just add a new

[2016-03-27 19:11] timabbott commented on #591
I posted what I think the bug is in the #210 thread on this issue.

[2016-03-27 19:14] timabbott commented on #583
Space isn't a material issue (though maybe bandwidth for loading all the avatars is).  I don't think we want to support animated GIF avatars; those would probably be a nuisance anyway since it's great constant motion on the screen of anyone reading messages sent by the user, which is surely counterproductive.  So I think probably the simplest approach for supporting JPG avatars would be to just co

[2016-03-27 19:22] reyman commented on #210
@timabbott Why not, i can test that if you want.

I suppose i also misunderstand the `LDAP_APPEND_DOMAIN`  i set to None ... I think in a first place that this option authorize any adress email, but it seem it's not the case.

[code]

[2016-03-27 19:29] timabbott commented on #210
That option is for the case where what you have in LDAP is just e.g. "tabbott", and you need to convert it to e.g. "tabbott@example.com" to get the user's email address (which Zulip needs to be able to send emails to the user in addition to needing something for the login page).

[2016-03-27 20:12] timabbott opened #595 "Make Zulip compose box use fancy gmail-style recipient blocks"
http://textextjs.com/ is one implementation, we should probably research a few other options.  I think this could make the compose experience a lot nicer; once we've added it there we could also consider using it in other places in the app.

[2016-03-27 20:13] timabbott commented on #562
Cool.  Your screenshots reminded me that it'd be great to have that kind of name boxes in the compose box, so I opened https://github.com/zulip/zulip/issues/595 for that issue.

[2016-03-27 20:16] timabbott commented on #536
Yep, thanks for catching this @sharmaeklavya2 !

[2016-03-27 20:16] #536 closed

[2016-03-27 20:18] timabbott commented on #502
@Croolis I think it should be possible to reproduce this in development by enabling zproject.backends.EmailAuthBackend in the else clause of the main `if PRODUCTION` statement in zproject/settings.py, signing up for an account with a mixed-case email address (note: in development emails are "sent" by being printed to the run-dev.py console, so that's how you get confirmation emails) and then tryin

[2016-03-27 20:21] danshev commented on #538
Is Zulip compatible with Python 3.4.0?

It seems that it would make the most sense to implement the new HTTP/2 variant of ANPS, but that'll require Hyper, which needs >= Python 2.7.8

[2016-03-27 20:28] timabbott commented on #538
We don't support Python 3 yet, though there's ongoing work on doing so.  Regardless, I'd like to preserve full Python 2.7 compatibility since it'll likely be important for running Zulip on older platforms for a while even after we can support python 3...

[2016-03-27 20:50] #427 closed

[2016-03-27 20:51] timabbott commented on #427
Merge fixed, thanks for reporting this @bgilbert !

[2016-03-27 20:56] #576 closed

[2016-03-27 21:20] sharmaeklavya2 commented on #583
I found out that Zulip is already converting files to png. PIL is able to decode gifs. When I uploaded an animated gif, it makes a png from the first frame.

The type of the image file is being checked on the frontend before it is uploaded. The frontend allows 4 types of images:

1. `image/jpeg`
2. `image/png`
3. `image/gif`
4. `image/svg+xml`

There is no check on the backend regarding the type o

[2016-03-27 21:26] reyman commented on #210
@timabbott Thanks for explanation, can you help us about modification (some details about the file we need to modify) we need to do to test the hack you proposed with @Galexrt  ?

[2016-03-27 21:41] timabbott commented on #210
yeah get_or_create_user inside ZulipLDAPAuthBackend inside zproject/backends.py.

[2016-03-27 21:42] timabbott commented on #583
It seems like regardless of what else we do, we should make sure all 4 decoders are installed...

[2016-03-27 21:46] sharmaeklavya2 commented on #583
Yes you're right.

I was thinking that in case a decoder is absent even then we might be able to gracefully handle that. But that isn't a big priority.

[2016-03-27 21:59] danshev commented on #538
Fair - I suppose if 2.7.8 will support the HTTP/2 library, then the APNS 2 module could be used.

[2016-03-27 22:01] timabbott commented on #586
#597 should fix this; if you're up for testing this @danshev, I'd definitely appreciate it!

[2016-03-27 22:02] danshev commented on #586
Certainly; will do it right now.

[2016-03-27 22:04] timabbott opened #598 "Expand automated tests for the "production" test suite"
Ideally the tests would also:
* Validate the "upgrade-zulip" code path to both downgrade to previous commit and upgrade back
* Verify that the Zulip service is running, can handle requests, and none of the queue workers are dying or have errors in their logs.

[2016-03-27 22:18] Galexrt commented on #210
@reyman I may have found the problem (nothing wrong with Zulip :wink:).
The user that is created using my script, is created from the following environment variables and you set them to the default, so the "wrong" user is created:
* `ZULIP_USER_EMAIL: "example@example.com"` (see https://gist.github.com/reyman/0a1cb49b63629edd9a3b#file-docker-compose-tmp-yml-L51)
* `ZULIP_USER_PASS: "zulip"` (see h

[2016-03-27 22:33] danshev commented on #586
I'm seeing:

[code]

[2016-03-27 22:39] timabbott commented on #586
Ok will look tonight

-Tim Abbott (mobile)
On Mar 27, 2016 3:34 PM, "Dan Shevenell" <notifications@github.com> wrote:

[2016-03-27 23:22] #478 closed

[2016-03-27 23:24] lfaraone commented on #473
Please feel free to re-open if you can provide details as to how your state can be reproduced.

[2016-03-27 23:24] #473 closed

[2016-03-28 00:33] lfaraone opened #599 "Update screenshots for "new" UI"
@allenrabinovich updated the Zulip UI in February 2014. However, we never updated the screenshots on `/hello` to match.

It'd be nice to move away from images entirely and just embed the Zulip CSS, but I don't know if our CSS is sufficiently modular for that. So for this task, simply take new screenshots (preferably with the same copy) and cut a PR.

[2016-03-28 02:18] Plonski commented on #587
It is occurring in production.

How to recreate it:
1. Open a incognito page
2. Go to Zulip.com
3. Press the Sign in with Google button
4. Sign into a non-work email.
5. The standard "Your e-mail does not match any existing organization." message should pop up.
6. Enter your email again.

The dead link should show up there. The register button on the top right works fine though.

[2016-03-28 04:32] sharmaeklavya2 commented on #502
I had tried that, but I was able to log in.

[2016-03-28 04:54] timabbott commented on #301
I think the logic for where things are put should live entirely in `resize.js` (plus the CSS) and then `server_events.js` can call into that logic when the user changes the settings.

I don't have a great suggestion at this point for how to do this sort of conditional styling on a large block of the CSS...

[2016-03-28 05:17] timabbott commented on #538
Ubuntu trusty only has 2.7.6, which makes it a bit unfortunate if the module doesn't support older Python 2.7.  It might be easy to port APNS2 to run on 2.7.6 if need be.

[2016-03-28 06:18] timabbott commented on #586
OK, fixed and tested successfully on my dev environment @danshev.

[2016-03-28 06:30] #586 closed

[2016-03-28 06:30] timabbott commented on #586
Tested it on a production machine as well, seems to work, so I merged it.  Thanks @danshev !

[2016-03-28 09:23] reyman commented on #210
OMG thanks @Galexrt that works :+1:

So if i understand weel, LDAP user designe to be admin, and admin config in ENV variable (ZULIP_USER_*) should correspond (login/password) ?

Is there a way to mask password in the env files ?

[2016-03-28 09:34] Galexrt commented on #210
@reyman There is no way to mask the password in the env file, but after the container start just login and change the password to something else. Someone would need full access to Docker, to see the password.

[2016-03-28 09:43] reyman commented on #210
Ok, the way that ldap work seem strange to me in Django/Zulip. In other ldap application (like redmine for example), ther is no way for user to change password.

@timabbott If i understand LDAP in zulip serve only to create user in the zulip database. If user want to change their password (only in zulip database), they could, isn't it ?

[2016-03-28 10:06] reyman opened #600 "How to delete message in a stream ?"
Hi,
Simple question,
There is no way in zulip to remove a message in a stream ?

[2016-03-28 15:28] timabbott commented on #600
That's correct.  You can always delete the message content if you like.  Depending on what you're trying to do, this may be a duplicate of https://github.com/zulip/zulip/issues/135

[2016-03-28 15:32] timabbott commented on #210
@reyman it's a bit more complicated than that.  There's an LDAP password that goes into the config file that is used for Zulip to be able to connect to LDAP and make queries.

However, once that is setup, all users of the LDAP domain are able to login to Zulip using their LDAP password.  Those LDAP passwords are not stored in the Zulip database -- Zulip queries the LDAP server whenever a user trie

[2016-03-28 20:11] reyman commented on #210
Thanks for clarification :)

2016-03-28 17:32 GMT+02:00 Tim Abbott <notifications@github.com>:

--
<http://stackoverflow.com/users/385881/reyman64>

[2016-03-28 20:22] reyman commented on #591
Resolved with the help of @Galexrt  and @timabbott

[2016-03-28 20:22] #591 closed

[2016-03-29 05:56] danshev opened #601 "Reactivate a Stream"
On the backend, would it be possible to implement a `do_reactivate_stream()` method?

I took a swing at it ... I can get the Stream back, but none of the topics / messages come with it ... I suspect it's because `do_deactivate_stream()` deletes the stream's cache key:

[code]

Is there a way to "re-construct" the stream's messages, etc.?

[2016-03-29 08:18] Croolis commented on #502
Me to. That's why I'm asking.

[2016-03-29 17:01] timabbott commented on #601
Would be happy to have a "Reactivate stream" function added to the codebase, at least as a management command.

If you post a PR with the code you're trying I can take a look, but the caching thing is definitely not relevant (if there's a cache miss, it would just go to the DB).

But my guess is the problem is that you can't see history on streams with `invite_only=True` that were sent while you w

[2016-03-29 17:22] akashnimare opened #603 "Not able to upload attachment"
![zulip](https://cloud.githubusercontent.com/assets/2263909/14116841/666f5d72-f5ff-11e5-876a-b3156c08197a.gif)

I am not able to upload any files via attachment feature. This bug can be reproduced on Ubuntu 14.04 and OSX.

[2016-03-29 17:22] akashnimare commented on #603
@timabbott is this a known bug?

[2016-03-29 17:34] danshev commented on #601
Turns out, it wasn't a problem.  Instead, since the list of messages & topics is cached, the Stream can be re-activated, but it won't be apparent on the front-end until the cache is updated.

.. Came to this realize when I started up the dev server again this morning.  I'll make the PR in a bit.

[2016-03-29 17:35] danshev commented on #601
Sorry, probably shouldn't have closed this.

[2016-03-29 18:15] #488 closed

[2016-03-29 18:16] timabbott commented on #603
Yes, and I just merged the fix from https://github.com/zulip/zulip/pull/568

        -Tim Abbott

On Tue, Mar 29, 2016 at 10:23 AM, Akash Nimare <notifications@github.com>
wrote:

[2016-03-29 18:16] timabbott commented on #603
Closing as a duplicate of #488.  Thanks for reporting @akashnimare !

[2016-03-29 18:16] #603 closed

[2016-03-29 18:22] akashnimare commented on #603
Great!

[2016-03-29 18:48] danshev commented on #601
@timabbott If I wanted the change to be immediately noticeable on the front-end, which cache key would I need to delete?

[2016-03-29 18:54] timabbott commented on #601
It's not a cache issue (though you should probably delete the cache key for the DELETED name).  You'd need to do a `send_event` to notify the frontend about the new stream (might have a bit of complexity here where for browsers that had access to old messages it should be treated as a rename).  The new feature tutorial on readthedocs has a bit of info on how send_event works...

[2016-03-29 19:24] danshev commented on #601
It must be an old_messages issue; I have the send_event component piece working.

[2016-03-30 01:29] timabbott commented on #601
Yeah, so you may need to do some sort of combined rename/create stream logic on the frontend, where if the frontend knows about the DEACTIVATED name, it'll rename that, otherwise it'll add a new stream with the new name.

[2016-03-30 01:55] timabbott commented on #528
Sorry for the slow reply.  The main downside I'm worried about with mockup 2 we'd be giving a ton of real estate to this feature, which isn't used super heavily.  Also, thinking about this a bit more, I'm not totally sure there's a strong use for the existing "narrow to this conversation" functionality.  So here's a proposal for how we could make this menu as it appears in master better:

* Remove

[2016-03-30 02:04] #269 closed

[2016-03-30 04:25] #499 closed

[2016-03-30 04:46] #474 closed

[2016-03-30 19:35] varshit97 opened #605 "Pressing a TAB after python manage.py gives a series of errors"
I entered the command python manage.py and pressed TAB button after this and a series of some errors come up.
For reference see the image below
![image1](https://cloud.githubusercontent.com/assets/14835842/14154843/63f830fe-f6dc-11e5-8855-756647131f34.png)

Any idea why this is happening?
This error shows up even after running manage.py with python manage.py

[2016-03-31 04:47] timabbott commented on #605
I suspect a configuration issue -- do you get the same error if you just run `./manage.py shell`.  Are you running this from outside the Vagrant environment?

[2016-03-31 08:53] varshit97 commented on #605
@timabbott Same error for ./manage.py shell. Yes I am running this from outside vagrant.

[2016-03-31 09:03] varshit97 commented on #551
@timabbott Should I add the documentation to the end of the README or somewhere between?

[2016-03-31 09:18] varshit97 commented on #401
@timabbott So, the minimum version of npm needed to install the devDependencies in package.json should be the one right?

[2016-03-31 13:28] buhino opened #606 "rabbitmq-server Centos 7"
Hi guys, i have a problem with this service in a VPS with Centos 7:

root@vps1 ~# systemctl start rabbitmq-server
Job for rabbitmq-server.service failed because the control process exited with error code. See "systemctl status rabbitmq-server.service" and "journalctl -xe" for details.

root@vps1 ~# systemctl status rabbitmq-server
● rabbitmq-server.service - LSB: Enable AMQP service provided by Ra

[2016-03-31 14:29] sharmaeklavya2 commented on #605
Are you within a virtual environment? I get this error only when I run it without activating a virtual environment.

[2016-03-31 14:37] varshit97 commented on #605
@sharmaeklavya2 Nopes !! The error comes only outside the vagrant.

[2016-03-31 14:47] timabbott commented on #551
Yeah a new section at the end is probably reasonable.

[2016-03-31 14:49] varshit97 commented on #551
@timabbott Sure Ok. I should be writing like "these modules are imported ..... and some links to the docs" right?

[2016-03-31 14:50] sharmaeklavya2 commented on #605
When you create a virtual machine using vagrant, a virtual environment is already set up for you. It is located at `/srv/zulip-venv`. On logging into the vagrant virtual machine, you'll realize that the virtual environment is already activated. So on running `python manage.py` from inside vagrant, things run as expected.

Outside vagrant, you'll have to set up the virtual environment on your own.

[2016-03-31 14:52] varshit97 commented on #605
@sharmaeklavya2 Oh ok. Then there isn't any issue with the errors right?

[2016-03-31 15:38] timabbott commented on #551
@varshit97 I'm not sure what you mean by that, but yeah, we should mention what modules are imported and then give a few 2-line examples for doing common tasks one might want to do (there's already one example in README.prod.md).

[2016-03-31 15:54] timabbott commented on #132
Hey folks, I made an attempt at using the .po files from Transifex in Zulip yesterday, but haven't been able to get Django's translation support to actually translate any text.  Here's my partial work: https://github.com/zulip/zulip/pull/607.  Since Zulip is a Django app, we should be able to just use the Django translation system.

I'd love help from anyone who has used the Django translations sy

[2016-03-31 16:07] sharmaeklavya2 commented on #605
Yup. No issue according to me.

[2016-03-31 18:22] 007 commented on #467
Pretty much as expected, my emphasis added:

I'll take a look at option #​2 above in my "copious spare time", that was my original thought to wrap the `ts_match_locs_array` in some way that it could return nothing but still succeed. I think we're trying to roll out Zulip sometime in Q2, so I may even have proper eng time to make this happen!

[2016-03-31 20:41] timabbott commented on #535
This is probably a manageable task for someone new to the project, since an initial goal would be to get eslint to behave like jslint (I'm sure there are guides on the internet for how to do this) and then we can go from there.

[2016-03-31 20:48] timabbott opened #610 "Clean up legacy global variables in Zulip javascript"
The Zulip web codebase has an ongoing (and mostly complete) migration in process to eliminate global variables and replace them with calls into well-defined modules.

You can see our current list of globals in the sections of check-all.js that aren't lists of modules:

[code]

To clean one of these up, we basically just need to move the relevant functions/variables into either an existing module o

[2016-03-31 20:58] timabbott opened #611 "Migrate remaining web-only routes to be API routes"
We have an ongoing migration to move routes from the `urlpatterns += patterns('zerver.views',` section of zproject/urls.py, which are only available via the web, to be REST API-accessible (the routes in the same file that all use `rest_dispatch`) and not duplicated (we have some functions available via both interfaces right now).  We don't need to move every route (e.g. the `json/report_send_time`

[2016-03-31 20:59] timabbott commented on #605
Yep.  One could imagine trying to make `manage.py` produce a clearer error message in the case that it can't find any of its dependencies, but I think that's hard to do in general, so I'll close this for now.  If other folks encounter this problem, though, please post here and we can consider adding such an error message.

[2016-03-31 20:59] #605 closed

[2016-03-31 21:38] timabbott commented on #45
This was fixed in 6c5cee24002500bf315b53493d473faf362c049c

[2016-03-31 21:38] #45 closed

[2016-03-31 21:40] timabbott commented on #82
This was fixed in 0608e32eeb0ad52e3f9fe8c9bb3e79f8eb6d4125

[2016-03-31 21:40] #82 closed

[2016-03-31 21:45] timabbott commented on #224
@PrasannaVenkadesh were you able to figure out what the problem was here?

[2016-03-31 21:47] timabbott commented on #312
This is now covered in the security section of README.prod.md.

[2016-03-31 21:47] #312 closed

[2016-03-31 21:49] timabbott commented on #581
I think this should be resolved when we fix the symlink issue on windows, so closing this ticekt.

[2016-03-31 21:49] #581 closed

[2016-03-31 21:54] timabbott commented on #464
@SummerBulb @007 @nsvrana, I think I might have fixed this since we ran into a similar issue with Travis CI.  If anyone sees this again, I'd love to see a copy of /var/log/zulip/install.log from the relevant install; I'm going to close this for now but am happy to reopen is the issue remains!

[2016-03-31 21:56] timabbott commented on #219
This was done a couple weeks ago in #513!

[2016-03-31 21:56] #219 closed

[2016-03-31 21:58] timabbott commented on #606
What VPS technology are you using?

Regardless, Zulip doesn't support running directly on CentOS -- we only support Ubuntu Trusty right now.

[2016-03-31 23:30] kevinr opened #612 "Zulip should send mention notification e-mails as the mentioning user"
Many of our users are surprised when replying to a mention notification e-mail results in a bounce message (because the sender is set to "Real Name" &lt;NOREPLY_EMAIL_ADDRESS&gt; at [zerver/lib/notifications.py line 238](https://github.com/zulip/zulip/blob/206dc3aafcd920faf3f6322414e75f2719ffdac1/zerver/lib/notifications.py#L238)).  This is unlike private message notifications, which are sent as "