[2022-02-18 18:45] Manav00 commented on #21045
@zulipbot claim

[2022-02-18 18:54] #20910 closed

[2022-02-18 19:12] #20969 closed

[2022-02-18 19:13] #20943 closed

[2022-02-18 19:16] #21183 closed

[2022-02-18 19:36] timabbott commented on #21182
Thanks for the report!

@amanagr can you look into these?  Probably less timely than other 5.0 release work since I expect this to not have complex dependencies.

[2022-02-18 22:25] evykassirer commented on #19483
@zulipbot claim

[2022-02-18 22:48] #18768 closed

[2022-02-19 02:01] ChrisBandy opened #21193 "Can I Customize Incoming Email Gateway Address?"
Hello! I noticed that the Incoming Email Gateway address is extremely long. We are wanting to set up a listserv-like experience where most (if not all) members would be sending to this email (rather than opening Zulip). So is it possible to customize this email to make it shorter? Thank you.

[2022-02-19 07:14] Chainesh commented on #21036
@Kaikonid you might wanna take this... I'm overwhelmed by the Javascript it's using.

[2022-02-19 10:31] somesh202 commented on #21171
@zulipbot claim

[2022-02-19 11:36] madrix01 commented on #19916
I'm working on this.

[2022-02-19 13:00] thedeveloperr commented on #12328
@zulipbot claim Sorry had to pause working on it due to setup issue. Picking it up again

[2022-02-19 15:38] stpn opened #21195 "AMQPConnectorSocketConnectError timeouts leads to Zulip server hanging"
Hi, we have this persistent issue that has to do with RabbitMQ it seems. The server would get  AMQP- errors and the only solution would be to shutdown (or even force-shutdown).

Could someone please advise on the best course of action? It was happening on 4.9 and now on 5.0 too.

[code]

[2022-02-19 23:41] Rixant commented on #20600
@andersk @zulipbot please merge my pull request https://github.com/zulip/zulip/pull/21197

[2022-02-20 01:55] Rixant commented on #21036
@zulipbot claim

[2022-02-20 04:19] jasonhildebrand commented on #19994
This issue is due to ALLOWED_USES defined in `zerver/models.py` line 3234:

[code]

This would be easy enough to change.  I don't understand why this setting defaults to 1, or whether there is any risk/downside to increasing it.

[2022-02-20 07:38] madrix01 commented on #19812
@alya Can I work on this?

[2022-02-20 12:20] somesh202 commented on #21171
@WesleyAC I have raised a PR for this issue. Could you please review?

[2022-02-20 16:15] somesh202 commented on #21155
@alya I have made a PR for this. Please check!

[2022-02-21 05:40] ditsuke commented on #21156
Will give this a shot!

@zulipbot claim.

[2022-02-21 13:32] anurastogiji commented on #19876
@zulipbot claim

[2022-02-21 14:44] timabbott commented on #21195
How are you hosting your server?  I haven't seen this failure mode before but the problem is clearly with RabbitMQ's networking situation.

[2022-02-21 16:55] mdshahansha commented on #17248
@zulipbot im working on it

[2022-02-21 18:55] Wansh619 commented on #21045
hi i am ne to this open source project and i would like to work on this issue

[2022-02-21 19:21] somesh202 commented on #21105
@zulipbot claim

[2022-02-21 20:44] showell commented on #2676
In progress

[2022-02-21 20:50] N-Shar-ma commented on #21036
@zulipbot claim

[2022-02-21 21:35] akashaviator commented on #21015
@zulipbot claim

[2022-02-22 06:35] alya commented on #21045
@Manav00  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn
how to get started. Also, keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

@Wansh619 please take a look

[2022-02-22 06:36] alya commented on #21045
I'm removing the "help wanted" label for now, as product discussion is ongoing in the linked CZO thread.

[2022-02-22 09:58] varac opened #21211 "Upgrade zulip-postgresql container image based on postgres 14"
The [PostgreSQL database details](https://zulip.readthedocs.io/en/latest/production/postgresql.html#postgresql-database-details) say:

But the current [zulip-postgresql container image](https://hub.docker.com/r/zulip/zulip-postgresql) is still based on postgres 10.
Please provide a version based on postgres 14.

[2022-02-22 14:01] srdeotarse commented on #20618
@zulipbot claim

[2022-02-22 14:40] stpn commented on #21195
AWS / EC2 / Ubuntu 20.0
Or do you mean something else?

[2022-02-22 18:06] timabbott commented on #21195
@stpn can you stop by chat.zulip.org?  I think this will be easier to debug interactively.

[2022-02-22 18:07] timabbott commented on #21193
This isn't currently implemented, but I don't think it would be a difficult extension.  We can look at it when we're reworking the UI system for creating these incoming email addresses.

[2022-02-22 18:08] timabbott commented on #21165
Yeah, I think the right fix is to just add a large title "Plain text version" above that section.

[2022-02-22 18:09] alexmv opened #21213 "Emoji reactions from one user can race with parallel identical requests"
Adding an emoji reaction happens in multiple queries, not in a transaction; first it checks if the reaction already exists, then it adds it:

https://github.com/zulip/zulip/blob/21051d2130868f286a9e6753ad9f197e9bb56854/zerver/lib/actions.py#L2529-L2535
https://github.com/zulip/zulip/blob/21051d2130868f286a9e6753ad9f197e9bb56854/zerver/lib/actions.py#L2579

This can lead to race conditions where a

[2022-02-22 18:15] #21085 closed

[2022-02-22 18:33] #21179 closed

[2022-02-22 18:43] #21000 closed

[2022-02-22 18:56] alexmv commented on #21195
We diagnosed this as likely a server OOM.

[2022-02-22 18:56] #21195 closed

[2022-02-22 18:59] timabbott commented on #21213
We should also look at making the web UI behavior not send a second API request to add a reaction until the first has returned.

[2022-02-22 20:23] evykassirer opened #21214 "feature request: Add pronouns to profile card."
We currently have an optional non-custom field for the user's timezone, which shows up on the profile card that you see when clicking a user's name or picture in a conversation view. We want to add the same thing for pronouns.

The field should be plain text, so that the user's options aren't limited by a dropdown.

For more context, see this [discussion on CZO](https://chat.zulip.org/#narrow/stre

[2022-02-22 22:06] alya opened #21215 "Allow custom profile fields to be shown in profile card"
At present, a user's profile card displays their name, local time, and role.
![Screen Shot 2022-02-22 at 1 53 06 PM](https://user-images.githubusercontent.com/2090066/155225858-ce8b4491-f20c-4b5e-b1e9-0b7cef64fddf.png)

Organizations may find it useful to display additional fields there, such as pronouns (#21214), GitHub username, job title, team, etc., and we should make it possible to do so.

##

[2022-02-22 23:00] #16029 closed

[2022-02-22 23:06] alya opened #21216 "Topic link in search results should always go to "near:" narrow"
Currently, clicking on the search result topic (or the recipients in a PM thread) takes you to the message if it's been read. However, if it's unread, it takes you to the latest read message, which can be very confusing.

Instead, the topic/PM recipients link in search results should just be a "near" link to the message, same as the timestamp. From a technical perspective, we should:

1. Change th

[2022-02-22 23:16] alya opened #21217 "Clicking on a message in search results should go to "near:" narrow"
A search view shows messages outside of their context. This can cause a bad experience if a user decides to reply to a message, as they may not see the most recent messages in the conversation, and the reply may therefore be inappropriate.

To address this, we should experiment with having a message click in search results (specifically, a `!filter.supports_collapsing_recipients()` view) do the fo

[2022-02-23 00:24] rht commented on #21165
@zulipbot label "help wanted"

[2022-02-23 06:42] alya commented on #21211
@alexmv You are probably aware of this, but tagging you just in case.

[2022-02-23 07:12] alya commented on #19812
@madrix01 Sure!

[2022-02-23 07:32] alya commented on #20523
@SantamRC Yes! Are you waiting for another round of review from @timabbott ?

[2022-02-23 07:34] alya commented on #20523
I'm a bit confused about what's going on with the commit history in your PR.

[2022-02-23 07:46] SantamRC commented on #20523
@alya I am facing some issues there. I tried to update my PR by pulling recent changes from the main branch. I tried `git rebase main` and the resulting commit history is as it is now. Is this the right way? Can you help me out here :(

[2022-02-23 09:49] timmens opened #21223 "Error indication when non-admins use @all in streams"
**What happened**:

I wanted to use ``@all`` in some stream where I wasn't admin. The message did not send and I got an indication that something went wrong; see image. This indication was located at the top-right of the message.

![image](https://user-images.githubusercontent.com/39708667/155294639-23ae454d-26b2-4760-bf94-8aa4b3f58293.png)

**The Problem**:

It took too long to figure out that th

[2022-02-23 11:50] yogesh-sirsat commented on #21215
@zulipbot claim

[2022-02-23 11:52] yogesh-sirsat commented on #21215
I have merged [PR](https://github.com/zulip/zulip/pull/21172) related to user profile cards and popovers.

[2022-02-23 12:53] cynay opened #21224 "GoCD integration not working"
Hi
I followed the following guide to integrate GoCD to Zulip: -> https://zulip.com/integrations/doc/gocd
The link from the guide is missing the ${ID} parameter which must be in the URL.
I just added it at the back like myurl?api_key=xxx&id=${ID}.

I haven't received a message from the bot so far. What could be the problem here? Could anyone help me on how to
troubleshoot the problem?

zulip_versio

[2022-02-23 14:16] sahil839 commented on #21223
@timmens thanks for the report. We show the error in compose box like below if a user is not allowed to use `@all` mention -
![Screenshot from 2022-02-23 19-41-20](https://user-images.githubusercontent.com/35494118/155336275-59a82be4-02f7-48c5-a4c9-36d2e31e84f0.png)

In any case are you sending this message in a `(no topic)` topic? If not this can you check your browser's network tab to see if the

[2022-02-23 14:55] timmens commented on #21223
Thanks for the quick response. This behavior is exactly what I envisioned.

Then there must be a different reason why it didn't work. After I received the admin status everything worked out fine. But I think another admin also changed some other things along the way. Nevertheless, I cannot replicate the error with the admin status.

Closing this issue because the desired behavior is already implem

[2022-02-23 14:55] #21223 closed

[2022-02-23 19:07] evykassirer commented on #19483
@zulipbot claim

[2022-02-23 19:45] SantamRC commented on #20523
@alya I was facing some issues with the commit history in #20546
I made a new PR #21225 and closed the previous one. Have a look.

[2022-02-23 20:14] #21163 closed

[2022-02-23 20:17] timabbott commented on #21224
@cynay thanks for the report!  Hopefully someone will pick this up; it should be not hard for a contributor to setup GoCD and then test this; our integrations guide has some advice.

One thing you can do to help is inspect `/var/log/zulip/webhook*.log` for any traceback; that might make it possible to debug this without setting up GoCD.

[2022-02-23 21:23] subhamgcon commented on #21224
Hey @timabbott , Can i work on this issue? I am beginner in Open Source and this project, can you please guide me on how to get started? Thank you!

[2022-02-23 22:48] timabbott commented on #21224
Start by trying to reproduce the issue: Set up GoCD on a server and follow our integration guide from there.

[2022-02-24 12:43] mightyiam commented on #19483
Exciting, @evykassirer !

[2022-02-24 12:54] tadeu opened #21231 "Inline image preview is not shown for long messages (links are shown instead)"
In order to reproduce, just create a very large message with lots of text and some embedded images (pasted with ^V so that the markdown is something like `[image.png](/user_uploads/<id>/<hash>/image.png)`): the images will not be shown inline, just links for downloading the images. In the cloud version, *some* images appear in the beginning, but for a lot of images, only the link is shown.

This h

[2022-02-24 19:07] timabbott commented on #21231
Does the message have more than 5 links in it?  There's a feature that limits how many links can be rendered because it produces a very bad experience with dozens of images in a message; in 5.0 we've increased the limit to I think 10, and we might do further after merging some design changes for how large numbers of images are shown.

[2022-02-24 19:29] alexmv commented on #6341
I've updated this title to account for the fact that it should also cover actions that are irreversible without contacting support -- namely, deactivating one's own account, and deactivating the organization.

[2022-02-24 19:37] alexmv commented on #21211
I wasn't aware of it -- thanks for calling it out.

We don't have any build steps written down for how the zulip-postgresql container image was generated.  My belief is that it's just adding the tsearchextras extension, which we can do with a [very minor layer atop the official image](https://github.com/docker-library/docs/blob/master/postgres/README.md#initialization-scripts).

I think the more c

[2022-02-24 20:32] tadeu commented on #21231
Yes! Hmm, so I think that it's more related to this rather than the size of the message! OK, thanks for clarifying, closing the issue since this is still being adjusted!

[2022-02-24 20:32] #21231 closed

[2022-02-24 20:36] andersk commented on #21211
The zulip-postgresql container is built from [Dockerfile-postgresql](https://github.com/zulip/zulip/blob/main/Dockerfile-postgresql). The build instructions there are a bit of a lie: a mere `docker build` doesn’t suffice anymore because it’s a multi-architecture amd64+arm64 image now.

`docker-zulip` does at least use the `zulip/zulip-postgresql:10` tag, so we could push a `:14` tag without interf

[2022-02-24 20:45] alexmv commented on #21211
Ugh, why is the postgresql container the one Dockerfile in zulip/zulip?

[2022-02-25 00:00] #18944 closed

[2022-02-25 00:45] timabbott commented on #20337
Downgrading from release goal in that we now have the "Never option" merged, though I'll still merge the rest of it if it gets into a shape we feel good about.

[2022-02-25 10:33] benjamin-bergia opened #21241 "integration with asciinema"
I am looking for a solution to share terminal recording on our organization chat. I quite like  asciinema but right now it doesn't see to be any simple way to embed the asciinema player in a message. I would be very nice if an integration could detect asciinema urls, embedded the player for this specific recording with maybe a link to the page. Kind of the way the youtube video embedding seems to

[2022-02-25 14:33] NerdyLucifer commented on #21158
@zulipbot claim

[2022-02-25 18:57] akaptur opened #21244 "Green and yellow square emojis showing up as copyright symbols"
I'm seeing a blue © for both green and yellow squares:
<img width="263" alt="image" src="https://user-images.githubusercontent.com/1857780/155771702-06cb1094-46ce-4902-8991-a8d80c8ba292.png">
<img width="276" alt="image" src="https://user-images.githubusercontent.com/1857780/155771756-f674b006-b83f-4330-91b1-0e9bd58d29fb.png">

This is really messing up our Wordle shares :P
<img width="136" alt="i

[2022-02-25 19:01] dreid commented on #21244
This appears to be specific to the google classic emoji theme.

It works with Twitter, and Google Modern.

[2022-02-25 20:03] prathamjagga commented on #21244
assign

[2022-02-25 20:04] prathamjagga commented on #21244
@zulipbot  assign

[2022-02-25 20:05] prathamjagga commented on #21241
Can you explain this issue further?

[2022-02-25 20:56] prathamjagga opened #21246 "Please add code snippet support in messages"
Please add support to embed code snippets in messages.
We cannot add code snippets in messages as of now. It will be great if we can embed codes of different programming languages using some kind of comments like
!!Lang-python
// some code here
!!end
Like if I write:

!!Lang-python
def hello:
   print('hello')
hello()
!!end

Then it would look like python code in the message window, like this:
![i

[2022-02-25 21:48] prathamjagga commented on #21244
@zulipbot claim

[2022-02-25 22:02] showell commented on #21244
I have fixed a similar version of this bug before, and the significance of the copyright symbol, if I remember correctly, is that it's in the top left of the spritesheet.

[2022-02-25 22:04] andersk commented on #21246
We already support the standard Markdown syntax for code snippets ([documentation](https://zulip.com/help/format-your-message-using-markdown#code)).

[2022-02-25 22:04] #21246 closed

[2022-02-25 22:46] timabbott commented on #21244
It's possible the problem is those emoji don't exist in the Google Classic emojiset, which is very old.  You can change emojisets to work around this.

[2022-02-25 22:46] timabbott commented on #21241
@benjamin-bergia you should be able to do this with if you enable previews of remote websites, I think.

[2022-02-25 23:22] chrisbobbe commented on #21135
We've gotten another report of this in a support email. 🙂

[2022-02-26 01:33] #21142 closed

[2022-02-26 06:09] timabbott commented on #21244
Interesting.  @punchagan do you have time to investigate? This could somehow be a side effect of your Wordle-inspired improvements which I think went into production about a week ago.

[2022-02-26 13:23] prathamjagga commented on #21156
What's the progress @distuke?

[2022-02-26 14:31] ditsuke commented on #21156
Busy currently but I'm working on it as I get time. Will update this thread if I need help 😄

[2022-02-26 15:17] punchagan commented on #21244
Yes, it is possible. @akaptur are you using the Google Classic emoji theme? Could you try changing the theme to Twitter or Google modern theme? You can find the settings at https://xxx.zulipchat.com/#settings/display-settings (if you are using a hosted Zulip server)

[2022-02-27 14:26] sayamsamal commented on #21158
@NerdyLucifer I'm currently working on this at [101-design](https://chat.zulip.org/#narrow/stream/101-design/topic/Settings.2FProfile.20design.20changes.20.2321158), and will be listing a PR really soon. Kindly find another issue, thanks.

[2022-02-27 14:32] NerdyLucifer commented on #21158
@sayamsamal Yeah sure, i saw that it was unassigned, so i claimed it.✌️

[2022-02-27 16:35] sxiii commented on #21127
I've tried this both in Manjaro and Garuda; same issues. Pretty sure clean arch will have the same too, but hadn't verified yet. I'll join production help chat, thanks :)

[2022-02-27 17:55] andersk commented on #21127
Arch and derivatives like Manjaro and Garuda are not [supported platforms](https://zulip.readthedocs.io/en/latest/production/requirements.html) for Zulip Server. You’ll need to use a Debian or Ubuntu container.

[2022-02-27 17:55] #21127 closed

[2022-02-27 18:01] andersk commented on #21127
(No, it has always been a Debian/Fedora patch until it was upstreamed into glibc 2.35 just three weeks ago.)

[2022-02-28 07:02] junchen-liu commented on #21224
Hi, I am a new stater of Zulip and just tried to reproduce this issue by following the guide. May this problem be caused by <trackingtool> of GoCD?

I find that the ${ID} is used to find id information like "#3301" from your commit message.  In GoCD's document, it says 'Go will find the first matched group in your commit messages and use it to construct the hyper-link.'

so I think maybe <tracking

[2022-02-28 12:59] yogesh-sirsat opened #21260 "stream_settings: Different label text in between create and edit custom profile field."
We use text Label for custom profile fields name, but when we edit it appears as text Name.

![different_label](https://user-images.githubusercontent.com/41695888/155987454-d75cd1ef-0859-4e3b-b54c-a74d4a4338ab.png)

[2022-02-28 13:05] showell commented on #19483
Chat discussion: https://chat.zulip.org/#narrow/stream/137-feedback/topic/pin.20topics.2Fmessages/near/1335993

[2022-02-28 14:01] benjamin-bergia commented on #21241
Right now if you take the sample link from asciinema [`https://asciinema.org/a/14?t=25&speed=2&theme=solarized-dark`](https://asciinema.org/docs/embedding) or even just `https://asciinema.org/a/14`, it doesn't show any preview.

The markdown example `[![asciicast](https://asciinema.org/a/14.png)](https://asciinema.org/a/14)` doesn't work either.

[2022-02-28 14:35] yogesh-sirsat opened #21262 "settings: Values not retrieving when we edit custom external account type in custom profile fields."
When we try to edit custom profile fields, current values appear in input fields but they don't appear in the case of field name and hint in custom external account type fields.

![edit_custom_type_external_acc_cpf](https://user-images.githubusercontent.com/41695888/156000763-3c7b759a-6035-4619-b93d-fa42e5d12b61.gif)
![normal_state](https://user-images.githubusercontent.com/41695888/156000769-a9ef

[2022-02-28 17:45] alya opened #21265 "Avatar border should be outside of the image in full profile"
In the full profile modal, the avatar border seems to be just inside the image. Instead, it should be just outside it.

When fixing this, please ensure that the avatar is aligned correctly with the surrounding elements.

<img width="295" alt="Screen Shot 2022-02-28 at 9 38 26 AM" src="https://user-images.githubusercontent.com/2090066/156031923-8b3b915a-cbb8-4d3e-8183-9ab6ed7ddc34.png">
<img width=

[2022-02-28 17:57] hardco2020 commented on #21265
@alya I would like to work on this! should I just claim the issue, or I should ask you to assign it to me ?

[2022-02-28 18:27] akaptur commented on #21244
Confirming (as dreid mentioned above) that this is specific to the Google Classic theme. I've been on Google Classic forever - that's what Zulip used when I started using Zulip ten years ago, and I've stuck with it. (and hi, Puneeth! Thanks for working on Zulip)

[2022-02-28 19:49] Atharvk7 commented on #20523
@zulipbot claim

[2022-02-28 19:56] timabbott commented on #21244
OK. I think the right fix for this is likely to be our vague plan to backfill the Google Classic theme with emoji from Google Modern when the codepoint doesn't exist.

[2022-02-28 20:15] #20869 closed

[2022-02-28 20:19] alexmv opened #21266 "PreregistrationUser row should link back to the confirmation object that created them"
A single-use invitation has a confirmation object which links to a preregistration user.  A multi-user invitation has a confirmation object -- however, there is no link between a multi-use invitation and the preregistration users it spawned.

We should add a column to PreregistrationUser which links to a confirmation_id, allowing multiple preregistration users to be linked back to their multi-use

[2022-02-28 20:23] alexmv opened #21267 "PreregistrationUser should link to the UserProfile it created"
When a PreregistrationUser is marked as "used," there is no clear link between that object and the UserProfile it spawned, other than sharing an email address -- which can be later changed.

We should add a `created_user_id` column on PreregistrationUser which links to the UserProfile that it was used to create.  We should also add an assert to ensure that a PreregistrationUser is only used to cre

[2022-02-28 20:31] alexmv opened #21268 "Ensure all realm changes have RealmAuditLog entries"
Perform an audit of all properties of a realm, and ensure that all of them trigger a RealmAuditLog entry.

One specific case which is known to be missing is changes to RealmDomain lists.

[2022-02-28 21:01] timabbott commented on #19843
Downgrading from a release goal, since we have several other ways to do this.

I think this will still be a significant design improvement, so we should still do it.

[2022-02-28 21:46] hardco2020 commented on #21265
@zulipbot claim

[2022-02-28 22:56] alya opened #21271 "Add "Pronouns" custom profile field type"
It is common for organizations to want to add a field for users to indicate their preferred pronouns (cf. #21214). At present, this can be done with a short text custom profile field.

We can make the experience nicer by creating a "Pronouns" custom profile field type, which will differ from a short text field in the following ways:

1. Label prefilled to "Pronouns" (can be edited).
2. Hint prefil

[2022-02-28 23:12] alya commented on #21271
@timabbott  Could we automatically migrate short text fields labeled "pronouns" to this new field type once it exists in order to add the typeahead?

[2022-02-28 23:21] alya commented on #21215
Just as a note, we should also make sure to document this feature in the help center when it's ready.

[2022-02-28 23:39] alya commented on #14140
This issue looks to have been resolved.

[2022-02-28 23:39] #14140 closed

[2022-02-28 23:42] alya opened #21273 "Fix "Edit topic" icon hover color"
In both light mode and dark mode, the on-hover color of the pencil ("Edit topic") icon in the message bar does not match the on-hover color of the "Mark as resolved" and "Mute topic" icons next to it. It should be changed to match the other two icons.

[2022-02-28 23:54] akaptur commented on #21244
Interesting - I'd still love to understand what changed in the last week or two, since I was seeing yellow and green squares before then.

[2022-03-01 00:14] junchen-liu commented on #21273
@zulipbot claim

[2022-03-01 00:28] #13264 closed

[2022-03-01 00:31] #21262 closed

[2022-03-01 01:17] timabbott commented on #21271
I don't see any reason why not; though of course folks may choose different names for their field, so I'd plan that as a bonus change once we have the core feature done that involves a bit of research.

[2022-03-01 04:58] nikhilmaske-2001 commented on #21271
@zulipbot claim

[2022-03-01 05:11] punchagan commented on #21244
Previously the squares were being shown as unicode characters, and not images. This caused a problem with alignment of Wordle squares because the white/black squares were being shown as images, and the yellow and green squares were unicode characters. Zulip doesn't convert all the emojis to images, and only converts a small subset of them which have been added to our [emoji list](https://github.co

[2022-03-01 05:18] abhijeetbodas2001 opened #21274 "`Escape` sometimes does not work in YouTube previews"
1. Open a YouTube video inside the web-app
2. Play the video
3. Pause it
4. Press Escape

Expected: The YouTube preview popup closes, and user goes back to the narrow from which the video was opened
Actual: Nothing (observable) happens

As Tim mentions, this may be because of some focusing issue after the video is played, because Escape works as expected just after step 1 (before step 2).
See http

[2022-03-01 07:28] punchagan commented on #21244
Is there some discussion on this vague plan to backfill somewhere on GitHub/Zulip?

[2022-03-01 07:47] alya opened #21276 "Extraneous vertical shifts between "write" and "preview" modes"
When switching the compose box between "write" and "preview" modes, the text and the compose box itself shift vertically.

![shift](https://user-images.githubusercontent.com/2090066/156126080-6faa50e4-232e-4aa6-b7b2-ee41b48179bc.gif)

The size of the compose box and the location of the text should not change if they don't have to. E.g. the compose box might need to get bigger if the preview text i

[2022-03-01 09:53] zhanggaoxuan commented on #13689
I success used backblaze and now backblaze support cloudflare to save bandwidth fee, can zulip support set the endpoint or set a new option which was cname in cloudflare ?
Here is the doc:
https://help.backblaze.com/hc/en-us/articles/217666928-Using-Backblaze-B2-with-the-Cloudflare-CDN
can see at this @Gittenburg @timabbott

[2022-03-01 10:15] nikhilmaske-2001 commented on #21276
@zulipbot claim

[2022-03-01 19:35] alya opened #21279 "Disable filters in Recent topics for logged out users"
The "Included muted", "Unread" and "Participated" filters are not useful to logged out users. We should disable them.

The alternative would be to remove them altogether, but it seems reasonable to advertise that we have this filtering functionality.

[2022-03-01 19:36] alya commented on #21279
@amanagr I think we discussed this one at some point; transcribing to an issue so that we don't lose track of it.

[2022-03-01 20:35] evykassirer commented on #20745
More discussion here: https://chat.zulip.org/#narrow/stream/101-design/topic/pinned.20message

[2022-03-01 21:21] hardco2020 commented on #21217
@alya  I would like to work on this, but can you clarify for me a little bit?
Right now what I am understanding is when I search for a certain message, it only shows the related message, ex: If I type hello, I only get all the hello messages in the message list, like below.
<img width="1440" alt="截圖 2022-03-01 下午1 11 24" src="https://user-images.githubusercontent.com/61721490/156249567-48149f31-6a

[2022-03-01 21:51] VishalIITP commented on #21273
@zulipbot claim

[2022-03-01 21:53] VishalIITP commented on #21045
@zulipbot claim

[2022-03-01 23:54] alexmv opened #21281 "Limit who can "resolve" a topic to those who can post"
Streams which are limited to admins-only posting still allow any user to modify topics, and thus also mark them as resolved.

We should at very least not display the "resolve" button if the user cannot post in a stream.  We should further consider if we want to limit topic renames to people who can post.

[2022-03-02 01:05] NerdyLucifer commented on #21279
@zulipbot claim

[2022-03-02 01:10] Rixant commented on #20600
@zulipbot fixed at #21197

[2022-03-02 02:51] manvendra247 commented on #20916
@zulipbot claim

[2022-03-02 05:10] alya opened #21285 "Show stream members in right sidebar"
This issue describes a product design spec for #14471. It was originally written up in a PR comment in September 2021, and has not been updated since then, so it does not reflect any changes that were discussed after that time.

PRs for this issue: #19541, #20072, #26717 (latest)

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/Stream.20Member.20list/near/1255681).

---

Th

[2022-03-02 05:14] #10135 closed, assigned to nobody

[2022-03-02 06:19] alya commented on #17998
Thanks, and sorry for the delayed review! Could you please change "Undo" to be a button, in the same style as the "Subscribe them" button when you `@`-mention someone who's not subscribed to a stream?

[2022-03-02 07:59] alya opened #21292 "Make it possible to unsubscribe a user group from a stream"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Remove.20groups.20from.20streams.3F):

We should make it possible to unsubscribe a group of users from a stream in order to address this use case.

This issue is not currently actionable, as it should be addressed as a follow-up to #19525.

[2022-03-02 09:21] Xylakant commented on #17028
I'd appreciate this as well. We sometimes have polls where attaching your name is likely to skew the result in one direction or another.

[2022-03-02 12:35] m-e-l-u-h-a-n commented on #21188
I opened this [CZO thread](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Controlling.20link.20previews), for discussion on this.
I would also love to work on this if this is available?

[2022-03-02 13:19] asah commented on #17998
done. <img width="774" alt="image" src="https://user-images.githubusercontent.com/140002/156368955-06050ded-c305-4927-8706-88dfb71f61c9.png">

[2022-03-02 17:24] j0hannesr0th opened #21296 "Upgrade from 4.8 to 4.9 fails"
Hey guys, I wanted to update my Zulip instance from 4.8 to 4.9 but if fails with this error:

[code]

Any ideas on how to resolve this?

OS: Ubuntu 18.04.6 LTS
PSQL-Version: 13.6 (Ubuntu 13.6-1.pgdg18.04+1)

[2022-03-02 18:12] alya opened #21297 "Don't display `x` button in empty filter fields when field is not closeable"
There is no useful action for the `x` button in a couple of filter fields when the filed is empty:

- "Filter streams" in stream settings
- "Filter topics" in Recent topics

For those fields, we should not display the `x` when field is empty.

[2022-03-02 18:47] alya commented on #3542
Related issue: #19466

[2022-03-02 19:16] alya opened #21298 "Replace inline "add X" in settings with modals"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/add.20X.20in.20settings), we have ~5 different formats for adding or editing something in the settings menus.

We should aim to standardize on a smaller set of approaches. In particular, we should start by replacing the inline format for adding something where we have multiple fields on the same line. That layout is espec

[2022-03-02 19:53] somesh202 commented on #21298
@zulipbot claim

[2022-03-02 20:51] NourSafta commented on #21296
@j0hannesr0th To fix “The following packages have been kept back” Error :
Try to issue the command : sudo apt-get install <list of packages kept back>
If this solution didn't work for you , try this command : sudo apt-get --with-new-pkgs upgrade

[2022-03-02 21:14] rebekahsnow commented on #20073
claim

[2022-03-02 21:15] snowbear86 commented on #20197
@zulipbot claim

[2022-03-02 23:06] alya opened #21302 "Clicking outside of typeahead menu should close it"
Clicking outside of the typeahead menu (for streams and @-mentions) should close the menu, and it does not. This might be a recent regression, perhaps related to #21052.

[CZO thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/closing.20typeahead)

[2022-03-02 23:06] alya commented on #21302
@N-Shar-ma FYI

[2022-03-03 00:04] alya opened #21304 "Loading indicator on Recent topics screen for logged out users"
The loading indicator appears (and sticks around) in the middle of the Recent topics view for logged out users. We should fix this.

[2022-03-03 00:04] alya commented on #21304
@amanagr FYI

[2022-03-03 01:25] #20981 closed

[2022-03-03 02:22] asah commented on #17998
squashed the commit - if this works, it's ready for merge. [commit](https://github.com/asah/zulip/commit/f1891b46df8bf7f31379a5931201bb10c0c80f96)

[2022-03-03 06:13] m-e-l-u-h-a-n commented on #19466
@zulipbot claim

[2022-03-03 06:55] j0hannesr0th commented on #21296
Hi @NourSafta thank you for your help. Unfortunately the same error showed up.

I've read the docs and decided to upgrade my Ubuntu from 18.04 to 20.04 following this guide: https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system

But it does not work, too. The upgrade fails with this command:

[code]

Used python version:
[code]

I just followed the

[2022-03-03 10:11] adkood commented on #21273
can you please assign it to me

[2022-03-03 14:32] showell commented on #19360
I am re-opening this issue to reflect the work on #19943.

[2022-03-03 18:22] alexmv commented on #20197
@snowbear86: @moki1202 has a PR for this (#20690), which works except it needs tests fixed.  If you're going to work on it, and @moki1202 doesn't have time to fix up the tests, then https://github.com/zulip/zulip/pull/20690/files#diff-d8c85a7aa2933e433259498c0db9d93aa91be0c4aa856511fa2bc93c4b6bfc65 is a solid place to start for the code change.  Since you've claimed the issue, I assume you've [alr

[2022-03-03 18:37] alexmv opened #21306 "Create preregistration user and confirmation object in the same process"
Invitations, in `do_invite_users`, do the following:
1. Create a pre-registration user
2. Defer some work to the `invites` queue worker
3. Send an `invites_changed` event, via `notify_invites_changed`
https://github.com/zulip/zulip/blob/e090027adcbf62737d5b1f83a9618a9500a49321/zerver/lib/actions.py#L7712-L7725

The deferred `invites` worker:
1. Creates a confirmation object for the email
2. Sends

[2022-03-03 18:57] alya opened #21307 "Use simblebar scroll bar in "Create stream" UI"
The stream creation UI does not use a simplebar scroll bar like the rest of the app, which looks especially bad in night mode. We should fix this.

![Screen Shot 2022-03-03 at 10 53 58 AM](https://user-images.githubusercontent.com/2090066/156633126-4359a5a1-a164-4b0a-9d42-6713be39c700.png)

[2022-03-03 19:04] RalfJung commented on #11899
That is a nice idea, but I don't see how it replaces the issue that got closed here. Having to select text with the mouse is still more work than just hitting `>`, so it would be nice if `>` would be a bit more smart and avoid accumulating a trail of nested quotes.

[2022-03-03 19:31] jtrakk opened #21308 "Button for view of threads I have commented on"
Slack has a button in the top left to view threads I have commented on. I find it useful. It could go with the similar buttons in the top-left panel. The view would expand the threads, like the Mentions view does.

[2022-03-03 19:35] akshi2000 commented on #21306
@zulipbot claim

[2022-03-03 19:40] akshi2000 commented on #21306
Hi @timabbott, can I work on this one?

[2022-03-03 20:06] samtuke opened #21310 "Possible to mute Zulip audio (all channels) temporarily?"
Hi, during video calls we need to mute Zulip pings, but still use it, and get desktop notifications, because we are using text chat as a private side channel in video calls.

- customer: [verbally to support agent] "but I need that feature right now!"
- support agent: [typing over zulip to support manager] "do we have this feature ready yet?" [Ding!]
- support manager: [typing over zulip] "yes we

[2022-03-03 20:28] alya opened #21311 "Changing image or video title should update preview"
If you edit a message to change the title of an image or video, the title doesn't get updated in the image preview. We should fix this.

Comment on the first steps for investigating this: https://github.com/zulip/zulip/pull/21227#issuecomment-1056036089

[2022-03-03 21:19] alya opened #21312 "Replace non-standard tooltip for "Announce stream" hint"
In the "Create stream" UI, we should make the hint for "Announce stream" match other settings by:

1. Replacing the tooltip with a standard tippy tooltip.
2. Replacing the icon with an `i` icon, like we use for the "Message retention period" hint.

![Screen Shot 2022-03-03 at 1 16 42 PM](https://user-images.githubusercontent.com/2090066/156654507-d875ae60-0e51-4e68-84aa-21600da38ae0.png)

[2022-03-03 21:26] NourSafta commented on #21308
@jtrakk I suggest to label this issue so that it can be found easily. [Suggested label] : new feature

[2022-03-03 21:37] timabbott commented on #11899
I agree the keyboard UI question is independent of what additional mouse UI we provide.

I'm concerned that making `>` unconditionally drop quotes present in another message would have costs, though -- Sometimes you actually do want the chained quoting so that you can contrast or otherwise clearly react to a chain of multiple messages, and the manual workaround you'd have to do in order to get it

[2022-03-03 21:48] #21058 closed

[2022-03-03 22:04] NourSafta commented on #21296
@j0hannesr0th I think you shouldn't have execute a reboot before finishing all the steps.
You can try to use other python versions. To check or configure the alternative of Python to use ,simply run the command
sudo update-alternatives --config python3
Then you can select which python option to be the default one to use. And try to do the upgrade again.

[2022-03-03 22:42] showell commented on #21306
Hi @akshi2000.  Thanks for volunteering to work on this issue.  I think it's advanced enough that we may need somebody on the core team to work on it.  Sorry the confusion!  I will re-assign it.

[2022-03-03 23:25] showell opened #21316 "help center: Audit all help-center related docs related to stream management and permissions."
For release 5.0 we have made (or will soon make) lots of changes to how we manage streams and permissions.  We probably have made some changes where we were less than diligent about updating the help docs.

We should audit the help docs before the release.

[2022-03-03 23:54] alya commented on #21128
Thanks for the detailed report -- we should definitely fix this!

[2022-03-04 00:02] alya commented on #11910
Indeed, this issue has been resolved by the recent series of lightbox improvements; point (2) is addressed by https://github.com/zulip/zulip/commit/75a29d6b8212708c5004b734aa6ab0c7cf7d9014.

[2022-03-04 00:02] #11910 closed

[2022-03-04 00:11] alya commented on #21316
@laurynmm this isn't quite actionable yet, but should be soon once we finalize the UI changes.  #21233 and #21314 are related PRs.

[2022-03-04 00:20] timabbott commented on #11910
And I'll add that the lightbox rewrite landed in Zulip Cloud yesterday, though not the point (2) item which just merged to `main` today :).

[2022-03-04 01:05] Rishabh-792 commented on #21312
@zulipbot claim

[2022-03-04 07:59] alya opened #21318 "Document user management via profile"
In #20373, we added the ability to:

1. Manage a user from their profile
2. Deactivate a user from the "manage user" modal

We should document this in the Help center. In particular, we should indicate that user management actions (e.g. Change a user's name, etc.) can be done from either the gear menu, or from their profile. (Maybe we can do this by using tabs in the instructions.)

For deactivati

[2022-03-04 08:00] alya commented on #21318
@laurynmm it would be great if you could add this to your todo list. Not super urgent, but we should take care of it to make sure the new functionality is documented.

[2022-03-04 10:50] derSeddy opened #21319 "Linkification filter replacement maps"
I would like to propose a new feature for custom linkification filters.
Imagine the pattern `(?P<project>[A-Z]+)#(?P<issue>[0-9]+)`, this will for example generate `project=MMB` and `issue=123` for the input `MMB#123`.
What I would like to do now is to map the project to an url, but the mapping is not one to one because `MMB` is an abbreviation for `MeasurementModuleBase` and we need the full name

[2022-03-04 12:24] abhijeetbodas2001 commented on #21310
I find muting the browser tab (right click on tab, and click "mute tab"/"mute site") to be useful to get the desired effect if using Zulip in a browser, but that's definitely not a long term solution.

---

Pasting a link to #6629 which describes a similar but slightly different use-case where even visual blocking of notifications is desired.

[2022-03-04 13:42] ayazhan8 commented on #21224
@zulipbot claim

[2022-03-04 14:54] strifel commented on #14804
This seems to work now without any changes.

[2022-03-04 14:54] #14804 closed

[2022-03-04 19:32] alya commented on #21310
Thanks for the report!

I wonder if we can come up with a solution that's more convenient than the browser/desktop app options @abhijeetbodas2001 described above...

[2022-03-04 19:54] #21076 closed

[2022-03-04 20:08] alya commented on #21128
@rigdern I started a [thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/lost.20draft.20issue.20.2321128) about this in chat.zulip.org, and it was suggested that perhaps we should just disable the `c` and `x` shortcuts when you have the compose box open, as they are more likely to be used accidentally than intentionally. What do you think?

[2022-03-04 20:31] alya opened #21322 "Make fonts in Create stream UI more consistent"
At present, the stream creation UI uses some non-standard bold headings that are not commonly used elsewhere in the settings menus. We should try the following:

1. Change "Who can access the stream?" and "Who can post to the stream?" to regular text size/font.
2. Change "Message retention for stream" to the font normally used for section headings in the settings, e.g. like:

<img width="274" alt=

[2022-03-04 21:25] #21273 closed

[2022-03-04 22:04] NerdyLucifer commented on #21322
@zulipbot claim

[2022-03-04 22:51] j0hannesr0th commented on #21296
@NourSafta this time I did not reboot when `do-release-upgrade` asked me to do it. I ran into the exact same error.

Now I'm playing roulette with python versions:

![grafik](https://user-images.githubusercontent.com/36242595/156846548-34be0793-7a94-49f4-a59f-1efc3f1f0ec7.png)

![grafik](https://user-images.githubusercontent.com/36242595/156846497-f69ed809-6ff3-41de-a3d9-007b6aabaf8a.png)

![grafi

[2022-03-04 23:49] timabbott commented on #21304
I'm going to go ahead and fix this since it's quick, messy, and it'll be nice to check off.

[2022-03-04 23:51] #21304 closed

[2022-03-05 02:56] srdeotarse commented on #20618
@zulipbot still working on this issue.

[2022-03-05 07:16] NerdyLucifer commented on #21322
For feedbacks visit [Fonts in Create stream UI](https://chat.zulip.org/#narrow/stream/101-design/topic/Fonts.20in.20Create.20stream.20UI)

[2022-03-06 03:51] VishalIITP commented on #21045
@zulipbot claim

[2022-03-06 03:54] VishalIITP commented on #21045
there is a glitch in zulipbot it processed 4 days as 14

[2022-03-06 11:07] VishalIITP commented on #21001
Is the issue completely resolved

[2022-03-06 19:33] raghavluthra20 opened #21329 "Tooltip for the selected sorting option doesn't appear properly in Manage Streams UI"
The tooltip for the selected sorting option seems to be hidden behind other elements while it works fine for the 2 un-selected options.

Currently if a user has to see what the selected option does, they'd first have to select another sort option, and then hover over the previous one.

![screencast-drive google com-2022 03 03-21_30_10](https://user-images.githubusercontent.com/59819879/156938996-5

[2022-03-06 21:31] jai2201 commented on #21329
Fixed in #21330.

[2022-03-07 00:44] rigdern commented on #21128
@alya that solution sounds good to me.

[2022-03-07 04:32] alya opened #21333 "Improve image title and tooltips"
In the image lightbox, the title we currently display in the upper left is: `Download <file name> <image name>`. This looks quite odd/confusing, especially in the pretty common case when the file name and image name are the same (i.e. the user didn't rename the image after uploading):

![Screen Shot 2022-03-03 at 2 09 04 PM](https://user-images.githubusercontent.com/2090066/156862659-d77c85f4-d37a

[2022-03-07 04:55] raghavluthra20 commented on #21307
Fixed in @21313.

[2022-03-07 05:37] N-Shar-ma commented on #21302
@zulipbot claim

[2022-03-07 09:22] somesh202 commented on #21333
@zulipbot claim

[2022-03-07 10:11] sahil839 commented on #21268
@zulipbot claim

[2022-03-07 12:49] moki1202 commented on #20197
@alexmv @snowbear86 I'll try fixing the unit test. If not, you can go ahead with writing the tests :)

[2022-03-07 17:10] showell commented on #20499
still in progress (#21233)

[2022-03-07 17:31] raghavluthra20 commented on #21180
@zulipbot abandon

[2022-03-07 19:54] #21004 closed

[2022-03-07 20:35] alya opened #21340 "Simplify label for "Everyone" permissions setting"
In organization settings, we offer "Admins, moderators, members and guest" as a permissions option in some places. To make that option easier to understand, we should replace the label with "Everyone" wherever it occurs.

As part of working on this issue, we also need to audit the help center to check whether this option is mentioned anywhere, and update those pages accordingly if it is.

[2022-03-07 21:41] NerdyLucifer commented on #21340
@zulipbot claim

[2022-03-07 22:05] alya opened #21341 "Allow sorting of stream members"
Once #21233 is merged, both the **Create stream** and **stream subscribers** UI will have tables of stream members. We should allow both of these tables to be sorted in the same ways as the Organization settings > Users table (same UI, same sorting functions).

[2022-03-07 23:25] alya commented on #21171
Related issue: #21128

[2022-03-07 23:26] timabbott commented on #21296
Zulip expects the version of Python that comes with the Ubuntu version you have; you shouldn't need to do anything to modify it. This step of the 18.04 to 20.04 upgrade guide will build the virtualenv that you need and make the command above run happily:
[code]

@alexmv I think this is a bit of a documentation bug -- step 6 (here) may need to happen before step 5 will run properly.

[2022-03-07 23:27] alya commented on #21128
Ok, great. So our plan for this issue is:

- [ ] Make those hotkeys a noop if the compose box is already open.
- [ ] Call the draft save function whenever we're about to clear the compose box to start a new message. This is primarily a defense in depth thing, but seems well worth doing.

Either one will close this bug, but we want to do both.

[2022-03-07 23:39] alya opened #21342 "Fix margins on profile picture text"
When text on top of the profile picture in Settings > Profile does not fit on one line (e.g. as in Russian), we need to make sure the margins around it are wide enough to look good.

<img width="274" alt="Screen Shot 2022-03-07 at 3 33 28 PM" src="https://user-images.githubusercontent.com/2090066/157136485-86476745-26da-4be7-b14a-a454b299a945.png">
<img width="294" alt="Screen Shot 2022-03-07 at 3

[2022-03-07 23:39] alya commented on #21342
@sayamsamal I wonder if you'd be interested in taking up this one?

[2022-03-08 00:11] alya opened #21344 "Local echo should not show message to "(no topic)" as sent when topics are required"
When topics are required to an organization, local echo will sometimes show a message to the "(no topic)" topic as sent, which will afterwards be rejected by the server. This results in a confusing experience that offers the user buttons top retry or cancel without explaining what happened.

<img width="891" alt="Screen Shot 2022-03-07 at 4 04 18 PM" src="https://user-images.githubusercontent.com/

[2022-03-08 00:14] alexmv commented on #21344
I believe the "sometimes" here is specifically the case where the user is responding to a message whose topic is the string `(no topic)`.

[2022-03-08 00:18] alya opened #21345 "Compose box banner incorrectly disappears when sending with shortcut key"
When an organization turns on the "Require topics in stream messages" setting, we show a banner when a user attempts to send a message to an empty topic:

<img width="893" alt="Screen Shot 2022-03-07 at 4 09 51 PM" src="https://user-images.githubusercontent.com/2090066/157140359-415af9d5-27da-44b4-92df-a1988e19e23f.png">

However, if the user sends the message via the keyboard rather than by click

[2022-03-08 00:59] #20499 closed

[2022-03-08 04:50] alya commented on #21344
Not exactly...

1. This happens when you just name a new topic "(no topic)".
2. It doesn't always happen when you send to an existing "(no topic)" topic, but I couldn't figure out the pattern from a few minutes of playing with it. Hence the "sometimes".

[2022-03-08 05:16] NerdyLucifer commented on #21341
@zulipbot claim

[2022-03-08 05:22] alya commented on #21001
@VishalIITP See comment here: https://github.com/zulip/zulip/pull/21002#issuecomment-1027209431

[2022-03-08 06:56] alya opened #21349 "Turn off browser autocomplete in Recent topics filter"
Browser auto-complete should be disabled in the Recent topics filter box (`autocomplete = off`).

![Screen Shot 2022-03-07 at 10 53 33 PM](https://user-images.githubusercontent.com/2090066/157183392-00b597c3-23c0-4331-9946-6c4be282b421.png)

[2022-03-08 07:16] alya commented on #21316
@laurynmm the changes have been merged into `main`, so this issue is ready to be worked on. Let me know if you have any questions!

[2022-03-08 07:20] alya commented on #11899
We don't have a plan of action, but I'm happy to reopen the issue for discussion.

[2022-03-08 07:23] alya commented on #21308
Thanks for the suggestion, @jtrakk !

Do you use **Recent topics** with the "Participated" filter selected? I think that has the functionality you describe as long as the topics you're interested in are recent.

[2022-03-08 10:31] sahil839 commented on #21344
I can see it always happening when sending to an existing "(no topic)" topic.

[2022-03-08 10:31] sahil839 commented on #21344
@zulipbot claim

[2022-03-08 11:13] hhamalai opened #21352 "Web application firewalls drop certain messages, sending fails silently on client"
We've noticed that certain messages containing e.g. SQL statements or program fragments get silently dropped in transit due to web application firewall rules which block suspecting content. As a result, the message is shown as sent to the sender, but the server never receives the message, which naturally means other users won't see it and after the view is reloaded the message disappears also from

[2022-03-08 13:11] algo-byte commented on #21345
@zulipbot claim

[2022-03-08 18:32] alya commented on #21344
It doesn't happen when you have something that local echo doesn't handle, like a `/poll`. (This makes sense given @timabbott 's explanation of the bug, and I confirmed on dev.)

[2022-03-08 18:49] jtrakk commented on #21308
That works for me, thanks.

[2022-03-08 18:51] jtrakk commented on #21308
It might be nice to have a separate button for that since I usually think of tracking my conversations and tracking new conversations as separate tasks.

[2022-03-08 19:21] tiger-yash commented on #18617
@zulipbot claim

[2022-03-08 19:22] tiger-yash commented on #18617
@zulipbot claim

[2022-03-08 19:25] alya commented on #21217
@hardco2020 Not quite: as the issue says, we should *both* open the compose box *and* do the navigation.

[2022-03-08 20:43] alya opened #21356 "Timestamp in Recent topics should link to latest message"
At present, the timestamp in each topic row on Recent topics links to the topic. Instead, it should be a `near` link to the latest message in the topic. This will be more intuitive, as well as being more consistent with how timestamp links in the message feed function.

[2022-03-08 21:15] evykassirer commented on #21216
@zulipbot claim

[2022-03-08 21:19] j0hannesr0th commented on #21296
@timabbott thank you for your suggestion to run step 6 before step 5 - it partly helped. The command finished this time without problems, but Zulip is not running after the upgrade.

Output from the upgrade:

[code]

Output from logfile I received via mail:

[code]

[2022-03-09 02:05] N-Shar-ma commented on #20948
@zulipbot abandon

[2022-03-09 02:06] N-Shar-ma commented on #20948
@alya you might want to close this issue since it has been fixed!

[2022-03-09 06:50] alya commented on #21298
@NerdyLucifer plans to work on the user groups part of this issue as part of https://github.com/zulip/zulip/pull/20954.

@somesh202 could you guys collaborate if you have something in progress for it, or otherwise focus on the other two parts?

[2022-03-09 07:01] alya commented on #20948
Ah, great, thanks! (confirmed in dev)

[2022-03-09 07:01] #20948 closed

[2022-03-09 07:01] alya commented on #20948
@timabbott do we know how this was fixed?

[2022-03-09 07:14] alya opened #21358 "Topic unread counters should match stream unread counters in dark mode"
In dark mode, the background for topic unread counters is a different color than stream unread counters, which looks odd. This is the case in both muted and unmuted streams.

I think the right solution is to make the topic counter background be the same as the stream counter background, but maybe we need to play with it a bit. But in any case the counters for topics and streams should look the sam

[2022-03-09 07:15] alya commented on #21358
@amanagr would you be up for fixing this one?

[2022-03-09 08:46] gwatkinsii commented on #21045
@zulipbot claim

[2022-03-09 09:39] gwatkinsii commented on #21045
Hi,

I'm trying to understand the issue and get started with it, but I'm not sure about the issue. Please let me know the details.

[2022-03-09 12:10] Zvezdelin opened #21363 "zulip ldap auth problem - [django_auth_ldap] Authentication failed for [user@mail.domain]: Invalid characters in name!"
Hello, the systems is configured to use email as username according to manual (configuration below).

**The problem - UNSUCCESFUL auth -**

**ERROR MESSAGE in /var/log/zulip/ldap.log**

2022-03-09 11:51:24.543 DEBG [django_auth_ldap] search_s('ou=customers,dc=somecompany,dc=net', 2, '(mail=%(email)s)') returned 1 objects: cn=user@mail.domain,ou=customers,dc=somecompany,dc=net
2022-03-09 11:51:24.5

[2022-03-09 14:52] akbajwa commented on #21312
@alya Hey Alya. I am not able to find this corner of Create Streams. As it is written in the documentation "Note: You will only see the Create stream button if you have permission to create streams."

[2022-03-09 20:56] rebekahsnow commented on #21358
@alya Is this a good first-time issue?

[2022-03-09 21:56] #21349 closed

[2022-03-09 23:10] timabbott commented on #20948
Yes, a PR from last year that addressed this for both drafts and message edit history was merged a few weeks ago; for some reason I'm having a hard time finding the PR ID but it was by @m-e-l-u-h-a-n.

[2022-03-09 23:29] #21344 closed

[2022-03-10 00:13] alya opened #21369 "Add status emoji documentation"
At present, our [help center status documentation](https://zulip.com/help/status-and-availability#set-a-status) does not mention that there are emoji associated with statuses. We should fix this, including:

1. Documenting in detail how to set a status emoji and status message.
2. Indicating where status emoji can be seen (cf. #19865)

[2022-03-10 00:39] jai2201 commented on #21358
@alya , i would like to pick this up.

[2022-03-10 00:39] jai2201 commented on #21358
@zulipbot claim

[2022-03-10 00:55] asah commented on #19712
@zulipbot claim

@alya here's a work in progress

<img width="785" alt="image" src="https://user-images.githubusercontent.com/140002/157564789-d859f815-e41d-447a-9127-b00880978284.png">

and then after hitting ">":

<img width="777" alt="image" src="https://user-images.githubusercontent.com/140002/157564852-c52fc4a6-cf81-44b1-840f-8f6993efd778.png">

preview:

<img width="778" alt="image" src="htt

[2022-03-10 06:09] alya commented on #19712
Cool, thanks!

I think we don't need to add `...` before/after the quote, but otherwise looks good so far!

[2022-03-10 06:48] alya commented on #21312
You can log in as Desdemona in the dev environment to get full permissions.

[2022-03-10 07:07] alya commented on #21045
@gwatkinsii this issue is not ready to be worked on. Sorry we forgot to remove the "good first issue" label.

Please take a look at https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on for help finding an issue. You should look at issues tagged with the "help wanted" label.

[2022-03-10 16:57] jai2201 commented on #21358
Opened #21374.

[2022-03-10 19:16] tiger-yash commented on #20046
@timabbott can I work on this issue if not being worked upon or if inactive?

[2022-03-10 20:02] #19919 closed

[2022-03-10 20:02] alya opened #21379 "Document ability to unsubscribe user from streams via full profile"
https://zulip.com/help/add-or-remove-users-from-a-stream should document that users can be unsubscribed from their full profile as well:
![Screen Shot 2022-03-10 at 11 52 29 AM](https://user-images.githubusercontent.com/2090066/157745144-90cef33b-e63a-46c7-826c-0860f8158a4c.png)

As a potentially helpful reference, https://zulip.com/help/unsubscribe-from-a-stream also documents two totally differe

[2022-03-10 20:22] alya opened #21381 "Document typing notifications privacy setting"
https://zulip.com/help/status-and-availability#typing-notifications should describe how to turn on/off typing notifications via the "Let recipients see when I'm typing private messages" Account & privacy setting.

[2022-03-10 21:01] alya opened #21383 "Fix user group management help center docs"
1. https://zulip.com/help/restrict-user-group-management should be incorporated as a section into https://zulip.com/help/user-groups; it's not worth having a separate page.
2. Both of these pages currently make incorrect statements about what kinds of user group management permissions are possible, which should be fixed.

[2022-03-10 21:56] m-e-l-u-h-a-n commented on #20948
It was https://github.com/zulip/zulip/pull/18234.

[2022-03-10 23:10] #21342 closed

[2022-03-10 23:16] alya opened #21385 "Bad alignment in organization profile picture and logo text in non-English languages"
There are a few formatting issues with the **Organization profile** settings in non-English languages (tested in Russian).

1. Bad alignment for hover text on the organization profile picture.
2. Bad alignment for hover text on the organization logo pictures.
3. Bad alignment of "Day logo" / "Night logo" labels.

It would be great to fix all these.

![Screen Shot 2022-03-10 at 3 10 16 PM](https://

[2022-03-10 23:17] alya commented on #21385
@sayamsamal I've assigned this issue to you, since I think you'd be in a great position to fix it. Please feel free to unassign yourself if you are not up for woking on this.

[2022-03-10 23:31] #21322 closed

[2022-03-10 23:32] evykassirer commented on #19483
Still working on it, awaiting a decision made in #backend>pinned topics

[2022-03-10 23:39] timabbott commented on #21363
I'm pretty sure the exception is that you have `@` in the user's "Full name" field -- my guess is you need to change `cn` here to whatever field contains the user's name.

[code]

[2022-03-10 23:43] timabbott commented on #21352
I don't think encrypting the payload makes sense as a response here; it's already encrypted via HTTPS unless the user has configured a WAF tool intentionally to intercept network traffic.

I think we have improved the error-handling for messages that fail to send but were locally echoed in `main` / 5.0 already (there was a bug where the error notices were only visible on hover).

I would also sugg

[2022-03-10 23:43] #21352 closed

[2022-03-11 00:18] #21128 closed

[2022-03-11 00:18] #21171 closed

[2022-03-11 00:23] timabbott commented on #21128
I merged the fix for the critical part of the issue, which is that it was possible to lose content; thanks again for the report with a clean reproducer @rigdern!

I think it's worth also worth disabling those keyboard shortcuts too, so I'll look at integrating that change as well.

[2022-03-11 07:29] Zvezdelin commented on #21363
The problem was solved this way.
Thanks!

[2022-03-11 08:10] sayamsamal commented on #21385
@alya I will definitely like to work on this issue as it is relevant with the past issues I have worked upon, thanks.

[2022-03-11 09:51] asah commented on #19712
@alya - removed:
<img width="893" alt="image" src="https://user-images.githubusercontent.com/140002/157843174-a6924b0c-7642-4b52-89fc-089ba8b87e2a.png">

Should (can?) I get an eng review on the above issues?
(e.g. to enable dot-menu support, is it cool to create global state for the most recent selection? or is there a better solution?)

[2022-03-11 10:55] tiger-yash commented on #20415
@alya may I work on this issue, if abandoned?

[2022-03-11 12:08] Atharvk7 commented on #20523
Yes I am working on this issue @zulipbot I want more time

[2022-03-11 12:09] Atharvk7 commented on #20523
Yes I am working @zulipbot

[2022-03-11 12:35] rkdarst commented on #20087
For the record these are the environment variables to enable the old alerting, if you use the environment variable based configuration:
[code]

[2022-03-11 18:21] alya commented on #16473
Additional suggestion [on chat.zulip.org](https://chat.zulip.org/#narrow/stream/137-feedback/topic/User.20timeout.20by.20moderator/near/1342972):

[2022-03-12 00:21] alya opened #21398 "Add organization setting to show message moves but not message edits"
At present, we have a setting for whether an organization chooses to "Enable message edit history". However, some organizations may want to enable the history of messages being _moved_, without showing the history of messages being _edited_. This intermediate setting would also make it possible for `near` message links to work a little better than when message edit history is disabled altogether (

[2022-03-12 13:56] Hanaffi commented on #20484
@zulipbot claim

[2022-03-12 17:43] madrix01 commented on #21398
@alya Instead of `Always` can we use `Moves and edits` ?

[2022-03-13 04:07] ditsuke commented on #21156
Still on in!

[2022-03-13 11:36] showell opened #21402 "bots: Allow bot owners to easily subscribe/unsubscribe bots from streams in UI"
See https://chat.zulip.org/#narrow/stream/2-general/topic/Unsubscribe.20own.20bot.20from.20streams/near/1343696

When you go into personal settings and edit your bots, you should be able to edit the bot and see an "Edit Bot" modal.  We want to add a tab for subscribed streams that allows the bot's owner to unsubscribe the bot from any streams.  This tab should function very similarly to the tab th

[2022-03-13 11:37] showell commented on #21402
I added the difficult label mostly due to the fact that we haven't discussed a solution here yet, but if we come up with a good plan on chat, this may be relatively straightforward.

[2022-03-13 20:16] madrix01 commented on #21398
@timabbott I would like to work on this issue, it seems a big one, but I'll try to understand it and work on it. I was going through the codebase and figured out way to change the setting. Till now I have implemented:
- the setting dropdown as mentioned in Issue description.
- For now I have implemented the setting in frontend which would check for the setting in `page_params` and if`Moved only` i

[2022-03-13 21:00] xeruf opened #21404 "Allow uploading SVGs for Organization logo"
The original Zulip logo is an SVG, but for some reason the uploader does not accept SVGs.

[2022-03-14 05:57] anurastogiji commented on #21215
@zulipbot claim

[2022-03-14 05:58] anurastogiji commented on #19876
@zulipbot abandon

[2022-03-14 05:59] anurastogiji commented on #21215
@zulipbot claim

[2022-03-14 06:20] yogesh-sirsat commented on #21215
Hey @anurastogiji, I am already working on this, you can see [CZO discussion thread.](https://chat.zulip.org/#narrow/stream/101-design/topic/pronouns.20in.20profile.20card)

[2022-03-14 06:43] anurastogiji commented on #21215
Cool!

[2022-03-14 06:43] anurastogiji commented on #21215
@zulipbot abandon

[2022-03-14 07:32] anurastogiji commented on #21281
@zulipbot claim

[2022-03-14 18:01] alya opened #21410 "Improve styling for bot editing modals"
To match other parts of the settings UI:

1. The "Edit bot" (personal settings) and "Change bot info and owner" (org settings) modals should use regular font for field labels, same as, e.g., the "Manage user" modal.
2. The vertical spacing between the fields should be consistent, which it currently is not.

<img width="558" alt="Screen Shot 2022-03-14 at 10 53 39 AM" src="https://user-images.githu

[2022-03-14 18:53] ayazhan8 commented on #21410
@zulipbot claim

[2022-03-14 19:37] ayazhan8 commented on #21410
@zulipbot claim

[2022-03-14 19:45] Fingel opened #21412 "Extract logic for creating links to messages."
Currently the Zulip mobile app is lacking the ability to copy a link to a specific message. #3865 has been tracking that issue. Ideally, we would be able to share the logic in Zulip web for constructing these links with Zulip mobile, to avoid duplication and improve consistency.

Recently, there has been some work done to share code between the Zulip web and mobile, specifically code related to ge

[2022-03-14 22:11] skippy10110 commented on #11475
Should this issue be closed in light of #14591, which seems to be a fix for this behavior? I came across the open issue while googling topic editing and became worried my code would be broken by this before I tracked #14591 down.

[2022-03-14 22:50] alya opened #21415 "Document "Manage this user" profile link"
Administrators now see a "Manage this user" link at the bottom of the user profile modal, which will often be handier than getting to the user management UI through the settings.

<img width="300" alt="Screen Shot 2022-03-14 at 3 46 02 PM" src="https://user-images.githubusercontent.com/2090066/158273279-acedbd78-a5b8-4a5a-ae48-cda2eb19e931.png">

We should probably document this link as the primar

[2022-03-14 22:52] alya commented on #21415
Perhaps tabs would work well for this?

[2022-03-14 23:27] alya commented on #21333
Tagging as a release goal so that we can better advertise lightbox improvements made in this release.

[2022-03-14 23:34] alya commented on #21333
@Fingel assigning you to this issue as well to help get it across the finish line. Thanks!

[2022-03-15 00:23] #21379 closed

[2022-03-15 00:25] rebekahsnow commented on #20956
claim

[2022-03-15 00:47] #18017 closed

[2022-03-15 01:33] drunkeninja42 commented on #18542
@zulipbot claim

[2022-03-15 05:51] ditsuke commented on #21398
@madrix01 please claim this issue since you're working on it.

[2022-03-15 12:15] laurynmm commented on #21415
Yeah, since we know a minimum of 3 articles would use them, I can see using tabs being better in this case. Let me make a first draft that way and we can iterate from there.

[2022-03-15 12:16] laurynmm commented on #21415
Also, just checking, but this issue seems to be the same as #21318 (or at least overlap with it), right?

[2022-03-15 14:23] hhamalai commented on #21352
Good to hear that better error-handling is already coming!

WAF is usually operating on OSI layer 7, so HTTPS is usually already stripped. Also excluding Zulip from the WAF protection kind misses the point of securing infrastructure.

[2022-03-15 14:40] showell opened #21419 "migrations: Make stream fields non-null"
We should make these fields non-null fields:

* Stream.invite_only
* Subscription.is_muted

This is a good project for somebody who has done at least one Zulip migration, as both fields will probably require a backfill to make them non-null (unless Django can just do it for you somehow via the defaults).  I am 99% sure that any previous null values should be converted to `False`.  There should be

[2022-03-15 14:55] showell commented on #21402
A good warmup for this issue would be to fix #21410, although that issue should be mostly orthogonal to this one.

[2022-03-15 16:31] alya opened #21421 "Bold text on ReadTheDocs should not be large"
Formatting text as bold on ReadTheDocs documentation makes the font size larger, which looks odd. Instead, it should just make it bold.

![Screen Shot 2022-03-15 at 9 28 06 AM](https://user-images.githubusercontent.com/2090066/158425830-37f41f9b-3f05-4eb2-8b80-238227676a3e.png)
![Screen Shot 2022-03-15 at 9 28 18 AM](https://user-images.githubusercontent.com/2090066/158425842-c678c8ad-9631-4a86-a9

[2022-03-15 16:44] timabbott commented on #20356
This was fixed by the rewrite of this component in #20499.

[2022-03-15 16:44] #20356 closed

[2022-03-15 17:20] sahil839 commented on #21410
Some (or probably all) of the changes for `Change bot info and owner` modal (opened from organization settings) is already being done in #21253.  @ayazhan8 FYI.

[2022-03-15 17:23] alexmv commented on #21421
AFAICT it's just making it bold.  There's nothing in the CSS which would make it taller, and toggling the CSS which does exist for it just makes it a heavier weight, not any taller.

[2022-03-15 17:58] rebekahsnow commented on #20073
@zulipbot claim

[2022-03-15 18:10] snowbear86 commented on #20956
@zulipbot claim

[2022-03-15 19:24] #21381 closed

[2022-03-15 19:26] #21369 closed

[2022-03-15 19:30] #21383 closed

[2022-03-15 19:36] #21318 closed

[2022-03-15 19:36] #21415 closed

[2022-03-15 20:15] timabbott commented on #21419
@laurynmm @evykassirer this could be a good project for either of you.

[2022-03-15 21:04] madrix01 commented on #21398
@alya can you assign me this one ?

[2022-03-15 21:17] alya opened #21428 "Incorrect "Manage this user" link for deactivated users"
We show a "Manage this user" link in the profile for deactivated users. The link takes you to a user management modal that in no way in indicates that the user has been deactivated, and which cannot be accessed from the gear menu. (It even has a "Deactivate user" button.)

Instead, we should:

- [ ] Remove the "Manage this user" link for deactivated users. Just this change would be a fine, mergeab

[2022-03-15 23:11] #20415 closed

[2022-03-15 23:19] timabbott commented on #21428
@sahil839 can you take this one?

[2022-03-15 23:44] alya opened #21432 "Remove "Mute topic" option from message three-dot menu"
[As discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/mute.20topic.20buttons/near/1343998), there are currently several ways to mute a topic. We should remove this redundant option from the **message** three-dot menu.

Reasons to do so:

* It's a topic action, not a message action.
* There are lots of other, more natural ways to do it.
* The message three-dot menu is getting

[2022-03-15 23:45] alya commented on #21432
Tagging as a high priority because it will be helpful for merging read receipts.

[2022-03-15 23:51] sayamsamal commented on #21432
@zulipbot claim

[2022-03-15 23:54] alya opened #21433 "Make it possible to send messages to unsubscribed streams"
It is currently not possible to send a message to a stream you're not subscribed to.

However, we have an inconsistency where rather than disabling the compose box or the send button, we show a banner that implies that messages _can_ be sent.

![Screen-Shot-2022-01-28-at-1 25 41-PM](https://user-images.githubusercontent.com/2090066/158490858-bc1d81e3-d9d0-44b3-aa30-530ae0029554.png)

To fix this,

[2022-03-16 00:59] #21155 closed

[2022-03-16 01:22] ditsuke commented on #21398
@madrix01 you can self assign with a comment:
https://github.com/zulip/zulip/issues/21432#issuecomment-1068576935

[2022-03-16 01:24] sayamsamal commented on #21433
@zulipbot claim

[2022-03-16 01:28] sayamsamal commented on #21433
@zulipbot claim

[2022-03-16 01:29] sayamsamal commented on #21433
@zulipbot doesn't seem to assign nor prevent me from claiming this issue, so I would like to proceed with working on this.

[2022-03-16 04:42] alya commented on #21421
Huh, so the letters being a pixel taller is just a side effect of being bold on this font?
![Contributing_to_Zulip_—_Zulip_5_0-dev_git_documentation](https://user-images.githubusercontent.com/2090066/158518081-298c189e-4eef-4b75-9f16-b9beb36e949e.png)

[2022-03-16 04:58] madrix01 commented on #21398
@ditsuke I am assigned to different issue currently, so `zulipbot claim` won't work.

[2022-03-16 09:56] sahil839 commented on #21398
@madrix01 Assigned the issue to you.

[2022-03-16 11:05] showell opened #21437 "Make the `n` key respect the left sidebar filter"
When going to the next unread message, we should restrict the streams according to the stream filter, if it is filled in.

More discussion at https://chat.zulip.org/#narrow/stream/9-issues/topic/next.20unread.20with.20topic.20filter/near/1345801

[2022-03-16 11:22] showell opened #21438 "UI: Show bot icons in more places, and introduce icon for deactivated users"
This is a good issue for a frontend dev who is comfortable with iterating on a few prototypes of a feature request that isn't fully specified.  You will want to be comfortable with CSS positioning and searching for our HTML templates.

We show a bot icon next to bots in certain places, and we want to consider other parts of the app, such as the compose box, where we should also include the icon.

[2022-03-16 12:23] asah commented on #21438
sounds like the first step is to take inventory of the places/contexts that we're talking about ?
if so, post them here ?  perhaps as a todo checklist ?

[2022-03-16 13:49] showell opened #21439 "Add self-service UI for single-user exports."
We have a management command invoked via `./manage.py export_single_user` that allows a Zulip sys admin to export all the data for a user.  This can be useful in several contexts, such as GDPR requests and HR investigations.

For realm exports, we have a UI that allows the admin to do the export from within Zulip, but we don't have it for single-user exports.

We should have a similar UI for singl

[2022-03-16 14:01] showell commented on #21439
See also: https://chat.zulip.org/#narrow/stream/2-general/topic/archiving.20all.20messages.3F/near/1341763

One of our customers wants the ability to see PMs within the Zulip UI itself to facilitate customer investigations.  I think it is fairly unlikely that we will meet their exact wishes in the near future, but adding this feature should at least remove a little friction.

[2022-03-16 17:12] yogesh-sirsat opened #21441 "settings: Saved alert position is not proper as before."
before alert-msg position in settings (some different changes in gif are from my current not merged work).
**before**
![select_unselect_checkbox](https://user-images.githubusercontent.com/41695888/158647948-19ed9da1-8f97-42ba-8beb-73c0bb4a98c7.gif)

**current**
current alert-msg position in settings.
![current](https://user-images.githubusercontent.com/41695888/158648165-a439855b-cb1c-418a-9d0d-40

[2022-03-16 17:18] yogesh-sirsat commented on #21441
should I remove gif's then.

[2022-03-16 17:19] timabbott commented on #21441
We should fix the regression, separate from any discussion of potentially moving these somewhere else.

The design for the component is to put the "Saving..." notice in the header area -- we know that won't be long. We also put error messages there; in practice they're very rare, and usually short, but I'd like revisiting where we place those to be a separate issue from a "This looks totally broke

[2022-03-16 17:58] rskbansal commented on #21412
@zulipbot claim

[2022-03-16 18:57] alexmv commented on #16502
#18559 added the ability for `access_message` to lock, but missed some callsites to it -- for instance, `handle_push_notifications`.  We should do another pass of looking at `access_message` callsites.

[2022-03-16 19:05] timabbott commented on #21439
I think probably having a way to specifically export "Conversations involving user A and user B" would be a doable extension of what we presently have.

[2022-03-16 19:14] nagisa opened #21443 "The auto-complete for languages fails to work correctly when cursor moves."
Try the following input sequence:

[code]

This will result in

[code]

being entered.

In general there are a couple issues here.

First is that the autocomplete doesn't go away even after the only selection has already been typed out – what's the point of autocompleting `rust` to `rust`. This is especially obnoxious because after a \`\`\`language one will typically press ↵ to move to the next li

[2022-03-16 19:19] NerdyLucifer commented on #21298
I have implemented the modal for editing user groups in #20954.
Please give your feedbacks.

[2022-03-16 19:52] NerdyLucifer commented on #21438
@zulipbot claim

[2022-03-16 20:16] alexmv commented on #21421
The lines need to get thicker in some direction. :)

[2022-03-17 00:06] elopez opened #21449 "Upgrade fails due to download timeout"
While upgrading a Zulip server, I encountered this failure:

[code]

This is due to the slow internet speed, which does not manage to download `go1.17.3.linux-amd64.tar.gz` in the default [5 minute timeout](https://bugzilla.redhat.com/show_bug.cgi?id=859407) puppet has.

As a workaround, repackaging the Zulip tarball and adding `timeout => 0` in [this exec block](https://github.com/zulip/zulip/blo

[2022-03-17 08:59] Zoronium commented on #20916
@zulipbot claim

[2022-03-17 10:09] algo-byte commented on #21345
@alya I can't seem to reproduce the issue from about 3 days. Seems like either the issue is fixed or there is something wrong with my system. Can you please verify if the issue is still persistent?

[2022-03-17 12:54] yogesh-sirsat opened #21456 "recent topics: Profile popover not closing while muting user."
In recent topics, when we try to use mute user, mute user confirmation modal pops up without closing the opened profile popover.
![user_popover_not_closing_when_try_to_mute_user](https://user-images.githubusercontent.com/41695888/158812764-d611eb89-84dd-44d9-b4e7-5079e1b8aaf9.gif)

[2022-03-17 14:26] sahil839 commented on #21345
I can also not reproduce it now on main, though I was able to do it some days before. At commit cbac466658, I can reproduce, so this is probably fixed in one of the commits merged after cbac466658.

[2022-03-17 18:51] alya opened #21461 "Topic compose input box should be longer to match left sidebar"
At present, the topic input box in the compose box is shorter than the space allotted to topic names in the left sidebar. Instead, it should be sized to show as many characters as can fit in the left sidebar, as this offers a good hint for how long topics should be.

To be more specific, let's go with whatever length fits in the standard stream/topic view (without clicking on "more topics") when t

[2022-03-17 19:12] worgil opened #21462 "LDAP 32 error code return"
hi,
I am using zulip 4.11 and Freeipa openLDAP my conf file below and when i send ldap query looking error below. if can anyone help me i will be glad. thanks all.
conf file
#LDAP
AUTH_LDAP_BIND_DN = 'uid=admin,cn=users,cn=accounts,dc=serverfab,dc=com'
AUTH_LDAP_SERVER_URI = 'ldap://xxx.xxx.xxx.xxx.:21389'
AUTH_LDAP_REVERSE_EMAIL_SEARCH = LDAPSearch("ou=zulip-user,dc=serverfab,dc=com",ldap.SCOPE_S

[2022-03-17 19:55] alya opened #21464 "Add `x` to topic input box in compose box"
A possible workflow for starting a new topic is to open the compose box with an existing topic, and delete the topic name in order to enter a new one. We should try making this easier by adding an `x` to clear the input box when it's not empty. (This should match the styling on `x`s in other input boxes.)

We should widen the input box to accommodate the same amount of text without overlap with th

[2022-03-17 20:18] worgil commented on #21462
Problem solved
thanks to everone

[2022-03-17 20:18] #21462 closed

[2022-03-17 20:31] vaidehi44 commented on #20675
Hi. I am a new contributor and am looking forward to work on my first bug. Can I take this one if no else is working on it?

[2022-03-17 21:04] xeruf commented on #356
So... what if all Private Messages would actually go via XMPP? Unlike the streams, the model of PMs maps over perfectly, enabling people to chat with other Zulip users and beyond, bridging the gap between Instant Messaging and Team Communication which makes many of my team members still use Whatsapp (oof!) despite embracing Zulip in the organization.

It would also facilitate easier communication

[2022-03-17 21:09] algo-byte commented on #21461
@zulipbot claim

[2022-03-17 22:16] timabbott commented on #20973
We've merged #20808.

[2022-03-17 23:27] riedldsr commented on #21464
@zulipbot claim

[2022-03-17 23:43] apiraino commented on #20490
I'm trying to develop an outgoing webhook using a dockerized Zulip 4.11 installation. The bot is running on my host.

I've tried [following the instructions](https://zulip.readthedocs.io/en/4.8/production/deployment.html#customizing-the-outgoing-http-proxy) on how to disable Smokescreen altogether by modifying the `zulip.conf` file:
[code]

the configuration seems to be correct, example:
[code]

b

[2022-03-18 00:25] timabbott commented on #19916
The fix for this will be merging shortly. There's some subtle issues detailed in the code comments -- specifically I'm not happy with the semantics around `change_later` to move the last message in a topic (which might have been out of place), but I think addressing that may warrant a change in the options we present to users in the move topic menu.

[2022-03-18 01:32] 88fingerslukee opened #21472 "Zulip - RocketChat Import KeyError"
Hi @garg3133

I've set up a fresh install of Zulip v5.0-rc1

I'm running into the following issue on a  RC import:

2022-03-18 01:28:17.793 INFO [] Starting to process custom emoji
2022-03-18 01:28:17.794 INFO [] Done processing emoji
Traceback (most recent call last):
  File "./manage.py", line 157, in <module>
    execute_from_command_line(sys.argv)
  File "./manage.py", line 122, in execute_fro

[2022-03-18 10:37] lzmartinico opened #21474 "Split the "Who can create streams" permission into private and public"
On our Zulip instance, we want everyone to be able to create private streams (to address the fact that private group messages don't preserve the history when adding new members), but only moderators or administrators to create public ones. In the Organization Permissions setting, these should be two separate permissions.

[2022-03-18 10:57] sahil839 commented on #21474
@lzmartinico Thanks for the request. We have already added separate permissions for creating private and public streams and it is available in the Zulip cloud. In case you are self-hosting, this should be available in Zulip 5.0 which should be released soon as mentioned [here](https://chat.zulip.org/#narrow/stream/1-announce/topic/server.20releases/near/1345935) or you can upgrade to the release c

[2022-03-18 11:59] lzmartinico commented on #21474
Thanks, that's great, I don't know how I miss this. Commit `fa928d5cd168ef4cd4216f2680b97abeebc77356` for cherry-picking purposes

[2022-03-18 11:59] #21474 closed

[2022-03-18 18:07] alya opened #21480 "Upload banner for dark theme"
The blue in-progress upload banner we use does not look good in dark theme. We should design an upload banner color that is also blue-ish, but is appropriate for a dark theme.

When working on this issue, it would be good to post some options in the #design stream on CZO.

[2022-03-18 18:26] alya opened #21481 "Apply dark theme to stream color selector"
- [ ] The stream color selector widget in Stream settings > Personal tab does not have dark theme applied to it. We should fix this.

![Screen Shot 2022-03-18 at 12 18 16 PM](https://user-images.githubusercontent.com/2090066/159070725-da10a112-2fd0-4ceb-996f-f8b15e737dc0.png)

- [ ] Also, while we're here we should rename and restyle the buttons to "Cancel" and "Confirm", as elsewhere in the UI. h

[2022-03-18 19:14] timabbott opened #21482 "Polish details around when UserTopic/MutedTopic entries are moved along with a topic"
In #17031, we added support for muted topic data being moved when all the messages in a topic are moved within a stream. This issue is for extending the logic to handle some tricky corner cases. Here's the block comment from that pull request:
[code]

Here's a few things we can potentially improve:
* [x] Add support for moving MutedTopic entries to another stream where the user has access to share

[2022-03-18 19:32] #15210 closed

[2022-03-18 21:43] #21385 closed

[2022-03-18 21:59] #21302 closed

[2022-03-18 22:19] #21428 closed

[2022-03-18 22:37] timabbott commented on #19916
Fixed via fixing the more general issue #15210.

[2022-03-18 22:37] #19916 closed

[2022-03-18 22:37] timabbott commented on #15210
See https://github.com/zulip/zulip/issues/21482 for a follow-up that still needs attention (involving extra complexity around messages moved to another stream).

[2022-03-18 22:56] gnprice commented on #19371
The status of this is that the main obstacle is resolving what to do with emoji that the Google Classic emojiset (the one with people drawn as blobs) doesn't support. See https://github.com/zulip/zulip/pull/19637#issuecomment-912871140 and https://github.com/zulip/zulip/issues/19398 .

I think the logical possibilities here are basically:
* We never end up adding support for emoji that were create

[2022-03-18 23:15] gnprice commented on #19371
The solution of falling back to a different emojiset is going to inevitably look somewhat odd, because the emoji for different faces will be in different styles (unless we go so far as to, say, commission a designer to make glyphs in the style of Google Classic for the hundreds of new emoji.)

But the oddity will only be for people with the Google Classic emojiset. We changed the default in #19672

[2022-03-19 00:27] #16498 closed

[2022-03-19 00:27] #20509 closed

[2022-03-19 00:27] #20804 closed

[2022-03-19 06:36] nikhilmaske-2001 commented on #21481
@zulipbot claim

[2022-03-19 11:51] ganpa3 commented on #21441
@zulipbot claim

[2022-03-19 14:18] asah commented on #20403
merged from main, retested, still looks good:
<img width="892" alt="image" src="https://user-images.githubusercontent.com/140002/159124785-148de2b7-d23e-41aa-b50a-bad09e411d18.png">
cc @alya

[2022-03-19 14:33] asah commented on #20403
and expanded:
<img width="889" alt="image" src="https://user-images.githubusercontent.com/140002/159125288-b7144b02-eefc-41da-8be8-2659f4f5d8d0.png">

[2022-03-19 14:41] asah commented on #19466
@zulipbot claim

[2022-03-19 23:42] ailyas19776 opened #21487 "Internal server error: [Errno 111] Connection refused"
I am having this issue, when I go to "http://localhost:9991/" and I have no clue what is causing the error? I went through all the steps on https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-windows-10-with-wsl-2.

[2022-03-20 00:33] asah commented on #21487
Has it ever worked for you?
Can you paste the terminal output from the server startup?

[2022-03-20 01:00] ailyas19776 commented on #21487
![image](https://user-images.githubusercontent.com/97473935/159143585-0b5852e2-523e-403a-a4aa-50c95cc89dd3.png)
![image](https://user-images.githubusercontent.com/97473935/159143592-8f4c1840-7af6-498a-8a75-ad0351f9706b.png)

[2022-03-20 01:36] Rixant commented on #21311
Fixed at  #21488

[2022-03-20 10:00] ganpa3 commented on #21487
It takes some time for webpack to compile the assets, i.e. you need to wait for a few seconds after starting the server before accessing the URL. Let me know if it still doesn't work.

BTW, It's mentioned in the docs to clone the Zulip repo in the WSL disk. See step 6 [here](https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-windows-10-with-wsl-2)

@timab

[2022-03-20 10:00] ganpa3 commented on #21487
It takes some time for webpack to compile the assets, i.e. you need to wait for a few seconds after starting the server before accessing the URL. Let me know if it still doesn't work.

BTW, It's mentioned in the docs to clone the Zulip repo in the WSL disk. See step 6 [here](https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-windows-10-with-wsl-2)

@timab

[2022-03-20 14:18] ditsuke commented on #20975
Hey bot, the PR is alive and well.

[2022-03-20 17:06] ditsuke commented on #21480
We have a discussion on [CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/dark-theme-upload-banner) now!

[2022-03-20 17:53] yogesh-sirsat commented on #21402
@zulipbot claim

[2022-03-20 19:14] garg3133 commented on #21472
Hey @88fingerslukee, sorry for late response!

You can try replacing Line 369 in `zerver/data_import/rocketchat.py` to:
[code]

This should make this work.

[2022-03-20 19:20] anish-dcruz opened #21494 "Feature: SAML configuration per subdomain"
Please provide a way to customize SAML settings for each subdomain.

Different entity ids, urls, and signing certificates should be available to the user. In IdPs like Keycloak, this is useful for separating users.

`https://keycloak.example.com/auth/realms/{subdomain}/protocol/saml`

Please let me know if there is a way to replace `{subdomain}` with code.

Thanks

[2022-03-20 19:55] apiraino commented on #20490
In case it helps, a workaround for the moment seems to be manually changing the configuration of Smokescreen for local development. The file should be `/etc/supervisor/conf.d/zulip/smokescreen.conf` and should be edited by adding `--unsafe-allow-private-ranges`, the final result will look (more or less) like this:
[code]

Update the service configuration and restart Smokescreen
[code]

[2022-03-20 22:54] ailyas19776 commented on #20839
@zulipbot claim

[2022-03-20 22:56] ailyas19776 commented on #20831
@zulipbot claim

[2022-03-20 22:57] ailyas19776 commented on #20916
@zulipbot claim

[2022-03-20 22:57] ailyas19776 commented on #20748
@zulipbot claim

[2022-03-20 22:58] ailyas19776 commented on #20748
@zulipbot  claim

[2022-03-20 23:14] #21456 closed

[2022-03-21 00:04] #338 closed

[2022-03-21 01:05] timabbott commented on #21494
This is documented here: https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#restricting-access-to-specific-organizations

[2022-03-21 01:05] #21494 closed

[2022-03-21 01:43] 88fingerslukee commented on #21472
Okay, thank you so much for your reply.
So I did this and I get this new error:

2022-03-21 01:31:17.525 INFO [] Done processing emoji
Traceback (most recent call last):
  File "./manage.py", line 157, in <module>
    execute_from_command_line(sys.argv)
  File "./manage.py", line 122, in execute_from_command_line
    utility.execute()
  File "/srv/zulip-venv-cache/56ac6adf406011a100282dd526d03537b

[2022-03-21 03:09] timabbott commented on #21487
I think it's very possible the webpack compilation message was removed; want to start a thread about adding it back in #frontend?

Closing this issue as not a bug in Zulip -- in general this sort of setup thing is better handled in chat.zulip.org in any case.

[2022-03-21 03:09] #21487 closed

[2022-03-21 03:10] timabbott commented on #21449
Thanks for the report! We should figure out some solution that isn't modifying the source code to increase that timeout.

[2022-03-21 03:12] timabbott commented on #21443
@N-Shar-ma do you have time to investigate this one?

[2022-03-21 04:16] nikhilmaske-2001 commented on #21481
@alya I didn't find anything to update in this docs, can you point out the changes?

And PR #21484 is ready for a review.

[2022-03-21 04:35] nikhilmaske-2001 commented on #21341
@zulipbot claim

[2022-03-21 06:36] garg3133 commented on #21472
@88fingerslukee Can you put this print statement above Line 369 and share the output just before the error with me?
[code]

I want to see what type of attachment is this and what all properties are available with it.

[2022-03-21 10:17] N-Shar-ma commented on #21443
@timabbott I'd love to, but I cant seem to reproduce this bug on CZO.
On taking the cursor to the beginning of the line, the typeahead menu disappears for me, so there's no autocompleting if I press enter with the cursor anywhere but at the end of the language I typed out.

Also, for the issue mentioned regarding the autocomplete menu not going away, and having to press enter to select the already

[2022-03-21 10:57] nagisa commented on #21443
FWIW this is a reproduction of the issue on Firefox.

https://user-images.githubusercontent.com/679122/159247159-4cfd2b8c-9611-405c-b9cf-bb2a3625c330.mp4

Note that the autocompletion dialog does disappear if I use keyboard to move the insertion cursor around, but not when I use the mouse.

Continuing to show the autocompletion options when there's more than 1 option remaining seems reasonable to

[2022-03-21 11:40] N-Shar-ma commented on #21443
@nagisa Thanks for the video, though I still can't reproduce it on my Firefox 98.0.1, and also not on Chrome or Edge.

That makes sense. So when there is 1 option remaining and it is identical to what has already been typed, then the menu should be hidden. Does that sound like the ideal solution? Thoughts @timabbott ?

[2022-03-21 13:13] Rixant commented on #21404
@zulipbot claim

[2022-03-21 14:27] laurynmm commented on #21316
@zulipbot - yes, I'm still working on this issue.

[2022-03-21 18:22] vaidehi44 commented on #20675
@zulipbot claim

[2022-03-21 19:02] Kevinland123 commented on #21214
@zulipbot claim

[2022-03-21 19:05] Kevinland123 commented on #21274
@zulipbot claim

[2022-03-21 19:49] ailyas19776 commented on #20163
@zulipbot claim

[2022-03-21 20:12] jatammaro49 commented on #21271
@zulipbot claim

[2022-03-21 20:14] jatammaro49 commented on #21135
@zulipbot claim

[2022-03-21 20:15] jatammaro49 commented on #21135
@zulipbot claim

[2022-03-21 20:16] jatammaro49 commented on #21271
@zulipbot abandon

[2022-03-21 20:16] jatammaro49 commented on #21135
@zulipbot claim

[2022-03-21 20:17] jatammaro49 commented on #21135
@zulipbot abandon

[2022-03-21 20:21] jatammaro49 commented on #19849
@zulipbot claim

[2022-03-21 20:32] #15290 closed

[2022-03-21 21:15] alexmv commented on #21421
As noted above, I don't think there's an issue here to address.

[2022-03-21 21:15] #21421 closed

[2022-03-21 21:16] alexmv commented on #21449
@timabbott:  The "source code" you reference modifying is our own puppet code.  Adjusting that upward seems like a totally reasonable fix to me.

[2022-03-21 21:35] alexmv commented on #20490
The workaround above removes all SSRF provided by Smokescreen -- hence the "unsafe" in `--unsafe-allow-private-ranges`.  Do not blindly add it to the command line without understanding the risks.

If there's only a single IP address which is required, you can add `--allow-ip 10.11.12.13` to the command line.

This isn't a sufficient solution in general; we still need to develop such.  That will pr

[2022-03-21 22:11] timabbott opened #21502 "linkifiers: Fix Markdown processor handling of topics that should have multiple linkifier topic_links."
As reported in https://chat.zulip.org/#narrow/stream/9-issues/topic/Multiple.20topic.20links.3F/near/1348089, it appears that we've regressed support for computing multiple topic_links generated by linkifiers in the server. Here's a test case:

[code]

[2022-03-21 22:28] andersk commented on #21502
The prepared regex (by `prepare_linkifier_pattern` matches ` #444 ` with spaces on both sides, after which it cannot also match ` #555` because the space has already been used.

[2022-03-21 22:36] #21333 closed

[2022-03-21 22:47] #21449 closed

[2022-03-21 22:52] timabbott opened #21503 "Fix bug where duplicate recipient bars incorrectly appear around anchor message in /near/ views"
As detailed in https://chat.zulip.org/#narrow/stream/9-issues/topic/extra.20recipient.20bars.20around.20.2Fnear.2F.20message/near/1347490, we appear to have a non-deterministic bug where in some circumstances, the target message will appear with extra recipient bars above and below it.

There's substantial debugging work in the chat.zulip.org thread.

Tagging as a release goal since I believe this

[2022-03-21 23:23] alexmv commented on #21502
So yes, this is a regression from db934be0646e3002287c72ba2154a904a4dc42b5

[2022-03-21 23:38] alexmv commented on #21502
Without using any sort of look-around, both regexes need to mach that in-betweeen space, in order to know that the pattern is well-bounded.  re2 doesn't support `\G`, which would be a way to work around the second regex trying to match it.

We can try using `\b` at the end, which is effectively a cheating look-ahead?

[2022-03-21 23:44] #20799 closed

[2022-03-21 23:56] gnprice opened #21505 "Provide permalinks for topics"
As @CohenCyril reported at #15290:

Our stream links were in fact already permalinks, and with #21426 our message links (with `/near/`) are too, by following the message to wherever it's gone.

But we also have links that are to topics without a message ID. We generate those when you click a topic in the left sidebar; in the URL bar when you're viewing a topic; and in Markdown from syntax like `#*

[2022-03-21 23:57] gnprice commented on #15290
I've filed #21505 for the remaining portion of this, which is for links to topics.

[2022-03-22 00:26] timabbott commented on #21140
The alert words part was fixed in https://github.com/zulip/zulip/pull/21380, I think.

[2022-03-22 00:35] #21329 closed

[2022-03-22 00:48] #20839 closed

[2022-03-22 00:53] #20523 closed

[2022-03-22 01:12] timabbott commented on #20484
Just adding a note that we've merged much of the changes proposed here (updated above), and we're not sure if we want to do the rest. I've added notes on some good follow-ups here: https://github.com/zulip/zulip/pull/21353#issuecomment-1074581180

[2022-03-22 03:21] 88fingerslukee commented on #21472
This is what I get

`{'_id': 'iSxXsPvD9rWBRYF6h'}
`

[2022-03-22 03:55] alexmv commented on #19238
A related issue:  The title text on the text above images in the main message feed says "Download filename.jpg", but clicking on the link opens the image in the browser.  Should those be download links, or should we update the title text to not say "Download"?

[2022-03-22 05:04] yogesh-sirsat commented on #21215
@zulipbot claim

[2022-03-22 06:00] yogesh-sirsat commented on #21140
Updated.

[2022-03-22 13:39] asah commented on #19466
@alya first demo - I found the default effect jarring, so I adding jquery's standard slideUp() animation to help. Once I get your feedback, I'll finish the PR.

![close-preview2](https://user-images.githubusercontent.com/140002/159494040-5f7eda8a-3a0e-408d-9502-e0277e3107f3.gif)

- [ ] un-hide (new option in message dropdown menu)
- [ ] shortcut to hide (I'm proposing "!" but obviously suggestion

[2022-03-22 19:03] algo-byte commented on #21461
@alya, does this look fine?

topic input box:
![compose](https://user-images.githubusercontent.com/65943606/159556193-62721ecb-eac2-4548-ac95-6b7f71ba67e1.JPG)

left_sidebar topic name:
![topic](https://user-images.githubusercontent.com/65943606/159556321-c09f77da-87eb-4107-8fe4-3d6dec6a99f5.JPG)

[2022-03-22 19:23] yogesh-sirsat opened #21516 "settings_users: Unstable bots and users table while reactivating/deactivating."
In settings, when we try to reactivate/deactivate bot/user, the table of bots/users list becomes unstable.

[CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/Unstable.20bots.20and.20users.20table.2E.20.2321516)
<details>
<summary>Bots table</summary>

![bots_table](https://user-images.githubusercontent.com/41695888/159559138-c2e1958b-6cf0-4636-b300-ed11fb91022e.gif)
</details>
<details>
<

[2022-03-22 19:56] timabbott commented on #21461
This was fixed in https://github.com/zulip/zulip/commit/2f929bee2f4faa7cec6dc06a844e80d6c9ab59f3.

[2022-03-22 20:04] algo-byte commented on #21461
@zulipbot abandon

[2022-03-22 22:02] #21070 closed

[2022-03-22 22:05] #19238 closed

[2022-03-22 22:38] #20856 closed

[2022-03-22 22:40] #21502 closed

[2022-03-22 23:09] alya opened #21520 "Document custom expiration times for invitations"
In #19680, we added the ability to set custom expiration times for invitations and invite links. This should be documented in the help center at https://zulip.com/help/invite-new-users.

Note that this feature will be further extended in #19681; we might be able to write the documentation so that it doesn't have to be updated when this happens.

[2022-03-22 23:44] RyanJHamby commented on #21267
@zulipbot claim

[2022-03-23 00:37] RyanJHamby commented on #21437
@zulipbot claim

[2022-03-23 00:55] andersk opened #21524 "Improve WildValue error handling in webhooks"
#20747 introduced a mechanism for robustly type-checking the JSON inputs for webhooks, but we still need to figure out what to do with the errors it throws. Currently the `ValidationError` from the `check_*` functions is thrown all the way up to Django, which gives a 500 error page and a Sentry alert.

Since `ValidationError` belongs to Django, probably `WildValue.tame` should catch `ValidationErr

[2022-03-23 00:57] andersk opened #21525 "Finish migrating webhooks to WildValue"
#20747 converted the webhooks named A–C to `WildValue`, which provides robust type checking for their arbitrary JSON payloads. We should finish this migration for the webhooks named D–Z, and then remove the legacy weakly-typed overload for `REQ(…, argument_type="body")` without a converter.

[2022-03-23 03:45] YashRE42 commented on #20163
@ailyas19776  I don't think this is a good issue for new contributors because (1) we're not clear on the design and (2) the code is a little involved and complicated by assumptions from message_view_header, so I'd recommend choosing a different issue.

It'll be better if I'm the one who ends up working on this.

[2022-03-23 04:12] ailyas19776 commented on #20163
@zulipbot abandon

[2022-03-23 05:36] #20975 closed

[2022-03-23 05:41] YashRE42 commented on #20163
@zulipbot claim

[2022-03-23 05:56] timabbott commented on #21503
This appears to be rare enough and hard enough to reproduce that while we will certainly want to backport a fix for it, it's no longer considered a release goal.

[2022-03-23 06:51] alya opened #21527 "Update lightbox documentation"
https://zulip.com/help/view-and-browse-images should be updated to reflect the labels on the buttons in the new version of the lightbox.

[2022-03-23 09:03] nawed2611 commented on #20583
Hey! Can I work on this issue?

[2022-03-23 09:03] nawed2611 commented on #20583
@zulipbot claim

[2022-03-23 10:58] Bablu882 opened #21528 "Timeout during connect (likely firewall problem)"
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
+ certbot certonly --webroot --webroot-path=/var/lib/zulip/certbot-webroot/ -d slack.demoserver.in -m bablu.kumar@webnyxa.com --force-interactive --no-eff-email
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Plugins selected: Authenticator webroot, Installer None
Obtaining a new certificate

[2022-03-23 13:08] stephenhajjar commented on #20956
@zulipbot claim

[2022-03-23 16:04] ligmitz commented on #21419
I can take this up if somebody hasn't started working on this yet.

[2022-03-23 16:53] ganpa3 commented on #21516
This is due to the extra "Deactivated " text that's added to the deactivated user row in the `Role` column.
![image](https://user-images.githubusercontent.com/58626718/159753581-761bf75b-03b3-4332-b8ee-426193d0f19b.png)

[2022-03-23 17:46] RalfJung opened #21531 "Stop showing "Zulip needs your permission to enable desktop notifications""
I am participating in some Zulips where I deliberately do not want desktop notifications (the reasons do not matter). So when Zulip says "Zulip needs your permission to enable desktop notifications", I just close that banner. Unfortunately, Zulip shows the banner *every single time* I log in. This kind of constant nagging is rather irritating.  I wish Zulip would request my choice of not wanting d

[2022-03-23 18:41] gnprice commented on #20403
@kunalcodes007 https://chat.zulip.org/#narrow/stream/9-issues/topic/first.20issue/near/1350935

[2022-03-23 19:49] akulv commented on #21224
@zulipbot claim

[2022-03-23 20:02] apvarghese19 commented on #17008
@zulipbot claim

[2022-03-23 20:05] apvarghese19 commented on #21271
@zulipbot claim

[2022-03-23 21:20] #19044 closed

[2022-03-24 01:36] asah commented on #19466
![hide-unhide-embeds2](https://user-images.githubusercontent.com/140002/159824431-9b3ef8ef-d133-4897-9a36-422121d8c416.gif)

[2022-03-24 02:35] dpaasman commented on #21311
@zulipbot claim

[2022-03-24 02:45] dpaasman commented on #20380
@zulipbot claim

[2022-03-24 05:07] timabbott commented on #21531
Thanks for the report. I'm a bit puzzled -- when you click the X on the banner, it should display this revised banner:

![image](https://user-images.githubusercontent.com/2746074/159846114-bd0bfc0a-a2c0-472d-8dd5-a6d8f634023b.png)

Clicking the "never" option there should do what you want.

The other option is to approve it and then just uncheck desktop notifications in "notification settings" --

[2022-03-24 05:14] timabbott commented on #21528
I'd recommend reading the output carefully and googling for certbot debugging advice. The most likely configuration errors for this error message are that you either told Certbot to give you an SSL certificate for a hostname that doesn't correspond to your Zulip server, or that you have a firewall that prevents the Certbot servers from reaching your server to verify that it indeed has that hostnam

[2022-03-24 05:14] #21528 closed

[2022-03-24 08:48] Bablu882 commented on #21528
Thanks for reply ! Sir
it was error from server side that ipv4,ipv6  on AWS
when i had followed this instruction
![Screenshot from 2022-03-23 17-25-56](https://user-images.githubusercontent.com/94104355/159877609-7a00cbbd-27ce-43c8-bb3f-f30ff4c77fcb.png)
and solved

[2022-03-24 10:37] kmin-jeong commented on #21217
@hardco2020 @alya If you haven't started yet, can try this issue?
@zulipbot claim!

[2022-03-24 11:00] kmin-jeong commented on #21217
@zulipbot abandon

[2022-03-24 11:15] chdinesh1089 commented on #20502
@zulipbot claim

[2022-03-24 13:48] RalfJung commented on #21531
I assume that doesn't work since I do not usually permit websites to store cookies across a browser restart. And indeed I would like the option to be 'never ask for this account', which IMO makes more sense -- Zulip already has an account for me, so there is no need to use cookies to store preferences like this.

I will try that, thanks. It is somewhat counterintuitive though.

[2022-03-24 17:21] #20715 closed

[2022-03-24 17:23] alya opened #21542 "Stream privacy icon in settings panel should live-update"
At present, the stream privacy icon in the "General" tab of stream settings does not live-update when the privacy setting is changed. We should fix this.

E.g. after `#errors` is converted public -> private:
![Screen Shot 2022-03-24 at 10 18 36 AM](https://user-images.githubusercontent.com/2090066/159974468-1cc1f22c-1d8d-4528-9371-1b36973c788e.png)

[2022-03-24 17:42] raghavluthra20 commented on #21312
@zulipbot claim

[2022-03-24 17:47] sahil839 commented on #21542
We have a PR for this already #20984.

[2022-03-24 17:50] #19840 closed

[2022-03-24 18:02] alexmv commented on #21306
There also exists a derivative form of this, where a _resend_, after 8c1ea78d7d4c7c470c3be23e5c10c27c426fa74f, revokes the existing confirmation object by calling -- which effectively revokes the link in the previous email:
https://github.com/zulip/zulip/blob/8c1ea78d7d4c7c470c3be23e5c10c27c426fa74f/zerver/lib/actions.py#L7166-L7178

Which I'm not sure is the right behaviour.

Regardless, any solu

[2022-03-24 18:48] #21527 closed

[2022-03-24 18:54] apiraino commented on #20490
@alexmv probably a typo, the correct parameter in to allow an ip is `--allow-address 10.11.12.13` (at least in the dockerized Zulip installation I have)

[2022-03-24 19:17] alexmv commented on #20490
You're 100% correct -- it's `--allow-adress 10.11.12.13`.

[2022-03-24 19:49] alexmv opened #21544 "Improve IPv6 rate-limiting by bucketing"
Currently, we limit by single IP address -- even for IPv6 addresses, which people have in huge numbers (generally at least 2^64).  This allows them to easily bypass the per-IP-address rate limits by shifting to a new adjacent IPv6 address within their /64.

We should shift to bucketing IPv6 addresses by their /64, as a very first limit.

We should also impose additional, slightly larger buckets at

[2022-03-24 21:55] timabbott commented on #19953
I think the migrations approach taken in https://github.com/zulip/zulip/issues/19284 covers the actual problems we might have with doing so. Closing as fixed.

[2022-03-24 21:55] #19953 closed

[2022-03-24 22:00] timabbott commented on #13689
Zulip's S3 backend does support sending the endpoint URL; see the Zulip S3 documentation: https://zulip.readthedocs.io/en/latest/production/upload-backends.html

I don't know enough about Backblaze's offering to say whether that is S3 compatible.

[2022-03-24 22:21] timabbott commented on #20165
This code is unmodified since 4f4e982ed1f4a15dfe7f5a16539b05db347adacb. It's possible the best thing to do is delete it.

[2022-03-24 22:25] timabbott commented on #20165
Here's the similar code path in `message_fetch.js`:

[code]

[2022-03-25 13:06] nikomatsakis opened #21556 "merge streams and user groups?"
I know that this issue title is too agressive, but bear with me:

In my experience:

* few users know that user groups exist and the UI for joining them is clunky; plus you can't (afaik) make a "publicly joinable" user group
* most user groups we use over in Rust land correspond to "people who want to be notified when things happen" -- and almost always, those *things* also have a corresponding st

[2022-03-25 18:08] alexmv opened #21561 "Provide a realm-level flag for if administrators are allowed to do full exports without consent"
Zulip, by default, [does not allow administrators to do full exports without consent](https://zulip.com/help/export-your-organization#full-export-without-member-consent), because not all organizations are companies, where administrators are assumed to have legal access to PMs and other private correspondence.

We should add a realm-level flag, which can only be set from the support UI, which enabl

[2022-03-25 18:20] aishapervin commented on #21410
hii @alya is this issue still open for contribution?If it is,can i carry on with it?

[2022-03-25 18:23] aishapervin commented on #21265
@zulipbot claim

[2022-03-25 18:47] timabbott commented on #21561
We may want an enum rather than a boolean for the flag, since we have 2 other export types that could theoretically occur (The member consent version, and perhaps single-user one), and may add more in the future.

[2022-03-25 18:59] alexmv commented on #21561
To be clear, enum for the additional metadata in the audit log, not for the flag on the realm.  The member-consent would presumably be open to anyone, and the single-user export would presumably be gated by the same "admins are allowed to see PMs" flag on the realm as gates full exports.

[2022-03-25 19:20] Jellby commented on #16345
Is this supposed to be fixed in Zulip Cloud? I still see repeated descriptions in my GitLab webhooks?

[2022-03-26 00:29] alya commented on #19775
Reopening this issue, since we're still iterating on the format.

[2022-03-26 05:22] vaidehi44 commented on #20675
Hey @algo-byte, I can see you making some commits in your PR. Are you still working on this one?

[2022-03-26 05:42] vaidehi44 commented on #19653
Hay @jackoe, are you still working on this?

[2022-03-26 06:07] vaidehi44 commented on #21036
@N-Shar-ma, still working on this?

[2022-03-26 06:18] vaidehi44 commented on #19878
@srdeotarse, I can see your PRs. Have you resolved this issue?

[2022-03-26 06:30] vaidehi44 commented on #19055
@tiger-yash, still working on this?

[2022-03-26 06:57] N-Shar-ma commented on #21036
No I'm not currently, but the strategy for solving this is likely to change from what's mentioned here; you can refer to the last comments in my closed PR for this issue for more details!

[2022-03-26 08:25] vaidehi44 commented on #21036
@N-Shar-ma, thanks for responding and also for the reference.

[2022-03-26 08:40] tiger-yash commented on #19055
Yes @vaidehi44, its under review.

[2022-03-26 09:24] aparna-bhatt commented on #20988
@zulipbot claim

[2022-03-26 15:20] Arch0125 commented on #20988
@aparna-bhatt take a look at the ongoing discussion (link in the comments above) before starting to work on this issue.

[2022-03-26 16:18] aishapervin commented on #21265
@alya can i contribute to this issue?I am trying for outreachy and trying to find some good first issues for the same.Can i go ahead?

[2022-03-26 17:05] ElHombreMorado8 commented on #21516
@zulipbot claim

[2022-03-26 21:59] adeola-dev commented on #21217
@zulipbot claim

[2022-03-27 03:47] srdeotarse commented on #19878
@vaidehi44 Yes the issue is resolved. Waiting for PR review.

[2022-03-27 05:23] anurastogiji commented on #21281
@zulipbot I am still working on this issue.

[2022-03-27 10:30] christopherchong94 commented on #21525
@zulipbot claim

[2022-03-27 10:32] yuroitaki commented on #21525
@zulipbot claim

[2022-03-27 12:38] raghavluthra20 commented on #21312
Fixed in #21571.

[2022-03-28 05:23] supriya-045 commented on #21265
@zulipbot claim

[2022-03-28 05:25] supriya-045 commented on #11822
@zulipbot claim

[2022-03-28 05:29] atharmohammad commented on #18902
@zulipbot claim

[2022-03-28 05:35] atharmohammad commented on #21276
@zulipbot claim

[2022-03-28 06:24] andreasoc commented on #10970
great!

[2022-03-28 17:37] alya commented on #21316
The audit has been completed; resulting PRs are linked above and have been merged.

[2022-03-28 17:37] #21316 closed

[2022-03-28 19:36] riedldsr commented on #21464
@alya is this kind of what you're thinking?

[#21473](https://github.com/zulip/zulip/pull/21473)

[2022-03-28 20:01] snowbear86 commented on #20618
@zulipbot claim

[2022-03-28 20:06] snowbear86 commented on #20197
@zulipbot abandon

[2022-03-28 20:07] snowbear86 commented on #20197
@zulipbot claim

[2022-03-28 20:09] rebekahsnow commented on #20073
@zulipbot  Still working on it!

[2022-03-28 20:26] barrysnow1 commented on #20618
@zulipbot claim

[2022-03-28 20:52] ShivraniAJ commented on #10539
Hi ! I am Shivrani undergrad student from India. I'm also selected as an outreachy initial applicant. I am glad to be a part of this amazing community. Can you assign me this issue ?

[2022-03-29 00:00] #21520 closed

[2022-03-29 00:40] shreya024 commented on #20831
@zulipbot claim

[2022-03-29 01:31] nafiudanlawal commented on #21180
@alya I need some clarification on this issue. I am unclear about the actual change that needs to be implemented because the presence dot gets changed to offline immediately the user unchecks the "Display my availability to other users when online" in the privacy settings. Are you suggesting a change in the text within the tooltip? If Yes what would be more ideal?

[2022-03-29 01:55] nafiudanlawal commented on #21213
@zulipbot claim

[2022-03-29 03:16] ayazhan8 commented on #20973
@zulipbot claim

[2022-03-29 03:38] raghavluthra20 commented on #21180
Hey @nafiudanlawal, the problem is that it doesn't update immediately for _other users_ (takes around 3-5 minutes). I clarified this in the related [CZO discussion thread](https://chat.zulip.org/#narrow/stream/2-general/topic/.22unavailable.22.20status).

[2022-03-29 06:55] zhanggaoxuan commented on #13689
I tried the backblaze , it can be used to storage, but when use cloudflare cname to it's S3 friendly URL , it will be error
I followed the doc of that, so hoping zulip can support customer S3 URL to solve the issue
(https://help.backblaze.com/hc/en-us/articles/217666928-Using-Backblaze-B2-with-the-Cloudflare-CDN)

[2022-03-29 07:19] timabbott commented on #21556
Thanks for the feedback!  Our current plans are in a somewhat different direction: https://github.com/zulip/zulip/issues/19525, though I think you'd be able to do what you have in mind on top of that system.

[2022-03-29 10:45] Sukriti-sood commented on #19369
@zulipbot claim

[2022-03-29 15:20] shatabdi-pal commented on #20563
@zulipbot claim I am Shatabdi Pal. I am interested in working on this issue.

[2022-03-29 17:59] AnishaSingh0118 commented on #20831
@zulipbot claim

[2022-03-29 18:40] Ginohmk commented on #20600
Can I work on this issue. I want to work on it

[2022-03-29 19:40] Ginohmk commented on #21312
@zulipbot claim

[2022-03-29 19:41] alya commented on #18706
Related issue: #18789

[2022-03-29 19:45] Ginohmk commented on #21036
@zulipbot claim

[2022-03-29 19:50] Fool-Arcana commented on #18286
@zulipbot claim

[2022-03-29 19:50] Ginohmk commented on #20600
@zulipbot claim

[2022-03-29 21:10] kou opened #21596 "Upgrading to 5.0 from 4.11 failed"
Here is the `upgrade-zulip zulip-server-5.0.tar.gz` log:

[code]

This deployment is migrated from Zulip 1.X, 2.X, ... to 4.X. This may be related to https://github.com/zulip/zulip/commit/6fbddf578a6e99f97aabb420a570f048e38a24f4 migration squash. We may need something like https://github.com/zulip/zulip/pull/21277 .

[2022-03-29 21:29] showell opened #21597 "settings: Add a Muted Streams panel to personal settings."
I would like a Muted Streams settings panel that looks and feels like our Muted Topics panel, but obviously at the stream level.

The Muted Topics conveniently tells you when the topic was muted, so it would be nice to have a similar thing for streams.  I assume we store the date that a stream was muted in the database somewhere, but if we don't, then a good prep commit would be to store it in a c

[2022-03-29 23:06] alya opened #21599 "Improve tooltip on compose box `x` button"
At present, the tooltip on the compose box `x` button says "Cancel compose". Users may therefore be unaware that clicking that button will save their message as a draft.

Instead, if the draft will be saved when the `x` is clicked (i.e. there are enough characters in the compose box), the tooltip should say: "Cancel and save draft".

When the draft will not be saved (because the message is too sho

[2022-03-30 05:16] yogesh-sirsat commented on #21599
@zulipbot claim

[2022-03-30 06:23] alexmv opened #21602 "Default user settings incorrectly shows "mobile push notifications not configured""
In organization settings, under "Default user settings", the "Notification triggers" block shows the (?) icon and a tooltip saying that mobile push notifications are not configured:

![zulip_banner_screenshot](https://user-images.githubusercontent.com/28347/160764685-f6b83a70-50bc-446b-8477-c81d3f34d8d6.png)

...even if they are.  This can be replicated on chat.zulip.org, for instance.

[2022-03-30 06:30] amitlakhanpal commented on #21602
Hi!  This came up after some very kind and patient efforts from @alexmv on chat.zulip to help me sort out why my setup was not sending push notifications.  Ultimately it seems that for some reason if the client is running on (a slightly out-of-date version of) GrapheneOS, even with Google Play Services installed the notification does not pop up, despite the server logs indicating it is properly se

[2022-03-30 07:37] sahil839 commented on #21602
@zulipbot claim

[2022-03-30 07:38] supriya-045 commented on #11822
There is no mention of perfectScrollbar library in any file in this repository.So could you explain a bit of what exactly I have to do in this issue.
or can I refactor the resize.js and reduce the number of operations having in that file and also add media queries in css to optimise the performance.

[2022-03-30 07:51] xpufx opened #21603 "Attachment list view in messages. It's hard to distinguish multiple attachments."
As seen in the photo below. The attachment list looks like one file. This is especially true when the filename is long and there are various file types. Worse when the filename has a space in it.

It would be nice to make the number of files more obvious. A simple visual clue would be sufficient. Perhaps a bullet or similar.

![zulip-attachment-list](https://user-images.githubusercontent.com/25581

[2022-03-30 08:06] supriya-045 commented on #21358
@zulipbot claim

[2022-03-30 08:35] Haniya197 commented on #21432
@zulipbot claim

[2022-03-30 08:36] Haniya197 commented on #21432
I can help in this issue. @sayamsamal are you still working on it. Do you need help in this?

[2022-03-30 08:43] Haniya197 commented on #19055
@zulipbot claim

[2022-03-30 09:05] jai2201 commented on #21358
@supriya-045 , there's an already open PR for this issue which is under work

[2022-03-30 09:06] jai2201 commented on #21358
Can you please shift over to some other issues.

[2022-03-30 09:50] Ginohmk commented on #20600
@alya @andersk @timabbott
 I have created a pull request for this issue. Fixed #20600. [Link to PR](https://github.com/zulip/zulip/pull/21606) Please review it

[2022-03-30 10:15] itsmedeepak commented on #21599
Hey @zulipbot can I work on this issue??

[2022-03-30 10:30] itsmedeepak commented on #21602
@zulipbot claim

[2022-03-30 10:37] itsmedeepak commented on #21599
@zulipbot claim

[2022-03-30 10:38] itsmedeepak commented on #21542
@zulipbot claim

[2022-03-30 10:46] alfonsrv opened #21608 "Animated status emojis uploaded before 5.x always animate – not only on hover"
Animated emojis uploaded before version 5.x used as status emojis are currently always animating next to user names in the sidebar and message feed, not only on hover.

Newly uploaded, animated emojis have the desired behavior, only animating on hover.

[2022-03-30 11:17] lzmartinico opened #21609 "Allow moderators to remove custom emojis"
[Currently](https://github.com/zulip/zulip/blob/d9bf8baca132cf37cf7b466561ba6ece907cac42/zerver/lib/emoji.py#L87), only realm admin or the author of a particular emoji are allowed to remove them. However, this is a task that should be delegated to a moderator.
This could be restricted through the organisation settings menu.

[2022-03-30 11:44] sahil839 commented on #21542
@itsmedeepak As I mentioned above there is already a PR for this (#20984) which is almost complete. You may take some another issue.
Thanks.

[2022-03-30 11:45] itsmedeepak commented on #21542
Okey buddy, no problem

[2022-03-30 11:49] itsmedeepak commented on #21609
zulipbot claim

[2022-03-30 11:52] itsmedeepak commented on #21609
@zulipbot claim

[2022-03-30 11:54] itsmedeepak opened #21612 "@zulipbot claim"

[2022-03-30 11:55] #21612 closed

[2022-03-30 12:30] itsmedeepak commented on #21542
@zulipbot leave

[2022-03-30 12:43] itsmedeepak commented on #21412
@zulipbot claim

[2022-03-30 15:51] tatiPFernandes commented on #21345
@zulipbot  claim

[2022-03-30 18:06] alya commented on #19770
As shown in screenshots #21595, there are still problems with the alignment.

[2022-03-30 18:35] mercyikpe commented on #21265
@alya this issue was claimed 3 days ago and it hasn't been updated yet, may I claim this issue?

[2022-03-30 18:41] timabbott commented on #11822
Right, as noted in the issue, we replaced `perfectScrollbar` with a different library.

I don't think randomly refactoring `resize.js` is likely to be helpful; the thing to do for this issue is using browser profiling tools to determine what is expensive about resizing the window, and use that research to make changes that one can prove address a performance issue.

[2022-03-30 18:42] mercyikpe commented on #20675
Hi @algo-byte are you still working on this?

If not, I'll like to claim this ticket and work on it.

[2022-03-30 18:44] mercyikpe commented on #20583
Hey! Can I work on this issue since there has been no update since 7 days ago?

@zulipbot claim

[2022-03-30 18:50] mercyikpe commented on #20403
Hey! was this issue totally fixed or may I work on it?

@zulipbot claim

[2022-03-30 18:51] mercyikpe commented on #19967
Hey! may I work on this issue if is not yet fixed?

@zulipbot claim

[2022-03-30 18:52] alya commented on #19447
Ah, yeah. Closing in favor of https://github.com/zulip/zulip/issues/20870, which is more detailed.

[2022-03-30 18:52] #19447 closed

[2022-03-30 18:54] mercyikpe commented on #19821
I'll like to work on this.

@zulipbot claim

[2022-03-30 18:57] mercyikpe commented on #19770
I'll like to work on this @alya

@zulipbot claim

[2022-03-30 18:59] mercyikpe commented on #17731
I'll like to work on this.

@zulipbot claim

[2022-03-30 19:00] mercyikpe commented on #5273
I'll like to work on this issue.

@zulipbot claim

[2022-03-30 19:01] mercyikpe commented on #3128
Was this issue fixed? If not I'll like to work on it.

@zulipbot claim

[2022-03-30 19:04] mercyikpe commented on #20403
Invite accepted.

@zulipbot claim

[2022-03-30 19:17] timabbott opened #21617 "Clean up web app handling of maximum topic and stream lengths"
As reported in https://chat.zulip.org/#narrow/stream/9-issues/topic/topic.20name.20size.20very.20long.201234567890123456789012345678901.2E.2E.2E/near/1355960, we apparently don't have a `maxlength` setting on various topic-edit inputs. A good PR fixing this should use the `page_params.max_topic_length` variable, rather than hardcoding 60, and do additional commits in the pull request to (1) conver

[2022-03-30 19:24] axaysagathiya commented on #19821
@zulipbot abandon

[2022-03-30 19:25] axaysagathiya commented on #19821
@mercyikpe you can claim now.

[2022-03-30 19:28] jai2201 commented on #21617
@zulipbot  claim

[2022-03-30 19:37] jai2201 commented on #20870
@zulipbot  claim

[2022-03-30 19:44] akulv commented on #21224
@zulipbot claim

[2022-03-30 19:55] riedldsr commented on #21398
@zulipbot claim

[2022-03-30 20:31] kaxada commented on #21433
@zulipbot claim

[2022-03-30 21:24] riveramj opened #21618 "Uploaded custom GIF emoji quality issues"
I've uploaded several different custom gif emojis and the resulting emoji is unusable in chat.

I tried larger and smaller gifs and they both have degraded display.

**System:** MacOS 11.6
**App:** Zulip Desktop 5.8.1
**To reproduce:** Upload the original emojis and use them in a message.
**Expected Outcome:** At least emojis with no black background, even if quality drops a litte.

Original ![ban

[2022-03-30 21:36] alya commented on #21599
Let's try changing the `?` help menu text for `Esc` to "Cancel compose and save draft." We'll have to see if it feels too long.

The bold text on https://zulip.com/help/keyboard-shortcuts should be changed to match the `?` menu.

[2022-03-30 22:37] alya opened #21619 "Extra scrollbar in Recent topics"
[Reported on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/recent.20topics.20scrollbar/near/1350424):

The recent topics table overflows the browser window when an alert panel is visible (e.g. if you revoke the notification permission in your browser and reload, so that Zulip displays “Zulip needs your permission to enable desktop notifications”), leading to an unwanted extra scrollbar

[2022-03-30 22:57] vaidehi44 commented on #21036
@zulipbot claim

[2022-03-30 23:00] vaidehi44 commented on #20675
@zulipbot abandon

[2022-03-30 23:00] vaidehi44 commented on #21036
@zulipbot claim

[2022-03-31 02:02] eburda commented on #5256
I appreciate all of the documentation surrounding how to find the Zulip server Url, but my IPv4 address does not work on the beta app server url login.  What else can I do to fix this?

[2022-03-31 04:22] alya commented on #5256
@eburda I recommend asking your question in the #mobile stream in the [Zulip development community](https://zulip.com/development-community/).

[2022-03-31 04:29] ditsuke commented on #21480
I've been a bit short on time recently but I'm still on it. Will first resolve the other issue for the button this week and make a PR with my existing theme suggestion for the banner. For readers, please check the CZO thread to pitch in your suggestions.

[2022-03-31 04:45] alya commented on #20583
@mercyikpe please start with just one issue. It's not helpful to claim lots of issues at once.

Please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn how to get started and pick an issue to work on. Also, keep in mind the following guideline:

[2022-03-31 05:13] alya commented on #21345
Looks like this issue has been resolved (somehow).

[2022-03-31 05:13] #21345 closed

[2022-03-31 05:29] alya commented on #21608
Thanks for the report @alfonsrv ! We ran a migration that was supposed to address this; it's definitely something we'd like to take care of. Would you be willing to stop by the [#production help stream on chat.zulip.org](https://chat.zulip.org/#narrow/stream/31-production-help) so that we can debug interactively?

[2022-03-31 06:34] yogesh-sirsat commented on #21402
@zulipbot work in progress.

[2022-03-31 07:23] Bablu882 commented on #9846
i am facing error of 500

root@ip-10-0-1-218:/home/zulip/deployments/current/zerver/views# sudo nano testpro.py
root@ip-10-0-1-218:/home/zulip/deployments/current/zerver/views# sudo nano testpro.py
root@ip-10-0-1-218:/home/zulip/deployments/current/zerver/views# cd
root@ip-10-0-1-218:~# su zulip
zulip@ip-10-0-1-218:/root$
zulip@ip-10-0-1-218:/root$ cd
zulip@ip-10-0-1-218:~$ /home/zulip/deployments

[2022-03-31 07:26] aliabotan commented on #20403
@zulipbot claim

[2022-03-31 08:59] sejesnet opened #21628 "Webhook from Harbor to Zulip"
Good morning. Could you please help with this error. We are planning integrate harbor trivy notifications by webhook to Zulip.
We configured it by this <a href='https://zulip.com/integrations/doc/harbor'>simple instruction</a>, bot got error:

#### Using:
Harbor: v2.4.1-c4b06d79
Zulip: v4.10

===========================================
Logger zerver.middleware.json_error_handler, from module zerve

[2022-03-31 09:23] Arch0125 opened #21629 "Add Favourite/Pinned Topics drop-down in the Top bar"
Currently the stream top-bar shows all the topics present in that steam sorted from new to old.
This might be a bit in-efficient if the user wants to find  a topic that is old but a lot more new topics were created due to which finding that topic would make the user click on ``load more`` in the left-side bar.
![image](https://user-images.githubusercontent.com/72722967/161021636-026cddb5-b674-49a8

[2022-03-31 10:07] xeruf opened #21630 "Slack-compatible webhook from Uptime Kuma is incomplete"
Using version [1.11.4](https://github.com/louislam/uptime-kuma/releases) of uptime kuma, and this is what the webhook produces in slack: https://github.com/louislam/uptime-kuma/issues/907

I used these instructions: https://zulip.com/integrations/doc/slack_incoming to add the webhook, but I only get very short messages:

    Uptime Kuma Alert: MONITOR_NAME

Which is sorely insufficient as it does

[2022-03-31 10:10] xeruf commented on #21630
Maybe this is actually in Uptime Kuma, I misread something, I will get back if confirmed...

[2022-03-31 10:46] MooreManor opened #21631 "Can't see the original profile image"
**System:** Win10

I can't see the original Zulip profile image. And only I substitute it with a custom picture, then I can see the new picture. It said that the profile images were from Gravator, and I can't see them.

My problem is shown below.

![image](https://user-images.githubusercontent.com/49632327/161038686-8ee5c6b4-d32b-4d5d-8b56-82fed8730cc7.png)

The profile images from Gravator became

[2022-03-31 11:27] Ginohmk commented on #21358
@zulipbot claim

[2022-03-31 13:25] tatiPFernandes commented on #19884
@zulipbot  claim

[2022-03-31 13:34] tatiPFernandes commented on #19884
@zulipbot  abandon

[2022-03-31 15:03] Plaoo opened #21632 "How change nginx port before install?"
Hi everyone, I'm trying to install Zulip on a machine that has already occupied ports 80 and 443, consequently during the installation it gives me the error:
[code]
How can I install zulip by making nginx point to another port?

Even if I change the configuration of nginx ```etc/nginx/sites-available/zulip-enterprise```, this file probably gets overwritten in the install.

[2022-03-31 16:16] Ginohmk commented on #21358
Please I will like to work on this issue @alya
as I wait for a review on my other PR

[2022-03-31 16:23] Ginohmk commented on #21358
@zulipbot claim

[2022-03-31 16:27] MooreManor commented on #21631
I am a user of a self-hosted organization, and I'm using the win10 desktop app.

[2022-03-31 16:38] alya opened #21633 "Remove 50 character limit for URL custom profile field"
At present, URL custom profile fields are limited to 50 characters, which makes it impossible to enter many valid URLs.

Instead, the character limit should be increased to the maximum possible URL length (as determined by standards for URLs).

To make your PR easy to review, please post the reference where you looked up the URL length limit.

[2022-03-31 16:50] alya opened #21634 "Make "Edit custom profile field" and "Add a new profile field" into modals"
- [ ] At present, the UI for editing a custom profile field opens directly inside the table. This is confusing, especially if you have more than one open, which is possible. Instead, clicking the pencil icon should open a modal to edit the field. The modal heading can be "Edit custom profile field".
- [ ] Similarly, the "Add custom profile field" form should be migrated to a modal as well. The fie

[2022-03-31 17:02] aishapervin commented on #21265
I am stuck with some environment setup,will update soon!

[2022-03-31 17:51] alya commented on #21603
Thanks for the feedback @xpufx ! After you upload the files, you can format the message however you like, e.g. making a bulleted list with a file per line, etc. Would that solve the issue for you?

[2022-03-31 18:16] chrisbobbe opened #21636 "auth: Reset API key on password change"
When you change your password, we should reset your API key too.

Perhaps with a default-on checkbox in the password-reset flow (like "Log out of all devices"), but probably we should just go ahead and do it. It's the only way to ensure that someone who knew your old password doesn't continue to have access to your account.

A user [said](https://chat.zulip.org/#narrow/stream/3-backend/topic/new.2

[2022-03-31 18:25] #21619 closed

[2022-03-31 18:25] Arch0125 commented on #21629
I was thinking about personal pinned topics, so it will be more user specific and could be easily managed by the user itself.
Regarding Organization wide pinned topics we could add a seperate area which reflects the high priority topics.

[2022-03-31 18:50] timabbott commented on #21636
@chdinesh1089 would you be up for taking this issue?

[2022-03-31 18:55] Arch0125 commented on #21633
@zulipbot claim

[2022-03-31 18:58] Arch0125 commented on #21634
@alya  I am working on the issue #21633 , Should I also start working on this issue a bit since both of them are in the same area ?

[2022-03-31 19:10] timabbott commented on #21628
@sejesnet can you provide a sample payload from `/var/log/zulip/webhook_errors.log`?

[2022-03-31 19:14] timabbott commented on #21608
This is being discussed here: https://chat.zulip.org/#narrow/stream/31-production-help/topic/Status.20icons.20animate.20after.20upgrade.20.28issue.20.2321608.29/near/1357180

[2022-03-31 19:17] timabbott commented on #21631
My guess is that your IT department / network administrator has blocked the gravatar.com domain from whatever network you're using. I'd recommend asking your IT department why they did that.

Your Zulip server administrator can set `ENABLE_GRAVATAR = True` if your organization wants to use a fixed default avatar not sourced from Gravatar.

[2022-03-31 19:17] #21631 closed

[2022-03-31 19:20] timabbott commented on #21596
In the meantime, I think you can work around this by passing `--skip-downgrade-check` to the upgrade tool.  (At least, I think so; I've only specifically used it via `deploy_options` using this mechanism: https://zulip.readthedocs.io/en/latest/production/deployment.html#system-and-deployment-configuration

[2022-03-31 19:24] alfonsrv commented on #21608
Seems fine to me:

<details>

<summary>rabbitmqctl list_queues</summary>

[code]
</details>

<details>

<summary>events_deferred_work.log</summary>

[code]

</details>

<details>

<summary>upgrade.log</summary>

[code]

</summary>

I tried searching for the `Downloading <emoji>` logstring, but didn't turn up any results `grep -rnw "Downloading " /var/log/zulip`

[2022-03-31 19:24] alya opened #21637 "Indicate which streams and topics have unread @-mentions"
When looking at streams and topics in the left sidebar, it would be helpful to know which ones have unread messages where the user has been @-mentioned. To address this, we should display an `@` to the left of the unread message count when there is at least one unread message with an @-mention in the stream or topic.

Additional notes:
* The same messages as we show in the @-mention tab should cou

[2022-03-31 19:27] timabbott commented on #21632
Configuring an alternative port is documented here: https://zulip.readthedocs.io/en/latest/production/deployment.html#using-an-alternate-port. It may require a bit of a dance to set that in the installer; probably simplest would be to just edit `scripts/lib/install` and extend this block:
[code]

That said, that we don't recommend or support installing Zulip on a Linux node that is hosting other n

[2022-03-31 19:27] #21632 closed

[2022-03-31 19:31] alya opened #21638 "Add option to hide side bars on wide screens"
The left and right sidebar may be distracting when a user wants to focus on, e.g., going through their unread topics in a particular stream. They might also contribute to a feeling that there is too much going on for new users.

We should add buttons to hide the side bars even on wide screens. As follow-ups, we should:

- Consider whether this helps with the right sidebar UI for logged out users.

[2022-03-31 19:36] timabbott commented on #21608
This output suggests the queue processor did in fact run, which is helpful.
[code]

[2022-03-31 19:47] alfonsrv commented on #21608
Indeed `grep -rnw "Processing reupload_realm_emoji event" /var/log/zulip/` doesn't turn up anything

[2022-03-31 19:52] alya commented on #21285
We should make a couple of changes to the section headings based on @terpimost 's proposal in the redesign.

1. For stream messages: Subscribers, Recipients -> In #[stream name]
2. Others -> All other users

The logic for which users to show is not affected.

[2022-03-31 19:53] alya commented on #21285
We should also show user counts on the section heading line for each section (right-aligned).

[2022-03-31 19:58] alya commented on #21285
In-progress PR: #20072

[2022-03-31 20:04] alya opened #21639 "Recipient header bar slow to update"
The current floating recipient header doesn’t update during scrolling; it waits for some delay after scrolling is complete. Users who scroll for too long see an incorrect header until it updates.

WIP PR: #9910

[2022-03-31 20:34] alya opened #21640 "Add button to go the narrow message is being composed to"
[Requested on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/narrow.20to.20topic.2Fpms.20when.20composing/near/1243044):

In-progress PR to do this for stream messages: #19590

We will want to do this for PMs as well once we have a design that can accommodate the button.

[2022-03-31 20:42] alya commented on #3409
Updated design based on [redesign proposal discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20compose.20box/near/1351400):

* Switcher should be a button with a people icon (`fa-users` is fine for a prototype; @terpimost will provide an updated icon)
* Button should be selected when composing a PM, and not selected when composing a stream message.
* Left si

[2022-03-31 20:58] jai2201 commented on #21358
@zulipbot  claim

[2022-03-31 20:59] jai2201 commented on #21358
@Ginohmk  Please have a look at https://github.com/zulip/zulip/issues/21358#issuecomment-1082816897

[2022-03-31 21:00] jai2201 commented on #21358
This has an in-progress PR - #21374

[2022-03-31 21:42] alya opened #21641 "Document editing bots in the help center"
Once #21410 is resolved, we should document the ability to edit bots, both in personal and organization settings.

https://zulip.com/help/view-all-bots-in-your-organization should note bot editing as well.

[2022-03-31 21:42] alya commented on #21641
@laurynmm could you add this to your backlog?

[2022-03-31 21:46] alya commented on #21298
@NerdyLucifer I noticed that #20954 is closed. Is there a current PR?

[2022-03-31 21:48] alya commented on #10539
@ShivraniAJ  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn how to get started, including how to claim an issue. Also, keep in mind the following guideline:

[2022-03-31 22:12] mercyikpe commented on #20583
Alright.

[2022-03-31 22:20] mercyikpe commented on #19967
@alya I submitted a PR [21642](https://github.com/zulip/zulip/pull/21642) for this issue.

[2022-03-31 22:26] alya opened #21643 "Improve wildcard @-mention suggestions in PMs"
There are a few problems with wildcard @-mention typeahead suggestions when composing to a PM. These can be fixed independently, so PRs addressing  one or more of the points below are fine for this issue.

- [ ] The explanation in parens should say "(Notify recipients)", not "(Notify stream)" when composing to a PM.
- [ ] `@stream` should be removed from the suggestions list, as it doesn't make se

[2022-03-31 22:59] sejesnet commented on #21628
thanks for reply, here cut from: webhook_errors.log

[code]

[2022-03-31 23:29] alya opened #21645 "PM To: typeahead should use message view context"
At present, when composing a **PM**, the @-mention typeahead ordering takes into account the stream that the user is _viewing_, but the `To:` typeahead does not.

There isn't a good reason for this discrepancy. We should change the `To:` typeahead to take the stream the user is viewing (if there is one) into account as well, same as an @-mention.

[CZO discussion thread ](https://chat.zulip.org/#n

[2022-03-31 23:48] alexmv commented on #21608
#21644 will make the migrations work in general, but we need to also redo the migration.

[2022-04-01 00:01] kou commented on #21596
I tried `--skip-downgrade-check` and it worked.
Thanks!

[2022-04-01 00:20] timabbott opened #21646 "populate_db: Add support for creating messages older than 5 days ago"
This function in `populate_db` hardcodes several parameters that would ideally be options one can pass into the management command (5 days, 3 days, 1 day). We should add some coherent set of options that can be used alongside `--num-messages` to generate older messages.

[code]

[2022-04-01 04:41] tom-schreiber opened #21648 "Upgrade Fails because of /scripts/lib/fix-standalone-certbot"
Hi,

since recently we are using `certbot` for certificate generation and renewal. But not via Let's Encrpyt but via another provider (Sectigo), so there is another ACME-Server for us. Besides that we are using a different method for domain-validation (organisation validation).

So the [Upgrade-Script fix-standalone-certbot](https://github.com/zulip/zulip/blob/main/scripts/lib/fix-standalone-certb

[2022-04-01 04:43] ShivraniAJ commented on #10539
Yaa sure, I will go through the contributor guide.

[2022-04-01 05:31] somesh202 commented on #21643
@zulipbot claim

[2022-04-01 06:03] yogesh-sirsat commented on #21634
@zulipbot claim

[2022-04-01 07:14] NerdyLucifer commented on #21298
@alya I have created a new PR at #21454 to address the issue.

[2022-04-01 08:26] Ginohmk commented on #20831
@zulipbot claim

[2022-04-01 08:37] Ginohmk commented on #18286
I will like to work on this issue

[2022-04-01 09:15] alfonsrv commented on #21608
I updated my original comment with the full `upgrade.log`

[2022-04-01 09:31] aishapervin commented on #21265
I am using WSL2 in windows 10 for the development environment and i am stuck with the command `./tools/provision` which is used to install/update the zulip development environment
It gives me the following error:

mkdir: cannot create directory ‘../var/log’: Permission denied.

[2022-04-01 09:37] Ginohmk commented on #18286
@alya I have made my research on how to accomplish the task to solve this issue, that is opening the external link in a new tab.
- This [text-to-highlight](actual-link){:target="\_blank"} works for rmd file and not markdown files
- Also from git docs they suggest using <a href="..." target="_blank"> google</a>  but it does not work as well.

I am still making research on this though.

[Link 1](htt

[2022-04-01 10:12] alceil commented on #17856
I would like to take up this issue @timabbott

[2022-04-01 11:50] pjbakker commented on #17293
Even if I set my own profile settings to 24-hours, the time widget is shown in AM/PM form. Can the time widget adhere to a user's time settings and become 24-hour based as well?

[2022-04-01 11:54] xeruf commented on #21630
Nope, the translation is not working, here in Slack: https://github.com/louislam/uptime-kuma/issues/907#issuecomment-1084587271

This is what I get in Zulip:
![image](https://user-images.githubusercontent.com/13354331/161258352-8ee8cf19-a06c-4ae8-8333-afd8f24b3dcb.png)

[2022-04-01 13:30] Bablu882 opened #21651 "Internal server error-500( This Zulip server is currently experiencing some technical difficulties. Sorry about that! The page will reload automatically soon after service is restored.)"
please help zulip teams

my
/errors . log

2022-03-23 12:03:15.965 WARN [zerver.lib.push_notifications] Mobile push notifications are not configured.
  See https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html
2022-03-27 06:11:51.375 WARN [zulip.queue:9800] TornadoQueueClient lost connection to RabbitMQ, reconnecting in 2 secs...
2022-03-27 07:04:04.291 WARN [zulip.queue

[2022-04-01 14:02] amanagr commented on #21638
I am working on #16411, which is a blocker for this. I will take this up after that.

[2022-04-01 15:58] chdinesh1089 commented on #21636
sure, will try, thanks for the ping!

@zulipbot claim

[2022-04-01 18:13] evykassirer commented on #21646
@zulipbot claim

[2022-04-01 19:17] laurynmm commented on #21641
Yes :+1:

[2022-04-01 19:58] Lotiun commented on #21645
@zulipbot claim

[2022-04-01 20:08] alya opened #21653 "Improve how deactivated and reactivated users are displayed in org settings"
At present, deactivating a user via the Organization settings > Users table adds "Deactivated" to the "Role" column for that users. This is an unintuitive way to communicate this information, and makes the column widths jump around (as reported in #21516).

Instead, we should do the following:

## In the Users settings panel
- [ ] Don't modify the **Role** column when a user is deactivated.
- [ ]

[2022-04-01 20:09] alya commented on #21516
Closing in favor of #21653. Thanks for the report!

[2022-04-01 20:09] #21516 closed

[2022-04-01 20:25] alya opened #21654 ""Mark as read" using unread counters in Recent topics"
At present, the Recent topics UI has a checkmark button on each topic that can be used to mark all messages in that topic as read. This has a few down sides:

- Visual clutter
- The circle checkmark symbol is (I think) unique to this location, and could potentially be confused with the "resolve topic" checkmark.
- At present, we don't change anything about how this button is displayed when all mes

[2022-04-01 21:52] #20001 closed

[2022-04-01 22:00] timabbott commented on #21276
Just adding a note that #21593 (https://github.com/zulip/zulip/pull/21593#issuecomment-1086363967) has some useful discussion of possible approaches here; the first one we tried seems like it cannot work correctly across all messages.

[2022-04-01 22:20] #21608 closed

[2022-04-01 23:15] #21596 closed

[2022-04-01 23:43] alya commented on #21443
I can't reproduce the second copy of "rust" that shows up in the video above.

[2022-04-02 00:43] nagisa commented on #21443
Can't reproduce the issue myself either, though I'm still getting my keystrokes eaten in some cases. I'll file separate issues for those.

[2022-04-02 00:43] #21443 closed

[2022-04-02 10:18] NerdyLucifer commented on #21654
@zulipbot claim

[2022-04-02 12:27] aparna-bhatt commented on #20988
I have gone through the discussion and looked at the code but I am not able to figure out from where countries names are being fetched.If you could help me figure out this please.

[2022-04-02 13:04] Arch0125 commented on #20988
@aparna-bhatt If you're looking for timeszone.json it's in ./static/generated/timeszone.js

[2022-04-02 13:54] Arch0125 commented on #21633
I found these standards on internet, since Google Chrome supports the lowest number of charactes, I think it would safe to keep the limit same as Chrome's
![image](https://user-images.githubusercontent.com/72722967/161386415-90d1e911-bd9f-448f-977a-7a226d7f3c7f.png)

[2022-04-02 14:55] sayamsamal commented on #21432
@Haniya197 I have submitted a PR [#21434](https://github.com/zulip/zulip/pull/21434) for the same and waiting it to me merged, but thank you for helping hand, appreciated! ^_^

[2022-04-02 17:25] aparna-bhatt commented on #20988
ok thank you !

[2022-04-02 17:32] aparna-bhatt commented on #20988
I was thinking to add the UTC Offset of each country along with it 's name in ./static/generated/timeszone.js .Any suggestions regarding this.

[2022-04-02 17:39] 88fingerslukee commented on #21472
Hi @garg3133

Is there anything else I can do to give more information on this error? Is there any way of not importing the attachments, if that's what's causing this?  I don't necessarily need them.

thank you.

[2022-04-02 18:47] MooreManor opened #21665 "How can markdown table create a blank line in a cell?"
We can use `<br>` html label to create a blank line in a table cell. But as I know, in zulip, html labels are banned.

Then How can markdown table create a blank line in a cell? Since in markdown table, there isn't a original way to create a blank line in a cell.

[2022-04-02 19:48] kraktus opened #21666 "Zulip slowing down for users with many unread messages"
It seems that Zulip try to fetch all unread messages when performing a full reload, resulting in very long time for users with tens/hundreds of thousands unread messages.

A related problem (which might deserves its own issue) was marking all of these unread messages as read at once resulted in the server struggling to cope.

The incriminated query was:
[code]

[2022-04-02 20:50] stephenhajjar commented on #20956
@timabbott I have been looking into this issue, but have been unable to reproduce it. Has someone fixed this already?
Thanks

[2022-04-03 05:14] Zoronium commented on #20916
@zulipbot .

[2022-04-03 05:56] ANKIT-art-spec commented on #21665
We can write absurd data in the line of the table cell and then remove it to create the blank line

[2022-04-03 06:04] ANKIT-art-spec commented on #21666
We can minify and reduce the size of the code by removing redundant and long variables, unwanted characters and comments.

[2022-04-03 07:36] MooreManor opened #21667 "How can a robot replied link generate a preview?"
As you can see, the bot's replied link can't generate a preview while people's can.

![image](https://user-images.githubusercontent.com/49632327/161416780-53686139-c882-4efc-b945-5070e646dbfd.png)

Are there any [python-zulip-apis](https://github.com/zulip/python-zulip-api) to let Bot replied link has a preview?

[2022-04-03 07:42] MooreManor commented on #21665
I mainly want to avoid a markdown rendered table cell too long. And I still want to write something in the blank line just like the red square in the pic below. How can I make that in zulip?
![image](https://user-images.githubusercontent.com/49632327/161416991-6b51ada3-1230-4002-aadd-8bed4cbb9d7a.png)

[2022-04-03 09:52] garg3133 commented on #21472
Hey, sorry I missed this!

I can think of a few ways you can go from here:
1. Change line 369-370 in `zerver/data_import/rocketchat.py` to:
[code]
  and line 404 to:
[code]
2. If the above still gives error, try putting the following just above line 369:
[code]
3. If it still doesn't work, you can directly skip importing all the attachments by commenting out the following block of code: https://gi

[2022-04-03 11:54] chdinesh1089 commented on #21636
I agree that we should just reset API key instead of hoping for the users to understand that this is important. Opened #21668 which just resets the API key with a note in the change password dialog.

[2022-04-03 12:19] yogesh-sirsat opened #21669 "streams: Search text is overflowing with x button."
While searching for a topic in streams, the text to be searched is overflowing with the "x"(clear) button.

![Peek 2022-04-03 17-03](https://user-images.githubusercontent.com/41695888/161427655-4e2c7b4e-ef6b-4676-8d8d-aea57c5d72dc.gif)
![Screenshot at 2022-04-03 17-06-41](https://user-images.githubusercontent.com/41695888/161427657-53185a12-ab0c-4929-b77e-3ec85712d85b.png)

[CZO](https://chat.zuli

[2022-04-03 12:21] chdinesh1089 opened #21670 "`Ctrl` + `Enter` doesn't send compose box message in preview mode."
When `Ctrl` + `Enter` is set to send messages, one would expect it to send the message even in preview mode just like `Enter` sends it in "`Enter` to send" mode but this isn't the case.

Check out the discussion thread on CZO: https://chat.zulip.org/#narrow/stream/9-issues/topic/ctrl.20.2B.20enter.20in.20preview.20mode.20.2321670

[2022-04-03 12:57] kraktus commented on #21666
Related to https://chat.zulip.org/#narrow/stream/6-frontend/topic/fetching.20message.20history

[2022-04-03 15:43] anurastogiji commented on #21281
@zulipbot claim

[2022-04-03 19:07] Kevinland123 commented on #21274
still working

[2022-04-03 20:31] madrix01 commented on #21669
@yogesh-sirsat This issue has already been filed #19765

[2022-04-04 07:06] lcnr opened #21673 "time-zone aware time should also respect time format settings"
I am using zulip with the 24-hour clock time format
![Screenshot from 2022-04-04 09-01-20](https://user-images.githubusercontent.com/29864074/161490257-2a491d01-f359-4c46-8c41-35d9344b0c44.png)

when using the time-zone awake time picker still uses am and pm right now.
![Screenshot from 2022-04-04 09-02-03](https://user-images.githubusercontent.com/29864074/161490395-27af8a50-dc77-479e-abe7-317593

[2022-04-04 07:29] GhaziTriki commented on #20804
Well done !

[2022-04-04 09:01] AnishaSingh0118 commented on #20831
@zulipbot claim

[2022-04-04 09:12] aparna-bhatt commented on #20988
@zulipbot  abandon
I am finding it difficult to resolve this issue as a beginner .

[2022-04-04 10:48] ssdrum commented on #20916
@zulipbot claim

[2022-04-04 11:30] Carnage78 opened #21674 "The /poll widget does not support emoji display."
The /poll widget displays the emoji text, not the emoji image.
In preview mode:
![image](https://user-images.githubusercontent.com/84569903/161533794-ce631de1-c47b-42f2-9624-93e5d5d70e62.png)
result in:
![image](https://user-images.githubusercontent.com/84569903/161534013-9b5f6f9e-697b-4bc6-a8fd-c0088ea7126f.png)

[2022-04-04 11:53] aparna-bhatt commented on #21673
@zulipbot claim

[2022-04-04 11:56] aparna-bhatt commented on #21674
@zulipbot claim

[2022-04-04 12:58] Preshh0 commented on #14732
@timabbott I'd like to work on this issue.

[2022-04-04 13:27] sayamsamal commented on #21674
@zulipbot claim

[2022-04-04 16:54] Ginohmk commented on #21036
@zulipbot claim

[2022-04-04 16:55] Ginohmk commented on #21036
@alya please can you assign this Issue to me. My other PR is waiting review for the pass 2 days, and I want to really work on some more issues.

[2022-04-04 18:46] AnishaSingh0118 commented on #20831
@alya I was working on this issue for past 1 week and the save changes button needs a function which can save the changes once they have been made and if we do not change anything then it is set as disabled. I am attaching a short video here once you approve that I mill make a Pull Request

https://user-images.githubusercontent.com/76876709/161610517-9752347a-2365-40a6-9a03-79a7e84a7417.mp4

[2022-04-04 19:08] rebekahsnow commented on #21036
@zulipbot claim

[2022-04-04 19:11] #21633 closed

[2022-04-04 19:16] rebekahsnow commented on #20073
@zulipbot claim

[2022-04-04 19:53] 88fingerslukee commented on #21472
Thank you so much! The fixes worked and the import finished!

[2022-04-04 19:53] #21472 closed

[2022-04-04 22:17] nafiudanlawal commented on #21670
@zulipbot claim

[2022-04-04 22:19] nafiudanlawal commented on #21670
@zulipbot claim

[2022-04-04 23:02] alya opened #21680 "Abbreviate long URLs in full user profile"
In #21664, we fixed an incorrect limitation on URL length in custom profile fields. As a result, user profiles can now contain long URLs, which are not displayed well:

![161613798-c1e35215-f606-423d-b0d3-17cc14d9a6b7](https://user-images.githubusercontent.com/2090066/161646323-a029da07-1945-4bc9-a0cd-f1294bb1ce01.png)

We should fix this.

[2022-04-04 23:07] alya commented on #21036
Anyone working on this should note:

It's fine if a couple of folks work on this issue and review each other's PRs.

[2022-04-04 23:12] alya commented on #20831
@AnishaSingh0118 please post either screenshots, or a *short* video that only has relevant interactions. Thanks!

[2022-04-04 23:22] alya commented on #14732
@Preshh0 there's already a PR that's pretty much ready to merge for this issue, so please go ahead and find a different one to tackle.

[2022-04-04 23:31] alya commented on #21669
This is a duplicate of #19765.

[2022-04-04 23:31] #21669 closed

[2022-04-04 23:48] alya commented on #21673
Thanks for the report @lcnr ! Closing as a duplicate of #18960.

[2022-04-04 23:48] #21673 closed

[2022-04-04 23:51] alya commented on #21673
@aparna-bhatt please review https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on, and feel free to claim https://github.com/zulip/zulip/issues/18960 when you know what approach you would like to take to solve it.

[2022-04-05 05:08] alya commented on #20988
@aparna-bhatt  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

Thanks for giving it a try!

[2022-04-05 05:39] alya commented on #21667
@MooreManor I highly recommend asking your questions in the  #general stream in the [Zulip development community](https://zulip.com/development-community/) for this issue, as well as #21665. It will be much easier for folks to help you in an interactive conversation.

[2022-04-05 05:45] alya commented on #20956
I can reproduce it.

@stephenhajjar  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

[2022-04-05 08:42] Preshh0 commented on #14732
Okay, thanks @alya.

[2022-04-05 10:01] aparna-bhatt commented on #21670
@zulipbot claim

[2022-04-05 12:18] showell commented on #18785
It might make sense to resuscitate [#16529](https://github.com/zulip/zulip/pull/16529), which makes Zulip an OAuth2 provider.

[2022-04-05 12:34] showell commented on #18785
https://github.com/aero31aero/zulip-proxy is worth looking at as well.  It's an experimental Zulip client written mostly by two Zulip contributors.  It talks to the Zulip server via oauth to get data, but then the proxy itself is responsible for all the JS/CSS/HTML payloads and overall user experience.

[2022-04-05 13:37] mercyikpe commented on #21680
Hey! may I work on this issue if is not yet fixed?

@zulipbot claim

[2022-04-05 16:11] a-ndi commented on #15977
@zulipbot Claim

[2022-04-05 16:40] timabbott commented on #21665
I don't think this is possible with the present Zulip markdown processor -- the Markdown table syntax precludes the usual approach for generating a `<br>`, namely using a newline character.

(We don't support HTML in our Markdown processor; there are security problems with allowing arbitrary HTML, and it's not easy to validate a specific safe subset.)

[2022-04-05 16:40] #21665 closed

[2022-04-05 18:13] ganpa3 commented on #21298
@alya #21689

[2022-04-05 18:13] ganpa3 commented on #21298
#21688

[2022-04-05 21:26] alya commented on #21279
The experience if you click on a filter can be quite confusing, so bumping up the priority.

[2022-04-05 21:38] alya opened #21690 "Skip login page for organizations with web-public streams"
For organizations with web-public streams, we can minimize friction for visitors by taking the user directly to the organization, bypassing the `/login` page regardless of whether the user is logged in. Users who wish to log in can use one of the login buttons in the web-public view.

Details:
- It should work this way for links to a message/topic/stream that is web-public, as well as links to the

[2022-04-05 21:45] jamesvl opened #21691 "Invites endpoint is crashing"
## Summary

Manage Organization > Invitations shows a message in the UI, "Error listing invites".

This occurred after a new user was not receiving an invite after repeatedly resending via the UI. In hopes of fixing it, I upgraded from 5.0 to 5.1. After the upgrade, the error message appeared.

Trying to add a new invite via the Admin UI results in same thing; no invites are listed at all.

## Err

[2022-04-05 21:54] alya opened #21692 "Allow organizations to indicate organization type in settings"
In #19042, we started collecting organization types when an organization is first created.

We should also show organization types under organization settings, and allow administrators to modify their organization type.

The field can be added below "Organization name", and we should provide some information about how the data will be used. We have some light settings customization based on org ty

[2022-04-05 22:19] alya commented on #3409
Note that:

* Switching between stream and PM compose should preserve message content, same as we do for other addressee changes.
* Switching back and forth should preserve the other type of addressee until message content is cleared. So, e.g., if you change your mind and go back to the other type of compose, the stream/topic or addressees you had selected should still be there.

[2022-04-05 22:23] alya opened #21693 "Expand/close compose box buttons too low"
The expand and close compose box buttons are too low when PM addressees + hint text take up more than one line:

<img width="774" alt="Screen Shot 2022-04-05 at 3 21 07 PM" src="https://user-images.githubusercontent.com/2090066/161860606-67ea957f-d10f-4f07-a4c3-9c8f871a9a3d.png">

We should fix this.

[2022-04-05 22:25] alya commented on #21693
@asah FYI in case you're interested in this one.

[2022-04-05 23:24] asah commented on #21693
@claim

@alya Sorry if I'm being dense, is this covered by
https://github.com/zulip/zulip/issues/20403 ?

Adam

On Tue, Apr 5, 2022, 6:25 PM Alya Abbott ***@***.***> wrote:

[2022-04-05 23:26] timabbott commented on #13172
Closing this as implemented. The remaining checkbox above is https://github.com/zulip/zulip/issues/20315, and more generally https://github.com/zulip/zulip/labels/area%3A%20web-public%20streams tracks the various improvements we want to make to this experience. https://zulip.com/help/web-public-streams documents the feature and how to get it enabled for communities that want to do so now.

[2022-04-05 23:26] #13172 closed

[2022-04-05 23:48] alya opened #21694 "Customize Welcome Bot for education organizations"
Welcome Bot should take into account organization type in order to provide a tailored onboarding experience. In particular, it should link to specialized onboarding help center content for education organizations.

Organization types:
- Education (non-profit), Education (for-profit)

Line in Welcome Bot message to replace:

Instead, it should be:

The line should be modified for non-admin users as

[2022-04-06 00:00] timabbott commented on #21296
@j0hannesr0th have you been able to resolve this?  If not, please stop by chat.zulip.org so that we can debug this more interactively.

[2022-04-06 00:10] asah opened #21695 "docs: fix for dev EXTERNAL_HOST port number"
(see diff in PR)

[2022-04-06 01:11] alexmv opened #21700 "Replace deactivated owners of non-deactivated bots with a valid owner"
While we deactivate bots when their users are deactivated, we don't prevent _re-activating_ bots whose users have been deactivated.

We should either prevent this entirely, or re-parent such bots to be the admin who re-activates them.

We should also do a migration to migrate any active bots with non-active owners to be the oldest active organization owner.

[2022-04-06 01:23] riedldsr commented on #21464
@zulipbot claim

[2022-04-06 02:17] raghupalash commented on #21694
@zulipbot claim

[2022-04-06 06:16] alya commented on #21651
@Bablu882 could you please drop by the [#production help](https://chat.zulip.org/#narrow/stream/31-production-help) stream in the [Zulip development community](https://zulip.com/development-community/) so that we can debug this more interactively? I will close out this issue, as I don't think trying to help you here will work well. Thanks!

[2022-04-06 06:16] #21651 closed

[2022-04-06 06:21] alya commented on #17293
@pjbakker Thanks! Your suggestion is being tracked #18960.

[2022-04-06 06:23] alya commented on #17293
I'm going to close out this issue; I think it's OK to track the linked issues separately at this point.

[2022-04-06 06:23] #17293 closed

[2022-04-06 06:25] alya commented on #17856
@alceil  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn how to claim an issue, and keep in mind the following guideline:

[2022-04-06 06:28] alya commented on #21265
@aishapervin  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it, if it's still unclaimed, or pick a different one if you prefer.

The comments on this issue are

[2022-04-06 06:30] alya commented on #21265
@aishapervin for future reference, the [chat.zulip.org community](https://zulip.com/development-community/) is a better place to get help than comments on a GitHub issue.

[2022-04-06 06:33] sahil839 commented on #21700
@zulipbot claim

[2022-04-06 06:34] alya commented on #21648
Thanks for the report! I've posted this issue in the development community for visibility: https://chat.zulip.org/#narrow/stream/31-production-help/topic/upgrade.20problem.20.2321648/near/1361047

[2022-04-06 06:35] aishapervin commented on #21265
@alya,what next step do i perform?Do i have to create a new pr for this issue or is my code ok?
Also.i am very new to contributing on github,and i have followed the instructions from the guidelines itself,but still got confused time to time.Will be more careful from next time onwards.

[2022-04-06 06:43] alya commented on #21629
Our current plan for organization-wide pinned topics is to have them within each stream.

I'm going to close this issue as a duplicate of https://github.com/zulip/zulip/issues/16548; we can think about search filter options as a follow-up once #16548 is completed. Thanks for the report!

[2022-04-06 06:43] #21629 closed

[2022-04-06 07:03] alceil commented on #17856
Ya got it @alya

[2022-04-06 07:27] Bablu882 commented on #21651
@alya  thanks
but i am facing this problem when restart server
![image](https://user-images.githubusercontent.com/94104355/161919215-4d88b5a1-96bf-44b9-b167-f15c0b9b461f.png)

[2022-04-06 10:38] lzmartinico opened #21705 "Users creating private streams should not be announced"
On Zulip 5, the new stream notifications now include private streams. Sometimes the notification will announce the stream title, sometimes it will just say that a private stream was made by someone. There should be an option at the organisation level to disable all notifications for private streams, while enforce public stream notifications.

[2022-04-06 11:10] ssdrum commented on #21693
Are the buttons supposed to stay at the top-right corner?

[2022-04-06 11:17] Preshh0 commented on #20918
Hi @alya, does this issue have a pr waiting to be merged? I'd like to know if this is something I can contribute to.

[2022-04-06 11:20] Preshh0 commented on #18583
Hi @alya, you mentioned you'd like to do this, have you? If not, can I take it off your hands?

[2022-04-06 11:54] ssdrum commented on #21693
@zulipbot claim are buttons supposed to stay at the top-right corner?

[2022-04-06 12:04] Preshh0 commented on #15948
@alya @zulipbot  I'd like to work on the "Wrap main content in <main> and sidebar in <nav>. https://github.com/zulip/zulip/pull/15969 ... makes the pipeline fail" issue.

[2022-04-06 12:56] Arch0125 opened #21707 "Add option to show counter for un-read starred messages"
Presently the Starred Message couter displays total number of starred messages the user has, this feature seems inconsistent since rest if the counters in the same group only new/un-read messages.
The user may get confused between total number of messages and unread messages. So along with option to show/hide all starred message counter, we can add an option to show only un-read starred messages.

[2022-04-06 15:38] timabbott commented on #21691
@jamesvl can you stop by "#production help" in the Zulip development community at chat.zulip.org to investigate? It seems like your database is in an invalid state, in that it appears your system has `PreregistrationUser` objects that do not have associated `Confirmation` objects. We'd like to help you investigate to determine whether that's the case; certainly we'd want to track down any Zulip bu

[2022-04-06 16:02] anurastogiji commented on #21217
@adeola-dev are you working on this issue?

[2022-04-06 16:19] alya commented on #21217
I'd like @chdinesh1089 to pick this one up. Thanks!

[2022-04-06 17:35] RogueSnipa opened #21709 "sync_ldap_user_data error"
It seems that after switching to version 5.1, the `LDAP_DEACTIVATE_NON_MATCHING_USERS` setting stopped working correctly for me.

[code]
Sync command
`root@zserver:/home/zulip/deployments/current# su zulip -c './manage.py sync_ldap_user_data'`
ends with an error. I replaced the real username and domain for privacy reasons.
[code]
As a result, the user remains active.

[2022-04-06 17:55] ilangela commented on #20526
@zulipbot claim

[2022-04-06 18:47] alexmv commented on #21648
Are you intentionally using the `authenticator = standalone` configuration as well as a different server?  `fix-standalone-certbot` exists to try to switch `authenticator = standalone` to `authenticator = webroot`, since `standalone` won't work in general -- the nginx server is listening on port 80, so the standalone certbot can't claim it.

[2022-04-06 19:01] alya opened #21711 "Disable "Confirm" button in Move topic menu when origin and destination are the same"
At present, pressing "Confirm" in the "Move topic" modal without changing the stream or topic name produces an error banner:
![Screen Shot 2022-04-06 at 11 59 10 AM](https://user-images.githubusercontent.com/2090066/162048810-47acb379-efdc-4a43-bca3-55eaf551c798.png)

Instead, we should disable the "Confirm" button when the stream and topic name are the same as the current ones.

[2022-04-06 19:06] alya opened #21712 "Show "Send notification to new/old topic" options for moves within stream"
At present, when moving messages via the three-dot message menu, we only show the option to Send notification to new/old topic when messages are being moved to a new stream.

Instead, we should show these options for within-stream moves as well, as it can help avoid confusion about moved messages. Note that we already allow this when moving messages via the three-dot topic menu in the left sidebar

[2022-04-06 19:20] alya commented on #21481
This will be incorrect:

[2022-04-06 19:24] apvarghese19 commented on #21271
Still working on this issue

[2022-04-06 19:41] DanH42 commented on #8021
As someone who _does_ care about preserving unread counts on messages I haven't yet read, I really don't get this as an justification for choosing not to include a basic feature of any other chat client, especially considering Zulip already disregards the reliability of unread counts in other ways that are even more easily preventable.

For example: if I'm looking at a stream, the "private message

[2022-04-06 19:47] jamesvl commented on #21691
No problem - continuing conversation in https://chat.zulip.org/#narrow/stream/31-production-help/topic/PreregistrationUser.20invalid.20state.20.2321691

[2022-04-06 19:48] alya opened #21713 "Add user ID to full profile modal"
We should show the user ID just above the role in the full user profile modal. This way, even if someone doesn't have access to the user's email address, they can verify the identity via the full profile UI.

![Polonius_-_Zulip_Dev_-_Zulip](https://user-images.githubusercontent.com/2090066/162058568-1528b04c-187f-49dd-8967-463cc6423085.png)

[2022-04-06 21:22] timabbott opened #21714 "Allow pasting a unicode emoji character in the reaction emoji picker"
See https://github.com/zulip/zulip/pull/21679#discussion_r843318285 for context, but basically if you are using the mobile web application on a mobile device, and want to input an emoji reaction using your device's emoji keyboard, it'd be nice if Zulip made that work.

[2022-04-06 22:38] alya opened #21716 "Add a Drafts tab for drafts in current narrow"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/save.20and.20clear.20button.20design/near/1359699), it would be helpful to be able to view drafts addressed to the current narrow, especially in light of #18555.

To address this, we should make a tabbed drafts UI with the following tabs:

* **This conversation**: Drafts for the current narrow, i.e. the compose box narrow

[2022-04-06 23:07] tanyasingh7 commented on #21716
@zulipbot claim

[2022-04-06 23:09] tanyasingh7 commented on #21713
@zulipbot claim

[2022-04-06 23:09] matt-shen commented on #21713
@zulipbot claim

[2022-04-07 00:58] xeruf opened #21717 "Wrong client time prevents edits which the server would allow"
Recently, my system time accidentally diverged from the local time by an hour forwards. On our Zulip server, editing is confined to ten minutes, and it apparently calculates the option in the interface from the difference of the local post time and the system time, which can have valid reasons to diverge.
In that configuration, the web app did not allow me to edit my post...

[2022-04-07 05:10] Amanshenoy008 commented on #21711
@zulipbot claim

[2022-04-07 05:46] alya commented on #21356
@aparna-bhatt there is a PR for this issue, so you may want to look for a different one to work on. In general, I recommend playing with the Zulip app as well as going though https://zulip.readthedocs.io/en/latest/overview/contributing.html to get started.

[2022-04-07 06:10] alexmv commented on #21717
When you say "system time," do you mean the clock on the computer with your browser or desktop client -- or the clock on the server?

[2022-04-07 06:20] alya commented on #21709
Thanks for the report! I [posted this on chat.zulip.org](https://chat.zulip.org/#narrow/stream/31-production-help/topic/sync_ldap_user_data.20error.20.2321709/near/1361750) for more interactive discussion.

[2022-04-07 06:26] alya commented on #20831
@AnishaSingh0118 I'm not sure what's going on, but it doesn't look like you have an open PR for the `zulip/zulip` repo linked to this issue.

[2022-04-07 06:32] alya commented on #21707
Thanks for the suggestion @Arch0125 ! The different style of message counter hints to the user that these counts are different from the others.

The workflow for marking a message starred while also having it be unread would be pretty complicated, and so I don't think this extra option would be worth the added complexity.

In general, while you're absolutely welcome to open issues with suggestions

[2022-04-07 06:32] #21707 closed

[2022-04-07 12:12] xeruf commented on #21717
On the client computer, if the server time was off this would probably wreak havoc ^^

[2022-04-07 13:35] yuroitaki commented on #21525
@zulipbot I am still working on it.

[2022-04-07 14:44] mhassouna95 opened #21721 "LDAP-deactivated users still receive email notifications via @all"
This is obviously frustrating for users who stopped using our zulip instance some time ago and still get bothered by email. Is there a way to stop this behavior?

[2022-04-07 17:31] lzmartinico commented on #21705
No, that is not the case, as I was not the one to create the first private stream when we noticed this to be public. The announce stream box was both greyed out and selected when the user tried to make a new private stream, and this produced a notification. On a different test, the user was able to unselect it and prevent the notification; once unselected, they were not able to re-select it. Inter

[2022-04-07 17:36] alexmv commented on #21717
Thinking about this, we have the user's timezone, and a heartbeat from the server every 60s, by way of the events request.  We could consider using this to have our own client-side clock for purposes of knowing the server's idea of the current time, and thus accurately predict if edits would be accepted by the server.

[2022-04-07 17:48] j0hannesr0th commented on #21296
Hi @timabbott it's not solved yet. I'll contact you. Thanks!

[2022-04-07 17:50] #1512 closed

[2022-04-07 19:53] alya commented on #21693
@asah  I haven't checked whether [#20403](https://github.com/zulip/zulip/issues/20403) covers it, but this one is specifically about multi-line PMs. Looks like @ssdrum has a proposed fix. Thanks!

[2022-04-07 19:56] alya commented on #18583
@Preshh0 you're welcome to submit a PR for the part that hasn't been done. Thanks!

[2022-04-07 20:16] alya commented on #21651
@Bablu882 the information in this issue is not sufficient to debug this for you. You can ask for help as suggested above.

[2022-04-07 20:24] #21693 closed

[2022-04-07 20:46] Preshh0 commented on #18583
Sweet! I will, thank you.

[2022-04-07 22:00] alya opened #21724 "Message edit UI still open after message is moved"
Repro:

1. Move a message via the message edit UI. (I was moving to a different stream; don't know if this is important.)
2. Navigate away to a different narrow *while the message is being moved*. This is easy to do when moving messages between streams on CZO; a delay will need to be added on `dev` in order to test there.
3. After the move completes, view the message in its new location.

Expected

[2022-04-07 22:28] alya commented on #2517
Highly requested in user survey.

[2022-04-07 23:26] alya commented on #21705
Hm, interesting, I'm not sure how to reproduce this. The "Announce stream" is getting automatically unchecked when I switch stream visibility to "private" in the stream creation UI.

[2022-04-08 00:39] asah commented on #21693
@alya I've merged the two PRs, re-tested and re-pushed to #20703.

[2022-04-08 08:20] #20624 closed

[2022-04-08 10:05] lzmartinico commented on #21705
It sounds like you are testing in a realm where users are allowed to create public streams? We only allow full members to create private streams (since upgrading to 5.1, this wasn't an option in 4.x)

[2022-04-08 10:36] sahil839 commented on #21705
I can reproduce by allowing only admins to create public streams. Thanks for the report. Should be quick to fix. Will open a PR.

[2022-04-08 11:35] sahil839 commented on #21705
Opened #21278 to fix this.

[2022-04-08 13:43] tom-schreiber commented on #21648
Hi,

I do not fully understand what you mean, but our certbot setup works completely fine.

We have configured certbot with the standalone-option. After that we have made a symbolic link to `/etc/ssl/certs/zulip.combined-chain.crt`.

The problem is now, that fix-script now detects our certbot-config an try to run the certbot-renew. But this command fails, because no server-argument ist given (and

[2022-04-08 16:39] alexmv commented on #21648
That surprises me!

Here's what I would _expect_ to happen:
1. You get your certificates, with your custom server, and symlink them into place
2. You install Zulip.  Zulip sets up `nginx`, listening on port 443 and 80.
3. Certbot notices it needs to renew its certificates.
4. Since `authenticator = standalone`, certbot tries to start up a server on port 80 to validate the ACME challenge.
5. Since

[2022-04-08 17:10] sanfords commented on #13687
Zulip is great.  But I guess I don't understand why emojis are embedded in Zulip apps at all.  Virtually all browsers and apps support unicode.  Why is this even a thing?  Maybe this made sense years ago?  As @ezitisitis said above, Mattermost, Slack and Discord have made it work.

[2022-04-08 19:08] timabbott commented on #21721
@mhassouna95 thanks for the report! I assume you mean "inactive users", not [deactivated users](https://zulip.com/help/deactivate-or-reactivate-a-user#deactivate-ban-a-user) -- i.e. these aren't users who explicitly deactivated their accounts.

As a workaround, you can likely address this issue for your organization by limiting permission to use `@all` in large streams:

![image](https://user-imag

[2022-04-08 19:11] Zoronium commented on #20916
@zulipbot claim

[2022-04-08 20:07] LaniJ commented on #21714
@zulipbot claim

[2022-04-08 20:11] RalfJung opened #21738 "Marking a topic as "resolved" destroys links to that topic"
After marking a topic as "resolved", links previously created to point to that topic no longer work.

It looks like "resolved" is basically just adding a checkmark to the topic name. But that is not the expectation one usually has with features like this -- I would expect the status of the topic to be affect in some sense, but the "identity" of the topic (and in particular its URL) should remain u

[2022-04-08 20:46] mhassouna95 commented on #21721
@timabbott Thank you so much for your speedy reply. I am sorry I wasn't clear in my description. I mean users whose access has been revoked via LDAP or users that are locked in LDAP. Currently they are still under active users but they can't login. Is there a way to automatically deactivate them in Zulip as well? Or at least change their notification settings accordingly.

[2022-04-08 22:01] #18960 closed

[2022-04-08 22:58] alya opened #21739 "Revamp topic editing permissions"
At present, the permissions for editing the topic of a message are highly complex (see [CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/time.20restrictions.20on.20topic.20editing/near/1357753)). We should move to a clear, coherent set of policy options.

This issue additionally addresses some other quirks in **Message editing**  section under Organization permissions.

Note

[2022-04-09 00:22] PIG208 commented on #21267
@zulipbot claim

[2022-04-09 06:19] sahil839 commented on #21739
@zulipbot claim

[2022-04-09 10:26] aparna-bhatt opened #21745 "In Recent Topics the compose box hides the last recent topic."
In recent topic when we open the compose box it hides the last recent topic.
***Screenshot***
<img src="https://user-images.githubusercontent.com/86338542/162567761-2bfd6bdc-8637-4b1f-ab6c-56fd0c62e813.jpeg" width="700" height="500">

[2022-04-09 10:26] aparna-bhatt commented on #21745
@zulipbot claim

[2022-04-09 10:34] Arch0125 commented on #21680
@timabbott @alya  I was trying this method to display the full URL:
On hovering the URL would expand fully, maybe we can add background colors and rounded corners to make it clear for the user which URL is being selected.
![Peek 2022-04-09 16-03](https://user-images.githubusercontent.com/72722967/162568216-a9b0cad8-544d-453e-8a13-190d697a537f.gif)

[2022-04-09 10:42] aparna-bhatt commented on #21745
If I add bottom_whitespace_height to the recent-topics table then it is working fine in full window size but when the window size reduces the filter and participated option in recent_topics_filter_buttons comes in the next line which reduces the space at the bottom.
Any suggestions to resolve this?

[2022-04-09 10:43] Arch0125 commented on #21680
While working on this I found another bug. We do not have Phone number validator in the User profile:
![image](https://user-images.githubusercontent.com/72722967/162568527-314349d3-8021-46da-8fa0-eb0926496cb3.png)

Also, the field should have a fixed input size based on international standards

[2022-04-09 11:05] supriya-045 commented on #19465
@zulipbot claim

[2022-04-09 11:06] supriya-045 commented on #19465
@zulipbot claim

[2022-04-09 14:57] Ginohmk commented on #20600
Yes I have updated it

[2022-04-09 22:10] mercyikpe commented on #19770
@iampranavdhar I'll like to help out with this issue.

[2022-04-10 00:55] terpimost opened #21750 "UI redesign: Grey background of the sidebar"
As part of Zulip UI redesign we want to try to make a solid background color for left and possibly right sidebar. In future that would be just a background of the app, but for now we might need to start with making side bars not transparent and with a particular color.

Background color for light theme `background: hsla(0, 0%, 94%, 1)` and for the dark theme:`hsla(0, 0%, 11%, 1)`

![light](https:/

[2022-04-10 01:24] terpimost opened #21751 "UI redesign: Change mute icon from bell to speaker"
As part of preparation to UI redesign we want to replace mute icon inside a topic title from bell to speaker.
![image](https://user-images.githubusercontent.com/1903309/162597126-24ac4657-a95a-4c57-8efd-80097d75b416.png)

SVG Icon file: [mute.svg](https://user-images.githubusercontent.com/1903309/162597086-31e86875-8289-4227-b13a-7865e4758786.svg)
Info about the icon: _Material [icon volume (round

[2022-04-10 02:16] sayamsamal commented on #21751
@zulipbot claim

[2022-04-10 02:41] terpimost opened #21752 "UI redesign: change font & color of timestamp in a message"
As part of UI redesign we want to update the style of timestamp of the message:
![image](https://user-images.githubusercontent.com/1903309/162598861-8bc62ef3-4511-46ce-ac30-25a17f0b8784.png)
The font is. used is same that Zulip is using right now in the body: `font-family: "Source Sans 3",sans-serif;` (no need to redefine the font-family). The main difference is the new color and small caps featur

[2022-04-10 04:18] sayamsamal commented on #21750
@zulipbot claim

[2022-04-10 04:19] sayamsamal commented on #21751
[Link to CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20mute.20icon.20from.20bell.20to.20speaker.20.2321751)

[2022-04-10 04:28] terpimost opened #21753 "UI redesign: tooltip style and hotkey representation"
As part of UI redesign we want to update:
1. The tooltip style (padding, arrow size, text style, background color)
2. Style of the hot key representation inside the tooltip
3. Hot key content across the whole Zulip app to show actual keys to press.
For example `Shift` `I` instead of `I`. Fo example `Shift` `;` instead of just `:`

These 3 items could be 3 issues. @alya please advise here.

![image

[2022-04-10 05:10] sayamsamal commented on #21753
@zulipbot claim

[2022-04-10 05:18] sayamsamal commented on #21753
Claiming this issue as I really like the design changes by @terpimost to the tooltip and hotkeys, I would love to implement them.

I'll wait to work on this issue till @alya structures it's implementation further.

[2022-04-10 07:00] supriya-045 commented on #21752
@zulipbot claim

[2022-04-10 07:35] sayamsamal commented on #21750
[CZO Discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20Grey.20background.20of.20the.20sidebar.20.2321750)

[2022-04-10 08:42] ayazhan8 commented on #21410
@zulipbot still working on it

[2022-04-10 13:18] RalfJung commented on #10886
This is a problem I ran into quite often the last weeks. :) So indeed it'd be great to find some solution here. Only marking messages as read in the per-topic view sounds good to me, but will probably be surprising to some people.

[2022-04-10 13:55] asah commented on #20047
@zulipbot claim

[CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/flag.20message.20feature.20.28.2320047.29)

[2022-04-10 20:47] Kevinland123 commented on #21274
@zulipbot claim

[2022-04-11 06:24] bmalynovytch commented on #10970
Hi !
@alya, any news on the progression ?
Thx !

[2022-04-11 08:47] dransome commented on #16160
I try to avoid just writing a meaningless +1 reply here, but the use case described by @jamesmunns and @munircontractor is exactly what brought me here.

We have considerate people on our team who try not to disturb about non-urgent things after hours, but a way to configure "silent mentions" to give:
* email and/or app alerts
* UI indicator (to draw attention to those threads ahead of others when

[2022-04-11 09:11] yogesh-sirsat commented on #21634
work in progress.

[2022-04-11 09:11] yogesh-sirsat commented on #21634
@zulipbot work in progress.

[2022-04-11 10:36] AnishaSingh0118 commented on #21711
@zulipbot claim

[2022-04-11 12:37] sejesnet commented on #21628
@timabbott may be you help, cut from log i placed above

[2022-04-11 15:40] ebecaf opened #21756 "How can I view the version of Zulip I'm using? #Question"
I looked around the UI and there wasn't anything.

It's fine if I need to use the CLI, just need to figure out where the current version number is stored.

Thank you

[2022-04-11 16:12] Fool-Arcana commented on #18286
I am still working on it.

[2022-04-11 17:11] ebecaf commented on #21756
Thank you for your reply, however it does not seem to be there, under settings I have:

-  Your account
-  Display settings
-  Notifications
-  Your bots
-  Alert words
-  Uploaded files
-  Muted topics

I am on https://mydomain/#settings/your-account

[2022-04-11 17:38] ro-i opened #21757 "Draft count briefly appears when sending a new message."
Hi :)

When sending a new message (i.e. pressing `Enter` after having composed a new message), the draft count briefly appears (or increments when it already had been present before).
The issue can be reproduced on `dev`.

Discussion: https://chat.zulip.org/#narrow/stream/9-issues/topic/draft.20count.20appears.20briefly.20when.20sending.20a.20message

Thanks a lot for looking into this! :heart:

[2022-04-11 18:40] mateuszmandera opened #21758 "SCIM lookup by userName (Zulip email) should be case insensitive"
In our SCIM implementation, User lookup via the `filter` syntax is case-sensitive - meaning a query such as `GET /scim/v2/Users?filter=userName eq X@example.com` won't return any Users even if there's a Zulip user with email `x@example.com` due to capitalization not matching. We want this lookup to be case-insensitive, and that's also what the SCIM spec dictates (`userName` is case-insensitive per

[2022-04-11 19:45] JRowe47 opened #21761 "Installation instructions... hosed."
https://zulip.readthedocs.io/en/stable/production/install.html

I, for one, do not wish to hose myself. 🤣

In the install instructions, the self-hosting link text says "self-hosing" on line 7 or 8.
 [self-hosing overview](https://zulip.com/self-hosting/)
should change to
 [self-hosting overview](https://zulip.com/self-hosting/)

[2022-04-11 20:33] nawed2611 commented on #20583
Yes

[2022-04-11 21:26] alya commented on #21756
Thanks @ebecaf , @sayamsamal !

We should document this in the help center; I submitted a PR (linked above).

[2022-04-11 22:18] alexmv commented on #21648
Ah, OK.  It's interesting that it effectively ignores `authenticator = standalone` -- the far side just says "challenge valid" which causes certbot to skip the authenticator.

I think the fix for you is to change `authenticator = standalone` to `authenticator = webroot`.  The `fix-standalone-certbot` script exists because for a period of time we erroneously created new installs with `standalone`,

[2022-04-11 22:28] alya opened #21766 "Message recipient should be able to hide/unhide link previews"
To reduce potential annoyance from link previews, it would be helpful for message recipients to be able to hide the preview on any given message.

Specifically, we can add a "Hide link previews" / "Unhide link preview" option to the message three-dot menu when the message includes one or more link previews. Toggling this option would hide/unhide all previews for the message.

Related issues: #1177

[2022-04-11 22:34] alya opened #21767 "Add display setting for hiding/unhiding link previews by default"
Some users generally want link previews, while others generally prefer not to see them. We should therefore make it possible to control this as a display setting.

- Setting location: Settings > Display settings > Advanced (we can play with precisely where in that section)
- Setting: "Show link previews" (checkbox)
- Default: yes

This setting should be included in  **Default user settings** as we

[2022-04-11 22:58] alya commented on #21738
Thanks for the report @RalfJung !

We agree that fixing this is an important priority, and are tracking this more generally under #21505.

[2022-04-12 05:26] alya opened #21769 "Remove extraneous pointer cursors on text in settings"
We have a number of places in the settings where we show a pointer cursor on text, even though nothing happens when the user clicks the text. Examples include:

- Several labels and headings in the stream creation menu.
- "Notification sound" and "Unread count badge" labels in Settings > Notifications.

We should do a comprehensive audit of all such places in the settings menus, and make the curso

[2022-04-12 06:07] alya commented on #21753
Great, thanks for taking it up @sayamsamal !

I think (1) could be addressed separately, but I'd like (2) and (3) to be handled together. If you are excited to work on all of these changes, I'm happy to keep this as a single issue. It can be solved in one PR with multiple commits.

[2022-04-12 06:10] alya commented on #21753
We will also need to adjust the hotkeys documentation to match the tooltips.

1. In the `?` help menu, we already use the approach in (3). We should double-check, but I think all we need to do is remove the `+`'s between keys.
2. The documentation in https://zulip.com/help/keyboard-shortcuts will need to be adjusted according to (3).

[2022-04-12 07:47] Pattygeek commented on #21724
@zulipbot claim

[2022-04-12 09:38] yogesh-sirsat commented on #21271
@zulipbot claim

[2022-04-12 15:19] medhatiwari commented on #21767
@zulipbot claim

[2022-04-12 19:44] alya commented on #21680
Good find! Can you check if we have an issue for this, and file one if not?

[2022-04-12 19:48] alya commented on #21680
Hmm, I'm not sure that expansion will look good. I would be more inclined to try the following:

1. Add a tooltip that shows the full URL
2. Add a "copy" button to the right of the URL (it can use the same "copy" icon as in the Settings > Bots tab).
3. Use all the available space (leaving room for that icon, of course) -- in the screen capture above, it looks like there's quite a bit of extra spac

[2022-04-12 19:56] alya commented on #21745
@aparna-bhatt I'm not sure I understand the issue. The current UI looks fine to me. How would you expect it to work?

[2022-04-12 20:08] aparna-bhatt commented on #21745
I think I was not able to explain properly.
I was thinking like in streams section there is a space at the bottom after the last message
![Screenshot from 2022-04-13 01-32-11](https://user-images.githubusercontent.com/86338542/163044804-3478ff89-50fd-421c-ad00-95cdced21cea.png)
This help the user to see the last recent message even when typing in compose box.
I think this should also be implemente

[2022-04-12 20:40] alexmv commented on #21648
For letsencrypt, it's in `/etc/letsencrypt/renewal/*.conf` -- I don't know if they're in the same place for your configuration.  You can probably find the files via:
[code]

[2022-04-12 21:56] alya commented on #21745
Hmm, there is no such space when the screen is full of messages, and I don't think there's a change we want to make on Recent topics either. Thanks for the suggestion!

[2022-04-12 23:05] alya opened #21776 "Replace footer on registration/login pages for self-hosted servers"
On registration and login pages on self-hosted Zulip servers, it is not helpful and confusing to show the full navigation footer for the Zulip website. Instead, we should show a minimal footer containing just:

- Powered by [Zulip](https://zulip.com/).
- Help center (local /help link)
- Policies (local /policies link)

Please post screenshots of the proposed layout for discussion in the [CZO threa

[2022-04-12 23:31] evykassirer commented on #21216
still working on it :)

[2022-04-12 23:32] andersk commented on #18286
Closing as WONTFIX after discussion with Tim and Alya. We don’t want to manually add lots of HTML tags to our Markdown; whatever convenience might be gained is, at the very least, not worth the cost of this clutter. Also, `target="_blank"` can lead to tabnabbing vulnerabilities if it isn’t used carefully (`rel="noopener"`, which adds even more clutter). This issue seems to have turned into a trap