[2016-06-10 19:02] timabbott commented on #990
@pito2901 we don't yet support Ubuntu Xenial, but I'd actually love to start moving towards supporting it; would you be up for submitting a PR at least fixing that piece of Xenial support?

I expect you'll also find problems with Python version mismatches that will prevent Zulip from working correctly until #717 is completed (or we add some things to the Zulip PPA for Xenial); I'm happy to collabo

[2016-06-10 19:04] timabbott opened #1007 "Figure out why our coverage reports show low coverage for models.py"
As part of #732, I was looking at the coverage reports for models.py, and apparently our coverage system shows all the models definitions as uncovered, which I don't think really makes sense.  We should investigate what we need to do to make the coverage reporting reasonably accurate for models.py.

[2016-06-10 19:05] timabbott commented on #732
Just a quick update on this, I opened sub-issues for the main individual areas that are most important for the product and thus are the highest priorities for adding more test coverage.

[2016-06-10 19:10] timabbott commented on #987
OK, with Ubuntu 14.04 you're likely using LXC.  I think you may be running into this problem: https://github.com/zulip/zulip/blob/master/README.dev.md#permissions-errors-when-running-the-test-suite-in-lxc

[2016-06-10 21:48] hackerkid commented on #1005
@timabbott Actually we are not using the update_stream_backend for adding and removing the default streams. They are handled directly in urls.py.
[code]
I kept adding and deleting part in update_stream_backend because it was present in the prototype which you send me https://github.com/timabbott/zulip/commit/547b35499c61cf01491aa7c465f642c6376ec517 . I have send a pr for cleaning up.

[2016-06-10 23:03] timabbott commented on #996
Cool, thanks for working on this @akashnimare!  A few thoughts:
* I'm not sold on the color red for Google signup buttons (I feel like red buttons should only be used for things one should be careful about pressing).
* The spacing looks a lot better in the login version than the register version; we should go with the login style one.
* We'll probably also want to change the copy on the page (e.g.

[2016-06-10 23:36] timabbott opened #1009 "Add a way for a user to deactivate their own account"
Currently, a user has to ask a realm administrator if they want to deactivate their account, which doesn't seem ideal.

This probably belongs as a button on the settings page.

[2016-06-10 23:40] timabbott commented on #981
Cool, that's helpful!  We're using jquery-filedrop for the file upload support which is checked in at static/third/jquery-filedrop/jquery.filedrop.js; we should look at whether this is a bug fixed in more recent versions of the plugin...

[2016-06-11 00:01] timabbott commented on #1005
Awesome, thanks @hackerkid!

[2016-06-11 00:17] timabbott commented on #712
@umairwaheed it looks like the `npm install -f npm` part of provisioning still takes a lot of time inside Travis CI (it's not cached because `npm` itself is installed in /usr/local/bin, which is not part of what we cache).  I think we can't fix this by

[2016-06-11 01:48] #964 closed

[2016-06-11 01:50] timabbott commented on #964
I just merged a fix for this; so @brainwane I think we now have everything working happily with our fun readme-symlink.md hack :).

[2016-06-11 03:05] staranjeet commented on #987
I ran `id <myusername>` and got uid and gid as 1001. Is this causing the error?

[2016-06-11 04:17] rwbarton commented on #983
For now you can try my WIP branch at https://github.com/rwbarton/mypy/tree/rwbarton-ignore. Run mypy with `--warn-unused-ignores`.

[2016-06-11 13:08] staranjeet commented on #987
As of now I solved it by doing a fresh install, which was pending from a long time.

[2016-06-11 13:08] #987 closed

[2016-06-11 15:19] sharmaeklavya2 opened #1011 "Unicode emoji not rendering correctly"
Zulip doesn't render emoji unicode characters well. Is this intentional?

Here is a screenshot:
![image](https://cloud.githubusercontent.com/assets/3839472/15985747/14634f52-3015-11e6-81f3-2686db34bd7d.png)

In this screenshot, the row of emoji above are the ones I sent myself from my mobile, and the row of emoji below are the ones I sent from my laptop using codes like `:smiley:` and `:joy:`.

Gi

[2016-06-11 16:03] timabbott commented on #1011
Not intentional.  Our emoji implementation does have the unicode code point mapping needed to do this; see tools/setup/emoji_dump/emoji_map.json (and emoji_dump.py, the tool that generates our emoji layout in the same directory).

If someone wants to work on this, I think roughly what one one need to do in the backend Markdown parser (zerver/lib/bugdown, see http://zulip.readthedocs.io/en/latest/m

[2016-06-11 16:06] timabbott commented on #987
To answer your question, yes, the issue was that in your host machine, you had UID 1001, but in the guest you had UID 1000, and so code inside your guest didn't have permission to write to your zulip directory that was only writeable by UID 1001.  The workaround discussed in the documentation of making your zulip directory writeable by both UIDs 1000 and 1001 would have solved your problem as well

[2016-06-11 16:48] timabbott commented on #983
Cool, yeah, that should definitely work for our short-term needs.

As a sidenote, how is your --linecoverage-report option progressing in mypy upstream?  It'd be nice to be able to track mypy master again...

[2016-06-11 17:43] krtkmj opened #1012 "Clicking on desktop notification doesn't narrows properly."
Whenever user has kept open Subscription page.
If one desktop notification pops up, clicking on it is supposed to narrow to perspective stream and/or topic. But, still subscription page is visible in front.

Another way. Open any stream say "Denmark". Click on stream settings gear to open up subscription page. You might still see "stream:Denmark" in search box at top of page. Now, clicking on sear

[2016-06-11 18:27] #930 closed

[2016-06-11 18:29] timabbott commented on #1012
Yeah, it'd be great to fix this.

[2016-06-11 21:14] ifo commented on #963
I haven't read much of the Zulip documentation yet, so I'm not entirely sure where this would go, but I'm happy to share my notes for what I did to get this working.

Essentially, you have to send two pieces of information to the register endpoint (`https://api.zulip.com/v1/register`):
- `event_types # type: List[str], e.g. ["message"]`
- `narrow # type: List[List[str]], e.g. [["is, "mentioned"]]`

[2016-06-12 13:13] Jianchun1 opened #1014 "emoji unable to be previewed and displayed in translated UI"
The emoji is unable to be previewed and displayed in the translated UI, the screenshot:
![image](https://cloud.githubusercontent.com/assets/19701659/15991313/0210d612-30e2-11e6-9012-c18064d9ba33.png)

When inputting emoji, the console can get a series of "Not Found" errors:
[code]

[2016-06-12 13:36] sharmaeklavya2 commented on #995
Fixed in #998.

[2016-06-12 13:36] #995 closed

[2016-06-12 13:50] Jianchun1 opened #1016 "Sign into zulip failed at the first time using local sso"
I setup a Zulip production server using local sso authentication for my team. Whenever a new user Sign into zulip at the first time, he is redirected to a error page saying "Zulip isn't feeling too good" until refreshing the page. And this will not happen for subsequent login.

The issue has been there for some time (from v1.3.10 for me). I can only describe it here, and have no more debuging info

[2016-06-12 16:39] timabbott commented on #1016
There should be a traceback indicating the problem in /var/log/zulip/error.log that appears when users login the first time; can you post the traceback?

[2016-06-12 16:39] timabbott commented on #1014
Hmm, yeah, this makes sense; we should be excluding the emoji from i18n-related URL rewriting.  @umairwaheed can you take a look?

[2016-06-12 16:52] timabbott commented on #548
@mjec is https://github.com/mjec/zulip/commit/6ed1489b2c5c102255ba7664206fe77d2d0e0672 something you were planning to merge?  @goelakash points out that it seems you've done a reasonable implementation of a fix for this issue...

[2016-06-13 01:37] timabbott opened #1019 "Redesign implementation of topic muting to scale well"
Zulip's topic muting implementation was built originally as an experiment, with the idea of confirming whether the feature would be useful, but without much attention to scalable performance (we basically just store a list of (stream, topic) pairs in a JSON field).  As a result, while it works, operations involving muted topics have performance which is linear in the number of muted topics; over t

[2016-06-13 05:53] umairwaheed commented on #1014
sure

[2016-06-13 10:57] umairwaheed commented on #981
Looking at this.

[2016-06-13 12:08] pito2901 commented on #990
Oh ok, thanks man !

[2016-06-13 16:06] #969 closed

[2016-06-13 16:08] timabbott commented on #969
Great, thanks @umairwaheed for fixing this, and @Jianchun1 for reporting it!  I pushed the new strings to Transifex, so there are now 22 more strings available for translation.

[2016-06-13 16:13] #1014 closed

[2016-06-13 16:15] staranjeet commented on #987
@timabbott : I want to contribute on this project, can you point me towards any easy beginner level bug?

[2016-06-13 16:19] timabbott commented on #311
This was fixed with the virtualenv caching work merged several weeks ago.  Thanks @codepython for the report!

[2016-06-13 16:19] #311 closed

[2016-06-13 16:44] staranjeet commented on #922
I can work on this.

[2016-06-13 16:47] timabbott commented on #984
I think a good implementation for this would be:
* First, a commit adding the new field, including a database migration (see ), and storing which user added the emoji when they are created.
* Second, a commit causing the creator data to be included in the `RealmEmoji.get_emoji` data set, and
* Third, a commit displaying which user added the emoji in the emoji template in static/templates/admin_emo

[2016-06-13 16:48] timabbott commented on #987
@staranjeet awesome!  I think https://github.com/zulip/zulip/issues/984, and once you've done that, then
https://github.com/zulip/zulip/issues/978 would be a good set of beginner projects.  The feature being discussed in both cases is the "upload custom emoji" feature on the "Administration" tab from the gear menu.

Feel free to post any questions on the issue you're working on!

[2016-06-13 16:48] timabbott commented on #922
Cool, sounds good!

[2016-06-13 17:17] staranjeet commented on #922
Possible alternates:
* shift zulip to home directory and symlink to /srv/zulip
* let the code remain in /srv/zulip and symlink zulip folder in home directory
* mode zulip to home directory and replace /srv/zulip everywhere.

What should I opt?

[2016-06-13 17:51] mjec commented on #548
@timabbott I have opened a PR #1027 with this change

[2016-06-13 18:00] timabbott opened #1028 "Link to some sort of documentation on writing good bug reports in our report issue page."
This document is OK but I bet we could find something better:

http://fantasai.inkedblade.net/style/talks/filing-good-bugs/

I think the hard part for this is finding the write document.

[2016-06-13 22:58] #548 closed

[2016-06-13 22:58] timabbott commented on #548
Cool, I merged this.  Thanks @mjec!

[2016-06-14 02:07] timabbott commented on #922
Let's go with option 2: leaving the code as-in and making a zulip -> /srv/zulip symlink in the home directory.  I think you probably want to use something like `ln -nsf` to create the symlink.

[2016-06-14 16:06] dracwyrm opened #1032 "Fix port number used in Docker container development environment."
I follow the readme part exactly, copying and pasting these lines (replacing the container id with a real one):
[code]

The docker starts up with this:
[code]

However, when I go to http://localhost:9991/ I get "This site can’t be reached" and tells me to check my settings. I do have other Docker containers that I can access through the web, so I know Docker is set up right.

I don't want to insta

[2016-06-14 17:41] dracwyrm commented on #1032
@timabbott Thanks for your prompt reply.

I used port 80 and it worked. Sorry. I was just rather confusing as all the other methods of installation say port 9991, and then right below the Docker section is the section on "Using the Development Environment" with the fist line being: Once the development environment is running, you can visit http://localhost:9991/ in your browser.

Is it possible to

[2016-06-14 19:04] timabbott commented on #1032
Yeah, I agree.  Probably the simplest solution is to change the Docker environment to use port 9991; can you try changing the `80` to `9991` in the command to see if that suffices?

[2016-06-14 21:05] timabbott opened #1033 "Remove use of $.browser in Zulip frontend"
`$.browser` is deprecated in jQuery 1.9 (https://jquery.com/upgrade-guide/1.9/#jquery-browser-removed), and is primarily used in the notifications code (but has a few other applications); we should find a good solution for the stuff under static/js (the right solution for jquery-caret is probably to upgrade jquery-caret).
[code]
The jQuery docs recommend https://modernizr.com/ as an alternative, m

[2016-06-14 22:14] timabbott opened #1034 "Remove use of $().data("events") from codebase to enable jQuery 1.8 upgrade"
This is an old jQuery feature that was deprecated in jQuery 1.8 (see https://blog.jquery.com/2012/08/09/jquery-1-8-released/).  We use it to disable event handlers in the Zulip tutorial.  I believe this is the only remaining obstruction to upgrading Zulip to jQuery 1.8.

I think it might just work to use the new interface documented in the jQuery 1.8 release notes.

[2016-06-14 22:33] #981 closed

[2016-06-14 22:58] timabbott opened #1035 "Make `scripts/setup/generate-secrets -d` use existing setting values"
Currently, `generate-secrets -d` regenerates all the secret keys each time it is run, modifying zproject/settings.py, which means that if you use the same Zulip checkout for both a development VM on the host and a Vagrant guest, every time you provision on the Vagrant guest, you need to rebuild the database (to match the new keys).  I think this would also affect someone using both Docker and Vagr

[2016-06-14 23:00] timabbott commented on #1035
I think this would be pretty reasonable to do while still preserving the fact that it'll automatically add new settings by just checking whether `OUTPUT_SETTINGS_FILENAME` already exists, and if it does, parse the file and use the existing values if already present.

This would also have the nice side effect of making `scripts/setup/generate-settings` no longer dangerous to run on an already setup

[2016-06-15 00:38] timabbott opened #1036 "Get websockets working in development"
Currently, Zulip uses websockets primarily for the message sending codepath.  We use the sockjs library, which transparently falls back to XHR in the event that websockets aren't supported by a server it's interacting with (and the tools/run-dev.py development proxy server doesn't support websockets).  The result is some ugly errors in the javascript console in development, and also means we don't

[2016-06-15 07:21] dracwyrm commented on #1032
@timabbott Change 80 to 9991 did work:
[code]
This now matches up with the rest of the readme and also frees port 80 for the host system.

Thanks for your time on this.

Jon

[2016-06-15 13:57] Jianchun1 commented on #1016
@timabbott I checked "server.log" and "error.log", but can't find any helpful information. Maybe I missed something. However, I found a way to reproduce this problem in my production environment:
1. Log in Zulip with local sso;
2. Select "Setting" menu, and click "Log out", then redirect to "login" page:
`https://192.168.1.3/accounts/login/`
3. Click button "Sign in with SSO", then the error page

[2016-06-15 16:33] #712 closed

[2016-06-15 17:44] sharmaeklavya2 commented on #991
I think stubs can strengthen type checking a lot. All the `.objects.get(...)` expressions currently return `Any`.

[2016-06-15 18:59] timabbott opened #1041 "Document our Python line-wrapping style rules (and maybe add some lint checks)"
I was surprised to discover that we don't actually have clear documentation in http://zulip.readthedocs.io/en/latest/code-style.html on the topic of when code should be line-wrapped.  The current policy for Python code is approximately:
- Wrap at ~80 characters, but you can go up to ~100 if it makes the code read clearer (this diverges from PEP-8)
- Don't go over ~100 characters regardless.
- When

[2016-06-15 19:00] timabbott commented on #991
Yeah.  I think we also will need to make `cache_with_key` have a real type annotation, since most of our model objects are actually fetched via cache_with_key, not a direct Django ORM query.

[2016-06-15 19:59] brainwane commented on #33
I spoke with someone from Red Hat at the PyCon sprints; he mentioned that Red Hat is currently using Mattermost and that its GitLab integration is a feature that they particularly like/need in a group chat client.

[2016-06-15 20:03] brainwane opened #1042 "Support logging in with a GitHub account"
Can we make it easy for people to log in to Zulip installations with their GitHub credentials? (I presume this would require some kind of OAuth magic or similar, and that administrators would need the ability to turn off or on the "login with your GitHub account" feature.)

[2016-06-15 20:29] timabbott commented on #1042
Probably!  I think this would be a great feature for projects that are primarily open source projects on GitHub.  The Google auth backend isn't a lot of code, so I'd expect this to be pretty easy to add.

[2016-06-15 21:18] timabbott commented on #33
Yeah, this is definitely our most popular missing integration.

[2016-06-15 21:30] timabbott commented on #1003
This was fixed with #1031.

[2016-06-15 21:30] #1003 closed

[2016-06-15 21:30] timabbott commented on #999
Updated this to cross out the issues fixed in #1031
.

[2016-06-15 23:05] timabbott opened #1045 "Zulip queue workers don't restart when underlying code changes in development"
The Zulip queue workers are the only remaining part of the Zulip development environment that you have to kill and restart run-dev.py for changes to; it seems worth fixing this.

The process probably involves adding a listener similar to those used by django's runserver.py to tools/run-dev-queue-processors.

[2016-06-15 23:42] #1032 closed

[2016-06-15 23:42] timabbott commented on #1032
Fix merged, thanks @dracwyrm for the report!

[2016-06-15 23:50] timabbott opened #1046 "Add text to registration flow to document where emails go in development"
It'd be really cool to add a bit of text to the Zulip registration pages that shows up only if settings.DEVELOPMENT that explains e.g. "(In a Zulip development environment, outgoing emails are printed to the run-dev.py console)"

I think this basically just involves some changes to the templates plus possibly adding settings.DEVELOPMENT to the context for the registration page template.

[2016-06-15 23:52] timabbott commented on #1046
@hackerkid FYI I thought of this while looking at #902 and we'd probably want this feature in the realm creation flow as well.

[2016-06-16 06:02] timabbott commented on #1016
Can you see if there's anything in the Apache error logs?

[2016-06-16 07:16] dracwyrm commented on #1032
Thanks @timabbott for the quick fix. :)

[2016-06-16 07:57] jdherg opened #1050 "Update docs README"
The docs readme includes "These docs are written in rST" and has instructions "To generate HTML docs locally from rST" . The docs are actually in rST and Markdown, now. (I haven't looked into whether/how that changes the HTML generation process.)

[2016-06-16 08:29] jdherg opened #1051 "Add issue labels based on topics/parts of the Zulip codebase."
(Feel free to WONTFIX this -- late night thought.)

It might be interesting to have issue labels that indicate which parts of the codebase need to be touched and/or what kinds of topics are involved in fixing each issue, in order to give folks additional ways to look for issues they want to try to tackle.

For example, #1042 might include `authentication`/`server` labels or #1011 might include `em

[2016-06-16 13:56] Jianchun1 commented on #1016
when error occurred, these log files had been updated:
[code]
[code]

[2016-06-16 13:59] Jianchun1 commented on #1016
P.s. I have changed the apache log level to "debug"

[2016-06-16 16:01] timabbott commented on #1051
I recently encountered the Coala project's label system (https://github.com/coala-analyzer/coala/labels), which has an interesting combination of tagging difficulty and area for each issue.  Does that seem in line with what you had in mind?

[2016-06-16 16:19] timabbott commented on #1050
The generation process is the same, but yeah, almost everything is in `md` because it's easier to write, and it turns out the main limiting factor on writing enough documentation is activation energy for writing it :).

I'll fix this.

[2016-06-16 16:41] timabbott commented on #1050
Opened https://github.com/zulip/zulip/pull/1054, do you want to give it a quick read?  Note that the instructions assume you've provisioned since I merged #808 just now.

[2016-06-16 22:55] timabbott commented on #341
Thinking about this more, I think the best approach is probably actually to make a nice section in the "realm setting" page indicating which stream is the notifications stream, and supporting allowing the user to change that stream (or disable the feature entirely?).

[2016-06-16 23:02] timabbott commented on #1016
hmm, nothing interesting there either.  I'll have to setup a test system for this to see if I can debug; it sounds like it's at least easy to reproduce...

[2016-06-16 23:25] timabbott commented on #292
Thinking about this problem more, I think there are some interesting alternative designs that could solve a large part of this problem.  E.g. currently when click on something to narrow, we land the user on the first unread message.  We could instead choose to land the user on the last unread message, so that unread counts wouldn't change when you click on things unless the bottom of the screen is

[2016-06-17 06:37] jdherg commented on #1051
Yep! It might be interesting to check in with the Coala folks to see if they feel it's been helpful -- I imagine that coming up with a taxonomy and keeping new issues up to date is non-trivial.

[2016-06-17 06:42] jdherg opened #1055 "Improve performance of regular-expression based "custom" linters"
This issue is for improving the performance of the "custom" linters, which currently use a bunch of custom regular expressions to check the Zulip codebase for issues.

Original report below:
#1049 mentions the need for performance work on the linting process. One approach could be to lint incrementally -- a reasonable first pass might be an option to run some of the linting steps only on those fil

[2016-06-17 06:50] jdherg commented on #1051
Labels might also be useful for breaking some of the larger initiatives into smaller pieces or dependencies. (Issues labeled `project/python3migration` as new complications arise, for example.)

It's possible this is a solution in search of a problem, though :)

[2016-06-17 08:11] rachkoud commented on #349
@melbel Thanks! That was the issue, I forgot to add

[code]

Your configuration is working. Testing from the command line is very useful :

[code]

[2016-06-17 12:24] sharmaeklavya2 opened #1057 "Add more non-ASCII text in automated tests"
I grepped for non-ASCII characters in backend tests. Some test files have many of them but most don't. I also manually checked zerver/tests/tests.py. I could only find one non-ASCII character being used (which is ☃).

It is important that we use non-ASCII characters in our tests so that we can be sure that we are handling strings correctly.

Maybe we should also add some non-ASCII streams, users,

[2016-06-17 14:00] kkampardi commented on #1042
Hi, is there any unassigned progress on this issue, cause i want to dive in :)

[2016-06-17 14:21] timabbott commented on #1042
No progress yet!

-Tim Abbott (mobile)

[2016-06-17 16:40] timabbott commented on #1057
Yeah, this is a good idea; since the tests share users with the development server default data, this is also an opportunity to improve that as well.  I think it'd be reasonable to:
* change the name of some of our default streams to include non-ascii characters
* add or replace one or two of our default users with a character with a non-ascii name (I'm not sure non-ascii are actually allowed in e

[2016-06-17 16:45] timabbott commented on #1055
We actually already have that! :)
[code]

We also already run our linters in parallel.  Doing a bit of profiling with `time ./tools/lint-all -m --verbose`, it appears that >80% of the time when run incrementally is with just the templates linter running (which probably just doesn't support being run incrementally):
[code]

so it seems like that's worth adding incremental support to that linter wou

[2016-06-17 17:13] timabbott commented on #1055
Did a quick test of the caching theory using this:
[code]
and that didn't make it any faster, so I think we're already effectively doing regular expression compilation only once per expression due to Python's built-in regular expression cache.

[2016-06-17 17:30] timabbott commented on #1055
I merged 267a71cf2081553291bf18cc9ccda7d5ac7ce728 implementing the parallelization approach, which saved about a second, but still the Python regular expressions are the slowest part:
[code]

I did a bit of profiling with cProfile, and we are spending a significant amount of time running `line.strip()`, so I think there's more we can save by not doing that in the inner loop every time.

Additional

[2016-06-17 17:49] timabbott commented on #1055
I fixed the `line.strip()` issue, so we're now at:

[code]

but haven't figured out an efficient way to measure which regular expressions are potentially slow and should be improved.

[2016-06-17 18:30] #1050 closed

[2016-06-17 18:38] timabbott commented on #1057
A related thing I should mention while we're thinking about this is that I'd like to move the default test domain from zulip.com to example.com at some point, since I think it being zulip.com can be confusing.

[2016-06-17 18:49] #922 closed

[2016-06-17 19:12] timabbott commented on #1042
https://github.com/omab/python-social-auth might be useful.

[2016-06-17 19:15] timabbott commented on #1042
(An alternative approach is using an Oauth library)

[2016-06-17 19:16] timabbott commented on #1042
Anyway, definitely feel free to dive into this @kkampardi, and let me know if you need any help!

However we do this, we should include tests similar to those in zerver/tests/test_auth_backends.py.

[2016-06-17 20:44] #962 closed

[2016-06-18 00:20] timabbott commented on #878
I investigated this, and indeed, it is caused by `webpack` having some sort of lock that prevents running two copies of webpack on the same codebase.

I haven't figured out a way to work around this yet to actually fix the bug :(.

[2016-06-18 01:53] jdherg commented on #1055
Oops, I don't know how I missed that! Happy to close and move other linter perf discussion to another issue to maintain issue hygiene or to just rename this one and keep the discussion here :)

[2016-06-18 07:55] kkampardi commented on #1042
Hi @timabbott  thanx for the useful information, i was thinking about the "django-social-auth" too.
I will definitely need help since i am new in django. Will talk soon :)

[2016-06-18 08:56] staranjeet commented on #1042
Django allauth is a nice package. I can work on this if nobody does. Also i
have implemented the consumer side of ouath2 so i am pretty much aware of
the flow. I can assist @kkampardi also

[2016-06-18 12:44] sharmaeklavya2 commented on #184
We no longer need this because of https://github.com/zulip/zulip/issues/717.

[2016-06-18 13:01] timabbott commented on #184
Yep, we're going the other way for solving this incompatibility (and have caching that makes this less problematic for incremental updates).  Closing this, thanks @sharmaeklavya2!

[2016-06-18 13:01] #184 closed

[2016-06-18 13:20] sharmaeklavya2 opened #1060 "Refactor requirements.txt into multiple files"
I recently found out that we can include other requirements files from a requirements file. Something like this:

`file1.txt`:
[code]

`file2.txt`:
[code]

The path of the child file is relative to the directory where the parent file resides. This means we can `pip install` from any directory.

We can use this to refactor our requirements into multiple files. We can have different requirements fil

[2016-06-18 13:27] sharmaeklavya2 commented on #1060
The package `pipdeptree` can help in finding out which packages are dependencies and which ones we directly need. We'll then be able to move packages to appropriate files.

I suggest that we make a directory named 'requirements' and put all our requirements files there.

[2016-06-18 14:57] timabbott commented on #1060
Yeah, that refactoring concept sounds great!

[2016-06-20 07:12] umairwaheed commented on #448
working on this.

[2016-06-20 09:04] kkampardi commented on #1042
Ok guys. I'll take my chances with django-social-auth.
@staranjeet  i'll let you know if things get tough

[2016-06-20 09:16] umairwaheed commented on #448
@timabbott do we still want to differentiate `zulip.com` domain or we want to set same policy for all users?

[2016-06-20 11:00] umairwaheed commented on #448
So it seems that there are two problems here:
1. Address book and autocomplete functionality are getting corrupted
2. We should be able to reply to the email.

I think the simplest solution to no. 1 is to not use the name of the user in the `From` header instead we can just use `Zulip <noreply@example.com>`, we already show the name of the person on whose behalf notification is being sent in the s

[2016-06-20 15:09] timabbott commented on #448
I think we want all users to have the same policy, which is closer to the existing `zulip.com` policy than to the old generic policy (the generic policy did not allow replying to the emails).  The backstory here is that the "zulip.com" policy was an experimental improved system that was being tested on just "zulip.com" (and then was forgotten for a while).  The main problem with the "zulip.com" po

[2016-06-20 15:37] #1035 closed

[2016-06-20 18:07] #1046 closed

[2016-06-20 18:34] #982 closed

[2016-06-20 18:34] timabbott commented on #982
The fix for this was merged just now; thanks @Jianchun1 for reporting and @umairwaheed for fixing!

[2016-06-20 18:41] timabbott opened #1066 "Add support for incremental checks in tools/check-templates"
As discussed in #1055, tools/check-templates is our only linter that consumes significant time when run we pass `tools/lint-all -m` (to run only on files that are modified); I think this is just because, unlike our other linters, we don't have a way to pass it list of files to check.

[2016-06-20 18:42] timabbott commented on #1055
Opened #1066 for the check-templates issue with the `-m` option.  I would love to have someone figure out how to make our regular expression linters faster (since I imagine we'll add a lot more over time), so I'm leaving this open as that specific part of the linter performance issue.

[2016-06-20 22:13] timabbott opened #1069 "Create mechanism for specifying packages to be installed in Vagrant guest"
E.g. it'd be great to be able to specify one wants emacs installed and have that happen automatically when the user does a `vagrant provision`.

See
https://groups.google.com/d/msgid/zulip-devel/9cc53d9b-7b33-487a-96d3-79156637befe%40googlegroups.com?utm_medium=email&utm_source=footer for some discussion.

[2016-06-20 22:29] timabbott opened #1070 "Move/Copy advanced running tests docs to RTD testing docs"
Basically, we currently document how to run just a single test in README.md, but don't discuss it in docs/testing.md, causing some folks to miss those time-saving options.

See https://github.com/zulip/zulip/pull/1064#issuecomment-227288187 for more details.

[2016-06-20 22:30] timabbott opened #1071 "tools/test-backend --help should display how to run a single test"
This is complementary to #1070.

[2016-06-20 23:24] sharmaeklavya2 commented on #1060
Now we have split requirements.txt into multiple files in requirements/. However, we need to move development dependencies from requirements/common.txt to requirements/dev.txt.

[2016-06-20 23:30] timabbott commented on #1060
Yep.  Here are some things that can be easily moved:
* All the things tagged with `# Dependency of moto s3 mock` can move to dev.txt
* transifex-client and its dependencies can move to dev.txt
* ipython can at least be its own file (but we probably want it in prod)
* pyflakes isn't needed in production
I'll just do these in a quick branch, and we'll see where that leaves us.

[2016-06-20 23:46] timabbott commented on #1060
Opened #1074.

[2016-06-20 23:47] timabbott commented on #1060
We can copy the comments on why we need things from:
puppet/zulip/manifests/app_frontend_base.pp

[2016-06-21 00:34] timabbott opened #1075 ""Custom Alert Words" UI should say what alert words do and look more like other settings UI"
Alert words are a feature that lets you cause yourself to be treated as @-mentioned whenever certain words/phrases are used in the Zulip UI.  Currently the UI for controlling them looks like this:

![image](https://cloud.githubusercontent.com/assets/2746074/16214436/07fcbd08-370d-11e6-9d10-e9c85ffba15c.png)

Which (A) doesn't explain what they are at all and (B) doesn't look like our other list-of

[2016-06-21 00:36] timabbott opened #1076 "Create UI for setting default language in Zulip"
It'd be good to have UI in the "display settings" section of the /#settings to set what language the user wants the Zulip UI to be displayed in, so that they don't always have to use the `/de` style URLs).  It'd also be a lot more discoverable than the current setup, where you have to guess some magic URLs to use Zulip in your preferred language.

We can include on the /#settings page section for

[2016-06-21 00:37] timabbott commented on #1076
@umairwaheed do you want to take a look at this?  http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html should document much of what one needs to know to create a new user setting and have it be synced everywhere.

[2016-06-21 00:38] timabbott commented on #1076
Also, I think we will need this sort of setting in order to correctly make the Zulip outgoing emails (e.g. password reset emails) translated properly.

[2016-06-21 02:26] staranjeet commented on #1041
@timabbott I ran a pep8 test on the whole codebase and found out around 7K warnings, most of them are of E501(line too long). We should definitely add some checks, because this will help in maintaining a proper standard. I can even fix those warnings.

[2016-06-21 02:32] staranjeet commented on #1034
any example of where it is used in the codebase?

[2016-06-21 02:32] timabbott commented on #1041
I'm not excited about moving directly to PEP-8's line length rules, since I think in many cases they make the code harder to read by wrapping too much.  But it would be good to have a clear standard.

I would certainly be interested in a PR that implements the policy I described above in the `tools/lint-all` script (I guess this just means "nothing longer than 100 characters"), but I'd discourage

[2016-06-21 02:34] timabbott commented on #1034
Yeah, it's just used in one place, in the Zulip tutorial (to temporarily disable event handlers until the tutorial is complete):
[code]

[2016-06-21 02:35] alexandrinaw commented on #1007
Probably the same as [this stackoverflow post](http://stackoverflow.com/questions/24668174/how-to-test-coverage-properly-with-django-nose). If you generate coverage instead with:
[code]
you get:
![screenshot 2016-06-20 21 51 20](https://cloud.githubusercontent.com/assets/4393302/16215559/347c4ea6-3731-11e6-8a88-d924aad0c098.png)

[2016-06-21 02:52] staranjeet commented on #1060
@timabbott
__common.txt__ and __py3k.txt__ both have `six==1.9.0`. While running `pip install -r requirements/dev.txt`, it is causing `Double requirement` error. Ideally it should be only in the __common.txt__.

Also __mypy.txt__ has `six==1.10.0`.

Also if you are not working on that comments thing, let me know I will do it.

[2016-06-21 02:57] timabbott commented on #1060
You can claim the comments thing; I'm not working on it.

The `six` issue is interesting and problematic for this overall strategy.  `py3k.txt`, ideally should be installable independently of `dev.txt`, since it is used in `tools/travis/setup-py3k`...

[2016-06-21 02:59] timabbott commented on #1060
@sharmaeklavya2 any ideas for how to solve this problem?

[2016-06-21 02:59] sharmaeklavya2 commented on #1060
@staranjeet, your're getting that error because you're using an old version of pip. Doing `pip install --upgrade pip` will fix that.

[2016-06-21 03:02] timabbott commented on #1060
@sharmaeklavya2 do you know what the minimum version of `pip` required for this to work properly is?  We may need to update provision.py and our manual installation instructions to make sure a new enough `pip` is available.

[2016-06-21 03:05] sharmaeklavya2 commented on #1060
mypy will only be installed on python 3. Some dependencies in common.txt are not python 3 compatible, so I didn't expect pip to install dependencies from common.txt or dev.txt. Therefore there will currently be no problems with `six` having different versions in mypy.txt and in common.txt. We'll eventually have to make the `six` versions same someday.

[2016-06-21 03:07] sharmaeklavya2 commented on #1060
I don't know the minimum version of `pip` required to make this work. But provision.py currently runs `pip install --upgrade pip` before `pip install -r requirements/dev.txt`. We will need to update our manual install instructions though.

[2016-06-21 04:53] akashnimare commented on #1034
@timabbott I think replacing with this code will work.
[code]

[2016-06-21 06:05] umairwaheed commented on #982
NP!

[2016-06-21 06:08] umairwaheed commented on #1076
Yep, thanks.

[2016-06-21 06:11] umairwaheed commented on #1076
Infact, after working on translations for Zulip, I am not a big fan of i18n urls, they are a pain.

[2016-06-21 06:12] umairwaheed commented on #448
cool

[2016-06-21 08:24] umairwaheed opened #1081 "`vagrant provision` is failing on dev"
As of 8939dc1cdd9f0b71a3001d3bab93960261b694d2 `vagrant provision` is failing because it can't find the `hash_reqs.py` file. It seems that we are not accessing the file with absolute path.

CC: @timabbott

[2016-06-21 14:02] #1081 closed

[2016-06-21 15:00] timabbott commented on #1060
cool, that makes sense.

[2016-06-21 15:55] timabbott commented on #1034
Yeah, agreed, it seems like that should work.

[2016-06-21 16:45] sharmaeklavya2 commented on #717
@timabbott, I want to factor out code in provision.py for installing venvs into its own module. Where should that module reside? I would usually put tools like this in `tools/` but `tools/` is not included in production installs. Is `scripts/` a good choice? Or `scripts/lib/`?

[2016-06-21 16:49] hackerkid commented on #872
@timabbott Working on this. Please let me know if you have something specific in mind regarding the CSS.

[2016-06-21 17:05] timabbott commented on #717
Sounds great!  scripts/lib is the right place for those scripts.  The root of scripts/ is intended for things a user would run directly; scripts/lib for things a user wouldn't run directly.  The division between tools/ and scripts/ is that tools/ is not included in production release tarballs at all (mostly because they are not useful in production, but this separation is also nice in that it mean

[2016-06-21 17:06] timabbott commented on #872
For the CSS, I was just thinking something to make it look nice (the spacing between elements is kinda awkward above, for example).

[2016-06-21 17:37] #1007 closed

[2016-06-21 17:57] rishig opened #1084 "Flush memcached after database migrations in dev environment"
If a new developer runs `./manage.py migrate` and then doesn't flush the cache, they may get confusing errors. There are also not many situations where one would want to keep the current cache (in a dev environment) after a migration.

[2016-06-21 17:59] hackerkid commented on #872
@timabbott

If we remove the redundant welcome we get this

![screenshot from 2016-06-21 23 24 07](https://cloud.githubusercontent.com/assets/7190633/16240612/a69bef92-3807-11e6-8244-4a65eed84b25.png)

Keeping welcome and trying two different buttons

![screenshot from 2016-06-21 23 09 11](https://cloud.githubusercontent.com/assets/7190633/16240156/d39f3032-3805-11e6-81e0-83d4f59aa7e4.png)

![scre

[2016-06-21 18:00] ashishk1994 commented on #1005
@timabbott
I think , the case :"Creating more than one stream at once with announce=True ", is already there.
test_subs.py : line 802

[code]

And the issue, "Trying to create a stream that already exists" : This is already handled in this portion of code
streams.py : line 68

[code]
So only new streams are created which are present in rejects list.
As this code portion suggests, the `else' block

[2016-06-21 18:04] timabbott commented on #872
I think the first is definitely the best; I'd consider using the gray button style with the rest of the first one, though.

Also, I would probably add a bit more vertical space on either side of the buttons.

[2016-06-21 18:05] dracwyrm opened #1085 "Stream List (left hand side list of all streams) Organisation Ideas."
Hi,

I had a quick look through all the bug reports, so I hope I’m not repeating anything. I have a few things on my wish list for the stream list on the left hand side, and this only applies to that list of all streams and it's organisation.

The first is probably the easiest. I’d like to have muted streams moved to the bottom of the list below a line. A simple line like those on the right hand s

[2016-06-21 18:06] phansen01 commented on #1075
I made a mockup of a new input form to match the style of e.g. adding a bot. Aside from the spacing between the label and the input (think I made a typo in my new css classes), does this look alright?

![image](https://cloud.githubusercontent.com/assets/12517033/16240849/b2ed37b2-37b0-11e6-813b-91ec36a0857e.png)

Then once an alert is added similar UI to how bots are shown/edited/removed could be

[2016-06-21 18:20] hackerkid commented on #872
@timabbott What do you think about this? I have added the vertical space.

![screenshot from 2016-06-21 23 47 18](https://cloud.githubusercontent.com/assets/7190633/16241343/da2a556c-380a-11e6-81a8-8362d9b2d7dc.png)

[2016-06-21 18:24] timabbott commented on #872
Looks great!

[2016-06-21 18:26] timabbott commented on #1075
yep, that plan sounds great!

[2016-06-21 18:28] timabbott commented on #1085
Cool, haven't had a chance to read the whole thing yet, but I wanted to mention that the idea of streams to be at the top of the list is in progress in #819, and should be ready soon.

[2016-06-21 18:34] timabbott commented on #1084
This would be a great improvement -- would save a lot of confusion for new developers working on migrations.

[2016-06-21 18:44] timabbott commented on #1005
Ahh, for "Trying to create a stream that already exists", I think you're right, that line is only present to handle unlikely race conditions (where the stream was created by another process at the same time).  I don't think we need a test for that; we can resolve it by adding a comment explaining that the line is there to handle races (since this isn't clear).  I'll take care of doing that.  Thank

[2016-06-21 18:50] ashishk1994 commented on #1005
@timabbott
Thanks for your feedback.
Sorry as I got confused on "Creating more than one stream at once with announce=True " case.
I shall try to include that part in tests to cover that portion of code.

[2016-06-21 19:12] timabbott opened #1088 "Make `generate-fixtures` also check zerver/management/commands/populate_db.py hash"
Currently, `generate-fixtures` (run at the start of `test-backend`) can correctly check whether any database schema changes have occurred, and if so apply migrations to the test database before the running the tests.  We should add a check for whether populate_db.py has changed since the last time `generate-fixtures` has run as well, so that manual work isn't required when we modify populate_db.

[2016-06-21 21:24] timabbott commented on #872
Merged #1087.

[2016-06-21 23:15] timabbott commented on #806
Merged the fix into master just now.

[2016-06-21 23:15] #806 closed

[2016-06-21 23:21] #800 closed

[2016-06-22 00:36] timabbott opened #1090 "Document frontend translations syntax"
We should document our frontend translations syntax in docs/translating.md.

[2016-06-22 12:00] sharmaeklavya2 opened #1091 "six used in scripts/"
7b8cb10 applied the `libmodernize.fixes.fix_imports_six` transform to all files. This transform has introduced a dependency on `six` in some python scripts in `scripts/`.

[scripts/zulip-puppet-apply](https://github.com/zulip/zulip/blob/c668f1e2997235de3c46b6732722c5b2a2922049/scripts/zulip-puppet-apply#L5)
[scripts/setup/generate_secrets.py](https://github.com/zulip/zulip/blob/c668f1e2997235de3c4

[2016-06-22 12:39] sharmaeklavya2 commented on #717
In development environment, virtualenv cache is put in `/srv/zulip-venv-cache/`. Where should it be in a production install? Is it okay for it to be in `/srv/zulip-venv-cache/` or should it be put somewhere else?

[2016-06-22 14:06] sharmaeklavya2 commented on #717
Installing a virtualenv in production requires the following packages from apt:

* postgresql-server-dev-all
* libpq-dev
* virtualenv
* python-dev
* python3-dev (will be required once we switch to python 3)
* libffi-dev
* libfreetype6-dev
* libmemcached-dev
* libldap2

AFAIK apt packages are handled by puppet. So should I do an `apt-get` to install these packages before installing the virtualenv,

[2016-06-22 14:33] timabbott commented on #1091
I think we could just fix this by adding `python-six` to this list of packages we install early in scripts/lib/install, here:

`apt-get install -y puppet git python $ADDITIONAL_PACKAGES`

[2016-06-22 14:35] timabbott commented on #1091
Opened https://github.com/zulip/zulip/pull/1093 for this solution

[2016-06-22 14:45] timabbott commented on #717
I think using the same path for the virtualenv cache in production is reasonable.

For the virtualenv dependencies, I think it's fine to install them outside puppet; we might find we want to install them (and the virtualenv) before puppet runs, so that code invokes by puppet can use the Zulip virtualenv (I'm sure we will at least in the future have some code that wants to use a Python package depe

[2016-06-22 15:12] timabbott commented on #1091
Resolved.  We may find we want to do the same for `python-typing` if we're going to annotation more of the scripts.

[2016-06-22 15:12] #1091 closed

[2016-06-22 15:38] phansen01 commented on #1075
If I use an approach similar to how bots are added, should all of the logic related to that live in `settings.js` (as opposed to `alert_words_ui.js`)?

Or would updating the `alert_word_settings_item` template to have the new form style be a better approach?

[2016-06-22 16:33] timabbott opened #1094 "Use --detailed-exitcodes option in zulip-puppet-apply to give correct exit codes"
Apparently, puppet doesn't return status 1 when it encounters an error by default.  See https://tickets.puppetlabs.com/browse/PUP-2754.  As a result, if our puppet run starts failing in CI, we don't fail the build :(.

It looks like we can work around this by passing the `--detailed-exitcodes` option and then checking for exit codes that are not 2 (which indicates changes, but no errors).

[2016-06-22 17:11] sharmaeklavya2 commented on #717
Where should I put the production venv?

[2016-06-22 17:35] timabbott commented on #717
Interesting question.  One thing we should be thoughtful about is making sure that each Zulip deployment is pointed to the correct virtualenv for itself (because during the upgrade process, we may have two versions in use at the same time).  The way we manage this for most of the zulip installation is via the directories under /home/zulip/deployments and in particular the `current` and `next` syml

[2016-06-22 17:49] timabbott opened #1095 "Restarting services with supervisord is really slow"
Currently, restarting all Zulip services with supervisord takes about 40s to run.

This also means we spend about 40s in our Travis CI tests for the `production` suite restarting services using supervisord.  This time is not time spent in Zulip -- the time is essentially all supervisord overhead.  We should figure out how to either patch or replace supervisord to be reasonably efficient.

https://

[2016-06-22 18:32] timabbott commented on #722
I just pushed several improvements to no longer spend so much time installing packages via apt; on my last test run, a `production` test finished in just 7.5 minutes.  I did some profiling, and here are the remaining big individual things:

* 35s early apt install (could maybe avoid by not building a full development environment)
* 45s supervisord restarts
* 60s build-release-tarball
* 90s puppet

[2016-06-22 19:18] phansen01 commented on #1075
Okay, I'm mostly finished up now, just wanted to see if there is anything you would suggest changing about the new UI:

![image](https://cloud.githubusercontent.com/assets/12517033/16280105/a60c5306-3883-11e6-9f96-02f814076151.png)

Otherwise, I just need to implement editing (which I assume can just be use the remove API for `alert_words` and then add in its replacement).

[2016-06-22 19:21] timabbott commented on #1075
Looks great.  Would s/when words/when certain/ in the description at the top.

On the front of editing, I think you could just not have an edit button for these; I think editing is probably unusual enough that people can just delete + add themselves directly...

[2016-06-22 19:38] phansen01 commented on #1075
Yeah, it's probably a bit superfluous.

Are there any tests that I'll need to add for this? or are the existing tests (in `node_tests`) for alert words sufficient?

[2016-06-22 20:44] timabbott commented on #1075
It'd be awesome if you added a Casper test for the Alert Words UI working correctly; the node tests are just for the message rendering part of the feature. (see http://zulip.readthedocs.io/en/latest/testing.html for docs on our casper test system).

[2016-06-22 20:46] phansen01 commented on #1075
Okay, I'll update #1097 once I have that working.

[2016-06-22 21:08] timabbott opened #1099 "is_me_message should be a property of the Message, not UserMessage"
For some reason, we've been storing the is_me_message property on the UserMessage.flags fields for all the UserMessage objects that go with a given message.  This is a weird choice.  UserMessage objects are intended to contain data specific to the (UserProfile, Message) pair, and whether a message is a `/me` message is a function solely of the message.

Changing the code to fix this isn't hard; wh

[2016-06-23 00:09] #263 closed

[2016-06-23 06:39] jdherg opened #1103 "Add support for italics to bugdown"
It would be nice to be able to italicize things in Zulip messages. I recognize that coming up with Markdown-like programmer-friendly syntax for italics will be tricky, but hopefully we can start(/continue) the conversation here.

(Bonus points if we also come up with formatting for strikethrough, which I think will get us to simple formatting parity with Github.)

[2016-06-23 07:23] dracwyrm commented on #1085
I didn't see that PR. It looks close to one thing that I mention here. Should I do some mock up screens for the ideas here?

Thanks.

[2016-06-23 10:24] umairwaheed commented on #1076
working on this.

[2016-06-23 13:12] staranjeet commented on #1041
So this basically involves writing something like `check_pyflakes`, where in I will use pep8 on all python files and then check if the output contains any line whose length is greater than 100. Right?

[2016-06-23 13:20] staranjeet commented on #1034
PR #1105

[2016-06-23 16:10] acrefoot commented on #425
Hey @timabbott, @krtkmj is looking into potentially picking this up.

Is @wdaher's assessment still right? I noticed that you've added it to the 2016 roadmap.

[2016-06-23 18:56] kevinr opened #1107 "Bots can be created with the same full name as existing users"
...which allows the owner of the bot to impersonate them.

EDITED from discussion below.  The current proposed approach to solving this problem is to modify the way bots are displayed in the frontend UI to make clear they are bots.  Concrete ideas on the design wanted!

[2016-06-23 19:22] tdickers commented on #1107
It's most effective if you use the same username and the same avatar. You can click on the user's avatar or name to see the email address associated (and will see xxx-bot@yyy.zz), but it's fairly effective.

The hard part in mitigating this would probably be edge cases of character like l and I (lower case 'el' and capital 'eye'), null characters, etc.

Maybe just have a config option to require a

[2016-06-23 20:57] timabbott commented on #1103
Strikethrough, with GitHub's syntax, seems easy to add.

For italics, we should just make sure to minimize the risk of accidentally triggering the italics syntax (e.g. by only matching `*foo*` and `*foo bar*`, not things like `const char *x = (char *)y` or sloppily done bulleted lists.

http://zulip.readthedocs.io/en/latest/markdown.html is probably helpful.

[2016-06-23 21:09] #1034 closed

[2016-06-23 21:10] timabbott commented on #1034
Fix merged, thanks @akashnimare and @staranjeet!

[2016-06-23 21:44] timabbott commented on #1041
I think a much simpler approach would be to edit `tools/lint-all`, and in particular `custom_check_file`.

Here's an implementation of that, with an extremely high cutoff: https://github.com/zulip/zulip/pull/1109

We'll want to add a mechanism to support having a way to tag long lines for being excluded from this check if it's inconvenient to wrap them (e.g. `# longline` at the end of the line), b

[2016-06-23 22:13] timabbott commented on #1107
I agree with @tdickers, because of Unicode characters that look identical to each other, it's difficult to prevent a human user from impersonating another by copying their name and avatar (potentially modulo using a very-similar-looking unicode character).

There are a few things one can do to solve the human or bot impersonation problem:

1. Use social pressure to discourage bad behavior (usually

[2016-06-23 22:21] #1012 closed

[2016-06-23 22:25] tdickers commented on #1107
NAME_CHANGES_DISABLED worked well for solving the "primary user account impersonating another" but doesn't cover the bot case.

[2016-06-23 23:20] timabbott commented on #425
Cool.  I like the permissions model approach discussed above.  Here's how I'd sequence things:

(1) Design an implement the interface for storing and accessing stream permissions.  I think this should probably be stored as attributes on the Subscription object, since that's our already existing (user, stream) pair object.  We should consider doing something similar to `UserMessage.flags`, where we

[2016-06-23 23:26] akashnimare commented on #1034
Yay :tada:

[2016-06-24 00:03] timabbott commented on #1107
@tdickers @kevinr what are your thoughts on approach (4) in my list?

[2016-06-24 00:27] #565 closed

[2016-06-24 00:36] timabbott opened #1110 "Clean up imprecise use of casper.waitForText in Casper tests"
In some cases (e.g. with highly unique error messages), casper.waitForText is reasonable to use, but we've had a few confusing test failures in new feature work recently where we checked for a piece of text that could appear somewhere else on the page in a future version of the app, and thus didn't do the right thing.

I think it's probably worth auditing our users of waitForText for whether they

[2016-06-24 01:06] timabbott commented on #1060
@staranjeet for doing the comments project, I'd probably recommend adding the comments on the lines before the requirements.txt entries, rather than the same lines as the versions are specified; I think that's a cleaner way to do that.  E.g.

[code]

not
[code]

[2016-06-24 01:07] timabbott commented on #1060
I think we've basically split the files out in a pretty reasonable way at this point, so I think once we've copied the comments over, it'd be reasonable to declare this resolved.

[2016-06-24 03:42] staranjeet commented on #1060
Ok i will work on this and update accordingly

[2016-06-24 11:59] aakash-cr7 commented on #1071
Hi @timabbott, I think it's a good starter project for me. If no one is working on it, shall I start working on it?

[2016-06-24 13:59] dracwyrm opened #1111 "Commit c74a74d causes docker dev image build to fail."
Hi,

I had 1.3.13 successfully install in a docker dev environment, which fully built and installed. I decided to try the latest source in master today and this error occurred:
[code]
At the time of this writing commit https://github.com/zulip/zulip/commit/8cecb3774321adf638b93781a175e74e68a6564b is the latest version I used, so the error must have been between this commit and last commit for rele

[2016-06-24 14:29] tdickers commented on #1107
I think number 4 is the best option proposed.

[2016-06-24 15:09] phansen01 commented on #1009
I've got a mockup for UI for this, does it look alright?

![](https://d1zjcuqflbd5k.cloudfront.net/files/acc_467999/cRt2?response-content-disposition=inline;%20filename=Screen%20Capture%20on%202016-06-24%20at%2010-05-54.gif&Expires=1466781110&Signature=J4Z24sUbPP3O5shkK0GbW3XNWQ8IaqRS56Ds-H4JcAIbgddsXXE1EEn7wSm5-KIRBXsXboBnHi-mdhy-66FSSZa7ZEWpDIh43CreYIcaDKR6oAic4wEhG~73rz6OgXSZzM9AUOSpEexu66bQzAh

[2016-06-24 15:38] timabbott commented on #1071
Go for it @aakash-cr7!  https://github.com/zulip/zulip/blob/master/README.dev.md#running-the-test-suite has some partial details on how you can run it; you can also do e.g. `test-backend zerver.tests.test_hooks` to run a test file or `./tools/test-backend zerver.tests.test_bugdown.BugdownTest` to run a test class.

[2016-06-24 16:11] timabbott commented on #1111
Yep, like we lost your dependency on build-essential (and possibly also python-pip) via that change.
[code]

Created #1112 to fix this; can you test that @dracwyrm?

[2016-06-24 16:59] dracwyrm commented on #1111
Hi @timabbott
Just tried your patch and it builds now. I also used the dev environment for a bit to see if everything worked and it did.

Thanks for your help on this.

Jon

[2016-06-24 17:03] #1111 closed

[2016-06-24 17:04] timabbott commented on #1111
Awesome, thanks for testing @dracwyrm!  I merged this.

[2016-06-24 17:10] timabbott commented on #1009
the mockup link seems to have broken; might be a GitHub operational issue (since I saw a preview in my email on my phone an hour ago)

[2016-06-24 17:35] timabbott commented on #1107
OK, edited the issue description (from Kevin's post) to note that proposal; hopefully someone will have a good idea for how to do this nicely from a design perspective.

We could consider just doing an icon on one side of the user's name; we currently use FontAwesome (http://fontawesome.io/icons/) as our main source for icons.

[2016-06-24 17:51] staranjeet commented on #1060
@timabbott : submitted a PR #1113 . The PR adds comments for most of the packages. Some packages have no comments.

[2016-06-24 18:19] #835 closed

[2016-06-24 18:20] timabbott commented on #835
@esander91 the fix for this was just merged; thanks for reporting!  And thanks @tomaszkolek for debugging this!

[2016-06-24 18:57] phansen01 commented on #1009
it still looks okay on my end, here's a direct link in case:

[2016-06-24 19:02] timabbott commented on #1009
Cool, the mockup looks pretty reasonable for how to display it on the settings page.  For the actual "are you sure" prompt, I would consider doing a modal instead of having it appear inline, similar to how we handle deactivating users on the admin page.

I would probably call it "deactivate account" for now, since the simplest implementation would just disable their account, not immediately delete

[2016-06-24 19:16] aakash-cr7 commented on #1071
@timabbott Thanks for letting me work on this! I have read the README.dev.md. As you mentioned, we can use  `./tools/test-backend zerver.tests.test_bugdown.BugdownTest` to run a test class.

Currently ./tools/test-backend --help displays the options:

![screen shot 2016-06-24 at 10 53 18 pm](https://cloud.githubusercontent.com/assets/7534680/16347860/940dc550-3a6c-11e6-8ca9-ab55c03b8a9c.png)

Coul

[2016-06-24 19:18] timabbott commented on #1071
Yep, see: https://docs.python.org/2/library/optparse.html#generating-help

(basically pass the `usage` argument to `optparse.OptionParser`)

[2016-06-24 23:43] #1075 closed

[2016-06-24 23:48] timabbott opened #1116 "realm emoji form doesn't display a user-facing error on invalid input"
If you input an invalid url on the "add realm emoji" form on /#administration, the backend correctly throws a 400 error, but the frontend doesn't display the error message.  We seem to have code to do this in the `.admin_emoji_table` handlers in static/js/admin.js, it just doesn't work.

[2016-06-25 00:03] timabbott opened #1117 "Make a separate file CSS library for our settings/administration page stuff"
This is a piece of #731 that I think is fairly actionable right now and would significantly improve the developer experience for adding new sections to our settings pages.

[code]

I think it could be really good to convert these into a nice little "Zulip settings" CSS library, which:
- lives in its own file (one will need to add it to PIPELINE_CSS)
- has a page of documentation on it (e.g. docs/c

[2016-06-25 00:42] timabbott opened #1118 "Move example domain used by test suite to @example.com"
This makes more sense than `@zulip.com`.

Probably to make this easy, we'll want to first do a series of commits doing refactoring to stop hardcoding e.g. hamlet@zulip.com in every test and instead at least be accessing something like self.email from the test class, so it's easier to make changes to these things, and then actually make the change.

[2016-06-25 00:42] timabbott commented on #1057
Opened the example.com thing as: https://github.com/zulip/zulip/issues/1118

[2016-06-25 00:49] phansen01 commented on #1009
okay, ill give that a shot. So it should go something like:

* user confirms deactivation via modal

* attempt `channel.del` (as in `admin.js`) to `/json/users/<email>`
  * on success, log the user out
  * display an error, otherwise

?

[2016-06-25 00:51] timabbott commented on #1009
yes, except on success it should call `do_deactivate_user` from zerver/realms.py, which should auto-logout the user by deleting their sessions, so for logging out you may just need to navigate back to the login page.

The modal should probably have similar text to the admin page one making sure they know this will kill their bots.

[2016-06-25 08:31] TomaszKolek commented on #1099
I'm starting working on it!

[2016-06-25 13:25] sharmaeklavya2 opened #1121 "FastCGI is deprecated but we are still using it"
https://github.com/zulip/zulip/blob/982cd5005b23e1d4cbe4c47a8f37581640bb64a1/puppet/zulip/files/supervisor/conf.d/zulip.conf#L11

https://docs.djangoproject.com/en/1.8/ref/django-admin/#runfcgi-options clearly states that "FastCGI support is deprecated and will be removed in Django 1.9". `runfcgi` is not present in manage.py in newer django versions.

[2016-06-25 13:28] aakash-cr7 commented on #1071
Thanks for pointing that out @timabbott. I have made some changes. `./tools/test-backend --help` gives the following information along with command to run a single test.

![screen shot 2016-06-25 at 6 49 29 pm](https://cloud.githubusercontent.com/assets/7534680/16356945/02c51c98-3b06-11e6-9c14-12c95d381cfe.png)

What do you think?  Am I in the right direction? Should I also add node tests and casp

[2016-06-25 15:32] timabbott commented on #1071
I would probably use more newlines in your examples, and keep in mind this uses `.`s not `/`s, e.g.:
[code]
Adding similar help text to the node and casper suites would be great too (well, the Node one doesn't even support running a single test right now, so changing that would be part of the project I suppose).

Would do one commit for each so we can merge each one as it's ready

[2016-06-25 15:51] timabbott commented on #1121
I'm aware of it, but it shouldn't be a hard transition, but you're right, we should definitely do this soon so we can upgrade to Django 1.9.

As you can see from https://docs.djangoproject.com/en/1.9/howto/deployment/, in newer Django they just support running it via WSGI.  The conversion should be fairly straightforward.  See e.g.
http://uwsgi-docs.readthedocs.io/en/latest/WSGIquickstart.html#dep

[2016-06-25 18:46] aakash-cr7 commented on #1071
I have made the changes according to your suggestions.
So now the `./tools/test-backend --help` works like this:

![test-backend](https://cloud.githubusercontent.com/assets/7534680/16358531/06713660-3b33-11e6-8d81-4210abbb370d.png)

`./tools/test-js-with-casper --help` works like this:

![test-casper](https://cloud.githubusercontent.com/assets/7534680/16358532/0fc8282c-3b33-11e6-8d93-830c618cda0c.

[2016-06-26 13:53] sharmaeklavya2 commented on #1071
It's better to post textual output rather than screenshots because some people (like me) have a bad internet connection and sometimes images don't load inline. To post output properly, you can use fenced code blocks - https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks

[2016-06-26 15:25] sharmaeklavya2 opened #1125 "Use argparse instead of optparse"
A lot of our scripts use `optparse`. `optparse` has been deprecated since python 2.7 and python 3.2. We should use `argparse` instead.

[2016-06-26 15:26] timabbott commented on #1117
I did the very small first piece of this, namely splitting out a new file, static/styles/settings.css

[2016-06-26 15:29] timabbott commented on #1125
Yeah, this will be a fairly large conversion process, since we have a lot of references to it:
[code]
Fortunately, each individual conversion should be pretty easy, and this is a type of project that's fairly accessible to newcomers.

[2016-06-26 16:18] timabbott commented on #467
I should mention an additional option, which is to revert to using Postgres' built-in highlighting support for full-text search (And thus stop using the extension altogether).  I'm not 100% confident I understand why it isn't suitable for our needs.  I'll edit to add it to the list above to have all the options together.

[2016-06-26 18:42] timabbott commented on #1090
@umairwaheed can you take a look at this one?

[2016-06-26 18:43] timabbott commented on #1090
I think we need to document both the Handlebars syntax and the javascript syntax for i18next (and maybe also link to i18next for how to do it in javascript).

It might make sense to discuss or link to docs for some common advanced situations (e.g. plurals) as well.

[2016-06-26 18:47] timabbott opened #1127 "Add support for running test-js-with-node on just 1 file"
we should also document this, both via a `--help` option and in the docs where we document `test-backend`.

[2016-06-26 18:47] timabbott commented on #1071
The backend tests one looks great.  The casper one I think should be formatted more similarly to the backend one; the content seems fine.  For `test-js-with-node`, I think ultimately we'll want to add support for running a single test (opened https://github.com/zulip/zulip/issues/1127 for this) and we can consider documenting that to be part of that issue.

I agree with @sharmaeklavya2's comments

[2016-06-27 03:12] #621 closed

[2016-06-27 04:55] timabbott commented on #1085
Sure, that would probably make it easier to follow your ideas (you can probably just edit them into the post above to provide the best clarity).

To summarize my understanding of the above, the proposals beyond #819 are:
* Ability for the company to pin some streams at the very top, even above user-pinned streams (does this also entail the user being unable to unsubscribe as in the "mandatory stre

[2016-06-27 05:58] umairwaheed commented on #1090
Sure @timabbott .

[2016-06-27 06:07] umairwaheed commented on #1090
@timabbott, can you please assign me this issue? It's easier to track which issue is in the pipeline that way.

[2016-06-27 06:37] kkampardi commented on #1042
I have some progress on this issue with python-social-auth but i need some how to/where to . @staranjeet  does your offer to assist me still counts?

[2016-06-27 07:53] staranjeet commented on #1060
@timabbott : I think this issue should be closed now.

[2016-06-27 07:55] staranjeet commented on #1042
@kkampardi Yeah ofcourse, but I will also have to look into it once as I have worked with django-allauth, but yeah I will be happy to help. Let me know what issue are you facing or where are you struck?

[2016-06-27 08:51] kkampardi commented on #1042
@staranjeet  here is the documentation for python-social-auth
http://psa.matiasaguirre.net/docs/configuration/django.html
One of my questions is related to the AUTHENTICATION_BACKENDS settings, i am not sure where to place them, since now i have worked with simple django projects and the Zulip setting files seem like Greek to me :-/
Also if you prefer  i can open a ticket via zulip-devel google gr

[2016-06-27 11:59] kkampardi commented on #1042
@staranjeet  Another question, perhaps  quicker to answer:
How to turn the django  tag  {% url "social:begin" "github" %} to Jinja template url?
I have tried {{ url('social:begin', github) }}  and {{ url('social:begin', 'github') }}
but none of them works and didn't find any information for this specific problem in the documentation.

[2016-06-27 12:22] staranjeet commented on #1042
@kkampardi: probably this should work ```{% set myurl=url("social:begin", "github") %}```.  You can also ask here if you want

[2016-06-27 12:29] staranjeet commented on #1042
Settings are defined at environment level, meaning that each environment will have its own settings. Zulip right now has
`local_settings.py` as base for settings,
`dev_settings.py` for development
`settings.py` for production

So `SOCIAL_AUTH_GITHUB_KEY`, `SOCIAL_AUTH_GITHUB_SECRET` and `AUTHENTICATION_BACKENDS` should go in `local_settings.py`, which I see is what you have done

@kkampardi

[2016-06-27 12:34] kkampardi commented on #1042
@staranjeet:
All clear now, regarding the settings,  thanx

`{% set myurl=url("social:begin", "github") %}`  doesn't work
I think you forgot to include the url: "also ask here if you want"

[2016-06-27 14:16] aakash-cr7 commented on #1071
Great! I will format the casper options and open a PR.

@sharmaeklavya2 point noted! I will use fenced code blocks for sample output.

[2016-06-27 15:16] timabbott commented on #1042
http://zulip.readthedocs.io/en/latest/settings.html may be helpful docs on our settings system

[2016-06-27 19:06] timabbott commented on #320
Just a quick update, we just merged most of #769 into master.  While there's more work planned as part of #769 to improve the performance of the new implementation (in particular, having nginx serve locally-uploaded files again, rather than Python), this does work now.

I just realized a bug in the new functionality, though; files uploaded before the Attachment model was introduced in 1.3.13 will

[2016-06-27 19:11] timabbott commented on #320
Due to that bug, I reverted the enforcement commit from #769, so we can't close this quite yet.  But I think it's likely we'll have this resolved for the next release!

[2016-06-27 19:28] timabbott opened #1131 "Use a commit message linter in CI"
It'd be great to have a commit message linter to check for common formatting errors; this would save a good amount of time reviewing code.  In practice, for Zulip, the common errors I see, in rough order of frequency:
- Not using a "." at the end of sentences
- Using a different tense than action-verb.  E.g. "Fix foo" is correct style for Zulip, not "Fixed foo" or "Fixing foo".
- Too long lines in

[2016-06-27 20:17] timabbott commented on #1060
Agreed, closed.  Thanks @sharmaeklavya2 and @staranjeet!

[2016-06-27 20:17] #1060 closed

[2016-06-27 21:01] timabbott commented on #1090
It appears one has to be a member of a project to be invited on GitHub; I've attempted to invite you.

[2016-06-27 21:17] timabbott commented on #1071
Fix merged in #1130.

[2016-06-27 21:17] #1071 closed

[2016-06-27 21:43] timabbott opened #1132 "Move development logs to a common directory"
Currently, a Zulip development environment produces a lot of logs and other /var type files that aren't part of the repo creating clutter.  We should probably move these to a central subdirectory to decrease clutter.

Here's a proposal:

- [x] We modify provision.py to create a var tree within the Zulip checkout (e.g. zulip/var/log)
- [x] We move all the development systems to log to var/log (most

[2016-06-27 22:07] timabbott commented on #610
@hackerkid when you get a chance, can you clean up these ones?
[code]
Once those are resolved, we'll be very close to being able to eliminate zulip.js and its legacy globals.

(as a sidenote, the pointer-related code in `main` should be moved to `static/js/pointer.js`).

[2016-06-27 22:09] timabbott commented on #707
Converted this issue to have a nice checklist and mark the things done that are done.

[2016-06-27 22:35] timabbott opened #1134 "Realm emoji should accept an uploaded file, not a link"
Currently the custom realm emoji feature (on the /#administration page) requires you to provide the URL of the image you'd like to use as emoji.  This has the problem that if that URL breaks or changes, this impacts the emoji in that Zulip realm, including already-existing messages, which seems poor.

It'd be better to have the model for realm emoji to be more like file uploads or avatars, where y

[2016-06-27 22:50] hackerkid commented on #610
@timabbott Yeah. Sure. I had some trouble moving home_msg_list and current_msg_list last time. Will give it another try. :+1:

[2016-06-28 02:59] timabbott commented on #717
I just merged @sharmaeklavya2's great work on this, so I'm closing this issue.  Huge thanks to @sharmaeklavya2 for doing this!  We'll want to go through all the other issues that were in some way blocked on this and get them moving again.

[2016-06-28 02:59] #717 closed

[2016-06-28 03:02] timabbott commented on #1070
I took care of adding this to docs/testing.md.

[2016-06-28 03:02] #1070 closed

[2016-06-28 03:47] timabbott opened #1135 "Upgrade to Django 1.9"
Now that we have Zulip using a virtualenv in production, we can work on upgrading Zulip to use Django 1.9.  Here's a list of things we will need to do:
- [ ] Port our patches to make bulk_create work properly to run on Django 1.9.  They are available on top of Django 1.8.x here: https://github.com/zulip/truncated-django/commits/master
  and were merged into Django 1.10 here: https://code.djangopro

[2016-06-28 04:00] timabbott commented on #931
@MarkCupitt did you end up figuring out what happened here?

[2016-06-28 04:01] timabbott commented on #990
#717 was resolved, and I merged into master the puppet changes, so we should be able to start working on xenial support in earnest now.

[2016-06-28 04:01] timabbott commented on #990
@pito2901 let me know if you're interested in helping with this!

[2016-06-28 04:08] sharmaeklavya2 commented on #1135
We'll also have to resolve #1121, moving from FastCGI to WSGI, since Django 1.9 no longer supports FastCGI.

[2016-06-28 04:18] timabbott commented on #1135
Cool, added that to the list above and also reformatted with checkboxes

[2016-06-28 07:22] staranjeet commented on #1041
@timabbott : Quick question, I can now fix those 62 instances and submit a PR?

[2016-06-28 07:22] staranjeet commented on #1132
@timabbott I can work on this..

[2016-06-28 09:04] kritkaran94 commented on #1134
@timabbott I am new to zulip. However, I would still like to contribute on the same.

[2016-06-28 09:50] aakash-cr7 commented on #1117
Can I start working on this @timabbott ?

[2016-06-28 16:10] timabbott commented on #1132
@staranjeet great!  As some quick notes on how to do this, I'd do this as one commit per category of file, and take care to make sure that directories are created before we try to write files to them.

[2016-06-28 16:12] timabbott commented on #1117
Sure!  I encourage you to post progress frequently on a WIP pull request so that I can closely follow your work and provide advice on the approach.

[2016-06-28 16:14] timabbott commented on #1134
@kritkaran94 great!  I think you should be able to look at how we upload files for avatars to get a good sense for how the API should work.  For storing the data, I think it makes sense to add a field on the RealmEmoji table that is a foreign key into the Attachment model.

[2016-06-28 16:19] timabbott commented on #1041
Sure, how about you start with changing ~15 of these and submit a PR?  I figure we might as well make sure we agree on the style for how we're wrapping these before you invest the time to migrate a ton of them :).

[2016-06-28 16:22] hackerkid commented on #610
@timabbott To which module should I move `respond_to_message`

[2016-06-28 16:40] timabbott commented on #610
compose.js seems natural.

[2016-06-28 16:47] timabbott commented on #735
Since @rahuldeve expressed interest in working on this, here's a design proposal for outgoing webhooks:
* We add outgoing webhooks as a new type of bot user (bot_type=OUTGOING_WEBHOOK).  When a user configures one of these bots, they provide a URL to post to.  We should probably plan to be able to extend this interface to enable setting alert_words for these bots (from a UI design perspective), th

[2016-06-28 17:05] aakash-cr7 commented on #1117
Great! I'll start working then and I'll post progress on a WIP pull request.

[2016-06-28 17:46] timabbott commented on #880
@acrefoot is working on this one.

[2016-06-28 17:46] timabbott commented on #879
@acrefoot is working on this one.

[2016-06-28 19:33] timabbott commented on #722
Indeed, #717 has had a big impact; we just had a production suite build finish in just over 5.5 minutes: https://travis-ci.org/zulip/zulip/builds/140895030

Given that the remaining things we can do to improve this performance are things we want to optimize for other reasons (building static assets and supervisord restarts), and once those issues are resolved this one will be faster than our "back

[2016-06-28 19:33] #722 closed

[2016-06-28 23:49] timabbott commented on #804
I did a bit of investigation into what the story is with our remaining files that aren't being run under `tools/run-mypy`.  Migrations actually don't really have functions in them and so I annotated them all in 56e7a2f6f3e8d96ef375875d6bc0709efd3cecac, so that's not really an issue.  Here's the remaining list of files in our exclude list:

[code]

* I think we don't want to annotate `git_p4.py`, s

[2016-06-29 03:26] timabbott opened #1141 "Upgrade to jQuery 1.8.x"
We no longer are using any features that were explicitly deprecated in jQuery 1.8, so it should now be time to actually upgrade.  I spent a bit of time today trying to actually do the upgrade, unsuccessfully.

I opened https://github.com/zulip/zulip/pull/1140 just to demonstrate how to upgrade the version of jQuery; it doesn't work.  In particular, the Casper tests go into an infinite loop after l

[2016-06-29 03:31] timabbott commented on #1125
As a sidenote, argparse has some unfortunate heuristics in its semantics, and I think actually optparse was a better implementation.  See https://bugs.python.org/issue9334 for the frustrating details.

But I don't think sticking on optparse is a good enough reason to stay on Python 2, so onwards to argparse, I suppose :)

[2016-06-29 03:33] timabbott commented on #1125
I guess this actually isn't a blocker for moving to Python 3, in that optparse is still present in Python 3.5, just deprecated.

[2016-06-29 04:14] timabbott commented on #1095
It appears supervisord got a lot faster in Ubuntu Xenial:

[code]

so I think we can just backport the package to Ubuntu Trusty to solve this problem.

[2016-06-29 05:36] timabbott commented on #1016
I just tried reproducing this, and failed.  Here's what I did:
* setup a test Zulip server
* Enabled REMOTE_USER SSO using the instructions in README.prod.md and the "sample" HTTP basic auth configuration (just copied `zulip_sso.example` to zulip_sso.conf`)
* Set `SSO_APPEND_DOMAIN="gmail.com"` in /etc/zulip/settings.py
* Ran `htpasswd -c /home/zulip/zpasswd testuser` and set a password
* Visiting

[2016-06-29 05:36] timabbott commented on #1095
Backporting complete; now our production tests run in under 5 minutes sometimes!
https://travis-ci.org/zulip/zulip/builds/140989369

[2016-06-29 05:36] #1095 closed

[2016-06-29 06:10] timabbott commented on #990
I did some testing with Xenial tonight, and mostly got it working.  The main outstanding issue is that `pgtune` doesn't exist anymore in Ubuntu Xenial, so we'll need to redo the mechanism for generating postgres configuration to not try to use that.

[2016-06-29 06:11] timabbott commented on #55
Since Ubuntu 15.04 has reached end-of-life, we're never going to add this.  I'm closing this issue.

[2016-06-29 06:11] #55 closed

[2016-06-29 06:12] timabbott commented on #41
Now that Zulip uses a virtualenv for its dependencies, CentOS support is probably a lot easier to make happen.

[2016-06-29 08:19] sharmaeklavya2 commented on #804
We should create a stub file for `django.conf.settings` and put stubs of our settings there in addition to (or instead of) type annotating zproject/*settings.py.

[2016-06-29 08:45] kritkaran94 commented on #1134
@timabbott I will get back to u soon on this.

[2016-06-29 08:55] rahuldeve commented on #735
@timabbott Will it work in private messages if we bots ?

[2016-06-29 17:49] sharmaeklavya2 opened #1145 "We're using a very old version of python-twitter"
We are currently using `python-twitter` 1.1, while the latest version is 3.1. The old version doesn't support python 3, while the new version does. We should upgrade to the new version.

[2016-06-29 17:54] sharmaeklavya2 commented on #1145
I installed the latest version of `python-twitter`. I didn't specify `--no-deps`, so it also updated `requests` and `oauthlib` to a newer version. tools/test-js-with-casper and tools/test-backend passed after that.

What else should be done to confirm that our code is compatible with this version of `python-twitter`?

[2016-06-29 18:04] timabbott commented on #1145
I would setup the twitter card rendering integration in your development environment (see zproject/local_settings_template.py for docs on how to do that) and confirm it actually works.  That's probably about all you need to do for `python-twitter` and `oauthlib` which we just use for `python-twitter`.  For `requests`, I just read the changelog, and don't see any backwards-compatibility issues we s

[2016-06-29 18:18] timabbott commented on #804
Hmm, yeah, I guess since that's how settings are accessed, annotating zproject/settings.py itself doesn't really help.  I wonder if we could auto-generate the stubs based on annotations for zproject/settings.py, though; I'd prefer to not have to add an extra step to every new setting we add.

[2016-06-29 18:19] timabbott commented on #1145
(To be clear, the only thing the integration does is render tweets nicely if you send a link to them in a Zulip message)

[2016-06-29 18:54] timabbott commented on #735
I think it probably makes sense to have PMs sent to the bot be delivered by the webhook system, yeah.

[2016-06-29 20:54] alexandrinaw commented on #1141
Looks like the current behavior is due to [this bug in jQuery](https://bugs.jquery.com/ticket/11621) that was fixed in version 1.8.

[2016-06-29 22:13] timabbott commented on #1141
Seems plausible, but it's not clear to me why that event bubbling to window would cause the hash to change (or otherwise result in the infinite loop behavior)

[2016-06-29 22:23] alexandrinaw commented on #1141
I don't think the hash is actually changing, but by calling `$(document).trigger($.Event('hashchange.zulip'))`, a "hash change event" occurs. When that event bubbles up to window, it's caught by `window.onhashchange`, which then ends up calling `$(document).trigger($.Event('hashchange.zulip'))` again and the loop continues.

You can also get this same behavior by changing `$(document).trigger($.Ev

[2016-06-29 23:25] timabbott commented on #1141
Oh.  Try just renaming the event.  I don't think we need it to be called
that.

-Tim Abbott (mobile)
On Jun 29, 2016 3:23 PM, "alexandrinaw" <notifications@github.com> wrote:

[2016-06-30 00:57] timabbott commented on #1141
I just tested that out myself, and indeed, it works correctly and now all of Casper tests pass.  Thanks so much for debugging this @alexandrinaw!

I guess jquery's event matching process ignores the `.zulip` part, and thus treats this as an actual hashchange event, whereas we'd in fact just made the decision to namespace our events used for Zulip to communicate with itself with names of the form `

[2016-06-30 05:57] rahuldeve commented on #735
I meant in the case of a PM between two users. Will one of them be able to trigger an outbound webhook by @-mentioning a bot ? (The message is sent to the other user and not the bot)

[2016-06-30 09:57] bmalynovytch opened #1147 "Provide shorter UI/Keyboard sequence to edit the last message"
Dear team,

Editing a previously sent message is painful compared to other instant messaging solutions.

While typing in a conversation and willing to edit your last message, you need to:
### Zulip
- press `ESC` to close the text box
- press `i` to show the contextual menu with the `edit` option
- press `Enter` to confirm that you wish to edit
- edit your message
- press `Cmd + Enter` to confirm e

[2016-06-30 11:11] umairwaheed commented on #1090
Working on this

[2016-06-30 15:41] alexandrinaw commented on #1141
Cool, glad it works!

[2016-06-30 17:27] sharmaeklavya2 opened #1149 "Some manual install instructions are incorrect/missing"
In the [debian/ubuntu manual install section](https://github.com/zulip/zulip/blob/master/README.dev.md#on-debian-or-ubuntu-systems), there are instructions for installing `tsearch_extras` on Ubuntu 12.04, 14.04 and 15.04, but nothing for 16.04. 16.04 has postgresql version 9.5, so we can't follow instructions for older versions. I installed the version for xenial from https://launchpad.net/~tabbot

[2016-06-30 17:28] sharmaeklavya2 commented on #1149
In the [all systems section](https://github.com/zulip/zulip/blob/master/README.dev.md#all-systems), `./tools/emoji_dump/build_emoji`, should be replaced by `./tools/setup/emoji_dump/build_emoji`.

[2016-06-30 17:44] sharmaeklavya2 commented on #1149
In the [all systems section](https://github.com/zulip/zulip/blob/master/README.dev.md#all-systems), I found this
[code]
I think we shouldn't be hard-coding the version of postgresql to 9.3. I changed it to 9.5 when installing on xenial.

[2016-06-30 18:31] rishig opened #1150 "Move update_message checks from actions.py to views/messages.py"
do_update_message in zerver/lib/actions.py currently raises jsonable errors. Most/all of these checks should be moved to update_message_backend in views/messages.py.

[2016-06-30 18:39] timabbott commented on #1147
Yeah, it'd be good to make this easier, since editing the last message is the common case (even if we do still want to support the existing mechanism for editing older messages).  I think there are 2 things we should do:
* We should provide a faster keyboard sequence for editing the last message one sent to the current view; I'm not sure whether the best version is e.g. `e to start edit` (covering

[2016-06-30 18:49] timabbott commented on #1149
* For the first one, I did that build of 0.2 a couple days ago as part of making Zulip work on Ubuntu Xenial (should be done next week!); I think we should probably plan to replace that whole documentation section with either just recommending a new Zulip PPA that doesn't have all those Python backports in it (since they're no longer needed) or links to a directory with packages for all versions (

[2016-06-30 18:55] timabbott commented on #1141
The `event namespaces` documentation in http://api.jquery.com/on/ makes pretty clear that the jQuery behavior is what should be expected (any of the `.`-separated terms matching means an event handler will be run); so if you're doing a totally custom event (as we are here), one should definitely not use a name like `hashchange.zulip`.  So I think the correct solution is simply to rename the event

[2016-06-30 18:59] bmalynovytch commented on #1147
1. sounds good (`e` or something else, personally, I never use the arrow keys to navigate through the messages, therefore using the `up key` would be a could option)
2. definitely, having the same behavior to confirm a message while sending a fresh new one or editing an old one seems the best to do

Thank you for your message 👍

[2016-06-30 19:02] timabbott commented on #1147
The arrow keys are the main way most folks navigate messages using the keyboard, so I don't think we can repurpose the `up` key.

[2016-06-30 20:33] timabbott opened #1151 "@-all mentions should be suppressed when interacting with muting"
Usually, when someone mutes a stream, they don't want to be notified by use of `@-all` on the stream; probably the same is true of topic muting.  We should probably change the mechanism to make `@-all` not override muting of streams (but I think it's reasonable for personally targeted @-mentions to override muting and still notify the user).

[2016-06-30 20:35] rishig commented on #903
A potential plan:
Add two fields to the admin settings page:
(1) [checkbox] Allow editing of past messages.
(2) [input] Time limit for editing the content of past messages. (0 for no limit)

If (1) is unchecked:
No one can edit anything, mirroring e.g. the situation on zephyr.

If (1) is checked:
Message topics can be edited in perpetuity (in line with the current rules: admins can edit anything,

[2016-06-30 20:45] brainwane commented on #903
MetaFilter limits the comment-editing window to 5 minutes, for comparison.

[2016-06-30 20:49] cjb commented on #903
Default value thought: 2 hours

(I think Hacker News uses this value FWIW.)

[2016-06-30 21:18] timabbott commented on #878
OK, I figured out a plan for solving this problem.  We change the way the Casper tests use webpack to, rather than running the `webpack --watch` style development server (which monitors for changes in real time), instead just run `tools/webpack` at the start to generate bundle.js, and use the result in the Casper tests.

[2016-06-30 21:24] sharmaeklavya2 commented on #1145
I first ran the integration using the old python-twitter. I checked it several times and it worked every time except the first one, where it failed with a `TimeoutExpired` and the Zulip Error Bot sent me an email saying that 'Markdown parser failed'.

Then I installed the latest python-twitter and tried it again many times. The tweets didn't render. The page showed no signs of error and the Zulip

[2016-06-30 21:32] timabbott commented on #1145
OK; seems likely that python-twitter has changed its API in some way between versions...

[2016-06-30 21:33] #878 closed

[2016-06-30 22:29] timabbott opened #1153 "Move emoji to a more reasonable path"
Currently the Zulip emoji are generated by the `emoji_dump` tooling in tools/setup/, and output to `static/third/gemoji/images/emoji`.  This is both redundant and also named after a totally different emoji-related project that Zulip doesn't use.

I propose we make a new directory `static/generated/emoji` for this purpose, that both makes clear the fact the emoji data is auto-generated, and also do

[2016-07-01 04:45] Jianchun1 opened #1155 "Translations about "recipient not valid" messages may be tagged wrongly"
The two messages are used to indicate that the recipient(s) in PM is not valid. The source strings in Transifex looks strange and may be tagged wrongly:
![image](https://cloud.githubusercontent.com/assets/19701659/16511972/e7602a6a-3f88-11e6-9b20-fbd7986cfae7.png)

Also, the translations do not work.

[2016-07-01 05:32] timabbott commented on #1155
This code looks like it should work:
[code]

[2016-07-01 05:36] timabbott opened #1156 "Log output from `provision.py`."
We should log the `provision.py` output somewhere (maybe similar to how we do things in `scripts/setup/install`) in order to make it easier to get debug issues if people didn't save the terminal output.

[2016-07-01 12:35] sharmaeklavya2 commented on #1145
I didn't see any mention about backwards-incompatible changes in `python-twitter` changelog.

In `zerver/lib/bugdown/__init__.py`, we're getting info about a tweet using python-twitter. We were getting info in the form of a dict. Here is the diff:

[code]

Most changes are not very serious. There is just some change in formatting.

The big change is that the `sizes` attribute of `media` has been r

[2016-07-01 12:37] sharmaeklavya2 commented on #1145
Maybe removal of `sizes` from python-twitter was unintentional (i.e. a bug). We can contact the maintainers to find out more about this change.

[2016-07-01 15:12] Jianchun1 commented on #1016
I did almost the same as you, except the domain name. I just copied the zulip_sso.example to zulip_sso.conf too. Did you try logging out then signing in again, by which I could reproduce it some times.

Here is the settings.py:
[code]

[2016-07-01 15:26] Jianchun1 commented on #1155
I don't know what the ``", context), $("#private_message_\recipient")`` mean. I thought it might be a mistake. From translating view, it seems redundant and useless.

[2016-07-01 16:22] timabbott commented on #1145
Contacting the python-twitter maintainers sounds pretty reasonable to me; they were pretty responsive when I pinged them 6 months ago about adding Python 3 support in the first place :)

[2016-07-01 17:50] timabbott opened #1158 "Improve translations performance on subscriptions page"
This probably affects all the other pages as well, but the /#subscriptions page is currently having significant performance problems; on a server with many hundreds of streams configured it can take 10s (or 30s under profiling) to load the /#subscriptions panel.  Here's the profile:

![image](https://cloud.githubusercontent.com/assets/2746074/16529697/3858dabc-3f79-11e6-8d32-1216eec9515b.png)

If

[2016-07-01 17:59] timabbott opened #1159 "Optimize the frontend performance of narrowing"
I did some profiling of the Zulip webapp's narrowing/unnarrowing performance, and found that it's regressed to be significantly slower than it should be (currently closer to 250ms than 100ms).

Looking into the details, I notice two major issues:
-  `resize_stream_filters_container` is a surprisingly expensive operation (in terms of re); I think we should look into whether we can make the formatti

[2016-07-01 22:51] MarkCupitt commented on #903
In our environment, anything after a few minutes, no one would see an edit as the message volume is quite high,  you would need some way to notify the users in the topic, etc that an earlier message had been edited so they could review it. this is actually an issue now, for us, so we ask users to post a note saying that they edited an earlier response

[2016-07-01 23:34] sharmaeklavya2 commented on #1145
I opened an issue here - https://github.com/bear/python-twitter/issues/357.

[2016-07-01 23:40] timabbott commented on #1145
Awesome, thanks!

[2016-07-01 23:50] timabbott commented on #1155
Well only the `"The recipients __recipients__ are not valid "` part is translated; `context` here is providing a value for `recipients` to be filled in post-translation.  And the `$("#private_message_recipient")` part is just specifying where in the page the error message should show up.  So the problem here is that for some reason our frontend `i18n` system is not processing this string properly.

[2016-07-02 00:17] Jianchun1 commented on #1155
Ok, then should I keep it in translated strings?

[2016-07-02 06:20] alexandrinaw commented on #1131
What do you think about using the github api for this? Travis CI exposes a [`TRAVIS_PULL_REQUEST` Environment Variable](https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables), which could be used to form urls like https://api.github.com/repos/zulip/zulip/pulls/1115/commits that contain commit messages and shas for all the commits in a PR.

[2016-07-02 11:41] krtkmj opened #1162 "Fix `do_refer_friend()` in `zerver/lib/actions.py`"
It would be great if declaration of variable `content` is styled properly. Presently, it looks like this.

    def do_refer_friend(user_profile, email):
        # type: (UserProfile, text_type) -> None
        content = """Referrer: "%s" <%s>
    Realm: %s
    Referred: %s""" % (user_profile.full_name, user_profile.email, user_profile.realm.domain, email)
        subject = "Zulip referral: %s" % (

[2016-07-02 17:56] staranjeet commented on #1041
@timabbott : Hey, I was a little busy, so got somewhat late in submitting the PR. Submitted a PR #1165 . Please review

[2016-07-03 06:51] sharmaeklavya2 commented on #1011
Closed via #1115.

[2016-07-03 06:51] #1011 closed

[2016-07-03 12:11] kritkaran94 commented on #1162
@timabbott, @krtkmj Does the PR #1169 Make sense ?

[2016-07-03 13:29] krtkmj commented on #1162
@kritkaran94 I was talking about variable `content`. Other variable `header` and `msg` looks okay and doesn't need any change.

[2016-07-03 13:48] kritkaran94 commented on #1162
@krtkmj any suggestions as to how u feel it can be improved ?

[2016-07-03 14:06] krtkmj commented on #1162
I guess it would be more readable this way.

	def do_refer_friend(user_profile, email):
	    # type: (UserProfile, text_type) -> None
	    content = """Referrer: "%s" <%s>
	                 Realm: %s
	                 Referred: %s""" % (user_profile.full_name, user_profile.email,
                         user_profile.realm.domain, email)

@timabbott

[2016-07-03 14:10] kritkaran94 commented on #1162
Ya It looks good this way.

[2016-07-04 06:14] umairwaheed commented on #1158
@timabbott, sure.

[2016-07-04 18:57] #1076 closed

[2016-07-05 06:39] sharmaeklavya2 opened #1175 "Upgrade django-auth-ldap"
We're using 1.2.6 which doesn't support python 3. The latest version is 1.2.8, which supports python 3.

I checked the [changelog](https://pythonhosted.org/django-auth-ldap/changes.html) of `django-auth-ldap` and there don't seem to be any breaking changes. tools/test-backend and tools/test-js-with-casper also passed using 1.2.8.

Is there anything else which remains to be tested before upgrading?

[2016-07-05 10:46] umairwaheed commented on #1158
working on this now

[2016-07-05 11:10] umairwaheed commented on #1151
working on this

[2016-07-06 02:40] timabbott opened #1180 "Add UI for viewing and cancelling open Zulip invitations"
These are stored in the `PreregistrationUser` table, so it should pretty doable to build a UI displaying these somewhere in the /#administration page; I'm imagining a table that shows `(email, referred_by, invited_at)` tuples for the ones that have status STATUS_ACTIVE.

[2016-07-06 06:07] kritkaran94 commented on #1180
@timabbott  Can I take this up ?

[2016-07-06 18:27] aakash-cr7 commented on #1117
@timabbott I had the same issue as #404 on my machine. Tried re installing npm on my machine (Mac OS X)but still the problem exists. This is what the error says:

[code]

I'll try again, rebuilding the Vagrant. Any comments?

[2016-07-06 18:30] timabbott commented on #1117
@aakash-cr7 that usually means running `npm install` failed without having installing all the dependencies when you created this VM.  Try doing `npm install` from the repo of your repo (or just `vagrant provision` from outside); either should fix this for you.  And if it still doesn't work, please post the `npm install` terminal output.

[2016-07-06 18:39] timabbott commented on #1175
I have an LDAP test environment I can try this with tonight.  It seems low-risk, but also worth testing since our unit tests for the LDAP aren't really end-to-end.

[2016-07-06 20:41] timabbott commented on #1131
Yeah, that probably works.  Also worst case we can just clone the relevant PR in the check if we have the commit ID.

[2016-07-06 21:06] timabbott commented on #1155
I think so.

@umairwaheed can you take a look at this?  I just realized my @-mention of you earlier in this thread was inside a code block and thus didn't work.

[2016-07-06 21:10] timabbott commented on #903
Sounds like there's definitely a strong case for this being configurable (as designed), since people have a range of preferences.  I can definitely see arguments for organizations wanting a wide range.

Seems like the default recommendation should probably be in the 5-10 minute range (I think 2 hours may be the right choice for a forum like HN, but shorter is probably right for a chat tool).

[2016-07-06 22:18] timabbott opened #1183 "Add a mechanism to recycle (bot) user email addresses"
Currently, if you create a bot, and then deactivate it, there' no way to use the old bot's original "email address" again.

One possibly approach for this particular issue is to just offer a way for a user to reactivate their own deactivated bots (we already have a similar feature for admins on /#administration).

[2016-07-06 22:21] timabbott commented on #1180
Go for it!

[2016-07-06 22:22] timabbott commented on #1180
I think this is probably a reasonable feature to work by fetching data from the backend when the user clicks into the relevant tab of the /#administration page.

[2016-07-06 22:24] timabbott opened #1184 "Create multi-level hashes for /#administration page"
It'd be great to be able to link directly to the "org settings" part of the administration interface.  Maybe makes sense to use URLs like we do for narrows, e.g.:
- `/#administration/org-settings`
- `/#administration/users`
- `/#administration/deactivated-users`

etc.  I think doing this will involve a bit of code in static/js/hashchange.js in addition to whatever we need in admin.js and the actua

[2016-07-06 23:01] #779 closed

[2016-07-06 23:04] timabbott opened #1185 "Improve "invite users to stream" functionality for large teams"
Following #857, there are still a few things we could do to make this UI better in large teams:
- For example, if you'd added 7 users through using the new search filtering functionality in a large team, it can become quite hard to see which users you've already added to confirm that list is correct before creating the streams.  Probably the simplest way to fix that would be to have all the checke

[2016-07-06 23:21] timabbott commented on #1016
What mechanism did you use to logout?  Just the `logout` button?  Or does it need to be the session cookie expiring?

[2016-07-07 03:11] showell commented on #296
I know this issue covers a couple different use cases, but the request that resonates with me is the idea of turning spontaneous conversations among multiple people into something that's more like a stream and less like a group pm.  The original feature request was framed in terms of transient streams, but Tim brought up the workaround of using group PMs to handle the use case of discussing a topi

[2016-07-07 03:36] showell commented on #296
Here'e one strawman proposal.  Let's say I have a development issue.  If it concerns everybody, I just post it to the "devel" stream.  If it particularly affect Tim, I put "@tabbott" in the message to say that it concerns him even more.  But there's no way to say the inverse.  Let's say I have an issue that's devel, and it's not private, but only want Tim to see it.  Could there be an at-highlight

[2016-07-07 03:54] showell opened #1186 "Limited-audience topics on public streams"
Here's a use case.  Zulip is being used by an organization with 15 developers, and they all subscribe to devel.  A low-impact bug comes up, and Alice, Bob, and Charlie want to discuss it.  Alice, Bob, and Charlie don't have any specific affiliation on the team beyond this bug; it just so happens that Alice discovered the bug, Bob has been assigned to fix it, and Charlie may have checked in code re

[2016-07-07 06:25] umairwaheed commented on #1155
@Jianchun1, yes, the translated string should contain `__recipients__` as it is. This is how we add variables to the translatable strings.

@timabbott, no problem, I'll investigate why the translations are not working.

[2016-07-07 10:51] aakash-cr7 commented on #1117
@timabbott Its all working now thanks, I'll resume the work and open a WIP PR.

[2016-07-07 13:52] Jianchun1 commented on #1016
Well, just the logout button in up-right gear menu, no cookie involved.
On Jul 7, 2016 07:21, "Tim Abbott" <notifications@github.com> wrote:

[2016-07-07 18:42] timabbott commented on #296
@tabbott sorry for the confusion; @showell meant to mention me :).

[2016-07-07 20:23] showell commented on #1186
Hi Tim, likewise!  Is there a ticket for making topics have a database table?  If not, I can start one.

[2016-07-07 21:22] timabbott commented on #1186
Nope, go for it!

[2016-07-07 21:33] #1127 closed

[2016-07-07 21:58] #1156 closed

[2016-07-07 22:05] timabbott opened #1189 "Move Zulip's prompt for permission to display notifications to be manually triggered"
As brought up in #883, I think we can probably simultaneously work around the issue there and improve the Zulip user experience by deferring the "allow notifications" popup until after the user has finished the tutorial (it's kinda confusing that it pops up when it does already).

While we're at it, we probably want to make the browser popup be triggered from a message that's part of the Zulip app

[2016-07-07 22:13] timabbott commented on #1149
First the second and third issues; the `tsearch_extras` thing is still open.

[2016-07-07 22:15] timabbott commented on #1016
Sigh, this is super confusing, that's what I tested as well.  The only other idea I have is maybe you should try restarting Apache?  The issue could be some nondeterminism issue with the Apache process pool.

[2016-07-07 22:29] timabbott opened #1190 "Need to re-source Zulip virtualenv after re-provisioning"
Currently, whenever you re-provision your Zulip development environment, you don't actually use the new dependencies until you re-source the Zulip virtualenv in your shell.

I'm not sure there's a good way to fix this, but we could at least have provision.py output a loud (red) warning that the user needs to do this at the end of the provision success output (in the event that the venv changed).

[2016-07-07 22:29] showell opened #1191 "create topic ids in the database"
Currently stream topics are represented as strings in the Message table.  This decision dates back to a time when users were not allowed to retroactively change topics on prior messages, so the original implementation decision was relatively harmless and simplified some code, where we didn't need to join to another table.

As the system has grown, not having a separate table for topics that maps a

[2016-07-07 22:29] timabbott commented on #1190
@sharmaeklavya2 do you have any ideas for how we could do this nicely?

[2016-07-07 22:38] showell commented on #1186
see #1191 (topic ids in the database)

[2016-07-07 22:48] timabbott commented on #1191
The other downside we should mention of making topics a database table is that the "rename topics" UI does currently make significant use of the ability to rename topics starting at an arbitrary threshhold, so some care will be required.

I think since we don't actually access the Message table directly in many places, a single-pass migration is probably feasible for this task:
[code]

We can perh

[2016-07-07 22:54] showell commented on #1191
Muting would probably be a good litmus test for the big-bang approach.  If we were to change the database representation using a big-bang approach (i.e. don't keep the original redundant column in Message for some interim transition), would we still be able to have the muting feature use its hacky approach of storing topics as a comma-delimited list of strings without major changes?  I would guess

[2016-07-07 22:57] timabbott commented on #1191
I think we can.  And then as a phase 2, we can move the muting feature to pointing to the new table.  Presumably the new table should be triples (user, stream, topic), though I can imagine putting the `recipient` object corresponding to the stream in there for convenience.

[2016-07-07 23:03] showell commented on #1191
Ok, how about this approach?

- Change the database design in a single commit with no deprecation strategy for the old field.  Have the back end layer continue to provide the original interfaces to the rest of the codebase.  This original commit would have a big migration, and it would possibly have major changes on the topic-name-change feature, but it would leave most of the codebase alone.
- In

[2016-07-07 23:04] timabbott commented on #1191
Sounds reasonable.  For the third feature, I'd probably first want to do that migration for how the frontend thinks about Users and Streams before we do topics :)

[2016-07-07 23:09] showell commented on #1191
Can you elaborate on "do that migration for how the frontend thinks about Users and Streams"?  I don't know what you mean there.

[2016-07-07 23:17] timabbott commented on #1191
Currently the frontend refers to users by email address and streams by name, not be IDs, in the vast majority of places in the frontend code.  So by "that migration" I mean migrating the frontend to refer to these objects primarily by IDs, as you described in your third bullet.

[2016-07-07 23:27] showell commented on #1191
Oh, ok.  You're not necessarily saying that being id-aware for streams/users is a blocker for being id-aware on topics, correct, just a matter of priorities?  (although there probably are some minor interdependencies)

[2016-07-07 23:28] timabbott commented on #1191
Right, and likely we will likely learn things from working on the more core models that we can apply to the topic case (though one could also argue it's better to do it for something small first).

[2016-07-07 23:30] timabbott commented on #502
Since we fixed the things we could reproduce and can no longer reproduce an issue here, I'm going to close this.  Feel free to reopen or open a new issue if anyone can trigger this to happen again!

[2016-07-07 23:30] #502 closed

[2016-07-07 23:34] timabbott commented on #1045
This was fixed via #1120.

[2016-07-07 23:34] #1045 closed

[2016-07-07 23:37] showell commented on #1191
Fair enough.  I don't know much about the email case, but I was pretty heavily involved with refactoring stream_data.js at one point, and I'm not sure there are necessarily great lessons to be learned there, at least not any lessons that should block changes on topics.  If you look at stream_data.js, you'll see a bunch of methods that use stream_name, but there's a function called get_sub() and a

[2016-07-07 23:42] timabbott commented on #618
@Vallher do you have any partial progress code you can post, or did you not end up starting?  Just want to avoid someone doing duplicate work :)

[2016-07-07 23:43] showell commented on #1191
In some ways the lessons already learned with streams seem to be a perfect confirmation that the strategy that you and I are thinking about for topics could work.

Streams always had an id-based approach in the database, but the backend used a name-based approach.  This caused some problems for the front end, but the front end was mostly oblivious to database design and chugged along as if the dat

[2016-07-07 23:43] timabbott commented on #757
Now that Zulip has moved to virtualenvs for packages we're sensitive to the versions to, I think we can close this issue.

[2016-07-07 23:43] #757 closed

[2016-07-07 23:45] timabbott commented on #475
We've moved to a virtualenv for the vast majority of Zulip's dependencies.  That doesn't fully resolve this but it does mostly, since we will have <5 packages in our PPAs after this.

[2016-07-07 23:47] timabbott commented on #429
This was resolved via DevAuthBackend authentication support being made available for the mobile apps.

[2016-07-07 23:47] #429 closed

[2016-07-07 23:48] timabbott commented on #417
We deleted that tool; the new version is much more scalable.  So I'm closing this.  Thanks @dbiollo for reporting!

[2016-07-07 23:48] #417 closed

[2016-07-07 23:49] timabbott commented on #401
This is now resolved.

[2016-07-07 23:49] #401 closed

[2016-07-07 23:51] timabbott commented on #332
We're now using Camo in production deployments by default, so this is resolved.

[2016-07-07 23:51] #332 closed

[2016-07-07 23:53] timabbott commented on #224
We fixed this problem recently; indeed the issue was with that `flush_all` code.  Thanks @PrasannaVenkadesh for the report!

[2016-07-07 23:53] #224 closed

[2016-07-07 23:55] timabbott commented on #35
This was resolved; we now support setting a separate server for redis, memcached, etc via /etc/zulip/settings.py.

[2016-07-07 23:55] #35 closed

[2016-07-07 23:56] timabbott commented on #79
Given Wily reaches end-of-life soon, I'm going to go ahead and close this as wontfix.  Xenial support should be available soon.

[2016-07-07 23:56] #79 closed

[2016-07-07 23:57] timabbott commented on #61
I recently fixed this after running into the same issue on a Xenial VM.  Thanks for the report @royalaid!

[2016-07-07 23:57] #61 closed

[2016-07-08 00:27] showell opened #1192 "deprecate "subject" in favor of "topic""
Zulip "topics" used to be called "subjects."  The codebase is still littered with the name "subject," which can cause confusion for developers, both new and old to the project.

The first place to make changes is probably make the JS front end always use "topic" instead of "subject."  You can probably do this with a global search/replace and start seeing what breaks, either with automated tests or

[2016-07-08 00:27] showell commented on #1191
#1192 addresses renaming subject to topic in the codebase

[2016-07-08 00:59] showell commented on #1066
Yeah, tools/check_templates is a separate process from tools/lint_all, so you'd need to pass in the -m flag to check_templates and have it use it lister instead of git ls-files.  (Or I suppose you could pass in the list of files to check_templates as well.)

Here is the relevant code in check_templates:

https://github.com/zulip/zulip/blob/master/tools/check-templates#L174

[2016-07-08 04:43] sharmaeklavya2 commented on #79
I did most of my Zulip development on Ubuntu Wily (and I have shifted to Xenial just last week). I installed zulip on wily by following the install instructions for vivid. So this shouldn't have been a problem.

[2016-07-08 06:42] sharmaeklavya2 commented on #1190
Since provision.py is a child process of the current shell, we can't activate the virtualenv from within provision.py.

We can put a wrapper around provision.py and tell users to `source provision.sh` instead of `python provision.py`. But now we'll need a different way of specifying which version of python should be used for the virtualenv. Currently, `python2 provision.py` installs a python 2 vir

[2016-07-08 06:45] sharmaeklavya2 commented on #1190
Oh we can use `source provision.sh` only for python 2 and manually run `python3 provision.py` in case someone (mainly Travis) needs to use python 3.

[2016-07-08 13:42] aakash-cr7 opened #1194 ""Add custom alert word" button should display an error if the input is empty"
On the settings page, the "add alert word" button should display an error message if the input box is empty and user tries to click the button. Currently nothing happens when a user clicks the button.

[2016-07-08 16:49] timabbott commented on #1194
Yeah, that should give an error.  I imagine this is probably not hard to fix, so tagging this as bite-size.

[2016-07-08 18:00] #448 closed

[2016-07-08 18:00] #612 closed

[2016-07-08 18:01] timabbott commented on #448
A fix for this was just merged.  Thanks @hlieberman for the report!

[2016-07-08 18:01] timabbott commented on #612
A fix for this was just merged.  Thanks @kevinr for the report!

[2016-07-08 18:03] timabbott commented on #79
Yeah, the point was more that https://wiki.ubuntu.com/Releases suggest wily will no longer have security support starting this month, so there's no point in spending time on wily support :).

[2016-07-08 18:08] #1175 closed

[2016-07-08 18:08] timabbott commented on #1175
Test worked fine, so I just merged an upgrade to 1.2.8.  Thanks @sharmaeklavya2!

[2016-07-08 18:10] #1141 closed

[2016-07-08 18:11] timabbott commented on #1141
Fix merged, thanks again @alexandrinaw for your help debugging this!

Next we can work on the jQuery 1.9 upgrade :)

[2016-07-08 18:14] timabbott commented on #245
Based on their version history, I think fixing this just involves upgrading https://github.com/weixiyen/jquery-filedrop.

We have patched it in a few ways, but probably it's worth upgrading to use the current upstream version (and seeing which of our patches we don't need anymore).  You can see our patches here:

`git log --follow static/third/jquery-filedrop/jquery.filedrop.js`

[2016-07-08 18:33] timabbott opened #1196 "Upgrade jquery to 1.11"
This would bring our version of jquery to be current, and likely result in various performance improvements!

The hard part will be upgrading to 1.9; in that 1.10 and 1.11 don't claim to have any backwards-incompatible changes.  See:

* https://jquery.com/upgrade-guide/1.9/
* https://blog.jquery.com/2013/05/24/jquery-1-10-0-and-2-0-1-released/
* https://blog.jquery.com/2014/01/24/jquery-1-11-and-2

[2016-07-08 18:33] timabbott commented on #1196
Contributions are definitely appreciated on this one, even if they're just fixing a few small issues.

[2016-07-08 18:36] timabbott commented on #1066
Yeah, this should be pretty quick; we can just use `lister.py` like the other linters too, and then add a bit of code to make the check at the end for "enough templates were checked" only file if we didn't pass `-m`.

@umairwaheed do you want to take a look at this?

[2016-07-08 18:43] showell commented on #1066
@timabbott I was actually gonna take a stab at this, if you don't mind, or I'm happy to review a diff.  The basic idea would be this:

- clean up check-templates a bit and extract methods to check_handlebar_files and check_django_files that don't do the deprecated git subprocess stuff
- have check-templates use lister (I want to maintain the ability to call check-templates directly)
- have check-t

[2016-07-08 18:44] timabbott commented on #1066
Go for it!  I think it's fine to still use subprocess; there's no perf benefit and it's probably easier to understand the flow that way.

[2016-07-08 18:44] showell commented on #1066
sounds good

[2016-07-08 19:48] #1094 closed

[2016-07-08 21:30] showell commented on #1066
#1197 is the pull request.  It breaks the build, because I left off parens in a print statement.  I can fix that or let you fix it, whichever is more convenient.

[2016-07-08 21:55] timabbott commented on #1190
Given that one can also provision via `vagrant provision`, maybe we should just do the warning message thing.

But I have an interesting idea.  In theory, it's possible to make the virtualenv tooling not follow symlinks to the absolute path.  We could try changing in `/srv/zulip-venv/bin/activate` this value:

`VIRTUAL_ENV="/srv/zulip-venv-cache/2889ae073b1f3c3452816511f85666c4651f7816/zulip-venv"

[2016-07-08 23:22] timabbott commented on #990
I've now merged a solution to the pgtune issue, so Zulip should now install fine in production on Ubuntu Xenial.  Remaining TODOs:
* [ ] Get additional confirmed tests of installation on Xenial.  One can test installing with this tarball: https://www.dropbox.com/s/xcrj5oyb4mra5de/zulip-server-xenialtest.tar.gz?dl=0
* [ ] Do a Zulip server release with the new code
* [ ] Update documentation

[2016-07-08 23:37] timabbott commented on #1066
Fixed via #1197.  Thanks @showell!

[2016-07-08 23:37] #1066 closed

[2016-07-08 23:49] timabbott commented on #158
@bgilbert what are your thoughts on the UX experience in #1101?

[2016-07-09 06:23] showell commented on #1000
See #1199, which partially addresses rate_limit code paths and fully addresses to_non_negative_float (which is just dead code on master now).

[2016-07-09 13:05] brainwane commented on #669
Working on this today.

[2016-07-09 15:08] timabbott commented on #1000
Cool, converted the issue description to use checkboxes and checked the `to_non_negative_float` one; can we also check one of the rate limiting ones?

[2016-07-09 17:06] showell commented on #1000
I didn't completely cover the rate_limit() function itself, because I was timid about sanctioning the strange user-not-there logic with a test.  On the other hand I think "some rate_limit code paths" is broad enough to apply to the part that I didn't cover.

[2016-07-09 17:24] showell opened #1203 "Address TODO in rate_limit()."
We have this code in decorator.rate_limit():

[code]

There are three things we might want to address here:
- If setting.RATE_LIMITING is False, we should probably short circuit rate limiting in client_is_exempt_from_rate_limiting(), and not waste time checking for a valid user and possibly polluting the error log.
- If request.user is not set, we might want to consider throwing an error rather th

[2016-07-09 19:37] showell opened #1207 "Django-Pipeline upgrade breaks dev setup"
I'm probably doing something wrong here, but I've isolated the commit that breaks my dev setup for running tests as 043ae8ad657df2c2088ab42bc1b7ecb0a65dc2c5

[code]
I'm mostly interested in fixing this in my own environment and being done with it, but maybe there's a way to make the dev environment more robust or least fail more clearly.

[2016-07-09 19:51] timabbott commented on #1207
Did you run provision.py and re-source your virtualenv?  One needs to do
that whenever rebasing past dependency changes.  There's an open issue for
at least giving a warning.

-Tim Abbott (mobile)
On Jul 9, 2016 12:37 PM, "showell" <notifications@github.com> wrote:

[2016-07-09 20:17] showell commented on #1207
Ok, running provision.py and then re-ssh-ing into vagrant did the trick for me.  There's probably an opportunity to make the troubleshooting guide even more clear on this, but feel free to close the issue.  Thanks for the quick response.

[2016-07-10 00:26] timabbott commented on #1203
Yeah, agreed, we probably want to do rate-limiting by IP or something in the case of `request.user` not being set (since we do have some views that don't require authentication, and it'd be good to be able to protect against abuse there).

[2016-07-10 00:57] timabbott commented on #1207
Yeah, there's definitely opportunity to improve the experience for dependency changes.

[2016-07-10 00:57] #1207 closed

[2016-07-10 03:32] showell commented on #1191
pull #1209 is a very raw first cut at solving this

[2016-07-10 18:16] timabbott opened #1211 "Refactor code duplication with mock request objects in our backend tests"
From #1199: We could probably with some work on test helpers decrease the code duplication involved in setting up some of our decorator tests that use a mock request object.  For example, we have a class PostRequestMock in test_helpers.py that we might be able to use or adapt to support this sort of use case.  Right now the duplication level isn't too bad:

[code]

but it's probably at the point w

[2016-07-10 18:35] timabbott opened #1212 "Fix potential nondeterministic test failures due to rate limiting"
See https://groups.google.com/d/msgid/zulip-devel/c3d4c7d9-4b55-40b7-bdc9-f2e49ee04b43%40googlegroups.com?utm_medium=email&utm_source=footer for context.

There's a bug here that we don't clear the redis server's data that the tests use.  So since the `zerver.tests.tests.TestMissedMessages.test_extra_context_in_huddle_missed_stream_messages` test uses a fixed set of redis keys, if that test crashe

[2016-07-10 18:58] #903 closed

[2016-07-10 18:58] timabbott commented on #903
The message editing setting was just merged; will likely merge the duration setting tomorrow.

[2016-07-10 19:12] timabbott commented on #1051
I think we probably are going to want to do something of this form, the question is what.  I think we should start with creating labels that solve practical purposes, so some ideas I'd consider are:
* A label for feature ideas that match the "new feature tutorial" process and thus are good larger projects for contributors new to the codebase
* Maybe doing a skim of https://github.com/zulip/zulip/m

[2016-07-10 19:13] timabbott commented on #1051
(Also, if someone wants to email the Coala folks to ask for their experiences on their system and post the reply here, that'd be awesome!)

[2016-07-11 00:32] timabbott opened #1214 "Document new message edit policy rules in security section of README.prod.md"
The new message editing policy seems significant enough it should get added there.

Also, while we're at it, we should do the same for the new Attachment logic.

Might want to hold off on this until #669 is finished though.

[2016-07-11 08:16] sharmaeklavya2 commented on #256
I realized that some modules in Twisted are missing in python 3. On looking it up I found this - http://twisted.readthedocs.io/en/twisted-16.1.1/core/howto/python3.html.

According to this document, only python 3 compatible sub-packages of Twisted are installed in python 3.

We are using the following modules in Zulip. I have ticked the modules which are available on python 3 in the latest version

[2016-07-11 08:46] bgilbert commented on #158
@timabbott Commented over there.

[2016-07-11 18:24] timabbott commented on #256
OK we'll need to upgrade for `run-dev.py` since that uses twisted.web.proxy as well.

[2016-07-11 18:32] timabbott commented on #256
For twisted.mail.imap4: there's basically two options here:

* We could try to replace `twisted.mail.imap4`, since we only use it for one thing (the IMAP mode of the email mirror) and it's possible https://docs.python.org/3/library/imaplib.html would cover that use case reasonably well.  This would remove our need for twisted in production altogether, which is probably net nice.
* We could try to

[2016-07-12 03:48] timabbott opened #1221 "Make `generate-fixtures` faster in the case nothing needs to happen"
I did some profiling as to where the time goes in `generate-fixtures`, and it's basically as follows on my system:
* 2.5s total (0.6s is `test-backend`'s own `./manage.py test` Django startup, which would be hard to eliminate).
* 1.8s total time for generate-fixtures (out of ~2.5s total, so a lot!)
* 0.65s per `manage.py` call (there are 2 -- one to get migrations,).   `./manage.py help` takes 0.6

[2016-07-12 04:50] timabbott opened #1223 "Improve colors in our pygments configuration"
Our default syntax highlighting of code blocks colors inline code block text in red, which I haven't seen a lot of other projects do and is probably just a mistake.

You can see some of how this looks in our integration docs:
https://zulip.com/integrations/#nagios
though of course we use the same color scheme in-app.

We should perhaps do a look through pygments.css, fix this, and think about if t

[2016-07-12 15:36] brainwane opened #1227 "i18n for integrations"
Zulip integrations (e.g., [Pivotal](https://github.com/zulip/zulip/blob/master/zerver/views/webhooks/pivotal.py), [CircleCI](https://github.com/zulip/zulip/blob/master/zerver/views/webhooks/circleci.py)) currently use hardcoded English strings instead of using the localization/internationalization message translation framework.

[2016-07-12 16:04] timabbott opened #1228 "Clean up (semi-)duplicated content in integrations documentation"
Ideally we'd have the common parts (e.g. the intro, discussion about creating a bot, etc.) of our integrations documentation be handled via some sort of include mechanism, to decrease the amount of new text we need to write for each new integration.

This is also an important prerequisite for #1227.

[2016-07-12 16:04] timabbott commented on #1227
I think before we can really work on this we need to dramatically decrease the (semi-)duplication of text in the integration documentation.  At present, internationalizing the Zulip integration text would be too much text and make it hard for translators to keep up.  I opened #1228 for that issue.

[2016-07-12 16:05] urthbound opened #1229 "Year should show up in inter message ui"
For long running servers (multiple year) back searching can yield ambiguous results with only month/day and no year indication.

<img width="564" alt="screen shot 2016-07-12 at 12 04 34" src="https://cloud.githubusercontent.com/assets/4204764/16774154/d306fe10-4828-11e6-823a-14458dcfe03e.png">

[2016-07-12 16:17] timabbott commented on #1229
Agreed we should fix this.  I think it should be a small tweak to
`render_now` in:
https://github.com/zulip/zulip/blob/master/static/js/timerender.js

Probably the way to do this nicely is to only display the year if it's
different from this year.
​
(GitHub is busted right now so replying by email).

[2016-07-12 16:58] idbrii commented on #1151
There are two notification config values: stream notifications and @-mention notifications. As a new user (enjoying zulip -- it's great!), I assume this is so I can mute streams and catch up on them later, but get still notified for something "important". I assumed @-all is intended to signal something "important." Mentioning me by name obviously signals something important.

Do you think @-all sh

[2016-07-12 17:37] rishig opened #1230 "Write a good webhook integration for the documentation"
The current webhook integrations referenced in http://zulip.readthedocs.io/en/latest/integration-guide.html (stash and zendesk) are not up to date. For instance, they use `@authenticated_rest_api_view` instead of `@api_key_only_webhook_view`. It would be great to have a commented, up to date integration example that someone new to zulip could essentially just copy.

The tasks involved are
* Modify

[2016-07-12 17:40] timabbott commented on #1230
#1178 should resolve this.

[2016-07-12 18:34] urthbound commented on #1229
@timabbott: Thanks that is a good breadcrumb. I will see if I can get a patch in for it.

[2016-07-12 18:52] showell commented on #1002
#1232 addresses create_user_backend coverage, which I believe is what you mean by the create_user API route.  (The URL is /json/users.)

[2016-07-12 18:52] timabbott commented on #1002
Yep, that's right.

[2016-07-12 19:43] timabbott opened #1235 "Add documentation for how to use the Zulip install script for dedicated postgres/redis/rabbitmq servers"
With ongoing changes to scripts/lib/install being worked on as part of #450, it should soon be possible to install a server for any Zulip role using the main Zulip install script, using e.g.:

[code]

We should document this feature in the part of the Zulip in production documentation where we discuss how one can use separate servers for postgres/redis/rabbitmq/etc..

[2016-07-12 19:53] showell opened #1236 "fix indentation of legacy HTML templates"
If check-templates, we suppress indentation checks for all Django templates due to many legacy files having unusual indentation.

We should do two things:
- Only set check_indent to False for existing files with issues.
- Clean up the legacy files over time.

I'm going to start to work on the first item for now.

[2016-07-12 20:36] phansen01 commented on #1194
I had this half-done on a local commit when I originally did the UI rework for alert words; I should be able to finish it up pretty quickly.

[2016-07-12 20:39] timabbott commented on #1236
Plan sounds great!

[2016-07-12 20:40] timabbott commented on #1194
@phansen01 great!

[2016-07-12 20:59] rishig opened #1239 "Document front end UI model"
We should document the story / underlying intent for things like fading, narrowing, etc.

Original:
Clicking on a message causes a fade to either the stream or topic of the clicked message. Clicking on various buttons (e.g. the icon-vector-chervon-down in message_controls, or the icon-vector-pencil that shows up when you hover over a message you can edit), the edit topic pencil in the message head

[2016-07-12 20:59] timabbott commented on #1151
We could certainly think about making it a separate setting.  Perhaps the problem here is that people using muting for two purposes:
* As you describe, so you can mute a stream and catch up on it later (but you're still following it and care about important notifications to members of that stream).
* To have a stream conveniently available in the UI so it's handy for you to look through it occasio

[2016-07-12 21:02] timabbott commented on #1239
Fading is controlled by whether or not the compose box is currently open and composing to a recipient set different from that of the message.  I think that's a good model from the perspective of being a consistent and clear story.

Clicking on a message's body opens the compose box to reply to a message, thus triggering a fade, but the fading is actually an indirect effect -- if you were to just o

[2016-07-12 22:49] urthbound commented on #1229
PR at https://github.com/zulip/zulip/pull/1241

[2016-07-12 23:00] timabbott commented on #1042
@kkampardi any progress on this?  Let me know if you're stuck on something :)

[2016-07-13 00:42] timabbott commented on #1002
Looks like avatar is done now too, so checked that one off :)

[2016-07-13 00:47] rishig opened #1243 "casper: create high level functions for navigating through the app"
There are navigation actions common to many casper tests, such as changing to the admin tab, going to the home page, going to the streams page, etc. The hard part of doing the navigation is writing the correct waitFor.. statement, so that the page is fully loaded before you proceed with the test. Currently, tests implement this in a haphazard way, creating potential race conditions (see below) and

[2016-07-13 00:48] timabbott opened #1244 "Intermittant Casper fails with i18n test"
@umairwaheed I've seen this set of 2 Casper failures happen a few times recently in random pull requests; can you investigate?

https://travis-ci.org/zulip/zulip/jobs/144292709

If I had to guess, the selector we're waiting for after reloading the page isn't the right one, and so sometimes it is checking before that section of the page is initialized.

If you're having a hard time figuring out wha

[2016-07-13 01:02] timabbott commented on #735
Oops, sorry for the slow reply!  The answer is basically no, I think we shouldn't support that.

[2016-07-13 01:08] brainwane commented on #669
@timabbott I'd like to reopen this for #1218.

[2016-07-13 01:18] brainwane opened #1245 "polish "Zulip in production" documentation"
Following up from #669 and #1219:

- [ ] Turn README.prod.md into a new "Zulip in production" top-level index-like page.
- [ ] Turn `prod-health-check-debug.md` into a "troubleshooting" section, either in or linked to from the end of `prod-install.md`, and remove it from the step-by-step sequence
- [ ] Shorten more of the page names to fit in one line :)
- [ ] Fix the link in the "making Zulip awe

[2016-07-13 01:22] timabbott commented on #669
Done (This got auto-closed due to the `fixes` in 3f90f9e29e6a3c90dbcc15721df2753ce7820194)

[2016-07-13 01:28] showell commented on #1236
Part 2 of this ticket is still open for any volunteers.  Cleaning up the HTML should be straightforward in some cases, but there may be a few things to clarify in terms of style guidelines, etc.

[2016-07-13 01:31] timabbott commented on #1236
Updated the labels to make that clear.  If anyone wants to work on this, I'd recommend doing one commit per file so it's easy to merge incrementally.

[2016-07-13 01:37] timabbott commented on #1236
0b7788be6bb66989082d7df6b707fde1eaa784e3 and d424813687a781504836bb7a78f940001ba27913 are some good examples of doing this.

[2016-07-13 01:39] showell commented on #1236
I assume we no longer need to put the `</p>` tag on the end to cut off trailing whitespace, correct?

[2016-07-13 03:36] timabbott commented on #1132
Updated this to reflect that @staranjeet has done the first 3 commits of this :)

[2016-07-13 03:39] timabbott commented on #1236
We don't for that, but we do need to be careful with things like code blocks (and actually I noticed a small bug in my `deactivated` refactoring where I lost the `.` at the end of the sentence)

[2016-07-13 03:41] timabbott opened #1249 "Signup for deactivated realms throws an error after confirmation"
If you deactivate a realm using e.g. `./manage.py deactivate_realm zulip.com` and then go through the registration flow, it currently doesn't give you an error about the realm having been deactivated until after you click the email confirmation link.  It seems like we could reject you earlier.

[2016-07-13 04:44] timabbott opened #1253 "Add more colored output to install/upgrade scripts"
It'd be really nice to have colored output messages in `upgrade-zulip` indicating:
- that the server should still be running, when it starts (since runtime can be long)
- when the downtime is actually starting
- when it ends, possibly including the total time the server was actually down.

One can get the colors codes from zulip_tools.py.

It probably makes sense to do similar enhancements to `scr

[2016-07-13 04:48] #1229 closed

[2016-07-13 04:49] timabbott commented on #1229
Cool, thanks for closing @urthbound!  In the future you can put e.g `Fixes: #1241`  in the commit message of the commit that fixing the bug, and the issue will get auto-closed :)

[2016-07-13 04:54] urthbound commented on #1229
Ohhh good to know.

Does it have to be in the main msg or anywhere in the description?

This is good info, I don't use the github ui / workflow for merging at work, just commenting.

Also I didn't realize you were on rc zulip or I would have pinged you there to talk about it.

In any case thanks for the quick merge!

[2016-07-13 04:55] timabbott commented on #1229
Anywhere in the description works in GitHub.  Usually I just put it in a new paragraph at the end of the commit message.

[2016-07-13 04:56] timabbott commented on #1229
(and thanks!  I'm proud of how fast we're able to merge correct code!)

[2016-07-13 11:13] sharmaeklavya2 opened #1256 "Twisted doesn't fully support python 3"
#256 is getting too big, so I'm copying the [Twisted sub-issue](https://github.com/zulip/zulip/issues/256#issuecomment-231669436) here.
This will probably involve a lot of discussion, so it's better to keep it a separate issue.

[2016-07-13 11:13] sharmaeklavya2 commented on #1256
I realized that some modules in Twisted are missing in python 3. On looking it up I found this - http://twisted.readthedocs.io/en/twisted-16.1.1/core/howto/python3.html.

According to this document, only python 3 compatible sub-packages of Twisted are installed in python 3.

We are using the following modules in Zulip. I have ticked the modules which are available on python 3 in the latest version

[2016-07-13 11:16] sharmaeklavya2 commented on #1256
https://github.com/zulip/zulip/issues/256#issuecomment-231823280 - @timabbott's comment in #256 on what can be done about `twisted.mail.imap4` in email-mirror.py.

[2016-07-13 11:29] umairwaheed commented on #1244
Hmm, I am checking for documentElement, `<html>`, tag. I'll check it out.

Sure, will let you know. I'd like to give it a shot first though. Thanks.

Sure, will try that. Upload to AWS?

[2016-07-13 12:02] sharmaeklavya2 commented on #1256
tools/run-dev.py doesn't work with the latest version of Twisted. It gives this traceback:

[code]

It's seems that Twisted expects URIs to be `bytes` instead of `str` here. I think this is wrong, but I changed the URIs to bytes anyways to see what happens. I still got some errors. I kept fixing them until I got a traceback consisting only of functions in Twisted, so I couldn't go any further from

[2016-07-13 17:08] phansen01 commented on #1194
Here's a gif of what I came up with:

![screen capture on 2016-07-13 at 12-01-46](https://cloud.githubusercontent.com/assets/12517033/16812374/6f155454-48f2-11e6-9eb4-7881015c10c2.gif)

everything look alright?

[2016-07-13 17:51] timabbott commented on #1212
The proximal issue has been resolved via a commit from #980, but the general issue remains.

[2016-07-13 17:55] #538 closed

[2016-07-13 17:56] timabbott commented on #538
A fix to this was merged today; @danshev thanks again for the bug report!

[2016-07-13 18:05] timabbott commented on #1194
Looks pretty reasonable!  In case it matters, I'd probably put this just above the `Add` box rather than just below the text, so the error will still be nicely visible even if the user has a ton of alert words.

[2016-07-13 18:08] brainwane opened #1262 "add instructions for installing APNS certs to docs"
Copy [Vignesh Sankaran's instructions](https://groups.google.com/forum/#!topic/zulip-devel/I9Y0EAoC_Co) (for installing Apple Push Notification Service certificates) from the zulip-devel mailing list to a document in `/docs/`. (I presume this is something you only need for production installations, so maybe it should go in that section of the docs.)

[2016-07-13 18:09] timabbott commented on #1262
Yeah, this is worth doing.  Ultimately we'll likely want to have a central bouncer service run by zulip.org for push notifications so that individual Zulip sites don't need to do setup work to use the mobile apps.

[2016-07-13 18:33] alex commented on #1042
Not sure exactly which logic you're using from python-social-auth, but one feature I'd find super valuable would be auth using github teams (https://github.com/omab/python-social-auth/blob/master/docs/backends/github.rst#github-for-teams)

[2016-07-13 19:02] timabbott commented on #1244
Yeah, upload to AWS is probably the right approach.  We can break it into its own issue though.

[2016-07-13 19:04] timabbott opened #1263 "Upload casper failure images to S3 on Travis CI failures"
We occasionally get Casper failures in Travis CI that are hard to reproduce locally.  It would probably help with debugging these if we got Travis CI to upload the screenshots that Casper takes to S3.  This seems to be the docs for doing this:

https://docs.travis-ci.com/user/uploading-artifacts/

If someone wants to work on this, you can develop it by signing up your personal repo with Travis CI

[2016-07-13 19:04] timabbott commented on #1244
Opened https://github.com/zulip/zulip/issues/1263 for the AWS upload approach.

[2016-07-13 19:17] timabbott commented on #1256
Hrm.  What do you think our strategy should be here?  Options include:
* We could replace twisted as the thing we use to proxy in `run-dev.py`.  This isn't crazy, since we don't make particularly intensive used of it.  For example, it would probably be pretty doable to rewrite it using Tornado, which we're using anyway for the event system (`zerver/management/commands/runtornado.py`, where we've h

[2016-07-13 23:08] rishig opened #1267 "Topic editing in recipient_row should show the same options as topic editing in message_edit_form"
There are two ways to change the topic of a message:
* Via `.message_edit_topic` in message_edit_form.handlebars (appears when you edit the message as a whole)
* Via `.always_visible_topic_edit` or `.on_hover_topic_edit` in recipient_row.handlebars (appears when you click the icon-vector-pencil in the recipient row)

Editing the topic in message_edit_form opens a dropdown with the option to propog

[2016-07-13 23:13] timabbott opened #1268 "Improve check-templates error handling for unbalanced quotes within a tag"
Our template linter is good at flagging incorrect HTML, and provides blocks of offending lines in some cases, but if you delete (or add an extra) `"` in just about any tag, you get a fairly unhelpful exception like this from the linter:

[code]

`get_html_tag` has the offset of the start of the tag it's trying to match, and it'd be great to be able to indicate something clear to the user about whe

[2016-07-13 23:25] timabbott opened #1269 "Alert words UI doesn't use correct data flow for error handling and propagation"
`alert_words_ui.js` is structured differently from most of our UI settings.  Usually, the way UI settings features work is as follows:
- when a user clicks the "add" button to create a new alert_word, we may do some input validation and report an error if appropriate.  If validation passes, we send an AJAX request to the server requesting the update.  Since that request could fail, we don't update

[2016-07-13 23:28] rishig opened #1270 "CSS for line wrapping topic edit propagation dropdown"
See pictures below. The relevant handlebars code is in `static/templates/message_edit_form.handlebars`, and the css is in `static/styles/zulip.css`

Good: the topic propagation dropdown is set off nicely from the topic text input box:
![good](https://cloud.githubusercontent.com/assets/890911/16823146/ac1df5c6-4916-11e6-9f02-694854e62286.png)

Bad: when the window narrows, and the dropdown wraps to

[2016-07-13 23:28] timabbott commented on #1192
The main challenge with this is the API.  I think to start we should make our API endpoints that take a "subject" take a "topic" (but still accept "subject") -- then we can remove support for "subject" in APIv2.

[2016-07-13 23:48] timabbott commented on #132
Now that #1104 is merged, I think we have full internationalization support done (though there are a few follow-up tasks).

The main things that still needs to happen on this front are:
* Prominently documenting Zulip's i18n support.
* Translating more strings in Transifex!

I'll plan to close this issue once the documentation piece is done.

[2016-07-13 23:58] rishig opened #1272 "Hitting enter in recipient bar topic edit doesn't do anything"
After editing the topic from the recipient bar, hitting enter should do the same thing as clicking on the checkbox. You'll need to log in as admin or find a message with no topic to be able to get to this input box.
![bad2](https://cloud.githubusercontent.com/assets/890911/16823740/0c4ad46a-491b-11e6-99f6-29f8ea20b045.png)

[2016-07-14 00:23] rishig commented on #1272
Possibly relevant, from `message_edit.js`. Is there already an issue about this?

[code]

[2016-07-14 00:58] rishig opened #1273 "Topic editing box: current topic should be a placeholder when the topic is "(no topic)""
The box with "(no topic)" below should clear when the user starts typing (or when the user clicks on the box). One way to do this is using the html placeholder attribute. Alternatively, the box can just start out empty, which is the current behavior for the topic edit box in the recipient bar.

I'm guessing this will require a change in `static/templates/message_edit_form.handlebars` and a change

[2016-07-14 02:23] timabbott commented on #1272
I bet what's going on here is that we have two items with ID `message_edit_topic`, one for the topic part of the larger message edit form, and one for the inline topic edit.  That code is for the larger message edit form, and makes sense in that context.  I suspect an easy fix would be to change the ID for the inline topic edit form.

[2016-07-14 02:55] staranjeet commented on #1135
@timabbott I can take this up.

[2016-07-14 03:01] staranjeet commented on #1132
@timabbott : remote_cache_prefix and memcached_prefix should be moved to `var` or any specific sub directory within var?

[2016-07-14 03:04] timabbott commented on #1132
The `var/` root is probably fiefine for those

[2016-07-14 03:05] timabbott commented on #1135
This is a big project, so think multiple people could effectively work on this.  Do you want to pick a particular subproblem (maybe #1121) @staranjeet?

[2016-07-14 03:10] staranjeet commented on #1132
@timabbott : Also JSON_PERSISTENT_QUEUE_FILENAME is already in var/log. It is defined in `ZULIP_PATHS` and [this](https://github.com/zulip/zulip/blob/master/zproject/settings.py#L802) updates it to `var/log` directory for development environment.

[2016-07-14 03:12] staranjeet commented on #1135
Sure, Will look into #1121

[2016-07-14 03:12] timabbott commented on #1132
Yeah, but JSON_PERSISTENT_QUEUE_FILENAME isn't a log file, so I think we should move it another subdirectory, so I included it above as still needing work.

[2016-07-14 03:13] staranjeet commented on #1132
ok, will add a check for it then.

[2016-07-14 04:00] #709 closed

[2016-07-14 04:07] #1194 closed

[2016-07-14 04:48] showell opened #1276 "Follow up on avatar tests"
A couple more tests are about to hit master that cover code paths relating to avatars, particularly bots.  This is a follow-up ticket to clean up two of the new tests as well as some of the pre-existing tests:

These two tests that are about to hit master have TODOs to actually check that avatars were uploaded to our user storage:

[code]

We should add a little helper function to check that user-

[2016-07-14 05:02] showell commented on #1276
For non-avatar uploads, we have a few variations of this idiom as well:

[code]

We might want something like `self.assertUrlServesContentsOfFile` for our tests that deal with uploaded files (for either messages or avatars).

[2016-07-14 05:53] rishig opened #1277 "See password button on login page"
The login page should have a button that allows you to see the password you're typing.

[2016-07-14 05:54] #1002 closed

[2016-07-14 05:59] timabbott commented on #1277
Hmm, is that best practice for a web application?  I'm not aware of other web applications that have such a feature (though that feature is common for e.g. wireless password tools for some reason).

[2016-07-14 06:12] rishig commented on #1277
oh, maybe not. I personally really appreciate it when it's there, but now that I think about it that's probably because I have a keyboard layout that doesn't match my keyboard. Happy to delete.

[2016-07-14 11:30] umairwaheed commented on #1155
Looking at this now.

[2016-07-14 17:01] showell commented on #1192
Some low-hanging-fruit changes are to find variables with names like `expected_subject` in the tests and change them to names like `expected_topic`.  These are not likely to have wide-ranging impacts in the code.

Also, there is a method called Message.topic_name() now that should allow this transformation everywhere: `s/message.subject/message.topic_name()`

[2016-07-14 18:09] timabbott commented on #1277
Yeah, thinking about this more, I think it'd introduce a security issue if we made this change -- if you're using a password manager but have configured it to not let a user get the password without re-typing the password manager's master password, this feature would make it possible for someone borrowing your computer for a few minutes to steal your password directly in the browser (which wasn't

[2016-07-14 18:09] #1277 closed

[2016-07-14 18:29] timabbott opened #1280 "Consider renaming `Realm` table to `Organization`"
Since we've been going with "Organization" as the name of a Zulip realm in user-facing documentation, it probably makes sense to think about renaming the Realm table to Organization (or Org?) to decrease the number of words on needs to translate when using Zulip.

The main downside is that "Organization" is pretty long; we'd probably abbreviate variable names as `org` and we might decide we want t

[2016-07-14 20:02] timabbott commented on #1042
@umairwaheed it looks like @kkampardi isn't working on this anymore; can you take a look at integrating django-social-auth and in particular the GitHub integration?

[2016-07-14 20:44] timabbott opened #1281 "Improve linewrapping algorithm for Zephyr mirroring system"
Here's how I'd recommend doing this:
- write a little test suite for the wrapping function (https://github.com/zulip/zulip/blob/master/bots/zephyr_mirror_backend.py#L78) for some simple cases.
- whenever one finds something that wraps poorly, fix it and add it to the test suite.

I'd happily and review pull requests to do this; also folks should feel free to post test cases that perform poorly on

[2016-07-14 21:59] timabbott opened #1282 "Update version of Tornado"
We should update the version of Tornado used by Zulip to a current version.

We have some code for Tornado 3 support in zerver/lib/tornado_ioloop_logging.py, so this shouldn't be too hard, but I remember the last time I tried upgrading it didn't "just work"; if I recall correctly, I think we had some issues with the Casper tests.

We actually until recently ran Tornado 3 in production, though, so

[2016-07-14 23:09] timabbott opened #1284 "Eliminate settings.ZULIP_COM and settings.VOYAGER settings"
Each of the places where we check one of these settings actually should be checking some other option that is directly configurable by sites that want to use them.  Here are some examples from `git grep ZULIP_COM`:

* [ ] `zerver/decorator.py` and `zerver/management/commands/*.py`: Should actually be checking for `zilencer` being in `INSTALLED_APPS`, since that's what controls this behavior.
* [ ]

[2016-07-15 00:37] rishig opened #1286 "Clean way to handle frontend pluralization"
We'd like to have user facing messages of the form `i18n.t("Users can now edit topics for all their messages, and the content of messages which are less than __num_minutes__ minutes old.")`, where `num_minutes` is user set. The pluralization of minutes can be handled by a simple if statement in English, but should be handled in a more principled way for i18n.

The package we use (i18next) does see

[2016-07-15 03:50] brainwane opened #1288 "Upgrade suggested Vagrant version?"
The docs currently suggest developers use Vagrant 1.8.1 (December 2015). The current version is 1.8.4. According to [the Vagrant changelog](https://github.com/mitchellh/vagrant/blob/master/CHANGELOG.md), there are breaking changes between 1.8.1 and 1.8.3.

[2016-07-15 06:50] umairwaheed commented on #1042
Sure.

[2016-07-15 13:52] showell commented on #1191
see #1289 now for ongoing development

[2016-07-15 14:03] showell commented on #1019
Dev effort on this should work off of #1289, which is the branch for #1191.  When we start having topic ids, we can probably replace UserProfile.muted_topics with something like UserTopics.muted.  We would need to create the UserTopics table.

[2016-07-15 14:10] showell opened #1291 "Use topic ids in the front end"
Once we have #1191 completed, we should take advantage of having topic ids in the database by using topic ids in our front end client.  (For this ticket our v2 API is not in scope, but the same thing would apply there).

There are two reasons to have the front end be topic-id aware.  The first is simply performance.  We can send down the name of the topic once, and then all subsequent payloads tha

[2016-07-15 14:13] showell commented on #1019
see also #1291, which addresses having the front end know about topic ids

[2016-07-15 14:49] krtkmj opened #1292 "Track number of subscribers in case of large organisations."
As @timabbott commented in #749 (see comment [here](https://github.com/zulip/zulip/pull/749#issuecomment-232193761)), it would be great to track just number of subscribers rather than the list of subscribers in case of large organisation.

And, probably add an user search box to search users subscribed to a stream in stream settings for large organisation.

[2016-07-15 15:27] showell commented on #1280
My vote is to keep "realm."  It's not overloaded with meaning, and it's easy to grep for.

Like you, I'm meh on "Instance" and strongly opposed to "Team."  "Site" is already taken by Django.

There are 89 uses of "org" in the Python code.  I didn't filter out "forge" or "bitbucket.org" in my search, though.

Aside: Do we have a ticket anywhere that addresses Slack as a competitor?  We probably wan

[2016-07-15 17:28] aakash-cr7 opened #1293 "Stream color picker seems to be fixed on scroll?"
On subscription page, when we click to select stream color, the stream color picker seems to be fixed (See screenshot). So as we scroll down, the color picker stays fixed. Is this kind if behavior intended or should it be changed?

![screen shot 2016-07-15 at 10 50 55 pm](https://cloud.githubusercontent.com/assets/7534680/16883007/7ac990aa-4adf-11e6-809d-58e70271a013.png)

[2016-07-15 17:29] christi3k commented on #1288
Vagrant 1.8.1 is the version I tested with across all platforms. Before we update the recommended version, we should probably make sure 1.8.4 works as expected.

[2016-07-15 17:30] timabbott commented on #1293
Sounds like a bug to be!

-Tim Abbott (mobile)

On Jul 15, 2016 10:28 AM, "Aakash Tyagi" <notifications@github.com> wrote:

[2016-07-15 18:13] #1155 closed

[2016-07-15 18:20] rishig opened #1295 "Uncomment 10-admin.js tests once #1243 (navigate around app in casper) is fixed"
Pull requests #1294 and #1265 comment out a bunch of casper tests due to not knowing how to properly switch to the home tab. Once we figure that out (e.g. by resolving Issue #1243), we should add the tests back in.

[2016-07-15 18:27] timabbott opened #1296 "Write documentation about how Zulip is different from IRC/Slack/etc."
As noted in #1280, we should write up some documentation explaining how Zulip is different from other group chat products.  One important question we'll need to decide on before starting is whether we want to write this in markdown (for ReadTheDocs), or do it in HTML to include on zulip.org, or both.

[2016-07-15 18:30] timabbott commented on #1280
Opened #1296 for the documentation piece of that aside idea.

[2016-07-15 18:59] sharmaeklavya2 opened #1297 "Find out why UserProfile.bot_owner is not set in python3.4"
When a bot is created, the bot's `bot_owner` field is set to the user owning the bot. Until aa9ada67d2fe9a8f9f44cd8ecc0112b093f4aad2 (#1290), this used to work in python 2.7 and python 3.5 but not in python 3.4. In python 3.4, it used to be set to `None` instead. In aa9ada67d2fe9a8f9f44cd8ecc0112b093f4aad2, this problem was (hackishly) solved but no one knows why this works.

This is the part of t

[2016-07-15 20:56] #1150 closed

[2016-07-15 20:58] timabbott commented on #903
The duration feature is also now merged; we went with the 10m duration by default.

[2016-07-15 20:58] timabbott commented on #903
(Feedback is of course welcome on actual experiences with this and whether that's the right time limit)

[2016-07-15 22:08] showell opened #1299 "Add testing on Message.to_log_dict"
There is indirect test coverage on Message.to_log_dict(), but there don't seem to be any tests that do meaningful checking on what's written, at least not on the subject field.

[2016-07-16 00:37] showell commented on #1019
@timabbott Aside: when I make a pull request that compares two different branches on my "showell" fork of Zulip, is there a way to make the pull request be for "zulip" and not for "showell"?  If not, I'll probably just submit a new pull request that compares showell-muting-topic to master and just call out which commits are muting-specific.

[2016-07-16 00:39] timabbott commented on #1019
I think not.  You can always handle that sort of situation by just linking to the branch on GitHub (and I or others can fetch the branch(es) locally to compare/review/etc.).

[2016-07-16 00:41] showell opened #1300 "Fix approximate_unread_count()"
The muted_topics logic here seems completely broken, although it probably effectively acts as a no-op in not excluding any rows from the query:

[code]

There is no test coverage on this function.

[2016-07-16 00:43] showell opened #1301 "Test home()."
One of the most fundamental functions in our system is home() in `zerver/views/__init__.html`.  We don't test cover it.  It's a big function, so there's probably a bit of mocking or data setup to get it tested, but we should at least add a don't-explode test.

[2016-07-16 00:46] showell commented on #1019
Thx, @timabbott.  These changes are relative to https://github.com/zulip/zulip/pull/1289.  Since they're not even being close to ready to deploy yet, you're probably just fine reading the diffs and seeing if anything jumps out at you.

[2016-07-16 00:53] showell commented on #1301
I'm going to take a stab at this, but if somebody else wants to try this, their efforts will probably not be wasted, as we probably want multiple tests on this method, and it's also a good to have multiple people know how this method works.

[2016-07-16 04:49] timabbott commented on #1301
Awesome!  I've been meaning to refactor `home` to have a broken-out function for a lot of the data that goes into page_params and isn't exposed via the API another way (e.g. various server settings).

[2016-07-16 05:35] showell commented on #1301
Yeah, I totally agree it could be broken down.  I have ideas on making the unit test go a little deeper on both the HTML and page_params, and with deep tests in place, it should be relatively low-risk to refactor it.  As it stands now, the test that I wrote could pretty easily be broken into two tests--one for the HTML and another for page_params.

[2016-07-16 10:34] jdherg opened #1305 "Make i18n options clear on non-logged-in pages."
It's really neat that Zulip is starting to gain translations into other languages! Despite being deployed already, it's not obvious from the non-logged-in pages that it's possible to reach translations like https://zulip.com/zh-cn/hello/ . Having a button/switcher thing somewhere on the page may be one approach to making that clear.

[2016-07-16 13:06] showell commented on #1301
To clarify my previous comment: while I think the test could be made more thorough, I think it's ready to merge right now.  It should catch a large class of unintentional errors, and if somebody decides to do a refactoring, they would have a test to flesh out before doing major surgery.

[2016-07-16 13:07] showell commented on #1019
Note to self: When this is complete, we may want to revisit `approximate_unread_count`.

[2016-07-16 17:24] showell opened #1310 "Add istanbul to vagrant setup"
I did the following command in my virtual environment:

[code]

(I want to install Istanbul because it gives us code coverage output on our node-based js tests.)

We should probably automatically add this to our provisioning process.

I'm probably being lazy here, and I could figure out how to do this myself if I poked hard enough, but can somebody point me at some Zulip docs for doing this?  If n

[2016-07-16 17:34] timabbott commented on #1310
Just add it to package.json in the repo root

-Tim Abbott (mobile)

[2016-07-16 18:13] showell commented on #1310
Hmmm, it's already in there.  I'm not sure why I had to re-install it.  I'm going to close this, since this it was a probably a glitch and not very actionable to fix.

[2016-07-16 18:13] #1310 closed

[2016-07-16 18:41] staranjeet commented on #1132
@timabbott : any pointers where can I look for `memcached_prefix`?

[2016-07-16 19:28] staranjeet commented on #1121
@timabbott : so this involves writing a uwsgi config?

[2016-07-16 19:34] staranjeet commented on #1131
@timabbott : what if we use something like pre commit hook. Mozilla Fjord has a very nice implementation of [this](https://github.com/mozilla/fjord/blob/master/bin/lint_commit_msg.py). I can take this up.

[2016-07-17 01:56] timabbott commented on #1132
`memcached_prefix` actually got renamed to `remote_cache_prefix`, so
actually that one no longer exists :)​

[2016-07-17 03:30] showell opened #1314 "Add an ExampleTest test module"
I've written lots of tests for Zulip, and yet I still find myself fishing around the code for templates on how to write new tests, because I can't keep all the various test helpers and test patterns in my head.

I am thinking about creating an ExampleTest test module, which would be a form of executable documentation.  (The tests would actually be valid tests that get run by test-backend, but thei

[2016-07-17 15:51] showell opened #1315 "ChangeSettingsTests.post_with_params"
We should rename these two methods:

ChangeSettingsTests.post_with_params -> ChangeSettingsTest.post_settings

GetOldMessagesTest.post_with_params -> GetOldMessagesTest.get_messages

The second one is really misnamed, because it doesn't even do a post; it does a get.

The first one just slows you down reading the code, because you expect it would take a url or something similar.

I would have simp

[2016-07-17 15:59] showell commented on #1315
On a similar note we might want to s/get_old_messages/get_messages/ in the test code, as "old" is a bit confusing in tests where we're clearly fetching new messages, and it's just kind of too vague to be useful.

[2016-07-17 17:25] #1145 closed

[2016-07-17 17:30] timabbott commented on #1131
Users can run `tools/lint-all` as a pre-commit hook if they like already (one can set this up using `tools/setup-git-repo`), and I'd like the check to run in CI, so I'd rather do this via adding something to tools/lint-all than trying to do a pre-commit hook.

[2016-07-17 17:30] timabbott commented on #1121
Right.

[2016-07-17 17:52] staranjeet commented on #1121
Ok, I will take this up.

[2016-07-17 19:22] sharmaeklavya2 commented on #1256
I made a simple reverse proxy using Tornado. It proxies from `localhost:8000` to `localhost`. I have Apache serving files (with directory listing enabled) at http://localhost. You can see it here - https://gist.github.com/sharmaeklavya2/e765529e0a78d08d012ffe796912a888

This reverse proxy works, but strangely CSS and JS are not rendered. Chrome's developer console's network tab shows that all reso

[2016-07-17 20:14] showell opened #1317 "Consider changing how "search" treats "topics""
Currently, if you do a search on "lunch", we return all messages that have "lunch" in the content, and we also return all messages that "lunch" in the topic.

I'm 95% confident that we want to keep the current behavior of the system, but there's an ongoing pull request #1289 that will force us to jump through some hoops to maintain the current behavior, so I wanted to do a quick inquiry on whether

[2016-07-17 20:27] showell commented on #467
See #1289.  When we move topics to their own table, we will need to re-visit some of the code related to ts_match_locs_array for zerver_topic.name.  It's debatable how ts_match_locs_array helps us from a performance perspective, since we are splicing up all the messages in Python to add highlighting markup, and it probably wouldn't be terrible incrementally expensive to just re-search the strings

[2016-07-18 04:57] showell commented on #1314
Closing this for now.  I don't have bandwidth to pursue this now, but I may come back to it later.

[2016-07-18 04:57] #1314 closed

[2016-07-18 05:15] showell commented on #731
I spent a little bit of time today trying to "rationalize" our CSS.  I didn't get too far, party for good reasons (there's nothing **drastically** wrong with our CSS) and partly for reasons that are easy to overcome (I tried to use dirty parsing on the CSS to figure out possible re-factorings, and there were some formatting issues in our current zulip.css that prevented this from being as easy as

[2016-07-18 09:08] moebiuseye commented on #734
Any update on this?

[2016-07-18 13:07] sharmaeklavya2 commented on #1256
I ran tools/run-dev.py using python 2 but ran everything else on python 3. I did this by switching to a python3 venv and running `python2 tools/run-dev.py`. My system python2 already had `twisted` installed.

On visiting `localhost:9991`, I got the dev login page. On logging in I got a traceback. There was a `UnicodeDecodeError` from memcached. The traceback showed python3.5 paths, so I was convin

[2016-07-18 18:24] timabbott commented on #1300
The proximal issue was fixed with #1300, but we should still probably implement some form of muting-based filtering in this function.

[2016-07-18 18:27] timabbott commented on #731
For constants like colors, a common way to handle that which we might want to consider using for Zulip is a CSS language like: http://sass-lang.com/guide

[2016-07-18 18:29] timabbott commented on #1314
OK.  I think @acrefoot is actually working on some docs relevant to this as part of #879, which would address the Django backend tests issue.

[2016-07-18 19:19] timabbott commented on #734
I think @gregmccoy didn't end up working on this much.  @moebiuseye this process is terrible but I should document the fact that it is possible to change a user's email using roughly the following process:
[code]
(aka one has to flush memcached, do a full server restart).  I realize this is totally unacceptable and one of the weaker points of the Zulip setup right now.  I have a technical plan for

[2016-07-18 19:38] timabbott opened #1320 "Move Camo to running under supervisord in our deployment"
Currently, Zulip runs Camo out of /etc/init.d; unfortunately, it seems to die sometimes; we should run it in a way where it can be auto-restarted as needed.  Probably using supervisord is the simplest solution for that problem.

[2016-07-18 19:39] timabbott commented on #1256
Re: running run-dev.py with Python 2, I think that's a reasonable workaround for being able to make progress on e.g. getting the Casper tests passing tests, without doing the Twisted->Tornado migration.

I think we should still probably do the migration off Twisted for this.  I'm not sure what your problem is with JS/CSS, but since we don't actually need this proxy to run in front of Apache/nginx,

[2016-07-18 19:51] timabbott commented on #1305
Hmm, yeah, our display settings switcher works for logged-in users, but this is important for the logged-out pages.

[2016-07-18 20:03] showell commented on #731
Yeah, I'm pretty ambivalent about SASS/SCSS for Zulip.  The preprocessors definitely have some nice features, but for the deeper structural issues of how you organize your CSS, it's still possible to have confusing structure in SASS, and it's not really that hard to have sensible structure in raw CSS.  (There are a few things lacking in raw CSS, like being able to do arithmetic computations, but t

[2016-07-18 20:24] showell commented on #1300
I mention #1019 in the comment in the code, but we might actually want to address this in #1289.

[2016-07-18 21:03] #1090 closed

[2016-07-18 21:06] timabbott commented on #1315
Agreed, `get_old_messages` is no longer the name of the API route, so we can probably stop using that name in the code (not only test code)

[2016-07-18 21:08] timabbott commented on #1301
Agreed the test was worth merging now (we can always expand it later).

[2016-07-18 21:17] timabbott commented on #1132
OK, since we've finished the last batch, I did an audit of .gitignore for all of the other things we should move; once the (updated) list above is complete, we'll have finished this project!

[2016-07-18 21:21] timabbott commented on #1317
Interesting question.  I think we want to keep the current behavior (the use case of not remembering the precise topic is too common), but we may want to think harder about having the ability to do negative queries in searches (e.g. `python -stream:devel` or `python -upgrade`) to handle your example use case.

[2016-07-18 21:22] showell commented on #1301
Cool, thanks for merging.

[2016-07-18 23:07] timabbott commented on #467
@showell see also #700 as a relevant thing the topic work will likely somewhat conflict with.  I expect (hope!) we'll merge #700 fairly soon.

[2016-07-18 23:07] timabbott commented on #731
I think this is the most relevant ticket for that topic.

[2016-07-19 05:57] timabbott opened #1322 "Convert update_user_profile_caches to just delete from the cache"
Based on the bug we uncovered in #1257, I think it probably makes sense to change `update_user_profile_caches` (and our other `flush` functions) to just delete from the relevant cache, rather than storing into it; if we do that, then Zulip's caching system will be more robust to races between different updates to the same model object (the `update_fields` code to use `UPDATE` queries rather than `

[2016-07-19 07:02] umairwaheed commented on #1244
As it stands now, alert words tests will cause a race condition
    with all subsequent tests which access the UserProfile object these
    tests modify. Currently, if we modify alert words, we don't get
    any notification from the server, issue reported at #1269. Consequently,
    we can't wait on any condition to avoid the race condition. The best
    option is to wait for the fix of #1269 and

[2016-07-19 07:04] umairwaheed commented on #1269
The fix for this should include the modification of the frontend tests related to alert words in `06-settings.js`. These tests were commented out in #1244.

[2016-07-19 15:57] #1244 closed

[2016-07-19 18:16] christi3k commented on #1288
Vagrant 1.8.4 works as expected on OS X, Windows 10, and Ubuntu 16.04. I'd like to update the first-time contributor instructions for Ubuntu 14.04 and 16.04 to explicitly use this new vagrant version, particularly because it fixes the rubygems issue that previously required a manual patch.

[2016-07-19 19:25] timabbott commented on #1288
Sounds good to me!

[2016-07-19 21:37] timabbott commented on #1190
@sharmaeklavya2 can you investigate whether modifying that value to point to `/srv/zulip-venv` (for example) would solve this problem?  I've been noticing a lot of people getting confused or stuck as to why re-provisioning doesn't fix their dependencies...

[2016-07-19 22:30] timabbott commented on #1284
This is essentially completed by #1321; there are some loose ends that will be resolved in #776; for that reason I'm closing this now.

[2016-07-19 22:30] #1284 closed

[2016-07-20 03:07] sharmaeklavya2 commented on #1190
Maybe we should use virtualenv caching only on Travis.

[2016-07-20 03:23] sharmaeklavya2 commented on #1190
@timabbott, you're right. Changing `VIRTUAL_ENV` in `/srv/zulip-venv/bin/activate` to `/srv/zulip-venv` does what we want.

I tried this on 2 virtualenvs with different versions of python (2.7.11+ and 2.7.12) and I'm easily able to switch between the two versions of python by changing what `/srv/zulip-venv` symlinks to.

I think we should implement it in `scripts/lib/setup_venv.py`.

[2016-07-20 09:18] umairwaheed commented on #1042
Working on this now.

[2016-07-20 15:06] sharmaeklavya2 commented on #1256
I was using the latest version of tornado (4.4) for my reverse-proxy. When I switched to the version in our requirements.txt (2.4.1), it throwed some errors. I checked the old documentation and made it compatible with the old version (by replacing `IOLoop.current` by `IOLoop.instance`). The fixed reverse-proxy only runs on tornado version 4.0+.

[2016-07-20 17:12] showell opened #1330 "Create basic how-to doc on creating Zulip management commands"
I think we might benefit from a very lightweight doc on creating Zulip management commands.

We'll mostly link to Django docs: https://docs.djangoproject.com/en/1.9/howto/custom-management-commands/

For Zulip stuff, we can point out where our commands live (`zerver/management/commands`) and give a good template to follow.  I suggest `change_user_email.py` as a good example.  It's minimal but has

[2016-07-20 17:16] timabbott commented on #1330
Sounds good!  I think this can be its own page in the "zulip subsystems" section of the RTD index, and agreed that's probably a good choice of management command from a code perspective (but maybe a bad one because it doesn't actually work, see #734).  `zerver/management/commands/deactivate_realm.py` might be good replacement choice.

[2016-07-20 17:24] timabbott commented on #660
While we haven't implemented all the initial ideas, I think we've successfully achieved the goals we had in mind here (the code required to build a new webhook integration is way less than how it began), so I'm closing this.

[2016-07-20 17:24] #660 closed

[2016-07-20 17:28] showell commented on #1330
Agreed.  The only thing slightly puzzling in `deactivate_realm.py` is the `metavar='<domain>'` fragment.

[2016-07-20 17:29] showell commented on #1330
Also, with whichever example we choose, we should probably do a tiny commit on it to clean up any comments, add a note that it's an example in the docs, test to make sure it still works (haha), and perhaps add a verbose/quiet flag.

[2016-07-20 17:44] timabbott opened #1331 "Upgrade our Python dependencies to modern versions"
Now that Zulip is using a virtualenv rather than an apt repository for our Python dependencies, we're no longer pinned to what is running in Ubuntu Trusty.  One can get a list of what's out of date using
`$ pip list --outdated`.

* [x] boto (2.38.0) - Latest: 2.42.0 [wheel]
* [x] certifi (2015.4.28) - Latest: 2016.2.28 [wheel]
* [x] cffi (1.5.2) - Latest: 1.7.0 [wheel]
* [ ] CommonMark (0.5.4) - L

[2016-07-20 17:45] timabbott commented on #1331
@sharmaeklavya2 this may be a project worth worth your spending a bit of time on, since I expect upgrading all these things will decrease risk of us running into Python 3 compatibility bugs that we don't see in testing but would see in production (when exercising a wider range of code paths).

[2016-07-20 17:51] timabbott commented on #1331
I attempted to upgrade moto (a mock for boto's S3 integration) here: https://github.com/timabbott/zulip/commits/moto-upgrade but it is failing tests on Python 3 only: https://travis-ci.org/timabbott/zulip/builds/146171322
@sharmaeklavya2 probably worth your investigating.

[2016-07-20 17:52] timabbott commented on #1256
OK.  Rather than backporting new code to old Tornado, we should probably just upgrade the Tornado version Zulip is using already, so that we can use a modern Tornado version for both (#1282).  I don't think it'll be much more work, and it'd have the benefit of ending up on a modern version...

[2016-07-20 18:39] timabbott opened #1332 "Document processes for doing complex schema migrations on large tables"
https://github.com/zulip/zulip/pull/1179 has some discussion of this, as does @showell's work on the topics migration.

[2016-07-20 18:55] christi3k opened #1333 "provision.py fails during vagrant up on Ubuntu 14.04"
`vagrant up` fails provisioning with the following error:

[code]

Full contents of /var/log/zulip_provision.log here: http://cdn.subfictional.com/dropshare/pb-TU0wAcC3RS.txt

[2016-07-20 18:57] timabbott commented on #1333
@sharmaeklavya2 any idea what's wrong here?  I think we're probably missing a C dependency.

[2016-07-20 19:05] sharmaeklavya2 commented on #1333
Seems like GCC was killed during compilation. This happened to me once on a server with 2 GB RAM when I was running tools/run-dev.py and upgrading pip packages at the same time. I exited tools/run-dev.py and ran pip again. That solved it.

[2016-07-20 19:47] timabbott commented on #165
As a workaround, you can simulate that today using the "alert words" feature -- just have all the members of a team all add `@group1` to their list of alert words.

[2016-07-20 20:04] showell opened #1334 "consolidate/generalize MIT-specific code"
Zulip has a strong connection to MIT, aka the Massachusetts Institute of Technology.  Zulip is roughly based on a system called "zephyr," and MIT's installation of Zulip still uses some zephyr conventions that weren't necessarily appropriate for newer Zulip users.  Some of the MIT-related exceptions are hidden behind feature guards like this piece of code:

[code]

We want to replace that code wit

[2016-07-20 20:28] showell commented on #1334
Here are some MIT-related behaviors from `zerver/views/messages.py` that we might want to tie to some kind of name to be used as either a realm setting or a deployment setting or a helper function.  Suggestions welcome:

- MIT users expect stream/topic narrowing for "social" to work for "social.d" and similar variants.
- MIT has a zephyr mirror that interacts with Zulip.
- MIT has a special realm

[2016-07-20 21:30] timabbott opened #1335 "Clear rabbitmq when rebuilding the development database"
If you rebuild the Zulip development database (`tools/do-destroy-rebuild-database`) on your development environment after sending some messages and then letter parts of the Zulip server crash (e.g. because you did a bunch of rebasing and then ran `provision.py`), you'll often get errors like this in the development console:

[code]

These result from the Zulip queue processors trying to process ev

[2016-07-20 21:54] christi3k commented on #1333
It was an out of memory issue. I didn't follow the first-time contributor directions (that I wrote!) and was testing on a VM with only 1 GB memory. Upped it to 2GB and provisioning went fine.

[2016-07-20 21:54] #1333 closed

[2016-07-20 21:54] timabbott opened #1337 "Traceback running provision from outside a virtualenv"
When running `tools/provision.py` directly, I just got this traceback:
[code]

I think this is a regression introduced by 852c49a44e00edac6f9e57c5b02906da8b294765 (since the child process isn't being put into the venv); I've reverted that for now.

[2016-07-20 22:04] timabbott commented on #1337
@sharmaeklavya2 FYI since you'll probably want to fix those so we can get https://github.com/zulip/zulip/commit/852c49a44e00edac6f9e57c5b02906da8b294765 merged again.

Probably the simplest solution is to import rather than shelling out to the subroutine (and maybe add a comment explaining why we do it that way).

[2016-07-21 00:52] showell commented on #1332
See #1339 for an example of a pull request with a long-running migration.

I tried to make it address a few things:

- run in batches
- be unit-testable
- have an associated management command
- be re-runnable/idempotent (we won't have this luxury with all migrations, unfortunately, but if we can do it, we should do it)

[2016-07-21 00:55] sharmaeklavya2 commented on #1331
Ok. I'll look into it.

[2016-07-21 01:21] timabbott commented on #1337
Fixed by #1340.

[2016-07-21 01:21] #1337 closed

[2016-07-21 01:40] #1288 closed

[2016-07-21 01:56] timabbott opened #1341 "test-queue-worker-reload fails sometimes in Travis CI and thus is disabled"
See https://travis-ci.org/zulip/zulip/jobs/146266522

@umairwaheed any idea what the problem is (or what debugging output we could add to help debug this next time it happens)?

[2016-07-21 02:50] timabbott opened #1342 "Add some sort of basic test for statsd"
Apparently, our statsd support has been broken for about a month, and we didn't know.

I fixed the proximal issue with 5b583c74170dfc29628cf042f3d0436d2177c3dc, but it'd be great to have at least some sort of simple test that our statsd code at least runs.

We'd need to set `STATSD_HOST` for the test to enable the feature, and probably will end up mocking a good amount of the actual logic (to avoi

[2016-07-21 07:58] umairwaheed commented on #1341
Hmm, looking into it.

[2016-07-21 09:08] umairwaheed commented on #1341
@timabbott, I think the problem is in `test-queue-worker-reload`. `test-run-dev` has finished successfully according to [this](https://travis-ci.org/zulip/zulip/jobs/146266522#L2470).

Debugging further.

[2016-07-21 10:56] moebiuseye opened #1344 "Cannot start a sentence with a parenthesis?!!"
Hello,

I've been very frustrated with a detail on zulip: You can't start a sentence with an opening parenthesis! The typing area simply disappears whenever you have the audacity to do so.

I would like to be able to signify that what I'm saying isn't very important in my mind, but is worth noting...

(I can't believe there is no open issue on this. Am I the only one using parentheses? ;) )

(Also

[2016-07-21 15:08] showell opened #1347 "Document/revisit stream name policy"
This is a follow up on #1126.

Our policy on "valid" stream names is basically that anything goes, except for empty strings.  At one point we were more strict about stream names, but some of our users gave us feedback that they want more freedom to create any stream they wanted.  Being liberal about stream names also makes it easier for us to interact with other IRC-like mirrors, since we don't ne

[2016-07-21 15:20] showell commented on #1344
Sorry about the inconvenience/frustration you're experiencing, but I can't reproduce your error.

Can you provide more details?  Are you able to type `(` in other places of the message, just not at the start of the sentences?  Are you doing anything out of the ordinary that might cause this, such as re-mapping your keyboard in the OS?  What OS are you using, and what browser?

[2016-07-21 16:25] TomaszKolek commented on #1221
@timabbott I'm trying to analyze it. Please tell me if my conclusions make sense or not:
1. Checking part of `generate-fixtures` is `migration_status`, right?
2. You'd like to move this part of the code to python?
3. Replace execution of this function with python script execution?
I'm writing it because I'm not sure this flow is correct.

[2016-07-21 16:47] timabbott commented on #1221
1. `migration_status` and `template_grep_error_code` are the two checking parts.
2. Yep, I'd like to move the checking part to Python, runnable as a script or as a library (the latter is what we'll likely want to do from `test-backend`, but still runnable as a script (might need to be a management command to be able to import Python stuff?) for use in `tools/do-destroy-rebuild-database`).

I'd pro

[2016-07-21 17:19] timabbott opened #1348 "Use a typevar style mypy annotation on cache_with_key"
Currently, our mypy checking of UserProfile objects is very limited, because cache_with_key has an ignore annotation.  The cache_with_key decorator is applied to dozens of functions, many of which are called hundreds of times, so I think we can substantially increase the actual coverage of our mypy usage by fixing the cache_with_key annotation.

[code]

@sharmaeklavya2 FYI.

[2016-07-21 17:22] timabbott commented on #1341
Closing this under the theory that probably #1343 fixed it; we can reopen if we see that error again.  Thanks @umairwaheed!

[2016-07-21 17:24] #1158 closed

[2016-07-21 17:30] timabbott commented on #714
From #1177, testing in an environment with 1000 streams:

"populate_subscriptions is kinda slow, and a lot of the time is spent in build_stream_sidebar_row initializing the jquery object via $(templates.render('stream_sidebar_row', args));; maybe it's worth trying removing the $() around the templates.render in that function? Might require a bit of restructuring, but it seems like that could impro

[2016-07-21 19:43] timabbott opened #1351 "Document how to add new bindings to the Python API client"
We should document how to add new bindings to the Zulip Python API bindings, since it's not totally obvious how to do it.  Some notes:
- Code is under api/zulip/**init**.py
- You basically just need to write a little `make_request` function (if needed) and call `Client._register` with the right fields, so mostly we just need to document how that works.
- As part of your contribution, you should wr

[2016-07-21 19:44] timabbott commented on #1351
I'd probably write the docs somewhere on ReadTheDocs but then link to it from a few places in the Zulip API code itself (in comments, etc.) and also in zulip.com/api .

[2016-07-21 19:48] timabbott commented on #1341
See https://travis-ci.org/zulip/zulip/jobs/146446971 (based on #1349 which was post merging #1343) -- it looks like the problem isn't solved.  I wonder whether the problem could be related to the accumulation of events to process that are processed there, or something else (e.g. #1335 ?).

[2016-07-21 19:53] timabbott commented on #1347
I think we should stick with the status quo -- people use a surprising range of stream names, and with full i18n support, most limitations on characters would be problematic for someone (and I've seen people name streams "☃☃☃☃☃", so it's not just limited to other languages).

I think we should document this though -- I'd probably make a new document explaining what's valid for the various types of

[2016-07-21 19:58] timabbott opened #1352 "Fix remaining message edit nondetermistic test failure"
Despite disabling some buggy tests, our casper tests are still failing fairly frequently with this traceback:
https://travis-ci.org/zulip/zulip/builds/146453328.  It's

@umairwaheed this failure used to happen in the same test runs where the i18n failure that you fixed recently also happened, so it's possible we still have some issue with user_profile caching.  Maybe in addition to trying to debug

[2016-07-21 19:59] timabbott commented on #1352
Also @rishig was the author of the relevant test and can help provide context if needed

[2016-07-21 21:12] #1190 closed

[2016-07-21 21:46] brainwane opened #1353 "Document how to upload image files via the Zulip API"
It is possible to upload files via the API, and we'd like to document it. There's a test, `test_rest_endpoint` in `zerver/tests/test_upload.py`, that tests this functionality and gives you some guidelines for how it ought to work. It would be great if someone got this working and added example code to `api/examples` for doing this.

(This was added a few weeks ago as part of a project of being abl

[2016-07-22 00:33] showell opened #1355 "install script completes but then hangs"
I ran `/root/zulip/scripts/setup/install` on a scaleway ubuntu trusty instance, and the install gave me the completion message, but then it was hanging.

When I looked at the processes, I got this:

[code]

I killed the process.  I assume it's a mostly harmless matter of not cleaning up forked processes (although we should fix that), but if it's more serious, I will try to follow up with more info

[2016-07-22 01:22] showell opened #1356 "emphasize `su zulip` in install instructions"
If you try to run `./manage.py shell` as described in https://zulip.readthedocs.io/en/latest/prod-auth-first-login.html, it won't work if you're "root."  You need to `su zulip`.  We should make this less error prone, and probably talk about the zulip userid.

[2016-07-22 02:28] showell opened #1357 "(install) detect SMTP firewalls"
If you install zulip on a host like scaleway that blocks outgoing SMTP traffic by default, you'll hang when you try to register a new zulip user or run this:

[code]

We should make the symptom more obvious.

[2016-07-22 03:15] showell opened #1358 "(install) ALLOWED_HOSTS 127.0.0.1"
I put 'localhost' in ALLOWED_HOSTS, per instructions, but then I got errors until I also added 127.0.0.1.  This seemed to be a hard crash for me.

Feel free to close this if it's not actionable.

[2016-07-22 06:39] sharmaeklavya2 commented on #1331
I recently found out about requires.io. Here's the report on my fork of zulip: https://requires.io/github/sharmaeklavya2/zulip/requirements/?branch=master

It usually also shows which requirements support python 3.

[2016-07-22 06:54] umairwaheed commented on #1341
Hmm, it's clear that there is some other problem.

[2016-07-22 06:58] umairwaheed commented on #1352
Sure.

[2016-07-22 09:24] sharmaeklavya2 commented on #1256
How do I test `python manage.py email-mirror`?

[2016-07-22 12:46] brainwane opened #1359 "make clear that user must reload browser to see avatar update"
I go to Settings. In "Your Account" I choose "Customize avatar". I upload an image from my local machine. I click "Save changes". I get confirmation that the update has been saved ("Updated settings!"). But: if I view Home (or a stream or something) and then go back to Settings, the old avatar appears. And if I send a new message, I see the old avatar (I presume because it's cached).

If I hit Rel

[2016-07-22 17:04] timabbott commented on #1359
@brainwane this is essentially a duplicate of #229, but I think maybe we should turn this issue into updating the message from `Update settings!` in this case to add `You will need to reload to see your changes take effect", like we do for the display settings like language that we don't support dynamically swapping out.

[2016-07-22 17:11] brainwane commented on #1359
Agreed @timabbott. (I searched for avatar issues before filing this -- must have missed #229, whoops.)

[2016-07-22 17:14] timabbott commented on #1256
There's a big comment at the top of the management command file explains half of it; the other half is explained in zproject/prod_settings_template.py.  I'd recommend creating a testing gmail account for the purpose.  Once you've done that setup, /integrations/#email has a bit of user-facing documentation on where to find a stream's email address.

[2016-07-22 17:18] timabbott commented on #1331
Cool, yeah, we'll definitely want to integrate that sort of badge thing once we've fixed our out-of-date status :)

[2016-07-22 17:26] timabbott commented on #1357
Yeah, having a check for whether there's an SMTP firewall that `send_test_email` can use would be super nice.  Or barring that, adding a ~10s timeout and printing an error message suggesting that the user should check whether their hosting provider is blocking port 587 rather than just hanging forever.

[2016-07-22 17:29] timabbott commented on #1358
This is definitely actionable, and in fact I wrote code to eliminate the needs to do this, just needs some testing.  See #1363; it'd be awesome if you could test it out.

[2016-07-22 17:31] timabbott commented on #1356
I think we'll planning to remove that particular block of instructions soon, in favor of `manage.py generate_realm_invite_link`, but that documentation refactoring should still document using `manage.py` shell via the `su zulip` somewhere, and probably said documentation will come out of the existing piece, so fixing this won't be wasted work.

An alternative approach would be to make `manage.py`

[2016-07-22 17:33] timabbott commented on #1355
Do you think `tee` has a hang bug in certain circumstances, perhaps if the script it calls left open some file descriptors (`lsof` might be instructive)?  I could imagine that being the problem.

[2016-07-22 17:33] timabbott commented on #1355
(For context, `tee` is a little wrapper script that causes the output of a program to go to a log file in addition to going to stdout)

[2016-07-22 17:37] #1162 closed

[2016-07-22 17:38] showell commented on #1357
For my needs, I think the timeout/error message strategy would have gotten me past the hurdle a little more quickly, but I agree that detecting the firewall would be even better.

There might be a way to refactor the setup instructions as well here.  Basically, emphasize the need to do these things before you try to register new users (and possibly before you fire up Zulip itself):

- Have the ops

[2016-07-22 17:41] timabbott commented on #1357
Yeah.  For implementing a timeout, we have some code for doing timeouts nicely in Python in zerver.lib.timeout; it's used in bugdown, and I bet it'd be easy to add it to `send_test_email` as well.

[2016-07-22 17:46] showell commented on #1355
Yeah, I mentioned `tee` as a possible culprit in a conversation on your Zulip instance, but I forgot to mention it when I created this ticket.  That was my hunch, although I don't have any damning evidence beyond the `ps` output above.

Another data point is that I did just kill the process, and eventually, after dealing with other hurdles, I was able to get Zulip up and running, which leads more

[2016-07-22 18:16] showell opened #1364 "Allow hex entry for stream colors."
One of my users said "We need to change this channel's color to #FB4F14."

While a little arcane, occasionally users will want to "brand" their stream colors, if only for fun, and they might know the stream color only by the hex value.

If we make this change, there are at least two places where you set it--there's a direct menu to set colors in the chevron menu next to the specific stream, and yo

[2016-07-22 18:26] timabbott commented on #1364
Both places use the same color picker code (spectrum.js which is vendored in at `static/third/spectrum/`).

One note on that comment -- colors are a user-local thing (others don't necessarily see the same color).  This is important for each user to have individual customization, but I guess I could imagine someone wanting to set a default color for a stream (i.e. the default color new subscribers

[2016-07-22 18:29] showell commented on #1364
I think so, and I also just think it's a fun thing for users to play with, e.g. if you have a stream about your university, it's fun to use your alma mater's colors.

[2016-07-22 18:31] timabbott opened #1365 "Add support for setting a default color for new subscribers to a stream"
From discussion in #1364: Colors are a user-local thing (others don't necessarily see the same color). This is important for each user to have individual customization, but it could be valuable to be able to set a default color for a stream (i.e. the default color new subscribers get).

This is perhaps an option we'd eventually want to offer only to stream owners once that feature exists, and we'd

[2016-07-22 18:31] brainwane opened #1366 "feature: display two streams/narrows as linked"
Zulip currently does not support moving an existing topic (conversation) to another stream. This would especially be useful in cases where the community starts a conversation in a public stream and realizes that it belongs in a closed stream.

If we don't want to support it as a _move_, then maybe we could make it easier to link different conversations, and/or to ensure that other users can view t

[2016-07-22 18:32] timabbott commented on #1365
(I guess for now we could add this as a 'realm admins only" feature and then extend it to stream owners with the rest of the stream/realm admin features when we add stream owners)

[2016-07-22 18:35] timabbott commented on #1366
I understand the use case, but from a technical perspective I'm reluctant to support moving content between streams, since it'd be difficult to make API clients and mobile apps able to handle those moves correctly, and also can be a confusing user experience seeing a conversation suddenly disappear (this is similar to the reasoning for why we haven't added support for completely deleting messages)

[2016-07-22 18:37] timabbott commented on #1341
Yeah.  I merged 226a57d to disable that test for now since it's happening pretty often.

[2016-07-22 18:43] showell commented on #1366
On a related note, we should document our advanced search syntax, which does support some boolean logic like negated searches.  I actually rewrote a significant portion of search a couple years ago, but I'll be darned if I can remember how to use it. :(

[2016-07-22 18:48] timabbott commented on #1366
Does "Search help" in the gear menu address this?

[2016-07-22 18:50] timabbott opened #1368 "Move documentation sections of gear menu into their own menu"
Currently, the upper-right gear menu has a strange mix of the subscriptions/settings/administration pages with various documentation links (on the apps, keyboard shortcuts, etc.).  I think we should consider splitting those into two menus, perhaps a gear menu and a `?` menu?

Feedback on how this should look is very welcome!