[2018-04-20 16:46] #9151 closed

[2018-04-20 16:49] timabbott commented on #9163
@jaredreich do you have a sense for how stable their outgoing webhook format is?  They have a pretty big warning on their documentation site about it.

[2018-04-20 17:20] zingmars opened #9165 "Search doesn't match words in URL, only whole hostname or path"
Details on what matches and doesn't match: https://github.com/zulip/zulip/issues/9165#issuecomment-855061552

Links with additional reports of the issue and discussion:
* 2018 user report and some product discussion of desired behavior: https://chat.zulip.org/#narrow/stream/137-feedback/topic/indexing.20urls/near/655441
* 2020 explanation below of how this can make a big difference in the effectiv

[2018-04-20 17:29] jaredreich commented on #9163
@timabbott good question, I've been using their slack integration for over a year, but I'm not sure that's a great representative since they'd maintaining that themselves. I find it hard to tell in these situations who should have an integration for who (Zulip has an integration for Clubhouse, or vice versa). I'd imagine Zulip only wants to add integrations for popular services, but I think Clubho

[2018-04-20 17:37] timabbott commented on #9165
Yeah, the search thing is a little annoying.  You may find the `has:link` search operator useful as a workaround for now.  It's not a super easy thing to fix; we'd need to make some changes to how Postgres does stemming (since we use their full-text search, which is otherwise pretty great).

On your version question: If a user visits /history, you can get the version, but we definitely need to put

[2018-04-20 17:38] timabbott commented on #9165
The version thing is https://github.com/zulip/zulip/issues/8005

[2018-04-20 17:40] timabbott opened #9166 "slack import: Use a slightly different version of `check_subdomain_available`"
When doing an import on the command line with `manage.py import`, we probably don't want to enforce reserved subdomains (etc.).  I think this is probably could be best implemented as an option to `check_subdomain_available` with a name like `from_management_command` (since that would clearly encode where the extra permission is coming from); that should help protect against the option being accide

[2018-04-20 18:02] bmorg commented on #8143
Thanks for the clarification and no worries!

[2018-04-20 18:06] syci opened #9167 "No such file in directory: locales EN"
On my own server i have installed a Zulip Server and on /var/log/nginx/error.log print:

[error] 305#305: *4294 open() "/home/zulip/prod-static/locale/en/translations.json" failed (2: No such file or directory),

My locales is configured on es_ES.UTF-8

[2018-04-20 18:12] timabbott commented on #9167
Thanks for the report @syci!

This is harmless, but should be cleaned up (one doesn't need `translation.json` files for English, and our i18n library weirdly tries to fetch it anyway).  Fortunately, #9087 will automatically fix this; I'm going to close this since the root issue is being tracked there (which is that the `i18next` way of fetching translation data is kinda buggy).

[2018-04-20 18:12] #9167 closed

[2018-04-20 18:18] timabbott opened #9168 "Investigate at what point the Slack import logic is rendering markdown"
I think how the Slack import logic currently works, we're sorta creating a performance problem for users.

* We import only the `content` field, not the `rendered_content` field.
* When a user tries to fetch the historical messages, the backend calls the backwards-compatibility code path around `Message.need_to_render_content` and renders the markdown at that time.  This makes loading old messages

[2018-04-20 18:44] timabbott commented on #8385
Here's a design for how this should work, where we can work in an incremental fashion and then eventually make it possible to create a guest user:

* [ ] We create a new boolean on UserProfile, `is_guest`.  Eventually, we may want to refactor the model for user types to some other form, but I think this will be nice and simple and fine for getting the logic flows correct.
* [ ] We modify `populate

[2018-04-20 19:12] timabbott commented on #8385
I merged 49f58583a4464f2af630de57b561489c96fbd2ed, which should help save others from needing to read and understand which `zephyr_mirror` cases are definitely things that should become this flag.

[2018-04-20 21:09] timabbott opened #9172 "Add a "report spam" feature to Zulip"
In chat.zulip.org, we've been having occasional problems with spammers creating a new account and then sending stream message and PMs basically harrassing members of our community.

Blocking new users from sending messages creates a lot of its own problems, so we'd like to address this in part through a "Report spam" feature, which should be useful not only to Zulip but to any other large open com

[2018-04-20 22:32] crtester commented on #9172
@zulipbot claim, great idea

[2018-04-20 22:33] crtester commented on #9168
I can look into this @zulipbot claim

[2018-04-20 23:01] timabbott commented on #9172
@crtester this is a pretty high-complexity issue -- I don't think it's a good fit for someone new to the project.  You should start with something simpler.

[2018-04-21 00:08] timabbott commented on #6213
Right, so my philosophy here is that there's basically a few categories of issues with a webhook integration, and we want to route them to the right person:
* If the payload is clearly for the integration, but we're not parsing it correctly -> 500 and notify server admins to fix the bug.  So we should get rid of all the KeyError things that look like defensive programming -- we want those to 500 a

[2018-04-21 04:33] jainkuniya opened #9175 "frontend: Message text & Label overlap in message history dialog."
<img width="560" alt="screen shot 2018-04-21 at 10 00 01 am" src="https://user-images.githubusercontent.com/18511177/39080403-21a24932-454b-11e8-9652-5808d2ed65ec.png">

message link: https://chat.zulip.org/#narrow/stream/48-mobile/subject/android/near/567505

[2018-04-21 18:00] party98 commented on #9157
Hey, I'd like to take this up. Since I am a new, please help me by pointing me in the general direction of where to start.

[2018-04-21 18:02] party98 commented on #9157
@zulipbot claim

[2018-04-21 19:53] novokrest commented on #8857
@zulipbot claim

[2018-04-21 21:09] cr4zyafrican commented on #8837
@zulipbot  i am working on it! just waiting for my pull request to get merged

[2018-04-22 04:52] #9117 closed

[2018-04-22 05:31] #7625 closed

[2018-04-22 14:46] brainwane commented on #2335
From what I recollect: I know some people who prefer to use avatars that don't show their faces because they get more harassment if people know that they are of some discriminated-against minority (e.g., black people, women, and so on), and it levels the playing field, so to speak, when there are *no* avatars.

[2018-04-22 17:13] rishig commented on #9172
Adding some thoughts here, so I don't lose them.
* I could imagine having a configurable stream that you send the spam reports to, rather than "sending it to admins".
* Marking someone as spam should also change their avatar to gravatar, or a fixed image.

But the things listed in Tim's list can be done before these.

[2018-04-22 19:59] shubham-padia commented on #8605
@zulipbot claim

[2018-04-22 20:08] timabbott commented on #2335
I think we're unlikely to support that in the near future just because it's a lot of design work to maintain and not something many folks have expressed interest in, but the path would to something like that would be to first implement a "dense mode" design that doesn't display avatars, and then add a setting to require that display style.

[2018-04-22 22:13] utkarsh23 commented on #8969
@zulipbot claim

[2018-04-22 22:16] phansen01 commented on #9166
@zulipbot  claim

I can take a look at this. Are the `extremal dash` and `bad character` checks in that function just stylistic? Or should we enforce those here as well?

[2018-04-22 22:17] timabbott commented on #7562
I fixed this in 00c9f45821567a34e4eabfbfe61fb2b1992abbd5

[2018-04-22 22:17] #7562 closed

[2018-04-22 22:47] adnanislam commented on #8547
There's a pull request for this issue that is currently open

[2018-04-23 02:59] #5895 closed

[2018-04-23 03:02] timabbott opened #9184 "Improve error message for `invalid_subdomain` case in Google auth"
We have all the plumbing logic to customize the `confirm_continue_registration` error messages for the case of the user having an account with that email in another organization/realm/subdomain (via `invalid_subdomain` being passed into `login_or_register_remote_user`).  Ideally, we'd customize the error message in that case.

This is a follow-up to c88163eea8aeeb29da1aa67a29cb925b96e89134.

[2018-04-23 04:25] timabbott commented on #7058
This was fixed a while back.

[2018-04-23 04:25] #7058 closed

[2018-04-23 04:26] timabbott commented on #7348
Closing this in favor of #8859 since that duplicate of this issue is getting ongoing work.

[2018-04-23 04:26] #7348 closed

[2018-04-23 04:28] timabbott commented on #2745
Closing this in favor of #2044 (since the work described in this issue is done).

[2018-04-23 04:28] #2745 closed

[2018-04-23 04:29] timabbott commented on #2044
See https://github.com/zulip/zulip/issues/2745#issuecomment-378774965 for notes on the status of this feature.

[2018-04-23 04:30] timabbott commented on #457
I think the main issue here is resolved (organization administrators can now see and delete private streams they are not subscribed to).  So I'm closing this.  But we might still want the warning in #8674, so leaving that open.

[2018-04-23 04:30] #457 closed

[2018-04-23 04:30] timabbott commented on #1351
@eeshangarg this is probably a good issue to track the work of updating the notes on our API documentation.

[2018-04-23 04:36] #789 closed

[2018-04-23 04:36] #9070 closed

[2018-04-23 04:50] timabbott commented on #9127
@ciupicri can you try testing this again?  We made some changes to the GitHub authentication model that fixed a few other issues (and just deployed them to production), and I think should at least provide an error message that better disambiguates the possible errors here.

[2018-04-23 05:00] timabbott commented on #3945
This was fixed in dcac002213c231b6f4a810610e28ca56195085a4.

[2018-04-23 05:00] #3945 closed

[2018-04-23 05:15] timabbott commented on #8600
@CSC510Zacky did you have any luck debugging this?  We still haven't seen any reports from other users of anything similar.

[2018-04-23 05:39] timabbott commented on #9175
@synicalsyntax are you interested in fixing the broken CSS of this feature?  It's kinda a mess.

[2018-04-23 05:41] timabbott commented on #8245
Based on some similar issues that only affected folks on OSX, I think it's likely that the root cause here was broken NFS on OSX, and upgrading to the latest OSX High Sierra should fix this.

[2018-04-23 05:41] #8245 closed

[2018-04-23 05:43] timabbott commented on #8215
The thing which is tricky here is that we don't really have test suites that look at the Git history (as opposed to the current state of the repo).  I guess we could look at using `gitlint` for this if it supports inspecting the commit file list?  @tommyip do you know if that's possible?

[2018-04-23 06:01] timabbott commented on #7993
This was fixed with the recent installer simplification effort.  Thanks for the report @oktayaa!

[2018-04-23 06:01] #7993 closed

[2018-04-23 06:02] timabbott commented on #5524
We've now done the 127.0.0.1 migration in the 1.8 release, so I believe this to be resolved for new installations.  We can reopen this if we run into problems again.

[2018-04-23 06:02] #5524 closed

[2018-04-23 06:03] rosatamsen commented on #9159
I looked into this issue, but unfortunately it seems like Sphinx does not support this sort of .md to .html extension replacement for links when generating docs. And, like Tim said, the docs are not intended to be read on GitHub. Might want to consider adding a README.md to https://github.com/zulip/zulip/tree/master/docs saying so and direct users to ReadTheDocs instead.

[2018-04-23 07:16] timabbott opened #9185 "Integrate `puppet-lint` into our linter suite"
I just did a bunch of cleanup to our puppet manifests using the standard `puppet-lint` package.  We should integrate it into our `tools/lint-all` linter framework, using its exclude options for the few things we haven't fixed yet.

[2018-04-23 07:44] tommyip commented on #8215
@timabbott gitlint only checks the commit messages by default. There is a command to inspect the commit file list, `git diff-tree --no-commit-id --name-only -r upstream/master...HEAD^`, we could add this as a custom gitlint rule or just put it somewhere in `tools/lint`.

[2018-04-23 14:36] mjmunger commented on #3618
Read receipts enable the message sender  to stop thinking about a problem, and move on. With distributed teams, we frequently need to know "_Does person X know about this problem?_" When we have a read receipt, we can put our mind at ease, and move on. If too much time goes by and they have not read the message, we have to make other plans to solve problems.

Organizationally, you can set read-rec

[2018-04-23 16:26] Kumar-Tarun commented on #8679
@zulipbot abandon

[2018-04-23 16:34] timabbott opened #9188 "setting: Improve error handling to show errors closer to configuration options"
I just realized that even following our settings feedback rework will still show ugly banner messages at the top of the page if there's an error:

![image](https://user-images.githubusercontent.com/2746074/39140343-1f063398-46d9-11e8-96d2-9e0f5a6551ef.png)

I think we should do some restructuring of this system to at least place the error in the block with the content and have it disappear as soon

[2018-04-23 16:38] timabbott commented on #7330
Another update: We just merged support for using Google hangouts as your video chat provider.

[2018-04-23 16:41] eschadt commented on #9159
@timabbott , @rosatamsen , I would be happy to add a README.md file to https://github.com/zulip/zulip/tree/master/docs stating that docs are not intended to be read on GitHub and directing users to the ReadTheDocs, if you would like to add it!

[2018-04-23 16:46] timabbott commented on #9159
sure, go for it.

[2018-04-23 17:43] jhurwitz opened #9190 "Last message keyboard shortcut limited to the current page"
Expected: pressing the last message keyboard shortcut ("G") should take me to the last message matching the current view (eg, if my view is a stream narrow, then the last message in the current stream)

Actual: you are taken to the last message _within the currently loaded page of messages_. Eg, try visiting https://chat.zulip.org/#narrow/stream/8-commits/subject/zulip.20.2F.20master/near/492936 a

[2018-04-23 18:49] #9166 closed

[2018-04-23 19:34] showell commented on #9190
Unless I'm misunderstanding you, this is by design.  The tradeoff here is that we don't want to inadvertently swamp somebody with a huge fetch.  I understand it's kind of annoying, though, and our backend would support go-to-very-end, so it's worth discussing this on chat (something like a super-end key).

[2018-04-23 19:38] showell commented on #9190
The current behavior should be to take you to the end of the currently loaded messages, which is generally further than the end of the page, just to be clear about that.  And as soon as you get there, we should start fetching another batch of messages.

[2018-04-23 20:35] phansen01 commented on #9131
I gave this a look and using `model_to_dict()` it's *close*:

![image](https://user-images.githubusercontent.com/12517033/39151325-8832f6f4-470a-11e8-87d3-c43ef8d0fe85.png)
(top is `model_to_dict`, bottom is current output)

As of now, the only hurdle seems to be the `BitField` field of `Realm`.

It seems like we could work around this using the `exclude` flag of `model_to_dict()` and then manuall

[2018-04-23 21:06] stone212 commented on #9081
@akashnimare Personally I don't see the value of this.  I opened #469 which is a security and usability issue but this Issue seems like an example of one application trying to do everything instead of an application doing one thing well.  I would prefer if all media (images, pdf, etc) do not open in Electron but Electron asks you if you want to open them in your system's default application or dow

[2018-04-23 21:16] timabbott commented on #9131
Yeah, that sounds like a great plan!

[2018-04-23 21:16] timabbott commented on #9131
(It's also worth looking a bit at how we do this sort of thing in `zerver/lib/export.py`)

[2018-04-23 21:29] shubhamdhama commented on #9188
@zulipbot claim

[2018-04-23 21:47] timabbott opened #9195 "Botton of /features page doesn't look right with really wide screens"
![image](https://user-images.githubusercontent.com/2746074/39154958-1f4b5712-4705-11e8-8214-649320968fc5.png)

@synicalsyntax do you want to fix this one?  We should have the column width the same for those bottom 2

[2018-04-23 21:50] timabbott commented on #9195
We should also fix the legibility of the link here:
![image](https://user-images.githubusercontent.com/2746074/39155124-997985b8-4705-11e8-8576-76663061c79d.png)

[2018-04-23 22:38] timabbott commented on #5192
Closing, in that we're probably not going to support this (preferring to focus on stretch instead).

[2018-04-23 22:38] #5192 closed

[2018-04-23 22:43] timabbott opened #9197 "Add support for Debian stretch and Ubuntu bionic in development and production"
Here's the TODO list for this project; most of the work is common to stretch and bionic:
* [x] Update APT_DEPENDENCIES, POSTGRES_VERSION_MAP, etc., and scripts/lib/setup-apt-repo to have Debian stretch in the configuration.  This is trivial.
* [x] Update APT_DEPENDENCIES, POSTGRES_VERSION_MAP, etc., and scripts/lib/setup-apt-repo to have Ubuntu bionic in the configuration.  This is trivial.
* [x]

[2018-04-23 22:55] mjmunger commented on #9197
You can assign this to me. Can't do it immediately, but we'll start putting it together.

[2018-04-23 23:30] timabbott commented on #8732
I think we don't need to convert every use; if `assertNumQueries` reads as cleaner in 80% of the cases, we can switch those and leave the rest on the old model.

[2018-04-24 00:01] #8880 closed

[2018-04-24 00:16] #9131 closed

[2018-04-24 00:33] timabbott commented on #9057
We got another report of a similar issue here: https://chat.zulip.org/#narrow/stream/9-issues/subject/LDAP.20registration/near/568165, and of those settings fixing this:
[code]

Consulting the documentation for django-auth-ldap, this should definitely not have made a difference, so it's probably a bug there.  We should either fix it or workaround it.

[2018-04-24 00:42] timabbott commented on #9057
That makes sense, since it appears django-auth-ldap is storing the data in memcached; it would have sufficed to restart memcached.  (For all of Zulip's own caching, we configure cache keys in a way so that they won't be preserved across restarting Zulip, but that doesn't apply to django-auth-ldap)

Based on https://github.com/django-auth-ldap/django-auth-ldap/issues/19 and the fact that the cachin

[2018-04-24 00:49] timabbott commented on #9163
Yeah, I think it'd fit.  It's more a question of how much work it would be to support and maintain.  I'd certainly review and merge a PR to add this.

[2018-04-24 00:55] rishig opened #9199 "message view: Floating recipient bar off in wide screens."
This is at 1440 pixels wide:

![image](https://user-images.githubusercontent.com/890911/39160316-73674a9e-471f-11e8-88d7-bb0d1ff7c5bb.png)

[2018-04-24 01:04] rishig commented on #9199
The bottom compose box is off as well

![image](https://user-images.githubusercontent.com/890911/39160556-cbf475a0-4720-11e8-9ff5-a5491c55173e.png)

[2018-04-24 01:09] rishig commented on #9199
ok, these are fixed on reload, so it's likely a bug in our resizing logic (javascript), rather than our CSS.
Also not able to repro after reload.

[2018-04-24 01:11] timabbott commented on #9199
(If anyone wants to try reproducing this I'd try playing around with resizing the window to various sizes.  If we can reproduce, we can fix; my guess is the bug is somewhere in `resize.js`)

[2018-04-24 01:33] akaptur opened #9201 "Favicon is now covered by Chrome notification dot"
A recent version of Chrome added a blue dot on the favicon of a tab that has updates. (As far as I know there's no way to disable to blue dot.) The dot covers the unread count on the zulip tab favicon. Can we move the unread count to a position where it's visible?
One:
![image](https://user-images.githubusercontent.com/1857780/39161208-77fc2a02-4724-11e8-9b9f-498946cf90d7.png)
Six:
![image](https:

[2018-04-24 01:36] timabbott commented on #9197
Cool.  I just merged the postgres 9.6 configuration piece (checked it off above).  I think the other think that I probably should do is the `tsearch_extras` piece; the rest should be fairly accessible.

[2018-04-24 01:39] timabbott commented on #9201
"Exciting".  We should do a bit of research on whether there's a way for us to override that Chrome default, but barring that, we can definitely move the unread count to the lower-left corner.

`static/assets/favicon/generate` is I think what generates the favicons.

[2018-04-24 01:40] timabbott commented on #9201
(I seem to have a red dot, not a blue not, but it covers the unread count less completely)

[2018-04-24 01:55] timabbott opened #9203 "Migrate away from typing.Text towards str for strings"
Now that we're a Python 3 only codebase, we can start getting rid of the transition `typing.Text` type and just use `str everywhere.

I migrate all of our views pretty quickly (https://github.com/zulip/zulip/pull/9204) using the following regular expressions:
[code]

and then I had to fix up the places generated by the last one where we now have an extra blank line created (a better regex would fi

[2018-04-24 02:10] timabbott commented on #3618
So here's a design for how to implement the backend notifications part of this for mentions:
* In our ~4 code paths for marking messages as read, we do a query of the following form for the messages that were just marked as read (pseudocode here) `UserMessage.objects.filter(user_profile=user_profile, flags=UserMessage.flags.mentioned, id__in=[message_ids])` to determined.  We'll need to do a bit m

[2018-04-24 09:59] mjmunger commented on #3618
Having done this before in other applications, the ReadReceipt table is the way to go. Simple set of columns: ReadReceiptId, MessageId, UserID, ReadStatus, TimeStamp. Index on MessageId and UserId. Granted, MySQL is in my wheelhouse, so, not sure how indexing is done in Postgres, but, the idea should be applicable. When a message is loaded, this allows you to pull a list of users who have read a g

[2018-04-24 10:08] mjmunger commented on #3618
For the native apps, displaying the read receipt can be as simple as changing the color of the timestamp from grey to blue or green.

The Uber geek in me wants to do it by adding a second timestamp indicating WHEN it was read, but I am sure my designers and UX people would scream bloody murder.

It would be nice to know when it was read, but for now, just changing the timestamp color is a subtle a

[2018-04-24 10:55] shikharvaish28 commented on #8941
@zulipbot help needed

[2018-04-24 13:09] LuisFSilva commented on #8242
@zulipbot claim

[2018-04-24 15:03] Lyla-Fischer commented on #8889
I'm still working on this. It's just part of a wider effort to refactor documentation, and I'm getting distracted by other parts of that effort.

[2018-04-24 15:27] timabbott commented on #6780
I think we're mostly done with the planning phase of this, and have migrated most of the codebase.  I opened #9203 for the next major step of our migration, but I think it's reasonable to close this now.

[2018-04-24 15:27] #6780 closed

[2018-04-24 15:29] #8963 closed

[2018-04-24 16:14] timabbott opened #9207 "Fix email mirror handling of emails without a subject line"
I saw this exception in production:

[code]

It's pretty clear this is caused by an email arriving at the email mirror without a subject line; we should be setting the topic to `(no topic)` in that case, not throwing an exception.

[2018-04-24 16:47] ciupicri commented on #9127
I'm in a hurry, so I might have missed something, but it looks like I'm getting the same results.

[2018-04-24 17:00] #9057 closed

[2018-04-24 17:04] akashnimare commented on #9201
@timabbott I don't think we should change anything here since this behaviour happens only with pinned tabs. Currently, there is no way to disable them but I'm guessing Google will get rid of this effect sooner or later because of the negative criticism it has received.

[2018-04-24 18:01] timabbott opened #9210 "Improve logic around populate_db needing to be rerun with settings changes"
With 656f882a44b2a29414aafe22d724a09c493f1468, we made a change to `INTERNAL_BOTS` in our settings, which did not trigger a `populate_db` regeneration, and cause confusing test failures.

To respond to that, we added 2bc51931a882fa396af979ee76fa71de3278b053, which adding all the settings files to the set of data that we inspect when determining whether or not we need to re-build the database.  Thi

[2018-04-24 18:10] shikharvaish28 commented on #8941
@zulipbot add tag help needed

[2018-04-24 19:52] timabbott commented on #9127
Annoying; I wish we had a clear reproducer for this.  It'd help if you pasted a screenshot of the error you're seeing, since without a reproducer for a rare issue like this, that would help a lot.

[2018-04-24 20:50] rishig opened #9212 "portico: Login page "Log in with Google" Google icon gets blocked by AdBlock Plus."
![image](https://user-images.githubusercontent.com/890911/39213453-73814a0a-47c6-11e8-85c7-b2af6d0286eb.png)

[2018-04-24 21:18] timabbott commented on #9212
Oops, this is almost certainly a bug I introduced.  Let me investigate.

[2018-04-25 10:14] akashnimare commented on #9081
@stone212 I'm not sure if you understand what inline preview stands for! If you have time and a Slack account please check out how they are handling this issue and let me know your thoughts on that.

You should understand that there is a limitation around Electron apis. Electron is not fully Chrome or Firefox, it doesn't provide an api (there is a preview api which works only on macOS) to open the

[2018-04-25 10:57] carlokok opened #9217 "slack import fails with TypeError: 'NoneType' object is not subscriptable"
Running
 ../manage.py convert_slack_data RemObjects\ Software\ Slack\ export\ Apr\ 25\ 2018\(1\).zip --token *** --output test_import

fails with:

2018-04-25 10:32:45.843 INFO [] ######### IMPORTING MESSAGES STARTED #########

Traceback (most recent call last):
  File "../manage.py", line 25, in <module>
    execute_from_command_line(sys.argv)
  File "/home/zulip/deployments/2018-04-18-08-04-12/z

[2018-04-25 12:03] SnelsSM opened #9218 "Can't "sync_ldap_user_data""
Hi. I'm trying to import users from AD. In AD users without emails.
"./manage.py query_ldap lookup@jbi74.localdomain" is successful.
But if I try "./manage.py sync_ldap_user_data" scrypt tells me:

[code]
My /etc/zulip/settings.py without comments.

[code]
What am I doing wrong?

[2018-04-25 15:29] carlokok commented on #9217
ah no; I'm using the docker image (which seems hardcoded to 1.8) will upgrading fix it?

[code]

[code]

I'm fairly sure it's the upload but posted the text just in case.

[2018-04-25 16:00] timabbott commented on #9217
This issue is new to us, so it won't fix this; but it does fix some other issues with unusual messages that you may or may not have in your export data set :).  You could try using `upgrade-zulip-from-git` inside the Docker container to get to master?

Anyway, that message content kinda seems like a Slack bug we'll need to work around; It's weird that they have a `file_share` event with no file.

[2018-04-25 16:48] carlokok commented on #9217
Turns out this channel (evangelism) was deleted over a year ago. So I can't find the file.

[2018-04-25 16:54] akashnimare commented on #9212
Might be some caching issue, looks fine in incognito -

![image](https://user-images.githubusercontent.com/2263909/39260529-70412628-48d7-11e8-8e67-a905afee079e.png)

[2018-04-25 17:28] timabbott commented on #9212
Hmm... we haven't changed the styling in a long time.  Can you try playing with whether disabling the adblock extension fixes it?  They could be messing up the formatting, I suppose.

[2018-04-25 17:28] timabbott commented on #9212
@rishig I guess you can check if it's still broken for you, or if adblock has fixed their rules or something.

[2018-04-25 17:32] timabbott opened #9219 "import: Add Slack import features back to the default Zulip import/export tools"
We support exporting from Slack and then importing Realm emoji and emoji reactions, but don't yet support exporting those from Zulip in zerver/lib/export.py. Custom profile fields are in a similar situation.

Ideally, we'd sorta fill out the featureset of the export tool to cover all the features we've added in Zulip since I first added that tool (and ideally, after that, write some sort of end-to

[2018-04-25 17:37] timabbott opened #9220 "Suppress multiple welcome emails on zulipchat.com for same email address"
It's kinda annoying that as you sign up for multiple organizations on zulipchat.com, you get multiple copies of the welcome emails and hotspots (Etc.).  I think what we can do here is modify the `enqueue_welcome_emails` logic to have a conditional for users whose email already has an account.

I don't think we can just send 0 emails, but I think a good model would be this:
* If your email address

[2018-04-25 17:45] akashnimare commented on #9212
The GitHub icon looks fine after hard reloading though I still can't repro the original issue (the Google icon is still visible to me even after disabling the ad blocker).

[2018-04-25 18:10] timabbott opened #9221 "Add a proper webhook-style integration for phabricator"
Now that phabricator has an outgoing webhook integration, I think we could replace our https://github.com/zulip/phabricator-to-zulip integration with another incoming webhook integration, sharing all the formatting code with our other Git integrations.

See https://secure.phabricator.com/book/phabricator/article/webhooks/ for details on Phabricator's support.

Not tagging as a priority because Pha

[2018-04-25 18:17] timabbott commented on #2369
So, here's the design for how we're going to add this feature:
* [ ] Divide usage of the "email" field into two concepts: the user's email address (used only for sending the user emails) and the "display email" used for things like the compose box, API, etc. (aka 98% of code paths that interact with an email).  We'll need to be thoughtful about a few corner case code paths like invitations.  This

[2018-04-25 18:26] timabbott commented on #9212
The original problem was that the with the ad blocker enabled, the google icon disappeared (i.e. was ad-blocked).

[2018-04-25 18:44] #6213 closed

[2018-04-25 20:28] bramd opened #9222 "Make arrow key navigation work for screenreaders"
Currently, it is possible to move through messages using the arrow keys and use shortcuts to interact with the messages. This works fine for keyboard users, but not for screenreader users since only a visual indicator is used to indicate which message is selected.

To solve this, we need to:

1. Set the real focus to the active message, not just a visual indicator
2. Provide a correct/efficient la

[2018-04-25 20:28] bramd commented on #9222
@zulipbot label: "aria: accessibility"

[2018-04-25 20:29] bramd commented on #9222
@zulipbot label "area: accessibility"

[2018-04-25 20:41] rishig commented on #9212
yeah, still a problem for me.

[2018-04-25 20:50] nicholas-burr commented on #8432
@zulipbot abandon

[2018-04-25 21:41] Jmullan6 commented on #3802
I am not able to finish working on this bug. I believed I have found the area where the event happens, but I am not able to change it as I don't know where the message_edit method is located. On line 786 of zulip/static/js/popovers.js there is an onclick method that I believe is the cause of the event.

[2018-04-25 23:31] timabbott opened #9224 "Fix glitch in "Authentication methods" settings"
This "save changes" button feels misplaced:

![](https://d2mxuefqeaa7sj.cloudfront.net/s_FD7ABAEEEC5705F9B28D4931C9D262373E329F43B2642B8C4C4422EE0A5A8DA6_1524697947588_image.png)

We could probably just convert this widget to use our normal "administrative checkbox" system and get rid of the "Save changes" button entirely...

[2018-04-25 23:32] timabbott opened #9225 "Fix word-wrapping CSS for admin "User settings" page"
If you have long names, they split words awkwardly:

![](https://d2mxuefqeaa7sj.cloudfront.net/s_FD7ABAEEEC5705F9B28D4931C9D262373E329F43B2642B8C4C4422EE0A5A8DA6_1524698000895_image.png)

This should be a pretty simple CSS fix.

[2018-04-25 23:32] timabbott opened #9226 "Remove the"

[2018-04-25 23:33] timabbott opened #9227 "Remove the "Delete streams" administrative tab"
Now that we have a "Delete stream" button in the main streams UI, which has lots more context on description/traffic/subscribers, this page is useless.  We should just remove it.

We should make sure to remove the documentation in /help/ linking to this as well.

[2018-04-25 23:36] timabbott opened #9228 "Notification settings: List which streams don't match the default configuration"
For the top part of "notification settings", for streams:

![image](https://user-images.githubusercontent.com/2746074/39278168-933c4882-48a6-11e8-8c55-500b395aedb1.png)

We should display which streams don't match the default rules.

Slack does a pretty good job of this visually, if you're looking for inspiration, but probably this is a project where 80% of the work is doing the data plumbing to f

[2018-04-25 23:37] timabbott opened #9229 "Custom emoji upload user experience is super janky"
Right now, our user experience for uploading a new emoji feels pretty janky (probably most important is the lack of a preview, but it's also got some CSS glitches that feel unprofessional).  We should clean it up to make it feel quick and convenient to add a new one.

[2018-04-25 23:38] timabbott opened #9230 "User-level "bot settings" page looks a bit off in night mode"
This white stands out strongly (and the blue text is hard to read), and then some weird flicker happens when you hover your mouse over the other panels.

![](https://d2mxuefqeaa7sj.cloudfront.net/s_FD7ABAEEEC5705F9B28D4931C9D262373E329F43B2642B8C4C4422EE0A5A8DA6_1524698198200_image.png)

[2018-04-25 23:40] timabbott opened #9231 "Buggy HTML escaping of description for emoticons setting"
The code block is just showing the HTML text for the code block, not an actual code block:

![](https://d2mxuefqeaa7sj.cloudfront.net/s_FD7ABAEEEC5705F9B28D4931C9D262373E329F43B2642B8C4C4422EE0A5A8DA6_1524681884438_image.png)

[2018-04-26 00:14] timabbott opened #9232 "Add admin UI for making history in a private stream public to members"
The origin of this project is #2044, but I'm opening a new issue just because that one is very old and I want this one to focus on the technical plan.

We recently added the hacky `PRIVATE_STREAM_HISTORY_FOR_SUBSCRIBERS` setting, which lets a **server administrator** toggle this behavior for their entire server.  Obviously, the correct behavior is for this to be something controlled on a per-strea

[2018-04-26 00:15] timabbott commented on #2044
Closing in favor of the more concrete https://github.com/zulip/zulip/issues/9232; we have other issues for the other ideas around having a "stream owner/creator" concept, and I think we'd implement the enhancements for how this interacts with that when we do that feature.

Thanks for all the feedback folks!

[2018-04-26 00:15] #2044 closed

[2018-04-26 04:58] timabbott opened #9233 "test-backend argument parsing doesn't work with options at end"
I've been finding this pretty annoying recently:

[code]

[2018-04-26 05:36] stone212 commented on #9081
Okay.  That explains why Electron has to handle this instead of deferring to the system preferences.

Referring to my issue https://github.com/zulip/zulip/pull/469 that would work, although it means there has to be an extra step of going into the file system and opening the downloaded file.  But it solves the security issue from https://github.com/zulip/zulip/pull/469  About this current issue yes

[2018-04-26 05:38] #1000 closed

[2018-04-26 05:40] eschadt opened #9234 "Outdated JS guidelines in documentation"
In the [ReadTheDocs](http://zulip.readthedocs.io/en/latest/contributing/code-style.html#javascript-var) Code Contribution Guide, the JavaScript var section is outdated (following ES5 standard).

The guide states you should "declare JavaScript variables using var. JavaScript has function scope only, not block scope. " But with the advent of ES6, came let/const and with these, block scoping.

Maybe

[2018-04-26 05:54] shubhamdhama commented on #9231
@zulipbot claim, this looks like introduced by me in latest template deduplication (6a11ff5b28ed0bcbb4db19d05af02817091ed833), taking look at this

[2018-04-26 07:36] #9231 closed

[2018-04-26 07:37] timabbott commented on #9234
We are not using ES6 in this codebase yet; there's an ongoing webpack migration required before we can do that.  So the documentation is correct :).

[2018-04-26 07:37] #9234 closed

[2018-04-26 09:41] shubhamdhama commented on #9230
@zulipbot claim

[2018-04-26 15:34] #9225 closed

[2018-04-26 16:01] #9230 closed

[2018-04-26 16:03] eeshangarg commented on #9232
@zulipbot claim

[2018-04-26 16:36] timabbott opened #9238 "Fix handling of users entering very long stream descriptions"
We currently throw an IntegrityError on the backend if a user tries to enter a stream description that is longer than 1024 characters.  There's two issues here:
* [ ] We should be doing validation of the stream name on the backend and returning a 400 response, not a 500.
* [ ] We should be limiting characters in the text input in the web UI to make it basically impossible to enter a too-long descr

[2018-04-26 16:39] timabbott opened #9239 "outgoing webhooks: Add support for PMs in Slack-format webhook"
I don't have a precise reproducer, but I suspect if you create an outgoing webhook bot with the Slack format and then send that bot a PM, you get this exception:

[code]

We should implement that feature, since it should be pretty simple.

Tagging as a priority as part of our goal to get back to 0 known 500 errors in Zulip.

[2018-04-26 16:42] timabbott opened #9240 "Fix 500 when trying to change your email to a disposable email"
This validation error should be being reformatted as a JsonableError for the "email change" UI:

[code]

Tagging as a priority since this is part of our goal to get back to 0 known 500 errors in Zulip.

@hackerkid this is probably a good task for you.

[2018-04-26 17:46] timabbott commented on #672
This is now done with the modern /api site.

[2018-04-26 17:46] #672 closed

[2018-04-26 17:47] timabbott commented on #671
I think the current hosting setup of zulipchat.com/api works pretty well (and lets us do fancy things ReadTheDocs can't for logged-in users), so I think we can close this now :)

[2018-04-26 17:47] #671 closed

[2018-04-26 17:48] timabbott commented on #896
This was resolved more than a year ago :)

[2018-04-26 17:48] #896 closed

[2018-04-26 17:51] timabbott commented on #1474
I think now that we block network access in the unit tests, this has been fine for a few years, so I'm closing.

[2018-04-26 17:51] #1474 closed

[2018-04-26 17:53] timabbott commented on #1334
We've now done basically everything here other than the `computer_mit_user_fullname` piece (and a few more things too, like adjusting the stream history model to no longer specifically reference zephyr_mirror_realm), so I'm closing this issue as essentially resolved.

[2018-04-26 17:53] #1334 closed

[2018-04-26 17:54] timabbott commented on #1626
I think probably we should have just closed this; I don't think we're going to generate a list like this because of this stale issue :)

[2018-04-26 17:54] #1626 closed

[2018-04-26 17:54] timabbott commented on #1625
This was done in a better way as part of the Slack import effort.  Huge thanks to @rheaparekh for her hard work on the sequence numbers problem.

[2018-04-26 17:54] #1625 closed

[2018-04-26 17:56] timabbott commented on #1723
@rishig do you feel this issue is still useful?  I feel like I haven't seen similar feedback since then.

[2018-04-26 17:58] timabbott commented on #2275
I think I've concluded we basically don't actually want to make a DB field for this, but making it a setting would be reasonable.

[2018-04-26 17:59] rishig commented on #1723
Agreed.

[2018-04-26 17:59] timabbott commented on #1391
Closing this, since I think we've gotten rid of the ones that can be removed, and #2665 is the next step here.

[2018-04-26 17:59] #1391 closed

[2018-04-26 18:01] timabbott commented on #3283
I think this is resolved with our current setup for doing remote development environments.

[2018-04-26 18:01] #3283 closed

[2018-04-26 18:03] timabbott commented on #3698
This is done in the current documentation for our much-simpler installation process.  http://zulip.readthedocs.io/en/latest/production/install.html

[2018-04-26 18:03] #3698 closed

[2018-04-26 18:04] #8283 closed

[2018-04-26 18:04] #8482 closed

[2018-04-26 18:07] timabbott commented on #4381
This was fixed last year.  Thanks for the report :)

[2018-04-26 18:07] #4381 closed

[2018-04-26 18:08] timabbott commented on #4720
We haven't seen reports of this since the thing I thought might fix this 6 months ago, so I'm closing this as likely fixed.

[2018-04-26 18:08] #4720 closed

[2018-04-26 18:09] timabbott commented on #5256
Closing this, since we just adding this to the signup confirmation emails.

[2018-04-26 18:09] #5256 closed

[2018-04-26 18:11] timabbott commented on #5039
This was fixed in e0f30d02f2acea4292ac82187d66a512e2aa1b40

[2018-04-26 18:11] #5039 closed

[2018-04-26 18:14] #1723 closed

[2018-04-26 18:16] hackerkid commented on #9240
@zulipbot claim

[2018-04-26 22:26] Jmullan6 opened #9241 "messages still appear in stream after having their topic changed to a muted topic."
after changing the topic of a message, in the view source/edit message view, to a topic that has already been muted the message will still appear in the stream.

![muted topic](https://user-images.githubusercontent.com/35310981/39334538-a9c704b0-4974-11e8-94d1-6f490254cf44.JPG)

[2018-04-27 09:04] ChenZhaobin opened #9245 "Use token generated by my other user system"
I want to  use token generated by my other user system ,Is there any suggestion?
Just as   conversation here:  <a class="issue-link js-issue-link tooltipped tooltipped-ne" data-error-text="Failed to load issue title" data-id="316908992" data-permission-text="Issue title is private" href="https://github.com/tinode/chat/issues/79" aria-label="tinode/chat#79, Feature request User based on a rest API"

[2018-04-27 11:10] shikharvaish28 commented on #8941
After stopping the scroll, it's looking like this.
![after removal of auto-scroll](https://user-images.githubusercontent.com/22795943/39359660-7e62ccf4-4a38-11e8-9855-1da6f3e0afba.gif)

I tried it with different scrolling patterns i.e. scroll only if the message is short, but it doesn't seem to look good.
I'm opening a pull request but if there's any need to add scrolling then, please let me know

[2018-04-27 14:57] shikharvaish28 commented on #8941
This is the preview of the commits I'd like to be pulled.
If any issues, please let me know else I'll commit the changes and make a pull request.
![scrolling-wrt-viewport-height](https://user-images.githubusercontent.com/22795943/39369190-3d3f474a-4a59-11e8-9357-a72f0cbb0484.gif)

[2018-04-27 15:28] timabbott commented on #9245
@ChenZhaobin does your other system with with python-social-auth?  You can either integrate with that or do a direct integration in `zproject/backends.py`.  Either way, you'll probably need to write your own code, but you shouldn't need to write a lot of it (e.g. look at our GitHub auth backend).

[2018-04-27 15:30] timabbott commented on #9241
I can reproduce, thanks for the report @Jmullan6!  I guess this must be a corner case that folks don't do often, or it'd have been fixed a long time ago.

[2018-04-27 15:53] #9241 closed

[2018-04-27 16:04] timabbott commented on #9241
Fixed in master.  Thanks for the clear bug report!

[2018-04-27 16:07] #731 closed

[2018-04-27 19:58] shikharvaish28 commented on #8941
I closed the above pull request due to some serious git issue. Now the issue is resolved and now I'm opening a pull request with everything OK

[2018-04-27 21:35] timabbott opened #9251 "Make our `text_output` markdown integration do something reasonable with block quotes"
Right now, if a user sends a block-quoted message to another user and it ends up in a push notification, one can end up with what would read in the webapp as
[code]

looking like "something\n your reply" in the `text_output`, which is super confusing, since it makes it look like you said "something", when actually you're replying to it.

What we should do is translate the HTML `<blockquote>somethi

[2018-04-27 22:58] andychu commented on #9127
FWIW another user had a problem: https://lobste.rs/s/btackt/oil_dev_is_moving_zulip#c_dway2w

I thought it was perhaps related their own cookie settings, but since there are at least 2 people who had problems, it's probably more complex than that.

I've been able to log in, so I can't provide a repro.

Although I just tried in Firefox (on Linux) and I seem to be able to log in, but then I get into

[2018-04-28 00:34] timabbott commented on #9127
@hadrianw I think you might have misread the "No account found for ..." error message -- if you click the "Continue to registration", it'll let you create an account.  We just did a redesign of that page to be more clear (not available in production yet, but it now reads like this:

![image](https://user-images.githubusercontent.com/2746074/39389807-fc2065b8-4a40-11e8-9414-5624273bac73.png)

Actua

[2018-04-28 02:20] timabbott opened #9253 "message editing and deletion settings: Handle floating point durations better"
Currently, if you enter `0.1` minutes as your custom time limit with either the message editing or deletion organization settings time limit dropdown, something totally broken ends up happening (it sets things back to "any time").

[2018-04-28 02:36] #7344 closed

[2018-04-28 04:10] shubhamdhama commented on #9253
So here we have following options:
* set it to default `Up to 10 minutes ...`
* don't change at all.
* ceiling value

[2018-04-28 05:12] lasersox opened #9254 "Need warning before unsubscribing from a private stream."
I am Really happy after testing out zulip the last couple days. I'm excited to use it to help coordinate a distributed team. You are doing great work.

I had one issue when I accidentally clicked the "checkmark" in the stream list and removed myself from a private stream. I didn't get any warning this would cause me to be unsubscribed. Then, as organization admin, I wasn't able to find a way to su

[2018-04-28 05:44] hadrianw commented on #9127
@timabbott: that was it!

I continued with registration and I'm in.

Glad that redesign is in pipeline. I expected to see the registration page immediately. I forgot that sometimes social *login* leads to *registration*. I know that it's technically correct, but most often it just confuses me.

[2018-04-28 06:33] timabbott commented on #9253
Isn't the actual API defined in seconds?  I think we could just round to the nearest number of seconds it represents...

[2018-04-28 06:35] shubhamdhama commented on #9253
Makes sense, @zulipbot claim

On Sat, Apr 28, 2018, 12:03 Tim Abbott <notifications@github.com> wrote:

[2018-04-28 16:37] #9253 closed

[2018-04-28 17:27] timabbott commented on #3643
This is probably a good project to do sometime soon, before we get into deeper work on this page.  I think there's 2 parts:
* First convert the `settings_bots.js` code to store data-user-id type fields, and fetch the email from those using `people.js` and friends.
* Then, convert the APIs for `/json/bots` and friends to name users by ID, and migrate to the new APIs.  For /json/bots, we can definit

[2018-04-28 17:28] timabbott commented on #5806
This is addressed in the documentation for this at https://chat.zulip.org/api/running-bots

[2018-04-28 17:28] #5806 closed

[2018-04-28 17:28] timabbott commented on #7169
At this point, it's a bit late for there to be much value in advertising the changes (presumably everyone using it has migrated).

[2018-04-28 17:28] #7169 closed

[2018-04-28 17:36] timabbott commented on #6113
I did this a while ago, see get_user_profile_by_api_key.

[2018-04-28 17:36] #6113 closed

[2018-04-28 17:37] timabbott commented on #5538
Closing, since we haven't gotten the details needed to debug this, and there's a good chance the actual issue is outside our codebase.

[2018-04-28 17:37] #5538 closed

[2018-04-28 17:41] timabbott opened #9258 "Add support for using SSO auth methods when responding to an invitation (etc.)"
This would automatically fix other things that are side effects of this, e.g.:
* Create the first user in an organization without having the EmailAuthBackend enabled (e.g. #1795 and the analogues for other backends).

[2018-04-28 17:42] timabbott commented on #1795
Actually, I'm going to close this, and open a new issue that more clearly describes the situation: https://github.com/zulip/zulip/issues/9258

[2018-04-28 17:42] #1795 closed

[2018-04-28 17:43] timabbott commented on #8914
For this, we might want to email CircleCI with this as a bug report; this is probably a problem with their pip cache.

[2018-04-28 18:02] timabbott commented on #9127
Great!

@ciupicri can you try to confirm my theory as well?

[2018-04-28 18:03] abhigyank opened #9259 "hotkeys: Add shortcuts for arrow keys pan in lightbox view."
It would be great to add support for arrow keys for panning to the lightbox image viewer (when Pan and Zoom is enabled).

This is a follow up to #8689 which was fixed in #8747, which added shortcuts for pan and zoom in lightbox view.

[2018-04-28 18:04] #7561 closed

[2018-04-28 19:36] timabbott commented on #5553
Now that we've done #9170, I think the right initial solution is that users with a nonzero unread count should just still be displayed in the default view (rather than not).  Might want to extent it to "users you have a PM thread with in the data set present in the frontend", which would encompass that.

[2018-04-28 19:40] timabbott commented on #7237
I think we determined that this isn't actually a change we want to make, after deploying it in production, because the "compose PM + narrow" behavior is too useful.  So I'm closing this.

[2018-04-28 19:40] #7237 closed

[2018-04-28 19:42] timabbott commented on #6601
Closing in favor of the duplicate #9043.

[2018-04-28 19:42] #6601 closed

[2018-04-28 19:46] timabbott commented on #9043
This is pretty reproducible for me in production.

@showell if you want to try the fix you suggested in #6601, we can test-deploy on chat.zulip.org and see if it reproduces cleanly there.

[2018-04-28 20:33] timabbott opened #9260 "slack import: Improve how we construct user_profile objects"
As a follow-up to #9131, we should do the same transformation to how we generate user objects, eliminating the wholesale copying of a ton of default values from the UserProfile model.

This should help significantly improve the robustness of Slack import as we continue working on Zulip itself.

There may be more along these lines to do with Stream and friends as well.

[2018-04-28 20:33] timabbott commented on #9131
I also opened https://github.com/zulip/zulip/issues/9260 as a follow-up to this :)

[2018-04-28 20:52] timabbott commented on #5947
@rishig it is already in the popover actions menu, as "View source / edit topic" -- try playing with it if you haven't already.

[2018-04-28 20:57] timabbott commented on #750
Closing this, since that Mac issue was confirmed to be an OSX bug, and it doesn't seem any actual problems have come from this issue.

[2018-04-28 20:57] #750 closed

[2018-04-28 20:59] timabbott commented on #4283
Removing some labels, since this is very low priority.

[2018-04-28 21:00] timabbott commented on #2175
I think we might have fixed this by switching to a process group; it was a really long time ago and I haven't seen something like this since the process group change, so closing.

[2018-04-28 21:00] #2175 closed

[2018-04-28 21:01] timabbott commented on #5794
I was reading this code recently and testing this exact case, and this already worked correctly.

[2018-04-28 21:01] #5794 closed

[2018-04-28 21:04] timabbott commented on #7315
I can still reproduce this reliably on Linux; @shubhamdhama this may be a good little bug for you to investigate, given that you've worked on the reloading banner recently.

[2018-04-28 21:06] timabbott commented on #7274
I confirmed that this is now fixed (or at least, it works great in my development environment).

[2018-04-28 21:06] #7274 closed

[2018-04-28 21:12] shubhamdhama commented on #7315
@timabbott Here is the GIF and nothing looks odd to me:
![reloading](https://user-images.githubusercontent.com/22238472/39400905-ec71041c-4b56-11e8-9be4-08bbf00a7552.gif)

[2018-04-28 21:41] timabbott commented on #8184
This turned out to be a display logic issue, not a "marking as read" bug.  Next time @rishig, please be clearer in the report what was going on (specifically that it showed the green line, not that the unread counts are off).  It would have saved some confusion on my part about what was being reported.

[2018-04-28 21:42] #8184 closed

[2018-04-28 21:50] timabbott commented on #7315
Weird; it consistently does this for me:
![peek 2018-04-28 14-49](https://user-images.githubusercontent.com/2746074/39401154-73fa06ae-4af3-11e8-82a8-1415dfd3cb10.gif)

[2018-04-28 21:52] timabbott commented on #7315
If it doesn't happen for anyone else, though, it's possible it's not really worth working on.

[2018-04-29 00:34] rheaparekh commented on #9260
@zulipbot  claim

[2018-04-29 00:35] rheaparekh commented on #9006
@zulipbot claim

[2018-04-29 00:35] rheaparekh commented on #9004
@zulipbot claim

[2018-04-29 03:25] SnelsSM commented on #9218
@timabbott Yes, I can test. But I did not use the git. Can, please, the entire modified file completely, otherwise I do not understand the syntax of the python.

[2018-04-29 04:14] vikasvmads commented on #9111
Still working

[2018-04-29 12:04] zy964c commented on #9172
@zulipbot claim

[2018-04-29 21:15] npfoss opened #9262 "feature request: display email with name"
Hi, I'm really enjoying Zulip but find that the people in my organization tend to refer to each other by email address rather than the name Zulip displays. It would be convenient to have a display setting for "show name, email, or both" to identify the people in my message feed. (I know you can simply click on them to see their email, but this seems like a reasonably low-effort fix to an equally m

[2018-04-29 23:33] vinzcoin opened #9264 "disable notifications based on time-schedule"

[2018-04-29 23:33] #9264 closed

[2018-04-29 23:37] lukasIO opened #9265 "disable notifications based on time-schedule"
Hi,

just started using zulip and was wondering if there is a (planned) option to disable notifications for a scecific time span:
- mute for the next x hours
- mute every day from xx:xx to xx:xx

thanks!

[2018-04-30 06:42] YJDave commented on #3643
@zulipbot claim

[2018-04-30 06:48] YJDave commented on #9238
@timabbott Do we need to add variable in `Stream` model for maximum length of description like `MAX_DESCRIPTION_LENGTH` just like we have for stream name(`MAX_NAME_LENGTH`) or directly use constant `1024`?

[2018-04-30 07:29] aero31aero commented on #9148
@zulipbot abandon

I got lost in a lot of assignments and end sem exams, so had to stop work. What I found so far, in case someone else picks it up before I am free again:

1. Our custom links processor overrides the python-markdown(py-md)'s so we lose the reference based syntax completely.
2. Somewhere in its codepath, py-md generates a list of references as a name, link pair and that is used by

[2018-04-30 08:31] jayvdb opened #9268 "Integration request: ical support"
A lot of webapps provide an ical export, which could be integrated much like Google Calendar.

e.g. I am wanting to integrate https://band.us/ , but am mostly interested in the events which is exposed as `webcal://api.band.us/ical?token=<token>`

[2018-04-30 09:34] aero31aero opened #9269 "sidebars: Search box hides on reload."
There's an issue with both the left and right sidebar search states. Steps to reproduce:

1. `q` (search streams) -> `test` (write 'test' to the search box)
2. `w` (search streams) -> `test` (write 'test' to the search box)
3. Reload the page. The sidebars state is preserved, but the search box is hidden.

![image](https://user-images.githubusercontent.com/8033238/39421652-95527058-4c87-11e8-93e0-

[2018-04-30 09:47] lonerz commented on #9269
You could just do all the labelling with one command :) `@zulipbot label "bug" "area: right-sidebar" "area:left-sidebar" "help wanted"

[2018-04-30 09:51] lonerz opened #9270 "gear menu: Most hotkeys still work with gear menu open"
For example, if I accidentally press `s` while the gear menu is open (opened with EITHER hotkey or just clicking), chat will narrow to stream. Similarly, I'd think that `j` and `k` would move the selection up or down, but that moves the message pointer up and down instead.

[2018-04-30 10:10] aero31aero commented on #9269
Thanks for pointing that out. I wasn't aware. :sweat_smile:

[2018-04-30 16:57] #9227 closed

[2018-04-30 16:58] timabbott commented on #9269
I can't reproduce (reloading the page restores those widgets to their default), and I don't see how this would be possible from a codebase perspective.  Are you sure your reloaded the page?

[2018-04-30 16:59] lukasIO commented on #5622
would be really nice to have this somewhere in the sidebar... including the "mark me as unavailable" options

[2018-04-30 17:18] #8876 closed

[2018-04-30 18:20] #9028 closed, assigned to nobody

[2018-04-30 18:39] #9033 closed

[2018-04-30 18:42] timabbott commented on #4779
I think we fixed this as I can no longer reproduce -- it looks to have been a race condition where we were doing rerendering in the `success` handler.  Thanks for the report @synicalsyntax!

[2018-04-30 18:42] #4779 closed

[2018-04-30 18:44] timabbott opened #9276 "Improve selection behavior around the stream-settings checkmark"
If you try to click the checkmark to toggle subscriptions and misclick, you end with a selection like this:

![image](https://user-images.githubusercontent.com/2746074/39444168-ac31c54c-4c6b-11e8-8398-cefd17919b1f.png)

We should at least make those vertical lines not selectable.

[2018-04-30 21:55] jpellman opened #9277 "Retrieving API Keys Fails When Authenticating via LDAP *AND* Username and E-mail Address Are Different"
The fix for https://github.com/zulip/zulip/issues/806 (https://github.com/zulip/zulip/pull/809) assumes that the [username used for authenticating to LDAP is also the e-mail address](https://github.com/zulip/zulip/pull/809/files#diff-70a138eff954186bf078592d42b9510cR1100).  This works for scenario A described [here](https://github.com/zulip/zulip/blob/9a0fdf5b8dca376570bc182428ba6148fdba52c1/zproj

[2018-04-30 22:33] lonerz commented on #9270
ESC/up/down seems to work correctly. It doesn't seem to work for j/k or any other hotkey.

As for j/k in general, I'd think that it'll be kinda difficult to implement j/k in the left and right sidebar because j/k is used for searching.

[2018-04-30 22:36] shivams opened #9278 "Feature Request : Community Wiki Posts"
StackExchange Network has this cool feature to make posts "Community Wiki". This is really helpful when a post becomes a rich resource of information, and holds the potential to be enriched by being edited by community.

It's a feature which I personally would strongly like to see in Zulip. Further, Wiki (or let's call them "Sticky Posts") can be really helpful for several tasks like TODO lists an

[2018-05-01 00:01] timabbott commented on #9278
We're unlikely to work on this in the near future, since it's a bit off the path of making a great team chat tool (feels more like its own little product, really).

I think this idea is mostly a duplicate of https://github.com/zulip/zulip/issues/4080; we can track the idea there.

[2018-05-01 00:01] #9278 closed

[2018-05-01 00:02] timabbott commented on #9277
@jpellman thanks for the report!  I agree that this looks wrong.  Investigating.

[2018-05-01 00:09] timabbott commented on #9277
Hmm, I think we are correctly handling scenario B.  `username` in this API is supposed to be the user's email address (aka "Django username" in this code path's context), and if you look at `authenticate` in `ZulipLDAPAuthBackend`, you'll see that we call `self.django_to_ldap_username` to map that back to an LDAP username.

I think we're probably not correctly handling scenario C, however.  Is tha

[2018-05-01 01:19] #8879 closed, assigned to nobody

[2018-05-01 06:34] monisha-g commented on #6316
@zulipbot claim

[2018-05-01 13:10] jayvdb commented on #9268
At the moment I only have events which are whole day or longer, so I am only looking for new events occurring in the next 24-36hrs to be mentioned.

But I expect we may also create events for meetings, in which case reminders a bit closer to the start time would also be helpful.

[2018-05-01 16:33] timabbott commented on #9218
Sure, you can just download this and put it as your `zerver/management/commands/sync_ldap_user_data.py`
[code]

[2018-05-02 11:14] hackerkid commented on #9220
@zulipbot claim

[2018-05-02 15:57] #9251 closed

[2018-05-02 16:31] rishig commented on #6547
Update here: we can just use the current deprecation notice for `A`, and switch `D` directly to restore last draft.

[2018-05-02 17:36] jpellman commented on #9277
Currently, I'm unable to reproduce this on the test VM I was working on.  The first time our group was able to produce it, the server was configured to use scenario C.  One of the folks trying out our install noticed that performing a password reset allowed him to obtain a token when the VM was in this state (although from my understanding this effectively gave him two passwords- a Zulip-specific

[2018-05-02 17:42] timabbott commented on #9277
What I'd recommend doing is disabling `EmailAuthBackend` in `/etc/zulip/settings.py`, so that you don't have the confounding variable of Zulip-specific passwords, and flushing memcached with `scripts/setup/flush-memcached`; that might help with reproduction.

[2018-05-02 19:18] jpellman commented on #9277
`EmailAuthBackend` was disabled.  I just flushed memcached and that did the trick.  I'm able to reproduce scenario C again.  You're correct that scenario B is working as expected.

One thing that I noticed is that for scenario C I needed to log in to the Zulip instance using the username in LDAP, whereas for scenario B I needed to use the e-mail address.

[2018-05-02 19:29] jpellman commented on #9277
That seems reasonable.  I'll stick to scenario B for now.  I might have noticed another scenario C-related issue on the Android mobile app, but I'll put that in another issue.

[2018-05-02 19:30] timabbott commented on #9277
Cool, yeah, I'd open that in the zulip/zulip-mobile repo.

[2018-05-02 19:32] timabbott commented on #9268
But just to be clear, you'd like something that sends a message into Zulip for upcoming events from an ical link (with maybe a configurable time before the event starts)?

[2018-05-02 19:36] timabbott commented on #9095
Closing, I'm reasonably satisfied with the behavior in #9088.

[2018-05-02 19:36] #9095 closed

[2018-05-02 19:36] #9068 closed

[2018-05-02 19:42] #8242 closed

[2018-05-02 19:44] jpellman commented on #9277
Done (looks like someone else encountered the same issue in https://github.com/zulip/zulip-mobile/issues/1463 )

[2018-05-02 23:15] akashnimare commented on #9276
Quick fix. @timabbott does this look good -

<img src="https://dzwonsemrish7.cloudfront.net/items/0t052U0K2m1r1z1v1N0w/Screen%20Recording%202018-05-03%20at%2004.44%20AM.gif?v=3b548309"/>

[2018-05-02 23:54] timabbott commented on #9276
I think s; I'm a bit worried about the cursor behind being weird, but can't tell if it actually is without playing with it myself.  Open a PR?

[2018-05-03 00:04] akashnimare commented on #9276
Cool. @zulipbot claim.

[2018-05-03 00:44] akashnimare commented on #9276
Done - #9298.

[2018-05-03 00:51] akashnimare commented on #9265
@lukasIO I don't think this will be added in the webapp soon but I have just merged this feature in the desktop app. Currently, it enables/disables the do not disturb mode and the time-based DND will be added very soon.

![image](https://user-images.githubusercontent.com/2263909/39555897-190ddf9a-4e9a-11e8-89c6-9547008106a9.png)

[2018-05-03 02:41] ciupicri commented on #9127
This is what I'm seeing:

![image](https://user-images.githubusercontent.com/133797/39558033-468bcff0-4e94-11e8-8017-58bec5050de7.png)

![image](https://user-images.githubusercontent.com/133797/39558038-5070d5e2-4e94-11e8-9e20-c70743ede9a5.png)

![image](https://user-images.githubusercontent.com/133797/39558043-5a704de8-4e94-11e8-8e3f-5469afb28efc.png)

![image](https://user-images.githubuserconte

[2018-05-03 04:05] #9276 closed

[2018-05-03 04:46] hardik8085 commented on #5384
@zulipbot claim

[2018-05-03 09:09] lukasIO commented on #9265
@akashnimare that sounds great!
Is the DND mode an account-wide setting or just a desktop app setting?
I imagine it would be pretty confusing to set DND in one app, but still receive notifications from mobile...

[2018-05-03 14:48] akashnimare commented on #9265
@lukasIO It's just a desktop app setting so if you set it then it will only work in the desktop app. It disables/enables DND mode for all the added Zulip organizations.

[2018-05-03 15:01] lukasIO commented on #9265
@akashnimare ok, do you see the possible confusion that I mentioned? A DND option should be consistent among all apps in use, imho...

[2018-05-03 15:15] akashnimare commented on #9265
This will be consistent once we add this setting in the webapp, until then the DND desktop app's setting is all we have 😄

[2018-05-03 15:27] lukasIO commented on #9265
Makes sense, thanks :)

[2018-05-03 16:23] swallitsch opened #9303 "Webapp Users column should stretch to window height"
When using the webapp, the user column stops about 85% of the way down the page, and does not display a scroll bar until it is moused over. However, the end of the user column is usually indicated by the "Invite more users" button.

If a user has a portrait (upright) monitor configuration, the realm has the "Invite more users" permission disabled for non-admins, and the user has no Group PMs, it i

[2018-05-03 19:40] shikharvaish28 commented on #9254
Let's make 2 milestones for this.

1. Modal for unsubscription from a stream.

2. Admins have right to add themselves to a private stream.

[2018-05-03 19:57] timabbott opened #9305 "Fix handling of trailing slashes in narrowing URLs"
This link is broken; you need to remove the trailing slash:

https://chat.zulip.org/#narrow/stream/6-frontend/subject/select_first_unread/

We should fix our parsing to still have that take you to the narrow.

[2018-05-03 20:04] hackerkid opened #9306 "Upgrade pycodestyle to latest version"
Running `./tools/lint` will produce the following errors if you upgrade to 2.4.0

[code]

@zulipbot label "area: dependencies"

[2018-05-03 20:05] hackerkid opened #9307 "Upgrade django-auth-ldap to latest version"
Upgrading django-auth-ldap to 1.5.0 will produce the following error while running `./tools/test-backend`

[code]

[2018-05-03 20:09] hackerkid opened #9308 "Upgrade pip to latest version"
Upgrading pip to 10.0.1 will cause the following error while running provision in **Circleci **

[code]

[2018-05-03 20:09] hackerkid commented on #9308
@zulipbot label "area: dependencies"

[2018-05-03 20:34] shubhamdhama commented on #8385
@timabbott I want to know if there is any doc where we can refer to the guest user model, here is my current knowledge about the guest user(from above steps).
* The guest user is "invite only" member
  * (invited only for a definite or indefinite term?)
* Streams:
  * The guest user can not access any stream except to those to which they are invited/subscribed.
* Guest user can't use some common f

[2018-05-03 20:36] timabbott commented on #9308
Hmm, probably need to upgrade tornado-botocore first?  Or report and issue with them, if that doesn't help.

[2018-05-03 20:36] timabbott commented on #9307
interesting; @umairwaheed can you investigate this one?

[2018-05-03 20:38] timabbott commented on #9306
Cool, this should be easy to fix.

[2018-05-03 20:43] timabbott commented on #8385
I think roughly we're aiming for something similar to Slack's feature, and this is a helpful guide to how they do it: https://get.slack.help/hc/en-us/articles/202518103-Multi-Channel-and-Single-Channel-Guests

We may not want to do the precise thing, but that's a good checklist of the questions.

[2018-05-03 23:32] shubham-padia commented on #8605
yes

On Thu, May 3, 2018 at 5:41 AM zulipbot <notifications@github.com> wrote:

[2018-05-04 01:11] gnprice opened #9312 "typeahead: Count the start of an email address as a prefix match."
On chat.zulip.org, when choosing either PM recipients or an @-mention, if I type "tab" I get several users whose names start with those letters but whom I have never otherwise heard of as far as I can recall:
![image](https://user-images.githubusercontent.com/28173/39609280-9a51721c-4efc-11e8-9043-3c213f3d0c45.png)

And they appear ahead of @timabbott , even though his name does appear in the list

[2018-05-04 01:16] gnprice opened #9313 "search: Rank "messages sent by" above "PMs with"."
In the search bar, when I type someone's name or email address, I get options including "Private messages with $person" and "Messages sent by $person".

Nearly every time I do this, I want the latter. But we rank the former ahead of it, which makes the thing I do want more annoying to get to and feel less navigational.

I think one reason here is that when I want PMs with someone, I have a more di

[2018-05-04 01:37] rishig opened #9314 "help docs: Add "See all keyboard shortcuts" link in small font at the bottom of keyboard_tip."
We currently have tips that look like
![image](https://user-images.githubusercontent.com/890911/39609721-d73ad238-4eff-11e8-86c1-e6fa2ac1c815.png)

generated by the
!!! keyboard_tip ""
syntax in the user docs.

It would be great to add a link that's "See all keyboard shortcuts" to /help/keyboard-shortcuts in small font at the bottom of each such box.

[2018-05-04 02:27] #9245 closed

[2018-05-04 03:39] timabbott commented on #9314
This may require replacing the `admonition` markdown extension with something else of our own implementation, since I'm not sure we can easily that link and text all in pure CSS.

[2018-05-04 04:28] #7325 closed

[2018-05-04 07:41] sergeykorablin commented on #7330
Is there a way to use my own jitsi server instead of meet.jit.si?

[2018-05-04 10:02] ghisvail commented on #9081
Inline and full-size previews are quite useful if you're in a company in which communication between collaborators involve manipulating a lot of video files. It's arguably more convenient to be able to quickly preview a video, and click on it to watch it full-size in the browser, than downloading it.

[2018-05-04 15:28] timabbott commented on #7330
Yep, just set the `JITSI_SERVER_URL` setting to be the URL of your Jitsi server.

[2018-05-04 15:57] akashnimare commented on #9081
@ghisvail yeah, totally agree with you 😄

[2018-05-04 17:28] timabbott commented on #8385
Just to make a note on strategy here, for each of these features, we sorta have 2 phases of work.  First, we block the thing working in the backend, which addresses API concerns.  We can then test that it's doing its job by clicking around the UI in addition to the unit tests.  Then, we do a change in the frontend to hide access for guest users to widgets that they don't need access to.

I put a v

[2018-05-04 17:52] #9240 closed

[2018-05-04 23:26] #3710 closed

[2018-05-04 23:26] #6731 closed

[2018-05-04 23:28] showell opened #9318 "keyboard ui: Fix arrow key navigation for user profile menu."
If you enter the user profile menu (such as by hitting `u`) the arrow keys don't work to select menu items.  We should fix this.

[2018-05-04 23:47] timabbott opened #9319 "Expand `narrow_state.get_unread_ids` to support all can_apply_locally narrows"
The key function `narrow_state.get_unread_ids` effectively controls whether or not, when narrowing, we can do a local rendering of the narrow (without going to the server).

Right now, we have it implemented, using the data from `unread.js`, to handle many common narrows, but it can't handle more complex queries like `stream:foo sender:bar`, even though we do have all the data present in the webap

[2018-05-05 00:17] timabbott opened #9320 "muting: Fix subtle corner cases around topic editing"
Basically, if you're in a topic narrow (so muting is not enabled), and someone topic-edits a message to enter/leave that narrow (and doesn't do a propagate-downwards edit, which is a case where we'll actually renarrow the user), then we don't end up with the correct messages left in the `narrowed_msg_list`.

This is a somewhat, but not altogether, rare corner case.  See https://chat.zulip.org/#nar

[2018-05-05 14:28] timabbott commented on #8913
So I did some careful investigation here, and upgrading to Tornado 5 requires either removing some valuable logging or doing some nontrivial work:
* The `instance.set_blocking_log_threshold` feature is deprecated because they haven't implemented it for the AsyncIO implementation;
* We also can't really do our IOLoop logging thing with Python 3 and Tornado 5; I opened an issue tog et advice from th

[2018-05-05 21:03] shikharvaish28 opened #9324 "Realm admins cannot add themselves to a private stream"
Realm admins cannot add themselves to a private stream but they should be able to.

Steps to reproduce:

1. Log in as an administrator.

2. Go into a private stream and unsubscribe.

3. Click on the tick(Checkmark) and it would show error.

![admins cannot add themselves](https://user-images.githubusercontent.com/22795943/39667502-7ece68da-50d5-11e8-849e-9c770a4c90d9.gif)

Extension of #9254.

[2018-05-05 21:04] shikharvaish28 commented on #9324
@zulipbot claim

[2018-05-05 21:04] shikharvaish28 commented on #9324
@zulipbot claim --force

[2018-05-05 21:12] shikharvaish28 commented on #9254
@zulipbot label "needs review"

[2018-05-05 21:18] shikharvaish28 commented on #9254
@zulipbot remove "needs review"

[2018-05-05 22:44] timabbott commented on #9324
This is by design.  See our security model docs for details on why.

[2018-05-05 22:44] #9324 closed

[2018-05-06 00:31] ldionmarcil opened #9325 "user-groups: Inserting a double quote character in the "Name" throws SyntaxError"
If a double quote is inserted in a new User-Group `Name`, this [line of code](https://github.com/zulip/zulip/blob/aac76c14bdc1a6f7041cb996eb74996b6b1ac131/static/js/settings_user_groups.js#L40) will process the following jquery selector:
[code]
which will throw a `SyntaxError unrecognized expression` JavaScript error due to quote mismatching. Subsequent reloads of the "User groups" Organization se

[2018-05-06 15:31] shikharvaish28 commented on #9305
Could you please tell me how to reproduce this so that I could look in and fix this. @timabbott

@zulipbot claim

[2018-05-06 20:51] gnprice opened #9327 "Migrate away from `six` to pure Python 3 APIs"
We still have a couple dozen uses of the [six](https://pythonhosted.org/six/) library in our codebase -- see `git grep six`. This library exists to help write code that works on both Python 2 and Python 3; now that we're on Python 3 only, we can make things cleaner by replacing each of these with using the Python 3 forms directly.

This is sort of a companion to #9203.

[2018-05-07 02:27] rishig opened #9328 "portico: ToS box is a bit off in /accounts/register"
![image](https://user-images.githubusercontent.com/890911/39682199-6a5c61de-5163-11e8-94a5-c60bb906022c.png)

I got here by joining a realm via google auth, but I suspect it doesn't matter.

The ToS checkbox should be left-aligned with the Full name input box above it.

[2018-05-07 02:32] #8216 closed

[2018-05-07 02:47] timabbott commented on #9328
Tagging as a priority since this is both easy and visible.

[2018-05-07 03:56] timabbott commented on #7423
I did some testing, and apparently modern `puppet-apt` just does not work with the older versions of Puppet we have on Ubuntu Trusty (uses too much fancy syntax).  So we might need to do something else.

[2018-05-07 05:13] stone212 commented on #9081
Possibly.  I don't deal in videos so I have no use case to check against.

Easier maybe but if your Electron client uses a socks5 proxy that your browser does not then you don't want any leaks such as viewing a file/link/etc. in your browser.

[2018-05-07 06:43] umairwaheed commented on #9307
Yep.

[2018-05-07 10:53] akashnimare commented on #9081
@stone212 maybe he meant in the electron client :)

[2018-05-07 14:55] akashnimare commented on #9328
This looks good to me (tested on https://python.zulipchat.com/)-

![image](https://user-images.githubusercontent.com/2263909/39708102-df6d5eda-5233-11e8-892c-7c21c277402d.png)

(checkbox needs a left margin of 2px so that it gets aligned with the `Full name`)

[2018-05-07 17:10] timabbott commented on #4708
The basic version of this feature concept (in that it doesn't need a UI) is to limit posting to just organization administrators.  We should probably build that first, and then go from there.

So here's a design:
* We add a new field, `Stream.is_announcement_stream`, and those streams will be limited to organization admins posting.  (A v2 could be to let a user group be selected).
* We modify `che

[2018-05-07 18:10] shidarin commented on #8745
Experienced this issue again today on 2.0 on both CZO and a self hosted instance (both running the 1.8.1-rc) it was on both white and dark themes, but reset itself when I changed apps to start a screen capture. FYI, changing apps does seem to reset it frequently. Hard to capture.

[2018-05-07 18:31] Lyla-Fischer commented on #5803
Any more thoughts on this? it seems like this is not going to be an easy fix, unless we want to submit to Google's ads.

[2018-05-07 18:50] Lyla-Fischer commented on #8887
@akashnimare your fix doesn't seem to work on Firefox 59.0.2 (64-bit) on Ubuntu.

[2018-05-07 19:06] shubham-padia commented on #4708
@zulipbot claim

[2018-05-07 19:10] Lyla-Fischer commented on #8887
@timabbott all of the discussion in the bug reports that @akashnimare found seem to indicate that there is no workaround without completely rewriting perfect-scrollbar, which the maintainer doesn't want to do. Mostly, because it depends on `overflow: hidden` working in a way that was [fundamentally changed](https://bugs.chromium.org/p/chromium/issues/detail?id=13563). There is no javascript event

[2018-05-07 22:32] tpoterba commented on #9127
(same dev team as @danking)
I'm having problems with firefox as well. I tried both github and email logins, and both kept refreshing the login screen (though did keep sending "new login emails" -- we got about ten of those in a minute!)

[2018-05-07 22:50] timabbott commented on #9127
@tpoterba let's move your problem to a separate issue; if you're getting the same thing for email login, it's very unlikely to be the same issue.

Also, to confirm, are you folks trying chat.zulip.org (the Zulip community development server) or a different server?

[2018-05-07 22:58] tpoterba commented on #9127
We were trying our hours-old hail.zulipchat.org.

[2018-05-07 23:09] akashnimare commented on #9127
I can't reproduce this, works as expected (macOS + Safari + sign up with GitHub). Can you folks try signing up with GitHub using the incognito window in chrome, firefox?

[2018-05-08 02:43] stone212 commented on #9081
Oh.  In that case I see the value (even though I still don't like when applications try to do everything by themselves).

[2018-05-08 03:33] timabbott opened #9336 "Use the user's timezone in generating the "new login" emails"
Currently, we display the user's timezone in the "new login" emails in UTC, which can be confusing for folks who live in another time zone (e.g. it might show a login happening "tomorrow").  Since we do collect users' timezones in "display settings" (and automatically in the signup process), we should use that data to provide our best guest of the timezone to the user.

[2018-05-08 04:03] jdherg opened #9337 "Narrowing on a negated `is:` still limits the history the search to a user's history"
As an example: searching for `stream:foo` ("messages in stream 'foo'") returns all messages in public stream `foo`. Searching for `stream:foo -is:starred` ("messages in stream 'foo' that I haven't starred") only returns messages in public stream `foo` that are in the user's history.

Noticed while looking into #8859 . I don't think this is particularly urgent, but I also don't think it matches use

[2018-05-08 04:30] jdherg commented on #8859
I don't think I'll have a chance to look into this further until after the Pycon sprints, so allowed the reaper to kick in and free it up in case someone wants to pick it up then.

@SimplyAhmazing and I took a look at this the other weekend and didn't get as far into it as we would have liked -- leaving a few notes here in case someone picks it up before we get a chance to get back to it. (Go for

[2018-05-08 04:44] badmon commented on #9327
@zulipbot claim

[2018-05-08 04:51] badmon commented on #9327
Hey @gnprice I would like to claim this issue but isn't labeled 'help wanted' or 'good first issue'. Does that mean i can't claim it ?

[2018-05-08 05:22] rishig opened #9338 "message view: Changing topic doesn't rerender properly in unsubscribed streams."
After changing the topic and hitting enter, I got:
![image](https://user-images.githubusercontent.com/890911/39739208-99f0dd3a-5244-11e8-8359-66bab0f4b526.png)

I was able to replicate it in the situation where:
* Go to a topic narrow where there are two recipient blocks broken by a date line
* Change the topic of the second block (and save by hitting enter)

Changing narrows and back again I thin

[2018-05-08 06:26] timabbott commented on #9337
Agreed that this is low priority.  I think to do this properly, we'd just need to add a `needs_usermessage_left_join` case to the logic for whether to query `Message`, `UserMessage`... which might not be super hard.

[2018-05-08 06:27] badmon commented on #9327
@zulipbot claim

[2018-05-08 06:29] timabbott commented on #9338
@showell I bet this is a bug in our "fixed" topic-edit rerendering logic.  I haven't tried to reproduce.

[2018-05-08 07:49] rishig opened #9339 "emoji: Typeahead should not start for paren-colon-space."
Currently something like
`item): t` will (incorrectly) start the emoji typeahead on `t`.

Note that `item: t` correctly does not start the typeahead.

[2018-05-08 08:34] ghisvail commented on #9081
My company is currently evaluating using Zulip as a replacement for Slack,
and some level of feature parity is an important decision criteria.

If such critical feature is the ability to exchange small videos with
inline preview and playback in the browser (and client), then Zulip is not
a viable alternative as it stands today.

Am I correct?

Le mar. 8 mai 2018 à 03:43, Stone212 <notifications@gi

[2018-05-08 16:09] timabbott commented on #9081
@ghisvail well, it depends.  Zulip will preview videos posted on Youtube or Vimeo with inline preview and playback in the browser.  The thing we don't have is a pipeline for, inside Zulip, thumbnailing and playing back videos that users upload directly in Zulip.

[2018-05-08 16:50] timabbott commented on #9127
@danking are you using any browser extensions?

There is basically just one difference between how the GitHub integration works on zulipchat.com vs. chat.zulip.org, which is that there's an extra redirect step in the flow on zulipchat.com (because GitHub Oauth only lets you specify a single hostname for where it is allowed to redirect users to, so we need to bounce you back to your subdomain).  So

[2018-05-08 17:45] timabbott commented on #8887
We should look for alternative cross-platform scrollbar UI libraries that provide this feature.

[2018-05-08 17:49] timabbott commented on #9212
@rishig can you reproduce in development?  If so, we can try playing around with the markup to see if we can make the ad blocker not block it.  But otherwise, we should probably close this as not our bug, since in that case there's nothing we can do other than complain to the ad blocker.

[2018-05-08 18:11] rishig commented on #9212
yeah, repros in development

[2018-05-08 19:30] timabbott commented on #9127
Thanks for the debugging details!  I think the permanent redirect is just `/login` -> `/login/`, and shouldn't be relevant to the issue.

[2018-05-08 20:38] alenavolk commented on #9339
@zulipbot claim

[2018-05-08 22:29] showell commented on #8989
@timabbott and I are now leaning toward a solution like this:

[code]

The JS side is easy conceptually--if we know we've been subscribed for a "long time" (as defined by the code above), then we don't need to have the server give us data.  We'll have it all locally.

And then the main effort is to populate `Subscription.max_message_id_at_last_subscribe` when we subscribe folks to streams.

[2018-05-08 22:56] utkarsh23 commented on #8952
@zulipbot claim

[2018-05-08 22:57] timabbott commented on #8989
I guess an additional thought is that we probably can populate the initial values of `Subscription.max_message_id_at_least_subscribe` in a migration using `RealmAuditLog`, to let us do this correctly for pre-existing subscriptions.

`zerver/migrations/0093_subscription_event_log_backfill.py` means that we have something in that table for all subscriptions in RealmAuditLog.  The only tricky thing i

[2018-05-08 23:00] timabbott commented on #9305
@shikharvaish28 in general, if you don't understand how to reproduce an issue and you're new to a project, it's best to just find another issue to work on.

[2018-05-09 06:06] rheaparekh commented on #9239
@zulipbot claim

[2018-05-09 17:07] showell opened #9347 "Integrate server unread counts into topic_data.js."
This is a fairly challenging issue, not so much in terms of the code you'll need to write, but in understanding various Zulip data sources.

The file topic_data.js is a pretty small module that stores all the recent topics we know about, using per-message granularity when possible, but also using server counts for "historical" messages.

We need to make it so that when the server tells us about hi

[2018-05-09 17:20] timabbott commented on #9347
The nice thing here is that `topic_data` just needs a `max_message_id` and a count; if we just use the maximum unread message ID on the topic from our `unread_msgs` data for `max_message_id`, that'll do something reasonable; so the tricky part will be just figuring out a way to handle the `count` issue (which ties into the editing things).  I guess one possible version is that we don't edit the up

[2018-05-09 17:26] showell commented on #9347
I think that approach might be pretty reasonable.  Thanks to the way the `n` key works under the hood, I think we're only ever asking for lists of topics one stream at a time, so whenever we want the list, I think we can just graft in something from unread.js along the lines of Tim's suggestion.  I don't think this will require deep surgery to unread.js--it probably just requires some really simpl

[2018-05-09 17:40] showell commented on #9338
I don't have any immediate insight on this--the fix I made a few days ago was just to put out a fire, and I didn't really get too deep into it.

[2018-05-09 17:58] timabbott commented on #9338
I reproduced this, and the issue is just that the `rerender` that we're no longer doing was apparently important to making that edit UI go away.  I think we should possibly change to the `if muting_enabled {this._items = this.unmuted_messages(...)}` structure (so we always rerender) as a fix to this, but haven't dug deep either.

[2018-05-09 18:47] andrewchilds commented on #9163
Hi @jaredreich and @timabbott! :wave:

We would love to see a Zulip <> Clubhouse integration. The fastest way to get that built would be for someone from the Zulip community to open a PR and own the process, and we would provide technical assistance. We would also happily promote the integration in our in-app news feed, twitter account and marketing site as we've done with our other integrations.

[2018-05-10 03:38] #9327 closed

[2018-05-10 09:46] YJDave opened #9351 "custom fields: Improve UI style to reorder custom fields in org setting"
We allow org admin to reorder custom fields in `Organization settings -> Custom profile fields` section.
Currently, we are using up/down arrows in UI to reorder custom fields.

![customfieldreorder](https://user-images.githubusercontent.com/25907420/39863696-0889ec6a-5465-11e8-9f71-7ff17812c4bb.png)

Replace this arrows with "drag-drop custom fields rows" UI.
checkout slack's implementation if it

[2018-05-10 11:37] showell opened #9352 "performance: Create by-sender buckets in unread counts."
This is a good issue for somebody familiar with `static/js/unread.js` and writing node tests.

When the server sends us unread counts, they are bucketed by various things (stream/topic, pm sender, mentions), but we don't have a bucket for "sender" that includes stream messages sent by the sender.  This means for "sender:alice@example.com" queries we sweep all the local messages to find messages se

[2018-05-10 12:34] mahmoodn opened #9353 "Skipping Oracle java"
Although java 1.7 is installed on the system (ubuntu), the installer wants to download Oracle Java 1.7 and it fails due to some connection problems that I am aware of that.
[code]
How can I skip that step?

[2018-05-10 12:56] timabbott commented on #9353
This isn't a Zulip problem.  The Zulip installer is just running ` apt-get install -y lsb-release`, if you read closely, you'll see that you have a half-installed Oracle Java package, and apt is trying to finish installing it.  You should be able to `dpkg -r `oracle-java7-installer` to get rid of it and then proceed to install Zulip.

[2018-05-10 12:56] #9353 closed

[2018-05-10 13:36] mahmoodn opened #9354 "Could not bind to IPv4 or IPv6"
I got the following error while installing zulip

[code]

The log file also contains those line. What is the problem with binding?

[2018-05-10 13:40] mahmoodn commented on #9354
Is that the same as https://github.com/certbot/certbot/issues/5840
?

[2018-05-10 15:19] timabbott commented on #9354
I think Certbot's security model is such that they don't allow that for the "get a cert" phase -- because what they want is to check that you have administrative control over the server before issuing an SSL certificate, and that means used a privileged port (any user account can access port 5000).

[2018-05-10 16:50] YJDave opened #9357 "Inconsistent gravatar in message feed and user profile popover"
User gravatar is inconsistent in message feed and user profile popover.

![pasted_image 1](https://user-images.githubusercontent.com/25907420/39881894-df53738a-549f-11e8-9c19-4589c1adec62.png)
![pasted_image](https://user-images.githubusercontent.com/25907420/39881895-dfa8c8c6-549f-11e8-9e89-12f32c34eaee.png)

It can be case-sensitivity issue with computing gravatar URLs.
Checkout this issue [issu

[2018-05-10 19:36] #9357 closed

[2018-05-11 03:57] shubhamtambere commented on #9157
@zulipbot  claim

[2018-05-11 17:44] mobtexapp commented on #9354
Same problem here.

* .app domain never runs on port 80

How solve?

[2018-05-11 18:53] timabbott opened #9361 "Update S3 integration docs"
This block should reflect the fact that we moved the configuration (and ideally be just automated away somehow).
[code]

[2018-05-12 04:09] npfoss commented on #9262
Yeah, I realize Zephyr is kind of a niche use... So it really is automatically displaying their emails which I'm after (specifically, their MIT username).

[2018-05-12 08:17] davidtwco opened #9362 "Disable 'press enter to send' within code blocks."
Apologies if there's already an open issue for this, I couldn't find any.

It would be desirable for the 'press enter to send' functionality to be disabled when inside Markdown code blocks - when typing ` ``` `, pressing enter, intending to go to the next line to type some code, will result in the message being sent (sometimes empty or half-complete).

I think it would be more intuitive if while i

[2018-05-12 22:33] timabbott commented on #9362
@davidtwco nice idea!  I think it'd be pretty easy to implement and would likely improve the experience for folks with that setting (since you basically never want to just send a message with an unterminated markdown code block); I'm not 100% sure that there's a good way to communicate what's happening, but it seems worth a try.

[2018-05-12 22:35] timabbott commented on #9354
For installing Zulip, @mobtexapp, you can just use the `--self-signed-cert` option to install Zulip, and then get your SSL certificate whatever way you like and install it following our documentation.  It's impossible to use certbot on ports other than port 80 for getting a cert, though you only need certbot to control port 80 for a few seconds, so depending on how unacceptable downtime is for wha

[2018-05-13 19:35] burek967 commented on #9313
@zulipbot claim

[2018-05-13 22:48] zy964c commented on #9172
@zulipbot claim

[2018-05-14 00:20] #9203 closed

[2018-05-14 04:29] sivakar12 commented on #9336
@zulipbot claim

[2018-05-14 04:35] sivakar12 commented on #5105
@zulipbot claim

[2018-05-14 06:03] R3DDY97 commented on #7549
@zulipbot claim

[2018-05-14 06:40] Anupam-dagar commented on #7549
hi @R3DDY97, this issue already has a PR open which needs review.

[2018-05-14 06:49] R3DDY97 commented on #7549
@Anupam-dagar

[2018-05-14 07:34] shivams opened #9372 "Attachments inaccessible to new subscribers"
I changed a stream from PRIVATE to PUBLIC. However, new subscribers are not able to access the attachments.

How can I make the attachments accessible to them?

[2018-05-14 11:24] timabbott opened #9373 "One gets the "not subscribed" warning when mentioning a bot"
The interface for many of our bots is that, when mentioned, they receive the message mentioning them even if on a private stream where they are not subscribed.  We should make this notice not appear in that case:

![image](https://user-images.githubusercontent.com/2746074/39994596-a6cae3a4-572e-11e8-8920-ea3884592249.png)

[2018-05-14 12:20] kapilt opened #9374 "import from gitter"
I've been looking at adopting zulip for some opensource projects that are currently using gitter. We'd like to preserve the conversation history and import our archives back in. We've exported out our archives using https://github.com/minrk/archive-gitter which yields an array of messages, with each message having a json representation like this (standard github markdown support fwiw).

[code]

[2018-05-14 13:35] timabbott commented on #9374
Hi @kapilt!  Do you have a fully Gitter export archive that you can upload or otherwise share with us for testing?

I think @rheaparekh (who did our Slack import tool) might have time to work on this soon.

[2018-05-14 13:51] YagoGG opened #9375 "Improve the styling in the user docs' tables"
After talking with @timabbott, we decided that the looks of the tables in the [user docs](https://zulipchat.com/api/) could use some love.

This would be mostly making a couple fixes to the table's CSS to make them have a better aspect.

---

@zulipbot label "area: documentation (user)" "design"

[2018-05-14 13:56] hunden5 opened #9376 "AWS S3 Region Security Error"
When trying to authenticate with AWS S3 for Avatar and Uploads in the US East 2 Region (Ohio) we get the following security error:

 File "/home/zulip/deployments/2018-05-11-16-38-38/zulip-py3-venv/lib/python3.5/site-packages/django/core/handlers/base.py", line 185, in _get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/deployments/2018-05-

[2018-05-14 15:33] kapilt commented on #9374
Full export of one of the public gitter channels is here
https://s3.amazonaws.com/custodian-gitter/capitalone-cloud-custodian.json

git repo for that is https://github.com/capitalone/cloud-custodian

[2018-05-14 15:44] kapilt commented on #9376
looks like you need to explicitly configure v4 signatures, you can do it in your ~/.aws/config

[2018-05-14 16:55] timabbott commented on #9372
Thanks for the report!  I read the code, and this definitely doesn't work correctly.  I'm not sure what the correct solution is, though.  If you're running your own server, you can fix this up via a `manage.py shell`.  I'm running a sprints event today and this is a bit tricky, so I don't have time to prepare advice for doing this manually right now, but I can help in a few days.

[2018-05-14 17:30] phildini opened #9382 ""Add user to stream" interface was hard to find"
Hi there! In the pycon-sprints zulip (https://pycon-sprints.zulipchat.com/) I was having trouble finding the option to subscribe someone to a stream without @-mentioning them.

After chatting with @gnprice he showed me the option that does exist in stream settings, but two things stuck out.

1) That option is almost below-the-fold on small enough screens (see shot)
2) The button in the settings sa

[2018-05-14 17:33] hunden5 commented on #9376
This is what i get now...

2018-05-14 17:14:25.133 ERR [] Traceback (most recent call last):
File "/home/zulip/deployments/2018-05-11-16-38-38/zulip-py3-venv/lib/python3.5/site-packages/django/core/handlers/base.py", line 185, in _get_response
response = wrapped_callback(request, *callback_args, **callback_kwargs)
File "/home/zulip/deployments/2018-05-11-16-38-38/zulip-py3-venv/lib/python3.5/site-

[2018-05-14 17:44] hunden5 commented on #9376
actually we are getting the same error again.

[2018-05-14 18:00] timabbott commented on #9374
Awesome, thanks @kapilt!

[2018-05-14 19:05] rishig opened #9384 "search typeahead: "has:im" completes to something that doesn't make sense."
![image](https://user-images.githubusercontent.com/890911/40017616-e0cc4ee0-5787-11e8-9800-c065f64cc5a6.png)

If I hit enter, it selects the first option. The first option should either not be in the typeahead, or it should be called "Sent by .., search for has:im".

[2018-05-14 19:12] tpoterba opened #9385 "Redirect loop on login page from Firefox"
I'm having an issue logging into our zulip server (https://hail.zulipchat.com/login/) from Firefox. It's reproducible, and the issue has persisted since the creation of our server a week ago. Here are some more details:

* Clicking either "Login" or "Login with GitHub" bounces me to the same login page. However, the authentication succeeded somewhere because I get "new login" email notifications o

[2018-05-14 20:01] timabbott commented on #9111
Fixed via #9368.

[2018-05-14 20:01] #9111 closed

[2018-05-14 22:30] rishig opened #9387 "hotspots: Make reply hotspot more prominent."
We're still having trouble with people figuring out how to reply, so as a quick experiment let's try modifying the first hotspot (`intro_reply`) as follows:

* Making it open by default (so you don't have to click the pulsing question mark)
* Positioning it in the white space below the bottom message of the feed, and changing the styling to be more horizontal, like
![image](https://user-images.git

[2018-05-15 06:00] stone212 opened #9391 "Large files fail to upload"
I have

`MAX_FILE_UPLOAD_SIZE = 80`

But files of 28MB do not upload (they just hang, progress indicator stops moving).  Files of 9MB do upload.  I don't know where the cutoff is.

[2018-05-15 08:27] suryateja29 commented on #2745
Streams history is not visible to new users that are subscribed to that stream. But after I have done the steps mentioned above. Now the stream history is visible to new users but only for the streams that were created after changing those settings. The history of the streams that are created before changing those settings are still not visible to the new users.

[2018-05-15 11:47] eeshangarg opened #9395 "Implement Codebase webhook using the Event Hook API"
We currently have a non-webhook integration for [Codebase](codebasehq.com). But Codebase also has a dedicated webhook API called [**Event Hooks**](https://support.codebasehq.com/articles/getting-started/how-do-i-setup-notifications). We should see if we can quickly write a webhook implementation for it at some point.

I might take this up eventually if no one else does! Thanks! :)

@timabbott: FYI

[2018-05-15 12:23] piroor opened #9396 "typeahead: "keydown" events for Enter and Arrow keys should be ignored while "composition""
First, I describe what is the "composition".

In CJK language regions, people use some software named "IM" (input method) to input heir local language text. For example, when I search a Japanese term "日本語" (means "Japanese language") in a Zulip instance with Firefox, I need to do:

 1. Click the search field.
 2. Activate the IM. The "composition" session starts.
 3. Type keys: `n`, `i`, `h`, `o`,

[2018-05-15 12:27] piroor commented on #9396
For example:

[code]

[2018-05-15 12:52] rheaparekh commented on #9239
@timabbott I don't know if I am doing anything wrong, but I am unable to setup the Slack outgoing webhook.
I have set up an incoming webhook in Slack and used that webhook url as the `endpoint url` of my outgoing webhook bot. The outgoing webhook bot has this config:
![screen shot 2018-05-15 at 6 22 30 pm](https://user-images.githubusercontent.com/25330892/40057708-a674e0f0-586c-11e8-93a4-0d71a2d1

[2018-05-15 13:35] shivams commented on #9232
@timabbott : I'd like you to know that setting `PRIVATE_STREAM_HISTORY_FOR_SUBSCRIBERS=True` does not apply the setting to streams created before this setting. It only works for new private streams.

[2018-05-15 13:36] shubham-padia commented on #9305
@zulipbot claim

[2018-05-15 14:06] AWhetter opened #9397 "Improve documentation for using existing prostgres, etc"
We have existing setups for many of zulips dependant systems. The documentation currently does not make it clear how to use those existing systems rather than have the install scripts set them up for you. We discussed at PyCon that improving this documentation may help out other enterprises with setting up zulip with the systems that they have already.

[2018-05-15 14:27] alenavolk commented on #9312
@zulipbot claim

[2018-05-15 14:30] jmandel opened #9399 "Support more than just left-anchored (prefix) matches in stream search UI"
Currently if i have a stream like `fhir-infrastructure`, I won't find it by typing `q`, `infra` -- because stream search anchors to the left. It would be nice to find internal terms, too.

[2018-05-15 15:30] timabbott commented on #9397
@AWhetter we actually have a pretty nice system for this, that just isn't documented well.  I'll make it a priority to clean this up :)

[2018-05-15 15:31] timabbott commented on #9396
@piroor thanks for the thorough research!  We can definitely make something like this happen soon.

[2018-05-15 15:37] timabbott opened #9401 "Improve error message in bot settings when EXTERNAL_HOST isn't a proper domain"
If you set `EXTERNAL_HOST` to e.g. `abcdef`, not `abcdef.com`, the bot email addresses that we generate automatically when creating a bot don't validate, and we don't provide a clear error message as to why (which is essentially that the machine is misconfigured).

We should either come up with a hack to make this kinda work (maybe having a `BOT_DOMAIN` setting that defaults to `EXTERNAL_HOST`), o

[2018-05-15 15:38] timabbott commented on #9239
We should do some debugging; this feature hasn't been used a lot and so it may just be broken for everyone :(.

[2018-05-15 16:00] cdikibo opened #9403 "Disappearing Reply Button"
On smaller views on web and mobile, the reply button disappears or isn't present.

[2018-05-15 16:03] cdikibo commented on #9403
@zulipbot claim

[2018-05-15 16:33] lonerz commented on #9403
I think this is supposed to happen?

Sent from mobile. Please excuse any typos.

On Tue, May 15, 2018, 12:03 PM Caroline Dikibo <notifications@github.com>
wrote:

[2018-05-15 16:38] timabbott commented on #9399
This one is sorta interesting, in that doing a prefix match does make life better for cases like this.  I wonder if we're doing per-word prefix matching already but just not treating `-` as a word-break... if not, that's probably what we should be doing.

[2018-05-15 16:44] timabbott commented on #2745
Yeah, that's because we're an intermediate state of migrating this to be controlled in the UI (a few days from completion).  You can adjust manually on the `manage.py shell`, but this should be no longer messy very soon.

[2018-05-15 16:47] timabbott commented on #9391
Yeah, this doesn't work, and should.  We did some investigation into this.  Basically, for very large files, one needs to use chunked uploads or browsers will have problems actually doing the upload.  I think the fix will require replacing our `jquery-filedrop` library with one that can do chunked uploads.

@adnrs96 do you remember where we left off on that discussion?

[2018-05-15 17:34] timabbott commented on #9403
I think it'd be better for other buttons to be hidden (or to shrink to just icons) than to have no "Reply" button.

[2018-05-15 17:53] #4489 closed

[2018-05-15 17:55] lonerz commented on #9387
@zulipbot claim

[2018-05-15 18:19] #9339 closed

[2018-05-15 18:20] timabbott commented on #9385
@tpoterba are you at the PyCon sprints by any chance?  This seems like something that'd be a lot easier to debug in person.

[2018-05-15 18:22] timabbott opened #9409 "Some users cannot log into Zulip with Safari"
https://github.com/zulip/zulip/issues/9127#issuecomment-387513747 has a bunch of context and debugging details (and we've determined is unrelated to the GitHub auth specific issue originally reported there).  @danking @tpoterba FYI.

[2018-05-15 18:27] tpoterba commented on #9385
Unfortunately I'm not!

I'd be happy to help any way I can. I'll try to auth to another hosted zulip instance that's not chat.zulip.org, to see if the problem is isolated to our server or not.

[2018-05-15 21:50] #9347 closed

[2018-05-15 22:05] showell opened #9416 "javascript: Make initialization order more explicit."
This is an issue for somebody who understands our frontend startup process pretty well, as well as our conventions for wrapping modules and setting variables in the global namespace.

We have these functions still calling `$(function () {...})`.  We can make explicit initializers for them.

           archive - is a different bundle
           common - used elsewhere
           list_render - non-s

[2018-05-15 23:38] #3643 closed

[2018-05-16 06:12] rheaparekh commented on #9374
@zulipbot claim

[2018-05-16 10:30] hunden5 commented on #9376
We have done everything we can find to change sig version to V4 but to no avail we still have this issue. Any advice?

[2018-05-16 10:53] kapilt commented on #9376
aws sdk/boto3 allows configuring this via a few different mechanisms, and it should be autodetecting and enabling it by region by default.

via code, It can be explicitly enabled by doing something like this, fwiw. I've only needed to do this when I'm using kms encryption for s3 which requires v4 signature regardless of region.

[code]

and it can be explicitly enabled outside of code by a deploym

[2018-05-16 11:00] rheaparekh opened #9419 "Edit bot page: Display the correct interface for slack outgoing webhooks."
This bot has the `outgoing_webhook` type and the `Outgoing webhook message format` is `Slack compatible`. However upon trying to edit the bot, it shows the interface to be `Generic`, where it was supposed to be `Slack outgoing webhooks`. Also we are unable to save it as shown in the gif.

![slack bot](https://user-images.githubusercontent.com/25330892/40112975-744c32e0-5925-11e8-93ef-ec849c6df3ca.

[2018-05-16 12:02] pnkfelix opened #9420 "feature request: Ability to select multiple topics (without selecting *all* in the stream)"
Hi all

I recently discovered a scenario where we have a large stream with many streams, where some fork off into other topics.

I can follow the whole stream to see the discussion on the different topics interleaved, but it would be nice to have more control and be able to select all such topics of interest (and, importantly, *not* see the discussion on the other topics that are not of interest).

[2018-05-16 13:36] hunden5 commented on #9376
running import boto3 doesn't work for me. How do i get to:

import boto3
from botocore.client import Config

session = boto3.Session()
config = Config(signature_version='s3v4')
s3 = session.client('s3', config=config, region_name='eu-west-3')

The second option isn't working for us..

[2018-05-16 13:39] lennartgrunau opened #9422 "Can't invite people via EMail when LDAP is activated"
Both 'zproject.backends.EmailAuthBackend' and 'zproject.backends.ZulipLDAPAuthBackend'
are enabled in my configuration. If I invite someone via "Invite more users" and said user clicks on the invite link, the user is pointed to /accounts/register/ and receives an "Internal Server Error".

This is from the errors.log:

[code]

[2018-05-16 14:48] pnkfelix commented on #9420
Workaround: It has been pointed out to me that one can filter *out* topics via `"-topic:xxx" in the top filter bar`, so that provides a way to express what I want. A negative filter like that doesn't scale as nicely as a positive filter would, but at least its an option.

[2018-05-16 14:50] hunden5 commented on #9376
It appears Zulip is using Boto 2.4 and no matter what we do it's changing auth back to unsupported version.

[2018-05-16 15:08] timabbott commented on #9422
@revLenni thanks for the report!  I think I understand the problem and I hope we'll have a fix soon.

Just to make sure I understand the goal, you want to have most of your users using LDAP, but a few who are outside the LDAP domain just using email/password auth?

[2018-05-16 15:27] revLenni commented on #9422
@timabbott Yep, that's exactly the goal. Great to hear!

[2018-05-16 19:17] timabbott opened #9430 "Eliminate use of the jquery-form plugin"
We use the jquery-form plugin in exactly two places in the codebase:
[code]

I think we used to use this more a few years ago, but we have a super ancient version and we use it only in 2 places, and so probably we should just rewrite those two widgets to use the same mechanisms we use for literally every other form (and then remove the library from Zulip).

(https://github.com/zulip/zulip/pull/941

[2018-05-16 20:11] gnprice commented on #6511
It's been a few months since anyone put in a word for this issue, so I'll add a bump (having come here to file this issue if it didn't already exist):

Just now I've been catching up (a bit) on the RC Zulip org. It's super busy and I can't possibly keep up with most of it -- but there are a few streams that are super low-traffic, and where when they do get traffic I'd definitely like to see it. Em

[2018-05-16 20:33] timabbott commented on #8605
Fixed via #9182.

[2018-05-16 20:33] #8605 closed

[2018-05-16 20:41] #4708 closed

[2018-05-16 20:49] timabbott commented on #9419
@rheaparekh yeah, that seems totally broken.  @YJDave I think you just did some work on this page, so maybe you'll find this easy to debug?

[2018-05-16 21:06] shubham-padia opened #9433 "Compose error: Extra space below text when using the default `compose_error` class."
![selection_114](https://user-images.githubusercontent.com/13910561/40140371-6582e39e-5970-11e8-9827-bbe87c209bfd.png)
From an initial look, it looks like paragraphs in bootstrap have a bottom-margin of 10px. Changing the tag of the text from `<p>` to `<span>` should do the trick.

[2018-05-16 21:07] shubham-padia commented on #9433
@zulipbot claim

[2018-05-16 21:09] shubham-padia commented on #9373
@timabbott Is this any specific property of bots that needs to be checked or do we remove the warning for all bots for on both private/public stream

[2018-05-16 22:01] timabbott commented on #9361
In e63541e616b8e693730be77b5cdda47198704122, I just merged a set of changes to move the main documentation for the S3 backend to a ReadTheDocs article.

I want to still work on simplifying the steps here, so leaving this issue open for now.

[2018-05-16 22:05] #9433 closed

[2018-05-17 08:31] zy964c commented on #9336
@zulipbot claim

[2018-05-17 10:58] shubham-padia commented on #9384
@zulipbot claim

[2018-05-17 15:06] showell opened #9443 "node tests: Remove crufty fakes/mocks."
It's easy to run the node coverage reports and track down code in the tests themselves that never gets called.  Usually these are fakes/mocks that aren't really needed any more to test the code.

We should probably come up with a scheme to lock down these files, too, although there are some nuisances, like it's often legit to have a little bit of dead code in the node tests to help troubleshoot th

[2018-05-17 15:20] showell opened #9445 "bots/widgets: Create fancy form-based version of "pub trivia" bot"
This is a fairly advanced project which I will probably do myself or provide lots of oversight on, but there may be small chunks to delegate, hence the writeup here.

We want to create a "pub trivia" bot that asks questions on a stream, and users can reply with their answers by pressing on buttons (rather the more awkward response of `@trivia-bot answer q44 b`).

The first task here is to finish u

[2018-05-17 15:27] showell commented on #9445
The initial implementation of form-based buttons is on this PR:

https://github.com/zulip/zulip/pull/9426

This PR, once merged, will give us a JS module called `form_letter.js` that knows how to turn JS data structures into forms.

We will need to make this happen:
- the trivia bot should generate a JS form in addition to the markdown it currently has
- the trivia bot should put the JS stuff in a

[2018-05-17 15:50] rishig opened #9446 "general UI: Javascipt on-hover explanations have small text."
If you hover over the keyboard shortcut in the lower right, or the streams gear menu, you'll see that the text is pretty small. For contrast, hover over "Reply" or "Drafts" at the bottom of the screen.

We should make the text of the javascript on-hovers the same size as the html titles.

[2018-05-17 16:05] timabbott commented on #9446
@synicalsyntax this may be a good quick project for you :)

[2018-05-17 16:06] rishig opened #9447 "settings: Mouse should change to hand when hovering over label."
We allow clicking on labels to change the setting, and ideally the mouse would reflect that.

[2018-05-17 16:18] timabbott commented on #9447
@shubhamdhama this is probably a good quick project for you

[2018-05-17 19:50] timabbott opened #9451 "Make Zulip's open graph preview implementation production-ready"
There are a few things we need to do here:
* We should write some tooling to make it really easy to test a new URL in a reliable way.  Right now, the caching-in-database strategy we have (which is great for production) makes life difficult for re-testing one's work in development.  Options include moving to an in-memory cache or something in development (so that each code change flushes the cache)

[2018-05-18 10:18] shubham-padia commented on #9373
@zulipbot claim

[2018-05-18 10:41] Senso opened #9454 "After upgrade to 1.8.1, LDAP auth stops working."
I have made a fresh 1.8.1 install on Ubuntu 16, imported the PostgreSQL DB of our 1.6 instance, ran the DB migrations, everything seems to work.

`./manage.py sync_ldap_user_data` works, it updates all of our existing accounts (all LDAP).

`./manage.py query_ldap <any user email>` is found, so the LDAP config/connection is fine.

I'm tailing LDAP logs on our OpenLDAP server, I try to log in and I

[2018-05-18 12:26] shubham-padia commented on #9233
@zulipbot claim

[2018-05-18 14:54] shubham-padia commented on #9328
@rishig I'm also unable to reproduce the issue, it'd be great if you help re-confirming this.

[2018-05-18 21:01] timabbott commented on #9328
It happens reliably for me in Chrome on Linux on zulipchat.com

[2018-05-18 21:04] #9233 closed

[2018-05-18 22:12] #9384 closed

[2018-05-18 22:26] #9373 closed

[2018-05-18 22:55] timabbott commented on #9385
@tpoterba I suspect the issue will turn out to be something to do with your firefox configuration -- either interesting checkboxes or extensions you're using.  Can you investigate that a bit?

[2018-05-18 22:58] tpoterba commented on #9385
I've just confirmed that I also get the issue using safari, and I've never touched any safari settings on this machine.

[2018-05-19 07:28] shubham-padia opened #9461 "search: negated suggestions not working in some cases"
For special filters i.e `is` and `has`, negated filters are not suggested when suggesting that operator and also when the negated operator has been selected. While for some of the operators, negated suggestions are not shown once the operator has been decided.

e.g. exclude is not shown for has operator:
![selection_125](https://user-images.githubusercontent.com/13910561/40266293-4833f934-5b66-11e

[2018-05-19 07:29] shubham-padia commented on #9461
@zulipbot claim

[2018-05-19 18:27] rheaparekh commented on #9239
As mentioned in the documentation (#9462), `SlackOutgoingWebhookInterface` is an interface is which translates the Zulip's outgoing webhook's request into Slack's outgoing webhook request.

Slack itself doesn't support PMs to be outgoing webhooks (https://api.slack.com/custom-integrations/outgoing-webhooks), hence this interface wouldn't support PMs.

This issue can be closed.

[2018-05-20 19:51] timabbott commented on #9239
I don't agree -- I think that just means the correct fix to this is different.  We should be providing an error message back to the user, not throwing a 500 error.  Probably the correct mechanism is that `check_message` should reject attempts to send a PM to a Slack-format webhook user (and we might need to do something in compose as well).

[2018-05-20 21:02] timabbott opened #9466 "Add pgroonga to our postgres Docker image"
`Dockerfile-postgresql` should be setup to include and install the pgroonga postgres extension.

I've tagged this as a priority since it's probably easy and it's I think the only thing we'll need to do with this image for years, so it'd be nice to just get it clean while the project is fresh.

@sampritipanda this could be a good project for you if you're familiar enough with Docker (definitely wor

[2018-05-20 21:25] timabbott opened #9467 "Don't run create_realm_internal_bots in every provision"
We spend 1.7s (about 25%) of the time in a no-op provision running `manage.py create_realm_internal_bots`.  Given that this function is basically just database setup, we should be able to just move the call for this for the built-in realms to run inside the realm-creation logic
for `manage.py populate_db`, and remove it from provision entirely.

@adnrs96 I think this is a good project for you.

[2018-05-20 21:30] timabbott opened #9468 "provision: Make tools/inline-email-css only run if any input files have changed"
Currently, we spend about 1s (out of ~7s) of every no-op provision on my very fast laptop running `tools/inline-email-css`, even if none of the templates that it generates content from have changed.  I think we could probably do something similar to what we do with `is_template_database_current`, where basically we write a very fast check that just compares a hash of the content of `tools/inline-e

[2018-05-20 21:34] timabbott opened #9469 "stream create: The "Change" widget for changing privacy doesn't render initially"
If an organization admin creates a new stream, the little "[Change]" button for changing stream the stream's invite-only status doesn't render until one refreshes the page (or similar).

@YJDave this is probably a good quick one for you.

[2018-05-20 21:36] timabbott opened #9470 "Add an event for changes to stream history and privacy settings"
Currently, we don't have any sort of real-time sync event for updating browsers about streams changing from private->public or vise versa (and this problem will be inherited by our stream private-with-history feature).

Especially once #9243 is merged, I think it'll make sense for us to clean this up, since it's the main significant remaining wart in our real-time sync logic for stream settings.

[2018-05-20 22:09] timabbott opened #9471 "Parallelize test-js-with-node, at least without --coverage"
I think with parallelization, this could run in under 1s on my laptop (currently it's about 3s).

I think we can probably borrow the approach we use for `tools/lint` for doing the parallel command with very little code for managing parallelism.

For v1, we should not worry about coverage (and just don't do parallel if coverage is enabled), and then we can come back to doing that a while later.

Ta

[2018-05-20 22:15] lonerz commented on #9471
I was thinking about this a little more and I think it's definitely possible without calling `index.js` multiple times. All we have to do is move all the setup to another file and be able to have a function that solely runs `run_one_module`.

[2018-05-20 22:39] priyankp10 commented on #9471
I was thinking about this too, i think this is really easy to do, if we fork a node.js process (who just runs test files that the master process sends) and we split the work (the requiring to test file) so to its twice as fast.

(I think we can talk more about it at [#test-suites](https://chat.zulip.org/#narrow/stream/43-test-suites) if i am unclear here.)

[2018-05-20 23:54] #4351 closed

[2018-05-21 01:40] amanagr opened #9472 "Improve API documentation to cover searching for messages."
Using the `/messages` endpoint we can search messages for text. This requires requesting with the following parameters:
[code]

This can be implemeted along with #8595. @aero31aero @eeshangarg FYI.

[2018-05-21 01:41] amanagr commented on #9472
@zulipbot label "area: documentation (api and integrations)"

[2018-05-21 02:22] timabbott opened #9473 "Tag `validate_email_for_realm` error conditions for translation"
These are cases like the user's email already having a (potentially deactivated) account when attempting to register an account.

Opening an issue rather than just doing it because I'd prefer for @rishig to do a pass on these strings before we tag them; should be pretty quick.

[2018-05-21 03:27] tatsuya6502 commented on #2369
Any updates? I understand this would require non trivial efforts to solve, but this issue is sort of blocking some of us to move into Zulip. (We are an open source project/community)  Thanks!

[2018-05-21 03:48] timabbott opened #9474 "Add support for using lists of user IDs in `send_message` `to` lines and `narrow` declarations"
We'll want to migrate the webapp to use the new API in most cases (we can't do this for the zephyr_mirror case yet).  For compose, roughly, we just need to send the user IDs in the pills on to the server.

To be clear, we don't want to drop support for the old email workflow; it's handy for simple clients.  But the ID-based API will make life easier for clients (both terminal and mobile) to spend

[2018-05-21 04:26] timabbott opened #9475 "Add CircleCI test suite running on Ubuntu bionic"
@hackerkid are you up for doing this?  I don't actually know enough about how the CircleCI system works to do this.

Ideally we'd also do Debian stretch if it isn't hard.

Quick sidenote: You'll need #9460 for tests to pass.

[2018-05-21 04:35] timabbott commented on #9328
I registered a new account just now using GitHub auth, and didn't see this.  I wonder whether it's a bug that only appears with certain auth flows?

[2018-05-21 04:36] timabbott commented on #9224
@shubhamdhama this may be a good quick thing for you to fix.

[2018-05-21 04:37] timabbott commented on #9195
The link legibility issue has been fixed.

[2018-05-21 04:41] timabbott commented on #2369
@tatsuya6502 nothing major yet, but I'm hoping to get someone working on this actively this week.

[2018-05-21 07:57] shubham-padia commented on #9328
I was able to reproduce this by elongating the org name/url
![selection_132](https://user-images.githubusercontent.com/13910561/40296512-68dcf330-5cfa-11e8-90dc-30f7387aa95e.png)

Maybe it was a different org?

[2018-05-21 07:57] shubham-padia commented on #9328
@zulipbot claim

[2018-05-21 10:13] hackerkid commented on #9475
Sure. I can work on that once #9460 is merged.

[2018-05-21 10:35] showell opened #9479 "streams api: Allow setting muted/pinned for other users (for support streams)"
See discussion here:

https://chat.zulip.org/#narrow/stream/127-integrations/subject/Mute.20channel/near/583514

For organizations doing support, it can make sense to auto-subscribe users to certain "support streams" in the API, and you may often want the streams to be pinned and muted by default.  (Pin them so the users are aware of them, but mute them to avoid spam.)

We currently don't allow mu

[2018-05-21 13:02] HarshitOnGitHub commented on #9451
@zulipbot claim

[2018-05-21 14:31] timabbott opened #9480 "Add support for subscribing a user group to a stream"
This is a natural thing to do (arguably more natural than the existing "copy from stream", though I think both of their use case)

Some original discussion here:

https://chat.zulip.org/#narrow/stream/137-feedback/subject/Subscribe.20a.20group.20of.20users/near/583522

Some useful notes on how to do this is in https://github.com/zulip/zulip/issues/9915.

[2018-05-21 16:18] ababak commented on #9480
Yes, I see the use cases for both ways of adding users as well. Adding a group user could be a great way to make subscriptions dynamic and managed from one single place. An admin could delete a user from the group and be sure the user no longer has an access to a set of streams. The same with adding a new user to some group to give an access to several streams at once.

[2018-05-21 17:08] #9419 closed

[2018-05-21 19:17] timabbott opened #9482 "Look into whether there's something like our virtualenv-clone logic we can use for yarn/node_modules"
The overall goal here is to improve the `yarn install` part of re-provisioning when javascript dependencies have changed in some small way.

Read `try_to_copy_venv` in `setup_venv.py` to see what I mean; basically, for our Python virtualenvs, we have a nice system that checks if the changes to `requirements` are just adding packages or upgrading them, and if so, it just copies the closest existing

[2018-05-21 19:48] aero31aero opened #9484 "Allow editting topic "(no topic)" indefinitely."
Trying to rename topic name `(no topic)` shows a modal saying "Error Saving Edit" as shown below.
![image](https://user-images.githubusercontent.com/8033238/40326625-943f0b18-5d5d-11e8-8974-172ea6921bfb.png)

The intended behavior is to be able to save edits to a `(no topic)` topic indefinitely.

@zulipbot label "bug" "help wanted" "area: topics"

[2018-05-21 19:50] showell commented on #9479
A closely related idea here is to make descriptions be pinned to the top of message streams, so for support streams you could suggest to users that they do things like mute/pin the streams (as well as explaining or linking to the protocols for how to ask good questions, etc.).  Of course, if you don't pin a stream right away, there's the problem the users won't even know the stream exists.  The or

[2018-05-21 20:03] showell commented on #9319
This is roughly 75% done.  We now handle all the cases where stream/topic or similar is at the "front" of the search, but we can be even more aggressive here and use local messages for basically all search where can_apply_locally is true.

This is still on my radar to complete in the next few days.

[2018-05-21 22:13] timabbott commented on #9484
Hmm, yeah, this is a bug; @shubhamdhama FYI.

[2018-05-21 22:13] timabbott commented on #9484
I'm not sure what the precise right behavior is here; but presumably we shouldn't offer the option unless it's going to be allowed (probably we want changing "no topic" to be an option indefinitely?)

[2018-05-21 22:15] rishig opened #9486 "user docs: Scrolling to anchor should happen after images load."
Clicking on a left-sidebar link can take you to the wrong place in a doc. E.g.
* Go to http://localhost:9991/help/
* Click on "Sending Messages"
* Click on "Status messages"

It takes me to
![image](https://user-images.githubusercontent.com/890911/40332614-72ddff96-5d09-11e8-959c-521ff5100716.png)

The issue is that it decides the scroll position before the images are loaded.

Two possible solutio

[2018-05-22 03:27] shubham-padia commented on #8732
The no. of queries differs when using `assertNumQueries`,
e.g
1.) `test_home/test_home`: 42 instead of 41
2.) `test_home/test_num_queries_for_realm_admin`: 39 instead of 37
3.) `test_bots/test_json_users_with_bots`: 3 instead of 4

[2018-05-22 05:20] umairwaheed commented on #9307
Working on this.

[2018-05-22 05:40] #9461 closed

[2018-05-22 05:40] #9313 closed

[2018-05-22 05:48] timabbott commented on #8732
I suspect what's going on there is that we have a query or two that happen before the block that we're capturing queries during (e.g. the `self.login` line?).  Does that seem plausible?

If so, it's possible that our current setup is better and we should just close this as wontfix.

[2018-05-22 05:51] #9328 closed

[2018-05-22 06:03] shubham-padia commented on #8732
Yep, that seems plausible.

[2018-05-22 06:28] shubham-padia commented on #6515
@timabbott What are your thoughts on taking care of spaces for a new suggestion only?
e.g `sender:tim ab` would show a suggestion `Sent by Tim abbott <email>` along with the currently shown suggestions,
bit for `sender:tim abbott stream:Verona`, abbott would be treated as a search term and the suggestion would be `Sent by tim, search for abbott, ....`

[2018-05-22 08:02] shubham-padia commented on #3380
@zulipbot claim

[2018-05-22 08:06] AasthaGupta commented on #3380
@zulipbot I have a pull request for review.

[2018-05-22 09:16] shubham-padia commented on #3380
@zulipbot abandon

[2018-05-22 09:22] shubham-padia opened #9492 "search: Do not show default suggestions for `is` operator"
Follow up to #9453

[2018-05-22 13:57] timabbott commented on #8732
OK, closing as wontfix, given that our existing framework is working pretty well for us.

[2018-05-22 13:57] #8732 closed

[2018-05-22 15:03] #9492 closed

[2018-05-22 15:04] #9447 closed

[2018-05-22 15:07] ronso0 opened #9497 "Store desktop notification settings in Firefox"
Every time I log into https://mixxx.zulipchat.com/ I get this topbar asking me wether to allow desktop notifications. I don't need that feature. No matter if I explicitely disable notifications or just close that bar, it's back on every login, even after page refresh.

Cookies are allowed, script are allowed, so what else could be the problem here?

Firefox 59.0.2 (64-bit)
ubuntu studio 14.04

[2018-05-22 15:19] timabbott commented on #9497
@ronso0 if you click the "don't want notifications" option in that bar, it offers you a "never ask this again" option that uses browser local storage to keep track of that setting for the browser forever.  It fundamentally has to be a per-browser setting, since someone might want different behavior on different browsers.

Can you check if that works for you?  If not, it's possible you have some Fi

[2018-05-22 15:20] #9307 closed

[2018-05-22 15:29] timabbott commented on #3380
@shubham-padia would you be up for reviewing that PR (https://github.com/zulip/zulip/pull/8774)?

[2018-05-22 15:31] ronso0 commented on #9497
Okay, I must have missed that Firefox dialog after upgrading.
Disabling notifications is persisting Firefox restart.
Thanks!

[2018-05-22 15:31] #9497 closed

[2018-05-22 15:33] shubham-padia commented on #3380
Yes, I'm afk atm, will review tomorrow :smiley:

[2018-05-22 16:19] sampritipanda commented on #9466
I don't have much experience with Docker, but I'll give it a try.

[2018-05-22 16:20] sampritipanda commented on #9466
@zulipbot claim

[2018-05-22 16:33] timabbott commented on #9466
My main advice is to develop this in a cloud VM where network is fast.

[2018-05-22 17:39] shubhamdhama commented on #9224
@zulipbot claim

[2018-05-22 17:52] rishig commented on #9473
How about:
`%s is reserved for system bots`
and
`%s already has an account`
for the other two?

Given that the mirror dummy one is an assertion error, I assume we aren't really expecting that to ever happen? (In which case having one fewer string seems reasonable.)

[2018-05-22 18:08] aero31aero opened #9499 "Keyboard shortcut to narrow to the current compose context."
When we send a message outside of the current narrow, we see a modal saying "Your message is out of the narrow [Click here to narrow to the conversation]()". We should have a keyboard shortcut to switch to the current  compose context in that and other situations.

Possible combinations: <kbd>CTRL + N</kbd>, <kbd>CTRL + \\</kbd>, <kbd>CTRL + something</kbd> where `it doesn't conflict with a defaul

[2018-05-22 18:16] rheaparekh opened #9500 "webhooks: Rename the occurrences of incoming webhooks in Zulip from "webhooks" to "incoming webhooks"."
Currently in Zulip, all of the incoming webhooks are referred to just as `webhooks`. (example:  https://zulipchat.com/api/integration-guide#webhook-integrations and even the directory https://github.com/zulip/zulip/tree/master/zerver/webhooks). These occurrences of `webhooks` should be renamed to `incoming webhooks` to make it more clear and also help create a proper boundary between outgoing and

[2018-05-22 18:47] timabbott commented on #9500
@eeshangarg is this something you'd be able to help with?  I agree we should do this rename.

[2018-05-22 20:06] aero31aero commented on #2369
@zulipbot claim

[2018-05-22 20:54] timabbott commented on #9473
Correct, the mirror dummy one is an assertion error.  I think we should probably just skip reserved for system bots given that the condition is super rare and likely to be removed before anyone sees it (it's not really a thing you try).

[2018-05-22 21:07] #9224 closed

[2018-05-22 22:05] timabbott opened #9502 "Improve API for editing bot owners to refer to users by ID"
When editing a bot user's owner, it'd be cleaner to refer to the new owner user by user ID, not email; and then that would make it easier for us to move the check for whether the user's owner was already that out of `do_change_bot_owner` and into the `views` function, which is where that sort of validation usually belongs in Zulip.

[2018-05-22 22:16] timabbott opened #9503 "Add support for showing starred message counts like an unread count"
This feature idea is one of the approaches for the problem discussed in #5745 and requests for something like Slack's "reminders" feature, that seems both low-cost and potentially what I want personally.

The idea is simple: Show an "unread count" type thing next to the "Starred messages" widget in the UI (probably with a different color so it's clearly different), so that you can see how many sta

[2018-05-22 22:19] timabbott commented on #7088
This was fixed in https://github.com/zulip/zulip/pull/9463.  Thanks for your work on this @nkmishra1997!

[2018-05-22 22:19] #7088 closed

[2018-05-22 22:44] kamalmarhubi commented on #9020
Coming back to this a month later, I'm still hitting `C` on a fairly regular basis.

[2018-05-23 03:55] ababak commented on #7517
A more or less quick solution would be to use keyboard scancodes so that the keys fire up the events regardless of the active layout.

I wanted to open an issue as this is a big problem for our company but found this issue open since last autumn.

Thanks.

[2018-05-23 08:59] rheaparekh commented on #9219
@zulipbot claim

[2018-05-23 09:40] jayvdb opened #9509 "Import contacts"
I would like to import contacts from a Google Contacts group, which supports either

- Google CSV
- Outlook CSV
- vCard

Also it would be most helpful if this is also part of the:

- stream creation & management process, and/or
- user group creation & management process

[2018-05-23 11:01] showell opened #9510 "Allow API devs to copy/paste zuliprc contents from the UI"
Right now we have a button in our bots settings to download zuliprc to your PC, and typically browsers don't give you an option to name the file or specify the directory, so it's awkward to find the file, rename it, and often move it to another directory.

It gets even worse if you are running the bot from a different box than where you're running your browser, which is a common case.  If you're a

[2018-05-23 11:38] aero31aero commented on #9499
Closing in favor of #7804

[2018-05-23 11:38] #9499 closed

[2018-05-23 13:53] ababak commented on #7517
P.S. It looks like a place of interest is `https://github.com/zulip/zulip/blob/master/static/js/hotkey.js`
and the problem is that it uses [`event.which`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/which) (layout-dependent) instead of [`event.code`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code) (physical keys).

[2018-05-23 16:05] shubhamdhama commented on #9484
@zulipbot claim

[2018-05-23 16:06] timabbott commented on #9510
I most like the copy-to-clipboard icon idea; since the zuliprc has the server URL in it, I feel like it'll feel a bit ugly to have it there.

[2018-05-23 16:32] showell opened #9512 "dev setup: Try harder to preserve database contents during provision bumps."
When we add a dependency, we (usually remember to) bump our provision version, and then our tools nudge you to re-provision.  So far, that's all a good thing.

The provision process unfortunately pulls out the big hammer when it comes to re-populating your database with fresh data using all the latest migrations.  This is safe in some sense, but it can be super annoying if you've taken time to car

[2018-05-23 16:39] showell opened #9513 "settings: Make bot cards look nicer in narrow windows."
If you have a somewhat narrow window (or maybe just a long host name or bot name?) the bot cards get a scrollbar instead of just being a little taller.

We should make it a bit more responsive.

[2018-05-23 16:39] showell commented on #9513
https://chat.zulip.org/#narrow/stream/2-general/subject/bot.20developer.20experience/near/585219

[2018-05-23 16:55] showell commented on #2091
not yet

[2018-05-23 17:44] timabbott commented on #9513
@synicalsyntax this might be a good project for you :)

[2018-05-23 18:54] #9466 closed

[2018-05-23 20:10] shubham-padia opened #9516 "scrollbar appears for `not long` domain name."
![selection_138](https://user-images.githubusercontent.com/13910561/40448522-6570319e-5ef3-11e8-9542-a7a8a87c80c2.png)

[2018-05-23 20:30] #5105 closed

[2018-05-23 20:57] timabbott opened #9519 "Finish feature for copying profiles"
We have this cool feature that @hackerkid has been building to copy profiles from another account, and we have a few more things to do before we turn it on in production:

* When creating an organization using this feature, the flow feels even more out of order with this model.  We should swap the selections for the organization name/domain to be the top half of the form, which is an improvement a

[2018-05-23 21:04] #9516 closed

[2018-05-23 21:10] timabbott commented on #6515
That's probably OK.  If the user accepts the suggestion, we can spell it as `sender:"Tim Abbott"` so that it's easily parseable as we're editing later on.

[2018-05-23 21:21] shubham-padia commented on #6515
@zulipbot claim

[2018-05-23 21:25] #9397 closed

[2018-05-23 21:56] #8952 closed

[2018-05-23 22:13] timabbott commented on #9351
Tagging this as as priority, as it's one of the few things that are still really messy with custom profile fields.

[2018-05-23 22:33] timabbott commented on #135
No.  The topics list is just a list of the topics on recent messages.  If no recent messages have that topic, it will be sorted to the bottom or disappear.

I should also add that we recently added some more settings for controlling topic editing that make it easier for users to clean up topics on any test messages that they don't want to outright delete.

[2018-05-23 22:53] timabbott opened #9521 "Remaining TODO items for enabling two-factor authentication"
Now that we've merged #5753, Zulip has all the infrastructure for 2-factor authentication, but there's more work we need to do before we can turn the feature on in production.

Here's the outstanding TODO list for 2FA in Zulip:
* Clean up the monkey-patching hack in `TwoFactorLoginView`; probably the best option is to submit something upstream that makes it possible to pass this in or similar.
* D

[2018-05-23 22:55] timabbott commented on #6750
See #9521 for our current 2-factor auth approach.

[2018-05-24 00:40] Jinnial commented on #6750
@timabbott Thank you so much! I have alerted our systems administration and he is overjoyed to hear about the progress being made! We can't wait for the system to be fully implemented.

[2018-05-24 10:34] showell opened #9522 "Add server endpoint to say "I'm away""
This issue is not fully specified yet, so before you work on it, discuss it on chat.

The way our presence system currently works is that we essentially determine somebody's idleness by the lack of activity, which is pretty reasonable for lots of use cases.  It works through a combination of the server sending occasional updates of all recent activity and clients running timers.

The situation is

[2018-05-24 14:35] #9484 closed

[2018-05-24 15:22] akashnimare opened #9525 "Control-[ stopped working to dismiss the new message entry box?"
The issue is just what it sounds like: `control+[` used to be a synonym for esc and now it doesn't seem to be (it does nothing), despite the ? dialog box still saying Esc, Ctrl + [ | Cancel compose

Originally reported by @glyph - https://github.com/zulip/zulip-electron/issues/489

[2018-05-24 15:32] #9525 closed

[2018-05-24 17:41] timabbott opened #9528 "tooling perf: Replace calls to `lsb_release` with importing the python module"
I did a bit of testing on my machine, and the `lsb_release` command takes about 50-60, whereas just importing the `lsb_release` module from a running Python process and then calling its functions takes about 10ms.

We call `lsb_release` from a few places in python, all of which are perf-sensitive:
* provision
* `zulip-puppet-apply`

So I think it would be worth converting our code.  I think we wou

[2018-05-24 17:43] timabbott commented on #9197
For bionic, the thing we have left is that we get this warning from puppet on bionic:
[code]

This is pretty annoying to fix, because if you do the proper `Integer()` cast for Puppet 5 (what we have on Bionic), it's invalid syntax on Puppet 3.4 (for Trusty), and so puppet 3 prints an error (even if you put it inside a conditional for the distro).  It's possible that the right answer is to fix the

[2018-05-24 17:47] HarshitOnGitHub opened #9529 "frontend: Unread count badges not rendering properly."
![image](https://user-images.githubusercontent.com/16687990/40502375-62f91c7c-5fa8-11e8-9875-fb4e1233e5fe.png)

This seems to be a recent regression. They used to render properly earlier. FWIW I am Firefox 60.0.1 on Ubuntu with 150% zoom setting.
Related discussion: https://chat.zulip.org/#narrow/stream/6-frontend/topic/unread.20count.20badges

[2018-05-24 17:51] timabbott commented on #9529
This was caused by https://github.com/zulip/zulip/commit/b1295da72abc5cd6ba5f8ba489b741097bfe2296, which we've now reverted.  I'd like to figure out how to fix the original issue #8952 without breaking the unread counts, though.

[2018-05-24 18:17] hackerkid opened #9531 "Upgrade PyJWT to latest version"
Upgrading from 1.6.1 to 1.6.4 would result in the following error.

[code]

[2018-05-24 18:17] hackerkid commented on #9531
@zulipbot label "area: dependencies"

[2018-05-24 18:19] hackerkid commented on #8914
Tried upgrading again. Got similar error.
https://circleci.com/gh/hackerkid/zulip/818

[2018-05-24 18:34] hackerkid commented on #9531
PyJWT doesn't seem to be the cause of the issue. Closing for now.

[2018-05-24 18:34] #9531 closed

[2018-05-24 18:45] timabbott commented on #9531
I saw this recently in a Ubuntu bionic test VM.  I suspect the issue has to do with it being nondeterministic which users (maybe which bots?) are on that stream @sampritipanda can you investigate?

(It's possible the issue was just need to provision?)

[2018-05-24 18:56] timabbott opened #9533 "check-templates output happens in the wrong order"
@adnrs96 can you fix this?  The heading part is below the diff :/.

[code]

[2018-05-24 19:42] #9533 closed

[2018-05-24 22:43] rishig opened #9540 "portico: Clicking anywhere on tour should move it forward."
If you click on
![image](https://user-images.githubusercontent.com/890911/40517206-e596915e-5f68-11e8-9c59-7811a90bf97a.png)

at the bottom of /hello, it moves you to the second slide.
A natural instinct after that is to continue clicking in the middle of the pane, to try to get to the third slide. We should make that work.

More generally, we should make the whole area (i.e. the following)
![imag

[2018-05-24 23:30] badmon commented on #9528
@zulipbot claim

[2018-05-24 23:40] eeshangarg commented on #9500
@timabbott: For sure, I'll add it to my to-do list. Specificity is good, so I agree, we should do this rename! Hopefully, it shouldn't take too long! :)

[2018-05-24 23:53] gnprice commented on #5928
Here's another case of this:

* Someone's written some notes in an outline format (nested bulleted lists) in say Evernote.
* If I copy and paste from there into Zulip, all the formatting is lost -- it's just a bunch of text one line after another, with no bullets and no visual hierarchy.
* If instead I copy and paste into Dropbox Paper, by contrast, it works great -- the bullets turn into bullets,

[2018-05-25 00:34] timabbott commented on #5928
@gnprice can you try how this works for you in the Zulip development environment?  We have a feature disabled in production right now, because it had some bugs that we could try to finish and ship.

[2018-05-25 01:00] gnprice commented on #5928
Better! There are some bugs, but this seems like a good start.
* When I had nested bullets in a Paper doc, the nesting is lost -- it's just one bullet after another, at one level of hierarchy. This is a little bit better than losing the bullets entirely, but not great.
* When I had nested bullets in a previous Zulip message, the nesting sort of almost works -- the second-level bullet turns into ju

[2018-05-25 01:06] gnprice commented on #5928
Conversely, when copying to Paper:
* Inline code snippets work great.
* Bullets turn into bullets, but nesting is mangled.
* Bold works, as do links.

Also, one more thing Paper -> Zulip:
* Emoji turn into images in a Markdown-like syntax that doesn't actually work in Zulip. (Maybe Paper is emitting this Markdown-like thing?) E.g.: `![unamused face](https://paper.dropboxstatic.com/static/img/ace/e

[2018-05-25 01:10] gnprice commented on #5928
Also, with that feature on (i.e. as tested in my dev environment), we're actually doing both better and worse than Paper -> GitHub. In the latter:
* Bullets work, and crucially their nesting works.
* Links don't work!
* Inline code works.
* Emoji work -- actually they seem to turn right into the actual Unicode emoji character, so even in the input area I see the literal emoji. (And they don't beco

[2018-05-25 04:10] lonerz commented on #9387
I think a hacky version got merged?

[2018-05-25 04:10] lonerz commented on #9387
Closed via dcee398622ba84b8cc427e4ba4edabf54bc91185.

[2018-05-25 04:10] #9387 closed

[2018-05-25 10:02] hackerkid commented on #9519
@zulipbot claim

[2018-05-25 12:33] akashnimare commented on #9540
@zulipbot claim.

[2018-05-25 15:20] rheaparekh opened #9544 "Import: system bots should not be imported again if they already exist."
If we export a Zulip realm with system bots and try to import the realm back in, we get the error:
[code]
Hence, the system bots should be prevented from being imported back in.

[2018-05-25 15:24] timabbott commented on #9544
Zulip realms with system bots and other users are kinda an artifact of the development environment, so probably the right answer is to just not export them.

[2018-05-25 15:28] #9540 closed

[2018-05-25 15:44] rheaparekh commented on #9544
@timabbott Oh, I had already worked on preventing them from being imported again. I'll update it to prevent them from being exported.

[2018-05-25 15:44] rheaparekh commented on #9544
@zulipbot claim

[2018-05-25 16:08] #6515 closed

[2018-05-25 18:07] timabbott commented on #8177
OK here's a sample image with this problem for testing: https://www.dropbox.com/s/khc0ila04oomi4i/A9791474-33C6-4B84-8A99-2FA4D7A2F017.jpeg?dl=0

What happens in Zulip after uploading is the image is rotated 90 degrees off.

[2018-05-25 18:08] timabbott commented on #8177
https://stackoverflow.com/questions/13872331/rotating-an-image-with-orientation-specified-in-exif-using-python-without-pil-in might be relevant.

[2018-05-25 18:13] alenavolk commented on #9312
@zulipbot I'm still working on this.

[2018-05-25 18:19] timabbott commented on #9232
This is now complete; one can set the new setting via the UI, and the temporary `PRIVATE_STREAM_HISTORY_FOR_SUBSCRIBERS` setting no longer does anything.  Thanks everyone for the feedback on this!

[2018-05-25 18:19] #9232 closed

[2018-05-25 18:28] timabbott opened #9549 "Weird JS traceback with lightbox unable to find its message"
We see this JS exception in production reasonably often, and I have no idea what code path ends up trying to open the lightbox without a corresponding message (the caller is a jQuery event handler).  Here's the interesting part of the traceback (well, there's actually two that happen in quick succession):

[code]

I'd love it if someone tracked it down, just because it spams up our JS traceback re

[2018-05-25 19:02] #9325 closed

[2018-05-25 19:27] timabbott opened #9550 "Improve the user experience of using our import tool"
We should do the following to clean this up a bit:

* [x] Remove the `--import-into-nonempty` option (we should just make that behavior the default).  We can leave the option present in argparse (and just have it print a warning if passed for now) and not update the docs until we're ready to do the 1.9 release, since we don't want the docs getting out of sync with the latest release.
* [ ] Maybe u

[2018-05-25 19:54] timabbott opened #9551 "Make it possible to configure a user group as the set of people who can post to an announce-only stream"
Currently, announce-only streams limit posting to just organization administrators.

But it should be possible and reasonable to change the set of people allowed to post to be any user group.

@shubham-padia this probably makes sense for you to do, but it's not super urgent (I'd get the checkbox UI for this feature done before thinking too much about this).

[2018-05-25 23:44] iamdarshansoni opened #9552 "Getting 400 Bad Request response while accessing the zulip from any device on LAN"
I have deployed one VM which is running Ubuntu 16.04 and successfully installed Zulip server on it. Network adapter of VM is Bridged adapter However, I can not access the zulip website by my VM's IP from my host machine.

[2018-05-26 00:17] iamdarshansoni commented on #9552
resolved it by adding server's IP in ALLOWED_HOST in /etc/zulip/settings.py file

[2018-05-26 00:17] #9552 closed

[2018-05-26 04:06] shubham-padia commented on #8177
@zulipbot claim

[2018-05-26 18:07] rishig opened #9557 "stats: Add a rangeslider to the "number of users" plot."
The "Active users" graph at /stats could use a rangeslider, like the one we have for the number of messages graph:
![image](https://user-images.githubusercontent.com/890911/40578909-8846a812-60d1-11e8-92c7-bb36ab4cdfde.png)

It would also be great to have buttons for "Last 2 months" and "Last 6 months" instead of the current "Last 30 days".

The following may be helpful reading:
https://zulip.read

[2018-05-26 19:51] aero31aero commented on #2369
Refactoring progress tracker:

- [ ] activity.js
- [ ] admin.js
- [ ] admin_sections.js
- [ ] alert_words.js
- [ ] alert_words_ui.js
- [ ] archive.js
- [ ] attachments_ui.js
- [ ] avatar.js
- [ ] blueslip.js
- [ ] bot_data.js
- [ ] buddy_data.js
- [ ] buddy_list.js
- [ ] channel.js
- [ ] click_handlers.js
- [ ] colorspace.js
- [ ] common.js
- [ ] components.js
- [ ] compose_actions.js
- [ ] compos

[2018-05-27 03:37] Goakgoak commented on #8385
First of all, this is such a powerful, light and beautiful application. I embarrassedly recognize it was love at first sight. I saw it, quickly tested it and couldn't get more sleep 🥇 This is a wonderful piece of art. Work as well :)
It has everything you need for communication.
I only miss two things, and they are both related to user type. Some sort of super admin (to re-use WP types in MI) and

[2018-05-27 05:40] shubhamdhama commented on #8385
I guess you're talking something similar to slack's "Owner" and "Admin", where admins are appointed by the owner and have almost all powers owners except some superior decisions about the organization.
@timabbott I guess we have discussed similar "Moderator" and "Admin" hierarchy few months ago but didn't reach any conclusion.

[2018-05-27 10:31] shubham-padia commented on #8177
The thumbnail and avatar images which we are resizing can be fixed with PIL.
The issue for the other (e.g message) images lies on the browser side. The relevant chromium issue is https://bugs.chromium.org/p/chromium/issues/detail?id=56845.
The problem can be fixed on the browser side as shown at https://stackoverflow.com/questions/20600800/js-client-side-exif-orientation-rotate-and-mirror-jpeg-ima

[2018-05-27 16:56] timabbott commented on #8177
OK.  Well, to start, we should probably fix our PIL thing, since that's fully under our control.  For the rest, we might want to see whether the Thumbor thumbnailing system does the right thing.

[2018-05-27 17:44] rheaparekh commented on #9374
@zulipbot I am still working on this.

[2018-05-27 19:08] YJDave commented on #9470
@zulipbot claim

[2018-05-27 19:09] YJDave commented on #9469
@zulipbot claim

[2018-05-27 21:37] brickbite commented on #9157
@zulipbot claim

[2018-05-27 21:41] brickbite commented on #9157
Expected behavior is that only one should be highlighted?
And that mentions should be ignored?

file: ```zulip/static/js/alert_words.js```
function: ```.process_message```
behavior: for each message, alert words are checked in the order that they are defined. if an alert word/phrase is found, this function wraps that word/phrase in a <span> tag

If the substring comes first, it would modify the ht

[2018-05-27 22:01] brickbite commented on #9157
Also, wanted to note this somewhere: Alert words are only updated on page refresh. Updating alert words does not update the highlighting of the content you are currently viewing. Seems like this is by design, but this makes it possible to have messages both highlighted and not highlighted when they contain the alert words text.

In this example, "says hi" is the alert word:
<img width="1244" alt="

[2018-05-27 22:29] rishig opened #9561 "activity: Font awesome icons not showing."
There should be a few icons on this page here:
![image](https://user-images.githubusercontent.com/890911/40591245-4b108fb6-61c2-11e8-81d4-55850b5c2ea9.png)

E.g. at
![image](https://user-images.githubusercontent.com/890911/40591247-6587a712-61c2-11e8-8784-b8cb04a80242.png)

The html is at `templates/analytics/realm_summary_table.html`.

You can get to the page from http://analytics.zulipdev.com:99

[2018-05-28 03:57] sampritipanda commented on #9531
@timabbott Couldn't really reproduce this on a bionic with the latest provision.

@hackerkid If you're still getting this error, can you just print the contents of `add_peer_event['users']`, would help with debugging.

[2018-05-28 05:12] timabbott commented on #8618
@rvencu did you figure this out?

[2018-05-28 05:15] timabbott commented on #9121
Closing this, as we now are prepared to provide official support for https://github.com/galexrt/docker-zulip (I just rewrote the package's documentation).

[2018-05-28 05:15] #9121 closed

[2018-05-28 05:16] timabbott commented on #5513
(I should note that it is now possible to do this sort of thing with Docker).

[2018-05-28 05:16] timabbott commented on #3914
Closing this as stale and not reproducible.

[2018-05-28 05:16] #3914 closed

[2018-05-28 06:06] #8878 closed

[2018-05-28 06:33] rvencu commented on #8618
yes though it went right at my second installation attempt only

[2018-05-28 06:42] #8618 closed

[2018-05-28 07:34] lennartgrunau commented on #9422
Hey there @timabbott, any updates?

[2018-05-28 09:28] shubhamdhama commented on #8385
@timabbott For

[2018-05-28 19:31] timabbott commented on #8385
@shubhamdhama I don't think so; only half of the code paths should be modified here (e.g. guest users should still send presence data; just not receive all of it).  It's just a good thing to grep for in order to find the code paths we'll need to modify.

I think we should skip the presence step for now, though, because the feature would be fine and totally useful even if gave guest users full acce

[2018-05-29 04:14] timabbott commented on #9422
@lennartgrunau sorry for the slow reply; this issue came in while I was busy with PyCon.  I think this should fix the issue:

[code]

(I'm going to write a test next to confirm)

[2018-05-29 05:47] timabbott commented on #9422
After some testing, the fix this ended up being a bit more complicated.  I'm about to merge a fix for this, but it's probably best to think about this as a new feature.

Just to provide some context, historically, we did not support having these two backends enabled together at all (or really, LDAP and anything else).  This was nice, in that we didn't need to worry about e.g. folks setting a passw

[2018-05-29 05:50] #9422 closed

[2018-05-29 05:50] timabbott commented on #9531
Yeah, I think this might be something where if you provisioned with a certain master, it wouldn't update `populate_db` properly when you rebased to a newer version.  For me, `do-destroy-rebuild-test-databsae` fixed it.  So might be a bug that won't recur.

[2018-05-29 05:56] timabbott commented on #9385
Tagging this as a blocker since I definitely want to track this down soon. @tpoterba can you stop by chat.zulip.org and PM me sometime tomorrow to debug this interactively?  I have a theory we can test out.

[2018-05-29 06:29] hackerkid commented on #9531
Yeah. I can't reproduce it.

[2018-05-29 09:19] tpoterba commented on #9385
Yep, will do.

[2018-05-29 11:40] rheaparekh commented on #9550
@timabbott I am confused about the point 2. Can you explain it a bit more?

[2018-05-29 12:31] lennartgrunau commented on #9422
Well, this hasn't been working.

[code]
Had to rollback the vm to an earlier version. Gonna wait for the RC.

[2018-05-29 12:42] AkshJain99 commented on #8750
@zulipbot claim

[2018-05-29 13:57] NQNStudios commented on #6027
I would make extensive use of this feature. Would the devs in charge of the project welcome a PR?

[2018-05-29 14:39] timabbott commented on #9422
Thanks for the report @lennartgrunau!  I appreciate your finding this!  Fixed in 7ccefc3e5dc2b0213cdc45e0edfbfe99b3bffa97.

(@eeshangarg FYI -- I felt like we were missing something when removing that setting).

[2018-05-29 15:10] timabbott commented on #6027
@NQNStudios yeah, a PR would be welcome on this!  But probably we need to think through backend technical design for this first; we can probably start with doing something similar to `muted_topics`, but it might make sense to create a new table instead.

If you'd like to get started, you can begin with the UI piece, and we can do the database model when I have a bit more time (have to run to an ap

[2018-05-29 18:49] timabbott opened #9575 "Fix less-than-helpful link to installing Python bindings"
The `download-python-bindings.md` macro used in integrations like /integrations/doc/hg on `/integrations` doesn't link to the Python version of the bindings

@YagoGG this is a pretty important issue.

[2018-05-29 18:55] timabbott opened #9576 "Support creating the first user in a realm with LDAPAuthBackend"
Currently, Zulip requires that you create the first user in a Zulip organization with an auth backend that is not LDAPAuthBackend.  It would probably take a bit of plumbing to make it possible to create an organization with LDAP, but not a ton, and it would likely help a lot with preventing confusion like https://github.com/zulip/docker-zulip/issues/119#issuecomment-392326669.

[2018-05-29 18:56] timabbott commented on #9576
(A preliminary thing to do would just be to highlight the fact that this doesn't work more proactively in our docs)

[2018-05-29 20:39] rishig opened #9577 "integrations: Going to any doc link flashes through the home screen first."
Clicking on a link like http://localhost:9991/integrations/doc/jira takes you first to
![image](https://user-images.githubusercontent.com/890911/40684189-95603ed4-6345-11e8-8302-d5566e7ac7bf.png)

and then to the correct page.

Not sure how easy or hard this is to fix.

[2018-05-29 21:15] timabbott commented on #9577
Yeah, I just noticed this too.  @jackrzhang do you remember this codebase well enough to investigate this quickly?

[2018-05-29 22:45] #9430 closed

[2018-05-29 23:15] brickbite commented on #9157
For the issue of overlapping alert words, in keeping consistent with the existing function, we can use regex to ignore anything in a ```<span>``` tag. Mentions also use a ```<span>``` tag to highlight the username, and the processing for that seems to happen before the message is processed. So this fix will cover the overlapping highlight for both alert words and mentions.

---

### Issue: Substri

[2018-05-30 06:30] lennartgrunau commented on #9422
@timabbott You guys are awesome! Thanks for the quick fix. Going to try that out, soon.

[2018-05-30 11:50] #3380 closed

[2018-05-30 15:58] #9087 closed

[2018-05-30 16:05] showell commented on #9416
I think the most nasty initialization thing that we have remaining, now that i18n has been cleaned up, is socket.js.  Inside of `_setup_sockjs_callbacks` we have a call to $(...) that gets deferred due to waiting for the CSRF token (see the comment in the code for more details).  We should consider just making the entire module have some kind of initialize function that we call at an appropriate (

[2018-05-30 16:41] hackerkid commented on #9475
@zulipbot claim

[2018-05-30 17:35] timabbott commented on #9416
It sorta puzzles me that waiting for the CSRF token is a thing that could be slow; it's in the page HTML, isn't it?

[2018-05-30 17:39] timabbott commented on #9157
@brickbite thanks for the detailed research!  For the highlighting real-time update thing, it seems like something worth changing; can you open a separate issue for that?

[2018-05-30 17:56] showell commented on #9416
I'm not sure about the CSRF thing, I was just reading the comment, which may no longer be accurate.  At any rate, I think it should be reasonably easy to sequence things like this:

* ensure CSRF is there
* initialize socket
* initialize transmit.js
* do most other stuff later (in particular anything that enables compose-send)

[2018-05-30 19:00] brickbite opened #9585 "Markdown: alert words highlighting requires page refresh to update existing messages."
Currently, highlighting for alert words in existing messages are only updated on page refresh. Updating alert words does not update the highlighting of the content you are already viewing, but it will highlight subsequent (newly created) messages that contain alert words. This makes it possible to have messages both highlighted and not highlighted when they contain the alert words text.

Also, eve

[2018-05-30 19:01] brickbite commented on #9157
@timabbott done, separate issue opened here: https://github.com/zulip/zulip/issues/9585

[2018-05-30 21:25] timabbott opened #9590 "Improve "change stream privacy" form"
This is the "Change" button that organization administrators get when editing a stream's privacy settings, which we recently extended in #9588.

* This modal for some reason doesn't have a backdrop.  While we're at this, we should audit for others and generally clean things up to make sure all of our modals do this right.
* The positioning feels a bit odd?
* If you hit escape with the modal open,

[2018-05-30 21:59] timabbott commented on #3030
This is highly reproducible with the right procedure as I described above, but I don't think anyone's complained about it happening in practice, so I removed a bunch of labels that would cause people to come across it.

[2018-05-31 01:22] #9500 closed

[2018-05-31 04:08] umairwaheed opened #9596 "Typo in the vagrant machine welcome message"
My host environment is Debian. While doing `vagrant ssh`, the following welcome message is displayed:
[code]

In this message, the word 'problmes' should be 'problems'. This will be a good starting issue for the first time contributors.

[2018-05-31 04:47] ahmed-bilal-kh commented on #9596
@zulipbot assign

[2018-05-31 04:52] ahmed-bilal-kh commented on #9596
@zulipbot claim

[2018-05-31 05:10] shubhamdhama commented on #9590
@zulipbot claim

[2018-05-31 05:40] jackrzhang commented on #9577
If I remember correctly, the backend is serving all of the same HTML/JavaScript/CSS for all routes that match `/integrations*`; all of the logic, routing, data-fetching for individual integrations pages, like `integrations/doc/jira` is implemented client-side.

The html content of the individual integration documents is fetched through a separate HTTP request to `/integrations/doc-html/*`, which I

[2018-05-31 09:55] showell opened #9599 "text reactions: Allow custom text reactions to messages."
Emoji reactions are a popular way to react to messages, but there are often cases where you can't find an exact emoji to respond to a message.  At least one other chat product (I can't remember which one) supports the concept of text reactions, where you can type a little bit of text to respond to a message, and it gets shown below the message similar to emoji reactions.  This is also an idea that

[2018-05-31 10:47] showell commented on #5911
We have the "p" key now. Closing.

[2018-05-31 10:47] #5911 closed

[2018-05-31 11:16] scottbelden opened #9600 "How do I test python 3.5?"
It seems the dev environment runs python 3.4 but the CI tests both python 3.4 and 3.5. If the CI tests fail on 3.5 (like here: https://github.com/zulip/zulip/pull/9448), I can't find a good way to run the dev environment and tests locally to better diagnose the failure.

Is there a supported way to run the dev environment using python 3.5?

[2018-05-31 14:23] rheaparekh commented on #9550
@zulipbot claim

[2018-05-31 14:26] rheaparekh commented on #9239
@zulipbot I am still working on this.

[2018-05-31 15:11] timabbott commented on #9600
Most correctly, we run dev on Trusty (which uses 3.4) and Xenial (which uses 3.5).  So the supported way to run the dev environment with 3.5 is to get an Ubuntu Xenial VM.  You can do that with a cloud service, installing directly on a VM (see our advanced setup instructions) or by editing `Vagrantfile` to specify a Xenial box.  I'd accept a contribution to add a config option to control the distr

[2018-05-31 15:14] timabbott commented on #9577
@jackrzhang sure, as long as it won't take too much time away from getting deep into mobile :).  So if you figure out the design quickly but it feels like a lot of work, comment here on the design and someone else can do the execution :)

[2018-05-31 15:16] showell opened #9604 "Make "near:" queries more robust."
It seems that "near:" queries, which you often get via "Copy link to conversation" have become brittle lately.

There are several possible causes:

- see #2091, we may be advancing to the first unread message
- we may have just broken client-side logic that respects the "near:" option
- recent refactorings to narrow may be particularly to blame
- topics with spaces or punctuation may cause escape/

[2018-05-31 15:45] #9319 closed

[2018-05-31 15:47] #9550 closed

[2018-05-31 15:49] jackrzhang commented on #9577
@timabbott Sounds good :)

[2018-05-31 15:49] jackrzhang commented on #9577
@zulipbot claim

[2018-05-31 15:55] JLoppert opened #9606 ""Copy link to conversation" does not always link to selected message"
Issue: Clicking a link generated by 'Copy link to conversation' does not always reference selected message. Clicking the link loads the last message in the copied topic instead of selected message from which the link was generated.

Reproduction Steps:

Required setup:
1. Select a message somewhere in a stream topic (ensure it's not the last message in topic)
2. Click the "message actions"
3. Clic

[2018-05-31 16:44] showell commented on #9604
closing since #9606 covers this too

[2018-05-31 16:44] #9604 closed

[2018-05-31 17:08] timabbott commented on #9219
Yes, we can close this, though I'll be opening an issue shortly on fixing the fact that we've added a few other features in Zulip that aren't exported/imported.

[2018-05-31 17:08] #9219 closed

[2018-05-31 17:50] timabbott opened #9608 "export: Ensure zulip->zulip export covers all tables that should be exported"
I just completed the TODO project we'd for a long time had at the top of `ALL_ZERVER_TABLES` (well, now it's `ALL_ZULIP_TABLES`) to validate the list of tables that we export against the list of tables that are actually present; see 42aea68df3cc9e58c8e8ac857aab5bc36022129a.  I suppose this probably increases the priority of making sure we call `sanity_check_output` in CI (or at least refactor so t

[2018-05-31 17:50] timabbott commented on #9608
@rheaparekh FYI, this is the follow-up I'd mentioned :)

[2018-05-31 17:50] timabbott commented on #8927
@rheaparekh this one seems like it'd be quick and would be nice to do so we can remove it from the caveats list in our docs.

[2018-05-31 19:20] timabbott commented on #9606
We've confirmed the bug; this is an important regression.  Thanks for the report!

[2018-05-31 19:49] Anupam-dagar commented on #9557
@zulipbot claim

[2018-05-31 20:34] rishig commented on #9190
I agree with jhurwitz; I think it makes sense for `G` to clear all the unreads in a narrow, though I can see how it could be complicated to implement.

[2018-05-31 20:37] rishig commented on #9020
Thanks for the report @kamalmarhubi! Tim and I chatted about it; the conclusion is to have both `C` and `x` let you compose a private message.

[2018-05-31 20:49] brainwane opened #9610 "Use tables in developer docs"
Our https://zulip.readthedocs.io/ developer documentation is in Markdown files in `docs/`, rendered into HTML using Sphinx. Per https://github.com/rtfd/recommonmark/issues/3#issuecomment-393388575 , we can now use tables in our docs by using [the `sphinx-markdown-tables` Sphinx extension](https://pypi.org/project/sphinx-markdown-tables/) (source: https://github.com/ryanfox/sphinx-markdown-tables )

[2018-05-31 20:58] Lyla-Fischer opened #9611 "Change "invite-only" wording to "private""
![screenshot from 2018-05-31 16-47-49](https://user-images.githubusercontent.com/549661/40807927-9f721af0-64f3-11e8-9a12-2de8aa2ee678.png)
We should be referring to private streams as "private streams" everywhere that isn't a code-level identifier. (see https://chat.zulip.org/#narrow/stream/19-documentation/subject/private.20versus.20invite-only/near/586071)

[2018-05-31 21:00] rishig commented on #9611
These can read:
**public stream**
**private stream** with **shared history**
**private stream** with **protected history**

for the three cases.

[2018-05-31 21:06] rishig opened #9612 "hotkeys: Add shift+d to restore last draft."
Currently `d` and then `enter` restores last draft; this should just match that behavior.

We are already using `D` for left sidebar navigation, in conjunction with `A`.
So the first step is to remove the current behavior of `D` and `A`, and then add this behavior for `D`.

A few notes:
* We should add a deprecation notice for `A`, similar to #8832.
* We should add a note at the bottom of the curr

[2018-05-31 21:07] rishig commented on #6547
Closing in favor of #9612.

[2018-05-31 21:07] #6547 closed

[2018-05-31 21:10] rishig opened #9613 "hotkeys: Change * to Ctr+s for starring a message."
Users don't have muscle memory for `*` on their keyboard. Ctr+s is also nicely analogous with "saving" a message/thread.

Note that Ctr+s should both star and unstar a message, just like `*` does now.

[2018-05-31 21:14] rishig opened #9614 "hotkeys: Change stream settings shortcuts."
There are two stream settings shortcuts: `n` (create stream) and `s` (toggle subscription). These are pretty confusing, since they are some of our most common non-stream settings shortcuts. Also, "create stream" should work from anywhere, not just the stream settings modal, since people may expect it to, and be confused when it doesn't.

Let's
* Change `n` to Ctr+Shift+s.
* Make that shortcut work

[2018-05-31 21:34] timabbott commented on #9613
Tagging this as a priority, since I think this is high-value.

[2018-06-01 04:18] rishig opened #9617 "user docs: Back button is broken."
To repro:
* Go to /help
* Click on a dropdown menu on the left sidebar
* Click an article link
* Click your browser's back button

The URL will change, but the page won't.

[2018-06-01 12:20] Anupam-dagar commented on #9613
@zulipbot claim

[2018-06-01 15:53] #9557 closed

[2018-06-01 16:54] #9613 closed

[2018-06-01 17:08] #9590 closed

[2018-06-01 17:09] Goakgoak commented on #7955
I think each organization should have their own welcome message. The settings could have a field for the welcome message (regardless of media) and each organization would give the first instructions there.
We don't want people to practice, for instance. It is easy to reply, etc.
On the other hand, we need to give instructions on what to put on the topic. Of course, we just need to create a second

[2018-06-01 17:32] kurianbenoy commented on #9596
@zulipbot assign

[2018-06-01 17:32] kurianbenoy commented on #9596
@zulipbot claim

[2018-06-01 18:42] timabbott commented on #9528
Closing, since this was done in #9571.  @badmon next time, you can put a `Fixes: #9528` sort of thing in the commit message to have this auto-close.

[2018-06-01 18:42] #9528 closed

[2018-06-01 18:58] #9596 closed

[2018-06-01 19:11] #9469 closed

[2018-06-01 19:23] timabbott opened #9629 "Make "Declare bankrupcty" experience with lots of messages reasonable"
Currently, if you get 25K messages behind in Zulip, we display our "declare bankrupcty" modal, and if the user clicks "yes", the page seems to hang, because it turns out, marking 25K messages as read in the database takes a while.

There's hacky things we could eventually do to try to make that delay not user-visible, but the immediate issue is that we really need some some sort of loading indicat

[2018-06-01 19:56] #2091 closed

[2018-06-01 19:56] #9606 closed

[2018-06-01 19:59] Anupam-dagar commented on #9614
@zulipbot claim

[2018-06-02 08:26] shubham-padia opened #9636 "Allow cross-realm bots to post to announcement_only streams"
Original issue as submitted by @YJDave

[code]

[2018-06-02 08:26] shubham-padia commented on #9636
@zulipbot claim

[2018-06-02 16:03] #8927 closed

[2018-06-02 17:37] timabbott commented on #9636
Merged as b23cf824a45ffc3040defc7930c7e08e3bbd7524, after cleaning up the test issue I mentioned.  Thanks for fixing this @shubham-padia!

[2018-06-02 17:37] #9636 closed

[2018-06-02 17:41] shubham-padia commented on #9636
@timabbott Ah, okay, sorry, I misunderstood the comment to remove both the tests.

[2018-06-02 21:47] skunkmb commented on #9612
@zulipbot claim

[2018-06-02 22:46] akashnimare commented on #9617
@zulipbot claim.

[2018-06-02 22:51] akashnimare commented on #9617
BTW the back button is broken only if the previous page is `/help` so for an example if you click on https://chat.zulip.org/help/change-your-name and then https://chat.zulip.org/help/change-your-password, you can go back using the browser's back button. The other bug I noticed here is that we don't update the hash position in left sidebar if you go back even though the content in the centre change

[2018-06-02 23:46] timabbott commented on #9617
Yeah I assume we're doing something wrong with the pushState logic here in `help.js`.

[2018-06-03 04:40] rishig commented on #9617
hm, I'm able to reproduce from other /help/* pages. What is the exact situation above where it works?
And agreed with that second bug as well.

[2018-06-03 04:42] rishig commented on #9614
I just realized that maybe we'll want to reserve Ctrl+Shift+s for "go to starred messages", if we're going to use Ctrl+s for "star a message".

In any case though, most of the work for this making the shortcut work at all, and then we can change it afterwards.

[2018-06-03 15:39] akashnimare commented on #9513
We can make it look like following on smaller screens i.e. < 400px

![image](https://user-images.githubusercontent.com/2263909/40888258-2badbabc-6772-11e8-852f-a1461e0bcfde.png)

[2018-06-03 15:46] timabbott commented on #9513
I'd rather have a single column of bots, I think?

[2018-06-03 16:00] akashnimare commented on #9513
Yeah, that is also possible and will look much cleaner -

![image](https://user-images.githubusercontent.com/2263909/40888477-42f57c02-6775-11e8-88e1-29e6bb242876.png)

[2018-06-03 16:01] timabbott commented on #9617
I think it works if you came to /help/ from some other page, you'll get back to the other page.

[2018-06-03 16:02] timabbott commented on #9617
One other thing worth mentioning is that I think the code in `help.js` is different/duplicated for clicking on the left sidebar vs. in the right side; that could be important?

[2018-06-03 16:32] timabbott commented on #9513
Yeah, that lgtm.

[2018-06-03 18:39] shubham-padia opened #9649 "browser-support: .includes() not supported in internet explorer."
Replace occurrences of `.includes()` with `.indexOf() === -1` wherever possible, it should cover most of the cases. There are 7 occurrences of includes in the code excluding the front-end tests, replacing the occurrences would be a better idea than adding a polyfill.

[2018-06-03 18:39] shubham-padia commented on #9649
@zulipbot claim

[2018-06-03 22:15] akashnimare commented on #9617
In my initial debugging this is what I have found out -
a)

When you click on the links from right sidebar we don't do anything, it just redirect to the URL but when you click the same links in the left-sidebar we update the page without refreshing (using pushState and update the center content etc) which was added in https://github.com/zulip/zulip/commit/1cf7ee966b1326a1f8e1ae991b4541393618e390.

[2018-06-03 23:04] timabbott commented on #5365
This was done a long time ago.

[2018-06-03 23:04] #5365 closed

[2018-06-04 03:55] umairwaheed commented on #9521
I'll start work on this from tomorrow.

[2018-06-04 06:06] timabbott opened #9654 "Bugs in zulipchat.com homepage (/hello) tour"
We have a couple somewhat annoying bugs with the carousel tour, which is now at the top of the homepage:

* There's a fairly long lag where the dots below the widget disappear temporarily when you're switching slides, which ends up feeling like something's not working right.
* Somehow the work @akashnimare did in 683fbf68ce2d58566cff753dae44cb670cd486a6 to make clicking anywhere advance seems to h

[2018-06-04 08:13] shubhamdhama commented on #9654
I can work on this.

[2018-06-04 08:41] shubhamdhama commented on #9654
@zulipbot claim

[2018-06-04 09:51] showell commented on #9654
I think the last slide should have a meaningful way to exit, like hitting escape or saying "Got it" and then close the tour landing you on some nice copy or whatever.

[2018-06-04 12:39] akashnimare commented on #9654
@timabbott it's because @maxnuss forgot to update the carousel ID from `myCarousel` to `tour-carousel` in `help.js`, https://github.com/zulip/zulip/pull/9634.

[2018-06-04 15:02] timabbott commented on #9654
@akashnimare can you submit a PR for fixing this?

[2018-06-04 15:39] shubhamdhama commented on #9654
@timabbott fixed in #9655.

[2018-06-04 15:53] aripollak opened #9656 "Muted topics broken?"
I have a topic muted, but all the messages in that topic are now being shown in the "All messages" view when they aren't supposed to be. Also, in that view, I can't select any of the messages in the muted topic with the keyboard arrow keys.

[2018-06-04 15:56] aripollak opened #9657 "Feature request: profile description"
Currently, the only thing I can customize about my Zulip profile that's shared with other realm members is the name and avatar. It would be nice to have an extra little profile description field that is also shown when someone views my profile, for things like job description, location, away message, etc.

[2018-06-04 15:57] #9654 closed

[2018-06-04 16:09] timabbott commented on #9657
@aripollak we actually have this feature implemented enough to be usable (but turned off by default as we're putting finishes touches on it).  I'd be happy to enable it for you folks (and get your feedback on what you think needs work) if you like!

[2018-06-04 16:10] timabbott commented on #9656
We haven't had any similar reports but did just deploy changes to production last night; @showell can you investigate?

[2018-06-04 18:37] aripollak commented on #9657
Oh cool, that would be great!

[2018-06-04 21:00] showell commented on #9445
With help from @rheaparekh and @lonerz I got a pretty fancy version of the trivia bot up and running, so I'm gonna close this.  There's still lots of experimentation and refinement to do here, but nothing directly actionable that requires a ticket.

[2018-06-04 21:00] #9445 closed, assigned to nobody

[2018-06-04 21:36] #9656 closed

[2018-06-04 23:30] timabbott opened #9668 "Clicking back and forth between settings panels with a "User" field type throws exception"
Here's the exception:

[code]

@YJDave can you look into this?  It looks like some sort of double-initialization problem with the user pills.  The trigger was basically just opening settings, clicking around between the "organization settings" UI for custom profile fields and and "display settings" with a few closes of settings in there (probably there's a simple 3-step flow; this is just what I d

[2018-06-04 23:35] timabbott opened #9669 "Custom profile fields: Can't set a URL field type back to """
You get the "invalid URL" error if you try.

There's similar issues if you try to remove the user or date field (we won't let you save).  For date field, we might eventually want UI for it, but for now, selecting the thing and hitting backspace kinda works visually (but throws this same error).  So let's at least fix the backend/validation problem for that to allow you clearing the field.

@YJDave

[2018-06-05 03:05] alenavolk commented on #9312
@zulipbot Sorry about the delay, I'll update the first PR by the end of the week.

[2018-06-05 13:47] dmarconi opened #9678 "Logfiles timestamp inconsistency"
When restarting the server I see there is a conflict with the timestamps used in the logfiles. Apparently some services use the server timezone and some others the UTC. Is there the possibility to synchronize this in one single timezone?

Below is the an example while restarting the server. The server is UTC+2 (Central European Summer Time)

[2018-06-05 13:52] rishig opened #9679 "left sidebar: q + enter opens compose box."
Going to a stream via `q`, then typing a few characters, then `enter` opens the stream with a compose box, and topic prefilled to whatever is under the blue box.

I suspect a preventdefault or stoppropagation or similar is needed on the enter.

[2018-06-05 14:39] lillesoe commented on #9197
I was about to install zulip on bionic. Should I go for xenial instead, or is this issue about to be solved?

[2018-06-05 14:53] timabbott commented on #9197
@lillesoe if you install from master (clone this git repository rather than downloading a release tarball), that should work great.  We're planning to post a release candidate this week with official support for bionic; the remaining work is basically just documentation.

[2018-06-05 15:04] lillesoe commented on #9197
Thanks a lot for the very quick answer! I will give it a try :-)

[2018-06-05 15:08] timabbott opened #9682 "Fix annoying puppet warning on Ubuntu Bionic"
On Ubuntu bionic, `zulip-puppet-apply` always prints this big yellow warning from puppet:
[code]

This is pretty annoying to fix, because if you do the proper `Integer()` cast for Puppet 5 (what we have on Bionic), it's invalid syntax on Puppet 3.4 (for Trusty), and so puppet 3 prints an error (even if you put it inside a conditional for the distro).  It's possible that the right answer is to fix

[2018-06-05 15:09] timabbott commented on #9197
That remaining `puppet` warning on bionic is harmless (it just creates visual clutter), so I'm moving that to a new issue: #9682.

[2018-06-05 15:10] #9197 closed

[2018-06-05 15:12] timabbott commented on #7125
Closing as wontfix; we aren't supporting non-LTS releases (And Zesty is reached EOL anyway).

[2018-06-05 15:12] #7125 closed

[2018-06-05 15:14] timabbott commented on #9361
Closing, since I've determined there's little we can do that's easy here.

[2018-06-05 15:14] #9361 closed

[2018-06-05 15:16] timabbott commented on #8600
Closing as a likely OOM issue (not following our instructions on the minimum system resources).

[2018-06-05 15:16] #8600 closed

[2018-06-05 15:17] timabbott commented on #5971
Just an update: We fixed the issue here for the JS/CSS assets in the form of webpack bundles.  However, there's still an outstanding issue with fonts and things, I think.

[2018-06-05 15:18] timabbott commented on #9147
This was fixed by @sampritipanda in 018a33ff7cc5ad4f8468fea46f66e6dda2175b68

[2018-06-05 15:18] #9147 closed

[2018-06-05 15:22] timabbott commented on #8
This is now possible without manual commenting by setting a block of this form:
[code]

and then setting `EXTERNAL_URI_SCHEME` to be `http://`.

That said, given Certbot, I'm not sure there's a strong use case for this other than quick testing (we added that option so that we can support an option in the Docker container to not use HTTP for that purpose).

[2018-06-05 15:22] #8 closed

[2018-06-05 15:27] timabbott commented on #9454
@Senso sorry for the very slow reply!  I somehow missed this.  Can you try setting `AUTH_LDAP_GROUP_CACHE_TIMEOUT=60` in the `settings.py` file?  That's the only change we made in 1.8.0 that could be related to this.

[2018-06-05 15:47] timabbott opened #9683 "Investigate whether we can add a `dpkg` hook to restart Zulip after postgres updates"
I haven't looked at this closely, but it'd be super cool if we can configure a post-dpkg hook to automatically restart a Zulip server running the same system after a postgres/memcached/etc. upgrade, this might be a better solution to #8769.  See https://wiki.debian.org/AptConf for docs on the feature.

[2018-06-05 15:49] #8769 closed

[2018-06-05 15:59] timabbott commented on #9678
@dmarconi I think the `restart-server` piece is the one that's incorrect; we're generally standardized on everything being in UTC for our log files, and `restart-server` itself doesn't import Django and thus doesn't use our standard configuration.

Probably the `logging.basicConfig` lines in `scripts/restart-server` and `scripts/lib/upgrade-zulip` (And friends?) need to declare the UTC timezone; I

[2018-06-05 16:18] timabbott commented on #9679
@showell FYI since you did some recent work on keyboard navigation in that sidebar.

[2018-06-05 16:55] YJDave commented on #9668
@zulipbot claim

[2018-06-05 18:56] rishig opened #9684 "hotkeys: Add ctr+shift+s for "go to Starred messages""
This should just do the same thing as clicking on "Starred messages" in the left sidebar.

As followups, we should remember to add or open an issue for ctr+@ for "go to at mentions", and possibly "ctr+shift+p" for Private messages.

[2018-06-05 19:02] lonerz commented on #9684
Isn't shift+P already a hotkey to go to private messages?

Sent from mobile. Please excuse any typos.

On Tue, Jun 5, 2018, 11:56 AM Rishi Gupta <notifications@github.com> wrote:

[2018-06-05 19:23] timabbott commented on #9684
Yes, that's why the "possibly"; the consistency might be nice but I think we probably don't want to get rid of the existing `shift+P`, so it may not be worth doing.

I'd probably recommend we start with just doing the other ones.

[2018-06-05 19:53] shubhamdhama opened #9686 "Fix selection of "Your account" first on loading "Notification" settings page."
GIF explains this glitch better:
![gif](https://user-images.githubusercontent.com/22238472/40999200-ce724716-6927-11e8-85b4-c717b1c2e485.gif)
For more info see the second point of https://github.com/zulip/zulip/pull/9676#issuecomment-394811677 which exists in master as well.
Steps to reproduce:
* Focus notification setting section.
* Reload the page and observe focused section on left panel carefu

[2018-06-05 22:22] jackrzhang opened #9687 "Multiple empty lines between paragraphs are not shown."
The following two messages (where the first message has one new line between 'One' and 'Two', and the second message has two new lines between 'One' and 'Two'):

![image](https://user-images.githubusercontent.com/12771126/41005762-c7c6e006-68ec-11e8-80f6-1affaaf79792.png)

are displayed in the same manner:

![image](https://user-images.githubusercontent.com/12771126/41005803-f2749e74-68ec-11e8-999

[2018-06-06 01:33] timabbott commented on #9687
@jackrzhang the model here is how markdown works; if you have blank space between paragraphs, it generates an HTML `<p>` tag.  If you have just a line-wrap between two things, we generate a `<br>` tag instead (and you'll see that if you just write something like this:
[code]
)

So I'm going to close this as wontfix.  While we do customize markdown in various ways, I don't think we have a clear use

[2018-06-06 01:33] #9687 closed

[2018-06-06 04:28] jackrzhang commented on #9687
@timabbott Ok, cool. Thanks for the explanation!

[2018-06-06 04:49] ojshaw commented on #4804
@zulipbot claim

[2018-06-06 05:31] Yorwba commented on #5137
Thanks for prioritizing this. That other code path would be
https://github.com/zulip/zulip/blob/5416d137d327f0c1ed1ebca5a9d4fe01006a70a2/zerver/tornado/event_queue.py#L644
I think.

[2018-06-06 05:34] timabbott opened #9689 "lint: Use `hsl` colors consistently in the logged-in app"
A few exceptions to our policy of only using specific HSL colors in our CSS for the logged-in app (which dramatically simplifies supporting night mode).  We should convert the exceptions and add a linter rule banning `color: #` from our CSS.

[2018-06-06 05:36] #9617 closed

[2018-06-06 06:30] timabbott commented on #716
@mafn just wanted to update you that I finished the rewrite of our python-social-auth experience in 35c4a9f1d2b3adf5820cc239afd5caba2062b93f.  I believe it should now be possible for you to complete the SAML integration without needing to duplicate basically any of the GitHub logic.  I'll post a few comments on your PR that should help with this.

[2018-06-06 06:37] timabbott commented on #9657
Cool, I'll get this enabled for you later this week.

[2018-06-06 06:37] timabbott commented on #9657
(Closing the issue, since it's already implemented).

[2018-06-06 06:37] #9657 closed

[2018-06-06 07:43] dmarconi commented on #9678
@timabbott Thanks a lot for the quick reply! I will keep an eye on this thread.

I forgot to mention I am currently using the 1.8.1 version intalled via tarball.

[2018-06-06 08:22] an3l opened #9690 "Cannot add emoji reaction on the phone as a client (chrome tested)"
Emoji reaction when writing private message is enabled and works.
Emoji reaction on someone's message is enabled, but when it is pressed gui appears for 1 second and disappears.

[2018-06-06 08:42] timabbott commented on #9690
This issue belongs on https://github.com/zulip/zulip-mobile/issues.

[2018-06-06 08:42] #9690 closed

[2018-06-06 09:11] Anupam-dagar commented on #9684
@zulipbot claim

[2018-06-06 11:00] akashnimare commented on #9513
@zulipbot claim.

[2018-06-06 11:30] lukasIO opened #9691 "Private streams inconsistent UI position"
When I open Zulip Desktop, the private streams are seperated with a nice line from the public streams.
Once I click on private messages on the top left, the line disappears and the private stream positions itself with the public ones.
Forcing a reload brings it back to the state with line and seperated.

[2018-06-06 11:31] an3l opened #9692 "Cannot add emoji reaction using the website version in a Chrome browser on a phone"
Emoji reaction when writing private message is enabled and works.
Emoji reaction on someone's message is enabled, but when it is pressed gui appears for 1 second and disappears.
This issue was redirected from https://github.com/zulip/zulip-mobile

[2018-06-06 12:32] akashnimare commented on #9692
@an3l what phone are you using? If possible can you attach a screenshot/gif etc?

[2018-06-06 12:43] an3l commented on #9692
Samsung S7, It opens and closes same emoji interface as usual.

[2018-06-06 13:15] akashnimare commented on #9692
Hmm, this is what I get on iPhone SE + chrome -

![fff](https://user-images.githubusercontent.com/2263909/41040312-b1682ff4-69b9-11e8-9e22-0b8e8495ab30.gif)

[2018-06-06 13:19] an3l commented on #9692
Try to add reaction to someone's post not your own comment.

[2018-06-06 13:23] akashnimare commented on #9692
I get the same behaviour as above while reacting to others post also.

[2018-06-06 16:06] #9188 closed

[2018-06-06 16:41] #9372 closed

[2018-06-06 16:42] timabbott commented on #9691
The design here is intended to be that the separation is between streams that have recent traffic (in the last ~1200 messages or so) vs. streams that do not; this might align in your organization with whether the streams are public or private.  We also don't receive all of those messages immediately, so there can be an update to which streams are shown which way after a bit of time.

(Also, are an

[2018-06-06 17:11] nunojesus opened #9697 "Logo design"
Hi, I like to contribute with graphic designs, in opensource projects, so if you need something from me like a logotype or something else just say it, Im here ready to help you.
Greetings!
Nuno Jesus

[2018-06-06 20:49] #9512 closed

[2018-06-06 21:06] timabbott commented on #9668
I think it's very likely that this is caused by @showell's recent work on the toggler component.

[2018-06-06 21:41] akashnimare opened #9700 "help: Highlight article headings in left-sidebar."
If you load a URL like https://chat.zulip.org/help/import-data-from-slack directly, we don't open the left sidebar segment containing the page you're on automatically, which makes it feel a lot less browseable.

[2018-06-06 22:07] #9629 closed

[2018-06-06 22:08] timabbott opened #9702 "Glitch when exiting custom profile display UI"
If you click on Iago's avatar image in the message feed, and click "User profile", you get all the custom profile field data.  If you then click outside the profile, it hides, but with a weird glitch where part of the modal briefly appears at the top of the screen.

@shubhamdhama this seems like something you'd be good at debugging.

[2018-06-06 23:09] gnprice commented on #7459
For cross-reference: the mobile-side issue for this is https://github.com/zulip/zulip-mobile/issues/438 .

[2018-06-07 07:29] shubhamdhama commented on #9702
@zulipbot claim Maybe the long height is the reason.

[2018-06-07 11:55] showell commented on #9668
I tried looking into this and couldn't get a repro.  If we can a good repro on this, ping me and I'll try looking into it.

[2018-06-07 14:58] hexinal opened #9710 "LDAP AUTH_LDAP_USER_ATTR_MAP lacking documentation ?"
Hi,

is there any resources describing/listing the different zulip attributes? The only one referenced is full_name but where are the others? Oh and is there a way to concatenate two attributes for full_name ?

[2018-06-07 15:14] timabbott commented on #9710
This is an upstream feature from django-auth-ldap, see http://django-auth-ldap.readthedocs.io/en/latest/users.html#populating-users

@hexinal most folks just do `full_name`, but I think you could also do e.g. `is_realm_admin`, `timezone`, etc.

We could probably do a small patch to support concatenation here; I don't think django-auth-ldap supports that natively.

[2018-06-07 15:38] #9669 closed

[2018-06-07 15:41] #9336 closed

[2018-06-07 15:46] timabbott commented on #9611
I'd love for this to happen before the 1.9.0 release, so our terminology is consistent in the released version.  @eeshangarg can you take this?

[2018-06-07 16:04] #9702 closed

[2018-06-07 16:11] timabbott commented on #9691
OK, yes, that confirms my theory.  What's happening is that you have a private stream with little recent traffic, and when you click on "mentions", that fetches some older messages, including some that were sent to your private stream, and so Zulip now has recent messages for that stream in the local cache.

I think the fix here might be that it should only be being promoted when you actually clic

[2018-06-07 17:07] lukasIO commented on #9691
thanks for the explanation!
For me, your proposed fixes would surely decrease the confusion about this switching.
I'm probably too used to slack UI where the private channels are visually seperated from the public ones. (not that I want it in zulip necessarily, but thats why my initial issue was phrased in that way)

[2018-06-07 17:20] timabbott commented on #9115
We added documentation here: http://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html#sending-push-notifications-directly-from-your-server

[2018-06-07 17:20] #9115 closed

[2018-06-07 17:53] #9700 closed

[2018-06-08 02:59] jackrzhang opened #9713 "Marking all messages as read via 'All messages' does not clear unread counts next to individual streams."
To reproduce:

1. Press 'Mark all messages read' via 'All messages' in the left sidebar.
2. The unread count next to 'All messages' disappears, but the unread counts next to the individual streams do not. All unread counts disappear after refreshing the page.

@zulipbot add "area: left-sidebar"