[2016-03-31 23:38] timabbott commented on #612
Thanks for the report @kevinr!  Is this a duplicate of #448?

[2016-03-31 23:56] kevinr commented on #612
Crud, yes it is.  Somehow it didn't turn up in my search.  Thanks.  And I like Harlan's proposed solution, but I prefer my problem statement. :-)

[2016-04-01 00:18] timabbott commented on #612
Maybe edit yours to be the best of both worlds and we can close the other?

-Tim Abbott (mobile)
On Mar 31, 2016 4:56 PM, "Kevin Riggle" <notifications@github.com> wrote:

[2016-04-01 06:28] timabbott commented on #352
I added such documentation a while ago in README.prod.md.

[2016-04-01 06:28] #352 closed

[2016-04-01 08:40] varshit97 commented on #551
@timabbott I am not that sure of examples or what could be done with these imports. Could you help me figure out the examples? :)

[2016-04-01 10:25] w4yh opened #615 "Support for search by multibyte-language keywords"
Search doesn't match with any Japanese keyword now.
(It might be the restriction of standard postgresql.)

[2016-04-01 10:34] w4yh opened #616 "Support for the file with multibyte filename."
When I upload the file which jas Japanese filename, uploaded file has name which omit Japanese character.
{Japanese word}.txt yileds to .txt
foo{Japanese word}.jpg yield to foo.jpg

[2016-04-01 11:35] ashishk1994 commented on #611
@timabbott I have started a PR for this. Will update it for other routes. PR https://github.com/zulip/zulip/pull/614

[2016-04-01 14:48] timabbott commented on #616
Thanks for reporting this, @w4yh!

This one is already open #321, which actually is going to have a fixed merged in the near future (see #520).

[2016-04-01 14:48] #616 closed

[2016-04-01 14:53] timabbott commented on #615
I think this is because we only have an English dictionary (and stop words file) installed in our postgres setup.

For anyone interested in working on this, see http://www.postgresql.org/docs/9.1/static/textsearch-dictionaries.html for how this is configured in postgres, and zerver/migrations/0001_initial.py for the postgres operations we've done to setup the English dictionary.  I think it should

[2016-04-01 15:56] timabbott commented on #551
It's possible I should just take this ticket, since it'll be about as fast to write the examples here as it would in the docs :)

[2016-04-01 16:00] varshit97 commented on #551
@timabbott Sure . I just wanted to learn new things. :)

[2016-04-01 21:46] #70 closed

[2016-04-01 21:59] timabbott commented on #70
See http://zulip.readthedocs.org/en/latest/integration-guide.html for the new integration writing guide.

[2016-04-02 04:17] timabbott opened #617 "Add integration with CircleCI"
It'd be great to have a Zulip integration for notifications from CircleCI.

See http://zulip.readthedocs.org/en/latest/integration-guide.html for how to write a Zulip integration; I'd check out the docs for Travis CI or Jenkins for inspiration on message formatting.

It looks like this should be doable via a webhook, see https://circleci.com/docs/configuration/#notify.

[2016-04-02 04:24] timabbott opened #618 "Add Sentry integration"
It'd be great to have a Zulip integration for Sentry notifications.

See http://zulip.readthedocs.org/en/latest/integration-guide.html for how to write a Zulip integration.

And here is the section of the Sentry docs on how their plugin system works: https://docs.getsentry.com/hosted/learn/notifications/

[2016-04-02 04:27] timabbott opened #619 "Add codeship integration"
It'd be great to have a Zulip integration for notifications from codeship.

See http://zulip.readthedocs.org/en/latest/integration-guide.html for how to write a Zulip integration.

It looks like this should be doable via a webhook, see https://codeship.com/documentation/integrations/webhooks/

[2016-04-02 04:40] timabbott opened #620 "Migrate Zulip to Jinja2 templating engine"
I believe it's nearly a drop-in replacement and is like 10x faster.  Since we spend nontrivial time loading the home view in template rendering, I believe this should shave like 100ms off of the total Zulip app loading time.

I think this gets super easy to do in Django 1.9 (in that they merged Jinja2 into Django), but it might be easy to do regardless.

[2016-04-02 04:44] timabbott opened #621 "Add autoreload support to the queue workers in development"
Currently, the Zulip Django and Tornado events server automatically reload in a development environment whenever a user saves changes that impact them, but the queue workers don't, which can be confusing.

I think fixing this shouldn't be too hard; If someone wants to take a look at this, I would try using the "autoreload" approach in django/core/management/commands/runserver.py.

[2016-04-02 05:05] timabbott opened #622 "Add management command to test sending email"
A common issue when setting up Zulip in production is issues with setting up email sending.  For LDAP, we have a nice management command that the user can run iteratively until the LDAP integration is working; we should do the same for testing that outgoing email works.  (the current workflow involves the user debugging on the login form and checking logs, which means a lot of users get the negati

[2016-04-02 05:15] danshev opened #623 "Potential Bug with Tornado"
I'm seeing:

[code]

Any ideas?

[2016-04-02 05:30] timabbott commented on #623
Hmm, I think the problem might be that the Tornado version in our requirements.txt is different from the version running in production (and also in my development environment).

Try doing `pip install tornado==3.1.1` and let me know if that fixes the issue.

[2016-04-02 05:33] danshev commented on #623
Yes, that fixes it.

[2016-04-02 05:46] timabbott commented on #623
Hmm, so I tried reproducing this using the old version we had in development, 2.4.1, and it appears to work fine for me; is it possible you were using a still different version of Tornado?

[2016-04-02 05:50] danshev commented on #623
My requirements file was 2.4.1, so I would think so

[2016-04-02 05:56] timabbott commented on #623
Hmm, OK.  I don't understand why you got that error with 2.4.1, but regardless we should be using Tornado 3.1.1 in development.  I'd definitely be interested in hearing from anyone else who runs into this error.

[2016-04-02 06:51] danshev commented on #623
Apologies -- I misspoke on this one -- the issue had remained, but I'd looked in the wrong `.log` file.

The larger issue might be related to something I found while digging around re: `autoreload`:

http://www.tornadoweb.org/en/stable/_modules/tornado/tcpserver.html

I changed `event_queue.py` to:

[code]

And I'm back in business.

[2016-04-02 11:50] ashishk1994 commented on #622
@timabbott I have added a management command for sending email by giving subject, message, from_email, to_email as arguments. Please check PR https://github.com/zulip/zulip/pull/624

[2016-04-02 17:34] danshev opened #626 "Implement Web Push API"
[The Web Push API](https://developer.mozilla.org/en-US/docs/Web/API/Push_API) allows sending push notifications to supporting browsers, which currently includes Android devices running Chrome.  This is nice, because it allows Push notifications to Android phones without necessarily having to support a Google Play / Android app.

I have the Web Push API working on my modified version of Zulip, but

[2016-04-02 17:55] timabbott opened #627 "Use a caching template loader in development"
If we can make this work, this should substantially improve page load times in development with pretty minimal cost (just a bit of extra complexity).

Larger pages like / and /integrations are way faster in prod because of this block in zproject/settings.py:

[code]

So most of the processing it only does once per template rather than once per request.  We can't use that in development right now,

[2016-04-02 21:30] Vallher commented on #68
I'm working on it. Most job realted to alarm webhoock is done. I asked also Librato about any other good option to make integration and they advised me to work on charts, so i need little more time.

[2016-04-03 04:34] timabbott commented on #626
@danshev that sounds really cool!

On the front of Zulip-URLEncoding, does `hashchange.operators_to_hash` do what you want?

I haven't worked with service workers, but maybe you could have your `service-worker.js` file constructed by combining the needed modules into one file as part of the static asset build process; that's effectively how everything is shipped to production in Zulip anyway.  Che

[2016-04-03 04:46] timabbott commented on #623
Were you seeing these errors in production or development?  I haven't tried this in production so if you're seeing the issue there I may be able to reproduce...

I think that documentation is interesting but irrelevant to our problem, because it's in a section on the case where we're using multiple Tornado processes, and we're using single-process Tornado in both development and production.

I'm a

[2016-04-03 06:34] danshev commented on #623
Hi Tim, seeing it production.  As for the traceback, I noticed the space as well but can't explain why the AttributeError adds it.  I'd be curious if you see it in production.

[2016-04-03 18:29] danshev commented on #626
Awesome ... only needed 3 functions from `hashchange`.

[2016-04-03 22:43] timabbott commented on #626
Cool.  I would certainly review a PR moving the URL parsing/unparsing functions into a new file if you think makes sense; `hashchange` currently mixes that sort of parsing code with code to actually transition the app., and I think separating those might improve the code anyway.

[2016-04-03 23:05] timabbott commented on #623
Fascinating, I can reproduce in my production testing environment, complete with the funny error message.  Will debug.

[2016-04-03 23:08] timabbott commented on #623
It appears to be basically a problem with how we do the imports:
[code]

[2016-04-03 23:30] #321 closed

[2016-04-03 23:31] timabbott commented on #616
The fix has been merged to master and thus should be in the next release.

[2016-04-03 23:32] timabbott commented on #321
The fix has been merged to master and thus should be in the next release.

[2016-04-03 23:52] #622 closed

[2016-04-03 23:52] #623 closed

[2016-04-04 09:52] disissid commented on #528
@timabbott I agree, existing "narrow to this conversation" just narrows to the topic highlighting the selected conversation, I can't think of any use case for this functionality, it would be better replacing it with "Copy link to message" functionality.

Just so you don't miss, "mute" line is same in left sidebar also.

[2016-04-05 03:52] danshev commented on #626
@timabbott I read the "New Feature Tutorial" and I'm not sure if / what from this feature needs a test.  While this feature adds one column to `UserProfile` (to store the content of the push notification), adding a test to verify that data can be saved to / read from the database seems a little wonky.  Thoughts?

[2016-04-05 04:52] timabbott commented on #626
Hmm.  I think if we could write an end-to-end test for the feature (using the casper test framework, see http://zulip.readthedocs.org/en/latest/testing.html), that would be great.  I think there's probably some value in a backend test that just confirms the API endpoint works properly (since one can imagine it being broken in some refactoring), but that'd be covered by a Casper integration test an

[2016-04-05 04:52] timabbott commented on #626
(I haven't looked into whether you can use service workers in casper)

[2016-04-05 20:27] #371 closed

[2016-04-06 21:34] timabbott opened #635 "Add mypy static type checking to our Travis CI setup"
It'd be great to add mypy static type checking to Travis CI so that we can avoid regressions making their way into the codebase (we have a couple right now, see https://github.com/zulip/zulip/pull/631#issuecomment-206482579).

The current command line we're using is:
[code]

It should be fairly easy to make a tool/run-mypy type script using @sharmaeklavya2's new lister.py script, replacing those `

[2016-04-07 00:53] timabbott opened #636 "Purge `from typing import *` from the Zulip codebase"
We should stop using `from typing import *` for our mypy-based static type annotations, and instead just import the specific types that we actually need.  This has a few benefits:
* It avoids aliasing; e.g. for the latest python-typing release, `typing.re` exists and so `from typing import *` will cause problems in modules that also use `re`
* It's not great Python style in general
When we fix thi

[2016-04-07 08:31] varshit97 commented on #636
@timabbott There are many LOC right. I am thinking like, if we remove ```from typing import *```, we need to find out what all functions/classes from the typing module are being used so that we can import each of them manually. If we do this, we need to go through every file which is a time taking task. Is there any better method to do this?

[2016-04-07 11:20] ashishk1994 commented on #635
@timabbott
I think to use the lister.py, we need to either add some condition  at https://github.com/zulip/zulip/blob/master/tools/lister.py#L73  or give the path to every test/settings file as we are excluding files only if it starts with the given name or exactly matches. I think we need something of regex search i.e. what grep does
@timabbott  @sharmaeklavya2  Also, I have tried adding a simple

[2016-04-07 11:21] sharmaeklavya2 commented on #635
Here is my progress till now:

I realized a few days ago that mypy doesn't run recursively on directories specified to it. It only runs on files immediately inside the given directories.

For eg, `mypy --py2 --silent --check-untyped-defs api/integrations/` doesn't show any errors, but `mypy --py2 --silent --check-untyped-defs api/integrations/asana/` does. I thought putting an `__init__.py` in api

[2016-04-07 11:25] sharmaeklavya2 commented on #635
@ashishk1994, #637 fixes the error you are getting.

[2016-04-07 12:13] sharmaeklavya2 commented on #635
@ashishk1994, I looked at the modification you made to lister.py. If we exclude files like that, a user using that script might accidentally exclude files he/she did not mean to. We should probably add an option to choose what kind of exclusion strategy to use.

We can also move all tests in zerver/ to zerver/tests/. It doesn't seem like too much work, since those tests are probably called exclusi

[2016-04-07 14:15] anteq commented on #177
Hi, I've started working on this integration. I'll keep you posted about the progress!

[2016-04-07 15:13] timabbott commented on #636
I think one can do this by removing `from typing import *` from a given file, running mypy on that file, and seeing what undefined type errors it throws.  Then you just add `from typing import Dict, List, Any` or whatever the things it flagged are back in place of the `from typing import *`.  There's a few dozen files that have it at all, so I think this probably can be done for all of them in an

[2016-04-07 15:21] varshit97 commented on #636
@timabbott Nice. I'll try to finish this today and make a PR :)

[2016-04-07 17:39] timabbott commented on #635
Thanks for the great investigations!

@sharmaeklavya2 Moving the tests to live under a `zerver/tests/` directory is totally reasonable.  There are references to some of those filenames in the documentation, so we should be careful about doing it right, but overall it'll probably net cleanup the zerver/ directory.

I think we definitely want to be running it in the way that takes 20s.  FYI there's

[2016-04-07 19:23] ashishk1994 commented on #635
@sharmaeklavya2  Thanks for the thorough investigation. Yes you are right we should pass an argument to lister.py to choose the type of exclusion strategy, It would help us in writing tools for travis-ci. What do you say @timabbott.

[2016-04-07 21:13] timabbott commented on #636
Fixed already, thanks @varshit97 for working on this!

[2016-04-07 21:13] #636 closed

[2016-04-08 17:38] timabbott commented on #69
Merged in 44ed9da7f03d078af382c84b23b191acb210f435, thanks @TomaszKolek for building this!

[2016-04-08 17:38] #69 closed

[2016-04-08 17:38] timabbott commented on #69
FYI @zack-ahdach.

[2016-04-08 22:13] #606 closed

[2016-04-08 22:13] #600 closed

[2016-04-09 04:06] #515 closed

[2016-04-09 14:47] danshev commented on #626
Sorry for silence, been busy -- will need to learn how to implement the tests unless someone else out here wants to handle that part.  If not, I'll try to tackle this coming week.

[2016-04-09 17:15] timabbott commented on #626
OK, cool.  I looked a bit into what would be involved with writing a Casper tests for this, and the answer may be that it's not possible.

https://github.com/ariya/phantomjs/issues/13437 suggests PhantomJS (which our Casper tests use as the browser) doesn't support service workers.

There's probably still value in writing tests for this; I think a combination of using backend tests to validate the

[2016-04-09 20:57] timabbott commented on #627
Based on:
https://docs.djangoproject.com/en/1.9/ref/templates/api/#django.template.loaders.cached.Loader
it looks like the caching is done entirely in memory.  One could confirm by reading the code whether there's a mechanism we could use to trigger a reload....

If not, we could solve this by adjusting the server to reload whenever a template changes.  So probably addressing this would involve (m

[2016-04-09 20:58] timabbott commented on #157
The fix for this was merged via #244 a while ago!

[2016-04-09 20:58] #157 closed

[2016-04-09 21:05] #238 closed

[2016-04-09 21:05] timabbott commented on #238
Duplicate of #595

[2016-04-09 21:42] timabbott commented on #292
#285 is related to this

[2016-04-10 18:12] timabbott opened #646 "Decrease downtime involved in Zulip upgrade process"
Currently, doing a Zulip upgrade using the documented process involves a couple minutes of downtime, when in most cases it really should only require a couple seconds of downtime (as has been the case with zulip.com for years).

Currently, we very aggressively shut down the entire server for an apt upgrade + puppet apply + run database migrations sequence, in order to be defensive against the poss

[2016-04-11 01:19] wdaher opened #647 ""IRC-style" / no-topic mode for Zulip"
There are tons of people out there looking for a good, robust, open-source alternative to Hipchat, Slack, etc., that they can run on-premise, and Zulip could totally fit the bill... but some percentage of these users are turned off by Zulip's "streams and topics" model. If we can (optionally) simplify this, I think it could make the offering fairly compelling to users who would not otherwise use Z

[2016-04-11 14:27] Vallher commented on #618
Hi, I've started working on this integration. I'll keep you posted about the progress!

[2016-04-11 17:28] timabbott commented on #618
Awesome!

[2016-04-11 17:46] timabbott commented on #68
@zack-ahdach there's a PR implementing this integration now available here: https://github.com/zulip/zulip/pull/648
I'd love any feedback you can give on the format of the messages (screenshot 006 in the pull request)!  I feel like we could probably do better but I'm not sure what to improve...

[2016-04-11 19:39] timabbott opened #651 "Document and make web-controllable the realm_aliases feature"
RealmAlias is a table that allows realms that have configured `restricted_to_domain` (to allow only users with a particular email address domain to join the realm) to configure a list of additional domains that also work.  It's currently only accessible via a management command (./manage.py realm_alias) and ideally would be something that has a web UI for configuring and documentation.

[2016-04-11 22:14] TomaszKolek commented on #619
#652 please look and review

[2016-04-12 05:48] akashnimare opened #654 "Show media in pop up"
Currently when a user clicks on a uploaded image it redirects to a new tab. Showing that image in a pop up (in a same window) will give a better user experience.

[2016-04-12 05:53] timabbott commented on #654
Yeah, this could be cool, especially if we can make it easy to zoom in that view and still offer a way to get a new window (e.g. via ctrl-click).

[2016-04-12 06:02] akashnimare commented on #654
Yes. We can implement it easily with [pop.js](http://docs.toddish.co.uk/popup/).

[2016-04-12 06:04] timabbott commented on #654
Hmm, I worry a little that `pop.js` doesn't look super maintained (no activity in the last year); are there other libraries we should consider?

[2016-04-12 07:40] vfortier-solenix opened #655 "Problem installing Zulip via Vagrant on Windows"
When installing Zulip on Windows10 (64bit) via Vagrant, I had an error with `tools/emoji_dump/build_emoji`. I'm using Vagrant 1.8.1, VirtualBox 5.0.16 and Cygwin. I cloned the git repository using this command: `git clone https://github.com/zulip/zulip.git -c core.autocrlf=false`

This is the error I had:
[code]

Prior to this error, I also had another non-fatal error:
[code]

[2016-04-12 17:32] timabbott commented on #655
Hmm, seems like an issue with symlinks not being supported with Virtualbox-on-windows.

Does this PR fix the issue for you?
https://github.com/zulip/zulip/pull/593

[2016-04-12 20:11] ryansnowboarder commented on #655
That PR fixes symlinks problem, but Vagrant 1.8.0 and Vagrant 1.8.1 both have a known bug with rysnc on Windows, so you also have to fix that manually as documented here: https://github.com/mitchellh/vagrant/issues/6702

[2016-04-12 20:12] ryansnowboarder commented on #655
Feel free to fork my zulip repo as I just rebased it to zulip/master.

[2016-04-12 21:09] akashnimare commented on #654
There are two other plugins which looks promising
1 . [Magnific-Popup](https://github.com/dimsemenov/Magnific-Popup)
2 . [colorbox](https://github.com/jackmoore/colorbox)

[2016-04-12 23:34] pfarrell commented on #135
+1

[2016-04-12 23:39] richddr commented on #135
+1

[2016-04-13 08:41] vfortier-solenix commented on #655
Thanks for your quick replies guys.

I did the workaround you suggested at [mitchellh/vagrant#6702](https://github.com/mitchellh/vagrant/issues/6702)
Then I cloned [ryan's repo](https://github.com/ryansnowboarder/zulip), which contains changes from PR [#593](https://github.com/zulip/zulip/pull/593). When running vagrant up, I had this error:
[code]

I thought the workaround would fix this, but app

[2016-04-13 09:41] vfortier-solenix commented on #655
Update:

I tried to modify the Vagrantfile according to the first answer of this SO topic ["Symbolic links and synced folders in Vagrant"](http://stackoverflow.com/questions/24200333/symbolic-links-and-synced-folders-in-vagrant). Then I ran `vagrant up`, and I think it worked. The last message printed in Cygwin was` ==> default: + npm install`

In the VM, I installed xfce and Firefox, and tried to

[2016-04-13 11:36] vfortier-solenix commented on #655
Yay! I got Zulip running now.

So, as I said in my previous comment, adding
`vb.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/v-root", "1"]`
to the VirtualBox part of the Vagrantfile worked for me.

---

I have one comment on the install procedure though: maybe it's because I'm still a beginner in all Linux related stuff, but one part that wasn't clear to me is h

[2016-04-13 12:55] Vallher commented on #70
@timabbott

I think we can also mention something about most usefull decorators for webooks with short description of them.

I also propose to make integrations more standardized:
My solution:
https://github.com/zulip/zulip/pull/648/files

Split functionalities into Parser(access to payload) and into Handler(generate content).
I think it is more clearly way and easy to reproduce in the future. Zul

[2016-04-13 15:52] ryansnowboarder commented on #655
"you can visit http://localhost:9991/ in your browser"

I agree that can be confusing. The message is supposed to be visit
http://localhost:9991/ in the browser on your host machine. I thought the
VM was sending data over a port that wasn't 9991, like 1234 or something.
Did visiting http://localhost:9991/ in the VM get you anywhere?

So the commands to get the VM up and inside are, in order:

`vag

[2016-04-13 16:09] timabbott commented on #485
This is resolved I think by #644.

[2016-04-13 16:09] #485 closed

[2016-04-13 20:01] Wolodija commented on #39
There is possibility to left ownership of files to zulip, and additionally set file access list with permissions for www-data user.

[2016-04-13 22:55] timabbott opened #658 "Create tool for sending content from webhook test fixtures into Zulip dev environment"
As discussed on https://github.com/zulip/zulip/pull/652, currently one of the larger rough edges in workflow for adding new Zulip integrations is sending a sample message (which we already capture for the test fixtures) into the Zulip development environment so that we can take a nice screenshot of it.

It'd be great to build a tool that can post webhook messages already captured as fixtures to th

[2016-04-13 23:05] timabbott commented on #654
Yeah those look better-maintained; I think it's reasonable to try them both out and see which you like better if you're going to work on this.  The main thing I'd be worried about other than how convenient this is to write is how big the plugin is once compressed; since this isn't top functionality for Zulip I'd not want to have a large javascript library for it (don't see in the docs for either o

[2016-04-13 23:21] akashnimare opened #659 "Url formatting"
Homepage of zulip redirects to https://zulip.com/login/?next=/
I think we don't need to append <b>?next=/</b> in url.

[2016-04-13 23:24] timabbott opened #660 "Simplify what developers need to know to write new webhook integrations"
http://zulip.readthedocs.org/en/latest/integration-guide.html is great progress, but now that we're getting a lot of integration contributions, there's probably value in doing work on making more of a framework around the webhook integration writing process.

Some ideas include:
* [ ] Making the API for sending a message cleaner than the current `check_send_message` call
* [ ] Moving the decorator

[2016-04-13 23:24] timabbott commented on #70
Opened https://github.com/zulip/zulip/issues/660 for that idea, since I think it deserves its own discussion.

[2016-04-13 23:26] timabbott commented on #659
Here's the places where we reference `?next=`.  I think it may be possible to end up redirecting to somewhere other than "/" after logging in, so we probably need to support the `?next=` syntax, but I agree we probably don't need to set it when the next page is going to be "/" -- that's kinda the default.

[code]

[2016-04-14 00:37] danshev commented on #626
Good news: some backend tests won't be needed.

Bad news: need to rewrite large parts of this:

http://venturebeat.com/2016/04/13/chrome-50-arrives-with-push-notification-improvements-and-declarative-preload/

[2016-04-14 06:23] vfortier-solenix commented on #655
Aaaah ok! Yeah visiting http://localhost:9991/ on the VM worked.

vb.customize[]?

I haven't tried that.

[2016-04-14 17:10] hackerkid commented on #610
@timabbott Is it fine to move `all_msg_list home_msg_list narrowed_msg_list current_msg_list` to message_store.js ?

[2016-04-14 17:26] timabbott commented on #610
Hmm.  I think given `_msg_list` occurs 242 times in the frontend code, switching to super long names like `message_store.home_msg_list` would be pretty sad.  Thinking about this more, I think these probably belong in `message_list.js`, since that defines the MessageList type anyway.

If we do that, then we can use more abbreviated names, e.g. `message_list.home`, which is similar enough in length

[2016-04-14 17:40] hackerkid commented on #610
@timabbott Sounds good. I will move them to message_list . Should I send unique PR for each commit?

[2016-04-14 17:41] timabbott opened #664 "Fix S3Test to no longer be skipped in the test suite"
Currently, we don't test the S3 integration code path ever since we disabled all tests that talked to third party services over the network (which helps a lot with test stability and performance!).  It'd be great to restore the testing for S3Test though.

I think it might be possible to test our integration with S3 without talking to real S3 by using a copy of python-boto's S3 mock (tests/integrat

[2016-04-14 17:43] timabbott commented on #610
I think 1 PR with 5 commits is probably best here.

[2016-04-14 18:10] timabbott commented on #626
Cool, I guess.

[2016-04-14 18:16] timabbott opened #665 "Document and make web-controllable the default_streams feature"
DefaultStream is a table that allows us to configure the list of default streams for a given Zulip realm when new users join. It's currently only accessible via a management command (./manage.py set_default_streams) and ideally would be something that has a web UI for configuring it in the Administration page.  We actually even already have API routes for controlling this (that I'm pretty sure nob

[2016-04-14 18:21] timabbott commented on #665
Hmm, I take back the comment about frontend-only; we'll need to add the current list of DefaultStream values to `fetch_initial_state_data`, put it into page_params, and probably add sending an event for DefaultStream updates processed in `apply_events`.

The new feature tutorial on ReadTheDocs I think documents how to do most of that; happy to answer any questions on how to do this.

[2016-04-14 19:12] timabbott opened #666 "Figure out workaround for Atom deleting extra newlines at end of files"
Either we should document how to configure Atom to not do this, or (perhaps better) we should enhance the logic we already have in `tools/lint-all` for checking for 0 newlines at the end of a file to also check for >1 (and fix the existing offenders in the codebase).  The latter is probably better, since then we don't need to think about this stuff anymore.

[2016-04-14 19:30] rahuldeve commented on #664
@timabbott Check out this project.
https://github.com/zulip/zulip/pull/584/commits/f2245d0eac05f1748d8b20db1a993edb5b0fa1f9
Apparently to test an S3 function, all thats required is to just add an '@mock_s3' decorator to the function. So we can test it out without tweaking the S3Test code. :)

[2016-04-14 19:51] timabbott commented on #664
Looks great!

Yeah that's definitely a better solution than copying in the S3 mock from boto :)

[2016-04-14 21:03] timabbott commented on #665
I just discovered I actually have an old (non-working) branch that has some partial progress towards this; I posted it as https://github.com/timabbott/zulip/tree/default-streams-rebase

[2016-04-14 21:08] Vallher commented on #660
To start disscusion i think we should create some maybe template for writting integrations.

Yes i know that all request are different and it should be very flexible, however if Zulip aims into bigger number of integrations - it should be standarized to make it more easly to maintain.

All integrations are doing at least:
- reciving request (random data)
- parsing request (standarized data)
- matc

[2016-04-14 21:42] TomaszKolek commented on #658
@timabbott:
please look, it's still in progress but I'd like to know your opinion about this approach

#667

[2016-04-14 22:36] timabbott commented on #658
Yep that approach looks good!​

[2016-04-14 23:48] phansen01 commented on #666
For the latter option would you just want to strip trailing newlines to begin with?

i.e. something like
[code]
before the rest of the checking in `tools/lint-all`:`custom_check_file` is done?

[2016-04-15 14:59] phansen01 commented on #666
Also it seems to be pretty straightforward to ensure a trailing newline at the end of a file in Atom.

from https://github.com/atom/atom/issues/3725:

![](https://cloud.githubusercontent.com/assets/38924/4520112/87b11676-4cda-11e4-90b1-cf6a21a358e6.png)

[2016-04-15 19:25] hackerkid commented on #610
@timabbott Sorry for the delay. Since the message_list.js is already exporting `MessageList` how do you want to handle the exporting of variables?

[2016-04-15 20:05] brainwane opened #668 "Unify most standalone documentation & move to Read The Docs or Zulip.org"
Zulip's standalone (not in-line) documentation is in three places, mainly:
* Zulip.org (staged at https://github.com/zulip/zulip.github.io )
* [Zulip's Read The Docs site](https://zulip.readthedocs.org) (staged at https://github.com/zulip/zulip/tree/master/docs )
* the [Zulip GitHub repo](https://github.com/zulip/zulip/)'s README and other help files in the repo outside the `docs/` directory (for

[2016-04-15 20:06] brainwane commented on #668
Read The Docs also has an "edit on GitHub" link. Right now our docs are a mix of reStructured Text and Markdown, and as @timabbott mentioned, one annoying issue is involved with moving everything to `docs/` is that [the "Edit on GitHub" links to readthedocs don't work with a mixed Markdown+rST project](https://github.com/rtfd/readthedocs.org/issues/2130). So if we move to RtD and we want to lower

[2016-04-15 20:43] brainwane opened #669 "move README.dev.md & README.prod.md to Read the Docs"
From conversation with @timabbott:

Along the way I suggest we also integrate/unify https://zulip.org/server.html into this mix.

[2016-04-15 20:54] brainwane opened #670 "add Django context to new feature tutorial"
The "New Feature Tutorial" could use a quick note, for context, at the top saying that Zulip uses the Django framework. Ideally it would also be good to consistently name places where we are using Django's tooling (e.g., in "Create and run the migration", mentioning whether we're using the Django migration process) and to name any places where we are going against Django's standard idioms.

[2016-04-15 21:06] brainwane opened #671 "Transclude /api/ page help to one of the dedicated documentation hubs"
The `/api/`, `/integrations/`, and `/api/endpoints/` pages on Zulip installations have a lot of useful information. It would be good to transclude or otherwise make that information available to prospective developers and users, someplace other than on zulip.com, such as zulip.org or the Read the Docs site -- a site that already hosts other Zulip documentation and that is clearly affiliated with t

[2016-04-15 21:29] brainwane opened #672 "Significantly expand documentation of the Zulip API and integrating with Zulip"
Zulip API documentation is currently:
- https://zulip.com/integrations/
- https://zulip.com/api/
- https://zulip.com/api/endpoints/

The examples at https://github.com/zulip/zulip/tree/master/api/examples demonstrate much more functionality, which ought to be reflected in the documentation.

A substantive sandbox (like what Swagger provides or like https://en.wikipedia.org/wiki/Special:ApiSandbox)

[2016-04-15 21:49] brainwane opened #674 "Make integration projects more discoverable from README"
Right now, the README doesn't list some of [the other projects under the Zulip umbrella](https://github.com/zulip), like the Hubot adapter and the Phabricator integration, in the "App codebases" section of "Contributing to Zulip".

[2016-04-15 22:16] brainwane opened #675 "Expand library of documentation on Zulip's feature set"
Currently most documentation is for either developers or system administrators. End users (and people deciding whether their organizations should use Zulip) could use:
- details on the privacy aspects of invite-only streams and private chats
- more screenshots, especially regarding file uploads, inline previews, stream management, settings, and search

People who have been working on Zulip for a w

[2016-04-15 22:29] brainwane opened #676 "Write more developer tutorials"
Expand developer documentation with more tutorials explaining how to do various types of projects.

Ideas:
- add a new translation
- cut a new release
- add a new emoji
- test Zulip with a new browser
- work with a new file format (for uploading and/or thumbnailing in previews)

[2016-04-15 22:30] brainwane opened #677 "Overhaul new contributor documentation"
Overhaul new contributor documentation, especially [on coding style](https://zulip.readthedocs.org/en/latest/code-style.html), to better highlight and teach the important pieces.

[2016-04-16 18:08] rahuldeve commented on #666
@phansen01 Thanks a lot for the tip!!! @timabbott I think I will do this for now.

[2016-04-16 18:11] rahuldeve commented on #664
@timabbott So can I use this library for now? I will start writing the test cases once you give me the go ahead.

[2016-04-17 01:05] timabbott commented on #664
Yep!

-Tim Abbott (mobile)
On Apr 16, 2016 11:11 AM, "Rahul Dev E" <notifications@github.com> wrote:

[2016-04-17 06:20] rahuldeve commented on #664
I think we will need to make a separate PR for installing moto. Modifying the requirements.txt does not seem related to the PR im working on now.

[2016-04-17 06:26] timabbott commented on #664
I'd do it in its own commit but in the same pull request.

-Tim Abbott (mobile)
On Apr 16, 2016 11:21 PM, "Rahul Dev E" <notifications@github.com> wrote:

[2016-04-17 07:44] mariuspana commented on #135
+1 archive or delte would be great

[2016-04-17 19:43] gauthamzz commented on #659
can i do this?

[2016-04-18 09:05] sharmaeklavya2 commented on #635
I tried to see how many files do we need to exclude from type checking to get no errors. I'm not checking files which do not have the .py extension because of [#1380 in python/mypy](https://github.com/python/mypy/issues/1380). Out of the 254 .py files that we have, we'll only be checking 33 files (pretty sad but what else can we do?).

Here is my exclude list:

[code]

There were also instances wh

[2016-04-18 09:09] sharmaeklavya2 commented on #635
Sorry I miscalculated. We're checking 194 files not 33.

[2016-04-18 10:22] anteq commented on #660
Well, in my opinion the integrations need some refactoring, but I'm not sure if creating strict boundaries and dividing the functionalities to parsers/creators is the best choice.
My biggest concern is how to properly support versions of webhooks payloads. For example.
Also, another idea from my point of view, is to simplify the user experience of activating a new integration. End user shouldn't h

[2016-04-19 17:31] rahuldeve commented on #664
@timabbott moto is up and working fine. Ive got a couple of tests for s3 functions too.

[2016-04-19 17:55] timabbott commented on #635
OK 194/254 is enough to be worth turning it on in CI; we can do the project of shrinking that list as a follow-on effort once we have this running in Travis CI.

[2016-04-19 18:31] timabbott commented on #610
Hmm.  I think we don't use that export:
[code]
So there's no real issue here.  I think it'd be good to make `module.exports` in message_list.js work how it does in the other files.

So maybe as a preliminary change, we should make `message_list.js` work like the other modules where we start by defining `exports` and adding elements to it, and access `message_list.MessageList` (rather than having M

[2016-04-19 20:10] timabbott commented on #659
@gauthamzz I think that @akashnimare has a PR open working on this (#679).

[2016-04-19 22:51] timabbott commented on #674
Yeah, that seems like a good idea.  It's possible that some of these we'll want to merge into zulip.git/api/integrations, but for whichever ones we haven't, we should add such links.

[2016-04-19 23:02] timabbott commented on #676
I think probably the tutorials I'd prioritize most (because they're things folks often want to do):
* Add a new backend route (should document our `rest_dispatch` + `has_request_variables` model)
* Make a UI change / Add a new section of HTML (via Django templates or handlebars) to the site
* Display an error message in some Zulip UI you've written (we have a standard way to do this with `report_e

[2016-04-19 23:07] timabbott commented on #675
We have some docs on the privacy side of things in README.prod.md's security model section.

Also, just documenting the existence of a lot of nice features like the ability to add custom emoji would be valuable.

I think a really valuable thing to document in this space would be the various effective workflows ways one can use Zulip to manage one's messages - seems like an area that could be usefu

[2016-04-19 23:11] timabbott commented on #670
Yeah, this would be great, since the Django documentation is super detailed on these things.

[2016-04-19 23:35] timabbott commented on #671
One way that we could do this would be to make the API/integration/etc. docs a separate Django app from the rest of the Zulip server installation, and run just that app (hosting the docs) as part of zulip.org.

As a sidenote, I'm pretty sure it's possible to configure ReadTheDocs to access stuff from multiple directories, but it's worth checking.

[2016-04-20 17:47] timabbott commented on #583
Fixed by #596.  @sharmaeklavya2 FYI you can put `Fixes: #596.` in the commit message for the commit that fixes a bug to make the issue be automatically closed when that commit is merged.

[2016-04-20 17:47] #583 closed

[2016-04-20 17:48] #658 closed

[2016-04-20 18:27] dwrpayne opened #683 "Add Teamcity integration"
I've implemented a webhook integration with Teamcity. It uses the well-known Teamcity plugin tcWebHooks (https://netwolfuk.wordpress.com/category/teamcity/tcplugins/tcwebhooks/) which sets Teamcity up to send a webhook event on build start/finish.

I still have to write the test suite for it, and will set up a pull request for what I have so far. I'd love any and all feedback.

[2016-04-21 04:50] #441 closed

[2016-04-21 14:35] kou commented on #615
How about using [PGroonga](http://pgroonga.github.io/) when PGroonga is installed? (If PGroonga isn't installed, use the current full text search feature as fallback.)

PGroonga is an extension of PostgreSQL. It provides index for full text search. It supports all languages including Japanese.

We can use PGroonga like the following. It works well with all languages:

[code]

See also:

  * [Tutor

[2016-04-21 14:39] kou commented on #615
FYI: There is a text search dictionary for Japanese: https://github.com/oknj/textsearch_ja

The official project isn't maintained. The GitHub project is an unofficial project. (It's written in Japanese in README of the GitHub project.)

[2016-04-21 17:18] Wolodija opened #687 "Bad presenting empty blockquote (">")"
If I type ">" into textbox and send to the zulip, zulip has problems with present this properly.

It could be solved by add:
`display: inline-block;`

to css class:
`message_content`

Before change:

![snapshot58](https://cloud.githubusercontent.com/assets/6997361/14718056/b28de244-07f4-11e6-8bb6-a0e934a24aba.png)

![snapshot55](https://cloud.githubusercontent.com/assets/6997361/14718060/bdae44ca-

[2016-04-21 21:03] timabbott opened #689 "Make password_auth_enabled a realm admin controlled setting"
Zulip supports per-realm control over whether password authentication is enabled via the password_auth_enabled function in zproject/backends.py.  However, currently it's only used for a single hardcoded realm (zulip.com).  We should add a checkbox in the realm Administration page to control this.

This project is probably fairly accessible to someone new to Zulip development, since it should be a

[2016-04-21 21:48] dwrpayne opened #691 "Add support to restrict stream creation to admins only."
I envision an option in the administration settings like this:

![image](https://cloud.githubusercontent.com/assets/5867191/14725321/2635568e-07d0-11e6-91c9-1442bd414277.png)

I think we could follow the "new feature" tutorial almost exactly, and then check the value somehow in UserProfile.can_create_streams()

[2016-04-21 22:00] timabbott commented on #691
This seems like a reasonable feature, and that implementation approach sounds reasonable!

[2016-04-21 23:26] timabbott commented on #615
I'd be happy to review a PR adding support for using PGroonga as an option.

[2016-04-21 23:34] timabbott commented on #687
Nice find!  I'm not sure what the best fix for this is (whether it's something in the markdown parser or the display code).  Since the result in an empty message, it might be the case we want to reject these like we do messages with no content in them.

[2016-04-22 00:42] timabbott opened #692 "Simplify the user experience of activating a new integration"
From @anteq's comments in #660:

"End users shouldn't have to create a "bot", remember the API key, create the URL on his own etc etc... Simplified UX in this case would involve Zulip generating the bot and correct webhook address automatically - user then would just have to copy and paste the generated webhook address. There could also be a place for customizing what types of messages should be p

[2016-04-22 00:54] timabbott commented on #660
@anteq, I agree with your thoughts on simplifying user experience for activating an integration; I created a separate issue for it (and as you can see I already had that idea in my draft Zulip roadmap)

For versioning, I think often vendors only change their APIs infrequently, and when they do it's a major revision.  For major revisions, we could handle that the same way we do today with the GitHu

[2016-04-22 01:32] timabbott opened #693 "Replace closure-compiler with a faster minifier"
It's really slow, which in turn makes `tools/build-release-tarball` slow, and slows the feedback cycle for any machines doing deployments off of CI.

[2016-04-22 01:33] timabbott opened #694 "Add support for building Zulip frontend features in React"
It seems like this would potentially save a bunch of effort for features like the right side user list.

[2016-04-22 01:36] timabbott opened #695 "Use a javascript bundler like webpack"
We now actually have webpack installed and working in the Zulip development environment (just not used for anything), and once we've finished purging global variables (#610) it'd be great to start using something like that to manage JS dependencies rather than the carefully ordered JS_SPECS list in zproject/settings.py.

[2016-04-22 01:37] timabbott commented on #695
(We need to be careful when building this to make sure we don't regress the fast feedback cycle in development)

[2016-04-22 01:43] timabbott opened #696 "Zulip static/html/*.html documents Zulip twitter and zulip-devel@ but is used on all Zulip servers"
Currently it just hardcodes zulip-devel@ as the place to contact to get support, which is going to be wrong for some people's installations.

Since at least the nginx 5xx page shouldn't involve getting content from Django (since part of the point is that it work when Django is busted), there are I think a few options:
* Make them built from a template with the values filled in as part of the Zulip

[2016-04-22 06:06] Wolodija commented on #687
In my opinion it should be fixed in both: display code and markdown parser. Markdown parser could return ">" (without parsing) or reject this message.

[2016-04-22 17:51] timabbott commented on #302
I believe this was addressed when we added instructions to run `npm -g` in https://github.com/zulip/zulip/blob/master/README.dev.md#all-systems

[2016-04-22 17:51] #302 closed

[2016-04-23 03:57] JoyceBabu opened #698 "Add to DockerHub"
Since there is an official `Dockerfile` for zulip, can you please add it to DockerHub or any public docker image registry?

**Edit** I just noticed that it is incomplete.

[2016-04-23 04:02] #698 closed

[2016-04-24 15:20] kou commented on #615
I've created a PR as #700.

[2016-04-24 21:03] sharmaeklavya2 opened #701 "py3k is not mentioned anywhere in docs"
Apart from being run on Travis, tools/travis/py3k is not mentioned anywhere. It is not written anywhere in the docs how to run it and what dependencies (future and modernize) need to be installed.

Also tools/travis/ should only contain wrapper scripts which call other scripts. py3k does not follow this.

I think we should:
* Move tools/travis/py3k to tools/check-py3 or something like this. Then a

[2016-04-24 22:37] timabbott commented on #701
All of these improvements sound good; let's add it to requirements.txt, but note with a comment that the modules are only needed for running python 3 compatibility testing.

I expect in the future we may end up splitting requirements.txt into two files, one for production and one with the extra things we use in development (since I think that is trending towards 50% of the dependencies).

[2016-04-25 15:18] sharmaeklavya2 commented on #701
I can't find a perfect place in the docs where I should add info about py3k. I also can't think of what exactly I should write about it. docs/testing.rst seems like a good place but where should I put it inside that file?

[2016-04-25 16:53] timabbott commented on #701
Yeah, I would add a new section with a title like "Python 3 compatibility" at the end of docs/testing.rst

[2016-04-25 20:47] timabbott commented on #698
@JoyceBabu just curious -- why did you close this ticket?

[2016-04-25 21:04] sharmaeklavya2 opened #704 "Zulip's fork of django is slow to download"
requirements.txt contains the line

    git+https://github.com/rwbarton/django.git@59f1fc4c7b65d23fceffd5c87e2b6ea350030c56

It took me 5.75 minutes to clone this repository. But on cloning the repository with `--depth=2`, it only took 30s. With all commits, our django's fork's size is around 96 MiB. With only the last 2 commits, the size is 8 MiB. I could not find a way to make pip prune out the

[2016-04-25 21:13] JoyceBabu commented on #698
My net connection is not very fast, so building a docker file usually takes a long time. I thought the official `Dockerfile` for Zulip was working, and thought it would be nice it is available on DockerHub for quick pull. But when I tried to build the Dockerfile, I found that it doesn't  does not contain any code to install Zulip.

Since there is no official working Dockerfile, my question is mean

[2016-04-25 23:47] #701 closed

[2016-04-26 04:11] timabbott commented on #704
I like this idea.  If you want to work on this, I think you can test by just creating together such a shallow clone repository in your own GitHub account, and we can transfer it over to the Zulip GitHub organization once you've gotten it working.

[2016-04-26 04:13] timabbott commented on #698
OK, you should check out #450, a production docker file that we're working on :)

[2016-04-26 04:23] timabbott opened #707 "Clean up clutter in root directory of zulip.git"
I'm imagining changes like:
* [x] Moving provision.py into tools/setup/ (as well as various development environment setup-related code currently in tools/ like `download-zxcvbn`)
* [x] Merging bin/ into scripts/
* [x] Moving zulip_tools.py into scripts/lib/
* [x] Moving assets/ to static/assets/
* [x] Moving README.dev.md and README.prod.md under docs/
* [ ] Moving bots/ to something like api/expe

[2016-04-26 04:28] timabbott commented on #551
Just as a quick update on this, I've discovered an issue where `manage.py shell` doesn't auto-load zerver.lib.actions in all environments, which I'm still investigating but has to do with how PYTHONSTARTUP is implemented in Django's management command implementation; finishing this should probably block on fixing that.

[2016-04-26 16:36] timabbott opened #708 "Split out a tools/setup from tools/ to decrease clutter"
We now have a bunch of tools under `tools`, many of which are only used as part of the development environment setup process.  It probably makes sense to move a bunch of those into a `setup/` subdirectory to both make their purpose more clear and clean up the directory of commands one is unlikely to run.  Good targets include:
* download-zxcvbn
* generate-test-credentials
* generate-fixtures
* pos

[2016-04-26 16:56] timabbott commented on #619
Fixed in #652.  @TomaszKolek FYI if you put a second paragraph in your commit message that says `Fixes: #652`, that will automatically close the issue when we merge the commit.

[2016-04-26 16:56] #619 closed

[2016-04-26 16:58] timabbott commented on #683
Fixed in #688.  @dwrpayne FYI if you put `Fixes: #688` as a paragraph at the end of the commit message for the commit adding the integration (as opposed to in the GitHub issue text), it'll automatically close the GitHub issue when the commit is merged.

[2016-04-26 16:58] #683 closed

[2016-04-26 16:59] timabbott opened #709 "Replacing existing Trello integration with a webhook integration"
We have a Trello integration that was written a few years ago, but it requires installing a script to use it.  Given that Trello now supports webhooks, we should probably write a webhook style integration for it.

[2016-04-26 17:01] timabbott commented on #618
@Vallher wanted to check in on this -- how has progress been going on this?

[2016-04-26 17:48] Vallher commented on #618
Due to Librato problems i implemented only some basic messages. Need more time:)

[2016-04-26 19:05] sharmaeklavya2 opened #710 "Speed up tools/check-py3"
I think tools/check-py3 takes a lot of time to run. So much that I prefer to not run it locally and let Travis do all the tough work.

When I ran tools/check-py3 on my laptop, this is the output of `time`:
[code]

I tried to see what happens if we run all the fixers together (instead of one by one on all python files, like we do in tools/check-py3).

I made a file `fixers.txt` which contains a lis

[2016-04-26 19:26] timabbott commented on #710
If there's interest, Option 1 is definitely best since it helps everyone using these tools, not just us.  I think we should also report an issue with `lib2to3` explaining our use case and suggesting an option to output which fixer caused an error.  It's possible this is difficult to implement and also possible it's fairly easy.  I sent a quick email to a friend who's an expert on lib2to3 asking wh

[2016-04-26 19:47] timabbott commented on #710
Actually, thinking about this more, I think there's an option 4 where we by default just running all the fixers together, but have an option for debugging that will run them one-by-one.  Most of the time it's pretty obvious what you did wrong from the diff, and so you may not need to to know which fixer it was in the common case.

[2016-04-27 05:11] timabbott opened #712 "Implement caching of provisioning process to make Travis CI tests faster"
Currently our Travis CI tests are really slow, because they spend most of their time doing provisioning (installing dependencies, etc.).  Travis CI supports caching, and we should be able to do this for a lot of elements, including e.g.:

* The Python venv (as long as we have a correct invalidation strategy, e.g. checking if the sha1sum of `requirements.txt` has changed)
* PhantomJS package

and p

[2016-04-27 05:12] timabbott opened #713 "Add test suite for the Zulip API bindings"
Currently, the Zulip API bindings don't have an automated test suite.  While they're fairly easy to test manually, it'd be really good to have automated tests for them.

[2016-04-27 05:16] timabbott opened #714 "Profile and optimize the frontend performance of Zulip"
The backend performance for the Zulip homepage is really good, but I think there's likely some low-hanging fruit on the frontend performance side of loading the Zulip homepage.

[2016-04-27 05:18] timabbott opened #715 "Migrate the Zulip LDAP integration to be web-configurable"
The LDAP integration is theoretically configuration for how to login to a particular realm, not an entire server, and so conceptually should be configurable by the realm administration via the web.

Even if we can't do that, we should at least make it possible for different realms to use different LDAP servers.

This may be a fairly complicated project since it probably involves replacing the djan

[2016-04-27 05:19] timabbott opened #716 "Add a SAML auth integration to Zulip"
A lot of larger companies use SAML as their standard authentication provider; so it'd be good to have support for that in Zulip.  There's a ton of third-party modules to do Django with SAML, so this probably isn't that hard to do.

[2016-04-27 05:38] timabbott opened #717 "Make possible backwards-incompatible updates to Python libraries"
In order for Zulip to continue advancing its technical quality, we'll need to be able to upgrade the versions of the Python libraries used by Zulip smoothly.  Eventually, one of these upgrades (e.g. Django 1.x) will be backwards-incompatible.  Our current production environment setup, where we have an apt repository containing all the Zulip dependencies across all versions of Zulip, doesn't suppor

[2016-04-27 07:20] goelakash opened #718 "Error installing vagrant 1.8.1 container"
With the latest stable vagrant (1.8.1) on Ubuntu 16.04 64-bit, zulip fails to build container with the following error:
[code]

[2016-04-27 10:01] akuckartz commented on #716
:+1:

[2016-04-27 10:03] akuckartz commented on #716
:+1:

[2016-04-27 10:03] akuckartz commented on #716
:+1:

[2016-04-27 18:34] timabbott commented on #718
I would try running the `lxc-create` command that the traceback shows it got an error running and checking out the real error you get from that...

[2016-04-27 18:35] timabbott commented on #718
(I'm personally using Vagrant 1.8.1 on Ubuntu 16.04, and this works for me, so this isn't a platform compatibility issue)

[2016-04-27 19:26] goelakash commented on #718
@timabbott Yeah I did try that. Specifically:
[code]

It gives the error `best is not a valid backing storage type.`

So I run it without `-B best` argument, but then the container is not created by running the vagrant ssh command:

`vagrant ssh -- -L9991:localhost:9991`

Error: Container not created.

[2016-04-27 19:55] timabbott commented on #718
Looks like potentially a recent regression in Ubuntu:

https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1574969

        -Tim Abbott

On Wed, Apr 27, 2016 at 12:26 PM, Akash Goel <notifications@github.com>
wrote:

[2016-04-28 00:05] timabbott commented on #718
OK I can reproduce and am testing a fix.  Thanks for reporting @goelakash!

[2016-04-28 00:09] #718 closed

[2016-04-28 00:09] timabbott commented on #718
Fixed merge, let me know if you're still running into issues.

[2016-04-28 17:02] #710 closed

[2016-04-28 17:19] timabbott opened #722 "Optimize performance of "production" test suite"
The "production" test suite is really slow and as a result delays feedback from Travis CI to contributors, which isn't great.   The purpose of that test suite is to confirm that Zulip is always installable in production via building a release tarball (`tools/build-release-tarball`) installing it, and checking for errors.

The production test suite does basically the following:
* Install a developm

[2016-04-28 17:50] sharmaeklavya2 commented on #704
I have made a shallow repository and tested it by putting it in requirements.txt. It worked.
https://github.com/sharmaeklavya2/truncated-django

[2016-04-28 19:21] timabbott opened #724 "Migrate Zulip's GitHub webhook off github-services"
The Zulip integration with GitHub is using the deprecated "github-services" mechanism:

https://github.com/github/github-services/blob/master/CONTRIBUTING.md#contributing

We should probably plan to migrate it to using a standard webhook at some point.

[2016-04-28 19:33] #635 closed

[2016-04-28 20:08] timabbott opened #725 "Clear most files from the mypy exclude list"
Now that we have mypy running in Travis CI, it'd be great to narrow down the list of files that we can't run it on.

There's a range of problems and likely different things we'll need to do for each. In 755695d3c0062dff3685fd5153f1c752d02c3f67 and its parent I pushed fixed for a couple problems affecting a large fraction of files; here are some notes on some of the other issues:

* Several items a

[2016-04-28 23:08] #704 closed

[2016-04-28 23:21] timabbott opened #726 "Add strings in Handlebars templates to translations"
Currently, only the strings in Zulip's Django templates are included in the translated strings databases.  As a result, the translations that people are working on in Transifex don't include the strings that will show up in various parts of the Zulip UI, included the admin panel and error messages.

This can probably be broken into two parts: first getting the strings into the .po files and second

[2016-04-28 23:24] timabbott opened #727 "Add translations support to json_error and JsonableError messages"
Most Zulip error messages go through the `json_error` code path; it'd be great to add support for sending those in users' native languages; I think this shouldn't be too hard since we already have the Django translation system integrated in Zulip.

[2016-04-28 23:26] timabbott opened #728 "Enhance the Zulip presence engine to support 10K+ concurrent users in a realm"
The Zulip presence system will likely hit some performance issues for very large realm, where it won't make sense to send the presence data for every user in the realm to every other user.
#236 will address some parts of this, but likely not everything.

[2016-04-28 23:27] timabbott opened #729 "Reorganize directory structure to make Zulip tornado service its own app"
Now that the Zulip Tornado service is mostly independent of the rest of the Zulip Django system, it should be possible to split it out as its own directory tree.  Doing so will be helpful as we split it into multiple services and make the codebase easier to navigate.

[2016-04-28 23:30] timabbott opened #730 "Remove the legacy /api/v1/send_message API"
The main work that needs to be done here is auditing all the Zulip integrations in https://zulip.com/integrations/ for whether any are still using the old API.  The webhook integrations definitely don't use it, but some of the older integrations might still use the old API.  If anyone decides to work on this, please post which integrations you've checked in comments here so folks don't end up repe

[2016-04-28 23:32] timabbott opened #731 "Refactor Zulip CSS to be split into components"
Possibly as part of this project, we should also use some fancy CSS preprocessing technology; but the overall goals are (1) to make things easier to find and understand and (2) enable projects like https://github.com/zulip/zulip/issues/301 and https://github.com/zulip/zulip/issues/267.

[2016-04-28 23:36] timabbott opened #732 "Get test coverage to 100% in key files"
We can generate coverage reports for Zulip's backend test suite via `./tools/test-backend --coverage`.

Coverage is fairly high, but a good next goal for the project on this front is to get to 100% test coverage of the views code, so that we can be highly confident in the correctness of the Zulip backend and our ability to modify it.

[2016-04-28 23:41] timabbott opened #733 "Annotate 100% of functions using mypy static types in key Zulip files"
Now that we have Mypy running in Travis CI (see http://zulip.readthedocs.io/en/latest/mypy.html), we should work on increasing our annotation coverage.

I think a good place to start would be zerver/models.py, zerver/views/, zerver/lib/actions.py, since those are in some ways the most important files in the project.  Once we have those fully annotated to our satisfaction, we can start working thro

[2016-04-28 23:48] timabbott commented on #423
@WanzyShu were you able to figure out what the problem was?

[2016-04-28 23:49] #464 closed

[2016-04-29 03:40] timabbott opened #734 "Add support for changing users' email addresses"
Currently, there's no UI for changing users' email addresses.  While there is a management command, it's a messy process because the Zulip caching system is not designed to handle email address changes well.  So most of the work for this task will be structural work on the caching system and how certain data is transmitted, and then of course there will be a bit of work on the UI as well.

[2016-04-29 03:48] timabbott opened #735 "Build an outgoing webhook system for integrations"
Incoming webhooks have been a great model for making it easy to add new integrations sending messages into Zulip.  For applications to receive messages from Zulip, it'd be great to have an outgoing webhook system where a user can trigger events being sent to third party services from Zulip through some reasonable syntax.

https://api.slack.com/outgoing-webhooks is a reference on how Slack does thi

[2016-04-29 04:05] timabbott commented on #404
I believe this may have been resolved by making sure an appropriate version of `npm` is installed.

[2016-04-29 04:05] #404 closed

[2016-04-29 18:11] timabbott opened #736 "Add easy mouse mechanism for marking a stream as read"
Currently, the easiest way to mark everything in a stream as read is to click on the stream and then hit the "end" hotkey.  It'd be nice to have an easy mechanism for doing this via the mouse.

The best proposal I've heard is to add a "mark all as read" button on the little menu to the right of the stream/topic labels.  This would be a good starter project for someone new; ping the thread if you'r

[2016-04-29 18:48] timabbott commented on #132
So thanks to great work by @umairwaheed, we now have translations working in Zulip in a branch, which we should be able to merge soon.

I want a bit of feedback on the translations integration since I only speak English -- do we need to have some sort of UI for users to set the language they want to use in the Zulip UI, or are folks used to setting the language in their browser?

[2016-04-29 18:49] timabbott commented on #132
And if so, where in the product do you think is the best place to put the UI for picking a language?

[2016-04-29 21:00] phansen01 commented on #736
@timabbott I'd like to give it a try this weekend, I could maybe take a look at #666 as well.

[2016-04-29 21:02] timabbott commented on #736
Sounds great!

[2016-04-29 21:04] timabbott commented on #736
The relevant HTML for that popover is in a handlebars template under static/templates; you'll likely want to add the JS code in static/js/unread.js; and you'll likely want to use the `/json/messages/flags` API endpoint or a new variant of it; probably with a new argument to mark everything in a stream or stream_topic as read (you'll want to do that logic in the backend, because all messages on the

[2016-04-29 22:01] kernicPanel commented on #735
Some thoughts about this.
I think there's no real functional differences between outgoing webhooks and slash commands.
In slack they only differ on their UI/UX implementation. Outgoing webhooks are regular messages send to another server. Slash commands populates an autocomplete list which I find more usable.
In the end, the data send are barely identical or could be.

I think the whole point here

[2016-04-29 22:03] #360 closed

[2016-04-29 22:06] timabbott commented on #360
Just as a quick update for those following this thead, I merged a fix for this bug into master just now.  Enjoy!

[2016-04-30 08:33] kernicPanel commented on #735
Sorry, re-reading my previous post and slack doc, point me to errors.

There is a main diff between outgoing webhooks and slash commands.

OW can use a regular user's message to trigger something.
SC only triggers something and allows delayed responses.
SC also add a possibility to offer admin commands to users, like /join /leave /invite etc.

Both are useful, but I keep believing that extended SC

[2016-04-30 18:56] phansen01 commented on #736
I might be misreading your original comment, but would an option in the popover menu of each topic/stream to mark all as read be what you're looking for? like so:

<img width="325" alt="screen shot 2016-04-30 at 1 48 02 pm" src="https://cloud.githubusercontent.com/assets/12517033/14937899/3ae513a6-0eda-11e6-87c3-b29013b4d09d.png">

Also, since the `mark_messages_as_read` already exists in  unread.

[2016-05-01 02:56] timabbott commented on #736
Cool, yeah that looks great from a UI perspective.

For getting all message associated with a stream/topic, we don't have a mechanism that does that right now (since we haven't had this feature).  As I mentioned before, I think the right way to do this is to actually just pass the stream (or stream+topic) to the backend and have it compute which messages to mark as read, because the frontend may n

[2016-05-02 00:35] kartikmaji opened #740 "Narrowing to non existing Stream"
When user narrows to any stream using search box. It gives subscribed streams as suggestion in a dropdown which works fine. But, if user narrows to a non existing stream say ABC. It doesn't show any error message. User may think it as a simple empty stream which he/she isn't subscribed to.
![screenshot from 2016-05-02 06 03 44](https://cloud.githubusercontent.com/assets/6594924/14945293/c8d689c2-1

[2016-05-02 12:22] jmandel opened #741 "Messages arriving out of order"
I've had a report from a user running the windows client to post to https://chat.fhir.org/ that messages sometimes have appeared out of order. That is, he sent "a", then "b", but the log shows "b" then "a". Is this a known issue? Do clients (or servers) attempt to defend against it (or should they)?

Apologies if this is a known issue (I saw https://github.com/zulip/zulip/issues/385 with some rela

[2016-05-02 12:27] jmandel commented on #741
I should add that our `/var/log/zulip/errors.log` shows sporadic messages like:

[code]

but our rabbitmq status appears to be "up for two weeks":

[code]

[2016-05-02 17:16] timabbott commented on #741
Definitely not a known issue.  The ordering issue is almost certainly caused by the server-side error you're getting connecting to RabbitMQ; here's the code that emits it:

[code]

Reconnecting to RabbitMQ can take O(1s), which is enough latency to cause messages sent in close succession to be processed by the server in a different order than the user submitted them to the server in.  There's prob

[2016-05-02 17:53] timabbott commented on #740
Yeah, that's definitely a bug -- would be good to provide a "stream does not exist" sort of error message.

[2016-05-02 18:14] timabbott opened #742 "Realm emoji should be uploaded like avatars"
Zulip's realm emoji should be stored like avatars, rather than just being a link to an image; with the current implementation, there's risk that the emoji will stop working if the upstream host removes the file or changes their URL scheme.

[2016-05-02 20:51] phansen01 commented on #736
Thanks for the help -- I got things working how you suggested. In zerver/views/messages.py:`update_message_flags` I added a field `stream_name` which I pass to `do_update_message_flags`.  (I should update zerver/management/commands/bankrupt_users.py as well to reflect this)

As far as I can tell this behaves correctly (I was able to mark messages from a stream that I hadn't opened as read), but be

[2016-05-02 22:46] brainwane opened #743 "Add user documentation on stream/topic best practices"
Per #675:

This is also the sort of thing that would work well as a tip sent to new users about a month after they join Zulip.

[2016-05-02 23:01] brainwane commented on #671
@timabbott I've been looking at the [RtD FAQ](https://read-the-docs.readthedocs.io/en/latest/faq.html#can-i-document-a-python-package-that-is-not-at-the-root-of-my-repository) and [StackOverflow](https://stackoverflow.com/questions/31553427/how-to-set-up-multiple-sphinx-documents-in-one-project-in-readthedocs) and am not 100% sure how easy it is to configure ReadTheDocs to access stuff from multip

[2016-05-03 00:27] timabbott commented on #736
Yep that looks sane.  It'd be great if you could add a test for this feature in UnreadCountTests as well.

[2016-05-03 00:33] timabbott commented on #722
I guess https://github.com/zulip/zulip/pull/744 has the production test suite under 10 minutes, so this is no longer a burning issue, but I think it's worth keeping this open since I think there's benefit in further optimization until the runtime of this process is similar to that of the other test suites.

[2016-05-03 00:34] timabbott commented on #671
What if we symlinked the files into `docs/` to help RtD find them?

[2016-05-03 04:37] timabbott commented on #712
I've determined that we can't use Travis CI's caching functionality, because Zulip installation currently requires `sudo` access.  Travis CI's caching support doesn't work with the "legacy" infrastructure that supports `sudo`; their container-based infrastructure that does support caching doesn't support sudo.

So we're probably stuck on this one until Travis CI improves their system.

[2016-05-03 09:02] anteq commented on #177
[Taiga's new release 2.1.0](
https://github.com/taigaio/taiga-back/blob/master/CHANGELOG.md) introduced new webhooks' payload format, which causes our integration not to work... I will try to update the code in the next few days to work properly again.
@timabbott how should I handle the versioning of this? Should I try to create a single integration that will be able to handle both old and new ver

[2016-05-03 14:28] reyman opened #746 "Nginx proxy configuration for zulip ?"
Hi,
I'm actually using the jwilder/nginx-proxy docker image with @galexrt image of Zulip.

Zulip image works correctly alone, and my problem is linked with the way that zulip or nginx proxy manage the https. As you can see i have an `ERR_CONNECTION_REFUSED` for https://team.comnmodel.org

Issue is already referenced on @galexrt repo https://github.com/galexrt/docker-zulip/issues/63#issuecomment-21

[2016-05-03 17:10] timabbott commented on #177
Cool, sounds good.  I think probably the ideal user experience would be to have a single integration on the server-side handle both versions, since then users don't need to think about what version of Taiga they're using.  I'd try to make the code clear (at least in comments or something) as to which parts of the code will be able to remove once old versions of Taiga have reached end-of-life.

[2016-05-03 17:37] christi3k opened #747 "Improve Windows dev environment setup instructions in README.dev.md"
Add specific and clear instructions for how to setup Zulip dev environment via Vagrant method on Windows 10.

Address any issues mentioned in #655, #37.

[2016-05-03 17:44] timabbott commented on #747
Tagged with `documentation` label

[2016-05-03 17:48] christi3k opened #748 "Improve OS X dev environment setup instructions in README.dev.md"
Add specific and clear instructions for how to setup Zulip dev environment via Vagrant method on OS X El Capitan.

[2016-05-03 18:20] timabbott commented on #746
I think this is something where you're going to need to debug systematically, by connecting directly to the different layers of the proxying system to figure out which piece isn't doing its job.  Since you're getting connection refused, I think you can just try using `curl` to point at the various steps in the networking layers to find where the first one that doesn't work is.  @galexrt may be abl

[2016-05-03 18:28] jmandel commented on #741
Thanks @timabbott  -- we've added the logging statement you suggested, and I'll share when we trigger something.

[2016-05-03 18:34] christi3k opened #750 "virtualbox guest additions for ubuntu/trusty64 not updated for VirtualBox 5.x"
The current release version of VirtualBox is 5.x.
The version of virtualbox guest additions configured for vagrantbox ubuntu/trusty64 is 4.3.x.

Zulip dev still runs when this is the case, but shared folders aren't synchronized except on vagrant up/reload. This makes development a cumbersome process.

Possible solutions:
- Modify vagrantfile to update virtualbox guest additions as needed, uninstal

[2016-05-03 20:47] corykitchens commented on #740
I am interested in becoming a contributor. I can begin researching this bug right away if there are no current assignees.

[2016-05-03 20:51] timabbott commented on #740
@corykitchens cool!  This one I think @krtkmj is working on (see #749) but I'd love to help you find a good project -- shoot me an email with what you're interested in?

[2016-05-03 21:55] jmandel commented on #741
OK, I can report the following @timabbott

Looks like we're being hit by https://github.com/pika/pika/issues/435 (indeed we've got pika 0.9.13, andd  the fix didn't land 'til 0.9.14).

[code]

I've got:

[code]

[2016-05-03 21:57] timabbott commented on #712
Amazingly, Travis CI announced support for caching in this case literally today, so I've now deployed caching of the virtualenv and phantomjs, shaving about 2 minutes off of the testing time.

From profiling, in the frontend/backend suites, the expensive parts that could be added by caching are:
* Installing npm (20s)
* Running `npm install` (25s)

After those, I don't think there's anything else

[2016-05-03 22:03] timabbott commented on #741
Ahh, interesting.  We're using 0.9.14 in development (see `requirements.txt`) so this is a mismatch from that.  Looking at https://launchpad.net/ubuntu/+source/python-pika, you're running what's standard with Ubuntu Trusty.  I think probably the right fix for this is to just backport pika 0.9.14 from wily to trusty.

[2016-05-03 22:11] jmandel commented on #741
Fair enough, given that Trusty is what the docs recommend for production. (Naive question: why not rely on pip to install these in prod?)

[2016-05-03 22:18] timabbott commented on #741
Mostly history.  pip was insecure through mid-2014 (didn't use HTTP and then didn't check SSL cert validity), so we didn't use it then.  And it's work to migrate.  I've actually been working towards the infrastructure we'd need to support that reasonably in production via modifying the development environment to use a virtualenv keyed by a hash of the requirements.txt: https://github.com/zulip/zul

[2016-05-03 22:50] timabbott commented on #741
@jmandel can you try installing
https://launchpad.net/~tabbott/+archive/ubuntu/zulip-testing/+files/python-pika_0.9.14-1~zulip1_all.deb
and see if it fixes the errors for you?

[2016-05-03 22:54] jmandel commented on #741
Installed the package and restarted zulip.

BTW, it occurs to me there is likely a better thing to do than `supervisorctl  restart all` ...?

[2016-05-03 22:56] timabbott commented on #741
There's `scripts/restart-server` which basically does in a somewhat smarter way to minimize user-facing downtime :).  But really we need to either fix or get off `supervisord`; it's about 10x slower than it should be (all the restart time is supervisord overhead).

[2016-05-04 01:27] timabbott commented on #750
Interesting, that's definitely not optimal.  It seems like that Vagrant plugin is probably the simplest and most maintainable approach here; if I understand it correctly, that way folks can use whatever version of Virtualbox they happen to have on their machine, right?

[2016-05-04 09:23] reyman commented on #746
Thanks for answer, i see that with @galexrt for `curl` manipulation, i'm not expert :)

[2016-05-04 17:24] jmandel commented on #741
OK: now we see the following instead, in `errors.log`:

[code]

[2016-05-04 17:43] christi3k commented on #655
It is not well-documented, but Virtualbox does support creating symlinks when the host OS is Windows, though it is not enabled by default.

Additionally, the default security policy for Windows is that only Administrators can create symlinks, so you'll need to change that policy or run vagrant as an administrator.

I was able to solve this issue on Windows 10 by:

- adding this code to Vagrantfile

[2016-05-04 18:03] timabbott commented on #741
I think the issue is this: https://github.com/pika/pika/issues/397.  Basically the BlockingConnection we're using to do publishing to rabbitmq via pika regressed around 0.9.13 to tell rabbitmq it would be sending keepalive message, but it doesn't send them.

Looking more carefully, it appears we're actually running pika 0.9.12 in zulip.com production, where we have never seen this issue (I did not

[2016-05-04 18:48] christi3k commented on #750
Correction: A mismatch between VirtualBox version and guest additions version doesn't necessarily break shared folders.

I mistakenly thought so because I'd modified the synced folder setting to use rsync while troubleshooting #655. Shared folders don't automatically update when using rsync, you have to run `vagrant rsync` or `vagrant rsync-auto`.

For me it's working on Windows 10 with VirtualBox

[2016-05-04 19:38] TomaszKolek commented on #709
@timabbott
I'm working on it.

First question:
Because huge number of webhooks we should think about kind of configuration like a list of checkboxes.
A user could check what kind of notifies he'd like to see. Maybe after checking boxes we could generate url on trello integration page.

What do you think?

[2016-05-04 19:50] jmandel commented on #741
OK. Well to start I've kept 0.9.14 installed (from your .deb) and updated `zerver/lib/queue.py` with:

[code]

Will report on what happens.

[2016-05-04 20:20] timabbott commented on #709
Yeah, I think we'll definitely want to build a configuration interface for webhooks that supports that kind of thing on a per-webhook basis.

Let's discuss on https://github.com/zulip/zulip/issues/692, since I think this will end up being an involved discussion about the overall integrations UI...

[2016-05-04 21:04] timabbott commented on #692
@TomaszKolek points in #709 out that we will likely end up needing to provide configuration pages for some more complicated bots to provide a reasonable UI for users to set the various settings involved with more complex webhook integrations.

I think to do this well we should start with adding support for a new type of bot user that only can send messages to webhooks.  Here's a proposal for how t

[2016-05-04 21:31] jmandel commented on #741
No dice -- still seeing the same errors with this change (but let me know @timabbott if this wasn't the actual change you were proposing).

[2016-05-04 21:34] timabbott commented on #741
http://pika.readthedocs.io/en/0.10.0/version_history.html suggests that setting that to 0 disabling heartbeats was only added in some later version of `pika`.

So I think we need to upgrade to 0.10.0 and then add that setting.

[2016-05-04 21:34] timabbott commented on #741
I guess I'll work on backporting 0.10.0 and see if it works with Zulip (might have some API changes we need to deal with...)

[2016-05-04 21:36] timabbott commented on #741
seems to at least work in development.  Will build a package.

[2016-05-04 21:36] jmandel commented on #741
I just did a pip install

[2016-05-04 21:38] jmandel commented on #741
Happy to take your build instead though if that provides a more reliable test :-)

[2016-05-04 21:39] timabbott commented on #741
That should be a fine test.  We can test the build later.

[2016-05-05 09:51] MarkCupitt opened #752 "Support for disabling private messages"
We have had Zulip running for some time and we love it, however, we are developing a serious problem with Group PM's and Private Messages

We noticed our productivity dropping a little bit, so a bit of sleuthing showed that we had a large number of Group Pm's going and a huge number of Private Messages, which circumvents teh whole point of Team communication via Group Messages ..

We work in a cul

[2016-05-05 12:59] jmandel commented on #741
This seems to do the trick (so far at least).

[2016-05-05 13:01] jmandel opened #753 "AttributeError: 'SocketConnection' object has no attribute 'client_id'"
In the chat.fhir.org logs, I'm seeing the following 1-2 times per day on average:

[code]

Haven't debugged but would be happy to investigate if you have suggestions on how to proceed.

[2016-05-05 13:12] jmandel opened #754 "Changing a realm's domain"
Several months ago we migrated our Zulip zerver from "fhir.me" to "chat.fhir.org". We'd like the realm to match the current domain, but it's currently "fhir.me":

[code]

Is it safe just to update the name and save it? Should bot email address work with the new domain, or would we have to migrate them?

The kinds of issues we're hoping to improve are places in the UI where the old realm still appe

[2016-05-05 18:01] jmandel commented on #753
I see I have

    ii  python-sockjs-to 1.0.0-1       all           server side counterpart of SockJS-cli

vs [1.0.1 in zulip's requirements.txt](https://github.com/zulip/zulip/blob/2adf6d822ff1799cbba81f6288c7aedf188a1af7/requirements.txt#L57) -- but I [don't see a `client_id`](https://github.com/mrjoes/sockjs-tornado/search?utf8=%E2%9C%93&q=client_id) in the sockjs-tornado project anywhere.

[2016-05-05 18:08] timabbott commented on #753
`client_id` is an attribute that we add to objects inside zerver/lib/socket.py:
[code]

[2016-05-05 18:11] timabbott commented on #753
And the line of code throwing the exception is error handling code for the case where a message arrives on an already closed socket.  So something a bit funny is going on but that exception is probably not the actual problem.  Would probably eliminate this case by adding `self.client_id = None` to the SocketConnection constructor.

[2016-05-05 18:15] jmandel commented on #753
OK, will add this assignment to the constructor.

[2016-05-05 18:28] timabbott commented on #741
OK, cool.  We need to upgrade to Pika 0.10.0 for Python 3 support anyway, so I'll work on upgrading the across the board.  Thanks for the debugging help @jmandel!

[2016-05-05 18:47] umairwaheed commented on #726
@timabbott working on this now

[2016-05-05 21:50] timabbott commented on #753
Cool.  Definitely still interested in the actual error that's causing this -- that code path shouldn't be being run, but 4219a6779f416ca1a47e74a849dd894758f883c2 is what I'm imagining merging to fix this traceback.

[2016-05-05 21:54] jmandel commented on #753
Great. I've got this change applied and will follow up with updated logs when available.

[2016-05-05 22:30] timabbott commented on #754
So there are two fields involved here:
* realm.name -- user-visible value that's displayed in the title bar and in that "Organization settings" block.  Usually doesn't expect it to be formatted as a domain name, e.g. "Acme" would be a typical value, but maybe the default for new Zulip realms is being the same as the domain?
* realm.domain -- which is used for bot email addresses, the "Users restri

[2016-05-05 22:45] timabbott commented on #752
Interesting.  My experience is that in most teams, (group) private messages make up a significant fraction of communication on Zulip, and it's often about work (e.g. discussing the details of a problem with a colleague), so I'm not sure disabling these features is the right solution, but I also think that's your judgement to make, not mine :).

If you're willing to deploy a hack (not removing the

[2016-05-05 23:49] jmandel commented on #754
Thanks for these detailed instructions, @timabbott! I followed them to apparent success. Two questions left:

1. You indicated there's no UI to change the *domain*, but there should be a ui to change the *name* of a realm. Is this the `input[type=text]` from my screenshot (in the web UI)? That didn't seem to have any effect when I tried there.

2. My old bots are still all `@fhir.me`, which is fin

[2016-05-05 23:52] timabbott commented on #754
1. Yes, the UI in your screenshot should change the name of the realm.  It works for me in a development environment, but I think that section of the admin UI might have been broken in 0.3.10, so if you haven't upgraded to 1.3.11 that might be your problem.

2. Yes, that's expected.  If you want to change the old bots' email addresses, you can, but there are caching issues there too.  #734 is wher

[2016-05-06 00:46] timabbott commented on #750
OK, cool, makes sense!

[2016-05-06 00:56] mrunkel opened #757 "Check that apt pinning isn't preventing the correct versions of dependencies from being installed"
I have just started installing zulip and have run into a snag.

I enabled zproject.backends.GoogleMobileOauth2Backend, added the GOOGLE_OAUTH2_CLIENT_ID and added the secret to the zulip-secrets.conf file.

Now when I run:

[code]
I get the following error:
[code]

[2016-05-06 01:06] timabbott commented on #757
Hmm.  We stopped using Guardian in the 1.3.11 Zulip release, but because of issues around data migrations, we couldn't remove it entirely.  This is probably a bug in our partial removal of django-guardian from being used by the codebase in the 1.3.11 release.  Can you try adding:
`AUTHENTICATION_BACKENDS += ('guardian.backends.ObjectPermissionBackend',)`
just before
`AUTHENTICATION_BACKENDS += ('z

[2016-05-06 01:53] mrunkel commented on #757
I'm assuming you mean for me to edit zproject/settings.py?  that's where I found the reference to ZulipDummyBackend.

Adding that line doesn't change anything.

I should point out that I've only enabled the GoogleMobileOauth2 backend, is that valid?

If I didn't want to do single sign on for now, is it possible to just use local user accounts and then come back later and enable Google Oauth?

[2016-05-06 03:02] timabbott commented on #757
Yep, that's what I meant, sorry I left out that part of the instruction.

Yes, enabling only the GoogleMobileOauth2 backend is valid, and yes, it's possible to enable google auth later.

But I'm pretty sure think the failure you're getting has nothing to do with auth backends.  I'll try reproducing now.

[2016-05-06 03:10] MarkCupitt commented on #752
Tim, I agree, with your sentiments and I am sure there is a percentage that is work and project related, but it appears that these discussions are not shared with the rest of the team, so we end up, apparently, with redundant discussions which does waste a lot of time. (Apart form teh high level of personal discussions)

We are attempting to engender a culture where all discussions are done in str

[2016-05-06 03:14] brainwane commented on #669
Checking with @christi3k to see whether she's planning on doing part of this -- it sounds like maybe we should split this into 2 tasks, since she's working on improving/splitting up/revamping README.dev.md and, separately, [README.prod.md](https://github.com/zulip/zulip/blob/master/README.prod.md) needs to be broken up and reconstituted where it makes sense. @christi3k what do you think?

[2016-05-06 03:24] brainwane opened #758 "Write "how to review code" guide"
Write a guide on how to review code, to help existing contributors become maintainers.

[2016-05-06 03:24] timabbott commented on #752
Makes sense.  I definitely understand the problem -- it's really great when you can get most discussions happening in streams, but it can be somewhat tricky to train users to do so.  Good luck!

[2016-05-06 03:28] timabbott commented on #757
OK I just did a fresh installation, and was unable to reproduce that traceback.

Did you install Zulip following the steps here: https://github.com/zulip/zulip/blob/master/README.prod.md#installing-zulip-in-production or some other process?

Also, what version of python-django-guardian are you running?  It should be this from the Zulip apt repository:
[code]

[2016-05-06 03:32] MarkCupitt commented on #752
It will be an interesting exercise .. One question, is there any documentation about how the messages are structured in the database so I can dry and dig out some useful stats with out a huge effort. I have been poking around . Specifically how to identify Group Pm's, 1-1 Pm's, Streams and users

[2016-05-06 03:37] timabbott commented on #752
https://github.com/zulip/zulip/blob/master/zerver/models.py#L545 has some helpful exposition.

Basically you should be able to do something like this (in `./manage.py shell`):
[code]
to get the totals.  I imagine you'll also want to filter on when the message was sent, which is stored in `pub_date`.

[2016-05-06 04:09] MarkCupitt commented on #752
Thanks heaps Tim ..

[2016-05-06 14:42] mrunkel commented on #757
Ok. This is entirely my fault.  We have a standard puppet deployment which changes the pinning of the standard packages which was causing the OS to ignore most of your packages.

[2016-05-06 20:03] timabbott commented on #757
Reopening this to keep track of the fact we could potentially catch this sort of issue in the future by checking whether the right versions of packages will be installed over `apt`.

[2016-05-07 22:59] christi3k opened #765 "Remove the need to pass 'interface' argument to run-dev.py"

[2016-05-07 23:34] timabbott commented on #741
OK, @jmandel, if you want to try switching to the soon-to-be-official pika 0.10.0 package (from your `pip` installation), that'd be helpful:
https://launchpad.net/~tabbott/+archive/ubuntu/zulip-testing/+files/python-pika_0.10.0-1~zulip2_all.deb

Also it'd be great if you could give https://github.com/zulip/zulip/pull/766 a quick review.

[2016-05-08 03:18] timabbott commented on #598
I have some partial work on verifying the Zulip service is running properly.

[2016-05-08 03:21] timabbott commented on #707
As a first step towards this, I've merged bin/ into scripts.

[2016-05-08 11:10] jmandel commented on #741
The PR looks good to me (matches functionally what I have tested). I'd be glad to try the updated package but I'm hesitant to do so before this Friday, since we're relying pretty heavily on Zulip at the HL7 (healthcare SDO)  working group meeting this week.

[2016-05-08 16:03] #736 closed

[2016-05-09 00:39] timabbott commented on #598
OK, just merged a bunch of new checks as part of the production suite.

While we don't test the `upgrade-zulip` code path, I think that's probably not actually that important to test via CI.

We now do validate enough of the system that I think we'll catch most bugs that would totally break the production environment.  So I'm going to close this issue as resolved, since certainly this has accompli

[2016-05-09 00:39] #598 closed

[2016-05-09 10:48] umairwaheed commented on #726
@timabbott [i18next](https://github.com/i18next/i18next) looks promising.

[2016-05-09 14:00] umairwaheed commented on #726
There is [Babel](http://babel.pocoo.org/en/latest/) as well.

[2016-05-09 15:35] TomaszKolek commented on #617
I'm starting to work on it.

[2016-05-09 16:55] #620 closed

[2016-05-09 17:00] timabbott commented on #620
Fixed via #699, thanks @umairwaheed!

[2016-05-09 17:02] umairwaheed commented on #620
no problem.

[2016-05-09 17:24] #741 closed

[2016-05-09 17:25] timabbott commented on #741
OK -- I've been running this code in production for a few days now without any issues, and did some extra testing this morning, so I'm satisfied that this works.  Thanks @jmandel!

[2016-05-09 17:54] jmandel commented on #741
Awesome -- thank **you** @timabbott

[2016-05-09 23:27] timabbott commented on #726
Cool.  I imagine since Handlebars is a javascript templating system, i18next is more likely to integrate easily, but I haven't looked too closely.  I think it's reasonable to try integrating something like i18next and if it's not working well, try a different tool.

[2016-05-10 02:17] umairwaheed commented on #726
Yes, I agree. Apparently, i18next looks to be taking care of all our requirement out of the box.

[2016-05-10 19:50] brainwane commented on #453
I'm working on this - @timabbott please assign it to me, as I can't seem to assign it to myself. Thanks.

[2016-05-10 19:50] brainwane commented on #668
I'm working on this now.

[2016-05-10 19:51] brainwane commented on #674
I'm working on this task this week.

[2016-05-10 19:55] timabbott commented on #453
GitHub only allows project "members" who have write access to the repo to assign projects (or label issues, etc.).  While I could add you, really I wish GitHub let me allow anyway to assign projects to themselves if they like.

[2016-05-10 21:03] TomaszKolek commented on #724
I'm working on it

[2016-05-11 17:02] souravbadami commented on #59
@timabbott -- Do we have postgresql-9.3-tsearch-extras_0.1.2 for 32 bit system (Deb) ?

[2016-05-11 18:23] TomaszKolek commented on #660
@timabbott
Just leave it as a note. Really needed by re-writing GitHub webhook integration and testing.
http://www.ultrahook.com/

[2016-05-11 19:01] neerajwahi opened #778 "Customize welcome email with Realm-specific information"
The current welcome email begins with "zulip. we love our users" and doesn't provide any Realm specific information other than a link to the /hello endpoint on the local server. It might be nice to provide a description of the realm.

[2016-05-11 20:19] neerajwahi opened #779 "Add search box for 'People to add' in 'Create new stream' flow"
Currently, the 'Create new stream' popup displays a list of all users in the realm with a checkbox next to each name to add the user to the new stream. This is unwieldy for large teams and requires a lot of visual scanning and scrolling.

[2016-05-11 21:48] timabbott commented on #779
great idea.  This is probably pretty easy to do with just frontend work since the data is all there, so tagging this as a bite-size issue.

[2016-05-11 22:58] timabbott commented on #59
We have 0.1.3 built for 32-bit in the Zulip PPA:

https://launchpad.net/~tabbott/+archive/ubuntu/zulip/+files/postgresql-9.3-tsearch-extras_0.1.3_i386.deb

[2016-05-11 22:59] timabbott commented on #59
As a sidenote, I think all the items in this issue have been fixed, so I'm closing this.  If anyone feels something is missing, though, please let me know!

[2016-05-11 22:59] #59 closed

[2016-05-11 23:23] #109 closed

[2016-05-11 23:29] timabbott commented on #778
Yeah, those template deserve a pass of improvements, and probably also some sort of support for customization.  I like the idea of having a realm description that can be included in the basic template for everyone's use; it'd also be good to make this customizable (maybe similar to the approach @acrefoot  has taken with the terms of service).

[2016-05-11 23:39] timabbott commented on #660
Cool, yeah, that does seem useful for developing integrations.  If you want to add a section to the integration writing guide docs on it (and maybe also add a webhook endpoint one can use with Ultrahook to capture payloads to a file for fixtures without using a service like requestb.in), that'd definitely be valuable.

[2016-05-12 00:21] neerajwahi commented on #779
@krtkmj I think this fits in well with your GSOC project

[2016-05-12 04:16] timabbott commented on #660
@TomaszKolek another idea I was thinking we could do on the code side would be to change the webhook decorators to take an argument that's the name of the product being integrated and use that to generate the client name field.  E.g. we could do:

[code]

and we'd just have modified api_key_only_webhook_view to generate the client object using get_client() and the argument it's passed.

This also

[2016-05-12 04:19] #617 closed

[2016-05-12 04:20] timabbott commented on #617
Merged via #768 :)

[2016-05-12 06:31] TomaszKolek commented on #660
@timabbott. Sounds really good. I will try to implement i in separated PR

[2016-05-12 07:17] AcidWeb opened #780 "Digest template is broken"
Traceback (most recent call last):
  File "/home/zulip/deployments/2016-05-11-09-39-39/zerver/worker/queue_processors.py", line 72, in consume_wrapper
    self.consume(data)
  File "/home/zulip/deployments/2016-05-11-09-39-39/zerver/worker/queue_processors.py", line 335, in consume
    handle_digest_email(event["user_profile_id"], event["cutoff"])
  File "/home/zulip/deployments/2016-05-11-09-39-3

[2016-05-12 08:39] WanzyShu commented on #423
Yeah~~~~~~it's fine. ths @timabbott

[2016-05-12 08:39] #423 closed

[2016-05-12 14:05] timabbott commented on #780
@umairwaheed can you investigate?

[2016-05-12 14:27] jmandel commented on #296
In chat.fhir.org we also have some of these use cases. We want an Announcements stream where everyone must subscribe, for community-wide announcements, including the announcement of the creation of new public streams (so that nobody misses a notification when this occurs). (Frankly among our community, the usability of Zulip stream management is low; many users don't know how to list streams and s

[2016-05-12 18:24] umairwaheed commented on #780
@timabbott on it.

[2016-05-12 19:02] umairwaheed commented on #780
@timabbott I have fixed this, just adding a test now.

[2016-05-12 20:12] #780 closed

[2016-05-12 20:13] timabbott commented on #780
Fix merged, thanks for reporting this @AcidWeb!

[2016-05-12 20:24] timabbott opened #783 "Add guide on how to rebase your branch"
We should have in our documentation a guide on how to rebase a branch to update a pull request.  Here's what I'm thinking it should include:
* Either our own docs or a link to good docs on how to do the standard GitHub rebase workflow
* Discussion of how to update your provisioned Zulip development environment properly (ideally this can just be #264)

@brainwane @christi3k @umairwaheed FYI.

[2016-05-12 20:41] timabbott opened #784 "Have automated tests for all backend templates"
Currently, we have automated tests for all the frontend templates (via frontend_tests/node_tests/templates.js), but as we discovered with #780, we don't have automated tests rendering all the backend templates.  It seems like this would be a relatively easy set of tests to add (I think most of the ones we don't have tests for aren't authenticated) and then we could have greater confidence that at

[2016-05-12 20:41] timabbott commented on #784
@umairwaheed would you be interested in taking this project?

[2016-05-12 20:45] #674 closed

[2016-05-12 20:51] TomaszKolek commented on #660
Last thing already implemented #785

[2016-05-12 20:57] timabbott commented on #660
Nice, definitely looks a lot nicer than before!  I posted a couple quick comments.

[2016-05-12 22:04] timabbott commented on #296
Cool, yeah, that makes a lot of sense.  On the front of mandatory streams, I've been thinking about renaming the default announcement stream (used for new stream announcements, etc.) from "zulip" to "announce" for better clarity.  And then it wouldn't be too hard to make an admin-controlled option to not allow users to unsubscribe from a stream, which we'd default enable for the "announce" stream.

[2016-05-12 22:05] timabbott commented on #320
Just as an FYI to the folks on this thread, there's ongoing work on this project here: #769

[2016-05-12 22:07] jmandel commented on #296
+1 to a default stream called "announcements"!

(And BTW I'd you're ever interested to see our domain in use, the community is open and you're welcome to create an account.)

[2016-05-12 22:08] timabbott commented on #454
Just a quick update on this issue, thanks to some great work by @rahuldeve, we now track all new uploaded files in the Attachment model in the database; so this project is now primarily one of building a UI for managing uploads...

[2016-05-12 23:47] timabbott opened #787 "Improve Casper debugging instructions to mention e.g. /tmp/casper1.png is inside inside the Vagrant guest"

[2016-05-13 00:29] timabbott opened #788 "Rename default announcement stream from "zulip" to "announce""

[2016-05-13 00:29] timabbott commented on #296
OK opened that as https://github.com/zulip/zulip/issues/788

[2016-05-13 06:23] umairwaheed commented on #784
@timabbott sure.

[2016-05-13 08:08] grahamegrieve opened #789 "Start up not showing up to date stream"
So I went online after being offline. I went to Zulip, and saw that there was a new message in a topic, so clicked on it. At the same time, Zulip was refreshing after coming back on line. When it started doing this, it went to back to displaying some old version of the stream from weeks ago, with no new message indicator. After 5 secs or so, the new message indicator came back - but the stream did

[2016-05-13 12:12] umairwaheed commented on #783
Sure

When I see a change which needs re-provisioning I just do a rebase with `upstream:master` and then run `vagrant provision` and it works.

[2016-05-13 14:47] jmandel opened #790 "Document what a zulip "realm" is and what it means to have more than one"
I couldn't find an explanation of "realms" in any of the README documents. I understand that when you set up a zulip server there is a default realm, and I know it's possible to add more, but I have no idea what this means.

I'm **inferring** that the use case for realms is essentially multi-tenancy -- i.e. to provide a way for one server to host multiple (effectively separate) chat sites, each wi

[2016-05-13 16:56] grahamegrieve opened #791 "MacOSX can't recover if you enter the wrong domain"
A user entered the wrong domain when first starting zulip. The zulip icon never appears and it's not possible to fix the domain. It appears that the only way to recover is reinstall

[2016-05-13 18:09] lhitc commented on #132
Most people don't even know they can set a language in their browser.
Typically the browser will have their language set automagically, so this should be the initial setting for new users, but they should still be able to change it.
Probably Settings -> Display Settings would be appropriate, since there already is a checkbox for the time format.

[2016-05-13 18:14] christi3k commented on #783
+1 to both of these.

@timabbott Is there a preferred Zulip workflow for rebasing, especially with regard to open pull requests? Does the workflow suggested [here](https://github.com/edx/edx-platform/wiki/How-to-Rebase-a-Pull-Request) sound good for Zulip?

[2016-05-13 19:29] timabbott commented on #660
OK here's another idea @TomaszKolek -- we're starting to have a few helper functions that we've been using in more than one webhook, and I think it's time we put those together in a library.  One idea would be to create it as zerver/lib/webhook.py; I could also see doing zerver/views/webhooks/common.py or even put them in zerver/views/webhooks/__init__.py.

The things I have in mind for moving the

[2016-05-13 19:41] timabbott commented on #790
Yes, a realm is basically an entire organization, and the purpose of having Realm be a thing is to support multi-tenancy (since after all, Zulip was designed as a 100% multi-tenant service).

I don't think this is documented anywhere; in user-facing documentation inside the application, we try to use the word "organization" rather than realm, but we really should have some discussion of this in th

[2016-05-13 19:51] timabbott commented on #783
Yeah, https://github.com/edx/edx-platform/wiki/How-to-Rebase-a-Pull-Request is pretty reasonable as something to link to for the standard GitHub rebase workflow.

And agreed @umairwaheed, I think we should document `vagrant provision` as the thing to do; and then we can work on #264 to make that work better and faster...

[2016-05-13 20:03] jmandel commented on #790
+1 to a concepts page, and link to the relevant entry on the first mention of "realm" in README.prod.md

[2016-05-13 20:47] christi3k opened #792 "Create webhook integration tutorial"
Integrate with https://github.com/zulip/zulip/blob/master/docs/integration-guide.md
Related to #660.
Consider the two styles of how webhook integration are written. Examples:
* zerver/views/webhooks/zendesk.py -- uses Zulip's REQ() framework for extracting arguments from POST data
* zerver/views/webhooks/pagerduty.py -- parses the (JSON) body of the request the into 'payload'

[2016-05-14 05:24] timabbott commented on #791
Agreed that this is a problem!  This is actually an issue with https://github.com/zulip/zulip-desktop; opened https://github.com/zulip/zulip-desktop/issues/47 there to move this to the right project.  Thanks for reporting @grahamegrieve!

[2016-05-14 05:24] #791 closed

[2016-05-14 05:47] timabbott commented on #789
The may be difficult to debug, since it doesn't sound like there's an easy way to reproduce this.

But I think the problem here is a little inconsistency in how Zulip decides where to place to you when you reload or narrow to a stream.  I'm going to do a little writeup on how that works which we can put in the Zulip documentation, since it's actually fairly complicated, should be somewhere in our

[2016-05-14 14:44] brainwane commented on #668
@timabbott The [Project Clearwater folks](http://www.projectclearwater.org/good-documentation-readthedocs-and-markdown/) had a similar situation to ours and have a sort of complicated setup that allows them to write Markdown -- and then every time a Markdown file gets checked in, their CI sees that, uses `pandoc` to generate rST, and checks it in. This is because there is fairly basic stuff, like

[2016-05-14 15:23] brainwane opened #794 "add sphinx_rtd_theme to requirements.txt?"
I tried to build `/docs/` locally using the instructions at http://read-the-docs.readthedocs.io/en/latest/getting_started.html and got `ImportError: No module named sphinx_rtd_theme` (full log below). This is because, in `/docs/conf.py`:

[code]

I installed that, then got a similar error regarding `recommonmark` because I hadn't installed it either.

Where should we tell the user to `pip install

[2016-05-14 16:42] brainwane commented on #453
@timabbott per #16 - is it fair to say that memcached is used for legacy reasons and we're interested in replacing it with Redis throughout?

[2016-05-14 18:32] corykitchens commented on #38
Hello all,

I am currently working on implementing this feature request. Here are some questions / status etc...

@fire what kind of functionality is important to you? How does your team utilize Go? I am unsure what kind of data to be used in the payload for the test fixture.

I will submit a PR once I have the basic functionality working.

[2016-05-14 21:10] brainwane commented on #38
@corykitchens Hi there and thanks for working on this! It might help you to look at [the Zulip-Jenkins integration](https://github.com/zulip/zulip-jenkins-plugin) as a guide - as [this option suggests](https://github.com/zulip/zulip-jenkins-plugin/blob/master/src/main/webapp/help-globalConfig-smartNotify.html), I'm guessing teams would like to use a Zulip integration to be notified when (for insta

[2016-05-14 21:24] timabbott commented on #794
Probably we should just add it to requirements.txt, with a comment that this is only needed for building docs (relevant because I expect we'll be splitting requirements.txt into two files, one used in production and a larger one used just in development.  Right now we just use requirements.txt in development and use apt packages in production, so comments are nice to just help keep track of which

[2016-05-14 21:29] timabbott commented on #668
Yep, that worked!  Thanks for tracking that down @brainwane!

[2016-05-14 21:30] timabbott commented on #668
I guess that didn't fix this overall issue, reopening.

[2016-05-14 23:40] fire commented on #38
I am not using zulip anymore, but it would go along the lines of build notifications and maybe triggering and restarting stages in gocd.

Looking at what the gocd plugin for Jenkin did is good.

There's also api documents at https://api.go.cd/current/

Maybe I could get zulip running again.

[2016-05-15 02:14] brainwane commented on #668
I'm realizing that the improvements @christi3k is making in #748 and #747 will go some distance towards #669, and that resolving #669 will be a big part of the de-duplication that points the way forward for zulip.com/zulip.org deduplication/symlinking as well.

Also: do we have control over zulip.com, in case we'd like to move stuff off zulip.com/hello and zulip.com/features?

So, until those two

[2016-05-15 05:17] timabbott commented on #668
We're hoping to migrate documentation off depending on zulip.com.  Most of the content on zulip.com, aside from zulip.com/integrations, is already on zulip.org (certainly /hellos is now the homepage of zulip.org and /features is now zulip.org/features.html).

Focusing on those areas sounds good.

[2016-05-15 18:11] brainwane commented on #668
It's working fine to symlink the main README.md file into the `docs/` directory, but Sphinx seems to be choking when I try to symlink `/api/README.md` into `docs/` -- maybe something about directory traversal? I'd welcome any hints, in case you've seen this sort of thing before.

[2016-05-15 18:51] timabbott commented on #668
Haven't seen this before, but.  We could put a cp command in the docs
makefile maybe?

-Tim Abbott (mobile)
On May 15, 2016 11:11 AM, "Sumana Harihareswara" <notifications@github.com>
wrote:

[2016-05-15 19:18] brainwane commented on #668
I tried messing with the Makefile for about 10-15 minutes (added `$ cp ../api/README.md api-readme.md` to the `dirhtml` section, tried variations involving `$BUILDDIR`) and wasn't able to get the built HTML to include it. This was my first time trying to fiddle with Makefiles in this way and someone who has worked with them a lot more may have more luck. Leaving it alone for now.

[2016-05-15 21:18] grahamegrieve commented on #789
All that made my head hurt, but yes, "new browser opened to a narrow" - but I din't glean from your write up why I didn't actually get the current content in the narrow

[2016-05-16 01:21] corykitchens commented on #38
PR #798

I've created a pull request to demonstrate the WIP for the Go webhook integration.
I have created fixture data that resembles that of a simple build notification. I have created the view function, ```sh api_gocd_webhook ``` which takes the json object and sends the message to the specified stream. My test,  ```sh test_send_build_status_pass ``` passes with the fixture data.

I do have a f

[2016-05-16 08:43] ChinaVogel opened #799 "bash: /srv/zulip-venv/bin/activate: No such file or directory"
Hello,
I have set up Zulip dev environment according to the description ( If I did not miss anything).

After logging on to the vagrant VM, I have the issue that the activate script can not be found.

[code]
I tried not to use a proxy on my machine, but then I cant start the VM at all (located in China).

i tried to install "vagrant-proxyconf", but also failed:
[code]
(I then tried to install the

[2016-05-16 08:59] ChinaVogel commented on #799
This is the log of "vagrant up" provisioning. I guess it is really a proxy issue?!
[code]

[2016-05-16 14:00] timapril opened #800 "SSO Auth Expiration triggers Basic Auth Popup"
After updating to 1.3.12 (skipping 1.3.11), we noticed that after the SSO auth cookie expires the zulip site will display a HTTP Basic auth popup requesting that users login rather than redirecting to the SSO site as we would expect. Prior to 1.3.11, this popup would happen rarely and sometimes would go away shortly after it appeared but now it does not go away at all.

[2016-05-16 17:00] timabbott commented on #800
Can you take a look at what's in your /etc/nginx/sites-enabled and /etc/apache2/sites-enabled and which file in those has Basic auth enabled?  It could be that comes from not having removed the default basic auth configuration when you added your internal SSO settings to puppet/zulip/files/apache/sites/zulip-sso.example.

[2016-05-16 17:32] timabbott commented on #799
Yeah that looks like a proxy issue.  See https://github.com/zulip/zulip/blob/master/README.dev.md#specifying-a-proxy for instructions on how to do proxy setup properly with the Zulip Vagrant environment...

[2016-05-16 17:42] timabbott commented on #664
This was resolved in #584.

[2016-05-16 17:42] #664 closed

[2016-05-16 17:59] timabbott commented on #660
Another idea that I think would be good here is designing an abstraction that can cut the duplicated code we have in all of our webhook tests.

E.g. the 3 lines here for each tests are very self-similar: https://github.com/zulip/zulip/blob/master/zerver/tests/test_hooks.py#L1267

And then the functions at the top of each test class are also often the same:
https://github.com/zulip/zulip/blob/maste

[2016-05-16 18:08] timabbott commented on #38
1. I would call it Go.cd --- "Go" is I think somewhat ambiguous (e.g. there's a programming language by the same name).

2. We've been adding to static/images/integrations/ the logos of the products being integrated with.

[2016-05-16 18:37] TomaszKolek commented on #660
@timabbott
I thought about it as well.
I think in this class we should create an abstract property like a stream, an email etc.
Make common setUp and one simple test method.

Sounds ok?

[2016-05-16 18:48] timabbott commented on #660
Yeah something like that sounds good!

[2016-05-16 19:30] timapril commented on #800
I don't see basic auth turned on anywhere in either directory. After quickly skimming the code, my best guess of where this might be triggered is here: [response.py line 11](https://github.com/zulip/zulip/blob/2adf6d822ff1799cbba81f6288c7aedf188a1af7/zerver/lib/response.py#L11)

[2016-05-17 00:37] ChinaVogel commented on #799
I've tried at home without any proxy (But with the great Firewall) . And I was able to move on a lot. But now it seems it cannot install zulip within the VM. Please have a look at the attached log. (Too big to paste in here I guess)
[zulip console 1.txt](https://github.com/zulip/zulip/files/267181/zulip.console.1.txt)

[2016-05-17 01:46] timabbott commented on #799
It looks like you're still having issues reaching the network -- in this
case `apt` and `pip` are failing due to network errors...
​

[2016-05-17 13:11] sharmaeklavya2 opened #804 "Docs should mention which files need not be type annotated"
I think we should mention it in our docs which files need not be type annotated. For e.g., we probably don't need to type annotate our migrations. We might also not want to type annotate third party code.

I want to make such a list of files, but I'm not sure exactly which files should make it to that list. It will be helpful if we could discuss that here.

Such a list would be helpful to make sur

[2016-05-17 19:04] timabbott commented on #800
OK, yeah, I think that code should be in a conditional for when a server is using basic auth (used only for testing of the REMOTE_USER SSO support); you should be able to safely comment out that line in your installation and I can work on adding the appropriate conditional to get rid of this.

Thanks for the bug report!

[2016-05-17 19:21] #794 closed

[2016-05-17 19:28] timabbott commented on #717
I'm increasingly thinking we should go with the virtualenv approach; it minimizes the extra work involved with managing our upgrades.

[2016-05-17 19:29] timabbott commented on #256
@sharmaeklavya2 I've been thinking a lot about how to push forward the Python 3 project.  One of the big things we're going to need to do for that project is upgrade a lot of the Zulip dependencies to newer versions that support Python 3.  Currently, projects to do this get stuck, because we package the Zulip dependencies differently in production vs. in development.  In development, we use requir

[2016-05-17 19:35] timabbott commented on #717
I think the things involved in that process will be:
* Factoring out the code we recently added to provision.py to manage installing venvs into its own module so that it can be imported by both provision.py and the production scripts
* Add code to scripts/setup/install and scripts/upgrade (the production install/upgrade scripts) to install the relevant virtualenvs
* Modify the code for running Zul

[2016-05-17 19:40] timabbott commented on #804
Sounds good!

I think it's valuable to be able to run the type-checker on the entire codebase without throwing errors, but I agree we probably don't want to fully annotate third-party code (since it'll just lead to a ton of merge conflicts).  We don't have a lot of third-party code checked in, though -- the main things I can think of that would be annoying are api/integrations/perforce/git_p4.py

[2016-05-17 19:47] timabbott commented on #453
There are some technical challenges involved with finishing #16, so I think I'd just say we use memcached for caching.  We can update the docs later if we're able to make redis provide the same functionality in a way we're happy with.

[2016-05-17 23:07] timabbott commented on #789
Yeah, sorry for the wall of text!  Because I wanted to get down the story we should put in our developer documentation (so we can later put it there), this definitely was a lot more detail than is relevant for this issue :)

Do you primarily read messages by clicking between the narrowed views in the left sidebar?  If so, it could be that you hadn't advanced your home view pointer for a few weeks

[2016-05-17 23:15] timabbott commented on #132
Cool.  @umairwaheed what do you think about adding an option to explicitly set the language in "Display settings"?

[2016-05-17 23:16] grahamegrieve commented on #789
well, I read zulip obsessively so it's never more than the time I'm asleep
or offline ;-) Certainly not a few weeks - in this case, max a few hours

Grahame

On Wed, May 18, 2016 at 9:07 AM, Tim Abbott <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2016-05-17 23:18] timabbott commented on #789
OK.  In think probably the short-term useful thing to do on this ticket is to add some logging that would allow us to debug what happened the next time this happens.  I'm going on vacation for 2 weeks on Friday so probably won't happen immediately...

[2016-05-17 23:27] grahamegrieve commented on #789
mark when the logging is done on this task, and I'll test it out

Grahame

On Wed, May 18, 2016 at 9:18 AM, Tim Abbott <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2016-05-18 00:03] sharmaeklavya2 commented on #256
Yeah I think virtualenv model would be better for production.

[2016-05-18 00:45] timabbott commented on #668
What if we put the real file under docs/ and made the root README.md a symlink to that -- would GitHub still display it?  If so, that would surely work...

[2016-05-18 01:47] timabbott commented on #800
#805 is I think the correct fix for this issue; I'll merge that once I find time to test it / add automated tests.

[2016-05-18 06:56] umairwaheed commented on #132
@timabbott, that would work great.

[2016-05-18 14:46] qk4l opened #806 "Retreiving API Keys fails when authed through LDAP?"
Copied from https://groups.google.com/forum/#!topic/zulip-help/r2wMd-4kidI

    Hello,

    Im logged in/authed as an LDAP user.

    Under my Settings,
    "Please re-enter your password to confirm your identity. (Forgotten it?)"

    I enter my password and hit "Get API Key",
    Browser reports "Error getting API key: Your username or password is incorrect."

    Server logs says
    ==> server

[2016-05-18 14:57] qk4l commented on #806
I think this is a bug --  json_fetch_api_key in zerver/view/__init__ is using `user_profile.check_password` rather than `authenticate()` to verify that you're logged in.

    If you're up for it, can you try switching that function to use authenticate() and seeing if it fixes this issue for you?  You'll want to pass I think

    authenticate(username=user_profile.email, password=password)

    Eit

[2016-05-18 21:54] timabbott commented on #806
Try adding this patch:
[code]

[2016-05-18 22:05] timabbott commented on #806
Created https://github.com/zulip/zulip/pull/809 for this and the other patch.

[2016-05-18 23:07] timabbott commented on #732
If someone wants to work on this, I'd generate a coverage report, look at the HTML version generated in "htmlcov", and start with adding tests to get any of the smaller files under zerver/views to have automated tests.  zerver/tests/test_unread.py and zerver/tests/test_subs.py are good files to look at for similar tests to borrow techniques from.

[2016-05-19 01:54] #691 closed

[2016-05-19 01:55] timabbott commented on #691
@dwrpayne FYI an implementation for this feature was merged recently.

[2016-05-19 02:15] timabbott commented on #132
Cool.  Seems like a good follow-up project.  For now, this is being merged very soon:

![image](https://cloud.githubusercontent.com/assets/2746074/15380611/c672a504-1d2c-11e6-9cca-daec90c2d65f.png)

[2016-05-19 02:33] timabbott opened #810 "Add Transifex integration"
I just noticed Transifex (the translation platform we use for Zulip) supports webhooks.

It'd be great to have an integration with Transifex to notify when new translations are added.

http://docs.transifex.com/integrations/webhook/

[2016-05-19 03:08] #273 closed

[2016-05-19 03:08] timabbott commented on #273
@kamalmarhubi FYI we just merged a fix for this!

[2016-05-19 09:29] qk4l commented on #806
Yes this patch resolved the problem. Thank you!

Please add it to #809

[2016-05-19 15:39] timabbott commented on #132
Initial translation support in the UI was merged via #607.  There's more work to be done to support translating frontend templates (actually this one @umairwaheed has a branch that may be basically done) and error messages, so I'll leave this open until we have those resolved as well, but this is awesome progress!

[2016-05-19 15:51] timabbott commented on #132
I just uploaded the strings from the frontend templates from #775 to Transifex, which had previously been missing from the translatable strings database.

The end result is that now the languages that were previously at 100% are at 63% (apologies to those of you who awesomely got German, Chinese, and Russian to 100%!).  I think it's probably the right strategy for folks to focus on the "django.po"

[2016-05-19 16:06] timabbott commented on #806
Cool, thanks for testing!  It's actually already part of #809, so I think we're good; I'll probably merge #809 in a couple weeks once I have a chance to write some tests to prevent this from regressing in the future (but if you're excited to push this forward, contribution of some tests is welcome!)

[2016-05-19 19:08] phansen01 commented on #783
maybe it's worth adding a note for using `git reset --soft HEAD~<num>`  for short/simple commit histories   -- it's a bit less cumbersome than interactive rebase (and a lot of people aren't aware it's an option!)

[2016-05-20 03:02] timabbott commented on #783
Yeah thought!

[2016-05-20 06:11] #726 closed

[2016-05-20 06:32] umairwaheed commented on #784
Working on this now

[2016-05-23 21:22] TomaszKolek commented on #810
@timabbott
Probably done in #821

[2016-05-24 03:20] sharmaeklavya2 opened #822 "Tighten exclude rules support in tools/lint-all"
If not tabs, at least we should check for mixed indentation.

Currently (f3e25c6), [lines 697 and 698 in zproject/settings.py](https://github.com/zulip/zulip/blob/f3e25c68c7da5724187befd63bafb00aa62daeab/zproject/settings.py#L697) have mixed indentation.

[2016-05-24 13:14] TomaszKolek commented on #822
@sharmaeklavya2
That's probably because `zproject/settgis.py` is in `exclude list`
I'll create a PR with fixing it.

But we definitely should think about a solution.
@timabbott Maybe we should create more than 1 exclude list, specific for test?

[2016-05-24 13:17] TomaszKolek commented on #618
@Vallher
How it's going?

[2016-05-24 17:06] sharmaeklavya2 commented on #822
Checkers using `custom_check_file` have their own exclude list.

[2016-05-24 18:39] sharmaeklavya2 opened #829 "Remove unneeded dependencies from requirements.txt"
I think some items in our requirements.txt are not needed, for e.g. wsgiref and argparse are part of the standard library since python 2.6 and 2.7 respectively. South is now part of django so maybe we can also remove south, though I'm not sure.

Since I'm not very familiar with the components used by Zulip, I don't quite know which dependencies are no longer needed. We can discuss this here. Devel

[2016-05-24 20:14] TomaszKolek commented on #822
`custom_check_file` has passed  as an argument file (path to file) and a set of rules. I don't see own exclude list. Could you clarify what did you mean? It's likely I didn't get it ;-)

[2016-05-24 20:55] timabbott commented on #822
See e.g. the second item in `whitespace_rules`.

[2016-05-24 20:57] timabbott commented on #829
We can definitely remove south and the things that are part of Python from 2.7 onwards.

zope.interfact may be a recursive dependency of something else; since we're doing the `pip install` with `--no-deps`, we should be able to test that.

[2016-05-24 22:42] corykitchens commented on #38
All,

Just wanted to give you an update on this issue.

-I have changed my code to reflect @timabbott 's suggestions based on the pullrequest #789
-I've spent the past week getting a deeper understanding of the Go.cd application in order to better support the needs of the users
- As I continue to work on this, I will be flying out to Portland to attend the PyCon conference. I'll have further updat

[2016-05-24 23:32] brainwane commented on #38
@corykitchens [See you at the PyCon sprints](https://us.pycon.org/2016/community/sprints/), I hope!

[2016-05-25 12:42] umairwaheed commented on #727
@timabbott working on this now

[2016-05-25 22:16] esander91 opened #835 "Editing messages to include "/me" does not render correctly, even after reload"
Creating a message (which does not start with "/me"), then editing it to start with "/me", does not render correctly, even after refreshing the page.

Possibly related to #163?

[2016-05-25 22:24] esander91 opened #836 ""(Edited)" note cut off for one-line messages starting with "/me""
When using "/me", the "(Edited)" note appears below the message rather than next to the person's name. For single-line messages with "/me", this note appears partly outside the message box. This does not occur if the message is longer than a single line.

To reproduce: Create a message with "/me", then edit and reload the page. "(Edited)" will appear partly outside the message box, and submitting

[2016-05-26 09:59] umairwaheed commented on #264
@timabbott, we don't get the error now and as far as the software which is installed is concerned it looks idempotent as well. The only problem I see is that some work can be avoided when we re-provision e.g. the virtual environments are recreated from scratch, we can avoid that.

[2016-05-26 10:14] umairwaheed commented on #708
@timabbott working on this now.

[2016-05-26 10:41] umairwaheed commented on #708
BTW, we want to move to `tools/setup/` or `setup/`?

[2016-05-26 10:55] timabbott commented on #264
Yeah, I think it'd be worth adding checks to potentially avoid redoing some of the slower steps (npm install, which we could manage the same way we do `pip install`; phantomjs download, etc.).

[2016-05-26 10:56] timabbott commented on #708
tools/setup.  scripts/ is the scripts that are used in production, tools/ is scripts not used in production, and we already have a scripts/setup for the setup-only scripts used in production, so tools/setup would be the natural thing to do here.

[2016-05-26 10:56] umairwaheed commented on #264
Cool.

[2016-05-26 10:56] umairwaheed commented on #708
Got it.

[2016-05-26 10:57] timabbott commented on #708
(Part of the motivation is that some of the development environment scripts are dangerous to run in production since they might e.g. delete the entire database without prompting; so we don't include them in the production tarball at all by excluding tools/)

[2016-05-26 10:58] umairwaheed commented on #708
ok

[2016-05-26 11:07] timabbott commented on #835
Hmm, yeah, this is related to #163 but likely a different bug.  #226 may fix this if someone wants to fix that up to be ready to merge...

[2016-05-26 13:55] #708 closed

[2016-05-26 20:32] krtkmj commented on #779
@neerajwahi Working on this.

[2016-05-27 12:29] umairwaheed commented on #264
Working on this now.

[2016-05-27 13:12] TomaszKolek opened #839 "Giphy - social & fun integration"
What do you think about adding (somehow) possibility to display gifs?
I did not do research so I only know whats possible from giphy site.

I'd like to know the community's opinion.

[2016-05-28 23:30] hackerkid opened #843 "Casper tests in 11-admin.js fails randomly"
[code]

[2016-05-28 23:36] timabbott commented on #843
This is likely caused by not waiting for the right selector before running
that check, if you want to try to debug

-Tim Abbott (mobile)
On May 28, 2016 19:31, "Vishnu Ks" <notifications@github.com> wrote:

[2016-05-29 01:32] timabbott commented on #836
Cool, thanks for reporting this!  This is probably an OK project for someone new to the Zulip codebase for someone with frontend experience; #163 is relevant.

[2016-05-29 10:38] timabbott commented on #843
Tagging this as a priority bug because nondeterministic test failures carry a significant cost for the project/

[2016-05-29 11:32] sharmaeklavya2 commented on #843
I have also seen this many times.

[2016-05-29 11:49] timabbott commented on #843
@blablacio do you have time to take a look at this test issue?

[2016-05-30 21:35] TomaszKolek commented on #836
@timabbott I will take it.
Maybe it will be good reason to learn CSS  ;-)

[2016-05-30 22:16] TomaszKolek commented on #836
@timabbott:
Could you explain me expected result?

[2016-05-31 03:21] timabbott commented on #822
Retitled this ticket to be about tightening the exclude rules in lint-all.  In this case, settings.py intentionally fails the pyflakes rule for importing * (since that's how we implement importing /etc/zulip/settings.py, basically), but it shouldn't fail any of the custom rules.  We do support having specific exclude lists for custom rules, but we don't for pyflakes rules, so the right approach fo

[2016-05-31 12:42] #784 closed

[2016-05-31 12:53] timabbott commented on #618
@TomaszKolek I think you can probably pick this one up since we haven't heard from @Vallher in a week...

[2016-05-31 12:54] timabbott commented on #618
(@Vallher, if you do have any partial progress on this, it'd be great if you could post it so others don't need to the duplicate the work you've done so far)

[2016-05-31 13:37] timabbott commented on #836
The expected result should be that the `(Edited)` note appears somewhere reasonable.  I think the reasonable solutions are to move the EDITED to:

(1) Just after the end of the message
(2) On a new line just before the content of the message

I think (1) might look the best, so I'd recommend we try that and see if it works out well.

[2016-05-31 13:57] umairwaheed commented on #712
@timabbott working on this now.

[2016-05-31 14:41] #727 closed

[2016-05-31 14:48] #747 closed

[2016-05-31 14:48] #748 closed

[2016-05-31 15:28] timabbott commented on #163
This was fixed in #848, but #835 and #836 are still open.

[2016-05-31 15:29] #163 closed

[2016-05-31 17:06] krtkmj commented on #158
@neerajwahi What do you think of this issue? I think this fits well and will be good to include in my project.

[2016-05-31 17:58] #668 closed

[2016-05-31 18:24] timabbott commented on #610
@hackerkid it looks like we're almost done with cleaning these up -- let me know know if you need any help with this!

[2016-05-31 21:55] #799 closed

[2016-06-01 09:14] ChinaVogel commented on #799
I was not able to solve the network issue. I do believe it is not a zulip problem.

(In the end I was not able to use zulip)

[2016-06-01 13:36] pwrmiller opened #852 "Zulip does not support multiple LDAP backends"
Current implementation for ZulipLDAPAuthBackendBase and ZulipLDAPAuthBackend preclude the use of multiple LDAP backends with Zulip (e.g. https://pythonhosted.org/django-auth-ldap/multiconfig.html).

Is there any way to support multiple LDAP backends with Zulip, or can backends.py easily be modified to allow multiple LDAP backends?

[2016-06-01 16:06] neerajwahi commented on #158
@krtkmj this looks like it might be a good fit for your GSOC project but I'd put it at a lower priority relative to your existing tasks. Add it to the end of your timeline in case there's time left at the end of the summer

[2016-06-01 16:58] timabbott commented on #839
I think this would be a reasonable integration to add; it's definitely in the category of 2-way integrations (since one needs a way to notify Giphy), so it's something to think about when designing our solution(s) in the general space of #735

[2016-06-01 17:00] timabbott opened #853 "Warn users when using `@all` or `@everyone` to mention many users"
When @-mentioning more than N users (maybe about 10 is right here?) with @-all or @-everyone, we should provide a prompt in the compose box checking that user really wants to get the attention of all that many people.  The data is all in place to do that since we fade the users who will be receiving the message in the right-side buddy list, so this should I think be a fairly manageable feature.

[2016-06-02 17:23] timabbott opened #860 "Add version number for Zulip to the repository and maybe display in UI somewhere"
Currently the Zulip version number is only present in the changelog.

It'd be great to have in some computer-readable place in the codebase, and additionally, we should probably have a way to see it in the UI (maybe at the bottom of the /#settings page or gear menu?).

[2016-06-02 17:26] rachelkelly opened #861 "Change "invite coworkers to this Zulip" to something more appropriate"

[2016-06-02 17:58] timabbott commented on #861
Yeah, it'd be great to change this to something like "Invite users to this Zulip organization"

[2016-06-02 18:16] pacopablo opened #863 "Production install isn't meant to be re-run"
At the end of the production install, /root/zulip is moved and a symlink is put in it's place.

If the install is then run again, the install fails due to symlink recursion.

While this likely isn't a common case, it should be handled differently, even if it's just a documentation update.

[2016-06-02 18:48] timabbott opened #864 "Add `service supervisord start` somewhere in production install process"
Apparently on at least some systems this isn't started automatically when installed via `apt`.

[2016-06-02 21:46] pacopablo commented on #194
I had this problem installing zulip as well.  The `ERL_EPMD_ADDRESS=::ffff:127.0.0.1` solution worked for me.  I don't know about the need for the rest as I was installing on a machine that was previously used for a Zulip install.

[2016-06-02 23:06] #861 closed

[2016-06-03 00:25] jdherg opened #872 "Improving allowing new users to skip welcome tutorial."
As Zulip proliferates, the likelihood that a user who is new to a realm isn't new to Zulip increases. It would be nice if those users could skip the welcome tutorial.

[2016-06-03 01:00] timabbott commented on #872
Yeah, currently you can hold down the enter key, but I think the easiest solution here would be to add a "skip" button in the first tutorial prompt.  The code is all in static/js/tutorial.js, and I bet this would be a quick project for a new developer to Zulip who is familiar with javascript, so I've tagged this as bite-size.

[2016-06-03 05:14] timabbott commented on #863
I think the script works being rerun, except for the last bit where we rejigger things to make /root/zulip a symlink.  I think it's possible we should just not create the /root/zulip symlink in the first place (need to investigate a bit more); alternatively, we could make the block that works with symlinks at the end of the script a bit smarter to fix this directly.

[2016-06-03 05:33] #264 closed

[2016-06-03 06:50] timabbott opened #877 "Auto-detect `--interface=''` for tools/run-dev.py in vagrant"
The `--interface=''` option to run-dev.py causes run-dev.py to listen to to requests from other hosts, not just localhost.  This would be a security issue for a development environment running directly on a laptop, but is necessary for the Vagrant development environment to work (and not a security issue there, since the Vagrant environment is already firewalled to only be reachable from the user'

[2016-06-03 06:53] timabbott opened #878 "Running casper tests while run-dev.py is running doesn't work"
The failure mode is hanging at "Logging in" in 00-login.js, and this seems to be easily reproducible.

This is a recent regression (this used to work) and would be great to debug.

[2016-06-03 06:55] timabbott commented on #878
So the way this is supposed to work is that the casper tests call `run-dev.py --test`, which is supposed to use a totally independent set of ports/interfaces/etc. from the normal `run-dev.py`.  I suspect we regressed this behavior somehow recently (possibly in 98d5f64f365e6c7008190a8ed88d59392ed35d1c).

[2016-06-03 11:33] umairwaheed commented on #538
@timabbott working on this now.

[2016-06-03 13:01] umairwaheed commented on #538
On which version of OSX does this occur? I am on Mavericks and it works.

[2016-06-03 14:25] timabbott commented on #538
This is a server-side issue, trying to send a push notification from the Zulip server to apple's servers -- and so I think the relevant platform is Ubuntu Trusty (since that's what the Zulip server runs on)

[2016-06-03 15:06] timabbott opened #879 "Add "writing backend tests" section to Zulip testing guide"
Here's what this should cover:
* How to write a test case for your code, with a link to Django's docs on its test system (and python unit testing in general!).  Probably also discussion of things like self.client, useful self.assert* methods, setUp and tearDown methods (documented by Django, but often useful!), etc.
* Discussion of how to run just your test using test-backend so you can iterate qu

[2016-06-03 15:06] timabbott opened #880 "Write a guide on how to write Zulip view code"
This should document:
* zproject/urls.py (with a pointer to Django docs on urls.py plus notes on v1_api_and_json_views since that's kinda confusing) and how to construct REST API endpoints correctly in Zulip (e.g. "PUT" to create a thing, "DELETE" to delete a thing, "PATCH" to edit a thing, GET to get things, and POST for anything else).
* our auth decorators (mostly rest_dispatch), with discussio

[2016-06-03 17:22] timabbott opened #882 "tools/lint-all should check if the user is running inside Vagrant and give a clear error"
This would help a lot for newcomers to learn they need to run our tests and linters inside the virtualenv.

[2016-06-03 17:30] florean opened #883 "The tutorial causes multiple notification permission panels in Safari."
**SUMMARY**
After a user walks through the tutorial, they will be presented with Safari's Notification Center permission panel once for every step in the tutorial (currently five).

**EXPECTED BEHAVIOR**
The user should only see the permission panel once.

**REPRO**
For a server you have never logged in to before:
- Login to a new account to enable the tutorial.
- Click through the tutorial.
- Saf

[2016-06-03 18:30] rwbarton opened #886 "realms with both email auth and google auth require setting a password when registering"
At least zulip.tabbott.net had that issue (I had to set a password when registering with google auth, though I don't need to enter the password to sign in). Is it intentional? Maybe has to do with both email and google auth backends being enabled, but that's just a guess.

[2016-06-03 18:33] gregmccoy commented on #872
I'll work on this

[2016-06-03 18:39] timabbott commented on #886
This seems like a bug in the logic for which fields to show in which pages of the login code path.

[2016-06-03 18:54] #453 closed

[2016-06-03 20:05] gregmccoy commented on #734
I'll try doing this

[2016-06-03 20:46] gregmccoy opened #889 "Adding a Photo after a exclamation mark causes it not to render"
`testing![screenshot.png](/user_uploads/1/6e/D1XIAUtVwwjF3RgrkywBLpzF/screenshot.png)`

shows up as text. Adding a space after the exclamation mark fixes this. Maybe we can simply insert a space after before the image string to fix this.

[2016-06-03 23:23] cpdean opened #896 "problem with client_id in socket connection registry"
I went to annotate some types, but some of the types already there seem to disagree with one another.

this registry dict wants keys to be ints
https://github.com/cpdean/zulip/blob/b985a630bdd93326f32398f63c2ef7e6aeeb4992/zerver/lib/socket.py#L46

this function deletes connections from the dict:
https://github.com/cpdean/zulip/blob/b985a630bdd93326f32398f63c2ef7e6aeeb4992/zerver/lib/socket.py#L61

[2016-06-03 23:53] cpdean commented on #896
maybe the type should be `Dict[Union[int, str], SocketConnection` ? ;)

[2016-06-04 00:05] timabbott commented on #896
Yeah that's reasonable to write for now, I think

[2016-06-04 00:25] brainwane opened #900 "Add components to architectural overview"
Copied from [Tim's comment](https://github.com/zulip/zulip/pull/795#issuecomment-219894642): things we should mention in the architectural overview (`docs/architecture-overview.rst`):

[2016-06-04 00:35] cpdean commented on #896
oh i was kinda trollin but i can do that

[2016-06-04 01:02] brainwane commented on #669
@christi3k Now that #668 is closed -- what do you think? I think that, for consistency and ease of discovery, we should move README.dev.md and README.prod.md onto Read The Docs (so that the only documentation in the git repo's main directory is the main README.md).

[2016-06-04 01:46] timabbott commented on #669
+1 to moving them :)

[2016-06-04 02:25] jdherg opened #903 "Add edit window + associated settings."
Some services that allow users to edit their posted messages do so with a time-limited edit window as a community management tool. It might be useful to allow for this in Zulip.

This would likely require adding a new realm-wide setting (`no editing | unlimited editing | edit window duration`)

[2016-06-04 02:33] timabbott commented on #903
Sounds like a great idea for a new feature.  I'm tagging this with bite-size since I think most of the work is adding a new realm setting, which is well-documented in http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html, so this should be a great project for a new contributor.  `update_message_backend` in zerver/views/messages.py is where we should do the check for this setting.

[2016-06-04 05:56] timabbott commented on #889
Yep, this is a duplicate of #387.  I have an open pull request to fix this in https://github.com/zulip/zulip/pull/390 that needs a bit of work, if you're interested in picking this up...

[2016-06-04 05:56] #889 closed

[2016-06-04 14:40] Jianchun1 opened #906 "translations not work in several places"
Translations not work in several places:
1) hello page:
![image](https://cloud.githubusercontent.com/assets/19701659/15800153/b83174f4-2aa4-11e6-919c-7ba2ff9e3f78.png)

2) Android and IPhone tabs in apps page:
![image](https://cloud.githubusercontent.com/assets/19701659/15800178/eb7f7306-2aa4-11e6-9f28-e7029409c68a.png)

3) all strings in the resource "translationsjson"

[2016-06-04 18:09] brainwane opened #908 "Make it easy to import from Slack"
We'll increase Zulip adoption if we make it easy for people to import their communities from other popular group chat services, such as Slack.

Slack [supports exports of a team's message history](https://get.slack.help/hc/en-us/articles/201658943-Exporting-your-team-s-Slack-history); a "Compliance Export" [includes](https://get.slack.help/hc/en-us/articles/204897248-Understanding-Slack-data-expor

[2016-06-04 19:04] brainwane commented on #177
Is this separate from the integration already mentioned at https://zulip.com/integrations/#taiga ?

[2016-06-04 19:08] brainwane commented on #33
There's now [a fairly comprehensive guide on how to write a Zulip integration](https://zulip.readthedocs.io/en/latest/integration-guide.html), in case anyone wants to pick this up.

[2016-06-04 19:16] timabbott commented on #177
Nope, we just forgot to close this when #663 was merged.

[2016-06-04 19:16] #177 closed

[2016-06-04 19:19] brainwane commented on #561
In general I'd like for there to be better calendar integration; cleaning up the current `gcal-bot` code (per [the integration writing guide](https://zulip.readthedocs.io/en/latest/integration-guide.html) so it doesn't depend on the user running the code on their local machine, and so the integration can go into `api/integrations/`, would be great.

I'd also like more general calendar integration

[2016-06-04 19:40] brainwane commented on #724
@sils1297 is interested in helping by working on this with https://pypi.python.org/pypi/IGitt -- a generalized interface to Git repositories/services. (This would also include work towards #33.)

[2016-06-04 19:49] sils1297 commented on #724
see https://gitlab.com/gitmate/IGitt/wikis/home for a possible made up usage example

[2016-06-04 19:55] brainwane commented on #33
@sils1297 runs the [IGitt project](https://pypi.python.org/pypi/IGitt) -- a generalized interface to Git repositories/services. If someone else wants to work on [building an iGitt-GitLab interface](https://gitlab.com/gitmate/IGitt/issues/10) (perhaps by improving the [current work-in-progress branch](https://gitlab.com/gitmate/IGitt/merge_requests/14)), he's happy to work with them, review their c

[2016-06-04 21:53] #810 closed

[2016-06-04 21:59] timabbott commented on #906
@umairwaheed can you take a look at part 3 at least?

@Jianchun1 I think for parts 1 and 2, the issue is that the relevant templates (e.g. templates/zerver/api.html) haven't had translation tags added yet.  http://zulip.readthedocs.io/en/latest/translating.html has documentation on how to add translation tags to the templates for strings that are missing them...

[2016-06-04 22:11] timabbott commented on #852
Cool, I didn't know multiple LDAP backends was a common configuration, but it makes sense when I think about it.  I suspect it wouldn't be too hard to do a bit of subclassing in backends.py to support more than one backend; the other option would be to build a solution to #715, which would have the nice side effect of making it easy to support this model as well...

[2016-06-05 00:47] timabbott opened #919 "Add run-dev.py test to Travis CI test suites"
We recently had an issue where the Zulip tests passed but run-dev.py would immediately crash make it into master (fixed in 9c5f15e89b7aae1ae6cf91fc2f2313b4fb36f9f8).  We should add a small test to our CI to do a request against `run-dev.py` in the development server, to confirm run-dev.py is still working.

[2016-06-05 01:11] timabbott opened #921 "Document the fact that slow VMs are great for reproducing flaky tests"
@acrefoot has made the great find that flaky casperjs tests are much easier to reproduce in an underprovisioned VM -- we should document the environment he's been using to reproduce and debug Casper failures in the Casper section of our testing doc.

[2016-06-05 01:17] Jianchun1 commented on #906
@timabbott I've checked "hello.html" and "apps.html". It looks that those strings had been tagged properly, using Jinja2 style:
**templates/zerver/hello.html**
[code]

**templates/zerver/apps.html**
[code]

Do you have any other suggestions?

[2016-06-05 01:36] timabbott commented on #843
Fixed in #920.

[2016-06-05 01:36] #843 closed

[2016-06-05 01:38] brainwane commented on #565
Right now, the top of the Streams list looks like a search box, so I'm fairly sure several people have thought it was a search box and accidentally created duplicate streams. So some kind of fix to that would be cool.

[2016-06-05 01:39] timabbott commented on #906
Ahh, I see, this is because I hadn't run `tx push` recently, which I just did; so I think those strings should now be available for translation.

[2016-06-05 01:40] brainwane opened #922 "Vagrant: put the /srv/zulip stuff into the home directory"
When I did `vagrant ssh` I got confused because I couldn't find the Zulip repository/files. I had to `cd` to `/srv/zulip`. Tim thinks maybe we should just set up the Vagrant installation so that stuff is in the user's homedir and the user doesn't have to look for it.

[2016-06-05 01:40] timabbott commented on #906
(And the JSON errors will be available once #832 is merged)

[2016-06-05 01:43] brainwane opened #923 "Linter: Catch "No module named typing" exception better"
I was trying to follow [the testing guide](https://zulip.readthedocs.io/en/latest/testing.html) and it said: "To run everything, just use `./tools/test-all`." I didn't know what virtualenv and/or Vagrant environment I should have been in (that could be a separate bug against the documentation). Regardless, I got the following error since I hadn't installed the `typing` Python module; Tim suggests

[2016-06-05 01:47] brainwane commented on #790
Some of this is now in the ["Usage Assumptions and Concepts" section of the architecture overview](https://zulip.readthedocs.io/en/latest/architecture-overview.html#usage-assumptions-and-concepts) but there's still a lot that needs drawing out. Some things I find myself explaining:

* single realm per company
* usually, within a company, each team has a set of channels
* often, some people within

[2016-06-05 01:52] timabbott commented on #923
This is already open as #882

[2016-06-05 01:53] timabbott commented on #923
(And there's an open PR, #892, as well)

[2016-06-05 01:53] timabbott commented on #922
Thanks for remembering to put this in the bug tracker!  I definitely want to make this happen :)

[2016-06-05 01:54] timabbott commented on #923
I like this description better, so closing #882 as duplicate.

[2016-06-05 01:54] #882 closed

[2016-06-05 04:45] MarkCupitt commented on #752
Hi tim, some updates on this ..

(I just finished upgrading zulip - note on this the script apt-get update upgraded postgresql which upgrade the con file and broke the zulip upgrade. I had to reset the listening addresses in postgresql.conf and manually change the zulip password in zulip-secrets and in postgres to get it working. Not exactly sure WHY this happened, though, I thought postgres updat

[2016-06-05 05:05] timabbott commented on #752
Cool, thanks for the update and stats!

I'd love to get more detail (maybe in another issue) on the Zulip upgrade issues -- I'm sure other folks have similar configuration needs to you folks, and it'd be great to have your configuration be well-supported by the Zulip upgrade process.

[2016-06-05 05:30] MarkCupitt commented on #752
Will do on the upgrade issues .. I am trying to build the tarsal, but I think I need a full dev environment for it. I figured out I needed nam .. but I guess there is more .. Im trying to steal this in so I don't run out of time ..

[2016-06-05 05:31] Jianchun1 opened #930 "PM with non-existing users"
When composing a pm to non-existing user, it can be sent without any tip. Is that right?
Then it will give auto-completion when writing the non-existing user in "You and" text-box:
![image](https://cloud.githubusercontent.com/assets/19701659/15803781/5f87876c-2b21-11e6-8300-6cbb49cf3088.png)

[2016-06-05 05:33] timabbott commented on #752
Yeah, unfortunately you need the development environment right now to build a release tarball (basically because it needs dependencies like Django installed in order to build the static assets)

[2016-06-05 05:38] MarkCupitt commented on #752
ok, thanks, will see if I can get time in to do that now

[2016-06-05 06:09] MarkCupitt opened #931 "Upgrading Zulip from Tarball - potential issue with Postgres and Andorid/Mac Apps stop working"
Today, I upgraded Zulip to the latest version and ran into a couple of issues, one of which I resolved and would like to share ..

The Zulip upgrade will conduct an **apt-get upgrade** as part of the process. In our case, we had not done this for some time and a LOT of upgrades were done. (Naughty I know, the point IS made in the installation notes in the upgrade section)

One off the packages upg

[2016-06-05 06:18] timabbott commented on #931
The apt issue should get a lot better when we do #717, since we won't be as reliant on ensuring an apt upgrade happens to avoid potentially breaking the app via apt dependency problems.  We should definitely think more about how we manage the postgres config; I'll do some investigation when I get a chance, but it sounds like that issue isn't urgent for you right now.

I have no idea what would be

[2016-06-05 06:20] timabbott commented on #930
Woah, that's an interesting new bug; I reproduced it just now.  I'll try to get someone to track this down at the PyCon sprints tomorrow.

[2016-06-05 06:32] TomaszKolek opened #932 "Message - cancel editing problem"
During work on another "/me" ticket I found probably a bug:
Steps to reproduce (I didn't check it with other scenarios):
1. Create message like: `/me blahblah`
2. Click edit with the chevron and edit message without save
3. Click cancel.
4. Edit topic using "pencil" icon
5. Save edited topic
6. Be sad ;-(

Content message was edited using edition you made in "chevron edit mode"
@timabbott Could yo

[2016-06-05 06:50] timabbott commented on #883
Thanks for the super detailed bug report @florean!  I think we can probably simultaneously work around this and improve the user experience by deferring the "allow notifications" popup until after the user has finished the tutorial (it's kinda confusing that it pops up when it does already).

While we're at it, we probably want to make the browser popup be triggered from a message that's part of t

[2016-06-05 12:27] jmandel commented on #790
This is very helpful @brainwane! Could you clarify the statement that "A server can host multiple Zulip realms (organizations) at the same domain"? Does" domain" here mean that all the realms are hosted at the same Web URL?, or are you using a zulip-specific sense of "domain"?

[2016-06-05 12:55] Jianchun1 commented on #906
Now the part 1 is ok, part 2 is still English. It confuses me, because I'm sure the two parts had been translated before.

And JSON errors translation done in Transifex.

[2016-06-05 14:07] MarkCupitt commented on #931
Thanks, yes we have a running instance web accessible .. so no urgency at all

Re the Applications ..

On OSX, (Mac)  I tried deleting
~/Library/Cache/com.Zulip.zulip and
/users/xxxxx/Library/Application Support/Zulip/Zulip Desktop/LocalStorage

with no luck

on Android, I removed the app cache and app data in application settings with no luck as well. The app will start but refuses to login,

I s

[2016-06-05 14:13] MarkCupitt commented on #931
I also ran into this problem using Chrome

When you visited https://xxxxx previously at some point it not only visited this over a secure channel (https rather than http), it also told your browser, using a special HTTP header: Strict-Transport-Security (often abbreviated to HSTS), that it should ONLY use https for all future visits.

This is a security feature web servers can use to prevent peopl

[2016-06-05 14:41] MarkCupitt commented on #931
So I have established that the Mac Application can talk to zulip.com but not to our server, so it is server specific for sure..

[2016-06-05 14:46] timabbott commented on #790
It means it's possible to host multiple realms at the same web URL, e.g. www.zulip.com hosts more than one, and it figures out which realm the user is trying to login to based on email addresses being unique.

We're probably going to add support for using the same email address in multiple realms, which will be an adjustment to that model; haven't decided yet exactly what form that change will tak

[2016-06-05 14:52] jmandel commented on #790
OK -- and to clarify further: is it *not* currently possible to host two
realms at separate web URLs (e.g. "firstdomain.example.com" and "
seconddomain.example.com"), using the same zulip server, such that the user
"alice@example.com" can sign in with just one e-mail address but see one
realm vs. the other based on which URL she visits?

On Sun, Jun 5, 2016 at 10:46 AM, Tim Abbott <notifications@g

[2016-06-05 15:03] timabbott commented on #790
No, but that's very much something I'm hoping we can add soon.

[2016-06-05 15:09] timabbott commented on #930
@hackerkid can you debug this?  The expected behavior is that trying to send to a username that doesn't exist should give an error in the compose box.  I think it's likely that this is somehow a regression introduced by your refactoring to remove global variables, so that's one possibility to check, but it might be easier to debug by just tracing the code.

[2016-06-05 15:10] timabbott opened #933 "Nondeterministic failures in Casper tests"
@acrefoot it seems we have a new one.  See https://travis-ci.org/zulip/zulip/jobs/135360959

[2016-06-05 16:37] netoxico commented on #923
@timabbott I think https://github.com/zulip/zulip/pull/892 is ready to be merged

[2016-06-05 17:11] hackerkid commented on #930
@timabbott I am working on this.

[2016-06-05 17:11] #836 closed

[2016-06-05 17:12] timabbott commented on #836
Fix merged, thanks @esander91 for the report and @TomaszKolek for the fix!

[2016-06-05 17:47] timabbott commented on #787
Also we should move where it's written to something that's exported to the host.  Here's the code
[code]

[2016-06-05 18:42] sharmaeklavya2 opened #936 "Add tools/lint-all in python 3 mode to travis"
pyflakes behaves differently under python 2 and python 3. It is able to catch some python 3 errors which tools/check-py3 cannot. I had made tools/lint-all compatible with python 3 in #833 and it did help find some python 3 errors then. I fixed those as part of #833.

Today (c9bb93b) I again ran tools/lint-all in python 3 and it showed this error:
[code]

This was introduced in 654bd66.

This is in

[2016-06-05 18:49] timabbott commented on #936
@ddfisher any idea apparently your solution to the `upload_re` problem the other day isn't valid Python 3 :(

[2016-06-05 18:49] timabbott commented on #936
(Overall I think running `lint-all` under python 3 sounds like a great improvement)

[2016-06-05 20:54] florean commented on #883
Yeah, I think you're right.  Wait until the user isn't focused on the tutorial.  And an explanation of why notifications are important and what they're used for (and not used for) before the browser permission dialog would be great.  Another thing to consider is that it can happen at any time, not just after the tutorial.  For example, if a user logs in on a different browser for the first time.

[2016-06-06 00:11] hackerkid commented on #930
@timabbott

I switched back to a very old commit fe77559  and tried to reproduce the issue. I was able to reproduce the bug there too.

![screenshot from 2016-06-06 05 28 22](https://cloud.githubusercontent.com/assets/7190633/15809179/8637a3a6-2ba8-11e6-8be7-b2523c8a605e.png)

The code for validating private_messsages is this

[code]

I am not sure whether there exist some other function to valida

[2016-06-06 00:35] brainwane opened #959 "Zulip-Mailman integration"
It would be good to have a Zulip-Mailman integration that could, for instance:

* spout an in-stream notification of new messages in a mailing list
* spout an in-stream notification of new threads being created in a mailing list
* spout an in-stream notification of new messages in a particular mailing list thread
* speak up when a new message had been added to the moderation queue and needed a res

[2016-06-06 08:02] umairwaheed commented on #906
Checking this.

[2016-06-06 09:25] umairwaheed commented on #906
In case of problem number 2, the translation file seems to be fine, the problem is `%%` pattern. `makemessages` escapes `%` sign but then it can't match with the correct string. I just removed one `%` sign in `.po` file and the translation worked. Let me see what I can do.

[2016-06-06 11:54] umairwaheed commented on #906
OK, frontend translations are fixed in #960. I am still working on `%` issue.

[2016-06-06 12:52] umairwaheed commented on #906
Fixed in #960

[2016-06-06 16:34] timabbott commented on #906
@Jianchun1 I merged https://github.com/zulip/zulip/pull/960 which should fix the other problems; let us know if that's not working.

And thanks for the bug report!  I'd love to get all the issues worked out with our internationalization support, so please keep the reports coming!

[2016-06-06 16:35] #906 closed

[2016-06-06 19:40] timabbott commented on #930
Ahh, OK, I think I understand what's happening here, and I think your'e right this is a very old bug.  The issue is an interaction with our local echo feature, where we display the message as soon as the user hits "send", before we've actually checked with the server that it will send successfully.

Here's a proposed way to fix this:
* Add a check in `validate_private_message` that all of the user

[2016-06-06 19:41] timabbott commented on #930
(BTW, thanks for doing that investigation -- it was actually very instructive for me as to the nature of the problem)

[2016-06-06 19:51] timabbott commented on #932
Cool, thanks for the careful bug report!  I can reproduce, and it's definitely a bug.  I think the issue is basically that the `topic_edit` pencil functionality doesn't correctly limit what it saves to just the topic.

@TomaszKolek do you want to take a look at fixing this, since you've been working on the message editing codepath?

[2016-06-06 19:52] timabbott commented on #932
I think fixing this likely involves changing this section of save() in message_edit.js to check whether it was a topic edit or a normal edit...:
[code]

[2016-06-06 19:53] TomaszKolek commented on #932
@timabbott
I'll do it!

[2016-06-06 19:58] timabbott opened #962 "Document the Zulip settings system"
Currently, we don't have a nice document on how to add new server settings to Zulip (and where to put them).  I think it'd be great to add such a doc and then link to it from the top of both zproject/settings.py and zproject/local_settings_template.py.

The basic story for how we do settings that can be controlled with shell access to a Zulip server is to put a default in zproject/settings.py, whi

[2016-06-06 20:26] timabbott commented on #931
Interesting. What error message are you getting when you try to connect to the server with the Mac application?   And does anything show up in the server logs (either /var/log/zulip/*.log or under /var/log/nginx/) when you try to connect with the Mac app?  Certificate issues is a plausible cause of problems but looking at those logs should help determine what's happening.

[2016-06-06 20:28] timabbott commented on #931
Oh, never mind, I missed your last message, this is clearly a certificate issue.  Are you sure you're connecting to https://example.com, not http://example.com?  That could be the issue.  If not, you should make sure that nginx is happy (`nginx -t` is a good way to check) and that you have the certs installed properly with a full combined chain in the places documented in the Zulip installation in

[2016-06-06 20:43] timabbott commented on #923
#892 was merged.

[2016-06-06 20:43] #923 closed

[2016-06-06 20:48] timabbott commented on #883
I think it's definitely possible for a frontend to tell whether notifications have been denied (I'm pretty sure I've seen products display a "you turned off notifications, can you click this?" message).  And https://developer.mozilla.org/en-US/docs/Web/API/Notification/permission seems to confirm you can see if they've been explicitly denied.

[2016-06-06 20:52] timabbott opened #963 "Document process for writing a bot that receives only mentions to it"
It's easy to do: if you adapt api/examples/print-events and change the last line to:

client.call_on_each_event(print_event, event_types=["message"], narrow=[["is", "mentioned"]])

that will have the bot only receive messages that mention it.  But it's not documented anywhere.

I think this belongs somewhere under either http://zulip.readthedocs.io/en/latest/integration-guide.html or /api (maybe b

[2016-06-06 20:59] timabbott opened #964 "Travis CI and Coveralls badges broken on RTD"
http://zulip.readthedocs.io/en/latest/

This is an issue with README.md, which is the root of our GitHub and is the "overview" page in our RTD docs.

While the nice badges work on GitHub, they seem to not work on RTD; I would start with replacing the badges with just using an image tag to include them, and see if that works.

@brainwane FYI since this is I think the only outstanding issue with the

[2016-06-06 21:14] timabbott commented on #959
Does Mailman have a webhook-type API for posting notifications to other services about new messages/moderation/etc?  I think the first 4 ideas in this post would be implemented most reasonably with that sort of system, and I imagine there a lot of other projects that would find a Mailman webhook API useful...

[2016-06-06 21:42] timabbott commented on #872
I merged @gregmccoy's tutorial work, but I think there's two outstanding things we want to do:

* Make possible to use "tab+enter" to skip the tutorial from the keyboard
* Tweak the CSS a bit to make it prettier.  The current thing isn't bad, but given that this is literally users' first interaction with Zulip, we should probably make it really nice :)

![image](https://cloud.githubusercontent.com

[2016-06-06 21:43] timabbott commented on #872
@hackerkid do you want to take a quick look at improving this?

[2016-06-06 21:58] timabbott commented on #296
Just as a quick update, #788 was merged, so the default notifications stream is now called (by default) "announce" (it doesn't work any differently than before, though).

[2016-06-06 22:27] timabbott commented on #132
We've now got the error message strings in Transifex as well, so it should now be possible to translate basically everything user-facing in the Zulip UI (though I'm sure we've missed some things!  Bug reports welcome).  Thanks again to @umairwaheed for some great work on Zulip's translations support.

Chinese is currently in the lead at 100% of strings translated; I'm gearing up to do another Zuli

[2016-06-07 00:21] timabbott commented on #919
If we were to do this, I'd add this as another little script we run inside `tools/travis/backend` after the other tests are done., and how I'm imagining running the test is roughly this:

* start run-dev.py in the background, wait for it to finish booting (there's a few ways I can imagine doing this; maybe the simplest is to parse its log file?)
* Send a request or two (maybe one via the clients u

[2016-06-07 05:15] Jianchun1 commented on #906
yes, I will

[2016-06-07 07:44] acrefoot opened #967 "Update Capser and PhantomJS"
## The problem

When you run the js frontend tests using casper, you'll see: `Unsafe JavaScript attempt to access frame with URL about:blank from frame with URL file:///home/zulip/zulip/frontend_tests/casperjs/bin/bootstrap.js. Domains, protocols and ports must match.`

## Progress

See https://github.com/ariya/phantomjs/issues/12697 for more. But one of the resolution is to upgrade phantomjs from

[2016-06-07 07:48] umairwaheed commented on #919
sure

[2016-06-07 13:39] Jianchun1 opened #969 "translation issues of the "subscribe" button"
In the subscription page, the "subscribe" button text turns to be English when the mouse moves on it, and it keeps untranslated even after the mouse moves away.
![image](https://cloud.githubusercontent.com/assets/19701659/15859574/45ecc2ee-2cf8-11e6-8204-0479384635a0.png)

[2016-06-07 17:04] timabbott commented on #969
@Jianchun1 thanks for the bug report!  It looks like the Zulip code uses e.g. `button.text("Subscribed")` rather than a template to set strings.

@umairwaheed do you want to take a look at fixing this?  It looks like we use `button.text` in about a dozen places, so it may be worth coming up with a generic solution for these.

[code]

[2016-06-07 17:49] Vallher commented on #618
@timabbott
Ok, i'm not able to manage enough time to do it. Feel free to take this issuse. Sorry for problem.

[2016-06-07 19:06] ddfisher commented on #936
That exclusion of raw unicode literals in the PEP doesn't make sense to me.  In Python 3, you can write `r"foo"`, which *is* a raw unicode literal, but you can't write `ur"foo"`.

Anyway, I think we just need to make the typeshed changes we were previously considering.

[2016-06-07 19:41] gvanrossum commented on #936
I will explain the reason in person.

[2016-06-07 19:56] #932 closed

[2016-06-07 20:46] hackerkid opened #971 "back-end tests fails in presence of proxy server"
[code]

[2016-06-07 20:48] timabbott commented on #971
Cool, thanks for reporting this!  We should probably fix this by adding some additional mocking to that test so that it doesn't need Internet access to work (grep for `mock.patch` for some examples of similar things in the Zulip tests).  @hackerkid since you conveniently have a test environment for this, can you try to fix this?

[2016-06-07 20:50] hackerkid commented on #971
@timabbott Yeah sure. I will work on this.

[2016-06-07 21:25] hackerkid commented on #930
@timabbott Yeah. I am working on this.

[2016-06-07 22:31] timabbott opened #972 "Add support for running Zulip under an alternative webroot"
Specifically, we should have clear instructions for how to configure Zulip to run behind a proxy (e.g. https://example.com/zulip/).

See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/zulip-devel/KeLG2mCo0t4/RN2HyMwCBAAJ for discussion on the issue.

If someone's interested in working on this, I would hope most of the work might be done by a standard Django setting...

[2016-06-07 22:41] timabbott opened #973 "Contribute Zulip cache_with_key decorator to Django upstream"
`cache_with_key` in zerver/lib/cache.py is a nice framework for caching the results of a function, which is a common thing to want to do in Django apps.  It'd be nice to contribute it to upstream, with some sane hooking model to support doing things like our statsd logging.

I talked with a Django core team member at Pycon, and he said the right process for this feature would be to just submit a t

[2016-06-07 22:44] timabbott opened #974 "Contribute Zulip's production database/memcached/etc. performance logging framework to Django Upstream"
The accounting that we do in via monkey-patching in zerver/lib/db.py and zerver/lib/cache.py (and the corresponding logging in zerver/middleware.py) is really nice, and would be a great feature to contribute back to Django upstream, since a lot of other projects would likely find it useful as well (probably the most common Django performance issue is to accidentally do database queries in a loop,

[2016-06-07 22:47] timabbott opened #975 "Contribute Zulip's JsonableError framework to Django upstream"
Zulip has this nice JsonableError framework (defined in zerver/lib/request.py plus zerver/middleware.py) that can turn an exception thrown inside Zulip into a nice user-facing error message for all of our JSON routes.  I think this would be a great feature to contribute to Django upstream, since it would help a lot of other developers as well.  I talked to a Django core team member at PyCon, and h

[2016-06-07 22:51] timabbott opened #977 "Contribute Zulip's REQ framework to Django upstream"
Zulip has this great @has_request_variables/REQ framework for parsing HTTP requests super conveniently inside function definitions that could likely benefit a lot of other Django projects.  I talked to a Django core team member, and he suggested the best path forward for something like this would be to
(1) First, send an email to django-devel@ about the feature, to build awareness and get ideas fo

[2016-06-07 23:06] hackerkid commented on #930
@timabbott If only some recipients are invalid should the message be send to valid users or just report the error?

[2016-06-07 23:21] timabbott commented on #930
It should report the error; sending to just the valid users is unlikely to be what the user wants

[2016-06-07 23:29] timabbott opened #978 "Add setting to enable any user to add new realm emoji"
Most of the work for this is likely to be following the "new application feature tutorial" (http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html) to add a new administrator setting to control this feature (since some realms will want it to be admin-only) with a unique name like emoji_add_requires_admin (probably can come up with something clearer).

To implement the feature itself, I th

[2016-06-07 23:37] timabbott opened #979 "Write a visual design / frontend style guide for Zulip"
Zulip has a growing set of conventions for how things are done visually, and it'd be good to have these written down in some form (e.g. how we do error messages, how we do realm-specific settings, etc.).  I don't think this needs to be super long as a first version; once we have a thing, we can start adding new things as we go along.

[2016-06-07 23:46] timabbott commented on #969
Relatedly I noticed we also have a few places where we use `placeholder="text"` without translation tags.

@umairwaheed maybe while fixing this we should add some checks in the JS rules for tools/lint-all for `button.text` and `placeholder` usage without translation tags?

[2016-06-08 01:00] timabbott commented on #835
@tomaszkolek if you want to continue fixing all the `/me` related bugs, I think this one is still open.

[2016-06-08 05:43] sharmaeklavya2 commented on #922
We can also just create a symlink in homedir pointing to `/srv/zulip`. Or we can shift zulip to home directory and make a symlink in `/srv/zulip`. We have hardcoded `/srv/zulip` at many places and simply moving it can introduce bugs.

[2016-06-08 06:25] umairwaheed commented on #969
Sure.

[2016-06-08 11:41] Jianchun1 opened #981 "Chinese file name unreadable after uploading into Zulip"
When a file with non-ascii character name uploaded into Zulip, its name becomes unreadable. For example, a file with name "测试文件123.txt“ uploaded:
![image](https://cloud.githubusercontent.com/assets/19701659/15893156/865671aa-2db0-11e6-8971-a36198ea0d35.png)

And the path is like that:
[code]
So, it's not easy to use for me. I guess it might be a common issue for non-Latin language users.

[2016-06-08 13:58] Jianchun1 opened #982 ""Settings" page displayed not in specified language in url"
I specified the language code "zh-cn" in url of "Settings" page as below:
`http://192.168.1.2:9991/zh-cn/#settings`
but it still shows a English UI.

While I enter the page from the setting menu, it has no such problem.

[2016-06-08 16:28] #919 closed

[2016-06-08 17:11] timabbott commented on #981
Hmm, interesting; it's not clear .  The code we use to sanitize unicode works nicely for other UTF-8 unicode, see the tests here that include some Japanese characters: https://github.com/zulip/zulip/blob/master/zerver/tests/test_upload.py#L335

You can test the code we're using in `./manage.py shell` as follows:
[code]

Can you try debugging what's going on here @Jianchun1?  I'm thinking this may

[2016-06-08 17:28] timabbott commented on #982
Hmm, interesting; I see the translation tags in the handlebars templates, but I don't see some of the strings like "Your organization's name" in the translations.json files generated by `manage.py makemessages`.  Any ideas @umairwaheed?

[2016-06-08 17:31] timabbott opened #983 "Go through Zulip's `type: ignore`s and remove any no longer needed"
Probably at this point a substantial portion of Zulip's `type: ignore` comments can be removed, since I think mypy upstream has merged fixes for a bunch of the issues we've had.  It's probably worth taking a look at how many of these we can remove at this point.

I think we might also be able to replace our use of `Generator`s with `Iterable`s, which might make things clearer...

 @sharmaeklavya2

[2016-06-08 18:00] jdherg opened #984 "Keep track of which users added which realm emoji."
With the implementation of #978 , it's probably also useful to have an emoji audit trail of sorts. This could be as simple as adding a field for the user who added an emoji to the RealmEmoji model (and displaying it in the realm emoji settings pane) or might get more involved if we also want to track deletions.

[2016-06-08 18:23] hackerkid commented on #930
@timabbott  By settings.ADMIN_DOMAIN do you mean that the message is valid if the recipients email has the the domain as ADMIN_DOMAIN?

[2016-06-08 18:27] timabbott commented on #930
Yep.

-Tim Abbott (mobile)
On Jun 8, 2016 11:24 AM, "Vishnu Ks" <notifications@github.com> wrote:

[2016-06-08 20:16] timabbott commented on #984
Yeah, this is a good idea.  Should be an easy field to add to the RealmEmoji model.

[2016-06-08 22:10] Jianchun1 commented on #981
yes, utf-8 may not be the default coding for my Chinese Windows OS. I don't
know exactly how Chrome communicates with the OS about the coding, however,
I will try to debug it by following your instructions.
On Jun 9, 2016 1:11 AM, "Tim Abbott" <notifications@github.com> wrote:

[2016-06-09 03:01] staranjeet opened #987 "Error while setting up development environment"
While running `vagrant up`, I am facing an error. The traceback for the error is

[code]

I then ran `vagrant destroy` and commented out the line
[code]
but now the error came at
[code]

I even bypassed and then ran the development server where I am facing many errors, which I think are  due to this.

Can anyone point me out what am I missing?

Os: Ubuntu 14.04

[2016-06-09 05:20] timabbott commented on #987
So, that traceback doesn't show the actual failure that happened in either
download-zxcvbn or build_emoji; can you try running it again and this time,
paste the full output of running the install?

Alternatively, you can try doing `vagrant ssh` to login to the Vagrant
guest and then run the script that failed manually, and see what output you
get.  If you can get the output showing the actual fail

[2016-06-09 06:26] umairwaheed commented on #982
Checking it

[2016-06-09 06:39] staranjeet commented on #987
Full stack trace is [here](http://dpaste.com/3DGHV6P)

[2016-06-09 07:03] umairwaheed commented on #982
@timabbott it seems that "Your organization's name" was missed, it is not marked for translation.

[2016-06-09 10:07] webelcomau commented on #217
I am new to Zulip. I am a developer; I am a coder; not even I want to ONLY see my compositions in Markdown in the year 2016.

Please place this issue at the very top of your issue priority list and resolve it before any other experienced IT new-comers come across Zulip and are left wondering why we need yet another chat system when this one does not even have Markdown preview.

I can't believe tha

[2016-06-09 11:22] umairwaheed commented on #982
so it seems the problem is that the translations are loaded asynchronously while we don't wait for them to load completely.

[2016-06-09 12:40] Jianchun1 commented on #981
@timabbott I added some "print" statements in "sanitize_name" function for debuging:
[code]
Then got the following prints in console:
[code]
It looks that the value has been corrupted before call of "sanitize_name".  I also tried to debug in "manage.py" shell, the function could return right results (If the encoding of terminal is utf-8).

[2016-06-09 12:59] Jianchun1 opened #989 "upload fails when using translations"
I occasionally found that an error was reported when uploading a file to zulip:
![image](https://cloud.githubusercontent.com/assets/19701659/15930220/40a2dcc8-2e84-11e6-929d-cea3bfbd9b36.png)

The issue should be related to the translation url, e.g. zh-cn, because the zulip console said:
[code]

[2016-06-09 14:47] Jianchun1 commented on #969
hi, it has similar problems with the "make admin"/"remove admin" button

[2016-06-09 14:51] pito2901 opened #990 "Add support for running Zulip in production on Ubuntu Xenial"
This issue has been repurposed to be adding support for running Zulip on Ubuntu Xenial in production, since that's what the user was trying to do.

Original post below:

Hi everyone !

I got this when I try to install zulip server :

[code]

Help please ?

[2016-06-09 16:01] rwbarton opened #991 "Type check against stubs for Django"
We currently have no stubs for Django (or other third-party dependencies). That means that mypy treats any Django type like `HttpResponse` as a synonym for `Any`, since it knows nothing at all about it. As a result the type checking done is fairly weak in that it can't detect an error like returning a string from a function declared to return an `HttpResponse`.

Writing stubs for Django would be a

[2016-06-09 16:05] rwbarton commented on #990
Did you unpack the zulip server tarball in `/root/zulip`, as described in step (2) of https://github.com/zulip/zulip/blob/master/README.prod.md?

[2016-06-09 16:07] rwbarton commented on #983
FYI I expect mypy will gain a flag to warn about unnecessary `# type: ignore` comments within the next few weeks (not in the immediately upcoming release, but probably the next one), so you might want to hold off on this for a little while...

[2016-06-09 17:44] timabbott commented on #983
Awesome!  Definitely seems worth waiting for that, then :)

[2016-06-09 17:46] timabbott commented on #991
@sharmaeklavya2 has been working on partial stubs for Django; @sharmaeklavya2 are those based on stubgen or were you writing them from scratch?

[2016-06-09 17:48] sharmaeklavya2 commented on #991
I wrote them from scratch.

[2016-06-09 17:49] timabbott commented on #969
Yep, those are also cases of `button.text`

[2016-06-09 17:50] sharmaeklavya2 commented on #991
The project I made for testing purposes, [poller](https://github.com/sharmaeklavya2/poller), is very simple. I didn't need stubs for all functions and classes (I don't know if that is feasible, some parts of django are very dynamic). That's why I only wrote stubs for things I needed.

[2016-06-09 17:52] timabbott commented on #991
Cool.  I think it would be reasonable to use stubgen on Django 1.8 to get a complete set of Django stubs (but with most things as Anys), and the merge in the stubs you made for `poller` to make things more precise.  What do you think @sharmaeklavya2 ?

[2016-06-09 17:56] staranjeet commented on #987
any help here?

[2016-06-09 17:56] timabbott commented on #982
@umairwaheed can you explain a bit more what you mean?  Would it make sense to move the translations to being loaded more synchronously, or are there other reasonable solutions?

[2016-06-09 17:58] sharmaeklavya2 commented on #991
We can try that. I wrote some stubs with the assumption that they need not run on code other than mine to make things simple. I think some of my stubs are incorrect and might break others' code.

[2016-06-09 18:08] timabbott commented on #217
Hi @webelcomau!  I'm sorry you had a frustrating experience getting started with Zulip's compose box.

While I agree it'd be great to add a preview feature, I think this is less important to most users than many other features we could be focusing on (e.g. the mobile apps).  Zulip's markdown implementation rarely results in formatting different from what users intend (e.g. we don't require unneces

[2016-06-09 18:15] timabbott commented on #987
Sorry for the slow reply; I was sleeping.

It looks like that's a permissions issue.  In particular, code inside your Vagrant guest is unable to write to the `zulip` checkout that you're running Vagrant as.  Perhaps the user you're running Vagrant as doesn't have write access to the `zulip` checkout on your host machine?

[2016-06-09 18:16] rwbarton commented on #991
It's true that incomplete or incorrect stubs will break others' code, so given the difficulty of stubbing all of Django, I'd recommend the first goal be to get stubs that are just usable for Zulip, and not initially plan on sending the stubs upstream to the Django project (I don't know whether they would be interested anyways; Tim, did you have a chance to discuss that with them?)

Stubs from stub

[2016-06-09 18:18] webelcomau commented on #217
II's primitive. Make whatever excuses you like, I should not have to submit something to see what it will end up looking like.

It's also inaccurate and sloppy. It's not cool.

I will make whatever contributions I have to make to FHIR through other channels that don't waste my time and support communication of software engineering better.

Darren Kelly, Webel IT Australia

[2016-06-09 18:18] sharmaeklavya2 commented on #991
I think using stubs from stubgen can give us stubs for a lot of things we don't use, like functions used internally in django. If we only plan to use stubs only for Zulip and not send them upstream, then we'll get too much output from stubgen.

Some stubs might be syntactically correct but not useful for us. For e.g, it will be much simpler to annotate `TextField`, `IntField`, etc. as functions re

[2016-06-09 18:21] timabbott commented on #991
I think probably the simplest approach would be to check in stubgen stubs to the Zulip repo, and we can promote them to upstream for the Django project.

OK.  I think we can start with using stubgen on Django for Zulip, fix whatever errors we find, and then add things incrementally; or if it's easy to make work, I'd certainly be open to adding to Zulip just manual stubs for the things that are imp

[2016-06-09 18:23] timabbott commented on #217
Another feature worth mentioning is that Zulip supports editing messages after you send them, so you can fix typos or formatting mistakes easily.

[2016-06-09 18:44] rwbarton commented on #991
This subject also came up in discussions at PyCon with the PyCharm people. I wasn't really involved (or interested :smile:) in those discussions and I don't think it is a high priority for us internally but eventually we'll have to have some standard solution here. How many versions of Django does zulip support currently?

[2016-06-09 18:49] jdherg opened #992 "Support emoji skin tone modifiers"
Continuing the "catching up to emoji state of the art" series of issues, it would be nice if we supported the skin tone modifiers on emoji they applied to. I haven't done any digging into whether the appropriate assets are available through the same sources where our existing emoji have been made available.

A reasonable syntax is probably :emoji_name::skin-tone-n: for those emoji. If we wanted to

[2016-06-09 18:52] timabbott commented on #991
Zulip only supports Django 1.8, so it's not a problem for Zulip so much as for having stubs in typeshed.

[2016-06-09 19:00] timabbott commented on #989
Yeah, the bug here is definitely that it doesn't just trying to upload to `/json/upload_file`.  I just merged a fix in f9951bb1ca3b629a6c40148157e98e7fc98a144d (and added a linter check to prevent similar issues in the future).  Thanks for the report @Jianchun1!

[2016-06-09 19:00] #989 closed

[2016-06-09 19:03] timabbott commented on #981
Cool, thanks for doing that investigation!  I think to continue debugging this, I would try adding print statements in `upload_message_image_through_web_client` (zerver/lib/uploads.py) and the things it calls (especially `get_file_info`), to see at what point the filename changes.  It may be that there's a way we can detect the locale of the filename...

[2016-06-09 19:19] webelcomau commented on #217
Primitive. The only feature worth 'mentioning' is that you get a Preview tab feature like GitHub or get a live preview mode like Stackoverflow - or like any other software from this century - and that you do it quick smart.

This is my last contribution on this matter; if you can't see that it should have been Feature#1 it simply means you (the Zulip effort) have not done proper requirements engin

[2016-06-09 19:38] timabbott commented on #922
Yeah, that's a great idea.

-Tim Abbott (mobile)
On Jun 7, 2016 10:44 PM, "Eklavya Sharma" <notifications@github.com> wrote:

[2016-06-09 21:50] timabbott opened #993 "Rendering issue with `@all` fixed on reload"
When you send a message containing `@all`, it mentions everyone on the stream, but doesn't color the message red for the sender until the page is reloaded.  This problem doesn't occur using `@**all**` aka what the mention autocomplete likes.

I suspect the issue is caused by the frontend markdown processor (used to echo messages sent by the user quickly) doesn't properly color the message red.

Fi

[2016-06-09 21:55] #853 closed

[2016-06-09 22:26] #665 closed

[2016-06-10 01:00] sharmaeklavya2 opened #995 "Explain str vs text_type in our mypy docs"
We should mention it in our docs that if something can contain non-ascii characters, it should be `text_type`, not `str`.

Apart from that *maybe* we can give semantic details such as declaring that stream names, emails, domain names, etc. should be `text_type`.

We should also mention the importance of keeping this separation (otherwise we'll get `UnicodeDecodeErrors` and this can hamper python 3

[2016-06-10 01:32] timabbott commented on #995
Great idea.  I would definitely give a quick discussion of semantic details, but I'm also in favor of doing something reasonable quickly -- we can always extend the mypy docs again later :)

We should also add a link to https://github.com/python/mypy/blob/master/docs/source/cheat_sheet.rst (which I wrote during PyCon and has not gotten to be pretty good), since that's by far the best reference to

[2016-06-10 01:33] Jianchun1 commented on #981
@timabbott I added those prints, but I got the same printings as above. Furthermore, I tried to inspect the packet containing the request using "Wireshark":
![image 5](https://cloud.githubusercontent.com/assets/19701659/15951766/c26dd410-2eed-11e6-8344-f982b003d898.png)

From the image I think the file name has been decoding wrongly in local client, not in server. Can you tell what I should do nex

[2016-06-10 01:44] timabbott commented on #981
Hmm, I'm not sure.  @rahuldeve has been doing a lot of work recently on the file upload path, do you have any idea what could be wrong here?  Also @umairwaheed as our i18n expert :).

[2016-06-10 05:53] umairwaheed commented on #982
@timabbott we need to make sure that before we render any templates all the translation resources are loaded. It seems that `i18next` doesn't support synchronous loading of resources so we will have to figure out an asynchronous solution.

[2016-06-10 07:20] pito2901 commented on #990
I get this on screen :

`root@zulip:/zulip# ./script/setup/install`

This is it ?

[2016-06-10 10:24] rahuldeve commented on #981
@timabbott I tried uploading the file using the REST API; the url returned by zulip prints properly in the terminal. I also tried tracking the filename as it gets passed around functions and I found that the problem only comes up when I try to upload the file from the browser.

Here is the log from when uploaded from the browser

KՇ�123.txt
KՇ�123.txt
2016-06-10 06:00:45,547 INFO     127.0.0.1

[2016-06-10 15:47] akashnimare opened #996 "New login and register page design suggestions"
I have tried to redesign login and register page.

Login -
![loginfull](https://cloud.githubusercontent.com/assets/2263909/15970050/4e766d52-2f50-11e6-8ffc-bbac1cb11f33.png)

Register -
![registerfull](https://cloud.githubusercontent.com/assets/2263909/15970057/550db86e-2f50-11e6-810b-5819c847aa21.png)

[2016-06-10 17:30] staranjeet commented on #987
Earlier I was running vagrant with user which in non sudo group. Now I have removed the complete installation of vagrant and re-installed it by following the instructions in README.dev.md. Still facing the same error.

[2016-06-10 17:47] timabbott opened #999 "Increase test coverage of zerver/lib/actions.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/lib/actions.py, our main write code path file.  These are broken into a few categories:

Security policy relevant:
- [x] do_deactivate_user(..., _cascade=True)
- [x] `delete_all_deactivated_user_sessions` and some friends
- [ ] recipient_for_emails to is_active=False user
- [x] check_stream_name error cases
-

[2016-06-10 17:53] timabbott commented on #987
What Vagrant provider are you using?   LXC?

[2016-06-10 17:54] staranjeet commented on #987
How can i check that?
On 10-Jun-2016 11:23 PM, "Tim Abbott" <notifications@github.com> wrote:

[2016-06-10 17:57] timabbott commented on #987
If your host machine is Ubuntu, you're probably using LXC.  It should be clear from the start of the `vagrant up` output.

Also, what do you get if you run `ls -ld . *` from the root of your Zulip checkout on your host machine?

[2016-06-10 18:02] staranjeet commented on #987
Using Ubuntu 14.04

The whole directory is owned by me(as a user)
On 10-Jun-2016 11:27 PM, "Tim Abbott" <notifications@github.com> wrote:

[2016-06-10 18:06] timabbott opened #1000 "Increase test coverage of zerver/decorator.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/decorator.py, our common web framework decorators:
- [ ] authenticated_rest_api_view ValueError/KeyError cases
- [ ] Various validate_api_key error conditions (wrong length, nonexisting user email, etc.)
- [ ] rate limiting for webhooks
- [ ] authenticated_api_view with missing API key (can we eliminate legac

[2016-06-10 18:18] timabbott opened #1001 "Enable using RabbitMQ in the Zulip backend unit tests"
As part of #732, I noticed that the largest concentration of code not tested via the Zulip backend test suite is the event system:
- zerver/lib/queue.py
- zerver/lib/event_queue.py
- zerver/lib/handlers.py
- zerver/worker/queue_processors.py

A bit part of the reason for this is that we aren't using RabbitMQ at all int the backend test suite.  One the big barriers to solving this problem is that w

[2016-06-10 18:23] timabbott opened #1002 "Increase test coverage in zerver/views/users.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/views/users.py.  There are only a few significant gaps:

* [x] The create_user API route is untested
* [ ] The request.FILES validation in the code for adding/updating a bot is untested
* [x] The avatar file serving path is untested
* [ ] The reactivate/deactivate/update user backend paths don't have tests fo

[2016-06-10 18:26] timabbott opened #1003 "Increase test coverage in zerver/views/user_settings.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/views/user_settings.py.  There are only a few significant gaps:

* The routes for toggling left_side_userlist and twenty_four_hour_time, and do_change_enter_sends are untested
* The notifications setting change code paths are untested (tests here are probably the right way to address the test coverage for the

[2016-06-10 18:39] timabbott opened #1005 "Increase test coverage of zerver/views/streams.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/views/streams.py.  The main gaps are:

* [x] No backend tests for adding/removing default streams via `update_stream_backend`.
* [x] Missing negative tests for a bunch of error conditions (e.g. passing a too-long or otherwise invalid stream name)
* [x] Trying to create a stream that already exists (I think at

[2016-06-10 18:39] timabbott commented on #1005
@hackerkid do you want to take a look at adding at least the default streams one?  I know we have Casper end-to-end tests for that feature, but the backend tests are a lot better for catching issues in refactoring since they are faster and much easier to debug.

[2016-06-10 18:47] hackerkid commented on #1005
@timabbott Yeah. Sure. Working on this

[2016-06-10 18:48] timabbott commented on #217
One more technical comment on how to add this feature; `GET /messages/render` can be used to render a message using the backend Markdown processor; might be useful when adding this.

[2016-06-10 18:52] timabbott opened #1006 "Increase test coverage in zerver/views/messages.py"
As part of #732, I analyzed which code paths don't currently have test coverage in zerver/views/messages.py.  There are several significant gaps:

Core message code paths:
- [x] Various NarrowBuilder cases; because NarrowBuilder is such an important part of the user experience, I think we should try to get that class to 100% coverage.  A lot of this means adding negative tests for the various BadN