[2022-06-11 02:09] andersk commented on #22229
I’m not sure about that one. If you right click on the broken image and select “Copy image address” (or “Copy image link”), what URL do you get? Does loading that URL in the address bar produce a more useful error page? Does it produce log messages in the [server logs](https://zulip.readthedocs.io/en/stable/production/troubleshooting.html)?

[2022-06-11 02:28] andersk commented on #22229
Also, to clarify, you checked that the image was working on the *new server* running 4.11 (to rule out a problem with the backup + restore)?

[2022-06-11 06:53] manila commented on #21896
@zulipbot claim

[2022-06-11 07:01] manila commented on #21896
PR #21971 is now ready for review

[2022-06-11 12:31] dronmaxman commented on #22229
Yes, I found an error in the nginx log, the required file is not on the server.
[code]

I just made a copy of the original and everything works. Is there some way to update all photos (--force) ?
[code]

I noticed a problem when I first updated zulip from version 2.1.2 to 2.1.5 but did not attach any importance to this.

Everything is working fine now, thanks for the help!!

[2022-06-11 12:31] #22229 closed

[2022-06-11 14:30] ritikBhandari commented on #22136
@alya  do I have to replace every 'Notifications language'  term used in the codebase with 'Language for automated messages and emails'?

[2022-06-11 16:03] ritikBhandari commented on #22169
@zulipbot claim

[2022-06-11 16:46] dronmaxman opened #22237 "Is there any way to create clickable text?"
For example: in Telegram, a bot can send a command marked with a backslash, the user just needs to click on it.

Is there any way to create clickable text
![telegram_bot_example](https://user-images.githubusercontent.com/15871669/173197013-f8db1f6b-ea2b-4ea5-9580-261be79f1e88.gif)
?

[2022-06-11 17:17] ritikBhandari opened #22238 "Zulip desktop app not logging-in a user."
Zulip desktop app is not letting me log in. When I enter my credentials, it logs in literally just for a second and then logs me out again.
Wasn't happening yesterday.

OS used is Ubuntu 20.04.4 LTS(focal).

Web app is behaving the same.

[2022-06-11 19:49] davidpriest opened #22239 "help-docs: Reorganize copy-link-to-X docs"
Help doc "Link to a message or conversation" contains instructions for linking to a stream or topic; the document is linked from the "Reading Messages" subhead. Split help document so that message linking is under "Reading messages" and stream/topic linking is under "Streams & Topics." Macro-ize common content.

[2022-06-11 19:50] davidpriest commented on #22239
@zulipbot claim

[2022-06-11 20:13] ditsuke commented on #21156
update: Had a couple busy months and kind of lost track of things here. Since no one seems to have picked this up since I'll go ahead and deliver the remainder and resolve some conflicts.

@zulipbot claim

[2022-06-11 21:06] terpimost commented on #21913
Sorry that I didn't attach that.
<img width="1854" alt="wide window - 01" src="https://user-images.githubusercontent.com/1903309/173204860-70d14357-f58d-4e9e-8041-3a39a2e8d150.png">

<img width="1854" alt="wide content - 01" src="https://user-images.githubusercontent.com/1903309/173204880-8a838712-682d-4e57-9cc8-495c746958a0.png">

[2022-06-11 21:11] terpimost commented on #21856
The hover is the same on all items (same as in streams topic):
## List items
There are number of left side bar items but they behave similar:
- `border-radius: 4px;`
- In the light theme, hover background is white; in the dark theme hover background is `hsla(0, 0%, 100%, 0.1)`:
<img width="631" alt="image" src="https://user-images.githubusercontent.com/1903309/166160142-8a2a6eaa-215b-4480-ab3e-c48

[2022-06-11 21:15] terpimost commented on #22189
Discussion about it https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20recent.20conversations.20and.20inbox

[2022-06-12 06:16] grantcarthew commented on #22025
We could organize a time. I could give SSH access if needed. I'm in Brisbane Australia. AEST timezone. This is not a big deal though. The system is only used for my kids and their friends. If you guys want to fix it for future upgrades, I'm happy to help. It's a fantastic package, Zulip.

[2022-06-12 13:23] sahil839 commented on #14490
But the user would not be able to subscribe again from the same view (i.e. stream settings overlay) and subscribing through message view (which will be opened from a shared message link) is not the most usual and intutive way of subscribing I think.

[2022-06-12 16:54] nawed2611 commented on #20583
@zulipbot claim

[2022-06-13 09:24] ditsuke commented on #21480
Getting back to things I was working on after a break

@zulipbot assign

[2022-06-13 09:25] ditsuke commented on #21480
Getting back to things I was working on after a break

@zulipbot claim

[2022-06-13 10:49] ritikBhandari commented on #22145
Actually, no. I am working on another issue and have opened a Draft PR for the same. But I can work on this one if you want.

[2022-06-13 11:02] sahil839 commented on #22145
I was asking as if you are not working then I can take this one, should be quick to do.

[2022-06-13 11:18] ritikBhandari commented on #22145
Sure.

[2022-06-13 11:44] juliaBichler01 commented on #18645
@zulipbot claim

[2022-06-13 17:26] flaviozluca opened #22243 "Windows app stalls on startup"
Friends,

Sometimes it stalls on startup, keeps trying to load forever. 5.9.3 desktop app on Win 11.

Video attached.
[stalls.zip](https://github.com/zulip/zulip/files/8893230/stalls.zip)

Thanks.

[2022-06-13 19:43] PIG208 opened #22244 "management: `rename_stream` management command does not work"
`rename_stream` uses the `do_rename_stream` function to rename the stream. However, it accesses a non-existent attribute when calling it.

[code]

To replicate this, run:
[code]
and you should see:
[code]
You might want to look at `zerver/management/commands/rename_stream.py` and `zerver/actions/streams.py`.

The fix should refactor `do_rename_stream` to accept `user_profile: Optional[UserProfile]

[2022-06-13 19:45] PIG208 commented on #22244
@zulipbot add "help wanted" "area: tooling" "bug"

[2022-06-13 20:05] dheerajmandava commented on #22205
hello, I am just newbie in open source and just got an exposure about the organization, and if this is ok and i would like to contribute to this. So far done...
![Screenshot (59)](https://user-images.githubusercontent.com/83438518/173435843-7ba1d14e-0ec8-42f0-8a34-a3dcb20f8031.png)
![Screenshot (63)](https://user-images.githubusercontent.com/83438518/173435850-7963d1a4-b41d-46c4-a487-11ddd1dda558.

[2022-06-13 20:22] alexmv commented on #22244
Looks like this came in during the work to add the message, in 4dcccf32f842eddf0238f5a252ca23c682f69324 / #11197.

[2022-06-13 20:28] alexmv commented on #22244
There's also potentially an argument for removing this management command entirely, since it's been broken for 3.5 years and nobody has noticed, and it's trivial to do via the UI.

[2022-06-14 02:06] dheerajmandava commented on #22205
@zulipbot claim

[2022-06-14 07:22] a1pharooster commented on #21410
@zulipbot  abandon

[2022-06-14 17:20] madrix01 commented on #22189
@zulipbot claim

[2022-06-14 17:26] dheerajmandava commented on #22205
hello @alya i would like to work on this can you assign me? here is the work i have done so far

[2022-06-15 05:59] PhilippWendler commented on #20087
With the recently released Grafana 9.0, the new alerting system has become the default and old installations are migrated. This breaks Zulip notifications. It is possible to [switch back](https://grafana.com/docs/grafana/latest/alerting/migrating-alerts/roll-back/) for now, but in the next Grafana major release the old system will go away. So the Grafana integration of Zulip needs to be upgraded.

[2022-06-15 14:36] leotrs commented on #17008
Would very much love to see progress on this one :)

[2022-06-15 14:42] adambirds commented on #21628
@yuroitaki yes, you will need to refactor the integration if the payload has changed. Which it clear has. Shouldn't be too difficult to fix. Let me know if you need help.

[2022-06-16 19:07] jackbotsplash opened #22255 "Internal Server Error after S3 config"

[2022-06-16 19:12] jackbotsplash commented on #22255
`2022-06-16 18:06:15.965 ERR  [django.request] Internal Server Error: /json/user_uploads
2022-06-16 18:25:33.788 WARN [:9800] Got SIGTERM, shutting down...
2022-06-16 18:26:18.328 ERR  [zerver.middleware.json_error_handler] Traceback (most recent call last):
  File "/srv/zulip-venv-cache/726c7d1d35d9cd61bb4b70e98167a1db7b0c524d/zulip-py3-venv/lib/python3.8/site-packages/django/core/handlers/base.p

[2022-06-17 14:51] om2137 commented on #21410
can i work on this issue if it is open

[2022-06-17 15:15] om2137 commented on #21410
@zulipbot claim

[2022-06-17 17:11] evykassirer commented on #21639
I'm planning to do this soon but also happy to let someone else take it on.

[2022-06-18 09:47] christopherchong94 commented on #21628
@zulipbot claim

[2022-06-18 09:48] yuroitaki commented on #21628
@zulipbot claim

[2022-06-18 10:34] om2137 commented on #21410
is "Change bot info and owner" (org settings) is renamed as "Manage bot" (org settings) ?

[2022-06-19 02:20] asah commented on #17998
@alya @timabbott is this ready for merge?  github is whining at me... thx!

[2022-06-19 16:31] mariosmantzaris commented on #21712
@zulipbot abandon

[2022-06-19 17:43] alexmv commented on #21630
This loos to be a duplicate of #22228.  The issue, identified there, is that Zulip currently skips over `fields` data.

[2022-06-19 17:43] #21630 closed

[2022-06-19 17:50] alexmv commented on #22228
Zulip currently does skip over `fields`, only handling `text` and `accessory` pieces: https://github.com/zulip/zulip/blob/d0c5389d60c7232405d3e01710983f46ab245ff5/zerver/webhooks/slack_incoming/view.py#L76-L87

I pushed #22258 recently, which adds more supported syntax, but still doesn't address `fields`.

The difficulty with the [`fields` of the `section` type](https://api.slack.com/reference/blo

[2022-06-19 19:16] xeruf commented on #22228
Actually, the help popup says you can make tables in Zulip markdown.

[2022-06-19 23:59] Lotiun commented on #22169
@zulipbot claim

[2022-06-20 10:15] brijsiyag opened #22265 "Animation in Loading page."
Three dots on the loading page can be animated for a more appealing appearance.

<img width="317" alt="Screenshot 2022-06-20 at 3 43 07 PM" src="https://user-images.githubusercontent.com/71015892/174580306-fc546693-d9e0-4bcc-a1e8-dd972cdda9f6.png">

[2022-06-20 10:16] ligmitz commented on #18941
@alya Its fine with me if @madrix01 wants to pick up #19327 from where I left since I am busy with some other stuff right now :)

[2022-06-20 16:44] davidpriest commented on #22197
Fixed by #22158

@zulipbot abandon

[2022-06-20 19:57] drrosa commented on #22197
@zulipbot claim

On Mon, Jun 20, 2022, 12:44 PM David C Priest ***@***.***>
wrote:

[2022-06-20 21:21] jai2201 commented on #21617
@zulipbot claim

[2022-06-20 22:51] alexmv commented on #22228
Zulip does support markdown tables, which are an extension to Markdown.  Unfortunately, [Python's Markdown tables](https://python-markdown.github.io/extensions/tables/) _require_ a header, which means that if the user is intending the _left_ column to be the headers, the rendering will be misleading and wrong.  You can see this with how Github renders the table, in that the first row is bold, and

[2022-06-21 08:22] om2137 commented on #21410
@alya  pr is ready for review

[2022-06-21 10:11] xeruf commented on #22228
Yes, I see these are all valid concerns - but honestly I'd much prefer to have the information there at all, because currently the webhook is almost useless, and worry about the layout later.

[2022-06-21 16:50] KJurewicz commented on #22243
I have the same issue, also 5.9.3 desktop app on Win 11. I noticed that it happens only when I connect through the university wifi, never at home...

[2022-06-21 19:09] KJurewicz commented on #22243
Ok, thanks! So the temporary solution would be to ensure the internet connection before the initial startup of Zulip.

[2022-06-21 19:26] ritikBhandari commented on #22188
@zulipbot claim

[2022-06-21 19:47] gdelafond opened #22274 "`create_realm` management command generate an AssertionError"
On zulip 5.2 creating a realm with the `create_realm` management command leads to an assert.

[code]

Related discussion about this issue: https://chat.zulip.org/#narrow/stream/9-issues/topic/create_realm.20does.20not.20work

[2022-06-21 19:57] #22244 closed

[2022-06-21 21:28] brijsiyag commented on #19710
@zulipbot claim

[2022-06-21 22:27] drrosa opened #22277 "help-docs: Update Homebrew install instructions for the latest release of Zulip on macOS"
In [Desktop installation guides](https://zulip.com/help/desktop-app-install-guide#install-the-latest-release), the command `brew cask install zulip` is outdated.
It should be changed to `brew install --cask zulip`.

![Pasted image 20220606171758](https://user-images.githubusercontent.com/2343554/174905286-cbe7af49-33cb-4f85-aed6-e4e0093c6167.png)

<img width="528" alt="image" src="https://user-ima

[2022-06-21 22:35] alya opened #22278 "Deactivated user compose error state does not clear when recipient is changed"
Repro:

1. Attempt to send a PM to a deactivated user.
2. An error message is correctly displayed:
<img width="1002" alt="Screen Shot 2022-06-21 at 3 33 03 PM" src="https://user-images.githubusercontent.com/2090066/174907814-de353621-1f71-4979-b3dc-9541614da769.png">
3. Change the recipient to a valid one without closing the compose box.

**Expected**: It should now be possible to send a message.

[2022-06-22 01:43] Rixant commented on #22277
@zulipbot claim

[2022-06-22 01:43] Rixant commented on #22278
@zulipbot claim

[2022-06-22 01:58] drrosa commented on #22277
@zulipbot claim

[2022-06-22 13:08] relkaim opened #22281 "install Zulip on a website?"
Hello,
I'm wondering if I can **embed a Zulip frame in a website** and have visitors participating (through the website) to the chat...?
If yes, where can I find the corresponding setup and embedding instructions?
Thanks and regards,
Roger

[2022-06-22 21:30] andersk opened #22284 "Document upgrading Ubuntu 20.04 to 22.04"
Now that we’ve backported Ubuntu 22.04 support in 5.3 (#22054), we should write and test instructions for upgrading a Zulip server from Ubuntu 20.04 to Ubuntu 22.04, with our other [OS upgrade instructions](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system).

[2022-06-22 21:58] cmprmsd opened #22285 "File Upload via API contains an additional slash character"
The File Upload via API contains an additional `/` in the uri response after the domain name.
This causes Zulip not to recognize the link as internal and update the permissions for the file correctly.

![image](https://user-images.githubusercontent.com/73472903/175145241-b9608dfe-922e-459e-93bd-be7e203bb398.png)

Using this uri in a message, containing `[link](the//url)` will not cause the server

[2022-06-22 22:10] cmprmsd commented on #9081
Also very interested!

[2022-06-22 22:13] alya commented on #19051
This has been resolved.

[2022-06-22 22:13] #19051 closed

[2022-06-23 00:15] alexmv opened #22287 "Failures in pygments rendering should not 400 a message post"
In the event that the `pygments` library fails to parse, we currently return a 400:
[code]

We should catch any exceptions raised from pygments here:
https://github.com/zulip/zulip/blob/8577adcf2e610d51d42f2abcd25de79eea0fba53/zerver/lib/markdown/fenced_code.py#L473

...and log the exception, then proceed as if pygments was not enabled -- i.e.:
https://github.com/zulip/zulip/blob/8577adcf2e610d51d

[2022-06-23 06:56] juliaBichler01 commented on #18645
@zulipbot abandon

[2022-06-23 06:57] juliaBichler01 commented on #18645
Since there is a PR already, i won't continue working on this

[2022-06-23 13:06] cmprmsd commented on #22227
See this bug here: https://github.com/zulip/zulip/issues/22285

To make an uploaded file available to other users you must send the link in a chat message to them or the stream and this has to be in the format:

`[](/path/after/domain/file.ext)`

Zulip will recognize the file and update the permissions accordingly. That's at least what I noticed. :)

[2022-06-23 14:44] yogesh-sirsat opened #22290 "Make default external account type custom profile fields editable."
In settings > custom profile fields, the "Label" and "Hint" field is generated by default while creating a new "default external account type custom profile fields" and currently this is the only custom profile field type that is non-editable.
As discussed [here](https://chat.zulip.org/#narrow/stream/101-design/topic/Make.20.22Add.20and.20Edit.20custom.20profile.20field.22.20a.20modal.20.2321634/n

[2022-06-23 22:50] ebecaf opened #22298 "Clarify that running main requires more than 2G of RAM, unlike versioned releases"
Hi,

I have had a look at the other 4.x to 5.x update issues but they don't seem to apply.

I get:

[code]

[code]

Here is what is above the --quiet in the logs:

[code]

I assume it has something to do with;

Ubuntu 20
PostgreSQL 14.1
Zulip 4.11 (obviously :) )

Thanks for your help

[2022-06-24 00:58] #22277 closed

[2022-06-24 02:01] alexmv commented on #18392
It is worth noting that #19262 was closed, and not merged, which means that we're not currently sourcing any documentation on the work that was done in #18525 and #19274.

Was that closed intentionally, @PIG208?

[2022-06-24 02:26] PIG208 commented on #18392
Hmm I think that wasn't intentional. I can resume the work for that part.

[2022-06-24 02:40] andersk commented on #22298
No, the swagger-parser warning is harmless. I think this is what happens when webpack runs out of RAM. Try adding more RAM or swap, or install using the tarball (which has pre-built webpack bundles) rather than Git.

[2022-06-24 03:11] N-Shar-ma commented on #20304
@alya I'd mentioned this issue in my GSoC proposal and would like to start working on this now. Hope that sounds good?

[2022-06-24 11:50] ebecaf commented on #22298
Will try that, thank you

[2022-06-24 17:57] alya commented on #14490
If you think it's important to warn the user, we could have a custom warning that explains the whole situation.... It's just such an edge case, that I'm not too worried about it.

[2022-06-24 18:40] andersk commented on #22285
I cannot reproduce. That [API](https://zulip.com/api/upload-file) always returns host-relative URLs beginning with a single `/`.

What version of Zulip Server do you have? Do you some kind of reverse proxy in front of it that might be editing its responses?

[2022-06-24 19:09] sahil839 commented on #14490
Ok, then I updated the PR to not show the modal if stream is web-public, irrespective of the setting. Would be nice if you could test the PR manually once to make sure that the behavior is as expected especially in cases where stream is web-public but setting is not enabled.

[2022-06-24 19:35] alya commented on #15998
Our current redesign plan is to just have the "Today" part on the separator, and not the "Oct 25, 2016" part. So just reordering the "You subscribed" line to be above the date separator should work well.

[2022-06-24 19:41] alya commented on #21637
Bumping up the priority, as this feature has been very nice on mobile!

[2022-06-24 19:48] alya commented on #22238
@ritikBhandari this sounds like something that would be best to debug interactively in the Zulip development community. I'll kick off a thread and tag you there, and we can open an issue if there's a concrete follow-up required.

[2022-06-24 19:48] #22238 closed

[2022-06-24 19:50] alya commented on #22238
If you can't log into chat.zulip.org because of this issue, let us know, and we can follow up here as well.

[2022-06-24 20:01] alya commented on #22237
@dronmaxman could you say a bit more about what you're trying to do? What are some examples of what clicking on the text should do/how you would use this? Thanks!

[2022-06-24 20:32] alya commented on #21856
Great, thanks!

[2022-06-24 20:33] alya commented on #21913
Looks good to me, thanks!

[2022-06-24 21:09] alya commented on #22205
Thanks! Assigned to you @dheerajmandava .

[2022-06-24 21:10] alya commented on #22205
When you submit a PR, please post screenshots for each situation.

Also, please use the issue description, and not the mockups, for the precise wording/rules for what to show. We will not be displaying a line like "Your team's collaboration hub".

[2022-06-24 21:17] alya commented on #22255
Closing this out as the description has been removed. Please drop by the [Zulip development community](https://zulip.com/development-community/) if further help is required.

[2022-06-24 21:17] #22255 closed

[2022-06-24 22:15] alya opened #22308 "Stream email disappears from UI when user unsubscribes"
At present, when a user unsubscribes from the stream, the stream email disappears from the UI, leaving an odd empty box. This happens for both private and public streams.
<img width="655" alt="Screen Shot 2022-06-24 at 2 55 59 PM" src="https://user-images.githubusercontent.com/2090066/175699709-53f42d08-5eae-4b05-9205-35e9834caac5.png">

Exiting and returning to the stream menu makes it appear aga

[2022-06-24 22:36] alya commented on #19958
We have redone this part of the UI, and the issue has been resolved.

[2022-06-24 22:36] #19958 closed

[2022-06-24 23:02] alya commented on #21712
@juliaBichler01 would you be up for picking this one up, since you worked on #19196 recently?

[2022-06-24 23:05] alya commented on #17998
I edited the PR description to say "Fixes #17998" in order to link it up to this issue in GitHub.

[2022-06-24 23:07] alya commented on #17998
No worries about the nags, but I added the "integration review" label to the PR.

[2022-06-24 23:13] alya commented on #21410
Yes, thanks for checking!

[2022-06-24 23:25] alya commented on #22136
I'm not sure how to answer this question; the issue describes the user-facing changes we're looking to make here.

[2022-06-25 03:13] sahil839 commented on #22308
@zulipbot claim

[2022-06-25 06:14] zamazan4ik opened #22310 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know).

This kind of information is important for the end-users.

Thanks in advance!

[2022-06-25 06:38] brijsiyag commented on #22265
I'm taking this issue.

[2022-06-25 07:35] ritikBhandari commented on #22136
I've opened a draft PR. Can u pls check it?

[2022-06-25 11:01] sahil839 commented on #22308
I had reported this before and we had some discussion regarding whether to actually hide the emails on unsubscribing from stream but there was no decision taken at that time. Previous discusssion - https://chat.zulip.org/#narrow/stream/9-issues/topic/stream.20emails.20of.20unsubscribed.20streams.

Anyways, I had opened the PR before to not hide the email as mentioned in this issue. Rebased it now.

[2022-06-25 16:22] juliaBichler01 commented on #21712
@alya yes, i already started working on it.
I am not finished working on it yet, but i created a draft PR, so that you can have a look at it if you want to: [#22312](https://github.com/zulip/zulip/pull/22312)

[2022-06-25 23:01] N-Shar-ma commented on #20304
@zulipbot claim

[2022-06-26 03:19] aberfan commented on #188
7 years later and this still doesn't seem to be addressed in a beginner friendly way by the clean and well-tested codebase Zulip prides itself on maintaining.

**Are there any uninstall instructions at all**, for linux?

I understand that under no circumstance should anyone ever install this parasitical software on a machine they care about or use it, but is my penance really that I need to comple

[2022-06-26 05:44] Rixant commented on #22278
@alya I am working trying to reproduce the bug. How do I find or get the deactivated user?

[2022-06-26 10:25] yuroitaki commented on #19627
@zulipbot claim

[2022-06-26 12:31] dheerajmandava commented on #22205
@alya I was not able to do for self-hosted, but it is done for cloud plans, please have a look at this [#22318](https://github.com/zulip/zulip/pull/22318).

[2022-06-26 12:38] adambirds commented on #19627
@yuroitaki tag me when you create the PR and I'll drop you a review on that too.

[2022-06-26 23:02] aylaelm commented on #21036
@zulipbot claim

[2022-06-27 07:26] NexZhu commented on #19073
How to correctly set this when deploying on Kubernetes behind an ingress controller like Nginx or Traefik? Pods IPs of the ingress controller are not static.

[2022-06-27 07:53] mightyiam opened #22323 "Categories in the changelog"
Would be nice to have the changes in the change log categorized. Here's [an example](https://github.com/mobusoperandi/michie/releases/tag/v0.2.2).

[2022-06-27 09:41] relkaim commented on #22281
Any idea on how to proceed?Roger Elkaim
-------- Original message --------From: Seth Addo ***@***.***> Date: 6/27/22  10:58  (GMT+01:00) To: zulip/zulip ***@***.***> Cc: relkaim ***@***.***>, Author ***@***.***> Subject: Re: [zulip/zulip] install Zulip on a website? (Issue #22281)
I think so

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you author

[2022-06-27 10:41] cmprmsd commented on #22285
You are right. I tried with curl according to your docs and a relative path is returned. I'll give this feedback to the n8n devs as they seem to add the base url to the response, which is in this case very unexpected and faulty.

Thanks!

[2022-06-27 10:41] #22285 closed

[2022-06-27 14:31] sawyer1776 commented on #21863
@zulipbot claim

[2022-06-27 16:27] ritikBhandari commented on #22287
@zulipbot claim

[2022-06-27 16:31] ritikBhandari commented on #22188
@alya we only have to change "Notifications" term from Bot right? All the other places where 'notifications' is used should remain as it is?

[2022-06-27 16:51] Riken-Shah commented on #21798
No by typeahead he meant the popup menu that comes when you start typing in the
search box.

![popup-menu](https://user-images.githubusercontent.com/33805964/164611869-87db94c8-07e5-49f3-b41f-ecb2856b8702.png)

[2022-06-27 17:54] alexmv commented on #19073
@NexZhu: You can use CIDR ranges when specifying IPs.

[2022-06-27 21:01] alya opened #22334 "Thumbnails don't appear in carousel for the narrow"
When a message has more than 10 attached images, the thumbnails for those images are not shown in the message (this is the intended functionality).

Thumbnails for these images are also not shown in the image carousel for the narrow. We should fix this so that all the images sent in the current narrow appear in the carousel, whether or not they were attached to a message with more than ten attachm

[2022-06-27 21:41] gnprice commented on #21037
@evykassirer has a PR implementing this here: #22067

(Oddly GitHub isn't showing a backlink to there from this issue thread, after I mentioned the issue on the PR thread: https://github.com/zulip/zulip/pull/22067#pullrequestreview-1020793631 I think that's a GitHub issue I haven't seen before. Perhaps an outage somewhere?)

[2022-06-27 22:13] alya commented on #22227
@hongquan does the above address your question?

[2022-06-27 23:05] devurandom opened #22338 "Error: The newrelic webhook requires timestamp in milliseconds"
New Relic is changing their notification system from "Classic" "incidents" and "channels" to "policies", "workflows" and "destinations" and it appears that the new format is not recognised by Zulip.

Payload template:
[code]

Payload preview:
[code]

Response from Zulip (shown by New Relic after clicking the "send test notification" button):
[code]

[2022-06-27 23:18] gnprice commented on #18121
Just a quick note mentioning a nonobvious task we'll have to take care of as part of making this change. I don't think this is any kind of blocker -- noting it here just so that when we take on this issue, we'll remember to take care of this.

Our tools for importing data to migrate from Slack or Matrix apparently relies on the emoji aliases in order to be able to map emoji reactions on old Slack

[2022-06-27 23:18] alya commented on #15840
We have moved towards displaying the User ID as a unique identifier. It can be found in the user's full profile, as well as in Settings > Users. Does that help address this issue?

[2022-06-27 23:29] devurandom opened #22339 "Error from pagerduty webhook: We have been unable to successfully deliver recent webhooks. This subscription has been temporarily disabled."
I tried sending test notifications (and probably some real notifications) from PagerDuty via their Generic Webhook v3 to Zulip. PagerDuty complains on the web hook settings page: `We have been unable to successfully deliver recent webhooks. This subscription has been temporarily disabled.`

The web hook URL is `https://[REDACTED].zulipchat.com/api/v1/external/pagerduty?api_key=[REDACTED]&stream=[R

[2022-06-28 04:03] hongquan commented on #22227
@alya @cmprmsd
In my case, the URL I acquired via Zulip message API is relative URL (without https://domain), so I build absoulte URL from it, so there is no case of duplicate "/".

[2022-06-28 04:24] akarsh-jain-790 commented on #22334
@zulipbot claim

[2022-06-28 04:40] hongquan commented on #22227
Note that, in my case, file is uploaded in Zulip web UI (https://utar.chat.fairwiz.com), and on our website (https://some-other-domain.com), we call Zulip API to get message and display to user. Before displaying to user, we have to rewrite the URLs in the message content, converting them from relative to absolute. The rewriting must be made so that browser doesn't think the files are in the https

[2022-06-28 05:22] ritikBhandari commented on #22287
@zulipbot claim

[2022-06-28 06:28] cmprmsd commented on #22227
After the file has been uploaded, do you share it with Zulip in the chat stream?
It seems you are trying to access the file anonymously. Not sure if this will work in any case.

[2022-06-28 07:23] amanagr commented on #15131
This task looks already complete to me. I am not sure if I am missing something here.

[2022-06-28 09:00] timololipop opened #22343 "How to run the trivia quiz bot?"
Hey, I currently try to find out how to run the trivia quiz bot.

Is it already integrated? Do I need to run it with zulip-run-bot or with the botserver?

I appreciate a quick hint on this.

Thanks!

[2022-06-28 10:18] cmprmsd commented on #22227
Has the bot been joined to the channel where you post the file?
This was a mistake I did on my first try, too 😁

[2022-06-28 10:30] hongquan commented on #22227
@cmprmsd Yes. I did let the bot/user subscribe to the stream, and I can get new chat message in real-time.

[2022-06-28 19:12] yogesh-sirsat commented on #22290
@zulipbot claim

[2022-06-28 20:11] #21863 closed, assigned to nobody

[2022-06-28 20:19] #20916 closed

[2022-06-28 20:23] #21838 closed

[2022-06-28 20:24] #22132 closed

[2022-06-28 20:25] #22131 closed

[2022-06-28 20:31] #21356 closed

[2022-06-29 00:04] #21944 closed

[2022-06-29 06:19] alya commented on #11832
I'm retagging this as a priority, as it's a step towards the redesign project.

Before implementing any visual redesign l changes, we can use the same dropdown UI as in the move message widget:
![Screen Shot 2022-06-28 at 11 19 44 PM](https://user-images.githubusercontent.com/2090066/176365419-78959c5c-e433-4978-b861-8f7cf914304f.png)

[2022-06-29 06:22] alya commented on #11682
At this point, this issue should be resolved via #11832.

[2022-06-29 06:22] #11682 closed

[2022-06-29 06:33] alya commented on #22308
Heh, that thread is from a while ago! Looks like you and I are on the same page about what to do here. :)

[2022-06-29 06:44] alya commented on #22310
@zamazan4ik I assume you reviewed https://zulip.readthedocs.io/en/latest/production/requirements.html and did not find the information you were looking for on that page?

[2022-06-29 06:52] om2137 commented on #21410
@zulipbot  claim

[2022-06-29 08:13] zamazan4ik commented on #22310
@alya Yes, I have read this page. For me is unclear, which hardware architecture are supported/tested on the supported operating systems? I did not find any mention of x86-64, aarch64 and so on.

[2022-06-29 09:13] Anton-4 commented on #15840
Is there a possibility for admins to get notified in any way of new users joining?
This paired with the name change setting disabled would provide decent security.

[2022-06-29 09:32] randolf-scholz opened #22351 "Pin attachments to channels"
In Slack one can pin links to important documents and URLs related to a channel. Does Zulip have a similar feature for streams?

![image](https://user-images.githubusercontent.com/39696536/176403503-34fc673f-76ad-4df4-8250-3eae5d41d792.png)

[2022-06-29 12:31] xpufx commented on #20501
I was skimming the github issue and the discussion on zulip and I went in with a "what privacy issue?" mindset because we're using zulip in a company environment and I hadn't considered all scenarios.

This feature sounds more challenging the more I think about it. One issue I can think of immediately while reading @gautelund's summery above is with the proposal "Tracy's messages are shown as plac

[2022-06-29 17:38] Rixant commented on #22278
@zulipbot claim

[2022-06-29 19:55] alya commented on #22351
Thanks for the request! We do not have such a feature at present.

Related issues: #20745, #19483

[2022-06-29 19:56] alya commented on #22351
You can add information, including links, to the stream description, which is shown at the top of the message view.

[2022-06-29 20:09] alya commented on #22310
I started a [discussion thread](https://chat.zulip.org/#narrow/stream/19-documentation/topic/Document.20supported.20hardware.20architectures.20.2322310/near/1398649) in the [Zulip development community](https://zulip.com/development-community/).

[2022-06-29 20:32] alya opened #22355 "Show stream privacy icons in typeaheads"
To consistently provide key information to users, we should show stream privacy decorations in stream auto-complete menus. It's fine to submit a PR that solves some parts of this issue.

## In the message feed / compose
- [x] Move message typeahead.
- [x] Message compose addressee typeahead. This is a follow up on #19878, and should not be merged before #20562. I think #11832 should also be consid

[2022-06-29 20:55] alexmv commented on #22310
#22356 addresses the supported arches.  We're not aware of any instruction set being required -- if you find otherwise, please let us know!

[2022-06-29 23:28] timabbott commented on #22033
Yeah, that's what I had in mind.

[2022-06-30 00:28] #22310 closed

[2022-06-30 05:22] drrosa commented on #22198
@zulipbot claim

[2022-06-30 05:22] drrosa commented on #22195
@zulipbot claim

[2022-06-30 12:03] kjcole commented on #12611
Does the "Add custom CSS" take care of this?

If so, then perhaps as part of the package, a link to a repository of user-contributed stylesheets could be provided along with "point and click" to install them. Similar to how many applications have an "add / enable extensions" or "add / enable plugins" settings / options menu.

[2022-06-30 12:11] flaviozluca commented on #22243
After like 30 minutes with my notebook on, it still tries to connect. clearly there is some issue. Isnt there a timeout?
See video, as soon as I close it and reopen it, it connects.

https://user-images.githubusercontent.com/44004645/176673945-11cd199e-d1c3-490c-b3d0-105afd3478fa.mp4

[2022-06-30 14:41] akarsh-jain-790 commented on #22334
@zulipbot abandon

[2022-06-30 18:24] #22197 closed

[2022-06-30 18:27] #22144 closed

[2022-06-30 22:22] alexmv commented on #22238
@ritikBhandari: Please give logging into chat.zulip.org another try -- we'd like to see if it still replicates, so we can do more debugging.

[2022-07-01 02:14] ritikBhandari commented on #22238
@alexmv its working now. I'll let you know about the desktop app👍.
But I think it should also work now.

[2022-07-01 07:12] juliaBichler01 commented on #20971
@zulipbot claim

[2022-07-02 13:15] Riken-Shah commented on #21844
@zulipbot claim

[2022-07-03 18:30] alex-ter commented on #21001
@zulipbot claim

[2022-07-04 09:27] airballking commented on #12203
It seems like this is still a missing feature on Zulip Server v5.2. For others with the same problem, we used this quick work around:

1. Enable right for users to change their email address in the orga permissions.
2. Have user change his/her email address.
3. Disable right for users to change their email address in the orga permissions.

Not safe because other users could come and change email a

[2022-07-04 12:12] adambirds commented on #22338
@yuroitaki this could be another good one for you.

[2022-07-04 20:22] hexedpackets commented on #21618
I ran into this same issue and was able to work around this by resizing locally before uploading the emojis. In your examples, small/large doesn't really matter - both gifs are non-square and that will cause the resizing function to be called when you upload it which really degrades the gif. [The PIL resizing code is skipped](https://github.com/zulip/zulip/blob/main/zerver/lib/upload.py#L210-L214)

[2022-07-05 16:03] hexedpackets opened #22374 "Support topics within private messages"
I would love to able to use topics within individual PMs. It is very easy to lose context when multiple different things are being discussed/replied to within a PM - this often happens when someone is offline and they get sent a few different messages before they have a chance to reply. As a workaround I've been making private streams with just two people in them and trying to not use PMs at all.

[2022-07-05 17:47] evykassirer opened #22377 "Error handling for emoji-names with a slash at the end"
Reported [here](https://github.com/zulip/zulip/pull/22367#issuecomment-1174087030) by @sov-j

Tested this on current Firefox. There is a bug where forward slash symbol (`/`) handling is incorrect. Details are below.

### Reproduction steps
1. Open **Custom emoji** form
2. Enter name with `/` (e.g. `test/`)
3. Press **Add emoji**  button

### Expected result
"Emoji names must contain [...]" error m

[2022-07-05 18:34] alya commented on #21178
@asah would you potentially be interested in picking up the remaining blocker for this issue (#21180)?

[2022-07-05 18:38] alya commented on #14409
We should solve this as a follow-up to https://github.com/zulip/zulip/issues/19525.

[2022-07-05 18:53] asah commented on #21178
Looking now...

On Tue, Jul 5, 2022, 1:35 PM Alya Abbott ***@***.***> wrote:

[2022-07-05 20:58] evykassirer commented on #19398
Even though this should be "fixed" by #22067, adding this error handling would be a good separate task

[2022-07-05 21:20] evykassirer commented on #19398
The situation where it shows the copyright symbol is when no custom classname exists for the emoji that specifies where on the spritesheet to display, so it displays 0,0 by default. `build_emoji` should have a check that all emoji in `emoji_names.py` have an entry on all three stylesheets.

One way we could do that is to add an assert before

[code]

That asserts that we've added the number of emo

[2022-07-05 21:35] N-Shar-ma commented on #18588
@zulipbot claim

[2022-07-05 23:07] asah commented on #21180
@alya WIP [PR - pls read notes there](https://github.com/zulip/zulip/pull/22387).

[2022-07-06 13:15] dheerajmandava commented on #22205
@alya editions done, please have a look at this [#22318](https://github.com/zulip/zulip/pull/22318)

[2022-07-06 13:29] kenemar opened #22394 "/var/run/postgresql/.s.PGSQL.5432" failed: FATAL: role "zulip" does not exist"
Hello,
I had a zulip instance running on a Ubuntu 20.04 machine and I wanted to move it to a different machine running Ubuntu 22.04. I upgraded the old server to latest stable version of Zulip, then made a backup.tar.gz of the old server and installed latest stable Zulip on new machine.
Then I noticed the docs said the OS versions should be the same.
I decided to try importing anyway. The first ti

[2022-07-06 20:13] alexmv opened #22396 "Soft-reactivation can take longer than 20s, deadlock, or 500 due to duplicate insert"
Reactivation of a soft-deactivated user is when we populate UserMessage rows for all of the messages the user can see, but that we've skipped making rows for because the user has been gone so long.

This can be a long process, depending how long the user has been gone, and can take several-to-many seconds.  We currently have mechanisms in place to run it as an offline job when the user gets mentio

[2022-07-06 21:15] Rodwan-Bakkar commented on #22338
@zulipbot claim

[2022-07-06 22:42] alya opened #22400 "Document @-mentions tab"
We should add a page to the Reading messages section of the help center documenting the @-mentions tab in the web/desktop and mobile apps.

It should be noted that silent mentions are not shown in this view.

[2022-07-07 04:22] aylaelm commented on #21036
@zulipbot abandon

[2022-07-07 05:27] alya opened #22405 "Clearly document bot roles"
I have the following quote in my notes, though I've lost the original source:

[2022-07-07 06:05] alya opened #22407 "Create a guide on topic management"
It would be helpful to have a page that offers guidance on best practices for managing topics (moving messages, renaming, etc.). It would be related to `/help/move-content-to-another-topic` and `/help/move-content-to-another-stream`, but offer more high-level advice.

[2022-07-07 12:30] juliaBichler01 commented on #20971
@alya just FYI, i am currently working on this.

[2022-07-07 17:15] dheerajmandava commented on #22205
@alya i have corrected the logic, now for admins will be shown "upgrade to zulip standard". [#22318](https://github.com/zulip/zulip/pull/22318)

[2022-07-07 17:52] #22164 closed

[2022-07-07 19:12] alya opened #22413 "Clear channel name from right-side channel settings panel"
In certain situations, when no stream is selected in stream settings, we continue to show the name of the previously selected stream. For example, this happens when a user unsubscribes from all the streams in the organization (after reloading the page):

![Screen Shot 2022-07-07 at 11 51 20 AM](https://user-images.githubusercontent.com/2090066/177853223-07b3911b-58cc-47c3-95be-09aeb68e37cb.png)

W

[2022-07-07 21:29] alya commented on #22394
I started a [thread](https://chat.zulip.org/#narrow/stream/31-production-help/topic/role.20.22zulip.22.20does.20not.20exist.20.2322394) in the Zulip development community, which is generally more convenient for questions like this.

[2022-07-07 21:43] lascimmia opened #22417 "Impossible to configure incoming mail"
After a (HUGE!) update from version 3.1 to last stable 5.x, I'm no more able to receive email on streams.

Original error was:
`The mail system <OMISSIS>: host  <OMISSIS>[<OMISSIS>] said: 554 5.7.1
 <OMISSIS>: Relay access denied (in reply to RCPT TO command)`

After few work:
`The mail system  <OMISSIS>: host  <OMISSIS>[<OMISSIS>] said: 550 5.1.1
  <OMISSIS>: Recipient address rejected: User unkn

[2022-07-07 22:05] #22195 closed

[2022-07-07 23:03] N-Shar-ma commented on #20868
@zulipbot claim

[2022-07-08 00:38] #22112 closed

[2022-07-08 05:05] jai2201 commented on #21865
@zulipbot claim

[2022-07-08 08:28] dronmaxman commented on #22237
Every time I want to contact a bot, I need to write on keyboard. It is possible to make text (for example, a hyperlink), when clicked, it will interact with the bot, send some command to the bot without a keyboard.

For example, I call a bot
@bot help

he answers me

Hello, the commands that are available to me:
[@bot help](url)
[@bot status](url)
[@bot list](url)

now I can just click on "@bot st

[2022-07-08 09:21] guillaumesoucy94 opened #22422 "Zulip installation failed (exit code 1)!"
Hello,

When trying to deploy Zulip I've got this error:

Zulip installation failed (exit code 1)!

This is installation logs:

https://plik.zsites.ca/file/RH79G9bDBcSdLgK6/tpTFWUhSopiPBge4/install.log

I'm using a VM with a fresh Ubuntu 22.04 install.

How to override that issue and being able to install Zulip?

Best regards,

Guillaume

[2022-07-08 13:03] adambirds commented on #22422
@guillaumesoucy94 looking at these lines of the log files:

[code]

It looks like you may already have a web server installed and running on port 80. Maybe a default instance of nginx or apache. I'd check for that. You can see what is running on that port using the command:

`lsof -i:80`

[2022-07-08 13:06] adambirds commented on #22243
@flaviozluca this issue should be raised in the https://github.com/zulip/zulip-desktop repo instead as its for the desktop client.

[2022-07-08 17:19] yogesh-sirsat commented on #18941
@madrix01 are you working on this issue?

[2022-07-08 17:22] madrix01 commented on #18941
@yogesh-sirsat  I have made some progress with it. I was busy with other PRs, I will continue working on this PR soon.

[2022-07-08 21:34] #21785 closed

[2022-07-08 23:21] adambirds commented on #22243
@alya this can be closed as moved to desktop.

[2022-07-09 05:22] amanagr commented on #20600
1st commit -
before:
<img width="855" alt="Screenshot 2022-07-09 at 10 51 58 AM" src="https://user-images.githubusercontent.com/25124304/178092807-47ae214b-cc59-488f-8d5b-32693f63f41b.png">

after:
<img width="855" alt="Screenshot 2022-07-09 at 10 50 59 AM" src="https://user-images.githubusercontent.com/25124304/178092808-81415527-58cf-4f1d-8cb5-beb262f00ecf.png">

2nd commit -

before:
<img width

[2022-07-09 08:35] lascimmia commented on #22417
Resolved.

It seems that despite what the instructions say, you **must** enter
[code]
in `/etc/zulip/zulip.conf`

[2022-07-09 08:36] #22417 closed

[2022-07-09 08:40] lascimmia commented on #22417
Resolved.

It seems that despite what the instructions say, you **must** enter
[code]
in `/etc/zulip/zulip.conf`

[2022-07-09 14:26] raghavluthra20 commented on #22217
@zulipbot claim

[2022-07-09 17:05] jai2201 commented on #21637
@zulipbot  claim

[2022-07-09 20:29] salmonax commented on #22413
@zulipbot claim

[2022-07-10 00:45] guillaumesoucy94 commented on #22422
@adambirds Yes, it was that. Thank-you!

Also, how I can run a second instance of Zulip on the same server?

Regards,

Guillaume

[2022-07-10 00:50] adambirds commented on #22422
@guillaumesoucy94  you can't unless you have them running with docker (https://github.com/zulip/docker-zulip). You would need to run both as Zulip containers. Otherwise each Zulip server is meant to be standalone. However each Zulip server or instance can host multiple realms or organisations so to speak.

https://zulip.readthedocs.io/en/latest/production/requirements.html#general

https://zulip.r

[2022-07-10 00:59] guillaumesoucy94 commented on #22422
@adambirds okay thank-you very much for your time! ;-)

[2022-07-10 06:28] Riken-Shah commented on #22355
@zulipbot claim

[2022-07-10 13:05] chobeat opened #22437 "decode error when opening openapi file (dockerized zulip)"
[code]

I keep getting this kind of errors and I finally managed to trigger them. They happen when I open the docs for the API and the error is clearly an issue with the openapi and the zulip.yaml file. Nonetheless I don't understand if it's a problem with the encoding of the file or what.

To reproduce:
* start the dockerized zulip, latest version
* open any page in the zulip API docs like https:

[2022-07-10 13:55] adambirds opened #22438 "Native Azure DevOps Integration"
We should really have a native integration for azure devops like we do we for github/gitlab etc. Its commonly used now so we be great to add.

https://docs.microsoft.com/en-us/azure/devops/service-hooks/services/webhooks?view=azure-devops

They have a free basic plan which will allow you to create and test webhooks.

https://azure.microsoft.com/en-gb/pricing/details/devops/azure-devops-services/

[2022-07-10 13:57] adambirds commented on #22438
@zulipbot add "area: integrations"

[2022-07-10 16:28] Pandry commented on #22437
I've been able to reproduce the issue: it is a matter of `LANG` environment variables:
The container defaults to `C.UTF-8`, which seems to cause the error.
Setting the `LANG` variable to the `en_US.UTF-8` solved the issue for me

[2022-07-10 19:10] yogesh-sirsat commented on #21806
@rayy-lo are you still working on this issue?

[2022-07-10 19:58] yogesh-sirsat commented on #20309
@zulipbot claim

[2022-07-10 20:04] yogesh-sirsat commented on #20309
@alya Is this issue still relevant?

[2022-07-10 22:37] pd1drone opened #22439 "LOGGING IN Via SAML (keycloak) does not login to ZULIP"
Hi I am using the latest version of Zulip and I tried to setup a Keycloak IDP to login via SAML. I followed the documentation in the zulip on how to configure it and it is working properly but when I try to login via SAML ( log-in working properly) and then get redirected to /complete/saml the zulip server throws an error "raise OneLogin_Saml2_ValidationError(
onelogin.saml2.errors.OneLogin_Saml2_

[2022-07-10 23:00] pd1drone commented on #22439
Hi This is my settings.py SAML configuration

[code]

[2022-07-11 02:23] guillaumesoucy94 commented on #22422
Hello,

I had to reinstall Zulip but, it is not working and this time Apache couldn't be the ause as it is not present on the server.

Best regards,

Guillaume
[install.log](https://github.com/zulip/zulip/files/9080466/install.log)

[2022-07-11 03:08] guillaumesoucy94 commented on #22422
It was closed. I need more help.

[2022-07-11 06:05] DanielSank opened #22441 "Installer failed because it's trying to get a certificate using a bare IP address"
I made a vm on Google Cloud and tried to install Zulip using [these instructions](https://zulip.readthedocs.io/en/stable/production/install.html). For the hostname flag I used an IP address. The installer failed after the following log entry
[code]
I found https://github.com/zulip/zulip/issues/10743 and following the advice there I added
[code]
to `/etc/zulip/zulip.conf` and then ran `scripts/zuli

[2022-07-11 06:17] amanagr commented on #22441
If you are using the production server just for testing, you can use

`./zulip-server-*/scripts/setup/install --self-signed-cert` to install the server. See https://zulip.readthedocs.io/en/stable/production/install.html#installer-options.

[2022-07-11 08:38] eiminola opened #22442 "Native integration for Github Projects (beta) and Github Issues"
Dear Zulip community and developers, thanks for your great job.
It would be great if Zulip supports native integration for Github Projects and Github Issues, these tools are widely adopted for project management.

[2022-07-11 11:31] laurynmm commented on #21946
#17897 seems to be a duplicate issue to this.

[2022-07-11 16:03] asah commented on #22442
What specifically would you want?

(I have some ideas!)

On Mon, Jul 11, 2022 at 4:38 AM eiminola ***@***.***> wrote:

[2022-07-11 22:24] alya opened #22448 "Allow @-prefix for adding a user group to a channel"
We have had reports of users who find it confusing that groups do not appear in the typeahead for adding people to a stream when @ is typed. To address this we should:

- Make it possible to add groups to streams with or without an initial `@`.
- Sort groups above other users in the typeahead when `@` is typed.

These changes should apply to both stream creation and stream editing.

This issue rep

[2022-07-11 22:24] alya commented on #18888
Closing in favor of #22448.

[2022-07-11 22:24] pd1drone commented on #22439
Hi All,

So I found a solution to this and this error is because of keycloak mapping. Here's the reference to the link that helped me solve this issue.
https://github.com/nextcloud/user_saml/issues/222
https://stackoverflow.com/questions/51011422/is-there-a-way-to-filter-avoid-duplicate-attribute-names-in-keycloak-saml-assert

In Keycloak ----- Go to:
(Realm) -> Client Scopes -> role_list (saml) -

[2022-07-11 22:24] #22439 closed

[2022-07-11 22:37] timabbott commented on #12424
Closing, as we've instead gone with using the same `role` field model we have for normal users. See, for example, #22405.

Thanks for working on this @thedeveloperr and @m-e-l-u-h-a-n!

[2022-07-11 22:41] alya commented on #10688
This should be solved as a follow-up to #19525.

[2022-07-12 06:02] alya commented on #15998
I don't think there's anything blocking removing the previous date from the separator at this point.

[2022-07-12 06:37] manila commented on #21896
I have an outstanding question from review in PR #21971, this PR is ready for re-review but I wanted to get some clarity around testing a specific method. See comments in PR #21971

[2022-07-12 11:50] #21667 closed

[2022-07-12 16:33] alya opened #22454 "Test less bold font for modal titles"
At present, we use a bold font for titles of modals. We should experiment with lighter-weight font (regular font, and perhaps something between that and the current weight if available) to see if it looks better.

The first step on this issue will be to post some screenshots for feedback in the [#design stream](https://chat.zulip.org/#narrow/stream/101-design) on chat.zulip.org.

[2022-07-12 17:20] ArpanDhama2001 commented on #20583
@zulipbot claim

[2022-07-12 17:51] ArpanDhama2001 commented on #20583
![Screenshot 2022-07-12 at 23-19-34 Recent topics - Zulip Dev - Zulip](https://user-images.githubusercontent.com/66470221/178559421-954beb58-0bf6-4007-bebe-8416c3a35c66.png)
Will this work? @Arch0125

[2022-07-12 20:40] yogesh-sirsat opened #22460 "Allow users to manage bot stream subscriptions from Settings > Bots menu"
In Personal settings > Bots, add a button in bots info card, clicking that button the user should see that bots subscribed streams list in modal with an unsubscribe button to unsubscribe bot from that specific stream.

Related Issue: #21402
Related PR: #22333

[2022-07-12 20:41] yogesh-sirsat commented on #22460
Adding my to-do list.

[2022-07-12 23:42] timabbott commented on #22377
@ganpa3 want to pick this one up?

[2022-07-13 00:35] timabbott opened #22461 "Spectator language picker always shows realm default language as current language."
The `default_language` parameter used for the logged-out view is always the realm's default language, not the language you picked in the UI. Having done a big of investigation, I believe the problem is that while we read from the browser's cookies inside home.py:
[code]

The `page_params` for spectators come from a separate request to `GET /api/v1/register`, and thus don't inspect the cookies at a

[2022-07-13 02:18] Rixant commented on #22278
@zulipbot claim

[2022-07-13 06:11] alya opened #22463 "Clean up /static/images/features directory"
We want to move all images for landing pages into the `/static/images/landing-page` directory.

In particular, the following images should be moved into `/static/images/landing-page/features/mock-conversation`.

To clean up our assets, we should remove the following images that are used only in the development environment:

`/static/images/features/twitter.png`
`/static/images/features/whale.png`

[2022-07-13 06:45] alya opened #22464 "Clean up /static/images/ directory"
To clean up the `/static/images/` directory and therefore make it easier to understand what images we have, we should:

- [ ] Move 400art.svg, 500art.svg and timehout_hourglass.png into `/static/images/errors`
- [ ] Move loader-black.svg, loader-white.svg, loading-ellipsis.svg and tail-spin.svg into `/static/images/loading`
- [ ] Move GIPHY_zulip.png, GIPHY_big_logo.png into `/static/images/integr

[2022-07-13 18:06] salmonax commented on #22413
@alya Hi, just want to clarify the desired behavior before opening a PR.

The right-hand text (and edit panel contents) come from the path after the refresh, so one way to fix the described case would be to reset the hash when the user unsubscribes from the stream. With that approach, there might be three ways to handle it *before* the refresh:

1) Reset the path when unsubscribing from a stream,

[2022-07-13 18:34] alya commented on #20309
Yeah, I think this one would still be good to fix.

[2022-07-13 20:13] mateuszmandera opened #22471 "Mobile web: Scrolling in "User Groups" UI doesn't go low down enough on the last item in the list"
When you go to `Organization settings` -> `User Groups`, if the list of existing  user groups is long enough to not fit on the screen, it's impossible to  add members to the last group on the list, because scrolling doesn't go down far enough and cuts off the item on the screen before the `Subscribers` section. Screenshot to illustrate this:

![image](https://user-images.githubusercontent.com/4500

[2022-07-13 20:59] #21844 closed

[2022-07-13 21:10] #19627 closed

[2022-07-13 21:57] guillaumesoucy94 commented on #22422
Hello,

Is you have an idea why it is not working?

Thank-you!

Guillaume

[2022-07-13 22:47] alya commented on #22464
@Khushiyant As a heads up, I added a couple more points to the issue description.

[2022-07-13 22:49] alya commented on #22471
Thanks for the report!

We're actively working on redoing the groups UI (#22214), so if the issue is specific to groups, it's not worth trying to fix it in the current UI.

[2022-07-13 23:57] alya commented on #22460
Great, thanks for filing the issue! I won't mark it as "help wanted", since you're planning to pick it up.

[2022-07-14 01:50] adambirds commented on #22422
I'm not sure tbh, you may be best joining https://chat.zulip.org and posting it in the production-help stream. Likely to get a quicker answer. Never seen this issue before. @guillaumesoucy94

[2022-07-14 03:17] yuroitaki commented on #22438
@zulipbot claim

[2022-07-14 04:45] guillaumesoucy94 commented on #22422
Hello Adam,

I retry the setup today and probably it was my lucky day because it works now:
![Screenshot at 2022-07-14 00-40-13 (blured)](https://user-images.githubusercontent.com/22561876/178900830-9d94da00-baaa-42fd-ba08-db6a05dffac1.png)

Thank-you!

Guillaume

[2022-07-14 04:45] #22422 closed

[2022-07-14 07:10] ganpa3 commented on #22377
@timabbott #22477

[2022-07-14 18:31] alya commented on #22413
Those are great questions, thank you for laying them out!

Exploring this more, I found some bugs that are actually worse than the one reported in this issue, which we should definitely fix.

## Unsubscribing from streams, no reload

### With access to stream
For unsubscribing from a stream you still have access to (any public stream for non-guest users), I like the current experience of:

- Keepi

[2022-07-14 18:54] Khushiyant commented on #22287
@zulipbot claim

[2022-07-14 20:25] yogesh-sirsat opened #22482 "bots: Display "Manage bot" modal in case of bot from bots profile popover."
We display the manage user modal instead of the manage bot modal(in the case of the bots) from the profile popover this also leads to the display wrong "Deactivate bot modal" when the user tries to deactivate from this current modal,  we should also change the text of the bot's profile popover from "Manage this user" to "Manage this bot".

<details>
<summary>Screenshots</summary>

![Screenshot_202

[2022-07-14 20:26] yogesh-sirsat commented on #22482
Adding to my to-do list.

[2022-07-14 21:27] #22461 closed

[2022-07-14 21:29] #22377 closed

[2022-07-14 23:37] timabbott opened #22484 "Server-initiated reloads do not preserve whether "more topics" is open"
When we do server-initiated reloads via the `reload.js` logic (either due to the client having been away for 10 minutes or a server upgrade), we restore the user's narrow, scroll position, and compose box state. However, we don't presently store any left sidebar state other than that which is entailed by the fact that we're narrowed. Here's a relevant block of code:

[code]

See also the `zoomed`

[2022-07-15 00:50] adambirds commented on #22438
@zulipbot add "help wanted"

[2022-07-15 00:51] adambirds commented on #22438
@yuroitaki you can claim this one now.

[2022-07-15 03:07] anothaiyoyo opened #22488 "Can't do Slack message notification to Zulip"
Hi I'm a newbie start to use the Zulip for a while and already migration from Slack to Zulip , so  I want to do Slack & Zulip can communicate to each other like a bridge and I did follow up along the  instructor link  below .

https://zulip.com/integrations/doc/slack

I followed every step and stuck with Slack can't send message to Zulip and when I put the modify URL on the browser I got this erro

[2022-07-15 03:59] yuroitaki commented on #22438
@adambirds thanks!
@zulipbot claim

[2022-07-15 22:32] #19196 closed

[2022-07-15 23:51] #22145 closed

[2022-07-16 00:35] rht commented on #22488
@anothaiyoyo you had just exposed your API key :/, better change it ASAP.

[2022-07-16 00:48] rht commented on #22488
You can't just put the URL into the browser, because it is meant to be a POST request by Slack, so it must contain the message JSON in the POST request's body.

I'm not sure, but have you made sure that the webhook bot in Slack has read access to the said channel, and also has access to getting users list?

I'm not super familiar with the code for the unidirectional bridge (only Slack->Zulip) in z

[2022-07-17 03:27] evykassirer commented on #22059
I made an update to a PR that mentions this issue two days ago!

[2022-07-17 21:31] edgarcosta opened #22510 "Notification bot uses the language of the user that triggered the notification"
Notification bot uses the language of the user that triggered the notification.
See image:
<img width="404" alt="Screen Shot 2022-07-17 at 15 28 30" src="https://user-images.githubusercontent.com/322822/179425453-2d38f403-d633-41a2-a281-fa2055cdb050.png">
I find this odd, but perhaps hard to prevent, as I assume these are messages written to the server, and thus unrealistic there would be a differ

[2022-07-18 03:38] Manish4044 commented on #22463
I would like to work on this.

[2022-07-18 03:39] Manish4044 commented on #22463
@zulipbot  claim

[2022-07-18 06:57] Julian opened #22512 "Can't delete drafts on Android + FF"
Hi there.

I can't seem to be able to delete draft messages, the delete button just seems to populate the message and jump me to its thread.

Screen recording attached, where I zoom in super close to make sure it's the trash bin I'm hitting, but perhaps the elements are overlapping or something.

https://user-images.githubusercontent.com/329822/179459098-cc1f1aa6-dd81-43d5-8b48-e7e4ee7a2733.mp4

T

[2022-07-18 08:10] singhayushh commented on #22396
How about implementing a pagination type request-response cycle between the client and the server for this?
Let us say that there are 10k messages in a book. Per page contains 100 messages, so there are 10k/100 = 100 pages in total.

The client sends a request of fetching the messages after reactivation, with two paramters ->
- pageNo - the page number (= 1 in the initial request)
- perPage - the

[2022-07-18 15:43] N-Shar-ma commented on #19700
@zulipbot claim

[2022-07-18 16:41] gnprice commented on #4645
Adding a keyword for easier search: opengraph. (Though the [upstream](https://ogp.me/) name of the protocol is indeed "Open Graph".)

[2022-07-18 19:11] alya opened #22517 "Improve organization of contributor docs"
To make it easier to find the documentation you need, we should rearrange Zulip's developer docs in the following way.

## Name changes
1. Rename **Code contribution guide** -> **Contributing to Zulip**
2. Rename **Contributing to Zulip** -> **Contributing guide**.

## Organizational changes
Make the following changes to the newly-named **Contributing to Zulip** section:
1. Move **Contributing gui

[2022-07-18 19:12] alya commented on #22517
@drrosa Would you be up for taking care of this one?

[2022-07-18 19:12] alya commented on #22517
Also, @laurynmm FYI.

[2022-07-18 19:16] #22274 closed

[2022-07-18 20:10] alexmv commented on #22396
It's not clear what that would solve.  There aren't "results" to paginate, and it's not clear what the benefit of putting the browser in charge of triggering the work would do.  We want this work to proceed even if the client never shows up, or if they stop talking to the server.  That means that it's better suited to a background worker process, not any sort of pagination.

If there's any client

[2022-07-18 23:43] alya commented on #22512
Posted [in the development community](https://chat.zulip.org/#narrow/stream/9-issues/topic/delete.20message.20bug.20.28mobile.20web.29.20.2322512) for visibility/discussion.

[2022-07-18 23:50] raymond-UI commented on #19797
@alya
So I read through the thread and was able to curate and also design some icons - both for the Bot and others to better represent each item on the list, hopefully.

Not sure how best to present this (first time contributor);

Icon Design:
https://photos.app.goo.gl/BDzsEoag23bHbMH9A

Custom icon: Org profile

Microsoft license:  Bot , emoji, user group
https://github.com/microsoft/fluentui-sys

[2022-07-19 01:41] terpimost commented on #19797
I suggest to do another pass and try to make stroke style icon, since we are going to use them in future.
For bots I suggest to use this one https://fonts.google.com/icons?icon.query=smart+toy&icon.style=Rounded

[2022-07-19 03:09] jeremyherbert opened #22523 "Hide all organisation settings for non-admin/moderator users"
Hi,

I'm not quite sure why various organisation settings (user lists, etc) are available to non-moderator users, even if they can't be modified. Is there a legacy related reason for this? I'd like to be able to hide all of this so users just have their own personal settings.

[2022-07-19 04:15] terpimost opened #22524 "UI redesign: Compose box banners"
As part of the redesign we want to update styles banners.
Take a look at [Figma design](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=2451%3A185577) and also the page with [button components](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=2441%3A180180).
![image](https://user-images.githubusercontent.com/1903309/179663852-5d8dc08b-4bc9-4eda-96bb-9

[2022-07-19 06:21] DanielSank commented on #22441
The self signed cert flag did it. Thanks!

[2022-07-19 06:21] #22441 closed

[2022-07-19 08:22] jai2201 opened #22525 "compose: Indicate characters exceeding maxlength in message-edit UI."
we currently allow message bodies to exceed the maximum length, with UI for indicating to the user how many characters they need to remove.

Ideally, we would want to do the same for message edit UI and indicate the user how many characters they need to remove.

This is a follow-up for #22306
For more context - https://github.com/zulip/zulip/pull/22306#discussion_r922549058

[2022-07-19 12:03] laurynmm commented on #21949
Progress on this issue:
- 3rd bullet point done as of #22108
- 4th bullet point done as of #22457
- 2nd bullet point pending related issues being resolved (https://github.com/zulip/zulip/issues/22188 and https://github.com/zulip/zulip/issues/22136)

[2022-07-19 22:10] drrosa commented on #22517
Yeah, I'm up for it!

[2022-07-20 00:20] #22394 closed

[2022-07-20 00:32] #22136 closed

[2022-07-20 01:01] alexmv opened #22533 "Slack exports don't set UTF-8 flag on filenames"
Slack exports with non-ASCII channel names get exported as `.zip` files; in a zip file, each file path in it has a UTF-8 flag which can be set.  The Slack export `.zip` files apparently _don't_ set this bit, which causes `zipfile` to try to parse them as DOS codepage 437, and thus the file paths are corrupted mojibake.

We should adjust our use of `zipfile` in `zerver/data_import/slack.py` somehow

[2022-07-20 18:03] alya commented on #21806
@yogesh-sirsat I think you can go ahead and take over the work on this one.

[2022-07-20 18:15] alya commented on #21178
Yes, that sounds right to me!

[2022-07-20 18:25] alya opened #22537 "Make three-dot message menu options easier to understand"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/three-dot.20message.20menu/near/1406943), we should make the following improvements to the three-dot message menu:

- [x] Rename Edit -> Edit message, Collapse -> Collapse message, View source -> View message source for clarity, and to match the **Delete message** and **Copy link to message** options.

- [x] Split the Vie

[2022-07-20 18:39] alya opened #22538 "Group email notifications for resolved/unresolved topics into the same thread"
Resolving topics changes which thread messages are grouped into in email notifications, which is annoying for users. We should figure out how to fix this.

As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/resolved.20topics.20in.20email.20digests/near/1407208), the first step is to investigate whether or not emails with the subject `[resolved] {original topic}` get gro

[2022-07-20 19:38] #22510 closed

[2022-07-20 20:39] alya commented on #22523
Thanks for the feedback, @jeremyherbert !

This is a deliberate product choice, as the information may be useful to non-admin users even if they cannot modify it. E.g. they can see what linkifiers an organization has, or ask an admin to change some setting they think is causing problems.

Could you say a bit more about your organization and why you are concerned about showing organization settings

[2022-07-20 20:57] asah commented on #21178
@alya on second thought... I researched this:
 - "Set yourself as unavailable" => "Turn on/off invisible mode" is trivially changed [here](https://github.com/zulip/zulip/blob/main/static/templates/user_info_popover_content.hbs#L59). Looking at the code, IMHO there's no reason to make other changes.
 - I don't see any backend migration work - UserPresence is controlled by two fields in [UserPresenc

[2022-07-20 22:12] alya commented on #21178
Ah, got it, thanks for looking into it @asah !

@laurynmm perhaps you could take this one on once #22387 is merged?

[2022-07-21 00:56] jeremyherbert commented on #22523
Hi @alya

Use case is that I have a university course where students are split into teams, where each team has one private stream but a few administrator/moderator users have access to all streams. There are two main reasons that I want to hide the organization settings:

- I don't want students to be able to see who else is on the server, other than their own team. Mainly the problem here is the

[2022-07-21 01:01] RalfJung commented on #17903
I just had that again, and I know for a fact that the topic in question received messages only a few hours ago.

After switching to a different browser tab and back, the missing topic then eventually appears.

[2022-07-21 10:09] akarsh-jain-790 commented on #22537
@zulipbot claim

[2022-07-21 11:54] davidtwco opened #22543 "Translation of messages"
For some communities, it is desirable to be able to include users who don't speak the dominant language in the community, or whose ability in the dominant language might inhibit full participation. If Zulip had the ability to translate a message to the user's default language then this would make it more feasible for communities to include these users and have discussions across languages.

This f

[2022-07-21 19:19] PIG208 opened #22552 "cache: `post_save` signal race condition on `RealmEmoji`"
We use the `post_save` to flush the realm emoji cache whenever we call `realm_emoji.save()`. The signal handler `zerver.models.flush_realm_emoji` flushes the cache whenever this signal is triggered. However, the value of the cache can be invalid when the file name is `None`.

To replicate, add an assertion `assert realm_emoji.file_name is not None` in `get_realm_emoji_dicts` before `emoji_url = ge

[2022-07-21 20:17] alya opened #22556 ""View stream" button not shown for new private streams"
At present, when a new private stream is created, the "view stream" button in the upper right is not shown until the page is reloaded. If the stream creator is subscribed to the stream, they should be able to see the "view stream" button right away.

[2022-07-21 20:36] alya commented on #22543
Thanks for the suggestion @davidtwco ! I posted it in the Zulip development community for discussion: https://chat.zulip.org/#narrow/stream/137-feedback/topic/translation.20of.20messages.20.2322543.

[2022-07-21 21:35] timabbott commented on #22510
Thanks for the report @edgarcosta! The issue was a subtle thing where the language override was there, but had ended up running at the wrong time :)

[2022-07-21 22:25] Rixant commented on #22556
@zulipbot claim

[2022-07-22 12:22] akarsh-jain-790 commented on #22537
@alya Is this the desired result:

![n2](https://user-images.githubusercontent.com/72064462/180437893-b20504e1-d645-4b28-8e08-c85853fd8258.PNG)
![n1](https://user-images.githubusercontent.com/72064462/180437896-e90bfe0a-dbfe-487a-bff3-17e2c97bd862.PNG)

[2022-07-22 17:00] ganpa3 commented on #22205
@zulipbot claim

[2022-07-22 17:10] Alexendoo opened #22562 "It's possible to double send messages"
I clicked (no keyboard shortcut) the `Send` button twice in quick succession when replying to a topic and it sent the message twice

[2022-07-22 17:32] edgarcosta opened #22563 "Handling long names in a narrow window"
The name overlaps the message, see the screenshot:
<img width="549" alt="Screen Shot 2022-07-22 at 11 30 23" src="https://user-images.githubusercontent.com/322822/180493147-4fa37291-d7de-4906-9321-29f9212b97dc.png">

[2022-07-22 18:44] #21628 closed

[2022-07-22 18:48] alya opened #22564 "Improve folder upload error"
At present, dragging a folder to the compose box produces an "unknown error" message:

<img width="974" alt="Screen Shot 2022-07-20 at 2 46 38 PM" src="https://user-images.githubusercontent.com/2090066/180504093-876d3851-8515-4da2-948b-47a6a2fac40f.png">

Instead, we should make it clear to the user what happened: "A folder can't be uploaded. Instead, please upload the files you need."

[CZO discu

[2022-07-22 19:50] alya opened #22565 "Uneditable topic field should not be clickable"
When a user can't edit the topic of the message, the **edit/view source** message view correctly shows a greyed out topic field. However, this field **incorrectly** has a click behavior. We should fix this.

<img width="838" alt="Screen Shot 2022-07-21 at 11 36 55 PM" src="https://user-images.githubusercontent.com/2090066/180516934-eb177c2f-45f2-4e07-b54f-d34f81868513.png">
<img width="860" alt="S

[2022-07-22 20:02] alya opened #22566 "When viewing message source, do not show topic when stream and topic are not editable"
When a user can't edit the stream or topic of a message, the "View source" UI still shows a greyed out topic box. That topic box does not serve a purpose, and should not be displayed.

<img width="958" alt="Screen Shot 2022-07-22 at 1 05 51 PM" src="https://user-images.githubusercontent.com/2090066/180519080-adc7456e-b2cd-4464-86a9-fbedd899df3c.png">

Note that we'll still show a greyed out topic

[2022-07-22 20:08] alya commented on #22566
Marking this issue as high priority, because I'm considering it a blocker for part of #22537.

[2022-07-22 21:43] nelsonmic commented on #22565
Hello there 😃, you could try using this cool bug reporting tool [birdeatsbug](https://birdeatsbug.com/) to help you handle bug reports.

Get steps to reproduce
Logs
Clicks
Network errors
And you could share all of that here so that it's easy to see what happened and get to fixing it. Do check it out :-)

[2022-07-22 22:09] timabbott commented on #22524
So I think as part of working on this, we should stop using the Bootstrap `alert` class for these elements, and just define a new `compose_error` CSS class for this, and migrate the `compose_error.show` module to use this new style, as well as the half-dozen larger templates that use the same styling that have their own template with the `home-error-bar` class.

More generally, to the extent possi

[2022-07-22 22:24] jmandel opened #22569 "Links with single quotes and parens can fail"
Putting the following in a zulip message results in an error:

OK:
[code]

Mis-parsed:
[code]

This latter example renders at:

![image](https://user-images.githubusercontent.com/313089/180576241-3b409ed7-e34f-44e5-9634-dd93d42572f0.png)

FWIW all three of these links are parsed correctly by GitHub markdown:

[example with parens](https://example.org?a=())
[example with single quote](https://examp

[2022-07-22 22:28] #21805 closed

[2022-07-22 22:46] #21776 closed

[2022-07-22 23:13] andersk opened #22572 "Settings → preview profile → close fails to go back to settings"
If you open ⚙️ → **Personal settings** → **Profile** → **Preview profile**, the settings modal closes and the profile modal opens. If you then close the profile modal, we have some code that’s supposed to reopen the settings modal:

https://github.com/zulip/zulip/blob/768d7630af63da2cf8c7ae7bf079ab9f032e880c/static/js/settings_account.js#L721-L733

However, this was broken by 7a505e3857bbec1a8dd86

[2022-07-22 23:38] #21001 closed

[2022-07-22 23:57] #22482 closed

[2022-07-23 00:09] #21266 closed

[2022-07-23 06:22] madrix01 commented on #22565
@alya I'm working on this issue.

[2022-07-23 13:57] RalfJung commented on #17903
And today it happened again with [this post](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/Optimizing.20FAA.280.29.20to.20a.20load.20--.20is.20it.20legal.3F/near/290583438) not making the thread show up in my "recent topics", even after waiting a bit on the recent topics page, and switching tabs a few times.

I am getting increasingly worried that I

[2022-07-24 07:00] jai2201 commented on #22566
@zulipbot  claim

[2022-07-24 07:31] jai2201 commented on #22565
Had a talk with @madrix01 , since I already fixed #22565, so I'm picking up this too to fix on high-priority.

[2022-07-24 07:31] jai2201 commented on #22565
@zulipbot claim

[2022-07-24 15:35] Rixant commented on #22564
@zulipbot claim

[2022-07-25 14:04] PIG208 opened #22582 "integrations: Ensure that logo_url is available for all integrations."
[code]
Currently, `logo_url` of `Integration` is typed as `Optional[str]`. We do have `logo_url` for most of the integrations, but not the embedded ones. Adding an assertion `assert_is_not_none(self.get_logo_url())` will break the test cases.

We need to make sure that the logos are available under `static/images/integrations/logos` as either `svg` or `png` for embedded bots listed below:

[code]

[2022-07-25 14:06] PIG208 commented on #22582
@zulipbot add help-wanted integrations

[2022-07-25 14:07] PIG208 commented on #22582
@zulipbot add "area: integrations" "help wanted" "area: documentation (api and integrations)"

[2022-07-25 19:01] glenams opened #22585 "Incoming email to stream gets cut off or truncated when headers are forwarded inline"
We are running Zulip 5.3 using the normal dedicated server setup.  We have incoming email enabled, and the stream addresses subscribed to some of our email lists, so that those lists can be mirrored and viewed in Zulip streams.  There is an edge-case situation where Zulip's incoming mail processor cuts mail off if it detects a From: header inline.   If a user receives an email message, and then fo

[2022-07-25 23:05] drrosa commented on #22517
@alya
Should we also rename the **Contributing to Zulip** link in the footer of the zulip.com homepage to **Contributing guide**?

<img width="180" alt="image" src="https://user-images.githubusercontent.com/2343554/180888122-8c379f94-ab48-43f8-b2de-aa7b3856f06e.png">

and if so, all the translated `msgstr` values in the `.po` language resource files should be replaced with an empty string `""`, co

[2022-07-25 23:53] #22161 closed

[2022-07-26 11:04] ganpa3 commented on #22572
#22588

[2022-07-26 14:33] asah commented on #22585
@alya if you agree this is a bug, I can probably fix it quickly (or at least diagnose, etc).

[2022-07-26 16:54] timabbott commented on #22437
@andersk can you investigate this one?

[2022-07-26 17:06] timabbott commented on #22223
Thanks for the report! I'd really appreciate if you can figure out what you typed the next time this happens. Is it possible your the `CMD` key is being pressed accidentally here? `CMD+A` is a built-in browser shortcut to select all text in an input field, and I suppose if you later hit `CMD+[`, that'd close the compose box, but that doesn't feel like a likely sequence to happen by accident.

I'm

[2022-07-26 17:23] #22239 closed

[2022-07-26 17:28] alya opened #22590 "Add cross-links to help center pages about linking to Zulip"
We should:

- [ ] On https://zulip.com/help/link-to-a-message-or-conversation, add a link to https://zulip.com/help/linking-to-zulip in the "Related articles" section.
- [ ] On https://zulip.com/help/linking-to-zulip, replace the "Link to a stream or topic" section with a regular "Related articles" link to https://zulip.com/help/link-to-a-message-or-conversation

[2022-07-26 17:29] alya commented on #22590
@drrosa would you be up for putting up a quick PR for this one?

[2022-07-26 17:34] alya commented on #22585
@asah it would be great if you could look into this!

As a bit of additional info, only the `.show-sender` [configuration option](https://zulip.com/help/message-a-stream-by-email#configuration-options) was set in the stream email. Perhaps our footer removal code was overly aggressive here?

[2022-07-26 17:49] asah commented on #22585
@zulipbot claim.

reproduced locally in test.  ("foo" is a placeholder - note how the original email is truncated, as per bug report)

[code]

[2022-07-26 17:53] alya opened #22591 "Document deleting a user group"
https://zulip.com/help/user-groups does not document deleting a user group. We should fix this.

[2022-07-26 17:53] alya commented on #22591
@drrosa hopefully a quick one for you to take a look at.

[2022-07-26 18:38] alya commented on #22563
Thanks for the report! Replicated in the development environment. In particular, I saw this happening in a narrow-ish window, but not once it's even more narrow.
![Screen Shot 2022-07-26 at 11 37 23 AM](https://user-images.githubusercontent.com/2090066/181085553-fe1a3443-663b-4ef7-bc48-a26ebe94af8a.png)

[2022-07-26 18:41] alya commented on #22563
The name should never move the position in those screenshots; it should remain in the same position as in wide windows, and be abbreviated when it does not fit. We do this in the most narrow windows:
![Screen Shot 2022-07-26 at 11 40 48 AM](https://user-images.githubusercontent.com/2090066/181086141-e6cabe19-5676-4238-bd23-15a3ae52fa0e.png)

[2022-07-26 18:57] alya commented on #22562
Thanks for the report, @Alexendoo !

@amanagr any thoughts on this one?

[2022-07-26 18:58] alya commented on #22537
@akarsh-jain-790 yes, those look great!

[2022-07-26 20:12] alya commented on #17903
@amanagr any hypotheses or follow-up questions on this one?

[2022-07-26 21:56] andersk commented on #22437
I can’t reproduce this, on the same version (5.3 based on the venv hash) or latest (5.5), unless I deliberately sabotage the locale configuration:

[code]

What host system is running your containers? Are you using docker-compose? What version of Docker?

[2022-07-26 22:27] alya opened #22593 "Improve wording of the "Delete user group" confirmation modal"
Current:
![Screen Shot 2022-07-26 at 10 44 18 AM](https://user-images.githubusercontent.com/2090066/181122613-b55f40e1-f5db-41dd-bbdf-c9e2a39ae939.png)

New:

- Heading: Delete `<group name>`?
- Text: This action cannot be undone.

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/delete.20user.20group.20confirmation.20modal)

[2022-07-26 22:58] asah commented on #22585
@alya @glenams I dug into the code, and apparently this seems to be the expected behavior ([test case](https://github.com/zulip/zulip/blob/426f8ce385f66cbf2d016449e6e894b8d4dddd04/zerver/tests/test_email_mirror.py#L1215) - "--- Original Message ---" and the like are intentionally clipped)

@glenams can you run a test for me?  try adding .include-quotes to the To: email address, i.e. the email addr

[2022-07-26 23:26] drrosa commented on #22590
@zulipbot claim

[2022-07-26 23:29] drrosa commented on #22590
It looks like this one is already done.

<img width="329" alt="image" src="https://user-images.githubusercontent.com/2343554/181129148-65566416-1920-4371-8680-eaae88a6d317.png">

[2022-07-26 23:40] glenams commented on #22585
Hi @asah - thank you for your response.  What you say makes sense and I am happy to try a test.  Before I do so, I have a question.  Here https://mailarchive.ietf.org/arch/msg/bmwg/PtFO_y8nras_iykb9LPd4Vz6gXI/ we have an email that is largely quotes.  It was ingested via the same options-based email address to the same list as my original example.  Yet, it rendered like this:

![Zulip7](https://us

[2022-07-27 00:00] #21410 closed

[2022-07-27 00:03] #20973 closed

[2022-07-27 00:04] #22198 closed

[2022-07-27 00:36] Rixant commented on #22593
@zulipbot claim

[2022-07-27 01:09] Rixant commented on #22593
@zulipbot claim

[2022-07-27 04:24] amanagr commented on #17903
I mentioned it in my first response:

Since the user has `Participated` filter selected at all times, the topic will only be displayed in recent topics when the message which was sent by the user in the topic is present locally. So, if the last message sent by the user in that topic is say 2000 messages back, then the user will not see that topic in recent topics while participated filter is activ

[2022-07-27 05:02] Rixant commented on #22563
@zulipbot claim

[2022-07-27 05:06] amanagr commented on #22562
Last discussion we had about this - https://chat.zulip.org/#narrow/stream/9-issues/topic/double.20send.20bug

@Alexendoo on which server did you face this bug and on which device? How was your network connectivity when this happened?

https://github.com/zulip/zulip-mobile/issues/2374 has some great theories about this too.

[2022-07-27 06:10] alya commented on #22517
Mm, good question! I think renaming that link makes sense.

Nope, those are sync'ed automatically from Transifex. You should never modify them directly.

[2022-07-27 06:35] alya commented on #22585
I think at a minimum, we'll need to follow up by clarifying the help center documentation once we have a solid understanding of how this works.

[2022-07-27 06:35] alya commented on #22585
Really appreciate you digging into this, @asah, @glenams !

[2022-07-27 06:38] alya commented on #22590
Oh, you're right! I think I missed it because the naming didn't match the sidebar, which your PR fixes. :)

[2022-07-27 07:02] chobeat commented on #22437
Hello, hope these infos will help:

`docker-compose version 1.27.4`
`docker version 20.10.17, build 100c701`
[code]

[2022-07-27 08:54] asah commented on #22562
@amanagr random idea: what if the send-message logic looked at recently (60 seconds?) sent messages from the same {sender, topic, recipient/huddle/stream}, and if the message contents were *exactly* the same, then refused to send again? (silent ignore? throw error?)

[2022-07-27 08:54] asah commented on #22562
@amanagr random idea: what if the send-message logic looked at recently (60 seconds?) sent messages from the same {sender, topic, recipient/huddle/stream}, and if the message contents were *exactly* the same, then refused to send again? (silent ignore? throw error?)

[2022-07-27 09:03] asah commented on #22585
@glenams totally re IETF nerds :-)  I ran your [other example](https://mailarchive.ietf.org/arch/msg/bmwg/PtFO_y8nras_iykb9LPd4Vz6gXI/), and it worked for me as well, I believe because the original message was broken-up and the replier added "Yes! I accept this proposal" inline. These smarts are provided by the [Talon library](https://github.com/zulip/talon), which uses a neural net to heuristical

[2022-07-27 11:49] Alexendoo commented on #22562
The message was in the rust server - https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/Implementing.20format!.20var.20capturing.20.20conversion/near/290538352 (duplicate deleted)

It is from a desktop, windows 10, chrome browser. My network was working fine, the double click was accidental with a particularly small delay between them

I managed to reproduce it in https://chat.zuli

[2022-07-27 11:56] amanagr commented on #22562
@Alexendoo this is very useful, I was able to reproduce too.

[2022-07-27 13:02] amanagr commented on #22562
@gnprice @timabbott FYI https://github.com/zulip/zulip/issues/22562#issuecomment-1196625380

[2022-07-27 13:03] amanagr commented on #22562
Although, this could be a different message double send bug than that most people experience.

[2022-07-27 16:35] alya commented on #21750
@terpimost could you clarify how the top bar should look in a wide window? In the version prototyped #22430, the transition from the limited-width bar to the grey background looked odd to me:
![Screen Shot 2022-07-27 at 9 34 56 AM](https://user-images.githubusercontent.com/2090066/181301651-2eb25e72-6cb6-4b67-a3dd-fd6830761cdf.png)

[2022-07-27 16:45] alya commented on #19396
After testing this, we have decided not to pursue this direction. Thanks @m-e-l-u-h-a-n for your work -- it definitely helped us clarify what we wanted to do!

[2022-07-27 20:45] #22590 closed

[2022-07-27 20:53] #22585 closed

[2022-07-27 20:54] timabbott commented on #22585
Thanks for the debugging @asah! I merged #22599, but did not intend for that to close this, since we may want to make documentation changes as well.

@alya thoughts on reopening this vs. opening a new clean issue with just the documentation change we want to make?

[2022-07-27 23:03] #19876 closed

[2022-07-27 23:07] #22308 closed

[2022-07-27 23:15] #22338 closed

[2022-07-28 01:33] andersk commented on #22437
Hmm. I set up a CentOS 7 host system with the same versions and I’m still unable to reproduce.

What does this output for you?

[code]

[2022-07-28 02:07] terpimost commented on #21750
@alya I thought that would be another pass/commit. Here are the refes:
Centered
![image](https://user-images.githubusercontent.com/1903309/181404532-15f6d627-c645-4bba-9759-e7d2f8625990.png)

Wide:
![image](https://user-images.githubusercontent.com/1903309/181404553-0fd001aa-8f41-4377-8ec1-2857645bf653.png)

Notice there is no gap between the top bar and messages like here:
<img width="978" alt="i

[2022-07-28 12:53] ifastnet opened #22608 "upgrade from git fails,"
Hi all,

Tied to do an upgrade of zulip from git to git most recent and it fails with the following error.

root@team:/home/zulip/deployments/2022-07-28-12-57-37# ./scripts/lib/upgrade-zulip-from-git main
2022-07-28 12:39:07,665 upgrade-zulip-from-git: Fetching the latest commits
2022-07-28 12:39:10,304 upgrade-zulip-from-git: Upgrading to f26479577061fcd599061f90f33c29d87d1e72ab, in /home/zulip/d

[2022-07-28 16:44] #22593 closed

[2022-07-28 17:45] alya opened #22619 "Update documentation on stream email address"
We should update https://zulip.com/help/message-a-stream-by-email once #20985 is completed.

The documentation should also describe in more detail how `.include-footer` behaves, to avoid the behavior being unexpected for users (#22585).

[2022-07-28 17:45] alya commented on #22585
Filed #22619; let's take care of it when https://github.com/zulip/zulip/pull/20985 is done.

[2022-07-28 21:09] timabbott commented on #22608
Fixed in f04acc6040884fb9df5c2c3b6a45db386c82177c, thanks for the report!

[2022-07-28 21:09] #22608 closed

[2022-07-28 21:15] #21978 closed

[2022-07-28 21:17] alya commented on #18280
@asah would you be interested in looking into this one?

[2022-07-28 21:20] timabbott commented on #20600
@ganpa3 I think 507dc0127c7aeaaebb1df4b044b9061679bd1be3 fixed some of the bug here -- can you check whether we still have an inconsistency between the "streams" and top-left area?

[2022-07-28 21:20] timabbott commented on #20600
It is possible the remaining hunk in https://github.com/zulip/zulip/pull/21197 is helpful; I'm not sure, as that PR unfortunately does not have an informative commit message.

[2022-07-28 21:40] timabbott commented on #21645
A few technical notes:
* `static/js/recent_senders.js` is an adjacent data module; reading the compose typeahead code for how that module is used should help one figure out how the existing logic for mentions works.

[2022-07-28 21:55] #19967 closed

[2022-07-28 22:38] RalfJung commented on #17903
Oh, it as not clear to me that "recent" meant something like "the last 2k messages". I thought it mean "in the last 14 days" or so. On a server with thousands of messages every day, this notion of "recent" means it becomes very random which topics are actually shown, doesn't it?

Without selecting "participated", the "recent topics" list is entirely useless to me. There was a feature request a whi

[2022-07-28 23:10] alya opened #22621 "Stream link in Recent Topics should turn on stream filter"
As a follow up to #18645, clicking on a stream name in Recent topics should turn on stream filtering for that stream.

If filtering only allows a single stream, and a filter for stream A is set, clicking on stream B should replace it.

This is an updated solution to the user problem described in #22159:

[2022-07-28 23:10] alya commented on #22621
Blocked on #18645, so not marking this as "help wanted" at present.

[2022-07-28 23:11] alya commented on #22159
Closing in favor of #22621.

[2022-07-28 23:11] #22159 closed

[2022-07-28 23:34] timabbott commented on #19523
OK, so I need to update the plan for this issue, since it appears that last checklist does not have the current implementation plan (as well as a few inaccuracies / overcomplicated ideas that we don't want to do). I think it should be mostly safe to not read the above. In short, we have the following implemented thus far:
* [x] We add a new demo_organization_scheduled_deletion_date field on the Re

[2022-07-29 01:42] luisaadanttas commented on #22591
@zulipbot claim

[2022-07-29 01:49] Rixant commented on #22334
@zulipbot claim

[2022-07-29 05:04] ysulyma commented on #21645
@zulipbot claim

[2022-07-29 05:07] ysulyma commented on #21645
@timabbott thanks! I fixed the bug in the UI, but it broke the `initialize` test of `composebox_typeahead` due to `this.$element` not existing. So I need to figure out what happened there, and then add my own test. Is `this.$element` a Bootstrap thing?

[2022-07-29 09:17] ganpa3 commented on #20600
The 3-dots on hover of the top left sidebar are lighter in color than streams sidebar (introduced in 59b0776c5309bd3d29eb22315f1ae85b7aa79553). Which one should we keep here?

[2022-07-29 13:32] sutidor commented on #21146
Same error, +1. Did you resolve this?

[2022-07-29 14:27] lmeasr commented on #21146
No I have not. We still get this alert randomly. I have not had time to investigate it further. In our system, the database is on the same VM as the linux server. So it seems odd that it would be a connection issue to the database.

I'd be interested if you come up with anything.

[2022-07-29 15:00] sutidor commented on #21146
Inspired by
https://github.com/zulip/zulip/issues/11788
I added this configuration
https://zulip.readthedocs.io/en/latest/production/email.html#troubleshooting
because (mentioned in these docs)
https://medium.com/intigriti/how-i-hacked-hundreds-of-companies-through-their-helpdesk-b7680ddc2d4c

[2022-07-29 16:35] timabbott commented on #21645
Can you post a draft pull request? That'll make it easier to discuss the test issue.

[2022-07-29 19:43] Khushiyant commented on #22464
@zulipbot claim

[2022-07-29 19:52] Khushiyant commented on #22464
@zulipbot abandon

[2022-07-29 20:12] Khushiyant commented on #22464
@zulipbot claim

[2022-07-29 20:12] Khushiyant commented on #22464
@alya #22505 is ready

[2022-07-30 06:03] asah commented on #18280
reproduced on CZO just now, see screenshot. Easy to see how this bug went unnoticed: text is light gray, the screen is quite busy and new users don't know it's a bug.

<img width="1070" alt="image" src="https://user-images.githubusercontent.com/140002/181877040-99b5dd23-8025-4b27-96ed-fc8cabbe493a.png">

[2022-07-30 06:09] asah commented on #18280
also reproduced in dev environment (new user account), see attached.
<img width="1196" alt="image" src="https://user-images.githubusercontent.com/140002/181877193-04ae45eb-2bac-4534-afeb-bc1a3eca7c3d.png">

@zulipbot claim (bugs that can be reproduced usually get solved quickly, or at least diagnosed...)

[2022-07-30 06:10] asah commented on #18280
@alya looks like this need [help wanted](https://github.com/zulip/zulip/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22help+wanted%22) label.

[2022-07-30 06:43] asah commented on #18280
Bug is triggered in [message_list_view.js#L370](https://github.com/zulip/zulip/blob/main/static/js/message_list_view.js#L370):

Looks like this bug pre-dates the [latest refactoring](https://github.com/zulip/zulip/commit/0a614fe98518d708813755e8855b07db1f867d79) - here's proof:
<img width="1212" alt="image" src="https://user-images.githubusercontent.com/140002/181878256-29c696c2-f191-46ce-9d93-5fa

[2022-07-30 07:01] yuroitaki commented on #22438
@zulipbot claim

[2022-07-31 05:29] ganpa3 commented on #22454
@alya I guess this issue can be closed since #22576 is merged.

[2022-07-31 07:09] cognusion opened #22636 "Realm is not always passed"
This conditional assumes the realm is valid, and it is not always.

https://github.com/zulip/zulip/blob/58d1be8085c5278de1f94087c1a8c848968cd58f/zerver/lib/subdomains.py#L73

[2022-07-31 15:47] brijsiyag commented on #21870
I'm working on this issue.

[2022-07-31 17:29] ganpa3 commented on #22205
@alya #22637

[2022-07-31 18:16] asah commented on #18280
@zulipbot add "help wanted"

[2022-07-31 19:00] joshtriplett commented on #15159
It may make sense to allow individual members to generate invite links that only work once, for one expected user. That would not give any capabilities they don't already have.

[2022-07-31 19:20] luisaadanttas commented on #22525
@zulipbot claim

[2022-08-01 00:08] #22033 closed

[2022-08-01 00:33] #22194 closed

[2022-08-01 05:32] amanagr commented on #17903
Continued discussion in https://chat.zulip.org/#narrow/stream/2-general/topic/recent.20topics.20load.20more.20.2319151

[2022-08-02 09:00] muhammednoufali commented on #3618
is there any progress on this

[2022-08-02 13:02] N-Shar-ma commented on #20213
@alya For the separator between task and it's description in the `/todo` syntax, in my opinion, `-` might be more intuitive than `:` since the dash is what is used as the separator in the todo widget. Or even better, maybe we could change the separator used in the widget to `:`. I feel the separator should be consistent in the `/todo` syntax as well as the widget. And since `:` is used less often

[2022-08-02 14:27] jabrcks opened #22649 "(audio/voice) huddle function"
For collaboration it would be a great feature if Zulip supports (audio) huddles like known by other similar chat programms (Slack, Discord, TeamSpeak). Huddle could be available per stream. A user can start huddle - a audio or video conversation room - in a stream and others who want to collaborate or just have some personal voice chat can decide to join.

[2022-08-02 22:55] #19700 closed

[2022-08-03 00:39] asah commented on #21889
@alya there appears to be many more UI changes for orgs where PMs are disabled - WDYT about closing this issue and opening a fresh one for that more comprehensive project?  [CZO discussion](https://chat.zulip.org/#narrow/stream/6-frontend/topic/private.20messages.20disabled.20-.20but.20all.20over.20UI.20.3F) - if so, I'll add the TODO list and start working through it...

[2022-08-03 20:27] alya opened #22657 "Add organization setting for enabling/disabling read receipts"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/read-receipts.20UI.20.2318935/near/1413539), before we can merge the read receipts feature (#18935), we need to add an organization setting to control whether read receipts are turned on.

- Setting: "Enable read receipts." It should also say (probably on the next line): "Users can always disable their personal read recei

[2022-08-03 21:01] alya opened #22658 "Improve wording for "Archive stream" confirmation modal"
Updates to make:

- **Heading**:  "Archive stream Scotland" -> "Archive stream #Scotland?" Ideally, this would use the appropriate stream privacy symbol (hash/globe/lock), but we should do that as a follow-up if it's difficult.
- **Body**:
  - "Archiving stream Scotland..." -> "Archiving stream #Scotland..." (same comment about the privacy symbol as above)
  - Delete this line: "Are you sure you w

[2022-08-03 21:14] Rixant commented on #22658
@zulipbot claim

[2022-08-03 21:16] alya commented on #21889
@asah An overall todo list was noted in [this comment](https://github.com/zulip/zulip/pull/21684#issuecomment-1106037006), but making an issue to track this project is definitely a good idea, since I just took me five minutes to find that comment even though I remembered writing it. ;)

I won't close individual issues, but I'll consolidate that comment with the CZO discussion you linked above into

[2022-08-04 11:07] alya opened #22659 "Improve "Who can use private messages" setting"
At present, the "Who can use private messages" setting (see [help page](https://zulip.com/help/restrict-private-messages)) is in beta, because some UI improvements are required before the feature can be considered fully ready. This issue outlines the steps we want to take to improve this feature, so that we can better track and prioritize the work.

Blockers for removing the "beta" flag from the h

[2022-08-04 11:19] alya opened #22660 "Disable "New private message" button when user does not have permissions to send PMs"
When a user may not send private messages (see https://zulip.com/help/restrict-private-messages), we should disable the "New private message" button in the compose box. Tooltip: "You are not allowed to send private messages in this organization." (cf. #21889); we should try it and see if it's too long.

Note that users would need to use an alternate method to send messages to a bot, which would st

[2022-08-04 13:58] xpufx commented on #21603
Not really. I as the sender have the same issue in figuring out where one attachment name ends another starts too.  Aren't there plans to make the upload workflow a bit more robust? With attachment icons and instant previews and/or thumbnails maybe? I think this is one area zulip is lagging behind compared to the competition. On desktop and mobile I really try to pay attention nowadays because I'v

[2022-08-04 15:15] alya commented on #20918
@drrosa would you be up for taking this one?

[2022-08-04 19:14] bootlegyaga commented on #19596
Any update on this error? We are having the same problem, only difference is we are running on Zulip 6.0 instead.

[2022-08-04 20:27] drrosa commented on #20918
@zulipbot claim

[2022-08-04 20:57] alya commented on #20600
@ganpa3 @timabbott Just to let you know, I am not able to answer the question above, and I'm assuming you guys are figuring out how to resolve this unless I hear otherwise. :)

[2022-08-05 00:44] #21015 closed

[2022-08-05 03:18] jai2201 commented on #21637
@zulipbot  claim

[2022-08-05 09:08] kelaci commented on #9081
Up!
+

[2022-08-05 13:28] RalfJung opened #22664 "What is the classification of streams in the left sidebar?"
The sidebar on the left lets me "pin" streams. But there seems to be another distinction Zulip is making, since the list of streems is separated into *three* categories:
- pinned
- unpinned
- ???

I have yet to figure out what that last category is about. I thought it might have to do with activity, but I have sometimes looked for streams with recent discussions in them and ended up finding them i

[2022-08-05 13:30] RalfJung commented on #22664
I have now found https://rust-lang.zulipchat.com/help/manage-inactive-streams, so it seems my initial guess about activity was right. But then this seems to be buggy, since some streams in there had more recent activity than other streams that are not demoted. Maybe that's another instance of https://github.com/zulip/zulip/issues/17903? This is in the same large high-traffic instance, where Zulip

[2022-08-05 14:12] Rixant commented on #22658
@ganpa3 @alya, I was working on this issue?

[2022-08-05 20:55] yogesh-sirsat commented on #22460
@zulipbot claim

[2022-08-05 22:55] #22658 closed

[2022-08-06 00:26] #21634 closed

[2022-08-06 17:10] zaid-ahmad commented on #19055
claim

[2022-08-06 17:11] zaid-ahmad commented on #19055
@zulipbot claim

[2022-08-06 17:21] zaid-ahmad commented on #19055
Hey @WesleyAC

Where can I find the CSS file? _I am new to open source so I apologize in advance for the stupid question 😅_

[2022-08-06 17:54] zaid-ahmad commented on #19055
Hey @WesleyAC

It seems that the issue has already been resolved since the text above "[More...]" has been hidden completely when the user collapses a message.

## A sample message with large body text.
![test1](https://user-images.githubusercontent.com/39582467/183260319-2c815fc2-2a39-4eea-bf34-2e538d116f0b.png)

## Collapsed message

![test2](https://user-images.githubusercontent.com/39582467/18

[2022-08-07 02:51] punkdit opened #22671 "Inline image size"
I'm a member of a [mathematics zulip](https://categorytheory.zulipchat.com/), and we often need to show graphical calculations in discussions. These get difficult to read along with explanatory text because inline images have a tiny fixed size (100x150 px ?). For example:

![zulip](https://user-images.githubusercontent.com/8611068/183272763-f84cd3b3-f5ad-4a0a-91b0-28bed6fa9361.png)

Can we double

[2022-08-07 02:55] #21654 closed

[2022-08-07 03:46] #21599 closed

[2022-08-07 04:41] #18943 closed

[2022-08-07 04:59] #19812 closed

[2022-08-07 05:28] #19973 closed

[2022-08-07 09:02] yuroitaki commented on #19054
@zulipbot claim

[2022-08-07 13:09] RalfJung opened #22672 "Zulip search is missing results"
Just now I was trying to find [this message](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/sess.2Ecrate_types.28.29.20vs.20sess.2Eopts.2Ecrate_types/near/290682847) again. I thought I knew some of the keywords I used in that message, so I searched for "sess opts", and didn't find anything. So imagine my surprise when I realized that both of these terms actually do appear i

[2022-08-08 01:34] drrosa commented on #13696
If I'm understanding the problem correctly, I think we should swap https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html#windows-10 with https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-windows-10-with-wsl-2, and rename the sidebar titles:
**Recommended setup (Vagrant)** -> **Recommended setup**
**Advanced setup (non-Vagrant)** -> **Alte

[2022-08-08 11:20] devurandom commented on #22338
I think support for the new format is not entirely complete yet.

Template (default, "revert changes" is greyed out):
[code]

Preview:
[code]

Rendered by Zulip as:
![image](https://user-images.githubusercontent.com/63082/183406381-9e3ab3a0-0a55-4288-995a-0a799e898c24.png)

[2022-08-08 13:54] ebecaf opened #22678 "Feature Request - List of Subscribers on Mobile"
Hi,

We've been using Zulip for a little over a year now and while it is very good, there are some user experience issues.

The one I would like to improve upon today is information presented to (all) users.

Please can there be a list of the Subscribers for each Stream in the information screen for each Stream on mobile devices?

I hope this isn't a big request, as obviously that information is a

[2022-08-08 14:35] ebecaf commented on #22678
Moved to existing issue: https://github.com/zulip/zulip-mobile/issues/3656#issuecomment-1208212777

[2022-08-08 14:35] #22678 closed

[2022-08-08 21:38] liam-mulhall commented on #22422
@guillaumesoucy94, how did you "retry the setup"? I'm experiencing this issue and I'm not sure what to do.

[2022-08-08 23:06] dootMaster commented on #22678
I'd like to pair/shadow the assignee of this issue.

[2022-08-09 04:05] namse commented on #9081
It looks like you're working on a PR here (https://github.com/zulip/zulip/pull/20449), but nothing seems to have been done since January 2022.

This is a really useful feature, I don't know why it's taking so long.

[2022-08-09 07:36] Manish4044 commented on #22563
@zulipbot claim

[2022-08-09 10:12] jai2201 commented on #21724
@zulipbot  claim

[2022-08-09 11:05] laurynmm opened #22682 "Update file upload backend for extra information like charset"
As a follow-up to #22640 (and related to #22617), update file upload backend process to not lose the extra information like the charset in `text/plain; charset=UTF-8`, which is potentially available via `UploadedFile.content_type_extra dict`. See [this PR comment](https://github.com/zulip/zulip/pull/22640#discussion_r938117999) for more context.

[Django's UploadedFile documentation](https://docs.

[2022-08-09 11:26] laurynmm opened #22683 "Add optional `dialog_widget` feature to activate "Confirm" button on state change"
For modals like "Change email" (see screenshot below), it would be useful for the submit button ("Change" in the screenshot, but often "Confirm") to require the user to change the state of the setting before becoming clickable/active.

The idea is to add an optional `dialog_widget` feature to require that the user change the state of the setting/value to activate the "Confirm" button, and then do

[2022-08-09 12:32] RalfJung commented on #17903
Is there some way to at least increase the number of messages that it goes through to find recent topics where I participated? 2000 messages is probably less than an hour on the Rust Zulip...

Right now this is making Zulip increasingly unreliable as a communication tool for me, and I don't have any good way to work around the problem -- I have to mute most streams to keep the signal-noise ratio m

[2022-08-09 14:11] endigma commented on #9081
Try committing to it then, open source go brrr

[2022-08-09 14:13] endigma commented on #9081
Or even put a bounty on it

[2022-08-09 14:14] endigma commented on #9081
https://app.bountysource.com/issues/57044564-enhancement-add-inline-preview-for-different-media-types

[2022-08-09 14:18] flaviozluca opened #22685 "URL to an image appears broken in preview"
Friends,

Paste a URL to an image in a chat message.

Example: https://conteudo.imguol.com.br/c/entretenimento/2e/2017/11/27/cancer-de-pulmao-1511795660299_v2_900x506.jpg.webp

Look what happens, it shows a broken preview.

![image](https://user-images.githubusercontent.com/44004645/183672371-ee777f28-3c05-44b0-8b99-e7e5a2322ec0.png)

Thanks.

[2022-08-09 15:13] flaviozluca commented on #22685
Sorry, I had to open this is zulip desktop app github.

So closing here.

[2022-08-09 15:13] #22685 closed

[2022-08-09 15:16] flaviozluca opened #23866 "URL to an image appears broken in preview"
Friends,

Paste a URL to an image in a chat message.

Example: https://conteudo.imguol.com.br/c/entretenimento/2e/2017/11/27/cancer-de-pulmao-1511795660299_v2_900x506.jpg.webp

Look what happens, it shows a broken preview.

![image](https://user-images.githubusercontent.com/44004645/183688665-1e73bbf6-7ffa-40a5-aad6-703bac5c2ef7.png)

Thanks.

[2022-08-09 15:22] flaviozluca opened #23865 "Delete all contents of a private conversation"
Friends,

How are you? I don't see a way of deleting all the messages exchanged between 2 users in a private conversation, at once. It's not possible?

I can only delete each message individually.

I believe it's an important feature, to be able to clear up all the messages exchanged in a private chat/conversation.

Thanks.

[2022-08-09 17:55] #22591 closed

[2022-08-09 19:04] N-Shar-ma commented on #21670
@zulipbot claim

[2022-08-09 21:44] #22552 closed

[2022-08-09 23:06] #22068 closed

[2022-08-09 23:22] #18280 closed

[2022-08-09 23:24] #21724 closed

[2022-08-10 04:00] asah opened #22689 "add historical messages to sample data in populate_db.py"
Currently, the `populate_db` tool doesn't create historical messages by default, which means (among other things?) that the bookends feature is not well covered by developers and testing.

[2022-08-10 07:58] Virakal opened #22693 "Mute Option Missing for Bots"
When clicking the name of a user I get the "Mute this user" option, but there is no option to do so when clicking a bot's name.

[2022-08-10 20:10] matloob opened #22698 "Time picker time field is partially obscured"
The time picker fields showing the chosen time are partially obscured. See the image below:

<img width="317" alt="Screen Shot 2022-08-10 at 4 08 42 PM" src="https://user-images.githubusercontent.com/16470053/184010408-74198432-56a5-4ec1-aff0-fbc6d2bd6c54.png">

I'm running Safari "Version 15.5 (17613.2.7.1.8)" and Mac OS 12.4 on a 2020 M1 MacBook Air. The magnification is set at 100%. Let me know

[2022-08-10 23:41] timabbott commented on #22672
Thanks for the report! We'll investigate.

[2022-08-10 23:47] timabbott commented on #22672
It looks like the issue is that `sess` does not match the message (at least according to the search system).

I suspect what is special about `sess` here is that it only appears in the form `sess.foo...`, never as just `sess`, whereas `opts` does appear alone in the message. I'm not sure how easy this is to fix; this may be a simpler variant of the class of problem the postgres full-text search en

[2022-08-10 23:54] RalfJung commented on #22672
Ah, so it basically splits at whitespace but not other non-alphanumeric characters?

[2022-08-11 00:04] gnprice commented on #22672
For better and for worse, it's more complicated than that.

Previous chat discussions:
https://chat.zulip.org/#narrow/stream/9-issues/topic/Search.20on.20filenames.2Fwildcards/near/1404220
https://chat.zulip.org/#narrow/stream/137-feedback/topic/How.20to.20get.20search.20to.20work.20for.20this/near/1172349

Upstream docs:
https://www.postgresql.org/docs/14/textsearch-parsers.html

And here's a dem

[2022-08-11 00:20] gnprice commented on #22672
For purposes of working around this set of quirks as a user, I think a useful crude approximation is:
* It splits at all kinds of whitespace and punctuation *except* dot `.` and slash `/`.
* The queries `https` or `http` won't match URLs that happen to have those schemes. (This one is good, at least -- gives you a fighting chance of finding messages that talk *about* those schemes, or about the HT

[2022-08-11 02:38] asah commented on #22672
Sorry to jump in, have we considered a custom tokenizer for {URLs,
filenames and/or variable names}?

Strawman: use a regex to detect, tokenize by hand and add these extra
tokens to the document at the end, while being careful to not bloat the
index or create too many false matches. Specifically, I'd make the
tokenizer include default minimum word-lengths (overrideable per
installation) and a whit

[2022-08-11 11:26] DDB-en opened #22702 "Disabling the HTTPS not working completely"
I've disabled the https by http_only and now nginx works fine (just port 80 is listening)

zulip.conf
[code]

[code]

but my problem is all the resources inside the html (js, css, img) _**start with https**_!

for example :
http**s**://zulip_ip/static/webpack-bundles/506.14207e196b216fd9706d.js
instead of
http://zulip_ip/static/webpack-bundles/506.14207e196b216fd9706d.js

[2022-08-11 11:56] Wansh619 commented on #20583
is this issue still open

[2022-08-11 14:44] PIG208 commented on #22693
Thanks for the report! Currently, muting bot users is not supported. We might implement this in the future.

Linking to this comment for backlogging purposes https://github.com/zulip/zulip/pull/16915#issuecomment-808875744.

[2022-08-11 14:57] kedlaya commented on #16367
Not that this is a bad convention, but just within the last 4 hours I had to point this out to someone who was trying to do something like
$$\begin{pmatrix}
foo & bar \\
bar & foo
\end{pmatrix}$$
and having it break.

[2022-08-11 16:37] blipp commented on #17183
Hey there, this is just to express interest in this feature, and a possibility to quickly access this search operand without having to type it.

[2022-08-11 17:12] evykassirer opened #22703 "Message preview doesn't clear when compose box changes to a new recipient"
Steps to reproduce:

1. open a draft
2. click the eye (Preview) to preview the draft
3. click on a message in another stream or topic to respond to it

What should happen: stream/topic name changes in the compose box and the compose box textarea becomes empty.

What happens instead: stream/topic name changes, but the textarea is preserved in preview mode.

Likely the bug is that we clear the (invi

[2022-08-11 21:25] timabbott commented on #22672
We'd absolutely be interested in a PR to extend the search parser to do better with this classes of queries. I'll note that https://github.com/zulip/zulip/issues/9165 is by a factor of 10 the most common thing folks find frustrating with the current engine, so while it'd be great to fix this issue, we should design something that fixes that completely.

https://github.com/zulip/zulip/pull/22192 ha

[2022-08-11 21:25] gnprice commented on #22672
Funny you mention that! Here's how I [summarized things](https://chat.zulip.org/#narrow/stream/137-feedback/topic/How.20to.20get.20search.20to.20work.20for.20this/near/1172349) in one of those chat threads:

So if you're up for taking that project on, then certainly at least my view would be that that's something we would want to incorporate.

For the specifics of how it should behave, perhaps a c

[2022-08-11 22:54] timabbott commented on #22698
This may be an upstream bug with `flatpickr`, but in any case we should try reproducing first.

[2022-08-11 22:58] timabbott commented on #17183
Yeah, I expect we'd want to have a button, like we do with `streams:public` today; some design work may be required to figure that out, but step one is to make the desired search operator.

[2022-08-11 23:06] #20583 closed

[2022-08-11 23:07] timabbott commented on #20583
It is, but there's a pull request for it already that I've now merged. Generally one can find that by reading the history.

[2022-08-11 23:22] timabbott commented on #22702
We don't support or recommend using HTTP for connections from users; it's insecure. It may be possible to set `EXTERNAL_URI_SCHEME = "http://"` to work around that specific error, but we don't document or support doing so.

The purpose for the `http_only` setting is if you are placing your Zulip server behind a third-party proxy, that users would interact with over HTTPS and then proxy the content

[2022-08-11 23:22] #22702 closed

[2022-08-11 23:31] Rixant commented on #22698
<img width="773" alt="Screen Shot 2022-08-11 at 7 29 24 PM" src="https://user-images.githubusercontent.com/53159963/184259094-bf1e52e1-43d7-44eb-a99f-f662e9c2be7b.png">

I couldn't reproduce this bug. Mine looks right on Safari.

[2022-08-12 03:06] kou commented on #22672
PGroonga provides a tokenizer that is suitable for this case (users want to search a word literally). PGroonga uses space-separated token ("abc", "def" and "ghi" for "abc def ghi") by default but we can choose a naive bigram tokenizer ("ab", "bc" "c", "de", "ef", "f", "gh", "hi" and "i" for "abc def ghi"). Users can search a word literally with a naive bigram tokenizer. We can use it by `tokenizer

[2022-08-12 03:06] kou commented on #22672
Note that we can create multiple PGroonga indexes with different configurations and use all PGroonga indexes at once.

[2022-08-12 05:31] devanshu0605 commented on #20483
I want to solve this issue .  Can you please Guide me with further Steps ??

[2022-08-12 05:46] devanshu0605 commented on #22703
I want to solve this issue . Can you please guide me with further steps ??

[2022-08-12 06:27] evykassirer commented on #22703
I'd probably start by looking at the class/id names for the preview box and for the compose box text area, then look around the codebase to see where they're used. The big two questions are: (1) where is the code that updates the stream/topic name when clicking a message in another stream or topic (2) where is the code that switches the user back to regular typing mode instead of preview mode?

[2022-08-12 06:39] asah commented on #22672
OMG these are all great tips, each saving hours!

I will work within PGroonga (@kou @timabbott  ), post proposals/prototypes to #design (@gnprice ), and look at #9165 and #22192 (@timabbott ) and start initially without sorting options (@timabbott )

I'm on it (but as usual, will post if I get stuck).

@zulipbot claim

[2022-08-12 06:41] asah commented on #22672
@zulipbot add "bug" "help wanted"

[2022-08-12 06:41] asah commented on #22672
@zulipbot claim

[2022-08-12 10:48] hhamalai opened #22706 "User group as a bot owner"
When used in organizations, there might be teams with their team-specific bot functionalities. Currently, bots being owned single-user bot lifetime is bound to the existence of users, leaving the user must either remember to transfer the bot to another user or the admin must do it afterward (and active the new deactivated bot).

Assigning user groups (upcoming feature)  as bot owners would solve s

[2022-08-12 17:17] YashRE42 commented on #20483
@devanshu0605 #20464 adds the setting as described here and its just waiting for review, so I recommend picking up a different issue.

[2022-08-12 18:25] #22657 closed

[2022-08-12 20:16] #3618 closed

[2022-08-12 23:47] #19124 closed

[2022-08-13 20:24] Wansh619 commented on #22703
is anybody workin on this issue?

[2022-08-13 20:25] Wansh619 commented on #22703
i would like to work on it

[2022-08-14 06:17] evykassirer commented on #22703
go for it! tag me when you open a PR :)

[2022-08-14 07:06] sankalpshekhar14 commented on #20831
@zulipbot claim

[2022-08-14 10:42] Wansh619 commented on #22703
Can you just guide me to which file is should see for change sas its a very large codebase

[2022-08-14 16:08] #22512 closed

[2022-08-15 13:01] carols10cents opened #22721 "Pinned browser tab fails to reload sometimes after computer wake"
## What happens

Sometimes when I open up my laptop after it's been asleep for a while, and I switch to the pinned Firefox tab where I have Zulip, I see this screen that only says "Loading..." with a broken image:

<img width="1382" alt="Screen Shot of the broken loading screen" src="https://user-images.githubusercontent.com/193874/184638060-861e1f30-ac24-4721-b760-44e934349231.png">

And it seems

[2022-08-15 13:26] shepmaster commented on #22721
I see a very similar issue *without* a pinned tab and using Safari. In my case, the images and CSS appear to be loaded (I neglected to grab a screenshot of this page, unfortunately). Like @carols10cents, this feels like an issue that occurs when I put my laptop to sleep and open it later. Today, I believe I left my laptop closed for about four days.

My console logs are similarly not very expressi

[2022-08-15 14:33] madrix01 commented on #22660
@zulipbot claim

[2022-08-15 14:33] carols10cents commented on #22721
Full disclosure: @shepmaster and I are on the same network 99% of the time. But unless it's DNS or something like that, I don't think it's relevant... (famous last words)

[2022-08-15 14:35] madrix01 commented on #22659
@zulipbot claim

[2022-08-15 14:36] madrix01 commented on #22659
@zulipbot abandon

[2022-08-15 16:06] Urgau commented on #22721
I have also had this issue multiple times from multiple locations and networks and always after resuming my laptop.

[2022-08-15 19:27] evykassirer commented on #22703
I might have mis-labeled it as good first issue :) I don't have time right now to point to which files to change, but you might be able to find them by following the advice I posted above!

[2022-08-15 19:33] #21865 closed

[2022-08-16 00:58] #19397 closed

[2022-08-16 10:33] Igorgro opened #22727 "Add fluent emoji pack?"
Microsoft has released their fluent emoji pack to open-source: https://github.com/microsoft/fluentui-emoji/. May be it is worth to add it to Zulip?

[2022-08-16 17:58] ananthuajju commented on #20618
@zulipbot claim

[2022-08-16 19:16] PIG208 opened #22731 "integrations: Rename the Clubhouse integration to Shortcut"
https://shortcut.com/blog/clubhouse-changing-our-name-to-shortcut.

*Clubhouse* was renamed to *Shortcut*, and its logo changed as well. We should update the integration accordingly to reflect this brand change.

[2022-08-16 19:59] andersk commented on #22727
With the current design of the emoji subsystem, this entirely depends on

- iamcal/emoji-data#211.

(Eventually I hope to move away from that package, but that’s a larger project.)

[2022-08-16 20:47] AdamJSoftware opened #22733 "Is it possible to migrate a existing email/password account to gitlab? Or do we need to recreate?"
I first created a user/admin password. And afterwards I enabled gitlab sso. Wondering if it's possible to just connect my existing email account to my gitlab account?

[2022-08-16 20:51] AdamJSoftware commented on #22733
Nevermind, seems that it is smart enough to automatically detect matching emails which is extremely convenient. Wondering what happens if you have mismatching emails. I will leave it as closed. My apologies for not testing first.

[2022-08-16 20:51] #22733 closed

[2022-08-16 20:55] #18588 closed

[2022-08-16 21:23] #20267 closed

[2022-08-16 21:38] #21670 closed

[2022-08-17 16:09] Wansh619 commented on #22703
Ok can you give me a short video clip showing this issue?

[2022-08-17 19:15] ritikBhandari commented on #22703
@Wansh619 You can reproduce the bug yourself by cloning the Zulip app in your system. There is a full page on how to do it.

[2022-08-17 22:39] Wansh619 commented on #22703
Yeah i know but  i am unable to catach the but

[2022-08-18 12:22] developerHet opened #22743 "Add padding between link text and external-link Icon"
In SETTINGS / ORGANIZATION PROFILE there is no space between link text and external-link Icon. for clean design is not looking good that's why I made some changes in CSS. I create PR if it seems legit :)

Before:
![image](https://user-images.githubusercontent.com/79783828/185392179-4c3787b7-ddc5-4d38-a164-e9eb3d2ef889.png)
After:
![image](https://user-images.githubusercontent.com/79783828/18539427

[2022-08-18 15:55] #20180 closed

[2022-08-18 16:31] Wansh619 commented on #22660
Hi can I work on this issue ?
And can you pls guide me how to work on it

[2022-08-18 16:32] Wansh619 commented on #22660
@zulipbot.claim

[2022-08-18 21:24] alya commented on #20213
Ah, great point! Yes, I like the idea of using `:` for both the input syntax and the display separator.

[2022-08-18 22:06] alya commented on #20868
Nice!

The one change I noticed we need to make is that "Header" needs to be tagged for internationalization. This needs to be fixed for "Question" for polls as well.

Otherwise looks good to me!

[2022-08-18 22:12] alya commented on #18927
This seems to be a duplicate of #14165, other than this part, which was not described in the original issue:

[2022-08-18 22:20] #18706 closed

[2022-08-18 22:42] drrosa commented on #20918
Working on it!

[2022-08-18 23:22] Wansh619 commented on #22660
@zulipbot  claim

[2022-08-19 00:29] Wansh619 commented on #22703
@zulipbot  claim

[2022-08-19 00:31] Wansh619 commented on #22703
@evykassirer can you tell me where i could find the code for preview setting for messages

[2022-08-19 00:48] Wansh619 commented on #22703
is in the static / js  folder

[2022-08-19 01:23] Wansh619 commented on #3916
@zulipbot  claim

[2022-08-19 01:25] Wansh619 commented on #3916
@zulipbot  claim

[2022-08-19 03:32] Wansh619 commented on #22563
hi , i want to work on this issue too?

[2022-08-19 03:32] Wansh619 commented on #22563
@zulipbot  claim

[2022-08-19 03:37] Wansh619 commented on #22563
@Manish4044 are you still working on this issue?

[2022-08-19 05:06] evykassirer commented on #18789
Fixed by #22350

[2022-08-19 05:06] #18789 closed

[2022-08-19 08:19] N-Shar-ma commented on #20868
@alya Is it ok if we deal with the internationalisation of these placeholder texts / formatting hints in a different PR?

[2022-08-19 09:07] idssound commented on #20087
The payload of a test alert (grafana 9.0) is below, and "ruleName" and "ruleUrl" are no longer keys of the payload dict.
So modify
zerver/webhooks/grafana/view.py line 59 & 60  (of Zulip version 5.5)
[code]
to
[code]
may work, if two or more alert events will not be sent simultaneously in one request from Grafana.

[code]

[2022-08-19 22:31] timabbott commented on #22649
This is on our radar. Structurally, this is likely to involve leveraging our existing video call integrations, with a slicker presentation in Zulip than the current model of sending a message containing a video call link.

https://github.com/zulip/zulip/issues/7330 is related.

[2022-08-19 22:40] alya opened #22756 "Make "To:" narrow to conversation in PM compose box"
In #19590, we added a "Go to conversation" button for stream messages.

To do the same for private messages, we should test out having the "To:" in the PM compose box work as a link to the conversation when the user's message view is not the same as the conversation they are composing to. (When they *are* the same, the "To:" should not be a link.)

We should use the same tooltip as for the "Go to

[2022-08-19 22:42] timabbott commented on #17903
There's some confusion here. First, it seems very unlikely that the Rust community sends 2000 messages an hour that you personally are subscribed to (messages you don't receive aren't relevant for this).

Second, every message from ~2000 messages received by you older than your oldest non-muted unread message, will be included in your browser cached data set, which is what powers "Recent Topics".

[2022-08-19 22:47] timabbott commented on #22664
Thanks for the report! You've found the right help center article for this. The issue is related to #17903; streams are demoted if they have 0 messages in the browser's local cache, discussed there. This ends up being pretty useful in organizations that have streams that don't make sense to archive but haven't been used for weeks/months, since they don't clutter the UI.

When we're able to fix the

[2022-08-19 22:47] #22664 closed

[2022-08-19 22:52] timabbott commented on #22671
I think a setting around this sort of detail makes sense. I'm not sure what the best structure is; it's often a bad experience for images to appear full size in the message feed, because doing so blocks viewing text, and still may be too small to be fully experienced without clicking on it.

However, I wouldn't be surprised if those particular images felt hard to read even doubled in size; some di

[2022-08-19 22:56] timabbott commented on #22693
@Virakal can you talk about why you wanted to mute a bot user? Some context would be helpful in thinking about this feature request. There's no significant technical impediment to adding support for muting bots.

[2022-08-19 23:00] timabbott commented on #22706
@hhamalai thanks for the feedback! We just in the last week or two added support in the deactivation UI for displaying what bots a user owns before deactivating them, which should significantly help with the administration issue.

We are generally moving towards using groups for permissions in #19525, which would make using groups for this more possible. But one impediment to doing that is that we

[2022-08-19 23:12] timabbott commented on #22721
Thanks for the report, folks! It's likely that the issue is fairly subtle. What is happening here is that Zulip is asking the browser to reload, which it does if you've been disconnected from the server for more than 10 minutes (and we've thus garbage-collected your real-time push queue). And the browser is not processing our request to reload. (And the little textual message appears after N secon

[2022-08-19 23:14] timabbott commented on #22731
Is Clubhouse self-hosted? In any case, we probably want to rename the endpoint and leave an alias for the old name in the API, to avoid breaking backwards-compatibility.

[2022-08-19 23:14] timabbott commented on #22743
Yeah, that definitely looks broken. It seems possible the right fix will involve deleting CSS rather than just adding CSS, and we should fix the vertical centering of the icon while we're at it.

[2022-08-19 23:51] alya opened #22758 "Reword user activity info from "Last active:" to "Active""
In the mobile app, we use the phrasing "Active X ago" to describe when users were last active. We should use the same phrasing in the webapp.

In particular, we should replace "Last active:" with "Active" in:

- [ ] the left and right sidebar tooltips
- [ ] the user profile popover tooltip
<img width="305" alt="Screen Shot 2022-08-19 at 4 45 19 PM" src="https://user-images.githubusercontent.com/20

[2022-08-19 23:54] Rixant commented on #22758
@zulipbot claim

[2022-08-20 01:35] Virakal commented on #22693
@timabbott we have some bots that we'd like to use because they give quite useful information but not useful enough to warrant spamming everyone with a notification, like git commit bots and things. I've also had issues in the past where people have added bots to Slack servers that some people like but other people are just annoyed by, like the beer time bot.

I suppose ideally there would be indi

[2022-08-20 06:10] Manish4044 commented on #22563
Yes, I am working on it. If I am not able to solve it in a few days, you can proceed.

[2022-08-20 06:13] Rixant commented on #22563
@Manish4044 @Wansh619 There is already a pull request linked to this issue.

[2022-08-20 08:24] Wansh619 commented on #22563
@Manish4044  can is see your commit ?
just for understanding how you resolve this issue

[2022-08-20 15:16] ysulyma commented on #21645
Still working on this, trying to figure out how to add the correct narrow in tests

[2022-08-20 15:45] RalfJung commented on #17903
You mean the 'home' key on the keyboard?
I am slightly scared of even opening the 'all messages view' since I worry it might mark random things as read that I actually wanted to come back to separately.

[2022-08-21 00:27] PIG208 commented on #22731
Clubhouse does not offer self-hosting. I agree that we should be extra careful about backwards-compatibility here.

[2022-08-21 11:56] akarsh-jain-790 commented on #21914
@zulipbot claim

[2022-08-21 13:18] developerHet commented on #20831
claim

[2022-08-21 13:19] developerHet commented on #20831
@zulipbot claim

[2022-08-21 13:29] developerHet commented on #22743
@timabbott
Issue is solved
here is PR: https://github.com/zulip/zulip/pull/22762

[2022-08-21 19:09] evykassirer commented on #22524
did I link it wrong? I'm still working on it :)

[2022-08-22 09:40] GorvGoyl opened #22767 "searching for messages: any way to exclude certain words?"
I went through search documentation (https://zulip.com/help/search-for-messages#excluding-messages) but didn't find any info on excluding certain words.

For example, I want to search for messages under a stream that contains the word "pinned" but not "uinpinned". is it possible to do so? I tried with this syntax, but it didn't work: `stream:feedback pin -unpinned`. It returned all the results con

[2022-08-22 09:43] etwk opened #22768 "Collaboration System for Experts Exchange"
Hi, friends of the Zulip community!

Wish to discuss some ideas of collaboration of experts.

When working with new projects, it might be very helpful to have experts from a wide variety of areas share insights together, in order to build a comprehensive and advanced structure, with rich information in a variety of areas and avoid wasting time on re-inventing wheels, or insights been limited by in

[2022-08-22 12:59] carols10cents commented on #22721
Hi @timabbott! Do you have a link to instructions on running a browser profiler in Firefox that would produce useful output for you?

I'm not using a VPN... do you have a suggestion on how to get more information from browser logs to see if this is the case? I've turned on "persist logs" for the console and network tabs of the browser developer tools to try and capture everything that happens when

[2022-08-22 14:09] asah commented on #22672
@zulipbot abandon

[2022-08-22 15:06] sheckathorne commented on #22703
Wanting to clarify the issue: after entering preview mode and clicking a new topic, should the topic in the message preview change as well? In this recording, the message preview does not change until clicking on an existing message in the new topic.

https://user-images.githubusercontent.com/21269876/185954449-2e4106d5-eb03-4094-ad32-9d8d0bc3ba38.mov

[2022-08-22 15:33] evykassirer commented on #22703
@sheckathorne great question! It should only change when you click the existing message in the other topic, which is the way it currently works for messages that aren't in preview mode. Essentially, the same thing should happen when you click on another message regardless of if you're in preview mode or not.

[2022-08-22 16:05] alya opened #22769 "Show empty conversations in left sidebar when viewed"
As @timabbott [pointed out on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20section.20.2320870/near/1420135), if you are viewing a new conversation (PM thread or topic) with no messages in it, at present we don't highlight anything in the left sidebar.

Instead, we should show the conversation you're looking at (PM thread or topic) highlighted in the left sidebar

[2022-08-22 17:08] sheckathorne commented on #22703
Thanks, I'll submit a PR in a little bit for this issue

[2022-08-22 22:32] #22572 closed

[2022-08-22 22:37] #13086 closed

[2022-08-23 00:06] carols10cents commented on #22721
Ok, so I left "persist logs" on in the browser console and I caught an instance of this bug. I've downloaded all the messages and I'm happy to share that if that would be helpful, but here's what looks important/interesting to me:

I closed my laptop right at 17:00 (quittin' time) and opened it again around 19:30.

Right at 17:00, I see these successful requests to `/json/events` and `/me/presence

[2022-08-23 00:59] timabbott commented on #22721
Thanks for the investigation!

What you've posted is I think all expected. The requests not getting responses are presumably networking timeouts due to the client not being online yet when trying to reach the server. Zulip's [server=>client push event queues](https://zulip.readthedocs.io/en/latest/subsystems/events-system.html) avoid leaking memory by being garbage-collected after 10 minutes of in

[2022-08-23 07:53] pavelloz opened #22774 "error An unexpected error occurred: "ENOSPC: no space left on device, mkdir"
Hello,

I tried to setup dev environment and got this message when yarn was doing its thing:
[code]

Quick research pushed me into adding this line to `install-node`:
[code]

And voila:
[code]

Im not sure if that should be done on every system, but from what I remember debian based ones should have it, and vagrant box is based on ubuntu, so this error might hit more people.

Host OS: Darwin 21.6.

[2022-08-23 13:46] ofrzeta opened #22776 "Rocket importer error handling"
Hi, I added some small error checks to the Rocket importer that enabled us to import a Rocket dump with some inconsistencies (usernames changed etc.). Should I send a PR?

[2022-08-23 16:00] developerHet commented on #20484
@zulipbot claim

[2022-08-23 18:02] sheckathorne commented on #22217
@zulipbot claim

[2022-08-24 12:45] laurynmm opened #22782 "Recent topics does not update when single message in topic is deleted."
When a message is deleted, I expect it to be removed from the recent topics view of any other user who received the message.

But when there is only one message in a topic and it is deleted, the recent topics view is not automatically updated / re-rendered to remove that topic from the view when the [delete message event](https://zulip.com/api/get-events#delete_message) is processed.

---

Steps t

[2022-08-24 12:45] laurynmm commented on #22782
@zulipbot add "area: recent topics"

[2022-08-24 12:46] laurynmm commented on #22782
@zulipbot add "area: recent-topics"

[2022-08-24 14:23] jai2201 commented on #22758
@alya , I would like to bring something to your notice here,

I don't think just replacing `Last Active:` to `Active` would work here as -->
In mobile we have variations in display of this information ->
1. `Active x minutes ago`.
2. `Active about x hours ago`.
3. `Active x days ago`.

[2022-08-24 14:24] jai2201 commented on #22758
and I think we too would like to follow the same convention as of what is being used in mobile;

[2022-08-24 16:37] Rixant commented on #22758
@jai2201  Did you test the PR? I think it does the same thing that you mentioned.

[2022-08-24 17:23] jai2201 commented on #22758
@Rixant  , No I just skimmed through your code changes and didn't pull your PR on my local but I'm pretty sure that it must not be working correct for the 2nd case which I've mentioned above in the comment -->

`Active about x hours ago`

Can you please put up a screenshot for that case ?

[2022-08-24 19:50] alya opened #22783 "Remove special coloring for message selection box on unread messages"
At present, the message selection box on unread messages is green:
<img width="1001" alt="Screen Shot 2022-08-24 at 12 46 46 PM" src="https://user-images.githubusercontent.com/2090066/186509627-573f2888-6d52-4b86-b78d-b5185a4153ea.png">

This comes up in views that do not mark messages as read, such as search views, and views where messages have just been marked as unread.

As [pointed out on CZO]

[2022-08-24 19:52] Rixant commented on #22783
@zulipbot claim

[2022-08-24 20:03] andersk commented on #22783
This issue does not affect `main`. It’s part of a chat.zulip.org experiment (#21477).

[2022-08-24 20:03] #22783 closed

[2022-08-25 00:13] Rixant commented on #22758
@alya Whats your input on this? Does "Active 3 hours ago" look more appropriate or "Active about 3 hours ago"?

[2022-08-25 13:30] catborise commented on #19558
after upgrade to 4.11 then 5.6 these logs keeps flooding.
i do not know to deal with.
[code]

[2022-08-25 18:26] #22517 closed

[2022-08-25 19:30] #21180 closed

[2022-08-25 22:44] timabbott commented on #21840
This is a duplicate of https://github.com/zulip/zulip/issues/21712.

[2022-08-25 22:44] #21840 closed

[2022-08-25 23:01] #21165 closed

[2022-08-25 23:09] #22703 closed

[2022-08-25 23:41] timabbott opened #22790 "Support sorting Recent Topics by number of unreads"
As discussed in https://chat.zulip.org/#narrow/stream/137-feedback/topic/Recent.20Topics.20-.20Order.20by.20number.20of.20messagges/near/1424122, it'd be nice if we have a way to sort "Recent topics" by the number of unread messages.

It's a bit awkward to do that, in that our existing sorting is done by clicking headings, and the unread counts float within the "Topic" column, rather than being an

[2022-08-26 00:40] timabbott commented on #22031
Closing as this appears to be a firewall configuration issue unrelated to Zulip.

[2022-08-26 00:40] #22031 closed

[2022-08-26 06:12] #21716 closed

[2022-08-26 08:26] Aryaman2912 commented on #22660
@zulipbot claim

[2022-08-26 18:48] #15836 closed

[2022-08-26 20:52] N-Shar-ma commented on #20283
@zulipbot assign

[2022-08-26 21:11] akshatdalton commented on #19658
@timabbott We can't really do anything in this case (except putting try and except block which won't look good). The problem is in dateutil library which doesn't raise an error in the constructor. I have opened the issue here: https://github.com/dateutil/dateutil/issues/1231.

[2022-08-27 00:58] #21037 closed

[2022-08-27 07:04] vsvipul opened #22796 "Reduce hashFiles count in zulip-ci workflow"
Currently, we use multiple hashFiles in continuation wherever we use actions/cache in https://github.com/zulip/zulip/blob/main/.github/workflows/zulip-ci.yml .

<img width="1364" alt="image" src="https://user-images.githubusercontent.com/21038781/187019167-5d0d650c-f860-4285-806b-5e1c1fc2a936.png">

According to the docs, hashFiles supports multiple patterns -
https://docs.github.com/en/actions/le

[2022-08-27 12:12] jeremyherbert opened #22799 "Allowing moderators/admins to read *all* private messages"
I see that this topic has come up a few times before in other issues, but I couldn’t find a resolution. Is there some way to have admin or moderator users be able to view private messages between users or groups that are not themselves? Much like how an admin on a corporate email server can read all emails for all accounts.

[2022-08-27 12:43] asah commented on #22799
if you're looking for a point/click GUI for single messages or search results, then that would be a (substantial) feature request.

if you just want batch export:

- if self-hosted, there's [backup/restore/export tools](https://zulip.readthedocs.io/en/latest/production/export-and-import.html) and you can of course [query the database](https://zulip.readthedocs.io/en/latest/production/postgresql.ht

[2022-08-27 13:46] jai2201 commented on #21437
@zulipbot  claim

[2022-08-28 06:47] shefali12-ab commented on #22400
Hey @alya , I want to know here @-mentions tab is referring to which tabs in web app.

[2022-08-28 13:25] steffahn commented on #17903
@RalfJung I can’t reproduce this case easily since I don’t have muted streams with unread messages that I participated in… but assuming that the technical problem is that the message *you sent* is not cached so that the “participated” status is not shown for that reason, one (also risk-free in terms of marking stuff read) approach might be to go to “Sent by me” (click the search symbol, then that’

[2022-08-28 13:34] RalfJung commented on #17903
I'll try that next time I notice or suspect this issue is coming up, thanks!

[2022-08-28 16:49] terpimost opened #22801 "UI redesign: more-less message interaction"
This issue is related to the implementation of https://github.com/zulip/zulip/issues/22059.
The suggestion is that the same person would work on both.

Here is the [light theme interactive prototype](https://www.figma.com/proto/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?page-id=738%3A51120&node-id=2905%3A211770&viewport=-887%2C-1194%2C0.24&scaling=min-zoom&starting-point-node-id=2905%3A211770&show-proto

[2022-08-28 18:10] Amanshenoy008 commented on #21036
@zulipbot claim

[2022-08-28 20:19] terpimost opened #22802 "UI redesign: profile and settings pop over menu"
As part of the redesign we want to update styles of popovers, reorganize settings menu by splitting to profile related (personal) and organization related menus.
[Figma screens](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=2946%3A231950)

This issue should be probably split into multiple or accomplished by multiple PRs.
Theme switcher is [already a separate issue ](https

[2022-08-29 01:57] terpimost opened #22803 "UI redesign: theme switch"
As part of redesign we would like to put theme switcher into the [personal profile popover](https://github.com/zulip/zulip/issues/22802) (currently the upper-right gear menu).
The main idea is to have 3 states of such theme switch: system, light, dark.
[Figma screens](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=2948%3A237686)

<img width="848" alt="image" src="https://u

[2022-08-29 03:40] manila commented on #21896
PR #21971 is ready for review, this should resolve this issue

[2022-08-29 04:14] alya opened #22804 "Add option not to mark messages as read on scroll"
In the mobile app, users can choose not to mark messages as read when viewed. We should add the same option to the webapp.

## How it works:
- Messages never get marked as read automatically.
- Users are shown the banner we display in other views that don't mark messages as read, and can use that to mark as read the messages in the current view:
![Screen Shot 2022-08-25 at 11 29 12 AM](https://use

[2022-08-29 04:19] alya commented on #22801
@evykassirer FYI, since @terpimost suggested that this is related to https://github.com/zulip/zulip/issues/22059.

[2022-08-29 05:02] manila commented on #22756
@zulipbot claim

[2022-08-29 05:03] manila commented on #22756
see PR #22805 as a first draft

[2022-08-29 06:12] alya commented on #22454
Yep, #22576 resolves this issue. Thanks!

[2022-08-29 06:12] #22454 closed

[2022-08-29 06:41] alya commented on #21603
Next steps proposed in [CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-design/topic/consistent.20inline.20previews/near/1419725):

1. Having different thumbnails / icons for common file types used accordingly before a file's link. Technically this could be by setting the :before pseudoelement of the file link in CSS to the icon according to the file type.

2. Try reducing the hei

[2022-08-29 06:55] N-Shar-ma commented on #21603
@zulipbot claim

[2022-08-29 08:01] pooryamoh opened #22806 "Problem on initializing postgres 'zulip' database"
Hi,
I am try to install zulip, but it seems that "zulip" database doesn't initialize.
[code]

[2022-08-29 11:12] jai2201 commented on #22484
@zulipbot  claim

[2022-08-29 17:37] #22796 closed

[2022-08-29 17:54] #22188 closed

[2022-08-29 18:40] alya commented on #21178
This issue is ready to be worked on!

[2022-08-29 19:49] #21637 closed

[2022-08-29 20:07] alya commented on #22683
We already disable the "Confirm" button in some places:

![Screen Shot 2022-08-29 at 1 05 11 PM](https://user-images.githubusercontent.com/2090066/187288717-5be4ed39-361d-4bf7-813b-5f46f69df4a8.png)

[2022-08-29 22:17] timabbott commented on #19596
As noted above, the error itself is a networking problem -- you likely have a firewall preventing your server from connecting to the push notifications service.

I'll try to make sure improving the traceback happens to provide more insight into the networking issue happens; it should be easy to do and backport.

[2022-08-29 22:20] #18542 closed

[2022-08-29 22:29] alya commented on #22802
This issue is not marked as "help wanted" quite yet, pending #22637 being merged.

[2022-08-30 05:57] alya opened #22812 "Add confirmation modals for deletion actions"
When a user attempts an action that is relatively rare and difficult to undo, we should aim to have a confirmation dialog to make sure the user gives enough consideration prior to making this change. We should therefore add confirmation modals for the following actions:

- [ ] Deleting custom emoji
- [ ] Deleting linkifiers
- [ ] Deleting code playgrounds
- [ ] Deleting data exports

These modals

[2022-08-30 05:58] alya commented on #22812
@ganpa3 would you be up for taking up this one?

[2022-08-30 05:58] alya commented on #22812
@yogesh-sirsat Just to confirm, I think you're separately taking care of doing this for custom profile fields?

[2022-08-30 06:05] alya opened #22813 "Add removed alert word to confirmation banner"
When a user removes an alert word, we display a confirmation banner:

![Screen Shot 2022-08-29 at 10 54 59 PM](https://user-images.githubusercontent.com/2090066/187361521-ef01ea74-50d0-422a-9128-3c278b8c487f.png)

To make it more clear what happened, and make this action easy to undo if needed, we should add the removed alert word to the banner text:

`Alert word "<alert word>" removed successfull

[2022-08-30 06:18] alya opened #22814 "Add confirmation modal for deleting uploaded files"
At present, there is no confirmation modal for deleting uploaded files. We should show a confirmation modal that warns the user about the impact of deleting a file:

---

## Delete `<file name>`?

This file will be removed from the messages where it was shared. This action cannot be undone.

[Cancel] [Confirm]

---

(We may want to tweak the final text.)

[2022-08-30 06:19] alya commented on #22814
@ganpa3 FYI

[2022-08-30 06:20] alya opened #22815 "Update "Manage your uploaded files" help center page"
We should update https://zulip.com/help/manage-your-uploaded-files to follow our current help center documentation patterns.

[2022-08-30 06:21] alya commented on #22815
@drrosa This one is not urgent, but it would be great if you could add it to your todo list.

[2022-08-30 06:26] alya commented on #21298
Adding a note here that we may want to add confirmation banners for adding and removing default streams once the default streams part of this issue has been resolved.

[2022-08-30 06:37] alya opened #22816 "Use the same `@` symbol everywhere"
As discussed [on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/Indicate.20which.20streams.20and.20topics.20have.20unread.20.40-mentions/near/1425252), we have `@` icons appearing in several places in the app:

* Mention pills, currently an `@` character.
* /#settings/notifications, currently an `@` character.
* The left sidebar "Mentions" view icon, currently `fa-at`
* User popovers

[2022-08-30 08:25] yogesh-sirsat commented on #22812
Yeah.

[2022-08-30 09:03] pratyaksh1610 commented on #22813
@alya I would like to work on this issue.
Please assign this issue to me.
Thanks !

[2022-08-30 10:58] laurynmm opened #22817 "Restructure "Mastering the compose box" help center page"
Currently, the [Mastering the compose box](https://zulip.com/help/mastering-the-compose-box) help center page only focuses on the "go to conversation" button. It would be good to broaden and restructure this page to cover additional advanced compose box related features.

Features to include:
- Current information about "go to conversation" button
- [Enable Enter to send](https://zulip.com/help/en

[2022-08-30 10:59] laurynmm commented on #22817
@zulipbot add "area: documentation (user)"

[2022-08-30 12:13] ganpa3 commented on #22814
@zulipbot claim

[2022-08-30 12:13] ganpa3 commented on #22812
@zulipbot claim

[2022-08-30 13:18] pratyaksh1610 commented on #22813
@zulipbot claim

[2022-08-30 16:16] N-Shar-ma commented on #21603
@alya Yes, please assign this to me!

[2022-08-30 16:29] laurynmm opened #22820 "Error when narrowing/unmuting after muting stream of selected message via modal"
In the development environment, a TypeError is raised when the stream for the selected message is muted while a modal is open.

---

To reproduce in the development environment:

1. Have two browsers / windows open and logged-in to the same Zulip user.
2. In one browser, navigate to All messages view and note which stream message is selected. Open any overlay or modal, for example the keyboard sho

[2022-08-30 16:30] laurynmm commented on #22820
@zulipbot add "bug"

[2022-08-30 16:49] aechigarov opened #22821 "Unable to delete a topic"
Hi! I'm attemptimg to delete a large (over 50k messages) topic that contains alerts and logs quotations sent by elastalert. When deleting it from the web gui, the delete request gets stuck for about a minute and then i get 502 with no any entry in zulip logs. Messages from other topics and entire topics still can be deleted, only this one remains untouched.

Is there any way to delete such large t

[2022-08-30 17:28] timabbott commented on #15297
I believe this project was finished over the last couple years.

[2022-08-30 17:28] #15297 closed

[2022-08-30 19:54] andersk commented on #21603
Instead of changing the display of links, what if we just change the frontend upload code so that, when it inserts an attachment link next to another link in the compose box, it sticks in a comma between them? [file1.txt](https://chat.zulip.org/user_uploads/2/f6/213n55xXgSj8ZtX1z93G4e_N/file.txt), [file2.txt](https://chat.zulip.org/user_uploads/2/f6/213n55xXgSj8ZtX1z93G4e_N/file.txt), [file3.txt](

[2022-08-30 20:09] rnhurt commented on #22339
I'm testing Zulip webhooks and I'm getting the same problem using the PagerDuty integration.  I thought there was something wrong on my end but it looks like this is a known problem.

[2022-08-30 22:11] Kelp710 commented on #22816
@zulipbot claim

[2022-08-30 23:02] #22020 closed

[2022-08-30 23:24] alya commented on #20951
This issue should be fixed via #19526.

[2022-08-30 23:56] timabbott commented on #22821
Yikes, 50k messages is a topic is a lot of log spam. You can likely delete it using `do_delete_messages` via a management command shell (https://zulip.readthedocs.io/en/latest/production/management-commands.html), which would avoid the time limit for requests that we have configured.

The other option is to modify `/etc/zulip/uwsgi.conf` to dramatically increase the timeout (the setting is called

[2022-08-30 23:59] timabbott commented on #22806
The exception is an issue connecting to the supervisord socket, which should be created with the correct permissions when `supervisord` was started. I've not seen this exception before. I'm guessing the issue might be caused by your host being a container environment, SELinux, or something along those lines, but it's hard to be sure.

Can you stop by "production help" in [chat.zulip.org](https://z

[2022-08-31 00:04] timabbott commented on #22767
I'm not sure why we haven't added this; I'm not aware of an implementation reason why it'd be hard.

[2022-08-31 00:05] timabbott commented on #22768
Hi @ewtk! I think a conversation of this form belongs in the "user community" stream in chat.zulip.org, not as a GitHub issue, since it's not an actionable change to Zulip; closing.

[2022-08-31 00:05] #22768 closed

[2022-08-31 00:08] timabbott commented on #22774
Just adding a link back to https://chat.zulip.org/#narrow/stream/49-development-help/topic/ENOSPC.3A.20no.20space.20left.20on.20device/near/1423470.

[2022-08-31 00:21] timabbott commented on #22693
@abhijeetbodas2001 do you remember why we didn't allow muting bot users when we first implemented the feature?

[2022-08-31 00:22] timabbott commented on #22582
Maybe the right idea is to figure out a default logo that can be used for integrations that don't have one.

[2022-08-31 00:51] timabbott opened #22826 "Exception setting up Simplebar for read receipts"
I saw this exception on chat.zulip.org; don't know what the cause is. @chdinesh1089 FYI in case you have ideas, but anyone should feel welcome to pick this up.

[code]

[2022-08-31 01:00] timabbott commented on #22523
Thanks for the feedback! Yeah, having 80 realms open is going to have 80 browser tabs open, effectively, and that will be a RAM issue.

I think the main feature you want is https://github.com/zulip/zulip/issues/10970; closing this as effectively a duplicate of that.

[2022-08-31 01:00] #22523 closed

[2022-08-31 05:41] #22464 closed

[2022-08-31 05:49] alya opened #22828 "Add an "At the office" default status"
As [requested on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/custom.20status), it would be helpful to add one more default status to the list:

We can put this status at the bottom of the list.

[2022-08-31 05:56] Rixant commented on #22828
@zulipbot claim

[2022-08-31 05:58] #22743 closed

[2022-08-31 06:01] timabbott commented on #22488
Closing as it appears the documentation was not followed here.

[2022-08-31 06:01] #22488 closed

[2022-08-31 06:06] timabbott commented on #22334
I don't think this is particularly fixable with our current server/client communication architecture. Only the server has the logic for rendering image previews into HTML correctly (including generating URLs to use `go-camo`, etc.), and the server does not do that work for messages containing more than N images (currently 10).

So there's no straightforward way these could be included in the image

[2022-08-31 06:11] timabbott commented on #22323
We can potentially discuss this sort of thing in chat.zulip.org if you're interested. At present, we do categorization/clustering of related improvements when preparing major releases as part of preparing the release announcement blog posts / releases.

FWIW we tend to not mention development/CI things in the Zulip changelog at all, unless they were extremely large efforts; most of the attention g

[2022-08-31 06:11] #22323 closed

[2022-08-31 06:13] timabbott commented on #22374
This is a duplicate of https://github.com/zulip/zulip/issues/1555. I agree a small private stream is the best workaround today.

This big challenge with supporting this is not the backend/server side, but just figuring out how to show these without it being confusing. The UI changes we're making this month for how one navigates private message conversations will make it more possible to consider a

[2022-08-31 06:13] #22374 closed

[2022-08-31 07:26] alya opened #22829 "Add @topic mention"
As [suggested in the Rust community](https://rust-lang.zulipchat.com/#narrow/stream/122653-zulip/topic/read.20receipts/near/292249587), we should make it possible to mention topic participants by adding a new wildcard mention.

Mention: `@topic`
Who counts as a participant: Anyone who sent a message to a topic, or reacted to a message on the topic (same as for resolve topic in https://github.com/z

[2022-08-31 07:39] alya opened #22830 "Read receipts should handle numerals correctly"
- [ ] We should correctly use "1 person", rather than "1 people", in this situation:

![Screen Shot 2022-08-30 at 10 29 08 PM](https://user-images.githubusercontent.com/2090066/187620662-ee98b896-9963-4bf9-a513-3127b84319bf.png)

- [ ] The string should be properly tagged for translation using ICU syntax; see [here](https://chat.zulip.org/#narrow/stream/58-translation/topic/optional.20plural.20in.

[2022-08-31 07:40] jdherg commented on #2990
This is now an issue in at least one production realm (https://recurse.zulipchat.com/) -- perhaps the production server it's on was refreshed in some way or the static assets were cleaned up?

[2022-08-31 07:52] jdherg opened #22831 "Searching messages for an emoji by alias fails to find old messages with that emoji"
Searching messages for an emoji by alias (e.g. `streams:public :octopus:`) fails to find old messages with that emoji. (It still picks up messages that also have the plain word (e.g. `octopus`) in them, which may make it look like the search is succeeding.)

The search successfully picks up more recent messages that contain only the alias and not the plain word.

At a glance the cutoff may be the

[2022-08-31 11:44] abhijeetbodas2001 commented on #22693
I don't remember anything in particular apart from because we had decided on the feature set keeping in mind the "(human) user you'd rather not interact with". Allowing muting bots should not be too difficult technically, in case we want the same feature set for bots as well.

[2022-08-31 13:54] aechigarov commented on #22821
@timabbott Thanks for you response! I'm a bit confused, manage.py doesn't show such command:

[code]

And yes, i'm running Zulip in docker, if it's relevant.

[2022-08-31 14:24] drrosa commented on #22815
@zulipbot claim

[2022-08-31 15:30] jdherg opened #22832 "Narrows lost during simultaneous server-initiated reloads"
When I have several Zulip tabs open to different narrows and a set of server-initiated reloads is kicked off (by e.g. reopening my laptop after a little while away from it), several (but not always all) of the tabs lose their narrow.

Wild speculation: maybe there's some kind of race involving [this localstorage cleanup](https://github.com/zulip/zulip/blob/9ce900f2b4ff687c567e637443374a54f348f5c7/

[2022-08-31 18:30] pratyaksh1610 commented on #22813
@alya
I would like to get some insight on this.
In this we need to update the string only, right  ?

[2022-08-31 21:28] timabbott commented on #21296
I think this issue was fixed in https://github.com/zulip/zulip/pull/21698.

[2022-08-31 21:28] #21296 closed

[2022-08-31 21:29] timabbott commented on #22298
@ebecaf were you able to complete this upgrade? I figure we should close the issue to clean up the tracker if so.

[2022-08-31 21:33] timabbott commented on #22832
Yeah, that regex is extremely suspicious as a possible cause for this bug -- it's clearly incorrect to remove all reload tokens.  Just to be clear, when you're seeing this, are the affected tabs multiple tabs connected to the same organization? I'd expect different organizations to have independent local storage namespaces.

I'm not sure what the right algorithm is to replace it -- we presumably d

[2022-08-31 21:36] timabbott commented on #22831
I think this is not related to #2990. The search algorithm looks at the HTML in the message body, with no regard to whether any referenced image assets like emoji actually exist.

Does searching for emoji names work in other messages for you? I suspect the actual issue is that emoji names are not in the search index at all, because they only appear in the rendered HTML message as a `title` attribu

[2022-08-31 21:39] timabbott commented on #22799
This is a feature that would require some care in implementation -- while it can make sense for self-hosted servers or other settings where there is a clear corporate owner for the organization, for communities, the security/privacy expectation is that organization administrators cannot read other users' private messages.

There's also some UI considerations that might make it hard to figure out h

[2022-08-31 21:43] #19596 closed

[2022-08-31 21:47] jdherg commented on #22832
Yep! I haven't tried across multiple organizations but my expectations are the same as yours.

[2022-08-31 21:58] timabbott commented on #17897
Closing in favor of the duplicate https://github.com/zulip/zulip/issues/21946.

[2022-08-31 21:58] #17897 closed

[2022-08-31 21:58] jdherg commented on #22831
Oops I meant to cover this in the initial issue but phrased it poorly: yep, when searching for `:octopus:` in the RC Zulip I get messages (after that cutoff) that include the emoji but do not include the text `:octopus:` or `octopus` :)

For readers with access to that Zulip org, you can see an example [here](https://recurse.zulipchat.com/#narrow/stream/20325-test-bot/topic/foo/search/.3Aoctopus.3

[2022-08-31 22:01] #21946 closed

[2022-08-31 22:02] jdherg commented on #22831
(And also thanks for the speedy response on this and #22832 , Tim! 🙏 )

[2022-09-01 06:45] alya commented on #19055
Closing in favor of #22801.

[2022-09-01 11:03] aechigarov commented on #22821
@timabbott increased hahakiri to about 3 hours as you suggested but it still fails after the time is up, looks like it takes much more... Maybe you could point how can that `do_delete_messages` be used? Or if it is possible to delete messages from the database directly?

[2022-09-01 13:08] lukasstevens opened #22841 "[Search] Allow passing narrow operators multiple times"
It would be useful if you could pass narrow operators multiple times. For example, if you want to search `test` in two specific streams `#foo` and `#bar`, you would enter `stream:foo stream:bar test` or even something like `stream:foo|bar test`. The same methodology would also apply to topics, near, and sender, of course.

In addition to disjunction of operators, one could also think about conjunc

[2022-09-01 18:19] #22830 closed

[2022-09-01 18:24] alya opened #22843 "Do not show section separators in left sidebar when there is only one section"
Showing section separators in the left sidebar ("Pinned streams", "Active streams", etc.) is unnecessary when there is only one section, and can feel confusing. We should show the separators only when there is more than one section present.

[2022-09-01 18:26] alya commented on #22843
@madrix01 FYI in case you're up for picking up this one.

[2022-09-01 18:36] alya opened #22844 "Add a login link to left sidebar for logged out users"
It can sometimes be unclear to logged out users why they are not seeing all their subscribed streams in the left sidebar. To reduce the chances of users being confused, we should show the following link at the bottom of the streams list for logged out users:

Notes:
- The placement of the link should be the same as the "Browse N more streams" link shown to logged in users.
- To avoid leaking any i

[2022-09-01 19:16] jai2201 commented on #22844
@zulipbot  claim

[2022-09-01 20:17] timabbott commented on #15844
This was merged in #21999. We need to test it with real data before doing the final round of linking/advertising it to complete this feature.

[2022-09-01 20:21] timabbott commented on #21640
This was completed in #19590 and the follow-up for PMs is #21962.

[2022-09-01 20:21] #21640 closed

[2022-09-01 20:23] timabbott commented on #22002
Yeah, I think looks roughly like what I'd hope for in terms of colors, at least.

@ganpa3 @sahil839 thoughts?

[2022-09-01 20:24] timabbott commented on #21962
This may end up being implemented via https://github.com/zulip/zulip/issues/22756.

[2022-09-01 21:01] #22438 closed

[2022-09-02 01:25] Rixant commented on #22843
@zulipbot claim

[2022-09-02 05:46] stpaultim commented on #647
I recently rasied this issue in chat.zulip.org and was pointed to this existing issue. Here is a link to the zulip chat conversation related to this issue:

https://chat.zulip.org/#narrow/stream/137-feedback/topic/Help.20Choosing.20Topic/near/1428520

[2022-09-02 12:56] gdelafond opened #22849 "html char code displayed"
Hello,

I noticed a problem with the FR translation in Zulip 5.6. It seems that the ' char is not well displayed (at least at some place).

- Users => Manage user =>
![Screenshot 2022-09-02 at 14 35 41](https://user-images.githubusercontent.com/13253032/188144802-2b781115-4dbe-4a69-8fcb-742ab95d19ce.png)
Should be "Désactiver l'utilisateur"

- Manage Streams => General => Add subscribers
![Screens

[2022-09-02 12:56] gdelafond opened #22850 "missing FR translation in email notification"
Hello,

I noticed that there are a missing FR translation in Zulip 5.6.

- in notification email :
[code]

It should be :
[code]

[2022-09-02 13:16] developerHet commented on #22849
@zulipbot claim

[2022-09-02 15:44] laryn commented on #647
I personally like topics but can appreciate the idea of new users being a bit overwhelmed at first. For those that are advocating for a "no topic mode" would something that makes it much clearer and easier to jump in without a topic solve the problem in your opinion? e.g. rough mockup below (I'm envisioning the "General comment" button would open the message panel as the "New topic" button does, b

[2022-09-02 17:25] mostol commented on #15159
+1 on this—in particular, it feels a little arbitrary that the ability to generate persistent invite links is hard-coded/locked down to admins, with no way of changing it. I think it would make more sense if, like email invitations, invite links were a permission that could be extended to different roles.

Here's a use case example from my own experience (sorry if it's a bit long-winded 😅 I just w

[2022-09-02 17:59] mostol commented on #15159
I made a quick test server to test out functionality and noticed that, if you do have email domain restrictions, signing up with an invite link seems to bypass those. So that might be worth considering, if non-admins are were to be able to generate invite links.

(Personally, I think the ideal would be that new user restrictions like email domains apply to links, but not direct email invitations—i

[2022-09-02 20:30] pratyaksh1610 commented on #22850
@zulipbot claim

[2022-09-03 03:34] gyverchang commented on #10643
Am interested to fund this too. I am planning to do a large scale implementation of Zulip for 500+ people and this feature could benefit the non so tech-savvy people just just prefers to do voice messages like Whatsapp.

[2022-09-03 08:48] akshatakulkarni25 commented on #18321
Hello, I'm new to open source and i'm interested in solving this issue. Is this issue still open?

[2022-09-03 08:53] akshatakulkarni25 commented on #20956
Hello, I'm new to open source and i'm interested in solving this issue. Thanks. @zulipbot claim

[2022-09-03 09:32] xeruf commented on #647
I don't this should be too accented without a setting, as I definitely want no "no topic"-posts in our zulip instance

[2022-09-03 16:54] ganpa3 commented on #22814
@alya #22858

[2022-09-04 12:08] ryuusama09 commented on #22813
is this issue still open ?

[2022-09-04 16:22] sreenath-tm commented on #22850
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-04 16:23] sreenath-tm commented on #22826
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-04 16:30] chdinesh1089 commented on #22826
@timabbott  I haven't seen this error when working on it. Not sure what caused it.

@sreenath-tm you'd have figure out what could've caused this, try if you can reproduce and propose a fix through a PR. If you're new to Zulip, the contributing guide is a great place to start with: https://zulip.readthedocs.io/en/latest/contributing/contributing.html

[2022-09-05 00:04] thedeveloperr commented on #9165
@zulipbot claim. Started working on it again. I will add tests and do cleanup of commit messages and comments where necessary

[2022-09-05 00:09] thedeveloperr commented on #9165
@timabbott Unable to claim this since it doesn't have help wanted label. Am I claiming right issue or are we tracking this somewhere else now? Or is it no longer needed?

[2022-09-05 07:11] Aryaman2912 commented on #22813
@zulipbot claim

[2022-09-05 10:22] gdelafond opened #22861 "missing FR translation in followup_day2 email"
Hello,

There is some missing translation in followup_day2 email.

![Screenshot 2022-09-05 at 12 05 53](https://user-images.githubusercontent.com/13253032/188424214-7f437121-f79c-49f7-87e1-aab175606cbb.png)

"Topics are like email subject lines. The big difference, though, is that they're really short and lightweight. Two or three words will do it. Don't overthink 'em—you can always edit the messa

[2022-09-05 11:44] sahil839 commented on #22002
Looks good color wise. And I agree with Alya that the button size should not change.

[2022-09-05 14:25] ryuusama09 commented on #22813
@zulipbot claim

[2022-09-05 17:44] Rixant commented on #22758
@jai2201 I have fixed your issue. Please review the code and let me know if more change is required.

[2022-09-05 18:05] terpimost commented on #21753
I made a little update to [Figma area](https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=3004%3A230685) with clarifications around alignment and styling

[2022-09-06 04:56] ryuusama09 commented on #22813
can you tell me the foldername corresponding to the frontend where change is to be made .

[2022-09-06 05:14] alya opened #22865 "Handle internationalization better in full profile modal"
At present, the full profile modal can look odd when labels are slightly too long:

![Screen Shot 2022-09-05 at 10 10 11 PM](https://user-images.githubusercontent.com/2090066/188551847-5ae97e32-2296-477b-b286-79b58e6b1cd1.png)

We should:

1. Increase the limit on how far right the label text can extend -- there's plenty of space to fit the label in in this case.
2. Insert line breaks at word brea

[2022-09-06 05:15] alya commented on #22865
@sayamsamal would you be up for taking this one on?

[2022-09-06 05:46] alya commented on #9081
Linking in-progress PR, since I was having a hard time finding it from this issue: #20449

[2022-09-06 06:15] alya commented on #16902
Duplicate issue #19700 has been solved via #22253, which implements the strategy suggested in the issue description:

[2022-09-06 06:15] #16902 closed

[2022-09-06 06:27] alya commented on #22698
It reproduces for me on Safari Version 15.3 (16612.4.9.1.8, 16612) on Mac OS 11.6.8 (MacBook Pro).

[2022-09-06 06:57] akarsh-jain-790 commented on #21914
@zulipbot claim

[2022-09-06 07:17] alya opened #22866 "Update tip at the bottom of the`?` menu "Search operators" tab"
The text at the bottom of the "Search operators" tab of the `?` menu needs to be updated:

![Screen Shot 2022-09-06 at 12 03 41 AM](https://user-images.githubusercontent.com/2090066/188568722-75176ffa-4e89-4f2b-b8c8-160d89e5725c.png)

In particular, `email` is not one of the listed operators (in addition to `email` incorrectly being used instead of `user@example.com` in the last line).

It does no

[2022-09-06 08:30] hamidehsani54 commented on #19884
@zulipbot claim

[2022-09-06 09:43] chobeat commented on #22437
Hello.

Sorry for the late reply.

This is the result

[code]

[2022-09-06 11:01] Riken-Shah commented on #22698
I was able to reproduce it locally and fix it by specifying the minimum height for the input.
Raised #22867.

I think I was able to reproduce it because I have the same specification as described by @matloob.

[2022-09-06 11:31] DatAmstrongest commented on #20831
@zulipbot claim

[2022-09-06 19:10] Alizter opened #22873 "Zulip hanging with white screen"
Hi, I've installed Zulip with nix using
[code]

But I cannot start Zulip at all. When I try to I get the following in the terminal and Zulip opens a blank window:

<details>
<summary> $ zulip --verbose </summary>

[code]

</details>

Nix reports the Zulip version as 5.9.3.

[2022-09-06 19:57] #22698 closed

[2022-09-06 23:06] #19054 closed

[2022-09-07 00:05] camelid commented on #16902
Wonderful, thank you!

[2022-09-07 06:36] alya opened #22875 "Internationalize `?` menu"
As [noted on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/.60.3F.60.20menu.20internationalization/near/1430553), much of the "Message formatting" tab in the `?` menu is not internationalized, as well as the words between keys in the right half of the "Keyboard shortcuts" tab. We should fix this.

Based on the [CZO discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/.60.3F

[2022-09-07 07:03] ganpa3 commented on #22812
@alya #22869 #22870 #22871 #22872

[2022-09-07 09:56] DatAmstrongest commented on #20831
I used "git grep 'Change bot info" and "git grep 'Remove owner'  commands to find files related to this issue. However, there are no files that include these phrases. After that I search this part in the browser, there is a similar part with the title "Manage bot" but this part does not have "Remove owner" button. Can someone check if this issue still exists or not?

[2022-09-07 10:47] ganpa3 opened #22876 "org settings: `Data exports` option not visible in single pane view."
In Organization settings, the `Data exports` option is not visible when the width of the web app is less, i.e. when the settings overlay is displayed in a single pane.

![data_exports_not_visible](https://user-images.githubusercontent.com/58626718/188859809-4b63a1c0-f423-4297-9f41-c8dd19cc4372.gif)

[2022-09-07 15:43] micmejia opened #22877 "Categorizing of streams in the UI (feature request)"
Having used hipchat, slack, discord, etc. for years, I think Zulip's `stream` >`topic` format is the best. However, having a long list of streams each with a long list of topics that grows over time might still be overwhelming in some cases. By having the option to group/categorize streams in the UI, it will be easier to focus on a set of streams that the user is currently interested in. Having th

[2022-09-07 16:45] #21949 closed

[2022-09-07 17:14] alya commented on #22022
@terpimost For breaking up this issue, would it work to start with the color changes?

1. Mention pills
2. Borders and colors for code pills
3. Links

That would probably be simplest, as it wouldn't be tangled with any future font size changes.

[2022-09-07 17:23] developerHet commented on #22866
@zulipbot claim

[2022-09-07 18:06] sayamsamal commented on #22865
Surely @alya, I'll take this one up! :)

[2022-09-08 00:15] evykassirer opened #22879 "Optimize message re-rendering, and fix bug to only animate relevant edits."
Followups to #22094, specifically [this commit](https://github.com/zulip/zulip/pull/22094/commits/875b60eb1c53bad9cfbf62218a0168f2c1cce77e) that did the following:

incorrectly used outside the loop over events, in a way that meant
we'd use the values of these from the last event, when we clearly
meant to use whether, for example, the current stream was changed.

events at the same time, but this

[2022-09-08 06:26] alya opened #22883 "Add option to prevent users from changing custom profile fields"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/First.20impression.20and.20a.20question.20.3A.29/near/1430910), some organizations would find it useful to disallow users changing the values of their custom profile fields. We should add this as a per-field setting to accommodate this use case.

Option: Users can edit this field [default: checked] (final wording TBD)
W

[2022-09-08 06:38] alya opened #22884 "Do not send email notifications for messages already present when account is created"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/email.20reply.20to.20Welcome.20Bot/near/1429701), we currently send missed message email notifications for Welcome Bot emails, and replying to those notifications via email fails to send a message back to Welcome Bot.

To address this, we should never send missed message email notifications for messages that are already pre

[2022-09-08 07:00] alya opened #22885 "Improve missed message email notifications"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/notification.20emails/near/1428483), we should improve missed message notification emails to be more specific as to why the user is receiving the notification, as well as cleaning up some phrasing. Specifically, we should use the following "You are receiving this because..." lines, in priority order:

1. If the message(s)

[2022-09-08 07:26] rnhurt commented on #21841
This is a great idea, but I have another suggestion.  What about letting each user choose their own emojis to include in the list.  This is similar to what Slack does and I like it quite a bit.  It also might make it more simple to implement as you don't have to worry about getting the algo correct.

[2022-09-08 11:44] developerHet commented on #22866
@alya This issue PR is created if need changes then inform me. I feel happy to resolve it :)

[2022-09-08 15:50] alya commented on #22817
@drrosa FYI

Marking this as a release goal, as it touches on new features we'll be describing in the release blog post.

[2022-09-08 18:07] timabbott commented on #22866
Reopening since this part wasn't covered in the previous PR.

[2022-09-08 20:34] alya opened #22890 "Update "SCIM provisioning" help center page"
Following up on #22889, `/help/scim` should be updated to match help center documentation patterns, and to use the newly added macros.

[2022-09-08 20:37] alya commented on #22803
This issue should be picked up after #22802 is resolved.

[2022-09-08 22:19] alya opened #22892 "Remove "i" tooltips in organization settings"
Organization settings use a small number of "i" tooltips. Instead of using tooltips, we should link to the help center and/or provide the relevant information in-line as appropriate:

- [x] For "Deactivate organization":
       1. The "i" should be replaced with a `?` help center link to `/help/deactivate-your-organization`.
       2. When the "Deactivate organization" button is disabled, we shoul

[2022-09-08 22:20] #20484 closed

[2022-09-08 22:24] gnprice opened #22893 "Extend "mark all as read" API to mark as unread"
In order to implement #2676, the client needs to ask the server to mark some messages as unread -- i.e. to clear the `read` flag on those messages. Specifically, the client wants to mark all the messages in some narrow as unread, starting with some particular message.

There is an existing API endpoint https://zulip.com/api/update-message-flags which can be used for this. But it's cumbersome: that

[2022-09-08 23:20] gnprice commented on #2676
In starting to implement the mobile UI for going and marking messages unread (zulip/zulip-mobile#5364), I found a limitation in the existing server API:
https://chat.zulip.org/#narrow/stream/378-api-design/topic/mark-as-unread.20request/near/1431139
which manifests as a bug in the existing draft implementation #21477 for web. Implementing the feature correctly would be cumbersome to do with the ex

[2022-09-09 02:54] adambirds commented on #18321
@prah23 please let us know if you plan on finishing this so if not @akshatakulkarni25 can pick the work up instead.

[2022-09-09 04:04] developerHet commented on #22866
@timabbott I am not getting point about what exactly needs to change can you explain in detail?

[2022-09-09 05:11] Rixant commented on #22885
@zulipbot claim

[2022-09-09 06:19] alya commented on #21603
I think that would be a great quick fix for this issue, and looking at  #22822, we might want to do that even if we do add icons for (some) file types.

[2022-09-09 06:22] alya commented on #22821
To make it easier to address follow-up questions, I [started a thread on CZO](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Unable.20to.20delete.20a.20topic.20.2322821/near/1432762).

[2022-09-09 06:34] alya commented on #22582
If the licensing is fine, maybe something like one of these?

- https://www.flaticon.com/free-icon/distributed_1163482
- https://www.flaticon.com/free-icon/technology_4151901

[2022-09-09 06:36] alya commented on #22767
Seems useful! I'll update the issue to make it clear that it's actionable.

[2022-09-09 06:41] prah23 commented on #18321
@adambirds @akshatakulkarni25 this is blocked on clarification from Patreon. The current actual webhook payload's structure is not reflected on the test webhook payloads they provide. I would be updating #22561 as clarification is provided.

[2022-09-09 07:05] alya commented on #22693
Adding a "Mute bot" option sounds reasonable to me!

[2022-09-09 13:53] cognusion commented on #2990
@jdherg Do you have screenshots or dev tools views or something to elaborate on this more?

[2022-09-09 14:48] ganpa3 opened #22902 "Adding and removing users in a user group is not working properly."
- [ ] If there are multiple users in a user group and I remove one of them, it's removed, as intended. However, if there is a single user in a user group and I try to remove it, nothing happens.

![uga](https://user-images.githubusercontent.com/58626718/189377971-6aac3940-f4fb-4293-9e11-1b0f8e18779c.gif)

- [ ]  If I try to add more than one user to a user group by clicking on the typeahead sugges

[2022-09-09 15:59] PIG208 commented on #22582
Yes, something like that. These two in particular require attribution, but that should be fine.

[2022-09-09 16:05] timabbott commented on #22831
How old is the newest message you can find with that issue? A message ID would be helpful.

[2022-09-09 17:06] yogesh-sirsat opened #22904 "Passing empty full name while editing user info should return an error"
In the `Full name` field in the `Manage user` tab, passing an empty value should raise an error. Currently, it does nothing and just closes the modal.

_Originally posted by @ganpa3 in https://github.com/zulip/zulip/issues/22853#issuecomment-1239363120_

[2022-09-09 17:09] alya opened #22905 "Do not show read receipts for Notification Bot messages"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/read-receipts.20UI.20.2318935/near/1429360), Notification Bot messages about resolved/unresolved topics have confusing read receipts. Because those messages are immediately marked as read for all non-participants in the thread, it looks like many people have immediately read the message.

To fix this, we should disable sh

[2022-09-09 17:13] Riken-Shah commented on #22905
@zulipbot claim

[2022-09-09 17:33] timabbott commented on #2990
@jdherg let's move this to a new issue. Details on a specific message ID and/or its `rendered_content` HTML body that is affected would be helpful. This is likely some sort of weird bug involved 5+ year old messages, and I don't want to assume it's the same as this 2017 one.

[2022-09-09 17:39] timabbott opened #22906 "Profile settings page reloads when hitting Enter"
Reproducer:
* Go to "profile settings"
* Type some changes into the "name" field
* Hit `Enter`

Expected: The change saves without reloading the page.
Actual: The change saves and the page reloads.

This is likely a side effect of browser native behavior for `form` elements with a `submit` action.

@sahil839 @ganpa3 FYI.

[2022-09-09 18:14] jdherg opened #22907 "Non-custom emoji in old messages (~late 2016) do not render"
(Forking into a new issue from discussion in #2990 )

Non-custom emoji in old messages do not display. The newest message in a public stream in the RC Zulip instance that was broken in that way is [105492684](https://recurse.zulipchat.com/#narrow/id/105492684) and the oldest that works is [105499759](https://recurse.zulipchat.com/#narrow/id/105499759), so the dividing line appears to be somewhere

[2022-09-09 18:15] jdherg commented on #2990
@timabbott sounds good! Filed as #22907

[2022-09-09 18:32] jdherg commented on #22831
Still working on finding the newest message I can find which doesn't show up in the relevant search (trickier given that I can't search for it 😅 ). In the meantime, a message that contains an emoji (which renders correctly, so the emoji rendering may indeed be a red herring) but does not turn up in a search for that message's emoji name is [105492684](https://recurse.zulipchat.com/#narrow/id/10549

[2022-09-09 19:35] timabbott commented on #22821
I said "management command shell" - I meant `manage.py shell`, which is documented on that page. `do_delete_messages` is a function you need to call there; it's a Python shell. If you need help scripting that, I recommend getting a support contract.

In terms of a bug fix for Zulip, we'll likely just want to paginate the queries to do blocks of 1k messages in the topic as individual transactions.

[2022-09-09 19:56] alya opened #22909 "Do not show names on read receipts for muted users"
1. When user A mutes user B, user B's name should never be shown on read receipts viewed by A. This is consistent with other aspects of how muting works.

2. When user A mutes user B, user **A's** name should also never be shown on read receipts viewed by **B**. Without this change, user B could infer that A has muted them by seeing that it looks like A immediately reads every message that B sends

[2022-09-09 19:57] alya commented on #22909
@laurynmm would you be up for picking up this one? It's an important finishing touch on one of our marquee 6.0 release features.

[2022-09-09 20:26] alya opened #22910 "Improve how names and statuses are shown"
## Release-critical:

- [ ] As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/display.20status.20and.20profile.20picture.20in.20right.20sidebar.20.2321035/near/1427246), when we are displaying user's status text, the status emoji to the left of that text, rather than to the right of the user's name. We should make this change for the user list in the right sidebar. Note

[2022-09-09 20:28] alya commented on #22910
@raghavluthra20 Do you have any partial work towards the points on this issue?

[2022-09-09 23:28] alya opened #22911 "Make top elements sticky in "more topics" view"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/.22more.20topics.22.20scrolling/near/1431579), when the user scrolls down in the "more topics" view, only topics are visible. This can be confusing, as it's not very clear where one is or how to get back.

To address this, we should make the "Back to streams" link, stream name, and the search box sticky. Only the topics li

[2022-09-10 00:34] #21751 closed

[2022-09-10 00:57] terpimost commented on #22022
I suggest to perform 0. main text styles including link styles, then code pills and only after mention pills

[2022-09-10 01:35] altosaar commented on #17012
This would be amazing.

[2022-09-10 14:44] evykassirer commented on #22524
still working on it!

[2022-09-10 16:13] amanagr commented on #22910
Sure!

[2022-09-11 06:20] akarsh-jain-790 commented on #22911
@zulipbot claim

[2022-09-11 06:48] alya opened #22915 "Document "mark messages as read" options on mobile"
Documentation on the the "Mark messages as read on scroll" mobile setting should be added to https://zulip.com/help/marking-messages-as-read.

[2022-09-11 06:50] alya commented on #22915
@drrosa please note that this is a release goal, as we'll want to discuss #M5469 in the announcement.

See also [CZO discussion](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/mark.20as.20read.20setting.20.23M5469/near/1433721) about possible tweaks to the setting description.

[2022-09-11 07:27] alya commented on #15159
Thanks for the feedback and the detailed use case! I [started a discussion thread](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Allow.20members.20to.20generate.20invite.20links.20.2315159/near/1433729) in the development community.

[2022-09-11 18:39] raghavluthra20 commented on #22910
I think I might have some on the 2nd point but I need to clarify a bit more -> Does the screenshot mean to imply that the ellipsis should not be there in that case?

[2022-09-11 18:52] DatAmstrongest commented on #20831
@zulipbot unclaim

[2022-09-11 21:11] #20868 closed

[2022-09-12 09:28] gnprice commented on #22831
From the handy example HTML that @jdherg quoted in #22907, it sounds like what this comes down to is that the following HTML (which the `:heart:` emoji rendered to before 2017-01):

[code]

does not get the token `:heart:` in the index, while the following newer HTML does:

[code]

[2022-09-12 13:14] laurynmm commented on #22909
Sure. A few quick questions. The issue discusses not listing either user's name. Are we listing something else? Or is it as if the muted users do not exist (i.e., nothing is listed and they aren't included in the count)? The latter is what I was thinking, but thought it good to confirm.

[2022-09-12 14:05] carols10cents commented on #22721
No, I've had this issue for as long as I've used Zulip, since January 9, 2020.

I now have the network tab open and persisting logs and I will try to catch this bug happening.

[I've uploaded the profile to profiler.firefox.com](https://share.firefox.dev/3xhFXng), and here's a screenshot as well:

<img width="1504" alt="Screen Shot 2022-09-12 at 10 00 07 AM" src="https://user-images.githubusercont

[2022-09-12 15:48] alya commented on #22817
Note that we're continuing to iterate on the UI for #3409.

[2022-09-12 20:51] tjefferson401 commented on #22911
@zulipbot claim

[2022-09-12 21:38] alya opened #22928 "Can't check/uncheck todo list item while composing"
Replicator:

1. Make a todo list with at least one item.
2. Open the compose box and type at least one character. [there is no bug if the compose box is empty]
3. Click on a checkbox to check/uncheck a todo list item.

Expected: Checking/unchecking the item should work.
Actual: The compose box text becomes highlighted, and the checkbox *does not* get toggled.

[2022-09-12 22:18] alya commented on #22909
As discussed: the server should filter the read receipts in both cases.

[2022-09-13 06:36] jacopo097 opened #22933 "Search by description"
I have a question, is it possible to search users by the content that is in their profiles? For example, I have an extra field in my users' profiles with an ip address and I would like to search for users using that field. Regards!

[2022-09-13 06:56] andersk opened #22935 "Can’t search for quoted phrases with PGroonga enabled"
A search like ["compose box"](https://chat.zulip.org/#narrow/search/.22compose.20box.22) worked before enabling PGroonga, but now it returns no results.

[2022-09-13 07:01] alya commented on #20831
@DatAmstrongest you can play with the bot management UI in the dev environment to test whether the bug is still present.

Looks like the first part of the issue has been resolved, but the second is still present.

[2022-09-13 07:04] alya commented on #22910
For the second point, the ellipsis should be there. It's currently missing just in the "show status text" setting.

[2022-09-13 07:23] alya commented on #8217
@KaKi87 I expect us to redo the intro at some point in the next ~year, and this issue likely will not be addressed until then.

[2022-09-13 07:25] alya commented on #8217
@RalfJung if you import account settings from one account to the next, the state of having completed the onboarding tour should be preserved. Is this something you've tried, or is it not possible because the Zulip instances you used are hosted on different servers?

[2022-09-13 07:29] alya commented on #22861
@gdelafond We'd love for you to contribute your translations through Transifex, which is the tool used by our translators. Please see [here](https://zulip.readthedocs.io/en/latest/translating/translating.html) for instructions. Thanks!

[2022-09-13 07:29] #22861 closed

[2022-09-13 07:30] alya commented on #9165
@thedeveloperr assigning this to you. I think it was not marked as "help wanted" because the issue is not specced out enough for someone to pick up without prior discussion.

[2022-09-13 07:32] alya commented on #22850
Please see https://zulip.readthedocs.io/en/latest/translating/translating.html for instructions on how to help translate Zulip. Thanks!

[2022-09-13 08:05] amanagr commented on #22910
I will take care of the 3rd then.

[2022-09-13 09:51] cguckes opened #22937 "Openapi documentation has semantic errors"
When I try to generate a client using the official openapi yaml file in zerver/openapi/zulip.yaml, I get the following error:

[code]

The same error appears in https://editor.swagger.io.

The problem is, that the security definition is uppercase while the references are lowercase.

[2022-09-13 12:20] ganpa3 commented on #22906
@timabbott #22940

[2022-09-13 15:12] RalfJung commented on #8217
This is the first time I hear of an "import" feature. Most of these instances are on zulipchat.com.

[2022-09-13 17:17] ganpa3 commented on #20831
@alya #22944

[2022-09-13 17:28] raghavluthra20 commented on #22910
I don't seem to have any partial work that will be applicable at the moment.

[2022-09-13 18:22] RensarRO opened #22945 "The Cyrillic name in sAMAccountName does not allow authorization when ldap is configured"
The Cyrillic name in sAMAccountName does not allow authorization when ldap is configured.

Not all users have mail in Active Directory attributes, so this method is chosen, as well as for the case when several users have the same email.

tail auth.log
[code]

But when sAMAccountName in english it works:
[code]

tail error.log
`2022-09-13 18:05:32.372 WARN [zulip.auth.ldap] вася@vasyadomain.ru is n

[2022-09-13 18:39] alya opened #22946 "Landing page bottom navigation menu issue in narrow windows"
The layout of the bottom navigation menu on landing pages does not adjust properly for languages other than English. E.g. for Russian (which generally uses more characters than English), it gets cut off significantly in windows of moderate width. We should fix this.

<img width="1138" alt="Screen Shot 2022-09-13 at 11 35 43 AM" src="https://user-images.githubusercontent.com/2090066/189983644-50f74