[2021-05-01 22:48] timabbott commented on #18341
@cmprmsd thanks!  We appreciate the feedback.

I would expect us to show the repository name in the topic; that's at least what we do with the GitHub integration.

[2021-05-01 22:55] timabbott commented on #15819
Yeah, and critically, it doesn't show what the error was; it sounds like backend tests failed with a confusing error message.  I think if we don't have a test failing now, I'm not sure I'd worry too much about it?

(I don't seem to be able to see any output from that old CircleCI run; seems like it was GCed).

[2021-05-01 22:56] timabbott commented on #15819
@hackerkid @gnprice do either of you remember the situation from https://github.com/zulip/zulip/pull/7762#issuecomment-353197289 in more detail?

[2021-05-01 23:12] cmprmsd commented on #18341
I removed the `&topic..` from my webhook and will test that. Got to wait for some commits 😁
Thanks for the advice! :)

[2021-05-02 00:04] adambirds commented on #18341
@cmprmsd I have just checked the code and it will definitely  set `repo / branch` as the topic if you don't include a manual topic in your URL. We also wouldn't want to match the commit messages length to what Gitea does in its UI, as this would mean not showing the full commit message if it is over that limit. The better practice would be to try and limit the first line of your commit messages to

[2021-05-02 08:42] cmprmsd commented on #18341
Thank you @adambirds! I can confirm the topic is set to the emitting repository name.
Great to see you implemented this very thoughtfully :)
I'll close this issue as all questions have been answered! 💯

[2021-05-02 08:42] #18341 closed

[2021-05-02 14:14] akshatdalton commented on #16542
Update: Everything is working fine except for `strikethrough`, i.e. `strikethrough` is not properly applied over the mentions. Following is how it is rendered:

~~strikethrough~~ `@mention` ~~strikethrough~~

HTML content:
[code]

This can be possibly related to the issue: https://github.com/zulip/zulip/issues/15015, since HTML tag: `<del>` appears, but visually there is no `-` over the text.
Poss

[2021-05-02 15:12] akshatdalton commented on #15440
@timabbott this issue should probably be closed; it is fixed:
![Screenshot from 2021-05-02 20-07-19](https://user-images.githubusercontent.com/67277428/116817558-83c9b800-ab84-11eb-8de7-3792e3dad02c.png)

But I think we should limit the use of characters or should not do any markdown rendering or should improve them visually:

* **Case:** `> quote`

  ![Screenshot from 2021-05-02 20-12-22](https:/

[2021-05-02 16:16] Crimson25 commented on #17248
@zulipbot claim

[2021-05-02 18:25] timabbott opened #18346 "Add an automated test for upgrading a Zulip server to current master"
Our set of production suite tests is pretty good for overall platform coverage, but we should have a production suite test that installs Zulip with the previous release (or perhaps better would be the oldest supported release?) and then upgrades to the commit being tested.

This should help us avoid introducing bugs that only occur when upgrading from a previous version.

We might be able to optim

[2021-05-03 17:35] timabbott commented on #15440
Closing this specific issue as fixed.  For the rest, I think we want to consider it in the context of the broader plans for making multi-line stream descriptions possible.

[2021-05-03 17:35] #15440 closed

[2021-05-03 20:07] #15223 closed

[2021-05-03 21:59] #17940 closed

[2021-05-03 22:17] alexmv opened #18351 "camo init script broken for "status""
[code]

This causes puppet to attempt to re-start `camo` every time it is applied.  Luckily (?) it doesn't catch that subsequent `service camo start` attempts return exit code 0, but fail to start up because the failure is in the backgrounded process:
[code]

[2021-05-03 22:21] timabbott commented on #18351
If we're lucky, we'll get to stop using `camo` once we do thumbnailing; it's not very good software.  (And in particular, it's Debian init scripts have had a range of bugs since it was first packaged for Debian years ago).

[2021-05-03 22:41] alexmv commented on #18351
Sure.  But it's an unfortunate look when we're pushing more camo use cases (e.g. #17755).

[2021-05-03 22:53] alexmv opened #18354 "Silent wildcard mentions are not silent"
An `@everyone` in a message, when that message is quoted, notifies everyone again.

This is probably a sufficient change:
[code]

It needs a test to go along with it.

[2021-05-03 23:39] timabbott commented on #18351
Yeah.  For us, is the solution to just not use `service camo status` in favor of checking ourselves with `pgrep` etc?

[2021-05-04 05:24] alexmv commented on #18351
Aha -- this is _specifically_ only within Docker containers, which don't use systemd, but rather sysvinit.  The systemd wrappers are fine.

Using pgrep is probably fine here, modulo that we need to look for it as `pgrep -fx '/usr/bin/nodejs /usr/share/camo/server.js'`

[2021-05-04 07:20] pau-a-velo commented on #10119
Hi, I push up this subject that seems quite important on the public zulip server (zulipchat.com). Thumbnail from uploaded images displayeds in user messages are in reality full-size images, just the html/css attribute "width" and "height" are changed so they are displayed small. But they take lots of bandwith/time to load, and being resized by the browser. This is annoying for everyone, and make d

[2021-05-04 07:22] pau-a-velo commented on #10119
Or maybe Am I not posting in the right bug? I do not talk about webapp lightbox, but about webapp message display, when they include an image.

[2021-05-04 13:14] Arun-kc commented on #18354
Hi @alexmv, can I be of any help?

[2021-05-04 15:51] #15819 closed

[2021-05-04 16:30] timabbott commented on #18077
I think we've gotten enough feedback that this is useful that we should add it.

Structurally, it should be pretty straightforward, since we have a parallel setting, `enable_online_push_notifications`, that this can follow.

@abhijeetbodas2001 FYI, since this is adjacent to your project plans for the summer.

[2021-05-04 17:16] npally commented on #18286
@zulipbot claim

[2021-05-04 18:40] alya opened #18357 "Write a user documentation page explaining alert settings"
It would be helpful to have a page detailing Zulip alert settings and how to use them. See [this thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Feature.20Req.2E.3A.20Silent.20Messages.20with.20Opt-In) for detailed discussion.

[2021-05-04 19:21] #16432 closed

[2021-05-05 00:35] timabbott opened #18359 "Add "hide warning for 7 days" button in SERVER_UPGRADE_NAG_DEADLINE_DAYS nag feature"
Following https://github.com/zulip/zulip/issues/17826, we need to make it possible to hide the widget (just for yourself) for 7 days; this lets users not have a scary red banner across their screen while they wait for their sysadmin to do the upgrade work.

You can likely test this by just setting `SERVER_UPGRADE_NAG_DEADLINE_DAYS = -10` in `zproject/dev_settings.py` (and other values).

This can

[2021-05-05 13:38] richmahn commented on #11773
Probably been said here, but I like how Discord allows you to put a link but not generate a preview if you put `<` and `>` around it, such as `<https://www.google.com>`.

[2021-05-05 16:02] #18294 closed

[2021-05-05 16:02] Riken-Shah commented on #18359
I am working on this but I have not worked in this area before, so if anyone wants to work on this go ahead!

[2021-05-05 16:11] #18322 closed

[2021-05-05 16:13] timabbott commented on #17956
@andersk question: Do we plan to move FormatJS away from the `translations.json` file format?  Such a plan might adjust how good of an idea it is to invest in doing this.

(I think this is basically a blocker for our supporting the two versions of Portuguese that translators have been working on)

[2021-05-05 17:59] alya commented on #17028
I think another reason to have a poll widget that doesn't display names is for polls where a very large number of responses is expected.

The "lots of responses" use case could diverge from the anonymous polls use case if we allow names to be shown on hover.

[2021-05-05 18:13] #17467 closed

[2021-05-05 18:21] vj-codes commented on #16233
@zulipbot claim

[2021-05-05 20:38] pletinckxc commented on #17896
@timabbott @alexmv Once pull request #17799 will be fully merged will this issue still be relevant ? The stacktrace mentions an `SMTPServerDisconnected` which should, I think, never happen in `send_email` after the merge because if the connection is not given as an argument a new one is created before sending the email ?

A contribution of interest would be to modify the `deliver_email` codepath i

[2021-05-05 22:37] #17944 closed

[2021-05-06 02:04] abhijeetbodas2001 commented on #18077
@zulipbot claim

[2021-05-06 05:41] gnprice commented on #18072
Thanks @timabbott for the debugging and detailed writeups!

It sounds like there's at least two things going on here:
* Thanks to that `beforeunload` listener, the repro steps above aren't a reliable way of reproducing the behavior this issue is about -- when we close the browser tab, Zulip is often able to use that itself as a signal.
  * -> Instead, a good repro recipe needs to more closely mimi

[2021-05-06 05:46] gnprice commented on #18072
This sounds like a good change to me, though I don't think it was involved in either the repro I did just now or the original one.

This also sounds like a good change. I think it would address my original repro, and other situations like
* you get up and close your laptop;
* the wifi you've been using suddenly cuts out (but your phone still has a cell connection.)

[2021-05-06 05:51] gnprice commented on #18072
Then there's the question of what's happening in my new, more realistic repro at https://github.com/zulip/zulip/issues/18072#issuecomment-833241461 -- where the symptom is actually worse, as the period of notification blackout was somewhere between 5 minutes and 35 minutes.

One hypothesis that seems likely is that the webapp was continuing to report presence even after the screen was locked, for

[2021-05-06 09:19] wheelsandmetal commented on #16397
@timabbott any updates regarding this being something you would consider?

[2021-05-06 12:37] guptaprakhariitr commented on #18242
Covid Struck!! Will resume soon. :+1:

[2021-05-06 13:11] jaichhabra commented on #13480
this issue shows closed but at the same time it has been assigned to me

[2021-05-06 15:45] timabbott opened #18374 "Exception rendering favicon updates"
We appear to throw this exception quite often on Firefox 88:

[code]

This exception likely prevents completed rerendering of UI, so is important.

[2021-05-06 17:24] timabbott opened #18375 "Exception with failed_request in local echo code path"
I don't have any reproducer details for this exception, but it's pretty clearly the `message_store.get(message.id).failed_request` line in `echo.js`; we should be able to find the bug by reading the code carefully.

[code]

Looking at history, 14c869d8039afc5053528c59dcc9c4b8b5bf5ca3 added this; @ryanreh99 any ideas?

[2021-05-06 18:26] timabbott commented on #13480
I opened https://github.com/zulip/zulipbot/issues/195 to track that bug.  But yeah, there's no reason to claim an already fixed issue.

[2021-05-06 18:47] timabbott opened #18377 "right sidebar: Adjust tooltip design to explain what faded users in the right sidebar mean"
Zulip's fading of users in the right sidebar is very useful for seeing who will receive your message at a glance, but it's not intuitive to users and needs explanation.  At present, we don't have anything in-app to explain how this feature works.

We should do the following:
* When hovering over a user in the right sidebar who is currently faded by the `compose_fade.js` code path, we should add an

[2021-05-06 19:13] schultzh commented on #17789
@zulipbot claim

[2021-05-06 19:52] ryanreh99 commented on #18375
It seems the `.refresh-failed-message` button is registering clicks even while the button is spinning (has already been clicked once). Thus a network request is sent for every subsequent click which raises this exception.
This is reproducible every time.

@zulipbot claim
( will open a PR tomorrow)

[2021-05-06 19:58] schultzh commented on #16920
@timabbott @garg3133 I've addressed this issue in PR #18159. Please let me know if you have any feedback as its been sitting for 20 days.

[2021-05-06 20:00] schultzh commented on #17789
This issue is currently being addressed in PR #18378

Our current approach is very similar to the silent mentions in block quotes as to not introduce new processes into the code base.

[2021-05-06 20:15] chrisbobbe opened #18381 "Make `GET /avatar/{user_id}` support image-size selection when avatar is from Gravatar."
It already supports size selection for uploaded images; i.e., you can choose between

- `GET /avatar/{user_id}` and
- `GET /avatar/{user_id}/medium`

But clients that announce the `user_avatar_url_field_optional` capability (see [doc](https://zulip.com/api/register-queue)) are supposed to step in and use `GET /avatar/{user_id}` when a given user or message is missing an `.avatar_url` field. Client

[2021-05-06 21:35] timabbott commented on #18381
I think I agree the right answer is to just include the appropriate size parameters in the redirect to gravatar.

[2021-05-06 22:56] #18359 closed

[2021-05-06 23:07] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-05-07 03:31] nikhilmaske-2001 commented on #18377
@zulipbot claim

[2021-05-07 04:04] timabbott commented on #18072
I don't think it's a mystery with the newer repro -- the garbage collection only occurs for the "closed your laptop and no longer have an active client" situation -- not for the "you have an active but idle desktop client" situation in that reproducer.

It's still a race that one can think about improving, but I don't think it's as surprising behavior if you don't get a push notification during th

[2021-05-07 11:52] akshatdalton commented on #18354
I mentioned this same issue [here](https://github.com/zulip/zulip/pull/16964#issuecomment-751291045) while working on the issue: #2183.
I didn't open an issue as I didn't if it was an intended behaviour or not.
But now apparently, it is not.

I'll try to fix this.

[2021-05-07 15:39] #17742 closed

[2021-05-07 15:47] #18375 closed

[2021-05-07 17:14] haikuginger opened #18390 "Support `tel:` and `sms:` schemes for Markdown links"
When using the Markdown format, I can embed links in my messages using Markdown syntax, like so:

[code]

These links are then invoked in the relevant operating-system-specified handler for their relevant URL schemes. This is great, and I like it a lot!

However, today I tried to send a message that contained my phone number, and wanted someone clicking it to invoke their operating-system-specifie

[2021-05-07 18:26] timabbott opened #18392 "Add generic Zulip system for filtering events from incoming webhooks"
Many third-party incoming webhooks have large numbers of event types, some of which are basically spam/useless, and others of which may be useful for some use cases but not others.

E.g. a reasonable use case would be to have a triage stream that only gets GitHub events for open/close on issues/PRs, and not when updates happen, which GitHub's own interface for configuring what events to send in we

[2021-05-07 18:43] timabbott opened #18393 "github integration: Duplicate requested_reviewer notifications when adding two reviewers in new PR"
When you open a new pull request with 2 requested reviewers, GitHub's outgoing webhook API sends you 3 events in immediate succession:
* A new pull request event
* A new reviewer 1 event
* A new reviewer 2 event

GitHub's `pull_request/review_requested` payloads appear to have two copies of the data; one inside the `pull_request` key and the other at top level.  Only the one at top level tells you

[2021-05-07 20:59] adambirds commented on #18393
@zulipbot claim

[2021-05-07 21:42] alya opened #18396 "Add appropriate error for misused search operators"
Currently, misusing a search operator leads to a confusing user experience. For example, searching for `streams:general foo` (incorrect, because it should be `stream:general foo` takes the user to the following view:
![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/117510570-29907480-af41-11eb-836c-8f1ef54d8612.png)
`)

`has:cookie` produces the following view:
![Zulip_

[2021-05-07 22:09] timabbott commented on #18035
@ligmitz I guess this got closed in #18356; which actually I was going to propose we do anyway, and just open an issue linking back here for the one remaining issue of this form, to track fixing that.  Can you create the issue?

[2021-05-07 22:10] WesleyAC opened #18397 "j/k hotkeys don't work in "Drafts" screen"
The `j` and `k` hotkeys should scroll through messages in the "Drafts" screen, but they don't. We should fix this, so that `j` and `k` do the same thing in the "Drafts" screen as the usual messages view.

[2021-05-07 22:17] timabbott commented on #18035
I merged 0044c8f85fcee4e07967126b26ce8dbbea91ba37 to fix the documentation.

There's a few things left here:

[code]

We should:
* @ligmitz can you do a quick PR for the `user_settings.py` ones?
* Let's open an issue for the `users.py` one as discussed, since that has a messy API migration.
* We should check but possibly the same applies for the `check_string` one for `new_name` in `streams.py`.
*

[2021-05-07 23:09] #17543 closed

[2021-05-08 00:56] timabbott commented on #16397
Certainly an option here is something we'd considering.  There's some subtlety to making a coherent option for this -- e.g. the other function of that space is that the open compose box sits on top of the message feed (which you kinda need to be the model if one is scrolled up in the message feed), but having no space at the bottom could mean that it's impossible to view the last message in the to

[2021-05-08 00:58] timabbott commented on #2835
Closing, as I'm not sure where we'd use these, and we can open new issues with specific use cases in mind.

[2021-05-08 00:58] #2835 closed

[2021-05-08 01:00] timabbott commented on #4077
I think the new non-modal system we have for the bankruptcy notices fully solves this problem.

[2021-05-08 01:00] #4077 closed

[2021-05-08 01:01] timabbott commented on #5825
@Signior-X maybe worth your trying to see if this is still reproducible.

[2021-05-08 01:08] timabbott commented on #5451
Closing, as I believe we've addressed this in most specific instances years ago, and I don't think there's need for an audit at this point.

[2021-05-08 01:08] #5451 closed

[2021-05-08 01:09] timabbott commented on #4919
Closing, since we now have node tests for the logic, and don't want puppeteer (formerly casper) tests for this sort of feature.

[2021-05-08 01:09] #4919 closed

[2021-05-08 01:10] timabbott commented on #4254
We actually did this, finally, a couple weeks ago.  Thanks @amanagr :)

[2021-05-08 01:10] #4254 closed

[2021-05-08 01:12] timabbott commented on #7398
Based on exception logs, this was fixed some time in late 2018.

[2021-05-08 04:49] aryanshridhar commented on #18397
@zulipbot claim

[2021-05-08 05:11] ligmitz commented on #18035
Yeah, will create an issue for `users.py` and open a pull request son for `user_settings.py`.

[2021-05-08 07:47] seiwailai commented on #17914
@zulipbot claim

[2021-05-08 08:28] devashish-gaikwad commented on #18147
I'm working on it, unfortunately it got stuck some security audit at work laptop, I've got it setup now will fix this issue in this coming week

[2021-05-08 09:58] WesleyAC opened #18402 "No button hover effect in night mode"
The buttons at the bottom of the screen ("Drafts", "New topic", "New private message") don't seem to have a hover effect in night mode, but they do in light mode.

[2021-05-08 09:59] WesleyAC commented on #18402
Actually I'm wrong about this, the effect is just extremely subtle. Closing.

[2021-05-08 09:59] #18402 closed

[2021-05-08 13:47] RomainGitH commented on #18286
#18406

[2021-05-08 14:26] ashwinexe commented on #17842
@zulipbot abandon

[2021-05-08 14:56] #18393 closed

[2021-05-08 15:08] ligmitz opened #18409 "Fix encoding of `full_name` parameter under `update_user` endpoint to not use `json_validator`."
The `update_user_backend` view has `full_name` parameter which uses `json_validator` for validating string inputs. This is not necessary and hence can be removed on the lines of similar changes made in #18356. For reference, see: https://chat.zulip.org/#narrow/stream/3-backend/topic/API.20format.20cleanup . We want this to be done most preferably after zulip/python-zulip-api#683.

[2021-05-08 15:08] ligmitz commented on #18409
@zulipbot add "area: api"

[2021-05-08 15:09] ligmitz commented on #18409
This is part of the bigger issue #18035 major part of which is already completed through #18356.

[2021-05-08 17:35] ritikchauhan-01 commented on #18320
@akshat1499  can I take this issue.

[2021-05-09 07:55] RomainGitH commented on #18396
@zulipbot claim

[2021-05-09 08:02] RomainGitH commented on #18396
Hello,
Would it be possible to start working on this issue since I made a pull request for the other one?
Thanks

[2021-05-09 12:23] sachinam1397 commented on #17998
@zulipbot claim

[2021-05-09 13:17] akshatdalton commented on #18354
Just mentioning here that we also need to prevent the template (which asks for the confirmation) from popping up when `@**all**` and `@**everyone**` are present inside the quoted blocks.

[2021-05-09 16:18] #18397 closed

[2021-05-10 02:48] #14860 closed

[2021-05-10 02:51] timabbott opened #18415 "Fix keyboard UI in the "move topic" popover"
The "move topic" popover accessible from the left sidebar has a few keyboard UI issues that we need to debug:
* Once you click on the "Select stream" `dropdown_list_widget` element, if you hit the down arrow without typing anything, the focus skips the first element in the dropdown, which feels buggy.
* If you hit "Enter" while keyboard focus in is in the topic edit textbox, it weirdly opens the s

[2021-05-10 02:53] timabbott opened #18416 "Use dropdown_list_widget for the stream selection in the main message edit UI"
Following https://github.com/zulip/zulip/issues/14860, we still have the ugly stream select dropdown in the main message-edit UI; we should convert that to use dropdown_list_widget, ideally with as little code duplication with #17216 as we can manage.

[2021-05-10 03:11] timabbott opened #18417 "Create common administrative "Edit modal" widget similar to confirm_dialog"
We have several modals with very similar implementations, that would likely benefit from sharing a common framework:
* The "Edit bots" modal
* The "Edit user" modal
* The "Edit linkifier" modal, `static/templates/settings/admin_linkifier_edit_form.hbs`
* The "custom profile fields" edit widget is inline probably should be converted into a modal.

We should create a `edit_fields_modal` widget that

[2021-05-10 03:37] #13854 closed

[2021-05-10 04:50] #6460 closed

[2021-05-10 04:50] timabbott commented on #6460
Closing as I don't think we want to make this specific refactor.

[2021-05-10 04:55] #1398 closed

[2021-05-10 04:58] timabbott commented on #8200
Closing, as we removed the feedback bot.

[2021-05-10 04:58] #8200 closed

[2021-05-10 05:01] timabbott commented on #7046
The "wasted" space is used to display unread counts and menus on hover, so I don't think it makes sense to change the default widgets.  It could make sense to open a new issue for making the sidebar width draggable.

[2021-05-10 05:01] #7046 closed

[2021-05-10 05:02] timabbott commented on #9162
Closing, as we've since migrated this test suite to GitHub Actions, and stopped using CircleCI.

[2021-05-10 05:02] #9162 closed

[2021-05-10 05:03] timabbott commented on #7079
This styling issue was fixed a couple years ago.

[2021-05-10 05:03] #7079 closed

[2021-05-10 05:04] timabbott commented on #7558
I believe this was implemented a couple years ago; also in any case our plan is to eliminate the remaining 2-3 cross-realm bots in #17520.

[2021-05-10 05:04] #7558 closed

[2021-05-10 05:07] timabbott commented on #8946
Closing, as I'm not aware of seeing this symptom in recent years; so I'm going to guess that upstream postgres changes made this not happen anymore.

[2021-05-10 05:07] #8946 closed

[2021-05-10 05:08] timabbott commented on #9303
Closing, as we've since deleted the logic for splitting up the right sidebar's space that had this bug.

[2021-05-10 05:08] #9303 closed

[2021-05-10 05:20] timabbott commented on #12000
Closing, since I think we're in OK shape on this.  @andersk FYI.

[2021-05-10 05:20] #12000 closed

[2021-05-10 05:21] timabbott commented on #11726
I believe this was finished in #12017.

[2021-05-10 05:21] #11726 closed

[2021-05-10 05:23] timabbott commented on #11856
Closing, as I think the current configuration syntax with `S3_REGION` and friends as configuration options now supports this.

[2021-05-10 05:23] #11856 closed

[2021-05-10 05:28] timabbott commented on #11260
Closing, as this appears to have been fixed some time ago (I cannot reproduce, and I recall our fixing a bug of this form with modals).

[2021-05-10 05:28] #11260 closed

[2021-05-10 05:30] timabbott commented on #11472
Closing, since we no longer use casper.  And I think puppeteer, its replacement, doesn't have this bug.  @Riken-Shah please open an analogous issue for puppeteer if I'm wrong :).

[2021-05-10 05:30] #11472 closed

[2021-05-10 05:31] aryanshridhar commented on #18416
@zulipbot claim

[2021-05-10 05:31] timabbott commented on #9375
Closing, as I think we've fixed the most obvious issues with these tables, and in any case it seems unlikely that we'll make further progress because this ancient issue was open :).

[2021-05-10 05:31] #9375 closed

[2021-05-10 05:32] timabbott commented on #10792
Closing, as I believe there's been enough iteration on https://github.com/zulip/zulip/pull/10928 that we're happy here.  (I at least haven't noticed a bug in this space in years).

[2021-05-10 05:32] #10792 closed

[2021-05-10 05:32] timabbott commented on #11165
Closing, as our missed-message emails no longer contain avatars.

[2021-05-10 05:32] #11165 closed

[2021-05-10 05:34] timabbott commented on #10853
@andersk we can close this, since sqlalchemy now ships with its own mypy stubs, right?

[2021-05-10 05:37] timabbott commented on #10493
Closing as likely a duplicate of #9199.

[2021-05-10 05:37] #10493 closed

[2021-05-10 05:38] timabbott commented on #10294
This was fixed sometime before b7b1ec0aebbf75c2f66a4c81a42bf4da0ac7c9e1.

[2021-05-10 05:38] #10294 closed

[2021-05-10 05:40] timabbott commented on #9416
Closing, as I'm pretty sure @showell implemented this design change some time ago (as we have explicit initialization functions called by `ui_init.js`).

[2021-05-10 05:40] #9416 closed

[2021-05-10 05:41] timabbott commented on #9713
Closing, as we have had a reload as suggested here since 8516dde8f4ef1fcd39f108d29e254ae58927179d.

[2021-05-10 05:41] #9713 closed

[2021-05-10 05:42] timabbott commented on #8857
Closing, as this was a duplicate of #10294.

[2021-05-10 05:42] #8857 closed

[2021-05-10 05:43] timabbott commented on #7315
Closing since this is no longer reproducible for me either, so we've likely fixed it.

[2021-05-10 05:43] #7315 closed

[2021-05-10 06:47] Crimson25 commented on #17248
@zulipbot claim

[2021-05-10 17:14] ritikchauhan-01 commented on #18321
you can use this [link](https://www.patreon.com/portal/registration/register-webhooks) to create webhook on patreon when you have created your account.

[2021-05-10 17:18] adambirds commented on #18321
You will need to `@zulipbot abandon` so somebody else can claim it. @ritikchauhan-01

[2021-05-10 17:21] ritikchauhan-01 commented on #18321
@zulipbot abandon

[2021-05-10 17:22] ritikchauhan-01 commented on #18417
@zulipbot claim

[2021-05-10 19:20] #18354 closed

[2021-05-10 21:11] alya commented on #18321
I tried setting up a basic [JSON integration](https://zulip.com/integrations/doc/json) to get sample data for this issue, and it seems that the Patreon outgoing webhook setup has a problem. In particular, it convert the URL to all-caps, which breaks it for us.

I think the next step is probably to contact Patreon support about this, which I can do and post an update here once I hear back.

[2021-05-11 00:02] alexmv opened #18433 "Simplify test-install machinery to be able to install from a working copy"
The tooling in `tools/test-install/` ([docs](https://zulip.readthedocs.io/en/latest/development/test-install.html)) uses LXC to build containers based on installing from a release tarball, or an unzip'd release tarball.  This is more complicated than it needs to be -- we should just install out of the current state of the working tree.

As noted in https://github.com/zulip/zulip/pull/17966#discuss

[2021-05-11 00:40] timabbott commented on #8040
Closing as fixed in 67cd385cece3a22fa7fe198c161cf81d7d1f0cf4.

[2021-05-11 00:40] #8040 closed

[2021-05-11 00:50] #17792 closed

[2021-05-11 05:31] MayurDeshmukh10 commented on #18062
@timabbott We should close this issue as it's fixed in #18190

[2021-05-11 05:40] MayurDeshmukh10 commented on #17786
@zulipbot claim

[2021-05-11 06:30] Riken-Shah opened #18438 "realm-linkifier: Field status is not updating after `Save failed` error."
Steps to reproduce:
Step 1: Add a linkifier.
Step 2: Edit that linkifier pattern to `a$` (or something invalid), click `Save Changes`.
Step 3: After the error is displayed close the edit modal.
Step 4: Try adding another linkifier, you'll see the field status is now not updated.

Here is the demo,
![issue](https://user-images.githubusercontent.com/63820270/117768166-9eb8be00-b24f-11eb-94b1-1e30a01

[2021-05-11 09:29] PIG208 opened #18440 "Update documentation screenshots for non-webhook integrations with the screenshot generating tool"
In #17792, we extend `tools/generate-integration-docs-screenshot` to make it support generating documentation screenshots for non-webhook integrations. Having the tool ready, we can add additional screenshot configurations for the non-webhook integrations. After that, we can replace the old screenshots by simply running the tool.

[2021-05-11 22:17] mateuszmandera opened #18448 "Take advantage of new Django 3.2 features"
This is an analogue of #16031. These are items based on my reading of https://docs.djangoproject.com/en/3.2/releases/3.2/ and taking notes of the things that seemed worthy of looking into. There might be some others that I missed, so it could be worth giving the release notes another read.

* [ ] Take advantage of functional indexes for things like our UPPER(email) indexes on UserProfile
* [ ] Can

[2021-05-12 00:29] timabbott commented on #18062
Only the table is -- the legend at the bottom still looks bad.

[2021-05-12 04:01] timabbott commented on #18377
After seeing this prototyped, this design direction isn't going to work, so closing this as an abandoned idea.

[2021-05-12 04:01] #18377 closed

[2021-05-12 04:23] alya commented on #18319
I made a simple JSON integration that pulls sample data. @adambirds handing it over to you. :)

[2021-05-12 04:33] timabbott commented on #18325
Removing the release goal label on this since we just want to focus on the `move_messages_between_streams_policy` part.

[2021-05-12 06:44] abhijeetbodas2001 opened #18452 "Allow re-hiding a revealed message from a muted sender."
In 5d796987f20108552118b7598bb5a314583ee047 and 9f6ad779e401e43a4e28d870d77d8c2b43a78a35, we implemented message hiding for messages sent by muted users, and also allowed "revealing" a hidden message by clicking on it.

See the `set_calculated_message_container_variables`, `reveal_hidden_message`, `_rerender_message` functions in `MessageListView` for how this logic works.

We now also want a way

[2021-05-12 06:46] abhijeetbodas2001 commented on #18452
@zulipbot add "area: message view"

[2021-05-12 06:50] abhijeetbodas2001 commented on #18452
Related discussion at https://chat.zulip.org/#narrow/stream/101-design/topic/Hiding.20user-muted.20messages/near/1177882

[2021-05-12 08:31] pletinckxc commented on #17896
@zulipbot claim

[2021-05-12 09:42] dlukes commented on #11773
Disabling the preview with `<...>` is a nice feature, but what syntax to use for `[...](...)` and `[...][x] ... x: ...` links? Maybe `[...](<...>)` and `[...][x] ... x: <...>`? Though it's debatable whether it's a good idea to introduce a custom Markdown syntax extension for this...

Also, this approach doesn't have great discoverability (especially since it's not standard Markdown), but that may

[2021-05-12 15:52] m-e-l-u-h-a-n commented on #18452
@abhijeetbodas2001 I can take this up, in case you haven't started working on it.

[2021-05-12 15:56] abhijeetbodas2001 commented on #18452
Feel free to claim!

[2021-05-12 16:55] m-e-l-u-h-a-n commented on #18452
@zulipbot claim

[2021-05-12 17:17] alya opened #18461 "Scroll to show more in Recent topics"
The **Recent topics** view currently shows a limited number of topics. Sometimes, a user may want to see more topics. For example, selecting the "Participated" filter and scrolling through could be a way to find a conversation you vaguely remember, or something you meant to follow up on.

We should let users see more topics by scrolling to the bottom of the screen, matching the UI we have for othe

[2021-05-12 17:47] timabbott commented on #18374
The exception appears to be this:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Dead_object

[2021-05-12 18:03] timabbott commented on #18461
I imagine that we can just call `message_fetch.maybe_load_older_messages`, plus some loading indicator plumbing to show a loading indicator in both "recent topics" and the top of "All messages" while we're doing a `load_old_messages` fetch for "Recent topics"; read the logic in `message_scroll.js` for how we call that function for inspiration.

[2021-05-12 18:25] ritikchauhan-01 commented on #18417
chats on refactoring modals https://chat.zulip.org/#narrow/stream/6-frontend/topic/refactor.20modals.20to.20confirm_dialog

[2021-05-12 19:05] alya opened #18463 "Fix alignment of "Drafts" button"
When Zulip is zoomed in with browser zoom (CTRL/CMD-+), the position of the "Drafts" button is slightly lower than the adjacent buttons. The buttons should all be aligned.

Screenshot:
![Screen Shot 2021-05-12 at 12 02 31 PM](https://user-images.githubusercontent.com/2090066/118030466-2ff46700-b31a-11eb-90b4-3e33bbcbb153.png)

Note that the buttons are aligned when the browser is not zoomed in:

!

[2021-05-12 22:21] #9857 closed

[2021-05-12 22:52] timabbott commented on #18374
Removing the release goal label, since we fixed the release-critical part of this in #18466.

[2021-05-13 01:13] sunyj opened #18471 "Keyboard shortcut for preview in message composing window"
Gitlab supports Shift+Cmd+P to toggle between editing and preview in the composing window of browser.  I think it's very useful especially when composing markdown messages.  It would be nice to have a similar feature on Zulip desktop.

Proposed labels: <new feature> <area:compose>

[2021-05-13 06:41] nikhilmaske-2001 commented on #18463
@zulipbot claim

[2021-05-13 11:40] aryanshridhar commented on #18415
This is not only the case with `Move topic` modal but also other modals where `dropdown_list_widget` are implemented.

[2021-05-13 15:42] #14499 closed

[2021-05-13 16:23] timabbott opened #18479 "Move topic dropdown_list_widget for stream name has variable height with unicode"
When [moving a topic between streams](https://zulip.com/help/rename-a-topic#move-a-topic-to-another-stream) via the left sidebar, if you select a target stream with non-English characters in the name, the button gets taller in a way that looks weird:

![image](https://user-images.githubusercontent.com/2746074/118154316-c0d74b00-b3cb-11eb-9357-caa0488e03a1.png)

I think we just want to fix the heig

[2021-05-13 19:54] #18415 closed

[2021-05-13 23:03] shidarin opened #18491 "Org Setting: Allow moderators to administrate public streams and private streams they are invited to"
One of the constant requests our org has of our support team is stream maintenance. Obviously PR#15334 is going to be a big help here, but I was surprised to not see stream administration on the permissions matrix of the new moderator feature.

I'm proposing an organization setting which can be set to enable moderators have the ability to:

- Rename streams
- Change streams to private/public
- Add

[2021-05-13 23:58] jarforce opened #18493 "upgrade Zulip 3.4 to 4.0: subprocess.CalledProcessError: Command '['supervisorctl', 'stop']' returned non-zero exit status 1"
I would like to upgrade Zulip 3.4 to 4.0 as latest release :

Os: Ubuntu 20.4
and
as root:

I got below error and the upgrade process stoped
[code]

Please help to solve this issue,

Thank you

[2021-05-14 01:04] timabbott commented on #18493
@jarforce thanks for the report; we're investigating.

[2021-05-14 01:11] timabbott commented on #18493
@jarforce OK, I believe I have a fix for this available on the `4.x` branch; can you try:

[code]

I believe things should proceed smoothly from there.

(We'll turn that into a 4.1 release once the fix is confirmed).

[2021-05-14 01:17] timabbott commented on #18491
@shidarin thanks for the feedback!  I think many of those are things that would be natural extensions of the existing "organization permissions" controls.

@sahil839 FYI -- we should do a bit of design work together.

Some part of what you're looking for is https://github.com/zulip/zulip/issues/3783; we haven't figured out exactly how that will relate to Moderators (or organization-level roles in

[2021-05-14 01:21] timabbott commented on #11600
Closing, since we added this feature in 3.0 I think.

We've also implemented moderators in today's 4.0 release.

[2021-05-14 01:21] #11600 closed

[2021-05-14 01:22] timabbott commented on #9991
We've had this feature for a few years now, probably via a duplicate issue: There's an organization-level setting for who can subscribe other users to streams.

[2021-05-14 01:22] #9991 closed

[2021-05-14 01:57] #18493 closed

[2021-05-14 02:46] legopin opened #18495 "Reply shortcut `r` + caps lock = reply to sender instead of stream"
### Environment
Server Version: 3.4 & zulip public server
MacOS 11.3.1
Zulip Desktop v5.7.0

### Expected:
1. A message is selected in the topic
2. pressing `r` keyboard shortcut (with Caps Lock ON)
3. should bring up compose box below for replying to topic

### Actual
1. A message is selected in the topic
2. pressing `r` keyboard shortcut (with Caps Lock ON)
3. compose box opens to reply as priva

[2021-05-14 03:10] jarforce commented on #18493
Thank you,
 it's working with 4.1
but
still some error message at the end of this script, as Zulip upgrade script can not purge old deployment completely,

[code]

Thank you

[2021-05-14 05:16] timabbott commented on #18493
The `purge-old-deployments` issue was fixed in 6766a3f7802e2e7f1eb454f0fb82c021d128ef8f, and the 4.2 release.

Can you open a separate issue for the postgresql upgrade item?  I think that will need more details and investigation, so it's best for it not to be on a closed issue.

[2021-05-14 07:55] Garagoth commented on #3783
Oh no. I was really hoping for it to be included in 4.0 release.
Is there any hope for this feature?

[2021-05-14 11:48] nikhilmaske-2001 commented on #18479
@zulipbot claim

[2021-05-14 16:04] timabbott commented on #17396
I just wanted to update this thread that in Zulip 4.0, we replaced the notification that a draft was saved, which was previously very hard to see, with a tooltip: 6a374d6d28af07e18d1600f01b64892bac24f0a2.

I'm not going to close this issue, since there's more we can do here and also we don't have clear evidence that the new indicator isn't also invisible to many users.

(The most likely change I'd

[2021-05-14 17:44] legopin opened #18504 "Translation string for keyboard shortcuts for search operators"
It would be helpful for translation of certain languages to have the red text be a variable within the translation string.

Keyboard shortcuts modal, for search operators

![Screen Shot 2021-05-15 at 1 14 46 AM](https://user-images.githubusercontent.com/15863509/118308128-2e938c00-b51e-11eb-81bd-cca8e1e04ae1.png)

Found in this file https://github.com/zulip/zulip/blob/master/templates/zerver/app/k

[2021-05-14 17:52] timabbott commented on #18504
Thanks for the report!  I can confirm the strings are not constructed correctly.

We may want start with porting this template to handlebars, like we already did for the "message formatting" tab of this widget, since our frontend i18n library has a better syntax for passing HTML elements into translated strings, which we'll want to do for the highlighting here.

[2021-05-14 18:13] alya opened #18505 "Add topic filter in "more topics" view in left sidebar"
In a stream with many topics, it can be difficult to find an old topic you want to go back to.

To solve this, we should add a search box to the "more topics" left sidebar view, just below the name of the stream.
![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/118311512-da989100-b4a4-11eb-8922-2566ba99eb15.png)

When the user clicks on "more topics", their cursor shoul

[2021-05-14 20:10] m-e-l-u-h-a-n commented on #18505
@zulipbot claim

[2021-05-14 21:15] jarforce opened #18509 "can not upgrade Postgresql by apt-get on Ubuntu 20.4"
Os: Ubuntu 20.4

can not upgrade Postgresql:
as root

as default zulip.list on /etc/apt/sources.list.d shown

[code]
on CLI going to shown:

[code]
so to continue this upgrade need to change to 'deb [arch=amd64]' as below:

[code]

[2021-05-14 22:31] timabbott commented on #11060
I'm going to close this because it's unclear when going to work on Enterprise Linux support and if so, whether it'll be 7 or 8, and we'll natural look at these dependency questions when if/when we do so, so we're unlikely to do this work because this issue was open.

[2021-05-14 22:31] #11060 closed

[2021-05-14 22:34] timabbott commented on #13418
We removed all the Thumbor support code from Zulip in https://github.com/zulip/zulip/pull/18383, since Thumbor appears to be again no longer maintained :(.

We can always add it back if the situation changes, but our current decision is to remove the feature and plan to integrate an alternative image thumbnailing proxy.

[2021-05-14 22:34] #13418 closed

[2021-05-14 22:42] timabbott commented on #13261
We're no longer using Bootstrap tooltips, but we should probably increase the font size with TippyJS to close out this issue.

[2021-05-14 22:44] timabbott commented on #13261
I started https://chat.zulip.org/#narrow/stream/101-design/topic/tooltip.20font.20size/near/1181520 to decide if we want to do so.

[2021-05-14 22:50] timabbott commented on #1709
OK, I think this work can all be tracked in other places:
* Removing bootstrap tooltips, which we're only using for popovers now, is https://github.com/zulip/zulip/pull/17244
* Upgrading bootstrap itself, which we've done a few rounds of since this issue.

And then there's things we've forked majorly:
* Upgrading or replacing marked, which should be part of our broader Markdown strategy.
* Migrati

[2021-05-14 22:50] #1709 closed

[2021-05-14 22:56] timabbott commented on #17265
I'm going to close this issue for Zulip; while we'd like to see it fixed, it's tracked upstream in pygments (and tagged as a good first issue there) and not significant enough for Zulip to need independent tracking of it.  (We'll automatically get the fix when we next upgrade pygments).

[2021-05-14 22:56] #17265 closed

[2021-05-14 23:08] timabbott commented on #8913
We should remember to delete `zerver/tornado/autoreload.py` as part of this process.

[2021-05-14 23:15] timabbott commented on #13828
@PIG208 do you want to pick this up, since you've been working in adjacent areas?
 https://github.com/zulip/zulip/pull/14318/commits/b855f44e5672699e611408fd163b4f8f00a4ae4b has some work, not particularly reviewed.

(It's possible you've already fixed this in your current PRs).

[2021-05-14 23:19] timabbott commented on #14808
@shanukun just wanted to bump this -- do we have an audit of what remains here?  It'd be nice to close this out (or even just open a more targeted replacement issue that has a complete list of what still needs work).

[2021-05-14 23:21] timabbott commented on #18035
We can close this as resolved, since everything but the one item separately tracked in https://github.com/zulip/zulip/issues/18409 is complete.  Thanks for doing this @ligmitz!

[2021-05-14 23:21] #18035 closed

[2021-05-14 23:27] timabbott commented on #17428
I think we should do this via `option=orjson.OPT_SORT_KEYS` in `json_success`, if we're going to do it, and then everything one gets from the server will come sorted.

[2021-05-14 23:32] timabbott commented on #17428
@andersk @showell thoughts on the tradeoff sorting keys in API responses?  The main benefit is readability of our API responses, both in our API documentation (as a side effect) and if you're print-debugging the API.  And the main downside is the `orjson` overhead, which might be negligible, which is I was thinking about a version that only does this for `/api/` URLs that are not `ZulipMobile`.

I

[2021-05-14 23:33] timabbott commented on #14104
This was fixed in 0c781311394b4ead0e9ac8870c7d50618e067e2e.

[2021-05-14 23:33] #14104 closed

[2021-05-14 23:44] timabbott commented on #18509
@andersk @alexmv are either of you familiar with this issue?

[2021-05-15 00:04] timabbott commented on #16577
Closing this as fixed in https://github.com/zulip/zulip/pull/16622, since i think the log level was the only bug here.

(I don't think we have an option to adjust that log level, but it's probably easy to do manually by editing files).

[2021-05-15 00:04] #16577 closed

[2021-05-15 00:10] timabbott commented on #16776
Sorry for the slow reply.  The root cause here is likely someone having manually deleted User objects without deleting the Recipient object associated with that user, which is not supported.; as a result, messages that the deleted user had received
https://github.com/zulip/zulip/issues/10533#issuecomment-618715832

You can fix your database using https://chat.zulip.org/#narrow/stream/9-issues/topi

[2021-05-15 00:10] #16776 closed

[2021-05-15 00:18] timabbott commented on #14438
This is a duplicate of https://github.com/zulip/zulip/issues/4914.

[2021-05-15 00:23] timabbott commented on #17456
Sorry for the slow reply -- I think it makes sense to support this parameter.

@mateuszmandera would you be up for doing this one?  I think it should be pretty simple, since it's just a boolean for whether to deactivate the account, but we can configure it using this scheme (basically whatever you put as `deactivated` in the LHS will be mapped to marking the account as deactivated; `nsAccountLock`

[2021-05-15 00:35] timabbott opened #18510 "Make "email address for a stream" into a form of integration you create"
I don't have a precise design for this, but I think we should replace the legacy "email address for a stream" model for sending messages into a stream, that's currently, published to members of the stream, with a web flow that looks more like creating an integration.

https://zulip.readthedocs.io/en/latest/production/email-gateway.html has some background.

Specifically, we should have a flow wher

[2021-05-15 00:36] timabbott commented on #12752
I think I agree with that perspective if we keep the feature as-is.

Adding a link to https://github.com/zulip/zulip/issues/18510, since that may be our path forward for the incoming email integration as a whole; and with that model, only folks who could post to the stream would be able to create such an email address.

[2021-05-15 00:37] timabbott commented on #12457
@mateuszmandera we've been getting a lot of requests for something like this; do we think it'd be an easy extension of `manage.py sync_ldap_user_data`?

[2021-05-15 00:42] timabbott commented on #16346
This is possible now in Zulip 4.0 with AUTH_LDAP_ADVANCED_REALM_ACCESS_CONTROL:

https://zulip.readthedocs.io/en/stable/production/authentication-methods.html#restricting-ldap-user-access-to-specific-organizations

[2021-05-15 00:42] #16346 closed

[2021-05-15 00:43] timabbott commented on #15760
Closing, as a billing system for a third-party chat service is out of scope for Zulip.

[2021-05-15 00:43] #15760 closed

[2021-05-15 00:44] timabbott commented on #16814
From the error logs here, I don't think this is a Zulip bug -- it looks instead like the contents of the database were deleted.

[2021-05-15 00:44] #16814 closed

[2021-05-15 00:52] timabbott commented on #14166
I'm opening a PR for removing `has_mobile_devices` and `root_domain_uri`.  We may end up using prompt_for_invites in future design work, so not removing that.

[2021-05-15 00:57] timabbott commented on #14166
I think we need to do two things to finish this issue.

1. https://github.com/zulip/zulip/pull/18511
2. Document the policies on parameter naming in `zerver/lib/events.py
3. Have mobile/terminal folks do a final look through the following for whether there's anything that should be moved to the `POST /register` response; I'll start a thread.

[2021-05-15 01:56] pigmonkey opened #18512 "4.0 expects JITSI_SERVER_URL to be a string"
On 3.x I disabled Jitsi integration by setting `JITSI_SERVER_URL = None`. On 4.x this causes the server to crash because it expects that setting to be a string:

    2021-05-15 01:48:59.816 ERR  [django.request] Internal Server Error: /
    Traceback (most recent call last):
      File "/srv/zulip-venv-cache/9d0f5ac272f4e644b222ed65b0b5a996616a215f/zulip-py3-venv/lib/python3.8/site-packages/django

[2021-05-15 01:57] pigmonkey opened #18513 "4.0 requires S3_REGION for AWS integration"
When attempting to upgrade from 3.4 to 4.0, I received the following migration error:

    2021-05-15 01:25:34,878 upgrade-zulip-stage-2: Checking for needed migrations
    Traceback (most recent call last):
      File "./manage.py", line 52, in <module>
        execute_from_command_line(sys.argv)
      File "/srv/zulip-venv-cache/9d0f5ac272f4e644b222ed65b0b5a996616a215f/zulip-py3-venv/lib/python3

[2021-05-15 06:45] sudipto commented on #18321
@zulipbot claim

[2021-05-15 08:11] PIG208 commented on #13828
OK. I will work on this.

[2021-05-15 08:12] PIG208 commented on #13828
@zulipbot claim

[2021-05-15 08:53] PIG208 commented on #13828
@timabbott looks like it has been fixed already in a recent commit 4235be759db5e0678ceac88ec19f2b8f8482214a.
![image](https://user-images.githubusercontent.com/39874143/118354525-0481ae80-b59e-11eb-862c-3315d32cae3f.png)
It should be fine to close this issue.

[2021-05-15 08:53] PIG208 commented on #13828
@zulipbot abandon

[2021-05-15 10:56] nikhilmaske-2001 commented on #14961
@zulipbot claim

[2021-05-15 13:11] shanukun commented on #14808
@timabbott Except for the migration part, everything mentioned  [here](https://github.com/zulip/zulip/issues/14808#issuecomment-663700003) is still remaining; I've been working on it, but haven't yet opened a PR.

[2021-05-15 14:02] sudipto commented on #18321
I have created the webhook integration for Patreon using the webhook.site data posted here by @alya .
Please check it once here: https://imgur.com/a/oHVDP8V
I am open to suggestions if any. Also I haven't tested this with Patreon website. I don't have a patreon so if anyone can help me test that out.

[2021-05-15 14:21] adambirds commented on #18321
@sudipto have you created a PR for this?

[2021-05-15 14:31] sudipto commented on #18321
@adambirds not yet. I am new to opensource so a little hesitant in creating the PR.

[2021-05-15 15:08] xicuc opened #18516 "Error process-fts-updates"
Hi, I'm using a Proxmox VM with:
SO: Ubuntu 18.04
Psql: 13.2
Zulip: 3.3

I have tried to update to version 4.2 (the latest one) and I always get an error in "**_process-fts-updates_**", thank goodness that I always have several backup copies at hand, because I have tried to update with git and download the file, and always the same error.

Likewise, I update the database with its corresponding com

[2021-05-15 20:01] akshatdalton commented on #11711
@zulipbot claim

[2021-05-16 04:36] kfogel commented on #18505
Watching @m-e-l-u-h-a-n's progress eagerly!...

[2021-05-16 05:55] abhijeetbodas2001 commented on #18077
@zulipbot Still working on it.

[2021-05-16 16:32] sahil839 commented on #18491
Yes Tim we can work on this, I remember we talked about allowing moderators to edit stream description few days back.

[2021-05-16 16:41] RogueSnipa commented on #18512
Confirm. I have the same problem when upgrading to 4.2 from 3.4.

[2021-05-16 18:16] PoignardAzur opened #18520 "Feature request: Add grace period before message is marked as edited"
This is something minor, that nevertheless bothers me whenever an app doesn't have it.

When I edit a message a very short time (eg less than 5s) after posting it, I would like for the small gray `EDITED` label not to appear. This is because I very often notice typos are bad choices of word immediately after posting a message. Having the message show up as "edited" makes me feel self-conscious, as

[2021-05-17 05:56] alya commented on #18321
@sudipto in case you haven't found it yet, https://zulip.readthedocs.io/en/latest/git/using.html is a helpful reference.

[2021-05-17 06:25] PoignardAzur commented on #18520
I just checked, and it seems Discourse has a grace period too.

[2021-05-17 12:23] q00d0 opened #18524 "Giphy integration - no chance to get a production api key"
I was happy to read, that Zulip 4.2 now supports a native giphy integration. So I've done what is written here: https://zulip.readthedocs.io/en/stable/production/giphy-gif-integration.html

The joy faded away quickly... I've applied and edit my request 3 times at developer portal (https://developers.giphy.com/dashboard/) from giphy.

It's a pain in the ass to get a key. Now I'm wondering why you h

[2021-05-17 14:17] wheelsandmetal commented on #16397
I'm more than happy to give this a go! Although you'll have to bear with me while I figure out frontend things :)

[2021-05-17 15:09] PIG208 commented on #18392
@zulipbot claim

[2021-05-17 20:03] andersk commented on #1709
I note that Bootstrap 3 was released 2013-08-19, three years before this issue was opened. Although we managed a tiny upgrade from a forked 2.1.0/2.1.1 to a forked 2.3.2 (2013-05-17) seven years late (#16196), we’re still not much closer to upgrading to 3, let alone 4 or 5. This is not by any means a resolved problem.

My view is still that Bootstrap doesn’t do anything for us but get in our way.

[2021-05-17 20:26] zestyping commented on #16696
Hi, I had this happen to me just now (using the install-from-git method at the current master branch, `eee8ff40b41ec4e62da69792ff76cfc3582269c6`) when trying to reset an existing Zulip server to a blank state — I was playing a bit loose and thought I'd try just uninstalling postgresql and re-running the installer to see if it would work.  @timabbott I'll keep the VPS around so we can investigate i

[2021-05-17 22:01] andersk commented on #17428
I expect the performance impact would be minimal, but I also expect the readability improvement would be minimal. We already reserialize the examples in our API documentation with indentation and sorted keys.

[2021-05-17 22:08] andersk commented on #18509
The “N: Skipping acquire” is just a notice (N:), not a warning (W:) or error (E:). It’s a completely harmless side effect of having multiarch enabled and does not cause `apt-get` to fail.

[2021-05-17 22:08] #18509 closed

[2021-05-17 22:52] alya commented on #18321
Patreon's support response on the URL capitalization issue (after a clarification):

[2021-05-17 23:49] alexmv commented on #17896
Per https://github.com/zulip/zulip/pull/18454#discussion_r633934150 we may want to hold off on this until the queue worker is async and can handle the additional throughput.

[2021-05-18 06:28] codeHackeR321 commented on #18320
Yes please

[2021-05-18 06:32] akshat1499 commented on #18320
yes please @ritikchauhan-01

[2021-05-18 06:44] akshatdalton commented on #17789
@schultzh are you still active on this?

[2021-05-18 12:26] rht opened #18534 "production documentation: Suggest people to use Docker for running Zulip alongside other services."
The production requirements doc doesn't explicitly mention Docker as an option if you want to run Zulip alongside other services like Nextcloud, Mediawiki, etc withiin one instance: https://zulip.readthedocs.io/en/latest/production/requirements.html#general.

We should update the documentation to mention this fact. See https://chat.zulip.org/#narrow/stream/3-backend/topic/prod.20req.20docs.20and.2

[2021-05-18 14:53] slefforge commented on #18062
@zulipbot claim

[2021-05-18 19:34] timabbott commented on #18256
@sahil839 this might be a good project for you to pick up -- we've been seeing this issue an increasing amount of late.

[2021-05-18 19:50] sahil839 commented on #18256
Will start working on this along with other issues.

[2021-05-18 21:59] SirAzako commented on #18286
@zulipbot claim

[2021-05-19 00:31] #11711 closed

[2021-05-19 00:48] timabbott commented on #18512
Thanks for the report; I can confirm this bug.  I expect we'll have a fix for 4.3 soon.

[2021-05-19 00:51] timabbott commented on #18520
@PoignardAzur this is an interesting idea; can you provide details on what Discourse uses as the grace period?

Since Zulip is more real-time than reddit or Discourse, I'd expect 5 minutes to be way too long for us (because there might already be a series of 5 messages responding to what you said with a missing "not", and then it'd be confusing as a reader to understand what happened).  I at least

[2021-05-19 00:54] timabbott commented on #18534
Yeah, this does seem like a reasonable tweak to help folks figure out a path forward.

[2021-05-19 01:00] timabbott commented on #18524
@q00d0 can you share the communications from Giphy on the topic of getting a production key?  Privately via https://zulip.com/help/contact-support would work if you don't want to share publicly.

Ideally, we'll be able to work out with Giphy a path forward for you to get a key (and text that can be used when requesting a production key that we can document), but we'll need details on what you're h

[2021-05-19 01:01] timabbott commented on #18516
@xicuc can you provide the exact error message?  I don't think we can help you without more details.

[2021-05-19 01:02] timabbott commented on #18495
We probably want our keyboard shortcuts to ignore caps lock state entirely.  I haven't looked into what the right way to detect this is specifically but it likely involves a new conditional in `hotkey.js`.

[2021-05-19 01:32] timabbott opened #18542 "Document in keyboard shortcuts documentation that Zulip makes browser back/forward hotkeys work"
See https://chat.zulip.org/#narrow/stream/138-user-community/topic/Jump.20to.20previous.20location.3F/near/1182104 for some background.

We should add these to our keyboard shortcut documentation, taking care to to deal with the fact that these are `Alt+Left` on Linux/Windows and `Option + Left` on Mac.

[2021-05-19 02:06] timabbott commented on #18512
OK I've merged a fix for this to master and backported it to the 4.x branch; folks who need this to upgrade can use `upgrade-zulip-from-git 4.x` until the 4.3 release comes out.

Thanks again for the report, and sorry for the trouble upgrading!

[2021-05-19 02:08] timabbott commented on #18513
I think this is a bug introduced in dfa7ce5637eb6e29f21298aaa33bac1783423dd3 ; @ryanreh99 do you have time to investigate?

The above workaround should fully work, but I think we should be able to tweak things to not require the `S3_REGION` parameter.

[2021-05-19 02:17] #18512 closed

[2021-05-19 06:37] andreasoc opened #18545 "Months cannot be translated"
Hi
I noticed that the abbreviations of the months, inserted in the list of messages within a topic or private messages, cannot be translated and therefore are in English.
![3SybwBivf7](https://user-images.githubusercontent.com/2852354/118766973-6c294980-b87d-11eb-9c7f-146d1593e74a.png)

[2021-05-19 08:10] q00d0 commented on #18524
Thank you for your reply @timabbott

I can share it here:

![grafik](https://user-images.githubusercontent.com/11162933/118777771-b7e1f000-b889-11eb-843b-34ad4dc3dac3.png)

I've sent them a video and screenshots of our Zulip instance. I've wrote them, that Zulip is a self-hosted business messanger and not a messanger ment for public use and so on. The link to the Zulip documentation on how to inte

[2021-05-19 08:29] ryanreh99 commented on #18513
In commit [`dfa7ce5`](https://github.com/zulip/zulip/commit/dfa7ce5637eb6e29f21298aaa33bac1783423dd3), we updated `prod_settings_template` to have the default `S3_REGION` set to `None`.
The code works fine, even if the `S3_REGION` parameter is not set.

Here the `S3_REGION` was already set to "" , so it failed.
I think the fix should be just to explicitly mention this case in the [4.0 Upgrade docs

[2021-05-19 08:43] PoignardAzur commented on #18520
I haven't tried to measure what Discourse does precisely; I assume the grace period is around a few minutes too, which is probably too long for instant chat.

You could have different grace periods depending on context; something like, "10 seconds by default", "1 minute if nobody has answered", etc. Though I also think the feature shouldn't be *overly* complicated, else it becomes unpredictable.

[2021-05-19 12:33] RomainGitH commented on #18286
In progress

[2021-05-19 13:57] bomensal commented on #18524
Just wanted to share the information, that I have successfully received a production API key from Giphy today.

What did I do to get that? Nothing special. Just filled out the approval form, and added a very short GIF video (16 seconds in total) where I show how I click the "GIF" button in Zulip, search for a GIF, click on the GIF, and send the GIF to the chat. I would share the video with you her

[2021-05-19 14:57] q00d0 commented on #18524
@bomensal thank you for your message.

This is the video I'm using:

![giphyv](https://user-images.githubusercontent.com/11162933/118835348-314a0480-b8c3-11eb-8e27-d7b2d2af487a.gif)

[2021-05-19 16:35] WesleyAC opened #18549 "Add "Recent Topics" view for streams"
The interleaved message view is very confusing for new users. As a fix for this, we added Recent Topics, but this only prevents the top-level of interleaved messages — when a user clicks on a stream in the left sidebar, they're dropped into a interleaved view again.

Instead, we should allow Recent Topics to filter by stream, and then add a mode (and eventually enable it by default, if all goes we

[2021-05-19 16:37] WesleyAC commented on #18549
Made a [CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/Add.20.22Recent.20Topics.22.20view.20for.20streams.20.28.2318549.29) for discussion as well.

[2021-05-19 18:15] timabbott commented on #18513
Hmm, I don't think we've ever had `S3_REGION` set to an uncommented `''` or had that be a valid configuration; though it does seem that was a bad commented example in the past (we had `# S3_REGION = ''` to indicate it should be string).  So it's possible this issue won't affect anyone other than the original poster.  The documentation is pretty clear about the structure of valid states being a quo

[2021-05-19 18:15] #18513 closed

[2021-05-19 18:17] timabbott commented on #18545
Thanks for the report @andreasoc!

If it's easy, we should just fix this, but we should also consider changing how we communicate in these date bars to be right-justified and use the same format as the recipient bar dates.

[2021-05-19 18:18] timabbott commented on #18524
It seems plausible that they do want to see the URL.  If we can confirm that's the case, we should absolutely update the documentation to explain how to prepare a video that Giphy will accept.

[2021-05-19 22:43] timabbott commented on #14166
I merged the two commits ending with 6edd78a9e5353e84069dce5880b9136dc458b62d to cover the documentation piece, noting a few things that we might want to rename.

@ligmitz @MSurfer20 FYI in case you have time to do a PR renaming the couple that should have `_mib` at the end of their names.

[2021-05-19 22:46] timabbott commented on #14166
I'm closing this as resolved, since I expect https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.2Fregister.20parameters/near/1181551 will generate a set of specific proposals that don't require reading the full context here to work through, much of which is stale because we've executed a bunch of the proposals earlier in this thread.

[2021-05-19 22:46] #14166 closed

[2021-05-20 00:45] alya opened #18555 "Restore drafts by default and add "Save and clear" button"
**Current drafts behavior**
Currently, saved drafts can only be accessed via the **Drafts** button. This has some down sides:

1. It take a couple of clicks (or keyboard taps) to navigate back to your draft, which is a common workflow.
2. Discoverability issue for drafts. We have reports of new users not realizing that drafts exist, and having the unpleasant experience of thinking that their parti

[2021-05-20 00:54] mwegner opened #18556 "upgrade-zulip-from-git errors out with permission denied in node_modules"
Firstly--I ended up finding a solution here.  I'm just reporting this because I figure if I got into this state, someone else probably did too.

This first appeared when trying to upgrade an instance from `git master` to `git 4.x`.  I wasn't taking notes during, but I'll try to put it in context.  I recently moved this instance from a vanilla Ubuntu 20.04 VM under ESXi to a Digital Ocean droplet (

[2021-05-20 01:54] amanagr commented on #18549
As per the discussion, we decided to have this as a setting that the user can toggle. The setting would allow the user to filter the stream in recent topics by clicking on it in the left sidebar instead of narrowing to the stream messages.

[2021-05-20 02:02] evykassirer commented on #18549
This would also be great for zulip mobile - the top-level shows all unread streams similar to Recent Topics, but clicking back from a topic has brought me to the interleaved messages which has the same problem for me (idk if this should be filed as a separate ticket)

[2021-05-20 08:40] Avi-sa commented on #18320
@zulipbot claim

[2021-05-20 11:23] IneshJupudy commented on #10539
@zulipbot claim

[2021-05-20 14:16] jwillmer opened #18560 "Linkifiers invalid characters"
In the examples I can see `(`, `)`, `?` as valid characters but it seams like that they are not working:

![image](https://user-images.githubusercontent.com/1503577/118991286-e3e19c00-b983-11eb-9f6d-1c04067016b8.png)

[2021-05-20 18:00] akshatdalton commented on #17789
@zulipbot claim

[2021-05-20 18:27] raghupalash commented on #17998
From what I see, @CholeTang99 has already worked on this issue, @timabbott reviewed it and it seems that the problem with her [PR](https://github.com/zulip/zulip/pull/18199) was that it didn't follow Zulip's commit guidelines, she didn't make the change.
Tim reminded her again 11 days ago to no response. So what is supposed to happen now? Should we wait for her to respond? Or should someone else(m

[2021-05-20 19:04] akshatdalton commented on #11711
@timabbott, we should close the PR: #11862 since the issue is fixed now.

[2021-05-20 20:43] timabbott commented on #18556
@mwegner thanks for the report!  I'm not aware of a way we'd end up with `/srv/zulip-npm-cache` not owned by the zulip user.

@andersk @alexmv any theories?

(I also am a little surprised you got a `webpack` OOM kill, in that I'd thought we had logic to shut down the Zulip server if limited available memory suggested risk of that).

[2021-05-20 20:44] timabbott commented on #18560
Parens are only allowed with named capture groups, aka the `(?P<id>)` syntax.  I think you probably just want `MEC-(?P<id>[0-9]+)` as your pattern.

[2021-05-20 20:44] #18560 closed

[2021-05-21 00:51] IneshJupudy commented on #10539
@zulipbot abandon

[2021-05-21 01:42] ChloeTang99 commented on #17998
Hi, sorry I’ve been in quarantine and I didn’t have internet access. I just saw the email notifications about this issue. I cannot change my commit message at this moment because my computer doesn’t have internet access. You can go ahead and work in this issue. Sorry for replying late.

[2021-05-21 09:41] sahil839 commented on #18417
@ritikchauhan-01 Are you still working on this?

[2021-05-21 11:44] ayushi19031 commented on #18357
I would like to work on this
@zulipbot claim

[2021-05-21 11:47] ayushi19031 commented on #17968
@zulipbot claim

[2021-05-21 11:53] ayushi19031 commented on #17894
@zulipbot claim

[2021-05-21 14:40] BenjaminGalliot commented on #17733
Hello,

It seems we have a related problem: after renaming a topic (with its messages), the old one remains present in the channel and deleting it is impossible (after confirmation of deletion, it remains present, with no associated message). The only method I found for the moment to delete this topic is to delete the channel to recreate it. Moving the topic does not solve the problem.

We use the

[2021-05-21 18:48] schultzh commented on #17789
sorry @akshatdalton
Finals got the better of me -- thanks for picking up this issue!

[2021-05-21 18:50] akshatdalton commented on #17789
@schultzh, if you still want to work on this issue then please go ahead!
@zulipbot abandon

[2021-05-21 19:42] alexmv commented on #18556
I _think_ the only natural way that `/srv/zulip-npm-cache` could get things in it is via `tools/update-prod-static`, and I don't see how that could be run as root (we `su` to `zulip` before running it).  I think we can do #18568 to be doubly-sure of this going forward, which can't hurt, but I can't think of any way we could have ended up in that situation without it having been hand-run as root.

[2021-05-21 20:48] alexmv opened #18569 "Accepting an invitation from a now-deactivated user produces a server error"
It doesn't show any errors to the user registering, happily.  But we should add a check in `process_new_human_user` that `prereg_user.referred_by` isn't deactivated before trying to send the message:
https://github.com/zulip/zulip/blob/c97956c5ff9457e01e642a8f0695e97b44921f3a/zerver/lib/actions.py#L481-L490

[2021-05-21 22:21] Signior-X commented on #18171
I guess no one is working on this one.
@zulipbot claim

[2021-05-22 00:48] #18452 closed

[2021-05-22 07:38] AshAman999 commented on #18495
![image](https://user-images.githubusercontent.com/57723319/119218361-75c0e480-bafd-11eb-9256-454910701047.png)
----------------------------------------------------------------------------------------------------------------------------------------------
_Kinda new here bit Isn't it the expected behavior for R, see line 133 of hokey.js
As I am just getting to know the software, sorry if I am wrong

[2021-05-22 08:28] LoopThrough-i-j commented on #18130
@timabbott, @amanagr please have a look when you have some time.

[2021-05-22 18:21] ritikchauhan-01 commented on #18417
yes

[2021-05-22 18:59] akshatdalton commented on #17789
@zulipbot claim

[2021-05-23 19:04] #18062 closed

[2021-05-23 20:38] timabbott commented on #13710
Closing in favor of https://github.com/zulip/zulip/issues/11939, which we're about to resolve via a documented OIDC integration.

[2021-05-23 20:38] #13710 closed

[2021-05-23 20:39] timabbott commented on #11939
@hellfirehd @OvermindDL1 just an update that this is being added now.

[2021-05-23 22:55] timabbott commented on #10524
Closing as we want to rethink our strategy after replacing the "Change" modal with a tabbed navigation system, but @alya FYI.

[2021-05-23 22:55] #10524 closed

[2021-05-24 07:35] ligmitz commented on #18346
@zulipbot claim

[2021-05-24 12:24] jwillmer commented on #18524
I used your video and got a valid prod key. I think it really depends on the human factor - which one is validating your request.

[2021-05-24 15:38] sahil839 commented on #11570
@zulipbot claim

[2021-05-24 16:15] xicuc commented on #18516
Hello, here is the error, once the update command has been executed.

i ｢wdm｣: Webpack compilation successful.
+ ./manage.py collectstatic --no-default-ignore -v0 --noinput --ignore=assets --ignore=emoji-styles --ignore=html --ignore=js --ignore=styles --ignore=templates
+ ./manage.py compilemessages -v0
2021-05-24 16:09:37,764 upgrade-zulip-stage-2: Caching Zulip Git version...
fatal: Not a valid

[2021-05-24 16:17] xicuc commented on #18516
root@server:/home/zulip/deployments/current/scripts# supervisorctl status
process-fts-updates                              FATAL     Exited too quickly (process log may have details)
zulip-django                                     STOPPED   May 24 06:04 PM
zulip-tornado                                    STOPPED   May 24 06:04 PM
zulip-workers:zulip_deliver_enqueued_emails      STOPPED   May 24 0

[2021-05-24 16:21] camsteffen commented on #8951
FWIW GitHub has this feature. If you highlight text and click "Quote reply", it only includes the selected text. The main reason this feature is useful IMO is that it preserves formatting. Copy and paste loses formatting.

[2021-05-24 17:14] gilbertbw commented on #17786
@zulipbot claim

[2021-05-24 17:38] vrozkovec opened #18580 "Pivotal integration exception"
Hi,
I've added Pivotal integration and from time to time I receive those two e-mails when working in Pivotal:
I'm running ubuntu 20.04

If you need more information, I'd be happy to help.

[code]

[code]

[2021-05-24 19:53] timabbott commented on #18580
Thanks for the report @vrozkovec!  Error payloads from webhooks should be logged to `/var/log/zulip/webhooks_errors.log`; can you capture that to figure out what event type is causing the exception?

(Sharing the whole payload, potentially after anonymizing any data with `example.com` type values, is ideal for being able to fix it quickly, but even just knowing the event type makes it a lot easier

[2021-05-24 21:29] alexmv commented on #18516
[code]
This is your underlying problem -- your database does not appear to have the "zulip" user that was set up at install time.  Either Zulip is not configured to talk to the right database, or your database does not have the right data in it.

When you restored from backups, were you using [the Zulip backups](https://zulip.readthedocs.io/en/latest/production/export-and-import.html#backups), or

[2021-05-24 23:58] alya opened #18581 "Incorrect explanation of why message can't be edited"
When viewing the source of a message that cannot be edited, there is a `?` in the bottom right corner. Hovering over it provides an explanation of why the message cannot be edited.

Currently, the explanation points to the age of the message as the reason (see screenshot below). This happens even when the message is not editable because it was sent by someone else.

<img width="794" alt="Screen Sh

[2021-05-25 00:21] alya opened #18583 "Improve documentation for user groups and stream membership management"
- [ ] [Documentation for user groups](https://zulip.com/help/user-groups) should describe use cases in addition to @-mentions, specifically that a user group can be added to a stream.

- [x] [Documentation for streams](https://zulip.com/help/add-or-remove-users-from-a-stream) should describe that groups of users and other streams can be added to a stream.

[2021-05-25 00:22] alya commented on #18583
@timabbott I'll probably just do this, but wanted to check if there are any other uses for user groups that also need to be documented.

[2021-05-25 03:57] legopin commented on #18495
Turns out this is a documented shortcut

https://chat.zulip.org/help/keyboard-shortcuts#composing-messages

![Screen Shot 2021-05-25 at 11 55 38 AM](https://user-images.githubusercontent.com/15863509/119437180-2d4d3500-bd50-11eb-87ba-22ed48090fcb.png)

[2021-05-25 04:41] AshAman999 commented on #18495
@legopin
so should we close this issue >?

[2021-05-25 05:22] vrozkovec commented on #18580
Hi @timabbott, here are few last payloads:
[log.txt](https://github.com/zulip/zulip/files/6536711/log.txt)

[2021-05-25 06:11] legopin commented on #18495
According to discussion, we can still make this behavior clearer.

Link to zulip discussion
https://chat.zulip.org/#narrow/stream/9-issues/topic/inconsistent.20reply.20to.20topic.20.60r.60.20shortcut/near/1187706

[2021-05-25 06:23] timabbott commented on #18580
@vrozkovec thanks!  That should make it possible for someone to investigate and fix this.

[2021-05-25 06:27] timabbott commented on #18583
I don't believe user groups have any other function as of yet, but that will likely change in the future.

[2021-05-25 06:38] alya opened #18588 "Document /poll in `?` widget"
To make it easier to discover, we should document the `/poll` command in the`?` widget. It should be added to the **Message formatting** tab immediately after `/me`.

- Question to use: "What did you drink this morning?"
- Answers to use: Milk, Tea, Coffee

As with the other commands, the left side should have the raw text, and the right side should show the rendered version.

While we're at it, w

[2021-05-25 07:01] timabbott commented on #18581
@sahil839 FYI, since you're going to be touching this logic.

Doing this right may require a somewhat thoughtful refactor of `get_editability` to return an error message alongside a boolean?  I'm not sure if that's actually a good idea (and that function is annoyingly subtle); it's possible that we just need to fix this logic in the template (or probably better, compute it in JavaScript, with node

[2021-05-25 08:26] RalfJung opened #18591 "Code blocks show up empty"
To reproduce, send a message like this:
[code]
This will render as an empty white box (tested on Firefox on Linux).

[2021-05-25 08:29] RalfJung commented on #18591
It seems to have something to do with the leading `#!`. But given that the entire point of code blocks is to verbatim display the text they contain, this makes no sense to me.

[2021-05-25 10:28] adambirds commented on #18580
@zulipbot claim

[2021-05-25 13:02] cmdntd opened #18594 "I can not change user email or register new user"
When I try to change user email. Console has this error:
[code]
Simultaneously, I can not login by google (It could create new email).

[2021-05-25 13:49] ganpa3 commented on #18591
Weird! `python-markdown` (the markdown library we use) doesn't support conditional code
 [_blocks_](https://babelmark.github.io/?text=%60%60%60%0A%23!%5Bfeature(const_ptr_offset_from%2C+const_maybe_uninit_as_ptr%2C+const_raw_ptr_deref%2C+const_refs_to_cell)%5D%0A%60%60%60%0A) (newlines) but supports conditional code [_snippets_](https://babelmark.github.io/?text=%60%60%60%23!%5Bfeature(const_ptr_o

[2021-05-25 14:04] ganpa3 commented on #18591
Our custom version works if you add a language specifier.
[code]

[2021-05-25 16:44] timabbott commented on #16696
@zestyping thanks for the report.  Can you post the full `install.log`, and also state clearly anything else else you might have done while trying to "reset things manually"?  It seems possible that this was caused by some detail of how you did this.

@alexmv may have more things to try.

[2021-05-25 19:54] timabbott commented on #18591
Hmm, has Rust set a [default code block language](https://zulip.com/help/code-blocks#default-code-block-language)?  I would expect that to make the language specified unnecessary.

@ganpa3 do you understand why `python-markdown` renders an empty box for this input?

[2021-05-25 19:56] timabbott commented on #18594
This is clearly some sort of issue with placing Zulip in an iframe or similar.  We can discuss in https://chat.zulip.org/#narrow/stream/9-issues/topic/I.20can.20not.20change.20user.20email/near/1187940, but I don't think this is a Zulip problem -- it's a bug in whatever app you're building on top of Zulip.

[2021-05-25 19:56] #18594 closed

[2021-05-25 20:09] RalfJung commented on #18591
I don't think the bug has much to do with Rust, this also triggers the problem:
[code]

[2021-05-25 20:54] akshatdalton commented on #18591
This is **not** a bug but a [feature in Python-Markdown](https://python-markdown.github.io/extensions/code_hilite/#shebang-no-path) which looks for `lang` input from the shebang when no `lang` input is provided - when we open a fence. So a [shebang (with path)](https://python-markdown.github.io/extensions/code_hilite/#shebang-with-path) keeps the first line intact while a [sheband (with no path)](

[2021-05-25 21:01] #17662 closed

[2021-05-25 21:06] timabbott commented on #18471
This is pretty reasonable, and I think using GitLab's shortcut is a reasonable choice.

@Signior-X want to just add this?  I think it'd be a quick little project.

[2021-05-25 21:13] adambirds commented on #18580
@vrozkovec are you wanting to alert on this event or not? As we have a list of a bunch of unsupported events that we just ignore, we can just add to this if you aren't specifically wanting to alert on this event.

[2021-05-25 21:14] adambirds commented on #18580
As the content of that payload seems pretty useless to be fair.

[2021-05-25 21:31] vrozkovec commented on #18580
@adambirds looking at the log it relates to creating new labels / epics, right? I think this can be ignored, me personally I'm not interested in those events.

[2021-05-25 21:56] akshatdalton commented on #18591
[code]

I hope this will make clear.

[2021-05-25 22:02] alexmv opened #18600 "`zulip::postfix_localmail` should not include `permit_mynetworks` in ACLs by default"
On hosts which include `zulip::postfix_localmail`, a local `postfix` service is installed, to allow incoming mail to be fed into Zulip.  In service of this, `puppet/zulip/templates/postfix/main.cf.erb` gets written out as `/etc/postfix/main.cf`.

In `main.cf`, the `smtpd_relay_restrictions` and `smtpd_recipient_restrictions` lines control what connections are allowed to deliver email to where. Pos

[2021-05-25 22:03] ro-i commented on #17910
Hi, I'm currently working again on this issue, sorry for the delay :) I'm preparing a suggestion based on https://github.com/zulip/zulip/pull/16208 from @strifel extending the `ext_auth_uid` dict with a `saml` field.

[2021-05-25 22:03] ro-i commented on #17910
@zulipbot claim

[2021-05-25 22:03] gnprice commented on #18599
In that chat thread, we worked out a diagnosis:

It looks like in https://github.com/zulip/zulip/commit/8b8a9be37 , which was intended to fix #8177 for avatars and custom emoji, we actually overcorrected. We take the user's image, rotate the pixels as indicated by the EXIF orientation metadata -- but then leave that metadata in place.

Instead, we should do the rotation but then remove the orienta

[2021-05-25 22:09] Signior-X commented on #18471
Sure it would be fun to try adding keyboard shortcuts.

[2021-05-25 22:33] timabbott commented on #18591
Oh, I see, shebang line processing maybe makes sense for saving you a bit of duplicated work when posting a script.  It seems totally wrong to me that it would not still emit the shebang line in the code block, though.

So yeah, I think disabling this python-markdown feature is the best path forward, especially since that will make Zulip agree with CommonMark on this detail.

[2021-05-25 23:02] andersk commented on #18600
If we add an `outgoing_enabled` setting, I think we should mark it as clearly deprecated and plan to remove it in a future release. Writing a reasonable outgoing Postfix configuration for the modern internet has become a freakishly complicated endeavor with SPF, DKIM, DMARC, DANE, TLSA, MTA-STS, TLS-RPT…and this has nothing to do with our core product.

[2021-05-25 23:13] timabbott commented on #8028
We now have log rotation for all files that Zulip generates since 93d661d11934d91bdfe49aa4a83c71f711277991.  So the only remaining issue is the supervisord thing.  Sadly https://github.com/Supervisor/supervisor/issues/322 remains unresolved.

[2021-05-25 23:22] timabbott commented on #14059
I believe that this is fixed in Zulip 4.0.  I'm going to close this; if there are still problems with the OVH S3 provider, please open a new issue, since the above is all based on `boto3`, the rewrite of the `boto` library, and so any debugging above is likely not relevant.

[2021-05-25 23:22] #14059 closed

[2021-05-25 23:25] timabbott commented on #13299
Starting with Zulip 4.0, we now document how to configure an HTTP proxy for outgoing HTTP traffic from a Zulip instance in https://zulip.readthedocs.io/en/latest/production/deployment.html#using-an-outgoing-http-proxy.

@alexmv FYI.

[2021-05-25 23:25] #13299 closed

[2021-05-25 23:27] timabbott commented on #18067
@mateuszmandera want to just do this?  It seems really quick.

[2021-05-25 23:32] timabbott commented on #16686
@showell do you feel that the optimizations we've done thus far close this issue?  If not, can you add a link to the latest chat.zulip.org thread or PR for where we ended up?

[2021-05-25 23:37] timabbott commented on #16631
@ayushin have you upgraded to Zulip 4.0 yet?  I think it's possible that the upload backend stuff you need is implemented in that release, since we did migrate to a new library for these details.

Though ... @ryanreh99 did we not update https://zulip.readthedocs.io/en/stable/production/upload-backends.html#s3-backend-configuration to mention the new parameters in the comment documentation?  Maybe

[2021-05-26 00:21] timabbott commented on #15973
@m-e-l-u-h-a-n feel free to do a PR to add conditionals in the supervisord configuration.

[2021-05-26 00:26] timabbott commented on #14455
I think the original issue with memcached authentication reported here was fixed, and we've also added https://zulip.readthedocs.io/en/latest/production/troubleshooting.html#restrict-unattended-upgrades to document why one might get a bunch of error emails after a postgres upgrade (one per process).

However, I think we may still have some follow-up to do related to the possibility that Docker Swa

[2021-05-26 00:28] timabbott commented on #16820
@Alge thanks for the feedback.  I think it could make sense to add a setting similar to `PUSH_NOTIFICATION_REDACT_CONTENT` that basically overrides the user-level setting; is that what you have in mind?

(I assume the motivation is a security policy thing?)

[2021-05-26 00:32] timabbott commented on #16054
I suppose I'd be fine with having a SUPPORT_EMAIL_ADDRESS setting that defaults to settings.ZULIP_ADMINISTRATOR but we document can be changed to `NOREPLY_EMAIL_ADDRESS`.  Thoughts?

https://zulip.readthedocs.io/en/latest/subsystems/settings.html has some background.

[2021-05-26 00:33] timabbott commented on #14600
I think the `send_event` in a loop part is still a scalability issue for this, though it's more minor than the database issue.

[2021-05-26 00:37] adambirds commented on #16054
@timabbott I'm not sure that would work exactly as @koelle25 would hope it would.

I think what he wants is to be able to send all outgoing emails from "no-reply@example.com" but still display "support@example.com" where we link to the support addresses in various links in the web app. So we'd need a setting to "Send all email using `NOREPLY_EMAIL_ADDRESS`" and a setting for `SUPPORT_EMAIL_ADDRESS

[2021-05-26 00:39] adambirds commented on #18580
Yeah I agree we should ignore. #18598 will do this.

[2021-05-26 00:43] timabbott commented on #13084
@adambirds this might be a good mini project for you.

[2021-05-26 00:44] timabbott commented on #1807
I believe this was fixed in Zulip 4.0 with our own explicit `http_proxy` configuration:

https://zulip.readthedocs.io/en/latest/production/deployment.html#using-an-outgoing-http-proxy

@alexmv FYI to confirm my understanding.

[2021-05-26 00:44] #1807 closed

[2021-05-26 00:46] adambirds commented on #13084
Yeah, how would we like to go about this? And how would we test this easily as guessing we can' test this in CI?

[2021-05-26 00:49] alexmv commented on #1807
Yup, we explicitly set `HTTP_proxy=` in the env if `zulip.conf` has no proxy information.

[2021-05-26 01:03] alexmv commented on #13521
I think that's accurate, but I think it certainly needs testing.

[2021-05-26 01:12] timabbott commented on #14676
I think 90% of the work for changing the default will be managing the change in our documentation.  One theory is that we should support this but basically just document "You'll need to replace /home/zulip/ with the path where you installed Zulip in our docs".  That might be an OK compromise of effort/benefit.

(I'm not a huge fan of `~zulip` expansion as the approach for our docs, because it has

[2021-05-26 01:26] timabbott commented on #18278
@aryanshridhar just a ping on whether your existing PRs cover this?

[2021-05-26 01:27] timabbott commented on #7303
Closing, since we've now integrated that collection of sounds into Zulip.  Huge thanks for adding this @stwime!

[2021-05-26 01:27] #7303 closed

[2021-05-26 01:30] #9999 closed

[2021-05-26 01:31] timabbott commented on #6950
I think we fixed this a few years ago; we're very happy with the performance of that part of the system at this point.

[2021-05-26 01:32] timabbott commented on #5269
I'm pretty confident that we fixed this a few years ago; in particular, we've done this recently with 18K users without incident.

[2021-05-26 01:32] #5269 closed

[2021-05-26 01:35] timabbott commented on #16460
Closing, as we haven't seen other reports, and I don't think it's likely anyone will work on this without a clear reproducer.

[2021-05-26 01:35] #16460 closed

[2021-05-26 01:35] alexmv opened #18602 "Changing a stream's visibility loses the "[Change]" button to change it back"
https://user-images.githubusercontent.com/28347/119589574-eaa74f00-bd87-11eb-9922-228165f5de31.mov

[2021-05-26 01:51] adambirds commented on #14676
@timabbott how would we go about getting round this, as this would definitely be an issue.

[2021-05-26 01:56] adambirds commented on #18534
@zulipbot claim

[2021-05-26 03:47] sahil839 opened #18604 "Passing a 'topic_name' when editing a private message using API raises AssertionError"
When a user tries to pass `topic_name` while editing a private message using the API, the below code raises AssertionError on `stream_being_edited` not being `None`.
[code]

[2021-05-26 03:56] #18580 closed

[2021-05-26 03:59] timabbott commented on #18604
Tagging as a priority because it's a 500 error in production, and we have a goal of having none of those.

[2021-05-26 05:33] aryanshridhar commented on #18278
@timabbott Nope, not as of now. Will take this up once I have completed solving a couple of other issues :)

[2021-05-26 07:17] RalfJung commented on #18591
Yes, that. Even if the shebang line is used for auto-detection, why is it then deleted from the rendered code?

[2021-05-26 09:26] stratosgear commented on #14455
Unfortunately, I will not be able to test this for you :(

Due to company policies, we were forced to switch to Teams, and I hate every minute of using it!!!

I look forward to using Zulip in the future again though, as I believe it is definitely a superior product.  Keep up the good job!

[2021-05-26 12:14] showell commented on #16686
@alexmv would probably be the best judge of this, since I haven't seen it operationally.  I would basically be happy with closing this.

It's possible we want to tweak `chunk_size` in `zerver/lib/digest.py` from 30 to something more like 100 to get even better throughput.

[2021-05-26 14:02] Riken-Shah commented on #18555
@zulipbot claim

[2021-05-26 14:19] andreasoc opened #18609 "Ability to translate "Set a status" is missing"
Hi
as also reported by Jerome here https://chat.zulip.org/#narrow/stream/58-translation/topic/missing.20strings/near/1185962, there is no possibility to translate the 'section' of the 'Set a Status' profile.
![Capture-décran-de-2021-05-22-09-51-44](https://user-images.githubusercontent.com/2852354/119676354-15ec7580-be3e-11eb-8513-6badb80dc7af.png)

[2021-05-26 14:57] sangdrax8 commented on #9957
Any update on a target fix for the groups?  We can manually update these, however it will make pushing for zulip to be our production product with out group changes in LDAP changing what streams people can see.

[2021-05-26 16:58] m-e-l-u-h-a-n commented on #16233
It appears #16663 got stuck a bit. So If there aren't any problems I would take that work forward, as I also have some folllowup and related works lined up in similar direction.

[2021-05-26 18:04] #18609 closed

[2021-05-26 18:41] #18256 closed

[2021-05-26 19:07] ryanreh99 commented on #16631
Hmm, didn't get which new parameter should have been added ?
In the `prod_settings_template` file, only added the new `S3_ENDPOINT_URL` variable which is mentioned in the doc point 5.

[2021-05-26 21:42] gilbertbw opened #18614 "M1/aarch64 developer environment"
When trying to setup the developer environment on an M1 Mac, I ran into a couple of issues.

1. Installing shellcheck fails as it gets the x86_64 version
2. pip installing ninja fails as there is no wheel, it needs to be built from scratch
3. you have to use a different vagrant provider to that recommended by the documentation. Virtualbox does not (and is not planning to) support M1 Mac's. I have

[2021-05-26 22:31] timabbott opened #18616 "stream settings: Bug when adding users to a stream"
I did the following experiment:
* As Iago, create a new public stream that I'm not currently subscribed to (E.g
* Add myself to the stream now that it's created
* Try to add another user

One won't be able to, because the "Add users" input ends up disabled, saying "Only stream members can add users to a private stream".  One can fix this by reloading, but this is a pretty ugly live-update bug.

Th

[2021-05-26 22:53] alya opened #18617 "Filter list of users in org settings menu by role"
There are a lot of situations where a user might want to contact an owner/admin/moderator to ask them to do something. Right now, it's tricky to figure out who the admins for your org are. You can currently do it be resorting users by role in the Organization > Users menu, but it's not at all obvious.

To solve this, we should add filtering by role capability to the Organization > Users settings p

[2021-05-26 22:59] timabbott commented on #18614
The Docker provider is definitely one that we have tested/support on macOS in the past, so I don't think it should be a problem to recommend it for mac M1.

That block does indeed look a bit confused; I'm not sure why weren't not directly checking for i386 vs. amd64.

@andersk FYI.

[2021-05-26 23:06] alya opened #18618 "Add counts for each user role in Organization settings > Users"
At present, there is no easy way to see how many users are in an organization.

Following up on #18617, we should add counts for each role to the the user role filter in Organization settings > Users, e.g. "Owners (3)".

We should also make sure the grand total user count is displayed, perhaps in the dropdown label.

This issue is blocked by #18617.

[CZO discussion](https://chat.zulip.org/#narrow

[2021-05-26 23:10] timabbott opened #18619 "Provide users some UI for undeleting deleted messages"
As detailed in https://zulip.com/help/edit-or-delete-a-message#how-deletion-works, deleting a message removes a message from the UI, but it is still possible to restore for a configurable period, which mainly exists to help protect against mistakes.

Currently, the process for undeleting a message involves `manage.py restore_messages` done by a sysadmin, which is annoying, in no small part because

[2021-05-27 01:05] timabbott commented on #14425
@sumanthvrao I think we can close out this issue if we verify that the "Copy code" feature for a math block copies the LaTeX source; have you tested that?

[2021-05-27 01:08] timabbott commented on #14420
@varkor @gasche @rwbarton @roed314 @kbuzzard I'd appreciate feedback on the design of this; would you be up for asking in your communities whether folks will want a personal macros file or a global one for the organization?  (Or as I described above, a default one for the organization that can be replaced with a personal macros file)?

I think if we have that design decision determined, this would

[2021-05-27 01:16] timabbott opened #18621 "Write migration to correct invalid RealmAuditLog data for Subscription objects"
Following https://github.com/zulip/zulip/pull/18585, which fixed a bug with how RealmAuditLog entries were generated when removing subscriptions in bulk (I believe individual deletes are fine), we should try to write a migration to uncorrupt the RealmAuditLog data set.  Note that because the loop variable was wrong, the actual lines that were incorrect in past events are `modified_user` and `modif

[2021-05-27 01:54] sumanthvrao commented on #14425
@timabbott The only way to do this currently is to click on "View Source" and copy the text. Unlike other code blocks, we don't show the copy-to-clipboard icon when hovering over math block.

I think we can implement a copy button similar to other code blocks. It mostly seems like a frontend-only change and the original message content is present in the <math> block - which we can extract in a sim

[2021-05-27 03:22] alexmv commented on #1656
Done in bff503feb4a1d07ad994bc13d061010278233999.

[2021-05-27 03:22] #1656 closed

[2021-05-27 03:38] chrisbobbe opened #18622 "Slack import should respect Slack's counterpart of EMAIL_ADDRESS_VISIBILITY."
When importing data from Slack, Zulip should respect the [Slack workspace's setting](https://slack.com/help/articles/228020667-Manage-email-display) of who can see email addresses, instead of defaulting to showing email addresses to any user (that default is noted [here](https://g0v.zulipchat.com/help/restrict-visibility-of-email-addresses#restrict-visibility-of-email-addresses_1)).

It's importan

[2021-05-27 04:03] timabbott commented on #14425
Yeah that sounds good.

-Tim Abbott (mobile)

On Wed, May 26, 2021, 18:55 Sumanth V Rao ***@***.***> wrote:

[2021-05-27 04:13] sumanthvrao commented on #14425
@zulipbot claim

[2021-05-27 05:10] alya commented on #3409
Here is a proposed design for this, from a [discussion on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/switching.20compose.20state).

1. Show two icons in the upper right of the compose area (near the "X"):
- `fa-hashtag` to indiate streams, with "Switch to stream message" as the tooltip
-  `fa-users` to indicate PMs, with "Switch to PM" as the tooltip
2. Use some kind of selection

[2021-05-27 05:37] manavdesai27 commented on #41
I am running Fedora 34. Can anyone help me install the development server on Fedora 34.

On running ./tools/provision I get this error:

`CRITICAL:root:Unsupported platform: fedora 34

Provisioning failed (exit code 1)!

* Look at the traceback(s) above to find more about the errors.
* Resolve the errors or get help on chat.
* If you can fix this yourself, you can re-run tools/provision at any tim

[2021-05-27 05:42] abhijeetbodas2001 commented on #18077
Should this new setting default to on or off?

[2021-05-27 06:14] prakharporwal commented on #17842
@zulipbot claim

[2021-05-27 06:40] alya commented on #558
I like this idea -- even on a wide monitor, I purposefully make CZO Zulip window narrow so that the buddy list disappears.

[2021-05-27 06:49] edith007 commented on #18621
@timabbott can i take this up?

[2021-05-27 06:56] timabbott commented on #18622
Fixing this seems important, though I do note that our guides for setting up open organizations have recommended setting the email address visibility setting since we introduced it.  It seems possible that this organization was imported before we had the relevant feature, if it was indeed several years ago.

If Slack's data export format includes this setting (which it may not, but if that's the c

[2021-05-27 07:15] timabbott commented on #18621
I think this probably needs to be done by someone with access to a production database, to try to isolate to what extent it's possible to fix.

[2021-05-27 07:30] rht commented on #41
Yeah, Fedora 34 hasn't been tested, and so the dev setup fails. If you want to test if it works, you can replace the 33 https://github.com/zulip/zulip/blob/master/tools/lib/provision.py#L108 with 34. If it works, do report the fact in chat.zulip.org and so the installer will be updated to include Fedora 34.

[2021-05-27 07:49] gasche commented on #14420
Thanks for asking! I think that personal macro files would be more flexible in general (with the global default as you suggest). We could make do with a global one if it's much simpler, trying to agree on a set of important packages to standardize on. My community (as many computer-science communities, as opposed to some mathematics communities) uses a lot of elaborate macros and some advanced pac

[2021-05-27 08:04] kbuzzard commented on #14420
Also thanks for asking! I would love macros in some form because \mathbb{Q} is a real bore when I'm just writing \Q in my LaTeX files. I'll ask on the Lean chat to get a view of what the community thinks.

[2021-05-27 12:10] q00d0 commented on #18524
@timabbott showing fullscreen **with url** worked me finally!

![image](https://user-images.githubusercontent.com/11162933/119823575-4cd19280-bef5-11eb-9fc5-218a304967d5.png)

[2021-05-27 12:10] #18524 closed

[2021-05-27 17:32] sahil839 commented on #18616
@zulipbot claim

[2021-05-27 18:15] aryanshridhar commented on #18504
@zulipbot claim.
(Will be relocating the other modals as well to `/static/template` folder)

[2021-05-27 18:23] aryanshridhar commented on #18396
Sure @RomainGitH, go for it :)

[2021-05-27 19:10] timabbott commented on #18524
I added a small commit changing the documentation to mention that one should show the whole page in a screenshot.  Thanks everyone for the help figuring this out! :)

[2021-05-27 19:53] manavdesai27 commented on #41
I got the following error on doing so:

Error: Transaction test error:
  file /usr/share/doc/libxml2-devel/examples/Makefile conflicts between attempted installs of libxml2-devel-2.9.12-2.fc34.i686 and libxml2-devel-2.9.12-2.fc34.x86_64

Error running a subcommand of ./lib/provision.py: sudo -- ./scripts/lib/setup-yum-repo
Actual error output for the subcommand is just above this.

Traceback (most

[2021-05-27 20:34] manavdesai27 commented on #41
Alright I fixed that error. Now I am getting the following error:

[MIRROR] pgdg-fedora10-10-4.noarch.rpm: Status code: 404 for https://download.postgresql.org/pub/repos/yum/10/fedora/fedora-34-x86_64/pgdg-fedora10-10-4.noarch.rpm (IP: 2604:1380:2000:7501::69)

[MIRROR] pgdg-fedora10-10-4.noarch.rpm: Status code: 404 for https://download.postgresql.org/pub/repos/yum/10/fedora/fedora-34-x86_64/pgdg

[2021-05-27 23:10] jkharv opened #18631 "Selecting options on polls does not work when viewed from all messages"
If a poll is first viewed from "all messages" it becomes impossible to select an option. When first viewed from the stream it was created in it works as expected. After being viewed for the first time the problem persists whether trying to interact with the poll from either "all messages" or the stream it belongs to. Completely closing and reopening Zulip seems to reset this.

**To Reproduce**

1.

[2021-05-27 23:48] timabbott commented on #41
Since PGroonga hasn't built that package for Fedora, you need to set the flag to build it from source in `provision.py`.  Search for `pgroonga` in that file and you'll find it.

[2021-05-27 23:49] #18616 closed

[2021-05-27 23:51] timabbott commented on #18631
I don't understand how we'd have a bug of this form based on my understanding of how different views work, but we should definitely fix it.  Can you readily check if there's any exceptions in the JavaScript console of the desktop app (It's available in the "Tools" menu, as "Developer tools for current tab")?

[2021-05-28 00:03] jkharv commented on #18631
There are no exceptions in the console. When I try to click on poll options in the broken state it just brings up the text entry box as it does when clicking on any other message.

[2021-05-28 00:15] rht commented on #41
That's strange, since in https://github.com/zulip/zulip/blob/6107679f612e7203f564ac20afc0fa573ef9b73e/tools/lib/provision.py#L226-L237, PGroonga is built from source as a default for any Fedora distributions. Maybe you can try hardcoding `BUILD_PGROONGA_FROM_SOURCE = True` after line 237 to force it no matter what.

[2021-05-28 06:10] #18604 closed

[2021-05-28 06:28] #17762 closed

[2021-05-28 06:31] timabbott commented on #17762
@recursivecodes OK we've merged what I believe to be a proper fix for this issue that should work across all cloud providers.

I've backported this to the 4.x branch, so you should be able to get that code and verify it via `upgrade-zulip-from-git 4.x`.  If that works for you, we'll include this in the next maintenance release.

Thanks again for the report!

[2021-05-28 07:06] timabbott commented on #11003
I'm not sure this really makes sense now that we have a large library of supported sound files, so closing.

[2021-05-28 07:06] #11003 closed

[2021-05-28 07:22] yogi2103 commented on #18286
Hello there I'm new to the community and wants to contribute and wants to work on this issue. So please @zulipbot claim

[2021-05-28 07:42] yogi2103 commented on #18286
Hey @alya Could you specifically tell what the issue is all about because I visited the development instruction page and found many links. I didn't get the meaning of external links?

[2021-05-28 09:28] PIG208 commented on #18392
There is a PR fixing part of this issue awaiting review

[2021-05-28 15:18] davidtwco opened #18640 "Allow user muting to be disabled at the organization level"
Zulip 4.0 added support for muting other users, this is helpful for moderation in public Zulip instances, but is less ideal for business environments. It isn't hard to imagine interpersonal disputes arising in a workplace when it's discovered that one employee has muted another, or important workplace communications being missed. It would be good if there was an organization setting that allowed a

[2021-05-28 15:43] abdulfahad66 commented on #16172
I sorted using using SMTP 2 GO IP based auth

[2021-05-28 15:44] abdulfahad66 commented on #2958
using SMTP 2 GO to successully send emails from Zulip System usign IP based authentication

[2021-05-28 16:51] #11939 closed

[2021-05-28 16:53] timabbott commented on #16631
OK, I think you're right that `S3_ENDPOINT_URL` is all we need, combined with the change to fix #17762, which I'll backport to the 4.x branch.

Thanks @ayushin and @ryanreh99!

[2021-05-28 16:53] #16631 closed

[2021-05-28 17:00] timabbott commented on #11939
Just merged to master.  Enjoy!

I think this might not be hard to backport to the 4.x series, but I'd appreciate reports from folks testing it before doing so.

[2021-05-28 17:20] ganpa3 commented on #18622
So, I looked into it and this setting (or any other setting) isn't included in the exported file.
The [API method](https://api.slack.com/methods/admin.teams.settings.info) to fetch the setting is only available for enterprises, so I couldn't test it out.

[2021-05-28 20:32] andersk commented on #18631
I transferred this to zulip/zulip because I was able to reproduce in a browser (both Firefox and Chrome). Looking more carefully at the inspector when it occurs, I see that the event handler for the `poll-vote` button is not installed.

[2021-05-28 21:49] alya commented on #18286
As the issue description says, this refers to: "links to external sites for downloads and/or supplemental instructions (e.g. setting up ssh keys for GitHub)"

[2021-05-28 23:40] alya opened #18645 "Add channel filter to Recent conversations"
We should add a stream filter to **Recent topics**.

This requires a multiselect widget for picking streams. [CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/Multiselect.20dropdown.20widget/near/1717055)

See also [CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/stream.20filter.20in.20Recent.20topics).

And [another CZO discussion, with open design que

[2021-05-29 00:52] WesleyAC commented on #18645
See also #18549

[2021-05-29 01:13] gnprice commented on #18622
Dang, good to know.

It sounds like we should have something in the Slack import flow that says, OK, you've imported -- now before you go share the Zulip organization with everyone, take a bit of time to browse through the org settings in Zulip, and your workspace settings in Slack for comparison, and make sure you have things how you want them. (And perhaps mention that the Slack API doesn't allo

[2021-05-29 01:20] gnprice commented on #18622
Hmm also: even with Enterprise Grid so that that API method was available, would it even answer this question?

Slack calls this setting "Email Display" in their user/admin-facing docs:
https://slack.com/help/articles/228020667-Manage-email-display

In the sample response for that API method:
https://api.slack.com/methods/admin.teams.settings.info#response
there are just a small handful of fields

[2021-05-30 04:00] dgutie0 commented on #17694
I see this closed without an answer. Can anyone chime in on this? I have the same question.

Running away from Rocket Chat because of push notification limits, and the inability to pay for more in a reasonable manner.

Zulip has been great in my test drive, but I'd like to know if any limitations apply to the push notification service when self hosted

[2021-05-30 04:22] ganpa3 commented on #18622
This seems good.

[2021-05-30 04:30] abhijeetbodas2001 opened #18649 "Fix UI elements which change hash but don't have `href`s"
We have some UI elements, buttons etc in the webapp, clicking on which takes the user to another URL, but don't have `a href` tags on them. These work because we use click-handlers to call the relevant functions to change the hash, do browser history work etc. However, these aren't detected as "links" by browsers, and hence do not show some behaviors expected of links -- for example, Ctrl+left-cli

[2021-05-30 04:51] zestyping commented on #16696
Hi @timabbott, here's the `install.log`.

[install.log](https://github.com/zulip/zulip/files/6565706/install.log)

As far as I recall, I just uninstalled PostgreSQL and then re-ran the installer (with the `zulip` user still existing from the original installation).  Here's my `bash` history:

[code]

And I just confirmed the git revision:

[code]

Note, I'm not stuck — I deployed a fresh new insta

[2021-05-30 06:17] whalehub commented on #12941
@GonzRon @timabbott This roadblock should become a thing of the past in the not-too-distant future, see [this article](https://blog.torproject.org/tls-certificate-for-onion-site) for reference.

[2021-05-30 09:15] Avi-sa commented on #18320
@zulipbot abandon

[2021-05-30 20:53] m-e-l-u-h-a-n commented on #16233
@zulipbot claim

[2021-05-31 01:25] rht opened #18651 "Slack import: Import emoji from Slack."
There is a solution of it, if you read https://chat.zulip.org/#narrow/stream/31-production-help/topic/Slack.20Import/near/1190639. This solution simply needs to be documented.

[2021-05-31 10:33] SirAzako commented on #18320
!claim

[2021-05-31 10:34] SirAzako commented on #18320
@zulipbot claim

[2021-05-31 11:30] lukasstevens commented on #15851
I'd really like to have this feature. What is the status of this issue?

[2021-05-31 17:23] gilbertbw commented on #17786
@zulipbot claim

[2021-06-01 05:11] yogi2103 commented on #18286
Hey @alya, I have made the changes and also tried to resolve the issue but unfortunately it cannot be resolved because of the Github does not include the target attribute even if you use plain HTML. I'm also attaching the some reference links so it would be better to close the issue.
Here is the link:-
https://stackoverflow.com/questions/41915571/open-link-in-new-tab-with-github-markdown-using-tar

[2021-06-01 07:03] vendz commented on #17716
@zulipbot claim

[2021-06-01 09:29] Lumrenion opened #18659 "SAML Authentication failed: The response was received at wrong URL"
Hi,

I am new to zulip and trying to get SAML working properly. I am stumbling from one error to another and eventually I am stuck. When clicking on the SAML login button in zulip, I get redirected to my IDP login form. After successful login to my idp, I get redirected to my zulip instance. There the zulip login form appears again, with the following log entries:
[code]

Obviously, the error is t

[2021-06-01 10:26] nikhilmaske-2001 commented on #18479
@zulipbot still working.

[2021-06-01 12:49] alexclaydon commented on #10205
Just to say that we would love this feature - stream ordering can provide valuable visual context and structure for teams.

[2021-06-01 17:08] alya commented on #18286
Hi @yogi2103, that reference is not relevant, as it discusses links on the GitHub site, not on our documentation sites.

If you do not wish to continue working on this issue, please comment: `@zulipbot abandon`. Thanks!

[2021-06-01 18:34] alexmv commented on #16696
Hm -- the log looks like it has a successful install of zulip 3.4 on 2021-05-12, followed by an attempt to install zulip 4.2 from tarball (aborted because certbot can't bind to 80, likely because zulip is already running), followed by three attempts to install from git, with the same certbot failure the first two times, followed by the staticfiles error.

I suspect that the process of cleaning up

[2021-06-01 20:19] chrisbobbe commented on #18622
https://zulip.com/help/moderating-open-organizations looks like a useful doc to include a link to.

[2021-06-01 20:55] alya opened #18661 "Incorrect warning message for unsubscribing from stream"
When a user attempts to unsubscribe from a stream they cannot rejoin, we display the following message: `Once you leave a private stream, you will not be able to rejoin.`

![Screen Shot 2021-06-01 at 1 52 26 PM](https://user-images.githubusercontent.com/2090066/120388957-a87a9200-c2e0-11eb-8496-9ee9e7fc5f11.png)

This message is incorrectly displayed when a *guest* user attempts to unsubscribe fro

[2021-06-01 21:25] kbuzzard commented on #14420
Maybe a default set of macros set by the community, and the default can be overridden by each user individually? Failing that, just a community file would be lovely.

[2021-06-01 21:58] #18661 closed

[2021-06-01 23:01] timabbott commented on #18631
This does seem likely to be some sort of initialization order bug.  @aero31aero would you be up for debugging this?

[2021-06-01 23:43] timabbott commented on #18659
@Lumrenion can you stop by `#production help` in chat.zulip.org?  I think this will be much more easily debugged interactively.

@mateuszmandera FYI, since we've been discussing doing specific SAML documentation for KeyCloak (#15017).

[2021-06-01 23:46] timabbott commented on #18659
Also, I'd love to hear more details on the issues you ran into while trying to set this up, since we're planning to invest in improving the onboarding experience for setting up SAML.

[2021-06-02 00:04] MartinX3 opened #18665 "[Feature] Bulk changing of many user roles"
I have 407 members freshly imported, but want to give them the user "Guest" instead of the default "Member".
Sadly it seems I need to do it with 4 clicks for each user in the UI.

[2021-06-02 06:02] timabbott commented on #18665
You can do this in bulk easily using a loop and [the relevant Zulip API endpoint](https://zulip.com/api/update-user), but if you're doing a data import from Slack or something, it might be easier to edit the data export tool to just default users to be Guests if that's what you want.  As a sidenote, one can also invite new users as a guest.

(Were the users Guests in the service you exported from?

[2021-06-02 08:08] MartinX3 commented on #18665
Thank you very much for your response :)

Yeah, as someone who likes development it's awesome to use API endpoints and the Zulip API is very powerful

But if you're not good at development, it would be great if you can select groups of users in the UI with checkboxes and change their roles at once. :)

[2021-06-02 14:26] mateuszmandera commented on #18659
Hmm, this seems more specific to the server setup rather than the IdP. Due to the proxy, Zulip server sees the response at https://zulip.example.com:80/complete/saml/ - but from the IdP's POV it's redirecting to `https://zulip.example.com/complete/saml/` and that's what it sets the `Destination` of the SAMLResponse too - which is correct. I'm not quite sure how to make this works, because python3-

[2021-06-02 15:11] Lumrenion commented on #18659
Of course! The main problem was to identify how things are called inside Keycloak.
#### In Keycloak
1. Create a *Client* inside a Realm
    - **Client-ID** is your zulip domain, which is the **SP Entity ID** inside the authentication documentation. E.g. https://zulip.example.com
    - **Client Protocol**: *saml*
    - Leave **Client SAML Endpoint** empty
2. In the client tab "SAML Keys":
    - Cop

[2021-06-02 15:18] Lumrenion commented on #18659
@mateuszmandera Yeah, I guess that the issue happens when the Traefik reverse proxy forwards the request to the zulip docker container. But I never had such a problem and I could not find a way to omit that port information. My traefik configuration looks like this:
[code]

[2021-06-02 19:05] gnprice opened #18673 "Refactor page_params language data into clean data structures"
We currently have the following fields in page_params (quoting zerver/lib/home.py):
[code]
which exist to drive the piece of our settings UI that's for choosing a language. There's also `default_language`, which comes straight from `register_ret`, and is the language identifier that the frontend i18n code actually uses for translations.

We'd like to expose that information in the API, so that mob

[2021-06-02 19:18] jiriryszawy opened #18675 "Duplicating same tweets when following more users with Twitter-bot"
When following multiple users on Twitter with Twitter-bot using crontab, the same tweets will be will be importing again and again everytime crontab call the twitter-bot script. Using
[code]
will repeat to import last 5 tweets from two TwitterUsernames from the list every five minutes. Only one TwitterUsername will behave as expected and his tweets will not be duplicated.

@strifel proposed this s

[2021-06-02 19:45] jiriryszawy opened #18676 "Better Twitter integration"
I have few feature requests for better Twitter integration:

**New way to follow multiple twitter users**
Now you can only import tweets from one user using twitter-bot script. It would be helpful to add more users in one script argument (using comma as a separator). Putting more users will now cause an error. Only way to follow multiple users is to call twitter-bot script multiple times in cronta

[2021-06-02 19:53] debalance opened #18677 "Problem with AUTH_LDAP_USER_FLAGS_BY_GROUP on Zulip >= 4.0"
Updating Zulip from 3.4 zu 4.2 broke my ldap sync, upon closer investigation I found the cause to be the extended set of roles:
because I was using

[code]

I got the message

[code]

Commenting out the above config block was not enough, I had to manually promote at least one user to OWNER for the sync to work again because there wasn't any owner.

Then I tried adjusting my above config snippet fr

[2021-06-02 22:18] #17786 closed

[2021-06-02 23:00] timabbott commented on #18677
I think this needs a code change to add an `is_realm_owner` setter similar to this function:
[code]

i.e. this:
[code]

@debalance you're welcome to apply that patch to `zerver/models.py` in your installation and use `is_realm_owner`.

@mateuszmandera FYI; can you do a proper PR for this with tests and documentation?

[2021-06-02 23:43] timabbott commented on #17694
Zulip's Mobile Push Notifications Service is currently free regardless of usage.

We may in the future start charging for the push notifications service for commercial use, but if we do, we are very unlikely to have a pricing model similar to Rocket.Chat's, which seems designed to drive away use cases where the users are not all full-time employees of a company.  To get a sense of our pricing phil

[2021-06-03 00:38] timabbott commented on #18665
I agree the API process isn't ideal, and we'll probably eventually do something for bulk role changes / deactivations, but I wanted to unblock folks by documenting what's possible now.

If it's in Zulip Cloud, emailing support is a good way to get help (they could have easily done the role changes during the import process, and can do so now in bulk without rate limits if need be).

[2021-06-03 01:03] timabbott commented on #10205
@alexclaydon thanks for the feedback!  We're certainly thinking about new organization features there.

One thing you can do today is name streams for teams with names like "acme operations" -- so that the streams for a given team share a naming prefix.  https://forge.rust-lang.org/platforms/zulip.html#stream-naming is an example such policy.

[2021-06-03 02:59] alexclaydon commented on #10205
@timabbott Thanks for that, what I was thinking of might be along slightly different lines.  I think when people see a list of streams that are not in alphabetical order, there might be an implicit assumption by the user that the order itself carries some sort of meaning other than simply "the order in which the streams were added", or "sorted by amount of activity", or some other sorting method.

[2021-06-03 06:01] gilbertbw commented on #7564
@zulipbot  claim

[2021-06-03 06:27] alya commented on #13656
There's a use case for restricting guests to only PM with a specific individual, e.g. contractors or customer support agents with their team lead. [CZO thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Scaling.20for.20large.20number.20of.20concurrent.20users/near/1167135)

[2021-06-03 08:56] varkor commented on #14420
I agree that a personal macros file would be most useful, because people generally already have their own macros for personal use that they're familiar with. I can see there being some subtleties, e.g. if a user views the source of another user's message, which contains their personal macros, the first user probably wants to see the expanded LaTeX. However, this would mean that the macro substitut

[2021-06-03 09:00] RomainGitH commented on #18396
@zulipbot claim

[2021-06-03 09:17] gautelund commented on #10862
The ability to move a topic from stream to stream was expanded in the latest release. Do you intend to do anything with this request, moving a chunk of private/group messages to a topic? (My suggestion: with a mechanism where all parties would have to click that they agreed for the messages to be moved.)

[2021-06-03 10:26] debalance commented on #18677
Thx @timabbott , I tested your patch - it seems to be incomplete (or I missed a required step after changing the file):

[code]

[code]

[2021-06-03 10:54] sahil839 commented on #18677
I am not sure but I think the lines should be added after the below function -
[code]
@debalance can you try this once?

[2021-06-03 11:36] debalance commented on #18677
@sahil839 You're right, now it's working!

[2021-06-03 12:23] ligmitz commented on #18346
@zulipbot working on it.

[2021-06-03 14:09] OvermindDL1 commented on #11939
Oh that's an awesome surprise!  I was just looking at deploying Zulip again.  ^.^

[2021-06-03 14:49] hackerkid opened #18685 "node tests: Replace the incorrect assert with assert.equal in dispatch.js"
The following `assert` in dispatch.js should be replaced with `assert.equal`. `assert` being present there instead of `assert.equal` is a bug.

[code]

When you do make the replacment the test fails so the issue is mostly to figure out why the test is failing and make the appropriate fix

[2021-06-03 14:57] hackerkid opened #18687 "node tests: Add a lint rule to make sure that assert is not used incorrectly"
We had a lot of places in codebase where assert was used accidentally instead of asert.equal.

See https://github.com/zulip/zulip/pull/18684 for example.

We need to add a lint rule to make sure that this does not happen again.

[2021-06-03 16:38] Riken-Shah commented on #18687
@zulipbot claim

[2021-06-03 17:12] timabbott commented on #17425
Just an update that we just merged #18641, which should make this error require a 10x larger rendered message body, which may essentially eliminate the problem.

However, it's possible there is still a secondary problem with messages that have a large number of tiny LaTeX chunks resulting in a timeout (basically because we may end up starting up KaTeX a large number of times).  If folks experience

[2021-06-03 17:13] timabbott commented on #17425
I suspect we can fix the timeout issues by adjusting the model through which we call KaTeX to render all the LaTeX in a message in a single process startup.

[2021-06-03 18:29] timabbott opened #18690 "Give a title to "all messages sent by X" views"
Zulip's "all messages sent by X" views are useful, but they can also be really confusing for someone who doesn't realize or has forgotten they're in that view, especially if only PMs are visible in the recent scrollback (because they've sent you several PMs recently, or they've not sent any stream messages yet in a new account/organization).

We should fix this by adding a "Messages sent by `<name

[2021-06-03 18:51] alya opened #18692 "Paste URL to create a named link"
At present, highlighting text in the compose box and pasting a URL replaces the text with that URL.

Instead, when a user highlights text in the compose and pastes a URL, it should turn the highlighted text into a named link to that URL.

It's a really nice UX for making links, which you can try out in a GitHub comment or in Dropbox Paper to get a feel for it.

[2021-06-03 19:03] SeanTAllen commented on #18491
One that has come up for us is wanting to allow moderators to delete messages as well. I'm adding this note here to get that functionality into the discussion as well.

Without being able to delete messages after the timeout, moderators have limited ability to deal with spam and abuse.

[2021-06-03 21:11] alya opened #18694 ""+" menu for browsing and creating streams"
At present, it is hard to discover how to join streams and create new streams. In particular:

1. Users have a hard time finding the gear in the **STREAMS** header in the left sidebar and realizing that it's relevant for them.
2. Even once a user is in the **STREAMS** menu, the **Create stream** button is hard to spot.

<img width="321" alt="Zulip_-_Zulip_Community" src="https://user-images.github

[2021-06-03 23:32] timabbott commented on #10862
Thanks for the feedback!  I think this is definitely worth thinking about.

In terms of which messages to bring, I think probably we should just use our existing options for moving topics -- let you select "entire conversation", "just this message", or "messages from here onwards".  I expect that'll cover 90% of situations.

I'm not sure how to cheaply encode the data structure of the "request to

[2021-06-04 03:05] timabbott commented on #444
Both of these features were added at various times in the last few years.  Closing.

[2021-06-04 03:05] #444 closed

[2021-06-04 03:10] timabbott commented on #743
I think https://zulip.com/help/getting-your-organization-started-with-zulip#create-streams covers this pretty well, so closing.

[2021-06-04 03:10] #743 closed

[2021-06-04 03:12] timabbott commented on #1057
We've covered most of this in the years since it was opened, and have newer issues covering the remaining pieces, so this is at best a duplicate. Closing.

[2021-06-04 03:12] #1057 closed

[2021-06-04 03:18] timabbott commented on #6967
https://github.com/zulip/zulip/pull/18456 should implement this, but doesn't pass tests yet.

[2021-06-04 03:24] #9238 closed

[2021-06-04 03:25] timabbott commented on #9238
Great, thanks for checking @m-e-l-u-h-a-n!

[2021-06-04 03:34] timabbott commented on #9921
Removing the priority tag, since we've stopped seeing complaints about this.

[2021-06-04 03:34] timabbott commented on #10264
Removing the priority tag, since we haven't had issues of this form with data imports in a few years.

[2021-06-04 03:40] timabbott commented on #10563
@eeshangarg I think we can close this as fixed at this point:

https://zapier.com/apps/zulip/integrations

Though we should look at what we need to do to remove the beta label.

[2021-06-04 03:40] #10563 closed

[2021-06-04 03:43] timabbott commented on #10655
Closing, since it appears we've fixed this; all instances of the "Selected message id not in MessageList" traceback seem to be in other code paths, and they're only a few a week, not many per day.

[2021-06-04 03:43] #10655 closed

[2021-06-04 03:48] timabbott commented on #10938
Dropping the priority, since we haven't had an actual problem with this in years, and I am aware of some profiling-driving optimizations to the markdown processor since then.

[2021-06-04 04:22] timabbott commented on #12672
Removing the priority tag since we've completed the high-priority parts of this.  I suspect it's possible that there's nothing further to do, but needs verification.

[2021-06-04 04:30] timabbott commented on #13726
Removing the priority label, since we fixed most of the issue already.  Leaving this open since it has a lot of valuable discussion should we choose to optimize further.

[2021-06-04 04:55] timabbott commented on #12098
Closing in favor of #14971, which is a duplicate with an actual implementation plan.

[2021-06-04 04:55] #12098 closed

[2021-06-04 05:03] timabbott commented on #15463
@aryanshridhar @ganpa3 would you be up for looking at this issue and the couple open PRs?  I'm not sure whether we've already fixed this.

[2021-06-04 05:08] timabbott commented on #15967
@MSurfer20 @orientor to what extent are these items resolved?  I think this is probably one of the most important bundles of work for the API documentation.

[2021-06-04 05:22] timabbott commented on #16083
@chdinesh1089 @priyank-p @Riken-Shah to what extent do we consider this resolved?  It may be worth starting a chat.zulip.org thread on potential further work, and then opening more specific issues and closing this.

[2021-06-04 05:23] timabbott commented on #17415
@alya @amanagr I think it's worth talking through this, checking off what's complete, and deciding to what extent we think the others are actually useful/necessary, and then moving them to dedicated issues.  Thoughts?

[2021-06-04 05:32] timabbott commented on #16936
@meitros do you know what API endpoint you were using?  I would not except normal API usage to ever generate that notice.

[2021-06-04 07:38] MSurfer20 commented on #15967
@timabbott  https://github.com/zulip/zulip/commit/d1c24d3f670d757055dfc26f0700ebc1c70f58a3 fixes `Debug why there's a completely blank line at the end of all of our code blocks on /api; this is some sort of weird regression.`

https://github.com/zulip/zulip/commit/dd8964a31f0cdf952011317264ae3443309e1611 fixes ` Ensure for events we always display the id and type fields with a short 1-line descrip

[2021-06-04 12:52] gautelund commented on #10862
I understand that moving private messages with consent feature is "new infrastructure". And after a year more of using Zulip I see it's only occationally wanted. But the situation happens from time to time. I agress that it wouldn't be necessary with a UI to pick messages. The three options you are outlining is enough.

The consent UI would should show other parties which messages would be moved,

[2021-06-04 14:26] sahil839 opened #18697 "Fix api documentation where we incorrectly include many realm settings in the `realm/update_dict` event schema."
The `realm/update_dict` event is sent only for changes in only a few realm settings like realm icon, realm logo, message editing/deleting settings, and authentication methods. So the data dict passed in `realm/update_dict` event can only have following values -
[code]

But in the documentation in `zulip.yaml` we include other realm settings like `create_stream_policy`, `invite_to_stream_policy`, e

[2021-06-04 15:06] devZer0 opened #18698 "last activity inconsistency"
hello,

i have updated to zulip 4.3 and i see inconsistency between last activity information.

when you do mouseover on a user, you get very detailed insight , when the user was last offline. if it's <1h, you see minutes. when <1d, you see hours ...and so on.

in organization settings -> users, last activity is shown very different:   it does not have minute/hour resolution and for >2 weeks it's

[2021-06-04 15:22] Riken-Shah commented on #16083
I think so only some TODOs are left to document,
![Screenshot 2021-06-04 at 8 49 40 PM](https://user-images.githubusercontent.com/63820270/120824952-89952d80-c576-11eb-922b-ea1a0b06b1ec.png)

And adding some tips on how to debug.

[2021-06-04 15:41] timabbott opened #18699 "Improve user interactions with the message feed timestamp widget"
See https://chat.zulip.org/#narrow/stream/101-design/topic/message.20timestamp/near/1200738 for discussion, but there's 2 major things we want to do here:
* Migrate the full timestamp from `title` to a TippyJS tooltip, so that it's consistent with other widgets in the message body area and more attractive.
* Wrap the element in the permanent link to the message in its default view, with the exact

[2021-06-04 18:18] chdinesh1089 commented on #16083
Started a thread at https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/Puppeteer.20documentation/near/1201338 answering the TODOs in that list and mentioning what else needs to be done.

[2021-06-04 18:45] alya opened #18706 "Copy-paste bug"
1. Double click on the last line of a message. The line gets highlighted.
2. Copy with CTRL/CMD-C
3. Paste into compose box (CTRL/CMD-V)

Expected behavior: The highlighted line is inserted.

Actual behavior: The entirety of the message being selected from and the following message is inserted.

[2021-06-04 18:59] alya commented on #10862
Going back to an earlier comment, I think a good first version would be:

This could be combined with the options described above for what messages to bring:

When creating the stream, the user could choose whether to make it "Private, shared history" or "Private, protected history". I think it's reasonable to give the user creating the stream the responsibility of managing the privacy concerns if

[2021-06-04 19:56] gnprice commented on #18121
Yeah, the thing I'll miss here:

isn't about finding the emoji (though that's also important). It's that when someone hovers on the emoji to see what it is, if the gloss they see is like `slightly_smiling_face` then it sounds kind of like I'm saying "I'm slightly smiling here". With that "slightly" in there, if I were to actually say that in words it would have to be taken as either an insult or a

[2021-06-04 20:14] Signior-X commented on #18706
I guess this may somewhat related to https://github.com/zulip/zulip/pull/11949

[2021-06-04 22:35] gnprice commented on #9165
See [chat discussion](https://chat.zulip.org/#narrow/stream/137-feedback/topic/How.20to.20get.20search.20to.20work.20for.20this/near/1172346) recently about the underlying subsystem that is causing the existing behavior, namely the built-in "parser" of PostgreSQL's full-text search. It has some special logic to handle URLs, and that logic doesn't really behave the way that I think any of us feel w

[2021-06-04 22:38] gnprice commented on #9165
Oh also FWIW the situation isn't quite that you need to enter the complete URL. Rather (as described in that chat discussion):

The behavior we'd like to have is that it would also match queries like "example" and "stuff" and "index", which it currently doesn't.

[2021-06-04 22:51] gnprice commented on #18072
Let's distinguish getting the notification during that time vs. getting a notification at all (even a couple of minutes later) for a message sent during that time.

If you don't get the notification at all, then surprising or not, the point is that it's very *bad*. It's a breakdown in one of the basic things people expect a chat tool to deliver on.

As I said in the OP:

I think it's OK if you don

[2021-06-05 00:35] flaviozluca commented on #10643
Agree that this would be a great addition!! Thanks!

[2021-06-05 00:38] gnprice commented on #18392
This would be great to have! In particular we'd love to use this to filter GitHub `push` events (representing a push to a branch), in order to accept messages about pushing to a main branch but silence the pushes that dependabot makes to side branches. See [chat discussion in #mobile-team](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Dependabot/near/1201466).

Any of the following w

[2021-06-05 06:35] SteenJennings commented on #18319
Mind if I take a stab at this? I am fine if I am not the assignee and my work becomes redundant, I just see it as a good task for me to make my first contribution.

[2021-06-05 09:44] MartinX3 opened #18711 "Unable to change delivery_email for a user via API"
I get a `{'result': 'success', 'msg': ''}` response, but the delivery_email remains the same.

[code]

[2021-06-05 10:12] MartinX3 opened #18712 "Delete a user instead of deactivating"
Currently the only way to delete a user is this "manage.py".

Sadly there is no tutorial how to use it with a Zulip instance hosted at zulipchat.com.
I don't know how to login as the `zulip` user there, since it's not my own linux server.

I would also like to use the python API to delete a user.

In my case I can't let a user change the email address of his imported account from slack, since the

[2021-06-05 11:50] devZer0 commented on #18698
mhh, ok, seems to be more complex stuff... https://github.com/zulip/zulip/issues/13734

[2021-06-05 12:33] ganpa3 commented on #18711
You can't update `delivery_email` using `update_user_by_id` since it doesn't accept `delivery_email` as a parameter. [Docs](https://zulip.com/api/update-user)

[2021-06-05 12:34] MartinX3 commented on #18711
Then the response `{'result': 'success', 'msg': ''}` doesn't make sense.

And I miss an administrative UI dialog to change the email address of an user.

[2021-06-05 12:51] devZer0 opened #18713 "internationalization or configuration of ***REDACTED*** message in push notifications"
for now, redacted message in push notifications does not honour internationalization and also is not configurable.

apparently it's hard-coded string in

[code]

please make that string at least configurable via /etc/zulip config files, so non-english speaking users get a better clue what that really means.

it would also be good to explain, why it's being redacted at all, so i would like to repla

[2021-06-05 13:31] Signior-X commented on #18692
I really like this idea actually. This is a very helpful feature of dropbox.

[2021-06-05 13:58] Patil2099 commented on #18685
I would love to take this up.

[2021-06-05 19:50] ro-i commented on #17910
In case someone wonders where the discussion about these changes is going on: https://chat.zulip.org/#narrow/stream/3-backend/topic/ext_auth_id.20create_user

[2021-06-06 12:36] piyushranjan001 commented on #18286
hi, i would like to work on this issue, can you suggest me ways to get started? @zulipbot claim

[2021-06-06 14:54] raghupalash commented on #18685
claim

[2021-06-06 14:55] raghupalash commented on #18685
@zulipbot claim

[2021-06-06 16:35] timabbott commented on #18712
@MartinX3 thanks for the feedback!

One can delete users when self-hosting via zerver/management/commands/delete_user.py.  It is not possible to use `manage.py` commands with zulip.com; anything that the security model expects organizations administrators to be able to do directly is available in the API or UI.

We don't currently allow deleting UserProfile objects in Zulip Cloud, since doing so d

[2021-06-06 16:35] #18712 closed

[2021-06-06 16:39] timabbott commented on #18711
Zulip is designed to ignore unexpected extra parameters -- because that's important for some cases around supporting newer clients connecting to older server versions.  So what that's telling you is that

Changing email addresses of another user could potentially be used to take over their account, send spam to an email address that isn't signed up with Zulip, etc., which is why our security model

[2021-06-06 17:44] ganpa3 commented on #15463
@timabbott Sure. #18720

[2021-06-06 17:44] ganpa3 commented on #15463
The other two PRs can be closed.

[2021-06-07 06:00] snailgirl2612 commented on #18319
@zulipbot claim

[2021-06-07 07:27] snailgirl2612 commented on #18319
@alya
I'm trying to create a fixture for this.
How can I access the JSON integration that you've made?

[2021-06-07 10:13] Lumrenion commented on #18659
I have a working setup and am happy to share my experience. The above configuration guide is invalid now>

### SAML and Keycloak:

**Notice:** When enabling SAML, users still need to register for Zulip. You might want to set the invitattion requirement with https://zulip.com/help/allow-anyone-to-join-without-an-invitation + making SAML the only enabled authentication method (so that people outside

[2021-06-07 11:15] showell opened #18723 "code cleanup: Audit jQuery `.css()` calls for necessity/consistency."
This is a good issue for somebody who understands jQuery and has done code sweeps on the Zulip codebase.

We have about ~140 places where we call jQuery's css() function.  There are a few possible antipatterns we might want to fix:

* We inconsistently use `$(...).css("background", "blue")` and `$(...).css({"background": "blue"})`
* We use `$(...).css("display", "none")` when we should possibly us

[2021-06-07 13:10] m-e-l-u-h-a-n commented on #18505
I have made PR #18724 for this. It got little delayed as I was busy with lot of other issues.

[2021-06-07 17:46] process0 opened #18727 "Webpack fails to build on a 1-CPU system"
Upgrading to `master` from `4.2` and `webpack` failed to build assets.  I followed the upgrade instructions and also stopped all services per https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html?highlight=webpack#troubleshooting-and-rollback

Output log
[code]

[2021-06-07 18:11] m-e-l-u-h-a-n commented on #14906
@zulipbot claim

[2021-06-07 18:21] chrisbobbe commented on #18392
Looks like that's #18525.

[2021-06-07 18:29] thanasisath31 commented on #18319
@zulipbot claim

[2021-06-07 18:34] timabbott commented on #18727
I haven't seen this before.  @andersk ideas?

[2021-06-07 18:36] timabbott commented on #18727
@process0 just to check, how much RAM does the system have?  That traceback doesn't look like an OOM kill, but that's the only known problem we've seen with webpack during production upgrades in the recent past.

[2021-06-07 18:52] process0 commented on #18727
@timabbott It has 2GB of RAM.  The traceback does not look like an OOM kill.

[2021-06-07 19:06] alya commented on #18319
I'm not planning on working on this further, so happy to have someone else pick it up! CC @adambirds who may have been looking into it as well.

Here are sample payloads from the json integration.

A one-time $1 donation I made to get sample data triggered both of these:
[code]

An incognito monthly donation looks like this (also 2 events):
[code]

[2021-06-07 19:09] process0 commented on #18727
This also happens on a fresh install from `master`.

[code]

One interesting thing from the `install.log`

[code]

[2021-06-07 19:13] process0 commented on #18727
This looks relevant https://github.com/webpack/webpack/issues/12229

[2021-06-07 19:28] octogonz commented on #11154
GitHub Discussions now has this feature:

![Capture](https://user-images.githubusercontent.com/4673363/121076842-b9694e80-c78b-11eb-9469-ef9aa3c5c9fb.png)

[2021-06-07 19:29] thanasisath31 commented on #18319
@zulipbot unclaim

[2021-06-07 19:30] thanasisath31 commented on #17842
@zulipbot claim

[2021-06-07 19:56] timabbott commented on #5462
Closing this as a duplicate of #10886 and #2676, both of which I hope to see near-term attention.

[2021-06-07 19:56] #5462 closed

[2021-06-07 20:26] alya opened #18728 "Next unread topic/next unread PM thread button"
The `n` ("Next unread topic") and `p` ("Next unread private message") keyboard shortcuts are a great way to read through one's Zulip messages. At present, we don't have buttons that correspond to these shortcuts. Adding these buttons would make this workflow more accessible to mouse users, and more discoverable.

We should therefore add the following buttons:

1. "Next unread topic (n)" button in

[2021-06-07 20:40] #15463 closed

[2021-06-07 20:46] alya commented on #11154
I started a CZO thread discussing a specific implementation proposal [here](https://chat.zulip.org/#narrow/stream/101-design/topic/closing.2Fsolving.20a.20topic.20.28.2311154.29). Feedback appreciated!

[2021-06-07 21:03] Abhay2412 commented on #17998
@zulipbot claim

[2021-06-07 21:06] WesleyAC opened #18731 "Selecting in "View Source" closes composebox on Firefox"
![Peek 2021-06-07 13-44](https://user-images.githubusercontent.com/5001092/121087541-74e4af80-c799-11eb-99ba-0f084d9db797.gif)

See [CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/composebox.20stickiness/near/1203123).

[2021-06-07 21:09] Abhay2412 commented on #17998
@zulipbot abandon

[2021-06-07 21:17] gnprice commented on #18731
Specifically, the compose box gets closed at the point when you release the mouse button to finish a selection.

This reproduces in Firefox on Linux. It doesn't reproduce in Chrome on Linux, or in the desktop app on macOS. Probably it reproduces on Firefox anywhere, and not on Chrome or the desktop app (which is based on Chromium via Electron) anywhere.

[2021-06-07 21:51] andersk commented on #18121
The situation with “slightly smiling face” originates from our (reasonable) decision to [change](https://github.com/zulip/zulip/commit/cf5b2b4815567efee24997cfb5b1cc95b7e2fa38) the emoticon translation of `:)` from U+1F603 😃 (CLDR “grinning face with big eyes”) to U+1F642 🙂 (CLDR “slightly smiling face”). I think it would be just as reasonable to change it to U+263A ☺ (CLDR “smiling face”)—it’s di

[2021-06-07 22:23] alexmv commented on #18727
The:
[code]
...is normal and expected on first install.  We tell nvm to stop mucking with our path and use `/usr/local/bin/node`, though no node is installed yet.  We later make the symlink ourselves into `/usr/local/bin/node`.

[2021-06-07 22:24] alexmv commented on #18727
From that bug:

...so I suspect an OOM in an unfortunate place.  We do often see/expect OOMs with 2G of RAM, unfortunately.

[2021-06-07 22:25] alexmv commented on #18727
You can check for confirmation of this in `dmesg`.

[2021-06-07 22:31] process0 commented on #18727
Running `dmesg -w`  during the upgrade process and there are no logs created for OOM.

Further in that issue theres:

and also https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/51

[2021-06-07 23:17] timabbott commented on #18728
We may find that we want to move the `bottom_whitespace` region to a handlebars template before implementing this:
[code]

[2021-06-07 23:30] andersk commented on #18727
Hmm, that’s marked as fixed in css-minimizer-webpack-plugin 1.2.0, and we’re already on css-minimizer-webpack-plugin 1.3.0; we can’t upgrade that any further until we switch to Webpack 5 (#16649).

[2021-06-08 01:48] process0 commented on #18727
Anything else I can do to debug this further?

[2021-06-08 02:49] mojavelinux commented on #4601
@timabbott I use that exact workflow daily. But I still have paranoia about clicking on a stream before I'm ready because it immediately changes my unread count. Sometimes, I just happens because your have a brain lapse and you click before thinking. I have trained myself to always go through the Recent topics view, but sometimes I slip up ;)

[2021-06-08 03:58] lauralindzey opened #18736 "Is it possible to disable the right sidebar, on a per-org basis?"
Is there a way to disable the sidebar so we don't get info about who is online or not?

My research group is interested in moving away from Basecamp to a chat solution that's less oriented around project management, but a big thing that we're squeamish about is any expectation of real-time answers. I've found related issues for optionally hiding it (https://github.com/zulip/zulip/issues/558) and r

[2021-06-08 04:10] lauralindzey commented on #18736
Answering my own "alternate" question, I just found that this is possible in "Settings -> Notifications -> Presence", rather than being available in the pop up where I'd go to set a status message.

[2021-06-08 06:38] ganpa3 commented on #18731
Can confirm on Firefox (Developer's Edition) on Windows

[2021-06-08 09:28] sahil839 commented on #18417
@ritikchauhan-01 are you still working on this?

[2021-06-08 09:28] sahil839 commented on #11570
Still working, need to clear some things on czo.
@zulipbot claim

[2021-06-08 09:33] piyushranjan001 commented on #18286
@zulipbot abandon.

[2021-06-08 10:20] ritikchauhan-01 commented on #18417
@zulipbot abandon

[2021-06-08 13:19] ZelphirKaltstahl commented on #13928
Is there any update on this?

I am investigating how to replace Slack's functionality of replying to a message in a new thread, separating out the conversation, without needing to notify anyone about this separating out process.

I imagine, that, if I create new topics for some conversation, I would need to inform other participants about that new topic. Also just like Slack, the hierarchical leve

[2021-06-08 16:09] ritikchauhan-01 commented on #18417
@sahil839 No

[2021-06-08 16:10] sahil839 commented on #18417
@zulipbot claim

[2021-06-08 17:28] #18685 closed

[2021-06-08 17:36] prakharporwal commented on #17842
@zulipbot abandon

[2021-06-08 17:58] timabbott commented on #18736
@lauralindzey thanks for the thoughtful question!  To some extent that is a social expectation, but Zulip's core design goal is to make asynchronous conversation work great, and to reduce the inherit pressure for immediate replies that comes with chat tools that are a bad experience unless you talk synchronously.  I think if you talk to folks who use Zulip, they absolutely don't expect real-time a

[2021-06-08 17:59] timabbott commented on #18697
@MSurfer20 @orientor FYI.

[2021-06-08 18:00] timabbott commented on #18698
Thanks for the feedback!  Yeah, this is effectively a duplicate of #13734.  Thanks for the bump; I've been meaning to try to get that migration completed, since I agree the current state of partial information is not great.

I think you might be able to get complete data via the presence API endpoint, but it's not documented (in part because we wanted to rewrite the endpoint before doing so).

[2021-06-08 18:00] #18698 closed

[2021-06-08 18:12] alya commented on #18736
Ah, yeah, good idea! I'll write up an issue for adding a control for that privacy setting to the profile menu.

Separately, we *have* heard from an org that chooses to turn off the buddy list for guest users (they run Zulip on-premise, so they just added a small patch to hide it). If we were going to implement this, we should allow orgs to control the setting by user type.

[2021-06-08 19:34] lauralindzey commented on #18736
Cool, that all sounds reasonable. Thanks to both @timabbott and @alya for such prompt and friendly information!

[2021-06-08 20:56] process0 commented on #18727
After trying this on a 2 vpcu instance, webpack finished successfully.

[2021-06-08 21:40] timabbott opened #18746 "Sync SAML custom profile fields on account creation, not just on login."
In #18653, we implemented support for syncing custom profile fields during a SAML authentication.  However, the current implementation only runs during a normal login process, so SAML data won't be synced during account creation.  While many users will login on multiple devices and thus in practice get a synchronization at some point early in their account's lifetime, it is likely that this will c

[2021-06-08 21:51] #17277 closed

[2021-06-08 21:54] andersk commented on #18727
Reopening since I can reproduce with

[code]

after `rm -rf node_modules/.cache/css-minimizer-webpack-plugin; tools/webpack`. This is similar to the issue reported in webpack-contrib/css-minimizer-webpack-plugin#51 even though that’s marked fixed.

[2021-06-08 21:55] #18694 closed

[2021-06-08 22:02] smalltext commented on #17998
@zulipbot claim

[2021-06-08 22:09] #18505 closed

[2021-06-08 22:17] timabbott commented on #18727
Nice, thanks for tracking that down!

[2021-06-08 22:55] #18727 closed

[2021-06-08 22:59] alya opened #18751 "Implement resolving a topic"
This issue describes a specific implementation for #11154. See also [CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-design/topic/closing.2Fsolving.20a.20topic.20.28.2311154.29).

We should implement marking a topic as resolved by making it easy to prepend a "[check mark button](https://emojipedia.org/check-mark-button/)" emoji (✅) to the topic name.

Note that this feature makes

[2021-06-08 23:03] process0 opened #18752 "Python requests not using host CA certificate bundle"
When configuring OIDC SSO with an IdP that uses a self-signed certificate, the Python `requests` package does not use the host's CA certificate bundle.  See https://stackoverflow.com/questions/42982143/python-requests-how-to-use-system-ca-certificates-debian-ubuntu

To verify, the `/etc/supervisor/conf.d/zulip/zulip.conf` was modified to include the environment variable pointing to the host CA bun

[2021-06-08 23:42] timabbott commented on #18751
I have one amendment to help with prototyping this, which is that we should use the existing Notification Bot messages for the first version of this.  The rest of this proposal doesn't require any changes to the API, since we can just call https://zulip.com/api/update-message with the right parameters (e.g. `change_all`), and if we can implement that and test-deploy it on chat.zulip.org, that'll l

[2021-06-09 00:27] alya opened #18757 "Tabbed compose preview"
We have a widget for previewing messages. However, it can be hard to discover, as it's represented by a small "eye" icon surrounded by other icons that insert things into the message.
![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/121273928-2f4de280-c87e-11eb-9d90-536ef3c8950d.png)

To make this feature easier to discover and use, we should remove the eye icon and rep

[2021-06-09 07:41] ligmitz opened #18758 "Reactions tooltip appears under recipient bar"
The reactions tooltip appears to be stacked under the recipient bar when viewed in an interleaved view.
![zulip-test](https://user-images.githubusercontent.com/55033316/121312831-662a0400-c923-11eb-84ac-adcc2c940ed2.png)

Steps to reproduce (Ensure that you have day theme enabled):
1. Open streams narrow for a given stream.
2. Consider a message from a given topic A having a message sent to topic

[2021-06-09 07:42] ligmitz commented on #18758
@zulipbot add "area: compose" "area: emoji"

[2021-06-09 21:56] timabbott commented on #11560
Also worth mentioning that https://pypi.org/project/django-stubs/ is probably the right project to use these days.

[2021-06-10 00:28] timabbott commented on #18713
Yeah, this should just be tagged for translation.  I'd also consider just changing the string; I'm not sure "redacted" is what I'd choose.

[2021-06-10 00:37] alya opened #18768 "Notify user when messages are not being marked as read"
We have some views in which messages the user sees do not get marked as read. This happens:
* In certain search views and "near" narrows, as indicated by `can_mark_messages_read()`.
* [in progress] After user marks messages as unread (#18743)

To avoid confusion, we need to inform the user about this situation, and let them switch out of this mode.
We should display a banner at the bottom of the s

[2021-06-10 03:31] kingsleytorlowei commented on #18746
Hey, I wanna take a stab at this. I've gone through #18653 and  #17277 but i need some further on what the expected behavior should be. Do i have to set up zulip cloud to get a better picture?

[2021-06-10 04:24] timabbott opened #18770 "Disable various Django internal management commands that sysadmins should never run"
If you run just `./manage.py help`, it prints out all the supported management commands for a Zulip server.  This ends up being pretty awkward, in that it lists various built-in Django management commands that sound relevant but are neither used by Zulip not things that are a good idea to try to run (usually they just give confusing errors).

The main `./manage.py` script in the Zulip repository d

[2021-06-10 10:04] Lumrenion opened #18778 "Wrong Organization Logo in Automatic color scheme"
I have two separate Organization Logos configured for day mode and night mode. When I select in my settings color scheme "automatic", on page load always the organization logo for day mode is selected although the rest of the page is in night mode. When I go to settings and select day mode or night mode, the logo is changed to the correct one. When I change color scheme back to "automatic", also t

[2021-06-10 10:59] andreasoc commented on #17137
is time for this?

[2021-06-10 11:14] Lumrenion opened #18779 "Sync SAML avatar"
A custom attribute `avatar_url` should be handled when authenticating with SAML. The SAML attribute should contain a URL to the avatar of the SAML user. The image file should be downloaded to zulip and saved as the profile picture of the user.

The special attribute should be configurable in SAML configuration:
[code]

[2021-06-10 11:50] showell opened #18781 "Avoid left-green-border effect for date divs next to unread messages."
When we have unread messages, we put a green border on the left border of the message via this div:

[code]

Due to the way we structure our [message template](https://github.com/zulip/zulip/blob/master/static/templates/single_message.hbs), this causes the green border to also border a date div above the message (if the message is the first of the day).  This is ugly.

It's possible we should just

[2021-06-10 15:05] PIG208 commented on #11560
I'm now picking this up. My first attempt was to simply add django-stubs to the requirements. But apparently, there are way too many mypy errors for us to fix manually. So perhaps we need to first figure out a way to solve some of the easy ones through scripting. @zulipbot claim

[2021-06-10 15:56] timabbott commented on #11560
I posted a comment on the PR with some notes on strategy for this; I actually am very encouraged by the results of this initial attempt.

[2021-06-10 16:15] #18687 closed

[2021-06-10 16:47] timabbott opened #18785 "Add support for running the webapp's development environment against a production server"
Often, when doing frontend development, it's really handy to have real production data, e.g. from chat.zulip.org, whether for performance testing or because we have reproduced an issue there.  It would be really nice to rework the Zulip webapp frontend to be more independent from the backend/server, so that we could have it connect to a production server.  This is a meta-issue to track the work to

[2021-06-10 19:15] hackerkid opened #18786 "Allow to update and view the billing admins of an organization"
Users with `is_billing_admin` set to True and realm owners are the only users who have access to /billing page of an oganization.

Currently there is no way to see which all users are the billing admins of an oranization. The realm owner should be to make users billing admins (`is_billing_admin`) as well as remove users from billing admin role.

I think we can use the  /#organization/user-list-adm

[2021-06-10 19:19] hackerkid commented on #18786
Might be a good issue for @eeshangarg to get started wiith the billing system.

[2021-06-10 19:34] WesleyAC opened #18789 "Chrome triple-click last line to copy copies multiple messages"
On Chrome (and the desktop app), if you triple click the last line of a message to select it, and then copy it, we copy the entire message (not just the last line), and the entire *next* message in the messagelist.

Instead, we should just copy the text that is selected.

[2021-06-10 20:17] timabbott opened #18792 "Migrate away from using the Django template system for the Zulip webapp"
This is the meta issue for moving the Zulip web app templates (`templates/zerver/app`) from the Django templating system to Handlebars.  Since a lot of the HTML remaining there is very crufty code (as Handlebars can live-update on the frontend, and Django templates cannot), we should take this opportunity to clean up components as we do it.

As discussed in the [chat.zulip.org thread](https://chat

[2021-06-10 20:31] timabbott opened #18794 "Migrate modals and popovers from Django templates to Handlebars"
We have a bundle of small overlays, modals and popovers in `templates/zerver/app` that we should migrate to a handlebars template as part of #18792.  This issue lays out the plan for doing so, in terms of new filenames (often clearer)

* [x] lightbox_overlay.html => `lightbox_overlay.hbs`.  This should be straightforward as there are no conditionals; we just need to migrate translation tags.
* [x]

[2021-06-10 20:37] timabbott opened #18795 "templates: Extract the gear menu as a handlebars template"
This issue is a part of #18792.  We'd like to migrate the gear menu implementation, i.e. everything inside the `<div id="navbar-buttons"` div, to be a handlebars template `static/templates/gear_menu.hbs`.  This will require a bit of care with translation tags and also with the many variables that will need to be access from `page_params` when rendering the template. (Some may need to be moved from

[2021-06-10 20:40] timabbott opened #18796 "templates: Migrate settings_overlay.html to be a handlebars template"
This issue is a part of #18792.  We'd like to migrate settings_overlay.html to be a handlebars template `static/templates/settings_overlay.hbs`.  This will require a bit of care with translation tags and also with the many variables that will need to be access from `page_params` when rendering the template. (Some may need to be moved from the rendering `context` in `zerver/views/home.py` to the ex

[2021-06-10 20:52] showell opened #18797 "templates: Extract the empty narrow banner template code into (nearly) pure JS."
In the `app/home.html` template there's a long section of divs that all have the `empty_feed_notice` class, and they are used in the app to explain to users why they aren't seeing any messages in their feed:

[code]

We want to instead create a data structure where each entry looks something like this:

[code]

And then when any message needs to be displayed, we can generate it dynamically from th

[2021-06-11 01:02] timabbott commented on #18789
The logic for this lives in `static/js/copy_and_paste.js`.  I'm not sure if the problem is in `analyze_selection` or not; I think this should be readily amenable to print-debugging.

[2021-06-11 04:03] Riken-Shah commented on #18795
@zulipbot claim

[2021-06-11 05:51] sahil839 commented on #18794
I am taking up invite users modal part.

[2021-06-11 12:39] sahil839 commented on #18796
@zulipbot claim

[2021-06-11 15:01] #16233 closed

[2021-06-11 16:56] eeshangarg commented on #18786
So, I have a couple of thoughts:
* In this case, a billing administrator is not technically a separate role. A user could have an admin or member role but still, be a billing admin. This prevents us from using the **Role** dropdown in **Settings** \ **Users** for this purpose.
* Do we want this to be a checkbox below the **Role** dropdown? Since `is_billing_admin` is a flag on a user profile, a ch

[2021-06-11 17:40] gnprice commented on #16210
Update a couple of months ago: we had a new [chat thread](https://chat.zulip.org/#narrow/stream/3-backend/topic/thumbor/near/1158904) about alternatives to Thumbor, which is the underlying service we'd previously been planning to use but that doesn't seem to really still be maintained.

Specifically we looked at imgproxy and imageflow.

[2021-06-12 03:47] biradarganesh25 commented on #18286
@zulipbot claim
have raised a PR here: https://github.com/zulip/zulip/pull/18814, but  for some reason the linked PR is not showing up here (I guess this is related to some workflow permissions).

[2021-06-12 05:02] snailgirl2612 commented on #18319
@zulipbot claim

[2021-06-12 15:13] ligmitz commented on #18758
This got resolved by #18759. Closing.

[2021-06-12 15:13] #18758 closed

[2021-06-12 16:30] Aksh-Bansal-dev commented on #17731
@zulipbot  claim

[2021-06-12 21:05] chdinesh1089 commented on #18699
@zulipbot claim

[2021-06-13 03:18] S-Abhishek commented on #18797
@zulipbot claim

[2021-06-13 07:59] ligmitz commented on #18770
@zulipbot claim

[2021-06-14 06:26] RomainGitH commented on #18396
In progress

[2021-06-14 09:38] ganpa3 commented on #18794
Great. I will grab the rest.

[2021-06-14 10:02] Signior-X commented on #18692
@zulipbot claim

[2021-06-14 12:08] nooblag commented on #11773
If it's any help, I'd prefer the option to control each individual preview, similar to how Slack does it:

![Slack](https://user-images.githubusercontent.com/1122344/121889711-ec4bad80-cd5c-11eb-9f82-0ca73e67ec80.PNG)

Zulip could look like this, with similar button "X" to delete that specific preview on hover:

![Zulip](https://user-images.githubusercontent.com/1122344/121889779-fd94ba00-cd5c-11e

[2021-06-14 13:12] jwillmer opened #18832 "[FEATUER REQUEST] Standup Bot"
I woud like to use a standup bot like I encountered in Mattermost: https://github.com/standup-raven/standup-raven

In case such feature already exists I would love to get to know it :)

[2021-06-14 14:30] ganpa3 commented on #18794
@timabbott Pushed #18835 #18833 #18837 #18834 #18836

[2021-06-14 14:41] ligmitz commented on #18673
@zulipbot claim

[2021-06-14 16:55] tvald opened #18839 "configuring certbot to automatically reload nginx"
Not sure if this is a configuration issue that Zulip should fix, but documenting in case anyone else runs into this.

After certbot automatically renews certificates, `nginx` still needs to be reloaded with the new certs. You can configure certbot to do this by appending the following line to `/etc/letsencrypt/cli.ini`:
[code]

Much thanks to [this blog post](https://blog.arnonerba.com/2019/01/let

[2021-06-14 17:31] tvald opened #18841 "requests to SOCIAL_AUTH_SUBDOMAIN fail after moving subdomain of default realm"
**Observed Behavior**
SAML logins fail when the IdP requests the Assertion Consumer Service URL. Visiting the specified URL (`https://auth.chat.<mydomain>/complete/saml/`) in my browser shows the "Deactivated Organization" error page.

**Expected Behavior**
The SAML Assertion Consumer Service URL should return the expected SAML configuration file.

**Steps to Reproduce**
1) Set up and configure a

[2021-06-14 19:52] alya opened #18844 "Improve visibility of buttons for creating a stream"
We currently have two buttons for creating a stream in the **Manage streams** menu, both of which can be hard for users to find:

<img width="1324" alt="_8__Recent_topics_-_Zulip_Dev_-_Zulip" src="https://user-images.githubusercontent.com/2090066/121950267-41ac9e00-cd0e-11eb-923e-e6946dc4548a.png">

We should improve the visibility of both of these buttons. A great start would be to prototype some

[2021-06-14 20:09] lauralindzey commented on #18736
If you're working on improving this functionality, one thing that just threw me for a loop is that even after I've disabled sharing my presence status, in my view of the users menu, my circle is still green (I've confirmed with a colleague that for them, I show up as offline). I can guess why it would work like this from an implementation level, but from the user experience side I had expected the

[2021-06-14 20:24] glyph commented on #14417
I believe the reason I filed this was that we were enumerating all of the services we depend upon and compiling a document to consult in the event of an outage, not due to any recent downtime. However, we did experience some downtime this morning, consulted the document in question, and found only this ticket :)

[2021-06-14 20:41] WesleyAC opened #18845 "Topic name typeahead only prefix-matches"
If I start typing `#stream>topi`, it will match `#stream>topic`, but not `#stream>some topic`. This is often annoying, since I remember a word in the topic name I want to link to, but not the entire topic. Instead, we should show matches anywhere in the topic name, perhaps ranking prefix-matches first.

[2021-06-14 21:10] alya opened #18846 "Personal presence dot should match presence status shown to other users"
Update, 2026-09-04: This issue has been mostly fixed; the remaining work is almost complete in #33291 (completion candidate).

---
It is possible to disable personal presence status sharing by de-selecting "Display my availability to other users when online" in the Settings menu. When enough time has passed, the user looks to be offline to others.

However, we still show the user as being online a

[2021-06-14 21:11] alya commented on #18736
Thanks for the report @lauralindzey ! What you describe is definitely a bug -- I filed #18846 to track it separately.

[2021-06-14 21:16] rodgeralley86 opened #18847 "Database index corruption after OS upgrade (glibc collation change)"
After upgrading my server from Ubuntu 16.04 LTS to Ubuntu 20.04 LTS, I am unable to search through private messages, group messages, streams, or topics.  The upgrade went through rather seamlessly (on my second attempt). This seems to be the only hangup I have.

Chat logs for the upgrade process can be referenced at:
https://chat.zulip.org/#narrow/stream/3-backend/topic/Ubuntu.2016.2E04.20Upgrade

[2021-06-14 22:11] alya opened #18848 "Add "Privacy and security" section to personal Settings menu"
Some personal settings are hard to find right now, and some settings pages have too many different kinds of settings. We should make the settings easier to navigate by splitting "Your account" into two sections:

1. **Profile** (1st on the list). We can try removing all the section headers and see if it's OK or confusing.
Settings (in order): Full name, Profile picture, "Deactivate account" button

[2021-06-14 23:03] tvald commented on #18841
Update: It works after adding deleting the placeholder realm and adding a new empty realm at `chat.<mydomain>`. I have disabled `SOCIAL_AUTH_SUBDOMAIN` for now, will look into re-enabling that later.

[2021-06-15 00:32] timabbott commented on #16474
We definitely want to do this.  We more or less already store this data for many actions in the `RealmAuditLog` table; it's just not exposed in the API or UI anywhere.

[2021-06-15 00:49] gvarun1 commented on #17716
@zulipbot claim

[2021-06-15 00:56] gvarun1 commented on #15029
@zulipbot claim

[2021-06-15 00:57] gvarun1 commented on #17716
@zulipbot abandon

[2021-06-15 00:58] gvarun1 commented on #15029
@zulipbot claim

[2021-06-15 06:44] biradarganesh25 commented on #18846
Hey I'd like to work on this - might take a bit more time as this will be my second issue on this repo. If anyone else is working on this, please let me know

[2021-06-15 12:38] andreasoc opened #18851 "Unreads messages 'string' in Desktop app UI not exist"
it doesn't seem to me to be translatable in Italian and other languages
![nyS4C9ms7F](https://user-images.githubusercontent.com/2852354/122053710-485b1400-cde7-11eb-87d8-29fc4e925b66.png)
link to discussion in CZO
https://chat.zulip.org/#narrow/stream/58-translation/topic/Unreads.20messages.20'string'

[2021-06-15 15:20] gvarun1 commented on #15029
@zulipbot  abandon

[2021-06-15 15:20] gvarun1 commented on #15331
@zulipbot claim

[2021-06-15 18:26] pradeepcep commented on #17419
@zulipbot claim

[2021-06-15 18:47] pradeepcep commented on #17419
@WesleyAC I can't seem to reproduce the issue you have mentioned. [Here](https://chat.zulip.org/#narrow/stream/7-test-here/topic/.28no.20topic.29/near/1209800)'s what I tried with and observed:
1. If I enter tabs inside a code-block, then when copying that code-block from the rendered message using the "copy code" button, tabs seems to be converted to 3 or 4 spaces.
2. Doing #1, but copying the re

[2021-06-15 18:59] WesleyAC commented on #17419
Hmm, this isn't what I see, at least, when I paste the message back into the compose box. You can also check the message contents right from the API, by looking at the "network" tab in your browser — I see this as the `content` field:

[code]

Which uses spaces, not tabs.

I would start by adding some print statements in the markdown parser (in `zerver/lib/markdown/`) where it's dealing with code

[2021-06-15 19:04] timabbott commented on #18794
Those PRs are all merged now, so closing this, thanks @sahil839 and @ganpa3!

[2021-06-15 19:04] #18794 closed

[2021-06-15 19:18] #18795 closed

[2021-06-15 20:11] WesleyAC opened #18855 "/todo and /settings commands are not discoverable"
The `/todo` and `/settings` slash commands are not very discoverable, since they don't appear in the typeahead list (the list is limited to 8 items, but we have 10 commands).

We should consider increasing the size of the typeahead list, either in general (as we did in d644562b4), or specifically for the case of slash commands (which, looking at the code, is trickier, but having the infrastructure

[2021-06-15 20:12] biradarganesh25 commented on #18846
After going through the code I have come up with the following solution: every time the user changes the the "Display my availability to other users when online" setting, we can catch this change in [change_notification_setting](https://github.com/zulip/zulip/blob/b2ab448b71bb33f7b8d484ef78fef1931a694c2b/static/js/settings_notifications.js#L46) function (this seems to be the function where any set

[2021-06-15 21:00] alya opened #18859 "Message deletion audit log"
It would be useful to have a log of all deleted messages that admins can review. For example, if there's harassment, the admins/moderators may want to remove the messages ASAP from public channels but still have a log they can use to review what happened.

In addition to the message data, there should be a record of who deleted the messages and when.

The data could be displayed in a panel in the

[2021-06-15 21:08] showell commented on #18859
If we don’t already record deleted messages in RealmAuditLog, then we should.  And then the UI here should just show the relevant rows.

[2021-06-15 21:37] alya opened #18860 "Permissions and warning for custom emoji overriding unicode emoji"
Only administrators/owners should be able to override unicode emoji

1. If an administrator attempts to override a unicode emoji with a custom emoji, they should get a warning. #16937 attempts to fix this, but it is currently not working in production.

We should also shorten the warning message and avoid referring to "unicode" to avoid confusing non-technical users:

2. If a non-administrator att

[2021-06-15 21:38] alya commented on #18860
@aryanshridhar FYI

[2021-06-16 00:41] timabbott commented on #18846
@biradarganesh25 we don't want to do work in `change_notification_setting`, since that only affects the current table; we should instead do it in the `server_events_dispatch.js` handler for the relevant event type generated by changing that setting.

[2021-06-16 03:58] gvarun1 commented on #15331
` varun@varun > ~/zulip   master  git grep assertLogs | wc
    271    1478   26981
 varun@varun  > ~/zulip   master  git grep mock[.]patch | grep log | wc
zsh: no matches found: mock[.]patch
      0       0       0
`

[2021-06-16 04:02] gvarun1 commented on #15331
@chdinesh1089
I think this issue should be closed
can you look into this?
git grep mock[.]patch | grep log | wc
0  0  0
git grep assertLogs | wc
271    1478   26981

[2021-06-16 06:35] m-e-l-u-h-a-n commented on #15331
Hi @gvarun1,
You can use `git grep -n patch | grep '\(logger\|logging\)'`. It will output a lot of lines but I think out of those only:
* `zerver/tests/test_push_notifications.py`
* `zerver/webhooks/github/tests.py`
require migration although if you need to discuss about others you can ask here or in [chat.zulip.org](https://chat.zulip.org).

You can use #16619 and #16818 for reference.

[2021-06-16 06:54] alya opened #18865 "Incorrect fading when changing PM addressees"
The message feed has the following incorrect fading behavior:

1. Go to the view for the huddle with users X and Y.
2. Start composing a group PM addressed to users X and Y. Type something into the compose box.
2. Remove Y from the addressees. **Message feed does not fade.**
3. Navigate to PMs with X while leaving the compose box (currently addressed to X) open. **Message feed is faded.**

So it l

[2021-06-16 09:24] gvarun1 commented on #15331
@m-e-l-u-h-a-n thanks a lot for the references, I will do my best to get my first PR

[2021-06-16 11:07] Signior-X commented on #18845
@WesleyAC i am not able to reproduce this issue. it is working fine in mine. Here is the screenshot.
![image](https://user-images.githubusercontent.com/56730716/122208605-259d2e00-cec1-11eb-86a0-6ec798b91148.png)

[2021-06-16 12:59] aryanshridhar commented on #18860
Thanks alya!
@zulipbot claim

[2021-06-16 13:20] Riken-Shah opened #18870 "Middle column becomes empty when there is invalid hash in the URL."
If the Organization URL has an unknown hash in the URL, The middle column becomes empty.

Steps to reproduce:
1. Add an unknown hash to the URL.
2. Reload the page.

Here is the video demo,

https://user-images.githubusercontent.com/63820270/122226042-348cdc00-ced3-11eb-8cf0-a69559439b18.mov

[2021-06-16 16:22] chdinesh1089 commented on #15331
Yeah, I think @m-e-l-u-h-a-n is right. All the best with your first PR @gvarun1 !

[2021-06-16 17:21] timabbott commented on #13261
Closing, since we increased the font size for the new TippyJS tooltips.

[2021-06-16 17:21] #13261 closed

[2021-06-16 17:21] alya opened #18878 "Use tables for user streams and groups in profile menu"
This issue is a follow-up to #16233.

When displaying a user's streams and groups in the profile menu, we should use the same table style as in the **Settings > Users** menu.

The initial implementation can just have the names of the streams/groups, but it will give us a place to add additional information and buttons (e.g. for removing streams).

[2021-06-16 17:29] timabbott commented on #18847
We believe the issue here is caused by `glibc` having been upgraded, which apparently can corrupt indexes on a postgres database.  For a small server, running `REINDEX` on the database while the server is not running will fix it, but that could involve substantial downtime for a larger server with millions of messages.  (It might not; we just don't have an estimate for how long it would take per u

[2021-06-16 17:29] alya opened #18879 "Add "Unsubscribe" buttons to "User profile > Streams" popover"
This issue is a follow-up to #16233 and #18878.

If the user has the permissions to do this (i.e. an administrator or someone viewing their own profile), we should add "Unsubscribe" buttons to the **Streams** tab of the user profile popover. They should look like the "Unsubscribe" buttons in the Streams menu under "Stream membership".

[2021-06-16 17:32] #2481 closed

[2021-06-16 17:35] timabbott commented on #4145
@amanagr I imagine this will likely be automatically fixed when we convert this one to `Popper`, so it might be a good first widget to migrate.

[2021-06-16 17:36] timabbott commented on #5122
Closing in favor of the more current https://github.com/zulip/zulip/issues/17925.

[2021-06-16 17:36] #5122 closed

[2021-06-16 17:44] alya opened #18880 "Cross-links between user profile popover and settings menus"
This issue is a follow-up to #16233.

To make it easier to manage users, we should add cross-links between the profile popover and the settings menus.

1. [edited] Wherever users or bots are listed in the settings menus, their name should link to the [user card](https://zulip.com/help/user-cards).

2. Stream names in the profile popover should link to the settings page for that stream.
3. The Grou

[2021-06-16 17:49] timabbott commented on #10024
I think our coding patterns have shifted enough that we're unlikely to have further bugs of this form; or at least, we haven't seen something similar in the last few years, so I'm closing this.

[2021-06-16 17:49] #10024 closed

[2021-06-16 17:54] alya opened #18881 "Add direct message buttons to user profile popover"
The user profile popover contains basic information about the user, but it currently doesn't support any actions.

#18880 will make this popover more prominent, by allowing navigation to it from the settings menus. We should also make it more useful by adding buttons for contacting the user. In particular, we should add the following buttons to the Profile tab of the user profile popover, copying

[2021-06-16 17:55] timabbott commented on #18278
It's not important, but it's probably not hard and would be nice to clear it out.

@ganpa3 also FYI.

[2021-06-16 18:19] amanagr commented on #4145
Yeah.

[2021-06-16 18:24] alya opened #18882 "Organization permission setting for viewing channel subscriptions"
Currently, any member of an organization can view members of any public stream. This functionality becomes more prominent with the addition of "Stream" tab to the user profile popover (#16233).

Organizations may want to make stream membership less public by requiring users to be stream members before they can view the current members of a stream. We should add a setting to the **Settings > Organi

[2021-06-16 18:36] alya opened #18883 "Add "Subscribe" widget to Streams tab of the user profile popover"
This issue is a follow-up to #16233 and #18879.

To make the Streams tab of the user profile popover into a light-weight but fully functional stream management tool, we should add a widget at the top of the list for subscribing the user to new streams. The widget should only be shown if the viewer has the following permissions:

1. Permission to add the target user to streams (at least to public s

[2021-06-16 18:45] sahil839 commented on #11570
@zulipbot claim

[2021-06-16 22:30] WesleyAC commented on #18845
Ah, indeed. I was getting confused since I was trying to complete a topic where there were so many prefix matches that no other matches were shown.

Hopefully we'll have scrollable typeahead popups soon, but until then, I'll just close this.

[2021-06-16 22:30] #18845 closed

[2021-06-16 23:35] alya opened #18888 "Require @-prefix for adding a user group to a stream"
It is possible to add a user group to a stream by typing in the name of the group.

To make this feature easier to use and explain, we should change it so that you have to type '@', followed by the name of the group. This will make user groups easier to find in the typeahead.

We recently merged 1b91545b37de74a94d9a8986375b790858c866b7, which assumes this behavior.

[2021-06-16 23:36] alya commented on #18888
@m-e-l-u-h-a-n could you please prioritize this issue? CC @timabbott

[2021-06-17 00:54] #16482 closed

[2021-06-17 05:37] WesleyAC opened #18890 "Initial loading screen isn't pretty"
The first screen that users see when loading zulip isn't pretty:

![zulip_loading](https://user-images.githubusercontent.com/5001092/122336296-74fb5280-cef1-11eb-9ef7-dead0e0f1489.png)

We should make a few changes here:

* The content should be centered on the page, horizontally and vertically
* We should include the [zulip circle logo](https://github.com/zulip/zulip/blob/master/static/images/log

[2021-06-17 07:32] ligmitz commented on #18859
I would like to take this up.

[2021-06-17 07:33] mehant-kr commented on #18880
@zulipbot claim

[2021-06-17 07:34] ligmitz commented on #18859
@zulipbot claim

[2021-06-17 08:52] m-e-l-u-h-a-n commented on #18888
Opened #18891 for this.

[2021-06-17 12:31] m-e-l-u-h-a-n commented on #18878
We are already using tables for listing streams and groups and currently each row contains only stream/group name. For reference you can see:
[https://github.com/zulip/zulip/blob/8ce1fd1c50194cb7ef256480ca0e76afcd1e95af/static/templates/user_profile_modal.hbs#L69](https://github.com/zulip/zulip/blob/8ce1fd1c50194cb7ef256480ca0e76afcd1e95af/static/templates/user_profile_modal.hbs#L69)
and
[https://

[2021-06-17 12:37] m-e-l-u-h-a-n commented on #18879
This is currently at top of my to-do.
@zulipbot claim

[2021-06-17 14:43] smalltext commented on #18690
!claim

[2021-06-17 14:43] smalltext commented on #18690
@zulipbot claim

[2021-06-17 15:59] mateuszmandera opened #18893 "Customize notification sounds per-stream"
Since we now offer a reasonably wide choice of notification sounds, we could support customizing the sound for each stream. That'd allow users to be  able to distinguish which stream a notification came from just from the audio cue, which seems like a nice thing to have.

CC @alya

[2021-06-17 16:06] #16659 closed

[2021-06-17 16:18] WesleyAC commented on #18890
Actually, giving this another thought, [this logo](https://github.com/zulip/zulip/blob/master/static/images/logo/zulip-org-logo.svg) might be better. Probably the sort of thing where trying out both and posting screenshots to #design would be a good choice.

[2021-06-17 16:35] WesleyAC opened #18894 "Scroll position jumps when clicking on a stream in the left sidebar with unread messages"
I often experience the scroll position jumping when I click on a stream in the left sidebar. This usually happens in streams that have a lot of unread messages (although I've seen it with one unread message as well). I don't think I've ever seen it in a stream with no unreads.

The exact behaviour is:

* I click on a stream in the left sidebar
* The stream loads with the correct scroll position
*

[2021-06-17 16:37] sahil839 commented on #18848
@zulipbot claim

[2021-06-17 16:47] thanasisath31 commented on #18319
@zulipbot claim

[2021-06-17 16:50] ganpa3 commented on #18278
@timabbott #18895

[2021-06-17 18:31] #18770 closed

[2021-06-17 18:47] hpandroid commented on #13466
Hi @bmonikraj,
Are you able to solve this? If so can you please guide me on how we can achieve results with Zulip. I have this feature in matrix, I can simple develop a restAPI to validate the given username and password and return a json response that needed by Matrix to create a user profile quick and simple solution.
https://github.com/kamax-matrix/matrix-synapse-rest-password-provider#integrat

[2021-06-17 19:08] MartinX3 opened #18897 "Filenames are rendered as links"
**Describe the bug**

Filenames like `Android.mk` are rendered as link.
But links should start with protocol://

We disabled now the entire link preview feature, because it interrupts our conversations about android development.

[2021-06-17 19:14] timabbott opened #18898 "Proposed reorganization of `./manage.py --help` output"
I did an audit through all of our management commands listed in `manage.py help` following #18821, and here's a proposed organization of them that would be reasonably readable.

I think we can do better in terms of headings and the like.  I don't believe that this issue is ready for someone to work on yet; we'll likely split out individual issues from here for specific technical projects to work t

[2021-06-17 22:23] snailgirl2612 commented on #18320
@zulipbot claim

[2021-06-17 22:34] Keno opened #18902 "Suggestion: Add hint to mark all messages as read when repeatedly scrolling"
When coming back to a zulip instances that has (tens of) thousands of unread messages (e.g. on julialang.zulipchat.com), it can be frustrating to get to the most recent messages. Moving the scroll bar to the bottom will only fetch a few hundred messages, so one could be scrolling for a while, which is very frustrating. I know there is the "Mark all messages as read button" in the extended options,

[2021-06-17 23:42] #18269 closed

[2021-06-17 23:46] timabbott commented on #18897
This is a somewhat tricky problem, because `.mk` is the domain for a country:

https://en.wikipedia.org/wiki/.mk

We should probably figure out how to disable that, but disabling link preview seems extreme, in that you can just mention filenames in code blocks (which is what you did here on GitHub as well).

[2021-06-17 23:49] timabbott commented on #18893
This is probably not hard to add, so the main cost is the space it'd consume in the settings UI.

[2021-06-18 00:27] timabbott commented on #18890
I agree this would be really nice to fix.  I agree a logo with a loading indicator is basically all we need.

[2021-06-18 08:26] ju29ro14 opened #18904 "Giphy issue, gifs are not loaded at all"
We currently integrated Giphy, followed the documentation, received the production API Key.

The option is available now, we can chose and sent the gifs we want, except that when sent, **the gifs are not loaded at all**.

This happens from different browsers : Chrome,Firefox,Edge , different OS when using the desktop app : Linux , MacOs and Windows, and also from the app from the mobile phones.

<

[2021-06-18 09:57] aryanshridhar opened #18906 "Fix scrollbar behaviour for `Custom emoji` UI settings."
When a user scrolls through a list of realm emojis added within `Custom emoji` UI, the `Image` and `Action` table column overlaps and extends over the `ListWidget` table header causing a buggy UI.

Here's the gif replicating the issue:

![issue](https://user-images.githubusercontent.com/53977614/122544441-712f1380-d04a-11eb-9a92-622b9992ffe6.gif)

There also seems to be a issue of the scrollbar hi

[2021-06-18 11:11] lbtuda opened #18907 "Errors by Anonymous user"
Hi together, getting errors (without interaction on our side) since this night. Pls ignore the deployment date, did an update to check if it is fixed in a new version.

Logger root, from module zerver.worker.queue_processors line 354:
Error generated by Anonymous user (not logged in) on zulip deployment

Traceback (most recent call last):
  File "/home/zulip/deployments/2021-06-18-00-17-30/zerver/

[2021-06-18 14:42] mehant-kr commented on #18881
@zulipbot claim

[2021-06-18 16:19] timabbott commented on #18907
This is a timeout when doing a very database query to save a presence update for a single user.  My guess is that some operational/networking hiccup with the connection to the database resulted in this query hanging for 30s.  Is the Zulip database on the same host as the rest of the Zulip server?  And is the hosting provider one that uses virtualization?

The thing that changed is that we started

[2021-06-18 16:21] timabbott commented on #18904
Are you using the S3 file storage backend?  If so, `upgrade-zulip-from-git 4.x` will likely fix this (see 21cedabbdfaf8a6db939c46693be8fd2982f5547).

I'm hoping to do a 4.4 release today from the current 4.x branch, so confirmation of whether this works for you would be appreciated.

[2021-06-18 16:25] timabbott commented on #18751
Following #18808, we've implemented everything here except for the compose box notice.

Folks should feel free to claim that remaining work.  I intend to also open an issue for search in "resolve topic".

[2021-06-18 16:30] timabbott commented on #11154
We've implemented the basic design from #18751, and it's been working quite well in testing, so we've merged it to master in #18808 today.  There's a lot more we want to do now that we have the data model in place, so we'll be opening a batch of follow-up issues for specific extensions like search/filtering support and nicer visuals to make use of space in the left sidebar; they'll be linked from

[2021-06-18 16:30] #11154 closed

[2021-06-18 18:29] alya opened #18912 "Fix cut-off labels in /stats"
There are some labels in /stats that consistently get cut off. From https://chat.zulip.org/stats:

![Zulip](https://user-images.githubusercontent.com/2090066/122602800-4633c800-d028-11eb-92e6-3320b3f6b847.png)

[2021-06-18 21:13] timabbott opened #18915 "Performance issue fetching messages with S3 backend enabled"
This is a bug introduced in Zulip 4.0: getting URLs for avatar images is very expensive due to this helper function:

[code]

This is a regression introduced in https://github.com/zulip/zulip/commit/5a4aecfc40f6c57324a703b74b0b74dc4df3e652

@ryanreh99 @mateuszmandera FYI.

The right fix is to only call the `boto` library function once to get the URL prefix, and then do the rest with URL manipulati

[2021-06-18 22:16] timabbott commented on #18894
This seems like a surprising bug to have happen for only some users.  I think it's important to get to the bottom of this.  It'd be extremely helpful to have a reproducer.  A few things worth noting for generating a reproducer:
* Given the 2-stage thing we're seeing here, what's likely happening relates to the following.  When you click into a view, and we believe we have your first unread message

[2021-06-19 01:58] WesleyAC commented on #18894
Thanks for the info! I don't have a consistent repro, but I haven't gone through my messages in Recurse in a couple days, so I can almost certainly see it a couple times there. Is there some data I could collect while doing that to help debug? (Network/console log, etc)?

Muted topics could definitely be a factor — I mute topics a lot, and definitely have muted topics in all of the streams I've se

[2021-06-19 03:20] nooblag opened #18916 "Organisation's Default Language Setting not utilised on Login Page"
Regarding discussions at https://chat.zulip.org/#narrow/stream/9-issues/topic/Language.20setting.20bug.3F/near/1209412 we have set our organisation to use British English, but this change does not seem to be respected on the login page... we still get the Americanisms throughout:

![OrganisationSettings](https://user-images.githubusercontent.com/1122344/122629508-e3fac600-d100-11eb-8b43-5b07d0133f

[2021-06-19 08:24] thanasisath31 commented on #18319
@zulipbot unclaim

[2021-06-19 09:26] lbtuda commented on #18907
Hi, thanks for the quick answer :)
The database is running on the same host as the server. The error occures in the night when there are few to no users online.
BR Lukas

[2021-06-19 09:56] LefterisKyriazanos commented on #18319
@zulipbot  claim

[2021-06-19 11:46] ju29ro14 commented on #18904
Thank you for your fast reply.

Actually our issue was that `camo` was down because it had crashed with the error :

[code]

I will check it after the 4.4 upgrade if `camo` is running...not sure what the cause was...

[2021-06-19 16:27] cognusion commented on #18893
Thinking about this like stream custom "color", maybe the settings UI is there: "Change color" "Change sound" ? Just a thought

[2021-06-19 18:32] tvald commented on #18841
Update 2: After playing around with configuration for a while, I seem to have this set up as I had wanted. I don't have time to continue investigating, but this might have been the culprit:
[code]

[2021-06-20 08:26] nielsle commented on #18902
Alternatively add keybord shortcuts for

* Mark topic as read
* Mark stream as read

[2021-06-20 21:56] jwillmer commented on #11227
Please make sure that a bot/API can also use this feature. I would like to use it to send reminders to my team to complete the standup "form" in the #standup channel. Related: #18832

[2021-06-20 22:03] jwillmer opened #18925 "[Feature Reguest] Channel template"
Same as you can set for GitHub issues. I like to create a channel for a virtual team standup and add a message template. Every user who likes to start typing in the channel gets the template test auto filled in his message box. He can delete it or modify/complete it and then post to the channel.

Additionally it would also be great to fix it to a topic so that it only comes up for topic: `daily st

[2021-06-20 22:06] jwillmer commented on #18832
With the two linked features a simple bot that checks: `if each [user] of the [group] published a message to [channel:topic] on a [working day] and send a reminder if not` would solve the minimal feature request.

[2021-06-20 23:03] TheCedarPrince opened #18926 "Writing Check Boxes Using Markdown in Zulip?"
At this time, is it possible to write checkboxes in Zulip via markdown syntax? It would not appear so as writing a checkbox makes Zulip interpret it as a bullet. It would be great if the following syntax was supported:

[code]

- [ ] I am a checkbox
    - [ ] I am a nested checkbox

[2021-06-21 00:08] #18602 closed

[2021-06-21 06:03] alya opened #18927 "Menu needs to be closed and reopened for deactivated/reactivated users to show up in the list"
1. Deactivate a user (in Organization settings > Users).
2. Go to "Deactivated users" tab.

Expected behavior: Deactivated user should be on the list.
Actual behavior: Deactivated user only appears after exiting and re-opening the menu.

The same thing happens in the other direction (reactivating a user -> showing up in Users tab).

[2021-06-21 06:07] alya opened #18928 "Bug when reactivating and then deactivating a user"
1. Make sure you have at least one users in the Organization settings > Deactivated users tab.
2. Click the "reactivate" button.
3. Click the "deactivate" button.

Expected behavior: "Deactivate user" dialog should appear.
Actual behavior: The window behind the settings darkens, but the dialog box does not appear. There is no way to deactivate the user.

[2021-06-21 10:04] ganpa3 commented on #18927
It's [intentional](https://github.com/ganpa3/zulip/blob/777eeb6b8f551c0c0fdeffb2334a595b40fb73f0/static/js/settings_sections.js#L80)?

[2021-06-21 13:53] sahil839 commented on #18927
I remember we discussed (and also probably has an issue) to fix this and for changing the current behavior to be partially sticky, i.e. on deactivating the user the user remains in active list till the user remains on that list and then when one goes to the deactivated users list (without closing and re-opening the menu and also without reloading) the deactivated user appears in the deactivated-us

[2021-06-21 14:37] nooblag commented on #18890
There's something to kick this off. I also like the other suggestions above which could be next step:

I could give that a go, if the above change is acceptable.

But the rest, might be outside of my skillset:

[2021-06-21 17:13] haikuginger commented on #18390
I verified this is now working, after being on work leave for a few weeks! Thanks so much everyone!

[2021-06-21 17:15] #18346 closed

[2021-06-21 17:22] #18928 closed

[2021-06-21 17:26] timabbott commented on #18907
Can you check how the timing of this error related to the cron jobs on the system, including ones that Zulip installs to `/etc/cron.d/`?  It seems fairly likely that these timeouts could be caused by backups (or similar) running at the time and resulting in database interactions being unusually slow.