[2017-12-10 11:27] Balaji2198 commented on #2284
@zulipbot  claim

[2017-12-10 12:12] #6362 closed

[2017-12-10 12:35] showell commented on #6862
FYI I instructed @shreyanshdwivedi to use a generic message here instead.  All of the messages we show here are generic, and I don't feel this is a compelling enough use case to make an exception, as it leads to some issues with the node tests and makes it hard to create generic screenshots for docs, etc.

https://chat.zulip.org/#narrow/stream/issues/subject/.236862/near/377270

[2017-12-10 14:00] #6862 closed

[2017-12-10 14:41] shreyanshdwivedi commented on #5578
@zulipbot claim

[2017-12-10 16:56] dgarvit commented on #7666
@neiljp which function?

[2017-12-10 17:15] pradeepgangwar commented on #7217
@rishig I am not getting same result on copying and pasting. I would like to know how you copy-pasted it.

[2017-12-10 17:59] pradeepgangwar commented on #7621
@zulipbot claim.

[2017-12-10 18:55] shreyanshdwivedi commented on #6040
@rishig if this issue is still open, I would like to work on this..

[2017-12-10 19:24] shreyanshdwivedi commented on #4254
@rishig is this issue still open? I would love to work on this😄

[2017-12-10 20:21] sarvesh211999 commented on #7664
So how I am gonna test in local side.??

On Sat, Dec 9, 2017 at 1:44 AM, Mohd Ali Rizwi <notifications@github.com>
wrote:

[2017-12-11 01:28] neiljp commented on #7666
When testing this file with `mypy` with the strict-optional setting (being worked on in one of my PRs #6017), `storage` is specified as being `Optional[Dict[str, str]` in `update_storage` but is used in the function before checking whether it is `None`.

The typing may be incorrect, or the function needs adjusting, by my reckoning; this may also require changes elsewhere.

I tagged @roberthoenig a

[2017-12-11 04:38] umairwaheed commented on #9
(Waiting for a review)

[2017-12-11 06:18] pradeepgangwar commented on #7589
@zulipbot claim

[2017-12-11 06:47] kamalmarhubi commented on #7719
@shreyanshdwivedi I'm not.

[2017-12-11 10:29] shreyanshdwivedi commented on #6126
@zulipbot abandon

[2017-12-11 10:44] psycho-valker commented on #7699
@zulipbot claim

[2017-12-11 10:53] AasthaGupta commented on #7534
@zulipbot claim

[2017-12-11 10:57] shreyanshdwivedi commented on #6040
@zulipbot claim

[2017-12-11 10:57] shreyanshdwivedi commented on #4254
@zulipbot claim

[2017-12-11 10:59] AasthaGupta commented on #7406
@zulipbot It is under review.

[2017-12-11 11:22] alirizwi commented on #7664
@sarvesh211999 it seems @skapil is working on this issue, you can work on some other good first issue

[2017-12-11 12:01] Rishabh570 commented on #6802
Little busy...but will get it done soon...!

[2017-12-11 12:25] XavierCooney commented on #7678
@zulipbot claim

[2017-12-11 14:13] synicalsyntax commented on #7699
@psycho-valker Hey there, I hope you noticed that I already have a PR open for this, so it'd be best if you could find a different issue to work on. :)

[2017-12-11 14:36] florianjuengermann commented on #5920
I posted pull request 8 days ago, still waiting for a review.

[2017-12-11 15:52] showell opened #7734 "Change zulip-bot-output -> zulip-terminal in our server docs (and perform docs QA)."
We need to rename zulip-bot-output -> zulip-terminal in our server docs.  More importantly, we need somebody to carefully read the docs and play with zulip-terminal and make sure the docs are accurate.

[code]

[2017-12-11 16:00] nkmishra1997 commented on #7734
@zulipbot claim

[2017-12-11 16:08] AasthaGupta commented on #7539
@zulipbot claim

[2017-12-11 17:17] showell commented on #7666
@shreyanshdwivedi @dgarvit I'm going to assign this to @roberthoenig, as we need clarification here.

[2017-12-11 17:39] ihsavru commented on #7639
@zulipbot claim

[2017-12-11 18:18] rishig commented on #6510
Interesting, thanks @AasthaGupta! I'm tempted to say:
* If subject === narrow_state.topic, then leave it open
* If it is a stream narrow (not a topic narrow), then leave it open
* Otherwise close it, as we currently do.

Does that seem reasonable?

[2017-12-11 19:28] ryanle42 commented on #7581
@zulipbot claim

[2017-12-11 21:59] #7678 closed

[2017-12-11 22:31] rishig commented on #7639
Hi @ihsavru, thanks for picking this up! We haven't yet decided on a design for this yet. We may do so soon, but I think it probably won't make sense to work on this until there is some consensus around the design.

[2017-12-11 22:49] shreyanshdwivedi commented on #6032
@showell  I would like to work on this. Can I take this issue?

[2017-12-11 23:21] rishig commented on #6032
hm .. there was some discussion of this, though I don't remember what was decided. I think one issue is that for people that use the mouse regularly, they often have their mouse hovered over the left sidebar, and this would create tooltips that would block their view.

There was also a prototype floating around that would put the stream description in the stream popover.

[2017-12-12 01:33] #7654 closed

[2017-12-12 03:25] #7672 closed

[2017-12-12 03:51] rishig commented on #4254
It is still open, but as a heads up it is a fairly difficult change (and note Tim's warning above).

[2017-12-12 04:19] rishig commented on #3097
Removed the `help wanted` labels; this is not going to be possible to fix until thumbnailing is done.

[2017-12-12 06:38] okkez opened #7740 "autolink does not work expected"
OS: Ubuntu 16.04
Zulip: 1.7.1

autolink does not work that I expected like following example:

[code]

This URL with preceding multibyte characters.

expected result:

[code]

I found large regular expression as below:

https://github.com/zulip/zulip/blob/83f563aeff2358ba159b2349ab39382450e376a9/zerver/lib/bugdown/__init__.py#L1401-L1422

And I've created small patch for this issue:

[code]

But t

[2017-12-12 06:43] psycho-valker commented on #7699
@synicalsyntax , yeah sure :)

[2017-12-12 06:46] shreyanshdwivedi commented on #4254
Okk. I am dropping it then. @zulipbot abandon

[2017-12-12 06:53] rishig commented on #3535
Thanks for taking this up! And haha, what you are writing is the reference link :). To figure out what to do, I would:
* Put an `assert False` somewhere in the message sending pathway (like at the beginning of `do_send_messages`).
* Send a message
* You'll get some red icons. It'll hopefully be clear what those icons do by clicking around on them, and if not, you can take a screenshot of them and

[2017-12-12 07:17] pradeepgangwar commented on #7589
@rishig I need a little help here. In https://github.com/rishig/zulip/commit/f2b8c7ccae19459eb76cb44e1e3a111244a8ff1c#diff-e8571ba96eb5129e439cd7d7843dedd3R66 you have used
`'prereg_user_id': prereg_user.id,`
 But https://github.com/zulip/zulip/blob/master/zerver/models.py#L786 PreregistartionUser Model does not have any property like id. I tried to implement it and tests fails at this point only.

[2017-12-12 08:22] shreyanshdwivedi commented on #6032
@zulipbot claim

[2017-12-12 08:30] kriti-a commented on #5384
@zulipbot  claim

[2017-12-12 09:48] kriti-a commented on #5384
Can we give a fixed max-height like 100px for the ul. Issue can be fixed by this.

[2017-12-12 10:07] kriti-a commented on #7046
Can we reduce the width of the side menus?

[2017-12-12 11:42] psycho-valker commented on #6714
@zulipbot claim

[2017-12-12 15:11] #7623 closed

[2017-12-12 15:22] showell commented on #7665
We populate "Manage Organizations -> Invitations" on the fly when we pull up the panel, using a call to `/json/invites`.  So there's no real data structure to update.  Since it's pretty rare for people to be in this screen, it might make sense to have the notification just be something like "invites_changed" and have it only go to the person doing the invite plus admins.  For a screen like this, I

[2017-12-12 15:43] pradeepgangwar commented on #7217
@zulipbot abandon

[2017-12-12 15:56] #7097 closed

[2017-12-12 15:58] #7581 closed

[2017-12-12 16:19] hackerkid commented on #3058
@zulipbot claim

[2017-12-12 17:23] rishig opened #7743 "integrations: Add topic query parameter for gitlab integration."
https://chat.zulip.org/#narrow/stream/integrations/topic/gitlab.20configuration.20request

[2017-12-12 17:51] utkarsh23 commented on #4874
@zulipbot abandon

[2017-12-12 18:17] rishig commented on #7665
cool, I'm fine with that plan.

[2017-12-12 19:15] pradeepgangwar commented on #4874
@zulipbot claim

[2017-12-12 20:03] sarvesh211999 commented on #7446
Is this issue open or closed??

[2017-12-12 20:18] sarvesh211999 commented on #5122
is this issue still open or close?

[2017-12-12 20:19] sarvesh211999 commented on #5122
@zulipbot claim

[2017-12-12 20:24] rishig commented on #5122
Thanks @sarvesh211999! I've removed the help wanted labels and unassigned you, since I think this issue can't be worked on until the thumbnailing feature is in.

[2017-12-12 20:24] sarvesh211999 commented on #5122
Okayy

[2017-12-12 20:39] rishig commented on #7446
@parth-p is working on this. In general please check the comment history for the issue before asking this question; if you're not sure how to tell from the comment history whether something is open or closed, open a thread in #development help on chat.zulip.org and we'll be happy to explain.

[2017-12-12 20:50] sarvesh211999 commented on #3437
Can you please elaborate the issue ??
I am unable to understand

[2017-12-12 21:04] sarvesh211999 opened #7745 "message page: No on-hover text for message edit or view source icon."
whenever we hover over star icon or dropdown icon we see a info what it is about
but when we hover over pencil icon there is no info that it is a edit button

[2017-12-12 22:51] #7734 closed

[2017-12-12 23:16] gnprice opened #7748 "Set up test suite on CircleCI"
Travis CI isn't very stable or very fast, and I think we can do better running on CircleCI.

Key differences include:
* We control the base image -- so it won't change out from under us and cause failures, and also we can preload things that save time in provision.
* Caching is more hermetic. This is actually good and bad, as Circle went a bit overboard on this; results will be totally reproducibl

[2017-12-12 23:18] gnprice commented on #7748
Some previous discussion [in chat](https://chat.zulip.org/#narrow/stream/test.20suites/subject/circle/near/355279). In particular:

[2017-12-13 00:36] #5159 closed

[2017-12-13 10:45] mytototo commented on #752
Is there any news about this feature? I'm very much interested in. This is the only thing missing for me to use Zulip.

[2017-12-13 12:20] Balaji2198 commented on #1561
@zulipbot  PR waiting for review.

[2017-12-13 12:29] pradeepgangwar commented on #4874
@zulipbot abandon

[2017-12-13 14:30] pradeepgangwar commented on #7217
@zulipbot claim

[2017-12-13 16:47] Balaji2198 commented on #4507
@rishig  I think this issue is solved via #7483.So can we close this issue? or it still needs any improvement?

[2017-12-13 17:00] AasthaGupta commented on #6510
@rishig yeah seems reasonable.

[2017-12-13 17:00] AasthaGupta commented on #6510
@zulipbot claim

[2017-12-13 18:39] rishig commented on #4507
It is still not fixed; e.g. try the message "  test  " (in a code block) on master.

[2017-12-13 19:43] thejwzhang commented on #7711
@zulipbot abandon

[2017-12-13 19:44] thejwzhang commented on #6548
@zulipbot abandon

[2017-12-13 20:16] #7475 closed

[2017-12-13 20:20] #7567 closed

[2017-12-13 20:39] #7534 closed

[2017-12-13 20:44] #6490 closed

[2017-12-13 20:58] PentaHiggs commented on #4507
Okay, so for whatever reason
That pull request, #7483, I can't find any evidence of it in the commit history of master.  No evidence of the test fixture written (which would be failing right now), nor of the actual code change anywhere in the commit history, as far as I could tell.  I thought maybe some future commit reverted it, but I think it was closed without actually being accepted [probably

[2017-12-13 21:04] rishig commented on #4507
:/. Reopening and rebasing sounds great, thanks!

[2017-12-13 21:14] #7621 closed

[2017-12-13 21:24] rishig opened #7759 "onboarding: Rename "Register" to "Sign up""
See https://chat.zulip.org/#narrow/stream/design/topic/.22register.22 for discussion.

[2017-12-13 22:44] shreyanshdwivedi commented on #7550
@zulipbot claim

[2017-12-14 01:19] rishig commented on #7740
Thanks for the report @okkez!
We generally don't auto-link unless the http is preceded by a whitespace (or beginning of message). Is the issue that in Japanese or other languages URLs are typically written without a preceding space?

[2017-12-14 06:40] okkez commented on #7740
@rishig Thank you for replying.
In general, we Japanese people don't put preceding space before URLs.
Some web services/applications create auto-link for URLs with preceding multi-byte characters.
For example,
* twitter
* github like following
  * 日本語https://example.com
* gmail
* redmine
* slack
* gitter.im
* and more...

[2017-12-14 07:11] YJDave opened #7766 "Message edit history breaks when message contain image"
Message edit history shows weird behavior as shown in image.
![screenshot from 2017-12-13 22-46-56](https://user-images.githubusercontent.com/25907420/33979814-04336932-e0cc-11e7-8992-75eb5a676b20.png)

To reproduce bug:
* Compose message with at least one image
* Edit the message by adding some content after image url

**NOTE**: I have not made any changes to image URL and it only shows if text i

[2017-12-14 07:19] Balaji2198 commented on #7759
@gooca Thanks for working on this. You can claim the task by commenting `@zulipbot claim`. So others will not work on the same issue.

[2017-12-14 07:41] rishig commented on #7740
Great, thanks for confirming. I've added the appropriate label; hopefully someone will take it up soon.
To anyone working on this:
* Note the patch above
* Note that this likely does already work in the js markdown processor, and just needs to be fixed in the python markdown processor. But that should be verified.

Thanks again @okkez for the careful report!

[2017-12-14 10:45] XavierCooney opened #7768 "server-settings: Some parts of disabled checkboxes have cursors"
Steps to reproduce:
 1) Login as a user who cannot modify the organization settings.
 2) Hover your mouse just outside any of the checkboxes (e.g. "Users can delete their messages")
 3) Notice that sometimes the cursor to a mouse pointer

My (probably limited) understanding is that this is because there is some CSS that sets the cursor to a pointer for all labels with the checkbox class, and there

[2017-12-14 12:05] XavierCooney commented on #7768
@zulipbot claim

[2017-12-14 12:44] gooca commented on #7759
@zulipbot claim

[2017-12-14 12:48] #4507 closed

[2017-12-14 12:51] #7702 closed

[2017-12-14 16:04] Balaji2198 commented on #6213
@roberthoenig  I grepped for "KeyError" I can see few exception still uses that inside `Webhooks` integrations. Shall I clean that up? or those are the different case to handle?

[2017-12-14 17:55] asopkin commented on #7098
@zulipbot abandon

[2017-12-14 18:45] HarshitOnGitHub commented on #6977
@zulipbot claim

[2017-12-14 20:57] akashnimare commented on #7395
@zulipbot claim.

[2017-12-14 21:50] hackerkid commented on #4291
@zulipbot claim

[2017-12-14 22:49] #7712 closed

[2017-12-14 23:11] sarahcstringer commented on #6511
wip :)

[2017-12-14 23:11] shreyanshdwivedi commented on #3945
@lonerz if this issue is still not solved, I would like to work on this. Can I?

[2017-12-14 23:26] shreyanshdwivedi commented on #1267
@zulipbot claim

[2017-12-15 02:57] mahimg commented on #6546
@zulipbot claim

[2017-12-15 04:37] Balaji2198 commented on #5714
@rishig  I changed the condition here https://github.com/zulip/zulip/blob/master/templates/zerver/accounts_home.html#L18 and checked. I think we already have this one. Is this the one you expected?
![register_options](https://user-images.githubusercontent.com/22166422/34006503-995cac82-e124-11e7-85f8-52d4f1a831cc.png)

[2017-12-15 05:09] lonerz commented on #3945
@shreyanshdwivedi sure

[2017-12-15 10:07] pradeepgangwar commented on #5951
@verma-varsha Are you still working on this?

[2017-12-15 10:41] dgarvit commented on #7740
@zulipbot claim

[2017-12-15 10:42] dgarvit commented on #7711
@zulipbot claim

[2017-12-15 11:16] pradeepgangwar commented on #5757
@lonerz I think now we have a line separating subscribed and unsubscribed streams. Is this issue still valid?

[2017-12-15 13:12] tommyip commented on #198
Hey @pradeepgangwar, I already opened a half merged PR (#5752). You might want to find another issue to work on.

[2017-12-15 13:15] pradeepgangwar commented on #198
@tommyip ok. I didn't see any referenced PR in issue history so i claimed it. All the best :).
@zulipbot abandon.

[2017-12-15 13:21] sarvesh211999 commented on #7549
@zulipbot claim

[2017-12-15 13:33] Anupam-dagar commented on #7549
@sarvesh211999 I am already working on this issue and have a PR opened. I think you should work on another issue :smile:

[2017-12-15 13:41] sarvesh211999 commented on #7549
@Anupam-dagar sorry I saw your comment now. I have already added pull request.
Sorry

[2017-12-15 14:52] shreyanshdwivedi commented on #3945
@zulipbot  claim

[2017-12-15 15:09] hackerkid commented on #5951
@zulipbot label "GCI task"

[2017-12-15 15:12] hackerkid commented on #6928
@zulipbot label "GCI task"

[2017-12-15 18:35] sarvesh211999 commented on #6126
@zulipbot claim

[2017-12-15 18:36] YJDave commented on #5829
@zulip claim

[2017-12-15 19:23] #5578 closed

[2017-12-15 20:13] akashnimare opened #7789 "Make image description responsive in lightbox"
* Image descriptions (image name, sender) and image-actions (Download, Open button) in lightbox is not responsive when the width is < 511px. We need to make both the sections responsive.

<img src="https://chat.zulip.org/user_uploads/2/3e/3hnGRwf8oh0M9Edjzv3ACBr7/pasted_image.png">

* Both the sections look inconsistent when width is 511 to 786px. For an example at width 700px -

![image](https://

[2017-12-15 21:34] shreyanshdwivedi commented on #7766
@YJDave if you r not working on this, I would like to work on this.

[2017-12-15 23:22] shreyanshdwivedi commented on #4712
@zulipbot  claim

[2017-12-15 23:35] shreyanshdwivedi commented on #4712
@zulipbot abandon

[2017-12-15 23:44] shreyanshdwivedi commented on #5623
@zulipbot claim

[2017-12-16 04:58] synicalsyntax opened #7794 "left sidebar: Streams list chevrons don't have enough contrast in dark mode."
![](https://chat.zulip.org/user_uploads/2/df/KZG3OxF_VFlDVe3d_6P43HdQ/zulip-nightmode-sidebar.png)

@zulipbot claim

[2017-12-16 07:03] Vamshi99 opened #7795 "Login form: Email and password both resets with a wrong password"
When I type a wrong password with a correct email address and click login, it resets my email address, password text. It shouldn't reset email address. or it shouldn't reset at anything, it should just give error.

[2017-12-16 07:11] YJDave commented on #7766
@shreyanshdwivedi No, I am not working you can start working on this issue. :+1:

[2017-12-16 08:26] Balaji2198 opened #7796 "onBoarding: Error Message overlaps with Password Field."
When typing a not valid email address in the input box. The error message overlaps with the Password Field.
![zulip_sign_in](https://user-images.githubusercontent.com/22166422/34068927-57c76350-e26b-11e7-8d75-0793318ba030.png)

This occurs only on Firefox Quantum Ubuntu 16.04 for all the Screen sizes.
Chat discussion: https://chat.zulip.org/#narrow/stream/issues/topic/signin.

[2017-12-16 08:45] VishalCR7 commented on #6018
@zulipbot claim

[2017-12-16 09:39] ihsavru commented on #7789
@zulipbot claim

[2017-12-16 10:12] Balaji2198 commented on #7795
@zulipbot  claim.

[2017-12-16 13:20] pradeepgangwar commented on #6548
@verma-varsha are you still working on the issue?

[2017-12-16 21:20] utkarsh23 commented on #7796
@zulipbot claim

[2017-12-16 22:14] lonerz commented on #6547
Gonna pick this up @zulipbot claim

[2017-12-17 02:05] brainwane commented on #1535
For anyone interested in following up on this, http://zulip.readthedocs.io/en/latest/contributing/version-control.html#commit-messages is the current documentation on commit messages. I'm guessing the linter work is in `tools/commit-message-lint` and `tools/commit-msg`.

[2017-12-17 08:06] shreyanshdwivedi commented on #7766
@zulipbot claim

[2017-12-17 08:39] utkarsh23 commented on #7537
@zulipbot abandon

[2017-12-17 08:56] shreyanshdwivedi commented on #7766
@zulipbot abandon

[2017-12-17 10:00] vinnusingla commented on #5951
@zulipbot claim

[2017-12-17 15:26] asiamarek commented on #7766
@zulipbot claim

[2017-12-17 15:52] pradeepgangwar commented on #7589
@zulipbot abandon

[2017-12-17 17:25] FUTC-Coding opened #7813 "Add a loading animation when loading page."
When refreshing the page, and messages are being loaded, it just says "loading..." next to the zulip logo, having a nice loading animation would improve the experience in my opinion. The animation can be used for many things like when an image is loading or similar. I will be working on it.

[2017-12-17 17:29] tommyip commented on #7813
cc @brockwhittaker
https://chat.zulip.org/#narrow/stream/GCI.20general/subject/animation/near/392976

[2017-12-17 17:55] pradeepgangwar commented on #457
@zulipbot claim

[2017-12-17 18:47] rishig opened #7814 "emails: Add admins@subdomain.domain.tld to email the realm admins."
This requires a few things:

(1) edit the email mirror code zerver/lib/email_mirror.py to process a new type of recipient and do the right thing and
(2) setup the appropriate MX records so that those emails get delivered to the appropriate postfix server.

We can start with (1) first, since that's 90% of the work.

[2017-12-17 18:53] pradeepgangwar commented on #457
@brainwane Can you confirm if this still exists because when i created private stream and unsubscribed to it it was deleted and was seen nowhere even in admin settings.

[2017-12-17 19:04] pradeepgangwar opened #7815 "Pop a model when trying to subscribe to invite only stream."
For now when we try to subscribe to a invite only stream, subscribe button does nothing. We can add a modal describing that this is a invite only stream so that button does not look like broken.

I will be working on this once this is confirmed.

[2017-12-17 19:14] pradeepgangwar commented on #7815
closing this as duplicate issue. Sorry for inconvenience.

[2017-12-17 19:14] #7815 closed

[2017-12-17 20:17] starlord1311 commented on #7743
@rishig can take up this issue?

[2017-12-17 20:24] starlord1311 commented on #7622
@zulipbot assign

[2017-12-17 20:24] starlord1311 commented on #7622
@rishig can i take up this issue?

[2017-12-17 23:13] Tokixix commented on #6358
@timabbott Is this refactoring something on which I could work on? If yes, should we talk about how would it possibly work in future(I mean this search mechanism)? I've gone through whole code and tried some options on my side, so I guess I am ready for this issue.

[2017-12-18 00:52] graszka22 commented on #5672
@zulipbot claim

[2017-12-18 04:25] rht commented on #7620
Ugh, I'm also claiming this issue if @burek967 is busy with other stuff. Can't use formulas in zulipchat.com properly.

[2017-12-18 04:28] umairwaheed commented on #7814
@zulipbot claim.

[2017-12-18 04:30] umairwaheed commented on #7499
still working

[2017-12-18 04:35] umairwaheed commented on #7460
still working

[2017-12-18 07:26] rheaparekh commented on #7240
@zulipbot claim

[2017-12-18 07:53] burek967 commented on #7620
No problem, @zulipbot abandon

[2017-12-18 08:59] Balaji2198 commented on #7813
@Tanonic  You can claim the issue by commenting `@zulipbot claim`

[2017-12-18 10:34] rht commented on #7620
@zulipbot claim. So far I have bisected that 1.7.0 is good, 1.7.0+git at somewhere at Nov 17 is bad.

[2017-12-18 14:15] showell opened #7823 "Refine reply-button experience for empty narrows."
If you're in a narrow that has no messages (like a failed search or a mistyped stream name), then we still show the "Reply" button, even though there's nothing to reply to.  We have an error message show when you hit reply, but ideally we would do something like hide/disable the button in that scenario.

Before starting on this, you want to discuss solutions on https://chat.zulip.org/#narrow/strea

[2017-12-18 14:24] #5287 closed

[2017-12-18 14:28] showell opened #7824 "Make "Reply" button show in mobile web."
Our new "Reply" button gets hidden when you have a narrow browser window for Zulip, which effectively makes it invisible all the time for mobile web, where you arguably want it even more than on the desktop (where you have have hotkeys and a true mouse).

We should make the button show on mobile web and for narrow desktop windows.  We should be mindful of appearance, though, so possibly use a smal

[2017-12-18 14:49] akashnimare commented on #7824
@zulipbot claim.

[2017-12-18 14:55] shreyanshdwivedi commented on #7823
@zulipbot claim

[2017-12-18 16:35] skunkmb commented on #6928
@zulipbot claim

[2017-12-18 16:48] utkarsh23 commented on #7193
@zulipbot claim

[2017-12-18 16:51] skunkmb commented on #6928
I made a [thread on chat](https://chat.zulip.org/#narrow/stream/GCI.20tasks/subject/.22Prevent.20spam.20on.20.23announce.20stream.22.20task.20ideas/near/394947) to discuss possible solutions.

[2017-12-18 16:55] kriti21 commented on #7628
@zulipbot claim

[2017-12-18 17:02] rishig commented on #7622
yup, thanks!

[2017-12-18 17:22] skunkmb commented on #6928
After talking with @tommyip, here is my Pull Request: https://github.com/zulip/zulip/pull/7828. It simply adds a check for the stream being `announce` in `validate_stream_mention_messages`. Please let me know if there is anything I should change or fix!

[2017-12-18 17:24] kriti21 commented on #7628
Link to my PR fixing this issue (https://github.com/zulip/zulip/pull/7827)

[2017-12-18 17:29] rishig commented on #1267
Thanks for looking into this @shreyanshdwivedi! I agree with @showell as per https://chat.zulip.org/#narrow/stream/issues/topic/.231267. Removing the `help wanted` labels.

[2017-12-18 17:33] shreyanshdwivedi commented on #1267
@zulipbot abandon

[2017-12-18 17:39] ihsavru commented on #7628
@kriti21 I have already submitted a pr for this issue which is only waiting for a final review :sweat_smile: From next time onwards, please check before working on an issue or either of our efforts will be wasted :)

[2017-12-18 17:49] kriti21 commented on #7628
Yep. Thanks @ihsavru

[2017-12-18 18:45] showell opened #7830 "Enforce unique display names per realm."
If there are two people in the realm named "Jane Doe", it is kind of chaotic for other users to know which "Jane" they are talking to, and it can also lead to bugs or non-deterministic behavior in the codebase.

We should enforce a first-come-first-serve policy for the `UserProfile.full_name` field.  If a user hits a collision, we can simply say "That name is already in use. Please use another dis

[2017-12-18 19:03] rishig commented on #7743
It's best to work on only one issue at a time, but other than that go ahead!

[2017-12-18 19:11] rishig commented on #7830
I think we'll want to think through whether we want to use UserProfile.full_name, or e.g. just force people to add a UserProfile.short_name if there is a conflict. I think we do want the full name to be able to sync with other services, we use that to address people in emails, etc.

[2017-12-18 19:33] shreyanshdwivedi commented on #5623
@zulipbot abandon

[2017-12-18 19:38] starlord1311 commented on #7743
@rishig can you help me with what i am supposed to do?

[2017-12-18 19:39] starlord1311 commented on #7622
@rishig can you tell what i am supposed to do?

[2017-12-18 19:40] starlord1311 commented on #7622
@zulipbot claim

[2017-12-18 19:59] simoniz0r commented on #6928
I would much appreciate some option to completely block users from posting to certain streams.  IMO, there's really no reason for users to be allowed to post to the announcement stream at all in most use cases.

[2017-12-18 20:06] shreyanshdwivedi commented on #6581
@dgarvit did your PR solved this issue? If not, I would like to work on this.

[2017-12-18 20:42] shreyanshdwivedi commented on #3530
@zulipbot claim

[2017-12-18 20:57] Tanonic commented on #7813
@zulipbot claim

[2017-12-18 20:58] Balaji2198 commented on #5714
@rishig  Any update about this?

[2017-12-18 21:52] showell commented on #7830
IHMO we don't want to keep `short_name` around for the very small minority of people who have name collisions.

[2017-12-18 22:10] rishig commented on #7830
yeah, I don't know what the solution is, but in general I'm wary of doing anything complicated with full_name, given the fact that it is populated automatically in large realms.

[2017-12-18 22:26] showell commented on #7830
Are we sure this is actually an issue for large realms?  I imagine big corporations have the same kind of issues with duplicate names and probably disambiguate names on their end, too.

[2017-12-18 22:40] gnprice opened #7835 "Upgrade mypy to 0.560"
There's a new mypy release!
http://mypy-lang.blogspot.com/2017/12/mypy-0560-released.html

It'd be cool to upgrade -- I don't think the headline feature matters to us, but this sounds pretty neat:

and there are several improvements in error messages, and bugfixes, that will be nice improvements to the experience.

@neiljp , would you be up for doing this upgrade?

[2017-12-18 22:46] rishig commented on #7830
I don't think large corps disambiguate names; names are used on all sorts of forms, payroll, etc. I also never saw a "Jane Doe (#2)" while working at google (the only large corp I've been a part of).

A company has the advantage of course that you can disambiguate (practically speaking) from their job title and org, and if nothing else from their email address.

[2017-12-18 22:56] neiljp commented on #7835
@gnprice I'd like to, but on my personal system the tools are rather demanding (wrt root) and my disk is rather small; this seems like the appropriate time to re-request a droplet? I think mine was destroyed at the end of PyCon.
(I appreciate the desire to operate in a consistent dev environment to run the tools, but it'd be useful to not require this)

[2017-12-18 23:28] neiljp opened #7836 "/team page: Remove duplicate contribution counts"
I raised this issue recently on chat.zulip.org and was referred to a previous comment here: https://github.com/zulip/zulip/pull/7470#issuecomment-346452888
This is an attempt to summarise the outstanding issue.

This problem arises (at least for python-zulip-api & zulip) since the former repo was broken out of the latter, but retaining the history, so taking all the history leads to double-countin

[2017-12-19 00:04] #4367 closed

[2017-12-19 00:04] #3915 closed

[2017-12-19 00:11] showell commented on #7830
I'm sure corporations as big as Google have figured out how to disambiguate names with a better scheme than "Jane Doe #2".  Name collisions are actually pretty rare, but when they do happen, there are tons of workarounds.  Middle initials, for example.  The LDAP problem should not be a show-stopper here.

[2017-12-19 00:18] showell commented on #7830
It's also important to realize that UserProfile.full_name has no legal consequences in Zulp.  It's just an identifier.  If my father signed up on Zulip, he would have to identify himself as "Steve Howell, Sr." or something, so that people would be able to tell he's a distinct person from me.

[2017-12-19 02:19] gnprice commented on #7835
@neiljp Yeah, you'd definitely be quite welcome to a new droplet!

Just make a request in chat per the instructions at https://zulip.readthedocs.io/en/latest/development/request-remote.html , and someone will set you up.

For the broader question of how the dev environment is designed, I think it'd be tough to have a full dev environment (with database, rabbitmq, etc.) without installing system so

[2017-12-19 04:50] gnprice opened #7838 "Get dev environment setup working on Ubuntu 17.10"
We've had a couple of people report in the past week that our installation instructions fail for them on Ubuntu 17.10:
https://chat.zulip.org/#narrow/stream/provision.20help/subject/'vagrant.20up'.20failed/near/391429
https://chat.zulip.org/#narrow/stream/development.20help/subject/Help.20in.20setting.20up.20dev.20env/near/396270

The errors (found in `vagrant.log`) looked like
[code]

which looks

[2017-12-19 12:21] AasthaGupta opened #7839 "No tooltip text for edit icon"
There is no tooltip text for edit icon in message view like there are for other icons.
![screenshot from 2017-12-19 17-42-58](https://user-images.githubusercontent.com/15193262/34156874-2419ae60-e4e5-11e7-8cdf-362e0b8f4d3c.png)

[2017-12-19 12:22] AasthaGupta commented on #7839
@zulipbot claim

[2017-12-19 12:53] utkarsh23 commented on #7625
yes waiting for further discussion and review

[2017-12-19 13:13] mahimg commented on #6635
@Konigari I can take this issue if you have abandoned working on it.

[2017-12-19 15:08] rht commented on #7620
Possible related issue: https://github.com/Khan/KaTeX/issues/978.

[2017-12-19 15:16] nkmishra1997 commented on #7626
I think this issue is resolved @rishig @ihsavru ?

[2017-12-19 17:14] #7839 closed

[2017-12-19 17:15] synicalsyntax commented on #7839
@AasthaGupta This is a duplicate of #7745, and there is already a PR open for that issue to close it. You should probably close your PR as well.

[2017-12-19 21:10] rishig commented on #7838
@umairwaheed, would you be up for checking this out?

[2017-12-19 23:18] neiljp commented on #7835
@zulipbot claim

[2017-12-20 00:15] gnprice commented on #6534
Reopening because I'm reluctant to deploy #6591 on zulipchat.com, and I'm holding off from doing so as I go to deploy the rest of the changes in master. I'm concerned about a few cases here:
* There are streams people actively use with the `#` character in them. What happens when this migration runs, and their windows are still open?
* Some of those streams are in Zephyr-mirror realms. Will those

[2017-12-20 00:56] XavierCooney opened #7843 "Combining diacritical marks overflow into other messages"
I wrote a script to write some combining diacritical marks into a file:
[code]
Run this and open `combining_diacrtical_out.txt`. If you copy that into a message and then send that message, the combining diacritical marks will overflow out of the message box, obscuring other messages. I think the solution to this would be to set `overflow: hidden` in the css for for the `message_content` class.

![

[2017-12-20 03:06] synicalsyntax opened #7844 "dark mode: Alert words are unreadable"
![screenshot at dec 19 19-05-09](https://user-images.githubusercontent.com/15116870/34189279-9925accc-e4ef-11e7-9c49-0c924899d018.png)

Not enough contrast between the foreground and background colors makes the text unreadable.

[2017-12-20 04:53] umairwaheed commented on #7838
Hmm, this would require a Ubuntu host. I currently don't have access to that. It would be great if someone else can take this up. If it's urgent, I can come set up a temporary remote server to work on this.

[2017-12-20 09:47] pgadige commented on #1410
I'd like to work on this @zulipbot claim
I'd appreciate some help with below questions:
- how would we want the error message to be phrased? would it also mention the recommended fix that solves the issue, explicitly, suggesting user to do a `chown -R 1000:$(whoami) /path/to/zulip`?
- I suppose we should check the writability of `ZULIP_PATH`, i.e,  `zulip` directory?

[2017-12-20 12:13] showell commented on #3530
FYI the function for whether we echo is now  called `markdown.contains_backend_only_syntax()`.

[2017-12-20 12:20] fossbalaji commented on #7743
I would like to work on this bug. Could anyone explain about this bug?

[2017-12-20 12:26] fossbalaji commented on #4676
I would like to work on this bug. Could you assign this to me?

[2017-12-20 12:28] fossbalaji commented on #7743
@zulipbot claim

[2017-12-20 12:32] fossbalaji commented on #4676
@zulipbot  claim

[2017-12-20 12:50] #6928 closed

[2017-12-20 14:28] sarvesh211999 commented on #6126
@zulipbot abandon

[2017-12-20 17:15] Balaji2198 commented on #3781
@showell  can you please clarify this?

[2017-12-20 22:55] showell commented on #7617
@rishig Does it make sense to split out the "emoji" piece of this to another ticket?  It's not entirely clear to me why emojis should have a "waiting period," and if they do need a waiting period, it's not entirely clear to me it should be tied to stream settings specifically.  It should probably just be independent or rolled into a more generic "newbie for X days" setting.

[2017-12-20 23:39] skapil commented on #7664
@rishig should we close this ticket as it's been merged!!

[2017-12-20 23:45] rishig commented on #7664
Thanks for the heads up!
@skapil for future, you can add "Fixes #XXXX" to the commit that fixes the issue, and it will automatically close the issue :).

[2017-12-20 23:45] #7664 closed

[2017-12-21 02:09] #7835 closed

[2017-12-21 02:47] Kiy4h opened #7852 "Switching from one stream to another freezes"
Changing from one stream to the other one at https://chat.zulip.org took about 10 seconds.
![change_stream](https://user-images.githubusercontent.com/34406802/34234465-e63b288c-e61d-11e7-8cc3-7d5046161943.gif)
My computer's CPU is below 50%, which I find it normal. Here is a screenshot of the performance tab of the chrome developers tools:
![image](https://user-images.githubusercontent.com/3440680

[2017-12-21 02:50] #7563 closed

[2017-12-21 03:29] gnprice commented on #7748
The big first step is done now, with #7762!

I also have CircleCI running now on this repo, at https://circleci.com/gh/zulip/zulip . Not sure it will show status on PRs, and not immediately sure how to configure that -- can follow up on that later if it doesn't seem to be happening.

Frontend is very close, with what was the last commit of #7762 -- probably just needs a small update.

The next big

[2017-12-21 03:33] gnprice commented on #7748
Also, I added a step above about parallelization.

I think the right strategy is probably to barrel forward on getting everything working first, then worry about that.

But one key tactic I'd recommend is: when working on getting the remaining suites passing, put them first in the configuration, or maybe even just comment out the already-working suites. No sense waiting for stuff to finish that we

[2017-12-21 03:36] #7460 closed

[2017-12-21 11:26] showell opened #7854 "Investigate left sidebar scrolling."
This is a task for somebody who has some understanding of how our left sidebar scrolls.

Recently we've gotten reports that the left sidebar is laggy when you scroll through it, and it also appears that we don't properly keep the selected stream in view any more.

The best way to track this down may be to:

* create lots of streams with populate_db
* go back maybe 500 commits and see if the behavi

[2017-12-21 11:54] XavierCooney commented on #7843
@zulipbot claim

[2017-12-21 12:00] dgarvit commented on #7740
Yeah it works with slack. But one thing i noticed with slack is that, it works the same way even with ascii characters. Have a look.
![image](https://user-images.githubusercontent.com/24482726/34255003-9ccfe064-e674-11e7-8e3f-a9724c935ffb.png)

Do we want the same?

[2017-12-21 12:06] showell commented on #7240
Note that there is a Django function called `force_bytes`, not to be confused with Zulip's own `force_bytes`.  We don't need to sweep the Django functions for this issue.

[2017-12-21 13:46] hackerkid commented on #7843
@zulipbot "GCI task"

[2017-12-21 13:47] hackerkid commented on #7843
@zulipbot label "GCI task"

[2017-12-21 17:50] Balaji2198 commented on #3781
Thanks for the clear information. Yeah, As you said we have to first clean up the streams UI and come back to this later.

[2017-12-21 22:23] skunkmb opened #7858 "Create a setting for disabling bankruptcy."
<img width="600" alt="bankruptcy example" src="https://user-images.githubusercontent.com/17259768/34277236-bd4cab26-e659-11e7-8ce6-f1057a1b24bf.png">

Getting "bankrupted" is very helpful, but some users might want to be able to disable it if they find it unnecessary or unhelpful with their workflow. There could be an setting, maybe in the `notifications` section, called `Disable bankruptcy` that

[2017-12-22 00:11] rishig commented on #7858
Thanks for the suggestion @skunkmb! I think the first step here is probably to fix the bankruptcy experience, and then see how people feel about it. #4120 would be a great issue to work on (assuming it's doable, I haven't read the issue thread in a while).

[2017-12-22 00:26] skunkmb commented on #7858
@rishig OK, I'll start working on #4120. Thanks!

[2017-12-22 00:26] #7858 closed

[2017-12-22 00:28] skunkmb commented on #4120
@zulipbot claim

[2017-12-22 04:49] rht commented on #7748
I'm not sure why it hasn't already happened in zulip/zulip; I tried configuring circleci on my branch and the commit status / PR status showed up just fine: https://github.com/rht/zulip/pull/8.

https://circleci.com/docs/2.0/gh-bb-integration/ states

On another note, did my eyes observe it properly that the backend test took at least 11 minutes? (See https://circleci.com/gh/zulip/zulip/4.)
Was a

[2017-12-22 04:56] hackerkid commented on #4120
@zulipbot label "GCI task"

[2017-12-22 05:09] rht commented on #7748
If the build time on CircleCI turned out to be almost the same as the build time on Travis, what would be the remaining advantage? Travis indirectly supports Xenial via custom Docker image.

An overall speedup is still possible though if both are used, CircleCI for backend tests (3.4, 3.5, and maybe 3.6), Travis for the rest (prod 3.4, prod 3.5, frontend 3.4, frontend 3.5) so that all 6 tests are

[2017-12-22 06:09] rht commented on #7748
Update: it showed up for the first time at https://github.com/zulip/zulip/pull/7861.

[2017-12-22 06:36] rishig opened #7862 "emoji: Consider using a sprite sheet with more pixels but fewer colors."
Discussion in https://chat.zulip.org/#narrow/stream/design/topic/emoji.20rendering.
@HarshitOnGitHub fyi.

[2017-12-22 10:59] tulikavijay commented on #7076
Sure go ahead.

[2017-12-22 13:13] YJDave commented on #7617
Waiting period is only apply to stream creation. It doesn't apply to "emoji" section.

[2017-12-22 13:57] #5951 closed

[2017-12-22 14:01] showell commented on #3781
@rishig FYI, see my previous comment--I still think this is a good issue to address, but I don't have a super clear vision for how to do this, and it might be easiest if you/Brock come up with a solution.  Basically, it is now **possible** to find stream subscribers, but it's not discoverable, and even if you know to use "Manage streams," it's very cluttered if you're simply interested in seeing w

[2017-12-22 14:20] showell commented on #7617
@YJDave Yep, but I'm still confused by that statement "Link the first and second settings together".  @rishig It might make sense to make two fresh tickets here, so that we don't conflate the streams piece here with the emoji piece.  If the emoji change here is really simple it would also be nice to make a PR first for that, so we can merge that easily, and then focus on the harder stream piece la

[2017-12-22 15:36] #5672 closed

[2017-12-22 15:40] #7402 closed

[2017-12-22 15:55] showell commented on #7539
The current version mostly works, but the preview case seems broken (albeit in a mostly harmless way).

[2017-12-22 15:58] showell commented on #7539
actually, I'm having trouble repro'ing this now so closing again

[2017-12-22 15:58] #7539 closed

[2017-12-22 16:56] showell opened #7868 "tests: Fix "nocoverage" directives in `zerver/logging_handlers.py` (hard)"
If you want to work on this issue, you'll need a good understanding of mocking and our deployment process.

We have some "nocoverage" directives on code that is hard to test in `logging_handlers.py`.  We should remove the directives and add tests that exercise the code in question.

@gnprice may want to look at this.

[2017-12-22 20:39] rishig commented on #3781
yeah, I think this is an important issue, but will take some significant design work. One idea would be to have a tab on the right sidebar that gives the option of showing just the subscribers to the stream.
Removing the help wanted tags for now, until we have a clearer idea for it.

[2017-12-22 20:42] rishig commented on #7617
To clarify, the first setting is:
![image](https://user-images.githubusercontent.com/890911/34311925-6d9a9932-e715-11e7-9698-e3c15c19b53c.png)

The second setting is:
![image](https://user-images.githubusercontent.com/890911/34311935-79c2309e-e715-11e7-99b2-a7653d97c87d.png)

There is no longer anything that needs to be done with the third, emoji-related setting.

[2017-12-22 20:49] #4291 closed

[2017-12-22 21:08] pooja3 commented on #5242
I have created a pull request. Please merge it.

https://github.com/zulip/zulip/pull/7871/commits/2ff0c0a70edcb39fbac9ad6a3d0234da367fb194

[2017-12-23 01:09] rishig commented on #7854
See also #7852 for a good animation of it.

[2017-12-23 01:14] rishig commented on #7824
Possibly on mobile web this can just be an icon? On mobile tapping the message to reply seems pretty natural/discoverable, though.

[2017-12-23 01:16] showell commented on #7824
On iPhone for whatever reason it's hard to reply with tapping.

[2017-12-23 01:23] rishig commented on #7759
Looks like this was resolved in #7765.

[2017-12-23 01:23] #7759 closed

[2017-12-23 01:26] rishig commented on #7661
Closing due to inactivity, but @CSC510Zacky please reach out on chat.zulip.org when you see this!

[2017-12-23 01:26] #7661 closed

[2017-12-23 04:03] ItsMeWithTheFace commented on #3358
If no one's working on this, I'd be happy to start

[2017-12-23 04:03] ItsMeWithTheFace commented on #3358
@zulipbot claim

[2017-12-23 04:18] rishig commented on #7622
Hi @starlord1311! Thanks for taking this up. It is a bit of a tricky issue, so I'd recommend setting up a development environment and going through the exercises at https://github.com/zulip/zulip-gci/blob/master/tasks/2017/git-comfortable.md (don't worry about taking screenshots or submitting anything) first. I'll unassign you for now, but post in "#new members" when you've done those things and w

[2017-12-23 04:28] rishig commented on #7622
Quick notes:
* http://localhost:9991/#settings/display-settings is a good one to start
* For settings where we need to reload, adding text like "Reload window for setting to take effect" where reload is a link that reloads the page might also be good.
* If you need to restyle the headings (or anything else) to make this work that's also fine

[2017-12-23 11:35] pradeepgangwar commented on #457
@zulipbot abandon . I think this is fixed. But one can check and work if i missed anything.

[2017-12-23 12:36] showell commented on #7824
P.S. I agree with @rishig here that for certain size windows we should switch to an icon.

[2017-12-23 13:11] utkarsh23 commented on #5273
@zulipbot claim

[2017-12-23 15:51] shubhamdhama commented on #5956
@zulipbot claim

[2017-12-23 20:48] rishig opened #7882 "settings: Remove title strings on organization settings."
Follow-up to #7642.

I did a sweep of the title strings in http://localhost:9991/#organization/organization-settings and http://localhost:9991/#organization/organization-permissions, and think they can be removed.

After #7642, the only title text that carries information will be the one for "Users can delete their messages". That one should be replaced with a tooltip (the things with the question

[2017-12-23 21:02] alenavolk commented on #6776
@zulipbot claim

[2017-12-24 01:13] anukul commented on #7882
Hi, can I work on this?

[2017-12-24 05:17] rishig commented on #7838
No worries, thanks for looking into it!

[2017-12-24 05:54] rishig opened #7884 "portico: Rename Sign in to Log in."
We currently use both Log in and Sign in for this action. Choosing either would be better than having a mix:
![image](https://user-images.githubusercontent.com/890911/34324539-5221cdc6-e82b-11e7-91f5-c86350a007c5.png)

Let's go with Log in.
@gooca, would this be up your alley?

[2017-12-24 05:55] rishig commented on #5714
Sorry for the delay, this is indeed resolved. Thanks for investigating @Balaji2198! Closing.

[2017-12-24 05:55] #5714 closed

[2017-12-24 06:14] rishig opened #7885 "activity: Add a link to copy list of realm admins."
It is useful to be able to get the email addresses of realm admins from the /activity page.
It would be great to add a column between "Created" and "DAU" whose title is an envelope (like `icon
vector-envelope`), and where the entry for every row is an envelope you can click on.

![image](https://user-images.githubusercontent.com/890911/34324597-a92e27fc-e82d-11e7-9b82-010ec52d3035.png)

When you c

[2017-12-24 06:41] YJDave commented on #7882
@zulipbot claim

[2017-12-24 06:53] PentaHiggs commented on #7537
@zulipbot claim

[2017-12-24 14:02] rheaparekh commented on #7562
@zulipbot claim

[2017-12-24 18:05] RCSM commented on #2807
Still working on it

[2017-12-24 19:02] dgarvit commented on #7711
@zulipbot abandon

[2017-12-24 19:26] mahimg commented on #7552
@zulipbot claim

[2017-12-24 20:11] skapil commented on #7885
@zulipbot claim

[2017-12-24 20:33] rishig commented on #585
Adding @adnrs96, who is working on this.

[2017-12-25 00:18] thejwzhang commented on #7884
The mobile app (and Electron) also uses "Sign in" terminology, so should I create an issue in those repositories as well?

[2017-12-25 03:38] rishig commented on #7884
good catch! yes, and also "Register" -> "Sign up", if they are using Register terminology.

[2017-12-25 04:28] VishalCR7 commented on #7884
@zulipbot claim

[2017-12-25 05:24] umairwaheed commented on #7838
I have some time now; looking into this.

[2017-12-25 06:08] VishalCR7 commented on #7884
@rishig  I have included the required changes in my previous PR #7684.

[2017-12-25 06:34] rishig commented on #7838
great, thanks!

[2017-12-25 06:43] Rishabh570 commented on #6802
I'm done working on it...PR is #7245

[2017-12-25 07:33] Rishabh570 commented on #7330
So basically we need to find a solution easy to implement (better if it doesn't redirect us anywhere)..What if the service (voice and video chat) is not free...do we need to find among free ones..?

[2017-12-25 07:59] rishig opened #7889 "org settings: Change org permissions to be dropdowns or radio buttons."
I've been trying to clean up the org settings a bit, and two observations.

The first is that a number of org permissions are better expressed as dropdowns, radio buttons, or with a bit of explanation text.

Some examples:
* "Prevent users from creating streams" + "Waiting period threshold" is better presented as "Who can create streams", with options of "Everyone", "Users at least [3] days old",

[2017-12-25 08:03] rishig commented on #7330
@HarshitOnGitHub has a solution, and will be implementing it. We're just going to implement the ringing internally, without using an external service.

[2017-12-25 08:26] Rishabh570 commented on #7303
@borisyankov where is the notification code stored in zulip codebase...Can you tell the directories which have impact...

[2017-12-25 16:46] kriti21 commented on #7330
@zulipbot abandon

[2017-12-25 19:16] Balaji2198 commented on #1561
@zulipbot  Already sent a PR, Waiting for Review.

[2017-12-25 19:16] Balaji2198 commented on #7634
@zulipbot  Already sent a PR for this.

[2017-12-25 19:20] borisyankov commented on #7303
@Rishabh570 I think you just need to replace this file:
https://github.com/zulip/zulip/blob/master/static/audio/zulip.mp3

This file is used here:
https://github.com/zulip/zulip/blob/9cc561e442fe441ba8a775e444a1399010cc03ab/static/js/notifications.js#L96

[2017-12-25 19:58] shubhamdhama commented on #3790
@zulipbot claim

[2017-12-25 20:06] alenavolk commented on #6776
Unfortunately, I can't find a way to reproduce this error.

When I break one of the imports in `test_audit_log.py` as it was described above, and run `./tools/test-backend test_audit_log` I get:
[code]
which is a pretty descriptive error message in my opinion.

When I run the whole test suite I get:
[code]
which is kind of confusing (actually very confusing, I would never guess what the problem wa

[2017-12-25 20:53] akashnimare commented on #6776
@alenavolk getting similar errors -
[code]

[2017-12-25 20:56] alenavolk commented on #6776
@akashnimare Thanks for checking!

[2017-12-25 21:15] RCSM commented on #6512
@zulipbot abandon

[2017-12-26 00:38] MadElf1337 opened #7896 "[BUG] Stream Side-Menu closes itself while typing in the search box(Mobile Web)."
_From @MadElf1337 on December 25, 2017 12:38_

* Whenever a person tries to search for a stream in the search box provided in the streams' side menu in
   mobile version of chat.zulip.org, the menu closes itself.

## Instructions For Reproduction:-
1. Go to https://chat.zulip.org from the mobile browser.
2. Login with valid credentials.
3. Open the side-menu of streams.
4. Tap on the search box to

[2017-12-26 00:38] MadElf1337 commented on #7896
_From @tommyip on December 25, 2017 16:50_

Hey @MadElf1337 this repo is for the react native app. What you are showing is the webapp in a mobile browser, can you move this to the zulip/zulip repo?

[2017-12-26 00:40] VishalCR7 commented on #6329
I'm  waiting for @brockwhittaker to review it.

[2017-12-26 01:23] thejwzhang commented on #7405
@zulipbot claim

[2017-12-26 01:25] lonerz commented on #7405
@thejwzhang this feature isn't really a "feature" yet. But you can push out a WIP PR :)

[2017-12-26 03:28] ritik99 commented on #5903
@zulipbot claim

[2017-12-26 04:34] umairwaheed commented on #1760
Waiting for a review.

[2017-12-26 04:34] umairwaheed commented on #5677
Waiting for a review.

[2017-12-26 04:34] umairwaheed commented on #7660
Waiting for a review.

[2017-12-26 05:00] YJDave commented on #7889
@zulipbot claim

[2017-12-26 05:04] Rishabh570 commented on #7303
@zulipbot claim

[2017-12-26 05:34] YJDave commented on #7882
@rishig want to know your opinion on this. I added `?` sign with label setting `User can delete their message`. And tooltip in it `Administrators can always delete any message.`

![tooltipinsetting](https://user-images.githubusercontent.com/25907420/34347735-ac1ea824-ea2b-11e7-8eb1-5012d448c749.gif)

I don't understand when you say remove title from settings and add tooltip.
If we will remove the

[2017-12-26 05:36] Rishabh570 commented on #5868
@zulipbot claim

[2017-12-26 05:56] Rishabh570 commented on #5868
@geekdave As for implementing 1st part, i guess the fixtures we need for incoming webhook should be extracted from this page : https://doers.statuspage.io/ as they have api endpoints for incidents, subscribers, metrics, users etc.. am i thinking it right..???

[2017-12-26 06:20] hackerkid commented on #3058
Waiting for a review

[2017-12-26 06:36] Anupam-dagar commented on #7549
@zulipbot yes, I am working on the issue

[2017-12-26 07:13] Rishabh570 commented on #5868
Okay as i took a deep look inside statuspage i came to know that statuspage sends notifications to its subscribers via webhook only in two scenarios :
1. Incident creation & updation and
2. Component's status update .
So basically we need to handle these two cases only...

[2017-12-26 07:24] thejwzhang commented on #3357
Completed here: https://github.com/zulip/zulip/pull/7897

[2017-12-26 08:07] umairwaheed commented on #7838
@zulipbot claim.

[2017-12-26 10:48] rht commented on #7838
Linking the relevant issue: https://github.com/fgrehm/vagrant-lxc/issues/445.

[2017-12-26 11:24] XavierCooney opened #7902 "Allow the cancellation of unsent messages"
Currently if a message is sent by the client but the server has not received it there is no way to 'cancel' the message. This would be a useful feature for people who's internet is not reliable, because if someone's internet drops out just before they send a message, by the time their internet is back up the message they send will be redundant and out of context.

I could imagine it looking someth

[2017-12-26 11:26] XavierCooney commented on #7902
@zulipbot claim

[2017-12-26 11:41] YJDave commented on #7711
@zulipbot claim

[2017-12-26 12:09] Rishabh570 commented on #5868
@timabbott @geekdave here is the test output
![2017-12-26](https://user-images.githubusercontent.com/25483260/34356402-5cfbc9d8-ea63-11e7-9e2f-29f694c414fc.png)

Uppermost output is when an incident is created, middle one when that incident is updated and bottom most output when a component's state gets changed...

Is it okay ...am i missing something.

[2017-12-26 12:52] hackerkid commented on #7194
Waiting for review.

[2017-12-26 14:02] #6248 closed

[2017-12-26 14:07] alirizwi commented on #7814
@zulipbot claim

[2017-12-26 15:17] florianjuengermann commented on #5920
I have received feedback and will implement the suggested changes.

[2017-12-26 16:16] synicalsyntax commented on #7896
I can't reproduce. Can you provide a more detailed description or point out what I didn't do in order to reach where you encountered the bug?

[![https://gyazo.com/40dc4b7db72a5d346ca22ce126b307ae](https://i.gyazo.com/40dc4b7db72a5d346ca22ce126b307ae.gif)](https://gyazo.com/40dc4b7db72a5d346ca22ce126b307ae)

Note: what's shown above is the intended behavior, if you were trying to search in the sea

[2017-12-26 16:44] MadElf1337 commented on #7896
@synicalsyntax Well, it is still happening to me and also happened to Tommy Ip, as he said that he can reproduce
What browser are you using?

[2017-12-26 17:00] synicalsyntax commented on #7896
@MadElf1337 Did you take the exact steps shown in the GIF? I tested through mobile view (developer tools) on Chrome & Firefox Mac OS X, and Safari iOS for actual mobile testing.

[2017-12-26 17:02] MadElf1337 commented on #7896
Yeah..I took them exactly like that

[2017-12-26 17:03] MadElf1337 commented on #7896
Well, it may not work like that on mobile view, try it on an actual android phone

[2017-12-26 17:13] synicalsyntax commented on #7896
@tommyip Are you on Android? If so this may just be an Android problem.

[2017-12-26 17:13] tommyip commented on #7896
@synicalsyntax it's either an Android/Chrome issue, or a performance issue. I can reproduce it semi-reliably in Android 8.1. Sometimes the sidebar just collapse instantly, or the search box appear but then the sidebar closes after a second.

[2017-12-26 17:23] synicalsyntax commented on #7896
Yeah, likely an Android only issue then, since I can't reproduce on iOS/Safari. Pinging @brockwhittaker to see what's up.

[2017-12-26 18:37] rishig commented on #7882
Great! I just realized, we should use the "i in a circle" for information rather than the "? in a circle".

And yup, now that this is done we can remove all the "If checked, users can .." text from all the settings. We do not need to add these `?` or `i` for any of the rest.

[2017-12-26 22:11] ghost opened #7906 "compose: Consider moving the window enlarger icon to the upper right."
Shouldnt when you drag the arrow towards up the window, to grow upwards until a maximum height? This doesnt happen and you need to drag it down a little by a little until you have the max size window.

![screenshot-from-2017-12-26-23-18-32](https://user-images.githubusercontent.com/10695841/34365570-741bbf38-ea9a-11e7-84e5-a8614dce34cc.png)

[2017-12-27 01:37] rishig opened #7907 "portico: Back button on some portico pages doesn't work in firefox."
https://chat.zulip.org/#narrow/stream/issues/topic/zulipchat.2Ecom

When I visit zulipchat.com and click on "See plans and pricing!", and then hit the back button, the page content just disappears. Same if I click one of the buttons on /plans/ and hit back. (FF 57)

(you can get to this in dev by going to localhost:9991/hello).

[2017-12-27 03:29] rishig opened #7908 "org settings: Add setting to prevent users from adding bots."
This is a setting that will be important for larger / open orgs.
When this setting is on:
* You shouldn't be able to access your API key from #settings/your-account (it should just not show that section)
* "Your bots" should have "Only admins can create bots in this organization" as the tip, and no "Add a new bot" tab
* The org bots section should have a notice similar to the Custom emoji section

[2017-12-27 03:33] XavierCooney commented on #7907
@zulipbot claim

[2017-12-27 03:39] rishig opened #7909 "left sidebar: Clicking on a stream should clear the stream search."
If you type "gen" and then click on #general, it should clear the stream search bar and collapse it.

[2017-12-27 03:49] XavierCooney commented on #7907
I can reproduce this issue on Firefox 52 zulipchat.com, but not on same Firefox on dev at localhost:9991/hello. Perhaps this issue has been fixed already, but that fix hasn't arrived at zulipchat.com yet?

[2017-12-27 04:02] rishig opened #7910 "production: Add instructions on how to restart server to /etc/zulip/settings.py."
I think it would be helpful for /etc/zulip/settings.py to include instructions for how to restart the server after changing settings (sudo zulip -c ../restart-server), or possibly a link to http://zulip.readthedocs.io/en/latest/production/customize.html.

[2017-12-27 04:36] geekdave commented on #5868
I'm no longer actively using Zulip, so I won't be in a position to test this feature.  But the above output looks like exactly what I had in mind earlier this year!  Thanks!

[2017-12-27 05:02] rishig commented on #7606
Closed in #7656. Thanks @synicalsyntax for noticing the open issue :).

[2017-12-27 05:02] #7606 closed

[2017-12-27 05:20] Redarcher9 commented on #7909
hey can I take up this issue?

[2017-12-27 05:22] rishig commented on #7909
yup, go for it!

[2017-12-27 07:34] rishig commented on #7889
Maybe let's explore the possibility of a dropdown with the options:
Admins only
Everyone
Users at least 3 days old
Users at least [custom time] old

and then if you choose the last one, it shows "Custom time: [3 days :pencil2:]" to the right of the dropdown, and you can edit the custom time.

So the full thing will look like
[code]

or
[code]

Does that make sense?
It will require a complicated tr

[2017-12-27 10:02] YJDave commented on #6845
@zulipbot claim

[2017-12-27 10:16] shubhamdhama commented on #7909
@Redarcher9 , if you are working on this issue please comment `@zulipbot claim`

[2017-12-27 10:17] Redarcher9 commented on #7909
@zulipbot claim

[2017-12-27 10:42] shubhamdhama commented on #7908
@zulipbot claim , since I've worked on a similar issue, I would like to work on this.( Though this is a bigger project)

[2017-12-27 11:21] YJDave commented on #7882
@rishig Done!

[2017-12-27 17:16] ritik99 commented on #5903
@zulipbot abandon

[2017-12-27 17:51] synicalsyntax opened #7916 "user docs: Lack of support for external URLs"
The Existing integrations link at https://chat.zulip.org/api/ links to https://chat.zulip.org/integrations. However, clicking on the link doesn't immediately move the page, and the following error is thrown in the console:

![screenshot at dec 27 09-49-12](https://user-images.githubusercontent.com/15116870/34388895-3d70c6e4-eaeb-11e7-93dc-b1c254735c18.png)

Support for external URLs needs to be ad

[2017-12-27 19:35] rishig commented on #7908
Great, thanks!

[2017-12-27 20:15] #7053 closed

[2017-12-28 05:31] aero31aero commented on #6605
Working on this. Just returned from vacations and restarted work.

[2017-12-28 06:32] aero31aero commented on #7626
This looks completed but pending merge. The holiday season does slow things down a lot :snowflake:

[2017-12-28 07:15] umairwaheed commented on #7838
Current workaround:
1. Do `vagrant up` and let the command fail.
2. Open '~/.vagrant.d/boxes/fgrehm-VAGRANTSLASH-trusty64-lxc/1.2.0/lxc/lxc-config' and comment out `lxc.pivotdir = lxc_putold`.
3. Do `vagrant up` again.

[2017-12-28 07:40] hackerkid commented on #7902
@XavierCooney Cool. As a first step ti implement this lets not show the timestamp after the message is sent. Instead of the timestamp we can show `Sending ...` (with half opacity after 2 seconds). Once the message is received this can be replaced with timestamp. Does that makes sense?

[2017-12-28 09:48] craftbyte commented on #716
Another thing we should consider is metadata generation since some users could not have experience of setting up their IDP manually (I know that simpleSAMLphp is particularly weird about it)

[2017-12-28 13:18] showell opened #7921 "difficult: Clean up missed message hook for bots/API case"
@timabbott @rishig @gnprice

Right before xmas, we made a quick fix to prevent tracebacks for programs that were subscribed to all streams.  Somebody was running Hubot, which subscribes to all streams.  The current code was setting `flags` to None, and this caused a traceback.  Since the setting of `flags` to `None` was equivalent to knowing that a bot had subscribed to all streams, we short circu

[2017-12-28 16:32] Balaji2198 commented on #7622
@zulipbot  claim. I am working on this issue. Forgot to claim. :)

[2017-12-28 18:38] Rishabh570 commented on #2755
@timabbott where does missed-message reply-to code lives...i guess increasing the expiry (to say 14 days) would be good (as replying to mail after that conversation is over will be of no use). Can i take this ?

[2017-12-28 19:02] jainkuniya opened #7925 "/features page: Make it mobile responsive."
Current layout on 5.5 inch mobile screen.
![3003392414096748236](https://user-images.githubusercontent.com/18511177/34420434-8cf7d8c0-ec2f-11e7-80d7-f4c96fc8bc04.jpg)
![4921402093258601817](https://user-images.githubusercontent.com/18511177/34420435-8d45bb80-ec2f-11e7-891f-fa9dd650532f.jpg)
![5017062135705131892](https://user-images.githubusercontent.com/18511177/34420436-8d945196-ec2f-11e7-8104-a

[2017-12-28 20:59] #7596 closed

[2017-12-28 22:24] nkmishra1997 commented on #4612
@zulipbot claim

[2017-12-29 01:09] thejwzhang commented on #7910
@zulipbot claim

[2017-12-29 01:18] thejwzhang commented on #7910
@rishig Please review. I think this is what you were referring to, but please correct me if I'm wrong.

[2017-12-29 01:26] thejwzhang opened #7928 "emoji: Automatically convert text to emoji"
Convert `:)` to the simple smile emoji and `;)` to the wink emoji. Feel free to suggest more if there are any commonly used ones.

[2017-12-29 01:28] thejwzhang commented on #7928
@zulipbot claim

[2017-12-29 01:33] synicalsyntax commented on #7928
Duplicate of #1768?

[2017-12-29 01:47] thejwzhang commented on #1768
@zulipbot claim

[2017-12-29 05:19] thejwzhang opened #7929 "settings: Create consistent wording"
Currently, each setting toggle has its own wording.

For example, enabling/disabling High contrast mode causes a banner saying `High contrast mode Enabled!` (with the capitalized E in enabled, same with disabled), while the experimental night mode says `Night mode enabled!` (with the e lowercase).

In the notifications tab, enabling visual/audible notifications gets you `Enabled: Visual desktop no

[2017-12-29 05:22] thejwzhang commented on #7929
@zulipbot claim

[2017-12-29 05:58] ihsavru commented on #7925
@zulipbot claim

[2017-12-29 07:07] #7929 closed

[2017-12-29 13:45] #7395 closed

[2017-12-29 14:05] akashnimare opened #7935 "/integrations-page: Add a request a new integration link."
It would be great if we can have following option at the bottom of the page -
<img width="700" alt="screen shot 2017-12-29 at 6 49 51 pm" src="https://user-images.githubusercontent.com/2263909/34438810-5a95702c-eccf-11e7-8f79-99fe027954f3.png">

[2017-12-29 15:32] Be-ing opened #7937 "option for notification numbers in titlebar to only show active stream or topic"
It would be nice if there was an option to have the number indicating unread messages in the titlebar show unread messages for either all subscribed streams, only the active stream, or only the active topic.

[2017-12-29 16:30] Rishabh570 commented on #7177
@adambirds where is the markdown code situated...???

[2017-12-29 20:22] thejwzhang commented on #7089
@zulipbot claim

[2017-12-29 22:46] thejwzhang commented on #7089
@zulipbot abandon

[2017-12-29 22:47] alenavolk commented on #7066
@zulipbot I'm still working on this.

[2017-12-30 00:00] thejwzhang commented on #7345
@zulipbot claim

[2017-12-30 04:50] thejwzhang opened #7948 "user docs: Clarify some items"
I've noticed a few broken links or inconsistencies in the docs, leading to some possibly unclear parts of the documentation.

- [ ] https://chat.zulip.org/help/getting-started-with-zulip. At the bottom of this page (under `Next Steps`), the **"Add an avatar"** and **"Configure your notifications"** links link directly to the settings, unlike many of the other links in the documentation, which link

[2017-12-30 04:51] thejwzhang commented on #7948
@zulipbot label "area: documentation (user)"

[2017-12-30 04:52] thejwzhang commented on #7948
@zulipbot label "enhancement"

[2017-12-30 05:08] synicalsyntax commented on #7948
This is pretty the same as #6883 (updating outdated docs), and should be done probably after the GCI students do more QA on the docs. Either this issue or #6883 should be closed in favor of the other, and the problems found can be moved to the other issue.

[2017-12-30 06:30] thejwzhang commented on #6883
I've noticed a few broken links or inconsistencies in the docs, leading to some possibly unclear parts of the documentation.

- [ ] https://chat.zulip.org/help/getting-started-with-zulip. At the bottom of this page (under `Next Steps`), the **"Add an avatar"** and **"Configure your notifications"** links link directly to the settings, unlike many of the other links in the documentation, which link

[2017-12-30 06:30] #7948 closed

[2017-12-30 06:33] synicalsyntax commented on #6883
@rishig You told me that you had a different contributor in mind for taking up this task, so you should probably assign this to that individual before this issue gets claimed by someone else.

[2017-12-30 13:05] Balaji2198 commented on #3917
@hackerkid  @rishig  I would like to work on this. Few clarifications,
* In gear menu is it placed next to Statistics?
* Where this setting should go? In `Organization profile` or in `Organization settings`?

[2017-12-30 13:18] Rishabh570 commented on #1515
@zulipbot claim

[2017-12-30 15:01] hackerkid commented on #3917
@Balaji2198 I think it can go before logout. But that is something we can finalise later. I think an ideal place for this would be after Organisation description in Organisation profile. Make sure that you start with Part 2 instead of part 1 :)

[2017-12-30 16:00] #7745 closed

[2017-12-30 16:05] #7796 closed

[2017-12-30 16:27] pgadige commented on #1410
following are findings so far,

- use effective UID of vagrant user to check if it's allowed to access `ZULIP_PATH` or `zulip` shared directory before creating other directories for log, upload, coverage etc

- use `os.access` to test permission

- the error message would explicitly mention the recommended fix, suggesting user to do a `chown -R 1000:$(whoami) /path/to/zulip`

- as I'm able to succ

[2017-12-30 16:32] vaidap commented on #6032
This could be implemented alongside #5606, which was blocked due to (old comment):

[2017-12-30 20:20] cPhost commented on #7906
The moving enlarger icon is rendered in by browser we can't change its position. Instead what we can do is add animation to make it transition better.

[2017-12-30 20:28] pulkonet opened #7955 "Welcome message containing irrelevant instructions for mobile apps"
![ss](https://user-images.githubusercontent.com/24983958/34457135-0399d1f0-edce-11e7-9882-4973e675386c.jpeg)

Issue is with the instructions it is showing as the instructions seem to be applicable to the  web not to the app (This was viewed on Android app still it was prompting to download the app).
Also, pressing '?' or 'r' on mobile devices doesn't make sense.

[2017-12-30 20:30] pulkonet commented on #7955
@zulipbot claim

[2017-12-30 22:04] synicalsyntax commented on #7955
@pulkonet If this is a mobile app issue, I think it's a better idea to open this in the zulip/zulip-mobile repository?

[2017-12-30 22:47] pulkonet commented on #7955
I guess you understood that it is not mobile app issue. Shall I start working on this? @synicalsyntax

[2017-12-30 23:01] synicalsyntax commented on #7955
No, I accidentally pressed the wrong button (Close issue instead of Comment). Your issue title makes it seem that this bug is limited to mobile apps only; if so, I'd repost this issue in zulip/zulip-mobile and close this one instead.

Do you have any ways to reproduce this issue on web or mobile?

[2017-12-30 23:07] pulkonet commented on #7955
Yes, you can actually create a new account to see the welcome message by
welcome bot. But without that I don't see any way to reproduce this.

On Dec 31, 2017 04:31, "Cynthia Lin" <notifications@github.com> wrote:

[2017-12-30 23:09] synicalsyntax commented on #7955
All new users are supposed to receive a new message from the Welcome Bot. Were you a returning user?

[2017-12-30 23:13] pulkonet commented on #7955
The issue is not with the message displaying by the Welcome Bot. Issue is with the content it is showing as the content seems to be for web not for app (This was viewed on Android app still it was prompting to download the app).
Also, pressing '?' or 'r' on mobile devices doesn't make sense.

[2017-12-30 23:16] synicalsyntax commented on #7955
Okay, so the issue isn't an welcome message inappropriately appearing in mobile apps, but the welcome message contains instructions that aren't applicable to mobile apps. Can you change your issue title and description to match that?

Pinging @rishig to review this also.

[2017-12-30 23:24] borisyankov commented on #6040
After spending some time figuring out how to implement this in the mobile app, it seems it is limited if implemented client-side.

We need the backend to:
 * not list the at-all in the Mentions narrow, if stream is muted
 * do the same for notifications

[2017-12-31 02:52] Balaji2198 commented on #3917
@zulipbot  claim

[2017-12-31 05:06] shreyanshdwivedi commented on #6040
@borisyankov my PR solves this issue in web-app. For mobile app, I think you must open a new issue and work on it.

[2017-12-31 05:56] borisyankov commented on #6040
My point is that it can be solved once, in the backend, and then no client needs to change.

[2017-12-31 12:19] rishig commented on #6040
Adding @showell (in particular, regarding the question of whether it makes sense to do this backend or frontend).

[2017-12-31 13:05] showell commented on #6040
Suppressing notifications is something that we should do on the backend.

I'm not sure what we would should do about the "Mentions" view here.  The "Mentions" view is just the query "is:mentioned", which, in my opinion, should include at-all mentions even for muted streams, since I don't want to miss out on important announcements.  If we want to change this, probably we should have the "Mentions"

[2017-12-31 13:08] #7916 closed

[2017-12-31 13:09] #3357 closed

[2017-12-31 17:23] skunkmb commented on #7854
@showell Can you please explain the command to create the streams with `populate_db`? I've looked at the list of commands:

[code]

and there doesn't seem to be a stream-related one. I also tried `--extra-streams` as a guess but it wasn't successful.

Thanks!

[2018-01-01 01:11] skunkmb commented on #7854
@zulipbot claim

[2018-01-01 02:14] JeryBeary commented on #1978
Hi, I am new to this project and open source in general. I have tried my hand at this issue and made my first pull request! @zulipbot claim

[2018-01-01 02:15] JeryBeary commented on #1978
@zulipbot claim

[2018-01-01 03:44] umairwaheed commented on #7838
Findings so far:
- lxc.pivotdir setting is deprecated in lxc 2.1.0.
- Ubuntu 17.10 installs lxc 2.1.0
- The lxc-config is copied from the vagrant-lxc box, and the config file contains deprecated settings. This file exists at '~/.vagrant.d/boxes/fgrehm-VAGRANTSLASH-trusty64-lxc/1.2.0/lxc/lxc-config'.

Possible resolutions:
- Find a way to use a custom config file.
- Find a way to upgrade the config

[2018-01-01 07:41] kriti21 commented on #7628
@zulipbot abandon

[2018-01-01 12:15] utkarsh23 commented on #7625
I've resolved the issue, just awaiting review now

[2018-01-01 12:50] utkarsh23 commented on #7076
@zulipbot claim

[2018-01-01 16:05] rwbarton opened #7963 "Frontend and backend disagree on rules for tex"
When I send a message containing `a$$b$$`, the sent message shows "a*b*" at first but quickly changes to "a$$b$$". I assume this is because the frontend allows the beginning of a tex block to immediately follow a letter while the backend does not. This inconsistency should be fixed, though I don't care strongly about which direction it gets fixed in.

(A more real-world example: One might write `C

[2018-01-01 16:20] rwbarton commented on #2004
FWIW, I am also having bugdown timeout issues when sending messages with many katex blocks (e.g. the abstract of https://arxiv.org/abs/1712.08010v1).

[2018-01-01 17:00] utkarsh23 commented on #7683
@zulipbot claim

[2018-01-01 17:36] AasthaGupta commented on #7091
@zulipbot claim

[2018-01-01 19:27] synicalsyntax commented on #6626
Duplicate of #2524.

[2018-01-01 19:27] #6626 closed

[2018-01-01 19:43] rryan commented on #6835
Can I tack on `:` and `/` to this issue? We'd like to linkify `lp/1234` or `lp:1234` to point to LaunchPad bug 1234.

[2018-01-01 19:45] rryan commented on #6835
(dupe of #4653?)

[2018-01-01 19:54] rryan opened #7965 "allow `+` in substitution URL for filters"
Launchpad URLs typically have a `+` in them, which means regex filters to auto-link references to LP bugs, blueprints, milestones, etc. are not possible with Zulip.

For example: https://bugs.launchpad.net/mixxx/+bug/1699689

I think we can easily add a plus to this regex:
https://github.com/zulip/zulip/blob/78f2df56492d076d644f1fbbabb777e13a97c5bd/zerver/models.py#L450

Does broadening the substi

[2018-01-01 20:18] Kumar-Tarun commented on #7963
I found one more issue. For example, if one types $$ab$$c, the sent message shows exactly what is typed and not "_ab_c". Also, this only occurs when the character just after the dollar sign are alphabets or digits, for other characters the formatting occurs properly. Further, the problem mentioned by @rwbarton  persists if dollar sign is preceded by alphabets or digits (for other characters, there

[2018-01-01 23:00] JeryBeary commented on #7098
@zulip claim

[2018-01-02 03:07] synicalsyntax commented on #7098
@JeryBeary The right command is `@zulipbot claim`, just so you know :)

[2018-01-02 06:06] fossbalaji commented on #4676
PR needs review https://github.com/zulip/zulip/pull/7922

[2018-01-02 15:36] #6845 closed

[2018-01-02 16:01] showell opened #7968 "manual testing: Make it easy to subscribe to many streams."
We should add an option like `extra-streams` to `populate_db.py` that makes it easy to create lots of streams for manual testing.  We should subscribe Cordelia/Hamlet/etc. to most of the streams.

[2018-01-02 16:02] showell commented on #7854
@skunkmb Sorry for providing you bad info--I guess populate_db doesn't have an option to create many streams.  I created #7968 to address that.

[2018-01-02 18:48] #5978 closed

[2018-01-02 20:27] #7406 closed

[2018-01-02 20:34] showell opened #7970 "i18n: Flag server-side model fields for translation."
This task requires a bit of knowledge about i18n, but it will be quick for the person with the correct knowledge.

We have text fields like the following in models.py:

[code]

We do **not** want these translated on the server side, so they are not enclosed in `_(...)`.  We instead want them sent over the wire in English, and then they should be translated on the client side according to the user'

[2018-01-02 21:00] Kumar-Tarun opened #7971 "Minor CSS defect in portico header"
I noticed a minor issue in the portico header of the [zulip website](https://zulipchat.com/).
The menu that appears on clicking the collapsed navbar on smaller screens has its 'cross' overlapping with the original button (you can see the cross a little smaller on the right hand side) due to which on clicking the 'cross', the menu does not close, instead one has to click somewhere to the top of it

[2018-01-02 21:41] showell commented on #7066
We will probably want to limit embedded bots eventually in a similar manner.

[2018-01-02 21:48] #7968 closed

[2018-01-02 22:45] Kumar-Tarun commented on #7971
@synicalsyntax if you don't mind can I address this issue, since I am new to open source and I have found the solution.

[2018-01-02 23:13] #7066 closed

[2018-01-02 23:14] synicalsyntax commented on #7971
Sorry @Kumar-Tarun, I already have a PR on the way for this issue, so it'd be best if you find a different issue to work on. Here's some [other great first issues](https://github.com/zulip/zulip/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee) you should check out to work on though!

[2018-01-03 03:31] JeryBeary commented on #7098
@synicalsyntax Thanks. How embarrassing haha.

[2018-01-03 03:36] JeryBeary commented on #7098
@zulipbot claim

[2018-01-03 07:13] rheaparekh commented on #7240
@zulipbot I am still working on this.

[2018-01-03 12:53] YJDave commented on #4647
@zulipbot claim

[2018-01-03 16:20] shubhamdhama commented on #5110
I was willing to work on this but seems it is implemented in #7213. @timabbott FYI

[2018-01-03 16:25] #7971 closed

[2018-01-03 16:31] VishalCR7 commented on #6018
Will try to finish it in this week

[2018-01-03 16:54] hrishi3108 commented on #7906
I tried reproducing this issue, but the behaviour I found was that trying to drag the arrow down smoothly enlarges the window, at a speed depending on how much lower I have the pointer.
Maybe it's fixed in the dev instances, or something done behind the scenes by Chome

[2018-01-03 18:19] shubhamdhama opened #7982 "settings: broken settings page on continous use of tab key."
![peek 2018-01-03 22-59](https://user-images.githubusercontent.com/22238472/34533528-9a0511d0-f0e0-11e7-8e84-913f81a20013.gif)
 Easy to reproduce, simply go to "Organization settings" and hit tab a couple times.

[2018-01-03 20:27] akaptur commented on #7158
I just hit this (or something similar) again:
![image](https://user-images.githubusercontent.com/1857780/34538478-5e644d58-f081-11e7-8d0f-212a9e23a335.png)

[2018-01-03 21:53] Tokixix commented on #7965
@zulipbot claim

[2018-01-04 02:00] csvoss commented on #7678
I've noticed now that this is working! Thanks for the shiny feature!

[2018-01-04 05:45] utkarsh23 commented on #7906
@zulipbot claim

[2018-01-04 09:25] alirizwi commented on #5145
@zulipbot claim

[2018-01-04 14:12] #7896 closed

[2018-01-04 14:45] Redarcher9 commented on #3916
this issue is irrelevant now because the users section is moved to right side now

[2018-01-04 14:49] showell commented on #3916
@Redarcher9 It's always been the case that most users have the buddy list in the right sidebar, but we still have a setting where you can display the user list in the left sidebar.  So I think this issue is still relevant to some folks.

[2018-01-04 16:35] #4647 closed

[2018-01-04 17:04] JeryBeary commented on #7078
@zulipbot claim

[2018-01-04 17:07] shubhamdhama commented on #7078
@JeryBeary Thanks for your interest in Zulip, but before you start working on this I want to remind that already a PR submitted.

[2018-01-04 17:13] JeryBeary commented on #7078
Sounds good. I'll keep that in mind.

[2018-01-04 17:59] hackerkid commented on #7748
@gnprice Starting on Python 3.5 tests :)

[2018-01-04 18:51] showell commented on #6040
I believe on chat we've decided to scale back V1 of this to what the title of the issue suggests--just stop notifications for at-all mentions.  (Removing at-all mentions from "Mentions" doesn't have 100% consensus as a desired change, plus the implementation approach is also not completely clear if we go forward.)

[2018-01-04 20:55] oktayaa opened #7992 "Mobile client cannot log in via google"
Google complains that embedded browsers (web-view) aren't allowed. I don't know if this is fixable, but it is an issue nonetheless.

Tried with chat.zulip.org

[2018-01-04 21:24] oktayaa opened #7993 "Documentation does not mention that the initial realm admin needs to be created using default authentication. (LDAP etc doesn't work and causes an unusable install)"
I have checked the production server documentation and also inside settings.py. Although the settings to activate these are in the Optional section of the documents, almost every admin would think they might as well get that done too.

Also, once a user@domain.com is created it is not clear whether that same user can later be authenticated against LDAP. It seems not but I am not sure.

[2018-01-04 21:41] #7882 closed

[2018-01-05 05:05] rishig opened #7995 "left sidebar: Allow customizing logo and name in upper left."
Currently we show
![image](https://user-images.githubusercontent.com/890911/34595786-a3f48448-f200-11e7-888a-62fb523f0c6d.png)

in the upper left, but we should allow users to upload a custom image to replace it.
The setting for this can go at the bottom of /#organization/organization-profile.

http://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html could be useful reading.

[2018-01-05 05:11] skapil commented on #7885
still working on it!

[2018-01-05 05:26] Rishabh570 commented on #7303
@borisyankov any update on this...is this is a work for some other day ?

[2018-01-05 06:46] mghadam opened #7996 "Error in upgrading zulip on Ubuntu 14.04LTS"
I'm getting the following error when I try to upgrade my zulip to the last available version 1.7.1:

/home/zulip/deployments/current/scripts/upgrade-zulip zulip-server-1.7.1.tar.gz

[code]

[2018-01-05 07:43] umairwaheed commented on #1760
Waiting for a review on this #7688.

[2018-01-05 08:37] VishalCR7 commented on #7884
@rishig  I've added 2 PR's for 3 issues and all of them are waiting for being reviewed. Can you please at least get them reviewed so that I can proceed further

[2018-01-05 11:20] nkmishra1997 commented on #7088
@zulipbot claim

[2018-01-05 11:25] alirizwi commented on #7995
@zulipbot claim

[2018-01-05 11:32] Tokixix commented on #7965
@zulipbot abandon

[2018-01-05 11:45] Tokixix commented on #6358
@rishig Can You please help me with this matter?

[2018-01-05 12:49] noboevbo opened #7999 "Create Organization - Email not working"
I setup a Zulup server today and everything worked fine until the part where I need to create a organization. I configured everything and I receive emails using `manage.py send_test_email x@y.com`. After using `manage.py generate_realm_creation_link` I get a correct link and after entering my E-Mail address (The same e-mail address used in send_test_email before) I get

. But it never sends an e-m

[2018-01-05 12:52] penCsharpener commented on #3783
I might add that today I wasn't able to make a public stream private although I'm an admin because I hadn't created that stream. The person who created the stream couldn't do it either. The only work around was to make them admin for a moment, change the stream setting and revoking admin rights again. This is probably not a desired workflow.

[2018-01-05 13:03] #7999 closed

[2018-01-05 13:07] alirizwi commented on #7995
@rishig At the bottom of ```/#organization/organization-profile```, there is already an option to upload organisation avatar. So, should I use the same image or create another upload option for organisation logo?

[2018-01-05 13:24] #1341 closed

[2018-01-05 13:55] showell opened #8000 "Find ways to let trial users avoid email spam when creating realms."
Particularly for non-English-speaking realms, but other realms as well, folks setting up realms may want to avoid sending out a bunch of emails to users before they've had a chance to set the realm's language, convince users in person to try Zulip, test out the realm, seed some streams, etc.

We probably want a way to reduce or postpone outgoing emails during realm creation.

This ticket will requ

[2018-01-05 14:53] YJDave commented on #6295
@zulipbot claim

[2018-01-05 15:00] YJDave commented on #7468
@zulipbot claim

[2018-01-05 16:19] YJDave commented on #3662
@zulipbot claim

[2018-01-05 17:03] #6776 closed

[2018-01-05 17:08] YJDave commented on #3662
@showell This issue is solved. We can see the error if stream name is already taken.
![streamnameerror](https://user-images.githubusercontent.com/25907420/34619591-a83a2978-f268-11e7-8958-889f6fe5c953.png)

If we select stream name which is already taken then
* it will set old stream name immediately
* and shows error message

To improve error message, submitted PR #8003

[2018-01-05 18:31] timabbott opened #8004 "Run the `manage.py clearsessions` cron job in production by default"
Django advises that an app run https://docs.djangoproject.com/en/2.0/ref/django-admin/#clearsessions in a cron job (generally 1x/day).  The downsides of not doing so are mild performance issues (plus potentially some weird error messages when deactivating users, see https://chat.zulip.org/#narrow/stream/backend/subject/deactivate_user/near/425693).  We currently have code for doing so in the `zuli

[2018-01-05 18:44] showell commented on #3662
It's not clear to me why this issue stayed open back in February--I suspect the issue was fixed eleven months ago and it was just hard to verify the fix due to the code not being released.  Anyway, closing now.

[2018-01-05 18:44] #3662 closed

[2018-01-05 18:56] kfogel commented on #6977
FWIW I can confirm these steps to reproduce, in Zulip 1.6.0 (actually, the same production instance @jvasile was reporting with above):

I added a custom emoji named "fish" (filename `fish.jpg`).  Then I realized I'd uploaded the wrong image -- correct filename, but wrong image was in it.  So, still in the organizational settings UI for custom emojis, I hit the trash-bin icon for the new "fish" it

[2018-01-05 19:02] kfogel opened #8005 "No way to discover Zulip version number from within UI."
As I was adding a comment to issue #6977 just now, I wanted to include the version number of the Zulip instance we're running.  But I couldn't find that information anywhere in the UI.  Traditionally, the version number is either in the page footer or in an "About" page somewhere.  But it's not in the footers and I couldn't find an About page, nor any other page that has the instance's version num

[2018-01-05 22:14] alenavolk commented on #4650
@zulipbot claim

[2018-01-06 06:02] Balaji2198 commented on #1561
@zulipbot  #7831 Still Waiting for review.

[2018-01-06 10:38] foss- commented on #7443
Some keyboards do not have and END key.

![end](https://user-images.githubusercontent.com/5708172/34638925-1333bc04-f2d6-11e7-8c0b-7aa51f8d27e3.jpg)

[2018-01-06 14:06] Jai-Z commented on #7620
@zulipbot claim. I'd like a go at this.

[2018-01-06 16:50] #165 closed

[2018-01-06 18:45] florianjuengermann commented on #5920
I just updated the PR yesterday.

[2018-01-06 18:45] synicalsyntax commented on #5920
@florianjuengermann You'll need to modify your PR description and commits to mention the issue (e.g. `Fixes #5920`) so that zulipbot can detect the PR that resolves this issue.

[2018-01-06 19:14] Anupam-dagar commented on #7549
@zulipbot yes I am working on the issue

[2018-01-06 19:31] Rishabh570 commented on #5868
I'm already opened up a PR.

[2018-01-06 19:36] shubhamdhama commented on #6809
OMG!! :fearful: Haven't noticed but this page has really got messed(due to continuous failing tests and merge conflicts) BTW I'm claiming this again to prevent confusion @zulipbot claim,

[2018-01-06 19:40] lonerz commented on #7443
@foss- for OSX, we have `G` as a replacement for the END key. That's capital `G`.

[2018-01-06 22:15] synicalsyntax commented on #5719
![screenshot at jan 06 14-14-36](https://user-images.githubusercontent.com/15116870/34644461-01889054-f2ec-11e7-9239-cb11fa41ff55.png)

[2018-01-06 22:23] lonerz commented on #5719
Same here.

[2018-01-06 22:43] adnrs96 commented on #5719
same for me too.
pinging @showell

[2018-01-06 22:58] cPhost commented on #5719
I was getting same error seems to be fixed now.

[2018-01-06 23:04] synicalsyntax commented on #5719
Resolved, thanks all

[2018-01-06 23:04] #5719 closed

[2018-01-07 03:02] hrishi3108 commented on #7743
@zulipbot claim

[2018-01-07 03:14] hrishi3108 commented on #7743
@zulipbot abandon

[2018-01-07 05:32] Rishabh570 commented on #7963
@zulipbot claim

[2018-01-07 10:36] XavierCooney commented on #7907
I checked and can reproduce on [chat.zulip.org/hello](chat.zulip.org/hello). After further investigation if found the `show` class wasn't been added `.portico-landing`. This is the responsibility of [this](https://github.com/zulip/zulip/blob/29a343cb44b375de078826189d8f225394707e29/static/js/portico/landing-page.js#L228) line, which is called around [here-ish](https://github.com/zulip/zulip/blob/2

[2018-01-07 11:30] akashnimare commented on #8005
@kfogel you can check the version number using the api endpoint - `yourserver/api/v1/server_settings`
Example - https://chat.zulip.org/api/v1/server_settings

[2018-01-07 12:42] Anupam-dagar commented on #7628
@zulipbot claim

[2018-01-07 13:08] gramanas opened #8014 "[Feature Request] Show PR info on mouse hover"
When github is integrated in zulip one can add the option to "translate" PR id's in links. So you can refer to a PR only by it's number like so: `#1243`

A great extension to this would be the ability to hover the generated link and have a popup that describes the PR (Title and first few lines). This way you don't have to switch to the browser just to figure out for what PR someone is talking abou

[2018-01-07 15:09] Be-ing commented on #8014
I don't think it's necessary to implement a hack specific for GitHub. If the title text for links was automatically set to the page's title, I think that would work well enough.

[2018-01-07 15:11] Be-ing opened #8015 "easy linking to topics within Zulip"
Currently it is possible to link to streams within Zulip by typing the `#` character followed by the stream name, which pops up an autocompletion menu. It would be nice if there was a similar notation for topics, especially for users of the stand-alone apps. Currently linking to a topic will open a browser window when a user of the stand-alone app clicks it.

[2018-01-07 15:16] Be-ing opened #8016 "Links to Zulip messages should open in app."
In a long running topic, it is sometimes helpful to link back to an earlier comment. Currently this can be done by copying and pasting the externally accessible URL for the post, but this is annoying because it opens a browser window for users of the stand-alone apps. Alternatively, the old post can be quoted, but that's not the greatest solution either.

[2018-01-07 18:51] graszka22 commented on #7982
@zulipbot claim

[2018-01-07 20:05] #4816 closed

[2018-01-07 20:13] Kumar-Tarun opened #8019 "Navbar menu should be made more wide"
![issue1](https://user-images.githubusercontent.com/23361315/34653574-c1b3aa8a-f413-11e7-873a-c5b0563e3e4c.JPG)

As shown in the above image when we click the button of navbar and the side menu opens, we still have the original button in display with the cross of the menu. I think that this menu should me made more wide so as to hide the original button, it doesn't look nice to have both the above

[2018-01-07 20:27] Kumar-Tarun commented on #8019
@zulipbot claim

[2018-01-08 04:37] Kiy4h opened #8021 "Automatically scroll to the bottom when sent a message"
If you scroll up a bit and send a message, it didn't automatically scroll down.
I suggest that Zulip should automatically scroll down, because it will make us easier to chat with the community using Zulip.

[2018-01-08 10:44] shreyanshdwivedi commented on #8021
@Kiy4h are you working on this?

[2018-01-08 10:49] shreyanshdwivedi commented on #7237
@shubhamdhama have you solved this issue or is it still open?

[2018-01-08 10:54] Kiy4h commented on #8021
@shreyanshdwivedi Currently, no. My current task hasn't been approved yet, I still don't know if I'm going to do this.

[2018-01-08 12:11] showell opened #8025 "Handle quoted-mention edge cases properly."
If somebody does a quote-and-reply to a message that has a mention, and they leave the mention inside the quoted portion, Zulip currently behaves as if the **new** message also mentions the original mentioned person.

This was probably never an intentional decision, as the naive implementation doesn't distinguish whether the message is in quoted section.

The current behavior is somewhat defensibl

[2018-01-08 12:14] wjkg commented on #6493
@zulipbot claim

[2018-01-08 12:50] showell commented on #7237
@shreyanshdwivedi Let's leave this alone for now.  I think the other PR is tied up by review more than needing more work (apart from fixing a conflict).

@shubhamdhama Your PR #7246 has mostly been delayed due to reviewers being on vacation, but there is a merge conflict that you can address.

[2018-01-08 14:15] penCsharpener opened #8026 "improvement: don't mark PMs before the cursor as read"
I just got the following feedback:

Because of this users miss private messages if they came from multiple people. They would naturally only check the last person sending a PM.

Yes, the cursor appears on the first missed message but why are the messages after that one marked read? Its fairly easy - especially to new users - to overlook the blue border of the message cursor.

this is related to #5

[2018-01-08 14:52] skunkmb commented on #7854
Unfortunately I can't actually replicate this on my computer (even with *5000* or so streams using `--create-streams`) so I'm going to `@zulipbot abandon` this so that someone else can try.

[2018-01-08 14:52] skunkmb commented on #7854
@zulipbot abandon

[2018-01-08 15:22] showell commented on #7854
I'm going to close this, since #7852 seems highly related, and this isn't actionable for folks that can't reproduce the problem.  (We have only heard sporadic reports of sluggishness.)

[2018-01-08 15:22] #7854 closed

[2018-01-08 17:47] gnprice opened #8028 "Compress logs to use less disk space"
On the chat.zulip.org server, `/var/log/zulip/` takes up a total of 4.8 GB of space (*). The bulk of that disk usage would end up looking the same on any other busy Zulip server with our default configuration. That's kind of a lot, and we can do better.

The space breaks down as (approximately)
* 1.5GB `server.log` and older versions
* 1.0GB `django.log` and older versions
* 1.0GB `tornado.log` an

[2018-01-08 18:24] rwbarton commented on #6481
It looks like both text and math mode support Unicode characters on a per-character (or per-block) basis, and support for new characters is added fairly frequently. So I'm not sure whether it makes sense for Zulip to try to keep up with the difference between the two, particularly as the KaTeX maintainers are quite responsive.

There seems to be some recent activity related to math mode in CJK, se

[2018-01-09 00:00] skunkmb commented on #8005
@zulipbot claim

[2018-01-09 02:57] XavierCooney commented on #7743
@zulipbot claim

[2018-01-09 03:55] gnprice commented on #7748
Some quick updates tonight:

* We have frontend tests too, since #8001 ! Thanks @hackerkid :)

* It looks like when Circle runs tests on a branch, including a branch in your own fork if you've set up Circle for your fork, it will post the result to a PR you make from the branch. (E.g. #8001, or @rht's #7861.) But it's not watching for PRs on this repo and running comprehensively on them. (E.g. #80

[2018-01-09 04:00] gnprice commented on #7748
@rht:

I did a quick search for [travis custom docker image], because that would be very interesting! What I found was [this docs page](https://docs.travis-ci.com/user/docker/), which is... example code for running Docker commands *within* the Travis environment. That's not real appealing.

The other advantages are the ones in my original issue description above.

[2018-01-09 04:08] gnprice commented on #7748
OK, I think I've set this up now -- I followed the instructions at https://circleci.com/docs/1.0/fork-pr-builds/ . We'll see if that does the job.

[2018-01-09 07:10] shreyanshdwivedi commented on #8021
@zulipbot claim

[2018-01-09 12:29] rahulk98 commented on #6126
@zulipbot claim

[2018-01-09 13:18] showell commented on #8021
We need to decide whether scrolling to the bottom won't have more adverse effects...users might want to keep the message they're replying to onscreen, and they may also want to not mark the interim messages as "read."

[2018-01-09 15:10] rht commented on #7748
I tested by replacing the bad link (which only shows up in CircleCI) with its webarchive version. CircleCI backend took 2 min 46 sec + 6 min 36 sec https://circleci.com/gh/rht/zulip/80. Travis backend both took at least 13 min 43 sec.
Are these sufficient evidence that the CircleCI tests run faster than Travis?

[2018-01-09 17:33] gnprice commented on #7748
Fascinating, thanks @rht for investigating -- that seems like probably an issue in CircleCI's infrastructure (though it could also be an issue on the blog.domaintools.com side.)

I'll complain to Circle. It's probably also worth us doing a bit more debugging, with a shell inside a Circle build container (with their SSH-into-build feature), to make a more detailed bug report: how exactly does it fa

[2018-01-09 17:46] gnprice commented on #7748
And yeah, I'd say that that is a good sign for the tests running faster in Circle than in Travis. :smile: The one thing that makes a direct comparison unfair right now is that we're not handling coverage in Circle -- we'll want to do that, and that'll slow it down. But for setup I think the comparison should already be fair.

I'm hopeful that
* it won't be *slower* with coverage
* the faster setup

[2018-01-09 19:00] gnprice commented on #7748
@rht , I dug into the bad-links issue a bit, and remembered that I've seen this kind of failure fairly often in Travis too; and I see it even on my laptop if I try `tools/test-documentation` there. So that test is just flaky.

I suspect that's mostly an inherent issue with trying to fetch a whole bunch of links from random sites on the Web and complain if any one of them fails. Lots of sites are j

[2018-01-09 19:07] gnprice commented on #7748
@hackerkid , once you have the backend tests running on 3.5, I think the next priorities will be
* parallelize
* add code coverage

Once those are in and we've let them run a couple of days without issues, I think we can cut the backend and frontend suites from Travis! Because the backend tests are the slowest, that will give us a nice speedup already.

[2018-01-09 19:07] showell opened #8040 "Allow minimal ability to mute other users."
This is a repeat of #168, which is really old and has some discussion that may have gone a bit off the rails.

We occasionally get requests to be able to mute/block users.

We should try to figure out a very minimal foray into this feature.  A simple V1 mute-user mechanism would only suppress unread counts and notifications for incoming PMs, and we wouldn't need to filter message feeds or anything

[2018-01-09 19:27] akashnimare opened #36131 "Improve /help section for desktop app"
There is a help section for desktop app - https://zulipchat.com/help/desktop-app-install-guide
Here are the few things we could add there -
* Deskop app settings -
  - This will contain the info about various app settings like "Show Desktop Notifications", Mute, Proxy setting etc
* A troubleshooting section
* Tips for Zulip on Windows
  - Tips about taskbar icon, auto-update etc
* Tips for Zulip o

[2018-01-09 19:43] zy964c commented on #5489
@zulipbot claim

[2018-01-09 19:52] tommyip opened #8041 "Allow admins to lock topics."
[From this discussion](https://chat.zulip.org/#narrow/stream/general/subject/Feedback.20on.20using.20Zulip.20for.20OSS/near/436472)

This feature should allow admins to lock a topic to prevent further discussion.

[2018-01-09 20:55] gnprice opened #8042 "Unread count stuck at >0 in a topic I've read"
For the topic https://chat.zulip.org/#narrow/stream/design/topic/settings.20save , I seem to have an unread count of 6:
![image](https://user-images.githubusercontent.com/28173/34742722-f901cda4-f53b-11e7-860e-8957cecb35b4.png)
But I've just gone and read through the whole thread, beginning to end.
![image](https://user-images.githubusercontent.com/28173/34742767-28cd9a04-f53c-11e7-8fb5-3020490461

[2018-01-09 20:57] gnprice commented on #8042
Potentially relevant: I got to the topic by following a direct link, `https://chat.zulip.org/#narrow/stream/design/topic/settings.20save`, from off-Zulip (from a GitHub PR thread, I think), not by navigating within Zulip. I hadn't read anything in the topic before I followed that link.

[2018-01-09 21:44] #7537 closed

[2018-01-09 22:13] Kiy4h commented on #8021
@showell Oh right, I agree. But chatting apps usually do that. (e.g. Slack, Discord)

[2018-01-09 23:33] XavierCooney commented on #7902
OK, I'll implement the `Sending...` instead of the timestamp functionality

[2018-01-10 04:20] shreyanshdwivedi commented on #7795
@zulipbot claim

[2018-01-10 04:46] HydraulicSheep commented on #7683
Sorry about this. I forgot about this issue and then went offline for Christmas. Many apologies!

[2018-01-10 12:55] showell commented on #8021
Slack's lack of an "unread" concept is actually one of the reasons people move to Zulip, so we want to be careful to protect the reliability of unread counts.

[2018-01-10 14:18] YJDave commented on #7468
Solved in #7987

Solved in #8029
![privatestreamunsubscribed](https://user-images.githubusercontent.com/25907420/34776691-be03ecb6-f63d-11e7-9b1c-0ebf36036c11.png)

Yes, "you subscribed to stream" message is not showing in case if user is added by someone from `Stream member` setting, which applies for both public stream and private stream.
But I can't reproduce where, "You unsubscribed.." message

[2018-01-10 16:01] pixelexel commented on #7325
Is anyone working on this issue?

[2018-01-10 18:16] alirizwi commented on #7325
@pixelexel Yes, I have also made a PR.

[2018-01-10 18:46] YJDave commented on #3783
@zulipbot claim

[2018-01-10 19:21] Kumar-Tarun commented on #8040
@showell Can I work on this issue?

[2018-01-10 19:33] showell commented on #8040
@Kumar-Tarun Yep, you can work on it.  I would work on the backend pieces first:

* add the database model
* fix the message-send path to set "read" flags and suppress notifications

You'll want to be comfortable with writing good automated tests for the second bullet.

[2018-01-10 19:39] Kumar-Tarun commented on #8040
Since this is my first backend issue, I'll try my best to figure it out. Thanks @showell.

[2018-01-10 19:41] Kumar-Tarun commented on #8040
@zulipbot claim

[2018-01-10 19:48] akashnimare opened #8051 "Add custom sounds for incoming audible notifications."
Currently, we have the drum sound for notifications. It would be great if users can choose what sound they want to hear on incoming notifications. This is how the setting looks like on Slack-

<img src="https://chat.zulip.org/user_uploads/2/f8/o8IJnMPWhIiWBcRCkvkQpeo-/pasted_image.png"/>

[2018-01-10 19:49] mahak-bagha commented on #8051
@zulipbot claim

[2018-01-10 22:08] skunkmb commented on #8051
@zulipbot claim

[2018-01-11 00:54] cPhost commented on #8051
Here are some sound we can include for [this](https://github.com/wavebox/waveboxapp/tree/master/assets/audio) they are licensed MLP-2.0.

[2018-01-11 01:14] gnprice commented on #7683
Hi @utkarsh23 and @HydraulicSheep !

Looking back at this issue, I realize I described the status of it wrong when I first made it -- this isn't an issue that's ripe to do development on. What it really needs next is feedback from the admins of one or more orgs that would be interested in using the feature, so that we're sure we're building something people will actually use. I'll fix the labels t

[2018-01-11 06:28] umairwaheed commented on #6901
@zulipbot claim

[2018-01-11 06:29] umairwaheed commented on #6954
@zulipbot claim

[2018-01-11 11:03] Rishabh570 commented on #6990
@zulipbot claim

[2018-01-11 11:29] #7743 closed

[2018-01-11 12:05] rheaparekh opened #8054 "Error in searching for the character '>' in the search bar in development environment."
In the development environment, if we try to search for the character `>` in the search bar, we get the error:

[code]

[2018-01-11 19:31] sriks123 commented on #6342
@rishig can you elaborate more about how to implement like should the user enter email separately or the email should be taken from the enter-email field and should the specified two new buttons should replace the "forgot password" on the same page?

[2018-01-11 20:34] brockwhittaker commented on #8051
Not sure this is a particularly important project right now, but let me know if you think differently @rishig.

[2018-01-11 20:47] akashnimare commented on #8051
Not so important but it's a good feature to have. I have got few requests from desktop app users who want to customize the notification sound setting.

[2018-01-11 20:48] mahak-bagha commented on #8051
hey there is some confusion I was the first one to claim then also I have not been assigned. I have started working also on this . I'm almost done .

[2018-01-11 20:50] hackerkid commented on #8051
@mahak-bagha Please read the comment made by @zulipbot and do the same.

[2018-01-11 20:57] mahak-bagha commented on #8051
@zulipbot claim

[2018-01-12 00:50] gnprice opened #8062 "Minimal billing page with Stripe Checkout"
We need a way to collect customers' payment information for a SaaS Zulip host -- specifically for zulipchat.com. (cc @rishig) For now, it doesn't have to be at all fancy or particularly full-featured. All it needs to do is
* give the customer a form to enter a credit card, to be sent to Stripe
* tell Stripe to save that card as a "Customer" in the Stripe API
* save that Stripe `Customer` ID in a d

[2018-01-12 01:24] #7844 closed

[2018-01-12 08:24] Privisus opened #8065 "Unreadable alert words section in settings when in night mode."
Open settings, go to **Display settings** and enable night mode. Go to **Alert words** section. The text is unreadable: [Preview in chat.zulip.org](https://lambda.sx/FFR.webm)

Chromium Version 63.0.3239.84 (Developer Build) built on Debian 9.3, running on Debian 9.3 (64-bit)

[2018-01-12 12:26] #7768 closed

[2018-01-12 12:31] #7982 closed

[2018-01-12 15:33] VishalCR7 commented on #6477
@rishig can you get it reviewed from someone else ?

[2018-01-12 15:34] VishalCR7 commented on #6329
@rishig can you please let me know the desired changes ?

[2018-01-12 15:55] Balaji2198 commented on #3917
@zulipbot Working on it.

[2018-01-12 16:07] AasthaGupta commented on #7091
@zulipbot check

[2018-01-12 16:53] Rishabh570 commented on #1515
Opened up WIP PR #8038

[2018-01-12 18:23] Konigari commented on #7824
@zulipbot claim

[2018-01-12 19:21] Rishabh570 commented on #5639
@zulipbot claim

[2018-01-12 19:33] eeshangarg commented on #8065
@Privisus @shubhamdhama: Yep, this hasn't been fixed. I can reproduce it as well. Here's a screenshot:
![screenshot from 2018-01-12 16-01-51](https://user-images.githubusercontent.com/7251823/34891967-0d3001ec-f7b2-11e7-8537-e66f57bbcc9a.png)

@Privisus: Thanks for reporting this! Approving this on GCI! :)

[2018-01-13 05:54] utkarsh23 commented on #7889
@zulipbot claim

[2018-01-13 05:59] utkarsh23 commented on #7625
Waiting for review

[2018-01-13 08:10] YJDave commented on #7889
@utkarsh23 Thanks for taking up this issue, but I am working on this.
PR #8050 :)

[2018-01-13 08:22] YJDave commented on #7711
PR #8029, #7987

[2018-01-14 06:08] utkarsh23 commented on #7889
Alright sure @YJDave

[2018-01-14 06:21] utkarsh23 commented on #6547
I'd like to take up this issue, @zulipbot claim
@rishig `d` should restore last draft and `D` should open drafts correct?

[2018-01-14 07:13] utkarsh23 commented on #7076
waiting for review

[2018-01-14 09:11] VishalCR7 commented on #6018
working on it !

[2018-01-14 22:29] asiamarek commented on #7766
@zulipbot claim

[2018-01-15 04:52] lonerz commented on #6547
@utkarsh23 the difficult part here is that `D` is already a hotkey and you need to work on a modal/warning that warns the user that the hotkey has been deprecated.

[2018-01-15 07:06] rht commented on #7620
I can bisect on a prod install this if someone can figure why in https://playground.zulipdev.org the KaTeX fonts can't be loaded, e.g. https://playground.zulipdev.org/static/node_modules/katex/dist/fonts/KaTeX_Main-Regular.d9162dfe8f36.ttf.

[2018-01-15 09:39] graszka22 commented on #8041
@zulipbot claim

[2018-01-15 10:00] umairwaheed commented on #7838
This was fixed in upstream with https://github.com/fgrehm/vagrant-lxc/commit/c74ddbf2fc9e8862da1794b49dfc80a0e79d3f3f

[2018-01-15 13:45] Rishabh570 commented on #6802
@zulipbot claim

[2018-01-15 15:31] skunkmb commented on #1768
@zulipbot claim

[2018-01-15 17:16] zy964c commented on #7089
@zulipbot claim

[2018-01-15 17:36] mathieuman6 commented on #6052
should you do it or not? because i could do it.

[2018-01-15 21:27] borisyankov commented on #7303
I think we can benefit from the better sound, just someone needs to move this feature along.
Do you have an idea what you can be doing to achieve that?

[2018-01-16 04:12] umairwaheed commented on #1760
Waiting for a review on this #7688.

[2018-01-16 07:28] Rishabh570 commented on #7303
Maybe some option menu that gets appeared when user ticks `audible desktop notifications`...

[2018-01-16 07:31] Rishabh570 commented on #7303
I've ![seen this](https://user-images.githubusercontent.com/25483260/34976526-04d08aa4-fabd-11e7-8f15-b082f3aa9f44.png)
 in notifications.py, maybe here we can do selecting the audio file ...
But a first step might be just changing the default audio for notification..?

[2018-01-16 10:30] Rishabh570 commented on #7303
#8061 PR solves this i guess...

[2018-01-16 13:01] showell commented on #4732
I am closing this, since we have a newer methodology since this issue was filed.

[2018-01-16 13:01] #4732 closed

[2018-01-16 13:03] hackerkid opened #8082 "Make organisation filter URL format string more generic"
The current supported format is `https://example.com/%(\w+)s`. This is very limited. Some folks may have to link URLs of the format `https://myherokuapptest-pr-%(id)s.herokuapp.com`. See https://chat.zulip.org/#narrow/stream/feedback/subject/filters/near/448347 for a case like that.

 Ideally we should allow folks to link all sort of URLs (not necessary for the ID to be at the end) but it would be

[2018-01-16 13:05] sriks123 commented on #6342
@zulipbot claim

[2018-01-16 17:50] timabbott commented on #7620
@PentaHiggs you may be a good person to help investigate this...

@rht I suspect whatever's going on with playground is an unrelated issue with that system, if we aren't seeing the same problem on chat.zulip.org.

[2018-01-16 17:55] rht commented on #7620
I encountered the same versioned-KaTeX-font-not-found problem in a prod install in minmi.grumpyoldunixgeek.com (@feorlen's DO droplet) which has prevented me from being able to bisect this, because the TeX can't render without the fonts. Is the tarball currently supposed to have both versioned and unversioned version of the resources?

[2018-01-16 18:07] ryanle42 commented on #6342
My PR #7724 that fixes this issue has been awaiting review for over a month. I don't understand why this has been unassigned to me.

[2018-01-16 18:59] shubhamdhama commented on #7908
Why Zulipbot :thinking: unassigned?? @zulipbot claim , I've asked for the help [here](https://chat.zulip.org/#narrow/stream/issues/subject/PR.20.237978/near/441471), waiting for the answer.

[2018-01-16 19:42] shubhamdhama commented on #6617
@rishig @timabbott  Do we want here to give an option to Realm Admin to prevent all types of PMs, i.e. all types of conversation have to go through streams?

[2018-01-16 20:40] RavicharanN commented on #6802
@zulipbot claim

[2018-01-16 20:58] RavicharanN commented on #6802
Hey @rishig , looks like the webhook integration guidelines have been removed. Can you provide me with an alternative source?

[2018-01-16 21:36] priyank-p opened #8087 "Blank notification is triggered when someone sends image."
The problem is when someone just sends you image, a notification is triggered with no content. which in this case the we need a message like `@user sent you an image[s]` or no notifications at all.

For some browser like chrome it displays `chat.zulip.org`.

[2018-01-16 21:41] akashnimare commented on #8087
This is what Slack notifies when someone sends a image or file -

![image](https://user-images.githubusercontent.com/2263909/35013625-f9ff0426-fb33-11e7-8e20-997d3936168b.png)

[2018-01-16 22:01] timabbott opened #8088 "User groups CSS looks a bit off when line-wrapping"
If you add enough users to a user group to line-wrap, the padding looks a bit wrong:

![image](https://user-images.githubusercontent.com/2746074/35014471-8cbdf304-fac5-11e7-8f7a-87a6395d1b87.png)

@synicalsyntax @brockwhittaker FYI; tagging as a blocker since we'll want to advertise this feature in our next release, so we should make sure it looks right.

[2018-01-16 22:18] #7794 closed

[2018-01-16 22:27] Satyendra-IITR commented on #7535
@zulipbot claim

[2018-01-16 22:29] Satyendra-IITR commented on #7535
@zulipbot claim --force

[2018-01-17 02:48] Rishabh570 commented on #6802
@RavicharanN  You might want to read this to proceed with the webhook integrations : https://zulip.readthedocs.io/en/1.7.1/webhook-walkthrough.html
and PR for this issue is #7245

[2018-01-17 08:29] #8065 closed

[2018-01-17 10:42] roberthoenig opened #8090 "Display running bots in right user sidebar."
### Problem
Currently, we found ourselves manually announcing every bot's startup/shutdown on czo and playground.zulipdev.org. ([python-zulip-api/151](https://github.com/zulip/python-zulip-api/issues/151) is the corresponding issue.)

### Solution
Display running bots in the right user sidebar.

### Implementation
* Initially, I think it is sufficient to display only running bots as active.
* Disp

[2018-01-17 10:43] roberthoenig commented on #8090
@skunkmb FYI.

[2018-01-17 10:44] roberthoenig commented on #8090
@zulipbot claim

[2018-01-17 14:09] showell commented on #8040
We are still deciding exactly what we want to do here.  See discussion here:

https://chat.zulip.org/#narrow/stream/backend/subject/Difference.20between.20rawunread.20and.20unread/near/449605

[2018-01-17 14:11] #7550 closed

[2018-01-17 14:48] brainwane commented on #1515
#8038 is merged; I want to test that out before closing this issue, but am fine with others deciding that it's ok to close right now. :)

[2018-01-17 15:03] brainwane commented on #1515
@Rishabh570 I'd also like to be able to input datapoints into Beeminder via Zulip private message using [the format described here](https://github.com/zulip/zulip/issues/1515#issuecomment-253958735) -- I don't yet see that in a90e99dd3e8914845b47a3ab1fbd2cb748533a4e . Do you think you might work on that next?

[2018-01-17 16:57] Rishabh570 commented on #1515
@brainwane Sure! i'll discuss this in community..

[2018-01-17 17:03] synicalsyntax commented on #8088
@timabbott One thing I noticed is that when you click the check button, the width of the button changes because its content changes to "Saved!" or "Failed!"

Although I'm sure I can find the appropriate max-width to prevent the line-wrap for check/Saved/Failed, I'm concerned that i18n strings for other languages would be longer/shorter, so I'm not sure if limiting the width of the user group pill

[2018-01-17 18:05] Rishabh570 commented on #7963
Still working..

[2018-01-17 18:07] Rishabh570 commented on #5639
@rodrigc I'm on it...but i am stuck on one thing..here's the link : https://chat.zulip.org/#narrow/stream/integrations/subject/buildbot.20and.20zulip.20integration/near/452213

[2018-01-17 18:10] alenavolk commented on #4650
@zulibot I'm still working on this.

[2018-01-17 18:52] brockwhittaker commented on #8088
Fundamentally this pattern makes sense. Perhaps the only other answer is to have it always be full width rather than getting larger with more pills until it eventually caps out at full width.

[2018-01-17 19:06] synicalsyntax commented on #8088
![screenshot at jan 17 11-06-00](https://user-images.githubusercontent.com/15116870/35061551-6c19f1d2-fb76-11e7-968e-2f60c575e9bc.png)

@brockwhittaker Are you advocating for something like this? Still not sure how the save changes button's position is supposed to be wrapped ideally

[2018-01-17 19:51] synicalsyntax commented on #6835
Closing in favor of #8082.

[2018-01-17 19:51] synicalsyntax commented on #4653
Closing in favor of #8082.

[2018-01-17 19:51] #4653 closed

[2018-01-17 19:51] synicalsyntax commented on #6835
Closing in favor of #8082.

[2018-01-17 19:51] synicalsyntax commented on #7965
Closing in favor of #8082.

[2018-01-17 19:51] #7965 closed

[2018-01-17 19:51] #6835 closed

[2018-01-18 06:30] rht commented on #7620
Pinging @pweaver if you might know the underlying cause of the missing versioned fonts https://github.com/zulip/zulip/issues/7620#issuecomment-357598584. At least I know that the katex.js itself is versioned.

[2018-01-18 06:43] pweaver commented on #7620
I think it should have both (at least https://playground.zulipdev.org/static/node_modules/katex/dist/fonts/KaTeX_Main-Regular.ttf exists) Django's collect assets should version it though.

[2018-01-18 09:24] alirizwi commented on #7995
Yes I am working on this.
@rishig Also should there be a checkbox to make the organisation name appear on the upper left, or by default the organisation name should appear instead of zulip?

[2018-01-18 09:31] rht commented on #7620
@pweaver It took me a while to avoid the mistakes but I have built a prod install with the `-i node_modules` removed (added in this commit https://github.com/zulip/zulip/commit/d71f2e7b9bd2e1e622237eee381b62813b8ecaaa). The tarball is confirmed to contain `prod-static/serve/node_modules` but after I run the prod env and test if the KaTeX font loads, the versioned fonts are still missing.

[2018-01-18 12:25] penCsharpener commented on #7995
This is a great feature to add. I would vote for **both** icon and orga name in the top left because if the orga logo is of a similar colour then it's not really noticible in the corner of the eye. This is useful when running multiple realms in the desktop app for example.

[2018-01-18 13:25] wolfsjohannes opened #8099 "No video call icon"
Hello,
we just installed Zulip on our own server and we are actually missing the video call icon.
Is there any setting which has to be made so that the video call function is activated in self hosted scenarios?
Best regards
Johannes

[2018-01-18 13:53] noboevbo opened #8100 "User - Change Password -> Internal Server Error"
I'm on a fresh installation of Zulip 1.7.1 and have the problem, that users are unable to change their passwords via settings. Whenever a user tries to save his password the following error message occurs:

An internal error occurred; try reloading the page. Sorry for the trouble!

Changing the password via "reset password" functionality works fine. I don't have anything in the error logs. The ins

[2018-01-18 16:20] YukiKuroshima commented on #7885
@skapil Hello! May I take over this issue?

[2018-01-18 16:40] skapil commented on #7885
@YukiKuroshima Sure go ahead!! Caught up with personal Work so might not get time to work on it. Thanks for taking it up!

[2018-01-18 16:41] skapil commented on #7885
@zulipbot abandon

[2018-01-18 17:18] akashnimare opened #8103 "German Translation for Topic is misspelled"
The Button "New Topic" is labeled "Neues Them" in German it should be "Neues Thema".

<img src="https://user-images.githubusercontent.com/20838039/35109468-bf05d144-fc76-11e7-8826-788e1c43b3dc.PNG"/>

[2018-01-18 17:19] akashnimare commented on #8103
@zulipbot claim.

[2018-01-18 17:27] YukiKuroshima commented on #7885
@skapil Thank you for your quick response!

[2018-01-18 17:27] YukiKuroshima commented on #7885
@zulipbot claim

[2018-01-18 19:50] Kumar-Tarun commented on #7114
@timabbott can I work on this?

[2018-01-18 20:30] rishig commented on #8103
Closing, see #8105. Thanks Akash!

[2018-01-18 20:30] #8103 closed

[2018-01-18 20:52] SatyendraBanjare commented on #6902
Shouldn't there also be a max limit of result queries of latest 5/10 messages...?? and we can force stop search if 5 successful results are achieved, anyway I think I can work on this issue.

@zulipbot  claim

[2018-01-18 20:55] SatyendraBanjare commented on #6902
@zulipbot claim --force

[2018-01-18 20:59] SatyendraBanjare commented on #6902
Hi @rishig Please assign me to this. I want to work on this.

[2018-01-18 21:05] rishig commented on #8099
Hi @wolfsjohannes! This feature is in master; was merged right after 1.7 was released.

http://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-from-a-git-repository has instructions for upgrading from git. c8aadaa should be a reasonably stable and recent commit. Feel free to chat with us live at https://chat.zulip.org if you need help doing the upgrade!

[2018-01-18 21:15] gnprice commented on #8062
With #8075, this is done! There are some followups we should do soon (and more later), but those can be separate tasks.

[2018-01-18 21:15] #8062 closed

[2018-01-18 21:45] gnprice opened #8108 "Catch up on tech debt in our new billing code"
We merged #8075 (and deployed it on zulipchat.com) in a bit of a hurry, and as a result we consciously didn't take all the steps we would normally take before merging it to keep the code quality high. Here are two things I'd have wanted in the original PR before merging it if we weren't in a hurry:
* Most of the logic is all in one big view function. It should be broken up for clarity, for reusabi

[2018-01-18 21:48] gnprice commented on #8108
One small tweak we should make to the functionality, which is independent of this refactoring but I'll quickly mention here so we don't forget it on closing #8075:
* When adding a new card for a customer, we should set it as their new default payment method. (This is [about two lines](https://stripe.com/docs/saving-cards#changing-the-default-payment-method) of code.)

[2018-01-18 23:29] rishig commented on #8026
I agree, we need to figure out something better here. It's similar to the problem with streams; if you have 3 unread messages from two different topics, everything gets marked as read when you click on the stream.

Two changes that I think we should do regardless that will help:
* the `n` hotkey should cycle to PMs as well.
* Ctrl+click should open only the first topic/PM

A bigger change that wil

[2018-01-18 23:47] rishig commented on #8016
Definitely! Thanks for the report.

[2018-01-19 00:10] rishig commented on #8005
It's at https://chat.zulip.org/history/, which is parked there until we turn it into a proper /about page and link to it from the footer. @skunkmb, I suspect the solution here is just to finish that project, since that's where people will expect it.

[2018-01-19 00:13] rishig commented on #7996
Hi @mghadam, sorry for the long silence! Feel free to post this at chat.zulip.org, in the "#production help" stream, where we'll be able to help you in real time.

[2018-01-19 00:16] rishig commented on #7995
The solution we landed on was to encourage the org logo here to be in a 1x4 aspect ratio, so that folks choose the version of their logo that includes the name.

[2018-01-19 00:18] rishig commented on #7993
@gnprice fyi

[2018-01-19 00:18] rishig commented on #7992
@borisyankov ideas?

[2018-01-19 01:18] timabbott commented on #8014
I think this would be pretty easy to do with the infrastructure we already have for doing open graph previews (which is a feature we should probably be working to make production-ready anyway).  See `zerver/lib/url_preview/` and the related bugdown code.

[2018-01-19 05:00] shreyanshdwivedi commented on #8087
I would like to work on this. @zulipbot claim.

[2018-01-19 05:09] shreyanshdwivedi commented on #8021
@zulipbot abandon

[2018-01-19 05:20] shreyanshdwivedi commented on #6040
@zulipbot abandon

[2018-01-19 09:28] aero31aero commented on #7114
@Kumar-Tarun if you are interested in giving this a try, type `@zulipbot claim` and claim this issue. :)

[2018-01-19 09:36] Kumar-Tarun opened #8110 "message-box css: incorrect time stamp location on smaller screens."
When someone sends a second message or more continuously the time stamp shifts to the left on smaller screens, which for example (in case of edited messages) leads to overlapping of 'EDITED' and the time stamp, as shown in the following image -
![issue](https://user-images.githubusercontent.com/23361315/35144169-c42f60d2-fd29-11e7-981d-83a0f8fba061.PNG)

[2018-01-19 09:40] Kumar-Tarun commented on #8110
@zulipbot claim

[2018-01-19 09:42] aero31aero commented on #6221
I see two easy ways of working around this.

1. Convert `[](foobar)` => `[link](foobar)`
2. Convert `[](foobar)` => `[foobar](foobar)`

in our markdown implementation.

[2018-01-19 09:44] aero31aero commented on #5802
@zulipbot claim

I plan on working on the frontend part of this by using mousehover to change the text color. Thinking about what to do on touchscsreen devices. Perhaps a click to toggle?

[2018-01-19 09:56] lonerz commented on #8110
@Kumar-Tarun I'm wondering if this is a mobile bug or not? Is this on the Zulip app or the Zulip webapp on a mobile browser?

[2018-01-19 10:13] Kumar-Tarun commented on #8110
@lonerz I debugged this and found that it is a bug in CSS, so it happens on webapp on a mobile browser or through 'inspect' in Chrome (adjust screen size), you can reproduce the bug, btw the screenshot is taken on Chrome. So, this is not a mobile bug.

[2018-01-19 10:54] automatefoss commented on #6473
@zulipbot  claim

[2018-01-19 11:02] rht commented on #8100
You can ask again at https://chat.zulip.org/#narrow/stream/production.20help for low-latency response and live debug.
The log is at `/var/log/zulip/errors.log`.

[2018-01-19 14:49] aero31aero commented on #5802
@zulipbot abandon

[2018-01-19 16:32] oktayaa commented on #7992
@borisyankov It's Android 7.0 on a Xioami Mi5 (MIUI Global 9.1 Stable)

[2018-01-19 16:33] #585 closed

[2018-01-19 16:53] AnshumanPati commented on #5802
@zulipbot claim

[2018-01-19 16:55] AnshumanPati commented on #5802
@zulipbot claim --force

[2018-01-19 17:26] borisyankov commented on #7992
@oktayaa thanks for the clarification.
I have used Google login on my Samsung S8 (which has Android 7.x too).
@jainkuniya would you have a look? Also, test on older devices (4.x-5.x)

[2018-01-19 20:08] timabbott commented on #4491
Fixed via #8107.

[2018-01-19 20:08] #4491 closed

[2018-01-19 20:40] timabbott opened #8116 "`/srv/zulip_npm_cache` is being over-aggressively deleted in production"
Something is deleting everything under `/srv/zulip_npm_cache` too aggressively (i.e. `/home/zulip/deployments/current/node_modules was a broken symlink, because the whole directory was empty).  I noticed this on chat.zulip.org and zulipchat.com.  @gnprice any ideas what could be causing this problem?  Noticed while debugging #7620.

@harshitongithub FYI, since the `purge-old-deployments` script co

[2018-01-19 20:41] timabbott commented on #7620
So, the actual problem here is that `static/third/katex/cli.js` is still calling the pre-webpack path to require `katex.js`, `
/home/zulip/prod-static/min/katex.js`, which worked fine when the files were the same, but broke when we upgraded KaTeX in November; so in master, we're using an older version of KaTeX itself than the version of the CSS.  The fix is to replace the path `/home/zulip/prod-st

[2018-01-19 21:13] timabbott commented on #1228
This was completed by @eeshangarg some time ago.  Closing!

[2018-01-19 21:13] #1228 closed

[2018-01-19 21:16] timabbott commented on #1227
Now that #1228 is done, this is something that can reasonably be worked on, though I'm not sure how much value it has (with ~100 integrations, the work feels combinatorially large).  There are a few major steps required:
1. Figuring out a good way to tag the macro text used in these integrations for translation (and further, a good way to tag the non-macro sections of the individual integration do

[2018-01-19 21:20] rishig opened #8117 "docs: Update bots security model."
This section should be updated to clarify what the various kinds of bots can and can't do, and e.g. make it clear that a bot created by a user cannot do anything that the user cannot:
https://zulip.readthedocs.io/en/latest/production/security-model.html#users-and-bots

We'll also eventually want a /help doc about this once #7908 is complete, but that can be followup.

@showell fyi. We found out an

[2018-01-19 21:31] timabbott commented on #8021
For the reasons @showell described, I think it makes sense to close this as wontfix.  Otherwise, it would be difficult to read a long discussion and reply to several things of interest on the way.

[2018-01-19 21:31] #8021 closed

[2018-01-19 21:35] aero31aero opened #8118 "Inconsistent expansion state in large messages."
Steps to reproduce:

1. Find a large message. I faced it with the one in https://chat.zulip.org/#narrow/stream/development.20help/topic/gitsans
2. Click on the link to expand the message.
3. View the message source using the dropdown icon.
4. Close the source view.
5. Observe the text. You'll see both the expand and condense links.

![image](https://user-images.githubusercontent.com/8033238/351726

[2018-01-19 21:37] timabbott commented on #7907
@brockwhittaker can you help get this resolved?

[2018-01-19 21:38] aero31aero commented on #8118
@zulipbot label "area: message view"

[2018-01-19 21:38] timabbott commented on #7963
I imagine this was introduced in 4d51a6cfac69b551a6b85cb4d1fb12ec87a5fac9; @PentaHiggs do you have ideas on how we should fix this?

[2018-01-20 01:13] #7789 closed

[2018-01-20 02:48] gnprice commented on #8116
Nothing jumps out at me as a direct cause of the bug.

I do see one thing that looks fragile: it looks like `clean-npm-cache` and its friends recalculate for themselves the hash that the deployments *should* point to for their caches -- rather than simply reading the symlink to see what they actually *do* point to.

In the absence of bugs, or meddling sysadmins, that should be the same thing, of c

[2018-01-20 04:30] XavierCooney commented on #7907
If anyone has any suggestions on how to 'emulate' a production environment, or if anyone knows any differences between production and development environments in terms of the portico I would probably be able to continue working on this.

[2018-01-20 11:11] YJDave opened #8124 "Add symbol ? next to hotspots in first-time-user-login tutorial"
We are providing introduction tour when new user login to realm.
In this tour, we have the blue circle (which is meant to be clicked by user to get the message/trick/info about setting) aka hotspots.

We should add `?` symbol next to this hotspots, to make it more obvious click target.
More info for issue [here.](https://chat.zulip.org/#narrow/stream/frontend/subject/intro.20tour/near/440721)

[2018-01-20 13:09] #7620 closed

[2018-01-20 14:49] Balaji2198 commented on #38
@zulipbot  claim

[2018-01-20 16:49] alenavolk commented on #4650
@zulipbot I'm still working on this.

[2018-01-20 18:07] rishig commented on #7889
#8050 looks mostly ready, so going to write out a few more settings that should be changed, in Org permissions. I think in the end, the bottom of that file should look like the following (might take a few rearranging commits independent of the dropdown changes):

*Bots*
No user (admin or non-admin) can ever add a bot that reads or sends messages the original user could not.

Who can add bots
Every

[2018-01-21 00:02] BenDeBrasi commented on #8124
Can I work on this?

[2018-01-21 00:23] rishig commented on #6617
I think the setting here can be: all PMs (to non-bot users) must include at least one admin. I think that will solve the abuse problems, without being as restrictive or confusing as the original proposal.

[2018-01-21 02:05] rishig commented on #6342
@synicalsyntax we should probably update zulipbot to not give inactivity notices if there is a PR with "needs review".

[2018-01-21 02:29] synicalsyntax commented on #6342
We did, recently; the claimant of this issue was unassigned before we deployed that change

[2018-01-21 06:41] YJDave commented on #8124
Yeah, sure. @BenDeBrasi You can claim this issue by commenting `@zulipbot claim`.

[2018-01-21 06:44] YJDave commented on #7711
@rishig Can you review PR #8029 and suggest more issues which should be solved? Some issues are solved in #7987, which is already merged.

[2018-01-21 14:24] BenDeBrasi commented on #8124
@zulipbot claim

[2018-01-21 14:31] BenDeBrasi commented on #8124
@zulipbot claim --force

[2018-01-21 15:17] oktayaa commented on #7992
I tried again and it worked. It might have been a new web-view update or more likely I picked a different browser this time (Firefox) and it worked. Maybe I had to have been logged into google (gmail) already. In any case, perhaps it's best to close this issue and wait for someone else to open a new bug if it happens to them.

[2018-01-21 16:40] graszka22 commented on #8041
I have implemented most of the functionality, but I have a question about how we should indicate that the topic is locked in the UI. My propositions are:
- a message automatically sent to the topic like this (note that the message looks like it's sent by the admin - I think creating a bot just for this purpose is too much):

![image](https://user-images.githubusercontent.com/6280457/35196336-e80ef

[2018-01-21 17:18] tommyip commented on #8041
I think we need multiple indications:

* **Stream list**: The lock icon is used for invite-only streams already. Perhaps we could grey out the topic name and/or append a `(locked)` text next to it?

* **Message view**

I think a message in the divider would do the job
![image](https://user-images.githubusercontent.com/18504232/35196753-21172348-fece-11e7-9b03-70b0d6943c9e.png)

* **Compose box**:

[2018-01-22 19:17] gnprice commented on #6954
For cross-referencing's sake: this corresponds to the mobile-repo issue https://github.com/zulip/zulip-mobile/issues/1190 .

[2018-01-22 20:54] Anupam-dagar commented on #7628
@zulipbot claim

[2018-01-22 21:30] rishig commented on #7628
@Anupam-dagar @ihsavru already has a PR for this; we've just been very behind on reviews. Sorry about that!

[2018-01-22 21:34] swallitsch opened #8140 "Really long filter regex causes window malfunction"
A really long filter causes the window to be too thin and the trash button no longer appears.

Closing the org settings and re-opening has no effect. Stretching the window's aspect ratio extremely wide has no effect.

Workaround: Inspect elements, set max-width of settings page to 1920 or so.

[2018-01-22 21:43] Anupam-dagar commented on #7628
@rishig thanks for letting me know about it :)

[2018-01-22 22:09] Anupam-dagar commented on #8014
@zulipbot claim

[2018-01-22 22:10] Anupam-dagar commented on #8014
@timabbott in this issue, if the user sends the github pull request link in message then instead of link it should show the PR title, right?

[2018-01-23 00:41] #3577 closed

[2018-01-23 10:41] himanshu0137 commented on #595
I am struggling with the same problem. I have been struggling for a week now. I thought of a solution where I manage a list of mentions which contains userId, Mention start position and mention length and tried to manage that list through each key press. It works for the basic flow but still incomplete. Any help would be appreciated.
Steps -
1. copy this code to console on your home page.
2. press

[2018-01-23 10:53] himanshu0137 commented on #374
I am struggling with the same problem. I have been struggling for a week now. I thought of a solution where I manage a list of mentions which contains userId, Mention start position and mention length and tried to manage that list through each key press. It works for the basic flow but still incomplete. Any help would be appreciated.
Steps -
1. copy this code to console on your home page.
2. press

[2018-01-23 12:29] #7411 closed

[2018-01-23 14:26] #6493 closed

[2018-01-23 16:33] rishig commented on #8016
@akashnimare should this be in the electron repo, or is the issue just that we by default open links in a new tab?

[2018-01-23 18:58] rishig opened #8143 "markdown: Require ** around at-all mentions."
Sending a message to `@alleycat.com` (as in, the domain for someone's email address) triggers at an at-all mention, as does just sending a message with `@all`.

The correct way to at-all mention is `@**all**`.

http://zulip.readthedocs.io/en/latest/subsystems/markdown.html may be helpful documentation.

[2018-01-23 19:15] rishig opened #8144 "invitations: Improve experience around reactivating users."
If you want to reactivate a user, a very natural thing to do is to try to re-invite them. Currently, this gives the following error:
![image](https://user-images.githubusercontent.com/890911/35295188-50cca42c-002d-11e8-8c8f-f52b18d61822.png)

Instead, we should just reactivate the user with a message like
[code]

Some thought will be needed on the messaging in the case of a mix of email addresses,

[2018-01-23 20:15] loganwilliams commented on #7909
@zulipbot claim

[2018-01-23 20:29] timabbott opened #8145 "Commit message linter doesn't accept revert commits"
I got this error:

`1: T7 Title does not match regex (^(.+:\ )?[A-Z].+\.$): "Revert "katex: Update the `require` path to point to the new one.""`

We should add an exception for the standard Git-generated Revert commits.

@tommyip FYI.

[2018-01-23 20:30] rishig commented on #7909
I asked myself if it could be THE loganwilliams and it turned out it was! Welcome to our humble repo :).

[2018-01-23 20:48] timabbott opened #8146 "Add ">" hotkey for quote-and-reply"
We should add a `>` hotkey, that does the same thing as the "Quote and Reply" option in the message actions menu.  We have the existing `@` / reply-mentioning-author hotkey, and it should be fairly similar implementation.

(We should be sure to include tests and documentation for this new feature)

[2018-01-23 21:56] rishig opened #8149 "compose: Move typeahead popup to be closer to the cursor."
Currently, the typeahead is fixed to the left side of the compose box:
![image](https://user-images.githubusercontent.com/890911/35302867-e67b87ec-0044-11e8-9c3c-ec03cf23d569.png)

It should instead appear closer to where the cursor is.

I believe this is a regression from several months ago, so the first thing I would try is figuring out
* whether the behavior was indeed different several months

[2018-01-23 21:56] shubhamdhama commented on #8143
@rishig Just to make it clear does this means we don't want any type of `@oneword` type of mention i.e. all mentions should be of type `@**words**` or `@*words*` as only `@oneword` type of mention are `@all` and  `@everyone`( which further implies that `@all` should also become invalid or we just want to prevent `@all+<string>` type of mentions like `@alleycat.com`)

[2018-01-23 22:13] rishig commented on #8143
yup! All at mentions should be `@*words*` or `@**words**`. Good catch with `@everyone`; it would be good to fix that too in this PR.

[2018-01-23 22:29] shubhamdhama commented on #8143
@zulipbot claim, I've figured out how this can be fixed at bugdown and for frontend, it seems it can be fixed in marker.js usermention regular expression. Will be creating PR tomorrow after updating tests.

[2018-01-24 01:05] cakleimeier commented on #2945
@zulipbot claim

[2018-01-24 02:45] Balaji2198 commented on #8146
@zulipbot claim

[2018-01-24 03:45] shreyanshdwivedi commented on #8149
@zulipbot claim

[2018-01-24 09:21] akashnimare commented on #8016
@rishig I think he might be talking about the mobile apps here since we handle this very well in electron app. In electron, we open the external links in the default browser and internal links (which starts from the https://zulip-server/#narrow) in the app itself. Related PRs -
https://github.com/zulip/zulip-electron/commit/3de3f28c4f356b8dce81c4c29295fd16cde6db1b
https://github.com/zulip/zulip-el

[2018-01-24 10:32] YJDave commented on #7617
@rishig I think this issue is solved.
Reference to PR #8050

[2018-01-24 10:34] YJDave commented on #7468
@roberthoenig ^^
Can you please checkout this issue again, and point out remaining problems mentioned?
Thanks

[2018-01-24 10:38] YJDave commented on #7711
@rishig both PRs are merged.
Can you point out remaining bugs mentioned and not solved in PR? If not any, let's close this :)

[2018-01-24 11:44] VishalCR7 commented on #6018
@brockwhittaker can you review please.

[2018-01-24 11:45] VishalCR7 commented on #6329
@brockwhittaker ?

[2018-01-24 14:51] rht opened #8155 "backend markdown: Simultaneous bold and italic of words is not yet implemented"
`***bolditalic!***` is rendered to be both italic and bold by the frontend markdown, but is rendered to be bold only surrounded by a pair of asterik by the backend markdown.

This is necessary for lossless Slack->Zulip message conversion.

[2018-01-24 19:01] timabbott commented on #1351
@eeshangarg this might be a good project for you!

[2018-01-24 19:06] timabbott commented on #1211
We at some point added `HostRequestMock`, which is a pretty nice version here.  The next step is probably to integrate the features of POSTRequestMock into HostRequestMock and eliminate POSTRequestMock.

[2018-01-24 19:07] timabbott commented on #1253
Removed "good first issue" since production testing is sorta hard, and shell colors are a bit obscure.

[2018-01-24 21:36] rishig opened #8161 "right-sidebar: Clicking between Users and magnifying glass should open User search."
This whole region should be a click target, similar to how we do Stream search.
![image](https://user-images.githubusercontent.com/890911/35358405-675a10ce-010b-11e8-9004-b5951b1cfe26.png)

It's a bit confusing not to have it work, given that we do it on the streams side.

[2018-01-24 23:17] #7405 closed

[2018-01-24 23:19] timabbott commented on #8088
Consistency in where the checkmark button lives seems good.  The part that looks off to me in both of those screenshots is the positioning of the checkmark.  I had been thinking we should just have that widget always live to the right of the rest (or have it auto-save, so it's not needed?).

[2018-01-24 23:55] timabbott commented on #8155
I don't think this is super high priority, but the mismatch means it's a bug.

(I'd just make the converter script generate the correct syntax in Zulip, and we can fix the markdown processor implementation later)

[2018-01-24 23:56] timabbott commented on #6018
@VishalCR7 requests for review should go on the PR thread, not the issue thread.

[2018-01-24 23:58] gnprice opened #8166 "Warn admins in-app when email not set up"
We're about to cut out most of the 7 steps in our install process, by allowing a server admin to set up Zulip and start playing with it without setting up outgoing email first. This should make it a lot easier for people interested in running a Zulip server to try it out!

In order for this to work, one thing we need to do is to make sure they know that they still need to set up email, and that so

[2018-01-25 00:15] timabbott commented on #8144
@rishig have we gotten feedback from a few security-minded folks on this user experience?  I worry this model might be problematic (better might be to link them to the page in "organization users" where they can reactivate users).  My thinking is basically that (A) in many organizations, normal users can invite but only admins can reactivate, so we can't change this UX for non-admins (and will nee

[2018-01-25 00:21] #7511 closed

[2018-01-25 00:59] timabbott commented on #8016
There are backend/markdown level changes that we could make that would make implementing this for mobile easier, but no, this is a webapp issue.

The issue is that we set `target=_blank` for most links in Zulip, which makes them open in a new window; for links to `currentserver/#narrow...`, we presumably don't want `target=_blank` to be included in the HTML, so the link just takes you there in the

[2018-01-25 02:45] #6329 closed

[2018-01-25 03:26] rishig commented on #8144
Didn't realize the "only admins can reactivate", and also good point about (B). Okay, let's change this to:
* If the user has been deactivated, change the error message from "Already has an account." to "Has an account that has been deactivated."

In such a case, at the bottom of the yellow box, we can write
* If admin: You can reactivate a deactivated user in organization settings.
* If not admin

[2018-01-25 04:18] rishig opened #8169 "user docs: Write a "zulip for slack users" guide."
We can put it as the third guide under here, on /help
![image](https://user-images.githubusercontent.com/890911/35370608-a5a80f56-0143-11e8-9167-5c2c786671cd.png)

[2018-01-25 04:19] shreyanshdwivedi commented on #8161
@zulipbot claim

[2018-01-25 04:21] shreyanshdwivedi commented on #8144
@zulipbot claim

[2018-01-25 04:31] dgarvit commented on #8161
@zulipbot claim

[2018-01-25 04:32] dgarvit commented on #7549
@zulipbot claim

[2018-01-25 04:40] rishig opened #8170 "org settings: Make it easy to see the custom emojis you've added personally."
Edited by @alya 2025-11:

As @timabbott suggested below, we should make sorting the custom emoji table by Author put your own emoji at the top.

[2018-01-25 04:54] rishig commented on #7617
yup, closing!

[2018-01-25 04:54] #7617 closed

[2018-01-25 10:12] rht commented on #8155
Note that GFM handles the simultaneous bold and italic correctly.

This is not possible. The conversion script converts the message in Slack format into Zulip markdown, then runs the backend markdown parser on the converted message. This is to reduce duplication in the codebase.

[2018-01-25 10:28] mathieuman6 commented on #8169
claim

[2018-01-25 10:28] mathieuman6 commented on #8169
claim #zulip

[2018-01-25 10:31] mathieuman6 commented on #8169
@zulipbot claim

[2018-01-25 10:31] mathieuman6 commented on #8169
@zulipbot claim

[2018-01-25 11:08] aedorado commented on #8161
@zulipbot claim

[2018-01-25 11:11] pgadige commented on #2429
I'm curious to know the properties and behavior of this special file. What possible content makes up the file? What could be the possible location(path) for this special file?

I observed that when the vagrant box is up and running, `.vagrant/` is created in my clone of  `zulip/` and this holds few files such as `action_provision`, `creator_id`,`id`, and I'm wondering whether the special file shou

[2018-01-25 11:28] aedorado commented on #8149
@zulipbot claim

[2018-01-25 11:29] aedorado commented on #8161
@zulipbot claim

[2018-01-25 14:55] aedorado commented on #6548
@zulipbot claim

[2018-01-25 17:42] rishig commented on #7699
hm, @synicalsyntax closing the issue should probably unassign the contributor?

[2018-01-25 17:46] rishig opened #8175 "settings: Add loading indicator for account deactivation."
Account deactivation is fundamentally a slow process, and so should have a loading indicator.
Deactivate account appears on http://localhost:9991/#settings/your-account.

[2018-01-25 18:09] rishig opened #8177 "message view: EXIF orientation is ignored, causing images to look rotated"
(@gnprice:) Here's a [nice description of the issue](https://help.gigsalad.com/article/117-fix-rotated-photos) from a different webapp, complete with instructions for how to fix it as a user:

* The cause:

  Sad but true. Some phones prevent this problem by rotating the actual image data, but many (even many recent, high-end phones) do not.

* How to fix it for your photos:

We should also develo

[2018-01-25 19:39] AasthaGupta commented on #8175
@zulipbot claim

[2018-01-25 19:48] gnprice opened #8178 "Recent messages never appear (in a muted stream)"
I opened https://chat.zulip.org/#narrow/stream/test.20here directly in a new tab.

Then I went to the end (using the Page Down key as usual). But what I actually see isn't the end -- it only goes up to a message from Dec 29, weeks ago and probably 100 or more messages:
![image](https://user-images.githubusercontent.com/28173/35408513-3f9a7c5e-01c4-11e8-98d4-c191ee687078.png)
Hitting the Page Down

[2018-01-25 20:24] showell commented on #8178
I've had this happen very intermittently since June or so.  It's like once every several weeks, and it seems to happen mostly when I'm in a PM narrow.  I don't have any great theories on why it happens.

[2018-01-25 20:35] skunkmb commented on #1768
(for ZulipBot) Yes, I am still working on this issue. It is currently active at #8081.

[2018-01-25 20:36] rishig opened #8181 "message view: Mobile web is very slow, especially on Chrome."
See https://chat.zulip.org/#narrow/stream/general/topic/mobile.20web and https://chat.zulip.org/#narrow/stream/feedback/topic/chrome.20on.20mobile.
Seems to be worse on chrome than firefox or safari.

[2018-01-25 20:50] loganwilliams commented on #7909
Okay, I submitted a pull request that fixes this issue and adds a front end test for it.

[2018-01-25 21:00] hackerkid opened #8182 "Scrolling through messages on mobile result in opening compose box"
The compose box keeps opening in chrome on android when scrolling through the messages. This has become too annoying to the point I cant use Zulip on Chrome(Android).
https://chat.zulip.org/#narrow/stream/general/subject/mobile.20web/near/466648

[2018-01-25 22:29] XavierCooney commented on #7843
Closed because PR is closed.

[2018-01-26 01:33] rishig opened #8184 "message view: Search view doesn't mark messages as read in some situations."
I may have seen this in a more general situation as well, but an easy to replicate bug:
* Search for something, like `stream:test+here hello`
* reply to the last message with `hello`

expected behavior: the message you just sent should have been marked as read.

* use arrow keys to go up and down

message is still not marked as read.

[2018-01-26 01:59] rishig opened #8186 "portico: Don't show org name and logo on /accounts/register if realm_creation."
If there is an realm on the base URL, you'll see it when you go through the create_realm flow (at least in the dev environment; I'm not sure if this is dev specific):
![image](https://user-images.githubusercontent.com/890911/35421625-1a175b70-01f9-11e8-8ac8-9f3f33aae0d7.png)

To reproduce:
* go to localhost:9991/create_realm
* Follow the create_realm flow (click on /emails on the next page, and th

[2018-01-26 02:24] aedorado commented on #8186
@zulipbot claim

[2018-01-26 02:40] Balaji2198 commented on #3917
@zulipbot  Caught up on something. Will make a PR soon.

[2018-01-26 03:30] shinytang9 opened #8187 "Installation error: windows.rb:1:in `require': cannot load such file -- ffi (LoadError)"
l am trying to install zulip on windows 8.The first time runing `vagrant up ` is successfully,but after installing for a long time, l want to reinstall using a proxy.

When l follow the documents and rerun `vagrant up`,it report an error that

windows.rb:1:in `require': cannot load such file -- ffi (LoadError)

How can l handle that?

[2018-01-26 07:58] #8187 closed

[2018-01-26 08:24] shinytang6 opened #8188 "The logic of display settings in Chinese is wrong and ungrammatical"
The option "User list on left sidebar in narrow windows"  labeled as "窗口右侧变懒的用户列表"  should be "在窗口左边栏显示用户列表".

![image](https://user-images.githubusercontent.com/22241503/35430644-2bcb0fc2-02b4-11e8-8af8-ed42602c56b3.png)

[2018-01-26 08:24] shinytang6 commented on #8188
@zulipbot claim

[2018-01-26 08:42] Yoshi8765 commented on #5200
thirded!

[2018-01-26 09:35] showell opened #8191 "layout/css: Optimize screen usage for max width (wide mode)"
For folks with large/hi-res screens running Zulip at full 100% width, we don't really take advantage of all the extra space on the screen,

We had a brief experiment with "wide mode" before, but I don't think much of the code is still around.

Discussion here: https://chat.zulip.org/#narrow/stream/frontend/subject/Layout.20Improvement/near/467154

This is a very open ended ticket that needs design

[2018-01-26 10:18] umairwaheed commented on #1760
Waiting for a review on this #7688.

[2018-01-26 13:21] rht commented on #5200
This can be quickly implemented via a bot that keeps track of the pinned messages.
`@pinbot pin https://chat.zulip.org/#narrow/stream/general/subject/hubot.20vs.20ifttt.20vs.20zapier/near/398004` will extract the stream and topic from the url and save to its internal storage.
`@pinbot ls general` lists all the pinned messages in #general, sorted by topics.

[2018-01-26 16:03] hackerkid commented on #5200
@rht I am not sure a bot is a right approach. I think a popular use case of pinned messages is to pass information to new members. New members would have zero ideas about the existence of the bot. So organization admin would have to arrange for some method to let newcomers know about pinned message bot (kind of beat the purpose of pinned message altogether).

[2018-01-26 16:08] nkmishra1997 commented on #4099
@zulipbot claim

[2018-01-26 16:25] brisc commented on #8191
As a short-term fix, add a user option that will make .app-main max-width to 97%

[2018-01-26 17:16] Yoshi8765 commented on #5200
@hackerkid while I can't contribute to development, how I would use pinned messages is similar to slack. Pinned messages would be situated per stream, so that any member in the stream can see the pinned stream and get to it very easily. Only moderators would be able to pin messages.

[2018-01-26 20:04] anirudhjain75 opened #8196 "Unable to create stream using Enter key"
System Information:
Mac OSX 10.13.2
Using Safari

After clicking on the *+* Icon, Enter the stream name and press *enter* key.

Expected Behaviour: Creation of a stream with the name specified

Observed Behaviour: No changes in the list of streams i.e. The stream has not been created.

[2018-01-26 20:41] rishig commented on #8186
Thanks for taking this up @aedorado! To reproduce:
* go to localhost:9991/create_realm
* Follow the create_realm flow (click on /emails on the next page)
* create a realm with the base URL (zulipdev.org:9991, or something like that), and call it something memorable for the realm name, like "SHOULD NOT APPEAR"

Repeat steps 1 and 2 above. You should see "SHOULD NOT APPEAR" in a place it should not

[2018-01-27 00:15] borisyankov commented on #8191
I strongly disagree that this is an improvement.
Wide text columns are not more readable. We should not punish people with larger displays.
Look at the current discussion on GitHub. It is very intentionally limited in width.

[2018-01-27 02:58] rishig opened #8200 "Attach sending client to emails sent from the send feedback button"
If you send feedback via the SEND_FEEDBACK button, it sends an email. We should append the sending_client of the Message object to the email, so we know whether the feedback is coming from the desktop app or the webapp.

To enable the feedback button in the dev environment, you'll likeyl need to do something like
`ENABLE_FEEDBACK = True`
in dev_settings.py.
The sent emails can found at localhost:9

[2018-01-27 03:04] rishig opened #8201 "left sidebar: The fading on inactive, pinned streams doesn't update when messages come in."
I haven't tried to repro this, but it happens fairly often in regular use:
* I have some pinned streams that are inactive (meaning, have no messages loaded), and hence show up in a muted grey in the left sidebar
* Someone sends a message to that stream

Expected behavior is that the stream should become active, e.g. the name should change color to the normal near-black. Instead, even clicking on t

[2018-01-27 03:30] gooca opened #8202 "Zooming in 150% overrides scrollbar"
After loading in a page on 100%, zooming in 150+% causes the navbar to lay on top the scrollbar, also causing some elements to be misaligned.

![zoomerror](https://user-images.githubusercontent.com/15152698/35468229-ec6f16c8-02e7-11e8-98fc-5282d65c86b3.gif)

[2018-01-27 03:51] Yoshi8765 commented on #2044
Going back to the original topic of seeing past history when joining a private stream -- what was the conclusion on this? It's not clear to me reading this thread.
For me, it makes sense for private streams to have these behaviors:

- The person creating the private stream is the only person who can see the stream, unless others are explicitly invited by the creator.
- A person invited into a priv

[2018-01-27 09:14] aedorado commented on #8186
@rishig I was trying to reproduce the above error, but am facing some difficulties.

In step 3, these are the details I am signing up with:
![1](https://user-images.githubusercontent.com/6378532/35470459-eb0d4fd8-036f-11e8-917b-47a8286cbcdc.png)

Filling the form redirects me here:
![2](https://user-images.githubusercontent.com/6378532/35470464-ff4f8bd2-036f-11e8-82fa-a1953207cd16.png)

When I fol

[2018-01-27 09:18] adishegde commented on #8186
@zulipbot claim

[2018-01-27 09:37] aedorado commented on #6548
@rishig

By what I understand from the conversations, we have to use the 'x' key to start composing PM message while leaving the actions done by the 'C' key untouched but remove it from documentation. May I being to work on this?

[2018-01-27 11:10] shreyanshdwivedi commented on #6032
I am still working on this

[2018-01-27 11:54] hackerkid commented on #8186
@aedorado If I remember correctly the proxy server in college blocks port 9991. So disable proxy for zulipdev.com and it's subdomains(shouldnot.zulipdev.com, zulip.zulipdev.com etc) and give it a try.

[2018-01-27 12:26] dgarvit commented on #8200
@zulipbot claim

[2018-01-27 12:31] dgarvit commented on #8184
@zulipbot claim

[2018-01-27 15:08] dgarvit opened #8206 "Add a button to jump to the bottom of the feed"
I think this would be a nice feature. Optionally we can also add feature to mark all messages as read as we jump to the bottom.

[2018-01-27 15:44] aniket-agarwal1999 commented on #8161
@zulipbot claim

[2018-01-27 23:18] #1236 closed

[2018-01-27 23:39] timabbott commented on #8184
So, two thoughts:
(1) We should get to the bottom of what's happening here
(2) I've been thinking about this -- do you think the actual desired behavior is for unread messages you see via search to be marked as read?  My personal preference as a user would be for search to not be able to accidentally mark things as read.

[2018-01-27 23:40] timabbott commented on #8200
@dgarvit the function to patch is `handle_feedback`, and it seems likely that the `event` dict passed in has the data required.  If not, we may need to do a bit more plumbing.  I should also note that we may not have unit tests for this code path, so we should test carefully and/or add a few tests.

[2018-01-27 23:44] #7699 closed

[2018-01-27 23:44] synicalsyntax commented on #7699
Fixed in #8167.

[2018-01-28 00:25] timabbott opened #8208 "Close mobile landing pages menu when touching the faded area"
This is a quick follow-up to #8194.  From that issue:

[2018-01-28 00:31] #8161 closed

[2018-01-28 05:26] dgarvit commented on #8184
My preference would be it be marked as read, given the message has been read. I think it can be confusing, when one sees that there is an unread message but turns out that they have already read the unread message.
So, should we integrate this? Or take a poll first maybe? @timabbott

[2018-01-28 05:32] Rishabh570 commented on #6990
Working..

[2018-01-28 05:32] Rishabh570 commented on #1515
Working.

[2018-01-28 06:59] XavierCooney opened #8209 "Clipping of stream and topic name in left sidebar"
Under certain conditions, some parts of the topic and stream names in the left sidebar overflow, and hidden. I have discovered three conditions that trigger this issue:
 1) Using Chrome and zoomed in at 125%
 2) Using Chrome and zoomed out at 90%
 3) Using firefox, with not zoomed in or out (100%)

Sometimes a specific stream needs to be in focus (no necessarily the stream that is clipping), so to

[2018-01-28 09:10] aedorado commented on #6548
@timabbott @showell Can someone please point out the current requirements for this issue?

[2018-01-28 10:01] Rishabh570 commented on #5639
@rodrigc Stuck on this...replied to your message :
https://chat.zulip.org/#narrow/stream/integrations/subject/buildbot.20and.20zulip.20integration/near/467085

[2018-01-28 17:02] SatyendraBanjare opened #8211 "Same named users get incorrectly mentioned."
Users with same names get incorrectly mentioned. The compose suggestions give a list of possible person to mention. If there are two or more users with same name, then the person whose name appears first in that suggestion list gets mentioned no matter whichever person is chosen to be mentioned. Here is a small demonstration video.

https://drive.google.com/open?id=1GdA3ub6TSE8WVkCi4MTe541wXkpLohE

[2018-01-28 19:14] rishig opened #8212 "org settings: Add button to deactivate organization."
It should be at the bottom of /#organization/organization-profile, available only to org admins. The warning modal should say:

This action is permanent, and cannot be undone. All users will permanently lose access to their Zulip accounts.

[2018-01-28 19:21] rishig commented on #6548
Yes, the current tests for `C` can be removed or replaced.

For the deprecation notice, how about: the first time you use `C` in a session, it pops up a modal explaining that it has been deprecated. In particular, either uses local storage or just a javascript variable, and doesn't have to talk to the backend.

[2018-01-28 19:28] rishig commented on #8184
Not totally sure what I think about (2). I agree it seems better not to mark things as read in searches, but we'd have to think through the right UI for it (e.g. how we do the mentions view), which is possibly a bigger project than it's worth.

[2018-01-28 20:23] SatyendraBanjare commented on #8211
more discussion at [#issues: same name users wrongly mentioned ](https://chat.zulip.org/#narrow/stream/issues/subject/same.20name.20users.20wrongly.20mentioned/near/470112)

[2018-01-28 20:41] #6707 closed

[2018-01-28 20:45] timabbott commented on #8211
This is a duplicate of https://github.com/zulip/zulip/issues/374

[2018-01-28 20:45] #8211 closed

[2018-01-28 21:15] timabbott commented on #8178
It could be that this is caused by some rate-limiting issue.

[2018-01-29 11:05] akashnimare commented on #8191
@brisc  It's not a good solution but if you really want this now then you can use the [stylebot](https://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha) chrome extension.
* Open https://chat.zulip.org
* Click on Stylebot
* Advanced > Edit CSS

![image](https://user-images.githubusercontent.com/2263909/35507274-32db9ec0-0512-11e8-9370-2e9a98fd04ea.png)

[2018-01-29 11:20] Kumar-Tarun commented on #8040
I'm still working on this and will release a PR soon.

[2018-01-29 15:52] shubhamdhama commented on #8212
@zulipbot claim I think creating separate endpoint which would use `do_deactivate_relam` in view code is the solution here.

[2018-01-29 17:51] rishig opened #8215 "lint: Add lint rule to warn people making changes to static/locale."
We occasionally get PRs with translations or other fixes to the files in static/locale, due to a reasonable misunderstanding of how our translation system works. It would be great to add some sort of warning that points people either to transifex or to our translation documentation.

---
Edit by @alya 2025-11:

Rather than a lint rule, we should have a GitHub action that sends the following messag

[2018-01-29 18:32] rishig opened #8216 "hotkeys: Add Ctr+k to go to search bar."
Eventually we'll likely want to have a special modal for this, but until then we should bind Ctr+K to go to the search bar. This is both a more convenient shortcut (it works when you're in compose), and is already in muscle memory for people coming from slack.

[2018-01-29 19:04] shubhamdhama commented on #8212
How deactivation of the realm "cannot be undone", as it can be reactivated by 'reactivate_realm`.

[2018-01-29 19:04] #7909 closed

[2018-01-29 19:05] rishig commented on #8212
It cannot be done by users. It can (only) be done by someone with direct access to the server.

[2018-01-29 20:04] akashnimare opened #8217 "Add an option to skip/end the intro tour"
We should have an option to end/skip in the intro guide.

![image](https://user-images.githubusercontent.com/2263909/35531652-98616fe0-055d-11e8-8305-28b0bc958561.png)

FYI, @rishig

[2018-01-29 20:51] #7499 closed

[2018-01-30 05:08] Anupam-dagar commented on #8216
@zulipbot claim

[2018-01-30 06:02] aedorado commented on #6548
@rishig Sounds good, so that local variable will have to be reset whenever a user logs out right?

[2018-01-30 07:49] AnshumanPati commented on #5802
I am still working on it.

[2018-01-30 13:37] darthgera123 commented on #8217
@zulipbot claim.

[2018-01-30 13:37] darthgera123 commented on #8217
please guide with this issue

[2018-01-30 13:38] akashnimare commented on #8016
I don't think it's true. I just checked it; we do open `currentserver/#narrow` in the same tab.

[2018-01-30 13:38] darthgera123 commented on #8201
@zulipbot claim

[2018-01-30 13:39] darthgera123 commented on #8201
Please guide as well on the issue

[2018-01-30 15:17] rahulk98 commented on #6126
@zulipbot abandon

[2018-01-30 16:59] jainkuniya opened #8221 "Issue with scrollView in settings, scroll position is not updated when list items reduces (via search filter)."
Steps to reproduce:
1. Open `menu` (`gear` icon (`g`))
2. Select `Organisation settings`
3. Select `Bots` or `Users`
4. Scroll a bit (half way down)
5. Search for any user (Vishwesh) or bot (youtube) in the search bar
6. list is empty (I guess this is due to scroll position being same as before, half way down and list contains few items so it is not scrollable.)

Now follow same above steps (omitt

[2018-01-30 17:43] jainkuniya opened #8222 "Refactor user groups creation/deletion permissions."
* Send message through notification bot for both events, addition & removal from groups.
* Also a notification to admin when someone creates/delete group.
* Add RealmAuditLog entries, so we can track down what happened.

https://chat.zulip.org/#narrow/stream/general/topic/user.20groups.20permissions

[2018-01-30 18:38] rishig commented on #7711
Great! Two more things:
![image](https://user-images.githubusercontent.com/890911/35584111-dc9d81ee-05a8-11e8-9a73-58258e3930b5.png)
* Let's remove the "View Stream" button in the upper right
* Let's remove the "Stream membership" section

[2018-01-30 19:44] rishig opened #8225 "user settings: Add "Sourced from gravatar" for profile images sourced from gravatar."
This can go in small text below the avatar image itself, on /#settings/your-account.
We should only show this when the avatar is not algorithmically generated.

The two motivations for this are:
* It can be a bit startling to see Zulip pre-load your avatar, if you don't remember creating a gravatar.
* Eventually we'll likely enable pulling your avatar from other places as well (e.g. GitHub, when y

[2018-01-30 20:52] gnprice commented on #8108
I've just merged a few commits that do most of this refactoring above; I consider that part done, except that when the POST request is moved to AJAX we'll write that as a separate view function. (That will be super simple because there's now just a few lines of POST-specific code in the view.) @brockwhittaker FYI.

I left our Customer model logic entangled with the Stripe-specific logic in the new

[2018-01-30 21:04] rheaparekh commented on #8225
@zulipbot claim

[2018-01-31 01:12] rishig opened #8230 "stream creation: Creating a stream without yourself in it doesn't take you to the stream page afterwards."
To reproduce:
* Log in as Iago
* Create a public stream without Iago in it

Expected behavior is to get to the stream page, just like you would if you were in it.

I didn't explore this thoroughly, but when resolving this I would test with each of the four possibilities:
* public and private stream
* admin and non-admin

@YJDave fyi.

[2018-01-31 03:30] YJDave commented on #8230
@zulipbot claim

[2018-01-31 03:50] YJDave commented on #8196
@anirudhjain75 Thanks for reporting!
Can you check that you have checked your email-id in `People to add` list? If you aren't subscribed to stream, you will not get the stream under `Subscribed` option, but you can check on `All stream` option.
If yes(you are subscribed to stream on creation), then can you share a log, so we can track down what's happening.

Also can you give more details about wh

[2018-01-31 04:12] YJDave commented on #8196
I am not sure, whether you try this or not. But stream does not create on pressing enter key, you have to click on `Create` button(on lower right side).

[2018-01-31 11:56] rahulk98 commented on #7884
@zulipbot claim

[2018-01-31 13:28] showell commented on #6548
Won't we need some kind of backend setting to prevent folks from getting nagged every time they use this in a new browser window?

[2018-01-31 15:26] rheaparekh commented on #8169
@rishig I am slightly confused with the issue title "for slack users". Do we want this to be a documentation of the importer?

[2018-01-31 16:17] hackerkid commented on #8222
@zulipbot claim

[2018-01-31 19:35] rishig opened #8235 "emoji: Walking emoji has funny line on top with Apple emoji set."
I think this isn't true in our default google emoji set, but I believe `:walking:` looks like following in one of the other ones:
![image](https://user-images.githubusercontent.com/890911/35643284-b1277402-067a-11e8-9ca2-9ebd65a5807d.png)

[2018-01-31 19:36] timabbott commented on #7838
@umairwaheed do we need to do an update to take start using the `vagrant-lxc` release containing that fix?

[2018-01-31 22:51] #8208 closed

[2018-01-31 22:53] timabbott commented on #8225
A few thoughts:
(1) Does Gravatar provide a convenient API to check if the Gravatar avatar is custom or generated?
(2) Would it make sense to instead just have a note "Zulip uses <a>gravatars</a> as its default avatars" if you haven't uploaded one?  Seems like a small project rather than a large.

[2018-01-31 22:56] timabbott commented on #8235
I reproduce this: it's with the Apple emoji set.

[2018-01-31 22:59] a-tbd commented on #992
Hi!  I'm interested in working on this issue.  What's the best way for a first time contributor to help?

[2018-01-31 23:17] #8186 closed

[2018-02-01 02:50] gnprice opened #8236 "Stuck unreads that I've read elsewhere"
I have three PMs that a Zulip tab of mine thinks are unread:
![image](https://user-images.githubusercontent.com/28173/35658406-fe671e62-06b5-11e8-83ad-665448607576.png)
The favicon and title agree with the sidebar: both show 4 unreads, and the favicon alternates showing the "person" icon.

I actually have a second tab -- something I don't usually do -- and I read the messages there, and it has the

[2018-02-01 03:12] PentaHiggs commented on #7963
I don't believe the changes in that commit mentioned above caused this discrepancy.  What's going on here is that the markdown engine matches `$$ x+3 $$` only when not at the end of a word boundary on either outer side of the dollar signs.  Or, at least the Python Markdown version does (words are strings of alphanumeric characters).  In Python Markdown, we try to match a regex at every position in

[2018-02-01 04:27] umairwaheed commented on #7076
@zulipbot, claim

[2018-02-01 04:34] umairwaheed commented on #7838
Yes, I think we need to do `vagrant plugin install --plugin-version 1.3.0 vagrant-lxc`. Let me check this first.

[2018-02-01 04:37] rishig commented on #8169
No, it's just for people using Zulip for the first time, but whose first/main experience with team chat was Slack.

[2018-02-01 08:08] rishig commented on #6548
The modal only shows if you accidentally type the deprecated key.
I guess that doesn't work though for hotkeys that change, rather than being deprecated. We can worry about that later though, I think.

[2018-02-01 12:04] akashnimare opened #8239 "portico: text overlapping on login page"
![image](https://user-images.githubusercontent.com/2263909/35677486-c1da2c62-0775-11e8-8b58-ac5bbf3cc02f.png)

can be reproduce using -
* Enter dummy username and password
* Click on Sign In button
* Wait for page reload
* Click on Sign in button

[2018-02-01 15:40] a-tbd commented on #3030
@timabbott hi!  I'm looking for a good first issue and this popped up, but I'm not able to reproduce the behavior either.  Should this be closed?

[2018-02-01 16:57] rheaparekh commented on #8225
@timabbott I have found a method of checking if the Gravtar is custom or generated. If we add a `d=404` to the url gravatar will return a 404 status instead of a generated image if the user does not have an image set.
As @rishig mentioned, if we get the avatar from GitHub etc, then I think "Sourced from gravatar" would be better than  "Zulip uses gravatars as its default avatars".

[2018-02-01 17:42] brockwhittaker commented on #8235
Our emojis are just way too close to each other in the sprite sheet. The issue is that the feathered edges for emojis flow outside of their boxes into other boxes. The line above comes from the mountain biker emoji character.

The solution would be to add a pixel or so of padding on all sides of the emojis and bake that into the algorithm for generating CSS.

[2018-02-01 18:01] HarshitOnGitHub commented on #8235
This had been a long standing issue in iamcal's emoji-data repository(https://github.com/iamcal/emoji-data/issues/92). I was tracking it but due to my sickness I lost track of it. Just checked it and it has got fixed in a recent release along with some other exciting improvements. I will got through other changes in the package and create a PR to switch to upgraded spritesheets.

[2018-02-01 18:45] dhruvdutt commented on #694
@timabbott Any detailed information about this about which exact things need to be work upon?

[2018-02-01 18:45] anirudhjain75 commented on #8196
@YJDave If we just want to create a stream with a name and let the default settings be applied, and press enter button instead to moving my cursor and clicking on the **Create** button

[2018-02-01 18:47] gnprice commented on #8236
Great. FWIW, I just saw this again this morning, with a different PM thread:
![image](https://user-images.githubusercontent.com/28173/35696681-f6e7e20c-073c-11e8-9ebb-d618b13b5b99.png)
so my estimate of how common this is is now a lot higher.

This time, there was one edited message in the thread -- but when I narrowed to PMs in the tab with the stuck unread, the message it went to wasn't that one

[2018-02-01 18:54] a-tbd commented on #5975
@zulipbot claim

[2018-02-01 19:14] rishig commented on #5975
Added the help wanted label.
It's possible the resolution to this issue is "nothing needs to be done", which would be a fine thing to know (and we can find another issue if so).

[2018-02-01 19:15] a-tbd commented on #5975
@zulipbot claim - am reading about accessibility tools/best practices now to see if the current implementation (<span> and <img> tags) are ok.

[2018-02-01 19:30] rishig commented on #8235
Oh awesome!
While doing the switch, may also make sense to look at #7862.

[2018-02-01 20:15] rishig opened #8242 "right sidebar: Change coloring algorithm for group PMs."
The current algorithm feels buggy to people; we've gotten several reports like
https://chat.zulip.org/#narrow/stream/electron/topic/.5BBug.5D.20Group.20PMs.20showing.20as.20online

A better algorithm would be
* full green = everyone in the PM is green
* light green = at least one person in the PM green
* white otherwise

[2018-02-01 20:38] timabbott commented on #5928
@sampritipanda we should chat about this one once you've gotten more familiarity with using toMarkdown.  I think it's possible that we want to fill the "plain text" part of the clipboard with a version that's has toMarkdown applied to it (the other option, which might be better in some ways, would be to fetch the plain text from the server like we do for the "show original" feature, but I'm worrie

[2018-02-01 20:54] rishig commented on #8225
yeah, I was hoping this is a small project. If the 404 thing is easy to implement, let's do that, otherwise we can just punt on this issue for now.

[2018-02-01 21:54] AmAnAgr commented on #8155
@zulipbot claim

[2018-02-01 22:08] brockwhittaker opened #8245 "webpack: Webpack does not auto-compile on file change anymore."
When working with the portico javascript files like **static/js/portico/signup.js**, when changes are saved, webpack no longer recompiles the bundle, forcing developers to restart the server to see any changes.

@showell, do you guys know anything about this?

---

To reproduce:

1. Start the server and open any webpack bundle JS file (eg **static/js/portico/signup.js**).
2. Make some change to it

[2018-02-01 22:14] timabbott opened #8246 "markdown: Document new "ordered list" feature."
In b54f78968f566103368ae36f836c1a691c7096b2, we added support for auto-numbering ordered lists of this form:
[code]

However, we neglected to add it to the documentation (both in-app, accessible via the `?` hotkey and in the /help/ page on message formatting).  We should fix that.

@wjkg FYI, do you want to take this?

[2018-02-01 22:25] timabbott opened #8247 "Make it easy to copy-paste extra long emails"
Reproducer:
(1) Change a user's email to something super long
(2) Click that user's avatar to get the profile popover.
(3) Try to copy-paste the actual email address.  You can only access it via hover, see here:
![image](https://user-images.githubusercontent.com/2746074/35706657-77e643d0-075b-11e8-9056-c3244eab0b1e.png).

(The screenshot is a bit messed up since the hover was fading as I took it).

[2018-02-01 22:47] rishig commented on #8235
I think we just use the one from iamcal. iamcal already has a sprite sheet that is higher resolution with fewer colors.

[2018-02-01 23:08] cPhost commented on #8247
I will take this up @zulipbot claim.

[2018-02-02 00:08] brockwhittaker commented on #8239
fun. I got this. @zulipbot claim.

[2018-02-02 00:13] brockwhittaker commented on #8245
Also can someone tag this as important? I've had to restart my server dozens of times today because of this bug.

[2018-02-02 00:44] timabbott commented on #8245
Haven't tried to reproduce this, but that sounds terrible.  Any notes on how to verify?

[2018-02-02 00:45] timabbott commented on #8235
As Harshit mentioned, we're using an upstream sprite sheet; we don't generate it at all.  Sounds like we can just upgrade the upstream project; @HarshitOnGitHub I'll assume you've got this.

[2018-02-02 00:56] brockwhittaker commented on #8245
Added notes into the post, thanks!

[2018-02-02 02:12] timabbott commented on #694
This is a quite large project; the next steps involve migrating a bunch of JS files from django-pipeline to webpack so that we can transpile them in a future version...

[2018-02-02 02:16] timabbott opened #8249 "Give a user-facing error for dev_direct_login failures"
Currently, we just 500 when a client tries to use the direct login backend in production; we should return an error HttpResponse instead.  I'd check what we currently do for other login failures, and copy that.

[code]

There's a second `raise Exception` a bit later in the file that we should fix too.

@umairwaheed can you take this one?

[2018-02-02 03:38] showell commented on #8236
This is definitely mysterious.  The data structures for unread counts are pretty simple.  I can't reproduce this problem locally. I feel like the mostly likely explanation here is that the second tab stops receiving events due to some long-polling issue, and that manifests as an unread count problem.  But I'd love a consistent local repro to prove me wrong.

[2018-02-02 04:24] YJDave commented on #8196
From my point of view, we should not provide creating stream with only **Enter** key. If user accidentally press **Enter** key, stream will be created and it can only deleted by realm admin. Though not sure, pinging @rishig  here.

[2018-02-02 05:17] rishig commented on #8196
yeah, I think the current behavior is the desired one, and we'd rather err in the direction of not accidentally creating a stream.
Closing, but thanks for reporting!

[2018-02-02 05:17] #8196 closed

[2018-02-02 06:08] AmAnAgr commented on #8054
@zulipbot claim

[2018-02-02 06:34] AmAnAgr commented on #8054
@zulipbot claim

[2018-02-02 07:12] AmAnAgr commented on #6020
@zulipbot claim

[2018-02-02 08:17] AmAnAgr commented on #6050
@zulipbot claim

[2018-02-02 08:18] AmAnAgr commented on #6050
@zulipbot claim --force

[2018-02-02 08:32] AmAnAgr commented on #5803
@zulipbot claim

[2018-02-02 08:39] amanagr commented on #5803
@zulipbot claim

[2018-02-02 10:43] aedorado commented on #8242
@zulipbot claim

[2018-02-02 14:13] akashnimare opened #8253 "Broken user avatar if sourced from gravatar."
User avatar which is sourced from gravatar is broken in account setting -

![image](https://user-images.githubusercontent.com/2263909/35737239-ddb78c1e-0850-11e8-91c0-0b332ebe868e.png)

More discussion [here](https://chat.zulip.org/#narrow/stream/frontend/topic/avatars).

[2018-02-02 16:36] amanagr commented on #8054
@zulipbot claim

[2018-02-02 16:47] amanagr commented on #8054
@zulipbot claim

[2018-02-02 17:04] amanagr commented on #5803
@zulipbot abandon

[2018-02-02 17:04] amanagr commented on #8054
@zulipbot claim

[2018-02-02 19:45] akashnimare opened #8255 "portico: Add meta tags"
This will improve our SEO.

[2018-02-02 19:46] akashnimare commented on #8255
@zulipbot claim.

[2018-02-03 01:00] wjkg commented on #8246
@zulipbot claim

[2018-02-03 01:38] #8146 closed

[2018-02-03 01:49] timabbott commented on #8054
@synicalsyntax @lonerz any idea what's up with the duplicate zulipbot messages here?

[2018-02-03 02:06] lonerz commented on #8054
There was a spam of @zulipbot claim comments that were deleted.

Sent from mobile. Please excuse any typos.

On Feb 2, 2018 5:49 PM, "Tim Abbott" <notifications@github.com> wrote:

[2018-02-03 07:18] amanagr commented on #8054
Sorry for spam.
This was my [issue](https://chat.zulip.org/#narrow/stream/issues/topic/.238054).

[2018-02-03 09:13] rheaparekh commented on #8253
@zulipbot claim

[2018-02-03 09:38] rahulk98 commented on #6714
@zulipbot claim

[2018-02-03 12:42] aniket-agarwal1999 commented on #8242
@zulipbot claim

[2018-02-03 12:58] AasthaGupta commented on #7446
@zulipbot claim

[2018-02-03 15:38] diveshkamble commented on #8242
@zulipbot claim

[2018-02-03 16:43] rishig commented on #8242
We should make sure only one person is working on this; in this case it seems like @aedorado is. @synicalsyntax, do you know what happened with zulipbot here?

[2018-02-03 18:29] lonerz commented on #8242
@rishig we allow multiple-person claiming. It's interesting that @aniket-agarwal1999 wasn't assigned, but probably because the invitation wasn't accepted.

[2018-02-03 18:31] rishig commented on #8242
oh interesting. I think probably we shouldn't allow it; I think there hasn't been a situation where that's what we wanted.

[2018-02-04 01:25] PentaHiggs commented on #7740
After a bit of preliminary research, it seems that nearly all apps allow for multibyte characters before a fully qualified url, even if they're European characters, such as in ühttps://www.example.com.  Whether characters are allowed before something like www.example.com depends on the app.  The currently proposed change above breaks a lot of tests, so instead I propose that we do the minimal poss

[2018-02-04 01:30] cakleimeier commented on #2945
Still working on this issue.

[2018-02-04 02:01] PentaHiggs commented on #687
This issue was fixed by 83f563aeff2358ba159b2349ab39382450e376a9, it should be closed.
@timabbott

[2018-02-04 03:00] rishig commented on #7740
I think linkifying Zhttps://google.com is particularly nice for mobile or other fast copy-and-paste situations. I also think there are not any situations where someone submitted Zhttps://google.com and didn't intend https://google.com to be a link.

For the Zwww.google.com case, I agree we shouldn't bother separating out the Z from the www part if it is a lot of work.

[2018-02-04 03:35] PentaHiggs commented on #7740
That's a good point.  I was thinking of there being separate logic depending on whether we specify the protocol (e.g. https://) or not, but that would be complicated.  Now that I think about it a bit more, it does seem kind of difficult to type it but not intend to create a link.  I do wonder, though, why we were demanding that links start after either whitespace or one of the special characters i

[2018-02-04 03:57] rishig commented on #7740
I assume someone just copied the habit from how we do other things in our markdown. E.g. I'm guessing `Z*this is not italic*` in markdown.

[2018-02-04 08:25] utkarsh23 commented on #5273
@zulipbot claim

[2018-02-04 20:08] timabbott commented on #687
Agreed, closed, thanks @PentaHiggs!

[2018-02-04 20:08] #687 closed

[2018-02-05 14:12] saraervik commented on #7564
@zulipbot claim

[2018-02-05 14:26] saraervik commented on #7564
@zulipbot claim --force

[2018-02-05 15:38] shammah2 commented on #752
This would be a VERY useful enterprise feature

[2018-02-05 17:06] rishig opened #8275 "hotspots: "Got it" text in button is cut off in longer translations."
In particular, https://screenshots.firefox.com/wvCF7r9PhYf4QPj7/nerdocs.zulipchat.com in German. This is from the "New Topic" hotspot.

[2018-02-05 19:04] timabbott commented on #7740
I suspect this is because we want the regular expression to capture the entire part of the string that might be a URL.  Perhaps the correct behavior would be to have a whitelist rather than a blacklist (i.e. letters/numbers/-/etc.) for what characters can appear at the start of the URL, rather than the other way around.  But if that doesn't make sense for some reason, I think adding multi-byte cha

[2018-02-05 19:43] zingmars commented on #5146
It's not just `www.` that trips the search function.

I.e. I have a link `https://kdenlive.org/`. Searching for `kdenlive` returns nothing. `kdenlive.org` finds the URL. `https://kdenlive.org/` finds the URL, but it seems that the `https://` part isn't marked at all.

`https://www.blog.google/` - `www.blog.google` finds it, `www.blog` or `blog.google` finds nothing.

It's actually fairly annoying.

[2018-02-05 20:48] timabbott commented on #8253
The root problem here is that we have the new `client_gravatar` setting enabled in the webapp, and that was sending `None` for all the callers of `avatar_url()` in the backend.  While that's what we want for data on other users' avatars, I think for the avatar of the current user, we should just send the full URL over the wire unconditionally (otherwise clients need to do something like #8265, whi

[2018-02-05 20:48] #8253 closed

[2018-02-05 21:23] timabbott commented on #387
https://github.com/zulip/zulip/issues/387 has a pretty good implementation; I'm closing #387 just because it's pretty stale at this point.

[2018-02-05 21:36] #7626 closed

[2018-02-05 21:43] #6477 closed

[2018-02-05 21:43] #8239 closed

[2018-02-05 23:19] #8019 closed

[2018-02-05 23:40] synicalsyntax commented on #8206
Isn't there already a hotkey `G` for this?

[2018-02-05 23:45] lonerz commented on #8206
Yep. `G` works.

Sent from mobile. Please excuse any typos.

On Feb 5, 2018 3:40 PM, "zulipbot" <notifications@github.com> wrote:

[2018-02-06 00:02] #8166 closed

[2018-02-06 00:18] timabbott commented on #8206
I think the point is to have a UI-visible option.  What I've been meaning to do as a first pass at this is add a caret menu next to "All messages" for "mark all as read", similar to what we have for individual streams.

[2018-02-06 00:18] timabbott commented on #8221
@jainkuniya just to be clear, this is with the various settings pages in the webapp?

[2018-02-06 00:19] gnprice commented on #6534
I'm going to revert this change (#6591) in master -- in retrospect that's what I should have done back in December. Instead, I only reverted it in the very short branch we maintain on top of master (for things like hotfixes and hacky bits of local configuration). That left master still in a state that can't be deployed as is on zulipchat.com, or any other large established Zulip server, without ca

[2018-02-06 00:27] #7076 closed

[2018-02-06 00:30] timabbott commented on #8188
Closing because this isn't an effective way to fix the issue permanently; see #8189 for details.

[2018-02-06 00:30] #8188 closed

[2018-02-06 00:30] timabbott commented on #8182
Tagging as a priority.  Would love for someone to do some debugging and just figure out why it's opening.  @brockwhittaker do you have an Android device handy?

[2018-02-06 00:31] timabbott commented on #8140
So it is.  Seems definitely worth fixing.  @synicalsyntax is this something you'd be interested in taking?

[2018-02-06 00:33] brockwhittaker opened #8276 "message-feed: Do not show multiple time stamps if they are the same."
Currently we show timestamps for all messages, but we could clean up the page if we just showed timestamps for messages that have a different timestamp than the last.

<img width="756" alt="screen shot 2018-02-05 at 4 32 12 pm" src="https://user-images.githubusercontent.com/10321399/35835895-3b2782d0-0a92-11e8-9899-d8db4bc07b76.png">

[2018-02-06 00:34] brockwhittaker opened #8277 "message-feed: Spoof time with generated messages in development."
Currently all the messages are sent at the "same time" when really they should be randomly spread out over time in order for us to be able to easily test other features that are time related in development.

[2018-02-06 00:39] brockwhittaker commented on #8182
I do, yep. Will do some testing around this. I have an idea of why this is happening.

[2018-02-06 01:26] tamiebug opened #8278 "markdown: Increase aggressiveness of logic for placing inline image previews within messages"
As a follow-up to #7537, it might make sense (as suggested by @rishig) to make the logic for placing inline image previews within messages even more aggressive than it previously was.  Instead of putting them at the ends of paragraphs and list items from which their links are sourced, they could, if separated from the rest of the paragraph or list item by newline characters, be instead placed with

[2018-02-06 01:36] timabbott commented on #8277
Agreed; ideally, they'd be spread over the last week or something when generated.  Tagging as a priority, since this seems like something that should be relatively easy and fairly valuable to fix.

[2018-02-06 01:40] timabbott commented on #8278
I think so.  Basically, if we have 3 lines (with an image URL in the middle) within an HTML paragraph (but actually separated by two `<br>` tags), we probably want it to be split into two HTML paragraphs with an image in between.  I think from a user perspective, it already looked like it was 3 paragraphs, visually.

I think maybe the answer to the previous question addressing this -- we'd be gene

[2018-02-06 01:43] timabbott commented on #8276
I'm not sure this is likely to come up much in actual usage (usually people don't send 15 messages in a single minute), and there are some tricky problems for trying to hide them sometimes with scrolling (you need to know which of the block of messages with the same timestamp are visible, or otherwise risk having no timestamp visible at all, which is annoying).  Given those problems I don't see a

[2018-02-06 01:43] #8276 closed

[2018-02-06 01:52] PentaHiggs commented on #8278
All right, that does make sense.  I was thinking that maybe when an inline image preview splits a paragraph in two, it should be a smaller preview, but that seems pretty unnecessary.  Like you said, from a user perspective it does already look like three paragraphs; it shouldn't be necessary to treat it any differently.

[2018-02-06 01:58] rishig opened #8279 "typeahead: Don't autocomplete for suffixes followed by a space."
Things like `#s ` (with a space at the end) trigger the autocomplete, which is not what we want. More generally, for `#word text` (and similar situations, like `@word text` and `:word text`), we should only show the autocomplete for entries where `word` matches the full first word of something being completed (and similarly for multi-word phrases).

Note this should apply even if `text = ''`.

[2018-02-06 02:02] #5489 closed

[2018-02-06 04:29] YJDave commented on #8279
@zulipbot claim

[2018-02-06 04:50] jainkuniya commented on #8221
yes! I can reproduce it on
* `/#organization/user-list-admin`
* `/#organization/bot-list-admin`
* `/#organization/default-streams-list`

[2018-02-06 04:52] umairwaheed commented on #1760
Waiting for a review on this #7688.

[2018-02-06 05:36] patricknaughton01 commented on #8275
@zulipbot claim

[2018-02-06 05:40] zy964c commented on #7830
@zulipbot claim

[2018-02-06 05:48] patricknaughton01 opened #8283 "Hotspots Documentation"
There's no docstrings in zulip/static/js/hotspots.js to explain what the functions do specifically. This is perhaps not that large of an issue.

[2018-02-06 06:26] patricknaughton01 commented on #8275
![english](https://user-images.githubusercontent.com/28968518/35844704-68552504-0ad4-11e8-88af-2065b0dfdf17.png)
![german](https://user-images.githubusercontent.com/28968518/35844705-686234e2-0ad4-11e8-8a81-ec50c058223a.png)

[2018-02-06 11:25] YJDave commented on #7711
Submitted #8241

[2018-02-06 12:52] rheaparekh commented on #6534
@gnprice I missed this issue. I am really sorry about my negligence here, and I'll make it my first priority to complete this issue. I will take care that this doesn't happen again in the future.

[2018-02-06 12:59] shubhamdhama commented on #999
- [x] check_message error conditions: (1) empty message_to, (2) missing topic, (3) empty string topic

[2018-02-06 17:00] #8140 closed

[2018-02-06 17:01] timabbott commented on #8283
@patricknaughton01 what information specifically are you looking for?

[2018-02-06 18:30] rishig opened #8289 "dev env: Pre-populate open graph cache in populate_db."
Getting this error on do-destroy-rebuild-database, when not connected to the internet.
[code]

Tim says:
It's trying to do an open graph preview, I think.
Because that's part of the test data.
I think we should be able to address that by pre-populating a certain cache a bit earlier in populate_db.
In particular, all the URLs in zerver/fixtures/config.generate_data.json should probably be pre-popul

[2018-02-06 18:46] a-tbd commented on #5975
It would be great if someone with experience with screen readers could test zulip.

I tried chromevox, read aloud, and apple voiceover and found that zulip doesn't really work with any of these. chromevox will read the name of the realm and then the title of a message, but not the message contents. read aloud (another chrome extension) reads content when it's highlighted. it reads emoji that are p

[2018-02-06 18:46] a-tbd commented on #5975
@zulipbot  unclaim