[2022-09-13 18:58] alya commented on #22945
Thanks for the report @RensarRO . I [started a thread](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Cyrillic.20name.20in.20sAMAccountName.20issue.20.2322945) in the Zulip development community.

[2022-09-13 19:28] fjarlq commented on #2517
Related use case: I'd like to be able to create a stream in which different movies are discussed, but I want to prevent spoilers. This could be done if a stream could be configured such that its topics are always 1) muted by default; and 2) hidden by default (except topic name). Users could then select from the topic list (movie titles) to reveal the discussions they want. Or they can create a new

[2022-09-13 20:13] alya commented on #22933
Thanks for the question! Unfortunately, this is not currently possible.

In the future, we could implement an "advanced search" feature in the "Manage users" organization administration panel.

[CZO discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/Search.20by.20description.20.2322933/near/1434878)

[2022-09-13 20:36] alya commented on #17646
Closing this one, as we now have a different way of categorizing streams, and are unlikely to go in this specific direction.

Related issues that remain open: #10552, #22877

[2022-09-13 20:36] alya commented on #22877
Thanks for the interesting suggestion! Related issue: #10552

[2022-09-13 23:18] timabbott commented on #22945
The error you're getting is that `вася@clt-lab.ru` is not a valid email address. Zulip requires all users to have a valid email address -- this is important for Zulip to send them email notifications. We have some ongoing work in the direction of supporting for users without an email address, but it'll require UI changes -- the UI shouldn't offer to let them configure email notifications if that w

[2022-09-14 05:37] jacopo097 commented on #22933
Ok, thanks for the answer ;)

[2022-09-14 05:47] timabbott opened #22952 "Fix browser title for narrowed views to match visible title"
As pointed out in https://chat.zulip.org/#narrow/stream/9-issues/topic/title.20bar.20not.20updating.20on.20search/near/1434954, the browser `title` element has some bugs where it doesn't update properly when visiting a search view.

The existing code is this:
[code]

Note how it falls through at the end, which is what causes the browser's title to not update properly.

Rather than adjusting the ca

[2022-09-14 06:03] alya commented on #8217
Great, that should work then! The feature has been available for some time, but we're just now in the process of adding documentation to the help center. For now, you can see [here](https://github.com/zulip/zulip/pull/22772#issuecomment-1243082499) for (draft) instructions.

[2022-09-14 06:16] alya commented on #22582
Yep, we use `/attribution` for attributions.

[2022-09-14 06:19] micmejia commented on #22877
@alya @timabbott What do you think about the proposed implementation above? Would the community want this feature? If yes, maybe when I get the chance I'll try to help implement and submit PR.

Though I haven't looked closely on the zulip code yet -- any input on where to look first, will be valuable. Thanks.

[2022-09-14 06:29] alya commented on #22902
It would be fine to submit a PR fixing either of the above issues separately.

[2022-09-14 06:30] alya commented on #22902
@ganpa3 Are empty user groups prohibited? If so, the right solution is probably not to show an `x` on the user pill when there is only one user in the group.

[2022-09-14 06:33] alya commented on #22866
As noted in the issue:

We should update the tip at the bottom to simply say:

Please make sure the sentence above is marked for internationalization (cf. https://zulip.readthedocs.io/en/latest/translating/internationalization.html#jinja2-templates).

[2022-09-14 06:33] alya commented on #22866
I'm not sure what's unclear, so you will need to ask a more specific question if additional clarification is required.

[2022-09-14 06:37] alya commented on #21841
Hmm, we may eventually want to both -- have a good default, *and* let users customize further if desired.

[2022-09-14 07:23] alya opened #22954 "Stop using the Bootstrap form-horizontal CSS class"
As noted by @timabbott  in [this comment](https://github.com/zulip/zulip/pull/22707#issuecomment-1214250674):

We should try to excise is the Bootstrap `form-horizontal` CSS class. It's pretty likely we're overriding it ~everywhere that it applies.

We should do careful auditing for this next batch -- check pages in both normal and mobile sizes, and perhaps use the inspector to try to see what sty

[2022-09-14 07:27] alya commented on #22813
@ryuusama09 please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

In general, the `git grep` command can help you find the

[2022-09-14 09:44] ryuusama09 commented on #22813
understood @alya , first I would like to know the top to bottom understanding of the project for which your assistance would be very helpful . Can you guide me regarding that as I am new to this .

[2022-09-14 16:26] #21265 closed

[2022-09-14 19:49] om2137 commented on #22946
can i work on it ?

[2022-09-14 19:50] om2137 commented on #22946
claim

[2022-09-14 19:51] om2137 commented on #22946
@zulipbot claim

[2022-09-14 19:53] om2137 commented on #22946
@zulipbot claim

[2022-09-14 19:57] om2137 commented on #22946
can i work on it ?

[2022-09-14 20:38] AntonMyr commented on #11637
This would be great!

[2022-09-14 22:11] alya opened #22957 "Convert "Invite users to Zulip" modal to a dialog_widget"
We should make "Invite users to Zulip" use the dialog_widget component used by our other modals. This should make the styling more consistent.

[2022-09-14 22:12] alya commented on #22957
@ganpa3 would you be interested in picking up this one?

[2022-09-14 22:15] alya opened #22958 "Scrollbars should not go into header row"
In a number of places, including Recent topics and settings tables, we have scrollbars that go into the header row. This is incorrect, as the header row is not scrolled. We should fix this.

<img width="745" alt="Screen Shot 2022-09-13 at 11 46 57 AM" src="https://user-images.githubusercontent.com/2090066/190272307-c254464f-f6ef-4f42-8304-3522625743f2.png">

<img width="763" alt="Screen Shot 2022-

[2022-09-14 22:21] alya commented on #22813
@ryuusama09 the contributor guide I linked above is the place to start. Best of luck!

[2022-09-14 22:22] alya commented on #22902
Actually, we may hold off on fixing this, given @m-e-l-u-h-a-n 's work on a new group management UI.

[2022-09-14 23:15] alya commented on #22022
Based on [discussion on CZO](https://chat.zulip.org/#narrow/stream/431-redesign-project/topic/sequencing.20for.20.2322022/near/1435544), for practical implementation reasons, we will plan to start with the color changes.

Marking the issue as "help wanted' just for changing the colors (not fonts/spacing/etc.) for now.

[2022-09-15 00:51] #19055 closed

[2022-09-15 06:01] ganpa3 commented on #22957
@zulipbot claim

[2022-09-15 09:25] amanagr commented on #22946
@om2137 thanks for your interest in this. I am working on this.

[2022-09-15 10:05] ganpa3 opened #22961 "Pressing `Enter` on an input in `Manage user/bot` modal opens the `Deactivate user/bot` modal."
### To reproduce:
1. Open the `Manage user` or `Manage bot` modal.
2. Press `Enter` on a text input, such as `Full name` or `Endpoint URL`.

cc. @yogesh-sirsat
![error](https://user-images.githubusercontent.com/58626718/190376444-6a6c2c34-9be9-402d-a8ec-49f32e28abc5.gif)

[2022-09-15 10:08] ganpa3 commented on #22961
Opened #22962

[2022-09-15 10:10] ganpa3 opened #22963 "Stream name header not visible at narrow widths in the `Manage stream` overlay."
![image](https://user-images.githubusercontent.com/58626718/190377582-adb45fc0-0768-431a-bf54-5adcaa0c9316.png)

### VS
![image](https://user-images.githubusercontent.com/58626718/190377657-d9c7be69-9014-4df7-9f22-37d0a01cae62.png)

[2022-09-15 10:42] xeruf commented on #19483
Rough ETA on this? Highly sought-after feature in my circles :)

[2022-09-15 10:59] xeruf opened #22964 "Markdown: Allow nested enumeration"
[code]
This works in HedgeDoc:
<img width="789" alt="image" src="https://user-images.githubusercontent.com/13354331/190387118-938a8b93-098a-4e78-a7b8-39d27badebb0.png">
But only up to level 2 in Zulip:
<img width="116" alt="image" src="https://user-images.githubusercontent.com/13354331/190387177-1f9e649a-5f22-41ce-9ef1-332246aa25fc.png">

And I would actually prefer if it would automatically add n

[2022-09-15 13:30] om2137 commented on #22958
if this issue is open, can i work on it ?

[2022-09-15 13:30] om2137 commented on #22958
@zulipbot claim

[2022-09-15 17:51] alya opened #22966 "Remove date separators immediately followed by a recipient bar"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/date.20separators/near/1331136), date separators are not necessary when immediately followed by a message recipient bar, which also has the new date. We should not show them in that situation.

![Screen Shot 2022-09-15 at 10 51 06 AM](https://user-images.githubusercontent.com/2090066/190475210-ce3f59aa-3347-4f8f-809c-960b

[2022-09-15 17:53] alya opened #22967 "Remove previous date from date separators"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/date.20separators/near/1327772), we should simplify date separators by removing the prior date. Only the date of the *following* messages should be shown.

[2022-09-15 18:49] alya opened #22969 "Improve app title bar for stream and topic views"
We should make the following changes in the app title bar:

- [ ] For stream views, display the stream name as `#stream`, rather than `stream`.
- [ ] For topic views, display the topic as `#stream > topic`, not just `topic`.

This will make the title bar more clear and consistent with other parts of the Zulip app.

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/app.20title

[2022-09-15 19:13] #22961 closed

[2022-09-15 22:54] #13696 closed

[2022-09-15 23:06] #20918 closed

[2022-09-16 00:12] timabbott opened #22973 "Send resolve topic notifications when moving streams and also resolve/unresolving a topic in a single API request"
In #22312, I noticed that we currently won't send "This topic was marked as resolved|unresolved" notifications in the unlikely event that we also changed the stream in the same API request. It's not particularly important, since this isn't a thing folks actually do, but it probably is a bug that we don't do so.

[code]

Some care needs to be taken, because `stream_being_edited` will be the old str

[2022-09-16 00:30] drrosa commented on #21641
@zulipbot claim

[2022-09-16 16:35] jafarlihi commented on #22928
@zulipbot claim

[2022-09-16 17:38] dmikushin commented on #10088
Are you sure? The delete button actually only deactivates a bot and places it into "inactive bots" tab.

[2022-09-16 20:17] drrosa commented on #22915
@zulipbot claim

[2022-09-16 20:40] alya commented on #20337
We have added "Never" and "Custom" as options, which resolves this issue.

[2022-09-16 20:40] #20337 closed

[2022-09-16 22:00] ishivanshgoel commented on #22966
@zulipbot claim

[2022-09-16 23:19] #22909 closed

[2022-09-17 00:51] #21402 closed

[2022-09-17 00:51] #22460 closed

[2022-09-17 01:07] #2755 closed

[2022-09-17 01:07] #19994 closed

[2022-09-17 05:49] alya opened #22984 "Add unread @-mention indicator to Recent topics"
In #21637 / #22583, we added an `@` in the left sidebar to indicate which streams/topics have unread @-mentions.

We should do the same in Recent topics. The `@` should be to the left of the unread counter, with styling to match the `@` in the left sidebar.

To match the left sidebar, we should not show `@` for private messages even after #20890 is integrated. This will likely be a follow-up.

[2022-09-17 05:50] alya commented on #22984
@madrix01 would you be up for picking this one up? It would make the @-mention indicator feature feel a lot more complete.

[2022-09-17 06:53] aimanfatima commented on #21036
@zulipbot claim

[2022-09-17 19:24] timabbott opened #22986 "Improve `navigate.to_end()` behavior when viewing topics visited via search results"
The `End` keyboard shortcut (or equivalently, the "scroll to bottom" button) has a subtle bug. If you searched for an old message, and then click on its topic in the recipient bar, Zulip will correctly take you to the relevant point in time in that topic. If you then try to get to the end of that topic by hitting the End key or hitting the "Go to end" button, it will only take you to the last mess

[2022-09-18 03:05] terpimost commented on #22877
Some UI design ideas about it here https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20left.20sidebar/near/1437382

[2022-09-18 04:04] madrix01 commented on #22984
@alya i will work on this, currently I'm working to fix all the bugs in #20890

[2022-09-18 09:06] bharatveeryadav commented on #22952
how can i find this code in frontend_test

[2022-09-19 04:59] alya opened #22991 "Stream settings background color changes in narrow mode (light theme)"
In light theme, the background color in the narrow stream settings view is lighter than in the standard view.  We should fix this so that it's the same as in the standard two-panel stream settings view.

Screenshots for comparison:

## Narrow:

![Screen Shot 2022-09-18 at 9 55 31 PM](https://user-images.githubusercontent.com/2090066/190952285-780c6668-18a6-486c-8090-fbe14eff0d3e.png)

## Wide

![S

[2022-09-19 04:59] alya commented on #22991
@juliaBichler01 @ganpa3 FYI, since you are probably familiar with this part of the code base.

[2022-09-19 11:08] JoeyPriceless commented on #22967
@zulipbot claim

[2022-09-20 06:53] do-me opened #23001 "Read receipts - always show user icons in last read message"
Thanks for the great work for [read receipts](https://zulip.com/help/read-receipts) in [#3618](https://github.com/zulip/zulip/issues/3618).

Reading through various connected issues/comments I can see a some kind of divide between a more minimalistic user and developer base and users who would like to add more usability and convenience features to Zulip.

## Proposal
In this matter I'd propose a u

[2022-09-20 09:32] sofbe commented on #22892
Hi! I am new contributor to Zulip and would like to solve the second checklist item; "For "Message retention", the "i" should simply be removed.".
Do you want me to remove the "i" to the text saying "Message retention period"? And should the "?" be kept to the text saying "Message retention"?

![Skärmavbild 2022-09-20 kl  11 25 51](https://user-images.githubusercontent.com/58030654/191222319-f9b8

[2022-09-20 12:43] SgtSpork commented on #22904
@zulipbot claim

[2022-09-20 18:17] timabbott opened #23005 "Relative time offsets don't automatically update in Recent Topics"
As reported here: https://chat.zulip.org/#narrow/stream/9-issues/topic/recent.20topics.20timestamp.20auto-update/near/1437519, if you leave Recent Topics open, the "2 hours ago" labels stay fixed, even if another 4 hours passes.

We have a solution to this problem that we use in the message lists; via `timerender.update_timestamps`. It likely needs some tweaks to be generalized for the Recent Topi

[2022-09-20 21:59] alya commented on #20497
Closing in favor of #22829, which adds some details.

[2022-09-20 22:23] timabbott commented on #23001
Thanks for the feedback!

This is something we're likely to offer a version of eventually, at least as an option. I don't expect it to be a particularly quick follow-up; at the implementation level, continuously visible read receipts is a completely different feature from the [new read receipts feature](https://zulip.com/help/read-receipts), more similar to typing notifications in terms of how the

[2022-09-21 00:03] #21215 closed

[2022-09-21 00:04] alya opened #23009 "Use sentence case in development environment login screen"
In order to help contributors learn/remember that Zulip consistently uses sentence case on buttons, menu options, etc., we should make the development environment login page follow this pattern is as well:

- [ ] Create New User -> Create new users
- [ ] Create New Realm -> Create new realm
- [ ] [in the Realm dropdown] All Realms -> All realms

[2022-09-21 00:19] tjefferson401 commented on #22911
@zulipbot unclaim

[2022-09-21 00:20] tjefferson401 commented on #23009
@zulipbot claim

[2022-09-21 00:21] tjefferson401 commented on #23009
@zulipbot claim

[2022-09-21 00:23] tjefferson401 commented on #23009
@zulipbot claim

[2022-09-21 00:24] tjefferson401 commented on #23009
@alya Hi I'd like to make this contribution, do you think you could assign it to me as the Zulipbot doesn't seem to want to?

[2022-09-21 00:47] timabbott commented on #21214
Closing as the work remaining for this is #21271, with #21588 having been completed.

[2022-09-21 00:47] #21214 closed

[2022-09-21 04:35] #23009 closed

[2022-09-21 04:46] #20497 closed

[2022-09-21 06:18] do-me commented on #23001
Hi @timabbott! 
Thanks for sharing your thoughts on this. 
As far as I understood the current implementation of read receipts it is querying the database on click, so it's only loaded if needed right? 

I can think of a very simplified version of permanent read receipts where this querying is done for **all the messages currently displayed** (asynchronously). Then one could simply display all the

[2022-09-21 06:42] sofbe commented on #22892
@zulipbot claim

[2022-09-21 07:47] sapte12 commented on #21787
Can i contribute to this

[2022-09-21 07:56] sapte12 commented on #15686
@zulipbot claim

[2022-09-21 21:08] lzmartinico opened #23016 "Turn off notification bot for resolving streams"
When a moderator resolves a very old topic, all subscribers to the parent stream get notified of this, and the topic gets moved to the top of the list. The realm admins should be able to configure an option for turning notification bot off for topic resolution (this could be a per-stream setting)

[2022-09-21 21:56] alya opened #23017 "Give three-dot message menu enough space"
In moderately narrow windows, we limit the width of the three-dot message menu, causing unfortunate line wrapping:

<img width="308" alt="Screen Shot 2022-09-20 at 9 22 29 PM" src="https://user-images.githubusercontent.com/2090066/191617385-c0dcf2c4-c6e7-4c9a-b79d-2f666ecf09ab.png">

Instead, we should allow the menu to be wider to accommodate the options without line wrapping. We can use a versio

[2022-09-21 23:09] alya opened #23018 "Document option to display custom profile fields in profile summary"
In #21588, we added a "Display in profile summary" option for custom profile fields. We should document this on
https://zulip.com/help/add-custom-profile-fields.

Specifically, we should:

- [ ] Update instructions for creating a new field appropriately.
- [ ] Add a section explaining what this option is / what it's for, and how to manage it via the settings table.

The description for #21215 prov

[2022-09-21 23:09] alya commented on #23018
@drrosa could you please add this release goal issue to your list? Let me know if you have questions.

[2022-09-22 08:55] yogesh-sirsat opened #23022 "Change the API endpoint of custom profile fields to not have the name/hint/etc."
Change the API endpoint of custom profile fields to not have the name/hint/etc. to be passed in a request as mandatory, instead of supporting passing them as optional.

_Originally posted by @timabbott in https://github.com/zulip/zulip/issues/21588#issuecomment-1253017422_

[2022-09-22 11:06] HeetRaichura12 commented on #23017
I can manage to fix this issue,
Please assign this issue to me.

[2022-09-22 11:54] yogesh-sirsat opened #23023 "Show current avatar in bot editing form"
_[description edited by @alya ]_

At present, when editing a bot, it's impossible to tell whether or not it already has an avatar uploaded.

Repro:

1. Create a bot with an avatar picture.
2. Click the "edit" pencil.

**Expected**: It should be clear that the bot currently has an avatar.
**Actual**: There is a "Choose avatar" button, with no indication that the bot already has one.

To fix this, w

[2022-09-22 17:33] #21641 closed

[2022-09-22 17:45] alya commented on #23016
Hm, given the situation you describe, would you want notifications to depend on whether or not the topic is old?

[2022-09-22 18:14] alya commented on #23017
@HeetRaichura12  please post a comment describing your proposed approach. After that, you can claim the issue using Zulipbot, as described here: https://zulip.readthedocs.io/en/latest/contributing/contributing.html#claiming-an-issue

[2022-09-22 18:51] #22915 closed

[2022-09-22 19:10] alya commented on #23016
There is also an option to demote resolved topics in the left sidebar; we'd have to think about how exactly that would work.

[2022-09-22 19:46] timabbott commented on #23023
This should almost certainly be implemented by having this component use the `upload_widget` component that we use for uploading avatars, realm icons, and other images across the app.

[2022-09-22 20:05] carols10cents commented on #22721
Ok, I captured an instance of this happening on chat.zulip.org and I had Firefox's Network tab open, so I exported it as `.har`. Only problem was I had it and the tab open for about 24 hours before the problem... I was going to try to pare down the logs, but it's in JSON, and I don't have much time right now to figure out the right `jq` filter to get the relevant info out, so.... [here you go](htt

[2022-09-22 22:01] #22821 closed

[2022-09-22 22:20] #22817 closed

[2022-09-22 23:00] ggbianco commented on #10643
@alya , we have @gyverchang  and @timabbott are Interested in sponsoring this implementation that would be extraordinary for the entire Zulip users community.

How can we put this into practice?

[2022-09-22 23:44] timabbott commented on #22893
For the webapp, I'm working around this issue for now by only offering the option in views where the `fetch_status` shows that we will produce correct output. We should remember to delete that code when we add the new API.
[code]

[2022-09-23 00:29] timabbott opened #23030 "Fix unread markers appearing next to date dividers when only one adjacent message is unread"
The green markers for which messages are unread correctly appear next to the date markers when both the message before them and the message after are also unread; but it looks wrong when only one of those two messages is unread:

![image](https://user-images.githubusercontent.com/2746074/191873057-9560c329-5a00-48b0-92af-fcf5086718b6.png)

I haven't looked at how hard this is to implement, but I t

[2022-09-23 15:15] cognusion opened #23035 "Enforce channel string limits"
When [building a stream](https://github.com/zulip/zulip/blob/main/zerver/data_import/import_util.py#L466), e.g. during an import operation, the "name" and "description" are trusted and not limited. The naive solution is to slice the input using the established limits:

[code]

This solution doesn't lend well to unicode; nor use cases where the caller assumes name is unchanged and thus, e.g. uses i

[2022-09-23 17:39] timabbott commented on #22832
@jdherg I expect the fix for this to merge shortly; thanks again for the excellent bug report.

[2022-09-23 17:42] jdherg commented on #22832
Amazing, thanks @timabbott + @evykassirer ! 🎉

[2022-09-23 17:49] #22946 closed

[2022-09-23 18:00] #22832 closed

[2022-09-23 19:09] #20309 closed

[2022-09-23 19:27] #21178 closed

[2022-09-23 20:33] timabbott commented on #15403
@mateuszmandera do you have time to pick this one up?

[2022-09-23 20:36] mateuszmandera commented on #15403
Yeah, I think so

[2022-09-23 21:15] timabbott commented on #19658
What would the try/except block option look like?

[2022-09-23 21:21] timabbott commented on #22958
This is likely the same issue as #17933; we use the same type of table component in both settings and recent topics. That other issue has some useful discussion about what makes fixing this nontrivial.

[2022-09-23 21:22] timabbott commented on #17933
@andersk do you know if there's a way to make simplebar handle this sort of table with sticky headers correctly? See https://github.com/zulip/zulip/issues/17933#issuecomment-812617254 for the research thus far.

[2022-09-23 21:43] alya commented on #18940
@laurynmm Would you be up for adding this to your todo list (below any release goal issues)?

[2022-09-23 21:46] alya commented on #22958
Closing as a duplicate of #17933.

[2022-09-23 22:28] alya commented on #22952
@laurynmm this should be prioritized after #20162.

[2022-09-23 23:22] #22905 closed

[2022-09-23 23:45] #2676 closed

[2022-09-24 00:37] nh2 commented on #2676
For those on this ticket for 5 years:

In the merged PR #21477, what's the UI for marking as unread, is it Alt+click, or something else?

[2022-09-24 03:44] evykassirer commented on #21962
@alya do you want this change, #22805, or both?

[2022-09-25 04:02] Taiki-Choda commented on #22991
Hi! @alya
I am Taiki from Japan.
Check out the PR above!  Does this meet your requirements?

[2022-09-25 10:00] kbatavia12 commented on #22813
@zulipbot claim

[2022-09-25 10:05] kbatavia12 commented on #22813
@alya I'm done working on the issue, it works as intended, would you review the code?

Thanks.

[2022-09-25 11:01] RensarRO commented on #22945
Many departments in an organization share mail. This is for convenience.
I solved the problem by using the wWWHomePage attribute and filling it with a valid email address - vasya@vasyadomain.ru.
Account login works through Cyrillic sAMAccountName.
But this makes it necessary to fill in this field for each user. Workaround but it works.
Config next
AUTH_LDAP_USER_SEARCH = LDAPSearch(
    "ou=All_Us

[2022-09-25 19:38] ajjayymahato commented on #17731
Hi there! I would like to work on this issue. Can you please assign this issue to me?

[2022-09-25 22:53] terpimost commented on #21798
I just realized that it might be hard with transparent white bg color of the input/button and replaced it with solid #333333. I also updated the Figma: https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=3240%3A246518

I updated the shadow of the search input component to be darker https://www.figma.com/file/jbNOiBWvbtLuHaiTj4CW0G/Zulip-Web-App?node-id=1716%3A130593

<img width

[2022-09-25 23:49] jonathanzhang53 commented on #22866
@zulipbot claim

[2022-09-26 06:03] alya commented on #21962
#22805 is an experiment we wanted to try, but we don't think the UX is working. So the current plan is to integrate the approach proposed here, and not #22805.

[2022-09-26 08:11] alya opened #23052 "Document "Marking messages as unread" feature"
Following up on #21477, we should document the new "Mark as unread from here" option in the three-dot message menu.

New page: "Marking messages as unread", just below "Marking messages as read" in the index.
Cross-link with: Reading strategies, Marking messages as read, Star a message (any others?)

Let's also add documentation to the keyboard shortcuts page (refer to the `?` menu, which already

[2022-09-26 08:11] alya commented on #23052
@drrosa I'm assigning you this release goal issue. Please let me know if you have any questions!

[2022-09-26 09:20] kbatavia12 commented on #22813
@alya, worked on your feedback, the code is ready for another review. Thanks.

[2022-09-26 13:35] cognusion commented on #22284
I've run through this process and it appears identical to the previous upgrade. The only question is 6: How can I tell if the indexes are corrupted and that step is necessary? There is a glibc bump (as always) but queries appear ok.

[2022-09-26 18:24] amanagr commented on #23030
This fix was actually in one of the commits we dropped :(

[2022-09-26 18:42] #22991 closed

[2022-09-26 20:43] alya opened #23062 "New feature notification system"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/2-general/topic/New.20features.20STREAM/near/1429404), we should implement a system to notify users of new features.

This can be managed as:

1. A Markdown file with descriptions of new features, annotated with which Zulip version they were shipped in.
2. A system to automatically pop up a modal when the app loads that includes all the u

[2022-09-26 20:52] jonathanspw commented on #9957
I know it's already moving, but just another +1 for this feature :)  Glad to see it's right around the corner.

[2022-09-26 20:53] alya opened #23063 "Update text on 500 error page"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/31-production-help/topic/push.20notifications/near/1439349), we should improve the text on the page shown when the user encounters a 500 error.

## For self-hosted servers, the updated text should be:

## For Zulip Cloud, the updated text should be:

[2022-09-26 21:03] alya opened #23064 "Editing recipient should count as starting a message"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/auto-setting.20compose.20box.20topic/near/1441217), the compose box behavior is different depending on whether there is text in the compose box. The goal is to capture the user's intent -- are they in the middle of composing a message?

To improve the logic, we should consider manually modifying the recipient as starting

[2022-09-26 23:17] Rixant commented on #22969
@zulipbot claim

[2022-09-27 05:20] Be-ing commented on #9521
FIDO support was just [merged](https://github.com/jazzband/django-two-factor-auth/pull/408) into django-two-factor-auth!

[2022-09-27 05:58] alya commented on #2676
You can use the "Mark as unread from here" option in the three-dot message menu, or the `SHIFT`+`U` keyboard shortcut. Documentation coming soon (#23052)!

[2022-09-27 06:10] alya opened #23066 "Update documentation on adding bots"
Following up on #20309 / #22629, we should document that bots can now be added from the organization settings Bots panel. We should also review the instructions for adding bots and make sure they are accurate.

[2022-09-27 06:11] alya commented on #23066
@drrosa assigning this to you as a release goal, since we may mention this change in the release announcement.

[2022-09-27 06:22] alya commented on #23035
@cognusion could you please tag this with the appropriate area label? I don't understand the issue well enough to do so myself. You can do so [via Zulipbot](https://zulip.readthedocs.io/en/latest/contributing/zulipbot-usage.html) if you don't have permissions to manage labels directly. Thanks!

[2022-09-27 06:29] rutujapate commented on #23063
Hey I would like to work on this issue

[2022-09-27 06:39] BrianMcDowell commented on #19589
@zulipbot claim

[2022-09-27 06:41] alya opened #23067 "Improve "Mastering the compose box" help article"
As noted [here](https://github.com/zulip/zulip/pull/22931#issuecomment-1255618044), we should make further improvements to the "Mastering the compose box" help article.

[2022-09-27 06:52] alya opened #23068 "Improve footer on /help, /api, and /policies pages"
At present, we use the same footer on `/help`, `/api`, and`/policies`, both in self-hosted organizations and on Zulip Cloud:

Instead, we should use different footers that are more contextually appropriate. In particular:

## Zulip Cloud

* `/help`, `/api`: Your feedback helps us make Zulip better for everyone! Please [contact us](https://zulip.com/help/contact-support) with questions, suggestions

[2022-09-27 06:53] alya commented on #23068
@laurynmm this is tagged as a release goal, as it's hopefully relatively quick, and will be an especially big improvement for self-hosted installations.

[2022-09-27 11:34] juliaBichler01 commented on #20971
Just FYI, i will pause working on this for a while, since #11227, which this builds on, was not updated for quite a while. When this PR moves forward, i will continue working on this.
But i will keep the draft PR open for now, since it already has a somewhat working solution for this.

[2022-09-27 14:52] dqkqd commented on #22885
@zulipbot claim

[2022-09-27 16:18] alya opened #23072 "Improve design of Recent topics when there are no topics to show"
At present, when there are no topics matching the user's filters in Recent topics, we show:

![Screen Shot 2022-09-27 at 8 07 10 AM](https://user-images.githubusercontent.com/2090066/192579732-51580dc3-cda0-4471-98e2-6e2f1a14e65d.png)

We should improve the layout to display the message more nicely, most likely centered, no italics, and using a larger font, similarly to when no search results are

[2022-09-27 16:31] alya commented on #20971
@juliaBichler01  Hmm, I wonder if there's some confusion -- issue #11227 is at this point blocked by this issue. That is, we can't merge a "send later" feature without a UI to view scheduled messages.

Is there something specific you feel blocked by?

[2022-09-27 17:08] alya commented on #23063
Sure, see https://zulip.readthedocs.io/en/latest/overview/contributing.html for how to proceed. Thanks!

[2022-09-27 18:13] #23068 closed

[2022-09-27 19:26] akarsh-jain-790 commented on #23072
@zulipbot claim

[2022-09-27 20:02] alya opened #23075 "Improve tooltip on "Edited" / "Moved""
Clicking on the "Edited" / "Moved" indicator open the edit history for the message. We should change the tooltips to indicate this. Specifically, we should:

- [x] Migrate these tooltips to Tippy
- [ ] Change the text to:
      - First line: Last {moved/edited} [date/time]. [note: no parens around date, don't capitalize date unless required by rules of English, i.e., "today", not "Today"]
      -

[2022-09-27 20:14] alya opened #23076 "Organize three-dot message menu"
To make the three-dot message menu easier to understand, we should organize it into sections, separated by dividers. This builds on the work in #22537 / #22652.

## Logic changes in what options to show

- [x] Show "Move message" whenever the user has permissions to change the stream and/or topic, regardless of whether the "Edit message" option is also shown.

## Sections

- Quote and reply or for

[2022-09-27 20:26] thanosgiap commented on #21036
Hello @aimanfatima
Are you still working on this issue?

[2022-09-27 21:34] alya opened #23077 "Remove "View edit history" from three-dot menu"
Once #23075 is completed, we should:

- [ ] Remove "View edit history" from the three-dot menu
- [ ] Update https://zulip.com/help/view-a-messages-edit-history accordingly

This is part of an overall project of simplifying the three-dot message menu.

[2022-09-27 22:02] lzmartinico commented on #23016
@alya I think it would sense to have that option, but I would also want to see a way to disable notification for any topic being resolved

[2022-09-27 22:48] timabbott commented on #22284
I believe that was a one-time change, so we shouldn't need to document that.

[2022-09-27 22:52] #22284 closed

[2022-09-27 23:59] timabbott commented on #23064
These two functions are the code in question (one calls the other):

[code]

Structurally, we'll want to add a new check to at least one of the `compose_state.has_message_content` check blocks. I'm not sure what the simplest algorithm is; options include:
* Storing the stream/topic we had when the compose box was last opened (or automatically modified, though maybe we do that through the same `sta

[2022-09-28 03:52] amanagr opened #23078 "Page Up / Down in Recent topics is not working as expected in some cases."
Page Up / Page Down tends to scroll more than it is expected, which results in the user missing a topic entirely.

This was reported by @cyphase :

While paging through the Recent Topics view, I noticed that the Page Up / Page Down buttons were causing me to miss a topic each time. It may not be 100% missed 100% of the time – there are instances where you can see the very top of the topic row for

[2022-09-28 06:30] alya commented on #23075
This is issue is high-priority, as we will likely be able to simplify the three-dot message menu as a follow-up (#23077).

[2022-09-28 06:49] alya commented on #22566
Posting a bad UX I just came across to make sure we resolve this, either in this issue or elsewhere (cf. #21739 ?):

1. Turn off message editing in the organization
2. Still as an admin, select "View source" from the three-dot message menu

The stream field looks editable, but the user gets an error if they attempt to edit it:

![Screen Shot 2022-09-27 at 11 44 03 PM](https://user-images.githubuse

[2022-09-28 07:00] CodeExecutioner commented on #22265
@zulipbot claim

[2022-09-28 08:03] do-me commented on #18979
+1 
Interested in this feature as well (coming from Skype/Teams). Very much appreciate the usability @jwillmer described as it does make a significant communicative difference in the real world to have the option to ring someone directly. Until now, you do need to keep some kind of other app open in parallel or in fact need to call someone (with a _phone_ :smile:).

I could maybe understand if the

[2022-09-28 10:38] juliaBichler01 commented on #20971
@alya oh okay, i thought that the order was the other way around (that #11227 has to be completed before this), so i didn't see much use in working on this when there is no progress on the other issue.
But if that's not the case and it's actually the other way around, i will keep working on it :)

I am currently a bit stuck on this because i am not sure if my proposed UI and functionality is what

[2022-09-28 17:31] alya commented on #20971
Sure, both of those sound good. :) You can post your UI questions / screenshots in #design, and @evykassirer should be able to help you out with the overall direction for your PR.

[2022-09-28 17:56] alya opened #23088 "Add filter to DMs section"
Following up on #20870, we should add a filter to the DMs section in the left sidebar. It should appear just below the "back to streams" link, as part of the sticky section.

If there are questions / decisions to make about the filtering algorithm when we start implementing this, let's discuss on CZO.

[2022-09-28 19:19] alya opened #23089 "Improve Save / Cancel styling in message edit UI"
Following up on #22537, which removes text in the bottom right area of the message editing UI in most cases, we should:

- [ ] In the message editing UI, move the Save / Cancel buttons from the bottom left to the bottom right, with the Cancel button on the left.
- [ ] Restyle the buttons to match the Cancel / Confirm button styling in modals.

We will need to experiment with a new location for the

[2022-09-28 19:22] alya commented on #22537
Let's mark #23089 as "help wanted" when the relevant parts of this issue are integrated.

[2022-09-28 21:15] thanosgiap commented on #21036
@zulipbot claim

[2022-09-28 21:23] thanosgiap commented on #21036
@alya Hi, is it possible to assign me this issue, since @aimanfatima is most likely not working on it.

[2022-09-28 22:22] cognusion opened #23092 "Enable KaTeX rendering timeout to be configurable"
There is a hard-coded 5 second timeout for TeX rendering via a forked KaTex instance:

https://github.com/zulip/zulip/blob/04693b6ac1b68be68570884ec881e38d83765be8/zerver/lib/markdown/__init__.py#L2548

The default should probably stay the same, but abstracting that to a variable that, for example, the management CLI could override when doing imports would be excellent.

Bonus points for a switch

[2022-09-28 22:32] AssekoudaSamtou commented on #23063
He @alya. Thank you for sharing the contribution guide. Can I lean on this issue too?

[2022-09-29 07:17] alya commented on #21036
@aimanfatima @thanosgiap I've gone ahead and unassigned this issue.

[2022-09-29 07:18] alya commented on #21036
@thanosgiap I've also updated the description for the issue. Please feel free to claim it if you are still interested in working on it. Thanks!

[2022-09-29 09:23] thanosgiap commented on #21036
@zulipbot claim

[2022-09-29 11:23] aannalarsson commented on #23075
@zulipbot claim

[2022-09-29 16:05] vitorpamplona commented on #22671
Zulip is a meme killer.

It's just not fun when it's displayed like this.

![Screen Shot 2022-09-29 at 12 00 36 PM](https://user-images.githubusercontent.com/532031/193081784-cbb25e12-bba8-4dbb-a466-f7c3487afdcd.png)

For reference, here's how slack does.

![Screen Shot 2022-09-29 at 12 03 43 PM](https://user-images.githubusercontent.com/532031/193081995-dedad1f9-cd78-4703-960d-e168d7f91b6a.png)

[2022-09-29 17:11] JoeyPriceless commented on #22967
@zulipbot PR incoming!

[2022-09-29 18:35] palashb01 commented on #20956
@zulipbot  claim

[2022-09-29 18:38] palashb01 commented on #20600
hi !! @alya @timabbott  is this issue still open ? if, Yes i would love to work on it.

[2022-09-29 18:50] palashb01 commented on #20675
@zulipbot  claim

[2022-09-29 18:52] alya opened #23100 "Add "Quote and reply or forward" button to message bar"
To make "Quote and reply or forward" easier to access and reduce the number of options in the three-dot message menu, we should:

- [ ] Add a "Quote and reply or forward" button (with the appropriate tooltip) to the message header bar, just to the left of the three-dot menu.
- [ ] Remove "Quote and reply or forward" from the three-dot message menu.

When working on this issue, we should make sure

[2022-09-29 18:53] palashb01 commented on #23077
Hi @alya ! I think i can work on this issue, Please assign this issue to me.

[2022-09-29 18:58] palashb01 commented on #20956
@zulipbot  claim

[2022-09-29 19:06] palashb01 commented on #20956
Since I have already claimed one issue, Zulipbot won't allow me to claim this issue. I am commenting here to inform that I am working on this.

[2022-09-29 19:10] alya commented on #21281
We should discuss how best to resolve this issue when working on #21811.

[2022-09-29 19:17] alya opened #23101 "Fix vertical alignment in /me messages"
- [ ] In the message editing UI, the vertical alignment in `/me` messages is off. It should be the same as in other messages.

<img width="831" alt="Screen Shot 2022-09-29 at 12 14 40 PM" src="https://user-images.githubusercontent.com/2090066/193122304-d19aced6-a768-470e-bac6-5649ebbb717d.png">

- [ ] The message action icons are too low in `/me` messages. They should be aligned with the timestamp

[2022-09-29 20:17] prakhar1144 commented on #23063
@zulipbot claim

[2022-09-29 21:01] alya commented on #23077
@palashb01 As noted in the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), please choose an issue with the "help wanted" label.

[2022-09-29 22:56] #22885 closed

[2022-09-30 00:10] #22814 closed

[2022-09-30 00:11] #22906 closed

[2022-09-30 07:55] GorvGoyl opened #23107 "updating my status via api is not working"
zulip api docs [example](https://zulip.com/api/update-status)  is a bit confusing. It says I need to use BOT_EMAIL_ADDRESS:BOT_API_KEY to make a status change. I guess this will change the status of the bot instead of mine. How can I change my status instead?

[code]

I tried replacing BOT_EMAIL_ADDRESS:BOT_API_KEY with my actual email and API key but got error: `{"result":"error","msg":"Invalid A

[2022-09-30 08:07] #23107 closed

[2022-09-30 17:31] palashb01 commented on #23100
Since I have already claimed one issue, Zulipbot won't allow me to claim this issue. @alya Please assign this issue to me.

[2022-09-30 17:34] Dev- opened #23110 "AWS Avatar Bucket Policy requires 'Statement' when configuring S3"
Steps to Repo:

Set up an instance of Zulip --> Configure S3 for Uploads --> 'Missing required field Statement' error on AWS when submitting Avatar Bucket Policy when following documentation.

Probably need to update thedocumentationo to include this copy instead
[code]

[2022-09-30 19:20] alya opened #23112 "Separate UIs for message editing and moving messages"
In #22537 / #22652 we changed the three-dot message menu to always show "Edit message" and "Move message" as separate options when the user has the relevant permissions, as well as splitting up "Move message" and "View message source".

We should complete this change by splitting up the UIs for moving and editing messages.

## UI for **Edit message** or **View message source**

- [x] Don't show st

[2022-09-30 19:45] alya opened #23113 "Add `m` keyboard shortcut for moving messages"
Following up on #23112, we should add and `m` keyboard shortcut that will open the "Move messages" modal. The shortcut should be documented:

- [ ] In the message three-dot menu option
- [ ] In the `?` menu, just below "Edit message or view message source". Text: Move selected message and (optionally) other messages in this topic [might be too long -- we'll need to experiment/tweak]
- [ ] /help/ke

[2022-09-30 19:45] alya commented on #23113
Not marking this as "help wanted" until #23112 is completed.

[2022-09-30 19:59] alya opened #23114 "Fix vertical spacing with line wrapping in "Move topic" UI"
In the Move topic modal, there is too little space between the topic input and the option below when the topic input wraps to a new line. The amount of vertical space there should be the same regardless of whether the topic wraps.

![Screen Shot 2022-09-30 at 12 47 29 PM](https://user-images.githubusercontent.com/2090066/193345678-c1b79536-03d4-4e10-994e-24544df46009.png)

[2022-09-30 20:14] alya opened #23115 "Show how many messages will be moved"
In the "Move topic" / "Move message" modal, we should show how many messages will be moved by the action. The info should be given just below the specification of what's being moved, i.e.:

- Below the stream/topic, in the "Move topic" UI, or as shown [here](https://github.com/zulip/zulip/pull/21394#issuecomment-1200125019) once #20502 / #21394 is implemented.
- Below the selection of which messag

[2022-09-30 23:51] JoeyPriceless commented on #22966
Working on this in parallel with #22967 but can't claim two issues yet.

[2022-10-01 05:15] Hassanog12 commented on #23114
Hello can I work on this issue?

[2022-10-01 05:43] alya commented on #23063
@prakhar1144 you can try looking at #23069 to see if serves as a useful example.

If not, please ask your question in the [Zulip development community](https://zulip.com/development-community/).

[2022-10-01 06:05] alya commented on #23114
@Hassanog12 please refer to the guide on contributing to Zulip: https://zulip.readthedocs.io/en/latest/overview/contributing.html.

[2022-10-01 07:59] sahil839 commented on #23076
@rebeccasodereng we want to get this done quickly as it is part of our release goal. It should not be much amount of work and I can work on this if you haven't started yet.

[2022-10-01 08:03] sahil839 commented on #23076
@alya there are a couple of options that are not mentioned in the issue -
- "Hide muted message again" is shown when the sender is muted.
- "Remind me about this" is shown if reminder feature is enabled. I am not sure what is the current status of this.

Also we show some text when seeing a message which was sent when user was not subscribed to the stream, this can probably be at the end only in t

[2022-10-01 12:48] rebeccasodereng commented on #23076
@sahil839 I'm sorry I didn't realise it was part of the release goal and was planning to work on it in a few days, so you can work on it instead!

[2022-10-01 12:49] sahil839 commented on #23076
Cool, feel free to take another issue to work on. Thanks

[2022-10-01 13:59] ganpa3 commented on #22957
@timabbott I recall you saying we should avoid migrating overlays to `dialog_widget` since overlays have their own URL and opening that URL should open the overlay and `dialog_widget` doesn't have URLs.

[2022-10-01 14:27] sofbe commented on #22892
This is a link to the PR for the second checklist item: https://github.com/zulip/zulip/pull/23055

[2022-10-01 18:01] m-bilal-ahmed commented on #23114
This seems like an interesting issues to work on. Can you guide me to perhaps which files I may start to look into to make changes ?

[2022-10-01 18:07] Hassanog12 commented on #23114
@zulipbot claim

[2022-10-01 18:09] m-bilal-ahmed commented on #23114
@zulipbot claim

[2022-10-01 18:20] mh182 opened #23118 "Integrate incoming webhook for Linear issue tracking system"
Quote from https://linear.app/

Linear provides an [API and Webhooks](https://linear.app/docs/api-and-webhooks). For details how to use the API check the [API documentation](https://developers.linear.app/docs/graphql/working-with-the-graphql-api).

Linear webooks provide information for
* Issues
* Issue attachments
* Issue comments
* Issue labels
* Comment reactions
* Projects
* Project updates
*

[2022-10-02 04:33] prakhar1144 commented on #23063
Hi, @alya

I have made the required changes.

One of the backend-test is failing which I am struggling to debug.

I have provided the details in the [draft PR](https://github.com/zulip/zulip/pull/23120), please have a look.

[2022-10-02 16:32] srgcano commented on #22813
@zulipbot claim

[2022-10-02 17:54] lzmartinico commented on #23016
This case could actually be handled with a modal similar to what you get when, on moving a message, you are asked whether  to notify the original or destination topic

[2022-10-02 20:08] PIG208 opened #23124 "Support RFC 6570 URI Template for linkifiers"
There is a standard for URI templates which can potentially replace our current `url_format_string`s.

We are looking for a Python implementation that allows us to validate the URI template, list the variables expected in the template, and expand it. A candidate is [uri-template](https://pypi.org/project/uri-template/).

To ensure backward compatibility, the new implementation will coexist with th

[2022-10-02 20:09] PIG208 commented on #23124
@zulipbot add "area: markdown (linkifiers)"

[2022-10-03 17:03] sahil839 commented on #21271
I am starting work on this.

[2022-10-03 18:31] timabbott commented on #23030
One could pull it out of `git reflog` (at least if one's set the configuration to keep reflog history forever, like I have), but I think it was mixed with other changes in that commit anyway.

[2022-10-03 19:38] alya commented on #23016
Hmm, maybe that's right... The tension here is that it's nice to keep resolving topics feeling quick / lightweight.

[2022-10-03 19:57] andersk commented on #23124
I don’t see anything that stops us from translating the old format. Just replace `{` → `%7B`, `}` → `%7D`, and then interpolate `{foo}` for each `%(foo)s`.

[2022-10-03 20:01] alya commented on #23076
Yeah, that position sounds fine, though I'm not sure whether we need that notice at all... (I didn't realize we had it. ;)) I started a [thread on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/message.20sent.20when.20not.20subscribed.20notice/near/1444129).

[2022-10-03 20:41] alexmv commented on #22636
What's the case which gets here without a realm set?

[2022-10-03 20:50] xorgy opened #23131 "Fine-grained script detection."
I frequently write messages with mixed language content, in English, Japanese, and Chinese. Japanese and Chinese fonts differ regionally, and while in general it is acceptable to use the default han character font on the platform to render characters, even if the font is not appropriate for the specific language, there are cases where this can look really hideous. Particularly if say, you are in T

[2022-10-03 20:56] alexmv commented on #22298
I'm resolving this issue due to lack of response -- please re-open if you're still seeing an issue.

[2022-10-03 21:09] alya commented on #20035
In-progress PR: #22994

[2022-10-03 21:31] alya opened #23132 "Rename Recent topics to Recent conversations"
Once #19449 has been resolved, we should rename Recent topics to Recent conversations across the board. This includes the left sidebar, documentation, settings menus, marketing pages, and anywhere else this term may be used.

[2022-10-03 21:32] alya commented on #19449
Immediate follow-up once this issue has been resolved: #23132

[2022-10-03 21:44] alya commented on #9081
Adding a "release goal" label just for the video previews part of this issue, which is covered by https://github.com/zulip/zulip/pull/20449.

[2022-10-04 08:02] akarsh-jain-790 commented on #23132
@zulipbot claim

[2022-10-04 09:20] SgtSpork commented on #22904
@zulipbot about to create a PR.

[2022-10-04 12:40] oyale opened #23137 "Redis unit file doesn't allow reading own log file on fresh install"
We're facing an issue when using the Zulip's installer. The installer fails due to an error threw by `redis-server`:

[code]

We have been able to reproduce this behaviour on two LXC containers with both freshly installed Ubuntu versions, `focal` and `jammy`.

Looking in the unit file (`/etc/systemd/system/redis.service`), the error is due to the `ReadOnlyDirectories=/` setting, which prevents Red

[2022-10-04 13:29] moagstar opened #23138 "Multi-line bold and italic"
Making multi-line messages does not seem to work correctly. For example I tried using markdown, and clicking the I / B buttons but it doesn't actually turn the message bold or italic. Additionally if I edit the message you can see it briefly flashes italic before switching back.

---
Noe from @alya 2026-01:

This will be encountered much less via fixing #37614.

[2022-10-04 13:30] moagstar commented on #23138
![Peek 2022-10-04 15-27](https://user-images.githubusercontent.com/879561/193832315-573669b6-0c19-4dca-9234-1bcc704dc734.gif)

[2022-10-04 15:33] suryakapurothu commented on #22813
claim

[2022-10-04 15:33] suryakapurothu commented on #22813
@zulipbot claim

[2022-10-04 15:35] suryakapurothu commented on #19884
@zulipbot claim

[2022-10-04 18:06] palashb01 commented on #23138
Hey @alya, I think I can work on this, Since I already have one Open PR under Review, Zulip bot won't allow me to claim this, kindly assign this issue to me.

[2022-10-04 18:21] andersk commented on #22636
The caller is here:

https://github.com/zulip/zulip/blob/10a0bf4de4f3594ee5f72ef5b6e873bb894e8d9d/zerver/lib/markdown/__init__.py#L598

Although `Markdown.zulip_realm` is [typed](https://github.com/zulip/zulip/blob/10a0bf4de4f3594ee5f72ef5b6e873bb894e8d9d/zerver/lib/markdown/__init__.py#L2108) `Optional[Realm]`, the problem is that `Processor.md` is [stubbed](https://github.com/python/typeshed/blo

[2022-10-04 19:29] #19371 closed

[2022-10-04 22:56] timabbott opened #23142 "Fix pm_list.update_private_messages being called unnecessarily."
In https://chat.zulip.org/#narrow/stream/6-frontend/topic/parseOneAddress.20perf/near/1444654, I determined that `do_unread_count_updates`, which we call every time we bulk-fetch messages from the server, is very inefficient. The implementation is simple:

[code]

This function does a full rerender of all unread counts in the app. We should aim to avoid that being expensive, but it also is likely

[2022-10-04 23:52] evykassirer commented on #21757
still claimed

[2022-10-05 00:02] timabbott commented on #23137
Please stop by "#production help" in chat.zulip.org to discuss this. Based on the error message, my guess is your actual issue is the LXC containers you are using are mounting `/var/log/redis` in a way that doesn't allow the guest to write to that directory.

[2022-10-05 00:07] timabbott commented on #22957
Hmm, yeah, it is currently an overlay. I imagine we can just make it a `dialog_widget` that can be opened by navigating to the `#invite` URL via `hashchange.js` logic; it looks more like a modal than an overlay already.

I'm not sure the URL access for it is important in any case, so we could also consider removing that feature as part of this migration.

It could also be nice to be able to open i

[2022-10-05 00:10] timabbott commented on #23131
This sounds awesome! Can you start a topic in #frontend on chat.zulip.org about this idea?

I don't personally have much background in this specific problem, so you may want to start with a bit more education for the Zulip community with examples; we'd of course love a PR for this but it's probably best to get buy-in on the technical design. (I'm not sure what the tradeoffs are between an explicit

[2022-10-05 00:12] timabbott commented on #23138
This issue may be somewhat tangly. I suspect the simplest fix for this is going to involve having that button add bold/italic syntax on each line; but it's possible changing the backend Markdown processor will be a long-term task here.

[2022-10-05 00:16] timabbott commented on #23110
Looking at https://zulip.readthedocs.io/en/latest/production/upload-backends.html#s3-bucket-policy, I think the problem is that "you’ll also need a block like this" is not clear that the block goes inside the existing `Statement` list.

It's possible we'd be better off doing a larger reworking to either expect less manual substitution, or maybe even better, just have a `manage.py print_bucket_poli

[2022-10-05 01:39] rht commented on #18549
Recently mentioned in https://chat.zulip.org/#narrow/stream/137-feedback/topic/stream.20topics.20view

[2022-10-05 06:34] sofbe commented on #22892
Hi! I only did one of the tasks and would like to continue working on the other two tasks. Can I open a new PR to this issue even though it is closed? @alya

[2022-10-05 07:03] AmberAnsari89 commented on #19884
@zulipbot ,
i am new to this repo and also beginner python developer.can you help me with more information and to get my first issue to work upon?

[2022-10-05 12:20] moagstar commented on #23138
As a short term solution I think this would be great (I assume it would also work with ctrl-i and ctrl-b?)

[2022-10-05 18:13] #21962 closed

[2022-10-05 18:55] alya commented on #22892
Ah, thanks for the question @sofbe ! It looks like this issue was accidentally closed without all the points being completed:

For "Deactivate organization", point (1) has been completed, but (2) is still open.

The third checkbox also has not been resolved.

[2022-10-05 18:55] alya commented on #22892
Please feel free to submit a new PR for any of the above!

[2022-10-05 20:23] alya commented on #22802
@terpimost do we have a design for managing the user's status from the profile menu when there is a status set? It would be great to improve on the current approach, which after #21465 will look like this:

![Screen Shot 2022-10-05 at 1 23 15 PM](https://user-images.githubusercontent.com/2090066/194156039-1b35da8f-6561-4c4e-bc16-9ff878e0efaf.png)

[2022-10-05 21:25] alexmv opened #23145 "Slack imports do not set bot owners"
Slack imports create bot users with no owner -- this violates the invariant expected by `bot_owner_user_ids`:
https://github.com/zulip/zulip/blob/553723e5d49bea0417c7210a8b9bc022f57cc221/zerver/models.py#L3924-L3937

This makes them 500 during deactivation (though the deactivation succeeds), among other things:
https://github.com/zulip/zulip/blob/553723e5d49bea0417c7210a8b9bc022f57cc221/zerver/act

[2022-10-05 21:25] alya opened #23146 "Investigate white space highlighting when compose box topic changes"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/compose.20box.20topic.20change.20handling/near/1441248):

This is odd behavior, which we should probably modify. The next step on this issue is to conduct an investigation and report the findings [in the CZO thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/compose.20box.20topic.20change.20handling/near/1441248).

[2022-10-05 21:26] alexmv commented on #21700
See also #23145 which is for the related case of finding a proper bot owner for bots in imports.

[2022-10-05 23:16] #11560 closed

[2022-10-06 00:41] terpimost commented on #22802
We could do something like this:
<img width="260" alt="image" src="https://user-images.githubusercontent.com/1903309/194188502-671ec1b6-1dd1-4dc0-aa1b-7f9f0627ed39.png">
<img width="259" alt="image" src="https://user-images.githubusercontent.com/1903309/194188598-60ef5022-ddab-4966-80ca-09cbceca63ce.png">
<img width="259" alt="image" src="https://user-images.githubusercontent.com/1903309/194188544

[2022-10-06 10:11] HeetRaichura12 commented on #23017
@alya @amanagr Sorry but i was not active because of my exams, Please give me 1 week from now i will fix the issue

[2022-10-06 12:32] lzmartinico opened #23153 "Only allow moderators to start new topic"
On certain streams, for organisational purposes it is convenient to maintain a fixed set of topics. Rather than asking users to keep in mind the list of allowable topics when writing a message, or requiring moderators to clean up by moving the message to the right topic, it would be good to have a per-stream setting on who is allowed to start a new topic. Non-mod users should still be able to repl

[2022-10-06 17:13] sofbe commented on #22892
Thank you for the response @alya! I opened a PR for the third checkbox [#23154 ](https://github.com/zulip/zulip/pull/23154).

For the first checkbox item, I am not sure how to solve (2). How do you want the tooltip to work? Should it be displayed to the user when the user holds the mouse over the disabled button?

[2022-10-06 17:50] alya commented on #22892
Yep! You can find other examples of this in the settings.

[2022-10-06 18:05] alya commented on #23153
Thanks for the suggestion, @lzmartinico ! Closing as a duplicate of #19642. If you'd like to post a comment there describing your use case, that would help us prioritize this feature.

[2022-10-06 18:05] #23153 closed

[2022-10-06 18:15] alya opened #23157 "Show three dots when menu is selected"
At present, we have three-dot menus that are only shown on hover. This leads to a potentially confusing experience when the menu is open, but the three dots are not shown. Instead, we should always show the three dots when the corresponding menu is open.

<img width="576" alt="Screen Shot 2022-10-06 at 11 11 28 AM" src="https://user-images.githubusercontent.com/2090066/194388291-e970fb9d-8360-4a3b

[2022-10-06 18:17] alya commented on #23017
@HeetRaichura12 No worries! Since this a release goal, please pick a different issue to work on when you have time contribute. Thanks!

[2022-10-06 18:31] alya commented on #22802
Hmm, would there be a way to edit it right away? Or would you have to clear it first? It would be nice not to have that extra step, if we can make that work.

[2022-10-06 18:37] alya commented on #21712
Tagging as a release goal, since we have an almost-ready PR for this, and it's related to #23139.

[2022-10-06 18:55] palashb01 commented on #23157
Hey @alya, I think I can work on this, Since I already have one Open PR under Review, Zulip bot won't allow me to claim this, kindly assign this issue to me.

[2022-10-06 19:04] alya commented on #23157
@palashb01 please address the feedback and fix the failing test on #23143 before picking up another issue. Thanks!

[2022-10-06 19:49] alya opened #23158 ".webm files should open in the browser"
As reported [here](https://rust-lang.zulipchat.com/#narrow/stream/122653-zulip/topic/uploaded.20webm.20doesn't.20play.2C.20only.20offfers.20download/near/297849236), clicking on a .webm file opens it in a new tab, which then does some redirecting and triggers a download dialog in the browser. Instead, when clicked from the web app, the file should open directly in the browser.

We should probably

[2022-10-06 22:15] #22636 closed

[2022-10-06 22:51] timabbott commented on #23078
Adding a release goal tag since this is a bug that makes the app look somewhat broken, and may not be super deep.

[2022-10-06 23:34] timabbott opened #23161 "Improve documentation for upgrading postgres especially with docker-zulip"
Since https://github.com/zulip/zulip/commit/11a86ec32832a7426821236c0db36b1ebb6f281e is the first time we've desupported a database version (postgres 10) in a long time, we should make sure our documentation and/or error messages feel good around this upgrade, before we include the change in a major release.

[2022-10-06 23:58] #23017 closed

[2022-10-07 00:20] drrosa opened #23163 "Fix redirect to "undefined" page when users attempt to access owner/admin only settings."
During testing in #23144, I noticed that if a non owner/admin user goes to http://localhost:9991/#organization/profile-field-settings, it will redirect to http://localhost:9991/#organization/undefined with the following message:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/2343554/193955582-2eb82fa3-7bc2-49cc-abf7-f2746a6ae08f.png">

Instead, we might want to redire

[2022-10-07 00:23] drrosa commented on #23163
@zulipbot add "bug" "release goal"

[2022-10-07 00:56] #21271 closed

[2022-10-07 02:17] terpimost commented on #22802
Click on the list item goes to dialog of setting the status but clear icon is just to clear it.

[2022-10-07 09:27] lzmartinico commented on #19642
As mentioned in the closed issue, this would be very useful for our organisation.
Our use case is having a stream about maintenance of a fixed number of resources. To maintain the stream organised, we want to keep a topic for each resource, otherwise if a user sends a message with a different topic (e.g. "Resource X is experiencing issue Y") a mod will have to manually merge it in the Resource X t

[2022-10-07 10:17] tjmoore commented on #255
When running in the desktop app, a tip on Windows (11 at least, maybe in 10). Go into Volume Mixer and you can adjust the volume of individual applications. You can even change what device you want to output the sound to if you have multiple speakers or headphones.

If in the browser, you can only adjust the browser volume as a whole. Some browsers let you mute a tab, but can't see a volume adjust

[2022-10-07 14:29] sayamsamal commented on #22969
@Rixant are you still working on the issue? If yes, please let me know if I can help you with it.

[2022-10-07 18:25] alya commented on #255
I just confirmed that these instructions are correct, at least for modern versions of Zulip. Can you say more about what you tried when you looked for the option?

![Screen Shot 2022-10-07 at 11 21 43 AM](https://user-images.githubusercontent.com/2090066/194624843-fd972bc6-bcf1-4ef0-bdfe-f32a9149b7e2.png)

[2022-10-07 18:26] #21757 closed

[2022-10-07 18:34] #18912 closed

[2022-10-07 19:08] alya commented on #22802
Ah, got it!

I'm not sure about the situation where there is an emoji but no status message set; I think just showing "Status" there might be confusing (showing nothing is probably even more so). Maybe we should show something more specific, like "No status message set", or "No status message"?

[2022-10-07 19:10] alya commented on #23163
@sahil839 could you please look into this one? Thanks!

[2022-10-07 19:25] alya commented on #23078
Should we consider this a lower priority than @amanagr 's other release goal issues?

[2022-10-07 20:12] alya commented on #169
@zulipbot claim

[2022-10-07 20:13] alya commented on #4263
@zulipbot claim

[2022-10-07 20:55] sayamsamal commented on #22969
@Rixant I was working on this issue and have pushed a PR, oblivious to this issue being claimed. Please excuse my intervention and any reviews on the PR would be helpful, thanks!

[2022-10-07 21:27] #23018 closed

[2022-10-07 22:20] #23063 closed

[2022-10-07 22:53] alya opened #23170 "Migrate "Add custom profile fields" -> "Custom profile fields""
Since the "Add custom profile fields" is not just about _adding_ fields, we should:

- [ ] Rename it to "Custom profile fields", including updating the URL accordingly.
- [ ] Update links to it, linking to #add-a-custom-profile-field where appropriate.
- [ ] Add a section on editing custom profile fields.

For simplicity, this can be done after #23169 is merged.

@drrosa I'm marking this as a rele

[2022-10-07 23:00] alya opened #23171 "Bug in creating fields that cannot be displayed in short profile"
Repro:

1. Click "Add a new profile field".
2. Check "Display in profile summary".
3. Switch to a field type that can't be displayed in the profile summary (e.g., Long text). The checkbox correctly disappears.
4. Fill out the info and click "Add".

Expected: Field should get created.
Actual:

![Screen Shot 2022-10-07 at 3 42 59 PM](https://user-images.githubusercontent.com/2090066/194673395-efb6fb

[2022-10-07 23:01] alya commented on #23171
@yogesh-sirsat @sahil839  FYI

[2022-10-07 23:16] alya commented on #22002
@aparna-bhatt Will you have a chance to submit a PR with your proposed changes above? Otherwise, we'll need someone else to take over to finish this release goal issue.

[2022-10-07 23:17] alya commented on #20165
@alexmv Would you be up for picking up this release goal?

[2022-10-07 23:17] cereum commented on #18979
Please add this, huddle reduces the barrier to ask someone something verbally in 30-40 seconds vs taking the time to write a long message that they might not see.

[2022-10-07 23:18] alya commented on #23161
@cognusion Would you be up for taking care of this release goal?

[2022-10-07 23:19] alya commented on #23132
@laurynmm adding this one to your list.

[2022-10-07 23:43] #22969 closed

[2022-10-08 05:07] prakhar1144 commented on #22884
@zulipbot claim

[2022-10-08 05:42] Igorgro opened #23174 "Zulip 5.6 consumes too much memory"
Recently we have updated Zulip server in our organization form 5.0 to 5.6 an this has caused the significant increasing of the used RAM on the server. Zulip is deployed using docker on debian 11 host. This is the RAM usage graph from our monitoring system:

![image](https://user-images.githubusercontent.com/22894169/194690890-13ac2652-c1f7-423b-b0b6-1739af7c4ff8.png)

and this is the screenshot fr

[2022-10-08 14:32] sudoStatus200 commented on #23171
@alya  can I pick this bug?

[2022-10-08 19:53] tusharrajpoot commented on #19770
@alya can you assign it to me?

[2022-10-09 03:25] #20538 closed

[2022-10-09 14:09] akashthedeveloper commented on #23114
@zulipbot claim

[2022-10-09 14:11] akashthedeveloper commented on #23170
Hey, @alya I would like to work on this issue can you please assign me this issue?

[2022-10-09 14:12] akashthedeveloper commented on #22928
@zulipbot claim

[2022-10-09 14:13] akashthedeveloper commented on #22928
Hey, @alya can you please guide me to solve this issue?

[2022-10-09 14:54] akashthedeveloper opened #23179 "Grammatical Error In Contributing Guide"
Hey, @alya I have found this grammatical error in the contributing guide let me know if this is an issue or not, and if it is can you please assign it to me?

![issue](https://user-images.githubusercontent.com/49565671/194763588-480f350c-c2c7-42e0-a5a2-dabcfdc3c7e9.PNG)

[2022-10-09 15:02] akashthedeveloper commented on #23179
@zulipbot claim

[2022-10-09 15:23] williamhpark commented on #22866
@zulipbot claim

[2022-10-09 15:25] williamhpark commented on #21036
@zulipbot claim

[2022-10-09 15:32] akashthedeveloper commented on #23179
@alya has made the pr for this please review and merge it.

[2022-10-09 17:06] aparna-bhatt commented on #22002
Hi @alya sorry for the delay I will try to make a pr for the proposed changes as soon as possible.
Thank you!

[2022-10-09 20:07] isaacmsl commented on #23158
Hello, @alya ! Do you mean video extensions? Based on [Maayan - 8 Best Video File Formats for 2020 (IEEE Computer Society)](https://www.computer.org/publications/tech-news/trends/8-best-video-file-formats-for-2020), Zulip could considerer open directly in the browser the following video "extensions": MP4; MOV; AVI; FLV; MKV; WMV; AVCHD; and WEBM.

Anyway, in order to solve this issue, I'll send a

[2022-10-09 20:45] prah23 opened #23184 "Taiga - Verify webhook signatures on incoming payloads"
Taiga has added support for the verification of their webhook payloads. We should implement the ability to verify webhook signatures on incoming Taiga payloads.

Reference: [Verify Signature - Taiga Documentation](https://docs.taiga.io/webhooks.html#_verify_signature)

[2022-10-09 20:49] prah23 opened #23185 "Trello - Verify webhook signatures on incoming payloads"
Trello has added support for the verification of their webhook payloads. We should implement the ability to verify webhook signatures on incoming Trello payloads.

Reference: [Webhook Signatures - Trello Documentation](https://developer.atlassian.com/cloud/trello/guides/rest-api/webhooks/#webhook-signatures)

[2022-10-09 21:11] terpimost commented on #22802
Status is set as emoji, the label has a different color, as a regular menu item.

So what are possible confusing variations you are thinking about?

[2022-10-10 08:58] amanagr opened #23187 "Properly align content in error pages without having a side-effect on other pages like login / signup."
<img width="1104" alt="image" src="https://user-images.githubusercontent.com/25124304/194830481-035de3bd-0159-492b-a18f-20f8f8adccca.png">

We need to vertically align the content in the center and remove the extra padding on the sides.

[2022-10-10 10:35] sutidor opened #23188 "email_mirror.py: Israel encoding iso-8859-8-i"
An E-Mail with Israel encoding part gets stuck in the E-Mail gateway:
[code]

see also
https://github.com/zulip/zulip/issues/2328

[2022-10-10 12:40] laurynmm commented on #23132
Just to clarify as I start prep work for these updates, is the URL hash of `#recent_topics` part of this task/issue, see screenshot below? Or is this just updating the text instances of "Recent topics" as user-facing text in the web-app and documentation?

I feel like doing the URL hash change will be more involved than just the text updates after reading through [this part](https://zulip.readthed

[2022-10-10 13:14] laurynmm commented on #22952
I'm still working on this issue.

[2022-10-10 13:41] eyuelberga commented on #23157
@zulipbot claim

[2022-10-10 15:41] amanagr commented on #22911
I think we should merge #21726 before this so to avoid conflicts.

[2022-10-10 17:25] tjmoore commented on #255
To be fair, this might be an organization issue? I'm not too sure if the organization I'm connected to is self-hosted or cloud and if that makes a difference.

I'm using Zulip Desktop v5.9.3 on Windows. There's no Personal Settings menu item, only Settings and Organization Settings

![image](https://user-images.githubusercontent.com/1078106/194920264-4098402a-0f3e-451f-bb88-6d41769e7191.png)

Unde

[2022-10-11 06:45] eyuelberga commented on #23157
Hello @alya, I'm an Outreachy applicant and would like to work on this issue. Could you please advise me on the best way to approach this problem?  I was considering assigning a special class to the menu associated with the popover. Would that be a good way to go?

[2022-10-11 09:13] hamidehsani54 commented on #19884
Yes, we work on this

On Fri, Sep 16, 2022, 14:21 zulipbot ***@***.***> wrote:

[2022-10-11 09:24] asah commented on #22374
I'd love this too - I use this every day in Slack !

On Tue, Jul 5, 2022 at 11:03 AM William ***@***.***> wrote:

[2022-10-11 12:29] michaelweinold commented on #6096
@timabbott, is this on the backlog? Currently evaluating Zulip to replace our legacy chat platform - would be great to know to know if this is being considered. Many thanks for the hard work!

[2022-10-11 13:32] AmberAnsari89 commented on #19884
Thank you
Please assign to me and guide me how to proceed it..i will analyse the issue and do the changes accordingly ..

[2022-10-11 15:35] alya opened #23198 "Drop "(Message sent when you were not subscribed)" from three-dot message menu"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/message.20sent.20when.20not.20subscribed.20notice/near/1444129), while it can occasionally be helpful for users to know when a message they are viewing was sent to a stream they weren't subscribed to at the time, the three-dot message menu is not a good place to communicate this.

Since this information can be found from

[2022-10-11 15:51] AmberAnsari89 commented on #19884
@zulipbot , if it is open then please assign to me

[2022-10-11 17:10] rebeccasod commented on #23198
@zulipbot claim

[2022-10-11 17:49] #21709 closed

[2022-10-11 18:35] #21712 closed

[2022-10-11 18:53] alya opened #23202 "Fix "Reply mentioning user" documentation"
https://zulip.com/help/mention-a-user-or-group#from-the-user-list incorrectly says that the "Reply mentioning user" option is available via the three-dot user menu accessed from the right sidebar.

Actually, this option is available in the user menu if accessed from a *message*. From the sidebar, the option you get is "Copy mention syntax".

We should update the page to correctly document both opt

[2022-10-11 18:54] alya commented on #23202
@drrosa I don't think this is critical for the release, but FYI.

[2022-10-11 18:57] alya opened #23203 "Add "View messages sent by user" page to help center"
We should add a page to document the "View messages sent" option in the help center.

It can appear just below "View and browse images" in the left sidebar.

[CZO discussion](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Make.20messages.20sent.20by.20me.20more.20accessible/near/1446267)

[2022-10-11 18:58] alya commented on #23203
@drrosa This one is not urgent, but FYI.

[2022-10-11 19:04] alya opened #23204 "Update help center to reflect profile menu changes"
Following up on #21465, we should update the help center documentation to make sure all the changes in how the options in the user profile menu are displayed are accurately reflected.

[2022-10-11 19:04] alya commented on #23204
@drrosa assigning this release goal to you. Thanks!

[2022-10-11 19:20] tusharverma643 commented on #23202
Hey Alya, I went through [chat.zulip.org](https://chat.zulip.org/) to look into this issue myself. I have completely understood the documentation changes required and would like to work on it.

[2022-10-11 19:36] tusharverma643 commented on #23202
@zulipbot claim

[2022-10-11 19:37] cyphase opened #23205 "Fix stale state leading to unintended topic move"
Reposting from [CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/stale.20state.20leads.20to.20unintended.20topic.20move/near/1447082):

I saw [a message](https://chat.zulip.org/#narrow/stream/9-issues/topic/email-delivery-spam/near/1447013) that had been sent to the incorrect topic – [#issues > mute/unmute stream is slow](https://chat.zulip.org/#narrow/stream/9-issues/topic/mute.2Funmute.

[2022-10-11 21:11] JoeyPriceless commented on #22967
@zulipbot claim

[2022-10-11 21:33] kou commented on #22935
Could you share `EXPLAIN ANALYZE VERBOSE SELECT ...` result for this case?

[2022-10-11 22:29] alya commented on #23157
@eyuelberga To get feedback on your approach, please post a specific question in the #frontend stream in the [Zulip development community](https://zulip.com/development-community/). Be sure to follow https://zulip.readthedocs.io/en/latest/contributing/asking-great-questions.html. Thanks!

[2022-10-11 22:35] alya commented on #255
Ah, those screenshots look like they come from a very old version of Zulip! I would encourage your server administrators to upgrade to the latest release. https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-to-a-release

[2022-10-11 23:14] alya commented on #23063
In the final version, the self-hosted "in the meantime..." sentence was changed to:

[2022-10-11 23:56] jonathanspw commented on #8021
+1 that this is a very annoying issue having to constantly scroll, even after your own messages.

[2022-10-11 23:59] drrosa commented on #23202
@zulipbot claim

[2022-10-12 00:04] drrosa commented on #23066
@zulipbot claim

[2022-10-12 00:10] drrosa commented on #23203
@zulipbot claim

[2022-10-12 00:57] alya commented on #22802
I'm just wondering if it might get parsed as the status message being "Status", if the user doesn't recall that status messages are shown in a different font.

[2022-10-12 01:00] alya commented on #23158
I wonder if someone else can comment on the full scope of other extensions that we may want to open directly in the browser (and currently do not)? @alexmv ? @timabbott ?

[2022-10-12 04:52] alya commented on #22002
Thanks!

[2022-10-12 04:57] alya opened #23210 "Add confirmation tooltip for copying Zulip version in "About Zulip""
At present, there is no confirmation when copying the Zulip version in the "About Zulip" modal, which is disorienting for users. We should:

- [ ] Add a "Copied!" Tippy tooltip, similar to our "Saved as draft" notice. This should be done for both copy buttons ("Version..." and "Forked from...").
- [ ] We should also add hover effects for the "copy" buttons, matching other "copy" buttons in the app

[2022-10-12 05:00] alya commented on #22928
@akashthedeveloper  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

You're welcome to ask a specific question about h

[2022-10-12 05:06] alya commented on #23170
@akashthedeveloper This issue has already been assigned. See https://zulip.readthedocs.io/en/latest/overview/contributing.html for advice on picking an issue to work on.

[2022-10-12 05:12] alya commented on #19770
@tusharrajpoot As described in the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html), you can claim the issue yourself when you're ready

However, please keep in mind the following guideline:

Could you start by posting a brief description of your planned approach for this issue? Thanks!

[2022-10-12 05:47] akashthedeveloper commented on #22928
@alya I think it is a similar to-do list to what I have to implement here like if we add any task and once the task is over it is crossed. I was not knowing that which file need to be changed that's what I was asking.

[2022-10-12 05:54] LinusBGit commented on #23210
@zulipbot claim

[2022-10-12 05:59] timabbott commented on #6096
No. I understand that folks want end-to-end security, and if there were a realistic way to actually provide end-to-end security to users, we'd prioritize doing so. However, we continue to be not interested in implementing an "end-to-end encryption" feature that does not actually provide useful end-to-end security.

The Rocket.Chat documentation cited above does not discuss the central security pro

[2022-10-12 08:17] ppanav commented on #23067
@zulipbot claim

[2022-10-12 11:10] JulianaSau commented on #22904
@zulipbot claim

[2022-10-12 11:43] tjmoore commented on #255
Ah, makes sense. I didn't realise the desktop app is just a wrapper of the web page. Going direct to the Zulip URL of the server in the browser gives me the same UI.

[2022-10-12 11:58] kobistar commented on #23198
@zulipbot claim

[2022-10-12 13:50] tusharverma643 commented on #23202
![Screenshot from 2022-10-12 19-04-30](https://user-images.githubusercontent.com/56400965/195358467-c17c297c-b97d-4477-b134-fe31ecf45029.png)
@alya  I have made these changes to the required documentation on my local server. Do let me know about the required changes if any.

[2022-10-12 15:32] nealhamiltonjr commented on #6096
Wrong, Rocket Chat encryptes any E2E enabled stream where the stream
resides..in the mongo database. A administrator with shell access can't
read the stream because 1. it's E2E encrypted in transit and 2. it resides
in an encrypted db table with the users keys. A lot of other platforms have
already done this. This is an industry requirement!

On Wed, Oct 12, 2022 at 12:59 AM Tim Abbott ***@***.***

[2022-10-12 16:17] snick-m commented on #23138
@zulipbot claim

[2022-10-12 16:42] #23171 closed

[2022-10-12 17:44] timabbott commented on #6096
@nealhamiltonjr I'm afraid none of those details are not responsive to the substance of https://github.com/zulip/zulip/issues/6096#issuecomment-1275631448.

We are committed to only advertising security features that actually provide the security benefits that consumers assume they do. I have no influence over whether other vendors choose to advertise a security feature that does not fully protect

[2022-10-12 17:50] #23076 closed

[2022-10-12 18:07] #23163 closed

[2022-10-12 18:31] alya commented on #23113
@sahil839 would you be up for taking care of this one?

[2022-10-12 18:32] sahil839 commented on #23113
Yes

[2022-10-12 19:29] aannalarsson commented on #23075
Hi, I am still actively working on the issue.

[2022-10-12 19:36] alya commented on #23112
Reviewing the issue description, I think we should make a couple of small tweaks:

1. Add the `(e)` shortcut to the "View message source" option in the message menu.
2. Looks like "Edit selected message or view message source" is too long to fit on one line in the `?` menu, so let's change it to  "Edit selected message or view source", so that it at least fits in English.

@sahil839 would you be u

[2022-10-12 19:37] alya commented on #22565
This issue has been fixed via #23139.

[2022-10-12 19:37] #22565 closed

[2022-10-12 19:37] alya commented on #22566
This issue has been fixed via #23139.

[2022-10-12 19:37] #22566 closed

[2022-10-12 19:45] alya commented on #23112
PR that resolved most of this issue: #23139

[2022-10-12 20:58] isaacmsl commented on #23158
As following observation:
https://github.com/zulip/zulip/blob/dc3f63d9dc3c8381dea639ddb54c9fbeec66f4db/zerver/lib/upload.py#L66-L68
Zulip can allow only extensions that does not create vulnerabilities. So I think allowing a lot of extensions should be dangerous.

[2022-10-12 21:11] alya commented on #22537
The only remaining part of this issue is that currently, if you can't edit or move your own message, we don't show any shortcut icons for that message.

At this point, I'm not sure showing the "View message source" button is correct, so I'm closing out this issue and starting a [discussion on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/message.20action.20shortcuts/near/1448691). I

[2022-10-12 21:11] #22537 closed

[2022-10-12 21:15] alya opened #23217 "Update message menu documentation"
In #23112 / #23139, we made a number of changes to the three-dot message menu, as well as the UI for moving and editing messages. We should update all help center documentation accordingly.

[2022-10-12 21:16] alya commented on #23217
@drrosa I think it would be good to put this one at the top of your new issue queue. Thanks!

[2022-10-12 21:30] alya opened #23218 "Improve column width in Users menu"
In the Users menu, if the organization has long names and/or email addresses, the Role column doesn't get enough space:

<img width="765" alt="Screen Shot 2022-10-12 at 2 20 53 PM" src="https://user-images.githubusercontent.com/2090066/195451006-cb77874e-9dac-4fcd-9ec1-3b8f5ef89f1f.png">
<img width="70" alt="Screen Shot 2022-10-12 at 2 20 34 PM" src="https://user-images.githubusercontent.com/20900

[2022-10-12 21:30] alya commented on #23218
@sahil839 would you be up for picking up this one?

I think **Deactivated users** is OK because we don't show a "Last active" column, but it would be worth double-checking.

[2022-10-12 21:52] mattmunnich commented on #6096
@timabbott:  It would indeed be quite helpful if you could provide a blog post about the problems you see.  I still fail to understand it.  If an attacker gets hold of the chat server and the user uses the web interface it seems trivial that E2E will not work since the attacker can install any kind of trojan software.    If on the other hand the user is using a local, clean client,  I still fail s

[2022-10-12 21:54] alya opened #23219 "Add commas to list of events supported by integrations"
Our integrations documentation lists the events that are supported, which can be hard to read when there are many events listed. E.g. from https://zulip.com/integrations/doc/gitlab:

<img width="874" alt="Screen Shot 2022-10-12 at 2 33 09 PM" src="https://user-images.githubusercontent.com/2090066/195451970-c12e9e3f-3a56-43b6-8375-59d112b0cbd7.png">

To make the list easier to read, we should add "

[2022-10-12 21:54] alya commented on #23219
@sahil839 would you be up for making this tweak?

[2022-10-12 22:09] nealhamiltonjr commented on #6096
No, the private key is stored on the client's computer locally not the
server. I know this because  it's not on the server anywhere on my install
and if a client forgets their key, which they generate client side, they
have to generate a new key..there is nothing the admin can do.
Additionally, any chats with the old key are not recoverable with the new
key. I as an admin can't login to the server

[2022-10-13 00:01] #22963 closed

[2022-10-13 00:04] timabbott commented on #22832
@jdherg just wanted to say this has been on Zulip Cloud for a bit, so if you see further issues, we likely have another bug to track down.

[2022-10-13 06:32] alya commented on #23202
@tusharverma643 we will need to more clearly document the "Reply mentioning user" option. Please take a look at @drrosa 's PR once he gets a chance to submit one. Thanks!

[2022-10-13 06:34] alya commented on #255
Yeah, the problem is that your organization's *server* is out of date, not the app on your computer.

[2022-10-13 09:09] wangyujie123 commented on #22890
@zulipbot claim

[2022-10-13 14:12] cognusion commented on #23161
Opened [PR367]( https://github.com/zulip/docker-zulip/pull/367) for docker-zulip.

[2022-10-13 17:09] #23219 closed

[2022-10-13 17:14] #23052 closed

[2022-10-13 18:26] alya opened #23233 "Reorganize organization settings sidebar"
To make it easier to find the settings panel you're looking for, we should arrange the panels in the left sidebar in a more coherent thematic order. The new ordering should be as follows. The group labels are given for reference only. These groupings will not be reflected in the UI; we're just changing the order.

[Basics]
- Organization profile
-  Organization settings
-  Organization permissions

[2022-10-13 18:30] tovrstra opened #23234 "Restriction to email domains enforces lowercase domains on users at login"
I'm managing two forums on zulipchat.com, with a restriction on the email domain names, to limit the users to persons with a university account. Our uni domain name is `ugent.be` but it is very common for employees and students to write their e-mail addresses as `FirstName.LastName@UGent.be`, with `UG` upper case. The current implementation of the domain name check in Zulip refuses such e-mail add

[2022-10-13 18:40] alya opened #23235 "Hide "Deactivated users" from collapsed settings sidebar"
Non-administrator users are by default shown a reduced version of the organization setting sidebar, which hides the less relevant panels until "Show more" is clicked.

We should hide "Deactivated users" from that initial collapsed view, as it's rarely relevant for non-administrators.

[2022-10-13 18:48] highb33kay commented on #23235
Hi @alya, How do you suggest I go about this? I would like to contribute if you'd assign this to me.

[2022-10-13 20:43] petercabra commented on #23235
@zulipbot claim

[2022-10-14 03:13] akarsh-jain-790 commented on #23233
@zulipbot claim

[2022-10-14 06:34] alya opened #23241 "Section divider not shown when all streams in the section are muted"
When all the streams in a section in the left sidebar are muted, the section divider disappears. I tested this for the Pinned and Active sections.

Instead, the divider should be shown if there are any streams in the section, regardless of whether they are muted.

![Screen Shot 2022-10-13 at 11 32 54 PM](https://user-images.githubusercontent.com/2090066/195778347-e531c39f-d0e7-403c-b3bd-9bbdee2d56

[2022-10-14 06:34] alya commented on #23241
@madrix01 Would you be interested in picking up this one?

[2022-10-14 06:45] #22205 closed

[2022-10-14 06:47] madrix01 commented on #23241
Yeah sure, currently I have some high priority issue on my plate. I'll solve these after.

[2022-10-14 07:06] alya commented on #23241
Perfect, thanks!

[2022-10-14 07:18] alya commented on #23218
This issue has been resolved for English, but still exits for Russian:

![Screen Shot 2022-10-14 at 12 15 56 AM](https://user-images.githubusercontent.com/2090066/195786203-c551b706-5c89-46b4-b46c-81901ab96bcd.png)

Reopening it as lower priority.

[2022-10-14 08:30] lukors opened #23864 "Quoting does not work"
**Describe the bug**

Quoting a message just writes "[Quoting…]" in the message, then nothing happens.

**To Reproduce**

1. Press the three dot button on a message
2. Press "Quote and reply or forward"

**Expected behavior**
the "[Quoting…]" should be replace with the actual quote.

**Screenshots**

[Kazam_screencast_00000.webm](https://user-images.githubusercontent.com/1719884/195800403-745bd7ef

[2022-10-14 08:57] saikha-parween commented on #19770
@zulipbot claim

[2022-10-14 13:30] tusharverma643 commented on #23202
Alright. Thanks!

[2022-10-14 19:44] tabell commented on #12611
Anyone know if this is still being worked on?

[2022-10-14 20:38] timabbott commented on #23132
I think we probably do want to change that. My proposal would be to change it to just `#recent`, with semi-permanent `hashchange.js` code (with a TODO/compatibility comment noting that making the `reload.js` logic work after upgrades for self-hosted systems means we need to keep this logic for a couple years) for treating the old `#recent_topics` as `#recent` and then rewriting the URL. And then w

[2022-10-14 21:28] alya opened #23247 "Remove up-triangles from landing page menus"
At present, we have small upward-pointing triangles in our landing page navigation menus. These don't look good (they are detached from the rest of the menu), and should be removed or visually improved.

<img width="206" alt="Screen Shot 2022-10-14 at 2 27 58 PM" src="https://user-images.githubusercontent.com/2090066/195946736-2f48e9cd-20c9-4470-a20e-f061a571cd19.png">

~~I *think* this is a recen

[2022-10-14 21:42] KanhaKesarwani commented on #21841
I would like to work on this issue, I would need some guidance along the way but I will try to follow through well. @alya

[2022-10-14 22:07] kkarhan commented on #12611
AFAIK this is not being worked on - otherwise this would've been closed with a merge request linked to it.

[2022-10-14 23:58] alya opened #23248 "Improve icons in Organization settings sidebar"
As [discussed on CZO,](https://chat.zulip.org/#narrow/stream/101-design/topic/organization.20settings.20sidebar) we should make the following changes to icons in the Organization settings sidebar, to better represent the panels:

- [ ] **Organization settings**: Replace the beaker with https://fontawesome.com/v4/icon/sliders
- [ ] **Deactivated users**: Replace the trash can with our "Deactivate u

[2022-10-15 00:05] alya opened #23249 "Text on social auth buttons overlaps with logos (non-English)"
Login page in Russian:

<img width="448" alt="Screen Shot 2022-10-14 at 5 03 30 PM" src="https://user-images.githubusercontent.com/2090066/195959532-e940620b-32f6-40bb-bbe7-e3d869a87b90.png">

[2022-10-15 00:07] Rixant commented on #23248
@zulipbot claim

[2022-10-15 00:44] timabbott opened #23250 "Clean up confusing get_recipient_label code path"
Following #20890, the following code path will be pretty messy:

[code]

We have 3 code paths that call this function:
* The "create a video call" link logic in `compose.js`, which needs a name for the new video call room in backends like BigBlueButton that require one.
* The normal logic for updating the closed-compose "Message ..." button selecting a message in a normal view.
* The `recent_topic

[2022-10-15 01:04] alya commented on #23249
@amanagr Hopefully this one is not too hard to fix.

[2022-10-15 03:29] Rixant commented on #23247
@zulipbot claim

[2022-10-15 03:43] Rixant commented on #23241
@alya , Why do I feel this and #22843 (https://github.com/zulip/zulip/issues/22843) contradicts to each other?

[2022-10-15 03:50] Rixant commented on #23247
Didn't realize it was not labelled "help wanted".

[2022-10-15 09:37] unaisshemim commented on #23248
claim

[2022-10-15 11:38] emdee-is commented on #12941
@whalehub I don't think requiring HTTPS certificates on Zulip servers is the way to go - the certificate issuer is not free so you make everyone who wants to run an Onionv3 Zulip server not only pay, but make the onion server non-anonymous - which defeats the whole point.

It would be better to get the android client to not require https:// for *.onion addresses - onion circuits are much more secu

[2022-10-15 16:43] amanagr commented on #22910
Another interesting use case of status text, which could look weird if the status emoji was in the next line:
<img width="711" alt="Screenshot 2022-10-15 at 10 12 08 PM" src="https://user-images.githubusercontent.com/25124304/195998115-e53ddd5a-8da7-48cd-a528-236c23c2a025.png">

[2022-10-15 18:00] CodeExecutioner commented on #23233
@zulipbot claim

[2022-10-15 18:46] enow97 commented on #22875
@zulipbot claim

[2022-10-16 13:22] Gargidhawan commented on #23248
claim

[2022-10-16 20:10] alisonbuki commented on #12611
[Theme UI](https://github.com/system-ui/theme-ui) might be an interesting tool to look at if the frontend architecture would support it.

I don't think allowing users to upload custom CSS would be a sustainable solution because 1). this would require a lot of time, effort and technical expertise on the part of users 2). custom CSS could be easily broken by Zulip updates

[2022-10-17 02:16] #22876 closed

[2022-10-17 06:20] Bishnupriyaprusty148 commented on #19770
@zulipbot claim

[2022-10-17 07:04] ATR-oCiTy commented on #21036
@zulipbot claim

[2022-10-17 10:41] amanagr commented on #23249
oh! It's the signup page

[2022-10-17 13:25] audrey2001 commented on #23062
hello, wanted to verify if there are any form of documentation on new releases so we could always check from there to be able to load the feature dynamically.

something like a function that check, if yes return true and display a modal(the designs will be established but what changes are the text)
if No it returns false and no modal is displayed

[2022-10-17 13:31] audrey2001 commented on #22954
Hello @alya would love to work on this but I need some clarifications, do you mean we should stop using bootstrap class names in our custom classes?

[2022-10-17 18:37] #23217 closed

[2022-10-17 18:54] #20162 closed

[2022-10-17 19:07] timabbott commented on #23249
Removing the release goal label since the critical part of this was fixed in #23258.

[2022-10-17 20:24] alya opened #23261 "Unread marker should work to mark PMs in Recent Topics as read"
Following up on #20890, the unread marker should work to mark PMs in Recent Topics as read, just as it does for stream/topic rows.

[2022-10-17 20:41] alya opened #23262 "Presence and status in PMs in Recent conversations"
In #20890, we added PMs to Recent conversations (a.k.a. Recent topics). To make the UI more complete and consistent with other parts of the app, we should:

- [ ] For 1:1 PMs, show the user's presence status (e.g., "Idle") when hovering over the presence dot, just as we do in the user profile popover.
- [ ] Show the user's status emoji after their name, in both 1:1 and group PMs. (Note that status

[2022-10-17 20:42] alya commented on #23262
@amanagr I'm assigning this issue to you as an owner, but it's lower priority than your other release-goal issue, and I've asked @Riken-Shah if he'd be up for taking it on.

[2022-10-17 22:02] #19449 closed

[2022-10-17 22:21] alya commented on #21841
@KanhaKesarwani  Sure! Please post a comment describing your proposed approach once you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on) for your work. After that, you can claim the issue via `zulipbot`, if it still available. Thanks!

[2022-10-17 22:26] alya commented on #22910
Hmm, it's interesting, but I'm not too worried about this example. Users can choose to put emoji anywhere they like in their status message, but this is not especially common, and they can move or remove the emoji if it looks odd to them.

[2022-10-17 22:55] alya opened #23265 "Add confirmation dialog for reactivating a bot from Personal settings"
When reactivating a bot from the organization settings menu, we show the following confirmation dialog:

![Screen Shot 2022-10-17 at 3 50 26 PM](https://user-images.githubusercontent.com/2090066/196298286-4c95319c-20f0-4cc7-b626-15ca0795bbae.png)

We should show the same confirmation dialog when reactivating a bot from the **personal settings** bots tab.

Following up on #23256, https://zulip.com/

[2022-10-17 23:01] Rixant commented on #23265
@zulipbot claim

[2022-10-17 23:08] alya opened #23266 "Improve handling of long bot owner names in bot management modal"
At present, we don't handle long bot owner names well in the bot management modal:

![Screen Shot 2022-10-17 at 3 58 18 PM](https://user-images.githubusercontent.com/2090066/196299947-3d2016cc-4cde-42e3-ad45-e487a93e4f86.png)
![Screen Shot 2022-10-17 at 3 58 28 PM](https://user-images.githubusercontent.com/2090066/196299952-2a2b7e65-ddc4-462d-ad5f-d87b5a7a964c.png)

We should restrict the owner na

[2022-10-17 23:36] alya opened #23267 "Change logic for Notification Bot messages"
At present, whenever all the messages in a topic mare moved, the Notification Bot posts a message that says: "This topic was moved here from (somewhere) by (someone)."

This message is confusing when the topic the message(s) are being moved _to_ already has other messages in it. We should therefore update the logic so that the "This topic was moved here from (somewhere) by (someone)." message is o

[2022-10-17 23:45] alya commented on #23249
Works for me! @amanagr please feel free to unassign yourself if you don't plan to work on a better fix in the near future.

[2022-10-18 00:11] alya commented on #22954
We should rewrite our CSS so that it does not depend on the Bootstrap `form-horizontal` CSS class, with the eventual goal of dropping our dependency on Bootstrap altogether.

[2022-10-18 04:08] alya opened #23269 "Make system groups mentionable"
As a follow-up to #19525, we should make system groups mentionable. User story [reported on CZO](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Pinging.20only.20guests.3F/near/1451530):

Somewhat related: #19029

[2022-10-18 04:25] alya opened #23270 "Customize reactivation confirmation modal for bots"
At present, we use the same reactivation confirmation modal for users and bots. However, parts of the text don't work well for bots, and we should modify it to be more appropriate (leaving the user deactivation modal the same as it is now).

Current:

![Screen Shot 2022-10-17 at 3 50 26 PM](https://user-images.githubusercontent.com/2090066/196334904-260afb8e-5fd6-4e91-8427-e4e17b2cca57.png)

New:

[2022-10-18 06:25] Barissa-Imran commented on #23270
@zulipbot claim

[2022-10-18 06:34] amanagr commented on #22910
OK, I will open a PR for that, so we can test deploy. The checked the other 3 points, since they are fixed now, right?

[2022-10-18 06:59] alya commented on #22910
Yes, that sounds right, thanks!

[2022-10-18 11:59] oyale commented on #22298
I am writing to confirm that we encountered the same problem (when upgrading the server using `/home/zulip/deployments/current/scripts/upgrade-zulip-from-git main`, as we are migrating from the cloud) and that it was indeed due to the machine not having enough RAM.

Maybe it is worth adding it to the documentation?

Thanks to everyone!

[2022-10-18 15:20] #20165 closed

[2022-10-18 15:24] #23204 closed

[2022-10-18 16:07] laurynmm opened #23273 "Fix search banner text when wrapping in window"
When a user searches for a keyword, the message feed may show an alert/banner to expand the search to all public streams.

![Screenshot from 2022-10-18 17-58-17](https://user-images.githubusercontent.com/63245456/196482571-82cffc03-08d0-469e-a92e-a39033df5a33.png)

If the browser window is narrowed to a width that causes that banner text to wrap, then the wrapped text appears outside of the border

[2022-10-18 16:08] laurynmm commented on #23273
@zulipbot add "area: message feed display" "good first issue"

[2022-10-18 16:38] Riken-Shah commented on #23262
On it!

[2022-10-18 17:16] #23066 closed

[2022-10-18 17:27] alya opened #23274 "Remove extraneous heading in Create stream UI"
The stream creation UI has two redundant heading for the message retention policy. We should fix this.

![Screen Shot 2022-10-18 at 10 22 53 AM](https://user-images.githubusercontent.com/2090066/196501660-c5b0fd87-40d7-421f-80c8-106bb6ab40a8.png)

Specifically, we should:

- [ ] Drop the "Message retention for stream" heading
- [ ] Replace the "i" after the "Message retention period" heading with

[2022-10-18 17:44] beingnoble03 commented on #23274
@alya can i work on this one?

[2022-10-18 18:41] cognusion opened #23276 "Slack conversion emoji mapping"
Recently, it was observed that many Slack exports being converted to Zulip imports were throwing WARNings about various emoji. The warnings were introduced in [this commit](https://github.com/zulip/zulip/commit/a7cff0f0918f1b05188e41e3c5a0199d6c2151af), but it's not clear if that code (or related) are just now _notifying_ about an existing problem, or _introduced_ the problem itself.

Below is a s

[2022-10-18 19:02] gnprice commented on #23276
For the skin-tone modifiers, we don't currently support those: #992. So pending that issue, probably the best thing to do in an import is to drop the modifier and use the underlying emoji without a specified skin tone.

For the others, on a spot check, they appear to be emoji we do indeed have. (Since #19371, anyway. Many of them -- perhaps all -- were newly added then. Perhaps that's a clue someh

[2022-10-18 19:43] andersk commented on #23276
We should translate Slack emoji to Unicode, not to colon-strings. Then it doesn’t matter whether Zulip “supports” the emoji.

[2022-10-18 19:55] alya opened #23277 "Compose box resizing bug (with preview mode)"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/compose.20box.20max.20size), the following can be reproduced in `main`:

1. Stretch the compose box to max allowed size
2. Switch to preview mode and back
->  You can now stretch the compose box some more!

You can repeat this process to get results like this:

![Screen Shot 2022-10-17 at 8 31 13 AM](https://user-images.gith

[2022-10-18 20:08] alexmv commented on #22298
How much RAM did you have before, and what version were you upgrading to `main` from?

[2022-10-19 00:13] #22952 closed

[2022-10-19 00:20] #23146 closed

[2022-10-19 00:35] #23078 closed

[2022-10-19 00:40] amandaalexandre commented on #23273
I believe I can solve this. Is this assigned to someone?

[2022-10-19 00:44] amandaalexandre commented on #23273
@zulipbot claim

[2022-10-19 01:14] isaacmsl commented on #23158
There is no necessity to open .webm extension in the browser. See #20449, It will be showed on a thumbnail.

[2022-10-19 02:26] oyale commented on #22298
I was running it on a 2 GB CX11 [Hetzner](https://www.hetzner.com/cloud)'s machine. Switching to a 4 GB's CX21 was enough to run the upgrade smoothly.

I didn't catch the exact patch, but it was a v5.6, the one provided by the latest [installer](https://download.zulip.com/server/zulip-server-latest.tar.gz) (using [this Ansible role](https://github.com/coopdevs/zulip-role)).

[2022-10-19 03:57] Rixant commented on #23266
@zulipbot claim

[2022-10-19 05:18] #23202 closed

[2022-10-19 05:30] alya commented on #23274
Sure, please follow the instructions [in the contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on), and claim the issue once you know how you will approach solving it.

[2022-10-19 05:59] alya opened #23283 "Ignore capitalization for alphabetizing streams in the "Move topic" and "Move messages" modals"
In the "Move topic" and "Move messages" modals, the streams dropdown is sorted with streams names beginning with capital letters first. Instead, we should alphabetize stream names ignoring capitalization, as we do elsewhere in the app (e.g., the left sidebar).

![Screen Shot 2022-10-18 at 10 52 38 PM](https://user-images.githubusercontent.com/2090066/196608607-3885df4d-340b-4aef-a32d-cdbcc87fb204.

[2022-10-19 06:22] alya opened #23284 "File upload gets placed into empty stream or topic box"
Repro:

1. Open the compose box with an empty stream and/or topic.
2. Drag a file to the compose box.

Expected: File gets uploaded as normal.
Actual: [Uploading..] text gets placed into the stream box if it's empty, and into the topic box otherwise.

![Screen Shot 2022-10-18 at 11 20 11 PM](https://user-images.githubusercontent.com/2090066/196725588-94daddbb-725a-4724-ad83-8e0aba29f0e3.png)
![Scr

[2022-10-19 06:36] beingnoble03 commented on #23274
@zulipbot claim

[2022-10-19 07:55] CodeExecutioner commented on #23283
@zulipbot claim

[2022-10-19 11:36] LinusBGit commented on #23210
I am afraid I have had some circumstances in my real life that have to take priority over this. Abandoning this issue for now, hopefully someone with the time can work on it. Best of luck.

[2022-10-19 11:37] LinusBGit commented on #23210
@zulipbot abandon

[2022-10-19 13:18] JoeyPriceless commented on #23284
I'm having trouble reproducing this issue. The [Uploading..] text always seems to appear in the content box and not the stream/topic boxes even if they're empty.

![chrome_zMfy6jv3AR](https://user-images.githubusercontent.com/8920712/196701810-f129aa2f-c5c7-437f-a722-a2c3b1e2675b.gif)

[2022-10-19 13:43] thaiscodafond commented on #22813
@zulipbot claim

[2022-10-19 14:49] alya commented on #23284
Huh, and now this stopped happening for me. I'm very puzzled!

[2022-10-19 14:53] alya commented on #23284
![2022-10-19 07 52 52](https://user-images.githubusercontent.com/2090066/196726311-9b5c5541-cd8e-463d-aafb-368c8216839e.gif)

[2022-10-19 15:26] yogesh-sirsat commented on #23266
Hey, @Rixant are you working on this issue?

[2022-10-19 17:11] alexmv commented on #22298
I believe this to be because when building from `main`, you need to have enough memory to run `webpack`, which has started requiring more than 2G of RAM.  The pre-packaged releases with version numbers have the webpack output pre-generated and bundled in them.

The action here is likely to better document that the memory requirements for `main` are higher than those for versioned releases.  @oyale

[2022-10-19 17:44] alya opened #23288 "Improve organization of Display settings menu"
To improve the organization of the Display settings personal settings menu, we should:

- [ ] Rename the top section to "General"
- [ ] Rename the second section to "Emoji"
- [ ] Move the color scheme selector to the top section

- [ ] Modify the color scheme selector:
   - Change the label to "Theme"
   - Change the dropdown options to: Automatic (follows system settings), Light, Dark [in this or

[2022-10-19 17:49] beingnoble03 commented on #23288
@zulipbot claim

[2022-10-19 17:52] alexmv commented on #22298
We do say, in [the "requirements and scalability" section](https://zulip.readthedocs.io/en/latest/production/requirements.html#requirements-and-scalability) of a different page:

But that can be easily missed if one was on a release when it was first alled.

[2022-10-19 18:22] alya opened #23290 "Rename"

[2022-10-19 18:27] alya opened #23291 "Rename "(no topic)" to "general chat""
At present, messages sent without a topic are displayed as going to "(no topic)". As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Help.20Choosing.20Topic), we should make sending messages without a topic feel more normal/expected by renaming "(no topic)" to "general chat".

We want to have the server start allowing channel messages to have an empty topic at the API l

[2022-10-19 18:35] alya opened #23292 "Make topic name for messages sent without a topic customizable"
In #23291, we plan to rename the topic we display for no-topic messages to "general chat".  However, ideally the topic name should actually be customizable on an organization level, as a setting just under "Require topics in channel messages". This will be especially helpful for organizations where English is not the main language. The default topic name can be "general chat" in the language the o

[2022-10-19 18:51] alya opened #23294 "Change topic placeholder text for organizations that allow no-topic messages"
Following up on #23291, we should:

- [ ] Change the topic placeholder text to "Enter topic or send to "general chat"". Note that "general chat" should be a variable, and thus not translatable.
- [x] Make the topic input field wider to accommodate this phrase (across languages). (Note that extending the topic input field is part of the proposed compose box redesign in any case.)

[CZO discussion](

[2022-10-19 18:55] Joelute commented on #23267
@zulipbot claim

[2022-10-19 18:58] #23170 closed

[2022-10-19 19:02] #23112 closed

[2022-10-19 19:02] #23113 closed

[2022-10-19 19:07] alya opened #23295 "Add hint text to topic typeahead dropdown"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Help.20Choosing.20Topic), users are sometimes uncertain how to selecting a topic for their message. To provide of a bit of extra guidance, we should try adding hint text at the bottom of the topic typeahead in the compose box.

- Text: "Start a new topic or select an existing one." (to be finalized when we work on this)

[2022-10-19 19:13] alya opened #23296 "Add a new topic indicator to the compose box topic typeahead"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Help.20Choosing.20Topic), users are sometimes uncertain how to selecting a topic for their message. To make it feel more natural to enter a new topic name rather than selecting one from the typeahead, we should try adding "_new_" to the line in the dropdown that shows the topic currently entered in the topic field, if i

[2022-10-19 19:14] alya opened #23297 "Make it easier to pick (or not to pick) a topic"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Help.20Choosing.20Topic), users (especially those who are new to Zulip) sometimes find it challenging to pick a topic for their message. We should (a) do what we can to make picking a topic feel easy, and (b) make it feel fine *not* to enter a topic for organizations that enable that option.

This is an umbrella issue f

[2022-10-19 19:57] alya opened #23298 "Scroll to sent message when bottom of the screen is in view"
At present, when the user sends a message, and the bottom of the message view is on-screen, we scroll to show the sent message **if we can do so without moving the blue selection box**. As [reported on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/scrolling.2Ffocus), this can be confusing to users, as they may not see the message they just sent.

Instead, we should scroll to show t

[2022-10-19 21:57] JoeyPriceless commented on #22893
Hey there. Is anyone actively working on this or could I take a swing at it?

[2022-10-19 22:14] timabbott commented on #23298
I believe the logic that is requested to change here is `_maybe_autoscroll`; in particular this block:
[code]

The caller already does a check (search for `started_scrolled_up`) to cover the case where the bottom whitespace is not visible.

I think basically the plan would be to skip messing with a `scroll_limit`, and just scroll a distance based on the height of the new message. It's likely that

[2022-10-19 23:26] #22984 closed

[2022-10-20 00:17] Rixant commented on #23266
@yogesh-sirsat , I was planning to. You can take it.

[2022-10-20 01:37] Rixant commented on #23288
@zulipbot claim

[2022-10-20 05:25] alya commented on #22893
I believe @andersk has this on his plate. @andersk , is that right?

[2022-10-20 07:33] Barissa-Imran commented on #23210
@zulipbot claim

[2022-10-20 09:41] sofbe commented on #23291
@zulipbot claim

[2022-10-20 10:13] sayamsamal commented on #23089
Working on it!

[2022-10-20 15:05] kayabhandari commented on #20197
@zulipbot claim

[2022-10-20 15:08] kayabhandari commented on #23210
@zulipbot claim

[2022-10-20 17:27] #23274 closed

[2022-10-20 17:47] alya commented on #21798
In-progress PR: #22635

[2022-10-20 18:27] timabbott commented on #23132
@laurynmm one thought I had is that I think we don't want to deploy the Recent topics addition of private messages to Zulip Cloud or include in a beta before we change the "Recent topics" strings to "Recent conversations"; but changing the URL is probably not a blocker. So maybe it makes sense to do this in the form of two PRs, first one to just change the strings and a second to change the less v

[2022-10-20 18:32] timabbott commented on #22910
I removed the bug/release goal labels since the 2/3 tasks that were bugs as opposed to design changes that may or may not work out were merged.

[2022-10-20 18:35] timabbott commented on #22002
@aparna-bhatt I think unless you can post your PR in the next 48 hours, someone else will end up needing to reimplement it, since we want to integrate this in the 5 days so we can include a fix in the 6.0 release. If you're work is unfinished, it'd still be great to open a draft PR with what you have and notes on your remaining TODOs in comments.

@sahil839 FYI, I think it makes sense for you to s

[2022-10-20 18:37] timabbott commented on #21789
@refeed @rht what's the status of https://github.com/zulip/zulip-archive/pull/84? I see it's still marked as a draft; it'd be nice to include this as needed.

[2022-10-20 19:43] alya commented on #23132
Sounds great to me!

[2022-10-21 00:54] #21307 closed

[2022-10-21 00:55] timabbott commented on #23290
I think this is an accidental dupe of https://github.com/zulip/zulip/issues/23291.

[2022-10-21 00:55] #23290 closed

[2022-10-21 02:04] PIG208 commented on #22828
We should close as complete since this gets implemented in #22842.

[2022-10-21 05:25] rht commented on #21789
It looks like https://github.com/zulip/zulip-archive/pull/84/files#r910486484 hasn't been resolved.

[2022-10-21 07:31] #22828 closed

[2022-10-21 08:34] Sanidhya0077 commented on #23283
@alya I am interested in resolving this issue can you please assign me to the issue.

[2022-10-21 08:34] Sanidhya0077 commented on #23283
@zulipbot claim

[2022-10-21 10:06] rht commented on #21789
@refeed if you are busy, I can take over that PR.

[2022-10-21 10:07] newweiran opened #23311 "Install issue, Please help!"
I encountered major troubles in the process of installing Zulip Server. I tried to search Google and Github for solutions to related problems, but unfortunately, I am asking this question again, and I hope enthusiastic netizens can help to answer, thank you.

When executing the installation command, the error is:
Error running a subcommand of /root/zulip-server-5.6/scripts/lib/create-production-ve

[2022-10-21 12:07] steph237 commented on #23295
Hi @alya can I work on this issue ?

[2022-10-21 14:18] refeed commented on #21789
@rht yes, I've been quite busy actually, I don't mind if you want to take over this PR

[2022-10-21 16:58] alya commented on #23295
@steph237  Sure! Please post a comment describing your proposed approach when you're ready. You can claim the issue after you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on) for how to address it. Thanks!

[2022-10-21 17:00] Balendrasingh2210 commented on #23248
Claim

[2022-10-21 17:08] alya commented on #23311
It's probably easiest to get help on this interactively; I started a thread in the development community [here](https://chat.zulip.org/#narrow/stream/31-production-help/topic/installation.20help.20.2323311).

[2022-10-21 17:25] timabbott opened #23314 "Fix buggy $current_focus_elem code in recent conversations"
In some code paths in Recent Conversations, we seem to have code that's a bit confused about the type of `$current_focus_elem`, which can sometimes be the literal string "table".

[code]

@alya somehow managed to get this code to throw an exception earlier; I don't have a reproducer but the code seems on the face of it incorrect. Maybe `$current_focus_elem` should be unset rather than `"table"` in

[2022-10-21 18:43] timabbott commented on #23311
This appears to be a networking problem; `pip install` is unable to download Zulip's Python dependencies on your host because of something about your network configuration (I see that it's trying to download from a Python mirror host without a proper SSL certificate, which is clearly something setup in your environment). You'll need to use a mirror with a proper SSL certificate; Zulip does not all

[2022-10-21 18:43] #23311 closed

[2022-10-21 19:17] #23101 closed

[2022-10-21 19:30] timabbott commented on #21789
Awesome, that'd be super helpful @rht!

[2022-10-21 22:42] timabbott commented on #8593
Closing, since we're not longer using either Casper or CircleCI :)

[2022-10-21 22:42] #8593 closed

[2022-10-21 22:43] timabbott commented on #16240
This was fixed in d6307cc9077cd823af21179c7bc98a9f46e11fd0; #17477 remains open for not having that running in CI yet.

[2022-10-21 22:43] #16240 closed

[2022-10-21 23:34] timabbott opened #23315 "Fix exception in when realm_domains change without its UI visible"
The function `populate_realm_domains_table` is called from `server_events_dispatch.js` for all users when the organization's domains change. However, it appears that the logic expects the `realm_domains_table` to be present. This is likely easy to fix -- we can just exit without doing anything if the table is not already present in the DOM in the code path coming from `server_events_dispatch`, sin

[2022-10-21 23:42] timabbott opened #23316 "Fix exception accessing local storage in Firefox 104 (likely with some setting)"
We've seen a traceback in production where for some users using a browser that reports itself as Firefox 104, the local storage module throws an unfortunately unspecified exception when trying to access local storage, despite it being reported as supported.

The exception appears to be thrown more or less on on browser load, when we're trying to check if we should prompt the user for desktop notif

[2022-10-22 06:41] amanagr commented on #23314
[code]

@timabbott we always return before `$current_focus_elem.trigger("focus");` is executed if `$current_focus_elem` is `table`. The error might be linked to https://chat.zulip.org/#narrow/stream/6-frontend/topic/hotkey.20bug though.

[2022-10-22 06:47] samay-rgb commented on #23273
Hi. I'm new to open source. I'd like to work on this issue if it hasn't been resolved yet. This issue is being caused because a fixed height has been assigned to the ```<div>``` tag displaying the error message. Making the height auto should resolve this issue.

[2022-10-22 08:13] aparna-bhatt commented on #22002
Hi @timabbott sorry for the delay as I was busy in travelling. I have created a PR for the proposed changes.
@sahil839 please review it.
Thank you!

[2022-10-22 08:58] amandaalexandre commented on #23273
I'm working on this issue, but I'm having trouble with the setup. If I don't fix it in 24h I'll pass it to you, ok?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Samay Sagar ***@***.***>
Sent: Saturday, October 22, 2022 3:47:27 AM
To: zulip/zulip ***@***.***>
Cc: Amanda Alexandre ***@***.***>; Assign ***@***.***>
Subject: Re: [zulip/zulip] Fix search banne

[2022-10-22 09:33] samay-rgb commented on #23273
Ok.

[2022-10-22 13:14] amanagr commented on #23142
I think it is important to call `resize.resize_page_components` after receiving new messages, since we need to adjust the bottom whitespace.

[2022-10-22 18:29] NeerajGartia21 commented on #23248
@zulipbot claim

[2022-10-22 23:13] palashb01 commented on #23198
Hey @rebeccasod are you working on this Issue, Otherwise I know how to solve this and would love to go ahead, Thanks.

[2022-10-23 03:04] Balendrasingh2210 commented on #22866
@zulipbot claim

[2022-10-23 06:38] ganpa3 commented on #23315
@timabbott #23322

[2022-10-23 06:54] amandaalexandre commented on #23273
@laurynmm @alya  I fixed the issue but I'm unsure to which branch I should do my PR. Is it the 6.0 beta branch?

[2022-10-23 10:49] JulianaSau commented on #22904
I'm still working on it

[2022-10-23 22:18] JamesWrigley commented on #17037
I just checked, and on Zulip cloud at least it's not fixed yet. Would be quite useful :slightly_smiling_face:

[2022-10-23 23:23] cognusion commented on #23161
Chill, bot.

[2022-10-24 03:38] #23315 closed

[2022-10-24 03:40] dna-witch commented on #23297
@zulipbot claim

[2022-10-24 05:24] prakhar1144 opened #23325 "Improve assert_database_query_count output message"
As discussed in [CZO](https://chat.zulip.org/#narrow/stream/49-development-help/topic/backend.20test.20failing.20due.20to.20increase.20in.20query.20count.2E/near/1453817)

The [**message**](https://github.com/zulip/zulip/blob/914712beab2dfb598d890db6dd6be8376864ac75/zerver/lib/test_classes.py#L1147) we receive talks about the case when `actual query > expected query`. But it doesn't talk about, if

[2022-10-24 05:25] prakhar1144 commented on #23325
@zulipbot claim

[2022-10-24 06:33] alya opened #23327 "Make Stream settings and Create stream UIs more consistent"
Following up on #19519 / #23013, we should make the following changes to make the UIs of the Stream settings > General panel and the Create stream panel more consistent:

- [ ] Move the "Announce stream" option just below "Stream description" (with no changes to the logic for whether it's shown).
- [ ] While we're here, make the following changes to the "Announce stream" option (see #22892):
   -

[2022-10-24 06:59] Rixant commented on #23327
@zulipbot claim

[2022-10-24 09:34] oyale commented on #22298
Yeah, I've seen it in the requirements section just after writing this issue, sorry.

We have indeed read the section [Upgrading from a Git repository](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository), following the link in the section [Importing to a new Zulip server](https://zulip.readthedocs.io/en/latest/production/export-and-import.html#

[2022-10-24 10:03] oyale opened #23328 "Older messages are unavailable after migration to self-hosted"
We've run a migration from zulipchat.com to our selfhosted server. We ask for a complete export with consent and run the Ansible's [zulip-role](https://github.com/coopdevs/zulip-role) (basically, it's run the latest release installer and makes some configurations):

- [X] Register certbot account
- [X] Configure push notifications
- [X] Configure outgoing mail
- [X] Configure GIPHY API key

After

[2022-10-24 16:45] alya opened #23330 "Time picker error when switching tabs"
Repro (tested in the dev environment, Chrome on a Mac):

1. Open the time picker
2. Switch to another tab
3. Return to the Zulip tab

Expected: Time picker is still there; no changes in the Zulip tab.
Actual: The Zulip tab has an error:

[code]

[2022-10-24 17:18] #23325 closed

[2022-10-24 17:28] #23261 closed

[2022-10-24 17:51] mlncn commented on #364
Wild card would be very helpful!

Possibly a quicker and easier fix would be slightly more aggressive tokenizing?

We have come across this when searching for an e-mail address— we know we shared it, so we search for `example.org` or `@example.org`.  Currently in Zulip this does not return messages with `firstname.lastname@example.org` but it's not even asking for wildcards to consider `@` and `.`

[2022-10-24 17:52] #23157 closed

[2022-10-24 17:55] alya opened #23331 "Improve cursor behavior when interacting with last row of Recent conversations"
As reported [here](https://github.com/zulip/zulip/pull/23312#issuecomment-1288449679), we have some odd behaviors for the keyboard selection cursor in Recent conversations when it cannot move down in the expected way:

- When you mark the bottom row as read and the cursor has nowhere downwards/rightwards to go, it disappears altogether.
- When you mute the last row, the cursor jumps to a "mute" ic

[2022-10-24 17:58] alya opened #23332 "Cursor incorrectly disappears when muting a topic in Recent conversations"
Muting a topic (via keyboard) that has a PM row directly below makes the cursor disappear. Instead, we should use the same patten as for unread markers, and go to the topic on the next line if there is no mute icon to go to.

[2022-10-24 18:30] timabbott commented on #23142
I don't understand that -- it's a function of only the height of the viewport, and that should only change when resizing the window, not when receiving new messages.

[code]

[2022-10-24 22:06] timabbott commented on #23314
I think some of the other cases in that big `if/else` block can fall through without returning, in which case the `is_table_focused` check would never be run, since it's in an else block. For example, if ` if ($elt.attr("id") === "recent_topics_search")`, and they key isn't any of the specific 12 keys listed there, it should fall through.

[2022-10-24 22:09] timabbott commented on #23314
Idunno, I haven't found a reproducer through that idea so far, but it seems like a bug of that form should be possible -- we don't have `page_up` case in the `btn-recent-filters` block, for example.

[2022-10-24 22:18] timabbott opened #23334 "Stop access page_params.unread_msgs after app initialization"
It appears we have a small number of places where we access the `page_params.unread_msgs` after web app initialization. This includes a new reference added in #23320.

[code]

This is not our preferred pattern; that data structure is not live-updated, so for example, the `page_params.unread_msgs.count > 500` check in `unread_ui.js` is stale. It should likely instead be calling a new function expor

[2022-10-24 23:02] timabbott commented on #23142
Based on 9489960b73f268fef45812c18a8f93b36f915dad, I think there's potentially a lot of opportunity to delete unnecessary and expensive resize calls that have been around since 2013 and may not serve any purpose.

The `resize_page_components` calls in `insert_new_messages` and `message_util` are particularly suspicious to me. I'm pretty sure part of the background has to do with the fact that "Gro

[2022-10-24 23:58] timabbott commented on #23142
I added a few commits related to your PR, but I think we may want to apply a focused effort to deleting unnecessary calls into the resize system soon; it's just very messy code.

[2022-10-25 00:40] timabbott commented on #23328
I'm pretty sure the issue is that your import process failed with an OOM kill -- that "Killing" message is likely the one printed by the OS when a process is killed for using more RAM/memory than the server has.

The very last step we do in the import process is setting the plan type to `SELF_HOSTED`, so presumably the last few steps of the import process were never run. I think there's a good cha

[2022-10-25 05:53] petercabra commented on #23235
I am still actively working on this issue.

[2022-10-25 06:10] Joelute commented on #23330
Hmm, I was able to reproduce it without having to switch to another tab.
tested on Chrome on Windows
1. Open the time picker
2. Open developer tools

[2022-10-25 06:12] timabbott commented on #22569
https://zulip.readthedocs.io/en/latest/subsystems/markdown.html has background on how the Markdown processor works; this is likely a bug with the regular expressions there. One of the first things I'd do is test using babelmark, to see whether the bug is in upstream Python-Markdown, or potentially in our own code.

I'm not entirely sure it will make sense to fix this directly, vs. have it naturall

[2022-10-25 06:16] timabbott commented on #21244
Closing as fixed in #22067.

[2022-10-25 06:16] #21244 closed

[2022-10-25 06:16] timabbott commented on #19398
Did we end up adding a check of this form in #22067?

[2022-10-25 06:28] timabbott commented on #19954
@sahil839 is this bug eliminated through the recent redesign of the message edit UI to no longer be combined with topic editing?

[2022-10-25 07:17] sahil839 commented on #19954
Yes, since there is no stream and topic input it works fine. But I noticed one thing that while opening the "Move messages" or "Move topic" modal, none of the inputs in the modal are focussed initially and when I press `Tab` then the focus comes on `x` icon. Do we want to focus on stream or topic input (depending on the permissions) when opening the modal?

[2022-10-25 07:29] alya commented on #364
Yeah, the above seems like a good separate issue. We should probably have a discussion in the development community regarding exactly what separators we use now, and which ones we should add.

[2022-10-25 07:30] alya commented on #364
Playing around with this, the behavior seems quite odd... Searching for `foo` finds `foo@bar`, but not `foo@bar.com`. 🤔

[2022-10-25 08:04] rebeccasod commented on #23198
@zulipbot @palashb01 Hi, sorry I hadn't noticed the comment on my PR for this issue, I will fix this today!

[2022-10-25 10:29] abhijeetbodas2001 commented on #21084
I suspect #18279 (which deferred updating the UI to when the event is received rather than immediately) to have made it easier to send multiple topic mute requests in quick succession, for example by double clicking the topic mute bell icon (it would stay there for sometime after the first click because of #18279).

For fixing this, if we replace the bell with a spinner after the first click, shou

[2022-10-25 10:34] prakhar1144 commented on #23266
@zulipbot claim

[2022-10-25 11:21] palashb01 commented on #23198
Hey @rebeccasod no issues, but I have already created a PR, for this issue and resolved the issue, you can take another help wanted issue, Thanks.

[2022-10-25 13:03] alya commented on #647
#19642 will let organizations create one topic (or a handful of topics) per stream, and lock down topic creation, so that everyone is getting a no-topic experience.

It wouldn't let users customize the experience on a personal level.

[2022-10-25 13:16] alya commented on #19954
Mm, good point! I wonder if we should focus on the topic box even if someone does have edit permissions, at least for "Move messages"? It's probably pretty common for that flow to change the topic without changing the stream. Might be worth a #design discussion?

[2022-10-25 15:02] sahil839 opened #23339 "Check locally echoed and failed messages when moving multiple messages."
The current behavior is -
- Sent a message which is locally echoed. (This behavior can be reproduced by adding `time.sleep` call to the code responsible for sending message).
- The "Move message" icon and three-dot menu is not shown for this message till server confirms the message. But a user can still attempt to move this message using some already sent message in the same topic and using `chang

[2022-10-25 17:53] #23142 closed

[2022-10-25 18:05] #23132 closed

[2022-10-25 19:12] alya opened #23344 ""Log in to your organization" page should always take user to login page"
At present, entering an organization with [public access](https://zulip.com/help/public-access-option) enabled into https://zulip.com/accounts/go/ takes the user to the logged out view of that page.

However, it's much more likely that the user in this situation wants to log in, not to see the logged-out view. Thus, clicking "Next" should always go to the login page (`/login`), never the public vi

[2022-10-25 19:28] timabbott commented on #15844
The last bit of this was finished in #23133.

[2022-10-25 19:28] #15844 closed

[2022-10-25 19:29] timabbott commented on #19843
This was fixed in https://github.com/zulip/zulip/pull/23245.

[2022-10-25 19:29] #19843 closed

[2022-10-25 20:49] #23277 closed

[2022-10-26 04:56] prakhar1144 commented on #23344
My [previous PR](https://github.com/zulip/zulip/pull/23225) is awaiting **Integration Review**. In the meantime, I am working on this issue. Thanks.

[2022-10-26 05:02] alya commented on #23344
Sure, assigning this issue to you -- thanks @prakhar1144 !

[2022-10-26 10:30] isabellalcarmo commented on #22954
Hello @alya, I would like to work on this issue but first I would like to know if the logic of my solution would be acceptable: I was thinking of creating a standardized class for `form-horizontal` in our CSS as, for example, `.horizontal-pattern` and then just call it in our HTML as `<form class="horizontal-pattern">`. Is it what you want or did I get it wrong?

[2022-10-26 20:00] alya opened #23350 ""Manage users" popover closes when highlighting a field"
Highlighting a user's name in the "Manage user" popover closes the whole popover if you drag the mouse outside the popover:

![2022-10-26 12 46 59](https://user-images.githubusercontent.com/2090066/198124813-0204d35a-f916-4a5b-aab8-b174dde79813.gif)

I have not tested other fields in this popover, or other popovers, so I'm not sure how widely this bug is present.

[2022-10-26 20:06] alya commented on #22954
@isabellalcarmo Please post your question in [#frontend](https://chat.zulip.org/#narrow/stream/6-frontend) in the [Zulip development community](https://zulip.com/development-community/) (no need to tag me). Thanks!

[2022-10-26 20:16] #23203 closed

[2022-10-26 20:22] #23198 closed

[2022-10-26 20:32] #23270 closed

[2022-10-26 20:47] #20870 closed

[2022-10-27 06:08] jalabaya opened #23354 "Rocketchat conversion"
I am trying to import my rocketchat data, following this guide: https://zulip.com/help/import-from-rocketchat. I did see https://github.com/zulip/zulip/issues/20108, but I think this is a different issue. In that thread user @garg3133 was mentioned as the original author of the script. I hope, I can get some help.

This is on a Linode 2 CPU Cores 80 GB Storage 4 GB RAM
Ubuntu 20.04

Exporting the

[2022-10-27 06:55] somesh202 commented on #23075
@zulipbot claim

[2022-10-27 09:49] amanagr commented on #22911
Working on this today!

[2022-10-27 09:59] Riken-Shah commented on #23330
Yeah, when you open the time picker and you press any key except then tab and numbers it'd throw this error.
Fixed it in https://github.com/zulip/zulip/pull/23356.

[2022-10-27 13:13] Ashutosh2407 commented on #23327
Hii, I am new to Open Source and a student. I would love to contribute to this issue. Thanks

[2022-10-27 14:11] jalabaya opened #23359 "Error during install (self-hosted)"
I am trying a new install and this error shows up. I am following this guide: zulip.readthedocs.io/en/stable/production/install.html

[code]

4GB RAM Linode

Ubuntu 22.04.1 LTS

Edit: Re-running ./zulip-server-*/scripts/setup/install --certbot --email=YOUR_EMAIL --hostname=YOUR_HOSTNAME, results in
[code]

Edit2: And re-running the installer again, shows the same error:

[code]

[2022-10-27 17:48] prakhar1144 commented on #23344
@alya I have raised a [PR](https://github.com/zulip/zulip/pull/23362), please have a look. Thanks.

[2022-10-27 19:42] #20980 closed

[2022-10-27 19:58] timabbott commented on #23354
The import output is irrelevant -- as indicated by the error on the export step, that script failed.

What version did you use for the import?

@Bluewind fixed several issues with this tool that made it into the 6.0-beta1 release; so I would start with trying that release.

[2022-10-27 20:00] timabbott commented on #23359
Are you installing on a fresh Ubuntu system? It looks like a newly released version of Postgres that Zulip does not yet support was already installed, for example; my guess is your problem is somehow related to what you've done with the system already.

[2022-10-27 20:03] #23334 closed

[2022-10-27 21:26] alya opened #23365 "Show user pills in search typeahead dropdown even after user is selected"
At present, users in the search dropdown are shown as pills:

<img width="627" alt="Screen Shot 2022-10-27 at 2 23 21 PM" src="https://user-images.githubusercontent.com/2090066/198401033-8ae8d7ab-69d5-407d-9148-7750f73c5393.png">

However, this is only the case *before* the user is selected from the dropdown. If the search is continued, the already-selected users are shown as email addresses than

[2022-10-27 21:36] klardotsh commented on #22538
Updated the CZO thread over the past couple evenings with some investigations; at this point I have a test case written so I think it's sane to

@zulipbot claim

[2022-10-27 23:30] isabellalcarmo commented on #12617
@zulipbot claim

[2022-10-27 23:31] #22002 closed

[2022-10-27 23:36] jalabaya commented on #23354
Hello, thank you for the reply.

It is:

Rocketchat server 5.2.0
Zulip 5.6

[2022-10-27 23:48] vfroes21 commented on #23250
@zulipbot claim

[2022-10-27 23:59] #15403 closed

[2022-10-28 00:12] klardotsh commented on #22569
Indeed, this repros against `python-markdown 3.3.2` [in BabelMark](https://babelmark.github.io/?text=%5Bexample+with+parens%5D(https%3A%2F%2Fexample.org%3Fa%3D())%0A%5Bexample+with+single+quote%5D(https%3A%2F%2Fexample.org%3Fa%3D%27)%0A%5Bexample+with+single+quote+and+parens%5D(https%3A%2F%2Fexample.org%3Fa%3D%27())).

It appears to be a somewhat different flavor of a similar upstream issue which

[2022-10-28 01:47] terpimost commented on #23365
I suggest to limit the name of the person to some length

[2022-10-28 10:02] caizixian opened #23368 "Save failed: Only 2 custom profile fields can be displayed in the profile summary."
I tried to set a custom profile field to be displayed in the profile summary. However, it fails with an error message "Save failed: Only 2 custom profile fields can be displayed in the profile summary." even though no custom profile field has been set to displayed.

https://user-images.githubusercontent.com/2891235/198561250-59519f45-85a4-4490-8f72-9fae343930be.mov

Server: hosted Zulip server
[co

[2022-10-28 11:48] Barissa-Imran commented on #23365
@zulipbot claim

[2022-10-28 14:33] jalabaya commented on #23354
I did a fresh install from git and it worked well on 6.0-dev+git

Thank you for the help and work by everyone involved!

[2022-10-28 14:34] jalabaya commented on #23359
Indeed that was the case. After rebuilding the server there is no issue. I'm sorry.

[2022-10-28 14:34] #23359 closed

[2022-10-28 17:29] alya opened #23369 "Link to help center articles for notification settings"
In the Personal settings > Notifications panel, we should add the following `?` links (like the ones used for other settings) after each heading to link to the appropriate help center pages:

Desktop message notifications: /help/desktop-notifications
Mobile message notifications: /help/mobile-notifications
Email message notifications: /help/email-notifications

[CZO thread](https://chat.zulip.org/

[2022-10-28 17:46] alya opened #23371 "Document notification settings better"
On the mobile, desktop, and email notifications help center pages, we should document the top checkboxes section for controlling what notifications are sent.

[2022-10-28 17:47] alya commented on #23371
@drrosa this is not specifically urgent, but would be good to add to your list.

[2022-10-28 20:03] alya commented on #23359
Glad you got it figured out!

[2022-10-28 20:03] alya commented on #23354
Excellent, thanks for reporting back!

[2022-10-28 20:03] #23354 closed

[2022-10-28 21:04] alya commented on #19405
@PIG208 would you be up for looking into this one?

[2022-10-28 21:15] alya opened #23376 "Link to /help/change-the-stream-description from stream settings"
We should add a `?` links to /help/change-the-stream-description next to the "Stream description" field label in:

- [ ] The  "Create stream" UI
![Screen Shot 2022-10-28 at 2 16 09 PM](https://user-images.githubusercontent.com/2090066/198734274-a343d208-a638-49c4-97e8-40a59ff405fb.png)

- [ ] The "Edit `#stream name`" modal

![Screen Shot 2022-10-28 at 2 15 15 PM](https://user-images.githubusercon

[2022-10-28 21:20] palashb01 commented on #23369
Hey @alya , Could you please assign this Issue to me, since zulipbot won't allow me to claim this issue, I have one open PR under product-review, Thanks.

[2022-10-28 21:21] alya commented on #23368
@yogesh-sirsat , @sahil839 Any ideas on what might be going on here / how we can debug it?

[2022-10-28 21:29] alya commented on #23369
Done!

[2022-10-28 21:39] alya commented on #23327
Sure! Please post a comment describing your proposed approach when you're ready. You can claim the issue after you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on) for how to address it. Thanks!

[2022-10-28 22:19] IanoNjuguna commented on #23376
I'd love to handle this issue.

[2022-10-28 23:23] PIG208 commented on #19405
OK, looking into this.

[2022-10-28 23:49] timabbott opened #23380 "Stop using the deprecated "uri" terminology in favor of "url""
We should stop using the deprecated "uri" abbreviation in favor of "url". There's some complicated history for the terminology in general touched on in https://github.com/zulip/zulip-mobile/blob/main/docs/style.md#url-not-uri.

This is a very rough way to investigate how we we use these in the web app; not a huge number of references in the server codebase (though there's a lot more in templates a

[2022-10-29 00:26] gnprice commented on #23380
Here's a fancier search which finds a somewhat larger set of matches:
[code]

The bulk of the additional matches there are for the name simply `uri`, mostly as local variables, which will be quite easy to change.

It also finds a small number of capitalized matches, as in the server settings `CAMO_URI` and `EXTERNAL_URI_SCHEME` and a few others. Server settings are like `state["realm_uri"]` in tha

[2022-10-29 00:36] #19477 closed

[2022-10-29 00:43] #22911 closed

[2022-10-29 01:53] drrosa commented on #23371
@zulipbot claim

[2022-10-29 01:56] drrosa commented on #22890
@zulipbot claim

[2022-10-29 01:57] drrosa commented on #22815
@zulipbot claim

[2022-10-29 04:47] akarsh-jain-790 commented on #23376
@IanoNjuguna are u working on this issue ?

[2022-10-29 04:50] alya commented on #16701
This issue can be closed once #23382 is merged and #23376 is resolved.

[2022-10-29 05:31] yogesh-sirsat commented on #23368
Hey @caizixian, is it the first are you setting custom profile fields to display in profile summary?

[2022-10-29 06:34] petercabra commented on #23235
@zulipbot claim

[2022-10-29 08:34] IanoNjuguna commented on #23376
@akarsh-jain-790 yes I am.

[2022-10-29 09:15] IanoNjuguna commented on #23376
@zulipbot claim

[2022-10-29 15:13] yogesh-sirsat commented on #23368
I can't reproduce this error on main, but it is reproducible on domainname.zulipchat.com

[2022-10-29 16:06] yogesh-sirsat commented on #23368
It is not even reproducible on branch 6.0-beta1, @alya @sahil839 which branch do we use for subdomain.zulipchat.com?

[2022-10-29 18:59] PIG208 commented on #19405
Note that part of this (typing and None-checking) has been fixed in #23159. #23386 is mainly about fixing `do_change_stream_description`

[2022-10-30 03:15] caizixian commented on #23368
@yogesh-sirsat

Yes

Yes, I had the error on one of the *domainname*.zulipchat.com

[2022-10-30 06:41] manzha commented on #23210
Hey there!

This is my first time trying to contribute to this (or any) project. I have code that implements this feature, I still need to read some stuff to make sure on the guidelines before creating a PR, but I see this one is already claimed, should I wait or just try a different issue?

[2022-10-30 07:21] amanagr commented on #23314
In the other cases, it is fine for it to fall through since they are jQuery objects. I will try to improve this code when migrating the recent topic's navigation code!

[2022-10-30 09:42] thaiscodafond commented on #22813
Hi, I'm still working on it !

[2022-10-30 10:31] sahil839 commented on #23368
You can reproduce this on main in dev server by creating a new realm and selecting two fields to be displayed in summary in the new realm and then trying to do same in the existing `Zulip Dev` realm. I have opened #23388 to fix this.

[2022-10-30 22:57] santiagomed commented on #23234
@zulipbot claim

[2022-10-31 10:09] IanoNjuguna commented on #23376
@zulipbot abandon

[2022-10-31 10:09] Barissa-Imran commented on #23376
@zulipbot claim

[2022-10-31 10:54] sahil839 commented on #23350
I am not sure how to solve this. This is the behavior in all modals, since we close the modal on clicking outside the modal.

[2022-10-31 12:48] jpuri commented on #23064
@alya : this is again not very clear to me, I found compose box is expanded when adding recipients:

![Screenshot 2022-10-31 at 6 16 43 PM](https://user-images.githubusercontent.com/2182307/199011469-f6ca28b2-e114-4f16-8856-50b7bb029049.png)

[2022-10-31 17:49] alya opened #23391 "Show Private messages heading in "more topics" view"
As [reported on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20section.20.2320870/near/1457220):

That way, the number of unread private messages will always be visible.

[2022-10-31 19:45] alya commented on #23064
@jpuri Please post a question -- I'm not sure what clarification you're looking for. You can refer to the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#what-makes-a-great-zulip-contributor) and linked resources for some advice.

[2022-10-31 19:48] laurynmm commented on #22866
@Balendrasingh2210 - I wanted to check-in to see if you're still working on this issue. I'm updating a related part of the project and adding a fix for this would be quick for me to do. Thanks!

[2022-10-31 19:59] brboyce commented on #23266
@zulipbot claim

[2022-10-31 20:10] alya commented on #23210
@manzha You can go ahead and submit your PR when it's ready, if you've ended up figuring out the code, and @kayabhandari can help review. Thanks!

[2022-10-31 21:10] #23368 closed

[2022-10-31 21:14] timabbott commented on #23368
Thanks for the report @caizixian!

[2022-10-31 21:16] akashthedeveloper commented on #20600
@zulipbot claim

[2022-10-31 21:33] #23273 closed

[2022-10-31 21:42] timabbott commented on #16701
Closing in favor of https://github.com/zulip/zulip/issues/23376, since that's the only party remaining for this.

[2022-10-31 21:42] #16701 closed

[2022-10-31 22:09] timabbott commented on #22569
OK, good to know. I'd kinda expect it to just be a tweak to the regular expressions used in their parser, but it's hard to know for sure.

[2022-10-31 22:56] manzha commented on #23210
Thanks @alya

I just created my first PR, I'll wait for the pipelines to run in order to check if I missed something and then for someone to review it. Thanks in advance to anyone who reviews it

[2022-11-01 00:43] manzha commented on #23327
@zulipbot claim

[2022-11-01 00:58] manzha commented on #23327
@alya Could  you give me some guidance on the following point?

I am not sure if that means I should update the translations.json file? What about the other languages? Besides that I believe I have a pretty good understanding on what to do and I'm halfway done on the other tasks/points

[2022-11-01 07:08] alya commented on #23327
@manzha There is an open PR for this issue, so there is no need to submit a new one. Please review https://github.com/zulip/zulip/pull/23389 if you'd like to help here. Thanks!

[2022-11-01 13:25] mmlkrx commented on #11227
Just wanted to add a +1 for this feature, could anybody pick up #20218 or does @amanagr want to finish it? I'm also aware that https://github.com/zulip/zulip/issues/20971 is missing as well for this to move forward and it seems like last activity from @juliaBichler01 was ~a month ago [on zulip](https://chat.zulip.org/#narrow/stream/101-design/topic/view.20scheduled.20messages). Could anybody pick

[2022-11-01 15:20] #19405 closed

[2022-11-01 15:27] amanagr commented on #11227
@mmlkrx #21810 is the bit we need to ship it out. It has `high priority` and `post release` tags, so you can expect it to get good attention in the coming months.

[2022-11-01 15:40] #22866 closed

[2022-11-01 16:03] laurynmm opened #23401 "Lag in loading "more topics" view in streams section of left sidebar"
When the "more topics" view takes a while to load in the streams section of the left sidebar, the search/filter box doesn't load until the list of topics are loaded. The search/filter box appearing later means it can cause what you were able to click on to shift downwards a row.

See [discussion on CZO](https://chat.zulip.org/#narrow/stream/6-frontend/topic/.22more.20topics.22.20loading/near/14539

[2022-11-01 16:18] laurynmm opened #23402 "Change blueslip error for new unreads in `process_loaded_messages`"
In [8d33a62](https://github.com/zulip/zulip/commit/8d33a62ecac76e93b7b97fe0724d1186bb2d2cb3), a blueslip logging error was introduced to inform us about a situation that we expected to not happen:

[code]

As work is in progress on addressing the cause of the error (and as noted [here in CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/New.20unreads.20in.20process_loaded_messages/near/145

[2022-11-01 17:32] SgtSpork commented on #22904
I waited with my pull request because I got some undetermenistic results when running the test_edit_bot_form puppeteer test which I worried was because of my change. However now when I ran it without my change it still failed, so I'll put up my PR anyways.

[2022-11-01 17:53] SgtSpork commented on #22769
@zulipbot claim

[2022-11-01 18:12] mateuszmandera opened #23406 ""Mark all as read" doesn't reset unread count next to stream names until reload"
When marking all messages as read, the webapp intends to reset all the unread message counts for the user. This is in `mark_all_as_read` in `static/js/unread_ops.js` in the `unread.declare_bankruptcy();` call. However, while the other counters  get reset, they do not for streams.

This is buggy and gives an awkward experience to the user. If we're resetting the counters, that should happen for str

[2022-11-01 18:57] mateuszmandera opened #23407 "Mark all as read: Add a proper retry mechanism"
In https://github.com/zulip/zulip/pull/23128 we implemented a timeout mechanism in `/mark_all_as_read`. If there's a a very large amount of messages to be marked as read, some will get marked and eventually that process will timeout returning `200` with `{"result": "partially_completed", "msg": "", "code": "REQUEST_TIMEOUT"}` content.

Currently the webapp reacts to it by reloading, like it would

[2022-11-01 19:25] alya opened #23408 "Change empty PM/group PM view text when a user is deactivated"
At present, we show the same message when no PMs with a deactivated user are found as we do when the user is active.

<img width="907" alt="Screen Shot 2022-11-01 at 10 31 44 AM" src="https://user-images.githubusercontent.com/2090066/199319569-f0ae1ee5-ea1c-475a-847d-dd8bc2ca049a.png">
<img width="896" alt="Screen Shot 2022-11-01 at 10 32 32 AM" src="https://user-images.githubusercontent.com/20900

[2022-11-01 19:31] alya commented on #23401
Adding the "release goal" label here, but we'll play it by ear to see if this can make it into the release.

[2022-11-02 00:00] Rixant commented on #23408
@zulipbot claim

[2022-11-02 05:16] alya commented on #23284
Hrm, I don't remember why I closed this issue earlier.

[2022-11-02 08:36] aannalarsson commented on #23365
@zulipbot claim

[2022-11-02 11:48] laurynmm commented on #23402
Completed via [commit 3ea1311](https://github.com/zulip/zulip/commit/3ea1311f56380b0babc69a98f0ac132d3a0daa17).

[2022-11-02 11:48] #23402 closed

[2022-11-02 19:05] alya opened #23419 "Allow self-hosted organizations to be listed in communities directory"
Following up on #15844, we should make it possible for self-hosted organizations to opt in to be listed in the Zulip communities directory (https://zulip.com/communities/).

[2022-11-02 19:06] alya commented on #23419
Marked as "feedback wanted", as upvotes on this issue will increase its priority.

[2022-11-02 22:05] manzha commented on #23327
@zulipbot abandon

[2022-11-02 22:43] #22062 closed

[2022-11-02 23:04] alya opened #23420 "Update https://zulip.com/help/reading-pms"
Revise in light of changes to the private messages section.

[2022-11-02 23:13] alya opened #23422 "Add help center page about navigating one's @-mentions"
We should add a help center page to document the @-mention reading experience:

Page: View your mentions (?)
Section: Reading messages, perhaps just above "Star a message"

Things to document:

1. @-mentions tab (deskop and mobile)
2. @ indicator for unread @-mentions in the left sidebar [topics only, not PMs]
3. @ indicator for unread @-mentions in Recent conversations [topics only, not PMs]
4. @

[2022-11-02 23:14] alya commented on #23422
@drrosa Let me know if you have any questions about this one.

[2022-11-02 23:19] #23376 closed

[2022-11-02 23:21] alya opened #23423 "Update help center to mention stream section labels"
We should update the help center to reflect the fact that stream sections in the left sidebar and now have labels. The relevant label should be mentioned on:

https://zulip.com/help/pin-a-stream
https://zulip.com/help/manage-inactive-streams

[2022-11-02 23:38] timabbott commented on #23407
One sensible option would be to just send the actual "We marked all these messages as read" events to clients in each block of the loop.

[2022-11-02 23:53] alya opened #23425 "Mention "Scroll to bottom" where relevant in the help center"
We currently mention the "Scroll to bottom" button in the tip on https://zulip.com/help/marking-messages-as-read#mark-all-messages-as-read.

We should also do so on /help/reading-topics and /help/reading-pms, where currently just the keyboard shortcut for this action is mentioned.

It might be worth checking whether any other pages need to be updated as well.

[2022-11-03 04:18] manzha commented on #23114
I saw this one 9 days old without activity and went ahead and created a PR, sorry in advance!

[2022-11-03 04:24] timabbott opened #23427 "Investigate messages failing to appear via local echo unexpectedly."
We have two reports (one from myself) of messages sometimes failing to appear at all immediately after being sent.

There's a potential explanation for such behavior as an extremely rare event to have happen on poor network (basically where an HTTP request hangs), but given that both reports involve a high quality network, that seems unlikely to be the explanation here, so this deserves deep inves

[2022-11-03 15:39] andreas-bulling opened #23430 "Error syncing ldap data with FreeIPA"
Hi,

I've successfully been running the development version of zulip with FreeIPA for two years.

I now wanted to use the `"deactivated": "nsAccountLock"` functionality described in the [documentation](https://zulip.readthedocs.io/en/latest/production/authentication-methods.html) but hit a problem when trying to sync the user accounts using the cronjob.

It seems the key "nsAccountLock" (required

[2022-11-03 20:28] andreas-bulling commented on #23430
It seems this actually is in the python-ldap package - which makes me wonder how this is possible. Surely FreeIPA is not the only LDAP server with mixed-case attributes?!

[2022-11-03 21:07] andreas-bulling commented on #23430
Is it possible that this actually fails not because of any case issue but because the "nsAccountLock" attribute is not requested/fetched from FreeIPA?

[2022-11-03 21:36] pfak opened #23438 "Resuming from suspend causes client to be rate limited"
When a client resumes from sleep, it can spam presence, which will lead the client to displaying an error message:

![RateLimit Error](https://user-images.githubusercontent.com/195072/199838908-3f1f0fe9-09eb-4e66-b96b-0d1084caf7dc.png)

Server log (including when the client originally slept):

[server.log](https://github.com/zulip/zulip/files/9933169/server.log)

[2022-11-03 21:37] pfak commented on #23438
Topic discussion https://chat.zulip.org/#narrow/stream/31-production-help/topic/overriding.20RATE_LIMITING_RULES

[2022-11-03 21:39] andreas-bulling commented on #23430
Found the solution to the problem (but still have another one). This should be added to the documentation:
To make this work with FreeIPA, the following additional line needs to be added to the zulip configuration
`
AUTH_LDAP_USER_ATTRLIST = ["nsAccountLock"]`

[2022-11-03 21:44] andreas-bulling opened #23439 "sync_ldap_user_data does not reactivate users"
I am using zulip together with FreeIPA and the "deactivated" functionality. That is, upon calling `sync_ldap_user_data` users that have the `nsAccountLock` attribute set will be deactivated in zulip.

I noticed, however, that this never seems to be undone if users are activated in FreeIPA again. They remain deactivated in zulip and have to be manually reactivated, which is quite tedious.

[2022-11-03 21:46] neiljp commented on #22804
This seems equivalent to the zulip-terminal 'explore' mode?
(https://github.com/zulip/zulip-terminal/blob/61008522f8c9c28cbced9bbc5ac2495ac50d0b9d/docs/FAQ.md#when-are-messages-marked-as-having-been-read)

The UI between mobile and web may be different, but is there a planned common simple name for this across apps?

I assume the mobile setting is local to the app right now; is this setting intend

[2022-11-03 22:04] andreas-bulling commented on #23439
Something is more fundamentally broken here I think. In [this issue](https://github.com/zulip/zulip/issues/23430) I had reported problems with the `nsAccountLock` attribute. I could solve this by adding `AUTH_LDAP_USER_ATTRLIST = ["nsAccountLock"]` to the settings.

Now the `sync_ldap_user_data` doesn't throw an error anymore but I see another KeyError when running `/home/zulip/deployments/current

[2022-11-03 22:07] andreas-bulling commented on #23430
Something is more fundamentally broken here I think.

Now the `sync_ldap_user_data` doesn't throw an error anymore but I see another KeyError when running `/home/zulip/deployments/current/manage.py query_ldap USER`:

[code]

However, if I add the mail attribute `AUTH_LDAP_USER_ATTRLIST = ["nsAccountLock", "mail"]`, which should work according to the python-ldap documentation, while querying a sing

[2022-11-03 22:31] alexmv commented on #23438
The current theory is that during resume from suspend, in this code in `static/js/activity.js`:
[code]
...the browser apparently may erroneously try to play catch-up with the hours of un-called `setInterval` calls, and fire them off all at once.  These calls hit the server before the request to `/json/events` 400's due to having an old queue-id, and the subsequent full-page-reload gets a 429 due t

[2022-11-03 22:35] andreas-bulling commented on #23430
Even the special operational attributes `'+'` and `'*'` don't work. The star attribute at least makes the output of `query_ldap` be complete (before neither full_name nor last_name or first_name were shown - I assume also because the corresponding LDAP attributes are not fetched by default). But in this case `sync_ldap_user_data` doesn't work anymore, throwing the well-known error about `nsaccount

[2022-11-04 02:03] manzha commented on #23247
@zulipbot claim

[2022-11-04 02:14] manzha commented on #23247
I tried removing the triangle but it just looked a bit odd, so I went and  updated the stlying a little bit.

[2022-11-04 05:59] alya commented on #22804
Yeah, the intent is for this to be an app-specific setting (for web/desktop). At least, I can easily see users wanting to mark as read automatically on desktop but not mobile, for example.

[2022-11-04 06:00] alya commented on #22804
There's currently no planned name for this other than the setting label text already being used on mobile: "Do not mark messages as read on scroll".

I hadn't been aware of "Explore mode" -- interesting!

[2022-11-04 18:27] rebeca-vc commented on #23283
@zulipbot claim

[2022-11-04 18:32] rebeca-vc commented on #23283
@zulipbot claim

[2022-11-04 20:20] PIG208 commented on #15459
This has been completed in #19547.

[2022-11-04 20:59] #23331 closed

[2022-11-04 20:59] #23332 closed

[2022-11-04 21:03] timabbott commented on #23314
OK, sounds reasonable. Should we close this, or remove the release goal label?

[2022-11-04 21:04] timabbott commented on #23161
This was fixed via.

[2022-11-04 21:04] #23161 closed

[2022-11-04 21:05] #15459 closed

[2022-11-04 21:05] timabbott commented on #23401
This was fixed in https://github.com/zulip/zulip/pull/23416.

[2022-11-04 21:05] #23401 closed

[2022-11-04 21:30] alya commented on #22802
As #22637, I'm marking this issue as "help wanted".

[2022-11-04 21:37] #21889 closed

[2022-11-04 21:43] alya opened #23449 "Improve /help/analytics documentation"
We should make the following improvements to  /help/analytics:

- Rename the page to "Usage statistics" (title & left sidebar). I'm OK with not touching the URL; we do currently use the term "analytics" on the stats page itself, though perhaps we could change that in the future.
- Add an intro section that outlines the types of information that can be found on the stats page.

[2022-11-05 02:09] sabrinaxiao commented on #23339
Hi @sahil839 ! I am a college student and I am new to open source. I wanted to ask if my partner @magandren and I could pick up this issue. Thank you

[2022-11-05 16:47] killmasta93 commented on #10643
+1

[2022-11-05 17:31] anniechnn commented on #23406
@zulipbot claim

[2022-11-05 17:41] anniechnn commented on #21886
@zulipbot claim

[2022-11-06 17:01] UzairNoman commented on #23248
Hi @alya, This issue has been solved by @Rixant in https://github.com/zulip/zulip/pull/23253 and therefore needs closing :)

[2022-11-07 01:39] isabellalcarmo commented on #12617
I made a pull request.

[2022-11-07 10:43] vfroes21 commented on #23250
Good morning, i'm still working on the issue.
    Em domingo, 6 de novembro de 2022 21:21:12 BRT, zulipbot ***@***.***> escreveu:

@vfroes21 We noticed that you have not made any updates to this issue or linked PRs for 10 days. Please comment here if you are still actively working on it. Otherwise, we'd appreciate a quick @zulipbot abandon comment so that someone else can claim this issue and cont

[2022-11-07 10:51] vfroes21 commented on #23250
Why was I unassigned? I replied the e-mail but the bot unassigned me.

[2022-11-07 14:07] cognusion opened #23464 "Printing a topic is limited to the current screen"
Possibly related to #20541 when printing a topic you only get the current screen. [Relevant conversation thread](https://chat.zulip.org/#narrow/stream/138-user-community/topic/Exporting.20threads/near/1424315).

[2022-11-07 14:28] roed314 commented on #19483
We were looking for this feature while using Zulip for a conference this week.

[2022-11-07 14:29] dmenz commented on #22879
@zulipbot claim

[2022-11-07 15:03] ganpa3 commented on #22957
@alya @timabbott #23466

[2022-11-07 16:19] mateuszmandera commented on #23430
@andreas-bulling Hmm, two questions:
1. When you set AUTH_LDAP_USER_ATTRLIST to `["nsAccountLock"]` (the way that makes the sync work), and also comment out these two lines in `zproject/backends.py` (to stop the error that trips up the query_ldap command):
[code]

Does that make `manage.py query_ldap` work again and does it show the `nsAccountLock`/`deactivated` attribute of the queried user?

2.

[2022-11-07 16:52] duburcqa opened #23469 "Slack convert not working with 6.0.rc1"
I'm getting the following error:
[code]
whereas it is working just fine with 5.6.

[2022-11-07 16:57] alya commented on #22802
@Taiki-Choda I recall you were interested in working on this one?

[2022-11-07 17:01] alya commented on #23250
@vfroes21 I'm not sure, but if this happens again, you can just go ahead and reclaim the issue. I've gone ahead and assigned it to you.

[2022-11-07 17:18] alya opened #23470 "Notify user when messages in unsubscribed channels are not marked as unread"
In Zulip, a stream message can be in the "unread" state only if the user is subscribed to the stream is it was sent to -- Zulip does not keep track of read/unread messages in unsubscribed streams.

This can cause some confusion if a user chooses the "Mark as unread from here" message option in an interleaved view (e.g., search results that include all messages sent to public streams), when message

[2022-11-07 17:34] rebeccasod commented on #23470
@zulipbot claim

[2022-11-07 17:34] alya commented on #23248
Ah, thanks for flagging, @unaisshemim !

[2022-11-07 17:34] #23248 closed

[2022-11-07 17:45] alya commented on #10643
Tagging for discussion in a couple of weeks (after the 6.0 release), at which point we'll be able to give you a better sense as to whether we can prioritize this feature in the near future.

[2022-11-07 18:46] alya opened #23471 "Update /help/message-a-stream-by-email to reflect new UI"
The documentation at `/help/message-a-stream-by-email` needs to be updated to reflect the changes made in #20985.

[2022-11-07 18:47] alya commented on #23471
@drrosa Not marking this one as a release goal, as I don't think we'll describe this feature in the release blog post.

[2022-11-07 18:49] #23425 closed

[2022-11-07 19:31] #23114 closed

[2022-11-07 20:04] timabbott opened #23475 "Improve algorithms used to generate shortened SHA hashes used in Git integrations"
I guess I see some instances of 7 elsewhere in the Git integrations; probably we should deal with that as a follow-up; we seem to have this function `zerver/lib/webhooks/git.py`, but it's not properly used across the Git integrations.

[code]

Here's some things that should be using this:

[code]

We should fix those to use this function, and then change it to use a more appropriate number; I don'

[2022-11-07 20:15] PIG208 commented on #23475
I think Zulip itself uses 10 characters, and the Linux kernel uses 11. 11 seems to be a fair pick.

[2022-11-07 20:37] anniechnn commented on #22533
@zulipbot claim

[2022-11-07 21:01] anniechnn commented on #22533
Hi @alexmv, I'm trying to reproduce the issue and am confused by the non-ASCII channel names part of your question. It seems like Slack has a limitation on channel names and don't allow emojis or other non-ASCII characters, so I couldn't test Slack export for a Slack channel with a non-ASCII name. Which characters did you use?

[2022-11-07 21:34] alya commented on #23371
@drrosa We have a line about notifications in the current release blog post draft, so I'm adding the "release goal" label here.

[2022-11-07 21:35] alya commented on #23371
Specifically, the email notifications page is the important one for the release.

[2022-11-07 21:54] timabbott commented on #992
Making a note to replace https://github.com/zulip/zulip/issues/23276 when we address this; probably with converting the Slack syntax to the appropriate unicode emoji characters.

[2022-11-07 22:16] timabbott commented on #23276
So I tried running this bit of the existing code in the development environment:
[code]

For `star-struck`, and the translation worked great; it correctly mapping the Slack emoji name to the emoji code `1f929`, and then mapped that to the corresponding Zulip emoji name.

So this issue is a bug only affecting production. I determined the root cause is this block of code:
[code]

I checked and that

[2022-11-07 22:32] alya opened #23479 "Document viewing read receipts on mobile"
We should add instructions for viewing read receipts in the mobile apps (via the long-press message menu) to https://zulip.com/help/read-receipts.

[2022-11-07 22:32] alya commented on #23479
@drrosa This is an important release goal, as read receipts are a major highlight of the 6.0 release.

[2022-11-07 22:43] andersk commented on #23276
I can’t reproduce a problem like that in development or production, and neither did you AFAICS. [Discussion](https://chat.zulip.org/#narrow/stream/191-kandra-support/topic/missing.20emoji/near/1460534).

[2022-11-07 22:49] timabbott opened #23482 "Resolving topics that are longer than 59 characters doesn't generate expected notices"
I'm not sure how best to fix this, but if you try to mark as resolved a 59-60 character name topic, then we end up truncating the topic name (because there's not space to add the 2 extra characters that are `RESOLVED_TOPIC_PREFIX`); this in turn makes logic like the following unable to correctly determine whether the topic was truncated:

[code]

I'm not sure how best to fix this. I think it's pos

[2022-11-07 22:50] amanagr commented on #23314
Closed it!

[2022-11-07 22:50] #23314 closed

[2022-11-07 22:55] timabbott commented on #23427
Based on the investigation so far, this seems to be quite rare, likely not a regression in the implementation (the relevant code paths appear to have been stable for more than a year) and also not something we can figure out a reproduction recipe for that doesn't involve a networking hang. Adjusting its priority tags based on that.

[2022-11-07 23:00] timabbott commented on #23350
The problem is we shouldn't be processing a drag as a click. Usually the fix for this class of drag issue triggering a click handler unexpectedly is this:

[code]

[2022-11-08 01:44] anniechnn commented on #23316
Hi @timabbott, @EnochAmeyaw and I are partnering for this bug so I will be looking into it as well. After playing around with Firefox privacy settings related to cookies, I ended up producing two errors. Are these similar to the exceptions that some users were experiencing with Firefox 104?

<img width="1301" alt="image" src="https://user-images.githubusercontent.com/59936188/200452432-87d49efa-a5

[2022-11-08 10:18] milekboy commented on #23283
@zulipbot claim

[2022-11-08 10:19] milekboy commented on #22813
@zulipbot claim

[2022-11-08 10:20] milekboy commented on #21036
@zulipbot claim

[2022-11-08 12:30] DoraBianq commented on #23327
@zulipbot claim

[2022-11-08 13:18] thaiscodafond commented on #20956
Hi, it's been a month since you updated, I will thus claim this issue. @zulipbot claim

[2022-11-08 13:40] thaiscodafond commented on #20956
Just realized it was already resolved, I'm unclaiming it

[2022-11-08 13:42] shefbiss commented on #20675
@zulipbot claim

[2022-11-08 14:00] shefbiss commented on #20675
@zulipbot unassign

[2022-11-08 14:23] Taiki-Choda commented on #22802
Thank you for remembering me. I am already trying to code the design !

### Current Progress
<img src="https://user-images.githubusercontent.com/86971544/200588104-789392b3-2db4-4254-bceb-9905fa1002f7.jpg" width="50%">

Of course, I want to commit to this design, but there are so many changes, especially in the profile popover.
How should I tackle this? I mean, I don't think it would be good if I

[2022-11-08 15:57] alya commented on #22802
How long do you think it would take? There are plenty of issues to work on, so it's fine if it's not super quick, as other folks have other issues to tackle.

[2022-11-08 16:02] alya commented on #20956
@thaiscodafond This issue has not been resolved. The best way to help would be to review the linked PR (https://github.com/zulip/zulip/pull/20957) and answer @timabbott 's question about the approach, or propose a different approach if you think the one taken in the PR is not correct.

[2022-11-08 16:10] #21876 closed

[2022-11-08 16:21] #23475 closed

[2022-11-08 17:18] alya opened #23492 "Document "User list style" display setting"
After the changes in #23288 / #23308 are made, we should document the "User list style" setting (under Settings > Display settings).

We can add the instructions under `/help/status-and-availability#view-a-status`.

[2022-11-08 17:30] cognusion commented on #23276
The skin-tone issue was side-stepped with #23465, and the "not founds" were chalked up to stale deployment.

[2022-11-08 17:30] #23276 closed

[2022-11-08 17:34] palashb01 commented on #20956
Hey @alya , since I already have two PR's under integration review, zulipbot won't allow me to claim this one, could you please assign this issue to me, Thanks.

[2022-11-08 17:39] laurynmm opened #23493 "Expanded compose box in preview mode can push buttons off screen"
If the user has the [compose box expanded](https://zulip.com/help/resize-the-compose-box) and previews a message that will be longer than the window/browser height, then the buttons at the bottom of the compose box are pushed off the screen.

*Note that the user can collapse the compose box to get back to a state where they can access the buttons at the bottom of the compose box. This is important

[2022-11-08 17:49] laurynmm opened #23494 "Message actions popover in short windows not centered on screen"
When the window/browser is very short, the message actions popover does not move to the center of the screen so that the top of the menu is always visible.

In contrast, the user info popover (accessed by clicking on the user's profile image) and the emoji reactions menu both move to the center of the screen so that the top of the menu/popover is visible.

See [relevant CZO conversation](https://c

[2022-11-08 18:33] alya opened #23496 "Improve stream icons in "Invite users" modal"
- [ ] At present, private streams are shown with both a lock and a `#` in the **Invite users** modal. Instead, just the lock should be shown.

![Screen Shot 2022-11-08 at 10 30 09 AM](https://user-images.githubusercontent.com/2090066/200646720-36fa9991-d161-4e7c-8cd1-585639970418.png)

- [ ] Web-public streams should be shown with a globe icon, rather than a `#`.

Only the first checkbox is a bug.

[2022-11-08 18:33] alya commented on #23496
@ganpa3 FYI in case you'd like to pick this up; I noticed it while reviewing #23466.

[2022-11-08 18:43] #23479 closed

[2022-11-08 18:44] #23423 closed

[2022-11-08 19:06] alya commented on #20956
@palashb01 To contribute to this issue, you can follow the instructions in the [comment just above](https://github.com/zulip/zulip/issues/20956#issuecomment-1307449175).

[2022-11-08 19:12] #23369 closed

[2022-11-08 19:20] palashb01 commented on #20956
Sure, I will look into the changes and question, @zulipbot claim.

[2022-11-08 19:29] timabbott commented on #23316
No, those errors are just authentication failing after you removed the web app's ability to access its authentication cookie. The original traceback has to do with local storage only, not cookies; so maybe one needs an option that disables just local storage to reproduce this?

[2022-11-08 19:34] palashb01 commented on #20956
@zulipbot claim

[2022-11-08 19:56] timabbott commented on #23469
Thanks for the report! I can confirm this is likely a bug where we're using a file not included in release tarballs, but that is present when upgrading using the Git upgrade process.

[2022-11-08 19:57] duburcqa commented on #23469
Yes, it indeed matches the install process I followed.

[2022-11-08 19:57] timabbott commented on #23469
I think the right way to fix this is probably to make the `build_emoji` process include this file in release tarballs, possibly somewhere in the `static/generated/emoji` namespace? I'm not really sure what makes sense.

@rht @evykassirer do either of you have time to fix this in the next couple days?

[2022-11-08 20:04] ilaiyengar commented on #21224
@zulipbot Claim

[2022-11-08 20:05] ilaiyengar commented on #21224
I am a first time contributor and would love to help tackle this issue, if nobody else already has!

[2022-11-08 20:07] ilaiyengar commented on #23494
Hi! I am a first time contributor and would be interested in tackling this. Would this issue be a feasible one for me to take?

[2022-11-08 21:10] anniechnn commented on #23316
Thanks for the pointer! After doing some digging, it seems like the only way to disable/affect local storage without affecting cookies is by setting **dom.storage.enabled** to False in Firefox's **about:config**. After doing that, I produced the following error below. However, this would mean that local storage reports itself as unsupported, which wouldn't explain the original issue at all. Other

[2022-11-08 21:12] ilaiyengar commented on #21224
@zulipbot claim

[2022-11-08 21:26] #23391 closed

[2022-11-08 21:32] timabbott commented on #23350
@ganpa3 do you know where the handler that closes on click outside a modal is with Micromodal? I think that's where we'd need to add the above line; I see we already have such a check in `overlay.js` for the overlays.

[2022-11-08 21:57] timabbott commented on #23284
I can reliably reproduce this issue in Chrome on Linux. It's a bit finicky; it works best if you have a split-screen window (so you don't need to alt-tab in order before initiating the drag, which likely affects the focus state, which is important for this reproducer) and open the compose box using the `c` keyboard shortcut while looking at "All messages". Then just drag an item into the compose a

[2022-11-08 22:04] alya commented on #23494
@ilaiyengar  Sure, you can give it a try! Please post a comment describing your proposed approach when you're ready. You can claim the issue after you [have a rough plan](https://zulip.readthedocs.io/en/latest/overview/contributing.html#picking-an-issue-to-work-on) for how to address it. Thanks!

[2022-11-08 22:10] timabbott commented on #23284
Opened https://github.com/zulip/zulip/pull/23499 attempting that.

[2022-11-08 22:24] alya opened #23501 "Shift left sidebar correctly when following a link to an inactive stream"
Reproducer: Click on an inactive stream in the left sidebar.

Expected: The stream should be centered in the left sidebar.

Actual: *First* the sidebar jumps to the stream, and *next* the stream move to the "Active" section (because the user just clicked on it). As a result, the stream may end up outside of the left sidebar view altogether.

Tips for reproducing the bug:
* Have a lot of streams (`

[2022-11-08 22:56] alya opened #23502 ""This view does not mark messages as read" banner should appear immediately"
[Reported on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/Mark.20unread.20markers.20absent.3F/near/1461212)

**Reproducer**:

1. Go to a view with few messages, e.g. a topic with one message in it.
2. Mark the message as unread (via keyboard or mouse).

**Expected**: "This view does not mark messages as read" banner should appear immediately.
**Actual**: Banner appears only once the w

[2022-11-08 22:59] thedeveloperr commented on #9165
@zulipbot abandon I am unable to find time for this. Sorry. I think someone else can take a look at it. My existing draft PR might help for ideas

[2022-11-09 00:46] alya opened #23503 "Update documentation on deactivating users"
This PR needs to be rebased and reviewed for integration: #22846

[2022-11-09 01:13] akarsh-jain-790 commented on #23501
@zulipbot claim

[2022-11-09 01:44] #23420 closed

[2022-11-09 01:45] #23371 closed

[2022-11-09 03:36] otemitay commented on #23022
@zulipbot claim

[2022-11-09 04:50] otemitay commented on #21017
@zulipbot claim

[2022-11-09 08:35] Nibor9198 commented on #23493
@zulipbot claim

[2022-11-09 13:08] SMAH1 opened #23506 "How to disable HTTPS completely?"
I install zulip in my server (debian 10 and postgres 14) by command:

[code]

I want run zulip in my server :
	1) with IP (without domain). IP is 192.168.1.89.
	2) with http only (without https).

After installed, Change file `/etc/zulip/zulip.conf` [like](https://github.com/zulip/zulip/issues/10743#issuecomment-434024993) :

[code]

and change `/etc/zulip/settings.py` ;

[code]

In final restart

[2022-11-09 13:16] vishisht08 commented on #23283
Hii where can i get the code of this ?

[2022-11-09 13:19] vishisht08 commented on #23283
@zulipbot where can i get the code of this?

[2022-11-09 14:21] sofbe commented on #23291
I am still working on this issue.

[2022-11-09 15:42] daph0213 commented on #22883
@zulipbot claim

[2022-11-09 16:30] beingnoble03 commented on #23502
@zulipbot claim

[2022-11-09 17:24] laurynmm commented on #23502
@beingnoble03 - Thanks for your interest in working on this. But as this an urgent issue for the upcoming 6.0 release, I've got a pull request in the works to address it, and you should find another issue to work on.

[2022-11-09 17:26] beingnoble03 commented on #23502
@laurynmm Ok. Fine!

[2022-11-09 17:28] beingnoble03 commented on #23502
@laurynmm Can you please remove the help wanted tag for this issue?

[2022-11-09 22:46] alya commented on #23502
The "help wanted" label can stay, but I assigned the issue to @laurynmm to avoid confusion.

[2022-11-09 23:20] alya opened #23515 "Change "Audio" to "Audible" in Settings > Notifications headings"
For consistency with the personal stream settings panel, and https://zulip.com/help/desktop-notifications, we should change the table header from "Audio" to "Audible" in the Settings > Notifications panel.

[2022-11-09 23:31] Barissa-Imran commented on #23515
@zulipbot claim

[2022-11-09 23:49] alya opened #23516 "Handle emoji not loading gracefully in PMs list"
When status emoji fail to load, the vertical alignment in the left sidebar PMs section goes awry. Instead, everything should be aligned as normal even when the emoji are missing.

<img width="332" alt="Screen Shot 2022-11-09 at 3 37 52 PM" src="https://user-images.githubusercontent.com/2090066/200966420-fcf9bbb3-45c6-404e-bc60-8417c2b74431.png">

[2022-11-09 23:53] #23422 closed

[2022-11-09 23:53] alya commented on #23516
(Note that the reason you see an emoji in the screenshot above is that custom emoji *did* load in this case.)

[2022-11-10 00:22] alya opened #23517 "Remove the "Show user list on left sidebar in narrow windows" display option"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/user.20list.20in.20left.20sidebar.20option/near/1460450), we have a "Show user list on left sidebar in narrow windows" display option, which puts the user list at the bottom of the left sidebar when the window is too narrow to display it on the right.

This option is not commonly used, and does not work very well with the

[2022-11-10 00:23] alya commented on #23517
@amanagr It would be great if you could take this one on!

[2022-11-10 00:42] nagyem commented on #23516
@zulipbot claim

[2022-11-10 01:05] timabbott commented on #23506
We don't support accessing a Zulip server over HTTP; given the existence of LetsEncrypt, there's no good reason to use an insecure protocol.

The `http_only` option is designed for having a third-party proxy connect to Zulip over HTTP on an internal network; clients connecting to the proxy need to use HTTPS there.

If you'd like to explain your use case, you can do so here:

https://chat.zulip.org

[2022-11-10 01:06] #23506 closed

[2022-11-10 01:33] Taiki-Choda commented on #22802
Could you forget my last comment? I found that the design can be made in code quicker than I was thought.
I will pull the first PR by next week!

[2022-11-10 01:36] #22843 closed

[2022-11-10 02:06] Sanidhya0077 commented on #23464
@zulipbot  claim

[2022-11-10 03:43] ryansong13 commented on #23494
@zulipbot claim

[2022-11-10 03:55] mpedro12 commented on #23438
@zulipbot claim

[2022-11-10 04:22] hsurya0527 commented on #17731
@zulipbot claim

[2022-11-10 04:22] hsurya0527 commented on #17929
@zulipbot claim

[2022-11-10 04:24] hsurya0527 commented on #17929
@zulipbot claim

[2022-11-10 04:31] mpedro12 commented on #23380
@zulipbot claim

[2022-11-10 04:46] ryansong13 commented on #23494
Hello @alya, it's good to meet you! I'll be taking care of this bug and can get you that report if you still need it. I am a first time contributor and have managed to reproduce the bug locally.

[2022-11-10 06:15] Emil2022 commented on #22045
@zulipbot claim

[2022-11-10 06:17] willigd commented on #21800
@zulipbot claim

[2022-11-10 07:26] alya opened #23519 "Presence dot in the right sidebar is not round when there is an unread counter"
The presence dot in the right sidebar becomes narrower when there is unread counter. It should be round regardless of whether there is an unread counter or not.

See Desdemona's dot here:

![Screen Shot 2022-11-09 at 11 22 25 PM](https://user-images.githubusercontent.com/2090066/201026533-add50a56-208d-4f72-a089-0ca6027a49b8.png)
![Screen Shot 2022-11-09 at 11 20 37 PM](https://user-images.githubu

[2022-11-10 07:41] alya commented on #22802
Perfect, thanks!

[2022-11-10 07:42] Sanidhya0077 commented on #23519
@zulipbot claim

[2022-11-10 07:46] amanagr commented on #23501
@akarsh-jain-790 thanks for your interest in this issue. I have taken over this issue since the bug is release critical. Feel free to open a PR if you already have a solution.

[2022-11-10 07:54] alya opened #23520 "Support printing message views"
[updated 2023-02]

At present, printing from Zulip does not look great, though it was recently much improved by a Boostrap removal project.

<details>
<summary>Printing screenshot (dark theme)</summary>

![Screen Shot 2023-02-08 at 11 39 09 AM](https://user-images.githubusercontent.com/2090066/217634163-eca45776-bc47-44fb-8cf4-83f8e6009348.png)

</details>

To support printing, we should do as muc

[2022-11-10 07:56] alya commented on #23464
Closing in favor of #23520.

[2022-11-10 08:55] Sanidhya0077 commented on #23520
@zulipbot claim

[2022-11-10 08:56] Sanidhya0077 commented on #23464
@zulipbot unassign

[2022-11-10 08:57] Sanidhya0077 commented on #23520
@alya can you please assign me to this issue as #23464 is closed

[2022-11-10 09:37] akarsh-jain-790 commented on #23520
@zulipbot claim

[2022-11-10 10:59] SameepAher commented on #23496
@zulipbot claim

[2022-11-10 13:24] nagyem commented on #23516
@zulipbot abandon

[2022-11-10 15:03] isabellelian commented on #23516
@zulipbot claim

[2022-11-10 15:31] nagyem commented on #22582
@zulipbot claim

[2022-11-10 18:52] alya commented on #23520
@Sanidhya0077 , @akarsh-jain-790 , since there are a lot of points here, I would encourage the two of you to collaborate on this issue.

[2022-11-10 19:27] #23449 closed

[2022-11-10 20:00] #23503 closed

[2022-11-10 20:07] #23502 closed

[2022-11-10 20:27] timabbott commented on #23350
Just a bump on this since it's one of our few open release goal bugs.

[2022-11-10 20:32] #23262 closed

[2022-11-10 21:00] alya opened #23530 "Use consistent naming for user (profile) menus"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/terms.20for.20user.20profiles), we should develop consistent naming for the pop-up you seen when you click on a user avatar, as well as the detailed user profile.

Specifically, the naming we want to implement is:

1. "User card" for the initial user view.
![Screen-Shot-2022-11-03-at-4 03 01-PM](https://user-images.github

[2022-11-10 21:00] timabbott commented on #23407
I think our current implementation in https://github.com/zulip/zulip/issues/22893 is going to provide a better API for marking all messages as read, that supports a progress bar and the like; so we may want to do that rather than investing further in this endpoint, which we might be able to delete in favor of using that one..

[2022-11-10 21:01] alya commented on #23530
@laurynmm Would you be up for taking this one? It's not *critical* for the release, but would be nice to include.

[2022-11-10 21:03] timabbott commented on #23406
This is also likely to be fixed by using https://github.com/zulip/zulip/issues/22893 for this code path.

[2022-11-10 21:27] alya opened #23532 "Improve wording of retention period options"
Just as describe [in this comment ](https://github.com/zulip/zulip/pull/23013#issuecomment-1254074550)for stream retention settings, we should make the same changes to the retention settings in the Settings > Organization settings menu:

- [ ] Replace the "Retain for N days after posting" option with "Custom"
- [ ] Only show the spot for entering the time if that option is selected.
- [ ] Label th

[2022-11-10 21:30] zihanqiuu commented on #23532
@zulipbot claim

[2022-11-10 21:30] Beanpen commented on #23532
@zulipbot claim

[2022-11-10 22:04] PoignardAzur opened #23533 "There is no equivalent to the "View messages sent" button in the mobile app UI"
The "View messages sent" link is pretty convenient. I use it a lot to check conversations I've been in, things I need to follow up on, to find messages I wrote a long time ago, and to get a summary of my activity on a zulip forum over the last months.

But every time I want to use it in the mobile app, I don't find any affordance to do it. Clicking on my profile doesn't give me the option.

[2022-11-10 23:23] gnprice commented on #8177
We recently [had a report of this again](https://chat.zulip.org/#narrow/stream/48-mobile/topic/Image.20rotated/near/1461913).

This time, the image file in question is a PNG, not a JPEG. As discussed above, this issue was finally resolved for JPEGs by the browser vendors; but apparently it still exists for PNGs.

The image file does indeed have EXIF metadata with a non-default orientation:
[code]

[2022-11-11 00:15] #23284 closed

[2022-11-11 00:18] #23515 closed

[2022-11-11 01:31] bilaljai commented on #23241
@zulipbot claim

[2022-11-11 07:06] Barissa-Imran commented on #23471
@zulipbot claim

[2022-11-11 14:15] JoeyPriceless commented on #23298
@zulipbot claim

[2022-11-11 15:29] anniechnn commented on #23188
Hi @sutidor, I'd like to work on this issue. Can you please add a <help wanted> label?

[2022-11-11 16:22] srid commented on #13928
The main benefit of nested subtopics is that it facilitates a *tree of conversation*. So you can start from any leaf topic and navigate your way _upwards_ to the "root" conversation. Cross-reference links are not that straightforward to discover, and besides, they only allow navigating in one (the specified) direction.

I think Zulip has a great opportunity to facilitate this "conversation tree" m

[2022-11-11 17:05] JoeyPriceless commented on #23298
@alya @timabbott I've opened a PR that implements the desired behavior at #23539. :)

It pretty much follows Tim's suggested solution.

[2022-11-11 18:14] brboyce commented on #23266
I am still actively working!

[2022-11-11 19:19] amanagr commented on #20971
I am delaying progress for this to post-release since a UI like this:
<img width="682" alt="image" src="https://user-images.githubusercontent.com/25124304/201414317-0c18cff2-888f-4141-b9f2-e28914521286.png">

doesn't make sense. We should have an independent modal for it. Will open a proper discussion later.

[2022-11-12 12:12] HemantUmre12 commented on #23241
@bilaljai I have opened a PR for this issue, if you want you can contribute over there.

[2022-11-12 23:43] PIG208 commented on #19528
@zulipbot claim

[2022-11-13 07:45] tmichela opened #23548 "UI: Organization logo does not change with the color scheme"
Hi,

I've just set my `Display settings > Theme > Color scheme > sync with computer` on my zulip client and noticed that the orgaganization logo (we have a day and night logo) does not swich back to the "day" logo when my client turns back to the light theme.
I noticed this happens both on the desktop client and the browser client.
It then updates properly once I refresh the page/reload the organi

[2022-11-14 00:19] santiagomed commented on #23023
@zulipbot I'm still actively working on it!

[2022-11-14 05:14] v3ss0n commented on #13928
Tags are better ways to handle group of topics.

[2022-11-14 05:15] v3ss0n commented on #23548
Happens to us too.

[2022-11-14 10:05] namse opened #23863 "Cursor unexpectedly moved after finishing file upload"
**Describe the bug**

Cursor unexpectedly moved after finishing file upload.

**To Reproduce**

1. Put some text on chat text area
2. Try upload big image which consume long uploading time.
3. During uploading, change cursor or put other texts
4. Cursor suddenly moved so it makes typo.

**Expected behavior**

1. Uploading file should not change cursor in any case.

**Screenshots**

https://user-im

[2022-11-14 12:14] xeruf commented on #21930
Working fine ever since, x-frame-options is obsoleted by the option I added :)
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2022-11-14 13:04] aannalarsson commented on #23365
@zulipbot I am still actively working on the issue.

[2022-11-14 15:47] cognusion opened #23552 "Slack imports containing reactions from users who no longer exist throw stack"
Easy to fix manually, but we shouldn't fault. Stub issue that I'll fix but don't want to forget.

[code]

[2022-11-14 17:09] #23350 closed

[2022-11-14 20:17] #23530 closed

[2022-11-14 20:27] #23517 closed

[2022-11-14 20:37] #23438 closed

[2022-11-14 20:53] alya opened #23558 "Presence dot broken on user card"
Previously, we showed a presence dot after a user's name on the user card.

![Screen Shot 2022-11-14 at 12 51 37 PM](https://user-images.githubusercontent.com/2090066/201763308-16ee8081-47f6-49e0-9cf6-fd88b69906e0.png)

Now, it appears as a tiny dot (just a few pixels):

![Screen Shot 2022-11-14 at 12 51 18 PM](https://user-images.githubusercontent.com/2090066/201763302-2c338539-7c6e-4813-b16c-501

[2022-11-14 21:06] timabbott commented on #23558
Fixed in 23856433e4fdbae67d94e73b2eca762cf9e660c4; I'm not sure why GitHub hasn't processed that yet.

[2022-11-14 21:06] #23558 closed

[2022-11-14 21:08] #23552 closed

[2022-11-14 21:21] anniechnn commented on #23316
Yup, I saw the exception with the app in the development environment (didn't remove the supported check or modify any code).

I was thinking, instead of using localstorage.supported() inside should_show_notifications, we could replace that code with a call to a separate function that does a more in-depth check of local storage being supported. The new function would try adding/deleting tems in loc

[2022-11-14 21:53] alya opened #23560 "Document "Mark messages as unread" on mobile"
We have a release goal of adding "Mark as unread" functionality on mobile (https://github.com/zulip/zulip-mobile/issues/5364).

We might as well open a PR to add mobile documentation to https://zulip.com/help/marking-messages-as-unread at this point.

The action will have the same label as on web/desktop, and will be accessed via the long-press message menu.

[2022-11-14 21:53] alya commented on #23560
@drrosa Would you have a chance to work on this today/tomorrow?

[2022-11-14 22:12] alya opened #23561 "Drop participants info from PM lines in Recent conversations"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/Participants.20in.20Recent.20conversations), the "Participants" column on "Recent topics" does not provide accurate information for PM conversations. In particular, it duplicates the PM recipients list under "Topics" (with the addition of the current user), but does not depend on who sent messages to the thread.

Since it

[2022-11-14 22:16] alya opened #23563 "Add participants info for PMs in Recent conversations"
As [discussed on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/Participants.20in.20Recent.20conversations), the "Participants" column on "Recent topics" does not provide accurate information for PM conversations. In particular, it duplicates the PM recipients list under "Topics" (with the addition of the current user), but does not depend on who sent messages to the thread.

As a qui

[2022-11-14 22:44] PIG208 opened #23568 "Support reactivating previously deactivated user groups"
We should make it possible to reactivate deactivated user groups. Design details TBD.

[CZO discussion about group deactivation](https://chat.zulip.org/#narrow/stream/101-design/topic/Support.20user.20group.20deactivation).

**Blockers**:
- #32877