[2018-03-19 02:20] #8698 closed

[2018-03-19 02:25] timabbott commented on #8689
I would just play around and figure out what feels right; I don't think there's a pre-specified algorithm.

[2018-03-19 02:25] #3437 closed

[2018-03-19 02:29] timabbott commented on #7589
There are several potential attacks for an account creation:
(1) Trying to force another user's browser to submit requests that user didn't intend (which the protections like CSRF and require_post help with).
(2) Trying to guess the value for another user's half-finished account creation to effectively steal creation of that new account.  This is what the long, random confirmation key prevents; if

[2018-03-19 02:29] #7589 closed

[2018-03-19 07:15] hackerkid commented on #8483
This was merged in b4c81a018874ce6cd979de9cbc1ef8bd0a5e2cf8

[2018-03-19 07:15] #8483 closed

[2018-03-19 10:50] Anupam-dagar commented on #8432
@zulipbot claim

[2018-03-19 13:10] florianjuengermann commented on #8432
I have located the code snippet that is responsible for this issue and posted a question on the (closed) PR #8434 about the intention of this behavior. I have not received an answer, so maybe a question on the development chat server would be a good next step. But I currently do not have time to work on this issue, so I'm freeing it up. @Anupam-dagar Have fun.

[2018-03-19 13:11] florianjuengermann commented on #8432
@zulipbot abandon

[2018-03-19 16:00] amanagr opened #8750 "Editing topic of messages present before subscribing to a stream doesn't work."
Demo:
![topic_editing](https://user-images.githubusercontent.com/25124304/37606979-c830247a-2bbc-11e8-8743-2a6063f846ba.gif)

[2018-03-19 16:08] amanagr commented on #8750
@zulipbot label "bug"

[2018-03-19 16:09] amanagr commented on #8750
@zulipbot label "good first issue"

[2018-03-19 16:21] YJDave commented on #8720
@timabbott I can't seem to reproduce the issue, on localhost or chat.zulip.org. Here is what I have tried:
- Login to zulip with two different accounts, in different browser window(incognito)
- Try to add/subscribe another/current user
- Checking js logs into second browser client, subscription page was not open.

I wasn't able to reproduce this error. Though I have found some unexpected blueslip

[2018-03-19 17:33] #8720 closed

[2018-03-19 17:44] timabbott commented on #7089
For files that already have 100% coverage, we should probably enforce that in the top section of `test-backend`.  It might actually be a good idea to add an option similar to the one we have in `test-js-with-node` (but less verbose) to print out any files that have 100% coverage but aren't tagged as such, so we can make sure we lock those down.

[2018-03-19 18:05] timabbott opened #8751 "Errors when running `manage.py makemessages`"
I get these errors in my local development environment:

[code]

I'm not sure why `manage.py makemessages` is parsing these uploaded files at all.

@umairwaheed can you try to track this down?  We don't have a clear reproducer, but it seems like this sort of thing should be findable when reading code.

[2018-03-19 22:10] anirudhjain75 commented on #3157
I do think this is a good thing to work on, We can use the similar concept of pin streams. Org Admins can pin topics for everyone, user can do it for his account.

[2018-03-19 22:23] kamalmarhubi opened #8754 "Allow controlling notifications at the topic level"
At the moment, you can turn notifications on and off for a stream, and mute a topic. I would like to be able to enable notifications for certain topics within a stream, but not others.

Example usecase: a "status" stream where people or teams post updates in a topic with their name. I'd like to get notified of updates on my team's updates but not all updates.

[2018-03-19 22:23] kamalmarhubi commented on #8754
(I assume there's already an issue for this, but I couldn't find it in the first couple of pages of issue search.)

[2018-03-19 22:45] timabbott opened #8755 "Compose fade doesn't work properly with the new compose pills system"
It used to be the case that if you started composing a PM to a user, messages not in that thread would be faded.  It appears this feature disappeared with the migration to the new compose pills.

I haven't tried to figure out why.  @showell FYI in case yo have any ideas.

[2018-03-19 23:59] sinwar commented on #8750
This thing is not happening in all the streams. It doesn't seem to work even when the admin user is subscribed to same streams. Also when the topic is successfully edited then it doesn't show `message successfully edited`.

[2018-03-20 00:32] synicalsyntax commented on #8544
@timabbott Should this issue be closed?

[2018-03-20 01:05] timabbott commented on #7158
Closing, as I believe this was fixed.

[2018-03-20 01:05] #7158 closed

[2018-03-20 01:11] timabbott commented on #8544
I don't think it's fixed yet, no.

[2018-03-20 02:05] gooca commented on #8544
Just submitted a PR.

[2018-03-20 04:08] umairwaheed commented on #8751
Sure. Will do on this weekend.

@zulipbot claim

[2018-03-20 06:08] minghaoshan commented on #1998
Hello, @synicalsyntax I had a look at the [integration guide](https://github.com/zulip/zulip/blob/4725a7b7dec3bce30ff3a7ee772cbf9692a86ff7/docs/integration-guide.md) but it is not in the current zulip directory. Is there anything I can improve?

[2018-03-20 07:49] jhellerstedt opened #8760 "ConnectionError: error 3 from memcached_get"
Hi,

I'm running a server with <10 users; occasionally I'll get a spate of error emails, copied below.  It seems to be correlated with use of the site on mobile web (not the app)/ when one of my users is trying to use the site after adjusting his vpn.

Lacking definitive causality, it seems that the server loses some aspect of user history/ credentials that are still available locally, and gets un

[2018-03-20 09:14] YJDave commented on #8743
@zulipbot claim

[2018-03-20 12:53] AasthaGupta commented on #5854
@timabbott
We can use uuid to generate unique `device id` whenever a user logins from a new browser/device. We will sotre that unique id in the browser's cookies and also in our user database as 'authorised devices'. The list of device ids will be maintained to add features (in future) like user authentication through email verification when a new browser login is detected.

[2018-03-20 13:02] Anupam-dagar commented on #8750
@amanagr can you provide more details on this.I didn't get it completely

[2018-03-20 13:13] amanagr commented on #8750
Steps in dev server:
* Subscribe to a new stream.
* Try editing topic of any message in it.
It will show `message successfully edited` but the topic remains the same!

[2018-03-20 13:24] YJDave commented on #7889
@rishig Is this issue closed?

[2018-03-20 13:47] shubhamdhama commented on #8755
I was also getting many ugly bluesip messages in the console, I've tracked it down a little bit and find out that `_want_normal_display` is returning true because `focused_recipient.reply_to === ""` is getting true.
Hope that this helps.

[2018-03-20 14:41] shubhamdhama commented on #8755
I've got the fix for this. @zulipbot claim

[2018-03-20 14:50] AnshumanPati commented on #5802
@zulipbot abandon

[2018-03-20 17:07] minghaoshan commented on #4891
@synicalsyntax Is this issue a useful document to have? If yes I could start working on it right away.

[2018-03-20 17:27] novokrest commented on #7217
@zulipbot claim

[2018-03-20 17:28] Shayan-To opened #8763 "Incorrect coloring of topic unread counts in the dark theme"
Unread counts of topics should be less intense than unread counts of streams, as they are in the light theme. But in the dark theme, they are more intense.

![image](https://user-images.githubusercontent.com/12458563/37671224-8335c5e0-2c80-11e8-8d34-b17210de4b9d.png) ![image](https://user-images.githubusercontent.com/12458563/37671387-dbaddc9e-2c80-11e8-95b0-5b2afeff459d.png)

[2018-03-20 17:40] synicalsyntax commented on #4891
I'm not sure; @rishig what are your thoughts?

[2018-03-20 20:25] Anupam-dagar commented on #8745
@zulipbot claim

[2018-03-20 20:43] nkmishra1997 commented on #8659
@zulipbot claim

[2018-03-20 22:03] timabbott commented on #8760
@jhellerstedt the bottom part of that traceback is what happens when memcached is down.

Assuming memcached is back up now, I'm guessing what's happening here is that the queue worker for push notifications is not recovering from memcached being down (and thus gets an error every time it tries to access memcached).

Can you try doing a server start and seeing if the issue re-appears?

One possible

[2018-03-20 22:03] timabbott commented on #1998
It moved to somewhere in /api/

[2018-03-20 22:04] timabbott commented on #1998
But also, I think the series of commits @feorlen merged in late 2016 more or less addressed this, so I'm closing.

[2018-03-20 22:04] #1998 closed

[2018-03-20 22:09] timabbott commented on #8763
Agreed, this seems off.  Should be a fairly small CSS change to correct.

[2018-03-20 22:12] #8755 closed

[2018-03-20 22:22] timabbott commented on #8760
That possible cause actually seems very likely, since Ubuntu did ship a `memcached` security update today.

[2018-03-20 22:50] noemartinez opened #8767 "Add file upload access to the bot API"
A full-fledged Client python object has [```upload_file()```](https://github.com/zulip/python-zulip-api/blob/master/zulip/zulip/__init__.py#L665), but [a bot's API exposed via bot_handler](https://zulipchat.com/api/writing-bots#bot-api) doesn't currently include that method.

While there are non-ideal ways to access that method from a bot's ```handle_message```, it would be nice to have it properl

[2018-03-20 22:55] showell commented on #8767
We would actually make this change in python-zulip-api.

[2018-03-20 22:57] noemartinez commented on #8767
Makes sense. I'll close this in favor of an issue over there.

[2018-03-20 22:58] noemartinez commented on #8767
Alright, made https://github.com/zulip/python-zulip-api/issues/351 instead!

[2018-03-20 22:58] #8767 closed

[2018-03-20 23:51] Shayan-To opened #8768 "Misscolored tip of the streams pop-up in the dark theme"
As you can see in the screenshot, the triangle to the left of the pop-up is white, and there is a smaller black triangle above it.

![image](https://user-images.githubusercontent.com/12458563/37688731-b9a599da-2cb6-11e8-92cf-87856be3cfa9.png)

[2018-03-20 23:52] timabbott commented on #7492
https://github.com/zulip/zulip/pull/8477 fixed one of the places that need to be updated; but we need to update several.  The goals here are alignment of the unread counts with each other vertically and no overlapping of the `...` in any of the left and right sidebar spots that show unread counts.

[2018-03-20 23:57] timabbott commented on #7179
I haven't seen the exception since Nov 11, and it used to be daily, so I think we must have successfully fixed it in https://github.com/zulip/zulip/commit/982bd9c38df65a547d76fbf0c0511db18ea4b1ac, even though I don't see how.  I guess my best guess is that I screwed up the check for whether that user had been long-term idle.

[2018-03-20 23:57] #7179 closed

[2018-03-20 23:57] swallitsch opened #8769 "Document recommendation to disable unattended upgrades after Zulip Install"
[Per this discussion](https://chat.zulip.org/#narrow/stream/31-production-help/topic/error.203.20from.20memcached_get) it was mentioned that this comes up often enough that disabling Unattended Upgrades should be mentioned in the [Installing a Production Server](http://zulip.readthedocs.io/en/latest/production/install.html) documentation.

My initial suggestion was a 'Server Configuration' setting

[2018-03-20 23:59] timabbott commented on #5623
@YJDave this might be a good smaller project for you to take soon.

[2018-03-21 00:02] timabbott commented on #6481
@rwbarton it looks like something was done here in KaTeX upstream in https://github.com/Khan/KaTeX/pull/1117.  I guess I'm wondering if this means we can close this (not sure if we need to set a KaTeX) by upgrading KaTeX or more is required...

[2018-03-21 00:54] shubham-padia commented on #8605
Yes

On Mar 19, 2018 12:00 PM, "zulipbot" <notifications@github.com> wrote:

Hello @shubham-padia <https://github.com/shubham-padia>, you claimed this
issue to work on it, but this issue and any referenced pull requests
haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let
me know that you're still working

[2018-03-21 04:19] minghaoshan commented on #7935
@zulipbot claim

[2018-03-21 04:56] jainkuniya opened #8773 "Drag and drop file upload not working on Safari."
We did recently do some refactoring to support drag-and-drop file upload when editing messages, so it's certainly possible that somehow accidentally broke this on Safari.

https://chat.zulip.org/#narrow/stream/9-issues/topic/drag.20and.20drop.20file.20upload.20not.20working

[2018-03-21 04:57] jainkuniya commented on #8773
This is browser specific, I have tested on Chrome it is working fine.

[2018-03-21 04:59] #7217 closed

[2018-03-21 05:00] #8544 closed

[2018-03-21 05:03] timabbott commented on #6316
@novokrest is this resolved by #8512 as well?

[2018-03-21 05:19] AasthaGupta commented on #3380
@zulipbot claim

[2018-03-21 05:22] #1410 closed

[2018-03-21 07:21] sulian commented on #3868
Sadly, I have not time for this developement. I prefer to close this issue and try for my part before push anything.

[2018-03-21 08:03] jhellerstedt commented on #8760
Cheers @timabbott , since I put this issue up my installation has stopped throwing errors; I restarted the machine and its still quiet.  I'll go ahead and close this, keep an eye out for `memcached` updates if it happens again.

[2018-03-21 08:03] #8760 closed

[2018-03-21 12:42] shammah2 commented on #6617
this feature would be great to have in a diverse corporate environment

[2018-03-21 14:43] Shayan-To opened #8775 "Incorrect margins/paddings for PM pills"
This problem is there in the light theme as well, but is not visible.

I think maybe a border for the box that contains the pills would be good (in both the themes).

![image](https://user-images.githubusercontent.com/12458563/37716321-7aaffa18-2d33-11e8-9a3e-a8c8c4043c86.png)

[2018-03-21 14:49] YJDave commented on #5623
@zulipbot claim

[2018-03-21 15:46] timabbott commented on #8775
@Shayan-To what browser are you using?  I can't reproduce that appearance...

[2018-03-21 15:58] synicalsyntax commented on #8775
This is reproducible on Firefox.

[2018-03-21 17:47] shubhamdhama commented on #8571
Will start working on this after settings system refactor.

[2018-03-21 17:52] synicalsyntax commented on #8754
@kamalmarhubi Does issue #6027 satisfy your use case? If so, this can be closed and marked as a duplicate.

[2018-03-21 18:23] #6977 closed

[2018-03-21 18:25] timabbott commented on #6977
@HarshitOnGitHub now that we've fixed the main issue, can you do a quick read through
https://github.com/zulip/zulip/issues/6977#issuecomment-355635842 to make sure we feel that issue is resolved here as well?

[2018-03-21 19:09] kamalmarhubi commented on #8754
Yeah closing in favour of that one.

[2018-03-21 19:09] #8754 closed

[2018-03-21 20:27] jckw commented on #4517
@zulipbot claim

[2018-03-21 20:47] jckw commented on #2088
@zulipbot claim

[2018-03-21 20:50] minghaoshan commented on #4849
@zulipbot claim

[2018-03-21 20:52] timabbott commented on #8476
This is fixed via #8441 for all auth backends but the remote_user one.  We're still working on that one, but I think it's reasonable to close this at this point and open a new issue for REMOTE_USER backend, since that has its own special complexities.

[2018-03-21 20:52] #8476 closed

[2018-03-21 21:01] minghaoshan commented on #8447
@Lyla-Fischer  I noticed that https://zulipchat.com/help/add-a-bot-or-integration already exists. Would you want me to add an example for adding an integration on that page?

[2018-03-21 23:48] #2088 closed

[2018-03-22 00:54] timabbott commented on #8585
@HarshitOnGitHub how's this coming along?

[2018-03-22 01:02] timabbott commented on #7889
I think it isn't.  That said, I'm going to close this, and @rishig can open a new issue for the next step in this process, since this is kinda a lot to go through.

[2018-03-22 01:02] #7889 closed

[2018-03-22 02:31] rishig commented on #6617
@shammah2, would love to hear more! We've actually been imagining this almost entirely in the context of open forums so far.

[2018-03-22 03:44] stone212 opened #8777 "Deleted"
Deleted.  Found my own answer in interface.

[2018-03-22 03:59] #8777 closed

[2018-03-22 04:38] stone212 opened #8778 "Does Zulip Share email Addresses?"
This page claims to be able to find email addresses associated with Organizations:

https://zulipchat.com/accounts/find/

But I would not want my server/Organization to share its users email addresses - or the fact that this server exists at all - with zulipchat.com or any other party.

Do I misunderstand the meaning of the page above?

[2018-03-22 05:43] AasthaGupta commented on #8733
@amanagr I am not able to reproduce the bug.
![peek 2018-03-22 11-12](https://user-images.githubusercontent.com/15193262/37753259-0b299fac-2dc2-11e8-8a58-6209aaf3a369.gif)

[2018-03-22 06:08] amanagr commented on #8733
@AasthaGupta, here is a quick tip to reproduce it:
* Login as Iago
* In any stream, change the topic of all the recent messages
* make sure some very old topic remains
* logout and login as any user
* mute the recent topics
* try narrowing to the stream.
Here is a working demo in dev-env:
![issue-muted-topics](https://user-images.githubusercontent.com/25124304/37753960-77e8b1fc-2dc5-11e8-85a1-a688

[2018-03-22 06:42] AasthaGupta commented on #8733
I am getting this bug on the stream #PTEST as shown in the GIF in https://github.com/zulip/zulip/issues/8733#issue-306073234 but I am unable to reproduce it in the dev env or the other streams of chat.zulip.org.
![peek 2018-03-22 11-53](https://user-images.githubusercontent.com/15193262/37755161-4d877bb4-2dca-11e8-8f49-a4ee9709b98e.gif)

[2018-03-22 07:16] amanagr commented on #8733
![issue-demo](https://user-images.githubusercontent.com/25124304/37756212-a5f1a26c-2dce-11e8-83d6-ba9dac413405.gif)

[2018-03-22 08:14] AasthaGupta commented on #8733
@amanagr Thank you so much for posting this GIF.
I followed it step by step but could not reproduce the bug.

[2018-03-22 09:30] jckw commented on #7089
@zulipbot claim

[2018-03-22 10:02] shubhamdhama commented on #3530
Still working.

[2018-03-22 10:55] AasthaGupta commented on #8733
This bug is related to the number of recent messages belonging to the muted topics and the limit on the number of messages loaded at a time.
To reproduce this error, mute topics of recent ~ 60 or more messages.

[2018-03-22 11:14] LudovicHenry commented on #3868
@sulian  i I have succeeded to do integration zulip-centreon

[2018-03-22 11:54] jckw opened #8779 "parse_user_agent matches all strings"
The regex `^(?P<name>[^/ ]*[^0-9/(]*)(/(?P<version>[^/ ]*))?([ /].*)?$` matches the empty string with `name`; and since version is optional (but can include linebreaks) and the last group catches everything but linebreaks, there is always a match at [lib/user_agent.py line 8](https://github.com/zulip/zulip/blob/master/zerver/lib/user_agent.py#L8).

This means that `match` is never `None` so:

* Te

[2018-03-22 12:47] jainkuniya commented on #5312
(Adding conversation link
https://chat.zulip.org/#narrow/stream/6-frontend/topic/more.20option.20on.20every.20message)

[2018-03-22 12:48] AasthaGupta commented on #8733
@zulipbot claim

[2018-03-22 13:40] Anupam-dagar commented on #8745
@shidarin what should be the expected behaviour?
is it to show background color instead of checkerboard?

[2018-03-22 14:11] shidarin commented on #8745
That was my expected behavior- display the image over the background color while respecting transparency.

I initially thought that the checkerboard was a concious design decision, but it goes away when you click the pan & zoom button. That makes me think it's a bug.

[2018-03-22 14:13] Anupam-dagar commented on #8745
so what change should be done?

[2018-03-22 14:27] shidarin commented on #8745
I would determine what's causing the checkerboard to appear, then adjust that to be the background color instead.

[2018-03-22 16:43] JohnDorien1 opened #8782 "Run Zulip in Subdir with Nginx"
I see currently it is officially  not supported to have zulip running in domain.tld/zulip.
After playing around with the source a while it seems the only breakdown appears to be at the rendering of the relative paths of the css/js and so on, as this alway points to e.g. domain.tld/scripts.

Where in the source can I append the "/zulip" so it will render to load the sources correctly from domain.tl

[2018-03-22 16:59] nkmishra1997 commented on #6771
I have never done any such thing, but upon doing some research, I found about a view decorator [@never_cache](https://docs.djangoproject.com/en/2.0/topics/http/decorators/#django.views.decorators.cache.never_cache) which can be used directly used as function wrapper instead of view decorator in the urls.py as discussed [here](https://blog.velingeorgiev.com/never-cache-django-sitemap-or-url-view-fr

[2018-03-22 17:50] timabbott commented on #6771
I think we want something that controls the headers for all requests more directly.

[2018-03-22 18:05] JohnDorien1 commented on #8782
@timabbott The reason for the desired setup is a dynamic dns domain that doesn't simply allow subdomains.
I see it is not officially supported.. but maybe there still is a quick workaround available somewhere in the rendering?

[2018-03-22 18:08] timabbott commented on #8782
I think making this work would require some code changes (not sure what they'd be; I'd want to test).  If you're a programmer and interested in working on it, I'd start with forking Zulip master, setting `ROOT_DOMAIN_URI` in the settings file to have the `/zulip` thing in it, and fiddling to see what issues you run into.

[2018-03-22 18:15] timabbott commented on #8779
I think we can probably just replace the conditional with an `assert match is not None`.  The intent is more to split a string, and I bet the `if user_agent is None` was just there so that future code can assume it was something.

[2018-03-22 18:21] jckw commented on #8779
Sounds good. Should we remove the branches where it's assumed `user_agent = None`?

I assume we'd also change TestUserAgentParsing so that all we're doing is running through the testcases.

[2018-03-22 18:22] timabbott commented on #8778
Zulip servers do not share email addresses or advertise their existence publicly.

That "find account" feature only lets you find your account if it's for an organization hosted by zulipchat.com.

[2018-03-22 18:22] #8778 closed

[2018-03-22 18:23] timabbott opened #8784 "Fix positioning of "disposable email addresses" errors"
See https://github.com/zulip/zulip/pull/8549#issuecomment-375159396 for details.

[2018-03-22 18:26] timabbott commented on #3868
@LudovicHenry what did you need to do for it?  Did the Nagios integration just work, or did you need to write new code?  If new code was required, we'd love for you to contribute it here: https://github.com/zulip/python-zulip-api/tree/master/zulip/integrations

[2018-03-22 18:28] HarshitOnGitHub commented on #6977
@timabbott I think the issue is fixed however I am not sure how this would have happened:

[2018-03-22 18:28] jckw commented on #8779
@zulipbot claim

[2018-03-22 18:28] timabbott commented on #8779
Yeah, that makes sense to me.

[2018-03-22 18:45] nkmishra1997 commented on #6771
I found out this pypi package, [django-cache-headers](https://pypi.python.org/pypi/django-cache-headers/0.3.3) which may help our case. We can set the timeout for all the requests using this.

[2018-03-22 19:56] JohnDorien1 commented on #8782
Setting `ROOT_DOMAIN_URI` unfortunately didn't change a thing, also tried setting it into zproject settings.py but also didn't help. Requests are still towards 'domain.tld/static...'
Tried https://domain.tld/zulip; domain.tld/zulip; both again with trailing '/', '/zulip', 'zulip' and '/zulip/' in both settings, single and parallel in both

[2018-03-22 20:18] timabbott opened #8788 "Clean up error handling pattern in settings UI"
We have this error-hanlding pattern a ton of times in our settings code:

[code]

We could easily turn this into a function in `ui_report.js`, since it really only needs 2 arguments (`xhr` and `row`).

@shubhamdhama this might be a good refactor for you to work on next.

[2018-03-22 20:31] Anupam-dagar commented on #8784
@zulipbot claim

[2018-03-22 20:48] swallitsch commented on #8745
Discussed this a bit with @timabbott in [#issues](https://chat.zulip.org/#narrow/stream/9-issues/topic/Image.20Transparency.20.238745):

Some pertinent bits:

So, anyone have any thoughts on checkboard vs the blue background?

[2018-03-22 20:52] shubhamdhama commented on #8788
@zulipbot claim

[2018-03-22 21:30] #8779 closed

[2018-03-22 21:39] #8784 closed

[2018-03-22 21:54] timabbott commented on #8782
ROOT_DOMAIN_URI just controls 1 thing: when Zulip redirects you to the site, the base of that URL.  So it's necessary but not sufficient.  You'll also need to make changes to `nginx` configuration, etc.

[2018-03-22 21:55] timabbott commented on #6771
Hmm, that package doesn't seem super well-maintained; I'm not sure we want to pull it in as a dependency.

[2018-03-22 22:03] sinwar commented on #8732
@skapil are you working on it? If not, I would love to take it up.

[2018-03-22 22:08] timabbott commented on #8743
@YJDave any updates on this?

[2018-03-22 22:08] timabbott commented on #8087
@shubham-padia any updates on this?

[2018-03-22 22:12] timabbott commented on #8289
Yes, basically we want the data stored as though `get_link_embed_data` had been called for the links that we use in ` config.generate_data.json`.

[2018-03-22 22:15] sinwar commented on #8289
@zulipbot claim.

[2018-03-22 23:19] timabbott commented on #4891
I think it'd be a useful sub-section of our "remote development" docs.  Ideally, we'd have as little novel content as possible (possibly just linking to a good third-party tutorial).

[2018-03-22 23:28] rishig opened #8793 "message view: Success/error message for changing the topic from the recipient bar needs updating."
If you change the topic from the recipient bar (you need to be an admin to do this), it'll give you a success message that sort of looks like this, but in green:
![image](https://user-images.githubusercontent.com/890911/37803707-a4af1410-2ded-11e8-9346-11fbc7f2e935.png)

Instead of having a success message, we should just have the `X` disappear, and the checkbox turn into a spinner.
Not sure what

[2018-03-22 23:39] timabbott commented on #7921
I think the correct fix is to change:
`                flags=None,                                                                                  `

in `get_client_info_for_message_event` in `zerver/tornado/event_queue.py`.

If the user was actually interacted with (e.g. is subscribed or was mentioned), the initial state written in the loop in question will be overwritten in the `for user_data i

[2018-03-22 23:48] #8686 closed

[2018-03-23 03:31] skapil commented on #8732
@sinwar I am still working on it!

[2018-03-23 04:27] #8110 closed

[2018-03-23 04:27] #8763 closed

[2018-03-23 04:27] #8768 closed

[2018-03-23 04:27] #8775 closed

[2018-03-23 07:00] shubham-padia commented on #8087
Sorry, i'm running a little busy for a few days, would be better to assign someone else :)

[2018-03-23 07:00] shubham-padia commented on #8087
@zulipbot abandon

[2018-03-23 07:05] AasthaGupta commented on #8793
@zulipbot claim

[2018-03-23 07:07] AasthaGupta commented on #8087
@zulipbot claim

[2018-03-23 07:19] robgev commented on #7813
@zulipbot claim

[2018-03-23 09:57] Anupam-dagar commented on #8641
@timabbott I am not able to reproduce the issue.
I unsubscribed from the stream.On resubscribing, the message is replaced by "you have subscribed to stream".On unsubscribing same things happen.

[2018-03-23 09:58] Anupam-dagar commented on #8641
@zulipbot on it

[2018-03-23 15:52] HarshitOnGitHub commented on #8585
I am not sure if I would have time to fix this in next few days and since it is a blocker issue, I think it would make more sense for someone else to pickup this up and fix it.
@zulipbot abandon.

[2018-03-23 16:09] YJDave commented on #8743
@timabbott Submitted #8798

[2018-03-23 16:20] nyan-salmon commented on #716
@zulipbot claim

[2018-03-23 16:58] #8743 closed

[2018-03-23 20:29] aero31aero commented on #8585
@zulipbot claim

[2018-03-23 21:51] #8315 closed

[2018-03-23 21:54] timabbott opened #8802 "user groups: Clean up pills JS implementation"
The concept is described here:
https://github.com/zulip/zulip/pull/8365#issuecomment-375808463

Our goal is to not require a hard-to-maintain function like `update_membership`.

[2018-03-23 22:04] #8155 closed

[2018-03-24 05:04] akashnimare commented on #8773
This works for me on safari. I can drag and drop any image while editing a PM.

[2018-03-24 05:10] jainkuniya commented on #8773
Yup! now it is working
Closing

[2018-03-24 05:10] #8773 closed

[2018-03-24 07:13] hackerkid commented on #1836
@Plongy Are you still working on this?

[2018-03-24 12:31] Nap21 commented on #3355
@zulipbot abandon

[2018-03-24 13:24] Anupam-dagar commented on #8745
@zulipbot abandon

[2018-03-24 20:50] #6990 closed

[2018-03-24 23:52] timabbott commented on #8289
@sinwar I think `config.generate_data.json` is the better place for these to live.  Why did you want to move them?

[2018-03-25 03:06] skunkmb commented on #8585
@timabbott I attempted to fix this issue in #8813, where I fix the white space issue and also simplified the testing. Please let me know if there is something that I should change. Thanks!

[2018-03-25 12:15] showell opened #8817 "Add stream email to subscription/add event."
For each stream we make a long email address that people can use to send messages to Zulip streams via email.

For some reason we don't include this in the stream/create event, which has the effect that we don't see it in the UI.  (The UI is doing the right thing for the data it gets.)

We should add the email data to the stream/create event.  The only thing that's slightly complicated here is tha

[2018-03-25 13:47] aero31aero commented on #8585
@skunkmb I tried the `\B` approach to match word boundaries, but it fails for emoticons like `:D` because the ends of `D` become a word boundary and aren't matched.

Example: for `:D`, `\B:D\b` matches but `\B:D\B` doesn't.

[2018-03-25 16:08] #8751 closed

[2018-03-25 17:41] #8788 closed

[2018-03-25 19:34] nax3n commented on #5105
@zulipbot i am always working on it

[2018-03-25 19:45] Kumar-Tarun commented on #8817
@showell Can I give this a try?

[2018-03-25 20:04] showell commented on #8817
Yep!

[2018-03-25 20:05] Kumar-Tarun commented on #8817
So, I'll start working on this!

[2018-03-25 21:09] jdherg commented on #5349
This is something we might find interesting in the Recurse Center community. We have a stream that's fairly high volume (for our instance) and there's an active discussion of how to make it easier for folks to engage with it. Several folks have expressed that they're only interested in seeing the messages in a handful of long-running topics that they've curated. Letting them turn on a personal/per

[2018-03-25 21:35] aero31aero opened #8823 "Floating topic bar doesn't have correct background in dark theme."
When you narrow to a topic, and that's not the same as the topic on the top of the view(floating topic), the floating topic bar lacks the CSS class needed to make it blend properly with the dark theme. This is likely a bug with the compose-fade logic.

![image](https://user-images.githubusercontent.com/8033238/37880185-3a0e5ece-30a2-11e8-82fe-fe60252b51e3.png)

Refer to https://chat.zulip.org/#nar

[2018-03-25 22:52] aero31aero commented on #8782
For requests to /static, a workaround could be to use redirects from nginx to add /zulip to the url requested. This should work, unless you have something else hosted on /static. Same for other paths that the webapp calls, like /api etc.

https://stackoverflow.com/questions/18305189/nginx-rewrite-redirect-for-a-folder

[2018-03-25 22:58] rishig opened #8824 "left sidebar: "Compose" in stream actions popover prefills topic."
To replicate:
* Narrow to a topic T in stream X
* Go to stream actions popover for stream Y, and click "Compose a message to stream Y"

It will prefill the topic of the new message with T.

[2018-03-25 23:02] aero31aero commented on #8675
WIP. On hold due to release blocker stuff.

[2018-03-25 23:12] aero31aero commented on #8745
My concern here would be in cases where a transparent png is made up of mainly blue color. The checkerboard design helps in eliminating most of such cases due to its frequent and consistent changes, so worst case, it is like looking at an image through a net, but the image is still visible.

[2018-03-26 02:18] skunkmb commented on #6546
@zulipbot claim

[2018-03-26 05:29] rishig commented on #6546
I think this is mostly done; just waiting on a decision for what the hotkey should be.

[2018-03-26 05:59] hackerkid commented on #7205
@zulipbot claim

[2018-03-26 10:35] #8579 closed

[2018-03-26 13:02] LudovicHenry commented on #3868
1) creation of the command that sends to zulip a json
![centreon2](https://user-images.githubusercontent.com/36860252/37907630-f337db56-3105-11e8-9904-262de4f38ddb.PNG)
2) recovery of the json on zulip and conversion by a bot
![centreon3](https://user-images.githubusercontent.com/36860252/37907728-3e159226-3106-11e8-92aa-172719d6afb4.PNG)
![centreon4](https://user-images.githubusercontent.com/3686

[2018-03-26 13:10] Balaji2198 commented on #8824
@zulipbot  claim

[2018-03-26 14:41] sulian commented on #3868
Look gorgeous !! so simple...

[2018-03-26 15:17] skunkmb commented on #6546
@rishig OK, should I `@zulipbot abandon` this?

[2018-03-26 16:08] AkshJain99 commented on #6547
@zulipbot claim

[2018-03-26 16:48] timabbott commented on #8641
I can't reproduce this, so it seems likely we accidentally fixed it when fixing other issues with stream creation.  Closing.

[2018-03-26 16:48] #8641 closed

[2018-03-26 16:52] timabbott commented on #8745
I think the current thinking is we will eventually want to make the background controllable by an option.

[2018-03-26 17:32] Anupam-dagar commented on #8745
@zulipbot claim

[2018-03-26 18:06] skunkmb commented on #8823
@zulipbot claim

[2018-03-26 18:52] rishig commented on #6546
unassigned (abandoned) you. Thanks!

[2018-03-26 22:44] monisha-g commented on #6512
@elenaoat Hi, what's the status on your pull request?

[2018-03-27 00:02] pirate commented on #5312
I just confirmed this is still happening occasionally as of 1.7.0.

[2018-03-27 04:10] punchagan commented on #2047
@zulipbot claim

[2018-03-27 07:16] rishig opened #8835 "right sidebar: Fading doesn't work in dark mode."
To reproduce just go to a stream where not everyone is subscribed, while in night mode.

[2018-03-27 07:37] AasthaGupta commented on #8835
The fade out is working in both the night and light mode, only when the compose box is open.

[2018-03-27 12:13] mvrhov opened #8836 "Broken install for 1.7.1"
Create a blank xenial LXC.

First thing I had to do is link /usr/bin/sha1sum to /usr/bin/shasum

Ok, this is fixed. Let's try to install now according to manual.
 `./zulip-server-*/scripts/setup/install --certbot --email=xxx --hostname=xxx`

Ok, let's try to install without certificate.
`./zulip-server-*/scripts/setup/install`

Ok, let's see what are the supported options: ` ./zulip-server-*/scrip

[2018-03-27 14:30] skunkmb commented on #8823
@aero31aero I made #8831 to possibly fix this issue. Can you please review it and let me know what I should change? Thanks!

[2018-03-27 15:57] cr4zyafrican commented on #8750
@amanagr Can you please provide the source code and relevant files for this part of the project

[2018-03-27 15:58] cr4zyafrican commented on #8750
What are the relevant source files and source code?

[2018-03-27 16:09] sinwar commented on #8750
@cr4zyafrican one file is `zulip/static/js/message_edit.js`. Go through the code you'll get an idea.

[2018-03-27 16:11] cr4zyafrican commented on #8750
@zulipbot  claim

[2018-03-27 16:12] amanagr commented on #8750
@zulipbot label "help wanted"

[2018-03-27 16:48] timabbott commented on #8836
@mvrhov sorry for the rough experience!  It looks like the root problem is that you were reading http://zulip.readthedocs.io/en/latest/production/install.html ?  That's for the latest pre-release instructions, not the 1.7.1 release.  You want to be reading the instructions from https://zulip.readthedocs.io/en/1.7.1/prod.html, which is what is linked to from zulipchat.com; can you tell us how you g

[2018-03-27 16:49] #8836 closed

[2018-03-27 16:54] #5312 closed

[2018-03-27 16:55] timabbott commented on #5312
@pirate yep, we just figured out the root cause of this, and it's now fixed in master.  Should be in the 1.8 release, coming out soon (we'll definitely have a release candidate this week).

[2018-03-27 16:56] timabbott commented on #8835
Can you post a screenshot or something?

[2018-03-27 17:18] rishig commented on #8835
Closing; I forgot that we only fade when the compose is open.

[2018-03-27 17:18] #8835 closed

[2018-03-27 18:11] mvrhov commented on #8836
Hi Tim, thanks for response.
To answer the documentation question.
The documentation link in the footer of zulip.org links to the latest documentation and not to the documentation of latest stable release.

[2018-03-27 18:35] cr4zyafrican opened #8837 "Issue #8275 had a static fix; The "Got It" text box should be dynamic"
Currently the dimensions of the text box are hard coded values. They should be dynamic. This is in the static/styles/hotspots.css file.

[2018-03-27 18:45] cr4zyafrican commented on #8750
@zulipbot claim

[2018-03-27 19:00] cr4zyafrican commented on #8750
I don't have the option to edit the title of the stream; I only have the option to mute it and unmute it?

[2018-03-27 19:53] timabbott opened #8838 "Service bot code leads to database queries in loop for organization administrators"
I saw in our server logs on chat.zulip.org that my own account needed about 300 database queries to load the home view.  This is a clear sign of database queries in a loop.

Some debugging determined that this is a regression only for organization administrators, which is how it was missed by our existing test (which uses a non-admin user).

Further debugging showed that the queries are being done

[2018-03-27 20:10] jainkuniya opened #8839 "frontend: Hide view source option for deleted message."
I thinks we can hide `view source` option for deleted messages, thoughts? (even `quote & reply` too)
[Screen-Shot-2018-03-27-at-1.26.46-AM.png](https://chat.zulip.org/user_uploads/2/64/NxK9NW0Mydl6rdUmS1djd54v/Screen-Shot-2018-03-27-at-1.26.46-AM.png)

https://chat.zulip.org/#narrow/stream/6-frontend/topic/hide.20view.20source.20option.20for.20deleted.20messages

[2018-03-27 21:00] skunkmb commented on #8839
@zulipbot claim

[2018-03-27 21:02] timabbott commented on #8836
@mvrhov we're releasing in about a week.  If you'd like to test the new install process that you read the docs for, master is quite stable, and you can just clone the Git repo and run `./scripts/setup/install` from there.

[2018-03-27 22:12] timabbott commented on #8837
@cr4zyafrican do you have a specific language where it doesn't work?  While I agree we should have something dynamic here, it's useful to have a test case.

[2018-03-27 22:13] timabbott commented on #8836
Also, on the documentation front, I would have expected you to see this notice on the installation instructions page; did you?

![image](https://user-images.githubusercontent.com/2746074/37997906-66c195c8-31d1-11e8-8732-611a723c3b28.png)

[2018-03-27 23:20] timabbott opened #8841 "Exception when adding multiple Android PushDeviceToken objects with the same token"
We're most likely seeing this exception because of https://github.com/zulip/zulip-mobile/issues/2128.

What I suspect is happening is the flurry of duplicate requests to register for push notifications at the same time end up racing with each other and trying to create duplicate entries.

However, I think there's a deeper bug here: if a user has accounts with multiple organizations on zulipchat.co

[2018-03-27 23:43] #8289 closed

[2018-03-27 23:44] #8839 closed

[2018-03-27 23:49] timabbott opened #8842 "Fix error handling for uploading an invalid file for "Upload icon""
Here's what currently happens if you upload a `.py` file as the organization icon in organization settings:

![image](https://user-images.githubusercontent.com/2746074/38000898-c5a19022-31de-11e8-838c-0475d2c2ab50.png)

[2018-03-28 00:05] timabbott opened #8843 "Improve exception handler for BugdownRenderingException"
Currently, if we have a BugdownRenderingException, we send an email to admins with an exception report that just contains a sanitized version of the input in question, e.g. this:

`Failed message: '[xxxx](xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)'
`

This block  in `zerver/lib/bugdown/__init__.py` contains the logic in question:

[

[2018-03-28 00:18] #8585 closed

[2018-03-28 00:18] Balaji2198 commented on #8842
@timabbott Instead Shall we show them below the  "Organization avatar"

![image](https://user-images.githubusercontent.com/22166422/38001650-93343c76-324b-11e8-88bb-5ad5f11062ab.png)

@zulipbot  claim.

[2018-03-28 00:24] timabbott commented on #8486
From reading the certbot installer code, I think we want to pass `--quiet` to the `certbot` command.  Needs testing.

[2018-03-28 02:10] timabbott commented on #8842
That, or under "Upload new icon"; not sure which will look better.

[2018-03-28 02:55] AasthaGupta commented on #8201
@zulipbot claim

[2018-03-28 06:34] amanagr opened #8844 "SEO: Add meta tags to improve appearance in search results."
For views in `templates/zerver` add meta content to improve Zulip's appearance online search results.
Add
-  `Description` meta tag
-  `keywords` meta tag

along with  [OGP meta tags](https://www.optimizesmart.com/how-to-use-open-graph-protocol/) to improve how it appears when the website is shared socially.
Link to discussion : https://chat.zulip.org/#narrow/stream/6-frontend/subject/clients.20pa

[2018-03-28 06:35] amanagr commented on #8844
@zulipbot label "help wanted"

[2018-03-28 06:41] novokrest commented on #6316
@timabbott Unfortunately, given PR #8512 did not solve this issue. It improved current implementation of "unobvious" copying. But problem still exists: highlighted selected text differs from text that will be copied and pasted. @rishig Need to say, I could not manully reproduce light and heaving copying on demand. In my case (checked Windows and MacOS) copying works only by Ctrl+C and has the foll

[2018-03-28 06:44] novokrest commented on #6316
@zulipbot claim

[2018-03-28 08:02] mvrhov commented on #7999
@noboevbo Why did you close the issue without telling what fixed it?
I have exactly the same issue and I cannot figure out why the zuilip doesn't relay email to postfix.
Also the test email works.

[2018-03-28 09:14] Kumar-Tarun commented on #8817
So, I noticed some things in regard to this issue:
This problem is not there in the development environment, in the sense that, on stream creation, email address does not show up, but on refreshing the page, the page has stream email address.
Secondly, on clicking the create button, the first thing that happens, even before `bulk_add_subscriptions` is called in `add_subscriptions_backend` (in view

[2018-03-28 11:11] showell commented on #8817
Your first finding isn't surprising.  The email is being created in the database, it's just not getting sent in an event that users can see.  (When you refresh the browser later, you receive the email through a different codepath.)

I think you're right that I may have been wrong to look at `send_stream_creation_event`.  Apparently we send a lot of stream info in `notify_subscriptions_added`, whic

[2018-03-28 15:07] amanagr commented on #8844
Duplicate of #8255.

[2018-03-28 15:07] #8844 closed

[2018-03-28 15:09] amanagr commented on #8255
For views in `templates/zerver` add meta content to improve Zulip's appearance online search results.
Add
-  `Description` meta tag
-  `keywords` meta tag

along with  [OGP meta tags](https://www.optimizesmart.com/how-to-use-open-graph-protocol/) to improve how it appears when the website is shared socially.
Link to discussion : https://chat.zulip.org/#narrow/stream/6-frontend/subject/clients.20pa

[2018-03-28 15:39] akashnimare commented on #8255
@zulipbot claim.

[2018-03-28 16:14] #3465 closed

[2018-03-28 17:02] showell commented on #7921
@zulipbot claim

[2018-03-28 17:05] timabbott commented on #6962
Dropping the blocker priority tag on this, because after some investigation, it's clear that we can't solve this through changes to the rate-limiter (since that relies on memcached to do its de-duplication).

The best solution is probably to have an automated reconnect to memcached, so that we only see 1 failure per process if memcached was restarted (and not down persistently).

[2018-03-28 17:53] #8842 closed

[2018-03-28 18:03] noboevbo commented on #7999
In my case the issue wasn't directly Zulip related. I just forgot to allow the email address configured to send in the mail service I use, so the mail seemed to be send from Zulips side (no errors) and just wasn't sent by the email service. So I closed the issue because it had nothing to to with zulip.

[2018-03-28 18:09] #38 closed

[2018-03-28 18:31] novokrest commented on #3938
@zulipbot claim

[2018-03-28 18:50] novokrest commented on #3938
@timabbott It seems there is related issue #3992. Whether it is appropriate to combine these issues? So, when user clicks on yellow area we should ask if he want to cancel his edit or go back to editing:
- if he decide to cancel his edit then we close editing window and open the compose box.
- if he decide to continue editing then we set focus on editing area

[2018-03-28 18:51] timabbott opened #8850 "Exception in paste handler on Windows"
I don't have a reproducer for this since it comes from logging, but this error traceback shows up in our logs a few times a day from folks trying to paste content into the Zulip compose box:

[code]

Here's the code in question:
[code]

[2018-03-28 18:57] timabbott opened #8851 "Exception updating perfectScrollbar (from JS error reporting)"
I don't have a reproducer for this, since it comes from our production JS error reporting, but it seems like something we might be able to debug by reading code.

@gooca @YJDave FYI.

[code]

[2018-03-28 18:59] timabbott opened #8852 "Exception when updating bot permissions"
I got this exception from production error reporting, so I don't have a reproducer.

But it seems like we're processing a server_event via `server_events_dispatch` before we've done the initialization in `exports.setup_bot_creation_policy_values`.  We should look at whether there's an initialization order here.

[code]

[2018-03-28 19:09] timabbott opened #8853 "Exception when browser learns about a deleted message it didn't have locally"
This exception I saw in production error reporting only, but the cause is clear from reading the code:
* A browser receives a notification from the server about a message having been deleted that had not been locally cached by the browser (e.g. because it was older than the batch of ~1200 messages the browser fetches from the server, or was on a stream the user had just subscribed to (but not narr

[2018-03-28 19:13] timabbott opened #8854 "Exception in set_message_offset when removing selected message in a narrow"
There's a few ways to reproduce this exception:
(1) Mute the last topic in a stream.
(2) Edit the topic to move all messages in the current topic to a new one.

In each case, we end up calling `rerender_preseving_scrolltop` in a situation where the currently selected message ID is going to disappear.  The eventual exception happens in `set_message_offset`, where it tries to preserve the scroll pos

[2018-03-28 19:25] timabbott commented on #3938
Well, I think this issue is mostly one of the clicker handlers; if a user hovers on the being-edited message's e.g. top frame (everything not part of the message-edit form), it should show a pointer and clicking should start compose; and if they're over the message-edit form, it should not show a pointer.

[2018-03-28 20:12] shubhamdhama commented on #8852
@zulipbot claim Since I've made this changes I can figure out this.

[2018-03-28 20:51] akaptur commented on #7158
I hit another one of these today:
![image](https://user-images.githubusercontent.com/1857780/38055602-0505bd3c-328f-11e8-9269-3edd0dbffa6c.png)

[2018-03-28 21:20] gooca commented on #8851
Line 28 contains `element[0].perfectScrollbar !== undefined`.
Element is a jquery object, and element[0] should be the unwrapped html, so I'm currently thinking that maybe the selector in stream_edit is not right/ `$(".subscriber_list_container")` does not exist.

[2018-03-28 22:43] #8116 closed

[2018-03-28 22:43] timabbott commented on #8116
That fragility was indeed the cause of the issue here; just merged a fix.  We can't do the same thing for the virtualenv cache, unfortunately (see the commit message for why).  I'm going to open an issue for doing a similar thing for the emoji cache since that is working fine currently.

[2018-03-28 22:50] timabbott commented on #8116
I decided testing and merging the emoji change myself would be less work than opening the issue, so merged that fix as 838e5880b684157b6d06bc01182d70653204e900.

[2018-03-28 22:59] #7921 closed

[2018-03-28 23:06] gnprice commented on #8486
Hmm, I don't think that's a flag I tried! If it works, great. Maybe that makes `--no-eff-email` unnecessary too.

[2018-03-28 23:12] timabbott commented on #8851
Well, I guess I'm curious why `if (subscribers_list) {` doesn't cover this case.

[2018-03-28 23:18] gooca commented on #8527
@timabbott I have built a prototype that looks
![this](https://user-images.githubusercontent.com/15152698/38061153-256f8f62-32bc-11e8-853b-265b2315d0d5.png)

The html looks like
[code]
If this looks good to you, if you can get the testimonials I can put them in and open a PR.

[2018-03-28 23:29] timabbott commented on #8527
HTML looks reasonable to me!  I assume this has the same text width/etc. as the existing component.

The main thing I'd worry about with the carousel styling is whether the left/right are too invisible; check out how a few other landing pages do this and thing about tweaking?

[2018-03-28 23:40] timabbott opened #8857 "outgoing webhooks: Improve error handling when site returns non-JSON response"
This exception comes from production, when an outgoing webhook posts to a third-party site accepting Zulip's outgoing webhooks.  If the third-party site returns invalid JSON, we throw this exception:

[code]

Ideally, we'd not throw an exception, and send a PM to the bot owner using the same rate-limited flow we use for incoming webhook configuration errors.

[2018-03-29 00:10] #8486 closed

[2018-03-29 00:10] timabbott commented on #8486
It doesn't work in the same invocation as `certonly --force-interactive`, but it does with `--os-packages-only` to just install the OS packages.  Done that way.

[2018-03-29 00:48] timabbott opened #8858 "Race condition with soft deactivation"
I saw this exception in production for a user coming back from soft-deactivation.

I think what's happening is that he attempted to load the Zulip browser, noticed that it was taking a long time (backfilling a ton of UserMessage rows, probably), and then tried to reload.  This of course resulted in two copies of the job running at the same time; the second one loses the race and 500s.

I think bas

[2018-03-29 00:54] jdherg opened #8859 "search: It should be possible to search the entire history of an organization"
Currently, searching without a scope searches your personal history (messages you received). Searching with a stream scope searches that stream's entire history. I'd like to be able to search the entire history of all streams.

It may also be nice to be able to search one or both of the entire history of all streams I've ever been subscribed to or the entire history of all streams I am currently s

[2018-03-29 01:09] timabbott opened #8860 "i18n: Fix handling of OR widget on login/register type pages"
We currently have a not-tagged-for-translation "OR" widget in a few of our signup pages:

![image](https://user-images.githubusercontent.com/2746074/38064504-1fd5b9e0-32b3-11e8-89a3-cc19f7fb7f6a.png)

Here's the markup:

[code]

Ideally, these should be tagged for translation; this probably requires some CSS changes (since CSS is currently what's capitalizing it).

@umairwaheed can you take a crac

[2018-03-29 01:10] timabbott commented on #8860
(@umairwaheed if you don't have time for a few days, perhaps someone else like @YagoGG does; just let me know)

[2018-03-29 03:18] timabbott commented on #8859
Suppose for now that we're doing the syntax of `is:public-stream` for this concept; I could also imagine e.g. `stream:*` or something (though that might conflict with a stream named `*`; I think we want to ban that name anyway).  We might want to discuss a bit the syntax, since it'll affect a lot of the code that needs to be handled.

There is basically one interesting piece of code to write in Na

[2018-03-29 07:37] jdherg commented on #8859
Thanks for pointing out where to start! If I'm reading correctly, I think we're discussing two different features. (I'm happy to implement both! :) )

The one I intended searches without limiting history or limiting to what the searching user is subscribed to (`is:public-stream` sounds reasonable).

The one that I think you're describing the implementation of searches without limiting history, but

[2018-03-29 08:55] stone212 opened #8863 "Enhancement: Progress Bar on Uploads"
On Linux/Ubutnu Electron Client, file upload does not show a progress indicator.

**To Reproduce:**

Within a stream, upload a file using the paper clip icon. You will see a blue bar with blue text "Uploading..." but it gives no progress.

**Justification:**

Well, progress bars are useful right?  Especially for larger files.

(also you cannot send messages while you are waiting for your upload an

[2018-03-29 09:47] YagoGG commented on #8860
Hmmmm, I don't understand what the exact issue is. Why not changing them with the following?

    <div class="or">{{ _('Or') }}</div>

[2018-03-29 10:14] umairwaheed commented on #8860
Yago, feel free to take this :).

[2018-03-29 10:48] mvrhov commented on #7999
@timabbott . the reason for the first email not arriving was exactly that. The mail wasn't relayed because it was from the wrong domain.
However clicking the resend link, the mail log was empty!!! but zulip log said that the new mail was generated.

At The end I have blown away the database and recreated it with the two database scripts inside zulip tools folder.

[2018-03-29 14:04] shubham-padia commented on #8853
@timabbott yep, the solutions sounds good.

[2018-03-29 14:24] AasthaGupta commented on #7446
@zulipbot waiting for review

[2018-03-29 14:26] AasthaGupta commented on #8216
@zulipbot under discussion

[2018-03-29 15:04] #8852 closed

[2018-03-29 15:04] timabbott commented on #8860
Oh, just we might want to change the force-capitalization CSS attached to this element as well.

[2018-03-29 15:06] timabbott commented on #8859
Yep, I think that's right.  For `is:public-stream`, it's going to be the same as what I suggested, just a different query to get the Recipient objects that's more like `stream_ids = [s.id for s in Stream.objects.filter(realm=user_profile.realm, is_public=True)]`; and then using `bulk_get_recipients` to get the recipient IDs.

[2018-03-29 16:02] Kumar-Tarun commented on #8679
@zulipbot claim

[2018-03-29 16:29] Valkryst opened #8868 "Unreadable Newbie Tips"
Switch to night mode in your browser, then log-in to the dektop app. The desktop app will automatically be in night mode. Next, look at the hints that pop up when you're a new user.

The hints have a white background with light grey text. It's entirely unreadable.

---

Zulip 1.9.0
Electron 1.8.4
linux x64 4.4.0-116-generic
![38097332-768b318c-334b-11e8-8738-f4dd1a228327](https://user-images.githu

[2018-03-29 16:30] timabbott commented on #8868
Tagging as a blocker since this should be trivial to fix; I think this night-mode issue was missed because few users select night mode before finishing the tutorial.

[2018-03-29 17:17] brainwane commented on #8859
As far as I can tell this would also help with https://chat.zulip.org/#narrow/stream/general/topic/a.20multisite.20search.20for.20this.20community which I'd love.

[2018-03-29 19:07] rishig opened #8872 "user settings: "Your bots" tab should start on "Add a new bot" if you have no bots."
@shubhamdhama, this might be a good issue for you.

[2018-03-29 19:11] timabbott commented on #6509
I think the follow-ups here are either in 656f882a44b2a29414aafe22d724a09c493f1468 or are part of the larger migration concept project of moving system bots to live in the realm.

[2018-03-29 19:14] AasthaGupta commented on #8216
The discussion was over this shortcut being the same as 'Keyboard Shortcuts' in the desktop app.

[2018-03-29 19:26] timabbott commented on #7999
Just to be clear, what do you mean by "the resend link"?

[2018-03-29 20:43] timabbott opened #8876 "Custom profile fields: Add a "hint" field"
We should add an optional "hint" field to the custom profile fields feature.  It should be added to the database models and API, displayed and made editable in the organization-level UI, and most importantly, displayed on the user's own profile UI next to each field, giving any organization-specific instructions for that field (probably will require some reformatting).

@YJDave @umairwaheed this i

[2018-03-29 20:52] timabbott opened #8878 "Custom profile fields: Improve the list of field types"
I think we want to:
* [x] Remove the integer and float field types.  We don't actually have a user-facing use case for these fields types; we only created them as an opportunity to test the validation code path.
* [x] Change the "Short Text" field type to have a length limit of 50 characters (currently limit is 200), and enforce that in the text bot on the frontend.
* [x] Change the "Long Text" fi

[2018-03-29 21:26] timabbott opened #8879 "Custom profile fields: Support changing the sort order of the fields"
We should add support for changing the sort order of the new custom profile fields feature.  The sort order would be used for displaying the fields for users to fill out in the admin/settings UIs, and eventually also in the display UI as well.

[2018-03-29 21:33] timabbott opened #8880 "Custom profile fields: Add UI for displaying custom profiles"
The concept I have in mind for this is as follows:
(1) Add a menu item inside the user's small profile popovers "View profile"
(2) That menu item should open a new modal (I think we can use the same size as the "keyboard shortcuts" modal, roughly).  Stylistically, I'd try to make it look more or less like the existing user-mention popovers, just bigger and with all the custom profile fields displa

[2018-03-29 23:10] timabbott commented on #8527
Cool, that looks great!  Next step is to actually prep a second quote, which @rishig is driving.

[2018-03-30 06:01] nicholas-burr commented on #8432
@zulipbot  claim

[2018-03-30 06:53] mvrhov commented on #7999
AFAIR. You get the create URL from the console. The first window that appears is enter your email where you are supposed to get the "confirmation" link. After entering an email, the new page appears instructing you to wait for email also look at the spam folder there is also a link saying something like "resend the email" and clicking on this link doesn't sent the email it just generates it (accor

[2018-03-30 07:49] shubham-padia commented on #8853
Yes, I'm free now.

[2018-03-30 07:50] shubham-padia commented on #8853
@zulipbot claim

[2018-03-30 10:10] AasthaGupta commented on #8850
@zulipbot claim

[2018-03-30 10:55] AasthaGupta commented on #8850
@timabbott
In IE11, where this error is seen, doesn't support clipboardData API. [https://developer.microsoft.com/en-us/microsoft-edge/platform/status/clipboardapi/](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/clipboardapi/).To access the clipboard, we need to use `window.clipboardData`.
Also, IE doesn't expose 'text/html' via javascript. It supports only 'text' and 'url'.

[2018-03-30 14:38] akashnimare commented on #8863
@rishig I think we could just add the progress percentage here. Something like this -

<img src="https://d2ffutrenqvap3.cloudfront.net/items/022z2N2V1e3Q0l2x2u41/Screen%20Recording%202018-03-30%20at%2008.06%20PM.gif?v=6b21e2d2"/>

[2018-03-30 15:04] #8872 closed

[2018-03-30 15:05] nyan-salmon commented on #716
I am challenging this issue by using [python social auth](http://python-social-auth-docs.readthedocs.io/en/latest/backends/saml.html).

Since the minimum implementation required for authentication has been completed, I have tested authentication with Testshib but the following error occurred after login on IdP and we could not authenticate.

my code is [here](https://github.com/nyan-salmon/zulip/c

[2018-03-30 15:42] timabbott commented on #8850
OK, so we should write some fallback code for the IE11 case.  Thanks for investigating!

[2018-03-30 15:52] rishig commented on #8863
Sure. Is it easy to compute the percentage?

[2018-03-30 16:12] timabbott opened #8886 "Deduplicate `exports.render_signup_notifications_stream_ui` and `exports.render_notifications_stream_ui`"
These now have the same code aside from the name of the HTML element.

[2018-03-30 18:25] timabbott commented on #7345
@rishig this is closed by 96845147c991e13411b407f6c5b579167c7c541c, right?

[2018-03-30 18:27] rishig commented on #7345
No, the admin side of this is yet to be written. Doing it well is a bit complicated, so I think we should remove the blocker priority for now, and do it in the course of our general documentation sweep.

[2018-03-30 18:31] timabbott commented on #7345
I see. I think that can be a separate issue; that covered what I had in mind here.  I think it'd be better to close this and just fold it into the sweep TODO list.

[2018-03-30 18:31] #7345 closed

[2018-03-30 18:44] timabbott commented on #8863
@adnrs96 I think this is something to look at when considering replacing our file upload library.  I think design-wise I'd prefer something with a progress bar.

[2018-03-30 18:59] rishig commented on #7330
Sorry for the long delay here. Zulip 1.8 (out in a few weeks) will have a small icon in compose that will generate jitsi links, but the rest of this project is probably still a few months away.

[2018-03-30 19:15] rishig opened #8887 "user docs: Searching for something (e.g. via Ctrl+F) doesn't scroll /help."
As an example, search for something like "emoji", which appears halfway down the page.
More discussion at https://chat.zulip.org/#narrow/stream/9-issues/topic/scroll.20on.20.2Fhelp.

[2018-03-30 19:16] timabbott commented on #8887
@gooca this is probably a good thing for you to investigate given your recent work on scrollbars :)

[2018-03-30 19:29] akashnimare commented on #8887
Looks like a familiar [bug](https://github.com/utatti/perfect-scrollbar/issues/467) with upstream. I can fix it locally using `.markdown {overflow: auto !Important;}` but I don't think this is the right solution!

[2018-03-30 19:36] akashnimare commented on #8863
Yeah, we can get it easily using the [progressUpdated()](https://github.com/zulip/zulip/blob/077475c563d48e557cb8cb5c72068b7853767b85/static/js/upload.js#L62) event. The code for above gif looks like this -

[code]
We can make it look like -
<img src="https://d2ffutrenqvap3.cloudfront.net/items/0B3D3K26181G02161X0E/Screen%20Recording%202018-03-31%20at%2001.05%20AM.gif?v=408bca99"/>

[2018-03-30 19:37] rishig commented on #8887
good find. Looks like a won't fix.

I think this means we should just use the browser scrollbar for now?

[2018-03-30 19:47] timabbott commented on #8887
What ReadTheDocs does is they don't have a separate scroll for the two panes: they both use the same scrollbar on the right side of the screen.

[2018-03-30 19:54] skunkmb commented on #8414
@zulipbot claim

[2018-03-30 20:14] akashnimare commented on #8887
We could just remove the `perfect-scrollbar` if it's not that useful in `/help` page and use browser's default scroll behaviour.

[2018-03-30 20:14] Lyla-Fischer opened #8889 "Write new user docs"
I'm making a checklist of docs that need to be written rather than tracking them in https://github.com/zulip/zulip/commit/32f6a768e3ba1a3501dfaa94ab70e7cf0340fdc9

There were previously seperate issues for each one, but we're gathering them into a single issue so that a single person can claim it and concentrate expertise.

- [ ] automatically-link-to-an-external-issue-tracker

- [ ] copy-a-block-

[2018-03-30 20:14] Lyla-Fischer commented on #8444
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:14] #8444 closed

[2018-03-30 20:15] Lyla-Fischer commented on #8445
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:15] #8445 closed

[2018-03-30 20:15] Lyla-Fischer commented on #8446
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:15] #8446 closed

[2018-03-30 20:15] timabbott commented on #8887
It's visually nice, especially on the left side, on Linux.  But ctrl+f is probably more important.

Let's do a bit more debugging, and if we can't find a reasonable workaround, try that, and if not, we can go back to browser scrollbars :/.

[2018-03-30 20:15] Lyla-Fischer commented on #8448
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:15] #8448 closed

[2018-03-30 20:15] Lyla-Fischer commented on #8449
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:15] #8449 closed

[2018-03-30 20:15] Lyla-Fischer commented on #8450
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:15] #8450 closed

[2018-03-30 20:16] Lyla-Fischer commented on #8451
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:16] #8451 closed

[2018-03-30 20:16] Lyla-Fischer commented on #8453
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:16] #8453 closed

[2018-03-30 20:16] Lyla-Fischer commented on #8455
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:16] #8455 closed

[2018-03-30 20:16] Lyla-Fischer commented on #8456
https://github.com/zulip/zulip/issues/8889

[2018-03-30 20:16] #8456 closed

[2018-03-30 20:17] timabbott commented on #8863
Yeah, that looks great (though we should do some CSS to make it prettier).

[2018-03-30 20:22] Lyla-Fischer commented on #8447
Nope. We have separate sections for users and administrators, and the page that you found is mostly for administrators. We would want a separate page for non-privileged users.

[2018-03-30 20:22] gooca opened #8890 "Fix vertical alignment on settings pages'"
The general vertical design of the page should be sub headings are close to their respective content to show that they are related.  Different subheadings should have greater vertical distance to show they are unrelated. For Zulip, this means making the content closer to the subheading, and making sure the distance between different subheadings is greater than the distance between subheading and c

[2018-03-30 20:22] gooca commented on #8890
@zulipbot claim

[2018-03-30 20:23] timabbott commented on #716
This error seems like the main issue:
`ERROR [edu.internet2.middleware.shibboleth.idp.profile.AbstractSAMLProfileHandler:447] - No return endpoint available for relying party http://zulip.kao.cat:9991`

Probably you're missing something in the Shibboleth configuration?

[2018-03-30 20:23] timabbott commented on #8890
This is a bug that's been bugging me for a while :)

[2018-03-30 20:28] synicalsyntax commented on #8889
Related to #6883

[2018-03-30 20:29] Lyla-Fischer commented on #8454
We're currently working on revamping the way that we do user docs, and @rishig and I will be doing most of it while we work out the procedures and templates. We would be happy to have extra reviewers if you wanted to review what we've written for clarity!

[2018-03-30 20:29] #8454 closed

[2018-03-30 20:30] Lyla-Fischer commented on #8889
Thanks, @synicalsyntax!
@zulipbot claim

[2018-03-30 20:45] akashnimare commented on #8887
Well if it's all about the visual then we could make it look like the perfect-scrollbar (in the worst case if can't find a fix)-
https://codepen.io/akinjide/pen/BpggrZ
https://codepen.io/devstreak/pen/dMYgeO

[2018-03-30 20:48] Lyla-Fischer commented on #8447
Because of some work that we are doing with documentation templates, we are going to try to centralize the creation of documentation (https://github.com/zulip/zulip/issues/8889). Would you be interested in reading newly created documentation for clarity instead of writing the first draft?

[2018-03-30 20:48] #8447 closed

[2018-03-30 20:49] Lyla-Fischer commented on #8452
Because of some work that we are doing with documentation templates, we are going to try to centralize the creation of documentation (https://github.com/zulip/zulip/issues/8889). @divyabaid16 Would you be interested in reading newly created documentation for clarity instead of writing the first draft?

[2018-03-30 20:49] #8452 closed

[2018-03-30 20:51] skunkmb commented on #8414
@abhigyank I opened PR #8891 to possibly fix this issue. Please let me know if it was what you were thinking. Thanks!

[2018-03-30 21:02] akashnimare commented on #8887
Detailed info on the bug - https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/486

[2018-03-30 23:19] armaanahluwalia opened #8894 "Add .stylelintrc to enable CSS Linting"
This would enable people to lint their CSS code while they're developing in their IDE. The same file could also potentially be used to lint CSS pre-commit, in the tests etc.

see [StyleLint](https://github.com/stylelint/stylelint)

[2018-03-31 01:11] Balaji2198 commented on #8886
@zulipbot claim

[2018-03-31 03:54] divyabaid16 commented on #8452
Yes.

[2018-03-31 04:49] umairwaheed commented on #8876
@zulipbot claim

[2018-03-31 07:51] nyan-salmon commented on #716
Testshib has no setting items other than uploading SP's metadata...

Is it cause that processing after Zulip's authentication succeeded?

[2018-03-31 09:53] hackerkid commented on #8880
@zulipbot claim

[2018-03-31 15:38] skunkmb commented on #8894
@armaanahluwalia I think Zulip already has a CSS linter. See [`tools/check-css`](https://github.com/zulip/zulip/blob/master/tools/check-css), which gets run by CI when you create a pull request. It doesn't run in your *IDE*, but if you want I think you can run `./tools/check-css`. Is this what you were imagining?

[2018-03-31 15:42] armaanahluwalia commented on #8894
Thanks for the response @skunkmb . I was actually aware of the css linting however I think its useful from a developer experience perspective as well as tooling compatibility for style linting rules to be defined in one place in a standard format.

I feel like adding this file would mean we could refer to it to debug, autofix and run pre-commit hooks etc. to our style files locally without needing

[2018-03-31 15:50] AasthaGupta commented on #8850
Currently, the only hack to get text/html data in IE11 is to paste content into a contenteditable div and then get its innerHTML from js. I find this hack a little overstretched and overkill for the fallback. So I think, the current fallback to the 'text' in this scenario will work for now. I have created a PR, to handle this case.

[2018-03-31 16:33] #6961 closed

[2018-03-31 16:39] skunkmb commented on #8863
@zulipbot claim

[2018-03-31 16:40] JohnDorien1 commented on #8782
I couldn't get any further, no matter what I tried, so in the end I moved to Rocket.Chat for the time being as they support this out of the box

[2018-03-31 16:40] #8782 closed

[2018-03-31 16:48] skunkmb commented on #8863
@akashnimare @timabbott What does the already-existing

[code]

do? I looked at the `upload_bar` that it is referencing, which is added in `uploadStarted` with

[code]

This makes it seem like there already *is* a progress bar, but none appears. I also tried changing the `.after` to `.add`, which does make it appear.

What is the current use of `upload_bar`?

[2018-03-31 17:19] rheaparekh commented on #8857
@zulipbot claim

[2018-03-31 18:32] timabbott commented on #8894
@skunkmb the purpose of using a standard tool like StyleLint for our CSS linting (either extending what we have, or replacing it), is that it's something an IDE like Atom will have as a built-in integration.  So users who are familiar with those tools can have an easier time contributing to Zulip in a way that is consistent with our style guide.

Depending how good StyleLint is, we may or may not

[2018-03-31 21:15] skunkmb opened #8905 "style: Inputs with `type="number"` do not have a dark background in night mode."
For example, in this screenshot `Favorite integer` is a `number` field and `Phone number` is a `text` field. Since `Favorite integer` is not `text`, the dark background isn't added.

<img width="239" alt="example" src="https://user-images.githubusercontent.com/17259768/38167660-a004fdf6-34ed-11e8-9023-415407757f8f.png">

[2018-03-31 21:15] skunkmb commented on #8905
@zulipbot claim

[2018-03-31 22:48] #8850 closed

[2018-03-31 23:12] #8886 closed

[2018-03-31 23:14] timabbott commented on #8905
@skunkmb we're planning to remove the "integer" type from this feature for other reasons, so this isn't a big priority, but I think it still makes sense to fix the CSS for `number` fields to work correctly in night mode (since it should be easy and we may at some future point add a number field somewhere else).

[2018-04-01 14:49] skunkmb commented on #8905
@timabbott OK, I created a PR here: #8910.

[2018-04-01 15:35] hackerkid opened #8912 "Upgrade pyldap to latest version"
Currently upgrading Pyldap from 2.4.37 to 3.0.0 results in this error during provision

[code]

[2018-04-01 15:36] hackerkid opened #8913 "Upgrade tornado to latest version"
Currently upgrading tornado from 4.5.3 to 5.0.1 result in the following error while running backend tests

[code]

[2018-04-01 15:49] FoggyFinder commented on #2369
any news?

[2018-04-01 15:56] hackerkid opened #8914 "Upgrade transifex-client to latest version"
The following error will result when trying to upgrade to latest version. This happens only in circleci and works fine in dev environment
https://circleci.com/gh/hackerkid/zulip/585

[2018-04-01 18:00] sinwar commented on #8913
@zulipbot claim.

[2018-04-01 18:01] sinwar commented on #8912
@zulipbot claim.

[2018-04-01 19:21] rishig opened #8915 "markdown: Spaces are collapsed."
There are two related bugs. I'm going to use `.` to indicate spaces, since github is collapsing spaces.  One is the message
a..................b

The spaces get collapsed in both frontend and backend processors.

The second is the message
text
[.........text.........]

The spaces get collapsed in the frontend, but not in the backend.

In both cases, the spaces should not be collapsed.

[2018-04-01 19:46] zy964c commented on #7481
@zulipbot claim

[2018-04-01 21:00] adnanislam commented on #8750
I am working with @cr4zyafrican on this issue for our class project.

We found that editing a message topic does actually save the new topic but you have to refresh the page to see it. The problem is that the get_events_success function in server_events.js does not run after editing the message topic so the messages cannot be rerendered without refreshing. When does the get_events_success function

[2018-04-01 21:08] timabbott commented on #8915
I am not convinced that's a bug -- this is how markdown/HTML/etc. work (and as you note, GitHub collapses spaces as well).  If you want fixed-width formatting where you control whitespace, you use a code block.

Can you talk about the use case for what you're trying to do?

[2018-04-01 21:09] timabbott commented on #8914
That looks like some sort of issue with a pypi cache that's not up to date.  Weird.

[2018-04-01 21:22] rishig commented on #8915
I think preserving spaces better matches expectations (almost none of our users are going to know markdown), but I don't think it's that important or worth changing if we've already decided one way. In that case we just need to fix the backend processor for
text
[............text..............]

which currently preserves the spaces.

[2018-04-01 21:34] zy964c commented on #6932
@zulipbot claim

[2018-04-01 22:14] #8905 closed

[2018-04-01 22:16] timabbott commented on #2369
@FoggyFinder this hasn't received active implementation work, but we do have a technical design for how to do this without a huge investment of effprt, and it's getting closer to being scheduled.

[2018-04-01 22:35] timabbott commented on #8466
@hackerkid FYI.

[2018-04-01 22:35] Balaji2198 commented on #3877
@zulipbot  claim

[2018-04-01 23:13] #6548 closed

[2018-04-01 23:26] #8824 closed

[2018-04-01 23:27] timabbott commented on #8915
I just tested, and the backend processor does not preserve spaces in that situation.

[2018-04-02 00:29] shubham-padia commented on #8605
yes, I'm currently working on making it stick at the bottom of the right
sidebar with the resizing code.

On Mon, Apr 2, 2018 at 5:46 AM, zulipbot <notifications@github.com> wrote:

[2018-04-02 01:02] alexisopsasnick commented on #8631
@zulipbot claim

[2018-04-02 01:21] camillgi commented on #5384
@zulipbot claim

[2018-04-02 03:02] rishig commented on #8915
How about https://chat.zulip.org/#narrow/stream/7-test-here/subject/moo/near/553096 ?

[2018-04-02 03:36] aliyareneekhan commented on #6018
is this issue still taken?

[2018-04-02 03:41] aliyareneekhan commented on #7549
is this still an issue?

[2018-04-02 04:58] timabbott commented on #8915
I don't know what's going on there; seems like something weird.  Why do the other test cases behave differently?  Is it a precise number of spaces involved here?

[2018-04-02 06:33] zcavazos commented on #8731
@zulipbot claim

[2018-04-02 09:15] veerjainATgmail opened #8918 "Zulip console log - option to suppress the present/heartbeat messages"
In the development environment, would like to have an option to suppress the present/heartbeat messages.

[2018-04-02 09:35] Kumar-Tarun commented on #8802
@timabbott I have found a way to clean up that function by adding a exportable function to input_pill.js, which constructs non-editable pills and which avoids attaching any event handlers. The thing I wanted to ask is can you give #8806 a review, because through that approach (sorting groups into editable and non-editable), we can render groups accordingly, also to further clean up, I am thinking

[2018-04-02 09:39] adnrs96 commented on #6018
@aliyareneekhan It has been almost a month since last claim and there seems to be no associated PR with this issue so I think this issue has been probably abandoned. You should just go ahead and claim this issue and work on it if you would like to :)

[2018-04-02 09:52] rishig commented on #8915
It can't be the first line. I.e.
text
[...text...]

rather than
[...text...]

[2018-04-02 10:13] Anupam-dagar commented on #7549
@aliyareneekhan I have a PR open which is under review.

[2018-04-02 10:14] Anupam-dagar commented on #7549
@zulipbot claim

[2018-04-02 10:56] akashnimare commented on #8863
@skunkmb yeah, I think it's broken. `.add` does show up the progress-bar but I think you should insert it within the `alert-info` instead of `error_mgs`, also you gotta take care of the styling a bit.

[2018-04-02 11:46] hackerkid commented on #8912
@sinwar Take a look at this comment
https://github.com/zulip/zulip/pull/8911#issuecomment-377817890

[2018-04-02 12:28] robgev commented on #7813
On it! :)

[2018-04-02 12:42] aliyareneekhan commented on #8177
Do you think this would be an easy bug to fix? If so, I would like to claim it.

[2018-04-02 12:43] aliyareneekhan commented on #7325
Is this issue still being worked on?

[2018-04-02 12:45] aliyareneekhan commented on #8620
Hi! Would this be an easy bug for a beginner to fix? If so I would like to claim it.

[2018-04-02 12:47] aliyareneekhan commented on #3830
Hi! Do you think this would be a difficult bug for a beginner to fix? I am looking for one that I can reasonably solve within two weeks or so.

[2018-04-02 12:49] aliyareneekhan commented on #6018
Do you think this would be reasonable to complete in around 24 hours of worktime?

[2018-04-02 14:21] aliyareneekhan commented on #6809
Hi! I am a student who needs to contribute to a github project for a class. Would this be an easy task for a beginner?

[2018-04-02 14:40] timapril opened #8921 "Web and app versions of the client scroll back a few pages worth of messages seemingly randomly"
Running the current master (1bba6cc) we are seeing the web and app clients on many different platforms scroll back to previous messages at a seemingly random interval. I am trying to watch the console and network traffic for my client to see if I can identify if it is a message from the server that is triggering this but I have not found anything yet.

[2018-04-02 14:54] timapril opened #8922 "Option to disable video chat"
It would be useful to have an option in /etc/zulip/settings.py to disable the inclusion of the "Add video call" button in the compose view.

[2018-04-02 16:20] aliyareneekhan commented on #6018
claim

[2018-04-02 16:26] timabbott commented on #8922
@timapril agreed; as a related question, would it be useful to integrate this with another video chat tool as well?

[2018-04-02 16:28] timabbott commented on #8921
Details on things like whether this is happening in a narrow or the home view would be helpful; we haven't gotten reports that match this story.

[2018-04-02 16:28] timabbott commented on #8620
@aliyareneekhan it might be!  Certainly easy to reproduce and reasonable to work on.

[2018-04-02 16:32] timabbott commented on #8922
Tagging as blocker to make sure we make an explicit decision on doing this before the 1.8 release.

[2018-04-02 16:57] timapril commented on #8922
Possibly having other tools as an option would be good, but most of the enterprise grade tools don't have as simple APIs as jitsi does. It would probably be helpful to make the jitsi server configurable since it seems like a pretty useful tool but we would probably want to host it internally.

[2018-04-02 16:58] shubhamdhama commented on #6809
Hey @aliyareneekhan, the aim of this has changed a lot and I've recently opened a new PR(#8920) for it. There can be some other `good first issue` to work on. Thank you.

[2018-04-02 17:25] timabbott commented on #8922
Yeah, I was thinking one way we could do this is have a JITSI_SERVER option for folks who want to host internally.  OK we'll do something reasonable here.

[2018-04-02 17:25] cr4zyafrican commented on #8837
I do not have an example!

[2018-04-02 17:26] timabbott commented on #8921
After some discussion, this is very likely #8854; closing in favor of that.

[2018-04-02 18:47] timabbott opened #8925 "slack import: Custom emoji seem to not import properly"
@rheaparekh I don't know if this is a problem with the Slack export process or the import process, but if you upload a bunch of animated emoji in Slack, the RealmEmoji import correctly (have the right image in the "custom emoji" settings page) but reactions seem to end up with the names correct but corresponding images mixed up.

[2018-04-02 19:47] aliyareneekhan commented on #7089
claim

[2018-04-02 19:59] AasthaGupta commented on #8854
@timabbott This error seems to occur when you change the topic of the message(s) to a new topic or an existing topic with no messages. In this case the function `current_msg_list.selected_row();` at [message_viewport.js#L227](https://github.com/zulip/zulip/blob/master/static/js/message_viewport.js#L227) will not return anything. `selected_row()` is defined in [message_list.js#L226](https://github.

[2018-04-02 20:18] timabbott opened #8926 "Slack import: Fix links to uploaded images"
If you import a Slack organization, all the images end up with broken links.

@rheaparekh I think the problem here is that after we update the URLs for the images, we need to update the `.message_inline_image` blocks inside the messages themselves to point to the new URLs for the images.

Since those URLs normally contain the realm ID which isn't known until import is complete, I think the right w

[2018-04-02 20:24] timabbott opened #8927 "Add support for bold+italics formatting in the Slack import"
I noticed this item in https://chat.zulip.org/help/import-data-from-slack
- Simultaneous bold and italic formatting of a word. This is not yet supported by Zulip's backend markdown.

We added support for that in #8427; so we just need to update the import tool.  @rht @rheaparekh FYI.

As a sidenote, I think we now support attachments, reactions, and avatars and should remove those from that doc, r

[2018-04-02 20:26] timabbott opened #8928 "slack import: Support importing custom profile fields"
We don't currently support custom profile fields.  I think @rheaparekh is working on this, so pre-assigning it to her.

[2018-04-02 20:27] timabbott opened #8929 "Slack import: Fix importing :slightly_smiling_face: emoji into Zulip"
If you import a :slightly_smiling_face: reaction from Slack to Zulip, it doesn't work.

I think the reason is that we're not using the right data set for the lookup.  For looking up a unicode emoji in Slack, we should use the name->codepoint mapping from `node_modules/emoji-datasource-google/emoji_pretty.json` to figure out what emoji codepoint it is, and then do the reverse lookup in Zulip to det

[2018-04-02 20:31] rishig commented on #8929
ah yeah, that makes sense. Can we just rewrite it to the unicode symbol in message bodies?

[2018-04-02 21:03] rishig opened #8930 "markdown: Add @stream as an alias for @all."
Discussion here:
https://chat.zulip.org/#narrow/stream/31-production-help/topic/.40-all.20scope

[2018-04-02 22:01] timabbott commented on #8854
I agree with that analysis, but I think the correct fix is more subtle; we do need to do something with scroll position in some of these code paths.

[2018-04-02 22:04] timabbott commented on #8929
Yes, we could probably do that in message bodies with a moderate amount of work.  But note that this is only a problem for a few emoji and we don't want to rewrite the syntax for custom emoji (since there is no corresponding unicode symbol).

[2018-04-02 22:33] aliyareneekhan commented on #7089
@zulipbot claim

[2018-04-02 22:37] rishig commented on #8929
ah, got it.

[2018-04-02 22:38] aliyareneekhan commented on #6018
@zulipbot claim

[2018-04-02 22:44] parthks commented on #8620
@zulipbot claim

[2018-04-02 23:56] #8922 closed

[2018-04-03 01:02] timabbott opened #8933 "scrollbars: Fix exception when trying to remove scrollbar on non-existent element"
@gooca I don't have a reproducer for this, but I saw this exception in production

[code]

The `click_handlers.js` code is for a hard-to-trigger corner case involving dragging; I haven't been able to reproduce this.  We could just make the click-handler-destroy code suppress the exception, except that could mask issues where we're actually leaking the scrollbar objects...

[2018-04-03 01:22] timabbott commented on #8921
This turns out to instead be caused be a user's name being changed and a buggy event handler for re-rendering the message list using the wrong function (should have been `rerender_preserving_scrolltop`, to, you know, preserve the scroll position).

[2018-04-03 02:06] timabbott opened #8934 "IE11 exception when exiting overlays"
[code]

@AasthaGupta can you investigate this one as well?  I suspect the issue is that `document.activeElement.blur()` isn't a thing in IE11 and we need some fallback.

[2018-04-03 02:17] #8921 closed

[2018-04-03 02:21] rishig commented on #8915
ok, can replicate it being on the first line as well, though it seems to depend on whether the text is copy pasted from somewhere or typed? Is that plausible?

[2018-04-03 02:28] timabbott commented on #8915
Well, the markdown processor doesn't care, but it's possible you're entering different content into the form by copy-pasting (e.g. you could have some zero-width space characters or something muddling things).

Oh I think what's going on is that this is combining oddly with the fact that we respect `&nbsp;` in our Markdown library as converting to whitespace, and the `toMarkdown` library that we'r

[2018-04-03 06:17] sinwar commented on #8732
@zulipbot claim.

[2018-04-03 07:08] punchagan commented on #2047
@brainwane I have been working on this, and I wanted to clarify the requirement from you on what should be exported.  The existing function in the code `do_export_user` exports all the messages sent to every `Recipient` object that the user is subscribed to - this translates to exporting everything that the user has **sent** and **received**.

But, if I understand your request correctly, you would

[2018-04-03 08:59] rheaparekh commented on #8925
@zulipbot claim

[2018-04-03 08:59] rheaparekh commented on #8926
@zulipbot claim

[2018-04-03 09:26] sinwar commented on #8913
the `io_loop` argument is removed from `tornado. PeriodicCallback ` and `tornado.autoreload` according to [docs](http://www.tornadoweb.org/en/stable/releases/v5.0.0.html) which is yet not updated in socketjs-tornado - https://github.com/mrjoes/sockjs-tornado/blob/master/sockjs/tornado/router.py#L111 .

There is already open PR for the same - https://github.com/mrjoes/sockjs-tornado/issues/113.
I t

[2018-04-03 12:31] jckw commented on #7089
@zulipbot abandon

[2018-04-03 12:35] jckw commented on #7089
All yours @aliyareneekhan!

I'm not sure if https://github.com/zulip/zulip/pull/8717 has been merged yet, so there may be some collaboration you could do with @nkmishra1997 to get them PR-ready.

[2018-04-03 13:36] shubhamdhama commented on #8930
@zulipbot claim

[2018-04-03 14:00] shubhamdhama commented on #8930
Creating PR soon after adding test.
![stream_mention](https://user-images.githubusercontent.com/22238472/38253853-5af28ff0-3775-11e8-83c4-79e51142deef.gif)

[2018-04-03 15:37] akashnimare commented on #8933
We might need to add this check -
[code]

[2018-04-03 16:13] timabbott opened #8937 "a"

[2018-04-03 16:13] #8838 closed

[2018-04-03 16:15] timabbott opened #8939 "Add proper function for bulk-fetching user profile objects by ID within a realm"
We have two functions to do this right now that both do this wrong:
* `get_user_profiles_by_ids` in `zerver/models.py` was introduced in #8924 and does a single query, but doesn't consult memcached and doesn't validate the users belong in the target realm (and thus isn't safe to use from user-facing code paths)
* `user_ids_to_users` in `zerver/lib/users.py` has the right interface and uses memcach

[2018-04-03 16:35] #8912 closed

[2018-04-03 16:55] swallitsch opened #8941 "Double click select scrolls large multiline message to bottom"
With [large, multi-line messages](https://chat.zulip.org/#narrow/stream/94-bot-testing/subject/testing/near/553990), double clicking text at the top (which normally selects a word and then line) scrolls the stream to the bottom of the message instead of performing a select action.

To replicate:
* Find a [long, long message](https://chat.zulip.org/#narrow/stream/94-bot-testing/subject/testing/near

[2018-04-03 16:59] rht commented on #8927
Yeah, and also replacing the statement "Currently we only support standard export" with something else since Slack no longer does compliance export.

[2018-04-03 17:02] AasthaGupta commented on #8934
@timabbott I am unable to reproduce this in IE11.

[2018-04-03 17:04] punchagan commented on #7830
One idea could be to display the email id of the user automatically, instead of appending `#2`, `#3`, etc.

[2018-04-03 17:06] timabbott commented on #8934
Try closing the "Manage streams" overlay specifically with the `x` icon in the upper-right -- what's what click_handlers.js line 368 is for.

[2018-04-03 17:42] timabbott commented on #8941
@novokrest can you help debug?  I feel like you have good state on the copy/paste system.

[2018-04-03 17:43] timabbott commented on #8927
Yeah, sounds good.

[2018-04-03 17:48] timabbott commented on #8933
Yeah, that's what I meant by "suppress the exception", thought I'd write it as: `if(element.length > 0 && element[0].perfectScrollbar !== undefined)`

I think that's probably fine; what I'm worried about is if we end up doing some refactor that moves the scrollbar element to another HTML element, would we miss this?

[2018-04-03 17:52] jainkuniya opened #8942 "Hide Disable option if it already disabled in admin setting."
Page link: https://chat.zulip.org/#organization/organization-settings

Setting for `New stream notifications:` and `New user notifications:`
<img width="296" alt="screen shot 2018-04-03 at 7 55 33 pm" src="https://user-images.githubusercontent.com/18511177/38266238-c3661bb8-3795-11e8-8b83-b9e77105ee5b.png">

Discussion link:
https://chat.zulip.org/#narrow/stream/6-frontend/topic/UI.20improvments

[2018-04-03 18:02] timabbott commented on #8941
The issue makes sense.  Do you think we should have a threshhold for how many screens of height a message should be for us to do the scrolling-to-bottom behavior?  E.g. only do that if it's less than 1.5 screens?

(I assume the message started out collapsed, and then you expanded it, right?)

[2018-04-03 18:08] AasthaGupta commented on #8934
This is what I was trying out but this didn't give me the exception.
![](https://user-images.githubusercontent.com/15193262/38266912-8eaac516-3797-11e8-9754-febd9988a2bf.gif)

[2018-04-03 18:47] #8937 closed

[2018-04-03 18:50] timabbott commented on #8913
sockjs-tornado seems to be a potentially unmaintained project at this point (haven't released since 2016).  I posted on https://github.com/mrjoes/sockjs-tornado/issues/115 to see if there's hope for them doing a release soon.  But if not we don't see movement on that, we might want to make a zulip GitHub fork for now, and longer-term consider moving to something else for websockets in Tornado.

[2018-04-03 18:52] gooca commented on #8933
I am not sure I follow how to attack this issue. Should it be by improving the situations where we call the scrollbar functions (try to find where we call the functions on undefined), or handle the undefined situations better in the ui.js file.

[2018-04-03 19:13] timabbott commented on #8933
Ideally, we should do checks in the callers (e.g. for whether the emoji popover is still popped) before trying to e.g. destroy the scrollbar.  This probably reflects other bugs in those code paths (where cleanup code is being double-run or something).

[2018-04-03 19:41] timabbott commented on #3830
This seems like a pretty basic issue involving `tabindex`.

[2018-04-03 19:41] timabbott commented on #8177
You could start with reproducing it.  I'm not sure how hard it will end up being.

[2018-04-03 19:42] timabbott commented on #8863
Yeah, I think the main problem here is that our pre-existing progress bar seems to have broken in some refactoring (more than that we need to show the percentage)... Let's debug that and go from there.

[2018-04-03 19:43] timabbott commented on #8863
Tagging as a block since this seems like a pretty high-value low-effort bug to fix.

[2018-04-03 19:48] timabbott opened #8944 "IE11 support: Stop using `startsWith` in the JS codebase"
https://www.w3schools.com/jsref/jsref_startswith.asp is only supported in IE12 or newer; since we intend to support IE11 and above, we should purge use of it and lint for it to prevent new introductions.

[2018-04-03 19:49] timabbott commented on #8942
@shubhamdhama this might be a good quick fix for you to tackle.

[2018-04-03 19:50] shubhamdhama commented on #8942
Sure, @zulipbot claim

[2018-04-03 20:36] rishig opened #8945 "streams settings: Bug in switching between "Subscribed" and "All streams"."
To reproduce:
* Click the gear next to Streams
* Click the plus to create a new stream
* Click the "Subscribed" button.

It should toggle the panel from All streams to Subscribed, but it doesn't.
Subsequently clicking "All streams" does toggle it, but now when you click "All streams" it gives you the subscribed list, and vice-versa.

[2018-04-03 20:39] timabbott opened #8946 "Fix postgres restart process after configuration file changes"
If a Zulip server has its RAM change (for example), we'll end up doing a postgres server restart via puppet during the upgrade process / `zulip-puppet-apply` process.  Currently, that can fail with output that's something like this:
[code]

We trigger the server restart via this block in `postgres_appdb_tuned.pp`:
[code]

We should consider using the `-m` fast option or something similar to help e

[2018-04-03 21:58] Kha commented on #8386
I agree, it's terribly confusing. I even considered disabling "Press enter to send" just because of this issue, but that doesn't help much since every other chat site I use regularly uses enter to send messages.

[2018-04-04 01:34] timabbott opened #8949 "Slack import: Fix mis-imported user avatars"
If you import a Slack organization with the new user/stream ID importing process, any mentions for the users/streams that are imported end up with the wrong `data-user-id` / `data-stream-id` values in the `rendered_content`.  I haven't figured out why, but it's pretty obvious (users have each others' avatars).

This is using https://github.com/zulip/zulip/pull/8943 in case it matters.

[2018-04-04 01:36] timabbott commented on #8949
I'm not entirely sure where in the process the markdown is actually rendered, but further investigation suggests that the data-user-id values are correct (so that's fine), but the actual avatars are imported wrong (e.g. user 34 has user 39's avatar image).

[2018-04-04 05:20] stone212 opened #8951 "Enhancement: Highlight Text and type 'r' to Have Text Auto-Quoted in Reply"
It is difficult to know what another user is referring to when you receive a reply.  A useful solution:

If I am reading a message from another user and I want to reply to part of that message, I would like to be able to do this:

1. Highlight the text I want to reply to.

2. Hit 'r'" to Reply

3. Now my Compose box has the text that I highlighted preceeded by a chevron and the cursor beneath it s

[2018-04-04 05:30] akashnimare commented on #8951
@stone212 you could use ` >` to quote and reply to message though we don't support the highlight and reply.

[2018-04-04 05:36] aero31aero commented on #6221
@zulipbot claim

[2018-04-04 05:50] vikasvmads commented on #8432
@zulipbot abandon

[2018-04-04 05:51] stone212 commented on #8951
@akashnimare

`you could use > to quote and reply to message`

You mean quote the entire message right?

That's why this is titled an "Enhancement" :)

[2018-04-04 05:51] vikasvmads commented on #8432
@zulipbot clam

[2018-04-04 06:04] novokrest commented on #8939
@zulipbot claim

[2018-04-04 06:16] rishig opened #8952 "left sidebar: Non-clickable space between topics."
There is currently vertical space between the topic click targets. E.g. there is no way to click "between" two streams, or between two users in the right sidebar, but there is a way to click between two topics.

[2018-04-04 07:44] asiamarek commented on #8945
@zulipbot claim

[2018-04-04 09:27] aero31aero commented on #335
@timabbott I believe this can be closed now that we have the Jitsi Meet integration. They provide sharing the browser window, and we cannot share the complete screen in any way.

[2018-04-04 09:32] aero31aero commented on #6515
@zulipbot claim

[2018-04-04 11:42] rheaparekh commented on #8949
@timabbott is this just happening while using  #8943?

[2018-04-04 13:47] rheaparekh commented on #8949
Few images from branch #8943:

All the images below show the correct ids:

![screen shot 2018-04-04 at 7 14 43 pm](https://user-images.githubusercontent.com/25330892/38311307-7fc73cb4-383c-11e8-95c9-ccce26d539fe.png)
--
![screen shot 2018-04-04 at 7 15 02 pm](https://user-images.githubusercontent.com/25330892/38311311-82005fc4-383c-11e8-9c9c-9f131ae58b7c.png)
--

![screen shot 2018-04-04 at 7 15 2

[2018-04-04 15:55] timabbott commented on #8949
Just to be clear, the problem is that the avatar image for e.g. "Steve Howell" /user ID 724 doesn't match the avatar that "Steve Howell" had in Slack -- it matches some other user's avatar.  So I think the messages are fine, but the avatar import in #8943  (master now) is mixing things up somehow.  (I suspect this is basically the same problem as the emoji image one, too)

[2018-04-04 16:51] timabbott opened #8958 "get_messages: Fix interaction between include_history and use_first_unread_anchor"
@borisyankov helped me discover a subtle bug where `use_first_unread_anchor` and `include_history` don't interact correctly in a situation where the only messages on a topic were before the current user subscribed to that stream.  Basically if you set things up like this:
* Send a single message to a new topic "test" to a public stream Hamlet is not subscribed to ("Denmark" in this example).
* Sub

[2018-04-04 17:03] timabbott opened #8959 "slack import: Generalize fix_slack_upload_links for zulip->zulip import"
Now that the zulip->zulip export/import model renumbers IDs, I think we may need to do the same `SlackImportAttachment` sort of rewriting of message content when importing a Zulip-exported organization as well.

[2018-04-04 17:05] timabbott commented on #8959
(I think fixing this might require doing some actual parsing of the Zulip-side message content, so this might be more difficult than some other issues).

[2018-04-04 17:06] #8926 closed

[2018-04-04 17:28] zcavazos commented on #8952
@zulipbot Claim

[2018-04-04 17:30] timabbott commented on #908
This is now implemented; see https://zulipchat.com/help/import-data-from-slack.  There are various follow-up projects to import the import process in-progress.

[2018-04-04 17:30] #908 closed

[2018-04-04 17:41] timabbott opened #8960 "toggles: Fix "manage streams" opening with the data for "All streams" but 'Subscribed" selected"
Visiting "all streams" via the gear menu shows all streams with "Subscribed" selected.

@showell this is likely a regression in your recent work on the toggles component.

[2018-04-04 18:02] timabbott commented on #8951
This is a great idea, and probably not hard.

[2018-04-04 18:42] #8942 closed

[2018-04-04 19:00] aero31aero commented on #387
@zulipbot claim
@timabbott I believe there's a typo in the comment above. Are you referring to the commits by sup95 or to some other PR?

[2018-04-04 19:01] rishig opened #8963 "compose: Copy-pasting from html often adds a lot of newlines."
To reproduce, copy a couple of paragraphs from gmail or dropbox paper, and paste them into the zulip compose box.

This likely requires some tweak to `toMarkdown` to tell it that we use the nl2br extension (Markdown, as specced, requires a blank line between blocks, which we turned off because it is too hard to do).

Whlie we're at it we should also check if we're pasting spaces as `&nbsp;` (I thi

[2018-04-04 19:04] showell commented on #8945
@asiamarek I introduced this bug, so I have a fix coming.

[2018-04-04 19:04] showell commented on #8960
dup of #8945

[2018-04-04 19:04] #8960 closed

[2018-04-04 19:29] shubham-padia opened #8965 "Rename mark_message(s)_as_read to notify_server_message(s)_read"
Follow up to #8853 .
mark_message(s)_as_read is used in marking a message as having been read by the browser, rename it to notify_server_message(s)_read to avoid any confusion.

[2018-04-04 19:31] shubham-padia commented on #8965
@zulipbot label "area: refactoring"

[2018-04-04 19:34] asiamarek commented on #8945
Allright @zulipbot abandon

[2018-04-04 23:35] #8939 closed

[2018-04-04 23:40] #8945 closed

[2018-04-05 00:57] rishig commented on #8887
Found another perfect-scrollbar bug, which is that https://zulipchat.com/help/format-your-message-using-markdown#status-messages goes to the right position, but if you click to a different page, hard reload, and then click on Sending messages -> Status messages, it goes to a seemingly random scroll position.

I think we should just get rid of perfect-scrollbar on this page and fix forward from the

[2018-04-05 01:31] veerjainATgmail commented on #8918
Edit - Both development and production environment.

[2018-04-05 03:35] rishig opened #8969 "drafts: Add "Click on a message to restore" instruction."
We should add "Click on a message to restore" to the bottom of the drafts modal. Besides being a good tip for drafts, this also helps teach users that zulip works by clicking on messages.

Note that we should only show the message if there is at least one draft.

It can be styled in the same way as
![image](https://user-images.githubusercontent.com/890911/38346023-5313f81e-3847-11e8-8a61-6ccd274b2

[2018-04-05 05:43] akashnimare opened #8971 "design: UI issue on /help/import-data-from-slack page"
Hovering on this [heading](https://zulipchat.com/help/import-data-from-slack#slack-data-elements-that-are-not-translated-to-a-corresponding-zulip-element) breaks the UI
![image](https://user-images.githubusercontent.com/2263909/38348852-edf525f4-38c1-11e8-8a1a-ba12c247aed8.png)

@rishig I'm not sure what but I feel like the content of this page is not properly aligned (vertical margins, padding, l

[2018-04-05 06:04] vikasvmads commented on #8432
@zulipbot claim.

[2018-04-05 06:04] akashnimare commented on #8969
Also, we should use the pointer cursor here.

<img src="https://d2ffutrenqvap3.cloudfront.net/items/3B0K3R1S0u1k2n3z201d/Screen%20Recording%202018-04-05%20at%2011.33%20AM.gif?v=3b068158"/>

[2018-04-05 09:00] rishig commented on #8971
agreed. Made a quick set of edits, though the balance of the page still doesn't look great: #8968
(Likely the initial grey block should go at the top.)

[2018-04-05 10:52] asiamarek commented on #8969
If nobody is working on this, than @zulipbot  claim

[2018-04-05 14:13] Rishabh570 commented on #8353
@showell I guess this issue should be closed, as PR #P307 is merged...

[2018-04-05 14:52] Rishabh570 commented on #7079
@zulipbot assign

[2018-04-05 15:34] mafn commented on #716
I've been sitting on the problem of implementing SAML login for some time. My so far hackish progress is [here](https://github.com/mafn/zulip/tree/saml).
In contrast to other social core backends, the [SAML backend](https://github.com/python-social-auth/social-core/blob/master/social_core/backends/saml.py#L290) does not use a function `do_auth`  after `auth_complete` which zulip overloads. Therefo

[2018-04-05 15:46] #8353 closed

[2018-04-05 15:51] timabbott commented on #8971
Closing, since the reported issue was fixed in #8968.

We might want to do further work on the CSS for these pages, though.

[2018-04-05 15:51] #8971 closed

[2018-04-05 16:02] natalietotonchy commented on #8547
@zulipbot claim

[2018-04-05 16:54] #8965 closed

[2018-04-05 17:28] Rishabh570 commented on #7079
@zulipbot Claim

[2018-04-05 17:54] BGR360 commented on #7089
@jckw, @aliyareneekhan is from the same organization as me and I believe she and her partner are planning to work on #6018 or https://github.com/zulip/python-zulip-api/issues/122.

I and my partner @acwagen are planning to work on this issue though and we will likely claim it very soon. Once we narrow down on which files we are going to work on, we will claim and put up a WIP PR. I will try to coo

[2018-04-05 18:59] timabbott commented on #7089
One thing that would be useful to do here is work on modifying `test-backend` to have some logic like we have in `test-js-with-node` to report which files have 100% coverage and aren't in the list, so it's easy to keep track of which files need this.  I'd make it an option to start.

[2018-04-05 19:04] jainkuniya opened #8975 "admin setting: Improve stream list pop up which pops while selecting stream for announcing new user registration etc."
page:- /#organization/organization-settings

Issue: When user types in the input, as stream are filtered out, list heights changes thus effecting input position. Which doesn't look so good.

I tried rearranging the components. But before coming to fix we need to try other workaround too.

https://chat.zulip.org/#narrow/stream/6-frontend/topic/UI.20improvments

[2018-04-05 19:55] timabbott commented on #8944
Yeah, that's a fine solution.

[2018-04-05 20:04] timabbott opened #8977 "Fix styling of OR lines on login pages for non-english"
Apparently our CSS incorrectly sets the width of the bars based on the exact size of "OR", so /de/login is pretty broken looking:

![image](https://user-images.githubusercontent.com/2746074/38388958-ae15251e-38d1-11e8-8f98-2130b67da84c.png)

@synicalsyntax is this something you can fix quickly?

[2018-04-05 20:06] timabbott opened #8978 "Fix use of `../../` in add_api_uri_context"
Currently, we have this logic for producing direct links to the Zulip settings/streams pages:
[code]

This is broken, since a `../` based structure is correct for handling i18n (rather than just doing `/#settings`; e.g. for /de/login), but it's only correct on the /integrations pages (Where we have /integrations/doc/github, e.g.), not for use on other pages like `/help/message-a-stream-by-email` w

[2018-04-05 20:07] timabbott commented on #8978
We can also drop ed5b374ffaca5dbdf8346fbd7a6c8b8734b4efd1 after fixing this.

[2018-04-05 20:14] timabbott opened #8979 "Fix bugs with deactivating a recently renamed stream."
Here's the original report:
https://chat.zulip.org/#narrow/stream/9-issues/subject/Red.20Error.20Message.20appeared.20when.20deleting.20a.20stream.20(Minor)/near/555251

What I can reproduce is that if you do the following:
* Rename a stream in "Manage streams"
* Go to "manage organization" -> "Delete streams" and delete the renamed stream

Then we throw an exception in the development environment

[2018-04-05 20:39] jainkuniya opened #8980 "message options: Not visible just after sending message."
Just after sending message, its options buttons/icons are not visible. Only edit icon is visible.
<img width="800" alt="screen shot 2018-04-06 at 2 03 05 am" src="https://user-images.githubusercontent.com/18511177/38390611-72686bde-393f-11e8-99a7-a775957cf6e5.png">
After re-narrowing to same topic/stream makes options/icons visible.

<img width="803" alt="screen shot 2018-04-06 at 2 03 24 am" src=

[2018-04-05 20:42] jainkuniya commented on #8980
ok! got it
it is due to local outbox 👍
Closing

[2018-04-05 20:42] #8980 closed

[2018-04-05 21:37] BGR360 opened #8982 "vagrant: broken documentation link in motd"
Upon SSH-ing into the vagrant machine, the motd "message of the day" that displays has an outdated link.

Outdated link: `https://zulip.readthedocs.io/en/latest/testing.html`
Correct link: `https://zulip.readthedocs.io/en/latest/testing/testing.html`

I've already started a fix. See PR #8983

[2018-04-05 21:39] #8958 closed

[2018-04-05 21:41] #8982 closed

[2018-04-05 21:48] timabbott commented on #7089
I wouldn't worry about zulipbot for this larger issue; it's mainly import for people being able to filter for issues nobody else is working on, and since this one supports multiple people working, there's no need here.

[2018-04-05 21:49] #8978 closed

[2018-04-05 22:01] timabbott commented on #8887
@rishig that second issue is not a perfect-scrollbar bug; that's almost certainly in our own `scrollToHash` JS for controlling scroll position on the page.  Please open a separate issue.  My guess is it's something subtle like our scrolling is racing with the images loading, but it could also be something more broken.

[2018-04-05 22:22] #6473 closed

[2018-04-05 22:28] #8977 closed

[2018-04-05 23:52] timabbott commented on #8750
So, the way that message editing works in Zulip is that we only notify users who were actually recipients of the edited message.  You can see this in that we call `send_event` at the end of `do_update_message`, and the final argument is a list of users fetched from the UserMessage table (which is written to whenever a user receives a message because they were subscribed when it was sent).

So this

[2018-04-05 23:57] timabbott commented on #8414
So I want to clarify something important here: The main feature (of selecting the topic, e.g., when the user changes focus into the text box) is desired, and it's more important to have that feature than to fix this potential bug.  We just don't want this to trigger when the focus change comes from changing tabs.  So I think we should look at whether there's a way to detect in the on-focus handler

[2018-04-06 00:02] timabbott commented on #8386
If I recall correctly, we've heard from some users that they want enter-sends in compose but not in editing (because a common thing to do in editing involves adding an additional line to a message, e.g.).  I sympathize with both perspectives.  It's possible we should just have a second boolean here, though I am not super excited about having two booleans for the enter-sends concept.  Maybe a good

[2018-04-06 00:16] #3877 closed

[2018-04-06 08:51] AasthaGupta commented on #8979
@zulipbot claim

[2018-04-06 10:38] armaanahluwalia opened #8988 "zjquery usage while testing"
Currently zjquery behavior differs significantly from actual jquery so the pattern of setting it as a global sometimes causes bugs. One such example is using the jQuery selector $(selector, $container). zjquery will go ahead and ignore the second argument and create an element if one does not alrady exist with the selector argument.

I spoke to @showell about this and he mentioned that most of the

[2018-04-06 11:07] showell opened #8989 "advanced: Suppress local echo until narrows complete."
This is probably an issue that @timabbott will assign to somebody with some expertise on our narrowing codepath.

When we narrow to a topic, it's possible we haven't fetched all records from the server, and if that's the case, we generally want to suppress local echo and drop incoming message events on the floor, since they're gonna be out of order and probably offscreen anyway, and we generally a

[2018-04-06 11:21] showell opened #8990 "node tests/docs: Improve zjquery documentation."
We want to improve documentation for zjquery (and our node tests in general).

This is a good issue for somebody who's written a few commits where you created/modified node tests that use zjquery, which is our library for creating stubs that mostly mimic jQuery behavior.

You'll want to first look at our existing docs:

http://zulip.readthedocs.io/en/latest/testing/testing-with-node.html

https://

[2018-04-06 11:28] showell commented on #8988
I opened #8990 for the most actionable part of this, which is that we should improve docs.

We already encourage jquery/jsdom where it makes sense, which is when you need deep testing on actual jQuery and don't mind sacrificing speed.  Generally for true full-stack testing, we encourage casper.

Because zjquery is a stub library, it's never going to exactly mimic jquery.

For the specific issue of

[2018-04-06 11:28] #8988 closed

[2018-04-06 11:32] AasthaGupta commented on #8979
@timabbott I am unable to reproduce the error by doing the steps in https://github.com/zulip/zulip/issues/8979#issue-311753343. But I am getting this error when you go to 'organisation settings > delete streams' more than once.

![peek 2018-04-06 17-01](https://user-images.githubusercontent.com/15193262/38418986-2a6f796c-39bc-11e8-9c14-ca59adfa3d18.gif)

Can you confirm the fact that did you open

[2018-04-06 16:07] timabbott opened #8994 "Work on eliminating the pointer as a user-facing concept"
It's increasingly clear that we'd be better off without the "pointer" as a user-facing concept.  Here are some notes on work to do here:
* [x] We need to fix the corner cases around narrowing and local echo in #8989, which is potentially a blocker for the next item.
* [x] We can use https://github.com/zulip/zulip/issues/4120 or similar to replace the `furthest_read_time` logic in `zerver/views/hom

[2018-04-06 16:30] shubham-padia commented on #8944
@zulipbot claim

[2018-04-06 16:36] AasthaGupta commented on #8979
One solution can be to remove event handler using off before attaching any event handler.

[2018-04-06 16:54] timabbott commented on #8979
Yeah, I think we either do that or we configure the event handlers once globally (rather than every time we render that page).  We do each in some places.

[2018-04-06 17:08] rishig opened #8995 "settings: Switch "Save changes" check to the one we use for our checkboxes."
The current one adds a new family of icons to our set, and doesn't necessarily fit well enough to justify it.

[2018-04-06 17:18] timabbott opened #8996 "css: User groups UI wobbles when hovering mouse over group name"
Something is wrong with the user groups settings page's hover CSS, such that when you hover of the name of the group, the whole page wobbles a bit.  We should clean that up.

[2018-04-06 17:21] ghost opened #8997 "Display emoji in notifications"
Currently emoji in notifications display as the emoji text- so you'll get `:smiley:` in your message. This is related to [this](https://github.com/zulip/zulip/commit/ee3806ef5be5f09a26b3c5b99002137543efef7e) commit, which was related to a webkit bug.

If the webkit bug is no longer relevant, it'd be a nice user facing improvement to display emoji (and realm emoji) in messages.

[2018-04-06 17:27] timabbott commented on #8997
If this is a thing that we can do, we should definitely do it.

[2018-04-06 19:26] #8979 closed

[2018-04-06 19:28] timabbott commented on #8925
This seems to have turned out to actually be #8949, perhaps mixed with browser caching.  I can't reproduce after blowing away the `/var/uploads` directory.

[2018-04-06 19:28] #8925 closed

[2018-04-06 19:29] timabbott commented on #8949
I confirmed the problem here is actually as follows:
* `ensure_medium_avatar_image` doesn't overwrite an image that's already there
* I had previously done an import with a previous version that had written some other user's avatar in the path for that size-medium avatar (because some other user had that user ID in the previous import).

Blowing away the `/var/uploads` directory locally fixed this

[2018-04-06 20:03] timabbott opened #9002 "Import mentions of Slack channels into Zulip"
If someone mentions a Slack channel in a Slack message, and then we import that into Zulip, currently we don't translate the Slack channel-mention syntax into a Zulip stream-mention syntax.

I think it should be not too hard to make this work, since we can just compute the corresponding Zulip stream, and mention it by name (thus not requiring an extra rewriting like we had to do for attachments).

[2018-04-06 20:03] timabbott opened #9003 "Import wildcard mentions from Slack into zulip"
When a user does a wildcard mention (i.e. `@channel`, `@here`, etc.), we should translate those to a zulip wildcard mention.  I'd probably map them all to `@all` for now, but we should write the code in a way where changing the mapping is easy

[2018-04-06 20:09] timabbott opened #9004 "Improve how Slack import handles Slack "file mentions""
If you upload a file from e.g. the slack Dropbox integration into Slack, and then a user comments on it, Slack generates syntax like this:

`@User1 commented on @User2’s file https://example.slack.com/files/ABC123/ABC123/image_uploaded_from_ios.jpg|Slack for iOS Upload.jpg: comment`

We should probably rewrite that `url|title:` syntax into the zulip markdown `[comment](title)`, so that a proper li

[2018-04-06 20:10] timabbott opened #9005 "full-text search is not updated after Slack import"
I'm not sure what we need to do to address this, but the Zulip full-text work doesn't seem to be updated after importing data from Slack.

In theory, this should Just Work, in that we use `Message.objects.bulk_create` to import the data, and that's the same function we use to send messages in Zulip.  The mechanism we use for full-text search updating is a postgres trigger on the Message table, com

[2018-04-06 20:12] timabbott opened #9006 "Improve how we import Slack threads into Zulip"
There's no coherent way to import the Slack "threads" feature into Zulip, but I think we could do better as follows:
* When importing a message that's in a Slack thread replying to message X, we should add a line at the top of the import messages of the form "Slack thread reply to [Tim Abbott's message](link_to_tims_message)"

This requires some pain to implement (since we need the message ID for

[2018-04-06 20:16] timabbott opened #9007 "Figure out how to import messages from Slack integrations into Zulip"
Currently, if you have messages sent by third-party Slack bot integration, we just drop them during the import, which can be confusing if there are other messages replying to the Slack bot message.

@rheaparekh I think it's possible we can get the data on what the correct name to import these integrations as from the data in the `slackexport/integration_logs.json` file.

[2018-04-06 22:06] synicalsyntax commented on #8996
Can't reproduce, do you have a screenshot/GIF capturing this behavior?

[2018-04-06 22:08] timabbott commented on #8996
![image](https://user-images.githubusercontent.com/2746074/38446330-38003392-39ac-11e8-95f6-a65e52d356d7.png)

![image](https://user-images.githubusercontent.com/2746074/38446339-41c1d674-39ac-11e8-8d3e-7a337b7c1cfd.png)

That line that appears has some actual height and pushes things down.  This is in Chrome on Linux in case it matters.

[2018-04-06 22:25] synicalsyntax commented on #8996
Fixed in #8781 [![https://gyazo.com/c1d0d0dd777949f59d6383d42d05cdb7](https://i.gyazo.com/c1d0d0dd777949f59d6383d42d05cdb7.gif)](https://gyazo.com/c1d0d0dd777949f59d6383d42d05cdb7)

[2018-04-06 22:36] rht commented on #9003
List of all the announcement types: `here`, `channel` and `everyone`. `all` has been deprecated. `group` is usually auto-completed to `channel` or list of users.

Ref:
1. https://get.slack.help/hc/en-us/articles/202009646-Make-an-announcement

[2018-04-07 05:07] YJDave commented on #8851
I search a bit, and as `$(".subscriber_list_container")` is always rendered when stream is created, if user can't access subscribers then it is hidden but element is always there in html regardless of user can access it or not. So I am not getting how `$(".subscriber_list_container")` return `undefined` which means stream was not rendered correctly.

[2018-04-07 05:44] nyan-salmon commented on #716
@mafn
Sorry, I didn't notice what you were working this issue on earlier than me.

@zulipbot abandon

[2018-04-07 09:33] AasthaGupta commented on #9002
@zulipbot claim

[2018-04-07 10:06] rht commented on #9002
@AasthaGupta I already made a PR :/

[2018-04-07 10:07] rht commented on #9003
@zulipbot claim

[2018-04-07 10:08] rht commented on #9006
The documentation needs to be added to say that this is not yet implemented.

[2018-04-07 10:12] AasthaGupta commented on #9002
@rht oh sorry
@ zulipbot abandon

[2018-04-07 10:14] AasthaGupta commented on #9002
@zulipbot abandon

[2018-04-07 11:48] AasthaGupta commented on #9007
If the problem is regarding bot names, then that data is there in users.json, the same names can be used.

[2018-04-07 14:51] Lyla-Fischer opened #9017 "error: perfectscrollbar is not a function"
I got the following error in my dev instance. It went away when I refreshed, so I'm wondering if it is a race condition somewhere. There are other issues talking about perfectscrollbar, though, so maybe this will help with debugging?

![screenshot from 2018-04-07 10-46-28](https://user-images.githubusercontent.com/549661/38456319-7f7b146c-3a51-11e8-8095-cf06c91ced3d.png)

[2018-04-07 15:46] AkshJain99 commented on #6547
@zulipbot abandon

[2018-04-07 15:51] Alberthchang opened #9019 "How can I let zulip connect to my own server"
How can I let zulip connect to my own server!!! I take it in my vmware workstation,ubuntu16.04,but I can not use url like http://192.168.1.200 with zulip Desktop to connect it,but I can use browser to visit it

[2018-04-07 16:20] kamalmarhubi opened #9020 "keyboard UI: Add shift+C back for "compose private message"."
I got the popup notifying me of this change (`C` to `x` for private messages) and found it annoying on several levels:
- despite being a "deprecation notice", the key immediately stopped working
- it's not clear from the wording that there are any plans for `C` to be used for something else
- given above, I don't see why `C` has been disabled at all, instead of simply not advertising it in keyboar

[2018-04-07 17:03] rishig opened #9021 "settings: "Include message content in missed message emails" has wrong label."
https://chat.zulip.org/#narrow/stream/19-documentation/topic/email.20digest.20settings

@shubhamdhama could you take a look to check what happened?

[2018-04-07 18:00] shubhamdhama commented on #9021
@zulipbot claim, taking look into this.

[2018-04-07 19:04] Lyla-Fischer commented on #8889
@rishig I'm not quite through the pages that I can figure out myself, but it looks like the majority of these things are touching interfaces that I don't know how to access, or involve processes that I don't know how to replicate. Any chance I can get some pointers? I will need at least the appropriate settings page, and maybe the goal statements that will allow me to write docs that are goal-orie

[2018-04-08 02:38] timabbott commented on #9017
That's likely just an issue from switching branches; we did an upgrade to a newer version of the library that spells its name differently, and you need to do a force-reload after rebasing past that upgrade.

[2018-04-08 02:38] #9017 closed

[2018-04-08 03:02] #8959 closed

[2018-04-08 03:02] #9003 closed

[2018-04-08 03:07] #8996 closed

[2018-04-08 03:14] #8817 closed

[2018-04-08 03:14] timabbott opened #9023 "Traceback being re-subscrubed to a private stream"
@YJDave here's the reproducer for this traceback:
* Open one browser as Iago.  Create a new private stream (with cordelia subscribed)
* Open another browser as Cordelia, open "manage streams"
* In Iago browser, unsubscribe and then resubscribe Cordelia from the private stream.

[code]

[2018-04-08 05:08] YJDave commented on #9023
@zulipbot claim

[2018-04-08 09:06] burek967 commented on #8354
@zulipbot claim

[2018-04-08 12:03] novokrest commented on #3938
I have a little doubt about the opening of compose box while some message are edited. Because there is explicit handling of this case in `click_handlers.js:128`:
[code]
@timabbott Should we change the current behavior? If we decide to open a compose-box, should we close the current message-edit form (and cancel editing)?

[2018-04-08 13:57] novokrest commented on #3938
@zulipbot claim

[2018-04-08 14:05] #8949 closed

[2018-04-08 14:14] timabbott commented on #8354
I played with this a little bit and generated this partial config (this is why I upgraded `eslint` on Friday, to support some of these options):
[code]

It isn't quite correct (lots of errors in code we're happy with), but it does at least correctly handle some of the subtle things we do (e.g. `outerIIFEBody` is key).

[2018-04-08 23:26] timabbott commented on #3938
#9025 looks correct for the cursor piece.

@rishig what are your thoughts on the correct behavior here?  I guess my view is the area that's not part of the message-edit form (and that form in my mind includes the area with the buttons below, but not the address line above, the actual text areas), then it should do the normal reply thing when you click.

[2018-04-09 00:09] #5623 closed

[2018-04-09 00:09] #9023 closed

[2018-04-09 04:06] YJDave opened #9027 "subscriptions: Sort the current user to the top of stream subscribers list."
Followup of #8973

Current user should be append to top of stream subscribers list when user got subscribed and stream subscription modal is open. Currently it's working for public streams subscriptions, but not for private streams. See [this comment](https://github.com/zulip/zulip/pull/8973#discussion_r179956831) for more info on why.
To reproduce the issue:
* Login with Cordelia in one tab and I

[2018-04-09 04:19] YJDave opened #9028 "create stream: Preview button doesn't appear when newly private stream is created."
When user create private stream a preview button `View stream` doesn't appear, it should.

![createprivatestream](https://user-images.githubusercontent.com/25907420/38479235-50d96402-3bdb-11e8-8a93-ce32d837ebfc.gif)

[2018-04-09 04:27] YJDave opened #9029 "subscription: Scrollbar scroll to bottom when user unsubscribe themselves from stream."
When user unsubscribe themselves from stream subscriber list(user must be realm admin here, then only user can unsubscribe other user from stream subscribers list), scrollbar scroll to bottom.

![unsubscribeyourself](https://user-images.githubusercontent.com/25907420/38479368-536c0e26-3bdc-11e8-8fe4-ad0b791a76e6.gif)

[2018-04-09 06:10] burek967 commented on #8354
That's more or less the same config I came up with as well. So should I fix all inconsistencies in favor of these options?

[2018-04-09 06:52] rishig commented on #9027
yeah, that seems reasonable.

[2018-04-09 08:12] penCsharpener commented on #2745
public stream with closed history: for all employees: announcing birthday or personal forum type of things. New users joining the realm should not be able to see stuff before they joined the realm due to data protection. But still the nature of the stream is public. So @rishig point is the better approach.

For now opening up all history with the server setting is not an option because of the firs

[2018-04-09 09:16] YJDave opened #9031 "streams: Stream doesn't get updated in other clients when stream's type is changed."
When stream type(private/public) is changed, we don't get update on other browser. Though if we change any other property of stream(stream name or description) it's get updated.

To reproduce the issue:
* Login with Cordelia in one tab and Iago in another
* Iago: Create public stream both subscribed to
* Cordelia: Open stream setting page of newly created stream
* Iago: Make created public stream

[2018-04-09 09:41] YJDave opened #9032 "subscription: Option copy from stream breaks validation "current user must subscribe"."
In stream creation UI, we don't allow non-realm-admin current user to create stream without subscribing themselves to stream. This validations breaks if user select `copy from stream` option.

What we should do:
If user copies subscribers from stream, then if current user should be selected regardless of current user is subscribed to that stream or not. Pinging @rishig for more suggestions, cause

[2018-04-09 09:52] YJDave commented on #9031
If stream type is changed to public from private, then do add that stream in `All stream` section, if user don't have that stream listed.

[2018-04-09 10:02] YJDave opened #9033 "create stream: Pin newly created stream to top of list."
This behavior may had break while resolving other issues. Newly created stream should be on top of list, when stream is created, for better UI. It seems like streams getting rendered twice, which sort them in order on second time.

![newlycreatedstream](https://user-images.githubusercontent.com/25907420/38491932-fce29d3e-3c0a-11e8-90c7-6cb94a6f472e.gif)

[2018-04-09 10:18] YJDave opened #9034 "subscription: Admin can't unsubscribe others from private stream after stream is renamed."
To reproduce the issue:
* Create private stream without Iago subscribed to it
* Rename this stream
* Try to unsubscribe others from stream

[2018-04-09 10:44] divyabaid16 commented on #5827
I am waiting for a review on my pull request.

[2018-04-09 16:47] wlifferth commented on #9019
I might not entirely understand your question but I believe you could find all the instruction you need from this page of the documentation: http://zulip.readthedocs.io/en/latest/production/install.html

[2018-04-09 16:49] timabbott commented on #9019
I think this is a question about the desktop app?  Those belong in github.com/zulip/zulip-electron/issues/

[2018-04-09 16:49] #9019 closed

[2018-04-09 16:49] rishig commented on #9032
The copy from stream is on its way out anyway, right?

[2018-04-09 16:50] timabbott commented on #9032
Yeah, I think so.  So it might make sense to just work on that project instead of fixing this, unless this is really easy.

[2018-04-09 17:02] Alberthchang commented on #9019
ok I have already sloved it by using docker instead of use ubuntu server on vm workstation . Thinks

[2018-04-09 17:09] timabbott commented on #9031
As a sidenote, I think there might be a really old PR from @HarshitOnGitHub related to this :)

[2018-04-09 17:55] timabbott commented on #9002
Fixed via #9011.

[2018-04-09 17:55] #9002 closed

[2018-04-09 18:27] BenTorgerson commented on #8202
@zulipbot claim

[2018-04-09 19:01] timabbott commented on #9020
@rishig let's chat about this.

[2018-04-09 19:05] timabbott commented on #8889
@Lyla-Fischer I'd start by just clicking around "organization settings" and "settings" in a development environment and make a list of the ones you don't understand.  And then I'd focus work on the ones you do, first, and do the hard stuff later :)

[2018-04-09 19:17] #8944 closed

[2018-04-09 19:29] timabbott commented on #2445
Yeah, agreed, closing.

[2018-04-09 19:29] #2445 closed

[2018-04-09 19:31] timabbott commented on #8941
Yeah, OK, I agree with that.  So we can just check how the message's height compares to the height of the window.

[2018-04-09 19:39] timabbott commented on #7830
Yeah, I think we should do one of the following:
* Prevent setting your name to match that of an existing user.
* For users where multiple users have the same name, display a little warning next to their name (where we put the "Bot" icon) that says "Multiple users have this name".

I'm tempted to just do the first, since it's not clear there's a good use case for users with duplicate names.
I gues

[2018-04-09 19:41] gnprice opened #9039 "Scroll bar displaying in a broken way in Firefox on Mac"
A user reported this happening in Firefox but not other browsers. The user saw it, and I've reproduced it, in Firefox on macOS.

To reproduce:
* Open up the streams modal, with the gear next to "Streams" in the left sidebar.
* Note the scrollbar in the list of streams in the left pane of the modal. (Resize the window if necessary to cause a scrollbar to appear.)
* Scroll that pane. Either swiping

[2018-04-09 19:45] rishig commented on #7830
You mean, prevent manually setting your name to match an existing user?
For LDAP, sync with Okta, etc I think we do have to deal with UserProfile.full_name not being unique.

[2018-04-09 19:50] timabbott commented on #7830
Manually setting your name, either via name change or during signup.  I think in most organizations, they're LDAP setup has unique names (e.g. at when I was at Oracle, you had to be "John R. Smith" if someone else has taken "John Smith").

I guess if we enforce this at the "manual change" level, that'll resolve much of the problem (and it wouldn't work to do it at the database layer anyway).  And

[2018-04-09 20:02] rishig commented on #7830
ok. I'm fine with fixing the "manual setting your name" situation, and I agree that will solve most of the problem.

[2018-04-09 20:04] zy964c commented on #7830
I think I've done 'manual part' of this issue on #8319

[2018-04-09 20:31] rishig commented on #7830
fwiw, just checked at Google and names there are not unique.

[2018-04-09 21:57] brainwane commented on #2047
@punchagan yes, when I opened this particular issue, it was to request a feature where I could get an export of everything I personally have *sent*.

[2018-04-09 22:54] timabbott commented on #8170
I think the right solution here is to use the same sort-table stuff we have for "user uploads", and sort the current user to one end of the alphabetical list.

[2018-04-09 22:55] timabbott commented on #8170
That, or just automatically sorting the ones you personally uploaded to the top of the list by default.

[2018-04-09 22:58] #6635 closed

[2018-04-09 23:01] timabbott opened #9041 "Improve logic for computing avatar URLs"
We have a pretty convoluted set of algorithms for computing avatar URLs in `people.js`, because of a few corner cases:
* Users are primarily provided in the main code path, but can sometimes be "added late" (basically due to bugs elsewhere in real-time sync or weird corner cases).  In some of those code paths, a user gets added without an `avatar_url` being set.
* We handle that in some cases by u

[2018-04-09 23:25] timabbott commented on #6213
`git grep except` shows a good number.  I think any that are intended to cover bugs in the integration (as opposed to variation in the format) should probably be changed; these usually have no test coverage, because we didn't have a payload that would actually fail the test.

For example, this code:
[code]

I think we want to replace with something that isn't per-integration code and has unit test

[2018-04-09 23:37] #8930 closed

[2018-04-09 23:39] timabbott commented on #8330
@scottrus just wanted to follow up on this -- did you have something to suggest?

[2018-04-10 00:47] aero31aero commented on #8963
@rishig can you provide a sample text for reproducing this?

[2018-04-10 01:40] aero31aero commented on #695
@timabbott should this be closed now that we have webpack?

[2018-04-10 02:10] rishig commented on #8963
yeah, anything from Dropbox Paper. I can get an actual html of it if you don't have any Paper docs.

[2018-04-10 04:54] timabbott commented on #695
We can close this issue; but there's a bunch of follow-ups to do, since this migration isn't really complete.

[2018-04-10 04:54] #695 closed

[2018-04-10 04:58] timabbott opened #9042 "Fix webpack handling of newly added files"
When we add a new JS file to the webpack configuration, nothing causes `webpack` to restart or read the new configuration.  As a result, one needs to restart `run-dev.py` manually.  We should figure out a way to fix this.  Options include:
* Adding a file watcher reusing code from `tools/compile-handlebars-templates` that checks for changes to webpack and restarts it if needed (or better, signals

[2018-04-10 05:00] timabbott commented on #695
Opened https://github.com/zulip/zulip/issues/9042 for one issue in this space.  https://github.com/zulip/zulip/issues/5377 is the other; there's picking up https://github.com/zulip/zulip/pull/6428, and https://github.com/zulip/zulip/issues/5971

[2018-04-10 05:03] timabbott commented on #6617
So, for this feature, I think it's worth thinking about the stages of implementation:
* First, I'd add a setting toggle in the data model, pass it through to the frontend (etc.) and make it control whether sending a PM works.  But leave the setting hidden for now.
* Second, start tweaking the UI to hide all the buttons for "start a PM" and/or update the typeahead.

But I think we also need to unde

[2018-04-10 05:05] timabbott commented on #8963
@aero31aero the immediate fix for this is going to be re-disabling the toMarkdown extension to only be used in development.  And then we'll want to do a lower-priority follow-up of fixing the things needed to re-enable it after that.

[2018-04-10 05:07] timabbott commented on #8995
@shubhamdhama @synicalsyntax  do either of you have time for this one in the next couple days?  The goal is to eliminate the new icon added in 7b8da9b6c06c0499d71bceed14184fb43fef118f.

[2018-04-10 05:15] timabbott commented on #8963
I just did that immediate fix in a4def8d4099b3954c2534c01ceb229bd8ed60e53.

For fixing this, there's a few actual issues:
* [ ] The basic issue of pasting in things from e.g. Dropbox Paper, where a nice bulleted list ends up looking like this, even though in the source material, there was no blank line:
[code]

Which is correct spec Markdown, but not correct Zulip Markdown (where we don't require

[2018-04-10 05:25] rishig opened #9043 "left sidebar: Scroll position incorrect on reload if desired stream is off-screen."
I think this reproduces:
* Add 2.5 screenfuls worth of streams
* go to a topic narrow of a stream, like 1.5 screenfuls down
* Ctrl-R to reload.

The expected behavior is that the stream stays on screen in the left sidebar. Instead, the scroll position is off (too far down).

Let me know if that doesn't make sense.

[2018-04-10 05:39] jdherg commented on #8859
Still working :)

[2018-04-10 05:54] timabbott commented on #8863
Fixed via c36a658fee985e5e6316aabb52d0325751a653ab.

[2018-04-10 05:54] #8863 closed

[2018-04-10 06:02] timabbott commented on #9043
I was able to reproduce this on chat.zulip.org, and it is pretty annoying when this happens.  I'd start with using the `manage.py populate_db` options to create a lot of streams with traffic and then trying to reproduce in development; I bet this isn't hard with a development reproducer.

[2018-04-10 06:06] timabbott commented on #335
Yeah, there's more we want to do in this space, but I agree this is done.

I think @hackerkid is working on a direct Google hangouts integration, for example.

[2018-04-10 06:06] #335 closed

[2018-04-10 10:45] zy964c commented on #9034
@zulipbot claim

[2018-04-10 11:44] shammah2 commented on #6617
@rishig - currently, Openfire is in place with the packet filter addon. This allows for limiting who users can send direct messages to. It is very functional, but not collaborative at all. In the corporate environment, we have to really try to remove the ability for all users to send direct messages to each other - in the case of Zulip, we want all departmental and group communication to occur in

[2018-04-10 15:26] natalietotonchy commented on #8547
@zulipbot abandon

[2018-04-10 15:26] adnanislam commented on #8547
@zulipbot claim

[2018-04-10 15:36] natalietotonchy commented on #8837
@zulipbot claim

[2018-04-10 15:37] natalietotonchy commented on #8837
@zulipbot abandon

[2018-04-10 15:37] cr4zyafrican commented on #8837
@zulipbot claim

[2018-04-10 16:01] eschadt opened #9046 "Browser Error when muting topics in stream"
When muting all the topics in the stream I was not expecting to receive a browser error containing an undefined object, but that is what happened. The error output is "Browser Error: undefined is not an object (evaluating 'msg.offset().top)".

Reproduction
1. Click on a new stream
2. Go to the bottom topic in the stream.
3. Start muting the topics from the bottom topic to the top topic.

I am usin

[2018-04-10 16:07] natalietotonchy commented on #8473
@zulipbot claim

[2018-04-10 16:08] mafn commented on #716
Thanks for the help! It's finally working.
The only problem so far is when I activate both SAML and Github authentication and log in via SAML with a user, who has not yet signed up, the Github backend sets `invalid_email` and no sign up information is shown.
As this is quite an "ugly" hack, how do you want to proceed?

@zulipbot claim

[2018-04-10 16:09] riosr2 commented on #8144
@zulipbot claim

[2018-04-10 16:16] timabbott commented on #716
@mafn submit a "WIP" PR with the hacky version; having a concrete thing to look at will help us push forward on this.  I can provide notes on how to make it less hacky, and we might be able to merge some preparatory refactors for it (or maybe merge it as an "experimental" integration).

We can probably also fix the GitHub backend bug with `invalid_email` in master; it shouldn't be doing that :).

[2018-04-10 16:27] cPhost commented on #9042
I have something working here with a node module called `nodemon`.

For upgrading webpack -- v3.x also breaks dev environment. All the webpack loaders are up to date except `expose-loader` (We are 2 version behind and the latest if for webpack 4). Which leaves `webpack-dev-server` which we need upgrade according to webpack's version.

@zulipbot claim

[2018-04-10 16:41] timabbott commented on #9046
This is a duplicate of #8854

[2018-04-10 16:41] #9046 closed

[2018-04-10 17:55] Lyla-Fischer commented on #8889
I have a pretty strong opinion that "archive a stream" should be in "stream settings", but it's not there. Can I open an issue to move it there from wherever it is? (I can't find it).

[2018-04-10 18:03] rishig commented on #8889
I've been confused about this as well, haha. Is "Archive a stream" the same thing as "Delete a stream"? @timabbott

[2018-04-10 19:37] timabbott commented on #8889
Yes.  I think "Archive" is what Slack calls it, and we'll probably eventually rename when we also change what it does to behave more like archiving.

[2018-04-10 19:54] cr4zyafrican commented on #8275
How do you replicate this issue? Trying to make the fix more dynamic.

[2018-04-10 20:07] shubham-padia commented on #8605
@zulipbot abandon
College has been hectic lately

[2018-04-10 20:14] showell opened #9054 "docs: Suggest upgrading pip in dev install."
We should be more aggressive about telling people to upgrade pip before doing dev installs, particularly for the outside-of-Vagrant variations.

[2018-04-10 20:16] timabbott commented on #9054
See `install_venv_deps` in `setup_venv.py` -- we should be already doing this.

I wonder whether there's some issue with `pip` vs. `pip3` here?

[2018-04-10 20:29] #8928 closed

[2018-04-10 20:30] timabbott commented on #9005
I can't reproduce this, so I suspect it was just some testing procedure issue.

[2018-04-10 20:30] #9005 closed

[2018-04-10 23:11] timabbott commented on #8275
It's not clear to me this issue is worth working on, but if you want to replicate, I'd directly edit the HTML in the button to replace the text with something long.

[2018-04-11 00:44] cr4zyafrican commented on #8275
Thanks, @timabbott I was just wondering how to have the icon come up on the server. I know if you are a new user, it shows up  -- just to see if the fix works.

[2018-04-11 00:50] timabbott commented on #8275
Ahh, in development, just create a new user via the registration process.

[2018-04-11 06:09] sergeykorablin opened #9057 "Can't authenticate with LDAP after moving user to another OU"
Hi! We have setup LDAP auth, it work fine, but after moving user to another organization unit (OU) he can't login anymore. How we can fix this? In which db table does zulip store information about OU?

$ /home/zulip/deployments/current/manage.py query_ldap user@domain.ru
2018-04-11 06:29:13.742 WARN [pika.adapters.base_connection] Connection to ::1:5672 failed: [Errno 111] Connection refused
2018-

[2018-04-11 16:05] Lyla-Fischer commented on #8889
I just [updated the delete-a-stream](https://github.com/zulip/zulip/pull/9060) page so that it reflects what we are trying to do with documentation, so that I can check it off of my little list, but I didn't do anything to address the wider issue of archiving. It seems like the closest issue to record the desire to archive a stream is https://github.com/zulip/zulip/issues/1516.

[2018-04-11 16:30] timabbott commented on #9057
We don't store this in the database; you should look at the  `AUTH_LDAP_USER_SEARCH` query.  It's possible you don't want that to be filtering by `ou` at all, if you'd like multiple organization units to support login.

Check out https://django-auth-ldap.readthedocs.io/en/1.0.19/ for extended documentation on how this works -- we're using that library.

[2018-04-11 16:55] #9027 closed

[2018-04-11 17:02] sergeykorablin commented on #9057
@timabbott thank for your answer.

I have in settings.py
AUTH_LDAP_USER_SEARCH = LDAPSearch("**ou=MainDepartment,dc=domain,dc=ru**",
                                   ldap.SCOPE_SUBTREE, "(&(objectclass=person)(objectclass=user)(mail=%(user)s))")

User has been moved from
ou=**SubDepartment1**,ou=MainDepartment,dc=domain,dc=ru
to
ou=**SubDepartment2**,ou=MainDepartment,dc=domain,dc=ru

I don't un

[2018-04-11 19:00] shubham-padia commented on #9033
@zulipbot claim

[2018-04-11 20:51] Lyla-Fischer opened #9061 "standardize user doc macros"
@zulipbot label "area: documentation (user)"

There are some macros in there that I think introduce more confusion than they alleviate (eg "follow-steps.md") because of the mental overhead of knowing what is in the macro. Pretty much every case of putting common phrases in macros is not useful because of that reason. However, macros are useful when you are able to describe the steps to get to a ce

[2018-04-11 20:58] rishig commented on #9061
I think this is a good observation, and the path we're going to take, but closing since I think it'll be hard to work on outside of the current docs refactoring.

[2018-04-11 20:58] #9061 closed

[2018-04-11 21:24] scottrus commented on #8330
I think probably checking the process list is the easiest way to see if it's running. Where as if we care about it if it's even installed at all then I would check for the ypbind binary. I'm not a fan of parsing sysctmctl output for this purpose.

[2018-04-11 22:45] timabbott commented on #9057
Assuming your LDAP setup is what I imagine, I think so.  Zulip just uses the LDAP query you configure (and doesn't store anything about LDAP in the database other than the user's email); so that should work.  Is it possible that SubDepartment2 has a different structure (e.g. doesn't use the "mail" field)?

If you don't find something on inspection, I'd play with `manage.py query_ldap` to test/debu

[2018-04-12 01:50] gooca opened #9066 "settings: Nested radio buttons look like unrelated elements."
To me, the current layout of
![image](https://user-images.githubusercontent.com/15152698/38651903-943b06a4-3dd1-11e8-83fd-e58ba97df88b.png) looks a bit weird to me.

At first glance, it looks like the elements are sloppily out of line. However, the elements are actually related, nested radio buttons.

I think we can use design proximity to indicate that the nested radio buttons are related to each

[2018-04-12 01:50] gooca commented on #9066
@zulipbot claim

[2018-04-12 01:58] gooca commented on #8890
Waiting for another review.

[2018-04-12 05:14] sergeykorablin commented on #9057
After some [investigation](https://github.com/django-auth-ldap/django-auth-ldap/issues/19) i found  than searched DNs are cached by django_auth_ldap when a user login and used for the next login attempt. As the DN is no longer correct, the bind fails..
django_auth_ldap have two parameters to control cache AUTH_LDAP_GROUP_CACHE_TIMEOUT and AUTH_LDAP_CACHE_GROUPS, but in my case setting AUTH_LDAP_GR

[2018-04-12 10:29] Kumar-Tarun commented on #8679
I've submitted a PR for the same which is pending for review!

[2018-04-12 10:32] akashnimare opened #9068 "Multiple bugs in the progress bar"
This is a follow up for #8863. I see few issues with the progress bar -
 - [x] If you cancel an upload and then try to upload a new file, the previous progress bar is not removed -

<img src="https://d2ffutrenqvap3.cloudfront.net/items/202E2Q4629172h252b2r/Screen%20Recording%202018-04-12%20at%2003.55%20PM.gif?v=32224dd3"/>

We might need to call `maybe_hide_upload_status()` if upload error occurs.

[2018-04-12 15:57] armaanahluwalia opened #9070 "Messages missing in private chat"
I'd like to report a bug I've seen multiple times where messages aren't being loaded in the private messages view. I have a chat session with 2 people. I also have an independent chat going in the same view with one of the members. Since this could potentially be a pretty important bug I'd like to report it even though I don't have a deterministic way of reproducing the bug.

Description of how I'

[2018-04-12 15:59] timabbott commented on #9066
@rishig what are your thoughts?  I agree that does make the grouping more clear.

[2018-04-12 16:13] rishig commented on #9066
yeah, lgtm.

[2018-04-12 16:30] rishig opened #9072 "compose: "New topic" should change to "New stream message" when in PMs."
The "New topic" text should change to "New stream message" when you are in a PM narrow.
* If you're in "Private messages" or a PM thread with someone, that should definitely trigger the change
* If you're in a search that's limited by is:private, pm-with:, and whatever we use for group pms, that would ideally also trigger the change.

If the second bullet is hard, just the first is sufficient for

[2018-04-12 16:39] #8890 closed

[2018-04-12 16:53] sinwar commented on #8913
It seems they are not in the mood for release. I think we should go ahead with the forked repo for now. @timabbott what say?

[2018-04-12 17:46] shubhamdhama commented on #8995
@zulipbot claim

[2018-04-12 17:58] nkmishra1997 opened #9074 "Add "new user" and "admin" badges to user profile."
In realms with a large number of users, few incidents have been noted where new users create fake profiles and try to disturb the decorum and share misleading information. To avoid this situation in future, there was a [discussion](https://chat.zulip.org/#narrow/stream/2-general/topic/Fake.20profile.20issues) about identifying fake users. The present suggested method is to add temporary "new user"

[2018-04-12 18:02] timabbott commented on #9074
Let's start with doing the "admin" badges -- we already have the data plumbing in place for whether a user is an organization administrator, so it's easier.

[2018-04-12 18:06] #8995 closed

[2018-04-12 18:10] timabbott commented on #8913
Yeah, I think that's right.

[2018-04-12 18:20] AasthaGupta commented on #9074
@zulipbot claim

[2018-04-12 19:16] sergeykorablin commented on #9057
Hmm, I think I did, but I'm not 100% sure) because now I can move users to another units, and they have successfully logged in. In any case thank for your attention! You can close this issue.

[2018-04-12 20:11] timabbott commented on #9057
Great, closing, thanks @sergeykorablin!

[2018-04-12 23:50] showell opened #9078 "feature idea: Create feature for shared user accounts (like "scribe")"
Occasionally folks want to share a user account for messages that aren't tied to one person (and their reputation) but are more for a team.  The example we got was somebody acting as the "scribe" during a meeting.  After the meeting, other folks might want to edit the scribe transcript, without pulling in the whole can of worms of whether admins can edit messages or you can make messages "sharable

[2018-04-12 23:52] showell commented on #9078
Another example of a shared account would be "On Call Person", where maybe 5 or 6 people can all control that account.

[2018-04-13 01:30] zy964c commented on #9034
@YJDave , looks like I've fixed this one, please review

[2018-04-13 12:53] akashnimare commented on #9070
I think I have been in these kinds of situations a few times so something is definitely off.

[2018-04-13 13:34] akashnimare opened #9081 "Enhancement: Add inline preview for different media types."
It would be great if we could support inline preview for multiple media types like mp4, mp3, doc, pdf etc. Slack shows a great inline preview of uploaded files. So if you upload a mp4/pdf/doc/mp3 etc you can quickly view the same without leaving the tab.

<img src="https://chat.zulip.org/user_uploads/2/12/bS3oJ5Y62fVudFtAD3pKaUx3/pasted_image.png" />

I think for now, we should focus on supporting

[2018-04-13 17:17] timabbott opened #9085 "Exception accessing informational overlays"
We've started seeing this exception in production:

[code]

@showell this may be a good one for you to investigate, given your recent work on that component.

(I'm guessing it's some sort of initialization ordering problem)

[2018-04-13 17:33] shubhamdhama commented on #9068
@zulipbot claim

[2018-04-13 17:47] shubhamdhama commented on #9068
The first one is easily solvable but for the second one, we need to do track each progress bar individually.

[2018-04-13 18:00] showell commented on #9085
@zulipbot claim

I cant' repro this, but it seems possibly related to i18n not loading for people.

I'm working on a defensive fix.

[2018-04-13 18:02] timabbott commented on #9068
OK; worth maybe doing a PR for the easy piece (that'll downgrade this to not a blocker-level issue), and then we can do the second at our convenience.

[2018-04-13 18:08] timabbott commented on #9085
Interesting.  We have a moderately wide range of random exceptions related to i18n not loading for people; it's possible we should look at our strategy for i18n (most manifest as a direct `i18n.t()` not working).

Might be worth looking into whether i18next can be made smarter.

[2018-04-13 18:38] timabbott opened #9087 "Eliminate annoying frontend race conditions involving i18next"
Since we added i18n to the Zulip frontend, we've had frequent issues with JS code trying to access translated strings before they are loaded.  I'm aware of at least ~5 current minor bugs, and there's a lot more that have in the past been fixed using `ensure_i18n` hackery that makes the code hard to read.

The crux of the issue is that `i18next` works by fetching the `translations.json` file for th

[2018-04-13 23:27] shemsargent-rvtd commented on #3618
We are moving from Google Hangouts to Zulip and would love to see something along these lines. In Hangouts, there are little floating avatars for each user that indicates where the message stream was at when they last viewed it.

[2018-04-13 23:32] #8854 closed

[2018-04-13 23:59] shemsargent-rvtd commented on #3618
For now we are content with the ability to react to a message with an emoji. This at least allows the sender to audit who has viewed a message if recipient staff know that such a reaction is expected in a particular context. Also it's really useful feature for informal voting.

[2018-04-14 05:57] abhigyank opened #9093 "drafts: Misleading text of tooltip on hovering message"
Hovering on **any** message in drafts shows tooltip with "Restore draft (Enter)". While in actual, only the message that is in focus would be restored if `Enter` is pressed, so the message in tooltip is kind of misleading. "Restore draft (Enter)" could be show on tooltip of the focused message.
Another solution could be, similar to #8969 , we can change the tooltip text to "Click to restore".
Also

[2018-04-14 06:16] abhigyank commented on #9041
If we remove `gravatar_url_for_email` function and move that logic to `exports.add` and assign `person.avatar_url` to computed gravatar , would that ensure that `avatar_url` would always be available for all other functions requiring `avatar_url` (e.g. `exports.small_avatar_url`) ?

[2018-04-14 08:31] aliyareneekhan commented on #6018
@zulipbot yes I am still working on it! Sorry about the lack of updates.

[2018-04-14 18:41] #9085 closed

[2018-04-14 19:01] rishig opened #9094 "compose: Private stream lock icon offset in compose."
To reproduce:
* Create a private stream
* Compose to it

The lock icon is vertically off from the text.
For the correct position, send the message, and see where the icon falls when it is in the recipient bar.

[2018-04-14 19:03] rishig opened #9095 "compose: Tweak styling of progress bar."
It's currently the default bootstrap styling, and is a bit jarring against the rest of Zulip.
Some ideas:
* [x] Use a thin blue line without stripes (instead of a thick blue line with stripes).
* [ ] Maybe not show the progress bar if the projection after 200ms is that it'll take less than 1s? Eventually I could imagine showing a spinner or something in that case and only using a progress bar if i

[2018-04-14 19:49] synicalsyntax commented on #9095
Like this?

![screenshot at apr 14 12-49-39](https://user-images.githubusercontent.com/15116870/38772029-50d76e76-3fe2-11e8-8544-7314289306f2.png)

[2018-04-14 20:06] nkmishra1997 commented on #7089
Since claiming this issue is not a nice idea, I am just informing here I am starting to work on test coverage of `uploads.py` and modifying `test-backend` to report files with 100% coverage.

[2018-04-14 23:00] eeshangarg commented on #6213
Okay, so I think there is a part of this discussion that I misunderstood. Are you saying that we should notify users of missing event headers regardless of whether they are explicitly caught using `except KeyError` currently? If that's what you meant, I think that makes sense!

What I meant was more so that currently the `KeyErrors` being caught aren't about event headers at all, so we don't need

[2018-04-15 00:05] rishig commented on #9095
yeah, that's much better! Do we need the blue background?
Also, the bar looks rounded on the top but not the bottom?

[2018-04-15 01:26] timabbott commented on #7089
I think the reporting piece is already done.

[2018-04-15 03:07] aliyareneekhan commented on #6018
@rishig I am having trouble figuring out where to put the endpoints in dev_urls.py, any suggestions on this?

[2018-04-15 04:32] synicalsyntax commented on #9095
![screenshot at apr 14 21-28-41](https://user-images.githubusercontent.com/15116870/38775006-d96bcb54-402a-11e8-94ca-7922df12ca23.png)

I believe the blue background is necessary for consistency; all of our other compose box alerts have some sort of background (yellow for subscribe alerts, red for errors, etc.)

Also, no, there are rounded corners on both the bottom and top. I retook a screenshot.

[2018-04-15 05:38] rishig commented on #9095
I think color makes sense for alerts, but I think it's also consistent for something like this to be lower visual priority than an alert?

And cool for the rounded corners; they look great.

[2018-04-15 05:43] rishig opened #9096 "compose: Pills broken when they have to line-wrap."
Start a private message, and add a bunch of people until you reach the end of the line. Add one more. The pills should line wrap as units, but instead each pill independently line-wraps.

I feel like I've seen this work correctly before, so I think this is probably a regression somewhere?

[2018-04-15 07:52] aliyareneekhan commented on #7089
Are there any more files that would be good to work on here @timabbott ?

[2018-04-15 10:42] armaanahluwalia commented on #9070
I think I may have some more information on this. What I just saw happen is the same bug appeared for me but seemed to be resolved after about a half minute. I believe this may be a problem with how slow the call is to the API that provides messages. I'm attaching a couple of screenshots that may be useful.

<img width="1279" alt="screen shot 2018-04-15 at 4 04 55 pm" src="https://user-images.gith

[2018-04-15 10:55] armaanahluwalia commented on #9087
In my experience, such a setting needs to be returned by the backend  when rendering the page under a user object. Does not make sense to hack this as it will cause further code degradation down the line. Just an opinion I have no idea about the history or time commitments here : )

[2018-04-15 10:57] umairwaheed commented on #9087
@timabbott, sure.

[2018-04-15 15:36] timabbott commented on #9070
Interesting theory.  I checked the server logs for your user on chat.zulip.org, and none of the backend queries for /messages (or presence, etc.) show a request time over 150ms; that is consistent with the server-side response times for others users (and that's been consistent since the very early days of Zulip).  So the latency is not on the server side.

The backend endpoint thing that should be

[2018-04-16 02:31] mdbaum commented on #8689
@zulipbot claim

[2018-04-16 03:25] jackfm96 commented on #8700
@zulipbot claim

[2018-04-16 04:28] synicalsyntax commented on #9096
Fixed in #8781

![screenshot at apr 15 21-27-41](https://user-images.githubusercontent.com/15116870/38790139-e1f7a396-40f3-11e8-806a-39753ed667da.png)

[2018-04-16 13:55] mdbaum commented on #9072
@zulipbot claim

[2018-04-16 16:47] #9094 closed

[2018-04-16 16:47] #9096 closed

[2018-04-16 16:50] timabbott commented on #7492
No; I think what happened is I accidentally did a push to upstream/master rather than tabbott/master with the chat.zulip.org branch; I immediately reverted, but didn't think about issues having been closed.  I think this was the only one affected.

[2018-04-16 17:07] #7492 closed

[2018-04-16 18:47] timabbott commented on #7089
I added several more files missing only a few lines that we could finish and lock down.

[2018-04-16 22:05] timabbott opened #9111 "Fix screenshots on /api/api-keys"
These show a super-ancient version of the UI:

![image](https://user-images.githubusercontent.com/2746074/38837624-7bfda3e4-4187-11e8-8cec-38089e69a166.png)

(There's probably other cleanup that would be valuable on this page)

We should make sure the screenshots show sensible examples (e.g. a "GitHub Bot" with the GitHub logo as its avatar)

[2018-04-16 23:07] timabbott commented on #9087
@armaanahluwalia just for context, we have actually two sets of strings: the backend (main) HTML templates, and the frontend (live-rendered) handlebars templates.  It's the latter that has a translation system with this initialization problem.  But I think the solution I proposed should just work.

[2018-04-16 23:08] timabbott commented on #9093
Agreed; I think probably just "Restore draft" is fine.

[2018-04-16 23:25] timabbott commented on #8618
@rvencu sounds like this issue is resolved and we should close this?

[2018-04-17 03:14] rvencu commented on #8618
No. I am travelling for 2 weeks and we agreed to check things when I will be back next week

[2018-04-17 08:01] vikasvmads commented on #8432
@nicholas-burr  are you still working on this issue?

[2018-04-17 08:38] vikasvmads commented on #8432
@nicholas-burr are you still working on it?

[2018-04-17 10:31] vikasvmads commented on #9111
@zulipbot force claim.

[2018-04-17 10:38] vikasvmads commented on #9111
@zulipbot claim --force

[2018-04-17 10:39] vikasvmads commented on #9111
@zulipbot claim --force

[2018-04-17 15:46] orthoxerox opened #9115 "Self-hosting the mobile push notification service for custom mobile apps"
I'm not sure if that's just a documentation issue, but [the docs](http://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html) say the code for the push notification forwarding service is 100% open source and available as part of the Zulip server project on GitHub.

Therefore it seems to be possible to self-host it (a la https://github.com/mattermost/mattermost-push-proxy) and

[2018-04-17 17:01] rishig commented on #5803
Tim, thoughts on what we should do here? I'm guessing we can't take advantage of postgre's search, since our files are not in the database. Would something very simple (e.g. that just greps the files without stemming, synonyms, etc) be appropriate?

[2018-04-17 17:27] vikasvmads commented on #9111
@zulipbot claim

[2018-04-17 18:00] timabbott commented on #9115
Yeah, it'd be good to have this.  I am not aware of anyone doing it yet, but I don't expect it to be super hard to do.

@orthoxerox if you're up for doing the work involved, I'd be happy to collaborate with you on this (publish draft docs, and then have you try them, and iterate until the docs are clear and you're up and running).  Are you interested in doing that?

[2018-04-17 18:10] orthoxerox commented on #9115
@timabbott I am not an Android or iPhone app developer so I'm not sure I'm the right person to help.

[2018-04-17 18:39] timabbott commented on #5803
Possibly.  I don't really want to reinvest the wheel here, but am having a hard time finding something better than that by googling.  Grep is an OK option.  An option is to use Google's custom search system, which is bad, but doesn't require us doing too much work.  Another is to try to use something existing like livegrep or whistlepig.  And a final option is to just have a process jam the conten

[2018-04-17 18:41] timabbott commented on #9039
I can't reproduce on Linux, so editing description to be firefox-on-Mac.

[2018-04-17 18:42] brainwane commented on #5803
I had a good experience with a client-side search engine, [lunr.js](https://lunrjs.com/), on a project [a while back](https://www.harihareswara.net/sumana/2014/11/18/2) that was kind of similar.

[2018-04-17 19:33] Lyla-Fischer commented on #6068
FWIW, it looks like WAl-g is still being updated. https://github.com/wal-g/wal-g

[2018-04-17 20:39] timabbott opened #9117 "Add more portico pages to tools/test-help-documentation"
Following d340c8d46df400b7d10fd0d2819142d4592cea36, I'd love to extend `tools/test-help-documentation` to also check the major portico pages explaining Zulip in checking for broken links.

[2018-04-18 05:05] lonerz commented on #8951
This seems a little harder than it looks, especially if the highlighted text has some type of markdown applied. Any tips for taking care of those cases?

[2018-04-18 06:40] jdherg commented on #8859
(Pre-emptive hello to the bot :) )

[2018-04-18 07:05] shubhamdhama commented on #9068
I think this is because of our current logic for hiding status elements and progress bar, I've simplified this logic a bit so this might not happen after PR get merged.

[2018-04-18 07:41] gioragutt opened #9121 "Docker support for running the server"
Hi, I've looked into slack alternatives lately, and most of them had support for running the chat server with docker.

This feature is important to help individuals and companies check zulip out, and running it on production, as sometimes dedicating a server or raising another VM in it can be costly, whereas the cost of running another docker container is much smaller.

[2018-04-18 07:49] timabbott commented on #9121
You can do this today with https://github.com/galexrt/docker-zulip (we should do the work to integrate that as part of the core project, though).

[2018-04-18 07:50] timabbott commented on #8951
You can try using `toMarkdown` to convert it back into input style syntax?

[2018-04-18 08:06] gioragutt commented on #9121
@timabbott, another question i've not thought about - does zulip have built-in integration for Active Directory?

[2018-04-18 08:30] timabbott commented on #9121
Yes.  You can use the LDAP authentication backend with Active Directory.

[2018-04-18 09:05] gioragutt commented on #9121
Good. I hope I'll have time to test it out soon.

[2018-04-18 11:55] mangandini opened #9123 "Import data from Slack - FileNotFoundError: [Errno 2]"
Zulip installation was very smooth but trying to import data from slack I'm getting the following error:

[code]

[2018-04-18 12:30] showell opened #9124 "enhancement request: Create setting for info density (more spacing)"
Quick note: This is a pretty open ended issue, so if you want to work on it, you should be prepared to get consensus on chat for how to proceed, and this is almost certainly a non-trivial feature to implement.

**Background**: We get a lot of feedback from users, particularly new users, that Zulip is kind of overwhelming/overkilling in terms of info density, and people want more spacing, bigger li

[2018-04-18 12:36] showell commented on #9124
I should also point out that some users actually think we haven't gone far enough with density and would propose eliminating avatars, etc. from the feed.

[2018-04-18 13:40] gooca commented on #9124
I was thinking about more of a mobile-first design for the desktop webapp, especially regarding the right sidebar. Does hiding the Users sidebar behind a navbar button (like the mobile webapp) sound like a good idea/be part of this general enhancement? This would make the design consistent with the mobile design, as well as having less info density for new users. It would also give more space to i

[2018-04-18 13:47] showell opened #9125 "Make it easier to turn off the buddy list."
We've gotten some feedback that folks want to turn off the buddy list in the web/desktop apps (even when the screen's wide enough for it).

This is a placeholder issue for discussing the best UI for that.  Folks should also feel free to discuss this on the https://chat.zulip.org/#narrow/stream/101-design

[2018-04-18 13:48] showell commented on #9124
I think being able to hide the right sidebar more easily is a good idea in its own right, but I'm not sure it solves the main density issue, which is in the message pane, where the primary constraints are vertical, not horizontal.  I added #9125 to specifically address the buddy list.

[2018-04-18 14:30] non-Jedi commented on #356
@rht sorry for failing to respond to this for so long. @Cadair maintains the
main python AS project. He might be able to give you a better estimate how
stable things are. (I'm assuming the Zulip python code is python3-compatible)

[2018-04-18 14:37] Cadair commented on #356
My AS library https://github.com/Cadair/python-appservice-framework is still very alpha. I am happy to collaborate with people helping out with it, although I don't have a lot of time to do any development on it myself at the moment.

[2018-04-18 16:29] priyankp10 opened #9126 "cleanup node_tests to use ES6 (ES2015)"
The goal here is to move node_test to use ES6, which would make them more readable and they will have nice "syntactic sugar".

Cleanup process:
  * To clean up a single file start with replacing all `var` with `let` and then run `./node_modules/.bin/eslint <filename> --fix`. This will use `const` wherever needed so you don't have to manually verify anything.

  * Start looking through the code and

[2018-04-18 16:34] timabbott commented on #9123
The problem is that the Slack import tool incorrectly uses a file that lives in a directory that's for unit testing only; so it works as long as you didn't install a release tarball.  We'll be doing a release shortly to fix this.

I believe you can use `upgrade-zulip-from-git 1.8.0` and then do the import to work around this (since that will include the missing directory) in the meantime.

[2018-04-18 16:40] showell commented on #9126
We should move to ES6 immediately for these two things:
* use const/let instead of var
* use includes instead of indexOf

For arrow functions, we want to use them for all simple expressions (no assignments, no use of "this", etc.).

For other features we should use discretion on making changes, and perhaps err on the side of assuming folks have more ES5 knowledge than not.

[2018-04-18 16:41] ciupicri opened #9127 "Can't create account or login on chat.zulip.org with GitHub"
I found out about the demo server and I wanted to test it. Unfortunately using this GitHub account for authentication doesn't seem to work.

These are the steps I have taken:

 - Went to https://chat.zulip.org/register/
 - Chose **Sign up with GitHub**
 - Approved **Authorize zulip**
 - Got redirected to "Sign up for Zulip" (`https://chat.zulip.org/complete/github/?redirect_state=...`)
 - Went to

[2018-04-18 16:49] timabbott commented on #9127
@ciupicri thanks for the report!  I have a theory for what's going on.  So, Zulip's authentication requires getting your email address from the GitHub Oauth process.  For security reasons, we require a verified email address on the GitHub side (so that GitHub has confirmed that you actually own the email).  Can you check whether that's the case in your GitHub profile?

My guess is that we aren't h

[2018-04-18 16:51] timabbott commented on #8775
Yes, definitely.  Opening a new issue.

[2018-04-18 16:52] timabbott opened #9128 "Fix buggy click area for input pills"
As reported in https://github.com/zulip/zulip/issues/8775#issuecomment-382424867, we have a bug in the input pill area:

![image](https://user-images.githubusercontent.com/12458563/38941107-0d06586c-4341-11e8-8730-621a8080d5a4.png) ![image](https://user-images.githubusercontent.com/12458563/38941147-2d879ac4-4341-11e8-91e2-6c74335cbfc1.png)

I think that this is not a good design, as it requires t

[2018-04-18 16:52] timabbott commented on #8775
https://github.com/zulip/zulip/issues/9128

[2018-04-18 17:16] ciupicri commented on #9127
It crossed my mind to mention that I received an email from GitHub saying that a new application was authorized. So I guess my email address is verified. Is there another way check if it's verified or not?

I'd also like to mention that I haven't received on from Zulip (I checked the spam folder too).

[2018-04-18 17:23] timabbott opened #9131 "slack import: Improve how we construct the zerver_realm template"
Some testing is required here, but I'm pretty sure code like this:
[code]
would be a much cleaner way to implement `build_zerver_realm`, in that we wouldn't need to copy in the default values from 25 fields in the main Realm model table.

We should do this carefully (I'd print-and-compare the old and new versions so the match exactly), but it should let us kill some duplicate and annoying to maint

[2018-04-18 17:35] timabbott commented on #9123
Fixed in master, so you can do `upgrade-zulip-from-git master` now too (and I'll do some quick follow-ups to prevent this category of bugs in the future).  As I said, we'll be doing a 1.8.1 release with just this and another small fix sometime today.

Thanks for the report @mangandini!

[2018-04-18 17:35] timabbott commented on #9123
@rheaparekh FYI; I also opened #9131 as a follow-up on the slack import side.

[2018-04-18 17:36] #9123 closed

[2018-04-18 17:43] timabbott opened #9132 "Typeahead issue with streams with numbers in their name"
I was trying to type `#1` at the end of a message today, and found it surprisingly difficult to escape the typeahead.  I think we might want to do some sort of exclusion for small numbers in our stream typeahead.

![image](https://user-images.githubusercontent.com/2746074/38948765-4739a4b8-42f5-11e8-96cb-9fd6545b296c.png)

[2018-04-18 17:53] timabbott opened #9133 "plans: "Zulip On-Premise" invisible in 2x2 responsive shape"
In the 2x2 responsive shape, the heading for the second 2 items of "Zulip On-Premise" is invisible.

![image](https://user-images.githubusercontent.com/2746074/38949194-89901378-42f6-11e8-97ae-4e9f8349a177.png)

This should be an easy fix -- in that responsive state, we should make the font black, not white.

[2018-04-18 17:55] timabbott opened #9134 "Move zerver/fixtures to zerver/tests/fixtures for clarity"
The zerver/fixtures directory contains data to be used for Zulip's unit tests.  We recently had a pretty serious bug (#9123) because some non-test code put a file in that directory (which, like the tests themselves, is not included in production, as part of preventing users from accidentally running database-destructive tests in a production environment).  To help avoid similar issues being genera

[2018-04-18 18:24] cclauss opened #9135 "undefined name 'tags' in docs/conf.py"
flake8 testing of https://github.com/zulip/zulip on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-04-18 18:35] ciupicri commented on #9127
As far as I know, I'm not using containers in Firefox, but I remember disabling service workers or something like that because too many websites abuse them.

[2018-04-18 18:50] akashnimare commented on #9128
This can be quickly fixed if we increase the `min-width` of `.pill-container .input` -

<img src="https://dzwonsemrish7.cloudfront.net/items/3c2B0p323E0e0N3s1C0Q/Screen%20Recording%202018-04-19%20at%2012.19%20AM.gif?v=6712314d"/>

[2018-04-18 18:52] timabbott commented on #9127
We don't use service workers.  I would not expect you to have received an email from Zulip if GitHub didn't actually provide a verified-by-GitHub email to Zulip in the Oauth flow.  I believe you can check whether you have a verified email here: https://github.com/settings/emails

[2018-04-18 18:53] timabbott commented on #9135
This is not a bug -- it's part of how Sphinx/ReadTheDocs works (they have this global, `tags`, that comes from elsewhere).  We have exclude rules with our linters (`tools/lint`) for handling cases like this.

[2018-04-18 18:53] #9135 closed

[2018-04-18 18:59] ciupicri commented on #9127
It says "Primary", "Visible in emails" and "Receives notifications".

[2018-04-18 19:04] akashnimare commented on #9128
@timabbott, @synicalsyntax I think it would be great if we auto set the cursor so that user don't need to click on the input

<img src="https://user-images.githubusercontent.com/12458563/38941107-0d06586c-4341-11e8-8730-621a8080d5a4.png"/>

Something like this -

<img src="https://dzwonsemrish7.cloudfront.net/items/3Z0R0i1q0o0L1v1L1M2Q/Screen%20Recording%202018-04-19%20at%2012.29%20AM.gif?v=b58e11

[2018-04-18 19:24] mangandini opened #9137 "Images are not displaying in iOS APP after importing from slack"
Everything seems fine (channels, messages, users etc) except for images on the iOS APP that can't be seen or downloaded.
Mac/Web client works perfect.

![img_ab5364611d9f-1](https://user-images.githubusercontent.com/660871/38953345-b3aa2c38-430b-11e8-90a4-5f0e46a09802.jpeg)
![img_50e88d20dd9f-1](https://user-images.githubusercontent.com/660871/38953347-b3cbe508-430b-11e8-8e48-27347aee7984.jpeg)

[2018-04-18 19:30] mangandini commented on #9137
I uploaded an image from the iOS app but it is not showing either, so I guess the issue is not related to slack import.

The web client is still showing the appropiate thumbnail and access to the image is working.

[2018-04-18 19:34] timabbott commented on #9128
@akashnimare can you provide more clarity about the specific flow (e.g. opened compose via hotkey) you're thinking about?   I think the Slack UI for this actually wastes time with having a separate screen.  We do leave the cursor in the compose line in some cases and not others today.

[2018-04-18 19:41] akashnimare commented on #9128
No, no! I'm just talking about the cursor thing here. So suppose if you have to send a PM to `a` and `b` - you add `a` first then you need to **click on that input again** in order to add `b`. Instead of the clicking on input we could set auto-focus to the same once you add `a`.

[2018-04-18 19:53] timabbott commented on #9137
Yeah, this is actually an unpleasant bug in the latest mobile app release with images in general; there should be a release fixing it in the next day or so.  Closing the issue since it's not a server bug and is already fixed in Git (just not released).

[2018-04-18 19:53] #9137 closed

[2018-04-18 20:42] natalietotonchy commented on #9093
@timabbott Hello Tim! I would like to propose that a fix for this issue is to change the message from "Restore drafts (Enter)" to "Restore drafts (Click)" and to get rid of the enter hotkey. This way, the disconnect between the focused element and the element which the hotkey corresponds to is eliminated. Now a user can just click on the draft that they want to restore, the enter key does nothing

[2018-04-18 21:08] akashnimare commented on #9133
@zulipbot claim.

[2018-04-18 21:39] sampritipanda commented on #8915
The issue with Rishi's message is that the spaces are actually the nbsp unicode charcter (`\u00a0`). The frontend markdown processor (marked) replaces those with normal spaces but bugdown keeps them in unicode which adds the nbsp stuff. Do we want to do the same replacement in bugdown?

[2018-04-18 21:48] akashnimare commented on #9126
I'm not a fan of eslint's `fix` option. This might give you some unexpected results so we should be careful while using the same.

[2018-04-18 21:56] akashnimare commented on #9124
IMHO, we should first work on making the default style better and then add these settings etc. Quoting @borisyankov from [this](https://chat.zulip.org/#narrow/stream/101-design/topic/UI-improvements) conversation -

[2018-04-18 22:06] showell commented on #9124
We have a lot of data that people have widely different personal preferences when it comes to info density.  Having said that, it's possible that simply using browser zoom will satisfy a lot of people here.  So we definitely want to be thoughtful before doing any work here and make sure the consistency/simplicity tradeoffs are worth the customization.

[2018-04-18 22:37] bramd commented on #5975
I just did some testing with the NVDA screenreader and Chrome on Windows.

Since the custom emoji are img tags and the standard emoji are spans there is an inconsistency. Add `role="img"` to the span to communicate to screenreaders that these are images as well. The custom emoji have a title attribute, but the alt is used as the accessible label. The alt attribute contains the name of the imoji in

[2018-04-18 23:01] bramd opened #9143 "Buttons to add emoji/file/call to a message have no label"
The buttons to add something to a message have no label and might be unusable for screenreader users. For example:

`<a class="message-control-button icon-vector-paper-clip" id="attach_files" href="#" title="Attach files"></a>`

Normally, the title might be used as an accessible label if there is no link text. However, since the icon seems to be displayed using some unicode character, it counts as

[2018-04-18 23:01] bramd commented on #9143
@zulipbot label "accessibility"

[2018-04-18 23:02] bramd commented on #9143
@zulipbot label accessibility

[2018-04-18 23:37] timabbott commented on #9143
@bramd you want `@zulipbot label "area: accessibility"` for doing this in the future.

[2018-04-18 23:39] #9133 closed

[2018-04-18 23:50] timabbott commented on #8915
We should make `toMarkdown` not generate those `\u00a0` characters.  A related issue is that we should make `toMarkdown` not generate the extra newlines between paragraphs and bulleted lists (etc.), since that's inconsistent with our nl2br usage.

On the front of what bugdown should do, I suppose it's arguably kinda nice to have a way to do space-based markup, but we haven't had a use case for it,

[2018-04-19 00:04] ConnorKrammer commented on #8941
This also manifests if you single click when the long message isn't focused. To reproduce:

1. Expand a very long message.
2. Click on a different message above the long message.
3. Click back on the long message.

The UI will then scroll to the bottom of the long message.

[2018-04-19 01:33] rishig commented on #3938
yeah, that seems reasonable, given that we open compose for clicking on any of the other messages.

[2018-04-19 08:33] akashnimare commented on #9143
I think this can be quickly fixed using the `aria-label` something like this -

[code]
but then this problem -

So the ideal soultion would be to turn all these links into the button (we should have used the button in the first place) also, making a button look like a link is pretty straightforward with a bit of CSS.

![image](https://user-images.githubusercontent.com/2263909/38980265-0021bbc0-43d

[2018-04-19 11:04] BackwardSpy opened #9147 "Office365 email configuration"
I followed the [email configuration instructions](http://zulip.readthedocs.io/en/latest/production/email.html) to set up Zulip with Office365. I know the configuration is correct because I can run `./manage.py send_test_email [my email address]` and I do receive the email. However, when I invite a user to my Zulip server, they do not receive the email and I get the following error in my worker log

[2018-04-19 13:27] timapril opened #9148 "Frontend and Backend markdown processing results in different rendering"
When sending a message with the following example markdown text, the frontend engine will display the links as expected but once the message is processed by the backend and sent to the front end the markdown appears to not work as expected.

![screen shot 2018-04-19 at 9 26 26 am](https://user-images.githubusercontent.com/198529/38994238-c962a160-43b3-11e8-88e3-712565ecc4ee.png)

[2018-04-19 16:27] shikharvaish28 commented on #8941
I'm doing the research on this issue and want to tackle this.
If anyone could help me, it would be great since I'm new to open source and have never handled such large code bases.
Some hint on how to handle would do the work.

[2018-04-19 16:27] shikharvaish28 commented on #8941
@zulipbot claim

[2018-04-19 16:35] timabbott commented on #9148
@aero31aero want to investigate this one?

[2018-04-19 16:38] timabbott commented on #9147
I think the issue is that Zulip sends emails with 2 values of from address: some (where a reply going to the people who run the server makes sense) send as `ZULIP_ADMINISTRATOR` and others (including the confirmation emails) send with a `noreply` sender.

You can get the email addresses with this script:

[code]

Can you investigate whether what's happening is the noreply email being rejected by y

[2018-04-19 16:39] timabbott commented on #9143
Yeah, I agree, changing these to buttons is the right structural thing to do.

[2018-04-19 16:39] aero31aero opened #9151 "stats: Sliding results in selecting text."
On the stats page, if you drag the slider, the text gets selected as well.

![image](https://user-images.githubusercontent.com/8033238/39005324-8e047246-441d-11e8-8dc3-cc71994c5a48.png)

On: Firefox 59, Ubuntu 16.04

@zulipbot label "area: portico"
@zulipbot label "area: analytics"

[2018-04-19 16:51] timabbott opened #9152 "Fix styling for `To:` widget being fixed in size"
![image](https://user-images.githubusercontent.com/2746074/39006160-1b96a96a-43b7-11e8-9566-5f325336884a.png)

@synicalsyntax can you take fixing this one?

[2018-04-19 16:56] Epse commented on #8209
Could this fix be redone?

[2018-04-19 16:58] #8209 closed

[2018-04-19 17:04] #9128 closed

[2018-04-19 17:26] timabbott commented on #8209
It's been redone, with the vertical spacing issue fixed.

[2018-04-19 17:27] aero31aero commented on #9148
@zulipbot claim

[2018-04-19 17:40] BackwardSpy commented on #9147
I think you've nailed it, however I can't test until tomorrow. I will write back when I know for sure if your solution works.

[2018-04-19 18:03] bramd commented on #9143
[**@timabbott**](https://github.com/timabbott) commented on [Apr 19, 2018, 1:37 AM GMT+2](https://github.com/zulip/zulip/issues/9143#issuecomment-382562418 "2018-04-18T23:37:58Z - Replied by Github Reply Comments"):

OK, I got the label "accessibility" from the docs, so maybe that needs an update?

[2018-04-19 18:07] bramd commented on #9143
To be clear, by changing this to a button with aria-label and a title might still trigger a double label depending on the browser/screenreader and settings. But as I said, I don't see a solution for that. Usually title is read after everything else, so the output might be: "attach file, button, attach file". Of course the user can already activate the button or tab to other options after hearing "

[2018-04-19 18:12] timabbott commented on #9143
Ahh, indeed, just fixed the docs.

[2018-04-19 18:31] timabbott opened #9154 "Settings saving spinner invisible in night mode (and looks bad in light mode)"
I was seeing the loading spinner state after clicking "save" had the spinner missing, and realized the problem was that it's invisible in night mode.

@shubhamdhama FYI.

[2018-04-19 18:41] timabbott commented on #8876
#8897 fixed most of this; the main that's missing is we don't display these in the actual UI for editing custom profile fields.  That piece may be a good project for @YJDave since it involves a bit more CSS :)

[2018-04-19 19:14] timabbott commented on #5803
Interesting.  It's a bit messy of a strategy in that it would need access to the full set of doc content to be searching, but could be an option.

[2018-04-19 19:45] #9093 closed

[2018-04-19 19:58] shubhamdhama commented on #9154
@zulipbot claim

[2018-04-19 20:00] badmon commented on #9126
@zulipbot claim

[2018-04-19 20:49] timabbott commented on #9117
@eeshangarg this might be a good project for you, since you've worked on this codebase before.  I'm basically thinking of /hello, /why-zulip (and the /for/*) pages linked to from there, and /features.  Ideally we'd not end up with a new tool; we'd just crawl these in `test-help-documentation`.

[2018-04-19 21:07] timabbott commented on #9020
@kamalmarhubi so, we sorta lost track of this over the last week; I'm curious whether at this point you still find yourself typing `C` instead of `x`?  I guess that connects with whether re-enabling it for people used to it is still useful.

[2018-04-19 21:36] timabbott commented on #9041
Maybe?  What's tricky here is that we're trying to handle the corner case where `people.js` does not have data on a user that appears in a newly arriving message (e.g. because the browser didn't get the memo about that user existing due to some bug)

[2018-04-19 21:41] lonerz opened #9157 "Overlapping alert words bug"
When you have an alert word that is a substring of another alert word, you get a weird double highlight.

For example, if you have an alert word `Joshua Pan` and another `Joshua`, there is the following overlap:
![screen shot 2018-04-19 at 2 37 51 pm](https://user-images.githubusercontent.com/12992571/39019880-b15fca08-43df-11e8-91d7-6370d3477ecd.png)

[2018-04-19 21:43] synicalsyntax commented on #9152
@timabbott `<td>` elements are fixed width. Unless you plan on converting the compose box from a `<table>` element to a bunch of `<div>` elements, there's not much that can be done about this.

[2018-04-19 21:50] timabbott commented on #9152
I don't think there's a good reason for it to be a table, so we should probably do that conversion.

[2018-04-20 03:32] eschadt opened #9159 "Broken Link in Markdown File"
In the markdown file [setup-vagrant.md](https://github.com/nyu-ossd-s18/zulip/blob/master/docs/development/setup-vagrant.md) the link to the "Zulip development community server" under the [Troubleshooting and Common Errors](https://github.com/nyu-ossd-s18/zulip/blob/master/docs/development/setup-vagrant.md#troubleshooting-and-common-errors) sub-section is broken.

The "Zulip development community

[2018-04-20 03:36] eschadt commented on #9159
@zulipbot claim --force

[2018-04-20 03:38] lonerz commented on #9159
@eschadt next time just add `help wanted` or `good first issue` with @zulipbot label

[2018-04-20 03:41] eschadt commented on #9159
@lonerz Thank you for manually assigning me the issue! And yes of course, next time I will use those labels with the @zulipbot!

[2018-04-20 04:50] #9154 closed

[2018-04-20 05:01] phansen01 commented on #9134
Just noticed my typo in the commit message of #9153 caused this to not auto close. whoops 🙃

[2018-04-20 05:03] #9034 closed

[2018-04-20 05:11] #8255 closed

[2018-04-20 05:39] timabbott commented on #9159
Thanks for working on this @eschadt!

The link isn't broken; this markdown file just isn't intended to be read on GitHub; it's a ReadTheDocs markdown file.  You can see it renders correctly at https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html.  Ideally, there'd be something we can do on the GitHub side to redirect people to ReadTheDocs (I think this would probably involve some

[2018-04-20 05:39] #9159 closed

[2018-04-20 05:52] #9152 closed

[2018-04-20 05:54] timabbott commented on #9134
Oops, closing :)

[2018-04-20 05:54] #9134 closed

[2018-04-20 05:55] timabbott commented on #9134
If you're looking for another nice test system refactor, https://github.com/zulip/zulip/issues/8732 could be a good next project.

[2018-04-20 05:59] timabbott commented on #8215
I wish `.gitattributes` supported controlling `git grep`, but it doesn't (just checked), since that's what we really want here.  We could try adding a `static/locale/README.md`.  I think the next most natural thing after that would be to have a zulipbot feature to complain about diffs touching that directory.

@synicalsyntax would that be hard to do?

[2018-04-20 06:01] timabbott opened #9162 "Set up "production" test suite on CircleCI"
This would allow us to finish migrating off the old Travis CI system.  See #7748 for detailed discussion of what's involved here.

The production suite hasn't been super flaky with Travis, so this isn't a super high priority (and arguably we get some benefit from the current system in terms of dividing our usage among 2 services).  But realistically, it'd be good to migrate.

[2018-04-20 06:01] timabbott commented on #7748
Closing in favor of https://github.com/zulip/zulip/issues/9162, just to declutter our issue tracker of titles for things done a long time ago :).

[2018-04-20 06:01] #7748 closed

[2018-04-20 06:10] eschadt commented on #9159
@timabbott ah okay, I see what you're saying!

I think this could be a simple fix then.

If we change the relative link of ../contributing/chat-zulip-org.html on "Zulip development community server" to an absolute link of "https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html"  people reading the setup-vagrant.md file on GitHub (even though that is not an intended case) that clic

[2018-04-20 06:17] timabbott commented on #9159
So, the problem with absolute links is that if you're developing locally, you'll end up getting directed off the local deployment to the production readthedocs; this can be annoying for testing whether e.g. a refactor broke links.

[2018-04-20 06:38] eschadt commented on #9159
@timabbott That makes sense! Thank you for explaining your reasoning throughout this thread, I appreciate it!

[2018-04-20 07:45] alexdel35 commented on #6027
Hello guys, what about this ? I am surprised that no one else ask for it. It looks like very important to be able to subscribe to specific topic and not a full stream. If you disagree could tell us why?

[2018-04-20 09:05] BackwardSpy commented on #9147
@timabbott That was it! I set the noreply address to the correct one and the invitation emails started working. Thanks!

[2018-04-20 12:26] akashnimare commented on #9157
@lonerz one more interesting bug. If you first add `Joshua` and then add `Joshua Pan` this is what you get -

![image](https://user-images.githubusercontent.com/2263909/39050699-e4fc136e-44c3-11e8-99b1-f60037b82555.png)

If you reverse the order -

![image](https://user-images.githubusercontent.com/2263909/39050724-054592a8-44c4-11e8-84fc-e08729530e37.png)

[2018-04-20 12:34] shubhamdhama commented on #9157
Another case of overlapping is mentions:
Here `Dhama` is the alert word:
![mention](https://user-images.githubusercontent.com/22238472/39051068-3abc2acc-44c5-11e8-886d-cf12cd80e93b.png)

[2018-04-20 13:44] jaredreich opened #9163 "Integration request: Clubhouse"
Clubhouse: "Intuitive and easy-to-use project management tools for software teams that want to see the big picture."

https://clubhouse.io/
https://clubhouse.io/api/webhook/v1/

[2018-04-20 15:02] #7461 closed

[2018-04-20 15:08] timabbott commented on #9147
OK, so I think what we should probably do here is modify `manage.py send_test_email` to try to send two emails -- one using each outgoing email address.

[2018-04-20 16:00] bmorg commented on #8143
Was this further discussed outside of this ticket? Or was the old syntax (`@user`) always considered a bug?

I'm just asking because this change just broke our ticketing system integration. 😉

[2018-04-20 16:06] rishig commented on #8143
I think it was intended behavior many years ago, and then was a bug for a while. And oops, sorry about that!

[2018-04-20 16:36] synicalsyntax commented on #8215
@timabbott Personally I think it might be better to have file diffs checked in a testing suite, but it should be possible with zulipbot; can you open an issue?