[2017-02-20 01:53] timabbott opened #3731 "Improve visual formatting of message edit history"
Now, after a message has been edited, it's possible to see the history versions of the message (see #268).  The new UI is functional, but could look a lot nicer.  The big structural things are these:
* [x] We should optimize the timestamp display to not repeat the date every time, while still providing precise dates for each transition in the message's content.
* [ ] Only show who edited messages

[2017-02-20 01:54] timabbott opened #3732 "Add a complete test suite for our HTML differ algorithm"
This is zerver/lib/html_diff.py, which is used in the message edit history feature.

It is currently usually called on rendered, aka HTML, content, not the original markdown, though in theory it could be useful to use it with both.

Basically, we should just call the relevant function with various inputs and verify the output looks correct; we should try to include corner cases in the testing proc

[2017-02-20 03:52] umairwaheed commented on #2564
Awesome! Sure, will review it today.

[2017-02-20 05:11] #3644 closed

[2017-02-20 06:33] souravbadami commented on #3030
@timabbott -- I am not experiencing any jolt while trying to reproduce the issue. Could you please confirm ?

[2017-02-20 06:34] timabbott opened #3734 "Eliminate expensive and potentially unnecessary `GET /json/users` call in /#administration page"
Currently, `page_params` sends down the `realm_users` data structure, which in turn is sourced from `zerver/models.py:active_user_dicts_in_realm`, an efficiently cached data structure containing (1) only active users and (2) no avatar URLs or bot owners, but otherwise the same data that `GET /json/users` returns.  It seems like we could make the following changes:
* [x] (potentially) Do the `activ

[2017-02-20 06:36] timabbott commented on #3030
@souravbadami are you testing with 2 browser windows with the described procedure?

[2017-02-20 06:48] souravbadami commented on #3030
Yes, I'm following the same and the operation appears fluid.

[2017-02-20 14:59] #2674 closed

[2017-02-20 16:49] showell opened #3736 "Improve API test coverage"
We recently added `tools/test-api`, which performs basic tests of our API against a local development copy of our server.  It gets run as part of our continuous integration.

A good project is to find any endpoints that aren't covered and add tests for them.  Also, for the mostly heavily used endpoints (stuff related to sending messages), we may want deeper tests.

[2017-02-20 16:49] showell commented on #713
I created a new issue at #3736 to continue this effort, so I'm closing this.

[2017-02-20 16:49] #713 closed

[2017-02-20 17:55] timabbott commented on #3736
From reading the code, the things we're currently missing that are supported in the Python API bindings are:
* get_presence
* upload_file
* the register + get_events + deregister flow.  Arguably we want to actually test e.g. `call_on_each_event` here, since that's our main recommended interface for doing this, though that would require some more test setup.

A related useful project would be to ha

[2017-02-20 18:34] showell opened #3737 "claimed: Split out subscribers in page_params/events"
After we merge #3735, we will no longer be sending subscribers to mobile clients (who just ignored them) during page load.

A follow-up fix is to change how we structure our payload to the web, so that for subbed/unsubbed/never_subbed, we don't have subscribers (and are therefore consistent with mobile), but we instead put subscribers in a separate data structure on page_params.

We are also going

[2017-02-20 19:05] #3701 closed

[2017-02-20 19:29] aripollak opened #3738 "Left arrow hotkey to edit message conflicts with Alt+Left"
I frequently use Alt+Left in Chrome to go back. Recently, Zulip added a Left hotkey to edit the last message, which seems to take priority over Alt+Left. Can this either be fixed or another hotkey chosen?

[2017-02-20 19:57] timabbott commented on #3738
This should definitely not be taking priority over alt-left.

[2017-02-20 20:02] timabbott commented on #3738
@aripollak what platform?  I can't reproduce on Linux on web.

[2017-02-20 20:16] aripollak commented on #3738
Hm, this is Chrome 56 on Linux, but it apparently also happens on Safari on Mac.

[2017-02-20 20:19] aripollak commented on #3738
(edited my last message to reflect Mac reality)

[2017-02-20 20:22] aripollak commented on #3738
Oh actually, if i press Alt-Left twice, the first press goes to edit the last message, but the second press does go back in both Chrome and Firefox. So maybe this isn't that big of an issue?

[2017-02-20 22:49] singh1114 commented on #3664
@timabbott
Doesn't the new title signify something else?
If yes, please help me Understand.

[2017-02-20 22:51] ntbandara3 commented on #3720
@rishig I think I managed to fix this issue :)

[2017-02-21 05:36] timabbott commented on #3664
The title means we should fix this jitter issue from zxvcbn errors being placed badly on all the forms, not just the one it was initially reported as affecting.

[2017-02-21 05:38] timabbott commented on #3738
Hmm, I still can't reproduce any `Alt-Left` usage being handled by Zulip.  I'll ask on chat.zulip.org for others to help reproduce.

[2017-02-21 05:41] #3720 closed

[2017-02-21 05:43] rishig commented on #3720
Thanks @ntbandara3! Though unfortunately, this was already solved by PhilSk. Sorry for the duplicated work, and come find us in the "development help" stream on chat.zulip.org if there is some confusion regarding how to tell who is working on what issue!

[2017-02-21 07:11] souravbadami opened #3741 "Resizing browser causes message options to appear partially."
![screenshot from 2017-02-21 14 06 04](https://cloud.githubusercontent.com/assets/11073943/23154224/4cc36362-f83f-11e6-829c-bf4a29ed586a.png)

**How To Reproduce:**
- Try resizing the browser. Reduce the height.
- Toogle the message options icon.

**Observed Behavior:** The options appear partially.

**Environment:** Mozilla Firefox 51.0.1 (64-bit) on Linux Mint 17.2.

[2017-02-21 07:40] singh1114 commented on #3664
It would be great if you can specify all the places where it is needed to be done else few of them might be left out.

Also, is the way we are using to solve the problem well or should we use something like an 'alert' for specifying the errors?

[2017-02-21 17:44] brainwane commented on #168
@kracekumar Here are my answers:

Yes, I think that's right.

This is where blocking and muting feel like they should have different behavior. If I'm *muting* a user or set of users then I am more likely to want to see "message from muted user(s) [names]; toggle to see muted messages", because the reminder of their participation in my community is more annoying than upsetting. But if I'm *blocking

[2017-02-21 19:28] timabbott commented on #3664
`Alert` is I think a bad UI pattern for this.  @sampritipanda and @rishig can point to what we have in mind.

templates/zerver/login.html, templates/zerver/register.html, and templates/zerver/reset_confirm.html

[2017-02-21 19:32] timabbott commented on #3741
For anyone interested in fixing this, check out `exports.toggle_actions_popover` in `static/js/popovers.js`; that already has a reasonable amount of popover placement logic.  I'm not entirely confident that this is a 100% solvable problem in the general case of very small windows with the bootstrap popover library that we're using, but we can likely improve the logic.

[2017-02-21 19:45] timabbott commented on #168
I don't think Twitter is a great comparable, because Twitter is pretty disjointed in the first place (it has a weak at best concept of a conversation).

[2017-02-21 20:04] brainwane commented on #168
I use Twitter pretty often, including to read threaded conversations, and I'd be interested to hear more about why you think its concept of a conversation is weak at best; still, I agree that there are problems mapping Twitter usage onto group chat environments like Zulip.

In HexChat and [Colloquy](http://colloquy.info/project/wiki/Documentation/CommandReference#Ignore), if you `/IGNORE` someone

[2017-02-21 20:33] khantaalaman commented on #3731
@timabbott Can you please explain the first point about optimizing timestamp display, in a little more detail? I am unable to get the expected behavior for it.

I will try to cover all the mentioned points soon.

Thanks!

[2017-02-21 20:52] rishig commented on #3664
Linking to #3119 (last few comments in that thread).

[2017-02-21 21:43] rishig commented on #168
@brainwane I agree with what you said above about blocking and muting feeling like pretty different things. I also agree that for muting having the toggle is what I would want.

For blocking, I think one potentially big difference between Zulip and twitter/etc is that on twitter A blocking B means that B also doesn't see A's messages (to first approximation). This impedes at least some natural att

[2017-02-21 22:32] timabbott commented on #3731
For timestamps, ideally we'd use date lines in between events that happened on different days, and then just have the time in each individual row (similar to how the webapp itself works).  In most real-world cases, everything happens on the same day, so it'd avoid repeating a bunch of unnecessary information.

[2017-02-21 23:08] timabbott opened #3750 "Decide on what wildcard @-mentions we want to support"
I think it's time to make some decisions about what we want to call our various wildcard mentions.

Currently, Zulip supports two ways to do wildcard mentions, `@all` and `@everyone`, which both trigger desktop notifications for everyone subscribed, highlight the message, and show in the "@-mentions" view, but neither will send emails / push notifications to offline users (which would happen with

[2017-02-21 23:54] lonerz commented on #3750
This seems great. There should be a setting to who is allowed to use `@all` or any of the email pushing notifs, like admins etc and a setting to turn on/off this setting.

[2017-02-22 00:03] feorlen commented on #3750
Personally, I'm not opposed to email like this (but I sort into sub-folders to manage email clutter.) I would want it to be obvious it's a wildcard mention in the subject of the email, however. Then I can decide how urgently I need to read that particular email.

And, yes, as @lonerz mentions, a way to limit access to some options. Messaging/emailing everyone should be a rare occurrence.

[2017-02-22 01:34] timabbott commented on #3750
Yes, that's not a bad idea for an administrative setting.  Maybe worth opening an issue for now so we don't forget; it's arguably useful even with the current implementation.

[2017-02-22 03:37] lonerz opened #3751 "test zulip claim"

[2017-02-22 03:37] lonerz commented on #3751
@zulipbot claim

[2017-02-22 03:38] #3751 closed

[2017-02-22 03:47] timabbott commented on #3678
@zulipbot claim

[2017-02-22 03:55] timabbott commented on #3395
This is somewhat documented here: http://zulip.readthedocs.io/en/latest/chat-zulip-org.html

I think we should also add a mention in the README.md content.

[2017-02-22 04:14] lonerz opened #3752 "Add zulipbot to README.md"
More details: https://chat.zulip.org/#narrow/near/155361/stream/general/topic/zulipbot.20is.20alive!

[2017-02-22 04:15] lonerz commented on #3752
@zulipbot claim

[2017-02-22 04:19] #3678 closed

[2017-02-22 05:52] timabbott commented on #3699
The file backend kinda sucks in that it puts all the emails in different files, but it's servicable.  I did something that should make this work and documented it in #3753.

[2017-02-22 06:39] #1409 closed

[2017-02-22 06:42] timabbott commented on #570
We added support for showing uploaded files in #454, and you can do the rest with a `has:attachment` search.  So this is done.

[2017-02-22 06:42] #570 closed

[2017-02-22 06:44] timabbott opened #3754 "Add user documentation article for "how to view messages containing files or links?""
I think this can be a fairly brief article that explain you can do this with a search query of the form `has:attachment` or `has_link` and then link to the main search docs for details, to avoid needing a lot of duplicated content.  The main point of this article would be to help people search for this info.

[2017-02-22 15:38] showell opened #3757 "Restore delete-avatar button"
@brockwhittaker @timabbott We lost the delete-avatar button in user settings as part of the re-design.  The button is useful if you don't like your avatar and just want to go back to using a gravatar.

[2017-02-22 16:38] singh1114 commented on #3664
So, is someone assigned for the work, or can I do it?

[2017-02-22 17:27] singh1114 commented on #3664
Procedure:
@rishig

1. First of all, I will download the minified version from [](http://1000hz.github.io/bootstrap-validator/dist/validator.min.js) and then paste it in a folder inside the static/third with a name bootstrapValidator.
2. Then I will change the HTML of the form so that the validations can be applied.
3. Finally, I will write some JavaScript such that the errors are only shown when

[2017-02-22 17:27] showell commented on #734
@timabbott @umairwaheed Once the new email-related changes hit master, we may want to close this ticket and open a new ticket that refers specifically to the admin component of this.

[2017-02-22 17:35] nicholasbs commented on #3750
I'm happy with the current behavior, and I've rarely if ever wanted flexibility beyond what `@all` does now.

If you do add additional `@-mention` groups, I'd encourage you to consider defining them based on the people they address (e.g., everyone on this stream, everyone who's online, etc) and not what type(s) of notifications they trigger. This is much easier to reason about and explain because

[2017-02-22 17:55] showell commented on #374
One new development here is that our mention autocomplete now deals with white space better.

[2017-02-22 18:00] rishig commented on #3664
Hi Ranvir, thanks for looking in to this and sorry for the cryptic message last time! Let's do just the following:
* Change the error text positioning to be vertically aligned
* Change the outline of the erroring boxes to red

This can just be done in our current codebase, without the bootstrap-validator dependency.

Feel free to take it!

[2017-02-22 18:04] lonerz commented on #3664
@singh1114 you can claim this by commenting `@zulipbot claim`

[2017-02-22 18:05] lonerz commented on #3664
@timabbott @rishig can you take me off assignee and add @singh1114

[2017-02-22 18:09] singh1114 commented on #3664
@zulipbot claim

[2017-02-22 18:10] showell commented on #3662
I made a recent change related to this issue, where we weren't allowing folks to rename a stream to a different casing.  I don't think my fix would have broken this, but we should definitely test the scenario of renaming "social" -> "Social" when we fix this issue.

[2017-02-22 18:39] timabbott commented on #3664
Fixed it for you @lonerz  :)

[2017-02-22 18:41] timabbott commented on #374
Yeah; that helps a lot with ensuring folks pick out the user they want.  Now we just need to figure out how to handle exact name collisions; either by preventing them (you can't change your name to a name someone already has) or changing how we encode @-mentions (which would probably be reasonable as well).

[2017-02-22 18:45] timabbott commented on #3757
@brockwhittaker can you add this to your list?

[2017-02-22 19:17] lonerz commented on #3395
@zulipbot claim

[2017-02-22 19:57] timabbott commented on #734
Yeah, that makes sense to me.

[2017-02-22 20:08] timabbott commented on #3738
No luck reproducing this, sigh.  Is it possible that your Alt key is flaky or something?

[2017-02-22 20:12] HarshitOnGitHub commented on #3750
What if apart from having a set of system defined "mention-words", we allow admins to create custom "mention-words" and let the users to manage their "subscriptions" to these words. The "mention-words" can be either realm-wide or stream specific. For example, the admin can create a realm-wide custom mention-word, `@core-team` to which all the core-team members can subscribe to. Further they will b

[2017-02-22 20:45] aripollak commented on #3738
I don't think so, since other sites don't have this problem and `xev` always shows the correct key presses. :smile:  I also don't think it's an extension's fault, since starting firefox with --safe-mode doesn't change the behavior.

Also, as an interesting data point, this incorrect behavior sometimes doesn't happen if I have Chrome Developer Tools open on the Timeline or Profiles tab (even withou

[2017-02-22 21:39] hlieberman opened #3761 "Regression 1.4 -> 1.5: Cannot look up timestamps"
Previously to the 1.5 release, we were able to look up the exact time that a given message was sent by hovering over the tooltip.  We should restore this functionality somehow.

(Perhaps continue showing the time on hover and push the other contextual menu to the left?)

[2017-02-22 22:10] synicalsyntax commented on #3577
@zulipbot claim

[2017-02-22 22:11] synicalsyntax commented on #3577
@timabbott @trueskawka Mind taking a look at #3715 that I opened for this issue?

[2017-02-22 22:13] synicalsyntax commented on #3723
@zulipbot claim

[2017-02-22 22:19] synicalsyntax commented on #3754
@zulipbot claim

[2017-02-22 22:30] lonerz opened #3762 "Back arrow in Subscriptions window does not work"
1. Go to the subscription [window](https://chat.zulip.org/#subscriptions).

2. Click any stream, a back arrow pops up. See picture below.

![screen shot 2017-02-22 at 2 28 30 pm](https://cloud.githubusercontent.com/assets/12992571/23235696/599242b2-f90b-11e6-858a-74c5f02ea7ea.png)

3. Click the back arrow. The back arrow disappears, but nothing happens.

[2017-02-22 22:43] lonerz commented on #3762
Probably want to look at `static/js/subs.js`.

[2017-02-22 23:00] lonerz commented on #3762
Git grep `icon-vector-chevron-left` also works.

[2017-02-22 23:02] lonerz commented on #3762
It seems like if you shrink the browser, the back arrow works.

[2017-02-22 23:15] brockwhittaker commented on #3762
Hey thanks for the report @lonerz! It's not actually supposed to work in full screen since it wouldn't actually do anything. In certain @media queries it works because the stream settings overlaps over the list.

I'll fix this by removing the arrow, thanks!

[2017-02-22 23:18] brockwhittaker commented on #3761
We're working on coming up with a good solution in the next two days! Thanks for the report @hlieberman.

[2017-02-23 00:05] rishig commented on #3677
yeah, confirmed. In this case iamcal [1] agrees with slightly_smiling_face, so when we update to that naming (currently being worked on) this should be fixed. Thanks for reporting and hopefully :simple_smile: works as a workaround in the mean time? It is also the smile emoji I like the most :).

[1] https://github.com/iamcal/emoji-data/blob/master/emoji_pretty.json

[2017-02-23 00:27] showell opened #3766 "Restore timestamp hovers."
We should restore the pre-1.5 behavior where hovering over the timestamp gave you full date info and per-second granularity.

To make this happen we need the chevron/star/reaction menus to be to the left of the timestamp.

[2017-02-23 00:53] timabbott commented on #3766
Duplicate of #3761.

[2017-02-23 00:53] #3766 closed

[2017-02-23 01:39] #1268 closed

[2017-02-23 04:09] rishig opened #3769 "Fix naive datetimes in google-calendar bot."
We're moving away from all naive datetimes in Zulip (i.e. datetimes without timezone information), since naive datetimes introduce subtle daylight savings bugs (including here).

The events array in `/api/integrations/google/google-calendar` currently stores naive datetime objects, and it should instead store events in UTC. The two functions that touch it are `get_events()` (via `events = list(get

[2017-02-23 04:14] umairwaheed commented on #1760
@hackerkid, if it's alright I can take care of the backend part for this.

[2017-02-23 04:52] #2732 closed

[2017-02-23 05:31] lonerz opened #3771 "Add zulipbot and zulipbot features to docs"
#3770 updates the README.md. We should have a more in depth article on zulipbot and its feature in the docs. Look at README.md of @zulipbot for details.

[2017-02-23 06:27] #2958 closed

[2017-02-23 06:27] #3699 closed

[2017-02-23 06:40] #3752 closed

[2017-02-23 06:51] timabbott commented on #3757
Fixed via #3763.

[2017-02-23 06:51] #3757 closed

[2017-02-23 06:56] hackerkid commented on #1760
@umairwaheed Sure. :)

[2017-02-23 07:05] robot-dreams commented on #3769
@rishig What's your recommendation for handling the RFC 3339 formatted timestamp returned by the Google Calendar event API?

It looks like Python doesn't natively support this format: https://bugs.python.org/issue15873; would you prefer (a) importing a 3rd party library, (b) handling the time zone part (which will be one of `Z`, `+XX:XX`, or `-XX:XX`) by hand, or (c) something else altogether?

[2017-02-23 07:30] #3362 closed

[2017-02-23 07:36] babhishek21 commented on #3741
I suspect its https://github.com/zulip/zulip/blob/master/static/js/popovers.js#L211-L213 .
Funnily enough, in my tests, I could never get a "top" placement for the popover. Can I work on this?

[2017-02-23 07:37] lonerz commented on #3741
@babhishek21 go ahead and claim the task by mentioning the zulipbot

[2017-02-23 07:38] lonerz commented on #3771
@zulipbot label "docs: area: documentation (developer)"

[2017-02-23 07:38] lonerz commented on #3771
@zulipbot label "area: documentation (developer)"

[2017-02-23 07:44] souravbadami commented on #3169
@zulipbot claim

[2017-02-23 07:47] #1332 closed

[2017-02-23 07:47] timabbott commented on #1332
Tonight's developer docs project was putting all this stuff into the migration docs; @showell feel free to add anything that you think I missed!

[2017-02-23 07:48] timabbott commented on #2564
I documented the migrations piece just now as part of #1332.

[2017-02-23 07:49] timabbott commented on #3705
@brainwane just wanted to follow up on this; did you have a specific type of missing translation tag issue in mind?

[2017-02-23 07:50] lonerz commented on #3769
@zulipbot label "hi"

[2017-02-23 07:51] timabbott commented on #1673
Added one item to the list for this, but I think this is actually probably accessible to someone new; we can teach them how to use coveralls (/ the coverage HTML reports) efficiently, and then they can document it :).

[2017-02-23 07:55] timabbott commented on #1649
Step 1 for this is probably just to split the "templates" discussion out from translating.md into its own document `docs/html-templates.md`.  After doing that, the things to mention are:
* Links to the docs for the 2 templating systems for how to do conditionals/etc.
* Mention of the include syntax for each (since that's a common thing to want and can be hard to search for)
* Mention of `zerver/co

[2017-02-23 07:59] timabbott commented on #258
This was implemented before Zulip 1.5; there's #3761 for the timestamp visibility issue, which I think still needs work.

[2017-02-23 07:59] #258 closed

[2017-02-23 08:01] timabbott commented on #587
I think this was fixed months ago.

[2017-02-23 08:01] #587 closed

[2017-02-23 08:03] rishig commented on #3769
Thanks for looking into this @robot-dreams! And you are definitely welcome to work on it :). I'd say something from a 3rd party library, like `dateutil.parser`.

[2017-02-23 08:03] janga1997 commented on #3771
@zulipbot claim

[2017-02-23 08:04] babhishek21 commented on #3741
@zulipbot

[2017-02-23 08:05] lonerz commented on #3741
@babhishek21 make sure to write "claim" after the mention

[2017-02-23 08:06] timabbott commented on #1914
I think the bug here is that `render_to_response` doesn't run the `context_processors` including the one that sets LANGUAGE_CODEW, and we should be using the `render` shortcut everywhere instead.

[2017-02-23 08:06] babhishek21 commented on #3741
@zulipbot claim

[2017-02-23 08:07] janga1997 commented on #3771
@lonerz So basically you want the README.md of zulipbot to be placed in the docs with minor changes, or do you want me write up new documentation altogether?

[2017-02-23 08:08] lonerz commented on #3771
@janga1997 hold off on this. mentioning @timabbott to see what he thinks.

[2017-02-23 08:11] timabbott commented on #2258
Is this still broken?  I think it might have been fixed.

[2017-02-23 08:16] timabbott commented on #3771
@synicalsyntax I think we've discovered a fun zulipbot bug -- it lets you create labels that didn't exist at all in the project "e.g.  `docs: area: documetation (developer)` above.  It should reject requests for labels that don't exist yet.

[2017-02-23 08:19] timabbott commented on #3771
@lonerz I think we probably want to just have a section that we expect to not change as we add new features to Zulipbot and can copy-paste into each repo, like this:
[code]

[2017-02-23 08:22] lonerz commented on #3771
@timabbott yea.. I've been working on being able to remove labels on zulipbot. We definitely should add something that blocks you from adding labels that have not existed before.

[2017-02-23 08:28] umairwaheed commented on #2564
@zulipbot claim

[2017-02-23 08:30] janga1997 commented on #3771
@timabbott So just to be clear. Just a one para of basic info in a new markdown?

[2017-02-23 10:03] babhishek21 commented on #3741
So my dev environment is all setup and running well. What should be the next course of action?

[2017-02-23 10:11] rishig commented on #3361
@zulipbot claim

[2017-02-23 10:24] souravbadami commented on #3741
@babhishek21 -- The next course of action should be to try to fix the issue. A good start might be to look into the file you mentioned earlier.

[2017-02-23 10:38] timabbott commented on #2734
I believe we discovered that this issue was caused by local echo being disabled.  So I think the bug still exists if you disable local echo / websockets.  Leaving it open for that reason.

[2017-02-23 10:43] timabbott opened #3774 "Add 'size' field to Attachment model to track sizes of uploaded files"
Currently, we don't track how large the files uploaded by users are, which isn't great.

We should add a `size` field to the Attachment model, where we store the size of an uploaded file.  The purpose is to support future features where we limit or display how much storage is used by each user/realm/etc.  The field can be nullable (existing files will start as being marked with size null, and then

[2017-02-23 10:59] #1717 closed

[2017-02-23 11:04] timabbott opened #3775 "Add server-side syncing for drafts functionality"
We have an awesome new drafts feature, powered by local storage.  It needs to be powered by local storage, so that it can protect users from losing draft compositions even when their laptop is off the internet.

But it is probably worth adding some sort of server-side syncing for this, because users will probably expect that is how drafts work, and there is a real convenience is being able to see

[2017-02-23 11:17] #734 closed

[2017-02-23 11:21] timabbott opened #3776 "Changing your email address causes you to lose your avatar"
Reproducer:
* Upload avatar
* Change email address
* Reload settings page -- your avatar will be a broken link.

I believe this is because our avatar URLs are (unwisely) based on a hash of the user's email address, and when that changes, one loses it.  I think probably the right strategy for fixing this is actually to change the avatar URL scheme to be based on user IDs, and just do a migration to

[2017-02-23 11:26] timabbott opened #3777 "Add a realm option to prevent users from changing their email addresses"
For organizations that are using a single sign-on solution like LDAP or Google auth, they may want to prevent users from changing their email address in Zulip (which would make it no longer match the other tools their org is using), because it would actually break those users' login process / accounts.

So, just like we have a setting to prevent users from changing their own names, we should add a

[2017-02-23 11:55] timabbott commented on #3750
I think that idea is probably #165 ?

[2017-02-23 12:03] timabbott opened #3778 "Update Python dependencies to latest versions"
We have a pretty long list of no-longer-latest dependencies again; probably only ~5 of these there's a good reason not to upgrade.
[code]

[2017-02-23 12:55] babhishek21 commented on #3741
So I tinkered around a bit more. Strange things are happening:
1. As https://github.com/zulip/zulip/blob/master/static/js/popovers.js#L211 currently stands, the logic _performs_ faulty on my system. `elt.offset().top` returns the offset relative to the viewport top **instead** of the document top (the latter should occur according to the [jQuery docs](http://api.jquery.com/offset/)). Thus the prop

[2017-02-23 13:45] hackerkid commented on #3778
@zulipbot assign

[2017-02-23 13:45] hackerkid commented on #3778
@zulipbot claim

[2017-02-23 14:08] showell commented on #1659
The CSS classes already have some pretty-printer capability, so I think the way to do this linting is to enhance the pretty-printing to be indentation-aware, and then fail the lint if pretty_print(text) != text.  And then the tool can provide a diff showing how you want to fix the code.

[2017-02-23 15:57] synicalsyntax commented on #3771
@timabbott @lonerz Oh, I already knew that something like that could happen, but I thought it might be nice for users to create their own labels for their issues. Regardless, I can easily check if the label exists before adding it. Working on implementing that feature now.

@timabbott, do you mind deleting the "docs: area: documentation (developer) " tag from this issue and repository to prevent f

[2017-02-23 16:21] showell commented on #2604
@timabbott The next time you, Brock, or I is in stream settings code, we should see if this is no longer a bug.  I made a note to myself for when I touch subscribers next, but it may be a couple days.

[2017-02-23 16:24] showell commented on #2388
I'm closing this, as we've made lots of changes since then, and it doesn't seem sluggish to me.  If it's still sluggish, we should probably just open a new ticket, so that it's more likely to be seen by folks looking for issues.

[2017-02-23 16:24] #2388 closed

[2017-02-23 16:28] showell commented on #2364
I'm closing this, as it's not super actionable at this point.  As more folks start to use the latest re-design, we may get similar feedback and open a new, similar ticket.  I find it a little confusing as well under the new UI that you have to click "All Streams" first to subscribe.  I think it's more common to want to subscribe then un-subscribe.

[2017-02-23 16:28] #2364 closed

[2017-02-23 16:37] showell opened #3779 "Fix back button when adding a new stream."
Go to manage streams, enter a new stream in the textbox, hit "+" to start adding the stream, and then hit the back button.  The back button disappears without doing anything obvious.  I would expect it to restore the list of streams and cancel the add-stream operation.

[2017-02-23 16:38] showell commented on #2258
Closing this, but opening #3779, which has a similar repro (but not exactly).

[2017-02-23 16:38] #2258 closed

[2017-02-23 16:41] PhilSk commented on #3774
@timabbott Will that be okay to choose models.DecimalField(blank=True, null=True, max_digits=10, decimal_places=5) ?

[2017-02-23 16:44] showell commented on #2059
@timabbott I am closing this, because I just don't see us realistically addressing this in a technical way that will work better than the social mechanisms already in place.  The one technical solution we have put in place was indeed helpful--adding stream counts--but my experience is that most of the effort getting people to find the right streams kind of happens organically in a large realm, whe

[2017-02-23 16:44] #2059 closed

[2017-02-23 16:48] showell commented on #2044
@timabbott This issue may be mostly covered by #2745 and #2606.

[2017-02-23 16:50] PhilSk commented on #3774
I think, i can do it

[2017-02-23 17:10] lonerz commented on #3774
@PhilSk go ahead and claim the task by mentioning zulipbot and commenting "claim"

[2017-02-23 17:20] PhilSk commented on #3774
@zulipbot claim

[2017-02-23 17:24] showell commented on #1518
This is mostly addressed by us now having subscriber counts, and #3458 proposes making "Manage Streams" have the ability to sort by subscriber count.  I do think there are more advanced things we can do here, but I'm confident they will come up in future discussions, so I'm closing this for now.

[2017-02-23 17:24] #1518 closed

[2017-02-23 17:25] showell commented on #1518
I'll open a new ticket for the "/discover" idea.

[2017-02-23 17:27] showell opened #3780 "Create a /discover page."
This is an idea borrowed from #1518--we may want a page in our system that helps folks discover stuff like streams they should subscribe to or users who they should pin on their buddy lists, etc.  This would be different than search--it would be for finding stuff that you don't even know exists.  This could possibly have some tie-ins to analytics data.

[2017-02-23 17:36] showell commented on #1365
I'm taking the liberty to close this, as it was a riff on my other ticket (#1364) that was already addressed.  This is the kind of idea that if it's a good idea, it will come up again, and it's definitely not mission critical.

[2017-02-23 17:36] #1365 closed

[2017-02-23 17:40] showell opened #3781 "Add a way to search for users in a stream."
We don't have a super easy way for large streams to search for users that are subscribed to it.  You can kind of do it if you understand how the compose-fade feature works, but we probably want to address this in stream settings somehow.

[2017-02-23 17:41] showell commented on #1292
We have subscriber counts in the stream settings now.  Opening #3781 to address the user search piece.  Closing this ticket.

[2017-02-23 17:41] #1292 closed

[2017-02-23 18:06] singh1114 commented on #3664
@rishig

For editing the box outline to red should I use JavaScript?

[2017-02-23 18:13] lonerz commented on #3664
@singh1114 You'll probably have to use JS and some HTML/CSS

[2017-02-23 18:18] showell opened #3782 "Improve stream creation for large orgs."
Since opening #1185, we've made it somewhat easier to create streams with large numbers of invitees, as copy-from-stream reduces the burden for some types of new streams, and we do have user filters.

It's still a bit awkward to do the invites, as it's not super easy to see which users you've already invited.  One suggestion Tim had in #1185 is to sort the user filter so that already-checked users

[2017-02-23 18:19] showell commented on #1185
Re-opening under #3782 to get more attention for this.  Closing this.

[2017-02-23 18:19] #1185 closed

[2017-02-23 18:21] showell commented on #3782
One thought that I've had is to make stream creation a two-step wizard.  The first page lets you set name/description/etc., and then the second page lets you manage subscribers.  We wouldn't actually create the stream until you did the stuff on page two.

[2017-02-23 18:25] singh1114 commented on #3664
Also, when I am filling this form
[http://localhost:9991/accounts/password/reset/](http://localhost:9991/accounts/password/reset/)
I don't get the email so I cannot check the changes that I have made.

@lonerz
![noline](https://cloud.githubusercontent.com/assets/11356398/23272963/4a8f7f6e-fa23-11e6-823b-cbfb926bd198.png)
There is no difference between error message and input field. Should I use th

[2017-02-23 18:30] lonerz commented on #3664
@singh1114 all emails are sent in the console where you ran `./tools/run-dev.py`.

[2017-02-23 18:33] singh1114 commented on #3664
It says:
Password reset attempted for ranvir.singh1114@gmail.com; no active account.
But I double checked by logging into the zulip website and I was able to login.

[2017-02-23 18:34] lonerz commented on #3664
@singh1114 you have to password reset one of the existing accounts like cordelia.

[2017-02-23 18:37] HarshitOnGitHub commented on #1183
@zulipbot claim

[2017-02-23 18:38] singh1114 commented on #3664
@lonerz Thank you!
Any idea on the use of line break or margin.

[2017-02-23 18:39] showell opened #3783 "Create a stream owner/permission concept."
This ticket basically replaces #566, and I'm creating a new ticket to draw more attention to the concept.

We would like to have the notion of a "stream owner," who is a person that can admin particular streams without having full-realm-wide admin powers.  Stream owners would be able to do things like forcibly remove users from the stream, change the description, and rename the stream.

One of the

[2017-02-23 18:40] showell commented on #566
Moving this to #3783.

[2017-02-23 18:40] #566 closed

[2017-02-23 18:44] lonerz commented on #3664
@singh1114 I honestly don't know; probably should look at other error fields on the site

[2017-02-23 18:53] showell commented on #563
I'm closing this.  For the admin pages, we may indeed eventually want a filtering API, but it's pretty manageable now, since you can just use normal browser search or scrolling to find the streams you want to delete.  It might also help to have subscriber counts on the admin pages.  I think these issues will come up organically as we get more devs working on the admin pages for other tickets.  @ti

[2017-02-23 18:53] #563 closed

[2017-02-23 18:55] lonerz commented on #3762
@zulipbot label "area: stream settings" "area: settings UI"

[2017-02-23 19:00] showell commented on #424
This is now covered by #3783 so closing.

[2017-02-23 19:00] #424 closed

[2017-02-23 19:06] showell commented on #3783
If you work on this ticket, you should also consider more advanced permissions models for streams, such as the one discussed in #425.  We occasionally hear use cases for wanting to invite folks to streams with read-only permissions (or even entire realms).

[2017-02-23 19:06] showell commented on #425
This is now coveredin #3783.

[2017-02-23 19:06] #425 closed

[2017-02-23 19:10] bgilbert commented on #2364
As far as I'm concerned, the gray checkmark that now appears on hover addresses the issue.

[2017-02-23 19:14] showell commented on #3779
Dup of #3762

[2017-02-23 19:14] #3779 closed

[2017-02-23 19:15] hlieberman opened #3786 "Realm administrators no longer able to admin invite-only streams"
Pre-1.5, realm administrators were able to see the existence of invite-only streams that they were not invited to.  This allowed them to moderate them to remove users (as described in #424), as well as delete the streams entirely.

Since 1.5, however, realm administrators can no longer see invite-only streams.  As a result, and due to #3783 still being open, the UI presents no mechanism for anyone

[2017-02-23 19:41] showell commented on #1051
I'm closing this issue, as we've demonstrated that we make organic progress here.  The recent "area:" labels help, and we also have the new zulipbot.

[2017-02-23 19:41] #1051 closed

[2017-02-23 19:48] showell commented on #3386
@timabbott I am closing this.  There's still one known remaining issue here, where recipient checks are using email instead of user_ids, but it's not a show stopper and I'm working on it.

[2017-02-23 19:48] #3386 closed

[2017-02-23 19:51] #1495 closed

[2017-02-23 20:00] showell commented on #3734
update: We now have `avatar_source` and `avatar_version` in `active_user_dict_fields`.

[2017-02-23 20:27] timabbott commented on #3786
Interesting, are you sure that admins could remove users from invite-only streams they were not subscribed to?  My recollection of the 1.4 experience was that you had to invite the admin to the invite-only stream and _then_ that person could remove other people, which was ridiculous, but I guess this wouldn't be a regression there.  I guess we can test this pretty quickly, but in some sense it doe

[2017-02-23 20:38] hlieberman commented on #1679
We've had a request from one of our users for functionality that allows you to skip to the next unread stream or topic.

(Though, as an emacs user, I'm obligated to oppose anything like vim keyboard shortcuts. ;-) )

[2017-02-23 20:44] timabbott commented on #1292
@showell the idea for this ticket would be for an organization that has 5000+ members to only send down to clients the counts of users, not the actual subscribers (or something).  I think this issue report didn't make that clear, and it's fine to reopen a new one for that idea anyway?

[2017-02-23 20:44] timabbott commented on #3781
Yeah, this is probably something that makes sense to do after splitting out a "susbcribers" tab or something that can have a bit more of its own UI.

[2017-02-23 20:46] timabbott commented on #3780
Currently the "All streams" tab of the  "/#subscriptions" page is intended to serve that purpose; but I think it needs some additional data+filtering/sorting elements to really complete that vision.  This issue can be for implementing such elements.

[2017-02-23 20:48] timabbott commented on #3774
@PhilSk I would probably make it a `models.IntegerField` with the number of bytes; there's no particular reason to store a DecimalField since we're not going to have fractional bytes.

[2017-02-23 20:50] timabbott commented on #2388
Yeah, we fixed this and forgot to close the issue, I think.

[2017-02-23 20:52] timabbott commented on #3771
Cleaned up :)

[2017-02-23 20:54] timabbott commented on #1679
Yeah, that specific hotkey ("jump to next unread topic") I think would be super valuable to add.

[2017-02-23 21:12] YagoGG commented on #2056
@zulipbot claim

[2017-02-23 21:13] timabbott opened #3790 "Add timestamps to drafts showing when last modified"
Now that we've got this cool new drafts feature, I feel like it'd be useful to show when a given draft was last modified by the user, to help in triaging :)

[2017-02-23 21:14] timabbott commented on #3790
@sampritipanda this one may be quick for you since you were just adding this feature :)

[2017-02-23 21:27] showell commented on #1292
Yep.  I'm holding off on opening a new issue for this, since I think we already have a good idea of the scaling problems that will happen with 5000+ member organizations (subscribers, buddy lists, etc.).

[2017-02-23 21:30] timabbott commented on #3734
Cool, converted to checkboxes and added that :)

[2017-02-23 21:33] timabbott opened #3791 "settings: backdrop leaked when hitting "escape" with a modal open"
Reproducer: Go to the settings pages, open a modal (e.g. "change email"), and hit escape.  The modal backdrop will be leaked.

Since the backdrop doesn't appear naturally when you open the modal, this is pretty broken :/.

[2017-02-23 21:33] showell commented on #3737
Just an update that this is still on my list, but it probably won't happen until next week.

[2017-02-23 21:36] hlieberman commented on #3786
@timabbott, yeah, I'm sure it's a regression.  I've definitely done it before; the reason that it got routed to me today internally is because one of the people I'd done it for previously pointed it in my direction.

Either way, not a big issue -- I was able to use the manage.py remove_user_from_stream script as a fallback.

[2017-02-23 21:37] timabbott commented on #3786
OK, good to know.

[2017-02-23 21:41] showell commented on #1332
I think we want to socialize the concept of getting your migrations sorted out early so we can merge them before numbering conflicts occur, but it might be too nuanced to convey over docs.

[2017-02-23 22:28] #3762 closed

[2017-02-23 22:47] sampritipanda commented on #3790
I think we should also sort it by updatedAt.

[2017-02-23 22:48] timabbott commented on #3790
Yes, definitely.

[2017-02-23 22:51] lonerz opened #3793 "Update user documentation for muting topics"
There's a really good way to unmute topics from settings.

1. Go to settings.

2. Go to the "Muted Topics" list on the left

3. You can see and unmute topics without trying to find them.

[2017-02-23 22:52] lonerz commented on #3793
@zulipbot label "area: documentation (user)" "enhancement" "help wanted" "bite size"

[2017-02-23 23:35] timabbott commented on #3653
Cool, thanks to @brockwhittaker, I think all that's left here is the rename + user docs updates.

Anyone want to claim that project?

[2017-02-23 23:40] wohali commented on #168
Hi @brainwane. IRC has a few different ignore functions, both server-side and client-side.

Client-side is much as you state: you can /ignore someone client-side, and the client can offer any number of permutations of ignoring everything, just private messages, CTCP/DCC, invidations, etc. Typically clients silently drop this traffic and do not provide something like the proposed "Someone you are i

[2017-02-24 00:11] khantaalaman commented on #3791
Fixed in upcoming PR.

Thanks!

[2017-02-24 02:21] timabbott commented on #3761
BTW a workaround available in Zulip 1.5 is that if you click on the sender's avatar, the full timestamp is available there.

[2017-02-24 03:00] brainwane commented on #3705
@timabbott [here's an example](https://github.com/zulip/zulip/pull/3349#issuecomment-280515561) - I agree, a linter rule would be more important.

[2017-02-24 03:43] synicalsyntax commented on #3793
@zulipbot claim

[2017-02-24 06:15] lonerz opened #3796 "Esc doesn't work to exit message edit when the cursor is in topic field"
1. Take a message that has been locked from editing (so topic editing only). Or edit a message and have your cursor in the topic field.

2. Press ESC and nothing happens. It is supposed to close out of editing the message, but doesn't seem to work.

After playing around with message editing, it seems like pressing ESC while your cursor is in the Topic field does not close message editing automatic

[2017-02-24 06:17] lonerz commented on #3796
@zulipbot label "area: message-editing" "bite size"

[2017-02-24 06:22] lonerz commented on #3796
@zulipbot label "help wanted"

[2017-02-24 06:29] lonerz opened #3797 "ESC button behavior is unpredictable in message editing and viewing source"
1. Go to an old message and narrow to that topic. For example [testing123](https://chat.zulip.org/#narrow/stream/test.20here/topic/testing123).

2. Click any message and look at its source.

3. Now press ESC. This brings you back to the homepage. This shouldn't happen and should only close the viewing source ideally.

Not sure if this is supposed to happen or that it is actually a feature because

[2017-02-24 15:51] showell commented on #341
#3708 is the newer version of this ticket.

[2017-02-24 15:51] #341 closed

[2017-02-24 15:54] jajodiaraghav commented on #3796
@zulipbot claim

[2017-02-24 18:00] showell commented on #3797
This sounds like a bug to me.  It's true that ESC is supposed to take you Home in certain situations, but we should have it do the correct thing locally for things like editing messages.

[2017-02-24 20:01] khantaalaman opened #3802 "View Source misbehaves for message sources already being viewed."
WTR:

1. Choose to view source of a message having 4-5 messages after itself.
2. Again choose view source when the source is already visible.

After following above steps, the narrowed message automatically gets changed to the next message. I believe `View Source` option should not be available if source is already visible.

Supporting GIF:

![optimised](https://cloud.githubusercontent.com/assets/

[2017-02-24 20:04] timabbott commented on #3802
Definitely a minor bug; I bet we have the same thing for the "edit message" UI as well.  Probably the right fix is to make it say "Close view source" in the menu (and do the same thing as a "close" button)?

[2017-02-24 20:19] khantaalaman commented on #3802
Cool. I'll take this up.

[2017-02-24 20:23] timabbott commented on #3797
Agreed.  One thing which is interesting here is that you can have multiple message edits open at a time, and also the compose box open, so we'll need to be thoughtful about the exact semantics.  Maybe something like:
* If focus is in compose, it closes compose
* If focus is in an edit box, it closes that edit box
* If focus is not in any of those places (or some other open modal, etc.), it unnarro

[2017-02-25 00:54] lonerz commented on #3802
@khantaalaman can you claim this task with zulipbot

[2017-02-25 01:24] lonerz commented on #3791
@khantaalaman can you claim this with zulipbot

[2017-02-25 01:32] lonerz commented on #3797
@zulipbot label "help wanted"

[2017-02-25 01:33] lonerz commented on #3797
@synicalsyntax I just tried adding the "help wanted" label and it seems like zulipbot is throwing an error.

[2017-02-25 01:33] lonerz commented on #3797
@zulipbot label "help+wanted"

[2017-02-25 01:35] lonerz commented on #3797
@zulipbot label "bite size"

[2017-02-25 01:46] synicalsyntax commented on #3797
That's interesting... taking a look right now

[2017-02-25 01:46] synicalsyntax commented on #3797
@zulipbot label "help wanted"

[2017-02-25 01:47] synicalsyntax commented on #3797
@zulipbot claim

[2017-02-25 01:48] synicalsyntax commented on #3797
@zulipbot label "help wanted"

[2017-02-25 01:48] synicalsyntax commented on #3797
Claim seems to be working but not the label function; @timabbott Do you mind removing the "in progress" and unassigning me from this issue?

[2017-02-25 01:50] synicalsyntax opened #3805 "zulipbot debugging"
My debugging of any bugs found with @zulipbot will go here.

[2017-02-25 01:57] synicalsyntax commented on #3797
@zulipbot label "area: message view"

[2017-02-25 01:57] synicalsyntax commented on #3805
@zulipbot label "area: message view"

[2017-02-25 02:03] lonerz commented on #3797
@zulipbot label "bug"

[2017-02-25 02:04] synicalsyntax commented on #3797
@lonerz Issue found; there are too many issue labels, and @zulipbot is only receiving the first page of labels in the repository; implementing fix now!

[2017-02-25 05:39] jajodiaraghav commented on #3796
For some reason, zulipbot didn't assign me this issue. Is this a bug?

[2017-02-25 06:10] lonerz commented on #3796
@synicalsyntax zulipbot issue here.

[2017-02-25 06:45] lonerz commented on #3618
@showell on iMessage, they ask you and allow you to change the read-receipt settings, which is pretty much what you mentioned.

[2017-02-25 08:29] robot-dreams commented on #3769
@rishig Thanks for the tip.  I've pushed an initial draft, but I had two concerns before I open a pull request:

1. I'm not sure how to test a change to this part of the codebase.  Are there any tests for these integrations?  If not, what's the recommended way to manually test this kind of change?

2. I'm not sure how to interpret the files in `requirements`; how can I ensure that the `dateutil` a

[2017-02-25 09:57] saurabhkanhegaonkar commented on #2985
@timabbott I would like to take this issue. So, while editing the documentation, I was thinking of adding "GitHub" as a requirement in the Developer Environment. So, under the "Requirements", if the developer does not have GitHub he can head over to the github guide link. What do you think ab
out this?

[2017-02-25 09:57] saurabhkanhegaonkar commented on #2985
@zulipbot claim

[2017-02-25 16:55] synicaltests commented on #3805
@zulipbot claim

[2017-02-25 16:56] synicalsyntax commented on #3796
@jajodiaraghav Try again? It's working fine on my end.

[2017-02-25 17:31] jajodiaraghav commented on #3796
@zulipbot claim

[2017-02-25 17:53] synicalsyntax commented on #3805
@zulipbot label bug

[2017-02-25 17:53] synicalsyntax commented on #3805
@zulipbot label "bug"

[2017-02-25 17:54] synicalsyntax commented on #3805
@zulipbot label "not a bug"

[2017-02-25 17:54] zulipbot-test commented on #3805
@zulipbot claim

[2017-02-25 18:33] timabbott commented on #2985
Yeah, I think that's reasonable; I might call it "A GitHub account"?

Also, do you think it should go under "requirements" or here:

http://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#step-2-get-zulip-code

Get some feedback from folks on chat.zulip.org on what they would find most helpful...

[2017-02-25 19:23] rishig commented on #3769
Left some very minor comments, but this looks great, thanks!!
1. Adding @showell for help -- I'm unfortunately not familiar with the bot system myself, yet. For manual testing, http://zulip.readthedocs.io/en/latest/bots-guide.html#how-to-deploy-a-bot has some info.
2. Great question. Other bot integrations seem to just write something like `"# python-dateutil is a dependency for this script.` near

[2017-02-25 19:39] showell commented on #3769
We don't have a full-blown automated testing system, but you can look at `contrib_bots/bots/virtual_fs/virtual_fs.py` for an example of writing tests for a bot that just execute if you run the module standalone.  Eventually we'll sweep the bots and figure out how to create a nicer test suite.

For dependencies, it's also very informal now.  A good comment at the top of the file explaining the depe

[2017-02-25 19:44] rishig opened #3809 "Replace naive datetimes in the asana, basecamp, and codebase integrations."
Zulip is almost a 100% timezone-aware codebase! These are some of the last files with naive datetimes. The problem with naive datetimes is that they tend to fail or produce weird results during daylight savings time, or if the bot server changes timezones (e.g. if the server is running on someone's laptop).

For each file, the goal is to change
* `datetime.utcnow`s to `datetime.now(tz=pytz.utc)` (

[2017-02-26 02:40] #3493 closed

[2017-02-26 02:44] timabbott opened #3813 "Changing stream private does not trigger an event"
When a stream's privacy state is changed (public -> invite_only, or the other way around), we don't send an event, and thus clients have no way of knowing this happened.  This is an interesting case, because for clients that _were_ subscribed, they just need to learn that the stream is now private; but for clients that _were not_ subscribed, effectively the stream is disappearing for them, so some

[2017-02-26 05:30] saurabhkanhegaonkar commented on #3774
@timabbott
I would like to resolve the issue, but can you please elaborate on the issue as I am a new contributor here.
So, in the Attachment model, I'll add a new IntegerField which will store the size of the file from request.FILES. But, what after this, should this field only be in the database?
Also, @PhilSk how are you going about it's implementation ?

[2017-02-26 09:43] jajodiaraghav commented on #3564
@rohithasrk Are you working on the issue or can i take this?
@timabbott Any idea about how to tackle this?

[2017-02-26 09:50] jajodiaraghav commented on #3672
@timabbott Where do we have to make this edit?

[2017-02-26 11:34] derAnfaenger commented on #3809
I'll be happy to claim this issue and get back on contributing :)

[2017-02-26 11:34] derAnfaenger commented on #3809
@zulipbot claim

[2017-02-26 12:32] khantaalaman commented on #3802
@zulipbot claim

[2017-02-26 12:33] khantaalaman commented on #3791
@zulipbot claim

[2017-02-26 12:34] khantaalaman commented on #3731
@zulipbot claim

[2017-02-26 12:52] tejaskasetty commented on #1956
Categorisation of emoji's  - This was the first thing that struck me when i was using the emoji's for my first message. Why aren't they categorised. I was about to post an issue.I thought i would search if one was already present.  I found it.
I have gone through most of the code regarding emoji's , I have a pretty good idea of its working and i would like to work on this issue along with issue [#

[2017-02-26 12:52] tejaskasetty commented on #1956
@zulipbot claim

[2017-02-26 12:53] tejaskasetty commented on #209
@timabbott I would like to work on this issue. Since there has been no work done since its proposal i would assume that no one has claimed this and would like to work on switching the emoji set to EmojiOne. And i went through their collection, as mentioned by others it has a good collection of emoji's and along with this i would like to work on other issue linked to this - regarding improvement in

[2017-02-26 12:58] tejaskasetty commented on #209
@zulipbot claim

[2017-02-26 15:46] showell commented on #3813
For public -> private, we can send a simple notification to all members of the realm, and the clients can do the appropriate thing, either simply flipping the bit if they're still subscribed or removing the sub.

For private -> public, I think we need to send separate events to prior subscribers and prior unsubscribers.  Prior subscribers just need to know to flip the bit, so they should get a sim

[2017-02-26 18:43] robot-dreams commented on #3769
Thanks for the initial review and suggestions!  I ended up testing manually.  @rishig any concerns on https://github.com/zulip/zulip/pull/3812 ?

[2017-02-26 18:57] jajodiaraghav opened #3815 "'Updated Settings' message at the bottom of admin-page"
How to reproduce?
 1. Change the name in the settings page, an "updated settings" message is shown.
 2. Click on Administration tab and scroll to bottom. The message is also present at the bottom of the admin page.

![](https://chat.zulip.org/user_uploads/2/ab/sBK6Sl518DU8vKtZSIphN5UI/Capture.PNG)

[2017-02-26 18:59] jajodiaraghav commented on #3815
@zulipbot claim

[2017-02-26 19:08] timabbott commented on #209
I think our current thinking is we should support multiple emoji sets, rather than just doing a switch.  I think @HarshitOnGitHub may have been doing work on our emoji data to provide support for categories in a way that would also help for supporting multiple emoji sets...

[2017-02-26 19:20] jajodiaraghav commented on #3777
@zulipbot claim

[2017-02-26 19:56] synicalsyntax commented on #3797
@zulipbot abandon

[2017-02-26 20:16] #3660 closed

[2017-02-26 21:02] timabbott opened #3817 "New compose box has performance problem"
If you just hit `enter` to add a bunch of newlines on chat.zulip.org, the compose box is pretty laggy.

@brockwhittaker can you investigate?

[2017-02-27 01:38] timabbott opened #3819 "performance: Build library for estimating height of zulip messages without rendering"
Currently, by a significant margin, the single most expensive part of rendering the Zulip main message feed is determining whether to automatically collapse messages for being too long.  That feature is useful, but definitely not important enough to justify that level of investment.  This feature is expensive in part because it requires rendering the message in the actual feed in order to know whe

[2017-02-27 02:08] #3769 closed

[2017-02-27 02:30] #3539 closed

[2017-02-27 02:43] timabbott opened #3820 "Tabbing back to the topic box from the compose box is broken"
If you start composing a message to a stream/topic pair, and hit `shift+tab` to go back to the topic box, it doesn't properly select the existing topic (or it does, temporarily, and then just leaves your cursor at the end of the topic).

This is a regression in the redesigned compose box that we just merged.

[2017-02-27 02:45] lonerz commented on #3820
@zulipbot claim

[2017-02-27 02:46] lonerz commented on #3820
@timabbott would this be in `static/js/compose.js`?

[2017-02-27 02:48] lonerz commented on #3820
Also, it seems like I can't reproduce this.. I edited my message, `shift+tab` to go to the topic field and the selection stays.

[2017-02-27 02:55] timabbott commented on #3820
I think it might be there it in the HTML template or maybe `composebox_typeahead.js`.  You're right that this is more subtle than I thought it was; I played around with it, and I think the problem only happens if you do a specific order in which you release the shift and tab keys to see the failure mode I noticed.

[2017-02-27 02:56] timabbott commented on #3820
I can reproduce pre-the-latest-change, so it's not actually a regression.  I think the bug is if you release "shift" before "tab" it unselects the text; if you release tab before shift, it seems to open the bootstrap typeahead (if the topic isn't totally new).

I suppose the bug could be something in `hotkeys.js`.

[2017-02-27 02:59] lonerz commented on #3820
@timabbott Ah, I see what you are talking about now.

[2017-02-27 03:17] HarshitOnGitHub commented on #3813
@zulipbot claim

[2017-02-27 03:28] HarshitOnGitHub commented on #3734
Was going to open an issue for this. Realized that this should be done while working on PR #3597. Will start working on this after completing some of the remaining issues on my TODO.

[2017-02-27 03:50] timabbott opened #3823 "Alert words settings UI styling is broken"
This screenshot is pretty self-explanatory:

![image](https://cloud.githubusercontent.com/assets/2746074/23348196/c29864fe-fc5c-11e6-9e61-2513a807023a.png)

This seems to be a very recent regression.

[2017-02-27 04:09] timabbott commented on #3813
Steve's proposed approach sounds good to me.

[2017-02-27 05:05] timabbott commented on #3564
@brockwhittaker may be able to provide advice on browser features that support this, but basically if an image doesn't load, we want to replace it with a fixed 100x100 "error" image.

[2017-02-27 05:06] timabbott commented on #3564
I think given that it's been a few weeks with no PR, it's reasonable to assume that @rohithasrk isn't working on this.

[2017-02-27 05:10] kkanahin commented on #3774
@timabbott  @saurabhkanhegaonkar @PhilSk I've reviewed this issue and I think the best place to receive the file size is `zerver.lib.upload.get_file_info`. Then this data should be sent to `Upload backend` through `zerver.lib.upload.upload_message_image_from_request` function for attachment object creation.

[2017-02-27 05:31] #3395 closed

[2017-02-27 05:40] #2719 closed

[2017-02-27 05:45] timabbott opened #3826 "Convert bot_data.js to work off IDs."
Currently, the `bot_data` data structures and `realm_bots` structure are all based off user email addresses, not user IDs.

Since that data is only used by the webapp (and not mobile, etc.), we should convert it.  Ideally, soon, before a third-party app starts using the data and we have to be more careful about changes to it.

[2017-02-27 05:59] timabbott commented on #3672
I think this is something one needs to do a production install to effectively work on.

@feorlen are you interested in it?

[2017-02-27 06:14] timabbott commented on #3692
Oops, meant to reply.  I think for this endpoint, the caching dynamics that made what it displays make sense don't make sense at all.

I like the "aggregated" idea for making it super simple for clients to get a quick answer, as well.

@kkanahin can you take care of fixing this?  No need to worry about backwards compatiblity.

[2017-02-27 06:19] rishig opened #3828 "drafts: Clicking on any message should open it for edit."
Here is what a sample draft looks like:
![image](https://cloud.githubusercontent.com/assets/890911/23350697/39097362-fc71-11e6-8e0a-79bf5517cd5a.png)
It'd be great if clicking anywhere in the main message area opened the message for editing.

[2017-02-27 06:39] kkanahin commented on #3692
@timabbott Yes, I can take it.

[2017-02-27 06:43] lonerz commented on #1180
@zulipbot claim

[2017-02-27 07:18] timabbott commented on #3761
https://github.com/zulip/zulip/pull/3792 is deployed on chat.zulip.org and works pretty well @hlieberman.  I checked it applies cleanly on 1.5.1.  We'll probably merge it tomorrow, assuming we don't find any issues.

[2017-02-27 07:21] feorlen commented on #3672
@timabbott Sure, although I need a day or two to finish something first.

@jajodiaraghav If you are interested in production Zulip, I'd be happy to discuss how I set up my test machine. It requires a separate host to itself, and is different from running in dev. ([Here's the docs](http://zulip.readthedocs.io/en/latest/prod-requirements.html)) Mostly folks working on Zulip stick to a regular dev en

[2017-02-27 07:22] feorlen commented on #3672
@zulipbot claim

[2017-02-27 08:22] #3796 closed

[2017-02-27 08:31] jajodiaraghav commented on #3564
@zulipbot claim

[2017-02-27 08:33] lonerz opened #3830 "Cannot tab from a locked content field to "Close" button in view source/message editing"
1. Take a message that is not written by you or a message that you can't edit.

2. View the source of the message. The "Close" button should be automatically highlighted.

3. Either double-click in the locked content field to highlight the field or `shift+tab` to the locked content field.

4. Now try to press `tab` to get back to the "Close" button. It doesn't allow you to. If you were able to edi

[2017-02-27 08:35] lonerz commented on #3830
@synicalsyntax there seems to be a minor issue with taking ALL content into account for double quotes. [#14](https://github.com/zulip/zulipbot/issues/14)

[2017-02-27 10:32] jajodiaraghav commented on #3672
@feorlen I was really excited to let a thing or two about zulip-production but am not sure if that's possible on a windows machine with lesser disk space.
BTW, are you available on chat.zulip.org? I couldn't find you there

[2017-02-27 10:35] lonerz commented on #3672
@jajodiaraghav feorlen is on chat.zulip.org. Check your private messages; I sent you the name.

[2017-02-27 12:07] adnrs96 commented on #3776
@zulipbot claim

[2017-02-27 15:30] feorlen commented on #3672
@jajodiaraghav There are instructions in the [SSL documentation](http://zulip.readthedocs.io/en/latest/ssl-certificates.html) on using a self-signed cert and and an IP address, although I have not tried it myself.

I am using a cloud VM service, and my prod host (Ubuntu 14.04) has 4GB of memory and a 2 core processor. I'm using about 4GB of my 40GB disk. I might be able to bring it down to 2GB and

[2017-02-27 19:50] rishig commented on #2059
At minimum we should get the "number of messages sent to each stream in the last week" up to the frontend. We already collect it in the backend, just need to do the work to put it into page_params and then into the stream settings page.

[2017-02-27 22:48] OliverEvans96 commented on #356
This sounds like an awesome project! I think I'd like to consider applying for the GSoC spot to work on this if all parties are still interested!

[2017-02-27 23:36] ara4n commented on #356
We (matrix.org) would still happily support anyone wanting to work on this. In terms of Social Web WG stuff, i'm honestly not sure how ActivityPub and AS2 compare with Matrix.  We've been too stuck in building out Matrix to interface with the W3C, but hopefully the two will at the very least bridge in future :)

[2017-02-28 01:38] synicalsyntax commented on #3771
@zulipbot claim

[2017-02-28 03:33] pranjaypatil commented on #3823
Hi, @timabbott I would like to work on this.
Are you referring to the "waadsf" text in the screenshot? I don't seem to have that when I open settings and select custom alert words. Can you please tell me how to reproduce this?

[2017-02-28 03:38] lonerz commented on #3823
@pranjaypatil yes Tim is referring to the "waadsf" text in the screenshot. The way to reproduce this is to add alert words. When you add an alert word, you get the above screenshot, which shows an off format.

[2017-02-28 03:48] pranjaypatil commented on #3823
@lonerz got it. Apparently it lists the words that were added and clicking the delete button removes them in LIFO order. Wouldn't it be great to have a delete button with each custom alert word? Let me know your thoughts on this. Thanks!

[2017-02-28 03:49] lonerz commented on #3823
@pranjaypatil you can open up another issue for that.

[2017-02-28 03:57] pranjaypatil commented on #3823
Awesome thanks.

[2017-02-28 03:57] phansen01 commented on #3823
@pranjaypatil I don't have zulip setup on my machine right now, but when i worked on #1075 I had implemented the UI as you described:

![](https://cloud.githubusercontent.com/assets/12517033/16280105/a60c5306-3883-11e6-9f96-02f814076151.png)

Maybe the issue you're describing is related to this one.

[2017-02-28 03:59] lonerz commented on #3823
@phansen01 @pranjaypatil this UI was probably accidentally dropped in the new frontend push.

[2017-02-28 04:03] pranjaypatil commented on #3823
Yeah that's what I was wondering, it looks great the way it was implemented. So how is this going to be fixed considering that it was already implemented. I am new to this project so please help me understand the process.

[2017-02-28 04:05] phansen01 commented on #3823
@pranjaypatil I don't know a ton about `CommonJS` but unless I'm mistaken all of the javascript and CSS for your desired UI is still there, I don't imagine it'll be too difficult to re-implement/fix.

[2017-02-28 04:07] lonerz commented on #3823
@pranjaypatil first thing first, you probably want to read this: http://zulip.readthedocs.io/en/latest/readme-symlink.html to start off on how to develop for Zulip. Then, as @phansen01 said, this is a regression, so most of the code is actually there and should be not too difficult to debug and fix.

[2017-02-28 04:17] pranjaypatil commented on #3823
Great, thank you @lonerz @phansen01 for the information.

[2017-02-28 06:12] crazy-canux opened #3841 "Install error on ubuntu14.04."
sudo -i
cd /root
git clone <master-url>
/root/zulip/scripts/setup/install

**But got this errors:**

Error running a subcommand of /root/zulip/scripts/lib/create-production-venv: ln -s zulip-venv /root/zulip/zulip-current-venv
Actual error output for the subcommand is just above this.

Traceback (most recent call last):
  File "/root/zulip/scripts/lib/create-production-venv", line 31, in <module>

[2017-02-28 06:21] timabbott commented on #3841
@crazy-canux can you post `/var/log/zulip/install.log` from the installation?  As the error message you posted clarifies, "Actual error output for the subcommand is just above this.", so it's not possible to help debug without additional details.

[2017-02-28 11:48] khantaalaman commented on #3828
@zulipbot claim

[2017-02-28 14:03] refeed opened #3848 "attachment: The attachment's link showed in the green box when file name has no extension"
From [https://chat.zulip.org/#narrow/stream/frontend/subject/uploaded.20files.20unusual.20behaviour/near/157994](https://chat.zulip.org/#narrow/stream/frontend/subject/uploaded.20files.20unusual.20behaviour/near/157994) :

![screenshot from 2017-02-27 19-50-08](https://cloud.githubusercontent.com/assets/20320125/23407965/da4daf6c-fdf8-11e6-8648-cceb023a9999.png)

frontend > uploaded files unusual

[2017-02-28 14:04] refeed commented on #3848
@zulipbot claim

[2017-02-28 17:24] timabbott opened #3850 "Handle exception when SMTP fails in production"
I think we could probably make the registration flow do something nice rather than just 500ing when the attempt to send email fails with a credential-related error.  I'm imagining a sending you to a custom error page  that explains they should check /var/log/zulip/errors.log...

@feorlen what do you think?

[2017-02-28 17:44] #3650 closed

[2017-02-28 17:56] darshanime commented on #3850
Please note that in my case, the `var/log/zulip/errors.log` was empty, nothing there.

[2017-02-28 18:18] timabbott commented on #3817
This was fixed via 2751fa44e6597409dbded1dbeaa903ddcf1d3a2c; @brockwhittaker looks like you forgot to mention the issue in the commit message.

[2017-02-28 18:18] #3817 closed

[2017-02-28 22:22] #3663 closed

[2017-02-28 23:07] timabbott opened #3853 "Simplify the page_params generation logic"
In zerver/views/home.py, we construct this giant data structure, `page_params`, which is based on the data returned from the `POST /register` API response, but also adds a bunch of other random things.

Ideally, I'd like to move to world where there's at most a few items (e.g. web-only settings) that are accessible there which are not accessible from the Zulip API `/register` endpoint.

I did a bi

[2017-02-28 23:29] timabbott opened #3854 "Optimize the number of steps involved in adding a new organization setting"
We now have a ton of organization settings, and there's always interest in adding more.  In http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html, we have a clear tutorial for how to add such a feature, but it involves a lot of semi-duplicated code.  It'd be great to support some sort of declarative mechanism where we could declare that e.g. `add_emoji_by_admins_only` is a checkbox/boole

[2017-02-28 23:47] timabbott opened #3855 "Fix uwsgi process leaks that cause memcached crashes"
Apparently, uwsgi sometimes leaks old processes that need to be killed manually (or a Zulip application server will run out of memory eventually and start OOM killing).  Ideally, we'd fix the leak, but it's a bit hard to track down.

Until we can debug and fix the leak, I think it's worth building a quick tool that will kill lost uwsgi processes.  One can tell that a process is lost if it is not a

[2017-02-28 23:48] timabbott commented on #3855
I think this should be a script added to `scripts/lib` , and placed in a cron job in `app_frontend.pp`.

[2017-02-28 23:55] rishig opened #3856 "analytics: Change available time ranges for bar graph and pie chart."
We currently have "Last 10 Days", "Last 30 Days", and "All Time" as the three time range options for "Messages Sent by Recipient Type" and "Messages Sent by Client".

Instead, it would be great to do: "Last Week", "Last Month", "Last Year", and "All Time" as the options.

We should also only show the applicable options, e.g. Last Week, Last Month, and All Time but not Last Year if the realm has be

[2017-03-01 00:02] rishig commented on #3713
Note: the sidebar was removed in bf6415c, since the broken links looked bad. So to work on this issue, you'll have to revert that change first (meaning, just paste the removed code back in!)

[2017-03-01 00:11] #2840 closed

[2017-03-01 00:19] rishig opened #3857 "analytics: Add "Last updated" to bottom of the /stats page."
Add a "Last full update: <time>" in light grey to the bottom of the /stats page. It should have a question mark tooltip that says “Full updates of all the graphs happen once a day. The “Messages Sent Over Time” graph is updated once an hour.” This will help with users who are confused why a recent spurt of activity is not being reflected in the graphs.

To implement this: I would suggest having a

[2017-03-01 00:28] timabbott opened #3858 "Stream colors change when you unsubscribe+resubscribe to a stream"
If you unsubscribe and resubscribe to a stream, the color changes, which seems completely unnecessary (since we save the original color anyway!).

I theorize this is somehow caused by our wacky setup where we have color picking code on both the frontend and backend.

Not tagging this as bite size since it might require a decent amount of code reading to fix correctly.

[2017-03-01 00:33] khantaalaman commented on #3858
@zulipbot claim

[2017-03-01 03:19] pranjaypatil commented on #3823
@zulipbot claim

[2017-03-01 03:47] HarshitOnGitHub opened #3861 "Update our existing emoji set."
Currently we are using NotoColorEmoji and AndroidEmoji. It seems that we last updated them in June last year. There have been significant changes in NotoColorEmoji like addition of new gendered professions, rainbow flag, single parent families etc. So it seems a good idea to upgrade them.

[2017-03-01 03:48] HarshitOnGitHub commented on #3861
@zulipbot claim

[2017-03-01 03:59] rishig opened #3862 "left sidebar: Unread counts are vertically a few pixels off."
Seems like a regression from the last few weeks, if someone wants to `git bisect` it.
![image](https://cloud.githubusercontent.com/assets/890911/23445463/71b58068-fdf0-11e6-9ad7-07fdd074dad9.png)
@brockwhittaker

[2017-03-01 04:28] lonerz commented on #3820
@zulipbot abandon

[2017-03-01 04:42] timabbott commented on #3705
Great; I'll add a bit of docs but I've also fixed and linted that class of translation errors; apparently there were more than 30 instances of error messages with that issue, so this lint project was a very worthwhile exercise.

[2017-03-01 04:44] #3705 closed

[2017-03-01 05:46] pranjaypatil commented on #3823
Hi @timabbott,

I have figured out what was causing this issue. Here's how it looks like when fixed.
![image](https://cloud.githubusercontent.com/assets/3683932/23447200/4ed4f8b8-fe17-11e6-9ae3-02cea9c88dce.png)
Apparently the code was using a non-existent css property. I found a property that I guess was designed to apply a coherent design to all UI elements and updated it in the template (handle

[2017-03-01 05:48] timabbott commented on #3823
@pranjaypatil I think you should submit a pull request fixing the CSS.

I think it'd also be good to uncomment the Casper tests and update them to match the other org-admin tests; I think we recently fixed the bug (in an earlier test in the file!) that had caused them to need to be commented in the first place.

[2017-03-01 05:48] lonerz commented on #3823
@pranjaypatil You should create a PR with [WIP] in the title, so it is easier to look at what you have already.

[2017-03-01 05:48] timabbott commented on #3823
I think it'd be reasonable to do a quick PR fixing the feature right now and then work on the casper test at your leisure, if it's not easy to get the casper tests working.

[2017-03-01 05:50] rishig opened #3865 "analytics: Improve new realm experience on /stats."
One of the first things someone might do when trying out zulip is to click on the links in the gear menu, one of which is (or will soon be) a link to the `/stats` page. Currently this page is completely broken for new realms.

A good solution would be to just show fixture data until the realm has a bit of traffic.

Some steps:
* Remove the `min_length` argument from `get_chart_data` and the functi

[2017-03-01 05:54] pranjaypatil commented on #3823
Okay, I will read through the docs to figure out how to submit the PR request. Also, if it is easy to fix the tests right now, then I feel its better they are fixed in this issue. But again, let me know if fixing them later would be better.

Thanks!

[2017-03-01 05:58] #2041 closed

[2017-03-01 07:56] hackerkid opened #3866 "New Topic and New Private Message is not visible in mobile version."
![Screenshot](https://chat.zulip.org/user_uploads/2/c7/vKxsaRGbBKNUNXjmI8efBTf7/Screenshot_2017-03-01-01-40-22-967_com.android.chrome.png)

[2017-03-01 08:18] hackerkid opened #3867 "mobile: Edit and Delete buttons not visible in draft management popup"
![screenshot_2017-03-01-13-43-41-744_com android chrome](https://cloud.githubusercontent.com/assets/7190633/23451287/4759800e-fe85-11e6-85ce-ca90a52d64a5.png)

To access the buttons I had to swipe left. But there is no indication anywhere that there are buttons and I have to swipe left to view them.

![screenshot_2017-03-01-13-43-49-086_com android chrome](https://cloud.githubusercontent.com/asset

[2017-03-01 10:13] jajodiaraghav commented on #3857
@zulipbot claim

[2017-03-01 14:03] sulian opened #3868 "Centreon integration"
Hello

Do you think make, like Nagios, a plugin for Centreon ?

Best regard

Sulian

[2017-03-01 14:13] showell commented on #1526
One of the things to consider for this feature is whether pausing makes you appear "offline" to other folks.  I would think it would, at least after a reasonable amount of time.

[2017-03-01 14:45] showell commented on #3270
This was completed a while ago.  Thanks, @derAnfaenger!  We should probably do ".." eventually.

[2017-03-01 14:45] #3270 closed

[2017-03-01 15:56] souravbadami opened #3869 "Connectivity issue alert box goes over the scroll bar."
![screenshot from 2017-03-01 20 17 31](https://cloud.githubusercontent.com/assets/11073943/23467961/05951370-fed2-11e6-8752-1b2434f18e14.png)

**How To Reproduce**: Get disconnected for a while.
**Environment**: Mozilla Firefox 51.0.1

[2017-03-01 16:59] Diptanshu8 commented on #3477
@feorlen I would like to work on developing this integration. Could you please help me getting started with splunk and what exactly needs to be done?

[2017-03-01 18:08] feorlen commented on #3477
@Diptanshu8 I'm actually almost finished with this. At the time I created this issue, there wasn't a nice way to assign it to myself. I forgot to go back, sorry about the confusion. I will fix that right away, thank you!

If you are looking for an integration to work on, if there isn't something of interest already tagged with the [integrations label](https://github.com/zulip/zulip/labels/area:%20

[2017-03-01 18:09] feorlen commented on #3477
@zulipbot claim

[2017-03-01 18:27] rishig opened #3870 "message edit: Remove emoji reactions when in message edit or view source mode."
Currently the emoji reactions look sort of weird when the message edit box is open, and once we add other message editing functionality (e.g. ability to add emoji to the edited message) it'll just make the box look busy.

Probably this change only has to touch the message editing pathway, which is in `static/js/message_edit.js`

[2017-03-01 18:42] #1006 closed

[2017-03-01 18:47] timabbott commented on #3868
Centreon looks pretty cool; seems like a great project to integrate with.

Do you use Centreon?  I think it might be helpful to chat with the Centreon developers about whether they have an in-Centreon system that we should use (e.g. outgoing webhooks) or we need to do a plugin like our existing Nagios integration.

[2017-03-01 18:47] rishig opened #3871 "message edit: Remove More/Collapse when in message edit / view source mode"
Once you're in message edit or view source mode, it doesn't make sense to have a collapse / uncollapse link (and they are currently broken anyway). For clarity, I mean the following element:
![image](https://cloud.githubusercontent.com/assets/890911/23475310/09611b04-fe6c-11e6-9c2b-ab951b84f042.png)

They should just be removed when in message edit mode.

Much of the message editing code is in `st

[2017-03-01 18:53] timabbott commented on #3169
@brannerchinese exciting news, @souravbadami now has a mostly complete implementation of this.  I wanted to get your feedback on how this should be displayed; here's what it currently looks like (for emoji reactions in particular):

![image](https://cloud.githubusercontent.com/assets/2746074/23475587/ed66081e-fe6c-11e6-8f78-e21d195f30d9.png)

I think we probably don't want the `:` on the left at l

[2017-03-01 18:58] timabbott commented on #3870
Sounds good; technically we probably want this to hide rather than remove the elements.

[2017-03-01 19:19] #3738 closed

[2017-03-01 19:19] timabbott commented on #3738
Somehow this started reproducing today; I'm not sure why.  I kinda wonder whether the issue might have been this keycode being detected as metaKey vs. altKey having changed recently.

Regardless, fixed via 31bf60d3d879f4bac50e42ef363f707b7aa42477.  Thanks for the report @aripollak!

[2017-03-01 19:22] timabbott commented on #1180
I got some feedback from a user on how they'd like this to work:
* We should have a "resend" button on the invitations page.
* The "invite a user" modal should link to the "manage invitations" page.
* Maybe we should change what happens if you try to invite an email you already invited to give an error and link you to the "manage invitations" page.

Sorta what you'd expect, but I figured worth add

[2017-03-01 19:27] lonerz commented on #1180
@timabbott cool, will keep this in mind. I might take some time on this..

[2017-03-01 19:31] timabbott commented on #3869
Yeah, that's not great.  The plan is actually to move that error out of the right sidebar into something that comes down from the top.

[2017-03-01 19:41] rishig opened #3873 "Don't send emails for deleted messages"
Currently if you @-mention or PM someone offline and then delete the message, they'll still get an email. I'm guessing the right way to handle this is to do a check for if a message is deleted in `send_email_job` of `deliver_email.py`, but haven't read the code path carefully.

[2017-03-01 19:43] brockwhittaker commented on #3862
Not sure it's a recent regression. The commit in which it was done was `97733995`, however this was just moving the left sidebar components to `left-sidebar.css`. Am submitting a fix for this now however.

[2017-03-01 19:45] rishig opened #3874 "user search: Hitting enter should open compose, narrow, and clear."
Currently, if you search for someone's name in the user search box and hit enter, it opens a compose box for a PM to the first user in the list. It should also:
* Narrow to PMs with that user
* Clear the text box

To see some of the desired behavior, if you click on a user's name in the right sidebar, it will open a compose box and narrow.

[2017-03-01 19:46] lonerz commented on #3874
@zulipbot claim

[2017-03-01 19:49] #3862 closed

[2017-03-01 19:54] #3823 closed

[2017-03-01 20:03] brannerchinese commented on #3169
I like the colons — they remind me that I'm looking at code.

This is indeed exciting news!

[2017-03-01 20:06] timabbott commented on #3169
Cool.  So right now the feature is just for emoji reactions; I assume that (if we implement doing this for emoji in message bodies) it should probably just be the same setting, though, right?

[2017-03-01 20:08] brannerchinese commented on #3169
That would certainly be close to my idea of perfect emoji-happiness.

[2017-03-01 20:15] timabbott opened #3876 "Document adding new features to user docs in the "new application feature tutorial""
http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html, and maybe some similar docs (e.g. code contribution guide) should probably document the fact that you need to update the user documentation when adding a new setting, ideally with specifics.

[2017-03-01 20:20] timabbott opened #3877 "Error message sending to a stream you're not subscribed to is broken"
If you narrow to a stream you're not subscribed to (this is easy to do via the search bar, and will become more common when we add a preview feature in /#subscriptions), and send a message, Zulip will give you an error message like this:

![image](https://cloud.githubusercontent.com/assets/2746074/23479420/3b3af6d8-fe79-11e6-83d0-5e16a12f061b.png)

Currently, it kinda sucks, because the link takes

[2017-03-01 20:21] timabbott opened #3878 "Add a preview button back to the /#subscriptions page"
We should add a "preview" button back to the /#subscriptions page, to make it clear you can

This would just be a link that narrows you to that stream.

Ideas on where it should go?  I can imagine in the left side panel (e.g. an icon just to the right of the stream name), or just to the left of the "Subscribe" button in the right panel.

[2017-03-01 20:22] timabbott commented on #3878
(Eventually, we can build something cool to do inline preview, but that's not worth doing at this point)

[2017-03-01 20:28] timabbott commented on #3169
Cool.  @souravbadami if you want to start implementing the part 2 (for emoji in message bodies), that should be a separate commits.  I'm not sure what the best strategy is, but the technically easiest approach would involving somewhat unpleasantly walking the HTML in `message_store.js` to replace an emoji element with the corresponding text.  There's probably something cool we could try to do with

[2017-03-01 22:32] rishig opened #3880 "search: Searching for o should also catch names with ö and other accented characters."
E.g. if someone's name is rîshï, typing `ris..` in the search bar should autocomplete to "narrow to private messages with rîshï" etc., and similarly for the user search bar.

I'm not sure if this is fairly easy or if it carries a lot of technical risk. If the latter not necessarily something we should try to do now.

Possibly this means doing something like adding an "ascii_name" column to user_pr

[2017-03-01 22:40] feorlen commented on #3477
Additional note, adding it here because it's more visible.

I'm still working on permissions to include the Splunk logo. I have an image, but so far haven't gotten a reply from the partner support folks. I'm trying to find who else I could talk to through internal contacts. (It's likely an image I'd get from them is the one I already have.)

[2017-03-01 22:53] rishig opened #3881 "Reduce duplicated code between compose and message edit."
This is a big but important project to refactor most of the functionality out of the compose pathway into generic functions that can then be called by both the compose and message edit pathway. Eventually, we may even want to use the same handlebars template and most of the same CSS.

This is a good project for someone who has already done several smaller Zulip projects, and is comfortable with `g

[2017-03-01 22:59] rishig commented on #3873
Good point, it was missed message. Not sure if this also happens with digest emails, but that seems less important if there are lots of things in the digest.

[2017-03-01 23:02] timabbott commented on #3880
The search bar autocomplete is frontend-only.  We should look for JS libraries that might help with this.

[2017-03-01 23:38] rishig opened #3882 "search: Add ability to search by huddle."
We'll want to add a new search keyword, like `huddle-with:<email>`.

On the backend, the main change that needs to be made is in `NarrowBuilder` in `zerver/views/messages.py`.

The frontend is a bit messier, but I would `git grep` for `pm-with` which should have a superset of the changes that are needed.

This is something that will also need a careful test suite.

This would be a great medium siz

[2017-03-01 23:59] #3774 closed

[2017-03-02 00:34] timabbott opened #3883 "Add migration to set sizes for existing Attachment objects"
Now that we've completed #3774 (which tracks sizes of new attachments, and set existing ones to have a size of null (`None` in Python)), we should add a migration to set sizes for all Attachment objects where it's currently null.  The end result will be that we can do accurate statistics on the total size of uploaded files in Zulip, by user/realm/etc.

This should be possible without actually down

[2017-03-02 00:37] lonerz commented on #3883
@zulip/server-misc Testing mention.

[2017-03-02 00:39] timabbott opened #3884 "Add support for limiting a user's file uploads to a certain total quota"
This involves a few things:
* Have a function to query on the Attachment model how much quota a user has used.
* Use that function to check whether the total is greater than X, and if so, give an upload error (the text can point to the "manage uploads" UI); I would probably use a hardcoded constant 1GB for the initial version and plan to iterate from there.  We'll want to make it a setting, but it

[2017-03-02 00:48] synicalsyntax commented on #3805
@zulipbot label "area: uploads"

[2017-03-02 00:49] synicalsyntax commented on #3805
@zulipbot remove "area: message view"

[2017-03-02 00:49] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-02 00:49] synicalsyntax commented on #3805
@zulipbot claim

[2017-03-02 00:50] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-02 01:18] pranjaypatil commented on #3871
Hi @rishig,
Here are the steps that I followed to reproduce this,

1. Click on message, reach edit mode.
2. Click on the small downwards arrow for message options, click collapse. This reveals a [More...] option.
3. Clicking on the more option does nothing.

Same if view source selected in step 1 instead of edit.

Is this correct? If yes, then disabling/not having collapse option during edit/view

[2017-03-02 01:31] rishig opened #3885 "Lightbox closes compose box."
To reproduce: Open compose box, type a few characters, click on an image, and then click out of the image.

[2017-03-02 01:54] rishig commented on #3871
Thanks for looking into this @pranjaypatil!

I should have specified: the small downwards arrow in step 2 is actually on its way to being removed anyway. To reproduce this, just send a very long message, click to a different stream then click back (so that it gets collapsed automatically), and then click edit/view source.

[2017-03-02 02:19] pranjaypatil commented on #3871
Yeah, able to reproduce this issue. Let me have a look and see if I can fix this.
Thank You!

[2017-03-02 02:43] rishig opened #3886 "left sidebar: Clicking on a topic should not open compose box."
To reproduce, make sure the compose box is closed, and then click on any topic in the left sidebar. The correct behavior is for the compose box to stay closed.

Not sure when this regression happened, but it has been there for a while. It is particularly unfortunate since it means the page up and page down keys don't work (they get taken by the compose box).

[2017-03-02 02:49] souravbadami commented on #3169
@timabbott -- Yep! I'd like to implement the part for the message bodies. I think, It'll be better to do that on a separate branch once the current implementation gets merged. It'll keep things cleaner. What's your opinion on this ?

[2017-03-02 04:26] PhilSk commented on #3884
@zulipbot claim

[2017-03-02 04:50] timabbott commented on #3885
Fixed via 342c436c680d6361ffc59c652b72f477fdaad9f7

[2017-03-02 04:50] #3885 closed

[2017-03-02 04:51] feorlen opened #3887 "I should not be allowed to create my initial admin user without a password"
I set up a new prod install and accidentally hit return after typing my name in the [name field](http://zulip.readthedocs.io/en/latest/_static/zulip-create-user-and-org.png). This submitted the form and created my new administrator account without a password. (I also was missing an organization name.)

This form should verify that something was provided for a password (and maybe the other fields)

[2017-03-02 04:54] timabbott commented on #3887
@brockwhittaker this is probably worth fixing while you're redoing the registration form...

[2017-03-02 05:03] feorlen commented on #3887
Is the actual design of this page likely to change soon? I was intending to make a new screenshot next time I was doing a fresh install.

[2017-03-02 05:03] timabbott commented on #3887
I hope so :)

[2017-03-02 05:04] feorlen commented on #3887
Well, password thing aside :)

I'll hold off on updating the docs with a new image then.

[2017-03-02 06:06] timabbott commented on #3790
As discussed in https://chat.zulip.org/#narrow/stream/design/topic/drafts, we should also probably start with you scrolled to the bottom, so the latest drafts are in view.

[2017-03-02 06:10] timabbott opened #3888 "When narrowed to a stream+topic and clicking the "new topic" button, focus the topic"
As the title describes, rather than putting focus in the message body, we should put focus in the topic (and select the text), since the thing a user is expecting to do is edit the message's topic.

I think this involves changing `exports.start` in `static/js/compose.js`, and maybe pass in an argument from the `.compose_stream_button` code path in `static/js/click_handlers.py` (which is what that

[2017-03-02 06:19] timabbott commented on #3169
Yep, totally agreed.

[2017-03-02 06:33] timabbott commented on #3008
Closing as a duplicate of #3636, which is now partially resolved.

[2017-03-02 06:33] #3008 closed

[2017-03-02 07:37] sulian commented on #3868
@timabbott, I use Centreon in production (about 99 hosts and 460 services). Centreon is a fork of Nagios and actually share 70-80% of code with Nagios. I'll try to use the current Nagios plugin to see if it works as is.

[2017-03-02 08:35] jajodiaraghav commented on #3857
This is what i created:
![capture](https://cloud.githubusercontent.com/assets/18749480/23499217/3d071d92-ff51-11e6-88fd-802da7454389.PNG)

The "lightgray" color is barely visible. Should i keep it that way?

[2017-03-02 09:11] bgilbert opened #3889 "Enter key doesn't delete selected text in compose box"
Browser: Firefox 51.0.1, Fedora 24

To reproduce:

1. Input some text into the compose box.
2. Highlight some of it.
3. Press Enter.

Expected result: The selected text is deleted and replaced with a newline.

Actual result: A newline is inserted, apparently at the location of the cursor.  The selected text is deselected but not deleted.

[2017-03-02 09:31] rishig commented on #3857
Cool, looking good! I'd add a bit more vertical space, and format it as
Last update: 5:30PM on March 2, 2017 (?)
(but use the user's locale if it is not too hard, so in India it might be 2 March, 2017. Eventually we'll get the graphs to properly do locale as well.)

Removed the "full", since I think it wasn't looking good with it.

For the (?), it would be great to use the same one we use in other

[2017-03-02 13:58] sulian opened #3893 "Cannot "remove from default" a deleted stream"
Hello

I can't remove a deleted stream from the list of default stream when a new users joins the organization, is it a bug or I have missed a function ?

![zulip-bug-screen-1](https://cloud.githubusercontent.com/assets/2016950/23510105/8d38fbd0-ff58-11e6-91de-41565412c1c9.png)
![zulip-bug-screen-2](https://cloud.githubusercontent.com/assets/2016950/23510110/8f8f08b6-ff58-11e6-9059-533aa814dbe8.pn

[2017-03-02 14:14] HarshitOnGitHub opened #3895 "emoji: Instead of emoji_map.json, use some more informational source for generating mapping information."
Use some more informational source like https://github.com/iamcal/emoji-data/blob/master/emoji_pretty.json for generating mapping information like `name_to_codepoint` dict etc. Currently we use `emoji_map.json` which provides no information about categorization, sort_order etc. `emoji_map.json` will be not be removed but rather will be used to generate symlinks only so that old messages continue t

[2017-03-02 14:14] HarshitOnGitHub commented on #3895
@zulipbot claim

[2017-03-02 14:28] showell opened #3896 "Add setting to stop auto-opening compose box."
When you click on a topic inside a stream, the compose box automatically gets opened.  This is really annoying when you're on an iPhone using the browser app just to skim zulips.

It's also annoying on a regular computer with a keyboard when you're catching up on a bunch of topics, because when the compose box opens, you have to then immediately close it to start using the arrow keys effectively.

[2017-03-02 14:39] speed-force commented on #3878
i like to work on this

[2017-03-02 14:58] showell commented on #3893
@timabbott This is fixed in master, after 1.5, by 96fc6f237246861070db4221d8c1af08b8d70915 and f28158d3016b0888e0b5850808a4dca13a259d61.

@sulian I am closing this, because we've fixed in on master, but we haven't released it yet.  Thanks for reporting this!

[2017-03-02 15:07] showell commented on #3886
Haha, I coincidentally opened #3896 before seeing your ticket.  I think it has worked this way for a long time, although I'm not 100% sure.  I've always found it annoying.

[2017-03-02 15:07] showell commented on #3896
Closing as dup.

[2017-03-02 15:07] #3896 closed

[2017-03-02 15:16] showell commented on #3880
I believe we want to transform all of our strings to NFKC (see below) for the purpose of matching, but then use the original strings for sort/display purposes.  I don't think we need to give any special weight to exact matches, although that would be a nice refinement if it doesn't involve too much complexity.  The library below may need shims for older browsers (or we just punt on normalization f

[2017-03-02 16:10] lonerz commented on #3878
@speed-force mention zulipbot bot to claim issue. That's "@zulipbot  claim".

[2017-03-02 16:45] timabbott commented on #3893
As a workaround until that is released, you should be able to fix this using the `./manage set_default_streams` tool.

[2017-03-02 16:46] timabbott commented on #3895
I'm really excited about this :)

[2017-03-02 16:58] synicalsyntax commented on #3805
@zulipbot abandon

[2017-03-02 16:58] timabbott opened #3897 "Make translations.json generation use deterministic order"
I just noticed that running `manage.py makemessages` repeatedly, it totally regenerates the file each time, which feels pretty unnecessary (and makes it nearly impossible to read diffs to see what changed).

Reproducer: Alternative `manage.py makemessages` with `git commit -am makemessages`.

We should fix this by sorting `translations.json` by the english string.

@umairwaheed can you take care o

[2017-03-02 16:58] synicalsyntax commented on #3805
@zulipbot label "area: documentation (user)"

[2017-03-02 16:59] synicalsyntax commented on #3805
@zulipbot remove "area: message view"

[2017-03-02 16:59] #3805 closed

[2017-03-02 17:02] synicalsyntax commented on #3805
@zulipbot label "abcdefg"

[2017-03-02 17:02] synicalsyntax commented on #3805
@zulipbot remove "abed"

[2017-03-02 17:02] synicalsyntax commented on #3805
@zulipbot label "bug"

[2017-03-02 17:06] timabbott commented on #3880
Maybe I'm missing something, but to do this sort of matching, I think we'd need to e.g. do NFKD decomposition, and ignore the combining characters (so that we're just matching the base letters).

@andersk can you provide advice on what is appropriate here?

[2017-03-02 17:12] synicalsyntax commented on #3703
@timabbott We've implemented all of the listed feature requests in zulipbot, can this issue be closed? Also, is there anything else you'd like to add as a feature to zulipbot?

[2017-03-02 17:23] #3861 closed

[2017-03-02 18:19] synicaltests commented on #3805
@zulipbot abandon

[2017-03-02 18:19] synicaltests commented on #3805
@zulipbot claim

[2017-03-02 20:01] timabbott commented on #3703
Yep!  It's awesome how quickly this came together.  Huge thanks @synicalsyntax and @lonerz for building this.

I bet we'll find we need to iterate a bit on the user experience over time, but this issue seems fair to resolve.

Probably we should start writing documentation on how this area labels system works in README.md?

[2017-03-02 20:01] #3703 closed

[2017-03-02 20:30] timabbott opened #3899 "Test user-facing strings for non-standard capitalization"
A super common form of mistake that we need to catch in code review is not following Zulip's standard approach to capitalization in user-facing strings, which is to just capitalize the first letter.

* Correct: "Manage streams"
* Incorrect: "Manage Streams"

We should document this somewhere, but I think the right solution is to add a test that runs effectively `manage.py makemessages` to extract

[2017-03-02 21:50] lonerz commented on #3703
@timabbott Opened a new issue and we will get to it. [#40](https://github.com/zulip/zulipbot/issues/40)

[2017-03-03 00:16] rishig commented on #3886
Great users think alike :).

[2017-03-03 04:57] umairwaheed commented on #3899
@zulipbot claim

[2017-03-03 04:59] umairwaheed commented on #3897
@zulipbot claim

[2017-03-03 05:18] lonerz commented on #3874
@rishig what do you mean by clear the text box? From my testing, the text box has always been clear when I created a new PM.

[2017-03-03 07:11] rishig commented on #3874
So it does! Not sure what was going on when I was writing this, but I'll open another issue then if it happens again. Thanks for working on this!

[2017-03-03 07:22] sulian commented on #3893
Thanks you

[2017-03-03 07:26] lonerz commented on #3874
@rishig will get my PR soon. There's something wrong with my develop env, trying to get it fixed.

[2017-03-03 07:35] rishig commented on #3219
Current status: a bunch of work has been done on this in #3246; it would be great if someone wanted to pick this up! It is a great first project for someone new to Zulip looking to learn a bit of CSS, git workflow, and maybe some svg editing.

[2017-03-03 09:26] rishig opened #3902 "Upgrade mypy to 0.501."
Zulip's current mypy has a caching bug that causes mypy to randomly fail in the dev environment for many zulip developers. The new mypy (released last Wednesday) fixes this!

To upgrade:
* Replace the contents of `requirements/mypy.txt` with
[code]
* Run `tools/provision`
* Run `tools/mypy`

You should get a bunch of errors for things that mypy didn't use to check for and now does, like not import

[2017-03-03 09:46] sulian opened #3903 "Strange behavior on create bot"
Hello

I'm trying to create a new bot and I have a strange behavior in the username of the bot : the domain is bad, composed by half of the name of my company and half of 'acme.com', that give me ``name-bot@exsymol@acme.com``.

Any idea ?

![zulip-bug-hubot-1](https://cloud.githubusercontent.com/assets/2016950/23546112/680d524c-fffe-11e6-9a1b-8d927551edc2.png)

[2017-03-03 10:56] kaustubhhiware opened #3904 "Using try except blocks while executing queries"
In `analytics/views.py`, shouldn't the queries be executed in try except blocks ?

I might be mistaken, but that would help in case of unreliable internet connection.

[2017-03-03 14:54] mukkachaitanya commented on #3873
I agree with the issue, but don't see a direct way in solving it. When a message is missed it is been converted to html/text email format and sent to Mandrill's `mail_client` messages to be send at a given time :
[code]

So, what I think we can do is implement a side thread that waits till the `sent_time` and then send the mail, after checking if the message is deleted or not. (Just a logic not be

[2017-03-03 15:17] showell commented on #3904
Generally the queries happen locally, and even if the queries fail, it's not clear that catching the exception will help in troubleshooting.

[2017-03-03 15:18] showell commented on #3903
Pinging @rishig in case this has something to do with recent realm domain changes.

[2017-03-03 15:19] jajodiaraghav commented on #3902
@zulipbot claim

Let's see if i could fix the errors!

[2017-03-03 15:21] showell commented on #3903
This code in `zerver/lib/actions.py` is probably the cause of this:

[code]

[2017-03-03 16:01] jajodiaraghav commented on #3888
@zulipbot claim

[2017-03-03 16:06] YagoGG opened #3907 "Show Zulip's version somewhere in the UI"
# Description
It'd be great to be able to see which version of Zulip is a server running, through the web app's UI.

This was [suggested](https://chat.zulip.org/#narrow/near/159829/stream/design/topic/new.20features) recently, and has also been asked in the past by other people. It would definitely be useful for stuff like troubleshooting (e.g. "oh, that's not working? This was fixed in X.Y, what

[2017-03-03 16:08] lonerz commented on #3886
@zulipbot claim

[2017-03-03 16:14] showell commented on #3819
Can we address this by caching?  In other words, once we compute a message's height using the existing rendering methodology, can't we just attach that to the message object?

[2017-03-03 17:30] rishig commented on #3903
+ @brockwhittaker
The domain stuff has been there for a while, so I think this is due to recent settings page changes.

[2017-03-03 18:08] jajodiaraghav commented on #3869
Will we be switching to something like [OfflineJS](http://github.hubspot.com/offline/docs/welcome/) or will we work on top of current library?

[2017-03-03 18:48] #3897 closed

[2017-03-03 18:50] timabbott commented on #3819
I think we do already cache it; see `_message_content_height_cache` in `static/js/condense.js`.  But it's still (apparently) like 2/3 of the first-time rendering time loading the homepage.

Actually, we should probably test that by removing the feature temporarily and seeing if things actually get faster -- this might just be one of those browser perf things where the thing actually taking time is

[2017-03-03 19:22] timabbott commented on #3869
@brockwhittaker what are your thoughts on this?

[2017-03-03 19:39] timabbott opened #3910 "Add +/- hotkeys for adding :+1: and :-1: emoji reactions"
This could be a nice way to make the quick emoji reaction process feel super fast while at a computer.

(Suggestion from @dehnert)

[2017-03-03 19:40] timabbott opened #3911 "Add hotkey support for adding emoji reactions"
We should add a hotkey for "open emoji reaction UI and focus the text box".  I'm not sure what the hotkey should be, but maybe `:` is a good choice given that it is how you autocomplete emoji in the compose box?

Related to #3910.

[2017-03-03 19:50] aripollak opened #3912 "Ignore Travis CI type of pull_request"
Currently, there's no way to prevent Travis CI from sending webhook events for Pull Request builds. Email notifications in Travis don't send pull request notifications at all, but the Zulip webhook integration is more concise and seems to be more reliable. Can the Zulip integration just ignore Pull Request notifications? That is, `"type": "pull_request"`.

[2017-03-03 20:28] timabbott commented on #3912
Yeah, this is a good idea.  Ideally, we'd have a system for controlling within the Zulip UI which events to process/ignore, so that this is user-configurable, but that's a big project.  I think you're right that default would be better.

@TomaszKolek can you take care of this one?

[2017-03-03 21:13] hackrush01 opened #3914 "Error while installing using Docker"
The following error is encountered when installing zulip using docker(experimental) approach from [here](http://zulip.readthedocs.io/en/latest/dev-setup-non-vagrant.html#using-docker-experimental)
`mkdir: cannot create directory ‘../var’: Permission denied`
I have tried making the directory manually, but to no avail.
Script cannot be run as `sudo`.
Tried editing the script to comment out the `mkdi

[2017-03-03 21:29] YagoGG opened #3915 "Show a pretty-printed diff of the full strings in bugdown tests' errors"
(Make sure you've read zulip.readthedocs.io/en/latest/markdown.html to understand this issue).

# Description
Right now, when a test in the strings checked in `zerver/fixtures/markdown_test_cases.json` doesn't match what it should, `test-js-with-node` (aka the frontend tests) raises an `AssertionError`, with a small diff of the conflicting strings:

[code]

However, when the strings are longer it'

[2017-03-03 21:33] timabbott commented on #3915
Edited the description a bit :)

[2017-03-03 21:53] PhoeniXkrypT commented on #3856
@zulipbot claim

[2017-03-03 22:06] rishig commented on #3910
Great idea!
Should we have a scheme that also extends to other quick replies? Ack, Working on it, Thinking, and Heart come to mind. One idea would be to have a hotkey that brings up a picker with the 6 emoji we want to emphasize, and then 1 can be +1, 2-6 can be Ack, etc.

[2017-03-03 22:14] timabbott opened #3916 ""Display left side userlist in narrows" doesn't work with pinned streams"
If you use the "Display settings" setting, "Display left side userlist in narrows", and pin some streams, the left sidebar will look like this:
![image](https://cloud.githubusercontent.com/assets/2746074/23570966/9b7370b8-001b-11e7-9448-9c3a35267f95.png)

(The bug is that the normal streams are in a scrollable area on top of the USERS area)

[2017-03-03 22:16] timabbott commented on #3910
#3911 is for bringing up the picker easily; once that's done we can add hotkeys inside the picker.  I think it does potentially make sense to implement other single-character replies (e.g. `=` for whatever we think "agree" is), but that will likely be super easy to do as a follow-up once this is done.

[2017-03-03 22:18] hackerkid opened #3917 "Show a banner with link to a custom url when user joins for the first time"
There are two parts for this project.

### Part 1 - Banner

When a user joins an organization for the first time a banner would be shown with link to an external webpage. The banner would ask user to check out the link to know more details about the organization (Or something similar).

eg: In case of https://chat.zulip.org the link can point to http://zulip.readthedocs.io/en/latest/chat-zulip-org

[2017-03-03 22:18] timabbott commented on #3914
@hackrush01 can you post more logs showing what was happening before the failure?  One can't debug with just the proximal error message :).

It's possible that a recent change broke this, but is a bit hard to tell.

[2017-03-03 22:19] timabbott commented on #3907
I think we can do that initial approach, and see whether that's good enough.

[2017-03-03 22:22] timabbott commented on #3917
Tagging as bite-size, since the new application feature tutorial should teach everything needed for the gear menu piece of this.  For that reason, I'd actually start with Part 2; once that's done, we can work on the banner part.

[2017-03-03 22:25] rishig commented on #3910
Cool!
Possibly we just want `=` to be the `+1`, and drop the `-1`, if we're going to have a future `=` hotkey? I've never seen an `-1` on chat.zulip.org, and `=` has the benefit of not needing a shift.

[2017-03-03 23:04] timabbott commented on #1134
I think for this we can put them in the `avatars` bucket, under `avatars/%(realm_id)s/emoji/%(emoji_name)s` ?

I guess we should double-check the emoji name validators are safe for placement on a filesystem (no `/` or anything like that allowed), and perhaps also add a comment to this effect in the emoji name validation code path to make sure this constraint isn't forgotten.

[2017-03-03 23:19] speed-force commented on #3878
@zulipbot claim

[2017-03-03 23:19] #3169 closed

[2017-03-03 23:21] synicalsyntax commented on #3805
test mentioning YagoGG

[2017-03-03 23:21] timabbott commented on #742
Closing as a duplicate of #1134.

[2017-03-03 23:21] #742 closed

[2017-03-04 00:06] timabbott commented on #356
Yeah we're still interested.  @ara4n are you in GSoC this summer?

[2017-03-04 00:58] ara4n commented on #356
@timabbott we are indeed.

[2017-03-04 01:35] showell commented on #3819
Yeah, I'm a little curious whether this has something to do with waiting for images to load or something like that.  For first-time rendering the cache isn't gonna help, but even without caching, the code looks pretty innocent.

[2017-03-04 01:43] timabbott commented on #3819
Image loading should be an issue -- we set a 100px height box for each image in the CSS, at least for inline images, and I think emoji have a similar setup where their size is clear without images loading.

[2017-03-04 01:55] rishig commented on #3903
@zulipbot claim

[2017-03-04 02:42] lonerz opened #3922 "Feature Request: search for user in specific stream on subscription page"
1. Go to [subscription page](https://chat.zulip.org/#subscriptions/).

2. Click a stream you want to subscribe to or look at description.

3. You want to search for a person in that stream, but the only thing you can do this command+F search.

There should be a simple way to search for a user in a stream just like how you could add a person to a stream.

[2017-03-04 02:43] lonerz commented on #3922
@zulipbot label "area: stream settings" "feedback wanted"

[2017-03-04 02:45] timabbott commented on #3922
Agreed, I'm thinking we can do a similar filtering box to what we have when creating a stream (obviously not using the checkboxes).  I think @brockwhittaker has been thinking about this, but he's pretty busy, so definitely an available project for someone interested.

[2017-03-04 02:45] timabbott commented on #3922
(Ideally, we'd simultaneously solve the performance problems with that widget if there are thousands of users subscribed)

[2017-03-04 03:15] refeed commented on #3629
@zulipbot claim

[2017-03-04 05:42] hackrush01 commented on #3914
@timabbott I would be happy to, but what all logs do you want? I just went through steps mentioned in the site I linked, didn't deviate, and this was the only error encountered. I am also trying for GSoC this year. So I think if this is an issue then this could be a good starting point I hope!

[2017-03-04 06:40] adnrs96 commented on #3922
Possible duplicate of [this](https://github.com/zulip/zulip/issues/3781) issue.

[2017-03-04 11:06] TomaszKolek commented on #3912
@timabbott  @aripollak In progress ;-)

[2017-03-04 14:26] YagoGG opened #3926 "Update the hotkeys (meta-issue)"
# Description
With the addition of emoji reactions, having a quick way to react to a message has become quite important. Hotkeys could be a good way to approach this (see #3911).

This would imply making some changes in the whole hotkey-action scheme, hence this meta-issue, that includes a list of all the hotkeys that we should update (even for actions not related to emoji reactions).

The informa

[2017-03-04 16:17] feorlen commented on #3903
And here I thought it was something weird about my test environment. I've seen the same thing, and was able to temporarily fix it by updating the database myself with the correct domain name. (Restart Zulip and force reload your browser after.)

[code]
If you are comfortable in SQL you can do this with `psql`. (Also `manage.py dbshell` will get you there.) Here's some info on the syntax: http://ww

[2017-03-04 17:05] tommyip commented on #1131
@zulipbot claim

[2017-03-04 17:09] hackerkid opened #3927 "requirments: Upgrade pycodestyle to latest version"
pycodestyle we are currently using is currently 2.2.0. Upgrade it to the latest version. Upgrading pcodestyle may cause some tests to fail. So may you have to fix that too.

#3801

[2017-03-04 17:14] hackerkid commented on #3778
@timabbott I think you can close this now. I created issue for pycodestyle which was a new addition. For all others which was not upgraded in the last PR there are issues already made.

[2017-03-04 17:32] lonerz commented on #3926
This would be a fun one. Before anyone actually starts working on any of the hotkeys, make sure to comment here which one you will be working on AND talk on chat.zulip.org to see if we want to use it.

[2017-03-04 17:34] rishig commented on #3903
If you do that you may also want to change the email addresses of your bots, in the zerver_userprofile table. But hopefully there should be a fix for this issue in the next few days.

[2017-03-04 18:01] feorlen opened #3928 "can't click to move insertion point in new message window if large fonts"
This started recently. If I'm typing a new message I can't click to move the insertion point to the first line of the edit window. When I move the pointer around, it changes to an arrow near the top. It's like the text edit area isn't all text. I can't edit the first line of a message unless I click elsewhere and then use the keyboard to move the insertion point. If I click on the first line, the

[2017-03-04 19:11] sulian commented on #3903
@feorlen, I'm confortable with SQL 😉 , I'll give a try.

[2017-03-04 19:38] timabbott commented on #3928
@brockwhittaker I think this one is a bug for you :)

[2017-03-04 20:08] synicalsyntax commented on #3577
As discussed in #3715, the best way to show this would be to change the content of the docs/modal according to a User Agent detection of the user on a Mac operating system.

Temporarily abandoning this issue as I look into how to implement this. @zulipbot abandon

[2017-03-04 21:36] PhoeniXkrypT commented on #3856
@rishig By last week, do you mean the "last 7 days" or the previous week(i.e. last calendar week). Similarly, for last month and last year.

[2017-03-04 21:39] rishig commented on #3856
last 7 days, and similar for the rest. For last month, you could just take the last 30 days, and for the last year, the last 365 days, to avoid tricky computations with dates and leap years.

[2017-03-04 23:31] timabbott opened #3933 "async/await checks are too aggressive and even escape `type: ignore`"
I happen to use a third-party library (Mandrill) that has various functions that take the `async` keyword:

https://mandrillapp.com/api/docs/index.python.html

The error is this, and it applies even if you add a `type: ignore` on the affected line:
`/tmp/foo.py:1: error: 'async' and 'await' will become reserved keywords in Python 3.7`

[code]

You get the same thing with even this:
[code]

Other k

[2017-03-04 23:31] timabbott commented on #3933
Oops was meant to be against the mypy repo.

[2017-03-04 23:31] #3933 closed

[2017-03-04 23:43] timabbott commented on #3902
Merged #3908 which resolved this.  Thanks @rishig and @jajodiaraghav!!

[2017-03-04 23:43] #3902 closed

[2017-03-05 00:00] eeshangarg commented on #3876
@zulipbot claim

Hi! My name is Eeshan. I'd like to work on this. Seems like a good bite-sized first contribution to get started for GSoC! :-) Thanks!

[2017-03-05 00:15] lonerz commented on #3876
@eeshangarg welcome!

[2017-03-05 00:21] timabbott commented on #3778
Yep, agreed, thanks @hackerkid!

[2017-03-05 00:21] #3778 closed

[2017-03-05 00:26] YagoGG opened #3934 "Show past messages to new users in private streams"
# Description
Right now, when a new user joins to a private stream, they can't see the messages that were sent before their arrival.

This is a bit of a hassle, because sometimes this avoids them from seeing relevant conversations from the past.

# Possible approach
When inviting a new user to a private stream, to be able to choose (e.g. in a popup) how many messages and/or topics will be visible

[2017-03-05 00:44] timabbott commented on #3934
This is a duplicate of https://github.com/zulip/zulip/issues/2745, I think.

[2017-03-05 00:46] showell commented on #3813
For the stream/update event, we should send stream_id.

[2017-03-05 01:36] #3777 closed

[2017-03-05 01:45] #3771 closed

[2017-03-05 01:49] #3793 closed

[2017-03-05 01:51] #3723 closed

[2017-03-05 02:10] #3884 closed

[2017-03-05 02:27] timabbott commented on #3922
Yeah, this is the same as #3781.

[2017-03-05 02:27] #3922 closed

[2017-03-05 03:03] #3672 closed

[2017-03-05 03:32] timabbott opened #3938 "Attempting to start a reply to a message you're editing doesn't work"
This is a somewhat tricky issue that we need to think about carefully.  Right now, the behavior is weird, in that your mouse moves to a pointer "something will happen if you click" when you move it over any of the yellow areas of the message body:

![image](https://cloud.githubusercontent.com/assets/2746074/23584266/1f39a4da-0111-11e7-9db4-bf8807e9505e.png)

Yep clicking does nothing; I imagine us

[2017-03-05 03:33] #3934 closed

[2017-03-05 03:53] timabbott commented on #3914
@hackrush01 just the full output of the command, not just the last thing at the end with the error.

This is a great place to start.  I'll also mention a few folks who I think have used this: @stanzheng @tommyip in case they have ideas.

[2017-03-05 05:06] timabbott commented on #1650
@showell what do you have in mind for this?  Stuff like the `server_events`, `foo.js`, `foo_ui.js` model and which pieces go where?  We have I think pretty good docs now on how the JS files are distributed ( http://zulip.readthedocs.io/en/latest/front-end-build-process.html)

[2017-03-05 05:25] timabbott commented on #3741
Great investigation!  It seems like it's worth doing the quick fix for the easy part now at least?

[2017-03-05 05:53] timabbott opened #3939 "Upgrade handlebars to latest upstream version"
We're now using Handlebars 3.0.3, which is the latest version that doesn't break without needing to change our templates; also, the version is now managed by `package.json`, which means one can just update that, `npm install` (or `provision`), and start debugging.  (Huge thanks to @refeed!).  Ideally, we'd do whatever changes are needed in Zulip to upgrade to the latest version, so we can use mode

[2017-03-05 06:06] #3939 closed

[2017-03-05 07:22] timabbott opened #3940 "Fix totally broken test test_get_old_messages_with_narrow_pm_with"
test_get_old_messages_with_narrow_pm_with in `test_narrow.py` is lacking the test data setup work (should send a few messages at the start) that is required to make it work.  It needs to be mostly rewritten to look more like `test_get_old_messages_with_narrow_stream`, though probably with several `send_message` calls to setup a good set of cases.

Fixing this will let us fix the fact that `test_na

[2017-03-05 07:41] timabbott opened #3941 "Fix totally broken test_urls.py"
If you run `test-backend --verbose-coverage --coverage test_urls` and check the , you'll see clearly that most of `test_urls.py` isn't even run.  I suspect this is a consequence of the Django 1.10 migration.

We should fix this (and then remove `test_urls.py` from the `test-backend` exclude list).

[2017-03-05 07:43] timabbott opened #3942 "Deal with uncovered code in test_tornado.py"
There's 2 lines (the `close` function in `WebSocketBaseTestCase`) that have no test coverage.  We should figure out why they aren't being run, and ideally extend the tests to run that code path.

We could mark with `# nocoverage` if there's a good reason for it to be this way.

@kkanahin can you investigate this one?

[2017-03-05 07:48] timabbott commented on #3941
@umairwaheed can you investigate this one?  I think you have the most expertise with the Django URLs system.

[2017-03-05 07:48] timabbott commented on #3940
@umairwaheed would you be up for fixing this one?

[2017-03-05 07:54] PhilSk commented on #3870
@zulipbot claim

[2017-03-05 07:56] PhilSk commented on #3870
@zulipbot claim

[2017-03-05 09:59] hackrush01 commented on #3914
That was the only message
[code]

I followed the steps exactly as mentioned,
1st I did `docker build -t user/zulipdev .`
and then `docker run -itv $(pwd):/srv/zulip -p 9991:9991 user/zulipdev /bin/bash`

after that I ran the above mentioned command and that error was encountered.

[2017-03-05 10:08] sinwar commented on #3927
@zulipbot claim

[2017-03-05 10:21] yashagrawal3 commented on #3877
@zulipbot claim

[2017-03-05 10:43] tommyip commented on #3914
I tested the exact commands and it works fine for me in master. Can you show us your setup?
* Zulip version / commit sha
* OS detail
* Docker version & permission level (is it in the sudoer group?)

[2017-03-05 10:50] lonerz opened #3945 "@ Reply mentioning user under user-popover should add mention to the end of compose"
When you go under user-popover and click "Reply mentioning user," the mention should be appended to the text in the compose box. If none, it should just be added, which is the current implementation.

[2017-03-05 10:54] samatdav commented on #3945
@zulipbot claim

[2017-03-05 10:57] lonerz commented on #3945
@samatdav thanks for working on this! One way to solve this issue is to `git grep .mention_user` which is the class name of those buttons. However, the lines of code that are relevant to you are in `static/js/popovers.js`. Lines [543-552](https://github.com/zulip/zulip/blob/1a697b6e02b03cf714c9ab0fd51dfabe8752ba35/static/js/popovers.js#L543-L552) and [572-581](https://github.com/zulip/zulip/blob/1

[2017-03-05 10:58] lonerz commented on #3945
Pretty much the situation you are seeing is when `textarea.val('@**' + name + '** ');` erases the compose box and adds the mention at the beginning. You need to change this.

[2017-03-05 10:58] samatdav commented on #3945
@lonerz Thank you! I will take a look!

[2017-03-05 10:59] lonerz commented on #3945
@samatdav feel free to mention me if you need help :)

[2017-03-05 11:00] lonerz commented on #3934
@zulipbot claim

[2017-03-05 11:00] lonerz commented on #3934
@zulipbot abandon

[2017-03-05 11:00] lonerz commented on #3945
@zulipbot label "bite sized"

[2017-03-05 11:21] hackrush01 commented on #3914
latest commit sha `b6f53d6c1 (HEAD -> hackrush, origin/master, origin/HEAD, master) coverage: bring zerver/lib/validator.py to 100% coverage.`

OS Detail(Debian-jessie (deb8)):
[code]

Docker version
[code]

Also I do all my work as the root user, so docker must be in the sudoer group. But I am not entirely sure. How do I check that?

[2017-03-05 13:34] umairwaheed commented on #3940
Sure.
On Sun, Mar 5, 2017 at 12:48 PM Tim Abbott <notifications@github.com> wrote:

--
Sent from mobile.

[2017-03-05 14:40] PhoeniXkrypT commented on #3604
@zulipbot claim

[2017-03-05 15:25] derAnfaenger opened #3948 "Replace Asana integration with a webhook integration (Asana no longer supports API key authentication.)"
### What's the issue?
The Zulip Asana integration relies on an API key provided by Asana for authenticating. Asana no longer supports authentication via API keys, an integration must use OAuth 2.0.

### What needs to be done?
* The [Zulip Asana integration](https://github.com/zulip/zulip/tree/master/api/integrations/asana) needs to be refactored in order to support OAuth 2.0 (or Personal Access To

[2017-03-05 15:30] derAnfaenger opened #3949 "Replace Basecamp integration with a webhook (API key authentication is not supported anymore)"
### What's the issue?
The Zulip Basecamp integration relies on an API key provided by Basecamp for authenticating. With the new Basecamp 3 API,  authentication via API keys is no longer supported. An integration must now use OAuth 2.0.

### What needs to be done?
* The [Zulip Basecamp integration](https://github.com/zulip/zulip/tree/master/api/integrations/basecamp) needs to be refactored in order

[2017-03-05 16:03] kkanahin commented on #3942
Sure, will do it.

[2017-03-05 16:21] jajodiaraghav opened #3950 "Add a realm option to prevent users from changing their name"
Just like we have a setting to prevent users from changing their email addresses, we should add an administration setting to prevent users from changing their name.

Similar to #3777.

[2017-03-05 16:21] jajodiaraghav commented on #3950
@zulipbot claim

[2017-03-05 16:23] jajodiaraghav commented on #3950
@zulipbot label "area: settings (admin/org)" "bite size" "enhancement"

[2017-03-05 16:47] timabbott commented on #3945
`$("#new_message_content").caret()` (from the jquery-caret library) will nicely add things at the end; we use this for the emoji picker (etc.) and ti's probably what you want for this.

[2017-03-05 19:03] HarshitOnGitHub opened #3952 "emoji: Duplicate emoji entries in emoji picker."
If you open the emoji picker then close it and then reopen again, the same list of emojis will appear twice in the emoji picker. It is so because we are appending the emoji content again to the emoji picker without clearing the previous one.

[2017-03-05 19:03] HarshitOnGitHub commented on #3952
@zulipbot claim

[2017-03-05 19:04] HarshitOnGitHub commented on #3952
This will be fixed as part of PR #3923 .

[2017-03-05 19:04] PhoeniXkrypT commented on #3856
Thanks, I've put up a PR for the same.

[2017-03-05 20:22] yashagrawal3 commented on #3877
@zulipbot claim

[2017-03-05 22:46] PhoeniXkrypT commented on #3604
@zulipbot claim

[2017-03-05 23:04] #3754 closed

[2017-03-05 23:56] timabbott commented on #3354
@trueskawka @synicalsyntax either of you want to turn this into a PR?  I feel like we let this stall out...

[2017-03-06 00:17] #2862 closed

[2017-03-06 00:17] #3927 closed

[2017-03-06 00:33] timabbott commented on #3949
We should just replace this with a webhook, that'll be easier than migrating to their new client, and I think the only reason we had a Python script for this was that they didn't have a webhook API a few years ago.  Updating the title.

[2017-03-06 00:34] timabbott commented on #3948
We should just replace this with a webhook, that'll be easier than migrating to their new client, and I think the only reason we had a Python script for this was that they didn't have a webhook API a few years ago. Updating the title.

[2017-03-06 01:41] synicalsyntax commented on #3354
Sure, I can do this. @zulipbot claim

[2017-03-06 02:51] umairwaheed commented on #3941
Sure. @zulipbot claim

[2017-03-06 02:51] umairwaheed commented on #3940
@zulipbot claim

[2017-03-06 05:17] TomaszKolek commented on #3949
@zulipbot claim

[2017-03-06 05:29] eeshangarg commented on #3948
@zulipbot claim

I think I'd like to work on this. Seems like a good issue to get my feet wet with webhook integrations and to help me preparing a GSoC proposal for the meta-integration for Slack. :-)

[2017-03-06 06:53] #921 closed

[2017-03-06 06:53] timabbott commented on #921
Fixed via 0569f8fb5f98f721fb6579f0f3fdf0ede92450f1

[2017-03-06 07:03] timabbott commented on #3948
Sounds great!

[2017-03-06 07:05] #3876 closed

[2017-03-06 07:39] jajodiaraghav commented on #3950
@zulipbot label "area: settings (admin/org)" "bite size" "enhancement"

[2017-03-06 07:40] jajodiaraghav commented on #3950
@zulipbot claim

[2017-03-06 08:23] lonerz commented on #3938
This action makes the most sense to me. However, it shouldn't only apply to messages that you're editing, but also messages that you're looking at the sources of.

[2017-03-06 08:27] wangjames commented on #3907
@zulipbot claim

[2017-03-06 10:44] vivekanand1101 commented on #3855
@timabbott  if this is not an immediate requirement, i would like to get it assigned :)

[2017-03-06 13:04] abhijeetkaur commented on #3649
@neerajwahi I would like to work on this. Could you please help me get started with and what exactly needs to be done?

[2017-03-06 13:12] tommyip opened #3956 "Add monitoring for chat.zulip.org"

[2017-03-06 13:15] jajodiaraghav commented on #3956
I am not able to access chat.zulip.org. Seems like its down.

[2017-03-06 13:27] mahim97 commented on #3956
Same here.

[2017-03-06 13:38] ksrr commented on #3956
same here.

[2017-03-06 13:44] showell commented on #3956
Likewise, pinging @timabbott

[2017-03-06 15:34] kkanahin commented on #3855
@zulipbot claim

[2017-03-06 18:55] brockwhittaker commented on #3928
Sure. @zulipbot claim.

[2017-03-06 19:06] brockwhittaker commented on #3928
Hm, @feorlen, have you been able to replicate the aforementioned bug in Safari 10? Currently it works fine in S10 (as you can see the cursor is at the first position). The click target seems normal and the compose textarea padding is also a click target.

I'm currently unable to download Safari 9 either due to the limitation of apple bundling versions of Safari with the Operating System it is intr

[2017-03-06 19:12] feorlen commented on #3928
@brockwhittaker I'll give it a try later today and let you know what I find. (Updating requires a reboot.)

[2017-03-06 20:01] timabbott commented on #3956
I think we can use this issue to track the fact that we should setup monitoring for chat.zulip.org, since clearly it's moved from being a testing server with a few people on it to a thing lots of people notice if it's down :).

[2017-03-06 20:02] vaidap commented on #1421
Has this been worked on, perhaps in another issue? If not, I'd be interested in brainstorming a couple of ideas & putting rough mockups together over the weekend!

[2017-03-06 21:30] timabbott commented on #1421
Nope, this is definitely an open issue!

[2017-03-06 22:41] PhoeniXkrypT commented on #3604
@timabbott @rishig Is this issue a duplicate of #3630 ?

[2017-03-06 23:19] timabbott commented on #3604
It certainly looks like it!  Sorry for the confusion; I guess I'll close this as duplicate.  If you'd like to help out, you can test out the version in the PR attached toe #3630 and give feedback on it!

[2017-03-06 23:19] #3604 closed

[2017-03-06 23:27] timabbott commented on #1659
@adnrs96 this might be a good project for you, following the HTML intendation effort :)

[2017-03-06 23:27] timabbott commented on #1581
It appears Chrome fixed their bug, since I can't reproduce this anymore.

[2017-03-06 23:27] #1581 closed

[2017-03-06 23:28] timabbott commented on #971
Is this still open?  I think we're now using a mock for the S3 tests at least...

[2017-03-06 23:31] timabbott commented on #129
So we're now uploading our actual server releases to GitHub.  Those are built releases; they don't contain the `tools/` directories, have javascript installed via `npm`, (etc.).  I think maybe the request here is to also post source tarballs?  @lfaraone do you think we should write a quick patch to `tools/build-release-tarball` to make it also generate a source tarball for upload (e.g. `zulip-serv

[2017-03-06 23:38] timabbott commented on #3855
This one is fairly timely, I think, but if you're really interested in this sort of thing, you could try to figure out how to run uwsgi inside supervisord without processes leaking and fix the root problem

[2017-03-07 02:03] rishig opened #3958 "search: Fix autocomplete when searching for sender within a stream."
To reproduce, type `stream:announce sender:ti` in the search bar. The sender field should show autocomplete for possible senders.

To see what the autocomplete should look like, type `is:private sender:ti`.

[2017-03-07 04:04] synicalsyntax commented on #3730
@zulipbot claim

[2017-03-07 05:57] adnrs96 commented on #1659
Sure, I will investigate it further.
I investigated it once before but couldn't find the original mentioned issue of zulip.css having indented at only 2 spaces, although i believe investigation at that time might not have been that thorough.
I will look into it again.

[2017-03-07 06:26] #3761 closed

[2017-03-07 06:28] timabbott commented on #3776
Hmm, I don't think this experimental new Zulipbot feature should have posted on this issue, since you have an open PR...

[2017-03-07 06:31] timabbott commented on #1659
I think the file is correct right now; the problem is we regularly add new sections with 2-space indent.  So we should lint new contributors for having 4-space indent.

[2017-03-07 06:43] timabbott commented on #3958
For folks interested in working on this, see `static/js/search_suggestion.js`; we have pretty complete tests for that system.

[2017-03-07 06:51] lonerz commented on #1956
@tejaskasetty please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:51] lonerz commented on #3809
@derAnfaenger please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:52] lonerz commented on #3802
@khantaalaman please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:52] lonerz commented on #3564
@jajodiaraghav @tejaskasetty please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:52] lonerz commented on #3564
@jajodiaraghav  please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:52] lonerz commented on #3791
@khantaalaman please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 06:54] lonerz commented on #3776
@adnrs96 please ignore zulipbot's warning. Do comment to keep this task as zulipbot has made an error. Sorry for the inconvenience.

[2017-03-07 07:12] jajodiaraghav commented on #3564
@lonerz No issues!
Working on the design of the "error-image".

[2017-03-07 07:39] timabbott opened #3962 "Add organization description field to realm settings"
Let's just add the setting + input for now; the plan will be to use this on realm-specific login/registration pages with subdomains enabled.

We can make it a TextField in the Realm table (we can limit size at the UI layer), but we'll probably end up wanting to not include it in the `select_related` UserProfile caches, since it could be a large repeated object.

[2017-03-07 07:54] adnrs96 commented on #3776
No problem @lonerz . I believe zulipbot could be updated to have check the last update on All PR's present on issue from the assignee. I guess the github api provides that info.

[2017-03-07 07:57] lonerz commented on #3776
@adnrs96 for a specific issue, github api does not provide referenced PRs sadly. We'd have to iterate over all open PRs and match them to their issues.

[2017-03-07 10:36] vaidap commented on #1421
Awesome, I'll have a try at some mockups this weekend!

[2017-03-07 13:12] aliev opened #3963 "Cannot register using organization link"
I'm trying to register using organization link:

[code]

After entering email in to the form, I'm getting 500 Error page.

[code]

[2017-03-07 13:31] brannerchinese commented on #2059
I'm not happy to see this issue closed, since I think it issues describes a serious deficiency in Zulip, especially in a large realm like the Recurse Center. People should be able to be self-sufficient and not ask other people — that leads to many people having to put their minds to replying, when ideally the user can get the answer on their own without involving anyone else in the query.
 
Withou

[2017-03-07 17:58] derAnfaenger commented on #3809
@lonerz sure, will do :)

[2017-03-07 18:24] wizsid11 commented on #3948
@timabbott
There is a way to integrate asana through zapier.
https://zapier.com/zapbook/asana/webhook/
Since we already have a zapier webhook integration we may not need a separate webhook for asana.

[2017-03-07 19:32] timabbott opened #3965 "Missed-message emails lie to you about whether replying works if email mirror isn't setup"
Zulip's missed-message email templates, i.e. `templates/zerver/missed_message_email.*`, report that you can just reply to the email to get the reply into Zulip.  That is only correct if the email mirroring integration is enabled (settings.EMAIL_GATEWAY_PATTERN is set).  We should change the missed-message email templates to either (1) do the current thing if the setting is enabled or (2) Let users

[2017-03-07 20:37] hackrush01 commented on #3914
Any progress on this issue, as I am looking forward to apply in GSoC, but this issue is preventing me from starting the main zulip server.

[2017-03-07 20:47] hackerkid commented on #3914
@hackrush01 You should try the Vagrant development environment meanwhile.

http://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html

[2017-03-07 20:48] hackrush01 commented on #3914
@hackerkid Thanks, I will.

[2017-03-07 21:04] hackerkid commented on #971
The tests are passing when I unset the env proxy variables. When the env proxy variables are set it fails.

[code]

[2017-03-07 21:04] hackerkid commented on #971
I accidentally closed the issue.

[2017-03-07 23:07] southisle opened #3967 "JIRA Webhook encoding error after Zulip version upgrade"
After upgrading Zulip from 1.4.2 to 1.5.1, there is a '500' error in the JIRA Webhook integration.
There are no changes in JIRA.

We are using both JIRA and Zulip in a Unicode environment.
If the JIRA issue subject is in English only, no error occurs.

I wonder if there is a simple way we can solve it.

Please refer to the following log for details of the error.

Nginx access log :
`2017-03-08 07:

[2017-03-08 00:03] #3857 closed

[2017-03-08 00:51] rishig opened #3968 "integrations: Improve github (and other version control) messages."
Github (and other version control) messages currently look like this:
![image](https://cloud.githubusercontent.com/assets/890911/23684748/84f6708c-0355-11e7-9784-7afeba11f0e4.png)

A few improvements could be made:
* We currently show 10 commits before doing the "and N more commits". The limit should be 20 instead of 10, since 10+ commits is not uncommon.
* The commit links should move to the end.

[2017-03-08 00:53] timabbott commented on #971
OK, cool.  Can you try patching `tools/test-backend` to unset the `http_proxy` and `https_proxy` environment variables early in its startup, and see if that fixes this?

[2017-03-08 01:32] feorlen commented on #3928
I just tried it, and I'm getting the same behavior on Safari 10.0.3. I'm on OS X 10.11.6.

[2017-03-08 01:38] timabbott commented on #3928
@feorlen this was almost certainly an issue introduced in 9ee5ac6d23e78d5756eb688962004d1aac650fce.  I think it might make sense for you to try removing pieces of that CSS until you find which line is causing the problem (there have been a couple 1-2 line tweaks to that CSS since, but that's about it)...

[2017-03-08 01:43] timabbott commented on #3967
I bet we just need to add a `u` here:

[code]

aka should be: `return u"{}: {}".format(get_issue_id(payload), get_issue_title(payload))                          `

(there may be a few more similar changes needed, but that's the cause of this traceback).

If you're up for testing, you can try doing that in `/home/zulip/deployments/current/zerver/webhooks/jira/view.py` and restarting your server wit

[2017-03-08 01:47] feorlen commented on #3928
@timabbott I'll give that a try when I get back. Also, strangely, it's now occasionally not happening. I'll update when I have news.

[2017-03-08 02:09] #3856 closed

[2017-03-08 02:26] catthu commented on #3958
I'll take a stab at this!

@zulipbot claim

[2017-03-08 02:27] lonerz commented on #3958
@catthu good luck on your first issue!

[2017-03-08 02:29] catthu commented on #3958
@lonerz Thank you :)

[2017-03-08 03:26] rishig opened #3971 "subscriptions: Clicking green subscribe checkbox should show stream settings."
To see current behavior:
Go to stream settings page -> all streams.
Click the green checkbox for one of the streams. You are now subscribed to the stream.

Currently it shows nothing on the right hand panel of the streams settings page. Desired behavior is for it to show the settings for the stream you just subscribed to. (You can see said settings if you click on one of the other streams you're a

[2017-03-08 03:44] timabbott commented on #3948
The nice thing about a native integration is that we can format it the best way for Zulip, rather than each user needing to do so.  Since Asana is fairly popular, I think it's probably worth doing.

[2017-03-08 04:00] timabbott opened #3972 "Change bugdown emoji rendering to use the sprite sheet rather than hardcoded URLs"
Now that we have sprite sheets for emoji in Zulip, we should use them for the actual emoji in messages, not just in the compose/reactions emoji pickers.

We can do this by changing the markup for emoji to a similar sprite sheet type of styling to what we use in the compose emoji picker and reactions emoji picker ( e.g. `<span class="emoji emoji-lemon" title="lemon">:lemon:</span>`), and then we ca

[2017-03-08 04:09] #2607 closed

[2017-03-08 04:14] #3692 closed

[2017-03-08 04:16] timabbott commented on #3692
@hlieberman this was just fixed; if you want to cherry-pick this into your environment, just grab.  the two commits from #3890.  You'll want to just check the `aggregated` key from the presence data.

Thanks for the bug report and design feedback!

[2017-03-08 04:26] timabbott commented on #2059
I think @showell was mostly consolidating; we have
https://github.com/zulip/zulip/issues/3458 and https://github.com/zulip/zulip/issues/3780 which cover several specific ideas.  You may want to add something thoughts to #3780 (this comment will at least link it back to here)

@rishig are you going to do the "number of messages" thing soon or should we open an issue for that?  I don't see one open.

[2017-03-08 04:47] kkanahin commented on #3855
I've investigated this issue. The problem is connected with managing  `uwsgi` workers.
This image shows started `uwsgi` workers without master process:
![supervisor_processes_at_the_begining](https://cloud.githubusercontent.com/assets/1586047/23690194/f60a59fc-03e9-11e7-8a42-4bd34b65491d.png)
Child processes don't follow the main process if it was closed unexpectedly or by kill command with SIGKIL

[2017-03-08 04:54] southisle commented on #3967
We modified several lines in the view.py file, such as issue title, comment function, etc., and fixed the webhook integration error.

Thank you so much.

[2017-03-08 04:56] timabbott commented on #3855
Hmm, I thought I ran into issues setting `master=true`, but maybe that was actually because supervisord was sending the wrong signal at the time...  will test this out.

[2017-03-08 04:56] timabbott commented on #3855
Are there other config changes needed?  You can open a PR doing what's needed; the files are all under `puppet/zulip/`

[2017-03-08 04:57] timabbott commented on #3967
@southisle cool; I'd like to fix this for everyone else as well though, so reopening the issue.

[2017-03-08 04:57] timabbott commented on #3967
(If you can post the changes you had to make, that would be helpful!)

[2017-03-08 05:02] kkanahin commented on #3855
I'm doing this now.

[2017-03-08 05:05] timabbott commented on #3963
Hmm, that's an error handling some other error.  Is there an additional traceback, say in errors.log?

I'll work on fixing the error handling exception, since that made this confusing, but it's not the actual problem (actual problem is probably a configuration issue).

[2017-03-08 05:06] #3874 closed

[2017-03-08 05:11] kkanahin commented on #3855
@timabbott, Also I've checked this solution several times with different configuration on my local "production" instance and it works correctly. Examples on screenshots above.

[2017-03-08 05:24] #3963 closed

[2017-03-08 05:25] timabbott opened #3974 "run-dev.py crazy traceback in URL resolvers"
We seem to get this crazy thing in development when a logged-out view throws an exception.

Reproducible by doing patch and then loading the login page:
[code]

[code]

@umairwaheed I think this showed up with the Django 1.10 upgrade, can you investigate?

[2017-03-08 05:27] timabbott commented on #3963
Closed this issue since we fixed the bug in the traceback above (which is just log spam); feel free to just open a new one when you have the actual problem that happened...

[2017-03-08 05:28] timabbott commented on #3828
@khantaalaman I think what happened here is that you didn't properly mark the commit as closing this issue.  I see you did put it in the PR description; note that the commit message, not the PR description, is what matters!

[2017-03-08 05:28] #3828 closed

[2017-03-08 05:36] #3855 closed

[2017-03-08 05:48] #3477 closed

[2017-03-08 05:53] catthu commented on #3958
When we type `is:private` in the search bar, the suggestions are

"Narrow to private messages with...."

But with `is:private sender:tim`, the suggestions are:

"Narrow to messages sent by Tim..."

Is this the desired behavior? It seems like here we'd want it to narrow to private messages with senders that match that name, so this seems like a related bug.

[2017-03-08 05:55] timabbott commented on #3958
Yeah, that's probably an independent bug present for the same reason that this isn't a thing folks have done often in the past :)

[2017-03-08 06:01] timabbott commented on #3914
@tommyip were you able to reproduce this problem?

[2017-03-08 06:03] umairwaheed commented on #3974
Sure. @zulipbot claim

[2017-03-08 06:04] #3889 closed

[2017-03-08 06:05] timabbott commented on #3889
Fix merged, thanks @bgilbert for the bug report!

[2017-03-08 06:25] #3888 closed

[2017-03-08 06:45] #3776 closed

[2017-03-08 06:59] kkanahin commented on #1134
@zulipbot claim

[2017-03-08 07:24] CSC510Zacky commented on #3967
We added "u" in front of quotation mark when format function directly called to return argument or entered to rvalue.
(e.g., return u"blah blah".format(), message = u"blah blah".format())

But, if it called for parameter of the function for error or warning, I didn't add "u".
(e.g., json_error, logging.warning)

I attached view.py file of .txt format to help you better understand. we thank you aga

[2017-03-08 07:31] timabbott commented on #3967
Awesome, thanks!  @TomaszKolek we should add a test fixture using unicode names to make sure this doesn't break in the future.

[2017-03-08 08:53] timabbott opened #3978 "Message autocollapsing doesn't collapse newly sent messages until next message comes in"
We have this cool message auto-collapsing feature, which cuts off really tall messages like this:

![image](https://cloud.githubusercontent.com/assets/2746074/23696658/696fe368-0399-11e7-8f65-13c92100c531.png)

However, it has a bug where when a message is first sent, it sometimes isn't auto-collapsed, and its state only updates once it is no longer the most recently sent message.

[2017-03-08 09:07] timabbott commented on #3030
@souravbadami sorry for the delay; I added a more detailed explanation for the issue.

[2017-03-08 09:57] vbNETonIce opened #3979 "tool tip on long topic names in left pane"
some streams have some very long topic names.
It would be nice to have those tool tips popping up when you hover over a long topic name.
To skim through many long topic names the tool tip could stay as the user drags the mouse down

![long topic names tool tip.gif](https://cloud.githubusercontent.com/assets/26190934/23699061/1dc96db2-03ee-11e7-9a2a-6643cc4cc8e8.gif)

[2017-03-08 10:54] timabbott opened #3980 "Add test coverage for session deletion methods in zerver/lib/sessions.py"
We just extracted zerver/lib/sessions.py out of `zerver/lib/actions.py`.  We should get it to 100% test coverage and then add it to the fully covered list in `tools/test-backend`.

This should I think be a fairly quick project -- for each function, test that it logs out the user(s) that should be targeted, and doesn't log out some other user.

[2017-03-08 11:34] HarshitOnGitHub commented on #3972
@timabbott Instead of having emoji name in the rendered content we may want to have unicode code point since having names here would hamper us from adding or deleting emoji shortcodes and are hard to internationalize as well(#3539). One possible solution that I am having in my mind is to modify the sprite generation code to have `emoji-<codepoint>` as classes rather than `emoji-<emoji_names>`. Thi

[2017-03-08 12:00] timabbott commented on #3972
Oh, yeah, great point, we should use the codepoints here (for standard emoji); we'll still need to use the emoji names for custom realm emoji (since those don't have codepoints).

[2017-03-08 12:02] timabbott opened #3981 "i18n: Traceback running `makemessages.py` with emacs backup files of JS"
Just create the file named `static/js/.#echo.js`  run `manage.py makemessages`.
[code]

[2017-03-08 12:46] HarshitOnGitHub commented on #3972
Forgot to mention that realm emojis are not there in the sprite sheet and hence separate logic would be required to handle them correctly.

[2017-03-08 13:38] wizsid11 commented on #3968
I would like to work on this

[2017-03-08 13:43] tommyip commented on #3914
The building and attaching stage works fine for me, though I have some problem with launching the server. But they should be unrelated.

[2017-03-08 16:54] catthu opened #3982 "Search bar doesn't present options to narrow down to the correct view"
`is:private sender:tim` gives options to narrow down to messages from senders with name matches tim.

Should instead gives options to narrow down to private messages from senders with name matches tim.

There are likely other search bar narrowing issues related to this; I haven't had time to explore yet.

[2017-03-08 16:58] catthu commented on #3982
@zulipbot claim

[2017-03-08 19:11] brockwhittaker commented on #1910
@zulipbot claim

[2017-03-08 19:16] davidbalbert opened #3986 "Make "X is not subscribed to this stream" warning more explicit"
If you @-mention someone who's not subscribed to the destination stream while composing a message, you get the following warning, with a subscribe button:

This warning does not make it clear what will happen if you send the message without subscribing them.

Something along these lines would be more helpful:

[2017-03-08 19:24] showell opened #3987 "Rename peer_review stream to code_review."
This is for @timabbott to rename/merge this stream.  I am not sure this will affect anything else like docs or zulipbot.

[2017-03-08 19:39] timabbott commented on #3815
@lonerz do you think this is a case zulipbot should have commented on?  There is an open PR, and I think it's waiting on me ...

[2017-03-08 19:42] lonerz commented on #3815
@timabbott it shouldn't have. It's a priority on our issue list right now.

[2017-03-08 19:47] lonerz commented on #3987
@timabbott this can be closed via 5cc900e.

[2017-03-08 19:55] lonerz commented on #3848
@refeed please ignore zulipbot's warning. To keep zulipbot from unassigning you, comment on this PR. There's a bug in zulipbot that we are trying to fix.

[2017-03-08 19:56] timabbott commented on #3987
Yep, done, thanks for the reminder :)

[2017-03-08 19:56] #3987 closed

[2017-03-08 19:58] timabbott commented on #3986
I think an alternative approach would be to just deliver the message to the user, with some sort of marker that makes clear to the user that they aren't subscribed but received this message because they were mentioned.

[2017-03-08 20:23] timabbott commented on #3979
This is a great little improvement; I don't know we haven't added it before :)

[2017-03-08 20:31] rishig opened #3989 "stream settings: Show stream activity on subscriptions page."
The analytics system keeps track of the number of messages sent to each stream each day. It would be great to pass this information up to the frontend, since it is useful information for a new user trying to make sense of an organization's streams.

In particular, lets pass up the number of messages sent in the last week, for each stream.

Notes:
* The counts live in the StreamCount table in analy

[2017-03-08 20:36] davidbalbert commented on #3986
I think @timabbott's suggestion would be even better. If there is still a warning, it should be updated to tell you that the @-mentioned person *will* receive the message.

[2017-03-08 20:42] lonerz commented on #1180
@zulipbot still working.

[2017-03-08 22:13] #1910 closed

[2017-03-08 22:15] rishig commented on #3904
Thanks for the observation! As Steve mentioned, this code is run on the server, and so is not subject to fluctuations of internet connectivity. In general, things in `static/` are run in the browser, and everything else is run on the server.

The right place to put retry logic here would be in the failure handlers of the `$.get` calls in `static/styles/stats/stats.js`. In general though for Zulip

[2017-03-08 22:15] #3904 closed

[2017-03-08 22:21] rishig opened #3991 "reactions: Don't rerender message if it is being edited."
Currently, we rerender the message whenever a reaction comes in. If the message is being edited, we should defer that rerendering until the end of the message editing.

You can test this by using a couple browser windows against a development server.

[2017-03-08 22:31] timabbott commented on #3991
This may require a bit of gymnastics to make sure that the message is then still eventually rerendered if the message edit is cancelled.

[2017-03-08 22:33] rishig opened #3992 "message editing: Close message edit when re-narrowing."
If a user is editing a message, and renarrows (e.g. by clicking on a link in the left sidebar), we should ask the user if they want to cancel their edit or go back to editing. Currently we have the odd behavior of the half-edited message sticking around until the browser reloads.

[2017-03-08 22:49] timabbott commented on #3277
I've confirmed the issue is problem that appears basically only at 90% zoom. :(.

@brockwhittaker FYI :)

[2017-03-08 22:54] sauravpratihar commented on #3979
@timabbott I'd like to work on this issue. where in the zulip repo I could find the related js file?

[2017-03-08 22:59] timabbott commented on #3979
`static/js/stream_list.js`, though you might just want to set the title attribute, in which case it'll be probably `static/templates/stream_sidebar_row.handlebars`

[2017-03-08 23:00] lonerz commented on #3979
@sauravpratihar to claim this task, please comment "@zulipbot   claim"

[2017-03-08 23:01] sauravpratihar commented on #3979
@zulipbot claim

[2017-03-08 23:27] timabbott commented on #3780
We now have a /#subscriptions/all (soon to be /#streams/all) link that will take you to the discover part of this page.

[2017-03-08 23:32] #3809 closed

[2017-03-08 23:48] timabbott opened #3994 "Send the test message sent by the GitHub webhook integration"
The GitHub webhook integration sends a test message.  Currently, I think we just 200 and do nothing with it; it would be better to send it through so it's clear that things worked.

This is specifically for the "webhook" integration; not the legacy one.

[2017-03-08 23:52] sauravpratihar commented on #3979
@timabbott I added commit on it.!

[2017-03-08 23:58] timabbott commented on #3979
I think we probably don't need the `Title: ` part.  Can you fix that, clean up your commit message (
Check out the Zulip commit message guidelines for more details: https://zulip.readthedocs.io/en/latest/version-control.html#commit-messages) and open a PR?

[2017-03-09 00:15] sauravpratihar commented on #3979
@timabbott so I have to remove the Title attribute or just a text "Topic:" before the topic name?

[2017-03-09 00:16] timabbott commented on #3979
Sorry, I meant we don't need to label it as a Topic: ; it's clear from context.

[2017-03-09 00:30] refeed commented on #3848
Okay

[2017-03-09 00:53] #3903 closed

[2017-03-09 00:56] timabbott commented on #3903
This was just fixed.  For those who need a workaround, you can fix this on the `manage.py shell` with:
[code]

`realm.domain` will be deleted in Zulip 1.6, so it's not absolutely essential to do this.

[2017-03-09 00:56] timabbott commented on #2702
Fixed via 3797fa657ee6a78385e5fcd1538348265fc469e3

[2017-03-09 00:56] #2702 closed

[2017-03-09 00:59] mananpal1997 commented on #3771
Also, should we add a feature, that zulipbot suggests you similar label / list of recommended labels if the label is not found?

[2017-03-09 01:00] #3653 closed

[2017-03-09 01:02] timabbott commented on #3771
That's a great idea.  @synicalsyntax @lonerz what do you think?

[2017-03-09 01:21] timabbott commented on #3968
Cool, sounds good.  The Zulip Git integrations are nice in that they all use a common set of functions to render messages; so I think this just involves changing those functions, and editing/adding tests.

[2017-03-09 01:36] lonerz commented on #3771
@timabbott @mananpal1997 This would work. Would love to have this implemented :)

[2017-03-09 02:34] rishig opened #3998 "bugdown: rstrip code blocks."
When people copy and paste code blocks from a terminal, often it will include many spaces to the right of the code. We should remove these spaces, since otherwise it can e.g. unnecessarily cause the addition of the scroll bar:
![image](https://cloud.githubusercontent.com/assets/890911/23733418/9c0eb2b0-042d-11e7-8673-5ffa234586b4.png)

The bugdown code is in `zerver/lib/bugdown/__init__.py`.

[2017-03-09 03:05] rishig opened #3999 "lint: Add lint rules that make it harder to introduce naive timezones."
Naive timezone objects are dangerous, since they can cause bugs that happen for only 1 hour a year (daylight savings time), or can cause unexpected behavior when users or servers move timezones. See https://zulip.readthedocs.io/en/latest/code-style.html#naive-datetime-objects for more information.

We'd like to add lint rules that do the following:
* Block the strings `utcnow`, and `utcfromtimesta

[2017-03-09 04:53] timabbott commented on #3999
Our lint rules are just regular expressions that run on each line of the language.  So blocking `datetime.now` is a lot easier than requiring a `tz` argument or the `strptime` thing.

[2017-03-09 04:55] timabbott commented on #3999
There's also a small perf cost to each lint rule; so I'd focus on the things like `datetime` that a lot of people are used to.  I think our `pytz` basically all dates to 2014.

[2017-03-09 05:04] timabbott commented on #3999
I added 342a80c3dee8000ea495834f93bfb06508351de3 for the datetime thing, since that seems most likely to grow back.  For the others -- maybe worth doing a `git log -p` to see when the last time they were added to the codebase was?  I don't think it's worth linting for anything that isn't at risk of being added.

[2017-03-09 05:05] timabbott commented on #3998
@YagoGG this may be a good next project for you, since you've been working in the fenced code logic...

[2017-03-09 05:11] PhilSk commented on #3992
@zulipbot claim

[2017-03-09 05:35] TomaszKolek commented on #3968
@wizsid11  If you'd need any help - ping me please.

[2017-03-09 05:52] #3912 closed

[2017-03-09 05:54] timabbott opened #4000 "Add support for limiting the branches for GitHub webhook notifications"
We probably will want to control this by the user specifying `&branches=master,development` in the URL for now.

Code is in `zerver/webhooks/github_webhook/`

[2017-03-09 05:55] wizsid11 commented on #3968
@TomaszKolek Sure!

[2017-03-09 05:56] TomaszKolek commented on #4000
Should we think about it globally (for all of git like integrations) or just in Github?

[2017-03-09 05:57] timabbott commented on #4000
Yeah, ideally we'd do it for all the Git hosting services.

[2017-03-09 06:19] mananpal1997 commented on #3771
@lonerz @timabbott great, I'll start working on it soon. Just going through the codebase right now.

[2017-03-09 06:19] timabbott commented on #3649
@abhijeetkaur probably the simplest version of an implementation for this would be to start by writing a query similar to what we do when fetching messages when narrowed to `is:private`.  The backend code for search is quite complicated, but I think you can get the idea from that -- it'll be something like

`UserMessage.objects.filter(user_profile=user_profile, message__recipient__type__in=[1,3])`

[2017-03-09 08:46] #3899 closed

[2017-03-09 08:50] #3941 closed

[2017-03-09 08:54] lonerz commented on #3992
Was testing something. Don't mind my reference. Sorry for the disruption.

[2017-03-09 08:57] #3848 closed

[2017-03-09 12:23] andrewallen00 commented on #3980
@zulipbot claim

[2017-03-09 14:07] abhijeetkaur commented on #3882
@zulipbot claim

[2017-03-09 14:39] abhijeetkaur commented on #3649
@timabbott Thank you for the insight. I have started working on the issue you specified above. :)

[2017-03-09 15:16] mahim97 commented on #3994
@timabbott I can take this up, but I haven't worked on webhooks before. Is this alright?

[2017-03-09 16:23] abhijeetkaur commented on #3882
@rishig @timabbott Could you please explain what exactly this new search keyword `huddle-with:<email>` will do?

[2017-03-09 17:08] nitish1211 opened #4005 "Actions popover menu drops below bottom of screen."
The popover for the message at the end of the stream is out of view because it always opens to the bottom.

![image](https://chat.zulip.org/user_uploads/2/2e/rs6w9ClZy-SLopwnnPObeWKP/Screenshot-from-2017-03-09-12-24-22.png)

**_Fix_**: The popover should open towards the top _always_ or open towards the top for the _last message_.

[2017-03-09 17:12] PhoeniXkrypT commented on #3989
@zulipbot claim

[2017-03-09 18:50] jbarnold opened #4008 "Escape from invite more users"
After bringing up the "invite more users" dialog by clicking on "invite more users", pressing escape should dismiss the dialog as though you pressed "cancel".

[2017-03-09 19:04] timabbott opened #4009 "Node tests should give a nice error message when run outside Vagrant"
Basically, if you try running them outside Vagrant, the `node_modules` symlink will point to the wrong place, and thus the tests will fail with a mysterious error trying to find some file.

See discussion on how to fix this here:

https://chat.zulip.org/#narrow/stream/test.20suites/topic/node_test.20failure

[2017-03-09 19:13] #3979 closed

[2017-03-09 19:14] jajodiaraghav commented on #4008
@zulipbot claim

[2017-03-09 19:21] timabbott commented on #3882
Answered in chat: https://chat.zulip.org/#narrow/stream/issues/topic/issue.20.233882

[2017-03-09 19:50] lonerz commented on #3895
@HarshitOnGitHub there's a bug with zulipbot currently. Please comment so that zulipbot doesn't unassign you.

[2017-03-09 20:13] #4008 closed

[2017-03-09 20:13] timabbott commented on #4008
Fix merged, thanks for the report @jbarnold!

[2017-03-09 20:40] jajodiaraghav commented on #3971
The inverse of this issue is also present where, on unsubscribing from a steam, it still shows all the stream settings.

[2017-03-09 20:43] timabbott opened #4011 "Support writing integration documentation in markdown"
I think this would be a lot cleaner of a flow.  In terms of interface, I'm imagining we add support for writing a `zerver/views/webhooks/travis/doc.md` (instead of `docs.html`), and the integration tooling will just figure it out based on which file exists.

For normal markdown, we can just use the same `render_markdown_path` code system that we're using for user docs (`templates/zerver/help/*.md`

[2017-03-09 20:44] timabbott commented on #4011
@umairwaheed this might be a good project for you given your past experience customizing Jinja2...

[2017-03-09 23:44] rishig commented on #3295
hm, I'm not able to reproduce. Could you write the steps to reproduce? Thanks for opening/finding this!

[2017-03-10 00:29] timabbott commented on #3994
Yep; there's plenty of documentation: http://zulip.readthedocs.io/en/latest/integration-guide.html

[2017-03-10 01:33] brockwhittaker commented on #3277
I made a quick fix if you want to apply it @jajodiaraghav:

[code]

[2017-03-10 01:35] jajodiaraghav commented on #3277
Thanks @brockwhittaker
Submitting patch in a moment. :)

[2017-03-10 01:56] brockwhittaker commented on #3991
Perhaps it could be put into a temporary queue with the ID of the message so that when the user exits out of edit mode it is refreshed immediately?

[2017-03-10 02:08] rishig commented on #3991
I guess we could set a message.rerender that message_edit.end (or something similar) then reads?

[2017-03-10 04:04] #3277 closed

[2017-03-10 04:06] rishig commented on #4005
Thanks for the detailed bug report, @nitish12111!
The solution probably looks something like "replace a `bottom` CSS class somewhere with a `top` when the height of the popover + the position of the down arrow on the page is below the bottom of the screen."

[2017-03-10 04:13] anirudhjain75 commented on #3295
@rishig change your window's size to half or something like that, then click on emoji reactions, generally when there is less space in the bottom popovers move above the clicking button, but this does not happen in case of emoji reaction ls popover. Thus its some portion ends up below the screen.

[2017-03-10 04:15] souravbadami commented on #3972
@zulipbot claim

[2017-03-10 04:35] umairwaheed commented on #4011
Sure. Sounds fun. @zulipbot claim

[2017-03-10 05:26] rishig commented on #3295
What is your browser / operating system?

[2017-03-10 05:41] anirudhjain75 commented on #3295
It is tested in both chrome and Firefox in OSX Yosimite and Ubuntu 14.04

[2017-03-10 05:42] anirudhjain75 commented on #3295
I use both of them

[2017-03-10 05:50] #1602 closed

[2017-03-10 06:11] #3907 closed

[2017-03-10 07:51] HarshitOnGitHub commented on #3895
@lonerz Thanks for heads-up!!

[2017-03-10 12:17] aakash-cr7 commented on #4005
@zulipbot claim

[2017-03-10 16:46] showell opened #4015 "Live-update stream settings when other user creates public stream."
If I happen to be in stream settings when another user creates a public stream (but doesn't subscribe me yet), then we may want to live-update the streams.  This is a relatively rare thing, but often there is discussion about creating a stream right before the stream is actually created, so you may have occasional races to create the stream between two users.  (And these races aren't down-to-the-m

[2017-03-10 16:48] #3878 closed

[2017-03-10 17:51] timabbott commented on #4015
Hrm, yeah, I thought we already did this.

[2017-03-10 18:24] lonerz commented on #3886
@zulipbot still working.

[2017-03-10 18:27] glyph commented on #3926
Just wanted to add a quick 👍 from me on <kbd>G</kbd>; after starting to get used to the vim-like keyboard shortcuts, I found myself tripping over the fact that I couldn't get back down to the bottom of a stream that way :).

[2017-03-10 18:32] glyph opened #4016 "No Escape"
[Some computers](http://www.apple.com/macbook-pro/) now make it inordinately hard to hit the "escape" key, which is a key part of the UI in Zulip, since it's necessary to get back to the home screen or switch input modes.

There are two workarounds that come to mind to me:

- In Terminal (and, for related reasons, in GUI versions of Vim and Emacs), <kbd>control</kbd>+<kbd>[</kbd> is a synonym for

[2017-03-10 18:44] timabbott commented on #4016
I think `control+[` is a pretty safe approach here.

The state flipping strategy feels problematic, since folks use use `enter` in an empty compose box to just create some newlines in the compose box to make it feel more spacious before writing something longer.

[2017-03-10 18:46] timabbott commented on #3926
BTW @glyph if you're coming to the SF Python sprints May 18-19, one of Zulip's plans for that weekend is to work on our hotkeys and try to clear as much of this list as possible... interested?

[2017-03-10 18:53] #3815 closed

[2017-03-10 19:06] #1183 closed

[2017-03-10 21:07] vbNETonIce commented on #3841
just tried to install zulip 1.5.1 into fresh Ubuntu 16.04 VM with same error
before I did tried installing but it failed because I forgot the self-signed certificates.
then I retried and I run into this
my /var/log/zulip/install.log is
[install.log.txt](https://github.com/zulip/zulip/files/835125/install.log.txt)

[2017-03-10 21:17] JLoppert opened #4019 "Cannot type "!" in iOS"
Typing `!` in the message compose box does not print the character and moves the cursor to the beginning of the line. There appears to be other strange behavior when typing `!` into other text fields as well.

I was able to reproduce the behavior across several browsers (Safari, Chrome 56.0.2924.79, and Firefox 6.1 (1)) on an iPhone 6 running iOS  10.2.1 (14D27)

EDIT: Added Chrome/Firefox App ver

[2017-03-10 21:23] timabbott commented on #4019
Mysterious!  We don't have any hotkeys code specifically around `!`, so I wonder if it's somehow being detected as pageup (which is the hotkey that does that) or something.

@brockwhittaker this may be a good one for you to investigate :)

[2017-03-10 21:46] vbNETonIce commented on #3841
did a new install with a new ubuntu VM and didn't forget to create the certificates at the beginning and everything worked fine

[2017-03-10 21:55] brockwhittaker commented on #4019
Fun bug, will start debugging.

[2017-03-10 22:04] wdaher opened #4020 "Cannot change notification settings on newly subscribed stream"
To reproduce:

1. Go to "Manage streams" page
2. Subscribe to a new stream from the "All Streams" tab
3. Click back to the "Subscribed" tab, noting that the new stream appears
4. Click on the stream — you don't get the settings or the email address:

![image](https://cloud.githubusercontent.com/assets/109246/23814923/5f8fdc7e-059a-11e7-9958-48bc852691ce.png)

[2017-03-11 00:33] showell commented on #4015
I thought so too, but I think we only handle similar, but different, cases, like being subscribed to an existing stream.

[2017-03-11 05:50] HarshitOnGitHub opened #4021 "Print a nicely formatted traceback in case of an exception in dispatching an event."
If while running node tests we get an exception in dispatching an event the traceback only has a `ReferenceError: blueslip is not defined` which is due to the fact that blueslip has not been stubbed in dispatch.js in node tests. Here is the complete traceback:
[code]

[2017-03-11 06:55] glyph commented on #4016
@timabbott I thought it might be a problem, given that enter-to-send still isn't the default...

[2017-03-11 06:55] glyph commented on #3926
@timabbott I'll be there but (unfortunately?) sprinting on @twisted/twisted instead.  See you there though!

[2017-03-11 07:40] sauravpratihar commented on #3867
@timabbott Can we do something like this?
Change height of draft management popup to just a box size. same for website as well as mobile site.

for web:
![desk3](https://cloud.githubusercontent.com/assets/9608187/23821552/e92ac3b0-065b-11e7-995b-6890e94c48ca.png)

for mobile:
![mobile](https://cloud.githubusercontent.com/assets/9608187/23821480/b34dcd34-0659-11e7-8f32-d40136e051b4.png)

[2017-03-11 07:46] Lplenka opened #4022 "All menu popup modals are not responsive in chat.zulip .org"
I found this problem in mobile view of [chat.zulip.org](chat.zulip.org)
![zulip_issue](https://cloud.githubusercontent.com/assets/13533873/23821563/738613b6-065c-11e7-9738-786514b6411b.png)

The `Setting`,`Keyboard Shortcuts` & `Message Formating` modals are not responsive ,  not entirely visible in mobile screen and some them even don't show the `close button`

Just a minor CSS bug

[2017-03-11 09:18] sauravpratihar commented on #4022
@zulipbot claim

[2017-03-11 10:26] zerocod3r opened #4024 "Leftmost list of Users becomes unresponsive on mobile view of chat.zulip.org"
![aw](https://cloud.githubusercontent.com/assets/14259718/23822449/db5a9ee2-0672-11e7-8c4c-1ad6080cd579.jpg)

In mobile view the leftmost list of users (area under red rectangle), becomes fixed and doesn't get scrolled.
Scrolling get disabled in users list in mobile view.
Minor CSS bug can be solved by modifying CSS.

[2017-03-11 10:50] aakash-cr7 commented on #3971
@zulipbot claim

[2017-03-11 13:27] zerocod3r commented on #4024
@zulipbot claim

[2017-03-11 15:08] blaze225 commented on #3648
Hi, im new to zulip. Can i take this up?

[2017-03-11 15:19] lonerz commented on #3648
@blaze225 yea! Go ahead! Just comment "@zulipbot  claim" to claim this issue.

[2017-03-11 16:34] blaze225 commented on #3648
@zulipbot claim

[2017-03-11 17:12] sauravpratihar opened #4027 "popup of setting option is not responsive in mobile devices"
right panel of popup model of user setting is not visible and also not srollable.
see here:
![screenshot_2017-03-11-22-33-34-551_com android chrome](https://cloud.githubusercontent.com/assets/9608187/23825217/b922c7a8-06ab-11e7-919e-7af67c95dede.png)

need to fix minor css bug.

[2017-03-11 17:17] Lplenka commented on #4027
Issue #4022 already exists , No point opening same  issue again

[2017-03-11 17:25] sauravpratihar commented on #4027
@Lplenka yes. it is duplicate. thanks!

[2017-03-11 17:25] #4027 closed

[2017-03-11 17:55] tommyip commented on #1131
https://github.com/jorisroovers/gitlint/pull/21 is nearly getting merged.

[2017-03-11 17:59] #4024 closed

[2017-03-11 18:19] aakash-cr7 opened #4028 "Subscriptions: Email suggestion suggests users that are already subscribed to the stream"
Ideal behaviour should be that the email suggestions should exclude the users already subscribed to the stream.

For example: If you search for "tabbot@zullipchat." in announce stream, it suggests Tim's email though he is already added.

![issue1](https://cloud.githubusercontent.com/assets/7534680/23825701/89fa33a4-06b4-11e7-81fa-aa023a829994.png)

**_Suggestion:_** I think we should also provide

[2017-03-11 18:19] aakash-cr7 commented on #4028
@zulipbot claim

[2017-03-11 18:24] aakash-cr7 commented on #4028
@timabbott @showell any thoughts on this one?

[2017-03-11 18:27] zormit opened #4029 "Closing "Formatting" help popup closes message compostion"
When exiting the markdown-help overlay by clicking "x" or outside of the overlay, the message composition quits. This is a bug, because we can assume that the user wants to continue editing the message, after looking up some markdown syntax.

This does not happen when using the "Esc" key to close markdown-help.
This also does not happen in the "message edit" view.

[2017-03-11 18:28] zormit commented on #4029
@zulipbot claim

[2017-03-11 19:43] synicalsyntax commented on #3354
@zulipbot abandon

[2017-03-11 19:43] synicalsyntax commented on #3354
@zulipbot claim

[2017-03-11 21:59] lonerz commented on #4028
This sounds good. I've witnessed this issue for some time already, but thought another issue was open for this. Did a quick search and apparently not. Good luck on this!

[2017-03-11 22:39] showell commented on #4028
At one point I think it was an intentional decision not to exclude existing users from the typeahead, since it could confuse users into thinking they were not part of the realm, and you can't always see the existing users in a large stream.  I'd rather exclude, though, so my vote is +1 on following this issue's suggestion.

[2017-03-11 22:40] lonerz opened #4035 "Message edit history "Cancel" button should be automatically selected"
When you view the source of a message, the "Close" button is automatically selected. This should also happen when you view message edit history.

[2017-03-11 22:41] lonerz commented on #4028
@showell I guess this is the reason why a search bar for streams would be helpful.

[2017-03-11 22:42] lonerz commented on #4035
@zulipbot label "enhancement" "bite size" "area: message-editing" "help wanted"

[2017-03-11 22:46] sampritipanda commented on #4029
As a part of this, you could also fix the issue where opening the subscriptions modal closes the Compose box.

After fixing that, you'll probably discover that closing that also closes the compose box in which case you'll need to add it to that click handler.

[2017-03-11 22:53] showell opened #4036 "Sweep overlays and modals for consistency."
We should sweep all code relating to modals and popups to see if they can use more modern overlay classes, and we should see if there are related CSS cleanups (DRY, etc.) that we can do.

Be careful about claiming this issue for yourself; this may be a group effort, and we should coordinate it carefully.  We can use this ticket to track ongoing efforts and record decisions about what we think the

[2017-03-11 22:56] showell commented on #4028
One big-picture thing here to be aware of is that our UI for adding subscribers to a new stream is different than the UI to add subscribers to an existing stream.  I believe there's a ticket somewhere suggesting we consolidate the approaches somehow.

[2017-03-12 04:25] blaze225 commented on #3648
I have written a section. Should i continue in the same fashion?
Also, @timabbott you mentioned that an exhaustive list should not be made, but there wouldnt be much content that way.
Attaching my progress so far
Need some feedback
Thanks
![screenshot from 2017-03-12 09-47-15](https://cloud.githubusercontent.com/assets/22424814/23828982/4480d2d8-0709-11e7-916f-e67ccd260b84.png)

[2017-03-12 05:19] lonerz commented on #3648
@blaze225 can you make a "WIP" pull request?

[2017-03-12 05:52] babhishek21 commented on #3741
Thanks for the reminder @zulipbot . Have been stuck in university midterms 😅 Expect a patch today or late tomorrow.

[2017-03-12 06:36] vbNETonIce commented on #1506
I also had this idea this morning but thought more about an open in the user profile to choose one's own time zone and when you hover over the message time stamp you see not  only your own time but also there local time.
![tool tip to show users local time](https://cloud.githubusercontent.com/assets/26190934/23829592/48f6ffa8-06f6-11e7-98fd-a6724b3a39f7.png)

another place would be when you click

[2017-03-12 12:33] showell commented on #2836
Replacing with #4036.

[2017-03-12 12:33] #2836 closed

[2017-03-12 12:34] showell commented on #4036
See also #2836, which this replaces.

[2017-03-12 17:56] zerocod3r opened #4038 "On hover display title of various elements"
On hovering many icons and elements its necessary to show title to guide user more about its use.
These are -
emoticon icon
messagebox info action icon

[2017-03-12 17:56] zerocod3r commented on #4038
@zulipbot claim

[2017-03-12 18:03] PhoeniXkrypT commented on #3989
@rishig What kind of visualisation would you prefer for the 'messges_in_stream' count - bar chart, pie graph ?

[2017-03-12 18:35] showell commented on #4035
Also, we should hide the save button when you try to edit a message that is too old to edit.

[2017-03-12 18:41] blaze225 commented on #3648
Sure , PR #4039

[2017-03-12 18:58] aakash-cr7 commented on #4035
@zulipbot claim

[2017-03-13 02:24] lonerz commented on #3945
@samatdav are you still working on this?

[2017-03-13 04:53] rishig commented on #4035
The save button is for if you change the topic (which you can always edit, regardless of how old the message is).

[2017-03-13 04:57] synicalsyntax commented on #743
@timabbott Doesn't this already exist in https://chat.zulip.org/help/about-streams-and-topics? If not, how can the current documentation on that page be improved?

[2017-03-13 04:58] synicalsyntax commented on #156
@zulipbot claim

[2017-03-13 04:58] synicalsyntax commented on #1368
@zulipbot claim

[2017-03-13 05:01] synicalsyntax commented on #675
What features are we looking to document that don't have issues already created for them?

[2017-03-13 06:25] amittbhardwj commented on #4016
@glyph I have another suggestion. How about using

**ctrl + space**  or **ctrl + enter** to escape as people usually press space bar or enter when they wanna get out of dailog box.

[2017-03-13 06:50] blaze225 commented on #3648
new PR #4042

[2017-03-13 09:04] samatdav commented on #3945
Yes, I would still want to fix it if there is time. I am sorry for the
delay.

On Mar 13, 2017 5:24 AM, "Joshua Pan" <notifications@github.com> wrote:

@samatdav <https://github.com/samatdav> are you still working on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/zulip/zulip/issues/3945#issuecomment-286000914>, or mut

[2017-03-13 10:36] jajodiaraghav commented on #3950
Will open a PR soon.

[2017-03-13 12:33] brockwhittaker commented on #4036
@zulipbot claim.

[2017-03-13 16:30] babhishek21 commented on #3741
Alright patch #4047 is in. Let me know how it works out. :sweat_smile:
I'll be AFK for the majority of the week. If something else comes up, let me know on `chat.Zulip` or email me. :+1:

[2017-03-13 17:44] zormit commented on #2044
I'm not sure if that fits here, because it's not about private streams, but about history:

I wanted to search for information that happened before I created the account. That seems to be not possible in general, possibly by design (#230). I think it would be great to have an archive of old information (like mailinglist archives have), such that new developers can check on previous decisions.

[2017-03-13 18:26] lonerz commented on #4022
@synicalsyntax seems like server-browser-support is not an area team?

[2017-03-13 18:28] synicalsyntax commented on #4022
@timabbott might've missed it while he was making the area teams because I'm pretty sure it was on the Google Docs signup.

[2017-03-13 18:34] synicalsyntax commented on #4021
@HarshitOnGitHub Are you working in this? Please claim the issue by posting `@zulipbot claim`in a comment on this issue if you are so other users know that it's being worked on.

[2017-03-13 18:39] HarshitOnGitHub commented on #4021
@zulipbot claim

[2017-03-13 18:40] HarshitOnGitHub commented on #4021
Thanks @synicalsyntax!

[2017-03-13 19:09] synicalsyntax commented on #3665
So we've added a lot of features since the last time this issue was updated, and I think this issue would be more appropriate in the [zulip/zulipbot](https://github.com/zulip/zulipbot) repository if we wanted to continue working on this. Should this issue be closed?

[2017-03-13 19:20] jajodiaraghav commented on #1435
@zulipbot claim

[2017-03-13 19:41] aakash-cr7 commented on #4035
So while we are at it fixing the message edit history cancel button, should we fix this as well?
I think maybe while viewing the source if the user is no longer to edit the message we can disable(or even maybe hide) the save button. And as the user tries to edit the topic enable the button (or make it visible). What do you think ?

[2017-03-13 19:43] showell commented on #4035
Yep, @rishig @aakash-cr7, I think we should refine the save button experience when you can only edit topics.  As @aakash-cr7 suggests, we could at least make it disabled until you actually save the topic.  We could possibly move the buttons under or to the side of the topic as well when the content is read only.

I think the current UI looks the way it does because we were just trying to do minima

[2017-03-13 21:47] timabbott commented on #3665
Yeah, let's close it.  I think we should write a zulip.org blog post about zulipbot pretty soon :)

[2017-03-13 21:47] #3665 closed

[2017-03-13 21:50] timabbott commented on #4022
I think we should put that into the `frontend misc` team or similar; there's too few issues in this category to need a label I think.

[2017-03-13 22:02] timabbott commented on #4024
@zerocod3r did you intend to close this?

[2017-03-13 22:04] #3730 closed

[2017-03-13 22:17] timabbott commented on #1368
@brockwhittaker did you have some partial work on this?

[2017-03-13 22:29] brockwhittaker commented on #3866
This has been fixed!

[2017-03-13 22:29] timabbott commented on #3866
Oops, yeah, we should have closed this.

[2017-03-13 22:29] #3866 closed

[2017-03-13 23:09] brainwane commented on #3665
Sure, let's go ahead.

[2017-03-13 23:10] brockwhittaker commented on #3819
@showell caching wouldn't really work since the message body width can be different at different screen widths.

[2017-03-13 23:16] showell commented on #3819
Well, you could record the width and only trust the cache if the width didn't change, which is most of the time.

[2017-03-13 23:19] showell commented on #3819
I have strong reason to believe Tim's theory that height calculation isn't really the issue here, and it's just a measurement issue that points to the height calculations.  I did some performance profiling recently on similar code, and I found what I thought was the "slow" section of code.  As soon as I removed the "slow" section of code, the following code became slow.   Which suggests this is mo

[2017-03-13 23:29] brockwhittaker commented on #3819
This aligns with an issue Tim and I talked about with how the profiler seems to neglect to mention some other events that seem to be running concurrently which slows down processes at times. More digging to be done at some point, but this perhaps isn't a high value fix.

[2017-03-13 23:34] showell commented on #3819
For improving measurement, we can probably pretty easily remove a lot of noise:
* turn off click handlers
* turn off activity updates
* turn off hotkey handlers

It's worth turning them off successively to see if they improve performance, and then it's worth turning them off altogether just to reduce noise/variability in profiling.

[2017-03-13 23:37] showell commented on #3819
Another thing to try is to remove chunks of CSS.

[2017-03-14 00:50] dattatreya303 commented on #3873
@zulipbot claim

[2017-03-14 01:00] lonerz commented on #3873
@dattatreya303 just make sure to claim this task before, so nobody accidentally works on it before you do.

[2017-03-14 01:39] eeshangarg commented on #3948
For the past couple of days, I have been perusing Asana's webhook documentation trying to understand how to write a Zulip integration for it. However, during my study, I learned that there was a lot more thought involved in the process of coming up with the best solution than I had initially anticipated. The following is a breakdown of some issues that I've come across so far and some questions th

[2017-03-14 02:16] rishig commented on #4035
Just realized we're talking about two separate things; the message history view should have the cancel selected, agreed.

The message edit view needs a lot of improvements, and we should talk about that in a separate thread :). I think the end goal for that is for it to look like the compose box (in which case maybe there is no Cancel button, just an X in the upper right with "Esc to close" or som

[2017-03-14 02:18] blaze225 commented on #3648
PR for `https://zulip.org/`- https://github.com/zulip/zulip.github.io/pull/34

[2017-03-14 03:06] synicalsyntax commented on #1368
Since @brockwhittaker has some work on this I'll abandon the issue then. @zulipbot abandon

[2017-03-14 04:16] #3867 closed

[2017-03-14 04:24] timabbott commented on #1236
@adnrs96 you should probably claim this issue since you've been working on it.

[2017-03-14 04:38] #4019 closed

[2017-03-14 05:03] timabbott commented on #3867
@sauravpratihar this was fixed in #4053.  Thanks for investigating this!

[2017-03-14 05:21] #4021 closed

[2017-03-14 05:22] timabbott commented on #3841
Hmm, I'm not sure how that would explain the failure mode that @crazy-canux had, but given that they haven't replied with any details, I think it makes sense to close this as not debuggable.

[2017-03-14 05:22] #3841 closed

[2017-03-14 05:42] adnrs96 commented on #1236
@zulipbot claim.
Yes kind of started before zulipbot exited so forgot.

[2017-03-14 05:45] zerocod3r commented on #4024
@timabbott Yes I there no such bug present.

[2017-03-14 05:48] timabbott commented on #2044
You can search history before you created the account within a given stream; basically as long as one of the search operators is a given public stream, that works today.  This issue is about supporting this for private streams if that's desired.  We do not intend to support in the immediate future searching all public messages in an organization, since supporting that query would carry a large sca

[2017-03-14 05:49] glyph commented on #4016
As a lifelong emacs user, ctrl + space is "set-mark" to me :).

Isn't ctrl + enter already "insert newline" or "send" depending on the checkbox?

[2017-03-14 05:49] timabbott commented on #4024
Great, thanks for the confirmation!  I think we fixed this on Friday :).

[2017-03-14 05:52] timabbott commented on #1506
@umairwaheed I think it probably makes sense to add timezone as a timezone field (not a custom profile field), since we'll want to use it in a structure fashion like this.  Do you want to work on the backend for users specifying their timezone?

[2017-03-14 05:58] umairwaheed commented on #1506
Sure. Will do today. @zulipbot claim.

[2017-03-14 05:58] timabbott commented on #4015
Duplicate of #3971 and #4020.

[2017-03-14 05:59] timabbott commented on #4020
Duplicate of #3971.

[2017-03-14 05:59] #4020 closed

[2017-03-14 05:59] #4015 closed

[2017-03-14 05:59] timabbott commented on #4020
This must have regressed recently since there are several copies opened recently.

[2017-03-14 06:11] adnrs96 commented on #1661
@zulipbot claim

[2017-03-14 06:13] adnrs96 commented on #1659
@zulipbot claim.
I have code almost ready. Will have a PR after the issue with `mypy --py3` is solved.

[2017-03-14 07:15] umairwaheed commented on #3974
@timabbott, has this been resolved? I cannot reproduce it using the above patch.

[2017-03-14 08:13] wangjames commented on #3978
is this still the case?

i was trying to reproduce the bug, and it was actually the opposite for me. First large message is autocollapsed, but if you send multiple large messages one after the other, then both messages are uncollapsed.

[2017-03-14 09:10] tejaskasetty commented on #209
@timabbott  Sorry i couldn't do much from the past one and a half week. My Laptop couldn't handle multiple applications running simultaneously and was crashing very frequently. So, I barely could do anything. Now i have a new laptop and fully ready to continue. I have actually started working making the performance of the emoji picker. And your idea of supporting multiple emoji sets seems to good.

[2017-03-14 09:13] tejaskasetty commented on #1956
i m back.

[2017-03-14 09:48] vbNETonIce opened #4059 "improvement: settings can be close by clicking outside of them, not just the x"
current behaviour:
if I open the settings or administration menu I have to close it by clicking the x in the top right.

desired behaviour:
the menus darken what's around them. This area should also work for closing the menu. The other menus for streams and drafts do it and I often find myself clicking outside the settings to close them but it doesn't work.
Also much of the mouse action happens to

[2017-03-14 09:48] vbNETonIce commented on #4059
oh weird, by does it work all the sudden?

[2017-03-14 09:58] vbNETonIce commented on #4059
for a moment I thought it affects all menus but it's only the settings/admin menu.

[2017-03-14 10:14] CSC510Zacky opened #4061 "@-mentioning added extra '@'"
We're currently using zulip encoded with utf-8.

When we use the @-mention feature and press enter, the mention is completed in the following format with an extra '@': **@@\*\*Name[ID]\*\***. However, users with English names are completed normally without the extra '@' in the following format: **@\*\*Name[ID]\*\***.
My guess is that this should be resolved by removing the '@' from the source whic

[2017-03-14 12:32] umairwaheed commented on #1506
@timabbott, do we want the timezone information in presence data?

[2017-03-14 13:40] yashagrawal3 commented on #3877
Working on it. Sorry for delay.

[2017-03-14 16:38] #3940 closed

[2017-03-14 16:42] timabbott commented on #4061
Interesting!  Can you give an example name that this happens with?  I can't reproduce this when using random unicode characters as a user's name.

[2017-03-14 16:56] showell opened #4064 "message edit: Disable/move save button when you can't update content."
The message-edit widget comes into play under a couple different scenarios

- full editing allowed (content/topic)
- can only edit topics (message content too old)
- can only edit topics (message was not mine)
- viewing source only (I chose "View Source")

When there is nothing to save (view source), I believe we correctly hide the Save button now.

If you can only edit topics, we still have the S

[2017-03-14 16:57] showell commented on #4035
#4064 picks up the discussion on the message-edit view.

[2017-03-14 17:08] timabbott commented on #1506
I think we want it in the `realm_user` data shown in `people.js`; and then we can display it as part of displaying the presence data.

[2017-03-14 17:20] timabbott commented on #4059
I think there's a bug that causes this to work inconsistently.  #4036 should fix this.

[2017-03-14 17:21] timabbott commented on #209
Yep, you should check in with @HarshitOnGitHub ; I think he has the category data working already.

[2017-03-14 17:43] timabbott commented on #3819
Well I think the simplest test to see if this issue is irrelevant is just to try disabling the collapsing feature and see if that impacts load times.

We know for a fact that scroll performance on Mac is currently limited most by the way we're scaling emoji for reactions (fix is in progress).  That same issue isn't the main scroll performance thing on mobile.

[2017-03-14 18:36] timabbott commented on #3926
A great choice of project!  See you there :).

[2017-03-14 18:37] timabbott commented on #3819
On the front of collapsing, it'd be pretty easy to just test disabling the feature and see if it helps loading perf.  If it doesn't, I think we can close this issue since the strategy outlined above would not be helpful.

[2017-03-14 19:00] PhilSk commented on #4064
@zulipbot claim

[2017-03-14 19:02] timabbott commented on #3974
Nope.  Try using the py3 venv for `run-dev.py`?

[2017-03-14 19:04] rishig commented on #4064
@PhilSk let's discuss the design of this a bit more before implementing.

I think a good long term solution for the message edit box in general might be to have a layout similar to the compose box. It might be worth mocking up the final message edit box state that we want to see how we want to handle the save button.

[2017-03-14 19:04] blaze225 commented on #3998
Is someone working on this?

[2017-03-14 19:08] rishig commented on #4064
Also, maybe we just want to stop allowing editing of topics past 30 minutes? Do people use that feature?

[2017-03-14 19:09] blaze225 commented on #3865
Can i take this up?

[2017-03-14 19:10] synicalsyntax commented on #3998
@blaze225 It doesn't look like it, feel free to claim this issue by posting `@zulipbot claim` in a comment on this issue :)

[2017-03-14 19:11] showell commented on #4064
I think we need to keep allowing topic-editing..  If I make a mistake in my own content, then that's on me, but if some other user violates topic etiquette, I'd like the chance to fix it several hours after the fact.

[2017-03-14 19:18] rishig commented on #4064
There are currently two types of topic editing, I think:
* User editing their own messages. They can change topics on a per-message basis, via the edit-message form.
* Admins editing other's messages. They can only change topics on a per-recipient-block basis, via the recipient bar.

The second would not be changed under this proposal, only the first.