[2021-06-21 17:46] alya commented on #18927
I liked the sticky behavior of still having the user in the current list,
but I was expecting the user I just deactivated/reactivated to *also* show
up on the deactivated/active list. It felt like a bug to not have the user
immediately show up on the other list.

On Mon, Jun 21, 2021 at 6:53 AM Sahil Batra ***@***.***>
wrote:

[2021-06-21 17:55] sahil839 commented on #18927
I agree. I have the PR open but I think there has been a lot of refactoring to that part of code since, so it anyways will need a new PR. @ganpa3 do you want to work on this if you are available, (or I am happy take this after completing my current tasks if no one starts work till then).

[2021-06-21 19:46] alya opened #18933 "Add machine translations to language resource files"
We have a request to add machine translations to one of our languages, which can be used as a starting point by a human translator. (see [CZO thread](https://chat.zulip.org/#narrow/stream/58-translation/topic/arabic)) Doing this directly in Transifex would require an expensive paid account, so we need to set this up using external tools.

We should write a script that can run on a /locale director

[2021-06-21 20:31] andersk commented on #18673
The UI code really should use [CSS columns](https://developer.mozilla.org/en-US/docs/Web/CSS/columns) instead of doing all the table layout with array operations.

[2021-06-21 22:18] timabbott commented on #18916
The "default language" field is only for new users -- so the first screenshot from "organization settings" is presumably caused by your personal language still being American English. I think that behavior is correct, though we should probably have something to suggest you may need to update your personal language as well.

For the login page, I think we should be using the browser's locale, so th

[2021-06-21 22:21] vanclute opened #18939 "Zoom option in "Pan and Zoom" is not effective for small images"
It was much easier to explain this for me in video than text/stills, so I did a screencast.  Hope it's helpful in illustrating the issues around pan/zoom as currently implemented!

https://youtu.be/b7bI2ngce3w

[2021-06-21 22:34] timabbott commented on #18916
I added some more thoughts in the chat.zulip.org thread; there's definitely something not right here, but I'm not sure we've identified the bug precisely yet.

[2021-06-21 22:41] timabbott opened #18940 "Lastpass breaks "New organization" registration form"
Reproducer:
* Have Lastpass installed in Chrome
* Create an organization, having Lastpass generate the password and save it.
* Create a new organization (with an email address you've used with an existing organization)
* Lastpass will try to autofill the last field before the "password" field with the saved email address, which is super confusing because this field is the user's full name, and is

[2021-06-21 23:23] WesleyAC commented on #18894
Hmm, I just saw this happen on a stream I didn't have any muted topics in, in case that's relevant.

[2021-06-21 23:27] WesleyAC commented on #18894
Ah! I just saw this in the console when the bug triggered (on Firefox):

Which seems very possibly relevant?

[2021-06-21 23:48] alya opened #18941 "Add option for marking a user as spammer in "Deactivate user" popover"
Sometimes open communities have spammers sign up. Administrators can deactivate the spammer, but currently don't have an easy way to clean up after them or annotate that the user is a spammer.

We should add spammer-specific functionality to the "Deactivate user" popover.

![Screen Shot 2021-06-21 at 4 03 22 PM](https://user-images.githubusercontent.com/2090066/122838110-3aefcf00-d2aa-11eb-9a9a-b7

[2021-06-21 23:49] alya commented on #18941
@ligmitz @m-e-l-u-h-a-n FYI, since you expressed interest in #16473.

[2021-06-21 23:54] alya opened #18942 "Mute user for everyone (for spammers)"
When deactivating a user who is a spammer, some organizations may wish to hide that user's messages as an alternative to deleting them or leaving as-is.

We should add a "Mute user for everyone" option to the drop-down described in #18941, which will make the spammer muted for everyone in the organization. (Individual users can choose to unmute the spammer if desired.)

Blockers:
- [ ]  #18941

[2021-06-22 00:03] alya opened #18943 "Option to send email to user when they are deactivated"
We should add an option to send an email to a user when they are deactivated by an admin. We can add the following to the "Deactivate user" popover:

`E-mail {user name} ({user email})?` [ ]

If checkbox is checked, expand to show a text box where the admin can type in a message to the user.

This should be done a follow-on to #18941. In the case of deactivating a spammer, it partially solves #164

[2021-06-22 00:59] WesleyAC commented on #18894
(Hmm, it happened again without that warning, so perhaps not)

[2021-06-22 04:00] alya opened #18944 "Add "Manage this user" link to user profile"
When someone has permissions to edit a user's profile or deactivate a user, it would be natural to be able to access this functionality from the three-dot menu for that user.

Thus, when the user has the appropriate permissions, we should add a "Manage this user" link to the bottom of the three-dot menu. We should not display the link when the user is viewing their own profile.

![Zulip_-_Zulip_Co

[2021-06-22 04:04] alya opened #18945 "Make role in user settings editable (with appropriate permissions)"
Owners/administrators can edit their own role, but they can only do so from the Organization settings > Users menu.

When a user has the permissions to do so, we should make it possible to also edit one's role from the user settings > Your account menu.

[2021-06-22 04:12] alya opened #18946 "Add "Copy link to topic" to three-dot topic menu"
It is possible to get a link to a topic by right-clicking the topic name and selecting "Copy link". However, this is unintuitive and difficult to discover.

We should add a "Copy link to topic" option to the three-dot topic menu in the left sidebar. It should appear just above the dividing line in the menu, or as the last option for someone who does not have permissions to rename topics:

![Zulip_

[2021-06-22 08:52] snailgirl2612 commented on #18320
@zulipbot claim

[2021-06-22 09:05] chris-fh commented on #9081
Is anyone working on this? This is from 2018 and still no pdf preview feature in zulip.
We would have great need for it.

[2021-06-22 11:33] m-e-l-u-h-a-n opened #18949 "Ignore deacivated users while adding users to stream."
When adding users to a stream, we incorrectly do not ignore deactivated users. This fails request from the backend.
To address this we should ignore deactivated users ids before sending the request in frontend.
We should also improve the error message sent from the backend in this case.
Related discussion: https://chat.zulip.org/#narrow/stream/2-general/topic/Not.20authorized.20to.20execute.20quer

[2021-06-22 16:36] #18915 closed

[2021-06-22 17:40] nrobins00 commented on #18286
@zulipbot claim

[2021-06-22 17:59] aryanshridhar commented on #18946
@zulipbot claim

[2021-06-22 19:12] timabbott commented on #18945
We should only work on this after the migration in https://chat.zulip.org/#narrow/stream/101-design/topic/privacy.2Fsecurity.20settings/near/1200311 has settled; I think it's a little unclear how that UI will shake out and thus whether this is still something that makes sense.

[2021-06-22 19:15] timabbott commented on #18904
Interesting, OK, that would also do it.  I'm not familiar with that exception, but it looks like some sort of bug in camo.

Probably not very interesting for us to debug, in that we're planning to move off camo to an alternative that supports thumbnailing.

[2021-06-22 19:15] #18904 closed

[2021-06-22 19:17] timabbott commented on #18904
The most similar upstream issue is https://github.com/atmos/camo/issues/78.

If you see that error again and can figure out what URL was involved, it'd be great to report something upstream in any case.

[2021-06-22 19:18] lhaus opened #18959 "Mattermost importer doesn't support attachments"
While the documentation of both Mattermost and Zulip suggest that exporting and importing attachments is not supported, this is no longer the case. Mattermost supports exporting attachments with the command `mattermost export bulk bulk_data.zip --archive --attachments`. An export file of a sample instance can be found [here](https://cdn.zotan.services/u/bulk_data.zip).

[2021-06-22 19:18] timabbott commented on #18959
@garg3133 FYI, can you see if this is an easy fix?

[2021-06-22 19:35] WesleyAC opened #18960 "Time picker: Use user 12/24 hour preference."
The time picker widget currently always uses AM/PM when you're selecting a time, even if your user preference is for 24-hour time. We should fix that.

[2021-06-22 21:50] vanclute commented on #18939
Got an even better example today, it's too tall and narrow for the zoom to be usable without frustration.

![image](https://user-images.githubusercontent.com/5326546/123004252-3807e380-d369-11eb-894e-8627724d00fd.png)

[2021-06-23 01:01] nrobins00 commented on #18286
@zulipbot abandon

[2021-06-23 03:58] S-Abhishek commented on #18797
Hi, I'm still working on the issue

[2021-06-23 07:09] SaumyaSingh1 commented on #799
I am facing the same issue as @ChinaVogel
on running `python3 ./tools/provision` , i am getting `FileNotFoundError: [Errno 2] No such file or directory: '/home/sausingh/Desktop/Quackathon/python-zulip-api/zulip-api-py3-venv/bin/pip'`

[2021-06-23 08:25] gilbertbw commented on #7564
@zulipbot claim

[2021-06-23 16:27] LefterisKyriazanos commented on #18319
@zulipbot claim

[2021-06-23 18:43] LefterisKyriazanos commented on #18319
@timabbott  @alya

Hello, i have made an integration using only one fixture which was generated by an other Opencollective account i made in order to get sample fixtures.
When i made a one dollar one time donation and by setting the OpenCollective webhook trigger on new Members i got this response (basically is event 2 alya got my making the same type of donation)
 `{
  "createdAt": "2021-06-21T17

[2021-06-23 18:58] certik commented on #12033
I would love to see that too, came here to open an issue, but it's already open. :)

[2021-06-23 19:00] timabbott commented on #18319
I think you should submit an integration that ignores all events other than the ones we have fixtures for above.  At least 90% of the value is in supporting just that event type.  It's unclear to me whether it's worth supporting other event types at all, but we can do that audit once we have a basic integration merged.

[2021-06-23 19:20] LefterisKyriazanos commented on #18319
@timabbott Ok thank you, that's clear!

Are the below considered 4 different fixtures? When i made a donation only one event was triggered (not 2).
Can the template vary regarding the same type of donation or there can be both at the same time? The 2 events triggered
confused me to be honest.

[2021-06-23 20:58] timabbott commented on #18319
I suspect the difference is that you get both events for a new person, but if an existing person does a new donation, you only et the `transaction.created` event.  I would consider just implementing this:
* `collective.transaction.created` should send a notification about the new transaction including the financial details. (aka line 2 of your screenshot, but with the name mentioned).

(I'm not su

[2021-06-23 20:58] ssm3e30 opened #18973 "Error Importing Cloud Backup to Self Hosted Server"
Hi Everyone,

I have been working at this issue for a few days and cannot resolve it.

1) I have installed an instance of Zulip using the instructions here:
https://zulip.readthedocs.io/en/stable/production/install.html

2) Installation goes fine, I then skip step 3 and follow the directions here to update to the master branch to match Zulip versions for the import. Both are the same version, with

[2021-06-24 00:41] #18870 closed

[2021-06-24 11:15] abhijeetbodas2001 commented on #18072
I tested for some time on chat.zulip.org, and here's what I did to reproduce this:

### Setup
- Killed the app from the "recent apps" drawer on my phone. I have my main account setup on the mobile app.
- Logged in with my main account (M) on my laptop from a normal tab, and with my testing account (T) in a incognito tab.
- For M, made sure the "online push notifications" setting is turned off, and

[2021-06-24 11:25] abhijeetbodas2001 commented on #18072
I think I understand why this is happening. When I went back to M's tab after a long, long time (after completing testing), I could see all the messages received as unread counters, and the tab did not reload.

This means M's tab had been receiving message events during the time I tested things, and that implies:
- `receiver_is_off_zulip` would have have **always** returned `False`. When presence

[2021-06-24 11:35] abhijeetbodas2001 commented on #18072
So, if you go from green to orange because of inactivity, and are using a single client, you won't receive notifications for messages sent in the ~2 minutes when you were still green.
This is because the client will keep consuming events, and our 2 safety checks (`receiver_is_off_zulip` and `missedmessage_hook`) depend on there not being any client currently receiving events.

[2021-06-24 11:46] jwillmer opened #18979 "[Feature Request] Inbound call notifications"
The only thing that prevents our organization switching from Slack to Zulip is that we can't call each other up. We can create meetings with jit.si and join them but there is no possibility to call 1-n persons directly.

The minimal acceptance criteria for this task would be a notification that let's the user know another person has setup a jit.si meeting and likes him to join.

Optimal solution w

[2021-06-24 15:43] LefterisKyriazanos commented on #18319
@timabbott Open Collective has multiple options as to when to trigger the webhook.
![Screenshot 2021-06-24 at 6 42 03 PM](https://user-images.githubusercontent.com/43907486/123292652-ee132f00-d51b-11eb-8bea-ca3768476cf1.jpg)

I suppose then i should change "New Member" to "New Transaction" and get a basic fixture for that

[2021-06-24 15:54] mateuszmandera opened #18981 "Rendering of quotations breaks if the stream name contains parenthesis"
https://chat.zulip.org/#narrow/stream/384-test-stream.20with.20.28parens.29.20in.20name/topic/stream.20events/near/1217840 for an example. The cause seems to be having `()` in the stream name.

![image](https://user-images.githubusercontent.com/45007152/123294515-7259b800-d504-11eb-8d1d-8a02b8dd81a0.png)

[2021-06-24 15:59] akshatdalton commented on #18981
@zulipbot claim

[2021-06-24 18:26] #18946 closed

[2021-06-24 18:47] MSurfer20 opened #18986 "OpenAPI: Handle duplicate URLs for API Docs"
As a side effect of #18573 , https://chat.zulip.org/api/get_messages now does the same thing as the existing https://chat.zulip.org/api/get-messages. We need to decide what we want to do here, since allowing _s instead of -s was a requested feature, but we might instead want a redirect to preserve the canonical URLs.

[2021-06-24 19:56] timabbott opened #18988 "resolve topic: Add "resolve topic" button in message recipient bars"
This should have UI just like the "Edit topic" pencil icon in message recipient bars, and should sit between the pencil and the "mute topic" widget.

Otherwise, it should do the exact same thing as the left sidebar "(un)Resolve topic" button.

@akshatdalton this might be a good project for you, since you fixed an adjacent muting plumbing issue.

[2021-06-24 20:02] akshatdalton commented on #18988
@zulipbot claim

[2021-06-24 20:03] timabbott opened #18989 "resolve topic: Add fancier styling for displaying resolved topics."
The new "Resolve topic" option in the left sidebar topic menus is handy.  However, the visuals in the left sidebar are not ideal:

![image](https://user-images.githubusercontent.com/2746074/123324662-ec317780-d4eb-11eb-9e36-c090a1392eee.png)

What we'd like to do is change how resolved topics are displayed. For topics that are resolved, strip the `✔ ` from the displayed "topic_name" and instead di

[2021-06-24 20:08] timabbott opened #18990 "resolve topic: Add `is:resolved` search keyword / filtering support"
Now that we have #11154 (resolving a topic) implemented, it'd be nice to be able to limit a view to just unresolved topics.  Probably as part of this, we'll want to add a `is:resolved` search keyword (one can also do `-is:resolved`).

So if you wanted to look at unresolved topics in a stream, you'd search for `stream:foo -is:resolved`.

I think for managing resolved topics to really be nice, we'll

[2021-06-24 20:36] alya commented on #18878
Sorry for the slow reply, and for the issue not being very clear!

I think we should add the header row and filter box we have in the settings menus.

[2021-06-24 23:00] timabbott opened #18992 "Improve error message for invalid `puppet_classes` input"
In [this thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/.5B4.2E2.5D.20zulip-puppet-apply.20error/near/1210297), we spent a while debugging a situation because a user had this as their `zulip.conf`:

[code]

The user error was the use of spaces rather than commas as the delimiters in `puppet_classes`.

The Zulip bug is that the error message for this was very unhelpful:
[code]

[2021-06-24 23:15] timabbott commented on #18973
Thanks for the report!

This is indeed because you're using a different version of Zulip than what is installed in production.  You can get the right commit to install from the "forked from" line in the 'About Zulip' widget:

![image](https://user-images.githubusercontent.com/2746074/123343731-2eb47d80-d507-11eb-975a-37576cd07d2c.png)

[2021-06-24 23:17] timabbott commented on #18979
@jwillmer thanks for the feedback!

You can probably work around this limitation by sending a PM to the set of users you'd like to include on the call (or mentioning them, potentially with `@all`), with the link to the Jitsi meeting.  They'll get desktop notifications, and can join the call by clicking the link from the PM.

[2021-06-24 23:42] ssm3e30 commented on #18973
Thanks @timabbott !, I have the forked line, but I must admit I am not an expert at git. How should the version be specified?

I would assume something like:
/home/zulip/deployments/current/scripts/upgrade-zulip-from-git {VERSION}

but that only works with a defined branch, in this case 5.0-dev

How can I specify the exact commit or version?

[2021-06-25 00:27] timabbott commented on #15290
Tagging this as something we need to address before Zulip 5.0, because the new "Resolve a topic" feature will make folks run into this much more often.

[2021-06-25 00:31] timabbott commented on #18751
@Signior-X would you be up for implementing the `compose_error` work, which I think is all that remains here?  I figure you're the best person to do it since you'll want to serialize it with splitting `compose.js` in some reasonable way :).

[2021-06-25 00:52] timabbott commented on #18912
This code for this is in `static/js/stats/stats.js`; there's a lot of manual positioning logic required with the library we're using, so I suspect it just has some offsets off (possibly introduced by a `plotly` upgrade).

[2021-06-25 00:54] timabbott commented on #18906
This is sorta a surprising bug; we use `simplebar` for all of our settings pages for scrolling.

I suspect the bug might be fixable by just setting `z-index` on the headings, but haven't investigated.

[2021-06-25 00:55] timabbott commented on #18778
@Lumrenion thanks for the report!

@sahil839 can you reproduce this?  It seems like a very plausible bug, and probably has an easy fix.

[2021-06-25 01:00] timabbott commented on #18731
I believe this is controlled by the following ugly logic in `click_handlers.js`:

[code]

I think `window.getSelection().toString()`, combined with an earlier `$(e.target).is(".drag"))`, is intended to cover attempts to select text.  We use `document.getSelection().type === "Range")` for this purpose elsewhere; could differences in those behaviors be the cause of this bug?

[2021-06-25 01:05] timabbott commented on #18645
I don't think `dropdown_list_widget` supports selecting a set of streams yet; just a single one.  I think it'd be reasonable to build this feature as first allowing selecting a single stream, and then extending `dropdown_list_widget` to support that feature (and using that here), since it'd be very useful to just filter to a single stream.

[2021-06-25 04:17] sahil839 commented on #18778
Yes I can reproduce. The bug here is that we pass the url directly from backend considering only day and night mode, and for we can check the browser's color scheme in the frontend only, so I think the correct fix is to decide the correct logo url in frontend.

[2021-06-25 06:46] jwillmer commented on #18979
yes, sure, but this is nothing an organization would accept. Also, I don't know about you but I don't react on message notifications instantly.

[2021-06-25 06:58] ligmitz commented on #18989
@zulipbot claim

[2021-06-25 09:38] snailgirl2612 commented on #18320
@timabbott @alya

I'm getting this error and I don't know how to resolve this.

ERROR: Some URLs are untested!  Here's the list of untested URLs:
   api/v1/external/githubsponsors
Error: Process completed with exit code 1.

I ran the following command : ./tools/create-test-api-docs
This hasn't resolved the error.

[2021-06-25 11:20] showell opened #19000 "left sidebar: Change semantics of "inactive streams""
https://chat.zulip.org/#narrow/stream/9-issues/topic/Inactive.20streams/near/1207734 describes a quirk of the Zulip sidebar.

If users select the "Demote Inactive Streams" option as "Always", then we put inactive streams down at the bottom of the stream list, and we gray them out.

If you select them now, the streams automatically get promoted, even if you're not really sending to them or having n

[2021-06-25 14:38] andreasoc opened #19005 "Search Filter not translatable in Desktop UI"
Search Filter not translatable in Desktop UI, my language is italian but view in English language
![thyCuhFN66](https://user-images.githubusercontent.com/2852354/123440995-aa7bfc00-d5d3-11eb-8aeb-a33643bc0d0e.png)

[2021-06-25 14:51] mateuszmandera opened #19007 "Retention system doesn't clean up attachment files"
When the retention system archives an `Attachment`, it will create a corresponding `ArchivedAttachment` row and delete the `Attachment`. Then, when eventually the archive is cleaned out, such `ArchivedAttachment` objects will be deleted. The problem with this is that this leaves behind orphaned files - since only the database rows are deleted, but the uploaded that those reference, don't get clean

[2021-06-25 16:37] mateuszmandera commented on #18981
This appears to be a bug specific to mentioning a system bot, and has nothing to do with parens in the stream name, so closing this for now.

[2021-06-25 16:37] #18981 closed

[2021-06-25 16:39] akshatdalton commented on #18981
@zulipbot abandon

[2021-06-25 16:40] mateuszmandera opened #19008 "Mentions of system bots aren't rendered correctly"
Trying to quote a message by a system bot will lead to the mention part of it being rendered incorrectly:
![image](https://user-images.githubusercontent.com/45007152/123457814-d5fee680-d5d3-11eb-93e5-e1d2470c3126.png)

A bit more context can be found around https://chat.zulip.org/#narrow/stream/385-test-stream.20with.20without.20parens.20in.20name.2E/topic/stream.20events/near/1219215

CC @akshatd

[2021-06-25 16:45] #18278 closed

[2021-06-25 17:53] gnprice commented on #18916
Using the browser's language setting would be very reasonable, but it looks like we're not doing that either. Here's a screencast @nooblag (I believe) posted in the chat thread, showing their browser setting with "English (United Kingdom)" as the preferred language:
![image](https://user-images.githubusercontent.com/28173/123465722-578a5080-d5a3-11eb-82ad-80e208762680.png)

[2021-06-25 18:09] akshatdalton commented on #19008
@zulipbot claim

[2021-06-25 23:45] process0 opened #19017 "feature request: Add jump to message button for each search result"
Currently when searching through messages,  it is possible to get a link to the matched message.  Manually following this link will take the user to the message in the stream. Typically searching for a message means searching for the context as well.

I think it would be beneficial to have a button to jump to the message in the stream and not just to copy the link.

[2021-06-26 00:27] gnprice commented on #18986
We should do a redirect. Having two slightly different URLs for the same thing is confusing, both for users [and for search engines](https://developers.google.com/search/docs/advanced/guidelines/duplicate-content).

Chat thread: https://chat.zulip.org/#narrow/stream/19-documentation/topic/.2Fapi.2F.20URLs/near/1217955

[2021-06-26 00:57] andersk opened #19019 "Check for ClipboardJS success event instead of blindly assuming success"
We currently show a “Copied!” tooltip unconditionally in click handlers for `.copy_message` and `.copy_link`. We should instead check whether ClipboardJS actually succeeded, using the `success` and `error` [events](https://clipboardjs.com/#events) it exposes.

[2021-06-26 01:02] uhlhosting commented on #18959
Any updates on this matter? I am also in process of migration, and would be great to have my attachements migrated too!

[2021-06-26 01:07] #13766 closed

[2021-06-26 01:11] #18699 closed

[2021-06-26 07:24] garg3133 commented on #18959
@uhlhosting Alright, I'll get on this first.

[2021-06-26 10:16] nooblag commented on #18916
Yep, that was me. Thanks for reopening. ;)

[2021-06-26 14:24] thanasisath31 commented on #17998
@zulipbot claim

[2021-06-26 17:30] WesleyAC opened #19022 "Composebox can cover messages when scrolled all the way down"
When you have a long message, the composebox can cover messages. In the following screenshot, I'm scrolled all the way down, but that doesn't reveal the contents of the last message in the message list. Instead, I need to reduce the size of the composebox to see it.

![0000-recent](https://user-images.githubusercontent.com/5001092/123521118-79e6a180-d669-11eb-8061-92444ceca4f5.png)

[2021-06-26 17:44] WesleyAC commented on #19017
Thanks for the feedback! You can currently press `Shift` + `S` while you've selected the message you want to go to in order to narrow to the topic it's in, but I agree that we should add a button to do that as well.

[2021-06-27 06:12] raghupalash commented on #18989
Hey @ligmitz! Any progress with this?

[2021-06-27 07:21] RomainGitH commented on #18396
#18968
I added the basis of the implementation. I'm still searching how to display the appropriate message.

[2021-06-27 10:16] sahil839 commented on #18778
@zulipbot claim

[2021-06-27 13:07] thanasisath31 commented on #17998
@zulipbot unclaim

[2021-06-27 13:09] thanasisath31 commented on #5273
@zulipbot claim

[2021-06-27 14:10] akshatdalton commented on #19008
@zulipbot abandon
Here is the update: we can't mention _any_ of the cross-realm bots; this is probably because we create their UserProfile for one realm and use the same for other realms (i.e. we don't create new UserProfile of these bots for new realm). Take a look at the following part of the code:
https://github.com/zulip/zulip/blob/87fc2bbe50da15ebcbecfb710e1ef928224bcaa0/zerver/lib/mention.py

[2021-06-27 17:23] m-e-l-u-h-a-n commented on #18944
@zulipbot claim

[2021-06-27 20:30] smalltext commented on #18690
Yes but I've been mad busy. Probs will get it in the next week, but if somebody wants to get it done sooner feel free.

[2021-06-27 21:54] MartinX3 opened #19029 "Specific roles shouldn't be able to mention specific user groups"
As example we don't want, that "guest" roles @ mention our custom user group "owners".

[2021-06-28 01:31] jtrakk opened #19031 "Allow dismissing all introductory tooltips"
I've signed up for a bunch of Zulips. Each time I have to go through clicking to dismiss a bunch of tooltips, and it gets annoying. Discourse has an option to dismiss all of the tooltips, which is nice for people who have already been through the signup/intro process on another instance before.

[2021-06-28 10:17] ZelphirKaltstahl commented on #13928
Any future plans of making switching to new topics seamless, as described above? Any update or response?

[2021-06-28 10:21] ZelphirKaltstahl opened #19033 "meta: Recommended way of raising a closed issue for reconsideration?"
Hi Zulip Team!

I would like to ask the meta question, of what the recommended way of raising a closed issue for reconsideration is. Furthermore, what are the criteria, according to which issues can be re-raised or are reconsidered?

Thank you for your time and great work!

[2021-06-28 10:27] gvarun1 commented on #15331
@zulipbot abandon
Due to some unexpected emergency, I stopped working

[2021-06-28 16:14] #18504 closed

[2021-06-28 23:01] #17502 closed

[2021-06-29 00:58] #18992 closed

[2021-06-29 04:08] rht opened #19044 "Contributor stats for multiple repos, not just the server repo."
Currently, the summary of the code contributors is only restricted to the server: https://blog.zulip.com/2021/05/13/zulip-4-0-released/.
[code]

It would be nice to have a script that aggregates the contributions from multiple repo (additionally zulip-mobile, zulip-desktop, docker-zulip, python-zulip-api, and zulip-terminal).

[2021-06-29 04:10] rht commented on #19044
@zulipbot label "good first issue"

[2021-06-29 05:41] aldeka commented on #18757
@zulipbot claim

[2021-06-29 12:01] Robert-M-Muench commented on #11440
Any news/progress regarding Google Meets integration? That's a much needed features :-)

[2021-06-29 15:31] alya opened #19049 "Change icon and tooltip for "Archive stream""
The "Archive stream" button in the stream settings menu has a trash can icon. This is confusing, as users may assume the stream is being fully deleted (i.e. all messages will be gone). We should replace the icon with the filing cabinet icon commonly used for archiving (https://fontawesome.com/v4.7/icon/archive).

We should also change the tooltip from "Archive stream" to "Archive stream for everyo

[2021-06-29 16:40] timabbott commented on #19033
@ZelphirKaltstahl you can post a comment on the issue thread for a closed issue, but there's always some risk that it gets missed, as we get a very large number of GitHub notifications, and folks don't tend to look at closed issues.  The best approach is to start a thread in #feedback on chat.zulip.org, since in most cases we'll want to have a discussion, and it definitely won't be missed.

(Do yo

[2021-06-29 16:41] timabbott commented on #19022
@Signior-X FYI; I was going to report this myself in the discussion on #17667.

[2021-06-29 16:42] timabbott commented on #19022
(I might try to integrate that today).

[2021-06-29 16:57] garg3133 commented on #19022
@timabbott I already have an open pull request on this issue: #17082.

[2021-06-29 17:01] #11901 closed

[2021-06-29 17:12] timabbott commented on #10182
This is a pretty surprising failure mode. I don't think I have a theory for what could cause this, after reading the code.  And we haven't heard similar reports in years, so it's probably hard to trigger/reproduce.

We have 143 commits touching the frontend rerendering code (and a bunch for the backend as well) since then, including fixes for an number of subtle bugs that resulted in things not re

[2021-06-29 17:13] timabbott commented on #19022
So it seems; closing as a duplicate of https://github.com/zulip/zulip/issues/16038.

[2021-06-29 17:13] #19022 closed

[2021-06-29 17:34] alya opened #19051 "Clearly indicate personal (vs. organization) settings"
At present, we refer to personal settings as just "settings". It would be more clear to explicitly label personal (vs. organization) settings. Places to make this change:

1. Gear menu drop-down: Settings -> Personal settings
2. Setting selector tabs (screenshot below): `Settings | Organization` -> `Personal | Organization`.
3. Change the settings header from `Settings | <tab name>` to `Personal s

[2021-06-29 18:24] #16038 closed

[2021-06-29 20:16] WesleyAC opened #19053 "Search icon is not high enough contrast"
We should make the "search" icon in the top bar the same contrast as the "settings" button, in order to make it more visible and cohesive.

![0000-recent](https://user-images.githubusercontent.com/5001092/123861532-24fe9180-d8dc-11eb-82ef-b92d43c29177.png)

[2021-06-29 20:33] alexmv opened #19054 "Set explicit ordering on bulk updates to prevent deadlocks"
#16721 did a bunch of work around reducing deadlocks by race conditions, which has resulted in a large reduction in their frequency.  Unfortunately, single-SQL-statement deadlocks are still possible:

[code]

This is because `UPDATE ... SET ... WHERE` statements that execute in parallel take row-level UPDATE locks as they get results; since the query plans may result in getting rows in different o

[2021-06-29 20:39] WesleyAC opened #19055 "Add shadow when message contents are cut off"
Messages that are cut off look sort of ugly:

![2021-06-27_12 12 17_805x70](https://user-images.githubusercontent.com/5001092/123864144-3f863a00-d8df-11eb-9fbb-6fa27522a674.png)

We should have a shadow on the top of the element that has the `[More...]` link.

[2021-06-29 20:42] #18778 closed

[2021-06-29 20:47] sentry-io[bot] opened #19056 "Slack webhook: do not read body twice"
The code in   https://github.com/zulip/zulip/blob/c8849f8fe30bf96c227044b94ee5c269b166a1b9/zerver/webhooks/slack_incoming/view.py#L26-L35 unfortunately cannot work as documented, since `request.body` has already been parsed.  We will need to not use `@has_request_variables` and instead look at the content-type to determine how to parse the body, since it can only be read once.

As is, this results

[2021-06-29 21:16] nooblag opened #19057 "Feature request: Ability to prune messages from topics and PMs"
Regarding discussion [here](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Bulk.20delete.20Private.20Messages), it would be good if Zulip had the capability to bulk delete messages from a topic or a PM history.

Rocket Chat had this capability in kebab menu like this:

![Screenshot-from-2021-06-29-07-13-49](https://user-images.githubusercontent.com/1122344/123866068-fa5e1880-d96f-11eb-93

[2021-06-29 22:07] timabbott commented on #19054
@abhijeetbodas2001 @mateuszmandera FYI, since this is very much in like the recent transactionality work you've been doing.

[2021-06-29 22:38] WesleyAC commented on #19055
[Here's](https://stackoverflow.com/questions/5460129/how-to-create-a-drop-shadow-only-on-one-side-of-an-element) a technique for doing this that we may want to use.

[2021-06-29 22:46] alya opened #19058 "Use stream type icon in rendered stream name in messages"
The stream list in the left side bar uses a hash icon for public streams, a lock for private streams, and (in the future) a globe for world-viewable streams. At present, however, the rendered stream name in messages is always indicated with a `#`.

It would be helpful to indicate the stream type in rendered messages using the appropriate icon.

See [CZO discussion](https://chat.zulip.org/#narrow/s

[2021-06-30 00:24] vanclute commented on #8041
As a community admin/mod, I would very much like the ability to lock topics.  I would also love to be able to _selectively_ assign the power to lock/unlock to moderator roles.  Don't always want all mods to have it, but the more senior/trusted ones, yes.

[2021-06-30 00:39] ericluoliu commented on #19044
Working on this

[2021-06-30 00:57] rht commented on #19044
Note that you need to extract the timestamp associated with e.g. the version 3.0 so that you can use the timestamp for other repos as a starting point.

[2021-06-30 03:42] S-Abhishek commented on #18797
@zulipbot claim

[2021-06-30 03:59] PoojaS1D commented on #17716
@zulipbot claim

[2021-06-30 04:04] PoojaS1D commented on #17716
@zulipbot abandon

[2021-06-30 06:40] andreasoc commented on #8041
i agree with this features!

[2021-06-30 07:04] t-vi commented on #9081
So I wanted this for (local) videos, similar to the image utility, this is the result:

![image](https://user-images.githubusercontent.com/20787943/123915328-ab6caf00-d980-11eb-8b8f-1e2bce90c2c0.png)

I ended up doing this in `zerver/markdown/lib/__init__.py`, duplicating `is_image` into `is_video` with different extensions, writing a `handle_video_inlining` that is similar to the image but instea

[2021-06-30 08:27] mehant-kr commented on #18880
@zulipbot  Working on it.

[2021-06-30 12:43] snailgirl2612 commented on #18320
@zulipbot claim

[2021-06-30 12:54] mateuszmandera commented on #19008
We could just adjoin the cross-realm bot profiles with `UNION` (just `.union(second_query)`) to not increase the number of queries - then the performance impact should be fairly minimal I think. Worth verifying by checking the query run time in some dev env database setup with lots of realms and users just to be sure though.

[2021-06-30 13:50] Patil2099 commented on #19049
I would to take this up.

[2021-06-30 14:17] PIG208 commented on #19056
I can't replicate the issue. What is the exact payload that causes the error?

[2021-06-30 16:02] ZelphirKaltstahl opened #19065 "LetsEncrypt configuration after Zulip is already installed (with self-signed certificates)"
I read the documentation at <https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#after-zulip-is-already-installed>. It made me think, that running the command

[code]

for my server and e-mail, would automatically switch everything over to using LetsEncrypt generated certificates. However, this is not the case. It does not change anything in the NGINX configuration, to make it

[2021-06-30 16:22] ZelphirKaltstahl commented on #19033
I am not really sure, but perhaps I would look for a section "Community" or "Community Interaction" in the readme of the project, which directs me to the official chat. There is already "Getting started", which points at things. Perhaps just add it there.

I think this can be closed, so closing with this comment, hope that's OK.

[2021-06-30 16:22] #19033 closed

[2021-06-30 16:48] timabbott commented on #19065
@ZelphirKaltstahl did you modify Zulip's default nginx configuration?  The `setup-certbot` tool outputs these files:
[code]

which our default `nginx` configuration uses, both for self-signed certs and LetsEncrypt certs.

[2021-06-30 17:00] timabbott opened #19067 "Document support for stream IDs to refer to streams."
Following #19020, we now support using stream IDs rather than names to refer to streams in incoming webhooks.  For it to be useful, we need to document it.

Part of doing this is providing a documented way for users to get at the ID for a stream from the UI.  We can document this process and then link to it from the /integrations template for "create a webhook URL".  I started [this thread](https:

[2021-06-30 17:07] PIG208 commented on #19067
Related discussion for the URL creation/configuration process:
https://chat.zulip.org/#narrow/stream/127-integrations/topic/Improving.20incoming.20webhook.20configuration.20system

zulipbot ***@***.***> 于 2021年7月1日周四 01:00写道：

[2021-06-30 17:15] timabbott commented on #19051
@sahil839 I think this migration would be pretty valuable to do quickly, so it'd be great if you can claim it.

[2021-06-30 17:20] sahil839 commented on #19051
@zulipbot claim

[2021-06-30 19:16] aryanshridhar opened #19070 "Passing request parameter of `stream` breaks the UI"
If someone passes a request parameter of `stream` having any stream name as the value, an error is thrown saying - ` widget is undefined` which breaks the UI after navigating to the url.

For example:
In development environment, if someone navigates to a url like: `http://localhost:9991/?stream=Rome`, the broken UI looks like -

![widget-bug](https://user-images.githubusercontent.com/53977614/1240

[2021-06-30 20:39] timabbott opened #19072 "api docs: Examples on /rest-error-handling"
The example blocks on this page are currently not rendering:

![image](https://user-images.githubusercontent.com/2746074/124028177-8d1aa980-d9a8-11eb-80ea-2755f3cd12a0.png)

@MSurfer20 FYI.

[2021-06-30 21:37] elopez opened #19073 "Improve the documentation about putting Zulip behind a reverse proxy"
Hi everyone,

Currently there's some guidance on how to run [Zulip behind a reverse proxy](https://zulip.readthedocs.io/en/latest/production/deployment.html#putting-the-zulip-application-behind-a-reverse-proxy) in the documentation, but it appears to be outdated. Starting from #17765 you need to also set the following in zulip.conf; otherwise Zulip thinks all connections come from the reverse prox

[2021-06-30 22:16] #18713 closed

[2021-06-30 22:17] #18879 closed

[2021-06-30 22:19] timabbott commented on #18713
This was fixed earlier today.  Thanks for the report @devZer0!

[2021-06-30 23:48] timabbott opened #19075 "Fix line-wrapping of checkboxes on mobile settings UI"
We appear to have the wrong line-wrapping CSS for our standard checkboxes, which results in this weird behavior when looking at Zulip's web app settings from a mobile device where the checkboxes end up on a line by themselves, rather than just the last 2-3 words ending up on a line by themselves.

![image](https://user-images.githubusercontent.com/2746074/124044695-d8da4c80-d9c2-11eb-89bd-d06e624e

[2021-06-30 23:59] #18848 closed

[2021-07-01 01:37] mehant-kr commented on #18880
@zulipbot working on it.

[2021-07-01 06:54] t-vi opened #19077 "Usr stream subscription status, private streams, and realm admins"
For private streams, the endpoint
[code]
will show invalid "stream id" even for administrators (I do get the stream id from `client.get_streams(include_all_active=True)`, so I should have access to the stream).

My impression is that it would be safe and reasonable to add `allow_realm_admin=True` to this call:

https://github.com/zulip/zulip/blob/706ec9714c76d98c2ac230c3a5adf35dfd0c438a/zerver/vie

[2021-07-01 07:05] ayush9191 commented on #18286
Hi, I would like to work on this issue @zulipbot claim

[2021-07-01 07:12] ayush9191 commented on #18286
can u tell me where to start
i an new in this

[2021-07-01 07:26] t-vi commented on #15465
I looked at managing user groups from a bot but it seems that a bot cannot list user groups because the function serving the `/user_groups/` endpoint, `get_user_group` in `views/user_groups.py`, is decorated with `@require_member_or_admin`, which excludes bots:

https://github.com/zulip/zulip/blob/706ec9714c76d98c2ac230c3a5adf35dfd0c438a/zerver/views/user_groups.py#L44-L48

and then the bot block

[2021-07-01 09:02] ilyamordasov opened #19079 "How to get user's current status?"
The endpoint `presence` returns the activity of user. But how can I get user's status like `away` or `active` using the API?

[2021-07-01 11:48] varkor opened #19082 "Backslash should be allowed in linkifier pattern"
On the [Category Theory Zulip](http://categorytheory.zulipchat.com/), it would be useful to substitute `[[word]]` with the corresponding [nLab](https://ncatlab.org/nlab/show/HomePage) page. However, it does not appear possible to use the character `[` in a pattern at the moment, since it must be escaped in the regular expression. It would be useful to allow:
`\[\[(?P<title>[a-zA-Z0-9_ +-]+)\]\]`
o

[2021-07-01 15:27] Riken-Shah commented on #19075
@zulipbot claim

[2021-07-01 15:36] aryanshridhar commented on #18906
Yup, its a `z-index` issue. Adding a `z-index` value of `1` to such table headers fixes the issue.
(Maybe we can add the property to `table-sticky-headers` to make it more generic)

[2021-07-01 15:57] jonas-schievink opened #19084 "Returning to "Recent topics" view moves the topic selection downwards"
When reading messages in a topic and then returning to "Recent topics" (either by clicking it, or more commonly by just pressing ESC), the topic I was reading isn't selected anymore. Instead, the selection moves downwards by a page or so, which makes it painful to navigate to other unread topics (which are all at the very top).

Reproduces both in Firefox and the Zulip desktop app on Linux.

[2021-07-01 16:48] pradeepcep commented on #17419
No one else seems to have picked it up. So I'm going to give this another shot.

@zulipbot claim

[2021-07-01 16:49] pradeepcep commented on #17419
@zulipbot claim

[2021-07-01 16:50] pradeepcep commented on #17419
Can someone help here, please? I currently don't have anything assigned to me: https://github.com/zulip/zulip/issues/assigned/pradeepcep.

Maybe this is a bug? 🤔

[2021-07-01 17:18] iammattmartin commented on #5296
Similar to the comment in the pull, I am also getting the bson error in the dev environment.

Are there any revised steps that are not in the guide so we can test this?

[2021-07-01 19:07] MSurfer20 commented on #19072
@timabbott This got closed in https://github.com/zulip/zulip/pull/19074. Forgot to add `fixes #..` due to now working on things which require so in a while.

[2021-07-01 19:15] alya opened #19090 "Hide "Last active" column in Organization settings > Users tab in mobile widths"
Right now, Organization settings > Users looks bad at mobile screen widths:

![Screen Shot 2021-07-01 at 12 10 28 PM](https://user-images.githubusercontent.com/2090066/124177960-cb29d300-da65-11eb-9951-4046a91ca391.png)

The simplest solution is probably to add media CSS to hide the "Last active" column. We can then make sure the rest of the columns have a reasonable amount of space.

[2021-07-01 19:19] #18906 closed

[2021-07-01 19:38] sahil839 commented on #19051
@timabbott Can we close this now, I did not add "Fixes" in the commit of PR as I was not sure about mobile header changes.

[2021-07-01 20:43] ericluoliu commented on #19044
@zulipbot claim

[2021-07-01 20:46] ericluoliu commented on #19044
@zulipbot commands

[2021-07-01 20:47] ericluoliu commented on #19044
@rht I made a pull request regarding this issue a few days ago. Let me know if there are any other steps needed for this issue.

[2021-07-01 21:32] #18878 closed

[2021-07-01 23:07] andersk opened #19093 "Camo breaks on requests without an Accept-Encoding header"
As [pointed out](https://github.com/zulip/zulip/pull/18995#issuecomment-870985993) by @alexmv:

[2021-07-01 23:47] rht commented on #19044
OK, sorry I didn't get the notification when you made the PR, I will take a look.

[2021-07-02 00:46] #19075 closed

[2021-07-02 00:56] kerryja commented on #19053
@zulipbot claim

[2021-07-02 07:18] ligmitz commented on #18941
@zulipbot claim

[2021-07-02 14:18] kerryja commented on #19058
@zulipbot claim

[2021-07-02 14:49] #19072 closed

[2021-07-02 17:53] timabbott opened #19098 "Disable marking mentions as read in the "Mentions" view"
Like with search, the mentions view doesn't show the whole thread, and so we should have `!can_mark_message_read` for those narrows; this would make it no longer feel scary to visit these views; you'd only mark threads as read when you actually click into them.

[2021-07-02 18:33] #19019 closed

[2021-07-02 20:59] alexmv opened #19101 "Failures to notify bot owners should not throw exceptions"
If an outgoing webhook tries to hit a URL, which times out, we try to send a failure note back to the user that triggered the outgoing webhook.  If the bot has been deactivated since the failure happened, it raises a JsonableError from `fail_with_message`, which bubbles back up all of the way up to the queue handler.

We should catch `JsonableError` in `send_response_message` and do nothing -- it

[2021-07-02 21:24] timabbott commented on #19079
@ilyamordasov you can get it from https://zulip.com/api/register-queue with `user_status` among `fetch_event_types`.

We could add a `GET users/me/status` endpoint if we had a clear use case for it; what do you have in mind?

[2021-07-02 21:28] timabbott commented on #13720
We do appear to document some details here:

"Linkifiers are implemented as a limited subset of Python 3 regular expressions, with validation designed to prevent common mistakes, avoid accidentally expensive linkifiers, and allow translation into equivalent JavaScript regular expressions for local echo."

I'm still not convinced that the best solution is to document this further vs. just change th

[2021-07-02 21:39] timabbott commented on #12245
I did a quick audit and did not find additional instances of issues of this form.

I believe we fixed this broad issue with the series ending with 2fab45e530183ad162da53707d7984bb0141c762, as part of #14080.

[2021-07-02 21:39] #12245 closed

[2021-07-02 21:41] timabbott commented on #15777
@akshatdalton have you thought about working on this?

I think what we want to do for the privacy issue is pass the person who is editing the stream description into the rendering logic.

[2021-07-02 21:50] akshatdalton commented on #15777
Yeah, I will take a look at this. I didn't think carefully about what we need to do, but I will discuss this issue as soon as I start working on this.

[2021-07-03 09:24] kdsanskar07 commented on #17842
@zulipbot claim

[2021-07-03 11:19] awunder commented on #18659
@Lumrenion - you are a live saver! thank you for posting this, now i am really gettn close to link zulip to keycloak.

there is just one thing, it wont let me in after successful authentication.. the auth log tells me:

`WARN [zulip.auth.saml] SAML got invalid email argument.`

i also tried to set

![image](https://user-images.githubusercontent.com/13486613/124352563-fc71e280-dbce-11eb-83ba-16d4a8

[2021-07-03 14:45] m-e-l-u-h-a-n opened #19110 "Add live update for stream list in full profile modal."
In #18671, we added list of subscribed streams in user profile modal, and after #19002 admins can unsubscribe users from a stream using this list. So live update for stream un-subscription should remove the relevant stream from the list if full profile of user is open and user was unsubscribed from that stream.

[2021-07-03 16:43] akshatdalton commented on #18990
@zulipbot claim

[2021-07-04 10:09] ZelphirKaltstahl commented on #19065
I started out with self-signed certs and then the desktop and mobile app did not want to work with that. I concluded, that it is probably because the do not offer a way of reviewing and accepting a self-signed TLS certificate and that I would need to change to letsencrypt or other certificate. So I followed the docs and ran the `setup-certbot` command. Still, whatever I tried, the website remained

[2021-07-04 13:42] Lumrenion commented on #18659
For the record, the problem of @awunder was solved by double checking Keycloak attribute mappers.

[2021-07-04 18:05] sahil-ra commented on #17419
@zulipbot claim

[2021-07-05 03:21] kdsanskar07 commented on #17842
@zulipbot claim

[2021-07-05 11:50] ilyamordasov commented on #19079
@timabbott Thanks for your reply. It needs when we have several moderators of channel and if one of them is away the another one is subscribed automatically. And if the first one is active again we unsubscribe another one

[2021-07-05 16:45] timabbott opened #19122 "ctrl+. keyboard shortcut should renarrow to a topic even with no messages"
When using the `Ctrl+.` keyboard shortcut with a topic specified, we previously only narrowed you to the stream if the topic didn't appear in recent history.

This was confusing user experience, both because of the "recent" limitation and because narrowing to the stream can mark messages as read (and doesn't show you the place you'd be sending to).

[2021-07-05 16:53] #19122 closed

[2021-07-05 17:04] ZelphirKaltstahl opened #19123 "Avatar upload UI broken when blocking Gravatar"
Hi!

Version:

[code]

I found an issue, which might hit many privacy aware users: When I block `gravatar.com` (for example using uBlock Origin), then the UI for setting my avatar looks as follows:

![image](https://user-images.githubusercontent.com/11130348/124502214-904fd400-ddb2-11eb-8f08-f4fe6260693b.png)

There is no element to click on to upload my avatar, because the gravatar image never ge

[2021-07-05 17:42] timabbott commented on #19123
Thanks for the report!  I agree we should fix this.  I think the problem is that the element showing your current avatar with the click handler ends up with 0 size if the image doesn't load, which presumably can also happen in situations with network issues.

We probably should just have a grey background of the right size for that avatar region.

@priyank-p FYI, since I remember you looking into

[2021-07-05 18:49] Riken-Shah commented on #18461
@zulipbot claim

[2021-07-05 19:57] alya opened #19124 "Topic select bug"
I am not totally sure what the conditions for this are, but there is an issue with the topic selector when entering `#**stream>topic**` in the compose box.

1. Sometimes there is a thin blank line selected on top of the actual topics. I was able to replicate this on dev by selecting a stream from the `#..` auto-complete, and then moving my cursor back to just after the stream name and entering `>`

[2021-07-05 20:16] alya commented on #18555
@Riken-Shah @timabbott What's the status on this one?

[2021-07-05 21:24] #13080 closed

[2021-07-05 21:34] #19049 closed

[2021-07-05 21:39] MartinX3 opened #19126 "Set expiration date for invitation links"
Currently if we create an invitation link of our orga it will expire after some days.
But we don't know when or after how much time.
We would like to set or deactivate it.

Our orga is hosted at zulipchat.com

It seems that a link is only valid for 10 days.
Then we hope that some member of our community raise a issue ticket, so that we can renew the link again.

See the code below for the variable

[2021-07-05 22:14] ZelphirKaltstahl commented on #19123
@timabbott I have not seen any other issue so far, while blocking gravatar.com requests. No guarantees though, I have only been using it for a short while. However, if I notice anything else, I will let you know. : )

[2021-07-05 23:37] alya opened #19130 "Clicking "copy" button on code block closes compose box"
Clicking the "copy" button on code block closes the compose box. This is clearly the wrong behavior, as the user is very likely to be copying the text in order to paste it into the compose box.

Environment: Desktop app on a Mac (in CZO); I haven't tested others.

Somewhat related to: #18731; see also [CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/composebox.20stickiness).

[2021-07-05 23:58] #18988 closed

[2021-07-06 00:56] WesleyAC opened #19132 "Adjust size of stream and topic inputs in composebox"
Currently, the stream and topic input boxes in the composebox are quite small, and although they aren't static in width, the way they're dynamic doesn't make much sense. After a [discussion on CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/topic.20input.20box.20width), we've decided on a change something like the following:

* The stream input box fits the text inside it, up to some

[2021-07-06 01:02] #18989 closed

[2021-07-06 07:06] HustleRRR commented on #19090
@timabbott Is it suitable to hide the last active column here?

[2021-07-06 16:55] alya opened #19141 "Make muting work for deactivated users"
Even after a user deactivated, it may be helpful to hide that user's messages, avatar, etc. We should therefore make it possible to mute deactivated users.

This will also fix a bug where if a user tries to mute a deactivated user, the action silently fails.

[2021-07-06 17:24] Riken-Shah commented on #18555
The PR for the first and second features is awaiting a review https://github.com/zulip/zulip/pull/18613.

For the third feature, we decided to replace the "Save and Clear" button with the "Rotating Draft Up/Down" behavior (see [here](https://chat.zulip.org/#narrow/stream/101-design/topic/save.20and.20clear.20button.20design/near/1200306)).

PR (https://github.com/zulip/zulip/pull/18718) for this i

[2021-07-06 17:29] alya commented on #18555
Great, thanks for the update!

On Tue, Jul 6, 2021 at 10:24 AM Riken Shah ***@***.***> wrote:

[2021-07-06 17:41] eyahlin commented on #19084
Agreed! The focus of the Recent Topics view is quite unpredictable. I prefer that it just focuses on the first row at the top, where the most recent topic is. That way, there's no need to scroll up every time the view is used.

[2021-07-06 21:20] alya opened #19142 "Open typeahead immediately when @ is entered"
At present, we open @-mention typeahead suggestions when the user enters @ (not within a word) followed by another character. Instead, we should pop up typeahead right away without waiting for the first character. This will make it clear to the user that they can use @-mentions in Zulip, and is consistent with expectations from other chat apps (e.g. Slack, Discord).

[2021-07-06 21:56] #18890 closed

[2021-07-06 21:59] timabbott commented on #18890
This was completed, with everything except that we've kept the "Loading..." text.  I'm not sure it makes sense to add a loading indicator, since in most cases the page loads so fast that you wouldn't see the animation happen, at least if one counts loading time starting from when this page loads (which is after the server does all the work it'll do on the backend).  Maybe worth a #design discussio

[2021-07-06 22:47] akshatdalton commented on #19142
@ @zulipbot

[2021-07-06 23:38] #16836 closed

[2021-07-07 00:20] timabbott commented on #19090
Yeah, that seems like the right approach for this width.  We should be able to do it with media CSS to add `display: non` at mobile widths.

[2021-07-07 00:37] #6967 closed

[2021-07-07 01:32] Apoorv-Agrawal24 commented on #10539
@zulipbot claim

[2021-07-07 01:34] raghupalash commented on #19058
Hey @kerryja! Are you still working on this?

[2021-07-07 01:50] nooblag commented on #17042
This would be great! Our desired use case in this instance would be Zulip -> Nextcloud logins.

[2021-07-07 04:05] nooblag commented on #18890
Yeah, I don't think it needs animation.

[2021-07-07 06:07] WesleyAC opened #19145 "Widget with null content results in error"
[Here's](https://chat.zulip.org/#narrow/streams/public/near/582872) a message that triggers a warning:

[code]

We don't need to support messages like this (the frontend shouldn't make them anywhere) — the correct behaviour here is probably to do what we're doing, just with no error message in the console.

[2021-07-07 06:29] Dad0634 commented on #17842
@zulipbot claim

[2021-07-07 09:39] ganpa3 opened #19146 "Hovering over message time in message edit history raises an error."
### To reproduce:
1. Send a message.
2. Edit it.
3. Open the message edit history.
4. Hover over the timestamp on the top right corner of any message instance.

![Tippy](https://user-images.githubusercontent.com/58626718/124737064-3cb9c380-df35-11eb-8518-6b85cb5d59e1.gif)

[2021-07-07 12:05] Andreyrickman opened #19149 "Cant run a bot following the instructions"
from typing import Any, Dict
from zulip_bots.lib import BotHandler

class HELLOandler:
    def usage(self) -> str:
        return """
      skkskskks
        """

    def handle_message(self, message: Dict[str, Any], bot_handler: BotHandler) -> None:
        content = "alallala"  # type: str
        bot_handler.send_reply(message, content)

        emoji_name = "wave"  # type: str
        bot_hand

[2021-07-07 14:09] Signior-X opened #19153 "alerts: Unequal padding on top and bottom of the alert"
![image](https://user-images.githubusercontent.com/56730716/124773784-e19ac780-df5a-11eb-883f-2023259f040e.png)

This error message has unequal padding on the top and bottom, which we should fix. The bottom padding seems a bit bigger than the top paddding.

[2021-07-07 15:07] raghupalash commented on #19142
@zulipbot claim

[2021-07-07 15:13] raghupalash commented on #19142
@zulipbot claim

[2021-07-07 15:48] Signior-X commented on #19130
Well this is fixable quickly by just converting the `copy code` button to <a> tag. The reason being
[code]

this code handles this, so the compose box is not closed if you click a <a> tag. I have encountered this code before. I have two possibilities in my mind:
1. I tried chaning the <button> to <a>, and this issue gets solved. Just that.
2. However, I think we should have changes here in the cod

[2021-07-07 15:53] Signior-X commented on #19130
#18731 is only specific to firefox, that issue I think does not exist in chrome. We have code for that, but for this issue we don't have. This issue exists in both the browsers
 @alya what are your views, what method should I try?

[2021-07-07 16:26] dasBuero commented on #17042
Same here ... Zulip + Nextcloud = perfect match 😀

[2021-07-07 17:44] #19141 closed

[2021-07-07 17:47] #19130 closed

[2021-07-07 19:19] #15909 closed

[2021-07-07 19:52] alya opened #19157 "Improve UI for revealing long messages"
For long messages, we initially show only the top part of the message, with a "[More...]" link to see the rest. The current UI is functional, but lacks polish.

![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/124819795-8e585300-df21-11eb-93a8-0d04e0039924.png)

We should:

- [ ] Replace the `[More...]` link with a button that says "Show more".
- [ ] Similarly replace t

[2021-07-07 20:35] akshatdalton commented on #19142
@raghupalash You must first ask the user who has already claimed the issue if he is working on the issue or not because it leads to wastage of time if two contributors are working on the same issue without the knowledge of the other.
Please refer to the contributing guidelines: https://zulip.readthedocs.io/en/latest/overview/contributing.html.

I just saw your PR after I opened my PR. :/

[2021-07-07 21:06] WesleyAC commented on #19157
I filed #19055 a little while ago for the last part of this, perhaps we should merge that into this?

[2021-07-07 21:29] #19142 closed

[2021-07-07 21:30] alya commented on #19157
Ah, yeah, that's a good idea. I added a fourth checkbox -- do you think that captures it? I'm not sure we still need the shadow idea if are doing fading.

[2021-07-07 22:19] #16368 closed

[2021-07-07 23:20] timabbott opened #19165 "Filtering logic in "Manage streams" user membership panel doesn't make sense"
I noticed the following:
* [x] Entering `de` seems to include users who don't have `de` in their name or their email address, which seems just broken.
* [x] The filtering logic doesn't use any of the nice sorting things we do in other typeahead of preferring prefix matches and name matches over email matches. Likely we
* [ ] When you remove a user, the feedback text doesn't tell you which user was

[2021-07-07 23:47] #17660 closed

[2021-07-07 23:52] timabbott opened #19166 "Improve typeahead positioning when cursor is near the top of the screen"
As discussed in https://chat.zulip.org/#narrow/stream/9-issues/topic/typeahead.20while.20editing/near/1224745, if you're using the full-height compose width (#17660) or editing a message, it's possible for there to not be space for typeahead above the current compose area.

I implemented a very limited workaround in 98b5f01d14e151d106c2a49034ff74c98075f380 that prevents the typeahead from going of

[2021-07-08 00:20] timabbott commented on #18392
We've now merged the core for this feature in #18525, but it's only enabled for one webhook because we need to refactor each webhook to register the event types we want to use.  So what remains is to add those registrations for important webhooks, and also add the code to make self-document that this exists.

[2021-07-08 00:46] #18479 closed

[2021-07-08 02:20] raghupalash commented on #19142
I am really sorry @akshatdalton :-(, guess I got too excited, will remember in future.
Thanks!

[2021-07-08 13:52] cmprmsd opened #19258 "Shellcheck package is available only for x86"
Edit: shellcheck not spellcheck scusi :D

There are quite a few hosters that migrate to **ARM processors** (Oracle Ampere for instance) and also for home usage Raspberry Pi's might be considered as target for hosting Zulip.

I tried to install the docker-compose manifest to my Ampere instance and it fails because of the shellcheck package:

[code]

I'd expect the installer to check for the archite

[2021-07-08 18:48] timabbott opened #19181 "Delete notification bot messages for resolved topics, on undo in a short grace period"
When you (un)resolve a topic, we send an automated notification noting that it was resolved.  This can be unfortunate in the event of a misclick, since one ends up creating two spam messages. Rather than making it harder to resolve topics, we'd like to instead design a grace period. We'd modify `maybe_send_resolve_topic_notifications` to add the following logic:
* If the newest message that was mo

[2021-07-08 19:04] ligmitz commented on #19181
@zulipbot claim

[2021-07-08 19:24] andersk commented on #18692
Reopened by #19180.

[2021-07-08 20:35] alya opened #19182 "Disable "Send" button when sending message is not allowed"
At present, we do not allow a message to be sent when it is:

a) Empty
b) Over the 10,000 character limit

We currently communicate this to the user with a banner in the first case. We don't directly communicate it in the second case.

We should do the following:
1. When the user has a "Send" button, disable the button (with clear visual indication) when the message cannot be sent. No other indica

[2021-07-09 00:55] #14906 closed

[2021-07-09 01:04] timabbott commented on #9382
This was fixed in #19156 today.

[2021-07-09 01:04] #9382 closed

[2021-07-09 12:52] showell opened #19190 "Improve back-button behavior for All Messages and Recent Topics"
This isn't yet a fully specified issue, but we want to improve the behavior for when you go back and forth between Recent Topics narrow, or similarly, when you go back and forth between All Messages and Recent Topics.

See: https://chat.zulip.org/#narrow/stream/137-feedback/topic/Selecting.20Topic.20from.20stream.20in.20All.20Messages.20and.20back.20again/near/1215590

and

https://chat.zulip.org/

[2021-07-09 13:07] showell opened #19191 "Fix bolding/italicizing after triple-clicking in Chrome"
Chrome and FF have slightly different behavior when you triple-click on a line.  In Chrome, if you triple-click on a line, the selection actually includes the newline, so that when you go to bold something with control-B (or italicize with control-I), the ending enclosing characters go on the second line, and then markdown doesn't bold the single line, which is almost always the user's intention.

[2021-07-09 13:14] showell opened #19192 "Extract typeahead into its own library."
We currently use the typeahead feature of the bootstrap library, which has been vendored for about a decade and diverged from bootstrap.

We want to move just the JS typeahead piece into a Zulip-maintained library, that we will probably put under `static/shared/js`, but there may be some debate on it.

We'll then want to do things like the following:
* remove any features from bootstrap that our c

[2021-07-09 13:42] Riken-Shah commented on #19182
@zulipbot claim

[2021-07-09 16:43] timabbott commented on #18882
This is likely somewhat involved to implement; @alya let's chat about the semantics for this a bit before we get deep into implementing it.

[2021-07-09 17:24] amanagr commented on #19182
I was about to start working on this, but you can take this up.

[2021-07-09 18:11] alya opened #19196 "Immediately show menu for which messages to move when editing message topic"
When editing the topic of a message via the three-dot message menu, the use has the option of changing the topic of that specific message, all later messages, or all messages in the topic.

At present, the menu to choose between these options appears only once the user has made an edit to the topic name. This can cause confusion, as the user has no idea that these options will be available. The ma

[2021-07-09 18:27] Vooply opened #19197 "Import from slack"
Hi everyone
I have trouble with import data
I follow the instructions on the [documentation](https://zulip.com/help/import-from-slack#import-from-slack), make an convert_slack_data, and after manage.py import only works with flag --destroy-rebuild-database
Okay, but as I after this import can make one more, with new data, or with data of the new user, I understand that new convert_data_slack with

[2021-07-09 18:32] alya opened #19198 "Mix of colors in select boxes"
At present, select boxes around different buttons, text boxes, etc. appear in different colors depending on the element, which does not look good. The behavior is browser/system dependent, but for example on the desktop app on the Mac in day mode, most boxes are blue, but the following ones are orange (may not be a complete list):

- In the compose area, "GIF", "Press enter to send", "Send"
- In t

[2021-07-09 20:41] andersk opened #19202 "Poll that appears when unnarrowing to All messages doesn’t render"
If I load the app on a narrowed view that excludes a message with a poll, and then unnarrow to **All messages**, the poll widget doesn’t render; I just see a raw message starting with “/poll”.

Seems to have something to do with this condition (#9832, cc @showell):

https://github.com/zulip/zulip/blob/eb8283c089b3fb016cb1eef24b184181c1fda667/static/js/widgetize.js#L52-L56

[2021-07-09 23:28] alya opened #19205 "Improve formatting inserted by <time> widget"
At present, the `<time>` widget inserts the following formatting into the compose box, which is difficult to read at a glance:

`<time:2021-07-14T00:14:00-07:00>`

Instead, we should have the `<time>` widget insert the following formatting:

`<time:2021-07-14|00:14:00|UTC-07:00>`

Our parser should accept both the old and the new format.

See also [CZO discussion thread](https://chat.zulip.org/#na

[2021-07-10 21:54] stiobhan opened #19214 "Why is Smokescreen listening on all interfaces?"
I just enabled Smokescreen on our installation (Zulip 4.3) by adding these lines to `/etc/zulip/zulip.conf`:

[code]

I was surprised to see that Smokescreen is then listening on all interfaces and is reachable from other machines. Why not configure it to listen only on 127.0.0.1? The command line option for this exists:

[code]

[2021-07-11 15:33] webdevrachit opened #19215 "Back button issue"
This isn't yet a fully specified issue, but we want to improve the behavior for when you go back and forth between Recent Topics narrow, or similarly, when you go back and forth between All Messages and Recent Topics.

See: https://chat.zulip.org/#narrow/stream/137-feedback/topic/Selecting.20Topic.20from.20stream.20in.20All.20Messages.20and.20back.20again/near/1215590

and

https://chat.zulip.org/

[2021-07-11 18:15] BrendanGreenlee commented on #16808
Where is the discussion for this happening on chat.zulip.org?

[2021-07-12 05:09] Riken-Shah commented on #19157
@zulipbot claim

[2021-07-12 08:54] ganpa3 commented on #19215
Exact copy of #19190

[2021-07-12 14:20] ganpa3 commented on #18631
@zulipbot claim

[2021-07-12 18:41] iammattmartin commented on #11845
That's great. Although I notice that Recent Topis doesn't work well with that and part of the page already uses an !important so getting that to match seems tricky.

Would also like to see a per org, or per user theme creator/selector without the need of CSS files so they're carried over to the web version too.

[2021-07-12 22:54] alexmv commented on #17739
#18733 changed to the `aioapns` library, which is also based on the `hyper` library.

[2021-07-12 23:31] alexmv commented on #19056
Unfortunately, this was an error observed from an exception in production -- and I don't have the trace anymore.  I suspect this is triggerable with a `application/x-www-form-urlencoded` body which _doesn't_ set the `body` parameter.  Did you give that a shot?

[2021-07-13 00:35] andersk opened #19224 ""event": "remove" push notifications can exceed the 4096 byte APNs limit"
Apple push notifications are [limited](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification) to 4096 bytes. However, the `"event": "remove"` push notifications added by #15179 can exceed this limit with a long enough list of `zulip_message_ids`. Such a long payload might be rejected or, if even longer, cause `h2.except

[2021-07-13 00:43] alexmv commented on #19056
Ah, found the trace.

## Query string

Key | Value
-- | --
`api_key` | [redacted]
`stream` | [redacted]
`topic` | [redacted]

## Body
(this is presumably the parsed form of the `multipart/form-data`)
<table>
<tr>
<th> Key </th> <th> Value </th>
</tr>
<tr>
<td><code>content</code></td>
<td>

[code]

</td></tr></table>

## Headers

Key | value
-- | --
`Accept-Encoding` | `gzip, deflate`
`Content-Len

[2021-07-13 01:38] gnprice commented on #19224
https://chat.zulip.org/#narrow/stream/378-api-design/topic/truncating.20.60remove.60.20push.20notifications/near/1230040

[2021-07-13 03:39] nooblag commented on #17903
Just chiming in to highlight [discussion on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/.22my.20topics.22.20.3F) regarding this issue. For me it's not catching streams that are in a two week window (which to my mind is still recent enough).

[2021-07-13 07:06] karunakarhv opened #19227 "Page does not exist"
https://zulip.readthedocs.io/en/latest/overview/roadmap.html

![image](https://user-images.githubusercontent.com/1019927/125406913-b3a30080-e3fc-11eb-82aa-532d76f036a1.png)

[2021-07-13 09:48] m-e-l-u-h-a-n commented on #18882
I was going to start on it, but seeing Tim's above comment it appears there are things that still need discussion.
I had opened a thread for it at https://chat.zulip.org/#narrow/stream/2-general/topic/Org.20setting.20for.20viewing.20stream.20subscription.
So, I am currently working on cleaning up stream_setting templates.

[2021-07-13 13:44] iammattmartin commented on #10970
We too are interested in this. Have also emailed.

[2021-07-13 15:29] #18860 closed

[2021-07-13 15:29] #19182 closed

[2021-07-13 16:05] timabbott commented on #19227
@karunakarhv where did you find a link to that URL?  We should update the link.

[2021-07-13 16:08] timabbott commented on #19227
I've added a redirect to make the link take you to the replacement place, but am leaving this open until we have confirmation of whether there's a link we need to change.  Thanks for the report!

[2021-07-13 16:23] alya commented on #15290
Let's remember to document this in the relevant help center articles:

- **Rename a topic**
- The **Details** section of the **Resolve a topic** article

[2021-07-13 20:52] karunakarhv commented on #19227
@timabbott Alright will wait until we have a confirmation.
For time being, the url has been updated to below:
https://zulip.readthedocs.io/en/latest/overview/release-lifecycle.html#server-roadmap

[2021-07-13 22:35] #19227 closed

[2021-07-13 22:54] timabbott commented on #734
@Nikolaj-K it's best to ask questions like this in a new issue or in chat.zulip.org, rather than on a mostly unrelated issue last closed in 2017.

If you reconnect your old email address to your GitHub account (or login with any other mechanism using the original email address, e.g. starting with resetting your password), you can then change your email address in Zulip and proceed from there.

[2021-07-13 22:55] timabbott commented on #18631
@andersk and I did some debugging on this on Friday that we didn't transcribe; I think he started a thread on it in chat.zulip.org.

[2021-07-14 00:46] andersk commented on #18631
No, we were debugging a different issue on Friday that I filed as #19202.

[2021-07-14 01:18] nooblag opened #19238 "Download button for an image in lightbox does not download the image"
Regarding [this discussion in CZO](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Downloading.20image.20problem.3F), when viewing an image in the lightbox of a current Zulip cloud instance, if a user clicks 'Download', the image displays rather than downloads.

There is discussion around this at the link above being a server setting required to handle the MIME type to initiate download rat

[2021-07-14 05:13] Saurabh7120 opened #19239 "💤 emoji creating issues"
In my chat app, I used the library and I noticed a very weird issue. The issue is that the 💤 emoji doesn't give a line break after reaching the endpoint while all other emojis do so.

<img width="761" alt="Screen Shot 2021-07-14 at 10 41 23 AM" src="https://user-images.githubusercontent.com/51123071/125564994-dada7e77-17d5-41c1-b968-114efddb6d21.png">

In the image, you can see that the emojis at

[2021-07-14 05:30] #19239 closed

[2021-07-14 05:58] timabbott commented on #19214
@alexmv @andersk thoughts?

[2021-07-14 06:20] timabbott commented on #19215
Closing as a duplicate.

[2021-07-14 06:20] #19215 closed

[2021-07-14 06:20] timabbott commented on #19215
@webdevrachit can you explain what you were trying to do here?

[2021-07-14 06:22] timabbott commented on #19197
@Vooply thanks for the report!  The actual bug here (the error message being wrong) is already fixed in the 4.x branch and should be fixed in a 4.4 release in the next couple days.  Closing this issue for that reason.

The correct error message is that you already have data on the root domain, and the import tool refuses to overwrite that.  You can clear your Zulip server's database to do another

[2021-07-14 06:22] #19197 closed

[2021-07-14 06:29] Vooply commented on #19197
@timabbott thanks

[2021-07-14 06:49] #18990 closed

[2021-07-14 06:57] Vooply opened #19241 "Import images from slack"
Tell me how to properly transfer pictures from slack to zulip?
I even go through the loop and make files.sharedPublicURL, but it still turns out that the pictures are not working
That new links from files.sharedPublicURL are working
Its for all chats, public, private, dms
![image](https://user-images.githubusercontent.com/43493241/125577095-5184532a-0c46-41ed-b7f4-7e7d2979b7b0.png)
![image](https:

[2021-07-14 09:00] Vooply commented on #19241
Oh, all files broken too
Like
![image](https://user-images.githubusercontent.com/43493241/125594605-47d1ba3e-c98e-4e02-a7f6-3a15a722405a.png)

[2021-07-14 09:30] akshatdalton opened #19243 "compose: Fix extra whitespace area under the compose box in the preview mode."
![expand_composebox](https://user-images.githubusercontent.com/67277428/125598117-dfa27302-b675-4f7d-9a40-44fb5a4426c0.gif)

When writing in the expanded mode in the compose box and when one preview the content, huge whitespace is left below the compose box. I think we should fix this.

Moreover, in the expanded mode, we can't see the full content preview (need to scroll to see the content). I thi

[2021-07-14 09:31] akshatdalton commented on #19243
@zulipbot add "help wanted" "area: compose"

[2021-07-14 12:43] Eevoo commented on #9081
Hey there @t-vi could you send me that patch? It looks perfect for my use case.

I'm not a zulip contributor. I'm  looking to manually integrate it on my own instance as well. I feed my tabletop group uploaded videos and audio.

Right now Zulip will let me upload files but when they try to view it on desktop, they have to download it in order to play it. Even clunkier when they are on mobile, it o

[2021-07-14 13:49] Vooply commented on #19241
Okay, I solve this problem
Need get admin slack token xoxe-123...
And for this link of the file add this token parameter

[2021-07-14 16:01] ligmitz commented on #18941
@zulipbot working on it.

[2021-07-14 18:39] #19098 closed

[2021-07-14 18:46] garg3133 opened #19249 "compose: Expanded compose box uncollapsible"
When the navbar alerts banner is visible at the top (the green coloured banner which asks for turning on the desktop notifications), the compose-box top-bar gets hidden behind the header, and so the top-right buttons of the compose box are no longer accessible; which results in an inability to collapse the compose box (or change stream/topic).

![image](https://user-images.githubusercontent.com/39

[2021-07-14 19:33] timabbott commented on #19241
I don't think I've seen a failure mode like this before.

@Vooply can you talk more about your system's configuration (E.g. what file upload backend are you using)?  And also explain clearly what you determined with tokens?  Is the issue that you used a non-admin Slack API token that didn't have access to download files?

@hackerkid @garg3133 in case either of you have a theory for what happened.

[2021-07-14 21:10] ericluoliu commented on #19044
@zulipbot still working on it

[2021-07-14 21:12] alexmv opened #19250 "user_activity_interval query for new user results in sequential scan of zerver_useractivityinterval and worker timeout"
The user_activity_interval worker calls:
https://github.com/zulip/zulip/blob/b0764386bfcbeea2ae84879ac01d02a79a508baa/zerver/lib/actions.py#L5234

Which results in a query like:
[code]

For users which have at least one matching row, this results in a query plane like:
[code]

For for users that have just been created, with no matching rows, this is considerably more expensive:
[code]
PostgreSQL i

[2021-07-14 21:17] alexmv commented on #19250
Actually, this looks to be fixable by having more up-to-date indexes.  Running a `vacuum analyze zerver_useractivityinterval` to regenerate stats now results in a query plan of:
[code]
...which is fast with both existing and non-existing `user_profile_id` values.

[2021-07-14 21:20] #19250 closed

[2021-07-14 21:22] alya opened #19251 "Fix `x` button alignment in feedback widget"
For some commands, including (at least) `mute topic` via the 'SHIFT-M` hotkey and `/day` and `/night` commands (and their aliases), we pop up a feedback widget that indicates what the user just did and offers an option to undo.

This widget has an alignment problem, where the the `x` button to close the widget appears too low.

<img width="648" alt="Zulip_-_Zulip_Community" src="https://user-image

[2021-07-14 21:41] alexmv commented on #19214
We make it listen not just on 127.0.0.1 because in larger deployments smokescreen may be on a different host, and my be responding to queries from more than one frontend.

We can add a `zulip.conf` setting for which interface to listen on, and default it to `127.0.0.1`.

[2021-07-14 21:42] alexmv commented on #19214
I forgot to say -- it's a very reasonable complaint that we shouldn't be opening up an effectively public HTTP proxy -- thank you for catching and calling this out!

[2021-07-14 21:54] #19053 closed

[2021-07-14 22:06] andersk opened #19253 "Ok so what the actual frick is going on in MessageListData._lower_bound"
https://github.com/zulip/zulip/blob/a5eb3abc52c9e0c4efd8d37d2627e9c315191518/static/js/message_list_data.js#L342-L362

There are so many questions here.

* Why does the sorted message list have a potentially-unsorted nature? What is the actual invariant being maintained?
* Why does a local-only `id` need to be special-cased?
* What is a linear search doing inside the binary search? Why do we need

[2021-07-14 22:14] alexmv opened #19255 ""Copy from stream" in "Create stream" only unfolds the first time"
If you can cancel the stream creation and start the flow again, the unfold doesn't unfold:

https://user-images.githubusercontent.com/28347/125699924-fe616f2a-9638-4431-8f7b-e108d2b32c80.mov

[2021-07-14 22:40] #19214 closed

[2021-07-14 23:47] gnprice commented on #18939
Thanks, that screencast is very helpful!

I see several issues there:
* The enabled/disabled state is persistent when you leave the lightbox, go browse Zulip for a while, and then look at another image. That's kind of surprising, modal, behavior. It can lead to puzzling results where you open a small, low-resolution image and it's blown up big.
  * I'd think this should probably just not be persis

[2021-07-15 00:20] timabbott commented on #19250
Thanks for tracking that down!  I guess this does ask the question of whether we need a process to run `vacuum analyze` in a cron job on some basis.

[2021-07-15 00:24] timabbott commented on #19258
I believe the original shellcheck issue was fixed in d808dca28fe2e960c0e5cbe09c9536e9ec82019d; I guess given this issue's title we could close it and move to a new issue for tracking the `postgres` image work?

I'm uncertain how many other problems we'll have with ARM support; I don't expect any should be hard.  I think it's best to coordinate the iterative debugging work in chat.zulip.org.

[2021-07-15 00:30] alexmv commented on #19250
Yeah.  I have an outstanding internal task (though no issue) to add one, but I hadn't decided yet if it was `puppet/zulip/` or `puppet/zulip_ops` territory.  It likely doesn't hurt to have it run for all installs.

[2021-07-15 00:33] timabbott commented on #19253
Good questions!  I don't recall the background for this, but it very likely predates various migrations on how `local_id` values are managed, and is possibly totally useless.

@ryanreh99 @showell do either of you have any thoughts on this?

[2021-07-15 00:46] andersk commented on #19253
I mean we clearly can’t delete it, as it has many callers. The question is whether we can fix it to do something that’s not as manifestly bonkers.

[2021-07-15 00:51] andersk commented on #19253
Previous discussion: https://chat.zulip.org/#narrow/stream/6-frontend/topic/out-of-order.20local.20ids/near/850456

[2021-07-15 01:30] vanclute commented on #18939
I'd say you absolutely nailed it on all counts.  Excellent!

[2021-07-15 03:58] ganpa3 commented on #18631
The issue is pretty simple.
We `empty()` the contents of the message element every time the `All messages` view is rendered.
https://github.com/zulip/zulip/blob/b0764386bfcbeea2ae84879ac01d02a79a508baa/static/js/widgetize.js#L22-L25
As per jQuery [docs](https://api.jquery.com/empty/#empty),

So, we create the widget element, attach the handlers, and then call `empty()`, removing all the event hand

[2021-07-15 04:43] nooblag opened #19260 "Notify of stream description change to 'stream events'"
Opening issue in reference to [this](https://chat.zulip.org/#narrow/stream/101-design/topic/Notify.20of.20stream.20description.20change.20to.20'stream.20events') discussion at CZO, where Zulip should post messages in 'stream events' whenever a Stream description is added/changed. For example, in Rocket Chat, the system message appeared in the channel like this:

![Example](https://user-images.gith

[2021-07-15 06:52] aryanshridhar commented on #19255
Should be a minor fix. Looking into it!

[2021-07-15 10:15] PIG208 commented on #19056
I have tried sending requests using `application/x-www-form-urlencoded` and `multipart/form-data`, with and without files, but with no luck.

[2021-07-15 14:18] akshatdalton opened #19261 "css: Improve visibility of "horizontal rule" in messages."
`---` "Horizontal rule" is not clearly visible in the day mode.

![Day mode](https://user-images.githubusercontent.com/67277428/125803101-bd1d5af2-c776-4a4a-9760-1152e83157fe.png)

![Dark mode](https://user-images.githubusercontent.com/67277428/125803129-0145cc96-78b5-499b-bbf0-bf390af38dcf.png)

We can improve this.

We can refer to that of GitHub:
![image](https://user-images.githubusercontent.c

[2021-07-15 14:19] akshatdalton commented on #19261
@zulipbot add "help wanted"

[2021-07-15 15:29] #18416 closed

[2021-07-15 15:59] #18796 closed

[2021-07-15 16:38] timabbott commented on #19250
Yeah, I think probably `puppet/zulip` seems right.

[2021-07-15 18:58] showell commented on #19253
I don’t have anything new to add here. I think “bonkers” is the key word.  I believe the chat conversation basically fizzled because we didn’t want our brains to explode.

[2021-07-15 19:15] timabbott commented on #19260
This can likely be done by adding a call to `internal_send_stream_message` in the `do_change_stream_description` method, using `notification-bot` as the sender.

[2021-07-15 19:31] gnprice commented on #18072
@abhijeetbodas2001 Thanks for the detailed report. I just edited the OP to point to the amended repro I posted above (it's a long thread and that's easy to miss), as well as your amended repro, both of which involve leaving the tab open but idle. That makes the issue reproduce more reliably -- and it also better models the real-life use case anyway.

And I think that's a good summary of what's hap

[2021-07-15 20:00] alexmv opened #19268 "Add a weekly cron task to vacuum analyze the database"
PostgreSQL has autovacuum functionality that eventually will run vacuum and analyze processes when it believes them to be necessary.  These steps are useful to [make effective use of indexes, and to reclaim unused disk space](https://www.postgresql.org/docs/current/routine-vacuuming.html).  Some tables are quite high-churn and are autovacuum'd multiple times per day (e.g. `fts_update_log`); partic

[2021-07-15 20:55] ivangretsky commented on #7517
Good day!

As Slack system requirements are getting higher, more people from around the world are going to look for an app to migrate to. I think Zulip is one of the best. Especially when you start using the keyboard shortcuts. It is a pity and might be a showstopper they do not work with non-en keyboard layouts.

I would love to see this issue being moved forward, as I am one of those looking for

[2021-07-15 21:21] alexmv commented on #19250
Added #19268.

[2021-07-15 22:18] #18591 closed

[2021-07-15 22:26] timabbott commented on #18591
OK, merged, and also reported the bug upstream with Python-Markdown, since this seems like something they might want to fix.

[2021-07-15 22:57] timabbott commented on #17164
Closing, since I don't think this precise design is something we want to implement.  We may want something more like being able to pin specific narrows below "Starred messages" that's fully generic, where could you put streams there but also other searches.

[2021-07-15 22:57] #17164 closed

[2021-07-15 23:03] timabbott commented on #10786
Closing, since the "more topics" / "topic zoomed" widget is now designed to fill the full sidebar, with a "back" button, and we've been pretty happy with that design ever since we added support for fetching all topics in a stream (even if there's 1000 of them) and filtering them.

[2021-07-15 23:03] #10786 closed

[2021-07-16 00:20] timabbott opened #19272 "Rename MutedTopic model to UserTopic"
This is a preparatory project for #2517 and related features.  We'd like to take our existing `(user, stream, topic)` model, `MutedTopic`, and generalize it to be useful for new use cases.  One can do this with the following steps:

* Finish the [discussion here](https://chat.zulip.org/#narrow/stream/3-backend/topic/MutedTopic.20table/near/1232315) on what to call the table.  For now I'm using `Us

[2021-07-16 00:24] timabbott commented on #2517
I opened an issue for a preparatory data migration that would let us have a place to store this preference here: https://github.com/zulip/zulip/issues/19272

Once we've done that, the backend for saving the state is a messy problem, just because we need to decide if we're creating a parallel API to the "mute topic" endpoints, or trying to unify things.  I'll do a design for that once #19272 is com

[2021-07-16 00:42] timabbott commented on #12807
I think that it makes sense to close this as a duplicate of #2517, since that would satisfy the use case (at least #5349 shares with this the idea that it'd be a personal configuration, i.e. mute stream + unmute specific topics, not a global one).

[2021-07-16 00:42] #12807 closed

[2021-07-16 12:12] mateuszmandera opened #19278 "Make remote servers respect our rate limits on requests to the push bouncer"
In 85cbdc890438686c8996960b30adf900def57c7d we've added rate limiting of requests to the push bouncer by remote servers. We should make the request-making code correctly handle rate-limiting - primarily a good retry mechanism will be needed, and we also probably should log a warning when hitting the limits.

The function where requests directly happen is `send_to_push_bouncer` in `zerver/lib/remot

[2021-07-16 14:40] aryanshridhar opened #19280 "Copy code tooltip is not completely shown."
Noticed the following behavior regarding the "Copy code" tooltip -

![one-liner](https://user-images.githubusercontent.com/53977614/125964740-dbed7451-5ec6-42ae-93bd-bb23ffb3d165.png)

i.e - the tooltip being cut off from the top.

[2021-07-16 15:53] #19255 closed

[2021-07-16 19:00] alexmv opened #19284 "Prevent `upgrade-zulip-from-git` from "upgrading" to a lower version"
Switching branches (e.g. from `master` to `4.x`) with `upgrade-zulip-from-git` can break a production install if the database migrations from the old version are not a subset of the new one.

Make `upgrade-stage-2` refuse to proceed with the "upgrade" (at least without some `--force`) if the migrations in the "new" version are not a superset of the "old" version.

Slightly related to #280.

[2021-07-16 19:30] EloyTolosa commented on #19191
@zulipbot claim

[2021-07-16 19:38] alexmv commented on #19065
Hm -- that's a little confusing, since both self-signed certificates and certbot certificates should both be written to the same place.  Which is why we don't document any configuration file changes necessary when switching -- there shouldn't be any.

Can you clarify what location you found as "the actual location of the certs", and what file you updated to point to there?  And, if you remember, w

[2021-07-16 19:50] EloyTolosa commented on #19191
@zulipbot claim

[2021-07-16 20:09] alexmv opened #19287 "Rate-limit by IP any publicly-accessible email-sending endpoints"
#16190 added IP-based rate-limiting for un-authed requests in the `rate_limit` view decorator, which is effectively just REST endpoints. However, there are non-REST unauthenticated endpoints which also bear protecting.  Specifically, the `/accounts/find/` and `/new/` endpoints automatically send emails to user-supplied addresses, and are not currently rate-limited.

We should add an additional `au

[2021-07-16 20:16] alexmv opened #19289 "Restrict requests with RemoteZulipServer auth to zilencer and corporate views"
RemoteZulipServer auth has higher rate-limits than unauth'd requests -- but we do not restrict such requests from hitting other endpoints.

Much as we have a `allow_webhook_access=False` flag, we should also have a `allow_remoteserver_access=False` flag, and only set that on to True for endpoints which are valid for remote server access (i.e. the push bouncer endpoints).

[2021-07-16 20:30] ZelphirKaltstahl commented on #19065
I don't remember what value used to be in that place, but I will check what I have configured.

[2021-07-16 20:46] mojavelinux commented on #19181
If it's alright, I'd like to request an additional requirement for this change. Currently, when you tick the resolved icon, it bubbles the topic to the top because it has received new activity. This behavior just adds noise to the stream. The intention is to mark the topic as closed / done, not give it new life. Would it be possible for the notification to assume the timestamp of the last post on

[2021-07-16 21:36] alexmv commented on #19065
Sounds good!  I expect `grep -r ssl_certificate /etc/nginx` to look like:
[code]
(the `snakeoil.conf` file is extraneous, installed by the package manager)

[2021-07-16 21:53] alexmv opened #19290 ""Subscribe"/"Unsubscribe" button is out of sync with stream subscription status"
Checking the checkmark next to the stream name in the left nav doesn't change the "Subscribe" button on the top-right to say "Unsubscribe" -- and clicking "Unsubscribe" doesn't change it to "Subscribe" either.  In general the name of the button seems able to get out of sync with the checkmark in confusing ways.

https://user-images.githubusercontent.com/28347/126011871-daac64dc-b7e4-486c-9e7e-7318

[2021-07-16 22:31] vanclute opened #19291 "Ability to add n number of users to all public streams"
As community manager I often have to migrate guest users to full members, which means also adding them to all of our 20-30 streams.  Right now I have to add each person, one by one, to each stream.  It's incredibly inefficient and laborious.

Ideally there would be two approaches available to this:

1. Simply tick a box "Add user(s) to all public streams"
2. Ability to select which streams you wan

[2021-07-16 22:31] singhutkarshh commented on #18286
@zulipbot claim

[2021-07-17 05:27] m-e-l-u-h-a-n commented on #18949
Frontend work related to this issue was fixed in #18957.

[2021-07-17 08:57] masterchief164 commented on #15948
@zulipbot claim

[2021-07-17 11:08] Pulkit007 commented on #17842
@zulipbot claim

[2021-07-17 20:49] singhutkarshh commented on #18286
@alya  can your please review it and help me with the feedback.

[2021-07-18 07:28] ganpa3 commented on #19290
@zulipbot claim

[2021-07-18 13:29] masterchief164 commented on #19251
@zulipbot claim

[2021-07-19 08:15] intelligentops opened #19304 "SAML Assertion Consumer Service URL has http instead of https"
Hey,

I have a clean docker+Zulip setup with enabled SAMLAuthBackend behind a reverse proxy. I've configured SOCIAL_AUTH_SAML_ENABLED_IDPS section in settings.py and added x509cert from IdP. After that I can see server’s metadata at https://zulip.example.com/saml/metadata.xml but next Location has http scheme

`<md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" L

[2021-07-19 08:55] manavdesai27 opened #19306 "Support for Fedora 34"
I have been trying to install the development environment in Fedora 34 and as it is currently supported for only Fedora 33 (beta), I have made a few changes to provision.py and setup-yum-repo. I have tested this on my Fedora 34 and it is working properly. Can I open a PR for this issue?

[2021-07-19 17:46] timabbott commented on #19290
This seems important.  @m-e-l-u-h-a-n FYI since you may have ideas for what broke this.

[2021-07-19 17:48] timabbott commented on #19304
@intelligentops what do you have set as `EXTERNAL_HOST` for your Zulip server?  That setting controls URLs that the Zulip server produces for clients, not the URL that a reverse proxy should find the server at, and I suspect the problem is that you've incorrectly set that the `http`.

[2021-07-19 17:49] timabbott commented on #19304
If that theory is correct, we'd appreciate feedback on how we might tweak the `EXTERNAL_HOST` or proxy documentation to have helped you avoid this error, so we can avoid the next person having this problem.

[2021-07-19 17:51] timabbott commented on #19291
@vanclute I wonder if it makes sense for you to use https://zulip.com/api/subscribe; the API supports this sort of bulk operation, and I suspect you could write a 10-line program with the API that lets you pass the user's email address and will add it to a specific set of streams.

[2021-07-19 17:51] timabbott commented on #19306
@manavdesai27 absolutely!

[2021-07-19 19:04] sahil839 commented on #18927
@zulipbot claim

[2021-07-19 19:18] timabbott opened #19320 "Add settings option to hide/reduce footer for self-hosted servers"
The Zulip website footer is probably not necessary on a self-hosted Zulip server's login type pages.

I believe we can implement this by adding a [settings option](https://zulip.readthedocs.io/en/latest/subsystems/settings.html) called `PORTICO_DISABLE_FOOTER`, which when enabled gets passed to clients via the common context in `zerver/context_processors.py` as `footer_disabled`, and could be adde

[2021-07-19 19:27] iammattmartin commented on #19320
I believe a simplified footer would be acceptable too.

The main objective really is to remove the bulk links to things really not too relevant for self-hosted installations, or users of those installs who may through several routes click those, then end up maybe on your own zulip install getting all a bit confused.

[2021-07-19 19:33] vanclute commented on #19291
Oh no question this could absolutely be handled via the API.  However implementing this is beyond me, and while one of our founders could definitely do this, it's a waste of his time to have to when he's got way too much on his plate already.  This seems like such a basic feature that anyone who uses the guest model to give people a taste of a community, and then gives them an upgrade path to full

[2021-07-20 08:30] ligmitz commented on #18941
@zulipbot claim

[2021-07-20 09:48] darky-lega opened #19326 "Users list: sorting by last_name only"
It is necessary to be able to sort the list of users only by the 'last_name' without regard to 'status'

[2021-07-20 15:46] showell opened #19328 "Add small spinner to locally echoed messages after 5s"
See https://chat.zulip.org/#narrow/stream/6-frontend/topic/unacknowledged.20messages/near/1234756 for more context.

For users on a slow connection, we want to make it a bit more obvious that their locally echoed messages haven't actually hit the server yet.  This is for a few reasons:

* you can be confused about why others are "ignoring" your message
* you can confuse others if you're sporadical

[2021-07-20 16:16] JacquesCarette opened #19329 "Desktop version always automatically marks 1 message as read, in all organizations"
Whenever I start up the desktop version (on Windows), it always marks 1 message as read in all organizations. This is especially disconcerting when there is only a single unread message, as this means that a '1' flashes briefly on the icon, then disappears. I have to remember where I saw those '1' flash to go and read them all.

Shouldn't messages be marked as read only if they actually show up on

[2021-07-20 19:13] manavdesai27 commented on #19306
This issue has been solved with pull request #19314  which has been merged.

[2021-07-20 19:13] #19306 closed

[2021-07-20 19:23] manavdesai27 commented on #17307
@zulipbot claim

[2021-07-20 19:25] manavdesai27 commented on #15331
@zulipbot claim

[2021-07-20 19:47] manavdesai27 commented on #15331
@chdinesh1089 Do you need mock.path to be replaced with assertLogs in all the test files?

[2021-07-20 20:57] alexmv commented on #18752
I'm on the fence about defaulting to the system CA bundle -- `requests` includes its own CA bundle (by way of the `certifi` package) intentionally, as often system CA stores are in unusual places, or are infrequently updated.

But since we mostly control the OS, we know where the CA bundles live, and we can somewhat ensure that they're up-to-date using apt.  But I also don't see much advantage to

[2021-07-20 22:37] alya opened #19332 "Fix alignment of fields on sponsorship form"
Fields on the sponsorship application form (/upgrade/#sponsorship) are misaligned on the right:

<img width="872" alt="Screen-Shot-2021-07-19-at-10 53 02-AM" src="https://user-images.githubusercontent.com/2090066/126404153-8762bd9f-d435-4140-826f-f86a5fed0e43.png">

The larger margin looks better, so we should align to the first field.

[2021-07-20 23:41] phalexo opened #19333 "Outgoing integration bots"
Are outgoing bots possible? If so, could someone point me to any example code?

Thank you.

[2021-07-21 05:20] hackerkid commented on #19241
My guess is also that this has something to do with them using an incorrect token. More details from @Vooply would definitely be helpful to make sure that this is indeed the case.

[2021-07-21 05:33] ganpa3 commented on #19290
@timabbott #19334

[2021-07-21 09:02] sahil839 commented on #19332
@zulipbot claim

[2021-07-21 09:08] manavdesai27 commented on #15331
@chdinesh1089 Can you help me out here? I just need a start.

[2021-07-21 09:54] manavdesai27 commented on #15331
@zulipbot abandon

[2021-07-21 11:55] chdinesh1089 commented on #15331
@manavdesai27 sorry about the delay. Yes, we want to replace logging mocks(which are done with `mock.patch`) with `assertLogs`. There are only a few as @m-e-l-u-h-a-n [said above](https://github.com/zulip/zulip/issues/15331#issuecomment-862088818).

[2021-07-21 13:35] iammattmartin commented on #16808
I can't see one but this certainly has interest on my end too.

[2021-07-21 14:27] m-e-l-u-h-a-n commented on #18944
I got bit busy with other issues. Working on it.
@zulipbot claim

[2021-07-21 15:58] #19332 closed

[2021-07-21 17:59] chdinesh1089 commented on #19146
This was fixed in #19305

[2021-07-21 18:05] manavdesai27 commented on #17419
@WesleyAC Is this issue fixed? If not can you update me what you have thought for solving this issue?

[2021-07-21 18:34] alya commented on #19332
Thanks!

On Wed, Jul 21, 2021 at 8:58 AM Tim Abbott ***@***.***> wrote:

[2021-07-21 19:05] manavdesai27 commented on #19261
@zulipbot claim

[2021-07-21 19:06] manavdesai27 commented on #19261
@akshatdalton can you help me out by pointing out where are the css files for day and night modes? Are the in different folders?

[2021-07-21 19:22] timabbott commented on #17419
The bug is not fixed.  See https://zulip.readthedocs.io/en/latest/subsystems/markdown.html for documentation/background.

While this is a fine first issue in not requiring a lot of deep Zulip background, it does require being able to do one's own homework and debugging using that sort of technical resource.  E.g. the first question I'd ask is at what step is the whitespace being dropped.

I'd appr

[2021-07-22 01:57] chrisbobbe opened #19347 "Don't expose `/server_settings` for deactivated Zulip Cloud realms."
Tim [said](https://chat.zulip.org/#narrow/stream/378-api-design/topic/How.20to.20know.20if.20realm.20deactivated/near/1236122):

Related: https://github.com/zulip/zulip-mobile/issues/4918

[2021-07-22 05:02] #19290 closed

[2021-07-22 05:42] alya commented on #19291
When we build the admin version of this, I wonder if we should also add a user-side "subscribe to all public streams" option.

[2021-07-22 05:46] Pulkit007 commented on #17842
@zulipbot claim

[2021-07-22 05:57] alya opened #19349 "Section links on case studies landing pages are broken"
The section headings on the case studies landing pages (e.g. https://zulip.com/case-studies/tum/) look like they should have links, but nothing happens when you click on them. It's actually worse than if the headings were plain text, as it also makes it difficult (impossible?) to even copy-paste the heading.

[2021-07-22 06:27] manavdesai27 commented on #19153
@Signior-X can you help me reproduce the issue?

[2021-07-22 07:42] awunder commented on #9081
@t-vi am also very interested in this.. would appreciate your patch!

[2021-07-22 08:34] t-vi commented on #9081
Separating these out of my local tree is on my list, but there is just so much to do (e.g. this week, most of my "things I want to contribute" time went into a PR for scipy from https://arxiv.org/abs/2102.08037 , I hope the time lag will be less than half a year).

[2021-07-22 09:30] manavdesai27 commented on #19153
@zulipbot claim

[2021-07-22 09:51] awunder commented on #9081
firends of mine usually respond to those things with: "Ach komm! Der Tag hat 24 Stunden.. und dann kommt noch die Nacht dazu" ;)

thanks @t-vi , looking forward to it

[2021-07-22 11:12] manavdesai27 commented on #19349
@alya Do you wish the heading were plain text instead?

[2021-07-22 11:50] amanagr commented on #19349
Oh! This looks a very different issue than what I had imagined. @eeshangarg this may easy for you to fix since you wrote some of the code as per git blame in templates.py.

[2021-07-22 12:33] StrikerTwo commented on #10970
I would be happy with a simple "hide the user list from guest users" quick-and-dirty solution, even if they could technically continue to get that information or send private messages by API.

[2021-07-22 15:38] manavdesai27 commented on #19153
As zulipbot only allows us to work on one issue at a time. So, I am just stating here that I am working on this issue and will soon issue a PR.

[2021-07-22 15:57] #19146 closed

[2021-07-22 15:59] garg3133 opened #19353 "Few bugs reported in compose-box"
This issue enlists a few random bugs reported in the compose-box.

- [ ] The empty space below the compose-box reduces after expanding it.
  Before expanding:
  ![Screenshot from 2021-07-22 21-15-16](https://user-images.githubusercontent.com/39924567/126668525-6ba2c4bc-b696-444c-ae6e-966da22971b9.png)

  After expanding:
  ![Screenshot from 2021-07-22 21-15-30](https://user-images.githubuserconten

[2021-07-22 16:08] ligmitz commented on #19347
Working on this!

[2021-07-22 16:53] jamesmunns commented on #16160
I just wanted to point out that we've used Zulip for a couple of years now, and had no idea "silent mentions" existed until someone (who used Zulip with the Rust project) pointed it out to us, and we immediately wanted the behavior described by @munircontractor for the same reasons (polite pings after-hours or when folks are on vacation).

[2021-07-22 16:54] ganpa3 opened #19355 "Settings navigation keyboard shortcuts don't always work."
Works:
1. Press `g` (keyboard shortcut to launch menu)
2. Go to "Organization settings".
3. Press "Up" and "Down" arrow keys.

Doesn't work:
1. Press `g` (keyboard shortcut to launch menu)
2. Go to "Personal settings".
3. Press "Up" and "Down" arrow keys.

For some reason, the settings section doesn't get focused, even though we manually trigger focus for it
https://github.com/zulip/zulip/blob/742

[2021-07-22 17:07] eeshangarg commented on #19349
@alya @amanagr This is much larger issue, the section links are broken on pages other than case studies as well, such as "Why Zulip"

[2021-07-22 17:19] alya commented on #19349
@Eeshan Garg ***@***.***> Are you debugging it, or do you need help?

On Thu, Jul 22, 2021 at 10:07 AM Eeshan Garg ***@***.***>
wrote:

[2021-07-22 17:21] eeshangarg commented on #19349
@alya: Submitted a PR right now :)

[2021-07-22 17:25] alya commented on #19349
Sweet, thanks!

On Thu, Jul 22, 2021 at 10:21 AM Eeshan Garg ***@***.***>
wrote:

[2021-07-22 17:39] intelligentops commented on #19304
Hey @timabbott,

thanks for your response and sorry for late reply.

I've checked the setting - it doesn't have any scheme, just a host
[code]

I added 'https://' but it didn't help. I'll share the solution if I find what the problem is.

[2021-07-22 17:47] timabbott commented on #19304
@intelligentops check `EXTERNAL_URI_SCHEME`.

[2021-07-22 19:13] mateuszmandera commented on #19304
Hmm, I don't have a solution, but could this be somewhat similar to https://github.com/zulip/zulip/issues/18659? Basically, the code seeing requests as coming at `http` due to the reverse proxy setup?

[2021-07-22 19:51] #19243 closed

[2021-07-22 20:11] intelligentops commented on #19304
@timabbott set `EXTERNAL_URI_SCHEME` to 'https://' but it didn't help

@mateuszmandera my authn/authz flow goes well without any error messages in logs. The Zulip server endpoint `/saml/metadata.xml` shows http so I think the reverse proxy setup do not interfere

[2021-07-22 20:26] nooblag opened #19359 "Markdown headings not represented"
Referencing [discussion at CZO](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Markdown.20headings.20not.20represented) where markdown headings are all styled the same in Zulip CSS.

It's been suggested to edit `static/styles/rendered_markdown.css` to fix this.

[2021-07-22 20:42] akshatdalton commented on #17419
I have debugged this, and I can say that problem is not with the markdown.
When I printed the value of `oldval` in: https://github.com/zulip/zulip/blob/9fe61944e9b10d1e2d70bfb7bb62e99ea3f1787d/static/js/compose_state.js#L21-L33
The content itself was not intended properly.
[code]

[2021-07-22 20:59] timabbott commented on #17419
Is it possible that what's going on is that the original content contained tab characters, not space characters, and we aren't converting the tab characters into some fixed number of spaces, so we instead get the default HTML behavior of any whitespace being treated as one space?  Haven't investigate at all, beyond recalling that I'm pretty sure the `time` command generates tab characters.

[2021-07-22 21:19] timabbott commented on #19304
Did you restart the server after changing that property?  I'm pretty sure one needs a server restart for those changes to take effect.

[2021-07-22 21:25] riteshsoni123 commented on #17571
@zulipbot claim

[2021-07-22 21:25] #19249 closed

[2021-07-22 21:27] showell opened #19360 "Add option to bulk-delete drafts."
It's pretty easy to accumulate a bunch of "drafts" in Zulip that are just quickly abandoned messages that you never intend to send.

We should have a big-hammer option to delete all drafts that's in a popup menu next to the "Drafts" link in the top left corner.

And then once you go into the drafts modal (or possibly the center pane UI, if we move to that), then we should be able to quickly delete

[2021-07-22 21:29] showell commented on #19360
See https://chat.zulip.org/#narrow/stream/137-feedback/topic/drafts.20popup.20scrollbar/near/1225270 for more context.

[2021-07-22 21:29] timabbott commented on #19355
The likely causes of this sort of thing are triggering that focus element before the element it's focusing is rendered, or having some other code that triggers a focus element just after.

Generally this is the kind of thing I've had best luck debugging with print statements to figure out things like whether the `trigger` resulted in focus being gained, or whether it loses it, etc.

We have a rela

[2021-07-22 21:34] timabbott commented on #16160
Thanks for the feedback!  FWIW, silent mentions have been documented since they were first introduced a couple years ago, but it's very possible that they were added after you started using Zulip, and my experience is folks tend to do a lot less feature discovery once they're using a tool.  (And we have a good way to market new features to existing users, since we don't like spamming folks and hav

[2021-07-22 22:32] timabbott commented on #19333
@phalexo yes, see for example https://zulip.com/api/outgoing-webhooks.

[2021-07-22 22:32] #19333 closed

[2021-07-23 00:29] andersk commented on #17419
There was not a question of whether the `time` command generates tab characters. The bug being reported is that we *do* incorrectly convert these tabs to spaces.

[2021-07-23 00:59] timabbott commented on #19329
@JacquesCarette thanks for the report!

They should absolutely only be marked as read when appearing in an actual view.

Can you check whether this happens for you in the Zulip webapp as well, or only in the desktop app?

[2021-07-23 01:01] timabbott commented on #19329
I just tried reproducing this several times in a development environment, and no messages were marked as read.  I'd very much like to debug this, since it's a bad failure mode that should never happen, but we need more details to figure out why you're seeing this.

[2021-07-23 01:02] timabbott commented on #15331
It would be super nice to finish off those last few and close this out, not least of which because this issue has a bunch of cruft on it (100+ comments, etc.) that make it not super great for new folks to work on.  @chdinesh1089 @m-e-l-u-h-a-n would either of you be up for finishing this?

[2021-07-23 01:16] JacquesCarette commented on #19329
Yes will do, tomorrow morning. I don't use Zulip on this laptop, so it wouldn't be a fair test.

[2021-07-23 02:44] vanclute commented on #19291
That actually seems like a really reasonable thing to me.  In our case I don't think any of our members have even discovered that they can unsubscribe from streams, but in case they ever do and want to just get back in all of them, I think this would be helpful.

[2021-07-23 02:52] iammattmartin opened #19361 "YouTube link generated title incorrect"
When pasting a YouTube link, instead of storing the first title it sees (or other meta data), it is following a privacy redirect.

For example, go to https://www.youtube.com/watch?v=LKpufDpQgZM in a private browsing window, you'll see a YouTube privacy notice.

Zulip appears to follow the redirect and store this pages title and as Zulip can't accept the privacy/cookie, it'll always be the name for

[2021-07-23 03:16] ElliotSilver opened #19362 "Search does not work correctly on link text"
I have a stream that includes notices from our continuous integration build. Two sample messages are below, along with their markdown. When I search for "pixm", a match is only shown against the second line of the first message; the occurrences of "pixm" in the first line of both messages are not found (nor is the occurrence of pixm in any of the urls). However, searching for "published" finds the

[2021-07-23 04:59] chdinesh1089 commented on #15331
I’ll do it.

[2021-07-23 09:28] intelligentops commented on #19304
@timabbott yes, did that via `scripts/restart-server`. It had an effect but didn't solve the issue with SSO

[2021-07-23 12:07] JacquesCarette commented on #19329
I've verified it. When I logged in via the webapp, I had 2 unread in 'agda.zulipchat.com' (I'll give the short names from now on). Then I used the desktop app, which immediately marked one of the messages as read (a little eagerly) then correctly the next one as I navigated.

Once in the desktop app, I could see that categorytheory had 7 unread but, even though it wasn't in focus at all (I was on

[2021-07-23 12:48] Holzhaus commented on #5200
Unfortunately, the stream description only supports a single line, so jo markdown tables are supported or something like that.

[2021-07-23 16:21] MC-Terrence commented on #19044
@zulipbot  claim

[2021-07-23 17:30] #19349 closed

[2021-07-23 18:26] #17743 closed

[2021-07-23 18:31] manavdesai27 commented on #19153
Initially, I decided to use `.alert p` to make such changes. But I understand that way too broad as it would be making unpredictable changes. I would like some suggestions.

[2021-07-23 18:35] manavdesai27 commented on #19153
@zulipbot add "help wanted"

[2021-07-23 18:38] timabbott commented on #19329
Interesting; for me, on Linux, I get 61 every time in my test environment.  I suppose it's possible that the platform could matter, since it is structurally some sort of focus issue.  Let me see if anyone can reproduce.

@WesleyAC FYI since this sounds a lot like https://github.com/zulip/zulip/issues/16986 ; were you by any chance using the desktop app at the time.

[2021-07-23 18:41] timabbott opened #19369 "Add "Copy code" / download buttons to API documentation"
It'd be really handy to have a button to copy the code from code blocks present in our API documentation.

The Stripe API documentation is a good reference for a nice implementation of this, as is our in-app code block UI.

@sumanthvrao this might be a good mini project for you, since you added this exact feature for our code blocks in Zulip messages.

[2021-07-23 19:02] manavdesai27 commented on #17838
@zulipbot claim

[2021-07-23 19:26] MC-Terrence commented on #19044
@zulipbot abandon
Because issue is resolved and awaiting input from @timabbott  #19076

[2021-07-23 19:49] timabbott commented on #19261
Fixed in https://github.com/zulip/zulip/pull/19342.  Thanks @manavdesai27!

Next time you can include a `Fixes:` note in the commit message to auto-close the issue when a PR is merged.

[2021-07-23 19:49] #19261 closed

[2021-07-23 21:20] gnprice opened #19371 "Add emoji from Unicode 7, 8, 9, 10, 11, 12, and 13"
Chat thread:
https://chat.zulip.org/#narrow/stream/2-general/topic/emoji.20version.3F/near/1200650

Our emoji list dates to Unicode 6, so it's missing a number of years' worth of new emoji. Among them are :tooth: and :exploding_head:. We should add newer emoji.

We should generally do this without trying to make up our own names for the emoji. The task of doing that adds a lot of stop energy to up

[2021-07-23 21:58] timabbott commented on #19371
I think @akshatdalton is working on this; correct me if I'm wrong.

[2021-07-23 23:08] timabbott commented on #19304
Can you stop by chat.zulip.org?  I think this will be easier debugged interactively with @mateuszmandera there.

[2021-07-24 00:04] akshatdalton commented on #19371
No, I am working on fixing the unicode emoji with the ZWJ sequence (https://github.com/zulip/zulip/issues/11767).

[2021-07-24 09:18] ganpa3 commented on #18631
@timabbott #19375

[2021-07-24 16:52] #18631 closed

[2021-07-25 11:20] riteshsoni123 commented on #17248
@zulipbot claim

[2021-07-25 13:04] kdsanskar07 commented on #18960
@WesleyAC @timabbott can I work on this issue if it's not already fixed

[2021-07-25 13:04] kdsanskar07 commented on #18960
@zulipbot claim

[2021-07-25 13:55] kdsanskar07 commented on #18723
@zulipbot claim

[2021-07-25 21:09] SaschaMann commented on #18751
I really like this feature, it's really useful for Q&A-style streams :)

It might be nice to have an option to disable this on a per-stream basis with an org-wide default. It doesn't make sense in all streams and may even cause needless confusion in some cases (happy to link to/show an example via DM if you want).

[2021-07-26 05:34] timabbott commented on #18751
Yeah, I expect we'll want to add something like that probably in the form of a "Who can resolve topics" setting, with one option being nobody, since I expect there will also be demand for limiting who has access to do it.

[2021-07-26 18:50] chdinesh1089 commented on #15331
Opened #19392

[2021-07-26 21:46] #15331 closed

[2021-07-26 23:58] alya opened #19396 "Add muted streams section to left sidebar"
At present, muting a stream does not change its position in the left sidebar. This is not ideal, as the user is much less likely to need to interact with their muted streams than with other active streams they are subscribed to. It would be best to use prime vertical space for streams that are not muted.

To address this, we should do the following:

1. Create a new section in the left sidebar for

[2021-07-27 00:41] timabbott opened #19397 "Extend and document logout_all_users management command"
We currently don't have a documented/recommended option if a system administrator wants to logout all users.

The undocumented `./manage.py logout_all_users` management command will delete all browser sessions, but doesn't do anything with API keys (which it should probably do by default, with an option to skip).

See https://chat.zulip.org/#narrow/stream/9-issues/topic/force.20logout/near/1235628

[2021-07-27 05:02] gnprice commented on #19371
Thanks @akshatdalton!

This issue and #11767 make sense for the same person to work on both of, because they're both about our emoji subsystem. But I want to mention explicitly here that they're independent tasks -- neither one should block on the other.

For example, :tooth: and :exploding_head: which I mention above aren't affected by #11767 because they aren't (nontrivial) emoji sequences; they

[2021-07-27 05:03] gnprice commented on #992
Related chat thread (from 2018): https://chat.zulip.org/#narrow/stream/2-general/topic/emoji.20skin.20tone.20issue/near/612035

[2021-07-27 05:13] gnprice opened #19398 "Missing emoji glyphs come out as C-in-circle"
Spotted by @WesleyAC [here](https://chat.zulip.org/#narrow/stream/2-general/topic/emoji.20version.3F/near/1227342) when looking at #19371, and encountered again by @akshatdalton in #19386.

If we try to show an emoji and it doesn't have a glyph in the user's chosen emojiset, we end up just showing the emoji that happens to be at the top left of the spritesheet, which is a blue C-in-circle ![image]

[2021-07-27 19:47] alexmv opened #19405 "Links to https://dropbox.com/sh/example/thing in stream descriptions fail to save"
The new call to `is_static_or_current_realm_url` assumes that `self.md.zulip_realm` is defined:
https://github.com/zulip/zulip/blob/ec99c1b58dc319fa3eaeaa883f6e18ed1add425c/zerver/lib/markdown/__init__.py#L584

This is not set for markdown descriptions of streams.  As such, putting a URL of https://www.dropbox.com/sh/something/here into a stream description causes the description to fail to save,

[2021-07-27 19:54] timabbott commented on #19405
Do we need to do 1 if we ensure that all callers pass a realm?  I'm not sure that we actually have a use case for markdown rendering outside the context of a realm, except perhaps in some sloppy tests.

(We should make sure we check `realm_description` as well for the same bug)

[2021-07-27 20:05] alexmv commented on #19405
1 isn't necessary if we actually cover all callsites, no.

I'm a little surprised that mypy didn't catch the Optional violation.  If we remove the Optionality of realms of the markdown renderer, that might catch other callsites.

[2021-07-27 20:59] andersk commented on #19405
Mypy didn’t catch this because the `types-markdown` stubs just say `md: Any`.

[2021-07-27 22:20] alya commented on #9081
Related thread on CZO: https://chat.zulip.org/#narrow/stream/137-feedback/topic/Streaming.20support.20for.20MP4.20files.3F

[2021-07-27 22:29] alya commented on #18549
Another related CZO thread: https://chat.zulip.org/#narrow/stream/137-feedback/topic/give.20topics.20space

[2021-07-27 22:31] alexmv commented on #19405
Ah, OK.  And, in fact, it'd probably be an error to reference `md.zulip_realm` because there's no way to know that's a `zerver.lib.markdown.Markdown` not a `markdown.Markdown`.

[2021-07-27 22:38] alya commented on #18549
As noted in the above thread, in the Recent Topics stream view, we will probably have no need to show topics in the left sidebar. We should try it out to validate the UX.

[2021-07-28 06:12] Piermaz38 opened #19410 "Ping Messages Request"
I suggest a request to have the possbility to pinned selected messages.
Thanks

[2021-07-28 09:18] jhpratt opened #19412 "Provide a `.rpm` file for Fedora"
Would it be possible to provide a `.rpm` file for Fedora and possibly publish to the relevant repository? Having a `.appimage` works, but it's not ideal for those of us that prefer to have things fully installed; while AppImageLauncher works, it feels like quite the hack. I have tried the snap installation but it freezes and crashes constantly. The only alternative is to use Zulip on the web, whic

[2021-07-28 17:15] timabbott opened #19417 "Keyboard focus is not set properly when opening "set user status" modal"
When you open the "Set user status" modal, the keyboard focus should be being set to the text box so that you can type your status immediately.  We have code to do this:
[code]

But it doesn't work, at least in Chrome on Linux; we should debug.

[2021-07-28 17:55] timabbott commented on #19410
@Piermaz38 can you talk more about what you mean?  There's surely an open issue for this, but I'd like to match your request to the right one.

[2021-07-28 18:25] Piermaz38 commented on #19410
Sorry I'm not speaking perferctly english.
I can illustrate what I mean by this screan shot of discord.
You can pin message to hilight some importantes messages on different channels.
![1611783354_852_Comment-epingler-un-message-dans-Discord](https://user-images.githubusercontent.com/88075904/127375895-68a05f80-0592-4cfd-a993-05883ac7f3de.jpg)

[2021-07-28 18:31] timabbott commented on #17137
It is!  It looks like we failed to link the PR, but we just merged https://github.com/zulip/zulip/pull/18955, which fully implements this feature idea for the web app.  (There's a follow-up issue to add this for the mobile app as well: https://github.com/zulip/zulip-mobile/issues/4925).

Thanks everyone!  I'm really excited that this is finally implemented.

[2021-07-28 18:31] #17137 closed

[2021-07-28 18:31] timabbott commented on #15682
I'm closing this, since we've implemented the emoji-style design used in Slack in https://github.com/zulip/zulip/pull/18955, and feedback on showing the status text itself in the right sidebar was that it was really ugly (It's available on hover).

Thanks everyone for all the feedback; this will be one of the highlight features of Zulip 5.0.

[2021-07-28 18:31] #15682 closed

[2021-07-28 18:33] timabbott commented on #18106
Closing due to lack of feedback explaining the problem, which we cannot reproduce.

[2021-07-28 18:33] #18106 closed

[2021-07-28 18:44] timabbott commented on #12207
It looks like the Jitsi API supports creating such a meeting by putting extra content in the video call URL:
https://community.jitsi.org/t/disable-particpants-video-by-default/74177/2

So the main challenge here is figuring out a UI for making these.  Probably the cleanest option is to just provide a phone call button next to the video call button that uses this: https://fontawesome.com/v4.7/icon/

[2021-07-28 21:08] garg3133 commented on #18692
@zulipbot remove "in progress"

[2021-07-28 22:54] timabbott commented on #5296
We have a preliminary import tool integrated as https://github.com/zulip/zulip/pull/18966.  Huge thanks to @garg3133 for making this happen.

It is not yet ready for production use, in that there's a bunch of data that it doesn't support yet that we expect to add in the next few weeks, so I'm leaving this issue open for now, but it should be possible to test, QA, and report bugs.

[2021-07-29 00:27] timabbott opened #19424 "API documentation doesn't display documentation for drafts parameters usefully"
Following #18074, we have API documentation for the new drafts synchronization endpoints.  However, while the `GET` endpoint renders the detailed documentation about individual fields within a `draft` object, the other endpoints do not, e.g.:

![image](https://user-images.githubusercontent.com/2746074/127413043-641fc8ec-0519-4a8a-9040-ab24fec2fa7e.png)

[2021-07-29 08:54] ali-yahyaoui opened #19427 "Certificate error"
This pop-up is shown when opening some streams on Zulip.
![image](https://user-images.githubusercontent.com/60253677/127462272-cbf3e02e-a3cb-4a10-84fc-6effb6f63346.png)

[2021-07-29 12:23] suryakantpandey commented on #18286
@zulipbot claim

[2021-07-29 18:26] #19417 closed

[2021-07-29 18:52] timabbott commented on #19079
@MSurfer20 do you want to add this, now that #19403 is merged?  It seems like it should be pretty quick given what we already have.

I guess one note is that we probably want to write `/users/{user_id}/status` as the endpoint; it'd be reasonable to have a `/users/me/status` alias, but the general endpoint makes more sense, since users have read access to others' statuses.

[2021-07-29 19:02] alya opened #19434 "Create "support" stream type with topic-specific permissions"
In a support context, it would be very useful to have special permissions for users who are asking for support, which we do not have an option for today. Some organizations may also want this for Q&A streams. We should implement support streams with the following permissions structure:

1. There's a stream-specific setting for what types of users should have restricted permissions in the stream (p

[2021-07-29 19:42] ericluoliu commented on #19260
@zulipbot claim

[2021-07-29 20:21] alya opened #19435 "Fix unexpected search behaviors"
There are several search behaviors that are either bugs or bad UX, which we should fix:

- [x] At present, auto-complete for filters does not work if there is a keyword or another search filter already present. This is a common problem, e.g. if one first comes up with a search query and then decides to add a filter (e.g. from:me), and a really bad user experience. The user must move their cursor b

[2021-07-29 21:12] MSurfer20 commented on #19079
@zulipbot claim

[2021-07-30 02:08] chrisbobbe commented on #11214
I think this can go ahead. Sorry for the delay in investigating!

See [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/client_gravatar/near/1240918), where I reported that mobile should handle it fine at least as far back as v13.1.85. That would have been [released](https://github.com/zulip/zulip-mobile/releases?after=18.0.99) sometime between April and June of 2018.

[2021-07-30 06:00] m-e-l-u-h-a-n commented on #19165
I think #19330 fixed point 1 and 2. I'll open a PR for to fix third point in this issue.

[2021-07-30 06:00] PikachuEXE commented on #16444
Is there anything can be done to speedup the fix of this issue / merge of related PR(s) like #12979

[2021-07-30 12:42] raghupalash commented on #19058
@zulipbot claim

[2021-07-30 16:57] takluyver commented on #11348
The nginx configuration included with Zulip appears to specifically block putting Zulip in an iframe, as a defense against clickjacking attacks:

https://github.com/zulip/zulip/blob/12a439b8bd4f5c8f6c54dcb926e48d4d71d81792/puppet/zulip/files/nginx/zulip-include-common/headers#L4-L5

If you want to open up that possibility for specific sites, it looks like you need the newer equivalent of that head

[2021-07-30 16:59] timabbott commented on #11214
@ligmitz do you want to execute this API migration?

[2021-07-30 19:49] timabbott commented on #18847
This was fixed in #19225, which is in the 4.5 release.

[2021-07-30 19:49] #18847 closed

[2021-07-30 20:11] alya opened #19447 "Expanded PMs in left sidebar"
At present, PMs are hidden in the left sidebar until the user clicks on them. This adds an extra click for the common action of viewing one's PMs, and makes PMs harder to discover for new users.  See also #11108.

Instead, we should add a "Private messages" section above "Streams" in the left sidebar.

- The section should be always open showing the top few PM threads (e.g. we can try 5 and see ho

[2021-07-30 20:12] ericluoliu commented on #19260
Back-end checks expect only 1 event in the do_change_stream_description function. After adding internal_send_stream_message, there are two events. Thus, I am getting CI failure running SubscribeActionTest.test_subscribe_events. When making my changes, I followed the code in function do_rename_stream, which also has 2 events. However, do_rename_stream is not tested using method verify_action. Not s

[2021-07-30 21:19] timabbott commented on #19447
I think this is pretty important; @m-e-l-u-h-a-n do you want to take this up?  Obviously the numbers like 5 above would be parameters; the idea would be to make "PRIVATE MESSAGES" be a label like "STREAMS", appearing above it in the left sidebar, and with the same UX as an expanded stream area.

We can likely borrow ideas from `topic_zoom.js/topic_list.js`; I'm not sure to what extend it'll be wor

[2021-07-30 23:37] timabbott commented on #12565
It is possible that this bug has become less significant for us with the Django 3 upgrade, since it appears that now only `webpack` is generating a lot of file watches in a Zulip development environment.

So it may be that there's a better fix for us that involves reconfiguring webpack to not watch `node_modules`, or similar.

[2021-07-30 23:55] alya opened #19449 "Add PMs to Recent Topics"
At present, the Recent Topics does not display private messages. This means it can't be used as an all-encompassing overview of everything that's happening for a user.

We should add private messages to Recent Topics, with filter settings to show private messages or not, and to show stream messages or not. The filters are necessary, as some users prefer not to see PMs in Recent Topics. Blocker: fi

[2021-08-01 09:43] abhijeetbodas2001 opened #19451 "Re-check user settings before sending notifications."
After #19246, we no longer have checks in email/push notification handlers for user settings as we did before. This is important especially for email notifications, which may be sent a long time after the message was sent, and there's a chance the user modified their notification settings in the meantime.

A PR fixing this issue should share/extract as much code as possible with/from the `get_reci

[2021-08-01 09:44] abhijeetbodas2001 commented on #19451
@zulipbot add "settings: notifications (messages)"

[2021-08-01 09:45] abhijeetbodas2001 commented on #19451
@zulipbot add "area: notifications (messages)"

[2021-08-01 09:46] abhijeetbodas2001 commented on #19451
@zulipbot claim

[2021-08-01 09:46] abhijeetbodas2001 commented on #19451
@timabbott Should we add these check for just the email code or the push notifications code too?

[2021-08-01 13:04] ganpa3 commented on #19205
@zulipbot claim

[2021-08-01 21:31] timabbott commented on #19451
I think it makes sense to do this in both code paths, for consistency.  Even without the explicit delay we have with email notifications, push notifications can still be delayed up to 10 minutes given the queue garbage-collection code path, so if we think it's correct to recheck settings, we should do it for both.

[2021-08-02 05:24] panomitrius commented on #17012
I think this would still be a good idea to implement :)

[2021-08-02 10:20] andreasoc commented on #17137
thanks!

[2021-08-02 10:21] andreasoc commented on #19449
good idea

[2021-08-02 14:32] dransome commented on #11152
We noticed that the lack of this feature has the effect of accidentally "speaking" over the top of our colleagues - since we didn't know that they were still "talking".

This feature, or another way to know that someone has ended their current/immediate thread contribution (analogous to stopping talking and ceding the floor to another participant in a voice or real-world conversation) would really

[2021-08-02 14:40] timabbott opened #19458 "Keyboard focus doesn't work properly after navigating to a view with Enter in recent topics"
If you're in the "Recent topics" view, arrow around to a topic and then hit `Enter` twice, the first `Enter` takes you to the narrow, and then you'd expect the second `Enter` to open the compose box.

However, we have some reports that this doesn't work sometimes; we need to investigate further, get a reliably reproducer, and then fix it.

[2021-08-02 18:41] Lawful2002 commented on #15948
@zulipbot claim

[2021-08-02 20:54] #19198 closed

[2021-08-02 22:52] alya opened #19465 "Show link previews in message preview"
At present, message previews do not show link previews. This gives an inaccurate view of the message in organizations that have [link previews enabled](https://zulip.com/help/allow-image-link-previews).

Message previews should show link previews when the organization has link previews turned on.

[2021-08-02 23:00] alya opened #19466 "Allow link previews to be removed from a message"
Fairly often, link previews are not helpful, and simply clutter the message view. Anyone with permissions to edit the content of a message should therefore be able to remove link previews from the message, for all users viewing it. The sender could thus decide whether or not to include the link preview in a message they send.

This can be implemented with an `x` shown to the left of the link previ

[2021-08-03 02:01] alexmv opened #19468 "`delete_realm` deletes users before flushing, causing `delete_user_profile_caches` to do nothing"
`manage.py delete_realm` calls `realm.delete()`, which deletes all of the UserProfile objects.  As a post_delete handler, we call `flush_realm`:
https://github.com/zulip/zulip/blob/6a3e98d14bab04fc06ce6b9c9ccfbd69b6030a83/zerver/models.py#L852-L859

But by then, there are no UserProfile objects, which means that `delete_user_profile_caches` doesn't find get users to delete the caches of:
https://g

[2021-08-03 06:17] #19205 closed

[2021-08-03 06:41] aryanshridhar commented on #19458
I can reproduce this. Browser - Mozilla FF v90.0 (64-bit).

[2021-08-03 14:01] JonathanReeve opened #19477 "/messages returns empty, on default narrow for bot with no message history"
I'm trying to query the API for my organization, using Python's `requests`:

[code]

What I get is:

[code]

I can successfully query the API for other things, like a list of streams or users, but I can't seem to get any messages at all. I've tried `"anchor": 0`, `"anchor": 246639945` (a message ID), `"anchor": "newest"`, and `"anchor": "oldest"`. In all cases it says `found_anchor: False`, and re

[2021-08-03 17:47] alya commented on #19466
Related PRs: #12816 and #16231

[2021-08-03 17:47] alya commented on #19465
Related PRs: #12816 and #16231

[2021-08-03 20:22] timabbott commented on #19477
@JonathanReeve thanks for the report!  I think this is definitely a problem with our documentation that it doesn't explain this potential failure mode, and more likely we probably just need to change how this query behaves for bot users to do something more reasonable.

What is happening here is that you're doing this query as a bot user, and the bot user doesn't have any message history (i.e. its

[2021-08-03 21:01] timabbott opened #19483 "Add support for pinning topics within a channel"
A popular feature of alternative chat products is being able to pin messages within a stream. We closed the [original issue for this feature](https://github.com/zulip/zulip/issues/5200) when we started displaying stream descriptions at the top of stream narrows. However, that implementation doesn't cover all use cases for pinning messages, and in any case doesn't presently let you display a large

[2021-08-03 21:02] timabbott commented on #5200
We've opened https://github.com/zulip/zulip/issues/19483 with a design plan for pinning a topic within a stream, which is our current vision for how to further support this use case.

(We're also planning to make long stream descriptions a nicer experience).

[2021-08-03 21:02] timabbott commented on #19410
Understood; this is a near duplicate of https://github.com/zulip/zulip/issues/16548.  I'm closing this in favor of https://github.com/zulip/zulip/issues/19483 which has a feature we're planning that should help in this space.

[2021-08-03 21:02] #19410 closed

[2021-08-03 21:11] timabbott commented on #3157
I've opened https://github.com/zulip/zulip/issues/19483 with a specific technical plan for adding a "pinned topic within a stream" feature, which is what this old issue had imagined. Thanks for all the feedback folks!

[2021-08-03 21:12] timabbott commented on #16548
Just noting that for the global "pinned topics" concept, I've opened https://github.com/zulip/zulip/issues/19483 with a specific technical plan for adding a "pinned topic within a stream" feature. From the feedback we've gotten that's likely much more important than a "personal pin", so we should focus on making that happen and come back to thinking about this.

[2021-08-03 21:25] m-e-l-u-h-a-n commented on #19483
@zulipbot claim

[2021-08-03 23:09] #18319 closed

[2021-08-03 23:16] timabbott commented on #19251
Closing as this was fixed in https://github.com/zulip/zulip/pull/19450.  @ericluoliu if you put `Fixes: #19251` in the commit message, the issue will be automatically closed when merging your pull request.  (Since we merge by rebase, putting it in the PR description is not sufficient).

Check out the Zulip commit message guidelines for more details: https://zulip.readthedocs.io/en/latest/contribut

[2021-08-03 23:16] #19251 closed

[2021-08-03 23:18] #16793 closed

[2021-08-03 23:27] alexmv opened #19490 "Provide an internal function to deactivate multiple users more efficiently"
The `do_deactivate_user` function does what it needs to.  However, the work it does is very inefficient if it's deleting a large number of users at once, as `delete_user_sessions` walks all sessions in the database once for each user that is deactivated.

We should consider adding a function which is designed for bulk deactivation and only requires walking the Sessions table once.

On the flipside

[2021-08-03 23:49] alexmv commented on #19287
I think this is half-solved, with #19319 addressing one of the endpoints.  We still need to cover `/accounts/find/` as well, then we can resolve this.

[2021-08-04 00:48] octogonz commented on #17968
+1

As a Zulip organization admin, I spent a fair amount of carefully choosing meaningful RGB colors for our Zulip streams.

I had no idea that these colors didn't apply to other users. I just realized that everyone gets random colors! 😥

[2021-08-04 02:04] suryakantpandey commented on #18286
@zulipbot  claim

[2021-08-04 08:20] sahil839 commented on #19090
@zulipbot claim

[2021-08-04 08:38] vchrombie commented on #14558
We found a workaround for it and implemented the perceval backend for Zulip.

Now, you can extract the messages from a zulip stream using perceval. :tada:
https://github.com/vchrombie/grimoirelab-perceval-zulip

Thanks for the help, closing this issue. Please feel free to open it again if needed.

[2021-08-04 08:38] #14558 closed

[2021-08-04 11:59] hackerkid opened #19499 "Support page no longer showing success message after a change is made"
http://localhost:9991/activity/support page is no longer showing success messages it used to show when you make any changes.

`context["success_message"]` seems to be set correctly. So this is likely a CSS bug.

[2021-08-04 13:28] hackerkid commented on #19499
This seems to have been introduced in https://github.com/zulip/zulip/pull/18260

[2021-08-04 13:37] hackerkid commented on #19499
The fix should be as straightforward as removing `"./static/styles/app_components.css" from support bundle in webpack.assets.json. Though might need some proper testing on whether it didn't break anything else.

[2021-08-04 14:34] chdinesh1089 commented on #18690
Do we want this to be similar to #19462?

[2021-08-04 14:36] ganpa3 commented on #8087
This doesn't seem to be the case anymore?
On my system, an image-only message notification contains the filename which I guess is sufficient?

[2021-08-04 18:41] solarkraft commented on #7330
I think this Discord-like model would be ideal (I explicitly want communication that is channel- not call based), but unfortunately [the project in the picture depends on Lyno, which is proprietary](https://github.com/lynoapp/mattermost-plugin-lyno/discussions/7#discussioncomment-1040566) and itself based on Jitsi.

[2021-08-04 19:13] #19468 closed

[2021-08-04 19:35] alya opened #19506 "Make user's own status emoji link to status editor"
Right now, clicking on a username in the right sidebar goes to the 1:1 PM conversation with that user, including clicking on one's own name. Clicking on the status emoji does the same thing.

We should make clicking on one's own status emoji instead link to the status editing popover. It would be very intuitive, and would provide a handy way to change one's status with fewer clicks.

[2021-08-04 19:57] timabbott commented on #8087
I can still reproduce this when sending `[](image_url)` as the message content.

[2021-08-04 19:57] timabbott commented on #19506
This would be a nice touch!

[2021-08-05 00:07] alya opened #19507 "Disable “Add” button in Streams > Subscribers menu when input field is empty."
At present, trying to add an empty list of users to a stream generates a message that the action failed. This message sticks around, which can cause confusion.

<img width="534" alt="Screen Shot 2021-08-04 at 5 05 12 PM" src="https://user-images.githubusercontent.com/2090066/128270955-ab67eaca-c9b9-4ea2-8c48-9d221d047b83.png">

Rather than telling the user that the action failed, we should disable

[2021-08-05 00:11] alya opened #19508 "Clean up personal stream settings UI"
1. At present, personal stream settings are surrounded by a rectangle, creating visual clutter. This rectangle should be removed.

<img width="537" alt="Screen Shot 2021-08-04 at 5 09 10 PM" src="https://user-images.githubusercontent.com/2090066/128271209-5747df2f-7fae-49b5-b9e0-f317d27939ef.png">

2. ~~The "Personal settings" header (see above) should contain the stream name to make that context

[2021-08-05 03:47] ganpa3 commented on #19506
@zulipbot claim

[2021-08-05 05:13] DeviousLab commented on #19499
@zulipbot claim

[2021-08-05 05:19] DeviousLab commented on #19499
@hackerkid Do you happen to know where on the documentation I can find the build instructions so I can check my changes haven't broken anything?

[2021-08-05 06:24] ganpa3 commented on #19507
@zulipbot claim

[2021-08-05 08:34] dransome commented on #7330
I guess it depends on use cases within individual teams, but something that would make Zulip better than Discord for us (as Discord gradually improves their text chat to get closer to Zulip functionality) is threaded voice chat.

Imagine if you had automatically formed voice channels for each Zulip text stream **topic**, but only expose them in the UI when there's at least one active voice partici

[2021-08-05 10:57] ganpa3 commented on #19506
@timabbott #19515

[2021-08-05 12:58] hackerkid commented on #19499
@DeviousLab Appologies. I realized this is not an area that is easy to onboard new external contributors. I have created a PR for this. Anyway, this functionality resides in http://localhost:9991/activity/support in development environment and you need to be logged in as iago or any other user that have relevant permission.

[2021-08-05 14:49] sahil839 commented on #19508
@zulipbot claim

[2021-08-05 15:55] alya opened #19519 "Clean up general stream settings UI"
We should make a few changes to improve the general stream settings UI.

1. Move all the stream permissions from a pop-over into the main right-side panel.
2. Make a single "edit" (pencil icon) button that makes all the fields editable directly in the main side-panel.
3. Replace the stream email with a "Copy stream email address" button (keeping the help center link). The email itself (which is no

[2021-08-05 16:39] alya opened #19520 "Animated status emoji should animate on hover"
At present, animated status emoji are "always on", which can be distracting for users.

Instead, they should animate on hover only. That way, it's still possible to see them as they were intended without causing undue distraction.

[2021-08-05 16:40] timabbott opened #19521 "Prevent animated custom emoji from continuously animating in the right sidebar"
This is similar to https://github.com/zulip/zulip/pull/18623, but with a key distinction: Because we already process animated custom emoji in `resize_gif` in `zerver/lib/upload.py`, we have more flexibility about how to manage these than we do with linked GIFs.  Here's a specific proposal:
* We modify `resize_emoji` to return a tuple, including an `is_animated` boolean and if true, a `still_image`

[2021-08-05 16:41] timabbott commented on #19520
Closing as a duplicate of https://github.com/zulip/zulip/issues/19521.

[2021-08-05 16:41] #19520 closed

[2021-08-05 16:54] #13395 closed

[2021-08-05 17:23] JonathanReeve commented on #19477
Oh OK, thanks! Should I be using my own account, then, rather than the bot's? Also I'm trying to narrow to `streams:public` but I don't think I have the right syntax:

[code]

And that's giving me the error:

[code]

[2021-08-05 18:13] alya commented on #19124
A replicator for (1): Put in a reference to a steam, followed by `> ` (the space is important). Deleting the space removes the thin selected line.

<img width="390" alt="Screen-Shot-2021-08-02-at-10 18 16-AM" src="https://user-images.githubusercontent.com/2090066/128399733-58738868-9c17-400d-94d8-e494b0efae38.png">

(2) is probably what you see when there are no topics with a space in the name.

[2021-08-05 21:07] timabbott opened #19523 "Add support for creating temporary "demo" organizations"
Often, folks want to try out Zulip

We'd like to address this by adding support for creating a "demo org".  Here's a proposed design, each part of which is probably one commit:
* We add a new `demo_organization_scheduled_deletion_date` field on the `Realm` model that keeps track of which organizations have this property and when they will be deleted (null means not a demo organization).
* We add t

[2021-08-05 21:40] alya opened #19524 "Make stream settings right panel title larger"
The title on top of the right panel in the stream settings is quite small compared to surrounding text and easy to miss. We should make it bigger.

<img width="575" alt="Screen Shot 2021-08-05 at 2 36 17 PM" src="https://user-images.githubusercontent.com/2090066/128424685-c16d0bf3-af71-48e7-9420-fd31062058fd.png">

We should also just use the name of the stream, without the "Settings for" phrase.

[2021-08-05 22:20] timabbott opened #19525 "Make Zulip's permissions model much more flexible using groups"
Please use [this chat.zulip.org thread](https://chat.zulip.org/#narrow/stream/101-design/topic/New.20permissions.20model/near/1244561) for substantive feedback on this project/design/etc; because of all the clutter for GitHub links and the like, this page is unlikely to be a useful place for discussion).

--------------------------

This is the master issue for an extended project that we'll be do

[2021-08-05 22:25] timabbott commented on #3783
I've written up our technical plan for this area, which is now tracked at https://github.com/zulip/zulip/issues/19525.  I expect that work to be the main project for multiple core team members for the next few months; if we're lucky it'll make the 5.0 release cycle.

I think it makes sense to close this ancient given those plans, since the precise design described here is much less flexible and th

[2021-08-05 22:25] #3783 closed

[2021-08-05 22:27] timabbott commented on #13670
This issue's technical design is likely obsoleted by #19525; we should focus work in this area on the pieces of #19525 and then get back to this.

[2021-08-05 22:27] timabbott commented on #12835
This issue should be implemented after https://github.com/zulip/zulip/issues/19525, since we'll want to use the framework described there to make "who can react" a user group.

[2021-08-05 22:30] timabbott commented on #10552
The main progress on this is that we will be investing heavily in the "User groups" based permissions model described in https://github.com/zulip/zulip/issues/19525.  Part of that issue's plan includes some aspects of making a group of streams; I expect we'll do some focused design work on visual groupings of streams (or similar) once #19525 is far enough along.

[2021-08-05 22:31] timabbott commented on #4075
I expect this to be fixed in #19525.

[2021-08-05 22:32] timabbott commented on #9480
This is envisioned to be something we build as part of #19525.

[2021-08-05 22:34] timabbott commented on #9957
This is now a priority for the project, since it will be an important part of the overall vision detailed for using user groups for all permissions in Zulip detailed in #19525.

@mateuszmandera can I add this to your TODO list?

[2021-08-05 22:35] timabbott commented on #19029
I can see this being useful. It's unlikely to be worked on immediately but should be a straightforward small project once we're halfway through #19525; I'll link it there.

[2021-08-05 22:40] timabbott commented on #18491
This will likely be implemented via #19591, which envisions that using a much more flexible permissions model where one can specify arbitrary groups for a wide range of permissions settings like this.  That will be the focus of our settings work for the next few months.

[2021-08-05 22:42] timabbott commented on #15465
I think it makes sense to just change this model; made a note of that in the #19525 issue.

@MSurfer20 FYI that we should also prioritize documenting all the user group related endpoints, since they will be an important focus for us with #19525.

[2021-08-05 22:45] andersk commented on #19521
Note that animated PNGs are [also a thing](https://caniuse.com/apng).

![](https://upload.wikimedia.org/wikipedia/commons/1/14/Animated_PNG_example_bouncing_beach_ball.png)

[2021-08-05 22:49] andersk commented on #19521
And “static” is confusing; the opposite of “animated” is “still”.

[2021-08-05 22:59] timabbott opened #19526 "Rewrite user groups settings UI to work more like "Manage streams""
As part of the overall project in #19525, we need to substantially upgrade the"User groups" management UI.  Rather than something tactical like #16453, the new plan is to make a new `/#groups` overlay similar to "Manage streams", with the group names and descriptions on the left, designed in a way to support #19525, and then at some point just delete the legacy "user groups" management UI.  Here's

[2021-08-05 23:00] timabbott commented on #16453
Closing in favor of the rewrite proposed in #19526.

[2021-08-05 23:00] #16453 closed

[2021-08-05 23:02] timabbott commented on #18325
Closing since this is essentially complete and the remaining work is reimagined in #19525.

[2021-08-05 23:02] #18325 closed

[2021-08-05 23:36] timabbott commented on #19521
Yeah, "still" sounds much better.

[2021-08-05 23:43] timabbott commented on #19490
Probably the right way to do this is to rename it to `do_deactivate_users` with a loop and have existing callers pass a single user ID, and then start optimizing to use bulk queries, using profiling / query logging to figure out what we need.

[2021-08-06 00:10] timabbott opened #19528 "Create RealmAuditLog entries when modifying user groups"
The present set of UserGroup models doesn't use RealmAuditLog.

I propose we make the following changes:
* We add a `modified_user_group` field in `RealmAuditLog`, just like we have `modified_stream`.
* We modify the handful of methods in `zerver/lib/user_group.py` to create `RealmAuditLog` entries when creating/removing user groups as well as when adjusting membership of user groups.  These shoul

[2021-08-06 00:14] timabbott opened #19529 "Add infrastructure to prevent double-sending of custom emails"
The `manage.py send_custom_email` system is very useful for sending custom emails to portions of the userbase for a Zulip server.  However, one flaw in its design is that if it encounters an error that crashes the job, there isn't a convenient way to continue (without emailing users twice).  While it is possible to do so with string-parsing `/var/log/zulip/send_email.log`, it'd be much better to t

[2021-08-06 01:37] sahil839 commented on #19525
@zulipbot claim

[2021-08-06 10:17] #19287 closed

[2021-08-06 12:21] Signior-X commented on #19124
@alya for the (1) I think this is actually the intended behavior if somehow, like If I try with some other character instead of space as in this screenshot
![image](https://user-images.githubusercontent.com/56730716/128509426-a68e675f-ed41-409b-ad3f-8eec3864dbb0.png)

It shows an option for that also, so here a space ` ` is treated as a stream name.

Either we should be having some test on typeahe

[2021-08-06 12:52] Signior-X commented on #18865
@zulipbot claim

[2021-08-06 21:22] #18865 closed

[2021-08-07 14:19] #19506 closed

[2021-08-07 16:53] ganpa3 commented on #10385
@zulipbot claim

[2021-08-08 02:25] solarkraft commented on #7330
On my small team we just have a bunch of rooms, through which people move by interest (i.e. if a topic is irrelevant they just go to another channel, but never disconnect). This is probably harder the more people you have and might well be enhanced with your proposal.

On a technical level it would be close to trivial to set up such a room system with Jitsi Meet: Any room name is valid in Jitsi Me

[2021-08-08 02:31] solarkraft commented on #7330
Mumble is great (possibly more reliable due to not being p2p), but one reason against it and for Jitsi Meet is that the latter offers tons possibly desirable extras, like video (including blurred background etc) and screen sharing.

Another technical solution that is both centralized and offers video and screen sharing would be the conferencing tool BigBlueButton, perhaps that deserves a mention.

[2021-08-08 05:31] rht opened #19539 "[self-hosted] production: Clicking the "Start public export" button creates multiple /tmp/zulip-export-hash folders indefinitely."
Tested on a DO instance.
The zulip-export-hash folders are continuously generated until there is no disk space left.
The system had to be shut down to prevent it from continuing.

[code]

[2021-08-08 05:36] rht commented on #19539
More info: the "Start public export" button is clicked from zulip-desktop on macOS.
Happens on both 4.5 release and https://github.com/zulip/zulip/commit/5a4318d046e0409c4c042bc94ff606b27c99fd9b.

[2021-08-08 05:52] rht commented on #19539
Also happens when clicked from the web.

[2021-08-08 22:05] #19508 closed

[2021-08-08 23:53] #11214 closed

[2021-08-09 05:23] lzucc opened #19543 "Upload file failed with Unicode filename (zulip-4.5-0 docker image)"
When upload using unicode filename, it return "internal server error"
Traceback (most recent call last):
  File "/srv/zulip-venv-cache/cc77818846b328558cc9444c67cbbe0121ca80f4/zulip-py3-venv/lib/python3.8/site-packages/django/core/handlers/base.py", line 181, in _get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/deployments/2021-07-25-23-2

[2021-08-09 11:06] ganpa3 opened #19544 "`Stream membership` input: Selecting all text and backspacing does nothing"
**To reproduce:**
1. Go to `Settings` -> `Manage Streams`
2. Click on a stream name.
3. Go to the `Subscribers` tab.
4. In `Stream membership` input, type some text
5. Select all text (`Ctrl + A`) and hit Backspace

**Expected**
The text should be cleared.

**Actual**
Nothing happens (well, from UI perspective)

Code responsible:
https://github.com/zulip/zulip/blob/a7890f046bef8ae308f9909f0de08f2f

[2021-08-09 12:22] lzucc commented on #19543
I've solved this problem. The new docker images's LANG is empty, need to add environment settings LAN=en_US.UTF-8

[2021-08-09 13:51] ganpa3 commented on #19355
So, after some more testing, I noticed that it's random. Sometimes, "Organization settings" works, and sometimes "Personal settings" works. When one works, often the other doesn't.
Also, almost every time either works, the browser outputs `Autofocus processing was blocked because a document already has a focused element.`
(The element is always visible when the focus is triggered.)

[2021-08-09 13:55] Riken-Shah commented on #19521
@zulipbot claim

[2021-08-09 21:42] madrix01 commented on #13099
Is anyone working on this issue ? I would like to work on this

[2021-08-10 03:32] #18599 closed

[2021-08-10 05:29] madrix01 commented on #13099
@zulipbot claim

[2021-08-10 05:42] madrix01 commented on #15948
Is the "Skip navigation" link task completed ? @timabbott  @ayushgaur03

[2021-08-10 06:59] andersk commented on #9610
I opened #19548 migrating to MyST-Parser. This allows us to use GFM-style tables (and I converted the one reST table we have).

[2021-08-10 07:59] AgJinChoi opened #19549 "Registering the tighten fix of CVE-2019-19775 as CVE"
Hi, I'm working on incomplete security patch detection for OSS.

While I was looking for some cases, I found commit 319e2231b8db60100a70d8fc0fbc1e5621d8d0cb
which is the tighten fix for commit b7c87a4d82397a5e6ac169b6098bed0b1ae7a583 (fixes CVE-2019-19775).

It seems that the problem related to validation bypass occurred
due to the previous patch and has been fixed (Incomplete fix for CVE-2019-197

[2021-08-10 09:14] ayushgaur03 commented on #15948
@madrix01 I had raised a PR but it required changes which I unable to do as I don't  have a device for quite some time so you can take it up. Apologies from my end @timabbott

[2021-08-10 13:36] madrix01 commented on #15948
@zulipbot claim

[2021-08-11 04:23] andersk commented on #10853
Although there are officially-supported stubs for SQLAlchemy 1.4, they’re still in a separate package, and also we’re not on 1.4 yet.

However, this was already fixed by #16756 using the Dropbox stubs.

[2021-08-11 04:23] #10853 closed

[2021-08-11 05:40] andersk commented on #10853
Opened #19556 for moving to SQLAlchemy 1.4 with the official stubs.

[2021-08-11 07:12] catborise opened #19558 "ScheduleEmail id x has empty users and addresss attributes"
hi,
Aftere ZULIP version 4.5 upgrade...

there are some warning logs printed repeatedly

[code]
when i look to the "zerver_schedulemail" there are 5 entry whose ids like above

[code]

how can we fix this.

[2021-08-11 07:28] alexmv opened #19559 "Fenced code with no body renders as empty, causes errors in forming HTML"
A message whose body is:

[code]

...renders as an empty message:
![Screen Shot 2021-08-11 at 12 06 28 AM](https://user-images.githubusercontent.com/28347/128984747-3ba5096e-e970-449e-a5d0-af29d3b6462b.png)

This leads to rendering problems in the message list (note the timestamps):
<img width="906" alt="Screen Shot 2021-08-11 at 12 08 32 AM" src="https://user-images.githubusercontent.com/28347/12

[2021-08-11 11:45] madrix01 commented on #15948
@timabbott  @ayushgaur03  What functionalities I'm supposed to add in this ??
Please guide me this is my first issue.

[2021-08-11 12:02] asah opened #19560 "zulip-announce google group URLs broken, RSS no longer supported by Google"
Affected files:
docs/overview/release-lifecycle.md (update URL)
docs/production/settings.md (update URL)
docs/production/install.md (remove reference to RSS, which is no longer supported by Google)

The new URL should be https://groups.google.com/g/zulip-announce

[2021-08-11 16:33] mateuszmandera opened #19562 "Organization permissions: labels such as "Admins and members" incorrectly don't mention moderators"
Example:
![image](https://user-images.githubusercontent.com/45007152/129067360-d6678833-d0ec-4b98-a4d4-f5c49102e9dc.png)

This is confusing because it makes it sound like moderators are excluded, while they actually aren't (and it would be illogical if they were) - especially because we do explicitly mention them in the "Admins and moderators" group. We should update those labels to explicitly men

[2021-08-12 01:48] andersk commented on #19559
Checking for the empty string is not sufficient. There are many documents that `fromstring` considers “empty”, including any document made entirely out of control characters, spaces, unpaired surrogates, U+FFFE, or U+FFFF, possibly starting with a BOM, possibly ending with an unclosed `<`…

A better API that doesn’t have bug is `lxml.html.fragment_fromstring(…, create_parent=True)`.

[2021-08-12 15:52] asah opened #19565 "docs: add how to test inbound email polling"
https://github.com/zulip/zulip/blob/master/docs/production/email-gateway.md#polling-setup

add: to test this integration, `cd deployments/current && ./manage.py email_mirror` (as the zulip user, not root)

[2021-08-12 17:37] akshatdalton commented on #19435
Under what conditions should we close the search bar then? I mean search bar closes as soon as we hit `enter`. (`Enter` is also registered as a signal to execute filters). If we prevent this then maybe the search bar doesn't get close unless the user doesn't change its message view.
I also looked at the code which needs to be changed for this behaviour and I feel that for this change we _probably_

[2021-08-12 17:52] akshatdalton commented on #19435
Does that only happen if a search filter is present with other filters? If so, then this issue may be fixed by #19566.

[2021-08-12 18:41] alexmv commented on #19559
Good point.  Though that API causes slightly different output if there's no top-level element:
[code]

[2021-08-12 20:09] andersk commented on #19559
You can specify the tag name if you want.

[code]

(Although `div` seems like a fine default.) The biggest difference is that it adds the wrapper whether or not there already is one.

[code]

[2021-08-12 21:10] jyn514 commented on #18202
Is there any reason zulip decided to write their own markdown parser instead of reusing a commonmark parser? It's very frustrating to have to relearn what bugs there are in each chat platform I use.

[2021-08-13 03:50] jmandel commented on #11227
Just coming here to give a "+1" to this feature request, having written a bunch of feedback into the Zulip compose box, looked at the clock, and thought:  "I should wait 'til morning to hit send". Would be lovely to have a built-in feature to delay sending.

[2021-08-13 05:43] madrix01 commented on #15948
@zulipbot claim

[2021-08-13 19:19] octogonz opened #19572 "Extract a reply into its own topic"
Our forum is a public open source project, so we get a lot of newcomers who are unfamiliar with Zulip.  The Zulip UI interleaves fragments from different topics.  People get confused by this, because it's different from typical chat apps. Newcomers will frequently write their question as a reply to an existing topic, when they should have created a new topic.  (The two conversation topics get mixe

[2021-08-13 20:23] madrix01 commented on #15948
@timabbott @zulipbot can you please review this #19571 and suggest some changes. This is my first pr.

[2021-08-14 00:13] octogonz commented on #19572
We figured out that this mechanic already exists in Zulip, by means of renaming topics.

The mechanics seem to be:

- If you do "edit topic" in the title (the pencil icon), then this renames the topic for all messages in that thread
- If you "view source / edit topic" you can rename the topic for that one message and the subsequent messages (in that thread)
- Messages with the same topic become a

[2021-08-14 00:13] #19572 closed

[2021-08-15 05:47] nikhilmaske-2001 commented on #17263
@zulipbot claim

[2021-08-15 13:45] xicuc commented on #18516
Excuse me but I solve the issue by reinstalling the zulip server with the same version and I can update it.
But now that I want to update again I get the same problems.
Here are the steps that I take one by one

Server: Ubuntu 18.04
VM: Proxmox

Copy to another Proxmox server a copy of the virtual machine, which works in production, and I start it.
The first thing I see is that the "process-fts-up

[2021-08-15 14:37] quanghuy2491987 commented on #18659
i have sam problem

[2021-08-15 14:54] Lumrenion commented on #18659
@quanghuy2491987 Hey, great to hear! Could you please have a look at PR #19245 to see if it helps you? It addresses changes to the documentation to include help setting up Zulip with Keycloak. If it does not help you solving your problems, feel welcome to come back here so we can further improve the documentation!

[2021-08-15 15:44] quanghuy2491987 commented on #18659
Thanks for help. Im solved mapping error but zulip show me error: " Social auth backend doesn't provide name
" :)

[2021-08-15 18:48] mateuszmandera commented on #18659
@quanghuy2491987 This was fixed in https://github.com/zulip/zulip/commit/cee4da64fabd3c1c0006b3ebb6937e21972ac9a6 so you can apply that individual patch or upgrade your server to the `master` branch, where this will already be included

[2021-08-16 01:51] alya commented on #19435
I just checked out the PR, and it does seem to fix it!

[2021-08-16 01:57] alya commented on #19435
The current behavior I see is that the search bar stays open when an auto-complete suggestion is selected (by mouse or with Enter), but the cursor disappears. I think it makes sense to execute the search at that point, but the cursor should stay in the search bar to make it easy to continue editing the query.

I don't think I see `Enter` closing the search bar at all -- when does that happen?

The

[2021-08-16 02:09] alya commented on #19124
@Signior-X The narrow blue band definitely looks broken -- if we just treat space as a normal character, we should show a regular-height blue bar, right? That would be OK, though I think we could consider how to do better -- accidentally searching for a space is a pretty confusing experience.

[2021-08-16 05:39] Signior-X commented on #19124
Yes, it can be confusing. We should show a regular sized one.

Also I think that the typeahead has considered space as a character, but the choices from which it coming, it isn't considering space as a proper character or may be the height for a space isn't defined so, that can be the reason.

[2021-08-16 13:31] madrix01 commented on #19191
If this issue is not resolved, can i work on it ?

[2021-08-16 13:40] madrix01 commented on #19191
@zulipbot claim

[2021-08-16 17:59] akshatdalton commented on #19435
Hmm, after again experimenting I found that it sometimes closes and sometimes not. Like if you use the filter: `is:mentioned` then it closes and when `is:unread` is used it doesn't get close.

[2021-08-16 18:30] alya commented on #19435
Heh, I see. Anyway, I think the desired behavior is that choosing from auto-complete keeps the search bar open and the cursor in it. :)

[2021-08-16 19:26] zee-bit opened #19581 "Stream name and topic filter scrolls up with the list of topic"
We recently added a topic filter in zoomed-in topic view via #18724, but the search box seems to scroll with the list of topics. So, if a user scrolls down the topic list to look for a topic but then decides to use the search instead, he will have to scroll all the way up to the top. This also seems to be inconsistent with the user list search box.

As per the discussion in [#feedback>topic search

[2021-08-17 05:37] gnprice commented on #7517
New [chat thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Shortcuts.20in.20non-latin.20languages/near/1247254). There @ivangretsky, who uses a keyboard labelled with both a Cyrillic layout and QWERTY, describes the behavior he's happy with in some other apps including Slack, and it sounds like they're doing the same approach described in this comment above:

So that's some new data in

[2021-08-17 20:08] timabbott commented on #19562
@sahil839 I think our plans here may be just replacing these with user groups anyway.

[2021-08-17 21:04] kaelan-holic commented on #716
any update on this?

[2021-08-17 23:49] elopez commented on #19073
Hi @timabbott, would you take a PR to clarify this in the Zulip docs?

[2021-08-18 03:17] esamson opened #19588 "Don't send empty `team_id` in Slack-format outgoing webhooks, when `string_id` empty"
Discussed here: https://chat.zulip.org/#narrow/stream/127-integrations/topic/gitlab.20slash.20commands/near/1247658

On a single-realm server slack-compatible outgoing webhook sends an empty `team_id`.

GitLab's [Slack slash commands](https://docs.gitlab.com/ee/user/project/integrations/slack_slash_commands.html), for example, relies on the `team_id` field being non-empty.

[2021-08-18 03:26] esamson opened #19589 "Separate `command` and `text` field for slack-compatible outgoing webhook"
Discussed here: https://chat.zulip.org/#narrow/stream/127-integrations/topic/gitlab.20slash.20commands/near/1247658

Current behavior puts entire message, including bot mention, in the `text` field of the outgoing POST.

POST coming from Slack itself puts the "slash command" in a separate `command` field while their `text` field only contains the message body after the command.

For better compati

[2021-08-18 12:59] stianjensen commented on #12126
Looks like this issue has resurfaced at some point. Our team has issues regularly with unuploaded images being posted because you hit enter while it is still uploading.

[2021-08-18 13:34] sahil839 commented on #19562
Yes. But we can fix it for now if we want.

[2021-08-19 09:46] madrix01 commented on #19191
I have made a pull request regarding this issue.
#19594
It's ready to review !!
@showell @timabbott

[2021-08-19 14:01] devZer0 opened #19596 "obscure error messages when zulip push notification gateway is unreachable"
our zulip server is hosted in a dmz .

accidentally,  the firewall rule for allowing outgoing connection to push.zulipchat.com was not active.  we block all outgoing connections by default, as we do not want to be some "hop" or source of spam and illegal action, if some machine is being hacked inside the dmz.

we did not take any notice on this,and users didn't complain because push notifications

[2021-08-19 18:35] mzch opened #19598 "[QUESTION] Is Zulip compatible with Debian bullseye?"
Hi,

Could anyone tell me whether Zulip server is compatible with Debian 11 (bullseye)?

[2021-08-20 05:02] mzch commented on #19598
I tried and got it run successfully on Debian 11.
Thanks.

[2021-08-20 14:24] timabbott commented on #716
I'd recommend looking at https://github.com/zulip/zulip/pull/19245, which is a keycloak tutorial (not yet merged).

[2021-08-20 14:33] timabbott commented on #19562
I think if we can just make the label "Admins, moderators, and members" for these, that'd be a good immediate fix.

[2021-08-20 16:11] quanghuy2491987 opened #19602 "Allowing keycloak authentication backends to skip the invitation requirement for joining an organization"
i need help, "Allowing keycloak authentication backends to skip the invitation requirement for joining an organization".

[2021-08-20 21:01] gnprice opened #19605 "Support non-Latin keyboard locales for shortcuts"
This is an implementation plan for #7517. It's based on the discussion in a chat thread this week:
https://chat.zulip.org/#narrow/stream/9-issues/topic/Shortcuts.20in.20non-latin.20languages/near/1247254
with people using both:
* a keyboard configured to type Cyrillic text, and labeled both in Cyrillic and with the QWERTY layout;
* a keyboard configured to type Latin text, but with the Dvorak layo

[2021-08-20 21:03] gnprice commented on #7517
I've filed #19605 with a design for this based on that chat thread.

[2021-08-20 21:04] FDrebin opened #19606 "[Qustion] Single realm but 2 different domain names?"
Pretty much just a simple question, can Zulip listen out for 2 different domain names (chat.mydomain1.com and chat.mydomain2.com) but point them both to the same realm?

And if so, how do I find out the name of the realm that I already have created so I can point chatdomain2.com to it?

[2021-08-21 19:01] soumyadeeptadas commented on #17307
@zulipbot claim

[2021-08-21 22:11] madrix01 commented on #19191
Due to merge conflict with the master branch in my forked repository, I had to create new PR at #19610
Can you please review it ? I have made the necessary code changes.

[2021-08-21 22:11] madrix01 commented on #19191
Due to merge conflict with the master branch in my forked repository, I had to create new PR at #19610
Can you please review it ? I have made the necessary code changes.

[2021-08-22 17:29] nathanBlack42 commented on #15029
@amanagr is this issue still relevant? I cannot see the discussed points in /tools/provision. If you could point out what needs to be done for this issue, i might try it :)

[2021-08-22 20:51] madrix01 commented on #19369
@timabbott  Can I work on this issue?

[2021-08-23 07:30] madrix01 commented on #19369
@zulipbot claim

[2021-08-23 10:17] sahil839 commented on #19562
Sounds good, will make a PR.

[2021-08-23 23:48] gnprice opened #19619 "Clarify send-message doc on "to" contents"
At
https://zulip.com/api/send-message#parameter-to
we say:

We should make clear which users those user IDs or email addresses are expected to represent. Specifically, we should say that including the client's own user in this list is allowed and ignored.

(That's the server's actual behavior, which we chose because it helps keep things simple for very simple bots, which are very likely to use thi

[2021-08-24 11:01] ShivamJhaa commented on #17731
@zulipbot claim

[2021-08-24 13:54] fgendorf opened #19621 "Problem with LDAP authentication: User not allowed to access realm"
Hi, I'm trying configure LDAP authentication in Zulip 4.5, my configuration on settings.py is:

[code]

created users by invite, by manager.py and by API, but doesn't matter the django.log always says:

[code]

the manager.py query_ldap fred@myemail returns:

[code]

I already print the password sent to `django_auth_ldap/backend.py` and it correct.

Does anyone that use Zulip with LDAP integration

[2021-08-24 14:02] fgendorf commented on #19621
I just try a wrong password and the django.log says:
[code]

[2021-08-24 15:20] Batwings208 opened #19622 "psycopg2.errors.UniqueViolation - PostgresSQL"
I am writing a line of code for Postgres, I don't have any issues except for the

"/Users/godseye/PycharmProjects/Python/pythonProject/Test_File.py", line 29, in <module>
    cursor.execute(f"INSERT INTO richpeople (ID, NAME, NETWORTH) VALUES({ID}, 'Ali Zafar', '{NET}')")
psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "richpeople_pkey"
DETAIL:  Key (id)=(0) already

[2021-08-24 16:53] fgendorf commented on #19621
The problem was the `"org_membership": "departmentNumber"` We are using just one tenant, so don't need use this attribute, but the error can be more clear.

[2021-08-24 16:53] #19621 closed

[2021-08-24 17:27] ShivamJhaa commented on #17731
@zulipbot abandon

[2021-08-24 17:28] ShivamJhaa commented on #16426
@zulipbot claim

[2021-08-25 13:03] iamakkkhil commented on #19490
@timabbott can I have a detailed explanation on this, I am newcomer to Zulip but already have some experience with Django and I would I like to proceed with this issue.

[2021-08-25 13:43] RohiniRG commented on #19529
@timabbott I am a newcomer for Zulip and have some experience working with Django. As a beginner should I take up this issue and try my hands on it?

[2021-08-25 16:56] digital-carver commented on #12611
Glad to know this is being worked on. Just for the record, my issue with using the browser zoom for this, is that that also increases the portion of the screen that the left sidebar takes up. Apart from being an inefficient use of screen space, I also find that really distracting when trying to read the messages.

[2021-08-26 12:40] v3ss0n opened #19627 "[INTEGRATION] Rhodecode Integration"
Rhodecode is the opensource Version control hub like Github , written in python for mercurial and git.
Integration for notification of pushes would be nice.

[2021-08-28 04:21] Supratim30 commented on #18286
@zulipbot claim

[2021-08-30 08:23] siddhant141 commented on #18320
@zulipbot claim

[2021-08-30 16:00] Neustradamus commented on #6096
Have you progressed on it?
1:1/groupchat.

[2021-08-30 16:19] abhi10shek commented on #19044
@zulipbot claim

[2021-08-30 20:52] myedibleenso opened #19631 "[REST API] v1/messages support for "Send Later"?"
**Zulip version**: [4.5.0](https://hub.docker.com/layers/zulip/docker-zulip/4.5-0/images/sha256-dd84b420bdc49b4a3fa56079fb5fceaae361818e234a67b4c625d0202a38837a?context=explore)

Hi!  I would like to use the REST API to schedule send messages.  The documentation for `/api/send-message` has the following tidbit for the `deliver_at` value of the response:

[I saw that there is a `ScheduledMessage` d

[2021-08-30 21:49] chrisbobbe opened #19632 "Allow deleting items in a message's edit history."
It should be possible to remove items in a message's edit history. Sometimes, sensitive info is published in a message, and sometimes deleting a message isn't a viable fix for that, because:

- Organization settings can restrict who can delete messages ([doc](https://zulip.com/help/configure-message-editing-and-deletion)). (I'm not sure how this new feature would interact with that permissions mod

[2021-08-30 22:08] anurastogiji commented on #19191
@zulipbot claim

[2021-08-30 22:15] abraae commented on #10970
Just another data point that the lack of this feature likely prevents us using zulip as a front end to our SaaS product. We can set up nice per-customer streams etc., but it's not OK security-wise for all users able to see each other.

[2021-08-31 06:30] raghupalash commented on #19524
@zulipbot claim

[2021-08-31 19:02] gnprice commented on #17863
Thanks @ligmitz for your work on this!

Our production docs still say the supported OSes are Bionic, Focal, and Buster:
https://zulip.readthedocs.io/en/latest/production/requirements.html

There's also no instructions on upgrading the OS of an existing Zulip installation from Buster to Bullseye:
https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-the-operating-system

[2021-08-31 19:04] gnprice commented on #19598
Thanks for the report!

It looks like the state of this is that we've added support in the code, but haven't documented it: see #17863. Closing this in favor of further updates there.

[2021-08-31 19:04] #19598 closed

[2021-08-31 19:12] alexmv commented on #17863
My recollection is that Bullseye wasn't yet released when this support was added, and we didn't want to list support for something that was still not yet final.

But, having been [released earlier this month](https://www.debian.org/News/2021/20210814), we should cerftainly start including it in the docs and public support.

@ligmitz, do you think you have time to pick up the missing documentation

[2021-08-31 19:12] alya opened #19639 "Make setting type (Personal/Organization) selector row sticky"
At present, scrolling down in the left sidebar of the settings menu hides the Personal vs. Organization setting selector.

![Screen Shot 2021-08-31 at 12 09 37 PM](https://user-images.githubusercontent.com/2090066/131561782-2b75000f-4567-4839-9ff8-f3c2d7232319.png)

This is not ideal, as it's useful to have the selector accessible, and it also serves as a header to remind the user what settings th

[2021-08-31 19:32] ligmitz commented on #17863
Yeah, I'll open a PR soon.

[2021-08-31 20:10] alya opened #19641 "But in notification settings menu for muted streams"
To replicate the bug, under personal stream settings:

1. Set stream-specific notification settings, e.g.:
![Screen Shot 2021-08-31 at 12 57 04 PM](https://user-images.githubusercontent.com/2090066/131568577-97c4f337-8c57-4db2-9923-24ebc5bd4a65.png)
2. Mute the stream. The notification settings will be greyed out, as expected.
3. Navigate away from the settings for this stream.
4. Return to person

[2021-08-31 20:18] gnprice commented on #17863
Reasonable. On that plan, the thing that was missing would have been to either leave this issue open, or open a new one, to track the need to follow up when it was released.

Alternatively, at that point Bullseye was in freeze. In freeze, it's getting bugfixes but generally not new features or API changes. So an upcoming Debian release that's frozen may not be materially less final than any OS rel

[2021-08-31 20:38] alya opened #19642 "Add stream setting for who can create new topics"
For some organizations, it would be useful to restrict permissions to create topics in certain streams, as reported [in this CZO thread](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Limits.20on.20creating.20new.20topics.3F):

"It would be great to be able to set a particular stream such that only admins/mods etc. could create topics, but any member could post in them. Would be perfect fo

[2021-09-01 02:14] jmandel opened #19651 "Resolving topics breaks links by changing the topic name!"
1. Alice creates a topic X
2. Discussion ensues
3. Bob copies a link to topic X and shares it externally (e.g., on his blog, email, forums)
4. Discussion concludes, and Alice marks topic X as resolved
5. The links Bob shared externally are now broken

See initial report at https://chat.fhir.org/#narrow/stream/179238-Zulip/topic/Mark.20as.20resolved.20changes.20URL.20of.20topic

I can't find discus

[2021-09-01 08:54] PR0SAT opened #19652 "zerver.models.Realm.DoesNotExist: Realm matching query does not exist."
Hi Folks!

My fresh Ubuntu 20.04 Focal (minimal desktop ver.) install with zulip server 4.5 got me stuck at this when trying to login or register:

`Logger django.request, from module django.utils.log line 224:
Error generated by Anonymous user (not logged in) on 192.168.3.124 deployment

Traceback (most recent call last):
File "/srv/zulip-venv-cache/cc77818846b328558cc9444c67cbbe0121ca80f4/zulip-

[2021-09-01 10:44] PR0SAT commented on #19652
ok, I think I missed the manage.py generate_realm_creation_link

[2021-09-01 10:56] amanagr opened #19653 "Add UI for stream filter to the graphs shown on /stats page"
Add a dropdown to filter all the charts on /stats page based on stream.

Discussion: https://chat.zulip.org/#narrow/stream/2-general/topic/statistics.20of.20activity.20per.20stream

[2021-09-01 11:52] abhijeetbodas2001 commented on #19451
A PR for this should also follow-up on 24b1439e9333b25207758178cfa575b96f4c6314, and add checks for bots in the new rechecking system.

[2021-09-01 17:41] sentry[bot] opened #19655 "Forwarding an email containing `@all` to the email gateway drops the email with an error."
The email gateway doesn't have permissions to use `@all` (or `@stream` or `@everyone`) and so attempts to send messages containing those characters fails.

We should escape those characters, or at least make this not a logged exception.

-----

Sentry Issue: [ZULIP-RZ](https://sentry.io/share/issue/6e33b9a7a9ee44d48b9816aec3c99597/)

[code]

[2021-09-01 20:04] alya opened #19657 "Wrong "Invited at" time shown in Organization Settings > Invitations"
When sending an invite, the "Invited at" time shown in Organization Settings > Invitations is twelve hours off from the actual (operating system) time, e.g.:

- Actual time: Sep 1 1:00 PM
- Displayed time: Sep 1 1:00 AM

I observed this in production and replicated in the dev environment.

[2021-09-01 20:43] alexmv opened #19658 "Invalid timezone offset in `<time>` picker leads to 500"
A message containing:
[code]
..fails to send:
[code]

We should handle this more gracefully than a 500 error -- ideally, by not treating it as a smart timepicker, but just text.

[2021-09-01 20:49] alexmv opened #19659 "Send one find_account notification per email address, not per organization"
When using the "find my account" feature, we send one email per organization that matches the email address:
https://github.com/zulip/zulip/blob/191b1ac2be46fe4219c170ab318aa10c714cb49a/zerver/views/registration.py#L746-L759

This can lead to a deluge of emails. We should adjust the template to contain all of the organizations, listed in a single email.

[2021-09-01 21:19] timabbott commented on #19659
The main work here is figuring out what we want the wording/structure of the email to be in the event that there are multiple organizations.  @alya FYI for a proposal on that.

[2021-09-01 22:13] timabbott commented on #19605
@priyank-p would you be interested in attempting this, given your recent work on the `event.key` transition for our hotkeys code in general?

[2021-09-01 22:28] alya opened #19661 "Add stream setting for who can unsubscribe"
For some organizations, it would be useful to restrict permissions for *unsubscribing* from certain streams. For example, this can help ensure that users don't miss important announcements, as discussed in [this CZO thread](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Stream-wide.20notification.20settings).

We should add a setting for which groups can create unsubscribe from a s

[2021-09-01 23:02] alya commented on #19632
Adding some specifics regarding the UX for this feature:

- Users who have permission to delete a message should also have permission to delete edit history.
- Deleting edit history should remove the old message *content*, but not the record that the message was edited.
- Deleting edit history should add a line to the edit history indicating when and by whom the edit history was deleted.
- Deletin

[2021-09-01 23:06] timabbott commented on #19658
@chdinesh1089 @akshatdalton would either of you be interested in working on this?

Tagging as a priority because the markdown processor should never 500.

[2021-09-01 23:08] timabbott commented on #19655
There's an argument that we should make the behavior when you try to use a wildcard mention but don't have permission render a silent wildcard mention (or something) rather than be an error as the resolution to this class of issue.

This category of error handling will become a lot more relevant if/when we add a "can you mention this user group" permission as well.

@alya thoughts on that design d

[2021-09-01 23:52] alya opened #19663 "Stream message editing bug when editing multiple messages"
Reproduced in dev:

1. Start editing a stream message.
2. Open another message in the same stream for editing.
3. Click "Cancel" on editing the second message.
4. Click "Save" on the first message.

Result:
![Screen Shot 2021-09-01 at 4 40 02 PM](https://user-images.githubusercontent.com/2090066/131759951-43bec478-a3bb-4a9d-ae70-8b4c73707af6.png)

I haven't experimented to see which of the steps a

[2021-09-02 00:14] alya opened #19664 "Add a stream setting for mandatory email notifications"
In some cases, administrators may want to require users to receive email notifications for a stream, e.g. when that stream is used for important announcements (as reported [in this CZO thread](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Stream-wide.20notification.20settings)).

We should therefore add an option to require email notifications for a stream.

When a stream has mand

[2021-09-02 06:32] nooblag commented on #17968
I'd love to see this implemented!

Our circumstance is that we have streams that are usually used by different workgroups, so the admins would like to colour code them for everyone. An individual user still (rarely) might want to change this to something else, but it would be good if whatever the admins change becomes changes that are reflected for all users.

[2021-09-02 06:42] nooblag commented on #17968
Perhaps a better way to say this could be: if a user has not explicitly changed the colour from default, and an admin makes a change to the default stream colour, that those changes should apply to everyone, even with multiple default colour changes over time. Hope that's helpful.

[2021-09-02 06:43] nooblag commented on #17968
... more of my thoughts on [CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/stream.20colors/near/1241282).

[2021-09-02 12:20] himanshu-thakur-7 commented on #17842
@zulipbot claim

[2021-09-02 12:23] madrix01 commented on #19369
@zulipbot claim

[2021-09-02 12:55] rht opened #19668 "Create Zulip AWS image on AWS marketplace."
If you search for Rocket.Chat on AWS marketplace, you see several search results: https://aws.amazon.com/marketplace/search?searchTerms=rocket+chat.
But there is no result when you search for Zulip.

Originally suggested at https://chat.zulip.org/#narrow/stream/31-production-help/topic/aws.20ubuntu.20installation/near/1251407.

[2021-09-02 15:28] ShivamJhaa commented on #17842
@zulipbot claim

[2021-09-02 16:10] chdinesh1089 commented on #19658
I might not be able to start working on this for a few days due to some other immediately pressing tasks. Will claim the issue when I get time to start working on this. I think it is fine if @akshatdalton or others interested work on this before I get a chance.

[2021-09-03 01:24] eeshangarg commented on #18266
This is now resolved since we display tweets on some of our newer landing pages. Closing.

@alya FYI

[2021-09-03 01:24] #18266 closed

[2021-09-03 10:10] nivadis opened #19670 "Bug: Guests+ LDAP: invited users are guests if used invitation via mail, without completing the invite process they are members"
In an Organisation connected to an LDAP i can invite other uses which are also available in the ldap.

In the invite process I select "guest".

When they login without using the process of the invite mail they still become member instead of guest.

When they follow the link in the mail and enter then the ldap credentials, they stay guests.

despite by that, it would be nice to map roles to ldap gr

[2021-09-03 11:37] isakhagg commented on #19044
Hi, I'm a master's student in computer sience and engineering at Linköping University. Currently I'm looking into getting started with open source development. Is Zulip a good first project to start in? I have knowledge in both Python, javascript, HTML, CSS and Typescript.

[2021-09-03 17:29] timabbott commented on #17863
Thanks for flagging!

We should remember to backport the documentation change to 4.x as well. We're planning to do a 4.6 release in the next week, so it'd be good to address this there.

(I think Bullseye wasn't frozen enough to have `/etc/os-release` be final at the time we merged the above; we should have been able to do this documentation change as soon as that happened, though).

[2021-09-03 17:49] timabbott commented on #19653
The first step of this I expect to be relatively accessible: adjusting the `get_chart_data` function in `analytics/views/stats.py` to support an optional `stream_id` parameter (with backend tests) to return the data for that stream from the `StreamCount` tables.  Even just completing that would allow motivated users to get the data via the API as desired.

(We may also want to add a similar "for u

[2021-09-03 19:26] andersk opened #19671 "SIGALRM-based queue worker timeouts don’t interactly with threads"
We run the queue workers using threads instead of processes on production systems with less than 3.5 GB of RAM (#5098) and development systems (#367), but `alarm()` is only [per-process](https://pubs.opengroup.org/onlinepubs/9699919799/functions/alarm.html), so our queue worker timeout mechanism (#16467) may kill the wrong workers under these conditions.

[2021-09-03 19:37] andersk commented on #19671
Oh I see, we don’t set `ENABLE_TIMEOUTS` in these conditions. Never mind.

[2021-09-03 19:37] #19671 closed

[2021-09-04 00:27] gnprice commented on #18121
Some more discussion of the reasoning in our existing names:
https://github.com/zulip/zulip/pull/19637#discussion_r702207483
It includes an example where we picked better names than Slack (and iamcal?), but still a bit odd, and CLDR does better (as does GitHub, with yet another name.)

[2021-09-04 20:02] sahil839 opened #19674 "Deduplicate `ignored_parameters_unsupported` text in API documentation."
We include `ignored_parameters_unsupported` list in the endpoint response to list the parameters that were passed with the request but are not supported by the endpoint.

Currently it is used only by `/settings` endpoint and depreceated `/settings/display` and `/settings/notifications` endpoints, and will also be used for the `/realm/user_settings_defaults` endpoint to be added in #18884.
But we p

[2021-09-04 20:17] sahil839 opened #19675 "Deduplicate user settings definitions in API docs."
User Settings definitions are duplicated at various places in API docs because they are included in top-level obejct of `register` response (due to legacy reasons) and also in the `user_settings` object and thus are defined in the docs two times. And with #18884, most of these settings will be in the `realm_user_settings_defaults` object and thus will have one more copy in the API docs also. We ne

[2021-09-04 20:23] sahil839 commented on #19675
@zulipbot add "documentation (api and integrations)"

[2021-09-04 20:24] sahil839 commented on #19675
@zulipbot add "area: documentation (api and integrations)"

[2021-09-04 20:25] sahil839 commented on #19674
@zulipbot add "area: documentation (api and integrations)"

[2021-09-04 20:25] sahil839 commented on #19674
@MSurfer20 would you like to take this up? Should not be much work.

[2021-09-04 20:26] sahil839 commented on #19675
@MSurfer20 would you like to take this?

[2021-09-05 17:23] Parth-Mittal-NITK commented on #19653
@zulipbot claim

[2021-09-05 22:42] alexmv opened #19677 "Placeholder realms for redirects show up as "placeholder-realm""
The `name` of the new realm created as a tombstone after renaming a realm is the constant `placeholder-realm`.  This shows up on the page that is shown to users; see, for example, https://mytest111.zulipchat.com/

The tombstone realm should be named the same as the realm that it is replacing.

[2021-09-06 09:12] Riken-Shah commented on #19521
The PR for this (#19563) is awaiting a review!

[2021-09-06 11:11] #14612 closed

[2021-09-06 12:51] an3l opened #19687 "Allow custom topic tags"
Rewritten by @alya 2025-11 based on https://github.com/zulip/zulip/issues/19687#issuecomment-915314921:

The request is to allow admins to create a custom set of tags that can be assigned to topics. These can be shown as emoji, and might be used to indicate topic status, e.g. `{'resolved','fixed', 'stalled', 'in-review', 'not-a-bug'}`. The tags should ideally be customizable on a per-channel basis