[2021-09-06 15:17] alya commented on #19659
Maybe something like:

-----
Hi Iago,

Your email address iago@zulip.com is associated with the following Zulip accounts:

- Zulip Dev: Log in at http://localhost:9991.
- …

If you have trouble logging in, please contact Zulip support by replying to this email.
Thanks for using Zulip!

---
Thoughts?

I suppose it's possible that the user had different names for different accounts, right? I think i

[2021-09-06 17:55] alya opened #19680 "Create a UI for setting expiration time for invitations"
In #16407, we implement the backend for setting a custom expiration time for invitations (both invite links and emails). This issue describes the front end for this feature. See also [CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-design/topic/custom.20expiration.20for.20invitations).

# Invite users to Zulip
<img width="497" alt="first_router_linking_erratically_-_Zulip_Dev_-_Zu

[2021-09-06 17:56] alya commented on #19680
Just to check, will we be able to look at data logs to see which options are being used? @mateuszmandera

[2021-09-06 18:01] mateuszmandera commented on #19680
@alya We'll be able to figure it out by looking at Confirmation objects and comparing date_sent with expiry_date. Does that sound good enough?

[2021-09-06 18:05] mateuszmandera commented on #19680
Hmm, if we're going with sub-1day expiration options, #16407 will need to be updates to take `number of minutes` as the relevant argument in the API as opposed to `number of days`, but that should be simple enough.

[2021-09-06 18:05] alya opened #19681 "Allow fully custom invite expiration times"
In #19680, we implement custom invitation expiration times using a drop-down list. Ideally, this should be extended to allow arbitrary expiration times. See also [CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-design/topic/custom.20expiration.20for.20invitations).

To do so, we should add "Custom..." as the last option on the expiration time selection drop-down. Choosing "Custom…

[2021-09-06 18:09] alya commented on #19680
I haven't heard it as a request for Zulip, but Discord offers 4 options < 1 day, so there must be some communities where this is helpful.

[2021-09-06 18:11] alya commented on #19680
Yeah, sounds good, assuming those fields are timestamps and not rounded to date?

[2021-09-06 18:16] mateuszmandera commented on #19680
Yup, both are `DateTimeField`

[2021-09-06 18:19] Parth-Mittal-NITK commented on #19677
@alexmv Is there a difference between _renaming a realm_ and _renaming a realm's subdomain_? I have read the docs and I can only find renaming of a realm's sub-domain. Do correct me if I am wrong.

[2021-09-06 18:43] mountainchaser commented on #17716
@zulipbot claim

[2021-09-06 18:56] alexmv commented on #19677
Yes, the subdomain is what I meant.

[2021-09-06 20:40] alya opened #19682 "Customize permissions for new organizations by organization type"
At present, all new organizations have the same default settings. These settings may not be appropriate for all types of organizations. Since we now collect organization type at sign-up for Zulip Cloud organizations, we should make use of that information to set better defaults.

In particular, education organizations likely wish to restrict many administrative permissions to course staff. The new

[2021-09-06 23:55] timabbott commented on #19359
Fixed in #19400.

[2021-09-06 23:55] #19359 closed

[2021-09-07 08:24] vashuteotia123 commented on #16426
@zulipbot claim

[2021-09-07 14:19] sahil839 commented on #19663
@zulipbot claim

[2021-09-07 16:24] timabbott commented on #19677
This seems important to fix.  @mateuszmandera do you have time to take care of this?

(We may need to do some surgery with RealmAuditLog to fix this for existing realms, but I think it's reasonable to do that by hand rather than writing a well-tested migration).

[2021-09-07 16:36] timabbott commented on #19631
@myedibleenso I believe that the API works at present, but don't know for sure since the original "Send later" project got delayed.

We plan to prioritize finishing the end-to-end feature (where it's available in the UI), but I think the infrastructure works.  If you're up for testing this and reporting back, that'd be helpful.

[2021-09-07 16:50] vashuteotia123 commented on #16426
@zulipbot abandon

[2021-09-07 17:05] Parth-Mittal-NITK commented on #19677
I have been trying to fix this and have come up with a potential solution. As I am new, I am not sure if it's better to discuss it here or on the Zulip chat?

[2021-09-07 17:07] Parth-Mittal-NITK commented on #19653
@zulipbot abandon

[2021-09-07 18:57] TheSachsquatch commented on #19653
@zulipbot claim

[2021-09-07 19:43] myedibleenso commented on #19631
@timabbott , thanks for your response.  I'm happy to test this out and report back.  I probably should've experimented a bit out before opening this...

Looking a bit deeper at the code, I think I just need to specify `"delivery_type"` as `"send_later"` (possible values being "send_now", "send_later", and "remind") and
`"deliver_at" as "<datetime str compatible with dateutil.parser>"` when making

[2021-09-07 20:17] profgrammer commented on #18320
@zulipbot claim

[2021-09-07 21:18] timabbott commented on #13099
I don't think this issue is particularly actionable as written, since we don't have a specific plan for resolving it noted here.  I expect that #19525 will provide a good path forward for resolving this.

[2021-09-07 21:37] #17697 closed

[2021-09-07 21:50] #19663 closed

[2021-09-08 00:02] #19524 closed

[2021-09-08 00:04] timabbott commented on #19687
@an3l can you explain the use case a bit more?  Is the goal to be able to include emoji in topic names only?  You can probably do that today by using the unicode characters instead of the `:` names. I don't think we want to allow bold/italics in topic names for readability reasons.

[2021-09-08 00:12] timabbott commented on #19670
@nivadis I think what you describe is sorta the expected behavior in a weird corner case -- you've configured LDAP to allow the user to sign up as a normal member, and sent them an invitation that lets them join as a guest.  Given that, which method they use to join will determine what role they end up with.  I am not confident this interaction is the best behavior -- probably there is some sort o

[2021-09-08 00:16] #18677 closed

[2021-09-08 00:17] timabbott commented on #19670
#18677 was fixed, and the fix is now backported to the 4.x branch.

[2021-09-08 07:07] Parth-Mittal-NITK commented on #19677
@zulipbot claim

[2021-09-08 14:58] an3l commented on #19687
Hi @timabbott,
I have a lot of topics in the private stream which are called by the bugs/features, where I can discuss with my colleagues about the specific problem that is currently in progress.
The purpose of this request is to have some status/flag in the topic name reflecting the state of the topic (bug/feature), in order to easier see the state of the topic (bug/feature) from the Zulip channe

[2021-09-08 15:59] mwm341 opened #19690 "Help or Feature Request"
Something I'd like to see or do:

A MagicMirror-Zulip module that could make it easy to bring different messages, data and photos from diverse sources into one or more pages of a Magic Mirror (from http://magicmirror.builders).

[2021-09-08 19:32] manavdesai27 commented on #18286
@zulipbot claim

[2021-09-08 19:53] alya commented on #9172
Linking this message to #19525. Once it's ready, perhaps we can implement this as a message option that flags the message to the stream moderators.

[2021-09-08 20:51] madrix01 commented on #19369
@timabbott @alya  There is not a tool-tip to specify whether the code has been copied to the clipboard on hover even in message section of the zulip chat. It would be great to add this feature. This feature is present in the stripe docs.

[2021-09-08 22:30] #15155 closed

[2021-09-08 23:40] alya opened #19695 "Indicate latest Zulip server version on ReadTheDocs installation and upgrade pages"
At present, the Zulip installation and upgrade docs don't tell you what version of Zulip you'll be installing. While the installation/upgrade script doesn't require the user to know this, it would provide helpful context for someone who wants to understand what they are about to install.

We should add a line to each of the following pages that indicates the version of Zulip server that will be in

[2021-09-09 04:42] manavdesai27 commented on #18286
@alya Could you let me know which markdown parser do we use?

[2021-09-09 07:04] abhi10shek commented on #19044
@rht Could you review my PR? There might have been a problem with the notification, so wanted to remind you.
Thanks.

[2021-09-09 07:10] rht commented on #19044
OK, I didn't realize that you have made a PR.

[2021-09-09 07:11] abhi10shek commented on #19044
You can have a look at the [contributing guidelines](https://github.com/zulip/zulip/blob/517c2ed39d5cd3e97b360323f7c75e741029860c/CONTRIBUTING.md)

Join the [community server](https://zulip.com/developer-community/). Introduce yourself so the community can guide you with searching for an issue given your skillset.

[2021-09-09 15:04] alya opened #19699 "Update icon for Email Gateway bot"
The Email Gateway system bot has an icon with the old Zulip logo. It should be updated to use the new logo.

![Bildschirmfoto-2021-09-09-um-14 52 43](https://user-images.githubusercontent.com/2090066/132711266-fb7ecc09-e388-44e4-bba4-32ed1d311b29.png)

When working on this issue, please feel free to experiment with making changed beyond a simple logo replacement. But just replacing the logo would

[2021-09-09 15:20] strifel commented on #19699
I think the new image would need to be uploaded to Gravatar, by some who has the permissions, as this issue appeared for me when enabling Gravatar profile images

[2021-09-09 17:55] alya opened #19700 "Use additional characters as separators for stream filtering"
It is common to use several separators in addition to spaces between words in stream names. At present, searching in the sidebar for a word in the latter part of the stream name using such a separator will not find the stream. E.g. if a stream is called "foo-bar", searching for "bar" will not find it.

To make it easier for users to find the streams they are looking for, the left sidebar stream fi

[2021-09-09 18:02] #19677 closed

[2021-09-10 12:27] AbhijithGanesh commented on #19699
I would like to work on this issue. I would like to be assigned.

[2021-09-10 14:26] mitanshu001 commented on #19700
@zulipbot claim

[2021-09-10 16:53] alya commented on #19699
If someone designs the logo, hopefully we can figure out how to upload it. :)

@AbhijithGanesh you can claim the issue using zulipbot, as described here: https://zulip.readthedocs.io/en/latest/overview/contributing.html#working-on-an-issue

[2021-09-10 17:06] AbhijithGanesh commented on #19699
Thank you for that alya

[2021-09-10 17:47] alya commented on #19651
Thanks for the report @jmandel ! We're tracking this issue as #15290 -- breaking links when a topic is renamed is a general problem, but it definitely became a much more prominent issue when we implemented resolving topics.

[2021-09-10 17:47] #19651 closed

[2021-09-10 17:47] #13126 closed

[2021-09-10 17:49] abhi10shek commented on #19044
@zulipbot  claim

[2021-09-10 18:04] alya opened #19709 "Resolve topic should mark topic as unread only for participants"
At present, resolving a topic marks it as unread. This can be annoying to users, as it unnecessarily bumps the topic, when in fact the intent is to clearly mark it as being "done". However, participants in a topic may want to be alerted when a topic is resolved, e.g. to make sure that they agree with the decision to resolve it.

To balance between these needs, **resolving** or **unresolving** a to

[2021-09-10 18:09] AbhijithGanesh commented on #19699
@zulipbot claim

[2021-09-10 18:15] AbhijithGanesh commented on #19699
@Alya, I believe we have the svg which can be directly added. Isn't that possible?

[2021-09-10 18:18] alya opened #19710 "Show titles of GitHub issues on hover"
It would be nice to show GitHub issue titles when hovering over a linkifier, the way GitHub does.

[CZO thread](https://chat.zulip.org/#narrow/stream/137-feedback/topic/github.20issue.20titles)

[2021-09-10 19:07] alya opened #19711 "Fix alignment of `x` button in image view menu"
The `x` button in the image view menu is too low; it should be aligned with the other buttons.

<img width="1181" alt="Screen Shot 2021-09-10 at 12 05 06 PM" src="https://user-images.githubusercontent.com/2090066/132904612-0e0c702c-7114-466c-8300-9e5a591e0b81.png">

[2021-09-10 19:08] timabbott commented on #19699
I think if you post a redesigned SVG that everyone's happy with here (or better for gathering feedback, in the CZO thread), I can take care of things from there.

[2021-09-10 19:33] alya opened #19712 "Quote part of a message"
It would be useful to be able to easily quote only part of a message.

If you select part of a message, and then _Quote and reply_ to that message, only the selected part should be quoted. This should work both for the `>` shortcut and via the three-dot message menu.

This feature was requested in #8951, but I'm creating a new issue for clarity.

There is in progress work on this feature in #15235

[2021-09-10 21:18] #9471 closed

[2021-09-10 21:27] timabbott opened #19713 "Add custom option for message notification emails delay."
Following #19576, we'd like to add a "custom" option for the delay before message notification emails get sent to users.

This can work very similarly to the existing options we have for the deadline for deleting messages in organization permissions (where if you pick "custom", you get an input box to enter how many minutes you want).

[2021-09-10 21:28] #15280 closed

[2021-09-10 21:29] #19562 closed

[2021-09-10 21:51] #19695 closed

[2021-09-10 22:05] timabbott commented on #19490
@iamakkkhil sorry for the slow reply -- I was on vacation at the time.  I think this is a pure refactoring function; first, refactor `delete_user_sessions` to take a list of UserProfile objects and delete sessions for every one in the set.  And then do the same with `do_deactivate_users`, calling `delete_user_sessions` once rather than in a loop.

(Use `git grep` to find all the callers and migrat

[2021-09-10 23:19] alya opened #19717 "Restructure Personal Settings > Notifications sections"
We should reorganize Personal Settings > Notifications to make it more clear and remove unnecessary layers of heading hierarchy. In particular, we should make the following rearrangements:

1. Remove the **Other notification settings** heading.
2. Rename:
   a. Desktop -> Desktop message notifications
   b. Mobile -> Mobile message notifications
3. Split the email section into:
   a. **Email messa

[2021-09-10 23:19] alya commented on #19717
@sahil839 FYI

[2021-09-11 00:01] #16359 closed

[2021-09-11 00:38] rht opened #19720 "markdown: Remove `file://` support."
As stated in https://github.com/zulip/zulip/pull/19516#issuecomment-915666810

[2021-09-11 00:43] rht commented on #19720
@zulipbot claim

[2021-09-11 03:53] jonathanktran commented on #19711
@zulipbot claim

Hi, I would like to work on this issue but I'm not sure how to find out which files are related to the image view menu. Could someone help me out?

[2021-09-11 03:54] jonathanktran commented on #19711
Hi, I would like to work on this issue but I'm not sure how to find out which files are related to the image view menu. Could someone help me out?

[2021-09-11 06:27] sahil839 commented on #19717
@zulipbot claim

[2021-09-11 14:36] madrix01 commented on #19682
@alya   I would like to work on this issue, I was just having a couple of doubts reagarding this issue,
- changes regarding this has to be changes in backend model where we have to set defaults ?
- do `Admins` and `Admins only` means the same ??
can i work on this ??

[2021-09-11 16:06] AbhijithGanesh commented on #19699
Can I get the file location of this specific file (in assets)?

[2021-09-11 18:30] v3ss0n opened #19727 "Zulip Auto-Reloading after every few minutes: login sesssions are all cleared after reload"
After using zulip for almost 1 year  of zulip functioning well, starting last two-three weeks ago   we are facing weird problems.
First the messages are not coming in and out on time and when it does ,  in notifications and things all messed up, it showing old messages as new again and again.
And then , the browser just reload and all login sessions are cleared.
Happens to everyone , tried Firefox

[2021-09-11 18:42] v3ss0n commented on #19727
![image](https://user-images.githubusercontent.com/419606/132958103-96ac9d44-0b8f-41ca-be6a-fb23b9f0cace.png)

This is the last error before reloaded.
401 error .
What weird there is it is showing OpenResty as server , i never have that JS web server.

[2021-09-11 18:55] v3ss0n commented on #19727
[code]
[code]

[2021-09-11 20:31] jonathanktran commented on #18318
@zulipbot claim

[2021-09-12 01:09] jonathanktran commented on #18463
@zulipbot claim

[2021-09-12 03:56] alya commented on #19682
I believe @eeshangarg has started work on this. @eeshangarg is that right?

[2021-09-12 03:59] alya commented on #19682
Yes; for whatever reason, we use one or the other for different settings.

[2021-09-12 07:03] jonathanktran commented on #19712
@zulipbot claim

[2021-09-12 08:41] AnushaNathRoy commented on #17998
@zulipbot claim

[2021-09-12 11:42] MartinX3 commented on #19126
Will be fixed by https://github.com/zulip/zulip/issues/19680

[2021-09-12 11:45] #19126 closed

[2021-09-12 14:21] bjorn3 opened #19730 "Resolve topic message should use server's native language"
When a user has set their language to a language that doesn't match the language in which people communicate, notification bot will post a message in the user's language instead of the language used for communication. In the case where I noticed it, notification bot posted the french message "`@<censored>` a marqué ce sujet comme résolu." on an english server. I think the message posted should eit

[2021-09-12 14:53] mitanshu001 commented on #19709
@zulipbot claim

[2021-09-12 14:59] mitanshu001 commented on #19709
Changes are in the linked PR. Unassigning myself so I could work on another issue.
@zulipbot abandon

[2021-09-12 15:00] mitanshu001 commented on #19700
Relevant changes are in the linked PR. Unassigning myself so I could work on other issues.
@zulipbot abandon

[2021-09-12 15:04] mitanshu001 commented on #19709
@zulipbot claim.
@alya are the required changes are of Python(backend)? I am new to the community. This will be my 2nd issue. Please let me know if this is not a good issue for beginners

[2021-09-12 16:54] AbhijithGanesh commented on #19699
Where can I find the CZO thread?  I can add it to the assets(static) and create a PR for reference if need be. ( I am new to Zulip, it takes a bit of time for me to understand how things are localised here )

[2021-09-12 17:15] sahil839 commented on #19699
@AbhijithGanesh you can post the redesigned svg on this thread https://chat.zulip.org/#narrow/stream/2-general/topic/Old.20Zulip.20logo.20on.20Mail.20gateway.20Gravat.

[2021-09-12 17:21] AbhijithGanesh commented on #19699
Thank you @sahil839

[2021-09-12 17:31] AbhijithGanesh commented on #19727
I would like to work on this issue and figure out what is wrong, I shall claim this ticket at the same time
**all collaborative suggestions are welcome/**

[2021-09-12 17:31] AbhijithGanesh commented on #19727
@zulipbot claim

[2021-09-12 18:06] uzair-ali10 commented on #18286
@manavdesai27
U still working on it??

[2021-09-12 23:26] #19521 closed

[2021-09-12 23:36] timabbott opened #19732 "Add migration to re-upload all animated custom emoji"
Following https://github.com/zulip/zulip/pull/19563, we likely want to re-upload all custom emoji, in case they are animated emoji; reuploading animated emoji is required for us to get the benefits of having that emoji animate only on hover with the new feature in #19563.

The best way to do this is probably with a migration, since that'll ensure it gets run exactly once on every server.  We'll li

[2021-09-12 23:43] #19717 closed

[2021-09-13 04:16] AbhijithGanesh opened #19733 "[FEAT]: Need for a template"
We need a template for feautres, suggestions and bugs. GitHub allows this with the usage of .yaml files. It will help the community in the longer run to understand issues in a better manner.

[2021-09-13 04:17] AbhijithGanesh opened #19734 "[BUG] :The GitHub OAuth uses incorrect image"
Just like the mail gateway, the github OAuth uses the old image too. The logo can be found in our static files, so it will be useful if the new logo is used.

[2021-09-13 08:09] manavdesai27 commented on #18286
No. You can take over if you want.

[2021-09-13 08:09] manavdesai27 commented on #18286
@zulipbot abandon

[2021-09-13 08:47] johanehinger commented on #19680
@alya do you think this issue is suitable for Zulip contribution beginners? I love working with the frontend and adding a new dropdown doesn't seem so hard, but of course since I'm new I'm still in the process of navigating in the project and there might be a lot of overhead I'm not ready for?

From what I can see there is an addition in the file zulip\static\templates\invite_user.hbs that needs t

[2021-09-13 08:49] jonathanktran commented on #19124
@zulipbot claim

[2021-09-13 10:17] pavlo-yashchuk commented on #19241
Sorry for late
Yes, I used non-admin token
I go to the page in slack export and export files per 1 day, after that found admin token in json file and put it wherever there were files
![image](https://user-images.githubusercontent.com/85494277/133066525-4d74e2e6-5600-478b-bf42-313839a37639.png)
In 1st step, I used a personal token, to export my data from slack, like dm, private channels
Then need t

[2021-09-13 10:23] v3ss0n commented on #19727
Yes i need help , i am online now , let me know how i can debug this.

[2021-09-13 11:47] johanehinger commented on #19680
What about something like this?

![image](https://user-images.githubusercontent.com/65904251/133077585-d1067f4d-b784-4a59-86bd-5a3c9967a637.png)

![image](https://user-images.githubusercontent.com/65904251/133077860-027f725a-528f-4786-a003-8ab567c75374.png)

[2021-09-13 12:41] eeshangarg commented on #19682
@alya I haven't started yet. @madrix01 Thanks for offering to work on this! Please feel free to reach out on czo if you have any questions!

I would recommend by starting to track the code for when you go through the  `localhost:9991/new` flow. Going through the code for how a realm is created should help in understanding how everything comes together. A couple of starting points:
- Look at `do_cr

[2021-09-13 14:02] uzair-ali10 commented on #18286
@zulipbot  claim

[2021-09-13 15:32] #19711 closed

[2021-09-13 15:55] johanehinger commented on #19680
@zulipbot claim

[2021-09-13 16:05] madrix01 commented on #19682
@eeshangarg thanks for helping me on this issue !!
I went through the `do_create_realm` method and also through `Realm` in  `models.py`. I think the approach you gave is plausible.
I was having the doubt that when I create new realm I'm getting [this error](https://chat.zulip.org/#narrow/stream/49-development-help/topic/unable.20to.20create.20new.20realm.20in.20dev.20env/near/1254875)
And how do I

[2021-09-13 16:09] alya commented on #19680
Fully customizable expiration times are a separate follow-on issue: #19681

[2021-09-13 16:13] alya commented on #19680
The UI looks good! The one change I'd make is let's use standard US date formatting, e.g. `9/23/2021`), same as we do for the tooltip on timestamps.

@timabbott  Do we internationalize dates? I noticed that the timestamp tooltip is not translated in the Russian UI, but maybe nobody has gotten to it yet.

[2021-09-13 16:20] alya commented on #19709
@timabbott will have more insight into whether this is a good beginner issue.

[2021-09-13 16:28] johanehinger commented on #19680
@alya Perfekt, I'll implement the changes and get back to you.

[2021-09-13 16:30] alya opened #19737 "Change "Account and privacy" settings icon to a lock"
At present, **Personal settings > Profile** and **Personal settings > Account and privacy** menu sections are both represented by a person icon. The **Personal settings > Account and privacy** section icon should instead be changed to a lock.

![image](https://user-images.githubusercontent.com/2090066/133122018-095aea22-9cdb-439b-879c-13eb92ddd3eb.png)

[CZO thread](https://chat.zulip.org/#narrow/

[2021-09-13 16:37] timabbott commented on #19680
We do some internationalization of date/times, but I think it's incomplete.  Probably best to have a #translating thread on that.

For individual emails -- most products don't offer a way to create an individual invitation link that lasts for a very long time, because a months-old unaccepted invitation email is a security problem if someone's email account gets hacked.  There's also no obvious use

[2021-09-13 17:13] alya opened #19739 ""Change later messages to this topic" option cut off in Russian"
In the topic changing UI, the "Change later messages to this topic" option is cut off in Russian. Since there is plenty of space, we should make sure the selection box width adjusts appropriately for languages where the text is longer than in English.

<img width="395" alt="Screen Shot 2021-09-13 at 10 09 04 AM" src="https://user-images.githubusercontent.com/2090066/133127331-32d348fd-4353-4b8f-80

[2021-09-13 17:37] alexmv opened #19740 "Show "Download <filename>..." tooltip on uploaded file links"
The tooltip on uploaded files is just the filename.  Particularly on desktop (unlink in a browser, which gives the URL in the lower left), this gives the user no sense of what will happen when they click on the link.  For malicious files, it may be unclear to the user if this is going to open the file, execute it, or what-not; being specific as to the behaviour will increase user confidence.

[2021-09-13 17:45] v3ss0n commented on #19727
@AbhijithGanesh  are you a bot or real person?

Why you claim and no reply at all?

[2021-09-13 17:47] v3ss0n commented on #19727
Here is what i observed

- Every sessions got reloaded at the same time.
- Everyone logged out at the same time.
- Message sent before are sometime there , sometime not in the chat rooms
- Messages which was already arrived and seen by others , sometimes gone too.

[2021-09-13 20:55] v3ss0n commented on #19727
@timabbott  this is the issue for me , @Abhi-khandelwal  claimed but he didn't really helping , i am not sure it is even a spam bot.

Any pointers to how to debug this would be very helpful.

[2021-09-13 21:38] timabbott commented on #19727
@v3ss0n if you need more immediate assistance, a thread in `#production help` in chat.zulip.org is more appropriate than a GitHub issue.  Though really, you should buy a support contract rather than relying on free community help.

This is almost certainly caused by something you changed when the problems began - -did you `do-release-upgrade` the OS or something?  Don't answer here -- but include

[2021-09-13 21:38] #19727 closed

[2021-09-13 21:43] timabbott commented on #19709
This is probably accessible to someone good at using `git grep` and similar to trace call flows in a Python codebase.  Structurally, you want to pass the `mark_as_read` parameter through to to `do_send_messages` from the `maybe_send_resolve_topic_notifications` call to `internal_send_stream_message`.

Except that's probably awkward, since the participants are rare (So in a 10K user stream, you'll

[2021-09-13 22:08] madrix01 commented on #19369
@zulipbot abandon

[2021-09-13 22:10] madrix01 commented on #19682
@zulipbot claim

[2021-09-13 22:56] jonathanktran commented on #19712
@zulipbot claim

[2021-09-13 23:32] myedibleenso commented on #19631
@zulipbot claim

[2021-09-13 23:33] myedibleenso commented on #19631
@timabbott , I can confirm the REST API's `/send-message` endpoint works with `"send_later"`.  I'm in the process of documenting that functionality and will open a PR once finished.

[2021-09-14 00:12] #10607 closed

[2021-09-14 01:28] jonathanktran commented on #19737
@zulipbot claim

[2021-09-14 04:13] jonathanktran commented on #19639
@zulipbot claim

[2021-09-14 13:37] isakhagg commented on #19740
@zulipbot claim

[2021-09-14 14:25] sahil839 commented on #19657
I cannot reproduce this in both production and dev environment.

[2021-09-14 16:26] alya commented on #19657
Huh, I can't reproduced it anymore either.

[2021-09-14 16:27] #18545 closed

[2021-09-14 16:28] alya commented on #18545
Closed as a duplicate of #16019.

[2021-09-14 17:02] alya opened #19751 "Custom badges for user groups"
As a follow-up to #19525, we should make it possible to assign custom badges to user groups. These badges should be displayed alongside users's names in the buddy list and in the message feed.

We should think about how to visually distinguish badges from status emoji, e.g. with a different placement (before the name? right-aligned?).

This issue is a more general version of #9074. It should be po

[2021-09-14 17:13] #19737 closed

[2021-09-14 17:55] timabbott commented on #19631
Awesome!

[2021-09-14 17:55] Parth-Mittal-NITK commented on #19739
@alya It would be great if you could tell how to see that option as I couldn't enable it😅

[2021-09-14 18:24] johanehinger commented on #19680
@alya, @timabbott
Regarding the "never expires", is this acceptable?

![image](https://user-images.githubusercontent.com/65904251/133312399-b2394613-45d7-481a-b803-6283f9de3b57.png)

Or do you like this approach more?

![image](https://user-images.githubusercontent.com/65904251/133312713-2a451eef-1d06-4746-974a-57f1f10ba84e.png)

[2021-09-14 18:40] timabbott commented on #19680
The second option seems nicer.

[2021-09-14 18:55] v3ss0n commented on #19727
Why this issue is closed? I am trying to find out this bug .

[2021-09-14 20:23] v3ss0n commented on #19727
- The Instance the Zulip is running is not touched for more than a year. No dist-upgrade , nothing.
- What i am asking is any way to Debug and  track-down the problem , i am not asking you guys to do it  I am willing to help this solved for  not just me , but for community too.
- I am helping the project by reporting an issue , I should not need to buy a support for it.
I will post on zulip commun

[2021-09-14 21:39] alexmv opened #19754 "Failure to send a password reset email should not 500"
The password reset form calls `send_email` synchronously:

https://github.com/zulip/zulip/blob/e7c62c4190b8037f9a07e1c3d94be17e8f62f468/zerver/forms.py#L347-L376

This means that if that emails fails to send, it raises an EmailNotDeliveredException:

https://github.com/zulip/zulip/blob/main/zerver/lib/send_email.py#L262-L282

We should catch those in the password reset form, and display a message

[2021-09-14 22:17] alya commented on #19680
Agreed!

[2021-09-14 22:20] alya commented on #19739
The dropdown shows up once you make an edit to a topic following these instructions: https://zulip.com/help/rename-a-topic#rename-a-topic_1

[2021-09-14 22:20] alya commented on #19737
Awesome, thanks @jonathanktran !

[2021-09-15 00:09] eeshangarg commented on #19659
@alya I feel like it is fairly possible that the user had different usernames for different accounts. Although implementing these heuristics may get a little complicated, so a generic "hi" seems a lot easier. But if we were to go with a heuristic, the most commonly used name makes the most sense to me.

[2021-09-15 04:46] AbhijithGanesh commented on #19699
@timabbott can't the Svg on the static files be directly used? are there any downsides to it?

[2021-09-15 05:14] alya commented on #19699
Yes, as discussed on the thread linked above: "it would be great to still have some connection to the incoming Mail integration."

[2021-09-15 05:17] alya commented on #19659
How about this, to avoid the "hi" (which I find to be odd without a name):

------
Thanks for your request! Your email address iago@zulip.com is associated with the following Zulip accounts:

Zulip Dev: Log in at http://localhost:9991.
…

If you have trouble logging in, please contact Zulip support by replying to this email.

[2021-09-15 06:09] legopin commented on #17034
Issue resolved
https://zapier.com/apps/zulip/integrations

[2021-09-15 06:09] #17034 closed

[2021-09-15 06:18] legopin opened #19759 "Desktop long message overlaps with edit icon"
This is probably an UI issue

## Expected
When two long messages are sent in a row, there should be margin between text & edit icons

Web App
![Screen Shot 2021-09-15 at 2 12 16 PM](https://user-images.githubusercontent.com/15863509/133380157-9dbb5dfc-d0d4-4c77-b17a-7bd20add16e3.png)

## Actual
On desktop app the margin does not exist.

Desktop App
![Screen Shot 2021-09-15 at 2 11 46 PM](https://u

[2021-09-15 07:11] Parth-Mittal-NITK commented on #19739
@zulipbot claim

[2021-09-15 10:14] johanehinger commented on #19680
@alya @timabbott I think I'm done with my first attempt on contributing to Zulip (so exciting!). Please review my PR and note that I discovered two things that needs attention during this contribution and I think they are best suited as stand alone issues.

[2021-09-15 11:06] mountainchaser commented on #17716
@zulipbot abandon

[2021-09-15 11:42] eeshangarg commented on #19659
@alya Ooh I like that better! I think I'll go with that! :)

[2021-09-15 16:35] evykassirer commented on #19641
@zulipbot claim

[2021-09-15 18:30] AshtonSBradley commented on #16917
Please also move reply counter to the left of topic name. Names are noisy and subjective. Reply count tells me something other folks found this  interesting... I need to know this without any extra effort. And also thanks a bunch for your open source work!

[2021-09-15 18:49] timabbott commented on #13434
@Riken-Shah now that we've completed #19521, I think this would be a great follow-up project.

[2021-09-15 19:29] #19641 closed

[2021-09-15 19:33] timabbott commented on #13434
Tagging as a release goal since 90% of the work was done in #19521; we just need some frontend-side logic for this (and maybe a setting).  We should probably decide how the UX should work -- do we want a setting or this to be the default or something else -- @alya can you start a #design discussion?

[2021-09-15 19:40] eeshangarg opened #19764 "invites: Long invite URL leads to visually misaligned copy button."
Whenever an invite URL is sufficiently long, it breaks the CSS in the "Invite Users to Zulip" dialog such that the copy URL button is no longer aligned inline with the URL, as shown below:

![Recent_topics_-_testing17_-_Zulip](https://user-images.githubusercontent.com/7251823/133498513-cf33e54f-aea0-4bc3-96d2-5e838293dc5e.png)

Thanks to @alya for reporting this!

[2021-09-15 20:55] alya opened #19765 "Fix `x` icon overlap in search bar"
When the search bar has a lot of content, the `x` button to close it overlaps with the content, e.g. see the right side of the screenshot below:

![Screen Shot 2021-09-15 at 1 44 28 PM](https://user-images.githubusercontent.com/2090066/133508105-f4fdc096-57e2-4692-96b4-de16fff07433.png)

This issue also needs to be fixed in other search and filter bars.

[2021-09-15 20:55] alya commented on #19765
Perhaps related to #10423.

[2021-09-16 04:50] AbhijithGanesh commented on #19699
can you please tell me to the Mail integration codebase (directory), I will issue a patch today and we'll be able to fix it.

[2021-09-16 15:03] pavlo-yashchuk opened #19768 "Multiple import"
Hi
I have a problem with import data from slack
If I import only once - all good. But I need to use import the second time.
Is it possible to move your date to Zulip in a few imports? Let's say there are 10 people, of course not only users but also the rest of the new date (message from general chats for example)
Thanks for the help

[2021-09-16 16:47] Satendra124 commented on #18617
Hey,
can i work on this?
also I am a bit new to this can you explain the issue a bit more?

[2021-09-16 17:01] alya commented on #18617
Welcome @Satendra124 ! You are welcome to work on this issue. Please check out our [guide for new contributors](https://zulip.readthedocs.io/en/latest/overview/contributing.html), and comment here whenever you have specific questions about the issue.

[2021-09-16 17:14] timabbott commented on #19754
Hmm, I'm not sure what precise semantics we want here.  I think if the failure indicates that the server is unable to send outgoing emails at all, we do want a 500 error.  (One thing to consider is that the signup/password reset flows are often where self-hosted administrators might be when they are first trying to get email working).

So we perhaps want the behavior to depend on what type of exce

[2021-09-16 17:19] Satendra124 commented on #18617
Yes so i read the guide and did setup everything locally as well
so i don't understand "You can currently do it be resorting users by role in the Organization > Users menu"
In the users section in the right the only option i see is to search users (I did saw search operators but could not find anything related to sorting by role)
I don't know if I am looking at the right place can you help?

[2021-09-16 17:23] timabbott commented on #19727
We appreciate your effort to report a bug!  But the issue tracker is not an efficient place to investigate a report like this that does not contain any specific tracebacks or error messages.

This issue was closed due to our judgement that this is likely caused by some sort of operational problem with the individual self-hosted server.  If after a debugging session in chat.zulip.org, we're able to

[2021-09-16 17:28] alexmv commented on #19754
[SMTP error codes are an unregulated mess](https://en.wikipedia.org/wiki/List_of_SMTP_server_return_codes), which makes them very hard to act on.  For instance, a failure we recently saw in production was:
[code]
...and code 454 is _technically_ a transient failure of the receiver system, which is accurate here.  But it's also used for [declining to relay mail](https://bobcares.com/blog/454-4-7-1-

[2021-09-16 17:54] timabbott commented on #7564
With #18965 merged, we now have a nice `verify_signup` test helper, which seems very useful for deduplicating the patterns in the 1800 line UserSignUpTest.  More work is required to use that pattern fully.

[2021-09-16 17:59] timabbott commented on #18617
If you click the columns in the table, it'll sort by the column you clicked on.

Questions in the "development help" stream in https://zulip.com/developer-community/ is the best place for getting a quick
response to questions.  Generally you'll want to play with the part of the app in your development environment, use your browser "inspect element" feature to look at how that part of the page is i

[2021-09-16 18:12] alya opened #19770 "Bad alignment in warning banner"
In the banner alerting the user that the person they @-mentioned is not subscribed to the stream, the "Subscribe" button and the "x" buttton are not properly aligned.

This can be seen in English, where the `x` button is too low in narrow windows:
![Screen Shot 2021-09-16 at 11 09 49 AM](https://user-images.githubusercontent.com/2090066/133663127-b1c93b3e-766c-4d2a-9cbe-a18c0220d5c5.png)

The alig

[2021-09-16 18:25] Satendra124 commented on #18617
Thanks a lot :)

[2021-09-16 20:04] eeshangarg opened #19773 "webhooks/github: Verify webhook payloads before processing."
Recently, some third-party integrations have begun adding support for verification of incoming webhook payloads. GitHub [now supports this](https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks) and is one of the most popular webhook integrations.

We should implement the ability to verify incoming GitHub payloads. See [Securing your webhooks - GitHub](https://d

[2021-09-16 20:07] eeshangarg opened #19774 "webhooks/stripe: Verify webhook signatures in incoming payloads."
Recently, some third-party integrations have begun adding support for verification of their webhook payloads. Stripe now supports this.

We should implement the ability to verify incoming Stripe payloads. See [Check the webhook signatures - Stripe Docs](https://stripe.com/docs/webhooks/signatures) for more details!

[2021-09-16 20:16] alya opened #19775 "Use absolute dates for older topics in Recent topics"
At present, the **Recent topics** view uses relative times for when topics last received messages, e.g. "3 days ago". However, for topics older than "yesterday", absolute times are more helpful than relative times. This is consistent with how other apps present older messages, e.g. Gmail, Facebook Messenger, etc. See [CZO discussion](https://chat.zulip.org/#narrow/stream/137-feedback/topic/recent.

[2021-09-16 20:29] #17456 closed

[2021-09-16 20:30] alya opened #19776 "Use correct translations for relative times"
In some parts of the app, we use relative times to indicate when messages were sent or when a user was active. While we plan to change this pattern for **Recent topics** in #19775, we will still have relative times for the tooltip indicating when a user was last active.

At present, these relative times are not correctly translated into Russian and perhaps other languages (e.g. at least Japanese).

[2021-09-16 20:57] eeshangarg opened #19777 "webhooks/pagerduty: Verify webhook signatures on incoming payloads."
Recently, some third-party integrations have begun adding support for verification of their webhook payloads. PagerDuty now supports this.

We should implement the ability to verify webhook signatures on incoming PagerDuty payloads. See [Verifying webhook signatures - PagerDuty Developer Docs](https://developer.pagerduty.com/docs/webhooks/webhook-signatures/) for more details!

Related issues:
- #

[2021-09-16 21:15] maltokyo opened #19778 "Some URLs not clickable"
Some URLS in Zulip are not clickable.  Would anyone know why?  for example this one:

`https://podcasts.google.com?feed=aHR0cHM6Ly9mZWVkcy5ucHIub3JnLzUxMDI4OS9wb2RjYXN0LnhtbA%3D%3D&episode=MWE3OWQxMGYtN2QwNC00ZmU0LWFiODgtNjQ4OTMzZTQzZDM0`

Try to message it to yourself in Zulip, or someone else.  Or post it. Not clickable.

[2021-09-16 21:36] gnprice commented on #19776
For messages in the last day, I think we'll want absolute times like "11:34am" in the Recent Topics view.

But as that function name `last_seen_status_from_date` suggests, we also use relative times when saying things like "Last active: 3 hours ago" when you hover on the right sidebar. So we should use `Intl.RelativeTimeFormat` for those in order to get correct translations.

[2021-09-16 21:53] alya commented on #19776
Ah, sounds good. I will update the issue description/labels. I just confirmed that the "last active" tooltips use incorrect forms in Russian.

[2021-09-16 22:08] madrix01 commented on #19434
@alya I think this is a nice idea to add the support streams for QnA and other support also. People would not hesitate to ask for support or any query. But what if the same query has been asked in the stream earlier, we can't link the message link as students won't be able to see other topics.
I have finished working on issue #19682 . This seems a pretty interesting issue, Can I work on this?

[2021-09-16 22:46] timabbott commented on #19434
This probably is better as someone's 10th issue than someone's second; at least without a detailed technical design writeup already present on the issue.

[2021-09-16 23:45] alya opened #19780 "Indicate which streams are muted in Personal settings > Notifications"
The way we currently show notification settings for muted streams is confusing.

In the stream settings, we grey out notification settings for muted streams, correctly hinting that notifications are turned off when the stream is muted:
![Screen-Shot-2021-08-31-at-12 53 19-PM](https://user-images.githubusercontent.com/2090066/133702257-1713997c-e4bc-4293-b67c-616b613c0273.png)

However, when you go

[2021-09-17 00:40] timabbott commented on #19759
@legopin thanks for the report.  Can you reproduce this on chat.zulip.org?

Also, do you have the "fluid display width" display setting set?

[2021-09-17 03:17] legopin commented on #19759
@timabbott Here is the reproduction
https://chat.zulip.org/#narrow/stream/7-test-here/topic/long.20text/near/1255502

I'm not sure if these are the "fulid display width" settings you mentioned?

![Screen Shot 2021-09-17 at 11 17 07 AM](https://user-images.githubusercontent.com/15863509/133718716-21b61259-3f90-41c1-aa78-9d9c664af498.png)

[2021-09-17 05:45] andreas-bulling commented on #17456
Happy to test but I only have one running production system. Is there a safe way to pull only this change and revert back if it is not working?

[2021-09-17 06:16] jonathanktran commented on #19712
@zulipbot claim

[2021-09-17 08:37] aadityasinha-dotcom commented on #19770
@zulipbot claim

[2021-09-17 08:44] Parth-Mittal-NITK commented on #19739
@alya The PR is ready to be reviewed :)

[2021-09-17 09:26] Satendra124 commented on #18617
@zulipbot claim

[2021-09-17 13:01] Nahdus commented on #19775
@zulipbot claim

[2021-09-17 14:43] aadityasinha-dotcom commented on #19770
Hey @alya, can you explain me about this issue?

[2021-09-17 16:34] AbhijithGanesh commented on #19733
@zulipbot claim

[2021-09-17 16:39] sumit-kushwah commented on #19770
@zulipbot claim

[2021-09-17 16:45] sumit-kushwah commented on #19780
@zulipbot claim

[2021-09-17 17:30] AbhijithGanesh commented on #19699
@alya I would like to know how the image is being retrieved, I believe it is coming from the configuration of the email gateway bot

[2021-09-17 19:14] #19272 closed

[2021-09-17 19:45] timabbott commented on #19588
Thanks for the report @esamson!  I've opened [a pull request](https://github.com/zulip/zulip/pull/19784) with what I believe to be the correct fix for this.  It'd be amazing if you could test the changes on your Zulip server; I'll ping you in chat.zulip.org to discuss details of doing that.

[2021-09-17 19:50] timabbott commented on #19589
@esamson can you provide an example Slack payload or a pointer to the right part of their documentation?

https://api.slack.com/legacy/custom-integrations/outgoing-webhooks#legacy-info__post-data does not suggest the presence of a `command` field, but that is a legacy API.

[2021-09-17 20:01] gnprice commented on #19778
One salient fact about that URL that's probably related to why our linkifier isn't covering it is that it has the query (with `?`) come right after the host, with no path (no `/…`).

We should make the linkifier accept and linkify this sort of URL.

[2021-09-17 21:36] madrix01 commented on #19434
@timabbott Sorry for that, I'll try to take another issue, thank you, I loved this feature, I would like to solve this in future.

[2021-09-17 23:55] timabbott commented on #19770
@aadityasinha-dotcom can you explain what you're looking for?  The report above explains how to reproduce the issue in some detail.

[2021-09-18 05:14] rht commented on #19768
By 'date', did you mean 'data'? You can export the entire Slack workspace in one go. You don't have to do multiple imports.

[2021-09-18 06:37] esamson commented on #19589
Yeah, I haven't been able to find docs but just observed this by testing against Slack itself.

[2021-09-18 07:23] pavlo-yashchuk commented on #19768
@rht Yes, data.  My fault )
I am aware of this possibility, import in one go.
But I want to know if zulip has multiple import capability?

[2021-09-18 09:53] rht commented on #19768
No, it currently doesn't have such, because usually it is expected to export from one Slack workspace to one Zulip organization. Such a feature is unlikely to be built, unless you have a sound justification for it.

[2021-09-18 12:56] pavlo-yashchuk commented on #19768
It's clear.  I wanted to try switching to Zulip one team at a time for a month.
Thanks

[2021-09-18 12:56] #19768 closed

[2021-09-18 18:19] sumit-kushwah commented on #19619
@zulipbot claim

[2021-09-18 22:28] madrix01 commented on #19465
@alya Can I work on this issue ?

[2021-09-19 07:08] AbhijithGanesh commented on #19699
@zulipbot unclaim

[2021-09-19 07:09] AbhijithGanesh commented on #19733
@zulipbot claim

[2021-09-19 14:06] madrix01 commented on #19765
@alya I tried to fix this bug by increasing the `padding-right` to 40px in `#search_query` in `zulip.css`
![image](https://user-images.githubusercontent.com/51414879/133930412-86ba4cf4-c461-4159-9e22-662b445e1be3.png)
This is output after entering long string as input.
Is this the correct implementation ?

[2021-09-19 17:16] rakshit512002 commented on #19740
@alexmv Is the issue still open or it has been assigned to someone??

[2021-09-19 17:30] rakshit512002 commented on #19740
@alexmv It seems that 'isakhagg' is not working on this issue, can i work on it ?

[2021-09-19 17:34] rakshit512002 commented on #19770
@timabbott Can I work on this issue, as I am clear with what the issue report says.

[2021-09-19 17:35] rakshit512002 commented on #19770
@timabbott Can I work on this issue ? As I am clear with what the issue report says.

[2021-09-19 19:24] mitanshu001 commented on #19709
Thanks, Tim for the explanation
Unassignning myself as I am not getting much time currently, so other people can pick it up. In case no one starts working on it in 4-5  days will pick it up.
@zulipbot abandon

[2021-09-20 00:36] aadityasinha-dotcom commented on #19770
@rakshit512002 I am working on it.

[2021-09-20 06:25] AbhijithGanesh commented on #19733
Unassigning myself to work on another issue. @zulipbot unclaim

[2021-09-20 06:25] #19733 closed

[2021-09-20 06:41] rakshit512002 commented on #17307
@godlike786  Are you having a PR on this issue pending for review or are you still working on it ?

[2021-09-20 16:40] alya commented on #19765
I'm not the right person to comment on the implementation, but I think it looks good visually. Thanks!

[2021-09-20 17:28] alexmv commented on #19740
Sure -- have at it!

[2021-09-20 18:07] alya opened #19794 "Some checkbox borders cut off in settings menus (width-dependent)"
At certain intermediate widths, the right boundaries of some checkboxes in the settings menus are getting cut off. For example:

<img width="537" alt="Screen Shot 2021-09-20 at 11 06 14 AM" src="https://user-images.githubusercontent.com/2090066/134052101-009128a1-04b6-4cb6-88a6-e83f3b805097.png">

<img width="602" alt="Screen Shot 2021-09-20 at 11 02 38 AM" src="https://user-images.githubuserconte

[2021-09-20 18:26] madrix01 commented on #19765
@amanagr Have reviewed my pr #19790 , It's ok  by him.

[2021-09-20 19:12] rakshit512002 commented on #19740
@alexmv As this is my first contribution in Zulip and in fact my very first open source contribution itself, so as a beginner I find the codebase quite overwhelming. Can you please guide me a bit in terms of locating this issue ?

[2021-09-21 05:09] ankur12-1610 commented on #19794
@zulipbot claim

[2021-09-21 05:57] Prashantsurana opened #19797 "Github icon for bots, possible copyright violation."
Update by @alya 👍

- [ ] The GitHub logo icon should be replaced with https://fonts.google.com/icons?icon.query=smart+toy&icon.style=Rounded everywhere it appears associated with bots.
- [ ] We also need to use a different icon for integrations.

To resolve the issue, we should confirm that the GitHub is no longer used in the Zulip product unless specifically associated with GitHub (e.g., GitHub p

[2021-09-21 20:49] alexmv commented on #19740
You should make sure to start out by reading the [Contributing Guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) in our documentation!

This fix is likely a small change in javascript, in `static/js/util.js`:
https://github.com/zulip/zulip/blob/233d250eff4081cf2c300141cff5db7863837404/static/js/util.js#L300-L301

If you have other questions, please pop onto https://chat.zul

[2021-09-21 23:02] #19659 closed

[2021-09-21 23:04] timabbott commented on #19759
That screenshot does not have the "Use full width on wide screens" setting, which is what I was asking about.

[2021-09-22 06:05] bkmgit opened #19803 "Icons for language change in help"
The help section for how to change the language https://github.com/zulip/zulip/blob/main/templates/zerver/help/change-your-language.md can be improved by adding icons for the steps. The current steps are as follows:

- Click on the gear () icon in the upper right corner of the web or desktop app.
- Select Personal settings.
- On the left, click Display settings.
- Under Language settings, click th

[2021-09-22 06:28] AbhijithGanesh commented on #19734
@timabbott when updating the gravatar, I believe even this should be changed.

[2021-09-22 06:30] AbhijithGanesh commented on #19803
@zulipbot claim

[2021-09-22 06:34] bkmgit commented on #19803
Looking at this. It seems one needs to add icons in https://github.com/zulip/zulip/blob/b773048031731366424bee268f87192ec5c9a4e9/zerver/lib/markdown/help_settings_links.py

[2021-09-22 06:42] bkmgit commented on #19803
@AbhijithGanesh Thanks for taking this up, maybe can review and improve upon https://github.com/zulip/zulip/pull/19804 ?

[2021-09-22 06:56] bkmgit commented on #19803
Related previous work https://github.com/zulip/zulip/pull/9119

[2021-09-22 07:19] legopin commented on #19759
Oh I see that setting now,
I tried using  "Use full width on wide screens" on the test stream messages

For English & Chinese messages it did not make a difference.
This overlapping can be reproduced by resizing the desktop app window, it alternates between normal and overlap

From 1024 px tab width to 900 px, the overlapping happens intermittently based on how text is wrapped based on words.
![Sc

[2021-09-22 07:51] AbhijithGanesh commented on #19803
I shall review and work upon #19804 and #9119

[2021-09-22 07:59] isakhagg commented on #19740
@alexmv
Hi, I just did a pull request on this issue. Took me a while due to getting acquainted with the code base. Please check it out.
#19805

[2021-09-22 10:13] ankur12-1610 commented on #19794
@alya as per the given issue, I tested the responsiveness but I couldn't find the bug. Can you assist me with the same?

[2021-09-22 12:02] yashikajotwani12 commented on #19653
@zulipbot claim

[2021-09-22 13:20] devZer0 opened #19808 "Last activity status severely broken"
hello,
user "udo" in our chat at zulip.org replied to a message in a stream 21.09.2021 11:38:17 , but in user list, "last activity" is telling, that it's more then 2 weeks ago that the user was active.

in settings->user  for this user last activity status "unknown" is shown.

i have seem similar discrepancy in the past.

so, it looks the activity counting system is missing activities and thus is

[2021-09-22 17:00] alya commented on #19794
@ankur12-1610 are you saying you could not reproduce the bug, or that you are not sure where in the code the problem is?

[2021-09-22 17:12] eeshangarg opened #19810 "markdown: Document built-in preprocessor priorities."
As a follow-up to #19783, it would be good to document the priorities assigned to the built-in preprocessors that the Python-Markdown library has. A couple of notes:
- This involves a bit of grunt work, the quickest way to do this is to loop over and print `md_engine.preprocessors._priorities` in `zerver/lib/templates.py`.
- Note that in `templates.py`, there are different cases where different se

[2021-09-22 17:40] ankur12-1610 commented on #19794
@alya I'm not sure where the exact problem is. I checked the settings menu but I couldn't find the breaking point in the checkboxes. So it is both ways round and I'm confused regarding the same.

[2021-09-22 17:49] kevjn commented on #19810
@zulipbot claim

[2021-09-22 18:39] alya opened #19812 "Add section headings for stream categories"
With the addition of a section for muted streams in #19533, the left sidebar has four potential stream groupings. This becomes confusing when the groupings are not labeled. To address this, we should add section headings to the left side bar with the following names:

* Pinned streams
* Active streams
* Muted streams
* Inactive streams

Notes on the visual design:
* The section names should replac

[2021-09-22 18:51] alya commented on #19794
Hmm, interesting. I started a [thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/menu.20checkboxes) in the developer community to discuss.

[2021-09-22 21:47] timabbott commented on #19734
Fixed -- I just needed to upload the logo to the GitHub applications UI.  I also submitted the logo update for our Google authentication application, though that apparently will take 4-6 weeks for "verification" before being approved.

Thanks for the report @AbhijithGanesh!

[2021-09-22 21:47] #19734 closed

[2021-09-22 21:53] ankur12-1610 commented on #19794
Thank you, I'm still working on it and if I find the bug, I'll let you know!

[2021-09-22 23:11] timabbott commented on #19768
I wouldn't say that we're unlikely to build a multiple import system; https://github.com/zulip/zulip/issues/11335 tracks that proposal.  It's something we're likely to get to, but isn't being actively worked on.

[2021-09-23 04:13] yashikajotwani12 commented on #19812
@zulipbot claim

[2021-09-23 05:11] AbhijithGanesh commented on #19808
I would like to work on this  issue and fix the last activity status bug.

[2021-09-23 05:11] AbhijithGanesh commented on #19808
@zulipbot claim

[2021-09-23 05:12] AbhijithGanesh commented on #19803
@zulipbot unclaim

[2021-09-23 05:12] AbhijithGanesh commented on #19808
@zulipbot claim

[2021-09-23 05:12] AbhijithGanesh commented on #19808
I would also appreciate if the CZO thread is posted here.

[2021-09-23 05:18] bkmgit commented on #19803
@AbhijithGanesh Thanks for your efforts. Did you try to run  Zulip to check the changes in either of the pull requests?

[2021-09-23 10:00] kevjn commented on #19810
@eeshangarg This is my first issue I am working on as part of a master's course in open source at Linköpings university.

It took some time to find an entry point for `render_markdown_path` function inside `zerver/lib/templates.py`. The tests from [Markdown implementation](https://zulip.readthedocs.io/en/latest/subsystems/markdown.html?highlight=markdown#testing) does not seem to run aforementione

[2021-09-23 14:40] brijsiyag commented on #19353
I would like to work on 4th part.

[2021-09-23 14:42] optimm commented on #19353
@zulipbot claim

[2021-09-23 14:42] optimm commented on #19353
hey @garg3133 , sir i would take the task one

[2021-09-23 14:49] garg3133 commented on #19353
You don't need to claim the issue, just comment here which part you wish to work on and go ahead.

[2021-09-23 14:49] Nahdus commented on #19775
@zulipbot abandon

[2021-09-23 15:46] timabbott commented on #19808
@AbhijithGanesh welcome to the project!  It'd be best to not try to claim issues that you don't know how to make progress on.  This issue certainly is in that category, in that we first need to identify a reproducible issue through conversation with the user.

@devZer0 one possibility is that the user has enabled the privacy feature to not update their presence information (https://zulip.com/help/

[2021-09-23 15:47] timabbott commented on #19803
@bkmgit can you talk about how adding additional icons on this help document will help users?  The issue doesn't make clear what problem we're trying to solve; I can imagine a few possibilities, but clarity on the problem is important before trying to solve it :)

[2021-09-23 15:51] timabbott commented on #19797
Certainly Zulip has a built-in GitHub integration that is enabled through the "bots" UI widget, so this component is certainly intended to advertise the existence of a GitHub integration.  But it is likely better design to use our `bot.svg` icon that is used to decorate messages sent by bots in Zulip, since Zulip supports 100+ built-in integrations, and there's no compelling reason for GitHub to g

[2021-09-23 15:53] timabbott commented on #19730
Agreed; I feel like this came up in the last week for another reason as well.  This should be addressed by using `with override_language(realm.default_language)` like we do other messages by Notification Bot.  `maybe_send_resolve_topic_notifications` in `zerver/lib/actions.py` is the location of the code in question.

[2021-09-23 15:59] bkmgit commented on #19803
The icons are particularly helpful when changing language as a user.  The help section for how to do this has text, so if Zulip is not by default in a language one is very familiar with, the icons are much more useful than the text to determine what to click on to change the language.

[2021-09-23 16:07] timabbott commented on #19659
I think we ended up removing the "Thanks for your request!" because it wrapped oddly in the original paragraph spacing; we could re-add it as a first paragraph if we think it helpful.  (I'm kinda torn on which is better).

[2021-09-23 16:18] uzair-ali10 commented on #18286
@zulipbot
I'm still working on it

[2021-09-23 17:31] AbhijithGanesh commented on #19808
I shall try replicating the issue and let you know Tim, if the issue was actually an issue and not a privacy feature, can I work on this?

[2021-09-23 17:54] eeshangarg commented on #19659
@timabbott I honestly don't think it is super important, to be honest! Getting to the point right away is fine if it preserves the brevity of the email in the case that the email ends up being longer than usual.

[2021-09-23 18:08] alya commented on #19797
I can start a thread on the naming question, but I think that's separate from the icon issue, where we should just see if bot.svg looks good. If not, we will need to figure out a different icon -- I agree that the GitHub one doesn't make sense there.

[2021-09-23 18:14] alya commented on #19659
I can comment in a more informed way if someone posts a screenshot, but I agree that we probably don't need that phrase.

[2021-09-23 18:19] #19588 closed

[2021-09-23 18:33] madrix01 commented on #19774
@eeshangarg I wanted to work with backend and learned about webhooks. Can I work on this ??

[2021-09-23 18:45] eeshangarg commented on #19774
@madrix01 This is a bit of a larger project, but feel free to pick it up. My guess is this would be a larger feature that might need its own database table, so our [Writing a new application feature](https://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html) tutorial might help.

[2021-09-23 19:07] gnprice opened #19820 "Settings modal breaks browser back button"
Our settings modal breaks the browser's navigation stack. The basic symptom is:
* I go to settings, via the gear menu.
* I finish whatever I wanted to do there, and hit the back button. (Usually actually Alt+Left, or a button on my mouse that's bound to that.)
* Expected: I get back to the screen I was on -- usually a narrow.
* Actual: I'm still on the settings screen.

It's possible to work aroun

[2021-09-23 19:18] eeshangarg commented on #19659
After the latest changes without thanks:
![without_thanks](https://user-images.githubusercontent.com/7251823/134569717-4476e74d-eb83-4225-b494-45f53238aef2.PNG)

Thanks in the same paragraph:
![before_thanks](https://user-images.githubusercontent.com/7251823/134569721-b7df6ed5-941b-41c6-ab44-8e69cb6bd03c.png)

Thanks in a separate paragraph:
![with_thanks_on_separate_paragraph](https://user-images

[2021-09-23 19:19] gnprice opened #19821 "Status emoji should have tooltip with name"
When you encounter an emoji in a Zulip message or reaction, there's a tooltip on hover that tells you the name of the emoji.

This is valuable because it makes it discoverable how to enter the same emoji yourself. It can also help you interpret what an emoji means, when the glyph isn't clear.

When another user has set a status emoji and that appears next to their name in the right sidebar, we don

[2021-09-23 19:23] eeshangarg opened #19822 "markdown/tabbed_sections: Raise exception for missing tab name."
As discovered in #19807, missing tab names are currently silently ignored by our `tabbed_sections` Markdown extension, this is not right. We should raise an exception somewhere so that missing tab names are caught before they make their way into production. This should hopefully be a quick fix! Ideally, we should do this in a manner such that something in `zerver.tests.test_markdown` or some other

[2021-09-23 20:03] timabbott commented on #19822
I would expect `test_docs` to fail if an exception is thrown when rendering a page, since I believe we render all /help/ pages in those tests.

[2021-09-23 20:49] optimm commented on #19353
@garg3133 Sir have made a pull request please review and let me know if any changes are required , Thank you

[2021-09-23 20:58] gnprice commented on #5854
This issue has been open for a long time.

I think it's likely that there are one or two fairly doable, concrete steps we can take that would improve the situation quite a lot. We don't need to learn all the clever things that Google or Dropbox etc. might do before we can make things substantially better.

Currently, if you log out and then immediately log back in again from the same browser, do w

[2021-09-23 20:59] alya commented on #19659
I think the benefit of the "Thanks for your request" part is that it reminds the user that they are the ones who asked for this email. E.g. if they forget about it and see it the next day, they are less likely to interpret the email as spam. So thinking about it more, if anything, we should provide *more* context to remind the user why they are getting this email.

[2021-09-23 21:11] timabbott commented on #19659
Yeah agreed that's why to have it, especially since someone else can put in
your email here.

-Tim Abbott (mobile)

On Thu, Sep 23, 2021, 13:59 Alya Abbott ***@***.***> wrote:

[2021-09-23 21:37] v3ss0n commented on #19727
I had joined zulip production chat , and tried
`/home/zulip/deployments/current/scripts/setup/reindex-textual-data --force`
but same problem.

[2021-09-23 22:17] eeshangarg opened #19827 "links: Link to /developer-community instead of chat.zulip.org."
We now have a [dedicated page](https://zulip.com/developer-community/) for our developer community, so we should link to `/developer-community` instead of chat.zulip.org in places such as our welcome emails and everywhere else.

[2021-09-23 22:27] devZer0 commented on #19808
hell tim, sorry, i was not aware of this feature and asked the user.
anyhow, it would be useful if this could get overridden by organization policy, otherwise there is no possibilty to phase out permanently inactive users.

[2021-09-23 22:28] eeshangarg opened #19829 "Use the viewer's language to translate resolve topic notifications."
After #19828, we use the organization's default language when translating the resolved/unresolved topic notifications. We should ideally automatically translate these notifications into the user's/reader's language.

Doing so will likely involve using the `message_type` attribute added in #19181 to determine which messages are (un)resolve topic" messages, and just having frontends replace the mess

[2021-09-23 22:45] timabbott commented on #19827
`git grep chat.zulip.org` is probably a good first step for this.

[2021-09-24 00:22] #19730 closed

[2021-09-24 08:23] alexanderglueck opened #19837 "Image not widening as zoom level is increased"
**Describe the bug**

When viewing a tall and narrow image (eg phone screenshot) and zooming in, the zoom level is increased, however, the image stays within the original boundaries.

**To Reproduce**

Send a tall and narrow image to another user and click on the image to open the image viewer. Zoom in. The image gets zoom in. The boundaries stay the same.

Example image provided:
![narrow](https:

[2021-09-24 09:39] ankur12-1610 commented on #19827
@zulipbot claim

[2021-09-24 09:42] ankur12-1610 commented on #19827
@eeshangarg I understood this issue, can I solve it?

[2021-09-24 10:20] eeshangarg commented on #19827
Absolutely, please let me know if you have any questions or need a review!
Thanks!

On Fri, Sep 24, 2021 at 5:42 AM Ankur ***@***.***> wrote:

[2021-09-24 11:56] madrix01 commented on #19774
I'll try to work on it. I was doing research for stripe new webhook documentation and for stripe documentation about `Check the webhook signature` about issue #19774 . According to me, we have to verify that the events that Stripe send. I was having doubt that why a new table is required?

[2021-09-24 12:22] eeshangarg commented on #19774
@madrix01 Oh yes that's right, a table is not necessary for this one. I do think you'll need to get the Stripe API key from `dev-secrets.conf` though and use that to verify the webhook signature.

[2021-09-24 12:24] eeshangarg commented on #19774
@madrix01 See our [Stripe integration docs](https://zulip.com/integrations/doc/stripe) to see how to set up the Stripe webhook in the dev env. You'll need to set up a free Stripe account.

[2021-09-24 13:43] ankur12-1610 commented on #19794
@alya I have a small request, I found an issue and I believe I can solve it quickly. Can I solve the issue?  If there isn't any problem with solving 2 issues simultaneously?

[2021-09-24 13:47] dmitry-sobol opened #19833 "convert_slack_data issue"
Got an error when tried to convert slack archive:

`./manage.py convert_slack_data export-edited-3.zip --token xoxb-HIDED --output converted_slack_data --verbosity 3 --traceback
Converting data ...
Traceback (most recent call last):
  File "./manage.py", line 52, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/zulip-venv-cache/cc77818846b328558cc9444c67cbbe0121ca80f4/zulip-py3-ven

[2021-09-24 14:26] ankur12-1610 commented on #19827
Thank You @eeshangarg.
So first of all I'll do grep and then I'll replace chat.zulip.org/developer-community.
I did `git grep chat.zulip.org` and I did get the list of all the places where chat.zulip.org is used.

But I'm not clear where to make the changes, like could you please give me some examples?

Here are the screenshots of the files where chat.zulip.org is present.
![gnome-shell-screenshot

[2021-09-24 14:42] mateuszmandera opened #19835 "renumber-migrations modifying actual code of a migration"
I've used `renumber-migrations` to fix numbering after a rebase, for #16381. I'm fairly confident I didn't do something in my editor to cause this, so I think the culprit has to be `renumber-migrations` doing something strange with string substitution, inserting the name of a migration added by one of the `upstream/main` commits I was rebasing on top of (`0353_remove_realm_default_twenty_four_hour

[2021-09-24 15:15] eeshangarg commented on #19827
@ankur12-1610: These are the ones that are the most relevant:

[code]

A couple of quick notes:
- Wherever we link to chat.zulip.org, change the link to `/developer-community` and the hyperlink text to `The Zulip developer community` (if needed).
- Wherever we say "chat.zulip.org" but the link is to `/developer-community`, change the hyperlink text to `The Zulip developer community`.

That should

[2021-09-24 17:29] alya commented on #19700
Related issue: #6381

[2021-09-24 18:30] alya commented on #19794
@ankur12-1610 please go ahead and submit a PR if you have a fix -- thanks!

[2021-09-24 19:35] andersk commented on #19837
Duplicate of #18939.

[2021-09-24 19:35] #19837 closed

[2021-09-24 22:56] timabbott opened #19838 "Make avatars publically accessible in organizations with web public streams enabled"
At present, the prototype web-public streams system (#13172 / #18532) is not able to display large-size avatars for users, and likely cannot display small-size avatars for users who've uploaded a custom avatar (i.e. not Gravatar).

At the same time, we want to preserve the model that user-uploaded avatars are only available to users (not the Internet) in organizations that are not using web-public

[2021-09-24 22:59] timabbott opened #19839 "Optimize page_params size and general load time with web-public streams in 10K+ user organizations"
We should do a round of profiling and optimization to make loading the "web-public view" for an organization fast (e.g. <0.5s loading time, ideally better) even in organizations with very large sets of users, like the 20K in chat.zulip.org.

There's probably several handy optimizations we can do here, e.g. compressing data about users that we send to clients.  But probably it'll be a lot easier to

[2021-09-24 23:03] timabbott opened #19840 "Rate limit access to uploaded images in web-public streams"
Since it is possible for a Zulip web-public stream to provide anonymous access to images or other files, malicious actors could attempt to use Zulip's new web-public streams feature to distribute malicious content.  While it's impossible to prevent completely, one thing that we can do that might help considerably is using our standard rate-limiting mechanisms to limit the number of accesses to a g

[2021-09-24 23:05] timabbott opened #19841 "Hide "All messages" and "streams" sidebar \vdots menus for web public access."
Neither of these menus have any items that are useful for spectators, so it's probably simpler to hide the menus entirely rather than hiding every item in them and then having the design challenge of showing an empty menu.

Additionally, the "View user profile" popover that appears when clicking on a sender name should have menu items that are not usable by spectators hidden.

[2021-09-24 23:18] alya commented on #15290
Old related issue: #11699

[2021-09-24 23:20] alya commented on #19362
Thank you for the detailed report!

@timabbott should this issue be combined with #9165?

[2021-09-24 23:23] timabbott opened #19842 "Consider mechanism for displaying subscriber counts for web public streams"
At present, the way that the web-public streams infrastructure works, we display 0 subscribers to all streams, because the server doesn't offer subscriber data to clients.

This is probably not a blocker for completing the feature (we can just hide the display widget if needed, and probably will do that), but longer term, we'd ideally cache on the `Stream` object just the total the number of subsc

[2021-09-24 23:27] timabbott commented on #19839
I did a bit of testing on this topic today, and in a development environment with 10K total users, the load time is about 300ms on the backend, 500ms end-to-end, with no network latency, and a 4MB (uncompressed size) payload in `/` (basically `page_params`).  I suspect, but have not confirmed, that the `realm_users` data set dominates this.

We can likely do substantially better with strategies to

[2021-09-24 23:29] timabbott opened #19843 "Add Sign Up / Log In buttons next to gear menu for spectators"
The high level approach taken by forum software seems like a good choice for the spectators view, of having a clear "Log in / Sign up" set of buttons in the upper-right corner (perhaps to the left of the gear menu, for us).  E.g. Discourse is a good example, though I wouldn't want to copy their approach of having one of the buttons disappear if you scroll down a bit.

https://discourse.julialang.o

[2021-09-24 23:31] timabbott opened #19844 "Advertise "Recent topics" at the bottom of individual topic threads for spectators"
There's a bit of a UX problem that someone new to Zulip who arrives as a spectator might not be sure how to find additional content.  We should have a simple advertisement of what the best thing is to find other content, which is likely going to be "Recent topics".  I think the model taken by forum software like Discourse is a good inspiration:

![image](https://user-images.githubusercontent.com/2

[2021-09-24 23:46] timabbott commented on #19362
Yes, this is essentially the same issue as #9165; structurally, we need to adjust the system for stemming message content to give URLs special treatment as discussed there.  I think this is different, though, since this is about link text rather than the URL itself, so I don't think we should close as a duplicate.

One thing worth testing is whether the pgroonga backend does a better job with this

[2021-09-25 06:10] ankur12-1610 commented on #19794
Okay @alya, I'm sorry for the inconvenience. I'll start on this once I finish my issue.
Thank You!

[2021-09-25 06:10] ankur12-1610 commented on #19794
@zulipbot abandon

[2021-09-25 06:12] ankur12-1610 commented on #19827
@eeshangarg thanks for the help, I'll try to solve it as early as I can.

[2021-09-25 13:43] madrix01 commented on #19774
@eeshangarg I have setup testing for stripe and also checked for the `HTTP_STRIPE_SIGNATURE` which is to be verified. But after seeing the docs it requires to create a `stripe.Webhook.construct_event()` and it requires `stripe` library. Can you help me here?

[2021-09-25 16:25] ankur12-1610 commented on #19827
@eeshangarg both links:
[https://zulip.com/developer-community/](https://zulip.com/developer-community/)
[https://chat.zulip.org/developer-community/](https://chat.zulip.org/developer-community/)

work.

Which one should I use?

[2021-09-25 18:15] ankur12-1610 commented on #19827
@eeshangarg I have raise a PR: #19846.

Kindly review it.

[2021-09-26 08:54] pradyumn014 commented on #19822
Hi, I'd like to work on this
@zulipbot claim

[2021-09-27 09:59] Satendra124 commented on #18617
@zulipbot abandon
I will work on it later if available

[2021-09-27 12:18] isakhagg commented on #19740
@rakshit512002 the PR #19834 is unecessary. Since this issue is already fixed in PR #19805

[2021-09-27 12:48] Parth-Mittal-NITK commented on #19739
I have made a PR which is yet to be reviewed

[2021-09-27 14:32] johanehinger commented on #19680
@zulipbot Yes I'm still working on it, if anyone is interested at checking it out you can do so here #19761

[2021-09-27 14:55] emil19 commented on #18617
@zulipbot claim

[2021-09-27 15:53] rakshit512002 commented on #19821
@zulipbot claim

[2021-09-27 15:54] rakshit512002 commented on #19821
@zulipbot add "good first issue"

[2021-09-27 15:54] rakshit512002 commented on #19821
@zulipbot claim

[2021-09-27 16:19] v3ss0n commented on #432
we have done this a lot  in web clients too , web is easily capbale for that task using  canvas API. High performance too.

[2021-09-27 16:32] alya commented on #19794
No problem, thanks!

[2021-09-27 17:42] #19810 closed

[2021-09-27 17:54] #19740 closed

[2021-09-27 17:57] timabbott commented on #19833
@hackerkid @garg3133 @rht FYI -- I think there's also a chat.zulip.org thread for this, but we should make sure to close the issue when we finish debugging that.  (This is the kind of fix we'd backport to the 4.x branch).

[2021-09-27 17:58] timabbott commented on #19803
@alya thoughts?  I think the right fix it to (1) provide a direct link to "display settings" to remove a step and (2) to perhaps do something in the UI to decorate the "choose language" option, and then we can document that path.

[2021-09-27 18:03] alya commented on #19803
@timabbott agreed regarding (1).

Could you explain (2)? I'm not sure what you mean there.

[2021-09-27 18:04] timabbott commented on #19833
https://chat.zulip.org/#narrow/stream/31-production-help/topic/Slack.20Import is the Zulip thread.

[2021-09-27 18:29] timabbott commented on #19820
@sahil839 may have some insight since I think he recently fixed a similar bug?

[2021-09-27 18:32] sahil839 commented on #19820
I remember looking into this when reported on chat but am not sure. Will investigate again.

[2021-09-27 18:34] andersk commented on #19774
(For the record, Stripe has supported this [since 2017](https://web.archive.org/web/20170702041740/https://stripe.com/docs/webhooks#signatures).)

[2021-09-27 19:11] johanehinger commented on #18944
@zulipbot claim

[2021-09-27 19:18] johanehinger commented on #18944
@alya I cant claim this issue since I'm still assigned on #19761 (Please consider merging that PR so that I may assign myself to this issue). Regardless I have started working on this issue. Please tell me what you think of the design, should there be a gap between "Mute this user" and "Manage this user"?

With a gap:
![image](https://user-images.githubusercontent.com/65904251/134970632-dfae2237-4

[2021-09-27 19:26] alya commented on #18944
Thanks @johanehinger ! I think the second screenshot (without a separator) looks good -- I feel like more than having more than three sections gets overwhelming.

[2021-09-27 19:28] johanehinger commented on #18944
@alya Yes I think that looks better too, I will continue working on this.

[2021-09-27 19:29] alya commented on #18944
Great, thanks!

[2021-09-27 20:26] alya opened #19848 "Hint for creating streams needs a wider margin"
In the Streams menu, we offer advice for creating streams: "First time? Read our guidelines for creating and naming streams."

This hint should have a wider margin specified. The margin issue has no impact in English, but can be seen in a language like Russian that has longer text in this space:

<img width="1031" alt="Zulip_-_Zulip_Community" src="https://user-images.githubusercontent.com/2090066

[2021-09-27 20:44] alexmv commented on #19727
For future reference, this was tracked down to be a certificate problem with an upstream reverse proxy, which was also dropping `X-CSRFToken` headers.

[2021-09-27 22:19] alya opened #19849 "Change notification settings for a channel from default to custom via Personal settings > Notifications"
At present, the Personal settings > Notifications menu lists the channels that have custom notifications assigned. However, there is currently no way to customize notifications for an additional channel from that menu. This can be annoying to the user, as they would have to navigate to the appropriate tab in the channel menu in order to add another channel to the custom notifications list.

In ord

[2021-09-28 05:17] bkmgit commented on #19803
For (2), my understanding is have an icon in addition to the text, so that if a language you do not know well is chosen by default, you can more easily change the language for your personal settings by clicking on buttons with the right icons.

[2021-09-28 06:21] johanehinger commented on #18944
@alya Is this the expected behavior?

https://user-images.githubusercontent.com/65904251/135032236-ae9f7266-9675-4eb2-bfe4-1d9f327e3717.mp4

Please note that I haven't had time to implemented the "deactivate" button that you talked about in the issue but it is coming.

[2021-09-28 13:15] sahilsaini110 commented on #19848
@zulipbot claim

[2021-09-28 18:54] timabbott opened #19857 "Add button to scroll-to-bottom in the "Scroll down to see your new message" widget."
If you send a message in the "All messages" view when scrolled up such that your new message is offscreen, we display a notice above the compose box that you need to scroll down in order to see your new message, so you're not left wondering where it went.  We should enhance that notice to have a "Jump to bottom" type button/link available, since that's probably what users will want to do 30% of th

[2021-09-29 00:57] alya commented on #18944
Hm, I can't quite tell from the video, but does the user popover open at the same time as the rest of the user management menu, or does it require a separate click? It should open immediately with just the click from the profile menu.

[2021-09-29 03:57] alya opened #19860 "Make it easy to reset stream to default notification settings"
At present, once custom notification settings have been selected for a stream, there is no easy way to reset it back to the defaults. One can manually make the notification settings match the current default, but it's unclear to the user what will happen if the defaults are changed, i.e. whether the settings for that (previously customized) stream will then automatically change as well.

To addres

[2021-09-29 11:55] nikhilmaske-2001 commented on #19860
@zulipbot claim

[2021-09-29 13:35] johanehinger commented on #18944
It is just one click, however in the video it is hard coded just to see if I understood the issue correct, I will solve it dynamically now when I know that I'm not wasting time implementing the wrong thing.

[2021-09-29 13:55] gdelafond commented on #13948
Hello,
Is there some news about the SAML logout service ?
@mateuszmandera did you begin something one this?
Thank you.

[2021-09-29 14:04] gdelafond commented on #13948
@mateuszmandera SCIM will be nice to have :)
Is there a way we could help on SAML logout?

[2021-09-29 15:47] pradyumn014 commented on #19653
@zulipbot claim

[2021-09-29 17:14] alya commented on #18944
Ok, great!

[2021-09-29 17:31] timabbott commented on #19690
@mwm341 can you link to documentation on how Magic Mirror's API works, and write out a bit of a vision for what you'd be excited for such an integration to do?  I could imagine this being a fun project for a community member, but I don't think this is particularly actionable.

[2021-09-29 17:45] timabbott opened #19861 "Soft reactivate users who sending them an email or push notification"
Zulip has this great [soft deactivation](https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html#soft-deactivation) feature, which makes a huge difference in the performance of sending messages in organizations with 10Ks of inactive users.

However, one problem that it has is that it can be a somewhat bad experience to come back from soft deactivation with 50K+ unreads, sometimes r

[2021-09-29 18:26] amanagr opened #19862 "Show a scroll to bottom button on bottom right corner when user is trying to scroll a long list of messages."
Discussion thread - https://chat.zulip.org/#narrow/stream/101-design/topic/autoscroll.20when.20sending.20off.20screen

[2021-09-29 22:11] timabbott commented on #17842
This was fixed via https://github.com/zulip/zulip/pull/19729.

[2021-09-29 22:11] #17842 closed

[2021-09-29 23:08] timabbott commented on #13948
@gdelafond certainly!  In what way are you interested in helping?

Structurally, we can do a little writeup that points out the functions one would want to call to do the plumbing, and then we can help write tests once one has a working prototype, but I'm not sure what you had in mind.

[2021-09-29 23:21] timabbott commented on #19353
I merged #19824 today as well!  It'd be great to get these last items checked off as well if we can.

[2021-09-30 01:00] alya opened #19865 "Show status emoji in message feed and PMs"
At present, status emoji are shown in the buddy list, but are not displayed elsewhere. To make them easier to notice (very useful if someone is on vacation, for example), we should display status emoji in a couple of other places where the user's name in shown:

1. In the message feed for messages sent by the user.
2. In the list of PM conversations in the left sidebar.

The status emoji should be

[2021-09-30 01:03] andersk commented on #19525
Initial work toward what this will look like is in draft PR #19866.

[2021-09-30 03:48] aadityasinha-dotcom commented on #19770
@zulipbot abandon

[2021-09-30 04:29] rakshit512002 commented on #19770
@zulipbot claim

[2021-09-30 06:35] rakshit512002 commented on #19821
@gnprice Can you please help me with finding the files related to the emoji implementation as I can't get any hint about it even from the Directory Structure.

[2021-09-30 07:35] sahilsaini110 commented on #19848
Hello @alya
I am new to open source, but really excited to raise my first PR,
may you plz guide me more on this issue if possible. like in which file I will get this.

[2021-09-30 07:59] varac commented on #11939
Great to see OIDC support in Zulip! Did anybody tested it so far and can share their experience ? Also, when can we expect a 5.0 release containing OIDC ?

[2021-09-30 08:05] AnushaNathRoy commented on #19865
@zulipbot claim

[2021-09-30 14:19] vishkrish200 commented on #19862
@zulipbot claim

[2021-09-30 16:58] vishkrish200 commented on #19862
@zulipbot abandon

[2021-09-30 19:41] alya commented on #19848
@sahilsaini110 welcome!

Please check out our [guide for contributors](https://zulip.readthedocs.io/en/latest/overview/contributing.html) if you haven't had a chance to yet. If you have specific questions you're struggling with, you can ask for help in the [#**development help** stream on chat.zulip.org](https://chat.zulip.org/#narrow/stream/49-development-help).

`git grep` can be helpful for fin

[2021-09-30 20:17] alya opened #19872 "Navigating away from and back to message editing breaks stream auto-complete"
Reproducer:

1. Start editing a message.
2. Navigate to somewhere else in the app (e.g. click on a different steam).
3. Use the "back" button (I did this in the desktop app) to navigate back to the message you were editing.

Expected: Everything should be just as you left it.
Actual: Stream auto-complete is broken, producing a blank "Filter streams" text box, as shown in the screenshot below.
![Sc

[2021-09-30 20:21] timabbott opened #19873 "Fix linking to topic names containing multiple backticks with in-message markdown"
The following syntax (note the two backticks) to link to a topic will generate a corrupted link that does not point to the intended topic.
[code]

I don't understand the cause, but it's presumably some bad interaction between the code block functionality and this feature.  Original report here: https://chat.zulip.org/#narrow/stream/9-issues/topic/broken.20topic.20link/near/1258861

I'm not sure wh

[2021-09-30 20:23] alya opened #19874 "Topic auto-complete not updated to new stream in message edit UI"
Reproducer:

1. In the message edit UI, change the **stream** for the message.
2. Now edit the **topic** for the message.

Expected: Topic auto-complete has the topics from the new stream the message is being sent to.
Actual: Topic auto-complete has the topics from the original stream.

[2021-09-30 20:38] alya opened #19875 "Fix alignment in "Move topic" menu"
At present, in the "Move topic" menu, the spacing between the checkbox options for stream notifications looks off:
![Screen Shot 2021-09-30 at 1 35 36 PM](https://user-images.githubusercontent.com/2090066/135526772-bd6d208a-83db-44c9-a3f8-c6d19e47faa6.png)

We should change the layout to always put the second option on a new line.

[2021-09-30 20:39] timabbott commented on #19874
The fix is likely to reinitialize the typeahead for the topic element whenever changing the stream in the dropdown.

We likely have the bug in both message editing widgets -- the left sidebar one and the one inside the message feed.

@aryanshridhar FYI.

[2021-09-30 20:45] alya opened #19876 "Add topic auto-complete to "Move topic" menu"
At present, topics auto-complete in the "Edit message" menu, but not in the "Move topic" menu when accessed from the left sidebar. It would be helpful to add topic-auto complete to the left sidebar menu as well, as sometimes the user wants to merge the topic they are moving with an existing topic. The topics list should be based on the currently selected stream (i.e. the stream the topic is being

[2021-09-30 20:45] alya commented on #19874
We don't have auto-complete in the left sidebar menu at all at present. I filed #19876 to address this.

[2021-09-30 20:53] timabbott commented on #3775
Just updating this issue that #17013 with the server implementation was merged, but we still need to implement the actual client-side synchronization.

[2021-09-30 21:02] timabbott opened #19877 "Include stream privacy decorations in compose box, "move topic"

[2021-09-30 21:06] timabbott opened #19878 "Include stream privacy decorations in compose box, "move topic" dropdown, and similar UI widgets"
Currently, we don't display the stream privacy icons (hash/lock/globe), either in the compose box or in a few related components like the "Move topic" menu accessible when editing messages.  Here's the current compose look:

![0000-recent](https://user-images.githubusercontent.com/2746074/135530085-478ad6fc-b785-410f-9feb-d8d5f6704700.png)

I'm not entirely sure that a straightforward version of a

[2021-09-30 22:52] alya opened #19880 "Do not display checkmark in topic bar when user does not have topic editing permissions"
To make it more convenient to resolve topics, we display a check mark in the topic bar in the message feed.

![Screen Shot 2021-09-30 at 3 50 51 PM](https://user-images.githubusercontent.com/2090066/135540096-08b21d27-c25d-4cf2-9f02-77fe8688f5a2.png)

At present, the checkmark is shown even when the user does not have permission to edit the topic and therefore resolve it. When such a user clicks o

[2021-09-30 23:00] alya opened #19881 ""Resolve topic" missing from left sidebar menu for some users"
The left sidebar three-dot menu for topics is currently missing the "Resolve topic" option for some users, even though they have permissions to resolve the topic. In particular, this happens for regular (non-admin member) users in organizations that allow topic editing for members.

The "Resolve topic" menu option should be shown if, and only if, the user has permissions to resolve the topic.

[2021-10-01 04:11] alya opened #19884 "Add "copy" buttons to bot settings"
In some cases, one needs to copy specific bits of information for a bot in order to set things up. E.g. for Matterbridge: https://github.com/42wim/matterbridge/wiki/Section-Zulip-%28basic%29

In the Settings > Bots menu, it would be very nice to add a "copy" button in two places:

1) To the right of the email, to copy the email.
2) To the right of the API key (left of the button for regenerating t

[2021-10-01 06:07] prabin-acharya commented on #19880
I’m getting started on this bug. It’ll be my first.

[2021-10-01 07:26] sahil839 commented on #19881
@zulipbot claim

[2021-10-01 08:48] bridyash13 commented on #19884
I would like to help with this

[2021-10-01 09:50] bridyash13 commented on #19884
@zulipbot claim

[2021-10-01 10:15] MarufSharifi commented on #19875
could you please assign this issue to me?

[2021-10-01 11:15] isakhagg commented on #19857
@zulipbot claim

[2021-10-01 11:38] swarina commented on #19875
@zulipbot claim

[2021-10-01 12:05] isakhagg commented on #19857
@timabbott Is this the expected behavior?

https://user-images.githubusercontent.com/88431809/135615803-0453b91a-f4cf-40f4-bfe7-3ecb9c15a93f.mp4

[2021-10-01 13:08] AjayKamath10 commented on #19720
Can I try and contribute towards this?

[2021-10-01 13:08] AjayKamath10 commented on #19720
@zulipbot claim

[2021-10-01 13:21] AjayKamath10 commented on #19720
I am assuming that when the user create a file link, a hyperlink for the same must not be created, instead it must remain as plain text

[2021-10-01 13:33] bridyash13 commented on #19884
Hey @alya I had some doubts regarding this could you please help me with it

[2021-10-01 13:39] MarufSharifi commented on #19884
@zulipbot claim

[2021-10-01 16:03] jaiongit commented on #19658
@zulipbot claim

[2021-10-01 16:06] jaiongit commented on #19658
@zulipbot claim

[2021-10-01 17:27] #17009 closed

[2021-10-01 18:04] alya commented on #19884
Hi @bridyash13 , you will need to ask more specific questions for me (or other folks) to be able to help you. You can check out our [guide for contributors](https://zulip.readthedocs.io/en/latest/overview/contributing.html) if you haven't done so already.

[2021-10-01 18:05] alya commented on #19884
@MarufSharifi please find an unassigned issue you're interested in.

[2021-10-01 18:08] #17863 closed

[2021-10-01 18:18] prabin-acharya commented on #19880
Hey, I won't be able to work on this issue rn. If anybody else is interested, go ahead!

[2021-10-01 18:45] eeshangarg opened #19885 "realm.string_id: Possible caching issue when subdomain is changed."
In #19741, as a part of converting a demo organization into a regular organization, we allow the user to edit the subdomain of their organization on conversion. Writing this code led to a weird issue, and the steps to reproduce it are as follows:

1. Fetch my PR #19741 locally if it isn't already merged.
2. Comment out the redirection in `success_continuation` in `static/js/admin.js` on [line 107]

[2021-10-01 19:10] alya opened #19886 "Add "Rename topic" option to three-dot topic menu"
At present, when a user doesn't have permissions to move a topic to a different stream, they do not see a "Move topic" option in the three-dot menu for that topic (in the left sidebar).

However, that user may still have permissions to *rename* the topic, while keeping it in the same stream. When this is the case, we should show a "Rename topic" option in place of the "Move topic" option.

Additio

[2021-10-01 19:36] alya opened #19888 "Use chevron symbol for stream selection"
At present, we indicate places where a stream can be changed to a different one in a couple of different ways -- sometimes with a pencil icon, sometimes by just allowing the user to type into the box.

This can cause confusion, as inputting a non-existent stream name will cause sending or moving a message to fail.

We should make it clear that the user is selecting from a list of streams by using

[2021-10-01 19:52] Raaghav932 commented on #19888
I am participating in the Hacktoberfest and I was wondering if I could try and do this as my first task.

[2021-10-01 19:57] alya commented on #19888
@Raaghav932 Sure, please check out our [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) if you haven't had a chance to do so already. Welcome!

[2021-10-01 20:25] alya commented on #18844
What's the state of this PR? I'd love to get this done!

[2021-10-01 22:34] #19682 closed

[2021-10-01 23:26] #19822 closed

[2021-10-02 00:56] timabbott commented on #19886
At a technical level, we'll be adding a check in the `build_topic_popover` function and template to check `settings_data.user_can_edit_topic_of_any_message` as well as `settings_data.user_can_move_messages_between_streams` and use those values to render the appropriate template.

[2021-10-02 10:36] pradyumn014 commented on #19874
@zulipbot claim

[2021-10-02 10:45] AnshVM commented on #19880
@zulipbot claim

[2021-10-02 12:16] OladapoAjala commented on #17716
Hello, has this issue been resolved? Seems like there are a lot of "claims" and "abandons" without any update on the progress.

I'd like to ask if the issue has been resolved before working on it.

[2021-10-02 19:42] madrix01 commented on #19589
@timabbott @eeshangarg can i work on this issue ??

[2021-10-03 04:59] lakshay-angrish commented on #10539
@zulipbot claim

[2021-10-03 07:52] hyp3r5pace commented on #18286
@zulipbot claim

[2021-10-03 09:40] Chicchi7393 commented on #19862
@zulipbot  claim

[2021-10-03 09:49] Chicchi7393 commented on #19862
@zulipbot abandon

[2021-10-03 17:33] hyp3r5pace commented on #18286
@alya I have submitted a PR #19893 to this issue. Please review my PR, whether it is correct, satisfies the guideline.
Thanks

[2021-10-04 08:17] vighnesh192 commented on #19888
Hello @alya can I claim this? I've made the first 2 changes already.

![Screenshot (3)](https://user-images.githubusercontent.com/64535868/135816247-50bf98b4-c303-4948-827d-125c5af3c3c8.png)

![Screenshot (2)](https://user-images.githubusercontent.com/64535868/135816282-fd757f93-195e-4c86-bfb7-f4cc5a86a1f3.png)

[2021-10-04 09:13] Starkl7 commented on #19862
@zulipbot claim

[2021-10-04 09:39] Starkl7 commented on #19862
@zulipbot abandon

[2021-10-04 10:47] johanehinger commented on #19680
@zulipbot claim

[2021-10-04 15:12] iamu985 commented on #18320
@zulipbot claim

[2021-10-04 18:04] alya commented on #19680
I just played with #19761 -- the new column in the menus looks good to me!

From the discussion above, I thought the "Never expires" option had been implemented? I didn't see it in the invitation UI.
<img width="253" alt="Screen Shot 2021-10-04 at 11 03 16 AM" src="https://user-images.githubusercontent.com/2090066/135901557-18d6b714-6068-4182-ad7f-52a987d7d6cd.png">

[2021-10-04 18:19] alya commented on #19888
Sure, @vighnesh192 please go ahead and claim this issue using @zulipbot .

[2021-10-04 18:39] johanehinger commented on #19680
From what I can tell the "1 hour" and "Never expires" options are not supported in the backend. This was something I learned after sharing screenshots of this. I'm sorry for the confusion this caused.

[2021-10-04 18:44] alya commented on #19680
Ah, I see.

I think the <1 day options would be great if it's a quick change (@mateuszmandera ), but the "never expires" option is more important. Can we make it work? If it's going to take a while to implement, let's add a really long option (e.g. 1 year) for now.

[2021-10-04 18:48] vighnesh192 commented on #19888
Okay, thank you! @alya

@zulipbot claim

[2021-10-04 19:22] AnshVM commented on #19880
Only admins and the user who started a topic can resolve/unresolve a topic, right?

[2021-10-04 19:33] alya commented on #19880
It depends on organization settings. Anyone who can edit a topic can resolve a topic. https://zulip.com/help/configure-who-can-edit-topics

[2021-10-04 19:44] johanehinger commented on #19680
The current problem in the backend is that it only accepts days as a duration, I think that <1day can easily be implemented if we changed the representation to be hours (or even minutes) and then represent days as a factor of that. This however should probably be a separate issue.

I'm not sure on what to do with "Never expires" but I could add a new commit and introduce the option "1 year" and it

[2021-10-04 20:00] AnshVM commented on #19880
Alright, thanks!!

[2021-10-04 20:14] MartinX3 commented on #19680
Wouldn't be "never expire" a null value?

[2021-10-04 23:21] alya commented on #19523
To reduce friction, I wonder if we should default to "Invitations are required for joining this organization" being turned off? And then prompt orgs to turn it on during the conversion process?

Random people would be highly unlikely to find the org, if we auto-generate a 2-3 word name to use in the URL.

[2021-10-05 01:39] ehuss opened #19895 "Unable to open stream listing"
On https://rust-lang.zulipchat.com/, I am unable to open the stream listing. Clicking any of the following has no effect:

* "Subscribe to more streams" at the bottom of the stream list.
* `+` > "Browse Streams"
* Gear icon > Manage Streams

I have tried in the desktop client and firefox.  In the desktop client, I opened the dev console and saw a few exceptions:

Uncaught TypeError: Cannot read pr

[2021-10-05 04:49] alya commented on #19895
I believe I can replicate this bug on any Zulip Cloud org where I don't have permissions to create a stream.

[2021-10-05 05:01] #19895 closed

[2021-10-05 05:14] timabbott commented on #19861
Once we've implemented this, we should also make it trigger when a soft-deactivated user requests a password reset.

[2021-10-05 08:24] rakshit512002 commented on #19821
@gnprice Can you please help me with finding the files related to the source code and rendering of normal as well as status emojis?
I need them for solving this issue, as I am new to the codebase I can't find the files even after searching the codebase for the relevant emoji classes.

[2021-10-05 11:12] johanehinger commented on #19680
@MartinX3 I have played around with the idea of letting "Never expires" be a null value, or even not sending it at all. The backend is however constructed in such a way as to prevent this behavior.
Letting the parameter "invite_expires_in_days" be anything else than an integer (representing the number of days it should be valid for) it will refuse to accept this. Leaving the parameter out entirely

[2021-10-05 11:44] johanehinger commented on #19680
No. While it is possible to assign the "never expires" a -1 value and then implementing a check for this in the backend, I strongly advise not to solve it like that. It will increase the likelihood that the code base becomes unintuitive, and prone to weird errors down the road.
Besides, as it stands now setting "invite_expires_in_days" to -1 will make the invitation become obsolete one day ago eff

[2021-10-05 12:07] MartinX3 commented on #19680
That's true.
If it was my project, i would design it to get a datetime string value to set the expire date or no value for forever.

What about an expiration value of 0?
So zero duration for unlimited.
In the end it must be any value which is not in the future.

[2021-10-05 12:15] koelle25 commented on #16054
@adambirds You're describing exactly what I thought of. Sorry for the late answer, this issue got buried under other stuff.

[2021-10-05 12:19] johanehinger commented on #19680
Yes something like that could work. I would probably go back to "null" instead of 0 though. Anyway @MartinX3 you are obviously interested in solving the "never expires" issue. I think the best course of action is to merge #19761 and then open a new issue that aims to fix "never expires" and "<1 day" and then assign you to that.

[2021-10-05 12:20] johanehinger commented on #19680
Of course I can't merge #19761 on my own,  I need the administrators to do this.

[2021-10-05 13:34] madrix01 commented on #19886
@timabbott @alya  I have gone through the files that require changes and create new files
According to me in `stream-popover.js` checking for rename and move topic permission and render according to that in `topic_sidebar_actions.hbs` and have to add new `rename_topic_modal.hbs` and link it to the body using jquery. This would be a good issues to work one. Can I work on this ?

[2021-10-05 14:14] noorbhtiti commented on #19878
@zulipbot claim

[2021-10-05 15:05] Vooply opened #19899 "Problem with unzip and get slack user/team"
Hi
We have a problem with unzip file
If folder name has symbols e.g.   ö or сyrillic, we have wrong folder name, like on screen
![image](https://user-images.githubusercontent.com/43493241/136048531-2ac29f51-b37d-4285-892c-fe9836d9ee0a.png)
I found implementation
![image](https://user-images.githubusercontent.com/43493241/136049182-7c3c79a1-690e-40ab-93d4-a9e6f969b846.png)
I commented subprocess an

[2021-10-05 16:32] alya opened #19900 "Make Welcome Bot more interactive"
At present, Welcome Bot gives the user lots of information all at once. It may be unappealing to process so much content when one is just starting to explore a new app. Also, the bot doesn't offer motivation to engage with it, which would draw the user into sending their first Zulip messages.

To try to address this, we should make the Welcome Bot more interactive. In can provide a small amount of

[2021-10-05 17:19] timabbott opened #19901 "settings: Change password UI has weird behavior if you don't enter both old_password and new_password"
Apparently, in the "Change password" settings UI, if you only fill one of the two password fields, it'll present a "Saving ... Saved!" notice incorrectly.  We should instead be presenting an error in the modal asking the user to fill out both password fields.

The code controlling this is likely in `static/js/settings_account.js`, in this click handler:
[code]

It's probably worth testing a couple

[2021-10-05 17:20] timabbott commented on #19899
Thanks for the report!  Can you give an example filename for the Slack export zip file to make it easier to reproduce?

@rht @hackerkid @garg3133 can you help investigate this?

[2021-10-05 17:21] timabbott commented on #19877
This must be an accidentally created duplicate of https://github.com/zulip/zulip/issues/19878.  Not sure how this happened -- maybe a GitHub bug?

[2021-10-05 17:21] #19877 closed

[2021-10-05 18:06] MartinX3 commented on #19680
Yes, I need it for the official TWRP Zulip Orga I administrate.
I'll create an issue then and put it on my todo to fix it somewhen xD

[2021-10-05 19:04] Ru28 commented on #19901
@zulipbot claim

[2021-10-05 20:45] alya opened #19905 "Automate "Include organization name in subject of message notification emails" setting"
Under **Settings > Notifications**, there is a checkbox setting for whether to "Include organization name in subject of message notification emails". This setting may be difficult to discover when it becomes relevant, however.

For Zulip Cloud users, we can actually make a good guess for the option that will be the best experience for the users. As we say on the [help page](https://zulip.com/help/

[2021-10-05 21:09] alya commented on #18844
Oh, @amanagr , I just realized that you may or may not be following this issue at this point -- I'm not sure if it's possible for me to check.

[2021-10-05 21:47] timabbott commented on #19905
At a database level, this means changing the relevant field from a boolean to an enum and then adjusting the UI.

[2021-10-05 23:34] timabbott opened #19907 "Clear `prefers_web_public_view` cookie when logging in or registering an account"
In #19902, we added functionality to remember who had accessed Zulip as a spectator and immediately take them to the spectator experience.  We probably want to clear the `prefers_web_public_view` cookie when logging in via `do_login` or registering a new account, since the user likely doesn't want to get the spectator experience on future visits to the site.

[2021-10-05 23:46] #19880 closed

[2021-10-06 00:09] timabbott commented on #18844
I think it's just waiting for the tiny bit here: https://github.com/zulip/zulip/pull/19218#issuecomment-920313591

[2021-10-06 04:00] piyushsinghania commented on #19862
claim

[2021-10-06 04:09] skpatro23 commented on #14810
@zulipbot claim

[2021-10-06 05:48] madrix01 commented on #19886
@zulipbot claim

[2021-10-06 07:03] Vooply commented on #19899
[slack_export.zip](https://github.com/zulip/zulip/files/7291506/slack_export.zip)
@timabbott it is an empty zip with 2 folders, on this folders I had problem

[2021-10-06 07:57] Vooply opened #19910 "Connection reset error when import converted slack file"
Sometimes I had problems with connection when downloaded files
And when I see this problem always need restart process
![image](https://user-images.githubusercontent.com/43493241/136161763-5023cc5d-03e5-41e6-965f-ac8be44759d8.png)
![image](https://user-images.githubusercontent.com/43493241/136161869-19c8b3b7-2974-4a2c-b091-5941bbcb2242.png)
![image](https://user-images.githubusercontent.com/434932

[2021-10-06 09:11] madrix01 commented on #19886
@alya @timabbott
I have added logic for showing the `Rename topic` option
![image](https://user-images.githubusercontent.com/51414879/136173585-74a360d3-1ac4-4623-bdb0-f745d119e91a.png)

And made a modal for the same
![image](https://user-images.githubusercontent.com/51414879/136173996-50d6597c-37a8-4beb-9b17-da2bfd8623fe.png)

Does this require any changes?
Logic is yet to be added in `stream_pop

[2021-10-06 10:34] Vooply opened #19912 "Error running slack import tool: Cannot assign recipient"
Hi
I used export data from zulip, and ouput folder from export then import to zulip and have a problem with UserProfile.recipient
If I have a user in zerver_userprofile_mirrordummy, they have recipient, e.g. 583, but this id not exist in zerver_recipient
if I add a new recipient, for e.g id = 583. type_id = id_user, type = 1 and this manipulation don't work :(

![image](https://user-images.githubu

[2021-10-06 18:49] alya opened #19916 "Resolving/unresolving a muted topic should not unmute"
At present, resolving or unresolving a topic that a user muted unmutes it. This is definitely not the desired experience.

[2021-10-06 19:50] alya commented on #19886
I think we don't need the `>` before the topic name. We use in the "Move topic" menu as a divider between the stream name and the topic name.

Otherwise looks good to me so far!

[2021-10-06 23:08] alya opened #19919 ""Resolve topic" should not mark messages as edited"
At present, resolving a topic marks all messages in that topic as edited. This makes sense for other types of topic editing, but is incorrect for resolving topics.

[2021-10-06 23:25] nicklormand opened #19920 "Add url parameter to prefill the compose area with text"
Similar to how you can open up specific streams and topics by adding special url parameters like this:
https://yourdomain/?stream=zulip-help&topic=zulip+drafts+with+url+parameters

It would be really helpful if there was a parameter called "message" or "draft" that would let me create links with message templates to be automatically added to the compose area.

It would ideally look something like

[2021-10-07 00:53] mariogomez079 opened #19921 "integration with zimbra ldap"
Hi,
someone has achieved the integration with Zimbra ldap

[2021-10-07 08:26] AdamVB opened #19924 "Apache REMOTE_USER SSO Login Broken since 4.7"
We stumbled on this since the update to 4.7

Login with our reversproxies and the remote_user variable was broken.

The logs on zulips apache show:

`
[Thu Oct 07 07:13:57.921715 2021] [wsgi:error] [pid 22197:tid 140382281135872] [client 127.0.0.1:43050] Timeout when reading response headers from daemon process 'zulip': /home/zulip/deployments/current/zproject/wsgi.py
[Thu Oct 07 07:14:33.915359 2

[2021-10-07 10:05] tthomasb opened #19926 ",,display my availability to other users when online'' for default off"
Dear all,

is it possible to turn ,,display my availability to other users when online'' for default off?

Thanks for your help!

Thomas

[2021-10-07 14:21] rht commented on #19899
Nevertheless, we should expect a Windows-encoded zip file, and hence should use that `zipfile` Python library.

[2021-10-07 19:05] timabbott opened #19931 "Resending invitation links weirdly changes expiration time"
I noticed an odd behavior, now that we have bac64070c16f459a5818f4ebcd561f56e4bac00e, that resending an invitation reduces its expiration deadline by a day.  I also am not sure, but worry that it will won't help at all if the expiration had already expired.  Here's the code; I can see the deadline reduces by a day because we substract the times and take the days part, which maps "9 days 23 hours 5

[2021-10-07 20:29] alya opened #19933 "Streams incorrectly appearing in notification settings"
Replicator (works in the dev environment):

1. Create a new stream.
2. Go to Personal settings > Notifications.
3. Check the "Email" checkbox for streams.

Expected: Row for new stream does not appear, as no custom settings were set.
Actual: Row for new stream appears!

[2021-10-07 22:04] YashRE42 commented on #19916
Linking the conversation at [# general > renaming muted topics](https://chat.zulip.org/#narrow/stream/2-general/topic/renaming.20muted.20topics), which discusses how to address this and the related issue #15210.

[2021-10-07 23:37] timabbott opened #19934 "Find a better way to handle i18n mocking for node tests"
After the discussion in https://github.com/zulip/zulip/pull/19421#pullrequestreview-719690258, I think we want to revert 55b2b1c25d4c7642156c78ba56919a928994ad2c, because it seems to cause a ~10% performance penalty for the entire suite to make a single test more correct.

I'm not sure I understand the situation fully but surely we can figure out how to make this work by only doing extra work for

[2021-10-08 00:56] rht commented on #19899
@Vooply your second bug was fixed in https://github.com/zulip/zulip/commit/58b19761b89a3d9f432fcb696f6543558d4ca6ab. `requests` allows specifying url params via `params` keyword argument, and so you don't have to manually construct a string representation of it.

[2021-10-08 02:38] alya opened #19936 "Date profile field saving bugs"
Seen in the dev environment when editing the "Birthday" custom profile field:

1. When manually editing the birthday custom profile field without using the date picker, a message saying that the save failed because format is invalid flashes briefly. This happens when the date is actually valid, and it seems that the value actually does get saved.

2. Weirdly, if you then try to save an invalid val

[2021-10-08 06:45] Vooply commented on #19768
@rht @timabbott I've created some script for this problem) but need to do some steps for that )
Script not ideal, but works for me well and maybe did not take into account all things)
I used pure python and cython and can show if that interesting

[2021-10-08 08:37] mtvec opened #19938 "GitHub webhook: add support for discussions"
The GitHub webhook currently doesn't support discussions. This is the response for a "discussion created" event:

[code]

It would be nice if discussion events could be supported by the GitHub webhook.

[2021-10-08 11:26] YashRE42 commented on #14471
Linking https://github.com/zulip/zulip/pull/19541#issuecomment-926126287 and PR #19541 which are in this area.

[2021-10-08 13:38] Cloud327 commented on #17474
@zulipbot claim

[2021-10-08 14:46] Vooply commented on #19768
[zulip_merger_1.zip](https://github.com/zulip/zulip/files/7312095/zulip_merger_1.zip)
In beginning, you need to export data from zulip, after import new data, for good formate, and then export too. In exit, we have 2 folders with different data. An in-game entry that script merges these 2 folders into one after you can import that folder to zulip and all data will be saved. Some instruction in REA

[2021-10-08 14:56] AnushaNathRoy commented on #19865
@alya I have started working on this issue and I have shown the status emoji in the list of PM conversations in the left sidebar.  Just wanted to confirm whether this is the intended location of where the emoji is to be displayed? (attached screenshot below)

<img width="1279" alt="Screenshot 2021-10-08 at 6 48 43 PM" src="https://user-images.githubusercontent.com/71231079/136577617-cda65568-8348-

[2021-10-08 15:53] hamza-arshad commented on #19653
@zulipbot claim

[2021-10-08 17:31] #19933 closed

[2021-10-08 18:15] alya commented on #19933
Yay, thanks for the quick fix @sahil839 !

[2021-10-08 23:33] diananova commented on #19044
This issue should be tagged as ```in progress```.  This pr #19636 is open and has been recently updated, @abhi10shek is working on it.

[2021-10-09 04:50] Lastofthefirst commented on #18736
I am also exploring adopting zulip for communication with consulting clients. I would be interested in being able to toggle off users seeing those who don't share a stream with them.

For self patching it seems like it would be a very simple css addition. .right-sidebar-container{display:none;}. This could just be added to a css file in the `static/styles/` directory issuing some command to rebuil

[2021-10-09 05:55] ChitvanRamani22 commented on #19875
@alya can i worl on this issue as a part of outreachy program.

[2021-10-09 06:03] ChitvanRamani22 commented on #19862
@amanagr can i work on this issue as a part of outreachy.

[2021-10-09 06:04] ChitvanRamani22 commented on #19770
@alya can i work on this issue as a part of outreachy.

[2021-10-09 07:51] PhemeloTseke commented on #19875
@zulipbot claim

[2021-10-09 08:14] anurastogiji commented on #19875
@ChitvanRamani22  I am currently working on this issue.

[2021-10-10 08:17] Ru28 commented on #19901
Hi @Tushar1012! :wave: \
I have already started working on this issue.

[2021-10-10 11:07] Ru28 commented on #19901
Hi @timabbott! :wave \
I tried to debug the issue and found that we have to make changes in `account_settings.hbs` and `settings_account.js`.. As i debug the issue further I think that the error is caused by the `<div>` tag.

Apart from that I done some research what other products are doing with this error messages work for these cases and here is what slack is doing :

- When we enter only the o

[2021-10-10 14:26] hunterachieng commented on #19843
Hello @timabbott I am an Outreachy applicant and I would like to work on this issue.

[2021-10-10 14:32] hunterachieng commented on #19843
@zulipbot claim

[2021-10-11 09:31] hunterachieng commented on #19780
@zulipbot unclaim

[2021-10-11 09:37] hunterachieng commented on #19936
Hi @alya I have taken up this issue as it is easier on a beginner Outreachy applicant. Do you mind guiding me through it?

[2021-10-11 16:02] bkmgit opened #19946 "RE2 - installation error"
Google RE2 was recently added as a dependency in https://github.com/zulip/zulip/commit/9f2df658f020acae20ea5be8a55599e1a2428317 . On AARCH 64 with Ubuntu 20.04, get a failed build with he following output:
[code]
similar to https://github.com/google/re2/issues/271

[2021-10-11 16:39] anurastogiji opened #19947 "Adjusting vertical space between checkboxes in "Move Topic" modal"
This is an follow up for issue #19875. Currently "Move Topic" modal looks like this:
![image](https://user-images.githubusercontent.com/75037620/136805894-4b152c2d-c8f6-41bd-867d-d6ab904490f9.png)

Adding vertical spacing between the checkboxes would make it look nicer.

[2021-10-11 19:15] Salim-Swaleh commented on #18147
What name in the html code is this page given? I can't find it. Any help?

[2021-10-12 05:59] Morgannjaw commented on #19639
@zulipbot claim

[2021-10-12 19:19] Salim-Swaleh commented on #18147
@PIG208  I have handled this issue but I am having trouble previewing the UI. Can you help please. Thanks

[2021-10-12 20:00] anurastogiji commented on #19765
Thank you @madrix01

[2021-10-12 20:05] anurastogiji commented on #19947
@zulipbot abandon

[2021-10-12 20:06] anurastogiji commented on #19765
@zulipbot claim

[2021-10-12 20:44] timabbott opened #19953 "Provide a good error message for accidentally trying to downgrade Zulip"
Separate from #280, we should make sure that Zulip provides a clear error message when someone attempts to install a release that is substantially older than what the Zulip server is currently running.

I'm not sure what the simplest way to implement something like this is.  In theory, we could:
* Parse the `zulip_version` data for the two releases and compare the total commit counts and see if th

[2021-10-12 21:36] alya commented on #19770
@ChitvanRamani22 you are welcome to work on this. Since there is an existing PR on this issue, you should start by reviewing it to see if it solves the issue. If you think it needs additional work, you are welcome to post feedback on the PR or build on top of it (or even start from scratch) to propose a better solution, clearly explaining the reasoning behind the changes you make.

[2021-10-12 22:13] timabbott opened #19954 "Fix focus behavior of Shift+Tab when viewing topic input and you can move messages between streams"
There's a bug where Shift+Tab doesn't properly move focus to the "Select stream" input in the message-edit UI.  I'll note that it does work if you have permission to edit the message's content; but not if you only have permission to edit the topic/stream.

From [this thread on chat.zulip.org](https://chat.zulip.org/#narrow/stream/137-feedback/topic/.22edit.20stream.22.20on.20a.20message/near/12656

[2021-10-12 23:20] alya commented on #18844
Yay, thanks @amanagr and @timabbott !

[2021-10-13 06:00] alya opened #19955 "Create per-channel setting for whether "resolve topic" is enabled"
Some organizations may prefer not to use the "resolve topic" feature, or only use it in certain channels, and it can be hard to communicate these norms to users. We should therefore make it possible for organization to specify who can use "resolve topic" in any given stream.

We should add a new channel-level group-based permission setting for this, for new and existing channels:

- Label: Who can

[2021-10-13 06:36] hunterachieng commented on #19936
Hi @alya I have managed to solve the second issue, still figuring out the first one. Kindly review.

[2021-10-13 11:53] aryanshridhar commented on #19954
Looking into it!

[2021-10-13 18:49] alya commented on #19639
@Morgannjaw please feel free to start a thread with any specific questions you have in [#development help on chat.zulip.org](https://chat.zulip.org/#narrow/stream/49-development-help) if you are stuck somewhere and need help. More people will see your questions and have a chance to help you out. Thanks!

[2021-10-13 18:55] alya opened #19958 "Increase contrast on "Press Enter to send""
The "Press Enter to send" option currently has very small and light font, and can be hard to spot. We should try bumping up the contrast, especially in light mode. It may be fine as-is in dark mode.

To solve this issue, please post a few screenshots of options to consider, both in dark and light mode.

[2021-10-13 19:22] alya opened #19960 "Rearrange Personal settings > Display settings"
The Display settings panel is often useful for users early in their Zulip experience. Currently, it's not easy to find the most relevant settings at a glance, as they are interspersed with a lot of settings that are only relevant once you've been using Zulip for some time and have an idea of what you want to work differently.

To address this, we should rearrange the display settings in the follow

[2021-10-14 03:46] jsmwoolf commented on #19589
@madrix01 There's a command on [this page](https://zulip.readthedocs.io/en/latest/overview/contributing.html#working-on-an-issue) you can use to pick up the issue.

[2021-10-14 03:56] RaphaelAzev commented on #19958
Hello @alya!
I messed around with the css files and changed the following for Day mode:
![image](https://user-images.githubusercontent.com/26484801/137246492-25df7cb1-794e-471e-9889-bdee6235bf5a.png)
Or this other style more similar to the Drafts and Help buttons:
![image](https://user-images.githubusercontent.com/26484801/137248646-6228dedb-8684-4648-bfee-ba91206b26f1.png)
Compared to the origina

[2021-10-14 04:01] jsmwoolf commented on #19958
@RaphaelAzev It's my first time trying to contribute as well.  In your case, use `@zulipbot claim`

[2021-10-14 04:05] jsmwoolf commented on #19960
@zulipbot claim

[2021-10-14 05:08] alya commented on #19960
@jsmwoolf All field names should be tagged for translation; our community of translators will do the actual translating. :) You can learn more here: https://zulip.readthedocs.io/en/latest/translating/internationalization.html

[2021-10-14 05:50] hunterachieng commented on #19936
https://user-images.githubusercontent.com/79210550/137259443-26a7aca5-c169-48e7-98fd-7fe0ef550efe.mp4

[2021-10-14 05:56] hunterachieng commented on #19936
@alya Is this what should be happening?

[2021-10-14 06:25] hunterachieng commented on #19936
I manually entered an invalid date and the error popped. But let me try
again.

On Thu, 14 Oct 2021, 09:22 Alya Abbott, ***@***.***> wrote:

[2021-10-14 06:27] hunterachieng commented on #19936
@alya so even the third issue has not been solved? For entering an invalid date?

[2021-10-14 06:52] alya commented on #19936
@hunterachieng There is no third issue... My comment above gave a more detailed reproducer for the second issue I described.

[2021-10-14 06:58] hunterachieng commented on #19936
@alya Oh okay. I am looking into it again.

[2021-10-14 07:56] SweedalMasih commented on #17274
@zulipbot claim

[2021-10-14 13:12] matklad opened #19964 "favicon doesn't always render for me in a pinned tab in vivaldi"
This is an obscure problem, and I am not sure it's on Zulip side even, but that's rather important for me

Basically, this is how a row of pinned tabs in the browser looks for me:

![image](https://user-images.githubusercontent.com/1711539/137323673-4ef3dde3-92c9-4d8d-ad7e-c6158fa70936.png)

Note that there are two pinned Zulips there! It's just that favicon for one is broken. I personally rely on

[2021-10-14 16:52] hunterachieng commented on #19936
https://user-images.githubusercontent.com/79210550/137362102-00e9dee8-4b25-4345-8af8-697ca04d48b8.mp4

[2021-10-14 19:48] timabbott opened #19966 "Use SHA-256 for BigBlueButton checksums"
BigBlueButton's API uses SHA1 for its checksum; I marked is as dismissed for CodeQL since it's not something we can directly change without SHA256 support in BigBlueButton itself.  I note that https://github.com/bigbluebutton/bigbluebutton.github.io/issues/145 and related issues suggest it might be possible to do so today, though apparently the way to do that may not be documented.  So probably no

[2021-10-14 19:56] alya opened #19967 "Remove extraneous banner from settings tabs"
The **Bots** and **Invitations** tabs in **Organization settings** display a banner for non-admins that says: "Only organization administrators can edit these settings." However, it's not really clear what settings that banner is referring to -- there are no settings displayed.

We should remove this banner from these two tabs.

[CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-des

[2021-10-14 21:25] timabbott commented on #19912
Thanks for the report!  I haven't seem a problem of this form before. Is it possible to do some print-debugging to figure out what specifically the object from the Slack export file was?  In theory, every UserProfile object should have had a Recipient object created in the data export, and I don't have a theory for how that might have failed to be the case here.

[2021-10-14 21:30] timabbott commented on #19920
@nicklormand thanks for the feature idea; it's not one we'd considered before :).  I started a community conversation about the idea here: https://chat.zulip.org/#narrow/stream/101-design/topic/prefill.20compose.20box.20idea/near/1266810.

[2021-10-14 21:31] #19921 closed, assigned to nobody

[2021-10-14 21:33] #19926 closed, assigned to nobody

[2021-10-14 21:42] timabbott commented on #19602
@quanghuy2491987 have you read https://zulip.com/help/saml-authentication#configure-saml-with-keycloak and https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#saml?

[2021-10-14 21:52] #19558 closed

[2021-10-14 22:04] timabbott commented on #19549
@AgJinChoi thanks for the question!  Zulip published a security advisory with the additional patch (https://blog.zulip.com/2020/01/16/zulip-server-2-1-2-security-release/ /  https://zulip.readthedocs.io/en/latest/overview/changelog.html#id17).  CVE has never been a reliable system for being notified about new security issues (since it is by design a database that lags in time), and for Zulip in pa

[2021-10-14 22:04] #19549 closed

[2021-10-14 22:10] timabbott commented on #19539
@rht thanks for the report!  These exports are handled by the `deferred_work` queue processor in `zerver/worker/queue_processors.py`; my guess is that somehow the worker is failing after having created the export, and then retrying endlessly.

Can you do some print debugging / logging to figure out where that is failing on your system?  (Might be already there via an exception in the server logs).

[2021-10-14 22:30] timabbott commented on #19070
For context, this is a bug breaking the rarely-used and undocumented feature of having a Zulip window confined to a single stream.

@rwbarton FYI, we'll need to fix this before Mystery Hunt :)

[2021-10-14 22:34] timabbott commented on #19031
I agree with this, though I don't know if we'll do it before a broader overhaul of the ~4 tooltips.  One thing to note, @jtrakk: when you create your Zulip account on a given Zulip installation (E.g. all of Zulip Cloud is a single installation), you're offered the option to copy personal settings from an existing Zulip account -- and that includes skipping the introductory tooltips.

So in the fut

[2021-10-14 22:38] #19947 closed

[2021-10-15 04:42] vighnesh192 commented on #19888
Yeah..I was trying to resolve this:- `3.In the compose box. We're less sure about this one, but we should try it.` but I'm unable to. Please check this out:- https://chat.zulip.org/#narrow/stream/137-feedback/topic/.22edit.20stream.22.20on.20a.20message/near/1264436

I've fixed the first 2 issues though. Can I open a pull request for those changes?

[2021-10-15 06:03] alya commented on #19888
Sure, a pull request for the first two would be great. Thanks!

[2021-10-15 11:53] anurastogiji opened #19973 "Swap order of `propagate_mode` dropdown with checkboxes in message edit form"
Currently, dropdown in message edit form looks like this:

![image](https://user-images.githubusercontent.com/75037620/137481608-7b3909a9-3e88-440c-be1a-8be97ab7ed8e.png)

Swapping the order of the `propagate_mode` dropdown with checkboxes would be a good idea.

[2021-10-15 13:44] Chinemereem commented on #19778
@zulipbot claim

[2021-10-15 16:31] Tamschi opened #19978 "Can't create stream as owner's bot: "Insufficient permission""
There appears to be a mismatch between what the documentation at https://zulip.com/help/bots-and-integrations#bot-type says about Generic bots ("Anything the bot creator can do") and the actual effective permissions:

- Stream permissions > Who can create public streams: Admins and moderators
- Bot owner: Me (Role: Owner)
- Bot type: Generic bot
- Request URL: `https://project-stream-bot%40iter-sq

[2021-10-15 18:26] KarishmaVanwari commented on #19901
Is this issue open?

[2021-10-15 18:59] madrix01 commented on #19886
@zulipbot abandon

[2021-10-15 19:03] Morgannjaw commented on #19639
@zulipbot done

[2021-10-15 19:22] Morgannjaw commented on #19759
@zulipbot claim

[2021-10-15 19:49] timabbott commented on #19964
Yeah, that's probably the right next step.

[2021-10-15 20:14] timabbott commented on #18089
Closing, since the PR related to this was merged.

[2021-10-15 20:14] #18089 closed

[2021-10-15 20:21] timabbott commented on #18839
Thanks for the report, but I'm a bit confused: The `scripts/setup/setup-certbot` tool takes care of reloading `nginx`.  Did you run `certbot` yourself manually or use our cron job?  The commit to do the reload was added in 2017 (8f387ba4d4dbcd7e37b968c9d78a558257b1b6be).

[2021-10-15 22:21] timabbott commented on #18926
@TheCedarPrince it is not in a general message, however the `/todo` slash command does something a bit like it (like `/poll`, it'd be the entire content of a message).

The main complexity with this sort of feature in the markdown is that's challenging to define/determine the sender's intent in terms of who should be allowed to toggle the checkboxes, and how it should interact with policy settings

[2021-10-15 22:23] timabbott commented on #19005
This is a duplicate: https://github.com/zulip/zulip/issues/16779.

It's unfortunately a messy problem to fix because of how we handle negation in that UI.

[2021-10-15 22:23] #19005 closed

[2021-10-15 22:24] #19017 closed

[2021-10-15 22:37] timabbott commented on #19901
Yeah, I think "Please choose a new password" / "Please enter your password" seems like fine ways to phrase the error messages for not filling out those fields.

[2021-10-15 23:14] andersk opened #19980 "User profile modal fails to open in Firefox nightly and early-beta"
In Firefox 94.0b6, if I click on a user and select **View full profile**, the page dims but the user profile modal does not open. It shows up later if I resize the page.

Bisecting Firefox versions showed that the bug was introduced in Firefox nightly between 66.0a1 2018-12-11-21-33-05 and 66.0a1 2018-12-12-05-12-41, and remains present in the current nightly 95.0a1 2021-10-15-09-50-04. But it is

[2021-10-16 00:17] #19874 closed

[2021-10-16 03:37] esamson commented on #19589
@eeshangarg Yes, that's what I did. I took the instruction from https://docs.gitlab.com/ee/user/project/integrations/slack_slash_commands.html and pointed to requestbin instead of gitlab.

[2021-10-16 03:40] effulgentstar commented on #17534
Claim

[2021-10-16 04:24] vighnesh192 commented on #19888
Okay, thank you!

[2021-10-16 09:56] KarishmaVanwari commented on #19055
@WesleyAC can I work on this issue?

[2021-10-16 11:54] nikhilmaske-2001 commented on #19860
@zulipbot claim

[2021-10-16 13:32] Morgannjaw commented on #18883
@zulipbot  claim

[2021-10-16 13:36] Morgannjaw commented on #18883
Hi @alya this issue was opened since august. i hope its ok if i can start this as an outreachy applicant now

[2021-10-16 16:23] effulgentstar commented on #17534
@zulipbot claim

[2021-10-16 16:27] noorbhtiti commented on #19878
@timabbott We are done here :)

[2021-10-16 18:05] Tamschi commented on #19978
It worked, thank you!

However, now I have a bot that's stealthily a moderator 😅
It's just a suggestion, but imo bot permission (upgrades) should probably be surfaced in the Organisation Settings > Bots table or the owner change dialog, so that nobody accidentally hands an admin bot to a normal member.

[2021-10-16 19:39] rakshit512002 commented on #19821
As I am new to the codebase I am still getting familiar with it once I become familiar with the code related to the status emojis and their rendering, will work on it ASAP

[2021-10-16 19:59] mateuszmandera commented on #19602
Just to add to the above, once Keycloack SAML is configured and working you may want to make it the only enabled authentication backend combined with https://zulip.com/help/allow-anyone-to-join-without-an-invitation

[2021-10-16 21:49] sandygudie commented on #19797
@zulipbot claim

[2021-10-17 12:16] AnushaNathRoy commented on #19865
@alya I have shown the status emoji in the list of PM conversations in the left sidebar as well as on the message feed. I have a few queries:

1. **Location of the status emoji:**

Just wanted to confirm if the intended location in the message feed is right or not. (attached screenshot below)

<img width="1280" alt="Screenshot 2021-10-17 at 4 05 28 PM" src="https://user-images.githubusercontent.co

[2021-10-17 12:58] raghupalash commented on #19900
I can't understand what this means.

[2021-10-17 16:16] ligmitz commented on #19865
@AnushaNathRoy You can use the browser developer tools to see the classes and styles inherited by the element.

[2021-10-17 17:24] iampranavdhar commented on #19770
@zulipbot claim

[2021-10-17 18:01] iampranavdhar commented on #19848
@zulipbot claim

[2021-10-18 04:50] alya commented on #18883
@Morgannjaw as long as an issue has the "help wanted" label and is not actively being worked on by someone else, you're welcome to pick it up.

[2021-10-18 07:56] Chinemereem commented on #19954
@zulipbot claim

[2021-10-18 09:12] olusanwo commented on #17998
Hello @zulipbot , I am from Outreachy, will like to work on this task.

[2021-10-18 09:51] bridyash13 commented on #19884
Hey @timabbott will you please review the pull request

[2021-10-18 10:14] tschwinge opened #19994 "Replying more than once to a Zulip email notification bounces"
One may reply via email to _Zulip notifications_ emails (but beware of #2755), but sending one reply seems to also invalidate the email address, and further replies (like you'd add more messages in the web UI) generate an email _Undelivered Mail Returned to Sender_ bounce message, because _Bad destination mailbox address: Missed message address out of uses_.  That's annoying.

[2021-10-18 11:27] soumyo123-prog commented on #17998
@zulipbot claim

[2021-10-18 13:36] soumyo123-prog commented on #17998
@zulipbot unclaim

[2021-10-18 16:54] alya opened #19998 "Put status emoji before status message"
In the user profile modal, the status emoji is displayed after the status message. We should instead put it before the status message for clarity and consistency with the status creation dialog.

[2021-10-18 18:04] alya opened #19999 "Display profile images in buddy list"
At present, it can be hard to quickly find the user you are looking for in the buddy list.

We should make this easier by adding an option to show the user's profile picture to the left of their name. The status icon should appear in the bottom right of the picture, similarly to other apps (e.g. Discord, Gmail, Slack):

<img width="92" alt="Screen Shot 2021-10-18 at 11 01 39 AM" src="https://user-

[2021-10-18 18:34] hailongpannu opened #20000 "Can we have hundreds of thousands users per organization?"
I am going to create an organization with hundreds of thousands users. But I am just wondering if the performance would be okay.
If anyone have an answer, please help me.
Thank you.
One of the zulip followers.

[2021-10-18 18:42] alya opened #20001 "Remove pencil icon from "General" tab of stream menu when user lacks edit permissions"
At present, we show a "pencil" icon for editing a stream's name and description even when a user does not have permissions to edit these fields. This leads to a bad experience, as the user can proceed to edit these fields, only getting an error when trying to save.

<img width="578" alt="Screen Shot 2021-10-18 at 11 27 09 AM" src="https://user-images.githubusercontent.com/2090066/137787710-cebb758

[2021-10-18 18:43] timabbott commented on #19999
I think we want whether to display avatars in the sidebar to be an optional UX setting; it has a significant cost in terms of how many users one can see in the sidebar, how visually busy that part of the screen is, etc., which are tradeoffs that not every user will want.

[2021-10-18 18:47] alya opened #20002 "Remove "Disable" and "Unset" links from "Settings / Organization settings" when user does not have edit permissions"
At present, the "Organization settings" tab of the org settings menu has clickable "[Disable]" and "[Unset]" links even when the user does not have permissions to modify the settings. This leads to a weird experience with disabled save buttons (sreenshots below).

Instead, the "[Disable]" and "[Unset]" links should not be shown when the user does not have permissions to change these settings.

<im

[2021-10-18 23:59] alexmv commented on #19543
Our [Dockerfile does explicitly set a `LANG`](https://github.com/zulip/docker-zulip/blob/main/Dockerfile#L8):
[code]

@lzucc, were you using that Dockerfile, or a different one?

[2021-10-19 00:12] #19082 closed

[2021-10-19 01:10] timabbott commented on #19558
Yeah, that sounds good.

[2021-10-19 09:47] #19964 closed

[2021-10-19 12:25] carlinmack opened #20007 "Meta: Consider pinning issues"
On GitHub, you can pin an issue via its sidebar and it will appear on the issues tab like this https://github.com/microsoft/vscode/issues. This is a good place to highlight issues of general interest (perhaps an important project) or long term goals, like a roadmap, so that potential contributors can see what's important.

I don't have suggestions for specific issues, but hopefully some issues spr

[2021-10-19 13:22] dbelokon commented on #20002
Hey!! I am interested in working on this. Can you please assign it to me? 😊

[2021-10-19 16:23] varkor opened #20008 "Text format string for linkifiers"
In the [Category Theory](https://categorytheory.zulipchat.com/) Zulip server, we're using a linkifier to turn `[[text]]` into a hyperlink to the corresponding [nLab](https://ncatlab.org/nlab/show/HomePage) page. This works really well. The only downside is that linkifiers turn the entire matched string into a hyperlink so that we get links that look like [[[text]]](), which is a bit ugly. It would

[2021-10-19 17:24] bootlegyaga opened #20009 "KeyError: 'invite' for Self-Hosted Zulip and Self-Hosted Matrix servers"
Hello I've been trying to setup the integration for a self hosted zulip and a self hosted Matrix server for a while now but stuck on the last step, the starting to mirror matrix bot.
I ran this: `python zulip/integrations/bridge_with_matrix/matrix_bridge.py -c matrix_bridge.conf`

and got this:
`Starting matrix mirroring bot
Traceback (most recent call last):
  File "zulip/integrations/bridge_with

[2021-10-19 18:13] anurastogiji commented on #19973
@zulipbot abandon

[2021-10-19 19:21] #19998 closed

[2021-10-19 19:56] eXtrem0us commented on #19999
Hi @timabbott and @alya

Thanks to you and all the developers for this attractive product.

It's been always an struggle for me and my colleagues to find the users among the other ones.
It's not just about the avatars. But also the arrangement of the users. Sorting the users by their online status doesn't work for us. (someone who has recently become offline would be moved to the end of list... we

[2021-10-19 21:56] gnprice commented on #16013
Another requested character is `.`: https://chat.zulip.org/#narrow/stream/9-issues/topic/linkifier.20with.20period/near/1264973

(Though I agree with @jcharaoui that we probably shouldn't be applying a regex like this at all.)

[2021-10-19 22:24] gnprice opened #20011 "Lost position on going back to Recent Topics"
I've been running into the following issue many times today:
* I'm using Recent Topics, and I navigate into some conversation.
* Then I navigate back.
* Expected: The list is scrolled to the same position as when I was in Recent Topics before, and my cursor is in the same place as before.
* Actual: The scroll position and cursor are in some random other position, so that I'm lost and have to spend

[2021-10-19 23:42] alya commented on #18318
@timabbott @jonathanktran what's the sate of this PR?

I'd love to get this merged, and especially to do the migration of day -> light, night -> dark, so that we can have terminological consistency throughout the product and help documentation.

[2021-10-19 23:46] alya commented on #19900
I haven't checked whether this is currently the case, but for admins, we should keep the "We also have a guide for [Setting up your organization]({help_url})." line.

[2021-10-20 01:25] cvillordo commented on #19958
@zulipbot claim

[2021-10-20 02:10] cvillordo commented on #18881
@zulipbot claim

[2021-10-20 04:00] alya commented on #19958
@RaphaelAzev could you post a screenshot of the resulting light mode variant? Thanks!

[2021-10-20 05:54] alya commented on #5803
I'd love to have search implemented for /help! @erlend-sh , is the offer to discuss using MeiliSearch still open? If so, @eeshangarg , perhaps you could look into this from our side?

[2021-10-20 06:03] alya opened #20017 "Add "Resize the compose box" documentation"
Expanding the compose box (by clicking ^ in the upper right of the compose box) is a relatively new feature, and needs to be documented.

We should add a documentation page titled "Resize the compose box", indexed just below "Open the compose box". It should provide instructions (in separate sections) for how to:

1) Expand the compose box
2) Collapse the compose box
3) Stretch the compose box

(3

[2021-10-20 09:28] TeemuTo opened #20020 "There is no chance to switch dark mode off on Windows app"

[2021-10-20 09:28] raghupalash commented on #19900
did you mean the message formatting tab? I figured that we need to go to `#message-formatting`.

[2021-10-20 11:35] isakhagg commented on #19960
@zulipbot claim

[2021-10-20 11:49] erlend-sh commented on #5803
I don’t work there anymore, but @tpayet might be interested in discussing this ☺️

[2021-10-20 16:14] alya commented on #19960
Looks good to me!

[2021-10-20 17:54] alya opened #20023 "Add emoji reactions to Welcome Bot"
As a follow up to #19985, we should try adding reactions to the Welcome Bot.

1. The first time someone replies with a command Welcome Bot understands: 🎉
2. The other times someone replies with a command Welcome Bot understands: 👍
3. When someone replies with a command Welcome Bot does not understand: cycle through ❓ , :oh no:, ❔ ; feel free to suggest other emoji that indicate confusion as well.

[2021-10-20 21:32] Jordan-Rob commented on #20023
@alya alright understood, let me try out other options

[2021-10-20 21:38] MungaiKeren commented on #20017
Ready for review

[2021-10-20 23:11] odunybrad opened #20027 "Add unique constraints and failover for `email` and `delivery_email` in `UserProfile`"
## Issue summary
`UserProfile` model has two fields `email` and `delivery_email`.
By definition, they should be unique_together with the realm.

We have code logic to check existence before save. However, the check is error-prone to concurrent requests.

We require `case-insensitive` uniqueness here. This may not be well-supported in  Django/DB now.
However, it's still better to at least enforce t

[2021-10-21 00:05] odunybrad opened #20028 "Created keys in two confirmation models with ambiguous constraints."
I notice two fields related to the confirmation having some potential issues, either missing the constraints or use it in an incorrect way. Could you help fix it?
Thanks in advance.

## Issue 1

1. The field `key` in `RealmCreationKey` is created using the `secrets.token_bytes` and we can add the unique constraint in the model, just in case.
This is the common practice to add unique constraints.

[2021-10-21 04:58] hunterachieng commented on #19936
@alya Hi, did you get a chance to look at my PR and screen cast?

[2021-10-21 06:04] alya opened #20035 "Give users full control over email visibility"
At present, organization admins can set the visibility for email addresses in the organization. This does not allow the user to fully control the visibility of their email address.

We want to make the following change in order to enable users to control who their email is shared with:

1) Add a drop-down under Personal settings > Account & privacy > Privacy to control one's own email visibility.

[2021-10-21 06:11] alya commented on #19936
Ah, thanks for the bump! Why is there a red error popping down from the top in your screencast? Certainly, that should never happen for a user.

There is a lot going on in your screencast. Please share two short screencasts addressing precisely the issues described above when you think you have solved them, and we can go from there.

---

Screencast 1:
When manually editing the birthday custom pro

[2021-10-21 08:59] Chinemereem commented on #19999
@zulipbot claim

[2021-10-21 09:11] RPanczak opened #20036 "clickup integration on the horizon?"
Hi team,

Will [clickup](https://clickup.com/) be considered as a potential integration?

Thanks!

[2021-10-21 12:51] florealcab opened #20040 "Giphy & Web preview: client side rendering"
I want to install zulip an my enterprise but the VM has no internet access. Si if I add a gif (giphy) or a link, I has a blank gif (image not loadable) and for the link I have no preview. I test add internet to the VM and in that case all works perfectly. But I can't keep internet access.

So I suppose all that things are generated server side? Is there a way to make them client side? If not, shou

[2021-10-21 14:07] d-sko opened #20041 "LDAP sync question"
Hello,

I'm currently testing Zulip with LDAP as auth backend and have a question: how can users be correctly recognised after their name changed in the directory (like marriage).
My understanding is that Zulip stores the mail address ("real" mail address from LDAP or generated by combining username and `LDAP_APPEND_DOMAIN`) as `delivery_address` and uses this to map LDAP users to Zulip user mappi

[2021-10-21 21:27] RaphaelAzev commented on #19958
Hello @alya ! I posted the results on the description of the pull request I opened a few days ago.
This was the result I posted there:
![image](https://user-images.githubusercontent.com/26484801/138359132-1cc3a655-bff9-4f7c-ae6a-3c61097d2c18.png)

[2021-10-21 23:12] timabbott opened #20043 "Add option to disable Escape key navigating to the default view"
As discussed in https://chat.zulip.org/#narrow/stream/137-feedback/topic/turn.20off.20.22Esc.22.20to.20default.20view.3F/near/1269887, it'd be really nice to have a way to disable the `Esc` key navigating you to the Recent Topics / All messages view (which you can already do via the `a` and `t` keyboard shortcuts if you want to do that).

We can put this in the "Advanced" section of "Display setti

[2021-10-21 23:40] alya commented on #19999
@Chinemereem please use `@zulipbot abandon` to unclaim an issue.

You may work on any `help wanted` issue that seems approachable, but we ask that you tackle one issue at a time to start with. Please see https://zulip.readthedocs.io/en/latest/overview/contributing.html for more info.

[2021-10-22 00:57] alya opened #20044 "Display organization name in left sidebar"
At present, it can be hard to figure out what Zulip organization you're looking at. A user may not notice the URL bar in the web app, and the org logo may not be easy to interpret in the Desktop app sidebar.

To address this, we should try displaying the name of the organization in plain text in the left sidebar, below the logo and above "All messages".

The implementation should look reasonable i

[2021-10-22 05:56] alya opened #20045 "Add compose box button to insert local time"
The [local times widget](https://zulip.com/help/format-your-message-using-markdown#mention-a-time) is very useful, but can be difficult to discover, and requires remembering a bit of syntax (`<time`) in order to use.

 To address these challenges, we should add a compose box button to insert a local time.

* Icon: https://fontawesome.com/v4.7/icon/clock-o
* Location: Between the smiley and `GIF` u

[2021-10-22 20:40] Morgannjaw opened #20046 "make settings dropdown responsive"
at the moment a user is not being able to scroll down in the menu of the settings dropdown  in a short window ( approximately  <= 1395.56 x 526px.) Some of the contents such as "log out", "support zulip" "API documentation" etc get hidden and inaccessible.

[2021-10-22 20:40] #19938 closed, assigned to madrix01

[2021-10-22 22:23] alya opened #20047 "Make it possible to flag problematic messages"
(Note: This issue described an updated design for #9172.)

Organizations, especially open organizations, may occasionally have messages that are inappropriate (e.g. spam, code of conduct violation, etc.). At present, users may manually report such messages to administrators, who can then delete the message and/or disable the user who sent it as appropriate. However, there is no in-app way to flag

[2021-10-24 04:33] Aikatsui opened #20054 "Add a Revolt Chat integration"
Resources:

https://revolt.chat/
https://github.com/revoltchat
https://gitlab.insrt.uk/revolt
https://developers.revolt.chat/api/
https://github.com/revoltchat/revolt.js

[2021-10-24 04:33] Aikatsui opened #20055 "Add a Twake integration"
Resources:

https://twake.app/
https://github.com/linagora
https://github.com/linagora/Twake
https://github.com/linagora/Twake-Documentation

[2021-10-24 19:19] YashRE42 opened #20060 "reactions: Preserve order of reactions"
When users react to messages, they expect their reactions to be in the same order as they put them. What currently happens is that the reactions stay in the order they are placed, until the page is refreshed, at which point they are exactly reversed.

See the gif bellow for example:
![](https://user-images.githubusercontent.com/33805964/138609247-8e5e6bd6-930a-43d8-bcc1-b95a1b47ad47.gif)

The func

[2021-10-25 17:42] HammerAdmin86 opened #20061 "Restrict Global User Lookup"
Hey Everyone,

Loving the capabilities of Zulip so far.  One feature that would be great to see is the ability to restrict users to only be able to search/view other users within a particular stream/or user group.  I know there is potential future work to federate Zulip but for now I think the proposal above would be an easy feature add.  When these chat platforms are used within a private organiz

[2021-10-25 22:32] xeruf opened #20065 "Smarter PostgreSQL installation"
I have both postgresql-13 and postgresql-14 installed, yet get this error:
[code]
Which makes no sense to me.

Previously I had only postgresql-12, and the installer complained it did not want to uninstall the existing for 13, even though 12 is [supported](https://zulip.readthedocs.io/en/stable/production/deployment.html#advanced-installer-options).
In that case I would expect the installer to sim

[2021-10-25 23:08] alya opened #20066 "Preserve location of blue box (selected message) when navigating "back""
At present, the location of the blue box is not preserved if you navigate away and come back (e.g. via the "back" button). Preserving the position would be a major improvement to the experience of returning to search results and starred messages, as well as being more convenient throughout.

 We should therefore preserve the position of the blue box (i.e. selected messages) when navigating "back".

[2021-10-26 02:29] andersk opened #20067 "Favicon number font fails to load in Firefox nightly"
Firefox nightly has the **gfx.downloadable_fonts.otl_validation** preference enabled by default, and this validation rejects the subsetted font we embed into the SVG favicon to show numbers. I filed an upstream issue with the subsetter at ecomfe/fontmin#98.

[2021-10-26 16:40] alya opened #20071 "Cursor jumps after quoted message loads"
When replying with a quote, the cursor moves back to the beginning once the quote resolves, disrupting ongoing typing.

Steps to reproduce:

- Select a message.
- Make sure the text box isn't currently open (press esc if necessary).
- In quick succession, press > and then immediately start typing a reply.
- For a short time, the text box will include a note saying Quoting in square brackets, but y

[2021-10-26 17:40] alya opened #20073 "Preserve `dm:` syntax in search bar for blank user searches"
When a user accidentally searches for `dm:` or `dm:""`, the result is confusing, as nothing shown in the search bar:
![Screen Shot 2021-10-26 at 10 33 15 AM](https://user-images.githubusercontent.com/2090066/138930975-a7fc554d-6feb-41ed-88d2-877db99f5a6b.png)

To make it clear what's happening, we should keep the "dm:" syntax visible in the search bar when:
1) the search is for an empty user
2) th

[2021-10-27 13:08] mateuszmandera opened #20076 "Return proper LogoutResponse to the IdP in case of failure in SAML IdP-initated logout"
This is a follow-up to soon-to-be-merged #20038. `SAMLAuthBackend.process_logout` doesn't return LogoutResponse in case of failure like demanded by the spec:

https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf

type StatusResponseType, with no additional content specified.

That's due to `python3-saml` `OneLogin_Saml2_Logout_Response` only supporting building a success response:
[

[2021-10-27 18:41] alya opened #20077 "Resize "Add choice" poll button based on language"
At present, the "Add choice" poll button ends up taking two lines in languages where the text on the button is relatively long. E.g. in Russian:

<img width="480" alt="Screen Shot 2021-10-27 at 11 32 35 AM" src="https://user-images.githubusercontent.com/2090066/139126681-ccccd99b-5bb4-484f-bf11-76e8ac3a9e96.png">

Instead, the button should be sized to fit the full text on one line regardless of l

[2021-10-27 20:05] nooblag opened #20080 "Tracking user invitations in configurable channel"
It may be desirable in Zulip instances that are _invite only_ for admins/moderators (or any other user with access to `core team` stream) to be able to track who has been invited, when, and by whom, after a new user has accepted an invite.

Currently, I can see pending invitations that show whom invited whom at `Settings -> Organisation -> Invitations` but after a user is added, it appears the onl

[2021-10-27 20:35] alexmv opened #20081 "The `delete_after_upload` flag in export_realm_wrapper should also delete the `output_dir`"
https://github.com/zulip/zulip/blob/73a6f2a1a7fbfb939b8bdaded4148f9dcf8a6e81/zerver/lib/export.py#L1944-L1980

After a successful export and upload, the `delete_after_upload` flag will delete the `.tar.gz` file -- but will leave the full un-gzip'd `output_dir`.  This means that even successful exports will build up in `/tmp` over time.

We should make the `delete_after_upload` flag also delete the

[2021-10-27 21:31] timabbott opened #20082 "Integrate codespell into `tools/lint`"
In #19995, we added https://github.com/codespell-project/codespell as a linter.  However, for technical reasons, we're not running it as part of the common `tools/lint` framework yet, mainly since we haven't integrated it with our system to only run on files that have changed, and it takes 1.5s to check the whole codebase, which we certainly don't want to add to a `tools/lint <PATH>` run.

To addr

[2021-10-28 10:24] mateuszmandera opened #20084 "SP-initated SAML Logout"
This is for tracking the second half of work towards supporting the SAML Logout Protocol. With IdP-initated logout merged in 4105ccdb173689ce499ce1f86e6542a239d643c8 (#13948), SP-iniated logout needs to be implemented next.

[2021-10-28 12:12] chabinot opened #20085 "Python Invalid syntax"
Hello,
I am doing as follows:
python -m virtualenv fonttools-venv
I got an error "SyntaxError: invalid syntax. Perhaps you forgot a comma?"
 How can i do ? I am under windows 11, i use python command to do this.

[2021-10-28 16:06] christianknell opened #20087 "[BUG] grafana 8 webhook integration"
Using the latest major release of grafana, i'm not able to use the existing webhook integration.

I receive the following error message in zulip-log:

[code]

The grafana log tells me:
[code]

[2021-10-29 17:23] Igorgro opened #20101 "Youtube previews stopped work after update"
Recently we've update our Zulip server from 3.4 to 4.5 and this caused breaking of youtube previews. This is how them look now:
![изображение](https://user-images.githubusercontent.com/22894169/139476899-29290065-655a-42d8-ad4a-7d0139b78a7e.png)
The image has url https://zulip.example.com/external_content/fad0dca7c01ff67ad79bd03433cf70cacb.... which returns 404. How this can be solved?

[2021-10-29 18:10] alexmv commented on #20081
I don't think we need different flags for the zipped vs unpacked version -- either I want a backup, or I don't, and what format I get doesn't really matter, since they're interchangeable.  And to Tim's point, I agree that defaulting to _not_ keeping a backup is probably the right default.

[2021-10-29 18:47] dbelokon commented on #20101
@zulipbot claim

[2021-10-29 20:34] anurastogiji commented on #19765
@zulipbot I am still working on this issue

[2021-10-29 23:37] timabbott opened #20105 "Add try/except around running webpack in production with error message about memory issues"
At present, one of the most common ways for upgrading a Zulip server to fail (based on reports we get) is `webpack` failing due to OOM issues.  We have attempted to prevent this via da84b19aea57121424acc8982e857bda20672e1d.  But that's a very tuning-sensitive value; if webpack memory consumption increases for whatever reason, we can still OOM kill.

So as a defense in depth layer, we should provid

[2021-10-30 00:04] timabbott commented on #20085
@chabinot this question doesn't seem related to Zulip, so I'm closing this issue.  I suggest using a site like StackOverflow that is designed to answer questions about any software thing.

[2021-10-30 00:04] #20085 closed

[2021-10-30 00:07] timabbott commented on #20101
@dbelokon I don't think we understand the issue such that a new contributor can work on it.

I haven't seen this reported elsewhere; @Igorgro can you stop by https://zulip.com/developer-community/ to debug interactively?  There's a number of questions we'll have (whether you're using Docker, whether old links broke or new ones or all of them, etc.).

[2021-10-30 00:09] timabbott commented on #20087
Thanks for the report!  Did this work for you previously with a different Grafana version? If not, I'd suggest first checking that you followed the configuration steps in https://zulip.com/integrations/doc/grafana correctly; I can imagine a few ways that an error like this might happen.  It is also possible that Grafana changed their webhook format.

CC @alexmv, since we might run into this when w

[2021-10-30 00:58] alya commented on #12328
Requested again in [this CZO thread](https://chat.zulip.org/#narrow/stream/138-user-community/topic/search.20help).

[2021-10-30 01:00] alya commented on #16315
This seems like a different UX idea for #12328.

[2021-10-30 01:04] andersk commented on #5803
I suspect we want to investigate lightweight client-side alternatives like [FlexSearch](https://github.com/nextapps-de/flexsearch) before spinning up a new backend microservice just for documentation search. [Discussion](https://chat.zulip.org/#narrow/stream/3-backend/topic/meilisearch.20deployment/near/1274251).

[2021-10-30 01:15] #20043 closed

[2021-10-30 01:18] alexmv commented on #20087
Grafana 8 [changed how it does alerting](https://grafana.com/docs/grafana/latest/alerting/unified-alerting/), which is likely the culprit here.

What version were you on previously, and what version are you on now?

[2021-10-30 01:28] alexmv commented on #20087
Oh, and did you [opt-in](https://grafana.com/docs/grafana/latest/alerting/unified-alerting/opt-in/) to the new alerting?

[2021-10-30 05:47] alya opened #20107 "Cmd-[ shortcut incorrectly uses Ctrl-[ on a Mac"
On a Mac, shortcuts that use Ctrl on other systems are expected to Cmd. This is the case for Ctrl+K, Ctrl+., and Ctrl+S.

However, the unexpected behavior is observed for Ctrl-[ and Cmd-[ on a Mac.

Ctrl-[ seems to have the functionality described in the documentation. Cmd-[ seems to have no effect in the desktop app. In the web app, it seems to have some kind of navigational functionality, but I'

[2021-10-30 06:01] alya commented on #20077
Turns out we have the same issue with the "Add task" button in TODO lists:

<img width="681" alt="Screen Shot 2021-10-29 at 10 59 24 PM" src="https://user-images.githubusercontent.com/2090066/139522312-3d2ea4f0-6be2-4e68-a0d8-d1e19259f7d4.png">

[2021-10-30 06:04] alya commented on #20077
Also, while we're here, we should check whether we forgot to internationalize the "Task list" string.

[2021-10-30 06:53] gopik820 commented on #20077
That was also fixed in the PR ,since the width property was common to both buttons.

[2021-10-30 06:55] gopik820 commented on #20077
Yes it seems that the "Task list" string is not internationalized.

[2021-10-30 07:09] madrix01 commented on #20081
@alexmv Ok, I get it now. So we need need to add another flag `--keep-unpacked-copy`, which wouldn't delete `output_dir` if the flag is passed otherwise delete `output_dir` by default. I would like to work on this!

[2021-10-30 12:02] axaysagathiya commented on #19821
@zulipbot claim

[2021-10-30 14:14] rht commented on #15844
Until this issue gets resolved, for now you can check out https://github.com/rht/star.zulipchat.com, a manually curated list of public zulipchat.com realms.

[2021-10-30 16:36] talheim-it opened #20108 "Zulip - RocketChat - Data Converter"
Hello!

I installed Zulip from Git and tried to run the convert_rocketchat_data script.

Zulip Version: 5.0-dev-2500-g73710e1cf0
RocketChat Version: 4.0

Server Specifications:
OS: Ubuntu 20.04.3 LTS
CPU: 4
Memory: 16GB RAM
SWAP: 4GB

The migration looks like following:
[code]

The situation is that it seems that the converter fails at some point but I don't know where. I also tried to run it with

[2021-10-30 17:24] Igorgro commented on #20101
Yes, we using Docker to run Zulip. Recently I've come across this issue https://github.com/zulip/docker-zulip/issues/179 and tried to disable camo by specifying '' CAMO_URI. After that, if I post a youtube link it is rendered correctly because Zelip puts raw youtube preview link instead og https://zulip.example.com/external_content/. But I am not sure if this solution sae to use on production serv

[2021-10-30 21:29] Be-ing opened #20111 "(multifactor) authentication with WebAuthn + FIDO keys"
The [WebAuthn](https://webauthn.guide/) and [FIDO2](https://fidoalliance.org/fido2/) standards greatly improve security over sending passwords over a network. WebAuthn can be used to have FIDO2 keys as a single authentication factor or as a second factor in addition to an old fashion password. It would be great if Zulip supported this authentication method.

I recommend to *not* use SMS as a secon

[2021-10-30 21:38] Be-ing commented on #9521
#20111

[2021-10-31 07:23] habfem opened #20112 "Windows Setup"
Easier Set-up for Windows users

[2021-10-31 07:32] habfem opened #20113 "Add box-shadow to Add choice button"
![Add Choice](https://user-images.githubusercontent.com/72679550/139573116-9cea9689-b292-4da9-a7cc-800c3f260483.PNG)

[2021-10-31 10:43] iampranavdhar commented on #20113
@zulipbot claim

[2021-11-01 00:52] timabbott commented on #20108
@talheim-it that error message is for an out-of-memory failure.  If you are running the tool on a Zullip server with minimal memory, I'd recommend shutting down the Zulip server with `scripts/stop-server` before running the conversion tool.

It's also possible that either you have a very large Rocket.Chat dataset or there's a bug with the conversation tool that makes it consume more memory than it

[2021-11-01 00:53] timabbott commented on #20112
@habfem you're encouraged to post feedback on the Windows setup experience in chat.zulip.org, but I don't think an issue with a description like this is actionable for the community, so I'm closing it.

[2021-11-01 00:53] #20112 closed

[2021-11-01 01:01] timabbott commented on #9521
The current 2FA plans involve using https://github.com/Bouke/django-two-factor-auth, which probably determines what protocols we'll support at least at first.

[2021-11-01 01:06] Be-ing commented on #9521
:weary: That doesn't support FIDO. https://github.com/Bouke/django-two-factor-auth/issues/437

[2021-11-01 02:50] rht commented on #20108
Is this specific to the Rocket.Chat data conversion? IIRC the Slack version scales nicely to large data.

[2021-11-01 02:54] amacf commented on #19713
Still working on this - just need to do some testing on the latest updates in PR# 19944

[2021-11-01 03:11] Aryan4786 commented on #20066
@zulipbot claim

[2021-11-01 07:35] mharyam commented on #19967
@zulipbot claim

[2021-11-01 09:07] ganpa3 opened #20116 "Removing bot owner raises an error."
To reproduce:
1. Go to Settings > Bots
2. Click on the edit bot button
3. Remove the owner
4. Save changes

![image](https://user-images.githubusercontent.com/58626718/139648398-c0820f0e-e70d-4d7a-9b40-85d1bf1bcefe.png)

[2021-11-01 10:28] edith007 commented on #19967
Hi @mharyam! 👋🏻 \
I have already started working on this issue and here is the link to the pull request https://github.com/zulip/zulip/pull/20050

[2021-11-01 11:00] ankur12-1610 opened #20118 "Add a bottom padding to the save button."
The save button in user groups of organization settings has zero spacing and its bottom padding needs to be increased.

To reproduce the bug:
- Open the `Settings` menu
- Open `User groups` in `Organization` section.

Note: The bottom padding needs to be increased only in certain `media queries`.

![zerror](https://user-images.githubusercontent.com/76884959/139661629-67002959-28be-4353-92de-7ac16f

[2021-11-01 15:36] talheim-it commented on #20108
@timabbott I am testing it today. Thanks for the info

[2021-11-01 16:10] talheim-it commented on #20108
@timabbott I run into the next issue after I increased the memory to 16GB of the vm:
[code]

Seems like an issue with the channel conversion?

[2021-11-01 16:14] talheim-it commented on #20108
Added additional informations about the server to the issue.

[2021-11-01 16:24] talheim-it commented on #20108
@rht I only tested it with Rocket.Chat. I takes a lot memory. I see it permanently Growing. Before all was fine with 4 CPUs, 8GB Memory, 4GB Swap. Now I had to double the Memory to 16GB to get the next error.

[2021-11-01 18:45] amanagr commented on #19844
I think it looks good enough.
<img width="806" alt="Screenshot 2021-11-02 at 12 14 03 AM" src="https://user-images.githubusercontent.com/25124304/139724329-aea91f03-61ad-4c0e-ae53-f45ecf925689.png">

[2021-11-01 19:57] harsitsinha commented on #19653
@zulipbot claim

[2021-11-01 21:05] alexmv opened #20127 "Create stream in an atomic transaction"
`create_stream_if_needed` does:
https://github.com/zulip/zulip/blob/862061fa53ad085e1a528a26cc89e636485fb0b9/zerver/lib/streams.py#L105-L125

This has a window when the newly-created stream has no `Recipient` object, which can lead to odd exceptions.  We should create the interconnected Stream and Recipient objects in a single transaction, so that other reads can't find a stream with inconsistent

[2021-11-01 21:21] alexmv opened #20128 "Filter newlines and control characters from topic names and other locations"
The only validation currently done on topics is that they cannot be empty, after stripping whitespace:
https://github.com/zulip/zulip/blob/f4d2d199e249f9c6437a952c201cb0d163eb9069/zerver/lib/addressee.py#L37-L43

This allows topics with embedded `\r`, `\n`, and potentially other characters, which negatively affect rending and various parts of the UI.  We should strip some broad class of such chara

[2021-11-01 21:48] gnprice commented on #20128
Reference on the categories `Cc` and friends, aka the Unicode `General_Category` values:
https://www.unicode.org/reports/tr44/#General_Category_Values

Here's a demonstration of how to identify a character's Unicode general category in Python. The ZWJ is in category Cf:
[code]
Newlines are category Cc:
[code]

[2021-11-01 22:20] timabbott commented on #20108
@talheim-it with your new exception, can you `print(channel_dict)` on the line before that failure?  That should hopefully provide the information needed to debug.

[2021-11-01 23:18] alya opened #20129 "Update documentation and marketing pages to refer to `<time` as "global time""
Based on discussion [here](https://chat.zulip.org/#narrow/stream/2-general/topic/.3Ctime.20widget.20terminology/near/1275009), we decided to use the term "global time" to refer to the `<time` widget. The following documentation and marketing pages should be updated accordingly:

* https://zulip.com/help/format-your-message-using-markdown#mention-a-time
* templates/zerver/help/include/messaging-tip

[2021-11-01 23:18] timabbott opened #20130 "Fix keyboard UI with date picker with new global time compose widget"
When using `tab` on the keyboard to navigate to the new button to add a global time in the compose box (#20069), for some reason, confirming with the "OK" button does not properly enter the time the user selected into the compose box.  We should fix that, since Zulip should support all UI navigation with either the mouse or the keyboard.

It is possible that we should look at replacing `flatpickr`

[2021-11-01 23:20] #20045 closed

[2021-11-01 23:24] alexmv commented on #20081
@timabbott's preferences may differ, but here is what I would like:
 - Running `./manage.py export --upload` would default to leaving nothing left in `/tmp`
 - Running `./manage export` without `--upload` would leave a `.tar.gz` in `/tmp` and no unpacked directory
 - There is no `--delete-after-upload` flag, since that is the default.

 I don't think there's a need for a `--keep-unpacked-copy`, si

[2021-11-01 23:24] timabbott commented on #20116
Hmm, I think our intent at some point was to not allow removing the owner from a bot (since it's a nice invariant that all bots have an owner) -- should we just make that the case?

[2021-11-01 23:25] timabbott commented on #20127
@mateuszmandera @abhijeetbodas2001 FYI.

[2021-11-02 00:26] timabbott commented on #20081
The `--keep-unpacked-copy` option (previous default behavior) is something that I used to use a lot when we were developing the export tool -- made the edit/refresh debugging cycle fast.  It may have outlived its purpose; I'd be fine with just removing the option and seeing if we ever find that we wish we had it.

So yeah, I think the above plan would be just fine.

[2021-11-02 00:31] timabbott commented on #19844
Maybe "Browse other conversations using recent topics" for the text?

I think it looks OK but might prefer a different design that put more space after the last messages in the stream; maybe leave the `Z` logo loading indicator vertical buffer space before a widget?  (This would help that message not jumping up and down when scrolling forward in time from an old conversation, if I'm correct in ass

[2021-11-02 00:43] ianhyzy opened #20132 "Throw an error when EMAIL_HOST_USER is specified but not email_password"
As a convenience (from someone who was misreading zulip/zulip-secrets.conf as zulip/secrets.conf), it would be nice to see an error message when EMAIL_HOST_USER is specified but the password is missing in the secrets file.

[2021-11-02 05:12] amanagr commented on #19844
It is not possible for a spectator to have a forward loading indicator, since the spectator will always view the latest messages first. So, this works I guess.

[2021-11-02 08:54] talheim-it commented on #20108
@timabbott

I added it on line 152, before the error occurs in the rocketchat.py:

[code]

This is the output:

[code]

[2021-11-02 09:28] isakhagg commented on #19905
I'm still working on this issue, just been busy with exams the last few days.

[2021-11-02 09:52] ganpa3 commented on #20116
Seems right.

[2021-11-02 10:01] AnushaNathRoy commented on #19865
@zulipbot claim

[2021-11-02 13:09] johanehinger commented on #19931
@zulipbot claim

[2021-11-02 13:24] mharyam commented on #19967
Hi @edith007
Looks like this is already closed, right ?

[2021-11-02 13:27] edith007 commented on #19967
No actually, I am still working on this PR, and will push some changes by the end of the week. So it is not closed, the PR is still open against this Issue. 🙇🏻

[2021-11-02 16:10] johanehinger commented on #19931
@timabbott Check out #20137

[2021-11-02 17:55] timabbott opened #20140 "Add common function for fetching medium-size avatar URLs"
This should work like `small_avatar_url_for_person`, but for the medium size. You can find the few places where we try to get a medium-size avatar URL via `git grep medium static/js`; part of what we want to fix here is the inconsistency between their URL constructions.  See #20119 for some refactoring we did that make this closer to working.

We should make sure the new functions have node test c

[2021-11-02 18:15] timabbott commented on #20081
I guess @garg3133 @hackerkid as folks who've worked on the data import/export system a lot, what are your thoughts on the UX questions discussed above?  It'd be nice to have additional confirmation of our thoughts on the CLI for this tool.

[2021-11-02 18:26] #19838 closed

[2021-11-02 18:38] timabbott commented on #19844
I think it is if they visit a `near:` narrow, which will actually be pretty common when clicking links from bug trackers and the like.

[2021-11-02 19:17] alya opened #20141 "Document /todo list functionality"
The /todo command in Zulip lets one create a /todo list. At present, this command lacks user documentation.

We should add a section to https://zulip.com/help/format-your-message-using-markdown to document the use of this command.

[2021-11-02 20:01] mharyam commented on #19967
Okay, no problem 😄
I will unclaim  it

[2021-11-02 20:01] mharyam commented on #19967
@zulipbot unclaim

[2021-11-02 23:02] mharyam commented on #20027
Hi @alya,
Is this something that can be worked on?

[2021-11-02 23:04] mharyam commented on #20002
@zulipbot  claim

[2021-11-02 23:37] alya commented on #20027
@mharyam  Please find an issue with a "help wanted" label. See https://zulip.readthedocs.io/en/latest/overview/contributing.html.

[2021-11-03 03:10] ankur12-1610 commented on #20118
@zulipbot abandon

[2021-11-03 03:11] ankur12-1610 commented on #20140
@zulipbot claim

[2021-11-03 03:12] gopik820 commented on #20077
@alya The PR is ready for review.

[2021-11-03 03:55] Manan-Rathi commented on #20141
@zulipbot claim

[2021-11-03 04:24] #19224 closed

[2021-11-03 06:49] mathuranish commented on #19055
@zulipbot claim

[2021-11-03 07:52] ankur12-1610 commented on #20118
@zulipbot claim

[2021-11-03 07:52] ankur12-1610 commented on #20140
@zulipbot abandon

[2021-11-03 07:53] ankur12-1610 commented on #20118
@zulipbot claim

[2021-11-03 08:59] amanagr commented on #19844
Oh! The loading indicator is actually below the bookend.

[2021-11-03 09:01] Vooply opened #20147 "Internal Server Error for some users, can not entering to zulip"
Hi all!
 Hope somebody help me ^^
 1. Few users can`t enter our zulip organization, when they input email and password, they only see that the server is not working for technical reasons, but other users can enter. it's on all platforms

![image](https://user-images.githubusercontent.com/43493241/140032456-455ab48b-d303-45de-8cd9-43acabdd13b3.png)

2. We don`t see the available status, we sit next

[2021-11-03 10:23] triksi254 commented on #20001
@zulipbot claim

[2021-11-03 10:23] triksi254 commented on #20001
I am still working on the project

[2021-11-03 14:31] juliaBichler01 commented on #19360
@zulipbot claim

[2021-11-03 16:57] talheim-it commented on #20108
@timabbott anything else I can do here? I am stucked within the migration.

[2021-11-03 17:59] timabbott commented on #20108
@garg3133 FYI as the original author of the tool; can you help debug?

[2021-11-03 18:11] timabbott commented on #20108
I haven't read this format, but I think what's going on is that Rocket.Chat's Omnichannel/livechat channels use the `fname` field ("guest-6" here) rather than `name` for some reason to identify the channel.  Can you check if the tool completes replacing that line with

`stream_name = channel_dict.get("name", channel_dict["fname"])`

?

It's likely that a better choice for how to structure the impo

[2021-11-03 18:14] #20081 closed

[2021-11-03 19:30] somesh202 commented on #20073
@adii21-Ux  Are u still working on this issue? If not, can I claim this one?

[2021-11-03 19:44] garg3133 commented on #20108
Yes, Rocket.Chat uses the `fname` field to specify the channel names of Livechat and Discussions, and that's what is causing this error.

I've opened #20153, which should fix this.

Yes, that's what I was thinking.

[2021-11-03 19:56] alya commented on #20077
Cool, could you also fix the "Task list" internationalization? I don't see it in the PR.

[2021-11-03 23:52] #19907 closed

[2021-11-04 04:24] somesh202 commented on #20140
@zulipbot claim

[2021-11-04 05:48] mharyam commented on #20002
@zulipbot abadon

[2021-11-04 07:05] madrix01 commented on #20128
@gnprice @alexmv This seems a good backend issue.
As mentioned above, for the topic, filtering out `Cc`, `Cn` and `Cf` categories would be enough to validate the topic. I would like to work on this.
Thank you !!

[2021-11-04 08:09] hunterachieng commented on #19936
@zulipbot I am still working on it.

On Thu, 4 Nov 2021, 10:47 zulipbot, ***@***.***> wrote:

[2021-11-04 08:18] Morgannjaw commented on #20046
Hi @timabbott i had tried using simplebar but it wouldn't work.after getting some help from the community i created another class and edited the zulip.css file and it seemed to work pretty fine. please check it our and let me know before i open a PR. here is a screencast .

https://user-images.githubusercontent.com/52905547/140279855-2acb5a3c-9660-4357-b971-c2bc8f9140dd.mov

[2021-11-04 09:05] aadityasinha-dotcom commented on #20127
Can I work on this issue?

[2021-11-04 09:06] aadityasinha-dotcom commented on #20127
@zulipbot claim!!

[2021-11-04 10:50] isakhagg commented on #19905
@timabbott and @alya I have now done what I believe are the appropiate changes in the database. I do have a bit of a difficult time figuring out the next step. Are there any changes that needs to be done in the backend?

[2021-11-04 11:20] talheim-it commented on #20108
@garg3133 thanks, I have another issue now:

Background: The user is not existing anymore as user, so it seems that the error occurs because the reaction is still in the database, but the user not.

[code]
Any option to handle this?

[2021-11-04 15:43] Vooply commented on #20147
2021-11-04 13:35:34.214 ERR  [zerver.middleware.json_error_handler] Traceback (most recent call last):
  File "/srv/zulip-venv-cache/3738dadf748d3baa2eb0371a83c912149a50d964/zulip-py3-venv/lib/python3.6/site-packages/django/core/handlers/base.py", line 181, in _get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "./zerver/lib/rest.py", line 33, in _wrapp

[2021-11-04 15:44] Vooply commented on #20147
Tried restart server, export, and re-import
On the server, we changed UTC time

[2021-11-04 16:08] alejandroguimo commented on #20002
@zulipbot claim

[2021-11-04 17:08] garg3133 commented on #20108
@talheim-it You can try changing the line to:
[code]

And then add the following below it:
[code]

So, the complete block of code will be:
[code]

[2021-11-04 17:20] laurynmm commented on #19424
@timabbott - I think the issue is in the `render_table` function in `zerver/lib/markdown/api_arguments_table_generator.py`. Unlike the `render_table` function for return values (`zerver/lib/markdown/api_return_values_table_generator.py`), the parameters function doesn't recursively call on itself when it encounters an 'object' - like a draft in this issue. Generally, this isn't an issue because th

[2021-11-04 17:27] EmmalineLake commented on #19424
I have been looking into it, and it is funny you commented today, because I've been working on it all day.  It is more of a stretch project for me than I had anticipated, but I would love to work on it together, if you are up for working with somewhat of a newbie.  I would definitely benefit from help.  Let me know what you think.

[2021-11-04 17:32] laurynmm commented on #19424
Totally! I'm also a newbie, so no worries there. I'll send you a PM in chat.zulip so that we don't clutter up the github issue.

[2021-11-04 20:30] staffcop commented on #20108
after applying all patches mentioned here, even latest one from @garg3133

`Converting Data ...
Traceback (most recent call last):
  File "./manage.py", line 157, in <module>
    execute_from_command_line(sys.argv)
  File "./manage.py", line 122, in execute_from_command_line
    utility.execute()
  File "/srv/zulip-venv-cache/4293996ea9b81a02690e78a21ea2f1f0bc2e6597/zulip-py3-venv/lib/python3.8/si

[2021-11-04 20:43] talheim-it commented on #20108
@staffcop did you install the latest Version from git plus added the last change?

[2021-11-04 20:45] staffcop commented on #20108
yes I had to increase memory to 16gb, upgrade to main git version, and now I am fiddling inside rocketchat.py

[2021-11-04 21:16] garg3133 commented on #20108
@staffcop Can you put a `print(user_dict)` statement just before Line 93 and share the output logged out just before the error?

[2021-11-04 21:32] talheim-it commented on #20108
@garg3133

I updated it as above:
[code]
Now it throws following info:
[code]
I am trying to debug it.

[2021-11-04 21:42] garg3133 commented on #20108
@talheim-it Actually it's `username_to_user_id_map.get(username)` and not `username_to_user_id_map.get[username]` :)

[2021-11-04 21:46] talheim-it commented on #20108
@garg3133 , you are absolutely right, my fault :)

Just a new issue:
[code]

[2021-11-04 22:06] talheim-it commented on #20108
@garg3133 I try to understand the KeyError. Is it related to the user_id?

[2021-11-04 22:16] alya opened #20162 "Add summary statistics to /stats page"
At present, it can be hard to find basic statistics about a Zulip organization. They may be hidden deep in the menus, or require careful parsing of graphs.

To address this, we should display summary statistics at the top of the organization's `/stats` page that answer the most common questions an administrator might have about their organization. In particular, we should show:

1) Number of users

[2021-11-04 22:33] alya opened #20163 "Make a dedicated search box"
At present, search shares space with the stream description at the top of the message panel. This can make search hard to find, especially for new users. The lack of separation between the stream description and search can cause confusion.

In order to address this, we should create a dedicated search box, separate from the stream description.

- The search box should be to the right of the stream

[2021-11-04 22:50] alya opened #20164 "Correctly handle duplicate poll options"
There are two bugs in how duplicate `/poll` options are currently handled.

## At poll creation time
* **Expected**: It should not be possible to create a poll with two identical options. If multiple copies of the same option text are entered, only one should be shown.
* **Actual**: Duplicate poll options are allowed.

## When adding an option
It is not possible to add a duplicate poll option, but

[2021-11-04 22:57] staffcop commented on #20108
I was able to destroy database in the process with no backup, tomorrow

Sent from my iPhone

[2021-11-04 23:24] alexmv opened #20165 "Invalid narrows make a request to the server every 5s for every new message"
https://github.com/zulip/zulip/blob/f4d2d199e249f9c6437a952c201cb0d163eb9069/static/js/message_events.js#L40-L89

If the narrow is invalid, it gets back a 400; this retries every 5s indefinitely.  Additionally, since this runs on every message that comes in, the client will make an _increasing_ number of requests over time, as long as the client has the invalid narrow opened.

We should not retry

[2021-11-05 03:22] EmmalineLake commented on #19424
@timabbott
This is a clarification question.  I want to make sure  Lauryn and I are on the right track.

In the `GET` endpoint, the fields (items) within the draft are in the "Responses" section, and rendered on the webpage.  (YAML  line 4436 and https://chat.zulip.org/api/get-drafts)
In the `POST` and `PATCH` endpoints, the fields (item) within the draft are contained in the "Parameters" section,

[2021-11-05 03:50] aryabhatta-dey commented on #19627
@zulipbot claim

[2021-11-05 04:35] amanagr commented on #19841
Fixed in 3eff94858cd9705a87620bbc56de03862e2fef65

[2021-11-05 04:35] #19841 closed

[2021-11-05 07:58] isakhagg commented on #19905
@zulipbot abandon

[2021-11-05 08:49] isakhagg commented on #20164
@zulipbot claim

[2021-11-05 10:18] Vooply opened #20168 "Internal Server Error for some users, can not entering to zulip"

[2021-11-05 10:18] #20168 closed

[2021-11-05 10:22] #19241 closed

[2021-11-05 10:23] #19910 closed

[2021-11-05 12:58] Vooply commented on #16347
Hello, @jeremy160189 @timabbott
How did you solve this problem?
 I have the same problem

[2021-11-05 15:12] bootlegyaga commented on #20009
Please help :)

[2021-11-05 16:07] talheim-it commented on #20108
@garg3133 if I can do anything here or send you the dump to check please let me know :)

[2021-11-05 16:15] garg3133 commented on #20108
@talheim-it This error must also be due to the deleted user you told earlier about. Can you try putting the line 447
[code]
inside try-except block? The code would be something like this:

[code]

[2021-11-05 17:24] talheim-it commented on #20108
@garg3133 seems it worked but hanging at another key:
[code]

[2021-11-05 17:31] Manan-Rathi opened #20172 "Unexpected appearance of app-loading page when Display Settings set to Automatic"
When the Display Settings in Zulip is set to Automatic: The web loading page looks like:

![lp](https://user-images.githubusercontent.com/76519771/140553352-b276e014-9291-4874-a29d-adb14725d8e3.png)

This is harming the visibility of the app-loading text significantly.

[2021-11-05 17:32] Vooply commented on #20147
Add extra check if stream_subscription_logs is existed in line 180 and 94, in file ` /zerver/lib/soft_deactivation.py`

[2021-11-05 17:37] garg3133 commented on #20108
Try replacing
[code]
with
[code]

[2021-11-05 17:43] talheim-it commented on #20108
@garg3133 did:

[code]

I owe you something for your work on this, I am open to fund it with 100,00€ as support.

[2021-11-05 17:58] Manan-Rathi commented on #20172
@zulipbot claim

[2021-11-05 18:01] Manan-Rathi commented on #20172
@zulipbot claim

[2021-11-05 18:15] garg3133 commented on #20108
@talheim-it Can you put a `print(message)` statement above line 635 and share the last output you get right before the error? `msg` field stores the content of the message, so I'm not sure what kind of message is this without any content.

Thanks a lot for your offer, but I'm not really sure if I'm allowed to take it. I'd have to consult someone from the Zulip core team.

[2021-11-05 18:20] talheim-it commented on #20108
@garg3133 there we go:

This is the last message:
[code]
I am writing @timabbott about it.

[2021-11-05 18:34] garg3133 commented on #20108
@talheim-it Okay, so it's a message with just an attachment. In that case, replacing `content = message["msg"]` with `content = message.get("msg", "")` should work fine.

[2021-11-05 18:40] alexmv commented on #20128
You can reproduce this using the API, I believe.

[2021-11-05 18:40] alexmv commented on #20128
@madrix01: I've assigned this to you.  Don't hesitate to ask if you have other questions!

[2021-11-05 18:50] talheim-it commented on #20108
@garg3133 looks good. The migration runs now.

Just need to start importing.

[2021-11-05 18:54] madrix01 commented on #20128
@alexmv, I have done some research regarding Unicode, I'll start working on this issue now and will let you know if there is any questions.
Thanks!

[2021-11-05 19:01] talheim-it commented on #20108
@garg3133 now when I run the import script:
[code]

[2021-11-05 19:23] #19713 closed

[2021-11-05 19:39] timabbott commented on #16347
@Vooply I'd start with upgrading to the latest Zuli, since this issue was resolved.  If you see further issues, it's likely because of minor database corruption that can be easily hand-repaired; best to discuss that in chat.zulip.org.

[2021-11-05 19:40] garg3133 commented on #20108
@talheim-it For me, a similar kind of error occurs when I try to import more than once from the same exported files. Can you try to delete the current export and run the migration again and then try to import the organization?

(As you've already run it for the`""` subdomain, you might need to use some other subdomain this time (for ex. `"test1"`). Once it runs properly, you can free up the `""` s

[2021-11-05 19:44] talheim-it commented on #20108
@garg3133 I am checking it an come back to you in the next 30 minutes.

[2021-11-05 20:49] talheim-it opened #20175 "Zulip - Update from latest git main"
When I try to run to update Zulip via git I run into following issue:

[code]

A few days ago everything was working to update from git.

Additional Infos:
.) Ubuntu 20.04.3 LTS
.) Memory 16GB
.) CPU 4 Cores

I tried to reinstall it and update it again before trying to migrate.

[2021-11-05 20:52] pradyumn014 commented on #19777
@zulipbot claim

[2021-11-05 21:34] talheim-it commented on #20108
@garg3133 I tried to reinstall zulip and updated it to the latest git version which was chat.zulip.org branch.

What I get now is:
[code]
Maybe that was added few days ago?

[2021-11-05 21:46] garg3133 commented on #20108
No such change was added a few days ago. It seems that `rocketchat_data["instance"]` earlier contained some data but for some reason, it is just an empty list now (hence the index out of range error).

Can you `print(rocketchat_data["instance"])` above this line?

[2021-11-05 21:49] talheim-it commented on #20108
@garg3133 you are right:
[code]

I added it above:
[code]

[2021-11-05 21:50] alya commented on #19713
I don't think we should push this to Zulip Cloud with the current "N minutes" UI. "N" isn't really a user-friendly concept.

I'm not sure we really need a #design thread for this. The standard name for the menu option would be "Custom".

If the user selects "Custom", we can add an input box labeled something like, "Minutes of delay:". It should be on a new line.

[2021-11-05 21:56] garg3133 commented on #20108
In that case, you can remove the last argument from this line, making it as:
[code]
and replace the `make_realm` function at the top with:
[code]

But I don't understand where did the data go when it was present before? (The data in `rocketchat_data["instance"]` comes from the `instances.bson` file.)

[2021-11-05 22:00] talheim-it commented on #20108
@garg3133 I made a new dump and then it happened when I downloaded the chat.zulip.org branch for v5 dev.

I didn't check the bson files further.

[2021-11-05 22:11] talheim-it commented on #20108
@garg3133 okay the data_migration ran without issues right now.

Issues stays the same:
django.db.utils.IntegrityError: duplicate key value violates unique constraint "zerver_stream_realm_id_name_uniq"

The problem is that we talk about livechannels. It seems that because of a live channel I ran into this issue:
[code]
I am not really sure if it makes sense to keep the omnichannel/livechannel chat

[2021-11-05 22:19] talheim-it commented on #20108
If I see it right it is because the names of the LiveChat user  are the ids of the user and so we produce duplications.

[2021-11-05 22:27] garg3133 commented on #20108
Yes, you are right. This error seems to be caused by the duplication Live chat channel names, which when converted to Zulip streams create duplicate stream names (no two streams in Zulip can have the same name).

As a temporary solution, you can edit the realm.json file and change the names of duplicate streams. It should get imported correctly after that.

Ideally, all the livechat channels shoul

[2021-11-05 22:59] alya opened #20177 "Replace "Up to N minutes after posting" option with "Custom""
This issue is about the Settings > Organization permissions > Message editing > "Allow message editing" drop-down option.

At present, this dropdown has a choice labeled "Up to N minutes after posting". Using a variable in the user-facing description of the option can be confusing and off-putting to users.

Instead, we should label this option as "Custom", similarly to the option in the "Waiting p

[2021-11-05 23:31] talheim-it commented on #20108
@garg3133 I would prefer to drop the livechat since it is completely useless to import the communication into Zulip. I see no benefit on it since it is for communication with customers from website etc.

I sit over an hour to fix duplications, that is a real waste of time if there is no clear reason to import it.

Anyway I am running into the next issue by importing:
[code]

[2021-11-06 00:48] timabbott commented on #19424
I don't know this code super well; @orientor or @MSurfer20 is likely better positioned to help.  I think adding a missing recursive call makes sense, but I haven't looked at the code myself.

[2021-11-06 01:38] andersk opened #20180 "Fix the broken event_status Node test"
In #20179 we’re disabling the `event_status` Node test, which is nondeterministically broken because our test runner has no real support for tests that call `async` functions. The resulting promises don’t resolve until after the runner thinks it’s cleaned everything up and finished running all of the other tests, which breaks all sorts of implicit contracts about how tests are supposed to behave.

[2021-11-06 05:12] hunterachieng commented on #19936
@alya Sorry for not reaching out in the past few days, I was working on my final exams. I have been looking into the code, and I am still getting the red dropdown box when I input the wrong date. Basically, this happens when I remove the altInput from the flatpickr configurations. When I return it, a wrong date gets reset to the previous one. I cannot find where I can disable the error pop-up, is

[2021-11-06 08:35] bkmgit commented on #19946
@timabbott Should this be closed or should one of the following be updated:
- https://github.com/zulip/zulip/blob/main/docs/production/requirements.md
- https://github.com/zulip/zulip/blob/main/docs/production/install.md
or should changes be made directly in the installation scripts as in https://github.com/zulip/zulip/pull/20185

[2021-11-06 08:50] andersk commented on #19946
This was fixed in #20143 (`main`) and #20158 (`4.x`) by pulling in a new upstream version of google-re2 with an aarch64 wheel (google/re2#337). This will be part of the next release after 4.7.

[2021-11-06 08:50] #19946 closed

[2021-11-06 09:28] madrix01 commented on #20128
@alexmv I sent an API request using `curl` with the `subject=$'testing\n\rok'` and it is showing some very strange behaviour
- The message gets sent with `success`
- The message gets viewed in `All messages` and `#general`
- But when we click the topic no message is there under the topic.