[2017-05-25 23:06] #4876 closed

[2017-05-25 23:17] sharmaeklavya2 opened #5074 "upload: Removing attachment from text disallows attaching the file again"
This is how to reproduce the error:

1. Press the 'attach file' button in the compose box.
2. Select a file to attach. This will upload the file to the server and place a link in the compose box.
3. Don't press send, discard the message.
4. Now try to send a message with the same attachment.

When you select a file using the attach file button, nothing will happen (a link should have been placed i

[2017-05-25 23:18] sharmaeklavya2 commented on #5074
@zulipbot label "area: markdown" "bug" "bite size" "help wanted"

[2017-05-25 23:20] timabbott commented on #5074
Sounds like a jquery-filedrop bug, not a backend bug.

[2017-05-25 23:43] cowpig opened #5075 "Click self -> edit profile dropdown"
Communicating with oneself is an unusual user pattern; it might make more sense to get, say, a link to edit ones' profile instead.

[2017-05-25 23:58] jmbowman commented on #4889
@zulipbot claim

[2017-05-26 00:55] synicalsyntax commented on #4885
@timabbott Doesn't that conflict with the purpose of #4874?

@zulipbot claim

[2017-05-26 03:01] aero31aero commented on #5007
Possible fix: manually append the required path to pythonpath at runtime. Comments?

[2017-05-26 03:19] blaze225 commented on #3865
working

[2017-05-26 09:28] tejaskasetty commented on #4764
@timabbott This issue is resolved.

[2017-05-26 19:46] Ransom527 commented on #3893
"./manage.py set_default_streams" doesn't work. It DOES NOT remove the DEACTIVATED stream that is problematic. Is there a way to manually remove it from the database? Please don't post answers that DON'T WORK.

[2017-05-26 19:47] Ransom527 commented on #3893
Also, I just installed Zulip using the latest build and your fix from March is NOT in it.  So this issue is not closed.

[2017-05-26 19:50] HarshitOnGitHub commented on #4730
@zulipbot claim

[2017-05-26 22:06] timabbott commented on #5009
Several bots were moved by @rwbarton in #5083 and #5077

[2017-05-26 22:19] timabbott opened #5087 "Document log2zulip integration"
We have this cool script for forwarding errors from tailing a given set of log files into Zulip, log2zulip, that just got moved to `api/integrations/log2zulip` (and thus now is distributed as part of our `pip` package).  It'd be awesome to document it as one of our official integrations in `/integrations`, since it's actually pretty useful.

There's a sample simple configuration file here:
[code]

[2017-05-26 22:22] timabbott commented on #5009
OK I finished off removing `bots/` from the repository.  Opened #5087 for documentation on the one of those that we should definitely document; I think that all that's left for this ticket is moving `contrib_bots` to `api/bots`.  While we're doing that migration, we should want to pick new names for some of the library code.

[2017-05-26 22:41] timabbott commented on #4995
I'm pretty sure that's the issue here, so closing.

[2017-05-26 22:41] #4995 closed

[2017-05-26 22:52] timabbott opened #5088 "Ugly escaping of `'` characters in missed message email subject lines"
If you have a user with a name like `Fred O'Connor`, and they send mention you in Zulip, you'll end up getting an email with a subject line like this:

`Fred O&#39;Connor mentioned you in Zulip Community`

We should fix subject lines to not be HTML-escaped, since email subjects aren't HTML anyway.

[2017-05-27 01:52] cory2067 commented on #4996
@zulipbot claim

[2017-05-27 03:55] aero31aero commented on #5009
@zulipbot claim
Library code here means?

[2017-05-27 04:04] timabbott commented on #5009
@aero31aero I think basically we want `contrib_bots/bots` -> `api/bots`, and the other files in `contrib_bots` to go into e.g. `api/zulip/bots_lib.py`

[2017-05-27 04:14] showell commented on #5009
One thing to keep in mind when organizing bot-related files is that folks often only care about a single bot, so we should try to make it so that you can generally find all the code related to a single bot in a single place.  We mostly did this for our integrations.

This advice obviously doesn't apply to library files that are actually shared among multiple bots.

[2017-05-27 04:16] dehnert opened #5090 "Add deactivated_redirect URLField to server_settings API endpoint"
Occasionally realms change their URL -- for example, the Zulip dev chat used to be zulip.tabbott.net but is now chat.zulip.org. It would be good to have a smooth mechanism for updating clients about that change. For webapp users we could presumably just throw up a webpage saying "hey, go to this other place instead" (although a standardized mechanism might be good), but for desktop or mobile app u

[2017-05-27 04:19] dehnert commented on #5090
Some discussion at https://chat.zulip.org/#narrow/stream/issues/subject/ssl.20cert/near/212543.

[2017-05-27 09:31] h6pham8 commented on #5074
@zulipbot claim

[2017-05-27 09:36] h6pham8 commented on #5074
Looks like the issue here is that after the upload is finished, the file list isn't cleared correctly, so when the same file is uploaded, it does not trigger the .change() event handler.

I've set up a working change. Will commit in the morning.

[2017-05-27 12:04] tejaskasetty commented on #4806
@timabbott  By worse do you mean the sort order used for emoji typeahead is bad.

[2017-05-27 15:30] aero31aero commented on #4702
@zulipbot claim

Making minor rename decisions and opening PR soon.

[2017-05-27 17:07] tejaskasetty commented on #4806
Like what could be a better emoji order so that its more appropriate for the users. We could discuss upon that.

[2017-05-27 17:53] Brigette-Eckert commented on #4894
@timabbott  ah that makes sense- I will look into it.

[2017-05-27 18:46] tejaskasetty commented on #4764
Verfied. With the commitd5b508e3a629ccb3185eba67cbbb58eb71a4b9ab it resolves the above issue as as well. It properly renders the emoji properly when emoji's are rendered as text.

[2017-05-28 00:22] abhijeetkaur opened #5095 "Bite size: Wikipedia bot crashes for the query `!!!!@#$%` ."
The bot crashes with the following Indexerror
[code]

[2017-05-28 06:15] rishig commented on #4806
Thanks @tejaskasetty for looking into this!
I think Tim's intent was for the solution to just copy the order we use in the compose picker.
Ideally, by having both the compose and emoji picker call the same typeahead/sorting code.

[2017-05-28 07:37] lonerz opened #5099 "settings: muting ability for private messages"
Since I've been experimenting with using private messages and group PMs on Zulip, I want to be able to mute PMs or group PMs just like how I am able to mute specific topics.

[2017-05-28 13:26] showell commented on #3893
Ok, I am re-opening the issue.  Just to be clear, the fix is only on master, so you will still need to either wait for 1.6 to be released, or you will need to build your own tarball off of master.  It's probably easiest to discuss this on https://chat.zulip.org/.

[2017-05-28 13:32] showell commented on #3893
If you need to remove it manually from the database, use `./manage.py dbshell` and look for `zerver_defaultstream`.

[2017-05-28 16:40] tommyip commented on #5095
This should be a fairly easy fix. Here are some instructions:

The problem is the `#` in the search term, everything after the hash in a URL is a [fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier). We should probably escape special characters in the query before firing it off to Wikipedia.

The escape sequence for `#` is `%23`. You might also want to check if there is any oth

[2017-05-28 16:57] tommyip commented on #5061
We can just set
[code]
in `.git/config`, so git always rebase when pulling.

We should probably setup some scripts to pull user's dotfiles from Github, if they have one. Providing a default config for users wouldn't work well, especially with editors like Vim.

Also one of the minor things is to have the vagrant VM `cd`ed into `~/zulip` on boot instead of `~`.

[2017-05-28 17:11] tommyip commented on #5075
Yeah agreed. Out of

- `Send private message`
- `Reply mentioning user`
- `View private messages`
- `View messages sent`

The only really one that makes sense for the user is `View messages sent`.

[2017-05-29 00:10] timabbott commented on #5061
Yeah, we should do that; I think these things we can add to the `create.py` script (maybe with some pieces going into the manual steps part in the README in https://github.com/zulip/zulip-gci/tree/master/remotedev ).  Wouldn't be a bad idea to script some of the manual work there too, since the step list is getting kinda long.

[2017-05-29 01:36] timabbott commented on #5099
Muting for group private message threads would be pretty reasonable.  Do you have a use case for muting non-group PM threads in mind?

[2017-05-29 02:01] timabbott commented on #4960
Or maybe rate-limiting.  I think we should just add a check for a 200 response in the bot code before decoding in order to resolve this issue, even if we're not able to reproduce this reliably).

[2017-05-29 02:04] timabbott commented on #5007
I think we forgot to close this issue when we merged the fix during the PyCon sprints.

@derAnfaenger @abhijeetkaur can one of you confirm?  Closing for now under the assumption that I'm correct :)

[2017-05-29 02:04] #5007 closed

[2017-05-29 02:05] timabbott commented on #4885
Hmm, yeah, I guess I'm not sure which approach is better.  Probably worth starting a thread on Zulip about this :)

[2017-05-29 02:28] timabbott commented on #991
@ethanhs your Zulip PR is merged, so you can post the revised version now.

Also, is there a PR to `mypy-django` we should be tracking?

[2017-05-29 02:56] tejaskasetty commented on #4806
@rishig Seems fine then. I have done the same thing. After this issue is fixed, the compose and emoji picker will call the same sorting code.

[2017-05-29 05:13] lonerz commented on #5099
@timabbott nope, I was thinking more on the lines of muting group PMs.

[2017-05-29 05:49] #4921 closed

[2017-05-29 05:49] #4996 closed

[2017-05-29 12:39] showell commented on #4843
@dhcrzf Thanks for reporting this!

For simplicity sake, I think we should always show the year when it's not the current year.  This would probably be mildly annoying/verbose in early January, but I don't see a non-confusing way to make it work so that the December/January situation is concise and the October/June situation is explicit without having some arbitrary cutoff number of days.

[2017-05-29 15:55] #4819 closed

[2017-05-29 15:55] #4820 closed

[2017-05-29 15:55] #4843 closed

[2017-05-29 16:00] timabbott opened #5105 "Use a timezone other than UTC for the node tests"
In #4833, we set the `TZ` environment variable to `UTC` in `tools/test-js-with-node`.  While it's good to pin the timezone used for the unit tests, we probably will want to change that to something that is not UTC, so that any local-vs-UTC-time conversion issues manifest in the tests.

See the discussion in #4833 for more relevant details.

[2017-05-29 18:25] #4702 closed

[2017-05-29 21:28] timabbott commented on #3802
As an update based on discussion in #3804, the proposal is to remove (hide) the following three icons when we are in message edit or view source mode:
![image](https://cloud.githubusercontent.com/assets/890911/23474331/4bcb93b0-fe68-11e6-80a4-cad9c56e5053.png)

[2017-05-29 21:54] timabbott commented on #3664
This was resolved by @brockwhittaker some time ago.

[2017-05-29 21:54] #3664 closed

[2017-05-29 22:34] timabbott commented on #3474
I'm not sure, but you should check in with @YagoGG on what he's done so far :)

[2017-05-29 22:45] #4547 closed

[2017-05-29 23:20] timabbott commented on #4839
The problem is precisely with Zulip servers using Python 2 and trying to import Google's Python 3 file path from this config file.

[2017-05-30 03:24] #4761 closed

[2017-05-30 04:33] timabbott commented on #2559
Col, I think my conclusion from that is that this is somewhat tricky to do with supervisord and potentially something we should defer until later.

[2017-05-30 04:37] timabbott commented on #4841
@SteveCliff thanks for the bug report, and sorry for the slow reply (I usually look at things immediately, but with PyCon things got a bit buried).

I think I know what's going on here; we currently use the `get_unique_open_realm` function to check if there's a unique, open realm on a server for a few purposes, one of which is determining whether or not to show the organization info on the login p

[2017-05-30 04:47] timabbott commented on #4764
@HarshitOnGitHub just to confirm, this is now included in your PR branch?  I'm closing this issue under the assumption that this is correct.

[2017-05-30 04:47] #4764 closed

[2017-05-30 05:06] #135 closed

[2017-05-30 05:08] timabbott commented on #135
Thanks to @kkanahin, Zulip organization administrators can now delete messages.

I imagine we probably also want message senders to be able to delete messages, and also to allow this feature to be disabled by an administrator, for organizations that want perfect archival of what was sent.  Are those the right two follow-up issues for this?  Feedback would be appreciated from the various folks who

[2017-05-30 05:18] timabbott commented on #4844
@dhcrzf I think this could be a good next project for you, as a follow-up to your work on `timerender.js`.  I think basically the issue is that in `static/js/floating_recipient_bar.js`, when we're hiding the bar because of overlap with a normal recipient bar (as opposed to, e.g., because we're at the top of screen), we should display the current date in that normal recipient bar (so that the curre

[2017-05-30 05:32] timabbott commented on #5075
Agreed.  Some of the others make sense, but are unlikely enough to be not particularly useful (you can, technically, send a message to yourself, and view the list of such messages).

We should be able to provide a direct link to `/#settings/your-account` pretty easily, so I think this is a reasonable bite-size issue.

[2017-05-30 05:38] timabbott commented on #38
This integration should be pretty doable by following the Zulip integration guide: https://zulip.readthedocs.io/en/latest/integration-guide.html

I closed the existing PR since I think we should be able to just redo this from scratch pretty quickly.  It'd be a good exercise for anyone looking to learn about writing Zulip incoming webhook integrations.

[2017-05-30 05:44] timabbott opened #5110 "Add setting(s) to control to what extent message deletion is allowed in an organization"
Now that #135 is completed, we should add options to control to what extent deletion is allowed.  I can imagine supporting at least these uses cases:
* Not allowed at all (for organizations that want a strong audit history)
* Allowed only for organization administrators (the current behavior)
* Allowed only for organization administrators and deleting messages you sent yourself.

I think we can pr

[2017-05-30 07:51] dhcrzf commented on #4844
I'll take a look.

@zulipbot claim

[2017-05-30 09:27] kkanahin commented on #2559
I think we need separate tools for reloading services. And allow supervisor just controls stop start commands.

[2017-05-30 12:19] rht commented on #5052
After doing some archaeology, the password strength checker was first implemented in a commit referenced in https://github.com/zulip/zulip/commit/07bb220194a355be8e9402baa3b8fb58ec4d7581. There are no sufficient checkpoints for me to be able to determine the intent of the code, of why the upstream zxcvbn's default is not used.

Besides, `Math.min(1, Math.log(1 + result.crack_time) / 22)` is more s

[2017-05-30 16:24] timabbott commented on #3136
@rishig do you think it's worth closing this issue and opening a new one for the remaining work (visual stuff)?

[2017-05-30 17:46] timabbott commented on #4862
@synicalsyntax I relabeled this as "notifications", which is what we usually use for emails (etc.).  "compose" is just for the compose UI.

[2017-05-30 20:14] rishig opened #5113 "Improve visual design of html emails."
Our current email templates are quite old, and look dated. It would be great to restyle them to look more modern and to fit the Zulip brand (underwater sea theme).

For this issue, don't worry too much about the text; that can be improved independently.

All of our email templates are in `templates/zerver/emails`, and all our html email templates end in `.html`.

[2017-05-30 20:18] timabbott commented on #5113
CC @vaidap who has been working on design visuals that we can use here.

[2017-05-30 20:31] rishig opened #5114 "Create common base template for html emails."
We should create a base template for our html emails that includes the html scaffolding and CSS. By html scaffolding I mean the stuff like the following.
[code]

Step 2 is then to change all our emails to extend the template.

You can read about extending templates at http://jinja.pocoo.org/docs/2.9/templates/ (search the page for "extends"), or grep for "extends" in templates/zerver to see exampl

[2017-05-30 20:33] rishig commented on #3136
yeah. New issues opened, closing this one.

[2017-05-30 20:33] #3136 closed

[2017-05-30 20:34] timabbott commented on #4795
This traceback is currently one of the more common on zulipchat.com, so it seems worth fixing soon.  @TomaszKolek @eeshangarg one of you want to claim this?  I think it should be pretty easy to fix.

[2017-05-31 01:43] feorlen opened #5118 "UI not displaying messages for remote client browser"
I have a fresh dev install, on a clean VM, and I can't see any messages after logging in with a browser on another host. Trying to create a new one hangs the UI.

If I start Zulip with `run-dev.py --interface=''` then I can access the UI correctly from the same host it's running on (either by localhost or ip address) but not another one. If I provide the ip address instead of just '', it doesn't e

[2017-05-31 02:02] eeshangarg commented on #4795
@zulipbot claim! I'm on it! :)

[2017-05-31 02:06] timabbott commented on #5118
Hmm.  That should be fixed by provisioning and then restarting the server,
a few commits later we increased the provision version to force
provisioning.

-Tim Abbott (mobile)

On May 30, 2017 6:43 PM, "feorlen" <notifications@github.com> wrote:

[2017-05-31 02:08] feorlen commented on #5118
While I was doing bisect, I was re-provisioning between every attempt. Is that not enough to do it?

[2017-05-31 02:55] rht commented on #5118
cc: @mehanig, @pweaver if could see the issue right away. I can't debug at this point, but it looks like there are several vestigial components for the static assets.

[2017-05-31 03:24] pweaver commented on #5118
A little weird that tests didn't catch this.
I posted a fix in #5120. I can't test it because I don't have a production instance setup or easily bootable right now, but it compiles properly. Can one of you test the fix?

[2017-05-31 03:36] feorlen commented on #5118
@pweaver Thanks! I'll give it a try tomorrow. Is there something special about this in a production install? (I can test that, too.)

[2017-05-31 03:48] pweaver commented on #5118
Yes, the problem with production installs is that webpack mangles names which means global variables which used to work break. (webpack basically assumes globals don't exist).

We probably want to remove globals from the javascript as much as possible to reduce this issue. .eslint.json list the global variables which /should/ exist, but as we move to webpack we need to make sure they keep existing

[2017-05-31 03:57] mehanig commented on #5118
Wow. @feorlen, good catch. @pweaver thank you!

[2017-05-31 04:18] timabbott commented on #2405
After far too long, this is done.  `pip install zulip` now gives the latest code with Python 3 support.

Thanks for the report @kracekumar!

[2017-05-31 04:18] #2405 closed

[2017-05-31 04:22] pweaver commented on #5118
Actually, I misread the error, you are working in dev. translations.js is not being loaded in the first place.

[2017-05-31 04:24] pweaver commented on #5118
Is the webpack-dev-server binary installed in node_modules/.bin? That might also be the issue.

[2017-05-31 04:27] pweaver commented on #5118
If webpack-dev-server is not installed, try running npm install webpack-dev-server. Some people have been having trouble with npm installing binaries correctly and I suspect #4880 will fix most of that.

[2017-05-31 04:28] pweaver commented on #5118
It also could be something else related to the dev server.

[2017-05-31 04:37] pweaver commented on #5118
Hmm, I wonder if it has to do with you not running the dev server locally. The dev server currently opens an ip address on 0.0.0.0, but it needs to connect to the server ip address. We may need run-dev.py --listen to specify an ip to webpack to use in the dev server configuration.

Might be tricky to solve.

[2017-05-31 04:38] rishig opened #5122 "message view: Change images to stack horizontally instead of vertically."
If a message has multiple images, they stack vertically, like this:
![image](https://cloud.githubusercontent.com/assets/890911/26616004/40861e94-4580-11e7-9f5c-97719e839250.png)

It would be great if they were placed horizontally instead.
I'm not sure if the only thing required is on the order of changing a `display: block` to a `display: inline`, or if more careful reasoning should be applied.

[2017-05-31 04:39] timabbott commented on #5118
run-dev.py should be able to proxy to webpack; that's what it did previously.

@pweaver you can make yourself a remove dev VM on DO to test easily, I think...

[2017-05-31 04:40] pweaver commented on #5118
Right forgot about that.

[2017-05-31 04:41] timabbott commented on #5122
I think it might be a bit more complex than that, just because we probably want the images to not wrap on the same line as text.  So I think we might need a new outer `<div>` around the group of images/embeds to support it?  Not sure, worth experimenting.  Ideally we would be able to do this without changing the HTML markup so that we don't need to worry about mobile.

[2017-05-31 04:44] mehanig commented on #5118
@pweaver https://github.com/webpack/webpack-dev-server/issues/147 might also be related to this issue

[2017-05-31 05:02] pweaver commented on #5118
Huh, I can't replicate the issue.

[2017-05-31 05:06] pweaver commented on #5118
Can you test  #5118?

[2017-05-31 05:12] #4795 closed

[2017-05-31 05:12] feorlen commented on #5118
My original test was a local VirtualBox image, but it's also happening on my DO dev droplet. That's entirely a test machine, so I can give people access if needed. Please let me know how I can get you login details. (I don't see a way to send you a private message here.)

[2017-05-31 05:52] #5066 closed

[2017-05-31 06:08] #5000 closed

[2017-05-31 06:33] pweaver commented on #5118
#5126 fixes the problem on /sockjs/info urls showing up. Basically the webpack-dev-server was inlining a loading script with an old url.

The problem is getting /socket.io to work. On the websocket site /sockjs is hardcoded. This is a problem because tornado already uses /sockjs. To fix this we are going to have to change one of the urls (rewrite it?), rename the tornado url, or webpack-dev-server

[2017-05-31 06:33] pweaver commented on #5118
We could also disable hot reloading.

[2017-05-31 07:47] lonerz opened #5128 "floating recipient bar: does not auto-update timestamp on the same topic"
When talking on the same topic before and after midnight with no interruptions of other conversations, the conversation before midnight still says "Today." However, all conversations of a different topic before midnight say "Yesterday."

@timabbott says "So I think the bug here is that we copy the timerender object from the message recipient bar to the floating recipient bar, and that copying prob

[2017-05-31 09:58] vaidap commented on #5113
i'd like to help illustrate & restyle them! i'm unsure on how to view them as they appear for the users-- it would be super helpful if someone could walk me through how to get the full view. i've attached a screenshot of what i am currently getting.
![screen shot 2017-05-31 at 10 57 23](https://cloud.githubusercontent.com/assets/13666710/26626703/02be672c-45f0-11e7-9b81-66b883b9a0f6.png)

[2017-05-31 12:54] refeed commented on #245
Sure, @zulipbot assign

[2017-05-31 12:56] refeed commented on #245
@zulipbot claim

[2017-05-31 13:09] HarshitOnGitHub opened #5130 "emoji: Realm emojis disappear from the emoji settings page."
Steps to reproduce:
1: Open Emoji Settings page.
![image](https://cloud.githubusercontent.com/assets/16687990/26633229/5a16b37c-4630-11e7-9da3-87b3f6a2b13d.png)
2: Upload a realm emoji.
![image](https://cloud.githubusercontent.com/assets/16687990/26633181/2a8cdb36-4630-11e7-85a1-c842baabb202.png)
3: Close the Organisation Settings dialog.
4: Reopen the organisation settings dialog, the uploaded em

[2017-05-31 13:09] HarshitOnGitHub commented on #5130
@zulipbot claim

[2017-05-31 16:13] #5130 closed

[2017-05-31 16:21] timabbott commented on #5128
@dhcrzf this might be a good bug for you, while you're investigating the other floating recipient bar/timerender issue.  Let me know if the problem makes sense; basically, the floating recipient bar copies the HTML of the time second from the message it's over, via the `desired_label.children` logic, and I think that copying results in no timerender JS corresponding to a timerender object...

I th

[2017-05-31 16:32] #5118 closed

[2017-05-31 16:48] HarshitOnGitHub opened #5133 "emoji: Error on opening emoji settings page."
Emojis uploaded before the migration to store emoji author name was done don't have any author information. If such emojis are listed on the settings page, they produce the following traceback:
![image](https://cloud.githubusercontent.com/assets/16687990/26643444/f8fe2d8a-464e-11e7-97b0-c57cb0f414fa.png)

[2017-05-31 16:48] HarshitOnGitHub commented on #5133
@zulipbot claim

[2017-05-31 16:50] timabbott opened #5134 "nginx: Allow specifying a server_name to use in /etc/zulip/zulip.conf variables"
Some folks deploying Zulip alongside other software on their system find that they need to manually add a `server_name` directive to our nginx configuration (see reverse diff of what puppet tries to change below):

[code]

Ideally, we'd have this setup so that you can tell Zulip what `server_name` you're using, and things will just work.

This is potentially related to the Certbot issue I've been

[2017-05-31 17:50] HarshitOnGitHub opened #5137 "alert words: No email notification if an alert word is used in Zulip."
I have set up some alert words on `chat.zulip.org`, but when those alert words are used in a message I don't get any email notification like I get for private messages. It would be super useful if the user be given a setting on whether he wants to receive an email notification when a corresponding alert word is used. Also the current behavior is to only highlight the alert word if it is used somew

[2017-05-31 18:35] timabbott commented on #4885
Closing based on discussion here: https://chat.zulip.org/#narrow/stream/design/subject/hotkeys/near/215188

[2017-05-31 18:35] timabbott commented on #5137
Hmm, this is kinda an interesting question, that may be worth a bit of a discussion in chat.zulip.org.  A few thoughts:
* Whether email/push notifications are triggered by alert words would probably be a sane notification setting
* We're thinking about adjusting the red highlighting for mentions since it's kinda garish, but I think probably it'd make sense for alert words to get whatever treatment

[2017-05-31 18:57] lonerz commented on #4885
Wait @timabbott, but what should happen if you press `n` when you are on a selected PM?

[2017-05-31 19:00] timabbott commented on #4885
Oops, it was my proposed solution that was invalid, but the bug remains.

[2017-05-31 19:01] lonerz commented on #4885
Updated description with proposed solution.

[2017-05-31 19:20] HarshitOnGitHub opened #5138 "Unnecessary debug info in JS dev console."
The following information is printed every time narrow is changed:
![image](https://cloud.githubusercontent.com/assets/16687990/26647008/79938178-465b-11e7-9c86-dca7b3b4fb12.png)
It produces a lot of unnecessary clutter while performing manual testing. It this info still used for debugging something? If not it will be good to have this removed.

[2017-05-31 19:23] timabbott commented on #5138
They are useful, but only when you're debugging narrowing.

I think we probably just want to tweak how `blueslip.debug` works to have these not echoed by default, and just printing out if you want them via some sort of `blueslip.print_debug_log()` method.

[2017-05-31 19:30] HarshitOnGitHub commented on #5138
@timabbott I think this could also be a good feature addition. Slack already has an option to enable console logging:
![image](https://cloud.githubusercontent.com/assets/16687990/26649972/83f74c08-4665-11e7-852d-fabf573d3086.png)

[2017-05-31 22:36] jacinda opened #5142 "Confluence Integration"
It would be useful to have an integration with Confluence such that a Zulip message would be created each time a page in the Confluence Wiki is created / edited / deleted.  This would make it obvious when documentation activity is occurring.

I tried to add the integrations label to this issue per the instructions on the [integrations page](https://zulipchat.com/integrations/) but it appears you c

[2017-06-01 00:00] #4885 closed

[2017-06-01 00:15] timabbott opened #5145 "Move inviting users modal to be part of the settings system"
From feedback we got from a user:

Which is a pretty reasonable criticism.  We probably want to keep the direct links in other parts of the app, since this is a common thing folks want to do.

[2017-06-01 00:17] #5133 closed

[2017-06-01 00:19] timabbott commented on #5142
It looks like this should be possible to do this using an incoming webhook, which is great, since those are easy to write: https://developer.atlassian.com/static/connect/docs/beta/modules/common/webhook.html

Re: labels, yeah, we should update that text now that we've learned it's possible to make GitHub support this.  Our workaround for the project is https://github.com/zulip/zulipbot.

[2017-06-01 01:33] lonerz opened #5146 "Searching for a pasted link doesn't work"
1. Send `http://www.foo.com/` to the chat.
2. Search for `foo.com`.
3. No search items will pop up.

Even if you send `[http://www.foo.com/](http://www.foo.com/)`, you still can't search for the link.

Actually, with further investigation when you send `foo.com` to the chat and search for it, it works, meaning our search only looks at the prefix of each word.

[2017-06-01 06:55] lonerz opened #5149 "Reserved subdomain unavailable still has green checkmark in field"
When you are signing up for a Zulip community, typing any subdomain will give a green checkmark next to it even though it is a reserved subdomain, which is very confusing. See the image below:

![screen shot 2017-05-31 at 11 47 39 pm](https://cloud.githubusercontent.com/assets/12992571/26667994/99cce7c6-465c-11e7-879e-d693b623405a.png)

[2017-06-01 06:56] lonerz commented on #5149
@timabbott if you want to add on where to fix this bug, etc.

Also, not sure what to label this issue..

[2017-06-01 06:57] timabbott commented on #5149
We've been using onboarding for signup sort of issues.  Might be worth splitting out its own label.

[2017-06-01 07:39] aero31aero commented on #5138
@zulipbot claim

I'm thinking of adding a list of options like:

1. Assume by default that all debug messages are allowed.
2. Read an object like:
[code]
Based on this, we can then trigger the call to `logger.log.apply`, `logger.debug.apply`, etc.

Basically, i'll create a function like `shouldWeLog(msg,more_info)` and the resulting code would look like:
[code]

Does this sound good? Assuming we w

[2017-06-01 07:46] HarshitOnGitHub commented on #5138
@aero31aero Sounds good to me! :+1:

[2017-06-01 12:16] refeed commented on #5095
We can precentage-encode url for this by using `urllib.parse.quote` or `urllib.parse.urlencode` for query string

[2017-06-01 12:19] tommyip commented on #5095
Also this applies to all the other bots.

[2017-06-01 12:42] refeed commented on #5095
Yes ;), change the issue title or create a new issue for adding url encoding to all bots that has no url encoding in it?

[2017-06-01 12:46] tommyip opened #5152 "bots: Encode URLs from user input"
See #5095 for more detail.

Basically sanitize data when processing user inputs.

[2017-06-01 12:49] tommyip commented on #5152
@zulipbot label "help wanted" "bite size" "area: bots"

[2017-06-01 18:09] HarshitOnGitHub opened #5154 "realm_filters: Difference in rendering between markdown and bugdown."
There is a difference in rendering of realm filters between bugdown and markdown:
![anim](https://cloud.githubusercontent.com/assets/16687990/26693642/8345a7ba-4722-11e7-8d35-98a1060f4859.gif)
A realm filter should match only after a start of a line, whitespace or opening delimiters.(See comment in `bugdown/__init__.py` `prepare_realm_patter()`). Seems like markdown is not configured to respect th

[2017-06-01 18:12] HarshitOnGitHub commented on #5154
@zulipbot label "area: markdown" "bug" "bite size" "help wanted"

[2017-06-01 18:30] timabbott commented on #5154
Nice find.  I think fixing this probably requires a small tweak to the frontend markdown processor code (see https://zulip.readthedocs.io/en/latest/markdown.html).

[2017-06-01 19:32] #5009 closed

[2017-06-01 19:35] showell commented on #4720
Closing this as non-actionable.  We'll be making lots of changes to the unread-counts system in the next couple weeks, so if this quirk still exists, we'll be more likely to see it in testing.

[2017-06-01 19:41] feorlen opened #5157 "Messages sent by the same person can sometimes be delivered out-of-order"
No idea what this might be, but it just happened to me a few minutes ago on chat.zulip.org. My two messages shown here were in the opposite order when I typed them. A few minutes later I noticed they had gotten swapped.

![screen shot 2017-06-01 at 12 34 33](https://cloud.githubusercontent.com/assets/95028/26697571/6643b9d2-46c7-11e7-9687-775ad4516192.png)

[2017-06-01 19:48] timabbott opened #5158 "Pin versions of pip/wheels/setuptools in setup_venv.py sensibly"
After the unpleasant experience of dealing with a broken setuptools release last night, we should probably figure out a sensible way to pin the versions of setuptools/pip/wheels used for installing the prerequisites of using `pip` to install our requirements.txt file.

Tagging this as production installer primarily, since that's where this issue is most important.

[2017-06-01 19:59] timabbott commented on #4720
I actually have seen this a couple times recently, and I think it's actually unrelated to the unread counts system -- the symptom is that you come back to your computer, and:
(1) The visual scroll position is at the bottom of the feed
(2) The cursor is actually still in the right place, as demonstrated by hitting up-arrow
(3) Everything has been marked as read, presumably through being scrolled do

[2017-06-01 20:56] timabbott commented on #4997
@dhcrzf FYI, I bet this has to do with copying the timerender element for the floating recipient bar.

I think that means it's possible to close 3 bugs with 1 project yet again here :).

[2017-06-01 20:57] timabbott commented on #4861
@brockwhittaker can you reproduce this?  Would be great to resolve this soon.

[2017-06-01 21:05] timabbott opened #5159 "Add limited ordered list support to our markdown"
Markdown has this cool ordered list feature where you can do this:
[code]

And it'll auto-renumber them for you to 1/2/3.

We can't use existing markdown ordered lists implementations, because they will also turn a solo `2.` into a `1.`, which really sucks if you're splitting a list across multiple messages.  But I think we could do something where if you do several of the same number, it does tur

[2017-06-01 21:30] timabbott commented on #5088
@rishig can you take this one?

[2017-06-01 21:30] #4998 closed

[2017-06-01 21:32] timabbott opened #5160 "Fix manual provision instructions for Debian to fix an emoji path bug"
Apparently, our manual dev environment setup instructions don't work on Debian (etc.) right now, because we need to create some directories for the emoji cache.  We should come up with the right solution for this.

See https://github.com/zulip/zulip/issues/4998 for the consequences of the wrong fix to this.

Part 2 of this might be to just enabled `tools/provision` for Debian Jessie.

[2017-06-01 22:00] dhcrzf commented on #4997
I'll see what I can do 😄

@zulipbot claim

[2017-06-01 22:00] dhcrzf commented on #5128
@zulipbot claim

[2017-06-02 00:59] jayvdb opened #5164 "Add setting to prevent unintentional "(no topic)" message by requiring topics"
We should add an organization setting to prevent users from sending without a topic.

Original report below.

----------------------

I unintentionally ended up with "(no topic)" message whilst chatting in a meeting topic. :/
https://wikimedia.zulipchat.com/#narrow/stream/pywikibot/topic/(no.20topic)

Ideally this is avoided, possibly with a 'require topic' setting per stream.

[2017-06-02 01:00] lonerz commented on #5164
@jayvdb you could move the message by editing the topic. It gives you the opportunity to move all the messages after it also.

[2017-06-02 01:01] jayvdb commented on #5164
Can I merge it into the meeting topic we were using?

[2017-06-02 01:02] lonerz commented on #5164
Yes, you should be able to edit the topic to an existing topic.

[2017-06-02 01:07] timabbott commented on #5164
https://chat.zulip.org/help/change-the-topic-of-a-message documents how to do this.

[2017-06-02 01:22] synicalsyntax opened #5165 "Add read-only notice to top of *Organization settings* for non-admins"
Add some text at the top of "Organization settings" for non-admin users letting them know that they have read-only access to most organization settings since they are not an administrator; this should avoid some significant confusion our read-only support creates.

Should be completed ASAP in order for v1.6 to be released.

[2017-06-02 01:37] timabbott commented on #1721
Progress on this from working with one of the Certbot developers at PyCon is on the timabbott/certbot branch.  We just need to make it an option.

[2017-06-02 01:39] timabbott commented on #1320
Given we're planning on replacing camo with thumbor in #4973, I think we can close this as wontfix.

[2017-06-02 01:39] #1320 closed

[2017-06-02 02:07] timabbott commented on #2006
I think this was resolved by #2012.

[2017-06-02 02:07] #2006 closed

[2017-06-02 02:08] timabbott commented on #1069
I think this was resolved via the "custom provision" feature.

[2017-06-02 02:08] #1069 closed

[2017-06-02 02:10] timabbott commented on #2744
The letsencrypt item is #1721.

@maxlinux2000 I'm going to close this just from an issue tracker clutter perspective since there's not a direct plan for what to do, but I'd be happy to reopen if you have time to invest in this :)

[2017-06-02 02:10] #2744 closed

[2017-06-02 02:47] jayvdb commented on #5164
OK, I have done that, and it worked, but I cant see any audit trail of that editing of change to history.  I do see 'EDITED' in the merged topic.

However, this bug is actually that I dont want this to occur.  It was a bug, IMO.  I at least want to be able to turn this feature off on a stream, or in my user prefs, so I dont accidentally do it again, as the message was lost in that I and the other

[2017-06-02 02:59] timabbott commented on #5164
Ahh, yes, totally agreed, we should have a setting for requiring topics.  Do you think it should be stream or organization level?  I feel like maybe organization level makes the most sense.

[2017-06-02 03:54] jayvdb commented on #5164
I'd be happy with either, but organization level would result in less surprises and simpler UI design.

[2017-06-02 04:09] timabbott commented on #5164
OK, let's plan on that.  The setting part of this should be doable following https://zulip.readthedocs.io/en/latest/new-feature-tutorial.html, and I bet the frontend is pretty doable with at most a bit of refactoring.  So I'm tagging this as bite-size.

[2017-06-02 05:08] #4889 closed

[2017-06-02 07:12] dhcrzf commented on #4844
What about a css class like this -

`.recipient_row_date.temp-show-date {
    display: block !important;
}`

It would be applied to the current top recipient_row_date every time the overlap is detected, overriding the .hide-date class. Then all instances of the class would be removed when the floating recipient_bar is displayed again.

[2017-06-02 07:48] rht commented on #5052
cc: @kmcallister

[2017-06-02 10:10] lonerz opened #5172 "Make settings notification header left-justified"
On notification [settings](https://chat.zulip.org/#settings/notifications), header should be left-justified to be consistent with all other headers in settings.

[2017-06-02 13:24] showell commented on #4720
Can we rename the title to something like "Mysterious bug causes incorrect scrolling to bottom of page (and messes unread counts)"?

[2017-06-02 13:51] vaidap commented on #5004
@zulipbot claim

Working on this right now! Was wondering if there is a need for alt-text, or is that useless here as the image titles are self-descriptive?

[2017-06-02 15:28] vaidap commented on #5010
@zulipbot claim

I can see in the accessibility properties that there's the AA and AAA level for contrast ratios. Should I make the different elements satisfy the AAA requirement?

[2017-06-02 15:46] HarshitOnGitHub commented on #1663
@zulipbot claim

[2017-06-02 17:39] timabbott commented on #4720
Yep, done.

[2017-06-02 17:59] timabbott commented on #5004
I think it probably depends on the case.  Inline emoji is probably hard, so let's defer that one (there's some sprite sheet scaling perf issues that kinda force us to use background-image).  You can see it with emoji reactions I think; the inline emoji background-image change is on chat.zulip.org but not master.

For emoji, maybe we could write a /help/ document on using Zulip with accessibility,

[2017-06-02 18:11] aero31aero opened #5176 "markdown: Add support for multi-timezone timestamps"
Should add a markdown syntax for specifying a time in a Zulip message, that will render in each users' local time.

Something similar to the following would be recommended:

Markdown: `!timestamp(2017-04-12 09:53 PST)`
HTML: `<span class="timestamp" value="012345656">June 4, 2017 9AM PST</timestamp>`

where in the HTML, the inner text would be autofilled by `moment.js` and on the backend, `pytz` w

[2017-06-02 18:14] aero31aero commented on #5176
@zulipbot claim
@zulipbot label "area: markdown" "enhancement"

[2017-06-02 18:19] timabbott opened #5177 "Provide convenient discoverable URL for viewing node coverage data"
We should set up serving node coverage data to the web (rather than having to open the HTML report using file:///).

See `zproject/dev_urls.py` for the similar backend coverage thing, should be basically a few lines of code.  Then we can make `test-js-with-node --cover` print the URL out.

[2017-06-02 18:21] timabbott opened #5178 "node: Add support for enforcing 100% test coverage on node tests"
Similar to `test-backend`, it'd be awesome to be able to enforce that certain javascript files have 100% test coverage.

See discussion at https://chat.zulip.org/#narrow/stream/test.20suites/subject/node.20test.20coverage/near/215489

[2017-06-02 18:26] timabbott opened #5179 "Make dev environment support for coverage reports, readthedocs, etc. more discoverable"
We have some pretty convenient URLs for doing development on certain systems in `dev_urls.py`:
* backend test coverage at http://127.0.0.1:9991/coverage/index.html
* Built `docs/` aka ReadTheDocs data at http://127.0.0.1:9991/docs/index.html
* With #5177, node coverage.

We should (1) make sure that the tools for building these things print out the URLs (I think backend does, not sure about the ot

[2017-06-02 18:35] timabbott commented on #5176
I think we can probably stage this into 2 projects: First, just implement and document the markdown syntax.  Then (and this probably deserves a new issue that we open once this is complete), add a calendar picker or typeahead or something to make it easy to create these.

[2017-06-02 18:37] timabbott commented on #4404
@CestDiego how are your efforts on this going?

[2017-06-02 18:44] aero31aero commented on #5176
That interface would a second issue then, after this is done. A typeahead sounds nice. :D

[2017-06-02 18:48] timabbott opened #5180 "provision: Avoid spending 3s every no-op provision resetting rabbitmq"
Every time one provisions, we currently run `scripts/setup/configure-rabbitmq`, which deletes and recreates the zulip user.  This takes about 3s, and we probably want to make it much faster, since 99.9% of the time, this is useless, because we only need to do this the first time (or in the rare circumstance that the password has changed).

One thing we could try checking is whether the zulip user

[2017-06-02 18:58] sinwar opened #5181 "Hide subscribe button for private streams."
When a user unsubscribes from a stream then there is a button below to subscribe again which is not useful in special case of the private stream.So we should hide the button for the private(invite-only) streams.

[2017-06-02 19:28] #1461 closed

[2017-06-02 19:28] timabbott opened #5182 "provision: Avoid spending 15s every no-op provision rebuilding the database"
Currently, the no-op provision time is about 30s, and more than half of that is rebuilding the "manual testing" database.

This is unnecessary in most cases; we should only need to do that when there are new migrations (or perhaps old migrations being removed).

We've already done something similar to the work required with the `is_template_database_current` section in `tools/lib/provision.py`, wh

[2017-06-02 20:00] timabbott opened #5184 "provision: Avoid spending 2s installing node/npm when the current version is already there"
In a no-op provision, `scripts/lib/install-node` takes 2 seconds, even though we essentially never change our pinned node version.  We should be able to wrap that script with a quicker version check that checks a hash for the combination of:
* `node --version`
* `npm --version` (Note: This is slow but can be fixed the same way we did for `node` by not using nvm in the wrapper and just hardcoding t

[2017-06-02 20:01] timabbott commented on #5182
Having tried to trace the code involved in this, I determined I should just take this one, since there's a lot of context involved.

[2017-06-02 20:03] jmbowman commented on #5010
I wrote a little about the different WCAG levels in the [Zulip accessibility documentation](https://zulip.readthedocs.io/en/latest/accessibility.html#guidelines).  AAA compliance is ideal, but don't sacrifice other aspects of usability in order to achieve it (and the WCAG spec itself admits that always hitting the AAA level isn't practical).  So my recommendation (and what we do at edX):

* Achiev

[2017-06-02 20:07] timabbott opened #5185 "provision: Avoid spending ~1s on `manage.py compilemessages` in no-op provisions"
Since we rarely change the translations files these are generated from, this is basically a waste of time almost always.

We can efficiently and robustly address this by just doing the equivalent of:
`cat static/locale/*/LC_MESSAGES/*.po zerver/management/commands/compilemessages.py | sha1sum > var/last_compilemessages_hash` and seeing if the result has changed since the last time.

This is extrac

[2017-06-02 20:10] timabbott opened #5186 "provision: Avoiding spending ~3s on a no-op provision doing apt operations"
We spend several seconds on every no-op provision doing apt setup and operations for things that largely don't change. We should be able to optimize this away in the common (not `--force`) case.

For example, the `apt-get install`, `apt-key add`, etc. operations should probably only run with `--force` unless their dependencies have changed (e.g. the script with the code, the list of files, etc.).

[2017-06-02 20:52] #5182 closed

[2017-06-02 21:47] refeed opened #5190 "Math block shows wzxhzdk:0 when parsing error occurred"
When we send a text that's not match with KaTeX syntax (especially that makes parsing error) in a math block, math block changed to `wzxhzdk:0`.

![screenshot from 2017-06-03 04-44-16](https://cloud.githubusercontent.com/assets/20320125/26745997/7f523740-4817-11e7-8f32-ad84253ef11f.png)

How to reproduce:
1. Enter a text to Math block which makes parsing error, like ``````````````````````````.
2.

[2017-06-02 21:54] timabbott commented on #5190
@rwbarton what are your thoughts on this?  I feel like showing errors is useful when a human is composing, but perhaps less so when a bot is.

[2017-06-02 22:00] timabbott commented on #4841
I just merged a fix for this.  Thanks for the bug report @SteveCliff!

[2017-06-02 22:00] #4841 closed

[2017-06-02 22:24] #5160 closed

[2017-06-02 22:29] timabbott opened #5192 "Add support for using tools/provision on Debian Jessie"
There are a few things we'll need to do to support this:
* Update `APT_DEPENDENCIES`, `POSTGRES_VERSION_MAP`, etc., and `scripts/lib/setup-apt-repo` to have Debian releases in the lists.
* Use our free OSS packagecloud.io account to upload builds of tsearch_extras so that packages is available.  We might also want to upload `camo` depending whether Debian's version actually has the patches we have

[2017-06-02 22:40] timabbott commented on #4861
Since this only impacts chat.zulip.org (it's related to #3923 which we've deployed for now), downgrading the priority.

[2017-06-02 22:54] timabbott commented on #5157
I think this is a rare event that will sometimes happen when the server is being restarted or when it is loaded enough to process new messages coming in slowly.  The final order we display is based on the server message IDs, so the swap is correct, given that what must have happened is that the second message got processed by the server first.

I think if we wanted to eliminate this, what we'd wan

[2017-06-02 23:24] timabbott opened #5194 "Performance issues related to sending messages with thousands of inactive subscribers"
On chat.zulip.org right now, we have about 2300 users subscribed to some of our larger streams (which has a fairly lower-power Digital Ocean machine with 8GB of RAM for everything, including database, memcached, and application servers).

When sending a message to one of these streams, the backend is creeping up towards taking 1s to process sending message (compared with 50-100ms for a private mes

[2017-06-02 23:55] timabbott commented on #2038
This was fixed a while ago, I think in 2f09866364b2bf991ef611af27a9b3d9642f0eda.

I think that this would be a good test case to have, though, so I'm leaving this open but retagging it as a test coverage issue.

[2017-06-02 23:57] timabbott commented on #5146
Probably to fix this we'd need to make our stemming strip `www.` at the start of URLs, or something.

[2017-06-03 00:04] timabbott commented on #4844
That design seems reasonable to me!

[2017-06-03 00:16] synicalsyntax commented on #5181
The "Subscribe" button shown when the message view is narrowed to the unsubscribed private view should also be hidden, ex: !()[https://image.prntscr.com/image/0b502aa598574cb09ae6cafc871e7434.png]

[2017-06-03 00:22] timabbott commented on #5181
While we're working on that, we should also make that button/notice way less ugly.  Maybe open a separate issue for that?

[2017-06-03 00:29] timabbott commented on #5095
Closing this as a duplicate of the broader #5152.

[2017-06-03 00:29] #5095 closed

[2017-06-03 01:07] synicalsyntax opened #5196 "Improve design of subscribe/unsubscribe buttons in message view"
![](https://camo.githubusercontent.com/ea0926b2395df51bbe459ff1590afdb00305fa46/68747470733a2f2f696d6167652e70726e747363722e636f6d2f696d6167652f30623530326161353938353734636230396165366361666338373165373433342e706e67)
The design of the Subscribe/Unsubscribe buttons/notice (example above) displayed in the message view when a user is narrowed to a stream can be improved.

[2017-06-03 01:08] synicalsyntax commented on #5181
Opened #5196 to cover that issue :)

[2017-06-03 04:07] neiljp opened #5198 "Expose stream descriptions beyond subscriptions popup"
Each stream (optionally?) has a description, but this isn't particularly visible except in the settings window/popup for subscribing to streams.

I'd suggest:
* at least, having a "tooltip" appear when hovering over streams, which shows the description;
* perhaps also having the same tips appear elsewhere, such as when hovering over narrowed streams (in the 'location' bar at the top?)

[2017-06-03 05:17] timabbott commented on #5198
I completely agree we should expose this more visibly.  Putting it in the "left sidebar" stream menu would be easy and probably help, but also I don't feel fully solves the problem.

(I'm not sure what you mean by tooltip here -- are you thinking on the left sidebar, or the message feed?)

Note that stream descriptions support markdown, so we need to be somewhat thoughtful about display.

I think

[2017-06-03 05:26] neiljp commented on #3157
I'd thought of just this feature recently, but perhaps extended to one set/controlled by a "stream admin"? In both cases, they could 'float to the top' of the stream list of topics, much like pinned streams float above other streams in the stream list. Such topics could possibly be visible even when the other topics are not, since they're more important?

[2017-06-03 05:32] neiljp commented on #164
I just opened #5198, which may be relevant?
(I didn't find this since it just has stream 'purpose' in the title?)

[2017-06-03 05:36] neiljp commented on #5198
By tooltip, I meant a box that appears in a 'layer' above the regular UI temporarily, with some contextual content - and yes, when over a particular stream (title) in the left sidebar, though also over a narrowed stream name could work (above the message feed).

[2017-06-03 05:50] neiljp opened #5200 "Support pinned messages within streams/topics"
This was perhaps hinted at in #164 and by a comment I made recently elsewhere (by analogy to IRC topics and in web forums the pinned 'currently important messages/threads')

Here I'm referring not to topics of importance, but messages, where a 'stream admin' (or general admin, or even users, particularly in "private" streams?) can 'pin' a message, which in this case may appear both as a pinned top

[2017-06-03 06:03] h6pham8 commented on #5075
@zulipbot claim

[2017-06-03 10:18] rht commented on #5184
#4880 should be merged first.

[2017-06-03 12:14] tommyip commented on #5196
We should probably use the same style found in other buttons for consistency.
![image](https://cloud.githubusercontent.com/assets/18504232/26753444/3e872094-485e-11e7-9e29-516a4f85a9b8.png)
Optionally, we can have different colours for subscribe(green/blue) and unsubscribe (red).

[2017-06-03 15:42] vaidap commented on #5004
submitted a PR that covers all that has been mentioned in the original description, apart from emojis!

[2017-06-03 15:50] tommyip commented on #5200
Yeah this would be great.

[2017-06-03 16:07] vaidap commented on #5010
Thank you for the info!
I've done some tweaking. The dates in stream headers are AA-compliant with the dark background, and AAA-compliant in the private messages. Does this look okay? I don't think it detracts much from the main content.
![screen shot 2017-06-03 at 16 51 52](https://cloud.githubusercontent.com/assets/13666710/26755013/fee565ee-487c-11e7-854c-0237324f6c6f.png)

[2017-06-03 17:37] timabbott commented on #5010
The dates/times are intentionally light in order to avoid having too much emphasis for most users.  I think we possibly will want to put that behind a setting in order to make it possible to get high-contrast in that environment, without impacting our desire for those elements to have low visual emphasis for users who have normal vision.

[2017-06-03 17:59] timabbott opened #5202 "Missing date separator bars when sending a message with a new date to an existing thread"
Here's a screenshot:

![image](https://cloud.githubusercontent.com/assets/2746074/26755873/783a1192-484b-11e7-8d61-674d6dd99f69.png)

There should be a date separator bar before the new message I just sent.

I suspect this is a regression introduced by 00c7f7d42f5384ac0315429f673ba8c3b4e9deef

[2017-06-03 18:28] akhilmd commented on #595
@zulipbot claim

[2017-06-03 18:34] timabbott commented on #595
@akhilmd check out https://github.com/zulip/zulip/pull/4986 which has some prior art done at PyCon by @LawlietBlack.

Also @brockwhittaker FYI; @akhilmd you should probably chat with Brock a bit about strategy for this.

[2017-06-03 18:50] sarahcstringer commented on #3854
We're getting pretty close to finishing the backend piece. Still to do there:
- Finish refactoring `do_set_user_display_settings` (WIP: PR #5023, for either @JoshuaGoldin or I can finish that up)
- `realm.py` and `user_settings.py` views: refactor the functions `update_realm`, `update_display_settings_backend` and `json_change_notify_settings` to remove the REQ/has_request_vars part happening in t

[2017-06-03 19:20] #32 closed

[2017-06-03 19:20] #34 closed

[2017-06-03 19:29] timabbott commented on #8
I think this would be a pretty easy thing to support with a `zulipconf` puppet option.

[2017-06-03 20:37] tommyip opened #5206 "Use the hashchange system for some overlays"
Some of the overlays (eg: `keyboard shortcuts`, `message formatting`) did not get updated with the introduction of the hashchange system. This breaks the use of `!modal_link()` (use in the tutorials)

@zulipbot label "area: general UI" "bite size" "help wanted"

[2017-06-03 21:32] feorlen opened #5208 "1.6 RC1: 500 if sending login notification email fails"
This appears to be just about sending the email, because I get the same thing when I do password recovery. I get the "Internal server error" page. The email fails because upgrade corrupted zulip-secrets.conf (new issue forthcoming.)

(Also: was I supposed to be logged out after upgrade?)

[code]

[2017-06-03 21:36] feorlen opened #5209 "1.6 RC1: upgrade corrupts existing zulip-secrets"
Upgrade 1.5.2 - RC1 and suddenly my email backend is not working, new items in zulip-secrets.conf mangled my email password. (It was the last line in the file, I don't remember if there was a newline after it.)

[code]

[2017-06-03 22:47] RedWasabi commented on #4862
@zulipbot abandon

[2017-06-03 23:06] #5088 closed

[2017-06-03 23:09] timabbott commented on #4862
This actually was a duplicate of #5088, which we just fixed.

[2017-06-03 23:09] #4862 closed

[2017-06-04 00:34] YagoGG opened #5211 "Stream typeahead highlighting doesn't work with stream names containing spaces"
# Description

The typeahead system puts in bold the part of the suggested results that matches your query.

When you're typing a stream name the compose box, this highlighting feature doesn't work if your query contains a space.

# Steps to reproduce
1. Log in as Iago.
2. Create a new stream called "foo bar".
3. Go to the compose box to "create a new topic".
4. In the "Stream" field, type "foo "

[2017-06-04 00:38] YagoGG commented on #5211
@zulipbot label "area: compose" "bug" "bite size" "help wanted"

[2017-06-04 01:19] timabbott commented on #5211
@cory2067 this may be a good task for you since you've been working on typeahead.

[2017-06-04 01:34] timabbott commented on #5209
Nice find; we should note rely on there being newlines at the end of that file.

[2017-06-04 01:41] #5206 closed

[2017-06-04 02:01] cory2067 commented on #5211
@zulipbot claim

[2017-06-04 06:03] lonerz commented on #5178
@zulipbot claim

[2017-06-04 06:17] #5209 closed

[2017-06-04 17:17] derAnfaenger opened #5216 "Settings menu breaks when not enough vertical space available."
Reproduction:

1. Open a dev server tab.
2. Shrink this tab vertically.
3. Go to the settings menu,  which should look like this:
![image](https://cloud.githubusercontent.com/assets/7950151/26763823/6b1e5f1c-495a-11e7-833d-a20fe36c51b6.png)

4. Toggle the `Settings | Organization` bar.
5. Watch the layout break:
![image](https://cloud.githubusercontent.com/assets/7950151/26763788/ec0ab78e-4959-11e

[2017-06-04 17:47] timabbott commented on #5216
I suspect we want to solve this by changing the scrollbar style for that widget to be the perfect scrollbar (we did the same thing in the emoji picker recently), since that has a fixed width across all platforms.

[2017-06-04 18:12] timabbott commented on #5196
We should also replace the "Unsubscribed" separators, since they're the worst part of it I think.

[2017-06-04 18:14] timabbott commented on #4435
This was fixed in #4539.

[2017-06-04 18:14] #4435 closed

[2017-06-04 20:32] brockwhittaker commented on #5004
Emojis should never be converted to image tags unless we fully support HTTP2. The whole point of using <div> is to use a sheet and save network requests.

Others should be treated with care. Anything converted over should always have the same dimensions and we need to find a good solution to the unwanted draggable context of images.

[2017-06-04 20:45] HarshitOnGitHub opened #5220 "notifications: Clicking on a notification in Firefox doesn't narrow to the topic."
I am really annoyed by this for a past few days and today got some time to trace and fix this. Google Chrome works correctly.

[2017-06-04 20:45] HarshitOnGitHub commented on #5220
@zulipbot claim

[2017-06-04 21:05] #5220 closed

[2017-06-04 21:06] timabbott commented on #5004
(but note that custo realm emoji are image tags, since we don't have a good way to do a sprite sheet for those).

[2017-06-05 06:20] kracekumar commented on #168
As I understand there are three things to get this done.

1. Mute user - Applicable in the public stream.
2. Block User - Don't deliver/render private message and show public message
3. Realm configuration to enable blocking users.

[2017-06-05 07:53] strugee commented on #5137
@timabbott I've also run into this in RC's Zulip instance - reality doesn't seem to be matching expectations set by the description here.

Can you clarify what you mean by "red highlighting for mentions"? I've never seen this.

[2017-06-05 07:54] strugee commented on #5137
Also can we change the description of this issue? This seems to be broader than just email notifications.

[2017-06-05 07:56] lonerz commented on #5137
@strugee The red highlighting happens when you get mentioned. It highlights the whole message.
![screen shot 2017-06-05 at 12 56 19 am](https://cloud.githubusercontent.com/assets/12992571/26775439/d65cf84a-4989-11e7-87c0-6903cc85962c.png)

[2017-06-05 08:43] saketkumar95 opened #5228 "Changing the mail body to confirm new email"
For having a sign up page in the React Native app itself, we need to just change the mail body and adding  "If you have signed up through mobile app then copy paste the key" and key will be the [confirmation_key](https://github.com/zulip/zulip/blob/master/confirmation/models.py#L102)

Plans for the mobile app:

User will copy this key and paste it in the mobile app and with a GET/POST method we co

[2017-06-05 12:16] HarshitOnGitHub commented on #1269
@zulipbot claim

[2017-06-05 13:07] tejaskasetty opened #5229 "Misalignment of realm-emoji's with rest of the emoji's in emoji-picker."
The size of divs containing the realm-emoji's is smaller compared to the divs containing the emoji's obtained using spritesheets. And they are not aligned with the rest of the divs.
![realm-emoji-miss-alignment](https://cloud.githubusercontent.com/assets/19589196/26784969/d7187950-4a1d-11e7-8b0e-f8f241dff84f.PNG)![realm-emoji-miss-alignment-1](https://cloud.githubusercontent.com/assets/19589196/26

[2017-06-05 13:13] tejaskasetty commented on #5229
This becomes noticeable
![realm-emoji-miss-alignment-2](https://cloud.githubusercontent.com/assets/19589196/26785177/c575d7be-4a1e-11e7-9bda-174949443836.PNG)
 when the realm-emoji is used to react to a message.

[2017-06-05 13:23] tejaskasetty commented on #5229
I have written a fix but i m not sure its a ideal one.

[2017-06-05 14:25] refeed commented on #245
Just checked at https://github.com/weixiyen/jquery-filedrop repo, there's no update, we are using the latest version. Btw, I think we need to update our copy of `jquery-filedrop` (`static/third/jquery-filedrop/jquery.filedrop.js`) to implement the solution written in https://salesforce.stackexchange.com/questions/33567/cant-upload-files-with-ie11-does-not-support-binary-blobs

[2017-06-05 15:11] vaidap commented on #4883
@zulipbot claim

[2017-06-05 16:16] nicholasbs opened #5232 "Typing "S" while editing a stream's description unsubscribes you and doesn't print "S""
**Steps to reproduce:**
1. Go to "Manage streams," select a stream, and click the edit icon next to the description.
2. Type an uppercase "S" (e.g., try to make the description "Seems like a bug!").

*Expected result:* The description you type shows up.
*Actual result:* You get unsubscribed from the stream and the "S" doesn't appear in the text area.

This is particularly annoying with invite-only

[2017-06-05 16:36] tejaskasetty commented on #5229
@zulipbot label "area: emoji"

[2017-06-05 16:38] tejaskasetty commented on #5229
@zulipbot label "bite size"

[2017-06-05 17:37] #5172 closed

[2017-06-05 18:27] lonerz commented on #5232
Ah, seems like a bug with hotkey not carefully registering which part of the stream modal is focused. cc: @synicalsyntax

[2017-06-05 18:36] timabbott commented on #245
We should possibly spend a bit of time look into alternative file drop libraries that might have these problems solved, before going too far down the path of fixing jquery-filedrop issues.

[2017-06-05 18:59] jackrzhang commented on #5232
@zulipbot claim

[2017-06-05 20:18] brainwane commented on #5110
In #135 people also seemed interested in an "archive" option https://github.com/zulip/zulip/issues/135#issuecomment-150540672 -- sort of like muting it, but for everyone.

[2017-06-05 20:32] timabbott opened #5234 "Update links to the old desktop app to point to the electron app"
So, we'd like to have in Zulip Server 1.6, the recommended desktop app be the new electron app, since there are several problems with the older one that will never be fixed.  Here's what needs to happen:

* We should update `/apps` to link to the Electron app, for Mac/Linux/Windows.  Probably we'll want to parameterize the version number so that it's easy to change.
* We should repoints links to `

[2017-06-05 20:38] gnprice commented on #5234
@zulipbot claim

[2017-06-05 20:54] #5232 closed

[2017-06-05 21:10] synicalsyntax opened #5237 "message list: Remove duplicate subscribe/unsubscribed stream bookends."
When you're viewing messages, there's little "bookends" or sections that denote the status of your subscription to the messages of the corresponding stream. They look like:

![screenshot at jun 05 14-08-10](https://cloud.githubusercontent.com/assets/15116870/26803282/6f38ec0e-49f8-11e7-9b02-7c72bc59a46f.png)

However, as seen in the image above, the bookends are displayed for every subscribe/unsub

[2017-06-05 21:23] jackrzhang commented on #3731
@zulipbot claim

[2017-06-05 21:23] strugee commented on #5137
Ohhh, right. Got it. Thanks @lonerz!

[2017-06-05 21:58] gnprice opened #5238 "Narrow to PMs starts from global oldest-unread, not oldest unread PM"
On chat.zulip.org, when I hit `P` to get the "Private messages" narrow, my cursor goes to a message that's a few days old, even though I have a couple of screenfuls of newer PMs and I've read all of them. (And when I've had unread PMs, I think it still went to that old message.) So that's a bug.

As it happens, that message is the first PM after the oldest stream message I haven't read. I'm guessi

[2017-06-05 22:23] timabbott commented on #5238
I think this is a bug that had been masked by an altogether different bug with that tab.

Indeed, it was taking you to private message closest to the pointer, not the first unread message.

@showell we should probably plan a project to make `use_first_unread` the default in narrowing, and just have to deal with it as an option for the ~5 code paths that don't want that behavior.

[2017-06-05 22:23] #5238 closed

[2017-06-05 22:44] #5165 closed

[2017-06-05 22:50] timabbott commented on #5229
@tejaskasetty it looks like you're working on this; did you mean to claim it with zulipbot?

[2017-06-05 23:24] gnprice commented on #5234
There aren't currently any links to zulipchat.com in the app, with the exception of `zephyr.zulipchat.com` in the Zephyr setup instructions. There are a few links to zulip.org, including in the actual download links on `/apps`.

For this do we want to link to zulipchat.com/apps or to zulip.org/apps ? I think it feels more like zulip.org/apps -- we're linking to where to get some of the software pr

[2017-06-05 23:26] gnprice commented on #5234
I guess since zulip.org/apps gives a 404, the only reasonable thing that's trivial is zulipchat.com/apps. :-) Still -- does that just mean we should make the page available on zulip.org?

[2017-06-05 23:38] timabbott commented on #5234
zulip.org is a static page (code: https://github.com/zulip/zulip.github.io/).  In theory, this should go somewhere on zulip.org, but it's not super convenient to share code/content.

I think it'd be reasonable to just link to zulipchat.com, though, since at least for the mobile apps, the user is interacting with Kandra Labs (as the publisher of the app).

[2017-06-05 23:47] #5237 closed

[2017-06-05 23:56] #5196 closed

[2017-06-05 23:59] gnprice commented on #5234
OK, let's definitely make it zulipchat.com for now -- if we decide to move the page to zulip.org later, we can redirect zulipchat.com/apps -> zulip.org/apps .

I think what this looks like is basically causing the whole `/apps` page not to exist on normal installations, and instead everything that wants to send you there send you instead to zulipchat.com/apps/. Maybe `/apps` should even redirect t

[2017-06-06 00:09] gnprice commented on #5234
Oh and of course
* Make /apps a redirect to zulipchat.com/apps . I don't really know how to do this, but I'd follow the example of existing redirects I see in `zerver/views`.

[2017-06-06 00:13] timabbott commented on #5234
Yeah that's pretty easy to do in Django.

This we can delete, the new app only has 1 build.  For curiousity, the old app had a different first page depending on that flag.

[2017-06-06 00:17] timabbott opened #5242 "channel.js: Improve handling of bad/404/500 responses from servers"
In our JSON views, if we get a response from the server that isn't JSON, we should probably include in the traceback something indicating more about the actual problem.

Here's an example of what we get today:

[code]

[2017-06-06 00:18] gnprice commented on #5234
Oh excellent. That answers the question I was going to ask with that commit, which is why we need this difference. :-)

[2017-06-06 00:30] tejaskasetty commented on #5229
@zulipbot claim

[2017-06-06 00:32] tejaskasetty commented on #5229
I was just trying out the bot. What all can it do. And who has permissions to use it.

[2017-06-06 00:33] timabbott opened #5243 "Add cache cleaning code for our npm and emoji caches"
We have this tool, `tools/clean-venv-cache --travis`, which is used to clean out old versions of dependencies that are no longer useful from our virtualenv cache directory.

We probably should make similar tools for the npm and emoji caches, to avoid wasting resources downloading a slowly growing giant tarball of every past version of our dependencies.

[2017-06-06 01:00] gnprice opened #5245 "Clearer settings for behavior that differs between upstream and other installs"
A few bits of behavior differ between the Zulip server install maintained by the core team on zulipchat.com and a typical install -- generally where upstream's Zulip server is doing double duty for purposes that have more to do with the Zulip community at large than with one Zulip server. E.g., handling iOS and Android push notifications, and providing documentation about client apps on the many p

[2017-06-06 05:16] timabbott commented on #5202
This was fixed by 47465ea51a2594e0cdb8dde583d36b1cf72f4717

[2017-06-06 05:16] #5202 closed

[2017-06-06 07:52] cory2067 commented on #4061
I think I've figured out the cause here, playing with my own international setup here.
The problem is that international keyboards have their own kind of typeahead which messes with ours. On the above Korean example, one isn't visible but by the underlining it looks like it has some "push enter to confirm" setup.
The other big thing is that notice his cursor is in the middle of the Korean word whe

[2017-06-06 10:09] sinwar commented on #5184
@zulipbot claim.

[2017-06-06 10:47] vbNETonIce commented on #4400
our organisation would also prefer to have edit history disabled! Especially during transition time from one messenger system to Zulip msgs can be posted in the wrong place which can get very awkward.

[2017-06-06 14:05] vbNETonIce commented on #4400
Another setting that could work is one for the length of edit history.
If realm admins could set the possible edit history that is displayed to a maximum of 2-3 then a user wanting to get rid of something only needs to edit it 2-3 times and it will disappear.

[2017-06-06 15:26] timabbott commented on #168
Yep, I believe that's correct.

[2017-06-06 15:37] vaidap commented on #5114
@zulipbot claim

[2017-06-06 16:39] timabbott opened #5256 "Make it easy to find out what your "Server URL" is for logging into the mobile apps"
We got a report from a user saying he couldn't figure out how to login to the mobile apps, because he couldn't find his login URL.  Apparently he tried looking on his settings page, and didn't see anything there, so it might be a good idea to add a "Server URL" entry there to help users who use that search process.

For users who google, we should probably also add an entry in our help documentati

[2017-06-06 17:36] timabbott commented on #4061
Ahh, yeah, that makes sense.  Yeah, I think if we can do a before-typeahead-opened/after-typeahead-finished check on the cursor position for the typeahead, that seems like a good approach.  The main worry I'd have with that approach is perf issues.

[2017-06-06 18:06] #4638 closed

[2017-06-06 18:22] #5234 closed

[2017-06-06 18:43] gnprice opened #5259 "Hamburger menu on landing page gets "selected" when used, on Android Firefox"
When browsing the landing home page in mobile Firefox, on Android, trying to use the hamburger menu can result in it confusingly being "selected" as if it's text. See screenshot:
<img height=640px src="https://user-images.githubusercontent.com/28173/26845695-332ba076-4aac-11e7-8c17-07b0df7b2915.png">

I can't seem to reproduce this in the mobile browsers I have handy: Chrome or Safari on iOS.

(Th

[2017-06-06 18:50] gnprice opened #5260 "Hamburger menu on mobile-web landing page can't be exited"
On either Chrome or Safari on my iPhone, when I tap the hamburger menu on the landing page I get this state:
<img height=320 src="https://user-images.githubusercontent.com/28173/26846331-31201562-4aae-11e7-8ad1-8485f9c50b44.PNG">
from which it seems to be impossible to exit back to reading the page. (I tried tapping and scrolling various ways and nothing worked.)

This feels pretty uncomfortable a

[2017-06-06 20:09] derAnfaenger opened #5261 "translations: Translated words identical in English mistaken as untranslated."
`zerver/management/commands/compilemessages.py` counts untranslated words in a language by comparing a translated string with the English version, and increasing a counter if they match.

This causes problems when the translated word is identical to the English version, leading to languages mistakenly being displayed as `99% translated` (when only a couple of words are identical), even though they

[2017-06-06 20:09] seanmcilvenna opened #5262 "Feature request: Filter for topics you've participated in"
I'd like a filter (similar to "Private messages") that lists all of the topics that I (the current user) have participated in. In large chat servers, where there are 100's if not 1000's of users having different conversations, it becomes difficult to track the conversations that I am involved in, or waiting for response in. As soon as I create or respond to a thread, the thread should show up in t

[2017-06-06 20:30] timabbott opened #5263 "Expand and reorganize "Using Travis" section from docs/travis.md"
The new `docs/travis.md` is a mix of developer docs and user docs, for users of Travis-for-Zulip.

It'd probably be worth concentrating the user docs together so that people can read them without going through the developer docs. E.g., the "sign up your personal repo" bit, and maybe a section like "Reading Travis CI output" that discusses the setup/run structure and the hiding of output.

From @gn

[2017-06-06 20:32] timabbott opened #5264 "Use `ts` to get timing information from all Travis CI runs"
In our new `docs/travis.md` help documentation (http://zulip.readthedocs.io/en/latest/travis.html), we recommend a way to use the `ts` tool to get timing data on Travis CI test runs.

It's kinda a pain for this to be a commit you need to cherry-pick; perhaps we should just run a `ts` wrapper on all of our test scripts by default?

Care needs to be taken to avoid making the tests pass unconditional

[2017-06-06 20:35] timabbott opened #5265 "docs: Improve navigation in our expanding developer documentation"
From @gnprice's comment in https://github.com/zulip/zulip/pull/5247#discussion_r120453159:

The left nav of our ReadTheDocs is getting really long. This is particularly unfortunate when using the left nav to browse sections that appear there below the fold -- when you get to the page, the part of the nav that you were just using disappears and you have to scroll down to get back to it (though this

[2017-06-06 20:38] timabbott opened #5266 "Link to instructions for setting up Travis CI for your account more prominently"
Currently, we document the fact you can sign up your personal Zulip for for travis CI in the Git Guide, but people who know Git rarely go through that giant document.

We should probably add some link to this at the end of the developer environment setup documentation (and maybe also `tools/setup-git-repo`, which is in the same section).

[2017-06-06 20:42] timabbott commented on #5261
@umairwaheed this seems like a somewhat fundamental problem with the `translations.json` design.  Do you know whether there's a way we could address this sort within the i18next framework?

[2017-06-06 20:46] timabbott commented on #4674
This was tested successfully.

[2017-06-06 20:46] #4674 closed

[2017-06-06 20:56] timabbott commented on #3786
Unfortunately, a fix or this didn't make it into the Zulip 1.6.0 release, but we should be able to resolve it in the next major release.

[2017-06-06 20:58] synicalsyntax commented on #4331
Hey @LiuzcEECS , mind opening a pull request with the changes you made to solve this issue?

[2017-06-06 21:10] seanmcilvenna commented on #4271
I agree, this would make things a lot easier. I don't see much value in starring a specific message, but a lot of value in starring an entire thread. Or, at least make it so that when a starred message is listed in "Starred messages" list, it also shows the most recent message.

[2017-06-06 22:56] Shayan-To commented on #4271
I also agree that starring a topic would be really nice.

[2017-06-06 23:47] gnprice commented on #5262
Quick cross-reference for others reading this thread later: there's some other discussion of this class of use-cases on #4271 .

[2017-06-06 23:54] timabbott opened #5268 "Add loading spinner when creating a new stream"
Since creating a new stream with 1000s of initial subscribers can be an expensive operation, we should add a loading spinner for it, so that the user isn't confused into thinking that nothing is happening.

For developing this, I'd just temporarily add a `sleep` to the relevant view code so that you can easily reproduce it taking a while.

[2017-06-06 23:54] timabbott opened #5269 "Creating a stream with 1000s of users invited performance issue"
This is a lot faster than it was before, but I think could probably still use some optimization.

2017-06-06 23:50:18,597 INFO     50.197.162.185  POST    200 20.2s (mem: 774ms/2372) (md: 129ms/2) (db: 2.8s/72q) /json/users/me/subscriptions (tabbott@zulipchat.com via website)

Notable issues:
* 2K memcached queries, which feels like we should be doing a bulk query instead.
* A bunch of unspecified

[2017-06-07 00:26] rishig opened #5270 "emails: Write a tool to test our email templates."
We currently don't have a good way of testing what our emails look like.
A useful tool would be the following: A script in `tools/` that
* Hardcodes some fake data for the context (`grep '{{' templates/zerver/emails/*` will find all the variables you need fake data for)
* Renders all of the emails (all of the email templates live in `templates/zerver/emails/`; see `zerver.lib.send_email.send_email

[2017-06-07 01:07] brockwhittaker commented on #5268
@zulipbot claim.

[2017-06-07 01:09] brockwhittaker commented on #5260
@zulipbot claim.

[2017-06-07 01:45] cory2067 commented on #5270
@zulipbot claim

[2017-06-07 03:02] #4844 closed

[2017-06-07 03:02] #4997 closed

[2017-06-07 03:02] #5128 closed

[2017-06-07 04:03] borisyankov commented on #5256
`Server address` might be better?

[2017-06-07 04:12] #2186 closed

[2017-06-07 04:20] #5211 closed

[2017-06-07 04:24] timabbott opened #5272 "Document the new "Incoming webhook bots" bot option"
Following #5082, I think we want to discuss recommend creating an "Incoming webhook" rather than a "Generic bot" if one only needs the bot to have permissions to send messages:

* Possibly more prominence in the "create bots" UI itself
* In the "user documentation"
* In the integrations documentation for those integrations which are incoming webhooks (which are almost all of them).

[2017-06-07 04:26] timabbott opened #5273 "Make the UI for setting a bot as an incoming webhook bot more fancy/self-explanatory"
As part of #5082, we added a basic dropdown menu for making it possible to set a bot as an incoming webhook, with limited permissions to only send messages.

I think it's probably worth doing a pass at making that look really nice, keeping in mind that we'll eventually have at least 4 choices:
* Incoming webook
* Outgoing webhook (with sub-options for format)
* Generic bot
* Embedded bot (with sub

[2017-06-07 04:41] rishig opened #5274 "emails: Remove whitespace caused by jinja2 controls in non-HTML templates."
Jinja2 control tags like `{% name %}` add spaces and newlines to the body of plaintext emails. Jinja2 can be configured to strip this whitespace, and we should do so for our plaintext emails.

Some notes:
* This builds on #5248 (so if that hasn't been merged, work off of that branch)
* This is the diff to update the Jinja2 setting in `zproject/settings.py`:
[code]
You can read about the settings a

[2017-06-07 04:52] rishig commented on #5270
Great, thanks @cory2067!

[2017-06-07 05:26] umairwaheed commented on #5261
Perhaps we can use an empty string? Let me see if this can be done easily.

[2017-06-07 05:42] #4404 closed

[2017-06-07 05:45] timabbott commented on #4400
Let's start with just making it disablable.  @akhilmd do you want to take this one?

[2017-06-07 06:03] timabbott commented on #5245
I think it's possible the main thing we want to do here is to rename `ZILENCER_ENABLED` to something more meaningful.

[2017-06-07 07:03] timabbott commented on #3854
I think a handlebars meta-template would be a good idea, though care is required in thinking through how that should work.

[2017-06-07 08:44] LiuzcEECS commented on #4331
@synicalsyntax  Thank you for comment, I've already opened a pull request but it has been reviewed for two months.

[2017-06-07 09:33] refeed opened #5277 "A scrollbar appear in image list on image overlay when the images are too many"
A scrollbar appear in image list on image overlay when the images in it are too many. It shouldn't be happen, since we already have the chevron button there.

![screenshot_20170607_162214](https://user-images.githubusercontent.com/20320125/26871971-2ae25f56-4b9f-11e7-8d06-6158f6d9f762.png)

How to reproduce:
1. Upload many images in one topic
2. Then, click on an image in that topic to view the im

[2017-06-07 15:33] timabbott commented on #5277
Nice find!  Definitely a bug.  FYI @brockwhittaker

[2017-06-07 18:14] timabbott commented on #1406
I think this is resolved by 98a785bb258c37df0858296f4d8912d024889bc3

[2017-06-07 18:14] #1406 closed

[2017-06-07 20:40] #3264 closed

[2017-06-07 20:43] #1110 closed

[2017-06-07 23:58] rishig opened #5286 "profile popover: Long name or email causes uncentered avatar picture."
If someone has a long email address or name, we get the following:
![image](https://user-images.githubusercontent.com/890911/26906417-f25caf9e-4ba1-11e7-9b29-0b89aef0d501.png)

Note that the above will also happen if any of the "Send Private Message" etc links are translated into something much longer than what they currently are (might be worth checking if this already happens in German).

Not su

[2017-06-08 00:03] timabbott opened #5287 "Improve abstractions for writing tests using the Zulip API"
We now use `**api_auth` in 142 places in the codebase, and it's kinda ugly.  We should think about replacing the `**api_auth`  mechanism we use for things like `self.client_patch`  with something more like `self.api_patch(user_profile, "/users/me/subscriptions")` , where we aren’t specifying how to do auth in every single test.

We should get a few thoughts on the specific interface before changin

[2017-06-08 00:17] ethanhs commented on #991
@timabbott The list of issues in the gist is already clear of issues my PR fixed. My PR to mypy-django is https://github.com/machinalis/mypy-django/pull/6

[2017-06-08 00:42] showell commented on #5287
I'd be in favor of this (conceptually):

def api_post(email, *args, **kwargs):
  kwargs['HTTP_AUTHORIZATION'] = encode_credentials(email)
  return client_post(*args, **kwargs)

[2017-06-08 03:53] synicalsyntax commented on #4331
Hm, looks like you were waiting on some help on getting some issues in your pull request resolved. Perhaps you'll want to visit the [Zulip development community](https://chat.zulip.org/) and ask for some help resolving those issues?

[2017-06-08 04:54] #4806 closed

[2017-06-08 04:57] rht commented on #1666
@zulipbot claim

[2017-06-08 05:13] #5178 closed

[2017-06-08 05:16] timabbott commented on #5287
Yeah, that's basically what I had in mind, though I was thinking a `user_profile`, not an email.
I feel like that aspect of the API is best decided by someone converting 5 a few random functions and seeing which seems cleaner; my guess is that it will be the `user_profile`, but I'm not sure.

[2017-06-08 05:16] timabbott commented on #5287
Tagging this as help wanted, with the next step being to try this out and see how well it works.

[2017-06-08 05:21] timabbott commented on #991
Cool.  It feels like finishing cleaning that out would be a fairly finishable project.

[2017-06-08 05:30] lonerz commented on #4068
Yes.

[2017-06-08 05:32] lonerz commented on #4500
Yes.

[2017-06-08 05:33] evantey14 commented on #4360
@zulipbot abandon

[2017-06-08 05:36] aero31aero commented on #267
@zulipbot abandon

[2017-06-08 05:40] lonerz commented on #1180
Yes.

[2017-06-08 05:40] lonerz commented on #4513
Yes.

[2017-06-08 05:41] lonerz commented on #4587
I've got an open PR, but not sure if I'll have time to debug it and finish it off.

[2017-06-08 06:12] souravbadami commented on #3972
@zulipbot abandon

On Jun 8, 2017 10:59 AM, "zulipbot" <notifications@github.com> wrote:

[2017-06-08 07:20] dakshshah96 commented on #4603
@zulipbot abandon

[2017-06-08 08:14] ethanhs commented on #991
I have run it again after updating stubs, expect another PR 😄. I'll post an updated stub issue list when I get through the simpler issues.

[2017-06-08 10:04] hackerkid opened #5292 "Make vagrant proxy setup show warnings if necessary"
If the user specified the HTTP_PROXY and HTTPS_PROXY variables in `~/.zulip-vagrant-config` but didnt't install `vagrant-proxyconf` plugin a warning should be shown when `vagrant up` is run by the user. I missed doing vagrant-proxyconf install in my new laptop and spend some time debugging the error (It's kind of funny that I wrote this feature myself :smile: and still messed up the installation).

[2017-06-08 10:04] hackerkid commented on #5292
@zulipbot label bit-size

[2017-06-08 10:06] hackerkid commented on #5292
@zulipbot label "bit-size"

[2017-06-08 10:06] hackerkid commented on #5292
@zulipbot label "bit size"

[2017-06-08 10:07] hackerkid commented on #5292
@zulipbot label "bite size"

[2017-06-08 10:34] showell opened #5293 "docs/prod install: Make it clear that Zulip should run on its own box"
We should change `docs/prod-install.md` to strongly suggest running Zulip on its own hardware in production.

[2017-06-08 10:37] showell commented on #5293
(We may also want a section for folks who decide to piggyback on to an existing box despite our recommendation, so they know where conflicts may happen with other apps/services, particularly nginx).

[2017-06-08 15:13] pweaver commented on #4839
I just install a production instance on google cloud.
Turns out any time you make a change to the google cloud server, the /etc/boto.cfg fixes itself, so working around by editing that might not work permanently.

[2017-06-08 15:14] pweaver commented on #4839
Also, it would be nice to use google cloud storage instead of S3 for file uploads to fixing it so it configures boto configuration correctly could be nice.

[2017-06-08 15:17] italo-batista commented on #4442
Sorry for that. I thought I was going to be removed by the warning message 21 days ago.
I am so busy these days with university projects that I didn't have time. I will let someone else can claim this issue. If nobody does, I'll take it when I have time.
@zulipbot abandon

[2017-06-08 15:23] anna-liao commented on #4517
I'm still working on it.

[2017-06-08 16:34] decached commented on #3447
@zulipbot abandon

[2017-06-08 17:02] abhijeetkaur commented on #5272
@zulipbot claim

[2017-06-08 17:21] timabbott commented on #5293
I think we may want to make this an explicit step in the docs.  We already warn against this, and people ignore it.

[2017-06-08 17:28] HarshitOnGitHub commented on #4730
Will be done once PR #3923 gets in.

[2017-06-08 17:30] HarshitOnGitHub commented on #209
@timabbott Should we close this since we have already merged the related PR, only UI has been disabled for now?

[2017-06-08 17:32] timabbott commented on #209
I think we need to leave this open until we enable the feature.  I hope we can do that soon.

[2017-06-08 17:34] salman-bhai commented on #5265
Hey,

Is this Issue still open to Contribution?

[2017-06-08 17:35] salman-bhai commented on #5176
Is this Issue still open for Contribution?

[2017-06-08 17:36] timabbott commented on #5176
@salman-bhai I think you could certainly contribute by testing and reviewing @aero31aero's PR for this (#5253).

[2017-06-08 17:36] salman-bhai commented on #5113
Hi,
Has this Issue been resolved or still waiting to be resolved?

[2017-06-08 17:37] timabbott commented on #5176
That said, I recommend filtering by "not assigned" in GitHub when looking for projects.

[2017-06-08 17:38] gnprice commented on #5293
Yeah -- I don't actually see anything about this in `docs/prod-install` itself, though it may be in other places. We should definitely make this clear up front in that doc.

I'd turn the "installation requirements" section into a numbered step and add that warning there. The requirements doc it links to should also gain a clear mention of this.

Because a dedicated literal physical machine is goin

[2017-06-08 17:44] timabbott commented on #5293
Yeah, the main place it appears is: https://zulip.org/server.html

Which I suppose we probably want to just make a redirect to `prod-install`, anyway, so we can clean this up as part of that project.

[2017-06-08 17:56] gnprice opened #5296 "Make it easy to import from RocketChat"
For people thinking of switching to Zulip from RocketChat, it'd be really handy if there were a smooth, documented export/import flow to migrate their data. See also discussion on #908, which is the same thing for Slack.

As mentioned on #908, we already have a high-quality import tool, `./manage.py import`. So the other piece is to get data out of RocketChat and into that format.

A bit of web se

[2017-06-08 18:21] tommyip commented on #5265
Hi @salman-bhai , yes this issue is still open! Get started by claiming it (reply with `@zulipbot claim`).

[2017-06-08 18:55] gnprice opened #5297 "Eliminate and lint-ban spurious whitespace in translated strings, especially HTML templates"
In scanning through some of our untranslated strings in the languages we have a lot of translations for, one pattern is that in many cases we had a previous translation for the very same string -- except with different whitespace in it, like line breaks and subsequent indentation.

Happily, most (all?) of these are cases where the specific whitespace doesn't matter at all in the end, because it's

[2017-06-08 19:00] timabbott commented on #5297
@YagoGG did some work on this, which actually fixed most of the original issues of this form.

[2017-06-08 19:07] robbyoconnor commented on #5296
I can agree with this approach

[2017-06-08 19:19] timabbott commented on #5297
@synicalsyntax I noticed this didn't mention @zulip/server-i18n ; any idea why?

[2017-06-08 19:59] HarshitOnGitHub opened #5298 "emoji: Categorize emojis in emoji pickers."
This is one of the most requested features in the emoji area and the way we currently display emojis in our emoji pickers make it really hard to use them. Since we are going to switch to iamcal's dataset soon, we can use it to accomplish this task.

[2017-06-08 20:00] HarshitOnGitHub commented on #5298
@zulipbot claim

[2017-06-08 20:00] HarshitOnGitHub commented on #5298
@zulipbot label "area: emoji" "enhancement"

[2017-06-08 20:51] timabbott commented on #5298
@HarshitOnGitHub there's actually some work on this from PyCon that's nearly finished; I had thought @brockwhittaker had opened a PR for it, but it hasn't happened yet.  You can review once the PR arrives.

[2017-06-08 21:05] cory2067 commented on #5177
@zulipbot claim

[2017-06-08 21:08] HarshitOnGitHub commented on #5298
Ah! You had mentioned this in the morning but I thought you had mentioned Brock by mistake. I should have confirmed, anyways sorry for the confusion! :)

[2017-06-08 21:24] cory2067 commented on #5179
@zulipbot claim

[2017-06-08 21:59] timabbott opened #5301 "Occasional DNS tracebacks bouncing push notifications"
I got this traceback on chat.zulip.org.  I find these pretty puzzling, because I don't understand why one would have DNS issues resolving https://push.zulipchat.com.

We should at least figure out a way to make some sort of reasonable retry happen.

[code]

[2017-06-08 22:48] timabbott commented on #4839
@pweaver you should report a bug with Google, since their behavior is kinda ridiculous; it actually just breaks the boto package running in Python 2.

[2017-06-08 22:49] timabbott commented on #4839
Our fix for this probably involves dropping Python 2.

[2017-06-08 23:33] pweaver commented on #4839
I sent feedback to google (using the send feedback button in Google Cloud) If anyone knows a more formal way to file a bug I will do so.

I suspect it is based on the Ubuntu image used so it will probably not be fixed for the existing images.

[2017-06-09 01:33] lonerz commented on #5179
This would be awesome. Thanks Cory for picking this up :)

On Thursday, June 8, 2017, Cory Lynch <notifications@github.com> wrote:

[2017-06-09 02:22] hackerkid opened #5305 "Mention the visibility differences of private and public streams on stream creation"
Right now we only mention the stream accessibility differences (Anyone can join / People must be invited
) between private and public streams while stream creation.

![screenshot from 2017-06-09 07 27 18](https://user-images.githubusercontent.com/7190633/26958093-61f52b2a-4ce6-11e7-8ca9-5e258f5d55b0.png)

We should expand this section to include
* Stream visibility (Are the private streams visible

[2017-06-09 02:48] timabbott commented on #5305
Good thought!

[2017-06-09 02:54] #5074 closed

[2017-06-09 03:36] lonerz commented on #5297
@timabbott when was @zulip/server-i18n added? It doesn't seem to be in the zulipbot config file.

[2017-06-09 03:49] lonerz opened #5306 "Return the correct missing line numbers when running node coverage"
Currently, the missing lines that are given in `coverage.json` are incorrect and they need to be pulled from a different section of the JSON file.

[2017-06-09 03:50] lonerz commented on #5306
@zulipbot claim

[2017-06-09 04:31] thallada opened #5310 "Stream links in email bodies are relative"
I got a private message while I was away, which triggered an email to me with the message. The message contained a link to a stream (e.g. #frontend). I tried to click the stream link, but got confused when it just loaded my gmail inbox.

It looks like the link is relative:
[code]

Is there a place in the code that does some processing on the message body before sending an email? The domain could b

[2017-06-09 04:34] lonerz commented on #5310
This is probably part of our email templates.

[2017-06-09 04:35] timabbott commented on #5297
That would explain it.  I'm not sure when we made it, but might as well add it to the config now?

[2017-06-09 04:44] lonerz commented on #5297
Done @timabbott 895b8314c8d460aa074962e987121b1091acb695

[2017-06-09 04:49] timabbott commented on #5310
This seems like a pretty high priority bug.  I assume this was the digest emails @thallada?

[2017-06-09 04:57] thallada commented on #5310
@timabbott nope, this was a "missed_message" email.

Though, I went through my inbox and found a digest email with a message that has a stream link and it is also relative.

[2017-06-09 05:20] thallada commented on #5310
I wonder if something is broken because it looks like in `markdown.js` [window.location.origin is supposed to be added to the stream URL](https://github.com/zulip/zulip/blob/94b705874301e6d01174afbe5a441c2e53e0ca7f/static/js/markdown.js#L157).

[2017-06-09 06:09] timabbott commented on #5310
That code doesn't run for the emails, though.  Email code use in
notifications.py I think

-Tim Abbott (mobile)

On Jun 8, 2017 10:21 PM, "Tyler Hallada" <notifications@github.com> wrote:

[2017-06-09 06:37] pirate opened #5312 "[More...] tags are appearing on every message rendered in the background"
I've noticed as of Zulip 1.6.0 `[More...]`tags are appearing on every message that's beed loaded offscreen while Zulip was in the background.

**Steps to reproduce:**
1. open https://chat.zulip.org
2. scroll down to the bottom of `Home`
3. leave it running in a background tab for 10+ min and let new messages accumulate without interacting with the tab
4. come back to zulip, and scroll down
5. all

[2017-06-09 12:25] tejaskasetty commented on #300
@timabbott This is a wonderful feature and I would love to implement it.

[2017-06-09 12:50] tejaskasetty commented on #300
Ctrl + t seems  to have a browser shortcut. I know it was just an example @rayvenshire  took to explain it. I thought it would be better to go with Shift+N and Shift+B for next and back. And yes support back and forth as well as circular feature.

[2017-06-09 13:21] vbNETonIce opened #5315 "improvement: search people diacritic insensitive"
we are having a very international team and quite a few of the names have accents.
Could the user search (also called 'search people') be made diacritic insensitive, ie. `Marian` also finds ` Marián`? Currently it doesn't and in the flow of typing one suddenly has no results just because of an accent.

[2017-06-09 13:48] kracekumar commented on #168
Currently, I'm concentrating on [Zulip translation](https://www.transifex.com/zulip/zulip/translate/#ta), if anyone is interested in picking up this, please proceed.

[2017-06-09 13:49] vaidap commented on #5274
@zulipbot claim

[2017-06-09 14:18] timabbott opened #5316 "Consider raising the contrast for the STREAM and USERS sidebar captions"
Feedback from someone checking out Zulip the first time:

"Aside; the inter-captions in the table of contents are really difficult to read due to the low contrast."

While these captions aren't intended to be super high-contrast, we should probably make them at least readable.

[2017-06-09 14:37] vaidap commented on #5316
@zulipbot claim

[2017-06-09 14:46] vbNETonIce opened #5317 "bug: red background to @all mention gone after opened in link"
current behaviour:
* sent a longish instructional/announcy message with three screenshots to `@ everyone` on our server
* msg had it's red background
* I noticed a few typos and edited them
* later I wanted to point someone again to that msg
* so created a link to the msg and send it to that person
* I clicked the link to see whether it would open in electron or browser (opened in electron)
* afte

[2017-06-09 15:14] vaidap commented on #5305
@zulipbot claim

Does this sound like good replacement text? Not sure whether to use ;'s or sentences, trying to keep it brief.

* **Public:** anyone can join; anyone can view complete message history without joining
* **Private:** hidden from all other users; must be invited by a member; once invited, can only see future messages

[2017-06-09 15:53] vaidap commented on #2985
@zulipbot claim
posted in the user community stream about this!

[2017-06-09 16:25] vaidap commented on #1421
(this issue is being worked on: i'm currently helping redesign emails/error pages/landing pages)

[2017-06-09 16:44] vaidap commented on #3233
@zulipbot claim

[2017-06-09 17:22] pweaver commented on #4839
Once we move to Python 3 it would be good to get boto working with Google's S3 equivalent. I can take a look at that once we do drop python 2 since I am running an instance in Google.

[2017-06-09 18:08] timabbott commented on #5315
This is a great feature idea.

[2017-06-09 19:09] timabbott commented on #5194
For getting started on this project, I think here's a good series of steps that can each be finished and merged without breaking anything:

1. Create the `UserProfile.long_term_idle` and `last_active_message_id` fields in the database models.
2. Write and add unit tests for a function `zerver.lib.messages.add_missing_messages` that, given a UserProfile, fetches all Message objects sent to that use

[2017-06-09 19:17] adnrs96 commented on #5194
@zulipbot claim.

[2017-06-09 19:44] timabbott commented on #5305
That looks correct.  We can also link to something in the /help/ docs for how this works in detail.

Maybe for "Private": "must be invited by a member; new members can only see messages sent after they join; hidden from non-administrator users"?

[2017-06-09 22:01] feorlen commented on #3850
fyi #5208 is probably the same thing

[2017-06-09 22:03] timabbott commented on #3850
Yep, closing #5208 and putting the traceback here:
[code]

[2017-06-09 22:03] timabbott commented on #5208
This is a duplicate of #3850.

[2017-06-09 22:03] #5208 closed

[2017-06-09 22:04] timabbott commented on #3850
Tagging as a priority, since this is I think a significant fraction of user error when installing Zulip right now.

[2017-06-09 23:18] #5177 closed

[2017-06-09 23:22] #5270 closed

[2017-06-10 02:45] lonerz opened #5326 "Scrolling through messages works with lightbox open"
When the lightbox is open, the `up` and `down` arrow keys still move the message view. We probably want to disable that.

[2017-06-10 06:54] rishig opened #5328 "message view: Selecting text over multiple messages looks messy."
E.g. the following looks broken, even though if I copy it it's actually going to do something great:
![image](https://user-images.githubusercontent.com/890911/27000790-adbfe8be-4d6e-11e7-943b-e7069df45e3e.png)
I think highlighting only the message text and the name is probably what we want?

Not sure if this is easy or hard. At minimum we should make all the little vertical lines and the "EDITED"

[2017-06-10 12:42] tejaskasetty commented on #5326
@lonerz  Can you brief me what exactly is lightbox?

[2017-06-10 12:50] tejaskasetty commented on #4825
@zulipbot claim

[2017-06-10 12:53] tejaskasetty commented on #5326
Got it.

[2017-06-10 15:02] tejaskasetty commented on #5326
@zulipbot claim

[2017-06-10 17:38] timabbott commented on #5114
@rishig @vaidap is this now resolved with #5258 done?

[2017-06-10 18:37] rishig commented on #5114
ah oops, forgot I had opened an issue for this. Closing.

[2017-06-10 18:37] #5114 closed

[2017-06-10 20:03] aero31aero commented on #4271
@nikhilhassija any updates on this?

Also, if we plan to add a new tab under "Starred Messages", the name could be "Watched Topics".

[2017-06-10 21:25] sinwar commented on #5185
@zulipbot claim.

[2017-06-11 04:04] tejaskasetty commented on #5328
@rishig Is it just the message text and the sender name you want or event the topic and stream names.

[2017-06-11 04:16] tejaskasetty commented on #5328
Like This -
![message-name-select](https://user-images.githubusercontent.com/19589196/27008253-ca8bd3d2-4e8a-11e7-8554-5933fe940545.png)

[2017-06-11 04:18] tejaskasetty commented on #5328
@zulipbot claim.

[2017-06-11 17:16] #4825 closed

[2017-06-11 18:01] evantey14 commented on #4360
@zulipbot claim

[2017-06-12 02:58] rishig opened #5343 "onboarding: Add way to suppress hello messages for new streams."
The first four messages in a new realm are the following:
![image](https://user-images.githubusercontent.com/890911/27017262-1b9ed05c-4edc-11e7-91be-180d538c6e74.png)

The onboarding process will add custom messages for many of the initial streams, so all we need is to turn off these hello messages for the streams created during realm creation.

@jrowan fyi

[2017-06-12 08:10] LiuzcEECS commented on #4331
@synicalsyntax Thank you for your advice, I will visit the community and ask for some help.

[2017-06-12 11:40] refeed commented on #5310
@thallada cool! Btw, in Zulip there's a bot that can control our GitHub workflow, so could you assign this issue to your self by commenting `@zulipbot claim` (without the `), please? So other people know that there's a someone working on this, thanks :^)

[2017-06-12 17:45] sinwar commented on #5196
@timabbott I think we should keep the color of ```subscribe``` button same as stream background color.

[2017-06-12 17:49] jrowan commented on #5343
Is the intent for the onboarding process to be configurable by realm (e.g. that the person creating the realm gets to choose what kind of onboarding happens)?  i.e. should I just remove the code sending these 4 (or the last 3) messages, or do we want them to be controlled by some realm setting (e.g. default to off, but if the administrator doesn't want to use/configure another tutorial, the admini

[2017-06-12 17:57] rishig commented on #5343
It should be the same for all realms (non-configurable).
And just to clarify, these messages are a side effect of stream creation. Both the stream creation, and the "when a stream is created, it starts with the hello message" should be preserved in general. The messages just shouldn't happen for the streams created in the realm creation process, if that makes sense?

(I don't actually know where t

[2017-06-12 18:10] feorlen commented on #3850
I don't see anything importing smtplib and its SMTPException exceptions, I suspect this means any smtp failure would result in a 500. (Something going wrong with initial configuration is still the most likely, of course.)

If send_email.py were to handle an exception, how should it get from there to something visible in the UI? Should it be limited to administrator users?

[2017-06-12 21:15] asmartin opened #5349 "Mute topic by default"
Is it possible to mute a topic by default for all users when it is created? This would be very useful as an "opt-in" conversation

[2017-06-12 23:38] brockwhittaker commented on #5315
So this can either be done (feature detected) in some browsers easily in ES6 with `String.prototype.normalize`, but otherwise it seems as though a polyfill for this is in the 50kb range which makes it not-so-high-value.

[2017-06-13 04:00] thallada commented on #5310
@zulipbot claim

[2017-06-13 04:13] timabbott commented on #5343
@rishig these messages are sorta a side effect of an unrelated effort (making the fading handling of low-activity streams not have an arbitrary threshhold, which was confusing for users).  It would create an ugly problem to just remove these messages entirely without tweaking that feature (but not be super hard to do).

A potential solution would be to tweak the content of the initial messages for

[2017-06-13 04:16] timabbott commented on #5349
There's no feature that resembles that yet; @asmartin can you explain the use case a bit more to help us understand it?

[2017-06-13 04:21] rishig commented on #5343
yeah, I was imagining removing these messages and then adding in new ones by hand in do_create_realm. Alternatively, maybe the function to create a stream could take an argument for a custom initial topic and message.

[2017-06-13 04:32] #5260 closed

[2017-06-13 04:44] timabbott commented on #5343
Yeah, I think taking an argument with the content would be a better design.

[2017-06-13 05:03] timabbott opened #5355 "settings: Move "download personal API key" from "your bots" to "your account""
It's really not discoverable in its current location.

[2017-06-13 06:08] #4691 closed

[2017-06-13 12:44] showell commented on #5343
My votes:
* Keep the messages.
* Possibly customize them.
* Try not to start new users in the Home view.

As Tim points out, we do need to be very careful about having empty streams, but I think we've kind of cleared that up in this conversation.

[2017-06-13 13:20] asmartin commented on #5349
Sure - the idea is that you'd have a stream for discussing various different subjects or problems, each in their own topic. We would want everyone to be subscribed to the stream by default, but we don't want everyone getting notifications for all topics (since often times only a few people are interested in a particular topic); this way everyone can see which topics are available, and then just ch

[2017-06-13 13:36] Lyla-Fischer commented on #5142
The method that confluence provides for registering with their webhook service is not like other webhook services that Zulip was designed to register with so far. It requires a file being hosted in the same domain that the webhook sends notifications to. ([reference](https://developer.atlassian.com/static/connect/docs/latest/tutorials/connect-basics.html#install))

[2017-06-13 14:34] vabs22 opened #5358 "Zulip server bot: Add basic test suite"
Add a basic test suite for the Zulip flask server, to facilitate changes without the fear of breaking existing system.

[2017-06-13 14:37] vabs22 opened #5359 "Zulip Server bot: Add supervisord configuration"
Add supervisord configuration for running the server persistently and simplifying the server setup.
e.g. `install-zulip-flask-supervisord <path_to_flaskbotrc>`

[2017-06-13 14:38] vabs22 opened #5360 "Zulip server bot: Add trivial instructions for deploying and using server on Heroku."
Heroku can be used as a platform to deploy the Zulip bot server. Instructions should be added for deploying and using the server on Heroku. This should make it really convenient for new users to setup and start using the server in their Realms.

[2017-06-13 16:18] #5326 closed

[2017-06-13 17:34] timabbott opened #5365 "frontend: Enable hot-reloading of CSS in development"
There's strong interest among folks working on the frontend in being able to use the hot-reloading feature of webpack for managing our CSS.

In order to do this, step 1 is to move our CSS minification pipeline from django-pipeline to Webpack.

[2017-06-13 17:46] timabbott commented on #5259
@brockwhittaker was this resolved by your recent work on this mobile UI?

[2017-06-13 17:52] showell opened #5366 "Pull GCI docs into main Zulip repo."
Some of our assets, like git cheatsheets, currently live in the zulip-gci repo.  We should move them to the main Zulip repo and link from appropriate places.

cc @synicalsyntax @lonerz @tommyip

[2017-06-13 17:53] showell commented on #5366
(move or copy, as appropriate)

[2017-06-13 17:58] timabbott commented on #5366
I'd probably move and just update the links in zulip-gci to point to the new place.

[2017-06-13 18:07] jrowan commented on #5343
I am working on a change to keep the messages but have them be customizable (defaulting to what they are now).  The last three stream names and descriptions (and thus where I'm going to put their configurable welcome message) are stored in `zproject/settings.py`, but `DEFAULT_NOTIFICATION_STREAM_NAME`, which gives the name for the first `announce` stream, is stored in `zerver/models.py` as an attr

[2017-06-13 18:55] timabbott commented on #5196
@sinwar can you post a screenshot of the change you think we should make?

[2017-06-13 18:57] sinwar commented on #5196
@timabbott sure.

[2017-06-13 20:16] cory2067 opened #5368 "Portico overlaps with content"
On pages with the login/register bar at the top (I think this is `zerver/portico.html`), it seems to cover content at the top of the screen if no extra spacing is added. Example:
![image](https://user-images.githubusercontent.com/8433005/27102276-9ee8ce64-5052-11e7-8974-78a114c48c09.png)
(from https://chat.zulip.org/terms/ )

[2017-06-13 20:32] timabbott commented on #5368
Nice find!  This is I think sufficiently embarrasing that it should be high priority.

[2017-06-13 20:49] cory2067 commented on #5368
@zulipbot claim

[2017-06-13 20:54] timabbott opened #5369 "Run the `CREATE INDEX CONCURRENTLY` commands for new UserMessage indexes without downtime"
In #5214, we added some new indexes on UserMessage, which can take some time to create, but lead to a significant long-term performance win.  Ideally. we'd have these migrations run while the server is up, to avoid unnecessary downtime.  We've documented how to do that in `docs/changelog.md`, but ideally we'd make this happen for users automatically when they next upgrade.

[2017-06-13 20:59] cory2067 commented on #5368
@zulipbot abandon

[2017-06-13 22:36] timabbott commented on #5349
Yep, makes sense.  This is definitely an area that we want to invest in, though I don't think we have a concrete plan yet for what feature(s) we should be doing in this space.

[2017-06-13 22:37] gustavopinto commented on #1968
Hi @timabbott, I have additional questions about going open-source, do you mind in answering them?

What was the main motivation plotly?

For example, was the main motivation of the companies to attract and retain new contributors?  Or was the main motivation perhaps to promote a profile of open-source-friendliness and get goodwill from the community?

Could you please elaborate a bit over it?

Ad

[2017-06-13 22:40] timabbott commented on #1968
I don't really have time to write about this in detail, but in short: Zulip's case is one where Dropbox open sourced the software but didn't work on it themselves afterwards, so most of those questions aren't really applicable.

https://blog.zulip.org/2017/06/06/zulip-server-1-6-released/ has a bunch of useful content on how the community works today and the scale at which we operate.

[2017-06-13 22:40] lonerz commented on #1968
@gustavopinto I gratefully invite you to join our development server: chat.zulip.org to ask other questions.

[2017-06-13 22:46] showell commented on #5343
My thought is that we should actually move this stuff to the database, so that we can eventually have setup UI around them, so that folks can easily customize stuff for things like locale, corporate messaging, etc.

[2017-06-13 22:57] BenWiederhake opened #5371 ""Unsubscribe" page has partially occluded text"
Unsubscribing from digest mails (`https://chat.zulip.org/accounts/unsubscribe/digest/1234…`) leads to a page where the text is partially occluded.  Note how in the first line, the upper parts of the letters are cut off, for example with `t`s and `d`s.

Setup:  Firefox 45.9.0 ESR (moderately outdated, I know, but I'm sure there are nonzero other users) on Debian.

---
![bildschirmfoto_2017-06-14_00

[2017-06-13 22:59] gustavopinto commented on #1968
Thanks! I will do that!

On Tue, Jun 13, 2017 at 7:40 PM, Joshua Pan <notifications@github.com>
wrote:

[2017-06-13 23:04] timabbott commented on #5371
I think this is another manifestation of #5368.

[2017-06-13 23:09] jackrzhang commented on #5371
@zulipbot claim

[2017-06-13 23:09] jackrzhang commented on #5368
@zulipbot claim

[2017-06-13 23:55] #1269 closed

[2017-06-14 00:00] timabbott commented on #5216
@refeed @tejaskasetty either of you want to take this task?

[2017-06-14 00:37] gnprice opened #5373 "Opt-out warning when composing a message for outside your narrow"
[Suggested by](https://chat.zulip.org/#narrow/stream/frontend/subject/warning.20when.20compose.20box.20not.20sync.20with.20narrow/near/224859) @aero31aero , and put this way by @timabbott :

in response to

We've seen repeated signs that this is confusing even for fairly experienced users, so I think this would be quite helpful.

[2017-06-14 00:39] gnprice opened #5374 "Keyboard navigation doesn't work after using "Copy link to conversation""
On chat.zulip.org right now, if I use the "Copy link to conversation" menu item on a message, I can't seem to do any keyboard navigation -- including `n`, `up`/`down`, or `enter`.

[2017-06-14 00:46] rishig commented on #5343
I think just modifying the descriptions won't work, since the initial messages we want to send include markdown and images, and are instructional (here is how topics work), rather than descriptions of the streams.

I think a customizable first message might be a useful thing anyway, to put in the stream creation flow in stream settings.

[2017-06-14 02:09] lonerz commented on #5374
This is weirdly related to #4329. The problem here isn't the hotkey, but the fact that the chevron stays selected.

[2017-06-14 04:09] pweaver opened #5377 "Webpack Migration Tracking Issue"
This is a tracking issue for the migration to webpack.

Bundles to migrate
- [x] activity
- [x] katex
- [x] translations
- [x] api
- [x] zxcvbn
- [x] landing-page
- [x] signup
- [x] stats
- [ ] sockjs
- [x] common
- [x] app

[2017-06-14 04:12] pweaver commented on #5377
@zulipbot label "help wanted" "area:tooling" "enhancement"

[2017-06-14 04:13] pweaver commented on #5377
@zulipbot label "area: tooling"

[2017-06-14 04:14] pweaver commented on #695
Added a tracking issue at #5377

[2017-06-14 04:28] pweaver commented on #5377
@HarshitOnGitHub, now that the latest pull request is merged. I think the next three bundles to migrate are sockjs, signup, and stats. Are you interested in tackling one of those?

[2017-06-14 06:06] refeed commented on #5216
sure, @zulipbot claim

[2017-06-14 09:31] vbNETonIce opened #5379 "feature: per user login blocking (ie. only internal access)"
in our company we only allow a few people external access to the emails. Internally they use outlook, the few who have external access use their phones or outlook webapp.

It would be very useful for companies to have a per user setting that allows admins to allow external access only for some. Zulip already logs the IP a user is login in from. If the user is not accessing Zulip from the office th

[2017-06-14 09:37] sinwar commented on #5186
@zulipbot claim.

[2017-06-14 13:26] HarshitOnGitHub commented on #5377
@pweaver Sure! Working on migrating sockjs. :)

[2017-06-14 14:05] vaidap commented on #5274
So far, the problems regarding control blocks not being aligned are in:
* `digest.txt`, `missed_message.txt` :these will be redone so will leave them for now
* `invitation_reminder.subject` : currently figuring out how to verify it

[2017-06-14 14:22] vaidap opened #5382 "static 404 page doesn't allow for template variables to be used"
Currently, the redesigned `static/html/404.html` at #5314 is unable to make use of the variable `settings.DEFAULT_FROM_EMAIL`, and just has generic text. It would be good to be able to point users to a specific email.
This would involve either generating the 404 page on server startup/custom handlers: refer to [this discussion](https://chat.zulip.org/#narrow/stream/development.20help/topic/setting

[2017-06-14 14:29] vaidap opened #5383 "Screenshot/GIF software documentation for better frontend PRs"
as per [this discussion](https://chat.zulip.org/#narrow/stream/frontend/topic/development.20processes), we should  include in the documentation information on how to take screenshots/record gifs on different platforms, and encourage contributors to post screenshots/GIFs with their PRs/in #design so others can easily see what changes have been made, improving the workflow.

Things to consider:
* wh

[2017-06-14 14:30] vaidap commented on #5383
@zulipbot claim
@timabbott would appreciate feedback!

[2017-06-14 14:39] penCsharpener opened #5384 "bug: recent PMs > more conversations too long and without scroll bar"
when I click on 'more conversations' under `Private Messages` a huge list opens that extends beyond my screen. Stream disappear entirely. Only a click on `Home` rescues me from it.

It should be a lot shorter and with a scroll bar.

![more conversations, many more](https://user-images.githubusercontent.com/26190934/27138082-f8ab5278-511f-11e7-8d7d-3c902386d8ca.png)

[2017-06-14 15:24] vaidap commented on #5366
@zulipbot claim

[2017-06-14 16:02] tommyip commented on #5366
Yeah, and probably under the `DEVELOPER TUTORIALS` section.

[2017-06-14 16:14] timabbott commented on #5379
It should be.  First, I should mention that if one wants this for all users, you can do this without any changes to Zulip: Just setup an iptables firewall that blocks access to the Zulip server from IPs not in the office network.  You can probably also do this with nginx configuration.  Google should be able to find good tutorials.  That said, this will break access to the Zulip mobile apps, which

[2017-06-14 16:15] vaidap commented on #5366
@tommyip is [this](http://zulip.readthedocs.io/en/latest/reading-list.html) what you are referring to?

[2017-06-14 16:45] timabbott commented on #5384
I think the problem here is that we're mimicking the "more topics" behavior of zooming to the stream, which works well, but that the implementation isn't quite right.

In particular, we don't hide the "Home" menu item above, which creates the confusion that you're seeing everything and thus scrolling down will get you to the other things, and we don't have the "back" button. I think we should alig

[2017-06-14 18:09] sinwar commented on #5186
@timabbott @femnad Should we add the hash same way in #5184 to check the dependencies have been changed or not?

[2017-06-14 18:40] femnad commented on #5186
That could work if you figure out some way produce a similar hash for apt dependencies.

[2017-06-14 18:57] YagoGG commented on #5366
I belive @tommyip talks about the whole *Developer tutorials* in the docs structure. This means that the docs you'll be moving from the GCI repo should have their own entries here, in `docs/index.rst`:

[code]

So you should basically copy them as new files inside `docs/`, update the links as @timabbott pointed out (in a separate PR in the zulip-gci repo), and add the new files' names to the above

[2017-06-14 18:59] feorlen commented on #3956
Is it using DigitalOcean? They have monitoring using an agent installed on the host. Alerts go to email (or Slack.) Looks like this is a recent feature? It's free for droplets.

https://www.digitalocean.com/community/tutorials/an-introduction-to-digitalocean-monitoring

[2017-06-14 19:42] sinwar commented on #5186
So I think we can make a hash for all the dependencies of the `apt` commands and if it remains same then we'll not be running any of the `apt` command else we'll run all `apt` command because maintaining different hash for all the apt commands can be messy.
Does it sound ok?

[2017-06-14 20:00] WPTechnician opened #5387 "Weird error"
Hello:

I am implementing a new installation of Zulip in production and seem to have everything in place.  When I attempt to register the Admin user with the one-time link I get:

Error generated by Anonymous user (not logged in) on zulip.waypointcentre.ca deployment

Traceback (most recent call last):
  File "/home/zulip/deployments/2017-06-14-14-09-22/zulip-venv/lib/python2.7/site-packages/djang

[2017-06-14 20:08] femnad commented on #5186
Yeah, all or none sounds reasonable for this case.

[2017-06-14 20:14] shubhamdhama commented on #5277
@zulipbot claim

[2017-06-14 20:34] jrowan opened #5389 "No "A new login to your Zulip account" notification for mobile logins"
When logging in from another browser/ip address, an email is sent warning the user about the new login.  This does not happen (and should) for logins from the mobile app.

[2017-06-14 21:23] gnprice commented on #5374
Interesting, thanks! Yeah, it does seem likely that these are related.

[2017-06-14 21:25] gnprice commented on #4329
@lonerz pointed out that #5374 looks like it's probably caused by this -- in which case this isn't merely cosmetic but blocks normal use of the UI when it happens.

Given that the menu chevron stays visible, and also keyboard events don't seem to be having their usual effect, I'd guess that the underlying cause is that chevron or a related element is winding up holding the focus.

[2017-06-15 00:25] #5264 closed

[2017-06-15 00:32] timabbott commented on #5389
So the way we do this for web logins is via the `email_on_new_login` function in `zerver/signals.py`, using Django's signals system.  To fix this, will we want to (possibly after some refactoring) call that same code from the `api_fetch_api_key` function in `zerver/views/auth.py` that is used by mobile.

@umairwaheed do you want to take this one?

[2017-06-15 00:49] timabbott commented on #5383
I'd make a dedicated page on just the screenshot/GIF software topic, and link to that page from one or more places we want to reference it.

[2017-06-15 00:53] timabbott commented on #5382
Basic on reading our nginx configuration (`git grep 404.html` to find the lines) I think that 404 page is just the 404 page for static files (i.e. things under `static/`).  I think anything else uses `templates/404.html`, which can use variables.

But I think we can probably change this by adjusting this block in the nginx config:

[code]

For now, I would just redesign `templates/404.html`, and p

[2017-06-15 00:58] timabbott opened #5391 "Add /404 and /500 URLs to development environment for previewing error pages"
Similar to the effort to make it easy to preview our emails, it'd be awesome to provide an easy way to preview our 404 and 500 pages in development, rendered as they would be in production.

There's 2 versions of each page:
* The versions served by nginx, already accessible at: http://127.0.0.1:9991/static/html/404.html and http://127.0.0.1:9991/static/html/5xx.html, which we should just add to th

[2017-06-15 00:58] timabbott commented on #5382
Opened https://github.com/zulip/zulip/issues/5391 for making this stuff easier to design.

[2017-06-15 01:12] cory2067 commented on #5391
@zulipbot claim

[2017-06-15 01:38] #5368 closed

[2017-06-15 01:45] timabbott commented on #3956
I think we probably want to run the actual Zulip Nagios checks rather than that sort of basic monitoring, since those will catch more issues and be a better end-to-end check.  @gnprice FYI.

[2017-06-15 02:04] timabbott opened #5393 "Document the ability for admins to delete messages"
We probably want to document the feature and also link to it from the "getting-your-organization-started-with-zulip.md" guide, maybe at the start of the "Invite users" section, since it's a common request from admins who sent a bunch of stupid-looking test messages and now want the history to look more professional when they add new users.

[2017-06-15 03:09] timabbott commented on #5186
Agreed all or none seems reasonable.

I think this is the only block we need to cover here:
[code]

I think hashing the (sorted) list of apt packages from APT_DEPENDENCIES[codename] plus the content of `scripts/lib/setup-apt-repo` seems correct; we should make sure this one respects the `--force` option, however, since one could want to force an update.

[2017-06-15 03:11] timabbott commented on #5387
@WPTechnician I haven't seen this issue before, but if I had to guess, maybe this is somehow what happens when the community/corporate organization type isn't selected?

You can probably add a `print(form.cleaned_data['realm_org_type')` there to see what the value is to help debug (remember to restart the server in between).

[2017-06-15 03:18] #5179 closed

[2017-06-15 03:38] timabbott opened #5395 "bots: Eliminate direct access to the filesystem by bots"
This will require some work, but ideally, we want Zulip's bots to make no direct access to the filesystem, using the `StateHandler` API and similar things to manage their state and other similar features for dependencies.

Ideally, after completing this, we'd add lint rules for the bots directory against importing `os`, `sys`, and similar modules (as well as using `open()`) to help ensure that thi

[2017-06-15 03:53] cory2067 commented on #5315
@zulipbot claim

[2017-06-15 03:53] umairwaheed commented on #5389
sure. @zulipbot claim.

[2017-06-15 04:14] timabbott commented on #5315
@brockwhittaker did you mention to me you were working on this?  Just want to make sure we're not duplicating work.

[2017-06-15 04:19] #5391 closed

[2017-06-15 06:25] cory2067 opened #5399 "Autocomplete operator names in search suggestions"
Currently, the search bar does not autocomplete on the operators themselves. We'd like to add that so something like `str` could autocomplete to `stream:`.

Important to make sure negating (e.g. `-sender:`) is still preserved in this new autocomplete.

[2017-06-15 06:25] cory2067 commented on #5399
@zulipbot claim

[2017-06-15 06:29] cory2067 opened #5400 "Remove "unknown operand" as a search suggestion"
If you type `is:foo` into the search bar, then the search suggestion is "unknown operand." This is kind of ugly.
Refer to my comment at the bottom of #5210.

In short, I think we should probably modify `Filter.describe` to say something more useful than this.

[2017-06-15 06:34] timabbott commented on #5371
Fixed by #5376.  @jackrzhang FYI, GitHub doesn't understand commas after `Fixes`, so you need to do a separate `Fixes:` for each one if you fix multiple issues in one commit (pretty lame, in my opinion).

[2017-06-15 06:34] #5371 closed

[2017-06-15 06:43] timabbott commented on #5373
@HarshitOnGitHub @akhilmd this is probably a good quick project for one of you.

[2017-06-15 09:11] vaidap commented on #5383
makes sense. i'll get to it today/tomorrow!

[2017-06-15 09:19] timabbott commented on #5383
I think we mostly want to link to the how-to guides on these things; our docs should just list the options for each platform, with maybe a hint of recommendation (mostly through ordering) for which option one should use.

[2017-06-15 09:20] timabbott commented on #5383
(You should feel free to submit a PR that just covers the tools you feel you can document efficiently but has a reasonable organization, and we can have other folks add similar ones for other platforms)

[2017-06-15 10:07] timabbott commented on #5301
I think given that these are sent by a queue processor, we can probably just put them back into the queue with some retry limit.  I think we have similar logic for the outgoing webhooks code.

[2017-06-15 10:10] vbNETonIce commented on #5379
we have different departments. People from 'translation' don't need to access their work Zulip account from outside the office. However the sales team and management go on business trips and do need to communicate with finance and other sales people left in the office. For those we allow external email access and it would be great if Zulip could be accessed as well without allowing everyone to do

[2017-06-15 10:10] timabbott commented on #5020
This seems worth debugging soon.

[2017-06-15 10:11] timabbott commented on #4983
@umairwaheed can you look into this one?  It seems like some sort of weird test runner bug.

[2017-06-15 10:12] timabbott commented on #4914
I think the next step is for someone to try reproducing this with that setting in a Zulip development environment.  If we can do that, it'll make tracking this down a lot easier.

[2017-06-15 10:14] timabbott commented on #4812
@HarshitOnGitHub since you're planning to work on the streams UI, can you look at this one?  It should be a good opportunity to read a bunch of stream settings UI code.

[2017-06-15 10:15] timabbott commented on #4801
@adnrs96 is this easy to fix?

[2017-06-15 10:17] timabbott commented on #4757
At the very least, we need to provide a good error message for trying to login to a deactivated account, since this failure mode is really confusing.  I think we want to the error message to say something like "Your Zulip account has been deactivated.  If you'd like your account to be reactivated, please contact the administrators for your Zulip organization."

@umairwaheed can you take a look at

[2017-06-15 10:17] HarshitOnGitHub commented on #4812
Sure!

[2017-06-15 10:18] timabbott commented on #4569
Tagging this as a priority, since it totally breaks the feature.

[2017-06-15 10:19] timabbott commented on #4552
This was resolved through #4503.  Thanks for the report @brainwane!

[2017-06-15 10:19] #4552 closed

[2017-06-15 10:20] timabbott commented on #4287
Increasing priority, since this is pretty confusing.  @akhilmd maybe this is a good issue for you while you're working on message editing?

[2017-06-15 10:21] timabbott commented on #4189
Increasing the priority of removing the shortname mention syntax.

[2017-06-15 10:23] timabbott commented on #3295
@babhishek21 this is apparently still open, I think -- have any time to help?

[2017-06-15 10:25] timabbott commented on #2091
Given that we have a solution in mind that is probably only a few lines of code (
https://github.com/zulip/zulip/issues/2091#issuecomment-255245659), I hope someone gets to this soon.  I'm going to tag it as a high priority.

[2017-06-15 10:27] timabbott commented on #3081
I think for this issue, we just want to wait for Python 3 and the use the new Python 3 feature where you do `def f(a, *, b=5)` and it enforces only one positional argument.

[2017-06-15 10:28] timabbott commented on #1638
@showell maybe it's worth updating this issue and/or breaking it up into sub-issues that someone working on tooling like @sinwar or @adnrs96 can easily work on?

[2017-06-15 10:30] timabbott commented on #1522
Is there more that we want to do on this in the near term @showell and @adnrs96?  I worry a bit that most of this issue is done and the rest is vague, so it'll be open forever.

[2017-06-15 10:34] timabbott commented on #1545
I think it'd definitely be worth making the linter run separately against the backend vs. frontend code.  I think I might do it as `lint --frontend` runs against everything in `package.json`, `static/`, and `templates/`, and the other one runs against everything else in the repo.

We'd just use these options in Travis, to end the confusion we get sometimes with developers ignored "backend" failure

[2017-06-15 10:35] timabbott commented on #4169
@sinwar can you take this one?

[2017-06-15 10:36] timabbott commented on #1525
Closing since this is mostly a duplicate of #1865.

[2017-06-15 10:36] #1525 closed

[2017-06-15 10:39] timabbott commented on #129
I'm pretty confident that the approach of having `tools/build-release-tarball` build a source tarball is the way to go, so this one is ready for someone to work on.

[2017-06-15 10:42] #5277 closed

[2017-06-15 10:44] timabbott commented on #5379
OK, makes sense.  I suppose the best workaround I have is that you could have the travellers use a VPN to access the network that Zulip is on?

[2017-06-15 11:04] roberthoenig opened #5404 "Clicking on an already selected stream does not collapse its topics."
Clicking on a stream in the left sidebar displays the stream's topics.

When clicking again on the same stream again...
* Zulip `currently` reloads the content of the stream, still displaying the topics list
* Zulip `should` toggle the stream, that is, collapse all the topics.

Please refer to the discussion on [chat.zulip.org](https://chat.zulip.org/#narrow/stream/frontend/topic/toggle.20streams)

[2017-06-15 11:06] derAnfaenger commented on #5404
@zulipbot label "frontend"

[2017-06-15 11:07] derAnfaenger commented on #5404
@zulipbot label "area: left-sidebar"

[2017-06-15 11:07] adnrs96 commented on #4801
@timabbott
I believe not, the last time I gave it a thought resulted in following conclusion.
The current architecture of the linter doesn't allow us to easily call up the linter again on the comments section. Basically what currently happens is that we parse the css and comments are put into kind of post or pre fluff for the parser tokens. Its all inside the css parse and we cannot call the parse

[2017-06-15 11:09] #3708 closed

[2017-06-15 11:11] teamfighter commented on #908
Do you have some news on that issue?

[2017-06-15 11:16] timabbott commented on #4801
I think that @brockwhittaker's  idea here must have been that we should just ignore commented-out content from a linting perspective?

I guess I'm not 100% confident that I agree, in that we don't want to merge anything with large commented-out CSS blocks like this -- the CSS should just be deleted.  @brockwhittaker was your concern here primarily for local development convenience?

[2017-06-15 12:12] showell commented on #4801
I would think that our pretty printer could mostly just leave comments alone, so I was surprised at this bug.  It probably reflects that some design decision we made is a bit inflexible.

But I also agree with Tim's larger point that we generally should just delete unused CSS before checking in.  If there's a compelling reason why this isn't so, I could change my mind, but I'm inclined to close th

[2017-06-15 12:23] adnrs96 commented on #4801
The thing with comments was that, I enforced the ruling that we should indent all comments with 4 space's thinking that there might be cases where we leave multi line textual comments explaining something regarding why particular CSS was used. So I thought it would be nice to keep the comments closed under this format.
[code]

[2017-06-15 12:26] showell commented on #5384
See also #5404, where Robert is advocating for the collapse strategy for streams/topics.  We should try to solve both of these issues in a consistent way.  I'm leaning toward the collapse strategy.

[2017-06-15 12:28] showell commented on #5404
See also #5384.  We want to make the experience for PMs and streams/topics as consistent as possible.  (There are slightly different forces at play with them, so they might not be exactly consistent.)

[2017-06-15 12:34] showell commented on #1522
I'm closing this.  Realistically, CSS improvements are going to happen either by @adnrs96 or me fixing problems at this point.  We may want to ramp up another strong person on this, if somebody shows interest.

[2017-06-15 12:34] #1522 closed

[2017-06-15 12:45] showell opened #5405 "Make file handing more robust in tools/lint."
This is a fairly advanced task for somebody who has a good understanding of how file handles work in a multiple-process tool like `./tools/lint`.

We currently fork a bunch of processes in `tools/lint` to do various linting tasks.  They are parallelized purely for speed, and the speed-up is significant.  It comes at a small cost in terms of having output get interleaved from various linters, which

[2017-06-15 12:47] showell commented on #4801
If that's the case, the bug here appears to be that we're not pushing all the lines in the comment by an equal amount.  Generally, we want our pretty-printer to respect the original indentation from the users for things like "pre" tags and comments.

[2017-06-15 12:51] WPTechnician commented on #5387
Thanks for the response Tim.  I am thinking maybe that is my issue and that I missed something as during my installation I didn't see a spot to configure an organization type.  Where would I set that?

[2017-06-15 12:52] showell opened #5406 "Add tests for linting libraries."
We have library code for our linters that we might want to add test suites for.

Some of the linting libraries, such as `tools/linter_lib/pep8.py`, are basically wrappers around subprocess calls, so they might be a bit of a challenge to test, and they may be low priority.

A good library to start with is probably `tools/linter_lib/custom_check.py`.

This was split out from #1638.

[2017-06-15 12:54] showell commented on #1638
I split out a couple tickets here, but the linter seems to be in pretty good shape at this point.  Closing.

[2017-06-15 12:54] #1638 closed

[2017-06-15 12:57] tommyip commented on #5405
How should we visually separate the outputs? What `docker-compose` does:
![image](https://user-images.githubusercontent.com/18504232/27182218-6082e61a-51d2-11e7-8a35-a0a2cdf50f55.png)
Or maybe we could capture the output of each linter and then show them sequentially?

[2017-06-15 13:16] babhishek21 commented on #3295
I'll be back from vacation on Sunday. I can get into it by Monday? Is that OK?

[2017-06-15 13:17] showell commented on #5405
I don't think we want to delay any output.  I would go with the `docker-compose` strategy, ideally.  It probably requires us to use something more sophisticated than `subprocess.call` in `external_linter`, and we'd instead use something like `subprocess.Popen` so that we could manage the output streams.

[2017-06-15 13:50] WPTechnician commented on #5387
Hi:

So I just made the org_type 0 as a test and it got me working but I am not sure what the implication of that is.

Thanks!

[2017-06-15 14:01] tommyip commented on #5405
@zulipbot claim

[2017-06-15 15:08] akhilmd commented on #4287
@zulipbot claim

[2017-06-15 17:02] refeed opened #5412 "Some of codeblock typeahead doesn't work"
There are some codeblock typeaheads (from pygments) that doesn't work when I try it in Zulip, such as `c#`, I think `c#` breaks the codeblock syntax since there is an `#` in it. Btw, we could use `csharp` for alternative of `c#`.

~~--And why there's a `pycon` typeahead, I think it's not a programming language?~~
Edit: `pycon` is a abbreviation of `python console` so it's a normal behaviour

I thi

[2017-06-15 17:08] sinwar commented on #5180
@zulipbot claim.

[2017-06-15 17:16] synicalsyntax opened #5413 "API usage limit error thrown when hotkeys are used rapidly"
When a user uses the keyboard navigation keys rapidly (such as the `n` hotkey), the user will receive the following error concerning their excess usage of the API:
[code]

The default rate limit of the API should be thus increased, or separate API limits for the browser and the API where the browser would have a higher limit.

See discussion [here](https://chat.zulip.org/#narrow/stream/backend/top

[2017-06-15 17:21] synicalsyntax commented on #5412
`pycon` seems to be a lexer for the Python Console (read [pygments docs here](http://pygments.org/docs/lexers/?highlight=pycon)), so it's valid.

But I was able to reproduce this error, unfortunately. cc @cory2067 (the implementer of the typeahead syntax)

[2017-06-15 17:39] HarshitOnGitHub commented on #5138
Closing after reading this discussion: https://chat.zulip.org/#narrow/stream/code.20review/subject/.235150

[2017-06-15 17:39] #5138 closed

[2017-06-15 17:53] timabbott commented on #5413
the code for this is in `zerver/lib/rate_limit.py`.  This issue is sorta a regression caused by making the rate-limiting apply to browser traffic (`/json/`) as well as API traffic (`/api/`).  I think we want to either raise the limit or make a separate rate-limiting bucket for browser activity with a higher limit.  The latter is probably the right solution.

[2017-06-15 17:58] cory2067 commented on #5412
You can find all the types autocomplete supports at `/static/generated/pygments_data.js`.

After some testing, it seems that that the only non-alphanumeric characters that we support are `+` and `-`.
So things like `c#, `ambienttalk/2` (whatever that is), `vb.net` have this issue.

We could change the typeahead to ignore the names with special characters, but I feel like that's kind of a cheap way

[2017-06-15 18:05] #5387 closed

[2017-06-15 18:09] timabbott commented on #5387
@WPTechnician that should be totally fine for now.  We fixed the root cause today, so once we do a release, future users won't have to worry about this.  Thanks for the bug report!

[2017-06-15 18:18] YagoGG opened #5414 "The REST API produces unconsistent "user" objects"
# Description

Depending on what endpoint you're querying, the REST API may produce different objects to represent a user.

Here are a few examples:

- HTTP POST `api/v1/register`:

    In the `realm_users` field:
[code]

    In the `cross_realm_bots` field:
[code]

- HTTP GET `/api/v1/users`:

[code]

This makes it slightly unconsistent and difficult to document, since it makes it hard to use inh

[2017-06-15 18:19] timabbott commented on #5412
Well, the pycon typeahead issue is a bit mysterious and we should investigate.

The main bug here is in the markdown implementation; we're probably a bit too conservative with what other characters we allow to be on the same line.  I suspect we just need to add `/#` to the list in `FENCE_RE` (in the backend), and maybe something similar in the frontend.

Definitely worth adding tests for both issu

[2017-06-15 18:27] gnprice opened #5415 "Exclude digest email tasks in RabbitMQ queue size monitoring"
Our Nagios check for RabbitMQ queue sizes sometimes pages just because email digests are running. We should quiet that.

The relevant code is in `scripts/nagios/check-rabbitmq-queue`. There seems to be logic there already aimed at this problem, but evidently it's not enough or not quite right.

[2017-06-15 18:34] #2985 closed

[2017-06-15 18:36] timabbott commented on #3233
Oops, I think we failed to close this when merging https://github.com/zulip/zulip/commit/f56ecdd34fda9d6f6fc8c9e46d1e38725a8116fd due to a typo "Fioxes".  Closing.

[2017-06-15 18:36] #3233 closed

[2017-06-15 18:59] timabbott commented on #900
I was reviewing old issues decided to spend a few minutes on closing this out.
* Addressed the nginx piece
* Addressed the templates piece.
* Addressed closure-compiler mainly through linking to the frontend build process docs.
* Elected not to address camo, since we're planning on replacing that with thumbor anyway.

See d98c0d317855e80d29d1fe3f7c62327cd521ddd7 and the couple commits before it.

[2017-06-15 18:59] #900 closed

[2017-06-15 19:25] #4287 closed

[2017-06-15 19:29] timabbott commented on #3295
Yeah, definitely fine! :)

[2017-06-15 19:54] timabbott commented on #5414
A few thoughts:
* The only difference between `/register` for `realm_users` and `GET /json/users` is `is_active`, right?
We probably eventually want to send down inactive users for other reasons; to support that, we'll need to make sure the frontend code on mobile apps and web can handle discarding anything with `is_active=False` (at least to start, to avoid adding deactivated users to things like

[2017-06-15 19:55] timabbott commented on #5414
See also https://github.com/zulip/zulip/issues/3734.

[2017-06-15 20:45] rishig opened #5419 "Stream search doesn't give up focus."
To reproduce, click on the magnifying glass here:
![image](https://user-images.githubusercontent.com/890911/27200909-7a890208-51d0-11e7-8831-81350065e16b.png)

and then click out. Clicking on other buttons (New Topic, etc), or typing keyboard shortcuts won't work until you X out the streams search box.

[2017-06-15 20:46] lonerz commented on #5419
Can't seem to reproduce this on chat.zulip.org?

[2017-06-15 20:49] rishig commented on #5419
hm .. you're right, it no longer has this behavior after I reload, which suggests that it was something else. Okay, I'll close it for now, thanks for testing it out!

[2017-06-15 20:49] #5419 closed

[2017-06-15 21:13] timabbott opened #5420 "Remove or upgrade django-guardian to fix warnings"
We need to get rid of this Django warning spam whenever we rebuild the DB on Django 1.11:

[code]

The alternative, which is probably a better solution, is to finish removing Guardian.  It's been several releases since we stopped using/supporting it, so I think what we could do is this:
* Add some sort of code in `upgrade-zulip` for checking if the old version is 1.3.10 or older, and if so, tellin

[2017-06-15 21:19] timabbott commented on #5420
@umairwaheed would you be up for taking care of this?

[2017-06-15 21:20] cory2067 commented on #5412
@zulipbot claim

[2017-06-15 21:36] YagoGG commented on #5414
`avatar_url` as well.

Agree. I was actually wondering if we could implement some sort of inheritance model, so we have a main `User` class, and then a `Bot` class that inherits from the former. That would be perfect from a documentation (and a logic) perspective.

As a minor drawback, bots would have a `timezone` field, but I guess that it's fine, considering that we can return that field as empt

[2017-06-15 21:41] timabbott commented on #5414
That subclass model is attractive from a code perspective, but it's worse from a database structure perspective (one ends up needing to do an extra join to access the bot data from the subclass's table whenever one fetches an object from the database).

[2017-06-15 21:45] HarshitOnGitHub commented on #5377
@zulipbot claim

[2017-06-15 23:29] showell commented on #5343
When I say "setup UI", I am assuming we'll eventually have UI around realm onboarding for certain types of installations.

[2017-06-16 00:04] gnprice opened #5427 "Emoji in Twitter integration don't get turned into images"
When an emoji is present in a tweet and goes into a message via the Twitter integration, it seems to come through as the actual emoji character -- which on a platform like my laptop may not exist in the relevant font, and end up as a blank box:
![image](https://user-images.githubusercontent.com/28173/27206415-400e63ea-51ec-11e7-9d73-862fb996b64d.png)
Not very informative!

When the same emoji char

[2017-06-16 03:00] lonerz commented on #1180
Yes.

[2017-06-16 03:01] lonerz commented on #4068
Yes.

[2017-06-16 03:01] lonerz commented on #4587
Yes.

[2017-06-16 03:01] wilsonandusa opened #5428 "Keyboard cursor reappears while typing a message"
I'm not sure if anyone has solved this issue yet, but I found when I type message and move the cursor, it will reappear as a solid line.

<img width="413" alt="screen shot 2017-06-15 at 10 57 38 pm" src="https://user-images.githubusercontent.com/10102961/27210173-88852ca8-521e-11e7-8669-67524a25b68d.png">

[2017-06-16 03:04] jackrzhang commented on #3731
@zulipbot abandon

[2017-06-16 03:06] lonerz commented on #5428
Can't seem to reproduce this.

[2017-06-16 03:25] wilsonandusa commented on #5428
@lonerz yes I reopened my browser and the issue resolved, maybe it's a glitch with my browser.

[2017-06-16 03:29] feorlen opened #5431 "500 server error on LDAP login"
I'm not sure if this is related to server configuration, as I've not successfully gotten LDAP login to work yet. But `manage.py query_ldap` is fine, so I thought that should mean my Zulip configuration is correct.

When I login using the user's email and pw, Zulip contacts the directory server but then I get an error page. If I provide an incorrect pw I get the expected message, so it appears to b

[2017-06-16 04:11] timabbott commented on #245
@tejaskasetty did this end up getting fixed by your changes?

[2017-06-16 04:25] feorlen opened #5432 "Realm creation page: short name description should also say all lowercase"
The description for the field where you create your realm says "A short, unique name for your organization, with no spaces."

It also can't include capital letters, it would be helpful to also mention that. Something like "A short, unique name for your organization, lowercase, with no spaces."

(Are there other restrictions? Unicode? Punctuation? Numbers?)

[2017-06-16 05:17] umairwaheed commented on #4983
Sure. @zulipbot claim.

[2017-06-16 05:17] umairwaheed commented on #4757
Sure. @zulipbot claim.

[2017-06-16 05:17] umairwaheed commented on #5420
Sure. @zulipbot claim.

[2017-06-16 05:30] digi0ps commented on #5432
@zulipbot claim

[2017-06-16 12:14] vaidap commented on #5010
This has been put aside until we approach having a setting switch-- the branch I made the changes on is called `accesscontrastUI`.

[2017-06-16 13:35] shane-kearns opened #5437 "Upgrade - preserve settings for running behind an ADC / reverse proxy"
My zulip deployment sits behind an ADC, which required changes to the nginx configuration files.

The /etc/nginx/zulip-include/app file contains several lines such as:
proxy_set_header X-Real-IP       $remote_addr;

Which I needed to change to:
proxy_set_header X-Real-IP       $http_x_cluster_client_ip;

I.E. the downstream ADC sends the client's real IP in an HTTP header X-Cluster-Client-IP (it c

[2017-06-16 15:21] vaidap commented on #5393
@zulipbot claim

[2017-06-16 15:23] anna-liao commented on #4517
still working on it

[2017-06-16 15:57] feorlen commented on #5431
I haven't been able to get my OD server to use a real ssl cert, so I'm still configured with ldap://. I don't know if that is related to this exception.

When I debug it, it's like my realm doesn't exist. If I comment out the offending lines in get_or_create_user, it just fails further on trying to get some other attribute of realm.

This install was initially set up with email auth, then I config

[2017-06-16 18:48] timabbott commented on #5431
@umairwaheed FYI; I feel like even if this is configured wrong, we shouldn't be 500ing.

[2017-06-16 19:11] timabbott opened #5440 "Something is wrong with the default value for bot_type for bots"
I appear to have some bots with no valid bot type on chat.zulip.org.

![image](https://user-images.githubusercontent.com/2746074/27241160-7c0284c6-528c-11e7-8861-3863959014f5.png)

I checked in the DB, and indeed the `bot_type` is None.  Seems to be common among very old bots.  So I think we need a migrate to set the `bot_type` of anything with `is_bot=True` and a `None` `bot_type` to `1` (the onl

[2017-06-16 19:18] HarshitOnGitHub commented on #4812
@zulipbot claim

[2017-06-16 20:16] hackerkid commented on #3295
@babhishek21 Sorry for not getting back at you at the correct time. I was busy with my semester project evaluations at that time. Please let me know if you need any help. :)

[2017-06-17 01:30] aero31aero opened #5446 "bots: Allow modifying bot type in 'Edit' form"
Current layout:

![image](https://user-images.githubusercontent.com/8033238/27248997-797a10a0-5329-11e7-9e80-3af45b2a935f.png)

Expected layout:

![image](https://user-images.githubusercontent.com/8033238/27249044-163d2a62-532a-11e7-8180-4ebd7463736d.png)

The current valid values for Bot Type are "Generic Bot" and "Incoming Webhook", however that is likely to change soon, so that should be taken

[2017-06-17 01:31] aero31aero commented on #5446
@zulipbot label "area: bots"

[2017-06-17 03:35] refeed commented on #5412
Thanks for confirming @synicalsyntax , `pycon` is a abbreviation for `python console`, so it's a normal behavior

[2017-06-17 21:21] HarshitOnGitHub opened #5451 "frontend: Fix the updation of progressive lists."
For a list which is being managed by `list_rendering.js` for progressive rendering, we should just update the data of list render instance and perform a re-render instead of amending the HTML manually otherwise the filtering the results produces incorrect results. While migrating lists to progressive rendering lists this problem seems to be overlooked.
@brockwhittaker FYI.

[2017-06-17 21:22] HarshitOnGitHub commented on #5451
@zulipbot claim

[2017-06-17 21:25] HarshitOnGitHub commented on #5451
@zulipbot label "area: settings (admin/org)" "bug"

[2017-06-17 21:29] HarshitOnGitHub commented on #4812
@timabbott Just checked and found that it is an issue with all the progressive rendering lists. Just opened #5451 for that. Opened a PR for this issue and will fix other lists in a separate PR.

[2017-06-18 04:28] akhilmd commented on #4400
@zulipbot claim

[2017-06-18 05:26] cory2067 commented on #3982
This was fixed in #5210, should close.

[2017-06-18 05:39] cory2067 commented on #2356
As of #5210, I think this is no longer an issue.

[2017-06-18 05:45] cory2067 commented on #2038
Didn't 2f09866 already add a test case for this?

[2017-06-18 05:48] lonerz commented on #2038
@cory2067 I think what @timabbott wants is a search query that is just a link.

[2017-06-18 05:57] cory2067 commented on #1423
@zulipbot claim

[2017-06-18 06:03] cory2067 commented on #2360
@zulipbot claim

[2017-06-18 13:30] hackerkid opened #5454 "Upgrade moto to latest version"
Upgrading moto (requirements/moto.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-06-18 13:31] hackerkid opened #5455 "Upgrade requests to latest version"
Upgrading requests (requirements/common.txt) directly to the latest version should break the code. So you may have to make some changes in the codebase or add some extra dependencies for upgrading.

[2017-06-18 20:57] HarshitOnGitHub commented on #5154
@timabbott I tried a lot but since javascript regex don't support negative lookbehind I was unable to find a solution.

[2017-06-19 10:50] umairwaheed commented on #4757
@AyushyaChitransh, so I have been trying to reproduce this issue. This is my proceduce:

0. Enable EmailAuth authentication method.
1. Signup with an email, e.g. 'umair@zulip.com'.
2. Deactivate 'umair@zulip.com'.
3. Register again with 'umair@zulip.com'.
4. Click the link in the email. At this stage I get this error:
[code]

Is there anything I am missing?

[2017-06-19 10:51] #1423 closed

[2017-06-19 10:53] #5412 closed

[2017-06-19 10:59] umairwaheed commented on #4757
For the time being, I am just changing the error message for the deactivated accounts.

[2017-06-19 11:20] brannerchinese opened #5462 "Enable some user control of whether topics are marked read or unread"
**Use case 1**: At times there is so much unread content in my various streams that I have to take my time catching up. Zulip sometimes makes this difficult because it (seems to) treat anything that has appeared on the screen as already read. Sometimes I don't actually notice particular things that nonetheless get marked read, and then later I'm unpleasantly surprised when it turns out I've missed

[2017-06-19 11:27] AyushyaChitransh commented on #4757
@umairwaheed I tried to recreate the issue again and am getting the same thing. The steps were:
1. Visit https://chat.zulip.org/login/
2. I did have account so I tried to log in with the same, ayushyachitransh@gmail.com.
3. Deactivated the account ayushyachitransh@gmail.com
4. Zulip redirected me to step 1, and there I tried to login with the same email id (here ayushyachitransh@gmail.com) and pas

[2017-06-19 11:37] #2356 closed

[2017-06-19 11:52] #5383 closed

[2017-06-19 11:56] sinwar commented on #5455
@zulipbot claim.

[2017-06-19 13:05] hackerkid commented on #5454
@showell Can you re open this issue. #5450 didn't upgrade moto.

[2017-06-19 13:32] vaidap commented on #4746
@zulipbot claim

Is it okay to use JS for this? It seems like there's no easy solution for doing this without using a roundabout way that could compromise clarity/accessibility (the solutions I found so far included creating a separate table with just the header, but this will make the columns not align nicely due to the fact that it's not fixed-width; another involved duplicating the content and

[2017-06-19 14:13] akhilmd commented on #4590
#198 may have the same solution as this issue.

[2017-06-19 14:28] vaidap commented on #1028
@zulipbot claim

That link is very complete, but it might be useful to link people to a shorter document, too -- this one might be quite intimidating.

What about something like https://testlio.com/blog/the-ideal-bug-report/ ?
Meanwhile, something like this https://www.chiark.greenend.org.uk/~sgtatham/bugs.html is a nice read and provides a good overview.

[2017-06-19 15:08] HarshitOnGitHub commented on #4189
@zulipbot claim

[2017-06-19 17:13] ndarilek opened #5466 "Setup and other tabs are always presented to screen readers"
As a screen reader user, I attempted to sign up to the demo Zulip instance. An immediate point of confusion for me is that, on first login, the settings screen is presented and cannot be dismissed.

In looking at the sources, it seems that you're including the HTML for the settings screen in index.html, but that your JQuery plugin for tabs doesn't correctly hide invisible tabs. They may be styled

[2017-06-19 17:16] lonerz commented on #5466
This seems like an accessibility issue, cc: @jmbowman

Also, can you make sure this issue hasn't been open in [accessibility](https://github.com/zulip/zulip/labels/area%3A%20accessibility)?

[2017-06-19 17:19] ndarilek commented on #5466
Ah, thanks, it's a dupe of #5024.

[2017-06-19 17:19] #5466 closed

[2017-06-19 17:21] ndarilek commented on #5024
Would love to see a fix for this. As a blind screen reader user, it confused me mightily when I signed up to the official demo instance.

If your tab management plugin throws events when tabs appear/disappear, you can set `aria-hidden="true"` on the div elements for all hidden tabs, and remove it from the visible tab. That would go a long way towards fixing this, and I imagine should be easy to im

[2017-06-19 17:28] cory2067 commented on #5462
Might give this a shot. But I'm not quite sure how marking topics as unread would work. Would it mark all messages in the topic since the beginning of time as unread? Surely that would be undesirable.

[2017-06-19 17:31] lonerz commented on #5462
Maybe marking it from the current selected message? But, that requires the person to be selecting a message of that topic..

[2017-06-19 19:14] alexweissman commented on #5296
This would be useful even for migrating specific rooms from one RocketChat server to another.  See, for example, #3348.

[2017-06-19 19:29] jrowan opened #5469 "apps page gives download link for deprecated desktop app"
The Windows 7+ download pages on zulipchat.com and zulip.org both currently point to `zulip-latest.exe`, which is the deprecated zulip-desktop and not zulip-electron

[2017-06-19 19:56] cory2067 commented on #5462
Perhaps we can do what slack does. When you mark a message as unread in the current narrow, it and all the messages newer than it are also marked unread.

And if you want to come back to one message in particular, just starring it seems reasonable to me.

[2017-06-19 20:00] lonerz commented on #5462
Yea, that's what I meant by "marking it from the current selected message." Just worded it much better than I did :)

[2017-06-19 20:16] #2034 closed

[2017-06-19 20:39] #5158 closed

[2017-06-19 20:58] #4189 closed

[2017-06-19 21:03] HarshitOnGitHub commented on #5427
@zulipbot claim

[2017-06-19 23:01] jackrzhang commented on #5365
Is anyone working on this? I've set up HMR with CSS in the past and it's [fairly straightforward](https://webpack.js.org/guides/hot-module-replacement/#enabling-hmr). I'd love to look more into it.

[2017-06-20 00:39] sampritipanda commented on #5440
@zulipbot assign

[2017-06-20 00:40] sampritipanda commented on #5440
@zulipbot claim

[2017-06-20 03:10] cory2067 commented on #4329
@zulipbot claim

[2017-06-20 04:11] cory2067 commented on #5374
The real issue isn't the chevron. I think the clipboard library changes focus (to an invisible text field) in order to copy the text. It never restores focus back to the page, so keyboard shortcuts break.

[2017-06-20 04:22] cory2067 commented on #5374
@zulipbot claim

[2017-06-20 07:46] cory2067 commented on #5181
@zulipbot claim

[2017-06-20 07:56] cory2067 commented on #5462
Also, this is basically the same as #2676

[2017-06-20 09:39] adnrs96 commented on #5365
@jackrzhang I believe you should just claim the issue and start working on it if you would like to.
(I don't think somebodies on it currently, though people like @showell can give better opinion on whether someone's working on it).

[2017-06-20 09:47] vaidap commented on #5198
@zulipbot claim

[2017-06-20 10:20] sampritipanda commented on #5440
@timabbott Is it enough to just set the default value of the bot_type field to 1 ?

[2017-06-20 10:28] #4329 closed

[2017-06-20 10:28] #5374 closed

[2017-06-20 10:55] showell commented on #5365
I'm not aware of anybody working specifically on this problem, so please claim it, @jackrzhang!

You can probably get more info on chat about folks that might be working on related stuff.  You probably want to have a brief conversation with Paul Weaver in particular.

[2017-06-20 10:59] #5455 closed

[2017-06-20 12:35] #4983 closed

[2017-06-20 13:02] vaidap commented on #5469
@zulipbot claim

[2017-06-20 13:10] vaidap commented on #5469
i wonder which of the links on [here](https://github.com/zulip/zulip-electron/releases/tag/v0.5.10) it should point to? my guess would be the 64bit zip, as the installer gives me a 404.

[2017-06-20 13:22] vaidap commented on #5003
@zulipbot claim

[2017-06-20 14:27] YagoGG opened #5481 "Document how Python and Node dependencies are managed"
Right now there isn't any detailed explanation on how Python/Node.js dependencies are managed in our docs.

A few ideas about what could be included:
- Definition of what `package.json` and `requirements.txt` files are.
- Explanation of what the different files in `requirements/` are for.
- Mention that Python packages are installed with the `--no-deps` flag.
- Some notes on when it's fine to add

[2017-06-20 15:34] #5440 closed

[2017-06-20 15:38] #4757 closed

[2017-06-20 16:30] jrowan opened #5482 "docs: webpage titles for docs still say "Zulip 1.4.0 Documentation""
This is a bit out of date and appears as the title of webpages on the first page of Google search results for "Zulip." Screenshot attached.
<img width="960" alt="screenshot 2017-06-20 12 17 43" src="https://user-images.githubusercontent.com/5571464/27344430-3d0db896-55b4-11e7-8d01-0be10492a759.png">

[2017-06-20 16:44] synicalsyntax opened #5483 "dependencies: Update vulnerable jquery dependency to 3.0.0."
Our current `jquery` dependency in `package.json` is version 2.3.3, which suffers from the following security vulnerabilities:
* [Cross-site scripting (XSS)](https://snyk.io/vuln/npm:jquery:20150627) (high risk according to [Node Security Platform](https://nodesecurity.io/advisories/jquery_xss))
* [Denial of Service (DOS)](https://snyk.io/vuln/npm:jquery:20160529)

Both vulnerabilities can be solv

[2017-06-20 17:00] synicalsyntax commented on #5482
@zulipbot claim

[2017-06-20 18:12] vaidap commented on #5024
@zulipbot claim

[2017-06-20 18:27] jackrzhang commented on #5365
Great! @zulipbot claim

[2017-06-20 18:27] gnprice commented on #5374
Aha -- thanks @cory2067 for the diagnosis and the fix!

[2017-06-20 18:35] sinwar commented on #5454
@zulipbot claim.

[2017-06-20 18:52] hackerkid commented on #5052
@zulipbot claim

[2017-06-20 19:44] #4812 closed

[2017-06-20 19:45] HarshitOnGitHub commented on #4028
@zulipbot claim

[2017-06-20 19:46] #5355 closed

[2017-06-20 19:56] YagoGG opened #5487 "The REST API allows creating bots with empty username"
# Description

Using the `/bots` endpoint in the REST API, it's possible to create a bot with an empty username, which results in it having `-bot@<domain>` as the email address.

# Steps to reproduce

1. Start the development server.
2. Get an API key for Iago, using the `/dev_fetch_api_key` endpoint:

        curl -X POST -F 'username=iago@zulip.com' \
            http://localhost:9991/api/v1/dev

[2017-06-20 21:08] sampritipanda commented on #5487
@zulipbot claim

[2017-06-20 21:15] derAnfaenger commented on #5395
@zulipbot claim

[2017-06-20 21:25] jrowan opened #5489 "User setting to include/not include realm names in email subject lines"
For many users, they are only part of one Zulip realm, so any email sent from Zulip will unambiguously be about that realm, so something like "While you've been away from ACME corp" as the subject line for the digest email is redundant (and cutting the extra characters from the realm name lets more of the digest email show up in the inbox preview).

For many other users, they will be part of multi

[2017-06-21 00:57] #5181 closed

[2017-06-21 00:59] #5482 closed

[2017-06-21 01:22] #2360 closed

[2017-06-21 01:53] synicalsyntax commented on #735
I'm going to add a medium priority label to this because there's been feature requests for @zulipbot to respond to report requests in PM, and I really don't see a better way to execute those other than having Zulip send webhooks to zulipbot's server whenever a message is sent.

[2017-06-21 02:06] cory2067 commented on #4603
@zulipbot claim

[2017-06-21 02:45] showell commented on #735
Is the current stuff that's in place already sufficient for zulipbot's needs?

[2017-06-21 03:22] synicalsyntax commented on #735
Well, our users have been pretty satisfied with what zulipbot is currently capable of doing:
* Managing GitHub issue/pull requests with payloads from GitHub webhooks and their API
* Notifying users about Travis PR build statuses with payloads from Travis webhook

And I've tested out zulipbot periodically sending reports for inactive PRs & issues/needs-review PRs/priority-labeled issues/etc. to str

[2017-06-21 08:39] HarshitOnGitHub commented on #5365
Oh I missed this discussion, I was planning to work on this one and was reading webpack documentation regarding this. Because of relatively less experience with webpack related things I thought it would be good not to claim this issue until I figure out completely what is to be done.
@jackrzhang Since you have done this kind of thing before as well I think you are best suited for doing this. I wil

[2017-06-21 10:03] akhilmd commented on #5373
@zulipbot claim

[2017-06-21 11:02] #4603 closed

[2017-06-21 13:26] babhishek21 commented on #3295
Hey @hackerkid , I was thinking we should port all the popups (context menus, modals, etc.) to the "pop anywhere" style of popups that you implemented. I think that would fix #4145 and any other related issue as well. Do you want to get in on this? Where do I start looking for the "pop anywhere" logic?

[2017-06-21 14:11] #5487 closed

[2017-06-21 14:14] #5431 closed

[2017-06-21 14:29] catxeger opened #5501 "Provide compact channel listing / modify channel icon sizes and/or spacing"
The latest version of zulip seems to use substantially larger channel icons (# in particular), which has resulted in the spacing of the channel list in the web client increasing, and thus the number of channels which can be seen in the sidebar list at one time notably decreasing.

This shortened list makes it much harder to keep track of what channels are active without scrolling.  Could you eithe

[2017-06-21 14:38] #4873 closed

[2017-06-21 16:02] synicalsyntax commented on #5501
#4755 was opened by a user who also was a bit unsatisfied with the new stream icons upgrade; his request was that we implement an option to use our old square channel icons. Would you be interested in such an option, or is changing the size of the icons better?

[2017-06-21 18:24] catxeger commented on #5501
I'd be happy with any option that makes the channel lists more compact -- old icons, smaller icons, either way, thanks!

[2017-06-21 19:12] jrowan commented on #5469
Do we want to include a link to the 1.0.0 beta version instead/as well? https://github.com/zulip/zulip-electron/releases/tag/v1.0.0-beta

[2017-06-21 19:21] vaidap commented on #5469
ah, seems like the installer link works again. i think it makes sense to link to the installer for consistency, as the MacOS one also triggers a download.

[2017-06-21 19:54] #4540 closed

[2017-06-21 21:48] jackrzhang commented on #5365
Ah, thanks @HarshitOnGitHub. I'll ping you with any webpack-related collaboration in the future. :-)

[2017-06-21 22:11] lonerz commented on #4587
@zulipbot abandon

@sampritipanda yours to claim now!

[2017-06-21 23:05] #5454 closed

[2017-06-22 01:37] gnprice commented on #5315
#5494 turns out to have solved this for the buddy-list search, but not the main search bar at the top. So we've made progress, and there's still more to do.

As discussed in my comment on #5494, I think a good solution will probably take the logic @cory2067 wrote for that PR and unify it with the logic in `search_suggestions.js` that also applies a search query to people's names, so that we have j

[2017-06-22 01:54] hlieberman commented on #4653
@zulipbot claim

[2017-06-22 02:57] gnprice opened #5512 "Recover gracefully when postgres is restarted"
When our PostgreSQL database server gets restarted -- in particular, on an `apt upgrade` that affects the  `postgresql-$version` package -- some components of Zulip notice the change and smoothly resume talking to the new server; others don't.

@timabbott observed this a little while ago; my recollection of the effects as he described it is that the Django webapp notices and continues smoothly, bu

[2017-06-22 03:32] gnprice opened #5513 "Provide scripts for install and upgrade on isolated networks"
Some admins run Zulip on servers that are isolated from the Internet -- with firewalls and bastions, or even airgapped.

Our production install and upgrade scripts generally assume you're connected to the Internet -- in order for `apt`, `pip`, and `npm` to fetch their respective kinds of packages from their respective repositories, and perhaps for other things I'm not thinking of. People who choos

[2017-06-22 06:33] rishig opened #5515 "message edit: Typeahead auto-complete sends cursor to end of message."
To reproduce: Send a message like
[code]

Edit the message, and use the emoji autocomplete or streams autocomplete to add an emoji to the first line (e.g. type ":octop" + Enter, or "#gene" + Enter). The cursor will jump to the end of line2.

[2017-06-22 06:40] rishig opened #5516 "compose: Autocompleting emoji on new line adds extra space."
To reproduce, type the following into a new message:
[code]
and then Enter. An extra space is inserted before the `:`. This doesn't happen if line1 isn't there, or if you autocomplete a stream, like `#gene`.

[2017-06-22 12:12] #5469 closed

[2017-06-22 12:29] #5003 closed

[2017-06-22 12:37] HarshitOnGitHub commented on #5515
@zulipbot claim

[2017-06-22 12:54] #5432 closed

[2017-06-22 13:30] #5366 closed

[2017-06-22 13:37] #5186 closed

[2017-06-22 14:22] HarshitOnGitHub commented on #5516
@zulipbot claim

[2017-06-22 14:37] #5358 closed

[2017-06-22 14:57] #5024 closed

[2017-06-22 16:06] lonerz commented on #5306
This was fixed already.

[2017-06-22 16:06] #5306 closed

[2017-06-22 17:09] sinwar commented on #5406
@zulipbot claim.

[2017-06-22 17:35] lonerz opened #5522 "zulipbot test"

[2017-06-22 17:36] lonerz commented on #5522
@zulipbot claim

[2017-06-22 17:36] lonerz commented on #5522
@zulipbot label "bug"

[2017-06-22 17:57] #5522 closed

[2017-06-22 18:16] #5515 closed

[2017-06-22 18:17] #5516 closed

[2017-06-22 18:19] #5274 closed

[2017-06-22 19:09] jrowan commented on #5489
@zulipbot label area:emails

[2017-06-22 19:11] lonerz commented on #5489
@jrowan you need to use double quotes

[2017-06-22 19:12] jrowan commented on #5489
@zulipbot label "area: emails"

[2017-06-22 19:46] gnprice opened #5524 "Better document (and/or script) RabbitMQ network troubleshooting"
In [`docs/prod-troubleshooting`](http://zulip.readthedocs.io/en/latest/prod-troubleshooting.html), we have this:

This advice isn't particularly actionable, unfortunately; it's not obvious how to tell if an `/etc/hosts` is misconfigured this way, or how to fix it, because it's not specified what's supposed to be wrong (or what should be right) in this case.

E.g. in an [install help conversation](

[2017-06-22 21:52] sampritipanda commented on #4587
@zulipbot claim

[2017-06-22 23:17] #5243 closed

[2017-06-23 02:21] feorlen commented on #5431
I upgraded my server to a tarball with this, and now I don't get a 500 when I try to login as that ldap user. Thanks!

[2017-06-23 03:41] umairwaheed commented on #5431
Awesome!

[2017-06-23 06:32] cory2067 opened #5530 "Aborting a commit makes lint hook throw errors"
If you have installed `setup-git-repo` to get the automatic linter, when you abort a commit (i.e. have an empty commit message so it aborts), an error is thrown. It's an index error, so gitlint is trying to look at the first word of the commit message when there is none (or something like that).

[2017-06-23 07:51] lonerz commented on #5530
Happens to me too.

[2017-06-23 11:57] vaidap opened #5534 "elements that are not visible should not be focusable"
[Accessibility Developer Tools](https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en) reports several elements that break this guideline:
* the `a` that contains the search icon in the navbar (class `search_icon`). this is because its width is 0 thus the audit tool considers it invisible.
* `message_label_clickable` links,  which are outside th

[2017-06-23 12:11] vaidap opened #5535 "the purpose of each link should be clear from the link text"
[Accessibility Developer Tools](https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en) reports several elements in the navbar that break this guideline, due to being containers for icons.

the way to solve this would be to follow this article and W3 guide:
https://silktide.com/i-thought-title-text-improved-accessibility-i-was-wrong/
https://www.

[2017-06-23 12:11] vaidap commented on #5535
@zulipbot claim

[2017-06-23 12:29] #5315 closed

[2017-06-23 12:40] #5420 closed

[2017-06-23 13:02] vaidap opened #5536 "high-contrast setting to improve accessibility"
from #5010:

Right now, Chrome Accessibility Tools is giving me 91 elements that do not pass `Text elements should have a reasonable contrast ratio`.

This could possibly go under `display settings` as `high-contrast mode`.

[2017-06-23 13:07] vaidap commented on #5536
@zulipbot claim

[2017-06-23 13:07] vaidap commented on #5534
@zulipbot claim

[2017-06-23 13:24] tommyip commented on #5481
I think stuff like `package.json` and `requirements.txt` are fairly generic and we should just put a link to their official documentation/guide. Document anything that is specific/specialized to Zulip would be quite helpful though.

[2017-06-23 14:27] brannerchinese commented on #3710
It's curious to me that the year of the upload is not shown. I've been uploading files to Zulip since at least 2015, and it's currently not possible to tell which year an upload is from without going manually to the original post.

[2017-06-23 15:24] hlieberman opened #5538 "New Users Require Invite Regardless of Configuration Settings"
Since the 1.6.0 upgrade, our users have been unable to register without being invited, despite the configuration being set to not require invitations.

Because we use an SSO (RemoteUser) process, registration doesn't really make sense in our environment.

CC: @gnprice

[2017-06-23 18:18] tommyip commented on #5405
WIP:
![image](https://user-images.githubusercontent.com/18504232/27495027-4159d63c-5848-11e7-9e81-0ce61a11aafc.png)
I think I am going to need to refactor our linting system a bit since each linter does their own formatting at the moment.

[2017-06-23 19:10] showell commented on #5405
Looks great so far!

[2017-06-23 19:39] tommyip commented on #5530
:worried:  @zulipbot claim

[2017-06-23 19:45] rishig commented on #3075
Just a note: If someone wants to do the work of untagging all the strings with "zephyr | webathena | kerberos | mirror", it will be very easy for me or someone else to review and retag the small handful of false positives. So if you're thinking of doing this, don't be discouraged by not knowing which strings are the right ones to leave tagged.

[2017-06-23 20:11] tommyip commented on #5530
@cory2067 can you please try #5541 in your local machine (update git hooks by running `tools/setup-git-repo` again).

[2017-06-23 20:16] lonerz commented on #5530
I just tried it and I still get `WARNING: Your commit message does not match Zulip's style guide.`

[2017-06-23 20:22] tommyip commented on #5530
Hmm interesting, I couldn't reproduce.
Are you inside vagrant or local, and which directory are you in (relative to zulip root)?

[2017-06-23 20:23] lonerz commented on #5530
I'm in local, not vagrant

[2017-06-23 20:25] lonerz commented on #5530
@tommyip seems irrelevant to the actual bug. I think it's just because my test commit was not correct 😆

[2017-06-23 20:41] gnprice opened #5543 "Multi-line strings in Handlebars templates can't be translated"
When a `{{#tr this}}` block in a Handlebars template contains newlines, `manage.py makemessages` will strip them out to go into `translations.json` -- but then the actual i18n engine doesn't seem to find the resulting translated string when it goes to actually apply the translation at rendering time.

For example, the messages beginning "This stream is currently" which we use in `static/templates/

[2017-06-23 20:57] gnprice opened #5544 "Translated messages in Handlebars templates should never contain handlebars"
When a Handlebars template contains something like this:
[code]
it results in the inside expression (`{{ page_params.email }}`) being evaluated and substituted *first*, and only then the result being looked up for translation. That's rarely going to work, and we should just never do it. The correct way to write this, documented in [our frontend i18n docs](http://zulip.readthedocs.io/en/latest/tran

[2017-06-23 20:59] lonerz commented on #5543
Wondering if zulipbot is broken...
@zulipbot claim

[2017-06-23 21:00] lonerz commented on #5543
@zulipbot abandon

[2017-06-23 21:08] gnprice opened #5545 "i18next caching seems too eager"
I'm not sure of the scope of this in production -- hopefully it's not an issue there, but I haven't investigated. It was very confusing in dev and cost me probably half an hour of puzzlement today.

In development, if you edit `static/locale/LANG/translations.json` for your chosen `LANG`, it doesn't take effect. Reloading the tab doesn't do it; even shift-reloading, to force the browser to reload

[2017-06-23 22:05] gnprice commented on #5543
@YagoGG I think this issue is related to e710110a9 -- it looks like that change made `makemessages` strip out whitespace, but then the actual i18n engine doesn't know to do the same.

[2017-06-23 22:35] rishig commented on #4321
Maybe this was implicit in what Steve said, but I think a reasonable UI for this would be a checkbox in the invite form, that's "allow link to be used multiple times". Then you could just invite yourself, and modify the email as desired before forwarding.

Another option would be to have a "get invite link" button, that just copies a link to your clipboard.

[2017-06-23 22:58] cory2067 commented on #3496
Can probably done without too much hassle by modifying `filter.js`
@zulipbot claim

[2017-06-23 22:59] #3982 closed

[2017-06-23 22:59] #3958 closed

[2017-06-23 22:59] #3880 closed

[2017-06-23 23:41] rishig commented on #3880
cool! What ended up being the solution here?

[2017-06-24 00:55] gnprice opened #5550 "Sometimes we update dependencies and forget to bump PROVISION_VERSION"
For example, this happened a couple of days ago, with an update to a pip package version in `requirements` and a corresponding change in our code to rely on the updated version of the dependency, but without an update to `PROVISION_VERSION`. The consequence was that everyone who tried to run backend tests in their dev environment after updating their clone got mysterious test failures until they r

[2017-06-24 02:27] timabbott commented on #3958
@showell we should always post a comment for the thread when closing an issue explaining why it was closed.  In this case, it was fixed recently by @cory2067.

[2017-06-24 02:27] timabbott commented on #4321
Agreed with the concept of having this by an option.

[2017-06-24 02:29] timabbott commented on #5545
I bet the problem is that our development server, being the simple Django runserver process, doesn't send file-changed metadata.

[2017-06-24 06:07] cory2067 opened #5552 "Scrollbar overlaps stream menu buttons."
![recording 6](https://user-images.githubusercontent.com/8433005/27506210-c287fee4-5881-11e7-8a2b-34019b307e2f.gif)
You can't see the cursor in this gif, but I'm trying to click that down chevron. Every time I go near it, the scrollbar expands out and covers the icon, so I cant click it. Basically, the only way for me to open the popover there is to perfectly aim for the left edge.

[2017-06-24 08:33] vaidap commented on #5536
@timabbott @brockwhittaker do you reckon this setting should have extra features and not just a contrast improvement?

[2017-06-24 13:06] YagoGG commented on #5286
I'd vote for line-breaking the fields, making sure that the spacing between name, email, etc is different than the one between the wrapped lines.

In my opinion, centering the picture makes the profile popover look worse, so I don't like that option that much.

I don't think ellipsizing is an option here either, because email addresses are sort of important in Zulip (and otherwise you would have t

[2017-06-24 15:07] penCsharpener opened #5553 "Prioritize showing offline users with unread messages in the right sidebar"
Edit by @alya 2025-11:

Users with unread messages should always be included in the right sidebar, and sorted above other offline users in each section.

[2017-06-24 17:25] rishig opened #5554 "left sidebar: Clicking on topic scrolls to end in "more topics" view."
To reproduce:
Click "more topics" for some stream with many topics.
Click on any topic in the left sidebar.

The list of topics will scroll to the end.

[2017-06-24 18:39] HarshitOnGitHub opened #5555 "emoji: Unicode emoji on hover should show :canonical_shortcode:, not the unicode symbol."
As reported in issue #5427, some systems don't have the fonts necessary for displaying unicode symbols properly and they are rendered as empty blocks. This means we should change the title and the alt text that we put in the markup generated for unicode emoji. Ideally it should be same as the markup generated for canonical shortcode.

[2017-06-24 18:40] HarshitOnGitHub commented on #5555
@zulipbot label "area: emoji" "enhancement"

[2017-06-24 18:40] HarshitOnGitHub commented on #5555
@zulipbot claim

[2017-06-24 19:21] cory2067 opened #5556 "Quote/code block autocomplete should surround paste code"
(Using bbb for backticks below. )

Often, users will paste in some code/text, and then afterwards, want to surround it with code/quote blocks. So the situation looks like this:
[code]

* Current behavior: always autocomplete 2 newlines and ending backticks after the bbbquo. So
[code]

But it would probably be more useful to have this happen:
[code]

I think what we want to do is check if there is

[2017-06-24 19:21] cory2067 commented on #5556
@zulipbot claim

[2017-06-24 19:28] cory2067 opened #5557 "Make missed message email link to message"
Currently, the missed message email is like this:
![image](https://user-images.githubusercontent.com/8433005/27511422-9f45fbb4-58f1-11e7-8d98-dabcb0bdea3e.png)
Currently, the "view your messages" button takes you to the zulip home page, which is quite useless. It would be cool (at least if you have 1 missed message), to directly link to that message/conversation.

[2017-06-24 19:29] cory2067 commented on #5557
@zulipbot label "enhancement" "area: emails"

[2017-06-24 19:30] cory2067 commented on #5552
@zulipbot label "bug" "area: left-sidebar"

[2017-06-24 19:31] cory2067 commented on #5556
@zulipbot label "enhancement" "area: compose" "bite size"

[2017-06-24 23:23] tejaskasetty commented on #5552
@zulipbot claim.

[2017-06-24 23:50] tejaskasetty commented on #5552
@lonerz I was going to post the screen shots but the problem is, I want to snip while the scrollbar and chevron is visible. For that, I need I m not finding a proper tool. I could change the display of chevron but not the scrollbar just for the snapshot.

[2017-06-24 23:52] tejaskasetty commented on #5552
Okay found a way. Will post it in a second.

[2017-06-25 04:37] akhilmd opened #5564 "bar"

[2017-06-25 04:37] #5564 closed

[2017-06-25 15:22] YagoGG opened #5565 "Add examples to all the schemas in the Swagger docs"
# Description

Swagger's specification supports adding [custom examples](http://swagger.io/specification/#example-object-65) for the [`schema` object](http://swagger.io/specification/#schema-13).

We should add these examples to all the schemas in the Swagger YAML file with valid, real input/output from our REST API.

---

@zulipbot label "area: documentation (api and integrations)"

[2017-06-25 15:29] #5530 closed

[2017-06-25 16:27] #4587 closed

[2017-06-26 02:35] jrowan commented on #5557
How would we handle the case where people have multiple missed messages/@-mentions that appear in the same email?

If we have multiple missed messages appearing in the same email, we could somehow make each message link to where it was sent in Zulip.

A lower-hanging fruit might be to fix the link on PMs/@mention topics in the sender/recipient header block (i.e. the "issues > stream popover" blue

[2017-06-26 04:30] rht commented on #908
I just made a sketch of Slack data import: https://github.com/rht/slack2zulip-data-converter. The script converts a Slack export file into a Zulip export file.

With the API, I can't do low-level DB stuff such as preserving the message timestamp, inserting more details, etc, so I went for the approach of mapping the data instead.
As currently, it is more complete than `api/integrations/slack/zulip

[2017-06-26 08:04] akhilmd commented on #4249
@zulipbot claim

[2017-06-26 19:05] adnrs96 opened #5574 "Hitting enter while in preview mode should not try to send empty messages."
So currently if we try to preview an empty message, given we have `enter to send` option enabled, hitting enter will result front end code to try send the empty message. What we would like to have here is the same behaviour we have for `send` button which displays a `Nothing to send` message in such a case.

Reproducing steps:
* Try to compose a message.
* Enable `enter to send` option if not alre

[2017-06-26 20:15] timabbott commented on #1055
Fixed by @showell in #5492.

[2017-06-26 20:15] #1055 closed

[2017-06-26 20:17] gnprice commented on #5545
Well, it does send some such metadata -- but it may not be doing it right, or i18next may not be interpreting it right. Here's an example:
[code]

The `Last-Modified` is from the filesystem. The `Etag` is the SHA-1 hash of the empty string.

... OK, took a look at the code. At least in master of `i18next-localStorage-cache`, it just [takes the expiration time literally](https://github.com/i18next/

[2017-06-26 20:30] timabbott commented on #5395
@derAnfaenger is this issue completed such that we should close it now?

[2017-06-26 20:33] gnprice commented on #5538
Thanks @hlieberman for the report!

The next step would be for someone to try to reproduce this in a development environment -- then we can debug and fix it.

[2017-06-26 20:40] timabbott commented on #5557
One thing to be careful about with these links is that if there are 50 unread messages above the message that mentioned you, we want the link to take you to that first unread message, not the message that mentioned you; otherwise, we destroy the user's state as to what messages in that thread they had or hadn't read.

So I think we probably want those links to take you to either (1) the first unre

[2017-06-26 21:04] timabbott commented on #5393
I think we also want a /help/ doc for this feature.  @synicalsyntax FYI.

[2017-06-26 21:18] rishig commented on #5149
Closing, since we're removing all the green checkmarks in #5532. Thanks @lonerz!

[2017-06-26 21:18] #5149 closed

[2017-06-26 21:18] timabbott commented on #5556
This is a great idea.

[2017-06-26 21:19] timabbott commented on #5554
@showell this would be related to the scrolling logic you added to the left sidebar?  I bet it doesn't handle this modal state...

[2017-06-26 21:20] timabbott commented on #5553
Totally agreed with this; arguably, we should put everyone with unread messages at the top.

[2017-06-26 21:22] timabbott commented on #5286
Yeah, line-breaking is probably the right answer.

[2017-06-26 21:23] rishig commented on #4225
Fixed in #5342.

[2017-06-26 21:23] #4225 closed

[2017-06-26 21:23] timabbott commented on #5536
I think we can start with having it just be "high contrast for accessibility" and then add things to it over time.

Code-wise, I think probably the way we want this to work is to add a far outer CSS class if the setting is set, and then CSS for `.foo` can just have a `.high-contrast .foo` item for this setting.

[2017-06-26 21:27] rishig commented on #3055
Closing, since the broken behavior was fixed in #3119, and the page has been restyled since then.

[2017-06-26 21:27] #3055 closed

[2017-06-26 21:32] timabbott opened #5577 "Set a basic autoresponder for noreply emails to the Zulip server"
Since Zulip sends outgoing emails (with a noreply@ address), we should probably configure Zulip to make that address bounce in some reasonable way rather than timing out.

See https://chat.zulip.org/#narrow/stream/production.20help/subject/Bouncing.20Emails/near/233987 for some context and useful ideas for how to do this easily.

[2017-06-26 21:33] timabbott commented on #5544
@umairwaheed can you take this one?

[2017-06-26 21:35] showell opened #5578 "Add a reply button to the compose box."
When the compose box is closed, and when there is a selected message (i.e. most of the time), we should have a "Reply" button to the right of "New topic" and "New private message."  We should style it somewhat more prominently then the other buttons, which perhaps a blue border or something.  It should have the same semantics as hitting "r" or "enter" to reply.

https://chat.zulip.org/#narrow/stre

[2017-06-26 21:46] timabbott commented on #3710
@dhcrzf would you be interested in fixing the date issue that @brannerchinese just brought up?

[2017-06-26 21:47] timabbott commented on #5481
Yeah, I think this is a good idea.  I'd probably put it in a new `docs/dependencies.md` file, and link to it from a few places.

[2017-06-26 22:05] timabbott commented on #5524
So, an important bit of history here is that starting with Zulip 1.5.x, we hardcode rabbitmq to use `zulip@localhost` as the RabbitMQ nodename, which should have eliminated rabbitmq hostname issues for new installs (since we're overriding the default of `rabbit@hostname`, which does depend on the hostname.  To avoid breaking every existing installation with renaming its rabbitmq nodename, we haven

[2017-06-26 22:07] timabbott commented on #5489
Making this a setting is a good idea.  Adding the setting itself should just require following the "new application feature tutorial".  @sarahcstringer FYI in case you're looking for good test cases for how easy adding a new setting is :).

[2017-06-26 22:35] gnprice commented on #5524
Definitely agreed!

To make sure we're on the same page -- this should eliminate issues related to the real hostname not being properly resolvable, right? But then it leads to an error like this one with `localhost` if `localhost` resolves in a way that confuses RabbitMQ. So even a new install, using `zulip@localhost`, is subject to this error.

FWIW my understanding is that this is perfectly corr

[2017-06-26 23:02] synicalsyntax opened #5581 "codecov: Add `codecov.yml` to disable PR reports and enable commit statuses."
Currently, the Codecov integration posts a PR comment with coverage reports on all pull requests, which adds a lot of unnecessary comments and notifications.

Adding a `codecov.yml` with the right configuration can [disable comments](https://docs.codecov.io/v4.3.6/docs/pull-request-comments) and enable [commit statuses](https://docs.codecov.io/v4.3.6/docs/commit-status) to show whether coverage ch

[2017-06-26 23:14] #5389 closed

[2017-06-26 23:16] timabbott commented on #5512
I think we just need to make the queue workers catch the "connection closed" postgres exception, and if so, try to reconnect and repeat (or maybe just restart the worker process?).  This is likely a pretty small fix.  @umairwaheed are you interested in taking this one?

I think it can be reproduced in development by just doing a postgres restart.

[2017-06-26 23:22] timabbott commented on #5483
I think we should just upgrade to the latest jquery; I don't see a good reason to stay on 2.x.y since 3.x.y supports the same browsers.  Someone should read https://jquery.com/upgrade-guide/3.0/ and go through this.  @cory2067 would you be interested in this one?

[2017-06-26 23:24] timabbott commented on #5466
Thanks for the report @ndarilek!  If you're interested in contributing, there's an active effort on Zulip's accessibility right now, and we'd love to collaborate on fixing any and all accessibility issues.

[2017-06-26 23:29] timabbott commented on #3081
Closing this issue; I think we can start using that syntax where needed once we're on Python 3, but we're unlikely to make the change just because this issue is open.

[2017-06-26 23:29] #3081 closed

[2017-06-26 23:31] timabbott commented on #2038
Yep, that's correct.

[2017-06-26 23:32] lonerz commented on #5578
@zulipbot claim

[2017-06-26 23:33] timabbott commented on #5451
@HarshitOnGitHub is the idea for this issue that we'll do an audit and find where we're updating things wrong?  I think we've probably mostly finished migrating things to use `list_rendering.js`.

[2017-06-26 23:38] timabbott commented on #5513
I think this should be totally doable.  The strategy I'd take is to provide a dependencies.tar.gz tarball that contains file-accessible repositories for the places we get dependencies from (or maybe a zulip-full.tar.gz; not sure).  For a Zulip server release tarball, the places are simply:
* apt (Ubuntu default repositories)
* apt (a couple small PPAs)

Both of which can be solved by distributing