[2021-02-06 23:16] lukem1 commented on #17231
@zulipbot add "area: message-editing" "needs discussion"

[2021-02-06 23:17] lukem1 commented on #17231
@zulipbot claim

[2021-02-06 23:17] lukem1 commented on #17231
I'd like to claim this issue if it is deemed a good first issue

[2021-02-07 01:53] rht opened #17232 "Update Wikipedia article on Zulip"
https://en.wikipedia.org/wiki/Zulip definitely needs some improvement. https://zulipchat.com/history/ can be used as a source of authoritative info.

See discussion at https://chat.zulip.org/#narrow/stream/2-general/topic/zulip.20wikipedia.20article.

[2021-02-07 14:55] pilgrim2308 commented on #8005
@zulipbot claim

[2021-02-07 15:22] tsouanas opened #17238 "wrongly cross-expired invites on zulipchat"
Here's the reproducable bug:

Step 1: create 2 zulips on *.zulipchat.com:
I created invitebug1.zulipchat.com and invitebug2.zulipchat.com for this demo.

Step 2: invite the same email address on both.

Step 3: Follow one link (I followed the most recent first), confirm and join the zulip invitebug1.
The link was: https://invitebug1.zulipchat.com/accounts/do_confirm/p3ppoywp6sh4fzoshgilmayl

Step 4

[2021-02-07 15:46] Ru28 commented on #16579
@m-e-l-u-h-a-n ,I am working on this issue

[2021-02-07 19:01] hafey1 opened #17240 "stream settings: delete stream wording is misleading"
This is a sub-issue of #17202. The overall goal and medium term solution is to have a feature addition of the ability for a privileged user to delete a stream in addition to the currently existing feature associated with "delete stream". The current interface uses the term "delete" in stream settings (as shown below). However, as demonstrated in #17202 a "deleted" stream is queryable from the sear

[2021-02-07 19:03] chris-m-taylor opened #17241 "Star/Unstar tooltip changes after interacting"
## Summary of the issue
The tooltip for the star icon is originally "Star this message (Ctrl + s)". However, if you click the star and unclick it the message changes to "Star this message" until you refresh the page.

## How to recreate
To recreate simply hover over the star icon before clicking to see the tooltip, then click and unclick the star and hover over it again. You will see how the toolt

[2021-02-07 19:03] chris-m-taylor commented on #17241
@zulipbot claim

[2021-02-07 19:03] hafey1 commented on #17240
@zulipbot claim

[2021-02-07 19:03] chris-m-taylor commented on #17241
@zulipbot claim

[2021-02-07 19:04] chris-m-taylor commented on #17241
@zulipbot add "good first issue"

[2021-02-07 19:04] chris-m-taylor commented on #17241
@zulipbot claim

[2021-02-07 19:04] hafey1 commented on #17240
@zulipbot add "good first issue"

[2021-02-07 19:04] hafey1 commented on #17240
@zulipbot claim

[2021-02-07 19:07] hafey1 commented on #17240
proposed change: #17225

[2021-02-07 21:43] chris-m-taylor commented on #17241
Just thought I would add to this issue, when a user toggles the star on, it also loses the correct message.

[2021-02-07 22:51] timabbott commented on #17232
Various statements in the Zulip Wikipedia article are false, e.g. "Zulip ... was created by Jessica McKellar and Tim Abbott in 2012." doesn't mention that the original 2012-2014 Zulip, Inc. company sold to Dropbox had two other cofounders: Jeff Arnold and Waseem Daher.

For ethics reasons, nobody who's a major current contributor to Zulip (like myself) can edit the article on us, so I'm not sure t

[2021-02-08 01:03] IgnisDa commented on #17232
@timabbott I am interested in this. Since I am not a not major contributor (though i want to be one), i can do the needful and update the Wikipedia article. Can you please assign me this issue?

[2021-02-08 01:12] rht commented on #17232
@IgnisDa the issue is labeled "help wanted", so you can claim the issue via zulipbot.

[2021-02-08 01:44] IgnisDa commented on #17232
@zulipbot claim

[2021-02-08 06:01] edith007 commented on #14810
@zulipbot claim

[2021-02-08 07:21] pilgrim2308 commented on #15826
Hi,
I'd like to work on this!
I don't know if a final decision has been reached about the search input thing. I'll work on the other 3 issues in the meantime.
Kindly let me know about the search input or if there's anything else I should keep in mind while working on this.
Thanks!

[2021-02-08 07:21] pilgrim2308 commented on #15826
@zulipbot claim

[2021-02-08 08:21] amanagr commented on #15826
@pilgrim2308 I have updated the issue's initial message. Please look at it again.

[2021-02-08 12:15] showell opened #17245 "Remove Flask dependency from server repository"
I believe the only reason we have a flask dependency in our server repo is that we used to have api/bot things in the server repo, and one of our bot servers used flask.

We can probably eliminate this.

See https://github.com/zulip/zulip/blob/master/requirements/README.md#requirements for more details.

See also https://chat.zulip.org/#narrow/stream/92-learning/topic/Zulip.20and.20graphql/near/11

[2021-02-08 15:32] nishantwrp opened #17247 "Can't make users come on left side of the screen"
## Steps to reproduce
- Run the zulip dev server
- Go to display settings, check the `show users on left when the screen is narrower`.
- Reload the page
- Resize the window to be narrower.
- Users still come on right with the settings button overlapping the user icon.

## Screenshots

![Screen Shot 2021-02-08 at 20 58 - Zulip Dev - Zulip (1)](https://user-images.githubusercontent.com/36989112/1072

[2021-02-08 15:42] nishantwrp commented on #3916
I wanted to work on this issue but couldn't reproduce. Filed #17247 describing the issue I'm facing.

[2021-02-08 16:00] MSurfer20 commented on #12970
@zulipbot claim

[2021-02-08 16:35] joshuadgilley opened #17248 "Overlapping alert words when alert is substring of another alert word"
This issue is to update and give a fresh start to issue: #9157

Example: If alert words are "hello there" and "there", then there will show up as an overlapped dark green

![image](https://user-images.githubusercontent.com/38388793/107249694-97400980-6a01-11eb-8381-4be46586bd85.png)

@showell

[2021-02-08 16:35] joshuadgilley commented on #17248
@zulipbot claim

[2021-02-08 16:37] joshuadgilley commented on #17248
@zulipbot add "good first issue"

[2021-02-08 16:37] joshuadgilley commented on #17248
@zulipbot add "bug"

[2021-02-08 16:37] joshuadgilley commented on #17248
@zulipbot claim

[2021-02-08 16:39] m-e-l-u-h-a-n commented on #10688
@mateuszmandera can I work on this issue it appears that previous wip pr #11376  has no progress from about 2 years. Also I wanted to ask if the approach in #11376 of adding a separate model should be right for it as could not find any related conversation for it.

[2021-02-08 19:54] vibhuti019 commented on #17248
@zulipbot claim

[2021-02-08 20:09] vibhuti019 commented on #17248
@joshuadgilley Sir, Please elaborate how can I reproduce this issue?

[2021-02-08 20:26] timabbott commented on #17245
Note that this is only a development dependency.  The issue here is that `pyre-check` added it as a dependency, which we use for `pysa` checking.  See https://github.com/zulip/zulip/pull/17130#issuecomment-768625690 for the background.

This is blocked on upstream `pyre-check` splitting their graphical viewer tool (which somehow requires flask and graphql libraries) from the checker project.  Or e

[2021-02-08 20:30] joshuadgilley commented on #17248
@zulipbot claim

[2021-02-08 22:10] vibhuti019 commented on #17248
Sir, Please check my PR

[2021-02-08 22:44] joshuadgilley commented on #17248
@vibhuti019 you'll need to run ./tools/lint and find the issues that you're having. Also, squash your commits into one before pushing. Here are links to the PR guidelines: https://zulip.readthedocs.io/en/latest/overview/contributing.html

[2021-02-09 00:00] andersk commented on #17245
You can see why we have a Python requirement by looking at the `via` comments in `requirements/*.txt` that were generated by `pip-compile`.

https://github.com/zulip/zulip/blob/d0ba3cadcfb6cf6c58b99dd87a00f489fd438c6e/requirements/dev.txt#L405-L417

https://github.com/zulip/zulip/blob/d0ba3cadcfb6cf6c58b99dd87a00f489fd438c6e/requirements/dev.txt#L1116-L1120

[2021-02-09 01:03] aw5631 commented on #17248
My sodding foot.

On Mon, 8 Feb 2021, 16:35 Josh Gilley, <notifications@github.com> wrote:

[2021-02-09 01:22] WookieMonkeys commented on #17016
@zulipbot add "good first issue"

[2021-02-09 01:23] WookieMonkeys commented on #17016
@zulipbot claim

[2021-02-09 01:26] ssayce0511 commented on #2278
@zulipbot claim

[2021-02-09 01:47] WookieMonkeys commented on #17016
@timabbott Howdy, any further thoughts on the short term entropy enhancement? I gave what @alexmv had to say some thought.
1. Increasing the number of !'s seems to be a viable short-term solution if the intentions are to rewrite in the future anyway.
2. pre-pending a hash of the old_stream name from my understanding wouldn't work because after the first reuse the hash would be a duplicate.
3. Coul

[2021-02-09 02:22] gnprice commented on #17232
Here's Wikipedia's policy on conflicts of interest when contributing to a page:
https://en.wikipedia.org/wiki/Wikipedia:Conflict_of_interest

It's a little unclear to me, after reading relevant bits of the policy, what qualifies as a conflict of interest that is supposed to mean you don't edit the article. But here's two conclusions:
* Anyone who's a Kandra Labs employee shouldn't be editing the a

[2021-02-09 02:31] gnprice commented on #17232
Oh also: @IgnisDa because there's a possibility that someone might look at your contributions to the article and think you had a conflict of interest when you made them, it'll be important to be extra careful about observing Wikipedia's policies, particularly on a neutral point of view ([WP:NPOV](https://en.wikipedia.org/wiki/Wikipedia:Neutral_point_of_view)) and providing appropriate sources and

[2021-02-09 07:28] hackerkid commented on #17232
I think this is an issue for someone who has significantificant prior experience contributing to Wikipedia and knows exactly what their policies are. @IgnisDa If this is the first time you are contributing to Wikipedia, then this is probably not an issue for you.

[2021-02-09 08:09] IgnisDa commented on #17232
@gnprice Thank you for the pointers. I'll keep them in mind when I do it.
@hackerkid This isn't my first time contributing to Zulip. I have been involved with this community for quite some months now. My name on zulip.chat.org is Diptesh Choudhuri.

[2021-02-09 08:26] hackerkid commented on #17232
@Diptanshu8 I mean first time contributing to Wikipedia, not Zulip.

[2021-02-09 08:27] hackerkid commented on #17232
@IgnisDa I meant first time contributing to Wikipedia, not Zulip.

[2021-02-09 09:35] smitpatel24 commented on #17100
I would like to work on this issue. @zulipbot claim.

[2021-02-09 09:36] smitpatel24 commented on #17095
@zulipbot abandon

[2021-02-09 09:37] smitpatel24 commented on #17100
@zulipbot claim

[2021-02-09 09:41] smitpatel24 commented on #17100
@ganpa3 Are you still working on this issue?

[2021-02-09 09:45] ganpa3 commented on #17100
@smitpatel24 Feel free to work on it.

[2021-02-09 10:22] rohanj-02 commented on #17247
@zulipbot claim

[2021-02-09 10:22] rohanj-02 commented on #17247
@zulipbot add "good first issue"

[2021-02-09 10:22] rohanj-02 commented on #17247
@zulipbot claim

[2021-02-09 10:39] nikhilmaske-2001 commented on #17095
@zulipbot claim

[2021-02-09 10:46] nikhilmaske-2001 commented on #17095
@zulipbot abandon

[2021-02-09 12:56] edith007 commented on #601
@zulipbot claim

[2021-02-09 17:02] jaichhabra commented on #13480
@zulipbot claim

[2021-02-09 17:40] suzaram3 commented on #7824
@zulipbot claim

[2021-02-09 18:18] DavidThompson8 commented on #17070
@zulipbot claim

[2021-02-09 18:20] ssayce0511 commented on #2278
@popochou0311 I see you were the last person to pick up this issue. I'm having trouble recreating this bug, did you have any success?

[2021-02-09 20:06] JacobRoddam commented on #16821
@zulipbot claim

[2021-02-09 20:17] anthony-farah commented on #16920
@zulipbot claim

[2021-02-09 22:28] nishantwrp commented on #16946
@zulipbot add "good first issue"

[2021-02-09 22:28] nishantwrp commented on #16946
@zulipbot claim.

[2021-02-10 12:32] showell opened #17263 "settings: Add `x` to all search filters for lists."
In our settings--mostly "Organization Settings"--we have several panels with large tables that you can filter with a search box.

We want to add the little x icon to close the search.

We should try to have a consistent approach for all of these.

We should use `zulip-icon zulip-icon-close`.

See https://chat.zulip.org/#narrow/stream/101-design/topic/No.20close%28cross%29.20button/near/1115949 for

[2021-02-10 17:15] FateOri opened #17265 "Csharp code doesn't support string interpolating"
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated

`$` symbol displays as invalid in a red box.

[2021-02-10 17:22] andersk commented on #17265
Upstream issue: pygments/pygments#1573

[2021-02-10 18:17] timabbott commented on #17265
Thanks for the report!  The right path forward for this is for someone to submit a PR to `pygments` upstream, and then we can upgrade once they've merged and released the fix.

[2021-02-10 20:28] alexmv commented on #17016
I think my suggestion was prepending a hash of the _id_, not of the _name_.  The id is unique.

[2021-02-11 07:06] lukem1 opened #17271 "Attempting to edit topic names in deactivated streams throws errors"
Attempting to edit the name of a topic in a deactivated stream throws the following Blueslip errors:

[code]

[code]

## Image

![Blueslip](https://user-images.githubusercontent.com/37024616/107607479-5addfa80-6c07-11eb-9dc4-490489a82d46.png)

## Reproduction

1. Create a stream as any user.
2. Deactivate the stream as an admin user.
3. Filter for the deactivated stream in a search as any member o

[2021-02-11 07:08] lukem1 commented on #17271
@zulipbot add "bug" "help wanted"

[2021-02-11 07:08] lukem1 commented on #17271
@zulipbot claim

[2021-02-11 15:08] manziEric commented on #17247
@zulipbot claim

[2021-02-11 16:23] ashantilong commented on #17265
@zulipbot claim

[2021-02-11 17:00] amanagr opened #17274 "Add option to add a mentioned global time to Google Calendar."
It would be awesome to add a mentioned time zone aware time `<time xxx>` to Google Calendar or the default OS calendar app. Discuss the UX for this in chat.zulip.org before starting to work on this.

Relevant docs - https://zulip.com/help/format-your-message-using-markdown#mention-a-time

[2021-02-11 17:45] drunlade opened #17280 "Icon for "USERS" obscured by settings icon on resize"
**Describe the bug**
When the "USERS" section is hidden on window resize, the icon to shows "USERS" is obscured by the settings icon.

**To Reproduce**
Resize the window wider/narrower, when the "USERS" section becomes hidden, the icon that represents it occupies the same spaces as the settings cog.

**Expected behaviour**
Icons remain separate.

**Screenshots**
![image](https://user-images.github

[2021-02-11 21:03] nishantwrp commented on #17012
@zulipbot add "good first issue"

[2021-02-11 21:04] nishantwrp commented on #17012
@zulipbot claim

[2021-02-11 23:54] mateuszmandera opened #17277 "SAML custom profile field sync"
Just like we do for LDAP, we should also support syncing custom profile fields via SAML. This looks fairly straight-forward to do by having additional mapping in the `SOCIAL_AUTH_SAML_ENABLED_IDPS` idp dicts specifying which custom profile field should take value from which attribute sent in the SAMLResponse.

The main issue might be lack of access to the `UserProfile` in the `SAMLAuthBackend` met

[2021-02-12 02:59] m-e-l-u-h-a-n commented on #17280
Related issue #17247 .

[2021-02-12 07:08] nikhilmaske-2001 commented on #17274
@zulipbot claim

[2021-02-12 10:09] kasperg opened #17284 "Spacing between text and lists"
Currently [Zulip adds additional space between adjacent paragraphs](https://github.com/zulip/zulip/blob/master/static/styles/rendered_markdown.css#L11). This increases legibility. However no similar rules seems to exist for other types of textual content like lists in the web interface.

<img src="https://user-images.githubusercontent.com/73966/107755077-a0dbb100-6d22-11eb-919f-5d0e86de060b.png" w

[2021-02-12 10:20] drunlade commented on #17280
@timabbott This is using the `zulip.com` service.

I had a play with the settings this morning, and found that yes, this is a duplicate of #17247 - it only happens when `Show user list on left sidebar in narrow windows` is enabled.

[2021-02-12 11:51] m-e-l-u-h-a-n commented on #17284
can I work on this issue?

[2021-02-12 12:26] nishantwrp commented on #17280
@zulipbot add "good first issue"

[2021-02-12 12:26] nishantwrp commented on #17280
@zulipbot claim.

[2021-02-12 12:27] nishantwrp commented on #17280
Hi @timabbott, can you assign me this issue. I've figured out a fix for this issue.

[2021-02-12 12:51] h3po commented on #10088
there is now a delete button in the "your bots" view which allowed me to delete a bot and reuse its name/email when creating a new one. in the organization view, there's still no delete button.

[2021-02-12 13:50] HustleRRR commented on #17280
I guess this issue has already been fixed by @rohanj-02.
Here's the pull request made by him: https://github.com/zulip/zulip/pull/17255

[2021-02-12 14:01] rutvi18 commented on #17169
@zulipbot I have made a PR for this issue (#17272)

[2021-02-12 14:23] m-e-l-u-h-a-n commented on #17284
@zulipbot claim

[2021-02-12 14:55] pranay-simejia commented on #17169
can I work on this issue? I see its still open.

[2021-02-12 15:44] guptaprakhariitr commented on #14600
@timabbott, I wanted to work on this issue.
[this commit](https://github.com/zulip/zulip/commit/ce6ea76110fb761d47a3f88442fe7c41afd26230) mentions fixing a part of the issue. What more is to be done in this? The mentioned commit says, 'bulk_update doesn't flush caches', so is it something then needs work?

[2021-02-12 16:11] m-e-l-u-h-a-n commented on #17284
This was discussed here:
https://chat.zulip.org/#narrow/stream/9-issues/topic/issue.20.2317284.20(bulleted.20lists)

[2021-02-12 16:21] guptaprakhariitr commented on #16359
@zulipbot  claim

[2021-02-12 16:52] m-e-l-u-h-a-n commented on #10688
@zulipbot claim

[2021-02-12 18:51] abhi0504 opened #17288 "user's presence list is some times unreadable"
this is part of #17168 Also when we hover over the users then we can check user presence , status etc in a black label whose `background opacity` must be more higher also this is more explained [here](https://github.com/zulip/zulip/issues/17168)
Also I am adding a gif below which relates more
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/56453541/107809578-59403e00-6d91-11eb

[2021-02-12 19:54] rajprakash00 commented on #17288
@abhi0504 I think in [#17187 ](https://github.com/zulip/zulip/pull/17187) it has been fixed.
Is it not working properly? Do we need a separate PR for this?

[2021-02-12 22:38] andersk commented on #17247
This looks like the same issue as #17280, which has a more straightforward fix.

[2021-02-13 05:17] pilgrim2308 commented on #15826
@zulipbot claim

[2021-02-13 06:09] nikhilmaske-2001 commented on #17288
#17187 has fixed this issue.

[2021-02-13 11:36] showell opened #17293 "time widget: Improve it and use it more."
If you have ideas about improving or using the time widget in more places, see https://chat.zulip.org/#narrow/stream/6-frontend/topic/time.20widget

After a bit of chatting, I'll compile a list back here.

Ideally we can have one person make a bunch of improvements at once, but if there are single tasks you want to do, discuss them on chat, and we can break out a single issue for it.

[2021-02-13 12:36] showell commented on #17293
See #17274 and #16821

[2021-02-13 15:14] #17280 closed

[2021-02-13 15:38] #17247 closed

[2021-02-13 17:16] ganpa3 opened #17297 "Deactivation user modal flickers when trying to deactivate another user and causes black screen."
While deactivating a user, if the admin clicks on another user deactivation button, the deactivation modal flickers and causes a black screen.

**To reproduce**:

1. Click on deactivate user button.
2. Now, click on another deactivate user button.
3. Close the settings overlay.

**Expected behavior**:
1. The modal should appear properly.
2. Closing settings UI shouldn't have any effect.

**Actual

[2021-02-13 17:17] ganpa3 commented on #17297
@zulipbot claim

[2021-02-13 17:18] ganpa3 commented on #17297
@zulipbot add "area: settings UI"

[2021-02-13 17:18] showell opened #17298 "feature request: Add ability to "follow" users."
This is a **sizable** feature request, and it's not fleshed out, but I think has lots of upside, and if we're clever about it, we can probably do some kind of v1 version that is manageable.

Especially on large realms where there may be lots of folks who you don't talk to an a regular basis, it would be nice to set up a group of people that you specifically "follow".

Then we should have a screen

[2021-02-13 17:18] ganpa3 commented on #17297
@zulipbot add bug

[2021-02-13 18:12] jannekemorin commented on #6358
@zulipbot unclaim

[2021-02-13 18:13] jannekemorin commented on #16957
@zulipbot claim

[2021-02-13 21:17] najlase commented on #10539
@zulipbot claim

[2021-02-13 22:09] najlase opened #17301 "Feature request: add show password functionality in log in"
As you try to log in zulip, it is would be helpful to have the possibility to view the password that is being entered to verify its correctness.
I noticed that this features is not yet implemented as the below screenshot shows:

![image](https://user-images.githubusercontent.com/44806328/107862807-b39fd400-6e4f-11eb-9a92-b7f85d7468f9.png)

I propose to **add a checkbox with a label "Show password"

[2021-02-14 03:45] ganpa3 commented on #17297
@zulipbot add "bug"

[2021-02-14 04:06] jannekemorin commented on #16957
@zulipbot unclaim

[2021-02-14 04:07] jannekemorin commented on #6358
@zulipbot claim

[2021-02-14 16:08] guptaprakhariitr commented on #16359
@zulipbot unclaim
There's a pr under review for this.

[2021-02-14 22:43] mgshestko commented on #16080
After carefully reviewing my assigned bug, I’ve determined that it’s been fixed by an earlier submission report.
#16104

My open pull request should be closed.

How should I proceed?

[2021-02-15 05:42] #15947 closed

[2021-02-15 07:55] nikhilmaske-2001 commented on #17293
I am working on #17274 , I will work on the idea of **adding clock icon**, that we have already discussed in the [chat](https://chat.zulip.org/#narrow/stream/6-frontend/topic/time.20widget/near/1117627). I will continue the work in my same PR made for #17274 .

[2021-02-15 08:02] Uttam-Singhh commented on #17012
@zulipbot Claim

[2021-02-15 08:07] Uttam-Singhh commented on #17274
@zulipbot claim

[2021-02-15 08:08] Uttam-Singhh commented on #17012
@zulipbot claim

[2021-02-15 08:11] nikhilmaske-2001 commented on #17274
@Uttam-Singhh I am still working on this, you can take any other issue.

[2021-02-15 08:19] guptaprakhariitr commented on #16105
@zulipbot  claim

[2021-02-15 08:20] Uttam-Singhh commented on #17274
@nikhilmaske-2001 Sure! No Problem

[2021-02-15 09:34] silentC1C4D4 commented on #17301
@zulipbot  claim

[2021-02-15 09:58] nikhilmaske-2001 commented on #17293
Adding clock icon before time will look like these:
![clock-icon-day](https://user-images.githubusercontent.com/59444243/107931489-57999480-6fa2-11eb-9b92-c97ebbc38c9d.png)
![clock-icon-night](https://user-images.githubusercontent.com/59444243/107931494-59635800-6fa2-11eb-95dc-417c8a3b8349.png)
If it looks fine, can I open a PR for it?

[2021-02-15 11:34] mrchntia commented on #7517
@zulipbot claim

[2021-02-15 11:47] samtuke commented on #17059
Yes please. Currently debugging push notifications and it's not so easy.

[2021-02-15 12:30] showell opened #17306 "Allow users to open Private Messages without jumping into interleaved view."
Right now when you click on "Private Messages" it not only shows your recent conversations (good), it also shows the interleaved view of recent PMs (bad).  The latter is bad for two reasons:

* The overall appearances either confuses new users or feels "busy" to users in general.
* It's not obvious which messages get read.

Instead of automatically putting the interleaved view into the middle pane

[2021-02-15 12:38] #12194 closed

[2021-02-15 13:37] Vivekk07 commented on #17306
@zulipbot claim

[2021-02-15 16:46] snoe commented on #6567
@timabbott I'd like this too.

What would the repercussions of disabling the `missed_message_emails` processor be?
Would this lead to thousands of messages piling up or does it try to be smart about only one per user until it's processed?
I'm worried about running out of memory or diskspace if I do this.

Alternatively, how would one go about disabling everyone's email notification setting? (prefe

[2021-02-15 18:19] godlike786 opened #17307 "Move dropdown settings to the right"
The settings dropdown should be moved a bit towards the right
# Current
![default_settings](https://user-images.githubusercontent.com/79088382/107981434-10ce8d80-6fe8-11eb-9c65-7d4943e49561.png)
# Desired
![fixed_settings](https://user-images.githubusercontent.com/79088382/107981453-1926c880-6fe8-11eb-87f5-260e378e7929.png)

[2021-02-15 18:19] godlike786 commented on #17307
@zulipbot claim

[2021-02-15 18:38] snoe commented on #6567
I made this manage command in `zerver/management/commands/turn_off_email_notifs.py` if anyone comes across this. (or if zulip thinks this is a useful command feel free to add)

[code]

[2021-02-15 19:26] joshuadgilley commented on #17172
I have finished this. Just waiting for official move into master. PR is up to date

[2021-02-15 20:26] godlike786 opened #17309 "Label for edit topic button in streams"
Label is required for edit topic button in streams
# Current
![default_edit](https://user-images.githubusercontent.com/79088382/107990227-fac9c880-6ff9-11eb-8f90-c08cb9ed2f2e.png)

# Desired
![fixed_edit](https://user-images.githubusercontent.com/79088382/107990243-06b58a80-6ffa-11eb-9887-9321a5258ac1.png)

[2021-02-15 20:27] godlike786 commented on #17309
@zulipbot claim

[2021-02-15 21:59] andersk opened #17311 "Broken <label>s in edit bot form lead to dumb capitalization and other bugs"
https://github.com/zulip/zulip/blob/6fba17599f7ff728b5671fb1008cdcee3c69ec69/static/templates/edit_bot.hbs#L14-L21

* From the [HTML standard](https://html.spec.whatwg.org/dev/forms.html#attr-label-for): “The `for` attribute may be specified to indicate a form control with which the caption is to be associated. If the attribute is specified, the attribute's value must be the [ID](https://dom.spec.

[2021-02-16 01:40] sfaudry commented on #3917
@zulipbot claim

[2021-02-16 01:41] #14302 closed

[2021-02-16 05:02] aryanshridhar commented on #17311
@zulipbot claim

[2021-02-16 05:36] godlike786 commented on #17307
@zulipbot add "good first issue"

[2021-02-16 05:36] godlike786 commented on #17307
@zulipbot claim

[2021-02-16 05:37] godlike786 commented on #17309
@zulipbot add "good first issue"

[2021-02-16 05:37] godlike786 commented on #17309
@zulipbot claim

[2021-02-16 05:41] smitpatel24 commented on #17100
@zulipbot claim

[2021-02-16 06:03] pranjalg13 commented on #17309
@zulipbot claim

[2021-02-16 06:17] godlike786 commented on #17309
@pranjalg13 I have already created a PR for this. I will claim this issue once I am done with my previous issue.

[2021-02-16 07:07] pranjalg13 commented on #17309
@godlike786 This was assigned to me. Right?

[2021-02-16 07:15] godlike786 commented on #17309
@pranjalg13 I had already created a PR when I had opened the issue

[2021-02-16 07:16] pranjalg13 commented on #17288
If this is fixed, then please close this issue.

[2021-02-16 07:30] abhi0504 commented on #17288
Sure

[2021-02-16 10:26] ganpa3 commented on #15216
@timabbott [This](https://github.com/r0wb0t/markdown-urlize) python-markdown extension alllows to autolink urls with HTML in them.
Another way, as suggested in https://github.com/Python-Markdown/markdown/issues/983, is to wrap the URL in angle brackets.

[2021-02-16 10:27] karthikshetty03 commented on #2284
@zulipbot claim

[2021-02-16 10:28] karthikshetty03 commented on #1286
@zulipbot claim

[2021-02-16 10:31] Garagoth commented on #3783
@timabbott You mentioned that this is being implemented and targeted for 2.2, that version was newer released (2.1.7 went straight to 3.0). What is the state of this feature, and if it was abandoned, could you please outline what needs to be done here (as you already worked on this, to not re-do same work)?

[2021-02-16 10:36] samtuke commented on #12611
We also have this issue. Please make the font size on Linux desktop user configurable.

[2021-02-16 11:04] nikhilmaske-2001 commented on #17288
Can we keep the issue open untill the PR related to it got merged?

[2021-02-16 13:23] tushar912 commented on #17183
@zulipbot still working

[2021-02-16 13:23] tushar912 commented on #13052
@zulipbot still working

[2021-02-16 14:03] showell opened #17319 "advanced: Add tooling to fully disable long-time-idle users."
Occasionally folks just stop using Zulip, and we should make it easier for administrators to fully disable their account.  Here are the problems when actually-inactive users are still flagged as active:

* people might hack their accounts
* our customers may have concerns about billing
* the app will perform worse (even though this is somewhat mitigated by our `long_term_idle` handling)

I believe

[2021-02-16 14:43] im-adithya opened #17320 "Alert words are not highlighted properly"
## Description
Same as zulip/zulip-mobile#4478

[2021-02-16 15:16] abhi0504 commented on #17288
Sure @nikhilmaske-2001 i have reopened the issue

[2021-02-16 15:38] timabbott commented on #12611
@samtuke it is user configurable already -- just use the Zoom in/out feature in the desktop and web apps.  The issue here is just to make it more convenient to do so (and adjust the default size up a notch).

[2021-02-16 16:27] godlike786 opened #17322 "A dropdown to select streams in Reply box"
A dropdown button where the red dot is.
On clicking that button, a dropdown appears listing all the streams and the user can select the desired stream. Although there are auto suggestions when one types in the box, but a dropdown listing, all the streams would be a richer UI
![dropdown_sample](https://user-images.githubusercontent.com/79088382/108091310-982c0780-70a1-11eb-84fc-ad6e4cd15278.png)

h

[2021-02-16 16:27] godlike786 commented on #17322
@zulipbot add "help wanted"

[2021-02-16 16:39] pranjalg13 commented on #17322
@zulipbot assign me

[2021-02-16 16:40] pranjalg13 commented on #17322
@zulipbot claim

[2021-02-16 16:41] pranjalg13 commented on #17322
@zulipbot claim

[2021-02-16 16:44] pranjalg13 commented on #17322
Hey @godlike786 have you already solved this? If Yes, then I can solve another issue

[2021-02-16 16:45] godlike786 commented on #17322
Hello @pranjalg13 I am working on a PR for this already.

[2021-02-16 16:45] pranjalg13 commented on #17322
Ok I am leaving it then.

[2021-02-16 16:56] #17284 closed

[2021-02-16 17:01] timabbott commented on #17284
@kasperg thanks for the report!  We really appreciate this sort of detailed bug report.  The mobile app behavior is wrong -- the extremely large space there makes a paragraph followed by a bulleted list scan poorly (and no similar space is present before a image, code block, blockquote, etc.).  But it's also the case that the p+ul space, which had been intended to be sized to match that for other

[2021-02-16 19:34] Esgrima commented on #1211
Received feedback on open pull request and currently incorporating feedback.

[2021-02-16 22:20] chrisbobbe commented on #17232
I'm closing this, on @timabbott's [recommendation](https://chat.zulip.org/#narrow/stream/107-kandra/topic/wikipedia/near/1119251) in a private stream on CZO.

The most appropriate place for discussing improvements to Zulip's Wikipedia article is the article's [talk page](https://en.wikipedia.org/wiki/Talk:Zulip). Special care must be taken to follow Wikipedia's policies and community guidelines; i

[2021-02-16 22:20] #17232 closed

[2021-02-16 23:06] ashantilong commented on #17265
I claimed  this issue: #17265 which states C sharp code doesn't support string interpolating and I was wondering where the code is provided so I can recreate and fix it. Can anyone point me to the right direction ?

[2021-02-17 05:00] gnprice commented on #17089
From the mobile perspective: I'd be glad to have this optimization, but I don't think it's anywhere near a top priority.

On the one hand, this is probably a decent amount of bandwidth (maybe as much as 100 kB, for the default streams in an org like czo where there are ~17k users in those.) And then the client deserializes all that as JSON, which might be like 200 kB of memory, and might take long

[2021-02-17 11:00] showell commented on #17089
I'll reopen this with low priority.

[2021-02-17 16:10] #17322 closed

[2021-02-17 19:35] ashantilong commented on #17265
@FateOri

[2021-02-17 20:12] abhi14nexu opened #17334 "Color picker not hiding even after exiting settings."
### Description
The color picker for streams doesn't hide even after the settings are closed.

### GIF
![color_picker_issue](https://user-images.githubusercontent.com/56607134/108261834-28de1280-718a-11eb-89ab-33ff3cd65611.gif)

[2021-02-17 20:15] abhi14nexu commented on #17334
@zulipbot claim

[2021-02-17 21:19] timabbott commented on #15997
I'm going to close this as resolved by #16136, at least in the current form; I'd like to hear user feedback requesting this again before we look at adding a potentially useless setting.

[2021-02-17 21:19] #15997 closed

[2021-02-18 06:27] pilgrim2308 commented on #15692
@zulipbot add "good first issue"

[2021-02-18 06:27] pilgrim2308 commented on #15692
@zulipbot claim

[2021-02-18 06:31] akshatdalton commented on #15692
Hey @pilgrim2308, sorry I didn't post any update here. But I have been working on this. Can you please look at some other issues ?

[2021-02-18 06:54] pilgrim2308 commented on #15692
That's cool. Should you decide to abandon this issue in the future, do update here.
@zulipbot abandon

[2021-02-18 11:02] akshatdalton commented on #15692
@zulipbot remove "good first issue"

[2021-02-18 15:15] FateOri commented on #17265
well you have to check upstream repo and fix it there first

string interpolation is a common feature so you can take the idea how to fix it from other PL that already has support for it

for example,

https://github.com/pygments/pygments/commit/627123cf397c2f277f12bbbda7544b59d40013a6#diff-8b5d7b3e3c7991140b596cfcdb0ee4f1c6afd56e4133f6974a908a455ccbcb01

[2021-02-18 15:16] FateOri commented on #17265
@ashantilong

[2021-02-18 17:40] n-cc commented on #12825
👍 , another good solution could be to prevent new messages in muted topics from bumping that topic to the top of the topic list. It's more of an annoyance thing for me, there are a few very active streams I'm in where I have the most-active topics muted, and I have to click the "more topics" button to find topics I actually care about.

[2021-02-19 04:10] amanagr opened #17347 "Allow sorting by unreads in Recent topics."
UI/UX for this is up for discussion.

Followup on #15650.

Feedback:

[2021-02-19 05:16] hkpanchani opened #17348 "delete media also from server on deletion of messages to save disk space."
Is there any way to delete media with deletion of message.. Currently media is not being deleted on message deletion..
Or other way is to purge all media which does not have context in database..

Or any option to delete media older than particular amount of time. Lets say delete all medias older than 1 year or message retention policy..

[2021-02-19 06:33] godlike786 commented on #17347
@amanagr I would like to contribute to this discussion and issue, is there a topic in the zulip server where we can discuss this?

[2021-02-19 06:36] amanagr commented on #17347
I will mark this issue with "help wanted" when I want others to work on it.

[2021-02-19 07:47] godlike786 commented on #16821
@zulipbot claim

[2021-02-19 07:47] godlike786 commented on #16821
@hackerkid I would like to work on this issue. I was able to recreate the bug on the dev server. Could you please assign me this issue?

[2021-02-19 08:10] pilgrim2308 opened #17349 "Stream creation: Announce stream help tooltip improperly placed for certain screen sizes"
![Screenshot from 2021-02-18 20-18-58](https://user-images.githubusercontent.com/59016893/108374895-7492c980-7227-11eb-87fc-8cb246f8ca87.png)

The tooltip needs to be a little upward.
To reproduce, go for creating a new stream and look for the `?` tooltip beside "announce stream".
Issue #7474 was concerning the same feature.

Interestingly, the tooltip is positioned correctly for very large and ve

[2021-02-19 08:13] pilgrim2308 commented on #17349
@zulipbot add "area: stream settings" "help wanted"

[2021-02-19 08:14] pilgrim2308 commented on #17349
@zulipbot claim

[2021-02-19 08:14] pilgrim2308 commented on #17349
@zulipbot claim

[2021-02-19 10:28] eyahlin commented on #15660
Thank you for this! Can we see this feature being implemented in Zulip Cloud? :)

[2021-02-19 15:47] Uttam-Singhh commented on #17012
Hey, can anyone help me with getting started on this issue?
I am done with setting up of development environment and I see this page now.
![1](https://user-images.githubusercontent.com/63050765/108526866-a6736100-72f7-11eb-993c-0ee00746cffa.JPG)
What to do now, please guide.

[2021-02-19 17:12] JacobRoddam commented on #16821
@godlike786 Hello, I was still working on this issue and almost completed it. If there's anyway you'd be willing to unassign and allow me to claim again I would really appreciate it, I don't know why I was unassigned. I'm definitely willing to work together on this but I need to contribute to Zulip for a class I'm in for a group project and I have people relying on me to submit a pull request for

[2021-02-19 17:16] andrhez95 commented on #407
Hello.
I write because I have the same doubt, I see that in the secrets.conf file the passwords are encrypted, my question is how can I encrypt my password?

[2021-02-19 17:18] andrhez95 opened #17355 "email_password"
Hello.
I write because I have the following question, I see that the passwords are encrypted in the secrets.conf file, my question is how can I encrypt my password?

[2021-02-19 17:55] simpsonme1 commented on #15463
I am still working on this issue.

[2021-02-19 18:13] JacobRoddam commented on #16821
@zulipbot claim

[2021-02-19 18:37] #17355 closed

[2021-02-20 03:26] LegolasVzla commented on #1901
Hi, what is the current status on this issue? is there any progress? It would be really useful

[2021-02-20 04:52] nikhilmaske-2001 commented on #17274
@zulipbot abandon

[2021-02-20 05:21] Signior-X commented on #16868
I am working on this as the current PR has become quite old and no changes from the original author of it.

[2021-02-20 05:57] hkpanchani commented on #3884
I am using zulip version 3.3. This feature is not working in zulip 3.3.
How to use this feature?? Currently I am able to upload more than 1gb

[2021-02-20 06:36] Signior-X commented on #12496
@zulipbot claim

[2021-02-20 06:39] Signior-X commented on #12496
@zulipbot claim --force

[2021-02-20 07:43] Uttam-Singhh commented on #17012
Can anyone help me with this issue?
I am done setting up the development environment and please guide me on what to do next.
@neiljp @panomitrius

[2021-02-20 07:48] hkpanchani opened #17361 "Add support to forward a message"
Add support for forwarding message.
As of now if i receive a file and i want to forward to another person i have to download and send it fresh.

Workaround for time being is to copy the code of view source and send it to user.

Can we add support for forwarding a message???

[2021-02-20 09:31] Signior-X commented on #11629
Can I work on this issue?

[2021-02-20 13:02] guptaprakhariitr opened #17364 "Accessibility: Add title or equivalent to edit-topic icon and Stream-sidebar actions icon"
This may be similar to that for Mute-topic icon, and message-actions icon.

[2021-02-20 13:03] guptaprakhariitr commented on #17364
@zulipbot  add "help wanted"

[2021-02-20 13:03] guptaprakhariitr commented on #17364
@zulipbot  claim

[2021-02-20 13:05] guptaprakhariitr commented on #16105
Pull request for the issue is in progress here https://github.com/zulip/zulip/pull/17345 .
I am removing my name so that i could work on other issues.
@zulipbot  abandon

[2021-02-20 13:05] guptaprakhariitr commented on #17364
@zulipbot claim

[2021-02-20 13:34] guptaprakhariitr commented on #17364
Pull request for the issue is under review here  https://github.com/zulip/zulip/pull/17365.
I am unassigning myself so that I could work on other issues.
@zulipbot abandon

[2021-02-20 17:43] ritikchauhan-01 commented on #17100
@smitatel are you still working on it ?

[2021-02-20 18:07] smitpatel24 commented on #17100
@ritikchauhan-01 Yes I am.

[2021-02-21 05:22] brunchboy commented on #4817
I am in the process of migrating my open-source communities from Gitter to Zulip, and was somewhat gobsmacked to find out that it doesn’t already work this way. Count me as one of the people who strongly wants to be able to give people frictionless links to see discussions without being interrupted by a signup/login flow until they are invested enough to want to be able to add to the conversation.

[2021-02-21 07:26] Vivekk07 commented on #17306
@showell

By leaving alone, do you mean it should be totally blank? Like this:

![image](https://user-images.githubusercontent.com/44539761/108618440-37575300-7444-11eb-8bfb-75d7d9aa29f1.png)

[2021-02-21 08:36] Uttam-Singhh commented on #17309
@zulipbot claim

[2021-02-21 11:32] hkpanchani opened #17371 "Error Upgrading to master from zulip server 3.3"
**### `Error running a subcommand of ./tools/update-prod-static: ./tools/webpack --quiet**

Traceback (most recent call last):
  File "./tools/update-prod-static", line 52, in <module>
    run(["./tools/webpack", "--quiet"])
  File "./tools/../scripts/lib/zulip_tools.py", line 228, in run
    subprocess.check_call(args, **kwargs)
  File "/usr/lib/python3.8/subprocess.py", line 364, in check_call

[2021-02-21 11:34] hkpanchani commented on #17371
Do I have to perform migrations first before upgrading to master?
And yes how to perform??

[2021-02-21 13:32] smitpatel24 commented on #17100
I am halfway through the implementation, will create a PR within the next week.

[2021-02-21 13:33] SushanthReddyManda commented on #16868
I made a PR for this issue .

[2021-02-21 13:59] yasiruRathnayaka97 commented on #16426
@zulipbot claim

[2021-02-21 14:56] yasiruRathnayaka97 commented on #16426
@timabbott I like to do further improvement related to this issue. Are there anything you want to suggest?

[2021-02-21 17:30] Uttam-Singhh commented on #17309
Can anyone please check my PR? 3 test cases are failing even though I just changed a single line of code. Why is this happening?

[2021-02-22 14:04] tushar912 opened #17377 "notifications: Notify user when unsubscribed from a stream"
Currently the user does not get any notification if he is removed from a stream by someone else.

[2021-02-22 15:45] tushar912 commented on #16258
@zulipbot claim

[2021-02-22 18:54] godlike786 commented on #17309
@Uttam-Singhh I had already created a PR for this a long time back.

[2021-02-23 05:17] Uttam-Singhh commented on #17309
Sorry, @godlike786
No one was assigned to this issue so I took it.

[2021-02-23 05:40] Uttam-Singhh opened #17384 "Checks are occasionally slow"
Some PR will show you "Some checks haven't completed yet" for a long time. My last PR took 1 hour for some checks.
Any thoughts on what might be causing this?

[2021-02-23 05:55] amanagr commented on #17384
This must be mostly CircleCI taking its time to allocate resources to run tests. We are going to disable it soon.

[2021-02-23 06:15] godlike786 commented on #16492
@SushanthReddyManda are you still working on this?

[2021-02-23 06:17] edith007 commented on #12555
@zulipbot claim

[2021-02-23 11:48] SushanthReddyManda commented on #16492
@godlike786 yup I am working

[2021-02-23 14:37] JacobRoddam commented on #16821
@andersk I have an alternative solution to this issue that just uses the existing markdown.js and poll_widget.js files with some small changes, would it be ok to make a PR after making sure it passes tests?

[2021-02-23 14:58] akshatdalton commented on #6481
@timabbott this issue should probably be closed. This was probably fixed in one of the recent PR.
Also I tried this and it is working properly.

[2021-02-23 16:55] timabbott commented on #17384
Yeah, maybe we can use this issue to track the remaining steps before disabling CircleCI as a duplicate CI platform; I think we're pretty close at this point.

[2021-02-23 17:00] Uttam-Singhh commented on #17384
@zulipbot  add "travis updates"

[2021-02-23 18:24] chrisbobbe commented on #16377
This was reportedly fixed in #17171, so I'm closing this. Thanks, @ritikchauhan-01!

[2021-02-23 18:24] #16377 closed

[2021-02-23 19:33] ssayce0511 commented on #17274
@zulipbot claim

[2021-02-24 00:20] #6481 closed

[2021-02-24 00:20] soogie commented on #6481
Thank you

[2021-02-24 01:48] #16785 closed

[2021-02-24 02:35] timabbott commented on #17371
Zulip will run migrations automatically.  This line looks like your problem:
[code]

I'd check if you're seeing OOM kill issues on your system, or have some other tooling that kills processes that consume significant resources.  (In this case, compiling the Zulip JS).

[2021-02-24 02:35] #17371 closed

[2021-02-24 02:38] timabbott commented on #17361
You can use the "Quote and reply" option and then copy the body of the message for this purpose as well.

Do you have a use case where you're forwarding messages often?  I'm somewhat skeptical that the cost in terms of extra items in a menu would be worth it in this case.

[2021-02-24 02:39] timabbott commented on #17012
@Uttam-Singhh generally it's best to not claim an issue that you're not sure how to work on.  Though one can usually find the code for a feature like this using `git grep` pretty quickly.

[2021-02-24 03:13] octogonz opened #17396 "Zulip discards whatever I was writing if I press ESC by accident"
**To Reproduce**

1. Open Zulip Desktop on Windows
2. Start composing a very long detailed reply to someone's question
3. Attempt to press the backtick key (`` ` ``) to mark up some code, but *accidentally* press the ESC key which is adjacent to it on your keyboard

**Expected behavior**
I can easily fix my mistake and type the backtick key (`` ` ``)  that I intended.

**Actual behavior**
My edito

[2021-02-24 03:14] timabbott commented on #17396
@octogonz it sounds like the main issue here is that the "Drafts" feature isn't sufficiently prominent / the notification about it is too invisible.  Do you have ideas for how to improve that?

[2021-02-24 04:55] pirate commented on #4817
If there's any kind of Gittip/bounty pool system that Zulip uses, I'd be happy to chip in $100 to the pot to help see this implemented.

[2021-02-24 09:38] amanagr commented on #17384
#17316 is the main blocker I suppose.

[2021-02-24 10:51] tushar912 commented on #11584
@zulipbot claim

[2021-02-24 14:48] HorvatJosip opened #17401 "Facepalm emoji creates weird output on iOS"
![image](https://user-images.githubusercontent.com/27923085/109017285-50b40580-76b7-11eb-8f0e-8d4d72de2705.png)

When I use facepalm emoji on iOS, it displays properly before the message is sent.
Once I send it, it creates a facepalm emoji alongside 2 other ones (picture attached so you can see how it looks).

[2021-02-24 18:15] hkpanchani commented on #17371
Solved by increasing RAM and CPUs of VM. Thanks @timabbott

[2021-02-24 18:17] hkpanchani commented on #17361
yes copy and paste view source is one of the way. Working with that currently.

[2021-02-24 18:30] Uttam-Singhh commented on #17384
Okay! @amanagr

[2021-02-24 21:21] Phfas commented on #15136
Heya, Just ran into this problem and I think i've worked around this issue like this:

Update the json string like this:
[code]

and then use some bash string replacement in the zulip.sh
we'll replace the json single quotes in the bash script after we replace the double quotes in the values.
[code]

[2021-02-24 21:37] hafey1 commented on #17240
Still waiting for a review on the PR.

[2021-02-25 00:50] andersk commented on #17245
Fixed in upstream Git (facebook/pyre-check@bf55fcfa4747f200829858d1f7254d55af20b60d); just waiting on a release.

[2021-02-25 02:35] timabbott commented on #4817
@brunchboy the good news is that this feature is a major focus of the core team; see #16961.  That'll be the next major thing I try to merge after #15650.  (I'm a bit backlogged as I am just getting back to work after a new baby).

Folks are welcome to sponsor us at https://github.com/sponsors/zulip!  $100 isn't material to the cost to develop a major feature like this, but it does certainly help

[2021-02-25 03:26] pirate commented on #4817
Of course, $100 is only a drop in the bucket for the work required :) but happy to chip in what I can regardless. Everyone else here should do the same! Happy to see it's a focus with some existing work, that's already more than I was expecting. Congrats on the new family member!
![image](https://user-images.githubusercontent.com/511499/109098224-e61ebc00-76ee-11eb-85d1-71ca6e65d7bf.png)

[2021-02-25 04:20] Qapf opened #17408 "slack import fails due to passing token as a query string parameter"
Per https://api.slack.com/changelog/2020-11-no-more-tokens-in-querystrings-for-newly-created-apps

I tried to create a Slack app to export my environment today and ran into this problem.

[code]

Following the error back to get_slack_api_data
https://github.com/zulip/zulip/blob/0f4d5cd90a6afd8a33614610fa40a4a77c91b8eb/zerver/data_import/slack.py#L1366-L1368

Slack.py is passing in token as a membe

[2021-02-25 05:18] brunchboy commented on #4817
Thanks, @timabbott, that’s great news! And I hope my surprise didn’t sound like grouchiness, I am grateful for what Zulip does for open source, and have not slowed down my migration, it’s already worlds better than Gitter. This will just be icing on the cake when I can start linking to discussions. Also, congratulations. And yes, contributions always help me feel appreciated as well, even when the

[2021-02-25 06:16] Signior-X commented on #16868
Sure no worries. I will close mine, however, update your PR.

[2021-02-25 09:45] GhaziTriki commented on #15136
@Phfas Thank you, we will test it and give a feedback.

[2021-02-25 11:15] ligmitz commented on #11629
Czo link: https://chat.zulip.org/#narrow/stream/3-backend/topic/status-expire/near/1114757

[2021-02-25 12:58] suryanshsangwan commented on #16840
**@zulipbot** claim

[2021-02-25 15:26] godlike786 commented on #16402
@Gittenburg I am interested in working on this issue, should I open up up a topic for discussion?

[2021-02-25 16:19] pletinckxc commented on #17408
Hello, I just entered the Zulip community today and I am willing to contribute to the project so I tried to understand this issue and I feel like the fix is rather simple to implement. Reading what is said in the link you mentionned I guess we only have to modify line 1369 of slack.py as

data = requests.get(slack_api_url, headers={"Authorization" : kwargs["token"]}, kwargs)

as it is needed to pa

[2021-02-25 16:34] timabbott commented on #17408
@pletinckxc feel free to work on this -- just added some labels.  Most of the work for this will be testing one's changes with an actual Slack data export.  (I wonder if they changed something about their authentication model recently).

@aero31aero @alexmv FYI as folks who've worked on this token logic in the past.

[2021-02-25 16:38] pletinckxc commented on #17408
@zulipbot claim

[2021-02-25 16:55] timabbott commented on #17401
This is almost certainly https://github.com/zulip/zulip/issues/11767 ; basically Zulip doesn't have proper support for zero-width-joiner emoji, and that specific iOS emoji looks to be "facepalm + woman".

[2021-02-25 16:55] #17401 closed

[2021-02-25 17:02] hackerkid commented on #16821
@JacobRoddam Feel free to create the PR if you already have something ready.

[2021-02-25 18:40] joshuadgilley commented on #17248
Still working on this!

[2021-02-25 18:51] Signior-X commented on #11629
Great @ligmitz

[2021-02-25 18:52] ashantilong commented on #17265
Thank you @FateOri  I was able to find it and am working on the process now with the pygment lib now

[2021-02-25 19:03] stefanieelling commented on #17377
claim

[2021-02-25 19:08] stefanieelling commented on #3938
claim

[2021-02-25 22:17] chris-m-taylor commented on #17271
@zulipbot claim

[2021-02-25 22:19] chris-m-taylor commented on #17241
Successfully merged

[2021-02-25 22:19] #17241 closed

[2021-02-25 22:19] chris-m-taylor commented on #17271
@zulipbot claim

[2021-02-25 22:38] #16868 closed

[2021-02-26 01:34] #15676 closed

[2021-02-26 01:37] timabbott opened #17415 "Follow-up work from main "Recent topics" PR review"
This is the master issue for follow-up tasks from the major PR that migrates "Recent topics" to replace "All messages" as the default view in Zulip, while also making it no longer a modal (https://github.com/zulip/zulip/pull/15650#issuecomment-780212164, skipping items resolved before merging):

* [x] I think we should create a more declarative exported function for "Messages not visible in center

[2021-02-26 03:32] amanagr commented on #17415
Recent Topics is always already faster to render narrow to compared to all message or any other stream / topic narrow.
So, this doesn't seem like a real issue to me.

[2021-02-26 03:43] hkpanchani opened #17417 "Add support for limiting a user's file uploads to a certain total quota"
This feature already has PR but its not yet in working.
The pull request has been merged here #3884 but cant seem to be working.
How exactly we can limit users to stop using chat server as storage server.
Users are overloading server with lots of files and i dont want to turn off file upload features as its very necessary.

[2021-02-26 05:39] ligmitz commented on #17347
@amanagr I think the UI can be the similar to the other checkboxes like `Participated` etc. with text `Sort by count` for something similar. I can work this up as now the pr for recent topics is merged.

[2021-02-26 05:39] ligmitz commented on #17347
@zulipbot claim

[2021-02-26 06:27] pilgrim2308 commented on #14372
Hi,
I'd love to work on this! I don't know if a consensus has been reached, but I thought maybe we could prototype both the proposed solutions and see how users respond? Personally, I'm inclined towards @andersk's solution.
Kindly guide me on how to proceed further @showell
Thanks!

[2021-02-26 06:29] ligmitz commented on #17347
Link to czo: https://chat.zulip.org/#narrow/stream/6-frontend/topic/Recent.20topics.20sort.20by.20count/near/1124400

[2021-02-26 06:59] WesleyAC opened #17419 "Server side markdown parser turns tabs inside code blocks into spaces"
If you send the message:

[code]

it turns into:

[code]

when it goes through the server-side markdown renderer. The local echo looks fine.

---
Update by @alya 2025-01:

See https://github.com/zulip/zulip/issues/17419#issuecomment-2347094137 for specific action items to work on here.

[2021-02-26 07:14] mojavelinux commented on #10611
The way I would describe this is that standard emoji characters are supported in stream and topic names, but custom emoji are not. I think allowing custom emoji in stream and topic names would greatly enhance the user interface. For example, if I make streams for each product or client, I could then place the logo of the product or client in the stream to make it easier to identify. In fact, custo

[2021-02-26 08:06] mojavelinux commented on #12611
The browser zoom feature certainly works, but the problem is that the browser forgets it. This happens if you switch computers or if you close the browser out each day. Sure, some browsers remember the setting, but others don't. So it's something you always have to keep fiddling with. I would really prefer if I could just set it and forget about it.

That said, we could talk about why this is even

[2021-02-26 08:16] amanagr commented on #12611
@mojavelinux Hi,

We understand your trouble and our goal certainly is to allow use of different font-sizes to suit the needs to all our users. The problem is doing it not so simple as we would like it to be. We are actively working on it.

[2021-02-26 08:19] mojavelinux commented on #12611
Thanks for replying, @amanagr. That's great to hear. I know design is very tricky and takes a lot of time to get right, so I wouldn't want you to rush it. I look forward to seeing the result!

[2021-02-26 10:46] pilgrim2308 commented on #14916
Hi, @gnprice
Can I work on this?

[2021-02-26 12:53] srinivasan1995 commented on #17419
@zulipbot claim

[2021-02-26 12:54] srinivasan1995 commented on #17419
@zulipbot add 'good first issue'

[2021-02-26 12:54] srinivasan1995 commented on #17419
@zulipbot claim

[2021-02-26 13:00] srinivasan1995 commented on #17419
@timabbott can i work on this issue?

[2021-02-26 13:15] srinivasan1995 commented on #17419
@zulipbot add "good first issue"

[2021-02-26 13:15] srinivasan1995 commented on #17419
@zulipbot claim

[2021-02-26 14:20] ritikchauhan-01 commented on #12630
@zulipbot claim

[2021-02-26 14:22] ritikchauhan-01 commented on #12630
@zulipbot claim

[2021-02-26 14:31] ritikchauhan-01 commented on #17211
@zulipbot abandon

[2021-02-26 14:31] ritikchauhan-01 commented on #12630
@zulipbot claim

[2021-02-26 14:35] andreasoc commented on #17137
any decision?

[2021-02-26 14:51] andreasoc opened #17421 "Zulip server Version Info"
it would be very useful for many Admins to know what version of Zulip Server they have installed, directly with an 'About' entry when we click on the settings wheel or in settings.. but as they do in many programs, it is always one of the main items on the first menu that opens.
![mDXGeQtQ4w](https://user-images.githubusercontent.com/2852354/109314989-4d9d4e80-784a-11eb-851f-65f17ab9a4e0.jpg)

[2021-02-26 14:58] ritikchauhan-01 commented on #16958
@zulipbot abandon

[2021-02-26 15:01] ritikchauhan-01 commented on #12630
@rishig I want to work on this can you assign it to me.

[2021-02-26 16:26] #17238 closed

[2021-02-26 16:27] timabbott commented on #17238
Fixed! Thanks for the report @tsouanas! :)

[2021-02-26 18:16] kbuzzard opened #17425 "Large posts with a bunch of LaTeX may not upload"
This is using the Zulip Desktop app v5.4.2 on Ubuntu 20.04.

In the past I've written large posts with lots of LaTeX and they sometimes fail to get uploaded to the server -- the LaTeX in the post renders but you get the red X and red retry symbol in the top right of the post (the same error that you get if you're not connected to the internet and try to write a post). This is bad because one can l

[2021-02-26 18:17] gautelund commented on #8951
I second this. I want to be able to select text, reply and quote, and get just the selected text quoted. Today I reply and quote, or hit >, and then edit the quoted text. The ferature requested here would be faster and more intuitive.

[2021-02-26 19:17] godlike786 commented on #17421
@zulipbot claim

[2021-02-26 19:58] MSurfer20 opened #17428 "Sort keys in API responses for improved readability."
Currently the keys in API responses are arranged in a random order, and can be sorted (alphabetically) to improve readability.  Also, since they are sorted in /api example responses, it would make sense to have them sorted in actual response as well.

[2021-02-26 21:30] MSurfer20 commented on #17428
@zulipbot claim

[2021-02-26 21:37] gnprice commented on #17421
Thanks @andreasoc for the report! I agree we should have this. We're tracking it as #8005 -- and happily it looks like there's been some recent progress on it there.

[2021-02-26 21:37] #17421 closed

[2021-02-27 01:35] JacobRoddam commented on #16821
@hackerkid Just linked my pull request. This is the first PR I've made with zulip so please let me know if there's anything I need to fix or do differently when creating a PR with zulip.

[2021-02-27 05:24] alexmv opened #17435 "Document email mirror rate limit"
We should add a note on https://zulip.readthedocs.io/en/latest/production/email-gateway.html and/or https://zulip.com/help/message-a-stream-by-email that incoming emails are rate-limited, and lay out the current limits:
 - 50 emails per minute
 - 120 emails per 5 minutes
 - 600 emails per hour

These limits are defined in zproject/computed_settings.py, and a comment should be left there pointing t

[2021-02-27 07:47] nikhilmaske-2001 commented on #17435
@zulipbot claim

[2021-02-27 09:16] ganpa3 commented on #17419
somewhat similar discussion here:
https://chat.zulip.org/#narrow/stream/9-issues/topic/Why.20isn't.20whitespace.20preserved.3F

[2021-02-27 09:38] WesleyAC commented on #17419
Here's what this bug looks like: ![zulip-tabs-spaces-bug](https://user-images.githubusercontent.com/5001092/109383632-97596800-7922-11eb-81c4-499d8b5fdaa6.gif)

[2021-02-27 09:48] WesleyAC commented on #17396
IMO having the composebox automatically load the most recent draft for the narrow you're in is a good solution here. I don't see a case where that could be the wrong thing to do, at least.

[2021-02-27 10:49] gautelund commented on #1413
I would really like to see this feature. Exactly as described. Coming from Slack I always used their Avatar-less and compact layout. And one of my favorite pastimes is to deride Teams for their waste of space layout, esp. to those claiming "we should do **_everything_** in Teams". MS will maybe some day get to it, but you should beat them to it:
https://microsoftteams.uservoice.com/forums/555103-p

[2021-02-27 19:17] yasiruRathnayaka97 commented on #16426
@timabbott  can you review my code. Pipeline fail with the error " waiting for selector `#delete_message_modal` fail". That occur as I replaced the modal with popover.

[2021-02-27 19:25] yasiruRathnayaka97 commented on #16426
@timabbott  can I change  ~\zulip\frontend_tests\puppeteer_tests\13-delete-message.ts to avoid the frontend failure.

[2021-02-27 22:19] octogonz commented on #17396
This would definitely be an improvement.

[2021-02-28 08:31] yasiruRathnayaka97 commented on #17349
@pilgrim2308  can I help you to fix this

[2021-02-28 08:41] pilgrim2308 commented on #17349
Sure! This is occurring in those cases where the tooltip content wraps onto an extra line. I've not been able to figure out why it isn't getting rendered correctly in those cases.

Another small issue I noticed along with this:

The tooltip is positioned differently on hovering for the first time after refresh than it is for every subsequent time.

![incorrect_position](https://user-images.githubu

[2021-02-28 13:44] yonixw commented on #364
Maybe it will help, this is how I patched it:
changed the file https://github.com/zulip/zulip/blob/master/zerver/views/message_fetch.py#L548:

[code]

Using it, searching `~word` will search `word` as a wildcard in the `rendered_content` column.
Side effect: if none match, all the messages are returned... so still need tuning. but at least the wildcard search works good.
Replaced in the docker, re

[2021-02-28 14:15] ZelphirKaltstahl opened #17441 "Install script assumes useradd to be available"
I am not sure, whether this constitutes a proper issue, but here we go:

I tried installing Zulip server according to the guide at <https://zulip.readthedocs.io/en/stable/production/install.html#step-2-install-zulip>. I changed `--certbot` to `--self-signed-cert`. This is because I am installing inside a virtual machine to test things out.

[code]

In addition I changed my `/etc/hosts/` file to re

[2021-02-28 16:24] godlike786 commented on #16808
@hackerkid I would like to work on this, should I create a topic in the feedback stream regarding this?

[2021-02-28 17:03] godlike786 commented on #16825
https://chat.zulip.org/#narrow/stream/137-feedback/topic/Mermaid.20Js.20renderer.20support

[2021-02-28 17:48] UchihaSomil commented on #16233
Hi @Abhirup-99 , is there any issue left in this update? if yes then I will be happy to contribute if I can.

[2021-02-28 19:09] yasiruRathnayaka97 commented on #17349
@pilgrim2308 I solved the first issue (not a 100% perfect solution. simple hack).Is this what you want?

first screenshot:

![Screenshot (18)](https://user-images.githubusercontent.com/57071700/109430120-9ceba680-7a25-11eb-8ac7-854998d5f29a.png)

second  screenshot:

![Screenshot (17)](https://user-images.githubusercontent.com/57071700/109430195-171c2b00-7a26-11eb-9634-10381c0967df.png)

[2021-02-28 19:45] UchihaSomil commented on #16808
@hackerkid can I pick this as my first issue? I can provide suggestive wireframe , followed up by UI.

[2021-02-28 19:58] yasiruRathnayaka97 commented on #17349
@pilgrim2308 I also solved the 2nd issue.

[2021-02-28 20:13] Abhirup-99 commented on #16233
The pr is just awaiting review now. Everything required was completed. @timabbott would you like taking a look at the pr, it has been sitting here for quite sometime.

[2021-02-28 21:56] najlase commented on #17441
@zulipbot claim

[2021-02-28 22:57] najlase commented on #17169
@zulipbot claim

[2021-02-28 23:17] najlase commented on #17169
@rutvi18
I think this is an expected and normal behaviour since the user's name overlaps with the settings menu only when that user is hovered.

[2021-03-01 00:21] najlase commented on #17441
@ZelphirKaltstahl
Until thr PR gets reviewed, you can solve this issue by updating the $PATH variable using this command: **export PATH=$PATH:/usr/sbin/useradd**

[2021-03-01 00:51] timabbott commented on #17441
I believe `useradd` is present in `/usr/sbin` on Debian, as part of the required `passwd` package.  Maybe you're running the installer from a context where `/usr/sbin` isn't part of $PATH.  What exact virtualization technology are you using?

[2021-03-01 04:53] edith007 commented on #10798
@zulipbot claim

[2021-03-01 06:20] soumyankar commented on #14732
@zulipbot add "good first issue"

[2021-03-01 06:20] soumyankar commented on #14732
@zulipbot claim

[2021-03-01 07:52] andreasoc commented on #8005
ok @gnprice we hope it will be completed

[2021-03-01 08:39] lascimmia commented on #16402
I think so

Il gio 25 feb 2021, 16:26 Kenny Kariappa <notifications@github.com> ha
scritto:

[2021-03-01 10:53] CyrilVanErsche opened #17447 "Any way to manually install Zulip step by step for a production server ?"
Hello,

I would like to install Zulip on a production server but without using the install script.

Why ?
Because, for example, I don't want Zulip to add the apt postgresql's repository on my system, I want to configure Zulip's dependencies manually (postgresql, rabbitmq, etc) and then configure Zulip to use them.

So I have look over the docs and found this : https://github.com/zulip/zulip/blob/m

[2021-03-01 11:00] hkpanchani opened #17448 "Compress an image before sending."
Add support for image compression to save bandwidth and server space also..
This can help smoothness in chat also like most chat platforms does it..  although to achieve this we need to update all the client software though.

[2021-03-01 12:07] aryanshridhar commented on #17347
Hey @ligmitz, Are you still working on this issue?

[2021-03-01 12:30] ligmitz commented on #17347
@aryanshridhar I had some discussion in czo regarding the implementation of this and the UI/UX part. There is still few things to be discussed I guess regarding the functionality.

[2021-03-01 12:56] aryanshridhar commented on #17347
Cool! @ligmitz, I would love to take a stab at it. Will get back to czo if I face any issue regarding the UI/UX part for further discussions.
@zulipbot claim

[2021-03-01 14:47] edith007 commented on #12555
@zulipbot claim

[2021-03-01 15:24] yasiruRathnayaka97 commented on #17334
@zulipbot  claim

[2021-03-01 15:29] yasiruRathnayaka97 commented on #17334
In addition to that when scrolling color picker move up and down.

![Screenshot (20)](https://user-images.githubusercontent.com/57071700/109519121-f65cdf80-7ad0-11eb-8ab8-9e7444ae1e95.png)

[2021-03-01 15:40] yasiruRathnayaka97 opened #17451 "color picker move up and down when scrolling."
Color picker should disappear when scroll the stream settings.

![Screenshot (20)](https://user-images.githubusercontent.com/57071700/109519121-f65cdf80-7ad0-11eb-8ab8-9e7444ae1e95.png)

_Originally posted by @yasiruRathnayaka97 in https://github.com/zulip/zulip/issues/17334#issuecomment-788036430_

[2021-03-01 15:40] yasiruRathnayaka97 commented on #17451
@zulipbot claim

[2021-03-01 15:54] shubham4901 commented on #17417
Yes I also wanted this feature too,
I have not submitted any requests but after the PR I'm ready to use it but it's not seem to be working fine from my side too.
If there is more than 3 people are here for this one feature only than it is important to be working fine. I'm damm sure that it not only three there are number of people who are waiting for this feature.
Please, I'm asking again to fix t

[2021-03-01 16:45] 100RABHpy commented on #17448
Hello @hkpanchani,
Are you working on this issue?
If not, I can work on this. Also, can you elaborate more on what do you mean by updating all client software?

[2021-03-01 17:23] hkpanchani commented on #17448
@100RABHpy you can start working on this issue..
As image compression i think it should be done on client software like mobile app or desktop not on the server i guess to achieve the bandwidth optimization.

[2021-03-01 18:22] ZelphirKaltstahl commented on #17441
I am running Debian 10 inside Virtualbox version `6.1.16_Ubuntu r140961`.

I'll try this.

[2021-03-01 18:26] 100RABHpy commented on #17448
Thanks for allowing me to work.
Yes, I got it. It will make no sense if we have to upload it to the server for compression.

[2021-03-01 18:46] ZelphirKaltstahl commented on #17441
Running with root privieges:

[code]

worked and gets me to:

[code]

Thanks for your help with this.

[2021-03-01 21:26] tanweeralii commented on #12447
Hey @timabbott, I am new here, I was looking for a good first issue. But found this issue. Most good -first issue seems to be assigned. Is it possible for me to work on this issue as I know I cannot be assigned this issue because I did not do any good first issue yet. Still is it possible for me to submit a pr for this. I really want to start with this bug.

[2021-03-01 22:16] #16258 closed

[2021-03-01 22:23] timabbott opened #17454 "Add support for a per-stream version of the "Default code block programming language""
Last year, we added the "Default code block programming language" feature, which has been really popular in some programming language communities.  However, for any software project that has multiple languages involved (E.g. Zulip itself), it's not super useful, because different parts of the project tend to talk about code in different languages.  While to some extent it's just hard to guess, we

[2021-03-01 23:12] timabbott opened #17455 "Clean up `--force` provisioning check parameter in our testing tools."
Our `--force` parameter in our testing script is a bit confusing for some users (See https://chat.zulip.org/#narrow/stream/49-development-help/topic/error/near/1125680) and investigation determined the problem is that it isn't documented/named clearly for what it does (skip the check that PROVISION_VERSION matches between the last time you provisioned and what's in source control).  We should also

[2021-03-02 03:07] m-e-l-u-h-a-n commented on #17455
@zulipbot claim

[2021-03-02 05:01] godlike786 commented on #17454
@timabbott can I work on this?

[2021-03-02 05:02] godlike786 commented on #17454
@zulipbot claim

[2021-03-02 07:36] Snuupy commented on #11845
https://github.com/zulip/zulip/issues/11845#issuecomment-544161023

I really like this. I changed the colors to `090909` myself so it would be darker. I also commented out the `box-shadow` because I want to know which messages I currently have focused.

[2021-03-02 10:30] andreas-bulling opened #17456 "LDAP synchronisation of disabled account not working on FreeIPA"
Hi,

I am using zulip in combination with FreeIPA (LDAP-based authentication server). Unfortunately, there doesn't seem to be support to automatically detect disabled accounts and to automatically disable them in zulip as well. I only found something for Active Directory.

The corresponding field in FreeIPA is called `nsAccountLock`

I think this feature would be extremely useful.

[2021-03-02 14:11] tushar912 commented on #17454
@zulipbot claim

[2021-03-02 15:50] edith007 commented on #7660
@zulipbot claim

[2021-03-02 17:09] aDotInTheVoid commented on #987
This happened to me, but the problem was SELinux. [This](https://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/) is the solution, run ` chcon -Rt svirt_sandbox_file_t .vagrant     `. Is is secure. 🤷

Hope it helps someone.

[2021-03-02 18:55] aeonjedi opened #17459 "How do you reorder streams in Zulip?"

[2021-03-02 18:57] aeonjedi commented on #10552
Any progress on this update of categories/grouping streams?

[2021-03-02 19:46] hackerkid commented on #16808
@godlike786 @UchihaSomil Can one of you folks start a discussion on chat.zulip,org regarding this issue. The first thing we want to decide is whether this is a feature we want.

[2021-03-02 20:30] m-e-l-u-h-a-n commented on #17455
@timabbott pr #17460 to address this is ready for review.

[2021-03-02 21:49] andersk commented on #17265
@ashantilong Pygments is an upstream project with different maintainers and different development processes. The zulipbot “claim” comment that you just sent to the upstream issue isn’t going to do anything but confuse those maintainers. You’ll need to figure out how that project works and follow its rules.

[2021-03-03 00:53] timabbott opened #17463 "Improve check for whether an organization hasn't setup an organization profile"
We currently have this logic to check whether to display a banner for an organization's profile not having been completed:

[code]

We got a complaint that this was appearing for an organization had already added a profile; the cause turned out to be that their description had been edited to be a few paragraphs still starting with "Organization import from ...".

Reading the code, the second test

[2021-03-03 05:58] JIANCHUJUN opened #17464 "<Issue> How to install Zulip in a private network"
I am following the instruction on " https://zulip.readthedocs.io/en/stable/production/install.html#step-1-download-the-latest-release " to install a Zulip server. I am installing it in a remote server, however, I want that Zulip can only be accessed by users in a private network.

The installation command I used is `sudo -s ./zulip-server-3.3/scripts/setup/install --certbot --email=xxx@yy.com --ho

[2021-03-03 06:13] UchihaSomil commented on #16808
@godlike786 , I have raised this topic in design stream.

[2021-03-03 06:38] Chainesh commented on #17463
@zulipbot claim

[2021-03-03 07:05] jarforce opened #17465 "Requested tc_aws==6.3 but installing version 3.0a0"
Hi,
I got below warning when install and upgrade latest version:
- the version tc_aws==6.3 not found on https://github.com/kkopachev/aws/archive/
- and also not found on https://github.com/thumbor-community/aws
- This should be effected in case can not config Zulip to use S3 (on WASABI or some service like that) ?. At my case I can not done with S3 config using Wasabi.

[code]

[2021-03-03 09:40] abhijeetbodas2001 opened #17466 "Link to quoted message breaks when topic has parenthesis in it."
If a message (A) has ~~brackets~~ `(` or `)` in its topic, when A is quoted in message B, the link to A in B is broken.

For example, if A's topic is `(testing 001` or `testing 001)` then that would break when quoted, but `testing 001` would not.

See https://chat.zulip.org/#narrow/stream/9-issues/topic/Link.20to.20quoted.20msg.20with.20topic.20having.20brackets.2E/near/1125292 for more details an

[2021-03-03 11:11] m-e-l-u-h-a-n commented on #16971
@aryanshridhar are you still working on this, Can I take this up if you are busy?

[2021-03-03 11:30] m-e-l-u-h-a-n commented on #17059
@zulipbot claim

[2021-03-03 11:44] tushar912 commented on #13395
@kostekIV do you wish to continue your PR or I can take it up.

[2021-03-03 15:26] q00d0 commented on #17448
Please make this configurable! Not everybody likes compressed pictures...

[2021-03-03 16:04] 100RABHpy commented on #17448
Yeah, Great Point. I'm still discussing this with the Zulip maintainer. If this feature is added, we'll keep this as an option for the user to choose.
Thanks for the feedback :).

[2021-03-03 16:23] Sourabh025 commented on #17463
@zulipbot claim

[2021-03-03 16:33] Uttam-Singhh opened #17467 "Add a label for Next and Previous arrow button on the Landing page of Zulip."
### Label is required for arrows next and previous arrow.

## Current:
![WhatsApp Image 2021-03-03 at 9 53 12 PM](https://user-images.githubusercontent.com/63050765/109838414-24c2f200-7c6c-11eb-815a-0813f298c369.jpeg)
![WhatsApp Image 2021-03-03 at 10 01 34 PM](https://user-images.githubusercontent.com/63050765/109838440-2c829680-7c6c-11eb-92a8-566d98d46f54.jpeg)

## Desired:
![WhatsApp Image 2021

[2021-03-03 16:34] Uttam-Singhh commented on #17467
@zulipbot add "good first issue"

[2021-03-03 16:35] Uttam-Singhh commented on #17467
@zulipbot add 'good first issue'

[2021-03-03 16:36] Uttam-Singhh commented on #17467
@zulipbot add "good first issue"

[2021-03-03 17:08] manasivaraiya commented on #17467
Can I try doing this?

[2021-03-03 17:10] Uttam-Singhh commented on #17467
@manasivaraiya  Sure!

[2021-03-03 17:17] #17455 closed

[2021-03-03 17:23] #17459 closed

[2021-03-03 17:34] godlike786 commented on #17463
@timabbott Can I work on this ?

[2021-03-03 17:44] timabbott opened #17469 "Adjust messaging for users who have 50K unread messages"
Zulip's system for tracking unread messages fetches the most recent 50K unreads and sends those to clients; this results in the bankrupty notice claiming 50K unreads (https://twitter.com/ProfKinyon/status/1366869498804858882) as well as the total unread counts in the left sidebar.  We should probably adjust the language of the bankruptcy notice to express that Zulip only shows the most recent 50K

[2021-03-03 17:53] hackerkid commented on #16808
@sysardex To be clear, is the feature request to limit the users in the right side bar(which shows online users) to only users that are also subscribed to the same streams as the logged in user?

[2021-03-03 17:56] JacobRoddam commented on #17469
@zulipbot claim

[2021-03-03 18:10] Riken-Shah commented on #17396
@zulipbot claim!

[2021-03-03 19:49] edith007 commented on #17205
@ligmitz are you still working on this??

[2021-03-03 19:57] adithyaakrishna commented on #17464
@JIANCHUJUN  I don't think an IP Address is Possible, I would suggest you to use a Publicly accessible Domain Name for the hostname
https://zulip.readthedocs.io/en/latest/production/settings.html

Or else you can  map the IP address of your hosting server to a domain name

You can do this in the terminal by,

sudo nano /etc/hosts
In that file, add the following at the bottom:

192.0.2.3 zulip.myla

[2021-03-03 22:55] alexmv opened #17474 "Strip image metadata from image uploads"
Currently, Zulip uploads and serves user images completely un-modified.  Images contain a large amount of data which users may not be aware of (most notably, often location information, for pictures from smartphones; but a great deal of other information as well).

Serving the image exactly as uploaded, with full metadata, is useful for folks who are attempting to collaborate on professional image

[2021-03-04 00:29] gnprice commented on #17474
Here's what Signal (at least the Android client) does:
https://github.com/signalapp/Signal-Android/commit/7e1e666172e0c8d0582d28a817affae91a02a598
which I found from discussions in their tracker:
https://github.com/signalapp/Signal-Android/issues?q=exif

It removes all EXIF metadata, at the same time as applying `Orientation`. So effectively it's as if it has an allow-list of just `Orientation`.

[2021-03-04 00:46] timabbott commented on #17456
@andreas-bulling have you read https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#synchronizing-data?  There's a section on automatically disabling accounts.  I'm not sure whether we need code changes or just configuration to support `nsaccountlock`; do you have documentation on its format?

[2021-03-04 05:45] timabbott commented on #17464
@JIANCHUJUN certainly you can't use Certbot with a private network, so getting an error there is expected.

I would encourage you to post in "production help" chat.zulip.org with details about your configuration, but since Zulip is designed to only use SSL, having a hostname that's just an IP address isn't going to work.  The suggestion in the last comment should help you.

[2021-03-04 05:45] #17464 closed

[2021-03-04 06:51] aryanshridhar opened #17476 "Gear menu being active when app loads"
Noticed a minor issue in Czo of `gear-menu` being active (as if it's being continuously hovered upon) when a app loads.
It occurs when one is present on `Recent-topic` sidebar and reloads the page/directly opens the app without any query being attached to it.

![gear-menu](https://user-images.githubusercontent.com/53977614/109922890-11ec0400-7ce4-11eb-99ae-cd077bdf6c92.png)

[2021-03-04 06:54] Riken-Shah opened #17477 "Fix non deterministic fails of Puppeteer Tests with Firefox."
This issue tracks all the issues that occur when running the Puppeteer Tests 100x in CI in Firefox mode.
(_As pointed out by @timabbott in https://github.com/zulip/zulip/issues/17136#issuecomment-781670510_)

[2021-03-04 07:33] pilgrim2308 opened #17478 "Redundant 'condense message' option for long messages"
To reproduce, expand a long message. Go to `edit`/`view source` tab. A `condense message` option will be visible which produces no visible changes. Next, either `save`, `cancel`, or `copy and close` the edit box. Scroll down to the bottom of the long message. Both `More...` and `Condense message` options will be visible.
![redundant-condense](https://user-images.githubusercontent.com/59016893/1099

[2021-03-04 07:45] andreasoc opened #17479 "Said translation"
Hi, it seems that the SAID string is not translatable in italian? I remember some old discussions that were already being talked about.
@timabbott  confirms that there is no tag available for translation.
In Italian the translation is HA SCRITTO

[2021-03-04 07:55] andreas-bulling commented on #17456
Yes, as I said - I found the instructions for AD but the flag/variable is different for FreeIPA. It's called `nsAccountLock` and seems to be either true/yes or false/no

[2021-03-04 08:37] gnprice commented on #17311
#17403 was reverted in #17468, so this remains open.

[2021-03-04 08:41] aryanshridhar commented on #17311
Adding a updated pr in few minutes.

[2021-03-04 09:10] ligmitz commented on #17205
@edith007 Not now. You can go ahead and work on this if you want.

[2021-03-04 09:14] edith007 commented on #17205
@zulipbot claim

[2021-03-04 10:16] b-thebest commented on #17463
Can I work on this issue??

[2021-03-04 11:16] edith007 commented on #17474
vector-im (Matrix client) is also trying to strip EXIF metadata...
I found that from discusstions in this issue: https://github.com/vector-im/element-web/issues/4426

This the following PR they have implemented till now: [https://github.com/matrix-org/matrix-react-sdk/pull/1307](https://github.com/matrix-org/matrix-react-sdk/pull/1307)

There is a toolkit designed for this [https://pypi.org/projec

[2021-03-04 13:37] klfoulk16 commented on #17181
@zulipbot claim

[2021-03-04 13:53] tushar912 commented on #17463
@zulipbot claim

[2021-03-04 15:34] b-thebest commented on #17463
@zulipbot claim

[2021-03-04 15:57] abhijeetbodas2001 commented on #4627
@zulipbot claim

[2021-03-04 16:56] m-e-l-u-h-a-n commented on #13240
@timabbott can we proceed on this by adding a `reaction_time` field to the `Reaction` model. I opened [https://chat.zulip.org/#narrow/stream/2-general/topic/Recent.20reactions.20.2313240](https://chat.zulip.org/#narrow/stream/2-general/topic/Recent.20reactions.20.2313240) on czo with a more detailed plan I thought with this approach. Can you give a look to the topic? Also wanted to ask if this iss

[2021-03-04 17:46] dhavalmaniyar commented on #17454
Hello @timabbott,
Where can I find the default code-block programming language feature? I am not able to see it on organization settings page.

[2021-03-04 18:02] timabbott commented on #17454
It's on "Organization settings", near the bottom, but there's a bug on that page right now that made the label invisible (will be fixed by EOD).

[2021-03-04 18:51] timabbott opened #17487 "Extend mention syntax to be more convenient for use by bots"
We should extend our user mention syntax, which currently allows only `@**Full Name|10349**`, to also allow `@**|10349**`.  This will make it more convenient for bots and the like to generate syntax for mentioning a user without needing to fetch the user's name and include it in the syntax.  We will still want to prefer the current syntax that includes the user's name for compose typeahead box use

[2021-03-04 18:53] timabbott commented on #16402
https://github.com/zulip/zulip/pull/12511 is relevant background; I'd start with rebasing, testing, and cleaning up that PR.

[2021-03-04 19:08] andersk commented on #17465
The version mismatch warning can be ignored. The `tc-aws` package really is that confused about its own version number when it’s installed from Git, but since we install from the archive of a specific commit hash, there is no possibility of getting the wrong version. Whether our Thumbor is actually expected to work with S3 at this time would be a question for @amanagr; however, since we do not ena

[2021-03-04 19:30] Esgrima commented on #1211
PR: #17258 was merged last night. The final step to close the issue is to replace the local/inner Request classes and usage in test_decorators.py with HostRequestMock. I'll start working on that this upcoming weekend.

[2021-03-04 19:40] #16554 closed

[2021-03-04 20:32] #16674 closed

[2021-03-04 20:42] timabbott commented on #13240
I don't think we need a time field in order to sort by that, since we have the `message_id` and `reaction_id` fields, which are already both sorted by time.  (We don't need to know the precise time, just be able to sort by it).

[2021-03-04 23:26] timabbott commented on #17476
Thanks for the report!  Definitely worth debugging.

[2021-03-04 23:28] #17478 closed

[2021-03-04 23:46] timabbott opened #17495 "Add support for checkbox-style custom profile fields"
Currently, Zulip's [custom profile fields](https://zulip.com/help/add-custom-profile-fields) feature has a bunch of field types, but none of them are appropriate for selecting a set of values from a larger set (E.g. a set of parts of an open source project that one is involved in).

This seems like a generically useful idea; I think there's probably 2 variants that make sense: One where anyone can

[2021-03-04 23:58] andersk commented on #17474
A number of colorimetric tags are needed for correct rendering, such as `ColorSpace` and `ICC_Profile` (this does not attempt to be an exhaustive list).

[2021-03-05 01:07] #17138 closed

[2021-03-05 01:35] timabbott commented on #17037
@vanclute can you provide more detail / a reproducer for the issue you're seeing?  If we don't have that, we'll need to close this as invalid (perhaps because it's already fixed in master since our last release?  Though I'm not aware of us having fixed a bug of this form).

[2021-03-05 01:36] #17095 closed

[2021-03-05 02:06] gnprice commented on #17495
Specifically, this feature request is for a checkbox-style field:
* the org admins will provide a list of possible values, just like for `CHOICE` today;
* the settings UI for an individual user will show all the available values, with a checkbox for each one.

A possible future variation would be to allow users to add their own values, beyond the ones the admins have chosen. That will require some

[2021-03-05 02:26] jarforce commented on #17465
With below config already on setting.py by refer: > https://zulip.readthedocs.io/en/latest/production/upload-backends.html
- S3_AUTH_UPLOADS_BUCKET =
- S3_AVATAR_BUCKET =
# - S3_ENDPOINT_URL = https://s3.us-west-1.wasabisys.com

I also tested login to my S3 Wasabi by CLI  without any error.

So I realized in this case Zulip might try to login to AWS S3, they ignored "S3_ENDPOINT_URL" on setting.py

[2021-03-05 04:22] andersk commented on #17465
The `S3_ENDPOINT_URL` setting is new in Git `master`. If you want to try that, see [upgrading from a Git repository](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository).

Closing as a duplicate of #16246.

[2021-03-05 04:22] #17465 closed

[2021-03-05 06:29] m-e-l-u-h-a-n commented on #17487
@zulipbot claim

[2021-03-05 07:06] nikhilmaske-2001 commented on #17263
@zulipbot  I am still working on this issue.

[2021-03-05 09:15] cormullion commented on #17415
How do I get rid of the "Recent topics (beta)" display that now appears when I launch Zulip?

[2021-03-05 09:43] edith007 commented on #17495
@zulipbot claim

[2021-03-05 10:41] RalfJung opened #17496 ""Recent topics": checkboxes are selected without being checked"
Something seems to be wrong with the new "recent topics" UI: when I open it, it looks as follows.
![Screenshot_20210305_114018](https://user-images.githubusercontent.com/330628/110104546-9489c780-7da7-11eb-8f57-824a71b77d86.png)

Notice how the three checkboxes are slightly darker as if they were checked, but aren't actually checked. Clicking any one of these unchecked checkboxes makes the *other

[2021-03-05 13:27] tushar912 commented on #17495
@zulipbot claim

[2021-03-05 17:20] showell commented on #17306
When I said "leave the middle page alone" I didn't mean it to be blank, but I am admittedly undecided myself on what **should** go there.  Do you have any thoughts on what we could put there?

[2021-03-05 19:29] TylerPham2000 commented on #16920
@zulipbot claim

[2021-03-05 20:24] zzzoom opened #17502 "Forwarded message bodies dropped in emails to stream"
We're having issues with a stream that mirrors an announcement mailing list. Most of these emails are forwards, so the stream is subscribed to the mailing list using an `*.show-sender.include-quotes@streams.zulipchat.com` address.
Sometime between Dec 1 and Dec 3, our Zulip Cloud instance started replacing the forwarded part of the message with "(No email body)". Should we add `.include-footer` to

[2021-03-05 20:28] timabbott commented on #17502
I would certainly test `include-footer`; one possibility is the third-party library that we use for stripping footers is detecting the forwarded email style used here as a footer.

[2021-03-05 21:13] vanclute commented on #17037
I was never seeing the issue, I wanted to find out if it was possible go create, and then search for, custom emojis.  That brought me to the thread in Zulip, saying that no, custom emojis were not searchable, but standard included emojis were.  We have not yet tried creating a custom emoji, as one main reason to do so would be so that they can be explicitly searchable and if that feature doesn't w

[2021-03-05 22:34] timabbott commented on #16959
I think the correct fix is likely to be effectively re-loading the narrow in the event that a topic edit happens affecting any of the messages in a currently visible search narrow.  We already do that sort of reload in various situations.

Structurally, the `match_topic` field is intended to highlight any places where the search terms appear in topics, and is computed server-side, so if that becom

[2021-03-05 22:40] #17172 closed

[2021-03-06 00:18] timabbott commented on #1211
Awesome!  It'll be really nice to close out an issue this old :)

[2021-03-06 01:00] mojavelinux commented on #12572
Am I understanding correctly that each user who wants to connect via matrix has to run this bridge? Or is the bride something the organization can set up so all matrix users can use it? If it's the latter, is this something that Zulip could offer as part of its Standard Plan?

[2021-03-06 04:09] gnprice commented on #17474
Interesting, thanks for those pointers!

The Matrix PR sounds like it drops all EXIF information. That's certainly the easiest thing to do, but it will mangle images somewhat. It would be interesting to pin down whether it indeed does that, or if not then what it does do.

In that `mat2` library, it looks like what it does on JPEGs is also to drop all EXIF information -- and in fact that it outsou

[2021-03-06 04:34] gnprice commented on #17474
Another thing I learned from looking at a few of these implementations: there are several kinds of metadata to be stripped here (even just from JPEG files alone), in addition to EXIF. Here's a nice primer:
https://en.wikipedia.org/wiki/JPEG#JPEG_files

That "Scrambled Exif" implementation drops all kinds of segments that are used for extensions to JPEG, including EXIF:
[code]

Here's a nice table

[2021-03-06 06:31] smitpatel24 commented on #17469
@zulipbot claim

[2021-03-06 11:15] sahil839 opened #17508 "Incorrect subscribe/unsubscribe bookend when a topic is moved from unsubscribed to subscribed stream."
A subscribe and unsubscribe bookend is added when a message is moved from an unsubscribed stream to a subscribed stream.
Steps to reproduce in dev server -
- Login as 'Iago' and move a topic from a stream, say A to which cordelia is not subscribed, to a stream B to which cordelia is subscribed.
- Login as 'Cordelia' and narrow to stream B and scroll to the topic which was moved. There will be subs

[2021-03-06 11:18] sahil839 commented on #17508
@zulipbot add "bug" "difficult"

[2021-03-06 17:36] dhushya commented on #17476
Can I work on this issue?

[2021-03-06 17:42] dhushya commented on #17476
@zulipbot claim

[2021-03-06 17:44] prashantpandey9 opened #17513 "i18n: Adding more suppport for Hindi translation"
Hi, I want to add more support for Hindi translation. It seems there are so many strings that need to be translated.
@timabbott  Can I work on this?

[2021-03-06 19:17] ashantilong commented on #17502
@zulipbot  claim

[2021-03-07 09:16] nishantwrp commented on #16946
@timabbott ptal at the PR.

[2021-03-07 10:20] prashantpandey9 commented on #17513
@zulipbot  claim

[2021-03-07 10:41] prashantpandey9 commented on #17513
@zulipbot add "area: i18n"

[2021-03-07 13:55] edith007 commented on #601
@zulipbot claim

[2021-03-07 14:02] amanagr commented on #17415
Hi @cormullion see discussion in https://chat.zulip.org/#narrow/stream/137-feedback/topic/all_messages.20as.20home.20view.20again

[2021-03-07 18:30] lukem1 commented on #17231
Still working on it!

[2021-03-07 19:22] comex commented on #14337
Note that Gmail's web client (and probably other official clients) will magically thread Zulip notifications for the same topic because they share a sender and subject line, but other clients don't.

I currently don't have any filters set for Zulip notification emails, so they go to my inbox.  That's fine on gmail.com: each topic takes up one line, and there are usually at most 1-2 topics per day

[2021-03-08 06:21] timabbott commented on #17476
I think anyone can work on this issue who is able to figure out why that element is focused -- there's not much partial progress until one's figured that out, and I'm guessing the issue will be easy to fix once one does understand that.  So this issue may be a bit odd for claiming.

[2021-03-08 07:58] dhushya commented on #17476
At first I had thought it was going to be a easy fix as it was just a matter of fact of checking how the screen reloads at that particular situation. But then I realised that I had to do a lot more debugging to actually reach that point. But I can reciprocate that issue

[2021-03-08 07:58] dhushya commented on #17476
@zulipbot abandon

[2021-03-08 13:23] abhishekdeshmukh2209 opened #17521 "Getting 500 for all apis if more than 20 users are logged in at a time"
Keeping the browser open for more than 21 users, application goes down and all API's give error 500 for api request after that.

Mon Mar  8 12:03:30 2021 - SIGPIPE: writing to a closed pipe/socket/fd (probably the client disconnec
ted) on request /login/ (ip x.x.x.x) !!!
Mon Mar  8 12:03:30 2021 - uwsgi_response_writev_headers_and_body_do(): Broken pipe [core/writer.c li
ne 306] during GET /login/

[2021-03-08 14:57] jannekemorin commented on #6358
@zulipbot I am still working on this!

[2021-03-08 15:03] jannekemorin commented on #17496
@zulipbot claim

[2021-03-08 15:04] jannekemorin commented on #6358
@zulipbot unclaim

[2021-03-08 15:05] jannekemorin commented on #17496
@zulipbot claim

[2021-03-08 18:47] Crimson25 commented on #17476
@zulipbot claim

[2021-03-08 19:04] edith007 commented on #13854
@orientor are you still working on this feature??

[2021-03-08 19:08] WookieMonkeys commented on #17016
Thanks @zulipbot Getting around to this now :)

[2021-03-08 20:29] #17435 closed

[2021-03-08 20:36] DavidThompson8 commented on #17070
I've been having trouble finding where the settings for link previews are in the code so I can see how they're implemented and try to work on this. I've been looking at all the settings.js files in /static/js...am I looking at it and not realizing it, or is it somewhere else in the code?

[2021-03-08 21:02] #17408 closed

[2021-03-09 02:42] mohit-patel commented on #17448
Image uploading from mobile apps is unpredictable and almost never works. Would request for some solution for this.

[2021-03-09 03:39] alexmv opened #17529 "Warn about backwards-incompatible database migrations"
When running a deploy with multiple frontend servers and a single database, or a blue/green environment pointed at a shared database, the data model most always be able to backend to both old and new database schemas.  This means the following types of migrations are _a partial list_ of disallowed migrations:
 - Model removals if the model is referenced anywhere
 - Model renames
 - Field renames

[2021-03-09 04:22] mgshestko commented on #16080
Zulipbot, I am still working the issue.

Thank you.

MG

[2021-03-09 04:22] 100RABHpy commented on #17466
@zulipbot claim

[2021-03-09 05:03] mgshestko commented on #16080
@zulipbot abandon

[2021-03-09 05:03] mgshestko commented on #17248
@zulipbot claim

[2021-03-09 05:52] mandepsingh commented on #17463
@zulipbot claim

[2021-03-09 06:52] edith007 commented on #7935
@zulipbot claim

[2021-03-09 13:23] sfaudry commented on #3917
@zulipbot claim

[2021-03-09 15:27] ssayce0511 commented on #17274
@zulipbot abandon

[2021-03-09 15:43] aryanshridhar commented on #17274
@zulipbot claim

[2021-03-09 15:52] ssayce0511 opened #17534 "Add Baremetrics bot to /integrations"
It was previously discussed [here](https://chat.zulip.org/#narrow/stream/19-documentation/topic/bots.20description) that there was a need for a brief description of available bots in Zulip's API documentation.

Currently, in the API docs there is only [mention](https://zulip.com/api/writing-bots#writing-interactive-bots) of the bot ecosystem directory structure. It would be useful to have a page t

[2021-03-09 15:53] ssayce0511 commented on #17534
@zulipbot claim

[2021-03-09 15:59] ssayce0511 commented on #17534
@zulipbot add "area: documentation (api and integrations)" "good first issue"

[2021-03-09 16:43] mateuszmandera commented on #10533
#14847 was merged a while back, so I'll go ahead and close this

[2021-03-09 16:43] #10533 closed

[2021-03-09 16:51] m-e-l-u-h-a-n commented on #13240
@zulipbot claim

[2021-03-09 18:50] Amritpal-001 commented on #17534
Hello @ssayce0511, I would like to take this issue.

[2021-03-09 19:12] yasiruRathnayaka97 commented on #17448
@100RABHpy  I have some experience about file compression using pako. You can use it to compress both images and other type of files/data. You have to use same version in both client and server. Otherwise you may experience unexpected results. I like to help If you need.

[2021-03-09 19:32] 100RABHpy commented on #17448
@yasiruRathnayaka97 Thanks for suggesting about client and server version issue. This thing is still in discussion, and I'm still making myself familiar with the code relevant to this.
Also, I was thinking of using [Pillow](https://pillow.readthedocs.io/en/stable/handbook/overview.html) library of python. Any perks of using "pako" over "pillow"?

[2021-03-09 20:07] suzaram3 commented on #7824
@zulipbot claim force

[2021-03-09 20:13] ashantilong commented on #17502
My name is Ashanti Long and I am new to the Zulip community and haven't quite yet master how to maneuver though everything. I am currently working on issue 17502 : "Forwarded message bodies dropped in emails to stream". I was hoping you or anyone can point me to the right direction in finding the code or information for where the subscription address is or forwarding messages occurs ?  @timabbott

[2021-03-09 20:17] yasiruRathnayaka97 commented on #17448
@100RABHpy Because of the compression should implement in client side are there good JS library for pillow?. You can even reduce the quality of image before upload using a canvas. It will be the better if user can choose compress or not.

[2021-03-09 21:06] m-e-l-u-h-a-n opened #17535 "inline meniton for users, groups and streams fail if they come after an invalid mention"
This bug was reported here:
[https://chat.zulip.org/#narrow/stream/9-issues/topic/markdown.20mention.20bug](https://chat.zulip.org/#narrow/stream/9-issues/topic/markdown.20mention.20bug)

If there is an invalid user name written inside mention syntax then all the subsequent valid mentions are also treated as invalid. This is true for user groups, and streams mentions too.

**An example**
for sourc

[2021-03-09 21:40] zzzoom commented on #17502
I've found the bug, it's in https://github.com/zulip/zulip/blob/1926daa244a6694a872f0b3a1c368e736f40d0c3/zerver/lib/email_mirror.py#L303: `filter_footer` checks that there is a single footer candidate (e.g. something that matches `/^--\s*$/`), but then it partitions the message at the first occurrence of `--` instead.

Since it's claimed I'll hold off on the PR.

[2021-03-09 22:53] Alexander3312 opened #17537 "responsive bug (left-sidebar)"
When you narrow your window, the left-sidebar (with the list of streams) disappears to leave more space.

At this point there are two symptoms:

 -When you click on the "3 points menu" of one of the top navigation-menu, if you click on one of this item a menu is supposed to appear ("mark all messages as read" for example), in our case, this menu is badly display (only for the top filters, the stre

[2021-03-09 23:12] ashantilong commented on #17502
Thank you so much!! You were a big help.  I am making a PR now @zzzoom

[2021-03-10 00:27] b-thebest commented on #17307
@zulipbot claim

[2021-03-10 01:00] timabbott opened #17540 "blueslip: Add support for development environment JS exception popups in portico pages"
We have a nice system implemented via the `blueslip` module, where any JavaScript exceptions seen in the Zulip development environment when working on the app are popped up on the screen, helping ensure one can't miss them.

However, this system does not work when working on portico pages like `/devtools/integrations`, which is an inconsistent and confusing debugging experience.  We should do what

[2021-03-10 02:38] amanagr opened #17542 "Error on hitting space in the add members box when editing a stream."
We get `Error: Cannot read property 'toLowerCase' of undefined`  when hitting space in the box to add members to a stream.
<img width="1979" alt="Screenshot 2021-03-10 at 8 05 03 AM" src="https://user-images.githubusercontent.com/25124304/110567453-8d800200-8177-11eb-9025-eef3de2eb197.png">

Reported by @ryanreh99 here - https://github.com/zulip/zulip/pull/16979#pullrequestreview-592389991

[2021-03-10 02:46] rht opened #17543 "Recent topics: several keyboard shortcuts don't work"
Currently, in recent topics view:

- [ ] `c` doesn't launch a compose box
- [x] Pressing `k` repeatedly to go up beyond the topic list, will go to the search bar which then type `kkkk` (likewise for `jjj`)
- [ ] `x` doesn't launch a private message box

[2021-03-10 03:45] ganpa3 commented on #17542
@zulipbot claim

[2021-03-10 03:46] yasiruRathnayaka97 commented on #16426
@zulipbot abondon

[2021-03-10 03:47] yasiruRathnayaka97 commented on #16426
@zulipbot abandon

[2021-03-10 05:00] smitpatel24 commented on #17469
@timabbott Do we just want to change the bankruptcy message for now? OR Should we change the 50k unread message limit and make it higher? OR both?

[2021-03-10 05:13] Jeevan-Kiran-Lenka commented on #17543
Hey @rht I want to work on this particular issue

[2021-03-10 05:18] nikhilmaske-2001 commented on #17540
@zulipbot claim

[2021-03-10 06:57] 100RABHpy commented on #17448
Yaa, I got your point.
But I'm saying that on the client-side, we first reduce the quality (using canvas or any suitable js library), encode(base64, binary, etc.) the file, and then send it to the server to decode the file.
I think decoding files in python will produce the same result. If not, we can decode the file in js, store it in the database and then continue in python(because most of the se

[2021-03-10 07:24] mandepsingh commented on #17543
@zulipbot claim

[2021-03-10 07:28] yasiruRathnayaka97 commented on #17448
@100RABHpy  you are right. decoding encoded data in python output the same results before encoding. I like to know that what is the method you use to tackle the problem. (in both ways encoding & decoding is a must)

first method:

- reduce the quality of the image. (reducing resolution)
- send to the server
- store in the database

second method

- compress
- send to the sever
- decompressed the c

[2021-03-10 07:35] mandepsingh commented on #17543
3. we have to go to streams to use x command - launch private message.

[2021-03-10 08:04] 100RABHpy commented on #17448
I'm thinking somewhat similar to the second method with some extra steps,
* compress
* send to the server
* decompressed the compressed image
* store in the database
* if the user has the compress option turned on, we compress the image again.<br>The last step makes sense because if the user faces issues while uploading images, they will face issues in retrieving the images.

[2021-03-10 08:14] mandepsingh commented on #16453
@zulipbot claim

[2021-03-10 08:49] yasiruRathnayaka97 commented on #17448
@100RABHpy you are right you have to add method to check whether client turn on/off the option.

[2021-03-10 11:26] Jeevan-Kiran-Lenka commented on #17534
@zulipbot claim

[2021-03-10 11:27] Jeevan-Kiran-Lenka commented on #17454
@zulipbot claim

[2021-03-10 12:18] amanagr commented on #17543
See discussion in https://chat.zulip.org/#narrow/stream/9-issues/topic/.2317543

[2021-03-10 12:55] mateuszmandera commented on #17487
Additionally we should also support email in place of the `id` - `@|user@example.com`, as discussed later in the https://chat.zulip.org/#narrow/stream/137-feedback/topic/Syntax.20to.20mention.20a.20user.20by.20email.20or.20id.20instead.20of.20name topic. This will require some additional care around email visibility concerns - in organizations with restricted email visibility, we need to ensure we

[2021-03-10 15:52] sdidriksen commented on #11348
I am also looking for iframe integration. Is there any more info on this?? I cannot find much in the documentation.

[2021-03-10 20:24] goretkin opened #17554 "Escape [unmatched] parentheses in topic URLs to be compatible with markdown syntax"
`[link name](https://a.zulipchat.com/#narrow/stream/a-stream/topic/a-topic-with-unmatched-(-parens)`

renders as

[link name](https://a.zulipchat.com/#narrow/stream/a-stream/topic/a-topic-with-unmatched-(-parens)

both on Zulip and in this issue tracker. This appears to be a limitation of the markdown syntax, or [possibly these characters are reserved](https://tools.ietf.org/html/rfc3986#section-2

[2021-03-10 21:13] alexmv opened #17555 "Outgoing webhooks should catch 407 errors more gracefully"
If a system is [configured to use smokescreen as the outgoing http proxy](https://zulip.readthedocs.io/en/latest/production/deployment.html#using-an-outgoing-http-proxy), attempts to make requests to prohibited IP ranges (e.g. `localhost`, `127.0.0.1`, `169.254.169.254`, etc) will result in an [HTTP 407 response](https://httpstatuses.com/407), which notifies the bot owner as follows:

We should sp

[2021-03-10 21:20] mojavelinux commented on #11752
While I would prefer a custom favicon (at least that's what my instinct tells me), I actually wouldn't mind if we could just change the color of the Zulip icon in some way. Like valdar said, once you have several chat tabs open, the only way to be able to tell them apart is to memorize the position you put them in. That's tough to manage. Having different colors would provide a stronger associatio

[2021-03-10 21:56] alexmv opened #17558 "Truncate or prevent overly-long sender addresses, for SES compatibility."
[Amazon SES](https://aws.amazon.com/ses/) has an (undocumented) limit on the size of address fields, and reject email with too-long `From` addresses, as follows:

[code]

This example header is the result of ["zalgo" text](https://en.wikipedia.org/wiki/Combining_character#Zalgo_text), and, when formatted, looks like:

[code]

This is bad because it results in dropped email notifications, and the u

[2021-03-10 21:59] ginahicks commented on #17469
Y does every one keep sending me these messages, this is my email address and account but like I said I know nothing about what any of this. This person yall r talking to us a hacker, he/she has has into my accounts n using my info. U better be careful in trusting someone like that! Just a fair warning

[2021-03-10 22:10] gnprice commented on #17558
I think regardless of whether we try to prevent these long names in the UI, we'll want to truncate them when necessary at send time -- there will be names that bypass the UI via LDAP, or Slack import, or predating that change (or else we have to have a migration to truncate them), etc.

Once we're truncating, it's inevitably going to be a bit crude, and I think anything that causes the mail to go

[2021-03-10 22:40] gnprice commented on #17466
To disambiguate: the character that triggers this is an unmatched `(`, aka left paren or left parenthesis. (Many people call that a "bracket" -- I think that's the usual term for it in British English -- but "bracket" also means `[` or `]`.)

[2021-03-11 04:28] abhijeetbodas2001 commented on #17466
Thanks, I updated the issue title and description.

[2021-03-11 04:40] digama0 opened #17561 "Source Sans 3 fails to load due to CORS missing Allow Origin"
This broke font rendering for me today (on ubuntu firefox); I suspect the recent rename of "Source Sans Pro" to "Source Sans 3" to be involved, but the developer console says that all the fonts are failing with a "CORS Missing Allow Origin" error:

[code]
These files have mimetype `application/font-woff` for the woff files and `application/octet-stream` for the woff2 and ttf files.

[2021-03-11 04:55] digama0 commented on #17561
The issue appears to have been momentary; fonts are getting served correctly now. I'll reopen this if the issue comes up again.

[2021-03-11 04:55] #17561 closed

[2021-03-11 06:52] edith007 commented on #17555
@zulipbot claim

[2021-03-11 09:04] pilgrim2308 opened #17564 "Redundant 'More' option in edit box of collapsed messages"
To reproduce, collapse a message and go to `edit`/`view source`. A `[More...]` option will be visible.
Issue similar to #17478.

![redundant-more-after-collapse](https://user-images.githubusercontent.com/59016893/110761401-b4246280-8275-11eb-9c48-2d75d9826cb8.gif)

[2021-03-11 10:58] juliohm commented on #17543
This issue is compromising the experience of users who are highly productive with keyboard shortcuts. I really love the new recent topics view but without being able to quickly trigger a `c` or `x` conversation from it, I can't stay there. Also the fact that the `k` goes beyond the list of topics is annoying because in order to get back we try to press `j` and it starts typing `jjj` in the search

[2021-03-11 11:05] andreas-bulling commented on #12611
same here - I just installed a new laptop with Ubuntu 20.04 and compared to the Mac I had before the font is way too small / barely readable.

[2021-03-11 11:09] orientor commented on #13854
@edith007 I had created a [PR](https://github.com/zulip/zulip/pull/13939).

[2021-03-11 11:36] CyrilVanErsche commented on #17447
I guess there is no way to do that, using docker can help to try Zulip.

[2021-03-11 11:36] #17447 closed

[2021-03-11 12:15] orendrasingh commented on #17248
@zulipbot claim

[2021-03-11 12:20] orendrasingh commented on #17476
@zulipbot  claim

[2021-03-11 12:34] showell opened #17568 "difficult: Eliminate check_schemas warnings in `tools/check-schemas`."
This is a difficult task that requires understanding how we test events in both `test_events.py` and `frontend/node_tests/dispatch.py`.  If @orientor has free time in the near future, he may be ideal for this, as he did some similar work before.

We have a tool called `check-schemas` that ensures that the data we use for schemas is consistent across these three places:

* zerver/openapi/zulip.yaml

[2021-03-11 12:38] showell commented on #17568
I put the "tooling" label on this, but it might be slightly misleading.  There are some tweaks to the tool that could be useful here, but it's more about fixing up schemas and adding more backend tests.

[2021-03-11 13:53] tushar912 commented on #11584
@zulipbot claim

[2021-03-11 14:15] WesleyAC commented on #16913
Here's a very quick and dirty script to find custom emojis that are overriding default emojis. It doesn't include aliases, but it's still somewhat useful:

[code]

I used this to PM everyone in an organization that I'm in who had custom emojis overriding the default, to let them know and ask them to rename them. You can get the first file that it takes by copy/pasting the table from the "Organizat

[2021-03-11 14:39] FranquitoSu90 opened #17569 "Github Force to me to reset password :("
Hi,
I have an other account, and when i want to sign in, github force to me to reset password. It ask me for the two factor authentication but my phone was stolen. I tried with recovery codes but it's not work.
Someone from support can help me? I don't want to reset my pass.

Thanks

[2021-03-11 14:40] #17569 closed

[2021-03-11 16:34] ArunSankarKs opened #17571 "Invalid Image upload UI element Bug"
<h2>Before :</h2>

<h4>1)&nbsp; Invalid file type error in Organization picture upload over laps with the preview element.</h4>

![Before 4](https://user-images.githubusercontent.com/42570356/110813807-db4b5600-82ae-11eb-8031-803292721af3.JPG)

<h4>2)&nbsp;       Hovering over the upload button after a Invalid file upload darkens the error message.</h4>

![Before 3](https://user-images.githubuserc

[2021-03-11 16:34] ArunSankarKs commented on #17571
@zulipbot claim

[2021-03-11 16:34] ArunSankarKs commented on #17571
@zulipbot add "good first issue"

[2021-03-11 16:35] ArunSankarKs commented on #17571
@zulipbot claim

[2021-03-11 16:36] fiterace commented on #16957
@zulipbot claim

[2021-03-11 16:51] fiterace commented on #16957
@zulipbot add "help wanted"

[2021-03-11 16:51] fiterace commented on #16957
@zulipbot claim

[2021-03-11 16:52] fiterace commented on #16958
@zulipbot add "help wanted"

[2021-03-11 16:53] fiterace commented on #16958
@zulipbot claim

[2021-03-11 17:04] barabo opened #17587 "Clicking 'Mark as read' on a topic in the 'Recent topics' list returns focus to the top of the list"
**Describe the bug**
When I click on the 'Mark as read' button for a topic - I don't want my position in the list of topics to change.  For example, if I scroll all the way to the bottom of a list of topics and mark one as read - I don't want to have to scroll all the way to the bottom again after clicking the button (which is the current behavior).

**To Reproduce**
View a list of many topics in

[2021-03-11 19:45] stefanieelling commented on #3938
@zulipbot claim

[2021-03-11 19:47] simpsonme1 commented on #15463
@zulipbot claim

[2021-03-12 03:06] IgnisDa commented on #13337
@zulipbot claim

[2021-03-12 03:55] #17463 closed

[2021-03-12 03:59] #17073 closed

[2021-03-12 04:13] #14304 closed

[2021-03-12 05:24] #15375 closed

[2021-03-12 07:57] mandepsingh commented on #16453
#17586

[2021-03-12 09:44] timabbott commented on #17587
@barabo thanks for the feedback!  I moved this to the right repository for tracking this issue.

[2021-03-12 10:08] timabbott opened #17588 "Document video call providers on /integrations"
These are already documented on /api/start-a-call, but many folks looking for video call provider integrations are likely to look at /integrations, and it'd be very natural for them to be there.

Since they don't have a webhook-style implementation, the markdown docs implementation belongs in `templates/zerver/integrations/*.md` along with of course registration in `zerver/lib/integrations.py`

ht

[2021-03-12 10:16] showell opened #17589 "Fix keyboard navigation for avatar popups."
See https://chat.zulip.org/#narrow/stream/9-issues/topic/keyboard.2Fa11y.20broken.20in.20mini-profile/near/1130756 for more details.

You can move around with arrow keys, but you can't hit enter to choose the option.

I'm not entirely sure, but this feels like a recent regression.

[2021-03-12 10:37] m-e-l-u-h-a-n commented on #17588
@zulipbot claim

[2021-03-12 12:55] amanagr commented on #17543
Adding compose for Recent topics is tricky actually. Since the compose box was designed considering there will always be a narrow with messages in it, some assumptions will have to be generalized. We cannot use two instances of compose box, one for RT and other for messages narrow since it will make a bad UX to lose compose box text (or cancel compose) when user switches from RT to other narrow wh

[2021-03-12 15:17] barabo commented on #17587
Thanks!  Sorry I put it in the wrong place.

[2021-03-12 17:16] aryanshridhar commented on #17347
@zulipbot claim

[2021-03-12 23:14] schultzh commented on #16920
@zulipbot claim

[2021-03-13 00:24] andersk opened #17607 "Some Puppeteer tests fail when repeated during the same run"
The `tools/test-js-with-puppeteer --interactive` mechanism for debugging failing tests depends on the ability to repeatedly run the same test without restarting the test server. A shell command for trying every test repeated twice is:

[code]

This uncovers several failures, such as:

[code]

[code]

[2021-03-13 02:24] shanukun commented on #17568
@zulipbot claim

[2021-03-13 03:18] adambirds opened #17609 "Support LetsEncrypt DNS-01 Challenge"
LetsEncrypt has supported for a while now creating SSL Certs but using a DNS-01 challenge to verify domain ownership rather than a HTTP Challenge. It would be great if Zulip could now implement this.

This comes with the following benefits:

- Supports wildcard certs.
- Certificates can be renewed much easier for those Zulip instances which are behind corporate firewalls and not accessible on Port

[2021-03-13 05:49] nikhilmaske-2001 commented on #17540
@zulip abandon.

[2021-03-13 05:59] smitpatel24 commented on #17540
@zulipbot claim

[2021-03-13 07:46] Riken-Shah commented on #17607
@zulipbot claim

[2021-03-13 11:26] showell opened #17610 "Fix fenced_code bug with nested quotes"
This code does not parse correctly in Zulip:

[code]

See https://chat.zulip.org/#narrow/stream/9-issues/topic/fenced.20code.20bug/near/1131397 for more details.

[2021-03-13 13:11] #17513 closed

[2021-03-13 13:35] 100RABHpy commented on #17610
@zulipbot claim

[2021-03-13 15:16] aryanshridhar commented on #17070
Working on it :+1:

[2021-03-13 16:57] guptaprakhariitr commented on #13172
@timabbott  though this seems like a pretty big issue, i'd like to pick this up the challenge hoping the community would help me out in case i m stuck. I'll start with viewing what all had been done in this direction.

[2021-03-13 16:57] guptaprakhariitr commented on #13172
@zulipbot  claim

[2021-03-13 17:24] amanagr commented on #13172
@guptaprakhariitr thanks for your interest. This issue has already been worked upon and is waiting for review.

[2021-03-13 17:25] amanagr commented on #13172
One way you can help is by review #16961 locally. (Just reset to branch and run provision, no need to resolve conflicts for now)

[2021-03-13 17:40] Riken-Shah opened #17617 "user settings: Avatar's position changes when the textbox is resized."
When changing the textbox (width) in user settings, it is affecting the avatar's position.
When the textbox reaches certain width( > original width), the avatar's position changes to the bottom of the section.
And when resized to <= original width it automatically goes to its original position.
[Link to CZO conversation](https://chat.zulip.org/#narrow/stream/9-issues/topic/user.20settings.3AAvatar

[2021-03-13 18:03] shanukun opened #17619 "Fix mouse behavior for input text boxes when editing custom profile fields."
User (admin/owner) can neither change cursor position nor can select the text in input text box using mouse while updating custom profile fields.
Most probably because rows of custom profile fields table are draggable (we use `sortable js` for this), which is why the obvious mouse behavior is being overridden, so you might want to start looking into it from `static/js/settings_profile_fields.js`.

[2021-03-13 18:24] samirpatil2000 commented on #6342
@zulipbot claim

[2021-03-13 19:25] adambirds commented on #16054
Seconding this. Much needed feature.

[2021-03-13 19:28] adambirds commented on #17521
@abhishekdeshmukh2209 does your server have enough resources?

[2021-03-14 05:32] walker7734 opened #17622 "Slack import is broken"
I have bene having issues getting the Slack data import tool working because it fails to authenticate with a valid API token.  Looking at the code it appears to be sending the API token as a URL parameter, which Slack deprecated February 24, 2021.

https://api.slack.com/changelog/2020-11-no-more-tokens-in-querystrings-for-newly-created-apps

[2021-03-14 06:08] guptaprakhariitr commented on #13172
Thanks, @amanagr, I'll do the review work. :+1:

[2021-03-14 06:47] walker7734 commented on #17622
Closing, looks like the slack.py was updated.

[2021-03-14 06:47] #17622 closed

[2021-03-14 07:01] walker7734 commented on #17408
They did change their authentication but poorly documented it.  They have a notice [here](https://api.slack.com/changelog/2020-11-no-more-tokens-in-querystrings-for-newly-created-apps) but their API docs still states that you can put in the token as a query parameter.

[2021-03-14 07:59] nikhilmaske-2001 commented on #17617
@zulipbot claim

[2021-03-14 15:27] yasiruRathnayaka97 commented on #17619
@shanukun I can not observer the issue. Can you plz add a gif.

[2021-03-14 15:35] yasiruRathnayaka97 commented on #17537
@zulipbot claim

[2021-03-14 18:05] lamarqua opened #17628 "Clicking on a stream always marks the oldest unread message as read"
I'd like to be able to read selectively threads in a stream. Unfortunately, clicking on the stream title in the sidebar will always mark the oldest unread message in the stream as read (giving it focus in the main view), and this message might be in a different thread than the one I want to read, potentially one I want to revisit later. I think this is a design issue; I don't think a message shoul

[2021-03-14 20:36] ssayce0511 commented on #17534
comment for bot

[2021-03-14 23:53] timabbott commented on #17558
It might actually generally be the case that for this corner case, it'd be better to just drop the name entirely; I don't think it's likely to be common for names to be too long, and it's not important to have the name in the To lines -- so we're more likely to upset someone by truncating their name badly than by just not including it.

@mateuszmandera @hackerkid FYI.

[2021-03-15 00:32] timabbott commented on #8659
The original issue as described here was implemented last year, so closing this issue.

@melsophos I think it'd be great to open a new issue to track the idea of supporting filters by public/private (Etc.) -- that's an independent feature.

[2021-03-15 00:32] #8659 closed

[2021-03-15 01:22] timabbott commented on #17609
Would it make sense to just have `setup-certbot` support passing parameters through to `certbot` itself?  I don't think we want to try to copy Certbot's UI.

[2021-03-15 01:24] timabbott commented on #17607
I think the best path forward for this might be to reset the frontend testing database after each individual test file is completed, rather than only during startup.

[2021-03-15 01:35] adambirds commented on #17609
The way I was envisioning it my head is:

In settings.py we have a a few settings:

LETSENCRYPT_USE_DNS_CHALLENGE = TRUE/FALSE
LETSENCRYPT_DNS_PROVIDER = cloudflare/digitalocean etc
LETSENCRYPT_DNS_API_USER = username

And then a secret in the secrets file for the api key.

If LETSENCRYPT_USE_DNS_CHALLENGE is equal to true it requires the next settings, if false it uses current http challenge.
And

[2021-03-15 02:19] adambirds opened #17633 "Documentation needs updating to include numbers"
List of which need updating with numbers adding below:

- [x] https://chat.zulip.org/integrations/doc/asana
- [x] https://chat.zulip.org/integrations/doc/assembla
- [x] https://chat.zulip.org/integrations/doc/bonusly
- [x] https://chat.zulip.org/integrations/doc/chartbeat
- [x] https://chat.zulip.org/integrations/doc/darksky
- [x] https://chat.zulip.org/integrations/doc/deskdotcom
- [x] https://ch

[2021-03-15 02:19] adambirds commented on #17633
@zulipbot claim

[2021-03-15 02:20] adambirds commented on #17633
@timabbott can you add a help wanted or good first issue label? Thanks

[2021-03-15 02:21] adambirds opened #17634 "Numbers on integration docs, not always formatted correct."
This can be seen after I updated the zabbix docs in #17632. Some of the numbers appear the side as they should, but then some appear above the text as can be seen in below screenshot:

![image](https://user-images.githubusercontent.com/13500254/111095523-85d4aa80-8535-11eb-93df-0b33e2fa775f.png)

[2021-03-15 02:37] #17634 closed

[2021-03-15 02:54] adambirds commented on #17633
@zulipbot claim

[2021-03-15 02:55] adambirds commented on #17633
@zulipbot claim

[2021-03-15 03:11] abhijeetbodas2001 commented on #4627
For reference - #17596. This will be ready to work on after that's merged.

[2021-03-15 05:00] demon-99 commented on #17451
claim

[2021-03-15 05:01] demon-99 commented on #17451
@zulipbot claim

[2021-03-15 05:12] demon-99 commented on #7813
@zulipbot claim

[2021-03-15 05:22] demon-99 commented on #16840
@zulipbot claim

[2021-03-15 05:32] timabbott commented on #15998
I think our vague strategic design plan might involve just removing the date labels on the divider bar, and then it could be potentially collapsed with the "You subscribed to stream backend" marker?

[2021-03-15 05:32] cool-pants commented on #17628
@zulipbot claim

[2021-03-15 05:34] #16691 closed

[2021-03-15 05:41] timabbott commented on #17628
Agreed.  This is a duplicate of #10886, and is definitely not a good first issue, as it involves pretty subtle changes/testing.

[2021-03-15 05:41] #17628 closed

[2021-03-15 05:44] timabbott commented on #17619
I think we only want `sortable.js` to be enabling dragging on the marked end of the rows.

[2021-03-15 05:51] demon-99 commented on #17274
@zulipbot claim

[2021-03-15 06:04] demon-99 commented on #16426
@zulipbot claim

[2021-03-15 06:11] #17589 closed

[2021-03-15 06:48] abhishekdeshmukh2209 commented on #17521
Currently for testing I have created 20,000 dummy users and 60 gb for ram with 21 users active at a time.
We are testing on Kubernetes cluster.
Xeon 2.0ghz processor
14 GB of ram

[2021-03-15 07:28] aniketsonu commented on #16959
as @timabbott mentioned one way to go about the issue is by refreshing the data coming from the server. We can solve this by calling the refresh function inside the `save_inline_topic_edit()` function.
`window.location.reload()` seems to work but it refreshes the whole page.

[2021-03-15 08:15] mojavelinux commented on #13520
If by group conversations, we're talking about streams (often public), I agree that there should be an option to keep private messages out of the All Messages view (or offer some other Group Messages view). On more than one occasion, I have almost posted a reply to a private message directly to a stream, which feels very dangerous to me and risks the confidence of that conversation.

[2021-03-15 09:55] manavdesai27 commented on #16426
@zulipbot claim

[2021-03-15 10:00] manavdesai27 commented on #17307
@zulipbot claim

[2021-03-15 10:20] manavdesai27 commented on #17247
@zulipbot claim

[2021-03-15 10:24] manavdesai27 commented on #17309
@zulipbot claim

[2021-03-15 11:35] tushar912 commented on #17619
@zulipbot claim

[2021-03-15 12:50] adambirds commented on #17521
How many cores in that processor, you'll need at least 2 as a minimum. The RAM should be fine.

Is this sat in front of a reverse proxy?

[2021-03-15 13:09] Signior-X commented on #17617
@nikhilmaske-2001 I have an idea to fix this one, are you still working on it.. or shall I try?

[2021-03-15 13:10] nikhilmaske-2001 commented on #17617
I am still working on it.

[2021-03-15 17:43] alexmv commented on #17558
I think that's a good solution -- nobody's going to notice if we're sending to `<example@example.com>`.  Also very much easier to implement and be confident of. :)

[2021-03-15 17:47] melsophos opened #17646 "Sort stream list in categories"
It would be very useful to be able to sort the list of streams in different categories: the idea would be to separate streams corresponding to different contexts to help not posting messages in the wrong place. I can see three possible categories:
1. Private streams
2. "Global" public streams : streams to which most / a lot of people are subscribed
3. "Local" public streams : streams to which just

[2021-03-15 18:11] #17619 closed

[2021-03-15 19:28] ritikchauhan-01 commented on #17495
@tushar are you still working on this .

[2021-03-15 21:51] timabbott commented on #16367
@roed314 @rwbarton FYI.

I do feel that we should figure out some way for mathematics communities to be able to use `$` syntax when writing LaTeX if at all possible.  It's not just a matter of changing habits, exactly -- to the extent we can have semi-consistency with

I'm fine with maintaining a "single-$ math mode" user setting that has downsides and we warn isn't idle, but I'd like to do someth

[2021-03-15 22:03] timabbott commented on #17425
@kbuzzard thanks for the report!  I recognize your name from back when I was planning to be a number theorist :).

Let me explain what's going on; it's a bit of a subtle issue that's causing this and it's one of our few server-side exceptions we regularly see in production.  I'm tagging this as a priority because it's not acceptable that we haven't invested in fixing this yet (in general we aim fo

[2021-03-15 22:08] roed314 commented on #16367
While I'm sympathetic to Ander's concern about changing the Markdown parser, I agree with @davidfarmer and @melsophos that `$ ... $` is really what we should aim to support rather than GitLab's choice.

Can someone point me to the place in the Zulip codebase where double dollar signs are implemented?  Just trying to figure out how intrusive how Zulip is interacting with Markdown for this kind of t

[2021-03-15 23:03] timabbott commented on #16367
Yeah, `zerver/lib/markdown/__init__.py`.  https://zulip.readthedocs.io/en/latest/subsystems/markdown.html is helpful background.

What I'd consider is trying to use the same approach we take for other simple inline syntax (bold/strong and italics/emphasis) for `$`s -- I think that'd be pretty defensible.

[2021-03-16 01:03] gnprice opened #17650 "Can't view source for pending / local-echo messages"
At #17425, @kbuzzard reports:

We should of course fix the specific issue that's causing those messages to fail to send. But even when there are no issues in Zulip that can cause that, it'll always be possible for a message to fail to send simply because the network isn't functioning well. So we should also make it so that you don't so easily lose work as a result of that.

Specifically, we should

[2021-03-16 01:10] gnprice commented on #17425
I've filed #17650 for the specific issue that you can't get back the source of the message after it fails to send. It sounds like that would greatly reduce the annoyance level of this bug, and it may be a relatively easy fix.

It'd also be good to do even independent of this bug, because a message can always fail to send for network reasons even without any bugs in Zulip.

[2021-03-16 01:49] adambirds commented on #13715
@zulipbot claim

[2021-03-16 01:56] adambirds commented on #13715
@timabbott I'm going to check this one out. Either the work I did in #17632 has already fixed this by giving them the correct docs to implement it or I'll check if it sends a ping and change the code to set it.

As far as I'm aware zabbix doesn't do a ping to set the webhook up as the webhook is done by a custom script that I wrote into the integration docs yesterday.

[2021-03-16 01:57] adambirds commented on #13715
@pomazanbohdan has this happened since or was it just the once?

[2021-03-16 02:38] adambirds commented on #15136
@GhaziTriki if you update to zabbix 5.2. And follow my changes to the Zabbix Docs that where merged into zulip/master in #17632 yesterday. This should solve your issue. We move away from the bash script to send the payload and use zabbix's new built in webhook feature that uses javascript to send the payload. This should resolve. Let me know if it doesn't. As I put the javascript on the zabbix sid

[2021-03-16 03:26] tushar912 commented on #17495
yes @ritikchauhan-01

[2021-03-16 04:23] manavdesai27 commented on #17476
@zulipbot claim

[2021-03-16 04:26] manavdesai27 commented on #17240
@zulipbot claim

[2021-03-16 04:57] manavdesai27 commented on #17240
Can anyone help me understand where this code is written? I am new to this.

[2021-03-16 05:15] timabbott commented on #17609
I worry that sort of thing will be hard to maintain, just because Certbot will change their set of backends/providers/names/etc., and so we'll find whatever we do of that form will break in a year or two.

It seems a lot better to just modify `setup-certbot` to make it convenient to, e.g., configure passing the 5 specific extra options you want to pass to `certbot` while still having it take care

[2021-03-16 05:15] manavdesai27 commented on #17240
@zulipbot help

[2021-03-16 05:16] manavdesai27 commented on #17240
@zulipbot "help wanted"

[2021-03-16 05:16] manavdesai27 commented on #17240
@zulipbot add "help wanted"

[2021-03-16 05:18] timabbott commented on #16054
As a hack, one can modify this section of `zerver/lib/send_email.py` to make those variables have the same value:
[code]

I'm open to having an option to support this, though I'm not sure what to call it (might be cleaner to just have an override for the displayed support email address, for example).  Might be worth trying to find another application that needs to solve this problem.

[2021-03-16 05:23] demon-99 commented on #16426
@timabbott
![Screenshot (3)](https://user-images.githubusercontent.com/72651457/111259753-996f3680-8645-11eb-9708-92d75610220f.png)
I was working on this issue is this fine now or i have to do something else ?

[2021-03-16 05:27] manavdesai27 commented on #16426
Hi, this is the delete stream issue, yours is delete message issue.

On Tue, 16 Mar, 2021, 10:53 am Nikhil kumar, ***@***.***>
wrote:

[2021-03-16 07:17] pomazanbohdan commented on #13715
I haven't used zulip since then.

[2021-03-16 09:45] Signior-X commented on #17650
@zulipbot claim

I would like to try this one.

[2021-03-16 10:44] sastred commented on #14489
Hello,

My workaround for the desktop client is to use the option "Add a custom CSS" with

[code]

[2021-03-16 11:54] Signior-X opened #17655 "Wrong time showing for message sent"
Today I was testing something, so I send a message at 3:12 PM (in my local time). It didn't get sent. At 3:17 PM, I retried sending it by clicking the retry button. It got sent and the time was being shown 3:12 PM. However, this should have been 3:17 PM. So, when I reloaded the page, it showed 3:17 PM. This creates a problem for the sender.

I think we should have updated the time of the message w

[2021-03-16 11:55] Signior-X commented on #17655
@zulipbot add "bug"
@zulipbot claim

[2021-03-16 13:27] dassaniansh commented on #16253
Hello @timabbott ,
I'm new to this community and want to contribute to your organisation. I think I can solve this issue but am unable to find target files, Can you please guide me on that?

[2021-03-16 16:48] alexmv commented on #16253
I think this task is effectively complete, through #16651 and #16923.

@dassaniansh, you can skim the two PRs to see which files were involved in the change, but this particular task is done.  I suggest reading [the contributing guidelines](https://zulip.readthedocs.io/en/latest/overview/contributing.html).  [This documentation page](https://zulip.readthedocs.io/en/latest/overview/directory-struct

[2021-03-16 16:48] #16253 closed

[2021-03-16 17:18] dassaniansh commented on #16253
@alexmv ,Thanks for the information sir. I would also like to inform you that I have already gone through the guidelines you have pointed out so can you please redirect me to any other issue through which I can start my contributing journey.
Regards

[2021-03-16 17:21] alexmv commented on #16253
There's no need to call anyone "sir" here.

Unfortunately, I don't have a specific different to point you towards instead; you'll need to investigate them yourself.

[2021-03-16 18:05] adambirds commented on #17609
How would that work then, they would need to install the dns plugin they want to use before running the install? And re the auto renewal not being possible without api access, in my experience it is rarely used unless you have api access and most of main providers offer it now.

I'm fine with any as long as it is documented and can be done whereas currently it can't' be done.

[2021-03-16 18:30] dassaniansh commented on #16253
Thanks, @alexmv.

[2021-03-16 19:31] timabbott commented on #17655
See the chat.zulip.org thread, but I think we already handle this correctly from reading the code.  I'd be very interested in seeing a reproducer for this if you can find one, since it would represent a subtle/tricky bug well worth fixing.

[2021-03-16 21:54] #17587 closed

[2021-03-16 23:00] timabbott opened #17660 "Add support for fullscreen compose box"
We've had a number of request for being able to make Zulip's compose box larger when writing a longer message and/or just wanting to not be distracted by the message feed.

The current theory is that we should have a button to expand compose box to fill the entire center panel; this has the following advantages:
* We could use the existing compose box HTML element -- no need to duplicate code for

[2021-03-16 23:14] timabbott commented on #17245
This was fixed in 4bbfac8aa9f34e95e1c88e0fc1ac3e5eb2af1664, when we took that upstream change.

[2021-03-16 23:14] #17245 closed

[2021-03-16 23:40] #17466 closed

[2021-03-17 00:59] adambirds opened #17662 "Add Support for Custom Database Names & Users"
Add Support for Custom Database Names & Users

As per - https://chat.zulip.org/#narrow/stream/2-general/topic/Change.20DB.20user.20and.20name &  https://github.com/zulip/docker-zulip/issues/289

@zulipbot claim

[2021-03-17 01:07] Signior-X commented on #17655
Yes, it was really tricky to find the actual bug why was this happening. Have explained in the PR. Do check it out

[2021-03-17 01:13] Signior-X commented on #17660
I am working on compose box right now and have many ideas about this. Would love to try this one.
@zulipbot claim

[2021-03-17 01:43] adambirds commented on #13715
@timabbott can we close this one, definitely not a ping by zabbix and most likely fixed with the new instructions. In 3 years I've never had a failed zabbix Web hook message if it was set up correctly.

[2021-03-17 01:47] alexmv opened #17665 "Parse bounce/complaint messages and take action"
Outgoing email is sent with the envelope-from of the noreply address.  This means that bounce messages will route back to there.

We should adjust the envelope-from to use [VERP](https://en.wikipedia.org/wiki/Variable_envelope_return_path), so it is clear which address was the recipient, without having to parse the bounce email, which is rather fraught.  Amazon's SES [gives the information in JSON

[2021-03-17 06:22] abhishekdeshmukh2209 commented on #17521
6 cores  and it is not in front of a reverse proxy

[2021-03-17 07:09] WesleyAC opened #17669 "Reply-by-email truncates messages longer than 10KB"
When someone replies to a message by email, and sends a response larger than 10KB, the message is truncated. Instead of truncating, we should refuse to send the message, and email the user back an error explaining what has gone wrong.

---
Edit by @alya 2025-11:

We should attach the message as a file when it's too long to be sent directly. We can use `MessageText.txt` for the file name.

We might

[2021-03-17 07:26] Uttam-Singhh opened #17670 "Add a search option to search a topic in a particular stream."
Rather than doing the whole search, it will help to search for a topic in particular stream.

[2021-03-17 07:27] Uttam-Singhh commented on #17670
@zulipbot add "good first issue"

[2021-03-17 07:43] guptaprakhariitr commented on #13172
@zulipbot  abandon as it is already being worked on.

[2021-03-17 07:45] guptaprakhariitr commented on #13172
@zulipbot  abandon

[2021-03-17 07:46] guptaprakhariitr commented on #1159
@zulipbot  claim

[2021-03-17 11:29] adambirds commented on #17521
@timabbott any ideas on what could be the cause of this one?

[2021-03-17 11:30] adambirds commented on #17662
@zulipbot add "area: production installer"

[2021-03-17 11:35] tushar912 commented on #17670
@Uttam-Singhh This feature is already available try to search by using <code>stream:"some stream"  topic:"some topic" </code>

[2021-03-17 13:56] nikhilmaske-2001 commented on #17048
As this issue is fixed completely, @alexmv can you close this issue?

[2021-03-17 14:17] ArunSankarKs commented on #14730
@zulipbot claim

[2021-03-17 14:55] mateuszmandera commented on #17558
So the idea would be to re-send the email with the name dropped, if the first sending attempt gets rejected like above?

[2021-03-17 16:44] alexmv commented on #17048
Good catch.  Absolutely -- thanks for your work on it!

[2021-03-17 16:44] #17048 closed

[2021-03-17 16:54] alexmv commented on #17558
I was envisioning that when constructing the email, we would switch to email-only if the full name was longer than 320 characters.  But we could also try sending both ways -- I think the difficulty is that there are a large number of reasons that the SMTP send could fail, and no consistency to error codes, and hardcoding an SES error message to check against seems fraught.

Oh, and apparently [320

[2021-03-17 16:55] alexmv commented on #17558
Somewhat relatedly, these sorts of failures show up as `mail.send()` raising `SMTPDataError`; we should ideally catch that and re-raise it as `EmailNotDeliveredException`, instead of propagating up the `SMTPDataError`.

[2021-03-17 17:15] alexmv opened #17672 "Switch outgoing emails to using a LoopQueueProcessingWorker, send to SMTP server over a single connection"
LoopQueueProcessingWorker allows a queue worker to pull batches of up 100 queued items off at once, at the small cost that they it may delay them up to 1s in order to build up the batch.  We should use this model for EmailSendingWorker, and [open a single connection to the SMTP server for the whole batch](https://docs.djangoproject.com/en/dev/topics/email/#sending-multiple-emails), as a performanc

[2021-03-17 18:52] edith007 commented on #16850
@alexmv can i work on this issue??

[2021-03-17 19:12] ritikchauhan-01 commented on #17009
@ganpa are you still working on this.

[2021-03-17 19:25] #17617 closed

[2021-03-17 19:35] kbuzzard commented on #17425
Yes just to clarify, it was the fact that I wrote a post twice as long as the example post, sending failed (which is fine, I can break it up into pieces) but the message was then *not* saved to drafts, I could not figure out how to go "back" in any reasonable sense, and I was left then with the beautifully rendered LaTeX and I had to re-typeset it all (I could just cut and paste all the text -- bu

[2021-03-17 19:51] as2539-ctrl commented on #17419
@zulipbot claim

[2021-03-17 19:54] as2539-ctrl commented on #17248
@zulipbot claim

[2021-03-17 20:17] mgshestko commented on #17248
@zulipbot claim

[2021-03-17 20:25] timabbott commented on #17672
Yeah, that's a good idea.  A few thoughts:
* We could also consider just changing the digest email worker to not use the same queue we use for more timely deliveries and instead just send the emails directly in that sort of batch.
* We could probably with enough cleverness avoid the 1s delay by having a hybrid queue worker that after being woken for `consume` tries to grab a batch of up to 100 and

[2021-03-17 21:51] mgshestko opened #17676 "Test.... Test"
Test....Test

[2021-03-17 21:56] mgshestko commented on #17676
@zulipbot claim

[2021-03-17 21:56] #16642 closed

[2021-03-17 22:07] #17676 closed

[2021-03-17 22:11] #17537 closed

[2021-03-17 22:44] alexmv commented on #16850
Hm, I see there was some work on this already once.  I'm not sure why @sundargs2000 closed their PR -- it was a good start in the right direction.  I'm sorry it didn't get a prompt review, Sundar!  We can give it a proper review if you want to re-open it.

@edith007, if @sundargs2000 doesn't want to pick this back up, or we don't hear back in a couple of days, I can assign it to you.

[2021-03-17 22:49] alexmv commented on #17672
I don't feel like the 1s delay is material enough to warrant tackling it right now; there may be a way to avoid it, but it'd be a significant effort to write and test.  Email is not treated as sufficiently latency-sensitive that the 1s timeout is going to alter people's perceptions of the usability of the system.

[2021-03-18 00:21] #17655 closed

[2021-03-18 02:46] ganpa3 commented on #17009
@ritikchauhan-01 Yes

[2021-03-18 05:50] sundargs2000 commented on #16850
@alexmv I raised a [PR](https://github.com/zulip/zulip/pull/17096) again and made some changes based on a review, but did not get another review.

[2021-03-18 09:03] YashRE42 commented on #17306
I was wondering if we'd want to have an equivalent to the recent topics in this view, ie a "recent PMs" view that contains just the name of participants and maybe the first line of the last message...

[2021-03-18 09:48] Uttam-Singhh commented on #17670
Okay!

[2021-03-18 11:39] pletinckxc commented on #17672
@zulipbot claim

[2021-03-18 14:00] ilyamordasov opened #17687 "Can't open uploaded file without authorization"
If I attach file to the chat and copy the URL of this file to paste it in address line of browser(being in incognito mode) I will be redirected to Log In page. How can I get the access to the file knowing the url without authorization?

[2021-03-18 17:16] pletinckxc commented on #17672
Hello @alexmv @timabbott I started working on this issue today and I am a bit stuck with the way I should handle errors during the sending process when using batches of events.

First of all I am using the get_connection() function from django.core.mail module and the send_messages() function from the default backend SMTP server of django (https://github.com/django/django/blob/main/django/core/mai

[2021-03-18 20:14] easaw opened #17694 "Push Notifications - Limit for self hosted?"
Hi,

I've tried searching and reading the docs, but there seems to be no mention of a limit (like Rocket Chat), naturally one would assume there isn't but I need to do my due diligence and check :)

A limit would be fair, but I need to know about it, before choosing Zulip.

Is there a Push Notification limit - or any other limit for that matter - on self hosted, that I should be aware of?

Thank y

[2021-03-18 21:51] #17650 closed

[2021-03-18 21:56] timabbott opened #17697 "Improve ease of recovery for messages that failed to send"
In #17666, we fixed a nasty issue where it was impossible (without using the JS console) to recover the raw content of what you'd typed after an error sending a message.  However, we should a step better, which is extending the little buttons we have for what you can do with the message to include "convert to draft" (which would in turn make it possible to edit what you'd written, as well as being

[2021-03-18 21:58] timabbott commented on #17425
Cool.  We just merged a fixed for #17650, though we'll do a few more stages of improvements after that as well on the UI issue.  But hopefully we can also solve the main problem here, that it's hard to post very long LaTeX messages at all.

[2021-03-18 22:11] ashantilong commented on #17502
@zzzoom   You could of at lest message me saying you wanted to claim this issue or ask if I was still working on it .

[2021-03-18 22:30] Signior-X commented on #17697
@zulipbot claim

[2021-03-18 22:42] alexmv commented on #17672
That's the way I would do it, modulo that I don't think any particular queue manipulation is necessary.  Roughly:
[code]
That should let us reuse the existing retry decorator, or something like it.

If the message fails to send for some other exception than we retry for (e.g. [`SMTPRecipientsRejected`](https://docs.python.org/3/library/smtplib.html#smtplib.SMTPRecipientsRefused)), we currently jus

[2021-03-18 23:04] easaw opened #17698 "No users get mobile notifications..."
### Description:

### _UPDATE:_

I now have two servers (Ubunutu 18/ 20) and a Zulip cloud account. None of them are getting push notifications on mobile/ tablet (android as below) but desktop notifications are working. Both accounts I have on all the Zulips are set to recieve notifications and push is setup on the two servers.
<hr>

When using two Android devices (Lenovo M10 plus on Pie & OnePlus

[2021-03-18 23:05] easaw commented on #17698
_* I realise I should be able to delete the user using CLI, but I'm not exactly sure how._

[2021-03-18 23:05] zzzoom commented on #17502
I waited a week for a fix to a 4-line function where the bug was already highlighted, and you need the practice anyway. :shrug:

[2021-03-18 23:28] alexmv commented on #16850
Ah!  Sorry for not seeing that PR at the time.  I've left some comments there.  @edith007, it sounds like this issue is fairly well in hand, so best to find something else that catches your eye. :)

[2021-03-19 00:54] timabbott commented on #12496
Reading the unfortunately super long history of this issue, I think finishing https://github.com/zulip/zulip/pull/12538 might be a better path forward than focusing on this as written.

@Signior-X do you want to try rebasing that old PR of @vinitS101's?

[2021-03-19 01:16] easaw commented on #17698
@gnprice This issue is on a new server, as yet, it doesn't have private data. If someone from Zulip would like access to it, they may do so if required for testing purposes.

[2021-03-19 01:18] #17694 closed

[2021-03-19 01:43] ashantilong commented on #17502
@zzzoom That's regardless of the issue. It is about proper courtesy and being respectful to other contributors.  I was assigned to the issue and by the contributor guidelines unless I unassigned myself  I am provided 10 days before I am forcefully removed if I have not worked on it .  Yes it might have been a simple problem, but don't put your expectations on me. I take what you said offensively.

[2021-03-19 05:35] guptaprakhariitr commented on #1159
@timabbott
I guess this issue needs some update because the details provided in the issue might not be relevant now.

[2021-03-19 06:04] guptaprakhariitr commented on #1159
@zulipbot  abandon

[2021-03-19 06:06] guptaprakhariitr commented on #1526
@zulipbot  claim
@showell I consider this is unimplemented as the issue is still open. I'd start to work on it. I'll get help from the 'tutorial logic' as mentioned  by @timabbott

[2021-03-19 07:40] gnprice commented on #4712
This sounds like a reasonable plan.

I agree with this.

This seems significantly more complicated, and I'm not sure the resulting semantics are better in practice than what we get with the simpler plan.

---

A related question, though: do we want to sort *only* by time? I think when a message has like 6 different flavors of "hooray" reaction -- which is a common case -- what I really want is for

[2021-03-19 11:45] Hypro999 commented on #17697
@timabbott I think that this would conflict with what I have in https://github.com/zulip/zulip/pull/15880. If we want to add the drafts syncing feature the way it was discussed (and then implemented), either all of a user's drafts will be synced, or none of them will be.

In the case that a user _is_ syncing their drafts, the same network related issues affecting sending the original message would

[2021-03-19 12:00] dassaniansh commented on #16838
Hello @gnprice  ,
I'm new to this community and want to contribute to your organisation. I think I can solve this issue but am unable to find target files, Can you please guide me on that?

[2021-03-19 13:12] nikhilmaske-2001 commented on #17540
@zulipbot claim

[2021-03-19 15:19] hackerkid opened #17704 "Use scheduled job for scrubbing realm from support page"
Currently, the realm is scrubbed instantly when the support staff clicks on the scrub realm button and confirms the string_id. The probability of the support stuff accidentally scrubbing the realm is very low but it's not 0. Also, there is a small but non zero probability of the support staff scrubbing the wrong realm and realizing the mistake later.

So we should use a scheduled job to scrub the

[2021-03-19 15:34] hackerkid commented on #17704
@mateuszmandera Do you have anything to add here?

[2021-03-19 16:08] Signior-X commented on #12496
As commented on the PR #17363, will first make that small change so that it will be helpful. Then I will look over trying rebasing the PR of @vinitS101
It has a super long history and many conflicts, so surely it will take time to properly get hold of it.

[2021-03-19 16:20] ritikchauhan-01 commented on #17415
I want to work on the third part of issue.

[2021-03-19 18:09] Signior-X commented on #17697
I agree with @Hypro999
We can have a local-storage only drafts system if we are planning to have the message go from drafts then removing from drafts.
This will be also a two route system. What I think as you suggested the first approach, convert to draft. That will be a better idea.
This will also not conflict with the work being done by @Hypro999
Is there any existing CZO chat/topic going on reg

[2021-03-19 18:12] mateuszmandera commented on #17704
Sounds like a good idea. We'll still want to have an option to scrub instantly, in case we're doing it against the will of an admin who was abusing the service - but I suppose this rare case can be deal with in the Django shell.

[2021-03-20 02:36] amanagr commented on #17415
Hi @ritikchauhan-01, for the third part, we will wait for #16961 to be merged first before starting work on it.

[2021-03-20 04:31] yashikajotwani12 commented on #17274
claim

[2021-03-20 04:32] yashikajotwani12 commented on #17274
@zulipbot  claim

[2021-03-20 04:36] yashikajotwani12 commented on #14732
@zulipbot claim

[2021-03-20 04:38] yashikajotwani12 commented on #14732
@zulipbot claim

[2021-03-20 04:47] samirpatil2000 commented on #6342
@zulipbot claim

[2021-03-20 05:01] ganpa3 commented on #17697
FYI, it wasn't impossible, you could view the source using the keyboard shortcut `e`.

[2021-03-20 10:58] nathanielvirgo opened #17710 "Visual corruption / noise"
The Zulip client currently looks like this for me:

<img width="1344" alt="image" src="https://user-images.githubusercontent.com/6964676/111867010-a88f1500-89b4-11eb-85fa-3e188c19649a.png">

This seems to be happening in all of the organisations that I'm subscribed to, but only for some streams and not others. Generally it seems not to happen if the stream only has one or two posts. Sometimes the

[2021-03-20 13:04] dassaniansh commented on #16838
Hello @hackerkid  ,
I'm new to this community and want to contribute to your organisation. I think I can solve this issue but am unable to find target files, Can you please guide me on that?

[2021-03-20 15:59] easaw commented on #17698
I'm hoping there is going to be some movement on this, as I can't believe I am the only one with Push Notification issues across both self hosted and cloud platforms??

[2021-03-20 17:58] cool-pants opened #17716 "Bot Email Field"
Bots currently require an email-field upon creation which has no use except for referencing or searching the object. It is unnecessary to enter email field for a bot and could be instead generated using other parameters. We could instead have a bot description field for the admin to put in notes of bot usage and other specifics.

Related Discussion: https://chat.zulip.org/#narrow/stream/6-frontend

[2021-03-20 18:00] cool-pants commented on #17716
@zulipbot add "good first issue"

[2021-03-20 18:01] cool-pants commented on #17716
@zulipbot claim

[2021-03-21 07:01] nikhilmaske-2001 opened #17718 "Shows xyz typing... when user is chatting with abc."
When the user has opened the chat window between `You and abc` and the user `xyz` is typing some message, it shows `xyz typing` in the chat window of `You and abc`. This confuses the user that they maybe messaging the wrong person.

[2021-03-21 07:05] aryanshridhar commented on #17347
WIP in #17674.

[2021-03-21 13:51] yashikajotwani12 opened #17721 "Development environment installation"
![Development environment installation — Zulip 4 0-dev+git documentation - Google Chrome 21-03-2021 19_15_42 (2)](https://user-images.githubusercontent.com/77020164/111907442-4e0cbc00-8a7b-11eb-9fa4-0fbb6e6b47d2.png)

**For the (Non-vagrant) Setup**
In the documentation , It's written that:
**Unfortunately, the only supported method to install on Windows is the Vagrant method**
Which has to be cha

[2021-03-21 14:00] yashikajotwani12 commented on #17721
@zulipbot claim

[2021-03-21 14:02] nikhilmaske-2001 commented on #17721
The text should be "On Windows, you can [install directly](https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-windows-10-experimental) using wsl."

[2021-03-21 14:04] yashikajotwani12 commented on #17721
ohkay !!

[2021-03-21 14:08] jannekemorin commented on #15977
@zulipbot claim

[2021-03-21 14:09] jannekemorin commented on #17496
@zulipbot unclaim

[2021-03-21 14:12] jannekemorin commented on #15977
@zulipbot claim

[2021-03-21 14:26] Ponni-M commented on #17718
@zulipbot claim

[2021-03-21 14:27] Ponni-M commented on #17718
@zulipbot add "good first issue"

[2021-03-21 14:27] Ponni-M commented on #17718
@zulipbot claim

[2021-03-21 15:44] nikhilmaske-2001 commented on #17721
@zulipbot add "good first issue"

[2021-03-21 15:47] yashikajotwani12 commented on #17721
claim @zulipbot

[2021-03-21 15:48] yashikajotwani12 commented on #17721
@zulipbot claim

[2021-03-21 15:49] P-riyanka-prasad commented on #17721
Can this issue assigned to me if available @zulipbot ?

[2021-03-21 15:55] yashikajotwani12 commented on #17721
@zulipbot claim

[2021-03-21 20:04] Esgrima commented on #1211
@zulipbot claim

[2021-03-21 21:35] easaw commented on #17698
Moved to https://github.com/zulip/zulip-mobile/issues/4556

[2021-03-21 21:35] #17698 closed

[2021-03-22 00:27] schultzh commented on #16920
@zulipbot claim

[2021-03-22 00:30] timabbott opened #17728 "api documentation: Figure out why schema tests don't fail when modifying unread_msgs."
In #17702, we extended the format of the `unread_msgs` data structure to add an extra field; oddly, no tests failed when doing so without the API documentation changes.  My belief had been that the `validate_against_openapi_schema` calls that we include in both `test_classes` and

One theory is that we're not actually calling `validate_against_openapi_schema` in `test_events.py` for the `/register

[2021-03-22 00:47] timabbott commented on #17718
@Ponni-M can you describe a reproducer for this issue?  I would not expect a bug of this form based on how the typing notifications feature is implemented.

[2021-03-22 01:01] schultzh commented on #16920
I've addressed this issue in PR #17729

[2021-03-22 01:49] ArunSankarKs commented on #17571
PR awaiting review.

[2021-03-22 02:36] gitmessage opened #17730 "install use ip addr"
./zulip-server-*/scripts/setup/install --self-signed-cert \
    --email=YOUR_EMAIL --hostname=YOUR_HOSTNAME
    YOUR_HOSTNAME may I use IP addr?

    when run "./zulip-server-*/scripts/setup/install --self-signed-cert \
    --email=abc@xxxx.xx --hostname=192.168.1.4". It is error.
    How to solve this problem？
    Thanks.

[2021-03-22 03:14] edith007 commented on #2746
@zulipbot claim

[2021-03-22 03:30] timabbott commented on #17730
Hi!  You're going to need to provide the actual error for us to help debug.

That said, we don't recommend running with an IP address as the hostname, since doing so precludes SSL.

[2021-03-22 03:30] #17730 closed

[2021-03-22 03:46] mandepsingh commented on #17540
@zulipbot claim

[2021-03-22 04:24] amanagr opened #17731 "Improve time widget text"
- [ ] Mention the timezone in the rendered text to clarify user that the mention time is indeed in their timezone like `Mon, Mar 22 2021, 10:30 PM IST`. We have mentioned that the timezone is in their timezone in the title, but users tend to miss that.
- [ ] Mention how long in the future / past was the mentioned time in the `title`. Like "Mentioned time was 5 hours ago from now" or "Mentioned tim

[2021-03-22 04:59] nikhilmaske-2001 commented on #17731
@zulipbot claim. Currently working on 1st part: Mention the timezone in the rendered text. and 3rd part: Use tooltip.

[2021-03-22 05:09] Ponni-M commented on #17718
@nikhilmaske-2001 Can you please reproduce the issue?

[2021-03-22 05:42] aryanshridhar commented on #17731
Oops, seems like @nikhilmaske-2001 is working on it! Thought of referencing it within #17593.

[2021-03-22 06:18] smitpatel24 opened #17733 "left_sidebar: Topic not removed from the stream list."
When all the messages from a topic are deleted either manually or by using the button `delete all messges in topic`, the topic is not removed from the list. (This bug is only encountered when there are atleast two participant in the topic.)

Related conversation: https://chat.zulip.org/#narrow/stream/2-general/topic/topics.20don't.20get.20deleted.20if.20you.20delete.20all.20messages.20in.20topic/n

[2021-03-22 06:19] smitpatel24 commented on #17733
@zulipbot claim

[2021-03-22 06:21] smitpatel24 commented on #17733
@zulipbot add "area: left-sidebar"

[2021-03-22 13:30] abhishekdeshmukh2209 opened #17734 "Docker image changed to latest commit not working."
Using zulip docker image when changing to latest code i.e. master

Commit id :- 855ac26c4811c5ce2b11a392beccdeb8265453b9

Getting below error.

  File "/home/zulip/deployments/2021-03-18-19-02-33/zproject/backends.py", line 23, in <module>
    import ujson
ModuleNotFoundError: No module named 'ujson'
Error in the Zulip configuration. Exiting.

Works perfectly with 3.3 release

[2021-03-22 13:50] pint-pint commented on #3783
Has there been any progress with this? Snipping users out of streams burdens admins and is inconvenient for users who have to request the removals.

[2021-03-22 14:45] yashikajotwani12 commented on #17721
@zulipbot fixed issue #17721

[2021-03-22 15:43] wheelsandmetal commented on #16397
Is this still being considered? This is was one of the greatest sources of friction when we trialed zulip for a couple of weeks. An option to have it behave more like a slack channel (perhaps only when narrowed down to one topic/private convo) would be great

Personally I've never found this too much of an issue, usually I can read faster than messages get posted, and scrolling up to stop the auto

[2021-03-22 15:49] 100RABHpy commented on #17728
@zulipbot claim

[2021-03-22 15:56] MSurfer20 commented on #17728
Hey @100RABHpy ! @orientor and me are already looking into this issue, and are researching more about the cause of this bug. Meanwhile, can you please find some other issue to work on?(I should've had claimed the issue. Apologies!)

[2021-03-22 16:02] 100RABHpy commented on #17728
Ohh, Okay.

[2021-03-22 16:02] 100RABHpy commented on #17728
@zulipbot abandon

[2021-03-22 17:16] morallito opened #17736 "Unknow error when uploading files larger than 1mb"
I have a fresh zulip instalation, running with the default configuration. My team reported that when uploading files larger than 1 mb, a message sayng "An unknown error occurred" shows up.

I already checked the `var/log/zulip/errors.log` but nothing showed up.

[2021-03-22 17:52] andersk opened #17737 "Edit last message keyboard shortcut (←) may unexpectedly mark many messages read"
If you write a message in a narrowed view, then go back to an unnarrowed view, there may now be many unread messages between your new current position and the message you just wrote. If you then accidentally press `←`, all of those messages will be marked read unexpectedly, causing you to lose your place while catching up.

We should either
* disable the `←` shortcut if there are unread messages b

[2021-03-22 17:55] morallito commented on #17736
The cause was an NGNIX configuration, not related with Zulip installation.

[2021-03-22 17:55] #17736 closed

[2021-03-22 17:59] Ayushsunny commented on #17737
Hello @andersk I wanna work on this issue

[2021-03-22 18:02] jchen706 commented on #17419
@zulipbot claim

[2021-03-22 18:38] alexmv opened #17739 "APNS throughput is slow"
Pushes to Android devices finish in ~10ms.  In contrast, pushes to APNS take upwards of 50-100ms per device.  For accounts which accumulate a larger number of "devices" (for instance, by uninstalling and reinstalling the application) a notification to a single user can take significant time, and stall notifications to other users.

We currently use the [PyAPNs2](https://github.com/Pr0Ger/PyAPNs2)

[2021-03-22 18:50] gnprice commented on #17739
That implementation at https://github.com/kukosk/pyapns_client is promising! I have not studied its code, but it looks like a very plausible lead.

If for whatever reason it doesn't work out, here's some more thoughts on the option of implementing a client ourselves (which I wrote in a previous discussion before we'd found that `pyapns_client` lead):

The APNs protocol is really not very complicat

[2021-03-22 19:36] timabbott opened #17742 "Configure timeouts for outgoing webhook HTTP requests"
Currently, Zulip's outgoing webhooks system triggers the generic queue worker timeout `WorkerTimeoutException` when the third-party service doesn't respond.  While this achieves the high-level goal of having a timeout, we should have a more explicit and shorter timeout via the `requests` library.  This is the function that calls into `requests`; I think all we need to do is pass the `timeout` opti

[2021-03-22 19:53] jannekemorin commented on #17496
Hello! I was unable to replicate this issue in Firefox on Linux. When I open the "Recent topics" UI, only "All" is shaded. When I select a different button, only the appropriate button becomes shaded and the box inside it is checked. Are you still coming across this issue?

[2021-03-22 20:09] showell opened #17743 "difficult: Clean up event handling for bots."
By the time you are looking at this, #17725 will probably have hit master, but if not, then you will want to look at that PR, because my comments here assume the code was merged.

Right now we have some really ugly code in our handling of bot events that essentially waits 50ms before we re-render somebody's personal bots in "Settings/Your bots".  Look for `eventually_render_bots` in the code.

Thi

[2021-03-22 21:07] andersk opened #17744 "All messages or Starred messages menu is cut off if left sidebar auto-closes"
Reported by najla seghaier [on chat.zulip.org](https://chat.zulip.org/#narrow/stream/2-general/topic/Suspected.20bug/near/1139326):

The left sidebar is auto-closing too early, so I guess the menu, having just lost its position reference, is getting centered at (0, 0), cutting off the top half. This only happens with the ⋮ menu for **All messages** and **Starred messages**, not with the ⋮ menu for

[2021-03-22 21:11] SirAzako opened #17745 "Question: I'm a new contributor and i was wondering if this project is good for a start. Also if anyone has a suggestion for beginners issues i'm open to suggestions."

[2021-03-22 21:13] #17745 closed

[2021-03-23 00:33] timabbott commented on #17744
I think this was fixed in https://github.com/zulip/zulip/pull/17645, just hasn't made it to production yet.

[2021-03-23 00:57] timabbott opened #17747 "Typeahead presence bubbles appear to be a lie"
https://chat.zulip.org/#narrow/stream/9-issues/topic/typeahead.20presence/near/1133743 has details, but basically it appears that something is wrong with the logic for computing the presence circles used in our mention typeahead.

I suspect some sort of caching issue (perhaps internal to the typeahead library).

[2021-03-23 01:45] adambirds commented on #17662
@zulipbot still working on this and trying to come up with an approach.

[2021-03-23 01:48] adambirds commented on #13715
@zulipbot close issue

[2021-03-23 01:49] adambirds commented on #13715
@zulipbot close

[2021-03-23 04:10] WookieMonkeys commented on #17016
@zulipbot claim

[2021-03-23 06:08] m-e-l-u-h-a-n commented on #17747
I had tried debugging this when it was reported, but I was not able to find something helpful here. But for displaying presence circles in typeahead I have used helper `get_user_circle_class`, from `buddy_data` so I think it may be some problem with how it is calculated in `buddy_data` but another thought is that other places like pm list  also use same helper. So it may be a problem due typeahead

[2021-03-23 08:13] timabbott commented on #13715
Yes, agreed, closing.  Thanks @adambirds and thanks for the report @pomazanbohdan!

[2021-03-23 08:13] #13715 closed

[2021-03-23 08:28] #17535 closed

[2021-03-23 12:15] nikhilmaske-2001 commented on #17718
Ohh Sorry, I found I was on `Private message` window when I found this behaviour. And it is normal behaviour when the user is on `Private message` window. Closing this issue as there is no work to do in this issue.

[2021-03-23 12:15] #17718 closed

[2021-03-23 12:33] recursivecodes opened #17757 "Latest Build Does Not Have S3 Compatible Uploads"
Just a heads up, that the latest build (https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz) does not contain the code for S3 compatible uploads. I had to install the latest and then upgrade like so:

[code]

This was the only release that I could find that contained the S3 compatible upload from dfa7ce5.

[2021-03-23 14:06] tushar912 commented on #17743
@zulipbot claim

[2021-03-23 15:19] anthony-farah commented on #16492
@zulipbot claim

[2021-03-23 15:20] anthony-farah commented on #17183
@zulipbot claim

[2021-03-23 15:35] mgshestko commented on #17248
@zulipbot claim

[2021-03-23 15:38] mgshestko commented on #17248
@tim Is this an issue that needs fixing? If so I came up with two possible solutions.

The first is to change the color transparency on the alert words, so that it won’t reflect on the background.

The second is to change how the alert words are reported and only have alert words report once even if there are multiple alert words in the same comment.

[2021-03-23 17:44] timabbott commented on #17757
Well, you can also use master (which I'd recommend over the `shared-0.0.4` branch which is intended for code sharing with the mobile apps, aka not a release), but yes, this is one of many features planned for the Zulip 4.0 release that we haven't attempted to backport to the 3.x series.

The real issue here is that it's been too long since our last major release (largely a side effect of Covid + m

[2021-03-23 17:44] #17757 closed

[2021-03-23 17:52] recursivecodes commented on #17757
That worked, thanks. I thought I tried it yesterday and it errored, but I must have done something wrong.

[2021-03-23 18:08] ritikchauhan-01 commented on #17747
@zulibbot claim

[2021-03-23 18:25] joshuadgilley commented on #17248
I believe @vibhuti019 has already solved the issue but was failing some checks.

[2021-03-23 19:03] stefanieelling commented on #17240
@zulipbot claim

[2021-03-23 19:05] stefanieelling commented on #17240
@zulipbot claim

[2021-03-23 19:24] recursivecodes opened #17762 "Org Icon Upload Path Incorrect"
I've upgraded to the `master` branch on my install and am testing S3 compatibility.  Uploading an image in a post works, and the image is rendered as expected. But, when uploading an image as an organization icon, the path is generated incorrectly.  See below for the format difference:

Works as expected (in post):

`https://[redacted].compat.objectstorage.us-phoenix-1.oraclecloud.com/zulip-upload

[2021-03-23 20:52] timabbott opened #17763 "Add error codes in `validate_account_and_subdomain`"
The error cases in `validate_account_and_subdomain` are ones that clients are likely to want to be able to parse, e.g. the mobile/terminal apps will want to know if an authentication error is because of a deactivated realm for error handling.  REALM_DEACTIVATED and USER_DEACTIVATED are probably reasonable error code names.

We should open zulip-mobile and zulip-terminal issues to support the new e

[2021-03-23 22:46] #16856 closed

[2021-03-23 22:48] timabbott commented on #17744
Closing as a duplicate of #17645.

[2021-03-23 22:48] #17744 closed

[2021-03-23 22:49] timabbott commented on #17742
See https://chat.zulip.org/#narrow/stream/3-backend/topic/outgoing.20webhook.20timeouts/near/1141385 -- most of the work here is just deciding on the timeout.

[2021-03-24 00:11] #17721 closed

[2021-03-24 00:24] alexmv opened #17766 "Audit for missing Cache-Control headers"
All of the API endpoints use `@never_cache` to put explicit never-cache headers on the response.  There are a few other places which currently do not set any caching headers, but would benefit from the same set of never-cache headers, or short-term caching headers.

A couple such places are:
 - All of `/activity/`
 - Redirects, including the one from `/login/` to the right realm (if the user has a

[2021-03-24 00:29] alexmv opened #17767 "Add a `manage.py send_custom_email --dry-run`"
The `manage.py send_custom_email` command takes a markdown file, and a list of users, and sends the email to them with all of the usual Zulip letterhead and variables interpolated.

It can be hard to know (a) how the interpolation will work, and (b) who will get the email message, especially with `--admins-only`.  To test the former, one can send the email to oneself, but that's a bit cumbersome.

[2021-03-24 00:31] alexmv commented on #17767
See also #13413.

[2021-03-24 00:35] alexmv opened #17768 "`manage.py send_custom_email` double-interpolates its templates"
The `manage.py send_custom_email` command takes a markdown file, and a list of users, and sends the email to them with all of the usual Zulip letterhead and variables interpolated.

Unfortunately, it runs the interpolation twice.  The following template will have an empty string:
[code]

The following template works, however:
[code]

This may be the same as, or overlap with, the remaining issue in

[2021-03-24 02:08] alexmv commented on #17555
Resolved in #17653.

[2021-03-24 02:08] #17555 closed

[2021-03-24 03:37] timabbott commented on #17762
Thanks for the report!  I think this is the only block of code that computes this URL:
[code]

That logic appears to be correct for Amazon S3.  So I think we need to fiddle with the `boto3` and get it to tell us the URL for a bucket more directly, since it sounds like Oracle Cloud uses a different ordering.  (Or ask Oracle support how this is supposed to work).

Can you try doing `self.avatar_buck

[2021-03-24 04:35] edith007 commented on #17767
@zulipbot claim

[2021-03-24 09:20] recursivecodes commented on #17762
Actually, both formats should work with AWS and the "virtual host" style that Oracle Cloud uses is the preferred style for AWS.

https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

[2021-03-24 09:58] aryanshridhar commented on #17768
@zulipbot claim

[2021-03-24 11:42] m-e-l-u-h-a-n commented on #17763
@zulipbot claim

[2021-03-24 12:56] recursivecodes commented on #17762
So I changed the URL per your suggestion, and it now constructs the proper URL (which as stated above I do believe will also work with AWS), but the issue now is that it tries to access the image directly instead of using a presigned URL which means the bucket has to be set to public. Maybe a presigned URL should be used instead just like the images embedded in posts?

[2021-03-24 13:00] recursivecodes commented on #17762
Or, the users can use a separate bucket for avatars and keep that bucket public of course.

[2021-03-24 13:11] daniellf99 commented on #15029
@zulipbot claim

[2021-03-24 13:13] recursivecodes commented on #17762
I don't have an S3 bucket to test with, but if you can confirm that fix doesn't break AWS installs, I can submit a PR if you would like.

[2021-03-24 13:34] daniellf99 commented on #15029
@amanagr I was thinking if maybe we could add an option to `./tools/provision` like `--no-bash-profile` to prevent the script from writing to the bash profile.

That way the user could choose what works best for him, while the Vagrantfile/Dockerfile/Droplet setup script just continues working the way it is.

[2021-03-24 18:00] ritikchauhan-01 commented on #17508
@zulipbot claim

[2021-03-24 18:28] RalfJung commented on #17496
I can still reproduce the problem in the https://rust-lang.zulipchat.com instance. To reproduce the problem, you might have to select those three checkboxes, close Zulip, and then reopen it and go back to "Recent topics" -- it seems to arise when Zulip applies the options that were selected last time. Basically, https://github.com/zulip/zulip/issues/15676 was solved, but there seem to be a bug in

[2021-03-24 19:18] timabbott commented on #17747
This is likely fixed by #17777.

[2021-03-24 19:22] amanagr commented on #15029
This is actually a good idea. We just need to document it properly in https://zulip.readthedocs.io/en/latest/development/setup-advanced.html alteast after adding it.

[2021-03-24 19:54] daniellf99 commented on #15029
Will do, thanks for the advice!

[2021-03-24 20:03] #17728 closed

[2021-03-24 21:38] timabbott opened #17782 "Document process for grabbing content from newer prod_settings_template.py"
Zulip installations often upgrade many times over their lifetime.  While we take a lot of care when adding new settings to ensure that an old `/etc/zulip/settings.py` works fine with newer Zulip, eventually installations will want to enable new features that are very nicely documented in comments in `prod_settings_template.py` (which gets copied to `/etc/zulip/settings.py`), but won't see that doc

[2021-03-24 22:12] PIG208 commented on #17540
@zulipbot claim

[2021-03-24 23:35] timabbott commented on #15826
Do we have a plan for the remaining ideas here?

[2021-03-24 23:53] Signior-X commented on #17540
@PIG208 if you face any problems solving this you can discuss it on https://chat.zulip.org

[2021-03-24 23:56] timabbott commented on #16022
@MSurfer20 this would be a great issue for you to pick up again now that you have more experience.

[2021-03-25 00:38] Signior-X commented on #17697
Planning to have the converstations [here](https://chat.zulip.org/#narrow/stream/2-general/topic/Full-fledged.20editor.2E)
@Hypro999 I will try to take care of your PR while fixing this issue.

[2021-03-25 03:05] yashikajotwani12 commented on #14732
@zulipbot claim

[2021-03-25 03:58] timabbott commented on #17734
@andersk can you investigate?

[2021-03-25 04:18] timabbott commented on #15272
Closing as we no longer support Ubuntu 16.04.

[2021-03-25 04:18] #15272 closed

[2021-03-25 04:23] timabbott commented on #13545
@swallitsch sorry for the slow reply -- this issue was missed in triage.  Can you check if you're still seeing this with zulip 3.x?  We definitely changed the logic for the sidebar system in that release, but I'm not sure if that specifically resolved this.

[2021-03-25 04:27] timabbott commented on #13900
Closing as a duplicate of https://github.com/zulip/zulip/issues/13642

[2021-03-25 04:27] #13900 closed

[2021-03-25 04:28] timabbott commented on #14022
@Abhinav-Anand12 sorry for the slow reply -- do you have the system still accessible and/or have you upgraded to Zulip 3.x?

@mateuszmandera FYI -- any idea what might have caused this from reading the code?

[2021-03-25 04:39] timabbott commented on #14102
I got another report of this issue, where a VPN might have been involved.  So I think there is definitely something we can fix here; I just wish I knew what was broken.

[2021-03-25 04:42] timabbott commented on #17521
I've never seen an exception like this before.  Googling for the error, I find https://stackoverflow.com/questions/36156887/uwsgi-raises-oserror-write-error-during-large-request; so I think something about your testing setup may be resulting in an extremely large HTTP request?

If you're going to try testing with 20,000 users with some sort of test tool, you should definitely test with master (aka

[2021-03-25 04:43] timabbott commented on #17496
@amanagr maybe it's worth your investigating this one.

[2021-03-25 04:45] timabbott commented on #17554
This is a duplicate of #17466, which was fixed in #17572.  I'm not sure if that change is in production yet, but it should be soon.  Thanks for the report!

[2021-03-25 04:45] #17554 closed

[2021-03-25 04:48] timabbott commented on #17669
This may be fairly complicated, since I don't think we have templates for sending error emails to users, and it's possible that we've discarded the headers needed to send a proper bounce in the code path that will notice the response is longer than 10KB (since I think we'll need to make that determination after stripping headers and the like).

[2021-03-25 04:49] #17670 closed

[2021-03-25 04:50] timabbott commented on #17687
Correct, Zulip's security model for uploaded files enforces authenticated access.  I can imagine us making that configurable in some way, but I don't think we'd do so without a clearly explained use case.

Can you talk about what you're actually trying to do?

[2021-03-25 04:51] timabbott commented on #17479
@hackerkid I think you have a PR for this -- can you link it appropriately?

[2021-03-25 04:52] timabbott commented on #17477
@Riken-Shah what are the specific issues here that make Firefox not pass deterministically?  Also retitled the issue to be the thing we'll be able to do once we've resolved this bundle of issues.

[2021-03-25 04:55] timabbott commented on #17467
This is probably just setting `title` and/or `aria-label` appropriately.

[2021-03-25 04:57] timabbott commented on #17448
@hkpanchani are you interested in this for the mobile apps, or the webapp?  I think this is probably https://github.com/zulip/zulip-mobile/issues/2749.

[2021-03-25 04:57] #17448 closed

[2021-03-25 05:05] timabbott commented on #17417
@hkpanchani thanks for the feedback.  But please don't mention several random contributors.

I believe Zulip's current upload-quota feature only support per-organization quotas, not per user-quotes.  I think we'd accept a contribution to support per-user quota tracking as well.

Can you talk a bit more about your organizations' situations/use case?  I would expect for most self-hosted organization

[2021-03-25 05:10] timabbott commented on #17384
This was fixed by our stopping using CircleCI.  Thanks @amanagr for all your work on that.

[2021-03-25 05:10] #17384 closed

[2021-03-25 05:11] timabbott commented on #17377
We should be a bit thoughtful about this feature idea -- if we add it, we should make clear to administrators that this will happen since it might be surprising to be unable to silently remove other users from streams.

It's probably worth looking at what Discord/Slack do on this front, since I'm sure they've thought about the same problem.

[2021-03-25 05:13] alya opened #17786 "Customize "Activate your Zulip account" email when creating a new org"
The email generated for creating a new org does not say anywhere that you'll be creating a new org.

![image](https://user-images.githubusercontent.com/2090066/112421854-cc8d8600-8d27-11eb-971b-88fe41fae868.png)

We should probably change:
* subject line -> "Create your Zulip organization"
* text above the button

Draft text (minimally different from current version):

[2021-03-25 05:14] amanagr commented on #17307
@godlike786 can you link to discussion on chat.zulip.org which lead to creation of this issue? (or do think this is something that Zulip should fix on your own?)

[2021-03-25 05:14] ilyamordasov commented on #17687
In case when you use generic bot for access to messages. Any messages could have link to uploaded file but it's unavailable without authorization

[2021-03-25 05:14] timabbott commented on #17786
Thanks for the report!  That'd be a nice improvement.

[2021-03-25 05:26] gupta-piyush19 commented on #17786
@zulipbot claim

[2021-03-25 06:50] aryanshridhar commented on #17768
Hey @alexmv, I tried out the `send_custom_email` management command with the similar templates, but here's what I inferred:

<ul>
<li>If a template such as: <pre>The URI of the realm is: {{ realm_uri }} and name is {{ realm_name }}</pre> is passed in markdown path, it returns the email text as:
<code>The URI of the realm is: http://localhost:9991 and name is Zulip Dev</code>(instead of the empty s

[2021-03-25 06:53] WesleyAC opened #17789 ""Convert emoticons before sending" shouldn't apply in quotes"
If a user who has "Convert emoticons before sending" enabled quotes a user who does not have that setting enabled, the quote will have different text than what the original user wrote, which reads strangely.

A reasonable fix for this is to only apply "Convert emoticons before sending" to text that is not in a quote block.

[2021-03-25 07:22] timabbott commented on #17789
This is probably worth changing, but not a super high priority.  We have some precedent in skipping various syntax features in block quotes (including turning mentions into silent mentions), and this seems like it reasonably fits into that category.

[2021-03-25 07:41] #11895 closed

[2021-03-25 07:44] gupta-piyush19 commented on #17786
@timabbott can you please help me in finding code for this? It is really a large codebase, not able to find the same.

[2021-03-25 07:45] #17487 closed

[2021-03-25 08:07] #16163 closed

[2021-03-25 08:11] hackerkid commented on #17479
I have linked the issue from the PR.

[2021-03-25 08:18] timabbott commented on #17786
@gupta-piyush19 Zulip's only a medium-size codebase.  But you can generally find anything in a codebase using `git grep` -- e.g. `git grep 'Complete registration'`:

[code]
Check out our [GitHub guide](https://zulip.readthedocs.io/en/latest/git-guide.html) for more useful advice.

[2021-03-25 08:21] timabbott commented on #17687
The bot should be able to access uploaded files if you request them passing the appropriate HTTP headers -- are you seeing something different?

[2021-03-25 08:22] abhijeetbodas2001 opened #17790 "Unstar all messages in topic isn't thorough."
f0e05e2191a5fcf4914fbb95652af86073cdb20c (#17440) added the ability to unstar all messages in a topic from the left sidebar as a V1, but it isn't really complete, in the sense, it may happen that when a user clicks on "Unstar all messages in topic", some old starred messages from that topic aren't actually unstarred. This is because, the frontend simply ignores those messages which haven't been fe

[2021-03-25 08:22] #17496 closed

[2021-03-25 08:23] abhijeetbodas2001 commented on #17790
@zulipbot add "bug" "area: left-sidebar"

[2021-03-25 08:25] #16946 closed

[2021-03-25 08:43] #17633 closed

[2021-03-25 08:51] ilyamordasov commented on #17687
can't find where I get to access to uploaded file from bot. I do get all my messages from topic and parse the URL from content key of json. If I put this one into incognito mode of browser, I would be redirected to Login page. If there is an API method to download file with help bot (with all credentials) it would be great

[2021-03-25 08:52] timabbott opened #17792 "Create tooling to support updating screenshots for non-webhook integrations"
As noted in #17649, the documentation for non-webhook integrations (E.g. `puppet`, `nagios`) living in `templates/zerver/integrations/*.md` includes some extremely old screenshots; there's a few that I can date to an early Zulip visual design for topic headings from 2013.

As noted in https://github.com/zulip/zulip/pull/17649#issuecomment-806472540, we have this great tool, `tools/generate-integra

[2021-03-25 09:02] timabbott commented on #13133
Closing, as this issue is years old and recent testing has not reproduced the issue.

[2021-03-25 09:02] #13133 closed

[2021-03-25 09:03] timabbott commented on #17790
Tagging this as a release goal just because it completes a feature that's new in this release.

[2021-03-25 09:04] timabbott commented on #17790
Yeah, I think I'd only want the server fetch to happen when the user asks to actually unstar everything.

[2021-03-25 09:04] TanishaShrotriya96 commented on #17467
@zulipbot claim

[2021-03-25 09:09] #17542 closed

[2021-03-25 09:49] timabbott commented on #17687
There isn't one, but should be, as my past self observed: https://github.com/zulip/python-zulip-api/issues/628.

Closing as I think that's the right issue to track what you want.

[2021-03-25 09:49] #17687 closed

[2021-03-25 10:02] pletinckxc commented on #17558
@zulipbot claim

[2021-03-25 12:13] MSurfer20 opened #17795 "Clean up code for hacky OpenAPI curl test"
After testing `deactivate_own_account` endpoint, we need to reactivate the client so that other tests are not affected by the deactivated client. In `test_curl_examples`, this has been hackily implemented and should be replaced by cleaner code. More details at https://github.com/zulip/zulip/pull/17014#discussion_r601173277

[2021-03-25 12:18] MSurfer20 opened #17796 "Enforce additionalProperties parameter in OpenAPI"
Currently, we don't have a system that would enforce additionalProperties to be always specified(whether false or the actual additional Properties), which is needed because if unspecified, OpenAPI validates the schema even if some parameters are undocumented(like in https://github.com/zulip/zulip/commit/9840803c00013b0d729ef868220500ad4a7363bc)

[2021-03-25 12:21] MSurfer20 commented on #16022
@zulipbot claim

[2021-03-25 12:21] Riken-Shah commented on #17477
Sorry, I forgot about this.
When I last ran the stress test (in Circle CI) there were some flakes in `02`,  `03`, `07`, `16`, the fix for `03` and `07` was already merged in [812d563](https://github.com/zulip/zulip/commit/812d563bd4502bac93da19948252806682f04ab6).

To make sure I have not missed anything or any recent changes causing flake,
I rebased to the latest changes and started another CI wo

[2021-03-25 12:29] MSurfer20 commented on #17796
@zulipbot claim

[2021-03-25 13:31] PIG208 commented on #17540
As far as I have discovered, `page_params.debug_mode` for portico pages can be properly set through changing `default_page_params` defined in `zproject/jinja2/__init__.py`
[code]
This will allow blueslip to correctly log the stacktrace and attempt displaying it in an alert box.
However, the alert box won't pop up in portico pages because it relies on an HTML element that is defined in `templates/z

[2021-03-25 13:52] Signior-X commented on #17540
Yes this is the correct method for making the debug mode on.

I think, for suggestions, it will be better to ask by creating a new topic on https://chat.zulip.org

According to me reimplementing is not a better idea, if any way we can reuse the code. We should try this thinking of what if we change in future, there should not be two different codes for the same task. This is just my suggestion, be

[2021-03-25 14:07] ilyamordasov opened #17798 "Is there way to add custom slach commands?"
Putting the code into `zcommand.js` and `zcommand.py` doesn't help. I.e., wanna show the message box when the user calls `/test`, and the 2nd case is to add some server's logic in `zcommand.py` when the user does the same

[2021-03-25 14:15] PIG208 commented on #17540
Thank you! I'm working to create a WIP PR for this.

[2021-03-25 15:11] dransome commented on #3750
**@email** sounds really useful and I would love to see that because we've faced this exact problem where people get notifications (due to **@all** when the intention was just to ensure it was noticed on next login).

**@topic** is an interesting idea. I can see it as useful on occasion but not a big deal for us either way.

**@online** / **@here** type option would be welcome, especially for low

[2021-03-25 15:38] nikhilmaske-2001 commented on #17790
I would like to give this issue a try.

[2021-03-25 16:41] swallitsch commented on #13545
This is fixed in 3!

[2021-03-25 16:41] #13545 closed

[2021-03-25 17:03] abhijeetbodas2001 commented on #17790
I had planned to take this up after completing some pending work on a couple other PRs. @nikhilmaske-2001 feel free to claim this. I'll try to test/review you work.

[2021-03-25 17:07] nikhilmaske-2001 commented on #17790
Yeah, I have started working on it. Maybe I can handle this issue. I will ask you doubts if I stuck anywhere. @zulipbot claim.

[2021-03-25 17:08] nikhilmaske-2001 commented on #17790
@zulipbot claim

[2021-03-25 17:18] m-e-l-u-h-a-n commented on #13240
Just got sidelined a bit but still working.
@zulipbot claim

[2021-03-25 17:37] timabbott commented on #17798
https://github.com/zulip/zulip/pull/16589/files and https://github.com/zulip/zulip/pull/17148 are sample pull requests adding slash commands (the first is much more involved as a feature).

[2021-03-25 17:37] #17798 closed

[2021-03-25 17:38] #17479 closed

[2021-03-25 17:50] timabbott commented on #3750
Cool, thanks for the feedback.  There is some movement on this in https://github.com/zulip/zulip/pull/16964 (from a very active contributor), so thoughts on these questions are timely.

[2021-03-25 19:58] #17607 closed

[2021-03-26 01:00] adambirds commented on #17298
I was actually going to suggest this. I was thinking about it earlier today, so definitely second this idea.

[2021-03-26 01:37] adambirds commented on #17006
zulipbot add "area: integrations"

[2021-03-26 03:42] abhishekdeshmukh2209 commented on #17521
@timabbott

There is one more observation at the time of testing with 20,000 users and 23 users active at single point of time.
Zulip server pod says too many requests and the pod restarts.

[2021-03-26 08:47] Hypro999 commented on #12970
I haven't really been keeping up to date on this... is this issue something we can close now?

[2021-03-26 10:21] MSurfer20 commented on #12970
@Hypro999 The checking for converters is still not in place. I had looked at some ways to extract converter types using `inspect.signature` on the converters, but that wasn't working properly. I think I would continue working from that point this week(was caught up with some college work that I couldn't give proper attention to this).

[2021-03-26 14:33] nikhilmaske-2001 opened #17813 "Edit topic button unusual behaviour when the topic name is (no topic)."
**Issue** : Edit topic button does not behave properly when the topic name is not set (or named as `(no topic)` ).

<img width="290" alt="no_topic_edit_bug" src="https://user-images.githubusercontent.com/59444243/112646931-fd77d300-8e6d-11eb-9c12-770dfed0ab7f.png">

From the above picture it can be noticed that edit topic button is visibile when the user is already editing the topic.

[2021-03-26 14:34] nikhilmaske-2001 commented on #17813
@zulipbot claim

[2021-03-26 16:41] #17540 closed

[2021-03-26 17:27] mandepsingh commented on #17274
@zulipbot claim

[2021-03-26 17:37] mandepsingh commented on #17274
@zulipbot abandon

[2021-03-26 18:15] seiwailai commented on #16920
@zulipbot claim

[2021-03-26 20:22] najlase opened #17823 "Side bar size issue when Zulip "alert-info" is visible"
**Issue:** When the alert asking for permission to enable desktop notifications is displayed, some side bar elements are not visible (such as "Subscribe to more streams").
The attached video explains better the issue.

https://user-images.githubusercontent.com/44806328/112688487-3ec1b000-8e79-11eb-98dd-3be2bac5a861.mp4

[2021-03-26 20:22] najlase commented on #17823
@zulipbot claim

[2021-03-26 20:32] najlase commented on #17823
I looked further into the issue, and I found out that even resizing the window can fix it.
In the code, I found a function called **resize_page_components()** in the **resize.js** file. I think making a call to this function as soon as all elements are displayed is enough to fix the problem.
I'm just having trouble finding the part of the code that is most appropriate for this call. @timabbott cou

[2021-03-26 20:46] najlase opened #17824 "Night mode alert exit button visibility improvement"
I'm using Zulip with the night mode, I barely noticed the exit button of the notifications alert. I think it's better if we change its oppacity.
![Screenshot 2021-03-22 123143](https://user-images.githubusercontent.com/44806328/112690753-9d3c5d80-8e7c-11eb-9437-bf86991c2251.png)

[2021-03-26 20:46] najlase commented on #17824
@zulipbot claim

[2021-03-26 21:36] timabbott opened #17826 "Implement nudge for servers that are not upgraded for a long time"
System administrators running some Zulip installations sometimes don't upgrade their servers for years (ever?), which is both insecure and results in problems with our improving the desktop and mobile apps, where it's hard to delete backwards-compatibility code for supporting a release for years ago because a double-digit percentages of desktop/mobile users might be using that version.

With the m