[2022-01-04 14:10] raghavluthra20 commented on #20403
Hello. I would like to work on this issue if it is still open. Can I get some guidance?

[2022-01-04 16:04] KarishmaVanwari commented on #20403
@zulipbot claim

[2022-01-04 17:05] raghavluthra20 commented on #20403
@zulipbot claim

[2022-01-04 17:10] raghavluthra20 commented on #19884
@zulipbot claim

[2022-01-04 17:29] Biki-das commented on #20675
@alya  is this the desired result

[2022-01-04 22:14] rodneycoyer commented on #20677
Hello! I'd like to work on this task. Can I get this assignment please?

[2022-01-05 00:02] timabbott commented on #20658
Thanks for the feedback!  This is a duplicate of https://github.com/zulip/zulip/issues/16210.  I agree it's important, and it's something we're hoping to address in the next few months, but it's also not a small infrastructure problem -- resizing images at scale comes with complex infrastructure and security challenges.

[2022-01-05 00:02] #20658 closed

[2022-01-05 00:09] timabbott commented on #20620
I've wanted to have such a scrolling feature as well, but I don't think this is ready for a new contributor to work on unless they're prepare to do a lot of research themselves, in that there's some things going on here.

It may be somewhat complex to do infinite scrolling perfectly, because of performance optimizations in how we implement the sort/filter/matching process for organizations with 20

[2022-01-05 00:14] timabbott commented on #20616
Thanks for the suggestion @asah!  I'd want to have a #design discussion on whether these changes would be improvements before someone works on implementing a change here.  I'm not sure that these changes would actually be an improvement -- e.g. it's common to mention a person multiple times in a message (e.g. because you're referring to them twice in a multi paragraph message), and sometimes it's

[2022-01-05 00:14] #20616 closed

[2022-01-05 00:17] timabbott commented on #20624
https://dba.stackexchange.com/questions/90258/pg-restore-archiver-db-could-not-execute-query-error-schema-public-alre suggests the issue could relate to using different postgres versions on the backend/restore systems.  I don't have time to debug in more detail, but perhaps that thread can help you debug your problem.

[2022-01-05 00:18] asah commented on #20616
Oh that makes sense, let's have that conversation! In particular, IMHO the
more urgent issue is that the suggestions are clipped to a handful which
makes any algorithm suboptimal for some popular use-case...

My temptation is to standup a demo of unlimited-suggest, have people try it
and see if issues like redundancy go away...

Anyway, I'll post on #feedback tonight. Thx!

On Tue, Jan 4, 2022, 7:

[2022-01-05 00:19] timabbott commented on #20630
We probably need a proposed design change before someone can reasonably work on this. @alya FYI -- the issue here is essentially that the hotspots bubble's question mark doesn't look great when other text is underneath it, aka always.

[2022-01-05 00:20] timabbott commented on #20629
We probably need a proposed design change before someone can reasonably work on this. @alya FYI -- the issue here is essentially that the hotspots bubble's question mark doesn't look great when other text is underneath it, aka always.

[2022-01-05 00:21] timabbott commented on #20630
Thanks for the report @tinavo0305!  @alya @sahil839 thoughts on what we should do here?  The most natural thing might be to not have the "Upgrade" link appear at all for guest users.

[2022-01-05 00:27] timabbott commented on #20641
Thanks for the report @asah!  I think it's possible this was a bug on the repl.it side that they since fixed, because the link in your report works for me.  Can you confirm, and if so, close this issue?

[2022-01-05 00:29] timabbott commented on #20550
@alfonsrv what version are you running?  And what did you do after editing those settings to make sure your changes take effect?  I would expect a `zulip-puppet-apply` to be required.

@alexmv FYI.

[2022-01-05 00:31] timabbott commented on #20532
@alexmv @andersk any theories?  I don't have a great theory for what could cause this, other than perhaps some sort of `pipefail` issue?

[2022-01-05 00:31] timabbott commented on #20532
@talheim-it OK one theory that should help is running the installer with `set -x` added to the `install-yarn` script -- that should make it clear where it's failing.

[2022-01-05 00:34] timabbott commented on #20295
Thanks for the report!  I don't think I understand in detail the cause here, but I believe the RAM inefficiency is a consequence of reading Rocket.Chat's MongoDB database exports being an awkward way to do the import process (and also the only option, since they don't have a cleaner export format). It's likely possible to reduce memory requirements and we should try to do so.

@garg3133 FYI -- do

[2022-01-05 00:36] timabbott commented on #20642
Thanks for the report!  I agree this is a bug. I'm not sure what the cleanest way to do this escaping is off the top of my head.

[2022-01-05 00:37] timabbott commented on #20648
@asah can you explain the use case you have in mind in more detail?

[2022-01-05 00:44] timabbott commented on #20248
@Zirak thanks for the report!  I agree with your analysis of the problem.

I think probably the best fix would be something in Django upstream -- we don't want to be in the business of writing our own URL validator methods if we can avoid it.  (It sounds like Django would take a patch to add an option to the validator method). We can potentially backport in a patch Django merges for this if we don

[2022-01-05 00:45] timabbott commented on #20067
Is this something likely to affect non-nightly Firefox soon?  If so, we may want to bump the thread with upstream or look into a workaround on our end.

[2022-01-05 00:47] timabbott commented on #20132
This seems useful and likely easy.  I think perhaps we'd want to change this function to add an additional check after the loop?  Not sure.  @mateuszmandera FYI.

[code]

[2022-01-05 00:50] timabbott commented on #20000
We don't currently test for performance issues with organizations 50K users.  So I'd expect some performance issues with such a setup. Depending on what you're actually trying to do, it's possible you can resolve those issues by disabling a few features, but I'd be surprised if that was a good experience without making at least some code changes.

[2022-01-05 00:50] #20000 closed

[2022-01-05 00:59] timabbott commented on #20028
Thanks for the report!  I think we [discussed this in chat.zulip.org](https://chat.zulip.org/#narrow/stream/9-issues/topic/Several.20generated.20key.20fields.20w.2Fo.20unique.20constraints.2E/near/1281883).

Just to summarize the conclusions: issue 2 was resolved with solution (1), namely removing use of `Confirmation.objects.get(confirmation_key=key)`, in a014ef75a3a0ed7f24ebb157632ba58751e732c6.

[2022-01-05 01:02] timabbott commented on #20532
Oops, I'm not caught up: This was I think resolved in https://chat.zulip.org/#narrow/stream/9-issues/topic/Zulip.20-.20Upgrade.20from.20Git.20Issue/near/1301617.

[2022-01-05 01:03] alexmv commented on #20532
This was debugged in [https://chat.zulip.org/#narrow/stream/9-issues/topic/Zulip.20-.20Upgrade.20from.20Git.20Issue](#issues > Upgrade from Git Issue), and fixed in #20654.

[2022-01-05 01:03] #20532 closed

[2022-01-05 01:06] alexmv commented on #20550
https://zulip.readthedocs.io/en/latest/production/deployment.html#customizing-the-outgoing-http-proxy talks about using `zulip-puppet-apply` after updating the settings in `/etc/zulip/zulip.conf`.

[2022-01-05 01:08] alexmv commented on #20550
We don't set those for `go-camo` because `go-camo` also denies access to private subnets, which is all that we're using smokescreen to do.  However, in the event that hosts _must_ use some other proxy to access the outside world, I can see that we'd need to provide those values for `go-camo` as well.

I think the right compromise might be a flag in the proxy section which enables the proxy for go-

[2022-01-05 01:19] alya opened #20686 "Instructions for confirming new email dissappear"
When a user changes their email, they need to confirm that they own the account before the change goes through. At present, the banner informing the user regarding this disappears very quickly, before the user even has time to read it.

Instead, the banner should remain open until either the email is confirmed or the confirmation email expires (assuming it expires? it's not clear from the email wh

[2022-01-05 01:20] alya commented on #20686
@sahil839 would you be up for fixing this one?

[2022-01-05 01:23] andersk commented on #20067
I don’t think so—my understanding is that OTL validation only defaults to enabled on nightly because it’s nightly and not because it’s new. We ran into a similar issue [two years ago](https://bugzilla.mozilla.org/show_bug.cgi?id=1634834).

[2022-01-05 01:38] alya opened #20687 "Improve error message for changing email too many times"
At present, attempting to change one's email too many times in a row results in the following error message:

![Screen Shot 2022-01-04 at 5 15 17 PM](https://user-images.githubusercontent.com/2090066/148146731-48d688f6-e44e-4462-9233-9ff40ff623f1.png)

This is message is confusing, as it doesn't explain exactly what went wrong, and the user is interacting with the menus rather than directly with t

[2022-01-05 01:39] alya commented on #20687
@sahil839 tagging you on this one as well, in case it's easy to do while you're looking at #20686.

[2022-01-05 01:41] timabbott commented on #20067
OK, cool, removed the priority label; seems reasonable to wait for upstream here.

[2022-01-05 02:17] oliver-pham commented on #20267
I'm still waiting for approval of #20494

[2022-01-05 03:19] AayushSolanki commented on #20687
@zulipbot claim

[2022-01-05 05:13] asah commented on #20620
Y I'm familiar with the issues in scaling, backend, databases and search
engines. IMHO start with a demo and also check single user scaling, and
then worry about multiple users, DDOS/overload, caching, etc. Also rollout
slowly to beta testers vs whole orgs. Testing search quality gets tricky...

I have concerns about per-user and per-use-case search quality issues. In
large orgs with many teams &

[2022-01-05 06:42] prathamjagga commented on #20526
No it should not move while we scroll. It should be at the same place.

[2022-01-05 07:07] prathamjagga commented on #20523
@zulipbot claim

[2022-01-05 07:35] alya commented on #11773
I like that suggestion! Now that we give admins control over default user settings, it seems like making this a user setting would be more flexible, while still allowing admins to influence the feel of the organization. @timabbott what are your thoughts?

[2022-01-05 07:43] alya commented on #20575
Thanks for the feedback! Yeah, I think something like "3 messages from this topic were moved to..." seems good; I can kick off a discussion.

[2022-01-05 08:49] sahil839 commented on #20686
Sure.
@zulipbot claim

[2022-01-05 10:38] algo-byte commented on #20676
@alya, is this the desired effect (for users that can't create streams)

![gihub](https://user-images.githubusercontent.com/65943606/148203652-428bab2b-3646-4d2b-bd79-25f7f553a82d.gif)

[2022-01-05 11:22] alfonsrv commented on #20550
@timabbott running v4.8 - sorry. Mainly checked if pasting image URLs would load the preview and if the standard proxy had any incoming requests, which it did not. `camo.log` had lots of connection timeouts, but no indication whether or not it tried connecting to the configured proxy.

I *think* I can work on it. Can you give me a pointer on where to start looking? Would be appreciated.

<small>On

[2022-01-05 11:22] alfonsrv commented on #20550
@alexmv ah I see; I understood the docs differently. I only executed `zulip-puppet-apply` after adding `zulip::profile::smokescreen` to the config (aka applying **puppets** after modifying the `*puppet*_classes`) and not when adding the `[http_proxy]` section.

Just tried and judging by the output (`Puppet Apply Log`) it applied properly by just setting the `IPv4` like in the first config - no `[p

[2022-01-05 12:27] varshitakolipaka commented on #20304
@zulipbot claim

[2022-01-05 14:07] ArchitJain1201 commented on #20600
@zulipbot claim

[2022-01-05 16:30] mharyam commented on #19967
@zulipbot abandon

[2022-01-05 17:54] alexmv commented on #20550
Do you have suggestions on how we can make clearer how to configure this correctly, in https://zulip.readthedocs.io/en/latest/production/deployment.html#customizing-the-outgoing-http-proxy ?

And as I mentioned, we currently don't use the proxy setting for camo, because it accomplishes what we were implicitly assuming the proxy setting to be for, which is to protect against SSRF.  Your use case ma

[2022-01-05 18:36] alfonsrv commented on #20550
Gotcha. No the docs are clear; I guess I still had the old ones in mind when attempting this again. Maybe it should be made clear though which components use the proxy in a table. And that `go-camo` is being used for image previews, doesn't support a proxy yet though.

I'm unsure who would have a standard proxy configured and wouldn't be confused that not all functionality (aka image previews) wor

[2022-01-05 22:42] #20686 closed

[2022-01-05 22:48] #2559 closed

[2022-01-05 22:52] alya commented on #20630
Yes, this is just a bug. Trying it out in a realm where I'm a member but not an admin, that whole line (regarding space being used and upgrading) is not shown at all. We should not show it to guests either.

[2022-01-05 23:06] alya commented on #20629
Yeah, agreed -- next time we're thinking about onboarding, we should probably significantly redesign the question marks or get rid of them altogether. I don't think there's a small fix that will make them look great.

[2022-01-05 23:21] alya commented on #20575
Based on [discussion on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/part.20of.20a.20topic.20moved), to solve this issue we should change the text to the following format when only part of the topic is moved:

When all messages are moved, we should reorder the message to be:

[2022-01-05 23:24] #20529 closed

[2022-01-06 00:33] timabbott commented on #20583
I don't think we can merge that solution without understanding what the root cause of the problem is.  @sahil839 perhaps you can help debug.

[2022-01-06 03:51] adambirds commented on #20642
@ElliotSilver can you advise a bit more on the issue, not quite sure whats going on. is it just the extra "[" thats the issue or are you missing one?

[2022-01-06 03:53] adambirds commented on #20642
Also @ElliotSilver is there any chance you can get a test webhook event for this for us to test the fix with?

[2022-01-06 05:00] asah commented on #20620
Wow, thx @timabbott for the details above...

Strictly for prototyping, I dug into the code, read-up on bootstrap-typeahead and found a potential quick solution _for smaller installations_. I'm deploying it to my users (currently ~80) to get feedback over the next few days.

the thinking: auto-detect smaller installations (method tbd) where scaling isn't an issue and turn something-like-this on by

[2022-01-06 06:09] YashRE42 opened #20698 "Adding a new todo to an existing /todo list sometimes causes older todos to be removed."
I first experienced this bug with the todo at https://chat.zulip.org/#narrow/stream/101-design/topic/Stream.20Member.20list/near/1289965 but then again with the one at https://chat.zulip.org/#narrow/stream/101-design/topic/Stream.20Member.20list/near/1301515.

The expectation is that adding a new todo creates an additional item in the todo list without modifying the preexisting items. What actuall

[2022-01-06 06:10] Biki-das commented on #20698
@zulipbot  claim

[2022-01-06 06:27] Biki-das opened #20700 "same background color for popover and selected item in the stats page"
currently in the stats page, in the message sent over time, the background color for the popover and for the selected item is same, this seems weird to see , for more info you can see below

https://user-images.githubusercontent.com/72331432/148338612-7b3c4aa8-a830-4e97-94a0-5a502912d48e.mp4

[2022-01-06 07:14] alya commented on #20302
Nice! I went through and left a few comments.

I'm not the right person to ask about the code -- could you post your question in [#backend](https://chat.zulip.org/#narrow/stream/3-backend) on chat.zulip.org?

[2022-01-06 07:20] alya commented on #19519
Weird, I don't know why that would be... You can post in #zulipbot on CZO to see if someone can help.

[2022-01-06 07:24] alya commented on #20700
Sure, it would be better to have the hover color be different from (darker than?) the selected color. Please feel free to submit a PR.

[2022-01-06 07:39] Biki-das commented on #20700
thanks will be working on this too

[2022-01-06 07:39] Biki-das commented on #20700
@zulipbot  claim

[2022-01-06 07:41] Biki-das commented on #20630
@alya i am unable to reproduce the problem in the dev environment

[2022-01-06 14:40] sahil839 commented on #20583
The vertical alignment of buttons wrt heading is incorrect from a long time i think (I checked till the commit in June last year).

The alignment bug of the icons in the button, which is mentioned in the description of this issue, was caused by 1298b4a0d27, and this should be fixed if we vertical-align the text in the button to middle.

[2022-01-06 15:30] shryasss commented on #20484
Is this issue still active? I would like to contribute

[2022-01-06 17:12] alya commented on #20630
@Biki-das the problem shows up in organizations that are on a Zulip Cloud Free plan (and can thus be upgraded). I think the dev environment default org counts as self-hosted. I don't know what the process is for replicating this in dev. Perhaps @eeshangarg can comment?

[2022-01-06 17:16] Biki-das commented on #20630
ok will try to look for it, thanks for the feedback

[2022-01-06 17:36] sahil839 commented on #20630
I agree that we should just remove upgrade links and banners for guests.

[2022-01-06 17:45] ElliotSilver commented on #20642
@adambirds The Jira ticket title was "Extra ]". The Jira integration takes the title, turns it into a link to the ticket, and makes it into the first line of the message, so a ticket with a title of `Jira title` becomes

which renders as:

However, if the Jira title includes a close bracket, e.g., "Remove extra ]", then the integration turns the first line of the message into

which doesn't render

[2022-01-06 17:50] sahil839 commented on #20583
The PR fixes the alignment of buttons while the fix I mentioned above was to fix the alignment of icons in buttons.

[2022-01-06 18:05] sahil839 commented on #20645
It is something due to [this line of code](https://github.com/zulip/zulip/blob/9aa5082d63e9d2f36c1055c5a855ea2fc1f61123/static/js/overlays.js#L327). The "X" is button in this overlay but span in other overlays and it works there. Changing the button to span fixes the bug, but have not been able to come up with a reasoning here, need to investigate more. WIll most probably be done by tommorrow.

Cl

[2022-01-06 18:10] Biki-das commented on #20583
@sahil839
So this pr is good to go?

[2022-01-06 18:16] showell commented on #20620
I am 99% sure that the constraint of showing only 5 or so results was a UI-driven policy decision, and it doesn't play any significant role in helping us search large user populations in the ~20k range.  I think showing 50 results would probably be reasonable once we had the scrolling UI worked out.  I think a true infinite scroll would be tougher performance-wise.

[2022-01-06 18:28] adambirds commented on #20642
I understand a bit better now. Shouldn't need a test webhook. Thanks @ElliotSilver

[2022-01-06 18:28] adambirds commented on #20642
@zulipbot claim

[2022-01-06 18:42] asah commented on #20620
y - please try the patch - it keeps the same space on the screen while
adding scroll as necessary. Arbitrarily, I extended the limit to 1,000
results, but you can set it lower if you like.

On Thu, Jan 6, 2022 at 1:16 PM Steve Howell ***@***.***>
wrote:

[2022-01-06 19:47] alya commented on #20077
@Anas-debug please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn how to get started. Also, keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

[2022-01-06 21:22] #20595 closed

[2022-01-07 07:04] xLeviackermanX commented on #20397
@zulipbot claim

[2022-01-07 08:11] algo-byte commented on #20675
Is this the desired result:

![07 01 2022_13 37 49_REC](https://user-images.githubusercontent.com/65943606/148512739-20f1bd6a-d090-4e7b-9820-cfcbb320cdd6.gif)

[2022-01-07 09:59] Arch0125 commented on #20283
@zulipbot claim

[2022-01-07 11:45] oovk opened #20710 "Error while setting up dev-environment on macbook air M1"
I am getting below error while setting up the dev environment via vagrant.
Can anyone please help me with this?
![image](https://user-images.githubusercontent.com/58251592/148539290-2f3d6b6c-0f1e-43d6-90ec-e4ba40118164.png)
1. host operating system - **macOS monterey 12.1** M1
2. installation method (Vagrant or direct) - **Vagrant**
3. whether or not you are using a proxy - **Not using proxy**
4.

[2022-01-07 14:08] YashRE42 opened #20712 "click to copy button misaligned in code block inside spoiler tag"
I think the right thing to do would be to move the icon slightly to the left so it's inside the code block.

![](https://user-images.githubusercontent.com/33805964/148555069-7ce2f00d-119d-4a15-a304-95026a1f2fdc.png)

[2022-01-07 14:32] asah commented on #13521
is this still high priority?  from reading, it feels medium/low given that it's a small hassle in the grand scheme of production installs.

does this affect other hosted Postgres installs? e.g. GCP postgres, Azure postgres, Heroku

do we want to support aurora and other postgres-compatible hosted databases? (should be easy)

[2022-01-07 15:02] My-Name-Is-Nabil commented on #20712
@zulipbot claim

[2022-01-07 15:41] algo-byte commented on #20398
@zulipbot claim

[2022-01-07 16:31] alya commented on #20113
Closing out this issue in favor of #20283.

[2022-01-07 16:31] #20113 closed

[2022-01-07 16:35] Rishabh-792 commented on #20712
@YashRE42 can you please tell me the steps to reproduce this error ??

[2022-01-07 16:36] Rishabh-792 commented on #20712
@zulipbot claim

[2022-01-07 16:42] alya commented on #20712
The proposed fix sounds good to me.

[2022-01-07 16:42] alya commented on #20712
@Rishabh-792 please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

[2022-01-07 16:50] alya commented on #20710
Please ask for help in the [#development help](https://chat.zulip.org/#narrow/stream/49-development-help) stream in the [ Zulip development community](https://zulip.com/development-community/).

[2022-01-07 16:50] #20710 closed

[2022-01-07 17:25] Rishabh-792 commented on #20712
Sorry @alya

I figured how to aprroach and possibly fix it now and attaching the screenshot after applying a fix.
![Screenshot from 2022-01-07 22-50-32](https://user-images.githubusercontent.com/79650357/148582375-bb362b1c-d559-44c1-bf01-5880faa8e458.png)

I can raise a PR if this works.

[2022-01-07 19:32] alexmv opened #20715 "Add a configuration flag to skip proxy with boto3, for EC2 using IAM roles to upload to S3"
Attempts to upload files to the S3 file upload backend can fail if they use IAM roles on the EC2 instance to provide auth to perform the S3 upload.  This is because boto3, if using IAM instance credentials, makes a request to the metadata IP address (169.254.169.254), which is precisely the kind of address which Smokescreen does _not_ allow.

The S3 storage backend should use a configuration optio

[2022-01-07 19:41] algo-byte commented on #20675
@alya, thank you for the response. I think I have made the required changes. Requesting a PR review

[2022-01-07 20:08] #20550 closed

[2022-01-07 23:59] dpo commented on #14251
I'm also interested in achieving this on zulipchat.com, i.e., without a self-hosted solution, and preferably without Zapier/IFTTT. Thanks!

[2022-01-08 03:09] YashRE42 commented on #20712
@Rishabh-792, that looks okay, send in a PR.

[2022-01-08 03:09] eeshangarg opened #20725 "Display number of contributors per repo on our /team page."
Instead of just displaying how many contributions individual contributors made to each repo, we should also display a "Total no of contributors" count per repo to see how many contributors have contributed to each repository.

See [this thread](https://chat.zulip.org/#narrow/stream/2-general/topic/stats.20on.20.2Fteam.20page/near/1306415) for more details.

@alya FYI

[2022-01-08 03:49] srdeotarse commented on #20618
@zulipbot I am still working on this issue.

[2022-01-08 05:45] Rishabh-792 commented on #20712
@zulipbot claim

[2022-01-08 05:46] Rishabh-792 commented on #20712
Raised PR #20726 for fixing this.

[2022-01-08 05:50] akarsh-jain-790 commented on #20700
@alya Is this the desired result:

https://user-images.githubusercontent.com/72064462/148633242-a250d29c-aba2-466f-ad11-cb2635cef976.mp4

[2022-01-08 07:08] yaman-694 commented on #19967
@zulipbot abandon

[2022-01-08 09:35] skpatro23 commented on #20415
![2022-01-08_15-01](https://user-images.githubusercontent.com/60396045/148639337-0438a1da-cb18-46a8-b006-c069b832e6bb.png)

Hi @alya
Is this okay ?

[2022-01-08 09:49] victorknox commented on #20575
@zulipbot claim

[2022-01-08 10:19] skpatro23 commented on #20415
#20729

[2022-01-08 14:42] Biki-das commented on #20700
@akarsh-jain-790 where did you find the code related to it?

[2022-01-08 17:14] mittal-parth commented on #20499
@showell may I know if you are still working on this?

[2022-01-08 20:38] Fingel commented on #19732
@zulipbot claim

[2022-01-08 21:31] raghavluthra20 commented on #19884
Hello, I have made some progress in this issue and I'm planning to make a
PR in the next day or two. Is it alright if I claim this issue again?

On Sun, Jan 9, 2022 at 12:36 AM zulipbot ***@***.***> wrote:

[2022-01-08 22:17] raghavluthra20 commented on #19884
@zulipbot claim

[2022-01-09 04:36] Biki-das commented on #20630
@eeshangarg @sahil839 can anyone of you guide on how do i reproduce the error, it seems the zulip dev environment does not show the same and to make the changes i need to reproduce the error and make the necessary changes

[2022-01-09 06:24] somesh202 commented on #20452
@zulipbot claim

[2022-01-09 11:29] xLeviackermanX commented on #20397
Can someone review the color scheme used for dark mode? Also what color should be used for the graphs and charts (as white doesn't look very good on a dark-theme page in my opinion)?
![image](https://user-images.githubusercontent.com/55832722/148680298-a8689b1a-7389-45f7-8932-64c1854d67ad.png)

[2022-01-09 11:33] xLeviackermanX commented on #20397
Can someone review the color scheme used for this dark mode( in the attached image of UI)? Also what color should be used for the plots as white doesn't look very good in this UI?
![WhatsApp Image 2022-01-09 at 17 00 00](https://user-images.githubusercontent.com/55832722/148680434-60141c2b-cd09-4727-bc5b-5092e12f3612.jpeg)

[2022-01-09 13:06] asah commented on #20648
When replying to messages posted from the email gateway, they lose their association with the zulip-user who originated them:

- replies don't go to the originating user, which means that person may not see replies.
- stats, reactions etc don't accrue to the proper user.

strawman design: check the from: of the message, compare it to UserProfile.delivery_email and if they match, post the message o

[2022-01-09 14:36] sahil839 commented on #20630
You can use `./manage.py shell` to update the realm to limited plan by calling `do_change_realm_plan_type` with appropriate arguments.

[2022-01-09 14:51] N-Shar-ma commented on #20077
@zulipbot claim

[2022-01-09 15:23] MC-Terrence commented on #20502
Hello @refeed can I take this on, Please?

[2022-01-09 15:57] coniferousdyer commented on #18617
@zulipbot claim

[2022-01-09 16:13] xLeviackermanX commented on #20397
@YashRE42 can you check this once?

[2022-01-09 17:29] refeed commented on #20502
yup sure!

[2022-01-09 17:29] refeed commented on #20502
@zulipbot abandon

[2022-01-09 18:05] MC-Terrence commented on #20502
@zulipbot claim

[2022-01-09 22:26] mateuszmandera commented on #19732
@Fingel I already have a PR open for this at #20579

[2022-01-09 22:42] Fingel commented on #19732
Hi mateuszmandera,

I found this issue by searching for "Needs Help" issues that were unclaimed and not in progress. I am just trying to get a feel for the codebase. I don't mean to step on your toes, but I was not aware it was currently being worked on.

I'm fine with my PR being ignored if it is redundant.

[2022-01-10 07:08] sahil839 commented on #20687
@AayushSolanki are you working on this? Should be a small change.

[2022-01-10 09:40] AayushSolanki commented on #20687
@sahil839 i am facing issues with setup of project you can work

[2022-01-10 09:48] Arch0125 commented on #20687
@zulipbot claim

[2022-01-10 10:19] Arch0125 commented on #20687
@alya  I have made a pull request regarding the issue, can I get assigned to this issue ? .I guess there are suggestions from @sahil839

[2022-01-10 10:52] krtikgrg commented on #20523
@zulipbot claim

[2022-01-10 17:08] alya commented on #20575
@victorknox please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to get started, and keep in mind the following guideline:

I will go ahead and unassign this issue, and you should feel free to re-claim it once you have figured out how to approach it (or pick a different one if you prefer).

[2022-01-11 03:45] gnprice commented on #18067
Bump. It'd be nice to get this in, because if we have it in 5.0 then that will shorten the period that we have to have fallback code in the client for using the stream name instead (and hoping that e.g. it hasn't been renamed.)

[2022-01-11 04:45] varshitakolipaka commented on #20305
Hello!
Progress Update: I have setup the environment, and am experimenting the code previously pushed for this issue.

[2022-01-11 07:00] jackoe commented on #19653
Hey, still working on this. :)

[2022-01-11 10:21] kenokenobingo opened #20745 "Feature Request: Pinned message"
Similarly to other chat tools like Slack or Discord, it'd greatly improve workflow for a lot of teams to be able to pin messages within a topic or stream.

![Pinned messages in Slack.](https://slack.zendesk.com/hc/article_attachments/4404345616403/bookmarks_bar.png)

[2022-01-11 10:23] kenokenobingo opened #20746 "Missing preview images"
Using our self-hosted corporate instance, preview images for videos and GIFs won't show up.

![Missing preview image for a YouTube video.](https://user-images.githubusercontent.com/9639767/148925327-c9700f28-f39b-466c-be29-c5c02339ae24.png)

[2022-01-11 10:58] rht opened #20748 "A lot of the shell scripts in this repo still don't have `set -u` and `set -o pipefail` enabled"
For shell hygiene.

[2022-01-11 13:16] aleksanb commented on #11440
Our organization would really appreciate google meet video integration. Is there a way to impact the product roadmap of zulip through premium support channels or similar?

[2022-01-11 15:16] somesh202 commented on #20452
Hey @alya , I have made a PR for this issue. Can you please review it?
Thanks!

[2022-01-11 15:25] Biki-das commented on #20630
thanks sahil, i am working on it

[2022-01-11 15:25] Biki-das commented on #20630
@zulipbot claim

[2022-01-11 17:47] gnprice commented on #20748
(Chat discussion [here](https://chat.zulip.org/#narrow/stream/18-tools/topic/set.20-u/near/1302970) and above.)

[2022-01-11 22:34] mateuszmandera opened #20752 "do_scrub_realm doesn't scrub information of the Realm object itself"
The function `do_scrub_realm`, whose purpose is to purge the realm  in such a way that it satisfies organization owner requests for deletion of their organization together with its data, does not currently clean up information stored in the `Realm` object itself. This requires some investigation and probably some discussion to determine the full set of attributes that need overwriting, but at leas

[2022-01-11 22:44] mateuszmandera commented on #20752
Additionally, once we have this figured out, we may also want a migration to go over Realms that have already been scrubbed to scrub the data in the `Realm` objects accordingly. These can be identified by having their `UserProfile` match what's done to them in `do_scrub_realm`:
[code]

[2022-01-11 23:02] alya opened #20753 "Poll title editing button incorrectly shown on separate line"
In the screenshot below (from a[ CZO message](https://chat.zulip.org/#narrow/stream/101-design/topic/message.20feed.20borders.20and.20unreads/near/1308412)), the pencil icon is incorrectly placed on its own line. Instead, it should be at the end of the title line. This may be related to having a multi-line title, but I have not tested this hypothesis.

![Screen Shot 2022-01-11 at 2 56 30 PM](https

[2022-01-11 23:42] alya commented on #11440
@aleksanb Yes! Please reach out to support@zulip.com to discuss details.

[2022-01-12 00:01] alya commented on #20746
@kenokenobingo please stop by the [#production help](https://chat.zulip.org/#narrow/stream/31-production-help) stream in the [Zulip development community](https://zulip.com/development-community/) so that we can trouble-shoot this interactively. We can open an issue if the conclusion is that there is a bug that needs to be fixed in the Zulip codebase.

[2022-01-12 00:01] #20746 closed

[2022-01-12 00:09] alya commented on #20745
@kenokenobingo Our current priority in this space is to implement pinned topics (#19483). Would this address your use case? If not, could you say more about how you would use pinned messages?

[2022-01-12 00:27] alya commented on #20687
@Arch0125 please pick one issue to work on for now. You can abandon the other issue you have claimed if you would rather focus on this one.

[2022-01-12 00:29] alya commented on #20687
Ah, I see your other PR is waiting for review. OK, assigning this issue to you. :)

[2022-01-12 00:30] #20639 closed

[2022-01-12 00:51] alya commented on #20397
Yes, the plots would certainly need a dark background color as well.

Perhaps @terpimost can suggest a good set of colors for the overall background, the tiles, and the charts.

Additionally, the blue text (e.g. "Weekly") looks too dark to read.

[2022-01-12 00:53] NerdyLucifer commented on #20753
@zulipbot claim

[2022-01-12 00:57] NerdyLucifer commented on #20753
@zulipbot claim

[2022-01-12 01:02] alya commented on #20700
@akarsh-jain-790 sure, that looks reasonable. If you want to submit a PR, perhaps @Biki-das can review your work.

[2022-01-12 01:14] alya commented on #20415
@skpatro23 , yes, that screenshot looks fine.

[2022-01-12 01:28] NerdyLucifer commented on #20753
@zulipbot claim

[2022-01-12 06:34] gnprice opened #20759 ""Pan and zoom" cuts off images instead of using the available space"
If you have a tall image and a wide monitor (and wide browser viewport), and you try to zoom… the image stays trapped inside the same box it occupied before you even tried to zoom. If the image is super wide instead of tall, the same thing happens the other way around.

This leads to a lot of frustrating panning around, to look at the different parts of the image through this narrow keyhole, while

[2022-01-12 06:35] gnprice commented on #18939
I've filed this part specifically as #20759, in hopes of making it easier for someone to tackle.

[2022-01-12 08:13] kenokenobingo commented on #20745
@alya Thank you, this sounds great! A small idea: Maybe it'd be great to have another UI element to show the pinned elements, as it's done in Discord.

![grafik](https://user-images.githubusercontent.com/9639767/149088958-cff119de-fc69-46ba-a33e-ffbfe482197d.png)

[2022-01-12 08:57] InfiniteVerma commented on #20748
@zulipbot claim

[2022-01-12 08:59] InfiniteVerma commented on #20223
@zulipbot claim

[2022-01-12 10:10] asah commented on #20648
(prototyping in my deployment)

screenshot:
![image](https://user-images.githubusercontent.com/140002/149119891-e4979a3e-2c6c-452a-9937-b94ba366abf7.png)

rough diff:
[code]

[2022-01-12 10:42] InfiniteVerma commented on #20223
https://user-images.githubusercontent.com/45547198/149125044-e6933556-7001-42bd-9f30-ab7d5180f275.mp4

I went through the comment but am not able to reproduce the issue myself.

[2022-01-12 11:22] Shubh0405 commented on #20715
@zulipbot claim

[2022-01-12 11:50] Akshat1903 commented on #20618
@zulipbot claim

[2022-01-12 12:20] srdeotarse commented on #20618
@Akshat1903 Hi, I am actually still working on this issue.

[2022-01-12 12:27] Akshat1903 commented on #20618
@srdeotarse you can claim it again, i am not sure how to unclaim this issue!

[2022-01-12 12:40] srdeotarse commented on #20618
"@zulipbot abandon"- Command to abandon the issue. @Akshat1903

[2022-01-12 12:43] Akshat1903 commented on #20618
@zulipbot abandon

[2022-01-12 12:48] srdeotarse commented on #20618
@zulipbot claim

[2022-01-12 14:20] Biki-das opened #20762 "Using shorthand property for all of css styling"
While Going through the css files, i found a lot of css properties where we can apply shorthand property which make our code more readable, concise and also reduce lines of code further saving our time and energy while doing debugging and fixes.

i raised a small PR earlier for the same #20632 ,and here is a small discussion-https://github.com/zulip/zulip/pull/20632#issuecomment-1010461411  but fr

[2022-01-12 14:35] sll552 commented on #20490
Our deployment has no direct internet connection (also using zulip 4.8) and requires the use of an internal proxy server (which has an internal ip of course). But we would like to keep smokescreen and let it use our proxy. smokescreen seems to honor the proxy env variables but the ACL is preventing it to connect to the intenal proxy.

It would be nice to be able to configure the ACL at least. Even

[2022-01-12 14:40] My-Name-Is-Nabil commented on #20759
It's also mentioned that when the pan and zoom mode is enabled the image becomes somewhat blurry.

[2022-01-12 14:54] Shubh0405 commented on #20575
@zulipbot claim

[2022-01-12 16:48] talheim-it opened #20765 "Webhook - slack_incoming Error"
I added the security platform "wazuh" to send webhooks against my zulip installation.

It frequently generates this error:
[Django] comm.example.com: Internal Server Error: /api/v1/external/slack_incoming

Logger django.request, from module django.utils.log line 224:
Error generated by Wazuh <wazuh-bot@comm.example.com> (Member) on comm.example.com deployment

No stack trace available

Deployed co

[2022-01-12 17:10] raghavluthra20 commented on #19884
I'm unassigning myself to work on a different issue but this has been resolved by PR #20733

[2022-01-12 20:34] alexmv commented on #20748
@InfiniteVerma: Have at!

[2022-01-12 20:43] alexmv commented on #20715
@Shubh0405: Go ahead and give this a shot.

[2022-01-12 22:00] raghavluthra20 commented on #19884
@zulipbot claim

[2022-01-12 22:30] #20383 closed

[2022-01-13 00:09] jhellerstedt opened #20772 "[Django] <server>: Bad Gateway: /api/v1/users/me/android_gcm_reg_id"
I recently upgraded to 4.8 (from 4.3), and all push notifications have stopped working. Furthermore, I get an error email generated every time a new user on the server opens their mobile app (and now myself after I un-installed/ re-installed the android app):

Logger django.request, from module django.utils.log line 224:
Error generated by <user> on <server address> deployment

No stack trace avai

[2022-01-13 12:44] Lachstec commented on #19808
Hello there,

We have the same problem in our organization, since yesterday, the status of all users is offline, although they have not set it that way themselves. We can still message each other and change our status, but it is not reported to other users.

We looked at our Server (Ubuntu 20.04.2 LTS) and first checked that all of the zulip workers are running using `supervisorctl status`, which

[2022-01-13 15:22] daksh931 commented on #20618
@zulipbot claim

[2022-01-13 17:12] rwbarton opened #20778 ""single stream" mode `/?stream=foo` causes page load failure"
Visiting a URL like https://chat.zulip.org/?stream=tools results in javascript errors and a generally broken Zulip client.

The cause is that [this code](https://github.com/zulip/zulip/blob/0777cd73bb07ed23ff83c3147040f3062f2b862f/static/js/compose.js#L712-L718) in `compose.js` is running before `compose_pm_pill.js` has been initialized. This might have been caused by the reordered initialization

[2022-01-13 19:45] Fingel commented on #20759
@zulipbot claim

[2022-01-13 22:12] rbommel opened #20785 "Feature request: phone app could download messages while online"
It sometimes happens to me that I see a Zulip notification on my phone, but I am not in a place where I have internet anymore, and then I cannot read the message that I got. If Zulip can receive notifications on the background, could it maybe be an idea that it also tries to download to content of the message at the same time, so you can access it also when you are not online anymore?

[2022-01-14 08:30] Biki-das opened #20797 "Show `no search result` message in filter stream search"
currently in the search stream filter, if there are no matching streams found, it does not show anything, it will be better to show message stating `no stream found`

![announce - Zulip Dev - Zulip - Google Chrome 14-01-2022 2 03 46 PM](https://user-images.githubusercontent.com/72331432/149479178-c758f185-c2ab-4032-8b6f-046e83c65993.png)

this is what it should look like

![announce - Zulip Dev -

[2022-01-14 08:47] Biki-das commented on #20797
@alya feedback apppreciated, thanks

[2022-01-14 14:05] Biki-das opened #20799 "Broken responsiveness in integrations page"
https://zulip.com/integrations/

this section of the page is unresponsive in smaller screen

![Connect the tools you use to Zulip - Google Chrome 17-01-2022 12 04 30 PM](https://user-images.githubusercontent.com/72331432/149719453-db9fdbe0-f55d-4ae6-a668-859b057b45d5.png)

It should lool like 👇

![Connect the tools you use to Zulip - Google Chrome 14-01-2022 8 19 41 PM](https://user-images.githubu

[2022-01-14 16:42] GhaziTriki opened #20804 "BigBlueButton integration not working since 2.4"
The meeting name has now became mandatory !

[2022-01-14 19:22] terpimost commented on #20397
For the start I suggest to replace white background in charts with pure black. And replace white border around every card with black. Replace black text on charts with black. Usually its easier to do by replacing font-color on an upper level. Also the card background itself should be black. And active section/button font-color also could be white.

That would be a good first step. After than the n

[2022-01-14 20:16] Akshat1903 commented on #20677
@zulipbot claim

[2022-01-15 11:10] maltokyo commented on #16210
Can I help, or test anything with this.  Images (loading in full quality) and making Zulip as slow as hell is a major pain point for my users, especially on Mobile connections on the other side of the world from my server..

[2022-01-15 11:29] Biki-das commented on #20799
@YashRE42 need your feedback

[2022-01-15 12:21] harsitsinha commented on #19653
@zulipbot claim

[2022-01-15 17:06] xeruf commented on #19434
@madrix01 if students should see answers to each others questions, simply make an actual public stream. This should be your got-to anyways.

[2022-01-15 17:23] xeruf opened #20806 "Handle guests when creating streams"
When creating a new general stream within our small company, I want everyone of the company to be onboard, but not our customers who joined in as guests. Thus it would be nice to have the ability to add all non-guests to a new stream.

This will probably best solved once https://github.com/zulip/zulip/issues/19525 is implemented, but in the meantime, there could be a button "Uncheck Guests" (or "T

[2022-01-15 20:30] akshi2000 commented on #20073
@zulipbot claim

[2022-01-15 20:31] akshi2000 commented on #20073
@zulipbot claim

[2022-01-15 20:44] akshi2000 commented on #20073
@zulipbot abandon

[2022-01-16 06:56] Biki-das commented on #18286
@zulipbot claim

[2022-01-16 09:43] harsitsinha commented on #19653
@zulipbot abandon

[2022-01-16 10:49] jackoe commented on #19653
@zulipbot claim

[2022-01-16 11:30] rohithvarma3000 commented on #19589
@zulipbot claim

[2022-01-16 12:10] akshi2000 commented on #18320
@zulipbot claim

[2022-01-16 12:18] akshi2000 commented on #18320
Hi @iamu985 , are you still working on this pr? If not can you please close it? I'd like to work on this one.

[2022-01-16 15:00] algo-byte commented on #20676
@zulipbot abandon

[2022-01-16 15:05] algo-byte commented on #20806
@zulipbot claim

[2022-01-16 19:43] Akshat1903 commented on #20677
@mateuszmandera , can you please more context in the issue as to what the structure  (subject, body) of the webhook message should be? Also do I need to integrate only resource based logs?

[2022-01-16 20:54] ditsuke commented on #20484
I believe PR https://github.com/zulip/zulip/pull/20487 should be linked to this issue

[2022-01-17 04:30] jhellerstedt commented on #20772
I finally checked the output of `supervisorctl status` and found that both `go-camo` and `smokescreen` were stopped (despite a zulip server restart, maybe a separate issue). When I manually started them, this problem went away.

[2022-01-17 04:30] #20772 closed

[2022-01-17 06:43] Biki-das commented on #20304
@zulipbot claim

[2022-01-17 07:14] Biki-das commented on #20799
@zulipbot label "Area:Integrations"

[2022-01-17 07:17] Biki-das opened #20813 "Notifying User Information for Pinned and Muted streams in the subscriber List."
currently in the Browse stream:-

https://user-images.githubusercontent.com/72331432/149724329-a0bb42f5-7e7f-4f1b-93d6-c8a5d3ca6091.mp4

we can add icon for pin and mute stream further , which improves the user experience as a whole

[2022-01-17 07:18] Biki-das commented on #20813
@zulipbot  claim.

[2022-01-17 07:18] Biki-das commented on #20813
@alya  looking for your feedback

[2022-01-17 07:27] raghupalash commented on #20023
Still working, waiting for review.

[2022-01-17 14:32] anurastogiji commented on #20483
@zulipbot claim

[2022-01-17 17:19] KarishmaVanwari commented on #20403
@asah have you fixed this issue?

[2022-01-18 07:22] YashRE42 commented on #20799
Thanks for catching this and sending in the PR! It's definitely broken and could be improved.

[2022-01-18 08:26] ericbets opened #20821 "zulip 5 oidc potential bug."
I've configured OpenId connect in settings.py from the main git branch. I'm pretty sure I've configured it correctly but I am getting an error when trying to login:

500 Internal Server error with this url in the browser bar:
https://site.tld/login/oidc/?subdomain=&is_signup=0&multiuse_object_key=&next=%2F

I'm using Keycloak and my oidc_url is "https://adiffsite.tld/auth/realms/MyRealm/"

[2022-01-18 08:34] akarsh-jain-790 commented on #20675
@zulipbot abandon

[2022-01-18 12:15] irrandon opened #20822 "Stats: stops working after export/import"
After export/import (fresh installation) the stats page stops to work.
Only the 'Messages sent over time' graph shows data, but these are 2 years old.
The 'Last Updated' date ist March 18 2020, roughly the date of the original server setup.
The system time inside the container is correct.

![stats](https://user-images.githubusercontent.com/13981266/149935426-72132009-c29e-4485-90f5-e50f3edabdd5.PN

[2022-01-18 13:12] laurynmm opened #20824 "Update `subscriptions` parameter in OpenAPI doc."
Currently, in the OpenAPI documentation, the object parameter `subscriptions` for the [`POST https://yourZulipDomain.zulipchat.com/api/v1/users/me/subscriptions`](https://zulip.com/api/subscribe#parameter-subscriptions) endpoint relies on the "description" property to provide details about the object being sent from the client:

[code]

Ideally, the object definition in the OpenAPI documentation s

[2022-01-18 13:15] laurynmm opened #20825 "Update `subscription_data` parameter in OpenAPI doc."
Currently, in the OpenAPI documentation, the object parameter `subcription_data` for the [`POST https://yourZulipDomain.zulipchat.com/api/v1/users/me/subscriptions/properties`](https://zulip.com/api/update-subscription-settings#parameter-subscription_data) endpoint relies on the "description" property to provide details about the object being sent from the client:

[code]

Ideally, the object defi

[2022-01-18 13:25] laurynmm opened #20826 "Update `Draft` schema in OpenAPI documentation."
Currently, the `Draft` object schema in the OpenAPI documentation includes an `id` property by default. There are two endpoints (found here in the documentation: [`api/create drafts`](https://zulip.com/api/create-drafts) and [`api/edit-draft`](https://zulip.com/api/edit-draft)) that reference this schema in the documentation, but where that property should not be present in the object being sent f

[2022-01-18 13:37] Arch0125 commented on #20283
I am working on this issue. Will make a PR soon

[2022-01-18 18:53] Biki-das opened #20828 "Input form not aligned correctly in organisation url login"
this is what it currently looks like:-

https://user-images.githubusercontent.com/72331432/150001221-9a3048f1-d1f5-48b0-80f7-ed545579c43a.mp4

this is what it should look like:-

https://user-images.githubusercontent.com/72331432/150001355-9a43a37d-6693-4eaa-83e5-f8b8bd007be2.mp4

[2022-01-18 18:59] Biki-das commented on #20828
@zulipbot claim

[2022-01-18 19:00] Biki-das commented on #20828
@alya @YashRE42 looking forward to you.

[2022-01-18 20:04] alya opened #20831 "Fix minor bugs in bot management modal"
As reported by @Rishabh-792  [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/mis-alignment.20in.20bot.20info/near/1311034), there are two minor issues in the bot management modal:

- [x] At present, the "Remove owner" link is always shown. We should not show the link when there is no owner.
- [ ]  The "Save changes" button should be disabled when no changes have been made.

It's fine t

[2022-01-18 20:46] #20077 closed

[2022-01-18 22:12] ericbets commented on #20821
According to the log I am getting:
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://site.tld/auth/realms/MyRealm/.well-known/openid-configuration/.well-known/openid-configuration

So it looks like that is being concatenated by zulip onto the string twice instead of once.

[2022-01-18 23:03] alexmv commented on #20772
To close the loop, #20832 will make `start-server` consistently start those services.

[2022-01-18 23:45] mdshahansha commented on #17248
is this this issue is still pending ?

[2022-01-18 23:48] mdshahansha commented on #10539
claim this issue @zulipbot

[2022-01-19 01:08] Aasfga commented on #6581
@zulipbot abandon

[2022-01-19 02:02] NerdyLucifer commented on #20831
@zulipbot claim

[2022-01-19 02:03] NerdyLucifer commented on #20753
@zulipbot abandon

[2022-01-19 02:04] NerdyLucifer commented on #20831
@zulipbot claim

[2022-01-19 03:29] YashRE42 commented on #20828
I suspect the previous design was intentional, because it made "your-org-url.zulipchat.com" seem like a single thing... I'm not 100% sure what the best practice is here, I wonder what Alya thinks.

[2022-01-19 04:39] xLeviackermanX commented on #20397
@zulipbot claim

[2022-01-19 06:16] alya commented on #20828
Yes, the current design looks better to me for the reason that @YashRE42 described. Thanks for the proposal @Biki-das , but I'm going to close this one out.

[2022-01-19 06:16] #20828 closed

[2022-01-19 06:36] Biki-das commented on #20828
thanks alya for the feedback

[2022-01-19 06:46] alya opened #20838 "Improve default stream selection in Organization settings"
At present, it's possible to enter a blank or invalid stream name under Organization settings > Default streams, producing an error:

![Screen Shot 2022-01-18 at 11 44 46 AM](https://user-images.githubusercontent.com/2090066/150077490-4adc2dd6-6db9-459f-8f25-734d798aa7f6.png)

Entering a stream that is already on the list does nothing, with no feedback to the user.

Instead, the stream selection b

[2022-01-19 07:04] nikhilmaske-2001 commented on #20838
@zulipbot claim

[2022-01-19 07:48] nikhilmaske-2001 opened #20839 "Cross button alignment issue in alert banners"
The cross (close) button in the alert banners is aligned properly when the banner text lie only in 1 line.
But the alignment is wrong when the text goes on the 2 line.
For one line:
![image](https://user-images.githubusercontent.com/59444243/150086458-15294935-b115-4fc1-9dce-e238adde2521.png)

For two line:
![image](https://user-images.githubusercontent.com/59444243/150086660-1832892c-3d97-4719-82

[2022-01-19 08:05] irrandon commented on #20822
Fixed with:
[code]

[2022-01-19 10:40] vivekrajput566 commented on #20839
claim

[2022-01-19 10:43] vivekrajput566 commented on #20839
@zulipbot claim

[2022-01-19 10:53] vivekrajput566 commented on #20831
@zulipbot claim.

[2022-01-19 10:57] vivekrajput566 commented on #20753
@zulipbot  claim.

[2022-01-19 11:33] rohithvarma3000 commented on #20087
I was doing some research into the new alerting system of grafana. https://grafana.com/docs/grafana/latest/alerting/unified-alerting/contact-points/ contains the new webhook JSON body.

[2022-01-19 14:38] Biki-das opened #20844 "Overlap of `X` closing button from the Text In search area"
I was Just doing random stuff in the zulip search and accidently i typed a lot of text in the search area
and found out a bug where the closing `x` button was being overlapped by the text, the problem seems to be in all the areas including searching for `Users` , `filter streams` and stream setting  search area too.

https://user-images.githubusercontent.com/72331432/150152586-030c5b64-5180-470b-b

[2022-01-19 14:40] Biki-das commented on #20844
@zulipbot claim

[2022-01-19 15:08] Biki-das commented on #20844
@YashRE42 looking forward to your review.

[2022-01-19 17:18] flaviozluca opened #20847 "Issues copy x pasting images from desktop app"
Congrats on Zulip, great system.

Copy x pasting imaging doesn't seem to work. Try to copy an image from Zulip chat (desktop app, Windows) to Word or anywhere else, it won't work.

Can someone pls confirm on your installation?

Thanks.

[2022-01-19 17:57] alya commented on #20847
Thanks for the report!

How are you copying the image? Have you tried right-clicking on it and using the "Copy image" menu option?

[2022-01-19 18:41] alya commented on #20813
Hm, interesting idea! Where were you thinking about placing the icons? Maybe just to the right of the stream name?

Would you be up for starting a thread in [#design](https://chat.zulip.org/#narrow/stream/101-design) to discuss?

[2022-01-19 18:45] alya commented on #20806
Thanks for the request @xeruf ! @showell FYI

[2022-01-19 18:46] alya commented on #20806
@algo-byte this issue is not ready to work on. Unless specifically discussed, please choose from issues marked as "help wanted" or "good first issue".

[2022-01-19 18:50] alya commented on #18320
@akshi2000 There is no need to close existing PRs. (CC  @iamu985)

As noted in the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#common-questions):

[2022-01-19 18:56] flaviozluca commented on #20847
Dear Alya,

Thanks for the ultra fast response.

Yes, right click copy image. Tried in all possible ways, actually.
Copy, copy image URL, copy image (which, AFAIK is the correct one).
Both without clicking on the image, to see it larger, as well as
clicking on it and doing that when it's shown in it's original size.
Had my sysadmin test it also, he confirmed the issue.

Can you test on your side,

[2022-01-19 19:08] algo-byte commented on #20806
@alya thanks for letting me know, will keep that in mind. Also, should I be closing my PR?

[2022-01-19 19:16] coniferousdyer commented on #18617
Yes, I am still working on it.

[2022-01-19 19:39] algo-byte commented on #20806
@zulipbot abandon

[2022-01-19 19:49] timabbott commented on #20822
I believe this is https://github.com/zulip/zulip/issues/13486.

The commands you ran (to regenerate the data) is probably the best thing one can do using the import/export tool.

(While we will eventually fix #13486, this category of issue is a reason we recommend using the backup tool over the import/export tool when both are options).

[2022-01-19 20:10] timabbott commented on #20804
Thanks for the report.  @strifel has this been fixed in `main`, or do we need to merge something here?

[2022-01-19 20:12] strifel commented on #20804
@timabbott Waiting for your review on #16580

[2022-01-19 20:13] strifel commented on #20804
Also this issue is probably a duplicate of #20509

[2022-01-19 20:50] gnprice commented on #19873
Some discussion in that chat thread. The complete fix is that we should replace Python-Markdown with some other Markdown implementation that has a saner architecture.

That probably won't happen soon. A straightforward workaround would be for our autocompleters to not generate references that trigger this bug. Instead, they can fall back to generating the normal Markdown syntax for a link.

As for

[2022-01-19 21:04] #19424 closed

[2022-01-20 01:44] #20725 closed

[2022-01-20 03:23] raghupalash commented on #20824
@zulipbot claim

[2022-01-20 03:51] raghupalash commented on #20824
Hey @laurynmm! I'm new to OpenAPI, so your help is appreciated, can you tell me if this is the right fix for this issue?

[2022-01-20 05:15] alya commented on #20844
I updated #19765 to clarify that it applies to all search areas. Closing this issue as a duplicate.

[2022-01-20 05:15] alya commented on #19765
New related PR: #20845

[2022-01-20 05:33] alya commented on #20806
Yeah, it probably make sense to close the PR, because the flow for adding users will change a lot after @showell completes his project.

[2022-01-20 05:41] alya commented on #20847
Huh, got it. It works fine on my computer (a Mac); I'll pass on the question to the development community.

To help with debugging, could you let me know what happens when you run Zulip in a browser rather than the desktop app? Does it work in that case?

[2022-01-20 05:52] alya commented on #20839
Huh, this issue was reported in #19770 and closed in #19991. Was the fix incorrect, or is this a regression?

[2022-01-20 06:34] madrix01 commented on #19449
@zulipbot claim

[2022-01-20 06:35] somesh202 commented on #20502
@zulipbot claim

[2022-01-20 06:36] somesh202 commented on #20502
@zulipbot claim

[2022-01-20 07:18] alya commented on #20797
Good idea! Let's change the string to "No matching streams.", to be parallel with the "No matching users." string in the right sidebar.

Just to confirm, I assume you used the same font as we have for "No matching users."?

[2022-01-20 07:29] Biki-das commented on #20797
yeah sure

[2022-01-20 07:32] #20844 closed

[2022-01-20 07:49] ayasahmad63 commented on #20675
@zulipbot  claim

[2022-01-20 09:22] nikhilmaske-2001 commented on #20839
PR #19991 only fixed the cross button alignment for `compose_not_subscribed` banner. The cross button alignment issue is still present on other banners.
![image](https://user-images.githubusercontent.com/59444243/150309833-90177462-50f8-4f33-ad46-f273ce28d797.png)

[2022-01-20 09:55] ritikchauhan-01 commented on #20035
@sahil if you are not working on it . Can I work on it.

[2022-01-20 09:57] sahil839 commented on #20035
I have a PR open and it is almost complete.
You can take some other issue.

[2022-01-20 09:58] ritikchauhan-01 commented on #20035
okay

[2022-01-20 12:54] KarishmaVanwari commented on #20484
Hey @alya , is this issue still open?

[2022-01-20 13:03] KarishmaVanwari commented on #12853
@zulipbot claim

[2022-01-20 13:04] KarishmaVanwari commented on #20403
@zulipbot abandon

[2022-01-20 13:04] KarishmaVanwari commented on #12853
@zulipbot claim

[2022-01-20 15:44] NerdyLucifer commented on #20831
@sahil839 I am not really sure but i guess previously the button was not enabled so the ":enabled" selector was not responding.

[2022-01-20 17:21] algo-byte commented on #20398
@alya can you please tell me if this issue is open to work on?

[2022-01-20 17:24] flaviozluca commented on #20847
Thank you.

Via browser it also doesn't work (tested with Firefox). Windows 11.
 

 luca.gif
 		 
 		traco_roxo.png
 Atenciosamente/Regards,

Flávio Zarur Lucarelli
Sócio-Diretor
LucaNet Sistemas [1]
55-21-3005-9310 / 55-11-2122-4256
Celular / WhatsApp: 21-99542-4180 (apenas chat)

Em Quinta-feira, 20/01/2022 no 2:42 Alya Abbott escreveu:

Huh, got it. It works fine on my computer (a Mac); I'll pa

[2022-01-20 17:31] akshi2000 commented on #18320
Okay, Thank you @alya, I'll take a look at the existing PR and see what can be done.

[2022-01-20 17:34] Biki-das commented on #19958
@zulipbot claim

[2022-01-20 18:49] vivekrajput566 commented on #20753
@zulipbot  abandon

[2022-01-20 18:58] raghavluthra20 opened #20856 "Deleting/editing an embedded bot gives error "Insufficent permission"."
Steps to reproduce:
1) Create an embedded bot.
2) Click on the edit button and change the owner.
3)  After clicking on `Save changes`, try to delete the bot.
4) An alert saying "Insufficient permission" will appear.

https://user-images.githubusercontent.com/59819879/150404108-15a0763a-ac36-4f67-9b17-df56c8ccfac4.mp4

[2022-01-20 19:37] alya commented on #20856
I think what might be going on is that the settings page doesn't get updated properly when you change the bot owner. Once the owner is changed, you shouldn't see that bot on your list of bots anymore. I was able to replicate this in the dev environment; the bot only disappeared after I logged out or reloaded the page.

@sahil839 does that sound right?

[2022-01-20 20:23] vivekrajput566 commented on #20831
@NerdyLucifer  @alya  how you find js code in the files as i am new in open source community so can you help me?

[2022-01-20 20:26] NerdyLucifer commented on #20831
@vivekrajput566 Please go through the directory structure in the Contributor's Doc
https://zulip.readthedocs.io/en/latest/overview/directory-structure.html#

[2022-01-20 22:46] alya commented on #20831
@vivekrajput566  please take a look at the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html) to learn how to get started. Also, keep in mind the following guideline:

Note that this issue is already assigned to @NerdyLucifer .

[2022-01-21 00:54] sejalwelankar commented on #19627
@zulipbot claim

[2022-01-21 00:57] alya commented on #19449
Thank you for sharing that! I'm not sure that precise design is going to work out -- could you please post it in[ #design](https://chat.zulip.org/#narrow/stream/101-design) on chat.zulip.org for broader feedback?

[2022-01-21 01:17] timabbott commented on #19808
@Lachstec the `zulip-workers:zulip_events` supervisor job is responsible for handling presence events in a system with less than ~4GB of RAM (or larger systems, the queue workers run multiprocess rather than multithreaded).  I suspect your issue is unrelated to the one @devZer0 reported, since his was localized to a single user.

There are multiple unlikely possibilities that could cause the behav

[2022-01-21 01:25] alya commented on #20398
@algo-byte This issue wasn't really ready, as we didn't have a worked out design.

In particular, I think the right approach is to ask the user when they send the invitation, rather than making it a display setting.

[2022-01-21 01:26] alya commented on #20398
I can write up a description soon and mark it as "help wanted" at that point.

[2022-01-21 04:07] algo-byte commented on #20398
Thank you for confirming, will make sure to check out the labels first before working on any issue next time.

[2022-01-21 04:10] algo-byte commented on #20398
@sahil839 thank you so much for helping me on this issue. Learned a lot from you and from this issue.

[2022-01-21 04:21] vivekrajput566 commented on #20831
@alya @NerdyLucifer  thanks to both of you.

[2022-01-21 09:10] prashantkr006 opened #20861 "default: Provisioning failed (exit code 1)!"
I was following https://zulip.readthedocs.io/en/latest/development/setup-vagrant.html#step-3-start-the-development-environment
to start the development environment
on windows after executing these commands:

# On Windows:
cd zulip
vagrant plugin install vagrant-vbguest
vagrant up --provider=virtualbox

I got some errors
![image](https://user-images.githubusercontent.com/54601213/150499111-5fd11814

[2022-01-21 10:57] akarsh-jain-790 commented on #20856
@zulipbot claim

[2022-01-21 11:05] akbajwa commented on #20600
@zulipbot claim

[2022-01-21 11:35] flaviozluca opened #20862 "Translation Brazilian Portuguese"
Friends,

Who can I contact to help with a few adjustments for PT-BR translation?

Thanks and sorry if this is the incorrect channel.

[2022-01-21 12:03] algo-byte commented on #20066
@Aryan4786 are you still working on this issue?

[2022-01-21 12:20] algo-byte commented on #19936
@zulipbot claim

[2022-01-21 13:32] KarishmaVanwari commented on #12853
@rishig @timabbott I have created a PR for fixing task 2. Please have a look!

[2022-01-21 13:55] KarishmaVanwari commented on #20753
@zulipbot claim

[2022-01-21 16:29] N-Shar-ma commented on #20698
@zulipbot claim

[2022-01-21 16:31] eeshangarg opened #20864 "tools: Make renumber-migrations work with modules other than zerver."
We recently discovered that `tools/renumber-migrations` does not work with modules other than `zerver`, such as `zilencer`. To change this would probably prevent buggy migrations in the future.

@timabbott FYI :)

[2022-01-21 16:40] KarishmaVanwari commented on #20753
Hey @alya , since I am waiting for a PR to be reviewed, I am unable to claim this issue currently. I am working on this issue. I hope it works!
Thanks!

[2022-01-21 17:36] raghavluthra20 opened #20865 "Update content under the heading "Claiming an issue" in the contributing documentation."
![chrome-capture](https://user-images.githubusercontent.com/59819879/150573746-470a29e8-7553-4c6b-b12f-6b3591685fe1.jpg)

The first paragraph says that zulipbot will give an error if one tries to claim an issue using `@zulipbot claim` without the labels `good first issue` or `help wanted`.
This is not the case since an issue without any of these 2 labels can also be claimed using the same method.

[2022-01-21 17:37] raghavluthra20 commented on #20865
@zulipbot claim

[2022-01-21 17:38] raghavluthra20 commented on #20865
@zulipbot claim

[2022-01-21 17:41] raghavluthra20 commented on #19884
Unassigning myself to work on a different issue but this has been resolved by PR #20733 which is under review

[2022-01-21 20:02] alya commented on #20398
I've updated the issue, so it's ready to be worked on now.

[2022-01-21 21:20] alya opened #20868 "Add formatting hints for polls and spoilers"
At present, when you insert a URL, you get a formatting hint directly in the syntax, with selected url text:

![Screen Shot 2022-01-19 at 10 34 25 AM](https://user-images.githubusercontent.com/2090066/150601399-84498a40-abbc-47a9-8b19-ad023b03d448.png)

We should extend this helpful pattern to other widgets with non-obvious formatting. In particular:

- /poll -> /poll Question (with "Question" hig

[2022-01-21 21:50] alya opened #20869 "Swap "Private messages" with "Recent topics" in left sidebar"
We should swap "Private messages" with "Recent topics" in the left sidebar.

It will be helpful to have "Recent topics" just below the other inbox-type view ("All messages"). We also want to put private messages just above Streams.

[CZO discussion thread](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20top.20left.20list.20reordering)

[2022-01-21 21:55] alya commented on #20869
@sahil839 would you be up for doing this quickly so that we can test it out in CZO?

[2022-01-21 22:11] #20824 closed

[2022-01-21 22:52] alya opened #20870 "Create collapsible "Private messages" section in left sidebar"
At present, private messages are collapsed in the left sidebar, unless the user is in a private message narrow. This has a few down sides:

1. Getting to a PM conversation generally requires multiple clicks.
2. It's not immediately clear who send you a new private message, which is important for determining whether one needs to read it right away.
3. It can be hard for new users to figure out how

[2022-01-21 23:10] alya opened #20871 "Stream color in the compose box not updating"
Stream color in the compose box doesn't always update properly. A replicator:

1. Go to PMs.
2. Press c to open the compose box. The stream name will be blank, and the stream color will (correctly) be grey.
3. Using the mouse, select a stream name from the dropdown.

**Expected**: Stream color should update.
**Actual**: Stream color remains grey.

Note that this issue doesn't happen when selecting

[2022-01-22 01:39] #20645 closed

[2022-01-22 04:44] raghupalash commented on #20865
This comes under the section of "Your first codebase contribution" - first time contributors can't claim issues that are not marked with the labels `good first issue` or `help wanted`, which is quite accurate in my experience. I have seen that happening.

I think this restriction ends after you make your first PR (I might be wrong on this one). And you can claim multiple issues after your first PR

[2022-01-22 05:20] sahil839 commented on #20869
Sure.

[2022-01-22 06:04] akarsh-jain-790 commented on #20856
@alya Is this the desired result:

https://user-images.githubusercontent.com/72064462/150627031-639a27fe-eed6-4659-917b-328c8c4d1c95.mp4

[2022-01-22 07:25] raghavluthra20 commented on #20865
Ah... that makes sense.

That might be the case. We can add a line explaining this behavior under the same heading.

[2022-01-22 07:26] raghavluthra20 commented on #20865
@alya looking for feedback

[2022-01-22 09:51] N-Shar-ma commented on #20871
@zulipbot claim

[2022-01-22 10:12] eXtrem0us commented on #20040
I have another issue. But it seems it's related in this context. After setting up the proxy rules to socks5://host:port, all the connections go through proxy, except Giphy.

[2022-01-22 14:27] algo-byte commented on #20398
@alya does that mean that for every invitee, the referrer can decide if he/she wants a PM or not?

[2022-01-22 14:46] rht opened #20887 "docs: Some of the Nginx words are not capitalized."
E.g. https://github.com/zulip/zulip/blob/fd1d4e101b5d6baaa19ae3166e568244c2582f26/docs/production/authentication-methods.md?plain=1#L768

[2022-01-22 14:52] mudassir1231 commented on #20887
Can I make changes in this

[2022-01-22 14:58] rht commented on #20887
Yes, sounds good.

[2022-01-22 17:25] sahil839 commented on #20856
The issue is owner itself is not changed as server returns an error. So, this is a backend error. For other bot types, owners are changed successfully and the UI is updated accordingly as shared in above video.

[2022-01-22 17:49] akarsh-jain-790 commented on #20856
No owner is changed but its showing error and also it should not be visible to user after owner is changed, which I have fixed [PR](https://github.com/zulip/zulip/pull/20883) .

[2022-01-22 20:06] N-Shar-ma commented on #20868
Commenting to inform I'm working on this

[2022-01-22 23:09] rht commented on #20887
@mudassir1231 wait, see the discussion at https://chat.zulip.org/#narrow/stream/18-tools/topic/grammar.20checker/near/1314277.

[2022-01-23 05:23] ThePeeps191 commented on #20600
@zulipbot claim

[2022-01-23 05:23] ThePeeps191 commented on #20600
aw man :(

[2022-01-23 07:23] alya commented on #20868
@N-Shar-ma I've assigned this issue to you. In the future, you can claim issues by messaging @zulipbot , as described [in the contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#in-the-main-server-and-web-app-repository).

[2022-01-23 08:54] N-Shar-ma commented on #20868
@alya Thanks for the assignment! I didn't try to claim this issue since zulipbot hadn't let me claim issue [#20871](https://github.com/zulip/zulip/issues/20871#issuecomment-1019140852) before.

[2022-01-23 10:03] saransh12345 commented on #20831
Hi guyss......I am absolutely new to this thing, can you help me about how to go for my first contribution in open source?
@alya @NerdyLucifer

[2022-01-23 10:12] Rishabh-792 commented on #20831
Hello Saransh ! You can make your first contribution by claiming an unassigned good first issue and then making a PR to fix that.

[2022-01-23 10:13] saransh12345 commented on #20831
ohh so first I have to claim it?

[2022-01-23 10:33] saransh12345 commented on #20618
@zulipbot claim

[2022-01-23 13:10] xeruf commented on #20806
But is that project gonna be done soon? Why not merge the intermediate proposed solution?

[2022-01-23 13:11] xeruf commented on #20398
Little design annotation:

[2022-01-23 17:45] ThePeeps191 commented on #20753
@zulipbot claim

[2022-01-23 17:46] ThePeeps191 commented on #20753
@zulipbot claim

[2022-01-23 17:46] ThePeeps191 commented on #20753
@zulipbot abandon

[2022-01-23 19:27] Arch0125 opened #20892 "Change Add Default Stream error message"
**If the user tries to add a default stream for new users to subscribe to, but the stream does not exist or there is a typing error the following message is displayed**

![Screenshot from 2022-01-24 00-55-32](https://user-images.githubusercontent.com/72722967/150694717-f754f5bb-1f23-469a-bcf8-ff9b227cb665.png)

Maybe we can change the message to something more meaningful and easier for the user to

[2022-01-24 04:33] Aditya-eddy commented on #20753
@zulipbot claim

[2022-01-24 04:42] nikhilmaske-2001 commented on #20892
Duplicate of #20838 , I am working on it.

[2022-01-24 04:48] Aditya-eddy commented on #20753
@zulipbot abandon

[2022-01-24 04:56] Aditya-eddy commented on #20871
@zulipbot  claim

[2022-01-24 05:04] Aditya-eddy commented on #20871
@zulibot abandon

[2022-01-24 05:04] Aditya-eddy commented on #20871
@zulipbot abandon

[2022-01-24 05:40] #20892 closed

[2022-01-24 08:33] Kompasskalle commented on #17448
Hi, is there any progress in this feature?

[2022-01-24 09:26] amanagr commented on #19844
Updated the PR.
<img width="1375" alt="Screenshot 2022-01-24 at 2 51 04 PM" src="https://user-images.githubusercontent.com/25124304/150756233-612ce19c-01d1-4218-ae77-de46c3636790.png">

[2022-01-24 12:04] rodrickcalvin commented on #20831
@zulipbot claim

[2022-01-24 12:07] rodrickcalvin commented on #20753
@zulipbot abandon

[2022-01-24 12:07] rodrickcalvin commented on #20753
@zulipbot claim

[2022-01-24 13:14] KarishmaVanwari commented on #20676
Hey @alya , I am working on this issue.

[2022-01-24 18:22] laurynmm commented on #20825
@zulipbot claim

[2022-01-24 18:46] rodrickcalvin commented on #2278
Can any guidance be provided on how the bug can be recreated so that I can help?

[2022-01-24 19:03] rodrickcalvin commented on #20753
@alya I need help with clearing the test errors on debian 10 buster. The lint --fix can't seem to fix the CSS issues. Even though the issue was fixed in this [PR](https://github.com/zulip/zulip/pull/20900).

[2022-01-24 19:25] #20698 closed

[2022-01-24 19:39] raghavluthra20 commented on #20887
@zulipbot claim

[2022-01-24 20:13] #20593 closed

[2022-01-24 20:15] Lachstec commented on #19808
@timabbott thanks for your reply tim. We've managed to fix it before you replied, but your assumptions were correct, the person who configured the email account for integration with zulip set it with an expiring password. This was the reason that zulip was no longer able to send mails, which blocked the event queue. After fixing the account, all issues resolved. But none the less, thanks for your

[2022-01-24 22:40] alya commented on #2517
Got another user request for this one.

[2022-01-25 01:14] #20871 closed

[2022-01-25 01:26] rht commented on #20887
It should be the other way around, i.e. to lowercase "nginx" whenever possible. Read the discussion above.

[2022-01-25 01:38] timabbott commented on #19808
Great, thanks for confirming the fix.

I think we can close the original issue; the theory discussed in https://github.com/zulip/zulip/issues/19808#issuecomment-926208851 is very likely.  @devZer0 did you hear back from the user regarding whether that setting was in use?

[2022-01-25 04:26] varshitakolipaka commented on #20305
Hello, I'm still working on the issue. I'm currently reading and rewriting portions of @isakhagg 's code.
I've found bugs for the bulleted and numbered points when enter-sends is enabled. I'm trying to fix that.

[2022-01-25 06:50] raghavluthra20 commented on #20887
@rht I have made the suggested changes.

[2022-01-25 09:56] devZer0 commented on #19808
unfortunately, no, the user is not responsive and appears orphaned in the meantime...

[2022-01-25 15:30] asah opened #20910 "clean dev/vagrant setup: curl crashing (reported to curl)"
Mac OSX 12.1 Monterey docker Engine 20.10.12 (desktop 4.4.2), sync'd to 4.9 (7ec2a2cde7a68de741b4bc179650e0ab0e26008e), ran `vagrant destroy` and `vagrant up --provider=docker` and got the dreaded `Error running a subcommand of ./tools/lib/provision.py` which I tracked down to curl crashing (!): `curl -fLO https://registry.npmjs.org/yarn/-/yarn-1.22.17.tgz` (install-yarn:21). I'm working around it

[2022-01-25 15:49] asah opened #20911 "4.9: dev failing provisioning due to orjson==3.6.6 requiring rust toolchain"
crazy! orjson seems to have a hidden dependency?!

[code]

running standalone I get the same error:

[code]

cc @alexmv

(vagrant/docker Engine 20.10.12 (desktop 4.4.2) - host OS is Mac OSX 12.1 Monterey)

[2022-01-25 17:56] algo-byte commented on #20398
@zulipbot claim

[2022-01-25 18:55] Fingel commented on #19732
@mateuszmandera Mind taking over this issue? It sounds like we'll be going with your PR with maybe some elements of mine included.

[2022-01-25 19:18] #20887 closed

[2022-01-25 21:26] asah commented on #20911
haha, not getting those hours back.  tl;dr: there's something very screwy with OSX 12.1 and docker... anyway, I also wanted to dev on ubuntu 20.04 to match my prod instance, so I decided to nail both at once... below is the diff. Notes:
- curl crashed so I replaced with wget, which... also crashed!  wget2 seems to work.
- `pip3 install orjson=3.6.6` fails on needing rust and `python-is-python3`, s

[2022-01-25 23:05] rodrickcalvin commented on #20753
Tests passed can anyone check the PR and see if changes are needed.

[2022-01-25 23:41] alya commented on #20911
@alexmv is there any follow-up we need to do here, or should we close the issue?

[2022-01-25 23:48] alya commented on #20398
@algo-byte Not for every invitee, but every time the user is sending out a bundle of invites. If you want to get a message when A joins but not B, you'd have to invite them separately.

[2022-01-25 23:49] alya commented on #20398
Good idea, thanks! Updated accordingly.

[2022-01-26 00:48] alya commented on #2278
It is possible that this bug is no longer reproducible. @rodrickcalvin did you follow the instructions in the issue, and if so, what did you see?

[2022-01-26 01:00] alya commented on #20676
@KarishmaVanwari in the future, you can claim issues via `@zulipbot claim`.

[2022-01-26 01:01] alya commented on #20831
@saransh12345 prior to claiming an issue, please review the [Zulip contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html).

[2022-01-26 01:19] #20825 closed

[2022-01-26 02:14] andersk commented on #20910
I traced this to an issue in the OpenSSL ARM64 assembly for Poly1305, introduced in openssl/openssl@2cf7fd698ec1375421f91338ff8a44e7da5238b6 (`OpenSSL_1_1_1b~37`) and already fixed in openssl/openssl@5795acffd8706e1cb584284ee5bb3a30986d0e75 (`OpenSSL_1_1_1i~21`). We could ask Debian if they want to backport this fix to oldstable.

Meanwhile, here’s a workaround:

[code]

[2022-01-26 03:11] andersk commented on #20910
I’ve sent a debdiff with the upstream patch to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=989604 (might take a few minutes to show up in the web interface).

[2022-01-26 03:43] #20911 closed

[2022-01-26 05:36] alya opened #20916 "Disable "Subscribers" tab when user cannot view subscribers"
When a user unsubscribes from a private stream, they can still see that stream in the Streams menu (until reload?). However, they cannot view stream subscribers.

In this situation, the Subscribers tab should be disabled, just like the Personal tab.

![Screen Shot 2022-01-25 at 9 35 19 PM](https://user-images.githubusercontent.com/2090066/151109381-ae19ca6b-ccbf-40d8-894c-7931d5b1aafb.png)
![Scree

[2022-01-26 05:43] alya opened #20917 "Make disabled Personal tab look disabled in dark mode"
When a user is not subscribed to a stream, the Personal tab in stream settings is disabled.

This is easy to see in light theme, but it's not visually indicated in dark theme. We should make the tab look disabled in dark theme as well.

The first thing to check will be whether we already have css for disabled elements in dark theme that should be getting applied here.
![Screen Shot 2022-01-25 at 9

[2022-01-26 06:05] alya opened #20918 "Document "import settings" feature"
When a user whose email is already associated with a Zulip account creates an account with another organization, the registration form offers to import settings from the existing account. We should add a Help center page to document which settings get imported.

This can be documented on a new page titled "Import settings" and placed just above "Deactivate your account" in the help index.

We shou

[2022-01-26 06:13] NerdyLucifer commented on #20917
@zulipbot  claim

[2022-01-26 06:22] Hrishabh-Nayal commented on #20916
@zulipbot claim

[2022-01-26 07:03] alya commented on #20806
That project is actively under way. Reviewing and merging a contributor's PR takes significant work from the core team, which it doesn't make sense to apply in this case.

[2022-01-26 07:21] alya commented on #20862
@flaviozluca please see https://zulip.readthedocs.io/en/latest/translating/translating.html for instructions. Thanks!

[2022-01-26 07:21] #20862 closed

[2022-01-26 07:34] alya commented on #20861
@prashantkr006 please ask for help in [#provision help](https://chat.zulip.org/#narrow/stream/21-provision-help) on chat.zulip.org so that your issue can be debugged interactively.

[2022-01-26 07:34] #20861 closed

[2022-01-26 07:57] eguaj opened #20920 "Upgrade from 4.8 to 4.9 failed restarting rabbitmq-server"
Hi,

I'm upgrading a Zulip Server 4.8 to the new release 4.9 and I'm getting an error (`ERROR: node with name "zulip" already running on "localhost"`) when the upgrade script try to restart rabbitmq-server (as seen from `/var/log/rabbitmq/startup_log`):

[code]

[code]

After re-running the upgrade script multiple times with the same error, I explicitly restarted the `epmd` daemon (with `systemctl

[2022-01-26 08:55] asah commented on #20911
@andersk @alexmv thx!!! however, it still crashed on the curl(1) command inside install-yarn, and indeed, [the curl team was able to repro the crash on debian 10](https://github.com/curl/curl/issues/8328) and offered an easy workaround, which is to add  `--ciphers ECDHE-ECDSA-AES128-GCM-SHA256`. This fix worked for me, here's the diff:

diff --git a/scripts/lib/install-yarn b/scripts/lib/install-y

[2022-01-26 09:03] andersk commented on #20911
That wasn’t the curl team, that was me. 🙂 And that’s the other issue (#20910).

I used `--ciphers` as a demonstration that OpenSSL was at fault, not as a suggested workaround. It’s not a good workaround because several of our dependencies use OpenSSL, not just curl, and also, not every server supports that cipher. I already posted a better workaround in the other issue.

[2022-01-26 09:37] asah commented on #20911
haha sorry!  I get it now... thanks!! for pouncing on this! #respect

Sorry if obvious... are you planning another commit with your preferred
workaround?  I ask because this issue is marked as "closed" but strictly
speaking, main is still broken due to curl. :-(

On Wed, Jan 26, 2022 at 4:03 AM Anders Kaseorg ***@***.***>
wrote:

[2022-01-26 09:41] andersk commented on #20911
Again: other issue. This one is for ortools, and is closed. #20910 is for curl, and is open.

[2022-01-26 09:54] asah commented on #20911
ah gotcha thx!

On Wed, Jan 26, 2022 at 4:41 AM Anders Kaseorg ***@***.***>
wrote:

[2022-01-26 10:10] jai2201 commented on #20918
@alya
I am new to Zulip org, I would like to pick up this issue

I saw the Import settings feature which you're talking about but
can i get to know which all are the things need to be documented, like what all are the settings are we importing?

[2022-01-26 10:34] asah opened #20921 "add CI runners for development on OSX and/or Windows"
Given the popularity of these platforms for development, does it make sense to add github action runners for these platforms e.g. that runs `vagrant up` ?

note: Apple M1 currently only has experimental support and it requires a [self-hosted runner](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners): https://github.com/hkratz/gha-runner-osx-arm64/pull/2

( is th

[2022-01-26 10:39] jai2201 commented on #20918
@zulipbot  claim

[2022-01-26 10:45] Zoronium commented on #20916
@zulipbot claim

[2022-01-26 12:11] #20917 closed

[2022-01-26 12:29] jai2201 commented on #20918
@alya  I have documented "import settings" feature in this PR, can you please review and merge?
https://github.com/zulip/zulip/pull/20922

[2022-01-26 13:29] rohithvarma3000 commented on #19589
I have worked on this issue and I have made a PR. Review is pending

[2022-01-26 13:32] jai2201 opened #20923 "Ask For Confirm Password Field also when changing Password ."
Currently, when a user clicks for change password, we just ask for 'old password' and a 'new password' field to be filled.

But to be more secure with the changing of password from user's side, we should ask user to also input a 'confirm new password' field for confirmation
![Screenshot from 2022-01-26 18-58-21](https://user-images.githubusercontent.com/76561593/151172014-f681897f-3dc0-4ad5-aa0c-c

[2022-01-26 13:33] jai2201 commented on #20923
@alya , @timabbott  lemee know if you also feel the requirement of this thing, so that i can start working on this feature.

[2022-01-26 13:48] jai2201 opened #20924 "Show proper Error Message while generating API Key"
![Screenshot from 2022-01-26 19-16-20](https://user-images.githubusercontent.com/76561593/151174278-97c62be4-d70a-4134-90cd-42acb9d00688.png)
On submitting wrong password for generating API key, we're shown a error of 'Your username or password is incorrect.'

which can be made more precise by showing 'Your password entered is incorrect.'

we don't need to include 'username' as here there's no cha

[2022-01-26 13:48] jai2201 commented on #20924
@alya  @timabbott  letmee know whether we can go ahead with this issue.

[2022-01-26 15:10] jai2201 commented on #20918
@alya I've also completed the feature of adding the '?' fa-icon on registration page near "import settings" and linked it to help-center page of import settings.

[2022-01-26 15:22] flaviozluca commented on #20862
Thank you, Alya. Will do it asap.

All the best.

[2022-01-26 16:45] KarishmaVanwari commented on #20676
@alya zulipbot won't allow me to claim an issue currently since I have one assigned already, PR of which is under review. Thanks!

[2022-01-26 16:57] jai2201 commented on #20923
@alya  @timabbott  Added this New Feature in this MR, please review and merge.

https://github.com/zulip/zulip/pull/20929

[2022-01-26 17:04] jai2201 commented on #20923
@zulipbot  claim

[2022-01-26 18:29] KarishmaVanwari commented on #20831
Hey @alya , I am working on this issue. Informing in comment since I am unable to actively claim this issue using zulipbot as an issue has been assigned to me, PR of which is under review.

[2022-01-26 18:33] jai2201 commented on #20924
@alya , @timabbott I have solved this in https://github.com/zulip/zulip/pull/20931

Please review and merge

[2022-01-26 18:33] alya commented on #20831
@KarishmaVanwari There's an in-progress PR for this issue, so it would probably be best to pick a different one.

[2022-01-26 18:52] akshi2000 commented on #18320
#20926

[2022-01-26 19:47] alya commented on #9362
We have made a product decision do drop work on this issue. It only takes a couple of clicks to switch between "Enter sends" and "CTRL+Enter" sends modes, and we think automating the choice (or adding a user option to automate the choice) isn't worth the added complexity. We can reopen the issue if there is strong demand for it in the future.

[2022-01-26 19:47] #9362 closed

[2022-01-26 20:25] timabbott commented on #20918
The imported settings are essentially all personal settings that would make sense (i.e. are not specific to a stream or custom profile fields):
* Your name and avatar.
* Everything in "Account and privacy" where it'd make sense (i.e. the checkboxes, not your password).
* Everything in "display settings".
* All global settings in "notification settings" (not the stream-specific ones).
* Your hotspo

[2022-01-26 20:25] KarishmaVanwari commented on #20831
Okay. Thanks for informing @alya !!

[2022-01-26 20:41] alya opened #20934 "[Experiment only] Turn off blue box message selection unless keyboard navigation is used"
Some users find the blue box around the selected message in Zulip distracting and/or confusing, so we're considering implementing a setting that would hide it by default.

As an initial experiment, we should experiment with turning it off by default for all users (no setting) on chat.zulip.org, to get a feel for the user experience. Specifically:

* The blue message selection box should not be sho

[2022-01-26 21:15] alya opened #20935 "[UI experiment] Hide unread counts on hover"
At present, the three-dot menus in the left sidebar appear on hover to the right of the unread counter. This is a bit awkward, as it means we have to leave blank space for the three dot menu when it's not being displayed.

We should experiment with the following alternative. Note that the goal for this issue is to have something we can try out on chat.zulip.org, and we are not confident that we wi

[2022-01-26 22:48] yringler commented on #15426
In other news, we actually started using zulip! Finally zulip's over the top threading support carried the day

Me: _Discord of all things got pretty solid threads recently, the main thing you can't do is move a message to another thread after you write it etc._
Influential person in org: _I'm not aware of any system that allows you to move a message to a new thread_
Me: _zulip_

We had zulip setu

[2022-01-26 22:49] alya commented on #15426
Amazing, thanks for sharing that!

[2022-01-27 00:57] NerdyLucifer commented on #20935
@zulipbot claim

[2022-01-27 01:07] alexmv commented on #19754
This also applies to `send_confirm_registration_email`, which is also synchronous, and can lead to a 500.

[2022-01-27 02:36] jai2201 commented on #20924
@timabbott @alya , I have solved this issue in https://github.com/zulip/zulip/pull/20937 , can you please review and merge?

[2022-01-27 08:46] algo-byte commented on #20398
@alya does this look good?

![Capture](https://user-images.githubusercontent.com/65943606/151323130-e0fc18c6-4048-49fc-b365-095b9584e311.JPG)

[2022-01-27 08:56] jai2201 commented on #20870
@zulipbot claim

[2022-01-27 08:58] jai2201 commented on #20918
Sure @timabbott , @alya , I have included all these things in my MR, and tried to improve it, can you please review and merge this ?

https://github.com/zulip/zulip/pull/20922

[2022-01-27 08:59] jai2201 commented on #20918
this issue should get solved now i guess with this MR https://github.com/zulip/zulip/pull/20922 , leaving it for you to review and merge and picking up another issue, thanks :)

[2022-01-27 08:59] jai2201 commented on #20918
@zulipbot abandon

[2022-01-27 08:59] jai2201 commented on #20870
@zulipbot  claim

[2022-01-27 10:45] thomas955 opened #20940 "Big Blue Button integration Zulip app"
Hi,

the bbb integration works fine for us but we have the problem:

If users use the zulip app and have a browser that is deleting all its coockies every restart, you need to login every time to zulip with your browser if you want to join a call from within the app in case your browser was freshly restarted.

It would be realy nice to be able to join calls from the app directly without an additio

[2022-01-27 12:20] morkovka3 commented on #19878
@zulipbot claim

[2022-01-27 15:09] JanBednarik opened #20943 "Exception while sending batch of scheduled emails causes re-sending"
Command `deliver_sheduled_emails` sends all scheduled emails in one shared transaction. When one `send_email` fails and crashes the command, it rollbacks whole transaction. And all already sent emails are send again next time the `deliver_sheduled_emails` runs.

This is a problem when there are hundreds of digest emails scheduled for sending. Each send of scheduled email opens new SMTP connection.

[2022-01-27 16:14] showell commented on #20934
(I moved the topic on czo, and then I edited the link in the description above.)

[2022-01-27 17:40] showell commented on #10970
Some relevant discussion can be found at https://chat.zulip.org/#narrow/stream/2-general/topic/user.20help

Basically, my position, which one of our self-hosting customers seems to broadly agree with, is that we should broaden this feature to work not only for guest users, but for any users that the admin wants to restrict (possibly excluding other admins and owners).

[2022-01-27 17:45] bmalynovytch commented on #10970
Another thread available: https://chat.zulip.org/#narrow/stream/137-feedback/topic/Hide.20members.20list

[2022-01-27 18:20] xeruf commented on #20575
I'll just tack this on here because I do not know whether much can be done about that:
I had only seen this feature used by others and finally wanted to use it on my own server, but it took me an awful lot of time to discover that there was no way to select the messages to move - I had to click "Edit topic"(4.9) or "Move topic" (v5) on the first message, change the topic *and only then* was I offe

[2022-01-27 19:22] KarishmaVanwari commented on #20676
Hey @alya , I have created a PR #20946 . Please have a look. Thanks!

[2022-01-27 21:05] algo-byte commented on #20398
@alya @timabbott I am having a little difficulty in preserving the default state of the checkbox. I tried finding the event handler that opens and closes `user invite modal` but couldn't find it. Also tried finding the `#/invite` url that gets called when we open the `user invite modal` but I am unable to find the right files. Any help is greatly appreciated.

[2022-01-27 21:08] alya opened #20948 "<time tooltip broken in Drafts"
The <time widget tooltip is broken inside Drafts. Ideally, the tooltip should show up properly. If that is somehow not possible, the tooltip could be turned off.

![Screen Shot 2022-01-27 at 12 42 01 PM](https://user-images.githubusercontent.com/2090066/151443719-7dfdc21d-66bc-47ee-8377-13c7c4f61514.png)

[2022-01-27 22:02] alya opened #20950 "Blue selection box not aligned properly in Drafts"
There is a gap between the blue selection box and the selected message in the drafts UI. There should be no space at the top or on the left between the blue box and the header bar/message.

![Screen Shot 2022-01-27 at 12 42 10 PM](https://user-images.githubusercontent.com/2090066/151450996-b93f38e0-b055-41a5-a704-aaf8d4765027.png)

[2022-01-27 22:24] N-Shar-ma commented on #20950
@zulipbot claim

[2022-01-27 22:44] alya opened #20951 "User groups UI looks broken when group has a long description"
The user groups UI looks broken when a  group has a long description:

![Screen Shot 2022-01-27 at 2 30 53 PM](https://user-images.githubusercontent.com/2090066/151455457-baea85f3-25f6-42a3-9df2-4d5e20e895b1.png)

Without going down a rabbit hole of making major changes to this UI (which will be affected by #19525), we should fix it by:

1. Making sure the name of the group has the space it needs

[2022-01-28 00:16] N-Shar-ma commented on #20948
@zulipbot claim

[2022-01-28 02:19] NerdyLucifer commented on #20935
@zulipbot abandon

[2022-01-28 02:19] NerdyLucifer commented on #20951
@zulipbot claim

[2022-01-28 06:31] alya commented on #20398
The screenshot looks good to me!

For the question above, you should post it in the [#backend](https://chat.zulip.org/#narrow/stream/3-backend) stream on chat.zulip.org so that more people have a chance to see it an help you out.

[2022-01-28 06:43] alya commented on #20575
Thanks for sharing that @xeruf ! I think #19196 should at least help with the last part of what you describe.

On the documentation side, were you able to find https://zulip.com/help/move-content-to-another-topic? Do you think it's missing anything?

[2022-01-28 07:11] MaheraFurniturewala commented on #20935
@zulipbot claim

[2022-01-28 07:47] KarishmaVanwari commented on #19865
Is this issue open? @alya @AnushaNathRoy

[2022-01-28 08:27] YashRE42 opened #20956 "navigating to recent topics does not reset text in search bar."
Expected behavior: Going from any message list / search view to recent topics view resets the text in the search box to empty.
Actual behavior: Text is not reset, see gif bellow:
<details>
<summary>
gif
</summary>

![](https://user-images.githubusercontent.com/33805964/151512105-e81e1f17-b54c-4ffa-acdb-2869f85e2546.gif)
</details>

The solution is probably just a single additional call when we're

[2022-01-28 08:31] YashRE42 commented on #20956
@zulipbot add "good first issue" "help wanted"

[2022-01-28 09:14] KarishmaVanwari commented on #20956
@YashRE42 thank you! I'll take this up.

[2022-01-28 09:14] KarishmaVanwari commented on #20956
@zulipbot claim

[2022-01-28 09:15] KarishmaVanwari commented on #20956
@YashRE42 could you please assign , since zulipbot won't allow me?

[2022-01-28 09:30] YashRE42 commented on #20956
I would if I could and maybe someone else that can, will do it later, but for now just leaving a message here that you're working on this (as you've already done) is sufficient.

[2022-01-28 09:31] KarishmaVanwari commented on #20956
Okay, thanks!

[2022-01-28 10:14] KarishmaVanwari commented on #20956
I've created a PR #20957 . Please have a look @YashRE42

[2022-01-28 10:28] KarishmaVanwari commented on #17998
Is this issue open? If yes, I'd like to work on it. @alya @asah

[2022-01-28 10:35] strifel commented on #20940
The problem is: The BigBlueButton api requires us to set the users name. We do only have the name after login, as the link is a simple link in a message you click.

But I agree that this is a bit annoying, but as far as I know this would have to somehow get implemented in Zulip Desktop to not open the link in a Browser directly, but open the internal link with credentials.

[2022-01-28 11:56] akshi2000 commented on #18320
Hi @alya, I have submitted a PR. Some feedback on it would be really helpful. Can you please have a look at it? Thank you!

[2022-01-28 13:27] KarishmaVanwari commented on #20538
Hey @alexmv , could you please clarify what invalid characters does this issue talk of?

[2022-01-28 13:33] KarishmaVanwari commented on #20523
Commenting to inform that I am working on this issue!
Unable to claim actively by zulipbot since I already have an issue assigned, pr of which is under review.

[2022-01-28 14:23] axaysagathiya commented on #19821
@zulipbot claim

[2022-01-28 14:35] thomas955 commented on #20940
Thanks for your answer.
This problem is a little showstopper for us to get things working properly with bbb in combination with Zulip, as it is requred for some of our users, to refresh the browser cache and stuff with every new session/restart.

As this is then for my understanding something new like a feature request:

Do we need to add labels and or a complete new issue for this?

[2022-01-28 16:59] showell commented on #20934
see #20961

[2022-01-28 17:03] alya opened #20962 "Disable compose box buttons in preview mode"
When the compose box is in preview mode, it is not possible to edit the text. We should therefore disable all the other compose box buttons (other than "help" and "drafts"), as they cannot be used in that situation. The icons should be greyed out, and the cursor should be changed to disabled mode.

[CZO discussion](https://chat.zulip.org/#narrow/stream/101-design/topic/preview.20icon/near/1317599)

[2022-01-28 17:15] #20950 closed

[2022-01-28 17:16] Zoronium commented on #20916
Hey @alya (sry for ping), I have done the things you asked for in this new pull request #20960

[2022-01-28 17:47] ticogarcia commented on #16426
@zulipbot claim

[2022-01-28 17:49] yogesh-sirsat commented on #20962
@alya can I claim this issue

[2022-01-28 17:51] yogesh-sirsat commented on #20962
@zulipbot claim

[2022-01-28 18:05] showell opened #20965 "feature request: Display user status more prominently in the buddy list."
This feature hasn't been signed off on yet--see https://chat.zulip.org/#narrow/stream/137-feedback/topic/display.20status.20in.20right.20sidebar/near/1318003 for more context.

In certain business contexts it's important to actively show user status such as "out to lunch" or "working remotely" in the buddy list.  Right now these statuses are only visible if users do things like hover over the user

[2022-01-28 18:27] alya opened #20966 "Show user status in right sidebar when profile image is displayed"
In #19999, we plan to add an option to show user profile pictures in the right sidebar. When we do so, we will increase the vertical space for each user. This will let us display additional information about the user.

In particular, in the display mode with profile pictures, we should show the user status text (in small font) below the username.

[2022-01-28 18:29] alya commented on #20965
Thanks for the request! I think we don't have a good way to add this text right now, but we will in the display mode where profile pictures are shown (#19999). Closing this issue in favor of #20966.

[2022-01-28 18:29] #20965 closed

[2022-01-28 19:44] timabbott commented on #9957
Retagged this as a Zulip 6.0 release goal, since that's the release we're targeting #19525 for.

[2022-01-28 20:43] alexmv opened #20967 "Use Stripe object names rather than parsing ids"
Stripe passes around objects that look like:
[code]
..or, for instance as part of that (in `data`):
[code]

We currently parse the prefix of the `id` to determine the type of the object.  This is fragile, and breaks when a novel form of the id is seen -- for instance, recently, `pdp` for a pseudo-dispute that is actually a failed ACH ([based on someone else's description of it](https://freenode.lo

[2022-01-28 20:46] alexmv commented on #20538
See #20375 and #20128, which this was created from.

[2022-01-28 22:05] alya commented on #20302
Since this issue is a release goal, I'm assigning it to @amanagr to work with @juliaBichler01 to get the PR across the finish line. Thanks!

[2022-01-28 22:07] timabbott commented on #20943
@alexmv @mateuszmandera FYI -- I think the right fix might be to do each email within a single transaction.  Given that we have a loop already, it seems like we could just change the top query to be something like

`ScheduledEmail.objects.filter(scheduled_timestamp__lte=timezone_now()).first()`, and we'd have similar performance without this potential bug.

[2022-01-28 22:09] yogesh-sirsat commented on #20962
Hey @alya, this is how it is looking should I commit?
![compose_box_preview_with_buttons_disabled](https://user-images.githubusercontent.com/41695888/151628393-7c8d6b00-6a4a-41cc-903f-9efb3ba86b00.gif)

[2022-01-28 22:11] #20924 closed

[2022-01-28 22:24] alya opened #20969 "Reformat stream retention policy change notification"
We should change the format of the stream retention policy notification message to be consistent with other stream notifications added in #20289 (cf. #20723).

Current format:
![Screen Shot 2022-01-28 at 2 16 55 PM](https://user-images.githubusercontent.com/2090066/151629150-ecb507e3-e89b-452f-9e28-f1d9e056313c.png)

Updated format:
@ Desdemona has changed the [message retention period](/help/mess

[2022-01-28 22:25] alya commented on #20289
Resolved by linked PRs. Small follow-up: #20969

[2022-01-28 22:25] #20289 closed

[2022-01-28 22:31] alya commented on #19865
Since this issue is a release goal, assigning to @YashRE42 to work with @AnushaNathRoy to get this work across the finish line.

[2022-01-28 22:33] jai2201 commented on #20935
@MaheraFurniturewala are you working on this PR?

[2022-01-28 22:44] alya commented on #20923
Thanks for the suggestion and PR, but I don't think password confirmation adds a lot of utility. People tend to just copy-paste the password anyway. :) So I don't think this change will be helpful.

If a user makes a typo, they should be able to just reset their password, and we haven't heard any complaints about this.

[2022-01-28 22:44] #20923 closed

[2022-01-28 22:58] showell opened #20970 "tooling: Make test-js-with-puppeteer fail fast if you don't pass it valid files."
If you pass in invalid arguments to `test-js-with-puppeteer` for which individual tests it should run, it should fail with a clear warning, and it should fail **before** expensively launching the Zulip server.

Apparently this is slightly non-trivial due to the way that we rely on `puppeteer` itself to do test discovery, so fixing this may be a bit challenging if you are not familiar with that.

I

[2022-01-28 23:11] alya opened #20971 "Add UI to view scheduled messages"
In #11227, we're adding the ability to schedule messages to be sent later. We need to make it possible to view one's scheduled messages, and cancel messages if needed.

To address this, we should add a "Scheduled messages" tab to the Drafts UI. See also #21716.

Note:
- The "Scheduled messages" tab should only be disabled if the user has no scheduled messages.
- In the Scheduled messages tab, the

[2022-01-28 23:20] alya opened #20972 "Improve message preview UI"
At present, when a user switches to message preview mode, the "eye" preview icon is replaced with an edit icon. This can be confusing, as there is no single icon to flip back and forth between preview and edit mode.

Instead, we should implement the design proposed [here](https://chat.zulip.org/#narrow/stream/101-design/topic/preview.20icon), specifically:

1. Move the preview icon to be on the ve

[2022-01-28 23:30] jai2201 commented on #20972
@alya I would like to claim this issue.

[2022-01-28 23:32] jai2201 commented on #20972
@zulipbot claim

[2022-01-28 23:33] alya opened #20973 "Provide additional information about deactivated invites and bots when user is deactivated"
In #20808 , we inform the administrator that deactivating a user also deactivates their invitations and bots. It would be helpful to provide additional information so that the admin knows whether they need to do any follow-up work. Specifically, we should add the following sentence at the bottom of the deactivation modal:

 Note that we should make sure the correct (singular) forms are used when M

[2022-01-28 23:34] jai2201 commented on #20972
I'm picking up this issue, zulip bot isn't allowing as i already have a MR requested, but yaa, i'm starting work on this issue.

[2022-01-28 23:35] asah commented on #17998
@KarishmaVanwari PR is waiting for final review.

[2022-01-28 23:41] timabbott commented on #20821
@ericbets can you stop by production help in chat.zulip.org to debug?

@mateuszmandera can you help investigate?

[2022-01-28 23:42] timabbott commented on #20822
Closing as a duplicate of #13486, since that issue has a lot more technical detail.

[2022-01-28 23:42] #20822 closed

[2022-01-28 23:46] timabbott commented on #20910
I think we can close this as now tracked in the Debian tracker; I don't think there's much else we can do here directly.

[2022-01-28 23:47] timabbott commented on #20920
Interesting; I wish we had a way to reproduce this failure mode.

@alexmv FYI in case this suggests any tweaks we want to make to the upgrade tool.

[2022-01-28 23:48] alya opened #20974 "Make “Subscribe to more streams” link not sticky"
At present, the “Subscribe to more streams” in the left sidebar is sticky, so that it's always shown. However, after a brief onboarding period, subscribing to additional streams is a rare action. Moreover, the "+" button next to the Streams heading offers another handy way to subscribe to streams.

To reduce distraction/clutter, we should experiment with making this link no longer sticky. It shoul

[2022-01-28 23:49] timabbott commented on #20921
I don't think we're likely to get a ton out of such a CI system compared to its cost in terms of runtime and maintenance headache.  Structurally, the things that make `vagrant up` fail that don't make `tools/provision` fail (which is already tested in CI) are going to be pretty varied.  There's an argument for M1 specifically, just because that's a different hardware architecture, but I'd probably

[2022-01-28 23:59] alya opened #20975 "Show multiple attached images horizontally"
At present, multiple images attached to the same message are stacked up vertically. Placing images horizontally instead would make it possible to show them at a reasonable size without taking up a large amount of vertical space.

See the [discussion on chat.zulip.org](https://chat.zulip.org/#narrow/stream/101-design/topic/Images.20in.20a.20line.20vs.20row) for technical implementation notes.

[2022-01-29 00:31] timabbott commented on #19709
I opened #20977 to cover this.

[2022-01-29 00:51] timabbott commented on #20806
Well, critically we also haven't discussed what design makes sense here -- there's a range of UI components that could be used for this feature.

[2022-01-29 00:55] timabbott commented on #20971
Just to be clear, this would be a completely independent set of APIs from Drafts -- we're only planning to reuse the presentation UI from drafts.

For background, drafts have a very different data model, because they need to support incomplete recipients (otherwise, there's no way to avoid losing state if the user deletes the stream name from their compose box).

So the technical design for this w

[2022-01-29 01:13] kwillis01 commented on #19700
@zulipbot claim

[2022-01-29 01:21] timabbott commented on #20778
I think the core problem is the initialization order; I'll make a PR to undo that.  We should only need to do the small bit of compose template rendering early.

[2022-01-29 01:22] #20641 closed

[2022-01-29 03:59] NerdyLucifer commented on #20975
@zulipbot claim

[2022-01-29 05:11] alya opened #20980 "Add option to show names for a small number of reactions"
When there is a small number of reactions to a message, it can be very informative to see who reacted. At present, the user has to hover over the emoji to see a list of names.

We should add a display setting to let users see the names of everyone who reacted when the number of reactions is small. We will need to experiment with up to how many names to display; it should be something in the 1-3 ra

[2022-01-29 05:40] alya opened #20981 "Make unread marker line continuous"
At present, there unread marker line has breaks between consecutive messages:

![Screen Shot 2022-01-28 at 9 30 23 PM](https://user-images.githubusercontent.com/2090066/151648860-6a9f0907-9914-4af3-b143-03883db15709.png)

As in the design prototyped [here](https://chat.zulip.org/#narrow/stream/101-design/topic/UI.20redesign.3A.20unread.20style), we should make the line be continuous when two conse

[2022-01-29 06:23] MaheraFurniturewala commented on #20935
@jai2201 Yes I am working on it

[2022-01-29 07:51] jai2201 commented on #20974
@alya , I've solved this issue in https://github.com/zulip/zulip/pull/20983

Please review and merge.

[2022-01-29 09:03] raghavluthra20 commented on #20980
@zulipbot claim

[2022-01-29 13:08] jackoe commented on #19653
@zulipbot claim
Should have something shortly

[2022-01-29 13:49] Arch0125 commented on #20283
@alya @YashRE42  The commits in the previous PR #20535 was too messy and was throwing errors while rebasing. So Ive made a PR #20986 from another branch and is waiting for review.

Closing the PR #20535 regarding this

[2022-01-29 14:59] asah commented on #20910
fyi I just did a fresh checkout and the curl segfault is still happening :-( i.e. new developers on Mac M1's will need to manually apply one of the above workarounds by hand.

[code]

[2022-01-29 15:16] Arch0125 opened #20987 "Improve UI of Authentication methods in organization settings"
## The current Authentication UI looks like this :
![image](https://user-images.githubusercontent.com/72722967/151666215-1d04d49b-279e-402b-9aae-bcdb550dd8b8.png)

## We can change the UI to make it look more attractive as in Firebase Console :

1. Card View

![image](https://user-images.githubusercontent.com/72722967/151666263-345ce0b4-db1d-4f1b-9ba5-923a8e9fe11e.png)

2. or, We can keep the list

[2022-01-29 16:47] Arch0125 opened #20988 "Add UTC Offset in Timezone dropdown"
**Currently the timezone dropdown menu only shows the names of the places. It would be better to include the UTC offset along with the name of the place.**

Then the list can be sorted in either of the following ways:
1. Alphabetically according to Countries' name
2. In the increasing order of UTC offset

Current menu :
![Screenshot from 2022-01-29 22-09-05](https://user-images.githubusercontent.c

[2022-01-29 16:49] jackoe commented on #19653
whoops, sorry bot. This is a comment. I'll have something for you shortly.

[2022-01-29 17:19] showell commented on #20981
If two unread messages are separated by a date divider, do we apply the border to the date divider as well?

[2022-01-29 17:58] a-muk commented on #20987
@zulipbot claim

[2022-01-29 18:04] varshitakolipaka commented on #20305
@zulipbot claim

[2022-01-29 18:55] KarishmaVanwari commented on #20973
Commenting to inform that I am working on this issue!

[2022-01-29 19:10] KarishmaVanwari commented on #20973
Hey @alya , do I need to wait for #20808 to be merged?

[2022-01-29 21:35] alexmv commented on #20920
Thanks for the report, and sorry about the trouble!  Do you know what the value of `rabbitmq.nodename` was in your `zulip.conf`?  Unless you've removed it, it's likely still set there.

Also, what distribution?

[2022-01-29 21:59] alexmv commented on #20943
We still need to prefetch users and select_for_update so that we lock the rows as we process them.  But we certainly shouldn't be doing more than one in a transaction, absolutely.

@JanBednarik: The other interesting note is that sending a large number of emails exhausts the open file descriptors on the process.  I would expect that while it would open a connection for each email, it would close i

[2022-01-29 22:28] ericbets commented on #20821
Closing since requiring a first and lastname in/from the oidc session is a reasonable requirement.

[2022-01-29 22:31] eguaj commented on #20920
This is on Ubuntu 20.04.

The `rabbitmq.nodename` in `zulip.conf` is currently set to `zulip@localhost`. I checked my backups (from before the upgrade), and it was also set to `zulip@localhost`.

I also checked the content of `/etc/rabbitmq/rabbitmq-env.conf`, from my backups, and `NODENAME` was also set to `zulip@localhost`.

Here is an extract from the first messages from rabbitmq-server in jour

[2022-01-30 01:37] #18067 closed

[2022-01-30 05:40] YashRE42 commented on #20975
Just leaving a note for folks that see the issue:
Please do go through the linked discussion because Tim did describe some of the technical complexity to this over there.

[2022-01-30 07:23] alya commented on #20973
@KarishmaVanwari that seems simplest, which is why I haven't marked this issue as "help wanted" yet.

[2022-01-30 07:45] alya commented on #20987
@a-muk please choose an issue with the "help wanted" and/or "good first issue" labels. This issue requires product review before it's ready to be worked on.

[2022-01-30 08:02] alya commented on #20987
I started a design [discussion thread on chat.zulip.org](https://chat.zulip.org/#narrow/stream/101-design/topic/authentication.20settings.20tab).

[2022-01-30 08:06] alya commented on #20981
Would love feedback from @terpimost on this one.

[2022-01-30 08:32] alya commented on #20981
Looks like the current state is that the border is continuous across the date divider.

[2022-01-30 11:11] mateuszmandera commented on #20821
@ericbet If some providers, like Keycloak, by default may not send the first/last name, then I think we want to allow that (and if we didn't, we should be documenting the requirement clearly), so I'll reopen.

[2022-01-30 11:26] Akshat1903 commented on #20967
@zulipbot claim

[2022-01-30 11:27] Akshat1903 commented on #20967
@alexmv can you please assign this issue to me as in my previous claimed issue I have already made a PR that have passed all the tests and i am waiting for review on that one, in the meanwhile I can surely work on this one.

[2022-01-30 15:27] MaheraFurniturewala commented on #20935
@zulipbot abandon

[2022-01-30 16:18] melvinj98 commented on #20988
@zulipbot claim

[2022-01-30 17:16] showell commented on #20962
Why are we deciding to disable the icons instead of hiding them?  GH hides them (you can test this as you replying to this message), and that feels much cleaner to me.

[2022-01-31 03:18] collingee commented on #20675
@zulipbot claim

[2022-01-31 08:39] andreasoc commented on #19434
top features

[2022-01-31 13:10] Arch0125 commented on #20283
Hi @alya I have made a PR #20999 solving this issue, keeping in mind the contribution guidlines and changes mentioned by @YashRE42 . This PR is ready to be reviewed.

[2022-01-31 16:01] Arch0125 opened #21000 "Avatar/Profile picture not responsive in profile settings"
**Steps to reproduce**
1. Open Settings>Personal>Profile
2. Reduce the size of the window
3. The Avatar/Profile Picture abruptly got to the end of the page

https://user-images.githubusercontent.com/72722967/151827986-503fb195-f094-4454-a988-41ddb4b1fb4f.mp4

**Proposed Solutions :**
1. The avatar can slowly decrease in size but remain on the side
2. The avatar can snap to the top of the page inst

[2022-01-31 16:02] Arch0125 commented on #21000
@zulipbot add "area: settings(user)"

[2022-01-31 16:20] Arch0125 commented on #21000
@zulipbot add "area: settings (user)"

[2022-01-31 16:21] Arch0125 commented on #21000
@alya Can you open a discussion to see if this issue is worth working on ?

[2022-01-31 18:12] #20778 closed

[2022-01-31 18:15] #20821 closed

[2022-01-31 18:30] alya opened #21001 "Make Authentication methods UI match other settings"
At present, the Organization settings > Authentication methods UI does not match other setting panels. We should fix this by making the settings in this panel look like other checkbox settings, i.e.:

1. Put the checkboxes on the left, without the extra spacing currently present.
2. Remove the horizontal lines between settings.

[2022-01-31 18:33] alya commented on #20987
Thanks for the report, @Arch0125 ! I filed #21001 as a replacement issue. As discussed on the link thread, it would be great to make this settings panel match our other settings. However, because it's a rarely used setting, it is not worth investing significant effort to make this panel pretty at present.

[2022-01-31 18:33] #20987 closed

[2022-01-31 18:34] jai2201 commented on #21001
@alya can you please assign me this issue, i am starting to work on it, ZulipBOT won't assign me as i have a PR raised in another issue and which is to be reviewed.

[2022-01-31 18:35] jai2201 commented on #21001
idk when would i be eligible to pick up multiple issues at a time (i even have a commit merged in main)

[2022-01-31 18:37] ashu3103 commented on #21001
Hello @alya I am new here and looking for a good-first-issue at the beginning so can you please assign this to me.

[2022-01-31 18:42] ashu3103 commented on #20956
Hello Can you assign this issue to me I am new here and looking for good first issue

[2022-01-31 19:08] jai2201 commented on #21001
Solved in https://github.com/zulip/zulip/pull/21002.

[2022-01-31 21:00] alya opened #21003 "Allow up to two lines for names of PM participants"
At present, names of PM thread participants are allotted one line in the left sidebar. This can make it hard to find the right group PM thread, especially when participants have relatively long names.

To address this, we should experiment with allotting up to two lines per conversation. We will need to test out the experience on CZO; it might impact how many conversations we show at a time.

[CZO

[2022-01-31 23:08] alya opened #21004 "Provide stream privacy and description in notification events when stream is created"
When a new stream is created, it would be helpful to include the stream privacy and stream description in the bot notification messages. We should use a format that roughly matches the format for notifications when stream privacy/description are changed.

Message to `<new stream>` > stream events:
----
**[Private, shared history](/help/stream-permissions)** stream created by @_**Desdemona|9**.

**

[2022-02-01 00:06] secu77 commented on #10527
Hi, any hints on how to disable CSRF token from docker-compose or the zulip config file for the latest version? Because the solution from https://github.com/zulip/zulip/issues/10527#issuecomment-517962839 doesn't work for me with the latest version. Thanks!

[2022-02-01 00:51] #19844 closed

[2022-02-01 00:52] #20263 closed

[2022-02-01 01:12] #20299 closed

[2022-02-01 01:40] alya commented on #17571
@sahil839 wasn't there another PR relating to these error messages? I'm looking for it in order to copy over the design feedback I posted there, but having a hard time finding it.

[2022-02-01 01:43] alya commented on #17419
@andersk do we know what the right next steps are on this?

[2022-02-01 01:47] alya commented on #17307
I think we can drop this until we're working on redesigning the top bar more broadly.

[2022-02-01 01:47] #17307 closed

[2022-02-01 01:55] alya commented on #17248
@mdshahansha it would be great if you could try to reproduce the issue following the instructions discussed above and report here whether or not you can reproduce it.

If it's still reproducible, please note that there is already a PR for this issue.

As noted in the [contributor guide](https://zulip.readthedocs.io/en/latest/overview/contributing.html#common-questions):

[2022-02-01 01:57] alya commented on #16828
Can this issue be closed?

[2022-02-01 02:32] collingee commented on #20675
@zulipbot abandon

[2022-02-01 03:50] NerdyLucifer commented on #21004
@zulipbot claim

[2022-02-01 04:06] gnprice commented on #10744
This would be great to get completed!

It's one of a small handful of places where the mobile app still uses stream names that should be stream IDs, and one of only two such places where it's because the server doesn't yet support stream names even in main. Chat discussion [here](https://chat.zulip.org/#narrow/stream/378-api-design/topic/stream.20IDs.20in.20subscribe.2Funsubscribe/near/1319947).

[2022-02-01 05:26] amanagr commented on #19843
#20852 will temporarily work.

[2022-02-01 07:30] nikhilmaske-2001 commented on #19999
@zulipbot claim

[2022-02-01 09:26] yadav-rohit commented on #20484
@zulipbot claim

[2022-02-01 10:50] JanBednarik commented on #20943
It's installed on VPS. Not running in Docker. File descriptor limit should be high. But maybe it hit some limitation on SMTP server, I'm not sure about that. Only traceback related to this is posted in the issue (it's from `events_deliver_scheduled_emails.log`).

[2022-02-01 11:04] sahil839 commented on #17571
I can find two PRs - #17597 (this is the old one) and #20385 , this is the latest one on which you and I left some feedback.

[2022-02-01 11:04] ditsuke commented on #20975
Gonna give this a shot!

@zulipbot claim

[2022-02-01 14:52] YashRE42 opened #21008 "Custom emoji do not render in channel description"
![](https://user-images.githubusercontent.com/33805964/151989480-84219249-47b7-45cc-9ff7-e0b4e43d51f6.png)
![](https://user-images.githubusercontent.com/33805964/151991329-16c9b471-094b-4046-b226-5f334d79d9d0.png)

I haven't yet looked at any reason why this is as it is, but it looks a little broken.
Note that non-custom emoji are rendered correctly. I believe these paths use `render_markdown` to

[2022-02-01 19:35] alexmv opened #21011 "Race conditions in muting topics and users"
Our pattern in [muting topics](https://github.com/zulip/zulip/blob/b4075b78eb6e128bce7ef3d36b86d176ef2ecfa5/zerver/views/muting.py#L39-L42) is to check if the topic is muted, and if not then to add a row:
[code]

This pattern is inherently prone to race conditions.  Luckily, we catch those due to database constraints, in the form of `UserTopic.objects.create` raising an IntegrityError, but those b

[2022-02-01 19:36] #19709 closed

[2022-02-01 19:42] asah commented on #17998
@timabbott looks like this needs a tickle... ready for merge?

[2022-02-01 19:42] alexmv opened #21012 "Race conditions in subscribing to streams"
The [stream subscription logic](https://github.com/zulip/zulip/blob/1a46df40c33104b685c154a99a57d7bd8dc2c6c0/zerver/lib/actions.py#L3984-L4037) is vulnerable to a race condition that can cause double-subscriptions, where we fetch the current subscriptions and then add only those that are new.  The database constraint catches the duplicate, and causes us to return a 500.

Because this is duplicate

[2022-02-01 19:51] timabbott commented on #20223
@ganpa3 do you have any theories on this one?

[2022-02-01 20:05] jai2201 commented on #21011
@zulipbot claim

[2022-02-01 20:19] mateuszmandera commented on #20132
@timabbott Hmm, though this only gets called in `manage.py checkconfig` (and for some reason in `register_server`) - so I'm not sure how many admins actually utilize that command, especially since we don't particularly advertize it (on in `management-commands.md`). Also called in `initialize-database`, but that runs only once, during installation, so it's not useful for this issue either.

I'm won

[2022-02-01 20:26] #20452 closed

[2022-02-01 20:29] alexmv commented on #20943
Oh, sorry for not noticing that traceback.

"Network is unreachable" doesn't sound like out of sockets.  That sounds like something is firewalling the connection.  My guess is that something on the remote host, or in the network between, took exception ot the number of connections being opened and closed to a mailserver, and closed it off.

We absolutely need to fix where the transaction is, which

[2022-02-01 20:31] alexmv commented on #20132
Checks like this are a little complicated because they can fire when the server process starts up.  If we add anything like this, we need to make sure that we start running `check_config` in `restart_server` so that we can abort with a clear admin-visible error message before the restart, so they aren't left wondering and having to log-dive for why uwsgi isn't coming up cleanly.

[2022-02-01 20:31] raghavluthra20 commented on #20865
Resolved by https://github.com/zulip/zulip/commit/30fec0c7012ae42495e966c76512aa44c49d5963.

[2022-02-01 20:31] #20865 closed

[2022-02-01 21:12] chrisbobbe opened #21015 "api: Represent muted topics with stream IDs, not names (and maybe new `user_topic` model)"
I think the docs ([`/register`](https://zulip.com/api/register-queue#response), [`GET /events`](https://zulip.com/api/get-events#muted_topics)) are accurate about what servers currently do for `muted_topics`:

We should use stream IDs instead of stream names.

While we're at it, we could switch over to a new model that would allow representing:

- "normal behavior for [a] (user, stream) pair"
- MU

[2022-02-01 21:17] mateuszmandera commented on #20132
@alexmv Would `logging.error` in the hypothetical `check_config` function solve this concern? (as opposed to hard `AssertionError`s)

[2022-02-01 21:22] jai2201 commented on #21003
![Screenshot from 2022-02-01 15-50-47](https://user-images.githubusercontent.com/76561593/152053525-af04ff7e-e2dd-4e69-87ed-dec030f4b6fe.png)

@alya , let me know if this looks good to go ahead to be in a PR?

[2022-02-01 22:10] alya opened #21017 "URL should encode stream settings panel"
At present, the URL for settings for a particular stream does not encode which panel of the settings the user is on: `/#streams/<stream-id>/<stream-name>`.

We should append `/general`, `/personal` or `/subscribers` to the URL, depending on which panel the user is on.

[CZO discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/.E2.9C.94.20search.20bar.20user.20count/near/1317975)

[2022-02-01 22:19] jai2201 commented on #21011
I'm picking up this issue to solve.

[2022-02-01 22:21] alexmv commented on #20132
That pushes it back into "is this visible enough" since it's only going to show up if folks check their logs.  If you're running the check at startup, that also means it's going to show up in the logs at random intervals when uwsgi processes get (re)started.

We might be better off doing this sort of check, with a `logging.error`, when we're trying to send an email -- rather than trying to do it a

[2022-02-01 22:32] alexmv commented on #20967
@Akshat1903: Sure, have at.

[2022-02-01 22:44] timabbott commented on #20132
Logging an error on email send makes sense to me.

-Tim Abbott (mobile)

On Tue, Feb 1, 2022, 14:21 Alex Vandiver ***@***.***> wrote:

[2022-02-01 23:33] alya opened #21018 "Ignore mouse position in typeahead selection until mouse is moved"
At present, if the mouse is positioned somewhere on a typeahead menu (e.g. for @-mentions, topic/stream references, search), the option at the mouse position is immediately selected. This is unexpected/confusing, as the user may have unintentionally left the mouse cursor in a location that happened to be where the typeahead menu appeared.

Instead, the mouse location should only be used if the use

[2022-02-01 23:51] alexmv commented on #20920
The "Supervising process 2997934 which is not our child" looks to be normal due to /usr/sbin/rabbitmq-server spawning the `beam.smp` binary.

But this smells like rabbitmq-server got killed abnormally:
[code]
...quite possibly resulting in it staying registered in the `epmd` process, thus preventing new rabbitmq-servers from starting.  In contrast, here's what I see when I `service rabbitmq-server

[2022-02-01 23:53] alexmv commented on #20920
Oh, and please _don't_ share the service startup log lines from `/var/log/rabbitmq/zulip@localhost.log` -- specifically, sharing the `cookie hash    : ...` line leaks the Erlang magic cookie, which is equivalent to the [password which stands between you and remote execution of code](https://blog.zulip.com/2022/01/25/zulip-server-4-9-security-release/#cve-2021-43799-remote-code-execution-vulnerabil

[2022-02-02 01:22] alya commented on #21003
@jai2201 this is not addressing the issue. There was no request to add member count; we just want to allocate two lines for the names.

[2022-02-02 01:52] #20584 closed

[2022-02-02 02:58] sahil839 commented on #20223
I did some investigation. Micromodal code focuses the element, which was focussed at the moment of opening of modal, after closing the modal.
[This line of code](https://github.com/ghosh/Micromodal/blob/2a316150d12b3f3a0540762ee77dcb7247c6518a/lib/src/index.js#L83) here does that whre `this.activeElement` is set to `document.activeElement` when opening the modal.

In our case, closing the stream i

[2022-02-02 03:56] akarsh-jain-790 commented on #21018
@zulipbot claim

[2022-02-02 04:29] nikhilmaske-2001 commented on #21017
@zulipbot claim

[2022-02-02 05:09] alya commented on #17998
Thanks for the ping @asah ! After playing around some more with the PR, I started wondering wether a banner is the right product choice here, or if we might want to do something else/more (e.g. not highlighting mentions on the receiving side, or auto-inserting silent mention syntax). I'll kick off a discussion on chat.zulip.org.

[2022-02-02 07:08] alya commented on #17998
Discussion thread: https://chat.zulip.org/#narrow/stream/101-design/topic/.40-mentions.20in.201.3A1.20PMs.20.2317998

[2022-02-02 08:28] eguaj commented on #20920
Here is the "stop" log from `/var/log/rabbitmq/zulip@localhost.log.2`:
[code]

[2022-02-02 08:49] raghavluthra20 commented on #20966
@zulipbot claim

[2022-02-02 08:50] raghavluthra20 commented on #20966
@zulipbot claim

[2022-02-02 09:07] Atharvk7 commented on #21003
@alya Could you assign this issue to me ?

[2022-02-02 09:10] Atharvk7 commented on #20600
@zulipbot claim

[2022-02-02 09:11] Atharvk7 commented on #20575
@zulipbot claim

[2022-02-02 09:12] Atharvk7 commented on #20523
@zulipbot claim

[2022-02-02 09:22] lazyXghost commented on #4253
Changin `host_port` on line 7 in `Vagrantfile` solves it

[2022-02-02 09:58] jai2201 commented on #21003
@Atharvk7 , I have raised a PR for solving this issue, could you please look for some other issue.

[2022-02-02 12:41] asah commented on #10385
@timabbott looks like this issue went stale pending code review? also, https://github.com/zulip/zulip/issues/17894 seems to be a duplicate of this issue. hope this helps!

[2022-02-02 13:54] N-Shar-ma commented on #20868
I'm still working on this

[2022-02-02 15:07] showell commented on #18135
@alexmv Is there anything actionable left for this issue?  My vote is to just close it for now, and if somebody reports the problem again, some of the partial fixes we have made will probably make it a bit easier to diagnose remaining problems.

[2022-02-02 16:25] yringler commented on #19525
Something I didn't see in the description here was

Should that be in this issue? Or a separate issue/discussion?

[2022-02-02 17:54] alexmv commented on #18135
It's minor, but the sort order is still inconsistent between the emoji search results and the pop-up:
![Screen Shot 2022-02-02 at 9 52 45 AM](https://user-images.githubusercontent.com/28347/152209848-8f952f19-8f3e-492e-af9d-5e2f33ff961a.png)
![Screen Shot 2022-02-02 at 9 53 40 AM](https://user-images.githubusercontent.com/28347/152209962-fadc1ad1-9590-44c9-be40-872fffb654c7.png)

[2022-02-02 18:25] alexmv commented on #20920
The only significant difference I see in those logs is the last line:
[code]

Unfortunately, this doesn't seem to be replicable, so I don't know there's much we can do. :(

One option is we could explicitly kill epmd after we take down rabbitmq, with `epmd -kill`.  However, this command just sends "please shutdown" to `epmd`, and `epmd` will decline to do so if it thinks it has registered nodes (a

[2022-02-02 18:25] #20920 closed

[2022-02-02 19:06] eguaj commented on #20920
Thank you, I understand. I'm sure it must be something very specific that got weird on my server. So, no need to investigate furthermore.

I'll leave a note to myself to pay extra attention to the state of epmd/rabbitmq the next time I perform an upgrade.

Thanks again.

[2022-02-02 19:28] alya commented on #17998
Based on the discussion in the thread linked above, we should change the design a bit.

1. In the situations where we show the banner, we should *automatically* insert a `_` into the mention when the user makes a selection from the auto-complete.
2. Accordingly, we should change the text of the banner to say: "To avoid highlighting this message for <addressee>, we have updated it to use a silent m

[2022-02-02 19:44] asah commented on #17998
yes, I will update.

On Wed, Feb 2, 2022 at 2:28 PM Alya Abbott ***@***.***> wrote:

[2022-02-02 22:32] tromlet opened #21024 "Invalid LDAP credentials against FreeIPA 4.6.8 backend - but they're... correct?"
So, I've got a FreeIPA 4.6.8 LDAP backend, and it's telling me I've got invalid credentials. But I've checked and double-checked my `auth_ldap_bind_password` in my `/etc/zulip/zulip-secrets.conf`, and it is 100% correct - I can use that exact password and username to log into servers that are enrolled into this exact same FreeIPA domain. I'm not sure what I'm doing wrong, but I expect it's in my `

[2022-02-03 01:16] timabbott commented on #21024
Hi!  Stop by https://chat.zulip.org/#narrow/stream/31-production-help/topic/Invalid.20LDAP.20credentials.20.2321024/near/1321598 so that we can debug interactively.  One possibility at first thought is that I'm used to seeing the secure `ldaps` protocol; it's possible your LDAP server doesn't allow connections over the `ldap://` protocol.

[2022-02-03 05:49] somesh202 commented on #20935
@zulipbot claim

[2022-02-03 06:28] thedeveloperr commented on #12328
@zulipbot claim

[2022-02-03 07:42] alya commented on #20847
Linking chat.zulip.org discussion thread where we are attempting to debug: https://chat.zulip.org/#narrow/stream/9-issues/topic/copy-pasting.20images.20.2320847

[2022-02-03 09:30] mdshahansha commented on #17248
claim

[2022-02-03 12:08] anurastogiji commented on #20483
@zulipbot claim

[2022-02-03 15:46] eguaj opened #21029 "i18n: Missing space in message for `notify_new_login.html:38` in french locale"
Hi,

In v4.9, the french message for `templates/zerver/emails/compiled/notify_new_login.html:38` lacks a space after `immediatement à` and before `%(support_emails)`.

There is also a missing space in the message for `templates/confirmation/link_malformed.html:12`.

Also, the message `Envoyez nous un ligne` and `et nous allons résoudre ce bientôt` are not correct. I would rather say : `Envoyer nou

[2022-02-03 16:18] Rishabh-792 commented on #21029
@zulipbot claim

[2022-02-03 17:41] tromlet commented on #21024
@timabbott Hi! Super helpful. I've posted over there, and will add the solution back here for anyone who needs it!

Spoiler: I had the wrong LDAP credentials. Still can't get LDAP over `ldaps://` working, despite being able to ping the LDAP server, and hit port 636 via the `telnet` command. :P

[2022-02-03 18:27] tromlet commented on #21024
I solved the Zulip `ldaps://` to FreeIPA issue: Your standard FreeIPA installations will almost always create a self-signed root certificate in there that you use for a downstream, internal, certificate authority. This is a super useful feature! Downside: A lot of applications (like Zulip, Nextcloud, WeKan and others) will not trust that certificate.

In the case of Zulip (and, probably all applic

[2022-02-03 19:27] alya commented on #17571
Ah, great -- thanks @sahil839 !

[2022-02-03 20:17] tromlet commented on #21024
Lucky you, I had to do the same thing on a CentOS 7 box today, too:

[code]

[2022-02-03 20:53] andersk commented on #10527
:warning: **Do not attempt to disable Zulip’s CSRF protection.** This will make your server completely insecure, by granting attackers anywhere on the internet full access to your Zulip account whenever you are logged into Zulip.

If you’re having a problem that manifests as a CSRF error, then the underlying problem needs to be diagnosed and fixed.

[2022-02-03 23:18] timabbott opened #21032 "Fix internationalization of desktop notifications"
Apparently, Zulip's desktop notifications code in `process_notification` in `static/js/notifications.js` are not tagged for translation.

One should read https://zulip.readthedocs.io/en/latest/translating/internationalization.html carefully before working on this.

This is likely a somewhat messy to change; I would consider writing a small node test suite for this function and then consider rewrit

[2022-02-04 04:23] cgb opened #21033 "Database migration: Internal postgresql to remote / external postgresql"
I'm about to start an effort to migrate from Zulip provided Postgresql to my own managed postgresql server and was looking for documentation on performing the migration.  There have been some that are similar or related (#16631, #16629, #13105), just wondering if you have any advice on what to watch out for in the migration?

My high level plan is to build a new zulip server configured for externa

[2022-02-04 05:19] Rishabh-792 commented on #21029
Hi Jérôme, I have made a PR for changing the message for `templates/confirmation/link_malformed.html:12`.

I checked the message for `templates/zerver/emails/compiled/notify_new_login.html:38` and it has been updated in the previous commits.
The updated message for your reference :
[code]

[2022-02-04 05:33] alya commented on #21033
@cgb if you run into any problems, you are welcome to drop by the [Zulip development community](https://zulip.com/development-community/) and ask for advice in the **#production help** stream.

[2022-02-04 05:33] #21033 closed

[2022-02-04 06:45] alya opened #21036 "Add "Copied!" confirmation tooltips for copying messages and code"
When you copy a message (via "View source / Move message in three-dot message menu), we show "Copied!" for confirmation. We currently don't show a confirmation when a user uses the "Copy code" button to copy a code block.

As proposed [here](https://github.com/zulip/zulip/pull/21209#issuecomment-1074562966), we should:

- Replace the "Copied!" notice for messages with a Tippy tooltip, which can ma

[2022-02-04 07:31] akbajwa commented on #20600
@zulipbot Hey,i am working on this issue.Please give me some time

[2022-02-04 07:37] alya commented on #21000
Hm, I agree that the current behavior is not ideal. Playing with a couple of other apps, they actually don't let you reduce the window size so much that the profile pic has to move.

One thing I notice is that we move the profile pic pretty early, probably because profile field hints can be long. I think it would be better to let the hints wrap to more lines, and keep the picture where it is in na

[2022-02-04 07:44] Chainesh commented on #21036
@zulipbot claim

[2022-02-04 08:34] akashaviator commented on #21015
@zulipbot claim

[2022-02-04 09:18] akbajwa commented on #20600
Hey, i am working on this issue.Please give me some time.Thank you

On Wed, Feb 2, 2022, 14:40 zulipbot ***@***.***> wrote:

[2022-02-04 11:25] sumit-158 commented on #20918
@zulipbot claim

[2022-02-04 12:43] xeruf commented on #20806
The component can be the same as the other text-buttons, as @algo-byte implemented. The PR is tiny and the choice is not for the long run anyways, so I don't see why we should hold off in discussion here. I don't see how that PR would take significant review effort either.

[2022-02-04 12:46] xeruf commented on #20575
@alya honestly, I think I simply did not find that page in the docs. Might have been my fault though. The linked issue looks sensible.

[2022-02-04 19:03] chrisbobbe opened #21037 "Describe server's Unicode emoji in API"
The server counterpart to zulip/zulip-mobile#2956.

I don't think it matters much where this ends up being provided (in its current location, or in `/register`, `/server_settings`, or somewhere else), because the data doesn't frequently change. I do think `/register` would be more convenient for mobile than the current location, since we have existing codepaths for gathering data from there.

The

[2022-02-04 20:49] KarishmaVanwari commented on #20116
@ganpa3 @timabbott
Trying to remove the owner, does not give an error currently. But yes, it does not actually "remove" the owner. If the expected behavious is to not allow removing owner, I guess a prompt/ error clarifying the same would be better.
If so, I'd be glad to take it up!

[2022-02-04 20:54] KarishmaVanwari commented on #20118
Commenting to inform that I am working on this issue!

[2022-02-04 21:43] #20753 closed

[2022-02-04 22:26] andersk commented on #21037
/static/generated is an implementation detail that we reserve the right to change. /static/generated/emoji/name_to_codepoint.json doesn’t even exist in the current version (#13831). On servers where it’s being served, it’s just a stale file left over from previous deployments.

If zulip-mobile needs this data, we need to design a proper API for it.

[2022-02-04 22:43] #21003 closed

[2022-02-04 22:44] chrisbobbe commented on #21037
Ah. Might it be suitable to put in the `/register` response in some form?

[2022-02-04 22:58] #20759 closed

[2022-02-04 23:06] Fingel commented on #18939
@gnprice I believe the merging of https://github.com/zulip/zulip/pull/20788 addresses the points you made in your comment: https://github.com/zulip/zulip/issues/18939#issuecomment-880282482 as well as the original bug report.

[2022-02-05 00:02] timabbott commented on #19843
Yeah, I think we'll still want simpler buttons (styled more like what we have on our portico pages would be OK) next to the gear menu, especially since the realm description piece we plan to potentially remove.

[2022-02-05 00:03] alya opened #21043 "Remove parentheses around "MOVED" and "EDITED" markers"
The MOVED and EDITED indicators for messages currently have parentheses around them. These are unnecessary and should be removed, both when these indicators are next to the sender's name and when they are on the side.

[CZO thread ](https://chat.zulip.org/#narrow/stream/101-design/topic/moved.20indicator)

![Screen Shot 2022-02-01 at 12 30 00 PM](https://user-images.githubusercontent.com/2090066/1

[2022-02-05 00:05] jai2201 commented on #21043
@zulipbot  claim

[2022-02-05 00:24] jai2201 commented on #21043
Solved in https://github.com/zulip/zulip/pull/21044 !

[2022-02-05 02:24] AnushaNathRoy commented on #20980
@zulipbot claim

[2022-02-05 02:25] AnushaNathRoy commented on #20980
@zulipbot claim

[2022-02-05 02:34] AnushaNathRoy commented on #20980
@alya. Is this issue available to be assigned?

[2022-02-05 05:37] alya commented on #20980
@AnushaNathRoy there is an in-progress PR by @raghavluthra20 , so I suggest picking a different issue. Thanks!

[2022-02-05 05:57] alya commented on #20118
@KarishmaVanwari please choose an issue with a "help wanted" label. This issue requires a design discussion before it's ready to be worked on. Thanks!

[2022-02-05 06:24] adi611 commented on #21043
Please assign me this issue.

[2022-02-05 06:27] adi611 commented on #21043
@zulipbot claim

[2022-02-05 06:29] amanagr opened #21045 "Select file name after uploading a file."
It can be annoying to select the name and change it if you are uploading a lot of images and trying to name them. So, we should select the file name after the upload is complete.

Discussion - https://chat.zulip.org/#narrow/stream/6-frontend/topic/select.20file.20name.20after.20uploading.20file

[2022-02-05 06:38] jai2201 commented on #21043
Hey @adi611 , can you please look for some other issue, i've already solved it in #21044

[2022-02-05 06:49] alya commented on #20118
Started a discussion on chat.zulip.org [here](https://chat.zulip.org/#narrow/stream/101-design/topic/add.20X.20in.20settings).

[2022-02-05 06:52] alya commented on #20116
@KarishmaVanwari please choose an issue with a "help wanted" label.

[2022-02-05 07:27] alya commented on #17248
@mdshahansha you need to use `@zulipbot claim` to claim the issue.

[2022-02-05 07:31] alya commented on #17998
Great, thanks!

[2022-02-05 07:42] alya commented on #19525
@yringler it's currently covered under the "etc." bullet; we don't need a separate issue.

Etc. -- structurally everything originally imagined for https://github.com/zulip/zulip/issues/3783 belongs here.

Thanks for checking!

[2022-02-05 07:47] alya commented on #10385
Thanks for the bump @asah ! I'll close out #17894 -- it doesn't seem helpful.

[2022-02-05 07:47] alya commented on #17894
Duplicates #10385.

[2022-02-05 07:47] #17894 closed

[2022-02-05 07:51] alya commented on #10385
@timabbott would have a better sense, but based on this comment, I doubt the PR is close. https://github.com/zulip/zulip/issues/14558#issuecomment-614102009

[2022-02-05 08:33] algo-byte commented on #20066
@alya Is this issue still open after [Issue-20934](https://github.com/zulip/zulip/issues/20934)?

[2022-02-05 11:25] sumit-158 commented on #20988
@zulipbot claim

[2022-02-05 15:52] adi611 commented on #21043
Solved in #21046

[2022-02-05 16:09] vaibhavsagar opened #21049 ":smiling_face_with_three_hearts: emoji is missing"
https://emojipedia.org/smiling-face-with-hearts/

[2022-02-05 16:27] devZer0 commented on #19808
@timabbott , wouldn't it make sense to show "private" instead of "unknown" if users have disabled updating presence information so we can differ between "users who never logged in" and "users which are using zulip but want to hide their presence information" ?

otherwise, cleaning up / disabling orphaned user accounts  is not possible.

furthermore, in our zulip instance at zwonulleins.zulipchat.o

[2022-02-05 23:01] andersk commented on #20910
I also sent a debdiff to the corresponding Ubuntu 20.04 bug: https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1951279

[2022-02-06 09:34] akbajwa commented on #21049
@vaibhavsagar where to find the code where we have to make changes and add emoji?

[2022-02-06 09:55] akbajwa commented on #20484
@zulipbot claim

[2022-02-06 09:56] axaysagathiya commented on #20080
@zulipbot claim

[2022-02-06 13:15] vaibhavsagar commented on #21049
Perhaps in [`zulip/tools/setup/emoji`](https://github.com/zulip/zulip/tree/f4d2d199e249f9c6437a952c201cb0d163eb9069/tools/setup/emoji)?

[2022-02-06 14:02] akbajwa commented on #21049
ok
Please assign it to me. I want to work on it

[2022-02-06 14:28] vaibhavsagar commented on #21049
You're welcome to work on it, but I don't think I have the necessary privileges to assign it to you.

[2022-02-06 15:06] Rishabh-792 commented on #21049
You can claim this by typing `@zulipbot claim` .

[2022-02-06 15:17] stpn opened #21051 "/srv/zulip-golang-1.17.3/bin/go: 1: ELF: not found"
When upgrading to 4.9 from 4.8 get /srv/zulip-golang-1.17.3/bin/go: 1: ELF: not found

Machine: AWS
20.04.1-Ubuntu SMP aarch64 aarch64 aarch64 GNU/Linux

Any suggestion how to fix?

The error is below:

[code]

[2022-02-06 18:10] N-Shar-ma commented on #21018
@zulipbot claim

[2022-02-06 19:05] h-ozdemir commented on #3302
Replace "Replay" with "Quote"

[2022-02-07 05:17] tejpals commented on #20675
@zulipbot claim

[2022-02-07 07:07] chandleroking commented on #10539
@zulipbot claim

[2022-02-07 07:10] sahil839 commented on #21000
Yeah we should move the picture at more narrower windows. And having it at the top and sufficiently narrow would be better, as I have seen profile pictures are usually at the top at other places.

[2022-02-07 08:42] jai2201 commented on #19447
@alya @timabbott , I guess this is the same issue as #20870 and would be solved when we get #20968 merged!
I'm donw with the functionality part for this, would need to fix the test cases now !

[2022-02-07 08:44] jai2201 commented on #20870
@zulipbot I'm still working on this issue.

[2022-02-07 08:50] takitsuba commented on #20080
@zulipbot claim

[2022-02-07 17:25] alya opened #21055 "Stream color picker bug"
Repro:

1. From the three-dot stream menu, select "Change color".
2. Change to some other color and click "Confirm".
3. Change back to the previous color and click "Confirm".

**Expected**: Stream should change back to the original color.
**Actual**: Stream stays the second color; nothing happens when the original color is confirmed.

[2022-02-07 18:56] timabbott commented on #18939
Yes, this is fixed there.  Thanks for the follow-up!

[2022-02-07 18:56] #18939 closed

[2022-02-07 19:49] algo-byte commented on #21055
@zulipbot claim

[2022-02-07 20:01] jai2201 commented on #21011
@madrix01 , I tried fixing this, but not able to produce the race condition in tests with mocking.
i would be greatful if you can solve this and i'll learn to produce race condition with mocking from your PR.

[2022-02-07 20:07] madrix01 commented on #21011
@alexmv  Can we test by sending multiple api request using a script?

[2022-02-07 20:14] alexmv commented on #21011
@madrix01: Not unless you mock something like `topic_is_muted` to always return `False`, so that the test is reliable.  See discussion in https://chat.zulip.org/#narrow/stream/49-development-help/topic/Race.20condition.20with.20mute.20users.20and.20topic.20.2321011

[2022-02-07 20:32] alexmv opened #21058 "Image preview lightbox moves down if title wraps"
If you have a screenshot and the title + author is long enough, then it wraps and shifts the lightbox and carousel at the bottom, down by a line.

That is, the carousel at the bottom is partially off the screen in the second one:
![Screen Shot 2022-02-04 at 11 52 04 AM](https://user-images.githubusercontent.com/28347/152866801-0db3cc47-70e2-4fe7-a926-d7b322ea52d6.png)
![Screen Shot 2022-02-04 at 1

[2022-02-07 20:34] madrix01 commented on #21011
I changed the `topic_is_muted` to return `False`, and making api request always returns
[code]

[2022-02-07 20:37] alexmv commented on #21011
Correct, that's the symptom that you'll need to make the code catch and return as `JsonableError(_("Topic already muted"))`.

[2022-02-07 20:46] jai2201 commented on #21011
@madrix01 , I too made that change to make ```topic_is_muted``` to always return false, and then added the catch for returning Json error, but it didn't pass the test, maybe i might be doing some other mistake at somewhere else, will have a look at your PR, once it's up.

[2022-02-07 20:49] madrix01 commented on #21011
@alexmv I have implemented a `try~except` block for catching the error returns the desired results. Is the implementation correct?

[2022-02-07 20:53] madrix01 commented on #21011
@jai2201 can which test failed for you?

[2022-02-07 21:14] alexmv commented on #21011
@madrix01: That's fine (and presumably comparable to what @jai2201 wrote) but it needs to come with a test, which is what the discussion on chat.zulip.org is about.  If you don't write a new test, you'll find that it fails tests because it doesn't have complete test coverage.

[2022-02-07 22:33] timabbott commented on #10587
Closing as this was fixed in #20788.

[2022-02-07 22:33] #10587 closed

[2022-02-07 22:33] timabbott commented on #21051
@alexmv @andersk can you investigate?  This seems like another aarch64 compatibility issue.

[2022-02-07 22:34] timabbott commented on #20988
I don't think a dropdown will readily support sorting, but we can use the `dropdown_list_widget` feature to allow filtering typeahead on this component.

[2022-02-07 22:45] tromlet commented on #21024
Lucky you, I had to do the same thing on a CentOS 7 box today, too:

[code]

[2022-02-07 22:45] #21024 closed

[2022-02-07 23:42] Fingel commented on #9259
I realize this issue is very old at this point. Currently when the lightbox is open and there are multiple images in the thread, the left and right arrow keys are used to navigate between them. So I'm not sure how this would play nice with that, maybe by using some kind of modifier? It looks like the submitted PR just disabled those keybinds, which I think would be frustrating.

[2022-02-07 23:51] Fingel commented on #21058
I think there are a few fixes we could apply here. Personally I'm not a huge fan of the inconsistency of how many lines the title takes up depending on the length of the filename. It looks like if the filename is long, the name of the uploader gets pushed to a second line making the header larger.

To me the most elegant fix would be to make sure the header is either always only 1 line, or always

[2022-02-08 00:17] alexmv commented on #21058
I think enforcing a consistent number of lines is a fine way to fix this.

To be clear, it's not just the carousel that moves down -- the image itself does as well.  This is mostly evident when one is trying to using the arrow keys to compare adjacent images, and it makes it hard to compare small changes between images, as it's moving vertically.

[2022-02-08 00:24] alexmv commented on #21051
We [decided on czo](https://chat.zulip.org/#narrow/stream/31-production-help/topic/4.2E8.20install.20fails.20on.20arm64/near/1304074) to not backport the arm support into 4.x, because it was a fairly involved set of changes.

I'm surprised that 4.8 installed cleanly on aarch64 -- I didn't think that was the case.  But if it _was_ the case, then 4.9 is indeed a regression, in that it breaks that su

[2022-02-08 01:22] andersk commented on #21051
On aarch64, 4.8 wouldn’t have installed because of go-camo, and 4.7 wouldn’t have installed because of google-re2, but I think 4.6 would have worked?

(@stpn Were you really on 4.8, and if so, what had you done about the go-camo problem?)

[2022-02-08 04:39] takitsuba commented on #20080
@timabbott  Hi, I have a question.
I will work on this issue, but there has been [a pull request](https://github.com/zulip/zulip/pull/20096) submitted by @Aryaman2912.
This pull request seems to have conflicts now, is it generally adequate?

If so, I will try to solve the conflicts of this pull request.
(or if @Aryaman2912 wants to solve, I will release this issue!)

[2022-02-08 04:48] chandleroking commented on #10539
@zulipbot unclaim

[2022-02-08 09:21] YashRE42 opened #21067 "user names in certain places do not live update"
Certain places in the UI do not live update when a user is renamed:

- [ ] names in pills in the composebox PM recipients.
- [ ] names in the typeahead for composebox PM recipients.
- [ ] names in the typeahead for @ mentions.
- [ ] names in the user groups section of org settings.

<details>
<summary>
gif for compose area
</summary>

(name was updated via mobile web)
![](https://user-images.githu

[2022-02-08 13:29] legendarykamal commented on #20935
@somesh202  are you working on this still?

[2022-02-08 13:53] legendarykamal commented on #19884
@zulipbot claim

[2022-02-08 14:12] sahil839 commented on #20223
@timabbott ping in case you missed this.

[2022-02-08 15:22] stpn commented on #21051
Apologies for confusion, just checked the ZULIP_VERSION and it says "4.7+git"

[2022-02-08 16:13] Kaikonid commented on #21036
Hello, may I try to solve this issue?

[2022-02-08 16:17] Chainesh commented on #21036
Hello @Kaikonid, I'm currently working on this issue.

[2022-02-08 16:35] sahil839 commented on #20116
Have we decide to just not allow removing owners? If so, I can work on this. Should be quick.

[2022-02-08 20:33] alexmv opened #21070 "Build wal-g for aarch64"
c094867a74d08093cbd7b4373eebd94a9a820608 added aarch64 (arm64) support for everything except wal-g, which does not ship aarch64 binaries in its releases.

We can, however, build those from source: https://github.com/wal-g/wal-g/blob/master/docs/PostgreSQL.md#installing

It's not clear if only building aarch64 from source, and using the pre-built binaries for amd64, is preferred, or if we should bu

[2022-02-08 20:33] alexmv commented on #21051
The `main` branch (what will become 5.0) supports aarch64; you can [upgrade to that](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-to-main) using [`upgrade-zulip-from-git`](https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository).

We're aware of one piece of Zulip which does our packaging does not currently have

[2022-02-08 20:41] alexmv commented on #21070
It's possible this should be a release blocker, so we can claim full aarch64 support in 5.0 with no caveats.

[2022-02-08 20:47] gnprice commented on #11136
It looks like this is in fact now documented:
https://zulip.com/api/mute-topic
![image](https://user-images.githubusercontent.com/28173/153072788-afd4999e-6951-4ea2-989d-a7f169aa9460.png)

One thing is missing, though: there should be a "**Changes**:" note saying when `stream_id` was introduced, and perhaps a note on `stream` (the stream name) saying it's deprecated in favor of `stream_id`.

[2022-02-08 20:52] gnprice commented on #16206
(See also #10744, which is for a similar change in the parameters of this endpoint rather than its return value.)

[2022-02-08 21:22] algo-byte commented on #21055
@alya I have made a PR regarding this issue. Requesting a PR review.

[2022-02-08 22:02] gnprice commented on #3813
This appears to have been fixed at some point: if I try changing a stream's access permissions from public to private or vice versa, then in a different browser as a different user I get a `type: 'stream', op: 'update'` event. As described here:
https://zulip.com/api/get-events#stream-update

I am curious what release it was fixed in. It'd be good to know when all the servers we support for mobile

[2022-02-08 22:08] gnprice commented on #4220
We haven't ended up actually wanting this on mobile over the past four-plus years, and haven't heard any other use cases either, so I think it makes sense to simply close the issue.

If we have a concrete use case in the future, we can decide then whether we want to work out an API on these lines (thinking through the questions mentioned above), or whether that use case is best served by some othe

[2022-02-08 22:08] #4220 closed

[2022-02-08 22:29] gnprice commented on #9474
There are two remaining open items in the description. They are:

This was done in Zulip 2.0:
https://zulip.com/api/changelog#changes-in-zulip-20

(In fact we went farther: feature level 11 leading to Zulip 3.0 removed support for using emails:
https://zulip.com/api/changelog#changes-in-zulip-30
)

This has three subparts:
* [x] send-message: Done: https://zulip.com/api/send-message .
* [ ] get-me

[2022-02-08 23:12] timabbott commented on #21070
I think building from source for all platforms makes sense if we're building it for some, but it may also be worth opening an issue with wal-g upstream asking for aarch64 support, since that's probably the best long-term solution.

[2022-02-08 23:29] timabbott commented on #9259
Yeah, I think we can close this under the theory that we are using arrow keys for something else.

[2022-02-08 23:29] #9259 closed

[2022-02-08 23:31] timabbott commented on #21058
Yeah, agreed with that as a UX path forward.  It might be best to just move the name of who uploaded the image to a second line unconditionally, and have both truncated with `...` if too long, but I haven't thought about it much.

[2022-02-09 00:08] timabbott opened #21073 "Moved messages incorrectly live-update into the current search view"
Apparently, if you're looking at a search view (any full-text search, which implies `!filter.can_apply_locally()` for the view), then any messages that are moved will live-update to appear in your search view (and also be a bit messed up).  Easily reproducible in a development environment.

The bug is here:
[code]

One needs to use the `maybe_add_narrowed_messages` flow to ask the server which mes

[2022-02-09 00:35] timabbott commented on #20116
I think that'd be a pretty reasonable plan in the long term, but it needs thought.  The main downside of it is that bots do inherit some access permissions from their owner.  So it might be simpler to just fix the JSON issue to close this out without going down that rabbit hole.

[2022-02-09 00:38] timabbott commented on #20223
@sahil839 OK.  I don't think there's a good reason to be using an `a` tag for that edit button (which is visually a button), so switching that to a button makes sense to me as a fix for this.

(I don't think we necessarily have to do a careful audit for similar buttons to close this out, but it could be worth a moment's attention).

[2022-02-09 00:39] timabbott commented on #20080
@takitsuba that sounds good!  I agree the original PR from @Aryaman2912 seems abandoned and it'd be great you to pick it up, address my feedback and the merge conflicts, and make a new PR.

[2022-02-09 01:09] #20288 closed

[2022-02-09 02:02] timabbott commented on #12320
This was fixed in 36f03ccd5c8fdd1d60959d13855172980a0a289e.

[2022-02-09 02:02] #12320 closed

[2022-02-09 02:21] timabbott opened #21076 "Make API for message edit history more friendly for clients"
Currently, message edit history is a pain to work with, because the optimized data structure we use on the backend only records the **previous** stream and topic values.  What this means is you need to run effectively a reverse loop through the topics/streams if you ever want to compare the values, e.g. to determine if there's ever been a "resolve topic" transaction.  (You basically need to infer

[2022-02-09 02:31] jai2201 opened #21077 "Do not display edit widget for a member of stream to edit it's Name/Description."
In the current deployed version, if a Member of a STREAM tries to edit it's Name or Description, we get a Edit widget and on trying to save the new edited version, we get an error -> `Save Failed: Must be an organisation or stream administrator`,
and if we have a long Stream name, the Error Messages seems to go out of the modal, breaking the UI.

![Screenshot from 2022-02-09 00-19-28](https://user

[2022-02-09 02:41] takitsuba commented on #20080
@timabbott Thank you for your reply, I will try!

[2022-02-09 08:03] sahil839 commented on #21077
Have fixed the part to hide edit widget in #21079 since I was working on related code only.

[2022-02-09 08:05] alya commented on #21077
This was reported in [#20001](https://github.com/zulip/zulip/pull/20001), and there's an in-progress PR: [#20438](https://github.com/zulip/zulip/pull/20438).

[2022-02-09 08:06] alya commented on #21077
@sahil839 I'll leave it up to you what fix makes sense, but we should de-duplicate. :)

[2022-02-09 08:09] alya commented on #21076
@laurynmm if you are up for working on this, we're in the state of release prep where issues tagged as a release goal should take priority over all other work you're doing.

[2022-02-09 08:12] algo-byte commented on #19936
@zulipbot claim

[2022-02-09 08:21] alya commented on #21058
We also currently have this situation when the name of the image is a long word (or, in this case, a URL):
<img width="1504" alt="Screen Shot 2022-02-09 at 12 20 34 AM" src="https://user-images.githubusercontent.com/2090066/153154548-48dcb921-b842-4f71-bc73-fad5376c3f91.png">

[2022-02-09 08:23] alya commented on #21058
Having the uploader and the file name on separate lines, truncated as needed, seems OK as long as we have some way to recover the full name. Can we put it in a tooltip or something?

I'm also not sure whether the file name or the user's name should go first.

[2022-02-09 08:25] alya commented on #21058
It might also be reasonable to reduce the font size, which will make truncation come up less often.

[2022-02-09 11:07] AnushaNathRoy commented on #20988
@zulipbot claim

[2022-02-09 11:56] sahil839 commented on #20116
We already do not allow removing a bot owner in the API. It is just that we have an option in frontend to remove the owner.

I think we did the change of removing option for removing owner from the frontend in #8337 in e56b2633 but the option was added when changing it to user `dropdown_list_widget`. And I checked the history for `views/users.py` file, I don't think we supported removing owners an

[2022-02-09 12:44] Arch0125 commented on #20988
We can then just write the UTC Offset against the name of the place and let the user filter either by the name or offset.

[2022-02-09 14:54] mdshahansha commented on #17248
@zulipbot claim

[2022-02-09 17:34] alya commented on #21076
Great, thanks, @laurynmm !

[2022-02-09 17:42] Arch0125 commented on #20988
Sure, it will be better to get more views about the change.

[2022-02-09 18:21] timabbott commented on #20223
Resolved by #21079.

[2022-02-09 18:21] #20223 closed

[2022-02-09 18:45] timabbott commented on #21077
Closing as duplicate of #20001.

[2022-02-09 18:45] #21077 closed

[2022-02-09 18:45] Fingel commented on #21058
OK, I'll put the author on a second line and make sure that the header doesn't grow to 3 lines when the filename is too long. I'll most likely include this as a prep commit for the other pan/zoom work since I'll be changing around this header. I agree that there should be a tooltip for this text in case it does get truncated.

[2022-02-09 18:46] Fingel commented on #21058
@zulipbot claim

[2022-02-09 18:54] #19820 closed

[2022-02-09 19:04] #20132 closed

[2022-02-09 19:43] stpn commented on #21051
@alexmv thank you. I tried that:

[code]

And got:

[code]

[2022-02-09 20:12] madrix01 commented on #21011
@alexmv Made pull request with passing tests.

[2022-02-09 21:08] andersk commented on #21051
That’s only half of the last line of the error message. Can you paste the full output?

[2022-02-09 21:52] timabbott commented on #19196
It looks like this became: https://github.com/zulip/zulip/pull/19760

[2022-02-09 22:07] #19739 closed

[2022-02-09 22:09] timabbott commented on #19196
Never mind, that's a different PR; @mittal-parth can you open a PR for the implementation that you demonstarted above?  Thanks!

(And sorry that it sounds like zulipbot made you think you couldn't open a second PR -- the intent is mainly to avoid folks claiming issues they won't work on)

[2022-02-09 22:13] timabbott commented on #21076
Hmm, yeah, I guess we will want to take the opportunity to add API documentation for message edit history.  I think it's OK for that to be a follow-up after making the API be what we want it to be, if that saves some work.

I think #17193 might be the relevant prior work.

[2022-02-09 22:40] timabbott opened #21084 "Avoid duplicate HTTP requests to mute/unmute topics"
In #21059, we fixed a 500 issue that would happen when two requests to mute a given topic raced with each other.  I suspect we have a secondary UI issue that some UI widget makes it very easy to accidentally double-click and send two requests to the server to mute a given topic; otherwise this race would never have happened in practice anyway.

Typically, we fix that sort of issue by replacing the

[2022-02-09 23:13] #20575 closed

[2022-02-10 00:16] alya opened #21085 "Document stream and topic references"
At present, we document how to link to a stream or topic using the URL, but (as far as I can tell) not how to do it with references (the `#` and `>` syntax).

We should:

1. Confirm that this documentation is indeed missing.
2. If so, add it to https://zulip.com/help/link-to-a-message-or-conversation
3. Cross-reference or even duplicate it (with an `include` block) on https://zulip.com/help/format

[2022-02-10 00:21] #21055 closed

[2022-02-10 12:33] anurastogiji commented on #20483
@zulipbot abandon

[2022-02-10 12:34] anurastogiji commented on #20971
@zulipbot claim

[2022-02-10 13:04] YashRE42 commented on #20483
(I'm probably going to end up making changes that end up implementing what we want for this issue in #20464.)

[2022-02-10 14:02] anurastogiji commented on #20971
@zulipbot abandon

[2022-02-10 14:05] anurastogiji commented on #19876
@zulipbot claim

[2022-02-10 19:53] andersk commented on #21051
@alexmv We’re building the wrong download URL for golang, the `-aarch64.tar.gz` should be `-arm64.tar.gz`.

[2022-02-10 22:50] ditsuke commented on #20975
@alya
I believe this was closed in error as https://github.com/zulip/zulip/commit/925aba7ca5002d158b48fed495d795e48a17b6e1 does not exist on `main` anymore. Can we reopen this?

[2022-02-11 00:02] #19284 closed

[2022-02-11 00:15] timabbott opened #21097 "Consider allowing classes of bots who get UserMessage rows"
Zulip's bots system has a long historical quirk -- bot users never receive UserMessage rows.  This, in turn, seriously limits their access to private streams with protected history.  It also creates some confusing API interactions, see e.g. #19477.

My recollection is that the historical reason we originally did this was a performance/load thing -- we didn't want to be writing a UserMessage row wr

[2022-02-11 00:15] timabbott commented on #19477
Correct, bots never receive UserMessage rows.  It's a decision that should be revisited.  I've opened #21097 for that issue.

[2022-02-11 01:17] timabbott commented on #19477
Checking the implementation, it appears my recollection wrong about how this works:
[code]

Needs testing, but I **think** that what's going on is just that bots are not subscribed to any streams by default, so their "All messages" view will be empty if you don't add them.  Will confirm.

[2022-02-11 01:19] timabbott commented on #19477
OK, confirmed that's the correct explanation.

[2022-02-11 01:20] timabbott commented on #21097
Closing; based on https://github.com/zulip/zulip/issues/19477#issuecomment-1035698489, this issue was based on my having an incorrect recollection of how bots work.

[2022-02-11 01:20] #21097 closed

[2022-02-11 01:32] #19978 closed

[2022-02-11 01:32] timabbott commented on #19978
I pushed a change to correct the inaccurate documentation here.  I expect @alya to open an issue in a couple days for adding web UI for displaying and changing bots' roles; that'll benefit from a fresh issue.

Thanks again for the report @Tamschi!

[2022-02-11 02:01] gnprice commented on #19477
Cool, glad that that's nice and straightforward. In that case I think what's needed here is this:

together with an explicit mention that your bot isn't automatically subscribed to your streams, and so if you're trying to fetch message history for it and not getting any then you should either subscribe it or use `streams:public`.

[2022-02-11 06:16] Chainesh commented on #21036
@alya We have to show the "Copied" text at the same place right? Just like it's shown in the "View source / Move message in three-dot message menu"

[2022-02-11 18:37] timabbott commented on #20116
@sahil839 the only permissions bot inherit from owners that I'm aware of are the ability to send messages to streams where sending is restricted.  I don't think that permission seems significant enough for this to matter.

So I think the fix here is just to add an option to dropdown_list_widget to support not having a `remove` option, if one doesn't exist already, and use that here.

But @showell

[2022-02-11 19:02] #20676 closed

[2022-02-11 21:00] madrix01 commented on #21012
@alexmv I would like to work on this as follow up for #21011, I was going through the code, as we use atomic transaction while creating the Subscription row, but not with the fetching the already subscribed user, that's where the subscription needs to be added, right?
Can race conditions be generated by making `already_subscribed` list empty?

[2022-02-11 21:30] #19865 closed

[2022-02-11 21:49] sayamsamal commented on #21000
@zulipbot claim

[2022-02-11 22:12] alya commented on #21036
Yeah, that sounds right to me, though we should check what happens if you have a long message with some code towards the bottom.

[2022-02-11 22:32] alya opened #21105 "Allow changing bot role from UI"
At present, a bot's role (e.g. admin, moderator, etc.) can be changed via API but is not displayed or changeable via bot settings.

In the Organization settings > Bots menu, we should:

1. Remove the User ID column, as bot ID is not very useful.
2. Add a Role column. (We'll have to check to make sure the new column fits OK.)

In the edit bot modal on this page, we should:
1. Reorder the fields to

[2022-02-11 22:33] alya commented on #21105
@sahil839 FYI in case you have bandwidth for doing this clean-up.

[2022-02-11 22:33] alya commented on #19978
Filed #21105.

[2022-02-11 22:35] timabbott commented on #20974
Fixed in https://github.com/zulip/zulip/pull/20983.

[2022-02-11 22:35] #20974 closed

[2022-02-11 23:33] timabbott opened #21106 "Improves message_scroll handler logic around race conditions with unreads."
In https://github.com/zulip/zulip/pull/19462, we introduced a bit of logic that required a long comment:
[code]

I suspect that the `narrow_state.filter` check here should be similar to this:
[code]
Perhaps just doing that check at the top of the `message_selected.zulip`, since I think it may also be a bug to mark anything as read that isn't visible anyway.

@chdinesh1089 FYI.  I think you should

[2022-02-11 23:40] timabbott opened #21107 "Add API support for marking all messages in a narrow as read"
In #19462, we add a button to mark all messages in the current view as read, regardless of view.  This button only marks messages read that have been loaded by the client, which is confusing when that's not the same as all messages.  I expect that 99% of the time it will be correct and useful, which is why I'm OK with merging that pull request.

Likely the right way to do this is to write an endpo

[2022-02-12 03:06] jasonhildebrand commented on #13193
I don't know whether this is still an issue (I have not tried to reproduce), but contributing some information in case it's helpful.

Auto-responders generally send to the Return-Path address (or should at least - this is specified in RFCs).  They must not to the Reply-To address.

As long as Zulip uses separate addresses for the Return-Path and Sender, it will be able to distinguish if the replie

[2022-02-12 04:54] Akshat1903 commented on #20967
@zulipbot abandon

[2022-02-12 05:25] akbajwa commented on #20484
@zulipbot claim

[2022-02-12 13:18] algo-byte commented on #19936
@zulipbot abandon

[2022-02-12 17:11] algo-byte commented on #21105
@zulipbot claim

[2022-02-13 02:30] mlncn commented on #11910
Looks like #20759 hasn't landed in the hosted version yet (i am very excited for that!), but i imagine it might change some things about this issue, maybe even solving it.

[2022-02-13 08:59] Chainesh commented on #21036
Okay I'm on it.

[2022-02-13 17:52] aisbergde commented on #10970
I want to add, that there should be 2 different kind of streams, where a guest is a member:
- normal streams
- broadcast streams

I explain on education example, but this is also the case in general.

A student should see only his classmates and should be able to communicate. This is described here above. They share the same "normal" streams.

But additionally there should exist broadcast streams,

[2022-02-13 19:18] asah opened #21116 "mention-selection should insert @**<name>|<id>** and not just @**<name>**"
if a new person joins with the same name, how can Zulip know which is the correct reference?

(in theory, IDs should always be used, but since auto-complete is used 99% of the time, I believe this would solve the problem in practice)

( I noticed this while working on #20614, didn't want to forget or make a big deal about it... cc @timabbott  )

[2022-02-13 19:46] asah commented on #16460
fyi this just started happening to me... I'll lookout for workarounds or fixes and post...

[2022-02-13 21:57] jai2201 opened #21119 "Tooltip overflows in case of long names."
![Screenshot from 2022-02-14 03-16-09](https://user-images.githubusercontent.com/76561593/153776864-a11075d4-a068-4a3c-8640-9106527fddf1.png)

[2022-02-13 21:57] jai2201 commented on #21119
Solved in #21118

[2022-02-13 22:19] asah commented on #17998
@alya updated.
<img width="691" alt="image" src="https://user-images.githubusercontent.com/140002/153777651-c4032d1a-52cd-4f60-9f32-975c06828060.png">

[2022-02-14 04:30] Rixant commented on #20600
@zulipbot claim

[2022-02-14 17:38] showell opened #21125 "high priority: Fix broken keyboard support for message menu."
It's common for keyboard users to hit `i` and then down arrows to navigate the message menu.  This is now broken for some reason.

See [chat](https://chat.zulip.org/#narrow/stream/9-issues/topic/message.20menu.20broken/near/1327814) for more context.

[2022-02-14 18:52] jai2201 commented on #21125
@showell , I've fixed this in #21126.

[2022-02-14 19:54] timabbott commented on #21125
This is because of 729c09074a52677dbea9e8cdaf1f69f40b048e69.

[2022-02-14 21:02] sxiii opened #21127 "Locale error (LC_ALL)"
Error while trying to install (both DEV and PROD versions)

[code]
The only difference is line numbers, 184 for DEV (5.x) and 171 for PROD (4.9) versions.

System:
* OS: Manjaro Linux - Release: 21.2.3 - Codename: Qonos
* Kernel: 5.10.96-1-MANJARO
* Device: HP Proliant Microserver Gen 8

Tried everything: setting locales and LC_ALL to = en_US.UTF8, C, UTF-8, re-generating locales, etc. Error is ei

[2022-02-14 21:41] rigdern opened #21128 "Entire message lost while in the middle of composing it due to hotkeys"
In general, Zulip does a good job of saving a message you are composing. It gets saved to "Drafts." Here's a case where it doesn't do that and instead the message is lost.

## Repro

1. Go to a topic and start composing a message. For example, type "abc" into the composer
2. Move focus outside of the composer by selecting text that somebody else has written
3. Hit "c" to invoke the command "new st

[2022-02-14 21:45] akashaviator commented on #21015
I'm working on this.

[2022-02-14 23:13] evykassirer commented on #19483
Is there discussion on CZO about the product thinking behind this? I'm not convinced this is intuitive/helpful, and would like to read or participate in some conversation before getting started on implementation :)

[2022-02-14 23:24] #21125 closed

[2022-02-15 04:45] rht opened #21135 "Disable Send button while uploads are in progress"
At present, it's possible to send a message while files are still uploading. This results in messages like "Uploading file x...".

To fix this, the Send button should be disabled while uploads are in progress.

[CZO discussion](https://chat.zulip.org/#narrow/stream/137-feedback/topic/disable.20send.20while.20uploading)

[2022-02-15 06:58] chdinesh1089 commented on #21106
Along with the `hasClass('active')` we might also want this to avoid marking previous narrow's messages as read when moving to another narrow.
[code]

But one could argue that this sort of race is fine, for example, when you want to mark all messages in the current narrow, you could quickly scroll to the bottom and just move to a different topic/stream. In that case, this blocking would be annoyin

[2022-02-15 07:29] sahil839 commented on #20116
Yes the fix sounds correct.

[2022-02-15 07:41] yogesh-sirsat commented on #21135
I am willing to work on this.

[2022-02-15 08:05] alya opened #21137 "Incorrect hover behavior in settings tables in dark mode"
Many tables in our settings menus have an "Actions" column that cannot be used to sort the table. In light mode, hovering over this column heading correctly does not change its appearance. However, in dark mode, this table heading incorrectly has the same hover effect as other (sortable) columns.

We should fix this so that the dark mode hover effect also only applies if the table can be sorted by

[2022-02-15 09:04] yogesh-sirsat commented on #21137
Claim

[2022-02-15 11:50] yogesh-sirsat opened #21140 "recent_topics: No hover effect on recent topics table."
Like other tables when we hover on table columns it changes background color but the same behavior is not working for recent topics.
For reference check uploaded files, muted topics, and muted users in the settings.

[CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/No.20hover.20effect.20on.20recent.20topics.20table.2E.20.2321140)

**Gif:**
![No_hover_effects_on_recent_topics_table](https

[2022-02-15 13:54] showell commented on #20499
Here are some edge cases that I think we should look at in the final version of the UI:
* is it still easy to add everybody from the realm to a new stream?
* is it easy to add all the users from a large stream like Verona but then remove Hamlet?
* can I see the final list of participants easily?
* if I accidentally add a wrong group of people, how do I back out?

[2022-02-15 14:54] yogesh-sirsat opened #21142 "stream_settings: Sorting not working on alert words."
As behaviors of other tables, we can sort the table by clicking on the desirable columns, but it is not working for the alert words table.
For reference check uploaded files, muted topics, and muted users table in the settings.

**[CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/Sorting.20not.20working.20for.20alert.20words.2E)**

**Gif:**
![Sorting_not_working_for_alert_words](https://u

[2022-02-15 15:11] showell commented on #21142
I have a feeling that this is a recent regression, but I'm not sure.

[2022-02-15 15:14] yogesh-sirsat commented on #21142
Okay.

[2022-02-15 20:04] #21051 closed

[2022-02-15 20:44] lmeasr opened #21146 "djanjo module zerver.worker.queue_processers error"
Logger root, from module zerver.worker.queue_processors line 371:
Error generated by Anonymous user (not logged in) on meslinux deployment

Traceback (most recent call last):
  File "/home/zulip/deployments/2022-02-05-22-51-49/zerver/worker/queue_processors.py", line 305, in do_consume
    consume_func(events)
  File "/home/zulip/deployments/2022-02-05-22-51-49/zerver/worker/queue_processors.py",

[2022-02-15 22:30] alexmv commented on #19056
This just recurred, also clearly from a (probably manual) test message.

I can replicate with:
[code]
...which produces:
[code]

[2022-02-16 01:26] #21018 closed

[2022-02-16 01:47] #21137 closed

[2022-02-16 01:51] alexmv commented on #21070
https://github.com/wal-g/wal-g/issues/863 for wal-g making arm64 binary builds.

[2022-02-16 03:18] takitsuba commented on #20080
@timabbott I’m sorry to bother you but could you review my PR?
If it is not convenient for you, please let us know so I will ask on `code review` stream!

[2022-02-16 04:37] showell opened #21153 "recent topics: Improve navigation for PgUp/PgDn etc."
Our Recent Topics feature has completely intuitive navigation for the up and down arrows.

We should extend this paradigm to work for for PgUp, PgDn, Home, and End.

See https://chat.zulip.org/#narrow/stream/137-feedback/topic/recent.20topics.20navigation/near/1328790 for more details.

[2022-02-16 04:59] WesleyAC opened #21154 "Make avatars in Recent Topics open user info popover on click"
I think when you click on a avatar in recent topics, it should open the popover with user details.

CZO: https://chat.zulip.org/#narrow/stream/137-feedback/topic/recent.20topics.20avatar.20click

[2022-02-16 05:07] yogesh-sirsat commented on #21154
@zulipbot claim

[2022-02-16 05:27] alya commented on #14961
It would be great for someone to pick this one up. There are a bunch of minor issues with the color picker, as discussed in a couple of recent CZO threads ([here](https://chat.zulip.org/#narrow/stream/137-feedback/topic/stream.20color.20change), and [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/Unused.20link.20in.20stream.20color.20picker)).

[2022-02-16 05:46] alya opened #21155 "Compose to resolved topic warning banner should not be shown when compose box is empty"
In #20584, we implemented a warning banner for composing to a resolved topic.

This banner should only be shown when the compose box is non-empty, as it is common to have an empty compose box open without intending to immediately compose a message, in which case the banner is an unnecessary distraction.

[CZO discussion thread](https://chat.zulip.org/#narrow/stream/137-feedback/topic/sending.20to.

[2022-02-16 06:09] alya opened #21156 "Make it possible to cancel uploads"
Uploads may sometimes take a long time, and once #21135 is implemented, it will not be possible to send the message while uploads are in progress.

We should make it possible to cancel uploads that are taking too long. In particular, we should modify the "Uploading..." banner (screenshot below) so that:

1. The banner text says "Uploading N files..." / "Uploading 1 file...", where N is the number

[2022-02-16 06:16] showell commented on #5595
If we go with the lightbox idea that I proposed above, we should also consider bells and whistles like the following:

* word wrapping
* line numbers
* further integration with online REPLs and text editors

This can be a great project for an intern, since it's relatively self-contained.

[2022-02-16 06:28] showell opened #21158 "design: Give Settings/Profile a little bit of design love"
If you go into our Settings menu, the first panel is the Profile menu.  There is nothing egregiously bad about the UI, but it's completely boring.  It could use a tiny bit of flair.

[2022-02-16 06:41] alya commented on #19483
@evykassirer I'm not sure I understand the precise part you're concerned about (the whole idea? multiple pinned topics?). Anyway, the idea has been batted around a number of times over the years (you can search for "pinned topics" in public streams), but you can just kick off a new discussion thread at this point.

[2022-02-16 06:42] evykassirer commented on #19483
I'm not as much concerned, but moreso feel like I want some more information about the use cases and product thinking before I feel more confident in and excited about working on it. I'll check out the discussion in CZO tomorrow and kick off a new discussion thread if I have further questions! thanks :)

[2022-02-16 08:52] somesh202 commented on #21155
@zulipbot claim

[2022-02-16 11:34] sayamsamal commented on #21000
@alya I have made the some changes and created a PR #21121  for the same, can you please have a look?

[2022-02-16 11:36] sayamsamal commented on #21158
@zulipbot claim

[2022-02-16 11:37] sayamsamal commented on #21158
@showell can you please assign me this issue, since the zulipbot won't, my PR is yet to be merged.

[2022-02-16 13:15] madrix01 commented on #21156
@alya Can I work on this?

[2022-02-16 16:42] stpn commented on #21051
Updated and it's smooth sailing! thanks a lot

[2022-02-16 17:09] madrix01 commented on #21153
@zulipbot claim

[2022-02-16 18:59] alexmv opened #21160 "Race condition in realm creation"
It's possible for two realm creations with the same name to race, which triggers a 500 and raises an exception:
[code]

This is raised by `realm.save()` in `do_create_realm`, which is (correctly) inside a `transaction.atomic()` so we don't get inconsistent state in the database.  The only problem is the potential user experience; `accounts_register` in `zerver/views/registration.py` should catch t

[2022-02-16 20:30] tejpals commented on #20675
@zulipbot abandon

[2022-02-16 20:59] #21119 closed

[2022-02-16 21:28] evykassirer opened #21163 "Click behind image to close it"
[CZO conversation here](https://chat.zulip.org/#narrow/stream/101-design/topic/click.20to.20close.20image.20fullview)

When viewing an image in its fullscreen big view on web, there's grey around the image to fill in the screen. Clicking this should close the image - intuitively this feels like "clicking on the background to return to what's behind the image".

Alex believes we may have used to ha

[2022-02-16 23:20] timabbott commented on #21163
Yes, this is recent regression with the lightbox work by @Fingel; we should prioritize fixing it since I consider it a blocker to deploying the lightbox rewrite to Zulip Cloud.

[2022-02-17 00:20] nabil-rady commented on #21163
Can I work on this ?

[2022-02-17 00:33] timabbott commented on #21116
I don't think there's a bug here; today, we insert the ID if and only if the name would be ambiguous because multiple users have the same name.  Once the message is sent, it is rendered with the ID of the user who was mentioned in the HTML.

[2022-02-17 00:33] #21116 closed

[2022-02-17 00:33] timabbott commented on #21116
(I'd recommend bringing up questions like this in #issues in chat.zulip.org for discussion before opening a GitHub issue)

[2022-02-17 00:35] timabbott commented on #21127
Can you stop by production help in chat.zulip.org?  My guess is the root problem is you're running an unsupported OS, but it seems likely there's something wrong with the base system, since the C.UTF-8 locale should be available on a modern Linux system.

[2022-02-17 00:37] timabbott commented on #21146
I don't think this has anything to do with SMTP configuration; the exception is that a simple database query to update "last visit" stats for a single user is taking 30s+ to execute on your database.  My guess is some sort of networking issue in your connection to the database server, or a hardware issue with the database server's disk.

This is unlikely to be a bug in Zulip, so I'd recommend a ch

[2022-02-17 00:37] #21146 closed

[2022-02-17 00:38] timabbott commented on #21049
This is effectively a duplicate of #19371.  I hope we'll be able to address that soon.

[2022-02-17 00:38] #21049 closed

[2022-02-17 00:39] timabbott commented on #21029
This needs to be fixed in Transifex, our translation tool.  See https://zulip.readthedocs.io/en/latest/translating/internationalization.html and related pages for details.

[2022-02-17 00:39] #21029 closed

[2022-02-17 00:52] alya commented on #21163
@nabil-rady please find a less urgent issue to pick up. Thanks!

[2022-02-17 06:00] rht opened #21165 "/digest: The verbatim plain text after the rendered messages is misleading."
See http://chat.zulip.org/digest.
![2022-02-16-192210_766x524_scrot](https://user-images.githubusercontent.com/395821/154414733-7e323646-456c-40b0-a87f-15aec253ca3d.png)
After the missed messages rendered in HTML being displayed, the same messages are rendered again as plain text.

We should either remove it completely, or add a sentence explaining that those texts are the plaintext version of the

[2022-02-17 06:01] rht commented on #21165
See also https://chat.zulip.org/#narrow/stream/9-issues/topic/.2Fdigest.20misrendering.

[2022-02-17 07:05] alya commented on #9480
Hm, why is this issue still open? It's currently possible to subscribe a group to a stream...

[2022-02-17 07:13] rht commented on #21165
Least controversial path with minimal code change would be just to add an explanatory text for the plain text.

[2022-02-17 11:13] rht opened #21167 "Improve the UI of the digest email"
Currently it looks like this:
![zulip_email_digest](https://user-images.githubusercontent.com/395821/154468743-7f7fdf74-e038-4b44-ad7c-58720e0ecbc0.png)
which looks different from the corresponding UI in the webapp.

For comparison, the Discourse email digest looks like this:
![discourse1](https://user-images.githubusercontent.com/395821/154469176-82b9af5e-3445-4dd2-9248-215f5213b709.png)
![discou

[2022-02-17 14:56] WesleyAC opened #21171 "Draft not saved when switching composebox narrow"
If you open a compose box, type some stuff, then click on a username and click "Send private message", the draft isn't saved.

I assume the problem is that the compose box is never closed, and we only save drafts when the box is closed, but I haven't looked into it.

CZO: https://chat.zulip.org/#narrow/stream/9-issues/topic/draft.20not.20saved.20when.20switching.20to.20PM

[2022-02-17 17:57] joshtriplett commented on #19712
I would love to see this as well; I regularly want to reply to one part of a long message.

[2022-02-17 17:58] alya commented on #21167
If someone would like to work on this, please post some ideas/design directions in the discussion thread linked in the issue.

[2022-02-17 21:36] alya opened #21178 "Replace "Unavailable" status with "Invisible" mode"
We currently have three different ways to manage how your status is shown to other users, as described at https://zulip.com/help/status-and-availability.

1. Emoji statuses
2. Disable updating availability, so that you appear to be offline
3. Setting yourself as unavailable, which affects how your presence dot looks, but doesn't do anything else.

Based on feedback from users, we have found that t

[2022-02-17 21:46] alya opened #21179 "Add "busy" status to default emoji status set"
As a blocker for #21178, we should add "Busy" to the list of default emoji statuses. As an initial proposal, we can put this status first on the list, and use the "hammer and wrench" emoji to represent it.

If you are working on this issue, you should start a thread in the [#design stream on chat.zulip.org](https://chat.zulip.org/#narrow/stream/101-design) to share screenshots and request feedback

[2022-02-17 21:58] asah commented on #21178
Smart! Thx.

On Thu, Feb 17, 2022, 4:36 PM zulipbot ***@***.***> wrote:

[2022-02-17 21:59] alya opened #21180 "Presence dot should be in offline mode when not sharing availability"
We have an Account & privacy setting to turn off "Display my availability to other users when online". When a user selects this setting, they are indicating that they don't want others to know that they are online.

We should therefore *immediately* update their presence indicator dot to show them as offline. Users will still be able to see "Active now" in the tooltip for the first couple of minut

[2022-02-17 23:13] #21073 closed

[2022-02-17 23:18] nagisa opened #21182 "Focus in the thread list jumps around"
In the following video I'm using the keyboard keys j, k and enter to navigate the thread list. There are two issues, which don't appear to be always reproducible:

1. ~2 second mark in the video, when marking a thread as read, the focus jumps to a random other thread (sometimes it works as expected, removing the focus, at which point `j` or `k` will select the next or previous topic around where t

[2022-02-17 23:43] nagisa commented on #21182
One more related issue. If you mark threads as read, they still remain focusable, just hidden. As a result moving focus between adjacent visible results can require multiple `j` or `k` presses.

[2022-02-17 23:49] #21154 closed

[2022-02-18 00:06] alya opened #21183 "Replace `Aa` formatting help icon"
Having polled a few users about the new `Aa` button... it's not working. People associate it with fonts or formatting, but are surprised that it's a help menu, rather than a way to change font size or expose more formatting buttons.

We should:

1. Switch the icon to https://fontawesome.com/v4/icon/question
2. Move it to the right of the separator (i.e. just to the left of `Drafts`).

We could als

[2022-02-18 00:40] timabbott commented on #10970
Now that we're working on this actively, here's an updated technical plan that covers a lot more details about the refactoring required to support the security posture desired here correctly.
* [ ] View functions like `get_user_by_email` need to be modified to use that sort of `access_user_by_` code path; maybe simplest is to also add an `access_user_by_email` helper function parallel or sharing c

[2022-02-18 03:56] NerdyLucifer commented on #21179
@zulipbot claim

[2022-02-18 14:23] raghavluthra20 commented on #21180
@zulipbot claim

[2022-02-18 14:24] raghavluthra20 commented on #21180
@alya Can you assign me this issue?

[2022-02-18 15:31] algo-byte commented on #21017
@zulipbot claim

[2022-02-18 16:55] pizzapanther opened #21188 "Link Previews User Option"
It would be good to have a user level option to turn off Link Previews. It's a very decisive feature because many people absolutely love it, while others absolutely hate it. I think the Org level option and Global setting are also still needed. However, users should be allowed to turn off previews too.