[2018-10-16 19:25] timabbott opened #10670 "Add reasonable discussion of zuliprc files in API documentation"
I think the article "API Keys" should become "API keys and zuliprc files" (with added discussion about how there's a magic button that just downloads one for you) and then be linked to from all the places that we discuss zuliprc files in the documentation.

![image](https://user-images.githubusercontent.com/2746074/47041757-84251380-d13e-11e8-8d01-bca1f24a5483.png)

[2018-10-16 19:26] timabbott opened #10671 "API documentation should not mention ""
So, this is a pretty embarrassing issue with our API docs:

![image](https://user-images.githubusercontent.com/2746074/47041528-e5001c00-d13d-11e8-804c-d126d036d61a.png)

The phrase "Download zuliprc-dev from your dev server" is really poor in two ways: (1)

@YagoGG @eeshangarg @aero31aero one of you may want to claim this.

[2018-10-16 19:29] timabbott opened #10672 "API documentation should not mention "dev server""
Today I noticed a pretty embarrassing issue with our API docs:

![image](https://user-images.githubusercontent.com/2746074/47041528-e5001c00-d13d-11e8-804c-d126d036d61a.png)

The phrase "Download zuliprc-dev from your dev server" is really poor in two ways: (1) many of our users use these docs in production, so the "dev" phrase is misleading, and (2) it's not obvious at all how to download from a

[2018-10-16 19:36] eeshangarg commented on #10672
@timabbott: Sorry about this, I am pretty sure this comment has been there even after my rewrite of the docs. I'll make sure I get to this next!

@zulipbot claim

[2018-10-16 19:40] timabbott opened #10673 "Improve formatting for "arguments" sections with long examples."
The line-wrapping for this endpoint's API documentation looks really ugly:

![image](https://user-images.githubusercontent.com/2746074/47042583-7e303200-d140-11e8-9b4f-d6fc1325dcba.png)

We should either remove the maximum width on "description", or figure out a way to use more than one line for a given endpoint that doesn't look so bad (e.g. having the example be on the next line after the rest o

[2018-10-16 19:49] timabbott commented on #8648
These are now documented; will be on chat.zulip.org soon.

Let me know if you have any questions about how this works!  Your feedback will be very helpful in understanding anything that doesn't make sense so that the docs are accessible to developers new to Zulip.

[2018-10-16 19:49] #8648 closed

[2018-10-16 19:50] timabbott commented on #9472
This has been on /api/get-messages for some time, thanks to @YagoGG.

Any questions about those docs are appreciated!

[2018-10-16 19:50] #9472 closed

[2018-10-16 19:52] timabbott commented on #10044
Just updated to add checkboxes for a bunch of things that now have docs.  @YagoGG this may be useful as a medium-term TODO list if you want to keep working on this area :)

[2018-10-16 19:52] timabbott commented on #8595
I believe this was resolved with @YagoGG's work on API docs; check out /api/get-messages.

[2018-10-16 19:52] #8595 closed

[2018-10-16 19:54] timabbott commented on #9575
@eeshangarg this may be a great small project for you; I think basically we want to have ` templates/zerver/help/include/download-python-bindings.md` link to instead `/api/installation-instructions#python` , and then fix the JS to have that actually show the "Python" tab.

[2018-10-16 20:00] timabbott commented on #10671
This seems to be a weird GitHub-generated duplicate of #10672

[2018-10-16 20:00] #10671 closed

[2018-10-16 20:12] timabbott commented on #10527
OK.  That setting isn't something that we've historically supported (in that it was part of the unofficial Docker integration before we integrated it), so my guess is that it never worked.  Since we document it on the `docker-zulip` project, we should probably make it work.

I don't have time to personally investigate it right now, but that CSRF error is core Django code (nothing Zulip-specific ab

[2018-10-16 20:17] #9689 closed

[2018-10-16 20:20] timabbott commented on #10666
@stone212 my recommended approach for that is to use a stream like `#announce` for that purpose, and limit it so that only organization administrators can send to it (there's a setting for that purpose).

[2018-10-16 20:20] timabbott commented on #10666
(The one thing that would be nice for that is to ability to enforce that everyone in the organization stay subscribed to such a stream, which is why I'm not closing this issue.)

[2018-10-16 22:28] timabbott commented on #9961
Closing as likely user error and/or already fixed.

[2018-10-16 22:28] #9961 closed

[2018-10-16 22:28] timabbott commented on #7131
This was likely fixed by 9054ce278fedeacf02257c906956592e33d76469.

[2018-10-16 22:28] #7131 closed

[2018-10-16 22:33] timabbott opened #10674 "Add support for multiple domains in setup-certbot"
Currently, our production installer helper tool `scripts/setup/setup-certbot` doesn't support creating certificates for multiple domains, which means that we can't recommend it as an easy solution for users who want to use certbot but need multiple domains for their Zulip server.

This could be a good first issue for someone experienced with shell programming; it should be a pretty quick change on

[2018-10-16 22:35] timabbott commented on #10036
@telenieko I'm dealing with the `sudo` issue now, but can you provide details on where you were seeing a failure with `wget` not installed?

[2018-10-16 22:41] timabbott commented on #10036
The bug part of this was fixed by installing `sudo` in https://github.com/zulip/zulip/commit/a7d7d181ea046400c247a590b475c98f56f073ca, but what I'd really like to do is remove the need for it using the `run_as_root` strategy discussed above.

[2018-10-16 23:06] timabbott commented on #10572
Closing this as not actually a server issue, though we should still finish the associated python-zulip-api PR.

[2018-10-16 23:06] #10572 closed

[2018-10-17 01:42] stone212 commented on #10666
@timabbott I agree with both things you said:

1. This power should be limited to admins.
2. Everyone in a realm should be automatically signed on as a member of whatever platform these messages go out on without the ability to remove themselves.

But should it be a stream?  A user could mute the stream.  Is there a way to add an override to user muting?  Something like an `@all-override`?  Becaus

[2018-10-17 01:57] a-b opened #10675 "[FEATURE REQUEST] Org-mode syntax support for code formatting"
While sending messages using code block formatting described at https://zulipchat.com/help/format-your-message-using-markdown#code

I'm really missing support of the org-mode https://orgmode.org/

Please consider to add it.

A good example of such type of markdown is https://github.com/fniessen/refcard-org-mode please keep in mind that it supports different code blocks inside the document.

[2018-10-17 05:40] timabbott commented on #10666
Well, in a pinch you could always just write a little script with the Zulip API that sends every user a PM telling them about upcoming maintenance, without any changes to the Zulip product (and that'll even send email/push notices, etc.).  I think we may also have plans for a version of wildcard mentions that pierces muting.

I'm reluctant to add a feature like an "unmutable stream", mostly becaus

[2018-10-17 05:44] timabbott commented on #10675
Zulip is a Python package, not something written in `emacs` lisp.

We use `python-markdown` as our markdown parser, and in particular its `codehilite` extension (with the standard `pygments` package doing the main work).  If you can figure out how to make those work together to support the formatting/color highlighting of `org-mode`, we'd consider integrating it, but otherwise this is likely wontf

[2018-10-17 05:54] modestfool commented on #6512
@zulipbot claim

[2018-10-17 12:40] bhavybarca commented on #10674
@timabbott i would like to contribute to this issue, could you explain a bit to where i should start

[2018-10-17 13:34] juselius commented on #10527
Using Kubernetes one can use the following workaround(s):

Set the following Zulip environment variables:
[code]
Configure the Ingress to accept HTTP *without* redirecting to HTTPS *while* connecting to Zulip over HTTPS.
[code]

(The reason for allowing http at the ingress, is that our company load balancer  does ssl termination and forwards traffic over http internally...)

[2018-10-17 18:51] timabbott commented on #9953
I also merged ec9f6702d8d13eea45cd486fe8bc08ec56e61133 and opened https://github.com/pika/pika/issues/1128 for the upstream pika issue aka a less hideous fix.

[2018-10-17 19:03] timabbott commented on #9953
And 2eebacf2dccda7d4fd23b37bffef3f1e373d76ed covers the APNS one.

[2018-10-17 19:10] timabbott commented on #10674
Sure, start by getting a domain name or two and doing a quick Zulip production install in a VM (you can get a free trial credit with e.g. DigitalOcean if you need a VM with enough RAM).  And then test using `setup-certbot` to get a cert for just one domain, add the option, and then run it again to get a cert for both domains.  (You don't actually need to run the full Zulip installer for testing th

[2018-10-17 19:13] #10377 closed

[2018-10-17 19:44] rahulkumaran opened #10677 "Regarding Sponsorships"
Hey,
I wanted to contact the biz dev team for this but couldn't find the right email ID.
So I thought of asking this question here.
Whom do I contact for Sponsorships for Hackathons?

[2018-10-17 21:10] timabbott commented on #10677
support@zulipchat.com is the right contact point for that sort of thing.

[2018-10-17 21:10] #10677 closed

[2018-10-17 22:37] #8484 closed

[2018-10-18 02:40] shubham-padia commented on #10534
@zulipbot claim

[2018-10-18 05:10] bhavybarca commented on #10674
hey @timabbott ,
do i need to use the following command to do a zulip production install ?
<<
./zulip-server-*/scripts/setup/install --certbot \
    --email=YOUR_EMAIL --hostname=YOUR_HOSTNAME

and can you give me some domain name example, like is it supposed to be a madeup domain or a real existing one.

[2018-10-18 05:16] bhavybarca commented on #10674
hey @timabbott
again the same doubt ,when using the following command for testing what do i need to give in email and hostname? some madeup name or actual ones, and where exactly will i be putting the "domain name" to get cert
<<
/home/zulip/deployments/current/scripts/setup/setup-certbot --hostname=HOSTNAME --email=EMAIL

i would be glad if you could help me out

[2018-10-18 12:13] DestructiveInfluence opened #10680 "Enable INLINE_URL_EMBED_PREVIEW through Proxy"
Currently, Zulip doesn't seem to support embedding remote URL content through a reverse proxy, even after setting the proxy as specified in the [documentation](https://zulip.readthedocs.io/en/latest/development/setup-advanced.html?highlight=proxy). Same is obviously for inline image embedding.

Error trace:
[code]

[2018-10-18 18:34] timabbott commented on #8630
We were able to reproduce something very similar to this on Debian, and we now generate the necessary locale data.  So I'm closing this as likely fixed.

[2018-10-18 18:34] #8630 closed

[2018-10-18 18:35] rishig opened #10681 "message view: Recipient bar icons in wrong order."
To repro:
* Log in as Iago
* Add a linkifier (see "organization settings")
* Send a message with a topic linkified by that linkifier

You'll get
![image](https://user-images.githubusercontent.com/890911/47176182-c9c21780-d2c9-11e8-8e96-df954336f3b6.png)

The blue square should be to the left of the edit pencil.

[2018-10-18 18:38] timabbott commented on #10681
This likely just requires a tweak to `static/templates/recipient_row.handlebars`

[2018-10-18 20:53] luislobo commented on #4836
@rishig Thanks for the insight and input

[2018-10-18 22:45] timabbott commented on #4801
@adnrs96 can we close this, since we're now using `stylelint` for our CSS linting?  I'm not sure if `tools/check-css` is used for much these days.

[2018-10-18 22:52] timabbott commented on #10680
@DestructiveInfluence FYI, the documentation you linked is for the Zulip development environment, not for production; they're fairly different setups.  I don't believe we currently have instructions for a production server needing a proxy to access the public Internet, but I think you just need to set the `http_proxy` and `https_proxy` environment variables before starting supervisord.  E.g.

[cod

[2018-10-18 22:57] adnrs96 commented on #4801
@timabbott yes I think we can close this. `stylelint` pretty much leaves internal content of comments alone. Also we don't use `tools/check-css` anymore but we kinda keep it around (for someday case I guess)

[2018-10-18 23:00] timabbott commented on #4801
Sounds good, closing.

[2018-10-18 23:00] #4801 closed

[2018-10-19 02:58] timabbott commented on #10642
@thenotsodarkknight this shouldn't take long; if you're stuck, read our docs on https://zulip.readthedocs.io/en/latest/contributing/mypy.html

[2018-10-19 04:36] RameshAditya commented on #10681
@zulipbot claim

[2018-10-19 10:43] DestructiveInfluence commented on #10680
@timabbott Oh alright, thanks for the heads up! I tried setting `HTTP_PROXY `and `HTTPS_PROXY `via export before and ran
`sudo env http_proxy=http://192.168.200.100:8080 https_proxy=http://192.168.200.100:8080 /etc/init.d/supervisor restart`
Error persists. I'm aware this is not necessarily a Zulip error but just the missing proxy handling for the urllib3 request, but setting a global proxy in set

[2018-10-19 12:45] iainhallam opened #10688 "Add user groups as a permission option"
At present I can restrict permissions to create streams and post in certain channels to all users or admins only. I'd like an option between these two extremes, to allow the permissions to a single user group, so I could have a group of leaders who can post in a channel, who aren't all admins of the Zulip organisation, or allow a set of semi-trusted users (mods?) to create channels without giving

[2018-10-19 12:50] iainhallam commented on #6693
This probably has a bearing on #10552 - presenting the groups of streams to users in the UI would also make it easy to configure which streams were in which interest area, and save having another admin setting. Allowing streams to be in multiple groups ("categories", to distinguish from user groups?) would be very beneficial to this whole setup.

[2018-10-19 13:10] iainhallam commented on #3750
@online and @stream in the proposal both notify the same people, unless I'm reading this wrong, but do it in different ways. @stream_loud actually does completely notify everyone in the stream. I like the three levels, but you could call them something like:

@alert or listening or active
@notice or online (people online aren't necessarily active...)
@urgent or stream or all or everyone, etc.

[2018-10-19 15:49] rishig commented on #10544
yeah, simplebar looks better I think, and worth replacing. @synicalsyntax thanks for the investigation!

[2018-10-19 19:37] timabbott commented on #10642
You need to also `provision`, run `mypy` and make sure it passes.  Also, there's a new 0.640 release that came out since then.  https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html is relevant background.

[2018-10-19 21:05] radusuciu commented on #2305
@zulipbot I submitted a PR, what now?

[2018-10-19 22:43] #10681 closed

[2018-10-19 22:44] timabbott commented on #10605
@showell is this ready for a new review yet?

[2018-10-19 23:04] timabbott commented on #2305
@radusuciu next, hopefully someone reviews it :)

[2018-10-19 23:06] timabbott commented on #10688
@iainhallam yep, totally agreed that we should have this, and that's part of our vision for what user groups should be able to do.

[2018-10-20 03:59] scottilee opened #10694 "Add documentation for creating a non-root user"
Add directions in the "Advanced Setup (non-Vagrant)" documentation (https://zulip.readthedocs.io/en/latest/development/setup-advanced.html) for setting up a a non-root user with sudo privileges. This is because if you run the the Zulip installation as the root user on an Ubuntu system you run into the error: `Error: The provision script must not be run as root`.

[2018-10-20 03:59] scottilee commented on #10694
@zulipbot claim

[2018-10-20 04:21] scottilee opened #10696 "Add documentation for SSH port forwarding"
When running Zulip on a remote server such as a DigitalOcean droplet in my case, you cannot access http://<ip>:9994 because it's serving on 127.0.0.1 (localhost) instead of 0.0.0.0 (open access). Running `./tools/run-dev.py --interface 0.0.0.0` only exposes a directly listing.

Per a discussion with @timabbott, there should be directions for SSH port forwarding.

[2018-10-20 08:03] dipu989 commented on #9395
@zulipbot  claim

[2018-10-20 10:19] mach64 commented on #10626
@zulipbot claim

[2018-10-21 18:44] shubhamdhama commented on #10427
Opened #10702 with questions

[2018-10-21 21:58] TheVzard commented on #10625
@zulipbot claim

[2018-10-22 03:05] aero31aero commented on #10275
@timabbott this has been accidentally left open. Close?

[2018-10-22 16:48] timabbott commented on #10275
Yeah, looks like @lonerz forgot to put the appropriate closes tag in the commit message.

[2018-10-22 16:48] #10275 closed

[2018-10-22 18:11] Ilia-I commented on #7549
@zulipbot claim

[2018-10-22 19:03] #6092 closed

[2018-10-22 19:21] #10694 closed

[2018-10-22 19:27] #10605 closed, assigned to showell

[2018-10-22 21:52] aero31aero opened #10705 "Make quote and reply feature faster."
Currently, the on pressing the quote-and-reply hotkey, we send a request to the server to fetch the `raw_content` of the message to reply to. However, we can start typing before that message has been fetched and that can result in a bad user experience.

As a solution, we should instead use the same mechanism as file uploads and add a placeholder text which can be replaced later with the final tex

[2018-10-22 21:55] timabbott commented on #10696
Closed via #10697; @scottilee next time, make sure to include a note in your commit message of the form `Fixes: #10696`, so that merging the commits auto-closes the issue.

(Note that as a project, we merge commits, not PRs, which makes this detail important)

[2018-10-22 21:55] #10696 closed

[2018-10-22 21:58] timabbott commented on #10705
@skunkmb this could be a next project for you, since it's likely similar to 6f57cd4d237445cb5d26e58c71d0035f446b22d6.

[2018-10-22 22:12] shubham-padia opened #10706 "Support specifying tag or commit ID for refname in upgrade-zulip-from-git"
From #10693 ,

Currently specifying a tag or commit ID with upgrade-zulip-from-git with the following error:

[code]

[2018-10-23 09:13] Elberet opened #10711 "Alternative user name for @-mentions"
We're playing with a local Zulip instance for our team communications.

Besides their full "<given name> <surname>" user name, which may occasionally change due to administrative errors or meatspace intrusion (e.g. marriages), each user has an org-globally unique three-letter alias. All of our systems are setup to accept either the full john.doe@local.org email-address or the three-letter alias (J

[2018-10-23 17:13] gooca commented on #10587
working

[2018-10-23 17:56] timabbott commented on #8117
@rishig is this resolved?

[2018-10-23 18:05] rishig commented on #8117
It's not. The current model seems kind of broken though; e.g. outgoing webhooks can see all public stream messages, but can't see private stream messages even if they are subscribed?

[2018-10-23 21:20] Rishi-jha commented on #10711
Yes I suppose, JIRA has the same functionality, which accepts mentions as @**Name** as well as @**{unique id}**.

Need to have a look at it perhaps.
@Rishi-jha

[2018-10-23 21:46] timabbott commented on #10711
It would not be super hard to extend Zulip to support this.  The database already has a  `short_name` field that could be used for this purpose, and then it's just a matter of (1) modifying the LDAP sync logic to put the appropriate values there and then (2) tweaking the mention logic to support it.

[2018-10-23 22:32] showell commented on #10647
I've fixed the issues here.  Folks can raise individual issues with new tickets at this point.

[2018-10-23 22:32] #10647 closed

[2018-10-24 04:48] fileoffset opened #10715 "Android client, UI/usability issues"
I have a number of "small" bugs I have noticed in the current android client, from the Play Store.

1. If you load up the app, and immediately go to a private conversation, and start typing a message, the client seems to invisibly refresh the window, and wipe out whatever you were writing when it happens.

2a. There is a perceptible lag between showing the "X new messages" alert/badge on a convers

[2018-10-24 07:34] dnz3d4c commented on #9222
Are you making improvements to this issue at this time? I am a user who uses a screen reader that is very much looking forward to fixing this issue and merging it into the master branch.

[2018-10-24 07:51] dnz3d4c commented on #5975
I hope this issue will improve. I am a user who uses a screen reader that really wants to use Zulip.

[2018-10-24 09:29] Elberet commented on #10711
Does the code or the database schema currently ensure that one user's full name cannot also occur as another user's short name? If not, how should one deal with potential name clashes?

[2018-10-24 14:36] ITMaya opened #10718 "LDAP integration"
Hi,
I'm using Zulip 1.8.1 on Ubuntu 16.04.5 and I'm trying to connect it to a Microsoft Active Directory server for LDAP authentication and below is my configuration

**Zulip **settings.py****

AUTHENTICATION_BACKENDS = (
    'zproject.backends.EmailAuthBackend',
    'zproject.backends.ZulipLDAPAuthBackend',
)
import ldap
from django_auth_ldap.config import LDAPSearch, GroupOfNamesType
POPULATE_PR

[2018-10-24 17:40] Hypro999 commented on #10131
@zulipbot claim

[2018-10-24 17:41] timabbott commented on #10718
@ITMaya it looks like you lost the `-c` argument to `su zulip` ; that's the cause of the errors you're seeing.

In addition to that, I'd also recommend upgrading the master using `upgrade-zulip-from-git`; the LDAP configuration for Active Directory got a lot simpler recently.

[2018-10-24 17:45] timabbott commented on #10715
@fileoffset thanks for the report!  But this issue belongs on https://github.com/zulip/zulip-mobile/issues/, can you reopen this issue there?

[2018-10-24 17:45] #10715 closed

[2018-10-24 21:47] #6839 closed

[2018-10-25 00:01] #10509 closed

[2018-10-25 10:42] Finkregh commented on #349
Has this been fixed? (where?)

[2018-10-25 16:30] rishig opened #10726 "portico: Top of homepage not responsive at 800 pixels."
![image](https://user-images.githubusercontent.com/890911/47515775-95ee7100-d838-11e8-9959-75ce6af1c1d6.png)

[2018-10-25 22:38] notashish opened #10730 "[Django] ubuntu-1: Invalid message(s)"
Logger root, from module zerver.worker.queue_processors line 149:
Error generated by Anonymous user (not logged in) on ubuntu-1 deployment

Traceback (most recent call last):
  File "/home/zulip/deployments/2018-07-02-10-12-09/zerver/worker/queue_processors.py", line 132, in consume_wrapper
    self.consume(data)
  File "/home/zulip/deployments/2018-07-02-10-12-09/zerver/worker/queue_processors.py

[2018-10-25 22:39] notashish commented on #10730
When I added my email to zulip, I am receiving this type of error messages

[2018-10-26 01:32] rishig opened #10732 "user docs: Replace simplebar with browser scrollbar."
We use simplebar in two places in the help docs: on the right hand side, and on the left sidebar. Neither is working too well.
To improve it, let's
* [ ] Right hand side: replace with browser scrollbar
* [x] Left sidebar: use `scrollbarMinSize` to make it a little bit wider.

See https://chat.zulip.org/#narrow/stream/19-documentation/subject/scrollbar/ for full discussion.

Note that this applies

[2018-10-26 12:14] Adi2612 commented on #10732
@zulipbot  claim

[2018-10-26 19:09] timabbott commented on #10730
@notashish this bug is fixed in Zulip 1.9; you can get the fix via `upgrade-zulip-from-git master` (or wait for the 1.9 release, coming out very soon).  Thanks for the report!

[2018-10-26 19:09] #10730 closed

[2018-10-26 20:35] showell commented on #10711
We don't prohibit two users from having the same name.  That policy can lead to some confusion, of course, but sometimes people actually have the same name, and we also have to occasionally import name data from sources that don't ensure uniqueness.  For mentions we detect duplicate names and embed the user id into the mention, so you'll see things like `@**steve|232**`.

[2018-10-26 20:39] showell commented on #10673
I think formatting the example JSON  data with a more vertical style would help make the example more readable and reduce the width of the "Example" column to give more room for "Description".

[2018-10-26 20:41] showell commented on #10673
Here's a link to the live docs:

https://chat.zulip.org/api/update-subscription-properties

[2018-10-26 21:00] showell commented on #10655
This code is very suspicious:

[code]

[2018-10-26 21:05] showell commented on #10655
The `util.lower_bound` very clearly relies on having a sorted list, because it not only spells it out in a comment, but it's also clearly a binary search algorithm.  So it's crazy that this function admits that there is the "potentially-unsorted nature of local message IDs in the message list."

[2018-10-26 21:15] showell commented on #10655
There's also a `setTimeout(..., 0)` in `message_list_data.change_message_id` that seems unnecessary.  It just creates a window where the list-is-sorted invariant is broken.  The big block of code that is not run immediately (granted that it's a zero-second timeout, but that's still not synchronous) re-sorts the data.  It might make sense to only defer the actual rendering.

[2018-10-27 00:07] timabbott commented on #5975
@dnz3d4c thanks for re-raising this; I think it's actually one of our most important remaining emoji issues.

@HarshitOnGitHub when you have some time, let's talk about what the right option is here.  It sounds like it's probably at least:
* For the unicode / `span` emoji, add `role="img"` to the HTML generated; this is likely correct in any case.
* Adding an `aria-label` tag for our emoji with th

[2018-10-27 11:59] Adi2612 commented on #10732
@rishig , For left hand side I think we can also implement the scroll bar which is used for "USERS" on right hand side in chat area.

[2018-10-27 15:06] jaraco opened #10737 "CSRF verification failed when signing up via OAuth using Firefox on iOS"
Using Firefox 14.0 on iOS 12.0, I tried to use the OAuth buttons to sign up (GitHub, Google). In both cases, the signup failed with a CSRF error:

[code]

![unadjustednonraw_thumb_45f](https://user-images.githubusercontent.com/308610/47605709-fec01f80-d9d7-11e8-9012-97daf93d47cb.jpg)

It would be nice if the OAuth could work with Firefox on iOS.

[2018-10-27 22:43] jackrzhang opened #10740 "Email registration links open and then immediately close."
Here's two cases I've found on zulipchat.com:
1. Create a new Zulip organization via https://zulipchat.com/new by providing an email address. Receive the email with the subject line 'Activate your Zulip account', and click on the 'Complete registration' button. On my browser (Chrome), a new tab opens and then immediately closes before any contents load.
2. On a realm already created via zulipchat.

[2018-10-27 22:47] jackrzhang commented on #10740
@zulipbot add "area: emails"

[2018-10-28 07:10] xiaomingplus opened #10741 "outgoing webhook bot request headers lack Content-Type"
Hi,I config a bot with type outgoing,when I custom a http server to handle the hook,there is no Content-Type field in headers,here are all header fields:

[code]

so,many framwork can't handle body without Content-Type field,so can you add this field in outgoing webhook?

thanks.

[2018-10-28 13:15] bramd commented on #5975
@timabbott I just did some tests in Chrome and Firefox:

data:text/html,<span role="img" aria-label="Smile" title="Smile">:smile:</span>

* The above URL shows a graphic called Smile with NVDA and suppresses the `:smile:` content in Chrome and Firefox
* Firefox accessibility inspector (right click and select inspect accessibility properties) shows the title is conveyed as the accessible descriptio

[2018-10-29 16:21] ITMaya commented on #10718
Thanks, used the source from git and now it's working fine.

[2018-10-29 16:21] #10718 closed

[2018-10-29 16:37] ITMaya opened #10743 "Disabling the HTTPS"
I've installed the zulip on ubuntu server 18.04 from Git and now I need to disable the HTTPS on it.
I checked here and online but didn't find a way to disable the https.
Already tried putting bellow lines in settings.py, all together or each one separately but no luck.

DISABLE_HTTPS = 'true'
HTTP_ONLY = 'true'
EXTERNAL_URI_SCHEME = 'http://vm-zulip'
EXTERNAL_HOST = 'vm-zulip:80'

[2018-10-29 18:13] ITMaya commented on #10743
Zulip version: 1.9.0-rc2+git

[2018-10-29 20:36] timabbott opened #10744 "Switch webapp to subscribe/unsubscribe from streams by ID"
Currently, the `subscribe` APIs tend to access streams by name, which is great for quick API tools, but we should also support interacting with a stream by ID, so that one can be specific in a way that's resilient to streams being renamed.

I believe fixing this on the backend requires tweaking `list_to_streams`, and then we should follow up with frontend work to send stream IDs rather than names

[2018-10-29 21:10] timabbott commented on #10740
@jackrzhang what precise browser are you using?  I cannot reproduce, but this sounds quite serious so we should figure out what's happening/

[2018-10-29 21:12] timabbott commented on #10737
@jaraco have you set any special privacy settings in iOS Firefox?  In particular, I suspect https://support.mozilla.org/en-US/kb/tracking-protection-ios might block access to the Referer header.

[2018-10-29 21:14] timabbott commented on #10741
@showell this is likely a quick fix while you're working on this anyway; we should be setting `application/json` for `Content-Type`, I assume.

[2018-10-29 21:15] timabbott commented on #10741
While we're at it, we should probably set `User-Agent` to be something like `ZulipOutgoingWebhook/1.9.0-rc2`, where the version thing is `ZULIP_VERSION` from version.py.

[2018-10-29 21:51] jackrzhang commented on #10740
I'm using Chrome, Version 70.0.3538.77 (Official Build) (64-bit).

[2018-10-29 21:54] jackrzhang commented on #10740
I just tried Safari 12.0 (13606.2.11) - the invitation link works on that browser.

[2018-10-29 21:59] jackrzhang commented on #10740
Other facts that might be relevant are that I cleared all of my browsing data around 3 weeks ago when I upgraded Chrome, and that I created both realms on the same browser prior to the upgrade.

[2018-10-29 22:05] jackrzhang commented on #10740
Hm, this still reproduces within an incognito window, though, so perhaps it's something else.

[2018-10-29 22:08] jackrzhang commented on #10740
Here's a screenshot:
![chrome-email-links](https://user-images.githubusercontent.com/12771126/47683324-7a62cd80-db8c-11e8-99cd-49839134501e.gif)

[2018-10-29 23:08] jackrzhang opened #10745 "notifications (messages): Private stream names appear as 'None'."
This seems to have been introduced with #10477.

Message, sent from the web application:

<img src="https://user-images.githubusercontent.com/12771126/47685717-bbf77680-db94-11e8-9d6b-def985cd2fb6.png" />

Corresponding notification on iOS 12:

<img src="https://user-images.githubusercontent.com/12771126/47685722-c0bc2a80-db94-11e8-982d-76df29da528b.png" width="275" />

@zulipbot add "area: notifi

[2018-10-29 23:13] radusuciu commented on #2305
@zulipbot don't be so hasty, PR is being reviewed

[2018-10-30 00:09] timabbott commented on #9949
Closing, since this was effectively resolved via #10477.  Thanks for the report @lukasIO!!

[2018-10-30 00:09] #9949 closed

[2018-10-30 00:12] timabbott opened #10746 "Add API documentation for uploading new custom emoji"
See https://github.com/zulip/zulip/commit/3eeec94d036c606942bfa2ed17d8488417ffc312 for an example API docs commit; we may also need to extend the Python bindings in `python-zulip-api` to add a function for this first.

Tagging as a priority since we've gotten a lot of requests for this (the use case is bulk-importing custom emoji from Slack).

[2018-10-30 01:17] jaraco commented on #10737
You're right! I must have butt-privacy'd.

![img_0727](https://user-images.githubusercontent.com/308610/47689360-fde9e200-dbbf-11e8-9a5f-b26f0d2d2476.PNG)

So the issue is no longer an issue for me. Feel free to disposition however you think is best.

[2018-10-30 16:20] rogersouza commented on #10746
@zulipbot claim

[2018-10-30 16:28] rogersouza commented on #10547
@pragatiagrawal31 still working on this?

[2018-10-30 16:43] rogersouza commented on #10726
The header's text should fit on screen, right?

[2018-10-30 16:50] rogersouza commented on #10726
@zulipbot claim

[2018-10-30 16:56] rishig commented on #10726
yup! The whole text should fit on screen. Thanks for looking into this!

[2018-10-30 18:13] rishig commented on #10732
The one we use for USERS (perfect-scrollbar) is certainly nicer, but I think there was some reason why we didn't go with it. In general that package has been super buggy for us.

[2018-10-30 23:04] FeedTheWeb commented on #10743
try
`DISABLE_HTTPS: "True"`

[2018-10-31 02:36] rishig opened #10749 "A few random issues with guest accounts."
Not any real sort of QA, but some stuff I ran into.

**Stream settings**
* [x] If you unsubscribe from a stream, it shows a Subscribe button. Guests can't subscribe to streams.
* [ ] The Add subscribers feature (under Stream membership) should be hidden

**Message view**
* [x] If you unsubscribe from a stream, you get
![image](https://user-images.githubusercontent.com/890911/47762501-364df680-dc7a

[2018-10-31 03:05] #10745 closed

[2018-10-31 06:55] xiaomingplus commented on #5200
yes, this feature is really import !!!any proceess about this feature?

[2018-10-31 08:14] Adi2612 commented on #10732
Okay @rishig , I am working on it and will do according to what is required.

[2018-10-31 09:10] YJDave commented on #10749
@zulipbot claim

[2018-10-31 09:13] YJDave commented on #10744
@zulipbot claim

[2018-10-31 09:15] YJDave commented on #10593
@zulipbot claim

[2018-10-31 13:05] ITMaya commented on #10743
I've used that in "settings.py" but no changes.

[2018-10-31 16:01] Augiro commented on #10539
@zulipbot claim

[2018-10-31 16:34] paras112 commented on #10539
Hello ,I also wanted to work on this issue .What can I do now?

[2018-10-31 16:38] timabbott commented on #10547
@rogersouza I think it's reasonable for you to pick this one up.

[2018-10-31 18:02] rishig opened #10754 "Add badge to guest avatars."
It's a bit of a security issue for guests and members to look the same in the Zulip UI, for social engineering reasons.

https://github.com/zulip/zulip/commit/deb29749c2c3c5bfae7108d0bdbc0a83f7771070 adds the necessary piping for the frontend to know whether a user is a guest or not. Three things remaining are:
* [ ] Add CSS to make the avatar look like this
![image](https://user-images.githubuser

[2018-10-31 18:39] Senso commented on #9454
@timabbott I never had that issue with 1.6.0 and we're using it in production so I didn't want to test changing versions there.
In any case, I trashed my attempt at upgrading and started from scratch - I was able to make LDAP authenticate even with django-auth-ldap 1.3.0, it turns out the issue was much simpler:

It turns out that `ZulipLDAPAuthBackend.authenticate()` was receiving an empty realm,

[2018-10-31 18:39] #9454 closed

[2018-10-31 18:54] timabbott commented on #10417
Tagging this as a priority, though I also merged 2f36211fdecc3c43e17f808238dbd3efc6a1341f to at least mention this in the requirements page.

[2018-10-31 20:21] #10331 closed

[2018-10-31 21:04] YJDave commented on #10744
@timabbott I am bit confused about implementation here,
* Are you suggesting to provide subscriptions API support with both stream_name and stream_id or replace current stream_name with stream_id?
* If we modify `list_to_stream` function to get streams with stream_id instead of stream_name then there won't be a case where we will be creating a new stream if stream doesn't exist, like current flow

[2018-10-31 22:54] timabbott commented on #10744
@timabbott the goal is to support both formats; strings and integers.  The benefit of doing so is that stream_name is convenient for some types of simple integrations, but integers is precise.  We can tell which the user intended by the type parsed from the JSON request (1 is different from "1"), so e.g. this sort of check would work:
[code]

to determine whether to lookup by stream name or ID.

[2018-10-31 23:01] timabbott commented on #9840
Thinking about this a bit more, probably the right answer is that we should do the following:
(1) Change the decoding/verification algorithm to look up the targeted stream from just the token (after making `token` a unique column in the database).
(2) Now that we're ignoring the `stream_name` part of the email address, just do something basic and reasonable for encoding the stream name into the em

[2018-10-31 23:02] timabbott commented on #9454
@Senso awesome, thanks for the follow-up!

[2018-11-01 17:56] ThisGuyOverHere commented on #6040
Hi everyone, it's my first time trying to contribute to this project and I would like to help with this issue, Can anyone help me by guiding me in the right direction for example by telling me the file(s) and/or methods that I should analyze?

[2018-11-01 19:33] paras112 commented on #10654
@zulipbot claim

[2018-11-01 20:38] skunkmb commented on #10705
@zulipbot claim

[2018-11-01 21:21] paras112 commented on #10654
Hello,I  go to zulip and in settings when i click a particular model and then click another model nothing happen the model didn't close and it also didn't give an exception error ,its all work fine.Can someone explain me what to do next in this issue?

[2018-11-01 22:56] timabbott commented on #6040
@ThisGuyOverHere mostly grep for `mentioned_user_ids` and read the surrounding code.

@rishig from reading the code, I believe we might be currently not doing push/email notifications for wildcard mentions in general (and are already filtering muted streams/topics) here; so I think probably we want to first change that, and then restrict that change to not muted streams.

[2018-11-02 05:57] YJDave commented on #10754
@zulipbot claim

[2018-11-02 14:36] sahilpatki commented on #8750
@zulipbot claim

[2018-11-02 16:14] xiaomingplus opened #10764 "Can the stream support setting up an avatar?"
Now the user can set an avatar at zulip,but stream isn't support.

I think it's better if suppoted this feature.

[2018-11-02 16:53] sahilpatki commented on #8750
@zulipbot abandon

[2018-11-02 16:55] sahilpatki commented on #8750
@zulipbot  unclaim

[2018-11-02 19:12] timabbott commented on #10764
@xiaomingplus can you explain more clearly what you have in mind, perhaps with a screenshot?

[2018-11-02 20:19] xiaomingplus commented on #10764
@timabbott Sorry about that,I mean that I want to custom an stream avatar.just like Messager group avatar:
![234](https://user-images.githubusercontent.com/7547308/47938604-9d400980-df1f-11e8-8f6f-52372a70bef9.jpg)
![345](https://user-images.githubusercontent.com/7547308/47938606-9dd8a000-df1f-11e8-802d-23c64fb682fe.jpg)

:)

[2018-11-02 20:39] paras112 commented on #10654
@timabbott  Hello,I go to zulip and in settings when i click a particular model and then click another model nothing happen the model didn't close and it also didn't give an exception error ,its all work fine.Can someone explain me what to do next in this issue?You want that when model is open all other button does not show  even not clickable am I right??Please help me out i am very excited to wo

[2018-11-02 21:10] timabbott commented on #10764
OK, makes sense.  I think we're unlikely to support that in the near future (a photo takes a lot more space, so it has significant impact on how many streams can be shown), but you can customize the color used for a stream, which can work pretty well for reminding you which stream something is.

[2018-11-02 21:11] #10764 closed

[2018-11-03 12:37] paras112 commented on #10654
@zulipbot  abandon

[2018-11-03 16:05] ThisGuyOverHere commented on #6040
@timabbott Thanks, I'll start working on it!

@zulipbot claim

[2018-11-04 06:57] jackrzhang opened #10771 "portico: Align homepage header text with paragraphs."
These screenshots were taken using Chrome inspector's device toolbar at 375px width:

<p align="center">
<img width="375" src="https://user-images.githubusercontent.com/12771126/47961205-9b2f8680-dfc3-11e8-9d78-c82213ab415f.png" />
</p>

<p align="center">
<img  width="375" src="https://user-images.githubusercontent.com/12771126/47961207-a4b8ee80-dfc3-11e8-9707-60a41a836e60.png" />
</p>

<p align=

[2018-11-04 06:58] jackrzhang commented on #10771
@zulipbot add "bug"

[2018-11-04 11:02] cmorvan opened #10772 "[Bug] Slack import Zulip 1.9.0-rc2"
Hi,

Problem: when importing, the script stops and fails when importing *messages*.

Command: `manage.py  convert_slack_data mySlack-export.zip --token mytoken  --output converted_slack_data`

Final output:
[code]
This is a fresh install on the docker container of Zulip 1.9.0-rc2.

[2018-11-04 13:46] akritianand commented on #10654
Hello, I'm new to zulip development and I'd like to work on this issue.

I was able to reproduce the bug. I could see that when the pop over occurs, the background buttons (which are inside individual form tags) are still enabled. My guess is that we should disable these tags when a pop over occurs. Can somebody guide me further?

I would like to claim it only once I'm sure I can fix this bug. TIA

[2018-11-04 14:02] rogersouza commented on #10771
I've made a PR for #10726. Can I claim this? :smile:

[2018-11-04 14:06] donosco98 commented on #10654
@zulipbot claim

[2018-11-04 19:07] rogersouza commented on #10547
@zulipbot claim

[2018-11-05 02:32] timabbott commented on #10455
@cmorvan can you do the same `manage.py send_test_email` test I suggested above?

[2018-11-05 04:42] timabbott commented on #10772
@cmorvan can you do a `print(message)` on line 606  of that file (i.e. the line just above) and provide the output?  We haven't seen this exception before, so I suspect that there's some sort of quirk in the Slack data from your export.

[2018-11-05 09:17] cmorvan commented on #10455
Well, in fact I cleared everything and started a new 1.9.0-rc2... the password reset is working well on the fresh install... but I get another bug: https://github.com/zulip/zulip/issues/10772
Thanks anyway for the quick response.

[2018-11-05 09:40] cmorvan commented on #10772
Hi @timabbott
Here is the content of the message causing the failure:
[code]
The strange thing is that when I did the import earlier in 1.9.0-rc1, it worked like a charm. Everything was fine until I tried to get reset messages for my Slack users.

[2018-11-05 11:34] mach64 commented on #10626
Erm, there's been a bit of a goof-up on my part it seems. I've been working on this issue over at #10700 and my latest commit was on 29th, but it didn't get recognized by zulipbot for some reason, and it thought that the issue wasn't being worked on, which clearly isn't the case. I have been familiarizing myself with the code base, to fix the composebox issue (as pointed out by @aero31aero in [zul

[2018-11-05 11:50] donosco98 commented on #10654
@zulipbot abandon

[2018-11-05 13:11] Hudda commented on #10626
@mach64 I'm leaving this issue so that you can work.

[2018-11-05 13:12] Hudda commented on #10626
@zulipbot abandon

[2018-11-05 13:18] mach64 commented on #10626
@Hudda thanks for that! :smile:
@zulipbot claim

[2018-11-05 13:37] Tifts commented on #8021
Why would you close this issue, if your only reason is that you think some users might like that, but many might not? That's why we have settings, right? ;) This should be done as an option, that is off by default, so zulip by default keeps its original features, but allows for more flexibility. I, for one, hate the fact that it scrolls, but stops when selected message gets to the top and that's o

[2018-11-05 15:51] tjones0808 commented on #9742
@mattbober how did you fix this? i am unable to install on 16.04 azure vm

[2018-11-05 17:51] cmorvan commented on #10772
In fact I tried several times obtaining different messages causing failure. Each of them related to this topic ("cost of meetings").
[code]

[2018-11-05 18:14] cmorvan commented on #10772
Ok, in fact, it is a message with`'subtype': 'file_comment',`.
I have been able to solve simply the issue by doing this simple modification:
[code]
:smile:
Now I have a "converted data file".

[2018-11-05 18:17] timabbott commented on #9742
@mattbober the issue here was that you need to run Zulip 1.9 (e.g. by cloning from Git) to install Zulip on Ubuntu 18.04 or Debian Stretch.

[2018-11-05 18:30] rogersouza commented on #10547
@zulipbot claim

[2018-11-06 10:42] juselius opened #10776 "Messages get stuck or disappear"
I'm running the ``zulip/docker-zulip:latest`` image under Kubernetes, using a helm chart based on the ``armooo/zulip-helm`` chart. A while after starting the Zulip server pod, messages stop being delivered. Sometimes the service is up and working for a few days, sometimes just hours before failure.
The sending client doesn't get a server reply with a message timestamp, and server.log does not log

[2018-11-06 20:03] timabbott commented on #10776
Check `events_message_sender.log` and `tornado.log` for log entries when you try sending a message here.  Running `rabbitmq list_queues` would also be helpful.

The problem is clearly something with the Tornado+websockets message sending system not running properly, but I need that log data to see where the issue is.

[2018-11-06 20:04] timabbott commented on #10776
(This is likely a docker-specific issue of some sort)

[2018-11-06 20:44] timabbott commented on #10706
I had to revert the fix for this in 5ea7feee7e2bfc3206ca4d42011e7a364e7ef3ff, because it doesn't work with non-master branch names (because the `git clone` operation didn't pull those into the local repository).  I think we're going to need to do something more complicated to make this work.

@andersk I'd be curious if you have any ideas for how to do support both arbitrary branches and commits wi

[2018-11-06 20:58] #10749 closed

[2018-11-06 21:16] #10772 closed

[2018-11-06 22:42] andersk commented on #10706
Does the result need to be a Git repository? If not, you could just
[code]

[2018-11-06 23:29] timabbott commented on #10706
It's important to at least be able to do `git diff` there to see any manual changes; being able to make actual commits is nice but not absolutely critical.

[2018-11-07 02:14] radusuciu commented on #2305
@zulipbot claim

PR has been reviewed and accepted, issue with bot?

https://github.com/zulip/zulip/pull/10669

[2018-11-07 08:29] juselius commented on #10776
I have checked ``events_message_sender.log``, and there are no entries after the server stopped responding. ``tornado.log`` lists heartbeat, presence and webocket auth connections, nothing else, no messages. Rabbitmq gives the following:

[code]

Every time I send a message, the ``message_sender`` and ``missedmessage_mobile_notifications`` fields are incremented by 1.

[2018-11-07 08:32] juselius commented on #10776
I can publish my helm charts, if it helps. I just need to clean them a bit first.

[2018-11-07 16:05] scottrus opened #10781 "Broken link from Plans page"
When on this page https://zulipchat.com/plans/ if you click the "Install a Zulip Server" link you are taken to https://zulip.readthedocs.io/en/stable/production/overview.html which is a 404 page.

[2018-11-07 16:46] scottrus commented on #10781
Looks like @timabbott is already on this with bf77158

[2018-11-07 16:46] #10781 closed

[2018-11-07 16:49] timabbott commented on #10781
Yeah, this was introduced when we released Zulip 1.9 and it took over the /stable/ link :)

[2018-11-07 16:52] Hugo070707 opened #10782 "remove topic please"
Hey,

its possible to remove this topic label on the chat? my users are not able to use this with this label, they get confused every time sorry..

<img width="738" alt="bildschirmfoto 2018-11-07 um 17 50 46" src="https://user-images.githubusercontent.com/44845120/48146703-e2649280-e2b5-11e8-9922-58c6497cec2e.png">

they want just to talk in this chat without any topics or labels...

thanks

[2018-11-07 17:32] rishig opened #10783 "Add confirmation path for reactivating organization."
Currently we get a lot of requests to reactivate a deactivated organization. It would be great to automate it a bit more:

* A management command `send_realm_reactivation_email` that
takes a realm
checks that it's deactivated
emails the admins a simple email (I can write the text later) with a confirmation link

* Clicking the confirmation link should reactivate the realm

You can see how we do ot

[2018-11-07 17:58] #10705 closed

[2018-11-07 17:59] timabbott commented on #10705
I just merged @skunkmb's fix for this; @aero31aero once this deploys to chat.zulip.org, I'd love if you checked out how the experience works with your latency.

@skunkmb I think there is one follow-up we should consider here, namely that if `message.raw_content` was already present (e.g. because we sent the message recently), we can skip going to the server and make it a bit faster.  Want to look

[2018-11-07 21:30] benapetr opened #10785 "noreply email address is autogenerated even if different one is specified in settings"
This is in my config

NOREPLY_EMAIL_ADDRESS = 'zulip@insw.cz'

This is what happens when I try to send e-mail to petr@bena.rocks

smtplib.SMTPRecipientsRefused: {'petr@bena.rocks': (553, b'5.7.1 <noreply-s1gdqdyvj937h3bj4uhuxrm0@zulip.insw.cz>: Sender address rejected: not owned by user zulip@insw.cz')}

obviously the sender e-mail address is some garbage instead of what I put into my config

[2018-11-07 21:50] timabbott opened #10786 "topics: Set maximum height for zoomed-in "more topics" area"
Following up on the discussion from https://chat.zulip.org/#narrow/stream/6-frontend/subject/.2Emessage_header_private_message/near/656220, we should add an internal scrollbar or frontend-side pagination for the list of topics within a stream, so that the "topic zoom" widget doesn't get an unreasonable amount of height on a stream with a ton of history.

(I think the scrollable area approach with

[2018-11-07 22:21] timabbott commented on #10785
@benapetr set `ADD_TOKENS_TO_NOREPLY_ADDRESS=False` in `settings.py`.

We should document this in the right place; do you have a recommendation for where?

[2018-11-07 22:22] timabbott commented on #10785
(It's covered in https://zulip.readthedocs.io/en/latest/production/email.html, I guess, but maybe should also be mentioned in `settings.py` next to `NOREPLY_EMAIL_ADDRESS`?)

[2018-11-07 23:19] ericbets commented on #10786
Hey Tim,
Here is a rough sketch of the smart suggestion ui idea I suggested in the hn thread.

![image](https://user-images.githubusercontent.com/49939/48167355-319ed780-e337-11e8-8a2c-b4397ab63ece.png)

[2018-11-07 23:31] gnprice commented on #10271
For actually clearing the notifications, we have more details now in zulip/zulip-mobile#3119 . That will actually turn out to require some more work for iOS, so we might or might not ship it at the same time as we start setting badge counts. It's true that the essential information in the database for them is the same (and the same as we'll use for Android via GCM.)

[2018-11-08 01:21] jackrzhang opened #10787 "portico: Fix privacy policy font sizing."
The text for items in unordered lists is larger than the text for headings:

![privacy-policy-font-sizing](https://user-images.githubusercontent.com/12771126/48171490-01acf100-e2b1-11e8-91f4-d652902b968d.gif)

@zulipbot add "area: portico" "bug"

[2018-11-08 09:59] donosco98 commented on #5827
@zulipbot claim

[2018-11-08 10:11] donosco98 commented on #5827
`@zulipbot abandon

[2018-11-08 10:51] benapetr commented on #10785
yes that fixed it I think this should be present in settings.py commented out, it's not easy to find this in documentation especially if you don't know what you are looking for

[2018-11-08 10:53] benapetr commented on #10785
The option is "ADD_TOKENS_TO_NOREPLY_ADDRESS" but it's not like it adds some tokens, it changes even the domain of e-mail user, it's really unexpected...

[2018-11-08 20:34] showell opened #10792 "Let users know offscreen messages got sent."
If users are scrolled up in the feed and send a message, they don't actually see the message, since it's "below" the bottom of the window.  We should put something above the compose box that tells users the message was sent and is not onscreen.  Discussion here:

https://chat.zulip.org/#narrow/stream/101-design/subject/indication.20that.20message.20sent/near/659668

For implementing this, one can

[2018-11-08 21:52] ndarilek opened #10793 "Need a more versatile hiding strategy for modal dialogs"
I notice that, despite being hidden, modal dialogs like the keyboard shortcuts dialog still appear in the tab order. For instance, in the development environment, tabbing from the Reply button (which I assume is the last button on-screen) moves focus into the hidden keyboard shortcuts dialog.

This does appear to have `aria-hidden="true"` set, but some subelements appear to still have a tabindex.

[2018-11-08 22:01] timabbott opened #10794 "Offer sorting streams by most recent activity"
We should add an option to sort streams in the left sidebar by most recent activity; I feel like that could be a useful option.

For v1, we can put the option in "display settings"; if it proves popular, we may want to move the toggle to something immediately accessible from the left sidebar (which is probably going to be a better long-term plan, but requires more design thought).

[2018-11-08 22:07] rishig commented on #10792
Adding `priority: high`, since I think it contributes to the feeling that "I don't understand how Zulip works".

[2018-11-08 22:16] timabbott commented on #9222
@dnz3d4c this is being worked on actively again, see https://github.com/zulip/zulip/pull/10791.  I'm happy to put significant time into reviewing, integrating, and test-deploying changes for accessibility on chat.zulip.org.

[2018-11-08 22:28] timabbott opened #10795 "Extend render_markdown_path (used for /help, /api, /security, etc.) to require less code duplication"
We have this cool useful `render_markdown_path` Django templating function that renders markdown and is used for a range of pages (/help docs, /api docs, /for/open-source, /security, etc.).  In each case, there's sorta a boilerplate Django template (e.g. `templates/zerver/security.html`) as well as the markdown content (e.g. `templates/zerver/security.md`).  It'd be nice if we had a slightly more

[2018-11-08 22:31] timabbott opened #10796 "Write clear, explicit documentation for upgrading Ubuntu versions for Zulip"
Now that we're close to end-of-life of Ubuntu Trusty, it's super important for us to have well-tested, clear documentation for the process of upgrading from Ubuntu Trusty to Ubuntu Xenial in our documentation that we can refer users to.  I think this shouldn't be super hard, and there's a few ways we should try and pick from:
(A) Upgrade the system with downtime
* do-release-upgrade to upgrade Ubu

[2018-11-08 22:36] timabbott opened #10797 "Extend our auto-linkification algorithm to linkify custom protocols"
We'd like to extend Zulip to allow linkifying a wider range of links, including those on custom protocols (This will probably involve removing the `ENABLE_FILE_LINKS` setting).

https://chat.zulip.org/#narrow/stream/49-development-help/subject/bugdown/near/466939 has relevant context and some test cases.

@aero31aero this might be a good project for you.

[2018-11-08 22:37] timabbott commented on #10797
I can imagine starting out with 2 phases: First, writing a set of test cases for what we want to behave differently, and then working on the markdown processor implementation.

[2018-11-08 23:06] #10547 closed

[2018-11-08 23:19] timabbott commented on #10793
I'm kinda surprised they aren't `display: none` when not active already; deserves some investigation.  @shubhamdhama has done some recent work on modals and this might be a quick project for him, but I'd be happy for anyone to take a look.

[2018-11-08 23:28] timabbott commented on #5827
@rishig is this actually already resolved?

[2018-11-08 23:31] rishig commented on #5827
yup, closing.

[2018-11-08 23:31] #5827 closed

[2018-11-09 00:17] rishig opened #10798 "Add page for managing exports."
Quick notes:
* URL can be realm_url/export
* Should have three radio buttons: `I consent`, `I do not consent`, and `No response`, with a Save button.
* Admins should be able to see the list of users in each of the three categories (can just be a three-column table)
* I can add all the explanatory text later

The database table that stores who has consented or not can be called UserExportConsent.
R

[2018-11-09 02:58] skunkmb commented on #10705
@timabbott Sure, I can look into that!

[2018-11-09 11:32] bramd commented on #9222
@timabbott Can you explain me how I best get focus to a message list? When I tab through the interface, I get focus to an unknown element after the list of topics, but when I open the DOM inspector on that, it just goes to the body of the document, so it's unclear to me if this should be the message list of something else. As the other commenters in this thread, I'm not that familiar with the Zuli

[2018-11-09 14:06] ndarilek commented on #9222
You likely want to have a look at
https://github.com/zulip/zulip/pull/10791. Yesterday I added ARIA
regions/roles and made lots of message controls visible and focusable.
Still has a way to go, but is vastly more accessible than the current
interface IMO.

Having done that, I now have a better understanding of how the interface
works. I was expecting controls like Reply to be present on each
messa

[2018-11-09 14:41] rishig commented on #10515
Adding `priority: high` now that a user has run into the desktop app problem:
https://chat.zulip.org/#narrow/stream/9-issues/topic/Desktop.20App.20multiple.20Invite.20Only

[2018-11-09 14:44] hackerkid commented on #10515
@zulipbot claim

[2018-11-09 17:47] hackerkid opened #10800 "Upgrade Markdown python package to latest version"
The following error occurs when upgrading to 3.0.1

https://circleci.com/gh/hackerkid/zulip/1748

[code]

[2018-11-09 17:48] hackerkid opened #10801 "Upgrade ipython to latest version"
The following error occurs when upgrading ipython to 7.1.1
 https://circleci.com/gh/hackerkid/zulip/1758
[code]

[2018-11-09 17:50] hackerkid opened #10802 "Upgrade pip-tools to latest version"
The following error occurs when trying to upgrade to 3.1.0

https://chat.zulip.org/#narrow/stream/43-test-suites/topic/update-locked

[2018-11-09 17:51] hackerkid opened #10803 "Upgrade pytz to latest version"
The following error occurs in Bionic when trying to upgrade to  2018.7
https://circleci.com/gh/hackerkid/zulip/1786

[code]

[2018-11-09 19:33] timabbott commented on #10800
This is likely a nontrivial upgrade:

https://github.com/Python-Markdown/markdown/blob/master/docs/change_log/release-3.0.md

Most of the deprecated things we don't use, but probably this is just some incompatibility.

@showell this could be a good project for you, given that your head was recently in that code.

[2018-11-09 19:36] hackerkid commented on #10801
@zulipbot label "area: dependencies"

[2018-11-09 19:36] hackerkid commented on #10802
@zulipbot label "area: dependencies"

[2018-11-09 19:36] hackerkid commented on #10803
@zulipbot label "area: dependencies"

[2018-11-09 20:10] timabbott commented on #10798
If you like; I tend to just go with tagging things that would be good to get done soon as a priority.

[2018-11-09 20:44] jamiesonbecker opened #10805 "Errors importing from Stride (not Hipchat) using the Stride export tool"
Trying out Zulip for the first time and the experience has been really nice and smooth so far.

One issue when giving the Stride import a try (obviously not exactly hipchat but should be similar)

Decrypted with the following command (this varies slightly from the official way to decrypt the hipchat export):

`openssl enc -md md5 -aes-256-cbc -salt -d -in stride-abcdefg.tar.gz.aes  -out stride.tar

[2018-11-10 00:41] timabbott commented on #10805
As I understand it, Stride was a complete rewrite from HipChat (just from the same company) and its data exports are likely in a completely different format.

If you can share a Stride export file with support@zulipchat.com, we can do a quick look at how different the format is and thus whether it's easy to add support for it.  As I understand it, Stride never had a large userbase, so if it's a to

[2018-11-10 01:32] timabbott commented on #9222
@ndarilek the usual way to reply to a message is to use the `Enter` or `r` hotkey while it's selected; hit `?` to pull up the full keyboard shortcuts documentation.  The "Reply" button at the bottom of the screen is primarily for mouse users.

There is already a notion of the "selected message" in Zulip, with (I think) a `selected_message` CSS class (renders as a blue border for sighted users), an

[2018-11-10 06:15] akshaya9 commented on #4253
Changing the host_port in vagrant file solves this issue.

[2018-11-10 09:30] stone212 opened #10808 "Error Upgrading from Master"
I normally upgrade Zulip every month with this:

[code]

Today I tried and I received these errors:

[code]

[2018-11-10 09:30] bramd commented on #9222
@timabbott I think @ndarilek is talking about his screen reader's browse mode or reading mode, depending on which screen reader is used. Most screen readers have such a mode (except VoiceOver and Narrator). In this mode, the user can navigate a (web) document by using the arrow keys to read it like a normal document. Many other shortcuts are available in this mode, such as h for next heading, l fo

[2018-11-10 10:05] Glastis commented on #10473
It works. I made it works easily simply by replacing user.

[2018-11-10 13:17] rogersouza opened #10809 "docs: Typo in "Writing views in Zulip""
Hi folks,

There is a little typo at [Writing views in Zulip](https://zulip.readthedocs.io/en/latest/tutorials/writing-views.html#decorators-used-for-webpage-views), where the `requst` should be `request`

[2018-11-10 14:41] ajitesh-30 commented on #10537
@zulipbot claim

[2018-11-10 15:05] vyaspranjal33 commented on #10809
@zulipbot claim

[2018-11-10 15:08] vyaspranjal33 commented on #10809
@hackerkid  please label this issue , so i can work on

[2018-11-10 17:15] rogersouza commented on #10809
@zulipbot add label "help wanted"

[2018-11-11 04:34] aero31aero commented on #10797
@zulipbot claim

[2018-11-11 07:18] vyaspranjal33 commented on #10809
@zulipbot  claim

[2018-11-11 09:19] Hudda commented on #10794
@zulipbot claim

[2018-11-11 09:59] akritianand commented on #10654
@zulipbot claim

[2018-11-11 10:19] akritianand commented on #10654
I just initiated a PR. Can someone review it?

[2018-11-12 00:56] #10809 closed

[2018-11-12 00:57] timabbott commented on #10809
@rogersouza in the future just submit a PR; no need to have the overhead of an issue for a documentation typo :)

[2018-11-12 00:59] rogersouza commented on #10809
Oh sure, sorry for that

:)

[2018-11-12 00:59] timabbott commented on #10808
@stone212 can you post the actual root-cause error?  The top of the traceback you posted says "Actual error output for the subcommand is just above this.", and what we need is the output above that point :).

[2018-11-12 02:10] stone212 commented on #10808
@timabbott

That was very silly of me not to notice.  But I can't post what you need because when I re-ran the upgrade it worked.  I did do another update/upgrade/dist-upgrade on the server so either that changed or something about the latest git commit changed are my two guesses.

I will try to be more observant if I have to post again.

[2018-11-12 02:10] #10808 closed

[2018-11-12 02:17] timabbott commented on #10808
OK.  Given that it worked on retry, it was almost certainly a transient network error when downloading Python dependencies (since that's what `pip install ...` does).  So probably there's no code change we can make to fix it (though one could imagine doing further tweaks to our network-error retry strategy to make this less common).  Thanks for the follow-up!

[2018-11-12 05:08] DreamFlasher commented on #9165
This is a blocker for us. We actually thought that the search is broken in general, until we realized that URLs are not indexed. `has:link` is also not really working.

[2018-11-12 07:37] JayjeetAtGithub commented on #8144
@zulipbot claim

[2018-11-12 07:39] hackerkid commented on #8914
Sorry. I kind of missed the last comment. So the issue is only with Python 3.4. Its working fine for 3.5 and 3.6. They have mentioned that Python 3.4 is not supported.

https://pypi.org/project/transifex-client/#history

Should I still create an issue?

[2018-11-12 07:42] JayjeetAtGithub commented on #3220
@zulipbot claim

[2018-11-12 08:10] JayjeetAtGithub commented on #4612
@zulipbot claim

[2018-11-12 08:13] JayjeetAtGithub commented on #1995
@zulipbot claim

[2018-11-12 08:18] JayjeetAtGithub commented on #3220
@zulipbot abandon

[2018-11-12 08:20] JayjeetAtGithub commented on #1995
@zulipbot claim

[2018-11-12 08:30] gdelafond opened #10818 "Guest User Invitation"
Hello,

Today it is possible to modify a user to set it as a Guest user (Setting => Organization => Users => Edit => User Role), but it is not possible to invite a user as Guest.

![screen shot 2018-11-12 at 09 28 41](https://user-images.githubusercontent.com/13253032/48335224-6378ac80-e65d-11e8-8e96-fe06f37e09e4.png)

Is it something that is planned ?

[2018-11-12 11:49] donosco98 commented on #10539
@Augiro are you still working on this issue

[2018-11-12 12:29] netrounds-august commented on #10539
I don't have time to work on it for the time being, I'll unclaim it if you want to take over.

[2018-11-12 12:29] netrounds-august commented on #10539
@zulipbot unclaim

[2018-11-12 12:31] Augiro commented on #10539
@donosco98
Don't have time to work on it for the time being, I'll unclaim it if you or someone else wants to work on it.

[2018-11-12 12:31] Augiro commented on #10539
@zulipbot unclaim

[2018-11-12 12:31] donosco98 commented on #10539
@zulipbot  claim

[2018-11-12 13:18] rogersouza commented on #10592
@zulipbot claim

[2018-11-12 13:58] MrLiNk commented on #10782
yes, this would be very very nice!

[2018-11-12 16:21] ajitesh-30 commented on #6020
@zulipbot  claim

[2018-11-12 16:23] ajitesh-30 commented on #3564
@zulipbot  claim

[2018-11-12 17:31] jamiesonbecker commented on #10805
@timabbott thanks Tim! Sent! Hopefully it looks simple but definitely understand how priorities need to be set. Thanks for having a look!!

[2018-11-12 18:16] hpopsg opened #10821 "Cannot start server after power failure"
After a power failure, I am not able to start the Zulip server. That's what I get in logs:

[code]
I have reset both postgres and zulip database passwords, updated the secrets file, but still no go.

To start the server, I am using `su zulip -c /home/zulip/deployments/current/scripts/restart-server`

I would appreciate some pointers on this. Thanks.

[2018-11-12 19:00] timabbott commented on #10821
@hpopsg are you using Docker, or the normal Zulip installer?  In any case, from the error, it looks like the Zulip server doesn't have the postgres password set in its `/etc/zulip/zulip-secrets.conf`...

[2018-11-12 19:01] timabbott commented on #10805
Awesome, thanks @jamiesonbecker!

[2018-11-12 20:05] timabbott commented on #1995
I seem to recall this was alread fixed by @adnrs96; @JayjeetAtGithub can you test whether the flow works as described already?

[2018-11-12 20:19] JayjeetAtGithub commented on #1995
No , the issue is still present

[2018-11-12 21:40] timabbott commented on #10821
Hmm, well, that error is what happens when `postgres_password` is not set in `/etc/zulip/zulip-secrets.conf` (and you don't have `peer` authentication setup in your database, which is another way to do it).

[2018-11-12 22:36] hpopsg commented on #10821
Still no go. I have the zulip-secrets.conf with following values set:

[code]

I have tried adding the `postgres_password` value (which I did not have before), but still the same error. pg_hba.conf was never changed. Also I have matched the config files from the backup (zulip-secrets.conf and zulip.conf), and they are similar.

I have so many hours on this, guess I will start looking at re-install

[2018-11-12 23:16] donosco98 commented on #10539
@zulipbot  abandon

[2018-11-12 23:21] timabbott commented on #10754
@synicalsyntax now that you're back, do you want to make an attempt at doing the avatar modification CSS here, while @YJDave works on the logic of plumbing through the data?

[2018-11-12 23:32] timabbott commented on #715
The feature we need here was merged upstream in https://django-auth-ldap.readthedocs.io/en/latest/changes.html.  So this is now something we could start working on.

[2018-11-12 23:33] timabbott commented on #10207
A key feature we need here was merged upstream in https://django-auth-ldap.readthedocs.io/en/latest/changes.html.

If either of you folks is interested in collaborating on getting this working, I'd love to chat about it.

[2018-11-12 23:37] timabbott commented on #9165
@DreamFlasher I'd be curious to hear more details on `has:link` not working; we've never had reports of that with pure Zulip.  Did you by any chance import your data from another service (Slack, HipChat, etc.)?  That's the one corner case we've had issues with (basically the import tool calculating that flag incorrectly).

It's a bit more complicated than "not indexed"; URLs are indexed, but they

[2018-11-12 23:38] timabbott commented on #9165
Tagging this as a priority.

[2018-11-12 23:46] timabbott commented on #10821
Oh, sorry, `local_database_password` is the correct secret name in any case.

One thing to check is if permissions issues prevent the `zulip` user from reading the `zulip-secrets.conf` file.

[2018-11-12 23:49] DreamFlasher commented on #9165
Thank you @timabbott Well, always entering `has:link` is not really a solution -- and I assume it also means that posts without a link are not found? If that's not the case, then make `has:link` just as a default for search? No, it's for new chat messages which are not imported. Give it a try, make a post `Test search https://github.com/zulip` and then search for `has:link zulip` the last message

[2018-11-13 05:45] YJDave commented on #10818
yes, I can take this one. @zulipbot claim

[2018-11-13 08:14] hackerkid commented on #8914
Created https://github.com/transifex/transifex-client/issues/244

[2018-11-13 15:32] rogersouza commented on #10592
@zulipbot abandon

[2018-11-13 15:57] hpopsg commented on #10821
In terms of permissions, what I have now is:

[code]

I have changed the setting to:

[code]

It did not helped, so I have reverted back the permissions. I am still not sure what they should be, will need more info on that.

[2018-11-13 18:13] rishig opened #10824 "Add page for server admin to manage realm."
We get a lot of requests that currently require ssh'ing into a production server:
* Marking a realm as open source (do_change_plan_type to STANDARD_FREE)
* Marking a realm as non-profit (do_create_customer with the appropriate coupon)
* Responding to GDPR requests (deleting or scrambling the realm)
* Reactivating a deactivated realm
* Creating a compliance export
etc

Would be great to add a page,

[2018-11-13 19:56] timabbott commented on #10824
It might make sense to do this by extending https://zulipcore.zulipchat.com/realm_activity/<subdomain>/, to add a first tab that does these things -- that's what the links from /activity take you to today, and a tabbed structure seems like a good starting point for future extensions.

[2018-11-13 20:56] #10674 closed

[2018-11-13 21:06] rishig commented on #10824
yeah, I'm fine with that as well.

[2018-11-13 22:08] synicalsyntax commented on #10754
@rishig @timabbott My main concern with the guest avatar style you proposed is that I don't there's any responsive way of implementing the corner overlay in pure CSS; it'd have to use fixed heights and widths to style the corner, which won't scale well with different avatar sizes.

I've written a mockup in a [JSFiddle](http://jsfiddle.net/94t5h7kL/2/); let me know if you see any issues with my app

[2018-11-13 22:48] hpopsg commented on #10821
Ended up re-installing onto a new server. Thanks !

[2018-11-13 22:48] #10821 closed

[2018-11-14 07:30] jainkuniya opened #10827 "layout: Edit History popup/dialog layout is broken."
<img width="670" alt="image" src="https://user-images.githubusercontent.com/18511177/48466863-0e7b9880-e80d-11e8-8ef1-94b49b4467b5.png">

Screenshot is on Safari.

[2018-11-14 14:08] donosco98 commented on #10539
@zulipbot claim

[2018-11-14 17:37] SevereOverfl0w commented on #4271
There seems to be 2 discussions happening here that's causing confusion. I would potentially disambiguate this with "Pinned" and "Starred".  I think Recurse want pinned messages, which indicates to _others_ that a topic is important.  I think OP is looking for starred messages, a way to indicate to _themselves_ that a topic is important.

[2018-11-14 19:27] dashdsrdash opened #10828 "Linkification should drop trailing whitespace"
When creating related linkifications, I was copying-and-pasting regexes and URLs. When they came with trailing whitespace, Zulip complained. (And it's impossible to copy from the existing linkifications without picking up one space (regex) or two spaces (URLs)

Desired behavior: drop trailing whitespace silently.

Related: it would be nice if linkifications were editable, rather than requiring del

[2018-11-14 19:38] timabbott opened #10829 "GitHub integration: Add support for check_run/check_suite event types"
We should add support for handling the GitHub integration event types around checks, e.g. `check_run` and `check_suite` (GitHub docs probably have the full list).

[2018-11-14 20:17] timabbott commented on #10828
@dashdsrdash thanks for the report!  The whitespace stripping thing should be pretty quick to fix (probably just a few lines in `zerver/views/realm_filters.py` plus tests).  Tagged this as a good first issue for new contributors.

Can you open a separate issue for making linkifiers editable?

[2018-11-14 20:29] dashdsrdash opened #10830 "Organization linkifiers should be editable in place"
It would be nice if linkifications were editable, rather than requiring deletion and re-creation. But I understand it would be harder to check for duplicate regex that way.

[2018-11-14 20:30] dashdsrdash commented on #10828
Sure: created as #10830

[2018-11-14 21:17] timabbott commented on #10754
Hmm, we do display avatars in only a handful of places, so the size thing might not be a big deal (and we could do a CSS refactor to extract e.g. an `avatar.scss` file that has them all in one place, so that it's easier to manage).

The other option would be to modify the image itself, which would solve that problem, but it might not be worth it (and there may be some contexts where we want to dis

[2018-11-14 21:40] dashdsrdash commented on #10828
Tim Abbott wrote:

This is a fresh installation on Debian Stretch, 2 days old.

I add:

TA-(?P<id>.+)

and

https://jira.int.smartleaf.com:8081/browse/DATA-%(id)s  ￼

That's interesting: that's not just whitespace at the end, that's
some bizarre Unicode character that came along when I selected
the previous (successful) linkification URL. Chrome was showing
it as whitespace, but I can see it in my

[2018-11-14 22:03] timabbott opened #10831 "Error reporting overlap bug in login flow"
I was able to get into this buggy state in the enter-password flow:

![image](https://user-images.githubusercontent.com/2746074/48515298-366efa00-e815-11e8-941d-dd724d00a497.png)

Doing so required the following sequence:
* Submit an incorrect password, generating the "Please enter a correct email and password. Note that both fields may be case-sensitive." error from the backend.
* Then, select th

[2018-11-14 22:36] timabbott commented on #10805
Update: It appears they use a similar export format, just with UUID-format user IDs, see https://github.com/zulip/zulip/pull/10826 which may cover everything needed to support this.

[2018-11-14 23:01] timabbott commented on #10828
Ahh, OK, so I think the fix here is probably to tag the trash icon (and other elements in an existing one you might want to copy+edit) to not be selectable/copyable, so that they don't show up here.  I think the `no-select` CSS class might be the right thing, but needs testing.

[2018-11-14 23:12] timabbott opened #10832 "Submit upstream Django patch to make `SESSION_COOKIE_DOMAIN` configurable in SessionMiddleware"
Currently, Django's SessionMiddleware doesn't support the subdomains model that Zulip uses, because it hardcodes `settings.SESSION_COOKIE_DOMAIN`.

As a result, we have our own SessionHostDomainMiddleware which subclasses SessionMiddleware and copies a lot of its implementation.  We'd still need to subclass in any case for the subdomains-related security checks we add the start of the function, bu

[2018-11-14 23:15] timabbott opened #10833 "Make zulip-puppet-apply check if the user is root"
This is one of our few documented interfaces that doesn't have such a check.

We can probably just copy the check code from `manage.py` or similar Python scripts, but it might be nice to add something reusable to `zulip_tools.py` that we can call?  We seem to already have some duplication in `run-dev.py`.

@aero31aero @shubham-padia this might be a good issue for one of you, since it requires some

[2018-11-14 23:40] timabbott commented on #10746
https://zulip.readthedocs.io/en/latest/tutorials/documenting-api-endpoints.html is helpful context.

[2018-11-14 23:55] rogersouza commented on #10746
@zulipbot claim

[2018-11-15 00:29] synicalsyntax commented on #10754
@rishig Are you proposing we only display the grey triangle on the message view and nowhere else?

[2018-11-15 00:52] jamiesonbecker commented on #10805
Much further! This is using https://github.com/zulip/zulip/pull/10826

[code]

The error message doesn't specify the exact subdomain that's unavailable -- perhaps stride.com? or our userify.com subdomain?

[2018-11-15 01:03] timabbott commented on #10805
@jamiesonbecker that error means that you've already created a Zulip organization on that server at the root domain.  Probably, if this is a new server, the fix is to delete the organization you created.  I just extended https://zulip.readthedocs.io/en/latest/production/export-and-import.html#import-into-a-new-zulip-server with f1c65975ad44c7d666270b1eea7ec8a5316f7dcc to help clarify this aspect o

[2018-11-15 01:04] timabbott commented on #10805
BTW for these warnings:
[code]

Does the export you got from Stride contain copies of those files?

[2018-11-15 01:10] jamiesonbecker commented on #10805
@timabbott Not that I can see.

For example, the hello-taco.gif is probably the photo of the taco puppy from Atlassian Trello; it's name in the media directory is `binary?client=f917b86a-24c0-43c2-910b-39ca19359d8d&token=eyJhbGciOiJI[......]`

I wonder if it doesn't bother exporting images that are part of Stride or other Atlassian products.

[2018-11-15 01:19] jamiesonbecker commented on #10805
@timabbott Sorry, just getting started on this. This org is empty anyway - how do I delete it? I deactivated it, but cannot find anything in manage.py related to deleting; would it be easier to wipe and reinstall?

[2018-11-15 01:21] timabbott commented on #10805
`scripts/setup/postgres-init-db && scripts/setup/initialize-database` will do it.  We should probably add explicit docs for that as well.

[2018-11-15 01:32] jamiesonbecker opened #10834 "`scripts/setup/postgres-init-db` Doesn't complete."
Thanks to @timabbott in  for showing me in https://github.com/zulip/zulip/issues/10805 how to delete an organization by re-initializing the database.

Minor script/schema issues when running:

[code]

But it does, actually, exist:

[code]

(Not sure where to go from here.)

[2018-11-15 01:33] jamiesonbecker commented on #10805
@timabbott Thank you!! That almost worked perfectly (see other issue, didn't want to bog down this one). That's a handy snippet.

[2018-11-15 01:33] timabbott commented on #10834
I think the issue is that you need to run these via `./scripts/....`.

[2018-11-15 01:56] timabbott opened #10835 "Upgrade Zulip to Django 2.x"
Since Zulip has been happily on Python 3 for some time, we don't have any hard blockers for upgrading to Django 2.0 and then 2.1; we should probably start working on the migration process.  I just added this doc, which has some notes on the process we've used in the past.

https://zulip.readthedocs.io/en/latest/subsystems/django-upgrades.html

I expect parts of this issue to be quite difficult, bu

[2018-11-15 01:58] jamiesonbecker commented on #10834
@timabbott no problem..

[code]

[2018-11-15 03:33] jackrzhang opened #10836 "message view: The uppermost recipient header is positioned in front of the scrollbar."
In a narrow window, where the browser scrollbar is directly adjacent to the message feed, I've been able to reproduce this on Chrome 70.0.3538.77 and Safari 12.0, though interestingly not in Firefox 63.0.1.

![recipient-header-in-front-of-scrollbar](https://user-images.githubusercontent.com/12771126/48528468-05f28480-e844-11e8-9153-cdc9f6ff1e8b.gif)

@zulipbot add "message:view" "bug"

[2018-11-15 03:33] jackrzhang commented on #10836
(oops)

@zulipbot add "area: message view"

[2018-11-15 04:55] jackrzhang commented on #10836
@zulipbot add "area: general UI"

[2018-11-15 05:10] jackrzhang opened #10838 "message list: Scrollbar moves underneath the top navigation bar."
This reproduces on Chrome 70, Safari 12, and Firefox 73; this is the scroll bar for the entire window that moves with the message view:

![top-nav-bar-in-front-of-scrollbar](https://user-images.githubusercontent.com/12771126/48531459-270da200-e851-11e8-9361-21963d96fb31.gif)

@zulipbot add "area: message view" "area: general UI" "bug"

[2018-11-15 05:30] jackrzhang opened #10839 "message list: Dates on recipient headers don't update appropriately with #10820."
This is specific to changes introduced with #10820.

Using the thread 'chat.zulip.org' on #announce from czo as an example - the date text on the right hand side of the recipient bar shows the date of the earliest message fetched in the message view's current topic, but doesn't update to show the date of the message at the top of the message view's *currently visible* content.

To reproduce:
1. Go

[2018-11-15 06:07] rishig commented on #4271
A quick note: thread URLs are stable, even though they have the `#`.

[2018-11-15 06:42] timabbott commented on #10834
@jamiesonbecker is this the docker environment, or Ubuntu Bionic?  In any case, I'm puzzled by the `pgroonga` logging, but did that return exit status 0?  `echo $?` after running something is the way to tell.  It's fairly likely that this was a success that just looks scary.

[2018-11-15 06:51] timabbott commented on #10839
I'm going to close this and just point to in #10820, since it's not really an independent issue but more a bug in a not-yet-merge PR.

[2018-11-15 06:51] #10839 closed

[2018-11-15 06:52] timabbott commented on #10839
(Thanks for the detailed, helpful notes, though!)

[2018-11-15 06:53] timabbott commented on #10754
I think probably there, and similar spots (like drafts).  The profile type pages should be displaying the user's role more visibly via text (we should probably add a mention of the user's role in the main /#settings profile page); the purpose of this avatar marker is to make that clear in condensed settings like the message view (and likely only that view + drafts) where we don't have the space to

[2018-11-15 06:56] rishig commented on #10754
Another place is in typeaheads and pills, if possible.

[2018-11-15 06:56] timabbott commented on #10827
I believe this is the message in question: https://chat.zulip.org/#narrow/stream/243-mobile-team/subject/Android.20auth.20on.20zulipchat.2Ecom/near/661047

I can't reproduce in Chrome on Linux, so it seems likely this is a browser-specific bug for Safari.

[2018-11-15 06:57] timabbott commented on #10754
Yeah -- same reasoning applies, but that is a different size.

[2018-11-15 07:37] hackerkid opened #10840 "Make it easier to figure out whether the user has clicked on a reaction in night mode"
It's currently very hard to figure out whether I have also clicked (reacted) on a reaction in night mode.

![screenshot from 2018-11-15 12-58-45](https://user-images.githubusercontent.com/7190633/48537008-3682fe80-e8d6-11e8-87c2-ac71484c030b.png)

In the above figure, I have clicked on the 2nd reaction but not the first. The styling for both the cases is almost the same. It's too hard to figure ou

[2018-11-15 07:37] hackerkid commented on #10840
@zulipbot label "good first issue"

[2018-11-15 07:40] hackerkid commented on #10840
@zulipbot label "area: general ui"

[2018-11-15 07:40] hackerkid commented on #10840
@zulipbot label "area: general UI"

[2018-11-15 09:17] aero31aero commented on #10833
@zulipbot claim

Going forward with the approach of adding helper functions to zulip_tools.py

[2018-11-15 14:05] nagisa opened #10842 "Scrolling in the stream list does not honour the system-wide scroll behaviour"
Scrolling in the stream list seems to be manually implemented and does not appear to honour the system-wide scrolling behaviour. For example, scrolling appears to be much slower than the rest of the content elsewhere on the system, Home/PgUp/PgDn/End do not work and similar issues.

If scrolling behaviour is overriden, care should be taken to ensure that it is behaviourally consistent with the nat

[2018-11-15 16:05] jamiesonbecker commented on #10834
The prior script had an non-zero exit status (it didn't go on to `&& scripts/setup/initialize-database`, although I manually tried to push through on that.

Here's a full `-xe` log:

[code]

It appears that the script changes the current working directory to /; I inserted a line just before it tries to execute `postgres-init-db`:

[code]

The init script didn't end in a error status, as you correc

[2018-11-15 16:07] jamiesonbecker commented on #10805
[code]

[2018-11-15 18:59] timabbott commented on #10805
I think you lost the `scripts/setup/initialize-database` part in my above instructions :).  Run that and then try again.

[2018-11-15 19:02] timabbott commented on #10834
I see, so I think `scripts/setup/postgres-init-db` is meant to always be run with the full absolute path `/home/zulip/deployments/current/scripts/setup/postgres-init-db`; that's the cause of the path-not-found error.

I think my next step is to just put this together into a single script you can run to reinitialize the database; since you're running off master anyway, that'll be faster.

[2018-11-15 19:12] #10515 closed

[2018-11-15 19:14] timabbott commented on #10842
@nagisa by stream list, do you mean the "stream settings" page or the left sidebar?

[2018-11-15 19:37] rishig commented on #10754
yeah, for the typeahead/pills, the triangle would have to be relatively larger.
Color is not a bad idea, but I think will be a lot of work to get right.

Another option would be to add a little marker to right or left of their name, e.g.
![image](https://user-images.githubusercontent.com/890911/48576847-70e69e80-e8ca-11e8-81f0-255877a245c5.png)

[2018-11-15 20:31] #10834 closed

[2018-11-15 20:50] jamiesonbecker commented on #10805
Success!!  It looks like the only thing that might not have been imported was the private one-to-one chats. Huge thank you @timabbott, **awesome save** from an orphaned product!!!

[2018-11-15 21:11] timabbott opened #10844 "Indicate bot owners in profile popovers"
Following up on https://github.com/zulip/zulip/pull/10765, we should replace the Bot label in user profile popovers (what you get from clicking a user's name) -- it feels pretty redundant with the bot icon on the "Welcome Bot" line.  We should instead do e.g. e.g. "Bot owned by Tim Abbott", with clicking that taking you to the owner user's profile page; I think that'd provide nice, helpful, contex

[2018-11-15 21:14] timabbott commented on #10805
@jamiesonbecker great!  Are the one-on-one chats included in the Stride export?  We definitely import them for HipChat, so we should look at whether the format is different.

(@showell FYI)

[2018-11-15 21:16] jamiesonbecker commented on #10805
Yes, it does look like they're there. Here's a sample, in a filename with the format `users/[uuid]/history.json`:

[code]

[2018-11-15 21:23] jamiesonbecker commented on #10805
Yes, here's a sample from filename with the format `users/557058:[uuid]/history.json`

[code]

[2018-11-15 21:40] timabbott commented on #10805
OK, I bet Steve can figure out what's going on here and fix it.

[2018-11-15 21:46] timabbott opened #10845 "Provide a supported process for completely rebuilding/reinitializing the Zulip database"
A common thing that comes up is someone first installs Zulip, tests it out without importing their data, and then wants to convert their install into one that has its data imported, but they don't have a

I think this can be called `scripts/setup/delete-reinitialize-database` or something like that, and it needs to just run `scripts/setup/postgres-init-db` followed by `scripts/setup/initialize-dat

[2018-11-15 21:47] timabbott commented on #10834
Opened https://github.com/zulip/zulip/issues/10845 for providing a nice documented process for this.

For the pgroonga warnings bit, @kou does pgroonga no longer require you to run `CREATE SCHEMA` and `CREATE EXTENSION`?  I think we may have neglected to remove those bits when the model
changed at some point...

[2018-11-15 21:50] kfogel commented on #472
FWIW, @VincentSC, I think having a growing number of open tickets is an expected sign of a healthy project.  Bug reports grow in proportion to user base, not in proportion to number of bugs.  (Written up in more detail at https://www.rants.org/2010/01/bugs-users-and-tech-debt/ FWIW.)

In other words, you should start to worry if you see the number of open tickets go *down*, not if it is going *up*

[2018-11-15 21:54] jamiesonbecker commented on #10845
Maybe just a meta script that checks to insure root (and/or here-doc within `sudo`) that explains that this will (obviously) nuke their database and then calls everything with absolute paths?

[2018-11-15 21:58] timabbott opened #10846 "Link to latest Zulip version from the homepage (/hello.html)"
We should link to the Zulip installer (mentioning the current latest Zulip version) in /hello.html, aka https://zulipchat.com.

I think the right style would be to have either a new paragraph or a button for the install link; in any case, the text should be something like:

`[Install Zulip 1.9](link-to-install-page), or [read the Zulip 1.9 announcement](link-to-blog-post) (with the latter part bei

[2018-11-15 21:59] jamiesonbecker commented on #10845
I.e., something like:

[code]

[2018-11-15 21:59] timabbott commented on #10846
If someone does styling that looks good hardcoding the version, I can deal with the version number plumbing as part of merging this.

[2018-11-15 22:01] rishig commented on #10846
Note that this should be in the "Open Source" section of that page.

[2018-11-15 22:44] timabbott commented on #472
Not sure why this 2.5-year-old issue is getting traffic, but I agree with what @kfogel says.

One data point is that the fraction of our open issues that are bugs is now like 160/900, which is a lot lower than the 60/150 that I mentioned a few years back.  And if you look more closely, a big fraction of those 900 are developer-productivity things (developer documentation, refactorings, etc.), whic

[2018-11-15 22:50] kfogel commented on #472
(I ran across this issue while doing a dup search for something else, @timabbott, that's all.)

[2018-11-15 23:16] timabbott commented on #10845
Yeah, we'll definitely want that.

[2018-11-16 01:04] jamiesonbecker commented on #10805
Awesome! Should I open a new ticket for the private chat imports or just leave it here, or should we leave it closed WONTFIX? :)

[2018-11-16 01:54] DreamFlasher opened #10848 "Email Gateway: support plain text messages"
Steps:
1. send a plain text email to a stream

Expected behaviour:
See the email text in the stream coming from the Email Gateway

Actual behaviour:
The Email Gateway posts `(No email body)`

[2018-11-16 04:13] jamiesonbecker commented on #10834
@timabbott @kou Sorry, I should have answered this: it's Ubuntu Bionic, and it was running the same install procedure as outlined in the self-install docs.

[2018-11-16 07:49] YJDave commented on #10844
@zulipbot claim

[2018-11-16 10:12] nagisa commented on #10842
I mean the expanded list of topics within the stream list on the left hand
side of the primary Zulip view.

I think the same problem should occur for the user list (right hand side)
as well.

On Thu, Nov 15, 2018, 21:14 Tim Abbott <notifications@github.com wrote:

[2018-11-16 16:51] timabbott opened #10853 "Consider using mypy stubs for sqlalchemy"
I just learned about https://github.com/dropbox/sqlalchemy-stubs/, which is a project containing mypy type-checker stubs for sqlalchemy.  Since we use sqlalchemy (though only in a small part of the codebase), we should look at integrating this, since it'd help us.

This is definitely lower priority than mypy stubs for Django, however.

[2018-11-16 17:59] timabbott opened #10854 "Make manage.py give a nice error message when run with `python2`"
Currently, if you try to run `python manage.py ...`, which is sorta a natural thing to do if you know that you usually run python scripts with `python` and don't assume that e.g. we have a nice shebang line that does the right thing, you'll get a syntax error:
[code]

I think we can make this error-proof by adding a statement at the very top of the `manage.py` that just checks if we're running Pyt

[2018-11-16 18:29] DreamFlasher commented on #10848
@timabbott Thank you! I suggest the following simple test (I did it, copying the text here would't help you). Do you have Gmail? Try sending a message from Gmail with the checkbox "Plain text" activated. What I did was subject `test`, content `test`. When I do that, I observe the behaviour above.

[2018-11-16 18:29] timabbott commented on #10805
Go ahead and open a new issue.

[2018-11-16 18:33] timabbott commented on #10754
@synicalsyntax you're right, I was confused about drafts; I was just thinking about places where we display message bodies :)

I like the idea of making the marker on typeahead/pills a little bigger in relative size in order to ensure they're visible (I'm liking the idea of extracting `avatars.scss` more as we talk about this).

I don't like having a marker next to the name; I think people will be

[2018-11-16 18:45] rishig commented on #10754
As a note, the marker proposal is:
* No triangles on the avatar
* Use the marker everywhere: typeahead, message view, etc

We already have a marker for bot, so it might be a natural extension to have one for guest (and maybe eventually admin) as well?

[2018-11-16 18:55] jamiesonbecker opened #10855 "One-on-one chats not migrating from Stride"
One-on-one chats are missing from the Stride import (which is otherwise working great; see #10805).

Here's a sample that comes from the Stride export, with the filename format

`users/[orgid]:[user-uuid]/history.json`

[code]

[2018-11-16 18:57] timabbott commented on #10754
I'm OK with consistently using an icon in principle, but I think it's hard to come up with an icon that semi-universally means "Guest", and the cutoff triangle thing looks pretty good, so I'm sorta more tempted by that approach.

[2018-11-16 19:12] rishig commented on #10754
ok, I'm fine with the cutoff triangle as well.

[2018-11-16 20:00] timabbott opened #10856 "Debug mysterious password reset + sessions issue on zulipchat.com"
This is an issue that realistically I'm going to need to track down.  Details are here:
https://code.djangoproject.com/ticket/29946

We resolved the issue for now by switching from `django.contrib.sessions.backends.db` to `django.contrib.sessions.backends.cached_db`, but we don't know what the bug with the `cached_db` backend was, and need to figure that out so we can turn it back on.

[2018-11-16 20:04] DreamFlasher commented on #10848
Gosh, oh yes! There was indeed a problem in the email config. Thank you very much!

[2018-11-16 20:04] #10848 closed

[2018-11-16 20:06] timabbott commented on #10848
@DreamFlasher can you share what the config issue was?  It's possible we should update our docs to make that error less likely.

[2018-11-17 17:19] prateekj117 commented on #10840
@hackerkid Can I work on this issue?

[2018-11-18 15:19] 2208Abhinav commented on #10846
Hello @timabbott I am new to zulip and I want to contribute. I think for this issue we can use something like [izimodal](http://izimodal.marcelodolce.com/#modal-default)

[2018-11-18 16:35] xiaomingplus opened #10859 "Support mobile register api"
Hi, I want to create a sign up page for zulip mobile,but there isn't any mobile register api,do you have some advise?

[2018-11-19 02:34] timabbott commented on #10859
This hasn't been a priority for us, but the simplest way to support this would be to initiate the existing flow from a webview.  And then we'd want to refactor`accounts_register` to support an equivalent of the `mobile_flow_otp` argument (which is used for some mobile login flows) so that we can send the API key for the newly-registered account back to the app to log the user in there, replacing t

[2018-11-19 02:57] timabbott commented on #10840
@prateekj117 go for it; note that this project is probably almost entirely CSS changes to pick the right color in `static/styles/night_mode.scss`.

[2018-11-19 05:53] xiaomingplus commented on #10859
@timabbott thanks,I think we also can add a query "redirect_to" when signup? and the redirect page should have a button, user can click and jump to login?

it's more simple :)

[2018-11-19 11:15] donosco98 commented on #10539
@zulipbot claim

[2018-11-19 11:59] superbiche opened #10862 "Move a channel or private conversation to a Stream"
It would be great if we had a way to move a private conversation to a stream.
New users often start talking in PM before thinking the conversation could be useful in a topic.

Is that already possible? If not, would it be?

[2018-11-19 19:00] #10833 closed

[2018-11-19 20:02] Jeremy-Xue commented on #10794
@Hudda Any updates? Would like to also get involved on working on this.

[2018-11-19 20:08] jackrzhang opened #10865 "onboarding: Help text for the 'Organization URL' field on the form for creating a new organization is misplaced."
To reproduce:
- Create a new organization on zulipchat.com or in the development environment and follow a link to the form at `/accounts/register`.
- Without filling out any fields, press 'Sign up' at the bottom of the form.

Screenshot:
<img width="383" alt="image" src="https://user-images.githubusercontent.com/12771126/48732136-a30e3e00-ebf3-11e8-8112-6fa1e618386b.png">

@zulipbot add "bug" "are

[2018-11-19 20:19] jackrzhang opened #10866 "onboarding: Unavailable subdomain help text on the form for creating an new organization results in content overflow scrollbars."
To reproduce:
- Register for a new organization at zulipchat.com/new, and follow the emailed link to the form at /accounts/register.
- In the 'Organization URL' field, enter a subdomain already in use, like 'asdf'.

Screenshot:
![unavailable-subdomain-content-overflow-scrollbars](https://user-images.githubusercontent.com/12771126/48732751-4dd32c00-ebf5-11e8-94d3-8c450def827c.gif)

@zulipbot add "b

[2018-11-19 20:40] jackrzhang commented on #10740
Fascinating, this doesn't reproduce anymore... 😕

@timabbott Should the high priority tag be removed for now?

[2018-11-19 21:03] jackrzhang opened #10867 "A valid full name on an onboarding form is cleared after an invalid submission."
To reproduce:
- Follow a link to a form at /accounts/register.
- Fill out the form with valid values, except don't check the Terms of Service box.
- Press 'Sign up'.

The 'Full name' field will be cleared after the page reloads following a server response, even though it's unrelated to the failed validation.

Screenshot:
<p align="center">
<img alt="invite-onboarding-form-full-name-cleared" src="h

[2018-11-19 21:07] jackrzhang opened #10868 "The password strength bar on an onboarding form at /accounts/register is reset after an invalid submission."
To reproduce:
- Follow a link to a form at /accounts/register.
- Fill out the form with valid values, except don't check the Terms of Service box.
- Press 'Sign up'.

The password strength bar will reset to showing the lowest strength, even though the contents of the password field haven't changed.

Screenshot:
<p align="center">
<img alt="invite-onboarding-form-full-name-cleared" src="https://use

[2018-11-19 21:09] jackrzhang commented on #10867
(#10868 is also observable in the screenshot above.)

[2018-11-19 21:31] jackrzhang opened #10869 "Autofocus on the first invalid field after an invalid submission of an onboarding form."
To reproduce:
- Follow a link to a form at /accounts/register.
- Fill out the form with some invalid value(s), like an unavailable subdomain or an unchecked Terms of Service box.
- Press 'Sign up'.

Input focus will be given to the first text field, which is currently 'Organization name' when creating a new organization or 'Full name' when signing up as a new user for an organization. On page load

[2018-11-19 21:39] jackrzhang commented on #10869
@zulipbot remove "bug"

[2018-11-19 22:57] jackrzhang opened #10870 "On an onboarding form, client-side logic should detect an unavailable subdomain or unchecked Terms of Service checkbox, prevent the form from being submitted to the server, and show help text."
Client-side JavaScript prevents an onboarding form from being submitted to the server when any of the 'Organization field', 'Full name', or 'Password fields' are empty, and then displays help text around the input element with invalid content.

There should be similar client-side logic for preventing submission to the server and showing help text when either of the two are detected:
- an unavailab

[2018-11-19 23:01] jackrzhang commented on #10869
This should also apply to any logic introduced with #10870.

[2018-11-20 00:33] SpruceBruce64 commented on #1991
@zulipbot claim

[2018-11-20 01:52] rishig commented on #9165
Linking to similar request on czo: https://chat.zulip.org/#narrow/stream/137-feedback/topic/indexing.20urls

[2018-11-20 02:43] timabbott commented on #10740
Probably we should close it as not reproducible; it's probably a browser bug that they fixed via a browser update.

[2018-11-20 02:43] #10740 closed

[2018-11-20 02:47] radusuciu commented on #2305
@zulipbot abandon.

Seems like there's no interest in getting this very straightforward feature merged, and I'd prefer to not get notifications for perpetuity.

[2018-11-20 03:29] rishig commented on #10862
We've gotten this request a few times, and I've run into it several times as well. I think the answer is that none of the history carries over; it's just a button to create a new private stream with the correct membership, no description, and maybe the first "hello" message is a link to the original PM.

[2018-11-20 03:34] rishig opened #10871 "integrations: Change end of content marker for large, truncated messages."
https://chat.zulip.org/#narrow/stream/137-feedback/topic/large_messages has the context.
But basically, we should use `\n[message truncated]` at the end of a long, truncated message sent via the API, instead of `...`.

This should apply to emails sent into Zulip as well, not sure if it's the same issue/fix.

[2018-11-20 03:35] timabbott commented on #10794
@Jeremy-Xue usually when it's been 9 days without a PR showing up, there isn't much active work on it, so I'd encourage you to get started on it.

[2018-11-20 03:35] superbiche commented on #10862
I didn't think about the privacy issues.
On one hand I think the UI part is tricky but possible, but the privacy part would mean a lot of work - create an entity to hold the request made to other users in the PM, find a way to display it to them, get approval/denial, handle these and finally move it.
I guess you're right, it's not worth the hassle.

[2018-11-20 17:12] jeswincyriac commented on #10846
is this issue closed?

[2018-11-20 17:36] feamsr00 opened #10873 "Public Rooms"
Hi there!

I'm coming from HipChat and I'd like to suggest public rooms. We've enjoyed this feature and have come to depend on it. It allows us to mark a room (stream?) as public and publish a URL to it. A guest (with no knowledge of the chat platform) is able to click the link (we embed it in a webpage), enter a name and be placed in to the room. We can interact with them simply from the client.

[2018-11-20 18:31] hpopsg opened #10874 "Puppet agent: Failed to open TCP connection - Connection refused"
When I run `puppet agent -t`, I am getting the following:

[code]
Also this message appears in /var/log/syslog repeatedly.

Running `puppet agent --configprint server` shows correct server (zulip.local)
Running `puppet cert list --all` show correct SSL certificate for zulip.local

While it does not seem to affect functionality (the server runs fine, no apparent issues) - it's something I would lik

[2018-11-20 19:42] jeswincyriac commented on #10865
@zulipbot claim

[2018-11-20 20:17] jackrzhang commented on #10865
Hey @jeswincyriac! I think this is actually a pretty good issue; so I'll go ahead and add the label so you can claim this (if you still want to).

@zulipbot add "good first issue"

[2018-11-21 03:43] timabbott commented on #10874
@hpopsg Zulip doesn't use a puppet agent; we run it directly with our own configuration.  But puppet really really prioritizes agents over file configuration, and there's no way in the config file or command-line options to disable it trying to talk to an agent, even if you explicitly provide a configuration file to use.  See https://github.com/zulip/zulip/issues/6251 and in particular https://git

[2018-11-21 03:43] timabbott commented on #10874
Closing as a duplicate of #6251, let me know if I'm confused about this being the same issue.

[2018-11-21 03:43] #10874 closed

[2018-11-21 03:44] timabbott commented on #10873
@feamsr00 hello!  I believe this is https://github.com/zulip/zulip/issues/4817 ?

[2018-11-21 05:04] jeswincyriac commented on #10865
@jackrzhang ,Thank you.I hope this will be the first issue i am gonna solve in zulip.
@zulipbot claim

[2018-11-21 08:49] feamsr00 commented on #10873
Hi @timabbott. I'd say it's related, but not the same per se. Well insofar as a public stream, but explicitly (and perhaps oppositely) with the "protected history" option. Also, crucially, with the ability to participate where sign up is not possible (or not appropriate). Moreover, the rationale behind #4817 seems to be for a "knowledge base" feature beyond, simply, "chat".

Would it make sense fo

[2018-11-21 10:16] vrongmeal commented on #10792
@zulipbot claim

[2018-11-21 10:18] Shoumorup commented on #3355
@zulipbot  claim

[2018-11-21 11:02] benapetr commented on #135
Why is this closed it's not resolved? There is still no easy way to delete topics! Why close unresolved problem that so many people have troubles with

[2018-11-21 13:46] benapetr opened #10879 "Document how to clear mail queue"
When I set up Zulip I used wrong outgoing mail address: ops@insw.cz, I fixed this ever since but there is one e-mail stuck in queue that zulip keeps on trying to send out, and I can't stop it. Here is mail.log from my mail server:

[code]

[2018-11-21 14:27] pernat opened #10880 "Error getting certificate"
Hello developers and community! I spent 2 weeks trying to install Zulip on my server and nothing came of it. I apologize in advance for my English - translator use. Here are some details about the server:  Ubuntu Server 16.04 on Xen with real IP. Installation is clean, there are no services on the server, for Zulip the whole virtual machine was allocated. After installation has been configured FQD

[2018-11-21 16:23] hpopsg commented on #10874
Thanks @timabbott, that looks like a similar issue. I'll apply the the changes suggested and see how that goes.

[2018-11-21 18:09] superbiche opened #10881 "SCSS Architecture"
This should be considered an Epic regarding the amount of work and the overall impact expected.

After discussing on how to allow further customisation of the webapp frontend in https://chat.zulip.org/#narrow/stream/6-frontend/topic/themes.20.2F.20custom.20CSS, everyone agrees that before anything we need to refactor the SCSS stylesheets as demonstrated by https://cssstats.com/stats?url=http%3A%2F

[2018-11-21 18:31] superbiche commented on #979
I'm resurrecting this one as it's related and I would say quite a blocker for #10881. We can start working on some parts but this will be needed.

@zulipbot claim

[2018-11-21 18:49] mlimber commented on #9736
+1 for this feature request. If I'm dreaming, I'd also like ranked voting so we can pick the most desirable feature to implement or more importantly the optimal place for lunch.

[2018-11-21 19:31] hellfirehd commented on #10480
Sorry to awaken an old issue but it doesn't appear that it has been resolved.  I am getting the same error as @telenieko trying to install `zulip-server-1.9.0`.  I'm just following the install guide from zulipchat.com

[code]
Results in:
[code]
`apt-key list` produces the following:
[code]
Any thoughts on how I can resolve this?

[2018-11-22 11:51] Alex-CodeLab commented on #10562
not just when `users` is on the left, but always (when the screen is wide enough).
![screenshot from 2018-11-22 12-49-26](https://user-images.githubusercontent.com/1678423/48901274-25496d00-ee55-11e8-8602-f04c5d09ec0d.png)

the issue is incorrect use of `overflow` , which should not apply to `app` , but should be set to `app-main`.  Then the (right) margin and `max-width` of  `app-main` should be

[2018-11-22 15:21] hellfirehd commented on #8
Which file do I modify to set `http_only = true`?

[2018-11-22 19:37] superbiche opened #10883 "SCSS Architecture: Choose a CSS naming convention to stick to"
This is part of the SCSS Architecture rewrite in #10881
## What
The goal is to discuss available CSS naming conventions.

## Why?
Because currently class names have no structure, aren't DRY, editing the CSS is painful with a bunch of side effects and we don't use the power of the C in CSS.

## Expected outcomes
* Allow rewriting the styles in a modular way (Atomic Design-ish)
* Prevent side-effect

[2018-11-22 19:45] superbiche commented on #10883
@zulipbot claim

[2018-11-22 20:58] JayjeetAtGithub commented on #1995
@zulipbot abandon

[2018-11-23 00:48] Shadowfiend opened #10884 "Support Ctrl-N/P for moving in dropdowns on macOS"
This is really in three parts that I can think of, which probably deserve three PRs:
- [ ] Support Ctrl-N/P in the search dropdown.
- [ ] Support Ctrl-N/P in the message dropdown (the one brought up by the `i` shortcut).
- [ ] Support Ctrl-N/P in the gear dropdown.

For the emoji dropdown, the shortcuts are Ctrl-N/P (up/down) and Ctrl-F/B (left/right), but that may need to be its own issue.

Mac d

[2018-11-23 00:48] Shadowfiend commented on #10884
Also, I'd be happy to tackle other platforms if they have standard up/down/left/right shortcuts for context menus/dropdowns… I just don't know what they are <_<

[2018-11-23 00:49] Shadowfiend commented on #10884
@zulipbot claim

[2018-11-23 03:05] ajitesh-30 commented on #10537
I want to know why is this activity not being reviewed  . I hope i served the purpose .

[2018-11-23 05:32] rishig commented on #3534
Closing, since we're keeping track of user docs tasks elsewhere.

[2018-11-23 05:32] #3534 closed

[2018-11-23 05:33] rishig commented on #3535
Closing, since we're keeping track of user docs tasks elsewhere.

[2018-11-23 05:33] #3535 closed

[2018-11-23 05:42] rishig commented on #3355
Closing, since these are no longer good tasks for new contributors.

[2018-11-23 05:42] #3355 closed

[2018-11-23 18:54] Shadowfiend commented on #10884
@zulipbot claim

[2018-11-24 09:42] schrej commented on #10883
From what you've proposed I'd prefer SMACSS, as it's the most simple and straight-forward, and the stuff in [the sass guide](http://thesassway.com/advanced/modular-css-naming-conventions).
I probably won't have time to contribute, but that's just what I'd choose.

[2018-11-24 12:04] superbiche commented on #10883
@schrej you're right, it's the most straightforward thus great candidate for adoption.
I'd like us to keep the `.u-` utility class prefixing from SuitCSS as in my experience I've found it very useful to enhance readability in a medium-large-scale project

[2018-11-24 21:20] WesleyAC opened #10886 "Difficult to avoid messages getting marked as read"
There are several things about Zulip's UI that make it hard to avoid messages getting marked as read (or at least, make it feel this way - I am unsure of the exact semantics of marking messages as read). This is related to, but distinct from #5462 and #2676. Specific problems that I have:

# Main page/All messages UI

When I load the main page, it defaults to the "All messages". At first, I though

[2018-11-25 12:56] Alex-CodeLab commented on #10838
After PR  #10885  , this should fix it :

[code]

[2018-11-25 14:54] aero31aero commented on #10854
@zulipbot claim

[2018-11-25 15:57] ndarilek opened #10888 "accessibility: Entire message history seems to be visible, causing spurious live region activity"
Not sure if this is related to #10793. When I use Zulip with my screen reader, the entire message history for a stream is read on first access. This to me suggests that the stream is visible in the DOM, even if it isn't visible visually. As such, we get hundreds or thousands of live regions.

If an ARIA region is actually hidden (I.e. not present in the DOM via `display: none` or something else) t

[2018-11-25 19:02] rogersouza commented on #10746
Sorry, I don't have free time right now because of my final exams. I'll certainly get back here when its done

Thanks :)
@zulipbot abandon

[2018-11-25 20:04] Amadeo234 commented on #3830
@zulipbot claim

[2018-11-26 03:42] WesleyAC commented on #10886
Another one of these I noticed today:

When I have my private messages selected, the list of people who I have PMs with goes off the screen, and I cannot scroll down (possibly a separate bug?). So to see anything that isn't a private message, I have to click "all messages", which marks my oldest unread message as read (really not what I want). I guess I could also either close zulip and open the m

[2018-11-26 14:05] koko-eyen commented on #10871
@zulipbot claim

[2018-11-26 15:03] koko-eyen commented on #10871
I think someone is working on this already

[2018-11-26 15:03] koko-eyen commented on #10871
@zulipbot unclaim

[2018-11-26 18:58] timabbott commented on #10888
@ndarilek what's going on here is that we load from the server and render as a large scrollable region up to ~400 messages on first page load.  This produces a nice scrolling experience for users interacting with Zulip with a mouse (we actually fetch more from the server, and thus can do rerenders to update the set of messages displayed without going to the server as well).  The overall effect is

[2018-11-26 19:07] ndarilek commented on #10888
No, the live region can't just be the selected message. The current live
region strategy is correct--you set it on the area containing the entire
message stream. When a new message arrives, I want my screen reader to
read that message automatically. If the live region is only the selected
message, then changes to *only* that message would present (I.e. if
someone edited it.) If a new message arriv

[2018-11-26 19:18] timabbott opened #10890 "Enhance styling for long message truncation to be reasonably stylable"
This is an iteration on https://github.com/zulip/zulip/pull/10887, and a somewhat low priority (since it's not a common situation in any case and probably a bit tricky to get right), but it would be good to make it look nicer.

One option is to (1) have it add somewhat more special syntax (e.g. `<message_truncated>`), rather than `[message truncated]` at the end of the message, and (2) have a mark

[2018-11-26 19:20] #10871 closed

[2018-11-26 19:21] jeswincyriac commented on #10865
I have made a pull request for the issue

[2018-11-26 19:23] timabbott opened #10892 "validators: Add support for optional keys in check_dict"
The `check_dict` validator (and its cousins, e.g. `check_dict_only`) should probably support an option for a field to be potentially not present (similar to `check_none_or`, but we can't use that, because `check_dict` itself is the thing that verifies the keys are present).  Perhaps just a third boolean item in the tuple (e.g. `('rendered_value', check_string, False)`), or maybe a cleaner approach

[2018-11-27 01:42] timabbott commented on #10888
No, they're just hidden by their scrolling position being off the top of the screen -- so we don't need to run any JS on-scroll.

[2018-11-27 01:44] timabbott commented on #10888
One approach we could take is adding the "live region" tag dynamically only when we have the bottom of the screen in view, or something like that?

Another question that comes to mind -- how will this "live region" feature interact with messages being removed and replaced in the DOM (e.g. because of a message edit) -- will it reread those too?

[2018-11-27 09:53] armaanahluwalia opened #10893 "Make Organization Settings less overwhelming for a "Normal User""
Currently, for a non-admin "normal" user, we show the entire organization settings panel as is which means the few options that are legitimately available for the user to change such as "User Groups" and "Custom Emoji" are difficult to distinguish from the rest.

Ideally, we would be able to somehow either filter the options displayed in Organization Settings to a normal user or highlight them in

[2018-11-27 10:15] akornor commented on #10783
@zulipbot Still working on it.

[2018-11-27 15:59] shane-kearns opened #10894 "mobile push notifications in inconsistent state following upgrade"
Our site has never supported mobile push notifications, as it is deployed on a private network.
Following upgrade from 1.6 to 1.9.0, the error log is filled with lines like these:
2018-11-27 14:31:35.975 WARN [] APNs: Dropping a notification because nothing configured.  Set PUSH_NOTIFICATION_BOUNCER_URL (or APNS_CERT_FILE).
2018-11-27 14:31:39.621 WARN [] Skipping sending a GCM push notification s

[2018-11-27 17:02] timabbott commented on #10894
@shane-kearns thanks for the report!

Those logging statements definitely should not be at WARN; probably DEBUG would be more appropriate if we keep them at all.

[2018-11-27 17:02] timabbott commented on #10894
I'm just going to go ahead and fix this, since I was intending to fix some other logging issues in that file today anyway :).  I think this slipped through because just about everyone has push notifications enabled these days...

[2018-11-27 18:12] #10894 closed

[2018-11-27 18:15] timabbott opened #10895 "Optimize performance of push notifications code in test suite"
If you add a `return` statement at the top of `handle_push_notifications`, running `test-backend test_notifications` goes from taking 4.3s to 3.6s on my laptop.  I suspect there are other tests where we could save significant time as well, but it's hard to run the full test suite that way, because `handle_push_notifications` does useful stuff.

What I'm thinking is that we can/should add an early-

[2018-11-27 18:43] rishig commented on #10893
A simple change might be to add some kind of icon (lock?) to the right of the labels on the tabs where the user can't edit anything.

[2018-11-27 18:58] timabbott opened #10896 "send_email: Add support for passing in additional `To` addresses"
For the recent "realm reactivation request" feature (https://github.com/zulip/zulip/pull/10816) and likely several similar features we may add in the future where we want to email all organization administrators, we ideally want to off a `send_email` wrapper/variant called maybe `send_email_to_admins` that take a realm and sends the provided email to all the organization administrators of the real

[2018-11-27 19:00] #10783 closed

[2018-11-27 19:04] akornor commented on #10896
@zulipbot claim

[2018-11-27 20:46] andersk commented on #10562
I think this is the same issue as #9911.

[2018-11-27 20:51] timabbott commented on #10893
Yeah, that seems worth trying.

[2018-11-27 21:09] prateekj117 commented on #10867
@jackrzhang  Can I work on this issue?

[2018-11-27 22:51] timabbott commented on #10480
@telenieko what's `uname -a`?  I think it's possible we only have `tsearch_extras` packages for x86_64 for stretch in that repository...

[2018-11-27 22:52] jackrzhang commented on #10867
@prateekj117 Go for it! I'll label this so you can claim it.

@zulipbot add "good first issue"

[2018-11-27 22:52] jackrzhang commented on #10869
@zulipbot add "good first issue"

[2018-11-27 22:53] jackrzhang commented on #10868
@zulipbot add "good first issue"

[2018-11-27 22:54] jackrzhang commented on #10866
@zulipbot add "good first issue"

[2018-11-27 23:09] #10476 closed

[2018-11-27 23:34] jackrzhang opened #10898 "User documentation sidebar should not occupy a column of space at smaller page widths."
Here's a screenshot of what I'm referring to -

<img src="https://user-images.githubusercontent.com/12771126/49118154-282ece00-f258-11e8-8276-84b62e5f4418.png" width="350px" />

When a page (from the user documentation) is resized in response to a smaller width, the righthand side of the sidebar continues to occupy a column of space on the lefthand side of the page.

I think this shouldn't be the

[2018-11-27 23:42] #10865 closed

[2018-11-28 00:04] rishig commented on #7388
Closing this, since it hasn't been as big a problem as we expected.

[2018-11-28 00:04] #7388 closed

[2018-11-28 00:34] timabbott opened #10899 "Add Node unit tests for our copy-paste handler on the message feed"
What I'd like to have is a set of unit tests to prevent regressions in the "highlight-and-paste" behavior.  On Linux, you can access this behavior by highlighting message body content and then middle-clicking (**without** hitting ctrl-C, which will activate the more custom Zulip copy/paste code in `static/js/copy_and_paste.js`).  See d9e8380981a528ca7f31e6f163874c56a1e38750 and the series of commi

[2018-11-28 00:36] timabbott commented on #10899
In an actual browser, you can select text and then in the JS console use `window.getSelection().toString()` to extract the data that this functionality accesses.  I have not investigated whether that's possible to do inside a `node` test, but I suppose in any case we should be able to do inside a Casper test, in which case a reasonable option would be to just do it inside the Casper copy-and-paste

[2018-11-28 00:39] timabbott commented on #3128
There is some useful work on this as well as review comments in https://github.com/zulip/zulip/pull/10474.  You can grab the code via `tools/reset-to-pull-request 10474`.

[2018-11-28 01:20] timabbott opened #10900 "Add argparse option to `restart-zerver` for `--fill-cache`"
Currently, `restart-server` has this slow-but-useful step of filling the memcached caches before switching over to the new version.  This is great in the case of it being called from `upgrade-zulip`, but for most other applications (e.g. triggering a quick restart because the server is down and you're live-editing code, or something), you really just want it to restart the server quickly.

We shou

[2018-11-28 04:43] timabbott opened #10902 "Fix performance issues for organizations with 5000 streams"
I did some performance testing with 5000 streams.  The backend works great.  The frontend has a few issues:
* [x] The `populate_subscriptions` process ends up consuming several seconds in this block of `create_sub_from_server_data`):
[code]
The issue is that `exports.get_colors()` iterates through all previously added streams (including ones the user has never been subscribed to) to determine the

[2018-11-28 06:32] armaanahluwalia commented on #10893
I’m not sure how necessary read access is to organisation settings for a normal user. I think whichever solution we go with, it’s important that each tab that is not editable gets a class added to it, so maintainers that want to hide those tabs can do that pretty easily.

In my head my ideal scenario would be one overall setting, kind of like an opaque mode for the app where all these extra bits a

[2018-11-28 12:32] prateekj117 commented on #10867
@zulipbot claim

[2018-11-28 12:35] prateekj117 commented on #10840
@zulipbot claim

[2018-11-28 12:58] ishanrai05 commented on #10895
@timabbott  Can I take this issue?

[2018-11-28 13:51] 2208Abhinav commented on #10893
I think adding a lock icon on tabs may also mislead users. For example in **User Groups** tab there are fields which we can modify like **Add a new user group** and some fields that we can't modify. When the user will look at the lock of the tab he might end up believing that the he can't modify anything and may miss some settings.

[2018-11-28 13:57] pigulla commented on #9376
I ran into this issue as well today with {{eu-central-1}} :-(

[2018-11-28 14:12] 2208Abhinav commented on #10868
@jackrzhang in testing environment I didn't find **I agree to th Terms of Service**
![screenshot 2018-11-28 at 7 40 52 pm](https://user-images.githubusercontent.com/30211121/49157383-addc7780-f345-11e8-8806-20d7637e6b14.png)

[2018-11-28 14:15] Varunvaruns9 commented on #10893
I would like to work on this issue if no one is working on it already.

@zulipbot claim

[2018-11-28 14:36] 2208Abhinav commented on #10868
@zulipbot claim

[2018-11-28 16:06] timabbott commented on #10895
@ishanrai05 sure, go for it!

[2018-11-28 16:27] timabbott opened #10903 "Add bitbucket Server integration"
Apparently, Bitbucket Server's webhooks are neither the same as Bitbucket Cloud (our "bitbucket2" integration) or Bitbucket Enterprise (our "bitbucket" integration).  It's crazy that Atlassian manages to have 3 different formats for one product, but in any case, we should build an integration to accept requests from it.

Unfortunately, Bitbucket Server's outgoing webhooks are poorly-designed, in t

[2018-11-28 16:41] hellfirehd commented on #10480
While exploring a different issue I discovered that the base Ubuntu install in 18.04 doesn't have a complete `/etc/apt/sources.list`. (This also seems to apply to the base docker image as well).  Once I added the following everything started working:
[code]

[2018-11-28 16:45] timabbott commented on #10480
@hellfirehd yeah, I think that's https://github.com/zulip/zulip/issues/10417.

[2018-11-28 17:11] timabbott commented on #10484
Retagging this as "documentation (api)" -- "documentation (developer)" is for folks working on Zulip core.

[2018-11-28 17:15] timabbott commented on #9376
@kapilt I'd also be interested in details; we should just fix this in the Zulip 1.9.1 point release.

[2018-11-28 17:52] 2208Abhinav commented on #10868
@jackrzhang please check PR #10905

[2018-11-28 19:30] timabbott opened #10907 "Add support for incoming webhooks with a callback to the third-party server"
This is relevant for at least the Bitbucket Server (#10903) and (existing) Stripe integrations.  Some third-party website's webhooks suck and don't provide the data you'd need to display them in a sensible way.  E.g. Stripe only includes IDs, not human-readable names, for customers, plans and other objects in its webhooks.

This issue is a design for how we could handle these integrations well.
*

[2018-11-28 19:39] rishig commented on #10907
One note for the Stripe version of this is that the API key should always be optional. Even with the restricted permissions, it's kind of scary to give your Stripe credentials to a third party service.

[2018-11-28 19:45] timabbott commented on #10886
@WesleyAC thanks for the feedback, it's helpful!  The reason we originally designed Zulip this way was for consistency -- if you click on a stream where all the messages ever sent are unread, for example, we have no message to highlight.  I think it was a mistake, but inconsistent behavior leads to its own problems, and at least the current behavior is consistent and correct.

I have been planning

[2018-11-28 19:54] #10868 closed

[2018-11-28 19:55] rishig commented on #10886
Completely agree with your characterization of the problem!

This is my favorite solution so far.

[2018-11-28 20:04] 2208Abhinav commented on #10869
@zulipbot claim

[2018-11-28 20:16] timabbott commented on #10907
Sure, though we should also recommend they use https://stripe.com/docs/keys#limiting-access-with-restricted-api-keys.

[2018-11-28 21:10] timabbott commented on #8354
This was finished a while ago; here's our config:

[code]

[2018-11-28 21:10] #8354 closed

[2018-11-28 21:28] eeshangarg opened #10909 "webhooks/stripe: Handle invoice and payout events explicitly."
Currently, we support `invoice` events in our Stripe webhooks, but only implicitly (i.e., we let a generic function `default_body()` create a message for most `invoice` events). We don't support `payout` events at all. We should probably consider supporting these events in one form or another.

@timabbott, @rishig: Opening this so we don't forget. I'll add this to my queue for when I get around to

[2018-11-28 21:43] amartin3225 commented on #9957
@timabbott, how can this be done via the API? I do not see an API call for setting/managing user groups

[2018-11-28 21:45] ishanrai05 commented on #10895
@zulipbot claim

[2018-11-28 22:00] timabbott commented on #9957
@H3npi there are API calls similar to https://zulipchat.com/api/get-user-groups for editing them; they just aren't documented yet.

[2018-11-28 22:01] timabbott commented on #9957
(If you want to spelunk how to do it, `zerver/views/user_groups.py` in this project has the code)

[2018-11-28 22:40] romankarski commented on #4109
Hi,
I am new in committing and this Issue looks interesting. Would You mind if i will try help You ? I also need this to pass my python classes :) If you would like to help me a little, will be great.
Could i be Assigned ?

[2018-11-28 22:44] timabbott commented on #10880
@pernat sorry for the slow reply!  This appears to be a an issue with using certbot; I recommend you use Google and/or https://community.letsencrypt.org/ to get help with that.  For testing Zulip, you can just use the `--self-signed-cert` option and then get a cert using Certbot not using our tool (or any other way) at your convenience.

[2018-11-28 22:44] #10880 closed

[2018-11-28 22:59] timabbott commented on #10879
@benapetr can you clarify the exact setup?  It sounds like the issue is that Zulip sent an email to your postfix server, and you're not sure how to clear it from postfix?  Zulip itself doesn't do any sort of email retransmission, so this is likely an issue with your postfix/email setup and not one that we can support (you should look at `postfix` forums for advice on how to do that).

Let me know

[2018-11-28 22:59] #10879 closed

[2018-11-28 23:06] #10787 closed

[2018-11-28 23:51] rogersouza commented on #10771
@zulipbot claim

[2018-11-29 00:09] timabbott commented on #9420
This is low priority (since other folks haven't asked for it) but there's a natural way to do it.  We'd just need to be careful to avoid making things like typeahead confusing.

[2018-11-29 00:11] timabbott commented on #9262
I'm going to close this as wontfix, since we haven't heard any demand for this sort of thing from folks not using Zulip as a Zephyr client (which is a very small and I imagine shrinking population, as Zephyr dies).  If folks not in a Zephyr organization show interest in this, I'm happy to reopen.

[2018-11-29 00:11] #9262 closed

[2018-11-29 00:48] timabbott commented on #10886
There's definitely an issue around somewhere for that, and it's also on our potentially high-value large projects radar.

[2018-11-29 01:04] timabbott opened #10912 "Add support for quickly deleting all messages in a topic"
The UI for this would be an additional item in this menu:

![image](https://user-images.githubusercontent.com/2746074/49192291-49162280-f32f-11e8-9be9-27602016c5c9.png)

(only available to organization administrators), with a simple confirmation dialogue (since we really don't want misclicks breaking things, and it's unlikely you'll need to delete a lot of topics at once).

This would address the

[2018-11-29 01:04] timabbott commented on #135
Maybe this will help clarify: If you delete all the messages in a topic, the topic is automatically deleted.  If you'd like to propose an easier-to-trigger feature to "have a single button to delete all messages in a topic", I think it'd be reasonable to add that.  I've opened that as https://github.com/zulip/zulip/issues/10912.

[2018-11-29 01:14] timabbott commented on #10450
@ogre just a quick comment: Our markdown processor already allows such links in the [foo](http://server/share_folder/image_sequence.#.jpg) format, so you may be able to use that as a workaround until this is resolved.

[2018-11-29 01:19] #10417 closed

[2018-11-29 09:16] tear44 commented on #10866
@jackrzhang Can I take this issue?

[2018-11-29 09:56] pawelngei commented on #10912
As someone who used Zulip for several months, I would really like to have this feature. Greatly helps new admins to understand how to work with Zulip - similar features are already implemented in Slack and other competing applications.

[2018-11-29 17:51] timabbott commented on #10533
I'll link to here: https://zulipchat.com/help/gdpr-compliance, since that is the master document for GDPR compliance advice in our documentation.

To completely delete a single user on your server, you can do it on the `./manage.py shell` with `UserProfile.objects.get(email="username@example.com").delete()`.  Note that the deletion will cascade to e.g. delete all messages they sent to disappear fr

[2018-11-29 17:57] timabbott commented on #10492
@kartik-karz yeah, the "mark all as read" feature was designed for the use case of a O(10K), not 50K+ (the number doesn't actually go above 50K).  It didn't used to be the case that many folks could get into that sort of situation :), but it's now common for anyone coming back to chat.zulip.org after a year, and other communities will have folks getting into this state more and more over time.

Ac

[2018-11-29 18:16] timabbott commented on #10912
@pawelngei I don't understand how Slack could have a similar feature, since they don't have topics -- can you link to their docs on whatever feature you're referring to?

[2018-11-29 18:33] timabbott commented on #9376
@pigulla and you remembered to restart the Zulip server?  That step is important for the changes to take effect.

[2018-11-29 18:41] timabbott opened #10914 "realm filters/linkifiers: Add support for generic GitHub URLs"
It would be cool to add support for generic GitHub-style URLs to our linkifier system (and then suggest it as one of the examples available).  I added a test at the end of `test_create` in `test_realm_filters.py` for the sort of syntax we'd want:
[code]

So the goal here would be to adjust our validation rules to make this a valid configuration.

[2018-11-29 19:29] pigulla commented on #9376
@timabbott Yes, I did.

[2018-11-29 19:53] timabbott opened #10916 "night mode: compose notification text can be hard to read (and `X` at right is nearly invisible)"
![image](https://user-images.githubusercontent.com/2746074/49247924-597cda80-f3cd-11e8-9aa4-ac60c629004c.png)

@synicalsyntax do you want to take this one?

[2018-11-29 20:13] timabbott opened #10917 "Allow users to login with just LDAP username (not email) if LDAP_APPEND_DOMAIN is set."
We currently have an inconsistent set of logic around LDAP login in case B of https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory.  The user is logging in with LDAP, and we sorta allow entering a username (in that `require_email_format_usernames()` returns false), but then the actual thing we check for is only the email address, not the use

[2018-11-29 20:21] showell opened #10918 "Create an icon font for Manage Stream checkmarks."
We repeat the same SVG to draw checkmarks for streams in our "Manage Streams" feature.  This is expensive for template rendering.

I attempted the naive fix in #10915, but browsers don't apply CSS to external SVG elements.

All the checkmarks in Manage Streams have the same shape, and same underlying SVG, but we use CSS to set the "fill" color and do things upon hover, etc.

@synicalsyntax suggest

[2018-11-29 20:35] #5599 closed

[2018-11-29 20:45] pirate opened #10919 "Issue with UTF-8 characters in messages when performing a search"
We're getting a strange unicode error when searching for the word "password" using the zulip search bar at the top.  I assume a message somewhere contains some invalid unicode, but it's breaking all searches that include the term "password" and we need to be able to find those messages, even if they contain invalid unicode.

`"'utf-8' codec can't decode bytes in position 1445-1446: unexpected end

[2018-11-29 20:46] timabbott commented on #10917
Nice catch (I don't get a notification about things I do myself, so I wouldn't have noticed).

[2018-11-29 21:02] ITMaya opened #10921 "Two factor authentication and duo security"
Hi,
I wanted to check if 2fa is available in 1.9.0 and if it's possible to connect 2fa to 3rd party services such as "duo security" (https://duo.com/).
I saw "Docs » Two Factor Authentication" page ( https://zulip.readthedocs.io/en/latest/subsystems/two-factor-auth.html?highlight=two%20factor ) but couldn't find it in 1.9.0.
Thanks

[2018-11-29 22:14] timabbott opened #10923 "Fix references to Travis CI in our developer documentation"
These are follow-ups to our migration to Travis CI:

* [ ] Both http://zulip.readthedocs.io/en/latest/docs/git/zulip-tools.html#set-up-travis-ci-integration and the things it link to still talk about Travis CI and don't mention CircleCI; we should update these to highlight Circle first and mention Travis as secondary (used just for the production test suite).
* [ ] We should update docs/testing/tr

[2018-11-29 22:21] #10854 closed

[2018-11-29 22:23] timabbott commented on #10921
https://zulip.readthedocs.io/en/latest/subsystems/two-factor-auth.html?highlight=two%20factor is unfinished in 1.9.0 (and thus behind a disabled feature flag).  The main blocker for finishing it is mobile app support, since otherwise one wouldn't be able to login on mobile with 2FA enforcement enabled.

Most folks wanting 2FA with Zulip today use an SSO auth provider (e.g. Google auth) and do the

[2018-11-29 22:35] timabbott commented on #10919
@pirate can you check you're running that latest `tsearch_extras` and you don't have USING_PGROONGA set?  I think the bug of this form was fixed by @sampritipanda via a fix in `tsearch_extras` resulting in a new release.  You can get the precise package name like this:
[code]

[2018-11-30 00:36] jackrzhang commented on #10866
@tear44 Sure, go for it! It's currently open to be claimed. (you can comment "@zulipbot claim")

[2018-11-30 00:37] jackrzhang commented on #10866
Ah, that seems to have triggered it despite the quotes. @zulipbot abandon

[2018-11-30 01:03] pirate commented on #10919
Ah I should've mentioned that I'm running it in docker-zulip, so it's whatever package was installed in docker-zulip 1.8.1.  Unfortunately I don't see any [code results for that package](https://github.com/zulip/docker-zulip/search?q=tsearch-extras&type=Code) in `docker-zulip`, maybe I'm looking in the wrong place or it's installed automatically via script somewhere?

[2018-11-30 04:15] timabbott commented on #10919
That package is in the corresponding postgres image (since it's a database module).  So ... try entering the postgres image and doing an `apt upgrade`?

[2018-11-30 04:17] timabbott commented on #10919
(And yeah, I'm confident that issue is fixed in 1.9.0 / the `tsearch_extras` release)

[2018-11-30 04:17] #10919 closed

[2018-11-30 08:06] donosco98 commented on #10539
@zulipbot still working on the tests

[2018-11-30 09:08] telenieko commented on #10480
Hi, sorry; having some crazy weeks at work !
I do not have that system around anymore, but it is an lxc container so should be easy to reproduce by anyone with a Linux system -- see my second comment on this issue :)

[2018-11-30 14:35] GrugLife commented on #10923
I can work on this issue

[2018-11-30 16:15] Dubrzr opened #10929 "How to implement a custom authentication backend?"
The documentation is not really helping on this subject:

I am trying to create an authentication backend that only takes a username (not an email) and a password and authenticates the user on a remote http server using requests.

I've first tried to create a new `CustomAuthBackend(ZulipAuthMixin)` class and add a authenticate function, and also replace all parameters everywhere to use this class

[2018-11-30 17:42] timabbott commented on #10929
@Dubrzr I can't really help with this without understanding more about what you are trying to do.  Our LDAP backend subclasses a third-party library (`django-auth-ldap`), and I don't think anyone should expect further subclassing that in an incompatible way to work.  How is your authentication backend supposed to work?  Generally, you should either:
(1) If your authentication method is compatible

[2018-11-30 18:13] timabbott commented on #10480
Well, my main question was just whether it was an i386 container -- if so, I know what the bug is :)

[2018-11-30 18:31] timabbott commented on #10480
@telenieko OK, I've tested your procedure, and it does reproduce the error you saw.  Will do some debugging.

[2018-11-30 18:32] timabbott commented on #10480
After that error, doing this seems to install the package fine:

[code]

[2018-11-30 18:48] #10480 closed

[2018-11-30 18:48] timabbott commented on #10480
OK, I tracked down the root cause and fixed it in master; it was a somewhat subtle issue involving `gnupg` not being installed and our script to setup that apt repository not exiting after encountering the error (which meant you didn't get a clear error message early in the installer).  Thanks for the helpful report @telenieko!

[2018-11-30 18:49] timabbott commented on #10480
Also sidenote for @synicalsyntax : We have a separate label area for "production installer", and this should have been put into that category :)

[2018-11-30 19:24] timabbott opened #10930 "Decrease memory requirements for Slack data import tool"
I recently was doing a slack import of an organization with a large amount of history, and ran into OOM issues in the `convert_data` stage.  After a bit of examination, it's clear the actual issue is this phase:
[code]

Specifically, in an organization with e.g. 500K messages of history, we're loading all 500K messages of history into memory first in order to sort them by message ID (rather than S

[2018-11-30 19:55] timabbott opened #10931 "Fix manage.py crashing if /etc/zulip/zulip.conf exists in development"
If there's an `/etc/zulip/zulip.conf` file present on a system, `manage.py` will fail.

The problem here is that this check assumes that if a `zulip.conf` file exists, we're in a production environment:

[code]

However, the "correct" way to check that, as defined in `zproject/settings.py`, involves reading `zulip.conf` and checking the `deploy_type` attribute, which still preserving the `manage.p

[2018-11-30 20:16] timabbott opened #10932 "Fix night mode styling of presence indicators in the "group PMs" area"
The bottom things in the "group PMs" are should look the same as the empty circles above them.

![image](https://user-images.githubusercontent.com/2746074/49312657-9e6e4300-f499-11e8-8b76-8f815753da9d.png)

@synicalsyntax CCing you as our resident night mode maintainer.

[2018-11-30 21:10] GrugLife commented on #10923
@hackerkid Will do.  Thank you!

[2018-12-01 03:09] wolfdancer opened #10933 "Wave or Reddit style threads"
I meant to post this earlier based on the conversation here (https://chat.zulip.org/#narrow/stream/137-feedback/subject/threading/near/625493).  Well, it is better later than never, right?

When I first heard about Zulip, I was hoping for something similar to the Google wave that allows the conversation to be more threaded.  I totally get that it can get out of hand sometimes.  But the current way

[2018-12-01 04:42] groth001 opened #10934 "Insecure SHA-1 Hashing"
I recently ran the Bandit static code analyzer on the Zulip Production Server source files for a software assurance class project, and it flagged seven locations where the insecure SHA-1 hash function was used.

* /scripts/lib/hash_regs.py line 48
* /scripts/lib/node_cache.py line 37
* /scripts/lib/zulip_tools.py line 268
* /scripts/lib/zulip_tools..py line 340
* /zerver/lib/cache.py line 102
* /z

[2018-12-01 15:58] skunkmb commented on #10932
@zulipbot claim

[2018-12-01 16:10] Dubrzr commented on #10929
The thing is `GoogleMobileOauth2Backend` uses `google_oauth2_token` inside its `authenticate` function while I need username and password instead.

What I am trying to do is something like this:

[code]

And maybe I could map user info from `r.json()` to zulip users like you did it with LDAP.

Thank you! :)

[2018-12-01 16:32] skunkmb commented on #10931
@zulipbot claim

[2018-12-01 17:45] timabbott opened #10938 "Data import tool performs poorly with large numbers of messages containing links to attachments"
I had the interesting experience today of doing a data import for an organization with O(500K) messages and having it take like 50 times as long as one would have expected based on the message count.   It turned out the issue is that this organization had O(500K) uploaded files, and most messages refer to an uploaded file.  There are two phases that are slow:
(1) Importing the attachments themselv

[2018-12-01 20:34] Jeremy-Xue commented on #10794
@zulipbot claim

[2018-12-01 20:43] superbiche commented on #979
@zulipbot abandon

[2018-12-01 20:43] superbiche commented on #979
I'm going to focus on the actual frontend code, so if anyone wants to lead this one, I'll still be happy to help :)

[2018-12-02 00:35] GrugLife commented on #10900
claim

[2018-12-02 06:02] nil3sh99 commented on #10838
@zulipbot claim

[2018-12-02 07:32] tear44 commented on #10866
@zulipbot claim

[2018-12-02 14:35] hackerkid commented on #10900
@GrugLife The syntax is `@zulipbot claim`

[2018-12-02 20:12] Jeremy-Xue commented on #10794
@zulipbot claim

[2018-12-03 00:12] GrugLife commented on #10900
@zulipbot claim

[2018-12-03 02:33] timabbott opened #10942 "Improve test-documentation to be less flaky in CI"
Right now, tools/test-documentation checks for two types of issues with links in our documentation:
* Internal links, e.g. to ReadTheDocs or parts of the zulipchat.com site.  These we want to check are good in CI.
* External link errors, e.g. that third-parts sites are 500ing.  These we don't want to enforce being good in CI, because they often fail due to the third-party sites having operational

[2018-12-03 02:39] timabbott commented on #5142
It looks like they now have a somewhat more official webhooks.
 https://developer.atlassian.com/cloud/confluence/modules/webhook/ seems to now support Confluence directly.

[2018-12-03 03:14] #10931 closed

[2018-12-03 03:19] timabbott commented on #10934
None of these applications are security-relevant.  In some cases, e.g. `bounce_key_prefix_for_testing`, it would break things to switch to a 256-bit hash (because the whole point is to produce a random prefix of something with total length less than 256 bits).  Others we could migrate, but would carry some cost to users (in the form of caches of downloaded dependencies being ignored) and no benefi

[2018-12-03 03:19] #10934 closed

[2018-12-03 03:33] #10932 closed

[2018-12-03 03:57] mregdos commented on #10654
@zulipbot claim

[2018-12-03 07:54] mregdos commented on #10654
@zulipbot abandon

[2018-12-03 09:36] pigulla commented on #9376
@timabbott Is there anything else I can do to help resolve this issue? This is the last thing that keeps us from rolling Zulip out to production :(

[2018-12-03 14:39] transferkraM commented on #9376
Hacking boto2 code (bundled in Zulip) reveals, using sigv4 requires a `host` parameter should be set. Digging...

[2018-12-03 14:52] SpruceBruce64 commented on #1991
I've been getting familiar with the relevant code and should hopefully have a pull request ready by the end of the week.

[2018-12-03 15:44] wolfdancer commented on #10933
Thanks for responding!

You are looking for feedback from the general community right? Just want to make sure you are not waiting for other content from me.

[2018-12-03 17:23] timabbott commented on #10933
Yep, that's correct, your issue writeup is really nice and clear :)

[2018-12-03 17:31] timabbott commented on #10929
Yes, obviously you need to replace the auth check with whatever is appropriate for your project, but the structure of `GoogleMobileOauth2Backend` is what you want.  I think if you just took that code and had it call `common_get_active_user` (passing the appropriate fields from your JSON object), it'd probably work.

[2018-12-03 21:06] Hyaxia commented on #5142
claim

Will start working on it as soon as possible.

[2018-12-03 21:07] Hyaxia commented on #5142
@zulipbot claim

[2018-12-03 21:18] catxeger opened #10945 "After upgrade to 1.9.1 desktop client width needed to show right-sidebar is excessive"
After upgrading to 1.9.1, the desktop client takes up 80%+ of available space on the screen before the right-sidebar stays permanently in place.

70% of screen real estate (previous version) for the same effect was vastly excessive.

This moves zulip from being an unobtrusive, constantly monitored part of my daily workflow, to a regular nuisance/constant interruption, that needs to be brought to t

[2018-12-03 21:25] timapril opened #10946 "Add option to skip cleaning up old deployments to /etc/zulip/zulip.conf"
Right now the upgrade script will clean up old deployments as  part of the upgrade process. It would be helpful to be able to skip this process to speed up the install process when using an orchestration framework on multiple servers which blocks until all servers are complete.

[2018-12-03 21:33] timabbott commented on #10945
@catxeger can you post a screenshot of exactly the change you have in mind is here?  I believe in 1.9 we did change the thresshold for whether the right/users sidebar should show by about 100px due to user complaints about the most narrow point of about 1024px for the zulip window being hard to read. But that doesn't explain your having size issues on a 2880px screen.  Are you using zoom or someth

[2018-12-03 21:41] timabbott commented on #10946
This should be a command-line option to the `upgrade-zulip` scripts, though like `--skip-migrations`, we should support setting it in `/etc/zulip/zulip.conf`.  I think we can call it `--skip-purge-old-deployments`, and it should just control whether we call that script (maybe with a print statement if it's disabled).

@aero31aero @shubham-padia this is probably a good project for one of you.

[2018-12-03 21:46] catxeger commented on #10945
I've attached a 'before' and 'after' size comparison of client width - top is before, bottom is after.  Hopefully this makes things clearer (I've elided specific bits, but the outlines should still be clear).

![20181203_zulip-client_compare](https://user-images.githubusercontent.com/29603576/49403333-7f321880-f71a-11e8-940c-405e920d0ea7.png)

If there's a zoom in play, it's not responsive to cmd-

[2018-12-03 21:50] timabbott commented on #10945
Oh, is your display configured with half the native resolution of the screen?  Those look like a normal shape for a ~1024px and ~1167px wide zulip window, respectively, both of which are about half the numbers you provided above...

[2018-12-03 21:51] timabbott commented on #10945
And re: sidenote, based on those screenshots, I think you've already enabled the option I mentioned and thus it's hidden.

[2018-12-03 21:55] catxeger commented on #10945
AFAICT my display isn't configured in any unusual way:
<img width="672" alt="screen shot 2018-12-03 at 16 53 34" src="https://user-images.githubusercontent.com/29603576/49403983-295e7000-f71c-11e8-9411-f965ba27e8a3.png">

[2018-12-03 22:02] catxeger commented on #10945
(full desktop)
![screen shot 2018-12-03 at 16 58-c](https://user-images.githubusercontent.com/29603576/49404300-17310180-f71d-11e8-9c0c-5ce03e3869d6.jpg)

[2018-12-03 22:35] timabbott opened #10947 "Fix fact that invalid markdown include statements don't trigger a test failure."
When running tests manually, I noticed c740d1b093993997e8c4aefd5ebee8806630c5e2, which made that documentation page totally broken.

The root cause was apparently that `markdown_include`, https://pypi.org/project/markdown-include/, handles exceptions where it fails to find a file with the following:

https://github.com/cmacmackin/markdown-include/blob/master/markdown_include/include.py#L83

What i

[2018-12-03 23:15] #10896 closed

[2018-12-04 00:30] timabbott commented on #10680
Hmm.  The reason I suggested that is that we've had issues in the past where the supervisord process got stuck inside an `http_proxy` environment variable that didn't have access to the Internet, which is why I thought that would work.

In any case, I think it'd be reasonable to add a setting supporting this.

[2018-12-04 01:03] timabbott commented on #10026
I just updated this with the two fixes in #10240 as I understand them.  I'd love to pick up this project again when you have time again @shubham-padia!

[2018-12-04 01:07] #10554 closed

[2018-12-04 02:44] rishig commented on #10026
yeah, I think that's reasonable. Maybe:
* If there is nothing in the search bar, show suggestions
* If there is something, then show on tab

We can add a "Tab for suggestions" in grey placeholder text to the right of the rightmost pill to make this easy to see.

Also, noting that doing tab and then shift+tab currently has buggy behavior (it auto-selects the first suggestion).

[2018-12-04 09:49] pigulla commented on #9376
@engwerda I stumbled across this post myself a while ago, but just like @transferkraM wrote over there, it doesn't help.

[2018-12-04 10:29] gioragutt opened #10952 "Suggestion: Make time-to-edit configurable"
We really like the `edit` feature, but it'd be great if you could extend the duration during which messages can be edited, and optionally make that time indefinite.

[2018-12-04 11:03] sumanthvrao commented on #10942
@zulipbot claim

[2018-12-04 11:09] donosco98 commented on #10539
@zulipbot claim

[2018-12-04 11:34] benapetr commented on #10879
No this has nothing to do with postfix, it's zulip daemon which is constantly connecting to our postfix server and tries to deliver mail as user which doesn't belongs to it:

this is tcpdump on zulip server:

[code]

on mail server I can see:

[code]

Basically every second zulip daemon is trying to send an e-mail as user that it doesn't belong to it. It started using this user when I installed zu

[2018-12-04 11:35] sumanthvrao commented on #10942
Hi, a quick clarification on how to go about.
Do you want to add an option like `--skip-external-links` to tools/test-documentation ?
I'm thinking of doing a check whether the url starts with appropriate name like "http://zulip.readthedocs.io" or  "http://zulipchat.com" in  /tools/documentation_crawler/documentation_crawler/spiders/common/spiders.py and handle it there itself. Is this okay? Please

[2018-12-04 11:38] benapetr commented on #10879
When I stop zulip using "supervisorctl stop all" it stops, when I start zulip up it resumes this e-mail bombing so this is obviously zulip related, not postfix

[2018-12-04 14:12] transferkraM commented on #9376
`zproject/settings.py`: `os.environ['BOTO_CONFIG'] = '/etc/zulip/boto.cfg'`

Putting boto configuration to `/etc/zulip/boto.cfg` does the trick for me, e.g. eu-central-1 configuration:

[code]

[2018-12-04 14:54] loop-evgeny opened #10953 "Unable to use spaces in linkifier regex"
When I try to create a linkifier with a regex that contains a space I receive an error:

`Failed: Invalid filter pattern, you must use the following format OPTIONAL_PREFIX(?P<id>.+)`

This happens even if I escape the space with a \ or use \s. E.g.

[code]

all give that error. If there is a good reason why spaces are not allowed then, at minimum, the error message is incorrect, because the regex

[2018-12-04 17:52] #10893 closed

[2018-12-04 18:11] timabbott opened #10954 "Fix alignment of left-side icons in "Organization settings" tab"
The icons should be vertically aligned with each other here:

![image](https://user-images.githubusercontent.com/2746074/49462140-3033c400-f7aa-11e8-84d5-57cfc722c125.png)

We've resolved similar issues in the past with various popovers (e.g. the gear menu), so you can probably borrow the approach taken for those here.

While we're thinking about this (and this should be a separate commit), we pro

[2018-12-04 20:23] #10869 closed

[2018-12-04 20:47] #10771 closed

[2018-12-04 22:10] timabbott commented on #10952
Luckily for you, we already built this feature, available in "organization settings":

![image](https://user-images.githubusercontent.com/2746074/49476249-4d7a8980-f7ce-11e8-8b7f-fc29624faf80.png)

[2018-12-04 22:10] #10952 closed

[2018-12-04 22:18] timabbott commented on #10879
(Zulip doesn't have a "mail queue", but I suppose if it were to be in a bad state where it's constantly throwing exceptions and thus sending emails, though those should be rate-limited to one per 5 minutes for a given exception stack)

[2018-12-04 23:19] gioragutt commented on #10952
Hey, I'll check it out tomorrow, currently I can't access the server.
Was it something that was added in `1.9.0` perhaps?

[2018-12-05 01:48] #10568 closed

[2018-12-05 01:49] timabbott commented on #1991
@SpruceBruce64 awesome!

[2018-12-05 02:23] rht opened #10956 "Optimize non-async code with mypyc"
It is time to reuse all these annotations! Ref: https://github.com/mypyc/mypyc. I think for a starter, the importer scripts (Slack, HipChat, Gitter, ...) could be checked if they could be sped up.

[2018-12-05 03:13] architkshk commented on #10866
@zulipbot claim

[2018-12-05 03:34] rht commented on #10930
@zulipbot claim

[2018-12-05 03:57] rht commented on #10933
I have had this feature in mind for a while as well. What about an alternative which overrides `Quote and reply` to automatically launches a new topic (/thread) instead of having increasingly nested quotes (I have seen lots of these)? This doesn't require much UI change.

[2018-12-05 11:04] engwerda commented on #9376
Just had a look at my zproject/settings.py

[code]

Makes me wonder why  adding /etc/boto.cfg worked for me.

[2018-12-05 13:23] transferkraM opened #10961 "manage.py export should be callable from $PATH"
manage.py traces on e.g. export command when running manage.py from $PATH. In Debian .bashrc for zulip user the directory `~zulip/bin` gets added to PATH if it exists:

[code]

[code]

[code]

[2018-12-05 16:41] akashnimare commented on #10954
@timabbott  does this look good?

![image](https://user-images.githubusercontent.com/2263909/49528785-aafbfc80-f8da-11e8-9a8f-6ea0f316cc58.png)

[2018-12-05 18:12] timabbott commented on #10954
It looks a lot better!  The `User groups` and 'Default streams' ones are oversized and thus still looks a bit misaligned (sticks out to the right); I think we want that column centered to account for different icon widths.

[2018-12-05 19:19] FoggyFinder commented on #10007
Yep

What can I do? I know near nothing about Python :-)

[2018-12-05 19:21] timabbott commented on #10879
So this seems to be your outstanding configuration issue:

`smtplib.SMTPRecipientsRefused: {'petr@bena.rocks': (553, b'5.7.1 <noreply-s1gdqdyvj937h3bj4uhuxrm0@zulip.insw.cz>: Sender address rejected: not owned by user zulip@insw.cz')}`

You appear to not have configured outgoing email properly for Zulip.  Either you need to allow the range of `noreply` email addresses to send outgoing email, or yo

[2018-12-05 20:24] #10930 closed

[2018-12-05 20:30] timabbott commented on #9376
@pigulla regarding this:

Hmm, I think it should be fine if you use the bucket policy we suggest in the docs; did you do so?

[2018-12-05 20:34] amahoneyLIT opened #10966 "Bullet list indent requires two spaces, but appears indented with one space in Drafts"
I was previewing a message in drafts with a bullet list.

[code]
In Drafts this shows `level 2` being indented. But when you send to chat, there is no indent and looks like this:
- level 1
- level 2

I had to more carefully look at the example provided (clicking the "A" icon in chat)
[code]
to see that it uses two spaces. This results in both Drafts and the main chat showing the expected formattin

[2018-12-05 20:41] #10942 closed

[2018-12-05 20:45] #10866 closed

[2018-12-05 20:51] timabbott commented on #10966
I think the bug here is probably that `marked`, the frontend-only javascript processor, needs to be configured to require 2 spaces to match the backend implementation. See https://zulip.readthedocs.io/en/latest/subsystems/markdown.html.

But I also like the idea of changing the example to be more clear.

[2018-12-05 20:57] timabbott commented on #10966
I suppose the other reasonable approach would be to use a fixed-width font for that section of the docs, which would make the spacing obvious.

[2018-12-05 21:02] amahoneyLIT commented on #10966
I agree fixed width would be helpful. Though the Draft issue is also worthy of fixing, as it may be embarrassing to think your carefully crafted message looks a certain way, then after hitting send see it is not what you expect.

[2018-12-05 23:06] timabbott commented on #10956
I don't think the perf-type issues with those tools are likely to be helped by this, but it could be interesting to play with mypyc just to validate that.

[2018-12-06 01:19] timabbott commented on #10818
@YJDave just wanted to ping you on this one, since it's important.

[2018-12-06 01:43] timabbott opened #10969 "Show users role in the "my account""
This section of the site should show clearly whether the current user is a Guest, Member, or Administrator.

![image](https://user-images.githubusercontent.com/2746074/49555582-3bbfe180-f8b5-11e8-960e-15678a90209c.png)

I think this could reasonably go after "Password", and of course it's not an editable field, so we just need to display it nicely.

[2018-12-06 01:46] timabbott commented on #10754
@synicalsyntax just wanted to check in on whether you have time to make a PR with the SCSS involved.

[2018-12-06 01:57] timabbott opened #10970 "Add support for denying guest users access to all other users in the organization"
Zulip's current "guest users" feature is designed to handle well the case of contractors, where you want someone to be part of your organization and able to send PMs to anyone, but limited to only a few streams.

For some use cases (e.g. customer support), folks often want to have a more limited guest user feature, where the guests are unable to send PMs to or otherwise interact with users not sub

[2018-12-06 05:57] engwerda commented on #9376
No, I do not have a `/etc/zulip/boto.cfg`

[2018-12-06 06:30] vrongmeal commented on #10792
@zulipbot claim

[2018-12-06 08:19] oktayaa commented on #408
I was going to post a new issue but this seems similar. The problem I'm having is because of the way private group conversations are displayed on the left bar, I end up clicking an existing multiuser private message instead of sending only to one person.

The way it goes is I skim the names until I see the person I want and click and write. However because single and group messages are mixed (and

[2018-12-06 08:50] pigulla commented on #9376
@timabbott Yes I did, and the bucket is shown as public. I've done some digging and found a blogpost or StackOverflow answer (didn't bookmark it, sorry :-/) stating that - if I remember correctly - the bucket policy only applies to objects created by the owner of the bucket.

So if I create the bucket with my IAM user, objects uploaded by Zulip (which uses a different IAM user) will not be publicl

[2018-12-06 08:51] transferkraM commented on #10961
@timabbott : Up to now all commands I used worked from $PATH except `export` command; confirmed.

[2018-12-06 09:12] akshayg08 commented on #10867
I am trying to access this page on my local setup but the page is showing no output.
can you tell me how can i view this page on my local setup.
i am using vagrant .

[2018-12-06 09:13] Amadeo234 commented on #3830
I'm still working on it.

[2018-12-06 12:33] benapetr commented on #10879
The configuration was wrong and was fixed weeks ago, you are right about the part that it WAS wrong, but this was fixed for quite some time. No more new e-mails are being delivered from that noreply@zulip.insw.cz address, new e-mails are now delivered from zulip@insw.cz and that works just fine, but it still try to send (probably resend) some of the mails that were generated in past from the inval

[2018-12-06 17:16] timabbott opened #10976 "ldap: Add support for syncing custom profile fields from LDAP"
This shouldn't be too hard to develop and test; basically, we'd want to:

* For, review https://zulip.readthedocs.io/en/latest/subsystems/auth.html#testing-ldap-in-development for how to do LDAP testing in development.
* Update our `generate_dev_ldap_dir` function's mock LDAP directories to include values for some custom profile data fields (e.g. birthday would be a good choice).
* Add support for

[2018-12-06 17:56] ricardoteixeiraduarte opened #10978 "PM tooltip should show the participants when collapsed"
Under "Private Messages", when the participants text is too long it is truncated and appended an ellipsis.
When this happens, the tooltip should show the full text, and not "Private Messages (P)" like it currently shows.

[2018-12-06 17:57] timabbott opened #10979 "Add a zoom.us video conferencing option"
We've been getting an increasing number of requests for more video conferencing integrations in Zulip (in part because not everyone uses Google, and Jitsi isn't great).  zoom.us seems to be the leading option in this space, and in any case, building out the integration strategy for it should provide a clear template for how to do other integrations which require a similar API setup.

Unlike our ex

[2018-12-06 18:33] rishig commented on #10979
Just to clarify, "user" here will still be an admin, so that there is one API key per realm. We'll also want to make sure the actual API key is not exposed in the UI, once it has been entered and sent to our server.

Zoom allows you to do fancy stuff with your personal API key, but I think we want to skip that for the V1 at least.

[2018-12-06 18:53] Z0Marlin commented on #10654
@zulipbot claim

[2018-12-06 19:07] #10961 closed

[2018-12-06 19:08] timabbott commented on #9376
Hmm.  Well, maybe they've changed something, but the configuration you describe is exactly how zulipchat.com is setup (with the buckets created by a different account than the Zulip IAM user), so I'd be surprised if this doesn't work.

[2018-12-06 19:32] timabbott commented on #10879
That last this is how to run management commands.  Try doing `ScheduledEmail.objects.delete()` and see if that resolves the issue.

[2018-12-06 21:20] timabbott opened #10980 "guest users: Fix buggy rendering of "subscriber count""
Reproduction recipe:
* Login as "polonius" (the guest user)
* Go to "manage streams"
* Unsubscribe from a stream
* View it in "All streams" tab
* Notice that the subscriber count is weirdly replaced by a lock icon without a clear explanation:

![image](https://user-images.githubusercontent.com/2746074/49612362-5ea3d180-f959-11e8-9417-7a79dbe99902.png)

Possibly, the root issue is that we shouldn't

[2018-12-06 22:54] mateuszmandera commented on #10970
Could this be done as a special case in a more general "user groups" framework, thus a part of https://github.com/zulip/zulip/issues/10688 ?

[2018-12-07 04:01] rht opened #10983 "topic edit: The save and cancel icons are inconsistent with the rest of editable forms."
Currently, it looks like this
![2018-12-07-035653_389x114_scrot](https://user-images.githubusercontent.com/395821/49627008-5dfc5100-f9d4-11e8-8143-f16df0bd503f.png)
which uses font-awesome's fa-check and fa-remove, but with an inverted background unlike the rest of the icons (e.g. fa-home for "All messages").

I think the correct version should look like this (stream name edit)
![2018-12-07-035602

[2018-12-07 04:02] rht commented on #10983
Also, they have a different placement on which button is on the left/right.

[2018-12-07 09:30] akashnimare commented on #10983
I think they have the correct placement and the other one should be changed to first ✓ and then ×.

Also, we should use the font-awesome in stream name edit instead of  utf-8 string since we're using font-awesome in other places.

![image](https://user-images.githubusercontent.com/2263909/49639366-d09b1a00-fa30-11e8-96be-3e67896edba9.png)

[2018-12-07 12:43] vrongmeal commented on #10980
@zulipbot claim

[2018-12-07 12:53] akashnimare commented on #10969
@timabbott does this look good -

![image](https://user-images.githubusercontent.com/2263909/49648766-136aeb00-fa4d-11e8-9688-939dfcc91e15.png)

![image](https://user-images.githubusercontent.com/2263909/49648779-21207080-fa4d-11e8-9f25-6d688aa48ff7.png)

[2018-12-07 12:55] benapetr commented on #10879
Doesn't work

[code]

[2018-12-07 13:45] akshayg08 commented on #10867
In the register.html file the line "<input id="id_full_name" class="required" type="text" name="full_name"
                          value="{% if full_name %}{{ full_name }}{% elif form.full_name.value() %}{{ form.full_name.value() }}{% endif %}"
                          maxlength={{ MAX_NAME_LENGTH }} placeholder="{% trans %}Full name or 名前{% endtrans %}" required />"
If we remove "id = "id_full

[2018-12-07 14:46] rht commented on #10879
According to https://stackoverflow.com/a/21037303, the `QuerySet`'s delete method is not exposed to the `Manager` class.

[2018-12-07 15:21] skunkmb commented on #10979
@zulipbot claim

[2018-12-07 15:58] ITMaya commented on #10921
Thanks for reply, just wondering if it's possible to use radius server for the sso and if there's any guide or sample on the documentation for it
Thanks

[2018-12-07 16:17] timabbott commented on #10879
Sorry, you want `ScheduledEmail.objects.all().delete()`

[2018-12-07 16:19] timabbott commented on #10983
Yeah, I agree, check first and then X is better.

I think using the styling we have in "stream name edit" for the topic-edit thing would not be properly visible; we should play with the styling but I think the buttons do need a background in topic edit.

[2018-12-07 16:20] #10898 closed

[2018-12-07 18:00] rht commented on #10983
The current background in topic edit's `#topic_edit_save` and `#topic_edit_cancel` looks jarring, especially when compared to 1. before the edit, the pencil edit button does not have a background change, 2. the rest of the font awesome icons on the screen do not have a background change, including all the rest of the 'X' buttons.

[2018-12-07 18:40] rht commented on #10938
Between "Importing message dump" and "Successfully rendered markdown for message batch" there are 3 `re_map_foreign_keys`, `fix_datetime_fields`, `fix_upload_links`, `fix_message_rendered_content` that might cause the 5x slowdown instead of the rendering itself. I will test profile with kernprof later.

[2018-12-07 18:40] rht opened #10989 "bugdown: Optimize perf by replacing the base python-markdown."
While this might cause breaking semantic changes at the corners, the benefit is a huge speed boost.
There are 2 options:
1. [mistune](https://github.com/lepture/mistune), pure python, is ~4-5x faster according to a 2014 benchmark [1]
2. [python-hoedown](https://github.com/hhatto/python-hoedown), a binding to an extensible C library, is ~80x faster according to the same benchmark, which most likely

[2018-12-07 19:30] timabbott commented on #10938
Those operations should all be fast (and they are for messages without lots of attachments).  We should just add logging statements to confirm where the time is.

[2018-12-07 20:01] timabbott commented on #10921
I think Radius may structurally not support doing SSO at the HTTP layer, unless I'm thinking of the wrong Radius?  https://stackoverflow.com/questions/24836795/single-sign-on-using-freeradius-and-apache

https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#apache-based-sso-with-remote-user and other options on that page may be helpful for thinking about SSO options; there'

[2018-12-07 20:03] timabbott commented on #10867
@akshayg08 that's useful debugging, but probably the wrong solution.  See this:

[code]

So, let's investigate why we have JS clearing that field.

@hackerkid I think you may have added the code in question in `update_full_name_section` ?

[2018-12-07 20:08] #10969 closed

[2018-12-07 22:10] timabbott opened #10990 "provision perf: Make generate_zulip_bots_static_files callable as a function"
This is part of optimizing the no-op time (i.e. runtime if you run it with nothing changed) for `tools/provision`, which on my machine is currently about 2.8s.  Of that, 300ms is running `generate_zulip_bots_static_files`:

[code]

If you make it `sys.exit(0)` just after the import statements, it takes just as long:

[code]

So all the work is the import phase.  This likely means we could save mos

[2018-12-07 22:18] timabbott opened #10991 "provision perf: Avoid spending time in no-op provision on `./tools/update-authors-json`"
This is part of optimizing the no-op time (i.e. runtime if you run it with nothing changed) for tools/provision, which on my machine is currently about 2.8s. Of that, ~300ms is running `./tools/update-authors-json --use-fixture`, which doesn't need to do any work almost all the time.

I suspect that this is similar to #10990, and the main issue is that we're shelling out, and we should just rename

[2018-12-07 23:02] timabbott commented on #10983
Maybe we can encapsulate them another way; the worry is that them floating will be confusing in that context with other stuff just after it on the line...

[2018-12-07 23:48] timabbott commented on #3374
This was implemented a long time ago :).

[2018-12-07 23:48] #3374 closed

[2018-12-07 23:53] timabbott commented on #1351
This was resolved by work on `documenting-api-endpoints.md`.

[2018-12-07 23:53] #1351 closed

[2018-12-07 23:54] timabbott commented on #5639
@Rishabh570 just wanted to check in since there's been increasing interest in this -- is your partial work available somewhere?

[2018-12-08 00:45] timabbott commented on #6546
This was completed in #9511.

[2018-12-08 00:45] #6546 closed

[2018-12-08 00:47] timabbott commented on #7824
@skunkmb was this resolved by your recent mobile compose changes?

[2018-12-08 00:50] timabbott commented on #7240
I took care of this recently.

[2018-12-08 00:50] #7240 closed

[2018-12-08 00:52] timabbott commented on #7355
@eeshangarg should confirm, but I'm pretty sure we fixed this several months ago.

[2018-12-08 00:52] #7355 closed

[2018-12-08 00:53] timabbott commented on #3881
I think this was mostly completed with the efforts around file uploads and typeahead; reading `message_edit.js`, there's not a ton of duplicated code.  And I think a lot of the styling has structural reasons to be the way it is; I expect further work on this will be driven by doing-it-as-we-go on individual features, rather than because of this old refactoring issue.  So closing.

[2018-12-08 00:53] #3881 closed

[2018-12-08 03:55] timabbott opened #10992 "Get XAR working to massively optimize Zulip process startup times"
Even with the optimizations we've done in #9953, a basic Zulip process with all Python dependencies takes 1.5s to startup, and most of that is unavoidable given the set of dependencies we have (principally, Django itself).

The main idea we haven't tried that could potentially make a huge difference is integrating Facebook's Xar tool (https://code.fb.com/data-infrastructure/xars-a-more-efficient-o

[2018-12-08 07:43] sumanthvrao commented on #10990
@timabbott Hello.
I am directly calling the function instead of doing a sub-process call as you said  and importing modules like
```from tools.lib.provision import os``` instead of ```import os ```.
This seems to be saving around 250-300ms on an average. But i am not sure whether this is the right approach.
(Haven't claimed it yet because of the uncertainty)

[2018-12-08 10:17] sumanthvrao commented on #10990
@zulipbot claim

[2018-12-08 10:49] konraddeka commented on #10991
@zulipbot claim

[2018-12-08 13:17] rht commented on #10990
I suppose it should also be the case that the script can be called standalone, as in with
[code]

This way, a lot of the scripts that are required to be run standalone, but sometimes are called from inside another script can coexist (e.g. `build_emoji`).

[2018-12-08 13:32] sumanthvrao commented on #10990
Thanks @rht ! will look into it

[2018-12-08 15:23] timabbott opened #10996 "Upgrade mypy to latest release 0.650"
Announcement: http://mypy-lang.blogspot.com/2018/12/mypy-0650-released.html?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+TheMypyLanguageBlog+%28The+Mypy+Language+Blog%29

https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html and https://zulip.readthedocs.io/en/latest/contributing/mypy.html are relevant for doing this.

@neiljp FYI in case you want do this one :)

This

[2018-12-08 16:59] Hyaxia commented on #5142
@zulipbot abandon

[2018-12-08 17:50] rht commented on #10992
On startup time: the Django import is fast, the Django setup itself is the most time consuming part, which takes ~33% of the main() in tools/lib/provision.py
[code]

[2018-12-08 23:06] eeshangarg commented on #7355
Yes, this has been fixed! Thanks! :)

On Fri, Dec 7, 2018 at 9:22 PM Tim Abbott <notifications@github.com> wrote:

[2018-12-09 07:34] synicalsyntax commented on #10754
@timabbott Will have more time next week, so if there's someone you have in mind you should let them know!

[2018-12-09 14:49] mregdos commented on #9020
@rishig
Currently `c` is a shortcut for "New stream message". Therefore I assume that mentioned conclusion is no longer up-to-date and no changes should be made.

I guess that this issue should be closed, but I am unable to do it myself.

[2018-12-10 05:22] timabbott opened #11003 "Add support for user-uploaded notification sounds"
Following #8061, we now have support and all the plumbing for users to pick a different notification sound.  Right now, we just have two choices; it'd be nice to have more.  But even if we have several, it'd also be nice to support user-uploaded notification sounds, and I don't think would be a ton of work to do once we've done a bit of refactoring of the #8061 structure (see my comment about send

[2018-12-10 05:46] #10990 closed

[2018-12-10 05:52] #3830 closed

[2018-12-10 05:52] timabbott commented on #9020
This is for `shift+c`, not just `c`.

[2018-12-10 06:23] #10996 closed, assigned to nobody

[2018-12-10 06:34] #10654 closed

[2018-12-10 06:40] hackerkid commented on #10923
@zulipbot claim

[2018-12-10 11:43] matkaczmarek commented on #10980
Is this issue open or claimed?

[2018-12-10 12:30] benapetr commented on #10879
yay

so that's the mysterious queue I was looking for

[2018-12-10 12:30] benapetr commented on #10879
it's fixed

[2018-12-10 14:59] BartekJachowicz commented on #10432
@rishig is this issue still actual, if yes I would like to work on that

[2018-12-10 15:41] timapril opened #11005 "Email in the Mobile Login flow is not appending the domain when using ZulipRemoteUserBackend authentication."
When building the params hash in login_or_register_remote_user for mobile_flow_otp, the domain is not appened to the username when ZulipRemoteUserBackend auth is used.

As a working I had to set append "@domain.tld" to the username on zerver/views/auth.py:161 in order to get the correct username to be sent to the client for the api auth to work correctly.

[2018-12-10 15:44] timapril opened #11006 "Realm URL for Mobile Flow would be nice to have configurable"
Right now, when using the Mobile Login flow (zerver/views/auth.py:162) the realm url is fixed. In our setup, we have to use a separate url in order to handle our authentication requirements for the web based site. Having an option in /etc/zulip/settings.py to override the realm passed back during the auth process would be helpful.

[2018-12-10 16:12] mregdos commented on #9020
@timabbott
Thank you for clarification.

@zulipbot claim

[2018-12-10 18:20] timabbott commented on #11006
Possibly the right way for you folks to handle this might be just to have a 1-commit fork changing this that you use `upgrade-zulip-from-git` with.

It wouldn't make sense as a normal server-level setting in `settings.py`, since it's a per-realm feature; though I suppose we could have a map `MOBILE_FLOW_OTP_URI_MAP` and we'd do basically `MOBILE_FLOW_OTP_URI_MAP.get(realm_uri, realm.uri)` or somet

[2018-12-10 18:38] #11005 closed

[2018-12-10 19:03] timabbott commented on #10879
Interesting; @benapetr thanks for the follow-up.  First, it appears the `ScheduledEmail`, unlike the `EmailSendingWorker` code path, doesn't seem to have a "give up after N failures" feature.  It probably should.

But @rishig I think the root problem here was basically that `ScheduledEmail` objects end up setting the `FromAddress` value on creation, not at the time they're sent, which means that i

[2018-12-10 19:10] rishig commented on #10879
yeah, that makes sense.

[2018-12-10 19:14] timabbott opened #11008 "emails: Make `ScheduledEmail` code path convert sender into email address in send_email"
This is a somewhat important bug fix for how Zulip's "schedule an email to send in 2 days" code path handles changes in the outgoing email configuration in the meantime, which can be quite confusing/difficult for a sysadmin trying out Zulip for the first time.  See #10879 for details.

The root problem in #10879 was basically that ScheduledEmail objects end up setting the FromAddress value on crea

[2018-12-10 19:47] timabbott opened #11009 "import: Improve data import performance with a very large number of users"
When importing an organization from Slack that had 10K users, we end up spending ~20 minutes (out of 30 minutes total import time!) in the `processing_avatars` block at the end of `import_uploads`, just because serially downloading, resizing, and the re-uploading all of those avatar images is slow.  I'm pretty sure that phase could be several times faster if we were to parallelize it, and the logi

[2018-12-10 21:53] rht commented on #9125
One vote for having an option to collapse the buddy list. I suppose the UI is already there (I saw it when I tried narrowing down my browser window). The only things left to be done is to add a switch in the settings.

[2018-12-10 22:35] timabbott commented on #10249
@synicalsyntax did we end up fixing this as part of the HSL migration?

[2018-12-10 22:41] timabbott opened #11010 "Improve UI and styling for the "/poll" widget to be shippable"
The Zulip webapp has an experimental `/poll` slash command feature, currently disabled in most Zulip organizations because it's very unpolished.  We've been hearing from a lot of folks that they'd like it on Zulip Cloud, so it's worth making an initial TODO list of what needs to happen before it can be shipped.  Here's my list:

* [x] Change the "Edit question" UI to just be an edit-pencil button

[2018-12-10 22:53] timabbott opened #11011 "Fix accessing compose box on mobile Safari when there are no messages in a conversation."
From the original report (https://chat.zulip.org/#narrow/stream/48-mobile/subject/mobile.20safari.20issues/near/669991):

This is a high priority issue, since a decent number of folks use mobile safari as their mobile browser, and it makes sending messages to e.g. a new topic impossible.

[2018-12-10 23:22] timabbott commented on #11009
We'll probably end up wanting to do something like `run_parallel_wrapper` from `zerver/data_import/import_util.py` for this.

[2018-12-10 23:43] rogersouza commented on #10746
@zulipbot claim

[2018-12-11 00:03] showell commented on #11010
This is mostly CSS/HTML work.  The main todos possibly require zero JS changes, although you'll probably need to understand the JS code.

[2018-12-11 00:37] akornor commented on #11008
@zulipbot claim

[2018-12-11 04:02] stone212 opened #11013 "Missing Security Model Doc"
`settings.py` points me to this page to learn about the Zulip security: https://zulip.readthedocs.io/en/latest/security-model.html

But that page does not exist.

[2018-12-11 05:42] timabbott commented on #11013
@stone212 thanks for the report!  We migrated all of our docs a while back, and newly generated `settings.py` files have the new URL, but of course we didn't update old settings.py files on users systems.

I've added a redirect to the new page location, so that URL now works.

Thanks again for reporting!

[2018-12-11 05:42] #11013 closed

[2018-12-11 05:52] stone212 commented on #11013
@timabbott

That makes me think of a good question to ask: if settings.py format changes and I need to upgrade some time how will I know?  Will the zulip upgrade scripts do a migration?

[2018-12-11 07:23] Shoumorup commented on #6809
This issue still shows up even when searched with is:open filter.
Please remove it from the same.

[2018-12-11 09:37] sims34 commented on #10923
Hi everyone,
I new I've got some basics knowledge with python and django.
I want to contribute for make my first PR !!
Should I start by this issue ??
Thks

[2018-12-11 12:41] thelaoshi opened #11014 "two factor authentication domain name"
Is it possible to configure the "domain" part or label of the generated QR-Code somewhere ?
Right now it seems to always be "example.net" if I scan the QR-Code.

[2018-12-11 13:59] santherics commented on #10818
Colleagues, we are also waiting for this feature. It is crucial to start using "guest" functionality. Please help to implement it as soon as possible. Thank you in advance!

[2018-12-11 17:43] hackerkid commented on #10923
@sims34 I am already working on this. You can go for one of these :)

 https://github.com/zulip/zulip/issues?q=is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee

[2018-12-11 18:43] timabbott commented on #11013
Yeah, we're pretty careful with the actual settings to have the upgrade scripts do the right thing; we just don't try to update the documentation comments in the base `settings.py` file, since that's hard.  You can read `zproject/prod_settings_template.py` if you're ever curious about the latest documented options.

[2018-12-11 19:51] matkaczmarek commented on #10980
@zulipbot claim

[2018-12-11 20:47] BartekJachowicz commented on #10432
@zulipbot claim

[2018-12-11 20:53] timabbott commented on #11014
The native 2FA integration in Zulip is unfinished (that's why it's turned off by default).  #10921 has some more details.

This is in Google authenticator?  It's a good question where that would come from; we don't have the string "example.net" anywhere in our codebase or in that of django-two-factor, the library we use for this.

[2018-12-11 20:56] timabbott commented on #10818
Agreed.  I think @YJDave should be working on this soon.

[2018-12-11 21:07] #7423 closed

[2018-12-11 21:10] timabbott commented on #6809
@Shoumorup can you explain what you mean?  I don't understand your comment.

[2018-12-11 21:24] timabbott opened #11015 "Rename "zulip" system bot realm to "zulipinternal""
Folks sometimes get confused when using e.g. `manage.py list_realms` in production that there's usually a realm with the name `` (aka the empty string), which is the one they use, and one with the name `zulip`, which if their hostname is zulip.example.com, sounds a lot like it's the one they want.

We should fix this in these ways:
* [x] Have `manage.py list_realms` print the actual full domains/U

[2018-12-11 21:43] #9974 closed

[2018-12-11 21:45] timabbott opened #11016 "Improve styling for /digest page"
The /digest page (see #9974) is primarily for development/testing of Zulip's digest emails, but even so, it'd be great to restructure it to have a container around the email body, centering it, etc.  Might be able to borrow some logic from the /emails page for this.

[2018-12-12 01:41] rishig opened #11018 "onboarding: Followups for import from account."
* [ ] Dropdown default should be oldest existing account
* [ ] The blank option should be "Don't import settings".
* [ ] s/another Zulip account/existing Zulip account

More discussion in
https://chat.zulip.org/#narrow/stream/137-feedback/topic/meta.20account.20for.20zulipchat.2Ecom

[2018-12-12 02:42] stone212 opened #11019 "sidebar icons missing after upgrade"
Yesterday (11 Dec 2018) I did an upgrade from git master and today some users are reporting that the sidebar does not have our icons anymore.  Here is a screenshot from one user.
![sidebariconsgone](https://user-images.githubusercontent.com/26020999/49843523-76df7a80-fdb7-11e8-957b-4c7041336c15.png)

I do *not* have this problem using Zulip Electron for Linux

[2018-12-12 07:44] koko-eyen commented on #11016
@Zulipbot claim

[2018-12-12 07:45] koko-eyen commented on #11016
@Zulipbot claim

[2018-12-12 08:31] thelaoshi commented on #11014
Yeah, I think so, too.
Must be somewhere near https://github.com/Bouke/django-two-factor-auth/blob/d000074089ff02ee616a0c5f2e6b03d175f3b9ff/two_factor/views/core.py
line 558 I guess, but I am not very good with python and django tbh :-)
We tried to set OTP_HOTP_ISSUER in the settings.py, but that did not help.

[2018-12-12 08:46] Savemech commented on #10818
Current flow of user invitation leads to data disclosure, since invited as member and not as guest user.

[2018-12-12 11:13] thelaoshi commented on #11014
I tried a bit around with the "Sites" Framework in the shell and I found:
In [7]: from django.contrib.sites.models import Site

In [8]: Site.objects.get_current().domain
Out[8]: 'collab.oss.ewetel.de'

In [9]: Site.objects.get_current().name
Out[9]: 'example.com'

[2018-12-12 11:39] thelaoshi commented on #11014
Ok, found out how to change + save it with the shell. Now the QR-Code is OK :-)

I have no idea where/if the sites Framework is used in zulip though. Would be cool if it would be possible to set this in the settings maybe

[2018-12-12 12:18] YJDave commented on #10818
Yes, will submit PR soon.

[2018-12-12 12:18] YJDave commented on #10818
Yes, will submit PR soon.

[2018-12-12 13:53] akashnimare commented on #11019
@stone212 this should be fixed after a reload/restarting the app.

[2018-12-12 15:35] rht commented on #10553
Related: #9125

[2018-12-12 18:18] timabbott opened #11022 "gitter import: Create the Zulip onboarding streams/messages"
For Gitter import at least, one usually is importing a single Gitter channel into Zulip, and you end up with sorta a weird initial Zulip state with just 1 stream and none of the onboarding message content.  It would be nice to generate the standard onboarding messages (e.g. to `#general`) as part of the import process; some care is probably required to figure out a good way to do this, but probabl

[2018-12-12 19:50] timabbott commented on #10019
We're doing an effort to fix open LDAP issues; @Mant1kor were you able to figure this out?

[2018-12-12 20:38] catxeger opened #11025 "/me followed by quote (or other multiple-line content) is not parsed"
'/me' is ignored if the following line (or extra empty line followed by a quote line) is a quote line, eg:
![20181212_zulip-me](https://user-images.githubusercontent.com/29603576/49897369-f2771100-fe23-11e8-8107-601f86d2afed.png)

[2018-12-12 21:43] timabbott opened #11026 "Improve highlighting/live update for stream/user group mentions"
Following 982a70431f18a2b75d6d287748ff5ce2b243a60f, there's a couple things we should do:
* [x] Add similar logic for `data-stream-id` on stream mentions (e.g. `#denmark`) to automatically show the current name of the stream.
* [ ] Add the green highlighting for mentions of a user group you're a member of (the same indication we do for wildcard or personal mentions)

[2018-12-12 21:45] timabbott commented on #11025
The way `/me` works at present is that is only supports 1-line messages; the quote is irrelevant to the issue.  We should think about changing that; the challenge is likely to be styling-related.

[2018-12-12 21:55] timabbott commented on #11014
Ugh, it uses the Django "Sites" framework.  We don't use that for anything in Zulip (other than, apparently indirectly, this).  I think our near-term fix might be to monkey-patch `from django.contrib.sites.shortcuts import get_current_site` to return effectively the `realm.host` value, since that's where to get the correct value for the current realm/subdomain.  Thanks for investigating!

[2018-12-12 22:00] timabbott commented on #11014
Changing that `issuer` line to ` issuer=request.user.realm.host` seems to do the right thing.  So we just need to figure out a good way to make that change without forking social-auth.

[2018-12-12 22:10] timabbott commented on #11014
Ahh, there's a better solution: If we just remove the Site Django middleware (which we're not using), it'll automatically do the right thing.  So I'll do that.

[2018-12-12 23:01] #11014 closed

[2018-12-13 02:57] synicalsyntax commented on #11019
This looks like a problem with the desktop client; if this issue persists, do you mind closing and reopening this issue in zulip/zulip-electron @stone212 ?

[2018-12-13 07:16] Hudda commented on #11015
@zulipbot claim

[2018-12-13 08:20] stone212 opened #11029 "Feature Request: forced password change"
It would be nice to have two features:

1. Option to require users to changes passwords every X days

2. Option to force all users to change password.  This is useful if you update your `PASSWORD_MIN_LENGTH` variable.

I have a question: what happens now if I raise `PASSWORD_MIN_LENGTH`?  I am afraid to do it to my users because I don't now if 2 already happens?

[2018-12-13 08:58] stone212 commented on #11019
@synicalsyntax I assumed it was a server issue because it happened to multiple clients after I upgraded the server.  But the users stopped responding to my questions so I don't care if they don't care. I am sorry to take your time with something the users do not really want help with.

[2018-12-13 08:58] #11019 closed

[2018-12-13 10:34] Mant1kor commented on #10019
@timabbott the problem is still present.

[2018-12-13 11:54] stone212 opened #11030 "Can not disable "SEND_LOGIN_EMAILS""
I was curious what "#SEND_LOGIN_EMAILS" did.  So I uncommented it and set to "True".  It send me a login email every time someone logged in (who could know?)

I did not like this so I set this to "False" and I re-started the server like this:

`zulip@zulip:~/deployments/current/scripts$ ./restart-server`

 The emails continued to come.

Then I commented out the line and re-started again and still

[2018-12-13 13:39] sumanthvrao commented on #10946
@zulipbot claim

[2018-12-13 14:12] Alex-CodeLab opened #11031 "characters in names disappear on small screens"
![screenshot from 2018-12-13 15-02-02](https://user-images.githubusercontent.com/1678423/49943660-c83b5700-fee8-11e8-8c76-72e4640687a5.png)

on small screens part of the characters disappear.

solution:

_media.css_
[code]

[2018-12-13 16:05] catxeger commented on #11025
FWIW, this behavior (/me not supporting multiple lines in a message) is new/surprising to me as of the most recent update.

[2018-12-13 16:57] AsociTon commented on #10840
@timabbott @zulipbot could you assign me this issue, I am a new comer and I am confident in solving it.

[2018-12-13 16:58] AsociTon commented on #10840
@zulipbot claim

[2018-12-13 17:22] showell opened #11033 "frontend refactor: Use stream ids to track topic mutes"
In `static/js/muting.js` we currently keep track of muted topics using a `Dict` with the name `muted_topics`, and the key for that is a stream name.

We should change the data structure to be keyed on stream id, which will prevent the client from breaking on stream renames.  Also, in general, we want to use `stream_id` over `stream_name` everywhere we can in the client.  (It's more difficult for s

[2018-12-13 17:46] hackerkid opened #11034 "Notify users when a stream gets renamed"
It would be nice to notify users when a stream gets renamed. Implementation wise this can be notification bot sending a message to welcome thread of the renamed stream. Something like this

![screenshot from 2018-12-13 23-15-55](https://user-images.githubusercontent.com/7190633/49957216-1bcf9400-ff2d-11e8-919c-800b02cba2b9.png)

More details at https://chat.zulip.org/#narrow/stream/43-automated-te

[2018-12-13 18:02] timabbott commented on #11025
@catxeger I checked the code, and I can confirm that the no-newlines behavior has been present since at least 2017, and my recollection is since the feature was first introduced.  In any case, as I said, I don't think there's a reason not to allow multi-line `/me` messages aside from the need to do a bit of styling work, so we should probably just add support for this.

[2018-12-13 18:12] #10946 closed

[2018-12-13 18:13] hackerkid commented on #11034
@zulipbot label "area: bots" "area: general UI" "area: notifications (messages)"

[2018-12-13 18:16] timabbott commented on #11031
Huh, I wonder why we have that styling.  Can you check what happens with a really long name?  Maybe it should be an `overflow-x: hidden` or something, given the `ellipsis` content.

[2018-12-13 18:18] timabbott commented on #11030
@stone212 I think you did something wrong in setting it to False or didn't successfully restart the server after turning it off; the function that calls this starts with:
[code]

Can you post the exact content of the `settings.py` line you tried?

[2018-12-13 18:18] timabbott commented on #11030
The default value for that setting is `True`, so my guess is that you have a typo or something in your attempt to set it explicitly to False.