[2018-06-08 09:39] hexinal commented on #9710
Thanks for your answer! Just wanting to check but is_realm_admin, timezone are attributes that Zulip uses right? Following the description from django doc is there a list of all your ['user model key'?](https://i.imgur.com/nCG34jY.png) Just wanting to know what's the extent that I can map. Maybe I'm a bit daft and don't understand something but whatever.

[2018-06-08 14:48] timabbott commented on #9713
@showell I bet this is a bug with server unreads.

[2018-06-08 14:49] #9175 closed

[2018-06-08 14:50] timabbott commented on #9710
Yep, that's right, just most of the keys in `class UserProfile` are things that you're unlikely to have the data for in LDAP (e.g. a user's display setting preferences).

[2018-06-08 20:00] timabbott commented on #9475
This was finished, but we forgot to close it.

I haven't seen the redis flake in a few days, so it's possible it disappeared without any action on our part (e.g. an upstream issue was fixed).

[2018-06-08 20:00] #9475 closed

[2018-06-08 20:19] shubham-padia commented on #7459
@zulipbot claim

[2018-06-09 01:53] gnprice commented on #7459
Thanks @timabbott for writing up this detailed plan!

This all generally looks good to me. One comment:

I think I'd be inclined to call it something like `sent_mobile_notification` -- and have it remain set when the message is read. Then the condition in the partial index will just combine this flag and `read`, giving the same behavior from the outside. That feels a bit more orthogonal to me, tho

[2018-06-09 08:30] an3l commented on #9692
@akashnimare  here is what I have.
![20180606_1914351781111505](https://user-images.githubusercontent.com/8207668/41189564-11851ae2-6bd0-11e8-8f8a-42d3276b1a88.gif)

[2018-06-09 12:55] akashnimare commented on #9692
@an3l I see. Can you try -
* Different browser maybe safari/brave/firefox and see if the problem persists?
* Change the keyboard. I have seen that sometimes Google's gboard keyboard create some weird issues.

[2018-06-09 16:54] #9679 closed

[2018-06-09 17:11] showell commented on #9713
I believe the bug here is actually that we don't do what we do in the bankruptcy dialog, which is force a reload.  I suspect this feature has always been broken like this.  (For clearing stream counts, I think we send events, but for clearing all reads, there would potentially be way too many events, so it's up to the client to either kick off a reload or clear its own counts).

So I think we need

[2018-06-09 17:44] showell commented on #9668
I don't think this is a bug with the toggler, as much as it's that we have two different panels related to profile fields, one in Settings (Your account) and one in Organization (Custom profile fields), and they seem to both call settings_account.add_custom_profile_fields_to_settings for some reason.

It's not clear to me why settings_profile_fields.populate_profile_fields calls settings_account.a

[2018-06-09 19:32] merishabh commented on #5677
@zulipbot claim

[2018-06-09 19:58] merishabh commented on #5816
@zulipbot **claim**

[2018-06-09 20:32] synicalsyntax commented on #9697
Hey there, we have a community of active Zulip developers that you can join at https://chat.zulip.org; feel free to discuss any contributions you have in mind there! Since this issue isn't related to the Zulip web app, I'm going to close this issue.

[2018-06-09 20:32] #9697 closed

[2018-06-10 05:42] YJDave commented on #9668
@showell Thanks for debugging! I fix the error, submitted #9726.
Yes, the function was called twice and also it doesn't include check whether overlay is open or not.

[2018-06-10 07:34] merishabh commented on #5816
@zulipbot **claim**

[2018-06-10 07:34] merishabh commented on #5816
@zulipbot claim

[2018-06-10 18:02] merishabh commented on #5816
@zulipbot abandon

[2018-06-10 20:52] #9668 closed

[2018-06-10 21:37] graszka22 commented on #9351
@zulipbot claim

[2018-06-10 22:38] timabbott commented on #9713
Ahh, makes sense.  I think forcing a reload here to match the bankruptcy code path makes sense.

[2018-06-11 12:49] shubhamdhama commented on #9396
@zulipbot claim

[2018-06-11 17:24] swetanjal commented on #8631
@zulipbot claim

[2018-06-11 17:26] rheaparekh commented on #9239
@zulipbot I am still working on this.

[2018-06-11 20:35] Lyla-Fischer commented on #5803
I'm looking at the for the moment, based off of the commentary in https://chat.zulip.org/#narrow/stream/19-documentation/subject/.2Fhelp.2F.20framework.
@zulipbot claim

[2018-06-11 20:57] showell commented on #9318
@shubham-padia This might be something that's easy for you to fix.  (And I'd poke around other menus while you're at it to see if similar bugs exist).

[2018-06-11 20:59] showell commented on #9124
I believe there's been some work done here.  If this isn't actionable, we should just close it.

[2018-06-11 21:04] showell commented on #7868
@gnprice Feel free to close this if you think this has been fixed or if you think "nocoverage" is fine here.

[2018-06-11 21:08] showell commented on #7830
Just to update--the consensus here seems to be that we could prevent people from creating dups on the "manual" side of things, but we'd need to have flexibility for incoming data like corporate LDAP data.

A PR was attempted recently and abandoned.

[2018-06-11 21:11] showell commented on #7824
I added bug/high-priority labels since this basically makes the reply experience on mobile-web somewhat unpleasant, and it's somewhat silly that we have three less useful buttons show there.

[2018-06-11 21:12] showell commented on #7823
I'm closing this.  We get a reasonable error message now when this happens (I just tested it).

[2018-06-11 21:12] #7823 closed

[2018-06-11 21:15] showell commented on #7535
I'm closing this, since I've seen other apps with the same behavior, and this might be a tricky/risky fix for something that's not a huge problem (and if it comes up again, the issue is pretty easy to describe).

[2018-06-11 21:15] #7535 closed

[2018-06-11 21:17] showell commented on #7476
@timabbott Has this been fixed?  I haven't seen this happen lately.

[2018-06-11 21:20] showell commented on #7240
I'd be ok with closing this, although there are still some places like the "rename_stream" management command where we could very safely rely on python3 doing the right thing.  Most of the remaining cases are for things like thumbor and ccache that are probably harder to reason about.

[2018-06-11 21:22] showell commented on #6949
@adnrs96 @timabbott This might be a good thing to fix in light of UserProfile getting bigger and bigger.  I'm also curious if there's been any last-minute defense of having the field around or at least migrating it to custom fields or something.

[2018-06-11 21:23] showell commented on #6900
@gnprice I'm closing this, since I assume mobile found some other way to solve this problem.  Feel free to re-open if I'm wrong about it.

[2018-06-11 21:23] #6900 closed

[2018-06-11 21:25] showell commented on #6479
I'm closing this, since it was partially fixed, and it's been long enough that we'd want to re-profile everything anyway.

[2018-06-11 21:25] #6479 closed

[2018-06-11 21:28] showell commented on #6032
I edited the title of this PR, since there's some confusion about the sidebar being involved.  The proposal here is to have hover work for the links inside messages.

[2018-06-11 21:30] showell commented on #5870
I'm closing this, since we haven't gotten much feedback lately along these lines.

[2018-06-11 21:30] #5870 closed

[2018-06-11 21:36] showell commented on #5061
I'm closing this, since the issue is probably too old to accurately describe shortcomings, and we've had mostly positive feedback on the droplet setup lately.  If folks report nuisances going forward, we can open new individual issues, I think.

[2018-06-11 21:36] #5061 closed

[2018-06-11 21:39] showell commented on #4672
I'm closing this, since it's not really actionable until we have resources to do major screen re-designs, and the upside of this fix isn't that huge.

[2018-06-11 21:39] #4672 closed

[2018-06-11 21:40] showell commented on #4671
I still think this is a good idea, but it's already on people's radar, and the ticket doesn't really capture much discussion.  If somebody comes across this and wants to fight for removing Group PMs, it's probably worth creating a new issue, since this will likely stay buried if you re-open it.

[2018-06-11 21:40] #4671 closed

[2018-06-11 21:44] showell commented on #4337
@timabbott This seems like an important issue, but if it's not really actionable, feel free to close it.  (I opened it originally, but I think I was just summarizing discussion.)

[2018-06-11 21:45] showell commented on #4321
This appears to have been fixed in #5656, so closing.

[2018-06-11 21:47] showell commented on #4295
I'm closing this as non-actionable, since I think most folks will view the extra complexity here as being possibly as risky as double-sends, and I haven't heard tons of bug reports that seem to be a symptom of this.

[2018-06-11 21:47] #4295 closed

[2018-06-11 21:49] showell commented on #4194
I'm closing this, as early efforts to break dependencies showed it to be a pretty large problem, and we probably just need to accept that any future asset-building tools will need to be able to work with circular dependencies.  (Some of our circular dependencies are symptoms of bad code organization, but not all of them.)

[2018-06-11 21:49] #4194 closed

[2018-06-11 21:51] showell commented on #4068
@lonerz I still think there's some opportunity here, but I'm closing this, since there are probably bigger gaps in our node coverage (like all the settings modules).

[2018-06-11 21:51] #4068 closed

[2018-06-11 22:02] showell commented on #1715
I'm closing this, since I already find the stream sidebar too complicated in how we treat not-recently-active streams.

[2018-06-11 22:02] #1715 closed

[2018-06-12 00:52] eeshangarg opened #9732 "webhook/github: Add support for Pull Request Review Requested events."
This was [requested on czo](https://chat.zulip.org/#narrow/stream/127-integrations/subject/github.20bot/near/597671). I think we should definitely add it! Depending on how much work it takes, I might pick this up soon! :)

[2018-06-12 00:53] eeshangarg commented on #9732
Here's a link to the source for those who might be interested in working on this: https://github.com/zulip/zulip/blob/master/zerver/webhooks/github/view.py

[2018-06-12 04:47] synicalsyntax commented on #9403
Duplicate of #7824, maybe this should be closed? @timabbott

[2018-06-12 07:36] shubham-padia commented on #9318
@zulipbot claim

[2018-06-12 11:27] Anupam-dagar commented on #9503
@zulipbot claim

[2018-06-12 13:57] timabbott commented on #9403
Yeah looks like a duplicate

-Tim Abbott (mobile)

On Tue, Jun 12, 2018, 00:47 Cynthia Lin <notifications@github.com> wrote:

[2018-06-12 14:56] showell commented on #4080
I'm closing this, since it's pretty broad.  One big thing we're moving on (albeit a bit slowly) is global-public streams that can be archived publicly.

[2018-06-12 14:56] #4080 closed

[2018-06-12 14:59] showell commented on #4064
I'm not sure the experience is perfect yet, but I believe we've modified the widget a couple times, so this issue has become outmoded.  Closing.  (We should open new issues for any remaining issues.)

[2018-06-12 14:59] #4064 closed

[2018-06-12 15:00] #3782 closed

[2018-06-12 15:01] mstone opened #9736 "User feedback: better support for polling?"
Potentially related to #9599, I wanted to report that we're increasingly seeing users in our installation attempt to use reactjis as a form of light-weight polling and we wonder, more generally, whether this is a use-case that Zulip could better support? Thanks! (cc: @timapril)

[2018-06-12 15:02] showell commented on #3736
I believe Eeshan's work closes this out, so closing.

[2018-06-12 15:02] #3736 closed

[2018-06-12 15:04] showell commented on #3639
@rishig This is still technically a pitfall, as we have at least one place in our code like below, and this won't match for non-English sites:

[code]

[2018-06-12 15:09] showell commented on #2863
@timabbott Do we need to keep this issue specifically open, or are we tracking our vendored packages in some other issue or project list?

[2018-06-12 15:15] showell commented on #2807
@rishig I'm closing this, since the description isn't very actionable here, and I haven't heard major complaints about the current button (granted, we'd probably never hear some of the worst complaints since people wouldn't actually join).  Feel free to reopen as needed.

[2018-06-12 15:18] #9403 closed

[2018-06-12 15:19] showell commented on #2507
This is still a nuisance.  We tried one experiment, which was to have the click open the latest topic, but it was abandoned due to pushback (and it wasn't even an ideal solution for folks who like topic narrows).  I hope we come back to this with other ideas.

[2018-06-12 15:22] showell commented on #1994
@timabbott I'm closing this, since I think the manual process works well enough, and I think the marginal need for automation is gonna decline over time (hopefully our dependencies will stabilize and we'll have more in-house experts that can sweep stuff for upgrades periodically and know our convention).

[2018-06-12 15:22] #1994 closed

[2018-06-12 15:28] showell commented on #1673
I'm closing this, as I think we've had decent success with people learning how to run tests, and these docs probably don't require any special attention compared to other stuff.

[2018-06-12 15:28] #1673 closed

[2018-06-12 15:31] showell commented on #1561
I'm closing this, since we've made some progress, and the above lists are now certainly obsolete, and lots has happened since then, such as moving to scss and adding dark mode.

[2018-06-12 15:31] #1561 closed

[2018-06-12 15:32] showell commented on #1381
Closing this as too low of a value-add, plus possibly obsolete.

[2018-06-12 15:32] #1381 closed

[2018-06-12 15:33] #1347 closed

[2018-06-12 15:37] showell commented on #1317
This actually came up in conversation recently--some people don't like that a topic of "lunch" will drown out a keyword search for "lunch"--but @timabbott basically says this is a wont-fix in the comment above, and it's a non-trivial change.  Closing.  If we hear more complaints on this, it's probably best to open a newer issue, anyway.

[2018-06-12 15:37] #1317 closed

[2018-06-12 15:41] showell commented on #1203
I'm closing this.  We addressed the first bullet point, and I assume the other two issues are minor enough not to be worth messing with this code almost two years after the initial issue was filed.

[2018-06-12 15:41] #1203 closed

[2018-06-12 15:45] showell commented on #1511
I still like this idea, but I think it mostly requires me to make it happen, and I'm trying to avoid going anywhere near CSS, haha.  Closing.

[2018-06-12 15:45] #1511 closed

[2018-06-12 16:34] eeshangarg commented on #9163
I've started working on this. I'll have a PR up soon! Thanks! :)

[2018-06-12 17:27] #9195 closed

[2018-06-12 17:50] showell commented on #9736
We have an early version of a poll widget running on chat.zulip.org.  You can send a message with "/poll" to a stream, and then hopefully the UI will make it apparent what to do next.

It would be great to get feedback on the early version.  Right now it's not turned on by default.

[2018-06-12 19:15] synicalsyntax commented on #9446
@rishig It looks like the font size for the HTML title and tooltip popover is the same, did you want the font size of the popover to be increased instead?

![screenshot at jun 12 12-14-05](https://user-images.githubusercontent.com/15116870/41311770-22841124-6e3a-11e8-8757-983055460b79.png)

[2018-06-12 21:12] rishig commented on #9446
Interesting, for me they are different:

![image](https://user-images.githubusercontent.com/890911/41317604-8bea92ae-6e4a-11e8-9ea5-5280e4c91518.png)

![image](https://user-images.githubusercontent.com/890911/41317616-989b4f8e-6e4a-11e8-800b-4ee4a165f4ff.png)

I'm Chrome on Linux.

[2018-06-12 21:39] gregmccoy commented on #9376
I was running into the same issue for us-east-2, I switched to us-west-2 and it's working for me now. It seems some regions are forcing SIGv4 and some aren't.

[2018-06-12 21:40] showell commented on #9611
I believe the scope of this ticket is only user-facing docs?  Changing what we return in the API is a non-trivial deprecation problem.

[2018-06-12 21:42] rishig commented on #2807
I think even small changes to onboarding and advertising can make a big difference. Someone is much more likely to join a zulip realm with 3K other users (where e.g. they know they'll feel comfortable lurking), than something with an unknown number of users.

Also not many products do a good job of supporting 10K+ users, so badges that show realms with 10K+ users (as we acquire such realms) are a

[2018-06-12 21:53] synicalsyntax commented on #9446
@rishig Yeah, so the HTML title elements are dependent on OS, not browser, because I get the same exact image as my previous picture on Firefox. Unfortunately, there isn't really a way to change the styling of HTML tooltips; do you want to still increase the font size regardless?

[2018-06-12 21:56] rishig commented on #9611
yeah, changing the API should not be a part of this. I assumed the API had been changed (and just the docs hadn't), but it looks like that isn't the case.

In any case, the ones in zerver/views/streams.py are error and/or success messages, which I think we should update as a part of this.

[2018-06-12 22:49] rishig commented on #4321
The backend work has been done in #5656, but the frontend work has not. So I think makes sense to leave open?

[2018-06-12 23:00] rishig commented on #9691
Agreed (or ideally, we could set the number based on whether all the streams fit in the left sidebar.)

[2018-06-12 23:08] showell commented on #4321
ok, re-opening

[2018-06-13 00:47] timabbott commented on #2863
There is another issue for the general dependency upgrade and I think we
may be just as likely to upgrade as to replace the library entirely.

So it's reasonable to close this.

On Tue, Jun 12, 2018, 8:09 AM showell <notifications@github.com> wrote:

[2018-06-13 00:54] #2863 closed

[2018-06-13 01:39] timabbott commented on #9195
Did we check that this also looks good with widths that do 3 items per row?

On Tue, Jun 12, 2018, 10:27 AM showell <notifications@github.com> wrote:

[2018-06-13 05:33] brickbite commented on #9157
### Current issue:
The existing Regex for matching is:
`(\s|^|>|[\(\".,';\[])(alert_word)(\s|$|<|[\)\"\?!:.,';\]!])`

So there are 3 groups:
1. A character before the alert word
2. The alert word itself
3. A character after the alert word

This means that, the Regex matching will always look for a character before and after the alert word to include as part of the match.

Alert words next to each

[2018-06-13 09:56] showell commented on #7476
Ok, closing this issue for now.

[2018-06-13 09:56] #7476 closed

[2018-06-13 09:57] #9318 closed

[2018-06-13 12:29] mattbober opened #9742 "Can't install debian or ubuntu server"
Hello,

Could you help me to install zulip on a debian or ubuntu server ?

Indeed the install script return me the same error :
###
Unsupported OS release: bionic (or stretch)

Zulip in production is supported only on:
 - Ubuntu 14.04 LTS "trusty"
 - Ubuntu 16.04 LTS "xenial"
###
However the documentation tell us :
###
A supported OS:

    Ubuntu 18.04 Bionic
    Ubuntu 16.04 Xenial
    Ubuntu 14.

[2018-06-13 16:27] timabbott commented on #9742
You need to clone master to use those platforms... support for these is not
released yet.

On Wed, Jun 13, 2018, 7:28 AM mattbober <notifications@github.com> wrote:

[2018-06-13 21:10] lravelo opened #9745 "Unable use email authentication if LDAP backend is enabled"
I have both `EmailAuthBackend` and `ZulipLDAPAuthBackend` enabled on my server.  I'm able to authenticate with sAMAccountName without issues.  The problem lies when I try to invite someone via email who does not have an account in our Active Directory.  I can send the invite, the user gets the email (in this case it's me since I'm still testing this), I can complete registration, however if I run

[2018-06-13 22:09] brickbite commented on #9157
**Current solution**:`(?!<[^>]*?) (?!<span[^>]*?>) (alert_word) (?![^<]*?</span>) (?![^<]*?>)`
Using negative lookahead, we can check for matches without having to match characters that pad the sides of the alert word.

Tests in `frontend_tests/node_tests/alert_words.js` look inconsistent:

Here we are given a message where `alertone` is the alert word, and we expect that the alert word is not hig

[2018-06-14 01:00] andersk opened #9748 "Scrolling problems on /api and /help"
The use of perfect-scrollbar on the /api and /help pages is associated with a number of problems.

* If I search the page with Ctrl+F for a word that’s out of view, the word isn’t scrolled into view.

* perfect-scrollbar doesn’t feel like a native scrollbar. On my laptop, it’s entirely missing the momentum I expect when making flicking motions on the touchpad, and the smooth animation I expect whe

[2018-06-14 04:51] lonerz commented on #2369
@zulipbot claim

[2018-06-14 05:44] hackerkid commented on #9468
@zulipbot claim

[2018-06-14 16:05] shubhamdhama commented on #9416
I did the reading of corresponding files and found that this deferring is redundant as we are already waiting for the page reload in transmit.js: https://github.com/zulip/zulip/blob/master/static/js/socket.js#L212
So for this cleanup, I can do something like this:
* Removing the enclosing `$(function() {  })` from `_setup_sockjs_callbacks`, placing the code there.
* Then either left transmit.js un

[2018-06-14 16:48] shubhamdhama commented on #9416
Opened as #9752 what said above.

[2018-06-14 22:02] timabbott commented on #4337
I think the main issue inspiring this was an issue with presence specifically (which is main place where we automatically exchange state with the server that isn't the events system), which we've now made work in a satisfactory way.  So I'm happy closing this.

[2018-06-14 22:02] #4337 closed

[2018-06-14 22:03] timabbott commented on #6949
Whether this makes sense to remove is pending some decisions around making email addresses private; we might end up reusing the field for that feature,

[2018-06-14 22:20] timabbott commented on #9748
There's an open issue for the individual issues somewhere.  I agree.  The problem with a regular scrollbar that was meant to be solved by this usage is primarily in the left sidebar; it looks really bad on Linux/Windows (or other settings with a bug ugly scrollbar).

There's been some debate on whether to find another library or just do our own styling.  If you have a suggested solution, I'd love

[2018-06-14 23:15] andersk commented on #9748
The first two libraries that [Google finds](https://www.google.com/search?q=javascript+custom+scrollbar) are [simple-scrollbar](https://github.com/buzinas/simple-scrollbar) and [simplebar](http://grsmto.github.io/simplebar/)—they both seem more reasonable, making no attempt to replace the native behavior for search, mouse wheel, arrow keys, etc.

We could also avoid the issue entirely by having th

[2018-06-15 10:55] rvencu commented on #9232
Not sure if relevant, in version 1.8.1 I managed to briefly switch the stream to public then back to private to reset history access to new members. Perhaps the UI will allow to manage that in next version.

[2018-06-15 12:51] shubhamdhama commented on #9416
scroll_bar - no exports

For these two we only want to remove the `$(function(){})` wrapping and export them in a setup function so that these can be called any more appropriate place(I again think `setup.js` to be such place) after document becomes ready. Right?

[2018-06-15 13:14] rodgeralley86 opened #9756 "Permissions to Delete Full group private message threads"
Would be great to be able to allow users (based on permissions) to delete full message threads, rather than one message at a time.

In some instances, our users will create a Group PM to collaborate with other users/groups in the company.  Once the topic/issue is complete, if they want to delete that Group Thread, they have to individually delete every single message.  Would be nice to be able to

[2018-06-15 17:51] jhellerstedt opened #9757 "user not forwarded past login page"
Hi,

I have a user who isn't forwarded to the site after logging in.  They put in their credentials, get an email confirming the login, but don't get forwarded to the site.

This happens in Safari/ Chrome/ Desktop/ Android mobile; I've tried de-activating/ re-activating their account, to no avail.  They're only able to login through the iphone app.

I've been poking around the logs but can't find

[2018-06-16 12:07] timabbott commented on #9757
A few questions:
* Where do they get forwarded to instead?
* What authentication method are they using?
* Have you tried looking at `/var/log/zulip/server.log`?
* Are you running your own server?  If so, what version?

[2018-06-16 12:12] timabbott commented on #9756
@rodgeralley86 can you explain the use case for why you want to delete every message in a thread a bit more?  The Zulip model is that the topics in the left sidebar are just the 5 most recent topics (plus any with unread messages).  So there's no need to delete older topics; users can just read the ones that have unread messages, and then once they're caught up, only use the ones that don't have u

[2018-06-16 12:28] jhellerstedt commented on #9757
Hi Tim,

The problem seems to have gone away; I'm running my own server, I think it was at 1.8.0 when this was a problem.  I subsequently did an upgrade to master from git (current version is 1.8.1+git), and now its working again.

User was logging in to website using email address/ password; the site would accept the credentials, and then re-load the same page without the credentials (the same pr

[2018-06-16 12:28] #9757 closed

[2018-06-16 15:51] #9577 closed

[2018-06-16 16:35] timabbott opened #9760 "Add networking retries for forwarding via the push notification bouncer service"
We should be able to do a couple retries for this sort of networking error, which should clear if one just tries again in most cases.

[code]

[2018-06-16 17:46] akashnimare commented on #9748
@andersk please see https://github.com/zulip/zulip/issues/8887.

[2018-06-17 02:38] YJDave commented on #692
@zulipbot claim

[2018-06-17 02:38] YJDave commented on #9502
@zulipbot claim

[2018-06-17 23:18] ojshaw commented on #4804
Yes, I am working on it !

[2018-06-18 02:05] skunkmb opened #9763 "Fix a bug in emoticon translation where newlines prevent translation."
Currently, there is a bug in emoticon translation where a newline before an emoticon prevents it from being translated. This only occurs server-side, as the message initially is translated correctly in the local echo, but then becomes incorrect after receiving the render from the server.

For instance,

is translated into

but

is incorrectly translated into

due to the newline.

See [discussion](

[2018-06-18 07:52] mattbober commented on #9742
Hello,

Thanks for your replies.

Finally I have installed Zulip on Ubuntu 16.04. It works like a charm, except for a Active Directory connection.

I will continue to search how configure this connection with the documentation. Have you got some "tricks" to help me (documentation, other posts in github, ...) ?

Thank you

[2018-06-18 10:39] akashnimare commented on #5803
Algolia provides [docsearch](https://community.algolia.com/docsearch/) for adding the search functionality -
https://community.algolia.com/docsearch/

[2018-06-18 14:00] #9468 closed

[2018-06-18 14:23] timabbott opened #9766 "Optimize performance of `scripts/lib/clean-unused-caches`"
Currently, of the ~4.7s that `provision` takes to run on my laptop, about 0.55s of that is `scripts/lib/clean-unused-caches`.

We should optimize its performance to no longer be such a large fraction; I suspect the time is basically all startup/import time.

So we can probably fix this by first renaming the sub-scripts to be importable modules and importing them and then calling `main()` rather th

[2018-06-18 15:08] akashnimare opened #9767 "help: Clicking on headings in markdown is broken"
If you click on a heading, the page doesn't scroll to the heading. This only works on the first click, later on, the click event is ignored.

![screen recording 2018-06-18 at 08 37 pm](https://user-images.githubusercontent.com/2263909/41544908-89900d44-7337-11e8-8782-ecc4e6a83281.gif)

[2018-06-18 15:19] #9766 closed

[2018-06-18 15:54] rodgeralley86 commented on #9756
I apologize if I misstated that.  I was specifically referring to Private Messages.  Being able to close them once the conversation is over.  It's just a request we've gotten a lot from our employees.  Perhaps just growing pains from our old program to this one.  However, being able to close out private group messages once finished would be desirable.

For instance, for security purposes and for p

[2018-06-18 16:19] rishig commented on #5803
This looks great. The only downside seems to be we need to include the algolia branding, but I think that's a small price. We should also check that it works on the subdomains.

[2018-06-18 16:30] timabbott commented on #9767
I think this used to work; seems like a regression?

Probably you or @synicalsyntax would be a good person to debug.

[2018-06-18 16:58] akashnimare commented on #5803
I think we can only add this on either czo or zulipchat.com since they add the URL manually and have to run the crawler -
https://github.com/algolia/docsearch-configs/blob/master/configs/zulipchat.json

[2018-06-19 08:13] shubham-padia commented on #7459
Yes

On Tue, Jun 19, 2018, 11:42 AM zulipbot <notifications@github.com> wrote:

[2018-06-19 10:52] ankush981 commented on #4998
I tried installing from GitHub today and ran into the same problem. :sob: I hate Vagrant because it's a memory hog, and Docker support is experimental.

[2018-06-19 13:45] zy964c commented on #9228
@zulipbot claim

[2018-06-19 14:13] Lyla-Fischer commented on #5803
@zulipbot abandon
I'm happy to do the integration for Algolia, if that is what we are doing, but I don't know who is making the decision on what we are going to do, and I don't want to go bravely forth with something that isn't the Right Thing.

[2018-06-19 15:50] rishig commented on #7995
We've been getting a number of requests for this, so would love to see someone pick up alirizwi's PR and take it over the finish line!

[2018-06-19 18:03] timabbott commented on #9748
@akashnimare do you want to spend some time trying out one of these techniques, and see what works best?

[2018-06-19 18:13] akashnimare commented on #9748
Yeah, I was playing around with this yesterday. I tried following methods -

a) Removed perfect-scrollbar, used the default scrollbar. Everything worked as expected i.e. search, scrolling etc. The default scrollbar looks good on macOS, I have to see how it looks on Windows/Linux.

b) Used `simple-scrollbar`. Everything was working except webpack was throwing some errors.

[2018-06-19 21:19] #9767 closed

[2018-06-19 22:22] rishig opened #9777 "lightbox: v doesn't close lightbox when pan and zoom is toggled."
To repro:
* v to open lightbox
* click "Enable pan and zoom"
* click "Disable pan and zoom"
* press v.

The second v should close the lightbox, but it doesn't.

[2018-06-19 22:51] rishig commented on #9777
The `v` to close is just being buggy for me in general. This is a consistent repro for me so far, but sometimes it doesn't work even without touching pan and zoom. `Esc` always works.

[2018-06-20 00:53] rishig commented on #9756
Not a real solution, but in case it helps: one thing I've found myself using in this situation is the `group-pm-with:` search, which will get all the Group PMs with a certain user, and then using that to find the thread I'm looking for.

[2018-06-20 11:15] showell opened #9779 "hotkeys: Don't override control-K and control-S"
On FF (and probably all browsers) we currently have control-K do the same action as control-k (open search) and control-S does the same action as control-s (star message).

We should let the uppercase commands fall through to the browser.

The problem is that we essentially ignore the shift key here:

[code]

[2018-06-20 12:17] asiamarek commented on #9777
@zulipbot claim

[2018-06-20 13:07] akashnimare commented on #9779
I think adding a `!e.shiftKey` check should do the job here?
[code]

[2018-06-20 13:44] akashnimare opened #9780 "settings: setting items are broken in the smaller window."
I can't open the setting items in the smaller window. This works as expected on other Zulip servers.

![](https://chat.zulip.org/user_uploads/2/b1/iCkTmgQEg_4Cv-AbPkN7qsuQ/Screen-Recording-2018-06-19-at-09.10-PM.gif)

[2018-06-20 13:44] akashnimare commented on #9780
@zulipbot claim.

[2018-06-20 15:09] #9763 closed

[2018-06-20 15:10] timabbott commented on #4998
@ankush981 can you explain exactly what you did?  It works fine to just do a `git clone` instead of downloading a release tarball and do an install off of master...

[2018-06-20 15:17] skunkmb commented on #9779
@zulipbot claim

[2018-06-20 15:25] timabbott commented on #9779
yes that should work.

[2018-06-20 17:15] Lyla-Fischer opened #9785 "Add title tag to user list toggle button and left sidebar button"
When you are on a small screen or you adjust the window to be small, the buttons for the right sidebar (the user list) and left sidebar (the streams list) do not have a title tag.

[2018-06-20 17:45] eeshangarg commented on #9163
Just submitted a WIP PR #9786 for this! I should be able to finish it in the next day or two! :) Thanks!

[2018-06-20 20:32] #9396 closed

[2018-06-20 22:02] showell commented on #9684
@rishig I think we can close this?

[2018-06-21 00:10] lonerz commented on #7995
@zulipbot claim

[2018-06-21 10:32] burek967 commented on #9689
@zulipbot claim

[2018-06-21 13:23] JLoppert opened #9792 "Heroku webhook message format improvement"
The current Heroku webhook message format assumes a single git log line will be passed, however it is possible that multiple git log lines can be passed in a single webhook.  For example, the CI build may fail to deploy a commit due to an error from Heroku:

Message: Cannot run one-off process at this time. Please try again later.
Reference:
failed to deploy

The next successful CI build may deplo

[2018-06-21 13:58] lukasIO commented on #9081
we are also evaluating zulip as a slack replacement and as a media company we highly appreciate the quick-preview options (like in slack).
what would be the necessary steps to realise this? I'm not very familiar with electron, but web-view and videos should be something that is quite easily realisable?
The whole uploading an file storing seems to be solved anyways, we basically just want a video t

[2018-06-21 16:38] rishig commented on #9684
We still need something for Starred messages. I guess let's do Ctrl+Alt+s.

[2018-06-21 18:12] skunkmb commented on #8051
@zulipbot claim

[2018-06-21 19:03] akiva-rogawski commented on #6880
@zulipbot claim

[2018-06-21 19:08] akiva-rogawski commented on #6512
@zulipbot claim

[2018-06-21 19:15] rishig opened #9797 "right sidebar: Clicking to right of name doesn't register as click."
If you hover over a name in the right sidebar, you get a grey bar. Clicking anywhere in that grey bar should register as a click, similar to how we do it for stream names in the left sidebar.

[2018-06-22 06:01] rishig commented on #6100
As an update, for folks finding this via google: you can set up mobile push notifications via the instructions at https://zulip.readthedocs.io/en/stable/production/mobile-push-notifications.html.

[2018-06-22 10:10] FoggyFinder commented on #6427
any updates?

[2018-06-22 11:08] ghost opened #9801 "[Django] sateam: maximum recursion depth exceeded while getting the str of an object"
Hi,

I'm getting this in my installation:

[code]

thanks for any pointers.

[2018-06-22 12:57] #9797 closed

[2018-06-22 13:10] #9779 closed

[2018-06-22 15:30] akashnimare commented on #9785
a) For the right user list button title = "User list"
b) For left stream list button title = "Stream list"

Is this correct? I can add it quickly if this sounds good.

[2018-06-22 16:01] mynoheart opened #9802 "Unable complete registration on self-hosted instance"
When step enter password field "Full name" is hidden but it required for complete registration.
Attached screenshot for explaration.
![screenshot1](https://user-images.githubusercontent.com/6002083/41786584-932c7c74-764e-11e8-8cd6-5aa3e0812b49.PNG)

Thanks.

[2018-06-22 17:16] shubham-padia opened #9803 "Clicking keyboard shortcuts icon on bottom right closes compose box."
From https://chat.zulip.org/#narrow/stream/6-frontend/topic/keyboard.20shortcut.20kills.20msg

[2018-06-22 17:17] shubham-padia commented on #9803
@zulipbot claim

[2018-06-22 17:47] akashnimare commented on #9802
@mynoheart Did you mean the **Full Name** field is hidden and you can't enter anything?

[2018-06-22 17:49] mynoheart commented on #9802
@akashnimare Yes.

[2018-06-22 17:53] akashnimare commented on #9802
Do you see the **Full Name** if you remove the `display:none` property from the console? Can you paste the screenshot here?

[2018-06-22 17:56] mynoheart commented on #9802
@akashnimare Yes, if remove ```display: none``` then i see field and may enter full name, after this registration succefull to be complete.
I now not may attach screenshot, sorry.

[2018-06-22 18:05] akashnimare commented on #9802
Okay, it's a bug. @hackerkid I think something went wrong in this commit -
https://github.com/zulip/zulip/commit/3dd9f61851dd99dfb4fd5e0c8786eb36afa42f82

Hence the **Full name** field is hidden.

![image](https://user-images.githubusercontent.com/2263909/41791947-ef888654-7674-11e8-9a9d-32ac520d138a.png)

[2018-06-22 18:07] swetanjal commented on #8631
Yes I am still working on the issue. In fact I have finished working on it long time back. @shubhamdhama has also reviewed it. Only waiting for the final review by @timabbott before it gets merged.

[2018-06-22 18:07] mynoheart commented on #9802
Yes, i also think that this commit broke form registration :-)

[2018-06-22 18:31] hackerkid commented on #9802
@mynoheart @akashnimare Yeah. A check for whether import settings` select` exists was missing in that commit.

See this for example.
![img](https://user-images.githubusercontent.com/7190633/41593222-ff21405a-73dc-11e8-8c0f-25b971eab3e5.gif)

Created #9805 to fix this :) Thanks for the report!

[2018-06-22 21:15] rheaparekh commented on #9239
@zulipbot I am still working on this.

[2018-06-22 21:17] rheaparekh commented on #9239
@timabbott We can add one more field in `UserProfile` model (maybe `allow_private_messages`), which can be set to False for Slack interface bots. So this would help recognize which users are not accepting PMs from the client side (Hence show a compose warning).

[2018-06-23 10:57] akashnimare commented on #8217
Hmm, maybe not. Why do we want to add the restart tutorial feature? Generally, users familiar with the interface would want to skip the tutorial. IMHO we could add the skip button without adding the restart feature and later if we see there is any need for the restart button, we can add the same.

[2018-06-23 17:56] #9802 closed

[2018-06-23 17:58] timabbott commented on #9801
I've never seen this before but @shubhamdhama is starting some work on this URL embeds codebase and might be able to help debug how this would be possible by reading the code.

[2018-06-23 18:02] jbauernberger commented on #9801
let me know please if there are any additional traces I should provide.

[2018-06-23 18:36] Lyla-Fischer opened #9809 "Numbered instructions in help docs insert a newline incorrectly."
If there is a full line of text in a numbered instruction, the help docs are inserting a newline between the number ittself and the start of the text. See screenshot. That newline shouldn't be there.

![screenshot from 2018-06-23 14-33-32](https://user-images.githubusercontent.com/549661/41812540-c01489b2-76f2-11e8-99e0-8da76fa83921.png)

@synicalsyntax I've noticed Tim pinging you for some doc an

[2018-06-23 19:08] timabbott commented on #9239
I don't think we want to add a field on `UserProfile`; I think it's probably reasonable to just have the bot code for this send a PM back to the user who sent the message telling them that the bot doesn't support responding to private messages?

[2018-06-23 19:19] synicalsyntax commented on #9809
The lines on https://chat.zulip.org/help/change-the-stream-description seem fine, what page is that?

[2018-06-23 19:40] timabbott commented on #9792
@priyankp10 @eeshangarg does one of you want to take this one?

[2018-06-23 19:43] timabbott commented on #9081
I'd love to see someone familiar with our markdown system work on this.  @shubhamdhama do you want to try working on this?  If there's a way we can make this work correctly without needing to run any code processing the videos (i.e. by mostly changing markup), this could be pretty great.

[2018-06-23 19:48] #9502 closed

[2018-06-24 01:19] rishig commented on #9220
Is this superseded by the "import profile" idea?

[2018-06-24 06:15] lonerz commented on #2369
Opened #9808 as a starter. Working on a different approach now.

[2018-06-24 15:57] ankush981 commented on #4998
@timabbott My bad. It was a Postgres tantrum. Sorted it out. Happy contributor incoming!

[2018-06-24 17:18] rishig opened #9815 "integrations: Make it easy to create a bot for an integration."
Currently we ask the user to create a bot on pages like https://chat.zulip.org/integrations/doc/airbrake. We'd like to replace this with an "Add to Zulip" button that does steps 1 and 2 for the user.

The flow should be:
* When you land on the page, it just says "Get Zulip notifications for your Airbrake bug tracker!"
[Add to Zulip]
* Clicking on Add to Zulip should replace the text area with
Firs

[2018-06-24 17:34] rishig commented on #7481
Closing. Our current solution is to do everything in inkscape, which is working fine.

[2018-06-24 17:34] #7481 closed

[2018-06-24 18:09] FoggyFinder opened #9816 "Groups of users"
Is there any plans to add more groups?

Not only admin/user but something between? Especially interesting in read-only users.

---

It can be useful when chat is open for everyone. I ask because recently was a case when new user start to write abusive messages. It was required to set access only by invitation for a while.

[2018-06-24 18:09] timabbott commented on #9220
"import profile" is ~complete and handles hotspots but I think not this; @hackerkid is that correct?  If so, can you do a PR with a first commit to suppress at least the day2 welcome email for users imported this way?  The second commit (to change the day1 email) would need a bit more thought from @rishig on the email's content... @rishig do you think we can make this work by just having the day1

[2018-06-24 18:13] timabbott commented on #9816
@FoggyFinder we have a few things in flight for that.

One is a "web-public archive" feature, which makes it possible to have certain streams readable by anyone on the Internet without creating an account.

The second is a "report spam" feature, which makes it easy to quarantine accounts of people who are sending abusive messages.

Would some combination of these solve the problem you're looking t

[2018-06-24 18:17] FoggyFinder commented on #9816
Sadly, no. Disabling the user does not solve the problem - a new account is created and the attack is repeated.

[2018-06-24 18:22] timabbott commented on #9816
Well, the web-public archive will do what you need for people who are that persistent.  But the concept behind "report spam" is that the first 1-2 people who see the abuse click it and the user's abuse is stopped (and any message they has sent hidden) so that the impact is slow.  The hope is that will help with less persistent attackers of that form (we've had a few who've shown up harass people i

[2018-06-24 18:32] shubhamdhama commented on #9801
I've tried doing debugging and agreed that I need more leads to debug this, definitely if we can figure out the URL for which it showed this error will helpful.

[2018-06-24 18:34] hackerkid commented on #9220
Yup. I have a PR already for this. Will make some changes and update it tomorrow :)

[2018-06-24 18:35] gioragutt opened #9817 "Add support for `hash` based URLS in Filter patterns"
[Related source code](https://github.com/zulip/zulip/blob/0212113569748ecac083db85aa40b974d2d53d2a/zerver/models.py#L512)

Snippet:
[code]

Problem
---------

I'm trying to add a filter to a site that uses a hash based router, which basically makes the url look like:

`http://some-site.domain.com/#/c/$(id)s`

And looking at `THE REGEX`, it does not allow a hash (`#`) in the url.

Solution
--------

[2018-06-24 18:37] gioragutt commented on #3783
Hey guys, any update on this? I really like zulip and this point is really critical for me and the organization.

[2018-06-24 18:42] rishig commented on #9220
Can we just suppress day1 email as well? It's not that important for them to get their org_URL from the email.

[2018-06-24 18:44] rishig commented on #3783
Thanks for writing in!
The majority of the work for this has been done and merged: https://chat.zulip.org/help/stream-permissions.

Is there a part of this on top of that is still critical?

[2018-06-24 18:51] gioragutt commented on #3783
@rishig Hey, I'm currently using the `docker-zulip` repo that does not have this feature yet. It sits on version 1.8.1-0. In what version was the feature merged?

Also, thanks for the quick reply!

[2018-06-24 19:03] rishig commented on #3783
hm .. it's in master, and 1.9 is more than a month away.
Is the following possible in a docker install?
http://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#upgrading-from-a-git-repository

You may also get more visibility for your question on https://chat.zulip.org.

[2018-06-24 20:34] gioragutt commented on #9816
@timabbott how about semi-readonly streams? As in streams that only certain accounts (specific emails, user groups) can post in?

Also, how about user(-permission)-groups? Let a set group of users permissions to perform some kind of action?

[2018-06-24 22:03] timabbott commented on #9817
Adding a hash in fine; feel free to submit a PR with a test in `test_realm_filters.py`.  We generally want to make the rules for creating filters less unnecessarily limited, but we can fix this now and regardless it will be a helpful test case.

[2018-06-24 22:08] timabbott commented on #9816
@gioragutt in master (for 1.9.0) we've added a feature that limit sending to a give stream to organization admins.  The plan is to extend that to allow specifying a user group as well, though that won't be in 1.9.0.

We're trying to avoid building a completely generic "group permissions" system for now, since that entails a huge amount of subtle security model complexity, and it's not needed for m

[2018-06-24 22:08] #9816 closed

[2018-06-24 22:12] timabbott commented on #9220
@rishig for security/ToS model reasons, I think it's important to send a confirmation email when someone signs up for a new account (if they're doing Google auth, there may have been no email transaction), so I think we do want to send an email.  And I think it is valuable to have an email with the organization URL, because if they are on a new computer and forget how their organization URL is spe

[2018-06-24 22:14] timabbott commented on #3783
The Docker repo does have instructions on upgrading to a Git version.

[2018-06-25 02:36] YJDave commented on #9815
@zulipbot claim

[2018-06-25 06:41] mynoheart commented on #9802
@akashnimare When fixing this problem will into release?

[2018-06-25 11:30] akashnimare commented on #9802
@mynoheart this is being fixed in the master so if you're using the code from master this should work. I think we'll push the next release within a month (~before the end of July).

[2018-06-25 11:53] mynoheart commented on #9802
@akashnimare Thanks.

[2018-06-25 11:59] mynoheart opened #9819 "Make hotkeys independent from current keyboard locale"
At this moment hotkeys works only if locale is english, but when use cyrillic not.
May be better use key code, instead key letter?
For example perfectly realisation hot keys in Trello.

Thanks.

[2018-06-25 13:32] akashnimare commented on #9819
Interesting. The shortcuts with a single letter like `r`, `P` etc doesn't seem to work on cyrillic but shortcuts with CMD/CTRL works like CMD+k etc.

[2018-06-25 14:46] akashnimare commented on #9809
I think it's https://chat.zulip.org/help/configure-desktop-notifications, it looks okay to me -

![image](https://user-images.githubusercontent.com/2263909/41857187-8b10f0d4-78b4-11e8-8a45-119ff58960a9.png)

[2018-06-25 14:48] sidkshatriya opened #9820 "Trying to make zulip dev server available on a non-local IP"
I'm trying to make the zulip dev server available on an non-local (but private) IP address. The objective is for others to be able to play around with zulip also. I am still evaluating zulip and want my team members to do so also.

I followed the instructions for installing the dev server from https://zulip.readthedocs.io/en/latest/development/setup-advanced.html#installing-directly-on-ubuntu-or-d

[2018-06-25 14:50] sidkshatriya commented on #9820
BTW I'm at commit `c0751c0644a1f3e`

[2018-06-25 14:51] akashnimare commented on #9748
I'm working on this with @synicalsyntax. We tried again the simple-scrollbar and looks like it doesn't work for our app. After that, we tried [simplebar](http://grsmto.github.io/simplebar/) which works well but gives two scrollbars (which could be fixed using some CSS refactoring).

<img src="https://chat.zulip.org/user_uploads/2/bb/MBAfloNzeevxLU6adWvEQv4N/Screenshot-at-Jun-22-13-45-20.png"/>

[2018-06-25 15:01] mynoheart commented on #9819
@akashnimare Yes, i confirm this difference behavior.

[2018-06-25 15:24] shubham-padia opened #9822 "integrations: Match phrase instead of fuzzysearch"
From https://chat.zulip.org/#narrow/stream/9-issues/topic/integrations.20search

[2018-06-25 15:24] shubham-padia commented on #9822
@zulipbot claim

[2018-06-25 15:26] mynoheart opened #9823 "Tray icon when income new messages"
Normal icon and icon when incoming new message not strong different.
For example in Skype when new message in icon bright number and good see that incoming new message. Attached two screenshots for example.

![screenshot1](https://user-images.githubusercontent.com/6002083/41859327-a38a5f16-78a4-11e8-890e-c03d4a1c706b.PNG)
![screenshot2](https://user-images.githubusercontent.com/6002083/41859328-a3

[2018-06-25 15:35] sidkshatriya commented on #9820
I was able to get this to work by issuing: `./tools/run-dev.py -interface=''`

Let me know if this is the correct way of going about this.

[2018-06-25 15:48] akashnimare commented on #9823
I think you're talking about the desktop app here. Can you open this issue in the desktop repo (and close this one) -

https://github.com/zulip/zulip-electron/issues

[2018-06-25 16:38] mynoheart commented on #9823
@akashnimare I'm sorry)

[2018-06-25 16:38] #9823 closed

[2018-06-25 17:00] sidkshatriya commented on #9820
I am encountering another issue:

When I try to click on any of the users on `http://10.XX.XX.XX:9991/devlogin/` e.g. iago@zulip.com then I am sent to `http://localhost:9991/accounts/login/local/?next` which is clearly an error. When I try to manually go to `http://10.XX.XX.XX:9991/accounts/login/local/?next` I get the following error in zulip:

[code]

[2018-06-25 17:03] Lyla-Fischer commented on #9809
I just checked it again, and it seems to be fine now. Sorry about the notification. I don't know what it was.

[2018-06-25 17:03] #9809 closed

[2018-06-25 17:52] shubhamdhama commented on #9148
@zulipbot claim I guess Rohit is travelling so taking this issue

[2018-06-25 18:02] rheaparekh opened #9827 "widgets: Poll widget disappears on narrow to 'All messages'."
Steps to recreate:
1. Start the poll widget in a stream.
2. Narrow down to `All messages`. The poll widget disappears here. If it doesn't, narrow to the stream and then back to `All messages`.
3. Stay in `All messages`. Refresh your browser. The poll reappears.

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/25330892/41866969-58108eb8-78cf-11e8-9f61-d08e3bb1343d.gif)

@zulip

[2018-06-25 19:03] kurianbenoy opened #9828 "Add supporting docs for installing zulip on debian 10"
I had faced some issues while installing Zulip in the my system which runs **Debian 10-buster**. I have successfully completed installation with help of Zulip project admins. I wished to contribute to the documentation part for supporting Debian 10.

I wish to contribute to this issue and please help me in navigation where docs for this page is
[Vagrant setup](https://zulip.readthedocs.io/en/lates

[2018-06-26 02:53] shubhamdhama commented on #9827
@zulipbot claim

[2018-06-26 02:58] shubhamdhama commented on #9827
The problem here is that we have different rows for "All messages" and narrowed stream/topic, so trying to figure out a generic solution here.

[2018-06-26 06:28] sidkshatriya commented on #9820
I was able to get the dev server working by `export EXTERNAL_HOST=10.XX.XX.XX:9991`.

However, by simply entering the above URL in the browser window (GET) I should not be getting an error.

[2018-06-26 15:46] inquiryqueue opened #9834 "email notification of mentions leaks private stream's prior messages to new member"
**Observed behavior:**
1. I was added to a private stream.
2. The person who had added me sent a message to that stream, mentioning my user account with @.
3. As expected, I could not see any prior messages in that stream; the first one was that welcome message.
4. I received an email to let me know I had been mentioned on Zulip.
As is typical with "mention" notifications, the email included about

[2018-06-26 17:41] brickbite commented on #9157
Still working on this. Will be writing updated tests. Reviewing the formats that messages can come in (and the different types of tags that might need to be handled)

[2018-06-27 00:38] #9822 closed

[2018-06-27 06:13] Anupam-dagar commented on #9510
@zulipbot claim

[2018-06-27 08:36] mynoheart opened #9840 "Not work email gateway with stream with cyrillic characters in name"
If name stream for example "Тестовый стрим", then email gateway have kind ```user_name+Тестовый%0032стрим+id_id_id_id_id_id_id_id_id@example.com```.

When send email to this address Zulipchat throw error and send message with error to admin email (attach screenshot with example).

![screenshot1](https://user-images.githubusercontent.com/6002083/41962634-3425362c-79fe-11e8-8d14-9f4f97623143.PNG)

[2018-06-27 12:16] lennartgrunau commented on #9422
Just verifying that it seems to work.

[2018-06-27 12:54] sarvesh211999 commented on #7549
Is this issue still open

[2018-06-27 12:56] Anupam-dagar commented on #7549
@sarvesh211999 my PR for the issue is waiting for a review.

[2018-06-27 13:00] shubham-padia opened #9842 "Display user avatar in input pills."

[2018-06-27 13:00] shubham-padia commented on #9842
@zulipbot claim

[2018-06-27 13:14] shubhamdhama commented on #9686
@zulipbot claim

[2018-06-27 15:20] #9686 closed

[2018-06-27 15:48] #9780 closed

[2018-06-27 19:34] #9611 closed

[2018-06-27 23:20] ljagielski2 commented on #9792
I'm interested in contributing, could I take this one?

[2018-06-28 00:36] ljagielski2 commented on #9792
@zulipbot claim

[2018-06-28 06:59] mvrhov opened #9846 "Internal server error after login"
One of our users is experiencing the 500 after successful login. We are running 1.8.1
The traceback in the log is:

[code]

[2018-06-28 08:21] ask5898 commented on #6018
@zulipbot claim

[2018-06-28 15:01] abhigyank opened #9847 "Auto logout from zulipchat servers on Github login"
To reproduce:
* Open a zulipchat server and login (by any method).
* Open another zulipchat server in a new tab.
* Login into the second zulipchat server using github auth.
* the first zulipchat in the first tab will be logged out.

It doesn't matter if the two accounts are related or not i.e. they can have different emails related to them.
In case multiple zulipchat servers are logged in in multi

[2018-06-28 15:50] brainwane commented on #2047
@punchagan How's this going?

[2018-06-28 18:04] #9827 closed

[2018-06-29 10:44] jbauernberger commented on #9801
the 2 links that were shared in this topic and caused it were:

1) https://www.kdware.cn/?page_id=386

2) https://www.yeeloc.com/mobile/ling.html

[2018-06-29 14:46] gioragutt opened #9849 "Initial feedback from initial on-premise integration"
Hi, I recently integrated `zulip` (via `docker-zulip`) in our on-premise network, and everything seems to work nicely so far 😄
There are certainly features missing that we would like, some of them will be taken care of by the next release (GJ guys, seriously).

Here's a summery of features/questions from the first couple of days:

### Default streams based on profile fields

I think this is someth

[2018-06-29 15:23] ljagielski2 commented on #9792
I posted in the new members stream, and it looks like I'm ok to take this one. Going to start working on it, thanks!

[2018-06-29 16:31] shubhamdhama commented on #9801
Thanks, @jbauernberger by using https://www.yeeloc.com/mobile/ling.html I was able to reproduce this issue.
But after restarting the server it worked properly, looks like it got cached. I'm trying to fix this after clearing the cache.

[2018-06-29 17:05] swallitsch opened #9851 "Emoji reaction pane stuck on"
One of our users keeps getting their emoji reaction pane stuck on.

No extensions or add ons.

Chromium Version 61.0.3163.79 (Official Build) Built from source for Red Hat Enterprise Linux Server release 6.9 (Santiago) (64-bit)

Zulip server is 1.8.1-rc1

![image](https://user-images.githubusercontent.com/32879218/42105054-db5b4022-7b83-11e8-9313-1bc295d2111f.png)

[2018-06-29 18:13] ghost opened #9853 "browser console errors"
Hi,

I see the following errors/warning in the browser console on a fresh zulip install.
The site has LetsEncrypt but gives mixed content errors presumably due to preview URL's of shared links not being served over https.

1. GET https://team.somesite.io/static/locale/en/translations.json 404 (Not Found)
2. Mixed Content: The page at 'https://team.somesite.io/#' was loaded over HTTPS, but requeste

[2018-06-29 21:01] ojshaw commented on #4804
Yup!

[2018-06-30 06:54] hundredrab commented on #7446
@zulipbot claim

[2018-06-30 12:01] showell opened #9854 "api docs: Make downloading-zuliprc/get-api-key more prominent."
We should probably have a single page dedicated to getting credentials.  This came up not only from a Zulip customer, but I can also relate to recent giphy experience where I went to their site and just wanted to get an API key (because I already had a working program and just lost my credentials).

We should then link to it from the Overview page and maybe other quick links for each of the major

[2018-06-30 13:40] skunkmb commented on #9612
@zulipbot claim

[2018-06-30 14:04] YagoGG opened #9856 "api docs: Make the API docs pages be more self-contained."
Some people may come across our API docs through external sources (search engines, links from other websites, etc.).

Even though we have a pretty good TOC and overall structure in the docs, it may be worth including some information in —almost— every page, like "how to get an API key" in all of the endpoints' documentation pages.

See [here](https://chat.zulip.org/#narrow/stream/127-integrations/

[2018-07-01 00:50] lonerz commented on #7995
yep.

[2018-07-01 08:47] timabbott commented on #9820
@sidkshatriya using `--interface=''` and setting the `EXTERNAL_HOST` environment is the supported way to do this in development.

The error you were seeing with `direct_email` was from trying to do a GET request to a POST endpoint; your request was missing the required POST parameter `direct_email` for that request.

This is all documented here: http://zulip.readthedocs.io/en/latest/development/re

[2018-07-01 08:47] #9820 closed

[2018-07-01 09:10] timabbott commented on #9853
The first `GET` error is a bug with our internationalization framework that's been fixed in master; will be in the next release.

But the image issues (etc.) I don't understand.  We use the `camo` package to prevent mixed-content warnings, so unless you turned that service off, this shouldn't be happening.  How did you install your server (I could imagine this being an issue with the Docker image)

[2018-07-01 09:16] timabbott commented on #9853
Did you change your hostname partway through installing by any chance?  This is an unfamiliar issue so you must be doing something unusual; and that might suggest a possible explanation.

[2018-07-01 09:54] #9351 closed

[2018-07-01 11:02] timabbott commented on #9163
This was implemented in #9786 (looks like @eeshangarg forgot to add the tag to have this auto-close the issue).  Thanks everyone!

[2018-07-01 11:02] #9163 closed

[2018-07-01 11:32] timabbott commented on #9856
We should look at how other API docs for products people like the API docs for (e.g. Stripe) solve this problem.

[2018-07-01 11:33] #9854 closed

[2018-07-01 11:41] timabbott opened #9857 "Aggressively fetch topic history for search/compose suggestions"
We can implement this by doing an AJAX query to the server's `get_topics_backend` endpoint to fetch all topics in a stream once we're trying to do typeahead; that way, we can have the complete set of valid topics available for doing search autocomplete.  See https://chat.zulip.org/#narrow/stream/2-general/subject/autocomplete.20topic.20age/near/602615 for some context.

The tricky part about this

[2018-07-01 13:20] timabbott commented on #9846
@mvrhov I don't think I've seen this before.  What version of Zulip did you initially install, and did you subscribe users to streams directly via the database at any point?

(The reason I'm asking is that the exception here seems to be caused by the user in question having a `Subscription` object for a given stream without a `RealmAuditLog` object recording when the user was subscribed to the str

[2018-07-01 13:28] mvrhov commented on #9846
Initial version was some version of upcoming 1.8. I needed that particular version because it came with slack import. This is the only user that has trouble logging in (we did install before 1.8 become stable), but this particular user hasn't logged in yet until a couple of days ago.

[2018-07-01 13:30] timabbott commented on #9851
@swallitsch anything in the JS console?  That pane should be hidden every time one scrolls (among other things), so I'd expect there to be a traceback if this isn't working.

[2018-07-01 14:43] timabbott commented on #9846
OK.  There are some bug fixes for the soft-deactivation code path that have gone into master since shortly before 1.8, including fdfbd45208d318420bfe19baf0122f9a5c9db481.  I don't think any of those would fix the exact problem you're seeing, though.

Wait, did you say that this organization was imported from Slack?  That actually would explain the exception here; you probably don't have `RealmAudi

[2018-07-01 14:48] timabbott commented on #432
@gnprice FYI; I think the downsampling-before-upload issue is really something for the mobile repo.

[2018-07-01 15:33] timabbott commented on #9840
The bug is almost certainly in the encoding algorithm in `encode_email_address_helper`.

@andersk do you happen to know what the right fix is here?  I suspect we want "alphanumeric" to be replaced by "valid characters for an email address" in the logic, which isn't the same thing in the presence of unicode.

@YagoGG this is probably a good thing for you to work on while you have the email mirror c

[2018-07-01 15:55] rheaparekh commented on #9846
@zulipbot claim

[2018-07-01 19:30] ask5898 commented on #6018
@zulipbot abandon

[2018-07-01 19:32] timabbott commented on #9834
@inquiryqueue thanks for the bug report!  This is interesting.  The correct fix for this is (as you suggest) to adjust the `get_context_for_message` code path to limit the query to only those messages the user has access to.  I'm not entirely sure what the simplest way to implement that concept is without semi-duplicating code or calling `access_message` in a loop (which would be really inefficien

[2018-07-01 19:40] #9732 closed

[2018-07-01 19:44] #9792 closed

[2018-07-01 20:15] andersk commented on #9840
From `encode_email_address_helper`:

[code]

As of [RFC 6531](https://tools.ietf.org/html/rfc6531), literally every character except U+0000–U+001F and 0+007F is allowed in an email address, provided that certain special characters are quoted and there are no leading or trailing spaces. However, if the intention is to work around non-compliant mail software, yeah, `"\W"` isn’t what you want.

(Plus

[2018-07-01 21:04] andersk commented on #9840
Ah, that’s `W605` in pycodestyle 2.4.0, currently [ignored](https://github.com/zulip/zulip/commit/f5ea661c1f77b0b99a01ff9f26eed8a5da463fa2#diff-863e8a02997cd29a5aa04af3af388d40R44).

[2018-07-01 21:12] borisyankov commented on #432
@Hr46ph thanks for suggesting this for mobile.
I have filled an issue for that:
https://github.com/zulip/zulip-mobile/issues/2749

[2018-07-02 04:01] shubhamdhama commented on #8843
@zulipbot claim

[2018-07-02 04:47] skunkmb commented on #8051
@zulipbot claim

[2018-07-02 11:03] lucas1 opened #9863 "Link not found"
Hi,

this link wget https://dl.dropboxusercontent.com/u/283158365/zuliposs/postgresql-9.4-tsearch-extras_0.1_amd64.deb not found, update please

Thanks.

[2018-07-02 19:05] rishig opened #9866 "emails: Add preheader to "new login" emails."
It currently looks like
![image](https://user-images.githubusercontent.com/890911/41995052-40fadbac-7a05-11e8-8e8e-7b86fe606c82.png)

The preheader should be
Server: xxx Account: xxx Time: xxx

This will make it easy to verify, without having to click through to the email.
You can see how we do preheaders by looking at the missed message emails.

[2018-07-02 22:44] showell opened #9868 "bot settings: Refine error handling"
See suggestions in #9867, which fixes bugs but doesn't address usability.

[2018-07-03 00:00] showell commented on #8118
See also #9869, which doesn't address this bug specifically, but which fixes how we were saving collapsed/uncollapsed across reloads.

[2018-07-03 01:33] synicalsyntax commented on #3916
@timabbott @showell Is this issue still relevant? Can't seem to reproduce on master (#all is an unpinned stream)

![screenshot at jul 02 18-33-02](https://user-images.githubusercontent.com/15116870/42193956-6796f924-7e26-11e8-8eae-b2999ec4c059.png)

[2018-07-03 13:05] #9868 closed

[2018-07-03 14:42] YJDave opened #9875 "custom fields: Minor followups of custom profile fields."
Custom profile field project's followups:

- [x] The number elements in the date picker field feels pretty ugly in Chrome on Linux; I think http://www.fix-css.com/2015/04/disable-input-number-field-arrows-from-css/ suggests it's something the browser's doing that we need to turn off. More details on

- [x] The CSS for showing you can drag the rows of the custom profile field settings setup is wron

[2018-07-03 16:36] #9127 closed

[2018-07-03 16:59] timabbott opened #9876 "GitHub auth: Support letting the user pick which email address to login as"
Following some refactoring that I recently did to how our python-social-auth implementation works to now be setup the way that python-social-auth expects to be integrated with, it's now possible to support letting the user pick which of the email addresses associated with their GitHub account that they want to login using.

To implement this, we'll need to do the following:
* Read about how `pytho

[2018-07-03 17:29] Geocali opened #9877 "Can't install Zulip - ModuleNotFoundError: No module named 'scripts.lib'"
On ubuntu 16.04, I ran

`cd $(mktemp -d)
wget https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz
tar -xf zulip-server-latest.tar.gz`

And then (I was already logged in as root), with YOUR_EMAIL and YOUR_HOSTNAME replaced :

`./zulip-server-*/scripts/setup/install --certbot --email=YOUR_EMAIL --hostname=YOUR_HOSTNAME`

Then, I got:

  File "/tmp/tmp.G6mxzU94Ab/zulip-server-1.8.1/scripts

[2018-07-03 18:02] timabbott commented on #9877
I've never seen something similar, so something is weird about your environment.

That should just work, and we hardcore calls to Python to be `python3` where we need Python, so the python alias shouldn't matter.  Can you post the full `install.log`?

[2018-07-03 18:37] ciupicri commented on #9127
I've just tested it and it worked like a charm.

[2018-07-03 18:49] timabbott commented on #9127
Awesome, thanks so much for your help in debugging this @ciupicri!

[2018-07-04 00:09] zy964c commented on #9228
@zulipbot claim

[2018-07-04 06:01] fujimotos opened #9883 "bugdown: Realm filters do not match patterns with leading non-whitespace characters"
### Background

My company is using Zulip for project management (sales/devs communication etc.)

Since we often have conversations like "What is the current status of `#5000`?" or
"I attached the file to the ticket `#123`", we have set up a custom filter to autolink
the pattern `#<number>`.

![2018-07-04-140225_537x117_scrot](https://user-images.githubusercontent.com/8974561/42258998-70a35ef8-7f9

[2018-07-04 06:21] fujimotos commented on #9883
Related: #7740

[2018-07-04 07:08] Geocali commented on #9877
Hello Tim !

Here is the full install output :

<pre>
root@vps561713:/tmp/tmp.7V0azNiUvf# ./zulip-server-*/scripts/setup/install --certbot --email=clement.vial@gmail.com --hostname=zulip.wsm.ovh
+++ dirname ./zulip-server-1.8.1/scripts/lib/install
++ readlink -f ./zulip-server-1.8.1/scripts/lib/../..
+ ZULIP_PATH=/tmp/tmp.7V0azNiUvf/zulip-server-1.8.1
+ export LC_ALL=en_US.UTF-8
+ LC_ALL=en_US.UTF

[2018-07-04 08:02] timabbott commented on #9847
I can reproduce this is in production and development.  For this discussion, "first.zulipdev.com" will be the domain you logged into first, and "second.zulipdev.com" will be the one you logged into via GitHub auth afterwards.

The root cause seems to be that the GitHub auth backend sets a (temporary) Django `session` cookie on the root domain when initiating authentication.  You can see this if yo

[2018-07-04 15:25] vulkman opened #9885 "Feature request: macOS Bounce to Alert"
Right now Zulip supports integration with Notification Center, which is great, but for users of the fullscreen mode it would be great to also use Bounce to Alert, so you see the icon even when you have another app in fullscreen and are in Do-not-Disturb mode.

[2018-07-04 17:51] gioragutt commented on #9849
@timabbott

[2018-07-04 20:49] alexjurgensen commented on #9222
Any news on this issue. I'm a screen reader user and am having a nightmarish time using Zulip.

[2018-07-04 22:06] badmon commented on #6018
@zulipbot claim

[2018-07-05 01:39] lonerz commented on #2369
yes

Sent from mobile. Please excuse any typos.

On Wed, Jul 4, 2018, 3:58 AM zulipbot <notifications@github.com> wrote:

[2018-07-05 08:57] timabbott commented on #9885
@vulkman this should be an issue in https://github.com/zulip/zulip-electron

[2018-07-05 08:57] #9885 closed

[2018-07-05 09:01] timabbott commented on #9883
@fujimotos thanks for the report!  I think probably in English it is correct for us to be checking for whitespace (and it'd be a bug to change that); we just need to extend this to handle languages that don't expect whitespace between words.

I think the code in question is `prepare_realm_pattern`.

@andersk do you have thoughts on what the right mechanism regular expression rule is for this?  (Ac

[2018-07-05 09:45] rheaparekh commented on #9608
@zulipbot claim

[2018-07-05 09:47] timabbott commented on #9222
@bramd @alexjurgensen I'd really love to see improving this happen.  Tagged as a priority and adding some notes.

@synicalsyntax would you be up for tackling this?  I imagine that you can get a lot of help with testing your work from the folks following this thread and just keep updating a PR with commits for the various improvements that you develop (could be a project for the next week or two wh

[2018-07-05 09:54] timabbott commented on #9877
Hmm, weird.  I think you're going to need to print-debug this a bit, adding in the line before the one throwing the error in `scripts/lib/create-production-venv` something like

[code]

so we can figure out why the `/tmp/tmp.7V0azNiUvf/zulip-server-1.8.1/` isn't being properly added to the Python module search path...

[2018-07-05 09:55] timabbott commented on #9877
(This block should have been taking care of that):
[code]

[2018-07-05 10:31] #9513 closed

[2018-07-05 10:43] timabbott commented on #9849
@gioragutt thanks for the feedback!  It probably makes sense to split this into several issues for follow-ups.

I think you can fix this by changing your LDAP configuration to use strategy `(C)` if you care.

@Shayan-To is actually working on RTL support this week, so you may get to try it out soon.

Can you open a separate issue for this?  I think it's a good idea and something we've intended to

[2018-07-05 10:44] timabbott commented on #9849
Closing this issue since it's not a single thing to fix, but thanks again for all the feedback!  We really appreciate this sort of long-form report on one's experience :)

[2018-07-05 10:44] #9849 closed

[2018-07-05 10:45] #9866 closed

[2018-07-05 11:33] Geocali commented on #9877
Yes, I had done that, but I didn't find anything from this.
There was probably some interferences with nginx and gitlab, so I installed everything, and the zulip installation worked, thanks !

[2018-07-05 12:09] hackerkid opened #9892 "Error while creating a bot when the host of the server is set to ip address"
https://chat.zulip.org/user_uploads/2/18/biO1-VlMgfCY_4PcV1RHqIhM/Capture.PNG

In the above example `test-bot@10.0.0.5` is not considered as a valid email by Django because it has an ip address as the email host.

See https://chat.zulip.org/#narrow/stream/127-integrations/topic/adding.20new.20bot for more details.

[2018-07-05 12:09] hackerkid commented on #9892
@zulipbot label "area: bots"

[2018-07-05 12:22] timabbott commented on #9877
OK, closing.

[2018-07-05 17:53] showell opened #9893 "Improve experience for random-access queries (near/id/sender/search/etc.)"
For queries like near:250000 or id:333333, we might want different behavior based on some recent feedback.

First, if you do a "random access" query that does something like jump you to an id or filter on keywords (aka "search"), then we possibly want to take the user out of message-reading mode and never mark messages read.   The rationale here is just because somebody sends me a link to one part

[2018-07-05 17:57] showell commented on #9893
chat discussion here:

https://chat.zulip.org/#narrow/stream/2-general/subject/un-narrow.20view/near/607978

[2018-07-05 18:06] maxnuss commented on #9875
@YJDave can you attach a screenshot of what the number elements look like in Chrome on Linux?

[2018-07-05 18:47] bbigras opened #9895 "easy way to scroll up to the start of a topic"
When I joined a zulip instance I wanted to read some old topics from the very start. I was expecting that maybe clicking on the topic would scroll up to the very first message. I'm not sure what the current behavior is when I click on a topic.

Someone suggested that I could click on a topic and then use the scroll bar manually.

[2018-07-05 18:55] timabbott commented on #9895
The home key can help with this, though it'll paginate in batches of ~100.  If you really want the very first messages, do a search within the topic for `near:1`.

[2018-07-05 19:05] uds5501 opened #9896 "Installation Error in Windows"
* OS : Windows 10
* Vagrant : 2.1.1
* Virtual Box : 20180627.0.1

I was using git bash in administrator mode and hit
[code]

To which I've received the following error:
[code]

Any assistance regarding the matter would be great!

Thank you!

[2018-07-05 19:19] shubham-padia commented on #9876
@zulipbot claim

[2018-07-05 19:33] timabbott commented on #9896
I'd try googling those errors; they're in the Vagrant/Virtualbox layer and thus don't have anything to do with Zulip.

[2018-07-06 03:37] synicalsyntax commented on #9222
@bramd @alexjurgensen  Hey, I'm currently taking a look at this issue!

In regards to setting focus on the message element, there are a bunch of elements inside a messagebox (author name, timestamps, message action icons, etc.) In order to properly have the screen read out loud, should the entire message div element be focused by specifiying its `tabindex=-1` attribute, or only the content of the

[2018-07-06 05:36] devrajatverma commented on #1878
2018-07-05 18:44:56+0530 [-] while handling API request
	Traceback (most recent call last):
	  File "/home/rajat/anaconda3/envs/buildbot/lib/python3.6/site-packages/twisted/internet/defer.py", line 1442, in gotResult
	    _inlineCallbacks(r, g, deferred)
	  File "/home/rajat/anaconda3/envs/buildbot/lib/python3.6/site-packages/twisted/internet/defer.py", line 1386, in _inlineCallbacks
	    result =

[2018-07-06 05:40] alexjurgensen commented on #9222
@synicalsyntax Let's try setting the whole div to be focusable. I would recommend we not set aria-hidden to true for any of the contained elements to preserve functionality. Otherwise, screen reader users would not be able to access those elements.

Thinking out loud, but once the div was made focusable we could look at computing the aria-label property from the contained elements, separated by co

[2018-07-06 08:07] andersk commented on #9883
The [regex package](https://pypi.org/project/regex/) supports applying the [default Unicode word boundary semantics](http://www.unicode.org/reports/tr29/tr29-29.html) to `\b` with the `regex.WORD` flag, which does appear to do the right thing here:

[code]

[2018-07-06 13:21] psyapathy opened #9899 "Install error by install nodejs-legacy"
Hello!

I try to install Zulip Server and i get error in install.log
`
[code]

`

Thank you advance!

[2018-07-06 15:31] BrianChristie opened #9902 "Integrations: Support Google Hangouts Meet"
Hi folks,
This issue is requesting support for Google Hangouts **Meet** as a video (and audio and screenshare) chat integration. Hangouts Meet is distinct from Hangouts (Classic).

Google documents at this blog that all G Suite domains are being migrated from Hangouts (Classic) to Hangouts Meet: https://gsuiteupdates.googleblog.com/2018/05/migrating-all-g-suite-domains-from.html

By way of referen

[2018-07-06 16:29] synicalsyntax commented on #9222
@alexjurgensen Currently, I've set the entire div visible. I've attached a screenshot of what my VoiceOver screenreader is detecting:

![screen shot 2018-07-06 at 9 21 15 am](https://user-images.githubusercontent.com/15116870/42389641-309c8972-80fe-11e8-8732-ea688ca93431.png)

[code]

Does this sound right? I wonder if `Message actions (i)` and `Star this message` which are set by the `title` attr

[2018-07-06 18:55] gioragutt commented on #9817
@timabbot, I had a hard time working out the dev env. I can run manual tests, due to running on docker, but since I'm in windows, I'm having a hard time running the unit tests. Any advice on how to set up a proper dev env?

[2018-07-06 20:48] timabbott commented on #9902
@hackerkid can you look into this?

[2018-07-06 21:04] alexjurgensen commented on #9222
@synicalsyntax Looks good for a first pass. I'm away from a Windows box, so can't check there at the moment.

The Message actions (i) and Star this message which are set by the title attribute on those icons should be removed and replaced with aria-label attributes.

Finally, the unread portion will need some sort of aria-label.

Thanks for your speedy work on this issue.

[2018-07-07 00:09] synicalsyntax commented on #9222
@alexjurgensen Thanks for your feedback! I've opened a work-in-progress PR at #9906. Can you review it when you're available and let me know about any changes I should make?

[2018-07-07 05:55] hmr-it-jr opened #9907 "Support newest Version of Ubuntu 18.04 LTS"
Currently it's not possible to install zulip on Ubuntu 18.04 LTS. The installer stops and it's not possible to continue.

[2018-07-07 08:02] timabbott commented on #9907
This is actually fixed in master; if you don't want to wait for the next release, just clone the repo rather than unpacking the tarball, and it'll work.

[2018-07-07 08:02] #9907 closed

[2018-07-07 08:17] timabbott commented on #9817
@gioragutt one option is to just get a Linux remote dev VM; if you ask on "#development help", @hackerkid can create one for you in Zulip's Digital Ocean account (or you can create your own).

[2018-07-07 11:39] gioragutt commented on #9817
@timabbot, I can alternatively use the docker compose way. I'm using docker for windows, so if I can either use docker OR a vm, not both.

 Can I run tests inside it? I mean, it sounds possible. I'll test it out and tell you.

Thanks for the replys, I appreciate it. I'm constantly looking for feedback from our people, I'll surely add issues for the existing points, and future ones as well.

[2018-07-07 11:56] aero31aero commented on #9883
Definitely, will look into this tomorrow.

On Sat, Jul 7, 2018, 2:56 PM Anders Kaseorg <notifications@github.com>
wrote:

[2018-07-07 13:05] showell commented on #9893
@timabbott approved this plan on chat:

https://chat.zulip.org/#narrow/stream/2-general/subject/un-narrow.20view/near/609447

(His reply comes after some messages that were slightly unrelated to this issue.)

[2018-07-07 17:56] Anupam-dagar commented on #9510
@zulipbot my PR is waiting for a review

[2018-07-09 01:21] andersk opened #9911 "Header div overlaps main scrollbar at some browser widths"
The header div overlaps the main scrollbar completely for browser_width ≤ 1400px + scrollbar_width, and partially for 1400px + scrollbar_width < browser_width < 1400px + 3⋅scrollbar_width. Screenshot of the partial overlap case:

![screenshot](https://user-images.githubusercontent.com/26471/42425575-2f36b666-82ed-11e8-8f01-998554ddb9b6.png)

I started trying to debug this. But when I discovered th

[2018-07-09 04:03] timabbott commented on #9911
(Is this the same as https://github.com/zulip/zulip/issues/2524?)

That absolute positioning logic was basically all built in 2013 and I've never been happy with.  We've sorta avoided revisiting it mostly because anything short of a complete overhaul is likely to produce a more buggy result.  The core constraint that resulted in our scrollbar setup being kinda weird is that we want scrolling with

[2018-07-09 04:09] Goakgoak commented on #7995
Thank you @rishig . This is very important. With the Guest project coming to a conclusion, being able to add a company logo is just another wonderful feature for Zulip.
When I think of Zulip, WordPress comes to my mind, and not other smaller :) chat applications.

[2018-07-09 05:45] andersk commented on #9911
This is different from #2524, which I can’t reproduce. But if it is still a problem for someone, it would certainly disappear with the proposed restructuring, since I don’t think there’s any way to overlap the scrollbar on `<html>` even if you’re trying.

Your explanation seems unsatisfying: HTML’s default behavior is already that you can scroll anywhere, and you have to go out of your way to make

[2018-07-09 08:13] aero31aero commented on #9883
There's a small problem with JS part of the things at least. Take a look at these two screenshots:
![image](https://user-images.githubusercontent.com/8033238/42436584-04b74fbe-8378-11e8-83f4-5d2a20195581.png)
![image](https://user-images.githubusercontent.com/8033238/42436600-18a6b21c-8378-11e8-867e-b8420b00301d.png)

Notice how the `#` is triggering the word boundary condition so `a#` is a word b

[2018-07-09 08:51] andersk commented on #9883
Nobody suggested that `\b` would just do what we want in JavaScript. It doesn’t do what we want in Python either without switching to a different regular expression library and passing a particular flag. My question above is, how can the JavaScript part possibly be relevant at all, given that `/(?P<id>[0-9]+)/` is _already_ a syntax error in JavaScript, never mind anything having to do with word b

[2018-07-09 08:55] aero31aero commented on #9883
I tried out some third party regex libraries, but the lack of native lookbehind in JS is the reason that Unicode word boundaries cannot be supported.

Refer: https://github.com/slevithan/xregexp/issues/228

[2018-07-09 11:35] lukasIO opened #9913 "[Gitlab Integration] Add title to issue create message"
The integration works really well, but right now whenever an issue is created the Bot writes only "(User) created Issue#" followed by the description... What I'm missing is the the issue title before or even instead of the description

[2018-07-09 14:52] showell opened #9914 "Create node tests for rtl support."
Once we merge #9889 it would be good to get some node test coverage on it.

[2018-07-09 15:35] techac commented on #3564
@zulipbot claim

[2018-07-09 18:02] gioragutt opened #9915 "Feature Request: Ability to append the users of a User Group to a stream"
Related to #9849, pretty self explanatory.

When adding people to a stream, the combo-box should suggest User Groups alongside users, and when selected, it should add the entire list of users inside that Group.

cc @timabbott

[2018-07-09 20:00] hmr-it-jr opened #9916 "[Feature Request] Add possibility to set group icon"
At the moment a picture is generated of the initial letters of the group members. I would prefer it to upload a custom image as a group icon.

[2018-07-09 20:19] showell commented on #9893
A related issue is that we don't go the server for "near" queries.  This causes us to go the wrong place in the feed (and then it gets fixed upon reload).

[2018-07-10 03:47] timabbott commented on #9913
@eeshangarg can you look into this?  I wonder whether what's happening is they're using the "single topic" feature and the issue title was in the topic being overwritten...

[2018-07-10 04:10] timabbott commented on #9913
(I guess it's possible we never did this correctly for GitLab; I'd originally misread the report as being for the GitHub integration).

[2018-07-10 04:11] timabbott commented on #9916
@hmr-it-jr can you take a screenshot/give an example?  I'm not sure what you mean by "group members"; is this for a "group private message" as displayed in the mobile app or Zulip's "user groups" feature?

[2018-07-10 04:54] rishig commented on #7446
hm, what's the situation with Aastha's commit? It looks pretty complete, and like maybe she accidentally forgot to open a PR for it?

[2018-07-10 05:01] rishig commented on #7446
ah, it's one of the commits in #7998.

[2018-07-10 05:02] timabbott commented on #9875
@maxnuss for the number input, indeed, probably just hiding the up/down errors is correct.  Basically that up/down arrow styling only makes sense if you're expecting the numbers to be very small, and there's no reason to believe that should be true here.

[2018-07-10 05:03] timabbott commented on #7446
Given that we're working on "guest users", I think we actually don't want the checkbox model (because there will be 3 mutually exclusive options: guest, member, administrator).  Probably we should turn this into a dropdown instead?  @shubhamdhama FYI.

[2018-07-10 05:20] #3123 closed

[2018-07-10 05:24] timabbott opened #9917 "Add RTL support to the message-edit UI"
This is a probably quick follow-up to #9889, our new RTL support feature (thanks @Shayan-To!).

I think what we actually want to do is refactor `compose.handle_keydown` (which @YJDave has done the most work on it) to support taking an opts object that contains the few details that differ between message-edit and compose (e.g. the name of the textarea object) and register that same key handler func

[2018-07-10 05:55] timabbott commented on #9883
@andersk yeah, I'm pretty unhappy with the limitations of JavaScript regexes.

Fortunately, the model for our marked.js javascript markdown processor is that it's primarily used for purposes like local echo, and so the impact of it not being 100% faithful to the official backend markdown processor is usually just a small visual glitch (where you send a message and then it's formatting changes less

[2018-07-10 06:52] hmr-it-jr commented on #9916
Just discovered it is only visible in the mobile version of zulip.
<a href="https://ibb.co/jn0j7T"><img src="https://preview.ibb.co/hVq6Mo/Screenshot_20180710_082426.jpg" alt="Screenshot_20180710_082426" border="0"></a>

I think it's useful to have the possibility to change the group icon if you have many groups where the first memebers are the same and beginning at the fourth member the members a

[2018-07-10 06:59] hundredrab commented on #7446
Oh well. The plot thickens. I guess I'll find something else to work on, then.

@zulipbot  abandon

[2018-07-10 06:59] timabbott commented on #9916
OK.  @hmr-it-jr can you reopen this on http://github.com/zulip/zulip-mobile/issues/new?  This project is just for the server/webapp parts of Zulip.

[2018-07-10 06:59] #9916 closed

[2018-07-10 07:22] shubhamdhama commented on #7446
@zulipbot claim

[2018-07-10 08:35] timabbott opened #9921 "load optimization: Optimize updating right sidebar when tab is idle in large organizations"
In very large organizations with a lot of presence data, Zulip sometimes gets complaints about either (1) consuming more CPU than would be ideal or (2) weird browser-related behaviors (like the Zulip tab being killed by Chrome when it tries to reload when coming back from suspend) that seem likely to have a root cause in Zulip spending CPU while the user isn't interacting with the tab (and thus ge

[2018-07-10 09:30] veerjainATgmail commented on #9921
Will it be possible to make disable the right sidebar with an option to enable/disable defaults at the organization  settings level?

(As in the case of Rocket.Chat, members-list and member status tab appears only on demand.)

[2018-07-10 09:39] #9842 closed

[2018-07-10 09:55] #9510 closed

[2018-07-10 10:00] timabbott commented on #9817
The Docker production environment doesn't support running unit tests (we don't ship the files required in production images).

For this specific issue, @aero31aero can you do a quick PR?  You're working on that subsystem anyway and it seems like it'd be really quick.

[2018-07-10 10:09] timabbott commented on #9222
I just deployed the first commit of #9906 on chat.zulip.org (the tabindex for the message cursor one).   @bramd @alexjurgensen would one of you be up for visiting chat.zulip.org and verifying whether that part of the changeset works correctly?  There's lot more to do but I don't want to block merging that on everything else, since if I understand correctly, it's by far the biggest problem.

[2018-07-10 10:10] timabbott commented on #9503
@Anupam-dagar how are things coming along on this?

[2018-07-10 10:33] #9846 closed

[2018-07-10 10:36] timabbott commented on #9846
@mvrhov we just fixed this in master; thanks so much for the extremely helpful bug report.

Were you able to get the workaround I suggested working?  There's a more complex option that involves some editing of the database that would not require you to maintain that code change longer-term; if you're interested I can write up some notes on how to do it (in short, you need to call a slightly refact

[2018-07-10 10:38] timabbott commented on #9921
It's certainly possible.  @veerjainATgmail do you have a particularly large organization that's using Zulip?  This only really affects organizations that have thousands of user accounts.

[2018-07-10 11:20] #9847 closed

[2018-07-10 12:30] maxnuss commented on #9875
Great, just pushed fixes for 1, 2, and 3 here: https://github.com/zulip/zulip/pull/9923

For 4 (header row appearing draggable), I played around with this a bit and it's definitely not a styling issue. The way the rows are implemented is overriding any CSS attempts to make the header non-draggable.

[2018-07-10 14:55] veerjainATgmail commented on #9921
@timabbott , IMO it will be useful even with less user accounts for low bandwidth areas/less powerful clients and an option to enable/disable will reduce distractions for the users in my deployment case.

[2018-07-10 15:07] techac commented on #3564
@timabbott can you tell me which are the related files (i guess 'static/') and what resources can i refer ? Thanks...

[2018-07-10 15:14] veerjainATgmail opened #9925 "Feature Request: Ability to report an issue as offensive."
Hi,

It will be very useful to have an option for a user to report a message as inappropriate or offensive.
So that, these messages can be reviewed by stream admin. And, this message & the user be blacklisted until the admin reviews and approves the same.

It can be in the message options.

![untitled-35130](https://user-images.githubusercontent.com/13132206/42519484-c93c0e2e-8481-11e8-8d2c-833272

[2018-07-10 15:40] timabbott commented on #9925
@veerjainATgmail I agree!  This issue is a duplicate of #9172 (and is currently being worked on!), so I'm closing it.

[2018-07-10 15:40] #9925 closed

[2018-07-10 16:16] otester commented on #364
@zulipbot claim.

[2018-07-10 16:17] otester commented on #364
@zulipbot abandon.

[2018-07-10 19:12] ndarilek commented on #9222
Which parts of the interface are newly focusable?

I just logged into chat.zulip.org and was able to tab to a channel, then
focus into a stream. Was it that the channels and streams weren't
focusable before, or should I be able to focus something else? I haven't
used Zulip heavily mainly because the accessibility issues made it
difficult, so I don't remember how things were before.

Thanks for doi

[2018-07-10 19:52] synicalsyntax commented on #9915
Let's say you add user group "Admins" to a stream. A day later, User A gets added to the Admins user group but they weren't subscribed to the stream before. Should User A get automatically added to the stream, or is this feature intended to be an one-time shortcut to add multiple users to a stream at once?

[2018-07-11 14:23] timabbott commented on #9915
I think we should start with the "one-time shortcut" concept.  There's a huge amount of complexity (and confusion for users) that can come out of the automatic addition approach (I have some experience with how much work this can be from my time at Dropbox).

[2018-07-11 14:29] timabbott commented on #9222
The hope would be that currently selected message would be, and that you could use the up/down arrow keys to navigate between focused messages within a given conversation.

[2018-07-11 15:36] ndarilek commented on #9222
Got it. So I'm a bit confused. When I hit chat.zulip.org, I see some of
what I assume are the most recent messages. Here's some text,
cut-and-pasted with an @ removed so I don't github-mention someone:

[code]

In that situation, what is expected to have focus? If I tab through, I
hear the links for narrowing to the mobile/iOS streams, but nothing
seems unusual.

I'm just wondering, as a screen re

[2018-07-11 15:58] timabbott commented on #9911
It's possible my recollection of discussions from 5 years ago is imperfect, but certainly I'm not aware of other major issues I'd expect.  In a world free of technical constraints, we probably want the scrollbar for the main message feed to be located just to the right of the message feed, where one would expect it to be.

[2018-07-11 16:00] timabbott commented on #9828
@kurianbenoy great!  Are you using Zulip for development for production or development?  I assume development, right?  @YagoGG has done some work on our Debian 9 support and is probably a good person to consult with.

[2018-07-11 16:06] showell commented on #9921
The `list_render` option is still non-trivial, for basically the reasons you mention--it's not great at incremental updates, including both adding/deleting entire rows and dealing with unread count updates.

I'm in favor of options to basically suppress redraws when users don't care--so, some combo of knowing the user hasn't had focus for a long time, allowing user to turn off sidebar, and knowing

[2018-07-11 16:06] #9863 closed

[2018-07-11 16:07] timabbott commented on #9896
This isn't a Zulip issue (it's a Windows/Vagrant one), so we can't really help debug.  But you can find reports with some debugging instructions elsewhere on the Internet.  See e.g. https://github.com/docker/toolbox/issues/360.  Good luck @uds5501!

[2018-07-11 16:07] #9896 closed

[2018-07-11 16:07] Anupam-dagar commented on #9503
@timabbott work on this is quite slow. I am getting comfortable with the event system. In between for some days I was traveling. It can take time for me to properly complete it. In case anybody wants to take this up, I am okay with it.

[2018-07-11 16:08] timabbott commented on #9600
I guess the other option is to just get a VM running Ubuntu Xenial and run `tools/provision` inside (see our "advanced installation" options for details, but it's quite easy).  Closing, since we do have a fine way to do this today.

[2018-07-11 16:08] #9600 closed

[2018-07-11 16:23] showell commented on #9915
Is this different from #9480?

[2018-07-11 17:34] showell commented on #8859
Is there a reason that `-is:private` doesn't mostly solve this problem?

[2018-07-11 17:53] timabbott commented on #8859
Yes; a key part of this concept is searching history potentially from before you joined the organization (or the streams within it that you're currently subscribed to).

[2018-07-11 21:20] skunkmb commented on #9612
@zulipbot claim

[2018-07-12 06:45] timabbott commented on #9915
No, closing as a duplicate, thanks for catching Steve!

[2018-07-12 06:45] #9915 closed

[2018-07-12 10:38] mvrhov commented on #9846
Sorry for the late answer. The above patch didn't help. I applied it and run `service supervisord restart`

[code]

[2018-07-12 12:09] adnrs96 opened #9934 "Add LDAP based authentication method in the development environment"
One of the more common classes of bug reports in [#production help](https://chat.zulip.org/#narrow/stream/31-production-help) is users having trouble getting LDAP authentication working in production servers. Part of this is because LDAP is one of the more complicated third-party things (there's several pieces of configuration the user needs to provide).

But part of it is also that fairly few dev

[2018-07-12 13:19] skunkmb commented on #8051
@zulipbot claim

[2018-07-12 14:40] rwbarton opened #9937 "/stats: can't undo "Me" in recipient type section"
Steps to reproduce:

* Open https://chat.zulip.org/stats.
* In the "Messages sent by recipient type" area (top right), click "Me". Pie chart updates to show only my messages as expected.
* Now, in the same area, click "Everyone". Pie chart does not go back to showing all users' messages.

[2018-07-12 15:37] zooba opened #9940 "GitHub login does not work on Edge"
On Edge, I go to https://python.zulipchat.com/ and get redirected to /login. I then click "Log in with GitHub" which bounces through the authorization process but then does not recognized that I'm logged in and sends me back to the login page.

I know it's communicating with GitHub properly, because when I change my Zulip email address to the one I want notifications sent to (via another browser),

[2018-07-12 15:39] zooba commented on #9940
Even when I reset my password, I get the same behavior. So it's just that login does not work on edge and not specifically GitHub.

[2018-07-12 16:59] ojshaw commented on #4804
Yup! Will likely have something soon.

[2018-07-12 19:03] timabbott commented on #9937
@synicalsyntax are you interested in fixing this?  Check out http://zulip.readthedocs.io/en/latest/subsystems/analytics.html for things you might need to know before fixing this.  It's probably a little bug in `static/js/stats/stats.js`.

[2018-07-12 19:13] timabbott commented on #9940
@zooba thanks for the report!  Try clearing cookies on `zulipchat.com` and logging in with password, and see if that works for you.

If I'm correct, the issue was fixed in #9920 (which will hit zulipchat.com production soon); in which case what's happening is that a subtle bug in python-social-auth results in an invalid session cookie (that doesn't do anything) being created on the `.zulipchat.com

[2018-07-12 21:48] zooba commented on #9940
I think you're right - I can see the extra cookie, though for whatever reason I can't delete it on its own (blame Edge...)

![image](https://user-images.githubusercontent.com/1693688/42661291-971ded56-85e2-11e8-9bc2-8ef00adf1996.png)

I'm getting the new login emails (repeatedly), so I guess login is succeeding. I had to switch to password anyway because my default GitHub email doesn't match my pr

[2018-07-13 04:54] #9937 closed

[2018-07-13 04:55] timabbott commented on #9940
We're close to adding a feature to let users pick which email to use from GitHub; see #9876.

@adnrs96 we still need to add code to get rid of the zulipchat.com cookies for users who've run into this problem in the past; have you made any progress on that?

[2018-07-13 08:46] vulkman opened #9945 "Feature request: Support for animated emoji"
Coming from Skype I'd love to see the ability to use GIFs as custom emoji.

[2018-07-13 09:50] mvrhov commented on #9846
This does indeed solve the problem.
So what should I do when the next upgrade comes?

[2018-07-13 10:08] pflueg opened #9946 "Installer failures on Debian 9 stretch"
Hi everybody,

with the current master (f75c0e2) the installer fails a couple of times on **Debian 9 stretch**.

**Missing /etc/lsb-release file**

You need to use the command "lsb_release" for that. With the information of "lsb_release -a" i created such a file (as in Ubuntu) and the installer ran through smoothly.

[code]

**Missing openssl/ssl.h**

[code]
Fixed by installing "libssl-dev"

**Ngi

[2018-07-13 11:54] timabbott commented on #9946
Thanks for the report @pflueg!  I've fixed the first two issues in a branch that I'll merge to master in a few hours.

The third issue is more interesting (I haven't tried reproducing yet); but the error looks like your system's apt repository configuration has added a different version of either nginx-full or libssl than is normally included in Debian.  My hope is that certbot isn't the source of

[2018-07-13 11:57] timabbott commented on #9945
@vulkman you can, you just need to do the resizing in a third-party program to 64x64 pixels (or some smaller square size); the libraries we use for turning uploaded images into appropriately small image files for emoji don't support resizing animated emoji yet.  Let me know if you're not able to get that working.

(Regardless, it'd be nice to not have this manual requirement; and based on your rep

[2018-07-13 12:02] timabbott commented on #9945
(On the technical side, it's possible that if we track down the `gifmaker` script mentioned in https://stackoverflow.com/a/30339387 (which seems to have moved in recent versions of Pillow), we could do this with Pillow; )

[2018-07-13 12:31] #7665 closed

[2018-07-13 12:35] #8887 closed

[2018-07-13 12:35] #9748 closed

[2018-07-13 13:14] sinscary commented on #9157
@zulipbot  claim

[2018-07-13 18:28] lukasIO opened #9949 "Change push notifications titles"
Hi,
there is probably a lot of different opinions about this but i would like to explain my reasoning for believing zulip should slightly change the title of the push notifications (or at least adapt on mobile):
the current state of the push notification titles as implemented in lib/push_notifications.py:
[code]

My main concern is, that on mobile the title itself is in most cases too long to actu

[2018-07-13 19:08] showell commented on #9921
A fourth option for the every-N-second updates is go to a more data-diffed approach.  This would require some of the same internals as progressive list rendering--i.e. we want the list widget to have a better notion of what data it's representing, rather than just putting it into a template and doing all subsequent things at the jQuery level.  I imagine most updates really aren't changing the data

[2018-07-13 19:25] showell opened #9950 "Make buddy list render progressively (i.e. wait for scrolls)."
Before reading this, you might want to acquaint yourself with #9921, which talks more broadly about buddy list performance.  Our buddy lists can be slow for big organizations.  This issue talks specifically about how we could use progressive rendering in the buddy list to greatly increase perceived (and real) performance.  It may be a key component of addressing #9921, but there may be multiple th

[2018-07-13 19:34] eeshangarg commented on #9913
@lukasIO, @timabbott: Just fixed this in #9951, all Issue-related messages should now include the title. Note that the topic already does include the title of the issue. :) Thanks!

[2018-07-14 00:08] shrav commented on #9945
@timabbott I tried a resized version of the [party_parrot](http://cultofthepartyparrot.com/parrots/hd/partyparrot.gif) emoji. It doesn't seem to continuously play or work in reactions as an animated emoji.

[2018-07-14 04:08] #9913 closed

[2018-07-14 04:20] timabbott commented on #9945
What tool did you use for resizing?  Some tools for resizing gif files will just save the first frame of an animated gif; you need a tool for resizing animated gifs.

[2018-07-14 04:54] timabbott opened #9953 "Optimize the performance of importing Django"
One of the more annoying things for Zulip development is that importing Django and all of our other dependencies has gotten slow.  For example, doing a no-op `manage.py help` command takes almost a second:

[code]

I'm pretty sure this is several times what it was a year ago, without a corresponding change in our dependencies.

And even doing something super simple that just imports Django like `.

[2018-07-14 04:57] punchagan commented on #2047
@brainwane I spent some time on it this week, and updated #8834 for another review.

[2018-07-14 05:48] vulkman commented on #9945
It works fine, resized mine with ezgif.com, works like a charm, thank you :)

[2018-07-14 05:59] shrav commented on #9945
I tried another converter before this and it only looped once. After trying ezgif.com, it works perfectly. Thanks @vulkman @timabbott

[2018-07-14 06:53] #6511 closed

[2018-07-14 11:06] HarshitOnGitHub commented on #9851
@swallitsch I am unable to reproduce it. If you can provide sequence of steps along with console trace(if any) that would be very helpful.

[2018-07-14 11:12] HarshitOnGitHub commented on #8997
@swallitsch Thanks for the feature request. We use spritesheets to display emojis. I looked at the documentation of both chrome as well as firefox and didn't find a way to display images using such a setup. One workaround is to turn emojis to actual characters and then use system glyphs to render them but we had problem with that setup that for some emojis glyphs are not present in the system. So

[2018-07-14 14:22] timabbott commented on #9945
@HarshitOnGitHub maybe step 1 of working on this is that we should provide a better error message that suggests trying something like ezgif.com.

[2018-07-15 06:52] andersk commented on #9953
Here’s one thing that sticks out: `manage.py help` spends 13% of its time waiting for [django-bitfield to fail to compute its own version number](https://github.com/disqus/django-bitfield/blob/1.9.3/bitfield/__init__.py#L12-L13).

[2018-07-15 12:32] timabbott commented on #432
Closed via #6012.  We should have this running on chat.zulip.org next week, but if mobile folks want to start working on the mobile side of this, it should be possible to do that against nightly.zulipdev.org today.

[2018-07-15 12:32] #432 closed

[2018-07-15 14:44] downeym commented on #992
Agreed and hope some eager dev can take this on at some point. While it may seem a bit like extra work to some people, to others it's important. (Keep in mind any individual person can choose to keep the "standard" (yellow) emoji.) And it's worth pointing out that it seems that most other major chat platforms now support the modifiers, so I think it'd be important for Zulip to be seen as keeping u

[2018-07-15 16:59] lonerz commented on #2369
yes. first part got merged already

Sent from mobile. Please excuse any typos.

On Sat, Jul 14, 2018, 9:58 PM zulipbot <notifications@github.com> wrote:

[2018-07-15 21:25] skunkmb opened #9955 "lightbox: Enabling “Pan and Zoom” causes an error."
When clicking the **“Pan and Zoom Disabled”** button in an image lightbox in a Zulip developer server (on macOS High Sierra 10.13.4), the following error is generated:

[code]

Here’s a GIF of the error:

![error demonstration](https://user-images.githubusercontent.com/17259768/42738563-8beeb226-883a-11e8-9fb5-584219b2966c.gif)

When debugging, I found that this error seems to have been introduced

[2018-07-16 03:49] synicalsyntax commented on #9955
Is this a duplicate of #9777?

[2018-07-16 10:03] H3npi opened #9957 "Sync LDAP e-Mail distributor with user groups"
Hi together,

currently we are evaluating zulip. While setting up our test instance i noticed that there is no way in syncing our ldap groups with the zulip user-groups.

In our LDAP we have some e-mail groups which work as distributor, i'd like to use these as the base for zulip groups. In example, when someone is in the e-mail distributor "it@company.com" i'd like to have them in the zulip group

[2018-07-16 12:12] DreamFlasher commented on #6096
The Matrix protocol is perfectly suitable for this, and seeing federation between zulip and www.riot.im would be amazing.

[2018-07-16 13:00] H3npi opened #9958 "/me is not working on current android app"
When someone uses /me in example the desktop environment it shows a "status" message.
When opening the message on teh current android app (v13.5.89) it shows "/me" and the "status" message.

The messages should be equaliy displayed.

[2018-07-16 15:34] swallitsch commented on #9851
Understood, we're on the lookout for it to happen again and will capture the trace when it does.

[2018-07-16 15:45] skunkmb commented on #9955
@synicalsyntax I think that #9777 is more about closing the lightbox view itself, whereas this one is about Pan & Zoom specifically. #9777 also doesn’t mention an error message, just that what should happen *doesn't*. They're likely related, though.

[2018-07-16 18:13] synicalsyntax commented on #9958
This repository is for the web app. Can you reopen this issue at https://github.com/zulip/zulip-mobile?

[2018-07-16 18:14] #9958 closed

[2018-07-17 06:05] Abhi-khandelwal commented on #5142
@zulipbot claim

[2018-07-17 07:03] Abhi-khandelwal commented on #5142
@zulipbot abandon

[2018-07-17 07:30] amanagr commented on #8750
@zulipbot claim

[2018-07-17 09:35] pflueg commented on #9946
By the way - per default Debian does not come with "sudo" preinstalled. You might want to add a check and notification for that. I wouldn't add it to the package list for automatic installation.

Without sudo:
[code]

[2018-07-17 14:25] truemanD opened #9961 "error with installing zulip dependencies in docker image"
Hi.

Trying to build zulip images with this instruction:
`https://zulip.readthedocs.io/en/1.6.0/dev-setup-non-vagrant.html#using-docker-experimental`

At this stage
`/bin/bash /srv/zulip/tools/provision --docker`

got this failure
[code]

My OS - ubuntu 16.
How can i fix it?

[2018-07-17 16:37] amanagr commented on #8750
@timabbott one possible solution is to add the message to `UserMessage` whenever user updates a message present in a stream before he was subscribed to it.
Something like this:
[code]

This may also solve some of the unknown/known/future corner cases that may arrive from this.

[2018-07-17 16:38] rheaparekh commented on #9608
@zulipbot I am still working on this.

[2018-07-17 16:39] amanagr commented on #8750
If you find this behaviour unjustifiable, I can try implementing the other solution you proposed.

[2018-07-17 18:47] skunkmb commented on #9684
@zulipbot claim

[2018-07-17 19:01] Anupam-dagar commented on #9684
@skunkmb before implementing the code, please go through the discussion over here
https://chat.zulip.org/#narrow/stream/101-design/topic/shortcut.20for.20create.20stream
Currently there is not a consensus on which shortcut key to implement for it.

[2018-07-17 19:19] skunkmb commented on #9684
@Anupam-dagar OK, I will. Thanks!

[2018-07-18 11:19] amanagr commented on #8750
I see there is a possible case of an active user to see the same the topic even after it's changed, So I feel your solution better as it takes care of it well and we cannot add a message to the user's history if the user is not subscribed to the stream!

[2018-07-18 15:42] timabbott commented on #9953
Sigh.  I created the fork https://github.com/zulip/django-bitfield; since upstream isn't really active, we can integrate the fix there and update our requirements files to point to that.

[2018-07-18 16:01] timabbott commented on #715
https://github.com/django-auth-ldap/django-auth-ldap/issues/27#issuecomment-404510455 is a path forward for completing this.

[2018-07-18 16:05] timabbott commented on #9955
Merged, thanks @skunkmb!  @adnrs96 @sampritipanda FYI; the lightbox thing might have been related to the code we deleted.

[2018-07-18 16:05] #9955 closed

[2018-07-18 16:06] gioragutt opened #9971 "Feature Request: send private message to all members of a user group"
Hi! related to #9915.

The same way you should be able to add all members of a group to stream,
I suggest that when you compose a private message, you could pick a user group, and it will simply add all the members currently in the group as individual recipients of the message.

[2018-07-18 16:40] timabbott commented on #992
The next step on this is probably for @HarshitOnGitHub to do a bit of research into what the best way to integrate this feature into Zulip is and make a proposal.

[2018-07-18 19:13] timabbott opened #9972 "Fix emoji sorting to prefer exact matches over prefix matches in prefix_sort"
This issue is for, if you're searching for `git`, and we have custom emoji with names `git` and `github`, `git` (the exact match) should be sorted first in the typeahead.

See https://chat.zulip.org/#narrow/stream/137-feedback/subject/adding.20emoji/near/613437 for some context; this issue is for the typeahead part specifically.

(Historically, `prefix_match` was usually used for things where ther

[2018-07-18 19:25] andersk commented on #9953
Opened disqus/django-bitfield#82, zulip/django-bitfield#1, and #9973 for that fix.

[2018-07-18 19:36] andersk commented on #9953
Pyflame graph of `manage.py help` now: http://web.mit.edu/andersk/Public/zulip/manage-py.svg

[2018-07-18 21:19] H3npi commented on #9971
In my oppinion it should create a group chat with you and the members of that group

[2018-07-18 21:37] timabbott commented on #9953
A few things from that chart seem like good next targets:
* The `subprocess` part inside `get_or_create_key_prefix` looks like it should be put behind an `if not os.path.exists` guard; that would save 5%.  Introduced in ba3f9de9a94956b2f05783db8cb48f3c57ff0856.  That function smells in other ways (e.g. why does it use `random` in the case that the `remote_cache_prefix` file exists?), so might requ

[2018-07-18 21:49] timabbott commented on #9885
@vulkman have you tried setting all stream messages to trigger a "desktop notification"?  We bounce the dock for messages that trigger a desktop notification.

[2018-07-18 21:56] timabbott opened #9974 "Make a view for seeing the content that would go into digest emails"
We had a request from folks in the FHIR community for a convenient way to see "hot topics", new users, and other details that we currently include in Zulip's digest emails feature (which has been stagnant for a long time, in part because it's annoying to develop on an email that's hard to trigger manually).

The first step for working on this is to create a view for seeing the digest data; this is

[2018-07-18 22:01] timabbott commented on #9917
@shubhamdhama do you have time to work on fixing this?  I think it should be quick, and I'd like to include it so that we can advertise full RTL support.

[2018-07-18 22:02] timabbott commented on #9946
The `ascii` locale issue is likely the result of misconfigured locales on your system.  We should check for that and provide a better error message, but I'd expect:
[code]

to fix it for you; can you confirm?

[2018-07-18 22:09] timabbott commented on #9946
I merged f228eabd900e4eba012f83fc36caec7ef54c1fad for the locale thing, so you should be able to just test by just rebasing onto master and trying again.

The `sudo` issue still needs a solution; I think we're currently careful to not require any users other than `root` to be `sudoers`, but we have a few places (like the one in that traceback).  I'll probably want to split that out to a separate l

[2018-07-18 22:14] timabbott commented on #9961
First, you're using instructions from a very old release of Zulip (1.6.0); is that intentional?

[2018-07-18 22:19] timabbott opened #9975 "Upgrade mypy to 0.620"
@neiljp are you up for doing this upgrade?

http://mypy-lang.blogspot.com/2018/07/mypy-0620-released.html suggests it should be straightforward (at least, no major compatibility changes are advertised).

[2018-07-18 23:44] niquola commented on #9974
@timabbott do you consider digest  page will be calculated and cached or calculated on fly? How about do this in SQL, not by using ORM?

[2018-07-19 07:02] pflueg commented on #9946
You are right about the locale issue - the system is installed with German selected as language in the installer.

I tried it with your changes and saw your notice:
[code]

As you can see only ```de_DE.UTF-8``` was available. I added ```en_US.UTF-8``` with ```dpkg-reconfigure locales``` and kept german as default.

After that the installer finally ran through 🎉

If possible you might want to stop

[2018-07-19 07:20] YJDave commented on #9917
Sorry for delay. Submitted PR.

[2018-07-19 08:51] oktayaa commented on #1186
Wouldn't it better to treat group private messages as something like a temporary stream and provide the ability to invite people to that group conversation rather than use mentions or @ tags? Past history would have to be shown to the incoming user.

If the idea is that these messages are "not necessarily private" then why make them essentially private? Perhaps they could be marked topics with a l

[2018-07-19 12:29] amanagr opened #9981 "Set default focus to `Filter Streams` when stream setting opens via the gear button in the left sidebar."
When stream settings is opened via the gear icon in the left sidebar, set the default focus of to `Filter Streams` box at the top of the stream settings( Place the cursor there ).

[2018-07-19 12:29] amanagr commented on #9981
@zulipbot label "good first issue"

[2018-07-19 12:30] amanagr commented on #9981
@zulipbot label "area: frontend"

[2018-07-19 12:30] amanagr commented on #9981
@zulipbot label "area: left-sidebar"

[2018-07-19 12:32] amanagr commented on #9981
@zulipbot label "help wanted"

[2018-07-19 12:44] amanagr opened #9982 "Set scroll position to display focused stream when stream settings is opened via the chevron beside the stream name."
The scroll position is misplaced when stream settings is opened via the chevron beside the stream name. Set the scroll position to display the focused stream in the left box of the stream settings.

[2018-07-19 12:45] amanagr commented on #9982
@zulipbot label "area: left-sidebar"

[2018-07-19 12:45] amanagr commented on #9982
@zulipbot label "help wanted"

[2018-07-19 12:51] Mant1kor opened #9983 "Error install zulip from master on 18.04"
OS: Ubuntu 18.04 LTS
Zulip: latest from master

When installing:

Actual error output for the subcommand is just above this.
Traceback (most recent call last):
  File "/home/zulip/deployments/current/tools/update-prod-static", line 56, in <module>
    stdout=fp, stderr=fp)
  File "/home/zulip/deployments/current/tools/../scripts/lib/zulip_tools.py", line 163, in run
    subprocess.check_call(args,

[2018-07-19 14:00] showell commented on #1186
@oktayaa There are a lot of closely related ideas in this space, and this ticket is so old, that it's probably mostly buried (although obviously you found it!).  I would feel free to open a new issue with your specific ideas here.

I like the idea that group-PMs are really just mini streams, and I feel like we had a ticket at one point that sort of spelled out the concept, but I can't find it now.

[2018-07-19 14:36] oktayaa commented on #1186
Cool thanks. I actually came to this ticket while looking for "topics in private messages" but it caught my attentions.

[2018-07-19 14:53] amanagr commented on #9983
Hi, @Mant1kor.
You can get better help on this at https://chat.zulip.org/#narrow/stream/49-development-help.

[2018-07-19 16:08] showell commented on #9914
I added tests in 353843aa7c2c858abdf65c18d961a6d44cfe3370 so closing.

[2018-07-19 16:08] #9914 closed

[2018-07-19 16:22] showell commented on #9950
see #9954

[2018-07-19 16:40] showell commented on #9857
The interface to populate topics is actually reasonably clean.  When you want the server to give you more topics, you just call `topic_get_server_history(stream_id, on_success)`, and it automatically updates `topic_data`, then you can do whatever in the `on_success` function you pass in.

And we have three examples users of `topic_data.get_recent_names`, which are search_suggestions, topic_generat

[2018-07-19 16:59] lukasIO opened #9986 "Allow files to be (downloaded and) opened with the OS default application"
how the application opening could be done is discussed here: https://stackoverflow.com/questions/35840347/open-external-file-with-os-default-application-docx-with-word-etc-using-nod

If users want to skip a dedicated download, it would make sense to save the file in a temp folder and once that download has finished, open it with the default App.

[2018-07-19 17:32] timabbott commented on #9983
@Mant1kor can you provide the content of `var/log/update-prod-static.log` from the isntallation attempt?  The traceback here doesn't have the actual cause of the failure.

(Also, how much RAM did your system have?  Installing from Git requires a bit more RAM than from a tarball...)

[2018-07-19 18:11] showell commented on #9857
In #9988 I move us to `topic_data.js` functions, so much of my previous comment will be irrelevant once that's merged, but the explanation is still worth reading to know the history.

[2018-07-19 22:58] Adi2612 commented on #9503
@zulipbot claim

[2018-07-19 23:58] kryptc commented on #5384
Hi, are there any updates on the bug? As in, what are the options that have been implemented/rejected?

[2018-07-20 01:54] synicalsyntax opened #9991 "stream settings: Add setting for controlling who has permissions to subscribe users to streams"
There should be either an organization-wide or stream-specific setting to control who can add other users to a stream to prevent feature abuse.

If the setting is implemented and ordinary users can't subscribe others to streams, the automatic mentioning users and subscribing them if they're not in the stream feature should be disabled as well.

[2018-07-20 07:00] Mant1kor commented on #9983
@timabbott there is no update-prod-static.log file in /var/log directory.
[code]
There is full install.log file - [https://pastebin.com/PhETtpX2](https://pastebin.com/PhETtpX2)
and fts-updates.log file [https://pastebin.com/xWRPL9Ui](https://pastebin.com/xWRPL9Ui)

VM have 4G RAM and 2CPU cores.

[2018-07-20 08:14] amanagr commented on #8750
Created to #9993 for this.

[2018-07-20 08:14] vulkman commented on #9885
Hm. Yes I have, but I only get the red dot, not the bounce. Also the new setting explicitly says "Bounce dock on new private message", which seems to be exactly what it's doing...?

[2018-07-20 08:17] amanagr commented on #8750
@zulipbot label "area: message-editing"

[2018-07-20 12:55] showell commented on #9893
see #9908

[2018-07-20 13:03] showell commented on #5384
Hi @kryptc, I am not aware of any current activity, so I am reminding folks of this on chat:

https://chat.zulip.org/#narrow/stream/9-issues/subject/Private.20messages/near/614781

Feel free to chime in on chat.

I'll vote that we should just set a max-height here and be done with it.

[2018-07-20 16:33] rishig commented on #6316
Hi @dheeraj135, I would look at #8512 and see what files it touches.

[2018-07-20 17:20] timabbott commented on #8894
Since we did the SCSS migration, the old `tools/check-css` linter is no longer running; we should probably first try integrating this, and then look at what (if anything) `check-css` could do that stylelint can't.

[2018-07-20 17:54] synicalsyntax commented on #9981
![screenshot at jul 20 10-52-56](https://user-images.githubusercontent.com/15116870/43017471-1ab2f08e-8c0b-11e8-9c77-ec86ee24255f.png)

It actually looks like this is a regression, given that I already implemented this behavior a while ago in 6993f8900

[2018-07-20 18:03] skunkmb commented on #9777
@rishig I’ve opened #9989, which I think fixes this issue. Please let me know your thoughts. Thanks!

[2018-07-20 18:20] timabbott commented on #9983
Annoying, `minify-js` is clearly the thing failing, but there's no output whatsoever about why.  I'll try to reproduce when I get a chance.

[2018-07-20 18:20] synicalsyntax opened #9999 "subs: Improve performance of subscriptions modal launch"
Currently, on chat.zulip.org, it takes about 4 to 6 seconds to launch the subscriptions modal, so performance needs to be improved. This is likely attributed to high subscriber counts; there's about ~8000 users on czo.

[2018-07-20 19:19] FoggyFinder opened #10002 "Incorrect calculation of average message for week"
It seems like statistic is incorrect. It was a seven day since channel was created although.

![Sample](https://i.imgur.com/ptrztST.png)

Perhaps, earlier there was a label "New" or something.

[2018-07-20 22:09] timabbott commented on #10002
@rishig any idea what's going on here?

[2018-07-20 22:09] timabbott commented on #10002
@FoggyFinder just to check, is this on zulipchat.com?  If not, what server version?

[2018-07-21 00:18] skunkmb opened #10004 "ui: Simplify hotkey deprecation notices."
There are currently two hotkey deprecation notices in use: `C` to `x` and `*` to `Ctrl + s`. Both of these use essentially the same message, with the respective hotkeys swapped in. To reduce code duplication, I think that this could be simplified into a single function for making the messages.

[2018-07-21 00:18] skunkmb commented on #10004
@zulipbot claim

[2018-07-21 06:35] FoggyFinder commented on #10002
@timabbott yep, on zulipchat.com.

[2018-07-21 11:10] akashnimare commented on #9986
@lukasIO can you open this issue in the desktop app repo i.e. https://github.com/zulip/zulip-electron/ ?
Also, we have added this functionality in the latest release which is v2.3.3. So if you click on a file attachment then the file will be downloaded in the background and once done you'll get a notification. On clicking the notification, the file will get open in the default native app.

[2018-07-21 11:59] lukasIO commented on #9986
yeah, sorry for putting it in the wrong repo... the release was a couple of hours after i opened the issue, I'm closing this one...

[2018-07-21 11:59] #9986 closed

[2018-07-21 20:06] FoggyFinder opened #10007 "Tracking for last unread message"
When user comes to chat he sees old messages. There is no such behaviour if user manually marks all messages as read.

So it seems like a problem with tracking.

[2018-07-22 01:01] skunkmb opened #10008 "portico: Core Team section faces alignment."
On desktop, the Core Team section of the Zulip Team page looks like this:

<img width="1680" alt="screen shot 2018-07-21 at 5 53 30 pm" src="https://user-images.githubusercontent.com/17259768/43041253-591ba74e-8d0f-11e8-871e-754ea170ed61.png">

The faces at the bottom are aligned with 4 at the top and 1 at the bottom. Having 5 in a row, or having the same 3 and 2 pattern used on mobile, seems like

[2018-07-22 01:01] skunkmb commented on #10008
@zulipbot claim

[2018-07-22 11:52] shubham-padia commented on #9785
@zulipbot claim

[2018-07-22 13:51] rishig commented on #10002
hm, 5eccabc3c575d6fc8768765d8253a6d1aa1131d0 is the relevant commit.

[2018-07-22 14:20] #9981 closed

[2018-07-22 16:39] shubham-padia commented on #9934
@zulipbot claim

[2018-07-22 23:05] adnrs96 commented on #8894
@zulipbot claim

[2018-07-23 03:03] #9785 closed

[2018-07-23 03:06] timabbott commented on #10002
Well, the effective case for this in get_average_weekly_stream_traffic is this:

`stream_age = (timezone_now() - stream_date_created).days >= STREAM_TRAFFIC_CALCULATION_MIN_AGE_DAYS`

Compare with `is_old_stream`:
[code]

So I'm guessing the bug is that `datetime.date.today() ` in `is_old_stream` should be `timezone_now()`, or there's a narrow gap between the two around 7 days in...

[2018-07-23 03:07] timabbott commented on #10002
(Ideally, we'd also have the check in `get_average_weekly_stream_traffic` just call `is_old_stream`, to avoid that kind of mismatch in the future)

[2018-07-23 11:40] Mant1kor opened #10019 "[Help] SSO LDAP/AD integration fail"
Hello.
I can't integrate zulip with LDAP Authentication.
OS: Ubuntu 16.04.5 LTS
4GB RAM, 2 CPU
zulip - latest from https://www.zulip.org/dist/releases/

In my organization, AD and e-mail address is absolute different, example:
domain - xyz.local
mail - fstname.scndname@qwe.com (stored in _mail_ attribute)

settings.py

[code]
In zulip-secrets.conf:
[code]
[code]
[code]

[2018-07-23 14:17] jpellman opened #10020 "Emojis / organization avatar not exporting from realm in Zulip 1.8.1"
Given a realm that was originally exported from Slack and then imported into Zulip, running the following command will produce an export as a gzipped tar (as expected):

[code]

However, when re-importing the data produced by this command, emojis and the organization avatar are not imported (presumably since they were never exported).  The directory where these are contained seems to be `/home/zul

[2018-07-23 15:06] #8235 closed

[2018-07-23 15:34] timabbott commented on #9608
This is fixed via db1260fb939feaa01da4570d5bc0dc3f567b6e4b, though we haven't done the analytics tables (which I'm not sure are really important to do; worth doing if they're easy, I guess).

[2018-07-23 15:34] #9608 closed

[2018-07-23 16:08] timabbott commented on #10019
That error indicates an issue with the AUTH_LDAP_SERVER_URI, AUTH_LDAP_BIND_DN, and/or auth_ldap_bind_password settings.  My guess is that AUTH_LDAP_SERVER_URI should probably start with `ldaps://`, the password is wrong, or dc1.xyz.local is wrong.

The LDAP library we're using doesn't support pointing to multiple servers, though we've been discussing changing that with upstream, so that might cha

[2018-07-23 16:09] timabbott commented on #9509
@jayvdb can you talk a bit more about the use case?  I'm surprised you didn't mention inviting users to an organization in the first place (and instead focus on streams/user groups).

[2018-07-23 16:56] Mant1kor commented on #10019
@timabbott when I change AUTH_LDAP_SERVER_URI on "**ldaps**://dc1.xyz.local":
[code]
Password I changed today manually.
dc1.xyz.local - is FQDN domain controller name(DNS can resolve it).
What can I do to determine the problem?

[2018-07-23 17:07] timabbott commented on #9999
There's a bunch of valuable debugging details in https://chat.zulip.org/#narrow/stream/9-issues/subject/slow.20subscriptions.20modal/near/616311

[2018-07-23 17:14] timabbott opened #10022 "Fix buggy handling of clicking anchor links in /help/ docs"
From #9948:

* First, load in a new tab http://127.0.0.1:9991/help/format-your-message-using-markdown#stream-links (this detail is important!)
* Next, click on the anchor icon next to the "Lists" heading (or any other heading, really)
* You get up scrolled to the top of the page, rather than to that heading.

I think it's probably the same thing I noticed on the original Simplebar PR, I just now f

[2018-07-23 17:17] timabbott commented on #10019
Try debugging your configuration a more direct tool for connecting to LDAP like `ldapsearch`.  You can also try looking at the docs for `django-auth-ldap`, the standard package we use for LDAP authentication; they may have some more tips.

[2018-07-23 17:34] #9043 closed

[2018-07-23 17:38] #9777 closed

[2018-07-23 17:43] #9917 closed

[2018-07-23 17:44] timabbott commented on #9917
@Shayan-To can you test this in your development environment to make sure the RTL support piece works?

[2018-07-23 18:03] showell opened #10024 "Fix "tr" pitfalls for templates."
Our implementation of the "#tr" tag can be every expensive if called in the wrong place.  It can inefficiently clone a very large context object by JSON-stringifying and then parsing, and in a recent case, we found it was done totally unnecessarily.

This is a pretty advanced issue, and we may ask @sampritipanda to look into in particular, since he found the bug.

We'll want to either make "tr" le

[2018-07-23 18:03] showell commented on #10024
discussion here: https://chat.zulip.org/#narrow/stream/9-issues/subject/slow.20subscriptions.20modal/near/616512

[2018-07-23 18:12] FoggyFinder commented on #8040
any news?

[2018-07-23 18:50] shubham-padia opened #10026 "Follow up issues for search pills"
From https://github.com/zulip/zulip/pull/9716#issuecomment-405017200,

(with `settings.SEARCH_PILLS_ENABLED=True`)

- [x]  After backspace, don't produce an (empty) typeahead
- [x]   backspace should remove a search pill even when you have typeahead **open**
- [ ]  (styling) The X at the right end of the search area is misplaced.
- [ ]   (medium priority) Don't allow creating a pill when validatio

[2018-07-23 23:06] rishig opened #10030 "stream settings: Creating a new stream shows no traffic number with a reasonable cleanup."
To reproduce, create a new stream, and find the new stream in the left panel of the stream modal:
![image](https://user-images.githubusercontent.com/890911/43107406-b71f52cc-8e91-11e8-81a5-09c2e22780ae.png)

The correct thing is for the right hand side to look like
![image](https://user-images.githubusercontent.com/890911/43107424-d11f36a6-8e91-11e8-8a5b-9be761dc5f82.png)

I'm not familiar with th

[2018-07-23 23:15] timabbott commented on #9857
There aren't other efforts underway to populate topic history.  It sounds like the remaining pieces here for a version that aggressively goes to the server are:
* Doing something in the `search_suggestion` logic to ensure that after we autocomplete a stream pill (or when we're starting to provide a topic pill?), we fetch `topic_data` from the server for that stream to make sure we update that cont

[2018-07-23 23:20] timabbott commented on #9983
I'm attempting to reproduce this now.

[2018-07-23 23:40] showell commented on #9857
I would assume that most of the performance issues here are just the server round trip plus some additional load on the server.  The JS data structure is pretty much just a few fields per topic.  I guess by "fancier Topic data structures" you're referring to the server?  If so, that kind of brings up the old idea of a dedicated topics table.  Not sure that's what you mean, though.

[2018-07-23 23:42] timabbott commented on #9857
I'm not worried about the round-trip; it's just that the "get topic data" backend endpoint is more expensive than the main "get messages for a narrow" query, and thus could become a significant part of database load if we started doing it a lot.  So yeah, if/when we chose to work on this, we'll probably want to look at a topics table (or similar cache structure).

[2018-07-23 23:43] timabbott commented on #10030
@YJDave can you take a look at this?

[2018-07-24 00:20] timabbott commented on #9983
OK, I just did a test off of current master installing on bionic, and it passed cleanly.  I think there should be an `update-prod-static.log` file after all, but it'd be under the `/tmp/...` directory where you initially unpacked the Zulip server (not under `/home/zulip/deployments/current`).  Can you look for that?  The `update-prod-static.log` file will have the actual error that its subroutine

[2018-07-24 00:21] rishig opened #10033 "gear menu: Add "Contact support" to gear menu."
We've had a number of people struggle to find our support address. It would be great to add a "Contact support" entry below "Search operators" in the gear menu:
![image](https://user-images.githubusercontent.com/890911/43108919-07e22520-8e99-11e8-8b20-3a2d06fb47c5.png)

Clicking on "Contact support" should copy the address (ZULIP_ADMINISTRATOR) to the clipboard, and the text should change to "Addr

[2018-07-24 00:36] #10002 closed

[2018-07-24 00:44] timabbott commented on #10030
There seem to be several bugs involved here:
* We're not correctly passing `from_stream_creation` to `bulk_create_stream`, which actually would be hard to do correctly with that interface, because some (but not all) of the streams could have been created.  We probably need to redo that API to send a set of stream IDs that were just created.  As a result, we may be sending some spurious "occupy" ev

[2018-07-24 00:45] timabbott commented on #10033
@synicalsyntax are you up for working on this?  We can use our existing Clipboard.js logic for this.

[2018-07-24 05:12] lonerz commented on #7995
yes

Sent from mobile. Please excuse any typos.

On Mon, Jul 23, 2018, 9:59 PM zulipbot <notifications@github.com> wrote:

[2018-07-24 05:43] #10004 closed

[2018-07-24 05:44] #10008 closed

[2018-07-24 06:01] timabbott commented on #9946
The warnings are coming from upstream warnings coming from perl (not code we wrote).

I bet we need to set `LANG` and `LANGUAGE` in addition to LC_ALL, too.  I'm going to push a change that does that; would you be able to re-test with a system with the same initial configuration as the system you were testing with last week to confirm the fix works?

[2018-07-24 06:05] timabbott opened #10036 "install: Remove need for the Zulip installer to install sudo"
From #9946:

[code]

We don't require that sudo be configured to do anything other than go from root->root (otherwise, our tooling wouldn't work on Ubuntu either), but we apparently do depend on that, basically because some of virtualenv setup scripts are run as `root` in the production installer and as an ordinary user with `sudo` access in provision.

Ideally, we'd allow installing on a system w

[2018-07-24 06:06] timabbott commented on #9946
I moved the sudo issue to https://github.com/zulip/zulip/issues/10036; so we can close this once the locale thing is confirmed fixed.

[2018-07-24 06:19] #10022 closed

[2018-07-24 06:40] pflueg commented on #9946
I just retried it with 79dfe6e on my virtual machine and reset it to the freshed installed snapshot.
Unfortunately your changes didn't fixed it - below is the latest perl warning:

[code]

My ```locale``` settings are
[code]

[2018-07-24 06:47] Mant1kor commented on #9983
Looks like I copied master.zip in wrong way. Please close the issue.

[2018-07-24 07:03] Anupam-dagar commented on #10033
@timabbott can i take this?

[2018-07-24 13:40] sinscary commented on #9157
@zulipbot abandon

[2018-07-24 15:59] AkshJain99 commented on #4891
@timabbott  should we have to write a documentation for remote development with pycharm??

[2018-07-24 16:00] AkshJain99 commented on #4891
@zulipbot claim

[2018-07-24 16:12] timabbott opened #10038 "static/generated emoji images are being hash-named incorrectly in production"
This manifests in production as this:

![image](https://user-images.githubusercontent.com/2746074/43151702-668cb2a6-8f21-11e8-8c3e-872149f07c88.png)

Inspecting the file tree, one sees this:

[code]

(e3c7b559db71b96adeee6fe61f710a18665d9df9 is the correct/new image, and was generated today, but nothing overwrote the old image file).

There's probably a broader static asset pipeline issue with ima

[2018-07-24 16:12] AkshJain99 commented on #4891
Is thre any file which have this issue related thing??

[2018-07-24 16:14] synicalsyntax commented on #10033
@Anupam-dagar Feel free to do so!

[2018-07-24 16:53] #5971 closed

[2018-07-24 17:45] rishig opened #10039 "compose: Fix PM typeahead when it ends in a space."
`tim` and `tim a` work in the compose PM typeahead, but `tim ` doesn't.

[2018-07-24 18:31] YJDave commented on #10030
@timabbott Thanks for debugging the issue :) I tried to fix some quick bugs.

I tested the application, and couldn't find the case where `create` event is not sent to frontend. In case of admin-not-subscribed-to-newly-created-private-stream admin gets create event of stream. 🤔

Fixed this bug by initializing `stream_weekly_traffic` and `is_old_stream` attributes, in stream `subscription` object wh

[2018-07-24 21:19] rishig opened #10040 "portico: Error handling is broken on /new."
E.g. if you go to localhost:9991/new, enter `aaa` as your email address, and click `create organization`, nothing happens.

(Possibly this is not limited to /new, haven't checked.)

[2018-07-24 22:38] timabbott opened #10042 "Rename some database model fields"
Following 1eb67e4bff94da16925540552a9bdb291aa34c7d, there's a few fields I want to rename:

Realm:
* [x] restricted_to_domain -> emails_restricted_to_domains
* [x] show_digest_email -> digest_emails_enabled

Subscription
* [x] Delete unused .notifications.
* [x] in_home_view -> (! is_muted).  This one is tricky in that it's used in various API places, so we'll need to be thoughtful about migrating

[2018-07-24 22:54] timabbott opened #10044 "Make sure all endpoints the mobile apps hit are properly documented"
Zulip has a pretty well-designed API, with a lot of good properties, but it's documentation is incomplete.
 The overall goal is to fully document the Zulip API on https://zulipchat.com/api, so that it's easy both for Zulip app developers (mobile, terminal, etc.) and people building custom integrations to understand how to use Zulip's API.  We have documented a few dozen endpoints, but there are ma

[2018-07-24 23:49] showell opened #10045 "enhancement request: Show sidebar searches by default."
Particularly for large realms with lots of streams or users, I think we should have the search widgets open by default when you open the app.  They're actually quite useful when you learn to use them, but almost nobody's gonna discover them organically.  Obviously it takes some real estate to show them, but I think as soon as your realm is big enough that sidebar real estate is an issue, that's ex

[2018-07-24 23:52] showell commented on #10045
Here is what the right sidebar search widget looks like, in case you're wondering what I'm talking about.  (And the left sidebar widget is similar.)

![image](https://user-images.githubusercontent.com/142908/43172026-21ad58a2-8f7b-11e8-8c15-cb7d5cfec258.png)

[2018-07-25 00:06] shubham-padia commented on #10039
@zulipbot claim

[2018-07-25 02:47] skunkmb commented on #9612
@zulipbot claim

[2018-07-25 02:47] skunkmb commented on #8051
@zulipbot claim

[2018-07-25 07:39] gnprice commented on #10044
In addition to the format of the data returned by `/register`, there's another major area which I don't see documentation for already and which is very important to the mobile app: all the types of events, and the data they contain.

The most important single event type is `message`. There are a couple of examples of that one in the GET `.../events` doc:
https://zulipchat.com/api/get-events-from-q

[2018-07-25 08:06] Mant1kor opened #10049 "[Request] Add spnego-http-auth-nginx module to enable SSO AD authentication"
To enable SSO Active Directory authentication(without entering login/password), nginx must be compile with[ spnego-http-auth-nginx](https://github.com/stnoonan/spnego-http-auth-nginx-module) module.

[2018-07-25 09:22] winmasta opened #10050 "Alt-Shifts opens upper menu but we use that shortcut to switch languages."
And it is very inconvenient. How can we disable Alt-Shift ?

[2018-07-25 09:38] winmasta commented on #10050
I forgot to say I use Linux Mint 18.3

[2018-07-25 09:48] lonerz commented on #10050
What browser? That might also be part of the issue.

[2018-07-25 10:06] winmasta commented on #10050
It's an app installed with apt install zulip.

[2018-07-25 14:15] skunkmb opened #10052 "portico: Amazing Community section `1 commits` instead of `1 commit`"
On the **Our amazing community** page, users with one commit in a project have the caption `1 commits` instead of the correct `1 commit`.

For example, on the JS API section:

<img width="650" alt="screen shot 2018-07-25 at 7 13 27 am" src="https://user-images.githubusercontent.com/17259768/43206386-7887768a-8fda-11e8-9129-ee4253ccfb60.png">

[2018-07-25 14:15] skunkmb commented on #10052
@zulipbot claim

[2018-07-25 15:46] Anupam-dagar commented on #10033
@zulipbot claim

[2018-07-25 17:04] shubhamdhama commented on #9834
@zulipbot claim

[2018-07-25 17:06] shubhamdhama commented on #10050
It's a desktop app issue I guess, pinging @akashnimare @abhigyank

[2018-07-25 17:34] timabbott commented on #10050
Thanks for reporting!  This issue belongs in https://github.com/zulip/zulip-electron/, though; can you repost there @winmasta?

[2018-07-25 17:34] #10050 closed

[2018-07-25 17:36] timabbott commented on #10052
Cool.  I assume you found `tools/update-authors-json`?

[2018-07-25 17:43] timabbott commented on #10049
@Mant1kor we currently rely on the version of nginx included with your OS.  You're welcome to replace it with an nginx you compile locally.  Given that we don't ship `nginx` at all, this is not something we can fix directly.

I tracked down the current status of Ubuntu providing a package one can install here:
* https://github.com/stnoonan/spnego-http-auth-nginx-module/issues/54
* https://bugs.lau

[2018-07-25 18:11] Mant1kor commented on #10049
I tried to compile nginx with this module, but it failed with error in another module.
OK, i'll try to use Apache.

[2018-07-25 18:46] lonerz commented on #2369
yes, wait there was a reference 5 days ago...

[2018-07-25 19:46] showell opened #10055 "Use simplebar in the main app."
We should do a quick experiment to see how easy it is to plug simplebar into `ui.set_up_scrollbar` as a replacement for PerfectScrollbar.  A good place to see it in action is "Stream Settings", and you can see where it's called in `subs.js`.

If you get something working, it's worth coordinating a test deployment on chat.zulip.org, since a lot of the decision to move to it will be based on whether

[2018-07-25 20:10] zy964c commented on #10042
@zulipbot claim

[2018-07-25 20:12] timabbott commented on #10042
@zy964c for this, do one migration per commit, and start with the easiest (e.g. deleting the unused `.notifications`), since we'll want to integrate these incrementally.

[2018-07-25 20:17] timabbott commented on #10044
For events, from a mobile team perspective, one useful existing resource is the schema definitions in `test_events.py`.  E.g.
[code]

I think if we were to provide schema documentation for the events, I'd want it to be something that shares code with these tests, so it doesn't get stale, but I think a reasonable v1 for the mobile folks would be to ensure everyone's familiar with how to read the `t

[2018-07-25 20:19] timabbott commented on #10044
(One possible quick version of making progress on this would be a ReadTheDocs page that just covers how to look this stuff up and confirm it using `actions.py` (which has all code for sending events) and `test_events.py`).

[2018-07-25 21:56] #10039 closed

[2018-07-25 22:04] #8894 closed

[2018-07-25 22:16] timabbott commented on #10055
@synicalsyntax are you interested in working on this, given your experience integrating simplebar elsewhere?  I think if you get a PR working, other folks who have the test environment setup can verify whether it helps with the perf thing that inspired this issue.

[2018-07-25 22:36] synicalsyntax commented on #10055
I think I attempted to move simplebar into the main app before; the issue is that simplebar doesn't account for any element padding, which might mess up styling.

[2018-07-25 22:43] shubham-padia opened #10059 "Pills in user group settings break if more than 1 line is required"
From czo,
![selection_191](https://user-images.githubusercontent.com/13910561/43231484-30c8a6d8-908a-11e8-9273-1fab18f66d38.png)

[2018-07-25 22:43] shubham-padia commented on #10059
@zulipbot claim

[2018-07-25 22:57] timabbott commented on #10055
OK; maybe we should just try something a bit more hacky so we can try using it for the stream list component (where we're currnetly trying to optimize performance and think the current scrollbar is a big issue).  i.e. do next functions like `set_up_simplebar`.

[2018-07-25 23:10] timabbott commented on #10040
@hackerkid are you up for investigating this?  My guess is some refactor as part of /register error handling broke this.

[2018-07-25 23:15] timabbott commented on #10038
@HarshitOnGitHub so, after I merged https://github.com/timabbott/zulip/commit/3b36532407d82c9f98963b3ce47e0fdb1e9c61a3, we still have some sort of issues where running `update-prod-static` in production isn't overwriting the `/home/zulip/prod-static/generated/emoji/images-google-64/1f642.png` file.  Any idea why?

[2018-07-25 23:17] timabbott opened #10061 "Merge main.html templates for API/help docs."
From discussion in https://github.com/zulip/zulip/pull/9771#issuecomment-407500707:

We should merge the two `main.html` templates, since they're almost the same and the differences could either be removed or passed in as variables in the context.  So we can plan to do that as a follow-up project.
[code]

@eeshangarg this might be a good project for you, since you're familiar with this system.

[2018-07-25 23:32] synicalsyntax commented on #10055
@timabbott The main issue with simplebar is that it actually creates a new `.simplebar-content` div container element for the element we try to add the scrollbar to; for this case, it'd be `.streams-list`. However, we dynamically populate `.streams-list`, so none of the actual streams get added to the scrollable `.simplebar-content` div, resulting in nothing to scroll over.

DOM:
![screenshot at j

[2018-07-25 23:35] #10059 closed

[2018-07-25 23:39] timabbott commented on #9983
@Mant1kor can you explain what you did?  Just curious if there's something we can do to avoid others having the same experience.

[2018-07-25 23:39] #9983 closed

[2018-07-25 23:42] timabbott commented on #9946
Is the type of machine you're installing on in a hosting provider that I can get a machine with?  I'm wondering if there's an easy way for me to reproduce this so I can debug interactively...

[2018-07-26 01:01] showell opened #10062 "refactor: Fix stream_data.get_streams_for_settings_page()"
This is a fix that either @sampritipanda or I should do in the short term (as it's closely related to #9999) or, if we get diverted, by somebody with a pretty strong understanding of `stream_data.js` and basic performance issues with filtering and sorting.

The first thing wrong with `stream_data.get_streams_for_settings_page()` is that the name is a bit misleading.  We use it for other stuff, lik

[2018-07-26 01:19] skunkmb commented on #10052
@timabbott Yes, I have found that tool, thanks!

[2018-07-26 02:56] jainkuniya opened #10064 "frontend: Stream list is not completely visible on /#streams."
On Safari 11.1.1
On Chrome it is working fine.

<img width="632" alt="screen shot 2018-07-26 at 8 25 56 am" src="https://user-images.githubusercontent.com/18511177/43238847-9342044e-90ad-11e8-84a0-fabd6873998a.png">

[2018-07-26 03:06] jainkuniya opened #10065 "frontend: Stream sidebar of one stream is still visible after opening stream sidebar of another stream."
<img width="590" alt="screen shot 2018-07-26 at 8 28 47 am" src="https://user-images.githubusercontent.com/18511177/43239042-71005402-90ae-11e8-9384-0a648bd92942.png">

Easily reproducible for me, if unread count are quite high and stream sidebar is opened while page is loading (I mean unread count are keep on increasing).
But even after page is loaded (unread count becomes stable, doesn't increas

[2018-07-26 08:09] amanagr commented on #10044
@timabbott I am planning on writing developer documentation for zt this week, this will be very helpful in that. Thanks!

[2018-07-26 12:01] showell commented on #10055
@synicalsyntax Thanks for the update!  I'm not sure whether you're saying this is intrinsically difficult to fix, or if you're just saying that we need to change some of our code to update the proper div when we do the dynamic content updates.  Hopefully it's the latter.  Can you clarify?

[2018-07-26 13:07] hexinal commented on #9710
@timabbott Sorry, to necro this. But it would indeed be great to have support for concatenation, it indeed doesn't seem to be supported by django-auth-ldap. Rocket chat seems to have already tackled this https://github.com/RocketChat/Rocket.Chat/issues/2237

[2018-07-26 16:15] timabbott commented on #9983
Ahh, OK, unpacking on Windows seems like the kind of thing that would cause problems.  Thanks for following up with that detail!

[2018-07-26 16:24] Ajayneethikannan commented on #9157
@zulipbot  claim

[2018-07-26 18:52] timabbott commented on #10064
@synicalsyntax can you look into this one?

[2018-07-26 18:54] timabbott commented on #9957
@H3npi thanks for the suggestion.  This should be doable with the Zulip API, though it's probably worth adding a quick little management command to do this; it shouldn't be hard.

[2018-07-26 19:21] HarshitOnGitHub commented on #10038
@timabbott This seems to be an issue in collectstatic where it simply doesn't overwrite a file. Other users have also reported similar issue for collectstatic: https://code.djangoproject.com/ticket/23724. The correct fix seems to clear the data before running collectstatic.

[2018-07-26 20:22] pirate commented on #6427
Semi-related: it would be great to be able to move a range of messages between topics, e.g. copying/moving messages from from a private message thread into a public topic is something we find ourselves doing frequently at our company.  Copy-paste doesn't preserve formatting, and copy pasting each message's raw text is too labor intensive when it's often ~20-100 messages.  CC: @cowpig

[2018-07-26 23:16] timabbott commented on #10007
@FoggyFinder can you explain this issue in more detail?  Other users don't see this issue, so we need more detail to investigate.

[2018-07-26 23:45] synicalsyntax commented on #10055
@showell I decided to just wrap the elements in new parent containers to call simplebar initialization on instead of modifying a bunch of jQuery selectors to dynamically update the DOM; the PR is #10075 :)

[2018-07-26 23:46] andersk opened #10078 "Test manage.py export in CI"
@timabbott suggested in #9976 I should manually test `manage.py export` because it isn’t run in CI. It didn’t work for me when I ran it manually, even on `master`, and even after `tools/do-destroy-rebuild-test-database`. Perhaps I’m using it wrong, or perhaps it’s really broken (in which case I guess fixing it would be a subtask of adding it to CI), but it should be in CI either way.

[code]

[2018-07-27 07:03] FoggyFinder commented on #10007
@timabbott I can try :-)

It is something with [unread-counter-and-pointer#navigation](https://zulipchat.com/help/unread-counter-and-pointer#navigation)

For example, today, when I opened chat :

![trackingzulipchatcom](https://imgur.com/6TV5qtB.png)

So, I've wrote some messages after this time but pointer not changed location.

[2018-07-27 07:23] timabbott commented on #10078
This is a development environment configuration artifact; if something triggers the SlowQuery worker to send a message, it sends it to the `logs` stream, which gets auto-created and doesn't have any non-bot users subscribed.  We could potentially fix it by changing the default stream for the SlowQuery worker in the development environment, but maybe deeper investigation is appropriate.

[2018-07-27 13:00] Ajayneethikannan commented on #9157
Hello everyone,
     I am new to contributing to zulip.
  After going through this issue, i tried to come up with a simple by changing the css of <span  class="alert word">  ,this is ocurring due to opacity of this class, which is 0.5. I am planning to change it to 1, while improving visibility of the written text. How should i proceed about this?
Thank You.

[2018-07-27 14:51] Lyla-Fischer opened #10087 "Only-admins-can-create-a-bot permissions should also disallow reactivating bots"
It is currently the case that a user is always able to reactivate a bot, even if normal users are not allowed to create new bots. This means that if a user has a spammy bot that is deactivated by an admin, and the admin sets the only-admins-can-create-a-bot permission flag, the original author of that bot can reactivate the bot anyway. If you have an insistent user who isn't listening to the admin

[2018-07-27 14:54] Lyla-Fischer opened #10088 "Allow fully deleting bots"
Once a bot is created, there is no way to delete it completely. The most you can do is deactivate it. This can make for a cluttered workspace, if you have a habit of creating new bots rather than re-using old ones and editing the name. It's also not possible to edit the pseudo-email for a bot, so even the active-reuse strategy doesn't work if you are actually using those pseudo-emails semantically

[2018-07-27 17:15] aero31aero commented on #8918
Similar to #5150 which we closed because we can simply use brower consoles' filtering feature to remove the additional logging that we do not want to see.

[2018-07-27 17:34] #10087 closed

[2018-07-27 18:04] timabbott commented on #9885
@akashnimare @abhigyank can one of you move this over to the right repo?

[2018-07-27 18:30] uberjay commented on #9362
To add a tidbit: Slack's option for this inverts the behavior of SHIFT-ENTER, such that, inside a code block, you can force a send by holding shift. (whereas shift typically inhibits the enter-to-send behavior.)

[2018-07-27 18:47] timabbott commented on #9519
@hackerkid is all that remains for this the styling?

[2018-07-27 18:49] timabbott commented on #9374
This was implemented via https://github.com/zulip/zulip/pull/9569

@kapilt are you interested in using this in the near future?  There's a few little follow-up bugs we're fixing in the next week or so, but you could reasonably start planning a migration at this point.

[2018-07-27 18:49] #9374 closed

[2018-07-27 18:49] timabbott commented on #9374
See https://github.com/zulip/zulip/pull/9569#issuecomment-407110975 for the follow-up notes.

[2018-07-27 18:50] timabbott commented on #10052
@skunkmb it looks like in 8c2f0f68b257a03d152dc4605a7b61a26d33a575, you forgot to put a `Closes` tag for this issue.  Closing now.

[2018-07-27 18:50] #10052 closed

[2018-07-27 19:05] timabbott commented on #10020
@jpellman thanks for the report!  If I had to guess, the problem is that exporting custom emoji was added to the export tool in 468afe4840fbac0ca93643d1c8fc11c31a687528 (a bit after 1.8.1); that definitely is supported in master / 1.9.

(We also now have tests to ensure that new tables we add are included in the export/import tooling).

[2018-07-27 19:05] #10020 closed

[2018-07-27 19:07] timabbott opened #10090 "custom profile fields: Fix minor dragging bug in organization settings"
This may just be a weird browser quirk we can ignore, but I noticed I can drag a header into the middle of the list (but when I drop it, it comes back to the top):

https://user-images.githubusercontent.com/6280457/41207352-b94e72ce-6d14-11e8-8d4f-cae52c09b8bb.png

Moved from #9875.

[2018-07-27 19:07] timabbott commented on #9875
I moved the last remaining piece of this to https://github.com/zulip/zulip/issues/10090.

[2018-07-27 19:07] #9875 closed

[2018-07-27 23:39] eeshangarg commented on #9474
@zulipbot claim

[2018-07-28 05:45] shubham-padia commented on #10026
@zulipbot claim

[2018-07-28 06:09] shubham-padia opened #10091 "tests: Build failing due to dead link."
[code]

`https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX` has been moved from the wiki to the docs at https://khan.github.io/KaTeX/docs/supported.html in https://github.com/Khan/KaTeX/pull/1484.

[2018-07-28 06:09] shubham-padia commented on #10091
@zulipbot claim

[2018-07-28 15:34] #10091 closed

[2018-07-28 18:15] showell opened #10095 "slash commands: Add /dark and /light commands."
We have /night and /day, and people are starting to use them.  We should add the aliases /dark and /light.

[2018-07-28 18:16] lonerz commented on #10095
+1 did this so many times accidentally

Sent from mobile. Please excuse any typos.

On Sat, Jul 28, 2018, 11:15 AM zulipbot <notifications@github.com> wrote:

[2018-07-28 19:44] nh2 commented on #2676
It would be great to have this feature also simply for users.

Slack has Alt+click, which marks messages as unread.

This is great for when you started to read a long message, but then realise you don't actually have time to read it fully.

[2018-07-28 20:31] kapilt commented on #9374
awesome, thanks!, I think I need to try a straw man poll on the existing channel, but the need for it is clearer with more active concurrent conversations going.

[2018-07-28 22:16] #9834 closed

[2018-07-28 22:36] #9975 closed

[2018-07-28 22:50] kapilt commented on #9374
Hmmm.. the other piece I would need to make work to do a migration off Gitter is twitter oauth support, given the user population from there.

[2018-07-29 14:51] Mant1kor commented on #10049
Seems like I stuck on converting nginx to apache config files.

[2018-07-29 22:48] armaanahluwalia opened #10104 "/apps Page Images are slow to load"
There are a couple of bugs on the /apps page of the website.

1) When we click any of the different platforms except for the default ( macOS ), the images are slow to load and take around a half second after clicking to actually load the correct image. Specifically the android image for some reason takes longer and seems to load another image before loading the correct one.

2) The buttons do not

[2018-07-29 23:47] shubham-padia commented on #10065
Personally I'd assume the behaviour to be that the stream settings menu closes if the click is outside of the stream settings card.

[2018-07-30 05:22] winmasta opened #10107 "Can't create zulip client using Python"
I am trying to create zulip client like
[code]

but got

[code]

It happens even if I remove zulip package with pip. It don't even starts to interpret ```zulip/__init__.py``` according to debugger. I am using Python 3.6

[2018-07-30 06:09] wdaher commented on #8177
Here's another sample incorrectly-rotated image if it's useful:
https://www.dropbox.com/s/7vb5y14vr73lt3r/2018-07-27%2018.51.30.jpg?dl=0

(The pens should appear at the top of the page)

[2018-07-30 11:07] akashnimare commented on #10104
Agreed on this. We could use the same button styling which we're using on `/plans` page -

<img src="https://dzwonsemrish7.cloudfront.net/items/2b2d1b440m201w0A383p/Screen%20Recording%202018-07-30%20at%2004.35%20PM.gif?v=d46e02b9"/>

cc @rishig.

[2018-07-30 15:09] ThreeFx commented on #8
It is useful when running zulip in Kubernetes for example, using cert-manager to manage all TLS certificates.

[2018-07-30 15:39] rishig commented on #10104
good catch!

[2018-07-30 17:43] trueskawka commented on #9851
I got the issue on FireFox Quantum today, but wasn't able to reproduce and reloaded my browser before capturing the traceback. Frozen picker behavior persisted when switching topics, streams, focusing and defocusing the window, picking emoji, writing a new message.

I'll look into the logs next time it happens, just wanted to let you know it doesn't seem to be Chrome-specific :)

![emoji_stuck_sma

[2018-07-30 17:43] timabbott commented on #10104
@akashnimare sounds good re: buttons.  Want to submit a quick PR for that, and then we can look at redoing the app screenshots as a follow-up (that probably involves more discussion).

[2018-07-30 17:44] timabbott commented on #8
Yes, and that's what this feature is for.  See the `DISABLE_HTTPS` setting in https://github.com/zulip/docker-zulip

[2018-07-30 17:56] akashnimare commented on #10104
Cool, will submit the PR for the same. Rishi and I have almost finished the work on the screenshots, it just needs some finishing.

[2018-07-30 18:00] pflueg commented on #9946
No, unfortuntely not. It is just a virtualbox machine on my laptop, installed with a minimal debian ([netinst installer](https://www.debian.org/CD/netinst/) used) and "german"  as language selected in the installer.

[2018-07-30 18:10] timabbott commented on #9851
We have logic to hide all popovers on-scroll (and various other conditions as well), so whatever's going on here must be that logic throwing an error.

[2018-07-30 18:11] timabbott commented on #10107
Do you by any chance have a module called `zulip` in your project?  That could be masking the actual `zulip` in your Python path.

(As a sidenote, this issue belongs in http://github.com/zulip/python-zulip-api/issues/)

[2018-07-30 18:23] gnprice opened #10111 "Event for starring/unstarring a message gets dropped"
Repro:
* Open the app. Then open a view of the same messages in another tab, or in the mobile app.
* In that other client, star and unstar some of the messages.
* Observe the messages don't get updated -- no stars appear or disappear.
* Reload the tab; now the starred/unstarred state updates appropriately.

The cause seems to be a type error; `server_events_dispatch.js` has this call:
[code]

but

[2018-07-30 19:47] timabbott commented on #10049
@Mant1kor can you explain why you're trying to convert nginx to apache config files?   That shouldn't be required.

(As a sidenote, if you want hands-on support with integrating Zulip in your environment, you can consider getting a support contract)

[2018-07-30 19:48] timabbott commented on #9374
OK.  That's probably not too hard to add on top of our existing python-social-auth integration with GitHub.  But maybe we should move that to a separate issue?

[2018-07-30 20:00] lonerz commented on #10111
@zulipbot claim

[2018-07-30 20:04] Mant1kor commented on #10049
Emm... I'm trying to convert nginx to apache config files to use Apache SSO login over mod_auth_kerb. I'm almost done, configure Apache is the last step.
Or I'm doing something wrong? @timabbott

[2018-07-30 23:16] timabbott opened #10119 "thumbnailing: Optimize the lightbox user experience with thumbnailed images"
The webapp lightbox does not currently use the strategy docemented in
https://zulip.readthedocs.io/en/latest/subsystems/thumbnailing.html to provide an immediate blurry image (and load the full-size image in the background, swapping it in once it arrives).  We use the correct strategy for user avatars (when you click on a user profile), so we should be able to borrow some code.  See `load_medium_a

[2018-07-30 23:23] #10107 closed, assigned to nobody

[2018-07-31 00:41] timabbott commented on #10078
I fixed the proximal issue of messages being sent to a stream without subscribers in an upcoming commit.

Given `test_export.py`, I'm not sure we actually need further work to run this in CI.

But I think before closing the issue, we should change that error output to be clearer.

[2018-07-31 05:24] timabbott commented on #10078
As promised, 7ea5987e5d061ef22bebef5fdb1d6bba0010e8d1 fixed the `logs` stream being miscreated in development environments (if you have an HTTP response be really slow, which can often happen around a server restart).

[2018-07-31 05:27] shubham-padia opened #10124 "Display subscription error wherever missing"
Follow up to #10123 .
These issues also need design feedback, so were not attempted in the above PR.

- [ ] Improve design and show the error returned by the server when mentioning non-subscribed users in a stream. If a separate line for the error is not possible, consider adding the error in the tooltip.
![selection_206](https://user-images.githubusercontent.com/13910561/43439257-094d2bd6-94b0-11

[2018-07-31 05:33] #10078 closed

[2018-07-31 09:11] ThreeFx commented on #8
I can't find it in the README, however grepping the repository yields results. Thank you!

[2018-07-31 10:37] hackerkid commented on #9519
@timabbott Yup. Styling is all what is remaining :)

[2018-07-31 11:05] akashnimare commented on #10064
That issue is happening due to -
[code]
If we make it 77px it will look good but then will break on chrome :/

Also, the top buttons i.e. `Subscribed` and `All Streams` are not aligned properly on Safari.

On Chrome -

![image](https://user-images.githubusercontent.com/2263909/43456057-9f60e502-94df-11e8-9528-a92ac1b046cc.png)

[2018-07-31 11:12] #10095 closed

[2018-07-31 11:35] akashnimare commented on #10064
Okay, I have come up with a solution which basically fixes both the above issues -

[code]

[2018-07-31 17:10] timabbott opened #10126 "Creating custom profile fields displays a flickered error if you've opened form twice"
When setting up custom profile fields on chat.zulip.org, I saw (rather than a loading indicator) a brief flash of a (paraphased, since it's a flash) "The field already exists" error.

After consulting the network tab, I saw that what's happening is we're somehow double-sending the HTTP request to add the field to the server.  And then I was able to reproduce it by opening the settings page multipl

[2018-07-31 17:25] armaanahluwalia opened #10127 "Autocomplete Dropdown for Topic Name in Message Edit View"
I feel like we should have a autocomplete dropdown while editing a message for the name of the topic that message is categorized under. Seems logical and would improve the overall UX of that view.

[2018-07-31 17:28] timabbott opened #10129 "custom profile fields: Improve UX of "choices" text boxes"
It's definitely worth fixing these issues:
(1) The text boxes for defining choices feel really small.
(2) The "Order" column is silly, and should be replaced with being dragged around with sortable.js, just like we have for the fields themselves.

[2018-07-31 17:40] hackerkid opened #10130 "Invalid email when trying to reset password for a deactivated account"
Someone (possibly you) requested a password reset email for XXXXXXXXXXXXXXXXX on https://chat.zulip.org, but you do not have an active account in https://chat.zulip.org. However, you do have an active account in the https://chat.zulip.org organization; you can try logging in or resetting your password there.

    Thanks,
    Your friends at Zulip HQ

Originally reported at https://chat.zulip.org/#

[2018-07-31 17:40] hackerkid commented on #10130
@zulipbot label "area: email"

[2018-07-31 17:40] hackerkid commented on #10130
@zulipbot label "area: emails"

[2018-07-31 17:49] shubhamdhama opened #10131 "custom profile fields: Add markdown support."
We probably need to discuss more on this as this can be a complicated issue.

For custom profile fields like for example, "description" we may want to have bullets, italic and most importantly emojis.

@zulipbot label "area: settings (admin/org)" "feedback wanted"

[2018-07-31 17:58] timabbott commented on #10131
The way I'd like this to work is for us to do markdown rendering using the backend markdown processor on the content of custom profile fields.

The main complexity here is that we'll need to have a way for the current user to receive a copy of their personal custom profile field values in raw format (not markdown-rendered).  You only need the markdown-rendered version for other users.

To support

[2018-07-31 18:01] timabbott commented on #10130
Improving the email situation should be a quick fix that's well worth doing.  I suspect it'll involve changes in `ZulipPasswordResetForm` to do some additional checks, or maybe some of the upstream code that we haven't forked from Django (I'd read the Django source to understand how their thing works).

There's a more complex issue of how account reactivation requests should work, that I think we

[2018-07-31 18:05] timabbott commented on #10124
@shubham-padia I think the second and third ones ("You are not subscribed") isn't a real issue -- you always have permissions to subscribe yourself, right?  It's possible we're sending an incorrect request to the server if the `waiting_period` feature affects that.

@rishig what are your thoughts on how these should do error handling?

[2018-07-31 18:17] timabbott commented on #9940
@zooba #9920 is deployed in production; can you try removing the `sessionid` cookie on `zulipchat.com` (that was masking the subdomain's sessionid cookie) and see if the problem is solved for you?

[2018-07-31 18:18] timabbott commented on #9385
@tpoterba so, I believe we've now fixed this issue via #9920.  Can you try visiting `zulipchat.com`, removing the `sessionid` cookie on that root domain if present, and then logging into your organization?  (The cookies only last 2 weeks, so may have expired by now, but it's worth checking).

[2018-07-31 18:19] timabbott commented on #9409
I believe this was fixed via #9920; see also the various likely duplicates (e.g. #9385)

[2018-07-31 18:19] #9409 closed

[2018-07-31 18:53] shubhamdhama commented on #10130
@zulipbot claim I'm able to reproduce this issue. And the problem is near this https://github.com/zulip/zulip/blob/master/zerver/forms.py#L252

[2018-07-31 20:17] tpoterba commented on #9409
It's working, thanks!

[2018-07-31 21:21] timabbott opened #10134 "custom profile fields: Offer a way to automatically sync some fields"
This is a large multi-part issue.  The use case for this is to support custom fields like "employee ID" that (A) one might want to sync from another database like LDAP and (B) one might want to not allow users to change manually.

The stack of work for this would be:
* [x] Add support for admins editing other users' profile fields via the API (currently not supported).  While we're at it, I imagin

[2018-07-31 21:23] timabbott opened #10135 "custom profile fields: Consider displaying some fields on the "brief profile" from clicking avatars"
For shorter fields (like github username), some organizations might want to have them be displayed on the thing that appears immediately when you click on a user, not just the more hidden "full profile" page.  We should probably offer a way to do that.

There's some tricky visual design issues here, but I think it's possible we could start by just making it possible for users to make their profile

[2018-07-31 21:27] rishig commented on #10124
In the top case, can we just change the error to "King Hamlet is not subscribed to this stream, and will not be notified if you mention them." and not show either the Subscribe button or the error?

[2018-07-31 21:40] shubham-padia commented on #10026
@timabbott I think I'll have to label the first point as `wontfix`, I don't think there's a way to have both, Suggestions for an empty string and them not appearing when backspace was hit. Another solution is to have the empty string suggestions only when no pill has yet been added.

[2018-07-31 21:47] #10111 closed

[2018-07-31 21:50] timabbott commented on #10124
Yes, that's probably the best solution; we do still need a way to display an error message in that widget, though.  Probably the right answer is for any error if one is clicking the button to just replace the whole thing on top of compose with a red error widget.  So I'd (1) Do a commit making the error handling work reasonably, using this to make it easy to test and then (2) Add a commit doing th

[2018-07-31 21:51] timabbott commented on #9409
Thank you!  I definitely appreciated your help in figuring out what was happening here.

[2018-07-31 21:52] timabbott commented on #10026
One idea I've been thinking about is that we could have suggestions for the empty string only appear if you hit "Tab".  @rishig what are your thoughts?  You can test on your machine with `env SEARCH_PILLS_ENABLED=True ./tools/run-dev.py`

[2018-07-31 21:53] shubham-padia commented on #10124
Yeah, I just put the json_error on top of add_subsciptions_backend, which wasn't the right way to test that two cases I think. The following is the only error I think when subscribing yourself (?) ,

[code]

If we do not want to show that message, those two look fine :)

[2018-07-31 22:01] armaanahluwalia commented on #10104
@timabbott I think this was incorrectly closed. I was actually talking about the tab menu below the featured app image splash. See attached screenshot.

<img width="959" alt="screen shot 2018-08-01 at 3 30 11 am" src="https://user-images.githubusercontent.com/322991/43489650-544eccbc-953b-11e8-93c3-f7e849d46a0e.png">

[2018-07-31 22:02] armaanahluwalia commented on #10104
Those don't have enabled states so its difficult to even realized they're clickable. The other issue of the images taking too long to load was also not addressed ( Not sure if another issue was opened for that ).

[2018-07-31 22:27] shubham-padia commented on #10026
Also for `tab should open typeahead for where you are?`
I'm assuming that this means to open the typeahead when you're typing and the typeahead is not open?
Is that correct?

Currently `tab` is used to select an option from the suggestions, same as `enter`.

[2018-07-31 23:03] timabbott commented on #10104
Yeah, I think this is a classic case of #10133 having been mis-tagged as fixing this issue; its commit message should have said "Fixes part of #10104". @akashnimare FYI, reopening.

[2018-08-01 00:11] timabbott commented on #10026
Yes, exactly, to open the typeahead when it isn't open.

[2018-08-01 00:15] timabbott commented on #10124
That, and lower-layer issues connecting to the server (e.g. a 500).

[2018-08-01 08:13] gnprice opened #10138 "Cross-realm bots lack avatars in /register response"
On `/register` when the `realm_user` event type is included, we return the data for certain users in `cross_realm_bots`.

This is fine and dandy, but they're missing certain information. Most notably, `avatar_url`:
[code]

In fact, these bots do have avatars set, at least on my test org on zulipchat.com which I used above (on chat.zulip.org, they seem to just have gravatars):
![image](https://user

[2018-08-01 11:57] akashnimare commented on #10104
@armaanahluwalia It's always a good idea to post the screenshots etc in the issue description to make the issue crystal clear. This is what I always do to avoid any confusions :) If you go on the `/apps` page there is only one button which is the download button. That button didn't have the enabled state so the changes I have made are still relevant.

Did you notice the background and opacity chan

[2018-08-01 12:12] armaanahluwalia commented on #10104
@akashnimare Thanks for the feedback. I'll try to communicate better going forward. I actually did notice the hover state but I'm referring specifically to the fact that the hover state is not 'enabled' by default on the first option. This is pretty standard when designing any kind of buttons. The one thats selected has an 'enabled' state different from their default 'unselected' state. This is es

[2018-08-01 12:14] armaanahluwalia commented on #10104
We also haven't addressed the bug that there is a flash of another image ( or different sized image ) before loading the android tab. So when you click the android button, you see the image change and THEN load the android image.

[2018-08-01 12:29] armaanahluwalia commented on #10104
![Image Bug](http://g.recordit.co/iCAMFcooz6.gif)

[2018-08-01 12:57] akashnimare commented on #10104
So if a user is on `/apps/mac` page, the `macOS` tab icon should be enabled, right (same as what we see when you hover on the icon)?

[2018-08-01 19:15] rishig opened #10144 "right sidebar: Unread count moves on hover."
![peek 2018-08-01 14-08](https://user-images.githubusercontent.com/890911/43543338-b4ef1c0e-959d-11e8-8f77-a23ec436af99.gif)

This is a recent regression. You can hover over rows with unreads in the left sidebar to see the expected behavior.

[2018-08-01 20:27] timabbott commented on #10144
Closing, since this was fixed in #9954.

[2018-08-01 20:27] #10144 closed

[2018-08-01 20:44] brainwane commented on #4627
[One of my clients just asked me for this feature for our Zulip instance.](https://chat.opentechstrategies.com/#narrow/stream/2-general/subject/zulip/near/49797)

[2018-08-01 21:54] timabbott commented on #10138
The other missing fields are `timezone` and `date_joined`, both of which are sorta meaningless for this class of user, but we can pass through, and that's probably the right approach.

[2018-08-01 22:00] timabbott commented on #10138
I'm going to do the quick solution of fixing the format for these.  The webapp's administrative UI does need to distinguish these from normal bot users in the realm, because a realm administrator can't administer them.

I think there's a good chance that we'll eliminate this structure in the future by just splitting these cross-realm bot users into N bots, one per realm.  But until we do that, hav

[2018-08-01 22:10] #10138 closed

[2018-08-01 22:47] andersk commented on #9953
Pyflame graph of an actual command (`manage.py fill_memcached_caches`): http://web.mit.edu/andersk/Public/zulip/manage-py-fill_memcached_caches.svg

Which suggests the following additional ideas:
* Lazily import `zerver.lib.bugdown` ↦ `twitter`
* Lazily import `zerver.lib.push_notifications` ↦ `apns2`
* Lazily import `zproject.backend` ↦ `apiclient`
* Destroy `libthumbor` ↦ `pkg_resources`
* Conve

[2018-08-01 23:03] trueskawka opened #10148 "settings: Change image for choosing Google emoji set."
The Google emoji set picture in settings seems to have the old blobs and is confusing people as to which emoji they're picking. This is from the current Recurse Center instance :)

![blob_image](https://user-images.githubusercontent.com/3491502/43553564-5ddda384-95a4-11e8-8bef-fb6b1e5c8d3f.png)

It would be great if the picture showed the current emoji set.

[2018-08-01 23:04] timabbott commented on #7459
Responding to this:

I think we want the `active_push_notification` semantics; that way, the index for a given user is in steady-state empty if a user is caught up.  If we make them orthogonal, we'd end up having the index scan a user's 1000s of past active push notifications every time we mark messages as read to see if any of them line up, which is a lot more expensive...

[2018-08-01 23:10] trueskawka commented on #10148
Images* - those are 4 separate images from the old emoji set :)

[2018-08-01 23:58] timabbott commented on #10148
This is https://github.com/zulip/zulip/issues/10038.

[2018-08-02 00:06] synicalsyntax commented on #10065
@jainkuniya What browser are you on? Can't reproduce on czo

[2018-08-02 05:54] YJDave commented on #10126
@zulipbot claim

[2018-08-02 08:37] Swapnilr1 commented on #8631
@zulipbot claim

[2018-08-02 09:11] gnprice commented on #7459
I definitely agree we want the steady state of the index to be small/zero for each user. We can do that equally well with either meaning for the flag, though.

We currently have among our indexes
[code]
Note the difference -- there's a `starred` flag, and an index with just the starred messages; and there's a *`read`* flag, not `unread`, but nevertheless the index is of unread messages.

What I'm

[2018-08-02 09:15] gnprice commented on #7459
As for the mechanics of what the DBMS then has to do when marking messages as read: it has the old and new values of `flags` right there in front of it. So it should have no trouble determining whether there's an index entry it needs to go delete, before actually consulting the index.

(I'd grimly laugh if I said a "should" like that about MySQL... but there are reasons we're on PostgreSQL.)

[2018-08-02 11:45] DoCode opened #10153 "[Jenkins] Pipeline syntax for Zulip notification"
What is the pipeline syntax for notifications on Jenkins?

[2018-08-02 12:53] eddyb commented on #8951
I would prefer to have this *replace* selecting a single message (which interferes with scrolling).

[2018-08-02 15:18] timabbott commented on #10153
Hi @DoCode!  I think this issue best belongs in the issue tracker for the Jenkins plugin:
https://github.com/zulip/zulip-jenkins-plugin

[2018-08-02 15:18] #10153 closed

[2018-08-02 16:50] timabbott commented on #8951
@eddyb can you explain the problem you're bringing up more clearly?

[2018-08-02 17:01] YJDave commented on #10129
@zulipbot claim

[2018-08-02 17:07] #10064 closed

[2018-08-02 18:37] sampritipanda commented on #9999
@zulipbot abandon

I'll unassign myself for now.

[2018-08-02 18:45] timabbott commented on #9999
To what extent do we consider this issue resolved?  It's pretty fast for me on chat.zulip.org now.  @showell FYI.

[2018-08-02 18:58] showell commented on #9999
It’s all relative.  We can close the issue but my PR heads us to bigger improvements.

[2018-08-02 19:00] timabbott commented on #7459
I guess for me, the fundamental question is whether we want to be storing long-term the data as to whether a mobile push notification was sent for a message, after that mobile push notification is cleared.  I don't see clear value in maintaining that data.

In either case, it's 1 line of code to set the value when we send a push notification, so that part is easy.

We already have several blocks o

[2018-08-02 20:15] lamarqua opened #10158 "Offer the Google blobs emoji set again"
Since [it seems that Zulip will move to the newer Google emoji set](https://github.com/zulip/zulip/issues/10148), I'd like to request the possibility of using the old set (blobs) as an additional option.
(I like the blobs especially because they are the only option that is substantially different from the others.)

[2018-08-02 20:56] timabbott commented on #10158
So, the problem with using the blobs is that they don't have a complete set of emoji (since Google won't be updating them).  I supposed we could fallback to the newer emoji set for emoji that don't exist in it, but because we render these using the sprite sheets generated by the third-party https://github.com/iamcal/emoji-data project, it would require nontrivial work to make happen technically.

[2018-08-02 21:12] lamarqua commented on #10158
Perhaps an acceptable intermediate solution is to not render the emoji at all (`:unknown_emoji:`)?

[2018-08-02 22:34] synicalsyntax commented on #9999
Not sure if this is affiliated with the subs modal launch, but switching to the Create a new streak panel takes a while on czo. Maybe that would be worth optimizing as well?

[2018-08-02 22:44] timabbott commented on #9999
Worth profiling.  My guess is that rendering the list of streams to copy from and their subscriber counts is the problem.

[2018-08-02 23:12] timabbott opened #10161 "custom profile fields: Support editing users' custom profile fields from admin UI"
Now that we have an edit-user modal (https://github.com/zulip/zulip/pull/10141#issuecomment-409971452), we should eventually add support for administrators editing a users' custom profile fields on that page.

[2018-08-02 23:56] eddyb commented on #8951
I suppose it wasn't brought up on this thread already, sorry for being so sparse.

What I mean is that there's a message selection behavior I dislike (for several reasons that may be hard to articulate, but mainly it overrides scrolling behavior and controls whether the reply box is visible), and I would prefer if the selection was per-topic not per-message, and clicking on messages (for links/sel

[2018-08-03 00:05] timabbott commented on #9921
Thanks to #9954, we've mostly completed approach 1 above.  I'm going to leave this open for now, since we might want to do some of these other ideas; it sorta depends on practice on whether we hear more reports from users of Zulip consuming "too much CPU" when idle.

[2018-08-03 00:05] timabbott commented on #9950
Fixed by #9954, thanks @showell!

[2018-08-03 00:05] #9950 closed

[2018-08-03 00:14] timabbott commented on #10158
Even that would be some effort, because before we even get to that problem (which I agree has possible solutions) we'd need to somehow include in the project 2 copies of the third-party emojidata repository.

[2018-08-03 00:31] Lyla-Fischer opened #10163 "stream privacy [change] link UI update"
If you are an organization administrator and you change the privacy level of a stream to be a private stream, and then immediately unsubscribe, the stream interface makes it look like you can still change the privacy level of the stream. You can't, but the other "I'm subscribed" controls (ie the notification controls) disappear, and the '[change]' link does not. It does disappear if you refresh th

[2018-08-03 00:31] Lyla-Fischer commented on #10163
@YJDave

[2018-08-03 06:10] YJDave commented on #10163
@zulipbot claim

[2018-08-03 07:56] Mant1kor opened #10165 "[request] Add Ukrainian(uk) language"
Please add Ukrainian language to Zulip interface.
The translation progress on transifex is over 65%.

[2018-08-03 12:56] shubhamdhama commented on #10130
@timabbott is there any way to determine if the user has been deactivated by himself or by admin.
If there isn't any then what should be the behavior when the user has been deactivated by admin and he requests the password reset. For the case when he deactivated himself I think it's safe to give password reset link.

[2018-08-03 16:13] rishig opened #10169 "integrations: Add integration for Netlify."
Got a user request for it, and is in line with the integrations we have so far.
https://www.netlify.com/

We have a guide for adding new integrations at https://zulipchat.com/api/incoming-webhooks-overview.

[2018-08-03 16:49] timabbott commented on #10165
@Mant1kor cool, congrats on all the translation progress!

I'm syncing translation data for the server now; it'll be on chat.zulip.org later today and zulipchat.com not long after that.

[2018-08-03 16:50] #10165 closed

[2018-08-03 16:51] Mant1kor commented on #10165
@timabbott how often you synchronize translations?

[2018-08-03 16:53] timabbott commented on #10130
I think probably the long-term structure we'll want here is this:
* Regardless of who deactivated the user, if they try to reset their password, they get an email that they account has been deactivated.
* That email can contain a button for "request reactivation" or something.
* If the user clicks that button, we send some sort of notification to organization administrators, who can choose whether

[2018-08-03 16:55] timabbott commented on #10165
We do it erratically.  We do it often before major releases or after major string changes, but there are times when they are not synchronized for a while.  We're happy to sync anytime on request from one of our translators (#translating on chat.zulip.org is a good place, or here, if you prefer).  The main reason we don't synchronize daily (or something) is that the Django translation format makes

[2018-08-03 18:32] rishig opened #10171 "message view: Don't start new recipient blocks for day breaks."
Extended discussion at https://chat.zulip.org/#narrow/stream/101-design/topic/day.20breaks.

I think the following would be a good V1 experiment:
* Keep the current date dividers stylistically similar, but make them a bit less wide
* Remove the recipient bar when it is there only due to a day break
* Extend the boundaries of the previous recipient box down

[2018-08-03 20:10] kevinnbrunner commented on #9736
This is a feature my organization would love to use!

[2018-08-03 20:20] rishig opened #10177 "settings: Quick improvements to the custom emoji page."
Some quick changes that I think will advertise our emoji features a bit better:
- [x] Replace the `new_emoji` placeholder with `leafy green vegetable` (or something else with spaces)
- [x] We'll need to make sure we actually support uploading with spaces in the name provided (i.e. convert them to `_`s somewhere, since that's what we use on the wire)
- [x] `Upload emoji` -> `Upload image or GIF`
-

[2018-08-03 20:54] akashnimare commented on #10177
Related - @rishig do you think we should set the width + height of the uploaded image?

Current -

![image](https://user-images.githubusercontent.com/2263909/43665348-77e145fc-978d-11e8-9ca0-1c77fe089284.png)

After setting the width + height to 25px -

![image](https://user-images.githubusercontent.com/2263909/43665287-4a8bdf04-978d-11e8-8666-123dd7ed2692.png)

[2018-08-03 22:37] timabbott opened #10178 "Fix timezone display format in "new login" emails"
I just got this email when testing:

[code]

We should display the timezone as e.g. `-05:00`, not with a location.

Tagging as a priority, because we've seen people be confused into thinking this suggested they were in LA.

[2018-08-03 22:48] timabbott opened #10179 ""New login" security emails are incorrectly sent when users create an organization"
Apparently, when you create a new organization with /new, we email you the "new login" emails.  Easy to confirm using /emails in development.

The cause is apparently that because for realm creation we call `redirect_and_log_into_subdomain`, attaching a property to the UserProfile object isn't an effective way to pass data to the code that sends the emails.

We should probably just replace that ha

[2018-08-03 23:29] YagoGG commented on #10178
@zulipbot clain

[2018-08-04 00:15] #10178 closed

[2018-08-04 01:34] gnprice opened #10182 "Some message edits don't show up in web frontend"
In a tab I'd had open for a while, I found this:

![image](https://user-images.githubusercontent.com/28173/43671205-8e147c42-974a-11e8-9159-bdf788e0626a.png)

On loading that narrow fresh, all but the first message is "deleted":
![image](https://user-images.githubusercontent.com/28173/43671246-3f5b4d1e-974b-11e8-9b91-b2ad5d5b18e5.png)

I believe what happened is that @armaanahluwalia sent a large

[2018-08-04 02:51] ljagielski2 commented on #10169
@zulipbot claim

[2018-08-04 02:54] rishig commented on #10178
Is there a way to get something like `(Pacific Time -05:00)` instead of just the offset?

[2018-08-04 03:10] rishig commented on #10177
yeah, that seems reasonable. I don't know the story behind the current sizing, though.

[2018-08-04 03:31] jainkuniya commented on #10065
@synicalsyntax I am facing this on Chrome Version 67.0.3396.99 (Official Build) (64-bit).
https://cl.ly/1X1Z3f0I2U14

I am also able to reproduce it on Safari Version 11.1.1 (13605.2.8)

[2018-08-04 08:53] rogeredthat commented on #10177
@zulipbot claim

[2018-08-04 10:36] dvijaywargiya commented on #10169
@zulipbot claim

[2018-08-04 10:41] dvijaywargiya commented on #10135
@zulipbot claim

[2018-08-04 12:51] eeshangarg commented on #10169
@ljagielski2: I already started working on this yesterday. How far along are you? I have all of the fixtures ready. Feel free to work on this if you'd like, just wanted to make sure we didn't have any conflicts! :) Also, if you have any questions, feel free to reach out to me on `chat.zulip.org`. Thanks! :)

[2018-08-04 16:37] timabbott commented on #10135
Added the help wanted label; you're welcome to grab this one.

Database design wise, we'll want to add a boolean field `display_on_small_profile` to the CustomProfileField model, and go from there.

[2018-08-04 16:39] timabbott commented on #10177
The main reasoning behind the current sizing was to make it easier to actually see them.  But probably we should just put that behind a click handler.

[2018-08-04 16:42] #10177 closed

[2018-08-04 18:10] rishig commented on #10177
Or show it larger on-hover?

[2018-08-04 18:44] HarshitOnGitHub commented on #10038
@timabbott Did you get time to check if it is indeed timestamp that is causing this issue?

[2018-08-04 18:45] rishig opened #10191 "api docs: Add a doc explaining how to do a simple webhook integration."
A common thing for someone adding a webhook integration to zulip for their personal use is to just want to add the webhook in the simplest way possible (no tests, documentation, screenshots, etc).

It would be good to have a doc that gives step by step instructions for doing this bare minimum, that then links to what you would want to do to flesh it out into something that can be merged.

[2018-08-04 18:46] #9945 closed

[2018-08-04 21:51] rishig commented on #8951
Not sure if this is exactly what you're saying, but I think a cool thing could be that on selection, we open a little menu next to the selection that has:
* quote and reply
* copy to clipboard
* copy message(s) to clipboard

[2018-08-04 23:08] lonerz commented on #2369
#10149

[2018-08-05 06:34] Ajayneethikannan commented on #2316
Can you please elucidate on the purpose of this enhancement.  Is it for writing english from right to left, or any other language. Also , should the messages  sent be from right to left for the specific user?
Thank You!

[2018-08-05 06:36] techac commented on #3564
@zulip unclaim

[2018-08-05 06:44] techac commented on #2305
@zulipbot claim

[2018-08-05 06:47] techac commented on #3564
@zulipbot  abandon

[2018-08-05 06:50] techac commented on #2305
@zulipbot claim

[2018-08-05 15:07] timabbott commented on #2316
Oh, this was fixed some time ago in #9889; this was apparently a duplicate of the original issue.  So nothing needs to be done here; thanks for your interest @Ajayneethikannan!

[2018-08-05 15:07] #2316 closed

[2018-08-05 18:21] timabbott opened #10199 "Fix broken line-wrapping for our "Group PMs" area in bottom-right"
It appears the CSS for our "group PMs" area is completely broken:

![image](https://user-images.githubusercontent.com/2746074/43688655-95944616-98a1-11e8-8a16-094f07df9fee.png)

The unread counts should be in the same line as the text, and also the vertical space seems too big.

[2018-08-05 19:38] shubham-padia commented on #10199
Can't repro this on the current master, is the below screenshot the intended result ?
![selection_207](https://user-images.githubusercontent.com/13910561/43689260-355ae8a8-9915-11e8-974d-0ae886ab5f35.png)

[2018-08-05 20:27] Serkan-devel commented on #356
Any updates on this?

[2018-08-05 22:35] skunkmb commented on #8547
@zulipbot claim

[2018-08-05 23:04] #10199 closed

[2018-08-06 04:28] techac commented on #2305
@zulipbot abandon

[2018-08-06 04:31] techac commented on #6512
@zulipbot claim

[2018-08-06 06:59] RalfJung commented on #5854
FWIW, I could hardly disagree more with that statement. The only thing this will lead to is a kind of security fatigue making users ignore such emails. Every time a user gets a security warning that is a false positive, this leads to them caring slightly less about security warnings. Not showing any warning when everything is fine is almost as important as showing a warning when something goes wro