[2016-12-06 09:16] arpith commented on #2596
Those look good to me @TomaszKolek :)

[2016-12-06 14:17] shubhsingh594 commented on #2360
@timabbott  can i work on this?

P.S : I tried, just adding the senders email id to the pm-with: search, since we are anyways taking all participants in a set for the huddle, i was expecting it to work. ( correct me, if I'm thinking in the wrong direction).
But it nothing was rendered on the screen, although i can see the JSON object has been received ( firefox developers tools).
The same thing ha

[2016-12-06 16:31] peguin40 commented on #2578
Working on this

[2016-12-06 22:24] showell opened #2622 "Prevent devs from doing production installs."
We should make it abundantly clear at the top of this page that the instructions are prod-only.  We had GCI students run this and mess up their environments.

https://zulip.readthedocs.io/en/latest/prod-install.html

[2016-12-06 22:43] Juanvulcano commented on #2426
Hi Tim, I have a question about the Client model. Currently I have something that looks like:

`for user in user_profile:
UserPresence.objects.get_or_create(user_profile=user, client=Client, timestamp=random_date, status=random_status)`

How should I create a client that can be used for all users?

[2016-12-07 00:30] Juanvulcano commented on #2426
This is my current code:

`        # Extract a list of all users
        user_profiles = [for user_profile in UserProfile.objects.all()] # type: Any

        # Populate users with some bar data
        for user in user_profiles:
          month = random.choice(range(1, 13)) # type: int
          day = random.choice(range(1, 29)) # type: int
          random_status = random.choice(range(1,3)) # typ

[2016-12-07 01:11] timabbott commented on #2426
You should be able to use `get_client("website")` to get a client object appropriate for this purpose.

[2016-12-07 01:19] Juanvulcano commented on #2426
Hi Tim thanks, please take a look 👍

[2016-12-07 01:36] 1Niels opened #2627 "Emoji Menu shows 9 sets of same emoji"
To view the bug simply start a new message, open the emoji menu, and scroll through it. I looked over the menu and counted the :100: emoji 9 times. I can't include a screenshot of the bug in this issue so I uploaded an example to dropbox [here](https://www.dropbox.com/s/8dg12kvrzrekk8j/zulip%20multiple%20of%20same%20emoji.mov?dl=0). Thanks!

[2016-12-07 01:50] #2560 closed

[2016-12-07 01:56] #2423 closed

[2016-12-07 01:59] timabbott opened #2628 "Set good zxcvbn defaults for production environments"
We should add a new server setting controlling how strong passwords are required in Zulip, using zxcvbn's logic.  We can make it a server-level configuration parameter (see http://zulip.readthedocs.io/en/latest/settings.html).  `git grep zxcvbn` should make it easy to find the code needing modification to implement this.

It's important that we do the error messages for too-weak-passwords carefull

[2016-12-07 02:03] pweaver opened #2629 "@mentions and #stream autocomplete should align with the text being completed"
Instead of left aligning. It is awkward to use when the mention is farther to the right of the input box.

[2016-12-07 02:09] timabbott commented on #2629
One thing to be careful about when solving this is making sure that the autocomplete area doesn't go outside the boundaries of the page in narrow windows (with no right sidebar) when the text is the near the right end of the compose box.

[2016-12-07 02:10] timabbott commented on #2629
An alternative strategy might be to make the autocomplete the same width as the compose box; that's what Slack does.  Though I don't particularly like how busy that makes things feel.

[2016-12-07 02:10] pweaver commented on #2629
I think other editors do inline autocompletion but that might be harder to do.'

More complicated but other food for thought:  think other chat systems use a full editor and turn the autocompleted object into a single 'tag'/character formatted like it would appear in the stream (and deletable as if it were a single character).

[2016-12-07 02:10] Juanvulcano commented on #2622
Fixed :)

[2016-12-07 02:11] timabbott commented on #2622
Closed, thanks @Juanvulcano!  I hadn't realized we had an open issue for this; in the future you can get GitHub to close issues automatically by putting e.g. `Fixes: #2622` on a line at the end of the commit message :)

[2016-12-07 02:11] #2622 closed

[2016-12-07 02:12] timabbott commented on #2627
Fascinating!  I know that's a popular emoji, but, we should fix this :)

[2016-12-07 03:09] Mikebarson commented on #2247
Hi there! I'm from GCI and I'm working on this issue...I'm wondering how I can duplicate the issue so that I can begin debuggin it.

[2016-12-07 06:39] TomaszKolek commented on #2561
I started working on it

[2016-12-07 07:16] peguin40 commented on #2627
This issue is caused by one emoji having multiple copies with different names. I.e. in /static/js/emoji.js, the list of emoji_names contain multiple names that map to the same emoji.
Note: the elements in the list is NOT unique and thus cannot be removed simply by getting rid of duplicates.
I cannot confirm whether there are several image files of the same image.
I tried to remove duplicates in th

[2016-12-07 15:49] #2422 closed

[2016-12-07 17:08] ssfrr opened #2636 "menu not cleared after selecting "mute topic""
I often scan down my messages using the keyboard, and then hit `i` `down` `down` `down` `enter` to mute topics I'm not interested in. I think that it used to clear the `i` menu when I hit `enter`, but it no longer does (maybe as of the last few weeks or so?).

I guess it's just an extra `escape` to clear the menu, but it seems like normally once you've selected something from the menu you don't ne

[2016-12-07 19:25] polypmer commented on #2604
So i've been thinking about this, maybe it's not such a bad idea to simply remove the if check, that is broadcast to all active users that there was a new stream created; as this doesn't indicate who or what the stream is, just that a stream event happened. So the stream remains, to a degree albeit lesser, secret, but when creating invite-only streams, the UI updates without reload. Otherwise I'm

[2016-12-07 19:27] #2465 closed

[2016-12-07 19:31] timabbott commented on #2604
I think basically this is a bug in the real-time sync model.  We recently made a change to assume that the frontend is aware of all public streams, which is great since it saves a lot of complexity.  However, that change in think inadvertently caused problems for invite-only streams.  I think the bug is that when users are subscribed to an invite-only stream, we need to first send a "stream create

[2016-12-07 19:37] timabbott commented on #2247
Hi @Mikebarson!  Reading the original bug report, I'm not sure we have a great reproducer, but I would try going to /#administration page and playing around with changing names to use unusual characters, etc. and seeing if you can get a traceback...

[2016-12-07 23:50] timabbott commented on #2627
Ahh, that makes sense.  I recommend investigating what other products either emoji like GitHub and Slack do with the problem of having multiple names for a given emoji.  It might be that they just get deduplicated in the emoji picker, but still all the names work.  E.g. :100: is both `:100:` and `:perfect:` on GitHub.

[2016-12-08 00:05] timabbott commented on #2405
The problem here is that Dropbox is still the publisher of the "zulip" package in pypi.

[2016-12-08 00:12] #1488 closed

[2016-12-08 00:17] timabbott commented on #2575
@abhayKashyap03 can you explain what this issue is intended to be?

[2016-12-08 00:21] timabbott opened #2639 "Make `tools/test-documentation` verify the links in the /help/ articles"
We've had a decent number of typos resulting in broken links in that content, and it seems like it'd be pretty easy to just verify them explicitly.  Probably just involves some configuration for the `test-documentation` crawler.

@kkanahin do you want to take this task?  localhost:9991/help/ is the set of pages under discussion.

[2016-12-08 00:26] kkanahin commented on #2639
@timabbott sure I can take this task.

[2016-12-08 01:56] timabbott opened #2640 "Add realm-level settings to control inline image/open graph previews"
Currently, we have two server-level settings in zproject/settings.py:
* INLINE_URL_EMBED_PREVIEW (controls open graph previews).
* INLINE_IMAGE_PREVIEW (controls inline image previews).

We'd like to make controlling these available as be realm-level settings, since I suspect some organizations will want these features enabled or disabled for their organization.  The actual flag can be done inside

[2016-12-08 01:57] timabbott commented on #406
This was implemented in c93f1d4eda71ddcca5ba05d0bf9fbfc8895829e2!

It needs a bit more work and manual testing before I'm willing to turn it on by default, which is discussed in the #2133 discussion.  We can close this issue as resolved once the feature is ready to be enabled by default.

[2016-12-08 02:08] Mikebarson commented on #2247
@timabbott I'm no longer getting the error shown above...perhaps the problem has been resolved?

[2016-12-08 05:13] #2427 closed

[2016-12-08 05:17] timabbott commented on #2247
I doubt this has been resolved, but I can't reproduce.  @Mikebarson do you just want to work on resolving the issues you did encounter?

[2016-12-08 05:23] #2596 closed

[2016-12-08 05:30] #2327 closed

[2016-12-08 05:43] arpith commented on #2596
Thanks @timabbott, @tomaszkolek!

[2016-12-08 06:00] #2396 closed

[2016-12-08 06:00] timabbott commented on #2396
This was fixed by @tomosm, thanks @stanzheng for the bug report!

[2016-12-08 06:14] #2315 closed

[2016-12-08 06:23] timabbott opened #2645 "Add a backend test exercising the receives_online_notifications code path"
I noticed this function in `models.py` has no test coverage; we should add a test that actually uses this functionality.  This should probably go in `test_push_notifications`, since doing so involves setting the bit on the user and then calling `handle_push_notification` in a case where it's make a difference.

@TomaszKolek do you want to take care of this?

[2016-12-08 06:42] TomaszKolek commented on #2645
As soon as I finish #2561 I will start working on it.

[2016-12-08 07:38] rohithasrk opened #2646 "Close button in stream display dialog."
Shouldn't there be a close icon or button which intuitively tells the user to close a dialog box? Because there is one button in the dialog where we can add a new stream. Can say to maintain consistency too.
Please see the pics below. This is a UX issue I suppose.
PS: The 'close dialog' button on the rightmost top.

Doesn't have a close button:
![s2](https://cloud.githubusercontent.com/assets/1382

[2016-12-08 08:46] vedantrathore commented on #2335
@timabbott can I take up on this issue, I was thinking of doing second option, i.e. when the user signs up using github then we can use his github gravatar for zulip.

[2016-12-08 11:39] akhilmd commented on #2448
I'm working on this.

[2016-12-08 13:48] Mikebarson commented on #2247
Should we open an issue for the issues?

[2016-12-08 16:12] umairwaheed commented on #2564
Cool!

[2016-12-08 16:58] timabbott commented on #2247
Sure!

[2016-12-08 17:00] timabbott commented on #2646
@rohithasrk thanks for the report!  The whole streams management structure is actually in a transitional state as part of a major redesign; the new version should be merged today, which will resolve this issue.

[2016-12-08 17:00] #2646 closed

[2016-12-08 19:02] timabbott opened #2650 "python3: python-gcmclient doesn't work on Python 3"
One gets this traceback:
[code]

[2016-12-08 19:41] timabbott commented on #2650
@andersk so far this is the only Python 3 issue we've found.

Looking at https://bitbucket.org/the1plummie/gcm-client, it appears to be a somewhat dead project, those also there seems to be an available branch that supports Python 3.  We could consider just using a fork.

We could try switching to https://github.com/geeknam/python-gcm, which has Python 3 support and is somewhat more actively maint

[2016-12-08 19:52] timabbott commented on #2405
OK, I now own the "zulip" package in pypi (turns out it actually was owned by a user from 2014).  Now we just need to do a release + upload :)

[2016-12-08 21:17] Shashankagarwal181996 commented on #2321
@timabbott Could you please elaborate a little more on this.

[2016-12-09 05:17] bgilbert commented on #258
It's no longer possible to get the message date by hovering over the timestamp, so getting this information now requires scrolling back to the first message of the day.

[2016-12-09 05:28] bgilbert commented on #2367
Chrome for Android has a nice popup when closing a tab:

![screenshot_20161208-225112 2](https://cloud.githubusercontent.com/assets/361374/21038614/d6094e1c-bd9c-11e6-9670-76e762875f55.png)

[2016-12-09 08:15] anirudhjain75 commented on #2435
@timabbott I've just claimed the task from GCI, Could you explain me the issue please

[2016-12-09 08:38] Katy310 commented on #2636
I would like to work on this issue. Any guidelines or pointers on where to get started?

[2016-12-09 08:48] Bickio commented on #2357
Added a pull request fixing this issue https://github.com/zulip/zulip/pull/2655.
Cheers

[2016-12-09 10:31] Katy310 commented on #2517
Hey. I would like to work on this issue. Any pointers or guidelines on how to get started?

[2016-12-09 10:39] Katy310 commented on #2510
I'd like to work on this issue. Any pointers/ guidelines?

[2016-12-09 15:22] roberthoenig opened #2656 "JS codebase does not comply with the eslint "no-param-reassign" rule"
eslint currently throws 233 errors when setting the rule `no-param-reassing` to `["error", { "props": true }]`.
A thorough description of the rule can be found [here](http://eslint.org/docs/rules/no-param-reassign.html) - in short, it prohibits any changing/reassignment of a function parameter and its properties.
A strict compliance with the rule is not intended, as some of the code that doesn't c

[2016-12-09 15:24] showell commented on #2656
@derAnfaenger Thanks for the writeup.  Robert, @arpith, and I discussed this on Zulip, and we agree that there may be some subset of these cases that we do want to clean up, but I made the judgment call that this is a bit too much work and risk for a single GCI task.

[2016-12-09 15:49] showell opened #2657 "Limit bots for admins on the settings page."
If an admin goes to their own personal settings page, they see all the other others's bots now.  They should only see their own there.  When we fix this, we'll need to make sure that the admin can still see all the bots on the Administration page and be able to change them for other users.

[2016-12-09 16:54] tommyip commented on #2657
I am looking at this now.

[2016-12-09 17:23] tommyip opened #2659 "Long bot names make Admin/bots tab unusable."
If a bot's name is really long, it does not get line wrapped in the Administration/bots tab. It pushes all other columns out of the visible table area.

Steps to reproduce:

1.  Create a bot with very long name
2.  Log into admin account and navigate to the Admin/Bots tab.
3.  The email/owner/actions column will not be visible.

[2016-12-09 18:35] timabbott commented on #2505
Fixed via b621817194e4f8e9c5f35207be7b6bd21761b9c4.

[2016-12-09 18:35] #2505 closed

[2016-12-09 18:39] timabbott commented on #611
We've moved the legacy URLs to be removed to `zproject/legacy_urls.py`.

[2016-12-09 18:53] #2239 closed

[2016-12-09 19:57] timabbott commented on #2389
Fix merged via 1886f0a015c5c3a9141a8cbd439d0c737dde2af8.

[2016-12-09 19:57] #2389 closed

[2016-12-09 19:57] timabbott commented on #2365
Fix merged via 1886f0a015c5c3a9141a8cbd439d0c737dde2af8.

[2016-12-09 19:57] #2365 closed

[2016-12-09 19:58] timabbott commented on #2364
This is probably still open following the merge of #2147, though the new UI is I think less confusing.  We should revisit this once that's widely deployed.

[2016-12-09 19:58] timabbott commented on #2388
@brockwhittaker this is still open following #2147.

[2016-12-09 21:47] derAnfaenger opened #2661 "Missing functionality: hotkey search"
Zulip does not offer a hotkey for switching to the main search bar.

In the [discussion](https://chat.zulip.org/#narrow/stream/GCI.20tasks/topic/Create.20a.20command-f.20hotkey.20for.20search.2E) on Zulip about the integration of this feature, the forward slash character has emerged as the best option for such a hotkey. When pressed, the main search bar would be selected and its content highlighte

[2016-12-09 23:31] showell commented on #2661
I think we already have a "/" hotkey, so I'm confused by this issue.  Is this for the browser app?

[2016-12-09 23:41] #2426 closed

[2016-12-10 00:33] timabbott commented on #2517
Hi @Katy310!  This is likely to be a somewhat involved project that involves a lot of understanding but only ~50 lines of code, but in short I'd start by reading all the code related to muting, and in particular all the code paths using `muting.is_topic_muted`.

* We'll also want to change the `muted_topics` data structure to support "anti-muted" topics
* We'll want to make those topics cause them

[2016-12-10 01:52] feorlen opened #2663 "Tornado 500 error, unhandled exceptions in python2.7/threading.py (?)"
I'm not entirely certain these two examples are related, but they look similar aside from one with unhandled exceptions and one not. Both caused 500 errors from Tornado, after which it restarted. The client is OS X Safari, connected but idle. The server is Ubuntu 14.04 on an Intel NUC with 2GB of memory. x.x.x.74 is my firewall, so anything from that address is my laptop on the internal network (v

[2016-12-10 06:42] varunranga commented on #2524
That happens because the zoom is too high. You could either use relative positioning, and use javascript to alter the position required relative to the screen, or you could just show a few names, and create a show more button, and show the remaining names using a modal pop up. You could use bootstrap for this.

[2016-12-10 07:36] rohithasrk opened #2665 "PEP-8 style errors in package/library imports in files."
There are files where the code doesn't look good because violating PEP-8 style errors.
Imports should be grouped in the following order:

1. Standard library imports
2. Related third party imports
3. Local application/library specific imports

You should put a blank line between each group of imports.

Source: https://www.python.org/dev/peps/pep-0008/

Following the instructions would improve read

[2016-12-10 07:40] rohithasrk commented on #2665
Following the instructions would improve readability of the code IMO.

[2016-12-10 07:46] rohithasrk commented on #2665
Maybe https://github.com/PyCQA/pycodestyle can be used.

[2016-12-10 15:46] feorlen commented on #2663
Here's another one. I was just bringing the client browser window to the foreground on my laptop when this happened.

[code]

[2016-12-10 16:19] feorlen commented on #2663
Now this is strange. I rebooted (forgetting to shut down Zulip first) and now I get "Recompiling templates" and all sorts of badness. I exit to try again and notice a rabbitmq process still around. Kill that, still can't start up nicely. I'm now getting exceptions and 500s all over the place.

I guess I need to reprovision. I've been avoiding it because I've got test data and api keys set up. But

[2016-12-10 16:37] #2661 closed

[2016-12-10 17:00] isht3 commented on #2639
Hi, @timabbott. If I'm not mistaken this is the same as #2505, right? If it is I think we rectified this by commit b621817.

[2016-12-10 17:09] timabbott commented on #2665
Is there an automated tool we can use to reformat the imports these days?  I'd like to be able to do this in blocks by group of file to avoid creating tons of merge conflicts.

Tagging this as "feedback wanted" until we have a clear plan for how to improve the imports.

[2016-12-10 17:17] timabbott commented on #2639
No, that only verifies the pages render; this would also verify that the outgoing links work, via the `test-documentation` suite (which is slow and thus only used in Travis CI).

[2016-12-10 17:22] timabbott commented on #2663
It looks like your errors might be the consequence of rabbitmq being broken post-reboot.  Try running:

[code]

[2016-12-10 18:18] feorlen commented on #2663
It's working now, after two reboots and provision. We'll see if the original problem returns.

[2016-12-10 18:34] showell opened #2667 "api client: Expose at-mention flags."
When I run `client.call_on_each_message` using our API client, the message dictionary that comes back to me should indicate whether my user (or bot) running the API has been at-mentioned in the message.

Somewhat relatedly, the client API should make it easy for a client to determine the full name of the user running the API, so that we can avoid code like this:

[code]

[2016-12-10 19:55] showell opened #2668 "docs: Describe what provisioning is."
We implicitly talk about provisioning in our install docs, but I think it would be nice to have a dedicated doc that answers the question "What is provisioning?" (in the context of Zulip).

I've noticed this particularly with GCI, but also for other devs.

[2016-12-11 05:46] rafidaslam commented on #2667
Looking on this..

[2016-12-12 11:05] umairwaheed commented on #2423
Working on this.

[2016-12-12 11:13] rafidaslam commented on #2423
@umairwaheed I think it's closed by ce94fb2eb195e4ac57314e8a55e0f5a0031ed0d4 ?

[2016-12-12 11:24] umairwaheed commented on #2423
awesome @rafidaslam

[2016-12-12 17:56] timabbott commented on #2321
It may require a bit of refactoring to make this convenient (e.g. extracting the sorting logic piece out as its own function), but basically `exports.filter_table` in `subs.js` has  some fairly complicated logic in how it decides which subscriptions to show in which view.  We'd like to have some unit tests for that logic to make sure that the sort order it is implementing is what we want.

[2016-12-12 18:31] bojidar-bg commented on #2287
Not sure if it's worth an additional issue, but currently, when inviting users on the test db/server, this would have only `prospero@zulip.com` marked as invalid (as he is already on the server):
[code]
While this would mark (correctly) `test@localhost` as invalid (since it is outside the domain):
[code]

[2016-12-12 18:42] timabbott commented on #2287
This seems reasonable to just fix while we're at it, yeah.

[2016-12-12 19:34] brainwane opened #2674 "Subscription page: filtering should include stream descriptions"
In https://chat.zulip.org/#subscriptions I'd love for the filter (stream search) to also search the description of a stream, so that, for instance, `summer` will find a GSoC stream whose description includes "Google Summer of Code".

[2016-12-12 20:14] TomaszKolek commented on #2645
Uh eventually I can start with it.

[2016-12-13 01:13] trueskawka opened #2676 "messages: Add marking messages as unread feature."
### Issue

#### Development

Debugging problems with messages often requires numerous unread messages in the realm, e.g. when checking unread counts or scrolling through 400+ unread messages (400 is the current batch size) to test the frontend.

This poses a problem for the developer - they have to either generate the messages or manually mark them as unread.

We would like to have a simple interf

[2016-12-13 03:53] umairwaheed commented on #2650
Looking at this.

[2016-12-13 05:45] brainwane opened #2681 "data loss: coming back from network failure"
In the Zulip web client, I wrote and hit send on several messages. Evidently I was disconnected from the server because my wifi had stopped actually transmitting -- only after hitting Send on multiple messages did I notice that my first few messages had not gone through (I didn't get any desktop notification). I tethered to my phone and then the connection came back so ... the client reconnected a

[2016-12-13 07:21] timabbott commented on #2681
We actually do save messages sent on the client and offer/attempt to resend.  I suspect this means there's a bug in that logic.

[2016-12-13 19:03] timabbott commented on #2665
(BTW, we are currently using https://github.com/PyCQA/pycodestyle, with some of their spammier rules turned off; see `check_pep8` in `tools/lint-all` for details).

[2016-12-13 19:05] #2357 closed

[2016-12-13 19:07] timabbott commented on #2659
Yeah, we should probably set `overflow: word-wrap` in a few places in the UI...

[2016-12-13 19:08] timabbott commented on #2510
Basically we have some javascript logic for computing how much of the sidebars to give to which features, and that logic clearly doesn't work well if there are lots of users.  So, I'd create lots of users in your development environment (there's an option to `./manage.py populate_db` that will do this) to try to reproduce this and then edit the code from there.

[2016-12-13 19:11] timabbott commented on #2636
This is a duplicate of #2366 and was fixed in 4935f0c693d489fbaae44a4f60fb76d19e6f6ba1.

[2016-12-13 19:11] #2636 closed

[2016-12-13 19:11] timabbott commented on #2636
(Thanks for reporting @ssfrr and offering to help @Katy310!)

[2016-12-13 20:08] HarshitOnGitHub commented on #2171
This is my first contribution to zulip. Any suggestions/comments most welcomed.

[2016-12-13 20:12] timabbott commented on #2171
@HarshitOnGitHub your PR looks pretty good; I posted a comment.

[2016-12-13 20:32] HarshitOnGitHub commented on #2171
@timabbott
Thanks! I will have a look and incorporate the required changes.

[2016-12-13 22:26] #2487 closed

[2016-12-14 03:54] timabbott opened #2696 "Add a nice option to auto-linkify Git commits to a remote Git repository viewer"
We have a great existing feature, "Realm Filters", that allows auto-linkification of certain types of strings to arbitrary URLs containing an ID extracted from those strings (e.g. on an issue tracker).

A similarly useful feature that could be easily added in that framework is support for auto-linkifying 32-digit hexadecimal numbers to the corresponding Git commit in a Git web UI (e.g. on GitHub).

[2016-12-14 04:19] timabbott opened #2697 "notification settings save button reloads page"
On the /#settings page, change some notifications settings and hit save: it's reload the page.

This is likely some sort of bug where we're missing preventDefault on the click handler for the save button.

[2016-12-14 04:23] #2358 closed

[2016-12-14 04:23] #2527 closed

[2016-12-14 04:43] timabbott opened #2698 "Add i18n lint rule for title= in HTML templates"
I've noticed we seem to have several places where we're using the `title` feature of HTML to show titles of things on mouseover that aren't correctly tagged for translation.  We should add a lint rule and sweep the existing codebase for issues of this form.

[2016-12-14 04:50] #2578 closed

[2016-12-14 05:06] timabbott commented on #2674
This seems like a reasonable feature to add.

[2016-12-14 05:21] timabbott commented on #258
This was (hopefully) fixed via a460fcddef9186b2a7e11c53ab6a2aa8f769da7f earlier today.

I'm thinking about reverting the timestamp hover change, but if we don't, we'd move the full date into the caret menu.  I guess I'll leave this open pending resolution of that issue.

[2016-12-14 05:43] #1121 closed

[2016-12-14 06:53] timabbott commented on #2335
@vedantrathore sorry for the slow reply (I've been sick); yes feel free to work on that.

Also, I'm going to update the description to clarify this, but we're actually currently using Gravatar properly.

[2016-12-14 06:55] timabbott commented on #2335
We should think somewhat carefully about what the right user experience is for the GitHub avatar source before getting too far into implementation; what do you think the right approach is @vedantrathore?

[2016-12-14 07:30] timabbott commented on #2676
Marking messages as unread can be done with the `update_message_flags` endpoint; the only tricky thing is to manage races that would cause the messages to be immediately marked as read again (primarily through the pointer being ahead of the newly marked as unread messages).

I think it's fine to reload the browser when we do this; so the issues are primarily going to be around making sure that we

[2016-12-14 08:13] timabbott opened #2701 "New people.js logic breaks when interacting with deactivated users"
Reproducer: Deactivate one of the users who participated in a group PM conversation in the sample messages (using the admin UI) and reload the page.  You'll get a traceback like this:

![image](https://cloud.githubusercontent.com/assets/2746074/21174387/b5e25220-c191-11e6-94ac-51a615907d43.png)

This is a recent regression caused by the migration to use user IDs in a lot of our people logic; the p

[2016-12-14 08:23] timabbott opened #2702 "Change default bot email addresses to use @subdomain.zulip.example.com domains"
Currently, Zulip bots are created with an invalid domain of `foo-bot@domain.tld`.  The problem is, we don't own the customer's domain namespace, and so these aren't really valid domains to use.

In the REALMS_HAVE_SUBDOMAINS case, there's a great answer, which is that we should use `foo-bot@subdomain.zulip.example.com` as the email addresses, since that's within the domain namespace of the particu

[2016-12-14 10:24] xeor opened #2704 "Custom html based on stream/topic"
I am experimenting with using zulip with a custom bot that answers based on the stream-name or topic-name. Playing with this, I thought it would be a very nice addition to be able to have custom html either above the message-field, or at the right sidebar.

I want to use the custom html to have everything from buttons to trigger the bots to do specific things, a list of examples/help, a list of li

[2016-12-14 18:36] TomaszKolek commented on #2697
Will take a look!

[2016-12-14 18:48] #2325 closed

[2016-12-14 18:53] #2667 closed

[2016-12-14 19:03] timabbott commented on #2704
Hi @xeor!  As you note, we cannot allow generic custom HTML in Zulip messages, because it can create security problems (XSS, etc.)

However, our markdown system for processing messages is easy to extend, and it'd be reasonable to add some specific useful new UI elements that can be included in messages, e.g. including a button to post a reply back to a bot in messages.  Slack has a similar feature

[2016-12-14 20:04] #2645 closed

[2016-12-14 20:13] timabbott opened #2707 "Buggy markdown interaction of mentions with bulleted lists"
If you use this markdown syntax:
[code]

Bugdown will render it as:

![image](https://cloud.githubusercontent.com/assets/2746074/21199050/a619057c-c1f6-11e6-81b5-ca7a8fb5db31.png)

This is probably a subtle issue with our regular expressions.

[2016-12-14 20:18] #2171 closed

[2016-12-14 20:21] HarshitOnGitHub commented on #2696
@timabbott I would like to work on this one. I am trying to figure out what exactly I need to do here, can you kindly throw some light?

[2016-12-14 20:25] timabbott commented on #2696
Sure, so first, on the /#administration tab, you can use the existing realm filters feature.

Currently, in zerver/models.py, there's some validators that limit what sorts of regular expressions are allowed.   I think we could probably loosen those rules to allow a class of regular expressions that covers Git commit IDs.  And then we'd just document what regular expression to use to auto-linkifiy

[2016-12-14 20:27] HarshitOnGitHub commented on #2696
Thanks I will have a look!!

[2016-12-14 20:33] timabbott commented on #2707
zerver/lib/mention.py has the regular expression for this; the rest of the code is in bugdown.

[2016-12-14 20:34] xeor commented on #2704
Thanks for the quick response!

This is about the ui itself, not the messages coming from bots.

I might have time making this into a pr if I know it will get accepted. If not, I will have to maintain a local version of this.

The idea, as I am thinking, is for the person that have access to the filesystem, to be able to extend some parts of the ui.
Basically, making django look for extra template

[2016-12-14 21:12] showell opened #2710 "Move get_profile_backend out of views/pointer.py"
The /users/me endpoint used to do only do pointer stuff, but now it does more general stuff.  We probably want the view is some place other than pointer.py going forward, since the pointer piece is now only a small piece of it.

[2016-12-14 21:13] timabbott commented on #2710
It probably should move to `users.py`.

[2016-12-14 21:45] timabbott commented on #1677
It looks like the logged-in site is actually tested; the problem seems to be that templates included from other templates don't get covered by this signal.

[2016-12-14 23:28] HarshitOnGitHub commented on #2696
@timabbott Are the changes fine? Also where should I document the regular expressions to be used to auto-linkifiy Git commit IDs?

[2016-12-14 23:37] timabbott commented on #2696
That looks pretty good; I'd maybe add a couple examples showing the two forms, maybe both for zulip/zulip on GitHub, directly in the /#administration template?

[2016-12-15 00:27] timabbott commented on #2704
I'm not strongly opposed to the feature, but it seems like something that would be somewhat expensive to build and maintain, so I'd like to consider simpler solutions to the problems this configurable system might solve.

I had been thinking we might want to solve that category of problem with making Zulip's existing stream descriptions feature more prominent.

What do you think about have this so

[2016-12-15 00:33] timabbott commented on #2697
@TomaszKolek Brock fixed this in c25694a9d9359c269e0d5265f17a96701d93c410.

[2016-12-15 00:33] #2697 closed

[2016-12-15 00:42] timabbott opened #2713 "Add support for removing the user's current avatar (reverting to gravatar)"
Currently, there's no way to remove your avatar and revert back to the default gravatar.  We should add support for doing so.

We can do this by first converting this entry in `zproect/legacy_urls.py`:
    url(r'^json/set_avatar$',                zerver.views.user_settings.json_set_avatar),

to a REST style API endpoint `PUT /users/me/avatar`, and then add a corresponding DELETE endpoint to remove

[2016-12-15 00:53] timabbott commented on #2412
@aakash-cr7 is this issue still present?

[2016-12-15 00:55] timabbott commented on #2318
@TomaszKolek can you pick up this task?  It appears the author @mghadam doesn't have time to finish his work.

[2016-12-15 00:56] timabbott commented on #2286
@rishig it looks like this is mostly finished; do you want to just finish it off?

[2016-12-15 00:58] timabbott commented on #2083
@trueskawka what's the status of your work on the prompt issue?

[2016-12-15 00:59] timabbott commented on #1857
@hackerkid is there more work that we want to do on this issue, or should we close it?

[2016-12-15 01:00] timabbott commented on #1593
@rwbarton is there a version of this issue that still makes sense with the new streams page design?

[2016-12-15 01:01] timabbott commented on #1299
This was fixed via #1304.

[2016-12-15 01:01] #1299 closed

[2016-12-15 01:02] timabbott commented on #1269
@umairwaheed is this issue now fully resolved, or do we still need to e.g. debug and uncomment the tests?

[2016-12-15 01:03] rishig commented on #2286
cool, will do.

[2016-12-15 01:03] timabbott commented on #1184
This is being resolved by the new settings page redesign (#1999); I'm closing this issue so we don't forget.

[2016-12-15 01:03] #1184 closed

[2016-12-15 01:04] timabbott commented on #872
I think this is resolved.

[2016-12-15 01:04] #872 closed

[2016-12-15 01:08] timabbott commented on #247
This is a duplicate of #1996, which now has more detail than this version.

[2016-12-15 01:08] #247 closed

[2016-12-15 03:24] trueskawka commented on #2083
@timabbott  Checking my feature branch, I got stuck on the frontend muting features.

I've created a simple error message first to test all the edge cases and used `muting.is_topic_muted(stream_name, topic)` to check if a topic is muted. It works fine when I've muted the topic itself, but it doesn't work for topics in streams I've muted when I haven't explicitly muted a topic.

I've been checking

[2016-12-15 03:25] timabbott commented on #541
thanks to @arpith and @kracekumar, the backend for emoji reactions is complete.  Now we just need to finish the frontend implementation :).

[2016-12-15 03:27] timabbott commented on #2083
Stream muting is technically a completely independent feature from topic muting, and in the code base goes by its original name, `in_home_view`.  Does that clarify things for you?

[2016-12-15 03:29] trueskawka commented on #2083
Yeah! Should we have separate handling for topics and streams, meaning two different error messages?

[2016-12-15 03:29] #2657 closed

[2016-12-15 03:37] timabbott commented on #2083
I think so; the messages would likely be similar but I think it's useful to be clear to the user about what's going on as precisely as possible.

[2016-12-15 07:16] umairwaheed commented on #1269
@timabbott, I'll verify and uncomment the tests if I don't find any issue.

[2016-12-15 07:48] hackerkid commented on #1857
@timabbott I am not entirely sure about that. We had a discussion regarding this here. https://chat.zulip.org/#narrow/stream/backend/topic/user-mention

[2016-12-15 07:57] #3 closed

[2016-12-15 07:57] timabbott commented on #3
We're now on the latest Django, 1.10.4, which has all of our patches merged.  Yay for closing a super-early issue :)

[2016-12-15 11:04] Katy310 commented on #2510
My user list seems pretty limited even after running the above mentioned script.

[2016-12-15 11:24] Katy310 commented on #2659
I'd like to work on this issue. Which files should I read to familiarise myself with the code?

[2016-12-15 11:34] Katy310 commented on #2412
Yes, it is. Where to get started on this?

[2016-12-15 11:45] TomaszKolek commented on #2557
Not sure what we wanted to do here? Its a code, so are we sure that spaces are not needed?
I mean maybe user intentionally put spaces there?

[2016-12-15 11:53] TomaszKolek commented on #2707
Started working on it

[2016-12-15 12:25] tommyip commented on #2659
`static/templates/settings/bot-list-admin.handlebars` and maybe `static/js/admin.js`

[2016-12-15 17:29] timabbott commented on #1821
This was resolved by #2210

[2016-12-15 17:29] #1821 closed

[2016-12-15 18:16] timabbott commented on #2557
@brockwhittaker has worked on this issue in the past; what do you think the right solution is here?

[2016-12-15 18:18] timabbott commented on #2510
@Katy310 you need to pass an option that you can find via `$ ./manage.py populate_db --help`; it looks like it is `$ ./manage.py populate_db --extra-users=1000` (where `1000` here is the number of users to create)

[2016-12-15 18:20] timabbott opened #2719 "Add display and support for changing owners of bots"
Presumably both the current owner and any admin should be able to change the owner of a bot to another user in the organization.

[2016-12-15 19:05] sampritipanda commented on #2435
Source: https://chat.zulip.org/#narrow/near/85427/stream/GCI.20help/topic/Issue.20.232435

[2016-12-15 20:17] #2650 closed

[2016-12-15 20:47] timabbott opened #2723 "Travis CI failure in production test suite"
We also seem to now have this new flake: https://travis-ci.org/zulip/zulip/jobs/184210583
That's specifically a failure trying to connect to the Zulip server post-upgrade. Might be caused by the uwsgi migration.

From https://chat.zulip.org/#narrow/stream/development.20help/topic/travis.20CI.20production

@umairwaheed any ideas?  One thing we could try doing to debug is adding a `supervisorctl sta

[2016-12-15 21:21] HarshitOnGitHub commented on #2719
@timabbott I would like to work on this one. Can you kindly provide some inputs/hints on this one?

[2016-12-15 21:26] #2286 closed

[2016-12-15 21:34] timabbott commented on #2719
Great!  Yes, so I would start with just changing /#settings UI to enable changing the owner of a bot.

On the frontend, first, we can just display the owner for bots in the cards on the settings page; that's a quick thing one can just do as a quick first commit.  Then, we'll want to make the "bot edit" form that you get via the pencil icon support selecting another user to own it; since there can

[2016-12-15 21:45] #2698 closed

[2016-12-15 22:22] xeor commented on #2704
This is only about making such expansions possible. For my own case, as long as I can replace/extend the template that holds the messages, I would be happy.

Maybe a better idea would be to cleanup the templates a little making it easier to extend/override parts of it? Using more extend/blocks. Something like https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/templates

[2016-12-16 00:05] #2710 closed

[2016-12-16 00:11] timabbott commented on #1857
Yeah, OK, there's more to do.  It might be worth using `tools/test-js-with-node --coverage` to produce a checklist of which frontend markdown code paths are untested currently; then we can try to clear those remaining checklist items :).

[2016-12-16 00:42] timabbott opened #2727 "./manage.py sync_api_key deprecation warnings"
`zilencer/management/commands/sync_api_key.py` is a useful tool that makes it easy to ensure a particular development environment user always has the same API key.  It has some deprecation warnings when run under python 3 (`source /srv/zulip-py3-venv/bin/activate` to use Python 3), however:

[code]

We should updated it to use current APIs.

[2016-12-16 00:47] timabbott opened #2729 "Naive datetime warnings in populate_db"
This output is generated every time we provision:

[code]

I think this is a regression introduced in #2626, but masked by the fact that these warnings may not have been displayed before the Django 1.10 upgrade.

The solution is to use timezone-aware datetime objects; we do this generally with `django.util.timezone.now()` in Zulip.

[2016-12-16 00:48] timabbott opened #2730 "Replace deprecated `self.assertEquals` with `self.assertEqual`"
If you run `test-backend`, with Django 1.10, we now get tons of these warnings.

/home/tabbott/zulip/zerver/tests/test_upload.py:582: DeprecationWarning: Please use assertEqual instead.
  self.assertEquals(sanitize_name(u'tarball.tar.gz'), u'tarball.tar.gz')

We should be able to clean them up pretty quickly with `git grep` and `sed -i`.

[2016-12-16 00:57] #2308 closed

[2016-12-16 01:00] timabbott commented on #2730
This one is sufficiently spammy I'm just going to fix it right now.

[2016-12-16 01:02] #2730 closed

[2016-12-16 01:07] timabbott opened #2731 "Silence `WARNING Not found` when 404s happen in test suite"
Zulip has various tests that intentionally check that something 404s; for some reason, the Django 1.10 test runner prints a warning for each one (at least on Python 3.5).  They are basically spam for the purposes of our output, so we should silence them.

[code]

@umairwaheed this may be a good thing for you to look into.  I'[m guessing we need to add something to our LOGGERS configuration.

[2016-12-16 01:09] timabbott opened #2732 "Fix sqlalchemy deprecation warnings in test suite"
`tools/test-backend test_messages test_narrow` is a reproducer, the output looks like this:
[code]

We should investigate these and figure out what the correct solution is to clean up the output; it will probably involve some minor changes to the actual narrowing code.  The goal is to make no functional changes.

[2016-12-16 01:47] #2701 closed

[2016-12-16 02:03] timabbott opened #2734 "Frontend regression managing the pointer with local echo and USE_WEBSOCKETS=False"
In the last couple days I've noticed a new issue that goes as follows:
* I send a message
* I immediately advance the pointer onto the locally echoed message (hard to do, and probably impossible to do locally, since it's a race against message delivery latency).
* The message finishes sending and is delivered to my browser (adding the timestamp in the upper-right).  This rerenders the message, and

[2016-12-16 04:19] umairwaheed commented on #2731
Sure.

[2016-12-16 05:00] timabbott opened #2735 "Surprising performance problem loading the /help/ homepage"
Testing on my development environment, loading `http://127.0.0.1:9991/help/` takes like 7s to load, all in backend time, as clearly shown by the server logs.  It's unclear why.

[2016-12-16 05:42] timabbott commented on #2735
Fixed; that was a fascinating bug :).

[2016-12-16 05:42] #2735 closed

[2016-12-16 06:06] #2723 closed

[2016-12-16 06:28] kracekumar commented on #168
If no one is working on the feature, I am up for it.

[2016-12-16 06:49] #426 closed

[2016-12-16 10:47] kkanahin commented on #2639
@timabbott I just couldn't fix '/privacy' page, other typos was fixed.
Also, I've refactored render_markdown template tag, please pay attention to it.

[2016-12-16 13:17] rohithasrk commented on #2732
Because of the new update? I wasn't having the problem until I've pulled the code today.

[2016-12-16 17:09] #2639 closed

[2016-12-16 17:34] timabbott commented on #168
It's all yours @kracekumar!

[2016-12-16 17:35] timabbott commented on #2732
@rohithasrk I think Django 1.8 basically suppressed these warnings in the test runner; so I suspect they're been present for some time but were hidden until the Django 1.10 upgrade yesterday.

[2016-12-16 17:47] #1969 closed

[2016-12-16 18:44] maxlinux2000 opened #2744 "Simple Installation scripts for Zulip Server"
HI,
Hoping to help, I want share my scripts that can create a simple but working zulip server

I assume that you are using a VPS linke digitalocean or similar, with public IP and a FQDN like zulip.mydomain.org.
the VPS need to have 2GB RAM and 20GB HD space

[zulip-install-scripts.zip](https://github.com/zulip/zulip/files/657970/zulip-install-scripts.zip)

[2016-12-16 18:53] timabbott commented on #2744
Cool, thanks for sharing!  For the LetsEncrypt part in particular, I was thinking we should add an argument to the install script `./scripts/setup/install --letsencrypt-cert` that would automatically install and run letsencrypt for you, to further simplify the setup process (I feel like the LetsEncrypt docs make a very simple thing feel pretty complex).  Do you think that would be a useful enhance

[2016-12-16 19:00] maxlinux2000 commented on #2744
Yes, the ideal was to have an official installer that make all
automatically, with a lot of optionals arguments for custom configurations.

El 16 dic. 2016 7:53 p. m., "Tim Abbott" <notifications@github.com>
escribió:

[2016-12-16 19:08] timabbott commented on #2744
Cool.  If you're interested in contributing, integrating your letsencrypt setup into the installer script would be awesome.

BTW we're eliminating the need to set ALLOWED_HOSTS in almost all cases (we should be able to just auto-detect from EXTERNAL_HOST), which should cut the number of things you need to set manually a bit more.

[2016-12-16 19:12] bojidar-bg commented on #2287
As discussed a bit on zulip, currently zerver gives "Some emails did not validate, so we didn't send any invitations.", and proceeds to invite non-failed emails. That's why it was proposed that the logic is updated to match the error message -- but if non-errored emails are not yet invited, we have to keep them in the list.
Thus, I made it (in #2690) to keep all emails in the list in the case the

[2016-12-16 19:18] timabbott opened #2745 "Create separate booleans on Stream objects for private/invite-only streams and private history"
In Zulip, we have 2 concepts that are related but not quite the same:
* Stream.invite_only -- the current boolean which controls whether people can join a stream without an invitation
* Whether the message history of the stream is visible to subscribers from before they joined.

Historically, these were the same, since we wanted to support discussing whether to invite someone to a stream before ad

[2016-12-16 19:18] timabbott opened #2746 "Add join/leave notifications for private channels"
I generally think IRC "User joined/left" notifications are pretty spammy and usually not useful in public channels/streams, but I think it could be a really useful feature for private streams.

We can have them be sent by the Zulip Notification bot like our new stream announcements, but sent to the stream in question.

---

Update by @alya (2024-12, 2025-08, 2025-12):

Notification messages should

[2016-12-16 19:24] anirudhjain75 commented on #1734
@brainwane @timabbott Is anyone working on it ?

[2016-12-16 20:24] SaumyaRawat commented on #2419
I will try to work on this along with the error message about ensuring the contents of zulip are world readable.

[2016-12-16 21:02] sinwar commented on #2746
I'm taking this up @timabbott

[2016-12-16 21:12] Sam1301 opened #2748 "Improve the error message in case of Login failure"
If the email or password entered by the user is not correct the following message is sent from the server.

In case, the user has not entered an email address (no `@` in the username field) we could give a more user friendly message.
In future with LDAP support, users might be allowed to just enter a username(without domain). So, we could simply check for 2 cases in case of login failure:
1) there

[2016-12-16 21:39] 4ntoni0 opened #2749 "Zulip test server only works via web page"
Hello.
After numerous attempts and thanks to guides and tips found here, I was able to work properly on my first test server Zulip on a virtual machine.
But now, I have a big problem that I can not solve.
My server only works if I connect via web page. If I try to connect with Android or iOS app does not work.
It does not work even with the app for windows desktop, but I seemed to understand that

[2016-12-17 06:17] kracekumar opened #2755 "Replying to zulip email notification bounces"
Today I replied to two Zulip notification (recurse.zulipchat.com) from a Cafe from Gmail for iPhone and all the emails bounced back.

Here are two responses without message body

[code]

Second one was 8 days old Email.

[code]

I am happy to furnish more information.

[2016-12-17 16:30] maxlinux2000 commented on #2744
ok, next year en January I think, I will propose a new installer with ncurses like debian installer, for ubuntu 14.04 platform.
I need to modify just a bit zulip/scripts/lib/install but it will conserve the compatibility with other scripts.

regards
MaX

[2016-12-17 16:48] brainwane commented on #1734
@anirudhjain75 As far as I can tell, no, no one is working on it. If someone were working on it, they would have replied to one of our comments a few months ago, and if they had put more than a few hours of work into it, they likely would have submitted a work-in-progress pull request that mentioned this issue number, so we would see a notification about it in this GitHub issue. So if you want to

[2016-12-17 18:57] isht3 commented on #2731
Hi, @timabbott where does the LOGGERS configuration lie? I tried to grep it but I couldn't find it.

[2016-12-17 19:06] KaiCode2 commented on #2270
@timabbott I'm considering taking this task on. I mocked up a basic concept for the badge. Any feedback?
![join the chat on zulip](https://cloud.githubusercontent.com/assets/7867183/21289093/a32fbf6e-c448-11e6-8f19-bcd21b5e2f26.png)

[2016-12-17 19:21] #2448 closed

[2016-12-17 20:45] anirudhjain75 commented on #2270
Cool @KaiCode2

[2016-12-17 22:40] HarshitOnGitHub commented on #2719
@timabbott I think only the admins should be able to change the owner of the bot. This would be the intended behavior since no user would like to have a rogue bot that was created by some other user but assigned to his ownership without his consent. Am I right?

[2016-12-18 04:10] KaiCode2 commented on #2270
Finished a basic badge. You can check out [this repo](https://github.com/KaiCode2/Read-me-test) to see it in a readme context.

I'll claim the GCI task and open a PR once my current task is reviewed.

[2016-12-18 04:35] anirudhjain75 commented on #1734
I am working on this andgoing to claim the task

[2016-12-18 05:48] anirudhjain75 commented on #2270
@KaiCode2 Pardon me, I too was working on this.

[2016-12-18 05:50] anirudhjain75 commented on #2270
@KaiCode2 But I can do one thing ill use your .png file.

[2016-12-18 05:56] KaiCode2 commented on #2270
@anirudhjain75 Ah, well this is a predicament. Do you have the task claimed? it is listed as open on my browser therefore I took it upon myself to prematurely commence development on it. I suppose it would have been wise to assign this issue to myself via github to avoid any confusion.

How far are you through development? Are you in need of the assets?

[2016-12-18 06:33] anirudhjain75 commented on #2270
I have finished the task and awaiting review @KaiCode2

[2016-12-18 06:33] anirudhjain75 commented on #2270
Yeah I claimed it

[2016-12-18 13:45] femnad commented on #2270
OK, so @KaiCode2 posted their mock in this thread and @anirudhjain75 used it in their pull request. Even though it wasn't an official submission I think it's not fair to use @KaiCode2's mock-up like this, don't you agree @anirudhjain75?

Even though your contributions is not only for winning the contest, they are done as part of a contest so I have to make sure that everyone "plays" fairly.

Also

[2016-12-18 14:05] anirudhjain75 commented on #2270
Nope @femnad

[2016-12-18 14:42] anirudhjain75 commented on #2270
![icon](https://cloud.githubusercontent.com/assets/14249589/21294239/3c569ecc-c55e-11e6-8e88-b504da7fa864.png)
I know this looks bit different but this is all I could think of making. 😄

[2016-12-18 15:27] derAnfaenger opened #2767 "Quality Assurance - link in Settings does not open"
Reproduction:
1. Navigate to Settings->Notifications
2. Under Stream messages, there is the phrase

3. Click on `Streams page`.
4. You would expect to be redirected to "https://chat.zulip.org/#subscriptions". This link is also set in the browser address bar, but not opened. Instead, the Settings windows remains dominant.
![image](https://cloud.githubusercontent.com/assets/7950151/21294523/d1fa394a

[2016-12-18 16:04] rishig opened #2769 "Better error message for failed markdown previews."
This issue relates to the preview feature in the compose box. Currently you get the error "Failed to generate preview" for any error at all, including ones like having a really long message. More helpful error messages here would be useful.

[2016-12-18 19:50] rohithasrk commented on #2769
@rishig , I'll take this up. Can you help me with the files I need to look into?

[2016-12-18 20:01] rishig commented on #2769
cool! I haven't looked into it too much, but I'd start by `git grep 'Failed to generate preview'`, which points to the following snippet in `compose.js`:
[code]

From `zproject/urls.py`, we see that the url points to
[code]
which eventually seems to point to `do_convert` in `zerver/lib/bugdown/__init__.py`.

[2016-12-18 20:06] rohithasrk commented on #2769
Thank you. I shall start working soon.

[2016-12-18 20:43] KaiCode2 opened #2773 "Mentioning autocomplete when editing message"
When editing a message to include an `@mention` on the Zulip web client, the autocompletion feature is not implemented. The way I personally go about getting their handle correct is the use the autocompletion is the standard chat then copy-and-pasting it into my message edit.

![image](https://cloud.githubusercontent.com/assets/7867183/21296386/96733532-c50e-11e6-8def-bba425457b5b.png)

As you can

[2016-12-18 20:52] KaiCode2 commented on #2270
@anirudhjain75 Feel free to use the assets I created. Better to put them to use then not 😛

[2016-12-18 20:54] KaiCode2 commented on #2270
I'm not sure how you're creating your assets however if you're on a mac and use keynote I can send you me designing environment full or various assets you can tweak and export. If you're making a dynamic button it may also serve as a decent base rendering for a script to overlay text onto.

[2016-12-18 21:03] cosmicAsymmetry commented on #2419
Is this issue claimed?

[2016-12-18 21:44] showell opened #2777 "Create a way to download zuliprc for the human user."
We can now download zuliprc files for our bots, but often you don't want to create a bot to run the API and prefer to just use your primary account (particularly if you are not sending messages to Zulip).  We should add a download-zuliprc feature for our own user.

pinging @tommyip

[2016-12-18 23:28] tommyip commented on #2777
Isn't that already implemented in this commit [[fe4a0e72f]](https://github.com/zulip/zulip/commit/fe4a0e72fca8aa9e5e26e89732e353e91de4f0b1)?
![zuliprc_human](https://cloud.githubusercontent.com/assets/18504232/21297474/0e593190-c579-11e6-95e1-d055ac8d7920.png)

[2016-12-18 23:31] tommyip commented on #2773
That is already a bug report [here](https://github.com/zulip/zulip/issues/195).

[2016-12-19 02:06] showell commented on #2777
Oh, maybe it just hasn't been deployed yet.  Ok, closing.

[2016-12-19 02:06] #2777 closed

[2016-12-19 07:02] kracekumar commented on #168
Thank you @timabbott. I will discuss the high-level details in further comments and start working on the feature.

[2016-12-19 07:46] KaiCode2 commented on #2773
@tommyip ah, appears it is. Closing issue now.

[2016-12-19 07:46] #2773 closed

[2016-12-19 08:39] umairwaheed commented on #2731
@isht3, are you working on this or shall take over?

[2016-12-19 11:00] hackerkid commented on #1857
@timabbott Sure!

[2016-12-19 11:27] Katy310 commented on #2510
Alright, the above script works and I have extra users in my database. I also checked the required file. resize.js. The function <code> left_userlist_get_new_heights()</code> seems to be the one I need to work with. Am I on the right track?

[2016-12-19 14:39] SaumyaRawat commented on #2419
Yes, will make a PR soon.

[2016-12-19 15:01] isht3 commented on #2731
@umairwaheed I was just trying my hand at this, with all due respect take over. :)

[2016-12-19 15:34] cosmicAsymmetry commented on #2419
That's nice. I was just asking as this is an open task on Code-In. You guys might want to remove it.

[2016-12-19 16:00] #2435 closed

[2016-12-19 16:02] showell commented on #2435
Closed via #2778

@timabbott -- Note that we took a slightly different approach than originally suggested here.

[2016-12-19 16:51] timabbott commented on #2510
Yep that sounds right.

[2016-12-19 16:57] timabbott commented on #2435
@showell the implementation we merged is great for part of the problem, but the issue here is that our strategy for supporting Python 2 and 3 production tarballs (even for testing) from the same git tree relies on always using the #! line to invoke our Python scripts, rather than explicit Python calls like `python manage.py` (which will end up using whatever the default Python is, rather than the

[2016-12-19 17:13] #2731 closed

[2016-12-19 17:23] anirudhjain75 commented on #2270
@KaiCode2 Due to @femnad 's objection I've created my own but anyway thanks a lot, You're one was a good inspiration.

[2016-12-19 17:23] timabbott commented on #2767
@brockwhittaker this bug is a nice find in the new settings page UI :)

[2016-12-19 18:53] timabbott commented on #2755
Thanks for the bug report @kracekumar!  I think what's going on is that the current security policy for missed-message reply-to email addresses means they expire after some period that's I think a week.

I wonder what the right strategy for these should be.

[2016-12-19 20:19] KaiCode2 commented on #2270
@anirudhjain75 haha, thanks. Good luck on the task.

[2016-12-19 20:24] anirudhjain75 commented on #2270
@KaiCode2 Could you explain me the function of the button please ?

[2016-12-19 22:44] gauthamzz commented on #2713
can i try this?

[2016-12-20 00:07] brockwhittaker commented on #2767
Great thanks @derAnfaenger! I know what the cause is and I'll submit a fix now. :)

[2016-12-20 00:09] brockwhittaker commented on #2674
I like this. Do you think however we should order things that only match by description towards the bottom since they wouldn't match as "strongly"?

[2016-12-20 00:10] brockwhittaker commented on #2734
Looking into it now!

[2016-12-20 05:01] KaiCode2 commented on #2270
@anirudhjain75 To my understanding the objective of the button is essentially the same as a Gitter button. Gitter uses a "join the chat on gitter" button all over the web and people can simply click the link and be jumped directly into a gitter site (Check [this](https://github.com/gitterHQ/desktop) link out for an example). In my repo, I mimicked what gitter does by wrapping the image in a link.

[2016-12-20 08:32] lonerz commented on #2668
@Juanvulcano seems like you've taken a task that I had initially claimed but dropped. Here's what @showell said to do:

I would strive to have three sections in V1:
* just explain what the heck it is
* point out some of the major tools that get invoked and key configuration files (`requirements/*.txt` for pip, `packages.json` for npm, etc.)
* mention PROVISION_VERSION

Link to conversation: https:

[2016-12-20 10:17] Jeffthebest1 commented on #2659
I'd like to work on this one please! @timabbott

[2016-12-20 11:12] Jeffthebest1 commented on #2659
I have fixed this issue but have used inline styling. Does this matter? If so could someone direct me to the stylesheet?
Thanks :)

[2016-12-20 11:24] tommyip commented on #2659
Putting it a style sheet would be better, other components that suffer the same issue can simply add their tag id to your CSS styling. The file should somewhere in static/styles.

[2016-12-20 11:26] Jeffthebest1 commented on #2659
@tommyip Ok, Thank you! :)

[2016-12-20 12:00] rafidaslam commented on #2729
Looking on this..

[2016-12-20 14:27] joariasl opened #2805 "Do not run installation command with sudo if the user is root"
When you run the install script in a container, its fails, becouse the sudo application is not installed.
You can install sudo, but the best option is that the installation script check if the user running is root o only a sudoer user.

[2016-12-20 15:40] brainwane commented on #2674
That ordering makes sense to me, @brockwhittaker .

[2016-12-20 15:51] tommyip commented on #2008
I implemented @kevinr suggestion in this PR https://github.com/zulip/zulip/pull/2806

[2016-12-20 16:02] showell opened #2807 "Improve "join chat" button."
This is a placeholder to do followup on #2270.  I think the first commit to address this, #2763, will be forward progress, but I also want to make sure we do some followup things to allow sites to host their own version of the button.

[2016-12-20 16:06] showell commented on #1276
Fixed in #2796

[2016-12-20 16:06] #1276 closed

[2016-12-20 18:34] mahim97 commented on #2748
@Sam1301 I can take this up, can you please point me to the files I need to go through. Thanks

[2016-12-20 18:44] vabs22 commented on #2499
It looks like a good idea. Maybe we can display the names of already added users separately, at the bottom of the list after a tag "Already added". Can i take this up?

[2016-12-20 19:22] mahim97 commented on #2065
@showell I can take this up. I am new here, can you please point me to the files I need to go through for this. Thanks.

[2016-12-20 19:50] #215 closed

[2016-12-20 19:56] mahim97 commented on #1369
@timabbott I can take this up, I am thinking of a button near the clear button of search bar. I am new here, can you please point me to the appropriate files I need for this. Thanks

[2016-12-20 20:00] timabbott commented on #2065
this will be a change in zerver/lib/bugdown/; probably to the link processor.  http://zulip.readthedocs.io/en/latest/markdown.html is good reading.

[2016-12-20 20:01] timabbott commented on #2805
@joariasl can you give more details -- which install script are you having this problem with?

[2016-12-20 20:02] mahim97 commented on #2065
Thanks, will get right on it.

[2016-12-20 20:11] timabbott commented on #2674
Yep that plan sounds good.

[2016-12-20 21:55] sinwar commented on #2746
For join/leave notification should I add the ```internal_send_message```  from notification bot to  ```do_activate_user``` , ```do_reactivate_user```, ```do_deactivate_user``` methods  or create new method?

[2016-12-20 22:42] Juanvulcano commented on #2668
Hi @lonerz ! Thanks for the additional info 👍

[2016-12-21 00:12] #2270 closed

[2016-12-21 01:15] tommyip opened #2818 "Quality Assurance - Stream settings cannot be closed with button"
How to reproduce:

1. Drag your browser to one side of the window
2. Click on the stream settings button
3. Click directly on the close button
4. The modal does not close unless you click slight below the button

This problem does not exist when the browser is maximized (Bootstrap desktop size grid).

(Sorry for the poor quality of the gif, github limits the file size to 10mb)
![final](https://clo

[2016-12-21 01:43] Jeffthebest1 commented on #2659
Here you go @timabbott @tommyip  https://github.com/zulip/zulip/pull/2820

[2016-12-21 01:48] #2729 closed

[2016-12-21 02:17] showell commented on #2719
@timabbott @HarshitOnGitHub I think we need to precise here when we say "settings page."  For bot stuff, if I'm on the settings page of the settings tab, then I **don't** want to see other people's bots, and since I'm only seeing my bots, there's no reason to show the owner, because of course it's me.

I believe that we should be changing the **admin** tab of settings here.

[2016-12-21 04:33] 540KJ commented on #2713
Can't find the corresponding function for DELETE. Do I create a new function to add to DELETE? What I have so far.
![avatar](https://cloud.githubusercontent.com/assets/23611943/21377448/bde08c42-c792-11e6-91ad-cfbd77e43bc9.PNG)

[2016-12-21 11:16] Katy310 commented on #2818
Which files should I read for this?

[2016-12-21 11:55] tommyip commented on #2713
Yes you need a new function to do that.

[2016-12-21 12:53] Sam1301 commented on #2748
Hi @mahim97 , I would do something like
`git grep -nr "Your username or password is incorrect"`
to find files containing a string matching this pattern. This would also give me the line numbers of where the pattern was found.

[2016-12-21 15:16] tommyip commented on #2807
So should the badge be generated dynamically like this:
`https://img.shields.io/badge/zulip-join_chat-brightgreen.svg`
![zulip](https://img.shields.io/badge/zulip-join_chat-brightgreen.svg)

[2016-12-21 15:17] paxapy commented on #454
hi
i've noticed that to create such UI I'll need to continue work on new popup settings interface.
from which branch can I checkout to use it?

[2016-12-21 15:18] rafidaslam commented on #2727
Looking on this..

[2016-12-21 15:39] timabbott commented on #2818
Nice find @tommyip!

This is probably going to be an issue in static/styles/subscriptions.css or the relevant HTML templates.

@brockwhittaker FYI -- you may be able to debug this quickly.

[2016-12-21 16:59] timabbott commented on #2749
Hi @4ntoni0!  What do you mean by "Zulip test server"?  Do you mean a development server, or a production server installed with a self-signed cert?  None of the Zulip mobile apps will support connecting to a production server using a self-signed certificate; that's a property of the app, not the server.  You can use LetsEncrypt to get a real certificate for free; I recommend you do that to solve y

[2016-12-21 16:59] #2749 closed

[2016-12-21 17:00] timabbott commented on #2746
@sinwar no, those are for user creation/deactivation; you should be modifying `bulk_add_subscription` and similar removal method.

[2016-12-21 17:32] timabbott commented on #454
Hmm, yeah, let me try to merge that branch as it'll make life easier here.

[2016-12-21 17:35] sinwar commented on #2746
ok thanks @timabbott

[2016-12-21 18:09] tommyip opened #2834 "Notify everyone button should have bootstrap styling."
The button is currently just default native button styling.
![all_bug](https://cloud.githubusercontent.com/assets/18504232/21400536/7d277574-c7a8-11e6-93d3-24f939da424d.png)

[2016-12-21 18:22] timabbott commented on #2834
Agreed!  There's a similar issue for @-mentioning someone who is not subscribed, as well.

[2016-12-21 18:23] tommyip commented on #2834
The @mentioning button looks even weirder.

[2016-12-21 18:25] timabbott commented on #2834
Yep :(

[2016-12-21 18:43] showell commented on #2713
@540KJ @tommyip @trueskawka I am putting a note here to indicate that we may have had multiple people working on this PR by accident.  Please coordinate on chat to avoid duplicating effort.

[2016-12-21 18:46] timabbott opened #2835 "Add features to Zulip user guides markdown processor"
We should add the following features to the user guides /help/ markdown syntax.  It's defined in `zerver/templatetags/app_filters.py`.

* [x] Include rule to support for common preparatory steps like "Navigate to settings", "Navigate to subscriptions", and "Navigate to administration" (we now have tons of copies of this).
* [x] Tip box: This would be a box that would contain special information on

[2016-12-21 18:46] tommyip commented on #2713
Yeah we should probably use the `Assignees` feature on Github to prevent this problem.

[2016-12-21 18:56] timabbott commented on #2713
The Assignees feature on GitHub unfortunately doesn't really work -- you have to have full write access to the repo to be able to claim an issue with it.

I suppose we could try writing a GitHub bot that would allow folks to e.g. `@assignmentbot claim` and have that result in the bot, using the GitHub API with admin rights, add that user to the project and then assign the issue to that user.  But

[2016-12-21 19:03] timabbott commented on #2835
Fixed the warning box via 753a25268c205685b47dacaf12dd6d532743a4ba; tip box won't work until we add CSS for it.

[2016-12-21 19:10] #2577 closed

[2016-12-21 19:42] #2257 closed

[2016-12-21 19:45] timabbott commented on #2257
This is fixed now, yay! :)

[2016-12-21 19:53] tommyip opened #2836 "Quality Assurance - Inconsistent styling between modals."
I have notice that each modals have a different style and transition effect, which could be confusing to new user.

## Stream
Transition: fade
Close button style: `<span class="exit-sign">×</span>`
![stream](https://cloud.githubusercontent.com/assets/18504232/21403790/3b6d59ce-c7b6-11e6-9ce9-1f263ee2dde4.png)

## Settings
Transition: Zoom
Close button style: `<button class="button small sea-green

[2016-12-21 19:56] timabbott commented on #2836
Cool, yeah, I think we're hoping to make everything follow the /#subscriptions style.

I think /#settings may be fixed in the Git branch but the 3 in-app help things could use some work.

We've also been talking about the idea of making a tab-switcher menu for those so that you can navigate between the 3 in-app documentation views.

If you want to take a pass at fixing up the 3 in-app help things,

[2016-12-21 20:00] timabbott commented on #2818
@Katy310 I think @brockwhittaker will be fixing this one.

[2016-12-21 20:18] rishig commented on #2702
yup, sounds good to me. Agree with using `@shortname.zulip.example.com` for non-subdomains, and dealing with changing subdomains later.

[2016-12-21 20:25] s0nskar commented on #2834
@timabbott this is should probably fixed by #2264.
https://github.com/zulip/zulip/blob/master/static/templates/compose_all_everyone.handlebars#L6

[2016-12-21 20:35] timabbott commented on #2834
Cool, can you verify on master now that it's merged?  Also worth looking at @-mentioning button; we should make sure both are fixed before closing this.

[2016-12-21 20:38] s0nskar commented on #2834
Yup it's merged [Link to code](https://github.com/zulip/zulip/blob/master/static/templates/compose_all_everyone.handlebars#L6).
Also i am getting
[code]
on `git status` should i add them in `.gitignore` file ??

[2016-12-21 21:06] sampritipanda commented on #2430
Do any of our other validators or converters access the database?

I was wondering whether it would be better to keep it in the view code since it works with the database.

[2016-12-21 21:35] #2713 closed

[2016-12-21 21:35] s0nskar commented on #2834
@timabbott #2837

[2016-12-21 21:38] timabbott opened #2838 "Administration page state issue when editing users."
On http://127.0.0.1:9991/#administration/user-list-admin, make a user an admin, remove their admin status, and then try to modify their name.  The input field for the name will incorrectly not initialize to the user's current name.

[2016-12-21 21:55] 4ntoni0 commented on #2749
Hello @timabbott.
Yes, I meant just what you understand, a "test" of a real server installed on a virtual machine.
I did not know that the apps do not work with self-signed certificates, now I'll try to get one through the site you suggested.
Thank you

[2016-12-21 22:26] timabbott opened #2840 "Administration page javascript issue processor event coming from bot name changes"
Reproducer: Open the javascript console, and go to the admin bots page:

![image](https://cloud.githubusercontent.com/assets/2746074/21408294/1ab9f7e6-c789-11e6-9d73-d7724932f37c.png)

Deactivate a bot, and then immediately reactivate it.  Then, try changing its name.  The operation will succeed, but you'll get this traceback in the console (and the name won't change in the current browser):

![im

[2016-12-21 22:53] timabbott commented on #2430
Perhaps not; the closest we have is `extract_recipients`.

I don't think it's a problem for one of these decorators to access the database, however.

[2016-12-21 22:57] timabbott commented on #2659
@Jeffthebest1 I just closed this manually; it looks like you accidentally had tagged #2569 as the issue to close :).

[2016-12-21 22:57] #2659 closed

[2016-12-21 23:13] timabbott commented on #1369
@mahim97 I'm not sure we have a clear plan for this yet; hold off on it and ping me again next week after I'm back from the holidays?

[2016-12-21 23:14] timabbott commented on #2499
Yeah, that plan works for me.  Go for it @vabs22!

[2016-12-21 23:24] timabbott commented on #2419
@cosmicAsymmetry done, thanks!  It's a bit tricky since we don't have a mechanism for marking a task as to-be-done-by-GCI-as-opposed-to-other-new-contributors.

[2016-12-21 23:27] timabbott commented on #2744
Cool!  I'd love to chat about how to make that work easily without duplicating any code or losing the nice scriptability of the current setup :)

[2016-12-21 23:36] timabbott commented on #454
the timabbott/settings-redesign branch works.  It currently fails casper tests (needs changes to the tests) but is otherwise final; so just ignore casper tests for now.

[2016-12-22 01:41] showell commented on #2807
So @tommyip we merged your first follow up to this, but I'm keeping this issue open for tracking the number of users and other enhancements.

[2016-12-22 05:23] zacps opened #2849 "Interactive bot files should have specific names to avoid collisions"
The merge of pull request #2688 created an interactive bot which uses very generic file names, specifically introducing two files: ```github.py``` and ```github_issues.py```. The file ```github_issues.py``` would be fine if it included all possible functionality that could be implemented with the github issues API, however it doesn't. The general ```github.py``` file is also problematic.

The docu

[2016-12-22 07:41] zacps opened #2852 "Interactive bots should be able to find their username and additional information about the realm."
At the moment interactive bots that want to avoid replying to themselves have to hard code their own username into their code. This means that anyone who wants to set up a bot has to look at and possibly change the source code of a bot so it is run under an available username.

The interactive bots API should be updated to include a ```bot``` object which should contain ```bot_email``` and ```subs

[2016-12-22 08:30] rishig opened #2855 "user guides: Rename URLs to match titles."
We'd like to canonicalize the user guide urls to be the title of the guide, lowercased and hyphenated. So for instance, the article titled "View the Markdown source of a message" should be at `/help/view-the-markdown-source-of-a-message`.

For each guide article, there are two places to make this change. One is renaming the file in `templates/zerver/help/`, and the other is updating the link at `t

[2016-12-22 11:43] anirudhjain75 commented on #2855
@rishig I want to do this as a task

[2016-12-22 14:41] timabbott opened #2862 "Purge repository of bare excepts (`except:`) and add lint rule"
It's basically never a good idea to use a bare except (e.g. `except:`), since those will also block using ctrl-C to stop a process.  We should at least be using `except Exception`, but I'd also like to audit all the places we're currently using a bare except to confirm that we should actually be eating all exceptions at that point.

And then we should add a lint rule banning bare excepts from the

[2016-12-22 14:44] showell opened #2863 "Upgrade static/third/jquery-filedrop/jquery.filedrop.js"
We should upgrade this code, just in case it improves file drag-and-drop for some browser.

If there is an npm version of it, we may want to use that.

If we upgrade the library, we should make sure we haven't patched it before.

[2016-12-22 14:46] timabbott commented on #2862
This is an example change: ef67f4463eeb808d7e79262194b61d89f8b3a53b

[2016-12-22 15:16] showell commented on #2849
I am actually ok with these filenames.  If we get to the point of having lots of github-related modules, we can always rename stuff later. I'm leaving this open for now, but to make this actionable, we need proposals on the new names.

[2016-12-22 16:55] rafidaslam commented on #2862
Looking at this..

[2016-12-22 17:48] tommyip commented on #2862
There are around 33 bare excepts in the code base.

[2016-12-22 18:12] rishig commented on #2855
Great! Though this probably isn't big enough to be put as a GCI task; let me know if that changes your interest.

[2016-12-22 19:03] tommyip opened #2869 "Quality Assurance - Emoji box blocked chat view"
If you open up the emoji box, the compose box would block the view to the lowest chat messages and one cannot scroll down further. This doesn't cause any major issues though.
![image](https://cloud.githubusercontent.com/assets/18504232/21437001/357e34b6-c879-11e6-8f88-74c61726cdab.png)

[2016-12-22 19:10] rafidaslam commented on #2862
@tommyip yeah, precisely 39 bare exceptions. I think we need a "high accuracy" in working on this issue. For those who wanted to work on this issue, you can use this `^(\s+)?except:$` to detect all bare exceptions

[2016-12-22 19:17] showell commented on #2430
@timabbott Closing this based on our discussion on Zulip.  The fact that we need to look at UserProfile in the decorator complicates things enough that it's probably not worth having a decorator.

[2016-12-22 19:17] #2430 closed

[2016-12-22 19:32] tommyip commented on #2863
The library would last updated on March 2014.
https://github.com/weixiyen/jquery-filedrop

[2016-12-22 19:38] sampritipanda commented on #2321
I'm working on this.

[2016-12-22 19:38] zacps commented on #2849
The reason I brought it up is I was working on another github bot which had different features and I came back to a merge conflict. I'll think of a better name and create a pull for it shortly.

[2016-12-22 21:35] HarshitOnGitHub commented on #2097
@timabbott I am taking this up. Can you kindly provide some pointers?

[2016-12-23 02:00] 540KJ opened #2877 "User list discrepancies between Android and Web Zulip"
Differences in who's online, inactive or disconnected between android app and web zulip. This may be an issue for large teams.
<img src="https://cloud.githubusercontent.com/assets/23611943/21445534/757977d4-c90e-11e6-9b73-7d13feca6093.png" width="225" height="400" />
<img src="https://cloud.githubusercontent.com/assets/23611943/21445535/758693b0-c90e-11e6-85c3-2acd7e4e9b17.PNG" width="175" height=

[2016-12-23 04:30] s0nskar opened #2882 "Upgrade npm packages"
Got this while `./tools/provision.py`
[code]

We should probably upgrade them.

[2016-12-23 07:18] anirudhjain75 commented on #2855
No Problem but merge this PR please

[2016-12-23 07:43] anirudhjain75 commented on #2855
@rishig This is the final PR

[2016-12-23 11:06] sampritipanda commented on #2321
@timabbott I couldn't find any sorting logic in the `filter_table` function: https://github.com/zulip/zulip/blob/master/static/js/subs.js#L491

[2016-12-23 11:27] tommyip opened #2886 "Unexpected behavior if the content of a message is `>>>>>>>>>>>>>>`."
If the content of a message is a line of markdown quotes like this:
`>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>`
Other users would see a the quotes for a fraction of a second then a blank message box with decreased height.

Input: `>>>>>>>>>>>>>>>>>>>>>>>>>>>>>`
Expected output: `>>>>>>>>>>>>>>>>>>>>>>>>>>>>>`
Actual output:
![bug_quotes](https://cloud.githubusercontent.com/assets/18504232/21452943/749e93

[2016-12-23 12:44] tommyip commented on #2836
I will start working on this.

[2016-12-23 15:54] timabbott commented on #2882
These are recursive dependencies of ours; can you quickly figure out which dependencies of ours install them so we know which we need to upgrade?  I'd do this by manually installing the individual packages in our `package.json` and seeing which gives this error...

[2016-12-23 15:56] timabbott commented on #2877
Can you open this bug against the Android app (zulip/zulip-android)?  I believe the bug is likely there, not here :).

[2016-12-23 16:05] timabbott commented on #2886
@tommyip this may be the same issue as https://github.com/zulip/zulip/issues/687.

http://zulip.readthedocs.io/en/latest/markdown.html is relevant reading for anyone interested in fixing this.

[2016-12-23 16:06] timabbott commented on #2321
Sorry, I meant the filtering logic, specifically the computation of `flag`.

[2016-12-23 19:17] HarshitOnGitHub commented on #2838
My PR #2792 for issue #2719 addresses this one as well.

[2016-12-23 22:23] mahim97 commented on #2065
Created PR #2885 , do have a look.

[2016-12-24 01:51] Jeffthebest1 commented on #2886
I'd like to fix this @timabbott

[2016-12-24 05:04] kracekumar commented on #2755
I expected it to work like standard e-mail reply for GH issues (ignoring locked conversation). I wouldn't expect an expiry since I can reply to any old private message from the web UI.
I am curious to know the reason for expiry and security concern.

[2016-12-24 14:07] anirudhjain75 opened #2895 "Unexpected Behaviour with '---------------------------'"

[2016-12-24 14:08] anirudhjain75 commented on #2895
When I typed `-------------------------` and sent on zulip I got nothing

[2016-12-24 14:08] anirudhjain75 commented on #2895
![screen shot 2016-12-24 at 7 37 15 pm](https://cloud.githubusercontent.com/assets/14249589/21467355/95901944-ca10-11e6-9733-6c469cfe190b.png)

[2016-12-24 14:09] anirudhjain75 commented on #2895
![screen shot 2016-12-24 at 7 37 03 pm](https://cloud.githubusercontent.com/assets/14249589/21467357/a458db14-ca10-11e6-9770-eff05dda1468.png)

[2016-12-24 14:14] #2895 closed

[2016-12-24 14:15] anirudhjain75 commented on #2886
hey guys Its the same with  `--------------------------` and `****************************` too, They are not returning anything

[2016-12-24 14:17] anirudhjain75 commented on #2886
`________________________________` even with this

[2016-12-24 18:17] #1996 closed

[2016-12-24 20:13] HarshitOnGitHub commented on #1867
I am taking up this one.

[2016-12-24 21:18] s0nskar commented on #2882
If we give serial no.s to error then

1 - doesn't occur this time.
2 - istanbul@0.4.0
3, 4 - phantomjs-prebuilt@2.1.7

[2016-12-24 22:17] KingxBanana opened #2901 "Quality Assurance: Collapse not working when viewing source"
If you view the source of a message (by pressing the arrow next to the message and pressing **View Source**), and then collapse that message (by pressing the arrow next to the message and pressing **Collapse**), the message won't be collapsed. It will just show the source of the message and a [More...] button that does nothing when pressed.

![collapsebug](https://cloud.githubusercontent.com/asset

[2016-12-24 22:30] KingxBanana opened #2902 "Quality Assurance: Unread messages not showing after pinning"
To reproduce this bug, you first need to find a stream that has unread messages (the number to the right of a stream's name shows how many unread messages in that stream you have). Hover over that stream and press the arrow to the right of that stream's name and press **Pin stream ... to top**. The number that indicates how many unread messages in that stream you have will not be shown, until you

[2016-12-25 05:13] lonerz opened #2905 "Strikethrough through buttons under Bot page in Administration"
When you deactivate a bot under the administration page, the strikethrough that goes through the Name and Email of the bot also carries through the Deactivate and Edit buttons. See the following image:

![Deactivate Bot Success](https://raw.githubusercontent.com/synicalsyntax/zulip/4ff3400e0e8710bdb1bbeed200b7b1a4ec200ed1/static/images/help/bot-deactivate-success.png)

[2016-12-25 12:50] femnad commented on #2902
Yep, I can replicate this behavior going from the description. Thank you for the report.

[2016-12-25 12:54] femnad commented on #2901
Isn't the `More` button for uncollapsing the message? But it doesn't seem to do what it's supposed to do when source view is active. So this is definitely misleading behavior.

[2016-12-25 13:04] SaumyaRawat commented on #2835
Hi! I would like to work on this, could you elaborate on the rule for common preparatory steps, are you referring to a uniform look for any part of the document which gives directions to achieve a particular task?

[2016-12-25 13:25] tommyip commented on #1107
I will work on this.

[2016-12-25 17:10] rafidaslam opened #2912 "Long image alt text overlaps Download and Open buttons."
When we click on the image that has long `alt text`, the `alt text` overlaps  **Open** and **Download** button.
![screenshot from 2016-12-26 00-02-54](https://cloud.githubusercontent.com/assets/20320125/21472181/6fd975ca-caff-11e6-8619-2fe7a94b3e28.png)

[2016-12-25 17:27] tommyip commented on #2905
I will work on this

[2016-12-25 19:18] refeed opened #2913 "Left sidebar automatically closed when clicking on "Filter stream list" button on responsive condition"
On responsive condition, when we click on "Filter stream list" button, the left sidebar automatically closed, I think it should be not automatically closed.

How to reproduce:
1. Login to Zulip.
2. Resize the browser window until Zulip transform to responsive.
3. Click on the **Filter stream list** button.

And the left sidebar will be automatically closed.

![peek 2016-12-26 01-58](https://cloud.

[2016-12-26 11:06] rafidaslam commented on #2912
I'll try to work on this..

[2016-12-26 15:42] #2321 closed

[2016-12-26 15:43] derAnfaenger commented on #99
This still seems to be an issue:
![bug_notification](https://cloud.githubusercontent.com/assets/7950151/21483895/3c7e3428-cb8a-11e6-9680-36be32a50f68.png)

[2016-12-26 15:46] derAnfaenger commented on #99
This issue still seems to be relevant:
![bug_notification](https://cloud.githubusercontent.com/assets/7950151/21483927/cc710894-cb8a-11e6-8706-23db1a23855c.png)

[2016-12-26 19:22] timabbott commented on #99
Yep!  It'd be awesome if you were to work on the localstorage solution @derAnfaenger :)

[2016-12-26 19:38] derAnfaenger commented on #99
@timabbott sure, I'll try my best :)

[2016-12-26 21:38] timabbott commented on #2912
Nice find!  Your fix looks good; pinged @brockwhittaker to give this a quick review since he's the author of that system and may have some thoughts :)

[2016-12-26 21:40] #2912 closed

[2016-12-26 22:51] #2905 closed

[2016-12-26 23:16] timabbott commented on #2835
Sure!  By "common preparatory steps", I mean that we probably have 10 places in the user docs where we explain to users how to get to the settings page to change a particular setting, and they are all slightly different and some better than others.  It'd be good to have something like `!go_to_settings(your-account)` (ideas for syntax welcome!) that we can put in the markdown which will result in i

[2016-12-26 23:18] timabbott commented on #2901
Thanks for the report @KingxBanana!  I think we probably not offer to collapse a message that is being edited by the user (and auto-uncollapse a message that the user starts editing) as the solution to this problem.

[2016-12-26 23:29] timabbott commented on #2882
Cool.  1 is I think from `i18next-parser`; I determined `npm ls` is a faster way to see where things are installed from :)

[2016-12-26 23:31] timabbott commented on #2882
I upgraded istanbul and phantomjs-prebuilt just now; @umairwaheed can you upgrade the i18next modules and make sure that our frontend i18n still works?

[2016-12-26 23:33] timabbott commented on #1867
@HarshitOnGitHub awesome!

[2016-12-26 23:46] timabbott commented on #2913
Nice find!  Definitely worth fixing; it's probably an interesting CSS bug :)

[2016-12-26 23:47] rishig commented on #1867
Also, contrary to what I said above, I think putting it in-line might work actually better than using a modal, and not be any harder. E.g. something like looks like the following:
[code]
where the [..] represent checkboxes, input boxes, and buttons as appropriate :).

[2016-12-27 00:21] derAnfaenger commented on #99
@timabbott I think I just solved this issue by using localStorage. Haven't tested the fix on multiple browsers though, will do so tomorrow :)

[2016-12-27 00:25] timabbott opened #2930 "Adding missing encodeURIComponent on some `PATCH /json/streams/` uses"
Our frontend correctly uses encodeURIComponent(stream_name) in only half of the instances it should it when doing PATCH on `/json/streams`, and thus those other calls probably won't work in the event that the stream names contain unusual characters.

[2016-12-27 00:27] timabbott commented on #2886
Go for it @Jeffthebest1!

[2016-12-27 01:16] 540KJ commented on #1680
@timabbott Does this match the requests?

[2016-12-27 01:17] 540KJ commented on #2431
@timabbott Did I do this correctly?

[2016-12-27 02:02] timabbott commented on #99
Awesome!

[2016-12-27 02:24] timabbott commented on #2852
@zacps I think the name and email were added recently; what else should be included?

[2016-12-27 02:31] #2818 closed

[2016-12-27 03:26] rafidaslam commented on #2930
looking on this..

[2016-12-27 03:41] prabod commented on #1978
can i work on this?

[2016-12-27 04:03] rafidaslam commented on #2930
@timabbott Is `email` should be encoded also?
[code]

[2016-12-27 05:24] rishig opened #2932 "search: Fix autocomplete for "from"."
Currently one can search for messages sent by <user> using either "sender:<user>" or "from:<user>". The "sender" formulation autocompletes, but the "from" formulation doesn't. The first place I would look is `static/js/filter.js`, and see if there is anything different in how we treat "sender" and "from".

[2016-12-27 06:57] umairwaheed commented on #2882
Sure.

[2016-12-27 09:12] rahulchawla1995 commented on #2932
@rishig can i take up this issue

[2016-12-27 14:23] akhilmd commented on #2398
I'm working on this.

[2016-12-27 17:26] derAnfaenger commented on #99
@timabbott I think this commit fixes the bug :)
Zulip thread on it here: https://chat.zulip.org/#narrow/stream/GCI.20general/subject/Issue.20.2399

[2016-12-27 17:28] timabbott commented on #1978
sure, go for it!  `tools/test-js-with-casper` is the main script for that.

[2016-12-27 17:41] timabbott opened #2943 "Add option in people menu to reply to a stream message @-mentioning a sender"
Since Zulip supports names being written in any language, it can be difficult to get the typeahead to mention a user whose name is written in an alphabet you don't know how to type (example below with Cyrillic):

![image](https://cloud.githubusercontent.com/assets/2746074/21504921/a1b1c8ae-cc17-11e6-9a9a-2293e87e8657.png)

Currently, the easiest mechanism is to copy-paste the user's name.  Since i

[2016-12-27 17:42] timabbott opened #2944 "Advertise clearly that we support names in every language in Zulip "full name" input forms"
We should have a `?` mouseover where we have "input your full name" input forms that explains you can write your name however you prefer it to be displayed, with full support for unicode etc.

I think the two that need this are:
* [ ] Settings page
* [ ] Registration form

[2016-12-27 18:45] timabbott opened #2945 "Add node test suite for message_is_notifiable, should_send_desktop_notification, and friends"
These are a frontend functions in notifications.js that have a lot of logic around determining whether to trigger a desktop notification; they would be great candidates for Node unit tests.

[2016-12-27 18:51] timabbott commented on #2097
Re pointers, looks like you already figured this out @HarshitOnGitHub?

[2016-12-27 19:03] timabbott commented on #2882
Fix merged.

[2016-12-27 19:03] #2882 closed

[2016-12-27 19:07] brainwane commented on #1296
@srish is [planning on comparing Zulip with IRC and Mattermost](https://phabricator.wikimedia.org/T154001) and I've asked her to comment here with a link to her work as it gets underway.

[2016-12-27 19:18] rishig commented on #2932
Great, thank you!

[2016-12-27 19:52] timabbott commented on #2930
Yes, it should be as well.

[2016-12-27 19:54] anirudhjain75 commented on #2412
I think its because of home being selected as default, due to which when we click enter we are sent to home.
Predicted this because its the same in Administration window too

[2016-12-27 19:54] anirudhjain75 commented on #2412
With some help I would like to work on this

[2016-12-27 19:55] timabbott commented on #2869
Interesting.  It's possible this suggests we should change `bottom_whitespace`.

[2016-12-27 20:08] timabbott commented on #2862
That regular expression seems reasonable; now we just need to start cleaning the actual bare excepts  up :).  I'd start by looking through and finding any that clearly intend a specific exception type (but the author was lazy), and submitting PRs to clean up those (would probably do <10 per PR just to keep things readable).  And then we can deal with the remaining ones on a case-by-case basis.

[2016-12-27 20:13] HarshitOnGitHub commented on #1867
@rishig Sorry I had already worked out a modal before seeing your comment. I have updated the PR so that you can have a look. If you like it then nice otherwise I will make it in-line. :)

[2016-12-27 20:23] timabbott commented on #2412
@brockwhittaker do you have advice on this one?

[2016-12-27 20:29] HarshitOnGitHub commented on #2097
@timabbott Yup. :)

[2016-12-27 20:59] rahulchawla1995 commented on #2932
can u please tell me how should i move on ...i have seen the filter.js file

[2016-12-27 21:24] timabbott commented on #2932
@rahulchawla1995 I think you're going to need to spend a few hours reading the code and tracing the logic :)

[2016-12-27 21:28] timabbott opened #2946 "Make our various CSS subsystem files obviously constrained to that component"
We should make sure all of our supplementary CSS files (e.g. `overlay.css`) are setup and linted to only have a few top-level CSS rules (to avoid accidentally modifying other parts of the app).

I'm not sure exactly what the best mechanism would be, but a simple design would be to have a fixed structure of this form tracking the list of valid rules `overlay.css: ['#overlay', ...]` and then verify

[2016-12-27 21:28] rahulchawla1995 commented on #2932
@timabbott actually i think i got where d problem is :)

[2016-12-27 21:37] #2561 closed

[2016-12-27 21:39] timabbott commented on #2863
OK; we're probably still running an old version but I think we have some patches as well.  It might make sense to extract our patches and submit them as PRs to the upstream project as part of doing this update.  You can find them with `git log -p` on the relevant file under `static/third`.

[2016-12-27 21:42] timabbott commented on #2704
Something like that could be doable.  I'm worried about making sure this sort of thing is maintainable.  If you have a specific proposal for how to extend the templates, I'd be willing to consider it!

[2016-12-27 22:22] sampritipanda commented on #1717
I'm working on this.

[2016-12-27 23:47] #978 closed

[2016-12-27 23:47] #984 closed

[2016-12-27 23:48] #2855 closed

[2016-12-28 00:29] #2586 closed

[2016-12-28 00:54] timabbott opened #2950 "Lint for duplicate IDs in our HTML"
We should have a lint rule that checks for duplicate IDs in our HTML templates.

This would avoid problems like ad513bab3342bbab7089eae20720b0dd9de6ed53.

[2016-12-28 01:14] #2287 closed

[2016-12-28 01:55] timabbott commented on #1107
@kevinr you may want to take a quick look at the options being discussed in #2909.

[2016-12-28 02:47] lonerz commented on #2943
@timabbott I'd like to work on this. What are the files I'll most likely be working with here?

[2016-12-28 02:50] kevinr commented on #1107
Wow, I'm way behind on this issue.  I commented on [#2909](https://github.com/zulip/zulip/pull/2909#issuecomment-269415801).

A couple other options:

1. Display a user's picture whenever they're mentioned.  So `Hiya @Kevin Riggle!` would result in "Hiya (small userpic)**Kevin Riggle**"
2. Include the user's email address in the title text of their display name and picture.

[2016-12-28 03:16] rishig opened #2955 "Add a realm setting to disallow disposable email addresses."
Add a realm admin setting to disallow disposable email addresses in realm signup.

The following tutorial explains how to add a new realm admin setting: https://zulip.readthedocs.io/en/latest/new-feature-tutorial.html

The idiom we use to check whether an email address belongs to a disposable domain is `is_disposable_domain(email_to_domain(email))`.

The setting can be added to the organization se

[2016-12-28 03:26] timabbott commented on #2943
I think mostly static/js/popovers.js and static/templates/actions_popover_content.handlebars

[2016-12-28 03:55] timabbott commented on #822
I just went ahead and cleared out the remaining items in the global lint-all exclude list that are our own code.  Glad to have this resolved :).

[2016-12-28 03:55] #822 closed

[2016-12-28 04:00] timabbott commented on #1153
I just went ahead and moved tools/setup/emoji_dump to tools/setup/emoji, cleaning up that path to make more sense.

I think the only thing which remains to do here is move `static/third/gemoji` to `static/generated/emoji`.

[2016-12-28 04:12] rishig opened #2956 "Remove realm_str from session object for realm sign-up."
We have the following logic in `zerver.views.__init__.py`:
[code]

It would be great to no longer have to store the realm_str in the session, since it increases the security impact of a `SESSION_KEY` leak. I imagine the way to do this will be to pass the realm (or realm_str) through the google auth / github auth paths in `zerver/views/auth.py`, either as a parameter or by maintaining the URL. Most

[2016-12-28 04:17] #1153 closed

[2016-12-28 04:17] rishig commented on #1867
@HarshitOnGitHub ah cool, I hadn't seen your PR when I posted the comment. The modal looks great, no worries about in-lining it. Thanks!

[2016-12-28 04:18] timabbott commented on #1378
Since we're dropping Python 2 support soon, I think we can close this as wontfix.

[2016-12-28 04:18] #1378 closed

[2016-12-28 04:21] lonerz commented on #2943
@timabbott I don't need to worry about a mention icon currently right?

[2016-12-28 04:32] #2696 closed

[2016-12-28 04:33] timabbott commented on #2943
I think we can just use an `@` for the icon.

[2016-12-28 04:34] timabbott commented on #839
This was implemented recently; see `contrib_bots/lib/giphy.py`.

[2016-12-28 04:34] #839 closed

[2016-12-28 04:35] timabbott commented on #724
@TomaszKolek we completed this, right?

[2016-12-28 05:34] lonerz commented on #2943
@timabbott can you look over what I have currently? Not sure if I'm doing this correctly.

[2016-12-28 07:03] TomaszKolek commented on #724
Yeah, we did it.

[2016-12-28 07:19] timabbott commented on #2943
Yes, something like that should work!

[2016-12-28 08:45] amalad commented on #2944
@timabbott  Hi, I'd like to take up this issue. Can you point me to the files where I can find the relevant codes?

[2016-12-28 11:27] maxlinux2000 opened #2958 "Provider clear documentation for how to setup outgoing Zulip email for free"
Hi
sending the test email to me I receive always this error:
`smtplib.SMTPAuthenticationError: (534, '5.7.14 <https://accounts.google.com/signin/continue?sarp=1&scc=1&plt=AKgnsbvT\n5.7.14 _8Sd0rgK-apBOryY0SA-BRNpkd3IlLbfg-ovlQzV9XKx2yF47D9j8iKrumEZizlz5uMi0j\n5.7.14 5R7qCzhTUDPxJQfWUbo4ysWKHrd_NKh9Ui-6h3HZeoYTEtQSOmBYqt0sm19tDa0WvwJ0ct\n5.7.14 _VrJif5aY9cwv-Awthv1h0vq9qF1bPcNyX0zt5Ld8O2L3JhjIO1EBf

[2016-12-28 14:10] cosmicAsymmetry commented on #2955
I would like to work on this after my mypy task get approved.

[2016-12-28 15:09] showell commented on #2950
Is this looking for duplicate ids within a single template or across all templates?

[2016-12-28 15:14] showell commented on #2950
The code in `tools/lib/html_branches.py` should be able to mostly solve this problem.

[2016-12-28 17:18] maxlinux2000 opened #2964 "generate_realm_creation_link error 500?"
HI,

I have just reinstalled zulip server in order to test the new installer, but now when I run ./manage.py generate_realm_creation_link command and inserting my email address (same of zulip configuration) the server tell me "500: Internal server error." when I press the Create Organization button

How solve this problem?

[2016-12-28 17:48] timabbott commented on #2964
We're discussing this specific issue on chat.zulip.org (turns out to be outgoing email config not working), but for anyone finding this, /var/log/zulip/errors.log has the actual traceback :).

[2016-12-28 17:48] #2964 closed

[2016-12-28 17:57] timabbott commented on #2944
@amalad you should be able to find them with `git grep`, but registration is templates/zerver/register.html and the settings page is `static/templates/settings/account-settings.handlebars`

[2016-12-28 19:04] mahim97 commented on #1369
@timabbott Is there any update regarding this issue?

[2016-12-28 19:22] zacps opened #2968 "Bugdown: Embed feature should be disabled for bots."
The markdown processor has a feature which inlines information from websites linked in the chat. This feature should be disabled for bots because it can replicate the information that they display.

An example of what that can look like is here:
![](https://chat.zulip.org/user_uploads/2/c9/wyjj5Vn86XOOz6psz47Tu9UZ/2016-12-11-144157_1366x768_scrot.png)

[2016-12-28 20:19] lonerz commented on #2943
@timabbott I should add this to the user_popover also? The dropdown you get when you click on the chevron next to a user's name on the right sidebar.

[2016-12-28 20:35] mahim97 commented on #2950
@timabbott I can take this up, please guide me to get started on this.

[2016-12-28 20:47] mahim97 commented on #2944
@timabbott It would be better if we could give a catchy line below the input form of full name to convey what we wish to say through the mouseover. Just thinking on UX basis. Something like "Try displaying name in multiple languages" or "Zulip supports multiple languages, try it out" or a line more catchy.

[2016-12-28 21:16] amalad commented on #2944
@timabbott I've made the changes for the settings page and it seems to be working fine. What message should be displayed?

[2016-12-28 23:02] timabbott commented on #2950
One can start by reading and understanding the script that @showell mentioned, testing it with some print statements, etc., until you understand how it works.

[2016-12-28 23:32] timabbott commented on #724
Great, we forgot to close the issue :)

[2016-12-28 23:32] #724 closed

[2016-12-28 23:33] timabbott commented on #2944
Maybe: "Zulip has full unicode support, so feel free to spell your name however you'd like to appear"

[2016-12-28 23:37] timabbott commented on #2943
@lonerz there's no clear stream/topic pair that we can use there, so I'm not sure that makes sense.  I guess we could have a "Copy @-mention" thing, but it'll feel clunky.  Would try this first and see to what extent we feel it solves the problem.

[2016-12-28 23:49] timabbott commented on #2968
This feature isn't realm filters; it's the inline URL preview feature (#2133).  But I agree that it doesn't mix well with bot messages, and we should probably just turn it off unconditionally for messages sent by bots.  I think that should be fairly easy to do with a bit of code in Bugdown.

[2016-12-28 23:50] timabbott commented on #2968
@zacps are you interested in working on this?  http://zulip.readthedocs.io/en/latest/markdown.html is useful reading if so.

[2016-12-29 00:53] timabbott commented on #2958
Our experience is that sending email from localhost in 2016 usually gets spam-filtered, and so we can't recommend that experience.

I think we should probably just be recommending Mailgun and Sendgrid (i.e. the providers who have free secure outgoing email service tiers).

Seems like a good small documentation project to write the precise config one needs for each of them as an example.

[2016-12-29 02:22] showell commented on #2950
@mahim97 Once you get oriented to this code, check in on Zulip with @tommyip, who also expressed some interest in this issue (not sure how much):  https://chat.zulip.org/#narrow/stream/tools/topic/duplicate.20HTML.20IDs

[2016-12-29 03:18] showell commented on #2930
@rafidaslam We should also look for brittleness related to having slashes in stream names, like here:

[code]

If your stream name was "foo/members", which is totally legit, the URL would be tricky to figure out which view gets resolved.

[2016-12-29 03:36] zacps commented on #2968
I had a look at it but I can't say I really understood it. I'd be happy to work on it but I'd need a bit of help with it.

Is the feature part of the markdown processor?

[2016-12-29 10:16] amalad commented on #2944
![zulip1](https://cloud.githubusercontent.com/assets/12957603/21541634/ef164f80-cddd-11e6-9722-37031d313500.JPG)

Is something like this okay for the settings page?

[2016-12-29 10:52] tommyip commented on #2950
@mahim97 Please go ahead and do it! I was just poking around to see if there is anything I could help.

[2016-12-29 15:12] brainwane commented on #2492
This issue makes an appearance in https://blog.stanzheng.com/recurse/debugging-debugging/ by @stanzheng :)

[2016-12-29 15:24] KingxBanana commented on #2944
That looks pretty good to me. Two small things:
Why does the arrow at the bottom of the message show to the right of the question mark?
And also I think you should change the message a little bit. If I were you I would replace the first period with a comma (Zulip has full unicode support, so ...) and I would also switch **it** and **like** (however you'd like it to appear.)

[2016-12-29 15:26] amalad commented on #2944
That was a typo. Thanks for pointing it out. I'll shift the position of the arrow as well. Thanks

[2016-12-29 19:25] HarshitOnGitHub commented on #2719
@timabbott Whenever you are free have a look at this one. :)

[2016-12-29 19:56] alyaabbott opened #2985 "Adding Github info to instructions for setting up the development environment"
Instructions for setting up the development environment should explain what to do if you don't have a GitHub account, including how to set up ssh keys on your machine.

[2016-12-29 20:06] cosmicAsymmetry commented on #2955
I'm starting work on this.

[2016-12-29 20:23] rishig commented on #2955
Great, thank you!

[2016-12-29 20:53] timabbott commented on #2944
How about putting the ? to the right of "Full name" rather than the text box?  I think that'd be clearer.

[2016-12-29 20:53] alyaabbott opened #2987 "Replace screenshots on user doc page"
The message screenshots (1st and 3rd screenshot) on this page should be replaced: http://localhost:9991/help/view-the-markdown-source-of-a-message

Requirements:

- same message in both screenshots
- message includes some non-trivial markdown

[2016-12-29 21:08] rahulchawla1995 commented on #2932
@rishig can u give some more hints on this task

[2016-12-29 22:26] rishig commented on #2932
Thanks for working on this! I'd recommend asking on chat.zulip.org if you are stuck at a particular place, or working on a different issue if you are not sure where to start.

[2016-12-29 23:12] rishig opened #2989 "compose box: Change ctrl-enter to behave like shift-enter when enter_sends is True."
Currently, if a user has the "Enter sends" box checked, they can use Shift-Enter to get a newline. This should work for Ctrl-Enter and Meta-Enter (Alt-Enter) as well. To start I would grep for `page_params.enter_sends` in `static/js/composebox_typeahead.js`.

[2016-12-29 23:17] sampritipanda opened #2990 "release 1.5: Emojis in existing messages point to the wrong link"
The emojis in the messages sent before moving to the new emoji path don't work.

The existing ones point to https://chat.zulip.org/static/third/gemoji/images/emoji/+1.png while the new emoji points to https://chat.zulip.org/static/generated/emoji/images/emoji/+1.png

Maybe we should add a redirect for all those paths to the new location.

[2016-12-29 23:35] rishig opened #2991 "Remove duplicate emoji"
We currently have a few dozen "duplicate" emoji, like `:office:` and `:office_building:`, `:angry:` and `:angry_face:`, and `:thumbs_up:` and `:thumbsup:`. In the situations where one emoji name is a subset of the other, we'd prefer to keep the shorter name (i.e. `:office:` rather than `:office_building:`).

For `:thumbs_up:`, `:thumbsup:`, and `:+1:`, we'd like to keep both `:thumbs_up:` and `:+1

[2016-12-29 23:45] timabbott commented on #2943
Fixed via #2957.

[2016-12-29 23:45] #2943 closed

[2016-12-29 23:48] rishig opened #2992 "Show thumbs up before thumbs down in auto-complete."
Currently if you start typing `:thum..` in the compose box, it'll show `:thumbs_down:` before `:thumbs_up:`. We should add a special case to make sure `:thumbs_up:` always shows up on top. I'm not totally sure how the emoji stuff works, so if you work on this you might have to do some initial sleuthing yourself :).

[2016-12-29 23:52] timabbott commented on #2992
Looking through `$ git grep typeahead` for the part about emoji is helpful for finding the relevant code.

[2016-12-30 00:12] #2464 closed

[2016-12-30 00:17] rishig opened #2994 "Allow searching by emoji"
Currently searching for `:octopus:` doesn't work. Some notes:
* Possibly some care will be needed in parsing out the emoji/doing autocomplete on the search string, since there are `:`s at the end of things like `sender:`. Or possibly we can just reuse the code that does this in composebox_typeahead.js.
* We search the rendered message, rather than the raw message (this is required to do highlighti

[2016-12-30 00:45] rishig opened #2996 "Add a --force option to tools/test-all."
If present, it should pass the `--force` option on to the scripts that take it. I believe these are `lint-all`, `test-backend`, and `test-js-with-node`.

Currently, one can run each of the individual tests in `tools/test-all` without provisioning, but not directly via `tools/test-all --force`. Running `tools/test-all` without provisioning also gives the currently misleading instruction `If you rea

[2016-12-30 00:46] timabbott commented on #2996
Yeah this is a good idea.

[2016-12-30 01:17] alya opened #2998 "Create password reset user doc"
Add a section on how to reset a forgotten password to http://localhost:9991/help/change-your-password.

[2016-12-30 02:18] #2065 closed

[2016-12-30 06:07] lonerz commented on #2943
@timabbott can you create a gci task for this? just wondering if I could get a task point from this since I haven't had a task approved in over 10 days.

[2016-12-30 06:35] 540KJ opened #3000 "Header div remains white after opening keyboard shortcuts and search help"
div with class header (top bar) remains white after opening keyboard shortcuts, search help and invite users popups. Shouldn't it be grayed out?
![top](https://cloud.githubusercontent.com/assets/23611943/21560644/428c1816-ce06-11e6-81fd-a268f8e59c6b.PNG)

[2016-12-30 06:38] peguin40 commented on #2627
The problem is in that deduplicating it in the emoji picker takes a lot of manual work having to compare about a thousand-ish emojis. A procedural solution is currently out of my reach.

[2016-12-30 06:47] #2877 closed

[2016-12-30 09:35] alexmorozov commented on #2044
I agree that would be a great feature. All my staff who joined a private channel wondered if they were the first people in there. Moreover, as the pattern (for us, at least) seems to be like "Discuss things, realize we need somebody else, invite that person, give him or her the context", the latter point fails as we have to repeat all the previous discussions to a newcomer.

Actually I have a coup

[2016-12-30 11:20] amalad commented on #2944
![screenshot 9](https://cloud.githubusercontent.com/assets/12957603/21564136/d06bb458-ceaf-11e6-96ad-f4e2cf06b41d.png)
@timabbott  I incorporated that change. But I keep getting the following error when I run the test locally:
![zulip_error](https://cloud.githubusercontent.com/assets/12957603/21564147/f711db32-ceaf-11e6-92dd-a07cf33ca60a.JPG)
I'm not sure why I'm getting this error. Could you help

[2016-12-30 12:57] mahim97 commented on #2944
@amalad It might be that there is a blank line with only whitespace characters. Try checking any new blank lines you might have created, trailing whitespace's are something like unintended indentation(tabs).

[2016-12-30 17:15] timabbott commented on #2877
Thanks @540KJ!

[2016-12-30 17:15] timabbott commented on #2627
See #2991 for a plan for how to fix this.

[2016-12-30 17:39] timabbott commented on #3000
Yes, definitely!  @brockwhittaker did you have a branch fixing this?

[2016-12-30 17:57] timabbott commented on #2944
@amalad the problem is there's extra spaces at the end of that line of code, after the `;`.

[2016-12-30 18:36] bojidar-bg commented on #2355
Uhm, is this issue still being worked on?

[2016-12-30 18:38] amalad commented on #2944
Removed the trailing whitespaces from the code

[2016-12-30 18:45] bojidar-bg commented on #2834
Hm, I guess that should be closed, no?

[2016-12-30 19:39] 540KJ opened #3008 "Settings page doesn't allow access to administration page."
The administration page cannot be accessed through the settings page, though the settings page can be accessed through the administration page. I also can't exit the settings or administration pages through clicking on the grayed out area.
![settings page no access](https://cloud.githubusercontent.com/assets/23611943/21571470/dae2336c-ce73-11e6-8d43-ad6b51fa3365.PNG)
![administration page](https:/

[2016-12-30 19:53] #2727 closed

[2016-12-30 19:59] tommyip commented on #1527
I will work on this!

[2016-12-30 20:32] timabbott commented on #2044
@alexmorozov awesome!  Yes, that's basically right.  http://zulip.readthedocs.io/en/latest/new-feature-tutorial.html and the following sections of the developer docs should explain how to add a new setting correctly with our real-time sync system.  I would call the new field something like `Stream.`.

The main tricky part would be separating out the use cases; but I think it won't be so bad.  We h

[2016-12-30 20:32] 540KJ commented on #2281
Don't know if this is related, but if you press the down chevron and scroll up or down. The popup doesn't exit.

[2016-12-30 20:35] timabbott commented on #2281
@540KJ I'm not sure I understand; can you post a screenshot or brief video?

[2016-12-30 20:38] 540KJ commented on #2281
As you can see, the popup doesn't belong to (no topic), but rather lorem ipsum. Obtained through opening popup and scrolling up.
![scroll up](https://cloud.githubusercontent.com/assets/23611943/21572331/ea539c34-ce7b-11e6-8969-74548c3c524c.PNG)

[2016-12-30 20:39] timabbott commented on #3008
I think what we actually want to do is rename "Administration" to "Organization" there, and make it a nice read-only view for non-administrator users.

[2016-12-30 20:40] timabbott commented on #2834
Oh, yeah, this was fixed in #2837.  Thanks for noticing @bojidar-bg!

[2016-12-30 20:40] #2834 closed

[2016-12-30 20:40] timabbott commented on #2944
@amalad great!  BTW it's best to do this sort of discussion on technical details on the PR itself, not in the issue thread.

[2016-12-30 20:47] timabbott commented on #2355
I think so, in https://github.com/zulip/zulip/pull/2637

[2016-12-30 20:59] 540KJ opened #3010 "Quality Assurance: Inconsistent spacing in drop-down menu"
The icons and menu buttons are inconsistently spaced in dropdown. e.g. The `V` in `View Source` and `R` in `Reply` are not vertically inline. The icons seem to be different sizes.
![spacing](https://cloud.githubusercontent.com/assets/23611943/21572581/c43bd1bc-ce7e-11e6-8c04-5a2a8f1bb930.PNG)

[2016-12-30 22:10] lonerz commented on #3010
I don't think they are supposed to be. You can look at the user_sidebar_popover and message_info_popover and both are not aligned also.

[2016-12-30 22:12] #2355 closed

[2016-12-30 22:12] timabbott commented on #2355
And in fact, I just merged that today.  Thanks @jeremyclement for articulating a great feature idea, and @prabod for implementing it.  I think a lot of folks will enjoy using this one :)

[2016-12-30 22:14] lonerz commented on #2992
@timabbott @rishig I'll pick this one up.

[2016-12-30 22:16] timabbott commented on #3010
Yeah, I think it'd be nice to align them.  We should fix all the actions popovers together.

[2016-12-30 22:17] tommyip commented on #3010
I think the problem is that we are not using monospace fonts. Maybe we could use something like a table to align them.

[2016-12-30 22:18] timabbott commented on #2281
Ahh, OK, yeah, that makes sense.  Probably a totally independent issue from the clearing bug; can you open a new issue with that screenshot?

[2016-12-30 22:22] timabbott commented on #3010
Yeah, that makes sense.

[2016-12-30 22:22] timabbott commented on #2992
Awesome!

[2016-12-30 22:25] timabbott commented on #2943
Sure, done.

[2016-12-30 22:32] 540KJ opened #3012 "Quality Assurance: Message popover doesn't exit after scrolling."
Reproduction
Press the down chevron button of a message, opening up the message popover and then scroll up or down. The message popover doesn't exit.

E.g. The popover doesn't belong to (no topic) but rather lorem ipsum.
![ea539c34-ce7b-11e6-8969-74548c3c524c](https://cloud.githubusercontent.com/assets/23611943/21573717/dc6a5dd2-ce8b-11e6-85d5-bb8e40810435.PNG)

[2016-12-30 22:45] alya opened #3013 "Update change your language doc"
Update http://localhost:9991/help/change-your-language to follow the same structure as the following examples:

- http://localhost:9991/help/change-your-name
- http://localhost:9991/help/change-your-avatar

Delete unnecessary screen shots.

[2016-12-30 22:45] timabbott opened #3014 "Move JS modules used only in portico to new static/js/portico/ directory"
To help make it easier to browser the Zulip JS codebase, I think we should move the handful of JS modules that are only used in the Zulip portico into a subdirectory, e.g. static/js/portico/.  These include:

* static/js/api.js
* static/js/signup.js
* static/js/stats.js

[2016-12-30 22:50] #3014 closed

[2016-12-30 22:51] alya opened #3015 "Update the "Change the date and time format" user doc"
Update http://localhost:9991/help/change-the-date-and-time-format to follow the same structure as the following examples:

http://localhost:9991/help/change-your-name
http://localhost:9991/help/change-your-avatar

Delete unnecessary screen shots.

[2016-12-30 23:11] alya opened #3018 "Update the "Move the users list" user doc"
Update http://localhost:9991/help/move-the-users-list-to-the-left-sidebar to follow the same structure as the following examples:

http://localhost:9991/help/change-your-name
http://localhost:9991/help/change-your-avatar

Keep the current intro paragraph, up to and including "You can easily change the location of the **Users** list by following a few steps."

[2016-12-30 23:18] alexmorozov commented on #2044
@timabbott thanks a ton for such a thorough guidelines! Will commission my guys to look into that once we come back from holidays in January.

[2016-12-31 00:03] timabbott commented on #2968
Yep!  Search for `embed` in `zerver/lib/bugdown/__init__.py`.  Reading the code at the bottom of that file will be most helpful -- that has the path for how arguments are passed in.

[2016-12-31 00:04] timabbott commented on #2930
Did we come to a resolution on strategy here?  Are we just going to move the endpoints we're migrating to use stream IDs?

[2016-12-31 01:23] #2350 closed

[2016-12-31 02:06] jayvdb commented on #1296
That task has been submitted for Approval for: https://meta.wikimedia.org/wiki/Zulip_vs._Mattermost_comparison . Feedback welcome.

[2016-12-31 02:10] showell commented on #2930
Yes, we agreed on Zulip that we should just go to stream ids for this, and we can shim things on the JS side as needed.

[2016-12-31 03:41] lonerz opened #3025 "Zulip emoji not showing in emoji selection menu"
The Zuliip emoji (!!!) is "invisible" when you try to search for it in the emoji selection menu. It's the very very last emoji (after `:zzz:`).

[2016-12-31 04:01] lonerz commented on #2992
@rishig @timabbott should I make my code more concise? or is this hardcoding ok?

[2016-12-31 04:12] lonerz commented on #2913
@timabbott I'll pick this one up.

[2016-12-31 04:39] timabbott commented on #2992
@lonerz let's discuss on the PR thread, rather than here.

[2016-12-31 04:43] rafidaslam commented on #3025
Yup, I think custom emoji also invisble like `:jenkins:`

[2016-12-31 04:48] timabbott commented on #3025
Ahh, that makes sense.  The emoji picker basically displays its emoji entirely from a sprite sheet; it should only use the sprite sheet for the Android emoji, and for the :zulip: emoji and custom realm emoji, we should just load the emoji image directly...

(I guess arguably we should move the hack to create the :zulip: emoji to be in the emoji builder so that it's in the spritesheet).

[2016-12-31 05:46] #541 closed

[2016-12-31 05:47] timabbott opened #3029 "Refactor duplicated code in emoji reactions frontend"
See https://github.com/zulip/zulip/pull/2633#pullrequestreview-14800110 for a couple places where there's significant duplicated code that we should extract into functions.

[2016-12-31 05:51] timabbott opened #3030 "Adding new emoji reactions above current message causes jolty scrolling in the message feed"
When a user adds a the first emoji on a message above where you are in the feed, it will jolt the feed.  Similar to how we handle editing messages, we should adjust the user's scroll position to eliminate this visible scroll.

It's easy to reproduce this in development with 2 browser windows -- add the first emoji reaction to a message in one while the second is in view, and you'll see the jolt.

[2016-12-31 05:51] timabbott commented on #541
We just merged support for this feature into master.  Huge thanks to @arpith, @jdherg, @kracekumar, and @stanzheng for their work on this!!

[2016-12-31 05:53] timabbott opened #3031 "Ban the term "realm" from user documentation (templates/zerver/help)"
In user-facing text we use the word "organization" to refer to what is referred to as "realms" in the codebase.  We should eliminate the use of that term from the user documentation and add a lint rule to prevent it being re-added.

[2016-12-31 05:58] kracekumar commented on #541
:heart: Rolling out to `zulipchat.com` will be one of the best new year gift!

[2016-12-31 06:28] arpith commented on #541
Thanks for merging this @timabbott :)

[2016-12-31 09:21] bojidar-bg commented on #2994
I want to take this -- is it possible to get a GCI task for it? :smiley:

[2016-12-31 10:22] rishig commented on #2994
Awesome! Task created :).

[2016-12-31 11:43] bojidar-bg commented on #2994
Hm, it actually kind-of works on the backend, as it catches the `title` of the `span` tag. It looks pretty weird on the frontend though:
![image](https://cloud.githubusercontent.com/assets/5276727/21577309/0bf189bc-cf5f-11e6-8da2-58a3b7c4749f.png)

[2016-12-31 12:07] showell commented on #1268
If we don't end up merging #2859, we should still take a look at that PR for the initial approach that was used there.

@timabbott We actually have a about five places in the code where we report errors without the more detailed line/column info, and while we test-cover all the negative cases AFAIK, we don't test that the negative cases report line/column info even when they do.

So I kind of want

[2016-12-31 12:57] HarshitOnGitHub commented on #1868
@rishig I am taking up this one.

[2016-12-31 16:37] timabbott commented on #1268
OK, that makes sense

[2016-12-31 18:24] timabbott commented on #1296
@jayvdb while I agree UI design (something we're overhauling now) and mobile apps (also under a lot of work right now) are problems, I'm curious for specifics on the "Lots of bugs" point.  Often we hear from users that one shouldn't use Mattermost because it is super buggy, and that Zulip is quite stable.  What specific issues have you encountered using Zulip?

[2016-12-31 19:27] sinwar commented on #3031
@timabbott I'm taking this up

[2016-12-31 20:15] tommyip commented on #3012
Fixed!

[2016-12-31 20:59] mahim97 commented on #3010
I can take this up, I am thinking of going with the table as suggested by @tommyip . Is it alright?

[2016-12-31 22:55] timabbott commented on #3010
Seems worth trying!

-Tim Abbott (mobile)

On Dec 31, 2016 12:59, "Mahim Goyal" <notifications@github.com> wrote:

[2017-01-01 00:50] sampritipanda opened #3040 "Quality Assurance: Compose Box bugged on sending message to invalid stream."
The compose box freezes when sending a message to an invalid stream name. It cannot be used anymore until the page is reloaded.

![image](https://cloud.githubusercontent.com/assets/1736001/21579814/1a182e2a-cfea-11e6-84c1-eaecf55410eb.png)

To reproduce, start composing a message and modify the stream to a invalid stream name and send the message. The compose box will be stuck in the state shown a

[2017-01-01 01:53] OliverEvans96 opened #3041 "SSL_ERROR_INTERNAL_ERROR_ALERT from account confirmation link"
Hi all,

So I have a zulip server at my house, and a domain name through 1and1.com. Initially, I was using a temporary ddns domain from noip.com and a temporary certificate through LetsEncrypt, in which case I had no issues after proper configuration.

I set up a subdomain of the 1and1 domain to "Frame Redirect" (masked redirect in which my server's IP doesn't show up in the browser) to my local s

[2017-01-01 05:12] rishig commented on #1868
Awesome! What do you think of the proposal below?
* Add another column to RealmAlias, called something like `allow_subdomains`. If `stanford.edu` is the domain, and `allow_subdomains` is True, this would allow both `stanford.edu` and `cs.stanford.edu` for the realm.
* The longest subdomain match takes precedent, followed by whether `allow_subdomains` is False. So if we have RealmAlias columns `(re

[2017-01-01 05:17] rishig commented on #2994
cool! And yeah, interesting. I wonder what the right way to do highlighting is; maybe we just shouldn't highlight the emoji at all, given that they already visually stand out?

[2017-01-01 05:30] zacps commented on #2968
When is the `add_embed` function called? I added a check to it but I couldn't get it to work. I also tried adding a print statement to the function but it didn't seem to be called.

[2017-01-01 10:08] bojidar-bg commented on #2994
@rishig I'm currently thinking of rendering the markdown in the search field, then matching it instead, let's see if it works... :smiley:

[2017-01-01 11:55] rafidaslam commented on #2996
Currently working at this..

[2017-01-01 14:13] nemaniarjun opened #3042 "Add command F hotkey for search."

[2017-01-01 14:13] nemaniarjun commented on #3042
saw the task in GCI. Not doing the code it. But interested in doing it.

Can someone assign this to me?

[2017-01-01 17:11] anirudhjain75 commented on #2990
I would like to take this up with some more information

[2017-01-01 17:22] anirudhjain75 commented on #3008
Hey I wanna take this up

[2017-01-01 17:37] cosmicAsymmetry commented on #3042
The time brief time I've worked with Zulip I haven't seen anyone specifically assigning tasks, it's mostly just claiming and having a go at it!

[2017-01-01 21:08] nemaniarjun commented on #3042
@cosmicAsymmetry Thanks! Will get to it right away.

[2017-01-01 22:07] cosmicAsymmetry commented on #3042
I think you should join chat.zulip.org, all development discussions happen there.

[2017-01-02 05:58] anirudhjain75 commented on #3018
I'd like to do this

[2017-01-02 08:06] 540KJ commented on #3042
We already have search hotkeys as `/`, `q` and `w`. Maybe ask the mentors for what they specifically want?
https://github.com/zulip/zulip/issues/2661

[2017-01-02 08:32] nemaniarjun commented on #3042
Can someone tell me the channel on chat.zulip.org where I can discuss this issue?

[2017-01-02 09:11] bojidar-bg commented on #2994
Ok, I think I mostly going to running, just I wonder if I should try doing something "smarter" with detecting html tag ends?
(searching for `going to the :office:`)
![image](https://cloud.githubusercontent.com/assets/5276727/21586667/13c20a08-d0dc-11e6-98b7-8efc29dec27c.png)
(searching for `going to the :office`)
![image](https://cloud.githubusercontent.com/assets/5276727/21586674/1e0590c0-d0dc-11

[2017-01-02 12:53] cosmicAsymmetry commented on #3042
I think this should come under front end but you can ask on development help too.

[2017-01-02 15:36] showell commented on #3042
@timabbott I am closing this.  We have "/" that works fine for the browser app and doesn't conflict with the browser's own search. I think we want our desktop apps to be consistent with the browser.

[2017-01-02 15:36] #3042 closed

[2017-01-02 18:55] HarshitOnGitHub commented on #1868
@rishig Sorry for a late reply. I was traveling for the past two dates. I am starting to work on the backend part. For the frontend changes I think I need to wait for my PR #2924 to get merged.

[2017-01-02 20:25] rishig opened #3055 "Fix frontend errors in registration form."
To reproduce:
* Go to `http://localhost:9991/create_realm/`
* Enter your email, click `Create Organization`, and click on the confirmation link in your email. You should now be at `http://localhost:9991/accounts/register/`
* Bug 1: Click `Register`. The `This field is required.` is in an awkward place here:
![image](https://cloud.githubusercontent.com/assets/890911/21595697/bb731950-d0e5-11e6-9ee0

[2017-01-02 21:24] 540KJ commented on #2987
Since I was responsible for this inconsistency, I would like to take this up. Could this be a separate PR? or could the original commit be dropped to be replaced by another?

[2017-01-02 21:29] rishig opened #3058 "Allow users to check subdomain availability on registration page."
To get to the page: go to `localhost:9991/create_realm`, enter an email, click `Create Organization`, and then click on the confirmation email in your terminal.

It would be really nice to have a "Check" button to the right of this box:
![image](https://cloud.githubusercontent.com/assets/890911/21595901/f83cf3f4-d0e7-11e6-93e4-256f871ee20d.png)
that checked if your short name/subdomain is already

[2017-01-02 23:56] timabbott opened #3060 "hotkeys: Escape key no longer closes compose box"
This appears to be a recent regression.

[2017-01-03 00:35] #2998 closed

[2017-01-03 00:59] #99 closed

[2017-01-03 01:26] alya opened #3062 "Formatting fixes for user docs"
Fix formatting problems on the following user doc pages:

- https://chat.zulip.org/help/create-a-stream — fix bulleted lists
- https://chat.zulip.org/help/unsubscribe-from-a-stream
- https://chat.zulip.org/help/add-or-invite-someone-to-a-stream
- https://chat.zulip.org/help/pin-a-stream -- weird line breaks

[2017-01-03 01:28] alya opened #3063 "Clean up user doc change-who-can-join-a-stream"
Restructure the following doc to remove duplicated instructions: https://chat.zulip.org/help/change-who-can-join-a-stream.

[2017-01-03 05:11] timabbott commented on #3060
I can no longer reproduce this, so I'm closing this.

[2017-01-03 05:11] #3060 closed

[2017-01-03 06:10] synicalsyntax commented on #3015
https://github.com/zulip/zulip/pull/3066

[2017-01-03 06:11] synicalsyntax commented on #3013
https://github.com/zulip/zulip/pull/3066

[2017-01-03 06:11] synicalsyntax commented on #3018
https://github.com/zulip/zulip/pull/3066

[2017-01-03 08:58] umairwaheed commented on #2211
This was fixed in https://github.com/zulip/zulip/pull/2501/. I accidentally tagged `#2501` which was the id of the PR.

[2017-01-03 13:51] Shashankagarwal181996 commented on #2373
@timabbott I would like to work on this.

[2017-01-03 15:44] sampritipanda commented on #3055
We could HTML5 Input Validation error messages as described here:

https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Data_form_validation#Customized_error_messages

I think they look much cleaner, example:

![image](https://cloud.githubusercontent.com/assets/1736001/21612996/70e46d98-d1f9-11e6-8c23-e6377835de76.png)

But the problem is with support as it is with all HTML5 things :/

Wh

[2017-01-03 16:17] synicalsyntax opened #3070 "Remove unnecessary user docs images"
Recently we've been removing a lot of content from the user docs to fit with our new [documentation styling guide](http://zulip.readthedocs.io/en/latest/README.html), but a lot of people are forgetting to delete the images in the `static/images/help` folder that have been removed from the documentation itself. These unused images take up unnecessary file space, so it'd be nice to have them all rem

[2017-01-03 16:17] derAnfaenger opened #3071 "search: Backend throws 500s for "foo: bar" searches"
The Zulip server breaks (Traceback displayed in timabbots first comment) throws a 500 error when being confronted with a search that contains multiple search operators.

*The previous version of this issue included a bug on the front-end, which is shown here for reference:
Previous title: Searchbar breaks with certain ':' colon phrases.
~~1. Enter `foo: bar` in the searchbar.~~
~~2. Press enter.~~

[2017-01-03 17:33] #3012 closed

[2017-01-03 17:43] YagoGG opened #3074 "Search results not escaping HTML correctly"
# Description
If a non-ASCII display name or an email address is written in the search bar, the results display extraneous characters, coming from a badly escaped HTML.

# Steps to reproduce
## Non-ASCII display names
1. Register a new user, whose name is "Diego Velázquez" (notice the `á`).
2. Log in as Diego Velázquez.
3. Write in *devel/(no topic)*:
[code]
4. Type `Diego Velázquez` in the search

[2017-01-03 18:16] rishig commented on #3055
+ @brockwhittaker

[2017-01-03 18:21] rishig commented on #1868
cool! One thing I sometimes do is build on top of an open PR assuming it'll get merged, and then rebasing off the new master when it does go through, though waiting for it to go through the full review process is also a reasonable strategy :).

[2017-01-03 18:24] timabbott opened #3075 "Remove translation tags from zephyr mirroring related strings"
The strings related to zephyr mirroring are basically only used at MIT, and thus probably are a poor investment of time for our translators.  We should remove their translation tags in some way that keeps the linter happy (could just hardcode the list; I don't think these have changed in years).

See https://chat.zulip.org/#narrow/near/114098/stream/translation/topic/russian.20translation for some

[2017-01-03 18:43] timabbott opened #3076 "Remove plotly.js from files that we bundle"
It's really big and thus slows down the minifier tools (and thus our production deployment speed for e.g. chat.zulip.org) massively.

[2017-01-03 19:06] brockwhittaker commented on #3055
Yep I think this is the best approach. Create our own errors using the browser API by using the:

[code]

[2017-01-03 19:08] timabbott opened #3077 "Reaction picker popover is sometimes leaked by rerendering of messages"
I think what's happening is that e.g. new messages being sent while the popover is open results in the message containing the popover to be rerendered, destroying the element the popover is hanging off of (`current_message_reactions_popover_elem`) and thus making the code to maintain/remove that popover no longer work.

It's not entirely clear what the right solution is here.  One direction we cou

[2017-01-03 19:10] timabbott opened #3078 "Popovers are still visible when looking at lightbox image previews"
This might just be an issue where the lightbox should have a higher z-index than the popovers, but one could also imagine closing popovers when we open the lightbox.

[2017-01-03 19:24] timabbott commented on #2373
Cool.  Basically you'll just want to do a series of production installs on a VM, using `build-release-tarball` to generate the releases to install.  First reproduce the failure; then add `umask 022` at the top of scripts/lib/install, and see if that makes the installation work.  That sort of careful testing procedure is essential, since this is the kind of change that is likely to fail in some sub

[2017-01-03 19:31] timabbott commented on #2211
Oh yeah, closing.

[2017-01-03 19:31] #2211 closed

[2017-01-03 19:42] #2996 closed

[2017-01-03 19:46] timabbott commented on #3070
It'd be awesome to modify tools/test-help-documentation.py to keep track of which images are used and report an error for any images in static/images/help/ that aren't used.  That would make this easy to maintain over time (at least the unused ones; duplicated is harder but probably a lot of those will be eliminated by doing the style guide migration).

How hard would that be @kkanahin?

[2017-01-03 20:44] rishig opened #3081 "Add a linter to ensure kwargs are not being called as args."
Update: This is blocked on moving to Python 3.

Ideally we could come up with something fast enough that it could run as a part of lint-all, but I think a travis-only solution would still be acceptable (or a version that just runs on the diff locally).
`git grep 'def ' | grep '=' | wc` returns 382.

Some implementation ideas:
* For each function that takes kwargs, insert a fake kwarg before the li

[2017-01-03 21:23] HarshitOnGitHub commented on #1868
If `settings.REALMS_HAVE_SUBDOMAINS` is TRUE then is this set of realm aliases valid: (realm1, stanford.edu, True) and (realm2, stanford.edu, True)? I think we need to have a `unique_together` constraint on (domain, allow_subdomains) irrespective of whether `settings.REALMS_HAVE_SUBDOMAINS` is `True` or `False`. Am I wrong? Also I am unable to figure out why do we need to enforce this constraint i

[2017-01-03 22:09] rishig commented on #1868
yup! yeah, the policy is a little complicated here, and we should probably document the reasoning somewhere in models.py:
* When REALMS_HAVE_SUBDOMAINS is True, we always know the realm a user is trying to register/login to from the URL, so we never have to rely on the domain of their email address. Also, if someone is setting up a server with subdomains, they are probably expecting many unrelated

[2017-01-03 23:26] timabbott commented on #3071
Nice find!  Part of the issue here is the server threw a 500 error with that query, which should never happen.  I think there's also a problem with it not recovering from 500s well.  Here's the corresponding server-side traceback:

[code]

I bet with some print debugging one will find that it's somehow misparsing this request and thus having sqlalchemy add the search-related elements to the query

[2017-01-03 23:34] #3078 closed

[2017-01-04 00:05] #3041 closed

[2017-01-04 00:26] timabbott opened #3087 "Fix zerver.tests.test_messages.MessageDictTest.test_bulk_message_fetching failing when run alone"
See 50d67d9a135a361158813710c411dc9df087daf9 for context.

[2017-01-04 03:16] #2989 closed

[2017-01-04 03:48] timabbott commented on #2869
I think the best solution to this problem is to change the emoji picker to be a popover like the ones we have for adding emoji reactions, rather than a giant thing that expands out into the compose box.  That would also have the nice property of making it possible to search the emoji list.

[2017-01-04 04:38] #2499 closed

[2017-01-04 04:54] timabbott commented on #651
Closing this as a duplicate of #1867, which we're about to resolve.

[2017-01-04 04:54] #651 closed

[2017-01-04 04:58] kkanahin commented on #3070
it should be easy enough. I can collect used images to set and compare it with a list of images in the folder.

[2017-01-04 05:22] timabbott commented on #1767
https://github.com/zulip/zulip/pull/3092 is partial work towards implementing this.

[2017-01-04 05:29] timabbott commented on #3070
Sounds good!

[2017-01-04 10:23] TomaszKolek commented on #3074
I confirmed these bugs/this bug. And think description is really good and helpful.

[2017-01-04 11:21] trueskawka commented on #1561
I think this one is in line with splitting CSS and creating a linter.

[2017-01-04 12:27] YagoGG opened #3097 "Images with low height have an excessively big message box"
# Description
Sending a very small image (like an icon, for instance) results in an message box that is too big.

# Steps to reproduce
1. Log in as Cordelia.
2. Paste in *all/(no topic)* a small picture (<100px tall).
    Preferrably use one with a background color, that contrasts with Zulip's white background, for increased visibility. You can use this one, for example:
    ![Test picture](https:

[2017-01-04 12:44] nemaniarjun commented on #2991
Working on this

[2017-01-04 12:59] YagoGG commented on #3097
Looks like this was fixed in e4761782e070343e053081617833e4bb5e8fab0b. Closing the issue!

[2017-01-04 13:02] nemaniarjun commented on #2991
From https://github.com/zulip/zulip/pull/3027#issuecomment-270254877 by @rishig:

- [ ] Move `emoji_names` and `unicode_emoji_names` out of `emoji.js` and into their own files: `static/js/generated/emoji_names` and `static/js/generated/unicode_emoji_names`.
- [ ] Have `build_emoji` generate these files (the `emoji_names` come from `emoji_map.json`, and the `unicode_emoji_names` come from the ttf f

[2017-01-04 14:13] bojidar-bg opened #3099 "No .editorconfig?"
`.editorconfig` files are an open file format for sharing indentation settings, newline style, etc. http://editorconfig.org/

It _might_ be useful to have one of those in the repo, just to ensure no tabs/spaces mixing occurs :smiley:
Here is a quick example:
[code]

[2017-01-04 17:17] anirudhjain75 commented on #2852
@timabbott I guess @zacps is mentioning about a bot being specific for realms

[2017-01-04 17:41] mahim97 commented on #3010
I got them aligned using table, but the rows lost some its properties.
The hover over hyperlink now only gives a underlined look rather than its earlier row highlighted type selection. I can maybe try defining new style properties to make it like before.
![untitled-1](https://cloud.githubusercontent.com/assets/16012015/21652330/468c4dfc-d2d2-11e6-8b76-7bf8d9147a09.jpg)
![untitled-2](https://cloud.

[2017-01-04 18:09] timabbott commented on #3099
I'm sure this will not fully solve the tabs/space issues, but I'd be happy to merge that sort of configuration (would appreciate someone testing the config with a few popular editors like PyCharm and Atom first).

As a sidenote, I think we probably want to use that config with `.md` files as well; that's a common place where people accidentally add trailing whitespace.

[2017-01-04 18:10] timabbott commented on #3097
Yep, very recently fixed, thanks for the bug report @YagoGG!

[2017-01-04 18:39] HarshitOnGitHub commented on #1868
@rishig Thanks for the help!! :) Will update the PR soon.

[2017-01-04 19:09] bojidar-bg commented on #3099
@timabbott Well, that one was a sample, it can be extended to all files around the repo(s) :smiley:

[2017-01-04 19:17] jainayush975 commented on #1409
I am starting working on it.

[2017-01-04 19:18] derAnfaenger commented on #1783
Working on this.

[2017-01-04 19:37] timabbott commented on #3099
Sounds good, submit a pr?

-Tim Abbott (mobile)

On Jan 4, 2017 11:09, "Bojidar Marinov" <notifications@github.com> wrote:

[2017-01-04 21:16] zacps commented on #2852
Ah yeah, the email was added shortly after I created this issue. I think having a subscribed_streams could also be useful however. For example a bot that read messages from a specific stream could check to see whether it was subscribed and log an error if it wasn't.

[2017-01-04 22:12] hackerkid opened #3108 "Enable custom package installation of users choice while provisioning"
We should think about having a way to add hooks/configure to make provisioning auto-install certain packages(eg oh-my-zsh etc) or custom settings(vimrc) for folks who want that, so that destroying your Vagrant guest doesn't lose all your favorite customizations

We can probably implement this as a config file (or shell script?) that the user can place at some .gitignored path in their Zulip repo.

[2017-01-04 22:21] hackerkid commented on #3108
I am working on this :)

[2017-01-04 23:16] #3099 closed

[2017-01-04 23:46] sampritipanda commented on #3055
I'm a bit stuck here.

So basically, the API doesn't allow you to trigger the errors on a single input field, you can only validate the whole form and that will trigger the error on the first invalid field. Also, it only shows 1 error at a time, and shows more if you click submit.

Now, if I trigger the validation on page load, to display any errors, it will go to the first blank element in the fo

[2017-01-05 00:30] timabbott commented on #2987
Fixed via #3059, thanks for the report @alyaabbott! :)

[2017-01-05 00:30] #2987 closed

[2017-01-05 00:35] timabbott opened #3112 "user docs: Create a footer for our user docs"
We should add some sort of footer to our use documentation.  I think reasonable things for it to include are:

(1) A link back to the index and
(2) Some sort of commentary on how the user documentation is open source with a link to a document on contributing to them (for now this can be docs/README.md on RTD).

[2017-01-05 01:15] timabbott commented on #3010
Yeah, you should fix the CSS to preserve the existing highlighting behavior.

[2017-01-05 01:16] timabbott commented on #3010
Also, I think we may want to center the icons within the left-side table (rather than their current setup being left-aligned)

[2017-01-05 01:25] timabbott commented on #2629
We decided to abandon this idea as probably not actually improving the UI; see the discussion of subtle issues created by it in #2789.  Thanks for the suggestion @pweaver!

[2017-01-05 01:25] #2629 closed

[2017-01-05 06:49] #2398 closed

[2017-01-05 07:23] rafidaslam commented on #3087
@timabbott could I work on this issue ?

[2017-01-05 07:25] timabbott commented on #3087
Yep, go for it!  The failure is likely caused by some sort of test setup work that another test does being needed by this test; I haven't looked in detail though.

[2017-01-05 07:29] timabbott commented on #2968
`git grep add_embed` will help you find it :)

It's called when you post a link to a URL that has open graph tags.  The URL of this GitHub issue will do.

[2017-01-05 08:46] anirudhjain75 commented on #3013
I guess this is already fixed by a reviewer

[2017-01-05 11:07] anirudhjain75 commented on #3112
Which documentation do I have to add the footer too @timabbott

[2017-01-05 11:20] anirudhjain75 commented on #2185
@timabbott could you give an example please

[2017-01-05 11:42] anirudhjain75 commented on #2869
I would like to take this up @timabbott

[2017-01-05 15:47] synicalsyntax commented on #3013
https://github.com/zulip/zulip/pull/3105

[2017-01-05 16:23] mahim97 commented on #3010
A small clarification, can I add the style in \static\third\bootstrap\css\bootstrap.css itself, or do I need to do that in some other css files and leave the bootstrap untouched.

[2017-01-05 17:27] tommyip commented on #3010
I would rather override the bootstrap styles in our own CSS files.

[2017-01-05 17:47] timabbott commented on #3013
Yep, looks good, closing.  In the future @synicalsyntax you can add `Fixes: 3013` to your commit message to cause GitHub to auto-close issues when a commit is merged.

[2017-01-05 17:47] #3013 closed

[2017-01-05 18:44] timabbott commented on #3010
Yeah, we should definitely do changes in our own CSS.  We're eventually going to either upgrade or remove Bootstrap, and in either case changes to bootstrap itself will create more work down the line.

[2017-01-05 19:18] mahim97 commented on #3010
Is this fine, my cursor is on View Source cell.
![untitled-1](https://cloud.githubusercontent.com/assets/16012015/21694089/8f567328-d3a9-11e6-96bf-ae945f2a8cd1.jpg)

[2017-01-05 19:22] timabbott commented on #3010
That highlighting doesn't look right; if the highlighting isn't going to go fully across the page, it should at least look centtered within the view

[2017-01-05 19:26] Shayan-To opened #3123 "Support right to left messages"
Hello.

A good approach to implementing it (that is used in many chat applications) would be to check the first character of every line to see whether it belongs to a right-to-left language and switch the direction of that line if it does.

For simplicity, the check can also be made on the first character of every message so to switch the direction of the whole message. But this will cause some pr

[2017-01-05 19:37] mahim97 commented on #3010
Sure, will make it right.

[2017-01-05 22:00] tommyip commented on #3076
By that do you mean remove Plotly.js as a dependency or just not bundling with other files during minification?

[2017-01-05 22:28] roberthoenig opened #3126 "Multiple notification sounds when multiple tabs are opened."
When multiple zulip tabs are opened in the same browser and a new messages comes in while at least two tabs are out of focus, multiple notification sounds will be played with a small overlay.

This issue is similar to #99, which caused the browser to open a notification for each open zulip tab.
Issue #99 could be fixed by adding "tags" to the notifications. This is notification-specific and not a

[2017-01-05 22:29] timabbott commented on #3076
Just not bundling it -- we need it for the (still in-progress) /stats view.

[2017-01-05 22:46] brockwhittaker commented on #3055
Interesting issue. On one hand we don't really want inconsistency between errors, but on the other hand it'd be great to take advantage of the native errors as much as possible.

Perhaps the real solution is to maybe stop using native errors but change our errors to be positioned above and relative to the input fields they are reacting to (similar to the native FormValidation) so that we don't hav

[2017-01-05 23:12] timabbott commented on #3123
The CSS for this is probably a fairly large project.  #267 and #731 are related.

[2017-01-05 23:15] timabbott commented on #3112
We should probably add it to `templates/zerver/help/main.html` so that it appears on all user docs pages.

[2017-01-05 23:28] #3040 closed

[2017-01-05 23:48] rishig opened #3128 "Improve the find my team page."
The find my team page allows users to enter an email address (actually, up to 10 email addresses) and receive an email with a link to the login page of their organization. The basic functionality is there, but it could use a few improvements:

- [ ] You shouldn't be able to click "Find team" if you don't have a valid list of email addresses. Slack does this really nicely: https://slack.com/signin/

[2017-01-06 00:49] timabbott commented on #3123
Yeah, that makes sense; we could without much technical difficulty add a right-to-left CSS class to messages that have this property; which means the real challenge is doing the CSS to support this nicely without a ton of duplicated work.  Might not be too hard to get something basic working.

[2017-01-06 01:00] Shayan-To commented on #3123
I can help doing something if you point me in the right direction. I have some experience doing such things.

[2017-01-06 01:34] rishig opened #3132 "Migrate our use of EmailMultiAlternatives to send_mail."
In Django 1.6, Django's `EmailMultiAlternatives` was the only way to send mail with both text and html. Now `send_mail` does this as well! The benefit of using `send_mail` is that in the dev environment it prints the email to the console, making it easier to debug / catch mistakes.

You can use `git grep EmailMultiAlternatives` and `git grep send_mail` to find instances of both (there are only a f

[2017-01-06 01:34] #3087 closed

[2017-01-06 02:01] rishig opened #3134 "Add html versions of our invite and signup emails."
The invite email is at `templates/confirmation/invite_email_*`, and the signup email is at `templates/confirmation/preregistration_confirmation_email_*`. You can find examples of our html emails under the folders at `templates/zerver/emails/`.

While there, it would also be good to rename the files to use our conventional naming, e.g. `invite_email.txt`, `invite_email.html`, and `invite_email.subj

[2017-01-06 03:44] rishig opened #3136 "Refactor Zulip's email codepaths"
Zulip currently sends the following emails. (`path`) means the email template is in (a subdirectory of) `templates/path/`.
* invitation (`confirmation`)
* prereg confirmation, i.e. at realm creation or registration  (`confirmation`)
* zephyr invitation (`confirmation`)
* zephyr setup done (`confirmation`)
* password reset (`registration`)
* digest (`zerver/emails`)
* followup day1 and day2 (`zerve

[2017-01-06 04:01] DefCon-007 commented on #908
I would like to work on this. @timabbott  can you please tell me in what format we should get data from Slack API.

[2017-01-06 06:52] sampritipanda commented on #3055
@brockwhittaker

Let's say you end up with 2 invalid fields. Using this method, after you trigger the form, it will only show the errors for the first invalid field. To view the error in the second field, you will need to fill the first field and click submit again. This hardly any users will do right? Also since we need to remove the error as soon as the user changes a field, they'll just fill up

[2017-01-06 07:36] rishig commented on #3136
Great, thanks!

[2017-01-06 08:01] vabs22 commented on #236
For each user, his favorite users can be stored in his user profile, as a string of comma separated user-ids. For adding new users to the list, the string can be appended and for removing, the string can searched and reduced. Would this implementation be efficient?

[2017-01-06 08:16] amalad commented on #3128
@rishig  I'd like to take up this issue

[2017-01-06 08:47] rohithasrk commented on #3136
Oh. I'll look into it. Thanks.

[2017-01-06 08:55] rishig commented on #3128
Great, thanks!

[2017-01-06 12:24] mahim97 commented on #3010
This is the final look. In first image the cursor is on the text and in the second one it is on the icon, there is no difference whatsoever. I had to remove the hyperlink text color because if the cursor was on the icon, it would only change the color of icon rather than the text too, similar thing happened when the cursor was on text. I believe the background change is fine enough for the hover.

[2017-01-06 16:51] rohithasrk commented on #3132
Upon reading on `send_mail` function and `EmailMultiAlternatives`, I observed that `EmailMultiAlternatives` class stands at an advantage when headers are to be sent. Not sure if this can be done by `send_mail` function. If only printing the email to the console is the benefit can't a print statement be used? As I've observed that headers are being sent in some of the instances where `EmailMultiAlt

[2017-01-06 17:26] timabbott commented on #3132
I think only the "missed message" emails use headers; that usage is important, however, so that one should stay as EmailMultiAlternatives, I guess.  It's somewhat surprising to me that Django's `send_mail` doesn't support specifying headers.

Also, @rishig how confident are you that using `EmailMultiAlternatives` doesn't work with our use of django.core.mail.backends.console.EmailBackend?  I'm pre

[2017-01-06 17:26] timabbott commented on #3132
(@rohithasrk I think it's still worth converting the instances that don't have headers to `send_mail`).

[2017-01-06 18:07] rohithasrk commented on #3132
Yeah. I get it. Will start working, Thanks!

[2017-01-06 18:09] rishig commented on #3132
Interesting, from the docs https://docs.djangoproject.com/en/1.10/topics/email/:
[code]
So maybe we want to convert everything to EmailMultiAlternatives instead?

[code]
Could definitely be wrong -- now that I look again, I was trying to test with the digest emails, which maybe also needs the `deliver_email` management command to be run.

[2017-01-06 18:10] rishig commented on #3132
@rohithasrk in case you don't get pinged for the message above

[2017-01-06 18:16] rohithasrk commented on #3132
Yeah. I'm following the thread, Thanks!

[2017-01-06 18:22] rishig commented on #3132
cool! And feel free to throw this cleanup in as well, once we figure out whether we're using send_mail or EmailMultiAlternatives everywhere:
https://chat.zulip.org/#narrow/near/117062/stream/development.20help/topic/send_mail

[2017-01-06 18:43] brainwane opened #3142 "REST API: sending private message should require recipients in list (JSON)"
From https://chat.zulip.org/#narrow/stream/bots/subject/new.20private.20message.20via.20REST/near/110659 :

So: let's update the docs to say that the current behavior is what's expected (per #3346).

[2017-01-06 18:56] brainwane opened #3143 "User docs: get rid of "old table of contents""
Let's do a quick audit of https://chat.zulip.org/help/ so we can get rid of the "old table of contents" section - per https://chat.zulip.org/#narrow/stream/documentation/subject/user.20help/near/95296 , make sure everything is linked above first.

[2017-01-06 19:43] timabbott commented on #3132
I don't really agree with Django's approach here, but I think probably `send_mail` makes sense for the places where our usage is simple enough to support it (the code with it is more readable).

[2017-01-06 20:04] #1867 closed

[2017-01-06 20:05] timabbott opened #3145 "Rename "realm aliases" to "realm domains" for clarity"
Now that there's no longer a primary "domain" for a realm, the RealmAlias doesn't make any sense.

@rishig do you agree "realm domains" (and RealmDomain, etc.) is the right new name?

[2017-01-06 20:08] synicalsyntax commented on #3143
I can handle this issue, in fact I'm working on it right now.

[2017-01-06 20:08] rishig commented on #3145
yeah, I haven't come up with anything better, though one consideration is what we call a singular "realm domain". I.e. we do things like `alias.domain` and `alias.realm` in a bunch of places, where `alias` is a `RealmAlias`.

[2017-01-06 20:13] timabbott commented on #3145
I would call it e.g. `realm_domain.domain`.  I think that over time we may end up adding additional attributes to these RealmDomain objects, which will make that naming scheme make more sense.

[2017-01-06 20:24] timabbott commented on #1779
We're finished adding mypy annotations to essentially all the scripts that make sense to annotate, so this is complete!

[2017-01-06 20:24] #1779 closed

[2017-01-06 20:25] #2140 closed

[2017-01-06 20:25] #2575 closed

[2017-01-06 20:25] #2805 closed

[2017-01-06 22:19] synicalsyntax commented on #3143
https://github.com/zulip/zulip/pull/3146

[2017-01-07 00:31] timabbott commented on #1720
I merged a fix for this just now.

[2017-01-07 00:31] #1720 closed

[2017-01-07 00:32] timabbott commented on #2744
I just merged the ALLOWED_HOST fix that I mentioned, which should simplify the config a bit.

The fundamental challenge here is actually going to be how to configure authentication -- outgoing email, Google auth, etc. all require some shared secret to be setup.

[2017-01-07 02:43] timabbott commented on #3143
Fixed via #3146!

[2017-01-07 02:43] #3143 closed

[2017-01-07 06:37] timabbott commented on #3145
@HarshitOnGitHub this could be a good project for you since you've been working on this feature.

[2017-01-07 07:25] timabbott opened #3151 "Subscribing to a stream with is_zephyr_mirror_realm set looks weird"
This is what happens after typing in a stream name and clicking Subscribe.

![image](https://cloud.githubusercontent.com/assets/2746074/21740203/5aaaf518-d467-11e6-9739-44e7d13bbca1.png)

(1) The subscribe button is huge!
(2) It should probably not open the (broken) RHS UI for inviting users at all.

[2017-01-07 10:06] derAnfaenger commented on #3134
@rishig I'll take this issue.

[2017-01-07 12:44] meetmangukiya commented on #3058
I'd like to give this a shot, which files should I look into?

[2017-01-07 12:45] rohithasrk commented on #3132
Please check out #3153

[2017-01-07 13:42] HarshitOnGitHub commented on #3145
@timabbott Sure! Will start working on this one as soon as I finish issue #1868.

[2017-01-07 16:01] bojidar-bg commented on #2430
BTW, the GCI task for this is still not closed.

[2017-01-07 16:02] bojidar-bg commented on #2932
Is this issue still being worked on? :smiley:

[2017-01-07 16:36] rafidaslam opened #3155 "Emoji picker doesn't add emoji after the text cursor"
When clicking on a emoji in emoji picker, the emoji picker didn't add the `emoji text` after the text cursor but the emoji picker add it after the last char. It should be added after the text cursor, not the last char.

This ticket might be a small part of https://github.com/zulip/zulip/issues/1956

![peek 2017-01-07 23-18](https://cloud.githubusercontent.com/assets/20320125/21743226/7156e1ae-d530

[2017-01-07 18:10] timabbott commented on #2430
Apparently GCI doesn't let us delete the task since it's been claimed.  Sigh.

[2017-01-07 18:10] timabbott commented on #2430
I think we can maybe just edit it to be a totally different issue to deal with this problem.

[2017-01-07 18:22] timabbott commented on #2932
I think probably not; issues of this size without activity for a week are usually abandoned.

[2017-01-07 18:31] sampritipanda commented on #2932
I'm working on it.

[2017-01-07 18:40] anirudhjain75 commented on #3155
I guess this mean the emoji is getting appended to the message instead of getting appended to the position

[2017-01-07 18:41] anirudhjain75 commented on #3155
I would like to work on this one

[2017-01-07 18:45] timabbott commented on #3155
Great!  You should be able to do this with this jQuery extension that we use elsewhere: `$().caret`

[2017-01-07 18:49] anirudhjain75 commented on #3155
@timabbott Any Idea what are the thing I need to know before doing this

[2017-01-07 18:54] timabbott commented on #3155
I think that jQuery library (plus tracing the code to find where this is added) is all you need.

[2017-01-07 19:00] scholaronroad opened #3157 "Pin topics to streams."
After some time of being inactive on a topic it seem to disappear from our lists and becomes hard to find later. I would like to propose a feature where one can pin tasks they want to follow on their streams.

[2017-01-07 21:11] bojidar-bg commented on #2628
I guess I'm going to work on this one :smiley:

[2017-01-07 23:41] rishig commented on #3134
Great! Adding @rohithasrk for coordination (who is also working on email-related stuff).

[2017-01-08 03:44] rafidaslam commented on #1709
@timabbott I'll work on this issue

[2017-01-08 04:27] anirudhjain75 commented on #3151
@timabbott what is broken RHS UI

[2017-01-08 06:05] rohithasrk commented on #2665
I sometimes feel the long-line check to be one of the spammier rules. Sometimes a line is around 81 characters and is consistent with the existent code. As I've observed, Travis CI is checking for line length too and the checks don't pass. I believe consistency is more important. Can this be considered as topic to discuss upon?

[2017-01-08 09:11] kaushik-rohit commented on #3081
@rishig  hi i would like to work on this

[2017-01-08 10:03] rishig commented on #3081
Cool! Do you have an idea for how to implement it?

[2017-01-08 11:59] papayazm opened #3167 "Unable to locate package postgresql-9.3-tsearch-extras"
When I try to setup development environment, I encount such problem.  Detail as following:
==> default: + echo 'zulip.list file did not change; skipping apt-get update'
==> default: zulip.list file did not change; skipping apt-get update
==> default: Reading package lists...
==> default: Building dependency tree...
==> default: Reading state information...
==> default: E
==> default: :
==> default

[2017-01-08 12:46] anirudhjain75 commented on #3155
@timabbott Made some changes

[2017-01-08 13:29] brannerchinese opened #3169 "Enable display of emoji as their alt codes"
Some people find emoji distracting and would prefer not to see them by default. They can be suppressed outright with mature tools like AdBlock or with ad-hoc CSS filters, but doing that eliminates the information being conveyed by them.

I request a settings-option to leave emoji displayed as their original codes, so that `:shillelagh:` would appear in plain text as `:shillelagh:` and not be repla

[2017-01-08 13:42] brannerchinese commented on #3169
See also #2200 (translate typed smiles to emoji).

[2017-01-08 14:36] tommyip commented on #2862
I will start working on this.

[2017-01-08 16:39] derAnfaenger commented on #3134
Okay, @rishig made a PR :) it works for me, however I can only observer the mails in the dev servers output.

[2017-01-08 17:15] anirudhjain75 commented on #3025
@timabbott Could you provide a link of workflow for better understand please

[2017-01-08 17:22] YagoGG opened #3172 "Hover menu disappears while choosing an emoji reaction"
# Description
When an emoji reaction is being chosen, the message's hover menu disappear.

The box used to choose the emoji has a little arrow, and when the hover menu disappears, it points to the timestamp, which doesn't seem to make much sense.

# Steps to reproduce
1. Log in as Cordelia.
2. Write in *all/(no topic)*:
[code]
3. Log out.
4. Log in as Iago.
5. Hover over the message Cordelia sent.

[2017-01-08 17:34] YagoGG commented on #3172
Now that it's been verified in Zulip that other people can reproduce this bug, I'm claiming it!

[2017-01-08 17:40] YagoGG opened #3174 "Emoji reactions box displaces when reacting to your own messages"
# Description
When the *Add emoji reaction* option (under the chevron menu for your own message) is chosen, the emoji box appears slightly moved to the left, making the little arrow point more to the left than it should.

# Steps to reproduce
1. Log in as Iago.
2. Write in *all/(no topic)*:
[code]
3. Hover over the message.
4. Click in the chevron to show more options.
5. Choose *Add emoji reactio

[2017-01-08 17:51] derAnfaenger opened #3175 "Custom Zulip notification throws exception."
1. Open your dev server twice, once in chrome and once in a chrome incognito window.
2. Log into to different accounts
3. Send a message in the normal window, a custom zulip notification (that is, not a the standard browser notification object, but a little panel that is created by zulip) should pop up in the incognito window
4. Check the developer console. It should show an exception thrown in no

[2017-01-08 19:25] tommyip commented on #3175
Seems to be related to this commit https://github.com/zulip/zulip/commit/fb6d35871b870e997b6ce192563bebf762c62e97

[2017-01-08 20:17] rishig commented on #3055
@brockwhittaker @sampritipanda
We should merge the current PR, as it fixes the broken behavior, but I agree that the HTML5 API seems like a hassle for multiple errors (and we definitely want to show all errors the first time), and has other broken-seeming behavior (e.g. browsers putting the error on the first radio button).

My vote would be to move everything to the format used by server side err

[2017-01-09 01:05] timabbott commented on #3174
Moving this to the chevron should work and makes a lot of sense.  If you `git grep message_star` , the `popovers.js` line is I think where we place this.

[2017-01-09 01:10] timabbott commented on #3167
@papayazm it looks like there must have been a failure earlier in the provisioning process, since a previous step (`scripts/lib/setup-apt-repo`) would have setup the apt repository containing that package.  You may need to run `apt-get update` inside the vagrant guest to fix this; if that doesn't work, I'd just `vagrant destroy` and `vagrant up` again.

[2017-01-09 01:10] #3167 closed

[2017-01-09 01:23] timabbott commented on #2665
I'm not sure I understand your comment @rohithasrk -- Zulip does run `./tools/lint-all --pep8` in Travis CI, and the checks that we run do pass in CI (like all of our other linters and tests) -- this issue is about import order...

Right now, we enforce a line length limit of 140 characters in Python code in `tools/lint-all` (search for `max_length=140`).  I'd like to bring that down to 120 and ev

[2017-01-09 02:02] timabbott commented on #3169
That seems like a reasonable UX design for a setting, though probably not one that a ton of people would use.  It should go into the "display settings" section of the settings UI, next to left-side userlist.  I've tagged this as something for someone to work on; one should be able to implement the setting and real-time sync part by following the approach described in http://zulip.readthedocs.io/en

[2017-01-09 02:04] timabbott commented on #3081
@rwbarton suggested one way we could do this: https://chat.zulip.org/#narrow/stream/tools/topic/linters ; it sounds like potentially the right approach would be to add an optional flag to mypy to do this.

[2017-01-09 03:35] DataBranner commented on #3169
Expression by symbols: by emoji in particular. (Alphanumerics and the components of natural-language writing systems are technically symbols, but they're normally inoffensive to me in their normal context, unlike emoji.) If someone were discussing fonts or Unicode codepoints and wanted to cite particular glyphs, I'd want to see them *as* glyphs. But that would probably be the minutest sub-fraction

[2017-01-09 04:52] lkuper commented on #1768
If Zulip gets a setting like this, I think it'd be preferable to have it off by default -- I'm intentional about when I choose to use :D versus 😄, for instance, and I'm sure that's true for a lot of other users, too.

[2017-01-09 06:50] timabbott commented on #3151
RHS = "right-hand-side".

[2017-01-09 07:55] lampwithoutlight opened #3183 "subprocess.CalledProcessError: Command '['tools/setup/postgres-init-dev-db']' returned non-zero exit status 2"
When I want to setup development environment with vagrant, I have following error messages. Thanks.

==> default: ++ set -e
==> default: ++ set -o pipefail
==> default: ++ '[' -d /sys/fs/selinux ']'
==> default: ++ ln -nsf /srv/zulip /home/vagrant/zulip
==> default: ++ sudo tee -a /var/log/zulip_provision.log
==> default: ++ sudo /srv/zulip/tools/provision.py
==> default: Reading package lists...

[2017-01-09 08:17] mahim97 commented on #3010
@timabbott Is there any changes I need to make to these?

[2017-01-09 08:42] anirudhjain75 commented on #3174
I would like to take this up

[2017-01-09 08:44] anirudhjain75 commented on #3174
Should it be in reactions.css as its related to styling

[2017-01-09 12:22] anirudhjain75 opened #3185 "Streams are greyed out even when not muted"
Streams we are subscribed to are sometimes greyed out even when they are not muted

[2017-01-09 12:28] anirudhjain75 commented on #3185
[proof.zip](https://github.com/zulip/zulip/files/693404/proof.zip)

[2017-01-09 12:34] anirudhjain75 commented on #3185
This zip file contains a screen recording

[2017-01-09 12:55] anirudhjain75 commented on #3185
Verified that there is another reason for the streams to be greyed out

[2017-01-09 12:55] #3185 closed

[2017-01-09 13:00] sinwar commented on #3142
@brainwane I'm taking this up

[2017-01-09 15:18] mrdrozdov opened #3188 "Scroll Bar in Emoji Reactions"
On OS X in Chrome, adding reactions to message triggers the scroll bar to appear. Is subtle and not sure what it was at first. Here's a screenshot.

<img width="911" alt="screenshot 2017-01-09 16 17 54" src="https://cloud.githubusercontent.com/assets/1575034/21771332/38c96c28-d687-11e6-96aa-4c7208868d91.png">

[2017-01-09 15:38] ablyx commented on #519
hmm, im quite new to this, but can I have a go at this? also, may I know which part of the codebase would probably be relevant to this?

[2017-01-09 15:45] anirudhjain75 commented on #3188
Strange

[2017-01-09 15:48] anirudhjain75 commented on #3188
I cant replicate this bug, I tried with OS X and Chrome

[2017-01-09 15:48] mrdrozdov commented on #3188
FYI, confirmed this behavior in an incognito window.

[2017-01-09 15:50] anirudhjain75 commented on #3188
Cant replicate even in Incognito

[2017-01-09 15:52] mrdrozdov commented on #3188
Chrome version 55.0.2883.95

OS X 10.12.2

I might have some configuration to always show scrollbars on mac (here's the first link I found when googling [1]). Try scrolling on the box where the emojis are and seeing if scroll bar appears.

[1] http://osxdaily.com/2011/08/03/show-scroll-bars-mac-os-x-lion/

[2017-01-09 15:55] anirudhjain75 commented on #3188
Cool so thats not Zulip's fault

[2017-01-09 15:55] anirudhjain75 commented on #3188
I guess you can close the issue now

[2017-01-09 15:58] mrdrozdov commented on #3188
I don't think that's true. Should not be a scrollable window? All the configuration I have does is show the scrollbar on all scrollable windows. Turning off height for message_reaction class fixes this, but throws off the height for the buttons (as expected). Looks like something is causing the heights of the buttons to exceed the height of the containing div, but overflow is set to AUTO so it bec

[2017-01-09 16:00] mrdrozdov commented on #3188
Here is what I mean:

![screenshot 2017-01-09 17 00 06](https://cloud.githubusercontent.com/assets/1575034/21772834/1a8356e2-d68d-11e6-9550-0bb4f4b24a86.png)
![screenshot 2017-01-09 17 00 00](https://cloud.githubusercontent.com/assets/1575034/21772833/1a7f6e42-d68d-11e6-9245-1b2da462f6f7.png)

[2017-01-09 16:01] anirudhjain75 commented on #3188
What if the there is unlimited reactions to a message

[2017-01-09 16:01] anirudhjain75 commented on #3188
You have to use scroll if the height goes out of divs range

[2017-01-09 16:09] mrdrozdov commented on #3188
That does seem reasonable, except I think the example I've shown is within div's range. FWIW, adding 3 pixels height to the div seems to fix this problem as well.

![screenshot 2017-01-09 17 08 46](https://cloud.githubusercontent.com/assets/1575034/21773180/5501dc5c-d68e-11e6-9eca-263f3ea8f98e.png)
![screenshot 2017-01-09 17 08 46 2](https://cloud.githubusercontent.com/assets/1575034/21773181/5507

[2017-01-09 16:10] anirudhjain75 commented on #3188
Seems reasonable to add 3px

[2017-01-09 16:14] anirudhjain75 commented on #3188
I'll Fix this up if you dont mind

[2017-01-09 16:15] anirudhjain75 commented on #3188
I'll add about 4px to be on the safe side

[2017-01-09 16:16] mrdrozdov commented on #3188
That would be great. Thank you!

[2017-01-09 16:20] anirudhjain75 commented on #3188
Check this out

[2017-01-09 16:20] anirudhjain75 commented on #3188
![screen shot 2017-01-09 at 9 49 44 pm](https://cloud.githubusercontent.com/assets/14249589/21773566/9b17b7bc-d6b5-11e6-9dae-10798b742607.png)

[2017-01-09 16:20] anirudhjain75 commented on #3188
This looks fine to me

[2017-01-09 16:22] anirudhjain75 commented on #3188
@mrdrozdov I guess it is already good

[2017-01-09 16:27] mrdrozdov commented on #3188
What change did you make? Definitely req more height on my end to see the scrolling disappear.

[2017-01-09 16:28] anirudhjain75 commented on #3188
I didnt do any change

[2017-01-09 16:29] anirudhjain75 commented on #3188
I wouldnt recommend using beta settings in browsers so just disable the scroll setting

[2017-01-09 16:33] mrdrozdov commented on #3188
Is not a beta setting and is not specific to Chrome. Is a global Mac setting. Settings -> General -> Show Scroll Bars -> Always. Thanks.

[2017-01-09 16:35] anirudhjain75 commented on #3188
I guess now you can close this PR because there is nothing left to resolve

[2017-01-09 16:35] mrdrozdov commented on #3188
Are you a troll? Your screenshot was in FF I think?

[2017-01-09 16:35] anirudhjain75 commented on #3188
Give me a min

[2017-01-09 16:38] avisrivastava254084 opened #3189 "[bite size] Python 3 version of Zulip"
It was mentioned in the guide for newbies that Python 3 version will be launching soon. I don't see any such code here. Should I start working on it as a complete project?
Thanks in advance.

[2017-01-09 16:40] anirudhjain75 commented on #3188
![screen shot 2017-01-09 at 10 09 37 pm](https://cloud.githubusercontent.com/assets/14249589/21774411/6d560010-d6b8-11e6-99dc-a6e02bd1d314.png)

[2017-01-09 16:41] anirudhjain75 commented on #3188
@mrdrozdov Now do you have any objection

[2017-01-09 16:50] haroldtreen commented on #3188
Thanks for reporting this @mrdrozdov !

I'm seeing this too @anirudhjain75 .

![image](https://cloud.githubusercontent.com/assets/1745854/21774811/b5e8a7e4-d661-11e6-8d2f-79a806f7c8a3.png)

Chrome  55.0.2883.95
Mac OSX 10.12.2

[2017-01-09 16:59] anirudhjain75 commented on #3188
Why am I not seeing this

[2017-01-09 17:04] haroldtreen commented on #3188
I'm seeing it in production. Haven't downloaded the code to see if it has since been fixed.

If I scroll with my cursor above the emoji reaction section, I can see the emoji moving up and down, but to see the scrollbar, I need to also have my cursor in the part of the screen where the scrollbar shows.

[2017-01-09 17:07] haroldtreen commented on #3188
I can also see this in **Firefox 50.0.2**, although it's a bit harder to reproduce... I think the cursor needs to be over the emojis when scrolling.

[2017-01-09 17:14] avisrivastava254084 commented on #3128
@amalad Hi! Any progress? I would like to contribute to this issue. :)

[2017-01-09 17:55] timabbott commented on #3188
I can reproduce this with Chrome on Linux; I think it's browser/OS dependent.  We should be able to fix this soon.

[2017-01-09 18:00] timabbott commented on #3000
@brockwhittaker is this fixed now?

[2017-01-09 18:02] DataBranner commented on #3169
For reference, this is what non-rendered emoji look like on Skype currently `(cake)`:

![](https://cloud.githubusercontent.com/assets/8922697/21777146/a838f7de-d66b-11e6-85ff-699a13d75a88.png)

[2017-01-09 18:02] jajodiaraghav commented on #3128
Hi @amalad, Are you working on this or should i work on it?

[2017-01-09 18:03] ablyx commented on #519
i'll try to work on this!

[2017-01-09 18:07] jajodiaraghav commented on #3074
I want to work on this one? Any ideas about what prerequisites will be required to solve this?

[2017-01-09 18:49] timabbott commented on #3189
We actually have all known implementation work done for Python 3; it just needs more testing in production.  `tools/build-release-tarball --py3`  will build a release tarball using Python 3.

[2017-01-09 18:50] timabbott commented on #3189
I think it would be useful for you to build such a release tarball and test that it installs and runs properly on both Trusty and Xenial.

[2017-01-09 18:59] #3031 closed

[2017-01-09 19:17] jajodiaraghav commented on #3175
Any ideas on what is causing this error? All i know is that the exception is encountered whenever a message  is received when opened in incognito window, as desktop notifications are not shown in incognito mode.

[2017-01-09 19:31] avisrivastava254084 commented on #3189
Okay. Will start with this.
Any roadmap? Like where to start and all, I'd be grateful.

On Tue, Jan 10, 2017 at 12:20 AM, Tim Abbott <notifications@github.com>
wrote:

--
Aviral Srivastava
+918004860407

[2017-01-09 20:11] tommyip commented on #3188
I will work on this.

[2017-01-09 20:45] tommyip commented on #3188
Fixed!

[2017-01-09 22:06] Shayan-To commented on #3123
And I think that the input text area should be acting the same way, switching directions when the first character on it is an RTL one.

[2017-01-09 22:11] derAnfaenger commented on #3071
This issue got fixed a few days ago by @bojidar-bg in [this](https://github.com/zulip/zulip/commit/e293a843318c753b43bf22428743263df1624d89) commit.

[2017-01-09 22:23] timabbott commented on #3071
Yeah, I was wondering if that was the same issue.  Thanks for the bug report @derAnfaenger !

[2017-01-09 22:41] synicalsyntax commented on #3062
@timabbott  This was fixed in #3122, do you think this can be closed?

[2017-01-09 22:49] cosmicAsymmetry commented on #1734
Hey, I think I can do this task. I've made a WIP pr where I have added the Realm name in Desktop Notifications. I still need to implement the Emails.

[2017-01-09 23:09] derAnfaenger commented on #2913
@timabbott I'd like to work on this :) Can you give me any hint on where in the zulip repository I could start my search for the bug?

[2017-01-10 00:16] brockwhittaker commented on #3000
Yep, this should be closed!

[2017-01-10 01:34] synicalsyntax commented on #3063
@timabbott Fixed in #3122! I think this can be closed.

[2017-01-10 02:24] amalad commented on #3128
Hi @avisrivastava254084  and @jajodiaraghav , I should be done with it soon. Sorry about the delay. But you can contribute if you feel like it :-)

[2017-01-10 03:30] #3015 closed

[2017-01-10 04:40] synicalsyntax commented on #3018
@timabbott Can you close this issue?

[2017-01-10 05:08] cosmicAsymmetry commented on #1734
I think I'm done. Just some minor stuff left. 😄

[2017-01-10 07:20] avisrivastava254084 commented on #3128
If you are about to finish it, could you tell me what area can I work on,
in the remaining whatsoever? Thanks :) @amalad

On Tue, Jan 10, 2017 at 7:54 AM, Amala Deshmukh <notifications@github.com>
wrote:

--
Aviral Srivastava
+918004860407

[2017-01-10 07:45] rishig commented on #3189
Hi @avisrivastava254084, thanks for testing this out! https://zulip.readthedocs.io/en/latest/prod-install.html has a detailed guide.

[2017-01-10 08:46] rishig commented on #3058
Thanks @meetmangukiya, sorry for the delay!
Backend
* `zproject/urls.py` has the URL routes. You'll want to add a [HEAD route](https://www.pragmaticapi.com/blog/2013/02/14/restful-patterns-for-the-head-verb/) for something like `realm/<realm_str>`, and add it to `v1_api_and_json_patterns`. This is our first unauthenticated API endpoint, so I would start a new section, something like
[code]
after t

[2017-01-10 09:50] jajodiaraghav commented on #317
@timabbott Has this issue be resolved already? I wonder why is this still open?

[2017-01-10 12:55] #2628 closed

[2017-01-10 12:59] showell commented on #3071
@timabbott @bojidar-bg @derAnfaenger Reopening this, because I think there is some confusion about whether the back end actually got fixed here.  The front end fix apparently was only for autocomplete.  I could be mistaken.

[2017-01-10 13:05] bojidar-bg commented on #3071
@showell -- that's right, the backend still breaks when it gets more than one search operator.

[2017-01-10 13:35] derAnfaenger commented on #3071
@showell yep, that makes sense. Sorry for all the confusion I created. Should I update the description of the issue though, since it is not valid anymore?

[2017-01-10 13:38] anirudhjain75 commented on #3174
@timabbott I request you to check the quality of work I've done

[2017-01-10 14:12] showell commented on #3071
yes, please @derAnfaenger

[2017-01-10 14:31] derAnfaenger commented on #3071
Updated :)

[2017-01-10 15:19] roberthoenig opened #3207 "Zulip duplicates notifications when multiple Zulip tabs are opened (meta-issue)"
When a user has multiple opened Zulip tabs, several issues occur when incoming messages trigger notifications. Three Zulip issues (#99, #1783 and #3126) that address this problem are discussed in the following:

## Issues

### #99 Zulip notifies once per message per browser tab (fixed in #3057)
#### Issue:
An incoming message triggered a browser notification for each open Zulip tab, which could le

[2017-01-10 15:31] showell commented on #3071
Thanks, @derAnfaenger !  I also edited the title of the bug.

[2017-01-10 16:24] wzin opened #3208 "Version 1.4.2 not tagged on github"
I've noticed that version 1.4.2 is available for download from https://www.zulip.com/dist/releases/ but it does not exist on github.

Which commit did 1.4.2 got created from?

[2017-01-10 17:30] avisrivastava254084 commented on #3207
I'd like to proceed with the solution to the localstorage thing mentioned in the conclusion above.
Please guide as in where to start.
Thanks :-)

[2017-01-10 17:38] derAnfaenger commented on #3207
@avisrivastava254084 cool! So first of all, you want to get some understanding of how `localStorage` works, e.g. here: http://www.w3schools.com/html/html5_webstorage.asp

Your next steps depend on which issue you'd like to work on.  Generally, you want to prevent race-conditions (when two tabs want to get and set the same localstorage object at the sime time, the outcome of the situation is undefi

[2017-01-10 18:27] showell opened #3210 "contrib_bots: Prevent runaway bots with rate limiting"
It's possible to create a runaway bot if you have a bot send a message to certain stimuli that in turns becomes a stimulus for the bot to send another message and so on and so forth.

We can prevent that in `contrib_bots/run.py` by adding some logic to prevent runaway bots.

Right now RestrictedClient make self.send_message just be client.send_message, but we can instead have a wrapper like this:

[2017-01-10 18:34] derAnfaenger commented on #3210
Working on this :)

[2017-01-10 19:00] timabbott opened #3211 "Improve compression settings in nginx configuration"
Currently our nginx configuration in `puppet/zulip/files/nginx/nginx.conf` uses gzip compression; we should use something more efficient.

See https://chat.zulip.org/#narrow/stream/development.20help/subject/adding.20custom.20js for discussion.

[2017-01-10 19:10] avisrivastava254084 commented on #3207
Hi,
I have started. Will report you in a day with the work completed.
Thanks for considering.

On Tue, Jan 10, 2017 at 11:08 PM, Robert Hönig <notifications@github.com>
wrote:

--
Aviral Srivastava
+918004860407

[2017-01-10 19:38] timabbott opened #3212 "Add more visible alert when a message you tried to send >15s ago hasn't been received from server"
We had a regression today where after upgrading the sockjs library, some ancient browsers (including our desktop app!) had trouble sending messages because sockjs wasn't correctly falling back to XHR.

Given that we locally echo messages, we need to do something much more visible to alert users when their messages have not been acknowledged by the server for longer than 15s.  (Right now we do some

[2017-01-10 19:52] timabbott commented on #3208
Oops, fixed.  See https://github.com/zulip/zulip/releases/tag/1.4.2.  Thanks for the issue report @wzin!

[2017-01-10 19:52] #3208 closed

[2017-01-10 19:56] timabbott opened #3215 "Notification bot announcements of new streams don't linkify streams properly"
Apparently, our modified notification bot announcements for new streams use the correct markdown syntax `#**streamName**`, but don't actually linkify properly, because the notification bot is in a different realm from the stream it is sending messages to.  We'll need to do something clever to make sure the right realm is used for these messages.

[2017-01-10 19:57] timabbott commented on #3215
I think probably this means a patch to `internal_prep_message`; the call point is in add_subscriptions_backend.

[2017-01-10 20:33] #3188 closed

[2017-01-10 20:50] cosmicAsymmetry commented on #1734
@timabbott @brainwane

[2017-01-10 21:33] tommyip commented on #3211
Maybe something like Brotli? Though there isn't official support for it in nginx.

[2017-01-10 21:38] synicalsyntax commented on #3018
@showell Thanks for merging my PR #3201! This issue didn't get closed along with it when it got merged though, can you close this issue?

[2017-01-10 21:42] #3210 closed

[2017-01-10 22:25] rishig opened #3219 "Clean up /integrations logos."
There are two changes that need to be made to the /integrations page:
* Change the container for the logo images to be 80% (or something like that) of the width of the box. E.g. many of the logo images currently stretch to the boundary, which doesn't look great:
![image](https://cloud.githubusercontent.com/assets/890911/21827213/83fe8864-d73f-11e6-82ea-532d884813ca.png)
* Many of our logos are out

[2017-01-10 22:39] rishig commented on #3219
Additional notes from looking at a few more:
* Some companies don't have an avatar-style logo. If they have a full svg logo, see if you can open it in inkscape or a similar program and "crop" it to get an avatar. If they just have a png, crop it as usual, leaving as little whitespace around the logo as you can.
* svg files will be small, but 50kb is getting to be on the higher side of okay for the

[2017-01-10 23:49] roberthoenig opened #3220 "Add support for message shortcuts."
## Idea:
It would be a useful feature for Zulip to include a system for message shortcuts, that is, shortenings for longer phrases and established wordings.

## Examples:
* Imagine a `development help` stream, where new users often ask redundant questions. Instead of typing answers over and over, one could simply type `:<shortening-for-answer>`. Zulip would then replace the shortening with the sav

[2017-01-11 00:03] timabbott commented on #3220
This sounds like a great feature idea.

[2017-01-11 00:16] timabbott commented on #3018
Looks great, closing!  @synicalsyntax in the future you can tag commits (not PR descriptions, they don't do anything) fixing issues with `Fixes: #3018` so the issue will be auto-closed when the commit gets merged.

[2017-01-11 00:16] #3018 closed

[2017-01-11 00:16] timabbott commented on #3063
Looks great!

[2017-01-11 00:16] #3063 closed

[2017-01-11 00:17] timabbott commented on #3062
Yep, closing.

[2017-01-11 00:17] #3062 closed

[2017-01-11 00:21] timabbott commented on #2835
I think probably the only thing left here that would be a big improvement priority is syntax for creating inline images; @synicalsyntax what do you think?

[2017-01-11 00:22] timabbott commented on #3211
Hmm.  We probably want to stick to things supported in nginx in Ubuntu 14.04 Trusty for simplicity of deployment, but there are other compression options than gzip and Brotli.

[2017-01-11 00:49] timabbott commented on #3071
Great, thanks folks!

[2017-01-11 00:50] timabbott commented on #3071
@bojidar-bg this may be a good project for you, since you've been learning the search backend.

[2017-01-11 01:01] cosmicAsymmetry commented on #3219
I think I can do this. I'm claiming this.

[2017-01-11 01:10] rishig commented on #3219
Awesome, thanks @cosmicAsymmetry!

[2017-01-11 01:17] timabbott commented on #317
Yes, this feature was added months ago; I think we just forgot to close the issue.  Thanks for pointing this out @jajodiaraghav!

[2017-01-11 01:17] #317 closed

[2017-01-11 01:20] #3174 closed

[2017-01-11 01:23] synicalsyntax commented on #2835
The syntax for inline images would definitely be great, especially since they'd allow button images to be displayed.

[2017-01-11 01:28] timabbott commented on #3175
@derAnfaenger have you had a chance to look into debugging this?  We definitely want this fixed before the upcoming release.

[2017-01-11 03:12] timabbott commented on #3157
Can you explain the use case a bit more?  I don't think this would be too hard to implement, and the actions menu for a topic is short enough we could add it there, but I'm not sure I understand the feature :).

[2017-01-11 04:47] #3000 closed

[2017-01-11 05:20] timabbott commented on #2913
Likely in static/js/stream_list.js or the related code in click_handlers.js

[2017-01-11 05:47] timabbott commented on #3169
The technical complications with not rendering them is that we do a single authoritative markdown rendering of messages -- not a per-user rendering (this is important for performance).  So, one simple implementation would be for this feature to rewrite the rendered markdown client-side to replace it with the corresponding text version stored in the `title` attribute (should be fine, since that HTM

[2017-01-11 05:48] timabbott commented on #519
@ablyx this is a project deep in Zulip's caching model, and likely not great for a new contributor.

[2017-01-11 06:18] ablyx commented on #519
@timabbott should I try #1932 instead?

[2017-01-11 06:18] umairwaheed commented on #734
Working on this.

[2017-01-11 06:22] timabbott commented on #3175
I can't reproduce the traceback for some reason but I think I see the bug; @derAnfaenger can you test this?
[code]

[2017-01-11 06:22] umairwaheed commented on #734
(Only the confirmation email flow part)

[2017-01-11 06:42] avisrivastava254084 commented on #3207
@derAnfaenger I have read the content of the links, that you have provided. However, I have one doubt.
Why don't we block the other tabs when a tab is opened.
![image](https://cloud.githubusercontent.com/assets/13495855/21838303/432fa292-d7f7-11e6-8b99-7587c47a8434.png)
like Whatsapp?

[2017-01-11 06:48] timabbott commented on #3207
Because it's useful to be able to look at things in different windows at the same time.

It may be a useful next investigation to try introspecting how Slack handles this issue (if they do).

[2017-01-11 07:04] timabbott commented on #1734
Thanks @cosmicAsymmetry, pinged @rishig to take a look at this.

[2017-01-11 07:16] lampwithoutlight commented on #3183
It seems  postgres-init-dev-db can not get the password for postgresql when init the db in vagrant. I fixed this problem in following way, and the error is gone.
old code:
PGPASS_PREFIX="*:*:*:$USERNAME:"
PGPASS_ESCAPED_PREFIX="*:\*:\*:$USERNAME:"
new code:===>
PGPASS_PREFIX="*:*:*:$USERNAME:$PASSWORD"
PGPASS_ESCAPED_PREFIX="*:\*:\*:$USERNAME:$PASSWORD"

[2017-01-11 07:16] #3183 closed

[2017-01-11 07:22] timabbott commented on #3074
I think the first thing I'd do is print-debugging of the full-text search code path to see where the offset error is introduced.  E.g. is the bug in our postgres extension, or is the bug in how we handle the offsets returned by the extension.

[2017-01-11 08:17] Jeffthebest1 commented on #3112
I'll work on this @timabbott

[2017-01-11 08:34] rishig commented on #2992
Closing this; the work for this turned out to be the same as the work for #2991.

[2017-01-11 08:34] #2992 closed

[2017-01-11 08:35] rishig commented on #2991
Closed #2992, since the work for doing that turned out to be the same as the work needed here. Copying the issue text:
[code]

@nemaniarjun are you still working on this?

[2017-01-11 08:48] derAnfaenger commented on #3175
@timabbott yes, that resolve the issue. I made a quick PR including your changes: https://github.com/zulip/zulip/pull/3226

[2017-01-11 08:49] bojidar-bg commented on #3071
@timabbott Well, yeah, might do, though I've currently taken a docs task (just to see how it goes) :smiley:

[2017-01-11 09:14] nemaniarjun commented on #2991
Yes I am working on it. Needed help with Javascript. Will send in a PR
soon.

On Wed, Jan 11, 2017, 2:05 PM Rishi Gupta <notifications@github.com> wrote:

[2017-01-11 10:30] Jeffthebest1 commented on #3112
I've created a pull request [here](https://github.com/zulip/zulip/pull/3228) to fix this issue.

[2017-01-11 10:41] mrdrozdov commented on #3188
Looks great in prod!

[2017-01-11 12:47] cosmicAsymmetry commented on #3157
I don't exactly know how to explain this but I can give you the situation that gave me this idea. I had a 'cosmicAsymmetry' Topic in one of the GCI channels but after being inactive on it for some time it got buried under other messages. This made me search for it in each GCI stream for my Topic.
If we could pin the streams that we want to follow we wouldn't need to search for it whenever it gets

[2017-01-11 14:27] avisrivastava254084 commented on #3189
@rishig
Hi Sir,
I am having this error while installing
"subprocess.CalledProcessError: Command '['pip', 'install', '--no-deps', '--requirement', '/root/zulip/requirements/py2_prod.txt']' returned non-zero exit status 1"

[2017-01-11 14:40] showell opened #3230 "Make traceback provisions way easier to read."
When commands go through scripts.lib.zulip_tools.run, and they fail, the error output is really difficult to read.

We need some whitespace before and after showing the command.

We should also consider not doing a re-raise on the error, since the noisiness of the traceback might be worse than the signal you get from it.  A think a more useful thing would be to just show the command that failed, s

[2017-01-11 15:05] anirudhjain75 opened #3231 "Round faced emojis"
I have used many chat tools and they have round faced emojis , It is almost the most used and common emojis found on web I guess they too should be added to the emojis collection that Zulip has.

[2017-01-11 17:08] brainwane opened #3233 "clarify pull request workflow & role of WIPs"
Add explanation to https://zulip.readthedocs.io/en/latest/git-guide.html or a similar part of the docs to explain how and when to use WIP (Work In Progress) in the title, per the conversation at https://chat.zulip.org/#narrow/stream/development.20help/subject/PR.20workflow.20and.20process/near/117767 .

[2017-01-11 17:37] tommyip commented on #3029
I will have a look into this.

[2017-01-11 17:52] avisrivastava254084 commented on #3207
@timabbott
Sir, can we use Angular2.js? Because that'd be helpful. There are **localstorage** variables which can store the values concurrently.
Or, we can ping the tabs i.e. keep them updating second by second from the central log where all the data is stored in the order of the timestamps?

[2017-01-11 18:31] rishig commented on #3189
Thanks for working on this! Could you post in the 'installation help' stream on chat.zulip.org?

[2017-01-11 18:33] avisrivastava254084 commented on #3189
Yeah sir sure. In an hour I will post the complete details.

On Jan 12, 2017 12:01 AM, "Rishi Gupta" <notifications@github.com> wrote:

[2017-01-11 18:52] strugee opened #3235 "Notifications: configuring importance instead of behavior"
Background for this proposal: I have a couple topics (or even streams) I really care about, and I want to see everything posted in them without fail. This is mostly comprised of a couple topics I'm interested in _because_, plus some topics where I'm already participating in the conversation and want to follow what happens afterwards. There are others that I'm interested in and might read occasiona

[2017-01-11 18:54] strugee commented on #3235
Oh, forgot to mention - which defaults are associated with which priorities would be configurable by the user as a global setting. Obviously we'd ship reasonable defaults, but the user would be able to modify them to suit their workflow/personality.

[2017-01-11 19:16] timabbott commented on #3235
Hi @strugee!  Thanks for the thoughtful post!  There's sorta 2 problems discussed: catching up and being online.

What I would usually do for your catching up ("bankruptcy") situation (problem 1, I guess) is to click "no", read the streams that are important to you, and then reload the page to get the bankruptcy prompt again and click "yes" (alternatively, one can just hit "end" in the home view t