[2017-10-20 18:36] jvasile commented on #2047
It would be nice if this feature got you more than just a text log.  I'd love a static set of html pages that include the text and links to local copies of the image and document artifacts uploaded.  I recently made one of these for a slack export bundle.  It was a pain.  I'd like Zulip to ease this pain for the next time it arises.  Don't just give me history.  Make it useful, displayable, search

[2017-10-20 18:42] brainwane commented on #2047
@jvasile Is it fair to say that you want a more immediately legible export for a whole-Zulip-instance mass export (which is currently [a management command](https://github.com/zulip/zulip/blob/master/zerver/management/commands/export.py) meant for importing one instance's data for use when restoring/importing into another Zulip instance), not just for a single-user export? If so I'd like to start

[2017-10-20 18:44] jvasile commented on #2047
@brainwane I do want the whole thing, yes.  But I also think individual users might want that for just their own set of viewable streams.

[2017-10-20 18:46] brainwane commented on #2047
@zulipbot label "area: export"

[2017-10-20 18:50] brainwane opened #7110 "instance export option: human-readable standalone set of HTML pages"
@jvasile [said](https://github.com/zulip/zulip/issues/2047#issuecomment-338288898) in #2047:

I imagine one would implement this by adding an option to `/zerver/management/commands/export.py` to give the user a human-readable archive, rather than a dump meant for irestoring/importing into another Zulip instance.

@zulipbot label "area: export"

[2017-10-20 19:19] brockwhittaker commented on #7105
Check the userAgent string. It's iPhone. We should add the `isMobile` test.

[2017-10-20 20:08] #7105 closed

[2017-10-20 20:09] brockwhittaker commented on #7106
I'll look into it. @zulipbot claim.

[2017-10-20 22:08] jvasile commented on #7052
You already confirmed this bug, but, yes, my avatar was uploaded by me.

Also, in case this is relevant, the instance has gravatars disabled for this install in the settings.py file.

[2017-10-20 22:12] timabbott commented on #7052
Yep, I figured out that this had broken in our migration to store avatars in a more sane configuration a few months ago; fixed in the 1.7 release.

[2017-10-20 22:16] jvasile opened #7114 "Feature Request: @topic would be nice"
This is a feature request, not a bug report.

I hate making feature requests because the response is inevitably a recommendation that I read the docs more carefully since I just proposed a supported feature.  Still, I did a search and did some reading and web searching but came up empty.  Here's my request.

As I understand it, @all and @everyone are synonyms that refer to everybody subscribed to

[2017-10-20 22:18] lonerz commented on #7114
What do you mean by everyone participating in a topic? Everyone who has sent a message in that topic?

[2017-10-20 22:44] timabbott commented on #7114
I think an @topic that mentions everyone who has participate in the topic would be fairly doable, implementation-wise.  I kinda like the idea.  Tagging this with priority: medium so we don't forget about it.

@jvasile on the point of documentation have you seen https://chat.zulip.org/help/, specifically e.g. https://chat.zulip.org/help/at-mention-a-team-member, which isn't our best work, but does

[2017-10-20 23:55] jvasile commented on #7114
Ah, it makes sense that Read The Docs is for devs, not users.  I'm in both camps, so the line between the two is blurry.  That fail is on me and won't hit your normal users, so it might not be worth fixing.

That said, if I were writing your docs, I might want to be explicit about intended audience.  The place I would end up putting that is probably on the landing page for the documentation.  You

[2017-10-21 00:40] showell opened #7115 "Use something better than chevrons for popover menus."
Our chevrons for sidebar popup menus look like they should expand lists below them, particularly in the left sidebar.

https://chat.zulip.org/#narrow/stream/design/subject/chevron/near/302474

[2017-10-21 01:47] Riju19 commented on #5578
@zulipbot claim

[2017-10-21 01:48] Riju19 commented on #7090
@zulipbot claim

[2017-10-21 17:03] showell commented on #4322
Note that the commit that @timabbott mentions reverting above is no longer an issue.

I'm about to submit a PR that fixes the backend here, but I'll open a new issue to clean up the webapp to take advantage of `realm_non_active_users`.

[2017-10-21 17:05] showell opened #7120 "Use `realm_non_active_users` in the web app."
Once #4322 is resolved (should be soon), we will have a field called `realm_non_active_users` that gets sent to the web app as part of page load (i.e. `page_params`).

We can take advantage of this better page-load data to remove some ugly hacks where we update `people.js` data when new messages arrive.  There may be other opportunities as well.

This is not a newbie-friendly task.  We need somebo

[2017-10-21 17:07] showell commented on #4322
I split out #7210, since the backend piece of this will un-block the mobile team, so we can declare victory soon on the server piece of these changes.

[2017-10-21 17:44] sagar-kalra commented on #6342
@zulipbot claim

[2017-10-21 21:12] Pri-Pri-Pri commented on #7049
@rishig I can add the HTML portion but implementing the JS logic has me stumped. Could we split this issue up into smaller components?

[2017-10-21 21:43] borisyankov commented on #7115
An icon that is very popular on Android is the three vertical dots. They clearly mean: 'popup menu'.

[http://materialdesignblog.com/wp-content/uploads/2015/05/Android-material-design-Grid.png](Example)

[2017-10-22 05:42] rishig commented on #7049
Hey! As a heads up I'm travelling and won't be very responsive, but try posting in #development help for how far you've gotten and where exactly you are stuck. If you're stuck possibly the documentation for adding a new feature needs to be updated.

[2017-10-22 10:57] Riju19 commented on #7090
Hi! Since I’m new to this whole thing, it’ll take me a while to understand how it works. Just wanted to know that the date a realm joined is already mentioned somewhere, or do I need to code that part too.

[2017-10-22 15:03] minervapanda commented on #7097
@timabott Can you send a small video of what you are facing? I tried typing a really long message and then scrolled, the scrolling is smooth for me?

[2017-10-22 15:08] minervapanda commented on #6477
@zulipbot claim

[2017-10-22 15:09] minervapanda commented on #6477
I want help. I cant find specifically where I can addthis code segment for loading sign!

[2017-10-22 16:16] lonerz opened #7123 "`n` hotkey still works when lightbox is open"
0. Make sure you have multiple topics unread.
1. Click on an image to open lightbox.
2. Press `n` and look at the link you are on. It will change as you press `n`.

[2017-10-22 16:19] lonerz commented on #7123
Hotkeys `q`, `w`, and `/` all work when the lightbox is open.

[2017-10-22 16:33] aklap commented on #7090
@Riju19 I took a look at this issue earlier. Most databases automatically create some kind of 'created at' date field or attribute when a record is saved. In this case, there is an attribute on the realm records that is equivalent, 'date_created.' At least that is what I think is meant by 'date joined.' You'll have to edit a few files here to make this ability work and in order to check that it's

[2017-10-22 16:40] aklap commented on #6316
@rishig It seems like macOS doesn't have the 'heavy click' option, so I'll have to test that out later. Is there some equivalent hotkey for that you might know of?

I can add documentation re: behavior of copy in this context if it doesn't exist.

For changing how it functions, I had a look at the custom copy code and am wondering if you want to make some kind of a hotkey to  specific copy behavio

[2017-10-22 16:40] aklap commented on #6316
@zulipbot claim

[2017-10-22 17:47] jdong92 commented on #7098
@zulipbot claim

[2017-10-22 18:25] anirudhjain75 opened #7125 "Add support for Ubuntu Zesty"
provision.py has **zesty** in the unsupported platform list cause it doesnt support tsearch_extras.
I guess we should add it back to the supported platform list as it works well on my laptop (Ubuntu Zesty).

[2017-10-22 22:27] Jianchun1 commented on #6885
I checked it yesterday, basically there is no problem. But I didn't check
every details.

On Oct 12, 2017 03:59, "Tim Abbott" <notifications@github.com> wrote:

@Jianchun1 <https://github.com/jianchun1> can you confirm that
chat.zulip.org handles Chinese correctly? It would be a great help in
knowing whether our i18n stuff is configured correctly.

—
You are receiving this because you were mention

[2017-10-23 02:29] AasthaGupta commented on #6900
@zulipbot working on this

[2017-10-23 04:50] rht opened #7126 "Migrate virtualenv + pip to Pipenv"
As recommended by Python.org [1]

[1] https://docs.pipenv.org/

[2017-10-23 11:53] YJDave commented on #6510
If @kritisingh1 is not working, @zulipbot claim

[2017-10-23 11:56] YJDave commented on #1736
@zulipbot claim, working on this

[2017-10-23 12:00] YJDave commented on #5614
@zulipbot PR is waiting for review :)

[2017-10-23 16:53] swallitsch opened #7130 "Can't copy/paste images from the web"
If you copy an image from a web browser, you cannot paste that image into zulip. If you copy an image from any other program (photoshop, screenshot capture, etc) pasting into Zulip works fine- zulip uploads the image and creates an automatic markdown embed for it.

Tested copy from all listed web browsers and pasting into zulip running on all listed:

RHEL 6.9: (I know these are ancient)
* Chromiu

[2017-10-23 17:49] timabbott commented on #7126
Cool, yeah, seems worth checking out.

[2017-10-23 17:54] sagar-kalra commented on #6342
Can anyone help me out? @rishig @YJDave @rht

[2017-10-23 17:58] darshanime opened #7131 "encoding issue with docker dev env"
I setup my dev env using docker according to the documentation, and I am getting `UnicodeEncodeError` for file `zulip/zproject/backends.py in log_email`

[code]

I made some print statements
[code]
One easy fix is to open the file with `encoding='utf-8'` and it works
[code]
But why is this happening?
@zulipbot claim

[2017-10-23 18:35] darshanime opened #7132 "NoneType object has no attribute uri"
When I start my dev server and select All Reams from the `/devlogin` page, I get this error:
[code]

@zulipbot claim

[2017-10-23 19:10] rishig commented on #6342
Hi @sagar-kalra, thanks for looking into it! This is still waiting on a refactoring of the password reset flow.

[2017-10-23 19:22] timabbott commented on #7132
@hackerkid you should probably follow + help fix this?

[2017-10-23 21:25] timabbott opened #7137 "integrations: Fix weird underline under just the back arrow"
![image](https://user-images.githubusercontent.com/2746074/31914025-f6ea55fc-b7fd-11e7-9282-3bb4727b8ec0.png)

[2017-10-23 21:25] timabbott commented on #7137
![image](https://user-images.githubusercontent.com/2746074/31914040-0d754b06-b7fe-11e7-8228-Specifically this part: ecc3dbe8ece1.png)

[2017-10-23 21:27] #7092 closed

[2017-10-23 21:27] timabbott commented on #7131
@darshanime I think we need to set the locale to en_US.UTF-8 in the Docker guest.  Can you look into doing that?

[2017-10-23 21:31] timabbott commented on #7130
Interesting!  If this is possible to fix, I'd certainly love to fix it.  May require some research, but I imagine there must be some copy/paste library we can use to get better access here.

[2017-10-23 22:24] showell opened #7140 "Make sure generic bots get UserMessage rows when they're mentioned"
For out-of-stream mentions, our desired behavior depends on the mentioned user:

* humans: keep status quo, code ignores mention
* default/generic bot: **change** so that bots get UserMessage record (but no service queue events)
* incoming webhook: keep status quo, treat like humans
* service (outgoing/embedded): keep status quo, so no UserMessage records but yes to service queue events

[2017-10-23 22:38] timabbott commented on #7097
@minervapanda don't have time to take a video, but if you type a really long messsage (multiple screens) and then hit the pageup key, it move the cursor, but doesn't move the scroll position within the text box to show the new cursor position.

[2017-10-23 22:38] timabbott commented on #7125
The blocker issue for this is build `tsearch_extras` for Zesty.

[2017-10-24 00:28] #7059 closed

[2017-10-24 02:08] neiljp commented on #1348
@zulipbot claim

[2017-10-24 05:06] aklap opened #7144 "Typo in 'Allow image/link previews'"
Small typo in the text for ['Allow image/link previews' user doc](https://github.com/zulip/zulip/blob/master/templates/zerver/help/allow-image-link-previews.md):

Should be **'shown.'**

[2017-10-24 05:08] lonerz commented on #7144
@aklap A pull request would be awesome here, instead of an issue :)

[2017-10-24 06:03] timabbott commented on #6477
@minervapanda you should be able to find this via `git grep`, but I think it's `templates/zerver/login.html` for any HTML, and `static/js/portico/signup.js` for any JS.

[2017-10-24 07:18] msdinit commented on #7097
I can see this issue in Chrome, but not in Firefox Quantum
@minervapanda do you want to claim this issue, or can I look into it?

[2017-10-24 14:48] derAnfaenger opened #7149 "Enhance 'Uploaded files' sorting."
### Problem

Initially, the list of files in the `#settings/uploaded-files` menu is unsorted. They can be sorted by clicking on one of the info column titles. However, these titles don't provide any visual feedback that indicates their funcionality

### Enhancement

- [ ] Initially sort all files by date
- [ ] Visually indicate the functionality of the info titles (provide a feedback on hovering,

[2017-10-24 14:54] timabbott commented on #7149
@brockwhittaker FYI.

[2017-10-24 15:29] timabbott commented on #7099
@tulikavijay I'd just recommend starting by doing a couple for your first PR so you can get feedback and avoid wasting work.

[2017-10-24 15:55] timabbott commented on #7106
We determined this was caused by users trying to paste a non-image-file (e.g. a graph from Omnigraffle) into Zulip.

I think we still want to figure out a way to detect that situation and suppress the traceback, but it's no longer release-critical.

[2017-10-24 16:11] timabbott commented on #7047
I figured out what this bug is.

[2017-10-24 16:42] tulikavijay commented on #7099
Okay. I'll keep that in mind.
@zulipbot abandon

[2017-10-24 16:48] #7144 closed

[2017-10-24 17:34] brockwhittaker commented on #7149
I'm thinking ascending/descending arrows would work for this.

[2017-10-24 17:58] sagar-kalra commented on #7126
@rht @timabbott I am having a confusion, we already use vagrant. So, why do we have to us pipenv and how?

[2017-10-24 18:22] #7047 closed

[2017-10-24 19:09] timabbott opened #7151 "Improve visuals for when the only auth methods are SSO"
Now that we correctly don't display the "password reset" link on the login page for an organization that doesn't allow password reset, the login form can look a bit unbalanced:

![image](https://user-images.githubusercontent.com/2746074/31962975-ff7be21a-b8b3-11e7-9a80-3e7fbdf3a6a5.png)

@brockwhittaker any idea for how we should do this better?

[2017-10-24 20:45] adambirds commented on #7047
@timabbott I'll upgrade to master and test this.

[2017-10-24 22:59] timabbott opened #7153 "Fix is-active checks in popover code."
Right now, `exports.realm_user_is_active_human_or_bot` doesn't have a way to tell whether or not a bot user is deactivated, so user popovers will always appear as though the bot is an active, even when it it has been deactivated.  Fixing this is somewhat related to #4322, but a bit independent.

While we're working on this, it might be nice to add the "bot" icon we have next to the user's name in

[2017-10-24 23:09] adambirds opened #7154 "Add ability to crop/scale/rotate image when uploading a new avatar."
Add ability to crop/scale/rotate image when uploading a new avatar.

Currently, it will just add the avatar automatically unscaled, and will rotate it the way its thinks is best even though the photo isn't orientated that way.

[2017-10-24 23:19] adambirds opened #7156 "[Feature Request] End-to-end Encryption"
This is probably more of a long term one.

When trying to get some people to use this. They have asked about end-to-end encryption. I do agree with them that this would be a great feature that would set Zulip apart from similar products.

He pointed out that https://keybase.io/ is end-to-end encrypted, however it looks like one of the only ones.

Obviously appreciate this isn't going to be an easy

[2017-10-24 23:25] timabbott commented on #7156
Thanks for the feedback @adambirds!

I think this is a duplicate of https://github.com/zulip/zulip/issues/6096.

[2017-10-24 23:25] #7156 closed

[2017-10-24 23:28] adambirds commented on #7156
Thanks @timabbott, will follow issue #6096 then!

[2017-10-24 23:39] #7137 closed

[2017-10-24 23:49] swallitsch commented on #7066
Would it also make sense to put Outgoing Webhook bots into the admin only area? I'm not sure what information they send.

[2017-10-25 04:15] rht commented on #7126
@sagar-kalra Pipenv is Python-specific virtualization and packaging, which lives in a Vagrant box.

[2017-10-25 05:44] ebradford7 commented on #5827
@zulipbot claim

[2017-10-25 08:08] rheaparekh commented on #7099
@zulipbot claim

[2017-10-25 10:09] abhimanyu97 commented on #7090
I see that no one is assigned this issue, but someone has already claimed it above. So can someone clear if this is up for grabs. Thank you

[2017-10-25 15:54] timabbott commented on #7090
@Riju19 are you still working on this?

The data is already present in the `realm.date_created` field; we just need to display it.

[2017-10-25 16:15] Riju19 commented on #7090
Yes, I am !

[2017-10-25 16:27] abhimanyu97 commented on #7090
It says that no one is assigned, can that be changed then because it might cause further confusion.

[2017-10-25 16:30] abhimanyu97 commented on #6627
@zulipbot claim

[2017-10-25 17:01] aklap commented on #3534
@zulipbot claim

[2017-10-25 17:36] akaptur opened #7158 "Styling of messages in search is wonky for some queries"
I did a search in our zulip instance and the styling of search results look like this:
![image](https://user-images.githubusercontent.com/1857780/32013412-dde37b42-b96f-11e7-8a7c-3af76b5fe6bd.png)

The last message before the formatting goes off the rails is a PR notification from github bot:
![image](https://user-images.githubusercontent.com/1857780/32013303-8b4df0d8-b96f-11e7-88dd-7ab0ffb6b472.p

[2017-10-25 18:06] #7082 closed

[2017-10-25 18:14] timabbott commented on #7158
Thanks for the report @akaptur!  I think this shouldn't be too hard to fix given a reproducer.

[2017-10-25 18:36] #4322 closed

[2017-10-25 18:46] timabbott commented on #6885
OK, the new translations are in the 1.7 release; enjoy! :)

[2017-10-25 21:05] timabbott commented on #7115
This seems like something worth changing.  @brockwhittaker what are your thoughts on a vertical `...`?  My main concern is whether it'll be visible enough / a big enough click target in the context of the left/right sidebars.

[2017-10-25 21:06] timabbott commented on #4322
We should make sure to do whatever's needed for the popovers to let us unblock https://github.com/zulip/zulip/pull/6796.  I think that's #7153, basically.

[2017-10-25 21:14] borisyankov commented on #7115
The actual touch target should be as large as a visually large graphic (24x24 pixel square for example).

[2017-10-25 21:47] swallitsch opened #7161 "Send Feedback should be visibly addressed to the email listed in settings.py"
If the Send Feedback button is enabled, it looks like it sends to `feedback@zulip.com` instead of the email address listed in the options.

The feedback correctly goes to the listed email (by default the Admin email) but to a user sending feedback it appears different.

[2017-10-25 22:10] timabbott commented on #7161
@swallitsch makes sense!  This is basically a legacy issue.

The story here is that feedback-bot is one of the "system bots" that live in otherwise empty "zulip" realm on the server.  Our plans include moving those bots to instead live in the main Zulip realm.  So the same situation is true for welcome-bot, etc.

For now, as a workaround, I believe you can just go into the database and change the

[2017-10-25 22:14] #7132 closed

[2017-10-25 22:15] timabbott commented on #7154
This seems like a totally reasonable thing to do, as long as we can find a good JS library for doing it (definitely doesn't seem like the kind of thing we should be doing from scratch).

[2017-10-25 22:34] Vroop commented on #6096
Tox also supports end-to-end encryption - https://tox.chat/

Is Zulip planning to implement e2e crypto?

[2017-10-25 23:40] sarahcstringer commented on #6511
wip :)

[2017-10-26 00:15] timabbott commented on #334
Closing this in favor of further investment on making it easy to use certbot/letsencrypt.

[2017-10-26 00:15] #334 closed

[2017-10-26 00:16] timabbott commented on #300
Closing this as implemented: The `n` hotkey that we implemented is basically what is described here.

[2017-10-26 00:16] #300 closed

[2017-10-26 00:18] timabbott commented on #670
@sarahcstringer this may be a project that would be quick for you to work on...

[2017-10-26 00:22] timabbott commented on #379
I read through this list, and I think all of these are either done (most of them) or have open issues for the specific additional task, so I'm closing this now.  Huge thanks for opening this a few years back @jros2300!

[2017-10-26 00:22] #379 closed

[2017-10-26 01:45] gnprice opened #7167 "Fix coverage for create_test_bot helper"
Travis builds are failing in the coverage check:
[code]

These lines are the `create_test_bot` helper method added today -- I assume a followup commit will use it soon. :) For an immediate fix, rather than add `# nocoverage` to each of those lines, I'm going to exclude the file in `tools/test-backend`. We should be sure to un-exclude it when the method is used.

[2017-10-26 01:48] gnprice commented on #7167
Ah, race condition :smile: -- the problem is already fixed in master, but our Travis builds have just gotten so slow that a [green build](https://travis-ci.org/zulip/zulip/builds/292884433) hadn't finished yet when I wrote this. Great, closing.

[2017-10-26 01:48] #7167 closed

[2017-10-26 03:29] CSC510Zacky opened #7168 "Zulip 1.6 to 1.7 upgrade failed by virtualenv of python3"
I try Zulip 1.7 upgrade for my Zulip 1.6, but my server send error message with red box...

Actual error output for the subcommand is just above this.

And my firewall denied to 151.101.72.223 , but I don't know what is it.
Just my opinion, it related to this OSError.

I'll leave my upgrade failed log.

Thanks.

[code]

[2017-10-26 03:38] CSC510Zacky commented on #7168
Well...151.101.72.223 is pypi.python.org's IP

[2017-10-26 08:15] roberthoenig opened #7169 "Highlight changes in zulip_bot ABI"
We just merged some changes (#134) that change the ABI for external bots by removing a positional argument from a required function. In the next few days, there could potentially be another change.

We should highlight these changes in the beginning of the [writing bots guide](http://zulip.readthedocs.io/en/latest/writing-bots-guide.html), noting that they break any existing external bot.

[2017-10-26 08:50] derAnfaenger opened #7170 "Equip stateful example bots with exemplary storage models."
Currently, there are three stateful bots (bots using permanent storage): `virtual_fs`, `incrementor`, and `tictactoe`. Some of these might not use an optimal model for handling the storage. For example, the `tictactoe` bot currently stores one running game per user, whereas it might be better to store games on a topic/stream basis.

Since these bots serve as examples for new stateful bots, we shou

[2017-10-26 08:55] derAnfaenger commented on #7170
Sorry, submitted on the wrong repo.

[2017-10-26 08:55] #7170 closed

[2017-10-26 11:25] subay commented on #7168
Getting the same error while trying to update from 1.6 to 1.7.
[code]

upgrade.log error is the same.

[2017-10-26 14:00] abhimanyu97 commented on #6627
I am unable to find the file in which I have to make the changes, can someone please direct me where it is located. Thanks

[2017-10-26 14:05] showell commented on #6627
See zerver/models.py.

[2017-10-26 15:07] showell commented on #7120
See also #7153, which is basically a subset of this issue.

[2017-10-26 17:24] abhimanyu97 commented on #6627
So if I understand correct, I have to remove wherever the class ModelReprMixin is used in models.py, and replace ```def __unicode__ ``` with ```def  __str__ ```. Also can you tell me how to test, I run manage.py but I don't know how to proceed after that. I'm sorry if this is something basic but I'm new to this and could use help

[2017-10-26 17:27] timabbott commented on #6627
@abhimanyu97 you can test in `manage.py shell` by fetching an object of each type and printing it out.  e.g.
`r = Realm.objects.all()[0]; print r`

[2017-10-26 17:52] timabbott commented on #7168
@CSC510Zacky @subay the error is this: "OSError: [Errno 101] Network is unreachable.".  As discussed in http://zulip.readthedocs.io/en/latest/prod-requirements.html#network-and-security-specifications, a Zulip server needs outgoing HTTPS access to the Internet (for installation and upgrade).

We do have an effort underway to provide a "fully" release tarball that contains all the dependencies from

[2017-10-26 17:52] timabbott commented on #3608
I can confirm that this was fixed.

[2017-10-26 17:52] #3608 closed

[2017-10-26 17:54] timabbott commented on #128
I'm going to close this, since this will be automatically fixed for us when pip does their release, and there's nothing we can really do to hurry it along (and the pip bug isn't annoying enough to be worth a short-term intervention).

[2017-10-26 17:54] #128 closed

[2017-10-26 17:54] timabbott commented on #223
With the rise of certbot as the default recommended model, this doesn't come up much anymore.  So I'm going to close this as unlikely to be worth the effort, given there's isn't a tool that just does it.

[2017-10-26 17:54] #223 closed

[2017-10-26 18:19] showell opened #7176 "Add bot icon to the message popovers."
In our message feed, we have an icon that indicates senders are bots.  We should add this to user profile popovers.  More context here:

https://github.com/zulip/zulip/issues/7153#issue-268214269

[2017-10-26 18:20] showell commented on #7153
Since #7120 covers the broader issues here, I am going to rename this issue "Fix is-active checks in popover code."  I also split out the UI issue to #7176.

[2017-10-26 18:21] adambirds opened #7177 "[Feature Request] Add markdown syntax for Color"
## Feature Request
It would be great if we could add markdown syntax for Color

## Why will it be useful

My thought is that would be great for using with bots such as for alert integrations so that an alert can be coloured depending on its severity.

[2017-10-26 18:30] aklap commented on #5920
Still working on this!

[2017-10-26 19:06] showell commented on #7120
A few tasks:

- [ ] Load the non-active users in people.initialize().
- [ ] Change warnings to errors for user_ids not being found (e.g. see is_active_user_for_popover)
- [ ] Make sure live-updates for bot activate/deactivate update **both** `bot_data.js` and `people.js`.
- [ ] Remove hacks to populate non-active users from message data.

[2017-10-26 19:58] shubhamdhama commented on #6809
Ahh, Sorry for the delay because of my college exams. I have started working on this again.

[2017-10-26 20:00] shubhamdhama commented on #7078
Sorry for the delay (due to the exams) I've started working on this issue, just some testing is left. will be submitting pull request soon.

[2017-10-26 20:57] #7153 closed

[2017-10-26 21:11] sarahcstringer commented on #670
@zulipbot claim

[2017-10-26 21:27] showell commented on #6836
Just an update--this is mostly complete, but there's still the actual event-registration code to update.

[2017-10-26 21:34] timabbott opened #7179 "Mysterious `Could not find UserMessage with message_id <messageid>` bug"
Today I saw a strange set of symptoms on chat.zulip.org:

* We got exception emails of the form `Could not find UserMessage with message_id <messageid>`.  The code path in question is when the push notifications queue processor tries to look up the UserMessage row for the message.  In theory, this should be impossible, because we created UserMessage rows in an atomic operation earlier in `do_send_

[2017-10-26 23:48] #6947 closed

[2017-10-27 00:17] timabbott commented on #7045
@HarshitOnGitHub @hackerkid this is probably a good project for one of you.

[2017-10-27 03:40] YJDave commented on #7049
@zulipbot claim

[2017-10-27 07:52] Rishabh570 commented on #6802
Yes...working on it..about two or three days i need at max cuz my exams are coming.

[2017-10-27 09:21] CSC510Zacky commented on #7168
I added more rules and that error doesn't appear anymore. Someone may be referred to these, so I'll share list of I added.

pypi.python.org
* 151.101.72.223:443

github.com
* 192.30.252.0/22:22,80,443,9418
* 185.99.108.0/22:22,80,443,9418

yarnpkg.com
* 104.16.59.173:80,443
* 104.16.60.173:80,443
* 104.16.61.173:80,443
* 104.16.62.173:80,443
* 104.16.63.173:80,443

github-production-release-asset-

[2017-10-27 09:21] #7168 closed

[2017-10-27 12:53] yashraj-Dhanuka commented on #7179
I am a second year Engineering student . I want to contribute in this Organization.Any help given from mentors will be very helpful to me on how to contribute. i am a novice at this.

[2017-10-27 13:15] HarshitOnGitHub commented on #7045
Having a WIP branch so claiming this. @zulipbot claim

[2017-10-27 13:18] Anupam-dagar commented on #7176
@zulipbot claim

[2017-10-27 16:28] synicalsyntax opened #7189 "user settings: Improve Uploaded Files design."
Two issues I've noticed with the Uploaded Files design:

- [ ] Really long files names break the table display (can't find any of the other icons or table headers here).  ![screenshot at oct 27 09-25-57](https://user-images.githubusercontent.com/15116870/32114689-ec9cb9e8-baf8-11e7-85e8-7d4d46e62fdc.png)

    Likely an issue with not specifying `max-width` + `overflow` +`whitespace` properties.

-

[2017-10-27 16:50] eeshangarg commented on #7091
@timabbott: Cool, sounds good! I think I'll take this up when I am done with the `/api` backend work. :)

[2017-10-27 17:05] timabbott commented on #7189
Good find; yeah, we should definitely fix these :)

[2017-10-27 17:25] jayvdb commented on #374
err, Vk has nicknames like GitHub ... https://vk.com/jayvdb

(It is under settings)

[2017-10-27 17:29] jayvdb commented on #4284
If I understand correctly, this is going to be a major headache if multiple orgs are using Zulip during Google Code-in.

[2017-10-27 17:30] timabbott commented on #4284
Correct.  This project is my top priority right now; we're actually very close to being done.

[2017-10-27 17:36] jayvdb commented on #9
Note this has moved to https://github.com/python-social-auth

And there is already a MediaWiki backend at http://python-social-auth.readthedocs.io/en/latest/backends/mediawiki.html

Is there more that needs to be done on the MediaWiki/Wikimedia side?

[2017-10-27 17:42] jayvdb opened #7190 "Gavatar linked to existing Zulip account does not appear"
Steps to reproduce:

1. Create Zulip account
2. Add Gravatar account with avatar
3. Log out and log in to Zulip.

Expected results;

Avatar is updated from gravatar.

Actual results:

Initially generated avatar is still used.

[2017-10-27 17:46] timabbott commented on #7190
@jayvdb can you provide some more detail on what you're reporting?  The model is Zulip is intended to be that we use an avatar in zulip if you've uploaded one, with a fallback to Gravatar.  So you'd need to delete the Zulip avatar in order to return to the Gravater fallback.

So I'm not sure whether you're saying there's a bug in that logic, or just you were expecting uploading a new gravatar to t

[2017-10-27 17:46] timabbott commented on #9
@jayvdb good question!  There is work that needs to be done on the Zulip side to add a MediaWiki auth backend, but I think that could be done with dozens of lines of code.  However, we haven't added a second social auth backend before, so it may be a bit tricky.  I'll take a look and probably some combination of myself and @umairwaheed can make this happen.

[2017-10-27 17:53] timabbott commented on #7179
@yashraj-Dhanuka you should find another issue; as I mentioned when opening this:
"This is a topic for an advanced developer with a strong understanding of Django's transaction semantics."

zulip.readthedocs.io/en/latest/readme-symlink.html is helpful guidance on finding a way to contribute.

[2017-10-27 17:54] jayvdb opened #7191 "Exposed connected accounts"
Accounts which have external auth connected, it would be helpful to show them all, to the user but more importantly to other people.

As part of that, the model should allow for multiple connected accounts to be shown, possibly with user or realm choosing which connections should be shown.

This would be particularly helpful for Google Code-in, where the students are known to Google as one email a

[2017-10-27 17:56] timabbott commented on #7191
Is https://github.com/zulip/zulip/issues/1760 what you had in mind?  That's in progress but at the current rate, probably won't be done super soon.

[2017-10-27 18:03] jayvdb commented on #7191
Sort of, but I am more interested in just the verified connected accounts, which is a bit smaller use-case, and I am hoping that they would appear on the user popup, like gitter does.

[2017-10-27 18:21] #6834 closed

[2017-10-27 18:21] jayvdb commented on #7190
I havent ever uploaded an avatar into Zulip.  This is in the coala Zulip hosted instance. (But I also used the Wikimedia one during GSOC, if that is relevant.)

I registered into the coala instance with foo+zulip@gmail.com to get around the email address problem.
After using zulip, I added that email address to my gravatar account, with no effect.

[2017-10-27 18:27] timabbott commented on #7190
I see, interesting.  I wonder whether the issue is on the Gravatar side; if you haven't uploaded an avatar, we just query Gravatar using their standard hash algorithm for the email address.  Can you investigate that?

[2017-10-27 18:45] jayvdb commented on #7190
Hmm, I changed the picture again without obvious effect (logged out, logged in, no change, forced-refresh the page, no change, change streams, no change), then loaded the user popup, and then it changed, and on force reloading the page, all the other instances of the gravatar also changed.

[2017-10-27 18:54] timabbott commented on #7190
Interesting.  Well, 2 of the 3 things there make sense to me:
* Browser caching means you need to force-reload after changing your gravatar; makes sense if that's how gravatar.com has set their cache headers.  I'm not sure there's anything we can do about this, but it's worth looking to see if Gravatar has advice on this topic.
* Loading the user popup, we request a higher resolution from gravatar

[2017-10-27 18:57] jayvdb commented on #7190
Well force-reloading alone didnt work, which is why I initially thought it didnt work at all.  It was opening the user popup that did the job.

[2017-10-27 19:58] timabbott opened #7193 "Fix styling for missing/invalid/expired confirmation link errors"
This is what it looks like right now:

![image](https://user-images.githubusercontent.com/2746074/32122762-5d53bffc-bb16-11e7-8741-e59b97fd5d6b.png)

There's more we'll want to do to improve these errors (e.g. to distinguish missing from expired, etc.), but this is good for now.

[2017-10-27 20:08] #1180 closed

[2017-10-27 20:16] timabbott opened #7194 "Follow-ups for new invitations administration page"
Now that we have a new http://zulip.zulipdev.com:9991/#organization/invites-list-admin UI (#6931) merged, there's a few near-term follow-up projects we should do:
* [x] Add a link from the `#invites` (invite users modal) back to the administration UI.
* [x] Display in the new UI whether the user is invited as an administrator (recently added in #7015).  Might be able to do this in a compact way us

[2017-10-27 22:10] timabbott opened #7195 "webhooks: Import REQ and has_request_variables from zerver.lib.request"
A lot of our webhooks do `from zerver.decorator import REQ, has_request_variables`.  While that works, the code would be clearer if we imported these from `zerver.lib.request`, which is what actually defines those methods.

We should clean this up.

Also, JsonableError comes from `zerver.lib.exceptions`, in case that's relevant.

@eeshangarg can you take this one?  I think it'd be pretty fast for

[2017-10-27 22:10] timabbott commented on #7195
1cd017288d13c41eb5580c0f2dac5ccb0a129e4e does this for the non-webhook views.

[2017-10-27 22:28] timabbott opened #7197 "Fix tracebacks creating inactive users with do_create_user in `test_people`"
We currently get this exception when running `test_people`.  It's the indirect consequence of (1) the fact that `do_create_user` with `active=False` user still sends welcome PMs (etc.) to the user, which would normally fail, and (2) the fact that we now run the actual queue processor code by default in the test suite.  Here's the exception:

[code]

(it's cutoff, because `internal_send_message` do

[2017-10-27 23:00] hackerkid commented on #7194
I have to update #7027 to port this table to the new invite format.

#7027 have some mechanisam already to handle this

Looks like all most all the todos in this page are related to PRs that I am working on or have worked recently.  @timabbott If @Gyttegott is not planning to work on this I will take over this issue.

[2017-10-27 23:33] timabbott opened #7198 "Fix traceback error output from test_realm_scenarios"
I think this error output is the result of our having recently changed the queue processors to run the `consume` methods when `queue_json_publish` is called in tests.  Not sure yet.

[code]

[2017-10-28 00:11] #7072 closed

[2017-10-28 00:23] timabbott opened #7199 "certbot: Add cron job to run /root/certbot-auto frequently (following certbot docs)"
We should add a certbot renewal cron job.  I think to have this make sense, we'll need to do a few things:
* Make our `nginx` configuration compatible with one of certbot's renewal systems, so that we can renew the cert without downtime.  We could try using the `nginx` option, but it might actually be easier to do their `webroot` option, since that might be a simpler change to our `nginx` configur

[2017-10-28 00:25] timabbott commented on #1721
I think we can probably close this issue out as soon as the new option is documented.  I think we can't delete the docs we have for certbot already (you need them if you're going to do something yourself), but we can stuff them into prod-ssl.html.  I'll work on the docs part of things.

I just opened https://github.com/zulip/zulip/issues/7199, which we still need to do before this will have achiev

[2017-10-28 01:29] eeshangarg commented on #7195
@timabbott: Sure! :) I'll get this done.

@zulipbot claim

[2017-10-28 05:53] yashraj-Dhanuka commented on #7179
Thankyou for your time sir.
I will right away head to the link you provided

On 27 Oct 2017 11:23 pm, "Tim Abbott" <notifications@github.com> wrote:

@yashraj-Dhanuka <https://github.com/yashraj-dhanuka> you should find
another issue; as I mentioned when opening this:
"This is a topic for an advanced developer with a strong understanding of
Django's transaction semantics."

zulip.readthedocs.io/en

[2017-10-28 12:03] shubhamdhama commented on #6707
@zulipbot claim There is an issue in bootstrap https://github.com/twbs/bootstrap/issues/16201 where I got its solution from this [comment](https://github.com/twbs/bootstrap/issues/16201#issuecomment-260872271) and it really works and there is also a stackoverflow question regarding this where I got similar nice answer https://stackoverflow.com/a/17713753/7418550

[2017-10-28 14:06] showell commented on #7197
SInce `do_create_user` is production code, don't we need to be a little concerned about the race window where they're active before we deactivate them?  I'm a little confused by your recommendation.  It seems like you're suggesting the problem is the welcome message, so don't we want to simply suppress that if is_active is False?

[2017-10-28 15:41] timabbott commented on #7197
Hmm, maybe we need to do something a bit more complicated.  I am not sure it makes sense to just suppress the welcome message, because it's just a super weird API if creating a user that's initially inactive and then activating them produces a significantly different result from just creating a user (no initial pms, etc.).  I wonder whether we need an option to `internal_send_message` to allow sen

[2017-10-28 15:59] #1348 closed

[2017-10-28 16:40] ankit01ojha commented on #7089
@zulipbot claim

[2017-10-28 17:37] #7197 closed

[2017-10-28 17:44] #209 closed

[2017-10-28 17:51] timabbott opened #7205 "Share static asset caching across the various subdomains with multiple realms on a server"
Right now, for our static assets (CSS, JS, images), we generally serve them using a relative URL, e.g. sub.zulip.example.com.  We could probably noticably improve caching performance for people using multiple subdomains if we were to serve these files from zulip.example.com instead.

I think it should be possible to do something good here involving the `STATIC_URL` toolchain, but there's a lot of

[2017-10-28 21:03] abhijeetkaur opened #7209 "Modify welcome message when the count of unread messages is more than 5000"

[2017-10-29 01:30] Chaycej commented on #7209
@zulipbot claim

[2017-10-29 08:26] elenaoat commented on #6512
@zulipbot claim

[2017-10-29 08:46] rishig opened #7212 "compose: Adding an attachment, emoji, video link, etc should prepend a space if needed."
We currently have 4 different pieces of code that handle inline pasting of images, adding attachments, inserting emoji from the picker, and adding a video link (once https://github.com/zulip/zulip/pull/6083 is merged). They all do slightly different things, but we should unify them.

Tim code we used for the emoji picker as `compose_state.insert_syntax_and_focus`.  So we should plan to do 2 things

[2017-10-29 09:18] elenaoat commented on #7053
@zulipbot claim

[2017-10-29 15:03] elenaoat commented on #7212
Is this an issue on the desktop app?

[2017-10-29 15:11] elenaoat commented on #7212
@zulipbot claim

[2017-10-29 19:40] rishig opened #7216 "copy-paste: Add newlines between recipient blocks."
Copying and pasting across recipient blocks currently looks like
[code]

There should be newlines between the recipient blocks, i.e. above `announce > chat.zulip.org Today` and `commits > zulip / master Today`.

To reproduce just select a block of messages that spans a few recipient blocks, and Ctrl-c to copy and Ctrl-v to paste.

[2017-10-29 19:52] rishig opened #7217 "copy-paste: Copy the recipient bar if and only if selecting from more than one recipient block."
![image](https://user-images.githubusercontent.com/890911/32147560-c7066616-bca6-11e7-816d-e59265c63f97.png)

Copying the messages with bar and baz (select with mouse, and use Ctrl-c) gives
[code]

The desired behavior would be to also have `test here > recipient block 1 Today` up top.
Note that if you copy all three messages, it works as desired.

In the other direction: if you select messages fo

[2017-10-29 20:02] timabbott commented on #7194
@hackerkid go for it :)

[2017-10-29 20:03] timabbott commented on #7194
Ideally, try to avoid working on parts that need to stack on top of #7027, though, just because that's a larger PR that I haven't read in detail yet, so I don't know how much it'll need to change.

[2017-10-29 20:05] rishig commented on #7216
This seems to have been resolved? Can't repro. Was opened as follow-up to #6585. Closing.

[2017-10-29 20:05] #7216 closed

[2017-10-29 20:12] rishig commented on #7212
yeah, I think so, though I only checked on web.

After chatting with Tim, I think what we want is:
* The same behavior for in-line pasting of images, adding attachments, adding emoji from the emoji picker, and adding a video link. I'd just add a single function that all of them call.
* The behavior is: inserting the text at the cursor, adding a space after if there isn't one already, and adding a

[2017-10-29 20:27] timabbott opened #7219 "Replace HTML differ with lxml.html.diff/html_diff"
This is an issue to improve the algorithm we use for the "edit history" feature.

Currently, in `zerver/lib/html_diff.py`, we try to use Google's diff-match-patch library to diff HTML.  The problem is, it's a text differ, not an HTML differ, and so it ends up messing up the HTML tags.  We have code to handle this in some common cases in `zerver.lib.html_diff.py`, but it doesn't work well for cases

[2017-10-29 21:43] timabbott commented on #7216
I think it could potentially still be valuable to do something to make the boundaries stand out (I could imagine having a line of `--------`s, or a prefix, or something, but yeah, probably basically fine.

[2017-10-29 21:49] rishig commented on #7216
ah yeah, good idea. I guess this can be a part of our general "improve and document copy-paste" effort

[2017-10-30 01:35] timabbott commented on #7191
Makes sense.  I guess this is its own issue, but it's pretty interconnected with #1760.  This is probably not a small project, though.

[2017-10-30 02:14] PaigeWarmker commented on #7217
@zulipbot claim

[2017-10-30 04:21] umairwaheed commented on #9
Yeah, given that they already have a backend for this, the integration apparently looks easy, but like Tim said we haven't added a new backend using Social Auth so can be tricky.

[2017-10-30 04:21] umairwaheed commented on #9
@zulipbot claim.

[2017-10-30 06:34] YJDave commented on #5614
@rishig @gnprice PR #6513 is ready for review :)

[2017-10-30 06:35] YJDave commented on #1736
@akashnimare PR #7147 is ready for review :)

[2017-10-30 07:04] jayvdb opened #7223 "Welcome back message hangs"
I havent visited https://chat.zulip.org/ for about a year, probably before the 2016 GCI.

My window bar tells me I have 71098 unread messages.

I am now greeted with

With buttons for "Yes, please!" and "No, I'll catch up."

I accept, and the box hangs indefinitely (30 mins and counting) without any UI feedback as to what is happening.

When I open a new tab, the message re-appears.

Some UI impro

[2017-10-30 08:02] jayvdb commented on #374
On using email addresses, I see they appear a lot in the user interface so that would at least be consistent, and noticed https://github.com/zulip/zulip/issues/6902 which is a similar UI issue.

[2017-10-30 08:47] rht commented on #7199
Maybe both the `nginx` (https://github.com/zulip/zulip/blob/2d0daffbc0cb40f1136214b27ea0810edd62a89a/puppet/zulip/files/supervisor/conf.d/nginx.conf) and `cron` (https://github.com/zulip/zulip/blob/2d0daffbc0cb40f1136214b27ea0810edd62a89a/puppet/zulip/files/supervisor/conf.d/cron.conf) puppet setup can be repurposed for this.
cc: @galexrt

[2017-10-30 09:24] jayvdb opened #7224 "Document stopwords for full-text search (was "keyword phrase search returning OR instead of AND")"
According to https://github.com/zulip/zulip/blob/master/templates/zerver/help/search-for-messages.md#difference-between-keyword-key-phrase-and-key-phrase , `key phrase` should:

I guess that also means that additional words in the middle do not effect the results, but that should probably be clarified.

However, I tried searching for [`mention all`](https://chat.zulip.org/#narrow/search/mention.20

[2017-10-30 10:37] jayvdb opened #7226 "@all in commit messages reported by webhooks should not be mentions"
`@all` appearing in commit messages are being actioned as a real notification to everyone.

While developers should probably escape the `@all` in the commit message, there are no firm rules for how to escape in commit messages, and it will be occasionally forgot.

I logged into Zulip after a year and received around 10 notifications which were `@all` in commit messages.

The same problem can occur

[2017-10-30 15:35] sampritipanda commented on #7158
Related to #6984

[2017-10-30 15:53] sagar-kalra commented on #7126
@rht @timabbott i would like to take this issue.
Can you please help me with how to proceed by providing links to reequired documents?
Thank You

[2017-10-30 17:31] HarshitOnGitHub commented on #7219
@zulipbot claim

[2017-10-30 17:35] timabbott commented on #7226
@showell @gnprice  what are your thoughts on this?  I'm sympathetic to the problem, and I think it would not be hard to disable the `@all` syntax in certain webhook messages; but I am worried a bit about increasing complexity here, so it's worth thinking about whether we have any more clever ideas.

[2017-10-30 18:33] showell commented on #7226
I think the need justifies the little bit of complexity here.  I think all the passing-around-of-flags-to-disable-the-syntax could happen outside of Tornado, which makes things a bit less annoying than some of the other recent mention-related changes.

[2017-10-30 18:38] timabbott commented on #7226
Yeah, agreed, this is more of a markdown processor level thing.  #7045 is sorta related.

[2017-10-30 20:48] rishig opened #7229 "message feed: Unread counts don't go away for edited messages in changed topics."
The basic problem is the unread count not going away here:
![image](https://user-images.githubusercontent.com/890911/32194896-e6ee121c-bd78-11e7-8512-df9642873ed9.png)

Don't have a reproducer, but it has happened twice to me. More info at https://chat.zulip.org/#narrow/stream/issues/topic/unread.20count.20not.20going.20away.

[2017-10-30 21:09] timabbott commented on #3732
#7228 basically eliminates all this code; @HarshitOnGitHub do you think the italics->bold tag case is worth adding?  Regardless, I think we can close this issue at this point since #7228 eliminates most of the need.

[2017-10-30 21:09] #3732 closed

[2017-10-30 21:12] #7219 closed

[2017-10-30 21:17] HarshitOnGitHub commented on #3732
@timabbott `htmldiff()` largely ignores changes to the markup and this case is one of them. Quoting from lxml documentation:

So not worth adding a test.

[2017-10-30 21:19] timabbott commented on #3732
Sounds good :)

[2017-10-30 23:03] HarshitOnGitHub opened #7230 "popovers: Hide open popovers on navigating back."
Steps to reproduce:
*    Open settings and then close them.
*    Open emoji reaction modal,
*    Now go back using "back button in browser".

![image](https://user-images.githubusercontent.com/16687990/32199849-7f5815cc-bdf4-11e7-90f0-f2cf482eab51.png)

@shubhamdhama FYI, seems to be a good project for you. :)

[2017-10-30 23:07] shubhamdhama commented on #7230
Definately :) @zulipbot claim

[2017-10-31 00:15] timabbott commented on #7212
@elenaoat FYI, I just edited the description to have more implementation notes (and also added an initial version of the function, without the logic described above)

[2017-10-31 01:23] jayvdb commented on #7226
Some examples are https://github.com/zulip/zulip/commit/636f1d5523 and https://github.com/zulip/zulip/commit/07a156c400 .  This was a bit more annoying for me than the usual person as I had a years worth of these `@all` Zulip commit messages appearing at once ;-)

A temporary fix is to add a git commit check to require that "`@-`mentions" are backticked in the commit messages.

An easy workaround

[2017-10-31 01:50] gnprice commented on #7226
I haven't studied the relevant code, so my thoughts here will be a little abstract.

Is the current interface that when a webhook sends a message, it provides some Markdown?

It'd make a lot of sense to me to have a couple of different formats it can provide, where the default is maybe "Markdown but if I do an @-mention I don't mean it" and there's also "just Markdown" if a webhook wants to opt in

[2017-10-31 02:13] showell commented on #7226
It's possible that for source control webhooks we should just put the entire commit message in inline triple backticks.

[2017-10-31 02:56] jayvdb commented on #7226
That will work well for any project which enforces good commit guidelines, including line breaks, which should be most GCI orgs.
However for orgs without enforced line breaks, this would result in extremely long monospaced lines. ("for good or ill"; it might cause them to revise their commit rules)

[2017-10-31 04:12] timabbott commented on #7224
What's going on here is that "all" is a stopword for the search system and is thus being ignored, just like "the" would be, as useless (resulting in this just being a search for "mention").

We should probably just adjust the documentation to clarify this.  `/usr/share/postgresql/9.5/tsearch_data/english.stop` has the list of 127 stop words for English if we want to link to that in the docs, thoug

[2017-10-31 04:31] jayvdb commented on #7224
Often the UI will inform the user when it discards a stop word.

[2017-10-31 04:43] timabbott commented on #7224
Yeah, that's not a bad idea.  What approaches have you seen work well?  I feel like I'm used to just having the word disappear from the search terms?

[2017-10-31 05:13] jayvdb commented on #7224
Hmm, hard to find an example these days, as orgs who have good UI design now do not discard stop words.

iirc, Google Books used to have a small note that mentioned only the first of the stop words that was being ignored, and recommending the user put them in quotes if they wanted to include it in the search.

[2017-10-31 06:42] timabbott commented on #7226
Yeah, I'm not excited about putting the commit messages in code-blocks if we can avoid it; they're usually prose, and thus should be presented as prose.

Whatever we decide here should be pretty easy to implement with our webhook framework (there's just 1 function that does formatting for all of the version control code paths).

[2017-10-31 13:15] showell opened #7237 "Open user popover when you click on a name in the buddy menu."
See the discussion here:

https://chat.zulip.org/#narrow/stream/design/subject/click.20on.20right.20sidebar/near/307059

The current behavior when you click on a name in the buddy list is to narrow to messages that you've had with that person.  That can be surprising/disorienting to users.  Instead, it might make sense to just show the user popover, which gives more options, at the expense of an e

[2017-10-31 15:48] #7230 closed

[2017-10-31 16:07] #4084 closed

[2017-10-31 16:07] #7021 closed

[2017-10-31 16:10] shubhamdhama commented on #7237
@zulipbot claim , I've have some idea about how these things works, so I would like to work on this.

[2017-10-31 16:14] showell opened #7240 "Sweep force_bytes/force_str/force_text and replace with encode/decode."
Now that we're only on python3, we can probably do more idiomatic string-to-byte transformations in places (or avoid them altogether) by using things like `s.encode('utf8')`.

This is a good task for somebody who knows Unicode and python3 string semantics, but it doesn't necessarily require a deep understanding of our codebase (although in places you'll need to read the code carefully).

[2017-10-31 16:16] timabbott commented on #7240
I guess one argument for keeping `force_text` and `force_bytes` is that they are more readable and don't require someone to remember to specify `utf-8` everywhere.  @gnprice what are your thoughts?

[2017-10-31 16:23] showell commented on #7240
Just to give some context, I think these functions are kinda ugly in a non-straddling world, because they don't ensure type safety (all Union types with gross isinstance types).  In a pure python3 world, we should be mostly working in string space, so often we'll be avoiding these functions altogether, and where we do need to encode stuff into utf8 (or vice versa), I think we'll want to just follo

[2017-10-31 16:39] showell commented on #7240
Also, @timabbott, I agree with not wanting to specify utf8 in 99% of places.  I think there are a few places in the code where we want this to be explicit (like when dealing with tsearch offsets and doing heavy byte arithmetic), but mostly we can just let Python default it for us.

[code]

[2017-10-31 16:42] showell commented on #7237
@shubhamdhama You may want to discuss this on chat quickly, just so you don't too far down the wrong path.

You can join the conversation here:

https://chat.zulip.org/#narrow/stream/design/subject/click.20on.20right.20sidebar/near/307059

[2017-10-31 17:25] elenaoat commented on #7212
@timabbott Got it. Thanks.

[2017-10-31 18:02] elenaoat commented on #7212
As far as I see, adding an emoji and a video both use compose_state.insert_syntax_and_focus. That leaves it to 2 changes: the insertion of an image, and an insertion of an attachment.

[2017-10-31 18:05] timabbott commented on #7212
Sounds right to me :)

[2017-10-31 18:40] rosatamsen commented on #6358
@rishig It's actually matching _private messages_ with 'just' in their name or email regardless of whether we type it before or after the `sender:` operator. It seems like when the sender search operator is provided, it will move on to suggest private messages. If we provide the `pm-with:` operator instead, it will suggest senders. So it seems like it's running separate searches.

Other things I n

[2017-10-31 19:24] timabbott opened #7247 "markdown: Rewrite links to narrows on the current server to be relative links?"
Currently, when someone pastes a link to a narrow in the current Zulip server into Zulip, clicking the link uses `target=_blank`, and thus opens a new Zulip window.  It'd be really good if these just switched the relevant narrow in the current window instead.

[2017-10-31 19:35] tommyip commented on #7247
@zulipbot claim

[2017-10-31 19:49] tommyip commented on #7247
If the link does not point to a narrow we still want a new tab right?

[2017-10-31 19:49] synicalsyntax opened #7248 "message view: Top navbar covers lightbox in mobile view"
![img_5621](https://user-images.githubusercontent.com/15116870/32245675-b2c545e8-be39-11e7-83da-153f76f82858.PNG)

[2017-10-31 19:50] timabbott commented on #7247
I think if it starts with `https://chat.zulip.org#` (well, `realm.uri` is the variable for that first bit), same tab is probably correct.  I see no reason we shouldn't have linking to settings work the same.

[2017-10-31 19:51] tommyip commented on #7247
Oh sorry I meant links to external sites

[2017-10-31 19:55] timabbott commented on #7247
Yeah, links to external sites should still use `target=_blank`.  So I'm guessing implementing this will require passing in `realm.uri` to bugdown (if it's not handy already) and then having  `fixup_link` or something use that...

[2017-10-31 23:00] showell commented on #7140
Reopening, because this seemed to have not gotten merged:

https://github.com/zulip/zulip/pull/7143/commits/d126f9df4b59f50c4377ed11e90010297d8d9033#diff-96ea148dcd22c60ffdb097f113d5e4aaR1149

See also:

https://chat.zulip.org/#narrow/stream/integrations/subject/bot.20.40-mentions/near/307383

[2017-10-31 23:05] derAnfaenger opened #7251 "Limited settings scrolling on wide and short windows."
I have a browser window looking like this:

![image](https://user-images.githubusercontent.com/7950151/32252839-d3aa4b56-be97-11e7-9e08-5a033df0698d.png)

Due to the short window height (shorter than the settings page), I cannot fully scroll down the entire menu. In this case, I cannot scroll down to the "change/show api key" section. The same problem occurs for diferent settings panes.

[2017-10-31 23:29] brockwhittaker commented on #7251
@zulipbot claim.

[2017-11-01 01:36] #7149 closed

[2017-11-01 01:36] #7189 closed

[2017-11-01 12:16] rheaparekh commented on #7099
@zulipbot I am still working on this.

[2017-11-01 17:29] synicalsyntax opened #7254 "settings: Add reverse order to table sorting."
Currently, only ascending order sorting is supported in the Uploaded files tab. As a followup to #7221, reversible table sorting should be added to the Uploaded files table and other settings tables as well.

Also, the following lines should be removed as a part of resolving this issue:
https://github.com/zulip/zulip/blob/9a49072afe6b9e5e4ae2f0b0c7b933882592373e/static/js/list_render.js#L374-L377

[2017-11-01 17:57] AasthaGupta commented on #6900
@zulipbot  I couldn't give this time as I was busy with my internals(exams). I will work on this soon.

[2017-11-01 19:40] brockwhittaker commented on #7254
@zulipbot claim

[2017-11-01 19:59] tommyip commented on #7248
I don't have the navbar, maybe a iOS/safari issue?

Unrelated, but the bottom controls and thumbnail is half covered with no way of scrolling down.
![screenshot_20171101-195519](https://user-images.githubusercontent.com/18504232/32294675-c8097d24-bf3e-11e7-9bf3-ee6a26123c28.png)

[2017-11-01 20:25] #7251 closed

[2017-11-01 20:26] #7254 closed

[2017-11-01 20:45] brockwhittaker commented on #7248
@zulipbot claim.

[2017-11-01 23:03] PentaHiggs commented on #6488
@zulipbot claim

[2017-11-01 23:49] HarshitOnGitHub opened #7260 "settings: Convert dropdown for selecting emojiset to radio button group."
https://chat.zulip.org/#narrow/stream/design/subject/emoji.20format/near/307054

![image](https://user-images.githubusercontent.com/16687990/32303197-20311ee6-bf8d-11e7-875c-d2278c346d46.png)

@zulipbot label "enhancement" "area: settings (user)"
@zulipbot claim

[2017-11-02 01:36] rht commented on #7126
@sagar-kalra the first step is to maybe replace pip-compile with Pipenv, but for that I haven't found any documentation on how `-r common.txt` works in Pipenv, so perhaps you could investigate on that.

[2017-11-02 05:39] rht commented on #6962
This issue should have been closed, shouldn't it?

[2017-11-02 14:43] rm-1612 commented on #6490
@zulipbot claim

[2017-11-02 18:01] #6627 closed

[2017-11-02 19:25] ankit01ojha opened #7271 "We can have alias for running the local development environment, running test etc."
For running the local development environment(```after doing $ vagrant ssh```)  we need to write ```./tools/run-dev.py``` and ```tools/test-backend --coverage``` for running the full test. We could use alias' for them like Zstart( for running developer environment) , Ztest( for full test coverage) , Zdocs for documentation and others. And we can put it like this-
[code]

[2017-11-02 19:25] ankit01ojha commented on #7271
@timabbott what you think about this ?

[2017-11-02 19:26] ankit01ojha commented on #7271
@zulipbot claim

[2017-11-02 21:42] #7195 closed

[2017-11-02 21:47] gnprice opened #7274 ""Sign up with GitHub" shouldn't require setting email+password"
We have a nice shiny "Sign up with GitHub" button on the registration page. It works, in that it sends you through a GitHub OAuth flow -- but when you get back to Zulip, we then ask you to find a confirmation email and to set a password!

That feels pretty broken. I went through it myself just now while testing alias domains, and I agree with the user who [tweeted](https://twitter.com/Robb_Eesh/st

[2017-11-02 22:17] timabbott commented on #6962
@rht no, it's only a side mystery that's resolved.  For the memcached issue in particular, we still need to do something to have the random number not be included in the key, so that we de-duplicate properly.

[2017-11-02 22:19] timabbott commented on #7274
Did you test this symptom locally?  Because I think this user's problem was actually that if you click "Log in with Google/GitHub", and don't have an account, and click "continue to registration", we send you to the email/password registration flow, not the Oauth registration flow.

[2017-11-03 00:17] gnprice commented on #7274
That sounds like exactly what I observed when I tested with GitHub, but not
when I tested with Google -- with Google, I just set my display name (IIRC)
and was in.

This was locally on my dev instance. It's certainly possible some
confounding variable was involved.

​

[2017-11-03 01:08] sagar-kalra commented on #7126
i read about this
for installation  ``` pipenv install -r common.txt ```
Same as pip installation

[2017-11-03 01:16] showell commented on #6836
Still working on this.

[2017-11-03 01:16] showell commented on #7120
still on my list

[2017-11-03 01:49] rht commented on #7126
Could the `-r common.txt` be specified within the Pipfile? Do you have any URL that could be referenced?

[2017-11-03 11:41] Rishabh570 commented on #6802
yes...working on it...opened up a WIP PR #7245 ..it will done within this week

[2017-11-03 14:56] #7140 closed

[2017-11-03 15:56] rm-1612 commented on #6490
Hello everyone! I am new to open source and this is my first issue. Just wanted a little clarification regarding the first issue.
Am I supposed to mention the exact height and width in the css for the "chart-container" div element. Since different charts have different heights I was thinking if this is the scenario then I could provide a minimum-height for the container. Correct me if I am wrong.

[2017-11-03 17:00] tommyip commented on #7271
@ankit01ojha it is possible to provide your own shell config, see http://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html?highlight=custom_provision

[code]
Also bash has autocomplete so you don't need to type everything.

[2017-11-03 17:06] timabbott commented on #7271
I really like the idea of replacing the `motd` in the Vagrant environment with a list of popular commands and a link to the docs on what other commands might be useful.  But I would avoid the aliases; better to not have tools with 2 names.  So e.g.

[code]

Let's try that, and see how it goes?

(I think we just need to make the script in `Vagrantfile` copy the content to `/etc/motd`.

[2017-11-03 18:58] derAnfaenger opened #7280 "Unicode formatting broken for timezone change confirmation."
When changing my timezone to Europe/Prague, the confirmation message is broken:
![image](https://user-images.githubusercontent.com/7950151/32391144-4b637dda-c0d1-11e7-9b26-3e60a57218bb.png)

[2017-11-03 20:32] timabbott commented on #7280
Hmm, yeah, looks like double-HTML-escaping.

[2017-11-03 20:34] derAnfaenger commented on #6542
So I assume the goal here is to get coverage for all queue processors.
I had a look at some codepaths to see which ones were testable:

* EmbeddedBotWorker - submitted #7282 for complete coverage.
* OutgoingWebhookWorker - submitted #7282 for complete coverage.
* FetchLinksEmbedData - only one if-clause not covered:
              if message.content != event['message_content']:
                  re

[2017-11-03 21:37] timabbott commented on #6542
Nice writeup!

* I think for TestWorker, w can just add a `#nocoverage` comment on the function to tag it as not desiring coverage.
* `MessageSenderWorker` I took care of in eade4d00523bcc810a0d93f5a6075acdf1bd4452 and c3db9513f276db1bb83611b4a275a81a519d2ec6, so that the tests in `test_tornado.py` now cover this code path.  It's always nice to delete code and add test coverage for the production

[2017-11-03 22:24] lonerz commented on #4919
#4916 has an old implementation.

[2017-11-03 22:44] #7123 closed

[2017-11-04 02:16] sagar-kalra commented on #7126
@rht What we can do is install all dependencies of all .txt files in Pipfile and add it to our repository.
When a new user clones the repository they just have to do ``` pipenv install ``` and all the dependencies will automatically get installed.
https://robots.thoughtbot.com/how-to-manage-your-python-projects-with-pipenv

[2017-11-04 11:14] shreyanshdwivedi commented on #6714
@zulipbot claim , I am a newbie here.. @rishig I have reproduced the error. Can you please guide me how to proceed now?

[2017-11-04 14:38] shreyanshdwivedi commented on #6714
@rishig @synicalsyntax this issue prevails in "View your stream subscriptions" in "Streams and topics" section (in left-sidebar) too.. I am working on it and it would be very helpful if you can guide me..

[2017-11-04 17:29] graszka22 commented on #5268
@zulipbot claim

[2017-11-04 17:41] timabbott commented on #3123
Attaching a hacky implementation that @Shayan-To has been using that may be a useful resource:
[rtl.zip](https://github.com/zulip/zulip/files/1443439/rtl.1.zip)

This project still needs a volunteer to get it working in a mergable form.

[2017-11-04 17:45] #7099 closed

[2017-11-04 17:45] jainkuniya opened #7290 "Stream popover is not fully visible for streams which are at the bottom of stream list."
<img width="556" alt="screen shot 2017-11-04 at 10 29 39 pm" src="https://user-images.githubusercontent.com/18511177/32407943-f793cd5a-c1b5-11e7-8459-ae9ce6510302.png">

https://chat.zulip.org/#narrow/stream/frontend/topic/Stream.20popover.20is.20not.20fully.20visible

[2017-11-04 17:49] hackerkid commented on #7095
@zulipbot claim

[2017-11-04 18:38] Shayan-To commented on #3123
Anyone interested in using my hacky implementation (that Tim attached above ^^^), here's the instructions ([link to the conversation](https://chat.zulip.org/#narrow/stream/feedback/subject/rtl/near/309306)):

- Extract it to `/home/zulip/prod-static`.
- Run `add_to_app.sh` script (using bash).
- After each deploy (server upgrade), run `add_to_app.sh` script again.

[2017-11-05 02:27] timabbott commented on #7290
@brockwhittaker this should probably go on your list of test cases for work on popover positioning.

[2017-11-05 04:58] sarahcstringer commented on #670
Still wip... :)

[2017-11-05 04:58] sarahcstringer commented on #6511
Still working... :)

[2017-11-05 07:07] elenaoat commented on #7097
I can also reproduce the issue on Google Chrome. Could someone point where to look at?
I found, however, something in `navigate.js` where these events are defined:
[code]

[code]

[2017-11-05 07:07] elenaoat commented on #7097
@zulipbot claim

[2017-11-05 07:13] rht commented on #4284
I can be incentivized to complete this if there is a bounty for this.

[2017-11-05 13:43] wjkg commented on #5159
@zulipbot claim

[2017-11-05 18:44] borisyankov opened #7303 "Better notification sound"
Use a better sound for notifications.
The current sound is low-frequency, making it very hard to hear on low volumes and relatively rough at high. There are good reasons all other apps use notification sounds are high-pitched.

In addition, since we use the same sound in the mobile app, very rarely the sound is heard - desktops and laptops tend to have a higher audio volume than a phone.

There ar

[2017-11-06 03:08] Balaji2198 commented on #7303
@borisyankov If this is a Good First issue. I am ready to take this. May I know which sound is confirmed?

[2017-11-06 04:48] Balaji2198 commented on #6548
@rishig  @timabbott @showell  Shall I work on this issue?

[2017-11-06 07:17] sagar-kalra commented on #7126
@rht @timabbott Is this what you are looking for?

[2017-11-06 08:31] Balaji2198 commented on #6548
@zulipbot  claim

[2017-11-06 09:16] borisyankov commented on #7303
@Balaji2198 I think this is mostly a matter of discussion what sound should be picked and if the current one should be kept as an option.

[2017-11-06 09:42] Balaji2198 commented on #7303
@borisyankov  Thanks for the clarification.

[2017-11-06 12:33] ankit01ojha commented on #7089
@zulipbot  abandon

[2017-11-06 14:58] kriti21 commented on #7090
Can I take this issue ?

[2017-11-06 19:00] showell opened #7309 "Add unit tests for bot activate/reactivate scenarios."
This is split out from #7120.  We want to make sure bot reactivate/deactivate does the right thing for the right audiences:

* same person
* person who should not know
* admins

In particular we want to make sure both people.js and bot_data.js get updated correctly.

[2017-11-06 20:15] aripollak commented on #7189
Thank you so much for fixing this! I was about to try to patch it but now I don't have to :smile:

[2017-11-06 22:51] rosatamsen commented on #5265
@timabbott
I found a quick fix supported by the default readthedocs sphinx theme here https://github.com/rtfd/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/theme.conf#L8:1

But I also think the ToC is too large and it does need some reorganization. Ideally, it would be nice to get it down to somewhere between 10 - 15 sections so that everything can fit on one screen.

[2017-11-06 23:57] showell commented on #4220
@timabbott For this it seems like the best approach is a separate endpoint, since I think the use cases here will always be "hyrdation."  For example, we'll send down the mobile app a bunch of message ids as part of things like unread-counts data structure, and then the mobile app will only want full messages when it's ready.

Would it make sense to have a separate endpoint that only accepts messa

[2017-11-07 01:44] lonerz commented on #7090
@kriti21 it seems like @Riju19 is still working on this issue.

[2017-11-07 01:47] kriti21 commented on #7090
Okay

[2017-11-07 01:52] Riju19 commented on #7090
My pull request just needs to be reviewed. In case it doesn’t work, you can take over.

[2017-11-07 16:21] rosatamsen commented on #5265
@zulipbot claim

[2017-11-07 17:17] timabbott commented on #5265
Cool, that's helpful.  I think we could look at doing something similar to chat.zulip.org/help where we have sections that can expand/shrink.

[2017-11-07 17:52] #7120 closed

[2017-11-07 17:58] timabbott opened #7315 "Server-initiated reload notices are offscreen in development environment"
If you do `reload.initiate({immediate: true})`, the `"Reloading..."` notice is off the top of the screen.  I'm not sure whether other top-of-screen notices have the same problem.

@brockwhittaker can you investigate?

[2017-11-07 18:00] #7280 closed

[2017-11-07 18:52] showell commented on #4220
@timabbott @borisyankov I was pretty strongly favor of this concept at first, but I'm starting to wonder whether we really want to support this.

In some sense message_ids are kind of worthless to an app, since there's not much you can do with them until you make a second round trip to the server to get their content.

What makes more sense is to send the app summary information for upcoming searc

[2017-11-07 20:04] brockwhittaker commented on #7315
Can you take a screenshot? I can't repro this.

[2017-11-07 20:12] timabbott commented on #7315
OK, played with this, and it's kinda weird; I can only reproduce it in development.  I'll show you in person.

[2017-11-07 20:27] #5268 closed

[2017-11-07 21:01] brockwhittaker opened #7319 "popovers: Do not close popovers on incoming message."
Things like the emoji popover will close whenever a new message comes in, which could be particularly annoying in active streams where people are trying to view a profile or react to a new message.

This issue stems from the fact that when a new message appears, the page scrolls. Perhaps however if popovers are open, the page should **not** scroll with a new incoming message, but instead stay in i

[2017-11-07 21:12] showell commented on #7158
This is fixed on master.

[2017-11-07 21:12] brockwhittaker commented on #7319
@zulipbot claim.

[2017-11-07 21:13] showell commented on #6984
Fixed in master.

[2017-11-07 21:13] #6984 closed

[2017-11-07 21:23] rosatamsen commented on #5265
Yea that would be cool. In fact, I have to say I like the user documentation better than the developer documentation.

How come the dev docs have to be generated with sphinx and hosted on rtd? Why not just generate dev docs in the same way as user docs to get the same look and feel?

[2017-11-07 23:12] tulikavijay commented on #7076
@zulipbot claim

[2017-11-07 23:50] #7075 closed

[2017-11-07 23:58] timabbott commented on #5265
Well, the nice thing about ReadTheDocs is that it automatically updates when we push to master, keeps around old versions for older releases, etc.  So I'd like to keep using their infrastructure if we can.  We should possibly look at hosting with ReadTheDocs but have our own theme, rather than using the default one.  I haven't investigated how hard that would be to do.

@synicalsyntax FYI, you may

[2017-11-08 06:42] elenaoat commented on #7212
I am waiting for comments on how to write tests for it.

On Wed, Nov 8, 2017 at 1:34 AM, zulipbot <notifications@github.com> wrote:

[2017-11-08 14:01] vbNETonIce opened #7324 "design suggestion: no URL if image preview"
from [Zulip chat](https://chat.zulip.org/#narrow/stream/design/subject/no.20URL.20if.20image.20preview/near/314504)

Would it be possible to hide the URL link if it's pointing to a .gif, .webp or other image files? Our users are very font of sending gifs and it would look more natural and less cluttered if the blue URL wasn't showing in those cases.

here is a
![mockup comparison](https://user-ima

[2017-11-08 15:31] rishig opened #7325 "production installer: Add server script to sign up for push notifications."
Currently, in order to sign up for push notifications, server admins have to email a support address and wait for someone to service the request. It would be better for everyone to make this more automatic.

The task is to add a script `scripts/setup/register-server` that sends the EXTERNAL_HOST, ZULIP_ADMINISTRATOR, zulip_org_id, and zulip_org_key to an endpoint on zulipchat.com (like /remotes/re

[2017-11-08 18:10] timabbott commented on #7324
We should only do this in the event that the entire message is the link, but I think it's a great cleanup.

[2017-11-08 18:30] timabbott opened #7327 "Upgrade tools/test-help-documentation to verify /api-new docs too"
We might as well be checking for broken links here as well.

[2017-11-08 18:41] timabbott commented on #7271
https://www.howtogeek.com/104708/how-to-customize-ubuntus-message-of-the-day/ has advice on how to control this stuff.  We probably want to remove the original content.

[2017-11-08 19:05] rishig opened #7330 "integrations: Add voice chat."
We've been getting a lot of requests for a better voice (and maybe videochat) integration in Zulip. This issue is to look into how easy it would be to use the jitsi, or hangouts, or skype, or twilio, or something else's API to ring someone's computer within Zulip.

I think the UX we're looking for is:
* It's okay if there is a painful setup, i.e. both users have to create an account on some third

[2017-11-08 19:32] alirizwi commented on #7325
@zulipbot claim

[2017-11-08 21:37] #7319 closed

[2017-11-08 21:40] timabbott commented on #7045
@spaceywolfi just FYI, there's a PR for this, so it should be fixed very soon.

[2017-11-08 23:35] PaigeWarmker commented on #7217
I'm still working on this! It's just taken me a little longer than expected to get the development environment up and running.

[2017-11-09 01:33] spaceywolfi commented on #7045
@timabbott oh great! Thank you all! :+1

[2017-11-09 02:00] kriti21 commented on #7330
@zulipbot claim

[2017-11-09 02:36] timabbott opened #7336 "zendesk integration docs don't render"
Something is wrong with the `raw` tag, which looks to have a proper start/end in both places we use it; I don't see what on inspection but it's reproducible in development:

[code]

[2017-11-09 02:42] lonerz commented on #7217
@PaigeWarmker join us on [chat.zulip.org](https://chat.zulip.org/) if you need help setting up a dev environment!

[2017-11-09 17:57] #7045 closed

[2017-11-09 18:20] timabbott opened #7344 "Add a separate time limit for message deletion from message editing."
If an organization is configured to not allow users to edit older messages, we probably shouldn't let them completely delete messages, either?  This is a follow-up to #7049.

Tagging as a release-blocker since we should decide this before our next release.

While we're thinking about this, maybe we should change the limit from 30 minutes to a day.  I think that might work well for a wider range of

[2017-11-09 18:20] timabbott opened #7345 "Add user documentation for message deleting feature"
This is a follow-up to #7049.

We might want to wait for #7344 to be resolved so that we can document the final behavior.

[2017-11-09 18:21] #7049 closed

[2017-11-09 18:22] timabbott commented on #7345
We might also want to edit the text for the feature to be more clear about this as "permanent deletion".

[2017-11-09 19:16] rishig commented on #7344
Message edit limit is current 10 minutes, right? I think it should be changed to an hour?

How about the following?
Users can edit their messages for [:pencil2: 1 hour]
Users can delete their messages for [:pencil2: 1 hour]

where the 1 hour thing gives you a modal that allows you to change the time, and changing the value for either changes it for both?
Kind of inelegant, but maybe good enough fo

[2017-11-09 19:18] timabbott commented on #7344
A simpler change would just make the text say "Users can delete their messages (edit time limit, if any, applies)."

[2017-11-09 19:20] showell commented on #6836
Closing this.  There are still some small places where we always send full gravatar URLs to the client (e.g. add-user events), but we can refine those later.  Most of this was fixed in #7275 and other lead-up PRs.

[2017-11-09 19:20] #6836 closed

[2017-11-09 19:21] rishig commented on #7344
Agreed, let's do that :).

[2017-11-09 19:21] timabbott commented on #6836
@borisyankov FYI :)

[2017-11-09 19:23] showell commented on #7240
I did an initial code sweep, and I fixed all the "easy" cases.  The remaining cases here are going to require a significant amount of work, which is mostly a matter of getting good unit test coverage around changes.

[2017-11-09 19:41] showell commented on #7309
Closing this.  I did a lot of manual testing here, and everything seems fine.

[2017-11-09 19:41] #7309 closed

[2017-11-09 19:53] borisyankov commented on #6836
👍

[2017-11-09 20:21] #6380 closed

[2017-11-09 21:01] QuincyLarson opened #7348 "Search with access to history before you joined when not limited to a stream"
Here's a video of the issue that describes it much better than I can with text:

https://youtu.be/YkYW8-XZCHQ

I'm on Chrome Version 62.0.3202.89 (Official Build) (64-bit) on MacOS Sierra

[2017-11-09 21:05] showell commented on #7348
The issue here is that we set "include_history" to true only when search queries have a public stream filter in them.  If you search for a keyword without specifying a stream, we ignore historical hits, since we don't currently have an easy mechanism to filter out data from private streams on historical data.  (For non-historical searches, we can use UserMessage as part of our filter, so that's no

[2017-11-09 22:39] #7336 closed

[2017-11-09 22:49] timabbott commented on #7348
Yeah, so to spell our something Steve didn't quite explain, users have full access to their own personal message history (everything they've received since they joined; or really, since 1K messages before they joined, since that's what we prepopulate).  When searching within a public stream, they also have full access to that stream's history to the beginning of time.

The thing Steve is explainin

[2017-11-09 23:11] PentaHiggs commented on #2886
@zulipbot claim

[2017-11-09 23:19] PentaHiggs commented on #2886
This issue is indeed the same as issue #687.  Repeated asterisks, dashes, and underscore characters now produce a ```<hr>``` instead of causing trouble, so that is no longer a problem.  The client-side marked.js implementation actually already gets this right.  If you have ```>>>>```, the rightmost ```>``` is not interpreted as a blockquote, but instead as the contents of the blockquotes preceding

[2017-11-10 00:00] #7247 closed

[2017-11-10 00:09] timabbott commented on #6542
This is great progress.  Here's a few next steps to get this up towards 100%:
* For `MessageSenderWorker`, I think we just need to extend the tests in `test_tornado.py` for sending messages to include one that has an error case (at least for the `check_and_send_restart_signal` path).  Similar should work for `socket_user_agent`.
* The missing line in `SlowQueryWorker` should be an easy `with self.

[2017-11-10 01:42] showell commented on #7348
I think the syntax here is actually what users expect, and we need to change the behavior. :)

[2017-11-10 03:24] synicalsyntax opened #7349 "/teams/ page does not look nice on mobile"
![img_5645](https://user-images.githubusercontent.com/15116870/32641532-5034b84a-c583-11e7-9625-e67a5d6543f3.PNG)
![img_5646](https://user-images.githubusercontent.com/15116870/32641533-507317f2-c583-11e7-8612-06541ef50252.PNG)
![img_5647](https://user-images.githubusercontent.com/15116870/32641534-50ba692c-c583-11e7-8c25-6733f6f19701.PNG)

Picture 3: Overflow of GitHub username outside the box ou

[2017-11-10 09:22] HarshitOnGitHub commented on #213
@zulipbot claim

[2017-11-10 12:48] vbNETonIce opened #7351 "collapsed sidebars should open on hotkey press"
I'm experimenting with using Zulip in `side-bar mode` by narrowing the desktop client to the point that both side bars are collapse.

What I'm expecting is that when pressing `w` the buddy list would pop out with my cursor in the search field. Similar when hitting `q` the left pane should show with stream search in focus. That's not happen unfortunately. I'm forced to use mouse, click those corner

[2017-11-10 16:57] LuciusAterna opened #7352 "new issue function test. please delete this issue"
test

[2017-11-10 16:57] #7352 closed

[2017-11-10 17:58] tommyip commented on #7349
@zulipbot claim

[2017-11-10 18:18] rishig commented on #5978
+ dropbox paper style link pasting, perhaps. I.e. selecting some text and then <cmd+v> paste would turn `link text` into `[link text](https://google.com)` if the thing being pasted is a link.

[2017-11-10 19:02] timabbott commented on #7179
It turns out there was a bug with long-term idle, which I just fixed in 982bd9c38df65a547d76fbf0c0511db18ea4b1ac.  But I don't think that explains this issue, given the user in question was 5 days old and not long-term idle.

[2017-11-10 19:19] #7176 closed

[2017-11-10 19:22] timabbott opened #7354 "Move `tools/generate-custom-webfont-icon` to run as part of `update-prod-static`"
I've determined that tools/generate-custom-webfont-icon never produces the same output twice (probably there's a timestamp in there). Given that it only takes 300ms to run, I think we want to move this to the update-prod-static / static/generated system. I'll open a follow-up issue.

We should move it to work more like `tools/setup/build_pygments_data` where it gets run in `provision` and `update-

[2017-11-10 19:24] tommyip opened #7355 "Extend markdown engine to process jinja templates correctly"
Full discussion can be found from https://chat.zulip.org/#narrow/stream/issues/topic/.237336

cc @eeshangarg

From #7353

[2017-11-10 21:51] timabbott opened #7358 "private messages area in left sidebar doesn't scroll if you have too many"
I somehow ended up with more recent private message threads in my left sidebar than fit on my screen, and discovered it doesn't scroll properly.

[2017-11-10 22:18] timabbott opened #7360 "Add a test to test_docs to verify that all of our documents in /integrations render"
I thought we already had one, but we clearly don't, because we just had 3 issues where docs didn't render.

I think just making sure the HTML renders on the endpoint is enough.

Tagging this as a priority since it should be easy to fix and the outcome of not fixing it looks pretty bad.

@eeshangarg FYI.

[2017-11-10 23:47] #7360 closed

[2017-11-11 00:49] timabbott commented on #7097
I think we may not have custom code for this, and might need to add some.  @synicalsyntax @lonerz might be able to help here.

[2017-11-11 00:55] #6488 closed

[2017-11-11 01:10] #7260 closed

[2017-11-11 01:48] lonerz commented on #7097
This is an interesting problem here that doesn't have a clear solution.

Something that I can think of is that in `hotkey.js`, we can check if Pg+Up and Pg+Down are pressed when the compose textbox is focused and scroll the textbox manually--not sure how to do the scrolling manually though.

[2017-11-11 02:06] timabbott opened #7367 "Expand the "Usage" section of /api to cover a lot more endpoints"
The "Usage" section of the recently merged new /api site should be expanded to be 1 article per common things users want to do.

You can see how to interact with the API correctly in our Python bindings in https://github.com/zulip/python-zulip-api/, specifically under `zulip/zulip/examples/`.  And what you need to generate `curl` examples is in `zproject/urls.py` and the relevant view files; see h

[2017-11-11 02:27] rishig commented on #7345
This is already mostly documented, just needs a few tweaks: https://chat.zulip.org/help/edit-or-delete-a-message
https://chat.zulip.org/help/restrict-editing-of-old-messages-and-topics is the other page that'll need an update.

[2017-11-11 12:21] ihsavru commented on #7098
@zulipbot claim

[2017-11-11 19:35] rishig commented on #6377
I think the right long-term solution here is to have a one-click demo realm. Closing.

[2017-11-11 19:35] #6377 closed

[2017-11-12 10:37] rht commented on #7354
I have had a first attempt: https://github.com/rht/zulip/commit/db11a594b1770fc022a4bb227b4272243e12a6a9. Blocked by getting it to work at `update-prod-static` (see the build error at https://travis-ci.org/rht/zulip/jobs/300885264). I think a better strategy at `update-prod-static` is to copy the css file already generated when provision has been run, similar to `tools/setup/generate_zulip_bots_st

[2017-11-12 15:10] HarshitOnGitHub commented on #7093
Found a way to reproduce this without that commit, narrow to a stream and open settings overlay.

[2017-11-12 17:42] hackerkid opened #7374 "Clicking on edit for first bot in Bot List breaks the table"
Discussion here https://chat.zulip.org/#narrow/stream/issues/topic/bot.20list

![img](https://chat.zulip.org/user_uploads/2/97/_Qcq9JEdjzly1o7hJNhSx1dt/Screenshot-from-2017-11-12-17-01-45.png)

[2017-11-13 00:42] Tokixix commented on #6358
@zulipbot claim

[2017-11-13 02:53] rishig commented on #7344
hm, the two settings are actually independent, though. I.e. you could have: users are not allowed to edit their messages, but users are allowed to delete their messages. In that case this wording is a bit ambiguous.

[2017-11-13 17:58] shubhamdhama commented on #5920
@zulipbot claim

[2017-11-13 18:28] tulikavijay commented on #7076
@timabbott sorry i had my exams so I couldn't work on this. Also I am having a slight issue that I can't figure out. Everything is being translated except the variables which are closely spaced like __bold____streamname___ .

[2017-11-13 20:10] timabbott opened #7380 "Add real-type sync for user mention groups"
We just merged #6660, which is exciting, but there's more work needed before user groups will work well; this issue and #7381 should cover what's left.

Currently, when a new user group is created (one can do it on the management shell with `check_add_user_group`), or its name or description is modified, we don't send an event to the frontend to notify the client.  We should do that, so that users

[2017-11-13 20:13] timabbott opened #7381 "Add marked.js frontend markdown rendering for user groups"
We just merged #6660, which is exciting, but there's more work needed before user groups will work well.

Right now, when you send a message to a user group, it has a brief flicker where the user group is rendered as normal italic text by the frontend markdown processor, before being fixed by the backend processor.  See https://zulip.readthedocs.io/en/latest/markdown.html for details on how this w

[2017-11-14 01:56] timabbott commented on #7354
@rht no, we should do the same thing we do with `katex` for copying the file.

The problem is your assumption is wrong.  `update-prod-static` is used for production servers, including `upgrade-zulip-from-git` and `build-release-tarball`, and in neither case is `provision` run before on that copy of zulip.git.

[2017-11-14 04:16] umairwaheed commented on #7380
@zulipbot claim

[2017-11-14 04:17] umairwaheed commented on #7381
@zulipbot claim.

[2017-11-14 17:05] alenavolk commented on #7066
@zulipbot claim

[2017-11-14 18:42] timabbott opened #7387 "Upgrade to mypy 0.550"
http://mypy-lang.blogspot.com/2017/11/mypy-0550-released.html

@neiljp are you interested in picking this up?

[2017-11-14 19:12] timabbott commented on #7351
Fix merged, thanks for the suggestion @vbNETonIce!

[2017-11-14 19:12] #7351 closed

[2017-11-14 19:20] florianjuengermann commented on #5920
@shubhamdhama I also played around with this feature and have it working for the left sidebar (stream filter). A just forgot to claim. What is your current status? Maybe we can collaborate on this issue.

[2017-11-14 19:39] synicalsyntax commented on #7358
Isn't this a duplicate of #5384?

[2017-11-14 19:44] timabbott commented on #7358
Quite so, closing.

[2017-11-14 19:44] #7358 closed

[2017-11-14 23:29] #7085 closed

[2017-11-14 23:51] rishig opened #7388 "docs: Write or find a good guide on submitting bug reports."
There are a lot of common errors folks new to open source make in reporting bugs, e.g.
* Saying some variant of "it doesn't work" without giving enough information for us to help them
* Minor things like pasting screenshots of error messages rather than the error messages themselves

etc. We have a preliminary version of a guide at http://zulip.readthedocs.io/en/latest/bug-reports.html. The two li

[2017-11-15 05:07] shreyanshdwivedi commented on #6714
@zulipbot abandon

On Nov 15, 2017 10:07 AM, "zulipbot" <notifications@github.com> wrote:

[2017-11-15 13:30] showell commented on #6900
still working

[2017-11-15 17:58] timabbott opened #7395 "/api page CSS issues"
We just moved our documentation for writing bots into /api in #7392; this lists some CSS bugs

* [ ] The multi-line bold section here is oddly not wrapped automatically:
![image](https://user-images.githubusercontent.com/2746074/32851853-0b1664fe-c9eb-11e7-8a4d-b7f47eaa2270.png)
* [ ] The pagedown key on /api/writing-bots moves much less than one would expect.
* [ ] This multi-line code block look

[2017-11-15 18:21] timabbott commented on #7327
Fixed in e85d0747d4c2a79f8e79be0aa80c6d226b51ca19

[2017-11-15 18:21] #7327 closed

[2017-11-15 18:33] sroy8091 commented on #6862
The PR #6987 has merge conflicts regarding this issue. Just want to know was those resolved or not?

[2017-11-15 18:35] sroy8091 commented on #7388
@zulipbot claim

[2017-11-15 18:37] synicalsyntax commented on #6862
Hey @sroy8091, I'm currently not working on that PR. You can take this issue if you'd like, but make sure to note the issue discussion in that PR's comments (resolving this issue would involve migrating that backend template to a Handlebars template)

[2017-11-15 18:41] timabbott opened #7396 "Fix minor translation bugs"
One gets this output from `manage.py makemessages` right now:

[code]

[2017-11-15 19:00] timabbott commented on #7098
We now have the Python codebase down to 110; I think that's a good place to stop for now on the Python codebase (going down to 100, which is the furthest I'd consider going, would be a lot of work (requiring changes in 400 places) and might not be an improvement to readability).

So the remainder of this issue is about the JS codebase.

[2017-11-15 19:06] timabbott commented on #6714
@brockwhittaker can you investigate this bug while fixing the other CSS/JS issues with the /help and /api pages?

[2017-11-15 19:24] timabbott opened #7398 "JS errors in overlays library"
We appear to have some bug in how the overlays state is being managed (I've also seen a varient with settings/settings).  I'm not sure if this has any user-facing impact.  @brockwhittaker FYI.

[code]

[2017-11-15 22:05] #4542 closed

[2017-11-15 22:09] timabbott opened #7401 "Move integrations-related code out of `app_filters.py`"
Following up on #6904 and in particular 3b53c692a4a65a78f460caee8aa5597405a3a75d, I think we could make the interfaces here a lot less messy if we moved the integration section of `render_markdown_path` in `app_filters.py` into the `integration_doc.py`  method in `zerver/views/integrations.py`.  While we're doing that, there's a two messy things we can clean up:

* The thing marked as a `HACK` wit

[2017-11-15 22:12] timabbott opened #7402 "Document remaining Hubot integrations"
This is a follow-up to #4542; now that we have the framework there, we should just need to move the remaining `HUBOT_INTEGRATIONS_LEGACY` items into `HUBOT_INTEGRATIONS`.  I imagine @AasthaGupta since it's a follow-up to the Assemble integration work :).

[2017-11-15 23:26] rheaparekh commented on #7396
@zulipbot claim

[2017-11-16 00:38] timabbott opened #7405 "Document night mode"
Night mode is an experimental feature that we expect to be no longer experimental for our next release.

It's not really ready to QA yet (i.e. there's lots of known bugs), but I'm opening a release-blocker issue for documenting it to make sure we don't forget to do so.

[2017-11-16 00:47] #267 closed

[2017-11-16 01:00] #6795 closed

[2017-11-16 01:05] timabbott opened #7406 "Merge "emoji as text" setting into the "emoji style" picker"
We should just make "plain text" a 5th style along with Google/Apple/Etc. in the settings UI.

To do this, we need to do a few things:
* Pick a new value (probably something like ("text", "Plain text")) as the key to use in EMOJI_CHOICES.
* Add a database migration to convert anyone who has the setting set to instead have the new value set on EMOJI_CHOICES.
* Refactor the frontend UI code to use t

[2017-11-16 01:11] #7349 closed

[2017-11-16 01:14] timabbott commented on #7354
@rht can you prioritize fixing your implementation?

[2017-11-16 02:49] rht commented on #7354
OK

[2017-11-16 03:16] rht commented on #7354
Requesting advice from @pweaver: I can't run the `./tools/generate-custom-icon-webfont` inside of `update-prod-static` because the `node_modules` directory is removed during the `setup_node_modules` step. To make the approach similar to `katex`, should `./tools/generate-custom-icon-webfont` be moved into a step in package.json instead?

[2017-11-16 04:33] pweaver commented on #7354
Are you sure you are not getting the error because the     "webfonts-generator" package is in devDependencies rather than dependencies?

[2017-11-16 04:43] pweaver commented on #7354
Also, the references in settings.py need to be updated.

[2017-11-16 05:02] AasthaGupta commented on #7406
@zulipbot claim

[2017-11-16 05:03] AasthaGupta commented on #7402
@zulipbot claim

[2017-11-16 06:14] rht commented on #7354
Oh, actually the fix is to just add `webfonts-generator` to prod dependencies list in `package.json`.

[2017-11-16 06:14] rht commented on #7354
@pweaver just saw your comments, right, thanks a lot !

[2017-11-16 06:25] timabbott commented on #4485
@showell I think this one might have been resolved; can you confirm?  It seems like we changed it from an ID to a class, and it's no longer used in click handlers....

[2017-11-16 06:26] timabbott commented on #6065
@vbNETonIce I think it's possible we might have fixed this in 1.7 and forgot to close this issue; can you test easily?

[2017-11-16 06:32] timabbott commented on #4436
Closing this since we're now using a new enough version of perfectScrollbar, and #4436 covers using that in more places.

[2017-11-16 06:32] #4436 closed

[2017-11-16 06:33] timabbott commented on #4441
We've converted all the things listed here to use perfectScrollbar, so I'm closing this.

[2017-11-16 06:33] #4441 closed

[2017-11-16 06:34] timabbott commented on #5061
@hackerkid maybe we should do some of these before GCI starts?

[2017-11-16 06:38] #7380 closed

[2017-11-16 06:43] timabbott commented on #7131
@darshanime just following up on this; I think it should be a quick fix if you have a chance to test it.  I'd love to get this resolved in the next week (since a lot of people may be testing this soon after that).

[2017-11-16 06:44] #6116 closed

[2017-11-16 11:38] jmandel opened #7411 "Allow editing of outgoing webhook URLs"
The "Edit bot" form doesn't provide a way to change the outgoing webhook URL for a bot. This means that changing a URL requires deleting a bot and re-creating. But zulip's UI doesn't allow deletion of bot... which means the only workaround is "suspending" a bot and creating a new one with a different id. That means the bot's name can't match its id, which leads to confusion (e.g. sending a message

[2017-11-16 13:01] derAnfaenger opened #7412 "Unnecessary border around logo in /api."
The border surrounding the zulip logo and "Zulip community" in https://chat.zulip.org/api feels unnecessary. Or at least the separator between the icon and the text.

![image](https://user-images.githubusercontent.com/7950151/32892484-a4f715d2-cad6-11e7-8f88-10b25fce5ee6.png)

[2017-11-16 13:52] darshanime commented on #7131
i'll check this out today, thanks!

[2017-11-16 16:24] timabbott commented on #7412
I think we do need some sort of border around it, because it appears in a range of contexts (e.g. see /apps) with different backgrounds.  But I think we could consider removing the `|` between the Z and the "Zulip community"; what do you think @brockwhittaker?

[2017-11-16 17:16] #4485 closed

[2017-11-16 17:28] derAnfaenger commented on #7411
Yeah, this is a good issue. We have #5665 for this, but it would need to be rebase and refactored a bit.

[2017-11-16 17:48] #5265 closed

[2017-11-16 19:06] #7396 closed

[2017-11-16 19:11] brockwhittaker commented on #7412
Yeah, I think we should just remove the internal border.

[2017-11-16 19:21] synicalsyntax commented on #7412
![screenshot at nov 16 11-19-43](https://user-images.githubusercontent.com/15116870/32911136-1de6b9a0-cac0-11e7-9ec4-1d28c8d79509.png)

Don't think I see a noticeable difference though?

[2017-11-16 20:50] timabbott opened #7416 "Add an index to our developer documentation"
Following #7326, we should figure out how to have the "index" page listed at the top of bottom of the outer layer of the sidebar (e.g. under "Translating"), since an index with all the headings in our ReadTheDocs can be super helpful for searching for whether X is documented.

Tagging this as a priority since searchability is pretty important.

[2017-11-16 20:58] timabbott opened #7417 "Clean out articles not referenced in the developer documentation TOC"
This is a plan for how to clean up the remaining files in our ReadTheDocs that aren't properly managedin the TOC.

We should probably just delete these:
* /home/tabbott/zulip/docs/brief-install-vagrant-dev.md

We should just add these to the TOC:
* /home/tabbott/zulip/docs/code-of-conduct.md: maybe move it to contributing/
* /home/tabbott/zulip/docs/migration-renumbering.md: Move to subsystems/
*

[2017-11-16 21:47] wjkg commented on #5159
I'm still working on this issue.

[2017-11-16 21:57] akashnimare commented on #5978
I don't if it's related or not - On some sites (Quora etc) if you paste a link in input box then it will be converted to the title. Would it make sense to add the same feature in our compose box?

<img src="https://d26dzxoao6i3hh.cloudfront.net/items/400z21382I1C0t3N003n/Screen%20Recording%202017-11-17%20at%2003.23%20AM.gif?v=bc99a035"/>

[2017-11-16 22:02] timabbott commented on #5978
Hmm, that's a bit harder, but probably totally doable as an extension on this.

I think starting on a system for this sort of thing would be a great project, so tagging it as a priority.

[2017-11-16 22:19] alirizwi commented on #7395
@zulipbot claim

[2017-11-16 22:35] #7022 closed

[2017-11-16 23:14] timabbott opened #7423 "Remove puppet-apt and puppet-stdlib from our project"
We have checked in the third-party puppetlabs puppet-apt and puppet-stdlib projects.  While part of the puppet standard packages, these modules are pretty crappy, don't work with Puppet 3 (which we'll need to support for a few more years), and aren't adding a ton of value (we literally just use them to manage a few files in an apt repository).  So we should probably just kill them and do it manual

[2017-11-16 23:21] alirizwi commented on #7395
@timabbott Do I need to change the code block to normal text for this particular heading or for all headings containg code blocks?

[2017-11-16 23:24] timabbott commented on #7395
I would just change the general style.

[2017-11-17 00:04] timabbott commented on #7412
This was fixed in 16d06c6a78671522aac4c33b045ddd45cd293f06 (looks like @brockwhittaker forgot to tag the issue).

[2017-11-17 00:04] #7412 closed

[2017-11-17 06:59] #670 closed

[2017-11-17 07:05] timabbott commented on #7374
Tagging this as a priority, since this seems like something that will happen often.

@brockwhittaker can you investigate?

[2017-11-17 07:06] timabbott commented on #7076
@umairwaheed can you help debug this?

[2017-11-17 07:57] YJDave commented on #5978
@zulipbot claim

[2017-11-17 10:15] Balaji2198 commented on #7417
@zulipbot  claim

[2017-11-17 14:22] sroy8091 commented on #6018
Can I take this issue? @rishig

[2017-11-17 14:24] tommyip commented on #6018
Sure go for it! Just comment `@zulipbot claim`.

[2017-11-17 14:25] sroy8091 commented on #6018
@zulipbot claim

[2017-11-17 16:42] rosatamsen commented on #7416
I think it's already easy to access the index by clicking on the home icon, but perhaps we could make it a bit more noticeable if we change it from <img width="81" alt="screen shot 2017-11-17 at 9 53 38 am" src="https://user-images.githubusercontent.com/2343554/32956019-3cc37dc8-cb7d-11e7-8956-b1eef199510e.png"> to something like <img width="127" alt="screen shot 2017-11-17 at 9 51 23 am" src="htt

[2017-11-17 17:27] sroy8091 commented on #6018
there is one create_realm. so this will be only for testing purpose?
What exactly is the difference?

[2017-11-17 17:58] #7248 closed

[2017-11-17 18:57] timabbott opened #7432 "Add anchor links to make it easy to link to sections of our /help and /api docs"
Currently, it's kinda annoying to figure out what the right URL is for a given link.

[2017-11-17 18:57] timabbott commented on #7432
@brockwhittaker @synicalsyntax do either of you know how this is usually done?

[2017-11-17 19:23] sarahcstringer commented on #6511
@rishig -- I think I'm mostly done with getting this feature working, but I had a question about how the emails should be sent. It looks currently like missed message emails are grouped by topic. For this setting, if a user enables stream emails, do we want to group missed message emails by stream itself, regardless of topic? Or still by stream and topic?
Thanks!

[2017-11-17 19:27] timabbott commented on #6511
I'd probably still group by topic, because if you want to reply, that's probably what makes sense.

[2017-11-17 19:28] sarahcstringer commented on #6511
Sounds good, thanks!

[2017-11-17 19:31] sroy8091 commented on #6714
Can I work on this @timabbott Actually I solved this already

[2017-11-17 19:32] timabbott commented on #6714
Yep, claim it and submit a PR :)

[2017-11-17 19:33] sroy8091 commented on #6714
Can I work on this @timabbott. Actually I already solved it.

[2017-11-17 19:33] sroy8091 commented on #6714
Okay

[2017-11-17 19:42] #2886 closed

[2017-11-17 19:56] synicalsyntax commented on #7432
Yeah, each heading has an ID attribute that you can use to link. Are you looking for some UI option where hovering over a heading produces a link icon, and clicking on the link icon copies the anchor link?

![screenshot at nov 17 11-55-11](https://user-images.githubusercontent.com/15116870/32966311-45a40b7c-cb8e-11e7-88e9-6f0ef56aba42.png)

Similar to how GitHub docs work ^^^

[2017-11-17 19:57] timabbott commented on #7432
Yeah, exactly.  Either on the left or right end of a heading.

[2017-11-17 19:58] timabbott commented on #7416
I think maybe putting [Docs Index] at the bottom would be a good balance; @gnprice since we were discussing this yesterday, what do you think?

[2017-11-17 20:29] rosatamsen commented on #7416
Yea at the bottom looks good to me as well, but maybe "Index Page" would be better?

<img width="207" alt="screen shot 2017-11-17 at 2 26 52 pm" src="https://user-images.githubusercontent.com/2343554/32967521-874bf034-cba3-11e7-8580-4bde0a9a8756.png">

[2017-11-17 20:39] alirizwi commented on #7395
@timabbott for the multi line code blocks, extra space is appearing due to 2 space indentation. How to fix this?

[2017-11-17 20:46] timabbott commented on #7395
That might be a CSS issue that @brockwhittaker can help investigate?

[2017-11-17 20:47] timabbott commented on #7416
Yeah, that seems pretty reasonable.  The other idea I've been playing with is having a few articles (mostly things in "Overview") pulled out to top-level.  Want to think about that after splitting "subsystems", though.

[2017-11-18 06:35] rishig commented on #6018
The difference is that this will, on just 1 click, dump you into the newly created realm. Whereas with create_realm it is a long registration process you have to do by hand.

[2017-11-18 07:34] AasthaGupta commented on #7406
![image](https://user-images.githubusercontent.com/15193262/32978079-bda6a03a-cc60-11e7-8a27-97dd70a050d1.png)
@timabbott
What should I dislplay for plain text because displaying texts for all 4 emojis will not look good?

[2017-11-18 18:29] sroy8091 commented on #7388
@zulipbot abandon

[2017-11-18 19:18] trueskawka opened #7441 "iOS - Chrome identified as Safari"
After a failed login in Chrome on iOS, I got an email in which the device was identified as `Safari on iOS`.

[code]
I also noticed this behavior with other apps, most recently with [Piskel App](https://www.piskelapp.com/) - Chrome is incorrectly identified as Safari.

I'm wondering if it's even worth fixing, since it's a marginal user behavior, nonetheless might be a nice small issue.

[2017-11-18 23:06] Be-ing opened #7443 "have to scroll to bottom repeatedly after not logging in for a long time"
I logged into Zulip after not looking at it for several weeks. When I came back, I had to repeatedly scroll to the bottom of my Home view, wait for more comments to load, then scroll again and repeat the process many times to get to the most recent messages. @synicalsyntax mentioned that there should be a dialog that pops up on login in this case and asks whether the user wants to jump to the bott

[2017-11-18 23:06] timabbott commented on #7441
This seems totally worth fixing.  To fix this, just get the User-agent for the browser.  We can add it to the tests in `zerver/tests/test_new_users.py` and the edit the code in `zerver/signals.py` to detect this correctly.

[2017-11-18 23:20] timabbott commented on #7406
I'd probably just do `:thumbs_up:` (i.e. just one example emoji) there.  I think folks will be able to figure it out from there.

I'd also sort it as the last one in the list.

[2017-11-18 23:24] timabbott commented on #7443
This is a good idea.  But just a note: You can also use the `End` key to mark everything as read.

I think the dialog is currently disabled on some server; @showell we should probably work on making that no longer something folks might need to do.

[2017-11-18 23:24] Be-ing commented on #7443
Yes, but keyboard shortcuts aren't easily discoverable.

[2017-11-18 23:43] Be-ing commented on #7330
I think it would be a shame if this relied on a third party proprietary solution. I think Jitsi would be a good choice.

[2017-11-18 23:44] timabbott commented on #7330
@Be-ing we actually already have a Jitsi integration.  Jitsi doesn't currently support ringing, so we'd need to add something.  But I think whatever we're doing with third-party video chat things, I'd expect us to also support Jitsi alongside them if possible.

[2017-11-19 03:46] eeshangarg commented on #7401
I'll probably make this the next thing I work on after I wrap up some current projects! :)

[2017-11-19 04:00] eeshangarg commented on #7401
Actually, I might tackle this one sooner since the its prioritised as "high" :)

[2017-11-19 07:57] rishig commented on #7406
Cool, thanks for working on this! Let's make the order: Google, Apple, Twitter, Emoji One, Plain text
Google first, since that's the default, and then ordering the rest by popularity.

Let's also make the first emoji the one for "relaxed", since we're changing to that one for our main smile.

[2017-11-19 09:25] shubhamdhama commented on #7441
@zulipbot claim

[2017-11-19 12:32] akashnimare commented on #5978
@YJDave for macOS please use <kbd> CMD </kbd> and for linux/Windows - <kbd>CTRL</kbd>.

[2017-11-19 19:41] sroy8091 commented on #6018
Why should we not use the logic in zilencer/management/commands/add_new_realm.py to create random realm with random user? @rishig

[2017-11-19 19:52] rishig commented on #6018
The logic in the zilencer commands is not as easy to maintain -- it can easily lead to a situation where someone changes the account_register code and forgets to change the zilencer code.

The long term strategy here is probably to have a single function, like do_create_realm_with_user, that all of these functions can call. But until that is done, I think using the confirmation pathway is the next

[2017-11-20 01:07] #7441 closed

[2017-11-20 01:23] rishig opened #7446 "invite modal: Change "Users join as" into a checkbox."
The "Users join as" is too prominent in our current invite modal, and puts the two options at too equal a level:
![image](https://user-images.githubusercontent.com/890911/32998235-2852cace-cd4e-11e7-808e-7cbb15373332.png)

It would instead be better to do the following
[code]
where the `[ ]` is a checkbox.

Original discussion at https://chat.zulip.org/#narrow/stream/design/topic/users.20join.20as

[2017-11-20 04:39] rishig opened #7449 "user docs: Add doc for "Video calls"."
We should add a user doc in the "Sending messages" section called "Video calls", that explains how to use the jitsi link integration.

The way you use it is by clicking the video camera icon near the bottom left of this picture, which is of the compose box:
![image](https://user-images.githubusercontent.com/890911/33002532-a6019e30-cd69-11e7-80cc-69dcac5fcdb6.png)

[2017-11-20 04:51] #7401 closed

[2017-11-20 05:21] YJDave commented on #5978
I will keep this in mind :+1:

[2017-11-20 05:51] YJDave commented on #6362
@zulipbot claim

[2017-11-20 05:58] rishig commented on #6316
Sorry for dropping this! Replying anyway in case you or someone else gets the chance to look at this.

For Mac, I believe Ctrl+click should work, though I also don't have a mac to test it out on.

For tackling this issue in the future, I would start with adding the user documentation and/or doing #1 in the issue description, which are a bit better specified.

[2017-11-20 06:54] Chaycej commented on #7446
@zulipbot claim

[2017-11-20 07:39] umairwaheed commented on #165
I think from the point of view of the backend, we need to finish https://github.com/zulip/zulip/issues/7381. On the frontend side, we need to create the UI to manage groups.

[2017-11-20 15:15] roberthoenig opened #7454 "desktop notifications: Empty topic name."
Desktop notifications are displaying an empty topic name.
This occurred on Chrome/Windows 10.
![image](https://user-images.githubusercontent.com/7950151/33025242-bfa6c3d4-ce0d-11e7-98d5-8646ec854a08.png)

[2017-11-20 15:35] showell opened #7455 "Make compose-box emoji modal's bottom line opaque."
In order to reproduce this, use FF and set the zoom to 90%:

![image](https://user-images.githubusercontent.com/142908/33026268-eb2591d2-cdc4-11e7-8450-10a3b4b1899d.png)

If you open the emoji modal at 90% zoom, and then select one of the emojis, you'll see stuff leaking through the bottom line, as shown in the image above.

Here is the place where it's too transparent:

![image](https://user-imag

[2017-11-20 17:22] timabbott commented on #165
@synicalsyntax is working on the UI, so if you can finish #7381 we should be in great shape on this :)

[2017-11-20 18:38] hackerkid commented on #3989
@zulipbot claim

[2017-11-20 18:42] #4733 closed

[2017-11-20 18:52] rheaparekh commented on #7387
@zulipbot claim

[2017-11-20 19:01] timabbott commented on #7454
Tagging this as a priority bug.

If you want to try debugging interactively, `static/js/notifications.js` is the code, and using 2 browser windows (one in an incognito tab) is a great way to reproduce this sort of thing in development.

[2017-11-20 20:20] rishig commented on #6534
Thanks for your work on this, and sorry for missing the comment! Let's remove the `#` syntax for IRC mirror streams, and leave as followup a way to denote streams are IRC mirrors.

The relevant discussion is at https://chat.zulip.org/#narrow/stream/development.20help/topic/irc.20mirror.20streams.

[2017-11-20 20:57] timabbott opened #7459 "Fix home screen notification unread counts in the mobile apps"
Currently, we can't really maintain the data for the PM/mention unread count badges on mobile home screens correct.  While this sounds like a mobile, it's actually a backend issue.

For iOS, it's pretty simple: Whenever you send a push notification to the device, you're supposed to include the current count.  This includes sending a push to set the count back to 0 if e.g. the user reads the messag

[2017-11-20 21:14] timabbott opened #7460 "Use a queue with retry support for sending new-login emails"
We just got this exception (basically a transient network error trying to send email), which I think prevented the user in question from logging in:

[code]

I think the right fix for this is to just move new-login emails to be sent using a queue, like many of our other emails are.  Ideally, we'd move this into an existing queue.

E.g. possibly `missedmessage_email_senders` should be turned into a

[2017-11-20 22:12] rosatamsen commented on #7417
Hey @Balaji2198, I can jump in and help with the few remaining files if you don't mind. I helped with the recent docs migration so I am already familiar with the clean up that needs to be done here.

Just to summarize, I think this is all that we have left to do:

Move files and update broken links accordingly
* docs/code-of-conduct.md      -> docs/contributing/code-of-conduct.md *(and add to TOC)

[2017-11-20 22:16] timabbott commented on #7417
Let's skip moving `code-of-conduct` for now.  I think it's possible we might want to leave it (and possibly some some things currently in "overview" out to the top level, so they're extra visible.

[2017-11-20 22:16] timabbott commented on #7417
(Also, I think I moved request-remote)

[2017-11-20 22:31] rosatamsen commented on #7417
Okay, got it. So does that also mean you want `code-of-conduct.md` added to the TOC? Do you want it above or below "Overview" on the nav bar?

docs/code-of-conduct.md

[2017-11-20 23:04] timabbott commented on #7417
I'm not sure; I was sorta thinking this would go with exploding "overview" to all be top-level (or mostly be top-level), so wanted to procrasinate a bit on figuring that out.

[2017-11-20 23:28] #6909 closed

[2017-11-20 23:40] gnprice commented on #7459
This design sounds good to me, based on my understanding of how iOS notifications work from having read a bunch of docs a couple of months ago and done the backend work for getting them working.

I think I'd go for a flag on UserMessage, rather than a separate table, because it feels like a property of the UserMessage -- in fact pretty parallel to "unread". Probably would also add a partial index

[2017-11-20 23:41] #6969 closed

[2017-11-20 23:42] timabbott opened #7461 "Document test-locked-requirements."
We should do a quick developer docs update for the new `test-locked-requirements` tool for testing whether `update-locked-requirements` was run successfully.

* docs/testing.md should have a brief paragraph explaining this test
* docs/dependencies.md should have a link to those docs.

@HarshitOnGitHub I'm assigning you under the theory this'll be pretty fast for you at this point.

[2017-11-21 00:33] #7416 closed

[2017-11-21 00:37] #7354 closed

[2017-11-21 00:42] rosatamsen commented on #7417
Okay cool, yeah that would make sense. The red warning for code-of-conduct.md will remind us about it later :)

Getting rid of the warnings while having the files not show up in the TOC is not very well documented in sphinx though. So I went ahead and made a PR that should complete this cleanup.

[2017-11-21 01:28] #7432 closed

[2017-11-21 01:41] timabbott commented on #7093
@brockwhittaker can you investigate this issue?

[2017-11-21 04:06] aero31aero commented on #7374
@zulipbot  claim

`settings.css` lines 153-155 are responsible:

[code]

Looking for a fix.

[2017-11-21 04:31] umairwaheed commented on #165
Sure, will do.

[2017-11-21 04:34] umairwaheed commented on #7076
Yeah.

[2017-11-21 06:12] PentaHiggs commented on #5190
@zulipbot claim

[2017-11-21 07:04] kunall17 commented on #7459
I have done most of the part related to mobile push notifications, my exams are going on :( so I cannot work atm, sorry for the delay and they'll end on Monday (27th) and I'll be home on Wednesday (29th), so I'll be resuming the work from there.

So related to the unread count for iOS, I think we can manage without having the additional bit, as the new notification_unread flag would go same as the

[2017-11-21 07:49] PentaHiggs commented on #6481
This is indeed a KaTeX issue.  I believe that the reason that KaTeX lacks support for some character sets is that it is difficult to properly space characters without doing measurements during startup or configuration, which it wants to avoid for the sake of ease of use and speed.  Knowing the dimensions of a character are very important for proper spacing, so the library does not allow characters

[2017-11-21 15:59] roberthoenig opened #7468 "Bugs with private stream subscriptions."
### Unwanted behavior

* after unsubscribing from a private stream, the stream can still be found in the `All streams` list, **along with a "Subscribe" button. That subscribe button is clickable, but has no effect. It sends a subscription request to the server that is rejected:
![image](https://user-images.githubusercontent.com/7950151/33082307-c036e80e-cedc-11e7-81d3-e8c3cbe25029.png)

*  after u

[2017-11-21 16:13] brockwhittaker commented on #7455
fun! Really also just what looks like a case of hiding overflow, since it should be a contained modal.

[2017-11-21 16:32] brockwhittaker commented on #7455
<img width="250" alt="screen shot 2017-11-21 at 11 31 29 am" src="https://user-images.githubusercontent.com/10321399/33084289-8d1efbd2-ceaf-11e7-9614-67a810abfcb9.png">
I dont actually see this issue on osx. I could take the approach of setting the popover overflow to hidden but I'm unable to replicate this.

[2017-11-21 17:13] #7374 closed

[2017-11-21 17:22] timabbott opened #7469 "Lightbox Pan & Zoom UI don't work well with longed names when translated"
Reproducer: Go to localhost:9991/es/, upload an image, and open the lightbox.

![pasted_image 20](https://user-images.githubusercontent.com/2746074/33086728-603417fe-ce9d-11e7-94c0-414bd6e72646.png)

[2017-11-21 18:44] timabbott commented on #7455
@brockwhittaker maybe produce a quick PR that does that and then @showell can test whether it fixes the problem in his browser?

[2017-11-21 22:50] rishig opened #7473 "stream creation: Stream name box loses focus."
To repro:
Gear -> Manage streams -> click Create Stream

Expected behavior: Focus stays in "Stream name" box.
Observed behavior: Focus starts in "Stream name" box, and then leaves it maybe half a second later.

Note: if I then click the "+" to the right of Filter streams, it does the same thing. If I click the "+" a second time, focus goes to the Stream name box and stays, as it should.

[2017-11-21 22:53] rishig opened #7474 "stream creation: Announce stream help tooltip has poor padding."
![image](https://user-images.githubusercontent.com/890911/33101016-69c86e54-cecb-11e7-9295-2deb02cf3bb3.png)

This is in the stream creation flow. To repro hover over the `?` to the right of "Announce stream".

I'm not sure if we have a standard way of doing these help tooltips, that we could just apply here?

[2017-11-21 22:57] rishig opened #7475 "stream creation: "People to add" filter should show your name."
This input should show your name if you search for it:
![image](https://user-images.githubusercontent.com/890911/33101155-fe638224-cecb-11e7-92a3-47ca53a13dd2.png)

It is very confusing that it doesn't, since it feels like there is no way to subscribe yourself. (Or unsubscribe yourself, if you are an admin in a realm where non-admins can't create streams, and you are creating the stream on behalf

[2017-11-21 23:11] showell commented on #7455
@brockwhittaker

An important detail for the repro is to do it from the compose box.  But if it doesn't repro on OSX, I would borrow Tim's ubuntu computer for a second.  I'm also happy to just test a speculative fix that you make without the repro, as @timabbott is suggesting.

[2017-11-21 23:36] showell opened #7476 "Retry yarn stuff when its cache is corrupt."
Here's the context:

https://chat.zulip.org/#narrow/stream/development.20help/subject/provisioning.20errors/near/334733

If provision fails on yarn-related steps, we should forcibly remove yarn's cache and retry the command.

We may also want to report bugs to the yarn project when we get reliable repros.

[2017-11-22 00:44] trueskawka commented on #7388
@zulipbot claim

[2017-11-22 03:46] rwbarton opened #7479 "Extra spaces in links to new streams in digest emails"
I got a digest email containing
[code]
The link to the stream doesn't work because of the extra spaces around the `#`. (If I remove the spaces the link does work.)

[2017-11-22 03:53] #5853 closed

[2017-11-22 03:54] rwbarton opened #7480 "Upgrade katex"
katex v0.8.3 has been [released](https://github.com/Khan/KaTeX/releases/tag/v0.8.3) and includes some features which I would like to have, such as old-style font commands (like `\rm`).

I haven't done any testing of the new version of katex in zulip.

[2017-11-22 03:56] timabbott commented on #7480
@PentaHiggs FYI, this may be a relatively quick project for you since you're in that code.

[2017-11-22 04:07] rishig opened #7481 "tooling: Add a dev setting to freeze users' presence."
When taking screenshots or screencasts, it's useful to be able to set the presence info of users in the database, and have that persist.

The setting can be called `DONT_UPDATE_PRESENCE`.

[2017-11-22 04:11] #7095 closed

[2017-11-22 04:18] ankit01ojha commented on #7271
@zulipbot I am working on it.

[2017-11-22 04:55] PentaHiggs commented on #4507
@zulipbot claim

[2017-11-22 04:59] timabbott commented on #7479
Yikes, that's broken.  @HarshitOnGitHub can you do a quick investigation into what's going on here?

[2017-11-22 05:15] timabbott commented on #6481
@rwbarton what do you think of that approach?

[2017-11-22 05:37] timabbott commented on #1125
This was completed with https://github.com/zulip/zulip/pull/7338.

[2017-11-22 05:37] #1125 closed

[2017-11-22 05:49] #6970 closed

[2017-11-22 06:17] PentaHiggs commented on #5190
A series of backticks does not actually cause a parsing error in KaTeX, interestingly enough.  What is happening here is that the backticks are being interpreted as delimiting fences that start a new quote, like the ones in ``` '''math ``` that you typed to start that math block (Just suspend disbelief for a moment and imagine those are backticks and not single quotes).

Nested fences are supporte

[2017-11-22 07:50] dgarvit opened #7485 "Pasting markdown headings does not work"
Instead, it comes along with a '#'. I think we need to add the correct markdown for such a situation.

![peek 2017-11-22 13-13](https://user-images.githubusercontent.com/24482726/33115705-fb0cae7c-cf87-11e7-8710-4e59b47e8809.gif)

[2017-11-22 08:07] rht commented on #6970
@timabbott There is a small bug due to the separate file not having `from typing import ...`, fixed in https://github.com/zulip/zulip/pull/7484/commits/f29df7bcdfd72e6f0c09dd098a60946236221da9, I also made the typing syntax into Python 3.

[2017-11-22 08:31] PentaHiggs commented on #7480
@timabbott Sure, I wouldn't mind taking care of it!  Is there anything I should look out for in particular?

[2017-11-22 08:32] PentaHiggs commented on #7480
@zulipbot claim

[2017-11-22 09:27] timabbott commented on #7480
Not that I'm aware of.

[2017-11-22 09:36] timabbott commented on #7485
That's not bold: That's a heading.  We intentionally disable the heading syntax in Zulip because it's pretty weird in a chat message.  So I think we just need to disable the heading syntax in `toMarkdown`?

[2017-11-22 09:46] dgarvit commented on #7485
@timabbott yeah that sounds right. we probably also need to play around to see what else we need to control

[2017-11-22 10:44] akashnimare opened #7488 "design: Properly align elements in invite users setting"
<img width="546" alt="admin" src="https://user-images.githubusercontent.com/2263909/33123373-00f298f2-cfa0-11e7-829f-a8f4fced1838.png">

* The **Check-All | Uncheck All** is not aligned properly.
* Add margin-top in **Add as administrator** span.

[2017-11-22 10:48] Balaji2198 commented on #7488
@akashnimare  Would you like to work on this? Or shall I take it up?

[2017-11-22 13:49] akashnimare commented on #7488
@Balaji2198 naah, feel free to claim :)

[2017-11-22 13:57] Balaji2198 commented on #7488
Thanks, @akashnimare. @zulipbot  claim.

[2017-11-22 17:56] #7469 closed

[2017-11-22 18:01] timabbott opened #7492 "Topic unread count spacing if off when we need to wrap"
@brockwhittaker it appears we don't quite have this right yet:

![image](https://user-images.githubusercontent.com/2746074/33142635-0970e2e2-cf6c-11e7-893c-cef1350d5509.png)

[2017-11-22 18:07] #7479 closed

[2017-11-22 18:35] timabbott opened #7494 "typeahead: Show typeahead for syntax of the form @**..."
If you accidentally accept the wrong typeahead when mentioning someone, a pretty natural thing to do is start deleting until you can type in the name you want.  In Zulip's typeahead right now, because we don't recognize `@**` as mention syntax, you have to delete all the way down to just `@` in order to see typeahead again.  Fixing this would be a nice touch.

We'll want to address this for stream

[2017-11-22 18:59] #7417 closed

[2017-11-22 20:20] #5190 closed

[2017-11-22 20:21] timabbott commented on #7480
I guess the one thing that may help is zulip.readthedocs.io/en/latest/dependencies.html, and in particular that you will probably want to run `yarn install` to update `yarn.lock`.

[2017-11-22 20:52] timabbott commented on #3915
@PentaHiggs since you've been working on markdown, this might be an issue worth working on.  I imagine done well, it'd make life a lot easier for reading things like the `katex` output :).  I'd look for a third-party HTML diff printer (actually, I think we're using `lxml` for this in `zerver/lib/html_diff.py` -- maybe worth looking at that?).

Also CC @HarshitOnGitHub who wrote that `html_diff.py`

[2017-11-22 23:37] PentaHiggs commented on #3915
Thanks for pointing it out to me!  I've been thinking of doing something about that; the `katex` output diffs are more or less unreadable sometimes.  It'd be neat to print the test `"name":` field from markdown_test_cases.json too, so you can quickly find the test that failed.

[2017-11-23 00:40] timabbott opened #7499 "Include mobile strings is percent translated display"
Currently, we only include the data from `translations.json` and `django.po` in reporting what fraction of strings in a language are translated.  We should also include the strings from `mobile.json` in the data set, so that users aren't confused with a language that says "100%" isn't fully translated.

@umairwaheed is this something you can work on?  We might want to just have our `tx pull` wrapp

[2017-11-23 01:20] timabbott opened #7500 "Lightbox: Clicking elements that aren't UI widgets above and below image should hide lightbox"
We appear to have a regression in the lightbox.  Historically, clicking anywhere in the blue border area that wasn't one of the buttons would close the lightbox.  Today I noticed that while clicking the left/right areas still closes the lightbox, clicking the blue areas above or below doesn't.

@brockwhittaker thoughts on this?  I'm guessing this is a bug introduced in some of the recent CSS refac

[2017-11-23 05:53] PentaHiggs commented on #3915
@zulipbot claim

[2017-11-23 11:49] YJDave commented on #7344
@zulipbot claim

[2017-11-23 13:13] YJDave commented on #7344
@timabbott The case @rishig has mentioned can create ambiguity. we can also provide separate time limit for deleting message(just like we have in editing limit). Or we can set default time limit for deleting message(say 1 hour), and if message `edit limit` is set by admin(say 30 minutes) then it will override the default limit and set to `delete limit` to 30 minutes.
What you guys suggest?

[2017-11-23 14:17] shubhamdhama commented on #7500
@timabbott I've tried to reproduce this issue, this seems it doesn't work only clicking on the above and below bar containing widgets(means the area of those bar except widgets).
By the bar, I mean this highlighted blue area by dev tools above in screenshot:
![screenshot from 2017-11-23 19-37-23](https://user-images.githubusercontent.com/22238472/33176938-da524872-d086-11e7-9605-b197831d08f9.png)

[2017-11-23 19:50] derAnfaenger commented on #6662
@zulipbot label "GCI task"

[2017-11-23 20:44] #7480 closed

[2017-11-23 21:37] shubhamdhama commented on #7494
@timabbott I'm trying this and I came up with this solution if this is what you want, I'll create a PR:
![peek 2017-11-24 02-58](https://user-images.githubusercontent.com/22238472/33188970-7169e926-d0c4-11e7-83cd-da058bd19bbc.gif)

[2017-11-23 21:40] lonerz commented on #7494
@shubhamdhama lgtm, don't be afraid to create a PR :)

[2017-11-23 21:42] shubhamdhama commented on #7494
@zulipbot claim

[2017-11-23 22:56] timabbott opened #7511 "Emoji picker categories overflow in Firefox at 90% zoom"
![image](https://user-images.githubusercontent.com/2746074/33190146-654f606e-d05e-11e7-9b7f-acf622e0e9ef.png)

[2017-11-24 00:13] timabbott commented on #7500
Yeah, I think that's right.

[2017-11-24 04:16] umairwaheed commented on #7499
Sure. @zulipbot claim

[2017-11-24 12:21] roberthoenig commented on #6542
Coverage is at 97% now.

What's to do with the remaining lines that are spread over the file?

[2017-11-24 13:20] slavniyteo opened #7517 "Provide shortcuts working on any keyboard layout (not only en)"
Now if I write messages on any other language, I must every time switch to _en_ and back again to use shortcuts.

Please port shortcuts for every language installed on system or add a mechanism to configure shortcuts (with two or three keys for every thing and multi-language support).

[2017-11-24 17:21] timabbott commented on #7517
Thanks for bringing this up @slavniyteo!  This is an aspect of i18n we haven't yet given much thought.

How do other popular tools like gmail solve this problem?

If the right solution is configurable hotkeys, this might increase the priority adding custom keyboard shortcuts.

[2017-11-24 17:59] yesthatguy opened #7521 "Can't get out of custom emoji image shadowbox"
I added a custom emoji and decided I wanted to change the image. I clicked on the image (the bold letters "ev" here):
<img width="1135" alt="screen shot 2017-11-24 at 11 49 27 am" src="https://user-images.githubusercontent.com/10944164/33220486-5b2e38fc-d10e-11e7-9f07-2c6013ba6612.png">

And was presented with the image in a shadowbox:
<img width="1137" alt="screen shot 2017-11-24 at 11 48 39 am"

[2017-11-24 20:58] synicalsyntax commented on #7521
Hey there @yesthatguy, thanks for reporting the bug! This repository is actually for the Zulip web application, so do you mind crossposting the issue in the Electron desktop app's repo at https://github.com/zulip/zulip-electron? Thanks! :)

[2017-11-25 01:37] yesthatguy commented on #7521
Awesome, thanks for orienting me! I've posted there and will close this one here.

[2017-11-25 01:37] #7521 closed

[2017-11-25 14:01] AlloulDorian commented on #7449
Hey there, I would like to pick this issue as my first issue.
@zulipbot claim

[2017-11-25 16:15] AlloulDorian commented on #7449
Is that ok ?
![user-doc-video-calls](https://user-images.githubusercontent.com/26928523/33232308-2fefefcc-d204-11e7-872f-3334fc34570c.png)

[2017-11-25 17:50] rishig commented on #7449
awesome, thanks @AlloulDorian! Maybe for (3):
* Clicking the video camera () icon will insert a link like [Click to join video call](https://meet.jit.si/123456789) into the compose box.

And for the Tip, I would say "You can replace Click to join video call with anything you want." (i.e. what -> anything, and removing the brackets around Click to join video call since those do have to stay).

Othe

[2017-11-25 18:07] #7387 closed

[2017-11-26 09:40] CharuChhimpa commented on #7511
I got a solution for this @timabbott . Its just change of height and width of the emojis.

[2017-11-26 11:46] YJDave commented on #7475
@zulipbot claim

[2017-11-26 13:28] Tokixix commented on #6358
@rishig @timabbott
Hello,
I've gone through search_suggestion.js and realized that message suggestions are based only on last operator from the list. It actually means that if there is a phrase like: "abc sender:  xyz" there will be two types of operators - "search" for "abc" and "sender" for "xyz". Program leaves "sender" in suggestion lookup because "search" for "abc" occurs as last. I am not qu

[2017-11-26 17:14] #7488 closed

[2017-11-26 19:20] #7494 closed

[2017-11-26 19:21] timabbott commented on #7485
I think to fix this I'd just try to turn off the heading feature of toMarkdown, with a test.  Since I added `frontend_tests/node_tests/copy_and_paste.js`, it should be pretty easy to add the test infrastructure for this (just add a `console.log()` to `exports.paste_handler_converter` to capture the actual exact input one gets), and then we can use this as a case study to figure out how to configur

[2017-11-26 19:23] timabbott commented on #5956
We now have sorting my most-recent-message-in-stream, but still no overall sort.  `static/js/recent_senders.js` is the place to add that.  Editing the description to cover the outstanding issue.

[2017-11-26 19:33] timabbott commented on #7271
I think we just need to have `Vagrantfile` replace `/etc/update-motd.d/10-help-text` with the text we want.

[2017-11-26 19:58] timabbott commented on #6542
* For `MissedMessageSendingWorker`, I think we just want to use the `retry_event` decorator replacing that TODO, and it'll hit 100% coverage.
* For FeedbackWorker, we just need to add a simple test for feedback-bot (probably in a new test class).  The code of `handle_feedback` is pretty simple, so we should probably just do this (send a PM to feedback-bot with the right settings to make it send a

[2017-11-26 21:54] aero31aero opened #7526 "PM button on @mention overlay populates compose box with incorrect email"
## Steps to reproduce

1. Find a message where X mentions Y.
2. Click on Y's name
3. Click on "Send PM" button in Y's info overlay.
4. Message field populates with X's email.

## Expectation

4. Message field populates with Y's email.

## Possible fix

Change the click handler to not use `respond_to_message`.

[2017-11-26 21:56] timabbott commented on #7526
Confirmed, this is easily reproduced.  The problem is we're using `compose_actions.respond_to_message` rather than `compose.start()` in this click handler:
[code]

[2017-11-26 23:21] timabbott commented on #6358
Yes, exactly, this project will require refactoring the way search suggestions work to remove that constraint (or if not this issue, another we'll likely work on soon).

[2017-11-27 02:24] dgarvit commented on #7485
@zulipbot claim

[2017-11-27 06:59] #7526 closed

[2017-11-27 08:23] aero31aero commented on #7324
@zulipbot claim

[2017-11-27 09:44] aero31aero commented on #6605
Relating this to #4271 - we could implement 4271 (Starred Topics) and then add a setting like "Auto star topics reply to? (y/n)".

[2017-11-27 13:47] rheaparekh commented on #7423
@zulipbot claim

[2017-11-27 14:41] roberthoenig commented on #7454
Topic names have reappeared, but now there are two notifications for each message ^^

[2017-11-27 15:03] Lyla-Fischer opened #7530 "Re-Implement the on-signup checkbox for GCI students"
We had it last year, and it made onboarding students nice and smooth, making sure they got into the right streams. @hackerkid I think that you are already working on this, but I'm just moving it into the github issues instead of the Dropbox Paper doc, so that we can retire the doc.

[2017-11-27 15:13] roberthoenig commented on #7454
Topic names reappeared, closing this.

[2017-11-27 15:13] #7454 closed

[2017-11-27 15:35] showell opened #7531 "Escape should dismiss compose box warnings."
If you're on the keyboard, and you do something that triggers a warning in the compose box, you should be able to dismiss it with the escape key, and still have the compose box remain open.  (Then hitting escape again would clear the box).

[2017-11-27 16:53] synicalsyntax commented on #7531
@showell By errors do you mean the one in the image below, or the blueslip error popups that you get in the dev environment sometimes?

![screenshot at nov 27 08-51-50](https://user-images.githubusercontent.com/15116870/33278418-5ded5822-d350-11e7-92d0-c8d8f10b7f7c.png)

[2017-11-27 17:05] timabbott commented on #6860
Fixed via #7001 ( @showell @rheaparekh I think this didn't get auto-closed because 1d826ae201cc16508459a2f0fe75a6803483d116 says "Fix issue #6860".  GitHub's auto-closing is very simple (probably rightly so) and ignores things like that with a word after the version of fix.  So we should always spell that e.g. "Fixes #6860." (since we prefer the imperative case).

[2017-11-27 17:05] #6860 closed

[2017-11-27 17:17] #7381 closed

[2017-11-27 17:24] showell commented on #6860
Thanks for catching this @timabbott.

[2017-11-27 18:07] rishig opened #7533 "typeahead: Don't autocomplete "@ "."
If you type `@ ` (with a space after the @), it will show the typeahead. It should not, similar to how we handle `# ` and `: `.

hm .. none of the spaces are showing, due a bug in github's markdown. There is a single space at the end of each of the codeblocks above.

[2017-11-27 18:15] rheaparekh commented on #6860
@timabbott Thanks! I'll be careful about this, the next time onwards.

[2017-11-27 18:26] showell commented on #7531
@synicalsyntax I mean the former, the pink error box that shows up above "You and".

[2017-11-27 18:36] synicalsyntax commented on #4907
@timabbott Is this issue still relevant?

[2017-11-27 18:38] timabbott commented on #7533
@aero31aero this might be a good project for you, since you were just in that code.

[2017-11-27 18:42] timabbott commented on #7454
So, I'm a bit worried ... we certainly didn't do anything to fix this...

[2017-11-27 19:30] synicalsyntax commented on #1626
@timabbott Team page exists now; can this be closed?

[2017-11-27 19:34] timabbott commented on #1626
Sorta.  I think we should probably close this and open a new issue about "having a list of subsystem experts/maintainers", since that was sorta tangled in with the issue description here.

[2017-11-27 19:40] aero31aero opened #7534 "Bot name persists in @mention typeahead after renaming."
## Steps to reproduce

0. Type `@botname`. Typeahead shows `botname`.
1. Rename the bot to `newname`.
2. Do not reload the page.
3. Type `@new...`. Typeahead shows `botname`.
4. Reload the page.
5. Type `@new...`. Typeahead shows `newname`.

## Expectation

3. Typeahead shows the updated botname `newname`.

## Details

A bot was renamed (and page not reloaded) and the search as well as selection w

[2017-11-27 19:57] showell opened #7535 "Keep typeahead open if even the user tabs away."
This seems to be a recent regression.  On FF if I start a compose typeahead, then alt-tab to another application and back, without doing anything else of substance, the typeahead disappears.  This seems like it might be annoying if you're trying to do something like check another app (gmail, github, etc.) to find somebody's user name when you're in the middle of the typeahead.

And it definitely f

[2017-11-27 20:20] timabbott commented on #7534
For debugging this, I'd look into what functions in `people.js` (or `bot_data.js`) are called to access the list of bots for mentions.  Our goal should be to figure out which data structure is not being updated (often easy to check using the JS console).  This bug is likely easy to fix once we know where it is: backend, frontend, or in between.

https://zulip.readthedocs.io/en/latest/subsystems/ev

[2017-11-27 20:20] timabbott commented on #7535
We should fix the root issue, but @showell on Linux, you should try Ctrl+Shift+PrtScn to draw a screenshot without tabbing away.  I use this all the time :)

[2017-11-27 20:44] nwshane commented on #6605
@aero31aero That would work. It seems like it'd be useful to separate Starred Topics from My Topics, though, because users might want to separate their "favorite" topics (starred) from the ones they've written on. Just my two cents.

[2017-11-27 21:29] timabbott opened #7537 "Improve logic for placing inline image previews within messages"
As a follow-up to #7324, I think we want the specification for links to images to work like this:

* If the link is on a line by itself, show the preview in place of the link where it was (extending the #7529 logic, which does that, but only for messages that are just a link on a line by themselves).
* If the link is is the middle of a paragraph (or similar), show the inline image preview just aft

[2017-11-27 21:30] timabbott commented on #7324
The basic version was just completed; I opened https://github.com/zulip/zulip/issues/7537 as a follow-up to this.  Thanks for the suggestion @vbNETonIce!

[2017-11-27 21:30] #7324 closed

[2017-11-27 22:04] fleytman opened #7538 "Slack-like link to conversation with quote"
1. In slack, if the message has a link to the message, then a quote is inserted.
![quote](https://user-images.githubusercontent.com/1923645/33291746-f1a77b9c-d3d7-11e7-992c-7327cf1d9d3b.png)
2. Similarly, if you click on the "quote and reply" button, you can click on the link to the message you are quoting.
[slack-like-quote.zip](https://github.com/zulip/zulip/files/1507749/slack-like-quote.zip)

[2017-11-27 22:07] timabbott commented on #7538
I think this could be a useful feature.  I also don't think it would be too hard; it'd just be another case in our "inline previews" feature that already supports youtube/images/etc.

@fleytman I assume the right model is it should quote the other message as of the time the new message is sent (i.e. editing a quoted message doesn't also edit the message that quoted it)?  I think this is probably w

[2017-11-27 22:44] fleytman commented on #7538
In the Slack such implementation.

Also, on Slack you can choose the recipient.
https://i.imgur.com/17l4zrW.jpg

Rocket.chat implementation
![rocket](https://user-images.githubusercontent.com/1923645/33293361-91dd3322-d3dd-11e7-8103-84a405d4f30b.gif)

[2017-11-27 23:07] timabbott opened #7539 "Add a notice when we save drafts (when compose is closed)"
If you have compose open with some text in it, and then click somewhere to the side, we automatically hide compose (saving the text as a draft).  However, for many users, it can appear that their message was lost, because they might not know about Zulip's drafts feature.  We should probably add some sort of lightweight notice (in the compose area) to let the user know that the message was saved as

[2017-11-27 23:15] timabbott commented on #7460
@umairwaheed can you take this one?  Might also be worth reading the last notes on https://github.com/zulip/zulip/issues/6542#issuecomment-347033920 in case it makes sense to fix coverage there as well.

[2017-11-27 23:16] #7533 closed

[2017-11-28 01:27] rishig commented on #7539
I think this is a great idea (both the notice and the hotspot).
Maybe we should open the hotspot issue separately, since it is more complicated than the notice.

[2017-11-28 01:29] timabbott commented on #7539
I think we can just open a follow-up issue for the hotspot once we've completed this and know whether we actually want it.  I agree anyone working on this should just do the notice, and we can decide on the rest once that's done.

In terms of visual design, I think something that shows as a brief animation on the "closed compose" area would be a good thing to try as a start; we might find we need

[2017-11-28 01:37] timabbott commented on #6605
@aero31aero I'm think that approach would be a worse implementation than making this a first-class feature (what if you want to use "starred topics" for something else?), and I'm not sure it would be any less work.

The frontend-only approach that I suggested (where we basically filter the message history data already cached in the browser in `message_store` or `all_msg_list` for messages you sent

[2017-11-28 01:54] timabbott commented on #4634
Sorry for the slow reply!  This question somehow got lost in the shuffle.

The problem here is that `GET /api/v1/messages` doesn't support the `stream=` argument type; those are used for sending messages.  You instead want to specify a `narrow`.  See the API examples in github.com/zulip/python-zulip-api for example code that does this properly.

[2017-11-28 01:54] #4634 closed

[2017-11-28 01:59] timabbott commented on #4907
It's I guess something we may still want to do, but I'm not sure anyone is actually going to work on it because this issue exists.  @rishig what do you think about closing it?

[2017-11-28 04:17] umairwaheed commented on #7460
Sure. @zulipbot claim.

[2017-11-28 05:04] eeshangarg opened #7542 "zulip_bots: Repopulate static/generated/bots/ when new version of zulip_bots is installed."
Right now, if one removes a bot in the zulip_bots package, but doesn't remove the entry for its documentation in `zerver/lib/integration.py`, it breaks Travis very loudly but doesn't break locally because most of the time `static/generated/bots` is still populated with the deprecated bot's `doc.md` from an older `./tools/provision` run.

We should probably think about either modifying [tools/setup

[2017-11-28 05:06] eeshangarg commented on #7542
@zulipbot claim

[2017-11-28 05:40] rishig commented on #4907
I agree we'll want to do something in this space, though probably not in the near future. So fine closing, if it feels like it is getting in the way.

[2017-11-28 07:29] fleytman commented on #7539
My opinion: Draft must save for channel and last draft autopast in "new_message_textarea", if click on "new message"

[2017-11-28 10:13] dgarvit commented on #7485
Another issue with italic styling

[2017-11-28 10:30] slavniyteo commented on #7517
Hi and thanks for answer.

Many desktop applications translates their shortcuts for all system languages. So if I press on keyboard `h`, it works independently of active language. Google Docs provides the same behaviour. Telegram and Skype too (desktop clients).

But many applications which have a default `en` shortcuts, do not get worried about shortcut translations because they provide to user a

[2017-11-28 17:59] #7485 closed

[2017-11-28 18:58] #7473 closed

[2017-11-28 19:17] rishig opened #7549 "bugdown: Change youtube preview to show name of video instead of link."
Currently our youtube previews look like
![image](https://user-images.githubusercontent.com/890911/33339183-3a05ddd4-d42d-11e7-9a6d-1d22d45ae9fb.png)

And it would be better if they looked like
![image](https://user-images.githubusercontent.com/890911/33339206-49d300f2-d42d-11e7-90a9-b841b13bc38f.png)

(namely, the url is replaced by a link with the name as the text of the link).

I think you can

[2017-11-28 19:27] rishig opened #7550 "bugdown: Add preview for vimeo videos."
If you search for youtube in `zerver/lib/bugdown/__init__.py`, you can see the code that does a special preview for youtube videos. We should have similar functionality for vimeo.

You can test the youtube functionality by sending a youtube link to "#test here" on chat.zulip.org.
Note also the youtube links are about to change; if you take this issue before #7549 is resolved, follow the new format

[2017-11-28 21:07] timabbott opened #7552 "Improve the editing experience for stream descriptions with links"
A user reported finding it pretty annoying that they adding a markdown link, but then couldn't edit it.

It's possible that we want to stop using content-editable, or to at least convert the raw markdown when one begins "edit mode".

[2017-11-28 21:33] timabbott opened #7553 "Add Access-Control-Allow-Origin header for all response codes."
See https://github.com/zulip/zulip/pull/5711 for the original PR, which we can't merge because Trusty's nginx doesn't support this feature.

This is something that would be helpful for people prototyping with our API.  There's 3 paths forward for doing it:
* Upgrading nginx for trusty (annoying as a backport, since nginx has security updates with some frequency, but maybe we can find a PPA)
* Desu

[2017-11-28 22:48] rishig opened #7555 "left sidebar: Clicking on stream name should show a topic narrow."
Currently, if you click on a stream name in the left sidebar, it shows a stream-level narrow.
It would be interesting to try: clicking on a stream name should show the topic-level narrow, for the first (i.e. most recent) topic in that stream.

See https://chat.zulip.org/#narrow/stream/design/topic/topic.20by.20default for further discussion.

If it is easy, it would be nice to have reclicking on t

[2017-11-28 23:45] showell commented on #7535
That's what I always use to print screenshots, @timabbott.  And it's suddenly failing, which is perplexing.  (I focused the issue on the alt-tab issue, which is also reproducible, since I think that's the more generally interesting failure.)

[2017-11-29 00:11] timabbott commented on #7325
@alirizwi what's your status on this?

[2017-11-29 00:53] gnprice opened #7557 "Clean up get_cross_realm_emails vs. CROSS_REALM_BOT_EMAILS"
We have (at least) two ways of getting the set of cross-realm bots:
* `zerver.models.get_cross_realm_emails` is used in `zerver/lib/actions.py` and `zerver/models.py`
* `settings.CROSS_REALM_BOT_EMAILS` is used directly in `zerver/lib/actions.py`, plus used to implement `get_cross_realm_emails`

Moreover, in some places we explicitly lower-case the email address before looking for it in that set,

[2017-11-29 01:08] gnprice opened #7558 "Clean up overlapping ways of configuring cross-realm system bots"
We have at least three different ways we configure cross-realm system bots in `settings.py`:
* `INTERNAL_BOTS`, with a bit of `vars()` logic to set `WELCOME_BOT`, `EMAIL_GATEWAY_BOT`, etc.
* `FEEDBACK_BOT` and `ERROR_BOT`, which seem like they could be folded into `INTERNAL_BOTS` but are separate right now
* `CROSS_REALM_BOT_EMAILS`, which appears to just list the same bots except with a slightly

[2017-11-29 01:14] gnprice opened #7560 "Add back coverage for email-digest code"
I removed a bit of test code in `test_email_mirror` yesterday in eb8b05b2b, explaining:

    test_email_mirror: Remove a brittle bit of logic.

    This code appears to exist to cover a few extra lines in
    zerver/lib/digest.py.  But it's rather brittle, tucked as it is into
    the middle of a different test's loop, and with the upcoming
    introduction of the `lear` realm in testing, this tes

[2017-11-29 01:17] #7542 closed

[2017-11-29 01:21] gnprice opened #7561 "Tighten up `validate_email_for_realm`"
With 586e18b23 today, I added this bit of logic:
[code]

The test in question is `zerver.tests.test_messages.TestCrossRealmPMs`. We should lock this down to just say
[code]
which will be easier to reason about; and fix that test to still work. I think this may be as simple as replacing the `@override_settings(...)` with a `with self.settings(...)`, and having the extra bot user get created before

[2017-11-29 01:32] gnprice opened #7562 "Clean out `invalid_subdomain` case from `login_or_register_remote_user`"
In 0ec2a9d25 today, the final commit of #7522, I revised how the `login_or_register_remote_user` function handles its parameter `invalid_subdomain`, and added this:

[code]

This function is right in the core of our authentication flow, so making it less confusing and easier to understand and be confident of the behavior of would be really useful.

As the commit message says, the way I'd do this i

[2017-11-29 01:35] gnprice commented on #7198
I fixed this in 453585abb while working on #7522:

[code]

The hypothesis about recently starting to run `consume` methods makes sense as what would have triggered these exceptions to actually start firing.

[2017-11-29 01:35] #7198 closed

[2017-11-29 01:40] gnprice opened #7563 "Eliminate "Sending invitation" output spam in test_signup"
We're getting close to eliminating output spam in our tests! One of the remaining cases is in `tools/test-backend zerver.tests.test_signup`, a bunch of lines like this:
[code]
We should work out where those are coming from and clean them up.

[2017-11-29 01:41] gnprice commented on #7563
(See #1587 for locking this kind of problem down entirely in the future.)

[2017-11-29 02:25] gnprice opened #7564 "Simplify signup tests for clarity and flexibility"
One of our largest test files is `zerver/tests/test_signup.py`, at 2490 lines. It's appropriate to have lots of tests there -- it's really important that signup work right, it has a lot of different cases, and it's an area that few members of the Zulip community regularly encounter (because our daily use of Zulip is on accounts that we've already signed up). But a lot of that line count is basical

[2017-11-29 02:33] showell commented on #7564
@gnprice I don't have comments on specifics here, but this is my general philosophy when it comes to tests.  I think there's a much lower need for reducing duplication in tests than in real code.  Put in another way, I think verbosity is an acceptable tradeoff in tests to avoid coupling and indirection.

So when we try to reduce line size in test code by abstracting functions, it's a good goal, bu

[2017-11-29 03:51] gnprice commented on #7564
Hmm, interesting, thanks @showell !

I'm not sure we necessarily disagree much concretely. If you take a look at `test_signup.py`, and for example if you search for `get_confirmation_url_from_outbox` to find tests that look a lot like my examples above, do you agree that they have a lot of boilerplate that would be good to abstract away?

On the more abstract side, I think it's actually pretty com

[2017-11-29 06:13] synicalsyntax opened #7567 "user profiles: Really long emails break popover"
![screenshot at nov 28 22-12-22](https://user-images.githubusercontent.com/15116870/33360605-47b416a6-d489-11e7-9995-692d5ef4d775.png)

Feedback would be appreciated on how this should be resolved

[2017-11-29 08:16] timabbott commented on #7567
I'd test what other tools do for similar things, but I think a reasonable fix would be to just cut it off with a `...` and if it is cutoff, have the full email available on mouseover.

[2017-11-29 09:23] Balaji2198 commented on #7549
@zulipbot  claim

[2017-11-29 09:39] nax3n commented on #7550
claim

[2017-11-29 09:40] nax3n commented on #7550
@zulipbot claim

[2017-11-29 10:12] YJDave commented on #5829
@zulipbot claim

[2017-11-29 10:39] pgadige commented on #3877
when I attempted to reproduce the issue, I could see both - subscribe button for the stream and the error message, like the one in the picture below:

case 1: stream that with no active discussions

![3877](https://user-images.githubusercontent.com/8632025/33370817-b673b73c-d51e-11e7-8e54-7f699385f546.png)

case 2: stream with active discussions

![3877-2](https://user-images.githubusercontent.com

[2017-11-29 11:55] YJDave commented on #5829
Hey, @rishig This is what I have plan to implement.
* Function `user_stop_being_idle` will check whether the user is idle or not, and if `user_stop_being_idle` will return `true` then, in `if` we will remove all events from queue and return.

Is this the correct way or you have any other idea? let me know your suggestions.

[2017-11-29 13:43] YJDave commented on #6938
@zulipbot claim

[2017-11-29 15:04] AlloulDorian commented on #7053
@zulipbot claim

[2017-11-29 17:51] #7474 closed

[2017-11-29 18:01] cdikibo commented on #7531
@zulipbot "GCI task"

[2017-11-29 18:01] cdikibo commented on #7531
@zulipbot label "GCI task"

[2017-11-29 18:09] brockwhittaker commented on #7500
@zulipbot claim.

[2017-11-29 19:30] #7500 closed

[2017-11-29 21:53] hackerkid commented on #7563
@zulipbot claim

[2017-11-30 01:06] rishig opened #7581 "invitations: Don't reformat emails if invitations not sent."
Currently, if you try to invite some people and there is an error, it reformats the emails in the input box.

To repro, click on "Invite more users" in the right sidebar, and fill out the form like this:
![image](https://user-images.githubusercontent.com/890911/33407683-53764984-d527-11e7-86a9-e78a7232bb90.png)

Then hit Invite. I get
![image](https://user-images.githubusercontent.com/890911/33407

[2017-11-30 01:09] timabbott commented on #7581
This might be kinda hard to do in all cases, since we do support cases where some (but not all) emails are sent, and reducing the list accordingly.

[2017-11-30 01:17] rishig opened #7582 "invitations: Make stream names click targets."
To reproduce:
Click "Invite more users" in the right sidebar.

Try clicking on "Denmark" below:
![image](https://user-images.githubusercontent.com/890911/33408027-fdec3f4e-d528-11e7-9811-92d00076091d.png)

It should toggle the checkbox, but currently it doesn't.

[2017-11-30 02:19] grahamegrieve opened #7585 "Allow to mark all messages read"
presently you can mark all the messages in a stream as read - but not all messages altogether. That would be useful, so suggest to add a menu option to "All messages" to allow this.

[2017-11-30 06:58] timabbott commented on #7558
I think `ERROR_BOT`, `FEEDBACK_BOT`, and `NEW_USER_BOT` work differently from the rest of `INTERNAL_BOTS` because they are not mandatory (most servers don't have them).

[2017-11-30 07:32] rishig opened #7587 "invitations: Rate limit by open invitations, not all invitations"
In do_invite_users, we currently limit the number of invitations someone can send to 100/day. It would be better to instead have this be "100 live invitations", where live means unexpired and where the person didn't create their account.

We'll want to think a bit about how we want to do this, so definitely post a plan in #backend before starting to code too much. One idea is
* Have Preregistratio

[2017-11-30 07:45] rishig opened #7589 "confirmation: Pass prereg object rather than key to accounts_register."
Currently check_prereg_key_and_redirect passes a confirmation key to accounts_register.
It would be better for it to pass a prereg user (or prereg user id), to make this confirmation paths look more like the rest of the confirmation paths in our codebase, and make it clearer to people reading the code that accounts register is not an endpoint that you directly reach from a confirmation link.

Most

[2017-11-30 16:00] YJDave opened #7593 "Message fade doesn't work properly on scrolling"
**Ideal behavior**: In compose mode, the messages which have the same stream and topic as compose message are highlighted. Other messages are disabled(fade view).

This behavior breaks in case:
* when you are composing message
* go to other stream and scroll to find older messages
* Older messages are passing the fading logic, but somehow all messages of last topic(before loading older messages) a

[2017-11-30 19:56] #7531 closed

[2017-11-30 20:04] gnprice opened #7596 "Strikethrough doesn't work with auto-links"
@tommyip pointed out that if you write something like `~~sdfsddsaf #7515 fffsdafdsa~~`, with an auto-linkified term inside strikethrough markup `~~`, the strikethrough doesn't happen:

![](https://chat.zulip.org/user_uploads/2/9b/jCZxws2flyppXlQWKDESvRf-/pasted_image.png)

[2017-12-01 01:33] rishig commented on #6547
Possibly, we should just change `d` to do this, and `D` to open drafts.

[2017-12-01 01:42] rishig opened #7602 "compose: Remove old drafts."
Currently my drafts modal is very slow, probably because I have 100+ drafts. We should have some method by which we garbage collect old drafts.

One possibility would be to keep only the last 30 drafts.

[2017-12-01 02:10] rishig opened #7604 "visual design: Press enter to send spacing is off."
![image](https://user-images.githubusercontent.com/890911/33464883-9a0b16f4-d5f9-11e7-886e-ece1f3d18883.png)

The text is not vertically aligned, and too far from the checkbox.
(It's especially noticable when the box is checked, and the `Send` isn't there.)

[2017-12-01 02:40] lonerz commented on #7066
@synicalsyntax seems like a bug in zulipbot?

[2017-12-01 02:42] synicalsyntax commented on #7066
@lonerz Changed the behavior so that a issue must be referenced in both the PR description and one of the PR's commit messages; it looks like she doesn't have a commit referencing the issue yet.

[2017-12-01 02:48] rishig opened #7606 "user settings: Clean up uploaded files page."
Picture from https://chat.zulip.org/#settings/uploaded-files:

![image](https://user-images.githubusercontent.com/890911/33465857-11af2d6c-d5ff-11e7-9c54-4f8d5100904c.png)

A few things:
- [ ] I think 1005KB looks like a mistake to people used to thinking of 1MB = 1000 KB. I think we should just use 1MB = 1000KB for the purposes of display, and allow people to go to 1.08GB.
- [ ] We should show at

[2017-12-01 04:59] shubhamdhama commented on #5920
oh sorry , I didn't noticed @florianjuengermann 's comment, Currently I've examination going on so you can take this issue(though I've made some progress but if you've already things working then it is even better). @zulipbot abandon

[2017-12-01 05:51] florianjuengermann commented on #5920
@zulipbot claim

[2017-12-01 06:28] hackerkid commented on #6509
@timabbott This can be closed.

[2017-12-01 07:16] rishig commented on #6509
Leaving open for a bit, until we decide what to do with the followups.

[2017-12-01 08:40] ihsavru commented on #7098
@zulipbot abandon

[2017-12-01 09:54] Rishabh570 commented on #6802
Working...Actually delay is happening due to my exams in 1st and 2nd week of Dec..But will try to manage time for it..!!!

[2017-12-01 10:11] 0E800 opened #7609 "Install script fails (Ubuntu 16.04)"
I followed instructions from:
https://zulip.readthedocs.io/en/1.7.1/prod-install.html

Then figured I try installing from cloning the repo.

Get the same errors.

Just a guess, but looks like its unable to install uwsgi.

Begin dump:

[code]

[2017-12-01 10:45] rheaparekh commented on #6534
@zulipbot I am still working on this. I have added the PR.

[2017-12-01 16:32] Survivor75 commented on #7582
I believe this issue is already been assigned. I am new here I want to know if I can work on this as well(In which case can I get directions to the required dir/files).

[2017-12-01 16:58] rishig commented on #6473
I (and I think Tim) regularly look through > 1 topic narrow, searches, etc while composing a message. So I think we do want the ability to have the topic in the compose box not match the narrow.

[2017-12-01 17:29] umairwaheed commented on #165
My work on this is done. I think @synicalsyntax is now working on the frontend. @zulipbot abandon.

[2017-12-01 20:05] rishig opened #7617 "org settings: Clean up streams and custom emoji section."
The streams settings are quite confusing here:
![image](https://user-images.githubusercontent.com/890911/33499981-fdd91de2-d68b-11e7-9f48-3ef11fd1fe24.png)

To fix this, let's re-write these as:
[code]
with the second setting greyed out when the first setting is unchecked.

To organize this, I would make a PR with the following commits:
* Change the third setting
* Change the first setting
* Chang

[2017-12-02 00:56] rishig opened #7619 "documentation: Add code comments to auth pathway."
There are a few functions that are confusing to new developers trying to understand or modify the login code.
* maybe_send_to_registration, in the remote_user pathway
* How django's authenticate chooses which auth backend to use

@gnprice fyi / feel free to edit.

[2017-12-02 01:12] rishig commented on #5911
Another option here would be to add another shortcut, `p`, that just cycles PMs.

Not sure which I prefer (having an ability to jump between PMs and streams, that `p` would provide, or just having to think about 1 keyboard shortcut `n`.)

[2017-12-02 01:34] thejwzhang commented on #5923
@zulipbot claim

[2017-12-02 01:35] rishig opened #7620 "bugdown: Latex shifts superscripts and other offset characters downwards."
To reproduce, send a message like
[code]

The frontend markdown processor is doing the right thing, but the backend markdown processor returns:
![image](https://user-images.githubusercontent.com/890911/33510153-870b9668-d6bd-11e7-8456-ec9d4002b79a.png)

I would start by figuring out what is different between what the frontend and backend markdown returns.
http://zulip.readthedocs.io/en/latest/subs

[2017-12-02 01:56] rishig opened #7621 "lightbox hotkey v: show_from_selected_message doesn't jump recipient blocks."
The desired behavior for the `v` hotkey (which just calls the `show_from_selected_message` function) is:
* Search backwards in the current view till it finds an image
* If it doesn't find anything, search forwards instead

Currently, it seems to search only in its recipient block.
See https://chat.zulip.org/#narrow/stream/issues/topic/lightbox.20v for more information.

[2017-12-02 02:12] thejwzhang commented on #5923
@zulipbot abandon

[2017-12-02 02:14] rishig commented on #5923
Changing from help wanted to feedback wanted since it seems slack/discord use alt-up/down for moving up and down along channels (similar to our A/D).

[2017-12-02 02:21] rishig opened #7622 "settings: Change how we tell the user we saved their changes."
If you change any setting, a "Saving" then "Saved" animation should play to the right of the title.
See https://chat.zulip.org/#narrow/stream/design/topic/notifications.20save.20banner for further discussion.

I would start by converting just one section of one settings tab.

[2017-12-02 02:43] synicalsyntax opened #7623 "dark mode: Background colors of sidebars and modals aren't switched in mobile view."
On a mobile device (screen width < 700 px),

1. Open the [Settings modal](https://chat.zulip.org/#settings/your-account)
2. Open the [New streams](https://chat.zulip.org/#streams/new) page
3. Click on the menu icon on the top left corner to open the left sidebar.

The following is observed:

![screenshot at dec 01 18-41-43](https://user-images.githubusercontent.com/15116870/33510919-7128c55a-d6c7-

[2017-12-02 02:46] synicalsyntax opened #7624 "user settings: Emoji style in Display settings is broken in mobile view"
On a mobile device (screen width < 700px), navigate to the [Display settings](https://chat.zulip.org/#settings/display-settings) page.

The following is observed:
![screenshot at dec 01 18-44-23](https://user-images.githubusercontent.com/15116870/33510953-e0febe8e-d6c7-11e7-99dc-001c13875759.png)

[2017-12-02 03:00] rishig opened #7625 "emoji: Compose typeahead should include popular emoji first, all else equal."
E.g., in a situation like this, it would be good for `:thumbs_up:` to be sorted to the top:
![image](https://user-images.githubusercontent.com/890911/33511068-744e782c-d6c9-11e7-970c-5fc0dd6e8ef7.png)

(the fact that the taco text is black instead of white is an indepnedent bug not related to the emoji system)

[2017-12-02 04:01] rishig opened #7626 "org settings: Allow selecting "restrict to domain" even if no domains selected."
Currently, the top setting at https://chat.zulip.org/#organization/organization-permissions is unselectable if no domain is given:
![image](https://user-images.githubusercontent.com/890911/33511579-f4b1135a-d6d1-11e7-841d-0a08bafaeee0.png)

Instead, it should be selectable, and if you click on it and no domain is there, it should just open the modal (i.e. do the same thing that [Add or Change] doe

[2017-12-02 04:10] rishig opened #7628 "org settings: Fix styling of Allowed Domains modal"
You can get here from http://localhost:9991/#organization/organization-permissions and then clicking on [Add or Change] for the top setting (might be [Configure] by the time you read this).

![image](https://user-images.githubusercontent.com/890911/33511649-4e5bf7c0-d6d3-11e7-89cb-14abe7a77e20.png)

Two things:
* The checkbox should be centered and use the same styling as the other checkboxes on t

[2017-12-02 06:40] YJDave commented on #7617
@zulipbot claim

[2017-12-02 12:18] ihsavru commented on #7628
@zulipbot claim

[2017-12-02 12:51] Balaji2198 commented on #6548
@zulipbot  abandon

[2017-12-02 16:30] utkarsh23 commented on #7090
@zulipbot claim

[2017-12-02 16:37] utkarsh23 commented on #7090
So in the /activity view, under the "Counts" tab there already exists a column called "Created" which uses "realm.date_created" field. @rishig can you please elaborate a little on this issue? Not quite sure what you're looking for.

[2017-12-02 17:17] utkarsh23 commented on #6490
I'd like to take up this issue but in my development environment, when I try to view the /stats page it gives me the error "No analytics data available. Please contact your server administrator."
Any ideas on how I can get resolve this?

[2017-12-02 18:08] rishig opened #7634 "streams settings: Hide the streams list when in the create stream flow."
Having it there makes the flow look way more complicated/confusing than it actually is.

As a V1, we can just blur out the left panel when creating a stream.

[2017-12-02 20:09] shubhamdhama commented on #6707
waiting for the review.

[2017-12-02 20:11] shubhamdhama commented on #6809
will be completing this pr after exams i.e. 18th Dec

[2017-12-02 20:12] shubhamdhama commented on #7078
already submitted the pr

[2017-12-02 20:13] shubhamdhama commented on #7237
still working, waiting for the review

[2017-12-02 21:21] utkarsh23 commented on #6490
@zulipbot claim

[2017-12-03 01:54] cPhost commented on #7567
Hey, It is easily fixable by these css property
[code]

[2017-12-03 02:06] synicalsyntax commented on #7567
That's definitely a step towards the solution, but additional work needs to be done to have the full email revealed upon mouseover, like Tim suggested.

[2017-12-03 02:11] cPhost commented on #7567
can i have file name of this HTML, i am pretty new to this, Pretty sure this can de done by JavaScript.

[2017-12-03 02:13] synicalsyntax commented on #7567
See [this docs article](http://zulip.readthedocs.io/en/latest/overview/directory-structure.html) for where files are located; `git grep` is also a useful command for finding locations of files.

[2017-12-03 06:44] ihsavru commented on #7626
@zulipbot claim

[2017-12-03 07:59] Balaji2198 commented on #1561
@zulipbot  claim.

[2017-12-03 08:40] rishig opened #7639 "stream settings: Simplify the initial "create a stream" screen."
Currently the initial screen you get when trying to create a stream has a lot of stuff on it. Splitting out the "Add users" step from the stream configuration step could make it feel easier to create a stream.

[2017-12-03 10:26] burek967 commented on #7620
@zulipbot claim

[2017-12-03 11:44] Balaji2198 commented on #7634
@zulipbot  claim

[2017-12-03 12:38] HarshitOnGitHub commented on #6490
Hi @utkarsh23, thanks for taking this up! The error you mentioned is because of analytics database being empty, you will need to populate it using the `populate_analytics_db` management command as described here: http://zulip.readthedocs.io/en/latest/subsystems/analytics.html?highlight=populate_db#setup-and-testing

[2017-12-03 12:48] utkarsh23 commented on #6490
@HarshitOnGitHub yeah I figured that out
But thanks anyways, appreciate it :)

[2017-12-03 19:45] rishig commented on #7090
Thanks for looking into this!

It looks like this issue was resolved by someone who didn't realize this issue existed. Sorry about that; let me know if you need help finding a different issue to work on!

[2017-12-03 19:45] #7090 closed

[2017-12-04 02:36] asopkin commented on #7098
@zulipbot claim

[2017-12-04 14:50] akashnimare commented on #7596
@zulipbot claim.

[2017-12-04 16:13] utkarsh23 commented on #7606
@zulipbot claim

[2017-12-04 17:57] rishig opened #7654 "left sidebar: Scroll a bit past last stream."
I'm having trouble taking a screenshot of this, but if I hover over anything that is a link (which includes almost everything in the left sidebar), Chrome puts a link in the bottom left corner of the screen, which covers the bottom-most stream name. This means that if I'm scrolled to the bottom of the streams list, and my mouse is in the left sidebar, it can seem as if the last entry of the stream

[2017-12-04 18:31] jumperskirt commented on #7602
@zulipbot claim

[2017-12-04 18:50] utkarsh23 commented on #7606
@rishig I checked on the bug you mentioned and didn't notice any unusual behaviour.
For `Date uploaded` an up arrow next to it sorts files by **oldest uploaded file first** and vice versa for a down arrow.
For `Size` an up arrow next to it sorts files by **smallest file first** and vice versa for a down arrow.
Can you please check on this once more?

[2017-12-04 23:07] gnprice opened #7660 "Add reCAPTCHA to realm creation form"
On a server on the public Internet, particularly one with open realm creation, people may try to send spam through Zulip. We have to prevent them from doing so.

One key step we can take is to make it hard for the spammers to create a lot of realms. Every anti-spam measure we take that notices patterns within a realm, or limits the amount of potential spam that can be sent through a given realm, g

[2017-12-05 00:01] rishig commented on #7602
Hi @jumperskirt, thanks for your interest in Zulip! I should mention that this might be a tricky issue to work on, since we haven't yet decided what the desired behavior should be. You can look for issues with the `help wanted` label for issues where there is a clearer consensus on the next steps.

[2017-12-05 00:05] rishig commented on #7606
interesting, it is working for me now. Feel free to ignore until we have a better repro.

[2017-12-05 00:13] utkarsh23 commented on #7606
Alright :+1:
I went ahead and made all the other changes. #7656 fixes this issue.

[2017-12-05 01:32] jumperskirt commented on #7602
@rishig got it! that makes sense—thanks for the heads up

[2017-12-05 02:23] utkarsh23 commented on #6510
@zulipbot claim

[2017-12-05 02:31] CSC510Zacky opened #7661 "Can I use 'Require topics in stream messages' option by each stream"
Hi, there is a 'Require Topics in Stream Messages' option within the Message feed section of the Organization Settings. I want to designate the 'Require Topics in Stream Messages' option by each stream.
It's fine if customization is required. Can you please provide some advice?

Thanks.

[2017-12-05 04:06] umairwaheed commented on #7660
@zulipbot claim

[2017-12-05 05:51] rishig opened #7664 "invitations: Invited at column shows UTC instead of local time."
The middle column here is showing the time in UTC rather than the local time:
![image](https://user-images.githubusercontent.com/890911/33591802-7d89c796-d93c-11e7-8891-a1d7c6fe2e89.png)

The fix is two fold:
* The backend should return a timestamp (see `datetime_to_timestamp` function in timestamp.py)
* The frontend (`settings_invites.js`) should put that into an appropraite function from timeren

[2017-12-05 06:04] rishig opened #7665 "invitations: Add send_event for invitations events."
Currently most of the invitation pathways don't have send_event calls, which means they aren't updating browsers correctly (in particular, the "invitations" tab of admin settings).

See http://zulip.readthedocs.io/en/latest/subsystems/events-system.html for an explanation for why we need send_event calls.

[2017-12-05 06:35] skapil commented on #7664
@zulipbot claim

[2017-12-05 06:46] neiljp opened #7666 "update_storage requires check for `None`"
(in zerver/views/storage.py)

This is probably in your area, @roberthoenig?

Essentially, `storage` may be `None`, but this is not checked for in the function.

[2017-12-05 12:59] hackerkid commented on #7665
@AasthaGupta This might be a good issue for you to work on.

[2017-12-05 16:22] AlloulDorian commented on #7449
Hi, I'm sorry but I don't understand why codecov/project check failed on my pull request...
Can someone help me please ?

[2017-12-05 16:25] AlloulDorian commented on #7449
The link of the pull request: https://github.com/zulip/zulip/pull/7547

[2017-12-05 18:11] AasthaGupta commented on #7665
@zulipbot claim

[2017-12-05 18:34] hackerkid commented on #7091
@eeshangarg If you don't mind this might be a good project for @AasthaGupta for Outreachy.

A follow up of this is project could be to check how hard it is to make hubot integrations native . A lot of hubot integrations just seem like a thin wrapper around some API. So the task is figure out what hubot integrations are offered. We can pick out the 5-10 integrations we think are valuable (i.e. are

[2017-12-05 19:27] shreyanshdwivedi commented on #7639
@rishig, I am new to Zulip. Can you please guide me which files to look for this issue?

[2017-12-05 19:50] eeshangarg commented on #7091
@hackerkid: Yeah, no worries! I'm currently too busy to take on anything this big anyway, so @AasthaGupta feel free to pick this one up! :) And also feel free to ping me if you have any questions. :)

[2017-12-05 21:43] utkarsh23 commented on #6819
@zulipbot claim

[2017-12-05 22:33] hackerkid commented on #7274
@zulipbot claim

[2017-12-06 04:07] umairwaheed commented on #7499
Still working.

[2017-12-06 06:21] rishig opened #7672 "invitations: Remove custom_body option."
See: https://chat.zulip.org/#narrow/stream/design/topic/remove.20custom.20body

There are a few places at least it has to be removed. `git grep custom_body` seems to find a bunch of them, and then I imagine there might be some css or js that isn't coming up in that search.

[2017-12-06 10:35] AasthaGupta commented on #7402
@zulipbot claim

[2017-12-06 11:53] AasthaGupta commented on #7091
@zulipbot claim

[2017-12-06 14:00] utkarsh23 commented on #6819
@zulipbot abandon

[2017-12-06 14:56] showell commented on #7468
A good way to investigate this is to start looking at this code in `static/js/server_events_dispatch.js` and a) verify it even gets called and b) see what it does:

[code]

[2017-12-06 17:21] parth-p commented on #7582
can I work on this issue

[2017-12-06 17:43] zy964c commented on #5489
@zulipbot claim

[2017-12-06 18:02] parth-p commented on #7446
@zulipbot claim

[2017-12-06 18:39] rishig commented on #7620
Thanks for picking this up, @burek967!

Adding a note that this is also broken on iOS, and possibly Android: https://chat.zulip.org/#narrow/stream/issues/topic/latex.20superscript
though for this issue just fixing desktop is fine, and we'll open iOS as a followup if the fix for desktop doesn't fix that.

[2017-12-06 19:50] shreyanshdwivedi commented on #7672
@zulipbot claim

[2017-12-06 21:31] utkarsh23 commented on #7625
@zulipbot claim

[2017-12-06 22:46] csvoss opened #7678 ""Night mode" checkbox is no-op"
Normally, when I check a checkbox on one of these settings, a green box appears to confirm that I have changed the setting, and when I exit out of Settings and re-enter, the checkbox is still checked and the setting has successfully been applied. For example:

<img width="756" alt="screen shot 2017-12-06 at 2 41 11 pm" src="https://user-images.githubusercontent.com/3229696/33689383-1a58e95a-da94-1

[2017-12-06 22:55] rishig commented on #7639
Hi @shreyanshdwivedi, welcome! I'd recommend starting with issues labelled `good first issue`, since they typically have more description.

[2017-12-06 22:58] VishalCR7 commented on #6477
@zulipbot claim

[2017-12-06 23:11] synicalsyntax commented on #7678
@showell turned off night mode in Settings for some reason (see [here](https://chat.zulip.org/#narrow/stream/issues/topic/night.20mode) for context)

However, the night mode functionality can still be toggled with the `T` hotkey

[2017-12-07 01:39] showell commented on #7678
ping @brockwhittaker

[2017-12-07 02:51] gnprice opened #7683 "Communicate more when org has disabled name changes"
When a user goes into Zulip settings to change their name, but the organization's admins have disabled name changes, they're greeted with a grayed-out text field:
![image](https://user-images.githubusercontent.com/28173/33695590-ec6a61f8-dab2-11e7-8dbf-814999cc7fba.png)

If you look closely there's a little "?" icon, and if you mouse over it and wait, there's a tooltip with reasonably descriptive

[2017-12-07 03:36] VishalCR7 commented on #6477
#7684  SignIn: Add a loading indicator

[2017-12-07 03:38] VishalCR7 commented on #6477
@timabbott  please review.

[2017-12-07 05:44] alexandraleonidova commented on #2445
It seems that the user interface now changed and this problem in no longer present in and updated UI. Should this bug be closed?

[2017-12-07 07:45] shreyanshdwivedi commented on #7683
@gnprice  I would love to work on this issue. I understood where to make changes to achieve the first task.Can you please help me out in getting files to make changes to achieve the second task as stated by you?

[2017-12-07 12:26] pooja3 commented on #7212
@zulipbot claim

[2017-12-07 12:54] pooja3 commented on #5242
@zulipbot claim

[2017-12-07 13:16] VishalCR7 commented on #6018
@zulipbot  claim

[2017-12-07 16:36] hackerkid commented on #7567
I think @brockwhittaker kind of fixed this issue in this PR. Not sure why it didn't get merged yet.

https://github.com/zulip/zulip/pull/4475

[2017-12-07 16:39] hackerkid commented on #7557
@zulipbot claim

[2017-12-07 17:06] cPhost commented on #7567
@hackerkid Yes it does but not fully, i just put `...` at the end of email if it is too long. But does not display the tooltip of full email on mouseover. I have a solution just opening PR Later tonight.

[2017-12-07 17:13] synicalsyntax commented on #7567
@cPhost Brock's solution was to make the popover more space effective so that long emails would be encountered less; I'm not sure if it still looks visually appealing for extremely long emails still, though. @brockwhittaker are you still maintaining your PR?

[2017-12-07 18:10] timabbott commented on #7678
I think this might be a zulipchat.com deployment state issue.

-Tim Abbott (mobile)

On Dec 6, 2017 17:39, "showell" <notifications@github.com> wrote:

[2017-12-07 21:21] ryanle42 commented on #6342
@zulipbot claim

[2017-12-07 22:25] synicalsyntax commented on #7115
WIP

[2017-12-07 22:25] synicalsyntax commented on #1368
WIP

[2017-12-07 22:25] synicalsyntax commented on #3577
WIP

[2017-12-07 22:26] synicalsyntax commented on #6883
WIP

[2017-12-07 22:37] #7582 closed

[2017-12-07 22:37] alenavolk commented on #5287
@zulipbot claim

[2017-12-07 22:55] #7557 closed

[2017-12-07 23:13] gnprice commented on #7683
@shreyanshdwivedi Great! For the second step, our [new feature tutorial](http://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html#example-feature) should be a good example, because it goes through adding a new organization/realm setting, just like this one.

I'd also be glad to take a PR that does just the first step -- that should be useful already before we get to the second ste

[2017-12-07 23:56] HydraulicSheep commented on #7683
I would love to work on this @gnprice. I understand how to do both steps.

[2017-12-08 00:05] HydraulicSheep commented on #7683
@zulipbot claim

[2017-12-08 00:18] cPhost commented on #7567
I got the PR ready it should be fairy easy to integrate it with that PR.

[2017-12-08 00:21] cPhost commented on #7567
@zulipbot claim.

[2017-12-08 00:26] rishig opened #7699 "keyboard shortcuts modal: Add section for Basic shortcuts."
We should copy the "The basics" section from https://chat.zulip.org/help/keyboard-shortcuts into the top of this modal:
![image](https://user-images.githubusercontent.com/890911/33745319-fe512f42-db6a-11e7-9dbe-cde8891efbf4.png)

You can get to the modal by typing `?`.

This section can maybe be two columns wide? Or one column, but centered, and the two columns can be done as followup.

[2017-12-08 00:26] rishig commented on #7699
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-12-08 04:16] shreyanshdwivedi commented on #7639
@rishig  As no one is taking up the issue and I have understood how to solve this issue, can I work on this?

[2017-12-08 05:34] thejwzhang commented on #6548
@zulipbot claim

[2017-12-08 06:30] umairwaheed commented on #1760
@zulipbot claim

[2017-12-08 06:52] aero31aero commented on #7555
@zulipbot claim

[2017-12-08 07:31] shreyanshdwivedi commented on #7639
@zulipbot claim

[2017-12-08 09:32] pradeepgangwar commented on #7217
@zulipbot claim

[2017-12-08 11:08] XavierCooney opened #7702 "Some API documentation sidebar links don't do anything"
Some of the links in the left sidebar at the API documentation page (https://chat.zulip.org/api/), such as `REST API` and `Integrations` display a pointer cursor on hover, but don't seem to do anything when you click on them. It seems as if they were originally meant to collapse the pages under them.

Relevant discussion: https://chat.zulip.org/#narrow/stream/issues/topic/API.20Documentation

[2017-12-08 11:58] XavierCooney commented on #7702
@zulipbot claim

[2017-12-08 12:55] RCSM commented on #6512
@zulipbot claim

[2017-12-08 13:53] #7555 closed

[2017-12-08 14:01] VishalCR7 commented on #6329
@rishig  @timabbott  can I take up this issue if no one is working on it?

[2017-12-08 14:46] sarvesh211999 commented on #7664
@zulipbot claim

[2017-12-08 14:54] sarvesh211999 commented on #7664
How to get to the screen shown in screenshot above?

[2017-12-08 15:08] synicalsyntax commented on #7702
@XavierCooney Just letting you know that the solution to this is just to remove the `cursor: pointer` selector for the non-collapsible section headings, not making those heading collapsible.

[2017-12-08 15:14] synicalsyntax commented on #7449
Closed in PR.

[2017-12-08 15:14] #7449 closed

[2017-12-08 18:51] rheaparekh commented on #7423
@zulipbot abandon

[2017-12-08 18:55] utkarsh23 commented on #6510
@zulipbot abandon

[2017-12-08 19:01] synicalsyntax commented on #6510
@rishig @showell Can't reproduce on chat.zulip.org?

[2017-12-08 20:05] utkarsh23 commented on #7097
@zulipbot claim

[2017-12-08 20:14] alirizwi commented on #7664
@sarvesh211999 it is the invitation tab in the settings for an admin.

[2017-12-08 20:22] rishig commented on #7530
I think this is done? It's just on chat.zulip.org, not in master.

[2017-12-08 20:26] rishig commented on #6329
yup, go for it

[2017-12-08 20:30] #7530 closed

[2017-12-08 20:46] shreyanshdwivedi commented on #6862
@gnprice If no one is working on this, I would like to work on this issue

[2017-12-08 20:52] shreyanshdwivedi commented on #7639
@zulipbot abandon

[2017-12-08 20:54] shreyanshdwivedi commented on #7666
@neiljp  can I work on this? And please explain your issue

[2017-12-08 21:05] rishig commented on #7530
(Worth checking though; it's not on the registration page, but could be on the page you get to after you click the confirmation link. Or we could ask one of the new GCI students if they saw a checkbox :)).

[2017-12-08 21:12] rishig commented on #6862
Great! Let's use "<b>#%s</b> does not exist or is private.", where %s is the stream name, as the wording.

[2017-12-08 21:26] shreyanshdwivedi commented on #6126
@zulipbot claim

[2017-12-08 21:30] shreyanshdwivedi commented on #6862
Okk. I am claiming this. @zulipbot claim

[2017-12-08 21:58] shreyanshdwivedi commented on #6126
@jumperskirt are u still working on this issue? Can I work upon this issue as you were assigned 2 months back on this?

[2017-12-08 22:38] VishalCR7 commented on #6329
@zulipbot claim

[2017-12-08 22:43] utkarsh23 commented on #7088
@zulipbot claim

[2017-12-09 00:42] skapil commented on #7664
@sarvesh211999 I already claimed it 4 days back!!!

[2017-12-09 01:40] RCSM commented on #3535
I am willing to claim this issue but I don't know the procedures of "what to do" when the server returns an error. Is there a reference link or something where I can look upon and do this task?

[2017-12-09 02:17] RCSM commented on #2807
@zulipbot claim

[2017-12-09 02:21] #7604 closed

[2017-12-09 02:22] #7624 closed

[2017-12-09 02:28] showell commented on #7678
Ok, I'm keeping this open for now.  This should be an easy thing to investigate on master, and a quick fix to revert, but I'm catching up on emails now, so don't have time.

[2017-12-09 02:32] rishig commented on #7661
Hi @CSC510Zacky! Could you tell us a bit more about your use case?

Also, would love to chat about this more interactively, and with the rest of the community, if you want to make an account at https://chat.zulip.org (maybe post in "#user community").

[2017-12-09 02:51] rishig opened #7711 "stream settings: Admin view of private streams has buttons you can't click."
This is the admin view of a private stream they are not subscribed to:
![image](https://user-images.githubusercontent.com/890911/33791862-1deba1f6-dc48-11e7-9285-c37b98b3d8a5.png)

The `Subscribe` and `Unsubscribe` buttons don't do anything, and should be removed.
The box with the `Add` also can't be used, and should be removed.

If you look at a private stream you're subscribed to, there should b

[2017-12-09 04:17] RCSM commented on #2429
Little help : what is this file and its name? Knowing that is possible to check the file existence.

[2017-12-09 04:37] RCSM commented on #585
Where can I see the code of other bots to see some practical examples of bots??

[2017-12-09 05:08] thejwzhang commented on #7711
@zulipbot claim

[2017-12-09 08:16] shreyanshdwivedi opened #7712 "Stream Settings : css bug in mobile view"
![25075305_1248702288606889_693532273_o](https://user-images.githubusercontent.com/25428397/33793906-1fecbd60-dce7-11e7-811d-b1eb3220af63.png)

As it can be clearly seen that buttons are not aligned properly. Also, textboxes have the similar problem.

[2017-12-09 08:19] shreyanshdwivedi commented on #7712
@zulipbot claim

[2017-12-09 10:52] Anupam-dagar commented on #7549
@zulipbot claim

[2017-12-09 10:58] ankit01ojha commented on #7271
@zulipbot abandon

[2017-12-09 12:17] RCSM commented on #7076
@tulikavijay are you still working on this or can I claim it to try?

[2017-12-09 14:28] AasthaGupta commented on #7665
For this issue either I can do incremental update or send the entire updated list.With incremental updates, the issue is there is no where the invites list is saved. Every time we click on invite tab, a request is made which responds with the list. To save invite list, I can use `page_params`, but I don't think that would be right since not every user will require that.

@hackerkid What do you thi

[2017-12-09 16:18] VishalCR7 commented on #6329
#7715   @rishig  let me know if it looks good or changes are required. I would be very happy in improvising it.

[2017-12-09 16:26] hackerkid commented on #7587
I think this can be easily implemented once #7027 gets merged. This PR adds an attribute which store information on whether the invite has been expired or not.

[2017-12-09 16:30] hackerkid commented on #7194
@zulipbot claim

[2017-12-09 18:38] aero31aero commented on #6605
@zulipbot claim

[2017-12-09 18:52] kamalmarhubi opened #7719 "Allow notifying mentioned non-subscribed users as alternative to subscribing them"
If I mention someone in a stream and they're not subscribed, I get a warning that they won't get notified. The only option I have is to subscribe them to the stream, which is a fairly strong action to take. I recently saw somoene do this, together with an apology for it, as there is no alternative.

Ideally, I could let the person know that they were mentioned without subscribing them. Slack does

[2017-12-09 19:10] rishig commented on #2807
Copying from chat:

I think this can go in zproject/urls.py. This is a bit tricky, since it isn't one of v1_api_and_json_patterns; it's an unauthenticated endpoint, of which we maybe don't have any others?

For the URL maybe: /badge/<realm_str>/user_count?
And you can compute it as UserProfile.objects.filter(realm_id=realm_id, deactivated=False).count() (and possibly that should be cached?)

(Also

[2017-12-09 23:17] utkarsh23 commented on #4874
@zulipbot claim

[2017-12-09 23:58] utkarsh23 commented on #7088
@zulipbot abandon

[2017-12-10 01:08] rishig commented on #7665
oh, interesting. Thoughts, @showell? I think sending the whole list is fine, but if it's not stored in page_params that begs the question of whether we should be doing so.

[2017-12-10 02:54] ryanle42 commented on #5075
@zulipbot claim

[2017-12-10 06:53] lonerz commented on #4360
This is fixed.

[2017-12-10 06:53] #4360 closed

[2017-12-10 08:01] AasthaGupta commented on #6515
@timabbott
When searching for a query like `sender: Tim Abbott`, it takes `Abbott` as another sub query and doesn't associate it with sender. Currently for queries like this, the user need to search `sender: "Tim Abbott"`. Then, it will show the correct search suggestions.
To support handling spaces in names, first while parsing, it will have to know till when it should consider the characters aft

[2017-12-10 08:09] shreyanshdwivedi commented on #7719
@kamalmarhubi are u working on this?

[2017-12-10 08:49] AasthaGupta commented on #6510
@rishig @showell
This happens when you are composing the message and go back to the stream (whether by back button in browser or by clicking that stream from stream list) for which you were composing the message.
[https://github.com/zulip/zulip/blob/master/static/js/compose_actions.js#L336](https://github.com/zulip/zulip/blob/master/static/js/compose_actions.js#L336-L346)
This piece of code is res

[2017-12-10 09:18] shreyanshdwivedi commented on #3097
@synicalsyntax is this issue resolved in your PR?

[2017-12-10 10:17] Balaji2198 commented on #3781
@showell @timabbott  I think now we have a `Search Subscribers` option in stream membership area. Is this issue ready to close or we have to implement something else?

![image](https://user-images.githubusercontent.com/22166422/33803941-39289f4e-ddc1-11e7-8f7c-3ac531a216f7.png)

[2017-12-10 10:56] YJDave commented on #6510
[This](https://chat.zulip.org/#narrow/stream/issues/subject/issue.20.236510) is link to discussion of this issue, might help.