[2018-08-06 07:37] frg-tarasov commented on #8386
I also think this is confusing :-)

Expect identical behavior with checked setting "Press Enter to send" when send new message and edit existing.

[2018-08-06 07:43] frg-tarasov opened #10205 "Allow custom sorting streams"
Now streams sort by alphabet.
Each stream may pin to top, but setup custom fixed sorting impossible.

I think that will be comfortably allow with drag'and'drop change streams sorting.

Thanks.

[2018-08-06 07:54] adnrs96 commented on #9185
@zulipbot claim

[2018-08-06 07:54] LiquidKang opened #10207 "Both LDAP & Subdomain Setting"
Our Organization have MS AD as LDAP services.
Zulip service is running great that I setting one domain with LDAP Authentication.
I also used "POPULATE_PROFILE_VIA_LDAP = True" to make sure that the users in MS AD could login friendly without invite.

But it's some problem when I using both subdomain and LDAP.

For example:
LDAP Search Setting is the same as one Domain.
Users in LDAP:	  A@mydomain.

[2018-08-06 08:01] frg-tarasov opened #10208 "Add on right from chat list subscribers stream"
Now on right show list all users. I think that will be good have two tabs:
1. List subsribers stream
2. All users.

It helpful for see who receive messages from chat and who need to invite to this stream.

Attach scheme example.
![users-list-example](https://user-images.githubusercontent.com/40637876/43704315-eafa4b5c-9967-11e8-89f5-8f3c6e3c04dc.png)

[2018-08-06 08:04] frank-technologies opened #10209 "Move scroll to bottom button"
When big message count helpful have button to move scroll to bottom chat.

Attach example how it do in Telegram.
![to-bottom-btn](https://user-images.githubusercontent.com/40637876/43704512-81344d66-9968-11e8-9f44-da207f78a732.PNG)

[2018-08-06 08:13] frank-technologies opened #10210 "Button for message "Move bookmark here""
In Skype Desktop have helpful feature.
In chat possible right click on message and select "Move bookmark here" then this chat marked as unread start from selected message.

This helpful when impossible read all messages and then cancel read mark from message when stop read.

In e-mail also possible  mark messages as "unread".

Thanks.

[2018-08-06 15:51] synicalsyntax commented on #10209
@frg-tarasov We have a keyboard shortcut for that: Either `G` or `Fn + Right`/`PageDn` keys should work.

[2018-08-06 16:28] kfogel opened #10214 "Make keyboard shortcut pop-up printable (e.g., as refcard / quickref)."
In Zulip 1.8.1, if you go to settings pull-down (upper right gear icon) and choose "Keyboard shortcuts", you get a helpful pop-up.  It offers three panes: "Keyboard shortcuts", "Message formatting" and "Search operators".

All three of the panes would be useful as printed refcards, but there's no way to print each pane's content reliably.  I tried Ctrl-P (this is in Firefox Quantum 61.0.1 on Debia

[2018-08-06 16:52] kfogel opened #10216 "Choose better defaults dynamically when doing nick completion."
Zulip could be dynamically smart about choosing which nick to complete when a user types "**@**" followed by a partial name.  If Zulip did this optimization, it would save users both typing time and cognitive load.

An example:

Just now I was having a [conversation](https://chat.zulip.org/#narrow/stream/6-frontend/subject/Make.20keyboard.20shortcut.20pop-up.20printable.3F) on chat.zulip.org in wh

[2018-08-06 17:45] borisyankov opened #10218 "thumbnailing: Sharpen thumbnail"
When downsizing images the resulting image is usually softer.
For example, Photoshop recently even started offering sharpening on image resize.

Thumbor does support that functionality:
https://thumbor.readthedocs.io/en/latest/sharpen.html

What we want is a `sharpen_radius` below 1px - somewhere between 0.5-0.8 works best when downsizing.
`sharpen_amount` should be tried visually, likely somewher

[2018-08-06 17:54] borisyankov opened #10219 "thumbnailing: Increase default pixel size"
Current thumbnail implementation provides 100px images for our thumbnails (which are 100px in height). That looks sane before we consider that the majority of clients are now 'retina' - almost all browsers render more physical pixels than what the pixel size would suggest in order to transparently support higher pixel densities.

A typical modern laptop needs a 1.5x-2x larger image than what the h

[2018-08-06 19:52] Ajayneethikannan commented on #9157
I have made the necassary  changes and waiting for the Pull request to be reviewed. @zulipbot

[2018-08-06 21:30] synicalsyntax commented on #10210
@frg-tarasov We already have the ability to [star messages](https://chat.zulip.org/help/star-a-message), maybe that's what you were looking for?

[2018-08-06 21:31] synicalsyntax commented on #10208
Just a note, we already blur out people who aren't subscribed to a stream when you have the compose box open to a specific stream, but this might be helpful as well. ![screenshot at aug 06 14-27-59](https://user-images.githubusercontent.com/15116870/43742048-534889c2-9985-11e8-9b5c-51d8e00d5109.png)

[2018-08-06 21:35] lonerz commented on #10210
I guess marking messages as "unread" is a little different from starring messages.

[2018-08-07 01:32] ljagielski2 commented on #10169
@eeshangarg I'm actually just going through the documentation here: https://zulipchat.com/api/incoming-webhooks-overview. We can work together on this one if you'd like; I'm still new to contributing here and it would be helpful.

[2018-08-07 09:21] max-maurice opened #10221 "German translation: Link to streams page invalid"
**Steps to reproduce:**

1. Set the display language to "German" and reload the page to apply the change
2. Open settings page ("Einstellungen")
3. Navigate to "Notifications" ("Benachrichtigungen")
4. Click the "Streams Seite" link

A 404 error page appears.

When copying the link target, the URL is `https://xxx.zulipchat.com/%22/#streams\"` whereas it should be `https://xxx.zulipchat.com/#stream

[2018-08-07 10:15] Swapnilr1 commented on #8631
Why was I unassigned from the issue? It's only been 5 days, I am working on the issue. Others were removed after 14 days.

[2018-08-07 12:44] pragatiagrawal31 commented on #10221
@zulipbot claim

[2018-08-07 12:56] adnrs96 commented on #10219
@borisyankov Can you tell me a bit more about how mobile app renders the message. Like does it queries for the rendered content from server and displays that directly or does it renders it on it.
From this question what I really wanna know is that is the mobile app has any control over the link being used to fetch the images. Because in the case it does, size is just a query parameter and we can i

[2018-08-07 13:36] shubhamdhama commented on #10040
Just to clarify, by error handling we mean the error we get below email `input` which isn't shown when someone follows step mentioned by Rishi.
Image:
![image](https://user-images.githubusercontent.com/22238472/43778931-9a995884-9a74-11e8-953e-ec8c0e2f2f90.png)

[2018-08-07 13:41] pragatiagrawal31 commented on #10040
@zulipbot claim I can reproduce this locally, working on it to find the bug

[2018-08-07 14:45] borisyankov commented on #10219
@adnrs96 We are just rendering the content with almost no change to the HTML, so whatever you see as HTML on the web plus similar but not the same CSS.

For reference this is the file the 'magic' happens:
https://github.com/zulip/zulip-mobile/blob/master/src/webview/html/messageAsHtml.js#L77

And also we do modify the `IMG` tag to add a special auth key with this function:
https://github.com/zulip

[2018-08-07 15:27] zooba commented on #9940
@timabbott Looks good to me 👍

[2018-08-07 17:13] timabbott commented on #10221
@roberthoenig can you investigate?  It kinda sounds like an error in the transifex translations for German adding some extra `\`s:
[code]

[2018-08-07 17:37] timabbott commented on #10216
We currently have logic in `recent_senders.js` that should implement a heuristic along these lines: first prioritizing people who have sent messages recently in the topic, then in stream, then in organization.

Here's the code in question:
https://github.com/zulip/zulip/blob/c41c82aae046ef0e59448ff05bf78bfd9851160b/static/js/typeahead_helper.js#L211

I think the issue here might be that the logic

[2018-08-07 17:38] shubhamdhama commented on #10221
@timabbott I've investigated this for many hours and the issue is definitely with the translation. And for the Russian language, this is even worse. At first, I thought this is something got broke by the restructuring of `i18n` but it's more complicated I guess.
For russian lang it's
[code]
And the URLs are like  `http://%22/integrations//%22` and `https://%22/#streams\\%22`

[2018-08-07 17:43] timabbott commented on #10218
@adnrs96 FYI.

[2018-08-07 17:46] timabbott commented on #10221
So, the question here is whether the issue is present in the Transifex UI, or whether the strings are being screwed up in the data syncing process between Zulip and Transifex.

[2018-08-07 17:51] timabbott commented on #10221
Indeed, it does look like the data in Transifex is wrong:

![image](https://user-images.githubusercontent.com/2746074/43793149-955f9170-9a2f-11e8-9673-3347579036d8.png)

(The `|1>` thing has the one backslash if you mouse over it, and the `|2>` thing has the buggy version.

So I think somehow our translators are accidentally mangling URLs present in translation strings in the Transifex UI.

[2018-08-07 17:52] timabbott commented on #10221
Searching for `text:<a` in Transifex for German shows this:
![image](https://user-images.githubusercontent.com/2746074/43793272-e20c47a2-9a2f-11e8-8791-a525836d2a26.png)

And I notice this is the only one where the HTML parts are different between the original string and the translated version.  So I think if we do that search for each language, we should be able to fix all issues of this form in

[2018-08-07 17:56] timabbott commented on #10221
OK, I just looked through all the languages with a convenient search setup on Transifex and confirmed that Russian and German were the only two with this issue in `translations.json` (Russian had one other string mangled as well.  I corrected those in Transifex, so the next time we sync strings, this will be resolved.

I'm going to do a quick audit of the other translation files for similar issues

[2018-08-07 18:00] shubhamdhama commented on #10221
Thank god it got caught early, I was too confused here as I later thought it's some escaping issue and tried all console.log debugging :sweat_smile:

[2018-08-07 18:02] timabbott commented on #10221
@shubhamdhama https://zulip.readthedocs.io/en/latest/translating is a good read for understanding how our internationalization system works; it'll save you a lot of time debugging next time :).

Though maybe we should add a section there talking about how bugs that only exist in one language might happen.

I finished the django.po audit (no issues there), so I'm closing this.  Thanks for the repor

[2018-08-07 18:02] #10221 closed

[2018-08-07 20:04] lonerz commented on #8631
I'm not sure, but go ahead and reclaim it.

[2018-08-07 22:45] skunkmb commented on #8620
@zulipbot claim

[2018-08-07 23:27] timabbott commented on #9953
I think we can effectively resolve the OpenAPI part via #10226.

[2018-08-08 09:11] LiquidKang commented on #10207
Thanks for the help!
I'll keep trying for the upgrade version.

[2018-08-08 12:20] shubhamdhama commented on #7446
@timabbott This can be closed now as it's fixed in https://github.com/zulip/zulip/commit/915960ee58240ffd0f1d49875135e24cc5b7af96

[2018-08-08 16:04] timabbott commented on #9953
#10226 seems to have been somewhat significant; following its merge we're now at ~1.75s on my laptop for `manage.py fill_memcached_caches` (down from ~1.93s).

[2018-08-08 16:37] YagoGG opened #10234 "user_groups: Handle non-successful edit responses."
# Description

Whenever the server replies with a non-successful response after attempting to edit a user group, the settings UI doesn't provide any feedback to the user and remains in the "edit mode".

# Steps to reproduce

1. Go to the org settings and create a user group called "foo".
2. Create another user group called "bar".
3. Try to rename "foo" to "bar".
4. Nothing happens, but in the back

[2018-08-08 17:05] timabbott commented on #10124
@shubham-padia do you want to work on the top item for this?

[2018-08-08 17:10] zingmars opened #10237 "Empty looking message when a URL with an image extension doesn't return an image"
To recreate - upload an image to site like [linx.li](https://linx.li), and post the URL in zulip.

The returned link ends with an image extension, but opening it opens a website that displays the image instead of just opening the image. When posted in Zulip what you get is an empty looking message whose link is a bit of a pain to copy.

![image](https://user-images.githubusercontent.com/917126/438

[2018-08-08 17:12] Swapnilr1 commented on #8631
@zulipbot claim

[2018-08-08 17:20] shubham-padia commented on #10124
@timabbott Yeah, just a few questions:

1.)

Does this mean the yellow bar disappears and a red error bar shows up?

2.)

Does this talk about the UI change addressed in above point no. 1?

3.)  The error message if point 1 will display the text returned from the server, right?

[2018-08-08 17:25] timabbott commented on #10124
1) Yes
2) Yes, exactly.  The point here is that once we get rid of the button, it'll be a bit more annoying to trigger the error cases needing (1) for manual testing.
3) Yes.

[2018-08-08 17:27] timabbott commented on #7446
Indeed, closed, thanks @shubhamdhama!

[2018-08-08 17:27] #7446 closed

[2018-08-08 17:55] timabbott commented on #10234
@synicalsyntax this might be a good bug for you

[2018-08-08 18:00] #8620 closed

[2018-08-08 18:05] synicalsyntax commented on #10234
@timabbott Didn't @YagoGG just have a PR merged to fix this?

[2018-08-08 18:06] #9817 closed

[2018-08-08 18:07] timabbott commented on #10234
No, the backend now throws an error thanks to Yago, but the frontend doesn't handle the error.

[2018-08-08 18:11] synicalsyntax opened #10239 "user profile: Choice fields show index of field instead of actual value."
![screenshot at aug 08 11-02-09](https://user-images.githubusercontent.com/15116870/43855831-ae2db8a4-9afb-11e8-9d5c-cc963fc53181.png)

[2018-08-08 18:45] #10129 closed

[2018-08-08 18:49] timabbott commented on #10239
Tagging this as a priority, since it's a correctness issue.

[2018-08-08 18:58] timabbott commented on #10209
@frg-tarasov is your feature request in the Zulip webapp or mobile app?

[2018-08-08 19:03] YJDave commented on #10239
@zulipbot claim
fixing soon

[2018-08-08 21:28] andersk commented on #9953
Opened thumbor/libthumbor#37 for `libthumbor` ↦ `pkg_resources`.

[2018-08-08 21:58] #10126 closed

[2018-08-08 22:00] #10239 closed

[2018-08-08 22:01] timabbott commented on #9940
Great, closing, thanks @zooba!

[2018-08-08 22:01] #9940 closed

[2018-08-08 22:02] timabbott commented on #9385
Closing, since we've gotten several independent reports from other folks of this fix working.  Thanks again for the report @tpoterba!

[2018-08-08 22:02] #9385 closed

[2018-08-08 22:06] tpoterba commented on #9385
ah, I'm sorry! I thought I had responded. It's working for me, thanks a ton!

[2018-08-08 22:07] timabbott commented on #9946
@pflueg since this issue is cluttered with a bunch of other items, would you be up for opening a fresh issue for just the German locale issue that remains and closing this?  I think it'll be a lot easier to get someone to work on fixing that without the 3 things we fixed mixed together here.

[2018-08-08 22:10] timabbott commented on #10179
(1) The expected behavior is that registering a new account should not result in a "new login" email notification; the user's already going to get an email about their account being created.

(2) Current master has a hack of adding the `.just_registered` property to the user Python object to attempt to prevent the emails, and checking that in `zerver/signals.py`.

(3) Right, so I think we just get

[2018-08-08 23:31] timabbott opened #10248 "Make "deactivate my account" easier to find with custom profile fields"
Now that we have Custom Profile Fields, the "deactivate account" button can be kinda buried under a bunch of other things; I've had a few conversations with users that suggest they were unable to find them.  We should figure out a solution to make these easier to find.

![image](https://user-images.githubusercontent.com/2746074/43869626-4f36d0d8-9b28-11e8-928b-a342fed330f9.png)

One thing that wil

[2018-08-08 23:51] rishig commented on #10248
We could move it to the right, under the Avatar?

[2018-08-09 00:03] lonerz commented on #9503
@zulipbot claim

[2018-08-09 00:10] timabbott commented on #10248
If we moved the "delete avatar" UI to be an X in the corner that you click, that could be reasonable.

[2018-08-09 00:30] synicalsyntax commented on #10248
I think one solution would be to have an Edit Profile button that shows/hides the custom profile fields with them hidden by default so that it doesn't take up too much space?

[2018-08-09 00:42] synicalsyntax opened #10249 "night mode: Fix coloring of widgets in night mode."
![screenshot at aug 08 17-39-58](https://user-images.githubusercontent.com/15116870/43871559-16a14672-9b32-11e8-9be4-63823bfdcd0d.png)

`static/styles/widgets.scss` applies a lot of styling not in RGB colors, resulting in a lot of miscolored elements.

Example:
[code]

[2018-08-09 02:06] skunkmb commented on #9072
@zulipbot claim

[2018-08-09 12:26] p-phillips commented on #295
In reply to @timabbott questions:

1. **do they expire after X time** - not necessary, but would be cool if you could set a user expiry time (such as expire in 24 hours).

2. **does something happen if you message someone who's away** - I would say no - this is more about signalling

3. **what are the valid states?** - in t he first instance make it user configurable - a short text field which can

[2018-08-09 15:27] timabbott opened #10255 "Make the settings avatar delete/edit UI slicker"
As discussed in #10248, we should have:
- [x] an X in the upper-left corner to remove the avatar (rather than a giant button), and
- [x] The UI for uploading a new avatar potentially triggered by clicking on the avatar, rather than a button.
- [x] Move the loading indicator for uploading a new avatar over the avatar area ([discussion on czo](https://chat.zulip.org/#narrow/stream/9-issues/topic/off

[2018-08-09 15:27] timabbott commented on #10248
I opened https://github.com/zulip/zulip/issues/10255 for the avatar UI cleanup.

[2018-08-09 15:55] showell opened #10256 "slash commands: Clone "/settings" for other pages."
Right now when you type "/settings" in the compose box, it launches the settings dialog.

We should make similar commands to launch things like our API page, our integrations page, our stats page, etc.

You can find the relevant code in `static/js/zcommand.js`.  There's no backend piece for this.

This should be a pretty easy task for somebody with fairly minimal JS experience.  The only possibly

[2018-08-09 15:56] #9072 closed

[2018-08-09 16:07] timabbott commented on #10249
Hmm, yeah; that feature is sorta a prototype, but there's no reason not to clean it up.

[2018-08-09 16:09] Mactory opened #10257 "Empty string in 'secret_auth_ldap_bind_password' not possible: Breaks anonymous ldap bind"
The Default setting for the `AUTH_LDAP_BIND_PASSWORD` set by `django_auth_ldap` is an empty string. This is passed to the ldap server at bind time.
The Zulip mechanism to use a config file for the secrets results in the setting beine `None` if it is unset. The `None` value is then passed to the ldap library which results in the anonymous bind failing.

[2018-08-09 16:12] timabbott commented on #10257
@Mactory thanks for the report!

What happens if you put `auth_ldap_bind_password = ` in `zulip-secrets.conf`?

[2018-08-09 16:12] Mactory commented on #10257
Same thing, results in the Value being `None`. `auth_ldap_bind_password = ""`also doesn't work.

[2018-08-09 16:13] Mactory commented on #10257
A simple fix is setting `zproject/settings.py:1373' to:
`AUTH_LDAP_BIND_PASSWORD = get_secret('auth_ldap_bind_password') or ""`
But I'm not sure if that is the best way to fix the problem.

[2018-08-09 16:51] timabbott commented on #10257
OK.  I think the right path forward is to tweak `get_secret` to accept a second default value argument, and have it return that.  I'll try doing that now.

[2018-08-09 17:03] #10257 closed

[2018-08-09 19:18] emrahgunduz commented on #9354
Is it possible that Zulip is installing apache2 package and starts is before certbot?
Or are you starting apache2 but using certbot in standalone mode?

While installing zulip, it looks like apache2 is installed in someway, it was not there before. So either Zulip or Certbot is starting the service which holds port 80.

Just run `service apache2 stop` and continue installing server again.

[2018-08-09 20:03] timabbott commented on #9354
@emrahgunduz Zulip does not install `apache2`.  You can consult `/var/log/dpkg.log` to try to figure out how it got installed on your system.

[2018-08-09 20:15] timabbott commented on #10257
As you can see, I implemented the proper fix; you can use `upgrade-zulip-from-git master` if you want to deploy the upgrade to your system.  We're in the week between 1.9.0-rc1 and 1.9 final release, so master should be pretty stable.

[2018-08-09 20:43] shubham-padia commented on #10124
@zulipbot claim

[2018-08-09 20:53] emrahgunduz commented on #9354
@timabbott thanks for the tip.

As it turns out, if you searched "certbot install", the fist link you'll get is [a link](https://certbot.eff.org/all-instructions) that defaults to cerbot-apache. If you are not careful, and not selected "none of the above", given instructions also install apache2 binary, which blocks port 80.

It would be nice if you could add a warning in your documentation for th

[2018-08-09 20:55] #9934 closed

[2018-08-09 20:57] shubham-padia commented on #10179
@zulipbot claim

[2018-08-09 21:04] timabbott opened #10262 "export: Set UserMessage.flags.is_private properly in build_usermessage"
I think this isn't an active bug, since we don't have private messages to import yet, but we should set the upcoming `UserMessage.flags.is_private` (#9753) to True in `build_usermessage` whenever importing a private message.  So I think the near-term task is probably to tweak `build_usermessage` to have an explicit keyword argument `is_private_message=False`, and pass the argument where we call it

[2018-08-09 21:38] timabbott commented on #9354
@emrahgunduz so, our installation documentation recommends passing the `--certbot` option and having Zulip invoke certbot for you; what documentation were you looking at?

[2018-08-09 21:38] gnprice commented on #8841
In both GCM and APNs, the token belongs to the (device, app) pair, so it's absolutely correct that the Zulip app on a given device will use the same token for each Zulip account it logs into.

(Currently the app actually attempts to maintain just one account having a token for it at a time. We should fix that, but it won't do much good until this server-side change is made too.)

Yep, I think this

[2018-08-09 22:14] #9168 closed

[2018-08-09 22:19] timabbott opened #10264 "import: Optimize performance for Zulip markdown processor when importing"
Currently, the markdown-rendering part of our import tool (added as part of fixing #9168) is by far the most expensive, in part because we've optimized everything else really well.

Here's some import logs to give an idea:
[code]

Ideally, we've migrate the markdown-rendering work to be done in parallel and/or optimize its performance (e.g. because we know the realm/users/etc. are static for this

[2018-08-09 23:12] #6896 closed

[2018-08-09 23:31] rheaparekh commented on #10264
@zulipbot claim

[2018-08-09 23:49] timabbott commented on #356
@Serkan-devel we now have a documented Matrix bridging system; though the docs are out-of-date today, since we merged an improved configuration format yesterday.  @neiljp @rheaparekh can you make sure we fix the docs soon?  Thanks!

(I suppose we should also extent the docs to show how to bridge two Zulip servers either through Matrix or directly, and then we can close this)

[2018-08-10 00:33] timabbott commented on #3916
@synicalsyntax quite possibly not; try with a window of that window but 50% taller?

[2018-08-10 00:46] #9239 closed

[2018-08-10 00:54] #9803 closed

[2018-08-10 01:31] aero31aero commented on #9678
@zulipbot claim

[2018-08-10 02:14] synicalsyntax commented on #10249
@timabbott Are widgets not being included in the next release?

[2018-08-10 06:23] melchan15 opened #10265 ""more topics" should not display when there are no more topics to be shown"
![moretopics](https://user-images.githubusercontent.com/11819861/43941972-fad03b98-9c2a-11e8-97fd-4bd29d89d45f.gif)

User expects there to be more topics when they select "More Topics". It would be a cleaner UI to not display "more topics".

[2018-08-10 09:31] emrahgunduz commented on #9354
@timabbott does passing `--certbot`, install the required items? Documentation do not specify this detail. That's why I installed it via apt by myself. If it does, it would be nicer to specify this detail.

What I meant with my previous comment was, adding a warning paragraph in ["Install SSL Certificates"](https://zulip.readthedocs.io/en/stable/production/ssl-certificates.html#certbot-recommended

[2018-08-10 16:25] timabbott opened #10268 "slack import: Record which user uploaded custom emoji in import data"
We currently have a few hacks in our data import code for custom emoji to not assume that the `user_profile_id` field is set (and set `author` to None), because our Slack export tool doesn't have the data.  Since Slack does show who uploaded custom emoji in their UI, it seems possible the data is available; we should try to get it and clean up the codebase.

[2018-08-10 16:47] timabbott commented on #10257
Ideally, but we're using the standard `.ini` format for that file, and the root problem here is that format doesn't let you specify the empty string.  And I don't think we actually have other secrets where '' would be a valid value (most services that need secrets don't have an anonymous mode).

We have to check all of our third-party dependencies for API changes whenever we upgrade them already,

[2018-08-10 18:30] timabbott commented on #10265
So, the story here is that Zulip needs to go to the server to be 100% confident that there are actually no more topics.  But there is a corner case for new organizations that absolutely could be improved here without doing anything super difficult.

I think @showell and I talked about this a while ago, and my recollection of the design we came up with was this:
* We add a `Stream.first_message_id`

[2018-08-10 20:59] #7459 closed

[2018-08-10 21:07] timabbott opened #10271 "Add support for setting counts in iOS push notifications"
Following da8f4bc0e956e29b140fa89e963b67e3d23581df, we now have support for clearing old GCM push notifications as users read messages.  We should be able to use this same infrastructure for iOS.  It's possible that we can just grab the count from the `len(get_mobile_push_notification_ids(user_profile))` function (needs some refactoring if we do that, since it's a test function) and set `count` to

[2018-08-10 21:07] timabbott commented on #7459
I opened https://github.com/zulip/zulip/issues/10271 for the iOS issue.

[2018-08-10 21:29] Mant1kor commented on #10207
Hi, @LiquidKang can you show your settings.py file(without sensitive data)? I'm interesting in LDAP config section.

[2018-08-11 00:09] timabbott opened #10273 "Add support for web-submission of Slack import requests"
Now that Slack import is working well and stable, we should allow users to submit Slack import requests on the web.  Here's how they should work:
* We add a new page /import/slack (which we'll eventually link to from /new) which has instructions and where users can provide: (subdomain, token, uploaded Slack export tarball).
* For v1, it just stores the uploaded data and calls `mail_admins()` to no

[2018-08-11 01:04] rishig opened #10274 "RealmAuditLog: Add an old_value and new_value field, and update existing calls."
https://chat.zulip.org/#narrow/stream/49-development-help/subject/realm.20audit.20log.20changes/near/628995 has some context.

The fields can be `TextField`s.

As a part of this, it would also be great to update all the current `RealmAuditLog` calls to fill these two columns. The following seem like plausible candidates:
    STRIPE_CUSTOMER_CREATED (stripe_customer_id, new_value only)
    STRIPE_P

[2018-08-11 01:07] rishig opened #10275 "hotkeys: Ctr+s doesn't work from compose box."
To reproduce:
* Click on a stream message
* Type `Ctr + s`

Expected behavior is that the message should star or unstar.
Current behavior is the "save" dialog box opens up.

[2018-08-11 05:02] winmasta opened #10277 "Wrong help text in manage.py for registration notification service."
When I tried to register server I executed command from instruction
`manage.py register_server`

and it returned
`manage.py: command not found`

of course, if you want to execute script from linux you have to run it like this
`./manage.py register_server`

and it returned
`./manage.py
/home/zulip/deployments/2018-07-24-23-08-16
You must agree to the Zulipchat Terms of Service: https://zulipchat.co

[2018-08-11 05:16] shubham-padia commented on #10026
Yes

On Sat, Aug 11, 2018 at 10:32 AM, zulipbot <notifications@github.com> wrote:

[2018-08-11 12:53] pragatiagrawal31 commented on #10040
@zulipbot claim

[2018-08-11 12:56] pragatiagrawal31 commented on #10040
@zulipbot claim

[2018-08-11 21:55] #10040 closed

[2018-08-11 21:57] timabbott commented on #10277
Thanks for the report!  This is already fixed in 1.9.0 (coming out next week).

[2018-08-11 21:57] #10277 closed

[2018-08-11 21:59] timabbott commented on #10275
@lonerz do you want to take a look at this one?

[2018-08-12 00:04] lonerz commented on #10275
Done, #10281.

[2018-08-12 01:05] rishig opened #10284 "custom profile fields: Limit label length."
Tried out the custom profile fields, and found some issues with label and hint length.

* http://localhost:9991/#organization/profile-field-settings breaks irrecoverably with a longish label and hint without spaces (some languages don't have spaces, so this is a reasonable thing to support).
* http://localhost:9991/#settings/your-account breaks for medium sized label lengths with or without spaces

[2018-08-12 06:15] odeann commented on #2370
Just, can’t you add a button “Create snippet” like Slack did? The button should pop up a window to paste a snippet in. It also would be nice if one could title (name) the snippet. We could open the Snippet window with a shortcut.

[2018-08-12 12:34] zy964c commented on #9974
@zulipbot claim

[2018-08-12 17:52] alexanderon1 commented on #9575
@zulipbot claim.

[2018-08-13 00:59] rmit-s3660270-shahd-sideek opened #10289 "Where Would I change the logo to any image I want?"
I would like to implement my own logo but when I change it on the index.html file, it doesn't change on the sit.

[2018-08-13 03:32] lonerz commented on #10289
@rmit-s3660270-shahd-sideek which logo? The upper left corner?

[2018-08-13 05:07] lonerz commented on #9684
Not sure what happened here, but #10290 and #9967 pretty much do the same thing and are up for review.

[2018-08-13 08:59] Mactory commented on #10257
Thanks for the detailed explanation. I think you are right, that the fix you implemented is good for the present and with the restrictions of the `ini` format.
Unfortunately I'm quite busy at the moment with other projects, so I won't be able to implement anything larger, but I might get back to this in the future.

[2018-08-13 16:34] timabbott commented on #10257
Sounds good :)

[2018-08-13 16:43] timabbott commented on #9575
@alexanderon1 I added the "help wanted" label, feel free to claim.

[2018-08-13 17:19] #10179 closed

[2018-08-13 18:11] timabbott opened #10294 "outgoing webhooks: Improve error hanlding for non-JSON responses"
These should trigger a user notification, not an uncaught exception:

[code]

@rheaparekh FYI

[2018-08-13 18:12] timabbott commented on #10284
@YJDave FYI

[2018-08-13 18:32] timabbott commented on #9684
@lonerz want to also work on the two follow-ups suggested in this issue?

[2018-08-13 18:40] #9684 closed

[2018-08-13 18:47] YJDave commented on #10284
@zulipbot claim

[2018-08-13 19:03] timabbott commented on #10249
Correct, widgets are not a 1.9.0. feature.

[2018-08-13 19:14] #10163 closed

[2018-08-13 19:32] #9185 closed

[2018-08-13 23:18] #10234 closed

[2018-08-13 23:27] timabbott commented on #10038
It seems likely that the timestamp is the issue (since we are using `collectstatic` to copy files into place), but I guess I'm not sure what we should be doing about it.  I don't want to `rm` files, so the best option I can think of right now is to do `collectstatic` into a different directory, and then copy files into place.

[2018-08-13 23:28] timabbott opened #10297 "Complete follow-ups to convenient LDAP auth testing system"
Continuing from #10181, I think there's some high-value follow-ups to this that we should do:
* Play a bit with the defaults for username/password; I think it's a mistake to have LDAP users like `ldap_iago@zulip.com` with a name "Iago".  Would be much better to have totally new names for these users.
* Once that's done, document this somewhere; I think my best concept for that is to expand https:/

[2018-08-13 23:37] timabbott commented on #9710
@hexinal open a new issue for that; it's a reasonable thing to support, but nobody's going to work on it as-is :).  I imagine this is something we'll want to chat with upstream about.

[2018-08-14 01:35] YagoGG opened #10298 "api: Create an endpoint for listing the user groups in a realm."
There is no way for fetching the user groups in a realm, besides reading them from the initial response given when registering a new event queue.

We could make use of the (currently orphan) `user_groups_in_realm` view in `zerver/views/user_groups.py`, and make it available by GETting the `user_groups/` endpoint.

I can take this real soon if nobody is up for it first.

---

@zulipbot label "area:

[2018-08-14 06:40] zy964c commented on #9503
@zulipbot claim

[2018-08-14 06:50] lonerz commented on #9503
@zy964c wait, I'm working on this. Hmm, seems like @zulipbot removed me early...

[2018-08-14 06:53] zy964c commented on #9503
@lonerz ok, thanks for letting me know

[2018-08-14 06:53] zy964c commented on #9503
@zulipbot abandon

[2018-08-14 10:40] zy964c commented on #10298
@zulipbot claim

[2018-08-14 12:06] trollJ opened #10299 "Problems installing Zulip server on Debian systems with non-english locales"
Hello, trying to install zulip bp git repository on Debian 9.4, when you run the installation script gives an error here is the output:
`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-f6b8zyeh/talon/
Requirement already up-to-date: pip==18.0 in /srv/zulip-venv-cache/75c8dda243a98063a2270e22c1f76db6212808fa/zulip-py3-venv/lib/python3.5/site-packages (from -r /home/z

[2018-08-14 12:41] HarshitOnGitHub opened #10301 "night mode: Fix sidebar icons in narrow window."
Sidebar icons appear to haven't been covered in night mode CSS.
![image](https://user-images.githubusercontent.com/16687990/44092182-4e05f08a-9fed-11e8-99a4-796c3b52882e.png)

[2018-08-14 15:34] hackerkid commented on #10274
@zulipbot claim

[2018-08-14 16:00] rishig opened #10303 "custom profile fields: Make minor clean-ups."
Found a few minor bugs in custom profile fields.

**User Settings**
* [x] For "User" type, it looks greyed out, and also if you type afterwards it is in a small font
![image](https://user-images.githubusercontent.com/890911/44101794-11849332-9f9d-11e8-9a99-39cd161c66d4.png)
It also doesn't work great for entering more than 1 name, though not sure what the solution should be (the box should expand

[2018-08-14 16:29] rishig commented on #10303
Note: this one is most critical to do soon, since it affects the documentation of the feature.
* In admin settings: for adding a new field, in the dropdown let's rename "Choices" to "List of options", "URL" to "Link", "Date" to "Date picker", and "Person" to "Person picker". In the table they can just be "List", "Link", "Date", "Person".

[2018-08-14 17:05] timabbott commented on #10303
@YJDave FYI.

@synicalsyntax I wonder whether the users one at the top of this list is caused by your recent user groups CSS work?

[2018-08-14 17:11] timabbott commented on #10303
I did a quick update to this now that #10287 is merged.

[2018-08-14 17:12] timabbott commented on #10301
@synicalsyntax want to grab this one?

[2018-08-14 17:13] timabbott commented on #10299
@trollJ this looks like a locale issue; can you run the `env | grep LC` and `locales` commands?  Various Python dependencies of Zulip don't install properly in non-English locales.  We should be overriding the locale for this situation, I think.

[2018-08-14 17:17] YJDave commented on #10303
@zulipbot claim

[2018-08-14 18:25] rishig opened #10305 "compose: Use placeholder when pasting issues."
This happens to me fairly often:
* I paste an image
* Continue typing or otherwise move the cursor around
* The image finishes uploading, and gets inserted into the wrong part of the input
* I have to manually cut and paste it to the intended location.

GitHub does this really well, so we should just copy how they do it :). They put down a placeholder, and then replace the placeholder when the ima

[2018-08-14 18:48] timabbott commented on #10299
@trollJ do you have any easy way I can generate a system with your locale configuration to debug?

[2018-08-14 18:48] timabbott commented on #9946
Closing in favor of #10299, since that's a second report of the locale issues that remain from this issue thread.

[2018-08-14 18:48] #9946 closed

[2018-08-14 21:02] skunkmb commented on #10305
@zulipbot claim

[2018-08-15 02:39] Goakgoak commented on #7995
What is exactly the path for the logo on the header?

[2018-08-15 05:45] penCsharpener commented on #5379
It's been a while since I posted it. How doable is the implementation of this feature today?

Since GDPR it is more important for Europe based companies to secure their customers data. Some of this data is stored as part of the chat history or file attachments. It would be good to allow only some but not all people access to the zulip server outside the office.

[2018-08-15 11:37] trollJ commented on #10299
@timabbott thank you very much, the installation continued, but now gives another error is due to the fact that I cloned in the git repository in /home/zulip,  now I will redo and try again

[2018-08-15 12:07] Mant1kor opened #10318 "Apache-based SSO, zulip-puppet-apply error"
I try to use Apache-based SSO following the instruction.
Step 3:

Zulip from GitHub master.

[2018-08-15 13:06] #10299 closed

[2018-08-15 15:04] lonerz commented on #7995
@Goakgoak it's in `/templates/zerver/app/navbar.html`

[2018-08-15 16:00] mkozakov opened #10320 "Press Enter to Save when editing a message"
There is an option to press Enter to send a new message. But when editing an existing message, you have to remember to Shift + Enter.

[2018-08-15 17:50] YJDave commented on #10303
@rishig Currently we are using browser locale to determine the formate used locally for date type custom field. This is the [commit](https://github.com/zulip/zulip/commit/b9b923aab61730096e56e3a954b7904fb6803363).
Date format used in user popover-custom-field, account settings and user popover-last-seen are different. We should change this all to one format. Which one is preferable here?

[2018-08-15 18:03] rishig commented on #10303
What are the three formats? I think the one in settings (https://localhost:9991/#organization/user-list-admin) is the one I would copy by default.

[2018-08-15 18:07] pragatiagrawal31 commented on #5854
@zulipbot claim

[2018-08-15 18:11] YJDave commented on #10303
One used in
account settings: `MMMM DD YYYY`,
user popover-last seen: `MM/DD/YYYY`,
user popover-date type custom field: Local format of browser

[2018-08-15 19:09] rishig opened #10323 "emails: Refactor and update password reset email."
Copying comment https://github.com/zulip/zulip/pull/10186#issuecomment-412644355 here, so we don't lose track of it. Thanks @shubhamdhama!

The final state of password_reset.source.html should be the following (note that I renamed some variables for clarity). This will probably be a string of ~10 small commits to get here.

[code]

[2018-08-15 19:11] shubhamdhama commented on #10323
Thanks, @rishig for creating the issue for it... I've already made few commits regarding this locally and also fixed some other bugs. I'll create pr for this after completing.

[2018-08-15 22:00] zhoufeng1989 commented on #4804
@zulipbot claim

[2018-08-15 22:03] zhoufeng1989 commented on #4804
@zulipbot claim

[2018-08-15 22:42] rishig opened #10327 "settings: Community topic editing should be grayed out when message editing is off."
![image](https://user-images.githubusercontent.com/890911/44177203-a8626680-a0a1-11e8-8e73-ccc0b2a71a7e.png)

The checkbox setting has no effect when "Allow message editing" is "Never".

[2018-08-15 23:37] skunkmb commented on #10301
@zulipbot claim

[2018-08-16 00:27] synicalsyntax commented on #10301
@timabbott Looks like @skunkmb is already working on it

[2018-08-16 04:51] lonerz commented on #7995
#10330 has a working start.

[2018-08-16 05:10] gnprice opened #10331 "settings: Warn when promising mobile notifications the server can't deliver"
We should have the Zulip webapp display a warning in the "notification settings" area for mobile if your server isn't registered for push notifications.

In particular, when the UI looks like this:
![image](https://user-images.githubusercontent.com/28173/44189320-a61aff00-a0d7-11e8-9a2d-ff93b16081e3.png)
the nice checked box is promising mobile notifications. When in fact the server knows it has n

[2018-08-16 06:37] Mant1kor commented on #10318
I removed "apache2" from section:

and it's working.

[2018-08-16 07:03] punchagan commented on #9201
This no longer seems to be an issue: Tested with Google Chrome Version 68.0.3440.84 (Official Build) (64-bit)

[2018-08-16 07:09] lonerz commented on #9201
Yep, I can confirm. Closing.

[2018-08-16 07:09] #9201 closed

[2018-08-16 11:54] Mactory opened #10333 "'Settings' object has no attribute 'SEND_REMOVE_PUSH_NOTIFICATIONS'"
Whenever a new user logs in to our Zulip instance, an error ist generated:

    Logger root, from module zerver.worker.queue_processors line 149:
    Error generated by Anonymous user (not logged in) on df11769d5aac deployment

    Traceback (most recent call last):
     File "/home/zulip/deployments/2018-08-13-14-36-34/zerver/worker/queue_processors.py", line 132, in consume_wrapper
       self.c

[2018-08-16 13:24] p-rintz opened #10334 "Support for on-premises Jitsi"
Hello,

I am currently running a Zulip test for a company to compare between various chat solutions and wanted to ask if its possible/planned to integrate Zulip with an on-premises Jitsi Meet install? From what I found its not possible (yet), but maybe I missed something?

Thank you.

[2018-08-16 13:39] pragatiagrawal31 commented on #10327
@zulipbot claim

[2018-08-16 13:49] shubhamdhama commented on #10327
Hey @pragatiagrawal31, as I've worked a lot in this area, I can solve this but if you're interested in working on this you are still welcomed to submit a PR as it's quick to solve.
Few leads are that we need to proper class(`disable`?) to the whole checkbox/label and new-feature-tutorial doc might be helpful(specially frontend part). I guess you need to add this logic somewhere in `set_msg_edit_li

[2018-08-16 14:00] Swapnilr1 commented on #8631
I am having difficulty implementing this for now, so I am unclaiming this issue.

[2018-08-16 14:00] Swapnilr1 commented on #8631
@zulipbot unclaim

[2018-08-16 19:36] shikharvaish28 commented on #10331
![](https://github.trello.services/images/mini-trello-icon.png) [settings: Warn when promising mobile notifications the server can't deliver](https://trello.com/c/QMu7XzC0/4-settings-warn-when-promising-mobile-notifications-the-server-cant-deliver)

[2018-08-16 20:44] timabbott commented on #10334
@p-rintz you can do this by specifying the URL of your Jitsi server with the `JITSI_SERVER_URL` setting in `/etc/zulip/settings.py.`

[2018-08-16 20:44] #10334 closed

[2018-08-16 20:47] timabbott commented on #10333
@Mactory that is quite strange; from reading the code, I don't understand how that situation might be possible (where that setting doesn't have a default value).  Can you try running `scripts/get-django-setting SEND_REMOVE_PUSH_NOTIFICATIONS`, and also let me know whether `SEND_REMOVE_PUSH_NOTIFICATIONS` appears in `zproject/settings.py`  on your machine?

https://zulip.readthedocs.io/en/latest/su

[2018-08-16 20:52] #8586 closed

[2018-08-16 21:15] timabbott commented on #10318
@Mant1kor thanks for reporting!  I just fixed this in master.

[2018-08-16 21:16] #10318 closed

[2018-08-17 04:30] zhoufeng1989 commented on #4808
@zulipbot claim

[2018-08-17 04:39] zhoufeng1989 commented on #4804
Hi @showell, I sent a [pull request](https://github.com/zulip/zulip/pull/10347) for this issue, would you mind having a look at it?

[2018-08-17 05:18] techac commented on #6512
@zulipbot claim

[2018-08-17 08:04] shikharvaish28 commented on #10331
![screen shot 2018-08-17 at 1 07 44 pm](https://user-images.githubusercontent.com/22795943/44253893-b8538500-a21e-11e8-9aa8-3ec0b029724c.png)

@gnprice By this, you mean to say that ```1``` has not been checked while ```2``` is thereby promising to send push notifications?

So I have to verify whether ```1``` has been checked or not and warn the user accordingly.

[2018-08-17 08:27] gnprice commented on #5854
My original description apparently wasn't clear about this, so I'll try to be as clear as I can: I'm 100% in agreement that we send way too many of these notifications. That's what this issue is about.

Services I've gotten this kind of notification from in the past few months include (at least):
* Google
* Dropbox

Of course they're much better at not sending them all the time; that's, again, wha

[2018-08-17 08:35] gnprice commented on #10331
Hmm, that's not what I mean -- but that is a good question!

1 and 2 don't interact with each other; one is for streams, the other for PMs and @-mentions. I was thinking of 2 -- but 1 should actually get the same treatment, so I'm glad you mentioned it.

In both cases, if the box is checked but the server as a whole hasn't enabled push notifications, we should warn. You can test for this with `pag

[2018-08-17 13:15] shikharvaish28 commented on #10331
Should I add a warning for 1 along with 2 in this issue or create another one for it?

[2018-08-17 13:34] shubhamdhama commented on #5854
(Posting the [LINK to the conversation](https://chat.zulip.org/#narrow/stream/9-issues/subject/.235854/near/629580) of the current approach to solve this.)

[2018-08-17 14:41] shikharvaish28 opened #10348 "docs: Link in the docs leads to 'Page does not exist yet'"
On doc pages like https://zulip.readthedocs.io/en/1.7.1/code-style.html , a warning pops up showing

```You are not using the most up to date version of the library. 1.8.1 is the newest version.```

When you click on the link provided in the warning, it leads to 'Page does not exist yet'.

This link needs to be changed to a working one.

[2018-08-17 15:38] #10284 closed

[2018-08-17 15:45] orev commented on #6096
I agree with this feature request, but I also want to point out this should be an option that is possible to enable/disable from the server-side.  In companies who use internal chat apps, it is an important requirement to be able to audit and possibly investigate chats that occurred between people for security or HR purposes.
I realize this will rub some people the wrong way, but it's a pretty str

[2018-08-17 15:59] #4804 closed

[2018-08-17 16:02] timabbott commented on #5854
There are two things to do here.  One is that we need a user-level setting to disable these emails; this is useful for situations where the user is explicitly logging out a lot and wants that behavior (e.g. we heard from one user who clears cookies every time he closes his browser).  The second is working on the signal stuff to provide fewer emails for users who aren't doing something like that.

[2018-08-17 16:27] YJDave commented on #10303
Further discussion for this issue: [here](https://chat.zulip.org/#narrow/stream/6-frontend/subject/custom.20field.20date.20format).

[2018-08-17 17:34] pragatiagrawal31 commented on #10327
I think I've got the solution for this, creating PR soon.

[2018-08-17 17:53] subzik commented on #9218
Hi? have this issue to.
I chenged tis file, and now:

[code]

[2018-08-17 17:57] ShivangiKakkar commented on #2305
@zulipbot  claim

[2018-08-17 18:36] timabbott commented on #9218
@subzik what were you expecting to happen differently?  You can try using `manage.py query_ldap`, but I'm guessing this just means your LDAP configuration doesn't correctly map email addresses to your LDAP data.

[2018-08-17 19:05] julievalet opened #10351 "Custom GIF emoji - alpha color"
Hello,

After the resizing function for the custom gif was added, every time I upload a new custom GIF emoji, the background, which should be transparent, is now black.

Thanks @HarshitOnGitHub, for the resizing function, do you think this issue could be related ?

<img width="42" alt="screen shot 2018-08-17 at 3 05 13 pm" src="https://user-images.githubusercontent.com/9500684/44284255-fb1d5900-a2

[2018-08-17 19:15] timabbott commented on #10351
Tagging as a priority, since it'd be really good to have this fixed before the 1.9 release next week.

[2018-08-17 19:17] timabbott commented on #10348
@shikharvaish28 thanks for the report!  The reason that link is broken is because that page doesn't exist at the same URL in newer versions of the documentation.  Since we can't update the docs code of Zulip 1.7.1, there's little we can do to fix the broken link here (which is due to our redesigning the documentation URLs in Zulip 1.8.0+).  So I'm closing as wontfix.

[2018-08-17 19:17] #10348 closed

[2018-08-17 19:34] timabbott commented on #10320
We should evaluate whether this needs to be a separate option; one thing that's tricky here is that a common use case when editing is to try to add an extra paragraph to a message.  Perhaps the right answer is to first couple the behavior and then see if anyone complains, and if they do, split the option.

[2018-08-17 19:36] timabbott commented on #5379
Nothing has really changed.  It's not a big feature to implement, but also not something that it's clear to me a lot of people want.  If someone's interested in working on this, I can provide notes on the details for how to make it happen.

[2018-08-17 19:39] zy964c commented on #10265
@zulipbot claim

[2018-08-17 19:41] ShivangiKakkar commented on #2305
@zulipbot abandon

[2018-08-17 20:11] gnprice commented on #10331
Let's keep it the same issue -- they're all closely related and it seems easiest to discuss that way.

[2018-08-17 23:13] zhoufeng1989 commented on #3490
@zulipbot claim

[2018-08-17 23:27] lonerz commented on #9503
PR: #10313

[2018-08-18 04:48] lonerz commented on #2369
#10149

[2018-08-18 04:51] lonerz opened #10354 "Multiple invites, duplicate/multiple click handlers"
I'm pretty sure the issue with this is setting multiple click handlers: line 70 of `static/js/invite.js` in `exports.launch`.

To reproduce:
1. Go to http://localhost:9991/#invite
2. Close the modal (by clicking out or the `x`)
3. Go to http://localhost:9991/#invite again
4. Close the modal (by clicking out or the `x`)
5. Go to http://localhost:9991/#invite again
6. Invite a person, like `a@zulip.

[2018-08-18 08:32] HarshitOnGitHub commented on #3750
@zulipbot claim

[2018-08-18 09:08] HarshitOnGitHub opened #10356 "right sidebar: Either clear or make it obvious that filter is present when out of focus."
If I search for someone in right sidebar and but then move focus out of the sidebar, the filter still sticks and many a times I wouldn't realize that filter is still there and think that someone is offline while actually they are online just filtered out. This leads to a lot of confusion and annoyance. We should either automatically clear the filter or make it more obvious that it is present.

See

[2018-08-18 10:28] akashnimare opened #10357 "ignore small drafts"
We should ignore saving the draft with <=2 characters.

[2018-08-18 12:57] Lyla-Fischer commented on #10061
@zulipbot claim

[2018-08-18 14:08] Lyla-Fischer commented on #5803
@zulipbot claim
I'm going with the postgres search, with examples from `zerver/views/messages.py` in `_by_search_tsearch` and `highlight_string`, as mentioned in the zulip thread.

[2018-08-18 15:47] AkshJain99 commented on #4120
@zulipbot claim

[2018-08-18 16:01] FoggyFinder opened #10362 "Rules for saving messages in a draft."
[Currently](https://zulipchat.com/help/view-and-edit-your-message-drafts), when user click on an empty part of the app the message is saving to a draft.

Is it possible to change this behaviour to something more obvious? For example: to keep text on the compose box or simply restore last draft.

[2018-08-18 16:54] AkshJain99 commented on #4120
Added a pr  #10363 to issue #4120

[2018-08-18 18:47] lonerz commented on #10356
@zulipbot claim

[2018-08-18 18:48] lonerz commented on #10357
@zulipbot claim

[2018-08-19 09:58] Anupam-dagar commented on #10320
@zulipbot claim

[2018-08-19 12:27] ljagielski2 commented on #10169
Still working on this.

[2018-08-19 15:01] dipu989 commented on #4676
@zulipbot claim

[2018-08-19 20:26] bballaz opened #10368 "how do i get wand to work in gearmenu"
i have seen videos of people using gearmenu for wands. how do i get this to work

[2018-08-19 22:47] Be-ing opened #10369 "new users don't realize non-default streams exist"
Often times with [Mixxx](https://mixxx.zulipchat.com/), we have new users start topics in streams that are not the most appropriate stream because they do not realize that we have dedicated streams for some topics. They do not realize that those other streams exist until they are told. Together with #6427, this can make it a bit challenging to keep discussions organized the way the streams are int

[2018-08-20 11:36] showell opened #10371 "search: Find components of "foo-bar/baz""
We should try to find a way to make our search indexes take a word like "foo-bar/baz" and not only index the whole word (which is does now, with stemming) but also "foo", "bar", and "baz".

This is a good project for somebody who understand tsearch and/or pgroonga.  Hopefully this is just a configuration thing.  We'll want to discuss it a bit on chat before rolling it out.

[2018-08-20 12:45] grahamegrieve commented on #10371
https://chat.zulip.org/#narrow/stream/137-feedback/subject/Search

There's nothing in the documentation about this, or any information about support for wildcards or anything. in the absence of this, it's hard to know what is actually supported here. But it seems to me that it's useful to support searching for the parts of conjugate words like in the example above

[2018-08-20 16:00] showell commented on #10371
For the doc piece, we may want to augment this section:

https://chat.zulip.org/help/search-for-messages#features-and-limitations

[2018-08-20 17:17] timabbott commented on #10368
@bballaz can you explain what you mean by "wands"?

[2018-08-20 17:35] skunkmb opened #10373 "style: Oversized search bar on mobile."
The search bar on mobile seems too tall for the rest of the top bar:

<img width="320" alt="light mode search bar" src="https://user-images.githubusercontent.com/17259768/44356629-be3aa780-a464-11e8-8c48-d91efe5a4963.png">

This is especially noticeable in dark mode, where it has more of a background and contrasts with the rest of the page:

<img width="317" alt="dark mode search bar" src="https:/

[2018-08-20 17:35] skunkmb commented on #10373
@zulipbot claim

[2018-08-20 17:42] #9218 closed

[2018-08-20 18:18] YJDave commented on #10354
@zulipbot claim

[2018-08-20 19:13] rishig opened #10375 "streams: Deleting a stream doesn't update browser properly."
It seems like deleting a stream:
* [ ] Changes the stream color to gray
* [ ] Removes the stream messages from All messages

Neither of those happen until you reload Zulip, though.
You do see the gray behavior if you search for the stream's messages via search, but not if you go to All messages.

[2018-08-20 20:01] #9678 closed

[2018-08-20 20:16] jmandel opened #10376 "https://github.com/zulip/zulip/milestones links to old Roadmap location"
https://github.com/zulip/zulip/milestones links to http://zulip.readthedocs.io/en/latest/roadmap.html but should link to https://zulip.readthedocs.io/en/latest/overview/roadmap.html (or better yet,  http://zulip.readthedocs.io/en/latest/roadmap.html should link or redirect to the new location).

[2018-08-20 20:18] timabbott commented on #10376
Fixed, thanks for the report @jmandel!  Though mostly we're no longer using milestones at all.

[2018-08-20 20:18] #10376 closed

[2018-08-20 20:18] jmandel commented on #10376
Thanks! (And yeah, I noticed :-))

[2018-08-20 21:10] nh2 opened #10377 "Slack import takes tons of memory"
The manual recommends 2 or 4 GB RAM, but this is currently not enough to import from Slack.

I just tested with 1.9 RC1, on a 23 MB Slack export .zip file (note this is very small) on a 4 GB RAM server with Zulip running and 2.1 GB RAM used, and got

[code]

Upgrading the server to 8 GB helped in this case.

[2018-08-20 21:46] nh2 opened #10378 "Division by zero when upgrading from 1.9 RC1 to master"
Upgrading from 1.9 RC1 to master after having imported a Slack export crashes with this for me:

[code]

[2018-08-20 22:44] nh2 opened #10379 "manage.py send_password_reset_email sends email without reset link"
1.8.1; `./manage.py send_password_reset_email -u mail@example.com` sent me this email:

[code]

The reset link is missing.

I think that's because the template is supposed to render `send_email('zerver/emails/password_reset', `, which renders [`reset_url`](https://github.com/zulip/zulip/blob/610eb557b8492b0ecf3893f047e705c549e57047/templates/zerver/emails/password_reset.txt#L23), which isn't set b

[2018-08-20 23:45] timabbott commented on #10379
@nh2 thanks for the report!

@hackerkid @shubhamdhama can one of you take this?  I think the root problem here is we don't have any tests for `manage.py send_password_reset_email`, but the actual bug here should be a quick fix.

[2018-08-20 23:49] timabbott commented on #10378
@nh2 thanks for the report!  Fixed in master.

[2018-08-20 23:50] #10378 closed

[2018-08-20 23:51] timabbott commented on #10377
@nh2 thanks for the report!  Tagging this as a priority, at least for documenting that slack import requires significant RAM and/or having a (possibly default) option to shut down the server during the import (since that saves probably all the RAM needed).

[2018-08-21 01:12] gnprice commented on #552
One particular point of confusion that @scottrus mentioned in chat is that it's not clear `postgres-init-db` should be run as root, rather than the `zulip` user. (It needs to switch to both the `zulip` and `postgres` users to do its work.)

A good quick improvement would be for that script to check up front that it's running as root, and fail-fast with an error message if not.

[2018-08-21 02:50] rishig opened #10381 "notifications: "Mobile notifications always" should be independent of "Mobile notifications for PMs"."
Currently "Mobile notifications always" has a dependency on a parent setting.
This setting should actually be something like "Send mobile notifications immediately" and should not be in the "Private messages and @-mentions" section at all.

![image](https://user-images.githubusercontent.com/890911/44377400-68d8b780-a4b1-11e8-9d64-8433b8c9b0bf.png)

The main task is to split the setting from it's p

[2018-08-21 03:09] rishig commented on #10356
Thanks Joshua! Let's do "automatically clear the filter"; I'm not sure "making the filter more obvious" is easier or better.

[2018-08-21 03:53] lonerz commented on #10356
Huh, this is a little more difficult than I thought. Using the simple `focusout` doesn't work since you have to make sure that you also take into account pressing one of the users' names in the list.

[2018-08-21 09:55] hackerkid commented on #10379
@zulipbot claim

[2018-08-21 11:45] nh2 commented on #9005
@timabbott I can reproduce this, please reopen.

I have imported a Slack archive into Zulip 1.8.1.

When searching for stuff (e.g. mention of `spaghetti`), it doesn't find any of it in the history.

Only once I manually scroll there (e.g. by finding in Slack itself all mentions of `spaghetti` and looking up their dates) do they afterwards appear in the search.

So it seems that I have to scroll ov

[2018-08-21 12:05] nh2 opened #10385 "Add support for searching by date (was "It takes very long to go to a given date")"
Right now it seems Zulip offers no functionality to go directly to a given date (e.g. December 1st last year) in any given stream (or _All messages_).

You can scroll up but that takes forever if you have many messages.

Or you can use `Copy link to conversation` and do a manual binary search on the message IDs.

(Slack has a [`Jump to date` feature](https://stackoverflow.com/questions/35122312/ho

[2018-08-21 14:10] rheaparekh opened #10386 "import: Fix `has_link` and `has_attachment` mapping for slack and gitter import."
In the conversion of data in slack and gitter imports, the `Message` objects is being built in `import_util`. There, the current mapping of `has_link` and `has_attachment` is incorrect, which has to fixed.

[2018-08-21 15:35] dipu989 commented on #4676
@rishig
Sir, How I have understood this problem and am working on it !
Basically we want our pre @ i.e  ___@xyz.com (the part in ___), to be consistent with RFC standards and have to check if it follows the same and have to implement it.
So question is:-
1)  Without using any library, can i implement it.
Source Referred :- a)  https://tools.ietf.org/html/rfc3696
                              b)

[2018-08-21 16:16] rishig commented on #4676
Hi Dipu, thanks for looking into this. I think you'll want to read the rest of this thread for more context. The relevant RFC is likely RFC 6532, and the first step is to check what Django already provides.

[2018-08-21 17:59] dipu989 commented on #4676
Thank you Sir.
I will surely check for that.

[2018-08-21 18:01] timabbott commented on #9005
@nh2 we actually did open a properly reproduced version of this as https://github.com/zulip/zulip/issues/9168, which is fixed in master (and 1.9.0-rc1).  This (along with a few other things) is part of why the Slack import docs recommend upgrading to master before doing a Slack import; the 1.8.1 version was beta and had some issues like this.

If you've already started using your server post-impor

[2018-08-21 18:13] timabbott commented on #10385
This would be a pretty reasonable feature to add, and not a lot of work.  The main tricky thing here is picking a good UI for the user selecting the date they want.

[2018-08-21 18:37] timabbott commented on #552
Addressed that bit via 24f34194495e68fa781770915aea0e5c2b1f0eb3

[2018-08-21 19:15] timabbott commented on #10303
@YJDave thanks for fixing so many of these so quickly!  I believe I updated the above checklist with everything that's now resolved.  Also, I wanted to note that your recent refactor is probably really good for making it easier to interact with this on mobile (since we're passing through the declarative names for the field types in the data set).

@rishig one thing I think we might want to revisit

[2018-08-21 19:43] #10301 closed

[2018-08-21 19:57] #10297 closed

[2018-08-21 20:18] rishig commented on #10303
Agreed, thanks for the quick response @YJDave!

For "List of options": how about "Options"? Or "List of choices" and "Choices"?
The main reason to prefer "Options" over "List of options" is that horizontal space in that table is at a premium. Don't feel strongly about it though, and easy to play with it later.

[2018-08-21 20:56] timabbott commented on #10303
Maybe worth posting in chat.zulip.org?  I don't have a great sense for which of these is best (my vote is a weak one for just using e.g. "List of choices" consistently).

[2018-08-21 21:01] timabbott commented on #9503
This is now implemented via #10313; but the setting is only enabled in development.  I'm going to test-deploy to chat.zulip.org; I'm guessing we'll want to change the styling for starred-message counts in some way, but I'm not sure what way.

[2018-08-21 21:01] #9503 closed

[2018-08-21 21:04] timabbott commented on #5384
Reopening since we had to revert this in 1768fd2f600fb7c8677edf061f4900b13736647b due to problems with the scrollbar appearing in Linux.  @akashnimare FYI.

The correct fix probable involves using `ui.setup_scrollbar` on the private messages scrollable region in addition to just doing `overflow-y`.

[2018-08-22 07:15] omi10859 commented on #6040
Are we going to solve this from backend?

[2018-08-22 20:15] #10373 closed

[2018-08-22 20:39] timabbott opened #10397 "Fix issues around soft deactivation and push notifications"
Today I discovered that soft-deactivated users don't get mobile push notifications for messages on private streams that they have configured to send push notifications.  This is pretty poor, since the whole purpose of this feature is to help these users learn about things happening in that stream.  (I think email notifications may still work).

Here's the problem:
* `handle_push_notification` call

[2018-08-22 23:53] #10357 closed

[2018-08-22 23:55] timabbott commented on #999
This was completed by @showell at last in #10388.  Huge thanks to @showell for doing this!

[2018-08-22 23:55] #999 closed

[2018-08-23 00:50] #10323 closed

[2018-08-23 00:58] zhoufeng1989 commented on #8631
@zulipbot claim

[2018-08-23 09:06] coooolers opened #10399 "Using Zulip as a forum"
How about using Zulip as a forum / discussion platform, is it recommended? Secondly, will scalability be an issue if there are thousands of users simultaneously using it ?

[2018-08-23 09:28] akashnimare commented on #10385
I really like the Telegram UI for jumping to dates. All the dates are clickable and when you click on it, a calendar popup will be shown from there you could jump to any dates -

<img src="https://dzwonsemrish7.cloudfront.net/items/2S1l1B2Y2Z0W3Q2p1n0j/Screen%20Recording%202018-08-23%20at%2002.55%20PM.gif?v=04cd3e3c"/>

[2018-08-23 17:20] starlord1311 commented on #8750
@amanagr @sinwar can i take up this issue?

[2018-08-23 18:45] timabbott commented on #5854
Apparently that setting issue https://github.com/zulip/zulip/issues/5795.  @shubhamdhama @pragatiagrawal31 I'd really love to see that worked on; I think it should be pretty quick and should relieve the main pain point here for users like @RalfJung.

[2018-08-23 19:07] #10379 closed

[2018-08-23 20:28] timabbott commented on #8631
@zhoufeng1989 feel free to work on this.  I'm not really a fan of that zulipbot rule.

[2018-08-24 03:44] lonerz commented on #10356
Gonna drop this as I don't have time to look at it right now, @zulipbot abandon

[2018-08-24 04:51] skunkmb opened #10403 "settings: Error when opening custom profile fields page as non-admin."
When a non-admin user opens the custom profile fields page, they page is displayed as blank with the Browser error `undefined: undefined | No stacktrace available` shown:

<img width="1343" alt="screen shot 2018-08-23 at 9 46 11 pm" src="https://user-images.githubusercontent.com/17259768/44565763-a3935780-a71e-11e8-8142-09f47ac9a84b.png">

In the console, the error ``Uncaught Sortable: `el` must b

[2018-08-24 06:04] #10403 closed

[2018-08-24 08:01] lukasIO commented on #10271
Would this approach include actually clearing the push notification (e.g the message from the Notification Center) or is this just about the badge count?

[2018-08-24 16:05] timabbott commented on #10271
This approach will actually clear the push notifications.

[2018-08-24 16:52] rishig opened #10409 "search: Sent by should have the same behavior as sender: in typeahead."
Typing `sent by ` should have a similar typeahead behavior to typing `sender: `.

Likely this should extend to other text descriptions as well, e.g. `stream x` should have the same typeahead behavior as `stream: x`. But the `sent by` is the one I run into most frequently.

[2018-08-24 17:52] rishig opened #10410 "onboarding: Better messaging at the top of All messages."
I joined a new Zulip organization recently and was confused by the fact that All messages stops only a few messages up (maybe 400?). It gave the impression that the organization was newer / less active than it actually was, and also possibly could erode some of your confidence that you understood how Zulip (or at least how "All messages" worked).

I think the proposal here is pretty good: https://

[2018-08-24 21:10] shubhamdhama opened #10413 "org settings: Add column for "role" under org settings->active-users."
This is a followup of https://github.com/zulip/zulip/pull/10141#issuecomment-414794589 which adds a column for "role" under "Organization Settings" tab  -> "Users" section

![image](https://user-images.githubusercontent.com/22238472/44607973-cbaeb380-a80f-11e8-8452-a1427b091c52.png)
Here we have temporarily added a bolt sign against admins so can remove that too.
@zulipbot label "area: settings (a

[2018-08-24 21:14] pragatiagrawal31 commented on #10413
@zulipbot claim

[2018-08-24 23:22] skunkmb opened #10414 "settings: Empty "person picker" custom field appears too thin."
An empty custom field of the "person picker" type appears with a much smaller width than all other fields. For example, the "Mentor" field for Zulip Dev has a width of around `36px`, while all other fields have a width of at least `218px` (padding included).

It seems like this width should be increased for consistency and to make it easier to select.

*Screenshot of Fields:*

<img width="1044" al

[2018-08-24 23:33] timabbott commented on #10413
We might want to move the "Deactivate" buttons to the edit modal widget to make space for the new column.

[2018-08-24 23:34] YagoGG opened #10415 "Create an article on "User agents, clients, and Zulip""
We should create an article on our API docs that explains in detail the different client types we have (i.e. the strings we use to identify the user's client, like the `User-Agent` but for our apps). We can probably grab/point to [this RTD article](https://zulip.readthedocs.io/en/latest/subsystems/client.html).

See [this](https://github.com/zulip/zulip/pull/10344#discussion_r211015870) for contex

[2018-08-25 05:59] diolwe opened #10417 "Check whether universe repository is enabled on Ubuntu"
The tarball packed on 07-May-2018 22:53 (and therefore https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz ) referenced in the Installation Doc (https://zulip.readthedocs.io/en/latest/production/install.html) still needs Ubuntu 16.04. Installation fails with a lsb_release warning.

Installation from git succeeds on 18.04 and works like charm.

Just to make sure (and maybe another potent

[2018-08-25 17:44] rishig opened #10421 "stream settings: All streams doesn't show scrollbar at first."
To reproduce:
* Go to the gear menu, e.g. on chat.zulip.org
* Click Manage settings
* Click "All streams"

Hover over the streams list. There should be a scroll bar, but there isn't.
If you scroll some other way, e.g. with the middle button on your mouse, and then scroll back up, the scroll bar appears as it should.

[2018-08-25 20:10] synicalsyntax commented on #10414
Also, trying to show the user profile of someone who doesn't have anyone set for a Person type custom field throws an exception:

![screenshot at aug 25 13-09-08](https://user-images.githubusercontent.com/15116870/44622161-2a078080-a868-11e8-986f-417e373b2a38.png)

[2018-08-25 21:36] synicalsyntax opened #10423 "Fix mobile view search bar styling"
![screenshot at aug 25 14-31-06](https://user-images.githubusercontent.com/15116870/44622730-9f2c8300-a873-11e8-9a4f-00cd98e6c553.png)
![screenshot at aug 25 14-32-22](https://user-images.githubusercontent.com/15116870/44622741-bd927e80-a873-11e8-8b3f-5c5c59dcabf8.png)

- [ ] Fix broken search bar height (it's overflowing)
- [ ] Fix the the streams sidebar icon's border being to the left of its en

[2018-08-26 03:00] JackViney96 opened #10424 "Generate notification every time a user posts"
Hi, I'm working on a university assignment built around Zulip, and I was wondering what steps I should take to make it so that every message made by a specific user (such as an admin or staff member of the organization) generates an email notification for everyone?

I imagine that I will mostly just need to distinguish which users should be generating the emails, and then I should be able to use t

[2018-08-26 14:28] skunkmb commented on #10414
@synicalsyntax Ah, good catch. I hadn't even noticed that, but that's pretty significant. I can start working on a fix for that now.

[2018-08-26 14:34] skunkmb commented on #10423
@synicalsyntax By the way, I think that the overflowing search bar was solved in 21d537d3bd58f3fd0660db1483fcd02f7183cc89, but correct me if you're referring to a different issue. Other than that, I think that the rest of the issues that you listed still need fixing.  :+1:

[2018-08-26 14:50] skunkmb commented on #10414
@synicalsyntax Actually, I can't reproduce it; I just see a normal profile:

<img width="500" alt="screen shot 2018-08-26 at 7 46 17 am" src="https://user-images.githubusercontent.com/17259768/44629433-2de8e080-a904-11e8-98ef-5de96ad29a4a.png">

Maybe it was fixed in 1cfe7f649467d9afb526b04690310b991dd52f0c? I'm not sure.

(Either way, it might be easier to open a separate issue if the problem per

[2018-08-26 20:18] rishig opened #10427 "org settings: Make it harder to accidentally deactivate yourself from the Users tab."
Currently, you can deactivate yourself from http://localhost:9991/#organization/user-list-admin.
We should just not show the deactivate button for your own account.

[2018-08-27 05:17] #10354 closed

[2018-08-27 05:55] timabbott commented on #10427
I'm not sure we need to do anything here beyond the existing plan to move "deactivate account" into the "edit user" modal (as part of adding the "role" column).  So I think we can close this?

@shubhamdhama FYI.

[2018-08-27 06:03] timabbott commented on #10417
It's known that the latest release doesn't support bionic; we just need to get a release out.  So I've retitled this issue to be just about the "universe" check, which does seem like a valuable improvement to the installer.

[2018-08-27 06:06] #10414 closed

[2018-08-27 06:37] #10305 closed

[2018-08-27 08:55] Mactory commented on #10333
Hi, sorry for the late reply.
`scripts/get-django-setting SEND_REMOVE_PUSH_NOTIFICATIONS` returns:
`AttributeError: 'Settings' object has no attribute 'SEND_REMOVE_PUSH_NOTIFICATIONS'`

Also `SEND_REMOVE_PUSH_NOTIFICATIONS` does not appear in `zproject/settings.py`
Using grep, I only found it in the `zerver/lib/push_notifications.py` file being accessed.

I am using `https://github.com/zulip/docke

[2018-08-27 15:54] showell commented on #10424
@JackViney96 I recommend coming on https://chat.zulip.org/#narrow/stream/3-backend to discuss this.

The code related to notifications has a bit of complexity due to various corner cases related to mentions and mobile notifications, but what you're trying to do is certainly feasible with a bit of guidance.

I would start by skimming the function called `do_send_messages` in `zerver/lib/actions.py`

[2018-08-27 16:00] showell commented on #10421
I can't repro this on Firefox.  When I first open Stream Settings, I don't see the scrollbar, but as soon as I hover over it (with a trackpad on a laptop FWIW) the scrollbar appears.

[2018-08-27 16:07] showell commented on #10409
The relevant code to modify here is in `static/js/search_suggestions.js`.  Look for `get_person_suggestions`.  It should be fairly easy to create a hack for "sent" but dealing with "sent by" may be slightly more tricky due to the upstream code that parses operators based on the expectation of ":" in various places.

[2018-08-27 17:00] rishig commented on #10421
ah yeah, should have mentioned browser: Chrome on Linux

[2018-08-27 17:09] rishig commented on #10427
I see, and then there is already going to be special logic for editing yourself?

[2018-08-27 18:44] rishig opened #10432 "activity: Change definition of "active site"."
Currently we list a site as active if it has >= 5 daily active users. This is subject to wild fluctuations from weekday to weekend.
Instead we should change it to "at least 5 daily active users for at least 4 of the last 7 days".
We should also mark the active realms somehow, perhaps with an emoji after the pie symbol. Maybe :basketball:?

The data is available in RealmCount.

[2018-08-27 18:53] shubhamdhama commented on #10427
okay, I'll take care of doing this once #10413 get fixed :)

[2018-08-27 19:19] timabbott commented on #10427
@rishig no, but I think the different modal/page shape will make it less likely that someone accidentally deactivates themself (currently, the name/email of the user you're acting on are indicating in the deactivation modal in a way where one is not super likely to actually read them before clicking the confirm button).  But we could also hide the button in that new modal (which I think would look

[2018-08-27 19:28] rishig commented on #10427
ok, cool. For context, the way I think the current mistakes happen are probably during mass deactivations (e.g. turning over student group leadership, or new year of hackathon, etc).

[2018-08-27 19:37] timabbott commented on #10427
Right.  We possibly should have something on that page that recommends using the API for mass-deactivations of that form, linking to the appropriate API article.

[2018-08-27 19:41] timabbott commented on #10333
@Mactory thanks for following up!

[2018-08-27 19:41] #10333 closed

[2018-08-27 23:57] #10298 closed

[2018-08-28 00:33] timabbott commented on #10303
@YJDave it'd be great if you can prioritize the "last seen" inconsistency issue; it's one of the things that looks most broken right now.

[2018-08-28 07:52] julou commented on #9081
👍 in particular for inline rendering of pdf…
cf my question on [twitter](https://twitter.com/zulip/status/1032652882544214016)!

[2018-08-28 08:59] aliahsan07 commented on #6040
@zulipbot claim

[2018-08-28 11:44] hackerkid opened #10438 "Invalid URL preview of webpages with image extension in URL"
Many websites like Wikipedia serves webpages with image file extensions. The following URLs are actually  HTML webpages with an images on them.

https://en.wikipedia.org/wiki/File:Peristeria_elata_Orchi_11.jpg
https://pasteboard.co/HBeVd8z.jpg

Our markdown processor seems to be getting confused  while generating preview for these type of URLs
![screenshot from 2018-08-28 17-17-07](https://user-im

[2018-08-28 15:47] showell opened #10440 "Make todo_widget "shared" by default, so teammates can add/complete tasks."
In `static/js/todo_widget.js` we have a flag called `is_my_task_list` that locks out non-senders of the original "/todo" message from adding tasks or clicking on tasks to "complete" them.

This is a bit of a misfeature.  We should allow all stream subscribers to update the list, at least by default.

If folks are concerned about other people messing with their todo list, we could have an option to

[2018-08-28 16:08] alexdel35 opened #10441 "Todo feature improvement"
I just tested the /todo feature and it looks fine, but can certainly be improved.

In a todo list, we need to have more information:

- An index number for the tasks to order/reorder them or to identify in the closed tasks the order of creation (an additionnal field should be added during the creation)
- The task name should be in bold text
- The description of the task should be in normal text cl

[2018-08-28 16:44] AllenEllis commented on #356
Thanks @timabbott! I don't see any reference to 'bridge' in the docs yet.

I work closely with a partner company and we'd like to have shared channels to collaborate on projects. I'm hoping this will be a good use case and I can get them off Slack. :)

[2018-08-28 18:02] timabbott commented on #10438
We currently have custom code from Dropbox for this type of use case.  Structurally, our markdown processor doesn't download linked files before rendering the HTML (and thus deciding whether to try to show a preview).  It's possible the right short-term path forward here is to just add some custom code for e.g. Wikipedia URLs similar to what we have for Dropbox URLs to generate the image preview.

[2018-08-28 18:26] timabbott commented on #356
https://zulipchat.com/integrations/doc/matrix and https://zulipchat.com/integrations/doc/irc are the docs.  Note that as of this moment the configuration format for that integration is now a `.ini` file and the docs haven't been updated yet (sigh), but you should be able to get it to work.

[2018-08-28 20:03] shikharvaish28 opened #10444 "settings panel: Checkboxes not working as required"
When we click on any of these nice checkboxes in  ```Stream messages ``` of settings, we don't get things as expected.

To reproduce:

1. Click on the settings gear and open Notifications

2. In ```Stream messages ```, click on any of the checkboxes (If already checked, uncheck them)

![screenshot 2018-08-29 at 1 23 43 am](https://user-images.githubusercontent.com/22795943/44747203-3b7faf80-ab2a-1

[2018-08-28 20:58] timabbott commented on #10444
I think these proposed changes are both incorrect.  The checkbox should not be unchecked if they selected "no", since this controls the defaults.  And users should be able to bulk-set the settings to checked or unchecked.

@shubhamdhama this does remind me that we should probably do the work of supporting a list of which streams have different values from the default in this UI.

[2018-08-28 20:59] #10444 closed

[2018-08-28 21:04] #5795 closed

[2018-08-28 21:06] timabbott commented on #5854
Just a quick update here: We've now merged #5795 (aka added a user setting for turning this feature off).  @RalfJung this should be available on zulipchat.com in about a day if you'd like to try it out; I think for your usage model of removing cookies, you probably just want this feature disabled.

I'm leaving this issue open, since there's probably going to be some additional signals that we'll w

[2018-08-29 00:40] timabbott opened #10446 "Add limits for how many messages can be fetched with `get_messages` in a single request"
I think something no larger than 5000 as the sum of `num_before` and `num_after` would be reasonable.

(Anything larger than that might not work just due to request size issues, and if you need more than that, you should be paginating)

[2018-08-29 17:26] pragatiagrawal31 commented on #5854
makes sense, so I'm abandoning this issue for now @zulipbot abandon

[2018-08-29 22:42] Lyla-Fischer commented on #10061
@zulipbot remove "In progress"
@timabbott this issue had a fix merged, and could be closed.

[2018-08-29 22:43] Lyla-Fischer commented on #10061
@zulipbot remove "in progress"

[2018-08-29 23:05] #10061 closed

[2018-08-30 06:11] penguinpowernz commented on #8484
Using the `--data-binary` argument with curl instead of simply `-d` should solve it.

[2018-08-30 09:00] JackViney96 commented on #10424
https://chat.zulip.org/#narrow/stream/3-backend/subject/.2310424/near/640126
Started a conversation as suggested. Hopefully I can figure some of this stuff out on my own but there's a lot to learn...

[2018-08-30 10:52] ogre opened #10450 "allow highlighting any protocol xxx://resource/path"
Where I work (VFX/3D animation studio) it would be very usefull if Zulip could highlight any type of protocol. Some examples:

file://server/share_folder/file
djv://server/share_folder/image_sequence.#.jpg - with Slack, this launches browser and then custom handler that start image playback tool

What we need is a bool setting that enables highlighting any protocol, or a configurable list of allow

[2018-08-30 12:53] Jain-Aditya commented on #8144
@zulipbot claim

[2018-08-30 12:56] Jain-Aditya commented on #8144
@zulipbot claim

[2018-08-30 15:03] shreyanshdwivedi commented on #10135
@zulipbot claim

[2018-08-30 16:51] Jain-Aditya commented on #8144
Hello @rishig!
I am a newbie and interested in taking this task up. I have figured out the purpose of the task. Could you please guide me in determining exactly which files are to be changed to fix the issue?

[2018-08-30 19:52] picapi commented on #10446
@zulipbot claim

[2018-08-30 19:59] picapi commented on #10446
Ahh, that's not ideal, guess I should probably try to do one of the "Good First Issue" issues first then and come back to this?

[2018-08-31 03:00] aparna879 commented on #8631
I am new here.I want to contribute for this issue .Can U guide me where should I start?

[2018-08-31 12:02] bjoernvoss opened #10454 "No inline preview for incoming webhook"
I created a bot to receive messages from Twitter via IFTTT. Everything works fine except for the fact that there is no inline tweet preview. If I use the exact same link in a "normal" message the inline preview works fine (see screenshot below).
![bildschirmfoto 2018-08-31 um 13 54 17](https://user-images.githubusercontent.com/25173514/44911059-c973ba00-ad25-11e8-9af8-d4da2d9cffda.png)
Interesting

[2018-08-31 16:28] MohammedKhandwawala commented on #3128
"You shouldn't be able to click "Find team" if you don't have a valid list of email addresses." Is this Issue still open. I am new to Zulip. Can I try?

[2018-08-31 17:31] oniksfly opened #10455 "Impossible to send email"
Short story: impossible to send email
Environment: Ubuntu Server 16, [zulip 1.9.0-rc1 ](https://github.com/zulip/zulip/releases/tag/1.9.0-rc1)

**What I do**
1. Export slack data
2.1. Trying to recover password with `./manage.py send_password_reset_email -u my-existing-email-address`
2.2. Trying to recover password with web UI

**What I expect**
Deliver reset-password email to my-existing-email-ad

[2018-08-31 18:09] timabbott commented on #10444
I disagree; because the state of the streams could be a mix of yes and no, and if you just clicked it on and off, you might want to make all the existing streams be no.

[2018-08-31 18:33] timabbott commented on #10455
@oniksfly you're using `docker-zulip`, right?  I think 1.9.0-rc1 had a bug in that password-reset script, fixed in master.  I'll aim to post an `-rc2` that fixes this today.

[2018-08-31 18:33] timabbott commented on #3128
@MohammedKhandwawala go for it!

[2018-08-31 18:34] timabbott commented on #5263
One thing worth noting for this issue in particular is that we've since migrated to CircleCI for everything but the production test suite; so that's the most important change to make to these docs at this point.

[2018-08-31 18:35] timabbott commented on #10454
@bjoernvoss thanks for the report!  I believe the bug here is that the regular expression for tweet previews in 1.8.1 has one too few digits.  This is fixed in master; I recommend upgrading to Zulip 1.9.0-rc1 (you can do this using `upgrade-zulip-from-git 1.9.0-rc1`).

[2018-08-31 18:35] #10454 closed

[2018-08-31 18:51] #10327 closed

[2018-08-31 18:54] timabbott commented on #10158
@lamarqua you're in luck!  Thanks to some great work by @HarshitOnGitHub, we've restored the option to use the old "Google blobs" emoji set.

[2018-08-31 19:00] timabbott commented on #10158
I opened https://github.com/iamcal/emoji-data/issues/144 as a request for upstream to maintain the emoji data for this, since there seems to be significant interest beyond the users of Zulip in that emoji set.

[2018-08-31 19:00] #10158 closed

[2018-08-31 21:17] #374 closed

[2018-08-31 22:27] oniksfly commented on #10455
No, I used native installation. I’ll wait for new release to test it.

[2018-08-31 23:16] timabbott commented on #10455
New release candidate is available here:
https://www.dropbox.com/s/x5ns4jghvn3c8by/zulip-server-1.9.0-rc2.tar.gz?dl=0

@oniksfly can you install that and confirm it fixes your problem?

[2018-08-31 23:16] #10455 closed

[2018-08-31 23:26] timabbott commented on #10446
I added the tag, since this one actually is a good first issue :)

[2018-08-31 23:46] timabbott commented on #8484
@penguinpowernz thanks for the suggestion!

@eeshangarg @YagoGG is one of you up for investigating with whether we should switch to `--data-binary` unconditionally in our `curl` API docs?

[2018-09-01 07:28] darthgera123 commented on #10446
hi can i work on this issue?

[2018-09-01 07:55] picapi commented on #10446
Hey! I guess we could work togeter later on possibly? I've already got the vast majority of a build with the feature put together on a local branch, which I'll push up to github when I get PC access in ~9 hours, but if there's any problems we could improve it together?

[2018-09-01 07:56] picapi commented on #10446
@zulipbot claim

[2018-09-01 08:49] darthgera123 commented on #10446
okay cool

[2018-09-01 10:25] arhad opened #10459 "Reassign “Star message” shortcut from Ctrl+S to something else"
Currently, Zulip-specific `Ctrl+S` shortcut overrides browser-specific “Save page” action. So when I want to save a channel page with interesting or important messages without touching a mouse, I always accidentally star some random message.

`Ctrl+S` is widely recognized as save action, so it is necessary to either move message starring to another shortcut that does not conflict with system ones,

[2018-09-01 18:04] Jain-Aditya commented on #8144
Hello @rishig!
I am a newbie and interested in taking this task up. I have figured out the purpose of the task. Could you please guide me in determining exactly which files are to be changed to fix the issue?

[2018-09-01 18:16] swetax commented on #4240
@zulipbot claim

[2018-09-01 20:14] kartik-karz commented on #10441
where is this todo feature? I couldn't find it in the android app or the web version

[2018-09-01 23:14] lamarqua commented on #10158
I can't find the emoji selection setting in the settings anymore. It seems that the settings UI has changed recently?

[2018-09-01 23:59] rishig commented on #10158
Should be in Gear menu -> Settings -> Display settings.

[2018-09-02 03:07] WarrenShipp opened #10464 "Showing logged in users info"
Hi all,
I'm currently doing an assignment for uni and i'm trying to implement a small feature to display the users login name on the main page.
The issue is I can't seem to retrieve the users details. I've tried using a page_params.full_name but it doesn't seem to work. I'm trying to implement the feature in either navbar.html or right_sidebar.html
Any guidance on where I could retrieve these deta

[2018-09-02 12:33] shikharvaish28 commented on #10381
This can be fixed in https://github.com/zulip/zulip/issues/10331

[2018-09-02 15:42] rishig commented on #10381
Thanks for looking into this! The two features are fairly unrelated; let's keep them separate (e.g. with separate PRs).

[2018-09-02 20:50] BhavyaGulati commented on #2305
@zulipbot claim

[2018-09-03 13:13] akashnimare commented on #9081
@julou for now, we have added pdf viewing feature in our desktop app, see - https://github.com/zulip/zulip-electron/pull/549

[2018-09-03 15:27] Raghavareddy21 commented on #10385
@zulipbot claim

[2018-09-03 21:16] pirate opened #10470 "Migration error while upgrading to 1.9.0 from 1.8.1: cannot CREATE INDEX "zerver_userprofile""
Got this error while upgrading from zulip 1.8.1 to 1.9.0rc2, now Zulip wont start.

[code]

[2018-09-04 13:44] kyoki commented on #4639
@zulipbot claim

[2018-09-04 15:56] kyoki commented on #4639
I don't think this is a bug anymore - it looks like this tooltip no longer appears in this particular location.

[2018-09-04 16:02] kyoki commented on #4639
@zulipbot abandon

[2018-09-04 17:34] YJDave commented on #10161
@zulipbot claim

[2018-09-05 06:29] jackrzhang commented on #9949
@zulipbot claim

[2018-09-05 07:31] MohammedKhandwawala commented on #3128
The thing now works as expected. it doesn't enable submit until all id are valid in the field. How should deactivated submit button should look like?.

[2018-09-05 11:45] southisle opened #10472 "[Question] Usage, system configuration, performance inquiries"
Hello :)
We are using Zulip very useful for internal communication.
I just want to get help with performance issues recently.

First, our system configuration and usage information.
## Server specifications.
Both Web and DB server are Hyper-V based VMs, and the specifications of the host server are as follows.
- CPU : Xeon 2.4GHz 8c *2
- Storage : RAID5 (2.5" SAS 10K HDD) SAN
- 1Gb NIC
- Windows S

[2018-09-05 13:03] YJDave commented on #10303
@rishig Should we close this issue and open a new one with remaining tasks.

- [ ] For "Date" type, it should start at the current day if the field is empty. (To repro: pick a random day from the date picker. Then delete it. Then open the date picker again)

This issue is little complicated to solve, as for this we need to store all instance of `flatpickr` and so user reset value, we can destroy p

[2018-09-05 14:34] Glastis opened #10473 "Replacing nginx user without asking"
Hi,

Freshly installed zulip and immediatly after that, got 502 error on almost all my websites. After investingating it seems that zulip installer unnecessarily replace the user `nginx` or `www-data` by `zulip` in `/etc/nginx/nginx.conf` without asking or at least informing.

[2018-09-05 15:51] jvasile opened #10475 "Presentation Mode"
This is a feature wish, not a bug.

I'm onboarding 40 people to Zulip this week (yay!) so we have a backchannel to use during a conference.  This lets everybody participate via Zulip, which cuts down on interjections and allows annotation of talks by dropping links, etc.

We're displaying just the Zulip column-middle pane with only the chat visible.  Everything else has been trimmed via CSS edits.

[2018-09-05 16:57] rishig commented on #10303
yeah, opening another issue with remaining tasks sounds good.

Ok, thanks for investigating. Let's skip this one; not worth it if it is complicated. Eventually I think we'll want to replace this library anyway.

ok, cool. Tim, thoughts on who we could ping that might be able to help?

Sure.

[2018-09-05 17:17] jvasile opened #10476 "Show me in the list of users"
I onboarded 40 people to Zulip this week, and that showed me some repeated issues users are having with the UI.

Three people thought the chat wasn't working because they couldn't see themselves in the list of users on the right of the screen.  They thought it meant they weren't connected.  Once I assured them their names were missing by design, they were fine, but even then they said they wished

[2018-09-05 19:48] rishig commented on #8144
Welcome! Next steps are to fix up the PR at https://github.com/zulip/zulip/pull/8343; you can read the thread for context. Would be a great first project :).

[2018-09-06 00:33] sstangl opened #10478 "GitLab Webhook doesn't handle confidential issues"
Sending a "Confidential issue event" to the gitlab webhook (https://openpl.zulipchat.com/api/v1/external/gitlab?api_key=KEYGOESHERE&stream=git) produces the following response:

[code]

We use GitLab's "Service Desk" feature, where users can automatically file an issue by sending us an e-mail. These issues are marked "Confidential" because we don't want to publicly reveal their emails -- but for t

[2018-09-06 00:34] sstangl commented on #10478
I would also be happy to help work on this with a nudge in the right direction, if necessary.

[2018-09-06 07:28] rishig commented on #3128
Good question. I'm not sure we actually have a deactivated button type for the logged out pages. In that case maybe just add an appropriate CSS class, and we can add to our list for our designer.

[2018-09-06 09:44] MohammedKhandwawala commented on #3128
@timabbott submitted for review

[2018-09-06 13:30] telenieko opened #10480 "Debian install error on postgresql-9.6-tsearch-extras"
Installation of 1.9.0rc2 fails on stretch because of:

[code]

Looks like either --allow-unauthenticated shall be used or, better, install the apt keys missing.

[2018-09-06 16:06] southisle commented on #10472
Some updates.

A user who has been off duty for half a year tried to connect to Zulip today, but could not connect because of an Internal Server error after login.

Increase the DB server's shared memory and Postgresql buffer settings, and
The value of 'harakiri' in uwsgi.ini was changed to 60.

After that, the user executed a query of the attached file and succeeded in accessing 'Zulip'.
[zulip_q

[2018-09-06 16:11] MohammedKhandwawala commented on #8631
@zulipbot  claim.

[2018-09-07 09:41] jainkuniya opened #10482 "frontend: Issue in upload file progress bar."
I pasted image in the compose box, image successfully uploaded but even progress was 0 and send button was disabled on Safari 11.1.1.

<img width="740" alt="screen shot 2018-09-05 at 10 38 40 pm" src="https://user-images.githubusercontent.com/18511177/45211536-2fc18500-b2b0-11e8-9a71-43841343ef15.png">

related chat https://chat.zulip.org/#narrow/stream/9-issues/topic/file.20upload.20progress

@ak

[2018-09-07 11:26] pigulla commented on #9277
I've just stumbled across this as well. We intended to authenticate all users against our Active Directory and disable the EmailAuthBackend altogether. Unfortunately, this doesn't really make sense if we can't create any API keys with this setup :-/

[2018-09-07 13:40] showell opened #10484 "Optimize yamole"
This is probably an issue for @YagoGG.

It appears that yamole is quite slow in how it parses our 1700+ line zulip.yaml file.  Reading the yaml only takes 300ms for me, but then having yamole re-walk the tree with all its deep copies increases the time to 3.5 seconds, so almost a 12x difference.

This isn't a huge priority, since we cache the results internally, but it happens at startup.

It's no

[2018-09-07 13:47] showell opened #10485 "Add mutex around OpenAPISpec"
We have a module-level variable in `zerver/lib/openapi.py` that is called `openapi_spec` that is an instance of the `OpenAPISpec` class.  Basically, the first caller to use that object ends up populating it, expensively (~3.5 seconds), from the file system.  We have race conditions where the second caller either gets bad data, or after a partial fix that may get merged in the next couple days, red

[2018-09-07 17:05] HarshitOnGitHub commented on #3750
@zulipbot Still working.

[2018-09-07 17:35] picapi commented on #10446
I'm currently waiting for a response regarding a test that appears to be failing on my side before uploading my changes, but do have a implementation locally.

[2018-09-07 18:05] showell commented on #10478
We have pretty decent docs on writing integrations, and modifying an existing integration should be fairly straightforward:

https://zulipchat.com/api/integration-guide

The main file to modify is below, and you'd also add a test case to the fixture directory.

https://github.com/zulip/zulip/blob/master/zerver/webhooks/gitlab/view.py

[2018-09-07 18:15] showell commented on #10464
The following may be use:
* people.my_full_name()
* people.my_current_user_id()
* people.my_custom_profile_data()
* people.get_person_from_user_id(people.my_current_user_id())

You should be able to play around with these in a browser console and see if they have what you need.

The functions are all implemented here:

https://github.com/zulip/zulip/blob/master/static/js/people.js

[2018-09-07 20:50] showell commented on #10464
Oh, the other thing to note is that `navbar.html` is rendered on the server, not on the client.  In Zulip we do most of our rendering client-side, but things like `navbar.html` are rendered server-side and provide the "skeleton" of the page.  If you want to add people data client-side, then see my previous comment about the functions in `static/js/people.js`.

But if you want to do it server-side,

[2018-09-07 20:51] showell commented on #10464
Finally, you can just come on to our community chat to get more help:

https://chat.zulip.org/#narrow/stream/6-frontend

Since this isn't exactly a feature request, I'm going to close this issue, but feel free to find us on chat!

[2018-09-07 20:51] #10464 closed

[2018-09-07 20:53] showell commented on #10441
@kartik-karz The "/todo" feature is only turned on for chat.zulip.org, and it only works from the "main" web app, not mobile apps yet.  You can get an account on chat.zulip.org to try it out and go here:

https://chat.zulip.org/#narrow/stream/7-test-here

[2018-09-07 22:37] rishig commented on #10476
Thanks for the feedback! I think this would be a reasonable experiment.

[2018-09-08 00:29] zhoufeng1989 commented on #3490
@zulipbot still waiting from reviewing.

[2018-09-08 10:40] arhad commented on #10459
@timabbott, I agree that saving is not a feature expected from a chat, but I will try to explain my considerations:

1. > The thinking was that starring a message is an effective way to save that message to come back to later

    Saving is not for coming back, it is for *preservation*. There may be no internet access when I will need some discussion from a thread. Or session cookie may expire whi

[2018-09-08 11:47] arhad commented on #10459
Understanding a controversy of the situation, I propose to add a profile level setting that allows switching shortcuts between long-used Zulip ones and system-aware ones with the former selected by default (if there is no possibility or plans to add a master displayed on the first time login).

[2018-09-08 18:42] shubham-padia commented on #10397
@zulipbot claim

[2018-09-08 23:34] dromer commented on #356
```Create a bot ...```

Is anyone still planning an actual method to bridge to other networks?
A relay-bot like this is not the capability that was originally proposed.  It's more like someone shouting over the fence what others are saying instead of actually connecting services.

[2018-09-09 04:10] kartik-karz opened #10492 "optimize the mark all read feature"
The mark all read feature along with catch up later is quite inefficient, the last time I checked out my account on the main chatroom was about a year ago and with over 50000 chats it just kept on loading while removing the badges for the streams in the background.
I think we should make it more efficient or If it's not possible maybe we should just return the focus to the chat room while the mark

[2018-09-09 19:52] AkshJain99 commented on #9229
@zulipbot  claim

[2018-09-09 19:53] AkshJain99 commented on #9229
okay!!

[2018-09-09 21:35] shreyanshdwivedi commented on #10135
@zulipbot abandon

[2018-09-10 02:53] synicalsyntax commented on #10472
@southisle You can repost the contents of this issue in the [#user community stream](https://chat.zulip.org/#narrow/stream/138-user-community) in chat.zulip.org for a faster response :)

[2018-09-10 09:28] jackrzhang opened #10493 "message view: Message header offset"
Originally reported in chat [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/message.20header.20bug).

![message-header-bug](https://user-images.githubusercontent.com/12771126/45288973-d8363b80-b4a0-11e8-87e4-ab344562ae51.gif)

It looks like just the uppermost message header is being shifted 15 or so pixels to the right. Refreshing removes the offset. I'm not sure how to reproduce.

[2018-09-10 09:28] jackrzhang commented on #10493
@zulipbot add "area: message view"

[2018-09-10 09:33] jackrzhang commented on #10493
@zulipbot add "bug"

[2018-09-10 14:38] HarshitOnGitHub commented on #3750
@zulipbot Still working!

[2018-09-10 18:33] akashnimare commented on #10493
@jackrzhang can you tell us the window size at which you got this issue?

[2018-09-11 10:34] dipu989 commented on #7388
@rishig
Added suitable points regarding bug reports.
It would be great if you please check and mention the scope for improvement.

[2018-09-11 15:00] shubhamdhama commented on #10427
Still working!!

[2018-09-11 15:37] rishig commented on #7388
Hi @dipu989, thanks for looking in to this. I think this is a harder task than it looks, and requires a few years of experience. I'd recommend starting with a few issues labeled "good first issue".

[2018-09-11 15:45] rishig opened #10498 "user groups: Deleting user group should have confirmation modal."
Currently an admin can delete a user group just by accidentally clicking on the "delete" button. There should be a confirmation modal.

[2018-09-11 18:17] dipu989 commented on #7388
@zulipbot  abandon

[2018-09-11 19:05] swetax commented on #4240
@zulipbot abandon

[2018-09-11 23:55] jackrzhang commented on #10493
The screenshot is from my MacBook, which has a width of 1440px in CSS. It's possible that resizing the window is a factor in reproducing the bug.

[2018-09-12 00:09] jackrzhang opened #10500 "User profile modal closes on click."
Screenshot:

![user-profile-close-on-click](https://user-images.githubusercontent.com/12771126/45394381-25232a80-b5e5-11e8-8206-120bbad03b4e.gif)

With this, it isn't possible to select or copy text from the modal UI.

[2018-09-12 00:10] jackrzhang commented on #10500
@zulipbot add "area: general UI" "bug"

[2018-09-12 00:12] jackrzhang commented on #10500
@zulipbot label "bug" "area: general UI"

[2018-09-12 00:15] jackrzhang commented on #10500
@zulipbot add "bug"

[2018-09-12 00:16] jackrzhang commented on #10500
@zulipbot add "bug" "area: general UI"

[2018-09-12 04:41] merishabh commented on #10169
@zulipbot claim

[2018-09-12 13:31] frg-tarasov commented on #10209
@timabbott My feature request to webapp.

[2018-09-12 13:35] frg-tarasov commented on #10209
@synicalsyntax Keys with one symbol not always work.
See issue https://github.com/zulip/zulip/issues/9819

[2018-09-12 13:38] frg-tarasov commented on #10210
@synicalsyntax @lonerz Yes, star message mark one message, but  "Move bookmark here" in Skype all message frome point mark as "unread".

[2018-09-12 13:45] frg-tarasov commented on #10208
@synicalsyntax I now not see blur, this behavior in which release?

[2018-09-12 15:06] pigulla opened #10503 "Realm-avatar not found"
I've just installed Zulip 1.9.0-rc2 on a fresh Debian Stretch system and mounted a second disk (`/data/`, owned by `zulip:zulip`), properly configured with `LOCAL_UPLOADS_DIR = "/data"`.

When I upload an Organization Avatar the file seems to be created correctly:
[code]

but on the Organization Settings or login page the URL is broken and shows a 404:
[code]

[![Screen_Shot_2018-09-12_at_17.03.07

[2018-09-12 15:29] eeshangarg commented on #10169
@merishabh: This has already been implemented by someone! :)

[2018-09-12 18:04] timabbott commented on #10480
@telenieko I believe we have code that should install the relevant apt keys in `scripts/lib/setup-apt-repo`;

Can you post the output of `apt-key list` on your system?

[2018-09-12 18:04] timabbott commented on #10484
Hmm, that's really slow.  @YagoGG can you investigate this?  Running it under `cProfile` might be helpful.

[2018-09-12 18:17] timabbott commented on #10482
@shubhamdhama @skunkmb any ideas?

[2018-09-12 18:19] timabbott commented on #10473
@Glastis I'm sorry to hear about your trouble!  That said, our installation documentation is very clear that Zulip expects to not be sharing a VM with other websites, and manages the configuration for various services (nginx, postgres, etc.), precisely because it's very difficult to avoid conflicting with the configuration of other products.  So I'm going to close this as wontfix, though if you ha

[2018-09-12 18:19] #10473 closed

[2018-09-12 18:28] timabbott commented on #10472
@southisle so, the level of activity on your server certainly shouldn't be producing a performance problem (other servers get by without anywhere near that load with less RAM and more users).  From the output you've posted, it sounds like you have an I/O performance problem on your database server.  Often, this can happen if your virtualization provider is throttling I/O ops on the database server

[2018-09-12 18:30] timabbott commented on #145
@soerendip can you post more details?  The error message discussed in this issue is the standard one for "postgres is not running".

[2018-09-12 18:35] timabbott commented on #10478
@eeshangarg should probably be involved in a discussion about how this should work.  @sstangl is it possible to control whether the "confidential issue" events get sent by the outgoing GitLab webhook?  If so, we just need to add handler code in zerver/webhooks/gitlab/view.py (and a fixture and test); if not, we'll need to think about whether we need to provide an option for these to not be sent vi

[2018-09-12 18:36] timabbott commented on #10446
@picapi go ahead and make a WIP pull request; that will make others able to help with debugging (and also maybe the tests will pass in CI, and you'll know the testing issue is just on your laptop).

[2018-09-12 18:37] sstangl commented on #10478
@timabbott Yes, it's configurable in the GitLab webhook settings. The default setting is disabled. The repositor owner has to explicitly enable them for those messages to trigger an event.

[2018-09-12 18:42] soerendip commented on #145
The problem was a remaining of  a previous installation. psql did use the wrong port. After manually removing left over files and reinstalling, it worked again. Somehow, installation and deinstallation are not working properly sometimes.

[2018-09-12 19:55] shikharvaish28 commented on #10331
@zulipbot I've a PR open as of now and am waiting for https://github.com/zulip/zulip/pull/10465 to get merged first.

[2018-09-12 20:12] merishabh commented on #10169
@eeshangarg sure. Will look for another issue then. Thanks

[2018-09-12 20:15] merishabh commented on #10169
@zulipbot unassign

[2018-09-13 05:53] akashnimare commented on #10482
I think the plugin we're using doesn't support the upload progress -

https://github.com/weixiyen/jquery-filedrop#browser-support

But the problem is the `BrowserNotSupported` is not triggered and the file gets uploaded without any errors. We should try to make the plugin work on Safari otherwise we could just hide the progress bar using something like this -

[code]
<img src="https://cl.ly/08f408

[2018-09-13 06:05] pigulla commented on #9277
I'm using 1.9.0-rc2. When I try to create an API key using my AD password, I get: `Error getting API key: Your username or password is incorrect.`

Here is my config:

[code]

[2018-09-13 07:03] merishabh commented on #10169
@zulipbot abandon

[2018-09-13 08:33] telenieko commented on #10480
Hi,
Here it comes. This is on a clean lxc container.
[code]
After last command we get to the error from the issue summary, then `apt-key list`:

[code]

[2018-09-13 08:36] telenieko commented on #10036
I just installed 1.9.0-rc2 and the issue is there: there is no prior warning to the sudo requirement and the installer crashes:

[code]

Maybe just a quick mention on the requirements page that sudo and wget have to be there?

[2018-09-13 08:39] telenieko commented on #10480
I just did:
[code]
But apt still complains about verification!
[code]

[2018-09-13 11:37] showell commented on #10503
@adnrs96 This appears to be a thumbor-related issue.  Do you have any suggestions for troubleshooting?  I'm a little confused why the "/user_avatars" endpoint is being used above, when the docs below claim we don't thumbnail realm icons yet.

https://zulip.readthedocs.io/en/latest/subsystems/thumbnailing.html?highlight=thumbor

[2018-09-13 11:51] akashnimare commented on #10493
I try playing around with this but couldn't reproduce the bug.

[2018-09-13 12:07] iangilfillan commented on #9074
The admin badge would be particularly useful in our case. It seems there is no way to see who is an admin without individually clicking on users.

[2018-09-13 12:51] adnrs96 commented on #10503
@showell We don't thumbnail realm icons and that's why "/user_avatars" endpoint is being used. If it were a thumbnail link we would have something like "/thumbnail/user_avatars/foobar?size=thumbnail"
On an immediate look it doesn't feel related to thumbnail system.

According to me the issue here is that the admin used a separate disk for storage and thus configuring `LOCAL_UPLOADS_DIR = "/data"`

[2018-09-13 13:15] pigulla commented on #10503
Awesome, setting `LOCAL_UPLOADS_DIR="/home/zulip/uploads" and mounting the disk there works like a charm. Thanks!

[2018-09-13 13:15] #10503 closed

[2018-09-13 16:49] rishig opened #10509 "bots: Enforce unique names for bots."
From https://chat.zulip.org/#narrow/stream/9-issues/topic/gifbot.20.7C.20.40mention.20issue:

"""
I am running giphy bot as @Gifbot. When I use autocomplete @-mention it shows @**Gifbot|9538** and the giphy bot doesn't respond. But @**Gifbot** works fine. What is the number that is added automatically? I think it is causing the issue.
"""

We should actually just unconditionally enforce unique nam

[2018-09-13 16:59] aero31aero commented on #10509
Hey @rishig, I tried it with `@botone` and it seemed to work a few days ago. That's the userid of the bot, and that syntax is prompted when you have two bots/users with the same name. Maybe you accidentally mentioned the other user with the Gifbot name?

Using without the syntax would result in mentioning the first user that matches.

[2018-09-13 17:00] rishig commented on #8144
Bumping to high priority, since we've gotten several support requests for this.
Feel free to copy the solution from #8343; it is nearly complete (see Tim's comments on that thread for the remaining steps).

[2018-09-13 17:04] rishig commented on #10509
I guess regardless of whether there is a bug in the syntax, if there is a user named botone and a bot named botone (or two bots names botone), I think it is likely that people will mention the wrong one some fraction of the time, which will result in confusing behavior.

In general the only reason we allow non-unique names is because of having to sync with ldap and other systems that allow duplica

[2018-09-13 17:50] lmbss opened #10510 "Ldap Search Users"
Hello,

I configure zulip in docker with de official image, but when i try connect my ldap i have put the complete path for users when i want put relative path, example:

Work:

`      SETTING_AUTH_LDAP_USER_SEARCH: 'LDAPSearch("OU=subgrup,OU=group,DC=example,DC=com", ldap.SCOPE_SUBTREE, "(&(objectClass=user)(sAMAccountName=%(user)s))")'
`

Dont Work

`      SETTING_AUTH_LDAP_USER_SEARCH: 'LDAPSea

[2018-09-13 21:03] adambirds commented on #10510
@lmbss Can you try the below, and let me know if it works, thats what I have set in mine and it works fine, only different is I'm running from master and not using docker:
[code]
Also what version of Zulip are you running?

[2018-09-13 22:01] timabbott commented on #10478
OK, great, sounds like we should just add this.  The docs are pretty clear about how to do this if you want to capture a payload and submit a PR.

[2018-09-13 22:39] adambirds commented on #10478
@timabbott I'm quite happy to pick this one up.

[2018-09-13 22:41] adambirds commented on #10478
@zulipbot claim

[2018-09-13 22:49] adambirds opened #10513 "Pin users in right sidebar"
## Feature Request

It would be great if we were able to pin users as favourites so they always appear at the top.

## Why do you want this?

The current order of the users on the right is not personal to a user, and currently isn't configurable, makes it harder to find user who you message most often.

I feel like eventually, smarter ways of sorting the user list ( as well as manual favourites) w

[2018-09-14 01:09] timabbott commented on #10478
Adam you can ignore that warning

-Tim Abbott (mobile)

On Thu, Sep 13, 2018, 3:41 PM zulipbot <notifications@github.com> wrote:

[2018-09-14 05:32] adambirds commented on #10478
Will do, will start work on it tonight.

[2018-09-14 08:52] lmbss commented on #10510
Hello @adambirds,

I try with this configuration but dont work, i running the version 1.9.0-rc2-0.

In others application with this configuration

`SETTING_AUTH_LDAP_USER_SEARCH: 'LDAPSearch("DC=example,DC=com", ldap.SCOPE_SUBTREE, "(&(objectClass=user)(sAMAccountName=%(user)s))")'`

Work fine but in zulip dont work and i dont understand because dont work, with debug i dont have errors only receiv

[2018-09-14 12:44] #10500 closed

[2018-09-14 16:05] Raghavareddy21 commented on #10385
@zulipbot Still Working on it.

[2018-09-14 16:53] lmbss commented on #10510
I tested install in OS the master bransh and i have a some error

[2018-09-14 17:13] adambirds commented on #10510
@lmbss can you post the error?? And 1.9.0-rc2-0 is the latest anyway, master isn't far ahead of that at the moment.

[2018-09-14 17:20] lmbss commented on #10510
@adambirds I dont have a error message the unique message is "No such user found" because de connection is correct but the query dont return results, when this configuration in others application for example rocket.chat work perfectly, i search in django documentation one solution but in this moment i dont have, but i dont expert in django :)

[2018-09-14 17:27] lmbss commented on #10510
`root@lab:~# su zulip -c '/home/zulip/deployments/current/manage.py query_ldap aga_lmbsilva'
2018-09-14 18:19:47.742 ERR  [django_auth_ldap] search_s('DC=XXXXX,DC=XXXX', 2, '(&(objectClass=user)(sAMAccountName=XXXX))') raised OPERATIONS_ERROR({'desc': 'Operations error'},)
No such user found

`

[2018-09-14 17:30] rishig commented on #10493
Looks like the same bug as #9199.

[2018-09-14 18:04] adambirds commented on #10478
Captured some payloads for this, will work on it over this weekend. I have also noticed there is a confidential comments notification as well, so will add that in the same PR.

[2018-09-15 07:38] akashnimare commented on #295
This a great and must feature to have. I would personally love to have this. In v1 I think we could just go with the following status -
* Online
* Away
* Busy
* Invisible

cc - @timabbott, @rishig, @showell can we increase the priority for this feature?

[2018-09-15 07:39] akashnimare commented on #4372
We can merge this into - https://github.com/zulip/zulip/issues/295.

[2018-09-15 08:01] akashnimare commented on #10513
@zulipbot add "area: right-sidebar"

[2018-09-15 08:02] akashnimare commented on #10513
@zulipbot add "enhancement"

[2018-09-15 08:17] akashnimare commented on #9199
Okay, spent a good amount of time reproducing this but no success yet (Chrome + Firefox + macOS).

[2018-09-15 16:58] atkm commented on #9395
@zulipbot claim

[2018-09-15 19:10] atkm commented on #9395
@eeshangarg Is this integration already implemented? There is already a [page](https://zulipchat.com/integrations/doc/codebase) for Codebase.

[2018-09-15 19:35] rishig opened #10515 "registration: "Log in with google" with no account takes you to the wrong page for invite-only realms."
To reproduce:
* Create an invite-only realm, foo.zulipdev.com
* Log in to a google account not corresponding to any user in foo.zulipdev.com.
* Go to foo.zulipdev.com and click "Log in with google".
* It takes you to a page that says "You need an invitation to join this organization".

It should instead take you to a page that allows you to log in to the correct google account.
As a V1, it can jus

[2018-09-16 07:27] merishabh commented on #10515
@zulipbot claim

[2018-09-16 11:32] Glastis commented on #10473
Actually you can let nginx use it's default nginx user: `www-data`. It works fine since this user have rights on `/home/zulip`. However, that's not the point.

Actually, in my opinion, a simple question should be added to the installer, like `apt-get` asking if we really want that, "Zulip will replace nginx user, process? Y/n". That don't need to be triggered to every installation; but only when `

[2018-09-16 19:41] YagoGG commented on #10484
I've been doing some profiling and the results are what one could expect: the final `return deepcopy(obj)` is taking a huge proportion of parsing time.

I won't be able to take care of this in the short term, so if anyone feels like working on this feel free to do so. At least I can try to provide some feedback and help along the process.

[2018-09-16 20:44] rishig opened #10517 "compose: Substring match when typing PM users doesn't match spaces."
To reproduce:
* Open the compose box to compose a PM.
* Type `m a`.

It doesn't match anyone, though it should match `Tim Abbott`.

[2018-09-16 23:42] rishig opened #10518 "setting: Sorts on uploaded files no longer work."
Upload a few files.
Go to Settings -> Uploaded files.
Click on a heading at the top of the table:
![image](https://user-images.githubusercontent.com/890911/45602222-1bc40480-b9cf-11e8-88ae-4702b6a90ada.png)

It should resort, but it's currently doing nothing.
Also (maybe relatedly) the sort is not what it claims it is; on czo for me:
![image](https://user-images.githubusercontent.com/890911/456022

[2018-09-17 15:40] eeshangarg commented on #9395
@atkm: We have an integration for it, but not a webhook one that uses their dedicated API! If you'd like to take this up, that would be great! :)

[2018-09-17 19:33] showell commented on #10518
@synicalsyntax If you have time to investigate this, there's conversation her:

https://chat.zulip.org/#narrow/stream/6-frontend/subject/file.20upload.20sort/near/644135

[2018-09-17 19:35] hellfirehd commented on #8051
I'm curious where this is at.  How close to complete is it?

[2018-09-17 23:59] ken9ross commented on #6102
@timabbott How should I read the removal from `Candidates for next roadmap`. Has this feature been discarded or implemented? If implemented, where can I locate information about it?

[2018-09-18 05:31] rishig commented on #6102
It hasn't been implemented. Some work has been done, but it's not close to production-ready.
Definitely one of the highest priority items on our bots roadmap!

[2018-09-18 05:33] rishig commented on #8051
It's mostly ready (#8061), but waiting on figuring out what sounds we should choose.

[2018-09-18 08:10] Choc0b0 commented on #5273
claim

[2018-09-18 08:15] Choc0b0 commented on #5273
@zulipbot claim

[2018-09-18 20:57] rishig opened #10524 "stream settings: Restrict posting to org admins should not be in change modal."
Currently the "Restrict posting to organization admins" is behind the `[Change]` link below:

![image](https://user-images.githubusercontent.com/890911/45716054-a8470200-bb4a-11e8-9160-95308faede12.png)

It should instead appear as a checkbox option below this box.

[2018-09-19 02:02] rishig opened #10526 "message editing: Right sidebar doesn't fade when message editing."
To repro, find a stream where not everyone is subbed, send a message, and then hit left arrow to get into the editing view.

The right sidebar should fade out anyone not subbed to the stream, but it currently doesn't.

[2018-09-19 04:44] jackrzhang commented on #10493
This is likely the same bug as #9199; the compose box also has the same offset.

Interestingly, the screenshot in #9199 shows a shift to the left, while the screenshot above shows a shift to the right

[2018-09-19 04:55] jackrzhang commented on #9199
This bug came up again today.

Before it appeared, I had my browser window for chat.zulip.org open on a larger monitor display. I disconnected the monitor by just pulling the HDMI cable connected between my laptop and the monitor, and then immediately put my laptop to sleep by closing it.

I can try to reproduce this again with the same monitor setup later.

[2018-09-19 04:57] jackrzhang commented on #9199
If I remember correctly, the width of the browser on the larger monitor, prior to disconnecting, was greater than the maximum width of the browser on my laptop screen.

[2018-09-19 09:06] lukasIO commented on #9081
I would still love to see the inline video preview, are there some docs about the differences of zulips markdown.js implementation to the original one ? or rather can someone point me in the direction of where I would start with this?

[2018-09-19 10:09] akashnimare commented on #9081
@lukasIO here are the relevent files -

a) [bugdown](https://github.com/zulip/zulip/blob/d5459f09fd658fdd591ad739290d0f28b7643695/zerver/lib/bugdown/__init__.py) - To figure out the media type + adding html content (class, link etc)
b) [lightbox](https://github.com/zulip/zulip/blob/aa5959396d3ba2cb52a940ead77b8f903d15d6b9/static/js/lightbox.js) - To show the video in a lightbox

@zulipbot label "h

[2018-09-19 12:09] lmbss opened #10527 "HTTP CRSF error"
When i disable HTTPS protocol the application dont work with this error:

Forbidden (403)

CSRF verification failed. Request aborted.

You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties.

If you have configured your browser to disable cookies, pl

[2018-09-19 15:04] lmbss commented on #8782
i think this funcion its very interessant, its possible use?

[2018-09-19 18:07] akashnimare commented on #9081
I don't think so. I think for v1 you just need to make the changes in bugdown
file.

On Wed, Sep 19, 2018 9:54 PM, lukasIO notifications@github.com  wrote:
@akashnimare  thanks! i thought it could be nice for it to be really an inline
preview, rather than a lightbox, more similar to how the url preview links are
handled... would the lightbox still be the relevant file then?

—
You are receiving th

[2018-09-19 19:19] catxeger opened #10528 "Right sidebar is no longer persistent"
In v2.3.7Beta, the right sidebar (users) is no longer persistent.

[2018-09-19 22:57] jackrzhang opened #10529 "Prior full name appears in the Settings modal after changing the full name and reopening the modal."
When I change my user full name under 'User settings', the field in the Settings modal changes accordingly. If I close and reopen the Settings modal, though, the old name is displayed.

In this screen recording, I change the full name from 'Jack Zhang' to 'Jack R. Zhang':

![change-full-name-old-name-reappears-after-reopening-settings-modal](https://user-images.githubusercontent.com/12771126/45786

[2018-09-19 23:55] rishig commented on #8889
Closing this issue, since now keeping track of this elsewhere.

[2018-09-19 23:55] #8889 closed

[2018-09-20 00:12] nikomatsakis commented on #10369
We've definitely encountered this problem in the rust-lang/rust channel. I had two thoughts for how one might fix it:

- Offer users a list of streams to pick from when they are first registering
- Allow instances to subscribe users to *all streams* by default, and then have users opt out

Personally I might prefer a combination of both -- let users pick what streams they want, and have the defaul

[2018-09-20 01:19] rishig commented on #10369
Just to make sure, you've seen https://zulipchat.com/help/set-default-streams-for-new-users?

[2018-09-20 12:58] a-b commented on #585
Is there any update on reminders feature?

[2018-09-20 13:26] tdaff opened #10531 ""Show/change your API key" not working"
In account settings, clicking "Show/change your API key", first refreshes the page, then clicking once the page has reloaded just makes the API key box disappear.

I'm using `ZulipRemoteUserBackend` so no password is needed for the API key.

It looks like https://github.com/zulip/zulip/blob/9a09513b4d5570f56ef62ce7132893885aa652ac/static/js/settings_account.js#L182 calls submit on the form, but si

[2018-09-20 13:30] nikomatsakis commented on #10369
@rishig yep, I just went and added "all the streams" as defaults yesterday when I realized why everybody was getting so confused.

One thing that would be nice: when you go to configure a stream, it'd be nice if it had a checkbox on it "Add by default for new users", but I guess that's a separate feature request.

(That is, right now, there is a list of defaults, but I'd like to be able to go the

[2018-09-20 14:24] qmx opened #10532 "weird CSS/GL artifacts when scrolling in Chrome 69 / Chromebook"
it happens when I scroll on a thread on rust-lang zulip

Not sure how to provide more actionable debugging info, feel free to ask for more information.

![screenshot 2018-09-19 at 2 26 17 pm](https://user-images.githubusercontent.com/66734/45824976-2b896480-bcbf-11e8-8745-3f81cc5516a5.png)

[2018-09-20 14:59] edbennett opened #10533 "Delete a user"
Currently, from searching around, it seems the only way to delete (rather than deactivate) a user is to drop the database, which seems like overkill.

Should there be a mechanism for deleting a user (and all associated data)? Most privacy laws (most notably, but not only, GDPR in the EU) would I think require that this functionality be available.

[2018-09-20 16:37] rishig commented on #10369
Agreed; I'm kind of surprised we don't have it. First step to solving this issue is probably to add it to the stream creation flow and the stream settings pages.

In the stream creation flow it can go under "Announce stream", as `[ ] Add to default streams`. Default streams can be a link to our help article about it. It should only appear for org admins.

In stream settings it can be a checkbox in

[2018-09-20 16:57] rishig commented on #585
It's still a thing we want to do, but I don't think it's likely to happen in the next few months.
One thing you could do is use our API (zulipchat.com/api) along with a cron job or something like IFTTT or google calendar to send in messages at certain times.

[2018-09-20 17:54] akashnimare commented on #10528
@catxeger are you using the desktop app? Can you attach a screenshot/gif?

[2018-09-20 18:03] akashnimare commented on #10532
@qmx Can you reproduce this on other tabs/websites? Also, does it happen frequently?

[2018-09-20 18:19] timabbott opened #10534 "upgrade-zulip should respect the same options as upgrade-zulip-from-git"
Specifically around things like skipping migrations and puppet.

This should be easy to do if we refactor the argument parsing login into a function in `zulip_tools.py` and then import it from both places, for example.

[2018-09-20 18:35] catxeger commented on #10528
I'm using the desktop app.  I've attached a screenshot, with the stream names/discussion content blanked out.  As you can see, there's no user sidebar on the right hand side, although there is an icon in the top right which will show users temporarily.
![20180920_zulip-10528](https://user-images.githubusercontent.com/29603576/45839320-0c4ffe80-bce2-11e8-9908-0679c3167ce6.png)

[2018-09-20 22:09] rishig opened #10535 "user settings: Get API key box is a bit off center."
To get to this go to Gear menu -> Settings -> Show/change your API key.
![image](https://user-images.githubusercontent.com/890911/45849470-ed07a000-bce6-11e8-80c0-164c839ca3d2.png)

"Current password" should be left-aligned, and the positioning of the "Get API key" box should be fixed.

[2018-09-20 22:22] rishig opened #10536 "Gracefully handle partial reload."
Sometimes the main js file will fail to download after reloading Zulip, due to a networking issues.

In this case, we could add JS code to the index.html HTML file to give a nice error message asking the user to reload in the case that `app.js` fails to load from the server (or maybe try to reload automatically).  This would make the failure more clearly a user/network issue, and not a Zulip issue

[2018-09-20 22:35] rishig opened #10537 "message view: Show error icons not on hover when the server returns an error."
If you send a message and the server returns an error, we display two red icons in the upper right corner of the message.
These icons should display whether or not you're hovering on the message, but currently they are only shown on hover.

To see this in action:
* Add `assert(False)` at the beginning of `do_send_messages`
* Send a few messages
* Hover over the messages you sent

As followup, it w

[2018-09-21 04:15] dipu989 commented on #10535
@zulipbot claim

[2018-09-21 04:37] rishig opened #10539 "email integration: Include subject line as first line of message if longer than 60 characters."
Currently if you send an email into Zulip, we crop the subject line to 60 characters, since that's the topic length limit in Zulip.

In such cases, we should make the first line of the zulip message be the subject line of the email, if it is the first message with that topic (maybe: the first message with that topic that was sent in the last week?).

---
Edit by @alya 2025-07:

Specifically, we sh

[2018-09-21 09:28] akashnimare commented on #10528
Yeah, you just need to increase the width of the app window and the list will be visible. If you want to use the app in the narrow window and still want to see the user list then you need to enable the following setting -

`Settings > Display settings > User list on left sidebar in narrow windows`

![image](https://user-images.githubusercontent.com/2263909/45872783-7b932480-bdae-11e8-8d95-169cd309

[2018-09-21 15:03] catxeger commented on #10528
Ah!  I'd tried making it wider (since the pre-upgrade width did show users), but apparently not wide enough.  Is there any way to make the total width before the users are sticky less and/or configurable?

Right now the client needs to take up ~71% of my screen width (15" macbook pro retina) before showing users, which is decidedly excessive!

[2018-09-21 16:16] qmx commented on #10532
another data point, looks like it's related to the hovering that happens when you have your mouse pointer on top of the conversations while you scroll down.

[2018-09-21 18:37] timabbott commented on #10510
@lmbss sounds like this was resolved by #10520?

[2018-09-21 18:37] #10510 closed

[2018-09-21 18:38] synicalsyntax commented on #10531
I think this is an duplicate of #6341 and possibly related to #9277; maybe this should be closed?

[2018-09-21 18:39] timabbott commented on #10517
@shubham-padia is this something you're interested in taking given your typeahead expertise?

[2018-09-21 18:41] timabbott commented on #10484
So, here's a proposal: What if we just emit a `.json` file as a cache after processing this, and only read that `.json` file if the `.yaml` file isn't newer?  That would turn this into a 1-time cost that can happen as part of the production build process, rather than something that is slow for every process startup.  JSON parsing is way faster than YAML parsing.

We'd still want to fix the yamole

[2018-09-21 18:42] timabbott commented on #10485
@showell why do we need a mutex here -- is it mostly for `test-backend`?  I didn't think we ran things in multiprocess mode anywhere else.

[2018-09-21 18:45] timabbott commented on #10473
I think that won't work for permissions reasons (`www-data` won't have access to some things `nginx` needs access to, etc.) without additional work.  If someone's interested in working on either support for this by contributing changes to the configuration in `puppet/zulip` in the Zulip project, or warning code in `scripts/lib/install`, I would review and merge them, but because we have several se

[2018-09-21 18:48] timabbott commented on #10515
@rishig I disagree; if you actually don't have an account in the organization, this is exactly the error message you need to receive so that you know how to proceed.

Also, I don't think we need a "new page" as part of implementing this; I think we just want to change the error message text on the login page for this case; by leaving it on the login page, the user can then just click "log in with

[2018-09-21 18:49] timabbott commented on #10303
@synicalsyntax has plenty of experience with perfectScrollbar; I think she can maybe help with that issue.  But let's first split this into the remaining mini-issues @YJDave, so that new folks helping out don't need to read all the complex history of the 15 other things we fixed for this page.

[2018-09-21 18:50] timabbott commented on #10529
@shubhamdhama this seems like it's probably a pretty quick real-time sync issue in the settings codebase.

[2018-09-21 18:52] timabbott commented on #10527
That error is straight out of Django; not something in code we wrote.  It usually shows up for users who have disabled cookies; it's possible your browser is disabling cookies on non-HTTPS sites or something.

@lmbss can you explain precisely (1) how you setup your server, (2) what browser you're using and any extensions, and (3) exactly what page is giving you this error?

[2018-09-21 18:54] timabbott commented on #9199
I bet that this is a bug in the logic in `resize.js` that changes the sizes of things when a window is resized.  @jackrzhang you might need to do some `console.log` debugging inside `static/js/scroll_bar.js` and/or `static/js/resize.js` related to this with your reproducer.  Probably the latter, but I'm not sure.

[2018-09-21 18:54] shubhamdhama commented on #10529
@zulipbot claim

On Sat, Sep 22, 2018, 00:20 Tim Abbott <notifications@github.com> wrote:

[2018-09-21 18:56] timabbott commented on #10526
@rishig can you explain under what circumstances you expect this to fade out those users?  The current model is very simple: we trigger the fade off of open and nonempty compose.  How should this work if the user has both compose and message-edit open?  Or if the user has multiple message-edit thingys open?

I think we can probably just do the heuristic of "if there's exactly one message-edit thin

[2018-09-21 18:58] timabbott commented on #10524
I think that's actually not the right fix.  The box has only your personal settings -- not anything about the stream's permissions.  Instead, the right fix is that the text should say "Anyone in your organization can join or post" in this case (we already say something special in the text if posting is restricted to admins) to hint that you can configure that feature there.

[2018-09-21 19:08] timabbott commented on #10397
I merged #10491, which covers the urgent/proximal issue here.  I'm leaving the remaining issue open for us to think about whether we also want to modify `access_message` to handle similar issues automatically in the future; there is a very real performance tradeoff to be mindful of there.

[2018-09-21 19:09] rishig commented on #10524
Oh sorry, I was thinking "below the public/private note" and "above the personal settings box".

I think better to have two separate settings than 6 coupled strings. Also eventually the "who can write" will become more complicated once we allow it to be restricted to a user group.

[2018-09-21 19:13] rishig commented on #10526
I see. ok, maybe not worth it.
Long term our plan is (I hope) to get rid of the fade strategy anyway, and have a "subscribed" tab on the right sidebar.

[2018-09-21 19:16] timabbott commented on #10531
Yes, this is a duplicate of #6341, let's move discussion there.

[2018-09-21 19:16] #10531 closed

[2018-09-21 19:20] timabbott commented on #10524
Well, we could just make it a second sentence -- That's how the second control currently works actually (there's an "Only organization administrators can post to the stream".  I was just thinking it worth optimizing the common case of a public stream since it's about as much text either way).  I think regardless of whether we eventually add another widget (which I don't think is actually a good id

[2018-09-21 19:28] timabbott commented on #10532
Woah, I have never seen anything like this before.  It's almost certainly a browser bug; Chrome 69 is new in the last week or so; hopefully Google upstream is going to fix this, but we probably can't count on that.

It is possible we might be able to do a CSS workaround for this.  @qmx if you want to try using the Chrome inspector to disable CSS rules on the affected area until the glitch goes awa

[2018-09-21 19:40] rishig commented on #10524
sure, that's reasonable

yes, maybe what I said was still not clear, but agreed that the "stream-wide settings" need to be visually distinct and separated from the "your personal settings for the stream".

[2018-09-21 19:40] merishabh commented on #10515
@timabbott  But why the user is forced to log in again if he doesn't have an invitation. He should be logged in and shall ask for something like 'Request to get invitation' if he wishes. Please let me know if that makes sense to you?

[2018-09-21 19:43] rishig commented on #10524
For whoever is implementing this, we'll probably need another icon for the posting part. I.e. make sure to avoid something like
This is a :globe_with_meridians: public stream. Anyone in your organization can join. Only administrators can post.

[2018-09-21 19:44] merishabh commented on #10539
@zulipbot claim

[2018-09-21 19:51] merishabh commented on #10515
@zulipbot abandon

[2018-09-21 19:51] merishabh commented on #10539
@zulipbot claim

[2018-09-21 20:04] timabbott commented on #10515
Well, there are two cases on the user end:
* The user has an account, but it's associated with a different one of the user's Google account (i.e. they clicked the wrong one or actually only have an account associated with their GitHub account).  In that case, they should be put somewhere where they can pick how they want to try to login next.
* The user doesn't have an account, in which case we sh

[2018-09-21 20:04] rishig commented on #10515
Ignoring the general point of there being a smell in this flow, what's needed in this specific case is some way to log in to your correct google account. Putting an error on the /login page isn't going to help.

I'm not suggesting a new page. We already have the correct behavior if you're logged in to 0 google accounts, and I'm suggesting we should just copy that behavior.

[2018-09-21 20:05] timabbott commented on #10498
@showell are you still working on this?  I see some commits, but no PR.

[2018-09-21 20:13] shubham-padia commented on #10517
@timabbott @rishig
For some context, we use phrase match for comparing user's name. Phrase match starts comparing each word from its first letter. e.g. the query `t a` would match Tim Abbott instead of `m a`.

I'm ready to work on this if this is something we want to change when comparing names. I assume we will rank these new suggestions below those from phrase search. e.g Matching `m a` with Mik

[2018-09-21 20:15] rishig commented on #10515
To address the second bullet, I think we can add a generic statement below the /login box:
"Don't have an account yet? Contact the organization administrator for an invitation."

(no "request an invitation" feature). I can add an issue to add that text.

[2018-09-21 20:27] rishig commented on #10515
we currently don't.

If you click "Log in with Google" and aren't signed in to an appropriate google account, I'd want a screen like:

![image](https://user-images.githubusercontent.com/890911/45904488-0de0fb80-bda2-11e8-9acd-b1fa7e0f9e99.png)

[2018-09-21 20:34] rishig commented on #10517
ah, I was confused how the typeahead worked, I think maybe because it was secretly matching some emails.

This does add some complication then, though I think I'm still pro-substring matching.
Benefits:
* If your keyboard doesn't have the first character of someone's name, you can still get them in the typeahead.
* If there's someone you PM with often, you can learn the unique 2-3 character substr

[2018-09-21 20:36] timabbott commented on #10515
I don't think that's possible with Google oauth.  Google's auth API doesn't give us the set of users the user is logged into; instead, we redirect to Google's website, the UI to pick a Google account is on that site, and Google redirects back to us data on just the Google account the user selected.  At no point do we receive the list of options.

[2018-09-21 20:39] rishig commented on #10524
fwiw, this is what I was imagining with the checkbox
![image](https://user-images.githubusercontent.com/890911/45905014-bd6a9d80-bda3-11e8-9c0a-8834b76d0f3e.png)

Regardless of the eventual direction though, making the text change can happen first.

[2018-09-21 20:48] rishig commented on #10515
I see. ok, in that case I'm fine with the "error message on /login" solution. Something like:
foo@zulip.org doesn't have a account in this Zulip organization. Go to google.com/accounts (or whatever it is) to log into the Google account associated with your Zulip account.

[2018-09-21 20:53] shubham-padia commented on #10517
Cool!
@zulipbot claim

[2018-09-21 20:55] rishig opened #10542 "portico: Tell user it's an invite-only realm on /login."
For invite-only realms, below the white box on /login, we should add
"Don't have an account yet? Contact the organization administrators for an invitation."

@akashnimare, would this be a good task for you? I think the hard part is styling it appropriately.

[2018-09-22 03:43] YJDave opened #10544 "user profile popover: Perfect scrollbar is shown too soon."
In user profile popover, we show perfect scrollbar too soon, we should wait until cursor is closer near the scrollbar.

![image](https://user-images.githubusercontent.com/25907420/45912933-5c94a100-be47-11e8-9689-0867ba2b9d82.png)

This issue is part of issue #10303, but it is independent from issues/conversations mentioned in #10303

[2018-09-22 03:45] YJDave commented on #10303
Opened issue #10544, we can close this issue as all bugs mentioned in this issue is solved except perfect scrollbar and starting date of date picker-bug.

[2018-09-22 06:26] rishig opened #10545 "custom profile fields: Minor cleanups part 2."
Followups from #10303.

* [ ] The date picker could use a little better styling; I assume we're just using a library for this, and maybe there are nicer libraries? The work for this will be useful elsewhere (reminder bot, searching by date, picking a time for a meeting, ..).
* [ ] "Date joined" and "Last seen" should be in the top section, where the avatar and name are, rather than in the custom p

[2018-09-22 06:28] rishig commented on #10303
Thanks @YJDave! Opened the followups as #10545, closing this one.

[2018-09-22 06:28] #10303 closed

[2018-09-22 06:39] akashnimare commented on #10542
Yeah, I'll work on the mockups and will let you know. Once we have the proper design, the styling thing could be done easily.

[2018-09-22 08:37] psg0796 commented on #10537
@zulipbot claim

[2018-09-22 15:34] rishig opened #10547 "emails: Add unsubscribe link to login emails."
We've done much of the backend work for it (there's a setting that controls whether users get the login email), but we haven't put unsubscribe links in the emails themselves.

[2018-09-22 16:02] CodeFarmer1995 commented on #6096
It has been one year , can't see any progress.

[2018-09-23 02:10] rishig opened #10550 "onboarding: Scrolling up on All messages is confusing."
For technical reasons, we only add a small amount of history to "All Messages" when you join a realm. That's fine, but the current UX of it is confusing.

To fix: at the top of All Messages, when the server says there are no other messages, we should add "See individual streams for full message history."

[2018-09-23 02:52] rishig opened #10551 "org settings: Rename "Filter settings" to "Linkifiers"."
"Filter settings" is not an intuitive name for this; I had to look it up several times when writing docs for this. "Linkifiers" is better.

For now, let's just rename this in the UI, and leave it as RealmFilter in the code. Grepping for where this is used in the code is pretty hard, since `filter` is used for so many things.

[2018-09-23 12:56] iainhallam opened #10552 "Groups of streams [feature request]"
I'd like to be able to group streams into categories, similar to Discord. Ideally, I'd be able to create a hierarchy of categories, so that I could have organisation of streams like:

EU (category)
--Marketing (category)
----Leads (stream)
----Chat (stream)
--IT (category)
----Reporting (stream)
----SMT (stream)
USA
--etc.

This would help organise the streams, but the main reason I'd want this is

[2018-09-23 16:38] rishig commented on #10552
We do have a feature on the roadmap that is related to this, which is to allow you to subscribe user groups to streams. This would e.g. allow you to subscribe `@*marketing*` to `#leads`, and then anyone in marketing could unsub if they wanted.

If you then made all streams private, users would only be able to see the streams they were part of.

For grouping on the left sidebar, the workaround we s

[2018-09-23 17:41] Raghavareddy21 commented on #8149
@zulipbot claim

[2018-09-23 18:48] rishig opened #10553 "right sidebar: Allow moving user list to left in larger windows."
The message view being narrow is one of the most common complaints we get. I think there are a lot of factors that go in to whether the user wants the sidebar there or not: screen size, how many users/streams the realm has, density preferences, etc.

We can change the "Users on left sidebar in narrow windows" option to
`Users list location` with dropdown options `Hidden in narrow windows`, `Left s

[2018-09-23 19:05] rishig opened #10554 "left sidebar: Line spacing is off with users list on left sidebar."
To repro: enable "Users list on left sidebar" from Display settings, and then make the window something like 900 pixels wide.

![image](https://user-images.githubusercontent.com/890911/45931850-9e494880-bf28-11e8-890a-f7b8d6d82415.png)

The line spacing between the user entries is off (it should match that of the streams list), and the presense indicator (circles) are not vertically aligned with t

[2018-09-24 09:17] psg0796 commented on #10524
@rishig Should I go ahead and implement "Only administrators can post" checkbox as you have shown and remove it from the "change modal" ?

[2018-09-24 16:14] lmbss commented on #10527
@timabbott

Hello,

1 - I tested with docker server and normal install in ubuntu
2 - i tested in firefox, chrome and edge, lasted versions
3 - i receive this mesage when i try login, the homepage work fine

[2018-09-24 16:49] rishig commented on #10552
yeah, I see. It's a reasonable idea, though I think it'll be a while until we implement something of that complexity with our user groups system.

One workaround would be to use the Zulip API to manage stream subscriptions and unsubscriptions.

[2018-09-24 16:52] rishig commented on #10524
The first step here is probably the wording change.

[2018-09-24 16:57] psg0796 commented on #10524
@rishig Can you please explain how should I proceed with it?

[2018-09-24 18:12] akashnimare commented on #10547
Do we have the link ready for the unsubscribe button?

[2018-09-24 18:14] rishig commented on #10547
No, there is a setting for it, but the backend work to create the link still needs to be done.

[2018-09-24 19:10] timabbott commented on #10551
It's not referenced in a lot of places in the code, but migrations to rename data models are kinda a pain, so starting with docs sounds good.

[2018-09-24 20:31] rishig commented on #10515
ok, I think Zapier is implementing the flow that I want:
![image](https://user-images.githubusercontent.com/890911/45977148-8ee7ff00-bffd-11e8-81a2-af5ea591636d.png)

If the user is signed in to 0 or >= 2 Google accounts, we already do the correct thing.

If the user is signed in to 1 Google account, I think the correct flow is:
* Google will send us the email of the one account they are signed in

[2018-09-24 21:32] rishig opened #10562 "nav bar area: CSS of upper right of app is broken when users on left sidebar."
To reproduce:
First enable this setting: https://chat.zulip.org/help/move-the-users-list-to-the-left-sidebar

At 1430 pixels:
![image](https://user-images.githubusercontent.com/890911/45980006-b17e1600-c005-11e8-925a-652ffc8d9709.png)

At 1000 pixels:
![image](https://user-images.githubusercontent.com/890911/45980047-d4102f00-c005-11e8-8057-898ac6d96391.png)

It doesn't look great even without tha

[2018-09-24 21:49] rishig opened #10563 "integrations: Add a Zulip app to Zapier."
Zapier is by far the best way I've seen to do integrations, for most users, for most products.

The first step is to add a Zulip app to Zapier. This is probably a half day project for someone familiar with node and the Zulip API. The first steps are to follow the instructions at https://zapier.com/developer/start/introduction to set everything up a test environment, and then when we're ready to pu

[2018-09-25 08:26] hackerkid opened #10566 "Make mark all messages as read functionality more faster"
When a user logins to Zulip after a long time and have a lot of unread messages (more than 5k for example) they would be asked whether to mark all messages as read. The marking of all messages as read operation is currently takes a significant amount of time depending upon the number of messages. In some cases its even a couple of minutes. We should make this process much more faster than it is cu

[2018-09-25 08:28] hackerkid commented on #10566
@zulipbot label "area: message view"

[2018-09-25 13:30] armaanahluwalia commented on #8659
There is another bug with stream sorting that I can create a separate issue for if needed.
When creating a new stream from the mobile app the newly created stream is just appended to the end of the list. The stream list does not appear in the correct order on the webapp without refreshing the view.

[2018-09-25 18:20] rishig opened #10568 "message view: Admin should always be able to edit topic from actions menu."
Logged in as Iago:
![image](https://user-images.githubusercontent.com/890911/46034167-d8dfec00-c0b4-11e8-9a8d-ae85294bb0a5.png)

The first entry should be `View source / Edit topic`, and it should allow editing the topic when you click on it. (When `Allow message editing` is something other than `Never`.)

Looks like this regardless of whether `Users can edit the topic of any message` is checked.

[2018-09-25 20:34] #10529 closed

[2018-09-25 23:12] bashman opened #10569 "Unable to search. function ts_match_locs_array(unknown, text, tsquery) does not exist"
Zulip standard install method. All work fine, except for this:

The above exception was the direct cause of the following exception:

`
Traceback (most recent call last):
  File "/home/zulip/deployments/2018-09-25-02-55-09/zulip-py3-venv/lib/python3.5/site-packages/django/core/handlers/base.py", line 185, in _get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)

[2018-09-26 06:49] aero31aero opened #10572 "Update bot parsing code to support the extended mention syntax."
As seen in #10509 and [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/gifbot.20.7C.20.40mention.20issue) the new mention syntax breaks passing of the messages to the bots. We need to change the bot parsing code to support the extended mention syntax.

@zulipbot label "area: integrations"
@zulipbot claim

Followup to #10243 .

[2018-09-26 14:06] j4mb4l4j4 opened #10573 "Network Error during Installation"
**System:** Ubuntu 18.04
**pip -V** = pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)

Hi, while executing:

I'm getting the message:

`Installing setuptools, pkg_resources, pip, wheel...done.
Collecting pip==18.0 (from -r /root/zulip-server-1.9.0-rc2/requirements/pip.txt (line 2))
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken

[2018-09-26 19:27] isolin commented on #9221
In my company we just decided to switch from GitLab to Phabricator. The GitLab integration with Zulip was great, but the Phabricator integration mentioned by @timabbott is absolutely (outdated)[https://secure.phabricator.com/T11856] and not working at all.

How can we get event notifications from Phabricator to Zulip?

[2018-09-27 12:44] showell commented on #10568
I don't think this is a bug per se.  I believe it's more a case that we've never given specific exemptions for admins when it comes to topic editing.  (We do give admins extra powers for deleting messages.)

I could reproduce this only for old messages.  So it appears that admins are specifically locked out after the message-edit expiration time.  You can verify this by having somebody other than

[2018-09-27 12:55] showell commented on #10550
I'm a little confused by your suggested message, which would imply to me that All Messages can't have full message history for some reason.   If there are more messages in the past, then paging backward should get to them.  And if there aren't more messages in the past, then going to individual streams won't necessarily help me?

One thing that's tricky here is that there are often implementation-

[2018-09-27 13:16] showell commented on #10536
This issue may be a bit trickier than it sounds, although it shouldn't actually be a ton of code.

You'll need to understand `index.html` well enough to know where to put some JS code that probably sets some sort of timer to call a function to check for the existence of `window.app_js_loaded` or something similar, and if it's not there, display a message.

You'll need to figure out basic UI for th

[2018-09-27 13:19] showell commented on #10536
Relevant code:

`templates/zerver/app/index.html:{{ render_bundle('app', attrs='nonce="%s"' % (csp_nonce)) }}`

`static/js/bundles/app.js`

[2018-09-27 17:12] rishig commented on #10550
I think this isn't true, especially when you just join a realm? All Messages only has stuff from your UserMessage table, but if you page back in individual streams you get the whole stream history.

yeah, I do realize that. In this case I could see it being worth adding a field to UserProfile like `first_user_message_id` and plumbing that through.

[2018-09-27 20:08] iamwillhester opened #10579 "django.db.utils.integrityerror duplicate key value preventing user from logging in"
Hi there,

We are testing a self hosted Zulip server for our organization. One of our users isn't able to login. I'm fairly certain this is due to duplicate key values as stated below in the error.log:
django.db.utils.integrityerror duplicate key value violates unique constraint "zerver_userprofile_realm_id_email.xxxxxx_uniq"
DETAIL: Key (realm_id, email)=(2, foo@abcdefg.com) already exists

We ar

[2018-09-27 20:49] timabbott commented on #9454
@Senso just wanted to check in if you had a chance to try that?

I think this will go away when we upgrade django-auth-ldap regardless.

[2018-09-27 20:58] timabbott commented on #10579
@iamwillhester thanks for the report!

It does looks like your system is trying to create a user that already exists (it'd be a lot easier to tell if you'd posted the full traceback).  That is clearly some sort of bug (in that the error is not making clear what the actual issue is here, which is probably that they're trying to login to a deactivated account or something?), and it'd be really helpf

[2018-09-27 21:01] timabbott commented on #10569
@bashman are you using Docker, or some other platform?  In any case, the problem here is that you don't have the `tsearch_extras` package installed or setup in your database server.  As Steve implies, all supported Zulip installation methods include it, so I'm very curious how you installed your system?

[2018-09-27 21:03] timabbott commented on #10573
@j4mb4l4j4 the issue here is that `pip`, which installs our third-party Python dependencies, is unable to reach the Internet.  I suspect the problem here is that in your environment you need to use a proxy to access the Internet, and you haven't set the appropriate proxy variables to use it (and that's the difference in results between your two tests).

[2018-09-27 23:11] bashman commented on #10569
Nope, Ubuntu 16  fresh install and postgresql 10.

[2018-09-27 23:29] bashman commented on #10569
Before install Zulip:
  - sudo apt-get install postgresql-server-dev-all  postgresql-common

[2018-09-28 06:34] jainkuniya opened #10580 "frontend: Layout of dropbox links is broken (in messages)."
<img width="721" alt="image" src="https://user-images.githubusercontent.com/18511177/46191818-830a7e80-c316-11e8-8aa3-c4ec91a6cd3b.png">

https://chat.zulip.org/#narrow/stream/101-design/subject/logo/near/647333

That looks like the alignment is broken.

[2018-09-28 08:03] dipu989 commented on #10580
@zulipbot claim

[2018-09-28 18:11] MikeColes commented on #356
Thank you to everyone  for the effort put into enabling federation.  I'm wondering if we may have a different view on what the federation would look like though.  Most of my experience is in the XMPP world. There, if you wanted to contact a user on a different server, the app could look up the SRV DNS record for the other user's ID and the server information would be discovered. The solutions I've

[2018-09-28 18:27] eeshangarg commented on #9221
@timabbott: I can get started on this! :)

[2018-09-28 18:41] ara4n commented on #356
The current approach here is sadly bot based, although Matrix and XMPP both support much more sophisticated bridging approaches - see https://matrix.org/blog/2017/03/11/how-do-i-bridge-thee-let-me-count-the-ways/ for ways this could be much more idiomatic.

[2018-09-28 21:33] timabbott commented on #10569
@bashman Ubuntu 16.04 comes with Postgres 9.5 (and thus that's what Zulip expects to use), not postgres 10; how did you install postgres 10 on your system?  We recommend always using the version of dependencies that come with the distribution you're using.  (If you connect to a remote postgres server running postgres 10, that's fine, but the Zulip installer for running everything on one server exp

[2018-09-28 21:34] timabbott commented on #10573
Closing, since this is almost certainly a proxy issue.

[2018-09-28 21:34] #10573 closed

[2018-09-28 21:54] timabbott commented on #356
So far most people interested in this have the goal of using Matrix to bridge e.g. IRC channels with Zulip, which the bot-based approach works quite well for.

Zulip will probably eventually have XMPP style federation, though a lot of care needs to go into such a feature with an auto-discovery model to avoid creating other problems (E.g. spam vectors).  Zulip has been bridged with other networks t

[2018-09-28 22:16] timabbott commented on #10527
Can you explain exactly how you "disabled HTTPS"?

[2018-09-29 00:08] dromer commented on #356
Honestly I find these bot-based approaches super annoying. You can't
see who is on the other line and thus you can't have something basic
as completion on nicks.

On 9/28/18, Tim Abbott <notifications@github.com> wrote:

[2018-09-29 01:26] synicalsyntax commented on #10544
@YJDave @timabbott So it looks like the perfect scrollbar is showing immediately on launch because the mouse cursor hovers over the user profile area when it gets launched (see first few moments in the GIF below). But if you quickly move the cursor out of the way before the modal launches, there won't be a perfect scrollbar until you move it over the content again.

[![Image from Gyazo](https://i.

[2018-09-29 01:42] rishig opened #10586 "emoji: Google modern and google classic have same emoji in settings."
![image](https://user-images.githubusercontent.com/890911/46239496-23c86080-c34e-11e8-8a51-2bdd391deeda.png)

@HarshitOnGitHub fyi.

Adding blocker since this is probably a blocker for release.

[2018-09-29 03:56] rishig opened #10587 "lightbox: Zooming in should expand the viewing window."
To reproduce:
* Send a tall, narrow image into zulip
* Open lightbox
* Zoom in

Ideal behavior is that the image starts filling out the screen as it gets bigger. Instead, the image gets cut-off at whatever the original width is.

[2018-09-29 18:59] rishig opened #10592 "search: Tell user when there are "no results" because they used stop words."
Related but not quite the same as #7224.

We have 127 stop words, which includes some reasonably uncommon ones. So if you search for something like "what about", we'll return 0 results, since both `what` and `about` are stop words.

This makes Zulip search look broken, especially when you then test Zulip's search by sending a message "What about .." and then try searching for it.

Ideally we would

[2018-09-30 04:58] rishig opened #10593 "stream settings: Better explain that you can't add users to a private stream."
Org admins can see private streams, but can't add members to them.

In that situation, we currently we just remove the UI element that allows you to add members to a stream:
![image](https://user-images.githubusercontent.com/890911/46253515-64010f00-c432-11e8-8b15-6f2fe09ec226.png)

This can be kind of confusing, I've gotten a few questions about it from new admins.

It would be better to disable

[2018-09-30 16:43] HarshitOnGitHub commented on #10586
@rishig This is directly related to #10038.

[2018-09-30 17:00] dipu989 opened #10597 "user settings: Download .zuliprc button is not aligned properly."
As of now after the user clicks Get API key button, two buttons appear which are not aligned properly.
Image:-
![bug](https://user-images.githubusercontent.com/31280303/46260131-0a671600-c500-11e8-97af-4b7e61f417ca.png)
Both buttons should be aligned and function at all screen sizes.

[2018-09-30 17:01] dipu989 commented on #10580
@zulipbot  abandon

[2018-09-30 17:01] dipu989 commented on #10597
@zulipbot claim

[2018-09-30 22:44] rishig commented on #10586
ok great, closing this then.

[2018-09-30 22:44] #10586 closed

[2018-10-01 16:59] pragatiagrawal31 commented on #10547
I was working on this issue but got sick, so couldn’t complete it. So claiming it now @zulipbot claim. (link to the conversation where Tim asked me to work on it https://github.com/zulip/zulip/pull/10405#issuecomment-416739941). Thanks for opening this issue @rishig

[2018-10-01 17:04] pragatiagrawal31 commented on #10551
@zulipbot claim

[2018-10-01 20:24] sharmaeklavya2 opened #10605 "Doing a 'Copy link to conversation' on a private message returns an incorrect link"
There's a 'Copy link to conversation' button for each message. I used it on a private message I received from someone (let's call this message `M`). A link was copied to my clipboard.

This is what the link looks like: https://chat.zulip.org/#narrow/pm-with/tabbott.40zulipchat.2Ecom.2Cekurgn.40gmail.2Ecom/near/638841

When I opened the link in a new browser tab, I expected the private conversation

[2018-10-02 14:00] redfellow commented on #2299
Doesn't work in the web client.

[2018-10-02 14:02] redfellow commented on #7130
If I right click an image from chrome and copy it to clipboard, I can't paste it into Zulip, unless I first paste it into MS Paint and re-copy it from there. (Web client)

[2018-10-02 14:09] novalis111 commented on #7130
On the Mac you can take a screenshot of the desired part with CMD + Ctrl + Shift + 4 and paste it into Zulip. When copying from the browser, the URL is copied along with the actual image, and Zulip uses it instead of the actual image content. I guess it's a matter of JS implementation, bc in Rocket.Chat (and github and others) this works as the user would expect it.

[2018-10-02 15:21] lmbss commented on #10527
i use this information: https://github.com/zulip/docker-zulip

"By default, Zulip will only interact with user traffic over HTTPS. However, if your networking environment is such that the Zulip server is behind a load balancer and you need the Zulip server to respond over HTTP, you can configure that via setting DISABLE_HTTPS: "True" in the Docker environment (docker-compose.yml)."

[2018-10-02 15:30] redfellow commented on #7130
That's OS implementation, the above (copy image) doesn't work on macOS nor Windows. It does work in Slack / Discord to mention few.

[2018-10-02 18:34] #10518 closed

[2018-10-02 18:36] timabbott commented on #10592
I don't think it'll be easy to get the postgres backend to report this.  But we could easily make the `get_messages` backend report this.  Agreed that this should just be an UI-layer check comparing the stopwords list to the set of search terms.

[2018-10-02 18:43] timabbott commented on #10605
Hmm, this definitely seems like a bug.  @showell can you help investigate?  I think the issue here is probably one of improper canonicalization of the query somewhere.

[2018-10-02 19:45] timabbott commented on #10547
zerver/views/unsubscribe.py is important reading for working on this (it has our existing example unsubscribe code).

[2018-10-02 23:24] synicalsyntax opened #10607 "dark mode: Date picker styling doesn't fit dark mode"
![screenshot at oct 02 16-23-58](https://user-images.githubusercontent.com/15116870/46382364-9774b100-c65f-11e8-8c3f-d40865592c77.png)

Related to #10545 in the aspect that the date picker needs better styling (could possibly be combined with this one as well).

[2018-10-02 23:37] timabbott commented on #10605
It seems very likely that this is in the `hashchange.js` code for canonicalizing the narrow.  The query we send from the webapp to the server ends up being this:
[code]

I have a few thoughts on this:
* We should probably change "copy link to conversation" to use the new user-ID based model (rather than email addresses) for indicating private message threads.
* Second, we should figure out whether

[2018-10-02 23:37] timabbott commented on #10607
Hmm, yeah.  We get the date picker from (I think) the flatpickr library.

[2018-10-02 23:38] timabbott commented on #10527
OK, so this is with Docker.  @galexrt @sampritipanda can one of you try to reproduce this report?

[2018-10-02 23:39] synicalsyntax commented on #10607
It looks like flatpickr has its own "dark" [theme](https://flatpickr.js.org/themes/), but it doesn't seem like there's an easy way to programmatically change it since each theme comes with its own stylesheet

[2018-10-02 23:46] timabbott commented on #10607
Hmm, I think we definitely want to use that.  There's two possibly approaches that might work:
(1) Use fancy SCSS to have something like
[code]
(If there's a valid SCSS way to do that) so that our toolchain can take care of making this conditional on the night-mode class.  This would be cleanest if it actually works.

(2) Modify the JS logic in `static/js/night_mode.js` to toggle this stylesheet a

[2018-10-02 23:47] timabbott commented on #7130
@redfellow do you mean that this is possible in the Slack/Discord desktop apps, or in a browser using one of those?

[2018-10-03 03:14] synicalsyntax commented on #10607
The SCSS approach didn't work, so I did the JS approach you suggested:
Dark mode:
![screenshot at oct 02 20-12-59](https://user-images.githubusercontent.com/15116870/46388189-a0757a80-c67f-11e8-91f5-212d5ece2938.png)

Light mode (added green colors to fix #10545):
![screenshot at oct 02 20-13-20](https://user-images.githubusercontent.com/15116870/46388191-a0757a80-c67f-11e8-8c71-7f898ae8ff9f.png)

[2018-10-03 03:36] rishig commented on #10607
It fixes the dark mode problem visually, so is definitely an improvement.

I think the overall styling is not very good relative to other products' calendars nowadays, but that doesn't need to block this PR.

[2018-10-03 05:52] jackrzhang opened #10609 "message view: Emoji overlap with the selected message border."
For custom emoji, if the emoji is on the bottom line of a message in the message view, the bottom of the image overlaps with the selected message border.

<img width="816" src="https://user-images.githubusercontent.com/12771126/46392197-55fef880-c695-11e8-8b09-c68cf0437058.png">

Visually, this is the same case for Twitter emoji:

<img width="818" alt="screen shot 2018-10-03 at 4 53 45 pm" src="ht

[2018-10-03 05:53] jackrzhang commented on #10609
@zulipbot label "bug"

[2018-10-03 05:59] jackrzhang opened #10610 "message view: Emoji that are vertically aligned across multiple lines overlap."
This is noticeable for both Unicode and custom emoji. The fix for this might touch some of the same CSS for #10609.

![image](https://user-images.githubusercontent.com/12771126/46392608-c2c6c280-c696-11e8-9a5b-e828a4f714f0.png)

@zulipbot label "area: message view" "bug"

[2018-10-03 06:16] bhawesh96 commented on #10539
@zulipbot claim

[2018-10-03 06:17] bhawesh96 commented on #10539
@merishabh Are you still working on it?

[2018-10-03 07:34] jackrzhang opened #10611 "Support or disallow emoji in text other than message content."
At the moment, it's possible to have streams, user names, and topics with Unicode emoji characters in their names:

![image](https://user-images.githubusercontent.com/12771126/46394361-c3168c00-c69d-11e8-8297-339cdc798e25.png)

Two things to note:
- At the moment, getting those emoji into a name is a bit of extra effort, since there's no emoji autocomplete support in text input fields other than t

[2018-10-03 07:36] jackrzhang commented on #10611
@zulipbot label "feedback wanted"

[2018-10-03 08:29] redfellow commented on #7130
In-browser. Also on popular image sharing sites such as Imgur, so many people might expect to be able to do it.

[2018-10-03 10:04] luntta commented on #8021
I'd like to get back to this. How about mimicking the behaviour of many similar software, where if you've scrolled to bottom it trails messages, but if you've scrolled up (reading a long message chain) it won't trail. Other option could be a new feature, where you could set trailing mode on (similar to e.g. `less`)

[2018-10-03 11:45] pragatiagrawal31 commented on #10427
@zulipbot claim

[2018-10-03 13:21] Raghavareddy21 commented on #8144
@zulipbot claim

[2018-10-03 21:27] rishig opened #10612 "Improve email gateway."
The email gateway is a critical piece of onboarding and marketing infrastructure for new, non-corporate organizations. One of Zulip's hurdles is that if you try to convince a group of 20 people to switch, at least a few will complain that it is "yet another app" they need to download and check.

Currently the email gateway mostly works great, but could use a few cleanups.
* [x] Strip `Re:` and `Fw

[2018-10-03 23:49] jackrzhang commented on #10609
@zulipbot label "area: emoji"

[2018-10-03 23:49] jackrzhang commented on #10610
@zulipbot label "area: emoji"

[2018-10-03 23:52] rishig commented on #10609
This is a symptom of the general problem of our emoji being too big for our line-height. A complicating factor though is that we're planning on increasing our line height (and font-size); I think there is an open PR for it from Max.

[2018-10-03 23:53] rishig commented on #10610
(Copying comment from #10609)

This is a symptom of the general problem of our emoji being too big for our line-height. A complicating factor though is that we're planning on increasing our line height (and font-size); I think there is an open PR for it from Max.

[2018-10-03 23:57] jackrzhang commented on #10609
I added a screenshot for Twitter emoji, too.

[2018-10-04 09:33] lmbss commented on #10527
another info, i use a reverse proxy in middle

[2018-10-04 09:33] lmbss commented on #10527
but with https work fine but with http dont work

[2018-10-04 18:21] merishabh commented on #10539
@bhawesh96 yes

[2018-10-04 18:22] merishabh commented on #10539
@zulipbot currently working on it.

[2018-10-04 18:57] saraansh1999 commented on #10562
can row and column grid be used to resolve this issue cause it seems like the column-left/right/middle property isn't working very well.

[2018-10-05 00:27] rishig opened #10617 "settings: Add user-id to bot email."
A few changes to the `Username` below:

![image](https://user-images.githubusercontent.com/890911/46508318-e6eae680-c7f1-11e8-818a-b28a47bd2ba8.png)

* [x] instead of ending in `-bot@...` the email should end in `-<user id>@...`. This will solve the problem of duplicate bot names.
In the form, we just need to remove the `-bot@...` part at the end.
The main change will be in the backend, wherever w

[2018-10-05 06:15] sonumeewa commented on #10617
I am new to zulip and open source, can you help me by elaborating this a bit.

[2018-10-05 12:50] dipu989 commented on #10617
@zulipbot claim

[2018-10-05 18:07] synicalsyntax commented on #10545
@rishig Should the last issue be split out into its own issue? Since it's not really a custom profile field issue but the date picker UI element in general

[2018-10-05 18:11] rishig commented on #10545
yeah, that's fair. Do you want to open it or should I?

[2018-10-05 18:20] synicalsyntax opened #10621 "general UI: Improve design of flatpickr date pickers."
We currently use the [flatpickr](https://flatpickr.js.org/) library to create and manage date pickers in the UI (custom user profile fields, widgets, etc.) However, it could use significant styling improvements to better fit Zulip's design. We should look into finding a replacement or redesign it to look better.

(Split out from #10545)

[2018-10-05 22:52] timabbott commented on #10587
Just to be clear, this is using the browser zoom behavior, not the "pan and zoom" button, right?

[2018-10-05 22:52] #10413 closed

[2018-10-05 23:11] jackrzhang opened #10622 "developer docs: Recommend using `--daemon` for running mypy locally."
This came up while @gnprice and I were working through some mypy error messages.

[2018-10-05 23:13] jackrzhang commented on #10622
@zulipbot label "area: documentation (developer)"
@zulipbot claim

[2018-10-06 00:06] #10169 closed

[2018-10-06 00:31] jackrzhang commented on #10622
@zulipbot label "area: tooling"

[2018-10-06 00:56] rishig commented on #10587
This is
* Click the Pan and Zoom button to enable it
* Scroll with mouse wheel or use `Z`

[2018-10-06 10:36] arhad commented on #10459
Any updates?

[2018-10-06 16:15] rishig commented on #10459
What you're saying makes sense, but the issue is that the browser "Save page" currently doesn't do anything useful with Zulip.

One thing that is on the roadmap is having more useful export tools, and something we'll eventually want is to temporarily save things in local storage for a few days so that anything you access is by default accessible when you go offlline.

[2018-10-06 16:56] arhad commented on #10459
So, it'll be possible to export messages from web-hosted Zulip “organization”, right? That's great because a solution for core issue (archiving) is much more useful than a fix for some random workaround (standalone page saving).

Closing the issue because, according to the roadmap, an offline saving of the pages will become useless.

*Also I understood that online apps have nothing common with a l

[2018-10-06 16:56] #10459 closed

[2018-10-06 23:46] gooca opened #10624 "Testimonial Carousel static height"
A slightly displeasing behavior of the testimonial slider is that it changes height depending on how much text is in the specific testimonial.

One way to fix this would be to add a defined height.

before
![bef](https://user-images.githubusercontent.com/15152698/46577591-b94f9a00-c9b7-11e8-8113-120824fa7142.gif)

after
![aft](https://user-images.githubusercontent.com/15152698/46577592-bc4a8a80-c9

[2018-10-07 05:20] rishig opened #10625 "settings: Remove (no topic) special case in topic editing policy."
Currently if `Community topic editing` is turned off, non-admins can still edit topics with `(no topic)`. I think this is a bit counter-intuitive, and an accident of history rather than thoughtful design. It's also going to be a more complicated policy to sustain as we try out different things like `(no topic X)` for the `X`th no-topic thread.

[2018-10-07 05:45] rishig commented on #10568
ah, 689c7172 is mistaken about the intended policy. @shubhamdhama, do you have time to fix?

Also note the existence of `editability_types.TOPIC_ONLY`. There shouldn't need to be an `is_topic_editable`.

https://zulipchat.com/help/configure-message-editing-and-deletion has the intended policy.

[2018-10-07 06:01] rishig opened #10626 "message sending: Add a topic number to (no topic) messages."
Instead of no topic being `(no topic)`, it should be e.g. `(no topic 6)` for the 6th no-topic thread in a Stream.

We may play around with the exact wording later, but almost all of the work is getting this part to work.

As a first step, I would add a field `Stream.no_topic_counter` initlialized to `1`.

[2018-10-07 13:40] shubhamdhama commented on #10568
So the issue is "`View source/edit topic` on others' messages when message editing is allowed".
But I'm confused regarding the consensus of last three messages @rishig can you please clear to me how the mentioned commit violates the intended policy?

[2018-10-07 17:09] Hudda commented on #10513
@zulipbot claim

[2018-10-07 17:12] Hudda commented on #10626
@zulipbot claim

[2018-10-08 01:02] dylmye commented on #10617
@zulipbot claim

[2018-10-08 07:06] rishig commented on #10568
There is no situation in which the time a message was sent should affect its topic editability. That has always been the intended policy, though I guess there has been some confusion around it.
Does that help clarify things?

As an side note, given the complexity of the message editing logic, it would be great to move all editability computations into `message_edit.get_editability`. All other code

[2018-10-08 08:47] YashRE42 commented on #3618
@zulipbot claim

[2018-10-08 09:37] YashRE42 commented on #4240
@zulipbot claim

[2018-10-08 11:17] shreyanshdwivedi commented on #10593
@zulipbot claim

[2018-10-08 12:36] gdelafond commented on #9480
Hello, do you know if this feature will be included in 1.9 ?

[2018-10-08 15:17] punchagan commented on #10438
Duplicate of #10237

[2018-10-08 16:23] tdaff opened #10629 "en_US.UTF-8 locale is not generated on Debian systems using different locale"
Even after the fix in https://github.com/zulip/zulip/commit/f228eabd900e4eba012f83fc36caec7ef54c1fad I can still replicate the installer error complaining about ascii decode errors from https://github.com/zulip/zulip/issues/9946 (https://github.com/zulip/zulip/issues/9946#issuecomment-405519149)

This is because `locale-gen` does not take any arguments, instead reading locales from `/etc/locale.ge

[2018-10-08 16:32] netrounds-august commented on #8631
@zulipbot claim

[2018-10-08 16:35] netrounds-august commented on #8631
@zulipbot unclaim

[2018-10-08 16:36] Augiro commented on #8631
@zulipbot claim

[2018-10-08 17:47] rishig commented on #10459
yup, we should have this pretty soon.

On-line apps do mostly store things remotely, but they also have access to the user's local hard drive in a sandboxed way.

Great! And glad this was resolved.

[2018-10-08 21:32] kfogel commented on #10216
Thanks @timabbott.  I should have said that was all with Zulip 1.8.1, FWIW.

The relevant commits in `typeahead_helper.js` see to be commit 38b70f27d9 (of 4 July 2017) and commit b650b6b38c (of 3 April 2018), but the former is the main one, and was presumably already in place by the time our instance was deployed.

And yet AFAIK I have never exchanged PMs with any of the people who showed up as sp

[2018-10-09 04:17] onkarshedge commented on #10568
@zulipbot claim

[2018-10-09 13:06] Augiro commented on #8631
@zulipbot unclaim

[2018-10-09 13:07] Augiro commented on #10539
@zulipbot claim

[2018-10-09 14:37] Senso commented on #9454
@timabbott I confirm that adding `AUTH_LDAP_GROUP_CACHE_TIMEOUT=60` (or setting it to `10`) doesn't change anything. Tailing the OpenLDAP logs, I noticed that a search isn't performed every time I try to login (and fail) in Zulip.

Running `sync_ldap_user_data` lists all existing users, saying they're not found in LDAP. Our Django LDAP config is identical to other apps we already use, like Sentry

[2018-10-09 15:11] shubhamdhama commented on #10568
Thanks for clarifying this @rishig  and sorry for late response due to exams till 13th Oct., and looks like @onkarshedge has already opened a PR regarding this. Thanks, @onkarshedge, I would love to review it for now.

[2018-10-09 15:35] Senso commented on #9454
Update: Upgrading django-auth-ldap to 1.7.0 via pip, I'm now able to run `./manage.py sync_ldap_user_data` and ./manage.py query_ldap <email>`, so that's a good change.

[2018-10-09 15:54] #10551 closed

[2018-10-09 19:09] timabbott commented on #9454
OK, thanks for the info.  I'm confused why this isn't working, but it sounds like we should probably just push forwarde with upgrading django-auth-ldap and go from there.

[2018-10-09 22:31] alenavolk commented on #10421
@zulipbot claim

[2018-10-09 22:33] timabbott commented on #6102
@ken9ross we should add that the `Candidates for next roadmap` milestone was deleted because we stopped using that particular GitHub feature to track our roadmap, so the removal there has little meaning.

[2018-10-09 22:44] #10446 closed

[2018-10-09 23:05] timabbott commented on #10629
@tdaff thanks for the report!  I think probably running `localedef` correctly is the right path forward.  Have you tested what the right invocation for this is?

[2018-10-09 23:06] timabbott commented on #189
Yeah, the docs have just moved to ReadTheDocs a few years ago; link is now https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups

[2018-10-09 23:07] timabbott commented on #10237
Closing in favor of the duplicate #10438, since that one has more discussion.  @elvisdsz can you update your PR to point to #10438?

[2018-10-09 23:07] #10237 closed

[2018-10-09 23:07] timabbott commented on #10438
Hmm, yeah, I closed #10237 since it had less detail about how to work on this.

[2018-10-09 23:08] timabbott commented on #9480
@gdelafond probably not, given that we're mostly doing bug fixes only for 1.9 at this point.

[2018-10-09 23:10] timabbott commented on #10624
@gooca yeah, I'd definitely love to see this fixed.

[2018-10-09 23:20] timabbott commented on #10515
That page is part of Google's site, so not directly under Zapier's control.  If it is, either we already get that behavior (and you're just doing the testing a bit differently between the two, with e.g. Google's cookies remembering your previous selections making the difference; I suspect it's actually this going on), or there must be a setting we can provide that changes the behavior for single-g

[2018-10-09 23:21] showell opened #10635 "outgoing webhooks: Audit error situations."
This is from @timabbott in #10632

"I'm not sure JsonableError exceptions are a correct exception in the outgoing webhooks code path.
Depending on whether the error is an assertion error or a problem with the response from the webhook, we either want to just 500 / logging.exception (so server admins get notified and can fix the server code) or trigger a private message to the bot owner, since they

[2018-10-09 23:37] rishig commented on #10515
yup, agreed it is likely a one line change in how we talk to Google.

To make the problem more concrete: on the desktop app, I think this means you can't log in at all (via oauth) to two realms using two different google accounts.

[2018-10-10 12:47] elvisdsz commented on #10438
@zulipbot claim

[2018-10-10 14:33] catxeger commented on #10528
So -- I understand the current state now, but that leads to a related question/feature request, namely to make it possible to have a narrower window without forcing the app user list to vanish, or drop to the bottom left.  (strictly speaking, it'd be great to be able to resize the available area for the right, left and central areas within any window size, but that may be asking for too much).

[2018-10-10 14:47] gooca commented on #10587
Would a behavior be:
-click Enable Pan and Zoom
-if not original size, clear screen of ui except Pan and Zoom indicator.
-zooming in now grows image container both x and y, expanding over screen.

If you want to expand the image container, it would be difficult to keep the UI, right @rishig? And then disabling Pan and Zoom would return the UI and default container of image

[2018-10-10 15:41] rishig commented on #10568
Ok, reading the code more, it looks like this is not the case, and that for non-admins, we do want to restrict them to `DEFAULT_COMMUNITY_TOPIC_EDITING_LIMIT_SECONDS`. We can figure out the right policy after the refactoring work.

[2018-10-10 15:43] rishig commented on #10587
Zooming in should grow image container in whatever direction it is currently being cut off, and not the other one. I.e. it should grow within some reasonable bounding box that doesn't take over the header and footer.

[2018-10-10 19:02] timabbott commented on #9454
@Senso can you test with 1.6.0?  That's what we currently are using in Zulip master, and I suspect is what is needed to fix this.

[2018-10-10 19:09] timabbott commented on #10515
From some more googling:
* https://stackoverflow.com/questions/37711665/forcing-a-user-to-choose-an-account-via-google-oauth2
* https://github.com/discourse/discourse/commit/24d0a7a4c71ba5147a5741c7a19dd061296098a0

So maybe we need to add something like `&prompt=select_account+consent` to the URL we send to Google.  I'm not actually sure what those settings do.  If you want to do some spelunking,

[2018-10-10 19:10] timabbott commented on #10515
Aha!  https://developers.google.com/identity/protocols/OAuth2WebServer#creatingclient has the official documentation for the parameters they support.

[2018-10-10 22:43] aero31aero commented on #10617
@dylmye I think this issue is already under progress by another contributor, can you please help with the review process for #10627?

[2018-10-10 22:46] dylmye commented on #10617
@aero31aero I sure can do! I just picked it up because it wasn't claimed and there didn't seem to be any further discussion in the chat.

[2018-10-10 23:18] #8841 closed

[2018-10-10 23:29] #10622 closed

[2018-10-11 05:52] YashRE42 commented on #3618
@zulipbot abandon

[2018-10-11 05:53] YashRE42 commented on #4240
@zulipbot abandon

[2018-10-11 06:14] YashRE42 commented on #4240
@zulipbot abandon

[2018-10-11 11:12] showell opened #10639 "hipchat conversion: Handle account_type of "guest"."
Our original sample data didn't include this, but it's pretty easy to map.  Make sure `is_realm_admin` gets set to `False` and `is_guest` gets sets to `True` when `account_type` is "guest" inside of `convert_user_data` in `zerver/data_import/hipchat.py`.

[2018-10-11 13:40] tdaff commented on #10629
I just tested on a similar system and got it working with `localedef -i en_US -f UTF-8 en_US.UTF-8`

[2018-10-11 14:53] RalfJung commented on #10320
Looks like a duplicate of https://github.com/zulip/zulip/issues/8386?

[2018-10-11 17:00] luislobo commented on #4836
:+1:

I think the best way would be ">" as you already use that in the UI

[2018-10-11 18:21] pirate commented on #4836
I think / is slightly more intuitive because it resembles a subdirectory in a URL / path, But I don't have a very strong preference.

[2018-10-11 19:29] timabbott commented on #10639
Sounds good :)

[2018-10-11 21:42] timabbott commented on #10629
Great, I'll integrate the fix.  Thanks @tdaff!

[2018-10-11 21:44] #10629 closed

[2018-10-11 21:53] #343 closed

[2018-10-11 21:53] #349 closed

[2018-10-11 22:29] #10639 closed

[2018-10-11 22:50] #10219 closed

[2018-10-11 22:50] #10218 closed

[2018-10-11 23:37] timabbott opened #10642 "Upgrade to latest mypy"
http://mypy-lang.blogspot.com/2018/09/mypy-0630-released.html

@neiljp are you interested in taking this one?

[2018-10-12 03:01] genericlastname commented on #7549
@zulipbot claim

[2018-10-12 04:05] rishig commented on #4836
My intuition is slightly leaning towards `>`, but I expect when we implement this we'll try both on chat.zulip.org for a few days and see how people feel.

[2018-10-12 04:58] a-b commented on #10441
this feature looks like overhead to me. I would like to have lightweight markdown todo lists
[code]

[2018-10-12 05:07] x007007007 opened #10643 "Do we have any plan to support voice message like wechat"
I'm very glad to know this project. It's a great job. I invited my friends joining my zulipchat channel immediately. We think voice message is more effective then typing. I want to know do we have plan to support voice message

[2018-10-12 05:30] x007007007 opened #10644 "zulip/zerver/models.py have too many code"
I want to split this models to a package like this
[code]
I think it's more readable. If you agree , I will work on it

[2018-10-12 09:22] diolwe opened #10645 "Feature request: larger buttons in browser (mobile)"
It would be nice to have larger buttons for file-upload etc. in the browser version of Zulip if one switches to mobile. Enough room is there IMHO (see screenshot).

Background: The current mobile app lacks features like file-upload (pictures only) and is not as clear as the browser version. That's why we use the browser with Zulip on phone and tablet.

![screenshot_20181009-070540](https://user-im

[2018-10-12 11:09] showell opened #10647 "hipchat import: Fix newly reported issues."
Our V1 of the import only worked on a subset of data.

So far I fixed one issue related to avatars.

Other issues:

- we need to skip over things like ArchiveRoomMessage, GuestAccessMessage, TopicRoomMessage, and NotificationMessage that don't really map to Zulip
- we need to handle PrivateUserMessage (non-trivial, although mostly similar to how we handle import stream messages)
- we need to accou

[2018-10-12 11:48] redfellow commented on #2370
Backtigs on EU keyboards are especially annoying, as you need to hit another key after the keycombo for the character to appear. +1 For having a shortcut keycombo for snippet/code block pasting.

[2018-10-12 11:56] mghadam opened #10648 ""Story" feature request"
It would be nice to have a "story" feature similar to instagram or facebook stories, to share a short video or picture of recent events with co-workers

[2018-10-12 14:35] showell commented on #10605
So, changing the JS code to produce new-style URLs fixes the problem.  (I have a PR coming.)

It's not clear to me,  though, why the server doesn't like the old, messy URLs, so I'll investigate that.

[2018-10-12 16:40] showell commented on #10605
Ok, found the server problem too.

[2018-10-12 17:11] timabbott commented on #10645
We also can probably just hide the "Enter sends" feature when on mobile web.

[2018-10-12 17:13] timabbott commented on #10644
I actually think this would be counterproductive to actual readability, since one would then need to search through multiple files in order to find a given definition.  It also would likely involve some ugly code to avoid import loops where different model classes reference each other (e.g. Realm and Stream each reference the other).

So I'm closing this as wontfix.

What tools are you using to br

[2018-10-12 17:13] #10644 closed

[2018-10-12 17:40] #10498 closed

[2018-10-12 18:03] timabbott opened #10651 "Allow bot users to fetch the presence from an organization"
We ban bot users from accessing the main `POST presence` endpoint, because bot users don't have presence data, but we should have a corresponding `GET` endpoint that bot users can use to access the full presence data for an organization.

It should be able to mostly reuse the code from the `POST` endpoint, just skipping the "update" part.

[2018-10-12 20:10] synicalsyntax commented on #10643
@x007007007 I believe we have a third party integration with Jitsi for video chat, but not sure if you were asking about an in-app feature.

[2018-10-12 20:13] synicalsyntax opened #10652 "custom user profile: Extra empty space when no custom fields are set."
We recently moved several user profile fields to be displayed near the avatar by default, but it's resulting in extra space below the user profile modal for people that haven't set any custom fields.

![](https://chat.zulip.org/user_uploads/2/43/7kxyX9vKo0d1-r9dTX_rFwtu/Screenshot-at-Oct-11-22-28-36.png)

We should hide the `<hr>` element/bottom whitespace in the event that no custom fields are se

[2018-10-12 21:06] timabbott opened #10654 "You can click "Change email" while the "Change full name" modal is open and get exception"
The bug here is that if you click outside the modal, it should close the modal (as most of our modals work).
 This should close the modal first rather than throwing this exception:

![image](https://user-images.githubusercontent.com/2746074/46893888-57fc5080-ce27-11e8-8e15-d254b18cd64e.png)

[2018-10-12 21:22] timabbott opened #10655 "Fix mysterious bug with local echo logic"
We're getting a lot of copies of this exception in production (something like a dozen times per business day):

[code]

The code path is `message_list.narrowed._rerender_message()` for rerendering a locally echoed message when it arrives back from the server.  It would appear that the caller, `rerender_messages`, ensures that the target message is in the narrow before proceeding, with e.g. the `_.

[2018-10-12 23:39] #10038 closed

[2018-10-13 04:53] s-surineni commented on #10654
@zulipbot claim

[2018-10-13 09:02] GertBurger commented on #10647
NotificationMessage is typically used for messages that originate from integrations(jira, bitbucket, confluence, zendesk, etc) so it may be useful for some people.

[2018-10-13 16:52] dipu989 commented on #10597
@zulipbot
PR is ready for review.
#10598

[2018-10-13 16:57] dipu989 commented on #10535
@zulipbot
PR is ready for review.
#10555

[2018-10-13 23:52] kklin commented on #10651
I'm interested in this, but I'm not very familiar with Zulip at all so I'll probably need some guidance 😄

Just so I know I'm on the right track, the existing POST endpoint is this, right? https://github.com/zulip/zulip/blob/master/zerver/views/presence.py#L50

Is there some separate codepath for bots? Or can I just add the new endpoint via `zproject/urls.py`?

[2018-10-14 03:37] kklin commented on #10651
Got it, thanks @aero31aero!

[2018-10-14 03:37] kklin commented on #10651
@zulipbot claim

[2018-10-14 12:14] pragatiagrawal31 commented on #10547
Still working

[2018-10-14 12:15] pragatiagrawal31 commented on #10427
Still working

[2018-10-14 13:47] NicolasGagne commented on #8631
@zulipbot claim

[2018-10-14 16:37] #10652 closed

[2018-10-14 18:06] thenotsodarkknight commented on #10642
@zulipbot claim

[2018-10-15 08:15] hackerkid opened #10661 "Make scrub management command delete the messages sent by cross realm users"
The scrubbing management command doesn't correctly delete messages sent by cross-realm users like welcome-bot; for those, we'll need to use more complicated logic for checking the realm that owns the messages. We probably have some functions written for the data export tools that can be reused for this.

This is a followup of #10486

@zulipbot label "area: message view"

[2018-10-15 22:32] radusuciu commented on #2305
@zulipbot claim

[2018-10-16 07:16] stone212 opened #10666 "Enhancement: Send all users in realm a "Broadcast" message"
It would be useful to have a way to send a broadcast message to all members of a realm.  Possible uses include maintenance window warnings for all users.

[2018-10-16 16:29] juselius commented on #10527
I can confirm this. We are running Zulip 1.9.0-rc2 in Docker on Kubernetes. HTTPS works fine, HTTP fails with a CSRF verification error.

[2018-10-16 18:06] #10651 closed

[2018-10-16 18:42] timabbott commented on #8484
I think tweaking the curl example to use the proper escaping would be wise, since it'd help avoid potential user confusion on this sort of front.  I don't think switching to `wget` is a great plan.