[2020-06-02 16:40] sahil9001 commented on #15165
@zulipbot claim

[2020-06-02 16:56] djahandarie commented on #13726
FWIW, I also have significant *client-side* performance issues when there's a very large number of topics in a stream. So maybe there should actually be something intermediate like "more topics" showing the next 20 topics instead of all the topics.

(I realize this is orthogonal to optimizing the query, but adding just in case it informs a different architecture/query entirely.)

[2020-06-02 19:02] timabbott opened #15181 "api: Remove is_old_stream property of Stream objects"
Unless I'm mistaken, the is_old_stream property on Stream objects in our API is an unnecessary; it's a boolean that is equivalent to `stream_weekly_traffic != null`.

Noticed while reviewing #15178.

Like all API cleanups, this is a priority issue, but should be pretty accessible.  We only use `is_old_stream` is a couple places in the frontend codebase, and I think they could be replaced by just c

[2020-06-02 19:07] #15165 closed

[2020-06-02 22:37] timabbott opened #15185 "stream edit: Make <Enter> submit the form to add more subscribers"
When editing an existing stream, since #14470, we have this a user-pills based UI for adding new subscribers, which is nice.  However, it's still a bit awkward, in that after you've generated a few pills, you need to tab to the `Add` button and then hit enter to submit the form.

We should add a key handler to make `Enter` submit the form as though one had clicked the "Add" button.

[2020-06-02 22:43] timabbott opened #15186 "stream edit: Add support for adding all members of another stream or user group"
In our stream settings UI, now that we have a pill-based system for representing objects to add to a stream's subscribers, it should be possible to add UI support for adding objects of a different type to in the "Add subscribers" UI.  For the moment, this should just be a simple frontend-only feature, similar in data model (but not visuals) to what we have for adding subscribers during stream crea

[2020-06-02 23:52] timabbott commented on #14380
@orientor can you investigate this issue next?

[2020-06-03 00:01] timabbott commented on #14705
@orientor this is probably a good issue to work on next.  Much of the problems with the stream endpoints documentation were fixed by our recent work to better validate responses, but this issue is not.

One of the challenges with this is that I'd ideally like the handful of parameters which only apply during stream creation to have a sentence mentioning that fact in their documentation, even thoug

[2020-06-03 00:06] timabbott commented on #14705
I suppose if OpenAPI doesn't have something suitable, we could define our own extension for this, but it'd be nice to use something standard here.

[2020-06-03 00:06] timabbott commented on #14100
I added a handful more TODO list items to this doc.

[2020-06-03 00:12] timabbott commented on #13726
@djahandarie how many topics do you see this issue with?  I think we should certainly be aiming to make the client-side experience nice regardless, but it'd be helpful to have a number to test with for reproducing what you're seeing.

(I think we could do client-side pagination of rendering to the DOM using `list_render` to completely resolve client-side issues)

[2020-06-03 00:18] djahandarie commented on #13726
@timabbott 7048 topics in this case. On a laptop a few years old but nothing ancient.

[2020-06-03 00:26] orientor commented on #14380
I think this issue is fixed. As discussed in the [example validator PR](https://github.com/zulip/zulip/pull/14939),
we would use
[code]
When we want `message="[4,8,15]"` but zulip wants `message = [4,8,15]` which is what is currently being returned. And the example validator is also not showing any error. So I think the issue is solved.
@andersk ?

[2020-06-03 00:31] andersk commented on #14380
Fixed how? The `messages` parameter is still specified incorrectly on `master`, and the examples validator is incorrectly accepting it.

[2020-06-03 00:36] orientor commented on #14380
Ok so the example should be `example: 4, 8, 15` according to openapi?

[2020-06-03 00:43] andersk commented on #14380
I think I see where your confusion is. Look at it this way. If the parameter’s underlying content were a string, we would have

* `messages=foo` if it’s not JSON-encoded at all,
* `messages="foo"` if it’s JSON-encoded once,
* `messages="\"foo\""` if it’s JSON-encoded twice.
* `messages="\"\\\"foo\\\"\""` if it’s JSON-encoded thrice.

But it’s not a string, it’s an array, so we have

* `messages=4,

[2020-06-03 00:48] andersk commented on #14380
I should clarify that `example: [4, 8, 15]` is a correct example—this is just a YAML array that says nothing about how the array should be serialized. The problem is that we need to specify that we expect it serialized as JSON, and the test suite fails to verify that our specification matches this expectation.

[2020-06-03 00:49] orientor commented on #14380
Ok, now I get the issue. I should probably read up on JSON.

[2020-06-03 03:01] imnitishng commented on #15181
@zulipbot claim

[2020-06-03 06:11] Hypro999 commented on #15145
So I'm walking through the traceback in reverse and there's something I don't get...

(line numbers adapted for the current code)
[code]
[code]

But in the lead-up to line 288 we have:
[code]

Which means that that error message should now be impossible to trigger (I checked the other ways `send_response_message` could be called too and it still seems to be impossible). @timabbott do we still want

[2020-06-03 07:07] sumukhah commented on #15185
can I work on this?

[2020-06-03 13:43] evacchi commented on #5099
is there any known workaround to this (muting) ?

[2020-06-03 16:56] hashirsarwar commented on #6954
@timabbott I am going to work on this. Can you assign this to me?

[2020-06-03 18:09] ryanreh99 commented on #15186
@zulipbot claim

[2020-06-03 19:38] vinitS101 commented on #12369
I cannot reproduce it as well.

[2020-06-03 20:47] SiddharthVarshney opened #15197 "Stream color update for time reader"
If we change the stream color, the stream color does not register the changes in front of time reader
![Screenshot from 2020-06-04 01-41-34](https://user-images.githubusercontent.com/32801674/83687414-59384d80-a609-11ea-98f9-cd1b91c74f48.png)
Ideally it should automatically update the color for that part also but currently it requires a reload to register that change properly.

[2020-06-03 20:50] Jagansivam28 opened #15198 "Unable to upload a realm logo once I upload an unsupported file"
steps to reproduce :
-  Upload the unsupported file as realm logo(eg pdf)
- Try to upload a supported file (jpg or png)
![screencast_00017](https://user-images.githubusercontent.com/45326319/83687672-bc29e480-a609-11ea-822e-6422a34921b6.gif)

[2020-06-03 20:51] Jagansivam28 commented on #15198
@zulipbot claim

[2020-06-03 20:52] Jagansivam28 commented on #15198
@zulipbot add "bug"

[2020-06-03 20:55] Jagansivam28 commented on #15198
@zulipbot  "area: settings (admin/org)" "area: settings UI"

[2020-06-03 20:55] Jagansivam28 commented on #15198
@zulipbot add "area: settings (admin/org)" "area: settings UI"

[2020-06-03 21:38] timabbott commented on #6954
OK, great!  Please start by looking at https://github.com/zulip/zulip/pull/8076.

For making this something we can merge, the first PR should be something that doesn't involve encryption at all, namely changing the model to store `PushDeviceToken` objects on a local Zulip server even if we're using the mobile push notifications bouncer, with careful automated tests.

You should be able to register

[2020-06-03 21:42] YashRE42 commented on #14771
[CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/navbar.20redesign.20-.20browser.20navigation)

Tim said:
The state machine for the search text is doing something weird; what it should be doing is just entering the text during the transition into the "searchbar visible" state which would always work, whereas it's instead trying to modify the text when you change views.

Which ma

[2020-06-03 22:16] varkor commented on #15159
I think this is perhaps a niche use case, so perhaps it's not working spending any effort to address. It is true that an administrator could always generate a link; but it seems like an unnecessary step in this case. There's a general assumption that these links will be shared sensibly by anyone on the server. I appreciate there's a fine line between allowing this, and simply having an open server

[2020-06-03 22:19] varkor opened #15199 "Allow left-arrow to be used to edit the selected message"
Perhaps this is an intentional design decision, but even though I've used Zulip for a while now, I *continually* press the left arrow to edit the selected message, when it's not necessarily the latest  message. Having this distinction between left and `E` does not make sense to me: if you want to edit the last message specifically you can jump to the end and then edit. To me it makes most sense if

[2020-06-03 22:34] varkor opened #15200 "Distinguish between normal members and administrators in the side panel"
At the moment, the user list is entirely non-descriptive when it comes to user roles: one has to click on the little arrow to see a role. For users who want to contact a moderator, for instance, it is difficult to know whom to contact without manually going through the list. If there was a different icon, for instance, or some sort of badge, this would be much more convenient.

[2020-06-03 23:41] #11672 closed

[2020-06-03 23:52] timabbott commented on #15200
What would you recommend using as the icon for this?  We tried this at one point with a crown as the icon, and people didn't like the feeling that gave of suggesting admins are "kings".

I suppose we use lightning blot for admin-only actions, but that feels a bit off for administrator.

[2020-06-04 00:13] varkor commented on #15200
Maybe something as simple as a bold "A" for "administrator"? Maybe a key icon to signify some level of control or access? Or alternatively, any other shape at all (triangle, star, etc.), just to visually distinguish them.

[2020-06-04 01:23] andersk opened #15205 "Python-Markdown extensions registered with deprecated interface"
Running tests with Python warnings enabled (e.g. `python3 -Wd tools/test-backend zerver.tests.test_auth_backends.GitHubAuthBackendTest.test_config_error_development`) shows these deprecation warnings:

[code]

See

https://python-markdown.github.io/change_log/release-3.0/#homegrown-ordereddict-has-been-replaced-with-a-purpose-built-registry
https://python-markdown.github.io/change_log/release-3.0/

[2020-06-04 03:10] andersk opened #15207 "JWT auth: deprecated calls to jwt.decode with no algorithms argument"
`python3 -Wd tools/test-backend zerver.tests.test_auth_backends.TestJWTLogin` shows these warnings:

[code]

See https://github.com/jpadilla/pyjwt/blob/1.5.1/CHANGELOG.md#fixed-1. We’ll probably need to make this a mandatory setting for JWT auth users; this is for protecting against symmetric/asymmetric key confusion attacks.

[2020-06-04 04:56] jcommelin opened #15208 "Add "copy to clipboard" button for code blocks"
Sometimes people post a code block that is more than a page long. To select the code for copying it into an editor, I select a screen of code, and then extend the selection using Shift + arrow keys. This doesn't seem optimal.
Someone else gave the tip that I could select "View source" on the message, and then copy the entire message to the editor and delete non-code manually. That's already an imp

[2020-06-04 07:04] Hypro999 commented on #15136
@ali-yahyaoui I see, thanks for the detailed explanation of what's going on on your end. Could you do me a favor? I need to see what payload is being sent to the server but setting up the same exact environment you're working with would take too much time for me. So I need you to help me determine what that payload is. Here's how: if you temporarily change your `zulip.sh` script from
[code]
to
[co

[2020-06-04 09:18] volo-zyko commented on #3285
This issues looks like related to #14869.

[2020-06-04 09:27] ritikchauhan-01 commented on #15197
can I work on this issue
.

[2020-06-04 12:01] zakkak opened #15209 "--force-device-scale-factor is beeing ignored"
I am trying to configure zulip on a high DPI monitor (by default the text is too small). Since zulip is based on electron I would expect `--force-device-scale-factor` to work but it's not.

I am installing zulip through flatpak and I have tried the following:
```/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=start-zulip org.zulip.Zulip --force-device-scale-factor=1.5```

[2020-06-04 12:15] majordwarf commented on #14880
@showell "Subscribe to new streams" can be a bit of long string on small screens or narrow windows. I'd suggest keeping "Add stream". On clicking that we get two options to either create new streams or browse streams. If the user has no permission to create new streams, we grey it out.

Rough mockup:
![image](https://user-images.githubusercontent.com/23737560/83755429-32baf680-a68b-11ea-9bcd-753d4

[2020-06-04 14:51] amanagr commented on #15197
Yes, you can type `@zulipbot claim` to start working on this issue.

[2020-06-04 15:32] CohenCyril opened #15210 "Renaming whole topic causes unmute"
If you mute a topic and someone takes a message out of it by renaming its topic, the extracted messages are "unmuted". Unless I am mistaken, this is a feature that lets you know these messages aren't part of the topic you muted.
However, when the whole topic is renamed *a priori* you still do not want to see the contents and thus the topic should stay muted.

[2020-06-04 15:38] ritikchauhan-01 commented on #15197
If you are not working

[2020-06-04 15:39] ritikchauhan-01 commented on #15197
@zulipbot claim

[2020-06-04 21:19] andersk commented on #15209
This repo is the Zulip server; the desktop app is https://github.com/zulip/zulip-desktop. Feel free to open an issue there. However, I’m not sure you can expect Electron apps to support `--force-device-scale-factor`; it doesn’t seem to work in https://github.com/electron/electron-quick-start, for example.

[2020-06-04 21:19] #15209 closed

[2020-06-04 21:21] #15198 closed

[2020-06-04 22:00] zakkak commented on #15209
OK, thanks @andersk

[2020-06-04 22:08] zakkak commented on #15209
For the record, turns out I can just zoom in using `Ctrl`+`+` and the desktop app remembers the zoom level on restart.

[2020-06-04 22:46] timabbott commented on #15210
Yeah, I think I agree that in the case that it's a full-topic change, we should update any MutedTopic entries to point to the new topic.  This might be a little complicated to do, since we'll need to notify the frontend in addition to updating the backend data model.

Should this still happen when the stream changed as well?  Probably not.

@aman566 FYI; this is probably lower priority than the ot

[2020-06-04 23:09] showell commented on #15199
@varkor Thanks for the feedback!  I think I understand your overall argument.

The current behavior just a compromise to satisfy two different types of users:

* Some users come from other tools that have left arrow edit your last message.
* Most tools don't have the same strong notion of a selected message as Zulip, but Zulip users often want to quickly act on the current message.

FWIW I actuall

[2020-06-04 23:09] #15199 closed

[2020-06-04 23:15] showell commented on #15186
I always worry about the use case that you want to add all the subscribers to a stream except for a few members.  I can think of plausible use cases--e.g. you want all the devs from Team X, but not the manager--but they might be rare enough that people can just remove them after the fact.

[2020-06-04 23:43] showell commented on #15159
I think that this is at least worthy of debate, but it would be nice to hear from other folks that want this, since we have the workaround.  It's possible that even if we keep the same restrictions, we can document this better or have better messaging around it.

@varkor Were people in your realm confused about this?  Or just inconvenienced?  Or both?

[2020-06-05 07:59] theotherp opened #15216 "MS Teams URL not recognized and displayed as URL"
MS Teams uses somewhat unusual URLs looking like this: `https://teams.microsoft.com/l/meetup-join/19%3A56f51235432123cb123412345d7ab3e7f@thread.tacv2/1231290290456?context={"Tid"%3A"17f10123-ef48-460d-8456-4c00c5e1b70d"%2C"Oid"%3A"9b95652f-c123-456d-af2e-890fd45623a3"}`

The URL is valid and should be displayed as such (clickable) by zulip.

[2020-06-05 17:28] timabbott commented on #15207
There are no current JWT auth users, so can freely change this.

(AFAIK this system has not been used since 2014).

[2020-06-05 17:36] timabbott commented on #15216
https://johnmacfarlane.net/babelmark2/?text=https%3A%2F%2Fteams.microsoft.com%2Fl%2Fmeetup-join%2F19%253A56f51235432123cb123412345d7ab3e7f%40thread.tacv2%2F1231290290456%3Fcontext%3D%7B%22Tid%22%253A%2217f10123-ef48-460d-8456-4c00c5e1b70d%22%252C%22Oid%22%253A%229b95652f-c123-456d-af2e-890fd45623a3%22%7D suggests the problem is likely that the `python-markdown` URL matcher, which we use, doesn't a

[2020-06-05 17:40] timabbott commented on #15208
We're planning to add this as part of the effort around https://github.com/zulip/zulip/issues/11618.

@rwbarton FYI; we were just discussing this :)

[2020-06-05 17:40] timabbott commented on #15205
@aero31aero can you look into these?

[2020-06-05 17:56] jcommelin commented on #15208
Ok, great!

[2020-06-05 18:05] timabbott opened #15222 "Improve top-right gear icon interaction and visual design"
* [ ] The click/hover area for the gear icon that opens the top-right menu is super weird (with no space to the left of the icon at all clickable, but a bit present to the right); ideally, it'd be in a rectangular area around the widget, like we have for the "search" icon a bit to its left.  My guess is that fixing this will involve deleting some legacy code that's causing the behavior.
* [ ] In t

[2020-06-05 19:20] cyphase opened #15223 "Allow unmuting a topic directly from its recipient bar"
A topic can be muted from the recipient bar, but it can't be unmuted from there. The recipient bar of a muted topic – which you can see in that topic narrow, the mentions narrow as applicable, and in search results – will continue to show the *mute* button (not unmute), and clicking it will "mute" the topic again, including showing the "topic muted" dialog.

The dialog itself has a working unmute

[2020-06-05 23:26] timabbott commented on #15164
Ahh, yes, I could totally see this being a `umask` issue.

[2020-06-06 00:01] timabbott opened #15231 "uploads: Add validation to ensure `path_id` has a file basename"
From looking at our production database, it's clearly possible to have a `path_id` of the `{realm_id}/{random_key}/`, i.e. with not file basename at the end.  I'm not sure how these are uploaded; the couple instances I saw didn't appear in a message afterwards.

But we should add a bit of validation for this.  My guess is  `create_attachment` should raise an `AssertionError` for this case, but we'

[2020-06-06 00:26] timabbott commented on #14873
@ChrisPea can you add any details on an exception from the javascript console?  If not, we may need to close this as not reproducible / lacking details.

[2020-06-06 00:54] timabbott commented on #15145
I think content is `''`, not None here.

[2020-06-06 00:58] #15101 closed

[2020-06-06 01:00] timabbott commented on #9521
Nice, that will simplify things significantly.

@mateuszmandera for this project, I think if we can get this into a somewhat cleaner state, it'd be nice to hand off the visual work make this in line with our design standards to @majordwarf or @SiddharthVarshney while you work on the logic.

[2020-06-06 01:00] timabbott commented on #15135
Hmm, yeah, we could show the example for clarity.

[2020-06-06 03:12] #15045 closed

[2020-06-06 06:39] YashRE42 commented on #15222
This is unconfirmed speculation but I think fixing that "right margin" might require fixing #9911

[2020-06-06 06:42] sahil9001 commented on #15222
@zulipbot claim

[2020-06-06 06:48] YashRE42 commented on #11584
@Tlazypanda are you still working on this? If not you can use `@zulipbot abandon`.

It should have unassigned you by itself though. strange.

[2020-06-06 10:06] networksneaker commented on #15043
Duplicate of #14690

[2020-06-06 10:15] networksneaker commented on #14690
To add detail to this, with the following configured in settings.py:

`AUTHENTICATION_BACKENDS = (
    # 'zproject.backends.EmailAuthBackend',
    # 'zproject.backends.GoogleAuthBackend',
    # 'zproject.backends.GitHubAuthBackend',
    # 'zproject.backends.AzureADAuthBackend',
     'zproject.backends.SAMLAuthBackend',
    # 'zproject.backends.ZulipLDAPAuthBackend',
    # 'zproject.backends.ZulipR

[2020-06-06 10:56] kkarhan commented on #12611
AFAIK, it's still an issue. People can't change the font size in the desktop client...

[2020-06-06 16:32] varkor commented on #15159
I think there was a little confusion, in that administrators did not realise normal users couldn't generate invite links, even though normal users *were* able to invite people via email; and a little inconvenience in that other users wanted specific invite links (e.g. to a subset of streams, for an event) but needed to wait until an administrator was around to do so.

Honestly, I think this would

[2020-06-07 07:25] sahil9001 commented on #15200
@zulipbot claim

[2020-06-07 18:41] Ousret commented on #14769
Hi,

I've proposed something that is likely to help regarding HTTP headers.  https://github.com/Ousret/kiss-headers

[2020-06-07 20:57] #15171 closed

[2020-06-08 23:22] #15207 closed

[2020-06-09 04:57] #15164 closed

[2020-06-09 05:29] timabbott commented on #15200
After discussing in the community, I don't think it makes sense to resolve this as written; we may instead want to provide a mechanism for finding/contacting an administrator, rather than marking administrators everywhere they appear in the UI.

[2020-06-09 05:54] Hypro999 commented on #15145
Yup, that's exactly what's happening here. Thanks!

[2020-06-09 07:55] timabbott commented on #14828
Yeah, I think I agree simpler is better.  I think redirecting you back to /login in the event the token is expired is a totally reasonable answer..

[2020-06-09 07:56] timabbott commented on #13738
@arpit551 I guess once we complete testing we can close this?

[2020-06-09 11:47] hamidjackal opened #15272 "Error when installing zulip on ubuntu 16.04 server"
when trying to install it on my server I get the following error
`django.db.utils.InternalError: could not open dictionary file "/usr/share/postgresql/9.5/tsearch_data/en_us.dict": No such file or directory`

[2020-06-09 13:32] varkor commented on #15200
This would address the use case I had in mind in the first comment. Though, regarding:

I think marking administrators in solely the user list is distinct from marking them everywhere. I haven't joined the Zulip development server though, so I imagine I'm missing context for this.

[2020-06-09 18:49] kaustubh-nair opened #15278 "Send community topic editing time limit to clients"
Time limit for community topic (`DEFAULT_COMMUNITY_TOPIC_EDITING_LIMIT_SECONDS`) editing is missing from the realm settings sent to clients.
Lack of this setting requires clients to hard-code the time limit.

[2020-06-09 19:29] djacobow opened #15280 "adjustable grace period for email notifications"
Getting email notifications for missed conversations when I'm not logged into zulip is potentially useful, but the system seems to only aggregate them for a very short while (maybe 1 minute) before it sends a message, and continues to send emails for just about every message thereafter.

It would be great if this feature were expanded to allow an adjustable grace/aggregation/digest period, so that

[2020-06-09 19:54] tannnk opened #15282 "Error installing on Ubuntu 18.04 and Debian 10.4"
I've tried installing zulip in Ubuntu 18.04 and Debian 10.4 and in both I have the same problem.
Both OSes were new installations and no other package was instaled before trying to install zulip.

I installed with:

The installer finishes with the following error:

error : Unknown IO error
Please visit the following secure single-use link to register your
new Zulip organization:

If I run the scri

[2020-06-09 21:17] devZer0 commented on #7824
mhh, i also have such "invisible buttons" issue on mobile web - on iphone in firefox, i cannot reply to messages in a newly created stream with no messages inside.  after some messages being posted, the error goes away.  the error also disappears when turning the display 90 degree, i.e. when the view switches to horizontal.

<img width="311" alt="grafik" src="https://user-images.githubusercontent.

[2020-06-09 21:27] timabbott commented on #15280
Thanks for the feedback!  I agree it'd be nice to have more configurability here.  The current logic aggregates messages over a 2 minute period following the first notifiable message before sending, which is probably close to the right default tuning to catch quick follow-ups without undue delay.  See `MissedMessageWorker` in `zerver/worker/queue_processors.py` for anyone interested in the details

[2020-06-09 21:29] timabbott commented on #15272
Can you post the output of `scripts/setup/zulip-puppet-apply` on this system?  That is what installs that dictionary file.

[2020-06-09 21:29] timabbott commented on #15282
What hosting system are you installing this on?  That certainly looks like a problem with a virtual machine filesystem (Are you trying to install Zulip in WSL or something)?

[2020-06-09 21:39] tannnk commented on #15282
@timabbott Thanks for the reply.
I'm installing in virtual machines on VMware ESXI 6.7.

The filesystem is ext4, nothing different from any other virtual machine.

[2020-06-09 21:40] #15278 closed

[2020-06-09 22:44] timabbott opened #15285 "Add support for bulk delete_message events"
Now that we're doing things that from a user perspective are bulk-deletions of messages, we need to update the interface for how Zulip's real-time events API notifies clients of message deletions to support bulk updates.  We'll use this in a few places:
* The existing `do_delete_messages`, even in cases where all messages are in the same stream/topic, ends up doing individual events for each messa

[2020-06-09 23:23] timabbott opened #15287 "Fix network performance issues with email_address_visibility and avatars"
In large open source organizations such as chat.zulip.org, it's typical to have EMAIL_ADDRESS_VISIBILITY_ADMINS set, which means we don't share real user email addresses with normal users.  As a result, the Zulip API can't take advantage of the previous `client_gravatar` optimization when sending data on users and we instead need to send full URLs that contain md5 hashes.  In communities with 15K

[2020-06-10 03:07] timabbott commented on #15282
It does appear the command ran and generated a link as expected; which makes me think the error is coming from something like your shell (maybe with the `su`).  Perhaps your system has a default `bashrc` that throws that error when running `su zulip`?

I think the error here is likely unrelated to Zulip (and not disrupting Zulip, just producing spammy output).

[2020-06-10 03:30] tannnk commented on #15282
The shell is bash as installed in a vainilla install of Ubuntu AND Debian. I first tried in Ubuntu, then on Debian.
No weird configurations, just create virtual machine, mount netinst ISO, install without X or any services apart from sshd and postfix.
If I try to run the script manually I get the same error:

zulip@srv:~$ /home/zulip/deployments/current/manage.py generate_realm_creation_link
error

[2020-06-10 03:51] hamidjackal commented on #15272
here is the output

[code]

[2020-06-10 04:30] sandeep3136 commented on #14880
working on this issue

[2020-06-10 05:29] sumukhah commented on #14880
@sandeep3136 go ahead and Assign your self, work on the issue...

[2020-06-10 05:42] timabbott commented on #15272
No, that's the contents of that script.  I mean the output from running it.

[2020-06-10 05:43] sandeep3136 commented on #14880
I have just observed that issue is already resolved. Please check

Thank you

On Wed, 10 Jun 2020, 10:59 Sumukha Hegde, <notifications@github.com> wrote:

[2020-06-10 05:44] timabbott commented on #15282
Bad Request usually results from an invalid `EXTERNAL_HOST` setting.

Can you try running `cd ~/` in between the `su zulip` and the next line?  The issue could have to do with the CWD not being readable by the `zulip` user.

[2020-06-10 05:48] amanagr commented on #6605
A beta version of Recent Topics was just merged in master https://github.com/zulip/zulip/pull/15064, Happy to hear any feedback/feature requests you guys might have. Try it out on https://chat.zulip.org/#recent_topics

[2020-06-10 06:16] timabbott commented on #15103
(Should we add a workaround to our code to avoid throwing an exception with Rambox/Ferdi here?)  And/or report bugs with them?

[2020-06-10 06:28] hamidjackal commented on #15272
Where is it? is it on the install log ?
do you mean this ?

[code]

[2020-06-10 06:51] Gittenburg opened #15289 "Display allowed domains on the registration page"
Restricting registration to a list of domains currently introduces a user experience problem with the registration page. The form just says "Email" giving no clue that only some domains are allowed and when a user attempts to sign up with a domain that isn't allowed they get the following error message:

This is not very helpful because it still doesn't tell you which domains are allowed.

The bes

[2020-06-10 11:23] CohenCyril opened #15290 "Provide permalinks to reference streams, topics and messages."
The links (for streams, topics and messages) we obtain by clicking "Copy link"/"Copy link to conversation" in the interface, or automatically generated by "Quote & reply" are relative to the names of the stream/topic (while the id of the message stays correct), and they break when streams are renamed, when topics are moved or renamed and when messages are moved to other streams/topics. In particul

[2020-06-10 18:44] terpimost opened #15296 "Arrow Up for editing the most recent message"
Please add such feature which would be supper convenient to edit any mistake in a freshly sent message

[2020-06-10 18:48] vinitS101 opened #15297 "settings: Change table design for all sections to be similar."
There are a number of tables in Zulip's Settings (personal & organization) and a lot of them differ in some way or another in terms of design. We should change that to follow a set design (primarily, a uniform row height) for all tables.

Relevant discussion can be found here - https://chat.zulip.org/#narrow/stream/2-general/topic/release.20issues/near/900556

[2020-06-10 19:00] #15296 closed, assigned to nobody

[2020-06-10 19:26] timabbott opened #15298 "Remove Google Hangouts calls integration"
Unfortunately, Google has removed the Google Hangouts brand, and with it, support for the Google Hangouts option for "Video call provider" is Zulip cannot work.  We should remove the feature, including from templates/zerver/help/start-a-call.

We'll want a database migration to convert any organization currently on that provider to the default, Jitsi, to avoid invalid values in the database.

See

[2020-06-10 21:07] timabbott opened #15301 "Organization owners: Remove access to various features from organization admins"
Since #15116 adds support for organization owners, we'll want to change how things work to deny normal administrators access to various features.  There's a few common things we need to do:
* Create an `owner_only` /help macro similar to `admin_only` we can use in Help Center articles (etc.)
* Add decorators or similar logic for managing
* Add framework support for having UI elements be disabled i

[2020-06-10 21:09] timabbott opened #15302 "Polish documentation on organization owners"
This probably doesn't make sense to do until we've done https://github.com/zulip/zulip/issues/15301, which makes the behavior what we want, but we should figure out where it makes sense to distinguish them from administrators vs. where we just want to mention "Administrators" and have "owners" be implied, and then make sure everything complies with that policy.

[2020-06-10 21:12] gnprice opened #15303 ":checkered_flag: 🏁 emoji is missing from reactions popover"
The emoji 🏁 U+1F3C1 CHEQUERED FLAG, which we call `checkered_flag` as its canonical name, works fine in the autocomplete in the compose box:
![image](https://user-images.githubusercontent.com/28173/84319006-29ff7000-ab24-11ea-91e1-5efd7bda60c5.png)

But it doesn't appear in the popover search when you try to add an emoji reaction:
![image](https://user-images.githubusercontent.com/28173/84318962-1

[2020-06-10 23:43] ghost opened #15306 "Allow choosing a notification sound per stream (or even topic?)"
Currently users can choose what notification sound they would like across the entire Zulip instance, but we've had a request to customize it per stream or even topic.

Customizing per topic seems difficult, but allowing user's to choose the sound that plays for a stream in the same way they can choose if the stream should receive audible notifications might be significantly easier.

[2020-06-11 00:17] timabbott opened #15307 "`update_subscription_properties_backend`: Don't return the request in the response."
Tim Abbott: In our API endpoint for editing a stream's properties: https://chat.zulip.org/api/update-subscription-properties

We appear to have an unusual return value scheme, where we return basically what the client sent rather than an empty HTTP response.  While there's potentially some mild utility for communicating what changes were confirmed by the server, it feels to me like this is probabl

[2020-06-11 00:21] cyphase commented on #5591
This was accidentally closed, I think. :slightly_smiling_face:

[2020-06-11 00:48] timabbott commented on #15306
Per-topic is theoretically possible with changes we have in mind for notification settings.  As is per-stream; it's mostly a matter of UI.

I think before investing in this, I'd want to add more sound files to our library.

[2020-06-11 01:00] #14966 closed

[2020-06-11 08:52] devZer0 opened #15310 "buttons / text input invisible in mobile web view"
hello,

i was testing mobile web view because i was told several times, that the native mobile apps suck.

i'm quite impressed, how nice mobile web view works, but there seem some issues.

after creating a new stream in safari or firefox on iphone X, i cannot post to the stream.

it looks like the buttons/fields are missing, but they are there but seem to be invisble.

if you type"blindly" (with g

[2020-06-11 08:57] devZer0 opened #15311 "button in mobile web view out of scope"
no more words to tell

<img width="376" alt="grafik" src="https://user-images.githubusercontent.com/3506105/84365853-570a5c00-abd2-11ea-9777-c011fcf2dd70.png">

[2020-06-11 10:40] tarangchikhalia commented on #15029
@zulipbot abandon

[2020-06-11 11:12] ryanreh99 commented on #12309
@zulipbot abandon

to stop zulipbot messages.
waiting for review

[2020-06-11 11:37] strifel commented on #14763
@zulipbot claim

#14775 is ready for review

[2020-06-11 11:55] wardweistra opened #15312 "Search for is:alerted always starts many pages behind the last read message"
I like the Alert words a lot for keeping track of important messages, but every time I go to Alerted messages from the search bar (a search for `is:alerted` appears) I am brought to the same message from Dec '19. I need to scroll many pages down to get to the most recent messages, to see if there's actually a new alerted message.

[2020-06-11 12:27] anshgit101 commented on #14991
Still working on the last 2 parts:
1) emoji reactions
2) attachments

[2020-06-11 12:41] Krishna-Sivakumar commented on #15181
@zulipbot claim

[2020-06-11 12:49] wardweistra opened #15313 "Alerted word of website does not return results, search on same term does"
* When I search for `https://mywebsite.net` and `mywebsite.net` I find recent messages mentioning my site or specific URLs in it.
* I've added `https://mywebsite.net` and `mywebsite.net` to my Alert words. However, `is:alerted` (myzulip.com/#narrow/is/alerted) does not return these messages.

I would be great if they are returned there too, so I can monitor when anyone needs help with my site. Tha

[2020-06-11 13:05] akashaviator commented on #15307
@zulipbot cliam

[2020-06-11 13:07] akashaviator commented on #15307
@zulipbot claim

[2020-06-11 14:58] Krishna-Sivakumar commented on #15029
@zulipbot claim

[2020-06-11 15:50] showell commented on #15313
@wardweistra Is it only the `is:alerted` view that's broken here?  Or are the alert words just not being recognized in general?  For example, does `mywebsite.net` show up with the typical styling for alert words when somebody sends you a message?

[2020-06-11 15:55] showell commented on #15312
I tried to reproduce this, but I couldn't.  One possible theory is that I'm on a newer version of Zulip than @wardweistra, but I don't think that's it.

My guess is that this is a symptom of your underlying pointer being really far behind.  If you are caught up on unread messages, I would try clicking on "All Messages" and then scroll all the way to the bottom here, and that might fix things here.

[2020-06-11 15:59] showell commented on #15311
@devZer0 Thanks for the screenshot.  I think a picture is all we needed here. :)

I am able to reproduce it with English as the language (but it's obviously a worse problem for German users):

![image](https://user-images.githubusercontent.com/142908/84409058-ea478f80-abda-11ea-8bfc-3779557e1ade.png)

[2020-06-11 16:15] showell commented on #15311
Whoever fixes this should also look at #15236

[2020-06-11 16:19] showell commented on #15297
The following panels are all very structurally similar:

[code]

And then this group is pretty similar to the above, except on these panels you can generally do an add-like thing, such as adding an alert word or uploading a file:

[code]

[2020-06-11 16:23] showell commented on #15297
@vinitS101 Since this is sort of a meta-issue, we should try to coordinate effort here:

https://chat.zulip.org/#narrow/stream/321-settings-system/topic/panels.20with.20tables/near/901337

[2020-06-11 19:14] YashRE42 opened #15319 "Refactor: Use a singleton in place of `_stream_params` in filter.js"
This is a quick/easy follow up to #15286, Tim's comment here describes what needs to be done:
 https://github.com/zulip/zulip/pull/15286#issuecomment-642277688

Making an issue to ensure we don't forget this.

[2020-06-11 19:16] YashRE42 opened #15320 "refactor stream subscription updates and add live navbar update."
This is a quick/easy follow up to #15286, Tim's comment here describes what needs to be done:
https://github.com/zulip/zulip/pull/15286#issuecomment-642338364

Making an issue to ensure we don't forget this.

[2020-06-11 21:26] clarammdantas commented on #15298
@zulipbot claim

[2020-06-11 21:35] Mark-Simulacrum commented on #15290
I *think* this might not be the best place to ask this -- I can file a new issue -- but it seems somewhat relevant. The Rust project currently automatically opens Zulip topics when certain issues are filed/labeled on GitHub -- we would like to post a comment on github linking to the Zulip topic.

However, I've not found a nice way to go from the API for sending messages (which in our case automati

[2020-06-11 22:30] timabbott commented on #15290
@Mark-Simulacrum thanks for the suggestion!  I think it does belong on its own issue, since we'll be able to swiftly close that if we can agree on the little naming details quickly.  I think we could very reasonably extend the `send_message` API to do that; or barring that, it'd certainly be reasonable to have an alternative endpoint that did the encoding for you.

[2020-06-11 22:31] nitish9801 commented on #14807
@zulipbot claim

[2020-06-11 22:31] timabbott commented on #15290
(BTW, this sort of question about where an issue should go can be a great thing to ask in #feedback on chat.zulip.org)

[2020-06-11 22:49] #14771 closed

[2020-06-11 23:49] #2665 closed

[2020-06-12 00:15] Mark-Simulacrum opened #15327 "Link for sent message in API"
The Rust project currently automatically opens Zulip topics when certain issues are filed/labeled on GitHub -- we would like to post a comment on github linking to the Zulip topic.

However, I've not found a nice way to go from the API for sending messages (which in our case automatically opens a topic for discussion) to actually getting a link to the topic in question.

Right now I'm thinking abo

[2020-06-12 00:18] Mark-Simulacrum commented on #15327
Cc @timabbott

I'd be happy to help out with a PR or so if you can point me to the relevant piece of code.

FWIW, I will note that for our purposes we don't need it to be a permalink - we're fine needing to edit it if the stream or topic is renamed, and regardless neither should really happen.

[2020-06-12 00:20] timabbott commented on #15327
Cool.  There's an ongoing discussion about how to do this; if we did it in the form described here, it'd be a quick change, but there's also discussion of just making a different URL structure that just requires the message ID.

[2020-06-12 00:22] timabbott commented on #13726
Yeah, OK.  Can you open a separate issue about the client-side performance issues, with that detail present?  It'll be totally different folks who work on that sort of thing.  I expect it to be not hard to fix using our `list_render.js` library to keep a reasonable number in the DOM at a time.

[2020-06-12 04:04] timabbott commented on #5591
Yes, @vinitS101 FYI, you can't say "Partially resolves #ISSUEID" in a commit message; GitHub's regular expressions will close it because they just look at the word before the issue ID.

[2020-06-12 05:37] sumukhah commented on #14880
For any discussion, https://chat.zulip.org/#narrow/stream/101-design/topic/Rename.20.22Add.20streams.20.22

[2020-06-12 09:19] alvaro72 commented on #8782
Same here. I want to run zulip in subdir, enterprise operation rules. https://services.enterprise.org/zulip and we can't proxy without modifying code

[2020-06-12 10:07] wardweistra commented on #15312
Hi @showell, thanks for the pointer. I scrolled all the way down in 'All messages' and now (even when I wasn't fully scrolled down yet) is:alerted now starts at the most recent message again.

I'm pretty sure at least every message in is:alerted was already read by me before, but I guess the general pointer of the oldest message I haven't read influences where I start in is:alerted then?

[2020-06-12 10:34] wardweistra commented on #15313
@showell Here's a test case to get some better answers:

I've set `test`, `test.com` and `https://test.com` as alert words.
Then I sent myself the message: "This is a **test** message about the website **test.com**, which can be found at **https://test.com** which contains the page **http://test.com**/banana, also known as **test.com**/banana" (I highlighted the hits I would expect, but they're pl

[2020-06-12 11:56] Hypro999 commented on #15136
@ali-yahyaoui any updates or should we close this issue?

[2020-06-12 12:29] chdinesh1089 opened #15331 "Migrate all backend tests to use `assertLogs`."
We currently use `mock.patch` approach to verify log outputs. `assertLogs` is a better option than `mock.patch`.
For info on `assertLogs`, see https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertLogs

Seeing how  `assertLogs` are used in `test_auth_backends.py`, added in [this commit](https://github.com/zulip/zulip/commit/d30f11888a009dea59711d24696e140d905488c6), might be help

[2020-06-12 12:46] aero31aero opened #15332 "Improve i18n string collection."
Currently, we use regexes to extract i18n strings from our .js/.ts/.hbs files. This method doesn't allow us to use all the features of Transiflex and i18n, like context strings.

We should switch to a better method of extraction, like using babel to extract all the calls to `i18n.t`, or to our handlebars helpers for i18n. There are some tools we could try: [i18n extraction tools](https://www.i18ne

[2020-06-12 13:17] GhaziTriki commented on #15136
@Hypro999 I am working with @ali-yahyaoui, I will update our zulip to gather those logs. Please wait before closing it.

[2020-06-12 13:20] GhaziTriki commented on #15136
@ali-yahyaoui I updated "alertscripts/zulip.sh", could you please do more testing and then we will be able to share the output.

[2020-06-12 13:26] GhaziTriki commented on #15136
@Hypro999

Here is a sample output
[code]

[2020-06-12 15:53] Mark-Simulacrum commented on #15327
Mind pointing me at that discussion?

I personally think that both would be reasonable and having the message ID based URL is nice for short permalinks but since it's harder can probably wait?

[2020-06-12 17:58] gnprice commented on #15332
Two of those extraction tools look promising because they say they support Handlebars:
http://i18next.github.io/i18next-scanner/
https://github.com/i18next/i18next-parser

I think the next step here is to try out one or both of those tools.

[2020-06-12 21:19] timabbott opened #15340 "validate every response in backend tests against OpenAPI schema"
I've been feeling unsatisfied that we have this great logic with `validate_against_openapi_schema` for testing the schema of responses returned by the Zulip server, but we only run it in the OpenAPI tests which generally query each documented endpoint exactly once, rather than in our full suite of correctness tests for the project.  In theory, we could modify the Django test HTTP client via roughl

[2020-06-12 21:42] timabbott commented on #15303
Tagging as a priority because this is an unexplained correctness bug.

I'd love it if someone debugged (probably with a lot of `console.log` work)

[2020-06-12 23:34] timabbott opened #15343 "Exception in lightbox code unable to find missing row"
This is a JavaScript exception seen in production.  I'm unsure what the root cause is:

[code]

The specific call with an issue is here:
[code]

I don't have a good understanding for what might cause this.  But note that we are using the `v` hotkey here, given `exports.show_from_selected_message` in the traceback.

[2020-06-12 23:37] timabbott opened #15344 "Error reporting emails: Indicate user role"
Some bugs are role-dependent (e.g. only happen for guests).  We should modify the "user" lines in our error emails to show the user's role in the first line.

I think this required changing `user_info_str` in `zerver/lib/error_notify.py`.

Tagging as a priority since this has a good effort/value ratio.

[2020-06-12 23:45] timabbott opened #15345 "message_edit: Exception with missing message_edit_form"
We've seen this exception in production:

[code]

The code is this block
[code]

Specifically, the `edit_id.expectOne()` is failing.  So there must be some sort of bug with the state machine.  Commit ID is b40597cf3e85b1202e58213792680efb5d74b016 in case it matters.

I confirmed the `edit_id` in question was a normal message ID (so local echo likely isn't involved).
I'm not sure why this bug shoul

[2020-06-13 00:03] timabbott opened #15346 "Exception rerendering messages following local echo"
This is a common exception in production:

[code]

The issue seems to be that in the `echo.process_from_server` code path for that runs after a locally echoed message is received via `server_events`, we try to rerender the message in `home_msg_list`.  Somehow, we're finding that we find the currently selected message needs to be rerendered while doing so (i.e. we'd selected the locally echoed mess

[2020-06-13 00:11] timabbott opened #15347 "Corrupted Reactions data model state when using multiple aliases for an emoji code"
We have this exception in our frontend exception logs:

`ERROR: server sent duplicate reactions for user {user_id} (key=unicode_emoji,1f44d)`

Looking at the data in question, we indeed have two near-identical Reaction objects in the database for a given message_id/user_profile_id/emoji_code pair; the only difference is that one is `+1` as `emoji_name` and the other is `thumbs_up`.

The database c

[2020-06-13 00:16] timabbott commented on #15347
@arpit551 do you want to work on this one?  It's very similar to `analytics/migrations/0015_clear_duplicate_counts.py` which you wrote.

I tested that `Reaction.objects.all().values("user_profile_id", "message_id", "reaction_type", "emoji_code").annotate(Count('id')).filter(id__count__gt=1)` quickly finds all problematic instances.

[2020-06-13 00:21] timabbott opened #15348 "Exception finding scroll element for emoji picker"
We get this frontend exception in production:

[code]

The code that's failing is this:
[code]

So the bug is most likely that somehow we have two copies of `.emoji-popover-emoji-map` in the DOM.  I'm not sure what might cause that, but one possibility is a bug that lets us open two emoji popovers at once (maybe a reactions one and a message editing or compose one)?

[2020-06-13 00:28] timabbott opened #15350 "Exception processing new stream creation events"
I'm not sure what causes the below exception.
[code]

The failure is in this block of `server_events_dispatch`; it appears that somehow `stream_data.create_streams` is not causing `stream_data.get_sub_by_id(stream.stream_id)` to pass for one of the created streams!

[code]

Reading `stream_data.create_streams`:
[code]

We can certainly improve the code by removing the legacy logic around checking

[2020-06-13 00:37] timabbott opened #15351 "Exception in local echo retry logic"
We've seen this exception in production:

[code]

The bug here is clearly that we are somehow allowing someone to click on the UI elements in this part of the message.  There's two possibilities: This is a message we ourselves sent and we didn't hide this UI properly after the message was processed by the server, or this UI was shown in the first place for a message sent by someone else.  The form

[2020-06-13 00:52] showell commented on #15340
One thing to look at here is `write_instrumentation_reports`, which was originally written in 2016 by me in the hope of doing these kind of checks.  (The immediate goal was to get instrumentation on which urls don't have coverage at all, but I intended it to grow toward some kind of schema-checking thing, and it never did.)

It's possible that we can either a) somehow leverage off of that or b) ha

[2020-06-13 04:40] sahil9001 commented on #15344
In this issue, shall we just add the `user_role` in the `user_info` object?

[2020-06-13 04:50] timabbott commented on #15344
I would put it in parens, e.g. " (admin)" in the `user_info_str` (aka title line that says who the user is), if it not the default role (member).

[2020-06-13 09:25] anomitra commented on #15181
Is this still in progress?

[2020-06-13 09:59] kkplein commented on #9957
Hi, yes, we agree as well that we need to be able to use ldap groups in zulip. Zulip's ldap implementation is really nice (and so much better than the way rocket.chat handles ldap) but this feature is sadly missing:

- It would be nice to assign ldap group as zulip-admins
and
- select which ldap groups should be imported as streams. (and subscribe/unsubscribe group members to the stream based on c

[2020-06-13 10:28] kkplein commented on #9957
Please also include the options to map ldap groups to zulip admins. :-)

For the rest: zulip LDAP implementation is really nice, and specifically: so much better than the one from rocket! It's the reason we prefer zulip over it! It just needs these group features, to eliminate the need to configure things locally in zulip.
Thanks for making zulip available! :-)

[2020-06-13 10:48] imnitishng commented on #15181
Yes. Sorry for the delay but I have been occupied lately.
But I am currently working on this and will be sending a PR soon.

[2020-06-13 10:51] Hypro999 commented on #15136
Ah, I see the issue here. This is indeed invalid JSON.

Here Zabbix is not escaping the `"` marks around "Status" and this is causing the string to be terminated early with the rest of the string being syntactically invalid junk. You can verify that this is indeed invalid JSON according to RFC 8259 via. online tools like https://jsonformatter.curiousconcept.com/.

At this point there's nothing we

[2020-06-13 11:00] Hypro999 commented on #15136
And just a thought, if the value for `item` is something that can be manipulated by a user or external entity, you may be enabling a potential injection attack here, because values for the same key in JSON are overridden by the last instance.
e.g.
[code]
Would be loaded as
[code]

[2020-06-13 11:10] GhaziTriki commented on #15136
@Hypro999 We are using zabbix 4.4.4, what version are you using?

[2020-06-13 11:18] Hypro999 commented on #15136
@GhaziTriki I tested this code against the same version.

[2020-06-13 11:19] Hypro999 commented on #15136
To be more specific I used https://marketplace.digitalocean.com/apps/zabbix to test. So the version of Zabbix is kind of irrelevant here.

[2020-06-13 13:03] zackw commented on #14805
`upgrade-zulip-from-git bmemcached` (with `git_repo_url = https://github.com/andersk/zulip` in zulip.conf) got what looks like most of the way through and then bombed out with another memcached authentication failure (during the "restart-server: Filling memcached caches" phase).  I'm going to see if I can work through this with some help from chat.zulip.org, stay tuned.

[2020-06-13 13:18] cossio commented on #14846
Related: https://github.com/zulip/zulip/issues/6605, https://github.com/zulip/zulip/pull/15064

[2020-06-13 14:19] zackw commented on #14805
After considerable head-scratching and aggressive application of `strace` I managed to figure out that `manage.py` was trying to authenticate to memcached as user `zulip` but the SASL user database (`/etc/sasl/2/memcached-sasldb2`) only had an entry for user `zulip@localhost`.  After adding an entry for user `zulip` with the same password, `manage.py fill_memcached_caches` completes successfully.

[2020-06-13 14:39] amanagr commented on #14846
@cossio you can try Recent Topics out on https://chat.zulip.org/#recent_topics and provide feedback either here or on https://chat.zulip.org/#narrow/stream/2-general/topic/Recent.20Topics

[2020-06-13 14:41] #14846 closed

[2020-06-13 18:11] Hypro999 commented on #15287
Just wanted to share the relevant code snippets for quick referencing and background:

[code]
[code]
[code]

[2020-06-13 18:26] Gittenburg commented on #15303
[Apparently  iamcal/emoji-data has a dedicated category for flag emojis](https://github.com/iamcal/emoji-data/blob/c40da192db582084c783e2b6413b150114546ab0/categories.json#L1489-L1490).

And `get_all_emoji_categories()` in `emoji_picker.js` doesn't return the `Flags` category.

https://github.com/zulip/zulip/blob/7229088b6cd331ed8370fb11625346f1a5614c2b/static/js/emoji_picker.js#L31-L44

Since the

[2020-06-13 22:27] andersk commented on #14805
@zackw The client code isn’t responsible for appending the hostname to the username; that’s (expected to be) done within the memcached server and its SASL library. (Specifically, memcached [gets `my_sasl_hostname` from `gethostname()`](https://github.com/memcached/memcached/blob/1.5.6/sasl_defs.c#L175) and [passes it as `user_realm` to `sasl_server_new()`](https://github.com/memcached/memcached/bl

[2020-06-14 00:05] timabbott commented on #14805
Hrm, if that's the issue, that could explain why some folks see this sort of issue.  Folks using some virtualization providers end up often moving their Zulip system between VMs, rebooting, etc. in a way that changes the hostname (this was a source of never-ending pain with rabbitmq until we hardcoded the hostname to use rabbitmq as `127.0.0.1`).  Can we tell the memcached authentication system to

[2020-06-14 00:16] timabbott opened #15364 "Mobile web: Long-tapping on a reaction should show who reacted"
Currently, there's no way in the mobile webapp to tell who added emoji reactions to a message.  This is an annoying loss of ability to understand the conversation when using that interface.

This is an experimental idea, which we should try out and test on chat.zulip.org for feedback before merging, but it seems like we should try using the same interface we have in the mobile app, namely long-tap

[2020-06-14 00:24] andersk commented on #14805
It’s not configurable on the server side, but looking at that code, we may be able to send a username containing `@some-realm` from the client side and not get another one appended.

[2020-06-14 00:54] SiddharthVarshney commented on #15311
@zulipbot claim

[2020-06-14 02:39] qnxor commented on #11134
For those still looking for Apache2 instructions, see here: https://github.com/qnxor/zulip/blob/master/docs/production/deployment.md#apache2-configuration

PR above. Tested with a Docker install, but should work just as well for a plain install.

p.s. For a Docker install you need to make the changes for zulip.conf and settings.py in `docker-compose.yml` instead:
[code]

[2020-06-14 06:08] amanagr commented on #15364
![emoji_long_tap_gif](https://user-images.githubusercontent.com/25124304/84586016-2e34d180-ae33-11ea-8723-7d5d47dafddc.gif)

I found that long tap already works on chrome.

@MasonProtter were you looking for something else or this doesn't work for you? In the latter case, details on your browser will be helpful.

[2020-06-14 07:04] Gittenburg commented on #15303
@zulipbot claim

[2020-06-14 07:16] MasonProtter commented on #15364
I’m using an iPhone with the latest version of iOS and Safari. Long press does not work for me.

[2020-06-14 07:46] amanagr commented on #15364
I have used Safari in the past and I find many things don't work on it in general (for non-zulip websites), primarily because all features are not tested thoroughly by developers on Safari. That said, we there is definitely a bug here we should fix.

[2020-06-14 14:10] zackw commented on #14805
@andersk

Not intentionally.  It's possible that there was a stale setting from the initial OS installation; I don't remember whether I rebooted in between setting the hostname and installing zulip.  Or the DNS update might not have been visible by the time the installer needed the hostname.

[code]

Yesterday, before I started tinkering with it, `sasldblistusers2` printed just the `zulip@localhos

[2020-06-14 14:13] Krishna-Sivakumar commented on #15029
Can you take a look at this? @amanagr

[2020-06-14 14:19] zackw opened #15372 "After upgrade from 2.1.4 to development, certbot was uninstalled"
I'm running zulip on Debian 10.  I initially installed 2.1.4 but then upgraded to a development branch -- specifically, I was asked to test https://github.com/zulip/zulip/pull/14925 .  Since the upgrade, the daily cron job that renews the server certificate has been reporting

[code]

Installing the Debian package `certbot` fixes the issue.  I'm pretty sure this package *was* installed prior to th

[2020-06-14 15:45] whoodes opened #15373 "Don't hardcode the url for S3 providers"
Before the upgrade to boto3, we previously got the URL when using third-party-S3-compatible providers by calling `self.connection.DefaultHost` in

[code]

Right now we are hard coding the string with `s3.amazonaws.com`, which isn't preferable. Instead, it looks like we can replace the aforementioned substring with `bucket.meta.client.meta.enpoint_url`:

[code]

However, when getting these urls, we

[2020-06-14 17:06] timabbott opened #15374 "Scope problems with loading_newer indicator"
The new loading_newer loading indicators turn out to be buggy, because of the somewhat subtle interaction caused by there being multiple message lists fetching data at a time.  Specifically, if you visit a narrowed view when the "Home" view isn't fully caught up, we'll end up showing loading indicators at the bottom of the page, even if the view we're actually looking at is caught up.

The structu

[2020-06-14 17:41] #15303 closed

[2020-06-14 19:13] timabbott opened #15375 "Move markdown help to a frontend template without hardcoded rendered markdown"
Our markdown help file `templates/zerver/app/markdown_help.html`, has a bunch of copied HTML in it, which isn't a robust/maintainable strategy.  We have a frontend markdown processor, we should be able to just have a much simpler file HTML containing the raw markdown, and then JavaScript that does extracts the code from each `preserve_spaces` element and installs the rendered markdown based on tha

[2020-06-14 22:06] #15340 closed

[2020-06-14 22:27] timabbott commented on #14138
I don't know of any scenario that would cause us to store content in `uploads/files/1` other than a mis-initialized server; which I think actually did happen with our data import tools (as reported by @maltokyo), and we fixed.  So I think it's likely that this is a secondary issue caused by something we've already resolved.

So closing this as likely resolved by 5eb5b6a5ad9b887d557df614dfe8db78606

[2020-06-14 22:27] #14138 closed

[2020-06-14 23:02] timabbott commented on #15373
I think this is https://github.com/zulip/zulip/issues/14484; closing as a duplicate.

@whoodes are you up for

[2020-06-14 23:02] #15373 closed

[2020-06-14 23:05] #15372 closed

[2020-06-14 23:06] timabbott commented on #15372
Traced this to a typo in a recent migration of how we install certbot, which I fixed, thanks for the report @zackw!  It'd be great if you can uninstall certbot and confirm `upgrade-zulip-from-git` reinstalls it for you, just to be sure.

@arpit551 FYI -- it's really important to test all changes to `puppet` manually, since otherwise this sort of bug can sneak in.  (We don't have great automated te

[2020-06-15 01:31] cyphase opened #15378 "Fix topics sometimes not being listed in the correct order"
[CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/topics.20not.20being.20in.20the.20right.20order/near/891141)

Topics are sometimes listed in the wrong order in the left sidebar. A reload fixes the issue. Sending a message to a topic in the wrong place will put it at the top (correctly), but other topics will stay where they are, even if it's still in the wrong order.

Here are a couple

[2020-06-15 01:37] cyphase commented on #15378
@zulipbot add "area: left-sidebar" "area: topics" "bug"

[2020-06-15 01:53] pohutukawa commented on #14862
Just referenced this ticket from elsewhere, and noticed I had not given final feedback.

Now (I don't know why) the `rabbitmqctl list_queues` does report a list of all the queues properly with their current queue sizes. I don't know why, but this problem seems resolved, and the upgrade to the Git master (as of early May) seems to have done the trick to resolve the problem.

[2020-06-15 01:53] #14862 closed

[2020-06-15 03:58] #7115 closed

[2020-06-15 04:35] timabbott commented on #15301
OK, I think this issue is complete aside from the billing TODO.  Reassigning to @hackerkid.  Thanks @sahil839!

[2020-06-15 05:23] arpit551 commented on #15372
@timabbott I remember fixing that don't know how it went through. I'll be extra careful next time.

[2020-06-15 05:41] Gittenburg opened #15380 "Selecting a category in the emoji picker scrolls to middle of category instead of top"
Something appears to be off with the offset calculation in `static/js/emoji_picker.js`. Interestingly the scrolling works correctly when using Page Up / Down.

[2020-06-15 05:41] Gittenburg commented on #15380
@zulipbot claim

[2020-06-15 05:54] timabbott commented on #9338
@amanagr is this still reproducible?

[2020-06-15 05:59] timabbott commented on #15327
https://chat.zulip.org/#narrow/stream/3-backend/topic/send_message.20API/near/902103

The main concern is that if we're going to provide a much nicer interface where all you need is the message ID, it seems a bit silly to extend the API to serve you the URL for that message.

[2020-06-15 06:05] timabbott commented on #15313
I suspect the issue here is that the `ahocorasick.Automaton` algorithm we're using is not configured to consider punctuation characters.  @benneyman do you know if we could support having punctuation in alert words easily here?

[2020-06-15 06:09] timabbott commented on #15312
That is correct.  We have mitigations for that class of issue for most queries, but I think not `is:alerted`.  The removal of the pointer, coming in the next couple weeks, will eliminate that problem.

https://github.com/zulip/zulip/issues/8994 is the master issue tracking that work.  @amanagr FYI, we should make sure we get that finished for the 2.2 release.

[2020-06-15 06:09] #15312 closed

[2020-06-15 07:11] timabbott commented on #14059
Just a note, we've updated to boto3, but doing so made our situation for alternative providers temporarily worse.  See https://github.com/zulip/zulip/issues/14484 for what needs to happen to fix that.

[2020-06-15 07:11] timabbott commented on #9376
I believe this was resolved by the migration to boto3.

[2020-06-15 07:11] #9376 closed

[2020-06-15 09:08] KarimTayie commented on #14807
@zulipbot claim

[2020-06-15 09:09] KarimTayie commented on #14807
@timabbott
Hello, this issue seems inactive for a long time.
can I work on it?

[2020-06-15 10:54] vinitS101 commented on #15364
A popup with options to save the image comes up before the tooltip is displayed on Safari (and even Chrome) for me. Although, sometimes the tooltip does seem to appear momentarily before the menu comes up.

@zulipbot claim

[2020-06-15 11:25] volo-zyko opened #15383 "Magic reports 'application/octet-stream' for PNG images"
I don't know if this is always true but for me 1024 bytes are not enough for PNG images. Why not use the full data? It's already in memory after `read()`.

https://github.com/zulip/zulip/blob/f448ee404a260e5c7e6647b0010feecccfe25d9d/zproject/backends.py#L545

[2020-06-15 11:43] amanagr commented on #9338
Yes, It works fine for unsubscribed stream for which we have UserMessage entry for the user though,  for other unsubscribed stream this doesn't work, which I believe is intentional and not a bug.

[code]

[2020-06-15 12:22] amanagr opened #15384 "Create #references for all the arguments to an endpoint in /api docs."
User should be able to refer exact argument via a #reference link like https://chat.zulip.org/api/register-queue#arguments even for all the arguments to an endpoint.

For example, a link like https://chat.zulip.org/api/register-queue#client_capabilities  should go directly to `client_capabilities` argument within https://chat.zulip.org/api/register-queue#argument.

[2020-06-15 12:24] Gittenburg commented on #15383
PNG starts with an 8 byte signature that should unambiguously identify the format. It sounds like your images are malformed. Can you provide an image to reproduce your problem?

[2020-06-15 13:00] irfansheikh777 commented on #14805
@timabbott  @andersk

will this memcache issue will be  fix  in release 2.1.5 ?

[2020-06-15 14:29] zackw commented on #15372
I confirm that, after manually uninstalling certbot, `upgrade-zulip-from-git` to a version containing 8058909 reinstalls it.

[2020-06-15 17:34] #15380 closed

[2020-06-15 17:42] amanagr opened #15387 "Error when guest users clicks on an unsubscribed stream link"
When a guest user clicks on stream url to which the guest user is unsubscribed to, this creates a traceback
[code]

@**Yash RE ✨** FYI

Do we need a Puppeteer test for this too? I think it is easy to get in a state where this happens again.

[2020-06-15 17:52] #15285 closed

[2020-06-15 18:02] timabbott commented on #15378
So from reading code as part of #15329, there's definitely incorrect logic that could cause a bug like this (I have not traced through precisely how).  The `stream_topic_history` data structure uses two data sources:
* Messages actually received by the client, cached in `message_store`; here we do accounting where we track how many messages we've received in the topic.
* In various code paths, inc

[2020-06-15 18:30] timabbott opened #15389 "monitoring: Use the check_postgres package that comes with Debian/Ubuntu"
It appears there's a `check_postgres` package in Debian/Ubuntu, so there's no reason for us to be vendoring it at `puppet/zulip/files/nagios_plugins/zulip_postgres_common/check_postgres.pl`.

We should just switch to installing and running it via apt.

[2020-06-15 18:35] timabbott commented on #15389
I think it's installed via this code, which has the `purge` option set:
[code]

So it should suffice to just delete the file to have it stop being installed and be removed where it is installed.  I also notice we seem to be installing the `check-postgres` package already; not sure if any Nagios configuration changes are required to run the version that Debian/Ubuntu ship.

[2020-06-15 18:36] timabbott commented on #15387
I think a Node test would be appropriate for this set of corner case.

(I also think this will likely be substantially improved by removing when we remove the the `_stream_name` cached structure)

[2020-06-15 19:33] Krishna-Sivakumar commented on #15375
@zulipbot claim

[2020-06-15 19:57] YashRE42 opened #15390 "feature request: Render emoji at larger size when it is the only content of a message."
Messages comprised solely of emoji should be presented so that the emoji themselves are visually larger. (This should not affect users who opt for the plain-text emoji set.)

Here's how Discord displays emoji-only messages, for example:

![image](https://user-images.githubusercontent.com/33805964/84700208-6a218100-af70-11ea-9c10-708462be6524.png)

**Prior to addressing this issue**, there needs to

[2020-06-15 20:07] timabbott opened #15391 "/var/log/zulip/webhooks_errors.log is not working in development (was production too)"
This seems to be a regression dated roughly June 5 at 3PM; errors that used to be written to `/var/log/zulip/webhooks_errors.log` are now only appearing in `errors.log` in production environments.  The same is true for `/var/log/zulip/webhooks_unexpected_events.log`.  My guess is we broken the logger configuration.

@Hypro999 @eeshangarg FYI.

[2020-06-15 20:42] volo-zyko commented on #15383
Yes, I can upload it shortly. However, when I remove `[0:1024]` the returned type becomes 'image/png' and `file` utility reports the same (for the full file, that is).

[2020-06-15 21:23] YashRE42 commented on #15319
@zulipbot claim

[2020-06-15 21:30] volo-zyko commented on #15383
Here is the 8 byte signature `89 50 4E 47 0D 0A 1A 0A` which I observe in my PNG file (and for which `magic` incorrectly detects MIME type).

[2020-06-15 21:43] Gittenburg commented on #15383
Interesting ... that is the correct signature. Afaik magic uses the same library as `find` (`libmagic`). What does `head -c 1024 yourfile.png | file -` report?

[2020-06-15 21:45] Gittenburg opened #15396 "Move landing pages from zerver to corporate"
It makes sense to have the https://zulip.com/ website source code in a different directory than the actual Zulip application source code. A self-hosted Zulip instance doesn't need to duplicate the zulip.com website. I am thinking of:

* Moving the landing page templates from `templates/zerver` to `templates/corporate`.
* Moving `corporate/views.py` to `corporate/views/billing.py`.
* Splitting `zer

[2020-06-15 23:13] timabbott commented on #15396
It would not be correct to move all portico templates to `corporate/`; we need to be careful to only move things that are not useful to a self-hosted site.  (Integration documentation and /help do not for that description, and certainly the login pages don't!)  Most content under `portico` fits that description.

I think the precise term you want is "landing pages" for the things that might make s

[2020-06-15 23:18] #15389 closed

[2020-06-15 23:48] #15387 closed

[2020-06-16 00:23] dan-graw commented on #15185
Hi @sumukhah , I'm new to contributing but you should take a look at my commit. I implemented this change by copying the "submit" listener for the subscriber_list_add form as a "keyup" listener. This preserves the current functionality and readability of edit_stream.js while only adding a few lines without any additional work on the file. Please take a look. #15401

[2020-06-16 00:24] timabbott opened #15402 "Fix webapp stream name parsing to allow integers in stream name component"
Apparently we don't support using links of this form to access to a topic:

https://chat.zulip.org/#narrow/stream/3/topic/send_message.20API

requiring the stream name (or anything) to be encoded after a dash, like here:

https://chat.zulip.org/#narrow/stream/3-backend/topic/send_message.20API

@showell do you agree?

I think I've traced the problem to this function needing to support a pure ID in

[2020-06-16 00:49] timabbott opened #15403 "performance: Fix timeout when requesting bankruptcy"
When marking 10,000s of messages as read, sometimes the request can timeout.

While 5b49839b08b2223c0454995a0808ea9df2ecb1b3 fixed one of the weird failure modes this can cause, timeouts can create other issues.  (Visible in that code, the `send_event` and analytics calls could still be skipped if our process is killed due to a timeout)

We can use these approaches together to solve the problem.
*

[2020-06-16 01:04] timabbott commented on #15372
Awesome, thanks for confirming the fix!

[2020-06-16 01:06] timabbott commented on #14807
@KarimTayie sure!  I don't believe anyone else has fixed it, and it should be accessible to new contributors.

[2020-06-16 03:28] timabbott commented on #15181
@imnitishng when do you expect to get to this?  If you're busy, I'd like to hand this off to @sahil839 since I'd like this to be included in our release in about a week.

[2020-06-16 03:29] #14873 closed

[2020-06-16 03:30] timabbott commented on #14754
@punchagan just wanted to check in on whether you expect to have time for this soon?

[2020-06-16 03:33] timabbott commented on #14503
@YashRE42 A PR to do the animation suggested here would be very helpful.

[2020-06-16 03:41] timabbott commented on #12599
Yeah, we can close this; @chdinesh1089 @priyank-p FYI; we should fix the similar issue with puppeteer if present.

[2020-06-16 03:43] timabbott commented on #13448
I believe this was fixed via 524d347c3970c14f3bb77864f14eae6410464c12.

[2020-06-16 03:43] #13448 closed

[2020-06-16 03:45] timabbott commented on #13584
I fixed this in 7e0eeb20a3a48140e44ce02b50975c35cb89c241.

[2020-06-16 03:45] #13584 closed

[2020-06-16 03:46] imnitishng commented on #15181
Hi @timabbott I am sorry for the delay, I have removed and tested the attribute in backend but I am still quite new to frontend development and there seems to be a missing line https://github.com/imnitishng/zulip/blob/d526b08ea9eb5c5f4c1a2548521a23c346fa93fc/static/js/stream_data.js#L815 in the tests of my commit, I have got things to learn so it would be better if someone else does it faster than

[2020-06-16 03:46] timabbott commented on #13787
Note we're removing is_old_stream in #15181, which may simplify what remains to do here.

[2020-06-16 03:47] timabbott commented on #13766
@hashirsarwar has this been fixed?  No is OK, I just want to make sure we didn't merge something here and forgot to close this.

[2020-06-16 04:03] hashirsarwar commented on #13766
@timabbott no, that wasn't fixed. I think my PR was complete but I didn't receive a review for a long time, so I closed the PR. Kindly tell me if you want me to reopen and rebase this.

[2020-06-16 04:56] timabbott commented on #13766
Yeah, please do.

On Mon, Jun 15, 2020 at 9:03 PM Hashir Sarwar <notifications@github.com>
wrote:

[2020-06-16 05:17] #14643 closed

[2020-06-16 05:30] #15374 closed

[2020-06-16 05:53] punchagan commented on #14754
I'll try to look into it, towards the end of this week. But, if there's somebody else who you think can take a look at it sooner, feel free to ask them to look at it!

[2020-06-16 05:59] timabbott commented on #8782
@alvaro72 thanks for the additional detail on use case.  This remains not a priority for the core community.

[2020-06-16 08:00] ryanreh99 opened #15405 "message view: Fix link generation logic of the end of results notice."
The end of results notice is displayed after the oldest message has been fetched and only if we have fetched the data for the current message list.

However while fetching, if any overlay is open (i.e. the hash fragment of the URL changes) the message list remains unchanged but since the href logic depends on the current URL instead of the message list, we get an incorrect link.

[2020-06-16 12:06] sahil839 commented on #15181
Okay, I am starting work on this.

[2020-06-16 12:32] volo-zyko commented on #15383
`head -c 1024 yourfile.png | file -` says `/dev/stdin: PNG image data, 300 x 300, 8-bit/color RGBA, non-interlaced` as it should. I will try to play with it in python console.

[2020-06-16 14:46] stratosgear commented on #14455
@timabbott  Is there a way to turn off these emails please, please, please....?

I have been deleting 150-200 emails every day for the last 2-3 months.

Everything seems to be working fine in zulip, but these insistent messages are driving me crazy!

Thanks!!!

[2020-06-16 17:28] #15181 closed

[2020-06-16 17:35] timabbott commented on #13787
I think this is an updated version of the TODO list described in this issue:
* [x] Make a classmethod `Stream.row_to_dict` that handles the `.stream_id` hack that we have code for everywhere we marshall a stream object into a dictionary to deduplicate things.
* [x] Remove the `is_old_stream` field as it is useless.
* [ ] Add `.date_created` to Stream.API_FIELDS, it seems like it'd be an improvemen

[2020-06-16 17:43] timabbott opened #15410 "Add date_created to Stream.API_FIELDS and update documentation"
We should include the creation date for streams in the bundle of data we send down to clients, since I can easily see it as being something that clients would find useful to display.

(We should also look at finding a home for displaying this in "Stream settings").

[2020-06-16 17:43] timabbott commented on #13787
Moving that last item to https://github.com/zulip/zulip/issues/15410.

[2020-06-16 17:43] #13787 closed

[2020-06-16 17:55] zackw opened #15411 ""WARN [] Invalid property messages_read::hour" from update_analytics_counts cron job"
Since upgrading past aa70baba718a5723e12bce68075118ea4a168a9c I am getting an email from cron once every hour reading something like

Nothing committed since then looks like it would resolve this.

[2020-06-16 18:14] #14017 closed

[2020-06-16 18:21] timabbott commented on #15136
@GhaziTriki you may be able to see the exact JSON your server is sending in `/var/log/zulip/webhook_errors.log`.  Can you try checking that?

[2020-06-16 18:26] #10271 closed

[2020-06-16 18:35] timabbott commented on #14455
@stratosgear yeah, with that frequency it's clear that your memcached cache is just nonfunctional.  Zulip is designed to work even if the cache is down, but it's definitely going to be a performance issue (And the Python memcached module has this terrible setup where the exception is different every time, so our rate-limiting of a given error email doesn't work with it).

The issue is almost certa

[2020-06-16 19:13] chdinesh1089 commented on #12599
This actually happens with puppeteer too. The problem is with the test server starting. As @andersk told, it is blocked on DNS request.
So, we're getting stuck at `while not server_is_up(server, log_file):` in `test_server_running` with `server_is_up` returning False because we have ` return requests.get('http://zulipdev.com:9981/accounts/home').status_code == 200` that's doesn't return `True` whe

[2020-06-16 21:39] sahil839 commented on #15350
@zulipbot claim

[2020-06-16 22:28] agupta01 commented on #15331
@zulipbot claim

[2020-06-16 23:19] #5802 closed

[2020-06-16 23:23] timabbott opened #15414 "spoilers: Make sure it's sufficiently convenient to expand spoiler blocks"
From the original #15281 discussion:

[2020-06-16 23:27] #14828 closed

[2020-06-16 23:32] timabbott commented on #12599
I think we could check `localhost:9991` there; but then we'll access the `zulipdev.com` URLs inside the realm creation test (for example).

We could try making it work at least in Vagrant and Droplets by adding DNS entries for `*.zulipdev.com` in `/etc/hosts` pointing at 127.0.0.1.

[2020-06-17 00:04] #15298 closed

[2020-06-17 00:20] timabbott opened #15415 "Update documentation documentation to clarify we use postgres 12 by default"
Following #15404, we now use postgres 12 by default in production, which is great.  For backwards-compatibility, we support postgres 10 and 11 depending on what came with the OS, which is how previous Zulip releases worked.

We need to document the new behavior, and more importantly, how to upgrade Zulip to newer postgres (as folks who want to be running our recommended configuration might want to

[2020-06-17 00:54] timabbott opened #15416 "Make sure spoilers do the right thing in email and mobile push notifications"
We should make sure that the new spoilers markdown feature does the right thing in desktop, email and mobile push notifications.  I think the right behavior is to have our logic that translates content into the supported formats for email/push notifications should keep the spoiler header but not the spoiler content.

* Push notifications: `get_mobile_push_content`, tested in `zerver/tests/test_pus

[2020-06-17 01:09] timabbott commented on #15411
@arpit551 can you investigate?

[2020-06-17 01:13] timabbott commented on #15411
I can reproduce on a production system:

[code]

[2020-06-17 01:16] timabbott commented on #15411
Ahh, OK, this is not a bug in the codebase, per se; it's an issue that we haven't deployed this change to `zulipchat.com.  (The error is happening when submitting statistics for this:

https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html#submitting-statistics
).

I expect this to be fully resolved when we next deploy master to zulip.com, likely in a couple hours.

Thank

[2020-06-17 01:16] clarammdantas commented on #6027
@zulipbot claim

[2020-06-17 05:42] arpit551 commented on #15347
Okay I am working on it.

[2020-06-17 05:50] hashirsarwar commented on #14504
@zulipbot claim

[2020-06-17 06:24] timabbott commented on #6027
@clarammdantas there's already a PR for this that @ryanreh99 has been working on.

[2020-06-17 07:11] stratosgear commented on #14455
Yes, I look forward to upgrade to something better.

But my request was to find a way to stop these messages until that time. Is there no way to temporarily stop the messages, until the next upgrade...?

[2020-06-17 07:15] timabbott commented on #14455
Well, you can always change `ADMINS` in `/etc/zulip/settings.py` to make Zulip not send error emails at all.  https://docs.djangoproject.com/en/3.0/ref/settings/#admins

[2020-06-17 07:26] timabbott commented on #15411
Resolved via deploying master to production.

[2020-06-17 07:26] #15411 closed

[2020-06-17 07:52] Hypro999 commented on #15391
@zulipbot claim

[2020-06-17 10:24] amanagr opened #15420 "Wrong email address visible for new signed up users."
For users who just signed up, we show `user_profile.delivery_email` instead of `user_profile.email`. We need to show `user_profile.email` in every case.

Note: You need to be an admin to view email of other users.

[2020-06-17 10:41] stratosgear commented on #14455
That seems it did the trick, thanks.  Looking forward for the next release!

[2020-06-17 10:51] lokesh576 commented on #15375
@zulipbot claim

[2020-06-17 11:00] Gittenburg commented on #15414
I think we should use the [proper HTML tags for spoilers](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details):

[code]

* We don't have to implement collapsing / expanding ourselves. Furthermore we don't have to check for every click on an element in a messagebox if its descendant is a spoiler header (since spoiler headers can contain Markdown and thereby subelements).
* Semantic HT

[2020-06-17 11:44] vinitS101 commented on #15420
@amanagr Where is the email displayed incorrectly? Users list in Organization setting or individual profile popovers?

@zulipbot claim

[2020-06-17 13:15] amanagr commented on #15420
I didn't check organization settings but Individual profile popovers had this issue.

[2020-06-17 14:53] lukasIO commented on #10271
on iOS the badge count stays at 1 and does not disappear. mobile version v26.28.151 on a zulipchat.com domain

[2020-06-17 17:15] yringler opened #15426 "Improvements to JIRA integration"
I bumped into this project, it looks really neat, would love if my org could switch to this.
The thing people here like with slack is the JIRA integration.

1. The previews. It would be great if zulip JIRA could show informative previews for a JIRA (
![image](https://user-images.githubusercontent.com/4070825/84928226-0a27f900-b09c-11ea-89e3-8c9f6fdc2851.png)
2. Filtering notifications. We have a b

[2020-06-17 17:32] vinitS101 commented on #15420
The User Info popover, User profile and User pills use this. Should I make this change for all 3 or just the two popovers?
Doing the latter would mean replacing the `people.get_visible_email(user)` call with a simple `user.email` wherever needed.

[2020-06-17 18:38] showell opened #15427 "REQ framework ignores snippets in paths"
This is a pretty advanced bug, unless you have knowledge of our REQ/validator framework.

Basically, it appears that we skip over validators if the function argument was provided via Django using `urls.py` to pull a parameter out of the URL path with a regex check.

More details here: https://chat.zulip.org/#narrow/stream/3-backend/topic/types/near/907156

[2020-06-17 18:58] gnprice opened #15428 ""Active notifications" that were edited and shouldn't be notifiable"
I have two messages on chat.zulip.org with the `active_mobile_push_notification` bit set -- even though I'm fully caught up.

This becomes conspicuous with #15179, which is currently deployed on chat.zulip.org for testing though it's not yet merged. With that PR, I see a red badge reading "2" on the Zulip app on the iPhone home screen. This would be a pretty bad experience if I were any normal use

[2020-06-17 19:05] Dylnuge commented on #15414
@Gittenburg That's a cool feature and I think it's worth looking into, but it seems like a more substantial change than just making the whole header a clickable element (changes HTML rendering, changes CSS pretty dramatically, now that this is merged and deployable it probably makes sense to do something to ensure that existing spoilers are converted since rendered HTML is stored in the database).

[2020-06-17 19:05] Dylnuge commented on #15414
@zulipbot claim

[2020-06-17 19:10] opheliasdaisies commented on #15416
@zulipbot claim

[2020-06-17 19:47] timabbott commented on #15414
I think whether it makes sense to switch to the HTML spoilers tag will depend on whether it supports the behavior we want.  I notice this:

`Note: Unfortunately, at this time there's no built-in way to animate the transition between open and closed.`

It seems like we probably won't be super happy using markup that cannot be animated; though I could imagine having the markdown processor generate s

[2020-06-17 20:01] timabbott commented on #15416
Sigh, zulipbot looks for folks with at least 1 commit for that notice, but apparently ignores co-authored-by.

[2020-06-17 20:31] timabbott commented on #15426
@Hypro999 FYI.

[2020-06-17 20:35] aero31aero opened #15431 "markdown: Use <time> tag for rendering timestamps."
We should use the `<time>` HTML element ([see docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time) for rendering timestamps, instead of a div.

We will have to use the ISO format as the intermediate instead of the current UNIX epoch.

This is a release blocker because we do not want to support 2 syntaxes for timestamps going forward.

See discussion [here](https://chat.zulip.org/#

[2020-06-17 20:43] chdinesh1089 commented on #12599
Adding these to `/etc/hosts` makes it work.
[code]
(having `*.zulipdev.com` isn't detecting all subdomains.)

Thought we'd write code to add those in provision.py script but we don't allow provision to be run as root. Is there a better way than doing it manually to add these?

[2020-06-17 20:49] timabbott commented on #12599
We should add these to `Vagrantfile`, or actually better, to some common code that runs in Vagrant and droplets.  @hackerkid @amanagr we don't have a common "dedicated Zulip environment" setup script, but probably should, right?

Maybe we can call it `tools/setup/configure-dedicated-zulip-host`, and that can call `tools/setup/add-zulipdev-to-etc-hosts`, which we can also recommend in the test fail

[2020-06-17 20:51] timabbott commented on #12599
That new script is also what we want for:
https://github.com/zulip/zulip/pull/15381

[2020-06-17 21:00] timabbott commented on #10271
@lukasIO thanks for the report.  This is likely caused by https://github.com/zulip/zulip/issues/15428.

[2020-06-17 22:25] timabbott commented on #15420
I think @amanagr may have been confused by having been made an organization administrator on chat.zulip.org yesterday.  The setting there allows org admins to see delivery_email.

[2020-06-18 00:12] timabbott commented on #15428
The part that isn't a migration can be done via looking at `prior_mention_user_ids - mention_user_ids`, and calling `do_clear_mobile_push_notifications_for_ids` in a loop over such users.

This will either need a loop over users in that set and a bit of refactoring, at least to `do_clear_mobile_push_notifications_for_ids` to accept a `user_profile_id` rather than a `UserProfile` to avoid uselessly

[2020-06-18 00:26] timabbott commented on #15428
I think this secondary bug was fixed in https://github.com/zulip/zulip/pull/14945.

[2020-06-18 00:31] timabbott commented on #10271
@lukasIO we've dedeployed this from zulip.com for the moment to investigate #15428.  I'd like to investigate to confirm whether that issue is what you're seeing or something else.  Can you either post here your Zulip account's user ID (`page_params.user_id` in the JS console) or email support@zulipchat.com with details on the account in question?

Also, can you confirm whether the Zulip webapp sho

[2020-06-18 00:46] timabbott commented on #15428
Just to summarize the state for the category of messages that are particularly problematic here:
* They are unread -- otherwise the `active_mobile_push_notification` flag would have been cleared already.
* They at one point mentioned the user, but then were edited to not do so
* They are be in a muted stream or topic (Since this means the user can be fully caught up on their messages and still hav

[2020-06-18 01:08] #1529 closed

[2020-06-18 01:19] timabbott opened #15435 "Rename "arguments" to "parameters" in our OpenAPI docs"
We mainly use this in the section headings.

I believe that's more standard in API documentation.

@orientor @akashaviator FYI, this should be a quick and valuable improvement.

[2020-06-18 01:47] clarammdantas commented on #6027
oh, ok.
@zulipbot abandon

[2020-06-18 04:51] amanagr commented on #15420
Oh! I understand now. Sorry @vinitS101 for troubling you!

[2020-06-18 04:51] #15420 closed

[2020-06-18 04:51] Hypro999 commented on #15426
@yringler Regarding point 2, if setting up a separate stream for each project is too clunky (which I can definitely understand) then you can have each project post to the same stream and use a different topic/subject. We actually specify this in our [guide](https://chat.zulip.org/integrations/doc/jira) to setting up the Zulip-Jira Integration.

For example:
`/api/v1/external/jira?api_key=xyz&strea

[2020-06-18 05:01] SiddharthVarshney commented on #14809
@zulipbot claim

[2020-06-18 05:53] timabbott commented on #12970
@akashaviator did this get resolved and we forgot to close it?

[2020-06-18 07:02] akashaviator commented on #12970
@timabbott No, this did not get resolved. I started working on something else. We'll surely get this done soon 👍.

[2020-06-18 08:00] #14498 closed

[2020-06-18 08:57] amanagr opened #15438 "Send bulk messages to client that are not new and add handling capability to client."
As part of "Moving topic to stream", when topic (or messages) are moved between streams, we would like to send bulk messages to client in the case that the old stream messages are not stored locally. This may arise due to either the user is not subscribed to the old stream or the messages are not locally available.

These messages may not be new and could be older than the oldest message that clie

[2020-06-18 09:34] tvald commented on #14805
Also ran into this - I was using the recommended digital ocean droplet and cloned several instances from a snapshot after upgrading to master / tweaking configuration.

Adapted @zackw's recommendation above for Ubuntu, which seems to have fixed the issue:
[code]

[2020-06-18 11:04] YashRE42 commented on #15319
Closing this as it was fixed by the series of commits ending at https://github.com/zulip/zulip/commit/a0a7170f48a42500c1f0af980467592c466995a3.

[2020-06-18 11:04] #15319 closed

[2020-06-18 11:36] showell opened #15439 "sidebar: Improve keyboard navigation (list_cursor)"
Executive summary: Make sidebar popup menus reachable with mostly natural keyboard navigation.

Right now it is fairly difficult to use the left sidebar (`stream_list`) and right sidebar (`buddy_list`) without the mouse.

I will focus on the buddy list here, but the same issues apply to the left sidebar.

Right now you can use the `w` hotkey to open up the "Search people" input above the buddy lis

[2020-06-18 11:57] YashRE42 opened #15440 "Navbar description breaks with frac in latex equation"
#15009 fixed #14947, but the fact that equations such as `$$x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}$$`  would break the navbar is a known problem...

![](https://user-images.githubusercontent.com/33805964/82173371-a10d6400-98ea-11ea-9c11-10d7aa33b07e.png)

It seems unlikely that there is a simple solution either... we could have some bad JS like...
[code]
but this clearly to be looked into with a bit mor

[2020-06-18 12:36] YashRE42 opened #15441 "navbar code cleanup"
The navbar code has scope for improvement, I'm opening this issue to make sure nothing gets missed and this gets tracked properly:

- [ ] We should remove `#tab_list` from all navbar related styles
- [ ] We should depreciate the name `tab_bar` entirely and switch to a better name for `tab_bar.js` and the root level tags in the scss... I think the most recent suggestion I've seen for the name was `

[2020-06-18 12:43] Gittenburg opened #15442 "markdown: change syntax from !time(...) to <time:...>"
Suggested by @andersk [on CZO](https://chat.zulip.org/#narrow/stream/101-design/topic/time.20mentions/near/906857).

It's better to built on established syntax constructs instead of inventing our own. With Markdown you can usually format links with `<http://example.com>`, since we already support rich links for Twitter it makes sense to expand on the *rich link* metaphor.

This change should proba

[2020-06-18 13:38] yringler commented on #15426
Thank you, I didn't notice that. Updated the issue

[2020-06-18 14:15] showell commented on #15320
22bf4696f5d7931926c66a6d53d4f41bb924fe29 eliminates the jQuery trigger

I didn't handle the live update issue.

[2020-06-18 14:23] khushboogupta13 commented on #15375
hello! I am contributing for the first time to open source. Can someone please tell me where I can start on this project and what all it is about?

[2020-06-18 14:29] showell commented on #15439
Another thing we want to refine here is the behavior that happens when you navigate to a row in the stream list and then unsubscribe.  What should happen to the cursor after that?  Should we try to move it to prev/next row?

[2020-06-18 14:54] showell commented on #15350
I don't believe this should be a release blocker for 2.2.

It's an annoying bug, but it has only occurred four times since in the last ten weeks.  And it goes back to at least early 2018.

I agree with the holistic approach here of just cleaning up legacy `get_sub` calls, but that will take a bit of care to work through.

[2020-06-18 15:32] showell opened #15447 "popovers: Ensure only one emoji picker is open at a time."
We have pretty convincing circumstantial evidence (see #15348) that some users can get into two situations where they have two copies of the emoji picker popover/dialog open at the same time.

Unfortunately, I can't reproduce this at all.  So one good way for a person to contribute here is to play around with adding emojis in the compose box, toggling reactions, adding reactions via the message me

[2020-06-18 15:35] showell commented on #15348
I can't reproduce this bug, no matter how many times I click on various widgets to launch the emoji_picker popover.

Obviously, when @timabbott says "one possibility is a bug that lets us open two emoji popovers at once", that seems like the most plausible theory.

I think we should get to the root of why it seems that two emoji pickers can be open simultaneously.  I opened #15447 to track that se

[2020-06-18 16:13] timabbott commented on #15440
This is probably not a high priority bug; fundamentally, using a fraction here is a bad idea.

[2020-06-18 16:14] showell opened #15448 "popovers: Improve keyboard navigation"
When you open a popover (even with the mouse) from the left or right sidebar, we should keyboard-enable the popover by selecting the first field, which should allow for keyboard navigation.

See also #15439.

[2020-06-18 16:19] #15435 closed

[2020-06-18 16:20] timabbott commented on #15343
@hashirsarwar FYI, since you have done work on similar exceptions in the lightbox code.

[2020-06-18 16:35] YashRE42 commented on #15320
@zulipbot claim

[2020-06-18 16:44] ritikchauhan-01 commented on #15197
@zulipbot claim

[2020-06-18 16:53] aero31aero commented on #15442
These changes can be done simultaneously as well, and should involve minimal changes to the code anyway. We just need to decide on a syntax.

[2020-06-18 17:13] faraz16iqbal commented on #14807
Hi, I don't think has fixed this issue yet.
Is it still up for grabs?

[2020-06-18 17:16] Krishna-Sivakumar commented on #15029
@zulipbot claim

[2020-06-18 17:24] YashRE42 commented on #15440
Yeah. I just wanted to put this up as a known thing.

[2020-06-18 18:15] hackerkid opened #15450 "Wrong message generated when clicking add button on an empty stream membership form"
- Goto http://localhost:9991/#streams/7/announce

- Click on Add button.

- It generates wrong message.

![Screenshot from 2020-06-18 23-42-47](https://user-images.githubusercontent.com/7190633/85056869-941bb300-b1bd-11ea-8b5e-39966cc767ec.png)

The message should be "No user selected" or something similar.

[2020-06-18 19:49] #15103 closed

[2020-06-18 20:04] aero31aero opened #15453 "settings: Fix race condition in getting users' last active time."
We recently removed an API call for fetching user list for Settings>Users/Deactivated panels, which revealed a race condition where we could have rendered the table before last active information is received by the frontend.

This is a blocker for 2.2 release, and is likely a 1 line fix. We need to call `list_render.render_item()` for the table when we get the presence data from the server to rere

[2020-06-18 20:18] #15348 closed

[2020-06-18 21:11] timabbott commented on #15442
I'm a little skeptical of this change concept, mainly from thinking about the spoiler syntax; I wouldn't want to ask folks to do `<

Another direction we could go is `@**time:isotime**`; that would be consistent with all of our existing mentions.

[2020-06-18 21:15] #15431 closed

[2020-06-18 21:19] andersk commented on #15442
I don’t see any world in which this is related to spoiler syntax. Spoilers are blocks and contain markdown for human consumption. Times are inline and contain a specific machine-parsed format.

[2020-06-18 23:21] timabbott opened #15459 "Try using mypy-boto3-s3 to import type-checking of uplodas.py"
This project may support doing type-checking of our S3 interactions in uploads.py. https://pypi.org/project/mypy-boto3-s3/

We don't have a ton of code dealing with the interface, so it may not be worth a lot of trouble.

[2020-06-19 00:23] #10542 closed

[2020-06-19 00:55] #14484 closed

[2020-06-19 00:56] timabbott commented on #14059
@hvisage are you up for testing the implementation in Zulip master?  We've resolved #14484 but I don't know if boto3 has details like `OrdinaryCallingFormat` changed.

[2020-06-19 01:08] timabbott commented on #15442
Yeah, that's fair.

I think the other big question is whether we want the typeahead PR: https://github.com/zulip/zulip/pull/15052 as well as a button, or just one or the other.

[2020-06-19 03:19] #14807 closed

[2020-06-19 03:20] timabbott commented on #15450
@sahil839 FYI.

[2020-06-19 03:51] kfogel commented on #4249
This issue is closed, but for those who may still stumble across it I'm adding this breadcrumb message:

Related issue #10216 (also closed now) suggests the search https://github.com/zulip/zulip/issues?q=is%3Aopen+is%3Aissue+label%3A%22area%3A+compose%22 as a good way to find open issues on or adjacent to this topic.

[2020-06-19 04:02] Hypro999 commented on #15391
@zulipbot abandon (since `andersk` has taken over now).

[2020-06-19 04:35] hevisko commented on #14059
Will make a plan an spin up an instance to test during the weekend

[2020-06-19 04:48] #15287 closed

[2020-06-19 05:06] timabbott commented on #15391
Removing the blocker tab since this is fixed in production.

[2020-06-19 05:13] clarammdantas commented on #15223
@zulipbot claim

[2020-06-19 06:37] timabbott opened #15463 "Exception when clicking on "Change full name" widget in "Your account" repeatedly"
We've seen this exception in production, and I was able to reproduce it by just clicking on the button to change one's full name in "Your account" that opens the modal repeatedly really fast.

The bug is actually problematic, in that once one had triggered it, the modals no longer work: clicking on the "Change email" button throws this exception without opening.

[code]

This probably does suggest

[2020-06-19 06:48] timabbott commented on #14805
https://github.com/zulip/zulip/pull/15462 should fix this; I expect we'll backport it to the 2.1.x series when it's merged.  (Though 2.2 should be out within 2 weeks)

[2020-06-19 07:03] Gittenburg commented on #15442
We definitely want typeahead because it's very convenient, especially if we also trigger it when entering something that looks like a date e.g. `2020-` (we would need to take care to directly jump to the entered year/month/day in the datetime picker).

A button would also be a good idea to make the feature more discoverable, since users unaware of it usually won't communicate dates in a form for w

[2020-06-19 09:54] teatwig commented on #12738
What about making this toggleable in the display settings?
That way users who prefer wrapped lines (and thus possibly having output that might be harder to read) can opt in to activate it.

[2020-06-19 15:34] nikomatsakis opened #15465 "feature request: API to modify membership of user groups, streams"
Hello! On the rust project, we manage membership in our various teams and so forth via a central repository, so that commits to add members automatically adjust membership in the appropriate github teams and the like. I would like to have commits in that repository adjust membership of user groups or associated streams (especially private ones), but I've been told that there is no API for those ki

[2020-06-19 15:36] nikomatsakis opened #15466 "feature request: public user groups"
As far as I know, user group membership can be adjusted by any other membership, but there isn't a way to make a "public" user-group that people can add themselves to on their own. In the rust-lang Zulip repo, we have several groups where it would be convenient for them to be self-managed in this way (for example, we have a group of "people who want to be notified when a meeting is happening").

[2020-06-19 16:54] pdlazar commented on #15410
I'm new to open source and I'm looking to help on easy issues. Would this be one?
Thanks,

[2020-06-19 16:55] pdlazar commented on #15410
Sorry, found the section

[2020-06-19 17:07] #15347 closed

[2020-06-19 17:38] ritikchauhan-01 commented on #15453
![Screenshot from 2020-06-19 23-06-06](https://user-images.githubusercontent.com/56171689/85164206-a5c68e80-b281-11ea-8c88-02fdb433528a.png)
hey is it the  unknown written in the zoe line  does we have to print the time

[2020-06-19 17:42] ritikchauhan-01 commented on #15453
does we have to print the last time he is active

[2020-06-19 19:49] timabbott commented on #14629
@ayushin I believe this is resolved in master through the addition of `operationId` entries about a month ago.  Let us know if you seen other issues with the openapi-generator output.

[2020-06-19 19:49] #14629 closed

[2020-06-19 20:08] #15453 closed

[2020-06-19 22:03] fabrizzioalco commented on #15463
Is this issue closed?

[2020-06-19 22:57] timabbott commented on #15463
No, the changes in #15471 were to a different code path; I just linked it because the bugs might be the a similar mistake in additional places.

(Though probably they are not)

[2020-06-19 23:45] timabbott commented on #15466
Yeah, that's correct.  More generally, we probably need a whole set of options for how membership in user groups are managed.

You can use recommended "Alert words" as a workaround for that sort of use case in the meantime.

[2020-06-19 23:59] timabbott commented on #15465
Howdy @nikomatsakis!

Doing streams is possible with: https://zulipchat.com/api/subscribe and https://zulipchat.com/api/unsubscribe (see the second examples involving "principals"), with the complications that:
* You need to make sure the bot is subscribed to the relevant streams so that it has permissions to add users to them (our security model doesn't allow administrators to add users to privat

[2020-06-20 02:29] cyphase commented on #15466
This is #14588.

[2020-06-20 07:13] Gittenburg opened #15480 "Search pills are misaligned on Firefox"
With the latest Firefox 77.0.1.

![zulip_broken_pills](https://user-images.githubusercontent.com/47354597/85195826-f7990400-b2d5-11ea-8eca-545327eacf26.gif)

[2020-06-20 08:55] lokesh576 commented on #15375
@khushboogupta13 You can go through  [Contributing guidelines](https://github.com/zulip/zulip/blob/master/CONTRIBUTING.md) and to get help or chat with zulip community check out [zulip community](https://chat.zulip.org).

[2020-06-20 10:42] RalfJung opened #15482 "Recent topics: confusing filters"
I started playing with the recently added "recent topics" feature (someone had to tell me it's rolled out as that new tiny button is not really noticeable). It's a great feature, thanks. :) However, I find the "filter" behavior rather confusing.

There are three checkboxes to restrict which topics are shown, and my expectation was that the list wlll either be the union or the intersection of what

[2020-06-20 11:31] xerus2000 commented on #12325
Yes, I again and again type underscores in my messages, and after sending them realize they are not formatted correctly :/

[2020-06-20 13:05] rgrunbla commented on #10552
Hi there, just to say I agree with @Gittenburg overall, groupping streams would be really nice (this comment is also a disguised way to ping @timabbott about his comment :p ).

[2020-06-20 15:27] Gittenburg commented on #10552
Hi Rémy, Tim is currently quite busy because of the upcoming release. I already chatted with him and will probably start working on this mid July.

[2020-06-20 16:22] Gittenburg opened #15487 "No hover effect in emoji picker while filtering"
If you search for some emoji in the picker and then hover over the results, there is no hover effect at all and the description of the hovered emoji is not shown at the bottom (like it is when not filtering).

This is a regression bug caused by #15451.

![Peek-2020-06-20-21-44](https://user-images.githubusercontent.com/47354597/85206500-db6f8400-b322-11ea-93fe-2187f53bbb5b.gif)

[CZO discussion](h

[2020-06-20 21:04] sahil839 commented on #15350
I am not clearly understanding what this means. Do we want to remove the code and do not check whether the stream with same name exists or not?

[2020-06-20 21:50] #15480 closed

[2020-06-20 22:24] aero31aero opened #15493 "Organisation logo preview shows organisation profile picture."
![image](https://user-images.githubusercontent.com/8033238/85212686-d89c7f80-b372-11ea-80cb-ef0853c9dddc.png)

This looks like its related to the recent migration to image upload widget in #15333.

See https://chat.zulip.org/#narrow/stream/9-issues/topic/organization.20icon.20shown.20in.20place.20of.20logo for discussion.

[2020-06-20 23:21] #15493 closed

[2020-06-20 23:26] #15405 closed

[2020-06-20 23:40] timabbott commented on #15350
The point here is to migrate away from using `get_sub`, which does lookups by name, in code interacting with the server's API (which has largely been converted to use stream IDs everywhere).

That's likely to fix this bug; but the migration's other benefits are more important than whether it'll fix this specific exception, which as Steve says isn't super important.

[2020-06-20 23:47] sahil839 commented on #15350
Yeah I understood the main point here.

Sorry, I misunderstood the part of the code, but reading the code again clears my doubt. Thanks.

[2020-06-20 23:54] #15167 closed

[2020-06-21 00:13] timabbott opened #15495 "Improve documentation for message retention policies"
We document the non-UI details in `templates/zerver/help/message-retention-policy.md`, but we should add our usual howto documentation blocks for how to access and change these settings.

[2020-06-21 00:54] #14809 closed

[2020-06-21 00:55] #15450 closed

[2020-06-21 02:00] timabbott opened #15496 "Convert remaining JavaScript examples to use the tested system"
@akashaviator this should probably be your top priority.  Now that we a system for writing actually tested JavaScript examples, we should migrate all of the endpoints that have untested JavaScript examples to use the tested system.

[code]

[2020-06-21 02:23] timabbott opened #15497 "Erroneous "Your message is outside your current narrow" notices"
I ran into another instance where we displayed the "Sent! Your message is outside your current narrow." error message erroneously.

After some debugging, I figured out the recipe for what happend:
* Send a message to a new topic, but have the server be slow to response (E.g. because you added a `time.sleep(5)` in the send_message_backend function to help reproduce this).
* See the message locally

[2020-06-21 03:49] timabbott commented on #14169
So, after reflecting on this issue some more, here's how I think it should work.  Fundamentally, the reason we disable marking messages as read in `near:` narrows is because you might click a link from the issue tracker to a thread you haven't read, and we don't want to have that lose your state if it's 100 messages past where you're caught up to.  The right trigger for enabling marking messages a

[2020-06-21 04:40] Dylnuge opened #15500 "Draft/Preview view of Spoilers does not display client-side rendered content"
@opheliasdaisies @timabbott

Looks like the change to make the dropdown button and default header client-side means that previews don't work quite right anymore. They don't show the dropdown arrow at all (meaning you can't preview the content inside a spoiler) and don't show the "Spoiler" default header if the header is left blank.

I'm not sure if other features that use the client-side rendered_

[2020-06-21 05:16] Arun-42 commented on #15487
@zulipbot claim

[2020-06-21 05:26] timabbott opened #15501 "Mobile web: Long topics overlap the date stamp area in floating recipient bar"
I noticed this thanks to the development environment having long generated topics and messages across a range of dates.  If you're looking at messages from a past day in the mobile web UI, with a log topic, the topic ends up overlapping the date marker:

![image](https://user-images.githubusercontent.com/2746074/85216464-97d44480-b339-11ea-8f9b-67245c3ad4d7.png)

We should instead be cutting off t

[2020-06-21 06:16] SiddharthVarshney commented on #15222
Working on this!

[2020-06-21 06:17] sahil9001 commented on #15222
@SiddharthVarshney I've already made a PR regarding the issue

[2020-06-21 06:26] cyphase commented on #15482
34e62f06f464de6aad236bc5ebdfd94569abd617 changes "Muted" to say "Include muted".

[2020-06-21 06:44] timabbott commented on #15500
I suspect we just need to call the `rendered_markdown.js` logic when rendering previews.

[2020-06-21 07:17] timabbott commented on #15500
Opened a pull request for this, as the solution is simple enough aside from working out the tests.

Thanks for the report @Dylnuge!  I think changing the syntax to `<details>` should be your top priority, followed by working on the email/push notifications logic.

[2020-06-21 07:27] timabbott commented on #15482
@RalfJung glad to hear you like it!  It's super beta at this point, which is why it's somewhat it hard to find for now; we'd like to get more of the kinks out before encouraging a lot of use :).

This is resolved as @cyphase mentioned, but we'd love any further feedback.  :)

While I have you here, do you think it'd be reasonable for it to be "Recent topics" as a normal sidebar menu item under "St

[2020-06-21 07:27] #15482 closed

[2020-06-21 08:00] RalfJung commented on #15482
Yes! That's where I expected it to pop up, actually. So when I didn't see it there, I figured it was not deployed yet.

[2020-06-21 08:01] RalfJung commented on #15482
That's better. :)

I still feel like this should be grouped with "all" though, and separated from the other two checkboxes, to clearly indicate that they serve a different purpose. But again, that's my gut feeling as a user with no UI development background.

[2020-06-21 08:05] amanagr commented on #15482
@RalfJung Thanks for your feedback, moving "include muted" beside "ALL" will also save a keypress to activate "participated" and "unread" filters.

[2020-06-21 08:09] #14451 closed

[2020-06-21 15:01] MR-ILYAS08 opened #15509 "pylibmc.SomeErrors: error 19 from flush_all: (0xf6e200) AUTHENTICATION FAILURE"
When i want to install Zulip in ubuntu 18.0.4
i get :
`Traceback (most recent call last):
  File "/home/ubuntu/zulip-server-2.1.6/scripts/setup/flush-memcached", line 18, in <module>
    behaviors=settings.CACHES["default"]["OPTIONS"]  # type: ignore # settings not typed properly
pylibmc.SomeErrors: error 19 from flush_all: (0xf6e200) AUTHENTICATION FAILURE,  host: 127.0.0.1:11211 -> libmemcached/

[2020-06-21 16:37] Gittenburg opened #15511 "Scrolling to the end of recent topics is bugged"
With **Firefox**: (Notice how the last entry is cut off and the scroll bar goes further down than it should)

![scroll_bug](https://user-images.githubusercontent.com/47354597/85229904-decf4200-b3ec-11ea-8d6b-c9a4212468a4.gif)

With **Chromium** (Notice how the knob of the scroll bar goes further down than it should)

![scroll_bug_chromium](https://user-images.githubusercontent.com/47354597/8523009

[2020-06-21 16:39] #14960 closed

[2020-06-21 16:51] Gittenburg opened #15512 "Searching in the recent topics view should also yield old topics"
Currently it only finds recent topics and topics that you have viewed (and are saved in localStorage). Not only would being able to search for any topic in that view be convenient, it would also get rid of confusion caused by the search yielding different results on different devices (due to the localStorage history).

[2020-06-21 16:57] #15185 closed

[2020-06-21 17:06] Gittenburg commented on #15511
@zulipbot label "bug"

[2020-06-21 17:26] #6186 closed

[2020-06-21 17:34] strifel commented on #14763
@zulipbot Still working on linked PR

[2020-06-21 17:52] akashaviator commented on #15496
@zulipbot claim

[2020-06-21 18:04] thedeveloperr commented on #1587
@timabbott what should we do if we a spammy output while verification ? Should we raise some kind of error ?

[2020-06-21 19:36] jcharaoui opened #15517 "Untranslated string in settings dialog"
I noticed that the translatable string at the following line does not, in fact, appear as such in the web user interface.

https://github.com/zulip/zulip/blob/master/static/templates/settings/bot_settings.hbs#L5

Probably a quick fix?

[2020-06-21 19:40] jcharaoui commented on #15517
It appears this is because Transifex data is outdated.

[2020-06-21 19:40] #15517 closed

[2020-06-21 19:53] jdherg opened #15518 "Twitter preview embeds show outside of spoiler blocks"
When a tweet is linked to inside of a spoiler block, the embedded preview for the tweet shows up outside of the spoiler block (at the end of the post as is typical for non-spoilered links to tweets). The preview should probably show up inside of the spoiler block (perhaps at the end of the inside of the block, if there are concerns about tweet previews breaking the flow of a post).

(Previews for

[2020-06-22 11:03] #15487 closed

[2020-06-22 13:48] osamasarwar38 commented on #15463
@zulipbot claim

[2020-06-22 14:32] nikomatsakis commented on #15466
OK, closing as duplicate of #14588. Also, thanks for the suggestion about alert words.

[2020-06-22 14:32] #15466 closed

[2020-06-22 19:20] #15511 closed

[2020-06-22 19:26] timabbott commented on #1587
Yes, that's the plan, though of course 95% of the work here is going to be clearing the existing spammy output.

[2020-06-22 19:52] thedeveloperr commented on #1587
@zulipbot claim

[2020-06-22 20:50] timabbott commented on #15518
I agree.  This may be somewhat messy to change because of how tweets are rendered in a post-processing step; I'm not sure.  Ideally we'd just append then as the last element of the parent spoiler block (if any).

@Dylnuge @opheliasdaisies FYI.

[2020-06-22 20:53] timabbott commented on #15512
I'm not sure how easy it will be to add a custom backend-powered search for this.

One other idea we've been thinking about is a "load more" button that could live at the bottom of the view.

[2020-06-22 21:07] Dylnuge commented on #15518
If anyone else takes this on, @timabbott's comment on the PR might be useful: https://github.com/zulip/zulip/pull/15281#discussion_r437864539

[2020-06-22 22:07] timabbott commented on #15512
I think there's also a question as to whether the right approach for this should involve sending a special data set for "recent topics" from the server with much deeper history.

[2020-06-22 23:19] #14763 closed

[2020-06-23 00:47] timabbott commented on #6866
@hackerkid is there any further work to do here?  I'd like to be able to advertise in this release that we've translated all strings for translation.

[2020-06-23 00:47] timabbott commented on #5543
I can confirm this was fixed, closing.

[2020-06-23 00:47] #5543 closed

[2020-06-23 06:00] amanagr commented on #15428
No.

[2020-06-23 08:30] debalance commented on #9957
That feature is already available. In settings.py you can do this:
[code]

But I am still missing the possibility to map LDAP groups to user groups in Zulip.

[2020-06-23 21:13] timabbott commented on #14805
Closing this as #15462 is merged to both 2.1.x and master; I'm not sure if we'll end up releasing another 2.1.x or just do the next major release.

[2020-06-23 21:13] #14805 closed

[2020-06-23 22:23] #14770 closed

[2020-06-23 22:46] #15497 closed

[2020-06-24 00:28] #10026 closed

[2020-06-24 00:44] timabbott opened #15541 "Handle restart events in apply_events"
We can't handle this event type in the most natural way, because what it means is that the data we've fetched thus far should be discarded.  We've seen this error twice ever, so it's pretty unimportant, but it's annoying to have any 500s in the codebase, so I'm opening an issue.

[code]

To fix this, I believe what we want to do is just restart the `do_events_register` call.  We don't have a great

[2020-06-24 12:44] showell commented on #15496
Just providing a convenience link for the main file to change here (in case somebody wants to help out @akashaviator here): https://github.com/zulip/zulip/blob/master/zerver/openapi/javascript_examples.js

[2020-06-24 12:49] showell commented on #15427
@andersk @timabbott Bumping this, just in case any of the recent changes have addressed this (or in case we should do it now while we're focused on this code).

[2020-06-24 15:20] hackerkid opened #15552 "Clean up the incorrect details on how to use PUT/POST in our docs"
Our docs on when to use PUT/POST are incorrect/outdated. The docs were written at a time we used to have our own convention on when to use PUT/POST. We have since moved from that to a more standard convention. See https://github.com/zulip/zulip/issues/2431 for the PR that did the convention change. See http://restcookbook.com/HTTP%20Methods/put-vs-post/ for more details on the difference between P

[2020-06-24 19:12] nathanwhit opened #15554 "Code blocks are not very readable in night mode"
When using the night mode color scheme on the desktop client, I find that code blocks are very hard to read. The background of the code block is rendered in white, but the foreground behind the text is dark and has poor contrast with the code. The resulting view is sort of jarring and difficult to read. As an example:
<img width="354" alt="Screen Shot 2020-06-24 at 3 04 46 PM" src="https://user-im

[2020-06-24 19:26] timabbott commented on #15554
@nathanwhit thanks for the report!  That is certainly not expected nor how they appear if you manually select night mode -- but I can reproduce this with the new "automatic night theme" feature.  We're investigating.

[2020-06-24 19:35] #15554 closed

[2020-06-24 19:58] pnkfelix opened #15557 ""automatic" color scheme differs from night and day, and has illegible code blocks for PopOS "Dark" appearance"
I was using Zulip in browser on my new PopOS linux host

And the code blocks from my colleagues were illegible.

Example:

![Screenshot from 2020-06-24 15-51-24](https://user-images.githubusercontent.com/173127/85621375-38c14900-b633-11ea-942d-a3294a8a03b0.png)

At first I thought this was a bug in your night mode, since your Day mode is totally legible, as shown here:

![Screenshot from 2020-06-2

[2020-06-24 20:16] timabbott commented on #15557
Yeah, there was a bug with code blocks specifically and the automatic theme; fixed in 148f74d3a7c2d2d21727587f6163ccd8087ebad8.  Should be in production soon.  Thanks for the report!

[2020-06-24 20:16] #15557 closed

[2020-06-25 00:03] Gittenburg opened #15558 "UX issues with organization owners"
* **important**: When editing / creating streams admins can select a message retention even though they should not be able to. When they attempt to create a new stream they get the error "User cannot create stream with this setting" which isn't helpful. When attempting to update a stream they don't get **any** error but a Try Again button (this form obviously doesn't have proper error handling imp

[2020-06-25 00:10] timabbott commented on #15558
@sahil839 FYI, can you work on these?

I'm not sure what we should do with the "Deactivate organization" button change; we potentially want to make clear to an administrator that this is the place to deactivate the organization.

[2020-06-25 00:32] timabbott commented on #15557
The fix is in production now; let us know if you're still seeing issues, and thanks again for the report!

[2020-06-25 00:32] timabbott commented on #15554
The fix is in production now; let us know if you're still seeing issues, and thanks again for the report!

[2020-06-25 04:37] andersk commented on #6507
Another library that’s popped up since then is [orjson](https://github.com/ijl/orjson). Pros:

* Written in Rust.
* Apparently benchmarks way faster than either `ujson` or `rapidjson`.
* Natively serializes `dataclass` instances and `datetime`. (Does not deserialize them, that requires a schema.)
* Has been making regular releases since late 2018.

Cons:

* `dumps` returns `bytes` rather than `str

[2020-06-25 04:41] sahil839 commented on #15558
@zulipbot claim

[2020-06-25 04:49] andersk commented on #6507
Also I have some hope that whatever Unicode bug led to #6332 may have been fixed by #15230.

[2020-06-25 10:57] shubhamdhama commented on #15463
We did some discussion on this issue, I think if we resolve this comment, https://github.com/zulip/zulip/pull/15445#issuecomment-646695164

this issue should get fixed.

[2020-06-25 16:54] sahil839 commented on #15558
I am thinking of hiding the message retention days in stream creation form for non-owners.
And we can disable it in the permssion modal if we want to show the admins what is the current policy for stream. (though we show in the `subscription_type` text below description in most of the cases except when both realm-level and stream settings is forever)

And regarding deactivate organization button,

[2020-06-25 17:04] Gittenburg commented on #15558
My point is that a disabled button doesn't convey any information and might confuse admins. It is not obvious that you need to hover over the `i` icon. I therefore think it would be better to directly show the message from the i icon instead of the button and replace the `i` icon with a link to the documentation.

[2020-06-25 18:08] #13737 closed

[2020-06-25 20:49] gnprice commented on #6507
Those pros and cons sound very promising!

The choice to have `dumps` return `bytes` rather than `str` sounds more correct to me; and I'd expect that most often when we call `dumps` we're going to encode the result pretty promptly as bytes anyway, so we'll just get to cut that step out if moving to orjson. (And if there are cases where we do need `str` and so have to add a `decode`, it sounds like

[2020-06-25 21:42] #14705 closed

[2020-06-25 21:46] #12056 closed

[2020-06-25 22:03] timabbott commented on #6507
Wow, yeah, this is exciting.  I would guess that JSON dumping is >25% of all CPU work in Zulip's most CPU-intensive endpoints, so getting a much faster JSON processor in addition to a better maintenance situation is a big deal.

[2020-06-25 23:16] andersk commented on #12056
This was only partially fixed. The other part is Python-Markdown/markdown#990.

[2020-06-26 11:56] riibeirogabriel commented on #15384
@zulipbot claim

[2020-06-26 15:16] athultr1997 commented on #15410
@zulipbot claim

[2020-06-26 16:36] riibeirogabriel commented on #15384
@zulipbot abandon

[2020-06-26 16:57] Tlazypanda commented on #11584
Hey @YashRE42 I totally missed this one! I will try to visit this in a couple of days :sweat_smile:

[2020-06-26 17:00] oli-obk opened #15586 "Rename "Full Name" display to something less suggestive"
The fact that the field is labelled "Full Name" suggests that one *has* to enter one's real name. While this is true on some (especially company) servers, in open source nicknames and user names are more common.

Some suggestions for alternatives:

* Username (probably not good for commercial servers)
* Preferred Name (my preferred solution, no pun intended)
* Name (short, ambiguous)
* View Name
*

[2020-06-26 17:01] Tlazypanda commented on #11584
@zulipbot abandon

[2020-06-26 18:45] #15428 closed

[2020-06-26 19:03] timabbott commented on #15586
@oli-obk thanks for bringing this up!  I agree with the concern that a user could think we're asking for their legal name for some secondary purpose that won't be displayed to other users, though of course the fact that it's the only name we ask for would suggest that's unlikely to someone thinking hard about that question.

I do think we want to encourage folks to choose "Tim Abbott", not "Tim",

[2020-06-26 19:06] timabbott commented on #15384
@riibeirogabriel were you interested in working on this?

@orientor FYI in any case.

[2020-06-26 19:26] riibeirogabriel commented on #15384
@timabbott yes, but i have a problem with environment setup in windows.

[2020-06-26 22:58] jmandel opened #15592 ""General" bot type should support outgoing webhooks"
I'd like to create a bot backed by cloud functions, and I'm running into a few issues.  My goal is to 1) receive messages when the bot is mentioned, and 2) kick off short-lived jobs that will send a few messages back to the thread over time. The messages also include images.

I'm running into some limitations:

1. Any bot that receives outgoing webhooks has no way to upload images
2. A "general" b

[2020-06-26 23:17] #15415 closed

[2020-06-26 23:24] timabbott commented on #14982
Following https://github.com/zulip/zulip/pull/15591, we can add this as a thing to run after upgrading postgres.

[2020-06-26 23:38] timabbott commented on #13738
Closing since @alexmv just made and tested a tool for doing the tricky postgres part of this upgrade that was all the remained of #15591.

[2020-06-26 23:38] #13738 closed

[2020-06-27 00:53] timabbott commented on #15592
You actually can do this -- you just need to use the normal API bindings rather than the special HTTP response functions.  The API keys for an outgoing webhook bot can do similar things to a generic bot.

I agree the outgoing webhooks situation doesn't super make sense and needs some rethinking, but probably we could close out this issue by documenting clearly how this works.

[2020-06-27 03:46] jmandel commented on #15592
Wait, are you saying it's possible to receive an outgoing webhook, respond synchronously, and then a few seconds after that response, also submit a follow-up inbound message (which includes an image) all with one registered bot? I couldn't make this work (I got an unauthorized error, or thought I did -- will double check.)

[2020-06-27 06:44] b-thebest commented on #4891
Hello, I want to work on this issue, Could you assign me the task

[2020-06-27 06:46] b-thebest commented on #3938
Hello, Can I start working on this issue ?

[2020-06-27 08:01] hmr-it-jr opened #15600 "Add support for Ubuntu 20.04 Focal Fossa"
Currently it's not possible to install Zulip with the latest stable version on a Ubuntu 20.04 "Focal Fossa".

[code]

I see (here: https://zulip.readthedocs.io/en/latest/production/requirements.html ) that the latest but not stable version has support for Ubuntu 20.04 - when you are planning to release a stable version with support.

[2020-06-27 17:54] jmandel commented on #15592
Ahh -- having tried again (with confidence that it *should* work), I'm able to use my outgoing webhook bot to perform regular REST API operations. (I must have been mis-setting the API key before.)

[2020-06-27 17:54] #15592 closed

[2020-06-27 18:27] vineetb95 commented on #15375
@timabbott where would I find the markdown processor? From what I understand, you want to use the markdown processor to render the raw HTML, instead of specifying it manually.

[2020-06-27 18:39] YashRE42 opened #15608 "Redesign keyboard shortcuts help modal"
Here's what the keyboard shortcuts modal looks like. If you squint from afar, it might look okay, but the experience feels a little ugly.
It's particularly hard to scan through the list to find the shortcut which helps achieve a particular task, because the starting point of the descriptors sentences varies a lot.
![image](https://user-images.githubusercontent.com/33805964/85929436-77286380-b8d2-1

[2020-06-27 18:55] showell commented on #15608
Whether or not we switch columns here, it would be nice if the text for things like "Search streams" and "Search people" were both left-aligned and **sorted** within category.

[2020-06-28 20:33] #15135 closed

[2020-06-28 21:00] #14380 closed

[2020-06-28 21:03] timabbott commented on #14380
This was mostly resolved in #15607, but I think there's valuable follow-up work to do here.

On the validators side, ideally, we'd be able to change how `message_to` is encoded to avoid having something that might be JSON or a string and handle its encoding and validation via `REQ` so that `test_openapi` can validate it properly.

[2020-06-28 21:08] timabbott commented on #14380
With this logging patch:
[code]

we can see that there are only a handful of parameters where this logic is active:

[code]

And I think on `send_message_backend` would not pass if we deleted `json_params`, so I think we can clean up the validation hack added as part of resolving this if we just fix `to` in `send_message_backend` to have its type correctly expressed.

[2020-06-28 21:28] timabbott commented on #15600
This is available in master today and will be in the 3.0 release in less than 2 weeks.  You will be able to run `3.0-rc` tomorrow or so, or you could run more or less exactly that code by just cloning master and installing (we document how to do that on the main installation page).

[2020-06-28 21:28] #15600 closed

[2020-06-28 21:52] YashRE42 commented on #15320
Zulip bot, whaaaat?

[2020-06-28 21:54] timabbott commented on #15375
`static/js/markdown.js`; see also https://zulip.readthedocs.io/en/latest/subsystems/markdown.html.  We can use the frontend processor for this.

[2020-06-29 12:32] riibeirogabriel commented on #15384
@zulipbot claim

[2020-06-29 13:39] riibeirogabriel commented on #15384
@zulipbot abandon

[2020-06-29 15:01] kkarhan commented on #10533
Q: Any estimat eon when this is available?

[2020-06-29 20:25] timabbott commented on #10271
Awesome, thanks!

[2020-06-30 03:49] agupta01 commented on #15331
@zulipbot abandon

[2020-06-30 21:41] heptonion commented on #3542
I just wanted to second the request, since I really despise having URL previews attached to the messages I write. Previews can break up the visual flow, can be distracting, and when the links are parenthetical or relatively unimportant, the relatively large area they take up communicates a very false sense of what is and isn't important in a message. I don't mind them so much, though, in other peo

[2020-06-30 23:52] aero31aero commented on #12056
Upstream PR has been merged. We just need to wait for a release now.

[2020-06-30 23:52] #15222 closed

[2020-06-30 23:54] timabbott commented on #15509
I believe this was fixed in the 2.1.7 release.

[2020-06-30 23:54] #15509 closed

[2020-06-30 23:55] timabbott commented on #14456
@stratosgear try upgrading to 2.1.7 -- we fixed a bug where memcached authentication would be potentially broken when the server's hostname changes, which I can imagine happens a lot in a Docker deployment.

[2020-06-30 23:59] timabbott commented on #14593
We changed the default number of processes used for data import to scale with the number of CPUs, which likely resolves the memcached issue seen here.  See #14960.

We saw with another issue that this could cause an OOM kill during the data import tool, which could result in secondary exceptions like you described.  So I'm closing this for now, though I'd really appreciate it if you can retest you

[2020-06-30 23:59] #14593 closed

[2020-07-01 00:00] timabbott commented on #13806
Closing due to lack of feedback from the user.

[2020-07-01 00:00] #13806 closed

[2020-07-01 08:05] hackerkid commented on #4891
@b-thebest You can claim the issue by commenting

[code]

[2020-07-01 11:28] vinitS101 opened #15632 "Add js tooltips to emojis and add cutom tag to cutom emojis"
Creating an issue in reference to the conversation on [CZO](https://chat.zulip.org/#narrow/stream/6-frontend/topic/custom-emoji-hover/near/918706).

Tasks:

- [ ] - Replace HTML titles with JS tooltips for the emojis
- [ ] - Add custom tags to custom emojis so that it is easier to identify.

[2020-07-01 15:06] kmpaul commented on #14593
Thanks, @timabbott.  I appreciate it.  I just wasn't able to get time to diagnose the issue and attempt a fix.  I appreciate the feedback.

[2020-07-01 18:06] b-thebest commented on #4891
@zulipbot claim

[2020-07-01 18:30] varkor opened #15634 "Allow two streams to be merged"
On occasion, two people have created separate streams regarding the same topic, and we wish to merge them. However, there doesn't seem to be any function for doing so. Perhaps if a stream name is changed to an existing stream name, the user can be asked if the two streams should really be merged?

[2020-07-01 18:36] varkor opened #15635 "Make it easier to mass-subscribe users to existing streams"
When creating a new stream, it is easy to add everyone, with a list of all users and Check/Uncheck buttons. However, the UI for editing membership of existing streams is different, and there seems to be no easy way to subscribe many users to existing streams. This could be mitigated by stream merging (https://github.com/zulip/zulip/issues/15634), but both features seem useful.

(I expect this to a

[2020-07-01 19:08] timabbott commented on #15634
@varkor thanks for the feedback.  Previously we didn't have a mechanism for moving content from one stream to another correctly, but now we do, so this is at least something we could do.

Can you talk more about what you want to happen precisely here, and what the use case is?  There's a lot of decisions that would need to be made around "what to do if the streams have different subscribers".  The

[2020-07-01 19:14] sahil839 opened #15637 "Cannot scroll through complete list of subscribers for a stream with large number of subscribers."
There is a bug while scrolling in the list of subscribers shown in stream settings modal. After scrolling till the bottom initial rendered list of subscribers (which is probably of 80 subscribers), we can not scroll down further and cannot see other subscribers.

Ideally subscribers should be added to the list as we scroll down.

Related discussions [here](https://chat.zulip.org/#narrow/stream/9-i

[2020-07-01 19:14] timabbott commented on #15635
This is planned.  We completed the first part of our multi-part plan here, namely migrating the "Add subscribers" option to pills rather than strings; which should allow us to add pills for streams or user groups as well if one wants to add everyone from one of those to another stream.

(In the meantime, this is easy to do with the Zulip API: https://zulipcore.zulipchat.com/api/subscribe).

I'm su

[2020-07-01 19:27] ryanreh99 commented on #15635
There is #15186 which would subscribe all members of another stream.
But as mentioned in a comment below, there maybe a case where we would have to subscriber then and un-scubscribe unwanted users.

[2020-07-01 19:52] timabbott commented on #15635
Yeah, closing this as a duplicate of #15186.

[2020-07-01 19:52] #15635 closed

[2020-07-01 22:16] timabbott commented on #15416
@opheliasdaisies just wanted to check in -- is this something you're planning on fixing?

[2020-07-01 22:40] #15414 closed

[2020-07-01 22:43] timabbott commented on #15403
We changed the default Zulip request timeout from 20s to 60s, which reduces the pressure on this issue.

[2020-07-01 22:44] timabbott commented on #15310
@vinitS101 @Gittenburg any idea what the bug is here?

[2020-07-01 22:45] timabbott commented on #15311
@SiddharthVarshney @Jagansivam28  any news on this?  We should probably do a broader audit of our modals in German for similar bugs; they're likely all pretty shallow.

[2020-07-01 22:46] timabbott commented on #15346
@ryanreh99 this might be a bug you're well-equipped to track down given your recent work on new message arrivals :)

[2020-07-01 22:47] timabbott commented on #15350
@sahil839 just a reminder that this migration work is well worth doing :)

[2020-07-01 22:48] timabbott commented on #15351
@ryanreh99 this might also be worth your working on.  Let me know if you need any braindumping on how to get to these states (for this one, I think you can go offline while a message is sending in developer tools, or I think make the server throw an exception in `message_send.py`); there's a handful of issues around local echo and error handling that it'd be really nice to clear out.

[2020-07-01 22:57] timabbott commented on #15518
I think fixing this correctly involves changing the logic around `handle_image_inlining` to set the root element for where we add image previews to be the end of the spoiler tag, not the top element.  I haven't read the code closely enough to say how complex that will be.

[2020-07-01 23:18] timabbott commented on #14504
I think it is possible I misdiagnosed this issue; the traceback here was fixed in our test suite via 0c48c759200a95a37ecdc0c94a5e5e2c5528a339, and it's possible that was actually what was going on here.

[2020-07-01 23:25] gnprice commented on #14504
As we realized at https://github.com/zulip/zulip/pull/15505#issuecomment-651503104 , we probably can and should remove that `bulk_access_messages_expect_usermessage` check from `handle_remove_push_notifications` in any case. That should prevent the scenario in the OP, even if it might not have been the cause of these exceptions.

[2020-07-02 00:05] timabbott commented on #14504
I think I agree.  But the scenario I described above was sufficiently unlikely that it couldn't explain how often we were seeing the traceback; I'm optimistic that we've now fixed the actual bug here.

I just deployed to production with 0c48c75 in the branch, but this exception was rare enough it'll be weeks before we can be sure we've already fixed it, by which we'll likely have done something wi

[2020-07-02 00:12] hashirsarwar commented on #15343
@zulipbot claim

[2020-07-02 00:23] #15496 closed

[2020-07-02 00:27] timabbott commented on #14730
@Jagansivam28 @clarammdantas @sahil839 is there more we should do here before closing this as complete?

It feels like there may still be some more code cleanup opportunities, so maybe worth you all taking a quick look.

[2020-07-02 00:28] timabbott commented on #14897
This was completed by @alexmv in 6979ed9d97bf866b8a1a320bbd29067a73dc6ca0, not just for our internal servers but for everyone :).

[2020-07-02 00:28] #14897 closed

[2020-07-02 00:29] timabbott commented on #14589
Closing as resolved, though @arpit551 @alexmv have we confirmed we've tested the Bionic => Focal upgrade process?

[2020-07-02 00:29] #14589 closed

[2020-07-02 00:31] timabbott commented on #8643
Closing this as a near-duplicate of the more detailed https://github.com/zulip/zulip/issues/14188.

[2020-07-02 00:31] #8643 closed

[2020-07-02 01:59] opheliasdaisies commented on #15416
@timabbott Yes, @Dylnuge and I are still planning on tackling this. That being said, we don't have a ton of time at the moment, so if it's high-priority we're okay with you giving it to someone else.

[2020-07-02 07:38] Gittenburg commented on #15310
I cannot reproduce this with Firefox on Android, so this might be iPhone specific but I don't have an iPhone to reproduce.

[2020-07-02 08:27] vinitS101 commented on #15310
Yeah, I can reproduce this on my iPhone. I think it also happened once a little while back and I shrugged it off as the keyboard glitching (and hence covering the compose box).
I'll try to debug this.

[2020-07-02 10:46] varkor commented on #15635
:+1: (I saw #15186, but thought it covered a slightly different use case, because it doesn't allow users to be unselected before subscribing them.)

[2020-07-02 11:00] ryanreh99 commented on #15635
Hmm, I was thinking to resolve this as a followup to #15186, we could:

display all the users that are going to be subscribed every time a user pill or a stream pill is created and display a checkbox beside them (which would be marked).
Then the user can unmark the unwanted users and we would subscribe only the marked ones.

This would probably require some discussion on CZO.

[2020-07-02 14:03] Jagansivam28 commented on #14730
@zulipbot claim

[2020-07-02 15:12] clarammdantas commented on #14730
Yes, I have some thoughts about the `image_upload_widget.scss`. I think we should be defining attributes such as position, height, and weight of most of the elements in specific files, like `settings.scss`, so it can give more flexibility when one does use this widget. For example, the `.image-block` having the height and weight of 200x200 pixels is quite big to use in the registration form, which

[2020-07-02 15:31] aero31aero commented on #15518
@zulipbot claim

[2020-07-02 15:32] x007007007 commented on #10643
@timabbott  how about this https://github.com/collab-project/videojs-record

[2020-07-02 17:05] holtzermann17 commented on #9877
I had the same problem (on Ubuntu 20.04). I removed Anaconda and with Ubuntu's own Python3 I got past the error.

[2020-07-02 17:53] holtzermann17 opened #15646 "installation errors: terminate-psql-sessions: Permission denied, and zulip user already exists"
I'm attempting to install by cloning the Github repo onto a box upgraded to Ubuntu 20.04.

I'm running the installation command as root:

[code]

The first error I got was this:

[code]

The second error I got (when I tried rerunning) was this:

[code]

[2020-07-02 19:28] palashcode commented on #15331
@zulipbot claim

[2020-07-02 20:39] timabbott commented on #9877
We definitely expect Zulip to use the system Python 3.x release that comes with the OS.

[2020-07-02 20:47] #15311 closed

[2020-07-02 21:17] sahil839 commented on #15637
@zulipbot claim

[2020-07-02 21:54] #15646 closed

[2020-07-02 22:00] mlncn commented on #15085
Other attempts at this:

  * #8040
  * #8318

[2020-07-02 22:11] mlncn commented on #15085
Our particular use case is to mute *bots*.  For example i want a bot to be posting in our project queue every time a GitLab issue is updated, but i don't want that bot to have the same priority of a discussion.

Would that be a different (potentially simpler?) issue, or do bots work just like users for this use case?

(For what it's worth, as a workaround right now, we're creating sibling `#projec

[2020-07-03 07:32] holtzermann17 opened #15649 "restart server fails: zulip-thumbor: ERROR (no such process)"
[code]

[2020-07-03 07:34] holtzermann17 commented on #15649
As a quick fix to get back on the road, I adjusted the script to:

[code]

[2020-07-03 09:40] ritikchauhan-01 commented on #15197
@zulipbot claim

[2020-07-03 12:37] peironem opened #15651 "Zulip API doubt"
Hi.
I wrote a python django app for trouble tickets handling and i need to track somewhere my TT ID (integer) while talking from and to Zulipchat.

Well, i can think in two ways in order to achive my goal:
- sending private messages to a user while tracking somewhere my integer ids
- using a stream to create topics with my integer ids

Problems are:
- first solution is unusable cause i can't find

[2020-07-03 15:16] kkarhan commented on #10533
So, how can one delete a user?
manage.py does not exist on th entire system that runs zulip [checked with "sudo find / manage.py"]

[2020-07-03 17:34] prince-03-16 commented on #15552
@zulipbot claim

[2020-07-03 18:50] varkor commented on #15634
In this case, two users created a stream for an event, without realising they were duplicated. Various topics were then created in each one, before it was noticed. The subscribers were also different. In this case, the ideal behaviour would have been to make the two streams the same, merging the topics, and taking the union of the different users. I think this would make sense in general, though i

[2020-07-03 21:20] sahil839 commented on #15651
Currently, users can be unsubscribed from a stream only by the organization admins and streams are not linked to its creator/owner.
Allowing stream creator/owner to manage streams is already planned and is currently in progress.

[2020-07-03 23:00] #8994 closed

[2020-07-03 23:43] timabbott commented on #15649
@holtzermann17 thanks for the report!  Is this on Ubuntu Focal or Bionic, and with what Zulip version?

@andersk @amanagr @arpit551 I think probably our solution to this should involve removing `zulip::thumbor` from `voyager.pp`; we're not using thumbor in production, so it should not be running there.

[2020-07-03 23:43] timabbott commented on #15608
I'm not convinced this table will be readable with the columns switched; I'd like to see a design that we think looks good with that model before anyone works on this.

[2020-07-03 23:50] #15402 closed

[2020-07-04 00:46] eyahlin opened #15660 "Keyboard Shortcut for Delete Message"
I think the VIM-reminiscent, single-key shortcuts of Zulip are awesome. I use them all the time!

It would be great to have a keyboard shortcut too for delete message. =) Pressing "d" opens the drafts messages. Perhaps that shortcut could be remapped to Ctrl-D, and then assign "d" for delete message?

Thanks a lot! =)

Related issue:
- #16427

[2020-07-04 11:31] ankita-2798 commented on #14304
Hi @timabbott, I have updated the pull request with the latest changes. Can you have a look and see if it's ready to merge? :)

[2020-07-04 11:51] rochakjain361 opened #15667 "Zulip New API"

[2020-07-04 11:51] #15667 closed

[2020-07-04 15:38] showell commented on #15085
I would feel free to open separate issues for these ideas and link back here @mlncn:

* muting just bots does seem like it might solve an interesting use case and be a little smaller in scope than muting actual human users

* muting topics by pattern does seem like an interesting idea (and I would definitely mention it in the context of automated integrations with things like gitlab)

[2020-07-04 17:27] thedeveloperr opened #15672 "Bug in quote and reply"
Please open this link for context and detailed info regarding bug

https://chat.zulip.org/#narrow/stream/3-backend/topic/quote.20and.20reply.20bug

[2020-07-04 18:10] prince-03-16 commented on #15331
@zulip claim

[2020-07-04 21:15] proarachnid opened #15674 "Clear messages"
Our company is considering this product for employees to communicate. Many posts will be about finances. The authorities want to be able to delete all reports from the database or to selectively clear any dialogue of any user or channel.

[2020-07-05 07:05] RalfJung opened #15676 ""Recent topics" should remember settings"
I am always using "recent topics" with the same settings (include muted, unread, participated). However, after reloading the page, the settings get reset to default. It would be great if those could be stored somewhere more persistently. :)

[2020-07-05 07:06] RalfJung commented on #15482
The new UI is shipped now. It is indeed much better, but it is still somewhat confusing because "include muted" on the one hand and "unread"/"participated" on the other hand *look* entirely symmetric, but do not behave that way.

[2020-07-05 08:58] adithyay328 commented on #15384
@zulipbot claim

[2020-07-05 10:59] amanagr commented on #15676
@RalfJung thanks for your feedback, we have plans to store the setting in the browser.

[2020-07-05 11:06] amanagr commented on #15384
Someone working on this might also want to fix the scrollbars, there are too many of them currently.
![image](https://user-images.githubusercontent.com/25124304/86531298-9b410180-bedd-11ea-829b-f0d8736304c3.png)

[2020-07-05 12:26] prince-03-16 commented on #15552
Hi @hackerkid, I am new to Zulip, can you kindly update the label of this issue to `good first issue` , so I could claim this issue

[2020-07-05 12:46] tonythomas01 opened #15677 "Allow drag and drop upload of image to on a chat window"
Steps to reproduce:
1. Drag and drop an image to an active chat window.

Expected result:
1. Image upload to conversation prompt and other stuff.

What happens:
1. Well, nothing and the image opens up on the browser window.

[2020-07-05 22:15] sahil839 commented on #15495
@zulipbot claim

[2020-07-05 23:23] thedeveloperr commented on #15403
Can I work on this ?

[2020-07-05 23:26] thedeveloperr commented on #15344
Anyone working on this ?

[2020-07-06 07:22] andreasoc opened #15682 "Show user status more visibly"
Hi
it often happens that you change your status to inform your colleagues but there is no evidence anywhere and therefore you forget to bring it to its initial state. It would be useful to add the status next to your Name and surname in the USERS list here

[https://chat.zulip.org/user_uploads/2/6d/fZzpJsIqvOdat3ukUdFkR0N2/image.png](url)

![image](https://user-images.githubusercontent.com/2852354

[2020-07-06 07:51] amanagr commented on #15682
Related conversation in https://chat.zulip.org/#narrow/stream/137-feedback/topic/Status.20Evidence

[2020-07-06 08:33] Gittenburg commented on #15682
I think it would be best to display the current user separately above the users list and also show your profile picture. Next to your profile picture we could display your username and below that your status.

[2020-07-06 08:41] andreasoc commented on #15682
![Photoshop_KeyGw9gDbq](https://user-images.githubusercontent.com/2852354/86573705-0e498700-bf75-11ea-92c4-cca72585c1d7.png)
this was the idea I had,
@Gittenburg and after the icon status the avatar? it could be cool

[2020-07-06 08:41] Gittenburg opened #15686 "Display user statuses in the top navbar"
When viewing the messages with a user the top navbar currently only displays their name. I think it would make sense to also display their status (akin to how we display stream descriptions in stream narrows).

[2020-07-06 08:48] amanagr commented on #15686
For anyone pickint it up, It would make sense to work on #15682 and this together.

[2020-07-06 08:49] Gittenburg commented on #15686
These are two separate issues, so they do not necessarily need to be addressed at the same time.

[2020-07-06 08:55] Gittenburg commented on #15682
I am very much against letting users override their status icon with a custom emoji, because then you can no longer tell if they are online, away, offline or unavailable. A major principle of UI design is keeping it simple so complicating our status iconography is not an option in my opinion.

[2020-07-06 09:15] amanagr commented on #15682
We can easily do this or a version of the which is only visible the current user and not others.

[2020-07-06 09:25] amanagr commented on #15686
What I have in mind is, displaying a semi-userprofile for the current user in the right-sidebar, which would include showing the user's avatar, his full name, status icon and other things based on feedback.

[2020-07-06 09:33] Gittenburg commented on #15686
Sure, this issue however is about displaying other users statuses in private messages. That's unrelated from the sidebar.

[2020-07-06 09:37] andreasoc commented on #15682
I made this request because the need is not to make users play with the profile, but to give Zulip a very useful functionality regarding presence, which is essential.
**Evidence for himself**
For example, this morning I forgot to drop my status, and a colleague of mine asked other people to do a job. You forget to change your status.
 **Evidence for others**
The other colleagues have immediate evi

[2020-07-06 09:39] amanagr commented on #15686
Oh! I think I didn't read the issue correctly. My bad :)

[2020-07-06 09:39] andreasoc commented on #15682
I thought about it, it is useful for yourself, you lose it the functionality of evidence for others

[2020-07-06 09:44] vinitS101 commented on #15686
I added statuses to the compose box a while ago. Some of that could be reused here (PR #12866).

I can probably work on this tonight if no one picks it up by then. Probably @YashRE42? But I believe he is unavailable for a little while. :)

[2020-07-06 09:49] Gittenburg commented on #15682
I agree that displaying your own custom status in the sidebar would make sense. I however do not think complicating the status iconography is a good idea. I think "evidence for others" is sufficiently addressed by #15686, which would mean that if you open the private messages with a user you see their status in the top navbar.

[2020-07-06 09:59] Gittenburg opened #15688 "Allow realms to use unique alphanumeric usernames instead of full names to prevent impersonation"
Zulip allows impersonation (two users can have exactly the same full name). Using Zulip therefore makes your organization prone to [social engineering](https://en.wikipedia.org/wiki/Social_engineering_(security)) attacks.

* Restricting full names to be unique wouldn't help because they can contain any Unicode characters and would thus still be vulnerable to [homograph attacks](https://en.wikipedi

[2020-07-06 10:04] andreasoc commented on #15682
I don't agree with you, the end result is less immediacy of information.
Usually those looking for a user and want to know where he is do these operations:
1- I look at the right sidebar, ok I don't see it
2 - I search for the user and see the holiday status icon
3 - ok don't disturb it

I also believe that few will be those who will work in the state, vacation, sick and therefore we will not see

[2020-07-06 10:05] andreasoc commented on #15682
I don't agree with you, the end result is less immediacy of information.
Usually those looking for a user and want to know where he is do these operations:
1- I look at the right sidebar, ok I don't see it
2 - I search for the user and see the holiday status icon
3 - ok don't disturb it

I also believe that few will be those who will work in the state, vacation, sick and therefore we will not see

[2020-07-06 10:09] Gittenburg commented on #15682
We already have an "unavailable" user status. If you are unavailable because you are sick or on vacation you can just mark yourself as "unavailable":

![image](https://user-images.githubusercontent.com/47354597/86582117-730ade80-bf81-11ea-84a9-aece7a4a2bcd.png)

[2020-07-06 10:13] andreasoc commented on #15682
then what sense to put the various states, vacantion etc. if you can not highlight them? unavailable, in my opinion it has the same level of meaning as the other states, very similar to do not disturb, and therefore the other states have the same right to display the icon

[2020-07-06 10:39] Gittenburg opened #15689 "Improve profile status editing UI"
In your own profile popover we show:

![image](https://user-images.githubusercontent.com/47354597/86583943-65a32380-bf84-11ea-9164-0167a32a257b.png)

When clicking on "edit status message" we show another popover:

![image](https://user-images.githubusercontent.com/47354597/86584011-89666980-bf84-11ea-80ab-5b9ed0c36568.png)

This UI is problematic for a variety of reasons:

* `Set yourself as unav

[2020-07-06 10:53] Gittenburg commented on #15682
Thanks for raising these good questions! The strings we show in the `Set a status message` dialog (out sick, vacationing, etc.) are just examples, you can enter any message. You are totally correct in noting that letting users choose "out sick" and that not showing up at all in the sidebar is a UX problem, which I think can be addressed by improving our status editing UI, for which I opened #15689

[2020-07-06 11:28] Gittenburg commented on #15674
While we already two feature requests for deleting private messages: #9756 and #12715.

[2020-07-06 11:38] Gittenburg commented on #15660
I don't think we want to change an established shortcut but we could make the `Delete` key delete messages.

[2020-07-06 11:41] Gittenburg commented on #15677
Dragging an image into the compose box already works. So for this we would need to detect the drag, open the compose box and then call the existing drag receive logic from the compose box.

[2020-07-06 12:05] andreasoc commented on #15682
yes but in the mobile app, there are some default status + icone but i can't create a new one + icon , but only new one without icon.. and this is good, otherwise everyone can put any icons and create confusion.

[2020-07-06 13:25] andreasoc commented on #15682
last but not least, this would be one of those features that makes it more palatable, Zulip, for normal users or are obliged to use it by the Company

[2020-07-06 14:29] palashcode commented on #15331
`        # with mock.patch("logging.warning") as mock_warn:
        with self.assertLogs("logging.warning", level='WARNING') as m:
            result = self.get_log_into_subdomain(data, force_token='nonsense')
            # mock_warn.assert_called_once_with("log_into_subdomain: Malformed token given: %s", "nonsense")
        self.assertEqual(m.output, [self.logger_output("log_into_subdomain: Malfo

[2020-07-06 14:42] palashcode commented on #15331
@chdinesh1089 I am using your [https://github.com/zulip/zulip/commit/d30f11888a009dea59711d24696e140d905488c6](url) commit as a reference to replace  mock.patch with assertLogs. I made some changes as shown in code below and tested. The test is failing with "AssertionError: no logs of level WARNING or higher triggered on logging.warning". Can you please guide me on what I am doing wrong?

[code]

[2020-07-06 15:05] chdinesh1089 commented on #15331
`logging.warning` uses root logger, so we do not need to add `"logging.warning"` in `assertLogs` as it defaults to root logger as stated [here](https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertLogs).
So I think it'll work if we remove `"logging.warning"` and make it ` with self.assertLogs("logging.warning", level='WARNING') as m:`.

(From this, we can see that `assertLogs` i

[2020-07-06 16:15] tonythomas01 commented on #15677
Oh yeah, now I see that dragging to compose box works. Thats actually good. Great that the functionality is around, frankly|!

[2020-07-06 17:04] Gittenburg opened #15692 "Web app looses messages sent during server downtime"
Steps to reproduce:

1. Start the development server & open the web app.
2. Stop the server with Ctrl+C.
3. Send a message with the web app.
4. Restart the server.
5. The sent message is gone.

[2020-07-06 17:23] Gittenburg commented on #15390
Related to #12857.

[2020-07-06 18:19] adithyay328 commented on #15384
@amanagr Would it be better to do that in this issue, rather than opening a new issue specifically for that? I'm a new contributor, and this is my first issue, so I might be wrong, but I think that making a separate issue seems a bit cleaner than doing all of them in one issue. Thanks!

[2020-07-06 18:19] Gittenburg commented on #15692
@zulipbot add "bug"

[2020-07-06 18:22] Gittenburg commented on #15689
@zulipbot add "enhancement"

[2020-07-06 18:23] Gittenburg commented on #15677
@zulipbot add "enhancement"

[2020-07-06 18:24] aleffert opened #15693 "Unable to clear badge icon"
Running the latest iOS version (v26.29.52) on the latest iOS (13.5.1).

Steps:
Get @mentioned in a message.
Observe badge with a 1 on the homescreen
View message in the iOS app
Close app
Still observe badge with a 1 on the homescreen

Expected:
No more icon badge since I have nothing unread

I also tried opening up with the desktop app as well as explicitly killing the app on my phone.

[2020-07-06 18:26] Gittenburg commented on #15693
Issues for the iOS app are tracked at https://github.com/zulip/zulip-mobile/issues.

[2020-07-06 18:27] aleffert commented on #15693
Sorry about that. Closing in favor of https://github.com/zulip/zulip-mobile/issues/4182

[2020-07-06 18:27] #15693 closed

[2020-07-06 18:29] Gittenburg commented on #15660
@zulipbot add "feedback wanted"

[2020-07-06 18:30] Gittenburg commented on #15634
@zulipbot add "enhancement"

[2020-07-06 18:31] Gittenburg commented on #15632
@zulipbot add "area: emoji" "enhancement"

[2020-07-06 18:33] Gittenburg commented on #15692
@zulipbot add "priority: high"

[2020-07-06 18:42] Gittenburg commented on #15688
@zulipbot add "feedback wanted"

[2020-07-06 18:49] Gittenburg commented on #15390
@zulipbot add "area: emoji"

[2020-07-06 18:53] Gittenburg commented on #15380
@zulipbot add "bug"

[2020-07-06 18:54] Gittenburg commented on #15480
@zulipbot add "bug"

[2020-07-06 18:54] Gittenburg commented on #15511
@zulipbot add "bug"

[2020-07-06 19:14] Gittenburg opened #15694 "Improve emoji picker search"
Searching for "ok" yields "joking", "poker face", "spooky" and "broken heart" before "ok". Prefix matches and shorter names should come first.

Apparently our emoji search has gotten worse than what #9972 is about (since non-prefix matches come first).

![image](https://user-images.githubusercontent.com/47354597/86630464-2947e580-bfcd-11ea-8168-5dfe35b32816.png)

[2020-07-06 19:14] Gittenburg commented on #15694
@zulipbot add "area: emoji" "enhancement"

[2020-07-06 20:40] brainwane commented on #5802
Thank you for working on this! Discovered via [this Joy of Computing post](https://joy.recurse.com/posts/861-zpoilers)!

[2020-07-06 20:56] proarachnid commented on #15674
Dear, you are completely right! There are such topics. But these topics discuss how users clean messages. I would like to draw your attention to the importance of being able to clear the database to any administrator from the admin interface. If in addition it could be done through the scheduler - it would be grandiose. Very often there is a management demand to start a new day in the chat with a

[2020-07-06 21:53] thedeveloperr commented on #15692
I think we can have a long running (but how long and with what limits ?) retry mechanism but I think the sync of messages sent during that time will be messed up.

[2020-07-06 22:11] eyahlin commented on #15660
My preference is "d", as it's the VIM keystroke for delete, but I do understand if that would confuse users who are already used to the shortcut for drafts. I'll settle with "Delete" if that's the case =)

[2020-07-06 22:36] #15346 closed

[2020-07-06 22:48] #14101 closed

[2020-07-06 22:54] #15442 closed

[2020-07-06 23:46] thedeveloperr commented on #15448
@zulipbot claim

[2020-07-06 23:57] timabbott commented on #15660
Yeah, agreed, `delete` feels like the right key for this, should we have a shortcut.

@eyahlin can you talk a bit about your use case for wanting this to be a single key rather than ?  I'm not aware of use cases where folks delete messages super often, and am a bit worried that such a keyboard shortcut might be primarily triggered by folks who are accidentally not in a text box context and thus mi

[2020-07-07 00:00] timabbott commented on #15674
@proarachnid I assume what you're looking for is https://zulipchat.com/help/message-retention-policy.

[2020-07-07 00:23] timabbott commented on #15694
We probably want to make use of `sort_emojis` from `typeahead.js`, since the typeahead logic exported there largely does this how we intend.

[2020-07-07 00:31] eyahlin commented on #15660
Hey @timabbott ! So I'm just speaking from my use case, but I use Zulip a lot when I'm communicating with my team. Because Zulip supports single-key keyboard shortcuts, I use my mouse/trackpad very sparingly -- I can navigate, search and even reply to messages with my fingers on the home row keys =). The only time when I actually have to use my mouse is when I'm deleting a message, because there i

[2020-07-07 01:00] timabbott commented on #15688
There's other solutions to this problem:
* We can enforce "full name" being unique (it'd just require some sort of thoughtful algorithm to handle collisions in LDAP synchronization).
* In many organizations, we display an email address in this fashion, which has the uniqueness properties we desire.  The problem is with EMAIL_ADDRESS_VISIBILITY_HIDDEN, we likely want to use a human-readable usernam

[2020-07-07 01:01] timabbott commented on #15344
I don't believe so.

[2020-07-07 01:35] timabbott commented on #10533
See https://zulip.readthedocs.io/en/latest/production/management-commands.html for how to use `manage.py`.

[2020-07-07 01:36] timabbott commented on #10533
For an estimate, there's an open PR, https://github.com/zulip/zulip/pull/14847, that mostly just needs some decisions made on the precise semantics we want.  I'm unsure whether it will make it in for the 3.0 release next week.

[2020-07-07 01:38] #15197 closed

[2020-07-07 01:43] timabbott commented on #15660
You can delete a message via a sequence involving `i, Down, Down, Down, Enter`; though we have a bug right now in the night theme where you can't see the keyboard cursor that makes that a bad experience.

[2020-07-07 01:55] #15495 closed

[2020-07-07 01:56] timabbott commented on #15301
@hackerkid just a quick ping on this.

[2020-07-07 03:57] eyahlin commented on #15660
Yes, that's exactly what I'm doing now which I find is less than ideal, which is why I would rather use the mouse. This was also why I suggested a single key shortcut.

[2020-07-07 04:34] Gittenburg commented on #14458
I assume this was the bug fixed with Zulip 2.1.5. Quoting the changelog:

@FoggyFinder can you confirm?

[2020-07-07 05:40] Gittenburg commented on #13712
Closing as a duplicate of #14983.

[2020-07-07 05:40] #13712 closed

[2020-07-07 05:47] amanagr opened #15706 "Only display necessary scrollbars in some docs at /api."
In some docs like https://chat.zulip.org/api/register-queue#arguments, there are as many as 7 scrollbars. We should remove the unnecessary vertical and horizontal scrollbars created by browser and only display `simple bar` scrollbars.

![image](https://user-images.githubusercontent.com/25124304/86531298-9b410180-bedd-11ea-829b-f0d8736304c3.png)

[2020-07-07 05:48] amanagr commented on #15384
Opened #15706 for it.

[2020-07-07 06:59] FoggyFinder commented on #14458
Let's count as fixed. I'll reopen issue if I see it again.

[2020-07-07 06:59] #14458 closed

[2020-07-07 08:47] hackerkid commented on #15552
I have assigned you the issue :)

[2020-07-07 08:52] prince-03-16 commented on #15552
Thanks @hackerkid :), I created a PR for this can you give a feedback for it :).

[2020-07-07 08:58] hackerkid commented on #15301
@timabbott Currently we allow realm administrators and owners to access the billing page. Should that be restricted to only owners?

[2020-07-07 09:06] kkarhan commented on #10533
I do hope so, since being able to wipe users is a critial feature to me.

[2020-07-07 09:25] DavidBM commented on #11440
Hi!

Does it make sense to remove the "[not yet actionable]" from the title?

For what I understand, it can be done using the calendar API.

[2020-07-07 13:10] palashcode commented on #15331
@chdinesh1089 Thanks. Created a PR [https://github.com/zulip/zulip/pull/15708](url). Please have a look.

[2020-07-07 13:56] showell commented on #15694
Yeah, this is probably just a matter of adding one line to `filter_emojis` in `emoji_picker.js`, to sort `search_results` via `sort_emojis`, along with testing.

[2020-07-07 14:00] showell commented on #15689
If we modify this UI, we can test-deploy it on chat.zulip.org and let people play with it.

[2020-07-07 18:08] adithyay328 commented on #15384
@amanagr Thanks!

[2020-07-07 18:30] aero31aero opened #15709 "compose: Position typeahead to be closer to the cursor."
Currently, the typeahead is shown at the top-left of the composebox regardless of where the cursor is:

![image](https://user-images.githubusercontent.com/8033238/86825964-aea2c700-c0ad-11ea-879a-15704b89529f.png)

Tim said in [this previous attempt](https://github.com/zulip/zulip/pull/2789#issuecomment-270286341) to fix this issue:

Most of that feedback is still valid today, and we should give t

[2020-07-07 21:37] #15500 closed

[2020-07-07 22:31] andersk commented on #15706
This actually appears to be due to a JavaScript error that appears at https://chat.zulip.org/api/register-queue#arguments but not at https://chat.zulip.org/api/register-queue.

[code]

[2020-07-08 07:00] andreasoc opened #15718 "Force turn On Notification from stream Owner"
Allow the admin, or bbter from creator of stream,  to have an option **to force** turn on notification for all users for that stream.
It is unthinkable that if a stream is created where the CEO wants to make sure everyone gets immediate notification, IT must teach everyone how to do it.
We must think more and more of Zulip for large companies and structured companies
My ideas below
![notification-

[2020-07-08 07:09] drrosa commented on #13263
The remaining warning:

`sphinx_rtd_theme/search.html:20: RemovedInSphinx30Warning: To modify script_files in the theme is deprecated. Please insert a <script> tag directly in your theme instead.`

should have been fixed in `sphinx-rtd-theme==0.5.0`, which has already been upgraded in the requirement files with this commit https://github.com/zulip/zulip/commit/ebb2efa66423f196e32ad711f9505814f2a10

[2020-07-08 13:08] vinitS101 commented on #15694
Pushed #15720 for this.

[2020-07-08 20:26] #8465 closed

[2020-07-08 20:39] SouravPal1995 commented on #14880
@zulipbot  claim

[2020-07-08 20:47] #15694 closed

[2020-07-08 20:51] timabbott commented on #13263
Confirmed; the output is now:
[code]

which appears to be free of warnings.  Closing.

Though I do wonder if there's a way we can make warnings fatal so that new ones don't appear?

[2020-07-08 20:51] #13263 closed

[2020-07-09 03:13] whoodes commented on #14748
More discussion can be found [here](https://chat.zulip.org/#narrow/stream/101-design/topic/Redesign.20to.20be.20like.20Discord/near/927738). I'd like to see a direction in the from of
<img width="935" alt="quick_hack" src="https://user-images.githubusercontent.com/39782863/86992048-7656c380-c155-11ea-81c5-fadec158ea96.png">

I'm struggling to find the use case of clicking the design pentagon shape

[2020-07-09 05:32] chdinesh1089 opened #15727 "Reset stream creation form when creating a new stream after a stream is created."
If we create a stream and then click on "+" to create another stream, the form gets filled with the name and description of previously created stream. This seems to not have any use case and would be little extra work for people in new realms creating a bunch of streams at once.

This should be fixed to not pre-populate the form with the previous stream's data.

Here's a GIF showing that
![stream_

[2020-07-09 06:07] xendk commented on #14748
It's consistent with topic in the recipient bar. Clicking ether narrows your view down, but your current message visible. Clicking the stream in the sidebar looses your place, and you'll have to find the stream first (might not be visible).

[2020-07-09 06:17] xendk commented on #14748
I'm all for replacing the pentagon, but I still think it should be `# stream > topic` (with colored #, as the color follows the stream.. maybe colored > too?), you're ruining All messages otherwise.

I do get the point that the stream name is redundant when already narrowed to a stream. Maybe use `# stream > topic` in general, but `> topic` when stream narrowed? I don't like the inconsistency, but

[2020-07-09 06:19] xendk commented on #14748
Then one could argue for adding topic to navbar when topic narrowed and completely loose the recipient bar in topic narrow, but that's another thing.

[2020-07-09 06:39] chdinesh1089 commented on #15727
@zulipbot add "priority: blocker"

[2020-07-09 09:39] hashirsarwar commented on #8181
@zulipbot claim

[2020-07-09 10:30] hardikkat24 commented on #15727
@zulipbot claim

[2020-07-09 11:01] hardikkat24 commented on #15727
I tried adding a stream and then reopening the form. The fields are not filled with previous data.
I am working on my local environment.

[2020-07-09 11:50] amanagr commented on #15727
Confirmed that this not reproducible on upstream/master. @chdinesh1089 @hardikkat24  if possible, can you guys figure out which commit fixed it and close the issue.

[2020-07-09 12:04] hardikkat24 commented on #15727
@amanagr I'll try finding it.

[2020-07-09 12:13] Jellby commented on #11845
More than having problems with, I'd like to have a per-organization color scheme, so I can more easily identify which organization I have active. It could also allow for corporate color schemes (but always user-overridable).

As far as I know, in Slack the custom color themes only affect the sidebar and top bar, not the messages. That would be quite enough for me.

[2020-07-09 14:14] hardikkat24 commented on #15727
@chdinesh1089 When was the last time you saw this happening?

[2020-07-09 14:46] Jellby opened #15731 "Users in left sidebar partially cover the "Add streams" link"
An image is worth a thousand words. This animation is worth four thousand. Look for the "Add streams" link below `#sausages`

![streams](https://user-images.githubusercontent.com/7943459/87054581-90e77600-c203-11ea-8974-b03adeb82a4e.gif)

[2020-07-09 15:26] chdinesh1089 commented on #15727
I think I was on a branch that was diverged from https://github.com/chdinesh1089/zulip/tree/compose_test
(sorry for the late update, I'm checking if something in that branch is causing it)

I'm not sure what might've fixed it, but I saw that there were some commits in the last week which had some changes in this area but not specifically this form.

[2020-07-09 15:31] chdinesh1089 commented on #15727
I cannot reproduce even on that brach. I'm not sure what caused it. @amanagr Can I close the issue since we cannot find any issue with the current master<

[2020-07-09 15:33] amanagr commented on #15727
Closed. Thanks!

[2020-07-09 15:33] #15727 closed

[2020-07-09 15:36] amanagr commented on #15731
@Jellby thanks for informing us about this issue. This particular view is not used much in our dev community and hence regressions over time are possible. We will fix this.

[2020-07-09 18:34] #15146 closed

[2020-07-09 18:58] thedeveloperr commented on #15439
I have worked on #15448
Would also love to take it.

[2020-07-09 19:17] timabbott commented on #15674
@proarachnid I'd love to here more context on the thread here, but I'm closing this as likely a duplicate of an existing feature or feature request.

[2020-07-09 19:17] #15674 closed

[2020-07-09 19:19] aero31aero commented on #15205
@zulipbot claim

[2020-07-09 19:51] timabbott commented on #11440
It can't be done easily with the calendar API -- you have to create a meeting on some calendar to do it, and so we'd need to have some calendar that gets spammed with hundreds of meetings as folks use the feature.

That API is clearly not intended to offer a "create a call" feature in a third-party app, and I'd worry that we'd run into ToS or other trouble adding a feature of that form.

I suppose

[2020-07-09 20:13] #15501 closed

[2020-07-09 20:25] Gittenburg commented on #15672
@thedeveloperr could you describe the bug in the issue description so that you don't have to follow the CZO link to know what this issue is about?

[2020-07-09 20:31] hardikkat24 commented on #15731
@zulipbot claim

[2020-07-09 22:47] Gittenburg commented on #5349
Closing as a duplicate of #12807.

[2020-07-09 22:47] #5349 closed

[2020-07-09 22:51] Gittenburg commented on #12573
I also cannot reproduce this. @abhigyank do you still experience this bug? If so what browser version are you using?

[2020-07-09 22:59] Gittenburg commented on #14869
Closing as a duplicate of #3285.

[2020-07-09 22:59] #14869 closed

[2020-07-09 23:20] Gittenburg commented on #12249
This has been implemented as the "realm owner" feature in  #15116, #15267 and #15305.

[2020-07-09 23:20] #12249 closed

[2020-07-09 23:44] Gittenburg commented on #8493
I don't think included/excluded character sets would be feasible. Wildcard support is tracked with #364. Closing this since it's a wontfix.

[2020-07-09 23:44] #8493 closed

[2020-07-10 00:02] cdebroncas opened #15743 "internal server error"
Hi,
I only commented one line at the settings.py (#EMAIL_USE_TLS = True) file and restart the server and I got the "Internal server error:"

I checked in in my logs:

[code]

Can you help me, please?

Thanks

[2020-07-10 01:30] alexmv commented on #14589
I did test the Bionic -> Focal upgrade as currently doc'd, yup.

[2020-07-10 06:06] clk-jkn commented on #13299
Sadly this Problem still exists.

[2020-07-10 06:12] #13554 closed

[2020-07-10 06:20] Gittenburg commented on #10450
Closing as a duplicate of #10797.

[2020-07-10 06:20] #10450 closed

[2020-07-10 06:21] amanagr commented on #9338
@zulipbot claim, I will remove the edit pencil icon for unsubed streams. (Picking since it is a blocker?)

[2020-07-10 06:42] Gittenburg commented on #15677
Closing as a duplicate of #14579.

[2020-07-10 06:42] #15677 closed

[2020-07-10 06:48] Gittenburg commented on #10782
Closing as a duplicate of #647.

[2020-07-10 06:48] #10782 closed

[2020-07-10 07:03] Gittenburg commented on #7042
Twitter, GitHub, Slack, Mattermost and RocketChat all have username completion on `@` and make tab focus the next input element (as is browser default), so I do not think we want to break user expectations here.

[2020-07-10 07:15] Gittenburg commented on #12317
Closing this since the current behavior is the right one in most cases and to place the cursor before or after the selected text you can just press the left or right arrow key, so this doesn't warrant a new settings option.

[2020-07-10 07:15] #12317 closed

[2020-07-10 07:24] timabbott commented on #15743
@cdebroncas that traceback locale issue; I wonder if you somehow restarted the server from an `ssh` shell with a set of locales configured that are inconsistent with those on your server?  Needs investigation as we attempt to force a sane locale for the ZUlip environment; can you run `locale` and post the output?

[2020-07-10 07:25] timabbott commented on #15743
(Also it'd be helpful to know whether your server ever worked or if this was a problem during setup).

[2020-07-10 07:43] #8386 closed

[2020-07-10 07:46] Gittenburg commented on #15608
Closing as a duplicate of #8473.

[2020-07-10 07:46] #15608 closed

[2020-07-10 07:50] Gittenburg commented on #8473
Quoting @YashRE42 from the duplicate issue #15608:

[2020-07-10 07:56] Gittenburg commented on #8473
We should also decide what to do with the popup on mobile (currently it doesn't look well, which is tracked as #14153). I think it would probably be best to simply hide the popup on mobile since mobile users don't tend to use keyboard shortcuts anyway.

[2020-07-10 08:19] Gittenburg opened #15748 "Missing keyboard shortcuts [TODO list]"
This issue serves to track all missing shortcuts.

* [ ] arrow keys in popovers: #15448
* [ ] edit topic of a message

[2020-07-10 08:36] Gittenburg commented on #9612
I find `d + enter` convenient enough to not warrant removing established shortcuts without providing alternatives.

[2020-07-10 08:51] Gittenburg commented on #11421
Closing this since [we plan to make Recent topics the default view](https://chat.zulip.org/#narrow/stream/2-general/topic/Recent.20Topics/near/918569).

[2020-07-10 08:51] #11421 closed

[2020-07-10 08:57] Gittenburg commented on #11381
@rht can you elaborate on why you want this? As Tim said we already hide inactive users "who have been active in the last 3 weeks or so".

[2020-07-10 09:09] lumenCodes commented on #15586
That's true I kinda prefer Display name

[2020-07-10 09:17] Gittenburg opened #15750 "registration: Improve realm creation form"
* Group org settings and user settings with fieldsets.
* The background of the help boxes is unnecessary.
* The email should be shown as plain text, not as a disabled input.
* Consider renaming Organization URL to Organization Subdomain.

![Screenshot_2020-07-10 Chat for distributed teams](https://user-images.githubusercontent.com/47354597/87138497-cb522100-c29e-11ea-83c3-f473cdc545e2.png)

[2020-07-10 09:22] Gittenburg commented on #12564
Splitting up a form to multiple pages does not necessarily improve UX. Closing in favor of  #15750.

[2020-07-10 09:22] #12564 closed

[2020-07-10 09:25] Gittenburg commented on #12350
Closing as a duplicate of #10552.

[2020-07-10 09:25] #12350 closed

[2020-07-10 09:34] Gittenburg commented on #10553
Closing as a duplicate of #14160.

[2020-07-10 09:34] #10553 closed

[2020-07-10 09:34] Gittenburg commented on #9125
Related:  #14160

[2020-07-10 09:37] Gittenburg commented on #12807
This seems to have the same use case as #8331.

[2020-07-10 09:49] Gittenburg commented on #12302
Closing since this was implemented with #12442.

[2020-07-10 09:49] #12302 closed

[2020-07-10 09:50] #11782 closed

[2020-07-10 09:51] #9529 closed

[2020-07-10 09:58] Gittenburg commented on #7223
Closing as a duplicate of #14503.

[2020-07-10 09:58] #7223 closed

[2020-07-10 09:59] Gittenburg commented on #7209
Closing since it is unclear what this issue is about (and it's 2.5 years old).

[2020-07-10 09:59] #7209 closed

[2020-07-10 10:40] Gittenburg commented on #5745
Closing as a duplicate of #1739.

[2020-07-10 10:40] #5745 closed

[2020-07-10 11:35] rht commented on #11381
Is that the definition of "inactive" status, i.e. being offline for 3 weeks or longer?

[2020-07-10 12:37] cdebroncas commented on #15743
Hi, Thank Tim.
Yes, of course.. The server was working fine and this issue appears when I change one line in my settings.py file. I had a backup of the settings.py file and replace in /etc/zulip folder, I thought that maybe  I changed another line by mistake, but I get the same problem.

Also I have this server
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codenam

[2020-07-10 12:47] Hypro999 commented on #3775
@zulipbot claim. I'm going to start working on this.

[2020-07-10 13:22] Gittenburg commented on #5404
The UI of "more topics" has since been improved. Previously:

![image](https://user-images.githubusercontent.com/47354597/87158576-3e1fc400-c2c0-11ea-87cb-aff91620bb8f.png)

Nowadays:

![image](https://user-images.githubusercontent.com/47354597/87158654-5e4f8300-c2c0-11ea-8be7-77ff55dde6ef.png)

Clicking on "All streams" limits the shown topics again to 5, so I don't think we need a stream collaps

[2020-07-10 13:55] Gittenburg commented on #4907
Closing since we now have :+1: and :hammer_and_wrench: as popular choices in the emoji picker.

[2020-07-10 13:55] #4907 closed

[2020-07-10 13:59] Gittenburg commented on #4673
Closing in favor of the new Recent topics view, which has an Unread filter.

[2020-07-10 13:59] #4673 closed

[2020-07-10 14:36] abhigyank commented on #12573
Cannot reproduce now. Closing.

[2020-07-10 14:36] #12573 closed

[2020-07-10 15:36] Gittenburg commented on #15039
If we decide to switch to the HTML5 `type="color"` input as suggested in #14961, this issue could be closed.

[2020-07-10 15:37] Gittenburg commented on #14780
If we decide to switch to the HTML5 `type="color"` input as suggested in #14961, this issue could be closed.

[2020-07-10 15:47] Gittenburg commented on #14961
[Spectrum](https://github.com/bgrins/spectrum) has had some commits recently, so it's no longer abandoned. Principally I am in favor of switching to the native color picker (you can try it out with this [CodePen](https://codepen.io/estelle/pen/rigBl)). While [all major browsers support it](https://caniuse.com/#feat=input-color), Firefox [does not yet support suggesting multiple colors with a datal

[2020-07-10 16:26] Gittenburg commented on #5829
Closing in favor of #15280.

[2020-07-10 16:26] #5829 closed

[2020-07-10 16:34] Gittenburg commented on #14814
I cannot reproduce this. Does this still happen for you? If so please tell us what browser you are using and describe your steps and / or [record a GIF](https://zulip.readthedocs.io/en/latest/tutorials/screenshot-and-gif-software.html) how you trigger the bug.

[2020-07-10 16:47] Gittenburg commented on #12353
Closing as a duplicate of #5803.

[2020-07-10 16:47] #12353 closed

[2020-07-10 17:31] Gittenburg commented on #11470
We open the user popup when clicking on a profile picture, so we definitely want to display a larger version of the profile picture in the user popover. This is also the way Slack, Mattermost and RocketChat do it. Our current user popup fits fine on mobile screens and since I don't think there is anything to be gained from reducing the image size, I'm closing this.

[2020-07-10 17:31] #11470 closed

[2020-07-10 18:00] timabbott commented on #15006
This was fixed by us removing that line about a month ago, as part of switching to the `hashicorp` Vagrant boxes for Ubuntu.  Thanks for the report @hvisage!

[2020-07-10 18:00] #15006 closed

[2020-07-10 18:04] Gittenburg commented on #8744
Closing this since such an open source program does not yet exist and we will not create it. Summarizing conversations cannot be done with a regular text summarizing algorithm and requires machine learning ([see for example this paper](http://web2py.iiit.ac.in/research_centres/publications/download/inproceedings.pdf.8b32440f2dc771c4.323031325f414e445f43616d6572612e706466.pdf)). The best thing that

[2020-07-10 18:04] #8744 closed

[2020-07-10 18:13] Gittenburg commented on #13451
Closing as a duplicate of #12883.

[2020-07-10 18:13] #13451 closed

[2020-07-10 18:39] Gittenburg commented on #15688
I don't think so:

* We could probably deal with LDAP but I don't think we can reasonably prevent [homograph attacks](https://en.wikipedia.org/w/index.php?title=Homograph_attack) if we allow arbitrary Unicode characters since Unicode normalization is incredibly complicated.
* This issue is about always displaying a unique identifier instead of "full name" throughout the whole UI (that is in the me

[2020-07-10 18:57] Gittenburg commented on #10626
Closing this, since we no longer consider it a good idea.

[2020-07-10 18:57] #10626 closed

[2020-07-10 19:01] Gittenburg commented on #14076
Is this a duplicate of #11227?

[2020-07-10 19:29] timabbott commented on #14076
No, reminders are different from send later.  I also think we should just finish the feature later this summer rather than removing the feature flag for it, so I think we can close.

[2020-07-10 19:29] #14076 closed

[2020-07-10 19:36] Gittenburg commented on #14076
Ok, so I assume the relevant feature request is #1739.

[2020-07-10 19:44] Gittenburg opened #15753 "Align UI terminology with other chat apps"
* IRC: You join a channel. You part a channel. You send private messages.
* Slack: You join a channel. You leave a channel. You send direct messages.
* Mattermost: You join a channel. You leave a channel. You send direct messages.
* RocketChat: You join a channel. You leave a channel. You send direct messages.
* Zulip: You subscribe to a stream. You unsubscribe to a stream. You send private messag

[2020-07-10 19:52] timabbott commented on #15753
I don't think we want to align "topics" => "threads" -- the "threads" features are very different.  But "stream" => "channel" is one that I'd like to do if we can figure out a plan that isn't unbelievably painful for doing so (UI changes are not too bad, but we need a plan for having the API eventually not be entirely inconsistent with the terminology).

[2020-07-10 19:54] Gittenburg commented on #15753
Yeah I agree about topics being different than threads, you could describe them as "threads on steroids." :laughing:

[2020-07-10 20:14] Gittenburg opened #15754 "compose: Replace stream / topic URLs with our mention syntax"
When pasting URLs to streams / topics of the current organization, they should be automatically prettified by the compose frontend. For example:

`https://chat.zulip.org/#narrow/stream/101-design` -> `#**design** `

`https://chat.zulip.org/#narrow/stream/101-design/topic/Rename.20.22Add.20streams.20.22` -> `#**design>Rename "Add streams "** `

The logic should take care of streams / topics that ha

[2020-07-10 20:30] timabbott commented on #15754
Yeah, agreed that this would be very nice.

[2020-07-10 20:31] timabbott commented on #14076
Yep!

[2020-07-10 20:39] timabbott commented on #9338
This probably should be demoted from being a blocker in any case; the issue was more important when it happened in more normal cases.

[2020-07-10 21:22] #15649 closed

[2020-07-10 21:49] thedeveloperr commented on #1587
Working

[2020-07-10 23:03] neiljp commented on #15753
Not to go against the current issue title, but I believe Trent mentioned something along the lines of that ideally we'd either align terms, or choose different term to make them distinct. Given that other systems don't have topics (except maybe one other?), the alternative to 'channel' seems to be to 'own' another term and work from it.

If we did the latter, my thought would be something 'fabric'

[2020-07-11 06:12] SiddharthVarshney commented on #12564
I don't see we need to close this issue coz we haven't tried it yet
Can you explain why it does not necessarily improve UX?
For long forms, I feel its definitely an improvement.

[2020-07-11 06:44] Shipow commented on #5803
Hello, I've discovered this thread by getting a notification for this issue closing: https://github.com/zulip/zulip/issues/12353#event-3534653003
I'm contributing to DocSearch project, so if you need any help, please do mention me!

[2020-07-11 07:25] Gittenburg commented on #12564
The form fits on a single screen (it has only 4 text fields), so splitting it up doesn't improve anything. Splitting up a form comes with it's own UX problems: you do not see all the info at once and have to flip between tabs. The problem with the current form is that it lacks visual hierarchy since the inputs aren't grouped, which can be easily fixed.

[2020-07-11 08:24] ryanreh99 opened #15759 "Remove the persistent savings indicator text after a successful response."
![indicator_bug](https://user-images.githubusercontent.com/40122794/87219985-bac4a800-c37d-11ea-9a08-c6cafcbeb272.gif)

As shown in the gif above, the "Saved" text re-appears after fading out and just stays there.
The previous behaviour was that, on successful response the container faded out.
While for an error response it remained.
Introduced in https://github.com/zulip/zulip/commit/f97d35ebd244

[2020-07-11 11:24] hardikkat24 commented on #15731
I think that this is not particular with "add streams" link. It creates a scroll bar but it does not hide that link.

[2020-07-11 11:59] thedeveloperr commented on #15448
https://github.com/zulip/zulip/pull/15722 solves this.

[2020-07-11 12:25] YashRE42 commented on #15753
There was some very brief discussion on PM vs DM [here](https://chat.zulip.org/#narrow/stream/101-design/topic/.22Private.22.20vs.20.22Direct.22).

Also Discord: You leave and join servers, you have text channels and voice channels, seeing or not seeing channels is achieved by roles/permissions. You send Direct messages.

[2020-07-11 13:57] thedeveloperr commented on #1587
@timabbott
I want to confirm if any of below line pattern is spam according to you ?
[code]

[2020-07-11 14:03] thedeveloperr commented on #1587
https://gist.github.com/thedeveloperr/cdc55a319d1782d12e5442c2b6c0125d/revisions

Here is the current potential spam I found. Please take a look at it once and flag any lines which should not be considered spam.

[2020-07-11 16:13] amanagr commented on #15731
Yeah, this needs a more general solution for "Add streams" including the normal view too.

[2020-07-11 17:06] udkumar opened #15760 "Can we do limit user per organisation?"
How I can add limit users per organization? I mean when I am configuring new organization I want to add user limit.

Organisation A can add maximum X users.... and so on...

[2020-07-11 17:33] ritikchauhan-01 commented on #15689
@zulipbot commit

[2020-07-11 17:33] ritikchauhan-01 commented on #15689
@zulipbot claim

[2020-07-11 18:23] hardikkat24 commented on #15731
Any suggestions?

[2020-07-11 20:49] hardikkat24 commented on #14991
@zulipbot claim

[2020-07-11 21:04] varkor opened #15761 "Alert words are not shown in @ Mentions"
The description for alert words says:

I take this to mean that they appear in the @ Mentions panel, but it appears that they are only highlighted. I'm not sure if this is expected behaviour or not, but it's only a helpful feature if I can see mentions in one place, as there's often too many messages to keep track of manually.

[2020-07-12 09:22] hardikkat24 commented on #15731
@amanagr should this issue be closed?

[2020-07-12 11:32] amanagr commented on #15731
I think we can leave this open until we have some input from @timabbott in https://chat.zulip.org/#narrow/stream/101-design/topic/Rename.20.22Add.20streams.20.22 for some concrete direction for this. We definitely need to improve things here.

[2020-07-12 11:40] hardikkat24 commented on #15731
Okay

[2020-07-12 11:52] hardikkat24 commented on #15731
@zulipbot abandon

[2020-07-12 14:05] Eugene9999 commented on #11348
Setting the link of my chat inside of an iframe, gives an error. I do understand that I have to do an extra work with authentication but where to start from. Any hint?

[2020-07-12 14:42] Gittenburg commented on #15760
I don't think that's currently possible. Could you explain why you want this feature?

[2020-07-12 15:12] Gittenburg commented on #15761
Thanks for reporting this! Zulip distinguishes between @ Mentions and Alert words. The @ Mentions narrow (`is:mentioned`) only shows @ Mentions. Alert mentions are shown in the Alerted messages narrow (`is:alerted`), which is only accessible by searching for it.

I am labeling this as an UX issue since it's unintuitive: users will generally expect "Mentions" to also show alert word mentions (which

[2020-07-12 21:00] hardikkat24 commented on #15208
@timabbott Is this feature still required?
I would like to work on this.

[2020-07-12 23:06] thedeveloperr opened #15768 "popovers bug: Focused element not highlighting in popover menu."
Notice the left chat menu and the value of `document.activeElement` [live expression](https://developers.google.com/web/tools/chrome-devtools/accessibility/focus) in chrome console opened in right.

As you can see the element is getting focus (value of document.activeElement is changing constantly as I move my up down arrow keys in keyboard) but for some reason the highlight is not happening.

Ste

[2020-07-13 05:08] retep998 opened #15770 "All messages view always starts at a certain day for me"
I've been using the `rust-lang` zulip for some months and recently every time I open Zulip the all messages view starts at June 19 at specifically [this message](https://rust-lang.zulipchat.com/#narrow/stream/122649-announce/topic/new.20streams/near/201404922). I don't know why it is stuck there and even when I scroll down to the very bottom, the next time I reload zulip it pops right back up ther

[2020-07-13 09:33] DavidBM commented on #11440
That would be good enough for now to be honest

[2020-07-13 09:47] bartstroobants commented on #15743
I have the same problem suddenly since a couple of days, running the same Ubuntu version (18.04.4).
Locale was originally set to C.UTF-8, I switched it to 'nl_BE.UTF-8' but same error.

[2020-07-13 11:42] garg3133 commented on #15759
@zulipbot claim

[2020-07-13 11:43] palashcode commented on #15331
@zulipbot claim

[2020-07-13 12:22] cdebroncas commented on #15743
Thank you!! bartstroobants, IT WORKS!. Thank you, Tim!

[2020-07-13 13:09] garg3133 commented on #15759
Which tool can I use to create a gif of result as in the first comment?

[2020-07-13 13:12] ryanreh99 commented on #15759
@garg3133 https://zulip.readthedocs.io/en/latest/tutorials/screenshot-and-gif-software.html

[2020-07-13 13:32] pachi commented on #15770
Same here. I'm using the web client (Firefox) and whenever I open its tab I always get to an old point in time (always the same).

[2020-07-13 15:58] transferkraM opened #15772 "psycopg2.errors.UniqueViolation duplicate key value violates unique constraint"
Hey guys,

might be related to #10579.

* git: 2b95f54593a2d226c25b0a24a4b85a44399c24de (2.1.4)
* two realms
* account `zulip.zerver_userprofile`.`email` are all like `userNN`@domain.tld

When inviting a new user via email clicking the registration url results in http 500 internal server error. As I delegated admin control to non-tech guys I'm unaware what might have happened.

What I see from the