[2020-03-14 12:53] fzyzcjy opened #14199 "Code style - curious about why put all database interaction code into `actions.py`?"
Thanks for the excellent app! After reading the [tutorial](https://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html), I am very curious about why put all database interaction code into `actions.py`? IMHO, people often talk about the "repository/DAO layer" (in Java) which is a whole folder of code (instead of one file) doing database interactions. So I would appreciate it if I cou

[2020-03-14 13:09] abhinav824 commented on #14171
@punchagan I've integrated Semaphore 2.0 and tested it locally (using devtools), tests are also running without any fail.
I've generated the links to commit/pull request using the commit-id/pull_request-number and this should work if we get correct data in payload.
Please review this PR.

[2020-03-14 18:42] timabbott commented on #14199
The main motivation for not splitting `actions.py` has been to make it fast to find a given `send_event` call using in-file search in an editor for a given event type.

We will likely choose to split it into a folder sometime in the future, perhaps by top-level event type (e.g. the `realm` event type bundle being one file).

The same could make sense for `models.py`, to create e.g. `models/realm.p

[2020-03-14 20:02] shubhamgupta2956 commented on #12617
@zulipbot claim

[2020-03-14 20:30] shubhamgupta2956 commented on #12617
After searching for a while on color variable naming, I got some naming method:-
* Naming based on the color (I got this site as a tool to get color names from many sources - [name that color](http://chir.ag/projects/name-that-color/#102541)). We can also use built-in scss functions to get colors with really close values. For example:-
#303030 and #292929 gets the same value from [name that color]

[2020-03-14 20:51] arunikayadav42 commented on #14007
I am working on this issue.

[2020-03-15 00:04] fzyzcjy commented on #14199
Thanks very much!

[2020-03-15 00:04] #14199 closed

[2020-03-15 05:21] Jagansivam28 commented on #12424
@thedeveloperr are you still working on it ?

[2020-03-15 05:50] ab1nash commented on #13642
@zulipbot still working on it

[2020-03-15 07:06] Jagansivam28 commented on #13923
@zulipbot claim

[2020-03-15 07:06] Jagansivam28 commented on #13923
@ab1nash  ok thank you !

[2020-03-15 07:37] prajwal2100 commented on #14140
i would like to work on this issue

[2020-03-15 07:40] arunikayadav42 commented on #14140
@prajwal2100 I already have made a PR. welcome to the community. You can go ahead to find some other issue :)

[2020-03-15 08:10] Jagansivam28 commented on #12769
@zulipbot claim

[2020-03-15 10:04] prajwal2100 commented on #13900
@zulipbot claim

[2020-03-15 10:04] prajwal2100 commented on #13900
i would like to work on this issue

[2020-03-15 11:41] orientor commented on #14188
@zulipbot claim

[2020-03-15 20:52] maltokyo commented on #14136
Hi @timabbott this only turns off weekly digest emails. And users themselves can still opt in to get emails for every single message. The turn off digests setting above didn't change that at all and people still get emails. Is there some way to turn off all emails that have any posting content? Obviously emails to reset passwords etc still need to go out so I can't turn it off all together. Lookin

[2020-03-15 21:04] maltokyo commented on #14138
Hi @timabbott and @hackerkid

The old server had both 1 and 2 folders with photos inside 100s of other random folder names. So it seems the multiple realms were generated with the original install. That's assuming the 1 and 2 are related to realms which I'm not sure of.

Only folder 2 was migrated in the tarball. The 1 folder wasn't included. So the new server only had 2 folder when I started it u

[2020-03-15 23:07] vaibhavrajsingh2001 commented on #12614
@gnprice @timabbott instead of giving a background color, we could just give the give a font color and increase font weight.
![image](https://user-images.githubusercontent.com/47082523/76712530-de654200-673f-11ea-8bc7-fc1d52d5f941.png)

[2020-03-15 23:25] cchloet commented on #3938
@zulipbot claim

[2020-03-16 10:00] singhsourabh commented on #13960
@zulipbot claim

[2020-03-16 10:03] singhsourabh commented on #13960
@majordwarf are you still working on this issue?

[2020-03-16 10:06] majordwarf commented on #13960
@singhsourabh  Yep, got busy due to exams for a few days so a bit slow on progress. I guess I'll open a thread on Zulip so anyone from community can revert to the issue I stated above.

[2020-03-16 13:51] prajwal2100 commented on #14160
i would like to work in this issue

[2020-03-16 14:07] Abhishek-Balaji commented on #13080
@arpit551 Hi, are you still working on this? Your PR was inactive for some time and would like to know if I can work on it.

[2020-03-16 14:08] prajwal2100 commented on #13720
i would like to work on this issue

[2020-03-16 14:23] prajwal2100 commented on #12614
i would like to work on this issue !!

[2020-03-16 14:45] Abhishek-Balaji commented on #4627
@zulipbot claim

[2020-03-16 15:27] arpit551 commented on #13080
@Abhishek-Balaji  Sure you can, actually I got busy with another issue so it might take time for me to come back to this. Though I would suggest you to check the PR first as the method discussed here was not quite productive so we have to completely change the approach for this issue. So its better to discuss it with Tim first about the approach.

[2020-03-16 16:34] shubhamgupta2956 opened #14215 "Documentation error in people.js"
[code]
The above function in `static/js/people.js` gives the count of number of active people in the realm with bots included but the documentation says that it excludes the bots count.

[2020-03-16 16:34] shubhamgupta2956 commented on #14215
@zulipbot claim

[2020-03-16 23:25] orientor commented on #14188
@gnprice should I add the descriptions in the [/events](https://zulipchat.com/api/get-events-from-queue) docs?

[2020-03-17 00:13] DilumAluthge commented on #106
Any update on this?

[2020-03-17 00:56] gnprice commented on #14168
That upstream PR python-social-auth/social-core#409 is now merged! Part of a big batch of changes the maintainer merged over the past couple of days. So hopefully that will go into a release on PyPI soon; if that all works, it'll simplify things for us quite a bit.

[2020-03-17 01:33] DilumAluthge opened #14219 "Only allow full members to edit any message topics"
Currently, there are two options for community topic edits:
1. Allow anyone to edit any message topic
2. Only allow administrators to edit all message topics

Could there be a third option?
3. Allow full members to edit any message topic. New members are not allowed to edit all message topics.

[2020-03-17 05:12] Pranav2612000 opened #14220 "User info popover does not hide when clicking on menu"
Steps to reproduce:
1) Go to https://chat.zulip.org/
2) Hover over a user at the right pane of the screen
3) Click on the down-chevron to open user-information about the user
4) Without closing this popover, click on the menu gear icon at the top right corner, to open
    the dropdown menu.

Expected Behaviour: The user popover should close and only the dropdown menu should be visible
Observed Beh

[2020-03-17 05:13] Pranav2612000 commented on #14220
Working on this issue. Will submit a PR in 1-2 hours.

[2020-03-17 05:24] priyanshu2612 commented on #14187
Can you post some screenshots to understand better?

[2020-03-17 06:15] Centril commented on #14187
Don't have time right now to create mockups / screenshots; but I'll try to give an example...

Let's assume these are the messages (**_bold italic_** means selected):

1. Alpha
2. Beta
3. Gamma
4. Delta
5. Epsilon
6. Zeta

We CTRL+LEFT_CLICK 1. and we get:

1. **_Alpha_**
2. Beta
3. Gamma
4. Delta
5. Epsilon
6. Zeta

At this point, having selected something, we also get a panel above the message i

[2020-03-17 09:03] kwkkwok opened #14223 "Account ID issue from jira"
accountids are returned instead of user names during "@" mentions in jira.

![image](https://user-images.githubusercontent.com/7378440/76839773-11f3b980-6871-11ea-8ecb-f0eaa5baea19.png)
![image2](https://user-images.githubusercontent.com/7378440/76839780-14eeaa00-6871-11ea-9cef-947bc0d47d92.png)

Please find the announcements from atlassian here:
[API changes from Atlassian](https://developer.atla

[2020-03-17 10:23] c-schmitz commented on #7330
We have used Zulip as work chat tool.

With Corona hitting the companies and alot of people staying in home office a voice chat tool or a proper integration with an external voice chat tool (like Skype) is currently becoming mission critical.

[2020-03-17 11:31] timabbott commented on #13960
Fundamentally, the right fix for this is to just add support for the event type in question.

[2020-03-17 11:50] timabbott commented on #14223
@kwkkwok can you try using a service like https://requestbin.com/ to generate a fixture containing the data for a request in question, and post an anonymized version here that we can use for testing?

I'm not sure whether you have privacy settings configured in a way that results in the webhook request only containing that `accountid:id` string to identify the user.

[2020-03-17 11:58] majordwarf commented on #13960
On it after I push my changes to some existing PRs.

[2020-03-17 12:28] vaibhavrajsingh2001 commented on #14136
@timabbott he wants to turn off email-notification settings (for mentions and stream notifications) for all users. We don't have a provision for that. Meanwhile, should I document the digest emails setting?

[2020-03-17 12:41] #14120 closed

[2020-03-17 12:44] #13874 closed

[2020-03-17 13:02] timabbott commented on #14136
@maltokyo makes sense.  The easiest way to do that, at present would be to just not run the queue worker for this.  Are you self-hosting?

If so, you can arrange that temporarily with:
`supervisorctl stop zulip-workers:zulip_events_missedmessage_emails`

But the right longer-term workaround would involve a small fork of Zulip that removes that queue worker (or makes it discard events).  I can open

[2020-03-17 13:56] Jagansivam28 commented on #12769
I'm leaving this issue to claim other issue

[2020-03-17 14:04] Jagansivam28 commented on #12555
@zulipbot  claim

[2020-03-17 14:13] ahmedreda97 opened #14226 "Error 19 from flush_all authentication failure memcached"
Trying to install the server locally on a ubuntu 18.04 VM with 4GB of RAM with the following command

`sudo -s ./zulip-server-*/scripts/setup/install --self-signed-cert --email=${EMAIL} --hostname=${HOSTNAME}`

It produces the following error and i can't find any more details

<img width="712" alt="Screen Shot 2020-03-17 at 4 11 32 PM" src="https://user-images.githubusercontent.com/21984612/768645

[2020-03-17 14:48] maltokyo commented on #14136
Hi @timabbott @vaibhavrajsingh2001
Many thanks for the advice. Indeed I thought the "turn of digests" setting would do exactly that (stop the missed message emails etc). What does it do exactly then?  Will turning off the queue also stop email reset (administrative) emails? These are still needed.

[2020-03-17 16:36] aero31aero opened #14228 "Improve UX for bots in (Group) PMs."
Currently, if you are talking to someone on Zulip, when you mention a bot, the bot replies and spawns a new conversation.

[code]

One possible fix for the whole problem is making these 4 changes:

1. If the sender is a bot, the server shouldn't add the sender to the recipient list.
2. The python-zulip-api shouldn't remove the sender's name when using 'send_reply'. https://github.com/zulip/python-

[2020-03-17 16:45] aero31aero opened #14229 "Process message edits to poll messages properly"
Currently, when we remove all the content from a `/poll Poll Title` message, the message text correctly changed to `(deleted message)` but the poll stays visible and interactive. We should accordingly delete (or hide) the poll widget as well.

Similarly, if the message is edited to say `/poll New Title`, we should maybe recompute the poll title accordingly.

This was reported [here](https://chat.z

[2020-03-17 18:19] jiviteshjain commented on #11665
@timabbott @rishig
I was able to partially reproduce the issue in development. The messages disappear from the chat immediately, but the topic stays on the sidebar until a reload.

## Steps
1. Login as Aaron, post a message under a new topic in some stream
2. Logout, Login as the administrator user Iago
3. Go to the particular stream. You'll see the message. Use the chevron menu on the topic to de

[2020-03-17 19:11] #14175 closed

[2020-03-17 19:27] jiviteshjain commented on #11665
@timabbott @rishig
I was able to partially reproduce the issue in development. The messages disappear from the chat immediately, but the topic stays on the sidebar until a reload.

## Steps
1. Login as Aaron, post a message under a new topic in some stream
2. Logout, Login as the administrator user Iago
3. Go to the particular stream. You'll see the message. Use the chevron menu on the topic to de

[2020-03-17 20:05] shubhamgupta2956 commented on #12528
I am working on refactoring `static/styles/left-sidebar.scss`

[2020-03-17 20:19] showell commented on #14229
I agree that this should apply to all widgets (so tictactoe, todo, poll, etc.).  It should be roughly a one-line change, but figuring out where that one line is will be easier for somebody who knows the widget system a little.

[2020-03-17 20:44] showell commented on #14228
This is a great idea!

[2020-03-17 21:02] SiddharthVarshney commented on #13622
submitted a PR #14128
@zulipbot abandon

[2020-03-17 21:33] vaibhavrajsingh2001 commented on #14229
@zulipbot claim

[2020-03-17 23:42] kwkkwok commented on #14223
Hi @timabbott,

Thank you for responding. I’ve set up the requestbin, but I can’t find the “nickname” field in the messages.

I’ve logged a ticket with Atlassian to see if the privacy settings have been misconfigured.

Will update if I have further information

[2020-03-18 09:37] Udit107710 commented on #13086
@timabbott
Did you take a look at this?
Should I take the issue up if it has not been fixed?

[2020-03-18 10:04] cctor commented on #13806
I met the same error.
**LOG**:
`Collecting xmlsec==1.3.3
    ......
    ERROR: Could not find a version that satisfies the requirement lxml>=3.0 (from versions: none)
    ERROR: No matching distribution found for lxml>=3.0`
CLOUD SERVER SUPPLIYER: Alibaba

[2020-03-18 10:32] cctor commented on #13806
I solved this problem(in my case).
In the file **/root/.pydistutils.cfg**, change the value of **index-url**:
[code]
In fact, during installing, there's a message:
`Please make sure you remove any previous custom paths from your /root/.pydistutils.cfg file`

[2020-03-18 11:28] rht commented on #13806
@cctor but that sounds like https://mirrors.aliyun.com/pypi/simple/ is still a custom path. What happen if you comment out index-url completely?

[2020-03-18 13:27] showell commented on #4627
For V1 I think it's fine to have a 1:1 mapping between linkifier and stream, from a UI perspective.  We should allow the same linkifier to be used for multiple streams, but we don't need UI support for that--just don't do anything to prevent that.

[2020-03-18 14:39] ab1nash commented on #13923
@Jagansivam28 check out `js/user_events.js` and `js/people.js`. You possibly have to add these checks when a new user is created and when some user modifies their username.

[2020-03-18 14:48] priyank-p commented on #13167
@gnprice @timabbott

Currently `sender`, `group-pm-with`, and `stream` support passing single ID whereas `pm-with` does not support passing a single user ID.

The docs (vaguely?) convey that one can pass a single user ID to `pm-with`:

So we should fix this. Also, I will try to see if I can tweak the structure of construct narrow docs to make it super clear what exactly and in what format it like

[2020-03-18 15:12] showell commented on #14188
This may be a challenging issue for newbies.

[2020-03-18 16:45] leslieATavail commented on #10208
I request this feature too! Our server has over 300 users so the scrollable area of the USERS pane usually displays 40-50 active users from just the start of the alphabet. I would like to know the active-vs-idle status of users in my currently-selected stream.

Proposal:
- When "All messages" selected, no change (user list remains "USERS")
- When a stream or topic is selected,
-- Show a "STREAM US

[2020-03-18 16:50] prajwal2100 commented on #14160
I have submitted a pull request with the functionality with not more design
will work on the design and get give the final submittion

[2020-03-18 19:42] shubhamgupta2956 commented on #14215
@zulipbot abandon

[2020-03-18 21:03] vaibhavrajsingh2001 commented on #14136
@maltokyo the digest emails are more of a newsletter than notifications about places the user was specifically mentioned. So disabling it won't actually promote usage of the web and mobile apps as such.

[2020-03-19 04:30] adithyay328 commented on #13923
@zulipbot claim

[2020-03-19 04:31] adithyay328 commented on #13923
@ab1nash I think I'll take this over. I'm new here, but this really doesn't look too bad.

[2020-03-19 04:34] ab1nash commented on #13923
@adithyay328 sure! I'm not working on it anyway. That comment was meant to help @jagansivam28 who is (or was?) working on this

[2020-03-19 06:12] niravasher commented on #10255
@zulipbot claim

[2020-03-19 07:44] Jagansivam28 commented on #12555
I made a pull request I'm leaving this issue to claim another issue

[2020-03-19 07:44] Jagansivam28 commented on #12555
@zulipbot abandon

[2020-03-19 09:16] nivashiot opened #14245 "How can i brand my zulip organisation in the main landing page."
How can i change my landing page of zulip home page with login and signup.

[2020-03-19 11:53] aero31aero opened #14246 "typeahead: Properly handle custom triggers."
We have a kind of elusive bug in our custom typeahead triggers that is applicable only for characters that require two keypresses to type and is only exhibited usually when you're typing fast enough.

It just so happens that the only custom trigger we currently use is `>` for triggering the stream-topic typeahead, and pressing it is a combination of two keys: `Shift` + `.`.

Here's how the current

[2020-03-19 12:57] hackerkid commented on #14138
@maltokyo Thanks a lot for sharing the details. Let me summarize what I understood so far. Correct me if I got anything wrong. Also please confirm the questions that I asked.

1. You created a new Zulip installation in a dedicated server using the method recommended in https://zulip.readthedocs.io/en/latest/production/install.html.
Lets call this `Old Instance`

   I would like to know which Zulip

[2020-03-19 12:59] Wowol commented on #13413
I'm still working on this issue.

[2020-03-19 14:29] ab1nash commented on #13642
@chrisbobbe please take a look at it. Thanks

[2020-03-19 14:45] schesnel opened #14251 "Slack integration - Outgoing"
Hi,

I try to integrate integration with slack.
Incoming Webhook work fine.
Outgoing Webhoot not working.
I have this error:

A message triggered an outgoing webhook.
The webhook got a response with status code 403.
The response contains the following payload:

b'invalid_token'

Do you avec a idea ?

[2020-03-19 16:41] ab1nash commented on #14099
I want to take it up in case @SivaGanapathy98 isn't working on it anymore

[2020-03-19 17:13] ab1nash commented on #14099
@timabbott it seems that the last commit on that repo is from 2016, but it feels pretty robust nevertheless. Also, it seems pretty customizable. I think we should go ahead and try integrating it

[2020-03-19 17:42] eval opened #14254 "search-url containing 'exclude stream', incorrectly reconstructs search"
Steps to reproduce (on web):
* search for `-stream:zulip` (ie excluding a stream)
* the url changes to `https://clojurians.zulipchat.com/#narrow/-stream/150796-zulip` and results show up
* when I do a page reload, I see the search-box now contains `-stream:150796-zulip`, and no results are found

What I would expect is that the url would correctly reconstruct the search, and yield the same results

[2020-03-19 17:56] SivaGanapathy98 commented on #14099
@zulipbot claim

[2020-03-19 17:58] SivaGanapathy98 commented on #14099
Hi @ab1nash . I have made changes using mailcheck plugin. I have created pull request for it. Thanks for your valuable suggestion.

[2020-03-19 18:12] aero31aero opened #14255 "docs testing: Workaround the ratelimitting on Github Links."
Recently, we have had quite a lot of failures in CI due to HTTP 429 Too Many Requests error from our `github.com/zulip` links. After this was reported in [# automated testing](https://chat.zulip.org/#narrow/stream/43-automated-testing/topic/github.2Ecom.20rate.20limiting), we merged a fix: b25e02aa1443cc35390ffbd6fba478ca1d08413c.

We should try to figure out a way to properly test GitHub links in

[2020-03-19 19:03] vaibhavrajsingh2001 commented on #14136
@timabbott made #14258 for the documentation issue.

[2020-03-19 20:20] hmgaudecker opened #14260 "Cannot rename stream with long name"
Expected behaviour: Click on pencil next to the stream name to rename.

![image](https://user-images.githubusercontent.com/158456/77110920-a81d1080-6a26-11ea-93d3-53bfec70ce54.png)

Actual behaviour if the name is too long:

![image](https://user-images.githubusercontent.com/158456/77111006-d39ffb00-6a26-11ea-9759-cc99254e0ab0.png)

The pencil disappears behind the "Unsubscribe" button. Same behav

[2020-03-20 01:59] minusworld opened #14264 "Zulip improperly uses `lstrip` to remove prefix in development integrations"
Hello,
While [scanning a bunch of code](https://app.r2c.dev), I came across https://github.com/zulip/zulip/blob/master/zerver/views/development/integrations.py#L76 which uses `lstrip` to remove a prefix from HTTP headers.

`lstrip` is misleading -- `lstrip` removes a **set**, not a **sequence**, of characters from the left side of the string. (https://docs.python.org/3/library/stdtypes.html#str.ls

[2020-03-20 03:17] enpuyou commented on #3128
@zulipbot continue working on it. Trying to pass a few builds

[2020-03-20 08:38] amanagr commented on #6605
@zulipbot claim

[2020-03-20 09:58] jeroenes opened #14266 "Installation on VPS / cloud server fails in multiple ways"
Hi,

First of all: thanks a lot for zulip. I am still testing it, but it is a fantastic collaboration tool, much needed in these corona times....

I have been attempting to install zulip on a cloud server, virtual private with a local provider. I started off with installing jitsi-meet. Right now I moved to install zulip. But it appeared a hard nut to crack. The installation script has failed many

[2020-03-20 10:42] Jagansivam28 commented on #10617
@zulipbot claim

[2020-03-20 13:49] vaibhavrajsingh2001 commented on #14260
@hmgaudecker thanks for reporting! This issue will be resolved once #13995 gets merged.
CC: @timabbott

[2020-03-20 13:53] harshit1698 commented on #13737
@zulipbot claim

[2020-03-20 14:05] hashirsarwar commented on #10794
@zulipbot claim

[2020-03-20 14:26] showell opened #14269 "topic edits: Prevent local-echo glitches when editing topic + composing simultaneously"
This is a relatively obscure bug that probably doesn't impact many users, but debugging it may not only fix the symptom but reveal some ways we can simplify and improve the code around topic edit...

@whoodes has reported strange behavior when you try to simultaneously edit a topic and send a message.

The steps to reproduce the bug are here:

https://chat.zulip.org/#narrow/stream/9-issues/topic/p

[2020-03-20 15:54] ab1nash commented on #14097
@whoodes I'd like to work on this

[2020-03-20 16:44] ab1nash commented on #14097
So just to be clear, every topic should be editable by everyone right?

[2020-03-20 17:24] whoodes commented on #14097
Hey @ab1nash go for it! It'd be great to get this resolved.

I believe there is a setting for who can edit realm topics. And right now, on czo for example, anyone can edit any topic but sometimes the edit pencil isn't visible.

If you go looking on chat.zulip.org, you should see what I mean.

[2020-03-20 17:58] ab1nash commented on #14097
@whoodes I believe this TODO is causing the bug in question.
![Screenshot from 2020-03-20 23-23-02](https://user-images.githubusercontent.com/41019632/77192306-58137c00-6b02-11ea-844c-55c5d76ef0ff.png)
Here's how the editablility changed after changing the 86400 to 86400000
Before:
![Screenshot from 2020-03-20 23-24-52](https://user-images.githubusercontent.com/41019632/77192350-6cf00f80-6b02-11ea

[2020-03-20 18:03] ab1nash commented on #14097
A quick fix would be doing exactly this (changing the 86400 to some arbitrary large value) but I think I should go ahead and try to implement this feature of edit limit

[2020-03-20 18:33] showell commented on #14260
@vaibhavrajsingh2001 I assigned this to you, even though it's fixed, just to make it obvious other folks don't need to work on it.

[2020-03-20 18:33] showell commented on #14260
I mean "pending a fix".

[2020-03-20 18:42] hmgaudecker commented on #14260
Thanks!!! Sorry I missed that one, I only searched for "rename long stream name" and it did not pop up...

[2020-03-20 18:54] showell commented on #14254
@eval Thanks for the report!

I think the fix is something like this, but I need to test it manually and add an automated test:

[code]

[2020-03-20 19:02] Abhishek-Balaji commented on #8170
@zulipbot claim

[2020-03-20 21:08] whoodes commented on #14097
Edit: So, after looking at this a bit more, @ab1nash, I don't think there is anything wrong with the referenced commit.  We might want to check and see if my memory serves me correctly (that czo allowed topic editing for > 24hr), otherwise this might be a Won't Fix. (Still that TODO is probably worth working on.)

[2020-03-20 21:38] whoodes commented on #14097
Closing as a Won't Fix, due to the reasons above.

[2020-03-20 21:38] #14097 closed

[2020-03-20 21:39] showell opened #14274 "Add sections to "Organization Permissions" panel"
This change requires some design decisions that should be signed off before you begin serious work on improving the code.  (Quick prototypes are more than welcome, they just might not be merged.)

Right now some of the settings like "Who can access user email addresses" are pretty far down from the "Save" button.  If you're on a laptop, it might not be obvious you need to hit the save button.

For

[2020-03-21 02:16] Abhishek-Balaji commented on #9229
@zulipbot claim

[2020-03-21 04:28] jcharaoui commented on #10879
I was hit by a similar issue recently with Zulip unable to send emails of a bogus/deleted account. The `deliver_email` task kept spawning in a loop, draining considerable CPU resources from the server.

`/var/log/zulip/events_deliver_enqueued_emails.log` filling up with:
[code]
I fixed it using `ScheduledEmail.objects.all().delete()` suggested by @timabbott

[2020-03-21 11:57] Abhishek-Balaji commented on #12614
@jmandel https://chat.zulip.org/#narrow/stream/101-design as discussed here, should we go with the color @vaibhavrajsingh2001 had suggested in the image above?

[2020-03-21 11:58] showell commented on #14245
@nivashiot  You can change your organizations' profile picture by choosing "Manage Organization" from the gear menu in the top right corner and then going to "Organization Profile."

![image](https://user-images.githubusercontent.com/142908/77225848-823c5c80-6b49-11ea-9569-98f89eaf56b9.png)

[2020-03-21 12:06] showell commented on #14187
This issue is related in terms of any UI work we do here:
https://github.com/zulip/zulip/issues/6427

[2020-03-21 12:12] showell commented on #14187
The current UI definitely favors moving contiguous chunks of conversation from one topic to another.  This is generally a good thing, as you don't want to put somebody's response to a previous message out of context (by moving the previous message to another topic).  Of course, I am going to guess what @Centril is encountering is situations like this:

* Alice, Bob, Cari, and Dave start talking ab

[2020-03-21 14:10] showell opened #14279 "user reactivation: Be sure to preserve last-active-date"
When we deactivate and then immediately reactivate a user, something like this may happen (not sure on exact details):

* during deactivation, we drop the presence info
* during reactivation, we don't include presence info in the **events** for reactivating the user
* we re-draw the list of users in settings before presence info comes back through the normal mechanism

If you work on this, step on

[2020-03-21 14:12] showell commented on #14279
For the same reasons, probably, the buddy list does not immediately reflect the new user upon reactivation.  We should fix that, too.

[2020-03-21 14:30] Ishita1608 commented on #974
i want to work with this issue.
@zulipbot claim

[2020-03-21 14:39] jmandel commented on #12614
In the suggestion at https://github.com/zulip/zulip/issues/12614#issuecomment-599277592 I can read the highlighted word, so it meets my most critical requirement. But it doesn't stand out *nearly* as much as a properly contrasty highlight does.

[2020-03-21 14:49] Abhishek-Balaji commented on #12614
@jmandel Do you have any suggestions for the solution?

[2020-03-21 14:53] jmandel commented on #12614
My suggestion would be to use background colors, and have each theme define its own. "doesn't blend in the UI that well" doesn't seem like enough of a problem to trump accessibility, especially if the feature is rarely used anyway

[2020-03-21 15:04] showell commented on #14187
I think the other option to consider here (which is not mutually exclusive with this at all, and might be synergistic) is to have drag&drop capabilities between the message list and the left sidebar.

[2020-03-21 15:57] showell commented on #14160
@MasonProtter Can you explain your use case for hiding the buddy list?

* want more space for message view?
* avoid distractions?
* privacy?
* all of the above

We haven't heard this kind of feedback much in the past, so I'm not sure how high priority a fix this will be.  It's not clear, for example, what we would show in the right panel instead (unless you're proposing to just widen the message p

[2020-03-21 16:13] ab1nash commented on #4145
The thresholds are as follows:
Mobile view popover: <=320px
Narrow view : <=1165px
Normal view: >1165px
Test images:
Mobile view:
![Screenshot from 2020-03-21 21-37-41](https://user-images.githubusercontent.com/41019632/77230768-979e9e80-6bbc-11ea-8e27-fc18b2686d31.png)
Narrow view:
![Screenshot from 2020-03-21 21-38-01](https://user-images.githubusercontent.com/41019632/77230770-99686200-6bbc-11e

[2020-03-21 16:31] MasonProtter commented on #14160
Personally, it doesn't bother me me much, but many of the people in a Zulip server I administer have complained about this to me so I thought I'd open an issue.

I think the main thing is that Zulip is already a bit visually noisy for some tastes and having a list of names with coloured dots adds to that noise and at least people coming from Slack aren't used to really caring about who is online a

[2020-03-21 16:55] Udit107710 commented on #13828
@zulipbot  claim

[2020-03-21 20:49] Centril commented on #14187
Yeah, pretty much this.

This would also be great. 👍

[2020-03-22 11:54] pragatiagrawal31 commented on #12182
@zulipbot claim
 started working on this

[2020-03-22 15:49] shubhamgupta2956 commented on #9259
@zulipbot claim

[2020-03-22 17:37] Abhishek-Balaji commented on #9229
@timabbott Could you please elaborate on the glitches in the CSS part? I understood the idea behind a preview.

[2020-03-22 17:55] #14215 closed

[2020-03-22 18:29] #14254 closed

[2020-03-22 18:32] #14264 closed

[2020-03-22 18:32] timabbott commented on #14264
@minusworld thanks for the report!

[2020-03-22 18:44] yugdeep17 commented on #10208
@zulipbot Can we show only Subscribed Stream Users in the Right Pane?
We do not want to show all the Organization list to a member.

Is there any Way?

[2020-03-22 18:48] yugdeep17 commented on #236
@timabbott  Can we show only Subscribed Stream Users in the Right Pane?
We do not want to show all the Organization list to a member.

Is there any Way?

[2020-03-22 19:00] timabbott commented on #14274
The "other permissions" catch-all section has grown significantly and should either be split or changed to have each individual widget have its own save/discard buttons.  I'm not sure which is better.

The simplest near-term change is to reorganized the options in "Other permissions":

Move these to "Joining the organization":
* Waiting period before new members turn into full members
* Waiting pe

[2020-03-22 19:16] SiddharthVarshney commented on #14274
@zulipbot claim

[2020-03-22 19:24] timabbott commented on #10607
@synicalsyntax did we end up fixing this through a new version of #10613?

[2020-03-22 19:24] timabbott commented on #10607
I just fixed this having been misfiled in our issue tracker.

[2020-03-22 21:55] clarammdantas opened #14290 "Avatar picture not being correctly updated on change"
If a user changes its avatar, their avatar on messages are being updated, but not the popover-avatar.

![Captura de tela de 2020-03-22 18-50-51](https://user-images.githubusercontent.com/15564640/77261642-b2c9e680-6c6e-11ea-9866-ad86a8f1ec3b.png)

[2020-03-22 21:56] clarammdantas commented on #14290
@zulipbot claim

[2020-03-22 22:09] eval commented on #14254
Thanks for the fix @showell!

[2020-03-22 22:14] timabbott commented on #10610
This was fixed by shrinking the emoji in f644f5fc2cc619141a6e0df78d68cab1044896d8.

[2020-03-22 22:14] #10610 closed

[2020-03-22 22:15] timabbott commented on #10609
This was fixed in f644f5fc2cc619141a6e0df78d68cab1044896d8 by changing the size of our emoji.

[2020-03-22 22:15] #10609 closed

[2020-03-22 22:17] timabbott commented on #11767
@aero31aero any luck on this?  There are some third-party Python libraries worth looking at that claim to parse emoji sequences that we could look at either incorporating or borrowing logic from.

[2020-03-22 22:40] clarammdantas opened #14291 "Go back from custom avatar to gravatar should be more clear"
If you have a custom avatar and want to go back to the gravatar avatar, you need to delete your avatar. But that might not be clear to the user that.

This topic is under discussion on: [#frontend > new feature sugestion](https://chat.zulip.org/#narrow/stream/6-frontend/topic/new.20feature.20suggestion/near/836330)

[2020-03-22 23:25] Jagansivam28 commented on #12424
@zulipbot claim

[2020-03-23 00:32] timabbott commented on #12638
@chdinesh1089 having just merged #13610, it looks like only one item is left in this project; do you want to pick that up?

[2020-03-23 00:53] timabbott commented on #14160
Thanks for opening the issue @MasonProtter.  I basically agree that we should offer that sort of option (though I'm not 100% confident of the model for it).  And we've gotten more feedback on this type of request than Steve remembers :).

One consideration here is that making the message feed wider would in the screenshots above likely be a regression is the actual readability of the text; Zulip i

[2020-03-23 00:54] timabbott commented on #14251
@schesnel can you provide more detail on precisely what you're trying to do?

[2020-03-23 01:01] timabbott commented on #14255
We should be able to do some combination of skipping testing of GitHub search links and verifying the paths exist in the repository that we're testing, to fix this.

[2020-03-23 01:01] #14245 closed

[2020-03-23 01:35] chdinesh1089 commented on #12638
sure! I want to pick that up. Will submit a PR soon.

[2020-03-23 04:41] timabbott commented on #14223
If you can provide a sample Jira fixture (with data anonymized if you like), we can look at what fields are available and see if there's something reasonable we can do here.

[2020-03-23 06:37] kwkkwok commented on #14223
Hi,

Sorry for the radio silence. I'm doing a back and forth with Atlassian help desk re: the privacy settings.

The first solution offered involved exporting a list of users & their IDs from the admin user / page.

[2020-03-23 06:37] kwkkwok commented on #14223
![image](https://user-images.githubusercontent.com/7378440/77288819-9d5ac800-6d13-11ea-994d-7e887b8d515a.png)

This is a sample fixture.

[2020-03-23 06:38] kwkkwok commented on #14223
I should add the top image shows what is looks like in jira and the bottom image is the result in Zulip

[2020-03-23 06:38] synicalsyntax commented on #10607
@timabbott  No idea if there was a followup to #10613

[2020-03-23 08:42] schesnel commented on #14251
@timabbott i had configured an ingoing connexion with slack and it's worked.
All message posted on slack are available on Zulip.

I want do the same thing but from zulip to slack.
I had create a bot to send all message from zulip to slack, and i had this error:

A message triggered an outgoing webhook.
The webhook got a response with status code 403.
The response contains the following payload:

[2020-03-23 09:52] catborise opened #14295 "SAML login does not proceed"
hi, installed zulip, it works as expected with email registration.
i configure saml authentication but cannot login with saml.
i click login with saml. username password screen comes from my idp... after click to login it turns back to first login screen. then stays same login screen.  click login with saml, it does not response. not proceed...

when i look to the django log, that logs repeats whe

[2020-03-23 11:03] ToughEdgyGuy commented on #8021
This feature is very much disliked by all of my local users because it's unpredictable. It works as intent most of the time but sometimes, after opening Zulip, it jumps like 50 messages back even if you have already read them.

I would like to change it in a way that you see new messages starting with a "new messages"-line and maybe even highlight them (e.g. another background color) instead of ju

[2020-03-23 11:06] #14025 closed

[2020-03-23 12:09] catborise commented on #14295
after some searching, i found the problem.
Problem is related with attribute_names and its representations.
after changing names to oid representation. problem is solved. like below;
[code]

thanks

[2020-03-23 12:09] #14295 closed

[2020-03-23 12:10] jiviteshjain commented on #11324
The create stream modal is not the only screen with this issue.
Even the modal with list of streams is cut off from the bottom on mobile.
![photo_2020-03-23_17-39-18](https://user-images.githubusercontent.com/43912285/77315329-62658e00-6d2d-11ea-98df-8a096ba083c1.jpg)

[2020-03-23 12:22] showell opened #14298 "help center: Add docs for more Organization Permissions"
In our Help Center user documentation, we have this link:

https://chat.zulip.org/help/only-allow-admins-to-add-emoji

We should add similar links for other options:
- who can manage user groups
- who can access email addresses
- etc.

We want to be somewhat thoughtful about how we organize the links here.

Also, it's important that we either complete #14274 before you work on this, or you should

[2020-03-23 12:28] etomzak opened #14299 "Local poll title modification bug"
It's possible to locally modify the title of a poll someone else has created. The modifications appear to never be propagated to the server, so I think this is just a UI issue.

Steps to reproduce:

1. Find a poll that someone else created
2. On the poll message, click the drop-down menu icon and then `View source`
3. Click `Close`
4. A pencil icon appears next to the poll title
5. Click the penci

[2020-03-23 12:44] wryonik opened #14300 "Vagrant network issues"
Vagrant sometimes fails to connect to the internet even after a stable internet connection. Due to it, provision and many tests fail to run. More discussion [here](https://chat.zulip.org/#narrow/stream/49-development-help/topic/vagrant.20zulipdev.2Ecom/near/836797).
One such example is failure of `test-api` due to this issue. Output of error:
[code]

[2020-03-23 14:13] cchloet commented on #3938
@zulipbot abandon

[2020-03-23 15:45] swallitsch opened #14302 "REST API endpoint for looking up a user by email"
Currently the only way to lookup a user is via their internal zulip ID. In order to fetch a Zulip user by email, you'd have to fetch all Zulip users then search the payloads for the email, backtracking and then saving the zulip ID for future reference.

It'd be nice to have an endpoint which allowed searching a zulip instance for a user with a specific email, and getting the payload for that user.

[2020-03-23 15:47] swallitsch opened #14303 "Mention a user with @**emailaddress@domain.tld**"
Right now (to my knowledge?) the only way to @ mention a user is with their full name, which is a display property that can be changed. When bots need to @ mention someone, it'd be nice to be able to @ mention an email address without worrying about the display name.

[2020-03-23 15:49] swallitsch opened #14304 "Change get_user_presence endpoint to take a zulip user id, not email"
Currently the get user presence endpoint (https://zulipchat.com/api/get-presence) is the only endpoint on zulip which takes an email address. This is pretty inconsistent with the rest of the API, which only takes user_ids. Get user presence should be updated to only take the user id.

Relates to #14302 , which would allow looking up a user via email address (to get the user ID)

[2020-03-23 16:08] aero31aero opened #14305 "Double hash in stream mention."
This issue has been discussed in [this thread on chat.zulip.org](https://chat.zulip.org/#narrow/stream/9-issues/topic/double-hash.20in.20topic.20links).

Wyatt Hoodes' reproduction with stream-topic typeaheads is:

* Type the stream link
* Type some text after it.
* go back to the link
* Add the `>`
* Delete it
* Do another `>`
* The double hash appears, and the white space between the link and th

[2020-03-23 19:59] whoodes opened #14307 "search: Archived messages from "delete stream" do not appear."
Per our docs: https://zulipchat.com/help/delete-a-stream#delete-a-stream, deleting a stream doesn't really delete in that it really archives.  And thus searching these archived messages should be possible.  The issue is, right now it isn't.

This is likely due to a bug in our search implementation, and will take a bit of digging to pin down the exact cause.

[2020-03-23 20:09] timabbott commented on #14303
You can actually do it with their user ID instead, using the `@**Full Name|1234**` syntax.  That all said, if we made it a single function call to generate mention syntax give a user ID or email address  in the bot Python library, that might be a better solution.

One complication is that either version of this could only work with `EMAIL_ADDRESS_VISIBILITY_EVERYONE`; otherwise, we'd end up leakin

[2020-03-23 21:10] shubhamgupta2956 commented on #6061
@zulipbot claim

[2020-03-23 21:26] SiddharthVarshney commented on #14298
@showell I have submitted a pr for #14274
Should I go ahead and update documentation for this section also?

[2020-03-23 21:55] showell opened #14310 "Exclude deactivated users from typeaheads (particularly mentions)"
We want to exclude deactivated users from most of our typeaheads.

Some of them are already clean (only active users).

The one we most want to fix is user-mention typeaheads, since it's not unheard of for the same human to have both an active account and some old deactivated account with the same full name, and we don't want to invoke the "Steve Howell|42" hacks to disambiguate those if we could

[2020-03-23 21:55] gnprice opened #14311 "Autocomplete breaks undo"
This issue applies across stream, topic, and @-mention autocomplete.

Normally after I type some things in the compose box, or delete some things, I can hit Ctrl-Z to undo what I just did. This is a basic expected feature of a text-editing widget.

If I type `#issues`, then hit tab to complete it to `#**issues**`... now Ctrl-Z does nothing.

If I type some more, then Ctrl-Z can undo the new change

[2020-03-23 22:09] SiddharthVarshney commented on #14298
@zulipbot claim

[2020-03-23 23:16] MasonProtter commented on #14160
Shouldn't this be taken care of by the "use full width on wide screens" option?

[2020-03-23 23:19] MasonProtter opened #14312 "Option to remove the blue box around selected message"
It'd be nice to be able to remove this highlighted box around a 'selected' message or at least make is less obtrusive.

![Screenshot_20200323_171712](https://user-images.githubusercontent.com/29157027/77371964-2b41ad80-6d2a-11ea-8842-85c8f7939fcd.png)

I couldn''t find a preexisting issue about this, hope it's not a duplicate.

[2020-03-23 23:39] gnprice commented on #12614
Agreed.

I think that applies in general, but it's extra true for this "alert words" feature. The whole point of the feature is to *not* blend in! If the highlighted word blends into the UI, the feature is not working.

@Abhishek-Balaji Please read again the original description of the issue, and the initial comments by me and Tim. There are a number of suggestions there for possible design approa

[2020-03-24 03:48] Abhishek-Balaji commented on #12614
@gnprice The PR's approach was suggested and widely agreed upon in the chat. I just made the change just in case Tim would agree to it (he was busy at that time). I'm still discussing and working on this.

[2020-03-24 04:08] mikeslywka commented on #13612
I have found myself going down this path as well.
After dropping the extension from the master server database and re-exporting the backup, my restore process is now stuck on:

+ /home/zulip/deployments/2020-03-24-02-36-02/scripts/setup/flush-memcached
Traceback (most recent call last):
  File "/home/zulip/deployments/2020-03-24-02-36-02/scripts/setup/flush-memcached", line 18, in <module>
    beh

[2020-03-24 05:04] Pranav2612000 opened #14313 "Hide not editable organization settings from a user"
![image](https://user-images.githubusercontent.com/20909078/77389707-e7968480-6db9-11ea-99e5-12153a864076.png)

To a user(non-admin), the non-editable parts of the organization settings page are displayed in input boxes as locked.

This can be replaced by labels (and other objects depending on the field) for a much better view.

Fields like "Upload new picture" and "Delete the picture" can be remo

[2020-03-24 05:05] Pranav2612000 commented on #14313
@zulipbot claim

[2020-03-24 05:06] Pranav2612000 commented on #14313
Working on this issue.

[2020-03-24 06:32] vrongmeal commented on #14274
Why can't we have a fixed footer with the pop-up which has the "save" button?

[2020-03-24 08:23] vinitS101 commented on #14160
This is actually pretty true. There are very few times that I actually need to see who is online. I use the buddy list almost exclusively to find people I want to PM, which isn't very often.

I think a toggle similar to what we have on smaller screens, should work fine for this.
@timabbott Should I start work on this right now, or add this to my To-do?

[2020-03-24 08:29] kwkkwok commented on #14223
Hi! I have some more information from Atlassian

The return of userid is normal for the @mention in the comments section. The workaround will be to figure out who the userID is via [this](https://developer.atlassian.com/cloud/admin/user-management/rest/#api-users-account-id-manage-profile-get)

[2020-03-24 13:05] catborise opened #14317 "Unknown user_id in get_person_from_user_id: undefined - blueslip.js"
hi,

When i hover on "Welcome bot" or "Notification bot" there are some errors happens and it fills console log like below;
![resim](https://user-images.githubusercontent.com/1725643/77428354-ff393180-6de8-11ea-8fe4-d0d31c92166b.png)
details;
![resim](https://user-images.githubusercontent.com/1725643/77428443-268ffe80-6de9-11ea-8d8e-0992b21e467c.png)

Zulip latest stable release 2.1.2 on ubuntu 18

[2020-03-24 16:37] showell opened #14320 "regression: Make keyboard modal scroll with keyboard again"
The commit 03393631bdded3be89c935f2151b74eebbf29034 caused us to regress the ability to scroll the keyboard help modal up and down with the keyboard.

The quick fix is to revert that commit (but then lose the simplebar upgrade).

It might be a quick fix forward, though.

More discussion here:

https://chat.zulip.org/#narrow/stream/9-issues/topic/simplebar.20keyboard.20help.20bug/near/838243

[2020-03-24 16:51] showell commented on #14320
(Obviously, if there is something more general here going on with simplebar conflicting with our keyboard handling, we should investigate other places.  I think the keyboard/format/search modal is somewhat unique in how we set the focus of the panels, so hopefully it's just a specific issue with that UI.)

[2020-03-24 17:36] #14274 closed

[2020-03-24 17:49] shubhamgupta2956 opened #14321 "Improve check-capitalization test"
We should improve `./tools/check-capitalization` tool by adding the feature to give the file name and line number on which it fails. Currently, it shows only the words at which the test fails.
[code]

[2020-03-24 18:14] maanuanubhav999 commented on #14321
@shubhamgupta2956 You must be working on this if not please let me know and what steps then I need to archive this.

[2020-03-24 18:31] shubhamgupta2956 commented on #14321
@maanuanubhav999 I am working on this. Sorry I did not claim it yet. FWIF, for this issue, you can look at this part of code in file `./tools/check-capitalization`:
[code]

[2020-03-24 19:17] shubhamgupta2956 commented on #14321
@zulipbot claim

[2020-03-24 19:24] showell commented on #14317
Where in the app are you doing this hovering?

[2020-03-24 19:32] catborise commented on #14317
@showell hi, they are in the left pane.
![04234480-CBD2-40F6-8F9C-8A56FC089294](https://user-images.githubusercontent.com/1725643/77468852-404c3880-6e1f-11ea-9a99-0b52a9637011.jpeg)

[2020-03-24 19:34] showell commented on #14317
@timabbott This was fixed in https://github.com/zulip/zulip/pull/13621/commits/05383cf276740e2727bd526155c631f687d0d4f2, but you had concerns about merging it due to wanting to be more rigorous about falsiness.

I really think we should just check for falsiness instead of specific checks for `null` here.

@catborise Thanks for the screenshot, that's super helpful.

@timabbott What's happening here

[2020-03-24 19:37] showell commented on #14317
I will submit a fresh PR for this in the next day or two.

[2020-03-24 19:40] catborise commented on #14317
Thank you very much @showell ...
Then i am closing it.

[2020-03-24 19:50] catborise opened #14324 "Not translated top search bar titles"
Hi,
There are some missing translated text.
When i click to the private messages, it changes search bar on navbar. But the text is not translated. Could we make it translatable text?

![6E3CADBC-A385-47D0-B437-75C5BCFDED88](https://user-images.githubusercontent.com/1725643/77469861-c7e67700-6e20-11ea-80ff-153fb7356acb.jpeg)

The same situation vali for “Mentions“:
![D928239F-9333-4F5C-8B67-A90C884

[2020-03-24 20:11] showell commented on #14317
@catborise I am keeping it open until I actually re-submit the PR and we merge it. 😄

Thanks again for the report!

[2020-03-24 20:25] clarammdantas commented on #14310
@zulipbot claim

[2020-03-24 21:28] snowe2010 commented on #12617
This bot is really making people want to stop working on this ticket. This ticket needs _discussion_ not commits, right now.

[2020-03-24 22:11] andersk commented on #12617
Don’t worry, the bot is strictly advisory. Anyone is welcome to participate in the discussion, or even propose commits, without claiming the issue.

My thoughts are the same as before. In general, we should prefer names that describe how a color is intended to be used (night mode background color), rather than names that describe the color itself (dark bluish gray).

[2020-03-24 22:40] timabbott commented on #14324
@catborise thanks for the report.  This is expected to be fixed with an in-progress rewrite of that navbar component to be much more nicely designed.

[2020-03-24 22:40] timabbott commented on #14324
@YashRE42 FYI.

[2020-03-24 22:42] timabbott commented on #14304
I agree we should fix this to support user IDs.

@showell FYI, we should probably push changing this into your general presence cleanup effort.

[2020-03-24 22:46] showell commented on #9382
We are discussing this on chat now:

https://chat.zulip.org/#narrow/stream/101-design/topic/add.20user.20to.20stream/near/838858

[2020-03-24 23:08] burakemir opened #14327 "In stream settings, "Edit" icon disappears when stream title is too long."
![longStreamTitle](https://user-images.githubusercontent.com/10248140/77485055-7ba13400-6e2c-11ea-9f53-879fdf99a2fd.png)

See screenshot. Editing a too long stream title in stream settings is not possible.

[2020-03-25 00:11] showell commented on #14304
Here's the current URL scheme: `r'^users/(?!me/)(?P<email>[^/]*)/presence$'`

Do we want to continue to support email here?  And would the new support for ids fit into the same scheme?

For context, here are related URLs:

[code]

[2020-03-25 00:53] varkor opened #14329 "Left side bar does not update organization icon without restarting"
In the Zulip Electron app, if an organisation icon changes while the application is open, it will not be refreshed in the left side bar. It seems to be necessary to restart the application to refresh the icons.

[2020-03-25 03:23] snowe2010 commented on #12617
Yes, I understand. I was the first person to work on this ticket. But no one is responding to the discussion. Without responding to the discussions, the ticket is worthless.

[2020-03-25 03:41] #14320 closed

[2020-03-25 03:53] timabbott commented on #14304
Yes, email is useful for having relatively simple code fetch this information from e.g. an employee directory service; that's the only reason we added this endpoint if I'm remembering correctly.

[2020-03-25 09:49] Abhishek-Balaji commented on #12528
@shubhamgupta2956 Hi, I've worked on `night_mode.scss`. I'm also working on `portico/landing-page.scss`. Hope you don't have a problem. If you have any issues, do tell me.

[2020-03-25 10:08] vaibhavrajsingh2001 commented on #14327
We are working on solving that. See #13995

[2020-03-25 10:24] showell commented on #14317
Fixed in 806ca29084a1c00a3520603c2ff185391e33e07a

[2020-03-25 10:24] #14317 closed

[2020-03-25 10:55] RainerFranzel commented on #14226
Hi,
this worked for me (Ubuntu 18.04LTS):
delete the file
/etc/sasl2/memcached-sasldb2

It will be generated automatically again.

[2020-03-25 12:52] Jagansivam28 opened #14332 "setting UI : when clicking "Deactivate now" Button in setting/your account tab. text in that button disappears and not showing loading icon"
when Clicking the `Deactivate now`  button in setting/your account tab the text in that button disappears and not showing the loading icon
![deactivate button](https://user-images.githubusercontent.com/45326319/77537530-4516f800-6ec4-11ea-8438-646910972ca4.gif)

[2020-03-25 12:53] Jagansivam28 commented on #14332
@zulipbot claim

[2020-03-25 13:02] stableapple opened #14333 ""View stream" button has different alignment for different screen resolution."
In stream settings, when a stream is selected, the "View stream" button aligns correctly with the "unsubscribe" button for a resolution of 1366(width) and 768(height). But for a resolution of 1920(width) and 1080(height), it aligns differently.

![Screenshot from 2020-03-25 12-28-10](https://user-images.githubusercontent.com/53488062/77538946-8f00dd80-6ec6-11ea-9899-1ea7845f44f0.png)

[2020-03-25 13:10] stableapple commented on #14333
@zulipbot claim

[2020-03-25 13:32] informatique4ipbs opened #14334 "sample question manage.py and private streams"
Hi, sorry it it is not the correct place to ask, but i can create a stream, assign users with manage.py, but how can i set the privacy of the created stream ?

Great product!!

[2020-03-25 18:27] timabbott commented on #14327
@burakemir as a workaround, zoom the browser so that your screen is wider :)

[2020-03-25 18:54] timabbott commented on #9509
For user creation, one can just post a CSV of email addresses into the "Invite users" textbox.  I'm not sure it's worth adding a special API for for this.

Given the last of feedback, I'm going to close this as lacking information.

[2020-03-25 18:54] #9509 closed

[2020-03-25 21:15] aklapper opened #14337 "Include "References" or "In-Reply-To" header in email notifications (RFC 2822 3.6.4)"
On `#settings/notifications`, under "Stream messages", I have enabled "Email notifications" and "Notifications for @all/@everyone mentions".

Those emails do not include a `References` nor an `In-Reply-To` message header line. See https://www.ietf.org/rfc/rfc2822.txt section 3.6.4.

This makes it impossible to see which Zulip messages still need a reply and which stream topics have already been ha

[2020-03-25 22:24] dronmaxman opened #14338 "Incoming email integration no attachments"
My setup
Debian 9.8
postfix                         3.1.9-0+deb9u2
manage.py version  1.11.26
zulip_version":"2.1.2"

I set up integration Zulip On-Premise server with mail.  Incoming and outgoing mail work without problems.

But I have a problem with attachments. When I send an email with a attachment (pdf, jpeg etc) to the stream email I see the text of the letter but do not see the attachment.

[2020-03-25 23:58] timabbott commented on #14160
Yeah, that's what I have in mind for this issue:
* The "use full width on wide screens" option, for folks who want it, plus
* Making the toggle for small screens available in large screens as well.

@vinitS101 you can try looking at whether the PR @shubhamgupta2956 made responds to this issue properly as a first step.

[2020-03-26 00:15] timabbott commented on #14337
@aklapper what would you want us to put in those headers?  Our email notifications aren't strictly replies to an email.

Is the idea that we'd add those headers referencing previous notification messages to the same stream/topic?

[2020-03-26 00:23] timabbott commented on #14334
We recommend using the API: https://zulipchat.com/api/add-subscriptions

Generally, we're moving away from using management commands for any routine database access, since the API is usually a better way to achieve the goal.

[2020-03-26 00:23] #14334 closed

[2020-03-26 00:23] timabbott commented on #14333
Thanks for the report @stableapple!  I agree that's messy.  @vaibhavrajsingh2001 FYI.

[2020-03-26 00:23] timabbott commented on #14332
I think that used to show a spinner in the button; we should figure out what happened to it.

[2020-03-26 00:25] timabbott commented on #14226
This is already fixed in 9fcbc3a49bc7c66e180ae343386c38f874481ee8, will be in the 2.1.3 release ~tomorrow.

[2020-03-26 00:25] #14226 closed

[2020-03-26 00:46] #12182 closed

[2020-03-26 00:48] varkor opened #14339 "No suggestions when changing the topic for a message"
When you edit the topic in a new message, you get a nice list of suggestions:
![image](https://user-images.githubusercontent.com/3943692/77598979-35ff6c80-6efb-11ea-84cd-fd49b2823642.png)
However, when you move a message to a new topic, you don't:
![image](https://user-images.githubusercontent.com/3943692/77599002-457eb580-6efb-11ea-8131-cb2fd06c46dd.png)
It'd be nice to give suggestions for the l

[2020-03-26 00:57] timabbott commented on #14338
I think this might be fixed in 0beae4408139a95ca5e00c3fd141ffc36acefbe2.  I expect the fix will be in the 2.2.0 release.

[2020-03-26 00:57] #14338 closed

[2020-03-26 00:58] timabbott commented on #14338
You can upgrade to master if you'd like the fix sooner than that :)

[2020-03-26 01:01] aklapper commented on #14337
@timabbott: Yes, exactly. (Sorry that I was unclear.) When I am subscribed to tickets in issue tracking systems like Bugzilla, Gitlab or Phabricator, all the mail notifications which I receive for a certain ticket are threaded. That means I can read one comment (=email message) after the other made in the very same ticket.
For issue tracking systems, my mail client view is set to threaded view and

[2020-03-26 05:49] vaibhavrajsingh2001 commented on #14333
@timabbott the view stream button breaks a lot at multiple resolutions (though that behaviour is independent of the stream name, which is too small in the screenshot to actually affect the button).
Decreasing its size slightly or using @media might be an instant patch but redesigning the stream settings panel is surely the way to go.

[2020-03-26 09:08] Jagansivam28 commented on #14332
ok

[2020-03-26 12:18] vrongmeal commented on #12528
Hey! Anyone working on this should look at the commit styles and how to make these nesting changes.

Here's an example PR: #13014

Basically the pattern is:
1. Reorder the file
1. Make any functional change if required (such as merging two different elements into one).
1. Nest.

Do ask any questions if required. And also carefully examine the diff of each commit, it's a lot easier to mess up here

[2020-03-26 16:56] dronmaxman opened #14346 "Ldap integration, double accounts"
We set up ldap integration, everything works well. But we made one mistake, sent an invite to the user who is in LDAP. And now he can use email login.
We tried to remove it. https://github.com/zulip/zulip/issues/10533
./manage.py shell with UserProfile.objects.get(email="username@example.com").delete()

And now in the users list we have two same accounts and we can’t write him a message.

![zulip_

[2020-03-26 17:32] maanuanubhav999 commented on #14339
@zulipbot claim

[2020-03-26 17:49] dronmaxman commented on #14346
found errors in the log.

 django.log:2020-03-26 17:17:32.083 INFO [zr] status=400, data=b'{"result":"error","msg":"Invalid narrow operator: unknown user in [17]","desc":"unknown user in [17]","code":"BAD_NARROW"}\n', uid=Andrey.Kurochkin@deps.ua            server.log:2020-03-21 23:00:16.175 INFO [zr] status=400, data=b'{"desc":"unknown \'has\' operand zulip","result":"error","msg":"Invalid narrow

[2020-03-26 19:15] sreenikethMadgula commented on #14228
@aero31aero,
I am able to replicate the issue with `helloworld` bot locally.

 ![Screenshot from 2020-03-27 00-28-24](https://user-images.githubusercontent.com/56798332/77685807-05363a80-6fc2-11ea-9309-ff28ec028d6b.png)
---
![Screenshot from 2020-03-27 00-29-01](https://user-images.githubusercontent.com/56798332/77685810-06676780-6fc2-11ea-8d11-fc79d1f287cd.png)
---

I can see that the sender list

[2020-03-26 20:11] #14019 closed

[2020-03-26 20:32] RishabhGoyal992 commented on #14312
@zulipbot claim

[2020-03-26 20:36] timabbott opened #14351 "Fix how the /team page generates contributor data"
We've been having periodic issues with the /team page on zulipchat.com losing the "contributors" data that lives at the bottom.  I think a proper fix for this will require some restructuring in how this is run.

Currently, the /team page is generated by `tools/update-authors-json`, which is a somewhat unreliable tool, as part of the `update-prod-static` pipeline.

This is bad for several reasons:

[2020-03-27 06:17] Pranav2612000 opened #14364 "Open link icon close to edit pencil icon in message header"
![image](https://user-images.githubusercontent.com/20909078/77727393-3cd3cf80-7020-11ea-8a65-ae36eeabfc75.png)

When adding a link as a topic name, the open link icon appears on the message header, but, the icon is very close to the edit-pencil icon as compared to the mute bell icon.

[2020-03-27 06:20] Pranav2612000 commented on #14364
Working on this.

[2020-03-27 07:17] #13548 closed

[2020-03-27 07:21] #13823 closed

[2020-03-27 10:54] kPerikou commented on #12249
@zulipbot claim

[2020-03-27 10:54] MariaGkoulta commented on #13450
@zulipbot claim

[2020-03-27 13:17] alice-kaanta opened #14368 "Zulip 4.0.3 desktop client for MacOS is a constantly reloading disaster I cannot use"
To replicate:
1) Read the alarming banner over your Zulip desktop client that announces the old version has security bugs.
2) Install the newest client (4.0.3) on your MacOS machine, as per standard practices.
3) Open your Zulip desktop client and start using Zulip as per usual.
4a) Expected result: Everything works.
4b) Actual result: Zulip "reloads" every 3-5 seconds, which means I can literally

[2020-03-27 15:33] varkor commented on #14187
This has been a big drawback in my experience, especially with new Zulip users who aren't familiar with splitting topics. To appropriately move a conversation that is intermingled with the original one, you either have to move one message at a time, or repeatedly move chunks back and forth between the two topics. I was going to suggest exactly the same UI as @Centril if this hadn't already been po

[2020-03-27 18:27] SiddharthVarshney commented on #12564
@zulipbot claim

[2020-03-27 18:54] brainrecursion commented on #14346
I had similar issue. After deleting a user it was still displayed due to caching.
Fixed it by running ` ./scripts/setup/flush-memcached`

[2020-03-27 19:07] vaibhavrajsingh2001 commented on #14327
@burakemir we recently made some changes that'll make it easier to edit stream names. Could you try it out (if you're at par with our master) and give your valuable feedback? We're working on polishing it further and your feedback will be of great help. For further discussions, do join us at [#frontend](https://chat.zulip.org/#narrow/stream/6-frontend) over at chat.zulip.org :smile:

[2020-03-27 19:08] vaibhavrajsingh2001 commented on #14260
@hmgaudecker we recently made some changes that'll make it easier to edit stream names. Could you try it out (if you're at par with our master) and give your valuable feedback? We're working on polishing it further and your feedback will be of great help. For further discussions, do join us at [#frontend](https://chat.zulip.org/#narrow/stream/6-frontend) over at chat.zulip.org :smile:

[2020-03-27 19:38] dronmaxman commented on #14346
Yes, it helped, I rebooted the server itself. Thanks.

[2020-03-27 19:38] #14346 closed

[2020-03-27 21:28] hmgaudecker commented on #14260
Thanks! I am afraid I am only using the standard version that snap gets me on Ubuntu or the web interface. Unfortunately, i'm too [busy](http://covid-19-impact-lab.io/) these days to change that setup. Sorry!!! Happy to try at a later date, though.

[2020-03-27 22:12] ashlaeblume commented on #168
wow. this post is amazing. i would love to have a conversation with you sometime!

[2020-03-27 22:38] showell opened #14372 "view source: Reduce confusion for Save/Cancel buttons."
When you use "View Source", the UI also lets you edit topics, which is fine, but the buttons go beneath the disabled textbox, which is confusing.

![image](https://user-images.githubusercontent.com/142908/77806021-dd92b100-7059-11ea-9cfd-3d8ea9cc889f.png)

We should consider either:
* moving the buttons above the textbox for the view-source use case
* always put the topic dropdown beneath the cont

[2020-03-27 22:45] timabbott commented on #14372
It might help to have the text box have a label, like "Topic".

[2020-03-27 22:47] dronmaxman opened #14373 "Unable to connect to Zulip. Updates may be delayed"
My setup
Debian 9.8
postfix 3.1.9-0+deb9u2
manage.py version 1.11.26
zulip_version":"2.1.2"

Sometimes my domain users get an error "Unable to connect to Zulip
![Screenshot 2020-03-27 at 21 54 21](https://user-images.githubusercontent.com/15871669/77806382-37f93500-708d-11ea-9aea-ddd632fff8f2.jpg)

Server.log we find ERR.

[code]

[2020-03-27 22:52] showell commented on #14372
And then it was also suggested on chat that we could make the button say "Save topic" if only topic is editable.

[2020-03-27 22:54] showell commented on #14372
Chat discussion: https://chat.zulip.org/#narrow/stream/9-issues/topic/view.20source/near/842101

[2020-03-27 23:04] andersk commented on #14372
My suggestion is to have the Save button be disabled until you make changes. Then when you start typing in the topic box and it enables itself, it’s clear what happened.

This would also provide immediate feedback for “do I have any changes to save?”

[2020-03-27 23:06] timabbott commented on #14373
@dronmaxman are there any differnt exceptions in your server log?  And can you provide any details on the history of the system (Is it new?).

I haven't seen this issue before, so it seems very likely there's something unusual about your system here.

[2020-03-27 23:14] vaibhavrajsingh2001 commented on #14260
Sure! We are always here for that. (BTW, that's some great work you guys are doing with the impact lab. Huge respect :smile: )

[2020-03-27 23:31] vaibhavrajsingh2001 opened #14375 "night mode: Make disabled/enabled textboxes more distinct."
Day mode-
![day mode](https://user-images.githubusercontent.com/47082523/77808346-f1b5cd00-70b0-11ea-9eb7-e37fe8bec3c0.png)

Night mode-
![Screenshot from 2020-03-28 04-59-03](https://user-images.githubusercontent.com/47082523/77808393-1e69e480-70b1-11ea-88cf-e62d3e51fae9.png)

[2020-03-27 23:34] vaibhavrajsingh2001 opened #14376 "Incorrect markdown rendering of links to YouTube channels as actual YouTube videos."
Usually, if you link to a YouTube video, a small video frame is shown below to play the video. Due to similarity in the URL format of YouTube videos and YouTube channels, markdown is rendering links to YouTube channels as videos too.

[2020-03-27 23:35] vaibhavrajsingh2001 commented on #14375
@zulipbot claim

[2020-03-27 23:41] haikuginger opened #14377 "Custom emoji with entirely numeric names cannot be used for reactions"
## Reproduction steps
1. Open a desktop version of Zulip (tested versions below):
    * macOS Zulip Desktop v4.0.3
    * Web client currently installed on `zulipchat.com`, using Chrome 80.0.3987.149
0. Create an emoji with an entirely numeric name, such as `:1000:`
0. Highlight a message
0. Type the colon key (`:`) to open the emoji selection palette
0. Type the name of the numeric emoji you creat

[2020-03-27 23:44] #11008 closed

[2020-03-27 23:52] vaibhavrajsingh2001 commented on #7330
@c-schmitz we currently have jitsi, hangouts and a beta version of zoom. You can [refer here for the steps](https://zulipchat.com/help/start-a-call)

[2020-03-28 00:16] timabbott commented on #14339
This is a duplicate, and I think @aero31aero already has a PR for the original.

See #14033.

[2020-03-28 00:16] #14339 closed

[2020-03-28 00:34] varkor commented on #14339
@timabbott: thanks, I thought this was probably reported already, but didn't find that one!

[2020-03-28 00:59] gnprice opened #14379 "Separate quotations get merged, across blank lines"
When I quote two different pieces of text, they get rendered as a single quotation:

[code]
renders like:

Same behavior if either or both quotation is in block form:
[code]

or if there are lots of blank lines (rather than just one) between the quotations, or even some lines with spaces in them.

This can get pretty confusing when the quotations are from different texts, or by different people.

[2020-03-28 02:16] andersk opened #14380 "OpenAPI definitions incorrectly encode array and object parameters"
According to the [OpenAPI specification](https://swagger.io/specification/), a parameter like

[code]

should actually serialize as `messages=4,8,15` rather than `messages=[4, 8, 15]`. Since we’re expecting the latter, this parameter should have been defined as

[code]

I’m not sure whether whether the `example` should be written `[4, 8, 15]` or `"[4, 8, 15]"` (or perhaps it should be `[4, 8, 15]`

[2020-03-28 11:21] Jagansivam28 opened #14383 "Deactivate button should be disabeled when there is only one admin"
when there is only one admin we should disable the account deactivate button
![Screenshot_2020-03-28 home - Zulip Dev - Zulip(2)](https://user-images.githubusercontent.com/45326319/77821903-d29c5700-7113-11ea-9260-9925e732e6fa.png)

[2020-03-28 11:22] Jagansivam28 commented on #14383
I'm working in this issue

[2020-03-28 13:17] showell opened #14384 "outgoing bots: Prevent bugs with multiple services (sender_realm_id)"
Thanks to @Udit107710 we discovered that if an outgoing webhook bot supported multiple services, we would have errors when we tried to deliver messages to multiple services.

This was probably never a real world problem, since our current UI only makes it easy to set up one service per bot, even though the DB theoretically supports multiple services.  Also, we never heard of folks in the outside w

[2020-03-28 16:02] YashRE42 opened #14387 "/team and /history pages have buggy links"
This is a weird bug was caused by "a:hover" from landing-page.scss overriding the font-weight (600) on links as set by the markdown class, that causes the text to seem jumpy when hovered.
https://chat.zulip.org/#narrow/stream/9-issues/topic/jumpy.20links.20on.20zulipchat.2Ecom describes this in more detail and has a gif from CZO.

I'm also submitting a PR which should be considered WIP because I h

[2020-03-28 19:04] #14299 closed

[2020-03-29 09:55] Udit107710 commented on #14223
@kwkkwok Are you still working on this?

[2020-03-29 10:57] VaibKS commented on #6342
@zulipbot claim

[2020-03-29 11:00] VaibKS commented on #6342
@zulipbot, it's been inactive since January 10th. @timabbott @rishig I have worked on this and it works. It is pushed to the branch `password-reset-fix`.
Thanks!

[2020-03-29 11:01] VaibKS commented on #6342
It is working, but to be pushed into production need a little more work. Kindly check and tell if it's what you wanted.

[2020-03-29 13:22] Wowol commented on #13413
@zulipbot claim

[2020-03-29 14:32] varkor commented on #11454
Is this issue complete? There seem to be options for setting organisation email visibility now.

[2020-03-29 15:46] orientor commented on #14100
@timabbott Added "description: |" in [PR](https://github.com/zulip/zulip/pull/14395).

[2020-03-29 17:19] showell commented on #14190
The scrollbar seems to be there for footer items that are beneath the fold.  Closing.

[2020-03-29 17:19] #14190 closed

[2020-03-29 18:20] showell commented on #14380
This might be something @Hypro999 could fix fairly quickly.

We would probably need to change `render_table` in `zerver/lib/bugdown/api_arguments_table_generator.py` as well as fixing any tests here.

Or it's possible that we can do any transformations entirely within `get_openapi_parameters`.

We may want to make a shared schema for all the places we pass arrays of ids, under `components`.

[2020-03-29 18:22] showell commented on #14379
Can you provide a real world example?

[2020-03-29 18:32] showell commented on #14377
I think your speculation is correct here, because in all three places we call `toggle_reaction` we are using `.data()`.  Example: `toggle_reaction(first_emoji.data("emoji-name"))`

And then we get the error from this code, probably because the first conditional is using a `Map`:

[code]

This should be a pretty quick for somebody.  We should change the `data` statements to `attr`, probably, and we

[2020-03-29 18:56] vaibhavrajsingh2001 commented on #14333
@stableapple I'm unable to reproduce the issue. The view stream button works fine on the current master. I even tried out the resolutions given by you. Screenshot below-
<img width="629" alt="view stream button" src="https://user-images.githubusercontent.com/47082523/77857744-10d16d80-721d-11ea-80be-34d1bf4a59fb.png">

[2020-03-29 18:58] vaibhavrajsingh2001 commented on #14333
It might be that you are on an older branch, since we recently merged some changes that affect those areas. Rebase to current master and try reproducing again.

[2020-03-29 19:08] hashirsarwar commented on #14376
@zulipbot claim

[2020-03-29 19:12] timabbott commented on #14379
The real-world use case is that the `quote` is a Zulip message containing a link to a document/email draft/whatever, and the second `>` has a line from the linked document, (and is followed by comments on that line).

The result of our current buggy markdown rendering is that it looks like that second piece is part of the Zulip message, when it isn't.  And there's no workaround for breaking it int

[2020-03-29 19:14] vaibhavrajsingh2001 commented on #14376
@hashirsarwar we were kind of working on this already over at CZO😅 You might wanna check out in [#general>PyCon](https://chat.zulip.org/#narrow/stream/2-general/topic/PyCon).

[2020-03-29 20:43] showell commented on #14379
I'm not doubting the use case; I'm asking for an actual example that's more than a/b.

[2020-03-29 20:45] akashaviator commented on #12970
@zulipbot claim

[2020-03-29 22:12] #14384 closed

[2020-03-29 23:31] Bhanu-mbvg commented on #14377
@zulipbot claim

[2020-03-30 00:27] cmcaine commented on #6027
A few of us ended up [talking about this on the Julia zulip][1] and we'd really like this feature as more people migrate over from our busier slack community. Are there any blockers on it happening or is it just a matter of somebody finding the time to write it?

Explicitly, the changes I'd like are:

1. Users can subscribe and unsubscribe to/from topics
2. Creating or replying to a topic automati

[2020-03-30 02:57] MaiteFlores commented on #14377
@zulipbot claim

[2020-03-30 04:05] Hypro999 commented on #14380
I'll look into it today :slightly_smiling_face:

[2020-03-30 10:57] idandr opened #14398 "i18n missing for digest and missed message email templates"
During tests with our evaluation system, I got an email with a missed message reminder. The system texts were English phrases, while system and user preferences were set to German. Looking around I found 7 files under /home/zulip/deployments/current/templates/zerver/emails that, as far as I understand, lack internationalization support:

digest.source.html
digest.subject.txt
digest.txt
missed_mess

[2020-03-30 12:07] showell opened #14400 "testing docs: Add troubleshooting sections"
Our testing docs were mostly written several years ago, and they're fairly thorough, but it's worth somebody fairly experienced running Zulip tests to take another pass at them.

We should try to make the docs address these types of situations, if they don't already:

* Explain date-related flakes for backend tests.  (And one way to resolve them is to run `./tools/do-destroy-rebuild-test-database`

[2020-03-30 12:16] Abhishek-Balaji commented on #14400
@zulipbot claim

[2020-03-30 12:17] Abhishek-Balaji commented on #11669
@zulipbot abandon

PR waiting for review

[2020-03-30 13:38] showell opened #14401 "perf: Reduce # of queries in /accounts/register"
In our Casper test `00-realm-creation.js` we do a call to the `/accounts/register` endpoint, and you can see in the logs that the server does 156 queries.  We should investigate why there are so many.

More discussion here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/casper.20tests.20on.20Focal/near/842904

[2020-03-30 14:02] ankita-2798 commented on #14377
@zulipbot claim

[2020-03-30 14:06] showell commented on #14333
I am closing this for now, since we can't reproduce it.  This was possibly fixed by https://github.com/zulip/zulip/commit/ee9678a2bd491407800b417b95ee95c92054f0c6

@stableapple Can you confirm that this has been fixed?

[2020-03-30 14:06] #14333 closed

[2020-03-30 14:14] hackerkid commented on #14351
@zulipbot claim

[2020-03-30 15:14] showell commented on #14401
It might actually be tough to reduce queries here.  There's no obvious place where we're doing too many queries; it's a combination of lots of things:
* corporate/analytic systems
* creating recipients/subscriptions
* welcome emails
* welcome messages
* cache invalidations due to new user?

[2020-03-30 15:14] showell commented on #14401
Gonna close this as non-actionable for now.

[2020-03-30 15:14] #14401 closed

[2020-03-30 17:29] sahil839 commented on #12284
@zulipbot claim

[2020-03-30 17:38] Hypro999 commented on #14380
Well, based on the [specification](https://swagger.io/specification/#fixed-fields-10), `Content` should be a mapping from `string` to a single [`Media Type Object`](https://swagger.io/specification/#mediaTypeObject). The `Media Type Object` will contain a schema along with an `example` both at the same level. So going with the very first suggestion of keeping the example un-quoted and at the same

[2020-03-30 18:01] cmcaine opened #14404 "Default programming language for syntax highlighting"
Feature request: set a community default programming language for syntax highlighting.

This might be useful for e.g. the Julia zulip, where almost all the code posted will be in Julia. For code sections that should not be highlighted, users can use:

[code]

Discussed briefly here: https://chat.zulip.org/#narrow/stream/9-issues/topic/default.20programming.20language

[2020-03-30 18:58] cchloet commented on #12769
@zulipbot claim

[2020-03-30 19:19] agrawal-d opened #14405 "Empty search query in /json/messages endpoint causes 500 internal server error."
Sending an empty search query (not possible directly from the web app UI) causes a 500 internal server error. The endpoint is json/messages and the query string is:
[code]
and the error stacktrace is
[code]
on the current master (35b444d59cb00ba2ca2973a5f7fef42f844ab445).

[2020-03-30 19:25] timabbott commented on #14405
This might be a bug just impacting the PGroonga search backend, based on the traceback, but it probably isn't -- we should be rejecting the `''` in the `by_search` codepath before we get to the search backend code.

[2020-03-30 19:25] timabbott commented on #14405
Tagging as a priority since all known 500 errors are.

[2020-03-30 19:46] timabbott commented on #12284
These fields in particular are not booleans:
[code]

[2020-03-30 19:48] timabbott commented on #12284
And for that first issue, this looks like a mixture of strings and integers to me for the various `policy` elements:
[code]

They should all be integers, `'2'` is not a valid value.

[2020-03-30 19:49] timabbott commented on #12284
I would also consider setting all these values using e.g. `settings_config.create_stream_policy_values.by_admins_only.code`; that'd be a lot more readable.

[2020-03-30 19:57] #14387 closed

[2020-03-30 20:35] cmcaine commented on #6027
Related: #6605

[2020-03-30 20:37] cmcaine commented on #6605
#6027 seems like a close cousin of this issue. Here is my most recent post from there:

A few of us ended up [talking about this on the Julia zulip][1] and we'd really like this feature as more people migrate over from our busier slack community. Are there any blockers on it happening or is it just a matter of somebody finding the time to write it?

Explicitly, the changes I'd like are:

1. Users

[2020-03-30 20:56] hanisha3arora commented on #13622
@zulipbot claim

[2020-03-30 21:05] emfisch commented on #14304
@zulipbot claim

[2020-03-30 21:17] andersk commented on #11618
I don’t think we need to store the unformatted code separately. The `.textContent` attribute or jQuery `.text()` method seems to have no trouble extracting it.

[2020-03-30 21:17] timabbott commented on #14404
This seems like a pretty reasonable feature, and probably should be implementable using the combination of our "New application feature" tutorial with a few changes in `fenced_code.py` to fetch the value.

In the database, we can use the setting variable `default_fenced_code_language`, a TextField with default=None.

@aero31aero do you want to see if you can make this happen in the next few days?

[2020-03-30 21:20] snowe2010 commented on #6605
@cmcaine From when I first worked on it, there were no blockers, it just needed the time put in to figure out everything and get it working.

[2020-03-30 21:48] showell commented on #14401
(I analyzed the queries here by modifying a test in `test_signup.py` to use `with queries_captured() as queries: ...` and looked at the output.  There are definitely a couple places where we could probably shave a query or two, as some places seem to not being doing `select_related` or equivalent things.)

[2020-03-30 22:44] aero31aero opened #14407 "EmbeddedBotHandler: Make sure the interface is in sync with ExternalBotHandler."
We strive to keep the ExternalBotHandler interface in zulip/python-zulip-api in sync with EmbeddedBotHandler in zulip/zulip. Over time, it looks like the two have drifted apart and ExternalBotHandler now supports a method `bot_handler.update_message`.

We should do a sweep and implement the missing methods in EmbeddedBotHandler.

We should also discuss strategies to prevent this from happening aga

[2020-03-30 23:06] aero31aero opened #14409 "Update our organisation settings to distinguish between 'New Members' and 'Members'"
This issue has been filed after some discussion on #14219 filed by folks at the Julia Zulip server.

We appreciate any feedback on the specific settings that people want to have this distnction on.

In case of #14219, the request is to keep community topic editing limited to users who are at least X days old to avoid any spammy topic edits.

There was some relevant discussion in [this topic on CZO

[2020-03-30 23:32] kou commented on #14405
Ah, `pgroonga_query_extract_keywords()` doesn't support empty string as input for now.
I'll improve `pgroonga_query_extract_keywords()` to accept it later but please ignore empty string in Zulip.

[2020-03-30 23:51] timabbott commented on #14409
Specifically, the long-term goal is for all of the settings in "Organization permissions" to support "Full Members" as a permission; currently only about half of them do.

[2020-03-30 23:58] aero31aero commented on #6605
@amanagr is currently building upon one of the existing PRs on this issue.

[2020-03-31 00:01] SiddharthVarshney commented on #10542
@zulipbot claim

[2020-03-31 00:27] timabbott commented on #11618
Oh, great, that makes this 10x simpler.

[2020-03-31 00:29] timabbott commented on #11618
Looks like we still need to store a `data-code-lang` attribute on code blocks.

[2020-03-31 00:55] timabbott commented on #11618
This super hacky prototype works if we're willing to hardcode Rust, which we aren't.

[code]

So I think we can implement an initial version of this as follows:
* [ ] Modify the markdown processor to add a `data-codehilite-language` property recording what language was used for syntax highlighting; we'll need that to make the "which language is this" part work.
* [ ] Add, for now, a hardcoded data

[2020-03-31 03:43] rightauth commented on #8005
@zulipbot claim

[2020-03-31 07:40] punchagan commented on #11618
@zulipbot claim

[2020-03-31 08:45] stratosgear commented on #13730
Sorry, is this the same issue?

I have a similar list of errors on my email box (maybe 15-20 daily) after I upgraded from 2.1.1-0 to 2.1.2-0:

[code]

but it is not clear what the fix is here, as I am not backing up/restoring.

Should I wait for the upgrade to 2.1.3?

[2020-03-31 10:44] showell commented on #12284
Just to clarify "They should all be integers" (in the context of `policy` elements),  I would include `realm_default_twenty_four_hour_time` in your sweep.  You can do `typeof(page_params.realm_default_twenty_four_hour_time)` in the browser (either local or czo) to see what the realistic type for that field is.

Also, this is probably obvious, but for `realm_default_language` we can continue to exp

[2020-03-31 14:29] mateuszmandera commented on #13730
@stratosgear Seems likely to be the same issue. You can upgrade to the current `2.1.x` branch if you don't want to wait for 2.1.3 release.

[2020-03-31 15:09] alice-kaanta opened #14413 "Zulip 4.0.3 desktop is constantly reloading on MacOS"
To reproduce:
1) Install Zulip 4.0.3 on a MacOS machine (MacBook pro, running High Sierra), after your current installation (4.0.0) was messaged as having alarming security vulnerabilities.
2) Attempt to use Zulip in the manner to which you have become accustomed.
3a) Expected result: Am able to use Zulip.
3b) Actual result: Zulip constantly reloads, making it impossible to write or send any messa

[2020-03-31 15:18] rightauth commented on #12328
@zulipbot claim

[2020-03-31 15:42] Hypro999 commented on #14380
Just a note, apart from these, we'd also have to take care of `get_openapi_param_example_value_as_string` in `zerver/lib/bugdown/api_code_examples.py` and maybe even some other places.

[2020-03-31 15:56] Beltrando commented on #10862
This would be very usefulfor me too.

[2020-03-31 15:59] alice-kaanta commented on #14413
Sorry about the duplicate, refound my original report.

[2020-03-31 15:59] #14413 closed

[2020-03-31 16:27] aero31aero commented on #14404
@zulipbot claim

[2020-03-31 16:43] stratosgear commented on #13730
May I be as bold as asking if there is a planned date for a 2.1.3 release?

As the current installation seems to be working (regardless of the emails) and assuming 2.1.3 would be released soon enough, I might wait. Thanks!

[2020-03-31 17:46] XAMPPRocky opened #14415 "Add "Open Content In App" to Login guard page"
Currently if you give someone a link through a third party service (e.g. iMessage, Discord) to something like a topic or stream in a Zulip instance it will always open up the browser. The slight hindrance in this, is if you do not use the Zulip web version for your instance, you're likely not logged in. When I'm on a device where I'm already running the Zulip mobile or desktop client, I'd prefer n

[2020-03-31 18:11] cookaa commented on #13696
@zulipbot claim

[2020-03-31 18:35] cyphase commented on #14415
Here's a related discussion on CZO: [#mobile > intercepting/bouncing webapp links](https://chat.zulip.org/#narrow/stream/48-mobile/topic/intercepting.2Fbouncing.20webapp.20links/near/813223)

[2020-03-31 18:52] glyph opened #14417 "public status page for zulipchat.com?"
It would be handy to have a statuspage.io - style status page for monitoring outages on zulipchat.com when there is a problem.

[2020-03-31 21:51] varkor opened #14420 "Add user-defined LaTeX macros"
When writing a lot of LaTeX, it would be really useful to be able to define shorthands for LaTeX commands, à la LaTeX macros. KaTeX supports macros already, so this could possibly forward user definitions on to KaTeX.

[2020-03-31 22:00] #8424 closed

[2020-03-31 22:33] #3347 closed

[2020-03-31 22:47] timabbott commented on #14415
The link-in-email part of this isn't complicated; so the main issue here is adding support in the mobile and desktop apps for accepting this sort of link.  I agree it'd be worth doing.

[2020-03-31 22:49] timabbott commented on #14398
@idandr thanks for the report!  We had been waiting to do this for the missed_message emails until a recent redesign of them (that deleted most of the text), but we should do make sure we have full i18n tags on them now; they used to have a bunch of spurious text in them that we've since removed.

@hackerkid can you take this issue?

[2020-03-31 22:53] timabbott opened #14421 "Fix mobile response design for "notification settings""
It's likely a lot of other settings pages have the same issue; the bug is that our standard checkbox widgets don't line-wrap in a pleasant fashion, resulting in the following:

![image](https://user-images.githubusercontent.com/2746074/78082307-821d3780-7367-11ea-9449-9197ddd64d69.png)

Ideally, we'd fix everything of this form in both user and notification settings.

[2020-03-31 22:59] #9228 closed

[2020-03-31 23:34] gnprice opened #14422 "Wide LaTeX displays can get invisibly cut off"
While working on LaTeX support for mobile (#2660), @ray-kraesig noticed in a draft branch that when a display formula is long/wide, the later portion of it can get cut off with no way to see it.

It turns out the same thing is true today in the webapp. Here's [two messages](https://chat.zulip.org/#narrow/stream/7-test-here/topic/latex/near/844938) with the same content `1 + 2 + 3 + 4 + 5 + 6 + 7 +

[2020-03-31 23:36] varkor commented on #14420
The documentation is on [this page](https://katex.org/docs/options.html). I imagine a UI very simple to the "alert words" settings should work, where instead you have two columns: macro name; and macro expansion. (The arity of macros in KaTeX is implicit, so you wouldn't have to account for this.) That's not to say this wouldn't still take some time to design, but at least it's possible that some

[2020-03-31 23:58] timabbott commented on #14422
I bet the issue is we should use the same horizontal scrollbar settings with too-wide math blocks that we do with too-wide code blocks.

[2020-04-01 00:07] timabbott commented on #13730
"Connection reset by peer" could also be that you restarted your memcached server.  See https://zulip.readthedocs.io/en/latest/production/troubleshooting.html#disabling-unattended-upgrades

The 2.1.3 release will be this week.

[2020-04-01 03:18] sahil839 commented on #14409
@zulipbot claim

[2020-04-01 07:20] rightauth commented on #14421
Generally, Text should be on same line checkbox. I think bug is checkbox and text stay in different label. It make checkbox and text is considered to box and box. So, text can't break word on line checkbox.

Solution of this bug, I think we should remove inactive label and move checkbox to same label text.

![code img](https://i.ibb.co/55LyVCp/Untitled.png)

[2020-04-01 09:43] Jagansivam28 commented on #10255
@zulipbot claim

[2020-04-01 11:22] hackerkid commented on #14398
@zulipbot claim

[2020-04-01 13:16] andreas-bulling opened #14423 "error 47 from memcached_set"
Hi,

I've installed the server from scratch (2.1.2) but the following error messages are flooding my error.log. During installation the memcache flush command had failed - not sure why and whether this is linked to these error messages.

Any idea what is going on/how I could debug this?

[code]

[2020-04-01 13:57] ChrisRFK opened #14424 "SAML with ADFS"
Hello,
deas anyone sucessfully has connected Zulip via SAML to ADFS service and can share his configuration?
Since two days I'm fighting with that but with no success. Atm I have this error "WARN [] SAML got invalid email argument."
Zulip is already connected to our LDAP with AUTH_LDAP_USERNAME_ATTR = "sAMAccountName".

One more question - does the SSO works with SAML?

[2020-04-01 14:23] varkor opened #14425 "Copying LaTeX in messages should preserve source code"
If someone posts a message containing, say, `$$\omega$$`, then it is rendered as "ω", but if you copy it from the message, the clipboard contains `\omegaω`. It would be better if the original source `$$\omega$$` was saved to the clipboard, so you could quote and reply to messages more easily, without retying the LaTeX, or viewing the source explicitly.

[2020-04-01 14:29] andreas-bulling commented on #14423
maybe linked to https://github.com/zulip/zulip/issues/13730

[2020-04-01 14:49] andreas-bulling commented on #13730
Will 2.1.3 also support Ubuntu 19.10?

[2020-04-01 15:12] andreas-bulling opened #14426 "support Ubuntu 19.10"
Maybe this can still go into the next release 1.2.3: Would be great to have support for Ubuntu 19.10. I've tested this on a separate machine (just adding the missing selectors in the source files before installation) and it works just fine.

[2020-04-01 15:24] alexagillman commented on #10539
Claim

[2020-04-01 15:25] alexagillman commented on #10539
@zulipbot claim

[2020-04-01 15:27] rgogia commented on #12194
@zulipbot claim

[2020-04-01 15:30] alexagillman commented on #2083
@zulipbot claim

[2020-04-01 15:31] rgogia commented on #4240
@zulipbot claim

[2020-04-01 15:40] stratosgear commented on #13730
Does this concept of "restarted sevices" make sense if they are dockerized?  I would assume no!  So as long as I do not restart my stack it should remain stable, no?

Just making sure I have this right!

[2020-04-01 20:50] varkor commented on #12988
This has been a big problem in my experience: users who are new to Zulip are unaware that there are other streams at all. It would be better if streams that the user is unsubscribed to are treated simply as muted, so they're constantly visible. (Although maybe without an unread indicator.)

[2020-04-01 22:14] timabbott commented on #13769
This was fixed in already in b29213ef9096df6d62cfaa6f8b57ef532ed10a78.

[2020-04-01 22:14] #13769 closed

[2020-04-01 22:16] timabbott commented on #14425
You can always use "View source" or "Quote and reply" to get the actual original source.

I'm not sure there's an easy solution to this given how copy/paste works, but it'd certainly be nice if we could do this properly.

[2020-04-01 22:20] timabbott commented on #14424
Yes, SSO works with SAML.  I haven't done that precise test but it should work.  From the exception, it certainly sounds like what you're telling Zulip is a user's email address is the wrong field from your SAML data.

[2020-04-01 22:24] timabbott commented on #13730
Re: 19.10: We don't support non-LTS releases, so I don't expect us to support Ubuntu 19.10.  Ubuntu 20.04 is coming out later this month and we expect to support it like other LTS releases.

@stratosgear for docker, well, it depends.  If your Docker operations restarts the memcached container, that'd have the same effect of having it go away and break any active connections.  (Or if your memcached

[2020-04-01 22:26] timabbott commented on #14423
Thanks for the report.  It seems likely this is related to some discussion in #13730.  Are you using `docker-zulip`?  And if so, had that system used previous versions of `docker-zulip` and/or are you running the latest `docker-zulip` configuration?

[2020-04-01 22:28] timabbott commented on #14421
Shouldn't `display: inline-block` cause them to be grouped together on the same line, though?

That said, I've never really understood why our settings checkboxes are implemented with this split label system, so possibly the right fix will involve changing that.

[2020-04-01 22:33] timabbott commented on #14426
@andreas-bulling thanks for the report.  I'm closing this as wontfix, though I agree that it should more or less just work (we do support it for the Zulip development environment, and it uses a database version we already support).

Based on https://ubuntu.com/about/release-cycle, Ubuntu 19.10 will reach EOL in June, which might not be long after our next big feature release; because their lifespa

[2020-04-01 22:33] #14426 closed

[2020-04-01 22:38] timabbott commented on #10862
I think a version of this that creates a private stream based on the membership of a group PM thread would be very reasonable.  We could hang it on the left sidebar menu for the thread, and the effect of clicking it could be to take you to the "Manage stream / create stream" page, prepopulated with the users from the group PM thread, so that you can set the name/description/properties.

And we'd s

[2020-04-02 03:29] punchagan opened #14433 "Send a new test notification when notifications are enabled"
When a user gives the notifications permissions in the browser, sending a new test notification to the user would help them confirm that notifications have successfully been enabled.

https://chat.zulip.org/#narrow/stream/6-frontend/topic/green.20bar.20at.20top.20to.20enable.20notification/near/845235

---
Edit by @alya 2025-11:

The content can be:

[2020-04-02 04:57] rightauth commented on #14421
I have no idea about change `display: inline-block` but I think it still bug. Because beginning checkbox and text on the same line although not have it.

Main problem probably is Label checkbox plus Label text have width exceed other_notifications box when on responsive mode.

I have another idea for fix. When responsive mode make %width like this.

![img](https://i.ibb.co/Mgrcqp9/Untitled.png)

[2020-04-02 05:43] andreas-bulling commented on #14423
I am using the Ubuntu package that I had installed on a freshly installed Ubuntu host system

[2020-04-02 08:44] ChrisRFK commented on #14424
Now I know, whats was wrong. In ADFS configuration, in claim rules, I was using in Outgoing Claim Type the names from the left side of attribute mapping like "attr_user_permanent_id" instead of the right side like "email". Moreover I had to add one more mapping "E-Mail-Addresses" to "Name ID".

Anyway I still need to write the username and password, but now on ADFS site. I need to figure it out ho

[2020-04-02 09:14] vaibhavrajsingh2001 commented on #14433
@zulipbot claim

[2020-04-02 13:36] andreas-bulling commented on #5029
Hi,

I ran into a similar problem I think. I want to migrate from one Zulip server to another (freshly installed, same version). I followed
https://zulip.readthedocs.io/en/latest/production/export-and-import.html#import-into-a-new-zulip-server

But when I try to import into the new server I see the following error message:

[code]

[2020-04-02 14:50] MNSignalProcessing opened #14437 "Feature Request: Raining confetti when someone writes "congratulations""
The idea is to add the option to have one or more animated overlays when users write certain keywords, e.g. confetti rain when someone writes "congratulations", balloons when someone writes "happy birthday", etc.

Such a feature would make these work-from-home days much more fun...

[2020-04-02 15:51] stratosgear commented on #13730
@timabbott First off, thanks for your continuous support on this.

The changes that you mentioned on zulip/docker-zulip@7eff9be have been already done, as I carefully followed all settings from the [docker-compose.yml](https://github.com/zulip/docker-zulip/blob/master/docker-compose.yml) there.

Also, the running docker instances of memcached, or any other zulip services, are not restarted. Any re

[2020-04-02 16:06] stratosgear commented on #13730
Just saw that 2.1.3 is already out but I have issues pulling it (I've opened another [issue](https://github.com/zulip/docker-zulip/issues/247))

[2020-04-02 17:57] MarkMcCaskey opened #14438 "Infinite reloading when referrer headers are not sent"
Hello!  I just signed up for a zulip -- using it for the first time and ran into an issue with an infinite reload/redirect loop.

It cycles between something like `https://rust-lang.zulipchat.com/#reload:860769654308` (where the number on the end changes each time) and `https://rust-lang.zulipchat.com/#narrow/#is-private`.  On the first page it has many console messages like `Loading failed for th

[2020-04-02 21:25] timabbott commented on #14438
@MarkMcCaskey thanks for the report; we haven't seen this issue before.

That first URL, with `#reload`, is used when Zulip feels the need to do a server-initiated page reload.  So the interesting question is why it's choosing to do that.

Those "Loading failed" messages are puzzling -- what happens if you try visiting https://rust-lang.zulipchat.com/static/webpack-bundles/23992fea5ab7aefed340.js

[2020-04-02 21:33] timabbott commented on #14151
The second part of this was fixed in 8315eee04642c7147004e2841bf032dde6ffab2f.

I think we still should look into the `message_edit.end` not removing previous forms from the DOM before closing this.

[2020-04-02 21:49] showell opened #14447 "drafts: Allow copy/paste from draft messages"
Right now in the drafts modal, any message is actually a click target, which is generally convenient for very quickly restoring drafts.

The one downside is that if you try to copy/paste from a message, that mouse motion is still interpreted as a click, and not only can you not copy/paste text fragments, you also might not expect the modal to close and dump you into the compose box.

There's some

[2020-04-02 21:52] MarkMcCaskey commented on #14438
Hi @timabbott,

I can download them when I go to that link, I'm unsure if that's all it takes for it to be loadable though!

I've verified that the issue persists with all extensions disabled and that this issue does not happen on Chrome 80 on the same computer.

Okay, I went through all the settings I could think of that I may have changed and found out that it was a setting in `about:config` tha

[2020-04-02 22:09] timabbott commented on #14437
While it might fun as a one-off thing, I think this would be a lot of work to create and get old quickly.

I think we have other things that are more important for the project to focus on with the amount of visual design work required to make this useful.

[2020-04-02 22:09] #14437 closed

[2020-04-02 22:09] timabbott commented on #14447
I think the large click targets are nice; if you click on the draft, you can always copy-paste out of the compose box that it takes you to, right?

[2020-04-02 22:39] pranayshahxyz commented on #1286
@zulipbot claim

Hey! I can try and help solve this issue. I am new to open-source contributions, and I feel like this issue could help me get started.

[2020-04-02 22:44] vaibhavrajsingh2001 commented on #14447
@zulipbot claim

[2020-04-02 22:47] vaibhavrajsingh2001 commented on #14447
@zulipbot claim

[2020-04-02 23:18] rohanpra commented on #1286
@zulipbot claim

[2020-04-02 23:18] pranayshahxyz commented on #1286
@zulipbot claim

[2020-04-03 00:08] #14364 closed

[2020-04-03 00:29] rohanpra commented on #1286
@pranayshahxyz and I will be working together on this. We're both excited to be first time contributors to Zulip!

[2020-04-03 00:34] #12284 closed

[2020-04-03 00:37] neiljp commented on #14188
There may be some interesting possibilities in using the new mypy feature to type-check events, as it's now possible to discriminate a union of TypedDict's by a `Literal`, if I understand correctly. I've been thinking of using that in ZT, and we could then port that over to at least the API, or generate it from the server, even?

[2020-04-03 00:39] #13450 closed

[2020-04-03 00:50] timabbott commented on #14424
It sounds like this worked?

@ChrisRFK would you be up for submitting a pull request adding a section to `docs/production/authentication-methods.md` explaining how to do the ADFS configuration based on your testing?  That way this can be helpful for others.

[2020-04-03 00:51] timabbott commented on #14423
I'm not sure what you mean -- By Ubuntu package, do you mean the Ubuntu package for Docker?

[2020-04-03 02:50] shubhamgupta2956 commented on #6061
@zulipbot still working on it.

[2020-04-03 03:09] ghosej commented on #12951
@zulipbot claim

[2020-04-03 03:47] rebtung commented on #14421
@zulipbot claim

[2020-04-03 07:25] cyphase commented on #14433
I think the intention here is to actually send a notification, not (only?) to have a sound. That would also be my own preference; send a browser/desktop/mobile (as appropriate) notification when notifications are enabled, so that the user sees/feels that notifications are enabled.

[2020-04-03 07:45] vaibhavrajsingh2001 commented on #14433
@cyphase you mean to say a proper browser notification saying "Notifications are activated now"? I'll add it.

[2020-04-03 09:29] maltokyo opened #14449 "Color and Design of Zulip App Icon"
Many of my users complain about the dull green colour of Zulip icon and even have said that is the reason they don't like to use it (as it is prominent on their phone as app icon etc).

This may sound like a stupid complaint, but just putting it out there.  Wouldnt something more vibrant and lively be befitting of this great software!?

[2020-04-03 10:30] andreas-bulling commented on #14423
sorry, I was confused. I've followed the normal installation instructions from the source package. I guess this is `docker-zulip`?

[2020-04-03 13:33] ChrisRFK commented on #14424
@timabbott I'll do that in next week ;)

[2020-04-03 15:05] punchagan commented on #14433
Yes, this is what Slack does, for instance
![notifications](https://user-images.githubusercontent.com/315678/78375548-958c0500-75ea-11ea-8033-d6c482642616.gif)

[2020-04-03 16:31] hsenag commented on #13613
I'm a bit confused about the current status of this issue. I've got Zulip 5.0.0 desktop app (on Windows) and am trying to connect to https://fstar.zulipchat.com and am still hitting the issue. Is that because the server doesn't have this support yet?

[2020-04-03 17:00] rebtung commented on #14421
Ah I see that this already has a PR, @zulipbot abandon

[2020-04-03 17:00] rebtung commented on #12049
@zulipbot claim

[2020-04-03 18:56] vaibhavrajsingh2001 commented on #14433
@timabbott will
 `notifications.process_notification({message: sample_message, desktop_notify: true});`
 with `sample_message` just containing "Notifications have been turned on" work? We could then keep a check on the click event on notification box with `if(message.id)`. I tried this approach on FF and it was working well enough. Although, it didn't seem to work on chrome.

[2020-04-03 19:11] ilysorc commented on #13299
can anybody solve this problem?

[2020-04-03 19:23] timabbott commented on #14311
This is a research-intensive issue; the main work here will be figuring out how to support native undo in a text box when the software is modifying the content of the compose box.  So I'd only claim this issue if you've figured out prototype JavaScript code to do that; I can then help with how to modify Zulip to use the technique.

[2020-04-03 19:33] vaibhavrajsingh2001 commented on #14447
@zulipbot abandon

[2020-04-03 19:38] Pranav2612000 commented on #14447
@zulipbot claim

[2020-04-03 19:38] Pranav2612000 commented on #14447
Working on this.

[2020-04-03 21:54] foss- commented on #12071
I fail to understand what the status of this issue is.https://github.com/zulip/zulip/pull/12512 and https://github.com/zulip/zulip/issues/12500 have been merged. Should this issue here be closed?

[2020-04-03 22:00] foss- opened #14451 "add support for 'prefers-color-scheme' for dark mode / light mode browser preference detection"
Been using zulip for years only to discover it actually has a nice dark mode option. It would be great if it automatically detected the browser preference which optionally and probably most often follows the system preference. This would result in a zulip UI much better fitting the rest of what users see.

[2020-04-03 22:25] rohanpra commented on #7089
Is zerver/lib/notifications.py now email_notifications.py? That's all I see in the files.

[2020-04-03 23:16] rohanpra commented on #7089
I'd like to claim addressee.py, stream_recipient.py, and zerver/lib/notifications.py, assuming that it's the same as zerver/lib/email_notifications.py. Should I find sub-issues with those specific files and claim there?

[2020-04-04 00:24] maltokyo commented on #14449
No problem @timabbott - I was only passing info from users of my site.  Somehow they don't like the "bile green" color icon 😬  (lol, that's what they called it, please close this if you prefer to focus on more important stuff).

[2020-04-04 01:21] gnprice commented on #14379
Looks like the example that prompted me to file this wasn't on a public stream, but here's the shape of it:
[code]

Where it comes out like

as if the whole thing were quoted from the original message.

I've had this occur in other contexts too in the past, which led me to find the workaround I mentioned of adding something like `.` to artificially separate the quotations.

[2020-04-04 03:57] shubhamgupta2956 commented on #14321
I am currently working on other issues so if someone wants to work on this, they can take it. Else I will take it after sometime. @zulipbot abandon

[2020-04-04 04:10] maanuanubhav999 commented on #14321
@zulipbot claim

[2020-04-04 07:40] webnah opened #14454 "how to add custom fields to message"
great server with no custom message, how can I do that like user profile?
how can I add a field like latitude, longitude  to message?

thank you again

[2020-04-04 07:43] daschuer commented on #12071
The workaround, with the email hook works for us, so there is no pressing need for a real integration. It is hard to discover for other orgs though.

[2020-04-04 11:20] stratosgear opened #14455 "Error: psycopg2.OperationalError: server closed the connection unexpectedly"
On the latest 2.1.3 (but also on 2.1.1, and 2.1.2) I am frequently (multiple times per day, 10-20?) getting this error emailed to me:

[code]

The installed version appears to work correctly though.

Elsewhere in other issues I have posted here, I have received the advice that this is caused by restarted services, but this is not something that I do as the Docker Swarm stack is not restarted and I

[2020-04-04 11:24] stratosgear opened #14456 "Error: pylibmc.ConnectionError: error 3 from memcached_get(:1:3a89e306e81af0cf6f55b59dec900)"
On the latest 2.1.3 (but also on 2.1.1, and 2.1.2) I am frequently (multiple times per day, 10-20?) getting this error emailed to me:

[code]

The installed version appears to work correctly though.

Elsewhere in other issues I have posted here, I have received the advice that this is caused by restarted services, but this is not something that I do as the Docker Swarm stack is not restarted and I

[2020-04-04 11:25] stratosgear commented on #13730
OK, opened #14455 and #14456 to avoid any further confusion.

[2020-04-04 15:08] SivaGanapathy98 commented on #14099
@zulipbot claim

[2020-04-04 15:26] Jagansivam28 commented on #6313
@zulipbot  claim

[2020-04-04 17:16] ryanreh99 commented on #12309
@zulipbot claim

[2020-04-04 18:01] YashRE42 commented on #14404
would it be possible to auto detect the programming language based on what the user puts into a code block?
If the problem is that it's likely to be wrong, then we can just open the typeahead and put it there instead of filling it in.

[2020-04-04 22:04] FoggyFinder opened #14458 "New user has admin status right after registration"
Today I noticed that recently registered user has admin privilege that was quite odd.

I've created new temp account to test behaviour and, yep, it has default status as expected. So it's totally unclear to me what could it be.

[2020-04-04 22:29] YashRE42 commented on #13670
@zulipbot claim

[2020-04-04 22:34] cmcaine commented on #14404
I don't think we want auto detection for the Julia zulip. A default of Julia is unlikely to be wrong often for us, nor will it cause significant issue when it is.

[2020-04-05 08:54] shubhamgupta2956 commented on #14004
@zulipbot the PR linked to this issue is ready for review from Tim.

[2020-04-05 10:58] showell opened #14459 "night mode: Fix "x" on "You have nothing to send!""
If you open the compose box, don't type anything, and then send the message (control-enter, enter, send button, etc.), you will get a message that says "You have nothing to send!".  There's an "x" to dismiss the dialog that's hard to see against the background.  We should fix this.

Please use some sort of online contrast checker to verify the new colors are friendly to folks with color blindness:

[2020-04-05 11:49] punchagan opened #14460 "Topic edit pencil icon incorrectly appears"
![](https://user-images.githubusercontent.com/315678/78473858-5e8c2f80-7761-11ea-9316-068acbc7485c.png)
After clicking on the pencil icon to edit a topic, it doesn't get hidden, but instead appears right next to the stream name. This is possibly a regression from 51a8873579b9d4bb95219cd4a5c859fa972fa06b

Discussion on CZO is here: https://chat.zulip.org/#narrow/stream/9-issues/topic/pencil.20edit/

[2020-04-05 11:52] showell commented on #14460
When we fix this, we should obviously make sure we don't re-introduce the bug that was fixed in 51a8873.  So we should do this:

* start a poll with "/poll"
* log in as other user and view the poll
* verify no pencil is in the poll
* edit some other message
* make sure a pencil doesn't appear in the poll

[2020-04-05 13:32] sahil839 opened #14462 "emails in typeahead and navbar when email_address_visibility is set to Admins only"
When the `email_address_visibility` is set to `Admins Only`, email is shown as `user11@zulipdev.com` instead of original email like `hamlet@zulip.com` in the following places -

1. Typeaheads when adding subscribers to users from stream settings, adding a user to a user group, and adding recipients of a private message.

2. Input box while adding new subscribers and while searching from the navbar

[2020-04-05 13:33] sahil839 commented on #14462
@zulipbot claim

[2020-04-05 13:45] showell commented on #14462
We want to test all three of these cases:
* admins
* non-admins in email-visible realms
* non-admins in email-not-visible realms

A very important thing to test is having two users of the same name.  More discussion here: https://chat.zulip.org/#narrow/stream/9-issues/topic/email.20in.20typeaheads/near/847494

[2020-04-05 16:21] showell commented on #14447
Yeah, I prefer the large click targets, to be clear.  But the copy/paste behavior feels really broken to me, and that workaround seems lame.  It's also just inconsistent with the message-pane behavior (where you can both click on a message to reply but also selectively copy/paste text from a message without opening the compose box).

[2020-04-05 19:46] timabbott commented on #14456
This is likely the same root problem as #14455, but the fix may be different.

[2020-04-05 19:55] timabbott commented on #14455
OK, my theory is that the Docker Swarm networking stack is killing the open TCP connections between the Zulip server and the postgres/memcached servers.  We had a much more fatal similar with RabbitMQ fixed last year (b312001fd92dc36233e5a9f57cd9fada890880c4).  The symptom is the same as the service being restarted -- the connections are killed, which Zulip will re-establish in each process when i

[2020-04-05 20:16] #14152 closed

[2020-04-05 20:56] punchagan commented on #14171
I've spent some time working on this, and cleaned up the PR, and captured actual payload data. It seems like the [Semaphore2.0 docs](https://docs.semaphoreci.com/essentials/webhook-notifications/#notification-payload) lie about the notification payload containing information about the pull request. They claim that the `revision.pull_request` key in the payload would contain more information for th

[2020-04-06 00:08] stratosgear commented on #14455
Wow, this is getting way too low level for me.

As I understand it, the connection drops and then re-establishes.  I have never seen any issues on the actual running instance of Zulip, so this is not catastrophic.

So I would call this a self-healing auto-recovering issue.

Any way I can turn off these messages though, from cluttering my emailbox.

[2020-04-06 00:25] timabbott commented on #14451
Yeah, this'd be a nice improvement.

It looks like we could use https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme to detect this; I'm not sure what the best way to take advantage of it is given that we have explicit override support via JS and it's a media query.  I think it'd make sense to change our "night_mode" setting to a NullBooleanField with `None` being "match br

[2020-04-06 00:26] timabbott commented on #7089
@rohanpra go for it.  I'd just submit a PR -- there's no need to add issues for individual files' test coverage.

[2020-04-06 01:59] cyphase opened #14465 "Toggling pinning on the currently-narrowed stream causes the topic list to not be shown"
Pinning or unpinning a stream with its topic list open causes it to no longer show the topic list. Reproduced on CZO and zulipchat.com ([ZC](https://chat.zulip.org/#narrow/streams/public/search/zc)), but not my 2.1.x server.

Reproducer:

1. Narrow to a stream (pinned or unpinned) or a topic in the stream. As of now the stream's topic list is visible.
2. Open the stream's menu and (un)pin it.
3. T

[2020-04-06 04:57] edpeper commented on #14151
@zulipbot claim

[2020-04-06 07:30] RishabhGoyal992 commented on #14312
@zulipbot abandon

[2020-04-06 09:06] shubhamgupta2956 commented on #14312
@zulipbot claim

[2020-04-06 09:09] stratosgear commented on #14455
Just another noteworthy "trivia" mentioning...

Overnight, when our private Zulip instance is inactive by human users, there are no error messages emitted.  But as soon as people start using it in the morning, and throughout the day, the messages resume. Does this make sense on how you think this error exhibits itself...?

[2020-04-06 10:14] YashRE42 commented on #14404
Right, of course. And having a server wide default makes sense for your use case, and an obvious step in the right direction.

I was just wondering if we could add auto detection of languages as a feature that's helpful for generic programming communities and eg dev servers such as CZO.

If that's not possible, maybe we can allow stream wise defaults?
So in the example of CZO, frontend could use J

[2020-04-06 11:28] showell commented on #14458
We had a bug with that recently, so you're not imagining problems here.  I think @timabbott can help you with a permanent fix.

[2020-04-06 12:51] showell commented on #14465
![image](https://user-images.githubusercontent.com/142908/78560243-c84d1d80-77e3-11ea-942b-e964a0611df2.png)

[2020-04-06 12:52] showell commented on #14465
It's not clear to me that the above traceback is causing the problem here, but it should be investigated as well.

[2020-04-06 13:02] showell opened #14467 "pinning streams: Pinning streams causes traceback"
39577b58ba4f5c10e91f8a4b6f2066f5c7387a96 seems to have introduced an error.

To reproduce:
* narrow to some unpinned stream
* use left sidebar menu to pin that stream
* open console and look for tracebacks

![image](https://user-images.githubusercontent.com/142908/78561104-2af2e900-77e5-11ea-9d50-7094cfdd7cee.png)

[2020-04-06 13:02] showell commented on #14467
This has the same basic reproducer as #14465, but it appears unrelated otherwise.

[2020-04-06 13:03] showell commented on #14465
The above traceback does not appear to be causing this issue, but you can revert 39577b58ba4f5c10e91f8a4b6f2066f5c7387a96 to remove the noise while debugging it.

[2020-04-06 13:40] varkor opened #14468 "Autocomplete for `#` should also suggest topics without having to select stream"
It would be convenient to autocomplete topics without having to select the correct stream first. In practice, most topics are unique globally and so issues with duplicates wouldn't be prevalent. A topic of the correct name in the current stream could be prioritised. This would be a nice time-saver.

[2020-04-06 13:41] pedroxs opened #14469 "Enhance on boarding mechanics"
As discussed [here](https://chat.zulip.org/#narrow/stream/92-learning/topic/On.20boarding.20mechanics), the idea is to be able to fine tune how different domains are able to join in.

Summarized:
- Per domain invitation rules (requires invite or not)
- Global fallback

[2020-04-06 14:59] YashRE42 opened #14471 "Alternate buddy list views"
The way it currently is, the buddy list always shows all the users on the Zulip server. This is inconvenient when reading/writing messages. We have a compose fade feature which fades all the users not receiving a message, however that doesn't influence anything while just reading.

To my awareness, this was brought up in:
https://chat.zulip.org/#narrow/stream/138-user-community/topic/List.20of.20u

[2020-04-06 15:00] varkor opened #14472 "Stream creation event should include stream description"
At the moment, streams are simply introduced with a message from **Notification Bot**: `Stream created by <user>.` It would be nice to also have a message that gives the description of the stream, if it exists, to explain what the stream is for if the name isn't entirely explanatory.

[2020-04-06 15:48] showell commented on #14465
f0e18b3b3e5c5a0594291f6a010d2a47bbb49b33 broke this

[2020-04-06 16:57] FoggyFinder opened #14473 "mention popups: Cannot dismiss mention popup for deactivated user"
Moreover if one clicks on nickname of other user after that then behavior of new popup is also broken:

![demoS](https://user-images.githubusercontent.com/16510738/78584121-666ed100-7840-11ea-8946-65c46b17d561.gif)

Might be related: #14220

[2020-04-06 17:55] timabbott commented on #14455
Yes, because what's happening is the network connections between Zulip processes and the database/cache are dropped by Docker Swarm when idle, and when the first activity happens, the Zulip processes try to use the connection, get an error, and then retry (successfully).

@andersk FYI; I wonder if it's worth trying to restructure the way we handle errors accessing the database to avoid sending an

[2020-04-06 17:57] #14460 closed

[2020-04-06 19:23] aramirezreyes commented on #14160
Hi! I am interested in this feature. I am using the macOS app and the user list leaves basically no space for the streams list. The user list serves basically no purpose for me (it is a very large group and most of the posts are not directed towards one specific member), and in the other hand, the stream list has the interesting things for me. Or maybe there is a setting I am missing?
![Screen Sho

[2020-04-06 19:37] YashRE42 commented on #13670
@zulipbot abandon

[2020-04-06 19:47] kPerikou commented on #12249
@zulipbot abandon

[2020-04-06 19:48] kPerikou commented on #14459
@zulipbot claim

[2020-04-06 21:01] showell commented on #14160
@aramirezreyes I am a bit curious if you want to uncheck this setting:

![image](https://user-images.githubusercontent.com/142908/78604639-200d7800-7828-11ea-9064-f85622a48786.png)

To be clear, I agree with your feedback, and I'm just wondering if flipping this setting will make things a bit more tolerable for you until we make bigger fixes here.

[2020-04-06 22:01] timabbott opened #14481 "stream settings: Fix UI feedback for clicking checkbox widgets to toggle subscription"
In Zulip's stream management UI, it's possible to send several duplicate requests to subscribe yourself to a stream by clicking repeatedly.  This is confusing at best and buggy at worst.

This is reproducible as follows:
* Add `time.sleep(2)` at the start of `bulk_add_subscriptions` to create a delay.
* Open "Manage streams"
* Open the browser inspector's network tab.
* Click the checkmark next to

[2020-04-06 22:20] timabbott commented on #14260
Closing as I believe this was fixed in #13995.

[2020-04-06 22:20] #14260 closed

[2020-04-06 22:24] aramirezreyes commented on #14160
@showell Thanks! That does the trick.

[2020-04-06 22:31] #13851 closed

[2020-04-06 22:40] timabbott opened #14483 "Add support for disabling the video call button"
We got a request to disable Zulip's in-app video call button, which I think is pretty reasonable.

This can be implemented in the models.py layer by extending `VIDEO_CHAT_PROVIDERS` with an option for no button (value=0 makes sense for this to me).  And then that value should cause the video call button to be hidden in the frontend templates for both message editing and compose.

Tagging as a prio

[2020-04-06 22:49] sahil839 commented on #14483
@zulipbot claim

[2020-04-06 23:19] #14465 closed

[2020-04-06 23:26] #14467 closed

[2020-04-07 00:05] timabbott commented on #14454
https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html and related pages in our developer documentation cover the background you'd need to do this sort of feature in a fork of Zulip.

[2020-04-07 00:05] #14454 closed

[2020-04-07 00:41] timabbott opened #14484 "boto3: Fix support for using non-S3 providers"
In #14378, we made the migration from boto to boto3, which generally makes life easier, but it breaks the pattern we'd been using of using `self.connection.DefaultHost` to get the "S3" URL for the bucket in use based on the boto configuration.  See 7e0ea61b004ed12e653ed085d75c2508882862e2 for context; we'll want to re-apply that with the right boto protocol for doing so.

Relatedly, we'll want to

[2020-04-07 00:56] timabbott commented on #14312
I don't think it makes sense to remove it, but I could imagine an option that hides it until one uses keyboard navigation hotkeys in a given view (which would match the behavior of Slack's copy of our blue box feature).  We'd need to think carefully about how to make that work sensibly in a way that isn't confusing, and I'm not sure it'd be worth the effort to support, but if there's a coherently

[2020-04-07 08:06] cmcaine commented on #14404
Sure. Per-stream defaults sound like they might be good. I'm quite skeptical of accurate language detection from small snippets, but maybe it works better than I think.

Typeahead *might* be nice for showing what the default/current autodetection is, but I don't think I'd want to rely on users actually selecting the hint.

[2020-04-07 10:34] nanathlor opened #14486 "Zulip with LDAP login not reading mail attribute"
Zulip 2.1.3

In settings.py LDAP is enabled and worked fine in Zulip v2.0.4
Users log in by their uid (e.g. FBloggs)
mail attribute is set:
LDAP_EMAIL_ATTR = "mail"  # type: Optional[str]
mail is set up as fred.bloggs@domain.com
The following are set under AUTH_LDAP_USER_ATTR_MAP:
"first_name": "givenName",
"last_name": "sn",

LDAP_APPEND_DOMAIN = "domain.com" is also set

expected outcome:
User a

[2020-04-07 11:43] burdges commented on #356
At this point, federation cannot function without strong end-to-end encryption, so adopting [MLS](https://messaginglayersecurity.rocks/) sounds like the first step.

[2020-04-07 11:59] showell commented on #7935
@timabbott suggests:

More conversation here: https://chat.zulip.org/#narrow/stream/9-issues/topic/.237935.20Add.20a.20request.20a.20new.20integration.20link.2E/near/848553

[2020-04-07 13:48] showell commented on #14486
@mateuszmandera It looks like you introduced this behavior in 68f4cd1e943f2accba5db5a9a64cf2ee81776e7e, although I may be mis-reading the diff.  Regardless you're probably a great person to help troubleshoot this.

It appears that `LDAP_APPEND_DOMAIN` takes precedence over `LDAP_EMAIL_ATTR` in the code, which would be consistent with the results that @nanathlor is reporting here.

Is this the rele

[2020-04-07 13:51] showell commented on #14486
The above code is from `zproject/backends.py`, by the way.  It's possible that the workaround here is to simply turn off `LDAP_APPEND_DOMAIN` in the settings, although I don't know this code well enough to easily tell what other uses that setting has.

[2020-04-07 13:59] showell commented on #14473
Are you running an older version of Zulip?  I can't reproduce this error on `master`.

Also, can you try doing this with the browser console open?  I am curious if any errors are reported there.

[2020-04-07 14:05] showell commented on #14472
This seems like a reasonable request to me, and it ties in to the bigger issue that we almost never expose the stream description in an easy-to-access way.

[2020-04-07 14:08] showell commented on #14471
I think the main question is when we want to highlight/fade/bolden/omit/include users in the buddy list:

- based on the stream they're reading? (narrow)
- based on the stream they're writing to? (compose)

Right now the only thing we care about is compose, for compose-fade.

[2020-04-07 14:23] showell commented on #14469
@pedroxs I edited the issue title to specifically refer to the `invite_required` proposal.  Let me know if this is overly specific, or, if there are other related issues, feel free to open separate issues here.

I think this feature request probably makes sense for corporate environments, although it would be great to get some more anecdotal support for the need for this.

[2020-04-07 14:27] nanohayder commented on #14226
still not working for me I'm installing 2.1.3 version but still getting the same error on ubuntu 18.04

[2020-04-07 15:32] showell opened #14489 "message view: Allow more control for play/pause/loop of animated gifs."
People often send animated gifs inside messages that can be distracting after a while.  The only way to deal with it now is by collapsing the entire message, which can be overkill.

More discussion here: https://chat.zulip.org/#narrow/stream/9-issues/topic/pause.20GIF.3F/near/848863

We should come up with a solution for this.  The first step here is to have product discussions and decide on our b

[2020-04-07 15:34] SiddharthVarshney commented on #14489
@zulipbot claim

[2020-04-07 15:43] Pimentelta commented on #12059
@timabbott @andersk Is this still an open issue? I noticed Zulip has made many changes along with its newer versions over the past year, including the documentation hosted on the website. Thank you!

[2020-04-07 16:30] SiddharthVarshney commented on #12564
@zulipbot I am working on the issue.
Probably take 1/2 days to submit the PR

[2020-04-07 16:36] timabbott opened #14490 "Allow guest users to access is_web_public streams"
This is adjacent to [adding web-public streams](#13172).  For some open source communities with a company involved, it would be valuable to support an arrangement where general community members can join as guest users and browse all the web-public streams in the organization, while employees can join as members and browse all the normal public streams in the organization (i.e. basically having 2

[2020-04-07 17:06] dobleuber opened #14492 "Remove the TODO "7 days" restriction for edit and move topics"
Right now we have a restriction to move just the messages in the last week in method:
`update_messages_for_topic_edit` file `zerver/lib/topic.py`
[code]

[2020-04-07 17:22] pedroxs commented on #14469
It's fine like this, and indeed I am looking at a specific corporate scenario here. But I suppose it could be useful on other places as well.

[2020-04-07 17:59] timabbott commented on #12059
This is an open issue, but I'm not sure it's something that someone new to the project can easily contribute to, since a lot of the work will be remembering what the story is with particular changes and determining whether they're variations we want to remove or otherwise.

[2020-04-07 19:23] nschwertner commented on #13613
I am experiencing the same problem with Zulip 5.0.0. Is there any workaround?

[2020-04-07 20:08] gnprice commented on #14489
A related use case mentioned in the chat thread:

That's something I've encountered many times myself, too.

[2020-04-07 21:13] elopez opened #14497 "Email gateway not decoding "from""
Hi! I noticed that the email gateway does not parse [MIME encoded-words](https://tools.ietf.org/html/rfc2047#section-2) when showing the message author. This causes it to show stuff like `From: =?UTF-8?Q?Gast=C3=B3n_Foo?= <foo@example.com>` instead of `From: Gastón Foo <foo@example.com>`

I found this StackOverflow link which has some suggestions on how this may be handled: https://stackoverflow.c

[2020-04-07 21:36] timabbott opened #14498 "Fix live update for moving messages to a stream the user isn't able to see"
Following 7990676583b5094e1a12572a782ece7ed57b401e (Part of #6427 / #13912), we have nicely working real-time sync for moving a group of messages in a topic to a new stream.  (The UI hasn't quite merged yet, but I don't intend to block merging it on finishing this).

There's a bug where if a client receives an event notifying it to move messages to a stream ID it doesn't recognize, it'll throw an

[2020-04-07 21:42] timabbott opened #14499 "Relax restrictions on moving messages to other streams"
Following #6427 and #14498, we should be able to make the feature to move messages to new streams more accessible.  There's several directions I'd except this to take:

* [x] Allowing administrators (eventually perhaps stream owners) to move messages to-and-from private streams.  We'll need to take some care about how to do the announcement messages about these moves (From a security perspective,

[2020-04-07 21:45] timabbott commented on #6427
This feature is 2/3 merged at this point; I've opened https://github.com/zulip/zulip/issues/14499 to track something that I'd love feedback on from some of the many folks excited about this feature: what set of options organization administrators should be able to select from for who gets to move blocks of messages between streams.

That'll probably also be a good place to discuss other UI feedbac

[2020-04-07 21:47] timabbott commented on #14187
I think the shift-click UI could be a nice touch if anyone's interested in building it.  I'm not sure how easy it would be to put together, but I definitely get the use case.

[2020-04-07 22:19] timabbott commented on #14498
Steve mentions that the right fix for this is probably to check if the stream ID is unknown to the client, and if so, treat it as a deletion of the group of message IDs, rather than going through the edit code path at all.  This should work pretty well, be clean, and avoid code duplication.

[2020-04-07 23:17] showell opened #14502 "browser bug: Work around `<code>` select quirks with Chrome/Linux"
When you try to select text from a message with `<code>` block in some version of Chrome on some versions of Linux, the selection strangely goes to the beginning or end of the line despite moving the cursor only moving a few characters.

I am pretty sure this is just a bug in Chrome, as we found examples of the same failure on other websites like Github and Slack, and we can't repro it on non-Chro

[2020-04-08 00:05] timabbott opened #14503 "Fix UI feedback when user asks to mark many messages as read"
Similar to https://github.com/zulip/zulip/issues/14481, when a user clicks the "mark stream as read" option in the left sidebar, we don't presently provide any feedback that we're working on it.  As a result, if there are many thousands of matching messages, the user is likely to think it didn't work, retry, and then that second HTTP request will probably fail after a deadlock with the first, spam

[2020-04-08 00:13] timabbott opened #14504 "Fix exception when a message is deleted in a race with handle_remove_push_notification queue"
If a message is deleted by its sender immediately a push notification is sent, and after the user reads the message (triggering a remove-push-notification event being put into the missedmessage_mobile_notifications queue), but before it's processed by the queue worker, it's possible for the `bulk_access_messages_expect_usermessage` call in `handle_remove_push_notification` to return 0 messages, re

[2020-04-08 03:58] timabbott commented on #14497
@elopez are you self-hosting?  I thought we'd fixed a bug with that description in 9dcf677bf9eea0a32a8ccd06dc9715aec7850b30; that just hasn't made it into a release yet.

[2020-04-08 04:00] timabbott commented on #13613
We had to cut this feature from Zulip Desktop 5.0.0 because it wasn't working on some platforms.  I expect it to be in the 5.1.0 desktop release.

[2020-04-08 04:38] timabbott commented on #14497
Closing as I think this is already fixed; correct me if I'm wrong!  I just checked we backported this to the 2.1.3 release, so it should be available there as well.

[2020-04-08 04:38] #14497 closed

[2020-04-08 04:39] timabbott commented on #14492
Tagging this as a release blocker to make sure we look at it before releasing with #13912.

[2020-04-08 04:41] timabbott commented on #14473
Yeah, @FoggyFinder I'd love to hear whether there's a JavaScript error you're seeing in the console here.  My guess is we've already fixed this in master, but it'd be good to be able to confirm.

[2020-04-08 04:42] timabbott commented on #14486
Yeah, I think this is an unexpected/invalid configuration, and we expect the LDAP_APPEND_DOMAIN to be off if you're using LDAP_EMAIL_ATTR.  @nanathlor can you try making that change in your configuration?

[2020-04-08 06:02] FoggyFinder commented on #14473
Console shows this error:

[code]

[2020-04-08 08:48] lejando opened #14507 "Deleting and re-Adding Linkifier does not respect url changes"
I have a linkifier defined, let's say
Pattern: #ABC-(?P<id>[0-9]+)
URL: http://youtrack.yourdomain.com:8080/issue/ABC-%(id)s
this generates Links in form of
#ABC-123 -> http://youtrack.yourdomain.com:8080/issue/ABC-123

I delete that linkifier, and add a new one:
Pattern: #ABC-(?P<id>[0-9]+)
URL: https://youtrack.yourdomain.com/issue/ABC-%(id)s

This still generates links in form of
#ABC-123 -> ht

[2020-04-08 09:03] nanathlor commented on #14486
Thanks Both, @timabbott, yes first thing I tried was setting LDAP_APPEND_DOMAIN = None  # type: Optional[str] but if I do that Zulip won't restart.
Happy to check logs if you point me in the right direction?

[2020-04-08 09:18] kPerikou commented on #13923
@zulipbot claim

[2020-04-08 09:18] MariaGkoulta commented on #14472
@zulipbot claim

[2020-04-08 09:31] catalin-hritcu opened #14508 "Zulip tray icon gone (on Manjaro Linux using XFCE)"
Since a few days back, Zulip no longer displays any tray icon when running. This makes it hard to remember that it's still running when minimized and easy to miss important notifications.

I'm using package `zulip-desktop 5.0.0-1` on Manjaro Linux with XFCE.

I tried clicking "View -> Toggle Tray Icon" in the menu, toggling "Desktop Settings -> General -> Show app icon in system tray", and also ma

[2020-04-08 11:27] mateuszmandera commented on #14486
@nanathlor Can you check /var/log/zulip/errors.log server.log and ldap.log?

[2020-04-08 12:05] nanathlor commented on #14486
I get the same error in both logs:
2020-04-08 11:58:25.252 ERR  [django.request] Internal Server Error: /
Traceback (most recent call last):
  File "/srv/zulip-venv-cache/6176a52fab8737c09656fc8ad0352547e9801c07/zulip-py3-venv/lib/python3.5/site-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/srv/zulip-venv-cache/6176a52fab8737c09656fc8a

[2020-04-08 12:08] mateuszmandera commented on #14486
Indeed, these two settings are obligatory without LDAP_APPEND_DOMAIN mode. You can set them up according to the instructions in https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#ldap-including-active-directory

[2020-04-08 12:38] stratosgear commented on #14455
I am not sure these are only timeouts...

Look at the frequency of these messages:

![emails](https://user-images.githubusercontent.com/193463/78784628-f2e6d400-79a5-11ea-8df9-dd21b36769bb.png)

From 11:17 to 11:20 there is a pair of identical error messages.  Are you keeping the connections open, or you expect them to remain open for more than three minutes?  I am not sure I follow on why a timeo

[2020-04-08 13:09] elopez commented on #14497
@timabbott thank you for taking a look! Yes, we are selfhosting 2.1.2. The commit you linked does look like it will fix the issue I was seeing, thanks! I'll reopen this if we still have trouble after we upgrade.

[2020-04-08 13:28] abhigyank commented on #14508
@catalin-hritcu This is occuring due an upstream electron issue which occurs in some Linux distros.
The fix for Manjaro XFCE is given [here](https://github.com/electron/electron/issues/21445#issuecomment-565061274) . Please try that out and if it works for you please let us know.

[2020-04-08 13:38] catalin-hritcu commented on #14508
@abhigyank Thanks a lot, this worked like a charm for me.

[2020-04-08 13:44] nanathlor commented on #14486
Ahh, my mistake, sorry, RTFM!

Added those attributes:
AUTH_LDAP_REVERSE_EMAIL_SEARCH = LDAPSearch("ou=staff,ou=users,o=tree",
                                            ldap.SCOPE_SUBTREE, "(mail=%(email)s)")
AUTH_LDAP_USERNAME_ATTR = "uid"

And now I'm getting a syntax error in the logs:
  File "./zproject/prod_settings.py", line 495
    AUTH_LDAP_REVERSE_EMAIL_SEARCH = LDAPSearch("ou=users,dc=

[2020-04-08 13:52] nanathlor commented on #14486
Ahh, oops, fixed the syntax issue, I'd accidentally put it into a {} section. Accepts the syntax now, when I get more time I'll have a play with it and let you know.
Thanks

[2020-04-08 14:30] abhigyank commented on #14508
Good to know.
This issue can be closed.

[2020-04-08 14:38] #14508 closed

[2020-04-08 16:28] showell commented on #14459
I think this is still hard to read due to the 20% opacity.

https://chat.zulip.org/#narrow/stream/101-design/topic/cross.20icons/near/849752

Reopening.

[2020-04-08 16:31] nanathlor commented on #14486
OK, All working, after I read the manual and set the new LDAP parameters it worked fine, clearly the way LDAP works changed and I missed it.

Thanks again All

[2020-04-08 16:48] showell opened #14510 "Fix live updates for the "Starred Messages" view."
Please read this first:

https://chat.zulip.org/#narrow/stream/101-design/topic/starred.20messages/near/849768

We should audit "Starred Messages" for these situations:

* I'm in "Starred Messages" in browser tab 1, and I star a new message in tab 2.
* I'm in "Starred Messages" in browser tab 1, and I unstar a message in tab 2.
* I'm in "Starred Messages" and I unstar a current message.

Right now

[2020-04-08 17:05] mateuszmandera commented on #14486
Great news! :tada:

[2020-04-08 17:05] #14486 closed

[2020-04-08 17:12] timabbott commented on #10832
Closing this, given #14482 provides a way to do what we want here.

[2020-04-08 17:12] #10832 closed

[2020-04-08 17:14] timabbott commented on #14472
We used to do this, and then removed it, because stream descriptions are editable and it's confusing to see the original stream description listed.

The right UX solution here is to provide the stream description in our top navbar, which is planned.

So I'm going to close this as wontfix until we've addressed that and users can experience that, which I'm hoping to focus on merging this week.

[2020-04-08 17:14] #14472 closed

[2020-04-08 17:15] timabbott commented on #14507
@lejando what version of Zulip are you seeing this with?  Or is it on zulipchat.com?

I think Zulip 2.1.x might have a caching bug that would manifest this way.

[2020-04-08 19:25] sigma-schn commented on #14507
Yes, we use zulip 2.1.1.
12h later its working, so realy looks like a caching bug.

I'd try to get the department to update the installation, and check that again.

Thanks for your input!

[2020-04-08 19:26] lejando commented on #14507
Yes, we use zulip 2.1.1.
12h later its working, so realy looks like a caching bug.

I'd try to get the department to update the installation, and check that again.

Thanks for your input!

[2020-04-08 19:53] #14351 closed

[2020-04-08 20:02] Abhishek-Balaji commented on #11227
@zulipbot claim

[2020-04-08 20:44] showell commented on #14473
Ah, this looks like it's related to really long emails, which you can see in the screenshot.  @FoggyFinder thanks for the added info, this was super helpful.

Here is the function that seems to be failing in the traceback:

[code]

Let me see if I can reproduce this on master now...

[2020-04-08 20:50] showell commented on #14473
Long emails seem to work on `master` for me, so it's possible this is an old bug, or maybe there's something else that causes this:

![image](https://user-images.githubusercontent.com/142908/78832290-f9cb1200-79b8-11ea-9918-9539567619ee.png)

[2020-04-08 21:02] showell commented on #14473
Ok, this bug happens if you have a really long email **and** a deactivated user (I forgot that detail when I first tried to reproduce it, but it's right there in the title), because deactivated users don't have the `hide_copy_icon` element:

[code]

Which causes this to fail:

[code]

[2020-04-08 21:43] #9229 closed

[2020-04-08 23:19] MasonProtter opened #14516 "Grey out users not subscribed from the Stream view"
Currently, I'm I'm looking at a given topic or stream and I click on a a message so that it has the blue box around it, users in that stream will get greyed out which can be a useful visual cue. However, this does not happen if no message is selected.
![Screenshot_20200408_171909](https://user-images.githubusercontent.com/29157027/78842409-1ec18400-79bd-11ea-84b8-a9425f536553.png)
![Screenshot_202

[2020-04-09 10:51] showell commented on #14516
Yep, the reason we do that only when you open the compose box is to make it obvious, when you're composing, which topic you're talking to.  When you're not composing, we just leave everything bright to make it more readable.

This is an intended feature, so I'm going to close the issue.

If you have additional feedback on this, you probably should just chat on our #design stream on https://chat.zu

[2020-04-09 10:51] #14516 closed

[2020-04-09 14:18] rolandcrosby opened #14518 "Erroneous link parsing in thread titles"
A thread title on a Zulip instance I'm a member of contained the string "core-js@2.6.11". A link widget pointing to the URL `https://core-js@2.6.0.11/` appeared in the title. After some investigation I determined that there are a number of other erroneous cases that are parsed as URLs:

input | actual parsed link|expected
-|-|-
`core-js@2.6.11`|`https://core-js@2.6.0.11`|none
`test@1.0` | `https:/

[2020-04-09 16:48] Pranav2612000 opened #14521 "Allow non-admin users to filter linkifiers."
Go to Organization Settings > Linkifiers. We observe the filter linkifiers text input box is disabled for non-admin users. The user should be allowed to filter the linkifiers as this is a read-only operation.

![linkifiers](https://user-images.githubusercontent.com/20909078/78919314-5f99c580-7aaf-11ea-9bc9-96fe6d68e025.gif)

[2020-04-09 16:48] MasonProtter opened #14522 "Leave a breadcrumb when you "quote and reply" to a new topic"
If I'm in the middle of a conversation in one topic and want to branch off into a side topic that is kinda 'budding off of' that original topic, I think it would be nice if there was a way to leave behind a little visual indicator / link so people in the original topic can see chronologically where the budding occurred and can follow along.

[2020-04-09 16:48] Pranav2612000 commented on #14521
Working on this.

[2020-04-09 17:25] MariaGkoulta commented on #14451
@zulipbot claim

[2020-04-09 19:41] #14171 closed

[2020-04-09 22:33] cchloet commented on #12769
I'm curious how this issue and #13575 differ. The goal of both the issues seem the same, so how would I approach this one?

[2020-04-09 22:38] showell commented on #14522
See https://chat.zulip.org/#narrow/stream/101-design/topic/.2Fdigress/near/850762 for a related thought.

I'm not clear that you actually mean "quote and reply" here.  Is this more about just moving conversation to a new topic?

[2020-04-09 22:46] klonos commented on #647
Backdrop CMS has recently changed from Gitter to Zulip. Although most of the community has adapted to the change, but we do have a few of our most active community members constantly complaining about this, and wishing that there was a way to "just chat" in Zulip.

They have expressed the opinion that they see the current way of having to choose a stream/topic as being a trow-off for people new to

[2020-04-09 22:54] MasonProtter commented on #14522
In Zulip, you can click one someone's message and press 'quote and reply' and that will open a new message where you are quoting their message and includes a link back to the original.  When you do that, you can change the topic of your reply so we usually find it's a nice way to branch a side conversation off of an existing conversation.

I'm saying it would be nice if this left a link in the ori

[2020-04-09 23:02] #14404 closed

[2020-04-09 23:03] #14483 closed

[2020-04-09 23:45] #14375 closed

[2020-04-10 00:01] showell commented on #14522
Ah, now I understand the quote-and-reply piece of this--thanks for the clarification.

[2020-04-10 00:04] showell opened #14531 "Add a /digress slash command."
This is closely related to #14522, and we should probably do this piece first, as a good way to prototype things, and then there will be common building blocks for the other issue.

We'd like to have a slash command called /digress, which would write two messages and switch you to a new topic:

- old topic: "Steve will be talking on the new topic: lunch" (and links, of course)
- new topic: "Steve

[2020-04-10 01:57] jenlampton commented on #647
Hi all, I am one of the "most active community members constantly complaining about [Zulip]". My background is that I have been chatting with various communities on IRC for 13+ years, and I am now also forced to use Slack for work. I like using Slack, but I would prefer an Open Source alternative for my favorite Open Source software communities :)

My problems with Zulip are exactly as described i

[2020-04-10 08:22] timabbott commented on #14518
Thanks for the report!  This definitely seems wrong.

[2020-04-10 09:18] timabbott commented on #647
Thanks for the thoughtful feedback, folks!  A few thoughts (not necessarily fully thought through; it's the middle of the night right now):
* We have a "no topic" feature implementing part of what you describe already -- if you hit `c` when looking at a stream, it'll open the compose box with the topic field blank.  If you don't want to enter a topic, you can hit `tab` to skip the topic box, type

[2020-04-10 14:12] showell commented on #14521
I believe we fixed this in
https://github.com/zulip/zulip/commit/326b0e0378488e7334bcbc0ef71a003b45e2428a

@Pranav2612000 You can use "Fixes #nnnnn" for future commit messages that fix issues, so they will auto-close.

Closing.

[2020-04-10 14:12] #14521 closed

[2020-04-10 18:45] ankita-2798 commented on #14377
The pull request linked is ready to merge from my side. Could the concerned members kindly review it and let me know if any changes are required to be made :)

[2020-04-10 18:57] timabbott commented on #13612
@mikeslywka I think this was fix in the 2.1.3 release; we had a bug in how memcached authentication configuration worked with the backup restore tool.

The following one-line command will resolve the tsearch_extras issue:

`su postgres -c 'psql zulip -c "DROP EXTENSION IF EXISTS tsearch_extras;"'                            `

Now we just need to get that change into a release.

[2020-04-10 19:31] timabbott commented on #13612
After some investigation, I figured out a nice way to do this.  I've created a PR for this that I expect we'll backport for Zulip 2.1.4, which I'm hoping to release next week.

[2020-04-10 21:12] showell opened #14544 "unreads: Editing the mention out of an unread message confuses counts"
This confuses unread counts:

- Alice sends you a message mentioning you
- She edits the message to remove the mention

The unread counter will still think you're mentioned.

[2020-04-10 21:25] jenlampton commented on #647
We found this feature recently, and have enabled it. It makes things a lot better for those of us who are already using Zulip, but doesn't help with the "where should I put my message?" paralyzation that happens for new users. "No topic" just becomes another option in the list...

The problem with this is that you first need to 1) know these people exist, then then 2) explicitly tell them what to

[2020-04-11 00:44] cyphase opened #14545 "typeahead: Use stream participation for mention autocompletes in message edit."
When adding a mention (at- or silent) in an edit, the autocomplete suggestions are not taking stream participation into account. Here's a reproducer:

1. When first writing a message, type `@_steve` and see what appears; it should be a stream-participation-aware list (which will likely have Steve Howell on it). You can include the mention in the message or not. Send the message.
2. Close the compo

[2020-04-11 10:33] ankita-2798 commented on #14377
Updated the pull request incorporating the changes suggested, kindly review :)

[2020-04-11 14:56] caseykneale opened #14549 "Zen Mode"
So... After trying Zulip a bit I find it more complicated then most other chat programs. Its complexity may even be seen as a deterrent to it's use/adoption.

I propose a Zen-Mode view of the Zulip interface. Where the most recent posts for a given stream are all shown in one chat. Where one can click on a relevent thread's summary and see the more specific replies to a given topic.

I appreciate

[2020-04-11 16:19] MasonProtter opened #14551 "Setting to disable unread message count"
I think that for some, Zulip showing the number of unread messages is helpful, but I think for me it drives some compulsive behaviour I'm not very happy with.

I think for my purposes, it would be enough if Streams and Topics with unread messages were merely highlighted instead of showing how many messages are left for me to read.

[2020-04-11 19:00] #14544 closed

[2020-04-11 19:39] hashirsarwar commented on #14492
@zulipbot claim

[2020-04-12 18:04] #14405 closed

[2020-04-12 19:30] vchrombie opened #14558 "Feature request: use date field in the narrow"
I went through the docs of the REST API, https://zulipchat.com/api/get-messages and I understand that the narrow can be used as filters for fetching the messages from the Zulip chat.

I went through the docs to get any such information of using any date as search field.
Please correct me if I have missed anything.

There is a project called Perceval (one of the important components in [GrimoireLab

[2020-04-12 20:12] YashRE42 commented on #14471
Steve's last comment summarizes the crux of the problem quite clearly. Reading will always be a much more frequent action than writing if you're talking to other users. My opinion is that if the buddy list is not displaying the global user list, it should display the users that are in the narrow because the narrow tells us both who is involved in the conversation as well as the scope of "people wh

[2020-04-12 21:42] timabbott commented on #10255
This will be resolved when we merge #14466, which should hopefully be in the next day or so.

[2020-04-12 21:58] timabbott opened #14559 "Hovering over the "Mentioned in" column in "Uploaded files" setting shifts the UI"
I'm not sure why this happens (it clearly has something to do with the sorting feature), but we have a UI bug where hovering the mouse over the "mentioned in" column in the /#settings/uploaded-files shifts the UI.

We should figure out the cause and fix it.  (And then audit all the other settings pages with a table for the same bug).  It's possible the fact that the table's empty in a development

[2020-04-12 22:02] #14377 closed

[2020-04-13 05:06] shubhamgupta2956 commented on #14004
@zulipbot claim

[2020-04-13 07:57] Jagansivam28 commented on #14559
@zulipbot claim

[2020-04-13 07:58] Jagansivam28 commented on #14559
I'm working on this issue

[2020-04-13 09:03] maltokyo commented on #14136
Hi @timabbott @vaibhavrajsingh2001 - my objective (request for help) here is to ensure that Zulip content STAYS on Zulip server only.  I want  to disable completely even the ability for users to send any user posts to outside email servers.

My users tell that they are not comfortable to use my Zulip installation, when there is the fear that someone is sending all the content in an automated way t

[2020-04-13 09:28] cmcaine commented on #14404
Thank you!

[2020-04-13 15:45] haikuginger commented on #14377
Thanks so much @ankita-2798 and @timabbott!

[2020-04-13 16:04] hackerkid opened #14565 "Finish wiriting language names using the language itself in settings"
Most of the language names in language settings are currently written using the language itself (தமிழ், 日本語, English etc). A few of them like Hindi, Malayalam etc are not. Investigate how many of the language names are left and convert the names of the remaining languages to be written using the language itself.

![Screenshot from 2020-04-13 21-30-56](https://user-images.githubusercontent.com/7190

[2020-04-13 17:14] MasonProtter opened #14567 "Wide LaTeX equations get cut off on narrow screens"
It seems that if I post a sufficiently wide LaTeX equation in Zulip, the only way to see the full thing is to have a wide enough screen. I can't find a way to scroll sideways and see the full thing. Here's a couple screenshots showing what I mean
![Screenshot_20200413_111103](https://user-images.githubusercontent.com/29157027/79141877-df59b580-7d77-11ea-828d-d2846d7acd91.png)
![Screenshot_20200413

[2020-04-13 17:27] MasonProtter opened #14568 "Put LaTeX equations in align environment"
I had hoped that I could work around [this issue](https://github.com/zulip/zulip/issues/14567) by using the align features of LaTeX, but it seems that using `&` to mark where two lines should align does not work, i.e.
[code]
doesn't want to render properly. I don't know how this works in Zulip under the hood, but in regular LaTeX if you replace `\begin{equation} ... \end{equation}` with `\begin{al

[2020-04-13 18:59] ankita-2798 commented on #14304
@zulipbot claim

[2020-04-13 19:51] rohanpra commented on #1286
Have been busy, but still working.

[2020-04-13 21:39] timabbott commented on #14567
We have CSS that handles this for code blocks, so we should just figure out why that CSS isn't being applied to math blocks to address this.

[2020-04-13 21:57] timabbott commented on #14404
We can do this pretty easily; there's a `guess_lang` feature of pygments that attempts to do this.  I think we could offer an option in the dropdown of "Guess" that uses that feature; users can decide if they like the results.

I agree with @cmcaine that it isn't accurate enough that we'd want to use it generally (at least, it wasn't a few years ago, which is why it's been turned off in Zulip sinc

[2020-04-13 22:11] timabbott commented on #14568
That certainly is something that should work!

Zulip's LaTeX rendering is pretty straightforward, in that we pass the source into KaTeX, which does all of the work.  So I'd start by figuring out whether KaTeX has the same bug.  Here's the code that passes the extracted text into KaTeX for rendering:

https://github.com/zulip/zulip/blob/master/zerver/lib/tex.py

[2020-04-13 22:12] gnprice commented on #14567
I think this is the same issue as #14422.

[2020-04-13 22:15] timabbott commented on #14568
https://katex.org/docs/support_table.html suggests you can do this inside a `\begin{aligned}`.  And indeed pasting this into Zulip works:

[code]

So I think the root problem here is that we have a documentation bug; we should link to https://katex.org/docs/support_table.html for how to write KaTeX in Zulip.

[2020-04-13 22:50] ray-kraesig commented on #14422
Alas, not *quite*.

Code block scrolling is handled with `pre { overflow-x: auto }`. Unfortunately, KaTeX does some interesting things with outsize margins (?) to lay out math – and `overflow-x: auto` [is promoted to](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow) `overflow: auto` in this context. `.katex-display { overflow-x: auto }` therefore causes the math to become *vertically* sc

[2020-04-13 22:58] #14568 closed

[2020-04-13 23:10] timabbott commented on #14422
https://github.com/KaTeX/KaTeX/issues/327 may also be relevant.

[2020-04-14 11:33] stableapple commented on #14565
@zulipbot claim

[2020-04-14 11:37] aero31aero commented on #14545
@zulipbot claim

[2020-04-14 12:41] nanohayder opened #14573 "People pinning, Group PM rename & archive topics"
Hi,

   it would be nice if we have an option to pin people to favorites or to the top. or at least ping PMs to the top.

   also it would be great if we can re-name a group PM since currently the name is a list of names and it seems very clattered in our installation we have a lot of those since we some time need to get some people involved just for a small discussion it wouldn't make since to cr

[2020-04-14 12:49] jbsolomon commented on #13613
Is there a way to opt into a beta having support for this?  @timabbott

[2020-04-14 13:02] nanohayder opened #14574 "Desktop/Web UI enhancement"
we have some suggestions to improve the side bar where streams and PMs are shown as you can see in this image with display resolution of 1080 there is a lot of space left empty.

![image](https://user-images.githubusercontent.com/32701530/79227399-80c03480-7e68-11ea-858c-8bffbb3d259c.png)

our suggestion is to have a little bit larger fonts and more fields like for example is two have a new sectio

[2020-04-14 14:04] Garagoth commented on #10208
Yes please! It is confusing when no matter which stream is selected the entire users list is visible.
There is a blur indeed... had to look very closely to see it. But instead of blur I would like to filter list.
All messages can still have all users.
Selecting a stream should filter users list to stream subscribers.
Also, some people have trouble finding stream subscribers (hidden in stream setti

[2020-04-14 15:14] MasonProtter commented on #14567
Yes it is, sorry for the noise.

[2020-04-14 15:14] #14567 closed

[2020-04-14 17:27] chdinesh1089 commented on #14469
@zulipbot claim

[2020-04-14 18:13] #14423 closed

[2020-04-14 18:28] MasonProtter opened #14578 "Search for messages that have reactions"
Ref https://chat.zulip.org/#narrow/stream/2-general/topic/See.20Emoji.20Reactions

It'd be nice to be able to search for messages that have emoji reactions and preferably even provide a button for searching for your own messages that have been reacted to (Like the `@mentions` button).

[2020-04-14 18:54] clarammdantas commented on #14490
@zulipbot claim

[2020-04-14 19:39] timabbott commented on #14578
This would be a nice feature.  I think we should start by adding backend support for a `has:reaction` search operator; the query described above would be e.g. `has:reaction sender:me`.

(See also https://github.com/zulip/zulip/issues/11637 which has some relevant thoughts, but that imagines a different `reaction:heart` search for a specific reaction).

[2020-04-14 19:59] sidforreal opened #14579 "Open message compose on drag/drop files"
Currently, to attach some file by drag/drop event we have to first open the message compose box and drop that file in the message box.
Its sometimes gets annoying when you forget to open the msg compose box and dropping that file on zulip's interface ends up opening that file in the browser itself
See this example:
![Peek 2020-04-14 23-00](https://user-images.githubusercontent.com/32801674/7926828

[2020-04-14 20:16] timabbott commented on #14423
BTW a bug fixed in 2.1.3 that fixes an issue that might cause memcached authentication to be misconfigured after a backup restore.  So anyone seeing this issue should make sure they're running 2.1.3 or later first.

[2020-04-14 20:21] timabbott commented on #14422
Well, we can go with that solution barring some better idea.  I'm currently thinking we'd to implement it for now by having the `post_process` code path in `message_list_view.js` add these wrapping divs; this sort of display detail seems like a bit much.

@andersk what do you think?

[2020-04-14 21:06] ray-kraesig commented on #8181
(From investigations here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/mobile.20scrolling)

Scrolling through messages on mobile Chrome is slow, with frames dropped all over the place. The timeline shows that the "Update Layer Tree" (ULT) operation is taking forever. (This is particular to Chrome: Firefox is fine.)

Although initially spotted on CZO, it can be reproduced clearly with a

[2020-04-14 22:13] jiviteshjain commented on #14311
@timabbott Here's what I could find on this issue:
It happens because the element's text is set (after filling in typeaheads) using `$element.val()` in `bootstrap-typeahead/typeahead.js` as follows:
[code]
And this breaks the browser's undo history.

The options that I could find for fixing this are:
1. use `document.execCommand('insertText', <...>)` instead of `.val(<...>)`
This simulates the use

[2020-04-14 22:23] timabbott commented on #14311
I'm not sure; none of those options seem particularly pleasant; probably the third-party editor library is my favorite but that seems like a big hammer that'd be a lot of work to integrate without problems.  Maybe start a thread on chat.zulip.org to see if anyone else can find better options?

[2020-04-14 22:30] timabbott opened #14581 "Rare exception in removing mobile push notifications"
We get this exception occasionally:
[code]

I believe it's what happens where there's a race where a message is deleted after the user has read it but before the mobile push notification to remove it is sent.

There are probably 2 bugs here:
* When we delete a message, we probably don't send an appropriate "remove push notification" notice. (So if the user hadn't read the message yet, we might nev

[2020-04-14 22:30] timabbott commented on #14581
Oops, I guess this is a duplicate of #14505.  Closing, though maybe this one has better notes.

[2020-04-14 22:30] #14581 closed

[2020-04-14 22:32] timabbott commented on #14551
We could certainly provide this as an option.  I personally find it very helpful when planning catchup on messages to be able to see which threads have 50 messages vs. 2, since that helps predict how long it'll likely take to read them, but this feels well within the realm of personal preference.

We'd need to figure out a visual design for the feature.

[2020-04-14 22:34] timabbott commented on #14551
And maybe it would go either in "Display settings" next to the "starred messages" count, or here (where we configure how the title unreads work).

![image](https://user-images.githubusercontent.com/2746074/79280502-5ae56080-7e65-11ea-942a-d17c9d89c374.png)

[2020-04-14 22:38] timabbott commented on #14551
In the database, this seems like a boolean, `display_unread_counts` with `(default=True)`, unless we think that we'll want a broader set of options like "Only for PMs and Mentions", but that feels inconsistent to me.

I guess I'll also mention a few concerns one might have:
* Generally, having 10,000s of unread messages will eventually make Zulip slower, and it's perhaps helpful for it to be visib

[2020-04-14 22:40] timabbott commented on #14558
I think this might be a duplicate of https://github.com/zulip/zulip/issues/10385?

That issue has gotten very spammy, but https://github.com/zulip/zulip/issues/10385#issuecomment-475012637 and https://github.com/zulip/zulip/pull/12233 have the useful state here.

@thedeveloperr would you be up for rebasing your PR and posting a summary reminding us of what it does?

[2020-04-14 22:41] timabbott commented on #14558
@vchrombie it might be helpful if you posted details on how you'd want the date to be encoded; I don't think we'd decided on that entirely on our end.

[2020-04-14 22:42] timabbott commented on #14522
I like the "digress" feature idea that Steve proposed for this.

[2020-04-14 22:43] timabbott commented on #14579
I agree this is annoying, and we should address it.  For the logic, I think we can open the compose box the same way the `Enter` hotkey would have.

[2020-04-14 23:15] jiviteshjain commented on #14311
Started a topic here: https://chat.zulip.org/#narrow/stream/6-frontend/topic/Maintain.20undo.20history.20after.20typeahead

[2020-04-14 23:32] andersk opened #14582 "OpenAPI definition doesn’t pass validation"
Commit 35577a1f66e514585c9210a50ea336ebe42511d6 (#9406) moved the OpenAPI definitions to `zerver/openapi`, and the `tools/check-openapi` script was not updated, so it has been validating nothing for two years. Validation errors have been accumulating since then. I’m not sure how many, since the validator only shows the first one.

See #14381, which successfully fixes the validator, but obviously f

[2020-04-15 01:16] shubhamgupta2956 commented on #14579
@zulipbot claim.

[2020-04-15 02:34] rebtung commented on #12049
@zulipbot still working on it!

[2020-04-15 06:07] NiklasMM commented on #14508
[This comment](https://github.com/electron/electron/issues/21445#issuecomment-565710027) has some more fixes for other distros (such as Mint, which solved the issue for me). Just leaving it here for people who look for a fix.

[2020-04-15 06:10] vchrombie commented on #14558
Hi @timabbott
Sorry for not being clear.

I was talking about the API. Just want to know if the `narrow` param can be used to fetch messages after a given date

[2020-04-15 06:35] SiddharthVarshney commented on #14579
One thing we should also keep in mind that not just dragging file opens up the composed, it also gets attached to the message box even if the drop is not exactly on the compose message area.
FYI @shubhamgupta2956

[2020-04-15 14:33] konovenski opened #14586 "Show delivery_email in mention box"
As a user, I want to see a regular user email in a mention-select box.
Now, if the mentioned user was registered with SocialAuth (google) I would see smth like `userXX@zulip.com` under his name in the mention-select box.
For such cases, we can use `zerver_userprofile.delivery_email` DB field instead of `zerver_userprofile.email` because it contains an actual user email

## Steps to reproduce
1. Tr

[2020-04-15 14:53] rgogia commented on #4240
@zulipbot Still working on this.

[2020-04-15 15:17] thedeveloperr commented on #14558
@timabbott rebasing my PR will take some significant time, it was one of my initial PR while getting started in Zulip development so alot of things can be done in a better way, so I will be rewriting that feature from scratch. I can start working on that after 19th April

[2020-04-15 15:18] rxiaoch commented on #14226
comment out these two lines in this file "scripts/setup/flush-memcached" fix my problem, you can try it.
![image](https://user-images.githubusercontent.com/36401800/79354607-337aba80-7f6f-11ea-880f-2515cc054c9b.png)

[2020-04-15 16:07] Holzhaus opened #14588 "Add "Anyone can join" option for user groups"
It would be great if it was possible to add some public user groups that users can join/leave by themselves, without the need to be added by an existing group member.

Use case:
For our development chat, we have groups for "windows_testers", "linux_testers" and "osx_testers" that can be used to notify users that we need tests on a specific OS.

[2020-04-15 17:21] nanohayder commented on #14226
well I managed to solve it by changing file permissions
sudo chown memcached:memcached /etc/sasl2/memcached-sasldb2
and it worked after that

[2020-04-15 18:20] #13913 closed

[2020-04-15 18:35] timabbott commented on #14586
This is not related to Google authentication.  Your organization has configured  https://zulipchat.com/help/restrict-visibility-of-email-addresses so that users cannot see other users' email addresses; in that configuration, we cannot share actual email addresses with browser clients (and thus only the fake email addresses are available for disambiguation).

[2020-04-15 18:35] #14586 closed

[2020-04-15 18:37] timabbott opened #14589 "Add Ubuntu Focal production support"
We'd like to support Ubuntu Focal in production as soon after its official release as we can.

Here's an abbreviated TODO list:
* [x] Support Ubuntu Focal in development
* [x] Run Ubuntu Focal in CI (blocked on #14278).
* [ ] Document support for Focal in development
* [ ] Fix puppet issues with Ubuntu Focal (some work in #14571)
* [ ] Test Ubuntu Focal in production
* [ ] Document support for Foc

[2020-04-15 18:38] timabbott commented on #14586
By the way, thanks for the report.  If you have ideas for how we can clarify this situation to users, I'd love to hear them!

[2020-04-15 18:41] timabbott opened #14590 "Install our own Python from Conda"
It appears that we need to bit the bullet and ship our Python.  I'd been hoping to keep Python among the set of packages, like postgres and redis, that we use from the host system, but projects like thumbor dropping support for non-EOL Python versions (e.g. 3.5 has 6 months left of support) makes it very difficult to do so with our older OSes.  We're potentially going to drop Ubuntu 16.04 support

[2020-04-15 19:11] MasonProtter commented on #4601
I'd just like to bump this and note that it was recently requested in the Julialang Zulip.

[2020-04-15 19:52] Dylnuge commented on #5802
@zulipbot claim

[2020-04-15 20:46] kmpaul opened #14593 "Zulip Import Errors on Ubuntu 18.04"
I have two servers running Ubuntu 18.04.  On the first server (OLD), I am running Zulip 2.1.3, and I was able to following the instructions to successfully generate an export tarball.  I SCPed the tarball over to my second (NEW) server, and I followed the instructions for importing the old server data, but no matter what I try, I get the following error:

[code]

I can't figure out what I am doing

[2020-04-15 20:47] konovenski commented on #14586
Hi @timabbott ! Thanks for your answer. Just as an idea - do you really need to show the fake addresses? As it said in the link you gave me - `This might cause some confusion for users. The fake email addresses do not work, and email sent to those addresses will bounce.`
Maybe it's better to show nothing instead?

[2020-04-15 20:52] konovenski commented on #14593
Hi @kmpaul !
Just as quick fix:
1) after a fresh install get the link for a new organization creation (`manage.py generate_realm_creation_link`)
2) register it
3) delete it https://zulip.readthedocs.io/en/latest/production/export-and-import.html#deleting-and-re-importing
4) run import once again

[2020-04-15 20:57] kmpaul commented on #14593
I'll give it a shot.  I'll retrieve my "fresh install" state from a VM snapshot and try this out.

[2020-04-15 21:10] kmpaul commented on #14593
Hey!  That got much further, but now I get a bunch of `memcached` errors.  Full output below:

[code]

[2020-04-15 21:17] konovenski commented on #14593
Hm, didn't have any of that. Could only suggest that maybe you got out of your VM resources while importing and this caused a memcached error. But this is only a weak suggestion

[2020-04-15 21:21] MasonProtter commented on #4601
I appears that searching `streams:public is:unread` does the trick, though reading those messages from the search does not appear to mark them as read.

[2020-04-15 21:42] kmpaul commented on #14593
I get nothing in memcached logs.

[2020-04-15 22:15] #10255 closed

[2020-04-15 22:18] #13612 closed

[2020-04-15 22:19] timabbott commented on #13612
The fix is now in master and backported to the `2.1.x` branch; so `upgrade-zulip-from-git 2.1.x` before creating the backup is probably now the simplest workaround.

[2020-04-15 22:36] showell commented on #4601
Hrm, the fact that we don't treat `streams:public is:unread` as a stream where you can read messages (and have them marked as read) is an interesting edge case--I guess there's a pretty strong argument we should mark those as read.

[2020-04-15 22:38] #14136 closed

[2020-04-15 22:44] timabbott commented on #14136
@maltokyo thanks for the follow-up.  I think there are 2 features being mixed up here.  One is Zulip's digest emails (which you can see a preview for how they work at e.g. https://chat.zulip.org/digest/), which an organization administrator can disable for the whole organization using the setting documented by the Help Center document we just merged.

The second is the "missed-message" emails, whi

[2020-04-15 22:45] timabbott commented on #14136
(We can finish the discussion on this thread and then open a new issue for the feature if there's a feature we need).

[2020-04-15 22:47] kmpaul commented on #14593
The error messages suggest to me that it is failing to connect to `memcached`:

[code]

A similar error was found on #8760, which suggests that `memcached` was rebooted and Zulip lost connection to it.  I don't know when this would have happened, but the recommendation according to the documentation is to restart the Zulip server to reconnect with `memcached`.  I'm going to try that and see if rem

[2020-04-15 22:51] sahil839 commented on #14409
@zulipbot claim

[2020-04-15 23:02] kmpaul commented on #14593
Restarting the server with:

[code]

Does not fix the problem.  If I restart the server before I try the import command, I still get the same errors.

[2020-04-15 23:16] kmpaul commented on #14593
Nope.  Wait.  I do get different error.  In particular the:

is now gone.  However, I am still getting the errors:

`pylibmc.NotFound: error 16 from memcached_set`

and

`pylibmc.Error: error 26 from memcached_delete(:1:77606cae4a8d8e7c08621d5851290): Transport endpoint is not connected`

It is unclear to me whether these errors are actually a problem, but a confirmation that the import should be

[2020-04-15 23:38] timabbott commented on #14586
Arguably we don't, and there's planned work to remove them from typeaheads (tracked elsewhere).

The feature to hide email addresses is new and showing those emails is a transitional phase.

[2020-04-15 23:46] timabbott commented on #14593
Thanks for the reports, folks.  I think I understand the original Slack import problem, which we fixed in master last week and I just added to the 2.1.x branch; so `upgrade-zulip-from-git 2.1.x` will get you that fix.

The memcached errors I don't understand.  @andersk are those memcached authentication exceptions, or something else?

[2020-04-16 00:13] ray-kraesig commented on #14422
Depending on what sort of styling we want, the double-div wrapping may be overkill. The following seems to suffice for desktop:

[code]
... with no need for a separate `.zulip-katex-inner` div at all. (Tested on Linux FF 75 and Linux Chrome 81.)

I'm not sure that will suffice for mobile, though – and by "mobile" I mean both the mobile app, and the webapp as viewed on a mobile browser. In either c

[2020-04-16 00:14] gillybytes commented on #14578
@zulipbot claim

[2020-04-16 00:19] timabbott commented on #7205
This was fixed by @andersk in 99242138a725477cd44c09b1069ce8b3d9c21aec.

[2020-04-16 00:19] #7205 closed

[2020-04-16 00:28] timabbott commented on #13738
Adding links to #14589 and #14278 and #14590.

[2020-04-16 00:29] timabbott commented on #14138
@maltokyo did you figure this out?  It seems like yes because you've been posting other issues, but I just wanted to be sure before closing this.

[2020-04-16 00:29] #14373 closed

[2020-04-16 00:31] timabbott commented on #13726
I'm not sure whether it's worth doing the other things, but it seems really clear we should have the index described above; @mateuszmandera would you be up for doing a PR to do that `ADD INDEX CONCURRENTLY` index from https://github.com/zulip/zulip/issues/13726#issuecomment-577950688?  I think the `NULLS LAST` is worth doing as it may help when we upgrade to future postgres versions.

[2020-04-16 01:37] rxiaoch commented on #14226
I tried it, but it said "chown: invalid user: ‘memcached:memcached' "

[2020-04-16 01:42] nanohayder commented on #14226
Sorry my bad the user on Ubuntu is memcache without the trailing d
You can check the exact user by checking the file /etc/passwd should print all users

[2020-04-16 08:57] Abhishek-Balaji commented on #13519
@Rodriq Is this issue still available? I noticed that your PR was inactive for some time.

[2020-04-16 10:49] sahil839 commented on #14551
Regarding the first point, may be we can show a popup/modal (informing user that the large amount of unread messages may affect user experience) if unreads extend a certain limit and user has opted for settings to not display unreads.

[2020-04-16 12:09] Sjord opened #14595 "AttributeError: 'LogRecord' object has no attribute 'status_code'"
I have a development environment with the latest Git version. After performing many requests, I get blocked because of rate limiting. Then, the following error is logged in the console:

[code]

Normally, [http.server logs request, status code, size](https://github.com/python/cpython/blob/master/Lib/http/server.py#L544-L545), and [Django extracts the status code from that](https://github.com/djang

[2020-04-16 12:51] Pranav2612000 commented on #14481
Working on this issue.

[2020-04-16 12:58] YashRE42 commented on #11152
Someone please do this, I don't really have the bandwidth to give it a shot right away, but I'd really like to see this resolved and would be up for helping (just @ on CZO).

[2020-04-16 14:34] orientor commented on #14100
I will add use of openapi description in `templates/zerver/api/` files.

[2020-04-16 14:37] kmpaul commented on #14593
This morning, I am going to try a new test:

1. Revert VM to pre-import snapshot (i.e., fresh install of Zulip)
2. Restart `memcached` with increased logging verbosity (`-vv`)
3. Restart the Zulip server (as suggested by #8760)
3. Perform the create+register+delete organization hack (suggested by @konovenski, above)
4. Attempt the import again
5. Retreive the `memcached` logs

I will post the logs

[2020-04-16 14:56] timabbott commented on #14595
This is likely a regression in the rate-limiter infrastructure rewrite we merged yesterday.

@mateuszmandera FYI.

[2020-04-16 15:14] timabbott commented on #14593
I would recommend instead doing `upgrade-zulip-from-git 2.1.x` and skipping step 4; we expect to release that as 2.1.4 in the next 24 hours.

[2020-04-16 15:16] kmpaul commented on #14593
@timabbott Do I need to upgrade the OLD server, too?  Or is it safe to only upgrade the NEW server?

The production server documentation says that the two versions should be the same for import to work.

[2020-04-16 15:16] timabbott commented on #14100
OK -- for that task in particular, we will want to be sure that we use the existing content from the `templates/zerver/api/` files (by copying it over to the openapi files) so that the documentation appears exactly the same after the move; the current description fields in `zulip.yaml` are unreviewed and often much worse-written duplicates.

[2020-04-16 15:16] infinity0 commented on #10208
Yes please! It's hard to figure out who I'm talking to when there are 100 users and only 5-6 subscribers. Every other group chat app has this, I don't even know why I am being shown non-subscribers when viewing a stream at all.

[2020-04-16 15:29] pekkaklarck commented on #14490
The link in the description is broken. Feel free to delete this message.

[2020-04-16 15:30] kmpaul commented on #14593
And I guess a related question would be:  When the 2.1.4 release comes out, should I upgrade my OLD server to 2.1.4 before doing the export?

[2020-04-16 15:49] kmpaul commented on #14593
Okay.  I followed your suggestion @timabbott and upgraded only the NEW server to 2.1.x from git.  Then I tried to import, again, but with increased `memcached` verbosity.  Here are the results.

<details>
    <summary>Click for full import logs</summary>

[code]
</details>

<details>
    <summary>Click for memcached logs during import</summary>

[code]

And this pattern continues for a LONG log, s

[2020-04-16 15:57] kmpaul commented on #14593
Could this be an OOM error?  Just curious.  I did a top of my system where the new Zulip server is running and it only has 250MB free.

[2020-04-16 18:21] ayushin commented on #14582
I've tried generating an openapi-client for dart/flutter and got a number of problems too:

[code]

[2020-04-16 18:36] timabbott commented on #14593
Ahh, yes, an OOM kill of memcached would look very much like that.  You can likely confirm via checking `dmesg`.

[2020-04-16 19:24] kmpaul commented on #14593
I just did a quick check and didn't see anything in `dmesg` other than UFW block messages.

[2020-04-16 20:41] timabbott opened #14600 "Fix changing EMAIL_ADDRESS_VISIBILITY in realms with 1000s of users"
Currently, if you change EMAIL_ADDRESS_VISIBILITY in an organization with thousands of users, the request can end up timing out due to attempting to do thousands of database queries.

While this isn't that common, it does often happen for organizations that just did an import of a large OSS project from Slack or Gitter.

Conveniently, we do have a TODO in the code for fixing this, with notes on ho

[2020-04-16 20:41] timabbott opened #14601 "Provide better error handling for server-side timeouts"
Currently, if the server hits the nginx `proxy_read_timeout` (we use the default of 60s) timeout and a request is aborted for that reason, nginx will return a 500 to the client, which is fine, but we don't provide a useful error message explaining the problem was a timeout to the user.

We should figure out how to configure nginx, django, and/or our webapp's HTTP library to provide better user-fac

[2020-04-16 20:46] gnprice commented on #12309
Related feature discussions, for cross-reference:
#6605 (same set of topics, as a view at the top left)
#6027 (per-topic notification subscriptions, either manual and/or automatic)

[2020-04-16 20:49] Snooz82 commented on #6605
I want to give my opinion here.

i am using Slack very much. Also in a big Community with 7000 users.

Same in Slack and on GitHub.
When i Sent a message to a thread, issue, topic i get notified automatically.
In my opinion it is important to have a "My Topics" in addition to "Starred Messages" and "@Mentions".
Specially for Communities with casual users, it is important to have this kind of autom

[2020-04-16 23:07] timabbott commented on #14588
The use case makes sense to me!  I think probably the right model is that an organization administrator should be able to tag a user group with the "publicly joinable" setting?  Not sure.

[2020-04-17 00:08] #13340 closed

[2020-04-17 00:41] shubhamgupta2956 commented on #14100
I will work on deduplicating various common constructs.

[2020-04-17 02:35] shubhamgupta2956 commented on #14312
@zulipbot abandon

[2020-04-17 03:01] timabbott commented on #14582
@orientor @shubhamgupta2956 I think this is worth prioritizing.

[2020-04-17 03:32] timabbott commented on #14298
@SiddharthVarshney I marked your commits in #14396 to not close this issue because I wasn't clear on whether you intended for them to be complete.  Can you do an audit of the "organization settings" and "organization permissions" features to see if any are currently undocumented, and report back here?

[2020-04-17 03:35] timabbott commented on #14593
@kmpaul can you try print-debugging a bit which user ID it's not able to find?

I'm wondering if the problem is instead that the data export tool on Zulip 2.1.3 has a bug wherein it exports data with those `user_profile_id` fields set incorrectly.

[2020-04-17 03:55] timabbott commented on #14593
2.1.4 is released today.  It doesn't make changes to the export process, it just fixes the "first organization is imported" bug that was new in 2.1.3.  So it doesn't matter if you upgrade the old server first or not.

[2020-04-17 06:09] ayushin commented on #14582
i'll be very happy to end-test it with an actual generated api

[2020-04-17 08:01] sahil839 commented on #14588
@zulipbot claim

[2020-04-17 09:04] cyphase commented on #14588
[Here's the CZO conversation](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Anyone.20can.20join.20option.20for.20user.20groups.20.2314588/near/854845).

[2020-04-17 13:33] maltokyo commented on #14138
Hi @timabbott and @hackerkid

I never worked it out, but I solved it myself, by doing manual migration.  I continue to run docker version, and apart from the mobile app issues that I have posted, the server side is rock solid in docker.  I think you should consider making docker the default method, in these days of "the cloud" I guess not many people have a server solely for zulip.

For other user

[2020-04-17 13:36] maltokyo commented on #14136
Hi @timabbott
I understood all of the above, and now also setup the "missed-message" emails that have no content.  So at least privacy is confirmed, and no zulip post content is stored in corporate servers...
I just wish that I could also just turn off "missed-message" functionality centrally, all together.  So not a biggie at all.  Main thing was the privacy aspect.

[2020-04-17 14:26] orientor commented on #14582
@timabbott @shubhamgupta2956 Edited zulip.yaml so that it now passes validation on swagger editor. If `swagger-parser` node module is up to date then it should validate the edited file too.

[2020-04-17 14:53] SiddharthVarshney commented on #14298
Sure will check them

[2020-04-17 14:55] ayushin commented on #14582
i wonder if you guys considered https://github.com/axnsan12/drf-yasg

works like a charm and we had amazing results with it so far - no need to touch .yaml ever again

[2020-04-17 15:36] timabbott commented on #14565
So, this isn't a bug in the software -- this is just a few languages where our translators haven't gotten to translating the name of the language.  I think the only work to be done on this would be to go into Transifex and manually translate that string there.

[2020-04-17 15:58] Garagoth commented on #3783
Hi!
What would be required to implement this?
It seems that once stream is created it cannot be edited by ordianry member, admins can change name, description and unsubscribe people. It is also possible to unsubscribe everyone with no option to subscribe again (except for manage.py commands).
Most other platforms offer concepts of member, moderator (threads creation and/or removal), stream owner (

[2020-04-17 17:59] gnprice commented on #14565
FWIW in the mobile app we have our own list:
[code]

That provides values for the two missing names (though we also have many contributors who could fill in each of those.)

[2020-04-17 18:35] #14559 closed

[2020-04-17 18:45] timabbott opened #14611 "Provide better error page for API 500s"
In `puppet/zulip/files/nginx/zulip-include-frontend/app`, we define custom 500 pages:

[code]

In Django, we configure a custom 500 handler:
[code]

But we don't seem to have an nginx-level 500 error handler for API requests.

This could be related to #14601 as well.

[2020-04-17 18:54] #14582 closed

[2020-04-17 19:03] timabbott commented on #14601
Actually, it's possible we want http://nginx.org/en/docs/http/ngx_http_uwsgi_module.html#uwsgi_read_timeout instead of the nginx-layer setting.

[2020-04-17 19:05] avestura opened #14612 "What is the straightforward way to make small UI tweaks?"
Hi

First of all, I need to thank you all for this awesome projects. It is feature-rich and well-written.

After that, I wanted to know how can I change the font family of the app (as the current font family for my language (Persian) is not the best choice). I looked at the documentation and it seems I need to change the CSS in source and build my own Zulip. I wanted to first make sure if I'm righ

[2020-04-17 19:07] timabbott commented on #14612
Did you come across this page?  https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#modifying-zulip is relative new and covers the workflow.

I feel like perhaps we should have links to that from more places; where did you look for this?

(Maybe README.md should link there?)

[2020-04-17 19:10] timabbott commented on #13892
I think it actually should be possible to move most of our changes into a separate file that's called from just a few places in `marked.js`, with some concerted effort.

[2020-04-17 19:17] 0xaryan commented on #14612
Well, I couldn't find that page. Most of my google searches (maybe I'm a bad googler) guided me to https://zulip.readthedocs.io/en/latest/subsystems/html-css.html, which is relevant but
the upgrade-or-modify one is better to look at first. I guess a link in there can be good too, as it already mentions CSS and HTML edits should be done using git fork/clone.

[2020-04-17 20:34] timabbott commented on #14324
This is fixed as a side effect of https://github.com/zulip/zulip/pull/11894.

[2020-04-17 20:34] #14324 closed

[2020-04-17 20:38] #164 closed

[2020-04-17 20:38] #5198 closed

[2020-04-17 21:18] hanisha3arora commented on #13622
These are the new proposed changes.

Day Mode:
![Screen Shot 2020-04-17 at 5 00 15 PM](https://user-images.githubusercontent.com/23181572/79614843-68058800-80cf-11ea-9419-d64c1de9bc92.jpeg)

Night Mode:
![Screen Shot 2020-04-17 at 5 14 50 PM](https://user-images.githubusercontent.com/23181572/79614893-83709300-80cf-11ea-9b32-b6bf572d96e0.jpeg)

[2020-04-17 21:28] 0xaryan opened #14615 "Can't upgrade from git - yarn issue"
I changed zulip config to use my own fork:
[code]
And created the branch `acme-branch` and pushed it to server, but when I want to update the zulip, it fails:

[code]

[2020-04-17 21:46] sahil839 commented on #14600
@zulipbot claim

[2020-04-17 21:53] timabbott commented on #14615
It's most likely a networking error.

The actual error output will be in `/home/zulip/deployments/next/var/log/update-prod-static.log`, I think.

We should make this tooling provide a better error message to help users self-debug.

[2020-04-17 22:10] 0xaryan commented on #14615
This is the content of the log, I'm just leaving it here for no reason:

[code]

[2020-04-17 22:17] 0xaryan commented on #14615
[code]
I removed that cached folder manually and the error changed to this:
[code]

[2020-04-17 22:32] timabbott commented on #14615
That last bit doesn't look like an error -- there's a warning, and then it's still working.

[2020-04-17 22:34] 0xaryan commented on #14615
It's the content of `/home/zulip/deployments/next/var/log/update-prod-static.log`, I still get the same error provided in the first post.

[2020-04-17 22:34] 0xaryan commented on #14615
Looks like the process is stopping at that step.

[2020-04-17 22:49] timabbott commented on #14565
OK, sounds like there's a quick project to move those strings into Transifex, and some perhaps slightly larger mobile-side project to deduplicate that list.

[2020-04-17 23:24] gnprice opened #14618 "Add a monotonic integer "feature level""
We want to add a "feature level", which is a monotonically-increasing integer which the server advertises in the API. The purpose is to provide a way for (non-webapp) clients, like the mobile and terminal apps, to tell whether the server it's talking to is new enough to support a given API feature -- in particular a way that
* is finer-grained than release numbers, so that for features developed a

[2020-04-17 23:44] 0xaryan commented on #14615
The problem was low memory. Upgrading the server's memory from 2GB to 4GB solved the issue.

[2020-04-17 23:44] #14615 closed

[2020-04-18 00:12] rohanpra commented on #1286
@zulipbot claim

[2020-04-18 00:13] pranayshahxyz commented on #1286
@zulipbot claim

[2020-04-18 00:14] pranayshahxyz commented on #1286
@zulipbot claim (@rohanpra and I are working together on this)

[2020-04-18 00:46] rohanpra commented on #7089
@timabbott I've run into an issue when running `tools/test-backend --coverage`. I get the attached screenshot, saying that the tests have been run and I can access the report at [](http://127.0.0.1:9991/coverage/index.html). However, the link gives a "this site cannot be reached" error.
In addition, I tried going to [](https://codecov.io/gh/zulip/zulip/tree/master/zerver) and only found frontend-t

[2020-04-18 02:46] timabbott commented on #7089
You need to be running the development server for that url to work.

-Tim Abbott (mobile)

On Fri, Apr 17, 2020, 17:46 rohanpra <notifications@github.com> wrote:

[2020-04-18 02:58] rht commented on #14615
@timabbott should there be a warning message when the RAM is between 1.9GB and 2.5GB?

[2020-04-18 03:25] timabbott commented on #14615
I think we should just stop the server during upgrades for low ram
systems.  It's enough, just not enough for building assets from Git.

-Tim Abbott (mobile)

On Fri, Apr 17, 2020, 19:58 rht <notifications@github.com> wrote:

[2020-04-18 06:51] stableapple commented on #14565
I can't find the string in the Transifex editor. I searched in django.po and translation.json.

[2020-04-18 08:27] blackhatparth commented on #11672
You can easily join multiple meeting by
- creating a vitual machine in vm ware or virtual box
- create either windows or linux VM
- then install zoom in the machine
-now you can use zoom in both

[2020-04-18 08:44] madig commented on #14451
(Not sure it adds to the discussion, but e.g. Matrix has an explicit switch "Use system design" that disables theme selection, so explicit overrides could depend on that new override)

[2020-04-18 09:13] showell commented on #14549
If you click on a stream in the left sidebar, we currently show you all recent posts for the stream.  Have you tried that?

Another option we are working on is Recent Topics, which will be more of a summary.

[2020-04-18 09:16] showell commented on #14507
I'm gonna close this, since we are fairly sure it's fixed in the next release.  We can re-open it if your department upgrades the installation and the problem persists.