[2015-10-16 11:43] pkaske opened #196 "Menu entry to delete a message completely"
As far as I was able to figure it out, one can only empty the message by editing it resulting in a `(deleted)` message text. Is there a way to delete a message completely?

[2015-10-16 12:43] timabbott commented on #195
There's a tricky UX issue that we'll need to think about, which is what should the system do if you edit an old message to @-mention someone -- does it deliver them a new notification about a message that could be months old ?

Currently our solution to this is we don't supporting adding @-mentions to existing messages for this reason, which is why there's no autocomplete for mentions in the edit

[2015-10-16 12:53] pkaske commented on #195
Is the tricky part that you could double notify users that were already mentioned before? Do I get this right? Or is the issue only that the notification is about a old message?

[2015-10-16 15:33] timabbott commented on #195
No we can easily check if the person was already mentioned so that's not an issue -- it's just the issue with notifications about an old message.  If someone wanted to change this, I think it wouldn't be too hard to trigger a notification that's a bit different from the normal "new message" ones for the case of "someone edited a past message to @-mention you"

[2015-10-16 15:34] timabbott commented on #193
Duplicate of #132 -- the short story is messages have full unicode support but the app doesn't currently support a translated UI.  We'd definitely be happy to merge changes to support that.

[2015-10-16 15:38] timabbott commented on #175
@lye9527 it looks like you've configured the EMAIL_HOST variables to talk to a POP server (for receiving mail), not an SMTP server (for sending mail).

[2015-10-16 15:40] pkaske commented on #195
Ah, I see... Thanks for clearing up.

[2015-10-16 15:51] richardwlu opened #197 "Error Initializing Database - httplib.BadStatusLine"
Hi all,

I ran into an error while initializing the database and would love some help. The error seems to relate to a server status issue but I am not sure what it is trying to connect to here. I am running on Ubuntu 14.04 on a Digitalocean VPS. I am open to all suggestions for debugging this.

`error: <class 'httplib.BadStatusLine'>, '': file: /usr/lib/python2.7/httplib.py line: 379`

Here is the

[2015-10-16 15:57] timabbott commented on #197
Weird, I've never seen that before.  I think that exception is probably coming from supervisorctl trying to talk to the supervisord daemon; you might try googling for that error and supervisord to see if there's a common cause.  I'd try restarting supervisor, e.g.

`service supervisor restart`

and seeing if that fixes the problem.

[2015-10-16 16:11] richardwlu commented on #197
Has the database initialized properly? Rather, is it just a restart of services issue?

[2015-10-16 17:06] timabbott commented on #197
Yep that's just a restart of services after successful initialization

[2015-10-16 17:42] timabbott commented on #196
Yes, that's correct, there's no way to delete a message from the UI.  One of the challenges with deleting messages completely is that it can make history somewhat confusing for other users -- e.g. if person A starts a topic and then there's an involved discussion about it and later person A decides they're embarrassed by their message and deletes it, person B who wasn't part of the discussion migh

[2015-10-16 18:10] pkaske commented on #196
Well, the question came up by our employees. We have zulip now live for about two weeks and some people have started to use it to share documents or image files they work on together. They told me it looks like this:

1. Person A posts a image file showing some info graphic
2. Person B messages "Cool, but add this"
3. Person A edits the image and posts it again
4. Person C messages "Your forgot x

[2015-10-16 18:32] timabbott commented on #196
Thanks for the info, this is super helpful!

It sounds to me like maybe the thing to fix here is that you can't upload images/documents in the edit box, which seems like a pretty unambiguous improvement and should be pretty easy to solve.  I'll open an issue for adding that feature.

While the main purpose isn't a file sharing platform, I see no reason not to support this sort of use case.

[2015-10-16 18:34] pkaske commented on #196
Glad to hear it helpful! And my users will be happy to hear that your're considering to add the upload feature in edit box :smile:

[2015-10-16 19:04] timabbott opened #198 "Add support for uploading files in the message edit box"
See #196 for some motivation.

If someone's interested, this should probably be done as a few commits -- first refactoring the file upload code from compose.js into a new upload.js file, and then adding the right calls to it from message_edit.js to support this.

[2015-10-16 19:25] richardwlu commented on #197
Hmm, I think I may have found the culprit. I restarted supervisor:

`root@zulip:~# service supervisor restart
Restarting supervisor: supervisord.`

But, when I try to restart all the services I get this weird no file:

    root@zulip:~# supervisorctl restart all
    unix:///var/run/supervisor.sock no such file

Then taking a look at supervisor:

    root@zulip:~# pgrep -fl supervisor
    root@zuli

[2015-10-16 21:12] timabbott commented on #197
How much RAM does your system have?  My guess is those segfaults are caused by OOM kills.

[2015-10-16 22:03] richardwlu commented on #197
I had 512 mb. I just spun up a new instance with 2 gb of ram after reading the production readme noting recommended settings. Looks like it was a OOM issue from the beginning. Everything is up and running! Thank you, @timabbott!

[2015-10-16 22:03] #197 closed

[2015-10-16 23:24] fletchowns commented on #41
How come puppet is needed at all? What about folks that user other config management systems?

[2015-10-17 02:53] BrianGilbert opened #199 "How do I point the desktop app to my own Zulip server?"
Doesn't seem to be any way to set it in OS X, I tried editing:
[code]
but that made no difference to what site gets loaded when opening the app.

[2015-10-17 09:13] vishnugopal commented on #44
Regardless of the caveats above, would love to see it happen!

[2015-10-17 18:56] timabbott commented on #132
OK I'll see if I can find time to figure out the infrastructure for how folks can get started with this since there seems to be significant interest.

[2015-10-17 22:59] timabbott commented on #41
@kostich great re: the CentOS 7 instructions :)

@fletchowns there's no fundamental need for puppet over a different configuration management system.  However, we do need a way to install a decent amount of configuration for a half dozen different services, and currently the configuration to do it is stored using puppet, so even for the case where we build an RPM from the Zulip source distribution

[2015-10-18 20:59] derWalter opened #201 "zulip demo needed"
title says it all :)

as i want to try zulip out, without having to set up an own test environment,
i am desperately in need of some kind of an online demo.

is it possible to do for all of us interested in zulip and just want to try it out?

thanks!

[2015-10-18 22:39] lfaraone commented on #199
Please file these against https://github.com/zulip/zulip-desktop

Relevant issues: https://github.com/zulip/zulip-desktop/issues/5

And please feel free to send a pull request to the desktop app's README with better instructions!

[2015-10-18 22:39] #199 closed

[2015-10-18 22:40] #193 closed

[2015-10-18 23:58] timabbott commented on #201
I agree an online demo would be great, but in the meantime, the vagrant development environment documented in README.md is really easy to setup.

[2015-10-19 00:18] bgilbert opened #203 "Auto-refresh destroys contents of compose pane"
1. Start composing a message.
2. Suspend laptop.
3. Come back later, wake laptop.
4. Watch the auto-refresh delete the message you were working on.

It would be nice if the compose pane were preserved across auto-refreshes.

[2015-10-19 00:28] timabbott commented on #203
If someone's interested in working on the most direct solution to this, `preserve_state` in `static/js/reload.js` would be the right place to put code to save/restore the compose state.

Alternative attacks on the problem include things like backing up the current compose state in browser local storage in general.

[2015-10-19 16:03] richardwlu opened #205 "Images Are Broken From Zulip Emails and Zulip Messages"
Hi,

Images are showing up as broken from emails and chats. I am not sure if this is intended or if I am missing some configs?

<img width="820" alt="screen shot 2015-10-19 at 11 01 42 am" src="https://cloud.githubusercontent.com/assets/8405384/10583141/fd8cfedc-7650-11e5-8d30-b4134c35e6a5.png">

<img width="900" alt="screen shot 2015-10-19 at 11 01 20 am" src="https://cloud.githubusercontent.com/

[2015-10-19 17:21] timabbott commented on #205
Hmm yeah there are two bugs here:

(1) The templates/zerver/emails/followup/day2.html template tries to load the Zulip logo from https://{{ external_host }}/static/images/landing-page/zulip-header.png -- what URL is that for you?  That one may be an issue with how you've configured settings.EXTERNAL_HOST.

(2) The guinea pig image missing in the tutorial might be an issue on our end; I'm investiga

[2015-10-19 17:46] richardwlu commented on #205
I see now. Well, within the email, the broken jpg is pointing to just my EXTERNAL_HOST ip address from my settings.py without the following `/static/images/landing-page/zulip-header.png` being appended to the end.

I am able to see the zulip header image when I access `https://{{ external_host }}/static/images/landing-page/zulip-header.png` directly from my browser. I am currently using a self-sig

[2015-10-19 17:52] timabbott commented on #205
Oh, the gmail interaction theory is an interesting one -- I can certainly imagine Gmail refusing to show an image hosted over https on a site with a self-signed cert.

[2015-10-19 21:42] Galexrt commented on #29
If anyone here is curious, it is possible to get Zulip working in a container. ;)
* In the settings.py there is no setting for changing the rabbitmq host, easy to fix by altering zerver/lib/queue.py a bit: `pika.ConnectionParameters('localhost',` to `pika.ConnectionParameters(settings.RABBITMQ_HOST,` and not forgetting to add the `RABBITMQ_HOST` to the settings.py.
* Some things that get installed

[2015-10-20 00:21] mijime commented on #29
:+1:

[2015-10-20 02:01] esander91 commented on #157
I can try to tackle this one. What should the format of the new page title be?

[2015-10-20 02:05] meereeum commented on #157
I would propose ```<stream-name> - Zulip```

[2015-10-20 02:07] meereeum commented on #157
(or other type of "narrowed" tab - essentially, the text following the last slash in the URL)

[2015-10-20 02:33] esander91 commented on #157
Yeah, that makes sense to me.

[2015-10-20 02:55] timabbott commented on #157
So currently we have title as e.g. "example.com - Zulip" where example.com is the name of the realm.

Including the realm domain in the title is good for the case where a user has accounts on multiple Zulip realms, which probably will be less the common case in the new everyone-runs-their-own-Zulip-server world, but is probably still something we should think about.  I'd probably favor a title tha

[2015-10-20 03:32] joshkel commented on #162
I put together an updated set of `debian` packaging files and [uploaded them to Dropbox](https://www.dropbox.com/s/yym3y7lx57wwhyt/ujson_1.33-1~ubuntu14.04.3.debian.tar.gz?dl=0). Sorry for the delay.

[2015-10-20 03:52] timabbott commented on #72
Posted the Zulip 1.3.7 release with the fix. https://groups.google.com/d/msg/zulip-announce/2pKJjHhnyOY/odRHvInfCgAJ

[2015-10-20 03:54] timabbott commented on #173
Just to follow up here, we've now done the Zulip 1.3.7 release containing this code, which should make it a lot easier to run it on your system:
https://groups.google.com/d/msg/zulip-announce/2pKJjHhnyOY/odRHvInfCgAJ

[2015-10-20 03:55] mijime commented on #72
:+1:

[2015-10-20 03:58] timabbott commented on #110
I'm going to close this issue since the email mirror documentation issue is I think solved in the Zulip 1.3.7 release and the rabbitmq connection issue is most likely unrelated.  See
https://groups.google.com/d/msg/zulip-announce/2pKJjHhnyOY/odRHvInfCgAJ for details on Zulip 1.3.7.

[2015-10-20 03:58] #110 closed

[2015-10-20 05:13] #91 closed

[2015-10-20 05:15] timabbott commented on #75
@lightning-li I think the new Zulip 1.3.7 release fixes the issue you experienced; I recommend upgrading when you get a chance.

[2015-10-20 05:15] #75 closed

[2015-10-20 05:16] #103 closed

[2015-10-20 05:18] timabbott commented on #196
Closing this issue for now since it's not actionable, but folks should feel free to post other use cases that create a desire for completely deleting messages.

[2015-10-20 05:18] #196 closed

[2015-10-20 06:09] wolfen351 opened #208 "Make Zulip server upgrade process less error-prone"
Hi there

This could just be my stupidity, or inablility to follow instructions properly.

I'm working on the instructions here: https://github.com/zulip/zulip/blob/master/README.prod.md under the section "Maintaining Zulip in Production".

I'm stuck on almost the first step. I have downloaded the new version:

    root@lbox-ubuntu-zulip:~# wget https://www.zulip.com/dist/releases/zulip-server-1.3

[2015-10-20 06:24] toaomatis commented on #208
The docs are very clear about your issue:

https://github.com/zulip/zulip/blob/master/README.prod.md#maintaining-zulip-in-production

You need to move the tarbal to a folder readable by the zulip user. And run the script as root.

I did the following (as root):
[code]
And than executed the upgrade script. Good luck :+1:

[2015-10-20 06:28] toaomatis commented on #208
I myself found another issue upgrading from a dirty 1.3.6 to the 1.3.7 release.

When executing the upgrade script I get the response
[code]
I already stopped all services with supervisor-ctl, stop rabbitmq-server and verified through `ps aux` that there are no processes related to zulip were running.
When lstiing the

[2015-10-20 06:33] wolfen351 commented on #208
@toaomatis Thanks! I misread that, my bad. I made the FILE world readable, but missed that the folder needs to be too. I copied the file to /tmp and now the upgrade has started. Thanks!

@toaomatis I also encountered the another deployment issue, seems the upgrade script doesnt clean up the lock if it crashes (understandable). So i just manually rmdir'd that lock.

[2015-10-20 06:38] wolfen351 commented on #208
Ok, now the script ran for a bit and died during database migration.

    2015-10-20 10:35:08,466 upgrade-zulip-stage-2: Applying database migrations...
    Traceback (most recent call last):
      File "./manage.py", line 24, in <module>
        execute_from_command_line(sys.argv)
      File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 338, in execute_from_command_l

[2015-10-20 06:44] toaomatis commented on #208
@wolfen351 Thanks for the reply. I had to manually delete the lock folder as well. I'm not wuite sure if you read my remark in https://github.com/zulip/zulip/issues/208#issuecomment-149446758
In your case, /tmp is also writable for the zulip user. So you missed that issue :wink:

I'm not quite sure why you ran into the database migration issues. Have you stopped all services trhough the `superviso

[2015-10-20 06:49] wolfen351 commented on #208
@toaomatis Jip, I saw your remark. When I have these weird permissions issues, I try to go to a place like /tmp where permissions are less of a pain. The /home/zulip sounds like a good idea for the future though.

I didn't stop zulip, because the instructions mentioned that it would stop zulip (for 30 seconds). So I assumed it would take care of stopping and starting it. (And it did).

Anyway afte

[2015-10-20 06:53] toaomatis commented on #208
@wolfen351 That is great news :smile: I know that the docs stated that it isn't needed to manually stop the services. Maybe I am a bit of paranoia about that, better safe than sorry.

My upgrade is *running* for almost half a hour now. It is stuck at `Notice: /Stage[main]/Zulip::Rabbit/Exec[epmd]/returns: executed successfully`

No remarkable CPU cycles or memory is claimed, so I can assume that i

[2015-10-20 06:56] wolfen351 commented on #208
@toaomatis  It seems to tolerate restarting pretty well, give it a bash. My entire successful run was <2min on a barely up to spec vm. So the long run time you are experiencing sounds like an anomaly.

[2015-10-20 06:59] wolfen351 commented on #208
here is my log from the point where yours got stuck.. this bit ran in like 2 seconds.

    Notice: /Stage[main]/Zulip::Rabbit/Exec[epmd]/returns: executed successfully
    Notice: /Stage[main]/Zulip::Rabbit/Service[rabbitmq-server]/ensure: ensure changed 'stopped' to 'running'
    Notice: Finished catalog run in 11.99 seconds
    Reading package lists...
    Building dependency tree...
    Reading

[2015-10-20 07:00] toaomatis commented on #208
Thanks for the log. That bloody rabbitmb-server... I **ALWAYS** have issues with that piece of software.

I'm going to release my fury on that beast and see if the script gets any further.

[2015-10-20 07:19] mijime commented on #208
http://stackoverflow.com/questions/14659335/rabbitmq-server-fails-to-start-after-hostname-has-changed-for-first-time

[2015-10-20 07:22] toaomatis commented on #208
I purged the rabbitmq-server installation, re-installed it and reconfigured it and restarted the upgrade script.
It ran flawlessly. But after a reboot, rabbitmq-server failed to start and so zulip isn't responding anymore. It gives 500 errors and lots of stack traces on the error logs.

@mijime Thanks. I already read that the first time I encountered the issue. As far as I can tell, the hostname h

[2015-10-20 07:38] mijime commented on #208
oh, sorry. If rabbitmq-server is running normally, Did you run `configure-rabbitmq`?

When rabbitmq is broken, execute the command.
[code]
 I hope this will help.

[2015-10-20 07:45] toaomatis commented on #208
Yup, those are the commands I execute if something goes wrong with rabbitmq. I got it running (again) and everything seems to work nicely.

Thanks for the help so far!

[2015-10-20 11:45] ralgozino commented on #72
Grate news! Thanks

[2015-10-20 13:17] mgrobelin commented on #135
+1 for deleting useless/unwanted topics by one-click with admin rights

[2015-10-20 14:55] timabbott commented on #208
It sounds like everyone is all set at this point, but it sounds like we have a few fixes we need to make to `upgrade-zulip`:

* We should fix the weird requirement that it be run using a directory that the Zulip user can read
* The error message about the lock should perhaps have more clarity that the lock will be leaked if the script crashes (or better, the lock should be cleaned up in the event

[2015-10-20 14:56] phillip-white-sociomantic opened #209 "Add support for using different emoji icon sets like EmojiOne and Twemoji"
Just a question. Is it possible change the default emoj from noto-fonts to something else? Or even add custom emoj to Zulip?

If not, this would be a great feature

[2015-10-20 14:58] timabbott commented on #209
Custom emoji are supported but there isn't a UI for setting them.

See `./manage.py realm_emoji` for how to add them.

It's certainly possible to support different emoji sets, however, there aren't a lot of good emoji choices with a good license.

[2015-10-20 14:59] timabbott commented on #209
(If you're aware of a better emoji set, feel free to comment on it)

[2015-10-20 15:05] phillip-white-sociomantic commented on #209
I would be interested in Emoji One https://github.com/Ranks/emojione. I'll look at changing to this.

[2015-10-20 15:55] phillip-white-sociomantic commented on #209
I would actually want to change the entire emoji set in Zulip to EmojiOne. It supports ASCI and UNICODE characters and translates them too. Such as :) and :D

How would I change the entire emoji set?

[2015-10-20 16:42] timabbott commented on #209
Currently, we generate the emoji set that lives in the source tree at static/third/gemoji/ using  `tools/emoji_dump/build_emoji`.  To change the entire emoji set, you'd need to change that tooling to download/generate the emoji PNG files for the new emoji set into the same file hierarchy, and then also change the list of valid emoji names in static/js/emoji.js.

I haven't looked into emojione so t

[2015-10-20 18:01] Garylum commented on #194
I've run into this issue as well.  In the past, I have stopped the server,  started epmd and rabbitmq by hand and restarted server to get it up.

 I did try the bugfix noted above and ran into new errors. Zulip would not start and there was nothing in errors.log. When running supervisorctl to see status, I would get a no supervisor.sock error

[2015-10-20 18:47] nVitius opened #210 "Don't Require Email for LDAP"
Is there a way to change the validation on the frontend, such that email domains aren't required for logging in with LDAP (just the username)?
Also note that my user's emails aren't the same as their LDAP usernames.

[2015-10-20 19:32] Garylum commented on #194
just an update,  if I start supervisor manually, then I can start the server.

There's nothing in /var/log/supervisor/ logs to tell me why it didn't start tho

[2015-10-21 00:47] richardwlu commented on #210
:+1:  This is the case for my usage also. I would definitely like to know the answer to this.

[2015-10-21 03:22] chrisamoore commented on #210
:+1:

[2015-10-21 04:13] timabbott commented on #203
In particular this is the callpoint we'd need to update:

https://github.com/zulip/zulip/blob/59dfec8f8b151b3780c848eb5e69eed3882bc155/static/js/server_events.js#L290

I think basically we have `save_state=false` there to avoid save/restoring the narrow state; probably we want to save/restore the compose state but not e.g. the pointer state, which argues for splitting that into a couple flags that

[2015-10-21 04:23] timabbott commented on #210
There's not currently a way to do this but it's likely fairly easy to make this possible.  The thing standing in its way is that we're using the same username/password form for LDAP authentication and for standard email/password authentication, and so we have email address format validation running on the form.

We'll probably want to just change the logic to do the email address format validation

[2015-10-21 04:26] timabbott opened #213 "Firefox notification tracebacks on mobile Safari"
We're getting this traceback when trying to send desktop notifications in Zulip on mobile safari:

`Failed to construct 'Notification': Illegal constructor. Use ServiceWorkerRegistration.showNotification() instead.`

This is likely introduced by https://github.com/zulip/zulip/pull/97

[2015-10-21 04:26] timabbott commented on #213
@alliejones

[2015-10-21 04:46] timabbott commented on #209
@wdaher have you looked at EmojiOne at all?

[2015-10-21 05:26] wdaher commented on #209
I would be happy to have someone move Zulip to EmojiOne or to twemoji — in my opinion, they're both better icon sets than Google's, which is a bit annoying.

If I, Waseem, were to do this, I'd probably do it in two steps:
1) just update the images without actually changing any of the functionality, and maybe that's enough
2) from there, I'd evaluate what advantages emoji-one or twemoji JS would gi

[2015-10-21 06:09] timabbott commented on #162
Great, thanks @joshkel !  I've uploaded your package to the Zulip PPA and it built fine, so this is now resolved.

@dertobes you should no longer need that workaround at this point.

[2015-10-21 06:09] #162 closed

[2015-10-21 08:17] phillip-white-sociomantic commented on #209
@wdaher Yes, i have seen the same. With mattermost, letschat and rocket.chat. The The characters where not first supported because they wanted to make it more dev friendly. However these services, and gitter now support this. Probably because they use the same flavored markdown as github, which removed the possibility to confuse the :) characters.

[2015-10-21 08:19] phillip-white-sociomantic commented on #209
I would also put down my +1 for EmojiOne. It's more widely used, and i also like the icon set better. I'm sure others will too.

[2015-10-21 13:39] dupree972 commented on #173
Thanks for the followup. I did finally figure out what I was doing wrong getting the patch installed, but this will be great to get it in a release…Thanks,BillOn Oct 19, 2015, at 10:55 PM, Tim Abbott <notifications@github.com> wrote:Just to follow up here, we've now done the Zulip 1.3.7 release containing this code, which should make it a lot easier to run it on your system:
https://groups.google.

[2015-10-21 13:52] sxbxstxxn opened #214 "Unhandled Exception"
I successfully installed zulip on my 1und1 vserver and now try to test there. How can I access it? I added the url to settings.py but it's not working. I got an error named "Unhandled Exception" (An unhandled exception was thrown by the application.)

Not sure if it's really a zulip problem... I have the test version not the production version!

[2015-10-21 15:33] wdaher commented on #209
If someone wants to take a crack at this, I'd encourage them to do this in two steps:
* Step 1 where they just replace the underlying image files so that no code needs to be changed, but the new emoji start to be used
* (Optional) Step 2: evaluate whether there's any advantage in using the javascript library that comes in the emoji set

[2015-10-21 15:40] grepwood commented on #75
Hi. I've set ADMIN_REALM and ADMIN_DOMAIN to the same value and it won't go.

[2015-10-21 16:57] bgilbert commented on #213
I've just tested Zulip's version of jQuery against a couple different Mobile Safari user-agent strings, and it reports `webkit` rather than `mozilla`.  So this should be unrelated to #97.

[2015-10-21 17:18] timabbott commented on #213
OK cool thanks for investigating. @bgilbert

[2015-10-21 17:49] timabbott commented on #75
@grepwood can you give more detail on what problem you're experiencing?  How have you configured Zulip, and what error or traceback are you getting?

[2015-10-21 18:58] GregoireGalland opened #215 "Improve error message for "ConnectionError: HTTPConnectionPool(host='localhost', port=9993): Max retries exceeded""
Hello!
After a login try, I have this following error il log files:

[code]

I have checked the open ports, but nothing is listening on port 9993.
Does anyone have an idea?

[2015-10-21 19:41] bgilbert commented on #213
@alliejones and I just looked, and it doesn't appear that it's even possible for Mobile Safari to produce that error (there's no `window.Notification` to "fail to construct").  Could you confirm the user agent that's reporting the error, and when it started happening?

[2015-10-21 19:50] timabbott commented on #213
Ahh it would appear I didn't read the user agent string carefully enough; I think this is actually an Android Chrome browser:

`Mozilla/5.0 (Linux; Android 4.4.4; XT1060 Build/KXA21.12-L1.26-3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.76 Mobile Safari/537.36`

[2015-10-21 19:52] timabbott commented on #215
That means the Zulip Tornado process is not running.  Check /var/log/zulip/tornado.log to see why; `supervisorctl status` to see if not running, and I think `supervisorctl start zulip-tornado` to try starting it (the name should be visible from the status command).  There may be another issue which is why it isn't running, though.

[2015-10-21 19:53] timabbott commented on #215
We should probably tweak the Zulip server code to provide a more clear error message for this case since it is how most users will experience Tornado being down.

[2015-10-21 22:48] lfaraone commented on #214
Can you include the actual error output? There're logs in `/var/log/zulip/`.

[2015-10-22 06:13] sxbxstxxn commented on #214
Which one do you need? There are many of it ;) The errors.log and server.log is empty. Here is what you can chosse ;)

[code]
digest.log
django.log
email-deliverer.log
errors.log
events-confirmation-emails.log
events-deliver_enqueued_emails.log
events-digest_emails.log
events-email_mirror.log
events-error_reports.log
events-feedback_messages.log
events-message_sender.log
events-missedmessage_mobil

[2015-10-22 06:17] sxbxstxxn commented on #214
ok most of the event logs contains the following:

[code]

[2015-10-22 06:18] gfernandez83 commented on #166
I am using StartCom Class 1 certificate but still having said error. does github have this problem with this type of certificate?

[2015-10-22 06:21] nVitius commented on #210
I'd be willing to give it a shot. Could you provide a bit of direction as far as where to start?

[2015-10-22 06:43] sxbxstxxn commented on #214
I'm sorry. A restart of zulip make it work... this can be closed!

[2015-10-22 06:44] #214 closed

[2015-10-22 06:52] jimcn opened #216 "run vagrant up error"
My host is OS X, Installing the Zulip Development environment  According to the README.md, I get the error like it,i don't konw how to deal with it.

==> default:
==> default:
==> default: Installed /srv/zulip-venv/build/cryptography/six-1.10.0-py2.7.egg
==> default:
==> default: Searching for pyasn1
==> default:
==> default: Reading https://pypi.python.org/simple/pyasn1/
==> default:
==> default:

[2015-10-22 08:44] grepwood commented on #75
@timabbott I'm getting "not an open organization" error when I try to sign up. Here's the paste of the config http://pastebin.com/8pSGsi2N
Not getting any error traceback afaik

[2015-10-22 16:46] vakila opened #217 "Markdown preview while composing message"
While composing messages, it would be great to be able to preview the rendered HTML from the markdown in the compose box somehow, similar to the "Preview" tab feature on Github.

I think this could be implemented either as a button/tab that toggles the compose box between edit and preview mode (similar to Github's "Preview" vs "Write" tabs), or perhaps just as a simple popup that would show the re

[2015-10-22 19:01] nVitius opened #219 "Break Out Webhooks file"
I want to add a webhook integration into Zulip. I think that the webhooks.py file is getting really messy though. Does anyone else think it's a good idea to split them out into individual files by service?

[2015-10-22 19:23] timabbott commented on #219
Yeah I think it'd be very reasonable to split them into individual files by service.

If you decide to do this while you're at it, please do it in a way that is easy to review (i.e. one commit per service, and make no changes to the actual code in those commits -- just move it to the new file and adjust imports).

[2015-10-22 19:45] ndcampbell commented on #135
+1 on this feature for sure. Would be nice to have some control over deleting the topics. Even if i completely delete and recreate the stream, the old topics appear. I have some junk ones from testing the API that I would like to delete.

[2015-10-22 20:38] ndcampbell opened #221 "@-mentions are not auto completing"
When I try to do an @-mention, the username is not being auto-completed. Nothing specifically happens when I try @<user> and I have seen before getting a drop-down of auto-completed usernames. Any reason this would suddenly stop working? I am on the latest 1.3.7. I do not see any logs at all regarding this.

[2015-10-22 20:45] ndcampbell commented on #221
I think this is on my end. Other users are not reporting the issue

[2015-10-22 20:46] ndcampbell commented on #221
Closing this issue. it was just a local cache problem, false alarm :-p

[2015-10-22 20:46] #221 closed

[2015-10-23 09:26] wolfen351 commented on #208
It's not unreasonable that the zulip user should be able to read and write to the location where the install needs to happen. Its kind of weird that when running the install script as root that a permission issue can occur though. Perhaps it should copy the file (as root) to /tmp and then do the installation from there.

The lock leak message is good. It would be nice to be able to supply -f to fo

[2015-10-23 10:41] gucce commented on #135
This is a good idea. But personally, I would prefer an __archive__ feature similar to those available in e.g. GMail or Trello. This way you could make topics disappear but you were still able to find them if you really wanted to.
Obviously, the delete feature can coexist with the archive feature.

[2015-10-23 13:58] balwaniPrem commented on #41
i'm looking to try and set this up on CentOS. Does anyone have a good reference on steps outlined to complete installation? I'm looking to get this up on a CentOS 6.7, of if there is a preference for CentOS 7 i can just do a new clean install

[2015-10-23 14:10] cg-cnu commented on #41
checkout
https://github.com/zulip/zulip/pull/161

[2015-10-23 16:28] soudy commented on #122
d5435fad1d45008a48629ddf26bb47d9060c7931

[2015-10-23 16:28] #122 closed

[2015-10-23 16:34] timabbott commented on #122
Thanks @soudy !

[2015-10-23 16:46] soudy commented on #122
@timabbott no prob, keep up the good work!

[2015-10-23 21:15] gthorne opened #222 "@Mention dropdown menu stops working sporadically"
We have this set up on our own network, authenticating with our local LDAP (not sure if this is related).  At first @-Mentions didn't work, but I refreshed my browser and they started working.  Then a new user logged on and they stopped working again.  There's just no dropdown menu.  This was in the Console in developer tools:

    Socket connected [transport=websocket]
    Failed to process an ev

[2015-10-23 21:45] timabbott opened #223 "Add a tool for checking whether intermediate certs are configured properly"
Currently we get a lot of new error reports for folks using integrations or the desktop app where the root cause of the issue is that they don't have the correct intermediate certificates setup.  We can probably do something to make it harder to mess this up in the documentation/setup tooling.

[2015-10-23 21:47] timabbott commented on #222
What browser is this?  Also, next time you see this, can you post the contents of that "event:"  object that triggered the issue?  My guess is that there's a browser compatibility issue with the new user event handler.

[2015-10-23 21:59] gthorne commented on #222
I saw it on Firefox/Mac, Chrome/Mac (the error text was from Chrome
Devtools) and a co-worker had it happen on Firefox/Linux.

On Fri, Oct 23, 2015 at 4:47 PM, Tim Abbott <notifications@github.com>
wrote:

[2015-10-23 22:00] GeertHauwaerts commented on #201
A demo server would be awesome! +1

[2015-10-23 22:03] timabbott commented on #222
OK; if you can get me the info for what the event is, I bet I can find time to reproduce it and try to track it down this weekend...

[2015-10-23 22:07] gthorne commented on #222
Ok, sounds good.I'll see if I can get it to happen again.

On Fri, Oct 23, 2015 at 5:03 PM, Tim Abbott <notifications@github.com>
wrote:

[2015-10-24 03:29] timabbott commented on #208
@wolfen351 hmm we don't actually try to shut down the database; would you mind posting the content of /var/log/zulip/upgrade.log (which should have the full output of the run)?

[2015-10-24 05:21] PrasannaVenkadesh opened #224 "Install Script Stalls with 'OK' and no progress for long time"
I am trying to install Zulip in [C1 instance of Scaleway.com](https://www.scaleway.com/faq/server/) ARM based servers. I followed the instructions from https://zulip.org/server.html

When I execute the

the script installed the dependencies. I don't see any errors being thrown out anywhere, but one `warning` at one place nevertheless the script execution continues

Finally the script has stalled w

[2015-10-24 10:52] cpaulik opened #225 "Vagrant in Ubuntu 14.04 is too old to use Zulip"
Working on Ubuntu 14.04 I had to install vagrant manually since the vagrant version in the Ubuntu repo is 1.4.3 which does not seem to work with a current `vagrant-lxc` plugin.

If I didn't do anything wrong then this should be updated.

[2015-10-24 15:57] lfaraone commented on #215
Claiming this for Open Source Comes to Campus this weekend.

[2015-10-24 21:51] cnguye11 commented on #163
I can work on this!

[2015-10-25 00:53] timabbott commented on #75
@grepwood there are a few possibilities:
* You may need to set `LDAP_APPEND_DOMAIN=ADMIN_DOMAIN` if `samaccountname` on your LDAP server is a username, not an email address ending with @ADMIN_DOMAIN.
* If you didn't set ADMIN_DOMAIN to match the domain name of your email addresses, you'll need to either set `restricted_to_domain=False` using the management command documented in README.prod or if y

[2015-10-25 01:01] timabbott commented on #29
Cool thanks for posting your work @Galexrt !  I'd be interested in getting a working sample Dockerfile into the main Zulip repository if we can figure out a good way to do it...

[2015-10-25 01:07] timabbott commented on #225
Thanks for the report!  Yeah it looks like you need to run Vagrant 1.6+ which isn't available in the trusty repos.

[2015-10-25 01:11] timabbott commented on #224
The Hiera warning isn't a problem; I think the issue may be nc hanging when trying to flush memcached.

` /root/zulip/scripts/setup/flush-memcached` is a one-line script that just runs:
`echo 'flush_all' | nc localhost 11211`
Can you check the following:
* Whether the memcached service is running
* Whether the nc command above hangs
* Whether it still hangs if you add `-w 5` at the end of the line

[2015-10-25 01:20] timabbott commented on #216
That looks like a transient network error connecting to the pypi mirror servers.  I suspect it'll work if you run it again.

[2015-10-25 01:20] #216 closed

[2015-10-25 01:28] timabbott commented on #166
@gfernandez83 My guess since it's a common issue is that the problem is you've configured nginx with just the certificate, and not the full intermediate certificate chain needed to validate the cert.

[2015-10-25 01:32] Galexrt commented on #29
@timabbott Where shall I put the Dockerfile?
Should I create a new branch for you in my repo or create a pull request with the Dockerfile and the needed files in it?

P.S. I just submitted the Dropbox Contributor License Agreement, so I would be ready to create a pull request now.

[2015-10-25 01:37] timabbott commented on #29
@Galexrt I think putting it under a new top-level directory docker/ is reasonable but try to avoid using relative paths that would make moving it somewhere else later a pain.

A pull request with the needed files would be great; it'd be awesome if you could clean it up a bit to avoid creating duplicated content where we can (e.g. I notice in your repo you have a fork of the Zulip puppet config; id

[2015-10-25 01:47] Galexrt commented on #29
@timabbott I had to fork them, because the zulip/zulip puppet manifests install a lot of unneeded stuff  in the container.
If you mean by config changes, changes in the `puppet/zulip/files` folder, that wouldn't be a problem to fix. I would just use the downloaded files in the puppet folder instead of mine. But for the first pull request I would still use my files and later move to the original fi

[2015-10-25 01:51] timabbott commented on #29
@Galexrt OK that's reasonable; I think we will want to refactor so those unnecessary-in-docker items like NTP config are just optional in the config (or a separate optional manifest), but we can start with copying them in.

[2015-10-25 01:54] Galexrt commented on #29
@timabbott If it's okay, I'm going to create the pull request now.

Shall I include deployment files for `kubernetes`, `docker-compose` in the pull request?
They currently point to my `quay.io/galexrt/zulip` image.

[2015-10-25 02:00] timabbott commented on #29
Sounds good!

Let's leave off the kubernetes/docker-compose stuff for now but I think once we get the main stuff merged it looks like it'd be easy for me to setup automated image building off of Zulip releases and point to that?  I'm not super familiar with the docker ecosystem but it looks like quay.io is free for open source projects...

[2015-10-25 02:03] Galexrt commented on #29
@timabbott Yes, quay.io should be free for open source projects

From https://quay.io/plans

[2015-10-25 03:13] PrasannaVenkadesh commented on #224
@timabbott thanks for the reply,

 - Yes, Memcached is running, ps aux | grep memcached returned the following

 - I have already tried running `echo 'flush_all' | nc localhost 11211` and yes it hangs as well.
 - Adding `-w 5` is good. It doesn't hang.

So should I add the same to `/root/zulip/scripts/setup/flush-memcached` file and run the install script again?

[2015-10-25 03:27] timabbott commented on #224
Yeah, that will probably work for unblocking you, but it doesn't really explain the problem -- I don't see why `nc` would hang trying to send data to localhost.

Maybe something is wrong with your networking configuration -- what's in /etc/hosts?

[2015-10-25 03:28] PrasannaVenkadesh commented on #224
That does solve my issue. Thanks @timabbott and here is the output of /etc/hosts

127.0.0.1	localhost zulip-instance
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

[2015-10-25 03:30] timabbott commented on #224
Can you try running `echo 'flush_all' | nc 127.0.0.1 11211` ?  I'm wondering if that is more robust.

[2015-10-25 03:37] PrasannaVenkadesh commented on #224
`echo 'flush_all' | nc 127.0.0.1 11211` it does hangs as before.

[2015-10-25 16:36] Galexrt commented on #29
@timabbott Sorry for the delay. I had to first finish my clean up (https://github.com/Galexrt/docker-zulip/issues/31).
I now created the pull request, here https://github.com/zulip/zulip/pull/227.

Also you said that I should leave off the docker-compose stuff, I have added a basic `docker-compose.yml`, because you'll need more than just the zulip container for the image to run and the `docker-com

[2015-10-25 20:50] esander91 commented on #157
I'm thinking of also changing the tab title so that it only shows the number of new messages within that narrow. So if you were in a stream with 30 new messages, but you had 100 new messages in total, the tab title for that stream would show 30 rather than 100. Does that seem reasonable?

[2015-10-25 21:21] timabbott commented on #157
Hmm, I think that's something where different people might want different things; e.g. for folks who use a single pinned tab and sometimes leave the window narrowed, I think they'd be sad to have the count only show that narrow...

@wdaher do you think this is a place where an option makes sense?

[2015-10-25 21:22] timabbott commented on #157
(Also just edited my previous comment to not have some of the content missing due to GitHub formatting)

[2015-10-26 00:48] lfaraone commented on #223
We can check against the system's CA bundle, sure.

But this is hard if e.g. the user includes the intermediate cert in `/etc/ssl/certs` (and therefore their local system's bundle) but doesn't chain in `nginx`.

[2015-10-26 03:34] wdaher commented on #157
I like the idea of showing the narrow's name in the title bar, but I would strongly prefer to show the global unread count (not the narrowed count) in the title bar.

I'm not enthusiastic about making it a user-visible configuration option because more configuration = worse UX, and I take the opinionated stance that a bunch of individually open tabs narrowed to different streams is not the ideal w

[2015-10-26 03:55] balwaniPrem commented on #41
i got stuck with the following error when trying to install requirements.txt

Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/tmp/pip-HYVeSu-build/setup.py", line 32, in <module>
        version = __import__('django').get_version()
      File "django/__init__.py", line 1, in <module>
        from

[2015-10-26 04:55] gfernandez83 commented on #166
@timabbott thanks a lot.

[2015-10-26 04:58] meereeum commented on #157
I can only speak to my own experience, but I tend to use Zulip by having one tab opened to the global stream, as well as additional tabs for particular streams I am following - so would personally enjoy having this option.

[2015-10-26 05:31] jimcn commented on #216
thanks,it works well

[2015-10-26 15:34] richardwlu opened #229 "Avatars Should Automatically Populate After Saving"
After going to Settings, uploading an avatar, and saving, the avatars don't show up until I refresh the browser (Chrome 46.0.2490.71). My avatar showed up for other users after my save without a browser refresh. I just thought I'd mention this.

[2015-10-26 15:36] timabbott commented on #223
Yeah; one part of the checker could be opening a connection to EXTERNAL_HOST to download some static file and seeing if we can an SSL error.

[2015-10-26 15:37] ajparsons opened #230 "Inviting with default subscriptions to private streams allows access to historical content"
There seems to be different behavior when I add users to a private stream in different ways.

When I add a completely new user and invite them to the private stream in that initial setup they can see all historical messages.

However, if I invite an existing user to the stream they can only see messages after they were invited.

Is this something I can tweak?

[2015-10-26 15:39] lfaraone commented on #230
Hmm. The former sounds like a bug; the privacy rule for private streams should be that you can only see messages sent after you joined, regardless of mechanism.

[2015-10-26 15:42] lfaraone commented on #41
@balwaniPrem which version of Python are you using? Zulip requires Python 2.7 or later.

[2015-10-26 15:42] timabbott commented on #229
@richardwlu I think it just gets fixed for new messages without a reload, not existing ones.

This would be a moderately large starter project, I think.  One will want to trace the data flow (it should be similar to that in the new feature tutorial) and extend it to send notifications for avatar changes for users who are not bots (looking at `do_change_avatar_source` in zerver/lib/actions.py, we c

[2015-10-26 15:48] gthorne commented on #222
Here we go.

![zulip error](https://cloud.githubusercontent.com/assets/782047/10733985/100eed12-7bcf-11e5-9136-f259680f10bd.png)

[2015-10-26 15:50] timabbott commented on #230
Hmm, yeah, I think the bug is that `process_new_human_user` in zerver/lib/actions.py adds 100 historical messages to the user's history so they don't start with a totally empty view ... but doesn't filter for private streams.  @ajparsons I think the fix is to change this code in `process_new_human_user`:

    recipients = Recipient.objects.filter(type=Recipient.STREAM,

[2015-10-26 16:23] timabbott commented on #222
OK cool, thanks for that traceback, this was super helpful!  I've posted a fix.

[2015-10-26 16:25] gthorne commented on #222
That was quick! We'll check it out!

[2015-10-26 16:41] lfaraone commented on #225
It isn't going to be a simple backport of the version in 15.10, as it depends on a newer version of Ruby.

I'll test and see if the version in Vivid is sufficient.

[2015-10-26 16:45] #17 closed

[2015-10-26 16:59] richardwlu commented on #229
@timabbott After my upload of the avatar, I sent a test message to see if my avatar showed up but it didn't. This was coming from no avatar. May have been a one time event.

Additionally, I just tried messing around with it and I uploaded a new avatar (avatar B), went back to the streams and my new avatar B shows up. However, when I went back to the settings to customize my avatar back to my origi

[2015-10-26 17:22] lfaraone commented on #225
Yeah, we'll either need to do something more involved or recommend trusty users download from [vagrantup.com](https://www.vagrantup.com); 15.04's vagrant when backported to 14.04 errors with:

[code]

[2015-10-26 18:13] timabbott commented on #225
​Sounds like the best solution is to just update the docs; I think
recommending download from vagrantup.com is probably pretty reasonable...

[2015-10-26 18:13] bgilbert commented on #157
:+1: to showing the narrowed count.  (See also #158.)  My usage model: a pinned browser tab which is open to the global stream (checked irregularly), plus tabs for individual topics I want to watch more closely.  The current unread-count behavior seems unhelpful to me; e.g., it'd be surprising if your email program could only show the number of unread messages in your entire account, while you wer

[2015-10-26 18:47] wdaher commented on #157
Hm, ok. Sounds like we're all in agreement on the title text and are discussing the unread count, so let's move this discussion over to #158 for posterity's sake :)

[2015-10-26 18:48] wdaher commented on #158
The use case being discussed here is using Zulip by having one tab opened to the global stream, as well as additional tabs for particular streams I am following, and that e.g., it'd be surprising if your email program could only show the number of unread messages in your entire account, while you were looking at an individual folder.

[2015-10-26 18:53] wdaher commented on #158
I think it is important that the title tab show you some indication that there are unread messages in other streams, even if they aren't actively focused. The case I'm trying to solve for here is that you use Zulip in only one browser tab and accidentally leave it narrowed; it would be nice if you had some indication that there were other messages waiting for you elsewhere (esp., e.g. if they were

[2015-10-26 18:57] balwaniPrem commented on #41
Gotcha, thx @lfaraone - i'd 2.6 on it. I'll try updating it to 2.7 and running the install again.

[2015-10-26 21:48] gthorne opened #236 "Enhancement Request: 'Users' sidebar should support showing a highlighted "buddy list" for larger teams."
For a large install, the 'users' sidebar becomes long, ever-present, and unchanging.  It seems that a good enhancement would be to only show the users subscribed to the current stream?  When you click on 'Home', it could show the complete list again, but it would be nice to see who is viewing the stream that you're currently reading.

[2015-10-27 03:44] timabbott commented on #236
Yeah, the user list is definitely a problem for larger installations.  My current thinking for the Users sidebar is that we need to make a few optimizations for larger installations:

(1) We should allow setting a list of "Buddies" that will always be sorted to the top so that it's easy to keep track of the small group of users you interact with the most.
(2) The filtering when narrowed to a strea

[2015-10-27 03:59] timabbott commented on #229
I think it should be pretty easy to reproduce the bug (to reproduce in development I'd use two browser windows, one in incognito mode, to be two users at once); I think the main thing we need is someone excited about working on fixing it :).

[2015-10-27 04:06] timabbott commented on #236
(The sorted-first "buddies" piece would require some new data models but overall should I think be doable for someone new to the codebase).

[2015-10-27 04:06] timabbott commented on #219
@nVitius were you interested in doing this splitting work or should I take care of it when I get a chance?

[2015-10-27 04:07] timabbott commented on #219
Also if while you're at it, you want to record what you're doing as a draft solution for #70 , that'd be awesome.

[2015-10-27 04:11] timabbott commented on #205
@lfaraone I assume you're taking care of the guinea pig image piece of this.

[2015-10-27 04:20] lfaraone commented on #205
Yep. For Gmail and certs... Not sure of the best fix there.

On Mon, 26 Oct 2015 23:11 Tim Abbott <notifications@github.com> wrote:

[2015-10-27 04:24] timabbott commented on #205
Yeah I'm not sure there's a good solution for self-signed certs and Gmail...

[2015-10-27 04:25] nVitius commented on #219
Yeah, I'll do it. I've been a bit busy with work this past week but I will make time to do it this weekend. I haven't done much with Python before, so this would be a good opportunity.

[2015-10-27 05:27] bgilbert commented on #158
Some title ideas, assuming 5 narrowed unreads and 25 total unreads:

- (5/25) some topic - example.com - Zulip
- (5+20) some topic - example.com - Zulip
- (5+) some topic - example.com - Zulip

[2015-10-27 05:49] #222 closed

[2015-10-27 06:03] timabbott commented on #217
This is definitely a feature request I've heard before.  I think in general this is probably something that makes sense if folks are trying to do complex formatting (certainly my habit of sending test messages to myself in the rare cases where I have uncertainty seems suboptimal, and I'm sure for new users uncertainty is much more frequent) but I'd like to avoid doing this in a way that makes user

[2015-10-27 06:12] acrefoot commented on #217
If someone is super-motivated, I think that [ProseMirror](http://prosemirror.net/) is probably the ultimate solution for this. It's a WYSIWYG that produces markdown (and you can toggle between markdown and WYSIWYG). To work with Zulip, it'd need to support @mentions and emoji, as well as DTRT for drag-n-drop file uploads.

[2015-10-27 06:16] acrefoot commented on #217
http://prosemirror.net/demo_markdown.html is probably the most relevant demo.

I also realize that syntax highlighting would be tricky to preview.

Anyhow, I still think that offering this as an editor would really make Zulip's message composing experience pretty great.

[2015-10-27 06:18] timabbott commented on #210
@nVitius sorry for the slow reply.  I don't recall the details and haven't retraced the path for this but here are a few pointers on how this works:

* zproject/backends.py is where the code for the LDAP backend is.
* template/zerver/login.html is the template for the login form (you can see this in zproject/urls.py if you search for /accounts/login); this is where you'll want to adjust the userna

[2015-10-27 06:23] timabbott commented on #217
While WYSIWYG would be super cool, playing around with that second demo, I'm not sure I like the UX of ProseMirror -- I ran into some issues pretty quickly with basic things like scrolling around their editor to the next bullet in a bulleted list.

As a sidenote, are you imagining this as replacing our user of `marked` for locally echoing rendered markdown as well or would this involve adding a th

[2015-10-27 06:26] wdaher commented on #217
Re: the design question, I definitely agree with this sentiment:

The common path through the app should be one in which I don't ever see a preview, since the vast majority of messages are going to be short replies that don't require them.

[2015-10-27 06:31] timabbott opened #238 "Use fancy gmail-style bubbles in compose box"
It would be cool if the compose box displayed other users by name rather than by email address (but still have it be reasonable to view the email and edit who you're sending to), similar to how gmail does it.

This is probably a fairly involved to get the UX right but mostly self-contained frontend project (I wonder if there are JS libraries that we could use?).

[2015-10-27 06:36] #230 closed

[2015-10-27 07:03] shumbashi opened #239 "Make Zulip i18n Friendly"
Support for translation is currently incomplete in Zulip, but since it depends on Django awesome i18n implementation, then it should be easy to make it ready for translation. I'm excited to work on this and need your feedback, any ideas?, problems you would expect?

So far I think the first steps to do are:

1. Mark strings for translation in template files
2. Mark strings for translation in JavaS

[2015-10-27 07:42] sxbxstxxn opened #240 "No Login or register possible"
Hi,

I successfully set up a zulip server. I can see the first page, but there is no login screen.
And if I try to register there is the following error "Your e-mail does not match any existing open organization. "

So I tried to change settings like it's said in this manual: https://github.com/zulip/zulip/blob/master/README.prod.md

But if I call tha manage.py shell as zulip user and try to chang

[2015-10-27 16:43] richardwlu commented on #229
@timabbott I'd like to contribute with a starter bug :). I've mainly done Java development with some web. Would you have a recommendation for a starter bug to get me involved? I might need some help with understanding an optimal workflow of getting setup, testing, and debugging - if there are docs then I'll take a look at those!

[2015-10-27 17:35] richardwlu commented on #205
I haven't found anything to get it to work regarding the self-signed certs. It isn't a big deal since we're using LDAP auth now.

[2015-10-27 17:57] vakila commented on #217
I agree that the preview should be as lightweight as possible and definitely only appear if the user specifically goes looking for it, since you'd only need it for that once-in-a-while case where you're putting together a more substantial post with code, links, quotes, images etc.

@timabbott @wdaher It sounds like this solution would fit that bill, wouldn't it? Or would a lightbox popup like the

[2015-10-27 18:07] wdaher commented on #217
I'm fine w/either approach though would prefer the preview to appear directly in the composebox.

[2015-10-27 18:19] timabbott commented on #217
Yeah I think directly in the compose box (or maybe immediately above it forming a double-height compose box if we think it's valuable to see both at the same time) is probably the right conceptual approach.

[2015-10-27 18:43] Fhajad opened #242 "500 Error on Registration Link"
I installed a brand new 14.04 Ubuntu installation, apt-get update, installed Zulip and configured the settings.py for SMTP signup as needed. I got the email for the sign up request, but when I click the activation link I immediately am hit in the face with a 500 server error.

[2015-10-27 18:46] timabbott commented on #242
Check ​out /var/log/zulip/errors.log to see what went wrong.

[2015-10-27 18:50] Fhajad commented on #242
2015-10-27 14:43:02,363 ERROR    Internal Server Error: /accounts/register/
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/deployments/2015-10-27-08-17-39/zerver/decorator.py", line 85, in wrapper
    return func(reque

[2015-10-27 18:50] #242 closed

[2015-10-27 19:07] timabbott commented on #240
That looks to me like you didn't run:
` su zulip -c /home/zulip/deployments/current/scripts/setup/initialize-database`
as scripts/setup/install instructs you to do after configuring settings.py...

Since that command is what creates the zulip realm for ADMIN_DOMAIN in the database.  The other possibility is that you changed ADMIN_DOMAIN after running that, in which case you'll want to rename it; y

[2015-10-27 19:07] #240 closed

[2015-10-27 19:14] timabbott commented on #239
@shumbashi that sounds awesome!  This issue is a duplicate of #132 so I'm going to close it so we can continue discussion there where others interested in translation can follow along.

I'll post a more detailed reply there.

[2015-10-27 19:14] #239 closed

[2015-10-27 19:14] timabbott commented on #132
@shumbashi The approach described in #239 is about right.

But that is probably the right approximate approach.  I've actually done a bit of testing of this path and I think probably the top things to mark for translation are:

* The templates content under templates/zerver (Django template engine) and static/templates (Handlebars)
* The error messages we pass to json_error or JsonableError (we ca

[2015-10-27 19:38] vakila commented on #217
OK, directly in the composebox it is! I'll start working on it next week.

[2015-10-27 19:48] gthorne commented on #236
Just noticed that when you click on a topic, it does add the .faded class to users not in that stream.  If it did this at stream level, my enhancement would be pretty straightforward.

[2015-10-27 20:07] timabbott commented on #236
The mechanism for fading is that it is triggered when you have the compose box open.  It fades the users who won't receive the message you're sending (note that you can be sending to a different stream than you're looking at)

[2015-10-27 20:07] gthorne commented on #236
Ahh, that makes more sense.

[2015-10-27 20:46] richardwlu opened #243 "Username Still Exists When Removing A Bot"
Within the settings page, I created a bot with a name "r2z2". I removed r2z2 to try and recreate a new bot but with the same name and I am given the error: "Username already in use".

Is there a way to remove that user r2z2 so I can recreate the bot with the proper name?

[2015-10-28 00:37] wdaher commented on #158
I like all these ideas. Of the ones you point out, I like the third option best (5+).

I don't have strong feelings about (5+) or (5*) — they both look good to me.

Two questions, which I don't have strong feelings about:
1. What would you like to do when there are no messages in the current view?
(0+)?
(+)? [I probably lean this one]

2. Is there a special character that appears for new PMs vs. n

[2015-10-28 06:48] shumbashi commented on #132
@timabbott Sounds good, I'll continue working on marking strings for translation in templates/zerver and static/templates since I'm almost half way done. Once this part is done, should it be submitted in a separate pull request? or wait until all translation tasks are complete?

[2015-10-28 11:01] sabotrax opened #245 "Fix file upload for IE 11"
When trying to upload a file in IE 11 i get:

"File upload is not yet available for your browser"

Most of my co-workers have to use Internet Explorer.
I think this comes up to many other organizations as well.

[2015-10-28 11:24] wq163 opened #246 "The implements of ldap integration is so ugly"
ERROR    Internal Server Error: /accounts/register/
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/deployments/2015-10-27-18-22-39/zerver/decorator.py", line 85, in wrapper
    return func(request, *args, **kwargs)
  F

[2015-10-28 13:30] Fhajad opened #247 "Desktop Notification - Click and focus conversation"
If a desktop notification appears from a user or event, especially a private conversation, I think when you click said notification it should automatically open the reply window and put focus on it. That way you don't have to manually click to send a reply each time and just let it work automatically, much like a traditional IM window.

[2015-10-28 15:56] timabbott commented on #247
Yeah that seems like a pretty reasonable enhancement.

[2015-10-28 16:06] timabbott commented on #246
It sounds like you've not configured the username/password for connecting to LDAP correctly in /etc/zulip/settings.py.  You can make life a bit easier when debugging by using `./manage.py query_ldap` from the root of your Zulip installation to test whether you're connecting successfully (rather than using the login form + logs).

The three fields that are involved in opening a connection to your L

[2015-10-28 16:11] timabbott commented on #245
Hmm, yeah, this seems like a compatability issue with our copy of static/third/jquery-filedrop.

I think the issue is this:

http://salesforce.stackexchange.com/questions/33567/cant-upload-files-with-ie11-does-not-support-binary-blobs

You can find our code using filedrop in static/js/compose.js.

I think that this should be fairly easy to fix for someone with an IE11 environment to test with.

[2015-10-28 16:50] timabbott commented on #243
So first, if you hadn't removed the bot, you can just edit its name with the edit button for the bot on your settings page.

You should be able to reactivate the bot on the Administration page from an admin user, but currently that doesn't work due to a bug; I'm submitting a PR for fixing that momentarily.

Until that's merged, you can work around the fact that you removed the bot using `./manage.

[2015-10-28 16:56] timabbott commented on #132
I'd recommend (1) submitting a "RFC" not for merge pull request showing you you're doing it now, and then updating it to a for-merge pull request once you have that stuff done -- it's generally a lot easier to review smaller changesets and of course it'll save you time changing large amounts of stuff if I can take a look sooner rather than later :)

[2015-10-28 17:46] timabbott commented on #229
@richardwlu awesome!  I would recommend starting with one of the bite-size bugs listed here: https://github.com/zulip/zulip/labels/bite%20size.  #198, #203, #215, #245, and #247 may be good choices for someone with some web background.  If you pick one you're excited about, feel free to post on the issue asking for pointers and I'll be happy to point you to the files involved, how I'd test that sp

[2015-10-28 17:46] timabbott commented on #229
(This current bug isn't a bad choice for a second project; you might want to start with something a bit simpler to get the hang of things).

[2015-10-28 18:41] richardwlu commented on #243
Okay cool, thanks!

[2015-10-29 04:52] wq163 commented on #246
@timabbott thank you for reply.

I configure five fields in `settings.py` , and run `./manage.py sync_ldap_user_data`(required), then everything was fine.
[code]
I still think it too complex and confused for normal users

[2015-10-29 04:52] #246 closed

[2015-10-29 12:41] phillip-white-sociomantic opened #249 "Improve IRC Gateway"
This is an enhancement idea.

It would be nice to have an IRC gateway, so IM clients such a pidgin can connect to different chats. I know there is https://github.com/Stantheman/zulip-irc-ii, however this is only IRC by using those scripts. It's not really an IRC gateway.

[2015-10-29 16:03] timabbott commented on #249
Check out `bots/irc-mirror.py`, which is a partial implementation that supports mirroring stream traffic in both directions (though you need to run the script twice and deal with uncommenting some code to do that; see the zephyr_mirror.py in the same directory for some ideas on how to improve it to be super reliable etc.)  If you're going to try running the Zulip IRC mirror, you'll want to create

[2015-11-01 04:20] #104 closed

[2015-11-02 15:37] rfilmyer commented on #59
Do we have any updates on this? I see that people have been tweaking @marcstreeter's writeup, and I'm going to quickly try to get it working this morning following the instructions of everyone here.

[2015-11-02 16:59] timabbott commented on #59
@rfilmyer I think at this point the only piece that isn't now handled by the README.md instructions or the install script is making sure the user's hostname file is in good shape.

[2015-11-02 20:04] rfilmyer commented on #59
Doesn't the install script only cover an install on an Ubuntu system where it's the only thing running? Is there install documentation for if someone doesn't fit into that case?

The website says to either install automatically, or ask the mailing list. Is there an opportunity to contribute documentation for a manual install?

[2015-11-02 21:27] timabbott commented on #59
That's right, the production installation process currently only works for Ubuntu and assumes it's the only thing running.

There isn't installation documentation for other setups.  If we wanted to add support for more platforms to the install script, that would be a manageable task which mostly requires work on packaging the right versions of dependencies and then adding some conditionals to the

[2015-11-02 21:27] timabbott commented on #59
(If you're interested in working on any of those projects I'd be happy to provide guidance!)

[2015-11-03 17:08] rfilmyer commented on #188
@timabbott Hey, you know what? I might actually try working on this this week if I get some downtime.

Do you know offhand of any tools that can monitor what files get touched by the installation script?

Is this really just tracking what it installs, and removing those packages?

[2015-11-03 17:12] timabbott commented on #188
Awesome!

I'd expect it to be mostly cleaning up the postgres database, removing packages + removing files installed via the puppet config under `puppet/zulip` (especially the files/ subdirectory which has copies of all the files we install) + removing the /etc/zulip/ configuration.

I think you could probably do something cool with inotify on / to see what got changed while you ran the installer,

[2015-11-03 20:59] mcmanuss8 opened #255 "Allow user to adjust volume of audible notifications"
I like the audible notifications but I find they can be rather loud. It'd be great to able to adjust their volume so they're less loud.

[2015-11-04 00:57] timabbott commented on #255
Hmm.  I'd be interested to hear from other users whether they find the volume too loud and whether anyone finds the volume too soft; that will help answer the question of whether this should be an option or we should just change the current value.

[2015-11-04 01:29] rfilmyer commented on #188
Cool. I just made a new xubuntu vm so tonight I'll probably be able to track down the FS changes.

[2015-11-04 04:07] timabbott opened #256 "Add support for using Zulip with Python 3"
Python 3 enables a bunch of awesome stuff like optional static typing, and I think is actually pretty feasible to add.  I've already applied the fast majority of the futurize/modernize fixers to the repository in a way that preserves Python 2+3 support; for future work, we should continue using that approach.  Based on some hackish testing, we're about 100 LOC away from passing 90% of backend test

[2015-11-04 04:44] timabbott opened #258 "Display date in recipient bar when it's different from Today"
One rough edge with Zulip is that it can sometimes not be easy to see whether you're looking at content from a previous day or today in some narrows without mousing over a timestamp and waiting to see the tooltip with the full date.  It'd be great to fix this in a way that does't hamper the user experience when you're looking at current content.

I have some partial work towards this goal in this

[2015-11-04 06:10] foxmask commented on #256
About twitter i switched to twython which is great

[2015-11-04 06:15] timabbott opened #260 "Simplify the production server first realm setup process"
Currently setting up a Zulip production server is a bit messy and has some confusing aspects to it, especially the fact that we have you put in settings.py the ADMIN_DOMAIN setting which really could be state that lives entirely in the database (and thus is confusing because it doesn't update when you change it, etc.).  Second there's the issue that we create your realm with restricted_to_domain=T

[2015-11-04 07:17] shumbashi commented on #132
@timabbott I have couple of questions:
1- Can we translate the search operators? for example sender:me, is:mentioned, is:private and so on? How do you recommend this be done?

2- What is the best way to translate Handlebars templates? By default Django makemessages looks for translation strings only inside .html and .txt files. I looked at the package django-handlebars-i18n which adds an admin com

[2015-11-04 07:19] timabbott opened #262 "Right sidebar user list creates poor performance with large realms"
If you profile loading the Zulip homepage in a realm with 700 users, it's significantly slower than in a smaller realm, and if you use the Chrome timeline to profile the main reason is the right sidebar user list rendering.  This is probably a reasonable bug for someone new to the Zulip frontend to attack; the code is all in static/js/activity.js and the template involved is static/templates/user_

[2015-11-04 07:25] timabbott opened #263 "Avoid loading zxcvbn.js in main webapp until we need it."
It's 682KB of javascript and the only things we use it for outside the login form (which is not part of the main webapp) is for the password change form; since it's by far the largest resource we download when loading the app (682KB) it definitely seems worth deferring that download.

[2015-11-04 07:54] timabbott commented on #132
For 1, I'd worry that those show up in a lot of places including parsing, and it might be a bit complex to translate them nicely; I'd recommend we hold off on those in the short term and come back to them once we have the rest going.

For 2, using django-handlebars-i18n may be reasonable; I don't see adding an additional package as a significant downside given that it solves a real problem.  The o

[2015-11-04 08:30] shumbashi opened #264 "Make 'vagrant reload --provision' idempotent so it can be our upgrade path"
When trying to run 'vagrant reload --provision' or 'vagrant provision' I get the following error:

==> default: ++ python /srv/zulip/provision.py
==> default: Traceback (most recent call last):
==> default:   File "/srv/zulip/provision.py", line 10, in <module>
==> default:
==> default: import pbs as sh
==> default: ImportError
==> default: :
==> default: No module named pbs
The SSH command respon

[2015-11-04 08:39] shumbashi commented on #132
Great, I'll start working on the handelbars templates and let you know which route works best.

[2015-11-04 09:21] shumbashi opened #265 "Error when running 'manage.py makemessages'"
Running 'manage.py makemessages' results in the two following errors:

django.core.management.base.CommandError: Can't find xgettext. Make sure you have GNU gettext tools 0.15 or newer installed

django.core.management.base.CommandError: Unable to find a locale path to store translations for file manage.py

[2015-11-04 14:20] n1zzo opened #267 "Add support for themes to Zulip"
How difficult will be to add a dark theme to zulip?
If someone tells me how to do it I can make one!

[2015-11-04 15:40] #265 closed

[2015-11-04 15:51] timabbott commented on #264
Yeah the provision.py script has only been tested for installation, not upgrades.  We will very likely want to change that now that we're adding the first new dependencies since the script was written.

As a workaround one can do `vagrant destroy && vagrant up` but that takes like 10 minutes.

So I think this ticket should become making `vagrant provision` idempotent on upgrade (and agreed we'll n

[2015-11-04 15:57] timabbott commented on #267
There's no explicit support for themes in Zulip, so I think to make this work you'd need to start by adding the capability to have different themes.  Does anyone have experience with how themes are added to web applications?  I imagine we'd want to refactor the CSS to make it easy to override just the colors, for example.

[2015-11-04 16:25] rfilmyer commented on #188
Ok, so from an initial install I ran inotifywatch and got the output of the install. We should be able to get an initial sense of what's changed.

I put it into this [gist](https://gist.github.com/rfilmyer/06d3685de1a6bc405703), which includes what was created on the Postgres database as well as any file changes that happened.

[2015-11-04 16:36] timabbott commented on #188
Hmm that gist is I think more giant than you probably want.

I'd recommend trying the sequence
[code]
So that you just get the list of files that are added by the Zulip install script, not the apt packages that it depends on.

[2015-11-04 16:50] rfilmyer commented on #188
Yeah, this was just my first run at it before I redo the snapshot.  It
seems like your initial guess at what gets touched is right, but I'm going
to take another look at installing the dependencies that aren't Puppet,
Python, or Git

On Wed, Nov 4, 2015, 8:36 AM Tim Abbott <notifications@github.com> wrote:

[2015-11-04 18:47] shumbashi commented on #264
Another faster workaround I used was to ssh into the vagrant instance, deactivate the venv, and run provision.py manually.

[2015-11-04 18:57] timabbott commented on #264
Yes, though that will currently result in some minor messyness like ~/.bashrc getting duplicate copies of the code to source the venv at the end.

[2015-11-04 19:32] timabbott opened #268 "Add UI for displaying edit history on a message"
Zulip stores edit history on messages in the database and even sends it back to browser clients over the API, but we don't have any way in the UI to display what changed (ideally highlighting the changes between versions).  So this could likely be added completely on the frontend.

[2015-11-04 19:35] timabbott opened #269 "Add API example for fetching historical messages"
The Zulip server's API supports writing a script to fetch historical messages, but we don't have a nice example tool for doing it under `api/examples`.

There's a script `bots/summarize_stream.py` that uses the relevant API (with a constructed narrow but you can pass any narrow or an empty narrow) which one can crib from.

[2015-11-04 19:37] timabbott opened #270 "Improve API documentation to cover the full range of examples"
Currently the Zulip API documentation only documents the API endpoints we've spent a lot of time on getting the design right for, sending messages and receiving messages/events.  We should add documentation for the other endpoints since the API featureset is everything you might want, it's just no that clear that this is the case.

[2015-11-04 19:38] timabbott commented on #270
(see api/examples, api/zulip/__init__.py and the API section of zproject/urls.py for what exists easily today).

[2015-11-04 21:03] ydsdsa commented on #26
`git clone https://github.com/zulip/zulip.git -c core.autocrlf=false` worked for me.

[2015-11-04 23:43] phillip-white-sociomantic commented on #255
For me, it's too quiet. Really depends on the current volume of each client really. I think changing the notification sound would be better. Just replace it with a louder or longer tone.

[2015-11-05 06:42] rfilmyer commented on #188
Alright, so I'm taking a look at the install script, but since I'm not familiar with puppet's configuration, how would I find out what the dependencies installed by puppet (ie the first 114 lines) are, so I can install them first in apt?

Going by the bash script, the only dependencies are [puppet, git, and python](https://github.com/zulip/zulip/blob/master/scripts/lib/install#L15). That clearly c

[2015-11-05 06:43] shumbashi commented on #267
@timabbott  I do have some experience on this, this would require some significant refactoring but the way to go would be:
1- Use a CSS Preprocessor such as Less, this allows the use of variables, i.e. you would have one config file with all colors, fonts, etc. defined as variables, an admin needs to only modify this file to change a variable instead of hunting it in different files.
2- Use a Task

[2015-11-05 08:22] himbeere opened #271 "changing ADMIN_DOMAIN instructions are unclear"
Hello.

I'm trying to change the configured ADMIN_DOMAIN as documented in https://github.com/zulip/zulip/blob/master/README.prod.md but i get a error:

[code]

Any hints?

thanks and cheers

[2015-11-05 09:49] shumbashi commented on #258
@timabbott I've went through your work on this, my suggestion is to show the date next to the message time stamp instead of the recipient bar. See attached image for example.

My reasoning is:
1- Having the date in the recipient bar looked a bit weird to me, it's just shown there without any context.
2- You are already showing the date just above the recipient bar in date_row, so showing the date

[2015-11-05 10:47] baali commented on #260
Hello,

I was trying to do the same and initially after finishing the step of manage.py migrate, I was trying to call management commands for create_user, create_stream, create_realm etc. But each of them depends on notification bots to be in place etc. So I ended up writing this management command to get the basic realm and bots in place:

    from __future__ import absolute_import
    from optpa

[2015-11-05 14:32] ydsdsa opened #272 "Document solution to git clone problems on Windows"
git clone on Windows doesn't create the symlink at `zulip/node_modules/.bin/handlebars` and causes the error below.

[code]

[code]

Fix it by creating a symlink.
[code]

[2015-11-05 14:52] ydsdsa commented on #170
Keep retrying. The IP address resolved for `dl.dropboxusercontent.com` isn't always the same. Some addresses responded to ping and some didn't.

[2015-11-05 19:39] kamalmarhubi opened #273 "Make it easy to subscribe to a stream from a narrowed view"
**Situation**: I click a link like `#narrow/stream/A/topic/some.20topic` to a topic in a stream `A` to which I am not subscribed.

**What happens**: I'm presented with the topic, and an informative but non-actionable note that I'm not subscribed to the stream. There is no obvious way to subscribe if I want to.

**What I think should happen**: there should be some obvious way to subscribe if I want

[2015-11-05 19:45] timabbott commented on #273
Yeah this would be a great improvement; I think it should be a good intro project if anyone's interested.

[2015-11-05 23:16] timabbott commented on #188
The package dependencies are declared in the Package declarations in
puppet/zulip/manifests/*.pp

Note that not all of those manifests are used by default; by default we
just use the recursive dependencies of voyager.pp
​

[2015-11-05 23:56] phillip-white-sociomantic opened #274 "SSO and OAUTH"
This is a feature request.

It would be great if Zulip can authenticate with external providers such as ONELOGIN for SSO, or Github OAUTH. I've seen the apache module, but i think this is not the same.

[2015-11-06 00:38] timabbott commented on #274
Since Zulip Django it is generally not hard to add a new external auth provider.  The ones we have are defined in zproject/backends.py ; as you can see they're all pretty small wrappers on top of third-party Django providers.

For OpenID in particular it looks like one could use: https://django-oauth-toolkit.readthedocs.org/en/latest/

Happy to provide advice on how to test/integrate if anyone's i

[2015-11-06 00:41] timabbott commented on #272
That traceback is not familiar, but it could be related to Windows line-endings (#37).

[2015-11-06 00:46] timabbott commented on #260
Hi @baali.

Check out zerver/management/commands/initialize_voyager_db.py -- it's the command that's run by initialize_database that actually does stuff.  As you can see it creates the bots using a nice loop, etc.; I think what's being discussed here is just splitting that script into two pieces, one that does all the bot realm setup, and a second part (possibly via this web UI that we're discussi

[2015-11-06 00:47] timabbott commented on #271
I suspect that you've changed the value of ADMIN_DOMAIN in settings.py before running this, and so you're not finding the original realm you created.

* Realm.objects.all() in the manage.py shell will tell you what realms you have; the "zulip.com" one is for bots and the other one is your current ADMIN_DOMAIN

[2015-11-06 00:49] timabbott opened #275 "Make manage.py shell default-import a few modules"
It seems like it'd be good to auto-run
[code]
so that you can just start running commands without needing to do an import every time, since basically every time I use `manage.py shell` the first thing I do is one of those two.

[2015-11-06 04:11] timabbott opened #276 "Make maximum file upload size limit of 25MB configurable"
The limit is currently 25MB; this is what controls it:

https://github.com/zulip/zulip/blob/master/static/js/compose.js#L956

(there's also an error message text in the same file you'd want to update).

I would be very happy to merge a change to make this a new setting in settings.py; to do this you'll probably want to pass the value from backend to frontend via page_params.

[2015-11-06 04:21] timabbott commented on #258
I agree with your concern that we're kinda showing it twice with my draft patch.  Maybe the right solution would be extend my change to display the date in the recipient bar, but remove the date from the date boundary lines?

The problem with your proposal is that we get a ton of redundant info with showing the date next to each message timestamp, which clutters up the interface (and date changes

[2015-11-06 04:26] timabbott commented on #267
Cool, thanks for the thoughts @shumbashi!

I wonder if there's a preparatory project of refactoring our CSS to be easier to modify that would make sense to do in preparation for what you're imagining -- I'm not happy with the fact that zulip.css is a single 4000-line file that doesn't have super clear organization.

[2015-11-06 04:45] timabbott commented on #272
OK looks like you did find the solution in #26 and it worked for you.  So I think this ticket should be documenting the Windows hack needed here:

`git clone https://github.com/zulip/zulip.git -c core.autocrlf=false`

[2015-11-06 04:47] #243 closed

[2015-11-06 06:29] timabbott commented on #272
@ydsdsa @wwarlock can you check out the documentation I just added to #259 and confirm it's correct?   (https://github.com/timabbott/zulip/blob/tabbott-centos/README.dev.md).

I don't have a windows environment to test on ...

[2015-11-06 08:07] himbeere commented on #271
Hi Tim.

Thanks for your answer. I changed back the ADMIN_DOMAIN in settings.py to the domain i see in Realm.objects.all(). Restarted Zulip and tried again to set r.domain. Same outcome.

[code]

[code]

[2015-11-06 08:12] wwarlock commented on #272
I'm really sorry, but for now I haven't Windows too.
The text looks good

[2015-11-06 08:46] shumbashi opened #278 "How to change authentication to Email\Password in development environment?"
Can some one tell me how to change the authentication mechanism in the development environment to use Email + Password?

[2015-11-06 12:59] phillip-white-sociomantic opened #279 "Manually promote user to admin"
I had an issue with rabbitmq when setting up an instance. That issue is resolved, however when the 1st user was registered. It was not given admin rights. Is there a way to do this manually?

[2015-11-06 14:17] Fhajad commented on #279
I believe you need to use the following to promote the users you want:

cd /home/zulip/deployments/current
./manage.py knight username@example.com -f

On Fri, Nov 6, 2015 at 7:59 AM, Phillip White <notifications@github.com>
wrote:

[2015-11-06 15:05] ydsdsa commented on #272
@timabbott this ticket isn't related to the line endings ticket. I had this symlink issue after fixing the line endings. You have to add to the Windows documentation that after vagrant up, you need to create a symlink. I didn't need cygwin on Windows. I just installed git cloned and installed Vagrant. I had VirtualBox installed prior.

[code]

[2015-11-06 15:13] phillip-white-sociomantic commented on #279
Thanks @Fhajad That worked :smile:

[2015-11-06 15:13] #279 closed

[2015-11-06 16:47] timabbott commented on #278
Yep change the list here: https://github.com/zulip/zulip/blob/master/zproject/settings.py#L87
Adding a mechanism to change this outside version control would definitely be welcome.

[2015-11-06 16:47] timabbott commented on #278
(Currently it's a bit annoying in that you need to exclude that config from your commits)

[2015-11-06 16:49] timabbott commented on #271
Oh I misread your report; the issue is just that you need to put quotes around your domain, i.e.

`r.domain = "mydomain.tld"` instead of `r.domain = mydomain.tld`

since you're giving it a literal python string, not a variable like settings.ADMIN_DOMAIN

[2015-11-06 16:50] timabbott commented on #271
I'll fix the documentation typo, sorry about that!

[2015-11-06 16:50] #271 closed

[2015-11-06 17:00] timabbott commented on #272
OK.  I think that is actually going to be solved when we merge #204 since that will eliminate the vendored handlebars code entirely...

[2015-11-06 17:15] timabbott commented on #272
OK merged the relevant piece of #204 , so I think that handlebars workaround shouldn't be required anymore.

[2015-11-06 17:16] timabbott commented on #278
Where would be a good place to document this?

[2015-11-06 17:45] timabbott opened #280 "Fix Zulip production downgrading when database migrations are present"
Currently if a Zulip version upgrade introduces database migrations that add new columns to existing models, there's no easy way to downgrade, because:
(1) With Django 1.8's migrations there's no way to set the default value in the database layer.
(2) Once you've downgraded, the models will not be aware of the new field and will have a mismatch with the database, causing errors whenever a new mode

[2015-11-06 17:48] #272 closed

[2015-11-06 18:26] timabbott commented on #275
Googling a bit we might be able to do this sort of thing inside our `manage.py` script: http://dlo.me/archives/2014/09/08/pythonrc/

[2015-11-06 18:28] timabbott commented on #255
My experience with the notification sound issue is that everyone has different opinions on the type of sound, so that seems like a classic case for an option.

It sounds like there's probably value in extending our notifications settings capability with the ability to at least change the volume (relative to the rest of what's going on on your computer) and if there's interest we can track on a sep

[2015-11-06 18:56] mcmanuss8 commented on #255
I agree. In this case, I was watching a video that had relatively low volume, and had a zulip tab open (where we were discussing the video I was watching). I had to crank the volume up on my machine to be able to hear the video, causing the zulip notifications to be incredibly loud.

The only available solution was to turn off audible notifications entirely, which I did, but that's less optimal.

[2015-11-07 22:12] robmccoll opened #281 "When starting dev through vagrant-lxc for the first time, provision.py fails due to missing bc"
When following the suggested defaults for setting up the development environment, the provision.py script fails around the point where it is setting up the database due to bc not being installed by default.  This should be an easy fix if you just add the bc install to the sudo apt-get install -y python-pbs line in the Vagrantfile.

[2015-11-08 00:32] wdaher commented on #258
I sort of agree w/ @shumbashi that it looks weird to put the date in the recipient bar, but I agree that the duplication of the @shumbashi mock is also pretty noisy. (Incidentally, I'd probably say "Yesterday, 10:30am" that way you can always look at the right-most portion to see what the time is).

What if we made the date boundary line just float so that it's always visible if you're looking at

[2015-11-08 22:45] moebiuseye commented on #201
A demo server is really needed. I'm really having trouble convincing people in my org that using zulip is a good idea.

[2015-11-09 02:55] walterheck opened #283 "ZulipRemoteUserBackend not functioning with simple setup"
I can't get the ZulipRemoteUserBackend to work properly in it's simplest form. I keep getting the htpasswd login dialog, then I get redirected to "https://zulip.olindata.vm/accounts/login/sso/?next=/". With a red message saying: "Enter a valid email address."

None of the error logs tell me anything useful so far.

I am probably doing something wrong on the zulip-sso backend of things, but I can't

[2015-11-09 05:52] cg-cnu commented on #201
May be a video for the time being? if some one can put together, explaining the features.

[2015-11-09 08:30] WolkoDav opened #284 "CSRF verification failed"
Hello. When i login into zulip thorws exception:

`Forbidden (403)
CSRF verification failed. Request aborted.`

[2015-11-09 18:09] timabbott commented on #284
@WolkoDav can you give more detail on how you've set things up, and what exactly you're doing on what page?

[2015-11-09 18:31] timabbott commented on #283
thanks for posting a detailed report of what you did!  I don't see anything obviously wrong; can you check the logs to see exactly what step is failing to happen properly?

* ${APACHE_LOG_DIR}/zulip_auth_access.log
  # If this is empty you may want to change LogLevel to "debug" in the apache config file
* /var/log/zulip/{errors.log,server.log}
* /var/log/nginx/access.log

Since this will likely he

[2015-11-09 18:34] timabbott commented on #281
Hmm yeah this is I think introduced by `scripts/setup/terminate-psql-sessions` now using `bc`.

Probably a better fix would be to just change that line to not require bc; some options are mentioned in
http://stackoverflow.com/questions/4023830/bash-how-compare-two-strings-in-version-format

[2015-11-09 19:48] asmartin opened #286 "jpegPhoto LDAP Integration"
Hello,

When using LDAP integration, Is it possible to populate user avatars from a field in LDAP, such as `jpegPhoto`? What about retrieving other attributes from LDAP as well?

[2015-11-09 21:08] timabbott commented on #286
Zulip doesn't support that, but it would be a reasonable feature to add and wouldn't be a ton of work.  You'd need to add a new avatar source type and add a column to store the URL obtained from LDAP.

What other attributes do you have in mind?

[2015-11-09 21:48] asmartin opened #287 "Context menu in topic cannot be dismissed if new message comes in"
I have tested Zulip 1.3.7 with both Chrome 46 and Firefox, and it works great! However, I've noticed a bug - when in a topic, if I click on the little down arrow next to the timestamp from a message, it brings up a context menu with several options - Reply, Collapse, etc. If i leave this menu open while a new message comes in, I am them unable to close this context menu. It stays open without any

[2015-11-09 22:22] asmartin commented on #286
Ok great! If you're using Zulip as your primary means of keeping in touch with others, it would be useful to include phone numbers, so `mobile` and `telephoneNumber` would also be nice. That way if someone isn't responding on Zulip, you could click on their name, get their phone number, and give them a call. Note that LDAP allows you to have multiple entries for these attributes, so if Zulip could

[2015-11-09 23:31] timabbott commented on #286
Interesting idea.  I assume the data would always be available another way (e.g. via the employee directory) but I can see how this would make things more convenient to have Zulip able to show it as well.  I guess a natural question is whether the right approach is to put detailed profile info like the phone number in Zulip or whether we should have a way to put a link to a user's employee directo

[2015-11-09 23:58] asmartin commented on #286
Or perhaps both showing the telephone fields in Zulip and allowing a way to
link to an employee directory? I can see the telephone information being
useful to have in Zulip because it's also a form of communication... thus
making Zulip the communication hub. Other information like office number or
address makes more sense in the employee directory.

On 9 November 2015 at 17:31, Tim Abbott <notific

[2015-11-10 00:00] walterheck commented on #283
@timabbott thanks for the itemized explanation of how the ZulipRemoteUserBackend works, that should go straight into the documentation I'd say ;)

I ran the login while tail -f'ing the log files you listed and it leads to the followign output:
[code]

I'll now go take a look at the other pointers you gave to see if I can spot the problem.

[2015-11-10 04:42] fangpeishi commented on #201
A demo server is really needed +1

[2015-11-10 05:10] gfernandez83 commented on #189
is this already available on the latest release of zulip?

[2015-11-10 05:25] timabbott commented on #189
Well the instructions above should work but they haven't been merged in anywhere.  I'd appreciate commentary on whether the above is clear; and if so I'll put it into README.prod.md

Ideally we'd make the `env-wal-e` piece of the configuration super easy since that's going to be the same work for basically every user...

[2015-11-10 05:43] timabbott commented on #283
@walterheck ok submitted a PR to put a cleaned up version of this into the documentation: https://github.com/zulip/zulip/pull/288

Definitely let me know if you figure out what's broken!  Would love to have a clear solution we can post.

[2015-11-10 06:39] timabbott commented on #201
I've been trying to find the time to setup is a chat.zulip.org server that we can use for development discussions.  That server could serve as a demo server as well, though I can certainly imagine the two use cases not being fully aligned (since the demo use case will have a lot of traffic from new users joining and test-sending messages).

@moebiuseye A central demo server I imagine wouldn't be t

[2015-11-10 06:46] gfernandez83 commented on #189
how can I add zulip_internal/ to my current version?

[2015-11-10 08:40] bmjjr opened #291 "Fix nginx configuration around storing file uploads in Amazon S3"
When switch from saving user uploads in /home/zulip/uploads to S3, I can successfully save uploads to S3, but the links generated are broken from inside zulip interface.

[2015-11-10 09:39] fangpeishi commented on #201
@timabbott Greate！Actually, Building zulip  vagrant development environment  is not easy because of the GFW in China...

[2015-11-10 14:03] asmartin commented on #236
Another suggestion might be to make the list on the right the list of all users (as it is now) but display a little icon next to each user with whom you are currently engaged in a stream or private message. Moreover, it would really help to see the list of individual users with whom you are having private messages on the left under private messages (similar to how you can expand a stream to see al

[2015-11-10 14:12] asmartin opened #292 "Pin favorite channels open"
It would be nice to have a button next to each stream that you could click that would "pin" that stream open and keep it from collapsing when you navigate elsewhere. Right now if you get new messages in several topics in the same stream, the notification badge shows up on the stream itself so you can't tell where the new messages are. Then, if you click on the stream, the badge count is decremente

[2015-11-10 14:15] asmartin commented on #286
Maybe the best way to display this is to add another icon to the left of the down arrow in the users column (on the right). When you click this icon, it would display the user information (email address, phone numbers, employee directory profile link, etc) in a popup menu similar to what the down arrow now shows.

[2015-11-10 16:23] timabbott commented on #201
@fangpeishi is the issue in China just the `tsearch_extras` download from Dropbox or are there more issues?

It would be fairly easy to make `tsearch_extras` download from the Launchpad PPA instead.

[2015-11-10 16:24] timabbott commented on #291
This is just being discussed on the zulip-help@ mailing list:

https://groups.google.com/d/msg/zulip-help/tscQq2faC5E/tzQ5PngpBwAJ

@smewp can you check if the solution there works for you and report back?

[2015-11-10 17:46] timabbott opened #293 "Include env-wal-e configuration in the Zulip production tarballs"
Currently it's under zulip_internal/ which means it's not available on production installations... see #189 for how this should be being used to backup Zulip servers.

[2015-11-10 17:47] timabbott commented on #189
@gfernandez83 the server release tarballs don't include zulip_internal/ since that's stuff which was originally just for running the Zulip site and hasn't been ported properly to be easy to install.

You can get it right now by cloning the git repo and just using that directory; sorry this is a little messy.

I guess probably making the backup situation easy should include porting the env-wal-e st

[2015-11-11 01:18] smewp commented on #291
Great - confirming that solution works. Thank you!

[2015-11-11 02:30] gfernandez83 commented on #189
thanks a lot @timabbott

[2015-11-11 02:33] fangpeishi commented on #201
@timabbott
right,   downloads from Dropbox are  blocked. sometimes, the github repos in requirements.txt are also blocked .
thx.

[2015-11-11 06:51] rfilmyer commented on #188
Having another go at this tonight. I was able to install all but a few dependencies through `apt`.

[2015-11-11 07:24] WolkoDav commented on #284
Page is login. After enter login and password and send POST request.

[2015-11-11 08:31] rfilmyer commented on #188
ugh! I lost the dump, but I have a VM snapshot that I can run again.

[2015-11-11 15:14] asmartin commented on #236
@timabbott , I really like the pinned Buddies idea for keeping track of users who you frequently interact with. As an extension of that, what about displaying badges for new private messages with each user in the user list, that way you know that you have 2 new private messages from User A, 5 new private messages from User B, etc. Just clicking on the global Private Messages link is confusing when

[2015-11-11 15:41] codepython opened #294 "how do I register as a new user ?"
HI:

 I have not found the register entry for zulip on ios .

 is there clue?

thanks!

[2015-11-11 20:12] walterheck commented on #283
@timabbott I can't seem to find out what the problem really is. Can you (or anyone else) reproduce my problem anyway?

[2015-11-11 20:44] walterheck commented on #283
I do note that when I use the above instructions and then reboot my virtualbox node, it comes back with a rabbitmq-server service that fails to start.
[code]

Does that mean anything to you?

[2015-11-11 21:44] timabbott commented on #283
Search this issue tracker for the issues on AMQP/rabbitmq/epmd; there's a bunch of tickets about rabbitmq not starting that have a few different causes -- from insufficient RAM, to /etc/hosts configuration, etc.  See if any of those work for you...

I don't have a setup handy for doing a reproducer but if you aren't able to figure this out I might have time this weekend to try reproducing.

[2015-11-11 21:44] timabbott commented on #294
Can you explain more what you're trying to do?  Zulip doesn't support signing up for an account on iOS -- you need to sign up on the website.

[2015-11-11 21:45] #294 closed

[2015-11-11 21:47] timabbott commented on #236
Cool #285 has an implementation of pinned streams on the left sidebar, which one can look at to get a feel for how this sort of thing might work.

One thing that's being discussed on another issue (I think? Or maybe an email thread) is having "Private Messages" expand to show recent conversations like the invidual streams do -- how do you feel about that concept?

[2015-11-11 21:48] timabbott commented on #284
I need more detail if you want help debugging this problem.

E.g. what port are you connecting to?  Is there anything in the server logs in e.g. /var/log/zulip/server.log?

How is your Zulip server configured?

[2015-11-12 03:05] rfilmyer commented on #188
Ok, [here](https://gist.github.com/rfilmyer/b14ee972530ec2446ba3)'s the dump again.

Additionally, a database called "zulip" was created in Postgres.

[2015-11-12 03:27] asmartin opened #295 "Configure Status"
Currently status of a user appears to be determined based on if you're active in that tab or not. I can see it also being useful to be able to set your status to a particular state (e.g Do-Not-Disturb) and include a status message (e.g "will be back in 30 min"). Is this enhancement possible?

[2015-11-12 03:35] asmartin opened #296 "Special Types of Streams"
It would be useful to have some special types of streams for particular use cases:
-    transient streams - these would be used for temporary messages that don't need to be retained over the long term; you could configure a persistence period for them but after that period old messages in said stream would be purged
-    read-only streams - e.g for a leader to send out important messages to everyo

[2015-11-12 03:45] asmartin commented on #236
I like the implementation in #285; the only thing that would make it better is to having the ability to "pin" starred streams open (rather than collapsing when they lose focus), so that you can quickly get back to your most active topics without needing to re-expand the stream header (see #292).

Regarding the "Private Messages" expanding to show recent conversations - I think that is a great idea

[2015-11-12 05:35] #281 closed

[2015-11-12 05:45] timabbott commented on #188
Yeah that looks plausible (modulo the fascinating issue that inotify is not seeing the actual paths).

Looks like you missed a few packages (diff-match-patch, etc.), and the paths for the files installed by puppet need to be processed to remove the temporary filenames at the end, but otherwise the list looks close.

[2015-11-12 05:48] timabbott commented on #295
I think a feature in this direction probably makes sense, but I'm not sure what the best form for it is.

We'd need to do some careful thinking about the UX details of things like "do they expire after X time" and "does something happen if you message someone who's away" and "what are the valid states?".  E.g. the do-not-disturb functionality might be best implemented by closing the Zulip window e

[2015-11-12 05:50] rfilmyer commented on #188
"Create" works with directories, I guess, and not actual files, I guess. I
could do it again with different options. I have a snapshot saved just
before download.

You know, I could probably just do a diff of the entire file system or
something like that as well.

On Wed, Nov 11, 2015, 9:45 PM Tim Abbott <notifications@github.com> wrote:

[2015-11-12 05:59] timabbott commented on #296
Hmm these are all potentially interesting ideas.  These are all the kinds of features that I know larger companies / enterprise users would want (and probably some smaller ones that are hoping to solve a workflow problem that could be solved by social means but might be easier with a technical barrier).  I'd love to understand the use cases a bit more though to help understand whether these are go

[2015-11-12 06:04] timabbott commented on #292
This is an interesting idea.  To be sure I understand this completely, you'd like to be able to mark a stream so that it's list of up to 5 recent topics (And their unread counts) are shown expanded regardless of whether you're currently narrowed to the stream.

Yeah, I can see this being quite useful if there are multiple conversations happening on a high-traffic stream, only one of which it's imp

[2015-11-12 06:09] timabbott commented on #236
Cool, OK, I think we have a concept for what to do here.  I'm happy to provide advice on implementation if someone has time to work on this.

[2015-11-12 06:20] timabbott commented on #287
Confirmed; this seems to be a regression since earlier versions of Chrome (I tested with Chrome 42 and could not reproduce).

[2015-11-12 06:20] timabbott commented on #287
Confirmed; this seems to be a regression since earlier versions of Chrome (I tested with Chrome 42 and could not reproduce).

[2015-11-12 06:44] timabbott commented on #291
OK well we'll definitely want to fix the nginx configuration to be appropriately conditional on whether the user is using this feature.  Will require some thought to figure out how to do this without making the configuration side annoying.

[2015-11-12 07:57] codepython commented on #294
Does that mean that I must start up my private Zulip server before play with Zulip ios client?

[2015-11-12 08:43] codepython opened #297 "when I start server by ./tools/run-dev.py --interface='' ,it report the error as below"
django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.

I type what is from the readme ,where is wrong?

[2015-11-12 10:34] smewp commented on #236
My company in China started piloting today with ~20 users, with ~20 more in queue, several different departments and roles involved here (purchasing, research, quotation, manufacturing, R&D, etc).

We needed a more granular control policy, so for now, we've set all the streams private, admin invite only, and asking users to request new streams be made by admin.  With this, we noted this users side

[2015-11-12 12:29] asmartin commented on #292
Yes exactly. Also, am I understanding it correctly that only the 5 most
recently updated topics are shown? If more than 5 topics in a stream all
have unread notifications, how are those displayed?
On Nov 12, 2015 12:04 AM, "Tim Abbott" <notifications@github.com> wrote:

[2015-11-12 12:39] Fhajad commented on #294
How else would you connect to a zulip server if you don't have a server
running?

On Thu, Nov 12, 2015 at 2:57 AM, AndyLau <notifications@github.com> wrote:

[2015-11-12 13:58] asmartin commented on #296
-    regarding transient streams: you're correct, large groups are the problem. Other chat servers like some XMPP servers I've used allow you to send "broadcast" messages to a group of users or more importantly to all users. The reason why this is helpful is to be able to reach all users at once with a message (e.g notifications that maintenance is beginning/ending). Another use case for transient

[2015-11-12 14:30] vnhwd opened #298 "Failed to install django.git@59f1fc4c7b65d23fceffd5c87e2b6ea350030c56 via requirements.txt"
Looks like I can't install the django.git@59f1fc4c7b65d23fceffd5c87e2b6ea350030c56 when using provision.py. Some error logs as follow,

[code]

[2015-11-12 15:56] timabbott commented on #292
I believe the logic is it shows those that have unread messages (but always at least 5); and then of course there's the "(more)" button to see basically the whole sidebar's height worth of topics on that stream.

[2015-11-12 15:59] timabbott commented on #297
The code that creates that for the development environment is is `scripts/setup/generate-secrets -d`; however if you're missing that you probably followed the "by-hand" installation instructions and missed the "All Systems" section which also has a bunch of other commands you'll need to run:

https://github.com/zulip/zulip/blob/master/README.dev.md#all-systems

(If you used the vagrant provisionin

[2015-11-12 16:25] asmartin commented on #295
I can see the status UX indicating two pieces of information:
-    Zulip presence (icon): tells you whether a user is active, away, offline, DND, etc; basically how readily you can contact them with Zulip; this is set and cleared automatically, except for DND which is manually set and overrides other states until you manually clear it
-    state (text): tell if there's something special going on w

[2015-11-12 16:26] asmartin opened #299 "@-mention suggestions stop working"
Testing in Chrome 46, I've noticed that after having the Zulip window open for a period of time, the suggestion dialog that you get when you type the `@` character followed by the start of a person's name stops appearing. Looking at the javascript console, I see `Uncaught TypeError: undefined is not a function` is thrown when trying to call `.toLowerCase` on a variable.full_name. If I refresh the

[2015-11-12 16:30] asmartin commented on #292
Ok great, thanks for the clarification!

[2015-11-12 17:31] timabbott commented on #299
Are you using the LDAP integration?  If so the issue is probably #222, which is fixed in master but not yet released :/

[2015-11-12 17:49] timabbott commented on #295
The active/idle info is based on the time since the user last focused the window.  "away" means the user doesn't have an active connection to the server at all (e.g. they don't have a window open or their computer is suspended).

[2015-11-12 17:49] timabbott commented on #298
That seems like a transient network problem connecting to GitHub; what happens if you try again a bit later?

[2015-11-12 17:56] timabbott commented on #296
Yeah, OK, I definitely see the value in having a good solution for posting maintenance announcements that isn't "get the list of users from the database and email them".  Seems like we could solve the maintenance use case pretty well by having the ability to post a banner about it at the top of the page rather than adding new stream types, for example.  Are there other clear use cases you (or othe

[2015-11-12 18:31] asmartin commented on #299
Yes I am, and yes #222 looks like the same problem, thanks!

[2015-11-12 18:34] asmartin commented on #295
Thanks for the clarification!

[2015-11-12 18:48] asmartin commented on #296
I think the global banner could get cluttered, especially if you have multiple mandatory messages (e.g for other site-wide announcements, or follow-up information about the maintenance). It would also be problematic for how you dismiss banners or view banner history, which could be important for users that have just logged in (after the message was sent). I could see it being used for other events

[2015-11-12 18:57] asmartin commented on #295
Also is the active/idle detection enhanced at all with the desktop client (e.g to detect when the account is unlocked/in use verses locked)?

[2015-11-12 19:30] asmartin commented on #296
Another use case for transient streams is for off-the-record conversations that you don't want to be logged (or at least only logged for a short period of time). Google Chat has this feature, where you can disable history for a particular section of messages. You'd also want to be able to enable OTR for portions of Private Messages too.

Maybe a solution to all of these is to have toggle buttons n

[2015-11-12 19:48] rayvenshire opened #300 "hotkey for hopping through stream/pm history"
Right now the "r" hotkey allows users to reply either the stream containing the highlighted(/selected) message or the author of the message they have highlighted (w/ "R"). However, the selected box does not update over through time, thus you have to either use the arrow keys to scroll up and down to get to the appropriate message or narrow your scope by selecting one specific stream/pm to be in fo

[2015-11-12 20:55] timabbott commented on #295
I don't believe the desktop client does anything different, though obviously it could.

[2015-11-12 21:06] asmartin commented on #295
Ok, I've created a separate ticket for that feature in https://github.com/zulip/zulip-desktop/issues/26

[2015-11-12 22:28] ghost opened #301 "allow user list on left side in non-narrow situations"
There is an option to display the user list on the left side in narrow windows. However, in my setup, even though it is not automatically triggered, I would like to be able to force this as I like it on the left with the streams (regardless of windows size). Additionally, in my setup, I do not know why the check is not evaluating to true as I have a very narrow window.

Screenshot: zulip in the ba

[2015-11-12 23:43] codepython commented on #297
Thanks!
  I have used vagrant to set the environment up .

before the set up ending ,there are log printed as this:
==> default: ERR!
==> default:    fstream_path: '/srv/zulip/node_modules/webpack-dev-server',
==> default: npm
==> default:
==> default: ERR!
==> default:    fstream_class: 'DirWriter',
==> default: npm
==> default:
==> default: ERR!
==> default:    fstream_stack:
==> default: npm
==

[2015-11-13 06:32] timabbott commented on #301
hmm, yeah, I see the issue with lower resolution monitors.  We should either offer this as an option or maybe change the existing option to work that way instead

[2015-11-13 06:41] timabbott commented on #300
This is an interesting idea!  I like your approach of suggesting clear answers to the various immediate questions one might have with this :).

I can see myself using this; but I'd be curious to hear thoughts from other folks on whether they'd use this sort of feature...

[2015-11-13 06:43] timabbott commented on #297
I've never seen that error before but it seems like it could be caused by trying to use vagrant from an unusual environment.  What platform is the host machine running?

[2015-11-13 06:48] timabbott commented on #299
OK cool I'll close this issue, but try to get out a release this weekend so users can easily upgrade to get the fix.  In the meantime you can of course make your own release tarball using `tools/build-release-tarball`

[2015-11-13 06:48] #299 closed

[2015-11-13 12:23] asmartin commented on #300
This sounds like a useful feature. Being able to quickly navigate between
your most recent streams without leaving the keyboard sounds very efficient
On Nov 13, 2015 12:42 AM, "Tim Abbott" <notifications@github.com> wrote:

[2015-11-13 12:23] asmartin commented on #299
OK great, thanks!
On Nov 13, 2015 12:48 AM, "Tim Abbott" <notifications@github.com> wrote:

[2015-11-13 12:27] codepython commented on #297
it is ubuntu 14.04

[2015-11-13 13:36] codepython commented on #294
I mean is there one public server for public use.

On Thu, Nov 12, 2015 at 8:39 PM, Fhajad <notifications@github.com> wrote:

[2015-11-14 01:35] codepython opened #302 "error with running tools/run-dev.py"
/srv/zulip/node_modules/webpack-dev-server/node_modules/socket.io-client/node_modules/engine.io-client/lib/transports/polling.js:23
  var xhr = new XMLHttpRequest({ xdomain: false });
            ^
TypeError: object is not a function
    at /srv/zulip/node_modules/webpack-dev-server/node_modules/socket.io-client/node_modules/engine.io-client/lib/transports/polling.js:23:13
    at Object.<anonymous

[2015-11-14 04:23] timabbott commented on #302
I haven't seen this issue before but it seems webpack-related; @alliejones any ideas what's going on here?

Does the development app still work?  I would expect this traceback to not break any functionality...

[2015-11-14 04:24] timabbott commented on #294
That's right, there's no public server that's taking new customers, but you can setup your own server!

[2015-11-14 04:29] timabbott commented on #297
So the `npm` command is being run by the `provision.py` script that runs inside the Vagrant LXC container; so it should have access to run as root (inside the container) if need be.  I think the problem here is a permissions issue with how the container is setup.

You can try debugging by using `vagrant ssh` to get a shell inside the container and then trying to run `npm install` with your working

[2015-11-15 21:59] timabbott commented on #236
Intresting, thanks for all the info @smewp.  Your external users concept is an interesting use case; would you mind making a separate GitHub issue for making that use case work?  While it would touch the same code/UX area, I think likely a solution for that would probably be quite separate from solving the problem of large teams needing to be able to filter for the people they care about the statu

[2015-11-15 22:01] #298 closed

[2015-11-16 03:01] codepython opened #303 "how do I continue with the startup process after it is interrupted by exception?"
hi:
 Sometimes ,you know ,it fails to make dev environment up due to some issues , so how should I continue the process after it is interrupted ?At current I have to vagrant destroy ,then vagrant up ,which waste a lot of time ,maybe there is better alternative choice for this .

Thanks

[2015-11-16 06:56] timabbott commented on #303
​You should be able to do something like:
[code]
to rerun the development installation process without rebuilding the
Vagrant VM.

[2015-11-16 07:03] timabbott commented on #299
OK posted the 1.3.8 release!

[2015-11-16 07:03] #303 closed

[2015-11-16 07:13] timabbott commented on #291
Probably the right way to do this is to make Django able to fetch files from LOCAL_UPLOADS_DIR in addition to S3 and just serve these files from Django in either case even though it's a bit inefficient.

[2015-11-16 09:41] codepython opened #304 "start with --interface=' ' not work"
hi:

  tools/rundev.py --interface=' ' still works only on localhost ip ,no other interface address

 And request  localhost:9991 ,although the connections is established ,but no response received

 where is wrong?

[2015-11-16 12:22] #304 closed

[2015-11-16 12:24] codepython opened #305 "error with apt-get update"
when I type apt-get update ,it failed with follow errors:

W: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/main/binary-amd64/Packages  Hash Sum mismatch

W: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/universe/binary-amd64/Packages  Hash Sum mismatch

W: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/main/i18n/Translation-en

[2015-11-16 16:18] timabbott commented on #305
That doesn't have anything to do with Zulip ; that issue looks like an unfortunate race where you tried to run `apt-get update` while the relevant Ubuntu mirror server is updating.

It should probably work if you try again.

[2015-11-16 16:18] #305 closed

[2015-11-16 17:04] asmartin commented on #299
I upgraded to 1.3.8 today so I'll keep an eye out for this bug, but it is most likely resolved

[2015-11-16 17:07] timabbott opened #306 "Add automated testing for the Zulip upgrade process"
Currently our automated testing process only tests production installation, not the upgrade process.

This made it possible for the Zulip 1.3.8 release to go out which had a buggy upgrade script.

[2015-11-16 21:07] armooo commented on #291
We could have django always to the request and based on the config it would
redirect to s3 or the local ngnix. This way the nginx conf is static and
the django process will not need to proxy large files.

On Sun, Nov 15, 2015, 11:13 PM Tim Abbott <notifications@github.com> wrote:

--
Jason

[2015-11-16 21:10] timabbott commented on #291
Yeah, that's reasonable; the only downside is the small latency cost for the redirect.

[2015-11-16 22:07] bgilbert commented on #158
Interesting -- I actually like the first one best (5/25).  I guess the advantage of (5+) is that adding more information later is more palatable than taking information away.  The advantage of (5+) over (5*) is that "+" already has semantics attached to it.

(+) is fine with me.  Agreed on not overcomplicating; additional differentiation could always be added later.

[2015-11-16 22:22] wdaher commented on #158
Works for me!

[2015-11-17 03:04] codepython opened #307 "how do I register a account on my tulip server"
the docs have not cover this question .

thanks!

[2015-11-17 03:56] codepython opened #308 "provision.py"
when I run python provision.py,it require me to input the passwd for db as below:

dirname /srv/zulip/tools/postgres-init-dev-db
+ /srv/zulip/tools/../scripts/setup/terminate-psql-sessions zulip zulip zulip_base
+ cd /
+ '[' 0 -eq 0 ']'
++ su postgres -c 'psql -A -t -d postgres -c "show server_version"'
+ version=9.3.10
++ cut -d. -f1,2
++ echo 9.3.10
+ major=9.3
++ bc -l
++ echo '9.3 > 9.1'
+ pid

[2015-11-17 03:59] timabbott commented on #308
Are you running provision.py as the root user?  It should be run as Zulip and I think the error you report may be caused by running it as root.

[2015-11-17 04:00] timabbott commented on #307
I assume you're talking about the production environment?  If so see https://github.com/zulip/zulip/blob/master/README.prod.md#authentication-and-logging-into-zulip-the-first-time

[2015-11-17 04:00] #307 closed

[2015-11-17 04:01] timabbott commented on #297
@codepython can you report back on whether you were able to debug this?

[2015-11-17 04:29] greenbi1 opened #309 "load average problem"
When I reboot Server installed zulip, load average is going up to 17~20 and 500 page error occurred.

In my case. I Set 4GB of RAM for zulip ver.1.3.9.

What is wrong?

[2015-11-17 05:21] timabbott commented on #309
Can you give a bit more information here to help debug?
* What do you see in `top`
* Output of `pstree -a` (you'll need to `apt-get install psmisc` first)
* How many users you have?
* What do you mean by reboot server -- are you rebooting the whole machine or just restarting the Zulip server?

[2015-11-17 06:15] codepython commented on #308
so how do i run it as zulip ?

[2015-11-17 06:23] greenbi1 commented on #309
- top
<pre>
top - 15:15:45 up 18 min,  1 user,  load average: 17.86, 17.33, 12.29
Tasks: 147 total,  19 running, 128 sleeping,   0 stopped,   0 zombie
%Cpu(s): 88.7 us, 11.0 sy,  0.0 ni,  0.0 id,  0.0 wa,  0.0 hi,  0.0 si,  0.3 st
KiB Mem:   4038652 total,   825212 used,  3213440 free,    22984 buffers
KiB Swap:  4448252 total,        0 used,  4448252 free.   170704 cached Mem

  PID USER      PR

[2015-11-17 06:45] timabbott commented on #308
Oh sorry, I meant you should run it as the `vagrant` user that you get when you run `vagrant ssh`.

[2015-11-17 06:47] timabbott commented on #309
All of that looks normal, and there's plenty of free memory.

Is there anything in the logs under /var/log/zulip?  E.g. errors.log, workers.log, etc. might show something in an infinite loop.

[2015-11-17 06:56] codepython commented on #308
yes,I am using vagrant user actually .

[2015-11-17 06:58] greenbi1 commented on #309
- errors.log
<pre>
root@zulip:/var/log/zulip# cat errors.log
2015-11-17 00:57:04,910 WARNING  TornadoQueueClient lost connection to RabbitMQ, reconnecting...
2015-11-17 00:57:06,914 CRITICAL Failed to reconnect to RabbitMQ, retrying...
</pre>

- workers.log
<pre>
.
.
.
2015-11-17 01:56:28,123 INFO     Worker 1 connecting to queue message_sender
2015-11-17 01:56:30,397 INFO     Worker 0 connecting

[2015-11-17 07:00] codepython opened #311 "repeatedly install requirement.txt"
At each time I run python provision.py ,it repeatedly install deps in requirement.txt . such as Django ..and so on , in spite of it already installed previously .

[2015-11-17 15:17] Fhajad opened #312 "Document Zulip Logging Privacy and security model"
With all the information sent thru Zulip for messages and streams, with root access to the backend server how difficult is it to read the raw messages contained there between users? We're concerned, at least regarding private message streams, of a possibly rogue admin being able to read messages across the company they have no business being involved in.

[2015-11-17 16:54] lfaraone commented on #312
Messages are stored in the database in plain text. While Zulip administrators are not able to see the content of messages in private streams or PMs they are not a part of, an entity with read access to the PostgreSQL database backing Zulip could access such content.

[2015-11-17 16:56] lfaraone commented on #311
When `pip` is able to verify that a package is already installed at the required version, it does not need to re-fetch or install the package. However, the way Django (and possibly other) dependencies are distributed precludes such optimisation.

This is related to #3.

[2015-11-17 17:04] timabbott commented on #312
I should add that it would be very difficult to create an arrangement where someone with root access to both the Zulip database server and the Zulip backend server would not have the technical capability to read message contents.

However, someone who just has Administrator access in a Zulip team does not have the ability to read private messages or private stream messages on streams they have not

[2015-11-17 21:15] Fhajad commented on #312
It makes sense that's how it would work. The problem we have with our environment is we're relatively small and don't want an abuse server admin to just read chat logs between others, at least from private streams. Server Admins and Zulip Admins would basically be the same group of 4.

[2015-11-17 21:33] timabbott commented on #309
OK it looks like your problem is that RabbitMQ isn't working correctly -- there's a number of tickets on this tracker about that which can help you debug.  But basically you need to get the `rabbitmq-server` service running and then restart the Zulip server and you should be fine.

[2015-11-18 02:44] Fhajad opened #314 "Zulip Won't Start After Reboot"
I was fighting nginx a bit trying to get a proper signed SSL cert installed after moving from self signed and now I can't even get Zulip to start after reverting back to the self-signed cert. This is the following that I'm getting from the Zulip errors file.

2015-11-17 21:43:00,480 ERROR    Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py",

[2015-11-18 03:08] timabbott commented on #314
You've got 2 issues there:

(1) rabbitmq isn't working properly (the AMQP errors) -- try restarting `rabbitmq-server`, and if that fails, there's several tickets on this tracker with debugging tips (often the cause is /etc/hosts being screwed up).

(2) The Zulip Tornado process has crashed, likely due to (1), so the Django processes can't connect to it.  After fixing (1), just do a `scripts/restar

[2015-11-18 03:08] #76 closed

[2015-11-18 03:08] #284 closed

[2015-11-18 03:11] timabbott commented on #308
The authentication for the Zulip postgres user is setup earlier in that same script `tools/postgres-init-
dev-db`, specifically this section:
[code]

I guess to debug I'd recommend trying to figure out which step is not working in that part of the script by running just that script manually.

[2015-11-18 04:47] npcode opened #315 "LDAP login error in development environment"
I am testing zulip with LDAP in development environment. I tried to login with my email address but zulip responded 500 Internal Server Error as follows:

[code]

I think the reason is that the database have no realm that matches with my ADMIN_DOMAIN. See:

[code]

How do I create the realm correctly?

[2015-11-18 05:32] codepython commented on #311
@lfaraone
could I include Django to use such optimisation?
As it takes long time to install every time .

[2015-11-18 09:33] leoluk commented on #311
Issue is that the Git repository needs to be cloned in order to look at the setup.py file inside. The most straightforward fix would be to publish the Django and Django Guardian forks to PyPi and install from there.

[2015-11-18 18:27] Fhajad commented on #314
Got it working now. I purged and reinstalled rabbitmq-server, then ran configure-rabbitmq and now it's working properly.

[2015-11-18 18:27] #314 closed

[2015-11-18 23:01] melbel commented on #312
The way users experience Zulip simply makes it impossible to prevent someone with full access to the Zulip backend server to read everything.

The backend server has to be able to access conversations in clear text to deliver them to the clients. And if the backend server has access, someone controlling the backend server does so as well. One does not even need root access to the database server s

[2015-11-19 04:45] npcode opened #316 "emoij disappears immediately with docker-zulip"
emoij disappears immediately after sending a message.

Here is the video:
![out2](https://cloud.githubusercontent.com/assets/1129852/11262533/bf177368-8ec3-11e5-917b-5f7a0b6e3fff.gif)

[2015-11-19 08:14] greenbi1 commented on #309
I solved it.

<pre>
apt-get purge -y rabbitmq-server
apt-get install -y rabbitmq-server
/home/zulip/deployments/current/scripts/setup/configure-rabbitmq
supervisorctl restart all
reboot
</pre>

Thanks for your reply.

[2015-11-19 08:46] npcode opened #317 "Offer to subscribe target user when @-mentioning someone who isn't subscribed."
It seems that zulip does not send a notification to me if someone mentions me in an unsubscribed stream. Is this a designed behavior?

[2015-11-19 09:00] Bl4ckM commented on #135
+1 @gucce Archive Feature, with/without delete option would be very nice. if u don't need it anymore put it to the archive :)

[2015-11-19 19:05] timabbott commented on #316
What environment are you running this in?  The immediate disappearing is likely caused by the fact that we do markdown processing in two places -- once in the frontend and then an authoritative version a bit later in the backend.  These implementations are tested to always agree, so I think what's going on in your case is that the backend parser is unable to find the list of emoji that exist...

[2015-11-19 21:42] chapmanc commented on #276
@timabbott This maybe isn't bit sized as jquery-uploader does no chunking so the browser crashes after uploads that are larger than ~100MB.  Perhaps we could have some suggestions for an alternative uploader js library?

[2015-11-19 21:43] timabbott commented on #276
We're certainly not wedded to that particular jquery library; recommendations welcome!

[2015-11-19 21:56] timabbott commented on #315
You can create a realm using `./manage.py create_realm`  in any Zulip environment.

If you're having trouble getting LDAP working in development, let me know.. I did it a few weeks ago.

[2015-11-19 21:56] #315 closed

[2015-11-19 22:37] chapmanc commented on #276
We would have to also change the backend to accept file chunking with some sort of file-key if we want reliable uploading  > 100 MB. I have a fix for the settings issue but maybe we restrict the size to no more than 70MB to be safe.  Unfortunately I don't have the time to implement a move to a new library and an update to the backend. Let me know if you want the fix or if you think this should mov

[2015-11-19 22:55] virtuaris opened #320 "Uploads world readable"
Hi there,
i just noticed that the contents stored in folder `/home/zulip/uploads/files/` are readable to everyone. No session/authentication needed. Just head your browser to https://my-custom-zulip-server.mydomain.net/user_uploads/x/y/zzzzzzzzzzz/the_uploaded_file.something and off you go.
Is this the expected behaviour?
(zulip 1.3.7, ubuntu 14.04)
Bests
Harald

[2015-11-19 23:33] timabbott commented on #276
I'd be happy to take the fix for the settings issue, with a comment above the setting indicating that raising it over ~100MB can cause reliability issues.

[2015-11-19 23:37] timabbott commented on #320
This is expected behavior for the locally hosted file uploads, but we should definitely add documentation of this in the discussion of local file uploads vs. S3 hosting (which does have a model that checks auth and then redirects to a short-lived auth token).

I think the approach we're planning to take for fixing #291 would be the first step towards changing the way local file uploads work to mat

[2015-11-20 01:21] npcode commented on #316
I am running this in production mode.

I think you are right because `./manage.py realm_emoji -r mydomain.com --op=show` lists nothing. If then, how do I import all of the emojis the frontend has into the backend?

[2015-11-20 02:00] npcode opened #321 "Filename is changed after uploading"
For example:

* "README" is changed to ".readme"
* "apache-maven-3.3.3-bin.tar.gz" is changed to  "apache-maven-333-bintar.gz".
* "테스트.txt" is changed to "l.txt"

It would be better that they keep their original name.

[2015-11-20 04:23] timabbott commented on #321
Hmm I wouldn't expect that scope of changes to be happening.  The code for this i in `zerver/lib/upload.py` if someone wants to debug.

[2015-11-20 04:26] timabbott commented on #316
`manage.py realm_emoji`  should only show the custom emoji for the realm, so that's actually no the issue.

You can find the code for finding the emoji is here:
https://github.com/zulip/zulip/blob/master/zerver/lib/bugdown/__init__.py#L534

[2015-11-20 05:05] npcode commented on #316
Thanks. The code seems to find `/home/zulip/prod-static/serve/third/gemoji/images/emoji` or `/home/zulip/static/third/gemoji/images/emoji`. But I have only `/home/zulip/prod-static/third/gemoji/images/emoji`.

Should I make a symlink to fix the problem?

[2015-11-20 05:21] timabbott commented on #316
So in production, settings.VOYAGER is True, and ` /home/zulip/prod-static` is populated by copying the contents from `/home/zulip/deployments/current/prod-static/serve`.

I would expect that this code
[code]
would have `os.path.dirname(__file__)` be `/home/zulip/deployments/current/zerver/lib/bugdown` which means the 3-levels up parent would be `/home/zulip/deployments/current`, in which case addi

[2015-11-20 06:31] npcode commented on #316
I added some debug code to print `path_to_emoji` then it prints `/home/zulip/deployments/2015-11-18-18-57-23/zerver/lib/bugdown/../../../prod-static/serve/third/gemoji/images/emoji/*.png`.

But I don't have the files because there is no `/home/zulip/deployments/2015-11-18-18-57-23/zerver/lib/bugdown/../../../prod-static` directory.

So I made a symlink `/home/zulip/deployments/current/prod-static/

[2015-11-20 06:55] npcode commented on #315
It works very well. Thanks!

On Fri, Nov 20, 2015 at 6:57 AM, Tim Abbott <notifications@github.com>
wrote:

[2015-11-20 09:42] jmandel commented on #31
@SystemZ  thanks -- I needed to follow your purge-then-reinstall suggestion on a fresh Ubuntu 14.04 install (following the default instructions from https://zulip.org/server.html)

[2015-11-20 17:33] timabbott commented on #317
Yes -- the person sending the message does receive a warning and it's their choice to ignore it or not.  See #152 for more discussion of this issue.

Rather tha closing as a duplicate, I'm going to rebrand this ticket to improving the UX around this -- e.g. perhaps the warning to the sender should offer a button to let you subscribe the recipient.

[2015-11-20 18:07] timabbott commented on #316
Ahh, it's possible `docker-zulip` doesn't setup the file tree exactly the same way...

[2015-11-21 04:46] #309 closed

[2015-11-23 01:30] ritschwumm commented on #321
removing sanitization completely might not be a good idea.

[2015-11-23 01:45] ritschwumm commented on #245
readAsArrayBuffer is supported in IE 11, maybe that can be used here

[2015-11-23 01:47] ritschwumm commented on #213
sounds like chrome on android. see https://code.google.com/p/chromium/issues/detail?id=481856 for details.

[2015-11-23 01:53] ritschwumm commented on #165
why not use a stream instead? whoever subscribed to it is in the group...

[2015-11-23 01:55] ritschwumm commented on #99
that would probably solve #213, too

[2015-11-24 13:05] npcode opened #328 "email error while inviting coworkers"
I configured smtp as follows:

[code]

and tried to invite a coworker. But the invitation email was not sent and an error logged in `/var/log/zulip/workers.log`, if `EMAIL_USE_TLS = False`:

[code]

and if `EMAIL_USE_TLS = True`:

[code]

I tested the smtp configuration using telnet and it seems to be okay:

[code]

[2015-11-24 13:36] sirgraystar opened #329 "Messages not sending"
Following the instructions at https://github.com/zulip/zulip/blob/master/README.prod.md, I set up an Ubuntu 14.04 server running zulip. However, from various browsers in various client operating systems, I have periodic trouble sending messages.

After logging in to zulip with LDAP (in Chrome), I get lots of `SockJS connection lost.  Attempting to reconnect soon. (3000, Go away!)` messages, and an

[2015-11-24 14:01] timabbott commented on #329
Can you check the server logs for errors?  E.g. /var/log/zulip/errors.log.

[2015-11-24 14:04] ritschwumm commented on #267
i guess extracting commonly used values into less-variables would already be a big step forward in this regard..

[2015-11-24 14:07] sirgraystar commented on #329
`/var/log/zulip/errors.log` contains multiple `WARNING  Failed to send to rabbitmq, trying to reconnect and send again` entries.

rabbitmq appears to be running:
[code]

[2015-11-24 14:09] timabbott commented on #329
OK so your problem is probably rabbitmq authentication isn't setup properly (the websocket flow uses rabbitmq internally so that would make sending messages fail as you describe).

Try running `scripts/setup/configure-rabbitmq` and then restarting your zulip server.

[2015-11-24 14:23] sirgraystar commented on #329
That doesn't appear to have made a difference. I still get a lot of `SockJS connection lost.` errors, although intersetingly no new `Failed to send to rabbitmq` errors. There are now no errors reported in `/var/log/zulip/errors.log`. Are there any other logs clues might appear in?

[2015-11-24 14:35] timabbott commented on #329
Well that probably fixed the backend part of your issue.

SockJS should fall back to using XHR requests if websockets aren't available, but one can have issues if the network between you and the server isn't friendly (e.g. if it kills connections open for longer than 15s)...

(Do you get new errors in errors.log if you reload a browser window?)

[2015-11-24 14:38] #276 closed

[2015-11-24 14:47] timabbott commented on #264
Added #330 to fix the requirements.txt part of the issue.  Still need to address the idempotentcy issues.

[2015-11-24 14:57] sirgraystar commented on #329
From the same machine that I'm experiencing these issues on, http://www.websocket.org/echo.html functions perfectly fine. I see no reason for the connection to be any different in the case of zulip.

If I inspect the websocket frames in the chrome debugger I get an instant response of `c[3000,"Go away!"]` when the connection is opened, there's no delay implying that the connection is being killed

[2015-11-24 15:14] melbel commented on #286
I would agree that linking to an external profile is the more flexible way. Here, we do have a centralized user directory with capabilities like calling the respective person. For us, being able to put a customized link somewhere in the popup that appears when one clicks on the person's avatar would go a long way towards integrating Zulip with the rest of our infrastructure.

[2015-11-24 20:49] timabbott commented on #329
Where are you hosting the zulip server?  I can certainly imagine hosting providers sending back websocket reject responses sent into their networks...

[2015-11-24 22:50] whitedani opened #332 "Enable Camo by default in Zulip production deployments"
While using Zulip, I noticed that it appears to place a couple of cookies on external sites, including:
- stylonica.com
- secure.gravatar.com
- static.fjcdn.com
- cutestlife.com
- netdna3.corgiflop.com
- ak-hdl.buzzfed.com
- zulip.com
- donnienicole.files.wordpres.com

Is there any reason why using Zulip should require my browser to contact these pages?

[2015-11-24 23:43] alliejones opened #333 "Error from json/tutorial_status on login"
It looks like 123d51e3 broke something in the tutorial--when I log in (with a newly-created VM) I get this error when the app makes a request to `json/tutorial_status`:
[code]
I also don't seem to be able to leave the tutorial.

I started to look into a fix for this (which is how I pinpointed the problem to that commit) but I think I am missing something about how the tutorial gets triggered. My g

[2015-11-25 01:10] dbiollo commented on #302
I had the same issue and found that it was due to an outdated npm/node:
[code]

After updating to 3.3.12 and re-running npm install, xmlhttprequest was installed and that fixed the webpack error.
[code]

[2015-11-25 06:50] #333 closed

[2015-11-25 06:53] timabbott commented on #333
Pushed a quick fix to this issue, thanks for reporting this!

Indeed the `tutorial_status` field is what controls whether the tutorial runs -- if it's set to TUTORIAL_FINISHED then the tutorial won't start.

[2015-11-25 08:48] sirgraystar commented on #329
The server is hosted on a Virtualbox VM that I created myself, using the standard Ubuntu 12.04 image. Is there something special that has to be done to make websockets work probably from Virtualbox? A quick Google suggests that a couple of people have had issues with this before, but then there are multiple issues on this tracker where people have working setups inside Virtualbox.

[2015-11-25 10:21] npcode opened #334 "How do I set the passphrase for ssl certificate?"
I bought a SSL certifcate, copy the files into `/etc/ssl/private/` and restart zulip. I expected that nginx asks me the passphrase for the certifcate but it did not and zulip server also did not run.

I found a error log entry in `/var/log/nginx/error.log`:

[code]

I guess I need to set the passphrase. How do I do that?

[2015-11-25 15:10] phibaroptik opened #335 "screensharing support in Zulip"
A couple of searches have come up empty on this topic.  I just implemented Zulip in our environment and the first questions I received was on the ability to screen-share.  Has anyone been able to get this working with I assume a webrtc plugin?

[2015-11-25 19:39] Fhajad commented on #334
More or less these steps:

https://search.thawte.com/support/ssl-digital-certificates/index?page=content&id=SO25709&pmv=print&actp=PRINT

[2015-11-25 20:11] vakila commented on #165
@ritschwumm It could be helpful to tag a specific group in a discussion that's open to a wider audience. For example, you might want to tag the support team in a discussion among all company employees.

[2015-11-26 03:11] npcode commented on #334
@Fhajad Thanks. nginx asked me the passphrase and works well when I restarted it by `/etc/init.d/nginx restart` instead of `supervisorctl restart all`.

[2015-11-26 19:35] dbiollo commented on #274
To share some experience hooking up a SAML SSO provider: the OneLogin python library is straightforward and works well: https://github.com/onelogin/python-saml. SSO and SLO work. The code seems good - simple structures. It can easily be hooked up into a backend.

Before that I tried djangosaml2 (https://pypi.python.org/pypi/djangosaml2/), which is more complex (code implements 1:1 mapping with XML

[2015-11-27 08:25] rominf opened #337 "Internal Server Error: /json/get_old_messages"
I've installed Zulip on Ubuntu 14.04, configured it. It ran perfectly until I rebooted the server (to configure network interfaces).

When I login into Zulip it shows me 500 error. I've tried to login several times and finally got into it, but old messages are not loaded and I'm unable to open stream's topics.

In `django.log` I'm seeing this:
[code]

Services statuses:
[code]

[code]

DNS:
[code]

[2015-11-27 13:23] BornToBeRoot opened #338 "Document how to restrict login to LDAP-Group"
Hello,

i try to handle the users who are allow to login in zulip, with a active diectory security group...

I add the following line in /etc/zulip/settings.py, but after restart all services and entering my E-Mail-Address + Password there is an internal server error (500).

AUTH_LDAP_REQUIRE_GROUP = "CN=Zulip,OU=**_Groups**_,DC=**_,DC=**_"

i can't jsut set the AUTH_LDAP_USER_SEARCH to the right

[2015-11-28 03:12] TheRakken commented on #321
The culprit seems to be the sanitize_name function where the filename parameter is assumed to be exclusively in the form "filename.ext"

[2015-11-28 17:06] timabbott commented on #321
Seems right.  Any suggestions of a good name sanitization function/library we should replace this with?  We should be careful here to avoid security issues but we clearly we can do better than this...

[2015-11-28 17:11] timabbott commented on #338
Can you post the traceback from /var/log/zulip/errors.log ?

We've never attempted to use that configuration before, so I'm not surprised that it doesn't work, but I'd be happy to help debug why this doesn't work and fix it, since I'm sure you're no the only person who wants this feature.

[2015-11-28 17:13] timabbott commented on #337
Try running scripts/setup/configure-rabbitmq and then restarting the server?

the traceback is an error with Django trying to connect to rabbitmq using the python-pika library...

[2015-11-28 17:28] rominf commented on #337
@timabbott
I've tried this (I even reinstalled rabbitmq from scratch) several times, no luck at all.

I can try to do it one more time after some timeout though, it could be heisenbug.

[2015-11-28 17:36] TheRakken commented on #321
Sanitization in this case just means removing the dot from the file name, right? Then a quick fix might be to replace the . with something like '-dot-' in the file name.

This will also make it easy to get back the original file name instead of when it's slugified.

[2015-11-28 17:45] timabbott commented on #321
Well the basic issue is these get stored in s3 or in a directory on disk
and we need to avoid things like /../ that might let an attacker save files
outside that directory tree our do other bad things...

-Tim Abbott (mobile)
On Nov 28, 2015 12:36 PM, "Elijah Karari" <notifications@github.com> wrote:

[2015-11-28 17:54] TheRakken commented on #321
I think using '-dot-' should still be safe because hyphens are allowable characters in file names

[2015-11-28 18:49] ritschwumm commented on #321
i wouldn't use a user supplied name to derive a file name on disk at all, but something completely synthetic. if you get sanitization wrong then, clients may still suffer, but at least the server is safe.

[2015-11-28 18:59] TheRakken commented on #321
Then the way to go is to use a hash of the file as the file name.

I still see nothing wrong with using the user provided name with dots replaced with something else or am I overlooking something?

[2015-11-28 19:05] DoubleDeez commented on #203
I'm going to give this a shot

[2015-11-28 19:13] npcode commented on #321
I think zulip should keep the original filename in database. There is no compatible and loseless way to encode the filename.

[2015-11-30 01:18] ritschwumm commented on #321
@TheRakken i don't see any advantage of using a hash instead of a primary key generated in one of the usual ways. hashes can clash, and not be computed before you have the complete file...

@npcode that's what i meant.

[2015-11-30 04:18] npcode commented on #328
The culprit was my `$ZULIP_SETTINGS_EMAIL_HOST` that is incorrectly configured. I didn't know the env overrides `EMAIL_HOST` in `/etc/zulip/settings.py`.

[2015-11-30 07:34] AcidWeb opened #341 "Add UI for renaming or disabling `notifications_stream`"
After setting multiple default streams with set_default_streams command new users are **additionally** subscribed to "zulip" stream.

How I can disable it?

[2015-11-30 07:47] aamitshr commented on #314
@Fhajad can you please elaborate how you fix the problem,i have the same problem as yours.

[2015-11-30 08:45] rominf commented on #337
@timabbott
I've tried this one more time (I reinstalled rabbitmq, reconfigured it and restarted server) and got it work.
I certainly heisenbug, I see similar reports: #76, #314.

I propose to add a tip how to fix those errors (see #342).

[2015-11-30 08:45] #337 closed

[2015-11-30 09:56] Get-UserName commented on #338
@timabbott that would be great if you can fix this :)

Here is the error i can reproduce (/var/log/zulip/error.log):

 ERROR    Internal Server Error: /accounts/login/
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/zulip/dep

[2015-11-30 14:43] melbel opened #343 "Going through local SSO when accessing zulip base URL for unauthenticated User"
I hope I have not overlooked some info that explains this:

We have set up Zulip to use LDAP to our AD and the local REMOTE_USER SSO. Both work quite well, if a user logs in with his AD credentials and does not exist, a proper account gets created. Also, going to zulip.ourdomain.com/accounts/login/sso will properly authenticate and redirect the user - nice!

However, I have not seen any way to mak

[2015-11-30 16:57] timabbott commented on #338
OK I think the issue is just that you need to configure AUTH_LDAP_GROUP_SEARCH and AUTH_LDAP_GROUP_TYPE as per this documentation -- see in particular the last sentence of that paragraph "All groups referenced elsewhere in the configuration must be of this type and part of the search results."

https://pythonhosted.org/django-auth-ldap/groups.html#finding-groups

[2015-11-30 16:59] timabbott commented on #338
If I'm right about that, I think it'd be great to address this issue by adding some documentation comments at the bottom of zproject/local_settings_template.py (the template for /etc/zulip/settings.py) for how to configure AUTH_LDAP_REQUIRE_GROUP.

[2015-11-30 17:18] timabbott commented on #341
That stream is used for various automated announcements (e.g. if you create a new stream and click the "announce stream" button).

It looks like there's a small bug in `set_default_streams` in `zerver/lib/actions.py` that it uses the default stream name rather than the configured one.  I've opened #344 to fix that.

Once that's fixed, you can rename the stream by changing `Realm.notifications_stre

[2015-11-30 17:29] AcidWeb commented on #341
OK. Thank you.

[2015-11-30 17:31] timabbott commented on #332
Thanks for the report!

So `secure.gravatar.com` and `zulip.com` are set by Zulip if you're using Gravatar for default avatars (which is the default).  The rest are likely caused by people posting links to images hosted by those servers that are being shown on the Zulip site via our inline image preview functionality.

However, I think that this does cause me to notice that we're not using the Cam

[2015-11-30 17:42] timabbott commented on #343
Hi @melbel,

This block in `zproject/settings.py` is supposed to solve this problem for you:
[code]
I imagine the problem here is that you're also using `zproject.backends.ZulipLDAPAuthBackend`?  The hackish solution to that today is that later on in that file, `zproject.backends.ZulipLDAPUserPopulator` gets added to the AUTHENTICATION_BACKENDS if you've set `POPULATE_PROFILE_VIA_LDAP` in your /et

[2015-11-30 17:46] timabbott commented on #335
I'm not aware of anyone having added such a feature.  I think the shortest path to being able to do this would be integrating with a third-party video chat provider (e.g. having a way to create a Google hangout from without Zulip)

[2015-11-30 17:47] timabbott commented on #334
Changing this into a documentation ticket since it seems like it'd be useful to document this.

[2015-11-30 17:51] timabbott commented on #337
Yeah this rabbitmq issue definitely needs coverage in the documentation at the very least; ideally we'd get a clear reproducer for it so that we can fix it but until then we should document it...

[2015-11-30 17:54] timabbott commented on #328
@npcode can you explain what you discovered in a bit more detail for the thread -- what is `ZULIP_SETTINGS_EMAIL_HOST` and how did you end up setting that?  I don't recall such a variable existing and it doesn't show up when I grep the codebase...

[2015-11-30 17:54] #328 closed

[2015-11-30 18:22] clawoflight commented on #335
Slack has an appear.in integration for webrtc video conferences.
They also have a screenhero integration for screen sharing; However, they actually purchased them and will gobble them up.

I am not aware of anything similar offered by any other competitor of, or zulip.

[2015-11-30 18:29] #203 closed

[2015-11-30 18:30] timabbott commented on #203
Just merged the fix for this; thanks again for the report @bgilbert !

[2015-11-30 18:36] npcode commented on #328
@timabbott Well, I thought zulip provides environment variables to override configurations in  `/etc/zulip/settings.py`. If zulip doesn't do that, it may be a docker-zulip's behavior.

docker-zulip allows users to configure zulip settings via environment section in `docker-compose.yml`. I guess docker-zulip does something to override settings in `/etc/zulip/settings.py` when the docker containers

[2015-11-30 18:38] timabbott commented on #328
I see, yeah, this is probably a docker-zulip thing...

[2015-11-30 18:40] phibaroptik commented on #335
Rocket.Chat says they do and it is a closed issue listed as completed.  I haven't tested it personally yet so I don't know how good an implementation it is.

[2015-11-30 20:17] melbel commented on #343
Thanks a lot. I have taken out the ```POPULATE_PROFILE_VIA_LDAP``` and put a
```POPULATE_PROFILE_VIA_LDAP = True```
in. Now I do get the
```You look familiar - Sign in with SSO```
welcome screen and no Register Link - great! Logging in a unregistered user populates it properly from the LDAP information - great!
I am seeing some internal server errors when I'm not already authenticated and/or simpl

[2015-12-01 05:43] timabbott commented on #343
OK, thanks for the writeup!  If you (or anyone else reading this) have time, I'd definitely appreciate a quick PR to add more documentation (either in `zproject/local_settings_template.py` or a new file that we can link to from there) of how to set LDAP up with active directory, even if it's just an addition of example AD configuration or a link to the right page of the Django LDAP documentation f

[2015-12-01 05:54] timabbott commented on #302
Interesting; @dbiollo what platform are you using?  I'd be surprised if the vagrant development environment had a version of npm that was too old...

[2015-12-01 05:59] timabbott commented on #329
Sorry for the slow reply -- I've been on Thanksgiving holiday.  I'm not aware of anything special that should need to be done to make websockets work properly from Virtualbox....

[2015-12-01 08:25] melbel commented on #343
Of course. Is it ok with you if I open up another issue specifically for the LDAP/AD documentation?

I'd like to see if others could verify that what I came up with for our setup here really makes sense for others too. I can't imagine that we are the only ones using Zulip against a LDAP enabled AD.

Also, should we perhaps document the ```POPULATE_PROFILE_VIA_LDAP``` together with the other LDAP s

[2015-12-01 10:07] Get-UserName commented on #338
Great... Seems like it work if i add the above settings.

The ../zulip/error.log is clear... and user can login when they are member of the zulip group.

But if i remove a member of the Zulip group, the user still exist in Zulip... maybe there could be an option to sync the AD-User with Zulip?

Thank you for help.

[2015-12-01 10:11] Get-UserName opened #346 "Other languages like German?"
Hello,

i would like to know if there are any plans to translate Zulip in other languages?

We want to use it intern in our company, but not only for people in the It department.
So a userinterface in german would be great.

Greetings

[2015-12-01 15:50] timabbott commented on #346
There's been some work on adding translation support for Zulip; see #132.  The short story is that @shumbashi has already done some great work adding translation tags to strings in the UI; a bit more of that type of work is needed and then we'll need to setup Transifex or another translation site for people to do the actual translations...

[2015-12-01 15:50] #346 closed

[2015-12-01 15:54] timabbott commented on #343
Yeah definitely reasonable to open another issue for the documentation issues!

Looking more closely, I think we actually don't need to document POPULATE_PROFILE_VIA_LDAP, since it's actually set as `POPULATE_PROFILE_VIA_LDAP = bool(AUTH_LDAP_SERVER_URI)` earlier in zproject/settings.py ; so I think the model is actually that if you configure the LDAP integration but don't enable `zproject.backend

[2015-12-01 16:20] TI-Admin commented on #208
Upgrade from 1.3.7 to 1.3.9 fails. I'm in the /home/zulip folder as root executing

/home/zulip/deployments/current/scripts/upgrade-zulip zulip-server-1.3.9.tar.gz

It is doing the apt upgrades and then :

2015-12-01 17:16:54,373 upgrade-zulip-stage-2: Stopping Zulip...
error: <class 'socket.error'>, [Errno 13] Permission denied: file: /usr/lib/python2.7/socket.py line: 224
Traceback (most recent

[2015-12-01 16:26] timabbott commented on #208
What happens if you try to run `supervisorctl status` as the `zulip` user?

[2015-12-01 16:30] timabbott commented on #338
Is there a way to subscribe to changes in a query from LDAP/AD ?

If not, basically this means we'd want to extend `zerver/management/commands/sync_ldap_user_data.py` to also check for human users that exist in Zulip but not in LDAP and deactivate them.  It probably would be like 30 lines of code to add that if someone's interested (can you open a new ticket for that issue?)

[2015-12-01 19:07] dbiollo commented on #302
I'm on Mac/Yosemite. Installed most of the dependencies via homebrew. Maybe check whether the xmlhttprequest@1.5.0 dependency is there and if not, npm/node could use an upgrade? At least that was the only thing that worked for me.

[2015-12-02 09:13] melbel opened #349 "Document authenticating against Active Directory via LDAP"
As discussed in issue #343, setting up authentication against an AD via LDAP is not trivial, an example and some explanations in `zproject/local_settings_template.py` that will wind up in `/etc/zulip/settings.py` would be nice.

Before I open a PR to do this, I would like some feedback from others who have successfully managed to authenticate against an AD if their settings differ from mine. Here

[2015-12-02 09:49] TI-Admin commented on #208
I get

error: <class 'socket.error'>, [Errno 13] Permission denied: file: /usr/lib/python2.7/socket.py line: 224

[2015-12-02 17:48] timabbott commented on #208
OK well that's your problem.  The issue could be incorrect permissions on /var/run/supervisor.sock -- can you check that?

[2015-12-03 08:17] BornToBeRoot opened #350 "Desktop-Client Notification like Chrome"
Hello,

i test Zulip since a few days and i noticed that the notifications in the desktop client really sucks. This bubble is good for a single notification from a programm... but not when you have a continuous conversation with some people...

Maybe it is possible to change the notification-bubble to something that looks like the notification of chrome/firefox or like in Outlook when you receive

[2015-12-03 08:21] Get-UserName opened #351 "Delete Topic of a Stream"
Hello,

is it possible to delete a Topic in a Stream?
Maybe with the manage.py ?

After testing this a while... i have so much unused Topics...

I don't want to delete the Stream and create it new...

Thank you for help

btw. Zulip is great for intern communication

[2015-12-03 08:25] Get-UserName commented on #132
We are very interested to a translated Zulip Interface in German and would help to do this.

When will it be published on something like transifex? How far are you?

Greetings

[2015-12-03 19:05] ogg1e opened #352 "Document letsencrypt for getting free SSL certificates"
Is it possible to run zulip without https?

We're behind a firewall/load balancer and have no need for the zulip server to run https.

[2015-12-03 19:19] Fhajad commented on #352
Personally I'd think HTTPS of some sort internal would be good to have. What would happen if a rogue device or virus/etc got onto the network and started sniffing up all those lovely unencrypted critical logins? (Ldap, usernames, etc)

[2015-12-03 19:34] timabbott commented on #352
Yeah we don't support running without HTTPS, and it is valuable even on an internal network for the reasons @Fhajad described.

@ogg1e is there a problem you're worried about with using HTTPS?  It would have no impact on performance, so I'm not sure what the intended gain would be of running Zulip over HTTP.

[2015-12-03 19:48] ogg1e commented on #352
It's the whole certificate thing that's a pain. We're evaluating zulip, and it won't work right with the jenkins and redmine plugins without a valid cert. Those plugins fail with a self signed cert.

I don't really want to go purchase a certificate to just evaluate a product.

[2015-12-03 19:50] asmartin opened #353 "Font rendering on Windows distorts numbers"
When testing Zulip 1.3.9, I've noticed that font rendering of numbers is hard to read on Windows (in both Firefox and Chrome):
![zulip_windows](https://cloud.githubusercontent.com/assets/3905723/11571892/33e707ca-99c4-11e5-8622-3a4967f58f85.png)

Note that viewing this same message on Linux does not have this problem - all of the numbers are the same height. Is it possible to correct the problem w

[2015-12-03 19:51] timabbott commented on #352
https://letsencrypt.org/ and http://www.startssl.com/?app=39 are vendors that offer free SSL certs these days.

[2015-12-03 19:52] timabbott commented on #352
(Perhaps we should add links to those to our setup documentation to make this clear to others?)

[2015-12-03 20:00] ogg1e commented on #352
You could add those as options to help others. But again, I don't see the problem with allowing http. It should be my choice to use http or https.  I agree !00% that you should be using https to be more secure, but that should be optional.

[2015-12-03 22:14] timabbott commented on #352
I don't think it would be particularly hard to make an installation work over HTTP (I think basically change settings.EXTERNAL_URI_SCHEME and the `nginx` configuration), but it's kinda annoying to implement as an option since it requires forking the nginx configuration for Zulip, and also will carry some cost of people accidentally using HTTP without understanding the security consequences...

[2015-12-03 22:15] timabbott commented on #353
Fascinating, that's definitely a bug.  Is this content the Zulip message body or some other part of the UI?  And is this with the website or desktop app?

[2015-12-03 22:21] asmartin commented on #353
This is the content of the Zulip message body - and it's the webapp in both Chrome and Firefox (I have not tested the desktop app)

[2015-12-04 00:18] Fhajad opened #354 "Length of Time to Log Convos"
My company would like to see the ability to set the length of storage time for messages. We keep all our emails for only 90 days, so keeping our IM conversation beyond that seems silly and could bake us into legal issues (Well Zulip has your email from a year ago stating this, where's all the other emails for that day?).

[2015-12-04 02:37] timabbott commented on #354
This is a duplicate of #106; see that for some discussion of this feature idea.

[2015-12-04 02:37] #354 closed

[2015-12-04 11:42] TI-Admin commented on #208
Is the problem that I usually do 'supervisorctl start' as root ?

I reinstalled the VM so I can't give more feedback.

[2015-12-04 13:54] rsiddle opened #355 "A new version of /boot/grub/menu"
I'm getting the following options whilst on the install for Ubuntu 14.04 as root user. What option should I choose?
<img width="728" alt="screen shot 2015-12-04 at 13 53 04" src="https://cloud.githubusercontent.com/assets/18415/11591285/7b8f680e-9a8e-11e5-8971-5ca2754c8e47.png">

A diff shows the following
<img width="534" alt="screen shot 2015-12-04 at 13 55 49" src="https://cloud.githubuserconte

[2015-12-04 14:55] ogg1e commented on #352
Ok. Maybe I'll take a look at that. Is there a process to follow when upgrading to real certs after you initially set up self-signed? I got a free 90 day one and placed the .key and .crt in the correct folders and restarted but it didn't pick them up and is still using the self-signed.

[2015-12-04 15:02] ogg1e commented on #352
I had to restart nginx to get it to pick up the new cert.

[2015-12-04 15:56] timabbott commented on #355
You probably want the new version, since it has a newer kernel installed.

Is this the production or development installation?  This seems like something that's likely unrelated to Zulip but instead related to running "apt-get upgrade" on your Ubuntu 14.04 system image, but if it's the Vagrant development environment there might be something we can do about it...

[2015-12-04 15:58] timabbott commented on #208
If the system is configured normally, you should be able to run `supervisorctl` commands either as root or the zulip user.  If you see this again, I suspect the fix is to rerun this line from `scripts/lib/install`: `chown zulip:zulip /var/run/supervisor.sock`

[2015-12-04 16:37] illicitonion opened #356 "Federation capability"
It would be great if multiple Zulip servers were able to talk to each other.

matrix.org is an open standard for inter-operable messaging, and would be a natural way for Zulips to talk to each other. It also trivially gives the ability to bridge into other communication systems like Slack and IRC.

Writing an integration would probably take the form of writing a small bridge that sits between a Zu

[2015-12-05 23:39] melbel commented on #353
I see this too, but **only in the Windows desktop client**. Here, on 64 bit Windows 10 everything looks just dandy on Firefox, Chrome, IE and Microsoft Edge.

[2015-12-05 23:40] timabbott commented on #353
Interesting.  It'd be great if someone could track down what's going on here!

[2015-12-05 23:43] timabbott commented on #351
See #135 for a detailed discussion of this issue.

[2015-12-05 23:43] #351 closed

[2015-12-05 23:45] timabbott commented on #350
There are no current plans for changing the notification bubbles in the desktop app.

I'm also not entirely sure what exactly you'd like to change; what platform are you using, and can you post screenshots explaining the change you'd like to see here?

[2015-12-05 23:51] timabbott commented on #302
Ahh, OK, so you installed by hand onto your Mac hosts, makes sense.  How painful of a process was that?  I can certainly imagine it making sense to script that if a lot of people are doing it...

I feel like the best place to do that sort of version check/update would be the Mac desktop installation script, rather than in the tools that use it...

[2015-12-05 23:59] melbel commented on #353
Just from looking at the browsers comparing the output to @asmartin s screenshot, It looks like a different font is being used. And it looks like numbers are mono spaced in Zulip. So with a font that does not have mono spaced numbers being forced into a uniform grid, the narrow 1 would need to become taller than the wide 4, right? Unfortunately, I'm no CSS wizard and firebug does not show me anyth

[2015-12-06 00:10] timabbott commented on #353
Zulip was originally called "Humbug" and then renamed years ago.  So the "Humbug" font family may be defined in static/styles/fonts.css.

[2015-12-06 00:41] timabbott commented on #132
OK I've created a Zulip project on Transifex: https://www.transifex.com/zulip/zulip/.

For the moment, it's only possible to translate the existing strings in the main templates (which @shumbashi has awesomely tagged for translation).  There are still other strings that we need to tag for translation (including the Handlebars templates and the backend error messages), but these are a significant f

[2015-12-06 08:38] kostich commented on #132
Looking great!

[2015-12-06 10:20] beingryu commented on #132
I've sent join request too! :)

On Sun, Dec 6, 2015 at 5:38 PM kostich <notifications@github.com> wrote:

[2015-12-07 08:02] Get-UserName commented on #350
I mean this Notificcation (Windows Client):
![notifcation_winclient](https://cloud.githubusercontent.com/assets/16019165/11621918/33fd8d88-9cc1-11e5-9101-52a8a89ea2bc.PNG)

Change to something like this:
![notifcation_chrome](https://cloud.githubusercontent.com/assets/16019165/11621924/3d028776-9cc1-11e5-9a51-df3fcb9b62eb.PNG)

[2015-12-07 10:45] DJm00n commented on #132
@timabbott, I've created Russian lang request. Please add me to it. My Transifex login: https://www.transifex.com/user/profile/DJm00n/

[2015-12-07 12:44] melbel commented on #353
static/styles/fonts.css does not exist in my production environment. However, in serve/min/app.css, the  'Humbug' font-face is pointing to third/sourcesans - a bunch of SourceSansPro web fonts. My guess is, those are not rendered properly with some browser engines on Windows including the one used in the desktop app.

[2015-12-07 13:18] melbel commented on #353
I found a VM with Windows where I could reproduce the Issue even in Firefox. Playing with the font-family setting showed the problem only when Humbug was active, so it sure looks like a problem with that particular web font.

[2015-12-07 14:56] ritschwumm commented on #353
seems to be a known problem, see http://stackoverflow.com/questions/30304060/numbers-uneven-in-some-font-sizes and maybe https://github.com/adobe-fonts/source-sans-pro/issues/17 .

i'd try to reorder the different font file formats, or remove some - or even all of them except ttf for a start.

[2015-12-07 15:30] melbel commented on #353
It's not that easy :unamused: That Firefox I can reproduce it with understands only ttf anyways and exhibits the problem with just ttf enabled, the other one on OSX here groks ttf and wof and just works with both ¯\_(ツ)_/¯

[2015-12-07 18:00] timabbott commented on #132
OK, I've added all of you and the new languages.  Thanks for translating!!

[2015-12-07 18:25] timabbott commented on #350
Ahh, OK.  I'd be curious to hear whether anyone prefers the current model (in which case it might make sense to make an opton to control the notification style) or whether it'd be better to just change it for everyone.

In the meantime you may be able to get the Chrome experience while still having your Zulip window be easy to find by using a pinned tab in Chrome or a second browser...

[2015-12-07 20:55] BornToBeRoot commented on #132
@timabbott I request to join German translation... (Btw. I changed my username from Get-Username)

[2015-12-08 04:29] timabbott commented on #132
@BornToBeRoot added you.  Also your new username is awesome  :)

[2015-12-08 04:59] timabbott commented on #356
Thanks for the detialed notes @illicitonion!  This would be a great project for anyone interested in messaging federation.

[2015-12-08 12:48] tuxflo commented on #146
I know that this is a closed issue but even if one get the Installation process done it won't run on a 1und1 VServer because of hard limitations of their openvz Containers. Rabbitmq will not run properly on that environment. Check my [blogpost](http://blog.haifischma.de/1und1-vserver/) (Update 2 at the bottom of the page) for details.

[2015-12-08 17:02] timabbott commented on #349
It might be worth sending a quick email to zulip-devel@googlegroups.com to encourage feedback, since I think fewer users follow the GitHub.

[2015-12-09 07:59] BornToBeRoot commented on #132
@timabbott Can you please accept judge_death on transifex for german translation.

[2015-12-09 13:18] ogg1e opened #359 "svn post hook not running"
I ran the steps outlined to install the Zulip API Python bindings. If I manually call the hook from the command line "./post_commit /path/to/repo 2 " , it works fine.

but when it's called from SVN, it fails. I put some debugging in and it just stops whenever it hits a zulip object. In this instance, it's when we're creating the zulip.Client object.

So when it's being called by svn, the zulip imp

[2015-12-09 14:24] ogg1e commented on #359
I did some more debugging, and if I ensure the HOME env var is set, it works.

ex:
export HOME=/home/svn

[2015-12-09 18:13] chadrik opened #360 "Clear user filter after pressing enter"
Hi,
Thanks for the great product.  I have a workflow suggestion, which I'm hoping will be a quick no-brainer.

A common workflow for sending a private message is the following:

1. press `esc` to clear the compose box
2. press `q` to go to the USERS filter
3. type the first letters of a user's name
4. press enter to open the compose box
5. type and send a message to the user

The end result of thi

[2015-12-09 18:25] timabbott commented on #360
Yeah agreed that pressing enter to open the compose box here should clear the filter.

This is likely a small change and could be a great first contribution for someone interested in working on the Zulip frontend.  `maybe_select_person` in static/js/activity.js is the relevant callpoint that should be modified.

[2015-12-09 18:28] timabbott commented on #359
Can you post the traceback you were getting?  It's possible that this is a bug in the Zulip API bindings where we crash fail if HOME isn't set when trying to read the user's .zuliprc file; probably it'd be more correct to just treat HOME being unset as the user not having a .zuliprc file...

[2015-12-09 18:29] timabbott commented on #132
​Done!

[2015-12-09 18:30] chadrik commented on #360
I'm a javascript novice, but I do know python, so I might do some backend hacking if necessary.  Anyway, I'll take a look if I get a chance.

[2015-12-10 08:13] BornToBeRoot commented on #350
Sure... but this feature would ne nice... only the IT-department has chrome or firefox as second brower....the rest is usin IE :/

[2015-12-10 10:33] BornToBeRoot opened #361 "Internal Server Error 500"
Edit 2:

Seems like i have trouble with rabbitmq

Error: unable to connect to node 'rabbit@XX-ZULIP': nodedown

[2015-12-10 11:48] BornToBeRoot commented on #361
If i reboot the server... zulip got an internal server error

When i try to restart "rabbitmq-server" it fails or nothing happens (console hangs up).... after this... zulip is working ?!?!?!

Can anyone explain ?

[2015-12-10 13:46] melbel commented on #361
This has been discussed a couple of times before, e.g. in #76. What I had to do is:

Make sure that the output of ```hostname``` exactly matches what is in /etc/hosts for the IP-Address of the machine, reinstall and reconfigure rabbitmq.

[code]
**Then** reinstall rabbit-mq:
[code]

[2015-12-10 13:52] gucce commented on #360
@chadrik I agree with you.
I just wanted to suggest a workaround. Why don't you just press 'C' which opens up the private message compose box where you can also search for team members and directly write them privately.

[2015-12-10 14:16] melbel commented on #349
Good point, done.

[2015-12-10 15:12] BornToBeRoot commented on #361
/etc/hosts gives me this...

127.0.0.1       localhost
127.0.1.1       XX-ZULIP

Must the IP of XX-ZULIP the extern like 172.16.XX.XX or is this (127....) right?

[2015-12-10 15:19] melbel commented on #361
You cannot legally have two entries with the same IP in /etc/hosts. Why don't you give the setting I described a try and see if this works? E.g. change the second line to whatever you get for ```ifconfig eth0``` and the output of ```hostname```.

[2015-12-10 19:38] BornToBeRoot commented on #361
Sry i'am a bit late.. i fixed it by changing the hostname in /etc/hostname and /etc/hosts from upper case letters to lower case letters...

After that i follow the steps you write with re-install/configure rabbitmq.

I reboot 2 times for test and it seems to work

Maybe someone can add this to the README.prod.md ?

[2015-12-10 19:38] #361 closed

[2015-12-11 02:34] timabbott commented on #361
Would #342 cover this issue effectively?

[2015-12-11 09:44] Andrey-dc opened #364 "Using wildcards when searching"
Hello
When searching for keyword you must use whole word only. For example, i can't find anything when typing "versio" in search box, but "versions" returns some relevant results. Am i missing some obvious wildcard functionality? I've tried searching for "versio*" with no luck.
Is there a way to enable partial keyword search or using wildcards when searching?

[2015-12-11 10:50] melbel commented on #361
I don't think so since it does not describe just what to do to your /etc/hosts or name resolution in general to make rabbitmq start reliably upon reboot.

For us here, on two Ubuntu 14.04 VMs runing on a ESX cluster, the solution was to make sure that `hostname` and the entry for the VM's external IP match a single entry in /etc/hosts, no domains at the end of the name allowed. From reading the ot

[2015-12-11 16:24] timabbott commented on #364
There's currently no wildcard support, but we are using stemming to make `version` and `versions` both return matches to one of those words.

Zulip uses postgres' full-text search support: http://www.postgresql.org/docs/9.4/static/textsearch.html, with a small extension we wrote, `tsearch_extras`, which causes postgrest to include the offsets of the matches in its response so that we can highlight

[2015-12-12 12:13] Galexrt commented on #316
If this is still a problem with the environment(docker), please create an issue at galexrt/docker-zulip for it. Thanks.

[2015-12-12 19:41] timabbott commented on #316
Closing this for the Zulip bug tracker.

[2015-12-12 19:41] #316 closed

[2015-12-13 14:44] Galexrt commented on #316
@npcode I'll take a look at the problem and I created an issue for it.
See https://github.com/Galexrt/docker-zulip/issues/53

[2015-12-14 06:19] timabbott commented on #32
#367 will make the Zulip workers multithreaded in the development environment; there will be a bit more work to do this in production since we'll probably want to offer both configuration options...

[2015-12-14 09:40] Andrey-dc commented on #364
Thank you for explanation. Will dig around for a way to get other than english dictionary into postgres then.

[2015-12-14 14:27] willemdh opened #370 "Zulip for large environments"
Is someone using a Zulip server in their network with 6000 users or more? Does Zulip scale well? can I just add more RAM and CPU and will it 'keep working'? What about a Zulip cluster? Any info on using Zulip in large environments is welcome. I can't find any document with hardware requirements.

[2015-12-14 16:05] timabbott commented on #370
I wrote up some notes on this topic in: https://github.com/zulip/zulip/issues/54; I'm going to work on incorporating that into the documentation.

The short story is that Zulip should scale fine up to ~2000 users in a realm, but you'll likely run into two real issues running Zulip at 6000 users in a realm that can't be solved with CPU+RAM:
* right sidebar buddy list frontend perf (this we really s

[2015-12-14 16:25] asmartin commented on #337
I've also encountered this problem. In my case, restarting the rabbitmq service via `service rabbitmq-server restart` solved the problem. Is there another ticket I should be following for a resolution to this issue?

[2015-12-14 16:30] willemdh commented on #370
Thanks for the fast answer. Well we are on a point where a decision will have to be made to migrate to another chat system (Spark on XMPP atm).  Before we would even consider starting with Zulip, I need to know if it is technically possible. We have about 6k users, but maybe only 2k of them would be actively chatting I guess.
Another question. If we would setup multiple realms, can people chat bet

[2015-12-14 16:36] timabbott opened #371 "Migrate Nagios plugins from `puppet/zulip_internal` to `puppet/zulip`"
We should probably migrate the code for the Nagios plugins to `puppet/zulip` to make it easier to use them; this process may involve some refactoring of the puppet modules.

[2015-12-14 17:10] asmartin commented on #135
+1 this would be very useful

[2015-12-14 17:15] heitorlessa commented on #335
Zulip supports Hubot integration, meaning that you have access to hundreds of other services out there including both [Hubot-Appear.in](https://www.npmjs.com/package/hubot-appearin) and [Hubot-Google-Hangout](https://github.com/hubot-scripts/hubot-google-hangouts).

It's better to focus on improving Zulip core features and UI/UX since Hubot can take care of integrations out there without impacting

[2015-12-14 17:18] timabbott opened #372 "Add support for running multiple Tornado threads"
As discussed in #54, one of the main scalability constraints for Zulip is the fact that its Tornado-based event system only supports a single Tornado process; eventually that process will get backlogged with traffic (probably around 5K active users, though one could stretch it considerably by changing the heartbeat frequency at the cost of having Zulip not work on networks that drop long-lived TCP

[2015-12-14 17:46] timabbott opened #373 "Add support for bots that can only send messages"
This would be a valuable security hardening improvement for Zulip, since most bots don't need the ability to read messages.

[2015-12-14 18:41] timabbott commented on #338
Reopening as a documentation request for this issue.

[2015-12-14 18:42] timabbott commented on #364
@Andrey-dc interesting, is the application you had in mind being able to search in other languages?

[2015-12-14 18:56] timabbott commented on #335
Good idea @heitorlessa !  I think a good approach for that PR would be to document the Hubot integrations for appear.in/Google hangouts; maybe a sane way to do this would be to add a "Videoconferencing" entry to `templates/zerver/integrations.html` documenting how to do these with Hubot?  And then maybe also add a mention of that on the website.

[2015-12-14 18:58] timabbott commented on #337
Posting a comment on #342 is probably a reasonable approach for making sure we document the `restart` piece of things.

@asmartin when are you seeing this problem happen.  E.g. are you using containers/docker or some other environment where you're shutting down the service and starting it back up again?

[2015-12-14 22:25] asmartin commented on #337
I saw this problem after restarting the VM where I'm running Zulip
On Dec 14, 2015 12:59 PM, "Tim Abbott" <notifications@github.com> wrote:

[2015-12-14 22:41] dbiollo opened #374 "Users with same display name breaks @-mention"
It's possible for people to have the same display name, while having different email addresses. This becomes more likely in larger companies.

For example:
- John Doe (john.doe@company.domain)
- John Doe (john.doe2@company.domain)

@-mentioning @**John Doe** has unpredictable results. This is because display name is used to match the name:

https://github.com/zulip/zulip/blob/e95739961f28916011d36

[2015-12-14 23:24] timabbott commented on #374
Agreed!  I've for a long time wanted to change the way the display works for @-mentions to use either the email address or perhaps better the user ID.

[2015-12-15 01:21] dbiollo opened #375 "Performance issues & some fixes"
I've been testing out zulip with large data sets (1000's of users, streams, etc). While some of the performance problems require UI design changes, there are a few optimizations that can be made directly on the backend. Here the small ones I've found so far:
### 1. Case-insensitive index on UserProfile.email.

Code like the following does a O(n) lookup on the UserProfile table:

[code]

All it nee

[2015-12-15 01:28] timabbott commented on #375
Cool, thanks for doing this investigation @dbiollo !  Are you intending to develop and submit PRs for any of these issues?  I'm happy to provide advice on how to best address some of these...

[2015-12-15 01:45] dosire commented on #32
@timabbott cool! I'm not sure why anyone would want non-multithreaded workers, or is it temporarily until multithreading is stable?

[2015-12-15 01:56] timabbott commented on #375
Here's some notes on these various items:

(1) Case-insensitive index on UserProfile.email.

I believe that the index in `0003_custom_indexes.py` is already used for the query you reference; is the issue that we may need similar indexes elsewhere or are you seeing that index not being used?

(2) Realm.get_admin_users*

Zulip is not using the groups support of Guardian, so I think that would be a f

[2015-12-15 02:00] timabbott commented on #32
Well there are two considerations:
* debuggability -- it will likely be easier to debug some things in the multi-process configuration than the multithreaded configuration.
* stability -- currently if a worker crashes, the rest of them keep running happily; with multithreading, it's possible for a worker crashing to bring them all down.

Both of these seem like things that shouldn't be a problem i

[2015-12-15 02:02] dosire commented on #32
Totally agree about the transitional period.

[2015-12-15 02:03] timabbott commented on #375
Also, @dbiollo if the way you're testing for these issues is something we could script and include in the automated tests that we run on every Zulip change, that would be awesome -- I always find it's best with performance work to have tools making sure issues don't regress in the future :)

[2015-12-15 02:26] timabbott commented on #370
Zulip was designed to support cross-realm private messages (currently it's disabled in most cases would would be a few lines of code to make configurable) but doesn't support cross-realm streams (though one could probably hack it together); I think it'd probably not be ideal to do multiple realms (And ultimately multiple realms would only help with the buddy list piece of the picture).

Since ther

[2015-12-15 05:52] timabbott commented on #361
OK, that makes sense @melbel .  As a start, I wrote a replacement for #342 as #377 since I wanted to at least cover the ipv4/ipv6 bug, and don't want to block forever on CLA stuff; if you have specific suggestions for items we should put in the 'common issues' list, I'd love to add them!

See https://github.com/zulip/zulip/pull/377/files for the actual code piece.

[2015-12-15 10:18] Andrey-dc commented on #364
Yep. For languages other than english there is no word form "approximation", but that should be fixable by adding appropriate dictionary, if i understood correctly.

[2015-12-15 10:31] melbel commented on #361
Looks good to me, I don't think we can be more specific than the
[code]
at this point. One thing though, the
[code]
must be wrong since it is perfectly legal and often necessary to have more than one IP address pointing to the same name(s) in /etc/hosts, especially for IPv4 and IPv6, but also for hosts with multiple interfaces. `ping localhost` and `ping6 localhost` are supposed to work. What **is

[2015-12-15 16:07] jros2300 commented on #16
Zulip is using now Redis for the rate limit feature and memcached for the django backend. Do you think it worth consolidating both in a Redis cache, and reduce the number of processes? I can work in the pull request if the team thinks they can approve it.

[2015-12-15 16:30] timabbott commented on #16
I'd definitely be interested in a pull request that makes it possible to using redis for the cache; before we switch over I'd like to at least do some measurement of whether there's performance impact since we make extensive use of large multi-get queries (e.g. to fetch 1000 message objects from the cache; see the `generic_bulk_cached_fetch` in zerver/views/messages.py).  A few other details that

[2015-12-15 16:32] timabbott commented on #16
(In particular, I can imagine the Django Python library for redis having a perf issue impacting our usage and I think given an implementation I can fairly easy verify whether that's the case)

[2015-12-16 00:50] dbiollo commented on #375
Hey @timabbott, my plan is to eventually plugin this into performance tests. No Pull Requests expected for a while; though I have submitted the CLA for my company to approve. Hopefully by January :/  Feel free to incorporate any of the non-controversial changes.

RE: (3) - The indexes in 0003_custom_indexes are great but only apply to zerver_message & zerver_stream. The same case-insensitive index

[2015-12-16 06:47] timabbott commented on #375
OK, good to know; time permitting I'll probably get to several of these before January.

Regarding limits, I definitely think having (configurable) limits would be a valuable feature to help prevent people from accidentally getting themselves into serious trouble!

[2015-12-16 18:48] rachkoud commented on #349
@melbel To be honest, it wast not easy. But here some ideas that may be helpful :

If you need help about ldap, search django and ldap, you'll find more information. This [article is interesting](http://www.spannerbracket.com/wordpress/?p=40).

You can test if your configuration is working by executing these steps :

Edit the settings :

[code]

=> You should see a result (for an odd reason, you m

[2015-12-17 11:24] melbel commented on #349
@rachkoud did you have a specific reason to search for the actual mail address associated with an account instead of the account name? At least on our side this would have forced people to use something like firstname.lastname.something@domain.lan instead of the username@domain.lan they are used to.

[2015-12-17 12:51] jros2300 opened #379 "New provisioning and updating system"
Hi,

I think the actual provisioning system is great for Dropbox, because your environment is closed and you only need to cover one use case, but for a broader audience it can limit the deployment and update options, some of the pain points I see are:
- The provision script installs everything (postgres, redis, rabbitmq, ...) in the same server
- If you change the configuration of one of the serve

[2015-12-18 07:25] clam2310 opened #380 "File links in Zulip"
Is it possible to use file links (file://) or other protocols in Zulip messages? It looks like everything but http:// and https:// is not turned into a link.

[2015-12-18 08:17] BornToBeRoot opened #381 "Bug in Zulip Client - Right Click in Text Field"
Hello,

if you open the context menu (in the textbox where you can send new messages)

There are two entries with "Direction".

See Screenshot for more details:
![bug_zulipclient](https://cloud.githubusercontent.com/assets/16019165/11892367/cec40a0a-a567-11e5-817f-0e3e36ce06a0.PNG)

To Reproduce:
Install the latest Windows Client (0.5.1)... I've test it on Windows 7 x64 Pro

Greetings

[2015-12-18 09:45] clam2310 commented on #380
Okay I figured it out. Maybe someone else is also interested in it. I had to change two files:
- /zerver/lib/bugdown/__init__.py line 660: changing the link-regex to find links with "file" in it.
- /zerver/lib/bugdown/__init__.py line 929: adding "file" as scheme in the white list
- /zerver/models.py line989: adding "file://" to "content_has_link" method

[2015-12-18 19:02] timabbott commented on #380
Hi @clam2310 can you give a bit more detail on why you were interested in file links in Zulip?  Is this e.g. for linking to a file in a company's shared file server?

If this is a potentially common use case, we could add an option for this feature so that you don't need to maintain a patch on top of mainline...

[2015-12-18 19:03] timabbott commented on #381
I think this is a bug in the desktop client -- please reopen against https://github.com/zulip/zulip-desktop

[2015-12-18 19:03] #381 closed

[2015-12-18 19:40] timabbott commented on #379
Hi @jros2300!  I'd definitely love to review and merge work on improving the installation and upgrade process for a wider range of configurations.  I think actually this is probably easiest to do by modifying the current installation and configuration setup.  Here are some specific details that I think will help a lot with achieving your goals:

* The run-everything-on-one-server puppet configurat

[2015-12-19 07:56] clam2310 commented on #380
Yes exactly. We also have proprietary protocols in our company we'd like to use in urls.

[2015-12-20 09:30] rachkoud commented on #349
@melbel I tried with sAMAccountName but it didn't work when I used query_ldap sAMAccountName@domain.com or query_ldap sAMAccountName

[code]

That's why I used mail instead. And I'm sure that I was using the right sAMAccountName because I used http://www.ldapadministrator.com/ to read the ldap properties.

[2015-12-21 08:43] melbel commented on #349
@rachkoud Now this is strange since sAMAccountName is **the** account name in a Windows domain sans the domain name. I have seen cases where UserPrincipleName was set to something like an E-Mail address and not to *\<sAMAccountName>.domain* as usual but never the other way around. Looking with ldap administrator, were the sAMAccountName fields populated properly?

And, long shot though it may be,

[2015-12-22 07:06] AcidWeb opened #385 "Random rabbitmq errors"
My zulip error log contain random waves of this type of errors:
[code]
No errors in rabbitmq logs.

This issue don't cause any lost messages but sometimes they are delivered out of order.

I'm using Ubuntu 14.04.3 LTS and environment was setup by official scripts.

[2015-12-22 09:17] dmi opened #386 "No login form in custom install"
After installing on my own server, I had have registered, and, following the email confirmation link, I log in to the web interface.
Next, I logout.
Now there is no login form - only "You look familiar." on a white screen.
Register form still present, but doesn't accept the same email because it is already registered.

[2015-12-22 09:38] dmi commented on #386
Solved! I should uncomment some of AUTHENTICATION_BACKENDS in settings.py

[2015-12-22 09:38] #386 closed

[2015-12-22 16:33] elsander opened #387 "Exclamation point before loading attachment prevents image from displaying"
Using the attachment button to attach an image in a message fails when the attachment is immediately preceded by an exclamation point. The message displays "!/[word]/(link.com)" (but without the forward slashes-- I had to add them because github is trying to interpret the markdown), instead of showing the hyperlinked word and image. This isn't replicated when the attachment is preceded by a period

[2015-12-22 18:59] rwbarton commented on #194
I also encountered both of these issues the first time I rebooted my Zulip server. (First that epmd would not bind properly, and then after applying the workaround mentioned above, that the rest of the startup process did not complete properly.)

Actually, with that workaround, I found that init gets blocked on starting rabbitmq-server, in `rabbitmqctl wait /var/run/rabbitmq/pid`. Even though the

[2015-12-23 10:23] rominf commented on #364
Another use case is searching ip and email addresses. I think that implementing regexes is even better, because it catches things that couldn't be caught by globbing and globbing is not required (thanks to PostgreSQL full text search) for searching things like `version`, `versions`.

[2015-12-24 14:06] leoluk commented on #364
For a long-term solution, it might be interesting to integrate ElasticSearch.

[2015-12-25 17:54] timabbott commented on #387
Thanks for reporting this!  The bug is that we disabled the markdown "image" syntax but didn't modify the "link" syntax correspondingly.  We're using LINK_RE from python-markdown as the link regular expression:

md.inlinePatterns.add('link', AtomicLinkPattern(markdown.inlinepatterns.LINK_RE, md), '>backtick')

Which as you can see from:

https://github.com/waylan/Python-Markdown/blob/master/markdo

[2015-12-25 19:33] timabbott commented on #380
OK cool; I'd be on board with someone adding an optional setting to let users set a list of valid link protocols...

[2015-12-25 20:08] timabbott commented on #194
Cool, that investigation is super helpful @rwbarton !  Would you be up for doing an updated version of #377 that explains with a bit more detail these things for the troubleshooting guide of the documentation?

[2015-12-25 22:22] heitorlessa commented on #29
awesome! I've delayed my initial dev environment to start learning about Zulip's frontend and contribute thereafter as it's quite a pain to install it.

Will give it a try next week. Tks for that @Galexrt

[2015-12-26 00:24] timabbott opened #391 "Add connection pooling for requests from Django => Tornado"
See https://github.com/zulip/zulip/pull/369#issuecomment-167267023

[2015-12-26 01:41] timabbott commented on #375
@dbiollo I opened #392 with versions of the fixes for issues 1, 2, 3, 5, 6, 7, and 8; I'd love it if you could take a quick look at it and test it in your environment!

For (4), I think we may need that cache for performance reasons in an actually active realm.  It could be valuable to look at whether it makes sense to e.g. gzip-compress the content; I should also note that if we merge #378, we wo

[2015-12-26 01:48] timabbott commented on #385
See #194 and #377 for notes on solving this.

[2015-12-26 01:48] #385 closed

[2015-12-26 01:51] #359 closed

[2015-12-26 01:52] timabbott commented on #370
See #375 for some notes on specific performance issues determined by adding 10K+ users to a Zulip development installation and testing things (mostly resolved).

[2015-12-26 01:52] #370 closed

[2015-12-26 06:21] timabbott commented on #379
I've done some work on refactoring the puppet modules in this branch: https://github.com/timabbott/zulip/commits/puppet-refactor
It needs testing but should help a lot with the first two parts of the plan above.

The branch is totally untested and thus probably broken but it should give you a sense of the direction I have in mind.