[2017-08-14 23:43] timabbott commented on #6102
@neomodern this isn't a feature we've implemented yet.  It's definitely something we'll end up adding in the future; I've tagged this as something to consider the next time we're preparing a roadmap.

[2017-08-14 23:50] marboxvel commented on #6100
I'm here talking about ocean apart members. Mobile notification is crucial and so effective in my case.

[2017-08-15 00:02] timabbott opened #6116 "Remove or fix broken "simple" realm in default test data"
The "simple" realm (originally show in /devlogin as "community users") is created in an invalid in several ways; there's no organization administrator, no message history or streams, etc.  The end result is that trying to use it is basically always a bad experience.

@showell @rishig should we remove it or fix?  I think it'd probably be better to fix it to create a new default-configuration empty

[2017-08-15 00:31] rishig commented on #6116
I think making it similar to what a new realm looks like on prod might be pretty reasonable (by e.g. just directly calling the functions in onboarding.py).

[2017-08-15 00:41] timabbott commented on #405
A while back, this got moved to its own file in `zerver/views/zephyr.py` and has a check for whether the feature is enabled on the organization, which is probably good enough for this issue.

[2017-08-15 00:41] #405 closed

[2017-08-15 00:48] timabbott commented on #356
@rht there are a couple Node libraries of basically `zulip/python-zulip-api`.  https://github.com/zulip/zulip-node and https://github.com/zulip/zulip-js are the two options.

But I think using their Python SDK will probably be more pleasant, so I'd vote for option 2 assuming Matrix's own Python implementation is reasonable.  @ara4n what's your advice on this?

[2017-08-15 00:57] timabbott opened #6118 "Exception unpacking values in `messages_in_narrow_backend`"
I just got this exception on chat.zulip.org, which I don't think I've seen before:

[code]

This happened with a user using the webapp on chat.zulip.org today, the bug is actually triggereable by normal use.

@showell FYI; reading the code, it's not obvious to me why we're expecting 5 items in each row in the first place.  Note that this is the code path for receiving a new message while narrowing

[2017-08-15 05:16] rishig opened #6120 "hotkeys: Make hotkeys nilpotent when possible."
Nilpotent just means that if you press the hotkey twice, you get back to your original state. So e.g. pressing `?` once should get you the keyboard shortcuts modal, and then pressing `?` again should close it.

https://chat.zulip.org/#narrow/stream/frontend/topic/nilpotent.20hotkeys.3F has much more discussion.

[2017-08-15 05:22] rishig opened #6121 "hotkeys: Add hotkey to narrow to current compose target."
It would be great to have a hotkey that worked while you were in compose (so would probably need to include a Ctrl or Alt) that
* Narrows to the appropriate PM if composing a PM
* Narrows to the topic if there is a topic and that topic has at least 1 previous message
* Narrows to the stream otherwise

[2017-08-15 05:41] rishig opened #6123 "Improve the bankruptcy experience."
Currently, when you bankrupt yourself, it marks everything as read. This is not a great experience for someone coming back to Zulip after a month away; you bankrupt yourself, and then have this "now what" feeling. I think preferable would be to put your pointer at 2 days ago (or maybe a variable number of days ago, based on the traffic of the realm), so that you have some recent stuff you can read

[2017-08-15 05:46] rishig opened #6124 "right sidebar: Add inactive users to user typeahead."
If someone is gone for three weeks, we remove them from the right sidebar. We should still include them at the bottom of the user search typeahead. (They do show up in the compose box typeahead, already.)

It feels like something is broken when you know someone is part of a realm and you can't find them in the user search bar.

[2017-08-15 12:27] vaidap commented on #1296
Some work on this is being done in #publicity I believe-- is there still a need for this?

[2017-08-15 12:46] vaidap commented on #1192
I'd be interested in cleaning up the variable names in the frontend-- is there anything that has changed/I should keep in mind while doing this?

[2017-08-15 14:27] timabbott commented on #6070
We basically just use the standard Django forms system; their docs should explain it pretty well.

[2017-08-15 14:52] vaidap opened #6126 "Change buttons that are nested in anchor tags"
W3C states that:

What is more, this causes double-focus problems (such as in #4894).

Several files make use of invalid HTML, with a `button` nested inside an `a` tag:
* `account-settings.handlebars`
* `display-settings.handlebars`
* `apps.html`
* `compose.html`
* `hello.html`

I will be using an approach similar to [this](https://github.com/zulip/zulip/pull/5881/commits/6efeac3fc2b00c92ba1be17b8

[2017-08-15 14:53] vaidap commented on #6126
@zulipbot claim

[2017-08-15 15:42] timabbott commented on #5194
Just wanted to note that #5782 was just merged, so we have this feature now, except we haven't adding a cron job to do it automatically.  That issue is #5689.

The other major issue that's still open is refactoring digest email construction to still work correctly for users who have been soft-deactivated.  @adnrs96 we should perhaps start talking about how to do that correctly :)

[2017-08-15 15:43] timabbott commented on #6124
@rishig this is a duplicate of #5775.

[2017-08-15 15:43] #6124 closed

[2017-08-15 15:49] timabbott opened #6127 "Outgoing webhooks shouldn't throw an exception on network errors"
I think we try to suppress these in `do_rest_call`, but the exception list is clearly not complete.

[code]

This is a fairly high-priority issue, since it will result in a lot of error email spam to administrators of servers using outgoing webhooks (at least if their users configure them wrong...).

A secondary issue we should think about after resolving the initial problem is how to send feedbac

[2017-08-15 16:16] derAnfaenger commented on #6127
So far, the bot prints the message

This is only helpful for the administrator, since users cannot check the logs.

[2017-08-15 16:24] timabbott commented on #6127
OK.  When it's a network error, we should probably adjust that message to contain more useful detail instead of the "see the logs" message, e.g. "Couldn't connect to host", etc.

If it's a 500 from the bot, they should have logs on the bot end, and we can suggest that.

[2017-08-15 16:46] timabbott commented on #2564
@umairwaheed to follow up on this: I think the only pieces we don't have a PR for at this point are:
* Extended session backends
* The new `.json()` test client method.

I investigated `.json()`, and it doesn't really feel cleaner in our more complicated tests that parse JSON:
[code]

But I think it would be a significant improvement in e.g. `test_upload.py`, where we have like 15 tests that do th

[2017-08-15 16:48] timabbott commented on #2564
In particular, this is a nice cleanup:

[code]

[2017-08-15 17:45] timabbott commented on #1192
Nothing's changed, but this is probably a bad week for this sort of refactoring; we're getting to the point in 1.7 release preparation where we want to avoid working on low-immediate-value refactors.

[2017-08-15 17:45] timabbott commented on #1296
Yeah @rishig is driving this.

[2017-08-15 18:11] timabbott opened #6132 "Add per-stream settings to control mobile push notifications on the stream for a user"
There's evidence that at least some users in low-traffic organizations want every message sent in certain Zulip streams to trigger a push notification (see #6100, for example). Since this seems like a reasonable configuration to want, I think we should add a setting to control this, alongside the existing per-stream configuration options for desktop and sound notifications.  It should be default-o

[2017-08-15 18:11] timabbott commented on #6100
OK, opened #6132 for that idea.

[2017-08-15 18:11] #6100 closed

[2017-08-15 18:18] showell commented on #6118
The original commit is fe6dc2ef.  I think `by_search()` is supposed to add those.

[2017-08-15 18:18] timabbott commented on #6118
Ahh, so probably what happened here is that it was some case where `messages_is_narrow` was called without the operators including search.  I guess I wasn't aware that was possible.

[2017-08-15 18:20] showell commented on #6118
And then 683f49aa probably broke it.

[2017-08-15 18:21] showell commented on #6118
hrm, maybe the prior commit's fine

[2017-08-15 18:21] showell commented on #6118
(I was worried about 683f49aa adding a sixth column.)

[2017-08-15 18:33] showell commented on #6118
I can try to fix this.  What are the steps for the manual repro?

[2017-08-15 18:38] timabbott commented on #6118
After reading a bit of code, I found this:
[code]

So try searching for `has:link`.

[2017-08-15 19:01] showell commented on #6116
I would be fine to eliminate it for now, and then change the title of this ticket to be "Resurrect the simple realm."

[2017-08-15 20:32] rishig opened #6135 "onboarding: Show a few dozen unread messages on joining."
Currently, at the moment you join, everything is marked as read. I think the best way to hook someone into a zulip realm and to explain threading is to give them 50 unread messages in a bunch of different streams and threads.

The algorithm that determines what should stay unread here can also be used for keeping things unread for #6123.

[2017-08-15 22:18] showell commented on #5369
Just to be clear, we'd try to automate a way to run the create-index-concurrently **before** the main part of the upgrade operation?

[2017-08-15 22:29] timabbott commented on #5369
Yeah, I actually did a bit of prototyping for this, let me find the branch.

[2017-08-15 22:31] timabbott commented on #5369
Check out the `tabbott-upgrade-cleanup` branch.  The code doesn't work at all; there's a mix of correct Python for the check and broken shell-in-a-python-script for actually running the commands.  Could be fixed by extracting a separate shell script under `scripts/lib` or writing a bit smarter Python code.

[2017-08-15 22:31] timabbott commented on #6038
@brockwhittaker can you take this one?  It's a high priority.

[2017-08-15 22:32] timabbott commented on #5936
This was fixed via the effort debugging on #5970.

[2017-08-15 22:32] #5936 closed

[2017-08-15 22:34] timabbott commented on #4861
@HarshitOnGitHub did we end up fixing this issue on your branch?

[2017-08-15 22:38] timabbott commented on #3850
I guess here's a proposal for how to fix this.  We catch `SMTPAuthenticationError` in our exception middleware, and when we get one, replace the useless 500 page with a special page that explains common email configuration issues.  It should include these things:
* The text of the 500 exception (and note that more details are in /var/log/zulip/errors.log).
* A reminder you can test your email conf

[2017-08-15 22:49] timabbott commented on #5935
@brockwhittaker this would be valuable to work on finishing debugging, since jQuery 2.x has security issues that probably don't affect us, but I'd rather just not have it be an issue.

[2017-08-15 22:49] timabbott commented on #5726
@HarshitOnGitHub assigning you so others know you're working on this in #6088

[2017-08-15 22:51] timabbott commented on #1853
Closing this since we deleted the old tutorial to replace it with hotspots.  The same problem exists there, but it has its own issue. #6050

[2017-08-15 22:51] #1853 closed

[2017-08-15 22:54] timabbott commented on #5301
@umairwaheed can you take this one?

[2017-08-15 23:10] hackerkid opened #6138 "Allow organizations admins to set custom background image for sign in/ sign up pages"
Update, 2026-09-04: In addition to needing discussion, we should consider this issue blocked until #37573 is resolved.

- - -

Organization admins should be able to upload a new image and set it as the background image for the sign in/ sign up images. If you are interested in working on this do take a look at this discussion here ->
https://chat.zulip.org/#narrow/stream/design/topic/custom.20backg

[2017-08-16 00:01] rishig commented on #4571
Fixed in a51d8d4251dbd4f1e8173e72cd956df162d6068e. Closing!

[2017-08-16 00:01] #4571 closed

[2017-08-16 00:05] rishig commented on #883
Fixed in be7f6db85442608aebbf6db5f0c165ce19ab3262 or one of the neighboring commits. The tutorial is now replaced by a hotspots system.

[2017-08-16 00:07] rishig commented on #3393
I think this is generally resolved by initial narrow into PM + hotspots system (which will take you to a new members stream if it exists). Closing, since I think no longer useful to keep track of the work here.

[2017-08-16 00:07] #3393 closed

[2017-08-16 00:08] rishig commented on #4321
This is being worked on in #5656.

[2017-08-16 00:17] rishig commented on #3917
Possibly this should just be a configurable initial PM from from org admin (either sent as a PM or sent from welcome-bot)?
[code]

[2017-08-16 00:23] rishig commented on #5714
Sorry for the delayed response, not sure how I missed this one!
This issue is about to become a lot easier, so let's just hold on this for a couple of weeks.

@phansen01 I hope you found chat.zulip.org (I see that you did :)) and that you asked around a bit for another good issue!

[2017-08-16 00:50] timabbott commented on #3608
I think is mostly fixed via #6074.  The one thing that remains is that I think maybe this line in `scripts/lib/install`

    `ln -nsf /home/zulip/deployments/next "$ZULIP_PATH"`

we may want to remove, because that symlink existing means that if a user tries to rerun `scripts/setup/install`, they'll be running it from a symlink path, and the installer will fail.  This is the only place where we ar

[2017-08-16 00:56] timabbott commented on #883
@rishig have you actually tested that the issue is fixed?  Since we haven't changed anything about the prompt, it's not clear to me why this issue would not still be open.

[2017-08-16 01:14] timapril opened #6139 "Time bounded muting of topics"
Writing up a topic discussed here: https://chat.zulip.org/#narrow/stream/frontend/subject/Bounded.20Mutings/near/268207

It might be interesting to mute a topic for a short period of time. For example, If a topic gets really noisy and I want to make it go away for a short time so I can focus, a lot of the time I would like get it back in my view the next day or a couple days later.

Implementation

[2017-08-16 01:23] showell commented on #6139
This is a good issue for the right person to take on.  Before coding, we'll want to nail down some of the UI issues and come up with a plan to do this in an incremental way.

[2017-08-16 01:51] timabbott commented on #3917
I think that's not ideal, in that organizations will want to change these guidelines over time and have users still be able to refer back to them.

[2017-08-16 04:26] timabbott commented on #3865
See #4299 for an implementation we can work off of.

[2017-08-16 04:27] timabbott commented on #6042
@showell this may be a fairly quick bug for you to track down.

[2017-08-16 04:28] timabbott commented on #6002
I'd love to get this tracked down before Zulip 1.7.

[2017-08-16 04:45] timabbott commented on #5623
@rishig I can't reproduce this issue except for the real-time sync case where the user was just deactivated (which is fixed be reloading).  The real-time sync issue is easy to reproduce though.

I suspect that means this is just a trivial real-time sync issue, where we should remove just-deactivated users from all the subscriber lists in the `server_events_dispatch` handle.  @showell would you be

[2017-08-16 04:56] umairwaheed commented on #5301
Yeah. @zulipbot claim.

[2017-08-16 06:32] rishig commented on #883
hm, maybe I didn't understand the issue. We have removed the tutorial and the associated defer logic, so I'm not sure how it could cause this problem?

[2017-08-16 06:35] AnupKumarGupta commented on #5688
@zulipbot abandon

[2017-08-16 06:57] lonerz opened #6142 "@zulip is treated as a UserMention"
`@zulip` as a message is treated as a UserMention, which even capitalizes Zulip.

[2017-08-16 09:33] vaidap commented on #1192
okay, i'll keep this issue in the back-burner for now :)

[2017-08-16 10:48] lamarqua commented on #4120
Has something been committed wrt this issue? The behaviour is now worse: I am under 500 messages and still get the popup, every time I log in. (I don't read the timeline; I read by clicking on streams).

[2017-08-16 12:23] showell opened #6146 "Improve "New topic" experience."
This ticket talks about a couple issues with the "New topic" experience and suggests some solutions all in one ticket to provide context, but we may want to split this out into smaller tickets when we get consensus on the approach.  Also, anybody should feel free to create new issues for a particular subset of this proposal, if you want to elaborate on what you want.

There are a few common proble

[2017-08-16 14:40] TanishaShrotriya commented on #6138
Hello,
I am interested in this issue. I am new to collaboration work though, but I will try my best under some guidance.

[2017-08-16 14:52] timabbott opened #6150 "Narrowing to a group PM thread with no messages looks weird"
This is probably a recent regression, in that I've never seen it before, though I'm not 100% sure, because this isn't a type of narrow one looks at often.

![image](https://user-images.githubusercontent.com/2746074/29369539-b842faa6-8257-11e7-9de1-f82a401be74b.png)

[2017-08-16 15:06] timabbott commented on #6142
Are you seeing this on chat.zulip.org?  I think on that server there's some user who picked their full name as "Zulip".

[2017-08-16 15:12] vaidap commented on #3850
#6047 is the PR for `config_error` i'm currently working on :)

[2017-08-16 15:24] #5216 closed

[2017-08-16 15:34] timapril commented on #6139
One of my co-workers mentioned that a good name for this feature might be "Snooze Topic" or "Snooze Stream"

[2017-08-16 15:55] synicalsyntax commented on #6142
Closed, as the user with the email "bakhtiyor.h@gmail.com" registered under the name "Zulip".

[2017-08-16 15:57] synicalsyntax commented on #6138
Hey @TanishaShrotriya, you can claim this issue by commenting `@zulipbot claim`. Feel free to join the developer community at https://chat.zulip.org so we can help you out :)

[2017-08-16 16:42] TanishaShrotriya commented on #6138
@zulipbot claim.

[2017-08-16 16:43] rishig commented on #4120
@showell I think a user that is checking Zulip every day doesn't want to be asked about bankruptcy at all, even once every N days. For UserPresence, a quick look suggests "max(timestamp) where user_profile=user" should get their latest use across all devices?

@lamarqua: I think the main reason we've been hesitant to give the option of disabling it altogether is that currently the start-up perform

[2017-08-16 16:49] timabbott commented on #4120
Oh, I think I know what changed today.  There's a migration we still need to run.  Disabling it for now.

[2017-08-16 16:54] timabbott commented on #4120
For this issue, I think actually one easy solution would be to just check the last time they read at least one message is at least a week ago or something.  That'd be trivial to do with the UserActivity data we already have.

[2017-08-16 17:00] timabbott opened #6153 "Weird exception related to switch to Python 3"
I got this traceback today, which I hadn't seen before, from the UserActivity queue worker:

[code]

@gnprice this is pretty clearly Python 3 related; can you investigate?

[2017-08-16 17:07] #3651 closed

[2017-08-16 17:22] timabbott commented on #3850
FYI we merged #6047, as 52046d537a0b86134400b87dc3c0f333a1328382, so this should now be pretty doable.  We just need to catch SMTP exceptions in the initial flow (i.e. realm registration) and bounce to the `config_error` page.

[2017-08-16 17:35] lonerz commented on #6142
Wait hold on, before closing. The key part is that I did @zulip without the `**` around zulip. And it still treated it as a UserMention.

[2017-08-16 18:15] sarahcstringer commented on #6132
Sounds great, I can work on this one.

[2017-08-16 18:15] sarahcstringer commented on #6132
@zulipbot claim

[2017-08-16 18:21] #6142 closed

[2017-08-16 18:25] showell commented on #4120
@rishig @timabbott The pitfall of constantly seeing if the last read messages is more than 7 days ago is that a user who reads a message every 5 days never gets the dialog.

We can probably address that my having an explicit way for users to clear their unread counts, but they'll often never use it, so it often won't help our performance problems.

@rishig I don't really understand the objection t

[2017-08-16 18:29] showell commented on #6139
@timapril, thanks for passing on that suggestion!  I renamed the issue to reflect that.

[2017-08-16 18:30] #5020 closed

[2017-08-16 18:31] timabbott commented on #5906
@showell this might be a regression from your reset `top_left_corner.js` work?

[2017-08-16 18:32] timabbott commented on #5906
Actually, that's basically impossible, since the issue is too old.  Still, seems worth fixing.

[2017-08-16 18:32] timabbott commented on #4553
@rishig is this fully resolved?

[2017-08-16 18:36] rishig commented on #4553
yeah. We may want to tweak things later, but done for now. Closing.

[2017-08-16 18:36] #4553 closed

[2017-08-16 18:42] showell commented on #5906
The repro is pretty simple, and it seems fixed now:

    Go to https://chat.zulip.org/#narrow/is/mentioned
    Home will be selected in the upper left corner.

Can you do a quick sanity check that something must have fixed this?  (I don't remember explicitly fixing this, but the prior code was messy.)

[2017-08-16 18:43] showell commented on #5906
pinging @lonerz and/or @timabbott to close this ^^^

[2017-08-16 18:43] timabbott opened #6155 "blueslip: Show an error banner when JS errors are thrown in development"
Right now, it's not super visible when you trigger a JS exception in the Zulip development environment, and  thus it's easy to submit code for merge that throws exceptions all the time.

I think this would probably noticably decrease the rate at which new exceptions get merged.

[2017-08-16 18:45] rishig commented on #4120
hm. My model is that either
* someone is not really paying attention to a realm, and so when they come back after two weeks there is some chance that asking them to bankrupt themselves will cause them to do so
* someone is paying attention to a realm (checking ~every day), but reads some streams very infrequently (once a month or less). In this case there is no chance they will accept a bankruptcy

[2017-08-16 19:04] showell commented on #4569
This is in progress--I'm basically using the same techniques now as Mahim and I used for the "n" key.

[2017-08-16 19:11] showell commented on #5623
This is probably slightly more work than your average real-time-sync fix.  I don't think it's a bug, I think it's that we haven't written any code to iterate through the streams and remove the users and update the widgets.  It's not super hard, but probably a couple hours of work at least.

[2017-08-16 19:19] showell commented on #6042
@roed314 I can't seem to reproduce this on master, but it's possible that I'm just not using the same steps as you.  (We have several ways to edit a topic.)  Can you provide a more detail repro?  Also, do you know what version of Zulip this was on?

[2017-08-16 19:33] showell commented on #4120
@rishig I think we should optimize for your first use case -- user just uses the realm infrequently (or goes on vacation)-- since I think that's the more common case for users who aren't totally disengaged from the product and are simply part-timers.

I guess it's plausible that users fit into your second use case--users want to catch up once a month on busy streams that they don't really care abo

[2017-08-16 19:46] rishig commented on #4120
I think the second case is how some people use email (with certain mailing lists they filter out of their inbox and read only occasionally), and how I used zulip until the `n` key. I'm not sure any sort of bankruptcy would have been acceptable (or useful) to me; threading makes it really easy to catch up on a few thousand messages once a month, so besides the perf issue I never felt having 1000s o

[2017-08-16 19:47] timabbott commented on #5369
Fixed via #6151.

[2017-08-16 19:47] #5369 closed

[2017-08-16 19:55] lonerz commented on #5906
Seems fixed to me.

[2017-08-16 19:55] #5906 closed

[2017-08-16 19:57] abhijeetkaur opened #6157 "tools: ./tools/renumber-migrations to ask only 1 input question from user as the second one can be inferred from the first."
Refer: http://zulip.readthedocs.io/en/latest/schema-migrations.html

On running `./tools/renumber-migrations`
It asks for 2 input questions from the user:
* `Conflicting migrations:
   1.
   2.
   Enter the order in which these migrations should be arranged:` On giving input say, `2 1`
* `Enter the name of last correct migration file:`

The second point above should be implicit from the first ques

[2017-08-16 20:00] showell commented on #4120
Ok, that's reasonable, thanks for the email analogy.

I still think for every Rishi, there are three folks who fall into the first use case.  They got back from vacation, school ended, whatever.  And they're reasonably likely to accept the offer.  So to help them out, we have to annoy 25% of the population--unless we can find a way to distinguish the two use cases--at some interval, or we doom 75%

[2017-08-16 20:02] timabbott commented on #6042
Version would be 1.6.0

[2017-08-16 20:16] gnprice commented on #6153
Looks like this is https://github.com/psycopg/psycopg2/551 -- not actually Unicode- or fundamentally Python 3-related, but probably related to [this change](https://bugs.python.org/issue23571) which went into CPython 3.5.

The bug in psycopg should be fixed in their 2.7.2, so we should upgrade to that.

[2017-08-16 21:05] rishig commented on #4120
I think the current UserPresence (or UserActivityInterval) proposal solves it for both cases, though? I.e. offer bankruptcy if and only if the user has not checked in for a while (say, 7 days)?

Or do you think there are cases where a user would have UserPresence from mobile, but we should still offer bankruptcy when they come back to the webapp?

(and right, I think the main annoyance from the mo

[2017-08-16 21:13] showell commented on #4120
The use case I'm considering is that for scary modals, most people dismiss them the first time, because they're too much in-the-middle-of-something to deal, but they'll eventually accept the modal.

For me the best analogy is how Mac nags me to upgrade.  I know I should upgrade my Mac, but I can't do it when I'm the middle of something else.   But eventually I accept the nag.

Mac basically nags y

[2017-08-16 21:24] rishig commented on #4120
right, and I think the main difference here is that you also agree that you should update your mac at some point, whereas users in case 2 do not believe they should ever accept the modal. Also, accidentally saying "yes" to mac upgrade is a 5 minutes cost. Whereas accidentally saying "yes" to bankruptcy feels like data loss.

[2017-08-16 21:30] showell commented on #4120
The analogy isn't perfect, but the main principles are the same:

* Zulip/Apple recommends unread-cleanup/os-upgrades because they are generally good things to do.
* People perceive both operations as scary/annoying and non-urgent.
* Some users can legitimately want to decline it for all time.

I think we should mostly follow the models of OS upgrades here, and other system nagging protocols, and

[2017-08-16 21:36] showell commented on #4120
Not that this decision should be primarily driven by implementation concerns, but the algorithm here is easy:

1) If user is caught up, don't nag.
2) If next_nag_time is None, then nag.
3) If now() < next_nag_time, don't nag.
4) If user says Yes, fix unreads and clear next_nag_time.
5) If user says No, leave messages along set next_nag_time += 7 days
6) If user say Not Any Time Soon, set next_nag_

[2017-08-16 21:42] rishig commented on #4120
okay, I can see the argument for not granting extensions based on being present / thinking of bankruptcy as an OS upgrade. I'm good with the algorithm proposed :).

[2017-08-16 21:47] showell commented on #4120
Cool!   Going back to the root causes conversation, there might be related low hanging fruit stuff here, like you mentioned the giant blue button.   Also, once the unreads stuff gets settled in--we're pretty close on that--we might be able to tweak the number-of-unreads threshold.  The new index on unreads will alleviate some of the performance concerns, but we also introduced more data in page_pa

[2017-08-16 22:01] roed314 commented on #6042
I clicked on the edit button to the right of the topic at the top of a message; as Tim says it was version 1.6.0.  When I finished editing the title and hit enter, it changed back to the original capitalization.

[2017-08-16 22:47] #4569 closed

[2017-08-16 23:07] showell commented on #6042
Ok, I was able to repro the problem on 1.6.0, and it seems to be working on master, so I am closing this.

Unfortunately, I was not able to easily track down which commit fixed this.  There has been some code cleanup vaguely near this code that might have fixed this.

@roed314 You may wish to join https://chat.zulip.org/.  It's not only a good place to get more immediate support than we sometimes

[2017-08-16 23:07] #6042 closed

[2017-08-16 23:10] roed314 commented on #6042
I'm on chat.zulip.org (David Roe).  Thanks for checking that this has been fixed already!

[2017-08-16 23:23] timabbott opened #6161 "Frontend exception when changing a user's full name after deactivating them"
I saw this exception in production, and through looking at ReadlmAuditLog determined that the user was deactivated, and then their name was changed.  I guess I wasn't totally sure you could change names of deactivated users from our admin UI, but I guess this suggests that is possible.  Possible fixes include making sure we have deactivated user IDs in the realm present on the frontend so we can k

[2017-08-17 00:58] #6153 closed

[2017-08-17 00:58] timabbott commented on #4839
Now that we're only Python 3, I think we should test if this issue still impacts GCE and if so, try to address it.  I think it's possible that just switching to Python 3 is sufficient to solve it.

[2017-08-17 00:59] timabbott commented on #256
Zulip is now Python 3-only!  Huge thanks to @gnprice, @rht, @sharmaeklavya2, and everyone else who contributed to this huge effort :).

[2017-08-17 00:59] #256 closed

[2017-08-17 01:54] timabbott commented on #3189
We migrated to Python 3 by default earlier today, so we can close this :)

[2017-08-17 01:54] #3189 closed

[2017-08-17 01:55] timabbott commented on #2663
We did what I described some time ago, but I think forgot to close this at the time.  Thanks for the report @feorlen!

[2017-08-17 01:55] #2663 closed

[2017-08-17 08:32] showell commented on #5911
I am currently fixing the muted-stream isssue, but adding in PMs is a bigger fix that's still open.

[2017-08-17 12:00] HarshitOnGitHub commented on #6112
We already have `tab` and `shift-tab` hotkeys for switching between emoji list and textbox. Do we really need this?

[2017-08-17 12:14] showell commented on #3850
@timabbott It doesn't appear that `config_error` has a mechanism to pass data to the redirected page.  It seems sensible to have a redirect here (as opposed to just rendering the error page directly from the view function), so then the question is what mechanism we use to pass the data.

[2017-08-17 12:45] HarshitOnGitHub commented on #6161
Currently, it is possible to change the name of a deactivated user due to a bug in progressive list updation that I had reported earlier as issue #5451. Fixing that issue should automatically fix this one.
Steps to reproduce this in dev environment:
1: Login as Iago.
2: Go to 'Users' in organization settings. Search for Zoe.
3: **From the search results** deactivate Zoe.
4: In another browser wind

[2017-08-17 15:21] showell commented on #3850
Actually, the exception messages can be pretty ugly here, so it might be good to just make the redirect page be all boilerplate, including the name of the log to look at.

[2017-08-17 16:51] timabbott commented on #3850
Yeah; I think it'd be pretty easy to tweak the `config_error` framework to have a line or two of text that can be passed in if we felt that useful, but I think mostly we want to have something that tells them to check the log.  The biggest issue here is just folks seeing "Internal server error" and being confused.

[2017-08-17 16:58] timabbott commented on #6161
Cool.  Probably worth fixing that UI code path as well as making it not thrown an exception if one does change such a name (There's a use case for that in editing how historical messages sent by someone are displayed)

[2017-08-17 17:51] rishig commented on #6112
oh interesting, I would not have guessed that `tab` would bring me back.
Is allowing all characters to work a messy feature to add/support??

[2017-08-17 18:01] lonerz commented on #1180
Still working.

[2017-08-17 18:05] timabbott commented on #6112
I think having typing add characters to the text box would definitely be a nice improvement, so if it's not hard @HarshitOnGitHub, we should do it.

[2017-08-17 20:25] HarshitOnGitHub commented on #6110
Does any of these two look good enough?
![screenshot from 2017-08-18 01-42-25](https://user-images.githubusercontent.com/16687990/29432168-315da7fe-83b8-11e7-9a3f-076552ed4612.png)
![screenshot from 2017-08-18 01-44-19](https://user-images.githubusercontent.com/16687990/29432172-34265f26-83b8-11e7-81b0-09efffa01d4b.png)

[2017-08-17 20:26] lonerz commented on #6110
Looks great!

[2017-08-17 20:27] HarshitOnGitHub commented on #6110
@lonerz Which of the two in particular?

[2017-08-17 20:29] lonerz commented on #6110
I think the second looks better.

[2017-08-17 21:29] jacinda commented on #4271
This is something that I would use.  My use case is as follows:
1) Something odd happens that may or may not be a bug but requires investigation.
2) I will let others start the investigation but want to remember to come back to the topic to make sure that it was figured out or see if I need to help further.

There's no specific message that I need to star - I just need to be reminded to revisit th

[2017-08-18 00:57] rishig commented on #6110
I think I like the second one better as well.

Also, I think we should show only one name: either the canonical name, or the name that the user is completing to get that emoji. (E.g. if they are typing 'calend' we should show calendar, if they are typing 'dat' we should show date, and if they are typing nothing we should just show the canonical name).

[2017-08-18 00:59] aktse commented on #6040
I'm still working on this.

[2017-08-18 04:35] umairwaheed commented on #5301
Yeah. @zulipbot claim.

[2017-08-18 05:05] rishig opened #6177 "/apps: Linux machines are redirected to /apps/mac"
To reproduce, go to chat.zulip.org/apps on a linux machine. It redirects to https://zulipchat.com/apps/mac. Tested with Chrome on Ubuntu and Chrome and Firefox on Debian.

[2017-08-18 08:18] snakevenom04 commented on #6111
Hello ! I was hoping to fix this issue.
Changing this code will do the trick wont it ? : emoji_popover_emoji.handlebars

[2017-08-18 08:31] vaidap commented on #6177
I've tried it on Chrome/Firefox/Opera on Windows, and also get redirected to `apps/mac`.

[2017-08-18 08:35] vaidap commented on #5839
Oops, forgot to add that #5893 closes it in the commit body. sorry!

[2017-08-18 08:36] #5839 closed

[2017-08-18 10:10] vbNETonIce commented on #2745
would these changes enable also this scenario:
We realised today that in a company you can also really use the option of an open stream with a closed history. We are about to run the company newsletters through a default stream but had to set it to closed because why would new employees need to browse through ancient newsletter with reminders to not let food go moldy in the fridges :-P ? That's ju

[2017-08-18 13:03] timapril commented on #6139
Here is some writing from twitter on the topic of muting that might provide some other ideas in the area:
https://support.twitter.com/articles/20175032
https://twitter.com/TwitterSafety/status/844956538011709441
https://blog.twitter.com/official/en_us/topics/product/2017/Our-Safety-Work-Results-Update.html

[2017-08-18 14:16] uri opened #6184 "Zulip server crashing daily"
## Summary of issue

- Users are unable to use Zulip
- Restarting rabbitmq fixes the problem
- Problem seems to occur daily now (or every two days)
- Users have to login again (and receive a new login email)
- All users appear offline
- ***New information not present in the chat:*** Seems like our CPU is spiking to 100% when this issue occurs

#### Other info

- Version: 1.6.0
- Hosted on DigitalO

[2017-08-18 14:58] showell opened #6186 "Add web-app filters for has:link, has:attachment, and has:image."
Currently we don't implement client-side filters for has:link, has:attachment, and has:image.

The web app is smart about deferring to the server to find out whether messages match these filters, but it's wasteful and slow for the web app to have to make a web request every time.

If it weren't for local echo, this would be a pretty trivial fix to filter.js to simply check things like `message.has

[2017-08-18 20:23] rishig commented on #6111
cool, and possibly! Feel free to give it a shot :).

[2017-08-18 20:27] rishig opened #6188 "help modal: Red line around center pane on focus."
![image](https://user-images.githubusercontent.com/890911/29476431-d9269dd2-8418-11e7-8934-d8d7f6872d0e.png)

https://chat.zulip.org/#narrow/stream/issues/topic/red.20line.20around.20help has a bunch of information.

[2017-08-18 20:36] HarshitOnGitHub commented on #6111
@rishig I was wondering if we start displaying emoji name in emoji picker(#6110), would we still like to display title? Slack as well as wdt-emoji-bundle(http://ned.im/wdt-emoji-bundle/) don't show title texts. #6110 is WIP and I am expecting it to complete this soon, till then should we leave this as it is?

[2017-08-18 20:47] rishig commented on #6111
Good point, agreed. Let's leave as now, then, and your PR to #6110 can remove the title text and close this issue as well.

[2017-08-18 22:39] derAnfaenger opened #6189 "Annoying whitespace next to bot key."
### Issue

Sometimes, it is necessary or convenient to copy a bot's api key manually, that is, by selecting it and copying it.
There is a whitespace character between the API key and the regenerate button, as seen in this screenshot.
![image](https://user-images.githubusercontent.com/7950151/29480018-c44eedda-8475-11e7-93aa-2bf65b248f76.png)

This whitespace character can cause selections to inadv

[2017-08-18 22:53] hackerkid commented on #6177
@zulipbot claim

[2017-08-18 23:54] phansen01 commented on #6114
In `enqueue_digest_emails.py` the logic is tied to business days (tues/wed/thurs) - when you say 'a week', should that be a function of how many business days have passed, or should the logic just be to check if it's been >= 7 days and it's also business day?

[2017-08-18 23:57] rishig commented on #6114
I think aiming for every Tuesday is reasonable.

Do we keep track of enough information to do this? (e.g. whether we already sent someone a digest in the last few days?)

[2017-08-19 00:04] phansen01 commented on #6114
No, just the number of days a user has been inactive.

[2017-08-19 00:07] phansen01 commented on #6114
Oh another thing I noticed: that file has `VALID_DIGEST_DAYS = (1, 2, 3, 4)` which means emails are actually being sent on tues-fri, not tues-thurs as the comments of `handle` suggest.

[2017-08-19 00:15] rishig commented on #6114
cool. Sending once a week on Tuesday if they've been inactive for the last 5 days seems reasonable.

[2017-08-19 06:18] snakevenom04 commented on #6111
Yeah that makes sense...I wasnt aware of issue 6110. Looks good : )

[2017-08-19 08:47] snakevenom04 commented on #6135
Do we also do this each time someone joins a new stream ?
and maybe we could do past 50 messages or past 24 hr conversations, depending on traffic ?
Also could you please point me towards the code that deals with this. Thanks!

[2017-08-19 09:18] fleytman opened #6191 "Error in connect bot to trello integration"
On https://myserver/integrations/#trello it is written:
[code]
I do as it is written, and get an error
[code]

Video - [zulip.zip](https://github.com/zulip/zulip/files/1236186/zulip.zip)

[2017-08-19 14:14] hackerkid commented on #6177
@rishig @vaidap We were showing Mac by default for everyone. #6192 should fix this issue.

[2017-08-19 14:54] rishig commented on #6177
awesome, thanks!

[2017-08-19 16:48] phansen01 commented on #6114
@zulipbot claim

[2017-08-19 17:43] franziskagoltz commented on #5946
still working on it

[2017-08-19 20:59] derAnfaenger commented on #6191
Hey @fleytman , thanks for reaching out to us! From your video, it seems to me that the part troubling you here is that  the url `https://chat.critical.su/api/v1/external/trello?api_key=abcdefgh&stream=trello` is not to be called in the browser - rather, it will be called by the TrelloBot for sending messages to your Zulip server.

If you read on in the [instructions](https://chat.zulip.org/integr

[2017-08-19 22:46] shubhamdhama commented on #6150
This is also happening when we don't have any private messages and we have narrowed all private messages.

[2017-08-19 22:46] shubhamdhama commented on #6150
@zulipbot claim

[2017-08-20 00:55] fleytman commented on #6191
Hey @derAnfaenger, thanks for the help.

It's work!

[2017-08-20 00:55] #6191 closed

[2017-08-20 18:14] phansen01 commented on #6036
A pretty straightforward way would be to use `itertools.permutations`-- in `load_generators` we could use a random int i from 0 to n! and then choose the i-th permutation to be the one which `itertools.cycle` is applied to.

[2017-08-21 05:11] #6177 closed

[2017-08-21 11:33] MartinThoma commented on #128
See https://stackoverflow.com/a/13754517/562769

[2017-08-21 19:25] hackerkid commented on #1125
@zulipbot claim

[2017-08-21 19:34] hackerkid commented on #1995
@rishig This conflicts with our welcome PM with Bot right?

[2017-08-21 19:50] hackerkid commented on #2185
@timabbott What are your thoughts on generating a temporary QR code in browser that can be scanned by the mobile APP to sign to that account? WhatsApp uses a similar technique for granting access to a web browser.

[2017-08-21 19:55] hackerkid commented on #2305
This issue is under progress in #4083

[2017-08-21 20:15] rishig commented on #1995
yeah, this should take precedent, though. I.e. if no narrow is specified, it should go to welcome bot, otherwise it should go directly to the narrow.

[2017-08-21 22:01] hackerkid commented on #3400
Fixed in https://github.com/zulip/zulip/commit/d431d50da0c24aea310aaef90efd96c38b2db2a4

[2017-08-21 22:01] #3400 closed

[2017-08-21 22:06] timabbott commented on #128
Given that this does seem to confuse people with some frequency, I think it's probably worth looking at modifying modifying our code for creating virtualenvs to filter out those (spurious) lines.  Reopening this.

[2017-08-21 22:07] timabbott commented on #128
Might also be worth looking into whether `pip` has a flag to suppress these.

[2017-08-21 22:08] timabbott commented on #3400
Hmm, @rht, I guess we'll end up removing httpretty in your work on requirements.txt?

[2017-08-21 22:21] timabbott commented on #6036
I think the issue here is that we're caching a fixed set of messages to pick from, theoretically for performance reasons, but given the actual speed, I think we might want to just have the default mode not use that cache by default (I think only if we're making ~1M messages do we want the cache).

[2017-08-21 22:40] #3850 closed

[2017-08-21 22:43] timabbott commented on #6186
Yeah, I think we could actually implement completely correct client-side tests for these.  We might still want the backend code to make life easier for less sophisticated clients like mobile/terminal apps, though.

[2017-08-22 01:59] lgh2 commented on #1125
I submitted a PR, and I think this was rendered moot by a Django upgrade.

[2017-08-22 03:50] synicalsyntax commented on #1125
There are some remaining instances of `optparse`, so I don't think this issue can be closed yet:
[code]

[2017-08-22 12:28] vaidap commented on #1649
@zulipbot claim

[2017-08-22 15:31] phansen01 commented on #6036
Sure, would we be substituting the cached messages for just random strings? random strings with randomized flair?

[2017-08-22 17:15] timabbott commented on #128
It looks like such an option is coming soon: https://github.com/pypa/pip/issues/4507

[2017-08-22 17:19] timabbott opened #6211 "Remove unnecessary pathlib2 dependency"
We have pathlib2 and scandir as dependencies just because of the code here to construct a `file://` URL:

`/tools/documentation_crawler/documentation_crawler/spiders/check_documentation.py`

(That's run as part of `tools/test-documentation`).  We should use some simpler mechanism in Python to do this and remove the unnecessary dependencies.

[2017-08-22 17:19] timabbott commented on #6211
@rht FYI, this might be a good follow-up to your recent work.

[2017-08-22 17:36] timabbott commented on #6211
One particular advantage of fixing this is that `pathlib2` only depends on `scandir` for Python < 3.5.  Which means depending which Python version you run `update-locked-requirements` with, it may or may not be included as a listed dependency.  Since we support 3.4 and 3.5, we can defer dealing with the somewhat ugly work on having separate lock files for different Python versions if we just remov

[2017-08-22 18:20] timabbott commented on #1125
Right, we finished migrating the management commands (though a couple have grown back, I think?) but not our internal tools.

[2017-08-22 18:24] #5301 closed

[2017-08-22 18:37] timabbott commented on #6184
It sounds like RabbitMQ is crashing, perhaps due to OOM kills (aka the server is running out of memory).  Can you check `/var/log/syslog` to see if the system is having OOM kills invoked?

[2017-08-22 18:44] timabbott commented on #4183
Closing this as a duplicate of #6139.

[2017-08-22 18:44] #4183 closed

[2017-08-22 18:44] timabbott commented on #6139
@timapril those are probably more relevant to #168.

[2017-08-22 18:54] timabbott opened #6213 "Stop catching things like KeyError in most integrations"
Historically, a number of our older incoming webhook integrations have caught KeyError/ValueError/etc. in order to avoid throwing a 500 when receiving an unexpected request.  However, our new strategy is to throw the 500 and automatically log the request to `/var/log/zulip/webhook_errors.log`, so that we can fix the exceptions.  We should probably go through our older webhook integrations and elim

[2017-08-22 19:15] HarshitOnGitHub opened #6215 "stream_settings: Unable to scroll stream membership list using mouse wheel."
![anim](https://user-images.githubusercontent.com/16687990/29583083-8cb22944-879c-11e7-9a37-7869a223ad4b.gif)

On getting to the stream settings page, I am unable to scroll the stream membership list on stream settings page using mouse wheel. I definitely remember that I was able to do this some time earlier so this seems to be a recent regression to me.

[2017-08-22 20:28] HarshitOnGitHub opened #6217 "check-py3: Remove check-py3 test script."
Now that we have completely switched to python 3 we no longer to check for python 2 and python 3 compatibility issues and hence `check-py3` script can be removed.
@timabbott Any notes on what else should be done apart from removing the script?

[2017-08-22 21:08] timabbott commented on #5935
We did this in 09be694ea3bca5fba835f52e8a699972254a1cbb and 52588cb2b67bc64ddf9bf23d2390b80968870d87.  Thanks @brockwhittaker for investigating!

[2017-08-22 21:08] #5935 closed

[2017-08-22 21:08] timabbott commented on #6215
@brockwhittaker @vaidap can you investigate?

[2017-08-22 21:09] timabbott commented on #6215
This works fine for me on Linux.  What platform are you on @HarshitOnGitHub?

[2017-08-22 21:19] timabbott commented on #6217
This should be really quick for me; I'll take care of it.

[2017-08-22 21:29] lonerz opened #6219 "Escape characters (in green message) while toggling "Email Digests" in Notification settings"
1. Go to [notification settings](https://chat.zulip.org/#settings/notifications).
2. Toggle the "Email Digest" setting (should be the last one).
3. Look at the green message and notice that there are escape characters.

![escape](https://chat.zulip.org/user_uploads/2/c2/bbbbmMcgDpZt0tTRgyvmAbiX/escapes.png)

[2017-08-22 21:31] timabbott commented on #6110
I agree with the consensus here on how this should look :)

[2017-08-22 21:35] brockwhittaker commented on #6215
This was broken when the perfectScrollbar was added to the subs overlay in `8ae263b`.

[2017-08-22 21:36] timabbott commented on #6219
@rishig while we could debug the encoding issue here, I think we want to change this label to something not using "I'm" anyway; want to propose a replacement?  Maybe we want it to be just "Weekly digest emails while away" and also make the emails weekly?

[2017-08-22 21:38] showell commented on #3786
We decided on chat to allow admins to delete private streams on their realm.  The admins still won't be able to see the subscribers to private streams (unless they are subscribed themselves).

[2017-08-22 21:40] timabbott commented on #6215
OK, I guess it's a Mac-only issue.  @brockwhittaker I assume you'll debug.

[2017-08-22 21:52] aktse commented on #6040
@rishig Is this a duplicate of #1737 ?

[2017-08-22 21:59] #6217 closed

[2017-08-22 22:09] #6114 closed

[2017-08-22 22:34] lonerz commented on #6040
@aktse that PR seems to be related.

[2017-08-22 22:43] brockwhittaker commented on #6215
The actual issue appears to be that when a scrolling container is inside of a perfectScrollbar container, it won't work. I'll investigate ways to try to fix this.

[2017-08-22 22:45] rishig commented on #6219
Is this just a matter of using `'` instead of the unicode quote?

I could see "Digest emails while away", but I like "Digest emails while I'm away" a bit better, I think. I think we don't want to commit to weekly just yet.

[2017-08-22 22:59] adnrs96 opened #6221 "Markdown syntax for creating links allows sending blank messages."
Using markdown to create links in Zulip has a way to send blank messages that break the UI a bit.
Repro:
* Compose new message.
* Put `[](foobar)` in the message.
* Send the message.
Result:
Message is sent and looks bad in UI.
Expected:
We should be at least be performing some kind of conditional testing for having empty link titles. So that a link without something visible doesn't go it.

[2017-08-22 23:17] rishig commented on #6110
One minor edit to what I said above: for the reactions picker, we should allow you to type in anything, but at the bottom we should show only the canonical name, since that is what your reaction will be.

For the compose picker, I think what I said still makes sense :).

[2017-08-22 23:34] timabbott commented on #6221
Yeah, I think the bug here is that we don't reject blank link titles.  Might be an upstream `python-markdown` bug or might be in our code.

[2017-08-23 00:38] timabbott commented on #6036
Yeah, I was thinking we just use an iterator against `zerver/lib/generate_test_data.py` with random flair, rather than using the cache.  Might make sense to lave the current behavior available under an option; I can imagine it being useful for certain debugging tasks.

[2017-08-23 00:44] timabbott commented on #6188
@brockwhittaker this is probably a good task for you :)

[2017-08-23 02:27] timabbott commented on #6189
@brockwhittaker do you have any ideas?

[2017-08-23 02:45] #5946 closed

[2017-08-23 03:39] rht commented on #4724
If @smarx reads this, I've got a comment: the bot definitely has seen whether the CLA has been signed or not, yet decides to put itself in the perspective/position of the contributor by saying "it looks like" instead of reporting what has been seen.

[2017-08-23 04:51] timabbott opened #6224 "Stop threading PM threads with multiple groups of users in a single email"
Occasionally, a missed_message email will have emails from multiple different PM senders with you as the recipient mixed together in a single email.  This is a confusing user experience that might make users worry about security issues.

I think the bug is that `handle_missedmessage_emails` groups messages by `(recipient_id, topic)` pairs, but PMs directly to you actually all have your user ID as

[2017-08-23 05:27] timabbott opened #6225 "500s if you deactivate your "announcement" stream"
I got a report from a user who was having a hard time creating new users in Zulip because they had deactivated the announcement stream that would receive new-user-signup messages sent by `send_signup_message`.  The problem is that we don't check whether the stream has been deactivated; we just check that it isn't None.

We have the same problem in `add_subscriptions_backend`.

[2017-08-23 05:32] timabbott commented on #6219
No, it's a boring `'` character.  I think it's something more significantly broken.

Actually, @umairwaheed do you have any theories for what's going on with the i18next translation for this string?  I would think `I'm` would be a fine string to have be translated...

[2017-08-23 05:34] timabbott commented on #6219
Oh, I think it's something different going on.  The code in question is this:
[code]

Note how `setting_name` is set, by extracting data from the DOM.  I think the problem is that `'` is being escaped in the HTML template and then double-ecscaped the second time, so we're getting the escape-text for an `'` in HTML here.  @sarahcstringer FYI since I think this is your code :)

[2017-08-23 05:36] timabbott commented on #2185
We used QR codes in Dropbox to do that sort of mobile/web handoff as well.  It's kinda a pain but of course totally doable.  I would probably scope this issue as just (1) for now.

[2017-08-23 06:39] timabbott commented on #4724
I think @smarx is no longer at Dropbox, and their CLA bot seems to be down.  I think it may be time to replace with our own CLA.

[2017-08-23 06:42] umairwaheed commented on #6219
The problem seems to be related to i18n.

[2017-08-23 07:24] #6219 closed

[2017-08-23 07:55] timabbott commented on #883
I guess it depends on the underyling bug, I guess having read through the description again, it seems like this is likely resolved.

Nonetheless, I think we still should prioritize moving the ugly browser notifications prompt behind a pretty in-Zulip notice that asks you accept notifications.  I think a lot of people refuse desktop notifications at first because they think it'll be spammy, when it

[2017-08-23 07:55] #883 closed

[2017-08-23 07:57] timabbott commented on #6100
@marboxvel you're in luck; this is already a ways towards being implemented, and seems likely to make the Zulip 1.7 release :)

[2017-08-23 07:59] timabbott commented on #6090
Yeah, I agree.  I'm reasonably happy with our new implementation.

[2017-08-23 08:08] #6118 closed

[2017-08-23 08:23] timabbott commented on #6157
@abhijeetkaur if you have time, it'd be great if you could take a look at this.

[2017-08-23 09:46] rht commented on #6068
[wal-g](https://www.citusdata.com/blog/2017/08/18/introducing-wal-g-faster-restores-for-postgres/)?

[2017-08-23 14:16] HarshitOnGitHub commented on #6215
@brockwhittaker Yeah that exactly describes the issue.
@timabbott The issue is reproducible for me on chrome Version 60.0.3112.101 (Official Build) (64-bit) as well as firefox 55.0.2 on ubuntu.

[2017-08-23 14:29] HarshitOnGitHub commented on #4861
@timabbott I am using Ubuntu, hence can't tell whether it has been fixed in #3923.

[2017-08-23 14:59] vaidap opened #6233 "Title attribute is not accessible."
Grepping for `title=`, it is often used to provide extra information via a tooltip.

Looking at these sources:
http://a11yproject.com/posts/title-attributes/

https://www.paciellogroup.com/blog/2010/11/using-the-html-title-attribute/

Mobile phone users.
Keyboard only users.
Screen magnifier users.
Screen reader users.
Users with fine motor skill impairments.
Users with cognitive impairments

http

[2017-08-23 15:23] vaidap opened #6234 "Icons that are used for actions are not focusable/accessible."
I was wondering about the accessibility of icons such `<i class="icon-vector-smile reaction_button" title="Add emoji reaction"></i>` in the `message_controls` div, and `<a class="message-control-button icon-vector-paper-clip" id="attach_files" href="#" title="Attach files"></a>` in the compose box.

* They're not part of the tabIndex flow so are not focusable when using the keyboard to navigate--

[2017-08-23 15:29] vaidap opened #6235 "Improve tab navigation in main UI."
Related to #5024 -- currently, `Tab` and `Shift+Tab`bing through the UI sometimes focuses the user on unexpected/not visible areas, and certain elements are not accessible in the tab flow (#6234).

It would be good to figure out what the desired navigation order/priorities are.

[2017-08-23 15:29] vaidap commented on #6235
@zulipbot label "accessibility"

[2017-08-23 15:30] vaidap commented on #6234
@zulipbot label "accessibility"

[2017-08-23 15:30] vaidap commented on #6233
@zulipbot label "accessibility"

[2017-08-23 15:37] abhijeetkaur commented on #6157
@timabbott Sure!
@zulipbot claim

[2017-08-23 15:38] abhijeetkaur commented on #6157
@zulipbot claim

[2017-08-23 16:36] timabbott opened #6236 "Maybe switch from talon to using claw"
I learned in https://github.com/mailgun/talon/issues/130#issuecomment-324375195 that there's a fork of talon, called claw, that has the non-ML features of Talon like extracting quotations:

https://github.com/tictail/claw

@umairwaheed can you look into whether we can easily switch to their latest release?  This would let us get rid of one of our repos we're installing from a GitHub fork.

[2017-08-23 17:00] #6211 closed

[2017-08-23 17:44] zulipbot-test commented on #6233
Hello @zulip/server-misc members, this issue was labeled with the **area: accessibility** label, so you may want to check it out!

[2017-08-23 17:44] zulipbot-test commented on #6234
Hello @zulip/server-misc members, this issue was labeled with the **area: accessibility** label, so you may want to check it out!

[2017-08-23 17:44] zulipbot-test commented on #6235
Hello @zulip/server-misc members, this issue was labeled with the **area: accessibility** label, so you may want to check it out!

[2017-08-23 18:05] #6188 closed

[2017-08-23 18:17] hackerkid commented on #6225
@zulipbot claim

[2017-08-23 18:56] Shayan-To opened #6241 "@-mention pink background overlaps with the left border"
I think the title is comprehensive.

![image](https://user-images.githubusercontent.com/12458563/29633091-5e8b9776-885a-11e7-974b-71c71029b5a7.png)

[2017-08-23 19:14] Shayan-To opened #6243 "Add an option for disabling mark-as-read at the end of view when at keyboard"
When reading the unread messages one-by-one, and reach the bottom, some few messages are marked as read without being selected.

That behavior has to be there, as if you don't mark the last few things in view at the bottom as read, it's quite annoying to catch up on messages and mark them as read via the mouse.

But I don't like this behavior when using keyboard to move around. I want to mark all

[2017-08-23 19:22] timabbott opened #6244 "Return anchor in get_messages when use_first_unread_anchor=True"
If you call the `get_messages` API with the `use_first_unread_anchor` argument, the server ends up picking the anchor (center) of the batch of messages for you.  Here's the logic:

[code]

It'd be nice to actually have the server report what anchor it used (rather than needing to compute it on the client side), since that's going to be important for the client.

I think mostly this involves puttin

[2017-08-23 19:27] timabbott commented on #6002
Fix merged, thanks for the report @gnprice!

[2017-08-23 19:27] #6002 closed

[2017-08-23 20:44] #1649 closed

[2017-08-23 21:24] rishig opened #6247 "portico: Remove login/registration info when realm is deactivated."
If a realm is deactivated, its `/login` and `/register` endpoints should redirect to a new endpoint `/deactivated`, which should just show a static page with "This realm has been deactivated" inside a white box. The page should look similar to the current register and login pages, just with the stuff inside the white box replaced with that text.

For now, it's sufficient to do this for the case wh

[2017-08-23 21:26] adnrs96 opened #6248 "Edited messages sometimes get stuck as being marked unread."
Consider two human users of Zulip. They can be in an PM or a public stream doesn't matter.
Suppose Bob is messaging Alice. Bob sent two messages two Alice and realised that he need to edit the first message. Bob edits the message and clicks save at the same time when Alice tries to view message. This results in the edited message getting frozen as unread with a green highlight.
Here is a screensho

[2017-08-23 21:27] adnrs96 commented on #6248
@showell can you please take a look at this one. It will be interesting to debug this.

[2017-08-23 21:32] rishig commented on #6040
Unless I'm reading it wrong, it does seem to be the exact same issue, except that that one is closed. This time it is resolved let's add a test so that it doesn't regress :).

[2017-08-23 21:37] timabbott commented on #6040
@rishig I think the fix for the previous issue may have just removed desktop notifications.  Is this issue about something else (e.g. email notifications, etc.)?

[2017-08-23 21:41] rishig commented on #6040
ah, makes sense. I think this issue is for showing up in your Mentions view. (or possibly push notifications, or possibly email notifications .. this issue was opened from user feedback.)

In any case, I think it makes sense to suppress email and mobile notifications for sure if they are not already being suppressed, and also to not have these messages show up in your "Mentions" view.

[2017-08-23 21:52] HarshitOnGitHub opened #6250 "emoji_picker: Add ability to search using emoji aliases."
In earlier emoji picker we had multiple copies of the same emoji with different names due to which searching for emoji names such as `:+1:`, `:thumbs_up:` etc produced relevant results but in new emoji picker we have only one copy of each emoji due to which searching for `:+1:` produces no result. This issue aims at making emojis searchable using multiple names.

@zulipbot label "area: emoji" "enh

[2017-08-23 21:58] adnrs96 commented on #6224
@zulipbot claim

[2017-08-23 22:01] timabbott opened #6251 "Make zulip-puppet-apply more compatible with an existing puppet agent"
Many sysadmins run `puppet` on all of their servers to sync common configuration, often using a puppet agent.  Apparently, the way we invoke puppet in `scripts/zulip-puppet-apply` will throw this sort of exception if a puppet agent is running on the server:

[code]

I feel like there's a good chance this is a puppet bug, since we explicitly invoke puppet with our own specified configuration file o

[2017-08-23 22:16] timabbott commented on #6247
@umairwaheed do you have time for this one in the next couple days?  I think it should be pretty straightforward.

[2017-08-23 22:18] timabbott commented on #4861
OK, let's just close this for now.  We can address it again when we merge #3923 if it's there; it's pretty obvious :)

[2017-08-23 22:18] #4861 closed

[2017-08-23 22:24] timabbott commented on #6068
Cool.  I think probably we should do the smaller project of just upgrading to the latest wal-e for now; I think there's a risk that `wal-g` doesn't end up being maintained well past the summer, and we'll be able to find that out in a few months :)

[2017-08-23 22:32] #6189 closed

[2017-08-23 23:40] showell commented on #6248
I might not to have time to look at this for several days.

[2017-08-24 00:14] timabbott commented on #5945
Fixed via #5977.  @rishig can you be sure to post on #design about this to make sure we get feedback soon?

[2017-08-24 00:14] #5945 closed

[2017-08-24 00:49] timabbott opened #6252 "Change muted_topics data model to be based on stream IDs, not stream names"
The current data model for muted_topics is problematic, in that it stores the stream name, not the stream ID.  This means it stops working if a stream gets renamed (in addition to other problems).

I think we can fix this by just:
(1) Refactoring the backend code to store the `muted_topics` data structure using stream IDs.  I'd try to avoid changing the API at first to contain complexity, but we'l

[2017-08-24 00:55] #6225 closed

[2017-08-24 01:07] timabbott commented on #6248
My guess is that the bug here is a purely frontend rendering issue; i.e. the message is actually marked as read in the database, just the flags are set wrong.

[2017-08-24 01:13] timabbott commented on #6135
Nope, just when users are created.  `add_new_user_history` is the function that does it.

[2017-08-24 01:16] timabbott commented on #2745
I don't see that open stream with closed history as a compelling use case, and I do see some incentive problems with it (means you want to subscribe to everything with a bot that logs things so you can get the history).

[2017-08-24 01:16] showell opened #6254 "Clean up unread counts stuff for 1.7 or 1.7.1"
This issue is mostly for @timabbott or me to complete, but if it attracts your attention, talk to us on chat.

Unread tasks to complete:

- [x] turn fix_unread command into an automatic migration
- [ ] when users unsubscribe from streams, mark all messages read
- [x] optimize how we report the count of unread messages for muted streams and topics
- [ ] Before we can turn on server-unreads, fix web

[2017-08-24 01:19] timabbott commented on #6254
One thought: We could potentially run `fix_unreads` as a management command at the same time we're running the other disruptive migrations to add indexes, rather than having it be a migration.  The downtime would still be nothing that way, and then we don't need to modify the code.

[2017-08-24 01:24] showell commented on #6254
I probably need to articulate this better on chat, but I think we may have the same idea here.  I think there are certain types of migrations that we should just run as management commands, and we just need to make sure they're idempotent and durable across updates.   And then there's the secondary issue of possibly having a meta-management command or a more library-driven strategy for management

[2017-08-24 01:27] showell commented on #6254
Also, see #6253 for a cop-out solution to bankruptcy--just fix the messaging.

[2017-08-24 03:11] adnrs96 commented on #6248
I will try investigating that today.

[2017-08-24 07:29] umairwaheed commented on #6247
Yeah. @zulipbot claim.

[2017-08-24 07:45] lonerz commented on #6040
The messages shouldn't show up in your "Mentions" view **and** in your home view.

[2017-08-24 08:15] umairwaheed commented on #6236
Yeah. @zulipbot claim.

[2017-08-24 19:19] timabbott opened #6265 "Whitespace is off around OR on registration page"
![image](https://user-images.githubusercontent.com/2746074/29684341-798d94d6-88c6-11e7-93cb-33bb72a15f2e.png)

[2017-08-24 19:31] timabbott commented on #6265
This responsive state is also a bit broken.

![image](https://user-images.githubusercontent.com/2746074/29684794-1b3d0518-88c8-11e7-8bc5-464e5f8d8b46.png)

[2017-08-24 19:32] phansen01 opened #6266 "Refactor and unit test digest email management."
Opening this up based on discussion in #6193

@timabbott I was thinking of just wrapping the body of `handle` from `enqueue_digest_emails` into a function in `digest` and then unit testing that.

Should the helper functions be moved over to `digest` as well? I'm not sure if `digest` should 'own' those since they are the business logic for enqueueing.

[2017-08-24 20:38] #6038 closed

[2017-08-24 21:57] hollywoodno commented on #5900
@zulipbot claim. I will like to work on this if no one else is currently working on it and it's low priority. My plan is to first take some time and look at how logging is currently done.

[2017-08-24 22:06] rishig commented on #5900
Great, thanks @hollywoodno!

[2017-08-24 22:31] timabbott commented on #5900
@hollywoodno awesome!  If you grep for `logger` in our codebase, you can see how we do logging to custom files already.  There's a pretty standard block of code to declare a logger.

@adnrs96 added one recently and so can probably help advice on this. (Actually, @adnrs96, maybe now's a good time to move of our "make a logger" code into a library function?)

[2017-08-24 23:36] timabbott commented on #6266
Yeah, I'd move the helper functions too.  Since this is a somewhat sensitive tool without great tests (yet!), please do the code migration in a disciplined fashion: One commit moving one function, without any changes other than moving the code, and then the next.  And then make sure you test all the imports work right after each commit, since it's easy to mess that up.

I'm excited you're working

[2017-08-25 01:26] timabbott opened #6271 "Weird scrollbar after filtering user settings to 0 items"
![image](https://user-images.githubusercontent.com/2746074/29695783-b146fd44-88f9-11e7-9033-eed8f7e5d56b.png)

[2017-08-25 02:27] adnrs96 commented on #5900
yup, its a good idea @timabbott
I am going to work on moving that block to a library function now.

[2017-08-25 02:58] #6224 closed

[2017-08-25 03:06] timabbott opened #6273 "Debug flaky test failures with "mentions" data in unread_msgs data structure"
See https://travis-ci.org/zulip/zulip/jobs/268203335 for an example.

@showell is probably best positioned to debug this.

[2017-08-25 06:38] #6241 closed

[2017-08-25 06:59] timabbott commented on #5317
Fixed!  Sorry for the delay @vbNETonIce!

[2017-08-25 07:00] #5317 closed

[2017-08-25 07:08] timabbott commented on #6040
OK, so there's a few pieces to this:
* Emails and push notifications.  For that, we should be able to write a fairly straightforward piece of code to check if the message was muted in the code path that triggers those (presumably both stream and topic muting are relevant).
* The narrow.  For this, the best thing to do structurally is pretty challenging.  We need to change this section of `by_is`:

[2017-08-25 07:17] #6247 closed

[2017-08-25 10:00] snakevenom04 commented on #6135
I went through actions.py and a couple more codes.....I get what I have to do.
But I have a small doubt, events.flag (event is a dict, flag is the field under event type update_message_flags) takes only "starred" and "read" as inputs (acc to server_events_dispatch.js) so how do you set an "unread" flag ? Sorry but I am new to your documentations. Any clarification would be appreciated. Thanks!

[2017-08-25 15:53] adnrs96 commented on #5900
Created #6278 for moving logger piece of code to a lib function.

[2017-08-25 17:40] akaptur opened #6279 "Standard emoji set is several years out of date"
In the early days of Zulip, it included all the standard emojis by default. As far as I can tell, the standard set of zulip emojis is now several years out of date from standard emojis on other platforms. I would love to see the emojis refreshed so I can express complex emotions like 🥑 , 🛶 , 🥃 , 🥇 , etc.

[2017-08-25 17:48] timabbott commented on #6279
@akaptur thanks for the report!  This is actually already in progress.  It turns out that emoji is one of the most complicated technical systems around.

We actually now have the images in place for this, it's just the data that needs to be updated.

@HarshitOnGitHub I think this is caused by the fact that `emoji-map.json` doesn't have newer emojis, and we haven't flipped to the newer data set yet

[2017-08-25 18:38] marboxvel commented on #6100
@timabbott Thanks a lot, I really appreciate the great work you guys are doing with Zulip. I'm happy to hear that this feature will make it in the next release.
Concerning the "mobile push notifications (default: off)" suggestion, is it possible to implement a setting to enable/disable the notification globally for all streams? As you know creating streams can be done on the fly, the suggestion th

[2017-08-25 19:10] timabbott commented on #6100
Yeah, it'll have the same global control setting we have for the other stream-level notification settings.

Re: 1.7, no promises, but roughly in a week.

[2017-08-25 19:36] timabbott commented on #6184
This turned out to be a memory leak due to some buggy supervisord configuration.  Fixing now.  Huge thanks for the help debugging this @uri!

[2017-08-25 19:37] marboxvel commented on #6100
@timabbott perfect! Thanks a lot again for the hard work.

[2017-08-25 19:45] #6184 closed

[2017-08-26 17:33] HarshitOnGitHub opened #6286 "emoji_picker: Fix two different titles of an emoji in emoji picker."
![anim](https://user-images.githubusercontent.com/16687990/29743557-9ae2516a-8ab2-11e7-81de-31845ed27d87.gif)

@zulipbot claim

[2017-08-26 17:33] phansen01 commented on #6266
Okay, I've got everything moved over and manually tested. No problems so far.

Right now I have the `handle` method of `enqueue_digest_emails` wrapped in a function taking `None` (and returning `None`).

given this:

[code]

Do you think it makes more sense to:

* mock `timezone_now()` in tests to verify behavior in different scenarios

or

* change `enqueue_emails` to take a `cutoff` that we can

[2017-08-26 21:15] timabbott commented on #5758
This turned out to be a bad exception from the library, which we've replaced in #6190.

[2017-08-26 21:15] #5758 closed

[2017-08-26 21:26] timabbott commented on #6266
I think changing `enqueue_emails` to take a cutoff is probably going to result in cleaner test code, so might as well do that.

For last activity, I think you can just do a `UserActivity.objects.create()` to generate some entries.

Can you submit a PR for moving the code around?  Might as well merge that while you get started on next steps.

[2017-08-27 02:05] lonerz opened #6288 ""more topics" for private messages"
A feature that gives a list of all of our previous private messages, when you narrow to `is:private` would be nice!

[link to chat](https://chat.zulip.org/#narrow/stream/general/topic/Get.20previous.20private.20chats)

[2017-08-27 15:47] lonerz commented on #4513
Still working.

[2017-08-27 15:47] lonerz commented on #1180
Still working.

[2017-08-27 16:35] #1099 closed

[2017-08-27 16:48] #2115 closed

[2017-08-27 17:50] phansen01 opened #6290 "Missing mypy annotation in models.py causing build failure"
Looks like [this commit](https://github.com/zulip/zulip/commit/f1648af607b324497859e0e58d4f83851d423343) is breaking things.

Specifically:
[this line](https://github.com/zulip/zulip/blob/f1648af607b324497859e0e58d4f83851d423343/zerver/models.py#L1290)

[code]

[2017-08-27 18:26] timabbott commented on #6290
Oops!  Fixing shortly.  I feel like my editor must have some something strange here.  Thanks for the report!

[2017-08-27 18:27] #6290 closed

[2017-08-27 18:41] timabbott commented on #3854
I believe the backend agenda for this is basically complete; is there anything left that you can think of @sarahcstringer?

#5697 and a few other details remain for the frontend.

[2017-08-27 18:51] timabbott commented on #3854
It might make sense to close this issue and open a new 1-2 for the remaining actual tasks.

[2017-08-27 19:01] timabbott commented on #6157
I got annoyed by this and just fixed it, since it's just a couple lines of changes.  Thanks @abhijeetkaur!

[2017-08-27 19:02] #6157 closed

[2017-08-27 19:30] timabbott opened #6291 "Make emoji picker pop as a modal in mobile screens"
Currently, we have a nice setup for hotspots, where we pop the modals to `viewport_center` (aka the center of the view) and they look nice on mobile screens.

I think that strategy would be a really good idea for the emoji picker as well, since then we don't need to deal with things ending up off-screen.  See #6277 for some backstory.

@HarshitOnGitHub let me know if you need any help understandin

[2017-08-27 19:32] timabbott commented on #6291
I just realized this is a bit more important than I'd thought, since here's what happens on mobile when you try to open the compose emoji picker:

![image](https://user-images.githubusercontent.com/2746074/29753313-b342f0fe-8b23-11e7-8645-2078c0c9b515.png)

[2017-08-27 20:10] #6266 closed

[2017-08-27 20:22] hackerkid commented on #2955
@zulipbot claim.

[2017-08-27 21:42] jackrzhang commented on #6291
Yep - I think [this comment](https://github.com/zulip/zulip/issues/3295#issuecomment-320806819) provides some additional context. I believe @brockwhittaker has the work that needs to be done here claimed.

[2017-08-27 21:43] jackrzhang commented on #6070
@zulipbot abandon

[2017-08-27 23:03] timabbott commented on #1545
Fixed via #6170.

[2017-08-27 23:03] #1545 closed

[2017-08-27 23:42] timabbott commented on #4322
Fixing this would also let us revert e68de7ac8d011af0bec6ca2765027f198173f68a.

[2017-08-28 00:21] #5229 closed

[2017-08-28 00:36] #6286 closed

[2017-08-28 01:43] timabbott commented on #6070
@umairwaheed can you look into this one?  Ideally soon, since I think it should be reasonably simple; if you need help with the JS/CSS once you've figured out what's going on, @brockwhittaker can do that.

[2017-08-28 01:44] timabbott commented on #6135
"unread" is the same as as the "read" flag not being set.

[2017-08-28 02:18] timabbott commented on #3786
Reopening this because while #6220 fixed the deletion issue, there's still in Zulip no way to remove another member from an invite-only stream.  Well, you can invite an admin, have them do the removal, and then unsubscribe, but that's crazy.

For that problem, we have a few options:
* Just allow anyone subscribed to the invite-only stream to remove other users (with notification to the removed use

[2017-08-28 02:19] timabbott opened #6295 "streams: Fix confusing display of invite-only streams one isn't on for admins"
Right now, if you're an organization administrator, you get to see in the "All streams" view those invite-only streams you're not subscribed to.

But you don't see the subscribers and you can't actually administer them, which can be really confusing and make you think that Zulip is totally broken.

While this is closer to the model we want than the pre-#6220 state (see #3786), since at least we ha

[2017-08-28 02:24] timabbott opened #6296 "channel: Handle 500s from the server more naturally"
Right now, if the server 500s on a JSON request from a client in a way that doesn't return valid JSON, we get this sort of JS exception sent back to the server.

[code]

I think we should fix this in 2 ways;
* Make it ~impossible for an invalid-JSON response to come back from `channel.js` (e.g. have a set of 500 error pages for API URLs that are in JSON format), and mostly not change this code.  T

[2017-08-28 03:40] TanishaShrotriya commented on #6138
Hi, I want to work on this issue, but I won't be able to make any contributions very soon. I want to keep working with Zulip though, but I'll abandon this issue for now.

[2017-08-28 03:40] TanishaShrotriya commented on #6138
@zulipbot abandon

[2017-08-28 03:55] timabbott commented on #5689
So, I believe we've basically completed this, aside from the `add_missing_messages` step mentioned above and any secondary usage of this state (E.g. for typeahead).  I think the typeahead use case could be compelling (though I believe we should sort-to-bottom, not hide); I'll add mention of that idea in #5956.

I think we should probably only do the second cron job ( daily `add_missing_messages`)

[2017-08-28 03:55] #5689 closed

[2017-08-28 03:55] timabbott commented on #5689
@showell @adnrs96 let me know if you think I missed anything here :)

[2017-08-28 03:59] timabbott opened #6297 "soft deactivation: Work further on digest emails for soft-deactivated users"
We have this great new soft-deactivation feature (see #5194) that lets us dramatically improve the performance of Zulip in organizations with thousands of users who were transactional visitors and likely aren't going to participate in the organization again for a while.  While this is mostly OK (those users were probably not reading those emails anyway), it's not a great structure to have this beh

[2017-08-28 04:24] timabbott opened #6298 "Optimize performance of sending messages with thousands of soft-deactivated users"
On chat.zulip.org right now, we have about 2300 users subscribed to some of our larger streams (which has a fairly lower-power Digital Ocean machine with 8GB of RAM for everything, including database, memcached, and application servers).

When sending a message to one of these streams, the backend can take 500ms to process sending a message (compared with 50-100ms for a private message with 1 reci

[2017-08-28 04:25] timabbott commented on #5194
I believe this issue, as planned, is completed, so I'm closing this.  On chat.zulip.org with this feature (and now about 3K soft-deactivated users), it still takes about 500ms to send a message to a public stream with 3K subscribers.  While still not fast and likely still scaling linearly with number of users (PMs take only 100ms), this is a 2x or so improvement over where we were before and no lo

[2017-08-28 04:25] #5194 closed

[2017-08-28 04:28] timabbott commented on #4803
@rishig have we done a pass of improving these descriptions yet?  Just wondering if this issue is stale.

[2017-08-28 04:36] rishig commented on #4803
yeah, resolved in #5819. Closing.

[2017-08-28 04:36] #4803 closed

[2017-08-28 04:41] umairwaheed commented on #6070
Sure. @zulipbot claim.

[2017-08-28 04:59] adnrs96 commented on #5194
Sure, I will take this up.

[2017-08-28 05:20] #5328 closed

[2017-08-28 05:21] timabbott commented on #5328
@rishig I believe we just fixed this; can you test in Firefox to make sure it works correctly there (I only carefully tested Chrome)?

[2017-08-28 05:28] rishig commented on #5328
Minor thing: It selects the "Edited" in Chrome.

[2017-08-28 05:58] timabbott commented on #5328
I just fixed "Edited"; apparently stopped working in my last rebase.  By "eats the newline", do you mean "doesn't provide a blank line", or did you actually have things without a line between?

The timestamp is complicated; it actaully gets copied or not depending on how you copy things (ctrl-C vs. using the middle-click on Linux).  I'm going to consider that out-of-scope for this issue (we should

[2017-08-28 14:08] #6070 closed

[2017-08-28 14:42] brockwhittaker commented on #6265
This is now fixed in the PR @timabbott.

[2017-08-28 15:53] rishig commented on #5645
This can be closed, right?

[2017-08-28 16:09] rishig commented on #5328
* by "eats the newline" I just mean "doesn't provide a blank line"
* Currently with Ctrl-C it prints "Yesterday" or "Today" (i.e. the date in the floating recipient bar), even though it is not printing the time. I think it should either print the date and time, or neither.

I can open a new issue for this (I thought there was an issue, but I don't see it), but I think the main thing in the discuss

[2017-08-28 16:19] timabbott commented on #5645
Yeah, we're not going to do this; instead, we'll just required REALMS_HAVE_SUBDOMAINS.

[2017-08-28 16:19] #5645 closed

[2017-08-28 16:24] #6271 closed

[2017-08-28 16:39] timabbott commented on #5328
I think date changes are more important than timestamps, and you basically always want to know when 3 days passed in between two parts of a conversation, since that almost always has a significant impact on the meaning of the discussion.  So I think that means:
* Ctrl-C should include the dates
* The date of at least today should be highlighted.  We could potentially make it be the copy that's in

[2017-08-28 16:49] #6215 closed

[2017-08-28 16:52] #6265 closed

[2017-08-28 17:43] timabbott opened #6309 "No ToS/privacy policy error message on /terms is too close to edge"
We should probably just fix this by putting it in a box in the middle or something.

![image](https://user-images.githubusercontent.com/2746074/29785754-9c502b54-8bdd-11e7-9dd5-7c18ec899e39.png)

@brockwhittaker can you deal?

[2017-08-28 18:24] rishig opened #6311 "message view: Remove dates from date separators."
Now that we include the date in the recipient bar, we no longer need the dates in these date separators.
The separators look like this:

![image](https://user-images.githubusercontent.com/890911/29787298-468cb6b4-8be3-11e7-949f-48d361f15596.png)

[2017-08-28 18:34] timabbott commented on #6311
Edited description to indicate probably we just want to remove the dates, not the bar (a highly visible divide between days is I think still a good idea).

We should be careful when making this change to avoid breaking copy-paste of dates; ideally, we'd have the browser include the date from the recipient bar, but ordering issues might mean we still need a hidden element.

[2017-08-28 18:43] timabbott opened #6313 "admin: Replace "deactivate" and "make admin" on /organization/user-list-admin with something nicer"
Right now, our "user list" view in the admin settings doesn't look that good, in large part because the "actions" buttons on the right are quite large.

There are 2 approaches we could consider:
* Replace the buttons with icons, making "actions" take up less space, and then increasing the size of "name".
* Probably a better long-term solution would be to just move these into the "edit" widget that

[2017-08-28 18:45] hollywoodno commented on #5900
@timabbott reading through the current changes clear up my concerns. For future referencing, this is how new loggers are to be setup?

[2017-08-28 18:48] #6309 closed

[2017-08-28 18:50] timabbott opened #6315 "integrations: Fix categories picker scrolling area going too far down"
![image](https://user-images.githubusercontent.com/2746074/29788320-ffbb6010-8be6-11e7-8051-065ab20c91bf.png)

[2017-08-28 18:51] rishig opened #6316 "message view: Improve the message copying experience."
We have custom code that handles what gets copied when one Ctrl-C or middle-clicks a selection of text that spans two or more message. The current behavior is that we include the entirety of any message for which even a little bit of the message is in the selection.

There are a couple of things that need to be done.
1. It is jarring when once copy and pastes a block of text, and what you paste is

[2017-08-28 18:54] timabbott commented on #5900
Yeah, this should work; I'm not sure why it wouldn't be.  Spend a bit of time debugging.

https://docs.python.org/2/howto/logging.html#logging-flow is a super useful reference for understanding how this is supposed to work.  It's not clear to me where in that process this is not being written.  I did confirm that if your replaced with print statements, it shows up, and indeed that it shows up in `

[2017-08-28 18:57] rishig commented on #5328
Ctrl-C include dates: https://chat.zulip.org/#narrow/stream/design/topic/copying.20messages
Date separators: https://chat.zulip.org/#narrow/stream/design/topic/date.20separators
Copy-paste and timestamp interactions: issue opened

Various firefox copy bugs: should be fixed, but probably don't need to hold the release for them

ah, the issue then is that selecting multiple messages is not triggerin

[2017-08-28 19:03] #4811 closed

[2017-08-28 19:04] hollywoodno commented on #5900
Will debug. In dev missed messages and invitation emails were logged to email log.

[2017-08-28 19:06] timabbott commented on #5900
Interesting; I was testing with email change and registration.  So it might depend on the code path in question!

[2017-08-28 19:22] #6315 closed

[2017-08-28 19:34] rishig opened #6319 "portico: zxcvbn checker doesn't update when password filled from keepass."
Possibly also the case with lastpass and other password managers.

[2017-08-28 20:54] timabbott commented on #6319
It should just require calling some zxcvbn function to update; the "hard part" is probably going to be figuring out how to make some JS run when passwords are filled.

[2017-08-28 21:08] timabbott opened #6320 "Add test suite for regex linters"
Since we now have ~100 custom lint rules, it'd be good to have a test suite for them.

I'm thinking a simple test suite where you can declare a list like this:
[code]

where each tuple is a filename, line, and then some text in the expected error message.

I imagine we'd start with some simple small as part of `tools/test-tools` and then add things as we went.

(Note I made up the error message in

[2017-08-28 21:16] gnprice opened #6321 "Stream reset talking to APNs"
With the new APNs provider implementation that landed a couple of days ago, we're sometimes (~20% of the time) seeing this exception on zulipchat.com:

[code]

I'm not 100% sure what this means, but it sounds like the APNs server is closing the connection. With this frequency, that probably means something we're doing wrong, either in our application code or in the `apns2` or `hyper` libraries und

[2017-08-28 21:18] timabbott commented on #6321
We can at least see if the retries make the problem go away pretty cheaply.

[2017-08-28 21:28] gnprice commented on #6321
For future reference for trying a switch to pycurl -- here's a small demo of an HTTP/2 request, slightly cleaned up from [this SO question](https://stackoverflow.com/questions/42787564/how-can-i-make-a-pycurl-http2-request):
[code]
Requires `pip install pycurl`, after `apt install libssl-dev libcurl4-openssl-dev` (on Debian stretch).

[2017-08-28 21:47] timabbott opened #6324 "Add a test for whether the user has failed to run `tools/update-locked-requirements`"
We've seen a few times folks running into issues not realizing that they need to use @rht's new `update-locked-requirements` system to update dependencies.

While one thing I want to do for this is add more documentation on how we manage dependencies, I think we should also make this

I believe that this can just run `tools/update-locked-requirements` and check whether any diff was generated.

Bon

[2017-08-28 23:17] rishig opened #6326 "onboarding: Allow invited users to sign up using google auth."
Currently, if you invite a user, they get sent directly to `accounts/register`, which asks them for a password / sends them through the registration flow as if they signed up via email.

The accounts/register page also doesn't have the nice realm logo+description, artwork, etc that the /register page has.

As a V1 solution, invitation links should instead send users to /register, with a pre-filled

[2017-08-28 23:17] timabbott opened #6327 "Move `tools/test_user_agent_parsing.py` into test-backend framework"
There's not really a good reason for this little sanity test for our user agent parsing to be its own special test suite.  We should move its data set into `zerver/fixtures` somewhere, the test itself into `zerver/decorator.py`, and as a result clean it up.

[2017-08-28 23:25] timabbott commented on #6326
I think some background is relevant here:
* /register is the form where you usually initiate a registration (well, accounts_home.html is the template)
* /accounts_register is the form where you enter your registration details, which has less of a reason to include the full realm logo+description, but I think actually it'd be reasonable to show the realm logo+name at the top of the form just to mak

[2017-08-28 23:26] timabbott opened #6328 "Write developer documentation on how the Zulip login process works and flows"
I'm thinking this would be fairly high level, mentioning mostly just (A) the things useful to know for manual testing and (B) some of the design and motivation.

[2017-08-28 23:27] timabbott commented on #6326
Inspired by this issue, I opened #6328 for documenting the login process for developers; I think it's an area that could benefit from writing things down and also changing things that are confusing to explain (e.g. why the template is `accounts_home.html` for the main registration page)

[2017-08-28 23:38] rishig opened #6329 "portico: Add realm name and logo to accounts/register"
It would be nice to add the realm name and logo to the top of accounts/register, just so that you still feel like you're in the realm's onboarding flow when you come back from clicking on the confirmation link.

It looks something like this, on the /register page, for chat.zulip.org:

![image](https://user-images.githubusercontent.com/890911/29797977-029f20e6-8c0f-11e7-9b14-9786d0b611de.png)

[2017-08-28 23:46] timabbott opened #6330 "Make /zulip-labs "UI settings" section not require a "save changes" button"
We should just make this work similarly to the other user settings like "display settings".

CC @sarahcstringer since she did this cleanup for "notification settings".

(We don't necessarily want to make all the "organization settings" work this way, since those are more disruptive to randomly change on people).

[2017-08-28 23:49] timabbott opened #6331 "Disabled checkboxes "organization settings" as a non-admin user are unreadable"
See this for example:

![image](https://user-images.githubusercontent.com/2746074/29798235-abb74950-8c10-11e7-9039-e959600a8e02.png)

@brockwhittaker can you work on this?  Also, I think you were going to make our checkmark darker?

[2017-08-29 00:06] gnprice opened #6332 "ujson causes UnicodeEncodeError in email mirror"
We've gotten a few exceptions like this recently on zulipchat.com:
[code]

The request data in this example looks like
[code]

The core of the issue appears to be that `ujson` will decode a JSON document that looks like this, but will then fail if you ask it to encode the result:
[code]
(The result of `loads` there is a string of three characters, each of which is not a real character but rather a

[2017-08-29 00:10] gnprice commented on #6332
On Python 2, `ujson` handles this fine:
[code]
So that's why we haven't seen this until recently. Note the decoded object is a `unicode` -- that's probably a hint that `ujson` relies on here.

[2017-08-29 00:23] #5844 closed

[2017-08-29 00:27] timabbott commented on #6332
I think it's worth doing some benchmarking with Python 3.4.  With Python 2, using `ujson` had a huge performance benefit for our `get_messages` code path, and we'd standardized on it for that reason.  But Python 3 I believe has involved a lot into making the built-in JSON reasonable since `ujson` was written, and it might not be worth it to use `ujson` elsewhere in the codebase where there are (ap

[2017-08-29 02:12] gnprice commented on #6332
I nerdsniped myself on this and sent a PR upstream: https://github.com/esnme/ultrajson/pull/284

So we should be able to just use that fix.

Their README has results for both CPython 2.7.6 and CPython 3.4.3. It still shows them far ahead for some benchmarks.

[2017-08-29 03:36] #5973 closed

[2017-08-29 07:17] rht commented on #908
note: the script, I wrote on my own, in my own time, and so the bugs are
self-generated. I have the full bandwidth to iron out the wrinkles during Q3
2017. I'd appreciate if I could receive funding (to cover my own expenses)
by any parties or individuals to continue the task. I have updated the repo
with funding goal. I will update `zulip_slack.py` and the documentation
accordingly.

The dev threa

[2017-08-29 14:53] cory2067 commented on #5956
@zulipbot claim

[2017-08-29 15:34] cory2067 commented on #5903
@zulipbot claim

[2017-08-29 15:39] rht commented on #6324
It doesn't make any sense to run `tools/update-locked-requirements` for each Travis build. As currently, the script is run manually only when any files in `requirements/` are being updated. Alternatively, the said test could be set to trigger whenever the provision version is updated (where this can be generalized to any scripts that need to run whenever this case happens). But simplest is to clar

[2017-08-29 15:44] aktse commented on #6040
So how should we proceed with this issue?

This is my first code contribution so I'm not really sure where all the components I need to modify are located and it seems much more involved than I had originally thought.

Would you be able to point me in the right direction?

[2017-08-29 16:02] rishig opened #6341 "auth: Add a proper re-authentication flow for dangerous actions."
Currently if you want to view your API key, you need to enter your password. However, if you made an account with google auth, you won't have a password, so you instead have to create a password for the explicit purpose of getting access to your API key.

The solution is to have the auth for API key be a reauthentication flow that allows you to auth with google auth, ldap, or however you normally

[2017-08-29 16:07] rishig opened #6342 "user settings: Forgot your password link should directly send you an email."
Currently, the "Forgotten it?" password reset links at https://chat.zulip.org/#settings/your-account take you to /accounts/password/reset. Instead they should just directly send you an password reset email, and the "Forgotten it" text there should change to "Check your email!" (not a link), followed by "Resend" (link).

[2017-08-29 16:59] timabbott commented on #6324
I like the idea of renaming them to e.g. `dev.in`; that seems like it'd make people more likely to realize they need to do something further than just updating the file.

We'd run it at the end of the Travis build, not the start, to check whether people forgot to update the actual files; the point is to test whether the `.in` files are consistent with the `.lock` files.

[2017-08-29 17:40] rishig opened #6344 "emails: Make manual/visual email testing use a more end-to-end process."
Currently, all our emails are tested via `zerver/views/test_emails.py`, which hardcodes the context for the templates. This means the pathway for generating the email or the context doesn't get tested at all.

It would be great to one-by-one replace the generation of emails in test_emails.py with something more closely resembling how these emails are generated in the real code. I would do this by

[2017-08-29 17:58] timabbott commented on #6344
@rishig just to be clear, `test_emails.py`  is only used for manual verification of what the emails look like, not for automated testing.  I clarified the title to make that more clear.

[2017-08-29 18:00] HarshitOnGitHub commented on #6112
@zulipbot claim

[2017-08-29 18:08] synicalsyntax commented on #6040
Hey @aktse, you might be interested in checking out the developer [docs](http://zulip.readthedocs.io/en/latest/directory-structure.html) for the Zulip codebase structure. If you have any other questions, feel free to join us on the [Zulip development community](https://chat.zulip.org/#) and we'd be happy to help :)

[2017-08-29 22:25] rht commented on #6342
I think the `/accounts/password/reset` redirect is still necessary as a buffer, performing the function of `are you sure you want to reset your password?` -- to prevent accidental misclicks. The UX can still be decluttered if the email field is auto-populated instead of having to be entered manually.

[2017-08-29 22:31] gnprice commented on #6321
OK, merged a change to retry a few times in this case, and also to log a reasonable message rather than raise an exception.

Hopefully this will make it a lot less frequent, but at best it will probably still leave this happening occasionally, so a fuller fix will still be good.

[2017-08-29 22:50] rishig commented on #6342
fair enough. I could also imagine:
"Forgotten it?" turns into "Reset password" when you click on it, and clicking on that directly sends you an email.

[2017-08-29 23:19] #6332 closed

[2017-08-30 07:31] umairwaheed commented on #6236
@timabbott, it seems that Claw is not Python3 compatible.

[2017-08-30 17:05] synicalsyntax opened #6351 "admin/org settings: Cannot scroll through Notifications stream dropdown menu to select options."
Clicking on the **Notifications stream** option on the **Organizations settings** page produces a dropdown menu allowing organization administrators to change the default notifications stream for the organization.

![screenshot at aug 30 10-03-27](https://user-images.githubusercontent.com/15116870/29885133-7f592b2a-8d6a-11e7-8653-79ba415e06d8.png)

However, if there are more than 8 streams that an

[2017-08-30 17:16] timabbott commented on #6351
Interesting!  Yeah this seems like a bug.  I think adding a scrollbar would probably be reasonable.  @brockwhittaker thoughts?

[2017-08-30 19:42] invinciblycool commented on #6342
Hi, I would like to take this up as my first contribution to the repository.
Just wanted to know, where to redirect after sending the email successfully, I guess it is to be the user Home.
Thanks!

[2017-08-30 20:02] pranaygupta36 commented on #6344
Hello I am new to open source development and would like to start contributing to this repository by taking up this issue. Can you please guide me as to how to go about solving this issue. Thanks

[2017-08-30 23:01] rishig commented on #6344
Hi @pranaygupta36, welcome! A good place to start is http://zulip.readthedocs.io/en/latest/readme-symlink.html, or by reading through the code.

[2017-08-30 23:04] rishig commented on #6342
Replied in chat; let's hold on this issue for now; it's now waiting on a refactoring of the password reset flow.

[2017-08-31 04:33] umairwaheed commented on #6236
It turns out that one of the dependencies of Claw/Talon called Flanker is also not Python3 compatible. https://github.com/mailgun/flanker/issues/97

[2017-08-31 13:43] shubhamdhama commented on #6311
@zulipbot claim

[2017-08-31 15:40] rishig opened #6358 "search: Searching for 'word sender:name' doesn't autocomplete for name."
To reproduce, type 'consensus sender:tim' into the search bar, and note that it doesn't autocomplete on Tim's name. @cory2067, would you be up for taking a look?

[2017-08-31 15:45] cory2067 commented on #6358
I'm pretty sure the way suggestions is set up always expects search queries to be at the end. Putting them first breaks suggestions.

But I think having this flexibility is probably a good idea, so I'll try to look into ways to change it.

[2017-08-31 17:30] timabbott commented on #6358
Yeah, I think that's just a historical artifact.

[2017-08-31 18:28] HarshitOnGitHub opened #6361 "Fix the half visible text in the textbox just below the color picker in stream settings popup."
This issue seems to be specific to firefox, displaying fine for me on google chrome.
![image](https://user-images.githubusercontent.com/16687990/29939034-34ae6cd6-8ea8-11e7-872c-c961c7cd1a20.png)

[2017-08-31 18:28] HarshitOnGitHub commented on #6361
@zulipbot label "bug"

[2017-08-31 18:46] invinciblycool opened #6362 "Message disappears on undoing instead of a emoji."
When undoing(using Ctrl+Z) while typing a message followed by an emoji (just in case the user wants to change the emoji) , the phrase is removed on hitting Ctrl+Z instead of the emoji itself.

[2017-08-31 21:53] mcmanuss8 opened #6366 "@ mention autocomplete are rendered at top instead of near input box in Safari iOS"
At least they didn't in our corporate zulip in my iPhone. If this isn't easily reproducible I can get more details

[2017-08-31 22:30] synicalsyntax commented on #6366
The issue isn't that the mention popover didn't appear, but rather the mention popover is misplaced on small screens sizes and appears *above* the top of the window, misleading users into thinking it's not appearing at all.

What it looks like during compose:
![img_5422](https://user-images.githubusercontent.com/15116870/29947995-46e5b11c-8e61-11e7-9489-4dfeca825175.PNG)

Zooming out while keeping

[2017-08-31 22:45] synicalsyntax commented on #6362
Worth noting that this is only reproducible if you select the emoji from the popover menu as opposed to manually typing out the emoji.

[2017-09-01 01:58] lonerz commented on #6362
I think this is because the browser doesn't recognize the emoji added to the compose box as something being typed.

[2017-09-01 02:04] mcmanuss8 commented on #6366
Ah ha. Yeah that was non-obvious while on my phone. :)

[2017-09-01 02:32] timabbott commented on #6362
Right, we're using the `jquery-caret` module with `$.caret()` to insert these.  I think it's worth researching a bit whether there's a way we can do the insert that is treated by the browser as something ctrl-Z should interact with.  I'm not 100% confident this is possible, but it seems worth investigating.

[2017-09-01 02:33] timabbott commented on #6366
I think at least part of the bug here is that the stream/topic blanks might be better not split over 2 lines, and similarly for "Press enter to send".  Some small tweaks there should fix this...

[2017-09-01 02:34] timabbott commented on #6366
@brockwhittaker FYI

[2017-09-01 17:34] markwooff commented on #209
In the latest version of Zulip, is it possible to change the emoji set from Google to Apple? I was able to do it by hacking the `index.html` to use `apple_sprite` instead of `google_sprite` along with some other changes, but this obviously isn't an ideal solution.

There also seems to be a DB entry for `emojiset` in the `zerver_userprofile` table that is defaulted to `google`. Changing this to `ap

[2017-09-01 18:25] Supermanu commented on #210
@nVitius @timabbott Is this feature still consider? If not, I might give a try if it still makes sense.

[2017-09-01 20:35] rishig commented on #209
It doesn't yet, but that's the plan! + @HarshitOnGitHub who might have more up to date information.

[2017-09-01 22:01] HarshitOnGitHub commented on #209
No not right now, but we have plans to support this feature soon. It is a work in progress, PR related to changing the emojiset was merged but the UI for changing emojiset was disabled because some more work is yet to be done/merged. We plan to support four emojisets initially: Google, Apple, twitter and emojione.

Yeah that's the plan. This field will be used for determining which sprite sheet is

[2017-09-02 02:02] rishig opened #6376 "onboarding: Add links to /help for starred messages and mentions."
The following screen is a great opportunity to teach new users about starred messages, and also teach them about the help center:
![image](https://user-images.githubusercontent.com/890911/29992059-b644f3e2-8f47-11e7-834a-803fcd2fb996.png)
You can get there at http://localhost:9991/#narrow/is/starred in the dev environment (with a new user that hasn't starred anything yet).

It would be great to ad

[2017-09-02 02:06] rishig commented on #6091
++, I think this can trip someone up (or just look like a bug) during onboarding, especially now that we have a hotspot that specifically highlights that part of the screen.

[2017-09-02 02:54] rishig opened #6377 "onboarding: Ability to delete test messages."
We've gotten this request so many times now that I think it's worth an issue. I could imagine some sort of "reset organization messages" in organization settings, that deletes all messages.

https://chat.zulip.org/#narrow/stream/design/topic/delete.20initial.20messages for relevant discussion.

[2017-09-02 14:47] timabbott commented on #6091
@showell it might be worth thinking about some of these cases soon.

[2017-09-02 17:32] shubhamdhama opened #6380 "profile picture popover on clicking mention in chats"
It would be an intuitive and nice feature to reveal the profile picture popover on clicking over @mentions in chat.
[link to the chat](https://chat.zulip.org/#narrow/stream/design/subject/popover.20on.20clicking.20mention/near/276026)

[2017-09-02 18:15] rishig opened #6381 "streams: Consider ' ' and '-' as equivalent for stream and topic names."
There are a lot of situations where one needs to refer to specific streams and topics outside of the zulip UI; e.g. suggesting to someone they should make an account and introduce themselves on #new members, or telling someone their issue is being discussed on some topic, or linking to a topic from github.

In these cases, the spaces in streams/topics make for awkward things like having to refer t

[2017-09-02 20:06] rishig opened #6382 "stream settings: Certain markdown breaks stream descriptions."
Discussion at https://chat.zulip.org/#narrow/stream/design/topic/stream.20descriptions.

To reproduce, put the following as the stream description of a new stream:
[code]

The first step is to come up with a proposal for how to handle this. Perhaps a whitelist of markdown that gets interpreted, like emoji, bold, links, etc?

[2017-09-03 02:19] rishig commented on #6120
An easy place to start on this issue would be just to do the `?` one, which is an early one that people notice.

[2017-09-03 02:54] pweaver opened #6384 "Notifications: Opt out of Favicon notifications"
Zulip should allow users to disable the favicon updating the number of unread messages.

The favicon is in some ways a gamification and I would feel much less pressured to obsessively read incoming messages (and thus be more productive) if that icon didn't update all the time with the number of unread messages.

[2017-09-03 19:50] shubhamdhama opened #6391 "admin/org settings: under default streams-> cannot scroll streams"
In organization Settings-> "Default streams", the list of streams are not scrollable and admin is forced is to use the scrollbar to access other streams. Also, it seems that instead of getting the list scrolled, its parent gets scrolled.
![peek 2017-09-03 21-57](https://user-images.githubusercontent.com/22238472/30006123-fb981c30-910e-11e7-89dd-62c18455f311.gif)

This issue is somewhere similar to

[2017-09-04 05:45] gnprice opened #6398 "Some messages in JS code don't make it to the list to be translated"
I first noticed this with the "You subscribed to stream __stream__" message that appears between messages in a (public) stream/topic at the point where you subscribed. It's not in any `translations.json`, and consequently doesn't make it to Transifex and doesn't get translated.

Looking at the source, the `i18n.t` call continues to the next line, so I suspect that's not a coincidence:
[code]

Ther

[2017-09-04 07:01] sysmoon opened #6399 "failed to registration with ldap_auth backend"
hello,
this is my conf

query_ldap, send_test_email working well.
but when i login using one time link received by email, i failed to get registering page.
server error show like below.
for test i set LDAP_APPEND_DOMAIN = None, after that i can regist and id activated.
but cat't login.
i don't know how to auth with ldap.

[server error]
[code]

[setting.py]
[code]

[2017-09-04 07:20] umairwaheed commented on #6398
Will check it out. @zulipbot, claim.

[2017-09-04 08:13] umairwaheed commented on #6398
Seems like the issue with our `makemessages` regexes.

[2017-09-04 12:42] derAnfaenger commented on #249
Moved this issue to our new `python-zulip-api` repo, can be closed.

[2017-09-04 14:42] showell commented on #249
Closing.

[2017-09-04 14:42] #249 closed

[2017-09-04 16:06] synicalsyntax commented on #6391
Looks like a problem with the perfectScrollbar. @brockwhittaker @vaidap might be interested in looking into this.

[2017-09-04 19:03] showell commented on #6381
I removed the bite-sized label here.  This is pretty approachable for the right newbie, but there are enough pieces to change here that it's not quite bite-sized.  We'll probably need a migration here to do a one-time canonicalization of stream names in the database, and we'll need to figure out our strategy for legacy realms that may have duplicate streams under the new canonicalization.

We also

[2017-09-05 10:50] timabbott commented on #6120
@lonerz would you be up for adding a toggle here for at least `?`?

[2017-09-05 12:11] arctgarg commented on #6376
Hey.. i would like to take this issue as my first contribution. Is it still open?

[2017-09-05 13:22] lonerz commented on #6376
@arctgarg seems like @synicalsyntax is already working on this issue, but forgot to claim it. Maybe look for another open issue?

[2017-09-05 13:22] lonerz commented on #6120
@zulipbot claim

[2017-09-05 13:39] hcodave commented on #752
@timabbott Thank you! Zulip and this thread helped us move away from HipChat. We've done some selective private messaging permissions using something like...

`message_type_name == "private"`
 `and "Full Name" not in user_profile.full_name`

However, we're trying to allow messages to specific people (i.e. HR) from anyone. Is there any chance you can point us in the right direction? We're having tr

[2017-09-05 13:39] DarkSoulCool opened #6403 "fi"
Please explain how to use fi
EX. zulip/scripts/setup/terminate-psql-sessions

[2017-09-05 16:36] hackerkid opened #6408 "Show uploaded files sizes, used quota and maximum quota of the user in uploaded files page"
Page to modify -> #settings/uploaded-files
Related discussion https://chat.zulip.org/#narrow/stream/issues/topic/uploading.20files

[2017-09-05 17:31] Anupam-dagar commented on #6330
I would like to work on it.
Since this is my first issue, I would like to know which file the edit needs to be done.

[2017-09-05 17:55] AThammanoon commented on #6403
i think it is end for if...else

[2017-09-05 18:41] Anupam-dagar commented on #6403
in shell scripting fi is used to end an if block

[2017-09-05 19:43] hcodave commented on #752
@timabbott nm just found it. Thanks again. For anyone else looking for a solution like this, add something like...

`and "recipient@example.com" not in message_to`

to the condition. So the extended "hack" would look something like...

[code]

[2017-09-05 20:18] showell commented on #6030
We should implement this using server code, and we don't want to create a bot program.  The reason to use server code here, rather than our bot framework, is that we might want to take special advantage of the database to do this right.  Also, efficiency is important here, and there are minor efficiencies doing it in the server.

[2017-09-05 20:26] derAnfaenger commented on #6030
@zulipbot claim

[2017-09-05 20:28] derAnfaenger commented on #6030
@showell I'd like to take this up. Can you give me a hint on where to look in the code for implementing a bot integral to the server?

[2017-09-05 20:37] rishig commented on #6030
Awesome, thanks @derAnfaenger!
I think somewhere in the send message pathway, we should have a check like
[code]
and then the `do stuff` can organically grow over time.
Is there anywhere in actions.py that would be natural to make such a check?

[2017-09-05 20:39] Anupam-dagar commented on #6330
@zulipbot claim

[2017-09-05 21:42] showell commented on #6030
I don't know the best place to add this hook, so @derAnfaenger should make a recommendation based on his best reading of the code.

[2017-09-06 00:56] lonerz commented on #6403
I think this has been answered. Closing.

[2017-09-06 00:56] #6403 closed

[2017-09-06 01:46] synicalsyntax opened #6412 "compose: Messages suddenly disappear mid-edit when another message is sent during editing"
When someone is editing a previous message and another user (or self) sends another message to the same stream/topic/PM, the edited message content and compose box completely disappear altogether.

[![https://gyazo.com/47c2865170e997d58444e93d8332c728](https://i.gyazo.com/47c2865170e997d58444e93d8332c728.gif)](https://gyazo.com/47c2865170e997d58444e93d8332c728)

Similar behavior occurs when one is

[2017-09-06 02:56] lonerz opened #6413 "Private messages flag in search bar is too dark"
![screen shot 2017-09-05 at 7 54 34 pm](https://user-images.githubusercontent.com/12992571/30092504-39ff96e0-9274-11e7-8e35-462d2a86dbd2.png)

Seems like a recent regression, but the black color seems a little too dark. Not exactly sure what color it should be however.

[2017-09-06 05:30] synicalsyntax commented on #6413
The color has never been changed within the past 6 months (other than changing hex to equivalent HSL value), so it's not a regression.

![screenshot at sep 05 22-29-09](https://user-images.githubusercontent.com/15116870/30095802-b21d0e2c-9289-11e7-9d3c-5f2245236eae.png)

Changing the color of the flag to match the private message compose flag looks a bit weird to me, but it might be an option if a

[2017-09-06 05:35] lonerz commented on #6413
Oh hmm, I feel like it's darker than the compose box "You and" so consistency would be nice.

[2017-09-06 07:13] AThammanoon opened #6414 "Move <button> elements out of <a> elements"
Several files make use of invalid HTML, with a <button> element nested inside an <a> element

Examples found in:
- account-settings.handlebars
- display-settings.handlebars

([StackOverflow reference](https://stackoverflow.com/questions/6393827/can-i-nest-a-button-element-inside-an-a-using-html5))

[2017-09-06 07:14] AThammanoon commented on #6414
@zulipbot claim

[2017-09-06 09:44] DarkSoulCool commented on #6403
Thank you for answering the question.
@AThammanoon
@Anupam-dagar

[2017-09-06 10:38] derAnfaenger commented on #6030
So after quite a bit of code staring, I have this in mind:

* There are two places where it seems reasonable to me to add this logic: `check_send_message` and `do_send_message`.

* I couldn't really figure out yet the contentual difference between `check_send_message` and `send_internal_message`, but the former seems to be used for normal messages, while the latter is called by things like interna

[2017-09-06 13:13] Baimaikp commented on #6362
browser don,t recognize

[2017-09-06 14:01] #6398 closed

[2017-09-06 14:06] showell commented on #6030
Using `send_internal_message` makes sense for this.

There's no need to use the queue here.  We generally use queues to defer expensive operations, such as sending emails, or to do things that just aren't urgent.  I think for the welcome bot responses, we want a fairly quick response, and it shouldn't be too expensive to send a message and deal with hotspot entries.

Thanks for researching this!

[2017-09-06 15:53] #5914 closed

[2017-09-06 16:13] #6376 closed

[2017-09-06 16:14] #6150 closed

[2017-09-06 16:17] rishig commented on #6030
yeah, I have also spent a long time trying (unsuccessfully) to understand this codepath, it is pretty confusing! I think the check should go in `do_send_messages`.

Also, one potentially helpful way to figure out what code is being called is to send a message to welcome-bot (in the dev environment) with something that prints a traceback somewhere in do_send_messages.

[2017-09-06 16:35] #3791 closed

[2017-09-06 17:12] #6413 closed

[2017-09-07 04:04] umairwaheed commented on #4733
(Waiting for review.)

[2017-09-07 04:05] umairwaheed commented on #5677
(Waiting for a review)

[2017-09-07 04:25] lonerz commented on #5578
Still working.

[2017-09-07 04:27] lonerz commented on #1180
Still working.

[2017-09-07 04:28] lonerz commented on #4513
Still working.

[2017-09-07 06:02] invinciblycool commented on #6327
Considering [this conversation](https://chat.zulip.org/#narrow/stream/new.20members/subject/Rahul.20Tiwari/near/276462) where should the test be moved?

[2017-09-07 06:10] wangjames commented on #5775
Waiting for the refactoring of the right_sidebar using the list_render API as listed in #6133

[2017-09-07 08:01] brockwhittaker commented on #6051
This is already merged right @timabbott, @gnprice?

On Wed, Sep 6, 2017 at 19:56 zulipbot <notifications@github.com> wrote:

[2017-09-07 09:39] gnprice commented on #6051
Yep -- your update to the font was merged as 2a7480051.

And looking at one of the test messages from above on chat.zulip.org now, it looks much better.

I think at the time your update was merged, I'd already adjusted some of my OS's font settings -- in particular, telling it to ignore hinting that comes with fonts and do its own -- and that had already made things much better. But before that, w

[2017-09-07 09:39] #6051 closed

[2017-09-07 11:33] snakevenom04 commented on #6135
Added the code that I feel will do this task. Only problem being i cant seem to test it. I have the vagrant dev environment set-up but this feature is for new users only, cant figure out how to test that.

[2017-09-07 13:20] tommyip commented on #5365
I think we have to fully migrate our JS pipeline to webpack before this, so that Webpack's style-loader can inject the style links into handlebars/html templates.

[2017-09-07 14:24] hb-it opened #6421 "Upgrade to Zulip-Server-1-6 fails - DJango and Tornado not starting?"
When restarting the server after the upgrade with su zulip -c /home/zulip/deployments/current/scripts/restart-server
we are seeing

zulip-tornado: ERROR (spawn error)
zulip-django: ERROR (no such file)

and

Zulip isn't feeling too good.
Internal server error.

I inherited this server from the person who set it up so not sure where to start looking.

(We are testing this in a VMWare clone with dif

[2017-09-07 15:09] Naizaaiia opened #6423 "Why did pull requests go away?"

[2017-09-07 16:04] synicalsyntax commented on #6423
Hi there. Thanks for your help and interest in Zulip. Please make an account on our developers' server at https://chat.zulip.org so we can discuss some of the issues we found with your pull requests and help you get started with contributing.

[2017-09-07 16:04] #6423 closed

[2017-09-07 17:24] hb-it commented on #6421
From output of supervisorctl status:

can't find command '/home/zulip/deployments/current/zulip-current-venv/bin/uwsgi'

That path does not exist on the server.

[2017-09-07 17:24] synicalsyntax commented on #4331
Hm, issue seems to have been resolved; tested both on `master` and Zulip community server, compose box doesn't disappear when clicking on message feed links while compose box is open

Corresponding code in `static/js/click_handlers.js`corrects this behavior as follows:
[code]

Closing now :)

[2017-09-07 17:53] rishig commented on #4331
@synicalsyntax the issue is the loss of focus (rather than the compose box disappearing), which is still happening for me on Chrome on Linux.

[2017-09-07 18:18] dreid commented on #44
This should no longer require a custom buildpack, [https://devcenter.heroku.com/articles/using-multiple-buildpacks-for-an-app](Multiple Buildpacks) are well supported by heroku.

[2017-09-07 18:23] synicalsyntax commented on #4331
Sorry, misunderstood the scope of the issue. Opened #6425 to resolve this though

[2017-09-07 18:36] invinciblycool opened #6426 "Unnecessary close button persists when clicking back on Home."
When one manually clicks on any of the options other than **Home**, say, **Private messages** and then again clicks on the **Home** option, the close button next to the search button still persists, even though its unnecessary, since it performs nothing useful.

[2017-09-07 18:59] shubhamdhama commented on #6061
@zulipbot claim

[2017-09-07 21:21] porterjamesj commented on #1516
@timabbott as an administrator of a large organization that's been putting some more time into thinking about these issues lately, the thing that would be most immediately useful is just a button in the "Stream settings" pane for archiving it, no automated reporting or anything else necessary.

Our pain point is basically there there are streams that we
Our pain point is basically there there are

[2017-09-07 21:25] porterjamesj opened #6427 "Moving topics between streams"
There are often circumstances in our (@recursecenter's) Zulip realm where it would be very useful to be able to move a topic to a different stream. In particular, with over 1000 people in our realm, and onboarding ~30 new users every 6 weeks, it's difficult to keep everyone on the same page about what's on topic for discussion in which stream. Often a valuable discussion will start, but in the wro

[2017-09-07 22:00] synicalsyntax commented on #6427
This seems like a valuable feature to me :) Would you be willing to discuss implementing this more in detail with us on https://chat.zulip.org?

[2017-09-07 23:15] SniparsZach opened #6429 "NoReply Email Address and Default Email Address?"

[2017-09-07 23:27] #6429 closed

[2017-09-07 23:28] SniparsZach opened #6430 "No Reply Email Address and Default Email Address?"
Every time I use

I get

Where would I find the email address to use if I am using MailGun?

[2017-09-08 14:29] thawatkrit opened #6434 "Comments on the logo"
The zulip logo can be changed to make it unique. The zulip program can not be changed.
The old look is normal.

[2017-09-08 15:49] synicalsyntax commented on #6434
Do you have any suggestions for a better logo then? Feel free to join us on the [#design](https://chat.zulip.org/#narrow/stream/design) stream to discuss

[2017-09-08 15:49] synicalsyntax commented on #5719
Reopening, since I'm getting the "Internal server error" page when I visit chat.zulip.org

[2017-09-08 17:15] adnrs96 commented on #5719
yeah, I getting that too!

[2017-09-08 17:44] synicalsyntax commented on #5719
Closing, since server is back up now

[2017-09-08 18:13] #6426 closed

[2017-09-08 18:20] #2913 closed

[2017-09-08 18:30] #4331 closed

[2017-09-08 19:01] rishig commented on #5947
Hi @sarahcstringer, just checking in on this; how is it going?

[2017-09-08 19:28] showell commented on #4561
We fixed this a while back.

[2017-09-08 19:28] #4561 closed

[2017-09-08 19:31] showell commented on #4647
pinging @brockwhittaker on this...I am reviewing some of my ancient issues, and I'm wondering if this is on your radar as part of related cleanups

[2017-09-08 19:39] bugosiphionah commented on #6020
@zulipbot claim

[2017-09-08 19:57] showell commented on #5061
pinging @rishig on this in anticipation of upcoming internships

[2017-09-08 20:00] showell commented on #5406
@derAnfaenger Am I remembering correctly that you were looking into this at some point?

[2017-09-08 20:05] derAnfaenger commented on #5406
Sort of. I have some experience with the linter now, can have a look into this.

[2017-09-08 20:07] showell commented on #5695
One subtle, but important, difference between our dict.js `setdefault` and the `setdefault` in Python is that the latter is parameterized with a function, so it only builds default objects when there is no value for the key.  Our JS code, on the other hand, forces users to create tiny empty objects when they're not going to be used.

Despite that, I'm closing this anyway, because it still doesn't

[2017-09-08 20:07] #5695 closed

[2017-09-08 20:09] showell commented on #5884
The main issue here has been fixed.

[2017-09-08 20:09] #5884 closed

[2017-09-08 20:27] showell commented on #6412
I'm not totally sure on this, but I think this only happens when you're editing the most recent message, which makes me believe this is a glitch in our message re-rendering codepath.  When new messages come in, I think we redraw the last message as well as the new message to deal with recipient bar issues.  Just a theory, though.  I mainly want to point out that if you try to reproduce this bug, i

[2017-09-08 20:34] rishig commented on #5061
This could be a great first contribution for an Outreachy applicant!

[2017-09-08 21:23] synicalsyntax commented on #3820
Not reproducible on chat.zulip.org and master for both empty/filled-out stream/topic inputs and PM messages. On Mac OS X Chrome.

[2017-09-09 01:07] lonerz commented on #3820
This seems to be fixed actually. Closing.

[2017-09-09 01:07] #3820 closed

[2017-09-09 08:03] Ijebusoma commented on #4891
@zulipbot  claim

[2017-09-09 08:08] Ijebusoma commented on #4970
@zulipbot claim

[2017-09-09 09:51] Ijebusoma commented on #4970
@zulipbot  Work In progress: I'm setting up the vagrant dev environment on Linux OS to explore zerver/lib/bugdown/ and understand how it works so I best decide what name suits it and possibly suggest more features!

[2017-09-09 11:56] tommyip commented on #4970
@Ijebusoma welcome!

If you have any problems setting up the dev environment or with this issue, you can ask here or over at http://chat.zulip.org.

[2017-09-09 13:05] YJDave commented on #6342
I want to work on this issue, if it's okay?

[2017-09-09 14:30] sampritipanda commented on #6412
@zulipbot claim

[2017-09-09 17:08] JaneCeng commented on #6018
Hi! I am going to take this as my first issue. It would be appreciated if there is any suggestion.
@zulipbot claim

[2017-09-09 17:21] #6430 closed

[2017-09-09 17:23] SniparsZach opened #6445 "Internal Server Error On Launch"
So I get this email alert whenever someone tries to view the zulip chat and gets the internal server error, I don't know what to do
`Traceback (most recent call last):`
`  File "/home/zulip/deployments/2017-09-09-01-45-24/zulip-venv/lib/python2.7/site-packages/django/core/handlers/exception.py", line 101, in get_exception_response`
    `callback, param_dict = resolver.resolve_error_handler(status_

[2017-09-09 18:29] showell commented on #6298
See #6441, which saves us from creating UserProfile objects.  I also merged a change to UserMessage.flags_list(), which was consuming like 20% of the time for large streams due to its underlying implementation of creating tons of tiny objects.

[2017-09-09 19:38] Ijebusoma commented on #6362
I would like to look into it, please which of the files contains the form code for typing in a message and sending to the stream cc @timabbott

[2017-09-09 23:51] SniparsZach opened #6447 "Attribute Error Leading to Internal Server Error?"
So the error logs I am getting in the mail from the SMTP server keeps saying this over and over and I believe it has to do with the internal server error I have been getting whenever I view the site.

Does anyone know how to fix this?

[2017-09-10 02:27] synicalsyntax commented on #6447
Hey there, we'd be glad to help you figure things out on the [#production help](https://chat.zulip.org/#narrow/stream/production help) stream on the development community :)

[2017-09-10 03:36] YJDave commented on #5614
I like to work on this issue, as my first contribution to this project.
@zulipbot claim

[2017-09-10 03:53] shubhamdhama commented on #6311
I'm still working on this issue, just waiting for getting the feedback regarding how should new date separator should look like.

[2017-09-10 06:11] note35 opened #6448 "Virtualbox version should be "fixed" rather than "newer than""
* Description

The current document [Mac](https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#macos) & [Windows](https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#windows-10) mention that zulip is able to run in virtualbox in version x.x.x or newer. But I encountered the kernel error issue while I installed the environment in the newest virtualbox

[2017-09-10 06:35] JaneCeng commented on #6329
I'd like to work on this issue. But I'm not sure where the realm name and logo should be on accounts/register?

[2017-09-10 07:17] gnprice commented on #6448
Thanks for entering this!

Specifically, the symptoms we saw on your machine included
* Running a `manage.py` command would immediately give a segmentation fault
* In fact, running `/usr/bin/python3`, even with no arguments, would do the same
* So would running an `apt install` command
* In `/var/log/syslog`, there were error messages including `BUG: unable to handle kernel paging request`, which

[2017-09-10 07:38] #6448 closed

[2017-09-10 12:12] shailysangwan commented on #6320
@zulipbot claim

[2017-09-10 15:27] AThammanoon opened #6458 "Why Close my pull requests?"
Why close my pull requests?

[2017-09-10 15:28] AThammanoon commented on #6458
@zulipbot claim

[2017-09-10 15:35] synicalsyntax commented on #6458
Hi @AThammanoon, thanks for your interest in contributing to Zulip! Most of your pull requests were closed because they didn't follow the [Zulip commit guidelines](https://zulip.readthedocs.io/en/latest/git-guide.html) and they didn't pass continuous integration checks, but we'd be happy to get you on the right track and find projects matching your interests.

Can you please join us on the [#new m

[2017-09-10 15:35] #6458 closed

[2017-09-10 17:54] rishig commented on #6445
Hello @SniparsZach, welcome! You can ask support questions on chat.zulip.org, in the "production help" stream. Closing, since you'll get a better response there.

[2017-09-10 17:54] #6445 closed

[2017-09-10 17:54] #6447 closed

[2017-09-10 17:55] rishig commented on #6434
Closing for now. We'd be happy to chat on chat.zulip.org!

[2017-09-10 17:55] #6434 closed

[2017-09-10 17:57] rishig commented on #6421
Welcome @hb-it! The best place to ask such questions is chat.zulip.org, in the "production help" stream, where we can debug it live. Closing!

[2017-09-10 17:57] #6421 closed

[2017-09-10 17:59] rishig commented on #6399
Hello @sysmoon! The best place to ask such questions is chat.zulip.org, in the "production help" stream, where we can help debug it live. Closing!

[2017-09-10 17:59] #6399 closed

[2017-09-10 18:02] #4445 closed

[2017-09-10 18:18] modestlearner opened #6460 "Making an accounts app and include the accounts urls.py file"
I want to create an accounts app and include accounts urls file in the project file in order to reduce the length of the code and also for better understanding.

Can I do that as my first contribution to this repo if workflow is not interrupted.
Btw I am new to GitHub and open source so please help me. :)

[2017-09-10 18:32] modestlearner commented on #6460
The urls.py is contains more than 500 lines of code which will be significantly reduced after resolving this issue.

[2017-09-10 19:18] ihsavru commented on #6059
@zulipbot claim

[2017-09-10 20:36] synicalsyntax commented on #6460
Hey there @modestlearner, welcome to Zulip! We'd be happy to discuss your plans for this feature and guide you through implementing it  on https://chat.zulip.org/; please join us there and we'd be happy to talk! :)

[2017-09-10 20:54] Ijebusoma commented on #4970
@tommyip  Suggested name: Zintax

[2017-09-11 05:48] modestlearner commented on #6460
Hey @synicalsyntax I didn't get you.
I registered https://chat.zulip.org/ but I don't know where to discuss and what to discuss.
Will it be fine if I discuss this here only???
Else please help me with this as I am new to this organisation.

[2017-09-11 05:51] lonerz commented on #6460
@modestlearner I just created a topic for you and this issue.

[2017-09-11 06:14] ss22ever commented on #3865
@zulipbot claim

[2017-09-11 06:24] modestlearner commented on #6460
@lonerz Hey!!,
Where to see the topic???

[2017-09-11 06:30] modestlearner commented on #6460
@lonerz Got that!!!
I gave the description related to the topic on https://chat.zulip.org/.

[2017-09-11 16:24] #6412 closed

[2017-09-11 17:33] SniparsZach opened #6471 "AttributeError: 'module' object has no attribute 'plugin'"
So when looking more into what this error says,

    boto.plugin.load_plugins(config)
AttributeError: 'module' object has no attribute 'plugin'

Looking at the python script, it doesn't actually address load_plugins in the entire script. Is this why there is an Internal Server Error whenever you try and access the website?
Also is there any way to fix this because tech support has been no help and

[2017-09-11 18:53] elenaoat commented on #3058
@zulipbot claim

[2017-09-11 23:11] synicalsyntax commented on #6471
Closing due to [Twitter conversation](https://twitter.com/battleblade14/status/907366295225561088) that followed after.

[2017-09-11 23:11] #6471 closed

[2017-09-11 23:14] cakleimeier commented on #4240
@zulipbot claim

[2017-09-11 23:48] rishig opened #6473 "message-view: Compose box closes when clicking on topic narrow."
To reproduce:
* Go to some stream
* `r` to open a compose box, with the stream name populated
* Click on either a stream or topic narrow in the stream that you're composing to, either in the left-sidebar, or recipient bar

Expected behavior is compose stays open, current behavior is close composes.

For an example of the expected behavior, repeat the above, but click on a stream or topic narrow in

[2017-09-12 00:34] sarahcstringer commented on #5947
Hi! Apologies for the delay -- the person I thought would be good for this ended up getting really busy. I'm happy to do this in the next day, unless there's someone else who wants the issue :)

[2017-09-12 01:45] rishig commented on #5947
No worries. And all yours! I think this will make a big difference in the realm onboarding experience :).

[2017-09-12 03:26] watcharakornton opened #6475 "Why clone this project already folder not complete."
Download on zip and folder "static" and others not completes

[2017-09-12 03:26] watcharakornton commented on #6475
@zulipbot claim

[2017-09-12 03:35] swekshajha12 commented on #4120
@zulipbot claim

[2017-09-12 03:37] AThammanoon commented on #6458
THX

[2017-09-12 03:51] rishig commented on #4442
Closing this, since we're keeping track of analytics issues elsewhere.

[2017-09-12 03:51] #4442 closed

[2017-09-12 03:57] synicalsyntax commented on #6475
Looks like this issue is a duplicate of #129, closing

[2017-09-12 03:57] #6475 closed

[2017-09-12 04:14] jcrisarh commented on #6135
@zulipbot claim

[2017-09-12 04:31] swekshajha12 commented on #4120
Hello everyone
I went through the whole conversation and here's my understanding of the issue:
1)Bankruptcy=Unread messages cleanup.
2)We need to provide time-based-extension till the next prompt based on user activity or presence.
3)We can include a button "No -never ask me again" for users who don't want to address it.
Is my understanding correct?
Solution:
Shall I go about implementing the algo

[2017-09-12 04:43] synicalsyntax commented on #4120
Sorry for the spam; the bot is having difficulties adding you as a collaborator so you can claim this issue, and we're trying to debug it right now.

[2017-09-12 04:45] swekshajha12 commented on #4120
It's alright :+1:

[2017-09-12 04:48] synicalsyntax commented on #4120
Hey @swekshajha12, can you accept your repository invite at https://github.com/zulip/zulip/invitations so we can assign this issue to you? :)

[2017-09-12 05:00] swekshajha12 commented on #4120
Done :+1:  :)

[2017-09-12 05:05] synicalsyntax commented on #4120
@swekshajha12 Great, thanks, the issue is all yours! :)

I suggest asking for feedback in the [#development help](https://chat.zulip.org/#narrow/stream/development.20help) stream one last time before you start off though, since @showell might have some other notes that he'll want to share with you since this issue hasn't been active for a while

[2017-09-12 05:06] swekshajha12 commented on #4120
Sure! I'll do that :+1:
Thanks :)

[2017-09-12 08:22] timabbott commented on #129
Just to explain this a bit more for anyone seeing this thread, the tarballs that we distribute as releases are binary release tarballs, with static assets already compiled.  We use a `.gitattributes` file when exporting the repository to build release tarballs, which GitHub also uses to generate its `.zip` files.

Noting #6475, it seems that enough people use this "download zip" feature that we sh

[2017-09-12 09:24] timabbott commented on #4970
I think probably `zerver.lib.markdown` would be a reasonable name.  Maybe we should try going for that?

[2017-09-12 09:37] derAnfaenger commented on #6320
Seeing this just made me realize the issue's similarity to #5406 . I submitted #6472 for adding a test suite just like described here, with the difference that it doesn't test the rules themselves yet, only the validity of the filenames. Positing here to avoid any potential duplicate work. @shailysangwan how do we want to proceed here?

[2017-09-12 10:30] #5406 closed

[2017-09-12 10:41] timabbott commented on #6320
#6472 provides a test file, which is a great start.  I think there's probably 2 things that need to happen here.  First, we need to write a test system for the rule tests, which has some nice helper function supporting tests like what I described above.  Then, we can add a bunch of tests, and ideally some sort of meta-test that can be used eventually to check if we have "test coverage" of all the

[2017-09-12 11:14] akashnimare opened #6477 "Add a loading indicator"
We need to have a loading indicator when user clicks on Sign in button -

![pasted_image 2](https://user-images.githubusercontent.com/2263909/30323124-a040ee8a-97d9-11e7-87fb-08050f7293c8.png)

[2017-09-12 12:04] timabbott commented on #6399
In case anyone finds this via email, I'm pretty sure the problem is that you need to create a realm using email auth.  This is discussed in the production setup documentation.

[2017-09-12 12:05] timabbott commented on #6445
I believe this is #4839.  It should be fixed when we move to Python 3 with Zulip 1.7.

[2017-09-12 12:05] timabbott commented on #4839
@pweaver have you had a chance to look at this?  It just came up again in #6445 and I'd like to be confident that Zulip 1.7 will actually fix this.

[2017-09-12 12:11] timabbott commented on #6329
I think we want them to be beside each other above the form.

[2017-09-12 12:49] showell opened #6479 "Optimize rendering path (bugdown/markdown)."
Talk to me (showell) or @timabbott if you are interested in working on this.

Our rendering path has a couple possible bottlenecks:
* Detecting links, with over 300+ TLDs, is expensive (I've measured this).
* We get all the users in the realm to do mentions.

See #6298 for some relevant research.

[2017-09-12 12:52] showell commented on #6298
I opened #6479 for the new bottleneck on this codepath, which is markdown rendering.  Closing this.  There are also some interesting comments on #6441 for some small follow-ups.

[2017-09-12 13:33] timabbott commented on #6477
@brockwhittaker is this quick?

[2017-09-12 13:33] showell opened #6480 "Fix long taps for mobile web."
@brockwhittaker will probably be fixing this.

For my iPhone 7, it has become recently more difficult to reply to messages, because either I don't know how to do a proper long tap or the timing/geometry is just a little off.

[2017-09-12 13:53] pweaver commented on #4839
No it doesn't fully fix the issue. The google boto config depends on it's parent directory/package `google_compute_engine` which is not in the python venv. It works if I symlink the google compute package into the current venv but otherwise still throws import errors.

`ln -s /usr/lib/python3/dist-packages/google_compute_engine zulip-current-venv/lib/python3.5/site-packages/`

[2017-09-12 13:54] soogie opened #6481 "Multi-byte not supported in Math block"
Hi, I'm using zulipchat.com web app.
I have encountered an issue using Multi-byte charactor in Math block.

Multi-byte Charactors such as "日本語"  are well supported except for Math block.

Except Math block : OK
[code]

Math block(single byte) : OK
[code]

Math Block(Multi-byte) : **NOT supported**
[code]
"亜" is the multi byte charactor.
I tried various mult-byte characters in various ways.
Math bl

[2017-09-12 13:56] pweaver commented on #4839
Also, a separate question is weather our boto code will work with google buckets as is or we need to make changes to make it compatible with google buckets.

[2017-09-12 14:54] timabbott commented on #4839
I have no idea whether it'll work with Google's buckets.  Probably we want that to remain something the user configures explicitly, though?

[2017-09-12 14:58] HarshitOnGitHub commented on #6391
Same issue exists for Users and Bots list in organization settings. Those should also be fixed as a part of fixing this.

[2017-09-12 15:26] hackerkid commented on #6408
@zulipbot claim

[2017-09-12 18:58] sarahcstringer commented on #5947
Just checking on the wording on this -- if the setting is ``edit_topics_by_admins_only`` and True is that yes, only admins can edit topics, should the settings checkbox text reflect that? (So instead of "Users can edit the topic of any message" should it be "Only administrators can edit the topic of any message"?)

[2017-09-12 19:23] brockwhittaker commented on #6480
@zulipbot claim

[2017-09-12 20:30] showell opened #6486 "Optimze get_language_list to speed up page loads."
One thing that slows down our page load is that we have 18 supported languages, and we translate each language name into its own language as part of get_language_list, which is called 3 times during page load, so we make 54 calls to the expensive and possibly leaky django.utils.translation.activate().

I think the best way to deal with this is to just create a static file with the languages alread

[2017-09-12 21:02] wangjames opened #6487 "@-mentioning a user not subscribed to current stream gives option to subscribe that user to the current stream"
Today, I wanted to @-mention a user in a thread, but the user was not actually subscribed to that stream that contained the thread.

It then gave me the option to subscribe that person to the stream.

Is this an intended feature? Seems odd that I would be able to change what another user is subscribed to.

[2017-09-12 21:24] wangjames commented on #6295
Maybe at the very least, we can remove the view stream and subscribe button from the display? If you click on subscribe or view stream, it never throws an error, it actually all goes through giving the impression that the org admin can actually subscribe and view the stream. The only time an error is thrown is when you try and actually create a topic in the stream.

[2017-09-12 22:41] synicalsyntax commented on #6487
Yes, this is intended for public streams. Did you encounter this behavior in a private stream?

[2017-09-12 22:44] wangjames commented on #6487
Oh ok, no this was a public stream. Just thought it would be a bug to be able to effectively add a subscription for a user.

[2017-09-12 22:44] #6487 closed

[2017-09-12 22:46] timabbott commented on #6486
Good idea.  This would be pretty easy to do in `zerver/management/commands/compilemessages.py`, which already generates useful files like `language-options.json`.  We can just add this to that.

@umairwaheed are you interested in taking a crack at this?

[2017-09-12 22:57] soogie commented on #6481
I think it happens because of KaTeX.
In this issue, they say to use CJK characters inside `\text{}` block

https://github.com/Khan/KaTeX/issues/380

[2017-09-13 00:19] rishig opened #6488 "bugdown: Allow spaces between $$ for tex."
Currently $$x = 5$$ works, but $$ x = 5 $$ doesn't, for getting tex formatting. We should fix the latter to work as well.

Some discussion at https://chat.zulip.org/#narrow/stream/issues/topic/latex.20spaces.

[2017-09-13 00:34] rishig opened #6489 "hotkeys: Make Ctrl-enter and Shift-enter do the same thing."
Currently, when "enter to send" is on, ctrl-enter does nothing, which is confusing since in many products ctrl-enter would add a newline. Conversely, when enter-to-send is off, shift-enter just adds a newline, whereas one would expect it to send.

It would great to have ctrl-enter and shift-enter act identically, in the compose box. This means:
* Both send when enter-to-send is off
* Both add a ne

[2017-09-13 00:36] lonerz commented on #6489
This is a great issue for someone to learn our hotkey system.

[2017-09-13 00:51] rishig opened #6490 "stats: Add per-graph loading indicator."
Two issues on the /stats page:
* The size of the graphs isn't set until the data is loaded, so the page formatting moves around. We know exactly how big each graph will be (regardless of what data is loaded), since it is set in the plotly code in `stats.js`, so that just needs to be copied over into the CSS.
* It would be nice for each graph to have its own loading indicator.

http://zulip.readthe

[2017-09-13 01:06] rishig commented on #3356
Is this the same as https://chat.zulip.org/help/add-a-custom-linkification-filter?

[2017-09-13 01:25] synicalsyntax commented on #3356
Not sure. This was copy-pasted from leftover GCI tasks.

[2017-09-13 01:41] rishig commented on #3356
got it. I think probably someone wrote the help doc at some point, without closing the issue. Closing now.

[2017-09-13 01:41] #3356 closed

[2017-09-13 04:43] umairwaheed commented on #6486
Sure. @zulipbot claim.

[2017-09-13 06:39] refeed opened #6493 "Message displays weird behaviour when using /me, newline, and quote mark after editing"
When I send a message and edit it with text that contains `/me`, `newline`, and quote mark, the message displays weird behaviour.

See https://chat.zulip.org/#narrow/stream/issues/topic/end.20of.20message.20feed for further information.

![meedit](https://user-images.githubusercontent.com/20320125/30358231-77b9ad3c-986d-11e7-99f0-cbeecb659557.gif)

How to reproduce:
1. Create a message, the conten

[2017-09-13 10:50] rheaparekh commented on #6489
@zulipbot claim

[2017-09-13 10:54] alisha17 commented on #6488
@zulipbot  claim

[2017-09-13 12:25] kritisingh1 commented on #6477
Hi @akashnimare I would like to work on this.
Can you assign this issue to me?

[2017-09-13 15:16] YJDave commented on #5614
@rishig @gnprize I have add crack time and here is it's demo pic. I have add online_throttling_100_per_hour ( ), want to know your opinions
![registerpassnew](https://user-images.githubusercontent.com/25907420/30385059-9be4d0dc-98c3-11e7-9d7d-e755e34f4061.png)
![resetpassnew](https://user-images.githubusercontent.com/25907420/30385064-9ecfafce-98c3-11e7-9eac-e7026b37da9a.png)

[2017-09-13 15:18] YJDave commented on #5614
And want to know that should I replace warnings with suggestions or add suggestions as tooltip of warning or crack time.

[2017-09-13 15:18] akashnimare commented on #6477
@kritisingh1 comment `@zulipbot claim` to claim it.

[2017-09-13 15:30] kritisingh1 commented on #6477
@akashnimare claim

[2017-09-13 15:39] akashnimare commented on #6477
No, you have to comment **@zulipbot claim** only.

[2017-09-13 15:41] kritisingh1 commented on #6477
@zulipbot claim

[2017-09-13 16:48] AThammanoon opened #6503 "why i can't run css and javascip on my server"
css and javascript don't show me in my server

[2017-09-13 16:56] tommyip commented on #6503
Hi @AThammanoon, we might be able to help you if you can give us more information about your problem.

[2017-09-13 16:58] rishig commented on #6503
Hi @AThammanoon, these questions are best asked on chat.zulip.org, in the "#development help" stream. Closing it here. Thanks!

[2017-09-13 16:58] #6503 closed

[2017-09-13 17:01] tommyip commented on #6488
@synicalsyntax zulipbot down?

[2017-09-13 17:04] synicalsyntax commented on #6488
No, the person added `@zulipbot  claim` instead of `@zulipbot claim` (whitespace counts). Assigning now regardless :)

[2017-09-13 17:10] jmandel opened #6504 "Allow mobile push notifications at the stream level"
Using Zulip on mobile currently has the limitation that there's no way to sign up for notifications when traffic happens on a stream of interest. This is an important gap between mobile-vs-desktop functionality, and it would be good close this gap.

[2017-09-13 18:42] sampritipanda commented on #6319
Works fine on Lastpass for me, maybe it's something to do with the way keepass fills the field?

[2017-09-13 18:47] timabbott commented on #6504
This is a duplicate of #6199, which should hopefully be in Zulip 1.7.

[2017-09-13 18:47] #6504 closed

[2017-09-13 18:56] sampritipanda commented on #6252
@timabbott This seems to have been fixed by #6353 right?

[2017-09-13 20:02] showell commented on #6252
Yep, closing.

[2017-09-13 20:02] #6252 closed

[2017-09-13 20:48] alenavolk commented on #5676
@zulipbot claim

[2017-09-13 22:49] gnprice opened #6507 "Evaluate switching to RapidJSON (from ujson)"
In speed-critical codepaths like message send, we use `ujson` ("UltraJSON") as our JSON implementation, because it's faster than the `json` in the stdlib, or `simplejson` which is the PyPI version (so can be more up to date) of the same library.

Speed is cool, but unfortunately on the other hand it's kind of buggy; see e.g. #6332. And unfortunately that's not an isolated issue; quoting myself fro

[2017-09-14 00:21] rishig opened #6509 "onboarding: Send new user "say hello" messages to a more restricted stream."
The last few messages of https://chat.zulip.org/#narrow/stream/issues/topic/czo.20notifications has some context.

* Add a "signups" stream realm setting, that defaults to "#core team". If core team gets renamed, it should be updated as well. If core team gets deleted, it should get updated to None / disabled.
The UI for the setting should be similar to
![image](https://user-images.githubuserconte

[2017-09-14 00:40] rishig opened #6510 "compose: Back button clears compose box."
To reproduce,
* open a compose box
* click on a stream (not your current one)
* use alt-left or the browser back button to go back

Ideal behavior: compose box stays open
Currently: compose box closes

This comes up if e.g. you're composing something, you click on a desktop notification to see a new message, and then want to go back.

[2017-09-14 00:47] lonerz commented on #6489
@rheaparekh Can you accept the GitHub invite to the organization so I can assign you this task directly?

[2017-09-14 00:53] lonerz commented on #6477
@kritisingh1 Can you accept the GitHub organization invite, so I can directly assign you this task?

[2017-09-14 01:07] rishig opened #6511 "Add user setting to get all stream messages in email."
Currently we have this setting for Desktop and Audible notifications, and mobile notifications are coming soon. Email is the last one left! Having this setting will make it easier for people to interact with Zulip via email.

Most of the change can parallel the work done for the push notifications setting: https://github.com/zulip/zulip/pull/6199/

The relevant settings page is https://localhost:9

[2017-09-14 01:43] rishig opened #6512 "onboarding: Keep 80 messages unread on start and after bankruptcy."
There are two situations where I think it makes sense to give the user a few recent messages: 1) when they just join the realm, and 2) after bankruptcy. It solves the "now what" question you get when presented with a realm with 20 streams, with no obvious thing to click on next.

As a first pass, let's keep the 80 most recent messages unread, in both situations.
https://chat.zulip.org/#narrow/stre

[2017-09-14 04:22] YJDave commented on #5614
@rishig @gnprice I have made some changes. Please check this out.
![resetfinal](https://user-images.githubusercontent.com/25907420/30412006-48aa7812-9932-11e7-8bbf-bcd9aeaec931.png)

[2017-09-14 05:11] kritisingh1 commented on #6477
@lonerz I have accepted the GitHub organization invite. Thanks a lot.

[2017-09-14 07:20] brockwhittaker commented on #6477
Let me know if you need any help @kritisingh1, would be happy to help. :)

[2017-09-14 07:34] rheaparekh commented on #6489
@lonerz I have accepted the invite. Can you review the PR?

[2017-09-14 09:28] #6486 closed

[2017-09-14 10:28] timabbott commented on #6511
@sarahcstringer this might be an good follow-up to the notifications work you've been doing.

[2017-09-14 12:03] timabbott commented on #6391
Tagging this as a high priority so we don't miss fixing it or reverting the change before the next release.

[2017-09-14 12:06] timabbott commented on #3820
Cool, I also can no longer reproduce.  Thanks folks!

[2017-09-14 12:49] timabbott commented on #6504
This was just merged; we'll be testing this out on chat.zulip.org over the next few days.  Feedback appreciated!

[2017-09-14 12:50] timabbott commented on #6132
This was merged via #6199 thanks to some great work by @sarahcstringer!  There are a few follow-ups documented in that PR, which hopefully we can dispatch in the next few days.  I am deploying to chat.zulip.org now to make it easier to test.

[2017-09-14 12:50] #6132 closed

[2017-09-14 12:58] timabbott commented on #6120
https://github.com/zulip/zulip/pull/6418 addressed the main ones.  @rishig do you have more concrete things do here?  If not, we should close.  @synicalsyntax FYI since I know you looked at what other hotkeys might want this feature.

[2017-09-14 13:22] timabbott commented on #6510
This seems reasonably important to fix.  Since we already control the behavior of what happens with the back button, I think this shouldn't be super hard to fix.  Worth reading the `hashchange.js` code when working on this.

[2017-09-14 13:33] timabbott opened #6515 "search typeahead: Doesn't handle spaces in people's names when typing "sender:tim abbott ""
If you try to do e.g. "sender:tim abbott", it treats the two parts of the person's name as separate tokens, and thus offers things like "sent by tim, pm with Tim Abbott":
![image](https://user-images.githubusercontent.com/2746074/30432438-8f2dfbf4-9916-11e7-9114-8cae29bf0f75.png)

This seems like something our typeahead could figure out.

@cory2067 this might be quick for you :)

[2017-09-14 13:34] timabbott commented on #6427
Linking to the thread here:

https://chat.zulip.org/#narrow/stream/development.20help/subject/moving.20topics.20between.20streams/near/278243

[2017-09-14 13:37] timabbott commented on #44
@dreid cool, thanks for the info!  I think a major thing we need to see happen in the near future to support this is that Heroku needs to support the pgroonga postgres extension that we use for full-text search.  It would be great if folks who are interested in this contacted Heroku support about whether they can make that available (it's the main customization to a popular third-party dependency

[2017-09-14 13:41] timabbott commented on #6327
`test_decorators.py`, sorry for the typo above.

[2017-09-14 13:41] timabbott commented on #5677
@gnprice probably worth trying to close this issue out this week.

[2017-09-14 13:55] timabbott opened #6516 "Buggy upgrade process from 1.4.x to 1.6.x and above"
Migration 0032_verify_all_medium_avatar_images.py uses code from `zerver.lib.upload`, which was changed between 1.5 and 1.6 to make different assumptions about the paths avatars are in (there's a later migration that takes care of this, 0060_move_avatars_to_be_uid_based.py; the change was to add the realm_id as a directory in the paths, and also to hash on user ID, not email).

What we need to do

[2017-09-14 14:36] timabbott commented on #752
OK.  It's interesting that more folks are interested in this feature.  I definitely encourage anyone else who comes across this issue and wants it to post.  It would likely be easy to implement and maintain an official "disallow private messages" setting using roughly that approach, so if someone's willing to do the work (including adding tests), we could potentially add this as a supported featur

[2017-09-14 14:48] timabbott opened #6518 "Add some sort of reasonable retry support for missed_message queued emailed"
For missed-message emails, we now somewhat regularly get exceptions like this in production:

[code]

(Another version is:
[code]
)

I think we want catch these two classes of exceptions in the queue worker email code paths, and just re-enqueue the event to be handled later once things are working again (maybe with some limited retry count like 3 per item), and only throw an exception if it fails

[2017-09-14 15:03] timabbott opened #6519 "Errors when deleting uploads are not displayed to the user"
If you modify the `delete_message_image` function to throw an exception (or otherwise throw an error, I imagine), there's no user-facing feedback about the error when a use tries to delete a file in the web UI (in settings -> Your uploaded files), which is confusing.  We should be able to fix this using our standard `ui_report.error` system.

[2017-09-14 15:14] timabbott opened #6520 "Exception with NULL characters in emails going into the email mirror"
I got this exception in the email mirror code path in production:

[code]

I don't think the email mirror has a clear maintainer, so probably someone will just need to dig into the code to investigate this.  It's fairly likely that the correct fix probably involves discarding the NULL characters from the email.

For someone working on this, I'd first write a (failing) test that includes an email w

[2017-09-14 15:15] timabbott commented on #6382
Yeah, we probably just want to disable all of the multi-line features.  Whitelist is the right approach for something like this.

[2017-09-14 15:16] timabbott commented on #6380
@shubhamdhama this is a good idea!  Since we already have code to render the profile popover if you click on a user, I think this should be an accessible project for a new contributor.  I'd start by finding the code for the click handler on a user's avatar, and then work from there.

[2017-09-14 16:02] synicalsyntax commented on #6120
The only other keyboard shortcut I could identify as non-nilpotent was the `v` hotkey that Joshua just implemented the behavior for, so I don't think there's much else to do there.

[2017-09-14 16:47] Ret3z opened #6524 "Why your webapp must click Press Enter to send for click enter to send"
Why did not you create an enter and send it anyway?

[2017-09-14 16:54] AThammanoon commented on #6524
claim bot

[2017-09-14 17:17] timabbott commented on #6120
OK, closing, thanks folks!

[2017-09-14 17:17] #6120 closed

[2017-09-14 17:48] synicalsyntax commented on #6524
We already have that option which you can enable by checking the checkbox labeled "Press enter to send".

[2017-09-14 17:48] #6524 closed

[2017-09-14 19:42] hackerkid commented on #6344
@zulipbot claim

[2017-09-14 20:11] lonerz commented on #1180
Going to abandon this for now to keep @zulipbot from commenting inactive warnings. Anyone else can take this up as I didn't get to work much on it.

@zulipbot abandon

[2017-09-14 21:52] wangjames commented on #5775
Waiting for the issue as mentioned above

[2017-09-14 21:53] gnprice commented on #5614
@YJDave Great! Would you send your changes as a pull request to this repo? That'll let us all read your code, so we can discuss it and merge it. Screenshots like that are super helpful and will be great to include in the pull request.

[2017-09-15 01:24] rishig opened #6534 "bugdown: Disallow certain markdown characters in stream and user names."
We should disallow the following four characters from stream names and userprofile names: `*`, `#`, `@`, and ` (backtick).

This will also need a migration to remove those characters from existing stream and users names. They can all be replaced by ' ' (space), and then the name can be stripped. (E.g. a stream name like `#a@b` should end up as `a b`.)

[2017-09-15 01:47] YJDave commented on #5614
@gnprice
Yes, I have submitted #6513 PR for this. I am writing tests for function which I have included in static/js/common.js

[2017-09-15 05:39] umairwaheed commented on #4733
(Waiting for a review)

[2017-09-15 05:39] umairwaheed commented on #6518
Yep. @timabbott claim.

[2017-09-15 06:21] 13nehu commented on #6380
@zulipbot claim

[2017-09-15 07:52] timabbott opened #6538 "Add a unit test suite for process_message_event"
`process_message_event` in `zerver/tornado/event_queue.py` has some of the most important logic in Zulip: When to send push notifications to users.  It has pretty good test coverage at this point from generic message sending code paths, but it doesn't have anything verifying its actual logic in deciding when to send email and push notifications to users.  We should add a unit test suite for this.

[2017-09-15 07:58] timabbott commented on #6534
One thing we'll need to be careful about in the migration is dealing with potential duplicate stream names created.  We can probably handle those the same way we handle name conflicts when deactivating streams (just append a number to the end, counting up, until there's no conflict).  Search the code for DEACTIVATED for example logic.

[2017-09-15 08:23] timabbott commented on #6479
We just merged #6531, which significantly optimizes the performance of fetching data for things like mentions in the case where the message doesn't actually contain any mentions.

[2017-09-15 09:18] timabbott opened #6541 "Topic edit doesn't work for locally echoed messages"
Reproducer:

* Modify MessageSenderWorker's `consume` method to raise an exception, so that one can't send messages, with a silent failure.
* Send a message to a new topic
* Try to edit it using the topic edit feature in the recipient bar.

You'll get an exception:
[code]

I think this is something we'll want to fix by just not making the topic-edit UI available when the only messages in a recipie

[2017-09-15 10:05] timabbott opened #6542 "Fix testing framework for queue processors"
The way it currently works is that you pass `queue_json_publish` a function that it should call in the event that RabbitMQ doesn't exist (i.e. for the test suite) instead of sticking the event in the queue.  Usually, that function is the same function that we call inside the `consume` method for the corresponding queue processor, but sometimes it's slightly different.

We want to move towards a wo

[2017-09-15 10:30] timabbott opened #6543 "Add lint rule banning `from os.path import`"
In the Zulip project, our style is to always import stdlib modules from their normal path, e.g. `import os.path` and then access `os.path.dirname`, not `from os.path import dirname`.  Since we do it almost everywhere, we should finish making the style consistent and label it with a lint rule.

This needs to be done in 2 steps:
* First, clean out the existing cases of `from os.path`; there's about

[2017-09-15 10:48] timabbott commented on #5292
https://github.com/hashicorp/vagrant/issues/7504 is why its being printed twice.  I decided to just document that fact in the error message, link to the issue in the comments, and merge this.  Thanks @hackerkid!

[2017-09-15 10:48] #5292 closed

[2017-09-15 10:53] timabbott commented on #6295
Yeah, I think that sort of simple visual change to not display the interaction buttons and then also add a notice about the stream makes sense.

[2017-09-15 11:23] alisha17 commented on #6488
@zulipbot abandon

[2017-09-15 11:23] alisha17 commented on #6543
@zulipbot claim

[2017-09-15 11:33] rheaparekh commented on #6534
@zulipbot claim

[2017-09-15 11:51] timabbott opened #6544 "Add a good test suite for our logic for putting Zulip messages in emails"
The way I'd probably implement that test is in 2 stages: (0) Extract relative_to_full_url as its own function, perhaps, (1) Add unit tests for specific types of syntax used there, and (2) take the sample test messages from `zerver/fixtures/markdown_test_cases.json` and run the URL rewriter tool on them, and add an assert that the results don't contain any relative URLs (might try to look for `['"]

[2017-09-15 13:18] timabbott commented on #4817
One good way to implement a first version of this quickly would be to use the logic of `build_message_list` that we use for generating digest emails.  It wouldn't be pretty, but that would make it very quick to get something working.  See also #6544.

[2017-09-15 14:07] timabbott commented on #6254
We definitely fixed the first item; I marked it as done.  What's the status on the last 2?

[2017-09-15 14:15] showell commented on #6254
I'm happy with the third, so I checked that off.  There's been no progress on #2.

[2017-09-15 14:24] timabbott commented on #6254
OK.  I added a few items to the above.

[2017-09-15 15:43] kritisingh1 commented on #6510
@zulipbot claim

[2017-09-15 16:03] rishig opened #6546 "hotkeys: Add a meta+v hotkey for narrowing to what is in the compose box."
There are a few cases
* stream but no topic (narrow to stream)
* steam and topic, and topic has existing messages (narrow to topic)
* PM with people where there exists a message to that PM (narrow to that PM)

A few corner cases:
* stream and topic, and topic has no existing messages (narrow to stream)
* PM with people where there doesn't exist a message to that PM (narrow to the "you have no PMs

[2017-09-15 16:05] rishig opened #6547 "hotkeys: Add shift-d to restore last draft."
Currently `d` and then `enter` restores last draft; this should just match that behavior.

[2017-09-15 16:10] rishig opened #6548 "hotkeys: Add x for composing to PM."
It should do the same thing that `C` currently does. Remember to also update the on hover instructions, and the keyboard shortcuts help.

All traces of `C` should be removed from the documentation/help. Check or ask on https://chat.zulip.org/#narrow/stream/design/topic/pm.20hotkey to see what the consensus ends up being on whether to allow `C` to continue working in the code.

[2017-09-15 16:22] showell commented on #6546
I removed the bite-sized label, because this is actually a fairly advanced issue, due to the corner cases.  Folks who work on this should have completed a few easier PRs, and they should know our node testing framework.

[2017-09-15 17:00] timabbott commented on #4839
Tagging this as a priority since it seems to keep happening.

[2017-09-15 17:14] showell opened #6549 "Fix empty space in lower left corner (under stream sidebar)."
We have empty space under the left sidebar, and this is a pretty crucial piece of screen real estate for folks on large realms with many streams.

We think this space was reserved for realm switching at one point, but for now we should have the stream sidebar overflow into it.

[2017-09-15 17:19] kritisingh1 commented on #6547
@zulipbot claim

[2017-09-15 17:33] timabbott commented on #210
This is fixed via #6494.  Thanks everyone and especially to @Supermanu for fixing this!

[2017-09-15 17:33] #210 closed

[2017-09-15 17:48] brockwhittaker commented on #6549
@zulipbot claim

[2017-09-15 17:59] showell opened #6550 "Fix stream member list when creating streams."
I am pretty sure this is a regression.  When you create a stream, as you check off each member to add, I believe we had a UI element that showed all the users you had added so far, but it seems to have gone away.  For large realms, the current experience is barely usable.  Hopefully this is just something silly like a selector got renamed or something.

[2017-09-15 18:10] timabbott commented on #4842
I think we fixed this recently.  Thanks for flagging it.

[2017-09-15 18:10] #4842 closed

[2017-09-15 18:11] timabbott commented on #6079
@borisyankov have we improved the error message in the mobile app for this yet?  Regardless we should probably close this and move it to be a mobile issue, so I'm closing here.

[2017-09-15 18:11] #6079 closed

[2017-09-15 18:13] timabbott commented on #353
We upgraded the font a few weeks ago, so this should be resolved.  @melbel @ritschwumm @asmartin is any of you able to confirm on chat.zulip.org that this is fixed?  I'm going to close now given the age, but will happily reopen if anyone reports the issue is still present, since I do think its important this be fixed.

[2017-09-15 18:13] #353 closed

[2017-09-15 18:21] timabbott opened #6551 "desktop: Show a warning to all clients using ZulipDesktop User-Agent on page load"
The warning should say something like this:

"Hello!  You're using the unsupported old Zulip desktop app, which is no longer developed.  We recommend switching to the new, modern desktop app, which you can download at zulipchat.com/apps."

I think we can have it be displayed in the same top notifications area we show network alerts, but probably we don't want the color to be red, since that's prob

[2017-09-15 20:03] NjeriNjoroge commented on #1998
Hi, I'm Grace I have a background in Android development. I'm interested in working on this project, please tell me where to start

[2017-09-15 20:12] synicalsyntax commented on #1998
Hi @NjeriNjoroge, you can try claiming this issue by commenting `@zulipbot claim` in a separate comment, and we'd be happy to talk to you at https://chat.zulip.org :)

[2017-09-15 20:17] NjeriNjoroge commented on #1998
@zulipbot claim

[2017-09-15 21:09] brockwhittaker commented on #6550
I'm unaware of this mechanism actually. I also don't see any elements that appear to be containers for such a thing. Any thoughts/leads on this?

[2017-09-15 21:31] showell commented on #6550
It's possible that the UI has always been like this.  I'm closing this.  We really need to use the add-subscriber UI here, it's at least a little more friendly, although it will be slightly complicated with copy-from-stream.

[2017-09-15 21:31] #6550 closed

[2017-09-15 21:32] gnprice commented on #5614
Sounds good -- but let's have this discussion on the PR thread, as it'll be easier to follow there :)

[2017-09-15 23:17] sampritipanda commented on #5688
@showell Can you still reproduce this bug? The UI transition did work fine for me.

[2017-09-15 23:43] showell commented on #5688
This seems to have been fixed.  The UI transition worked for me as well.  Closing.  Thanks @AnupKumarGupta and @sampritipanda for looking into this, and sorry it was a false alarm.

[2017-09-15 23:43] #5688 closed

[2017-09-16 02:27] YJDave commented on #5614
okay

[2017-09-16 02:53] rishig opened #6564 "stats: Remove hourly data from messages sent over time."
Plotly struggles to render and display the tens of thousands of hourly points in a realm that's been up for more than a few months.

I think the only file that needs to be touched is stats.js (and possibly stats.html and stats.css), i.e. no backend changes are needed.

http://zulip.readthedocs.io/en/latest/analytics.html#analytics-ui-development-and-testing might be helpful reading.

This would be

[2017-09-16 04:03] #6298 closed

[2017-09-16 08:03] #6155 closed

[2017-09-16 09:29] timabbott opened #6566 "UI to change email is broken: can't click into text box in modal"
This is a pretty bad regression.

See https://chat.zulip.org/#narrow/stream/issues/subject/not.20able.20to.20change.20email.20address/near/282919

[2017-09-16 10:02] #6551 closed

[2017-09-16 10:28] #6516 closed

[2017-09-16 10:33] penCsharpener opened #6567 "Organisation settting: disable missed message emails"
I think this setting is useful for those who don't have the most generous mail provider and aren't willing to pay for a plan. And it also depends on how the server is used since what's doesn't send out emails or sms either. Otherwise the admin might have to ask all his users to turn off that setting in their accounts settings.
The only really necessary emails are registration, server errors for th

[2017-09-16 10:34] vbNETonIce commented on #6567
Would it work to apply an update query to the entire column(s) of that setting in the database to turn it off for all users?

[2017-09-16 10:45] #6566 closed

[2017-09-16 10:57] #6327 closed

[2017-09-16 15:17] #6112 closed

[2017-09-16 15:22] timabbott commented on #6291
@brockwhittaker is this something you're still working on?

[2017-09-16 15:28] #6250 closed

[2017-09-16 15:33] #5726 closed

[2017-09-16 15:37] synicalsyntax commented on #5719
@timabbott Getting a 502 Bad Gateway error to chat.zulip.org, can you investigate?

[2017-09-16 15:38] timabbott commented on #5719
Yeah, I deployed some broken code.  On it.

[2017-09-16 15:41] timabbott commented on #5719
Back.

[2017-09-16 16:19] timabbott commented on #6519
@hackerkid you should probably fix this while you're working on that page.

[2017-09-16 16:20] timabbott commented on #6481
Interesting!  We could probably re-encode the text that's passed into KaTeX to make this work.

[2017-09-16 16:21] timabbott commented on #6321
We haven't seen this since merging the retry, have we?

[2017-09-16 16:58] rishig commented on #6548
Sounds good! And yeah, a modal popup or something similar to our "you've just muted a topic" popup would be pretty reasonable if we do decide to get rid of `C`.

[2017-09-16 18:17] NjeriNjoroge commented on #1998
Hi, I have already claimed this task. Please give me some guidance on how you would like me to tackle this

[2017-09-16 18:43] synicalsyntax commented on #1998
Hi @NjeriNjoroge, mind starting a topic on the [#integrations](https://chat.zulip.org/#narrow/stream/integrations) stream with your questions so we can discuss how to move forward?

[2017-09-16 22:31] rishig opened #6570 "user setting: "Mobile push notifications always" should be a sub-setting."
Currently you can have the following state, which doesn't make sense:
![image](https://user-images.githubusercontent.com/890911/30516420-c358411c-9af3-11e7-8b96-a10fe15d7501.png)

The second setting should be indented and be a sub-setting of the first. You should only be able to turn it on if its parent is on.

You can get to the settings notifications page via https://localhost:9991/#settings/not

[2017-09-16 23:30] alirizwi commented on #6570
@rishig  @zulipbot claim

[2017-09-17 00:00] nalinbhardwaj commented on #6362
@timabbott There is a solution here, to use `document.execCommand` to insert text instead of using `$.caret()` since that logs stuff into browser stack. Are there any reasons to not switch to `document.execCommand`? It seems to work fine for all cases I tried.

[2017-09-17 10:30] invinciblycool commented on #4169
@timabbott @wangjames Mind if I take this.

[2017-09-17 12:35] YJDave commented on #6319
Yes, It has to do with the way keepass fills the field, but there should be a solution. I like to solve this issue.
@zulipbot claim

[2017-09-17 12:43] shubhamdhama commented on #6061
still working

[2017-09-17 13:27] imjog commented on #6043
I want to work on it. I am new here.

[2017-09-17 13:47] mahimg commented on #6043
As the issue mentioned #5926 is still a work in progress, I would wait for a reply from @vaidap before starting on this.

[2017-09-17 13:51] kpdp commented on #6473
@zulipbot claim

[2017-09-17 15:34] KiranShahdadpuri commented on #6490
Hi, I would like to work on this issue.
Could it be assigned to me.

[2017-09-17 16:06] synicalsyntax commented on #6490
Hi @KiranShahdadpuri! Comment `@zulipbot claim` on this issue and a bot will assign this issue to you :)

[2017-09-17 17:24] jackrzhang commented on #5804
@zulipbot claim

[2017-09-17 17:29] KiranShahdadpuri commented on #6490
@zulipbot claim

[2017-09-17 17:38] KiranShahdadpuri commented on #6490
@zulipbot claim

[2017-09-17 18:13] timabbott commented on #4169
@invinciblycool it looks like I actually already fixed this 10 days ago, but forgot to merge the commit!  Just merged.  Thanks for the reminder, but there's nothing to be done here :)

[2017-09-17 18:14] #4169 closed

[2017-09-17 18:15] timabbott commented on #6362
Check the browser compatibility situation for it; I don't know that feature.  @brockwhittaker I'd like your thoughts on this as well.

[2017-09-17 18:15] timabbott commented on #6362
But I think it'd be reasonable to make a PR switching to using it, since I'm guessing it'll be a good approach.

[2017-09-17 18:35] showell opened #6574 "performance: Prevent duplicate reactions query in do_send_messages."
It's a quirk of our message-sending code that we produce two nearly identical dictionaries for messages being sent:

[code]

The `message_to_dict` code is mostly fast enough that the duplication is negligible, but it does lead to an extra query on the Reaction model.

Fixing this cleanly requires a bit of refactoring.  It shouldn't be a super messy refactoring, but we do want to be thoughtful abou

[2017-09-17 20:23] sampritipanda opened #6575 "hotspots: Narrow links don't work if user hasn't completed tutorial."
If a new user tries to open a narrow link while he is doing the tutorial, it redirects them to the `is:private` narrow.

More discussion here: https://chat.zulip.org/#narrow/stream/issues/topic/narrow

The problem seems to be with this piece of code in `tutorial.js`

[code]

[2017-09-17 20:44] HarshitOnGitHub opened #6576 "hotspots: Weird behavior on scrolling up/down."
If I start scrolling up/down while a hotspot is being displayed in the message feed it starts splitting into a number of hotspots. See the screen recording below to understand the issue more clearly:
https://chat.zulip.org/user_uploads/2/88/JFkL4fWxhBIff0ofS8hoHK8z/anim.mp4

[2017-09-17 20:45] HarshitOnGitHub commented on #6576
@zulipbot label "bug" "help wanted"

[2017-09-17 21:51] HarshitOnGitHub opened #6578 "sign_up: Strip the whitespaces before and after the email address."
If I copy and paste an email address from somewhere and that email address happens to contain some trailing or leading whitespace then an error is shown stating that it is an invalid email address which may be confusing. We should strip off the trailing or leading whitespaces before checking for the validity of an email address. Same thing happens on sign in page.
![image](https://user-images.gith

[2017-09-17 21:58] HarshitOnGitHub opened #6579 "missed_messages: Fix the misalignment of emojis with text."
This seems to be a recent regression to me.
![image](https://user-images.githubusercontent.com/16687990/30525282-3a0f2860-9c21-11e7-93ba-7abfe47afc5b.png)

@zulipbot label "area: notifications" "area: emoji" "bug"

[2017-09-17 23:05] HarshitOnGitHub commented on #6324
@timabbott Wouldn't running such a test at all the travis builds slow down builds a lot? `pip-compile` doesn't cache VCS dependencies and on each invocation needs to download them(https://github.com/jazzband/pip-tools/issues/84).

[2017-09-18 03:39] nalinbhardwaj commented on #6362
Acc. [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand#Browser_compatibility), it works with all major browsers.

[2017-09-18 05:56] brockwhittaker commented on #6362
My only concern is that safari 9 (incompatible) is only a year old, but otherwise it has all the support we care about.

[2017-09-18 05:59] brockwhittaker commented on #6391
Fixing this and possible update issues with the other scrollbar implementation on the settings page!

[2017-09-18 06:48] timabbott commented on #6362
OK, well can we check if it's supported, use it if so, and otherwise fall back to $.caret, with a comment noting that the jquery.caret case is only needed for Safari 9?

@nalinbhardwaj we should also perhaps audit the codebase for other use of $.caret that we should switch ($.caret has other uses that I imagine wouldn't be convertible).  If so we might want to have a Zulip helper function in `util

[2017-09-18 06:55] nalinbhardwaj commented on #6362
@zulipbot claim

[2017-09-18 10:00] lonerz opened #6581 "Refocus compose box after clicking link always focuses to the message content box"
Even though my caret was in the stream/topic boxes, when I clicked a link, it always moved my caret to the content section of the compose box. We probably want to return the caret back to its original position if possible.

Related to #4331 and #6425.

[2017-09-18 13:06] YJDave commented on #6319
@rishig I have check this issue, it's working fine in my case. So if you can share GIF so I can find it's error.
That how exactly when you pass, it's not affecting bar.

[2017-09-18 14:58] nalinbhardwaj commented on #6362
So, after some testing I've realised that the implementation of `document.execCommand` is actually extremely buggy in FF(even latest version), for example [this fiddle](https://jsfiddle.net/nibnalin/cvdavedu/) doesn't work correctly in firefox.

One solution I found on [SO](https://stackoverflow.com/a/41732788) was to use change textarea.val() without using execCommand, however, I am not sure if t

[2017-09-18 18:17] brockwhittaker commented on #6362
The problem is that that will change the caret position to an undesirable position, right?

[2017-09-18 22:30] HarshitOnGitHub opened #6586 "emoji: Use emoji datasource npm package for serving emoji images in missed message e-mails."
This is the last blocker issue for emoji web PR. We need to complete this to ensure so that we don't break the rendering of emojis in missed message emails due to missing images in our old emoji farm. Once this is done it will be possible to get emoji web PR get merged.

@zulipbot label "area: emoji" "area: notifications"
@zulipbot claim

[2017-09-18 23:56] hackerkid opened #6588 "Upgrade django-auth-ldap to latest version"
You should get this error when you run `./tools/test-backend` after you upgrade to latest version. I tried on ` 1.2.15 `

[code]

[2017-09-19 08:26] HarshitOnGitHub commented on #6579
@zulipbot claim

[2017-09-19 09:38] verma-varsha commented on #6548
@zulipbot claim

[2017-09-19 12:04] sampritipanda commented on #6515
@zulipbot claim

[2017-09-19 12:26] verma-varsha commented on #6548
@zulipbot claim

[2017-09-19 16:00] HarshitOnGitHub opened #6593 "notifications: Improve the regex used for replacing the relative URLs."
Improve the regex URLs in the `zerver/lib/notifications.py` file so that it replaces only relative URLs not absolute URLs. Follow up issue of PR #5813.

@zulipbot label "area: notifications"
@zulipbot claim

[2017-09-19 21:47] YagoGG commented on #6488
@zulipbot claim

[2017-09-20 00:40] timabbott commented on #6593
Is this the same as #6544?

[2017-09-20 01:46] #6549 closed

[2017-09-20 01:48] synicalsyntax commented on #6391
@brockwhittaker @timabbott It was reported that the same issues were being observed in the Users/Bots pages, and I don't think the merged commit fixes those issues?

[2017-09-20 02:48] timabbott commented on #6391
Can you reproduce that on chat.zulip.org?  Scrolling works fine for me on those pages.

[2017-09-20 02:49] timabbott commented on #6351
Pinging @brockwhittaker about this.

[2017-09-20 03:00] synicalsyntax commented on #6391
[![https://gyazo.com/73e4001e0eb3680c705ec5cc6a228574](https://i.gyazo.com/73e4001e0eb3680c705ec5cc6a228574.gif)](https://gyazo.com/73e4001e0eb3680c705ec5cc6a228574)

[2017-09-20 03:08] timabbott commented on #6391
Ahh, I see, it's a vertically narrow window (I think the perfectScrollbar area inside has a fixed height); I feel like for those, the bug might be that we should just have the one scrollable area.  @brockwhittaker thoughts?

[2017-09-20 03:16] timabbott commented on #6324
We could test it.  We only have a handful, and Travis CI has fast network, so I wouldn't expect this to add more than 10 seconds or so.

But maybe a good next thing to try is to rename the files so that the input ones have names like `dev.txt.in` and the in-use ones have names like `dev.txt` in the hope that it makes it obvious how it works?

[2017-09-20 03:33] brockwhittaker commented on #6391
Yeah I’ll just fix the table height to be less tall!

On Tue, Sep 19, 2017 at 20:08 Tim Abbott <notifications@github.com> wrote:

[2017-09-20 07:02] rht commented on #6324
The extra time for the download was in my concern too. Such thing isn't required at all in yarn, or in any package manager.

I'm voting to have "lock" to remain in the requirements name, as is the convention of Pipfile (the upcoming standard). Tho hoping to see a consensus from the community on which makes the most sense / least confusing:

- dev.txt, dev_lock.txt (current)
- dev.txt.in, dev_lock.

[2017-09-20 12:21] jainkuniya opened #6601 "Left bar is scrolled to end after automatic reload."
After reload of the page, (reloads which occurs automatically after resuming Zulip tab after a long time) streams list is always scrolled to end . Facing this issue from last few days, before it was working fine.

<img width="248" alt="screen shot 2017-09-20 at 5 10 50 pm" src="https://user-images.githubusercontent.com/18511177/30643350-3342c052-9e2c-11e7-8008-f6d4d50fca8a.png">

https://chat.zuli

[2017-09-20 15:42] HarshitOnGitHub commented on #6593
Closing as duplicate of #6544.

[2017-09-20 15:43] HarshitOnGitHub commented on #6544
@phansen01 Are you planning to work on this or can I take this up?

[2017-09-20 15:45] phansen01 commented on #6544
Go for it 🤘

[2017-09-20 15:47] HarshitOnGitHub commented on #6544
@phansen01 Thanks for such a fast reply! :smiley:

@zulipbot claim

[2017-09-20 16:10] nwshane opened #6605 "New Feature: "My Topics""
I was thinking it'd be nice to have a "My Topics" view accessible at the top left (below Mentions for example) that would show you all of the topics you've written on. The topics could be ordered by which are most active, so the one that has been written on most recently would be at the top.

I often find on Zulip that it's hard to keep track of topics I've written on unless someone specifically t

[2017-09-20 16:12] nwshane commented on #6605
If this is something people want, I might be able to take this on myself. (Not a promise - I have to take a look at the code first to see how long this feature would take and whether I understand it well enough to implement.)

[2017-09-20 16:18] nwshane opened #6606 "Subscribe to new thread scrolls to top of window"
I subscribed to a bunch of threads a while back, and found it a little frustrating because every time I clicked the check button to subscribe, it would scroll my window to the top of the page. I'd then have to scroll back down to where I was before, which when you're subscribing to a lot of streams adds a whole lot of time. I don't know if this is desired behavior, but I think it would be better i

[2017-09-20 17:31] vishwesh3 commented on #4861
Yup! this is definitely fixed 👍 🏅

[2017-09-20 17:31] #6579 closed

[2017-09-20 17:59] timabbott commented on #6606
@nwshane thanks for the bug report!  This seems like a priority issue to me.  @brockwhittaker I think we have explicit code for this code path, so maybe we just need to tweak that?

[2017-09-20 23:57] gnprice opened #6612 "Error in missed_message hook when user first goes offline"
We've begun seeing exceptions like this one on chat.zulip.org:
[code]

Here `missed_message` is the parameter of `handle_push_notification` that is just the data that was in the queue -- so that data is missing the `triggers` field. This `triggers` field was added recently, in the code eventually merged on #6535.

Reading the code, it looks like there are two places we put things into the `missedm

[2017-09-21 11:42] timabbott commented on #6612
@sarahcstringer FYI.  I notice a few things looking at `missedmessage_event`:

* We don't have the data for whether `stream_push_notify` is true here; we'll need to attach it to the event.
* It seems like this code path should handle private messages in addition to mentions already, but doesn't!
* I think we could extract this logic into a function shared with the other code path; we just have `id

[2017-09-21 12:08] timabbott commented on #6612
I did a first version of fixing this in #6614.  It'd be great to add tests there, as well as fix the TODO in the second commit (though that is a lower priority).  @gnprice @sarahcstringer can you review when you get a chance?

[2017-09-21 13:00] tommyip commented on #6605
An alternative to this was discussed here #4271

[2017-09-21 13:44] HarshitOnGitHub commented on #6593
This is actually not a exact duplicate of #6544, #6544 aims at adding tests while this aims at improving the regexes themselves. So reopening this. (PR coming soon!)

[2017-09-21 16:08] rishig opened #6616 "stream settings: Joining or leaving a stream resets scroll position."
Description from user:
There's a bug in the list of streams under Settings -> Manage Streams. If I scroll down a ways and join or leave a stream, the list of streams snaps back up to the top.

[2017-09-21 16:09] timabbott commented on #6616
I think this is a duplicate of #6606/

[2017-09-21 16:09] #6616 closed

[2017-09-21 16:11] #6606 closed

[2017-09-21 16:24] rishig opened #6617 "organization settings: Add option to disallow PMs."
There are a few cases where I think this feature would be helpful
* Some public forums are rife with scammers, and PMs are a better medium for scammers than public channels.
* Some story with code of conduct-style abuse.
* Some people hosting public zulips are concerned that people will use their zulip as a free way to chat with their friends.

See also https://github.com/zulip/zulip/issues/752 fo

[2017-09-21 16:36] showell commented on #6617
A related idea here is lightweight private streams, which I discuss here:

https://github.com/zulip/zulip/issues/296#issuecomment-230968103

In a public forum where PMs are turned off, users would presumably still have the option to create 2-person private streams for offline conversations, so that they don't have to install a completely different tool for that.

I guess for use cases where scammi

[2017-09-21 16:52] rishig commented on #6617
We already have an option to turn off all stream creation for non-admins, which would solve the scamming and freeloading situations.

[2017-09-21 18:25] Gyttegott commented on #2606
@zulipbot claim

[2017-09-21 19:16] brockwhittaker commented on #6576
@zulipbot claim

[2017-09-21 22:01] showell commented on #6548
It appears that #6592 replaces this hotkey, without any legacy support for the old key (or warnings).  Which I personally think is fine.

[2017-09-22 05:21] julianasobreira commented on #6543
@zulipbot claim

[2017-09-22 11:56] #6543 closed

[2017-09-22 12:02] #6575 closed

[2017-09-22 12:10] #4230 closed

[2017-09-22 12:18] synicalsyntax opened #6626 "Scrollbars overlap if you scroll over right sidebar and home view near simultaneously"
[![https://gyazo.com/5b35336feef3f3abedb89e0d0d8951f4](https://i.gyazo.com/5b35336feef3f3abedb89e0d0d8951f4.gif)](https://gyazo.com/5b35336feef3f3abedb89e0d0d8951f4)

[2017-09-22 13:30] timabbott commented on #6548
I think we should either include legacy support for the old key or do a warning.  This is one of the most-used hotkeys, and I think many of our major users will think it is a bug if it just stops working.

[2017-09-22 14:13] timabbott opened #6627 "Replace complicated ModelReprMixin system for making str() work on model objects"
Historically, we created this fancy class, ModelReprMixin, which our Django model classes like UserProfile inherit from in order to support printing those model objects nicely on both Python 2 and Python 3.  We dropped Python 2 support, so in theory these should no longer be needed.

Now that we're on Python 3, we can just remove ModelReprMixin and replace the `__unicode__` methods on our model ob

[2017-09-22 15:14] showell commented on #6627
This is a great ticket for a newcomer to Zulip, but who has Python/Django experience from a prior project.

[2017-09-22 16:18] jmandel opened #6628 "Scrolling up sometimes stops loading messages"
Sometimes scrolling to the top triggers a fetch for new messages, but they're not drawn on the screen.

Steps to reproduce:

1. Visit https://chat.zulip.org/#
2. Press `home` to scroll to top, waiting for the older messages to appear on screen
3. Press `home` again to scroll to top, waiting for still-older messages to appear on screen
4. Press `home` again (etc)

Sometimes the spinner icon spins t

[2017-09-22 16:25] timabbott commented on #6628
I just reproduced this in the #integrations stream in Chrome on Linux, exactly as you describe: going down a message makes them appear.  I think this has been around for a long time, since it appears to affect production servers running 1.6, so we'll want to debug this by carefully reading the code path that's supposed to render those messages.  I wonder whether it could be caused by some sort of

[2017-09-22 16:30] jmandel commented on #6628
I see similarly wacky behavior (where the z spins, then stops, and no messages load) scrolling up with two-finger-drag on trackpad, and also with up arrow or `k`. It's not particular to `home`.

[2017-09-22 16:34] lmckenzi opened #6629 "Need a way to temporarily suppress notifications for all streams"
When I'm using Zulip, I'm subscribed to about 40 streams.  Of those, I have notifications turned on for 6 or 7.  I'm happy for those to interrupt me a bit by having notifications appear and having the task bar activate as I'm working.

However, when I'm presenting or otherwise sharing my screen, I would like a way to temporarily mute all streams so that no notifications appear and the task bar doe

[2017-09-22 16:35] lmckenzi opened #6630 "Electron Windows client causes task bar to activate when posts are made to non-notifying streams"
I'm seeing this behavior on Windows 10 when using ZulipDesktop 1.4.0.

Process:
- In the Widnows task bar settings , enable "Automatically hide the task bar in desktop mode"
- In Zulip, pick a high volume stream and in the settings, turn off "Receive Desktop Notifications" and "Receive Audio Notifications"
- Wait until someone posts in the stream
- The task bar will become visible, overlaying part

[2017-09-22 16:39] timabbott commented on #6629
I think this may be a duplicate issue, but this is definitely something I'd like us to work on soon.  Tagging this as a priority.

Note that the Zulip desktop app does have a toggle coming out in 1.5, but it doesn't do everything you describe.  @akashnimare FYI.

[2017-09-22 16:41] lmckenzi commented on #6630
Attaching a screen-shot with more context at the request of @jmandel
![image](https://user-images.githubusercontent.com/4911489/30755115-9f4764d6-9f82-11e7-97a2-a9737225428d.png)

[2017-09-22 16:42] timabbott commented on #6630
@lmckenzi thanks for the report!  Can you move this issue to zulip/zulip-electron?  That's the correct project for this and other desktop app specific issues.

[2017-09-22 16:42] #6630 closed

[2017-09-22 16:43] lmckenzi commented on #6629
I couldn't remember if I'd formally submitted or not.  Did a scan and search and didn't find.  Feel free to close/link if it's already in the list.

[2017-09-22 16:47] lmckenzi commented on #6629
This is on the Electron stream.  Not sure if this is something that should apply to the web client too so not sure which I should close.

[2017-09-22 16:48] lmckenzi commented on #6630
Turns out it's already there.  This one can be closed.  Sorry for the duplicate post.

[2017-09-22 16:52] jmandel commented on #6630
For the sake of linking: https://github.com/zulip/zulip-electron/issues/298

[2017-09-22 16:53] timabbott commented on #6629
I think we should keep this open to track the overall experience we want here, since you have a good writeup of it above, even though some pieces are implemented.

[2017-09-22 16:55] timabbott opened #6632 "Make default mode of cache-cleaning scripts much less verbose"
After doing a production deployment, one gets a ton of distracting output like this about our caches:

[code]

That output is great for debugging, but we probably only want it with a `--verbose` flag.

@HarshitOnGitHub FYI -- do you want to take this?

[2017-09-22 17:11] #6544 closed

[2017-09-22 17:11] #6593 closed

[2017-09-22 17:16] HarshitOnGitHub commented on #6632
@zulipbot claim

[2017-09-22 17:45] lmckenzi opened #6634 "search: Add ability to search for pm "includes""
pm-with only returns searches whose participants exactly match the emails listed in the search.  If you do pm-with:someone@email.org, you'll get individual conversations but not group conversations that involved them.  Sometimes I want to search for conversations that involved a person whether they were individual chats or group chats.  Or I might want to search for a group chat but not want to li

[2017-09-22 17:48] timabbott commented on #6634
@abhijeetkaur did much of the work for this.  Let me see if I can just get that finished.

[2017-09-22 18:10] timabbott commented on #2668
I think with the new docs in #5481, all we need to do here is add a heading and a nice link from the developer docs.

[2017-09-22 18:12] #5481 closed

[2017-09-22 18:24] #2668 closed

[2017-09-22 19:43] rishig commented on #6319
Closing as per https://chat.zulip.org/#narrow/stream/Outreachy.202017-2018/topic/issue.206319. Thanks @YJDave for the thorough investigation!