[2021-03-26 22:21] Signior-X commented on #16038
I have added the fix of this issue in PR #17667 and working on top of it.

[2021-03-26 22:58] alexmv commented on #17768
@aryanshridhar: I thought I saw a notification about this issue, about not being able to replicate it, but I don't see the comment here.  Were you able to replicate?  It's possible that something odd is happening only in production -- #13413 hinted at behaviour that seems different in development.

[2021-03-27 00:47] andersk commented on #14422
What do you think of this simpler solution (#17829)?

[code]

[2021-03-27 01:05] jojoqjchen commented on #17451
@zulipbot claim

[2021-03-27 02:53] alexmv opened #17830 "Fix mocking documentation"
Our [mocking documentation says](https://zulip.readthedocs.io/en/latest/testing/testing-with-django.html#why-is-mocking-useful):
[code]
...this is untrue, and the existence of a variable named the same as a function doesn't change the function call in a _different_ function, because of lexical scoping.

We should rewrite this example to make more sense.  We talk about `patch`, below, so either we

[2021-03-27 02:59] Nyior commented on #17826
@zulipbot claim

[2021-03-27 08:34] hazelsmasher commented on #292
@klonos - Yes, this is exactly my experience/frustration. Did you figure out a workaround for this, or discover something you that you/me/we were missing?

I find it hard to believe this isn't a dealbreaker for more teams, so it stands to reason there is something I'm not understanding yet. Zulip noob, here.

[2021-03-27 08:50] klonos commented on #292
@hazelsmasher no, no workaround unfortunately. I'm still being tormented by this.

[2021-03-27 08:54] hazelsmasher commented on #292
....wow. So do you just use the "Recent Topics" view to access individual Topics directly? That's what I've been doing...

[2021-03-27 17:44] shuvam09 commented on #17824
@zulipbot claim

[2021-03-27 17:44] najlase commented on #17823
@zulipbot unclaim

[2021-03-27 17:45] najlase opened #17838 "UX improvement: show a msg when no results are found when filtering streams"
**Issue**: when filtering streams, no message indicates that there are no results that match the query.

![Screenshot 2021-03-26 213730](https://user-images.githubusercontent.com/44806328/112728330-f8c32580-8f26-11eb-9f91-e3815e16f7fc.png)

[2021-03-27 17:45] najlase commented on #17838
@zulipbot claim

[2021-03-27 19:05] MSurfer20 commented on #17796
This system already exists, but the validation wasn't being done in this case because /events and /register were excluded from that validation. The PR addresses this issue instead.

[2021-03-27 19:14] najlase opened #17842 "UX improvement: display "user not found" for invalid user search query"
**Issue:** when searching for a user, if no results are found there is no message to indicate it.

![image](https://user-images.githubusercontent.com/44806328/112731565-6592eb80-8f38-11eb-8287-e848c537dfe8.png)

[2021-03-27 19:14] najlase commented on #17838
@zulipbot unclaim

[2021-03-27 19:15] najlase commented on #17842
@zulipbot claim

[2021-03-27 20:43] najlase commented on #17842
@zulipbot unclaim

[2021-03-27 20:44] najlase commented on #17823
@zulipbot claim

[2021-03-27 20:57] PIG208 commented on #17823
I'm thinking that you could call this resize function whenever a new popup is created.
`git grep insecure-desktop-app` gives me the following:

So it appears that the logic related to these notifications is handled in `panels.js`.

[2021-03-28 03:58] ArunSankarKs commented on #5273
Currently Working on this !

[2021-03-28 03:58] ArunSankarKs commented on #14730
Currently Working on this !

[2021-03-28 04:37] nikhilmaske-2001 commented on #8217
@zulipbot claim

[2021-03-28 06:41] ritikchauhan-01 commented on #17306
"what about showing this (compose message box with other buttons)in only this in the "middle page" so that the user can add other user and send pm's to him/her.
![screencapture-chat-zulip-org-1616913548320](https://user-images.githubusercontent.com/56171689/112744547-a03f6700-8fbe-11eb-9c32-b9d097c27a7b.png)

[2021-03-28 11:29] rajprakash00 commented on #14422
@andersk I checked this , but if I have 2 superscripts in the integration upper limit like:

![superscript](https://user-images.githubusercontent.com/42652941/112750430-3935a880-8fe6-11eb-97ce-dd01d2781166.png)

this still gets clipped off vertically with this solution.(though its use case is less I think :thinking:  )
@timabbott  your take?

[2021-03-28 15:00] gasche commented on #14420
I support this feature request. We are starting to get scientific communities using Zulip (that I know of: type theory, category theory, various proof-assistants, etc.), and having the ability to enable certain sets of macros for field-specific notations would be a huge plus.

[2021-03-28 17:35] m-e-l-u-h-a-n commented on #16029
@zulipbot claim

[2021-03-28 17:38] 100RABHpy commented on #17795
@MSurfer20 Hey, are you working on this issue?

[2021-03-28 17:57] MSurfer20 commented on #17795
@100RABHpy I had planned to take this up after completing work on some other PRs. Feel free to take claim this;I'd be happy to review it :)

[2021-03-28 18:52] 100RABHpy commented on #17795
Thanks @MSurfer20,
Can you explain a bit on (like what error you get when tried to delete any other user):

I was thinking to create a new administrator user and delete this in `deactivate_own_user` function.

[2021-03-28 18:59] 100RABHpy commented on #17795
@zulipbot claim

[2021-03-28 19:19] MSurfer20 commented on #17795
@100RABHpy The current code works fine. However, we want endpoint specific code to be removed from the function, as it is supposed to be a general function for curl testing. You can look at editing the `curl_param_value_generators.py` as Tim suggested, along with some refactoring in the function to accommodate for the edit.

[2021-03-28 19:34] 100RABHpy commented on #17795
Oh, Okay that i can be handle.
Also, If I'm getting it right only reason of adding owner_client is for reactivation. Right?

[2021-03-28 19:46] MSurfer20 commented on #17795
Yes, it was just added for reactivating the client after the deactivation.

[2021-03-28 22:56] PIG208 commented on #17792
@zulipbot claim

[2021-03-28 22:58] timabbott commented on #17441
Tagging as a release goal, since we've seen this issue more than once and it shouldn't be hard to fix.

[2021-03-28 23:11] timabbott opened #17854 "Python caches not saved properly in CI"
As documented [here](https://zulip.readthedocs.io/en/latest/subsystems/dependencies.html), Zulip has a nice system for caching its Python dependencies to avoid needing to rebuild the Python venvs for commits that don't change them.  However, it appears this tooling is not working correctly in CI:

![image](https://user-images.githubusercontent.com/2746074/112771250-d214f580-8fdf-11eb-9c27-2161a17c

[2021-03-29 00:47] timabbott opened #17855 "Improve JavaScript functions conventions used for modifying content in compose box"
In `compose_ui.js`, we have the following logic:
[code]

The goal here is great -- making sure we don't break `Ctrl+Z` (browser undo) in the compose box.  However, there are a few problems.

* [ ] The function we're using is part of a deprecated API: https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand.  I think we should be using https://developer.mozilla.org/en-US/docs/Web/API/S

[2021-03-29 02:03] #14422 closed

[2021-03-29 02:05] timabbott commented on #14422
I think probably that sort of minor clipping is OK -- merging that as the solution seems OK.  It seems possible that the stacked superscript issue is something we should report to `katex` upstream, rather than trying to work around further.

@rajprakash00 can you take care of porting this solution to the mobile codebase?

[2021-03-29 03:11] timabbott opened #17856 "Highlight that we have an OpenAPI file /api/ somewhere"
I think it's probably reasonable for this to be a new top-level item in the "REST API" section, e.g. alongside https://zulip.com/api/rest; we should basically just link to `zulip.yaml`.

We'll want to:
* Explain for a user what OpenAPI is (maybe can borrow text from our developer documentation).
* Link to `zulip.yaml` on GitHub, probably also the raw link for convenient download.
* Mention tools t

[2021-03-29 04:09] hazelsmasher commented on #292
@klonos Good news friend - it looks like the chat.zulip.org community is actively working on this problem, and almost have it done. Their bleeding edge version just recently incorporated this --- let the people rejoice. Still a few tweaks to come on it I imagine, but perhaps our suffering is almost at an end.

[2021-03-29 04:24] timabbott opened #17857 "Improve documentation for changing a realm's subdomain"
Based on https://chat.zulip.org/#narrow/stream/31-production-help/topic/problem.20with.20change_realm/near/1146289, the current documentation for this feature doesn't properly teach the user how to get a `realm` object.

I think from a documentation role perspective, ideally we'd spell this out more clearly in the `docs/` code path, and perhaps tweak the /help/ content to link to the right details

[2021-03-29 04:25] edith007 commented on #17857
@zulipbot claim

[2021-03-29 04:30] amanagr commented on #17854
This only appears to be a problem with Ubuntu 20.04 build. Maybe due to https://github.com/sudo-project/sudo/issues/42,  I will try upgrading both containers first and see if it naturally resolves the issue.

[2021-03-29 04:35] its-harsh commented on #17855
@zulipbot claim

[2021-03-29 04:44] timabbott commented on #292
@klonos thanks for the feedback, and sorry for the slow reply!  One thing worth mentioning is that a lot of folks in big communities read Zulip heavily using the `n` keyboard shortcut (to jump to next unread thread) rather than using the sidebar at all; combined with pinning streams to reflect the priority of your reading order, this can work pretty well.

We're definitely going to do something ab

[2021-03-29 05:01] timabbott commented on #14420
I think probably it's possible to do this by mostly following https://zulip.readthedocs.io/en/latest/tutorials/new-feature-tutorial.html with a new TextField called `UserProfile.katex_macros` (for an individual user version, which seems simplest to start; then organizations can document standard macros for their community, at least).  We can later add a realm-level default for the macros file, use

[2021-03-29 05:05] #17796 closed

[2021-03-29 05:16] timabbott commented on #17006
This is certainly possible on the Zulip end; I'm not sure about the Signal end.

I think the best place to open an issue for it is https://github.com/zulip/python-zulip-api/issues/new, since that's where the existing bridges for Matrix/IRC/XMPP/Zephyr are.

[2021-03-29 05:16] #17006 closed

[2021-03-29 05:50] timabbott commented on #17782
I added this block to the "Upgrade notes" section of the changelog, which should be updated to link to this new documentation when we finish writing it.
[code]

[2021-03-29 06:56] #17854 closed

[2021-03-29 09:24] LoopThrough-i-j opened #17860 "Complete react and update_message functions in EmbeddedBotHandler."
The `react` and `update_message` functions are Not Implemented in `EmbeddedBotHandler` at [zerver/lib/bot_lib.py](https://github.com/zulip/zulip/blob/master/zerver/lib/bot_lib.py).
We require the functions to simulate an API request to the relevant endpoints with relevant tests.

Note: The `EmbeddedBotHandler` now follows the `BotHandler` Protocol at [zulip/python-zulip-api/zulip_bots/zulip_bots/l

[2021-03-29 11:20] rht opened #17861 "The copy button in the top-right corner of code blocks also opens the box for replying to the message."
This happens in Firefox only. I tested with Brave and the problem doesn't exist.

[2021-03-29 11:20] rht commented on #17861
See https://julialang.zulipchat.com/#narrow/stream/137793-zulip-bridged/topic/copy.20button.20on.20code.20blocks

[2021-03-29 13:33] ligmitz opened #17863 "Development and Production support for Debian's `Bullseye`."
The release of `Debian`'s newer version `Bullseye` is about to take place in 3 months or so. It is certain we should extend Zulip's development and production environments to support `Bullseye` as well (considering that this is the first platform with python 3.9).

Related chat.zulip.org chat: https://chat.zulip.org/#narrow/stream/49-development-help/topic/Dev.20setup.20on.20Manjaro/near/1146056

[2021-03-29 16:01] timabbott commented on #17861
@sumanthvrao want to investigate this one?  I'm guessing it's a missing `.stopPropagation` for the relevant click handler.

[2021-03-29 16:02] PIG208 commented on #17792
I have created a WIP PR to keep track of this issue. But there appear to be some bugs even before I make changes in generate-docs-integration-screenshot. But I'm not sure whether someone else could replicate this bug.

[2021-03-29 16:07] timabbott commented on #17861
Hmm, if so the `stopPropagation` might be need to be a `ClipboardJS` option (if they have one).

If that isn't an option, we can add more conditionals to this: "MAIN CLICK HANDLER".

[2021-03-29 16:09] timabbott commented on #17141
Sorry for the slow reply!  Yeah, this could be a nice improvement. @ElliotSilver can you provide some specifics on what output format you'd want, just as an example that we can use in designing this?  I think that'll be important for thinking about the design space.

[2021-03-29 16:12] timabbott commented on #17101
Having caught up on the relevant threads, the next step in this direction is https://github.com/zulip/zulip/pull/17214.

(We'll probably end up doing that + appropriate indexes rather than a new field, I think).

[2021-03-29 16:26] timabbott commented on #17077
https://zulip.com/help/custom-certificates and https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html are our main documentation on this topic (though I'm not sure what your precise question is).

@andersk @mateuszmandera do you think there's one or more missing links between those two pages?  Maybe worth making sure folks on one of those two pages find the other.

[2021-03-29 16:44] ElliotSilver commented on #17141
For our specific use, I'd be happy with the current "headline" but different details. For example:
[code]
which would come out like:

The above would address my desire, however, thinking about a more general solution:

We're only using notifications on ticket creation, but I imagine you might want the content to vary by state. For example, the notification for assigning a ticket could include the

[2021-03-29 17:02] timabbott commented on #17211
I prefer the direction for this issue of removing those content-editable widgets and replacing them with normal fields.

[2021-03-29 17:06] timabbott commented on #17210
The embedded bots system is unfortunately a bit stagnant as an ecosystem -- we haven't had someone spend serious time on them in a couple years.  I think the main thing I want here is someone highly active who's committed to working on the area.

[2021-03-29 17:13] timabbott commented on #10661
@mateuszmandera FYI -- will this issue be automatically resolved when we move cross-realm users?

[2021-03-29 19:11] timabbott opened #17875 "Unable to invite users when messages are continuously loading due to focus stealing"
When recent topics is in the background behind a modal, like "Invite new users", and there is a very large amount of missing message history (E.g. 300K unreads, in my test case, though you probably only need 10K if you're quick), it's impossible to type the email address for a new user you want to invite, because something keeps stealing focus from the textbox you're trying to type into.  Presumab

[2021-03-29 19:20] PIG208 opened #17878 "Doc screenshots generation script for integrations doesn't capture the correct area"
This is a bug discussed in this [thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Replicating.20a.20bug.20of.20generating.20integration.20docs.20screenshot/near/1146702).

When the script `tools/generate-integration-docs-screenshot` is run to generate the screenshot for the documentation of integration, it's possible that it fails to capture the right area.

Expected:
![002](https://us

[2021-03-29 19:20] PIG208 commented on #17878
@zulipbot claim

[2021-03-29 19:21] seiwailai commented on #16920
@timabbott Kindly review the PR. I've added a Python function to get the email address visibility text and added a fa question-circle icon and a tooltip for displaying email address visibility text

#17877

[2021-03-29 21:43] #17878 closed

[2021-03-30 00:23] PIG208 commented on #17860
@zulipbot claim

[2021-03-30 01:22] PIG208 commented on #17792
Followup: This is a bug that has been fixed in #17881. ([chat](https://chat.zulip.org/#narrow/stream/19-documentation/topic/integrations.20docs))

[2021-03-30 02:33] jojoqjchen commented on #17451
@timabbott hey! Could you give me some tips on how to pinpoint where something like this specific color picker popup is managed? Sorry, am new to contributing to open source.

[2021-03-30 06:38] manan2110 opened #17884 "the popover of changing colour of stream does not close even after clicking the confirm button"
https://user-images.githubusercontent.com/55996661/112944179-1d4e1600-9150-11eb-96ba-8461c5591c5f.mp4

When changing the colour of the stream, the popover does not close even if confirm button is clicked.

[2021-03-30 06:39] manan2110 commented on #17884
@zulipbot claim

[2021-03-30 06:42] manan2110 commented on #17884
@zulipbot add "good first issue"

[2021-03-30 06:43] manan2110 commented on #17884
@zulipbot claim

[2021-03-30 07:24] Hypro999 commented on #17141
I can't help but feel like this would be a perfect opportunity to finally make use of `BotConfigData`. Our bots always felt like they were lacking when it came to unique customization from integration to integration.

Ref: https://github.com/zulip/zulip/pull/13029

My idea is tentatively this: let the user themself specify what format string should be used, and for what event (as an override to th

[2021-03-30 07:31] Hypro999 commented on #17141
Oh, and just to clarify, I'm talking about the limited customizability of our incoming webhook bots at `zerver/webhooks`, not the interactive ones [that you can deploy by yourself](https://zulip.com/api/running-bots).

[2021-03-30 13:33] Esgrima commented on #1211
@zulipbot claim

[2021-03-30 13:40] ArunSankarKs commented on #14991
@zulipbot claim

[2021-03-30 14:53] #17875 closed

[2021-03-30 16:18] nikhilmaske-2001 commented on #17263
@timabbott PR #17772 is ready for review made for this issue.

[2021-03-30 17:03] hackerkid opened #17890 "Locale strings not getting generated for frontend translation strings whose context is passed in multiple lines"
The locale strings are missing for translation strings whose context is passed in multiple lines.

Example

[code]

The strings(at least the ones I tested) that has their context passed in the same line has their locale strings generated correctly

Examples.

[code]

[2021-03-30 18:52] timabbott commented on #17890
The bug here is that we do our own parsing in `manage.py makemessages`, and that parsing is structurally wrong:

[code]

I think https://github.com/zulip/zulip/pull/16110 was an effort at fixing that; and I think there was a better approach discussed that involved using a library (i18next should provide something for this).  @aero31aero would remember, though I haven't seen him in a little while,

[2021-03-30 20:44] tushar912 commented on #14578
@zulipbot claim

[2021-03-30 20:48] garg3133 commented on #16920
The changes to be made for this issue should be consistent with how we are handling other help-text on the page, which is by adding the help-text below the input field. You don't need to do much for the CSS part, it is already implemented for class `help-text`. See the screenshots in #15876 for reference.

Also, please don't change the display of email back to a disabled input. It was changed from

[2021-03-30 21:23] timabbott commented on #14971
@ryanreh99 this might be an issue you're unusually equipped to help with.

[2021-03-30 21:56] edith007 commented on #17767
@alexmv when you say `text/plain part of the email`, do you mean to print the exact contents of the html file that has been passed as the argument to the command??

[2021-03-30 21:58] PIG208 opened #17894 "Add support for searching by dates"
This feature has been discussed in #10385 and there is PR for it as well (#12233). Unfortunately, the PR has been stale. Our goal is to add support for searching by dates as well as automatic. This [comment](https://github.com/zulip/zulip/issues/10385#issuecomment-475012637) provides helpful insight on the direction to implement this feature. For this issue, we could just resolve the conflicts in

[2021-03-30 22:00] PIG208 commented on #17894
@zulipbot add "help wanted" "area: search"

[2021-03-30 22:25] timabbott opened #17895 "Figure out better patterns for changes in a field containing subfields"
This may be just a weird corner case (where we changed something from a string to an object), but I think it's not at all obvious that the bullets text/url here are details on the fields in `topic_links` dictionary.

![image](https://user-images.githubusercontent.com/2746074/113064462-e38b0880-916b-11eb-805a-91803d03342b.png)

I'm not sure what the right solution is here; we can try looking at wha

[2021-03-30 22:54] #17109 closed

[2021-03-30 23:05] sentry-io[bot] opened #17896 "Make `deliver_scheduled_emails` place emails into `email_senders` queue rather than send them itself"
`deliver_scheduled_email` extracts messages from the `ScheduledEmail` table and sends them via SMTP -- in doing so, adding another place which uses the `send_email` machinery to send outgoing SMTP messages.

We should collapse this to just enqueue messages into `email_senders`, so that the sending process will take advantage of any retries and performance optimizations from having a queue worker.

[2021-03-30 23:08] alexmv commented on #17896
#17672 is tangentially related; the `deliver_email` codepath should ideally also reuse the same SMTP connection, which comes with the same foibles of dealing with connection drops.

[2021-03-30 23:14] #17311 closed

[2021-03-30 23:50] timabbott commented on #2606
I'm going to close this in favor of #9254, which we're about to fix.

[2021-03-30 23:50] #2606 closed

[2021-03-30 23:55] timabbott opened #17897 "Add system for redirecting a renamed /help or /api article"
We from time to time rename articles in the /help or /api world.  This breaks incoming links, including from other branches of zulip/zulip that haven't been rebases, which is annoying, but more importantly from previous versions of Zulip that might be out there.

When we rename things in ReadTheDocs, we configure a redirect from the old URL to the new one.  We should figure out a convenient way to

[2021-03-31 00:00] neiljp commented on #17006
@timabbott Are you able to do a 'transfer issue' to that repo? I don't see it here (bottom right column), but I don't have the same rights on this repo.

[2021-03-31 00:04] #16688 closed

[2021-03-31 01:19] sumanthvrao commented on #17861
@zulipbot claim

[2021-03-31 01:20] timabbott opened #17898 "Improve perceived latency for sender when sending/editing a message in very large streams"
When sending messages to a stream with 15k+ subscribers, it can take 300ms between when the first user receives the message and the last does.  It would be desirable for the sender to be "first in line" for this purpose, since the UX for the sender is not ideal while waiting for the message to send (especially with edits).

The logic for this system involves several `Set` data structures, starting

[2021-03-31 01:25] alexmv commented on #17767
Nope!  What is passed as an argument to the command is a _markdown_ file.  We take that markdown file, interpolate some variables into it, and [convolutedly write out both text and HTML versions of the template](https://github.com/zulip/zulip/blob/master/zerver/lib/send_email.py#L391-L419).  When sending the email, we [use both the HTML and plain versions](https://github.com/zulip/zulip/blob/maste

[2021-03-31 01:26] sumanthvrao commented on #16432
@zulipbot claim

[2021-03-31 01:58] its-harsh commented on #17855
@zulipbot abandon

[2021-03-31 05:00] theRoushan commented on #17786
Hello Everyone, I am new here #newmember. I am Roushan Kumar from India. Please guide me, I am intereseted in working on this project.

[2021-03-31 05:04] theRoushan commented on #17571
Hello sir, I want to work on this issue. Please assign it to me.

[2021-03-31 05:25] hkpanchani commented on #17448
yes mobile apps.

[2021-03-31 06:11] ArunSankarKs commented on #17571
Hello @theRoushan, I have Fixed this issue and have raised a pull request #17597 it's waiting for a final Review.

[2021-03-31 07:21] seiwailai commented on #16920
@garg3133 Alright, I understand the rationale of having plain-text for the email field in the registration form and I think it makes sense because the disabled email input may be mutable by simply enabling the input. I will revert the changes for this particular part.

For the help-text part, I agree that we should make our help-text consistent by adding the help-text below the input field. Howeve

[2021-03-31 08:14] mojavelinux commented on #4601
What brought me to this issue is that when I click on a stream to see what topics have activity, the unread count gets cleared both on the stream and the topics with the unread messages. So I no longer know which topics had unread messages. The bigger drawback, though, is that I'm then channeled into addressing all the topics with activity right then and there instead of being able to visit them w

[2021-03-31 09:49] RalfJung opened #17903 ""Recent topics" missing some topics"
I use "Recent topics" with all checkboxes checked (muted, unread, participated) to check for topics that I was part of in the psat that had new messages. This is a great way to work around https://github.com/zulip/zulip/issues/2517; this way I can mute most streams and still follow the few discussions in those streams that I care about.

However, I just noticed a case where this did not show a top

[2021-03-31 11:06] amanagr commented on #17903
@RalfJung we are sorry to let you know that this is a known issue we are working on a backend model to fully support it. Think of `participated` filter as `recently participated` in the meanwhile. The participated filter is based on what messages are locally fetched from the server right now.

For solving this, we need to have `participated` filter attached to the topic when it is received from th

[2021-03-31 13:33] weilirs commented on #17274
@zulipbot claim

[2021-03-31 13:38] weilirs commented on #17786
@zulipbot claim

[2021-03-31 14:13] m-e-l-u-h-a-n commented on #17894
I can try implementing this out. I haven't looked into pr #12233 but as mentioned by @thedeveloperr in this [comment](https://github.com/zulip/zulip/issues/14558#issuecomment-614102009) that there can be several improvements so may be I'll try to implement it from scratch.Claiming it for now if this gets closed in support pf older issues I would reference those in my commits.
@zulipbot claim

[2021-03-31 14:29] mandepsingh opened #17907 "I think if we add star to the left-blank side of the sub-streams like in gmail messages, then it would we easy to find the issue we are interested in."
By adding this feature we can make use of the blank unused space.

Before:

![Screenshot (658)](https://user-images.githubusercontent.com/39272041/113160701-57f0a500-925b-11eb-893f-ab6f16cc53c3.png)

After:

![starIssue](https://user-images.githubusercontent.com/39272041/113160772-66d75780-925b-11eb-8757-4d4c2a6a3581.png)

[2021-03-31 15:07] MSoegtropIMC opened #17908 "Github login to new zulip page does not work any more if the GitHub account name is not an email address"
I tried to join a new zulip chat using Github. My github account name is not an email adress. Zulip seems to assume that the Github account name is an email adress. When I login, I get the error that a GitHub account with name "my github registered email adress" was not found.

I can login fine via Github to zulip chatsI joined a while back. I just can't join a new chat.

[2021-03-31 15:10] timabbott commented on #17908
All zulip authentication requires demonstrating control over an email address -- that is how we uniquely identify users, allow password reset, etc.  So if you're going to join a Zulip organization using GitHub authentication, it'll offer to let you create the account with any email address you've verified with GitHub: https://docs.github.com/en/github/getting-started-with-github/verifying-your-ema

[2021-03-31 15:10] #17908 closed

[2021-03-31 15:16] MSoegtropIMC commented on #17908
Well it doesn't work. I have a verified email address, I want to join with and and it rejects it stating that an account with this email address does not exist. This email does show as verified in GitHub. While I want to join I am logged in with the same account in GitHub and in another Zulip channel.

I should mention that I also have one unverified email address in GitHub, but this is not the on

[2021-03-31 15:20] cool-pants commented on #17716
I am still working on it

[2021-03-31 15:21] timabbott commented on #17903
I joined the rust-lang Zulip to look at the linked message, and it was sent yesterday; so given that Zulip does fetch from the server at least the most recent 1400 messages, it's very unlikely that this was not included in that data set.  Generally, once Zulip has fully loaded history (there's some background fetching to get there), Zulip will end up with complete history since the oldest unmuted

[2021-03-31 15:24] timabbott commented on #17898
I think this should be doable for you -- I've mentioned the code paths involved and I think it just takes some print-debugging and care with sort order.

[2021-03-31 15:45] garg3133 commented on #16920
I think he said that because the long text wasn't looking good [here](https://github.com/zulip/zulip/pull/17729#issuecomment-806154997), which I think looks fine [here](https://github.com/zulip/zulip/pull/17729#issuecomment-811154820).

Yeah, that'll be good.

[2021-03-31 15:46] #17763 closed

[2021-03-31 15:46] RalfJung commented on #17903
Yes, I have all three checkboxes selected in my "Recent topics", including "Include muted".

[2021-03-31 15:57] abhijeetbodas2001 commented on #17790
@zulipbot claim

[2021-03-31 15:58] RalfJung commented on #2517
@timabbott [writes](https://github.com/zulip/zulip/issues/17903#issuecomment-811151419)

This issue felt like the better place to respond.

So my thinking here is: in the Rust zulip, I am subscribed to the majority of streams on that Zulip (a) since I get pinged occasionally, and (b) there are occasionally relevant topics being discussed. That means among my subscribed streams, there are way too m

[2021-03-31 16:46] timabbott opened #17910 "Add support for email address changes with SAML when `attr_permanent_user_id` is not `email`."
Zulip's existing authentication model is that a user's email address is a unique ID; this simplifies the model for supporting several different authentication backends.  However, where this gets messy is some SAML providers, like Shibboleth, are designed to support users changing their email address while having some other key (E.g. a unique user ID) that's unique.

What we'd like to do is store t

[2021-03-31 17:56] timabbott commented on #17907
This sort of design proposal motivated by contributors (not users) should be discussed in chat.zulip.org before opening an issue -- I'm not sure this is a user experience that makes sense, so I'm going to close this for now (we can reopen if there is enthusiasm for this from users).

[2021-03-31 17:56] #17907 closed

[2021-03-31 18:21] RobertMcMaster commented on #17824
claim

[2021-03-31 18:22] RobertMcMaster commented on #17824
@zulipbot claim

[2021-03-31 20:13] timabbott opened #17914 "Make JITSI_SERVER_URL an organization-level setting."
For Zulip Cloud users, it may be valuable to add

We can call this `Realm.jisti_server_url as an Optional[TextField]`.  In the database, `None` would encode the server-level default.  We can't readily use `None` in the API without mixing that up with "field not sent", so we should use the string "default" for this purpose; `parse_message_retention_days` is a more complex example of this pattern.

[2021-03-31 20:21] mojavelinux commented on #4601
I want to clarify that clicking on the stream does not, in fact, clear the unread count entirely. It seems to focus the first unread message and decrement the count on the stream and topic by 1. If there's only 1 unread message, it just appears as though it's clearing the unread count entirely.

[2021-03-31 20:36] #16850 closed

[2021-03-31 20:58] nikomatsakis commented on #2517
@RalfJung's workflow is also basically what I do (or try to do)

[2021-04-01 00:15] timabbott opened #17917 "hotkeys: Adjust pageup/pagedown/home/end to close compose when used in empty compose box"
Currently, if you hit navigation keys like pageup/pagedown/home/end in an empty compose box, nothing happens (well, you jump to some end of the empty line/message).  What a user doing this probably intends is the same as they intend with Up/Down keys in this context -- to navigate the message feed.  We should adopt the same solution we have for Up/Down, namely to close compose (and then continue p

[2021-04-01 02:59] ganpa3 commented on #17917
@zulipbot claim

[2021-04-01 03:27] michaelkli1998 commented on #17731
@zulipbot claim.

[2021-04-01 03:58] michaelkli1998 commented on #17838
@zulipbot claim

[2021-04-01 04:02] mandepsingh commented on #17907
ok tim.

[2021-04-01 05:32] ganpa3 commented on #17009
@zulipbot claim

[2021-04-01 05:54] manan2110 commented on #17884
@zulipbot unclaim

[2021-04-01 06:51] amanagr commented on #17884
See https://github.com/zulip/zulip/pull/17886#issuecomment-811688542

[2021-04-01 06:51] #17884 closed

[2021-04-01 11:40] novigosolutions commented on #11048
same problem here

[2021-04-01 11:48] Garagoth commented on #3783
I think there is ongoing work for this in PR  #15334 and also supplementary work in #12016, if anyone is looking for progress updates :-)

[2021-04-01 14:07] nikomatsakis commented on #2517
I don't quite understand what a pinned stream is, but it seems like the key point here is more like *pinned topics*?

I think the idea of a "participating" or "recent" topic is really useful, and I would like to see that more centered.

[2021-04-01 15:14] mkp6781 opened #17921 "Failure in referencing a stream name."
Steps to reproduce:
1. Create a new stream with an asterisk in the name("ab*cd").
2. Try to reference the stream in a message(Eg: #**ab*cd**).

This shows up only as part of a message with no link to the particular stream mentioned.

[2021-04-01 15:32] seiwailai commented on #17921
@zulipbot claim

[2021-04-01 15:46] timabbott opened #17922 "Adjust semantics of `get_active_subscriptions_for_stream_id`."
So while reading code, I noticed that `get_active_subscriptions_for_stream_id` does not filter for `user_profile.is_active=True`.  A few callers, like `get_subscribers_query` do so manually, and a few callers, like `do_deactivate_stream`, definitely don't want to.  But I think most functions calling it intend to exclude `subscription.is_user_active=False` users.

So I think we should make those th

[2021-04-01 16:20] timabbott opened #17925 "Change model for messages with multiple image previews to stack images horizontally with scrollbar"
I'm not 100% sure this will be good UX, but it might be (and solves several problems), and we won't really know until we try.

Zulip's model for image previews is designed around a few goals:
* Not having images be so giant that they crowd out text (which is very common in other chat platforms with full-width image elements -- a square image can take ~50% of the screen)
* Avoiding the message feed

[2021-04-01 16:46] edith007 commented on #17766
@zulipbot claim

[2021-04-01 16:50] timabbott opened #17926 "Change most confirm_dialog modals to use Confirm/Cancel as labels"
See https://chat.zulip.org/#narrow/stream/58-translation/topic/French.20translations/near/1148652 for background.

Basically, our confirmation dialogs sometimes have long strings like "Unstar messages" in the "Yes" button (vs. "cancel" for no), and this can be both confusing for translators, create bad results if the string ends up as like 4 long words in German, and also creates unnecessary work

[2021-04-01 17:43] mandepsingh commented on #17731
@zulipbot claim

[2021-04-01 18:15] timabbott opened #17928 "test-documentation: Fix output spam from external links"
Currently, test-documentation run in a development environment (i.e. without `--skip-external-links`) prints like 2 screenfuls of errors like this:
[code]

I imagine this is really confusing for anyone new to our ReadTheDocs documentation.

Most of these are 429 errors because GitHub doesn't want automation hitting their servers all the time; we could probably just suppress most of them that fit a

[2021-04-01 18:16] timabbott opened #17929 "Fix test suites that do not use `sanity_check` and/or `assert_provisioning_status_ok`"
I noticed that `test-documentation` doesn't check that the user's development environment is setup, even though it does need our Python virtualenv to work, os it misses out on the things we do to avoid weird "missing dependency" error messages:

[code]

We should fix this to use , which probably involves converting that script to Python like its cousin `test-help-documentation` already is.

(While

[2021-04-01 18:55] 100RABHpy commented on #17610
@zulipbot claim

[2021-04-01 19:37] timabbott opened #17933 "Scrollbar goes too high in Recent topics and settings tables"
In a number of places, including Recent topics and settings tables, we have scrollbars that go into the header row. This is incorrect, as the header row is not scrolled. We should fix this.

![image](https://user-images.githubusercontent.com/2090066/192060844-ead35986-c574-476e-b7a2-89c2f779551b.png)

![image](https://user-images.githubusercontent.com/2090066/192060809-50fbecce-a1bc-4f90-a644-e5a7

[2021-04-01 19:43] alya opened #17934 "Remove highlighting in top bar of Recent topics view"
Currently, hovering over headings that can be used for sorting Recent topics highlights the heading in grey.
![Screenshot from 2021-04-01 12-40-46](https://user-images.githubusercontent.com/2090066/113345603-887e2080-92e7-11eb-816a-bc1df2d642da.png)

We should remove the highlighting to get a cleaner look, but keep the triangle that indicates that sorting is possible. @amanagr

[2021-04-01 19:47] amanagr commented on #17933
I remember this being impossible to do due to simplebar having some conflict with it. I will dig it up and report.

[2021-04-01 20:10] amanagr opened #17935 "Don't narrow to topic on `ctrl-click` in recent topics."
Right now if you `ctrl-click` on recent topics, it will narrow to the topic and open the topic in a new tab. We should avoid narrowing to the topic in the original tab in this case.

discussion: https://chat.zulip.org/#narrow/stream/137-feedback/topic/recent.20topics

[2021-04-01 21:27] timabbott opened #17938 "Fix styling of "unread counts for starred messages""
This feature (https://zulip.com/help/star-a-message#display-the-number-of-starred-messages) for displaying counts of starred messages is not in line with our other styling and kinda ugly:

![image](https://user-images.githubusercontent.com/2746074/113355618-e9acf080-92f5-11eb-9183-0963c21a45a2.png)

It would be nice to fix this, since immediately afterwards we can turn this option on as the defaul

[2021-04-01 21:31] michaelkli1998 commented on #17929
@zulipbot claim

[2021-04-01 21:35] michaelkli1998 commented on #17938
@zulipbot claim

[2021-04-01 21:41] michaelkli1998 commented on #17938
@zulipbot claim

[2021-04-01 21:53] gnprice opened #17939 "Use separate API keys/tokens for each client device"
This is a security feature which we've wanted for a few years, though we haven't had a proper issue for it here in the tracker.

In particular this is a blocker for 2FA (#9521), because without this feature the mobile experience would either be painfully unusable or seriously undermine the security properties of 2FA.

As @andersk described it at https://github.com/zulip/zulip/pull/16753#issuecomme

[2021-04-01 22:12] timabbott opened #17940 "Replace "reply" button with an input element in the closed compose state to make it clear how to type"
The [discussion here](https://chat.zulip.org/#narrow/stream/2-general/topic/bottom.20row.20design/near/1150112) come up with a new idea for how to solve the problem of new users thinking "I don't know how to send a reply" when looking at Zulip for the first time.  We've tried a lot of things over the years without real success; this new idea is "give them a textbox to click into", with clicking in

[2021-04-01 22:18] kenclary commented on #17940
@zulipbot claim

[2021-04-01 22:21] kenclary commented on #17940
@zulipbot claim

[2021-04-01 23:10] alya opened #17941 "Highlight filter term when returning to Recent topics view"
When a user navigates away from the Recent topics view and then returns, the filter state is preserved. This can be very confusing when the user filtered using a keyword and has forgotten that they have done so.

In order to make the filtering salient to the user, the filtering keyword should be highlighted by default when the user comes back to the Recent topics tab, like so:

![Screenshot from 2

[2021-04-01 23:11] timabbott commented on #17921
I think my main feedback here is that we don't recommend using `*`s in stream names.  That said, it should be possible for the parser to handle this type of corner case if we thought it useful.

I think there was at some point work considering banning the character in stream names, so nobody would encounter this type of issue; @mkp6781 do you have an actual use case for a stream name with `*` in i

[2021-04-01 23:59] timabbott commented on #17935
Yeah, we should test middle-click as well.

[2021-04-02 00:06] Nyior commented on #17826
@timabbott as this is my first time contributing to Zulip, setting up the developing environment and wrapping my mind around the code base took me sometime(may be longer than it should have). I have a decent understanding of the code base now, and I believe I'm ready to start working on this issue.  I had extended your proposed solution with some more implementation details. This is how I intend t

[2021-04-02 00:24] #17016 closed

[2021-04-02 01:50] PIG208 commented on #17830
@zulipbot claim

[2021-04-02 02:08] PIG208 commented on #17830
I have created a new example for this with a class. Could you check [this](https://github.com/zulip/zulip/pull/17943) out @alexmv?

[2021-04-02 02:11] mkp6781 commented on #17921
While working on a different aspect in ZT, I just had a stream name with * in it by chance.

I did take a look at https://chat.zulip.org/help/create-a-stream before raising the issue to confirm any character could be used.

[2021-04-02 02:25] michaelkli1998 commented on #17938
![goldenrod](https://user-images.githubusercontent.com/33680232/113373505-fa328a80-9338-11eb-8395-a97525cee610.PNG)

Wanted to get some opinions on styling the starred messages this way. I chose the color gold because it matches with the idea of it being a "starred" message.

[2021-04-02 03:11] nikhilmaske-2001 commented on #17925
@zulipbot claim

[2021-04-02 03:14] nikhilmaske-2001 commented on #17926
@zulipbot claim

[2021-04-02 04:28] nikhilmaske-2001 opened #17944 "No hover effect on status list messages in night mode."
We have the hover effect on the status message (Text changes its color to blue on hover) in the day mode but it does not have any hover effect in the night mode. We should have that hover effect in night mode too.

GIF:
![hover_day_mode](https://user-images.githubusercontent.com/59444243/113380451-e4a17d00-9399-11eb-9923-d4903e7e12ce.gif)

[2021-04-02 04:28] yashikajotwani12 commented on #17944
@zulipbot claim

[2021-04-02 04:38] tushar912 commented on #17929
@zulipbot claim

[2021-04-02 10:04] RalfJung commented on #2517
So far I have barely used pinned streams as I don't know a way to make good use of them. If the unread count would only be for pinned streams, that would certainly avoid the need to have to mute all those other streams.

However, it would not alleviate the need to still be able to follow *some* conversations in those unpinned streams.

[2021-04-02 12:32] rutvi18 opened #17950 "Recent messages not shown in "all messages" tab while in all other streams it is shown"
In the all messages tab, the page doesn't go directly to recent messages instead we are required to scroll all the way down to view new message. While on the other hand, in all other streams, the messages shown are recent ones and there is not need to scroll down.
![Screenshot (111)_LI](https://user-images.githubusercontent.com/43277445/113415750-826a6b80-93dd-11eb-9a91-7f28e0739ba8.jpg)

Solution

[2021-04-02 12:33] rutvi18 commented on #17950
@zulipbot claim

[2021-04-02 13:57] amanagr commented on #17950
@rutvi18 thanks for your feedback! I understand how you would be confused by this behaviour.

Zulip lands user on the first unread message in the narrow (= streams, all messages tab etc) compared to some other chat applications which land user on the most recent message.

Your conclusion about other narrows landing on the latest message is wrong. This behaviour is consistent across all narrows.

[2021-04-02 13:57] #17950 closed

[2021-04-02 14:15] weilirs commented on #17476
@zulipbot claim

[2021-04-02 14:16] weilirs commented on #17274
@zulipbot abandon

[2021-04-02 14:17] weilirs commented on #17476
@zulipbot claim

[2021-04-02 16:20] rutvi18 commented on #15686
@zulipbot claim

[2021-04-02 16:31] ritikchauhan-01 commented on #17855
@zulipbot claim

[2021-04-02 16:49] timabbott commented on #17826
@Nyior welcome!  That's broadly a good direction; a few comments on details here.  As mentioned in Zulip, let's start with a `zerver/lib/home.py` function with some tests for the first PR, and iterate from there.

In production, this actually is already saved in the directory name within /home/zulip/deployments/ -- we name these after the timestamp.  (We'd need some sort of override mechanism for

[2021-04-02 16:53] alexmv opened #17954 "https://github.com/zulip/zulip/issues/new shortens to `zulip/zulip#new`"
The Github link-shortening from #11895 makes `https://github.com/zulip/zulip/issues/new` shorten to `zulip/zulip#new`, which looks wrong visually (`new` is not a number) and is further confusing because typing `zulip/zulip#new` directly does not match the default linkifiers and thus does not get linked.

We should only shorten links where the values after `/issues/` is a number.

[2021-04-02 16:54] miltonmoon opened #17955 "https://zulip.readthedocs.io/en/latest/production/authentication-methods.html#saml Step 4.3 Clarification"
I had some issues with step four part 3 where it says "Put the Zulip server public certificate in /etc/zulip/saml/zulip-cert.crt" I thought that this was referring the full chain certificate when in reality its just the server public certificate that it needs. I got some help from the zulip support server and they asked me to submit a new issue about adding clarification to the documentation

[2021-04-02 17:01] amanagr commented on #17933
To understand why this cannot be fixed easily, we need to understand how this works, we start by making `position` of `table` `relative`, and then make `thead`'s `position` `sticky`. This means that `thead` will maintain its `position` compared other rows.

Now, we could simply tell browser that only elements in `tbody` are scrollable, but that is not how `simplebar` works. `simplebar` needs to be

[2021-04-02 17:46] akshatdalton commented on #17954
Working on this.

[2021-04-02 18:26] shanukun commented on #16022
@MSurfer20 are you still planning to work this?

[2021-04-02 18:28] rijusougata13 commented on #17842
@zulipbot  claim

[2021-04-02 18:30] 100RABHpy commented on #14490
Hey @amanagr, Is this issue resolved?

[2021-04-02 19:10] timabbott opened #17956 "Tweak translations.json i18n logic to use the correct algorithm for translation discovery"
Basically, we should be using the algorithm described in [this doc](https://docs.djangoproject.com/en/3.1/topics/i18n/translation/#how-django-discovers-translations) for `translations.json`, but are not:

[code]

Specifically, following the `de-at` (Austrian German) example from the docs, consider what would happen if we added a `de-at` locale directly alongside the `de` one, and it only changed 1

[2021-04-02 19:14] rijusougata13 commented on #17954
@zulipbot  claim

[2021-04-02 19:15] rijusougata13 commented on #17954
@zulipbot  label "help wanted"

[2021-04-02 19:15] rijusougata13 commented on #17954
@zulipbot  claim

[2021-04-02 19:57] rijusougata13 commented on #17842
@zulipbot  add "good first issue"

[2021-04-02 19:57] rijusougata13 commented on #17842
@zulipbot  claim

[2021-04-02 19:58] rijusougata13 commented on #17842
@zulipbot  claim

[2021-04-02 20:23] KakoozaJerry commented on #15977
@zulipbot claim

[2021-04-02 20:35] jannekemorin commented on #15977
@zulipbot unclaim

[2021-04-02 20:35] DavidThompson8 commented on #15977
@zulipbot claim

[2021-04-02 20:58] timabbott opened #17961 "Make tools/build-docs have a faster edit/refresh cycle"
Currently, building our ReadTheDocs documentation locally takes 30-60s via `tools/build-docs`, which I'll copy here since it's simple:
[code]

The thing which is expensive is the `clean` there -- `make clean` deletes the last compile and thus results in our rebuilding everything.

The reason we do that is if you just do `make html`, it won't rebuild the sidebar, just the individual pages, which is

[2021-04-02 21:14] KakoozaJerry commented on #17897
@zulipbot claim

[2021-04-02 22:14] tushar912 commented on #17961
@zulipbot claim

[2021-04-02 23:15] adambirds commented on #17928
@zulipbot claim

[2021-04-03 00:35] alya opened #17967 "Create new page for "Buy Standard" button"
Clicking the "Buy Standard" button from https://zulip.com/plans/ currently takes the user to https://zulip.com/new/. This is very confusing for users who already have an organization they're trying to purchase a plan for.

Instead, the "Buy Standard" button should go to a new page that has links for the user to either (a) create a new Zulip organization, or (b) log in, depending on what their situ

[2021-04-03 00:57] timabbott opened #17968 "Allow organization administrators to set default colors for channels"
Zulip's stream colors are currently generated independently for each user (with an ordered sequence of colors).  This is nice for the onboarding experience, because it lets us avoid near-duplicate colors.  But for larger organizations, one can often want to use these for organization (E.g. one can imagine orange/red shades for alerts streams, or purple for social streams, or whatever).

See #15078

[2021-04-03 00:58] timabbott commented on #15078
Closing in favor of #17968, which has a more unified description of a concept in this direction based on other feedback as well.  @jmandel your feedback on that would be helpful!

[2021-04-03 00:58] #15078 closed

[2021-04-03 01:14] adambirds opened #17969 "Create Integration for Json Printing any Webhook Payload"
Create Integration for JSON Printing any Webhook Payload

Useful for webhook testing

https://chat.zulip.org/#narrow/stream/127-integrations/topic/webhook.20testing

[2021-04-03 01:15] #17476 closed

[2021-04-03 01:15] adambirds commented on #17969
@zulipbot claim

[2021-04-03 01:15] adambirds commented on #17969
@zulipbot add "area: integrations"

[2021-04-03 01:23] timabbott commented on #15993
@kbuzzard definitely -- in part because this is the wrong repository for Mobile: https://github.com/zulip/zulip-mobile/issues/new

[2021-04-03 01:25] weilirs commented on #17929
@zulipbot claim

[2021-04-03 02:09] Nyior commented on #17826
@timabbott thank you for the feedback! I'm already working on it!
One thing, I didn't get the part you suggested the workaround for retrieving upgrade timestamps in the development folder. I know you said something about an override mechanism, but I'm not sure what that means.

[2021-04-03 03:43] MSurfer20 commented on #16022
Hey @shanukun ! I'm still working on this(couldn't get the chance to make a PR due to a busy week; will open one soon)

[2021-04-03 04:01] mandepsingh commented on #17731
@zulipbot abandon

[2021-04-03 04:52] timabbott commented on #17826
Just create a new setting called `LAST_SERVER_UPGRADE_TIME` that in production is computed based on the deployment directory timestamp, and in development is set in `zproject/dev-secrets.conf` (so one can test with it), or the current time if not set (which will make this feature not appear in development unless configured -- which is ~correct since it's very unlikely to have an active development

[2021-04-03 05:10] #16971 closed

[2021-04-03 05:11] timabbott commented on #17897
https://github.com/zulip/zulip/pull/17906 has an example of doing such a redirect manually.

[2021-04-03 06:17] akshatdalton opened #17971 "markdown: Add support for link shortener."
Add support for link shortener with an organization-configurable regex list similar to [linkifiers](https://zulip.com/help/add-a-custom-linkifier):
`https://github.com/(?P<owner>[a-zA-Z0-9_-]+)/(?P<repo>[a-zA-Z0-9_-]+)/issues/(?P<number>[0-9]+)` → `%(owner)s/%(repo)s#%(number)s`

It should have organisation settings similar to that of linkifiers.

https://chat.zulip.org/#narrow/stream/3-backend/to

[2021-04-03 06:19] akshatdalton commented on #17971
@zulipbot add "area: markdown" "new feature"

[2021-04-03 06:41] smitpatel24 commented on #17495
@zulipbot claim

[2021-04-03 08:45] 100RABHpy commented on #16579
Hey @m-e-l-u-h-a-n, Are you working on it. I saw that you have PR for this, but it's not updated for many days. If not, I want to take this issue.

[2021-04-03 09:33] Piyushagg19 commented on #17971
@zulipbot claim

[2021-04-03 10:27] m-e-l-u-h-a-n commented on #9352
@zulipbot claim

[2021-04-03 10:40] Piyushagg19 commented on #17731
@zulipbot claim

[2021-04-03 12:59] shanukun commented on #10794
@zulipbot claim

[2021-04-03 13:04] ritikchauhan-01 commented on #17211
@timabbott what about replacing them with the stream_name_save , stream_name_cancel and stream_description_save, stream_description_cancel for stream name and stream description

[2021-04-03 13:13] BrundaBR commented on #17934
you are talking about the heading which are stream ,topic ,participants,time if i am right?
these headings highlight color is currently grey which has to changed except the little triangle which can be grey .
Please confirm me on this.

[2021-04-03 14:41] #17934 closed

[2021-04-03 14:55] showell commented on #15692
We need to decide our exact policy here for how many messages a user can attempt to send before we decide that there are too many un-acked messages.  Once a certain number of un-acked messages have accumulated, or enough time has expired, we want to basically disable the user's compose box.  I'm not sure what the existing code does here.

And then, assuming users can have multiple messages queued

[2021-04-03 14:59] akshatdalton commented on #15692
Yes, the code structure right now lets only the last unsent message be sent.

[2021-04-03 15:17] #17558 closed

[2021-04-03 15:25] #17830 closed

[2021-04-03 15:53] ritikchauhan-01 commented on #17855
@zulipbot abandon

[2021-04-03 16:52] srinivasan1995 commented on #17941
@zulipbot claim

[2021-04-03 17:16] guptaprakhariitr opened #17975 "enhancement: Indicate loading in some way when open a stream."
This issue mainly relates to one's with a slow internet connection. There is no indicator to indicate that the stream is loading after a click, so it becomes inconvenient/irritating, and sometimes, users click multiple times on stream/or otherwise. Below is a screen capture of the problem. There is some delay in stream-opening but nothing to indicate that.
![issue2](https://user-images.githubuserc

[2021-04-03 17:26] PIG208 opened #17976 "The error message is not correctly displayed for "Invalid configuration data""
## Steps to reproduce
- Disconnect from the Internet.
- Go to `settings`, under the `Add a new bot` tab in `Your bots`.
- Select `Embedded bot`, and `gighy`.
- Fill in the other fields.
- Click on `Create bot` and wait for 240 seconds.

It's likely that `validate_config` waits until there is a network time out before raising an error. Ideally, it should receive this response from the server and re

[2021-04-03 18:53] guptaprakhariitr commented on #17975
@zulipbot add  "enhancement"

[2021-04-03 18:54] guptaprakhariitr commented on #17975
@zulipbot add "feedback wanted"

[2021-04-03 20:23] michaelkli1998 commented on #17967
@zulipbot claim

[2021-04-03 20:29] m-e-l-u-h-a-n commented on #9238
@timabbott I think this is fixed. I tested the current behavior and currently we trim input for description if its larger than 1024 character, and while editing we give 400 error.
I guess this can be closed now.

[2021-04-03 20:44] michaelkli1998 commented on #17967
@alya Would simply adding this be an easier fix? Or would it just be better overall experience to implement a new page as you have above?
![Capture](https://user-images.githubusercontent.com/33680232/113490999-a4c2be80-949b-11eb-883f-5c99b599bf20.PNG)

[2021-04-03 21:31] rijusougata13 commented on #17954
I was wondering if only adding this line can fix the issue or not ? any idea?
[code]

[2021-04-03 22:10] timabbott commented on #17954
Closing this issue since we decided to back out the feature and rewrite it in a more configurable form more like linkifers.

[2021-04-03 22:10] #17954 closed

[2021-04-03 22:11] alya commented on #17967
Sure, your proposal sounds good. I would use "log in to" spacing here.
https://grammarist.com/spelling/log-in-login/ Thanks!

On Sat, Apr 3, 2021, 1:44 PM Michael Li ***@***.***> wrote:

[2021-04-03 22:51] PIG208 commented on #17976
This might be related #17742.

[2021-04-04 03:51] tushar912 commented on #14578
@zulipbot claim

[2021-04-04 05:09] weilirs commented on #17929
I'm new here. So for this issue, my first task is to change the bash script to a python script? And is there a specific stream I can ask for help? thanks

[2021-04-04 05:25] yashikajotwani12 commented on #17938
@zulipbot claim

[2021-04-04 08:03] im-adithya opened #17986 "Star appears on top of RTL messages"
## Description
While using RTL languages, the star appears on top of the message, covering the first letter of the message (a bit)

### * This happens only on mobile-view *

## Screenshot
![108604193-6339f080-73d2-11eb-98cb-a82988aec600](https://user-images.githubusercontent.com/64399555/113502342-6f74aa00-9549-11eb-92ce-43918e2a2c98.jpg)

[2021-04-04 08:09] ArunSankarKs commented on #14991
Still working on it.

[2021-04-04 08:45] ArunSankarKs commented on #17968
@zulipbot claim

[2021-04-04 10:31] tushar912 commented on #17454
@zulipbot claim

[2021-04-04 12:06] tushar912 commented on #13656
@zulipbot claim

[2021-04-04 18:18] seiwailai commented on #17933
@zulipbot claim

[2021-04-05 03:15] ashwinexe commented on #17842
@zulipbot claim

[2021-04-05 03:39] abhijeetbodas2001 commented on #6954
@hashirsarwar Are you still working in this? If not, I'd like to give this a try.

[2021-04-05 08:30] m-e-l-u-h-a-n commented on #9382
@zulipbot claim

[2021-04-05 12:02] nikhilmaske-2001 commented on #10119
@zulipbot claim

[2021-04-05 14:23] #17917 closed

[2021-04-05 15:22] hackerkid commented on #17967
Linking the button to `/accounts/go/?next=/upgrade` does this. When use clicks on the button, they would be redirected to a page where they have the option to goto their organization or create an organization. If they choose to go to their organization, they would be redirected to /upgrade page.

![Screenshot from 2021-04-05 20-42-27](https://user-images.githubusercontent.com/7190633/113589798-738

[2021-04-05 15:46] timabbott commented on #17857
@edith007 I merged the PR for this, but I think on reflection we should probably move the commands for doing this to the "management commands" page, and make the /help/ page just have a single line for the self-hosting case linking to the right section of ReadTheDocs.  It can probably go in the https://zulip.readthedocs.io/en/latest/production/management-commands.html#other-useful-manage-py-comman

[2021-04-05 16:36] timabbott commented on #16239
For migrating to Jest, https://github.com/zulip/zulip/pull/13374 is the PR -- currently blocked on performance issues with Jest.

It's worth doing a bit more research for this issue; now that we've moved from CircleCI to GitHub Actions, there may be new options available for how to achieve our actual end goal (Having the "checks" output show what failed).

[2021-04-05 17:17] timabbott commented on #10794
I'm going to close this as addressed by the "Recent topics" feature; while I could imagine this sort of sort feature being useful, I think it makes sense to only consider doing this after additional feedback from users who already have access to "Recent topics".

[2021-04-05 17:17] #10794 closed

[2021-04-05 18:10] srinivasan1995 commented on #17921
@zulipbot claim

[2021-04-05 18:10] srinivasan1995 commented on #17921
@zulipbot claim

[2021-04-05 18:18] anthony-farah commented on #17419
@zulipbot claim

[2021-04-05 18:25] alya commented on #17967
Yes, linking the button to `/accounts/go/?next=/upgrade` makes sense to me!

[2021-04-05 18:31] jannekemorin commented on #17955
@zulipbot claim

[2021-04-05 18:56] hackerkid commented on #17967
@michaelkli1998 Feel free to create a PR.

[2021-04-05 19:26] alya opened #17998 "Warn user about @ mentioning the addressee in 1:1 PMs"
In some orgs using other chat tools (e.g. Slack), it is common to start 1:1 PMs by @ mentioning the user being addressed (e.g. `"Hi @kelly!"`). Users with this habit may do so on Zulip as well. This results in potentially unexpected behavior, where the message is highlighted and shows up in @ mentions in addition to PMs.

In order to address this, we should warn users about the impact of using an

[2021-04-05 19:35] varkor commented on #10794
I would personally still find this useful, as it saves a click by avoiding having to navigate via **Recent topics**. Obviously this is a minor improvement, but it seemed like the feature was mostly implemented in https://github.com/zulip/zulip/pull/14382 anyway, so it wouldn't be significantly more work.

[2021-04-05 20:31] rijusougata13 commented on #17944
@zulipbot  claim

[2021-04-05 20:32] rijusougata13 commented on #17944
@zulipbot claim

[2021-04-05 20:44] timabbott commented on #16942
So I think we're about to merge #17594, which was inspired by this, but actually fixes an unrelated bug.  The `all_public_streams` feature works totally differently from how we normally deliver events to users, having its own custom code.  Search for `all_public_streams` in `actions.py` for details on how that works.

[2021-04-05 21:01] rijusougata13 commented on #17861
@sumanthvrao  are you working on this ?

[2021-04-05 22:18] #15993 closed

[2021-04-05 22:52] GITcgutie commented on #17998
@zulipbot claim

[2021-04-05 23:03] GITcgutie commented on #17838
@zulipbot claim

[2021-04-05 23:04] ChloeTang99 commented on #17838
@zulipbot claim

[2021-04-05 23:08] ChloeTang99 commented on #16958
@zulipbot claim

[2021-04-06 00:21] #17309 closed

[2021-04-06 00:34] #2507 closed

[2021-04-06 00:34] #13480 closed

[2021-04-06 00:45] #16951 closed

[2021-04-06 01:05] sumanthvrao commented on #17861
@rijusougata13 I hadn't gotten to this yet, feel free to pick it up.

[2021-04-06 03:37] tushar912 commented on #11721
@zulipbot claim

[2021-04-06 03:49] edith007 commented on #17205
@zulipbot claim

[2021-04-06 05:19] michaelkli1998 commented on #17938
I have added my own version of this fix in the pull request #18004

[2021-04-06 09:40] 100RABHpy commented on #17610
@zulipbot claim

[2021-04-06 10:48] m-e-l-u-h-a-n commented on #17454
@zulipbot claim

[2021-04-06 15:09] timabbott commented on #17986
@im-adithya thanks for the report!

[2021-04-06 15:20] mgshestko commented on #17248
@zulipbot claim

[2021-04-06 15:40] timabbott opened #18010 "openapi: Fix display of boolean types in examples"
Apparently, our display of boolean types in the API documentation is a bit weird; specifically, we show the default as `false` and the example as `True`.  The latter is how Python displays boolean true, but at the API level, it should be `true`, since that's how one encodes true in JSON.  And in any case, the default value and example should definitely be the same type in terms of whether we show

[2021-04-06 16:13] PIG208 opened #18011 "Settings/invites flashing (URL being flipping)"
In this [thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/Settings.2Finvites.20flashing), @abhijeetbodas2001 talks about a weird bug in the UI, which can be reproduced by doing the following.

Similar behavior can be reproduced by:
1. Go to settings (the URL should become `https://chat.zulip.org/#settings/your-account`)
2. Replace the URL with `https://chat.zulip.org/#organization/orga

[2021-04-06 16:15] PIG208 commented on #18011
@zulipbot add "bug" "help wanted"

[2021-04-06 16:16] PIG208 commented on #18011
@zulipbot add "bug"

[2021-04-06 17:18] mgshestko commented on #17248
@zulipbot abandon

[2021-04-06 17:18] mgshestko commented on #14732
@zulipbot claim

[2021-04-06 17:30] amanagr commented on #18011
2nd behaviour you described will be fixed by #17656

[2021-04-06 18:26] bhargavi247 commented on #17986
I would like to work on this issue with @amansr02.
@zulipbot claim

[2021-04-06 18:53] PIG208 commented on #12282
@zulipbot claim

[2021-04-06 18:55] parkyo commented on #14971
I found this issue on ovio.org and would love to contribute!

[2021-04-06 19:03] parkyo commented on #15310
Hi I would like to contribute to solving this issue

[2021-04-06 19:18] parkyo commented on #17508
@zulipbot  Can I take this task?

[2021-04-06 19:52] parkyo commented on #17768
@zulipbot Can I claim this?

[2021-04-06 19:54] parkyo commented on #17646
@zulipbot claim

[2021-04-06 20:00] parkyo commented on #17428
@zulipbot claim

[2021-04-06 20:16] parkyo commented on #15438
@zulipbot claim

[2021-04-06 20:17] parkyo commented on #15438
@zulipbot claim

[2021-04-06 21:08] PIG208 commented on #12811
@zulipbot claim

[2021-04-06 21:35] devZer0 commented on #15310
please feel free to do so !
https://zulip.readthedocs.io/en/latest/overview/contributing.html

[2021-04-06 22:24] alexmv commented on #17768
@parkyo: Go for it!  See the above notes about making sure you can replicate the behaviour first.

[2021-04-06 22:32] mateuszmandera opened #18017 "RemotePushDeviceToken design breaks in dangerous ways if the remote server's user ids get renumbered"
`RemotePushDeviceToken` associates a token with a user on a remote server, identified by the user's `id` in that server's database. This means that if those user ids are renumbered (e.g. as a result of repeated data imports or some manual fiddling by the server admin), some users might start receiving push notifications meant for another user.

Due to the security risk this poses, we should figure

[2021-04-06 22:35] mateuszmandera commented on #18017
We should discuss the right way to address this, but my initial concept was to just give `UserProfile`s a `uuid` and use it for `RemotePushDeviceToken`. That'll make `id` renumberings not matter and ``uuid`` doesn't have the analogical flaw.

[2021-04-06 23:24] timabbott commented on #13656
Just updating the thread that https://github.com/namuit/zulip/commit/46745400c7e048afd4fe89b89d0658758ac84858 has the one commit of work that's quite hard to find from #14173.

[2021-04-06 23:59] Signior-X commented on #18010
Just keen to know. Where do the api docs get prepared? I found that the openapi is used somehow and all the documentation is in `zulip.yaml`.

[2021-04-07 00:17] Signior-X commented on #17451
@zulipbot claim

[2021-04-07 00:37] #12282 closed

[2021-04-07 00:49] noemartinez commented on #12282
Thank you!

[2021-04-07 01:02] hamatilo commented on #17248
@zulipbot claim

[2021-04-07 01:12] cmunaco commented on #17274
@zulipbot claim

[2021-04-07 04:25] sumanthvrao commented on #16432
With #16496 merged, The backend APIs for configuring the playgrounds has been added. Here's an updated list of tasks pending:

### TODO

- [ ] Build a configuration UI (like the Linkifiers UI) (Note to be careful in doing the frontend work to avoid breaking the hardcoded ones)
- [ ] Figure out how to handle the default playgrounds for an organization.
- [ ] Investigate what services like `repl.it`

[2021-04-07 04:33] timabbott commented on #18010
https://zulip.readthedocs.io/en/latest/documentation/api.html should hopefully explain this.  If it doesn't, we should fix the docs :)

[2021-04-07 06:41] #17898 closed

[2021-04-07 07:07] timabbott commented on #17737
I think this option makes sense to me, probably with a notice:

[2021-04-07 07:08] timabbott commented on #17734
@abhishekdeshmukh2209 can you provide a full traceback?  We no longer use `ujson` in Zulip, so I find this report surprising.

[2021-04-07 08:04] shanukun commented on #14504
@hashirsarwar are you planning on completing this?

[2021-04-07 08:05] timabbott commented on #18011
We've merged #17656, but still need to debug the other one.

[2021-04-07 10:02] aryanshridhar commented on #17030
The focus event is unbinded with the input bar within the newer version; There's is nothing to be done here.

[2021-04-07 10:02] #17030 closed

[2021-04-07 12:28] ArunSankarKs commented on #18010
@zulipbot claim

[2021-04-07 12:29] Signior-X commented on #8005
@zulipbot claim

[2021-04-07 12:34] aryanshridhar commented on #17861
Taking a stab at it :)

[2021-04-07 12:54] hackerkid opened #18022 "Make clubhouse integration handle multiple relevant secondary actions"
Each clubhouse payload has a primary action and a bunch of secondary actions. The primary action can be for example creating a pull request and the secondary action can be including the pull request to a story. So for each payload the clubhouse integration would send a message to a stream. Eg when a pull request is created and added to a story a message would be send under the topic Story name tha

[2021-04-07 14:03] shanukun commented on #17914
@zulipbot claim

[2021-04-07 14:56] PIG208 commented on #18022
@zulipbot claim

[2021-04-07 15:35] hamatilo commented on #17998
@zulipbot claim

[2021-04-07 15:37] hamatilo commented on #17998
@GITcgutie are you still working on this? would you mind if i took a look at it?

[2021-04-07 15:43] Shashantao commented on #14991
@zulipbot claim

[2021-04-07 16:10] hamatilo commented on #2746
@zulipbot claim

[2021-04-07 16:13] ArunSankarKs commented on #14991
@Shashantao I am working on this issue. and have some Open PRs awaiting reviews. :). I guess Zulipbot unassigned me when some of my PRs got merged.

[2021-04-07 16:36] alya opened #18027 "Remove "Narrow to topic" from three-dot menu"
The three-dot menu for topics in the left sidebar has a "Narrow to topic" option. However, simply clicking on the topic does the same thing. We should therefore remove "Narrow to topic" from the three-dot menu.

[2021-04-07 16:39] nikhilmaske-2001 commented on #18027
@zulipbot claim

[2021-04-07 16:53] #18010 closed

[2021-04-07 16:59] mandepsingh commented on #17938
@zulipbot claim

[2021-04-07 17:33] timabbott commented on #14808
@shanukun just wanted to check what remains for this effort.

[2021-04-07 18:06] #18027 closed

[2021-04-07 18:17] amanagr opened #18031 "Add puppeteer tests for recent topics."
Since the design of recent topics is stable now, we should add some puppeteer tests to it that test these basic actions:

- [ ] Filters selection
- [ ] search for topics
- [ ] clicking on row elements like stream and topic takes them to appropriate narrow.
- [ ] Read and mute action buttons work properly
- [ ] Compose actions work as intended.

[2021-04-07 18:37] parkyo commented on #17768
abandon

[2021-04-07 18:39] RalfJung commented on #8217
I'd love to see this happen; as an experienced Zulip user, having to click away all those notifications in each new instance is quite annoying. To make this worse, it seems like skipping this was possible in the past (https://github.com/zulip/zulip/issues/872) but the option was removed some day.

[2021-04-07 18:45] shanukun commented on #14808
@timabbott There are still few remaining that needs to refactored, I'll soon push next batch, and after that we can start updating others.

[2021-04-07 18:51] cmunaco commented on #17274
abandon @zulipbot

[2021-04-07 18:51] cmunaco commented on #17274
@zulipbot abandon

[2021-04-07 18:53] cmunaco commented on #2746
@zulipbot claim

[2021-04-07 18:55] Nicolexieyn commented on #17731
@zulipbot claim

[2021-04-07 19:11] #16048 closed

[2021-04-07 19:47] timabbott opened #18035 "Fix weird encoding of string parameters not using `str_validator`"
So, we have a substantial number of endpoints that use `json_validator=check_string` or variants for verifying string inputs.  This is a very strange thing to do, since rather than requiring as intended that we get passed a string, we're checking that we're being passed effectively `json.dumps(input_string)`.  There's two changes we want to make here:
* We should use `json_validator=check_string`

[2021-04-07 20:33] Shashantao commented on #14991
@ArunSankarKs I found people including you working on markdown syntax, non-ASCII characters, emoji reactions, and embedded links, but not uploaded files. I think I can work on uploaded files in this case.

[2021-04-07 20:48] ArunSankarKs commented on #14991
@Shashantao I was planning on doing file uploads later.  But sure go ahead!

[2021-04-07 21:28] 100RABHpy commented on #16090
@zulipbot Claim

[2021-04-07 21:28] alexmv opened #18039 "Installation should create a .gitconfig for zulip user"
For installs which use the `upgrade-zulip-from-git` process, this means the deployment directory is a git checkout.  This means that one can, as an emergency tool during deploys, run `git revert` and similar commands -- assuming there is a `~/.gitconfig` set up for the user.

We should create such a file at installation time.  It should consist of:
[code]
...where `ZULIP_ADMINISTRATOR` is `setting

[2021-04-07 21:48] #17334 closed

[2021-04-07 22:19] #17297 closed

[2021-04-07 23:49] timabbott commented on #18035
I opened https://github.com/zulip/zulip/pull/18038 as an example of how to do this sort of migration for an endpoint that we believe is not used in the mobile apps.  That should apply to `realm_domains`, `hotspots`, `tutorial`, `update_default_stream_group_info`, `update_stream_backend`, and possible some of the others.

[2021-04-08 01:28] #17926 closed

[2021-04-08 04:28] tushar912 commented on #17768
@zulipbot claim

[2021-04-08 04:51] aryanshridhar commented on #18031
@zulipbot claim

[2021-04-08 06:13] edith007 commented on #18039
@zulipbot claim

[2021-04-08 06:52] Nyior commented on #13172
On the Google Summer of Code ideas page for Zulip, there was a reference to this issue. It's something that interests me. @amanagr You said the work on this had been completed ? I was wondering if there are other ways I could carry on with this. For example, ideas for extending this project etc.

[2021-04-08 08:07] amanagr commented on #13172
I don't think you should focus on this for now. Take a look at https://github.com/zulip/zulip/issues?q=is%3Aissue+is%3Aopen+label%3Abug if you are looking for issues.

[2021-04-08 08:31] tushar912 commented on #17768
@alexmv I am unable to reproduce this in my development environment.

[2021-04-08 08:32] tushar912 commented on #17768
I am getting the correct link
![image](https://user-images.githubusercontent.com/59223034/113994524-15d6ed00-9873-11eb-9803-2f12bc765095.png)

[2021-04-08 14:13] ganpa3 commented on #16499
I think we could

1. Add prompts with a `--yes-to-all` option
2. Perform a sanity check before running the script and warn the user

Most people don't read documentation or just forget about it :)

[2021-04-08 14:28] seiwailai commented on #17910
@zulipbot claim

[2021-04-08 14:30] seiwailai commented on #17910
@zulipbot claim

[2021-04-08 14:42] tushar912 commented on #16957
@zulipbot claim

[2021-04-08 16:33] ganpa3 commented on #14971
Maybe related https://github.com/zulip/zulip/issues/12098

[2021-04-08 21:17] alya opened #18052 "Buggy draft behavior when stream or topic is not set"
There are two issues having to do with drafts that are missing stream and/or topic info.

1. Selecting a draft message generally navigates the user to the context for the draft. The behavior is currently broken when the stream in the draft message has been set but the topic has not. In particularly, it sends the user to a topic with an empty name, resulting in a "Nothing's been sent here yet!" vie

[2021-04-08 22:15] ro-i commented on #17910
Hi, @seiwailai :) Do you work on this? Actually, I wanted to try this PR (see linked topic)...

[2021-04-08 22:28] Jbleezy commented on #8021
How has this still not been implemented?

[2021-04-08 22:54] gnprice opened #18053 "Copy-source button doesn't work on pending / local-echo messages"
This is a followup to #17650.

Since #17666, we have the "View source" button on messages that we haven't yet successfully sent. And it indeed opens the "view source" UI on that message.

But then if you try to use the "Copy and close" button on that source view, it doesn't actually copy anything to the clipboard.

For anyone with the original use case that #17666 is for, the "Copy and close" butt

[2021-04-08 22:56] gnprice commented on #17650
I found today that this UI is there but doesn't totally work: #18053 @Signior-X do you have some time to fix that?

[2021-04-09 03:10] recursivecodes commented on #17762
Wondering if you have had a chance to check this out yet? I'd love to blog about turning up Zulip on Oracle Cloud, but I'd prefer to wait until there is an "official" fix for this issue. Thanks!

[2021-04-09 03:41] tushar912 commented on #18053
@zulipbot claim

[2021-04-09 06:08] timabbott commented on #18011
Tagging as a release goal.  I'm pretty sure this is a consequence of "Recent topics" having been moved to the center pane and being underneath.

[2021-04-09 06:09] timabbott commented on #18011
My guess is that `recent_topics.is_visible()` is returning True when looking at an overlap on top of "recent topics", like the invites modal.

[code]

[2021-04-09 06:10] timabbott commented on #17976
Is this actually a timeout issue, or just a mismatch between the error formats returned by the backend and parsed by the frontend?

[2021-04-09 06:11] timabbott commented on #17955
@jannekemorin are you still working on this?  If not, @mateuszmandera would you have time to do a PR?

(Generally this sort of highly technical documentation change is not a super great project for new contributors in any case).

[2021-04-09 06:37] daniellf99 opened #18058 "Webpack-cli unknown option 'watch-poll=1000'"
There's is a code section in `tools/webpack.py` that adds the `--watch-poll` flag to the webpack-dev-server:
[code]
However, when this happens webpack-cli throws an error:

[code]
Apparently, `--watch-poll` isn't valid.. I searched webpack's documentation and couldn't find anything related to it.

[2021-04-09 07:00] seiwailai commented on #17910
@ro-i Sure, you can make a pull request

[2021-04-09 09:29] Signior-X commented on #17650
Sure I have, but I guess someone has already taken up that issue to work on :)
I will help review it.

[2021-04-09 09:30] Signior-X commented on #18053
@tushar912 if you face any problem, do ask here.
I am also looking for this, why is this happening. :+1:

[2021-04-09 10:06] devZer0 commented on #12328
at least you can search for topics when entering new message, this is limited to the stream you're in, though

<img width="427" alt="grafik" src="https://user-images.githubusercontent.com/3506105/114164723-eb953600-992b-11eb-9a52-4dc095d73b8f.png">

[2021-04-09 10:11] 100RABHpy commented on #18052
@zulipbot Claim

[2021-04-09 10:12] 100RABHpy commented on #18052
@zulipbot claim

[2021-04-09 10:51] nikhilmaske-2001 commented on #17168
As we are using tippy tooltip now, does this issues make sense @amanagr ? If not, we can close this issue.

[2021-04-09 10:53] nikhilmaske-2001 commented on #17288
As we are using tippy tooltip, does this issue make sense now? If not we can close this issue.

[2021-04-09 11:06] ganpa3 commented on #18058
Fixed by #18060

[2021-04-09 11:52] edith007 commented on #17857
@timabbott can we add a management command for changeing the realm subdomain, and add the documentation for it on the /help page?
Also, realm's subdomain can also be changed using `/activity/support` page.

[2021-04-09 12:53] jeremydou1113 commented on #17731
@zulipbot claim

[2021-04-09 12:56] jeremydou1113 commented on #17716
@zulipbot claim

[2021-04-09 12:56] ligmitz commented on #17737
@zulipbot claim

[2021-04-09 12:58] PIG208 commented on #17976
I think the frontend doesn't handle empty error messages when this kind of timeout error happens.

[2021-04-09 13:16] pletinckxc commented on #17672
I will resume my work on this issue in the next few days.

[2021-04-09 15:24] #18011 closed

[2021-04-09 15:55] timabbott opened #18062 "help center: Improve formatting for labels in stream permissions table"
On http://localhost:9991/help/stream-permissions, there's a

![image](https://user-images.githubusercontent.com/2746074/114207094-da8afb80-9910-11eb-8b34-2db4540f186e.png)

The code is `templates/zerver/help/stream-permissions.md`.  I think we basically should just add some spans (as we can with markdown) and use CSS for alignment rather than playing games with whitespace like what I removed in 68

[2021-04-09 18:03] timabbott commented on #14321
See #16901 for notes, but we should only work on this after we've migrated way from `i18next` as our internationalization library, since the current library makes achieving this goal difficult without writing a ton of code.

[2021-04-09 18:04] timabbott commented on #14321
Though actually -- we can probably just give a better error message and close this out now, just recommending using `git grep`.

[2021-04-09 18:06] timabbott commented on #14407
@PIG208 FYI -- is this resolved by your recent PR?  If so I think this issue is a duplicate and am going to close it under that assumption.

[2021-04-09 18:06] #14407 closed

[2021-04-09 18:10] #14321 closed

[2021-04-09 18:12] timabbott commented on #14574
Closing as not having much in addition to #14573.  It's worth mentioning that we have users on the right sidebar and many organizations with dozens of users have dozens of streams too.

[2021-04-09 18:12] #14574 closed

[2021-04-09 18:12] timabbott commented on #14574
Generally #feedback in chat.zulip.org is a better place for feedback like this than the issue tracker.

[2021-04-09 18:14] timabbott commented on #14680
@Signior-X FYI -- I think this probably belongs on your TODO list rather than as an open issue, so I'm going to close this, but it's worth your doing a thread on #frontend where you live-blog some testing of this form, once we merge the latest set of PRs for this area, so others can kibitz on that for things to try that might be bugs in a system of this form.

[2021-04-09 18:14] #14680 closed

[2021-04-09 18:15] #14814 closed

[2021-04-09 18:16] timabbott commented on #14814
Closing as not reproducible and probably something that will be fixed when we change the floating recipient bad to use `position: sticky` anyway, so it doesn't benefit from a separate issue.

[2021-04-09 18:17] timabbott commented on #14880
This was done in 238c2ff4fbb109eb7dab060575db9da1c58a0e74.

[2021-04-09 18:17] #14880 closed

[2021-04-09 18:25] timabbott commented on #15043
Closing as a duplicate.

[2021-04-09 18:25] #15043 closed

[2021-04-09 18:27] ritikchauhan-01 commented on #14910
@zulipbot claim

[2021-04-09 18:30] timabbott commented on #14690
This is a tricky product issue.  The settings introduced last summer to better configure invitations are helpful, but structurally we probably want the "post invitation" signup flow to more exactly match the "no invitation" signup flow, in terms of allowed authentication methods.  But certainly we should at least adjust documentation around this topic, especially since the behavior for SAML differ

[2021-04-09 18:32] timabbott commented on #15935
Sorry for the slow reply.  That said, our documented support path for LDAP configuration issues is chat.zulip.org, not the issue tracker, in part because we it's not easy to debug your configuration noninteractively.

[2021-04-09 18:32] #15935 closed

[2021-04-09 18:32] timabbott commented on #16050
Yes, the global "Notification settings" page will show any streams whose configuration differs from the default and allow you to override them.

(Sorry for the slow reply)

[2021-04-09 18:32] #16050 closed

[2021-04-09 18:36] timabbott commented on #16160
I'm not sure that this change would be in line with user expectations, but I suppose it could be.  I am confident it'd be useful to be able to search for mentions (including silent ones) of oneself; but I think people currently use silent mentions to refer to a person without notifying them (E.g. for clarity in a conversation), and that use case would be interfered with by this idea

I think we ne

[2021-04-09 18:43] timabbott commented on #16596
I doubt this issue is actually desktop-specific; that UI widget is part of the webapp codebase.

@areebbeigh can you still reproduce this issue?

[2021-04-09 18:45] timabbott commented on #16206
We also want to get email addresses out of this API's response; given that we probably will need a `client_capability` for this change anyway to avoid breaking mobile, it's possible we also change the keys to be user IDs.

@sahil839 thoughts on the format question?

[2021-04-09 19:26] #17928 closed

[2021-04-09 19:36] sahil839 commented on #16206
Hmm, `stream_id` will probably not used by our webapp client or likely other clients too (we only use name to show the success and failure messages in UI), but yeah other users using the API in other way may require `stream_id`, so I cannot think of any other format other than mentioned above as of now and cannot see any disadvantages of this format at present.

[2021-04-09 21:41] #18058 closed

[2021-04-09 21:41] timabbott commented on #18058
Thanks for the report!

[2021-04-09 21:51] timabbott commented on #17824
Fixed in https://github.com/zulip/zulip/pull/18034.

[2021-04-09 21:51] #17824 closed

[2021-04-09 21:58] timabbott commented on #17348
https://zulip.com/help/message-retention-policy lets one delete old messages.

This includes the Attachment objects referencing them, but it does appear that this system does yet delete the associated image files (Though it does make them inaccessible).  This seems like a bug worth fixing -- it probably does result in significant wasted storage space for some organizations.

@mateuszmandera this i

[2021-04-09 22:00] gnprice opened #18067 "Include stream ID in push notifications for stream messages"
Currently our push notifications include user IDs for all the users involved, but for the stream of a stream message they only include the stream name -- not the stream ID:

https://github.com/zulip/zulip/blob/4dacbfdc823ce7347979683e917eabb390c8ae07/zerver/lib/push_notifications.py#L670-L674

We should add a field `stream_id` which has the numeric stream ID, so that it's possible for clients to i

[2021-04-09 22:05] timabbott commented on #17451
@jojoqjchen the functions at the top of `static/js/ui.js` should help you see how to get the scroll container.  What you suggested isn't going to work because that selector will find all scrollbars on the page (among other things).

[2021-04-09 22:07] timabbott commented on #16452
Closing in favor of #17306, since that seems to be a duplicate with more technical detail on how to proceed.

[2021-04-09 22:07] #16452 closed

[2021-04-09 22:17] pablow1422 opened #18068 "\vec{} doesn't render properly in Firefox"
As the title says, expression containing \vec{} are missing the top arrow. The KaTeX demo page renders it properly. The Android app doesn't have this issue.

Firefox 87
OS: Gentoo Linux

[2021-04-09 22:40] alya opened #18069 "Show user count for group PMs"
It is currently hard to distinguish group PMs from 1:1 PMs in the left side bar, especially when the first participant's name is long enough to hide the others. There is also no way to distinguish a conversation with users A, B, C vs. A, B, C, D, assuming only the first couple of names fit.

To improve the UI, we should replace the presence dot for group PMs with the number of users in the group.

[2021-04-09 22:40] timabbott commented on #17288
I think the new #17434 tooltips resolve this.

[2021-04-09 22:40] #17288 closed

[2021-04-09 22:42] timabbott commented on #17168
I think the new tooltip styling from Tippy resolves this.

[2021-04-09 22:42] #17168 closed

[2021-04-09 22:43] timabbott commented on #18068
@pablow1422 can you post a screenshot and complete example syntax?

It's possible this is an upstream bug fixed in the latest KaTeX release, which hasn't made it to zulipchat.com production yet.

[2021-04-09 22:44] timabbott commented on #17169
Yeah, I think this is expected and likely also resolved by our recent tooltip migrations.

[2021-04-09 22:44] #17169 closed

[2021-04-09 22:58] timabbott commented on #17147
@eduherraiz sorry for the slow reply!

I think the bug here is that you have a private stream configured as the "notifications stream" for the organization -- which is an invalid configuration.

I think we fixed this exception in master and the fix will be in the upcoming 4.0 release (can't find the commit easily right now), so I'm going to close this issue, but please stop by chat.zulip.org if yo

[2021-04-09 22:58] #17147 closed

[2021-04-09 22:59] timabbott commented on #17060
@amanagr I assume this was fixed by the Tippy migration.

[2021-04-09 22:59] #17060 closed

[2021-04-09 23:04] timabbott commented on #17026
@jafingerhut thanks for the report, and sorry for the slow reply -- I was on paternity leave and this is the type of subtle thing that other folks don't reply to.

I would expect clicking the topic on a message to take you to the message in question.

One possible explanation for what you're seeing is if the message you're clicking on is in an unread topic -- it might be that we take you to the fi

[2021-04-09 23:06] timabbott commented on #17022
Zulip isn't really designed to be the chat backend for an unrelated mobile application, so I'm not sure it makes sense to build such a tutorial.

We probably will have API bindings implemented using `openapi-generator` in the future.

[2021-04-09 23:06] #17022 closed

[2021-04-09 23:08] timabbott commented on #17013
@vanclute thanks for the feedback!

This is being worked on here: https://github.com/zulip/zulip/issues/3775.

@Hypro999 FYI -- I think if you open a new PR, I should have the capacity to review it this coming week.

[2021-04-09 23:08] #17013 closed

[2021-04-09 23:10] timabbott commented on #526
Closing in favor of #17008 because this issue is hopelessly spammed.

[2021-04-09 23:10] #526 closed

[2021-04-09 23:12] timabbott commented on #17008
Thanks for the feedback @ToucheSir!  I agree this would be useful.  Tagging this as a priority.

I think there has been some recent movement on this, specifically work on changing the API for muted topics to be extensible where we can add an expiration time field.  Which might be the majority of the actual work.

I'm going close #526 as a duplicate of this, because it's super old and messy.

[2021-04-09 23:13] timabbott commented on #17004
@vanclute can you explain the issue in more detail?  Browsers do spell-checking by default, and we have a spellchecker setting available in the desktop app as well.

Closing since I believe this is already available.

[2021-04-09 23:13] #17004 closed

[2021-04-09 23:13] timabbott commented on #17003
@PatrickLDiaz are you seeing this only in the Zulip desktop app?

[2021-04-09 23:22] timabbott commented on #16986
One theory is that this is a side effect of https://github.com/zulip/zulip/issues/10886, potentially along with Zulip windows reloading when new messages appear -- we might eat your oldest unread message due to a background reload corner case, and these happen to be PMs.

I attempted to test this theory as follows, without luck:
* I tried using `reload.initiate` -- the mechanism through which Zuli

[2021-04-09 23:23] timabbott commented on #16969
Closing as fixed in #16789.

[2021-04-09 23:23] #16969 closed

[2021-04-09 23:25] timabbott commented on #16826
Sorry for the slow reply!  I was on paternity leave at the time and some issues slipped through our triage process.

There was a desktop app bug with this description fixed a few months ago, so closing as resolved.

See https://github.com/zulip/zulip-desktop/issues/1016, fixed the same day as this report.

[2021-04-09 23:25] #16826 closed

[2021-04-09 23:29] pablow1422 commented on #18068
Sure. Here's a snippet: `$$ \vec r=x\hat{i}+y\hat{j} $$`

It doesn't matter if it's inline or a math block. This is the output:
![shot-2021-04-09_20-20-22](https://user-images.githubusercontent.com/16214255/114249792-ff638b00-9971-11eb-8924-23c3ba5c15a9.png)

This is from katex.org demo box:
![shot-2021-04-09_20-28-17](https://user-images.githubusercontent.com/16214255/114249870-39cd2800-9972-11eb

[2021-04-09 23:37] timabbott commented on #18053
@sumanthvrao FYI.

[2021-04-10 00:32] gnprice opened #18072 "Server never sends notification, if recipient recently used webapp"
If you've been using Zulip and you get up from your computer, and then someone sends you a PM a minute or so later, you will never get a notification for it.

That's going to be pretty awkward if, say, you've gotten up to go meet them and they sent a message saying they had to cancel. Or if you sent them a message right before you got up, and then wonder an hour later why they never replied to you

[2021-04-10 00:48] sambiddledev commented on #17467
Claim

[2021-04-10 00:48] sambiddledev commented on #17467
@zulipbot claim

[2021-04-10 01:06] #17861 closed

[2021-04-10 01:07] sumit-kushwah commented on #18062
@zulipbot claim

[2021-04-10 01:19] sambiddledev commented on #17467
@Uttam-Singhh @timabbott There are a few ways we can accomplish this. The landing page HTML displays `aria-hidden="True"` so I am thinking this was an intentional design feature. To improve accessibility with a label on float we could use the `Title="Previous"` attribute for example. That would match the issue and screenshots above. This is considered a "tooltip" and is best for individuals with p

[2021-04-10 01:51] sambiddledev commented on #17467
Just checking in with one additional detail here. This `fa-chevron-right` and `fa-chevron-right` class appears in a few places (see below). We can certainly address it for `templates/zerver/hello.html` but this is linked to greater questions about accessibility design features for navigation icons. Generally as an aria practice the only items that should be `aria-hidden=true` are items that are pu

[2021-04-10 01:55] samdup commented on #10643
Hey there, is there anything I can do to support getting this feature developed? (I just signed up as a humble sponsor!)

I run a manufacturing operation, and sometimes voice messages can be more accessible, especially when people aren't confident with written communication or tone of voice is imporatant. The UX that needs to be replicated is similar to the voice message options on Whatsapp, Messe

[2021-04-10 02:14] sambiddledev commented on #17467
Final proposal -- change the `aria-hidden="true"` and add `title="Next"` attribute. Title attribute improves accessibility and navigation for partially vision impaired.

Then add `aria-label=insert description` like below...
[code]
This second part improves screen-reader accessibility and provides semantic navigation clues for cycling through the image carousel.

[2021-04-10 03:08] timabbott commented on #18072
Interesting, thanks for the report!  I can confirm that we now have `enable_online_push_notifications` enabled for all users -- so you can update https://github.com/zulip/zulip-mobile/issues/3659 accordingly.

The tested behavior sounds consistent with needing to wait until `OFFLINE_THRESHOLD_SECS = 140` have passed after closing the browser tab.  The core logic for whether we send a notification

[2021-04-10 03:32] timabbott commented on #18072
We don't have a particularly easy way to investigate `receiver_is_off_zulip` in a production environment for what queues exist (it'd be easy enough to print-debug that in a server development environment), but it should be clear from server logs whether indeed a `DELETE` request happened when closing the browser in an instance where you reproduce this.

One thing that seems wrong with the `receive

[2021-04-10 04:03] timabbott commented on #18072
OK I spent about 10 minutes trying to reproduce this failure in a development environment, without success:
* User A's event queue is deleted when I close a browser window
* If I instead use the browser tools to take the user A offline, the missed message notifications get sent when we discover this (after 2 minutes in my test, since I changed the GC period to 2 minutes rather than the normal 10).

[2021-04-10 04:12] timabbott commented on #18072
I think what I'd want to do next is hand-deploy to the server you're reproducing this with a Tornado change to `receiver_is_off_zulip` to, if the user ID is user ID A, log the return value of `get_client_descriptors_for_user`.  And then run your experiment, collecting `tail -f /var/log/zulip/server.log | grep '(ID_A@zulip'`, so we can see (1) whether a DELETE event happens properly and (2) what ev

[2021-04-10 05:04] nikhilmaske-2001 commented on #18069
@zulipbot claim

[2021-04-10 05:36] Hypro999 commented on #17013
@timabbott: opened at https://github.com/zulip/zulip/pull/18074

[2021-04-10 05:52] ganpa3 commented on #18068
Can confirm.
Output for me on Linux Chrome 89 on [chat.zulip.org](https://chat.zulip.org/)
![](https://user-images.githubusercontent.com/16214255/114249792-ff638b00-9971-11eb-8924-23c3ba5c15a9.png)

[2021-04-10 10:20] WesleyAC opened #18077 "Add option to always send email/mobile notifications"
Currently, we don't send email/mobile notifications if the user has been recently active. While most people like this, not everyone wants this:

* I would like a record of all of the PMs that I receive in my email, regardless of whether I had the app open when I received the PM.
* We've had a request for a similar feature on mobile: zulip/zulip-mobile#3659

It would be nice to have a setting, for

[2021-04-10 11:45] mandepsingh commented on #17838
@zulipbot claim

[2021-04-10 14:33] sumanthvrao commented on #18053
Hmmm, I tried to reproduce this by stopping the development server post it loading, and manually trying to copy-source. The copy seemed to work fine (I'm using a Windows - Chrome combination). @gnprice Any specific OS/browser where you encountered the bug?

[2021-04-10 15:10] 4kashyadav opened #18080 "Improve navigation bar!"
I will improve the navigation bar of your website!!
So please assign this to me!!

[2021-04-10 15:31] timabbott commented on #18077
There is already approximately this option for mobile notifications -- it's the one "Mobile" only option here:

![image](https://user-images.githubusercontent.com/2746074/114275211-7b8fba00-99d6-11eb-995c-5590252d6d96.png)

I'm not sure the email version of this setting would actually be used.  We could add it for parity, but an email is a much less ephemeral thing, so it's a lot more annoying to

[2021-04-10 15:40] timabbott commented on #18080
@4kashyadav can you explain what you have in mind?  Generally issues for design changes are reserved for things where we have agreed on a path forward; can you start a thread in #design on chat.zulip.org about your ideas?

[2021-04-10 15:40] #18080 closed

[2021-04-10 19:12] jannekemorin commented on #17955
Hi @timabbott - I will go ahead and unclaim this issue since I did not realize its complexity.

[2021-04-10 19:12] jannekemorin commented on #17955
@zulipbot unclaim

[2021-04-10 19:42] m-e-l-u-h-a-n commented on #17306
@zulipbot claim

[2021-04-11 01:49] PIG208 opened #18085 "Efficiently load checkboxes for users when adding new streams"
When [creating a new stream](https://chat.zulip.org/#streams/new), there will be an area for checkboxes for you to invite users. However, in large organizations like [chat.zulip.org](chat.zulip.org), as there are a lot of users, this might take a long time or even stall the browser tab. Instead of rendering all of them at once, we need a way to take care of the checkboxes more efficiently.

[discu

[2021-04-11 01:51] PIG208 commented on #18085
@zulipbot add "area: settings UI"

[2021-04-11 02:15] sravitha commented on #16426
@zulipbot claim

[2021-04-11 03:55] abhijeetbodas2001 commented on #18085
See also - #16805 and #18026.

[2021-04-11 05:42] nikhilmaske-2001 commented on #18069
Relevant discussion on CZO : https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20UI

[2021-04-11 06:52] cool-pants commented on #17716
@jeremydou1113 this issue has already been addressed in pr #17717 . So you may wanna change your area of work before starting.

[2021-04-11 08:03] m-e-l-u-h-a-n commented on #17306
This is being discussed at [https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20button](https://chat.zulip.org/#narrow/stream/101-design/topic/private.20messages.20button)

and some design discussions are at: [https://chat.zulip.org/#narrow/stream/101-design/topic/Private.20message.20view.20.20design](https://chat.zulip.org/#narrow/stream/101-design/topic/Private.20message.

[2021-04-11 12:21] Nikolaj-K commented on #734
I changed my email on github and then lost all access to my Zulip chats room.
Any remedy for this? Especially if the Zulip chat requires invitation.

[2021-04-11 15:32] seiwailai commented on #17910
I've looked into the issue for several days. From my understanding, the `SAMLResponse` (as in return for SAML authentication's request) mainly yield result covering attributes like `first_name`, `last_name`, `email`, and others. However, the response doesn't include any persistent user ID, which disallowing us to associate a unique ID _(may be user permanent ID stored in SAML providers' database)_

[2021-04-11 15:32] schultzh commented on #16920
@zulipbot claim

[2021-04-11 16:10] BobinMathew opened #18089 "doc: correction"
Hi, I went through the docs (readme.md) using [Grammarly](https://app.grammarly.com) and found some errors .
Can I give a PR after correcting them?

[2021-04-11 17:44] ligmitz commented on #17939
@zulipbot claim

[2021-04-11 18:05] PIG208 opened #18091 "Error message not seen when editing bots with duplicate names"
When the user attempts to edit the bot changing its name to an existing one, the modal simply closes without showing any warning messages, even though nothing has been changed. This behavior is anti-intuitive and it's likely a bug, as the server does have returned an error message:
[code]
See more in this [discussion](https://chat.zulip.org/#narrow/stream/9-issues/topic/Error.20message.20not.20sho

[2021-04-11 18:13] akshatdalton commented on #18091
@zulipbot add "area: bots"

[2021-04-11 18:14] akshatdalton commented on #18091
@zulipbot claim

[2021-04-11 18:55] ChloeTang99 commented on #16958
@zulipbot unclaim

[2021-04-11 18:55] GITcgutie commented on #17998
@zulipbot unclaim

[2021-04-11 18:55] ChloeTang99 commented on #17998
@zulipbot claim

[2021-04-11 18:57] GITcgutie commented on #16958
@zulipbot claim

[2021-04-11 19:05] guptaprakhariitr opened #18093 "Accessibility: Provide Information for pinned and muted stream in subs list."
Current Situation:
![Peek 2021-04-12 00-34](https://user-images.githubusercontent.com/58157064/114317673-e0f2c080-9b26-11eb-8280-a2733535e38f.gif)

Expected or Better :
![Peek 2021-04-12 00-29](https://user-images.githubusercontent.com/58157064/114317689-f0720980-9b26-11eb-9050-2d48660401da.gif)

[2021-04-11 19:11] guptaprakhariitr opened #18095 "bug: 'subscribe to new streams' row not visible due to 'Turn on notification' row."
![Peek 2021-04-12 00-33](https://user-images.githubusercontent.com/58157064/114317834-ae959300-9b27-11eb-8897-ce2ccaeceb8b.gif)

[2021-04-11 19:16] guptaprakhariitr commented on #18095
@zulipbot label "area: general UI"

[2021-04-11 19:18] guptaprakhariitr commented on #18093
@zulipbot  label "accessibility"

[2021-04-11 21:31] mojavelinux opened #18098 "Enable editing of linkifier entry"
Currently, if there's a mistake in the linkifier entry (either the pattern, the URL, or both) it's necessary to delete the entry and create it a new one. With a lot of linkifiers and complex patterns, this creates a lot of cognitive load. Being able to edit an existing entry in place would make managing them a lot easier.

I envision having an edit button next to the delete button that turns the r

[2021-04-11 21:44] adambirds commented on #13854
@zulipbot claim

[2021-04-11 21:52] GITcgutie commented on #16958
@zulipbot unclaim

[2021-04-11 21:52] ChloeTang99 commented on #16958
@zulipbot claim

[2021-04-11 21:53] GITcgutie commented on #16958
@zulipbot claim

[2021-04-11 22:09] daniellf99 commented on #18058
Thank you for the fix! Also, sorry for the late response :+1:

[2021-04-12 02:46] yasiruRathnayaka97 commented on #17733
@zulipbot claim

[2021-04-12 07:21] andersk commented on #17939
The other part of my comment is worth mentioning:

While we could potentially redesign our bespoke token system to have the properties we want, using OAuth would let us take advantage of already existing protocols and libraries.

During the transition period where we support legacy tokens alongside OAuth, it would be reasonable to require each user who wants to enable 2FA to first upgrade their ap

[2021-04-12 08:12] sliezz opened #18137 "UI for a quick emoji reaction (like `+` shortcut)"
There's really simple (but useful) feature I miss in Zulip client: "like" / "dislike" every message (I want) in just one-click.
In the most of messengers, you can find a "heart" button on right or left of a message. In chats, there's "like" / "dislike" buttons under each message.
It's really long to press ":" and find need emoji in that popover.
Actually, there is something like quick emoji, but y

[2021-04-12 11:10] ro-i commented on #17910
Hm, if I understand it correctly, `attr_user_permanent_id` is a non-standard extension not guaranteed to be available?

[2021-04-12 13:12] abhijeetbodas2001 commented on #18098
See also - #10830 and #17045.

[2021-04-12 14:41] big-r81 opened #18105 "Incoming email not delivered into zulip | script email-mirror-postfix returns 404 error"
Hi,

i configured the local delivery setup, but the incoming mails are not send into zulip.

`Apr 12 12:36:43 knecht postfix/pipe[19226]: B39A420B52: to=<zulip@localhost>, orig_to=<mm93ce8d900c1cef56712e02885efd00ef@zulip.my-domain-name.com>, relay=zulip, delay=0.19, delays=0.11/0/0/0.08, dsn=4.4.2, status=deferred (Connection dropped: Internal server error. )
`

zulip.conf:
`
[machine]
puppet_cla

[2021-04-12 15:50] xerus2000 commented on #13571
Hey, I have a similar situation to @ytjohn where I would like to use Zulip as a drop-in replacement to a mailing list with some people solely using email.

Is is possible to change the addresses on a self-hosted Zulip instance?

[2021-04-12 16:22] munircontractor commented on #16160
That's fair. Thanks.

[2021-04-12 18:05] Prashantsurana commented on #16776
`2021-04-12 18:04:10.725 ERR  [] Traceback (most recent call last):
  File "/srv/zulip-venv-cache/f85fd7ceb6ee687bca0bd7eb65950f607bec8c85/zulip-py3-venv/lib/python3.6/site-packages/django/core/handlers/base.py", line 113, in _get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "./zerver/lib/rest.py", line 30, in _wrapped_view_func
    response = view_fu

[2021-04-12 18:06] Prashantsurana commented on #16776
I am getting exactly same error using docker zulip.
Memcached is working fine.

[2021-04-12 18:16] samtuke opened #18106 "Always show full list of channels and users / direct conversations in desktop client"
Currently I have to click around to switch between streams and DMs most times I use Zulip. In our team we have sent messages to the wrong place because of confusion over this constant switching.

The problem is that when viewing a stream, all DMs / users are hidden, and finding, selecting, clicking on "Private messages" from the list of 5 options in the top left sidebar (desktop Linux client) a hu

[2021-04-12 18:22] Prashantsurana commented on #16776
@timabbott   please let me know if you need information.

[2021-04-12 18:28] nikomatsakis opened #18107 "bad rendering on mac os x app"
I'm not sure if this is the repository for this sort of issue, but I am having a lot of troubles with Zulip's rendering in the OS X desktop app. Here is an example:

![image](https://user-images.githubusercontent.com/155238/114443094-48e2ee80-9b9b-11eb-85d3-d8ddfa65ce4e.png)

It is rendering the app somewhat useless for me. This is a recent development -- I always had problems these, but they were

[2021-04-12 19:00] akshatdalton commented on #18091
@zulipbot add "settings (user)"

[2021-04-12 19:01] akshatdalton commented on #18091
@zulipbot add "area: settings (user)"

[2021-04-12 19:18] mojavelinux commented on #18098
Thanks for pointing that out. This is clearly a duplicate, then. I had searched for "linkifier", but the existing issue uses the term linkification. That's probably why the search couldn't find it. Perhaps the title of issue #10830 should be updated to use the correct term.

[2021-04-12 19:52] akshatdalton commented on #18091
I have resolved the issue in my PR: #18109.
Now, I'm going to abandon this issue so that I can work on other issues as well.
@zulipbot abandon

[2021-04-12 20:10] andersk commented on #18095
Closing as a duplicate of #17823.

[2021-04-12 20:10] #18095 closed

[2021-04-12 21:38] thomcc opened #18113 "Zulip abruptly closes edit panel, discarding in-progress text"
Today I've had the same issue happen 5 times: The Zulip editing panel closes while I'm in the middle of typing, completely losing my work. An older version of the text I was working on has been available in drafts, however the version there is enough older for it to be quite annoying. It happens usually after about 5 or 10 minutes of typing. That is, not frequently. (Maybe it's triggered by some h

[2021-04-12 23:04] mojavelinux opened #18116 "Incorrect short code for mask emoji"
The mask emoji (:mask:) is aliased as `:cant_talk:` in Zulip. This is incorrect for several reasons. First, this is not the recognized name by Unicode (see https://unicode.org/emoji/charts-13.1/emoji-list.html). The official name is "face with medical mask". Recognized aliases include: cold | doctor | face | face with medical mask | mask | sick. It's also not aliased this way on any other platform

[2021-04-12 23:55] adambirds opened #18118 "Integrations docs indented code block formatted shows incorrectly."
If I set for example the below code in the docs:

![image](https://user-images.githubusercontent.com/13500254/114476317-e5d07680-9bf1-11eb-8a15-7aa77677c207.png)

It will render like this:

![image](https://user-images.githubusercontent.com/13500254/114476377-013b8180-9bf2-11eb-8669-bb6dcf3f0690.png)

However if it is like this:

![image](https://user-images.githubusercontent.com/13500254/11447642

[2021-04-13 00:25] PIG208 commented on #18116
I looked into the code and found a reference to an article. But the [article](https://beebom.com/emoji-meanings/
) doesn't tell anything about the "cant_talk" alias. So I guess it might have been a mistake.
[code]

[2021-04-13 01:25] adambirds commented on #18106
@samtuke you should create this issue in the zulip/desktop reposiotory instead.

[2021-04-13 02:04] andersk opened #18121 "Replace emoji naming system using Unicode CLDR"
The [Unicode CLDR](http://cldr.unicode.org/) project provides a number of comprehensively-researched and well-maintained data sources for a variety of language-related topics, including [names and keywords for emoji](https://unicode-org.github.io/cldr-staging/charts/latest/annotations/). Although [our own list](https://github.com/zulip/zulip/blob/master/tools/setup/emoji/emoji_names.py) has served

[2021-04-13 04:15] sourcesolver opened #18122 "Postgres 12??"
I am trying to setup zulip on my server.

I was using this tutorial: https://zulip.readthedocs.io/en/latest/production/install.html

When I reached step two it gave me a problem regarding using postgresql 13. Postgres 13 has been out since 9/24/2020; is there no way to run zulip on it? A switch or a beta version??

Also, why can't I even run 12 as a separate cluster instance??

[2021-04-13 04:24] Crimson25 commented on #17307
@zulipbot claim

[2021-04-13 04:27] Crimson25 commented on #17248
@zulipbot claim

[2021-04-13 09:00] sumit-kushwah commented on #18062
@timabbott, I am using HTML \<span\> element like this. Am I going in the right direction?

`<span>&#9726;</span> <span style="margin-left: 10px;"> If subscribed to the stream </span>`

[2021-04-13 09:52] flover97 opened #18125 "ERR [] Problem handling data on queue invites"
Hi, im trying to configure outgoing email and i get this error:

/var/log/zulip/error.log
[code]

My /etc/zulip/settings.py mail settings block:

[code]

root@scw-zulip:/var/log/zulip# rabbitmqctl list_queues
[code]

[code]

[2021-04-13 10:13] Signior-X commented on #14680
Yes, last time I discussed this in https://chat.zulip.org/#narrow/stream/2-general/topic/Wrong.20time.20of.20message.20sent
So, yes it's in my Todo list.

[2021-04-13 10:17] mandepsingh commented on #17838
@zulipbot abandon

[2021-04-13 15:07] weilirs commented on #17929
We updated this pull request and it is ready to be reviewed.

[2021-04-13 16:03] #18116 closed

[2021-04-13 16:03] timabbott commented on #18116
Thanks for the report @mojavelinux!

[2021-04-13 17:47] asanzdiego commented on #647
I am right now deciding between Mattermost, RocketChat and Zulip, to use it as a school chat.

Zulip is the best technical alternative, but the kids (and teachers) have an interface problem due to the topics.

Do you plan to include this new feature in the next version? Do you know when the next version will be available?

Thank you very much.

[2021-04-13 17:54] timabbott commented on #18118
Generally only fenced code blocks support specifying a pygments language for syntax highlighting; that's why we prefer that syntax.

I would have thought that doing 3-space indentation of a fenced code block (i.e. 1 less than the 4 spaces that would generate a code block due to indentation) would achieve all of our goals here.

If that's not the case, then the actual bug here is that our numbered

[2021-04-13 18:42] #18091 closed

[2021-04-13 20:05] timabbott commented on #18113
@thomcc first, I'm sorry to hear you're losing message content; we put a lot of effort into avoiding that sort of outcome, and would like to debug this.  It is some sort of unexpected keyboard shortcut behavior closing the editing UI.  I don't think we can readily investigate this without a reproducer, though.  The only keyboard shortcut we have that is intended to exit that widget without saving

[2021-04-13 20:09] #18053 closed

[2021-04-13 20:30] thomcc commented on #18113
No, I don't believe so. I'm fairly certain that I'm not hitting the Esc key. I don't normally use it that heavily, and I'd have to reach for it a little.

Also, it's worth noting that after the panel closes, when I've gone to the "drafts" panel to recover the contents, the only version there is not up to date.

I believe normally when I close the editor panel (I'm assuming esc is just a hotkey for

[2021-04-13 20:33] parkyo commented on #15438
@zulipbot claim

[2021-04-13 20:39] LoopThrough-i-j commented on #18113
Hi, I think we have got a probable bug, If you want you can take a look at our discussion at CZO [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/message.20editing.20bug). Something like what Tim mentioned in his 3rd point is happening.

[2021-04-13 20:41] timabbott commented on #18113
If my theory is correct, it's possible that hitting the back button in your browser after seeing this happen will allow you to save your message content, as a temporary workaround.

The reproducer we seem to have found involving topic editing would definitely cause the exact symptom you describe, so we'll start with fixing that.  @thomcc can you check the next time you see this whether the convers

[2021-04-13 21:00] LoopThrough-i-j opened #18130 "Edit Message box going out of focus on topic edit."
The Edit Message box should always be in focus despite any event happening around, but it seems to lose focus when there is a topic edit for any message.

[2021-04-13 21:06] parkyo commented on #15438
What are 'breadcrumb' messages referred to here? do you have a screenshot of what it looks like?

[2021-04-13 21:12] aramirezreyes opened #18131 "[Feature request] Make zulip urls be opened by the zulp app."
I write this regarding the macOS desktop app, although it may also be relevant to other apps.

Some desktop applications are associated to certain urls, for example: If I click on a zoom link, macOS will ask me if I want the zoom desktop app to open the link.

With Zulip, if someone shares a link to a Zulip stream or message, the web browser is directed to said webpage. In my case, I usually have

[2021-04-13 22:29] timabbott commented on #18122
@sourcesolver I believe https://zulip.readthedocs.io/en/latest/production/deployment.html#system-and-deployment-configuration documents how to specify a specific version of postgres to use with the Zulip server.

(Elsewhere on that page we also document how to use a separate postgres installation).

Feedback on what we could improve in the documentation for this would be appreciated; I'm going to

[2021-04-13 22:31] timabbott commented on #18125
@flover97 it is likely is that you have a firewall configured blocking the outgoing email ports -- `ping` uses a different port than outgoing email.

[2021-04-13 22:33] timabbott commented on #18130
@LoopThrough-i-j I rewrote the description to provide a much more clear reproduction recipe.

[2021-04-13 22:47] timabbott commented on #18106
@samtuke we list users in the right sidebar -- perhaps you're using a narrow window where that sidebar does not appear?

[2021-04-13 22:49] timabbott commented on #18105
Does the rest of the server work?  It sounds like you have a `Location` directive for your other service that is overriding Zulip's desire for its Django process to be the default handler for unscoped URLs on your server.  I would expect this is not super related to the email integration -- probably various other endpoints are broken too.

[2021-04-13 22:58] timabbott commented on #18098
Closing as a duplicate, but yeah, we're hoping to merge #17045 soon.

[2021-04-13 22:58] #18098 closed

[2021-04-13 23:00] timabbott commented on #18089
@BobinMathew a PR is great; I'd  just have stacked commits within a single PR rather than doing several.

Check out the Zulip commit guidelines for more details: https://zulip.readthedocs.io/en/latest/contributing/version-control.html.

[2021-04-13 23:06] alexmv opened #18135 "Inconsistent search results between reaction emoji picker and completion in messagebox"
With a custom `:thank_you:` emoji set (e.g. on c.z.o), typing `:thank` in the compose box produces:
![Screen Shot 2021-04-12 at 4 31 59 PM](https://user-images.githubusercontent.com/28347/114631473-7ac68480-9c71-11eb-8e79-611e03046140.png)

That is, it finds the custom emoji, and _also_ the `:hash:` emoji, which it _labels_ `thank you`, and which selecting produces `:thank_you:` which renders as t

[2021-04-13 23:17] GITcgutie commented on #16958
@zulipbot unclaim

[2021-04-13 23:18] ChloeTang99 commented on #17998
@zulipbot unclaim

[2021-04-13 23:18] GITcgutie commented on #17998
@zulipbot claim

[2021-04-13 23:18] ChloeTang99 commented on #16958
@zulipbot claim

[2021-04-13 23:34] timabbott commented on #15044
Closing as resolved.

[2021-04-13 23:34] #15044 closed

[2021-04-13 23:47] timabbott commented on #5297
This was already fixed in https://github.com/zulip/zulip/pull/13397.

[2021-04-13 23:47] #5297 closed

[2021-04-13 23:48] timabbott commented on #16798
This string appears in the extracted strings, and for German in particular it appears to have been translated in transifex, so closing this as resolved.

`locale/de/translations.json:  "Quote and reply or forward": "Zitieren und antworten oder weiterleiten`.

[2021-04-13 23:48] #16798 closed

[2021-04-13 23:50] timabbott commented on #1286
I expect that this was fixed by #18075, since FormatJS is designed to support this.  We could potentially keep this issue open for some additional work to document the process, but I think it's better to just close it.

[2021-04-13 23:50] #1286 closed

[2021-04-13 23:52] devZer0 commented on #16779
<img width="1048" alt="grafik" src="https://user-images.githubusercontent.com/3506105/114634996-15e84a00-9cc4-11eb-92a0-6a2d5218d9bc.png">

see "Copy link to message"

[2021-04-14 00:01] timabbott commented on #18135
Tagging this as a release goal, because at least the first item is sufficiently weird that it suggests some sort of data corruption that might have unknown other consequences.

[2021-04-14 00:23] timabbott commented on #18137
I don't think we want to consume a row of space on every message to offer a quick emoji feature for messages without a preexisting reaction, but we could think about other mechanisms for making this as easy to do with the mouse as with the keyboard.

[2021-04-14 00:26] timabbott commented on #16779
@devZer0 I think that is unrelated to this issue; it's because "Copy link to message" is a new string (used to be "Copy link to conversation") and we don't have new translation data since that change.

[2021-04-14 00:27] timabbott commented on #17890
This is fixed by #18075, which replaces the frontend translation library with FormatJS, which also comes with a translation discovery library that is less hacky than what we were using before (and thus doesn't have bugs like this).  A few dozen strings that had been tagged for translation but were missing from translation data were made available by this.

[2021-04-14 00:41] #17890 closed

[2021-04-14 00:51] timabbott commented on #14780
I think this was fixed in https://github.com/zulip/zulip/pull/17668.

[2021-04-14 00:51] #14780 closed

[2021-04-14 00:53] parkyo commented on #15438
@zulipbot abandon

[2021-04-14 00:53] parkyo commented on #17508
@zulipbot claim

[2021-04-14 01:02] GITcgutie commented on #17998
@zulipbot  unclaim

[2021-04-14 01:03] ChloeTang99 commented on #17998
@zulip claim

[2021-04-14 01:03] ChloeTang99 commented on #17998
@zulipbot claim

[2021-04-14 01:03] ChloeTang99 commented on #16958
@zulipbot unclaim

[2021-04-14 01:04] ChloeTang99 commented on #17998
@zulipbot claim

[2021-04-14 01:04] GITcgutie commented on #16958
@zulipbot claim

[2021-04-14 01:31] timabbott commented on #17998
@ChloeTang99 why are you repeatedly claiming/unclaiming this issue?

[2021-04-14 02:01] timabbott commented on #15438
@parkyo please don't claim a large number of issues that you don't know to make progress on.

[2021-04-14 02:28] sliezz commented on #18137
I offer to add some option (maybe even chat-specified option) to configure which of reactions should preexist under every message.
On the other hand, maybe we should call it as "a Flag" like in Microsoft Outlook? So it's need to add an option to user settings to get ability to configure which reactions can be used as flags. When it's turned on, client start to display a placeholder on the right of

[2021-04-14 03:01] timabbott commented on #11346
This same issue applies to /integrations as well.

[2021-04-14 03:02] timabbott commented on #1227
I'm going to close this as wontfix; it's too much text to be practical to translate manually, and also much less important than our Help Center (which is also not translated for the same reason).

We should just rely on Google Translate for this job, so closing in favor of https://github.com/zulip/zulip/issues/11346

[2021-04-14 03:02] #1227 closed

[2021-04-14 03:03] timabbott commented on #1628
https://github.com/zulip/zulip/pull/6086 has useful work towards this goal.

[2021-04-14 03:08] timabbott commented on #2022
I'm going to close this, since I think the right design for a feature of this form would involve users sending messages in their native language, and any translation happening on the "reading" side.  (And we haven't had anyone ask for the compose box variant).

[2021-04-14 03:08] #2022 closed

[2021-04-14 03:10] timabbott commented on #3075
@andersk do you have ideas on a syntax we could use for "intentionally not tagged for translation string" for this and similar use cases?

[2021-04-14 03:21] timabbott commented on #11346
However, it appears that /help and /api fixed themselves.  So I'll open a separate/current issue for /integrations.

[2021-04-14 03:24] timabbott commented on #15332
I believe this is partially fixed by #18075, in that the FormatJS library has native support for this feature.  But we probably need to do something with changing our resource file formats from `translations.json` before we can take advantage of this.

@andersk FYI.

[2021-04-14 03:25] timabbott commented on #16019
We removed `XDate` and `moment` in favor of `date-fns`; we should try working on this issue again now that we've done so.

[2021-04-14 03:26] timabbott commented on #16019
Tagging this as a priority, since this is almost certainly our most visible widget that isn't internationalized properly.

[2021-04-14 03:28] timabbott commented on #16221
Closing this in favor of the more general issue https://github.com/zulip/zulip/issues/16288.

[2021-04-14 03:28] #16221 closed

[2021-04-14 03:34] timabbott commented on #7517
https://tkainrad.dev/posts/why-keyboard-shortcuts-dont-work-on-non-us-keyboard-layouts-and-how-to-fix-it/ is a useful resource for how we might make progress here.

[2021-04-14 03:36] timabbott commented on #11086
@hackerkid what are your thoughts on the `realm_uri` => `organization_url` question?  I think if we like that idea, it probably belongs as a separate refactoring issue, so I'm going to close this old issue.

[2021-04-14 03:36] #11086 closed

[2021-04-14 03:39] timabbott opened #18140 "Google translation doesn't work for our /integrations documentation"
If you paste one of the pages in our /integrations documentation into Google Translate, you get this broken page:

https://translate.google.com/translate?hl=&sl=en&tl=fr&u=https%3A%2F%2Fzulip.com%2Fintegrations%2Fdoc%2Fgithub&sandbox=1

![image](https://user-images.githubusercontent.com/2746074/114651002-081ccf80-9c98-11eb-97f8-c6c72ebe2bb1.png)

I suspect the root cause is something in how we use

[2021-04-14 03:39] timabbott commented on #11346
Closing this issue, and opened https://github.com/zulip/zulip/issues/18140 for /integrations.

[2021-04-14 03:39] #11346 closed

[2021-04-14 03:42] timabbott commented on #13520
Close in favor of https://github.com/zulip/zulip/issues/18069, which is a concrete technical plan for how to address the core issue of being able to distinguish group PMs from 1:1 PMs.

(This issue is not talking about streams).

@mojavelinux just to answer your question, the mechanism is Zulip that is intended to help avoid posting PMs to the wrong place is that we fade messages when your compose

[2021-04-14 03:42] #13520 closed

[2021-04-14 04:04] #7935 closed

[2021-04-14 04:19] #16994 closed

[2021-04-14 04:31] andersk commented on #15332
One can write `$t({defaultMessage: "some message", description: "some description"})` in JS, but the current `simple` [format](https://formatjs.io/docs/getting-started/message-extraction/#translation-management-system-tms-integration) we use for extraction does not preserve the description.

[code]

`XwIrWu` is an `id` generated as the first 6 characters of the base64-encoded SHA-512 hash of `some

[2021-04-14 04:43] gnprice commented on #18121
This sounds like a good change to me. In addition to the other benefits you mentioned, one I'd like to highlight is that it would let us more easily incorporate more emoji, and new emoji as they're created.

There are a few places where I'll miss our custom names -- like simply `:smile:` for the plain smiley 🙂, rather than `:slightly_smiling_face:` which I sometimes worry sounds like I'm actively

[2021-04-14 05:06] Signior-X commented on #18135
In my case, the emoji showing is different than hash.
![image](https://user-images.githubusercontent.com/56730716/114657223-3be60c80-9d0d-11eb-9851-f747d6adf843.png)

[2021-04-14 05:12] Signior-X opened #18142 "message-editing: Edit message content gets lost if it fails"
This gif explains the bug clearly. If the user is editing a message and has written something long, the content gets lost if the message edit fails.
![message_problem](https://user-images.githubusercontent.com/56730716/114657608-0ee62980-9d0e-11eb-8565-315f4fce8ed7.gif)

This should be the latest data written by the user. Discussion here on [CZO](https://chat.zulip.org/#narrow/stream/48-mobile/top

[2021-04-14 05:12] Signior-X commented on #18142
@zulipbot claim

[2021-04-14 05:42] andersk commented on #18121
I’m imagining that typing `:smile` filters for every emoji with “smile” as a CLDR keyword, which gives eleven results including 🙂.

Maybe it also gives a link like “Set emoji for `:smile:`…” that lets you customize which emoji is shown at the top for `:smile` and selected if you type `:smile:`, if you want to save the future effort of manually selecting among the results?

[2021-04-14 06:03] ganpa3 commented on #18140
Maybe related. When I do a `curl` request to *any* integration documentation, they all return the same page, the [/integrations home page](https://zulip.com/integrations)
[code]

[2021-04-14 06:10] flover97 commented on #18125
@timabbott
my mistake, I completely forgot about it. , telnet smtp.yandex.ru 465 also receives a timeout. it looks like my provider is blocking the port, cause my firewall looks like this:
[code]

[2021-04-14 06:22] sourcesolver commented on #18122
Thank you very much for the prompt and professional response.  I also needed to uninstall old versions even though they were switched off.

[2021-04-14 07:17] big-r81 commented on #18105
My two other services are:

[code]

and

[code]

The rest of the server seems to be working fine. I haven't noticed anything not working yet...

[2021-04-14 07:26] #18125 closed

[2021-04-14 07:55] mojavelinux commented on #13520
Thanks for sharing that insight, Tim!

[2021-04-14 08:26] timabbott commented on #17914
@shanukun any news on this?  I wouldn't expect this to be a big project, so just wanted to check if you were stuck.

[2021-04-14 11:23] Shashantao commented on #14991
@ArunSankarKs Sorry for the delay. I have been working with a peer on #17929 so far. I will start working on this one today.

[2021-04-14 11:23] Shashantao commented on #14991
@zulipbot claim

[2021-04-14 11:29] weilirs commented on #14991
@zulipbot claim

[2021-04-14 12:01] tushar912 commented on #11029
@zulipbot claim

[2021-04-14 12:49] showell commented on #18135
See https://github.com/zulip/zulip/pull/18145

[2021-04-14 12:53] showell commented on #18135
https://chat.zulip.org/#narrow/stream/101-design/topic/.22thank.20you.22.20emoji/near/1162317 has some more discussion.

[2021-04-14 12:58] showell commented on #18135
"That is, it finds the custom emoji, and also the :hash: emoji, which it labels thank you" is slightly wrong here.

What's actually happening is that it finds both ":thank_you" emojis and incorrectly displays the hash emoji for one of the emojis.  (The hash is special due to its location in our spritesheet.)

[2021-04-14 13:06] shanukun commented on #17914
@timabbott Right now I'm swamped with work from college. I'll complete it as soon as I'm free.

[2021-04-14 13:07] ganpa3 commented on #18068
The issue isn't with Katex, it's with our CSS. [More info](https://chat.zulip.org/#narrow/stream/6-frontend/topic/Katex.20CSS.20clashes.20with.20Zulip.20CSS)

[2021-04-14 13:13] showell commented on #18135
#16913 seems to address the deeper issue here.

[2021-04-14 15:01] PIG208 opened #18147 "Document emoticons conversion rules"
In #1768, we introduced a feature to convert emoticons like :) to 😃. Currently, [emoji_setup_utils](https://github.com/zulip/zulip/blob/12a439b8bd4f5c8f6c54dcb926e48d4d71d81792/tools/setup/emoji/emoji_setup_utils.py) has a set of rules for emoticons conversion, and we have documentation at https://zulip.com/help/enable-emoticon-translations ~but there is no way for end-users to see a list of emoti

[2021-04-14 15:02] PIG208 commented on #18147
@zulipbot add "help wanted" "area: emoji"

[2021-04-14 15:07] timabbott commented on #18068
Hmm, yeah, that's a bit of a nasty bug. (KaTeX started using the `overlay` CSS class in their latest release, and that conflicts with our Zulip's CSS class of the same name).

[2021-04-14 15:27] timabbott commented on #18068
I think for Zulip, we can just rename our `overlay` logic to interact with `div.overlay`, since the KaTeX element is a `span.overlay`.  I did a quick audit and did not find other obvious overlaps (where the name of a CSS class in KaTeX came to mind as a class name in Zulip).  It would probably not be a bad idea to do a more thorough audit as well.

Thanks for tracking that down @ganpa3!

[2021-04-14 15:44] #17588 closed

[2021-04-14 16:39] timabbott commented on #17914
OK, no worries -- this isn't particularly urgent, just something it'd be nice to not lose track of.

[2021-04-14 16:42] #18142 closed

[2021-04-14 16:56] mk-94 commented on #17467
Hi this issue is still open. Is there anything to do? I would implement it, if this issue is already open.

[2021-04-14 17:03] tkerby opened #18149 "Privacy - showing email addresses"
It seems that an administrator can change the privacy settings to show mail addresses to other admins or to everyone.

Zulip doesn't have a moderator or elevated member role which means organisations are likely to make multiple people admins and this is a privacy issue from a GDPR perspective.

I think there are some good practices that could be implemented to correct this

- A user setting to hid

[2021-04-14 17:24] timabbott commented on #14910
This was fixed by switching us to the current table styling for alert words in #17203.

[2021-04-14 17:24] #14910 closed

[2021-04-14 18:13] octogonz opened #18150 "Configure the default emoji appearance for the organization"
The default theme for Zulip emoji is **"Google classic"** which looks squashed and unattractive.

I would much prefer to use **"Google modern"** or **"Twitter"**, which look much better.

This is configurable per-user.  But that's not very satisfactory -- per-user configurations means that other users will see something different from the picture that I selected.  What if the picture has a differe

[2021-04-14 18:47] #17938 closed

[2021-04-14 19:30] JoemerRamos commented on #17842
Hi! Im new to open source projects, how do we know which file/files to edit in regards to this issue?

[2021-04-14 20:12] gnprice opened #18599 "Some avatars shown in wrong orientation"
@Gautam-Arora24 reported the following symptom (first seen in mobile, but also appears in webapp, see below):
![image](https://user-images.githubusercontent.com/28173/114771519-81143980-9d21-11eb-9362-d0a503302e0d.png)

The underlying issue is presumably the same as in zulip/zulip#8177. See that issue description for background. In short (https://github.com/zulip/zulip/issues/8177#issuecomment-536

[2021-04-14 20:18] timabbott commented on #18150
This type of question comes up from time to time, and generally I'd like to support it. There's a general project we've been planning to support setting defaults for individual user settings for an organization; we have a few today (language, time format). See https://github.com/zulip/zulip/issues/11570 for the issue for that, which has a detailed technical design.

![image](https://user-images.gi

[2021-04-14 20:49] michaelkli1998 commented on #18069
@alya

I have implemented the numbers, do you think it's better to leave the dots for groups and just add the number like this? I feel like the dots are still helpful to know that people are online.

![image](https://user-images.githubusercontent.com/33680232/114777212-6fdb2500-9d41-11eb-9531-d5c8a57eddda.png)

[2021-04-14 22:06] edith007 commented on #17205
@zulipbot claim

[2021-04-14 22:23] timabbott commented on #18149
@tkerby thanks for the feedback!  I agree that we'd like to improve this.  Specifically:

* We're adding a "moderator" role in the next week or two (it's mostly implemented, we just haven't enabled the option in the UI yet because it is not yet documented).  This should help with organizations that are making users administrators who shouldn't be in order to work around permissions model limitatio

[2021-04-15 00:40] alya commented on #18069
Cool! I think removing the circles looks better. Otherwise, group PMs end up being offset from 1:1 PMs, and it's also not very intuitive how to interpret the circle when there are multiple people on the list.

I like the idea of having some styling, but the styling matching unread counts feels off to me, since the meaning is very different. Could you try using a plain box the way we do with the st

[2021-04-15 01:04] kenclary commented on #17940
Per discussion earlier, this change will still use a button, rather than a 'fake' input that responds to a click (to avoid complicating accessibility). The button will still fill horizontal space.

[2021-04-15 01:20] weilirs commented on #17786
@zulipbot claim

[2021-04-15 03:39] tushar912 commented on #16090
@zulipbot claim

[2021-04-15 06:19] sahil839 commented on #18150
I don't think it will take much time to do the initial backend part. But I feel I should start this after completing the moderator role, partly due to hectic college schedule at this point of time.

[2021-04-15 08:03] ashwinexe commented on #17894
@zulipbot abandon

[2021-04-15 09:58] m-e-l-u-h-a-n commented on #16029
I had got distracted in between, I have resumed working on it now.
@zulipbot claim

[2021-04-15 12:07] yasiruRathnayaka97 commented on #18140
@timabbott dymical generation of the page should be the reason.First when request the url we get the html page as the first response(only contain information in the broken page ).May be  google translate crawl and render that page before js scripts alter the page.

[2021-04-15 12:10] yasiruRathnayaka97 commented on #18140
But the meta data are different.Therefore no routing issue.

[2021-04-15 14:17] abhishekdeshmukh2209 commented on #17521
Getting below logs while checking on the issue..

=> /var/log/zulip/events_user_activity.log <==
2021-04-15 13:44:18.165 INFO [process_queue] Worker 0 disconnecting from queue user_activity
Traceback (most recent call last):
  File "/home/zulip/deployments/2021-03-22-12-22-25/zerver/worker/queue_processors.py", line 217, in do_consume
    consume_func(events)
  File "/home/zulip/deployments/2021-0

[2021-04-15 15:22] adambirds commented on #17521
@abhishekdeshmukh2209 did you upgrade zulip to master (the upcoming 4.0), if not what version is this with?

[2021-04-15 15:25] abhishekdeshmukh2209 commented on #17521
@adambirds  not updated its 3.3 release

[2021-04-15 15:32] mandepsingh commented on #18062
@zulipbot claim

[2021-04-15 15:44] timabbott commented on #16090
So I just realized we already have an independent mechanism for disabling notification sounds in Zulip:

![image](https://user-images.githubusercontent.com/2746074/114898020-a018d700-9dc6-11eb-95da-71f27fce311e.png)

So I think the actual issue here is a documentation/communication issue, not a feature we need to add.

@parthi2929 do you remember what you checked when trying to figure out how to d

[2021-04-15 17:17] adambirds commented on #17521
As @timabbott mentioned you would be best testing with master due to changes that should help in this scenario. You can find the docs on how to do this here - https://zulip.readthedocs.io/en/latest/production/deployment.html#installing-zulip-from-git

[2021-04-15 17:27] adambirds commented on #17521
And also looks like this issue was fixed in [here](https://github.com/adambirds/zulip/commit/a7039c815e338c003dfb1bc8b39724e0671d25eb) which will be included if you upgrade to master.

[2021-04-15 18:06] mandepsingh commented on #18062
<span> can't be used there in markdown file because of MD033 - Inline HTML (error).

[2021-04-15 18:12] abhishekdeshmukh2209 commented on #17521
sure thanks! Checking on it

[2021-04-15 18:14] mandepsingh commented on #18062
we can't add span here because of inline-html error.

[2021-04-15 18:29] stefanieelling commented on #17786
@zulipbot claim

[2021-04-15 18:30] stefanieelling commented on #17786
@zulipbot can you resend the invitation please?

[2021-04-15 18:57] samdup commented on #12611
I am glad this is actively being worked on. Thank you @amanagr. 🙏

I recently signed up to Zulip and although I'm wearing my glasses, I immediately felt that others on my team would be put-off by the inferior user experience which starts with a small font

The default font size should be comparable to slack and mattermost. I'd suggest that it should be +2px across the app (alongside some spacing t

[2021-04-15 19:22] Mant1kor opened #18168 "i18n: Add more plural forms to localization"
Some sentence in Transifex have only single or plural form of nouns.
But many languages has more than 2 forms of nouns. Only 2 forms makes localized text incorrect in some cases.
There is good explanation - [Pluralization (p11n) - the many of plurals](https://lingohub.com/blog/2019/02/pluralization)
Localization platforms should have built-in mechanism to work with many forms of plurals. But also

[2021-04-15 19:33] LoopThrough-i-j commented on #18130
@zulipbot claim

[2021-04-15 20:21] timabbott commented on #18168
@Mant1kor agreed; I speak enough Russian to be familiar with this. Can you point to a specific example of a string that would be a good test case for this?

Our new i18n library (FormatJS) in theory has much better plural support; so I imagine addressing this will have two phases: First, the work to do an end-to-end test of the infrastructure for a single string with plurals done properly, and the

[2021-04-15 20:43] showell opened #18171 "Limit Group PMs to 50 users."
We should limit Group PMs so that they go to 50 users or fewer.

We should enforce that in the UI, and if the user goes over, give them a message like "Can't direct message more than <N> people. Consider [creating a private stream]()".  (We should check to see that they can create a private stream, too.)

We should also enforce this on the backend.

[2021-04-15 20:52] Mant1kor commented on #18168
There is a lot of sentence with plural form only:
`({message_retention_days} days)`
`{hours} hours ago`
`{days_old} days ago`
etc...
I think it's incorrect in English also, if the variable would be `1`.

For Slavic languages should be 3 variants of translation(example for `{days_old} days ago` to Ukrainian):
`{days_old} день тому` - for 1,21,31,41...
`{days_old} дні тому` - for 2-4,22-24,32-34...

[2021-04-15 23:30] timabbott commented on #12611
@samdump we're actively working on increasing the default font size. The current technical focus is preparatory refactoring of our CSS to make it not painful to do this migration, since we'd like to preserve a smaller font as an option for users who like Zulip's density.  The new default combination of line-height, font, and font size will end up being similar in size to what is popular with new a

[2021-04-15 23:33] timabbott commented on #17396
I can see various cases -- e.g. a very common thing I do when in the middle of writing something long/complex is close the compose box with escape, compose and send a quick reply, and then restart working on my longer draft.

[2021-04-16 00:38] sravitha commented on #16426
@zulipbot abandon

[2021-04-16 00:39] sravitha commented on #17467
@zulipbot claim

[2021-04-16 01:25] sravitha commented on #2746
@zulipbot claim

[2021-04-16 01:55] alexmv opened #18179 "Install `python3-pyyaml` as part of bootstrapping in `upgrade-zulip-stage-2`"
3314fefaec8d754e039c73fba5710bedc0c63313 started needing a `python3-yaml`, but incorreclty claimed that it was already an indirect dependency; apparently it is not.  We can't install it in puppet because then is definitionally too late; it is needed at load time by `zulip-puppet-apply`[1].

We should `apt-get install python3-yaml` before running `puppet`, but only if it is not already installed --

[2021-04-16 02:39] samdup commented on #12611
Thank you for the quick response @timabbott ! what are the issues to follow for the css refactor? any feel for timing?

[2021-04-16 02:59] adambirds opened #18183 "Document `optimize-svg` for when creating an integration."
Document `optimize-svg` for when creating an integration.

@zulipbot claim

[2021-04-16 02:59] adambirds commented on #18183
@zulipbot add "area: documentation (api and integrations)" "area:integrations"

[2021-04-16 03:00] adambirds commented on #18183
@zulipbot add "area: integrations"

[2021-04-16 03:03] adambirds opened #18184 "Have `tools/optimize-svg` execute `tools/setup/generate_integration_bots_avatars.py` before it starts."
Have `tools/optimize-svg` execute `tools/setup/generate_integration_bots_avatars.py` before it starts.

@zulipbot claim

[2021-04-16 03:04] adambirds commented on #18184
@zulipbot add "area: tooling" "area: integrations"

[2021-04-16 03:16] adambirds opened #18185 "Create tool for generating a skeleton webhook integration template."
Create tool for generating a skeleton webhook integration template.

@zulipbot claim
@zulipbot add "area: tooling" "area: integrations"

[2021-04-16 03:44] alexmv commented on #14959
Can you be more explicit about why it's useful to determine this, rather than `supervisorctl stop all` which will also catch that?

That `pkill` _restarts_ Apache, which isn't sufficient, so we can't share that code.  Instead, we need to turn off Apache, which means that `restart-server` also needs to turn it on if it's off.

So I'm not sure there's actually anything to share, here?

[2021-04-16 04:18] alexmv commented on #14959
There's the additional complication that `apache` is started by `root`, via `service apache2 start`, which means that `./scripts/stop-server` would need to be run as `root`, while `./scripts/restart-server` needs to be run as `zulip`, which is an irritating inconsistency.

But we can't turn off the WSGI process (and thus code which may access e.g. the database) without turning off Apache or nginx,

[2021-04-16 04:32] timabbott commented on #14959
The main downside of `supervisorctl stop all` is that it stops everything running via supervisord -- including potentially things that are not part of the Zulip server / are not restarted when one runs `restart-server` later.  (E.g. this has burned me in the past with our redis tunnel setup).  I also suspect it's better to shut down services in a certain order -- first Django, then Tornado, then q

[2021-04-16 04:35] timabbott commented on #18179
We don't actually support redhat in production -- it's just support code for an incomplete feature.  So there's nothing needed here.

[2021-04-16 04:37] #14955 closed

[2021-04-16 05:33] amanagr commented on #12611
@samdup you can follow #18047, I will try to keep it updated even if we open a different PR for other things.

[2021-04-16 06:17] aryanshridhar commented on #18031
Hey @amanagr, Opened #18170 to fix it :) However, it would be great if you throw light on `Compose actions work as intended` with respect to the `Recent topic` view.

[2021-04-16 06:56] amanagr commented on #18031
Huge thanks for working on this. We haven't merged the compose PR yet for Recent Topics - #17685.

[2021-04-16 07:12] KakoozaJerry commented on #17897
@zulipbot abandon

[2021-04-16 07:46] parthi2929 commented on #16090
I think since there is specific option about Notification sound, I went there to disable or looking for silence option. Yes, better documentation could help here. But UI could also be improvised so its more intuitive.

[2021-04-16 09:14] tushar912 commented on #16957
@zulipbot claim

[2021-04-16 13:25] schultzh commented on #16920
@zulipbot claim

[2021-04-16 13:26] schultzh commented on #16920
@timabbott @garg3133 I've addressed this in an updated PR #18159

[2021-04-16 14:07] mateuszmandera commented on #16031
Marking the 3 points addressed by https://github.com/zulip/zulip/pull/18174 as done (ugettext, smart_text. is_safe_url)

[2021-04-16 16:03] ligmitz commented on #17863
Resolved in #17951.

[2021-04-16 17:05] mandepsingh commented on #18062
@zulipbot abandon

[2021-04-16 17:26] stefanieelling5 commented on #18062
@zulipbot claim

[2021-04-16 18:31] timabbott commented on #18085
Closing in favor of #16805.

[2021-04-16 18:31] #18085 closed

[2021-04-16 20:06] srinivasan1995 commented on #17921
Yea working on it

[2021-04-16 20:10] timabbott commented on #17568
Is there an update on the remaining anomalies on this thread?

[2021-04-16 22:06] timabbott commented on #14499
@Garagoth yes.

For the larger thread, https://github.com/zulip/zulip/pull/18051 will make this configurable.

[2021-04-16 22:22] timabbott commented on #10970
Just an update that we're actively looking at the feasibility of adding this, so if this feature would affect whether you'd like to be a paying customer (or you'd like to help sponsor it), now's a great time to email support@zulip.com with details.

[2021-04-16 22:46] varkor opened #18197 "Server logo is replaced by blue rectangle after some time"
![image](https://user-images.githubusercontent.com/3943692/115090811-c1d0a600-9f0d-11eb-981a-de86bba182c5.png)
After the Zulip app is open for some time, the server logo (a custom logo, rather than the default) turns into a blue rectangle. It happens to various servers. I haven't been able to figure out what causes it specifically. It seems to occur on a per-server basis: one may turn blue without

[2021-04-16 22:50] adambirds commented on #18197
@varkor is this on the web app or desktop app or does it affect both?

[2021-04-16 23:23] varkor commented on #18197
I've only noticed it on the desktop app, but I use the web app more rarely, and it only occurs after extended usage.

[2021-04-16 23:35] ChloeTang99 commented on #17998
@timabbott I'm working with a partner. However, we've been having issues with Git. I was trying to see if I could get it to work on my partner's computer but it didn't. We ended up doing this claiming/ unclaiming thing multiple times. We're sorry for the confusions.

[2021-04-17 02:19] michaelkli1998 commented on #17967
@zulipbot still working on it

[2021-04-17 14:18] RalfJung opened #18202 "Markdown escapes via "\" are not handled correctly"
To reproduce, type the following message:
[code]
This should render as follows:
\*hello\*
I.e., this should show an asterisk followed by "hello" followed by an asterisk, all in standard font.

On Zulip, however, instead it shows like this
\\*hello\\*
This is a blackslash in standard font, followed by "hello" and a backslash in italic font.

It seems like Zulip is not properly parsing the backslash

[2021-04-17 16:33] lawynnj commented on #16840
@zulipbot claim

[2021-04-17 16:36] lawynnj commented on #17786
@zulipbot claim

[2021-04-17 16:46] chrisbobbe opened #18205 "Have `restart` event include server version, server feature level."
As discussed [here](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/Server.20feature.20level/near/1165501).

E.g., like

[code]

or whatever format makes the most sense / is most consistent with the current server API. (The `zulip_version` and `zulip_feature_level` names are based on the `/server_settings` response.)

[2021-04-18 02:07] adambirds commented on #18122
@timabbott I created #18207 to fix this, as these can be set by install flags on the installer. I have updated the install docs to document these options correctly.

[2021-04-18 05:41] edith007 commented on #17766
@zulipbot claim

[2021-04-18 06:04] m-e-l-u-h-a-n commented on #18205
@zulipbot claim

[2021-04-18 07:17] ganpa3 commented on #18202
The problem is with the backend markdown. With a print statement
[code]

@zulipbot claim

[2021-04-18 16:59] LefterisKyriazanos commented on #17467
@zulipbot claim

[2021-04-19 06:55] andreasoc commented on #8005
up

[2021-04-19 07:05] Signior-X commented on #8005
@andreasoc the PR is waiting for a review from @timabbott
I am currently on this issue.

[2021-04-19 07:13] andreasoc commented on #8005
we hope to see it in the next release

[2021-04-19 09:28] ganpa3 commented on #18202
Looks like it's disabled
https://github.com/zulip/zulip/blob/d14441ffd3a0a138bbaa0f0671b23a479136cc35/zerver/lib/markdown/__init__.py#L2187-L2203

[2021-04-19 11:45] mateuszmandera opened #18211 "Document n8n integration"
n8n (https://github.com/n8n-io/n8n) have built an integration of Zulip with their product - the documentation can be found at https://n8n.io/integrations/n8n-nodes-base.zulip and https://docs.n8n.io/nodes/n8n-nodes-base.zulip/#basic-operations. It would be useful to document it and list it on our end as well, in `templates/zerver/integrations/`, as described in https://zulip.readthedocs.io/en/late

[2021-04-19 11:48] mateuszmandera commented on #18211
@adambirds Would you be interested in picking this up?

[2021-04-19 12:28] Shashantao commented on #14991
Still working on it.

[2021-04-19 12:35] Shashantao commented on #14991
@zulipbot claim

[2021-04-19 17:10] #17922 closed

[2021-04-19 17:17] #18184 closed

[2021-04-19 17:40] timabbott commented on #18122
Can you post the error message that made you need to uninstall old versions?  I would not expect that to be necessary.

[2021-04-19 19:44] alexmv commented on #17768
I just replicated in a test production deploy:
[code]
<img width="1251" alt="Screen Shot 2021-04-19 at 12 43 26 PM" src="https://user-images.githubusercontent.com/28347/115293983-df1f9300-a10c-11eb-98cd-c217e8abb61e.png">

Sos something's different in email-sending path.  You should try setting up outgoing email and see if you can track down what the difference is.

[2021-04-19 20:13] timabbott commented on #18202
This is a duplicate; https://github.com/zulip/zulip/pull/17511 is the open PR for it.  We're hoping to merge that in the next few weeks; thanks for the report @RalfJung!

[2021-04-19 20:14] timabbott commented on #18197
@varkor fascinating!  What OS are you seeing this on?  (It seems like some sort of weird browser bug).

[2021-04-19 20:40] varkor commented on #18197
I'm using macOS 10.12.6.

[2021-04-20 00:43] #15186 closed

[2021-04-20 01:04] #10830 closed

[2021-04-20 01:08] sysardex commented on #16808
Yes, I think it adds safety in certain situations. Probably don't need to enable this state by default. Leave the administrators a choice.

[2021-04-20 05:58] Ayaan2907 commented on #17274
@zulipbot claim

[2021-04-20 06:55] jaichhabra commented on #13480
@zulipbot claim

[2021-04-20 07:10] Ayaan2907 commented on #17274
@zulipbot  declaim. This issue already has a PR #17593

[2021-04-20 07:11] Ayaan2907 commented on #17274
@zulipbot abandon

[2021-04-20 07:44] ilyamordasov opened #18216 "Add tags to message"
Is it possible to add some predefined/custom tags to each message?

[2021-04-20 10:22] WesleyAC commented on #15085
I'm closing this as a dupe of #8040, since that seems to be where most of the discussion on this is.

[2021-04-20 10:22] #15085 closed

[2021-04-20 10:27] WesleyAC commented on #8040
I've made a [design doc](https://docs.google.com/document/d/1UFQnai5t8R6Fp8lDiWlO9XWuqTUrMrI1tMd-7e7ml3Y) to consolidate the exact UI/UX that this feature will have.

If you have opinions on what this should look like, feel free to comment, either in this issue, on that doc, or in the [CZO thread](https://chat.zulip.org/#narrow/stream/101-design/topic/Hiding.20user-muted.20messages)!

[2021-04-20 12:19] ro-i opened #18220 "Javascript handlebars are not handled properly."
Hi :)

somehow the js handlebars are no longer correctly handled within some compose messages. The messages I noticed:
- `static/templates/compose_all_everyone.hbs`
- `static/templates/compose_announce.hbs`
An example screenshot:
![Screenshot from 2021-04-20 07-20-04](https://user-images.githubusercontent.com/50044286/115393717-8239e080-a1d1-11eb-9eb7-96435916f2f6.png)

@andersk You touched the co

[2021-04-20 13:55] ro-i opened #18221 "Truncated topic list with notification bar at the top of the screen."
Hi :)

Currently, the topic list of a stream gets truncated while the `Zulip needs your permission to enable desktop notifications.` message appears at the top of the screen:
![Screenshot from 2021-04-20 15-41-53](https://user-images.githubusercontent.com/50044286/115407569-aa304080-a1df-11eb-8f1b-d813feca7f6a.png)
After removing the message, everything is fine again:
![Screenshot from 2021-04-20

[2021-04-20 15:18] timabbott commented on #18220
@ro-i thanks for the report!  This is indeed likely a bug from our recent migration from i18next to FormatJS.

@hackerkid FYI in case you can debug this before @andersk gets online.

[2021-04-20 15:21] Crimson25 commented on #17248
@zulipbot claim

[2021-04-20 15:38] timabbott commented on #18221
@ligmitz this seems like another `resize.js` accounting bug; can you make an attempt at fixing it?

[2021-04-20 15:49] ligmitz commented on #18221
Yeah, will try to debug. Will also try to address similar issues in the solution.

[2021-04-20 18:40] sentry-io[bot] opened #18223 "TypeError: argument of type 'NoneType' is not iterable"
https://sentry.io/share/issue/71c35f8aca6444b4a8e1d3ab6880ef71/

[code]

[2021-04-20 19:56] alexmv commented on #14959
Since I've heard this multiple times, I tested this -- but I see no evidence of it.  In fact, `supervisor stop all` is faster than other alternatives, in some cases by quite a bit.

On Ubuntu 18.04, with supervisor 3.3.1:
[code]

On Ubuntu 20.04, with supervisor 4.1.0:
[code]

#### `stop-all-at-once.sh`
[code]

#### `stop-enumerate-one-command.sh`
[code]

#### `stop-multiple-commands.sh`
[code]

[2021-04-20 21:39] #18220 closed

[2021-04-20 21:46] timabbott opened #18227 "Move administrative UI templates to static/templates/settings/"
It would be a nice organizational improvement to move the various "organization settings" templates that have snuck into the `static/templates/` root into `static/templates/settings/`.
[code]

(It's important to manually test that every moved template works, and `git grep` the template name to make sure one adjusted all references for this issue)

[2021-04-20 22:43] tushar912 commented on #16957
@zulipbot claim

[2021-04-21 03:41] aryanshridhar commented on #18227
@zulipbot claim

[2021-04-21 06:50] #18039 closed

[2021-04-21 16:52] #18179 closed

[2021-04-21 17:28] #14959 closed

[2021-04-21 17:52] schultzh commented on #17789
@zulipbot claim

[2021-04-21 18:04] sentry-io[bot] opened #18236 "Catching up soft-deactivated users can cause duplicate usermessage insertions"
See https://sentry.io/share/issue/51541e310c7545258acd820bdb09ec94/
 for an example traceback.  It is clear that before catch-up, no such row exists -- something in the logic is attempting to double-insert the same row (either in the same transaction, or in the same insert statement) which leads to this exception.

At least one of the duplicate message tuples is for an archived stream, which point

[2021-04-21 21:23] jcharaoui commented on #16013
I've encountered the same issue with bang (`!`) characters, which are used in Icinga2 resource URLs. I don't understand why a second validation is needed when the URL submitted is already run through the standard `URLValidator`. Many valid characters are needlessly blocked...

[2021-04-21 21:34] erickhavel commented on #18150
Would be awesome if this could just be done *somehow*. Having it without UI is way better than not having this at all IMHO.

[2021-04-21 22:58] octogonz opened #18240 "Provide a way to track whether topics are "resolved" or not"
**Scenario:**

- We use Zulip to provide tech support.
- The Zulip topics are basically lightweight issues, and after the person has been helped, the issue is "resolved."

**Problem:**  Tech support people have trouble determining which topics are still unresolved.

**Suggested solution:** I [have not been able to](https://chat.zulip.org/#narrow/stream/137-feedback/topic/Could.20Zulip.20offer.20a.

[2021-04-22 08:32] guptaprakhariitr opened #18242 "Feature: Filter recent Topics based on participants"
To get recent topics/messages specific to a person(Maybe the user itself), there can be a filter added to do that in the participants heading.
It could be a dropdown, and participants can be chosen from it, and a number of choices can be displayed right to the participants heading. Something similar to dropdowns in github(in issues author filter etc.)
![Screenshot from 2021-04-22 13-59-04](https:/

[2021-04-22 18:38] WesleyAC commented on #18077
We got another request for this on CZO [here](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Notification.20mail.20while.20online).

I don't mind the email record being just one-way. Basically, my inbox is a much better TODO system than Zulip is, so I'd like to have mentions always end up in there.

[2021-04-22 18:47] WesleyAC commented on #18077
Updated this issue to refer only to email, since #18072 covers the mobile side of things.

[2021-04-22 19:26] abhishekdeshmukh2209 commented on #17521
@adambirds
@timabbott

Updated to master branch ..

Now also the zulip-server pod is getting crashed with below error...

==> /var/log/zulip/django.log <==
2021-04-22 19:20:49.416 INFO [zr] xxx.xxx.xxx.xxx      POST    200  1.2s (db: 1.1s/2q) /api/v1/users/me/presence (28@ztcom via Apache-HttpClient)
[pid: 1013|app: 0|req: 182/1213] xxx.xxx.xxx.xxx () {46 vars in 785 bytes} [Thu Apr 22 19:20:48 20

[2021-04-22 19:48] alexmv commented on #17521
`SIGINT/SIGQUIT received...killing workers` looks like an orderly shutdown because something asked uwsgi/Django to shut down.  Googling for "command terminated with exit code 137" finds me a bunch of results about k8s OOM-killing containers.  Check your maximum memory limits on the container?

[2021-04-22 21:29] abhishekdeshmukh2209 commented on #17521
@alexmv

Looking into it.

[2021-04-22 21:38] adambirds commented on #17969
PR is awaiting review

[2021-04-22 21:39] adambirds commented on #13854
PR is awaiting review

[2021-04-22 21:40] timabbott commented on #18236
I think #18237 may be helpful but the root issue here is likely that we're catching up a single soft-deactivated user in a `/` visit, they get tired of waiting (since we have no special loading page for that situation), and they start a second browser window that races with the first.

[2021-04-23 00:53] alexmv opened #18248 "Advertize PostgreSQL 13, prep for Bullseye support"
#17170 added support for these, but not documentation.  We should add them to the list of documented versions that Zulip supports.

[2021-04-23 08:37] PIG208 commented on #12811
Yes, there is a linked PR waiting for review.

[2021-04-23 08:38] PIG208 commented on #18022
Yes, there is a linked PR waiting for review.

[2021-04-23 16:54] Riken-Shah commented on #15964
@zulipbot claim

[2021-04-23 21:58] timabbott commented on #18240
I think this is a duplicate of https://github.com/zulip/zulip/issues/11154.

I've added a label to remind me of this after the 4.0 release comes out; it's a think we'll want to think about when we're not focused on release management.

[2021-04-23 21:58] #18240 closed

[2021-04-23 21:59] timabbott commented on #11154
See also the specific use case discussed in #18240 for this sort of thing.

I've tagged this as "post release" so that we remember to look at it again after the 4.0 release.

[2021-04-23 22:01] #17301 closed

[2021-04-23 22:04] #17813 closed

[2021-04-23 22:18] #17955 closed

[2021-04-24 06:59] cyphase commented on #16947
To be precise for posterity, if a message is edited to the empty string (or only whitespace), the server edit code will currently replace it with "(deleted)". It's indistinguishable from changing the message to "(deleted)" yourself. [See here](https://github.com/zulip/zulip/blob/1b5a7a23372152349e5382a0923f358019ec5c18/zerver/views/message_edit.py#L179-L180).

[code]

[2021-04-24 08:59] xerus2000 commented on #11154
I guess the "post release" tag would be better suited to the use of milestones

[2021-04-24 15:41] scjess commented on #17986
@zulipbot claim

[2021-04-24 17:10] scjess commented on #17986
@zulipbot abandon

[2021-04-24 17:10] scjess commented on #17271
@zulipbot claim

[2021-04-24 17:18] Nyior commented on #17826
I'm currently making progress on this issue [here](https://github.com/zulip/zulip/pull/17982), and I'm waiting for a review.
However I'd unassign myself the issue just so I could move on to some other issue while waiting for the review on my PR for this issue.

[2021-04-24 17:18] Nyior commented on #17826
@zulipbot abandon

[2021-04-24 17:39] hamatilo commented on #2746
@zulipbot claim

[2021-04-24 17:44] cmunaco commented on #14991
@zulipbot claim

[2021-04-24 17:59] cmunaco commented on #17929
@zulipbot claim

[2021-04-24 18:00] cmunaco commented on #15331
@zulipbot claim

[2021-04-24 18:01] cmunaco commented on #15331
@zulipbot claim

[2021-04-24 18:16] PIG208 commented on #17860
Yes, there is a PR awaiting review.

[2021-04-24 18:16] PIG208 commented on #17792
Yes, there is a PR awaiting review.

[2021-04-24 19:51] cmunaco commented on #16828
@zulipbot claim

[2021-04-24 20:04] timabbott commented on #15223
Tagging as a release goal for at least the work of making us not display incorrect UI here.

[2021-04-24 21:47] timabbott commented on #16805
@amanagr can you update your new PR to be marked as closing this?

[2021-04-24 21:52] timabbott commented on #18248
Ubuntu Groovy support is only for the development environment.  I guess the Postgres 13 support is probably real, but I'm not sure we've actually tested it at all?

I'm not sure how useful it is to document Groovy -- it reaches EOL in July (2-3 months from now).  I think it's reasonable to have a policy of not bothering to document Ubuntu non-LTS releases given how short their support lifetime is?

[2021-04-24 21:58] lawynnj commented on #17786
@zulipbot claim

[2021-04-24 22:41] hamatilo commented on #2746
Submitted a PR for this in #18255

[2021-04-24 23:15] mateuszmandera opened #18256 "Add a setting to disable sender names in email notifications"
When sending email notifications we currently, when relevant, put a user's name in the From header of the email message. E.g. if I trigger an invitation email to someone, my name will be put in the From header. For some organizations this can be undesirable, because some phishing detection systems (Google's Advanced phishing and malware protection system is the case we've run into) can mark such m

[2021-04-24 23:16] sravitha commented on #17842
@zulipbot claim

[2021-04-24 23:25] sravitha commented on #10539
@zulipbot claim

[2021-04-25 04:39] tushar912 commented on #18256
@zulipbot claim

[2021-04-25 06:45] alexmv opened #18258 "Upgrade from 3.4 to master fails due to node upgrade and PATH environment"
`scripts/lib/install-node` installs node via a symlink in `/usr/local/bin/node`, but `nvm` _also_ sets up `~root/.bashrc` to load `/usr/local/nvm/nvm.sh`; this script prepends to `$PATH`, such that `which node` finds `/usr/local/nvm/versions/node/v12.18.2/bin/node`.

Since that _specific_ version is in the environment's `$PATH`, it means that during the upgrade, `nvm` installs node 14.16.1 and `sc

[2021-04-25 08:28] ligmitz commented on #18248
Yeah, non-LTS releases have a life support of about 9 months only, so I think it is not quite useful to give production support for them (due to short life). The Zulip support for Groovy is only for development. We added support for Debian Bullseye recently but it is not documented [here](https://zulip.readthedocs.io/en/latest/production/requirements.html), should we document that as a supported p

[2021-04-25 15:46] #17271 closed

[2021-04-25 15:54] #16805 closed

[2021-04-25 16:36] timabbott commented on #18258
We could also look at whether running some additional `nvm` command or option can prevent or undo the `~root/.bashrc` hackery?  `nvm unload` at least will unhack `$PATH`, so we could do that conditioned on `which nvm` or something.  But I can't find any way to tell `nvm` to not modify `.bashrc` in the first place, which is probably a thing we'd want.

I think that prepending approach makes sense t

[2021-04-25 16:45] timabbott commented on #17766
Tagging as difficult since I think this sort of audit requires a lot of familiarity with the system to be useful.

[2021-04-25 19:05] cmunaco commented on #17248
@zulipbot claim

[2021-04-26 07:22] hackerkid opened #18266 "Display tweets about Zulip in relevant portico pages"
Every now and then we get really good tweets about Zulip on Twitter.

Example: https://twitter.com/joshuagrochow/status/1383141209934163969

We currently only retweet them. Instead, we should start embedding these tweets in our portico pages. I think we can use https://publish.twitter.com/ for embedding the tweets.

The tweet above for example can be displayed at https://zulip.com/for/research

We

[2021-04-26 09:59] Nicolexieyn commented on #17731
Still working. I have pushed a commit but it failed one of the checks.

[2021-04-26 14:04] 100RABHpy commented on #18266
Hey @hackerkid, I love to work on this. I tried embedding a tweet in my project website using https://publish.twitter.com/  and it works. So I think we can use this.
But I didn't understand what do you mean by the below line.

Also, I'm thinking if we can automate this. Like if we can embed a tweet using just a URL without using https://publish.twitter.com/. IDK that's possible or not, I have to l

[2021-04-26 16:32] #18223 closed

[2021-04-26 16:38] #18227 closed

[2021-04-26 18:28] alya commented on #18266
I can help figure out what tweets to use for this.

[2021-04-26 20:12] timabbott commented on #18266
We should implement this using a random tweet (to figure out the infrastructure) and then we can select the tweets to use.

Twitter's embed API is a reasonable plan.

[2021-04-26 20:48] 100RABHpy commented on #18266
Yeah, I agree we should try this with some random tweet and settle on design first; after this, adding tweets will be easy.
I found [this](https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview) twitter documentation helpful. I'll propose some prototypes soon on [CZO thread](https://chat.zulip.org/#narrow/stream/137-feedback/topic/twitter).

[2021-04-26 21:07] Prashantsurana opened #18268 "Zulip for consumer cloud deployment, hide users from each other within a realm"
We are looking to integrate zulip with cloud email consumer service like gmail.com

Is it possible to hide user within a realm?

We have created realm example.com  https://example.chat.somedomain.com

User case: There users
john@example.com
alice@example.com
bob@example.com
Charlie@example.com

If john@example.com logs in , he should not able to see or chat with other users in example.com unless J

[2021-04-26 21:18] timabbott commented on #18135
Removed the release goal labels, since the high priority bug that was part of this was fixed in #18145.

I think we're going to end up closing #16913 after adding a warning; it would probably be a good idea check the status of the remaining bits of this after #18145 and then close this (replacing with a more clear/focused issue on the remaining work we want to do).

[2021-04-26 21:43] #16913 closed

[2021-04-26 21:46] timabbott opened #18269 "Improve error handling for uploading a custom emoji with a name that's already in use"
As noted in https://github.com/zulip/zulip/pull/16937#issuecomment-827165758, we currently don't show the right error message if someone tries to upload a custom emoji with the same name as an existing one in the "emoji settings" UI.

[2021-04-26 21:48] timabbott commented on #16913
This was closed by #16913 via adding the confirmation dialog.  I'm not sure there's anything else we definitely want to do here, but if so, we should open as a new issue.  (E.g. if we think overriding default emoji should be limited to moderators and above as separate from the existing setting controlling who can upload custom emoji, we could try to design something there; I'm not sure it's worth

[2021-04-26 22:16] SaikaIslam commented on #17944
@zulipbot claim

[2021-04-26 22:18] SaikaIslam commented on #17944
@zulipbot add "good first issue"

[2021-04-26 22:18] SaikaIslam commented on #17944
@zulipbot claim

[2021-04-26 23:13] timabbott commented on #17826
I pushed a version of this to #17982; it's still missing several key features detailed above, however:
* Checking the version of release tarballs.
* Having a good place to link to from the notice.

[2021-04-26 23:23] alexmv commented on #18248
#18271 swaps the default production PostgreSQL to 13, and thus tests it as well as upgrades to it.  Not documenting Groovy makes sense to me, given its short support schedule.  Documenting Bullseye should probably wait until it's actually officially released, I think?  But we can prep a PR that makes it easy to merge as soon as it does.

[2021-04-26 23:27] #15964 closed

[2021-04-26 23:29] timabbott commented on #15964
This is only partially fixed in #18259, which removes the pre-v6 caches.

There does not seem to be a simple way to remove yarn cache data that is stale otherwise.

[2021-04-26 23:32] SaikaIslam commented on #17944
#18270 awaiting feedback

[2021-04-27 00:00] brenolea commented on #17419
@zulipbot claim

[2021-04-27 00:27] #17672 closed

[2021-04-27 00:36] #17767 closed

[2021-04-27 00:55] timabbott commented on #14959
Interesting!  Can you try redoing that experiment with `restart` rather than `stop`?   I think that's more likely to be what I actually tested.

I could imagine those data are different under load, where one process might stall being shut down by trying to finish processing the current request, but that's unclear.

Also, it's kinda shocking how much time supervisord's CLI consumes in general with

[2021-04-27 01:12] SaikaIslam commented on #17467
@zulipbot claim

[2021-04-27 01:13] SaikaIslam commented on #17944
@zulipbot abandon

[2021-04-27 01:14] SaikaIslam commented on #17467
@zulipbot claim

[2021-04-27 01:22] KovalchukKonstantin opened #18273 "Some of the javascript code can cause error in execution with noninitialized values. Seen through javascript style parser"
![image](https://user-images.githubusercontent.com/27714145/116170773-6f457580-a6d5-11eb-91b5-48fabc4a198f.png)
![image](https://user-images.githubusercontent.com/27714145/116170816-83897280-a6d5-11eb-9b14-938b9bf62275.png)

[2021-04-27 03:28] alexmv commented on #14959
Yeah, 20.04 was in a VM.

[Restart is literally implemented as `stop` followed by `start`](https://github.com/Supervisor/supervisor/blob/d76f548019745d1ef74a6f50c1d52c99575a32c8/supervisor/supervisorctl.py#L967-L968) so does not differ from `supervisorctl stop a b c && supervisorctl start a b c` except in not having the supervisorctl overhead twice.

But that means that there's a behavioral differ

[2021-04-27 04:27] yasiruRathnayaka97 commented on #18269
@zulipbot  claim

[2021-04-27 07:15] alexmv opened #18275 ""bots" tab of realm_activity page should show the bot's owner"
It would help to know who created each bot on the realm, in case they're misbehaving.

[2021-04-27 11:36] edith007 commented on #18275
@zulipbot claim

[2021-04-27 14:36] aryanshridhar opened #18278 "`Programming error` while opening `status modal` within organization user settings."
The blueslip seems to throw a `Programming error` when trying to open the `set_status_modal` upon the settings overlay.
The traceback is as follows:
[code]

<strong>Screenshot:</strong>

![blueslip](https://user-images.githubusercontent.com/53977614/116259752-b5f9a500-a793-11eb-90ba-f1f9bc9f4c17.gif)

[2021-04-27 14:40] aryanshridhar commented on #18278
This is occurring because of the fact that `active overlay` gets a value of `settings` and hence causes the blueslip to throw a programming error.
The relevant code can be found here:
https://github.com/zulip/zulip/blob/d50d46525c0e4ca98a389fbd65a28cac1a145700/static/js/overlays.js#L79

Not sure what the right fix here.

[2021-04-27 15:26] timabbott commented on #17734
Closing due to lack of reply and the fact that `ujson` hasn't been used in Zulip since mid-2020 (61d0417e75a09075d9a61ac0ddd959efd6934478), which makes me think it unlikely this was tested against master.

[2021-04-27 15:26] #17734 closed

[2021-04-27 15:27] timabbott commented on #17747
Closing as this has not been noticed since #17777, so we're pretty confident that fixed it.

[2021-04-27 15:27] #17747 closed

[2021-04-27 15:50] Crimson25 commented on #17248
@zulipbot claim

[2021-04-27 16:20] adambirds commented on #18185
still working on this.

[2021-04-27 16:21] hvdijk opened #18280 ""Public stream messages in organization" shows incorrect "You (un)subscribed to/from stream (...)" events"
Hi,
On a brand new account on https://chat.zulip.org/, if I go to https://chat.zulip.org/#narrow/streams/public, I see a bunch of "You (un)subscribed to/from stream (...)" events. "You subscribed to stream (...)" might be valid if these are streams that users are auto-subscribed to, but "You unsubscribed from stream (...)" does not look like it should be possible for a brand new user.
I first saw

[2021-04-27 17:42] m-e-l-u-h-a-n commented on #18280
Possibly related: #17508 .

[2021-04-27 18:12] srinivasan1995 commented on #17921
@zulipbot claim

[2021-04-27 18:58] LefterisKyriazanos commented on #17944
@zulipbot claim

[2021-04-27 19:08] recursivecodes commented on #17762
Filed PR. https://github.com/zulip/zulip/pull/18284

[2021-04-27 19:17] timabbott commented on #17826
OK, #17982 is merged; we still need to do the bits of remaining work noted above.

[2021-04-27 19:43] alya opened #18286 "In Development environment setup instructions, make external links open in a new tab"
The instructions for setting up the Zulip development environment contain links to external sites for downloads and/or supplemental instructions (e.g. setting up ssh keys for GitHub). After clicking these links, the reader needs to get back to the overall setup instructions in order to continue to the next step of the process. In order to make it easier, it would be better to have these external l

[2021-04-27 22:39] RoseKimball commented on #18286
Hi, I can work on this issue!

[2021-04-27 22:42] timabbott commented on #18286
Great, go for it!

[2021-04-27 22:49] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-04-27 22:56] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-04-27 23:45] #16090 closed

[2021-04-27 23:56] timabbott commented on #18248
@alexmv this was fixed by #18271, right?

[2021-04-28 01:01] #17782 closed

[2021-04-28 02:28] aryan340 opened #18291 "how does zulip scale"
I am looking for solutions to handle multiple concurrent connections, but django does not natively support websocket - the way it is built cannot support it anyway. As zulip is built with django, I am curious how you're handling multiple websocket connections per organization.

How many numbers of concurrent connections do you face everyday?
What technologies do you use to handle the same?
Any cha

[2021-04-28 02:41] alexmv commented on #18248
I think the only thing to possibly do is decide if we're advertizing Bullseye in 4.0, or holding off until it gets a release.  I think I'm in favor of "it will work when it's released, even if we don't list it; we can start officially listing it in 4.1 if it doesn't go out by 4.0 final."

[2021-04-28 02:44] #18122 closed

[2021-04-28 04:38] devashish-gaikwad commented on #18147
Hi I am interested in taking up this issue !

How Do I get started and do I need to register somewhere ?
By my understanding solving this issue involves reading source code to understand the emoji conversion rules.
And where should this be mentioned in the documentation ?

@PIG208 I am new to OSS contributing, Could you please guide me on next steps ? If you have any other beginner friendly issues

[2021-04-28 04:55] timabbott commented on #18147
@devashish-gaikwad welcome!

The set of supported emoticons is already documented here: https://zulip.com/help/enable-emoticon-translations; @PIG208 can you talk about where you looked for this information?  Probably the bug here is a missing link to that page somewhere.

[2021-04-28 04:57] #18052 closed

[2021-04-28 04:57] ganpa3 commented on #18291
@aryan340 https://zulip.readthedocs.io/en/latest/subsystems/performance.html

[2021-04-28 05:02] timabbott commented on #18248
Yeah, I think that policy makes sense to me, especially since it doesn't actually work without an `/etc/os-release` that will only be normal once it is released.

[2021-04-28 05:02] #18248 closed

[2021-04-28 05:03] #18291 closed

[2021-04-28 05:06] timabbott commented on #18278
I think the bug is that the `user_status` widget probably shouldn't be an "overlay", but instead should just be a popover.

[2021-04-28 05:10] timabbott commented on #18280
I think the right fix for this is just to disable those notifications in `streams:` views.

[2021-04-28 05:17] aryanshridhar commented on #18278
Makes sense! @zulipbot claim

[2021-04-28 05:24] PIG208 commented on #18147
I guess we might want to add a question mark linking to this page. This should be fairly straightforward.
![image](https://user-images.githubusercontent.com/39874143/116350672-ea697180-a824-11eb-8944-49e8d780f7c6.png)

[2021-04-28 05:38] PIG208 commented on #18147
@devashish-gaikwad As Tim mentioned that we already have the documentation, you might want to look at `static/templates/settings/` and check out where and how we add the helper link for the settings page. You are welcomed to create a PR for this issue. Be sure to follow our [code contribution guide](https://zulip.readthedocs.io/en/latest/contributing/index.html) while working on this issue. Feel f

[2021-04-28 06:23] devashish-gaikwad commented on #18147
Thanks @timabbott @PIG208 ; I'll start with understanding contrib guidelines and digging the code base at the path you suggested :)

[2021-04-28 06:23] devashish-gaikwad commented on #18147
@zulipbot claim

[2021-04-28 06:25] timabbott commented on #18268
Zulip doesn't support this, but you could fork Zulip to implement this using the approach we'll be using to implement #10970.

[2021-04-28 06:25] #18268 closed

[2021-04-28 06:28] timabbott commented on #18273
@KovalchukKonstantin thanks for the report!  What tool are you using to find these?

[2021-04-28 06:28] #18273 closed

[2021-04-28 07:15] timabbott commented on #17521
Closing as this seems to have been a resource allocation issue.

[2021-04-28 07:15] #17521 closed

[2021-04-28 11:45] abhishekdeshmukh2209 commented on #17521
Hey Thanks
@timabbott
@alexmv
@adambirds
as always for swift response.
Fixed by allocating more cpu and memory to zulip pods increased ram to 2 GB.

[2021-04-28 13:27] yasiruRathnayaka97 commented on #18269
@timabbott  is this what you want?
![Screenshot (33)](https://user-images.githubusercontent.com/57071700/116411457-5d89dc80-a853-11eb-8d6c-aecbe3766fe5.png)

[2021-04-28 14:23] #17969 closed

[2021-04-28 14:56] #17320 closed

[2021-04-28 15:12] #18022 closed

[2021-04-28 15:34] #17823 closed

[2021-04-28 15:34] #18221 closed

[2021-04-28 18:15] yasiruRathnayaka97 commented on #18269
@aryanshridhar  and @timabbott  I improved  your code by adding warning alert. Is this what you want?

![custom_emoji_upload](https://user-images.githubusercontent.com/57071700/116452674-96d64280-a87b-11eb-989a-8a4f9fc971f6.gif)

[2021-04-28 18:22] aryanshridhar opened #18294 "user-docs: Update certain text within the instructions noted."
Currently, there is a mismatch of wordings within the <a href = 'https://zulip.com/help/'>user documentation</a> and the actual modal UI.
This is so because #17947 and #18232 updated the text within various modals leaving the user documentation unchanged.

For a clear example, the <a href = 'https://zulip.com/help/delete-a-topic#delete-a-topic'>delete-topic</a> documentation should have the text a

[2021-04-28 22:10] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-04-28 22:33] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-04-28 22:34] LefterisKyriazanos commented on #15686
@zulipbot claim

[2021-04-28 22:49] ro-i commented on #14160
@showell Would you like to describe a little more precisely what you mean?

[2021-04-28 22:49] #17795 closed

[2021-04-28 22:58] adambirds commented on #14676
@timabbott I think this might be something I would be interested in working on, at least for the work to support an optional change of install path. I don't however see much benefit in moving the default from `/home/zulip` to `/opt/zulip`. I figure after working on #17899 I'm already a little more used to how the installer works and it would be nice to learn more about puppet. Just wondering who w

[2021-04-28 23:57] timabbott commented on #14676
I think a #backend thread is the right place to talk about puppet stuff; there's a handful of us who can help.

We'll want to thoughtfully stage commits for a project like this.  My proposal would be to (1) define an `/etc/zulip/zulip.conf` entry, perhaps this as the syntax:
[code]

And then do a series of small commits/PRs that port various pieces of code to read that variable and use `os.path.jo

[2021-04-29 00:40] adambirds commented on #14676
Thanks for the quick response @timabbott. When you say to define a variable in /etc/zulip/zulip.conf, is there a place that we do this, or do you mean like we did for the custom database names in #17899 create the installer options and then set them in zulip.conf via `crudini`?

[2021-04-29 00:49] adambirds commented on #14676
One of the main issues we have is that all the docs are set to `/home/zulip` so there needs to be some discussion around how we get around that.

[2021-04-29 01:16] adambirds commented on #14676
And guessing we also, need somehow to get that setting in `zulip.conf` for existing servers because the code would still be looking there for it.

[2021-04-29 01:16] adambirds commented on #14676
@zulipbot claim

[2021-04-29 01:37] adambirds commented on #14676
Okay, this can be ignored. I had read my git grep wrong.

[2021-04-29 02:47] alexmv commented on #14676
I'm not convinced this is terribly high leverage.  It's going to complicate a lot of codepaths and documentation (as well as support for folks) -- and the existence of easy virtualization, including Docker, have in general made the story for letting Zulip have full control of the system increasingly reasonable as time goes on.

I'm not saying it's _zero_ value, but I don't think it would rank high

[2021-04-29 03:02] nikhilmaske-2001 commented on #18294
@aryanshridhar Thanks for pointing it out. I will fix them all.

[2021-04-29 03:02] nikhilmaske-2001 commented on #18294
@zulipbot claim

[2021-04-29 07:31] RomainGitH commented on #18286
Hello,
I would like to work on it too.

[2021-04-29 07:31] RomainGitH commented on #18286
@zulipbot claim

[2021-04-29 08:37] seiwailai commented on #17914
@zulipbot claim

[2021-04-29 16:17] alya opened #18305 "Show starred message counts by default"
Currently, starred message counts are turned off by default. We should turn them on by default to make this useful feature more discoverable.

![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/116583851-9f566980-a8cb-11eb-864f-3276c067e48d.png)

[2021-04-29 16:23] m-e-l-u-h-a-n commented on #18305
@zulipbot claim

[2021-04-29 19:09] #15541 closed

[2021-04-29 19:09] #18205 closed

[2021-04-29 19:13] timabbott opened #18310 "Make it impossible for the do_events_register recursive call to have missing parameters"
There's a high-value follow-up we need to do following https://github.com/zulip/zulip/pull/18208, which is making it impossible for someone to add new parameters to do_events_register without updating the recursive call, since that would introduce a new nasty bug.

We can perhaps use the "mandatory kwargs" technique from this commit 0a21476, at the cost of somewhat annoying repetition.  Another id

[2021-04-29 19:15] timabbott commented on #18310
Started a thread here: https://chat.zulip.org/#narrow/stream/49-development-help/topic/recursive.20call.20question/near/1171371

[2021-04-29 19:34] alya opened #18312 "Move `Create a poll` documentation page into `Sending messages` section"
Currently [documentation for creating a poll](https://zulip.com/help/create-a-poll#create-a-poll) is in the `Tools & customization` section.

We should move it to the `Sending messages` section, since it's one of the things you can do when sending a message. It can be directly beneath the `Add GIFs in your message` link (currently the last one in the section).

[2021-04-29 22:56] alexmv commented on #15819
I _think_ that `locale-gen en_US.UTF-8` will ensure that it is generated if the `locales` package is updated, since it updates `/etc/locales.gen`

Using en_HK as an example:
[code]

[2021-04-29 23:03] #18310 closed

[2021-04-29 23:10] alexmv commented on #15819
Did a bionic -> focal update, and it kept `/etc/locale.gen` changes:
[code]

[2021-04-29 23:43] #17790 closed

[2021-04-29 23:44] alya opened #18318 "Improve `/` typeahead"
The `/` typeahead currently has redundant options that clutter up the set of choices, and are confusing to the user. In particular, both `/night` and `/dark` toggle night mode, and both `/day` and `/light` toggle day mode.

![Zulip_-_Zulip_Community](https://user-images.githubusercontent.com/2090066/116631133-591ffb00-a909-11eb-8c99-7a56781a6006.png)

We should change the typeahead to only suggest

[2021-04-29 23:58] alya opened #18319 "Create incoming webhook integration for Open Collective"
Create an [incoming webhook](https://zulip.com/api/incoming-webhooks-overview) integration for Open Collective. The main use case is getting notifications when new financial contributors sign up.

Open Collective integrations documentation: https://docs.opencollective.com/help/collectives/integrations

Now that [Zulip has an Open Collective page](https://opencollective.com/zulip), it would be grea

[2021-04-30 00:02] alya opened #18320 "Create incoming webhook integration for Github Sponsors"
Create an [incoming webhook](https://zulip.com/api/incoming-webhooks-overview) integration for Github Sponsors. The main use case is getting notifications when new sponsors sign up.

Github Sponsors webhooks documentation: https://docs.github.com/en/sponsors/integrating-with-github-sponsors/configuring-webhooks-for-events-in-your-sponsored-account

Now that [Zulip has a Github Sponsors page](https

[2021-04-30 00:06] alya opened #18321 "Create incoming webhook integration for Patreon"
Create an [incoming webhook](https://zulip.com/api/incoming-webhooks-overview) integration for Patreon. The main use case is getting notifications when new patrons sign up.

Patreon webhook documentation: https://docs.patreon.com/#webhooks

Now that [Zulip has a Patreon page](https://www.patreon.com/zulip), it would be great to be able to monitor new sign-ups!

[2021-04-30 00:38] timabbott opened #18322 "docs: Rewrite "Roadmap" page to make sense in our current era"
The roadmap page on our ReadTheDocs is several years stale and needs a rewrite.

When we do this, we should:
* Explain our major/minor release scheme.
* Explain our security update policy?  Or link to it.
* Link to it from the nudge tooling introduced in https://github.com/zulip/zulip/issues/17826, including discussion of how to adjust the nudge logic.  (This would probably be a small section at t

[2021-04-30 00:40] timabbott commented on #17826
OK I think https://github.com/zulip/zulip/issues/18322 contains the remaining work for this; I'm closing this since the part that we want to be present in a release candidate is already complete in master.

[2021-04-30 00:40] #17826 closed

[2021-04-30 03:16] Sick-codes commented on #18321
i would be willing to work on this

[2021-04-30 03:30] Sick-codes commented on #18321
would this feature be used for internal use?

[2021-04-30 03:42] akshat1499 commented on #18320
@zulipbot claim

[2021-04-30 03:45] timabbott commented on #17306
Moving this to post-release since I think we don't have enough time to review, merge, and burn in this change before the 4.0 release.

[2021-04-30 04:02] #17961 closed

[2021-04-30 04:41] tushar912 commented on #18318
@zulipbot claim

[2021-04-30 06:02] ligmitz commented on #18321
@Sick-codes It will be used as an integration on all Zulip services.

[2021-04-30 07:49] ritikchauhan-01 commented on #18321
@zulipbot claim

[2021-04-30 08:49] sahil839 opened #18325 "Follow-up work to do for realm moderators feature"
The basic implementation of realm moderator feature is merged in master and also moderators option has been added to various settings. This issue tracks the follow-up work that needs to be done-
- [x] Add option of inviting user to the organization as a moderator.
- [x] Update the documentation for various settings for which moderators option has been added and others pages related to user roles.

[2021-04-30 10:18] eric-wieser opened #18326 "What is the syntax for markdown avatar embeddings?"
The [documentation page here](https://zulip.readthedocs.io/en/latest/subsystems/markdown.html#other) says:

What is the syntax for this last point?

[2021-04-30 11:05] nikhilmaske-2001 commented on #18312
@zulipbot claim

[2021-04-30 14:54] timabbott commented on #18326
@eric-wieser that page is out of date; we removed the original `!avatar(email)` syntax for several reasons a year or so ago.

Can you talk about your use case?  We could re-add it with a more rational syntax.

[2021-04-30 15:15] eric-wieser commented on #18326
I don't have a particular use case, I just saw this feature while trying to work out another markdown issue, and though it would be neat to integrate it with some existing zulip bots.

Could you either correct that page, or add a banner at the top of it indicating that it's a historical design document and may not reflect reality any more?

[2021-04-30 16:37] #18312 closed

[2021-04-30 16:45] timabbott commented on #18326
The right answer is definitely to correct the page; there's various other aspects that are out of date (E.g. like 8 missing features), so it's not a small project to fix that overall, but we can at least fix the easy bits quickly.

[2021-04-30 16:55] #17156 closed

[2021-04-30 18:38] lawynnj commented on #17786
@zulipbot claim

[2021-04-30 18:40] alya opened #18332 "Improve Streams menu with additional information"
There are a some situations in the Streams menu where providing more information to the user will make it more clear what's going on. Two improvements should be implemented for this issue:

- [ ] Add "No streams match your filter" to the center of the left panel when user types in a streams filter query with no matches. The behavior should be the same for both tabs ("Subscribed" and "All streams")

[2021-04-30 20:11] alexmv commented on #17441
You can replicate this behaviour by getting a login shell as a non-`root` user (via `sudo -i -u otheruser` if necessary) and becoming root as `su`, which leaves `$PATH` unchanged from the non-`root` user; this matches the `PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games` seen above.

[2021-04-30 20:26] alexmv commented on #15819
Should we do this for _all_ places which use `en_US.UTF-8` right now?  I see the following broad categories of places we explicitly set `en_US.UTF-8`:
- In development environments (`Vagrantfile`, `tools/setup/dev-vagrant-docker/Dockerfile`, `tools/test-install/prepare-base`)
- In CI (`tools/ci/Dockerfile.template`, `tools/test-js-with-puppeteer`)
- In the database (`scripts/setup/create-db.sql`,

[2021-04-30 21:25] alexmv commented on #15819
A blind `s/en_US.UTF-8/C.UTF-8/g` [does pass tests](https://github.com/alexmv/zulip/actions?query=branch%3Ac-locale), but I'm worried about subtle effects.  @andersk, thoughts?

[2021-04-30 23:02] #18069 closed

[2021-05-01 00:41] alexmv commented on #18258
This failure is only to `master`, not to a _release_, because it's in `update-prod-static`.

[2021-05-01 00:49] timabbott commented on #15819
I think that's a good theory -- in all of those cases, certainly my recollection of why we added it is because `pip install` of our dependencies fails with a non-UTF-8 locale.

We appear to have this in `docker-zulip`:
[code]

Introduced in 2019 here: https://github.com/zulip/docker-zulip/commit/4be9b8eafe7a5b30ad378c8f93c0b39bf68eeb45

So I think we can be pretty confident that this is probably a

[2021-05-01 00:52] alexmv commented on #15819
https://github.com/zulip/zulip/blob/master/tools/ci/Dockerfile.template#L46-L55
...and the linked https://github.com/zulip/zulip/pull/7762#issuecomment-353197289 seem like they might be a counter-argument, but that's more dated.

[2021-05-01 00:59] #8005 closed

[2021-05-01 02:36] nikhilmaske-2001 commented on #18332
@zulipbot claim

[2021-05-01 04:16] ligmitz commented on #18035
@zulipbot claim

[2021-05-01 05:35] Sick-codes commented on #18171
@zulipbot  claim

[2021-05-01 07:30] mandepsingh commented on #18332
@zulipbot claim

[2021-05-01 07:32] mandepsingh commented on #18332
I am interested in this project because this projects has similarity with my GSoC proposed project.

[2021-05-01 08:36] nikhilmaske-2001 commented on #18332
Okay @mandepsingh You can start working on this issue I will be interested in reviewing your PR.

[2021-05-01 14:16] #17441 closed

[2021-05-01 14:16] #18258 closed

[2021-05-01 14:34] #18305 closed

[2021-05-01 20:01] cmprmsd opened #18341 "Gitea integration - Mirror Sync messages lack the repository name"
I use or plan to use the Gitea integration in order to stay updates with commits to several projects I watch.

Within Gitea the notifications properly show the commits with branch and commit info:
![image](https://user-images.githubusercontent.com/73472903/116793686-75b66180-aac8-11eb-8077-03949be6bdeb.png)

Zulip's Gitea integration shows the branch and commiter name, but lacks the name of the re