[2020-04-18 09:16] #14507 closed

[2020-04-18 11:24] ayushin opened #14629 "openapi-generator fails to generate any client from zulip.yaml"
Opening a new issue, because:
[code]

If I remove the offending paths from `zulip.yaml` the api generates still fails to generate any models with multiple warnings, mainly `allOf with multiple schemas defined. Using only the first one: JsonSuccess`

using zulip-2.0.yaml for now with manual tweaks

[2020-04-18 11:25] ayushin commented on #14380
[https://github.com/zulip/zulip/issues/14629](url)

[2020-04-18 12:07] SiddharthVarshney commented on #14489
I have started working on this...got stuck in some college work

[2020-04-18 13:43] Wowol commented on #13413
@zulipbot claim

[2020-04-18 19:28] rohanpra commented on #1286
@zulipbot unclaim

[2020-04-18 19:30] pranayshahxyz commented on #1286
@zulipbot claim

[2020-04-18 21:07] vaibhavrajsingh2001 commented on #14398
@hackerkid can I take this up or is it wrapped up?

[2020-04-18 21:30] hashirsarwar commented on #14618
@zulipbot claim

[2020-04-18 23:27] peterdalydickson opened #14640 "'Copy and close' closes the source, and does not copy"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS
- **Version**:
  - 5.0.0
- **Clear steps to reproduce the issue**:
  1. **View source / Edit topic** of an existing message
  2. Click the **Copy and close** icon
  3. Attempt to paste what you just copied
- **Relevant error messages and/or screenshots**:
  1. Source closes with 'Copied!' message
  2. Content is not co

[2020-04-19 04:15] timabbott commented on #14629
@ayushin are you working with master or the last release?  For OpenAPI docs, you definitely want master.  E.g. `zulip-2.0` was deleted (and hardly had much in it in any case).

[2020-04-19 04:16] timabbott commented on #14629
@shubhamgupta2956 @orientor @akashaviator FYI in any case.

[2020-04-19 04:27] timabbott opened #14643 "upgrade-zulip-from-git: Shut down server before upgrade if RAM minimal"
Currently, if you run `upgrade-zulip-from-git` on a system with Zulip's minimum of 2GB of RAM, you're at risk of having it fail because 2GB of RAM is insufficient to both run the Zulip server and build static assets with webpack; the result is almost always an OOM kill.

This accounts for a significant portion of all reported problems upgrading Zulip servers, so is pretty important.  We can fix th

[2020-04-19 04:31] timabbott opened #14644 "upgrade-zulip-from-git: Provide useful error messages when `update-prod-static` fails"
In https://github.com/zulip/zulip/issues/14615, we have `upgrade-zulip-from-git` failing inside `update-prod-static`, and the error message is terrible:

[code]

Because `update-prod-static` is failing, the actual error messages is in `/home/zulip/deployments/next/var/log/upgrade-prod-static.log`.

`update-prod-static` itself has very verbose output, so I think there's two paths forward:
* Simples

[2020-04-19 04:43] timabbott commented on #14618
That design sounds great to me.

[2020-04-19 05:06] #14481 closed

[2020-04-19 05:20] #14447 closed

[2020-04-19 10:53] ayushin commented on #14629
OK, this has a lot in common with

https://github.com/zulip/zulip/pull/14628

So first problem (minor) I've encountered that `allOf` are not allowed in the `paths:` section and i've even hacked a fix to move them all into the `components` with `$ref`s

See https://github.com/apexlabs-ai/zulip/tree/openapi-gen

The bigger problem is that the schema itself is not very consistent, because for as far

[2020-04-19 11:04] ayushin commented on #14629
And of course and easy but needed fix:

`[main] WARN  o.o.codegen.DefaultCodegen - Empty operationId found for path: get /messages. Renamed to auto-generated operationId: messagesGet`

all paths should be completed with e.g. `operationId: messages_list` for above and `operationId: messages_read` for detail route

[2020-04-19 11:21] denis-ev opened #14651 "New install on blank system, get Error E-Mail almost every minute"
Ubuntu 18.04
5G RAM

New install on blank system

I get this E-Mail almost every minute.

[code]

[2020-04-19 13:59] #12898 closed

[2020-04-19 17:57] hackerkid commented on #14398
@vaibhavrajsingh2001 Feel free to take.

[2020-04-19 18:36] 7lym opened #14654 "KeyError after deleting user (result.append((recipient.id, [user_profiles[recipient.type_id]])))"
Hello!
Running on-premise, DigitalOcean-stock Zulip droplet, version 2.1.3.
I wanted to **delete**(not deactivate) a user and followed the instructions from [here](https://github.com/zulip/zulip/issues/10533), that means running:

<details>
<summary>The user was succesfully deleted, here is the shell output</summary>

[code]

</details>

Following [this memcached related issue](https://github.com/

[2020-04-19 19:48] 7lym commented on #14654
Seems like the user id is embedded in `zerver_message` entries that have the `subject` field set to `signups`, in the form `@_**user_name|user_id**`:
![image](https://user-images.githubusercontent.com/20192328/79697960-53232300-828e-11ea-83fe-56c1bda2a7d7.png)
removing these rows resolves the frontend problem, the browser console is now clean.

However, some leftovers still remain (e.g. there are

[2020-04-19 20:03] majordwarf commented on #14611
@zulipbot claim

[2020-04-19 21:48] rebtung commented on #12049
@zulipbot claim

[2020-04-20 08:55] adeorato opened #14869 "Feature Request: First emoji reaction should trigger a notification"
### Current problem:
When I have a private chat / stream chat and ask something and the other part adds an emoji reaction like 👍 for yes, I don't get a notification and have to check manually if someone responds.

### Wanted Solution:
So I'd like to have a feature that the first emoji reaction should trigger a notification (limit to first, cause in streams there could be really many emoji reaction

[2020-04-20 09:15] sahil839 commented on #14310
@zulipbot claim

[2020-04-20 11:20] alfonsrv opened #14661 "iOS App top row icons cause crash and forever connecting"
Since the latest iOS Zulip app update (26.27.150) the app is in an forever `Connecting` state. Clicking any of the top row icons causes the app to crash.

Notifications still work. Certificate chain is right. Reinstalling the app, logging out and back in doesn't have any effect.

[2020-04-20 12:43] Pranav2612000 commented on #14640
I'll like to work on this.

[2020-04-20 13:22] showell commented on #14640
Copy/paste works fine for me in day mode on FF.  In night mode I don't even get a proper pointer.

[2020-04-20 13:46] sumukhah opened #14663 "vagrant up --provider=docker throws permission error"
[code]

[2020-04-20 13:48] andreasoc commented on #3618
I believe this function is strategic

[2020-04-20 14:25] mateuszmandera commented on #14595
@Sjord Could you provide steps to reproduce this reliably? I'm not able to reproduce so far - I'm hitting the rate limits and things are getting logged as expected

[2020-04-20 14:33] kmpaul commented on #14593
@timabbott Thanks for the update!  I've been on child-care duty for the past few days, and I am hoping to do some debugging today.  I'll let you know what I find.

[2020-04-20 15:29] alfonsrv commented on #14661
Our Webserver Protection threw a false-positive flagging the app request as an SQL injection.

[2020-04-20 15:29] #14661 closed

[2020-04-20 15:32] hackerkid opened #14664 "Include lear realm in development environment"
Currently, lear realm is created only while running the tests. 9349 is a PR created a while back for including the lear realm in the development environment as well. If someone is interested in working on the issue feel free to build on top of #9349.

The reason why we started working on this initially was to check whether the followup emails are correctly generated for users with more than one ac

[2020-04-20 17:11] sahil839 commented on #14310
We would need to change the `get_message_people` function in `people.js` here which returns the users who have sent the messages that are showing up in the feed and does not exclude the deactivated users currently.

[2020-04-20 17:24] kmpaul commented on #14593
@timabbott Okay.  I think I see what is going wrong.  In the `zerver/lib/cache.py` file, when the `cache_with_key` decorator is used, there are some keys that retrieve "empty" (but not `None`) values (i.e., `val = b''` instead of `val = None`).

Thus, the following lines:

https://github.com/zulip/zulip/blob/e55d967f6e1167ad632351accf2a4438466898df/zerver/lib/cache.py#L183-L184

throw `IndexError`

[2020-04-20 17:40] kmpaul commented on #14593
Ok.  So, not surprisingly, that was not the right thing to do.  I'm going to look a little more closely at this and see if I can understand where why the errors are occurring.

[2020-04-20 18:18] kmpaul commented on #14593
I added some debug output and the `IndexErrors` I am seeing look like this (with the debug out anonymized):

[code]

As you can see, for some `user_profile_id`, the cached value `val` is returned as an empty bytestring `b''`, which errors when returned with `val[0]`.

So far, I can't see anything "special" about these user IDs.  So, I'm not sure why this is happening.  To make matters more complic

[2020-04-20 19:40] kmpaul commented on #14593
**Update:**  I have verified that every time I run the `./manage.py import ...` command, it gets errors with *different* `user_profile_id`s.  So, it is either a memory leak or a race condition.

[2020-04-20 19:51] kmpaul commented on #14593
Based on the assumption that Zulip is Python, and therefore probably doesn't have a memory leak (or at least a memory leak that I can easily fix), I assumed that this was a race condition.  I verified that if I attempted to import with the default parameters:

[code]

I get errors with random `user_profile_id`s in the `import_uploads` function.  I also verified that the default number of processes

[2020-04-20 20:00] kmpaul commented on #14593
I should also ask...  My organization that I exported has ~100 users, but even with only 1 process for the `import_uploads` function, it ran in less than a minute.  Is there a reason that the `import_uploads` function needs to run in parallel at all?  (My guess is that organizations with a lot of uploaded data could need it.  But I guess I really asking, "How slow is slow?")

[2020-04-20 20:52] edpeper commented on #14151
Hey -- is there any chance this could be labeled "help wanted" or "good first issue" so my claim can go through?

[2020-04-20 21:53] timabbott commented on #14151
Fixed the labels and marked ayoua s owner.

[2020-04-20 22:42] #13622 closed

[2020-04-21 05:51] timabbott commented on #14640
@vaibhavrajsingh2001 is this fixed by 6ddc4827fe3e285c326c3ba086fdf40df6362c46?

[2020-04-21 08:13] Sjord commented on #14595
It turns out the rate limiting was a red herring. Sorry about that. The actual trigger is requests with invalid syntax. The following curl command triggers this exception in the developer console for me:

    curl  -X POST -H 'Transfer-Encoding : chunked' --data-binary 'a' 'http://zulipdev.com:9991/json/messages/57'

[2020-04-21 08:18] vaibhavrajsingh2001 commented on #14640
@timabbott Yes copy and close is working fine now, so this can be closed.

[2020-04-21 09:25] hb9tst opened #14676 "Allow choosing installation directory, or change the default one"
After checking the installation instructions, it appears that the installation directory is hardcoded to `/home/zulip/deployments`. Unfortunately, this is just impossible to use in some situation, for example on servers that use a automounter on `/home`, in which case `mkdir /home/zulip` would just fail with _Permission denied_, even for `root`. It is also not much consistent with current practice

[2020-04-21 11:02] showell opened #14677 "default streams: Migrate/ban private default streams."
We'll want Tim to weigh in here quickly with a policy decision.

Some realms have default streams that they actually make private.  When we send `realm_default_streams` in `page_params`, we should exclude any streams that are private to prevent tracebacks downstream.

To reproduce an actual symptom here in dev,  make a default stream private, then log on as a non-admin user (e.g. ZOE), then open y

[2020-04-21 11:10] showell commented on #14677
Another possible direction:

We could decide that default streams must be public, so we would prevent you from both a) making a private stream be a default stream and b) making a default stream be private.

The only issue here is that we already have lots of realms that already have private default streams, so our policy would probably only affect future changes, and we'd still need to deal with t

[2020-04-21 11:32] showell commented on #14640
Closing.

[2020-04-21 12:23] showell opened #14680 "testing/local echo: QA our logic for re-sending messages."
When you send a message, Zulip will actually render the message right away, with some caveats for things like attached files, and we call this feature "local echo."

Most of the time, the server acknowledges the message, and as soon as we see either the server response or the relevant message event in our event queue, we "reify" the message id to the server's message id, use the rendered content f

[2020-04-21 15:04] kmpaul commented on #14593
So, with a little bit more research, I think this issue is a ["cache slam"](https://cmyker.blogspot.com/2015/10/memcached-lock.html) issue.  Memcached is not thread-safe, so it's important to either *not* update the cache when multithreading *or* to make sure that the same key is not accessed/modified in different threads.

I haven't looked closely enough at the caching code in Zulip, though.  So,

[2020-04-21 20:09] kmpaul commented on #14593
Ok.  I'm struggling with how to easily reproduce the caching issues related to this issue.  And it's practically impossible to quickly iterate to debug.  I'd like to keep this issue open, but I think I'll need someone to help develop a minimal working example of the bug...one that doesn't require installing zulip on two separate servers and actually importing the data.

[2020-04-21 20:26] vaibhavrajsingh2001 commented on #14640
@showell is this issue getting closed?

[2020-04-21 20:38] #14618 closed

[2020-04-21 20:52] droobah opened #14690 "Invitation emails do not require SAML/social authentication"
When LDAP and SAML are configured as authentication methods, a user is able to visit the /register link and have a registration email sent to them.  By clicking this link, they are able to login to the realm bypassing both LDAP and SAML authentications.

[2020-04-21 22:30] timabbott commented on #14651
The error looks like the classic symptom of memcached either not being running or perhaps having its authentication misconfigured.

Are you using docker, or did you install Zulip directly?  And did you do anything unusual during the installation process?

[2020-04-21 22:38] timabbott commented on #14654
I think the browser console issue is fixed in master; we no longer assume that user IDs mentioned in the syntax still exist in that code path.

The traceback indeed has to do with an undeleted `Recipient` object for a private message that had been sent to that user.  If you'd deleted the Recipient object from the Django `manage.py shell`, it would have taken care of the cascading for you.

Those t

[2020-04-21 22:38] #14654 closed

[2020-04-21 22:39] timabbott commented on #14663
I would start by upgrading Vagrant -- 2.0.2 is very old.

[2020-04-21 22:53] timabbott commented on #14676
I don't disagree really, but this is a complicated issue.  I
* The fixed paths are convenient, if nothing else for copy-pastable documentation reasons.  But I suppose we could make it an option, and folks who want an alternative can translate if need be.
* Our scripts need to find the path to the Zulip installation.  But this is probably solvable by doing a lookup in `/etc/zulip/zulip.conf` where

[2020-04-21 22:55] timabbott commented on #14690
@droobah just to be clear, what's the precise situation?  If you have several authentication backends enabled, generally, one is able to authenticate using any of them.  My guess is you have `EmailAuthBackend` enabled as well, and the user is just using the signup flow using that backend.

Can you stop by chat.zulip.org and start a thread in `#production help`?  I think it'll be easier to figure o

[2020-04-21 22:59] timabbott commented on #14677
It's important for the test that the non-admin user is not subscribed to the default stream.

I think the right model is to ban private default streams.  I don't think it really makes sense as a security model to have them.  What this means is:
* Private streams aren't offered in the "default streams" UI
* We add a database migration to make default streams that are private no longer default strea

[2020-04-21 23:06] showell commented on #12049
Here is the latest ruling from @timabbott: https://chat.zulip.org/#narrow/stream/49-development-help/topic/Issue.20.2312049.3A.20Reactions.20API/near/859736

[2020-04-21 23:15] #14545 closed

[2020-04-21 23:57] timabbott opened #14691 "Check for untracked files after running test-backend in CI."
Following 703fae8980bedc7c38f6077c54a10c34fbe2d6bb, I think we should have a check in CI that after running all of our checks, there are no untracked files.

One can list untracked files using `git ls-files --exclude-standard --others`; we'll want to e.g. write that to a file, check if it's empty, and if not print it out and exit with failure (It doesn't seem to have an option to directly set a no

[2020-04-22 04:10] ghosej commented on #12951
My PR is ready for review.

[2020-04-22 04:21] aero31aero commented on #14677
@zulipbot claim

[2020-04-22 07:45] Jagansivam28 commented on #14677
@aero31aero I would like to work on this  can i take this issue ?

[2020-04-22 09:25] denis-ev commented on #14651
Well, it's a direct install and nothing was unusual, as far as I know.
I've stopped the machine over night, so I won't get the Emails all night long.
When I started it again, the Mails where instantly coming back.

The VServer now has 10GB of Ram and the message is not coming anymore.
Shouldn't the server be running fine with just 5 GB?

[2020-04-22 09:39] pemontto commented on #13960
Taking a look at this issue, it seems fairly straightforward using the existing (unused?) `fixture_to_headers` function to parse the the event_name to something we expect.
One question, currently the `repository.homepage` is used to construct the `compare_url` in push events. In system events the `repository` object doesn't always exist, but the `project` object does. Any issues grabbing the URL f

[2020-04-22 16:21] showell commented on #14677
@Jagansivam28 I asked Rohitt to work on this, since he has some pretty good knowledge of the code here.  Do you mind finding another issue?  You might be a good person to review any PR that @aero31aero submits here.

[2020-04-22 16:24] showell commented on #14612
I support adding a short paragraph to `html-css.html`, as @0xaryan suggests in the previous paragraph.  I think we want to keep it pretty short and mostly point to the upgrade-or-modify link.

[2020-04-22 16:36] Jagansivam28 commented on #14677
ok sure @showell

[2020-04-22 17:29] strifel commented on #715
I would only like to use different query bases per realm. So, do I need to wait for that feature?

[2020-04-22 18:26] #14595 closed

[2020-04-22 18:43] YashRE42 commented on #14471
@showell have you seen this?

[2020-04-22 19:22] gnprice opened #14705 "Bring create-stream docs up to date"
The create-stream doc is quite out of date:
https://zulipchat.com/api/create-stream

Complete text:

In particular it doesn't mention `stream_post_policy`. I noticed this while reviewing zulip/zulip-mobile#3140, which starts using that from the mobile app.

Probably the right strategy, rather than trying to keep that paragraph up to date, is to have it not mention specific parameters and just say

[2020-04-22 20:53] strifel commented on #715
I just took a look at that: https://django-auth-ldap.readthedocs.io/en/latest/multiconfig.html
But (if my experiments are correct) this has to be done on initialization of the Auth Backend.
But as far as I understand it the auth backend is for all realms.
So I do not see how I could get this to work

[2020-04-22 22:35] SiddharthVarshney commented on #12564
@zulipbot claim

[2020-04-22 22:38] SiddharthVarshney commented on #12564
@zulipbot claim

[2020-04-22 23:42] timabbott commented on #14151
This was fixed by @YashRE42 in #14569.

[2020-04-22 23:42] #14151 closed

[2020-04-22 23:44] timabbott commented on #2278
@YashRE42 can you check if you fixed this in your recent message-editing PR?

[2020-04-22 23:44] timabbott commented on #12493
@aero31aero has this been resolved?

[2020-04-22 23:50] #14310 closed

[2020-04-23 01:30] aero31aero commented on #12493
I think #14033 is the PR. I didn't know there was an issue open for this.

[2020-04-23 01:43] aero31aero commented on #12493
I added a commit to close this issue in that PR.

[2020-04-23 12:03] nicok1 opened #14720 "Send message is pending forever"
Since the last update of Zulip, I have problems sending messages. The messages are pending forever. Logout and Login help only for a short amount of time. Firefox and Chrome are affected. No other user has that problem.

In the development tools are an error and a warning.

![errormessages](https://user-images.githubusercontent.com/34523672/80096576-18f5a200-856a-11ea-9c11-c3be7177e251.png)

I hav

[2020-04-23 19:38] Jagansivam28 commented on #14007
@zulipbot  claim

[2020-04-23 20:36] timabbott commented on #14720
I'm guessing the root problem is something unrelated to the upgrade.  It looks like you are receiving presence data about a User ID 1 who no longer exists (and I would expect to be a system bot like Notification Bot).  Did someone hand-delete users from the database on your system?  Someone having done that with Notification Bot would explain this failure mode.

[2020-04-23 21:16] 7lym commented on #14654
Oke, nice .. maybe it would make sense to update #10533 with this information?

Because in the current state, it literally causes disruption, as stated above, so one **MUST** delete `Recipient` objects in order for things to work again :)

[2020-04-23 22:47] #11324 closed

[2020-04-23 23:06] timabbott commented on #10533
Just an update on this thread -- one (now?) needs to also delete the user's `Recipient` object and do some other hacky things to use the process described above.  Notes are here:
https://github.com/zulip/zulip/issues/14654#issuecomment-617449547

Our plan is to fix this by providing a `do_delete_user` command that takes care of this rather than documenting how to hackily delete users from the data

[2020-04-23 23:07] timabbott commented on #14654
Added a note to #10533, thanks for the reminder (I'd meant to do it yesterday).

[2020-04-23 23:12] timabbott opened #14728 "Add proper live-update for redesigned top-navbar"
Our redesigned top-navbar doesn't has proper live-update.

There's a few functions in `tab_bar.js`, e.g. `update_stream_name`, that may be called in some of the right places and are meant to do live-update here, but we didn't hook them up when merging #11894 because the original implementations had security bugs (inserting `rendered_description` HTML without using the appropriate template renderin

[2020-04-23 23:19] timabbott opened #14729 "top navbar: Add nice support for long/multi-line stream descriptions"
Here's the new top navbar design from #11894:

![image](https://user-images.githubusercontent.com/2746074/80158425-4c8df780-857d-11ea-92cf-ad5de50ad710.png)

If one writes a stream descriptions that's longer than a single line, we don't have a great way to display it, either here or in the

I think it'd be nice to design a way to see longer descriptions.  One design idea that's been suggested a fe

[2020-04-23 23:36] timabbott commented on #11532
Closing this, since it's basically resolved, and I feel like we'll be reminded of the development environment situation as needed when working on the tool.

[2020-04-23 23:36] #11532 closed

[2020-04-23 23:37] timabbott commented on #11612
Closing as this was resolved, and opening a new issue for some follow-ups.

[2020-04-23 23:37] #11612 closed

[2020-04-23 23:38] timabbott opened #14730 "Further deduplicate code for organization-level icon uploads"
From https://github.com/zulip/zulip/pull/13038#issuecomment-523680033:
* [ ] Rather than having the `{{theme_mode}}-settings` class on the button, we could just use a `.closest("realm-logo-section")`, so that only the outer ID differs between the two widgets.
* [ ] I think the whole `upload_realm_icon` code path could likely also be deduplicated with `upload_ream_logo` in a similar way (just with

[2020-04-23 23:50] #6313 closed

[2020-04-24 00:48] timabbott opened #14732 "Add a /help/ article documenting what browsers we support"
This should be linked to from the page added in #14662, and describe how we aim to support all modern browsers, including Chrome, Firefox, and Edge, etc.

Something like this in terms of content:

https://support.discordapp.com/hc/en-us/articles/213491697-What-are-the-OS-system-requirements-for-Discord-

We can also link there from `/apps`.

Tagging this as difficult because I think it requires so

[2020-04-24 04:57] Pranav2612000 commented on #12748
I'll like to look into this issue. I am also currently working on similar button issues on the settings page, so I'll be able to fix this efficiently.

[2020-04-24 06:13] vaibhavrajsingh2001 commented on #14398
@zulipbot claim

[2020-04-24 06:38] nicok1 commented on #14720
Thanks for the help. I am not aware that any users have been manually deleted from the database. I found a user with the ID 1 in the database. It is the feedback bot. The feedback button is still activated, but is no longer displayed in the UI. I try to disable the feedback function and report back to you.

[2020-04-24 10:51] andreas-bulling opened #14736 "Zulip with LDAP login not reading mail attribute"
Hi all,

I've seen https://github.com/zulip/zulip/issues/14486 but I think my problem is different/new.

I have Zulip running with LDAP authentication and the following settings:
[code]
Login using just uid works fine, yet in the desktop app when adding people to streams for example it shows generic email addresses such as `user2@X`, not the email address provided by LDAP.

I am running 2.1.4

[2020-04-24 15:02] mateuszmandera commented on #14736
This looks like it's due to  email visibility settings - https://zulipchat.com/help/restrict-visibility-of-email-addresses - if you change those, normal addresses should become visible.

[2020-04-24 15:32] andreas-bulling commented on #14736
Thanks, this fixed it.

However, I still think there is a bug because even as admin I couldn't see the addresses.

[2020-04-24 17:07] shritwikbhaduri opened #14738 "send_message api giving error ""Missing 'num_before' argument"""
i am was just trying to test locally running zulip server by sending message to a stream using bot credentials  with the following code:
`import zulip
import pprint as pp
client = zulip.Client(config_file=".zuliprc", insecure=True)

result = client.get_user_by_id(9)
print(result)

Send a stream message
 request = {
    "type": "stream",
     "to": "klasa_integration",
     "subject": "test",

[2020-04-24 17:56] mateuszmandera commented on #14736
Yeah, this was fixed in https://github.com/zulip/zulip/pull/14147 but hasn't been included in a release. I'll go ahead and close the issue if things are working correctly for you now (aside of the subscribers list thing)

[2020-04-24 17:56] #14736 closed

[2020-04-24 18:51] strifel opened #14740 "Add client_max_body_size option to nginx reverse proxy documentation"
Hi.
I just set up Zulip a few days ago and its really great.
I ran into an issue where I could not upload a file with a size greater than ~1mb despite `MAX_FILE_UPLOAD_SIZE = 25`
I run Zulip behind a nginx reverse proxy and after further troubleshooting I found client_max_body_size to be the issue.
I used the standard nginx configuration described [here](https://github.com/zulip/zulip/blob/2b95f54

[2020-04-24 19:16] andreas-bulling commented on #14736
will this be included eventually?

[2020-04-24 19:36] #14691 closed

[2020-04-24 19:53] ankita-2798 commented on #14304
Hi @timabbott , Can you help me get clarity on what changes are we exactly looking forward to making here? Should I be changing the URL Schema to support IDs instead of email?
Because if not, its view's implementation already works as @swallitsch mentioned.
It looks up the user using the email and then fetches presence using the user id.

Thanks!

[2020-04-24 21:36] mateuszmandera commented on #14736
I'd expect it in the 2.2 release. I dont know how likely it is to be
included within the 2.1.x line

On Fri, Apr 24, 2020, 21:17 andreas-bulling <notifications@github.com>
wrote:

[2020-04-24 21:50] timabbott commented on #12748
These were indeed resolved by @YJDave last year; closing.

[2020-04-24 21:50] #12748 closed

[2020-04-24 23:45] timabbott opened #14745 "Remove DefaultStream objects associated with a stream on deactivation"
Apparently, we have a bug where if you deactivate a stream that's marked as a default stream, we don't call `do_remove_default_stream` on it, resulting in these being leaked, which can be confusing.

We should fix this for the upcoming DefaultStreamGroup feature at the same time we fix this.

`do_deactivate_stream` is the code path that needs to handle this.

[2020-04-24 23:58] #12769 closed

[2020-04-25 00:29] timabbott commented on #14304
We should support both user IDs and emails, like we do for `def avatar` in `zerver/views/users.py`.

[2020-04-25 01:00] timabbott opened #14746 "Gogs webhook: Add support for `release` events"
Apparently Gogs (a Git hosting service) has `release` webhook events, which we currently ignore; we should add support for them.

See https://zulipchat.com/api/incoming-webhooks-overview for how to do this.

[2020-04-25 10:01] Abhishek-Balaji commented on #14729
@zulipbot claim

[2020-04-25 12:24] showell commented on #14745
see also #14677

[2020-04-25 12:27] showell commented on #14745
and see also #13670 (default stream groups)

[2020-04-25 12:38] showell commented on #14738
Can you try this again?  I am pretty sure you would only get that message when you call `client.get_messages()`, so I am wondering if you were looking at log messages that were in response to some other issue.

[2020-04-25 12:49] showell opened #14748 "top navbar/recipient bar: Remove redundant streams."
If you're in a topic narrow, it seems redundant to show the stream name in the recipient bars.  Let's just only show in the navbar.

![image](https://user-images.githubusercontent.com/142908/80280344-81ab5e80-86d1-11ea-9170-492bf9fb8d4d.png)

We can discuss the finer points of this on the `#design` stream.

[2020-04-25 14:13] cestrell commented on #14746
@zulipbot claim

[2020-04-25 17:52] Abhishek-Balaji commented on #12194
@zulipbot claim

[2020-04-25 21:45] m4tx opened #14754 "Possible mixed content when using Open Graph preview"
Steps to reproduce:

1. Make sure "Show previews of linked websites" setting is enabled for your organization.
2. Paste a URL with Open Graph metadata that has "http://" link set as `og:image` in your message and send it.
3. Mixed content warning is displayed by the web browser.

I was wondering if this was because I didn't have some config variable set in my settings file, but after seeing some c

[2020-04-25 22:39] #14644 closed

[2020-04-25 23:17] timabbott opened #14756 "process_fts_updates is crashing in CircleCI"
From our `bionic-backend-frontend-python3.6` job in CI, it appears one of our supervisord jobs isn't working:

[code]

My guess is this is a permissions-type issue; `process_fts_updates` (the thing that updates our full-text search indexes) is probably not connecting to the right database or "schema" within the postgres database and thus not seeing the `fts_update_log` table that's there.

Might b

[2020-04-26 04:00] amanagr commented on #14756
@zulipbot claim

[2020-04-26 08:11] shritwikbhaduri commented on #14738
@showell hi, i found the issue, i was using generic bot api that's the reason it was showing this message. but even with the incoming bot it says this api is not allowed.. can you help me with this?

[2020-04-26 08:49] cestrell commented on #14746
Making progress on this, learning more about Gogs and web hooks. So far I’ve implemented endpoints in webhooks/git.py and webhooks/gogs/views.py to process the release event as format_release_published_event. Looking into other web hooks in Gogs that may be triggered when a release is published, unpublished, created, edited, deleted, or prereleased, similar to how they are triggered in Github. Wil

[2020-04-26 09:56] punchagan commented on #11509
The modal has now been replaced with a banner. Closing this Issue.

[2020-04-26 09:56] #11509 closed

[2020-04-26 10:04] sahil839 commented on #14745
@zulipbot claim

[2020-04-26 10:14] punchagan commented on #8934
We no longer support IE. Closing this issue.

[2020-04-26 10:14] #8934 closed

[2020-04-26 10:18] punchagan commented on #1566
I'm not sure if this would still be relevant with the new top bar instead of the modal.

[2020-04-26 11:01] showell commented on #14745
This does not appear to be a bug, or at least the diagnosis seems incorrect.

We have been deleting default streams since 96fc6f237246861070db4221d8c1af08b8d70915, and I included a pretty straightforward test in that commit, which looks the same today as then:

[code]

Here is the relevant code:

[code]

@timabbott I am closing this, as the current description is not actionable on `master`:

[code

[2020-04-26 11:01] #14745 closed

[2020-04-26 11:19] sahil839 opened #14760 "Remove stream from DefaultStreamGroup if the stream is deactivated"
When we deactivate a stream which is part of an already existing DefaultStreamGroup, stream is not removed from the default stream group.

This is a bug and the stream should be removed from the default stream group on deactivation of the stream.

[2020-04-26 11:20] sahil839 commented on #14745
Opened #14760 for fix for DefaultStreamGroup

[2020-04-26 11:22] sahil839 commented on #14760
@zulipbot claim

[2020-04-26 12:55] punchagan commented on #9801
This seems to have been fixed and is no longer reproducible with the URLs mentioned above. Closing as fixed. Feel free to re-open if it hasn't actually been fixed.

[2020-04-26 12:55] #9801 closed

[2020-04-26 13:05] showell opened #14762 "perf: Improve logging of slow SQL queries"
It would be nice to improve our visibility into which SQL queries are slow for certain endpoints, particularly our main "/" endpoint.  We have operational ways to find slow queries in production, but it would also be nice to have increased developer visibility into slow queries.

The basic idea here is to modify `wrapper_execute` in ` zerver/lib/db.py` so that we capture slow queries, and then use

[2020-04-26 13:43] Pranav2612000 commented on #14748
Working on this.

[2020-04-26 14:57] Jagansivam28 commented on #14730
@zulipbot claim

[2020-04-26 15:54] strifel opened #14763 "Add support for BigBlueButton as Video Chat Provider"
It would be great to have Zulip support [Big Blue Button](https://bigbluebutton.org/) as a Video Chat Provider.

For the time beeing I worked around this by writing a Bot to generate a Link to Big Blue Button, but it would be really great to have it directly integrated.

[2020-04-26 17:06] timabbott commented on #14745
Hmm, OK, I think the organizations that had this data bug were ones that were around before February 2017, which is consistent with our having fixed the bug but not done a database migration to fix data exceptions (which I've now done manually for zulipchat.com).  So we can probably declare victory on this.

[2020-04-26 17:07] timabbott commented on #1566
We certainly fixed this bug; I think it was actually caused by something else resolved a few years ago (Notice that the user clicked "no", not "yes").

[2020-04-26 17:07] #1566 closed

[2020-04-26 17:08] timabbott commented on #14746
Great!

[2020-04-26 17:14] timabbott commented on #14738
My guess for what's happening with `client.send_message` is that some software on your network is doing a redirect, which turns the HTTP POST request into an HTTP GET request.  (And is why you're getting a `GET /api/v1/messages` error message using a function that does `POST /api/v1/messages`.

Generally, all API endpoints that make sense for bot users are available for them; things like display a

[2020-04-26 17:23] timabbott commented on #14754
We should definitely be using our standard logic for rendering images that we use everywhere else.

@punchagan FYI, can you investigate?

[2020-04-26 17:36] #12049 closed

[2020-04-26 17:43] timabbott commented on #14763
@strifel can you post details on the Big Blue Button API for creating a call?  If it works like Jitsi, it'd be very simple to add this integration.

[2020-04-26 17:45] punchagan commented on #14754
@timabbott yeah, I can take a look at this!

[2020-04-26 17:45] timabbott commented on #14736
I don't think we're likely to backport that admin UI change for EMAIL_ADDRESS_VISIBILITY_ADMINS to 2.1.x, but 2.2 is probably not super far off, and you can of course run master if you'd like.

[2020-04-26 17:45] punchagan commented on #14754
@zulipbot claim

[2020-04-26 17:49] Pranav2612000 commented on #14459
Is this issue still open, or a PR has been submitted?

[2020-04-26 17:52] timabbott commented on #14740
Thanks for the report!  I'll add something a bit more generic that recommends looking at our `nginx.conf` and calls out that specific issue.

[2020-04-26 17:53] #14740 closed

[2020-04-26 17:55] Pranav2612000 commented on #14728
I'll like to give this a try.

[2020-04-26 17:55] andreas-bulling commented on #14736
nice! Is there a release plan for Zulip available somewhere?

[2020-04-26 17:57] timabbott commented on #14720
Interesting!  I had not been aware that feedback-bot had been used anywhere but zulipchat.com since it was never documented as a feature.

You can likely address this for now using `
[code]

in `/etc/zulip/settings.py` (You may need to change the emails if your user ID 1 had a different fake email address).

I expect that https://github.com/zulip/zulip/pull/13791 will end up fixing this issue for

[2020-04-26 18:08] #13583 closed

[2020-04-26 18:10] timabbott commented on #14720
I just merged #13791, so `upgrade-zulip-from-git master` is also a possible solution to your problem if you don't want to do the hack I suggested above or wait for the next major release.

Thanks for the report @nicok1!

[2020-04-26 18:10] #14720 closed

[2020-04-26 18:12] #14473 closed

[2020-04-26 18:20] strifel commented on #14763
Sadly it is harder than Jitsi because it needs Authorization through a shared secret.
The server has to first create a call.
`GET https://bbb.example.com/bigbluebutton/api/create?meetingID=someRandomId&moderatorPW=someRandomPassword&checksum=...` The checksum is a sha1 hash of the options and the shared secret.
The password is needed for the join link, but will be auto generated if not present.

T

[2020-04-26 20:13] showell commented on #14459
@Pranav2612000 I think we can still improve the visibility of the "x" here, and I don't see any open PRs, so feel free to submit one.

[2020-04-27 02:11] cyphase commented on #14763
How are you handling that now with the bot?

[2020-04-27 05:29] timabbott opened #14769 "Use modern Django interface for accessing HTTP headers"
From #11341, Django 2.2 introduced https://docs.djangoproject.com/en/3.0/ref/request-response/#django.http.HttpRequest.headers, which could let us prettify our code interacting with HTTP headers.  We have a few dozen references to the old interface
[code]

Tagging as difficult because it'll require a bit of care involving unit tests -- for the mock requests in `test_decorators` and similar, we nee

[2020-04-27 05:34] timabbott opened #14770 "Migration to use modern Django patterns for URLs"
See https://docs.djangoproject.com/en/2.2/ref/urls/#path for documentation, but basically the `url()` thing we're using in `*/urls.py` has been renamed to `re_path`, and there's a cleaner thing, `path`, that is better for cases where one doesn't need a regular expression.

[code]

This migration needs to be done very carefully, since accidentally URL changes can result in serious bugs.

[2020-04-27 06:23] strifel commented on #14763
@cyphase (In the bot) I do not directly give the user the link, but I send a link to a php script which than generates a random username for the user

[2020-04-27 09:56] hashirsarwar commented on #14728
@zulipbot claim

[2020-04-27 10:04] Pranav2612000 commented on #14728
@hashirsarwar I am already working on this😅

[2020-04-27 10:07] hashirsarwar commented on #14728
@Pranav2612000 I didn't see your comment. Make sure to claim the project next time before starting working on it. :slightly_smiling_face:

[2020-04-27 16:34] Wowol commented on #14770
@zulipbot claim

[2020-04-27 18:24] timabbott commented on #11211
Closing as we indeed removed this package.

[2020-04-27 18:24] #11211 closed

[2020-04-27 18:25] timabbott commented on #10801
Closing since we've now upgraded this.

[2020-04-27 18:25] #10801 closed

[2020-04-27 18:47] #12563 closed

[2020-04-27 18:54] timabbott commented on #9585
The duplicated alert words bug is now fixed in 8e5b0351b3f5fe4c246620e697cac1eb3e4c7fde.

For the live-update issue, I think there's a reasonable way to fix it, namely doing a full rerender of all visible messages (after calling `exports.process_message` on every message in `message_store`) after a change in the set of `alert_words`.  I'm not sure if it's worth writing the code to do that given th

[2020-04-27 19:14] aero31aero opened #14771 "Navbar Redesign: Browser Navigation Bug"
There is a bug in the new searchbar state's implementation.

1. Narrow to a stream, I'll use #**general**.
2. Open search bar. Text should read `stream: general`.
3. Replace the text and enter a search term for a global search.
4. Press browser back to get back to stream narrow.
5. Press browser next to get to search results. The searchbar reads `stream:general` instead of the search query.

[2020-04-27 19:18] elhawk opened #14772 "Sentry webhook integration should use 'title' instead of 'message'"
Raven, the deprecated sentry client, would add a `message` field to the webhook payload for events captured using `capture_message` and `capture_exception`, and that is used by the sentry integration to create the zulip message.  https://github.com/zulip/zulip/blob/master/zerver/webhooks/sentry/view.py

In the new sentry_sdk client (at least the python one), `message` is only added for `capture_me

[2020-04-27 22:08] DilumAluthge commented on #106
Bump again.

Is there any progress on this? This is one of the big features that we need in the official Julia language Zulip.

[2020-04-27 22:12] DilumAluthge commented on #106
If you would like someone to deploy this in a production environment to test it out, we would be happy to test it out in the Julia language Zulip.

We can deploy the feature on two or three streams and see how it goes.

The Julia language Zulip is hosted by Zulip, so I think we'll need help from the Zulip team in order to deploy this feature.

[2020-04-27 22:14] DilumAluthge commented on #106
@timabbott

If you would like someone to deploy this in a production environment to test it out, we would be happy to test it out in the Julia language Zulip.

We can deploy the feature on two or three streams and see how it goes.

The Julia language Zulip is hosted by Zulip, so I think we'll need help from the Zulip team in order to deploy this feature.

[2020-04-27 22:20] MasonProtter commented on #106
From the [Zulip Zulip](https://chat.zulip.org/#narrow/stream/2-general/topic/Ephermal.20message.20history):

[2020-04-28 05:20] andreas-bulling commented on #14499
Comment on your first bullet point. I don't see a need for special care here:

If a topic is moved from a private stream to a public one its content is anyway becoming public so why hide where this content came from? Same the other way around: If a topic was public before, i.e. everybody has seen it anyway, what's the point in hiding this fact once it's available only to a subset of those same peo

[2020-04-28 05:22] andreas-bulling commented on #14499
Comment on 2)

It would indeed be nice to allow administrators to decide whether normal users can use this feature or not. I could imagine some users are less careless/knowledgeable and might move topics by accident, not knowing the implications. Some administrators may decide to educate their users but others may want to simply disable the functionality altogether/keep it in their hands.

[2020-04-28 05:34] WesleyAC opened #14778 "Navbar redesign doesn't show narrowed topic name"
While I like the look of the new navbar redesign, it no longer clearly shows whether the user is narrowed to a a topic. Now, this information is only shown via the bar at the top of each message, but that is often ambiguous when scrolling.

Given that a consistent source of confusion for new Zulip users is posting things in the incorrect topic, this seems likely to exacerbate that problem. Even kn

[2020-04-28 05:55] timabbott commented on #14772
Seems worth updating.  We should, as usual, capture some fixtures from the current Sentry implementation so we can test against both the old and new clients.

[2020-04-28 05:57] andreas-bulling opened #14779 "Split user name into firstname and lastname"
Hi,

it'd be nice if Zulip supported separate fields for a user's firstname and lastname internally and in the UI - instead of merging them into one. At least in LDAP that information is anyway available separately.

This would allow, amonst other things, for a new administrator setting for how mentions are rendered in the UI: In private groups people might want to only have the firstname.

[2020-04-28 06:04] timabbott commented on #14779
We have a `shortname` field that one can theoretically put a first name into (it currently doesn't do anything).  But for i18n reasons for languages with different name orders, we prefer the model of storing a "Full Name" field so that users can enter their name how they prefer it to be expressed.

So this request as stated is wontfix, but we at some point will likely add some customization option

[2020-04-28 06:04] #14779 closed

[2020-04-28 06:06] Pranav2612000 opened #14780 "stream-settings colorpicker does not close when clicked outside the picker."
Steps to reproduce:
1. Open stream settings(Manage streams)
2. Open settings of a subscribed stream.
3. Click on the colorpicker to choose a color.
4. Without closing the colorpicker, close the stream-settings.

![colorpicker](https://user-images.githubusercontent.com/20909078/80452655-57ada280-8944-11ea-9506-3dc29c02a3a6.gif)

[2020-04-28 06:08] timabbott commented on #14778
I agree with the feedback, and we're looking at a range of options for this.  I think putting the full topic in the navbar isn't the right choice for space usage reasons (In moderately sized windows, it'd effectively make the stream description unusable); there's a few options under discussion/experimentation.

I imagine we'll settle on something to address this in the next couple weeks, but we'd

[2020-04-28 06:10] andreas-bulling commented on #14779
Well, but in many situations people don't have a choice for which name to put in, e.g. when using LDAP.

[2020-04-28 06:22] WesleyAC commented on #14778
FWIW, I think that the stream description is useful to me a much smaller portion of the time than the topic is. I'd imagine that the case in which the stream description is useful is for streams that you don't interact with often, where FAQs/etc are put in the description - however in that case, I mostly care about that if I'm jumping into a stream to ask a question, and am unlikely to care once I

[2020-04-28 11:14] showell commented on #14756
I am not sure if 1aaef75bc52fa4811203564ac32199f2c60f5bd6 fixes this or not, but it should at least rule out one possible theory.

[2020-04-28 11:46] amanagr commented on #14756
@showell This is fixed in master now. We can close this issue. Also, we should modify the commit message to reflect this.

[2020-04-28 11:50] showell commented on #14756
The commit's already merged.  Closing.

[2020-04-28 11:50] #14756 closed

[2020-04-28 13:17] Hypro999 commented on #14772
@zulipbot claim.

[2020-04-28 14:24] MariaGkoulta commented on #14451
I'm still working on it!

[2020-04-28 14:52] Hypro999 commented on #14772
@elhawk, thanks for the detailed report! It made it easier to jump into the fix.

[2020-04-28 15:49] Hypro999 commented on #14772
It seems like our Sentry integration is **way** outdated. Even the current Raven payloads shouldn't work because the format for Raven itself changed. For example, the subject of the message used to come from the `project_name` key which doesn't seems to exist in the latest Raven-based payloads. I checked Raven the format with the `raven-python` SDK (version 6.10) and it barely resembles the existi

[2020-04-28 15:59] Wowol commented on #14770
There is a problem with some urls and trailing slashes. In `analytics/urls.py` (and maybe other files), we currently have some regex like:
[code]

The `[\S]` thing catches all non-whitespace characters, so it actually catches `\` too, so both `analytics/chart_data/realm/one` and `analytics/chart_data/realm/one/` fit in this url, and in the second one, realm_str will be `one/` instead of `one`. I g

[2020-04-28 17:01] cognusion commented on #8177
Sorry for the dupe comment... wrong issue initially:

I noticed that in a recent mobile release, this has been resolved, and mobile uploads are appearing in the correct orientation on the mobile client! :smiley:  Mobile uploads viewed in the desktop client, however, are still unoriented. :cry:  Glad to see there's progress! :+1:

[2020-04-28 19:37] strifel commented on #14763
@zulipbot claim

[2020-04-28 19:58] timabbott commented on #14100
I just marked that we've moved the OpenAPI descriptions, thanks @orientor (BTW, it'd be good if you mentioned in your commits "Part of #14100" to generate automatic links).

Are there other tasks above that we've finished?  Maybe be worth having a bit of a discussion on `#integrations` about what to do next.

[2020-04-28 20:23] weaversam8 commented on #14499
@andreas-bulling - just because the content of a message is public doesn't mean that you'd want to make the name of a private stream public. I think the "to/from a private stream" approach in the tombstones makes sense.

[2020-04-28 20:47] timabbott commented on #14772
Yeah, I think that's very reasonable.

[2020-04-28 20:52] sahil839 commented on #14780
@zulipbot claim

[2020-04-28 20:56] orientor commented on #14100
@timabbott will keep that in mind. We have also finished making openapi work with Swagger online editor.

[2020-04-28 21:02] hashirsarwar commented on #14771
@zulipbot claim

[2020-04-28 21:27] pranayshahxyz commented on #1286
@zulipbot still working on it.

[2020-04-28 22:05] timabbott commented on #14629
I added an update to #14100 linking to this for `operationId`; agreed that should be easy.  And as you may have seen, there's a PR open for reusing common models as well.

[2020-04-28 22:06] timabbott commented on #14100
I added a few more items to this list after reading the OpenAPI documentation a bit more.

[2020-04-28 23:45] gnprice commented on #8177
@cognusion Hmm interesting -- I'm not actually aware of any change we've made that would have fixed this!

Is it possible the images where it worked were taken from a different device than the images where you've seen the problem?

I'd expect the situation is still:
* Photos taken by some devices (or by some other devices under the right settings, the right phase of the moon, etc.), have the stand

[2020-04-29 02:23] nanohayder commented on #10134
I think we also should add the ability to search custom field at least we set it up that we add an option for the custom field to specify it's searchable so that we get users with that value

[2020-04-29 04:24] andreas-bulling commented on #14499
I agree that the scenario "name of a topic is more private than its content" is possible in theory - but highly unlikely in practice I think (we are talking about moving a private topic to a public one, just to be on the same page. Moving from public to private is not critical I believe we can easily agree).

The question is whether this arguably small likelihood of practical relevance warrants ma

[2020-04-29 05:13] timabbott commented on #14651
Yes, 5GB should be plenty of RAM.  @andersk any ideas for how to debug this?  I feel like we've gotten enough reports along these lines that there must be something going on here, even if we can't reproduce this sort of situation.

@denis-ev I guess one idea, can you try running `/home/zulip/deployments/current/scripts/zulip-puppet-apply`?

[2020-04-29 06:11] #13644 closed

[2020-04-29 11:03] showell commented on #14770
@Wowol Particularly for the analytics system, I think we can just do the correct thing here and not worry too much about backward compatibility.  You should be able to do things like `git grep chart_data/realm` to verify that, at least internally, we don't append slashes to the URLs when we call them.

Then for the regular system (`zproject/urls.py`) we may want to be a bit more conservative:

[co

[2020-04-29 13:40] cognusion commented on #8177
@gnprice maybe a dependency got updated? I scrolled back through photos I *know* were at the wrong orientation previously, and they are oriented properly on Zulip Android.

To test, I uploaded a JPEG to a Zulip room with the following (upper right):
[code]
And it is showing properly in Zulip Android both in-line and in the lightbox (which has always been correct). But in the desktop, it is mis-ori

[2020-04-29 16:08] nanohayder opened #14794 "feature request/navbar: Use avatars in search navbar for group PMs."
it would be super help if we changed the navbar design to include User avatars when using Group PMs it will give a much better visual of whom is part of this group.
this is the Zulip conversation where we discussed the details.
https://chat.zulip.org/#narrow/stream/137-feedback/topic/Users.20Sidebar/near/865144

[2020-04-29 19:47] timabbott opened #14798 "Add option to disable generating UserPresence rows"
For privacy-minded folks who don't want to leak the information of whether they're online, we should have an option to disable sending presence updates to other users.

For lack of a better home in the UI, this can probably go in the `Other notification settings ` section of the "Notification settings" page, under a "Presence" subheading, labeled:
* `[x] Display my presence status to other users w

[2020-04-29 20:01] MasonProtter opened #14799 "Edits to polls aren't reflected"
When we delete an option from a poll, the option does not disapear in the prettified version

![image](https://user-images.githubusercontent.com/29157027/80641245-c6146280-8a21-11ea-8ff6-e6ed5fd89f82.png)

[2020-04-29 20:04] MasonProtter opened #14800 "Slice by Stream in analytics page"
In the analytics page for a Zulip instance, it'd be nice if we could seem some information on a stream by stream basis, e.g. graphs of the number of messages in each stream.

[2020-04-29 20:09] aero31aero commented on #14799
Closely related to #14229.

The issue is that we only process the text once to initialize the poll widget, and a poll is rendered by hiding the raw text and loading the widget.

I think in this particular case, editing could get finicky: say, one accidentally edits an option 'hello' to 'Hello', do we delete the original one (which might have votes already), or do we migrate it? What kind of diffin

[2020-04-29 20:35] aero31aero commented on #14468
I think we should add this. Its very common to forget exactly which stream you were having a discussion in if you don't enforce posting to proper streams strictly.

[2020-04-29 21:16] gnprice commented on #8177
Fascinating! Well, that is good news even though we don't understand it :wink: Thanks much for the report and the details.

---

Aha! Looks like in fact this is fixed by Chrome 81:
https://www.chromestatus.com/feature/6313474512650240
which just rolled out over the last few weeks.

And reportedly the same thing was already true in iOS Safari as of sometime last year -- so at least in iOS 13 -- and

[2020-04-29 21:32] showell commented on #14468
Seems fine to me.

[2020-04-29 23:19] #14459 closed

[2020-04-29 23:44] timabbott commented on #14800
We actually have all the data for doing such graphs hooked up in our analytics system!  We just haven't done the API/UI work to make it usable.

We'd need to be a bit thoughtful about the permissions situation; it probably shouldn't be the case that a user who can't read a stream can see its statistics.  But if we use `access_stream_by_id` as the access controls, I think it wouldn't be hard to exp

[2020-04-30 00:50] timabbott commented on #13726
I'm adding the migration for this; it's required for another thing I'm doing.

[2020-04-30 06:54] strifel opened #14804 "Linkified Links sometimes do not work with "show previews of linked websites""
Hi.
I use linkified links to Github issues without a problem since last week.
Yesterday we wanted to add a linkifier to our local etherpad-lite installation.
But we found this to only sometimes work if "show previews of linked websites" is enabled.
Screenshot from with show preview enabled.
![image](https://user-images.githubusercontent.com/24608706/80680309-cdd61480-8abe-11ea-86bf-aaba86c71bfd.pn

[2020-04-30 07:29] irfansheikh777 opened #14805 "error 47 from memcached_set : (0x337cb10) SERVER HAS FAILED AND IS DISABLED UNTIL TIMED RETRY, host: 127.0.0.1:11211"
Hi  @timabbott

I am getting this error in  error logs of **zulip 2.1.2**  tried upgrading to **latest version of zulip 2.1.4** . Still getting the below error , memcache  port is listening on same but it seems zulip is not able to authenticate  memcache . Can you advise on same

error:-

ile "/home/zulip/deployments/2020-04-28-15-33-34/zulip-py3-venv/lib/python3.6/site-packages/django_pylibmc/mem

[2020-04-30 10:49] fredrikekre commented on #12614
Another datapoint: When the alert word is a link it becomes even more difficult (IMO) to read:
<img width="603" alt="alert" src="https://user-images.githubusercontent.com/11698744/80702188-f5d66f80-8ae0-11ea-9df1-48356c728e21.png">

[2020-04-30 11:58] hashirsarwar commented on #14798
@zulipbot claim

[2020-04-30 12:01] hackerkid opened #14807 "Extend unit tests in test_get_accounts_for_email to make sure that only active human accounts are returned"
More details in https://github.com/zulip/zulip/pull/9762#issuecomment-398498834

[2020-04-30 12:09] hackerkid opened #14808 "Make RealmAuditLog record record the acting user"
Currently, we record the acting user in RealmAuditLog only in some cases. This project would be to expand to most of the cases.

More details in https://github.com/zulip/zulip/pull/12294

[2020-04-30 12:17] hackerkid opened #14809 "Improve the styling of /accounts/go/ page"
This is a followup up issue of #10565

There are a lot of improvements that can be made to the styling of  `/accounts/go/` page. Some suggestions that were already made

(At least the "Don't know your .." text; could be convinced otherwise for "Need to get your ..") - Rishi

Feel free to make any other styling changes that you will think would improve the page as well :)

[2020-04-30 12:25] hackerkid opened #14810 "Use realm_id instead of string_id as value of the options in source realm selector"
This is a followup of #11128. Please refer to the comment https://github.com/zulip/zulip/pull/11128#issuecomment-450526832 for more details.

[2020-04-30 13:27] babhishek21 commented on #4145
@ab1nash I suggest commenting `@zulipbot claim` on this issue so that the bot puts this in the in-progress lane again.

[2020-04-30 13:44] ab1nash commented on #4145
@zulipbot claim

[2020-04-30 13:49] hackerkid commented on #14800
I have included the issue in my roadmap, but if anyone else wants to work on it feel free to go ahead as well.

[2020-04-30 13:56] ab1nash commented on #4145
@babhishek21 It would be great if someone could review this PR

[2020-04-30 14:20] mdalluge opened #14813 "error 47 from memcached_set"
We are continually seeing this error - yet server seems to be working.

Logger django.pylibmc, from module django_pylibmc.memcached line 146:
Error generated by Anonymous user (not logged in) on zulip.sycamoreeducation.com deployment

Traceback (most recent call last):
  File "/srv/zulip-venv-cache/6176a52fab8737c09656fc8ad0352547e9801c07/zulip-py3-venv/lib/python3.6/site-packages/django/contrib/s

[2020-04-30 15:06] nanohayder opened #14814 "Wrong topic with scroll"
Hi
I'm seeing this issue but I'm not sure if this is solvable or maybe it's something on my end. if it's considered an issue so that I open a GH issue for it
when I'm on a stream view with scroll the first message that appears it has the wrong topic appears for it if only part of the message appears or disappeared like in below
this message appears in top "Users Sidebar"
![image](https://user-imag

[2020-04-30 15:42] smartst3r opened #14815 "User Setting - Mentor error when entering comma or space or semi colon"
Expected a Comma or Semi colon or Space

Actually got a error : query is undefined at http://localhost:9991/webpack/app.js:55128

Steps - Open web app, click gear top right, click setting, in Your account scroll down to Mentor, type a comma or semi colon or space.

Development environment Newest - Git commit id: aff58ed9d95e2ad7e0eda57e29cfe84ff343b200

Using - web app

[2020-04-30 16:10] smartst3r opened #14816 "[Bug] Visual Bug Mentor setting overflows out of box"
Expected box to resize

Actually mentor's names start to overflow once the names get to the edge of the box

Steps - Open web app, click gear top right, click setting, in Your account scroll down to Mentor, type names till the box overflows

Development environment Newest - Git commit id: aff58ed9d95e2ad7e0eda57e29cfe84ff343b200

Using - web app

![Mentor bug overflow](https://user-images.githubus

[2020-04-30 18:55] timabbott commented on #8177
Awesome!  It looks like Electron 9 will be out with that fix in late May which is pretty soon, so indeed it seems like we can close this issue as resolved by browsers (which definitely feels like the right solution structurally for the Web, in addition to conveniently not requiring us to write a workaround).

And https://github.com/zulip/zulip-desktop/issues/946 will suffice to track the desktop a

[2020-04-30 18:55] #8177 closed

[2020-04-30 19:53] Akashtyagi08 commented on #14810
Hi @hackerkid, I will like to contribute on this.

[2020-04-30 19:53] timabbott commented on #14805
We added required memcached authentication in Zulip 2.1.3, so that's likely the problem.  How are you hosting your server (Docker or not)?

In any case: Does `/etc/sasl2/memcached-sasldb2` exist?

[2020-04-30 19:54] #14816 closed

[2020-04-30 19:56] Akashtyagi08 commented on #14807
Looks like adding test in python. I can contribute to this.

[2020-04-30 20:17] #14813 closed

[2020-04-30 20:37] smartst3r opened #14824 "[Bug] Unsubcribe/Add stream button"
Expected to unsubscribed/add stream

Actually got a error :
[code]

Steps - Open web app, click on gear (left side above streams), click on any stream, click unsubscribe(granted you are subscribed) or add stream(granted you are not subscribed).

Development environment - Git commit id: 2825e6ad480dc2f879b99c12c3339ca2c31bc1a1

Using - web app

[2020-04-30 21:32] dcmoore-gd commented on #14168
@gnprice Do you think this is complete now?

[2020-04-30 22:59] #13923 closed

[2020-04-30 23:11] timabbott commented on #14824
Can you upgrade to master?  I think this bug was in master for just a couple days around 2 weeks ago, which would fit your situation.

[2020-04-30 23:12] #14398 closed

[2020-04-30 23:20] smartst3r commented on #14824
Yes Tim you are right it has been fixed!

[2020-04-30 23:28] smartst3r opened #14826 "[Bug] Visual bug mentor box size"
Expected box to fit text

Actually box is about half the size of a character until you type

Steps - Open web app, click on gear top right, under Your account,scroll down to mentor.

Development environment - Git commit id: 5a58b7c549e0eeb8959ddf1703d8af8819d81c12

Using - web app

![Mentor box size bug](https://user-images.githubusercontent.com/57152547/80768568-5cbf4d00-8b10-11ea-908d-436ab8b965

[2020-04-30 23:43] #13613 closed

[2020-04-30 23:47] timabbott opened #14827 "Improve UI for desktop app social auth signin page"
Following https://github.com/zulip/zulip/pull/14747, if you complete social authentication in the desktop app (click "Log in with Google" from there), you'll get this page:

![image](https://user-images.githubusercontent.com/2746074/80769456-1b27a580-8b02-11ea-89df-5794dbbcf2d8.png)

We should style it in a way that's visually consistent with our other login pages (with the white box, etc.).  I'm

[2020-04-30 23:51] timabbott opened #14828 "Fix error handling for expired tokens in desktop app login flow"
Following https://github.com/zulip/zulip/pull/14747, if you complete the desktop app login flow to login the desktop app, and on the landing page (see https://github.com/zulip/zulip/issues/14827) and click "Continue in browser"), we'll try reusing the login token, which is forbidden.  This results in the following broken page:

![image](https://user-images.githubusercontent.com/2746074/80769532-5c

[2020-04-30 23:53] timabbott commented on #14826
I guess bde965aed03468b62918141d03cc83133df34c2c broke this -- I bet we actually wanted `min-height: 24px`

@vaibhavrajsingh2001

[2020-05-01 00:34] timabbott commented on #14468
Sounds good.

[2020-05-01 00:42] CohenCyril opened #14830 "After import from gitter: "Error saving edit""
**Zulip server version 2.1.4**
downloaded from https://www.zulip.org/dist/releases/zulip-server-latest.tar.gz
(This error occurs on the released version above and **without** the PR #14825)

**Problem:**
- When editing the topic of a message which is old enough, at validation time, as an admin, with the option `Allow message editing: Any time`, I get the error message.
`Error saving edit: Invalid

[2020-05-01 00:51] MaiteFlores commented on #14579
@zulipbot claim

[2020-05-01 00:53] cchloet commented on #14579
@zulipbot claim

[2020-05-01 07:41] vaibhavrajsingh2001 commented on #14826
Yea, that should be min-height. Sending a patch

[2020-05-01 11:46] irfansheikh777 commented on #14805
Hi @timabbott,

It's  installed in  on  linux VM .  Please refer the below file it's exist . can u let me know how can we resolve this issue ?
-rw------- 1 memcache memcache 12288 Jan 20 11:47 /etc/sasl2/memcached-sasldb2

[2020-05-01 18:00] #14826 closed

[2020-05-01 18:32] CohenCyril commented on #14830
@hackerkid I am not sure yet how much this issue is linked with #14825

[2020-05-01 18:36] ankita-2798 commented on #14304
@zulipbot claim

[2020-05-01 18:52] stableapple commented on #14565
@zulipbot abandon

[2020-05-01 19:01] stableapple commented on #14809
@zulipbot claim

[2020-05-01 19:26] SiddharthVarshney commented on #14827
@zulipbot claim

[2020-05-01 21:49] gnprice commented on #14168
Don't worry, we'll close the issue when it's done :slightly_smiling_face: Take a look at the linked PR #14235 if you'd like to follow along.

[2020-05-01 22:03] gnprice commented on #12614
Thanks for that observation! Yeah, in that screenshot I find the highlighted text quite impossible to read (short of zooming way in or getting my face very close to the display), while the other text in the screenshot is very clear.

So that's a reminder that in addition to the critical requirement of good contrast with the normal text color, it's important to have good contrast with the link text

[2020-05-01 22:21] dcmoore-gd commented on #14168
@gnprice I'm so sorry!  I must have followed a link from `social-core` over to this without realizing it, I thought I was looking at and asking about an open `python-social-auth` issue 🤦‍♂️

[2020-05-02 00:23] timabbott commented on #5200
I'm closing this because the use case was resolved by the new navbar with a "Stream description" feature displayed:

![image](https://user-images.githubusercontent.com/2746074/80850353-4678c600-8bd0-11ea-8462-a62d1eceba37.png)

One can simulate "pinning" a message by adding a permanent link to it from the stream description if desired; but in many cases the "stream description" is a more native wa

[2020-05-02 00:23] #5200 closed

[2020-05-02 00:37] gnprice commented on #14168
@dcmoore-gd Ah, no worries :slightly_smiling_face: -- those back-reference links GitHub puts into issue threads don't mention the repo or org, and I've certainly often wished they would myself.

[2020-05-02 00:43] #14007 closed

[2020-05-02 00:45] #14760 closed

[2020-05-02 00:56] timabbott commented on #14808
There's a larger project here of making sure all of our important transitions log to RealmAuditLog.  @arpit551 would you be interested in picking up this project?

[2020-05-02 15:23] varkor opened #14845 "Flicker of incorrectly-formatted message when posting"
If I post a message that contains an italicised URL, e.g. `*[text](some-url)*`, there's a flash of plain HTML before the post is correctly formatted. This also happens when editing messages.

[2020-05-02 16:26] cossio opened #14846 "Distinguish unread messages on topics where I participated?"
It would be nice to have a quick way of listing unread messages on topics where I have participated, as opposed to unreads messages in all topics.

The analogous feature on slack is the "Threads" list, where I can see all the threads where I've participated, and the "Threads" gets highlighted (in bold) when there are new replies.

![image](https://user-images.githubusercontent.com/10637482/8086970

[2020-05-02 16:37] MasonProtter commented on #14846
Yeah, it'd be nice if at least in the search bar, if you could filter topics by whether or not you have participated in that topic. A UI button would be nice though.

[2020-05-02 16:44] mateuszmandera commented on #14828
I'd say that it's much nicer to get the error page and a link to click to try to log in again, than be taken to the login page immediately :thinking:

For the main issue, let's just allow multiple uses of the token then? And a time limit of - I'm not sure what the right amount is - let's say 1 minute sounds reasonable?

[2020-05-02 21:30] #12638 closed

[2020-05-02 22:09] #14798 closed

[2020-05-02 23:52] timabbott commented on #14770
Yeah, agreed, the analytics URLs aren't in a public API, so we can just change those.

Assuming your analysis is correct, in at least all of those cases, that `\S` behavior is a bug, and it'd be fine to remove.  But it might be best to address that bug in its own commit after doing the migration -- so let's do the simple `re_path` translation for the weird ones first, and then do a smaller (and th

[2020-05-03 01:09] swallitsch commented on #13896
One of the use cases I had for this was in various bots allowing for simple UIs with emoji as button links.

[2020-05-03 04:53] Hypro999 commented on #14772
@timabbott should we close this issue now?

[2020-05-03 06:03] #14772 closed

[2020-05-03 06:03] timabbott commented on #14772
Yes, this was resolved by #14796.  Thanks for the report @elhawk!

[2020-05-03 06:21] timabbott commented on #14828
I think 1 minute is reasonable, and I think given the 1-minute time limit, the main concern one would have with multiple uses of the token would be that a MITM attacker could use it to get a duplicate login session, perhaps?

@andersk what are your thoughts?

[2020-05-03 12:21] mateuszmandera commented on #14828
Yes, that's the main concern. We could generate two one-time tokens, one for the app and one for the "continue in browser" link.

[2020-05-03 14:22] showell commented on #14846
@amanagr is working on a "Recent Topics" view (https://github.com/zulip/zulip/pull/14603), and I think that might be a good place to clearly expose which streams you have participated in.

It's possible we should also have some subtle indication in the left sidebar that you've participated in a topic.

Anyway, I agree with the overall problem statement here--it's possible we'll want to address thi

[2020-05-04 04:41] timabbott commented on #14593
Thanks for all the helpful debugging here!

Yes, for importing very large organizations, it's absolutely essential.  But I suppose we could consider changing the default to not use parallelism unless one explicitly requests it.

I'd rather get to the bottom of the memcached issue here, or otherwise fix the problem directly.  We haven't seen that sort of `key/value` issue anywhere else in Zulip, wh

[2020-05-04 04:52] amanagr commented on #14846
Recent Topics is already in a good state for you to "Distinguish unread messages on topics where I participated". I just need to add a filter which hides the Recent Topics with no unread messages.

[2020-05-04 05:30] timabbott commented on #106
OK, the production-side testing for this is complete, and it's working well.  We can enable this feature for specific organizations or streams on request to support@zulipchat.com; the UI and Help Center documentation should come in the next few days.

[2020-05-04 06:06] timabbott opened #14854 "Add UI for controlling message retention policy feature"
Now that we've finished the production-side testing for our message retention policy feature (#106), we need to add a UI for controlling it.  There are two pieces.  The first is the organization-level setting.

There's an `#if false` block inside `organization_settings_admin.hbs` for `realm_message_retention_days` that is bitrotted (likely missed a few UI transitions) that could be a useful starti

[2020-05-04 06:09] arpit551 commented on #14808
@timabbott  Sure I will take a look at it.

[2020-05-04 06:41] timabbott commented on #14845
Thanks for the report!  We use a different markdown processor in the backend vs. the backend, and despite a careful automated test suite for them, there are sometimes variations in their rendering that result in this sort of glitch.

https://zulip-ck.readthedocs.io/en/stable/markdown.html is relevant for anyone looking to work on this.

[2020-05-04 06:43] timabbott commented on #14830
I believe this situation is at least partially explained by your system not creating UserMessage rows during the import for anything but the default stream.  The `get_messages` API only requests messages in the current user's personal history, which you aren't creating during the import because of the missing Subscription objects.  If you add the `streams:public`  keyword, for example, you'll see

[2020-05-04 06:44] timabbott commented on #14830
(I think that you can fix this by just creating Subscription objects for every stream for every user; that's at least a better default than what we have now).

[2020-05-04 06:44] timabbott commented on #106
The UI for controlling this is being tracked in https://github.com/zulip/zulip/issues/14854.

I'm going to close this issue with the documentation commit that covers it.

[2020-05-04 06:53] #106 closed

[2020-05-04 08:10] hackerkid opened #14856 "Create /for/research page talking about the use of Zulip in research"
We should consider creating a /for/research page that talks about the use of Zulip in research.

There is a bit of discussion here https://chat.zulip.org/#narrow/stream/137-feedback/topic/latex.20support

[2020-05-04 08:42] CohenCyril commented on #14830
@timabbott thanks for the explaination what happens when a new user joins a stream, can't we recreate that?

[2020-05-04 09:38] cossio commented on #14846
Great, looking forward to trying it tout.

[2020-05-04 12:03] sryalls commented on #14807
@zulipbot claim

[2020-05-04 13:03] alahiff opened #14859 "Invite emails allow GitHub org membership requirement to be bypassed"
I am running Zulip server 2.1.4 in production, using GitHub auth and have `SOCIAL_AUTH_GITHUB_ORG_NAME` defined so that only members of the specified GitHub org can authenticate. We have "Are invitations required for joining the organization?" set to "No" because we want anyone who is a member of the GitHub organization to be able to join without requiring an invitation.

Firstly, we have noticed

[2020-05-04 14:27] kmpaul commented on #14593
Ok.  Thanks for the testing pointers @timabbott.  I might be a bit slow at getting to this, but I'll try to figure out what is happening.

[2020-05-04 16:39] #10033 closed

[2020-05-04 17:03] #6427 closed

[2020-05-04 17:05] timabbott commented on #14499
Another idea would be to make the tombstones optional (with a checkbox for whether to create tombstone messages or not).  I think there are cases where the topic only has one message that's a quick question and the tombstones might feel like excessive overhead (Or where someone is doing an administrative merge of two streams).

I think making the tombstone messages say "from a private stream" woul

[2020-05-04 18:23] andersk commented on #14828
My view is that opening the app just to log in the browser is a convoluted use case that nobody would think of if the “continue in browser” link wasn’t specifically presented to them. It’s good to have it so that if they *didn’t* open the app and are instead getting phished for the token, they have an obvious safe alternative. We should make sure it doesn’t feel broken, but we don’t need to go out

[2020-05-04 18:50] amanagr opened #14860 "Add feature to type and select stream when changing stream for a topic."
Currently, we display a dropdown list of streams in the stream popup when changing stream for a topic (implemented via #14844.). User has to select stream from the list by scrolling, which is a painful process.

We would like to imitate the stream selecting UI from `<Org URL>/#organization/default-streams-list`, where user can just type and select the stream.

This is a followup issue after #14844

[2020-05-04 18:52] amanagr commented on #14860
@zulipbot add "UI"

[2020-05-04 18:53] amanagr commented on #14860
@zulipbot add "area: settings UI"

[2020-05-04 22:52] elhawk commented on #14772
Thanks @Hypro999  / @timabbott  for jumping on this so quickly!

[2020-05-04 22:53] maxandersen commented on #12309
@ryanreh99 any chance you can claim this issue again  zulipbot doesn't complains weekly ?

[2020-05-04 22:58] ryanreh99 commented on #12309
@zulipbot claim

[2020-05-04 23:11] pohutukawa opened #14862 "messages blocking a queue and causing runaway message_sender"
We've had recently the issue arising that the Zulip chat server (on a DigitalOcean instance with 2 vCPUs and 4 GB of RAM) is starting to behave strangely and does not deliver its services reliably any more. It is a fully patched Ubuntu 18.04 instance with an upgraded Zulip 2.1.4 install on the basis of the DigitalOcean droplet (originally with Zulip 2.1.2).

In particular one or more of the `messa

[2020-05-05 00:02] timabbott commented on #14862
@pohutukawa if you're up for it, I'd recommend upgrading to master with `upgrade-zulip-from-git master`.  We've removed the entire `message_sender` queue system from Zulip in work towards the Zulip 2.2 release, which eliminates this category of failure mode (which we haven't seen before).

https://zulip.readthedocs.io/en/latest/production/upgrade-or-modify.html#upgrading-from-a-git-repository

Ano

[2020-05-05 00:05] timabbott commented on #14862
The `message_sender` queue only processes messages sent via the Zulip web UI, so it's likely that someone in your organization sent a message containing a link or other content that is making the markdown processor infinite loop.  This should be hard, because we run the markdown processor under a 5s timer that kills the job if it is running forever.  I'd consider asking if anyone in your organizat

[2020-05-05 00:08] pohutukawa commented on #14862
Thanks @timabbott, I'll try the upgrade to Git `master` for now. As I've purged messages from the `message_sender` queue already, and got the same problem again (twice) within a day, that doesn't seem to be a viable solution. Also, I could imagine that there may be message loss when purging. Not so good.

As for the Markdown DoS scenario: I'd doubt that any of our guys would be doing that, at leas

[2020-05-05 00:19] timabbott commented on #14859
@alahiff thanks for the report.  Certainly what you describe is not intended.  I'm not sure how what you describe would be possible from checking the code -- in case (3), do they use GitHub authentication to sign up?

Just to be clear, do you have any authentication backends other than GitHubBackend enabled?

I think not in the UI.  It's certainly possible in the database; via a `manage.py shell`,

[2020-05-05 00:28] pohutukawa commented on #14862
Upgrade from Git to master done. Let's see what happens now.

Note: `rabbitmqctl list_queues` does not show any more queues at all. ("Error: unable to connect to node zulip@localhost: nodedown")

[2020-05-05 08:13] alahiff commented on #14859
Hi @timabbott , thanks for your reply.

No, only GitHubBackend is enabled.

When I do this I get this error:
[code]
I've sent you a PM.

[2020-05-05 09:34] mateuszmandera commented on #14828
In this scenario, the browser link with one-time token will work, so things won't feel broken. To get the "broken" feel one would have to first log in the app and then use the browser link.

Making two one-time tokens to make everything convenient and reliable should be as simple as:
[code]

so perhaps we should go with that?

[2020-05-05 10:43] andersk commented on #14828
Yeah, but *not* making two one-time tokens is even simpler, so it’s reasonable to ask what use case they’re serving and whether they actually convenience anyone. Wouldn’t someone who wanted to log in with the browser start by opening the browser, not by opening the app and starting a flow that clearly indicates an intent to log in with the app?

[2020-05-05 11:14] Debilski opened #14863 "JPEG images with suffix jpe are not shown as image"
When copying an image on iOS (photo library) and pasting this image on Zulip running on Safari on a Mac (Universal clipboard feature), Zulip will detect that it is a graphic, upload the file and generate a reference like

    [pasted image](https://server.example.com/user_uploads/hash/pasted_image.jpe)

The file has an .jpe ending, which is probably not the most standard, but given that it says, ‘

[2020-05-05 11:28] mateuszmandera commented on #14859
@alahiff  `realm` variable needs to be set to the target realm first, so
`realm = get_realm(''); realm.invite_by_admins_only = True; realm.save()`. If the organization is on a different subdomain that the root subdomain, then you'll have `get_realm('subdomain_name')` rather than `get_realm('')`.

[2020-05-05 11:41] mateuszmandera commented on #14736
@andreas-bulling The thread https://chat.zulip.org/#narrow/stream/2-general/topic/release.20engineering/near/861662 has some information on what still needs to be done before we're ready to release 2.2, and I'm expecting that future updates on how things are going will be posted there too.

[2020-05-05 11:58] alahiff commented on #14859
Thanks @mateuszmandera , that worked.

[2020-05-05 12:53] hashirsarwar commented on #13080
@zulipbot claim

[2020-05-05 20:19] brlcad opened #14865 "constantly fighting with the current scroll point"
I find myself constantly irritated that I have to manually scroll the view in a discussion I'm actively engaged in because messages post underneath the Message input panel or otherwise scrolled out of view.  I don't know if this behavior is specific to the Mac client, but it's where I have observed it.

I'd like to request that behavior be changed to keep current discussion focus in view.  This is

[2020-05-05 22:19] vinitS101 commented on #14229
@zulipbot claim

[2020-05-05 22:19] vinitS101 commented on #14799
@zulipbot claim

[2020-05-05 23:42] timabbott commented on #14862
That seems wrong; is your server actually working?  But in any case, the `message_sender` queue should be gone.

No, because the message is failing to complete sending, so it's not stored on the server at all.

[2020-05-05 23:43] timabbott commented on #14772
Thanks for the report!  With 100+ integrations to keep track of, we generally find out about problems due to upstream changes only when someone reports it.

[2020-05-06 00:29] pohutukawa commented on #14862
The server is working, but the `list_queues` command does not show any queues. I have rebooted since, and this is the output:

[code]

But the RabbitMQ broker is running:

[code]

Yes, but I guess it must be persisted in the queue.

Anyway, the server "feels" normal since the upgrade to the Git master version yesterday, even though the inspection via RabbitMQ tools on the queues won't work. Very o

[2020-05-06 00:57] timabbott commented on #1978
Closing since we're planning to remove the casper tests in favor of puppeteer.

[2020-05-06 00:57] #1978 closed

[2020-05-06 01:33] kmccurley commented on #14549
I have come to the same conclusion - the UI for Zulip is too obscure for new users. I'm about to launch it on 600 people and all of the initial reactions are that it's too complicated. By far the biggest problem is the existence of non-default streams which users don't know exist. I believe the left side of the UI where streams are shown should have a displayed field for unsubscribed (but non-priv

[2020-05-06 01:45] kmccurley commented on #14549
After searching through the thousand issues, I found that this is related to #10369

[2020-05-06 04:51] timabbott commented on #10855
Given that Stride is completely dead at this point, this is probably invalid/wontfix.

[2020-05-06 04:51] #10855 closed

[2020-05-06 05:06] timabbott commented on #1342
I'm going to close this as not worth doing, since I don't think anyone's used the statsd support in years.  We might just rip it out instead of testing it.

[2020-05-06 05:06] #1342 closed

[2020-05-06 05:15] timabbott commented on #9
I'm going to close this as wontfix, since I'm not sure Mediawiki actually wants it, or whether anyone else would use it.  With our current python-social-auth integration, it'd be ~50 lines of code to do I think, so it's mainly a question of there being a user whether we do it.  I don't think we'll ever do it because this ultra-old issue exists, so it should be closed :).

[2020-05-06 05:15] #9 closed

[2020-05-06 05:17] timabbott commented on #2369
This was implemented via #10850 and friends about a year ago?  Certainly well in the past.

[2020-05-06 05:17] #2369 closed

[2020-05-06 05:17] timabbott commented on #11454
Yes, closing as all of these have been resolved.

[2020-05-06 05:17] #11454 closed

[2020-05-06 05:19] timabbott commented on #1712
Closing this as wontfix, since we deleted the websockets system as no better than the longpolling system after some careful testing.

[2020-05-06 05:19] #1712 closed

[2020-05-06 05:19] timabbott commented on #1718
Closing as wontfix; we're now on Django 2.x but I don't think there's a clear benefit to migrating to django-channels.

[2020-05-06 05:19] #1718 closed

[2020-05-06 05:21] timabbott commented on #1366
We added #6427, which I agree combined with our linkification support, resolves this.

[2020-05-06 05:21] #1366 closed

[2020-05-06 05:22] timabbott commented on #1709
There's now just a handful of packages in `static/third`, most of which are there for a reason.  I think we can close this as resolved once we kill `bootstrap-notify` (Which I think @andersk might do at some point?).

[2020-05-06 05:23] timabbott commented on #1657
Closing this as wontfix; I don't think we've ever really used the "partial realm export" feature, so we're more likely to delete it than make it nicer.

[2020-05-06 05:23] #1657 closed

[2020-05-06 05:24] timabbott commented on #1844
We recently fixed this with the new `anchor="latest"` option scheduled for Zulip 2.2.

[2020-05-06 05:24] #1844 closed

[2020-05-06 05:26] timabbott commented on #1305
I'm not sure how important this actually is, given that Django detects the language used by the browser anyway.  Closing as not likely to be fixed because of this old issue; we've literally never had a complaint from a user about this issue since we opened it, I think because we automatically DTRT.

[2020-05-06 05:26] #1305 closed

[2020-05-06 05:27] timabbott commented on #4372
We have had for 1.5 years an "unavailable" status that covers this.  Closing as fixed.

[2020-05-06 05:27] #4372 closed

[2020-05-06 05:28] timabbott commented on #2946
This has more or less been achieved via the structure of SCSS nesting.

[2020-05-06 05:28] #2946 closed

[2020-05-06 05:29] timabbott commented on #3157
I'm closing this as resolved, at least for the use cases originally described, via our "Stream descriptions in top navbar" feature.  One can include links to a message if longer content is desired there.

[2020-05-06 05:29] #3157 closed

[2020-05-06 05:30] timabbott commented on #2665
@andersk can you make your `isort` PR be marked to close this issue?

[2020-05-06 05:32] timabbott commented on #3478
I think we're basically happy with where we ended up after the work on this issue with our webhook integrations docs; they've been working well for a few years now.  So closing this as resolved by the series of work listed above.

[2020-05-06 05:32] #3478 closed

[2020-05-06 05:35] timabbott commented on #3986
We ended up implementing this basically exactly as described in the original issue at some point (I just tested).  Not sure why this issue got leaked unclosed.

[2020-05-06 05:35] #3986 closed

[2020-05-06 05:39] timabbott commented on #5543
I'm pretty sure we fixed this; not sure why we didn't link the issue.

@andersk I think you may have worked on the fix -- can you confirm?

[2020-05-06 05:46] timabbott commented on #5565
I'm closing this; @shubhamgupta2956 @orientor @akashaviator FYI about that "custom examples" feature, but this issue is more an FYI than a specific thing to do.  Closing after adding a todo item to #14100 since that's a better way to track this bit of that larger effort.

[2020-05-06 05:46] #5565 closed

[2020-05-06 05:47] timabbott commented on #5856
@andersk do you think there's something useful to do here?  I think given that we've moved all assets to webpack, this may not be something likely to regress in the future.

[2020-05-06 07:50] ChrisPea opened #14872 "Transfer LDAP User to internal database"
is ist possible to transfer all user from ldap to the internal database, so there is no need for initial login? At the moment i have created a ldap group in which every user, who can get access to zulip, is included. now i want to build an organisation structe in form of the streams and assign the user to the streams they belong. but i have to wait for their first login.

[2020-05-06 08:12] hackerkid commented on #3470
@zulipbot claim

[2020-05-06 09:10] ChrisPea opened #14873 "Can't create Usergroups"
I am using only ldap for authorisation. i would like to use groups, but as you can see in the screenshot, i have nothing to work with, and yes i am an administrator

![grafik](https://user-images.githubusercontent.com/12413618/81160078-f318c600-8f89-11ea-8648-63a51871bb3d.png)

[2020-05-06 10:54] aero31aero commented on #992
![](https://github.trello.services/images/mini-trello-icon.png) [Something](https://trello.com/c/8ukEHyy6/1-something)

[2020-05-06 11:49] tatsuya6502 commented on #2369
Thank you guys for implementing this feature!

[2020-05-06 12:29] showell commented on #7868
https://chat.zulip.org/#narrow/stream/3-backend/topic/logging_handlers/near/869017

[2020-05-06 12:31] showell commented on #7868
I would personally be fine to just close this issue.  Aside from fixing the version-related stuff mentioned in chat, I think most of the `# nocoverage` blocks here are pretty defensive code that's hard to test, and this module seems pretty stable over the years.

[2020-05-06 14:53] H8to commented on #6954
Hey there! We stumbled over your project and consider to use it for work chat. However notifications are important, but sharing message content is not possible.

Is there still progress going on with integration of end-to-end encryption for the notification service?

Also I wonder, if it wouldn't be possible to send notifications that just refer to a message id, that the client then actively check

[2020-05-06 15:59] pragatiagrawal31 commented on #14854
@zulipbot claim, starting working on this

[2020-05-06 16:18] showell commented on #1366
https://github.com/zulip/zulip/issues/14531 is somewhat relevant here.

[2020-05-06 16:38] showell opened #14880 "Rename "Add streams" to "Subscribe to new streams""
If users want to subscribe to new streams, they see a button that says "Add streams", which confuses users into thinking they're adding a new stream.

![image](https://user-images.githubusercontent.com/142908/81203652-311be700-8f96-11ea-816a-511a20cfe021.png)

We should discuss new wording on chat.

It's possible we also want to make this more prominent.

This replaces #10369

[2020-05-06 16:39] showell commented on #10369
I am closing this, as I think we've taken action on the most obvious fix here, and we just need to improve the wording for the "Add streams" link.  I opened a new issue for that, which will hopefully get more attention than this older issue.

[2020-05-06 16:39] #10369 closed

[2020-05-06 16:44] showell commented on #14549
@caseykneale and @kmccurley Thanks for your feedback here.  I am closing this issue, since I think it's a little too broad to be actionable.  We obviously appreciate that new users can be overwhelmed by Zulip's interface, but supporting a completely different mode for new users is probably off the table.

What we can do is address more specific hurdles that users might have, such as the example th

[2020-05-06 16:44] #14549 closed

[2020-05-06 17:47] timabbott commented on #8663
Closing, since `stream_topic_history.js` now has full test coverage.

[2020-05-06 17:47] #8663 closed

[2020-05-06 18:48] orientor commented on #14100
I will add operationId to the endpoints.

[2020-05-06 19:22] showell commented on #3470
More discussion here: https://chat.zulip.org/#narrow/stream/3-backend/topic/immutable.20caching/near/869614

[2020-05-06 19:57] andersk commented on #5856
There are still many assets that don’t go through webpack or the Django static system: `git grep "[\"']/static/\\w"`. Most of these probably should, and having a lint check would make sense once there are few enough that we can make a reasonable exclusion list.

[2020-05-06 20:35] #13960 closed

[2020-05-06 20:53] sumukhah commented on #14663
Yes, I have upgraded the vagrant to the latest version.
then changed permission with `sudo chown -R sumukha /home/sumukha/.vagrant.d`
Then it resolved :smile:

[2020-05-06 20:53] #14663 closed

[2020-05-06 22:19] sahil839 commented on #14815
Some related conversation here on [czo](https://chat.zulip.org/#narrow/stream/9-issues/topic/stream.20edit.20typeaheads/near/853366).

[2020-05-06 22:27] orientor commented on #14100
@timabbott Currently the operation id is basically the function called in zerver for a particular endpoint. For example, the endpoint `fetch_api_key` has `operationId: zerver.views.auth.api_fetch_api_key`. Should I continue this convention or change it to something different?

[2020-05-06 22:50] gnprice commented on #6954
@H8to This is still something we intend to do, but there's no active work on it.

In the meantime you may find this helpful:
https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html#security-and-privacy

in particular the setting `PUSH_NOTIFICATION_REDACT_CONTENT`.

[2020-05-06 23:30] timabbott commented on #7868
Closing as resolved by the cleanup work we just merged plus any other work here not being important.

[2020-05-06 23:30] #7868 closed

[2020-05-07 01:37] MasonProtter opened #14888 "bug in moving topics between streams"
On the JuliaLange Zulip, I tried to move a topic between two streams, i.e. [this topic](https://julialang.zulipchat.com/#narrow/stream/225583-appreciation/topic/gripe-tangent.3A.20Slack's.20threading) to [this one](https://julialang.zulipchat.com/#narrow/stream/225540-gripes/topic/gripe-tangent.3A.20Slack's.20threading), but it seems to only move one message at a time instead of the whole stream.

[2020-05-07 02:24] amanagr commented on #14888
@MasonProtter I believe this is due to 7 days time limit for editing stream and topic.

[2020-05-07 03:04] clarammdantas commented on #6027
@zulipbot claim

[2020-05-07 03:05] whoodes opened #14889 "Compose box doesn't collapse when sending from "Preview"."
If you send a very tall message while `Preview`ing the message (clicking the "eye" icon below the box), the compose box won't collapse down as it typically should.

To reproduce simply
1. Draft a long message that increases the compose box height
2. Click preview.
3. Send the message.

The compose box sticks there and feels a little broken.

From Tim,

[2020-05-07 05:56] amanagr commented on #12309
@ryanreh99 you would like to look at #14315, it is mostly complete, you can assume you will get a list of topics user has replied to by using `recent_topics.get` function. Look at the PR for more details.

[2020-05-07 06:02] amanagr commented on #12309
oh! We are doing this via backend. Great!!

[2020-05-07 07:42] H8to commented on #6954
Thank you for the quick answer!
I do not know how other services handle it, but is it feasible to implement a "wakeup" message, that tells the app to check with the server, when new messages arrive?

I read the guidance already and as you state it makes the notifications less useful ;)

But I saw that you also allow for custom builds of your app as Mattermost does it. That's an alternative for now

[2020-05-07 12:31] sumukhah commented on #14880
@zulipbot claim

[2020-05-07 13:01] ryanreh99 commented on #10026
@zulipbot claim

[2020-05-07 14:45] pragatiagrawal31 commented on #14854
@timabbott
Quick question, setting `realm.message_retention_days` as `0` should be considered as "Retain message forever". Right? Else I've to remove this setting from the `property_type` framework.

By the way, rather than using a single input text box, I've been considering using a dropdown for consistency and looks much better,
![image](https://user-images.githubusercontent.com/40331304/8130788

[2020-05-07 15:33] MasonProtter commented on #14888
Is this 7 day limit configurable? I tried making the worskspace such that one can delete / edit messages from any time but that didn't help.

[2020-05-07 18:33] JonathanReeve opened #14894 "Confirmation emails from https://zulipchat.com/new/ never arrive"
I've tried a few different email addresses, clicking "retry," and have checked all my spam folders, so I'm guessing the confirmation email system is just not working.

[2020-05-07 18:52] amanagr commented on #14888
Currently, it's not. As of now, we have thoughts on removing the limit completely. You can follow the discussion on https://chat.zulip.org/#narrow/stream/6-frontend/topic/Moving.20topic.20btwn.20streams.20.2314844

[2020-05-07 21:27] aero31aero opened #14895 "markdown: Rewrite BugdownListPreprocessor"
We have recently found some bugs related to nested lists in `BugdownListPreprocessor`, our custom extension to markdown that makes lists easier to use in a chat context.

Most of the discussion on this is in [this topic on CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/List.20rendering.20.28ul.2Fol.29
).

We need to rewrite parts of the preprocessor to either be commonmark compliant or

[2020-05-07 23:46] majordwarf commented on #14611
@zulipbot abandon

[2020-05-08 00:12] timabbott commented on #14854
Yes, that sounds great to me!

[2020-05-08 00:14] timabbott commented on #14854
@mateuszmandera FYI just to be sure -- I think actually `-1` and `None` are the values for "retain forever"?  Should still be doable with `property_types` I think, in that one doesn't need to ever set it to None, that's just the initial default.

[2020-05-08 00:34] timabbott opened #14897 "puppet: Add postgres repository to our zulip_ops puppet configuration for postgres servers"
I don't think I'm ready quite yet to move to using postgres-upstream built postgres packages for everyone rather than the OS versions, but we're definitely using them for zulipchat.com at this point, and we should put that configuration into the tooling.  I'm guessing we'll later be able to move the code to the puppet/zulip rule space.

https://www.postgresql.org/download/linux/ubuntu/

Is the rig

[2020-05-08 06:24] pragatiagrawal31 commented on #14854
To me, `0` made sense as setting retain period `0` doesn't make any sense, and we don't have to add deal with a negative integer in `realm.py` like this,
[code]
as simply `to_non_negative_int` `convertor` will do the work.

Maybe setting `0` can be risky due to some bug and logically `-1` represent :infinity:?
Anyway, I'm going ahead with `Realm.RETAIN_MESSAGE_FOREVER = -1`, let me know if any cha

[2020-05-08 11:49] Dreyk007 commented on #10050
Still issue on 5.2.0

[2020-05-08 11:55] Dreyk007 commented on #10050
Re-open, please!

[2020-05-08 11:59] abhigyank commented on #10050
Seems like an electron regression - https://github.com/electron/electron/issues/22213

[2020-05-08 12:14] Dreyk007 commented on #10050
electron, xorg issues... but workarond like https://github.com/ramboxapp/community-edition/issues/120#issuecomment-244884398 can be used

[2020-05-08 15:02] Krinkle opened #14906 "Hard to find/understand who is in a stream"
I have just created what I thought was a private stream, and right afterwards, what I see is the newly created (private) stream, with on the right a list labelled "Users" that nearly gave me heart attack. Did I really just invite the whole server into my stream?

After a while, I noticed the header says "_(user icon) 1, 1 users are subscribed to …_", this is reassuring but this does not appear to

[2020-05-08 15:24] Krinkle opened #14908 "Unable to admin the stream I created"
I created a stream in the instance at <https://wikimedia.zulipchat.com/>, I choose to make it restricted as an experiment and entered a description.

As soon as I did that, it was created, but I also seem to have simultaneously lost access to it. I can't edit its description or settings, and can't remove members from stream, or e.g. delete/archive the stream.

[2020-05-08 18:11] timabbott commented on #14888
Yeah, I'm closing this as effectively a duplicate of the issue to remove that restriction.  Thanks for the report!

@amanagr we should prioritize merging the removal of that limit.

[2020-05-08 18:11] #14888 closed

[2020-05-08 18:14] timabbott commented on #14863
I bet we just need to add that extension in our lists of image extensions.

[2020-05-08 18:16] #14859 closed

[2020-05-08 18:18] timabbott commented on #14894
We had an outgoing emails outage that caused this; it's now fixed.  Sorry for the trouble!

[2020-05-08 18:18] #14894 closed

[2020-05-08 18:19] timabbott commented on #14872
@ChrisPea good question.  We don't currently have a way to import users from LDAP (vs. creating a Zulip account when they join), but it'd be a reasonable option to add to `manage.py sync_ldap_user_data`.

I think you can achieve what you're trying to accomplish when setting up your organization today by just sending invitations with the set of streams you want for each user selected.

[2020-05-08 18:20] timabbott commented on #14873
@ChrisPea that's certainly unexpected.  Can you check if there's anything in the JavaScript console of your browser showing an error?  That's most likely the cause of that widget not rendering.

[2020-05-08 18:21] timabbott commented on #14873
I tagged this with labels because this type of issue is important, but it's of course not actually actionable until we have the traceback/error making clear what the problem is.

[2020-05-08 19:00] sumukhah opened #14910 "Contents overflow in alert word list"
1. Delete Icon overflow
2. If the alert word is too long, Icon overlaps

![befor](https://user-images.githubusercontent.com/23723464/81439651-51ad9200-918c-11ea-8e46-5d3c6244917f.png)

[2020-05-08 19:57] #14492 closed

[2020-05-08 20:10] strifel commented on #14763
Waiting for #14763 to get merged, so I can recreate the implementation on top of the changes

[2020-05-08 21:12] #14854 closed

[2020-05-08 21:32] CohenCyril opened #14912 "merge users"

[2020-05-08 21:52] timabbott commented on #14912
@CohenCyril what would you want it to do?  Move the message history from one user to another existing user?

[2020-05-08 21:53] whoodes opened #14913 "tab-switcher misalignment in stream management modal."
We seem to misalign our sorting tabs between the widths of [826, 976]px.

<img width="331" alt="Screen Shot 2020-05-08 at 8 41 01 AM" src="https://user-images.githubusercontent.com/39782863/81452207-fcd53180-9121-11ea-802c-0e7201215892.png">

From Tim,

As shown below changing the button labels fixes this, but it might be worth keeping the original text and fixing the spacing.

<img width="331" al

[2020-05-08 21:57] timabbott commented on #14166
I'm reopening this because I think we want to do various other cleanups noted here while we're thinking about it, and the context here is helpful.  From my comment above, the next easiest batch is I think this:

"These are unused and should perhaps be removed":
* [ ] `has_mobile_devices = user_profile is not None and num_push_devices_for_user(user_profile) > 0,`
* [ ] `prompt_for_invites = prompt_

[2020-05-08 22:00] timabbott commented on #14863
Places to change likely include:
* `zerver/lib/bugdown/__init__.py`
* `puppet/zulip/files/nginx/zulip-include-frontend/uploads.types`
* `zerver/lib/upload.py`
* Various other things found via `git grep --files-with-match jpeg  | xargs grep gif`

[2020-05-08 22:04] CohenCyril commented on #14912
@timabbott here is my problematic: for now I do not let people subscribe to coq.zulipchat.com directly, they have to give me their email manually, but soon I will open subscriptions to anyone, with an announcement instructing former gitter user that did not migrate yet that they should not subscribe directly but send me their mail instead.

I am anticipating that at least one (and I bet, many) use

[2020-05-08 22:05] CohenCyril commented on #14912
So yes: move the message history, (and optionally recover avatar and merge subscriptions).

[2020-05-08 22:11] timabbott commented on #14854
Yeah, I think `0` would mean "delete messages immediately" were we to offer it.

[2020-05-09 01:09] gnprice opened #14916 "Long message doesn't show condensed for sender"
Normally when a message is quite tall, we show it in "condensed" form -- just a few lines above the fold, and then a "More..." link to expand it.

It seems like we don't do that in the message as shown to the sender, though. Report and discussion here:
https://chat.zulip.org/#narrow/stream/2-general/topic/weird.20bash.20thing.3F/near/872402

We should do so. @timabbott adds some context about why

[2020-05-09 14:07] nanohayder commented on #3783
Hi,
any update on this? it would greatly help us

[2020-05-09 14:41] pstadt commented on #14805
hi @timabbott

I ran into the same problem with a fresh installation while testing zulip.

I looked around a little bit and think this is related to a libmemcached problem.

As far as I understand libmemcached used by pylibmc  is unmainted:
https://github.com/lericson/pylibmc/issues/246

Ubuntu has a fix for this problem, while debian has not:
[code]
http://changelogs.ubuntu.com/changelogs/pool/ma

[2020-05-09 15:31] pstadt commented on #14805
Since I am playing on Raspberry Pi 4 with raspbian, I just recompiled the ubuntu-Package on raspbian (which is debian based) and upgraded the installed packages provided by libmemcached and had a reboot.
I have not seen any mails from Django since than, which is about 20 minutes right now.

Probably this is the reason for several other memcached problems I have seen in the buglist.

[2020-05-09 16:34] shubhamgupta2956 commented on #14863
@zulipbot claim

[2020-05-09 18:56] timabbott commented on #14805
Is everyone seeing this problem installing on Debian?

@andersk FYI.

[2020-05-09 21:06] andersk commented on #14805
Switching to a pure Python library is an attractive proposition from a deployment perspective. Unfortunately, python-binary-memcached is not quite compatible with Django yet (jaysonsantos/django-bmemcached#13).

[2020-05-09 23:43] timabbott commented on #14906
I think there are 2 ongoing efforts that I expect to help with this:
* The right side of that "manage streams" UI is being redesigned to clearly separate stream-level settings only admins can change, personal settings, and the subscribers to the stream.
* We're working on a tabbed option for the right sidebar similar to what you describe.  https://github.com/zulip/zulip/pull/12846 tracks this effo

[2020-05-09 23:44] timabbott commented on #14908
Are you an organization administrator?  At present, only organization administrators can edit this properties.

I agree this should change; that's tracked in https://github.com/zulip/zulip/issues/3783, which despite being very old is being worked on this week.

[2020-05-09 23:44] #14908 closed

[2020-05-09 23:50] irfansheikh777 commented on #14805
Hi @pstadt @timabbott ,

I am facing this  issue for  Ubuntu 18

[2020-05-09 23:51] timabbott commented on #14912
Makes sense.  We do have code that's been written for basically this purpose in `zerver/migrations/0273_migrate_old_bot_messages.py` (for merging a couple old bot users), and I suspect could be repurposed for this use case.  I'd probably start with just extracting a generic function with unit tests for this `merge_user_history(surviving_user, user_to_delete)` which would move the history from the

[2020-05-09 23:59] timabbott commented on #14830
A Subscription object is created marking them as a subscriber, which causes the stream to appear in their sidebar.

But the key thing going on here is that `GET /messages`, without a specified narrow, searches the user's personal history (i.e. messages received after they joined Zulip).  Whereas with a specified narrow, it searches all messages in the stream that the user has access to (which in p

[2020-05-10 00:42] CohenCyril commented on #14830
@timabbott

That kind of makes sense to me, but the seemingly connected problem was that I could not edit the topic of all the messages (using the web UI, as a newly created admin), and could *apparently* edit only the ones in the personal history of the user. It was also solved by #14871, ... so if there is indeed a causality between between "being in the personal history" and "being able to modi

[2020-05-10 05:30] pstadt commented on #14805
@irfansheikh777

Ubuntu 18.04 provides an update for libmemcache, can you please check the installation?
` dpkg -l | grep libmemcache`

[2020-05-10 09:25] irfansheikh777 commented on #14805
=======================================
Hi @pstadt
Below is the  memcache version . can u let me know in which version this bug has been fixed ?
![image](https://user-images.githubusercontent.com/29003677/81495479-938c2480-92c1-11ea-98a5-fbd01c7f243b.png)

[2020-05-10 09:36] SiddharthVarshney commented on #14913
@zulipbot claim

[2020-05-10 09:37] pstadt commented on #14805
Hi @irfansheikh777

This version should in include the fix:
[code]
Maybe your problem is different from mine.

[2020-05-10 13:27] amanagr commented on #6020
@zulipbot claim

[2020-05-10 23:23] cestrell commented on #14746
@zulipbot claim

[2020-05-10 23:25] cestrell commented on #14746
Apologies! Because of our current situation, I changed locations and had to set up my development environment again, so I'm in the process of getting things up and running again.

[2020-05-10 23:34] YashRE42 opened #14931 "top navbar: Correct the implementation of the hover effect"
This would probably be an easy fix, essentially the issue it to fix the bellow TODO
[code]

What that piece of JS achieves functionally is that it makes it so that hovering over any part of the clickable region causes the search icon to change color, so that we're signalling the result of clicking to the user.

[Quoting Tim](https://github.com/zulip/zulip/pull/14707#discussion_r414171240):
"I feel

[2020-05-10 23:41] YashRE42 commented on #14931
@timabbott @showell I think this is a good "micro-interaction" and we might want to use a similar effect here (in the stream list search):
![in the stream list search](https://user-images.githubusercontent.com/33805964/81513350-8ca6f580-9345-11ea-816d-035a987e7193.png)
and here (in the user list search):
![in the user list search](https://user-images.githubusercontent.com/33805964/81513366-a8aa970

[2020-05-11 00:06] YashRE42 commented on #14778
I'd really like to address this concern, unfortunately, I expect that the design decision will probably take a bit of time. Meanwhile, I'm also hoping that we can get some fixes to the FRB behavior that might alleviate some of the inconveniences caused by this bug.

[2020-05-11 02:11] shubhamgupta2956 commented on #9259
@zulipbot the PR is ready for review

[2020-05-11 02:12] shubhamgupta2956 commented on #14004
@zulipbot the PR linked to this issue is ready for review from Tim.

[2020-05-11 02:13] shubhamgupta2956 commented on #13755
@zulipbot the PR linked to this issue is ready for review.

[2020-05-11 05:50] Prachi10000 opened #14933 "i am running one code for putting the data in database using postgres sql database and tkinter gui but i am getting this below error."
import tkinter as tk

from tkinter.ttk import Notebook

from tkinter import *

import psycopg2
try:
 conn = psycopg2.connect(database="Wincc sms testing", user="postgres", password="12345", host="127.0.0.1")
 print("connected")
except:
 print ("I am unable to connect to the database")

cursor = conn.cursor()

cursor_Update = conn.cursor()
print ("connect successful!!")
conn.commit()

postgreSQL_se

[2020-05-11 05:55] #14863 closed

[2020-05-11 06:05] #14827 closed

[2020-05-11 07:28] #12951 closed

[2020-05-11 10:40] BaNzOiD opened #14936 "migration from slack broken. Slack Legacy Tokens cannot be created anymore."
Hello!
This is a heads up. I just noticed that slack legacy tokens are deprecated and cannot be created anymore (and I don't have one).

Can you have a look at this. I would but I don't have this kind of expertise :-(

Thanks,
 Michele

[2020-05-11 14:06] cchloet commented on #14579
@zulipbot I'm still working on this issue and have a completed pull request awaiting review

[2020-05-11 18:51] oxinabox opened #14943 "Poor performance of webapp on phone"
I am trying out the web-app on my phone (Pixel 2) and am finding it pretty poor performance wise.
There is a lot of lag in response to my interactions like scrolling or changing stream.
At first I thought it was just loading, and indeed it got better aftrva few seconds, but still was pretty bad.

According to other people this poor performance is not normal and for most people it works great.
So i

[2020-05-11 19:14] enpuyou commented on #3128
@zulipbot claim. Sorry, I haven't been working on this for a while. The builds are now passed in #14032 after merging in from the master

[2020-05-11 23:49] timabbott opened #14947 "LaTeX in stream descriptions renders as invisible"
Apparently, if you put LaTeX in a stream description, like `$$x=1$$`, it appears in "Manage streams" but not in the top-center navbar.

Note #14791 is present, so you may need to reload after editing for your changes to take effect.

[2020-05-11 23:54] timabbott commented on #14936
This was fixed in master earlier today.  See 2ad55ef11bc69c6bbd3c00174c88a9a215e38b3b

[2020-05-11 23:54] #14936 closed

[2020-05-11 23:55] timabbott commented on #14943
@oxinabox thanks for the report!  What'll be ideal for being able to debug this is if you can collect a performance profile using your mobile browser's profiling tools that we can use to determine what is causing the performance issues on your device.

[2020-05-11 23:58] timabbott commented on #14933
Closing as this report seems unrelated to Zulip.

[2020-05-11 23:58] #14933 closed

[2020-05-11 23:59] cchloet commented on #14889
@zulipbot claim

[2020-05-12 00:07] MaiteFlores commented on #14889
@zulipbot claim

[2020-05-12 00:37] timabbott commented on #14889
Specifically, likely a `compose_ui.autosize_textarea` call is missing.

[2020-05-12 02:49] denis-ev commented on #14651
@timabbott I've switched to the dev branch and I don't have this error anymore.

[2020-05-12 07:14] timabbott commented on #14651
Thanks for the follow-up.  I'll close this since we likely don't have further investigation we can do to understand it from your system, and we have other issues tracking this exception.

[2020-05-12 07:14] #14651 closed

[2020-05-12 09:59] 261437215 opened #14950 "I would like to know how to configure the email to reply to messages in zulip"
![image](https://user-images.githubusercontent.com/49644020/81670380-16f07600-947a-11ea-96cc-5eeb49a424ae.png)

![image](https://user-images.githubusercontent.com/49644020/81670507-51f2a980-947a-11ea-9be5-d9b1945fb52e.png)

This configuration does not reply to the mailbox. The mailbox cannot be sent ou
What should I do to solve the problem

[2020-05-12 15:56] jag3773 commented on #12588
For our needs, this would be a great feature to have!

Another possible implementation would be to provide some environment variables as options to be included in the regex.  If "$stream" and "$topic" could be inserted into the linkifier then it would be easy to contextualize the linkifier.  For example:

`https://github.com/myorg/$topic/issues/%(id)s` or `https://github.com/myorg/$stream/issues/%

[2020-05-12 17:28] volo-zyko opened #14955 "ssl-cert doesn't install ssl-cert-snakeoil.pem on Ubuntu 18.04"
I tried to install Zulip 2.1.4 on a clean system with Ubuntu 18.04.3. The command line was like this:

[code]

The above script failed with a bunch of errors in a syslog:

[code]

So, either the puppet scripts have to be fixed (which I know nothing about) or the following workaround can be employed before running the `install` script.

[code]

[2020-05-12 18:09] #14290 closed

[2020-05-12 19:19] timabbott commented on #14955
On Ubuntu 18.04, `/var/lib/dpkg/info/ssl-cert.postinst` contains that `make-ssl-cert generate-default-snakeoil` line.  How exactly did you generate your clean Ubuntu 18.04 system?  If you'd installed `ssl-cert` previously using a method that disables running `postinst` scripts from Debian packages, that could explain your problem.

[2020-05-12 19:25] timabbott commented on #11837
Closing due to lack of details from the user; it's very likely a networking configuration issue with their environment.

[2020-05-12 19:25] #11837 closed

[2020-05-12 19:26] timabbott commented on #11511
Closing as there's no opportunity to investigate here (and HipChat is long gone anyway).

[2020-05-12 19:26] #11511 closed

[2020-05-12 19:26] timabbott commented on #11410
Closing as HipChat import is probably no longer relevant to anyone, so there's nothing further to do here.

[2020-05-12 19:26] #11410 closed

[2020-05-12 19:27] timabbott commented on #11006
@timapril is this still something relevant to you folks?

[2020-05-12 19:28] timabbott commented on #11006
BTW https://zulip.readthedocs.io/en/latest/production/email-gateway.html is probably useful documentation if you folks are maintaining a fork.  I'm going to close as likely no longer relevant; we can reopen if I'm wrong.

[2020-05-12 19:28] #11006 closed

[2020-05-12 19:28] timabbott commented on #10862
@amanagr also mentioning you since you've been working on an adjacent feature.

[2020-05-12 19:30] #11663 closed

[2020-05-12 19:30] timabbott commented on #10399
Closing as answered.  https://zulip.readthedocs.io/en/latest/production/requirements.html#scalability has some scalability notes.  At the moment, Zulip isn't designed for a forum with millions of total users of which a few thousand are actively sending and the rest just read content.

This could potentially change to a significant extent with #14638 and related changes.

[2020-05-12 19:30] #10399 closed

[2020-05-12 19:37] timabbott commented on #12941
@GonzRon thanks for the thoughtful details!

It's a bit frustrating that Tor doesn't offer a natural way to use HTTPS (with some sort of Certbot-like service for automatically generating SSL certificates for onion servers).  Like the rest of the Internet, we've generally been moving towards requiring HTTPS in Zulip, because the alternative isn't secure in normal contexts, and there shouldn't be a

[2020-05-12 19:39] timabbott commented on #10675
I think this basically amounts to a feature request for pygments to add an `org-mode` format lexer: https://pygments.org/docs/lexers/

So I'm going to close this as not an issue we can address directly in Zulip.

[2020-05-12 19:39] #10675 closed

[2020-05-12 19:41] timabbott commented on #14862
I would expect this to totally break Zulip, so that's very odd.  maybe you somehow have two instances of rabbitmq with different nodenames, only one of which is down?  Check `
/var/lib/rabbitmq/mnesia/` for hostnames there.

[2020-05-12 19:41] amartin3225 commented on #10886
Another use case to add - with Zulip in the foreground, it will often automatically scroll down and mark messages as read when the Windows computer is locked, which is undesirable

[2020-05-12 19:42] ray-kraesig opened #14958 "`populate_db --nodelete` is nonfunctional"
`./manage.py populate_db` can't be used with the advertised `--nodelete` option, as it throws errors.

Previously noted [in chat.](https://chat.zulip.org/#narrow/stream/49-development-help/topic/populate_db.20--nodelete/near/874286)

[2020-05-12 19:42] timabbott commented on #14119
@shubhamgupta2956 yes, please feel free to make an updated PR for that.

[2020-05-12 19:44] timabbott commented on #13094
Closing this due to lack of feedback.  Generally I think that sort of feature to show all users' avatars in the right sidebar would cause loading performance issues in organizations with thousands of users, since we'd need to load a lot of avatars.

We may add a mode for this as part of new options being added to the right sidebar, but we're unlikely to do so because of this issue.

(We do already

[2020-05-12 19:44] #13094 closed

[2020-05-12 19:44] timabbott commented on #13318
Closing, since there's nothing more we can debug here.

[2020-05-12 19:44] #13318 closed

[2020-05-12 19:45] timabbott commented on #14449
The feedback is much appreciated.  We're working on a logo redesign; I'm going to close this issue since the work is being tracked elsewhere.

[2020-05-12 19:45] #14449 closed

[2020-05-12 19:48] timabbott commented on #13908
I believe we fixed this in master a month ago; the "problem" was that we were automatically including the "announcement stream for new members" without properly displaying it.

Thanks for the report!

[2020-05-12 19:48] #13908 closed

[2020-05-12 20:02] timabbott commented on #11734
Closing this as wontfix given HipChat being now long-dead.

[2020-05-12 20:02] #11734 closed

[2020-05-12 20:03] timabbott commented on #7110
https://github.com/zulip/zulip-archive/ covers this use case.

[2020-05-12 20:03] #7110 closed

[2020-05-12 20:03] timabbott commented on #9544
I think this was resolved via #11015.

[2020-05-12 20:03] #9544 closed

[2020-05-12 20:04] timabbott commented on #1624
Closing this as unlikely to be implemented; the import/export process has been going great and feels well-tested with the current system.

[2020-05-12 20:04] #1624 closed

[2020-05-12 20:05] brainwane commented on #7110
Thanks, Tim. And: thank you, @robertylewis!

[2020-05-12 20:07] timabbott commented on #10845
@mateuszmandera can you look at this issue?  I think it's possible that this is now just `postgres-init-db` following the changes to `initialize_database`, but I'm not sure.

[2020-05-12 20:08] volo-zyko commented on #14955
Well, I used prebuilt image from Microsoft and run it in Hyper-V. It's the image installed with `HyperV Quick Create`. After downloading I did `sudo apt update && sudo apt upgrade` as usual.

![изображение](https://user-images.githubusercontent.com/6214200/81740254-56808780-94a5-11ea-9d1c-11922d0c6da2.png).

[2020-05-12 20:17] timabbott opened #14959 "Create a `stop-server` script"
We should extract a `scripts/stop-server` that we can document. We use `supervisorctl stop all` in a bunch of places in our documentation to mean that, but it's kinda awkward.

[code]

Perhaps a nice version of this would share some code with `restart-server` for figuring out whether we're running `process_fts_updates` on this system, but because `restart-server` is doing a lot of careful staging/

[2020-05-12 20:30] timabbott commented on #14830
OK, new theory based on another similar report we debugged : The problem here was OOM kills of memcached.  If you're up for testing, I think that:
(1) Stopping the Zulip server first
(2) running `manage.py import --processes=2` (to add fewer processes than the default 6)

Should work without any exceptions -- so the issue isn't parallelism, exactly, it's memory usage leading to a memcached OOM kil

[2020-05-12 20:33] timabbott opened #14960 "Fix data-import parallelism defaults"
When running `manage.py import` and `manage.py convert_slack_data` (etc.), we currently default to a parallelism of 6 for tasks like

We should recognize things so that default is controlled by either a setting or half the number of CPUs on the system (if we can detect that efficiently), as a proxy for size.  Though that latter value might be bad in some memory-constrained containers on systems wi

[2020-05-12 20:33] timabbott commented on #14830
Closing in favor of our planned solution https://github.com/zulip/zulip/issues/14960, under the assumption that diagnosis proves correct.

[2020-05-12 20:33] #14830 closed

[2020-05-12 20:44] volo-zyko commented on #14955
I created another VM for testing and... you are right. The `ssl-cert` package is already installed in this pre-built image and there is no snakeoil self-signed certificates. No matter how this happened but this problem is in the VM image. The issue can be closed.

[2020-05-12 21:21] timabbott commented on #14955
That makes sense -- they probably prebuilt their image, and then wisely deleted the SSL cert so they're not shared by all folks with the image.  But they should have uninstalled the `ssl-cert` package in the process.  If you can figure out how to report this issue to Microsoft, it is probably a bug in their image.

@andersk does it make sense for us to workaround this sort of problem by running th

[2020-05-12 21:35] andersk opened #14961 "Switch from spectrum-colorpicker to HTML5 <input type="color">"
spectrum-colorpicker appears to be abandoned (last commit 3 years ago), and now that we’ve dropped IE 11, we [should](https://caniuse.com/#feat=input-color) be able to use the HTML5 native [`<input type="color">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/color) instead.

[2020-05-12 22:32] sherpya commented on #13694
It would be nice the possibility to authenticate using self hosted gitlab, looks like `GitLabOAuth2` has these class variables:

[code]

they may be overridden as properties in `GitLabAuthBackend`

[2020-05-12 22:33] sherpya commented on #13694
@zulipbot claim

[2020-05-12 22:40] sherpya commented on #13694
nevermind I see SOCIAL_AUTH_GITLAB_API_URL

[2020-05-12 22:47] sherpya commented on #13694
btw any eta to land in stable?

[2020-05-12 23:40] timabbott commented on #14950
I don't understand the question, but this documentation is pretty thorough:

https://zulip.readthedocs.io/en/latest/production/email.html
https://zulip.readthedocs.io/en/latest/production/email-gateway.html

I'd encourage posting on chat.zulip.org in "#production help" if you need more help.

[2020-05-12 23:40] #14950 closed

[2020-05-12 23:40] timabbott commented on #14947
Tagging as a priority since this affects the polish of a major new feature.

[2020-05-12 23:48] timabbott opened #14962 "Figure out why codecov.io stopped showing backend results"
It appears codecov.io stopped receiving `test-backend` coverage data, and now just shows frontend data.  Based on this page of codecov.io data:

https://codecov.io/gh/zulip/zulip/branch/master/commits?from=2020-02-14%2000%3A00%3A00&to=2020-02-16%2000%3A00%3A00

The first commit with the issue seems to be efb306515844619bdd3ca6cc152d12797a60b4fe; which doesn't make any sense, so I double we'll do w

[2020-05-13 00:40] #14746 closed

[2020-05-13 01:00] timabbott commented on #14865
@brlcad thanks for the feedback!  Can you talk a bit more about how you're reading content in Zulip?  We used to have an option matching what you described, and eventually removed it due to almost nobody selecting it (and it ending up buggy).

And have you tried using `n`  and `End` hotkeys when reading content?

[2020-05-13 02:50] andersk commented on #14955
Sure, I guess.

[2020-05-13 06:06] timabbott commented on #13694
@sherpya it'll be in the Zulip 2.2 release, which I'm hoping to get out late this month.  If you want it now, `master` is what we run on zulipchat.com.

Is there somewhere we should document `SOCIAL_AUTH_GITLAB_API_URL` more visibly?

[2020-05-13 06:09] timabbott commented on #10886
That certainly shouldn't happen!  The logic is very carefully written to not scroll down more than a screen without user input.  My guess is there's some sort of bug that's triggering a "scroll_to_end" event, potentially a resize event triggered by a change of monitor or similar, if one's only seeing it on lock/unlock?

[2020-05-13 06:17] brlcad commented on #14865
I'm not sure I understand the question, but I typically read content by simply going to a stream and reading from the current point down to the latest messages, scrolling as needed.  The problem is typically while engaged in discussion and messages are arriving while messages are being written.  The current point will approach near the bottom of the window as messages come in while I'm typing a me

[2020-05-13 06:21] hs2361 commented on #14961
Hello, @andersk . I am new to contributing, so could you please let me know in which template file(s) these changes have to be made? For JS, is it [stream_color.js](https://github.com/zulip/zulip/blob/master/static/js/stream_color.js) ?

[2020-05-13 06:25] amanagr commented on #14962
Maybe linked to https://github.com/codecov/codecov-python/issues/249, we can just move to https://github.com/codecov/codecov-bash, let me see what's best and put a PR.

[2020-05-13 06:28] timabbott commented on #14931
Agreed re: the sidebars being likely simple to do a nice interaction in pure CSS here.

[2020-05-13 06:33] timabbott commented on #3783
This is being worked on currently.  We're hoping it'll make the 2.2 release, but it's a fairly complex change to the permissions model that will need a lot of care, so no promises.

The current workaround in 2.1.x is to add an organization administrator to a stream temporarily, but I agree it's not great.

[2020-05-13 10:59] agrawal-d opened #14966 "Create endpoint to get subscription status of a user for a stream"
This endpoint will be convenient for clients (like zulip-mobile) instead of fetching the complete list of subscribers to a stream (which can be very large).

The endpoint can be of the form `/users/{user_id}/subscription/{stream_id}`, returning data in a JSON format: `{"subscribed": true}`, so that it can be extended in the future to include other fields like `stream_admin: true` or `role` etc.

S

[2020-05-13 11:44] amanagr commented on #14962
Looks like the issue came with `codecov-python` not being pinned in our config.yml file.
2.0.15 build: https://app.circleci.com/pipelines/github/zulip/zulip/4419/workflows/5737ecd3-0a54-4787-accb-7edfaad685c7/jobs/35136/parallel-runs/0/steps/0-110

2.0.16 build: https://app.circleci.com/pipelines/github/zulip/zulip/4784/workflows/d7725cf6-4f3d-40bf-bbee-20efdb9e6ad8/jobs/35867/parallel-runs/0/step

[2020-05-13 16:46] joaomcarvalho commented on #14889
@zulipbot claim

[2020-05-13 18:12] hackerkid commented on #14138
@timabbott From what I understand, the zulip server (non docker) used to store files in `uploads/files/1/` during the initial days of installation, and later it started storing the files in the correct directory (`uploads/files/2/`).  Do you know of any cases this can happen or has happened in the past? I can't think of any likely scenarios.

The issue was noticed when the realm was exported to do

[2020-05-13 22:13] timabbott opened #14971 "Make the Home/End keys jump to the actual start of the view"
Currently, Home/End take you to the top/bottom of the currently loaded messages.  This is an unexpected implementation detail for many users.  See https://chat.zulip.org/#narrow/stream/6-frontend/topic/IDEA.3A.20Go.20to.20TOP.20of.20TOPIC/near/854828 for more user feedback.

The reason we do this is for implementation simplicity; there's already PageUp/PageDown for smaller jumps (or holding them d

[2020-05-13 22:33] #14889 closed

[2020-05-13 22:41] oxinabox commented on #14943
I have done a bit of searching and I can't find any way to collect a performance profile iwth Chrome on Android.
Maybe I al using the wrong search terms

[2020-05-14 11:05] varkor commented on #10902
Is this issue also the one tracking how streams are loaded in the incorrect order when loading, making it easy to misclick a stream before all the streams have been displayed, or is that tracked somewhere else?

[2020-05-14 14:10] mateuszmandera opened #14977 "The link for "Web App" on the hello.html page leads to desktop app pages"
Speaking of this:
![image](https://user-images.githubusercontent.com/45007152/81944451-12a09600-95fd-11ea-974c-c3a29269d3fc.png)

Clicking on "Web" will take you to `/apps/` which will simply redirect you to the desktop app page for your platform. That doesn't feel right. I'm not sure what it should point to though, considering we don't know the user's organization we can't just redirect to it.

[2020-05-14 17:34] timabbott commented on #4120
This was fixed by @punchagan using `UserActivity`; see `get_furthest_read_time`.

[2020-05-14 17:34] #4120 closed

[2020-05-14 18:31] joaomcarvalho commented on #14468
@zulipbot claim

[2020-05-14 18:51] timabbott opened #14982 "Add `process_fts_updates --audit` option to fix search index corruption due to dictionary upgrades"
As was reported here: https://chat.zulip.org/#narrow/stream/9-issues/topic/Holes.20in.20search.20index.3F/near/877545, Zulip's full-text indexes can be partially corrupted when the database server's OS is upgraded.

We should fix this by adding a `process_fts_updates --audit` option that checks for and fixes this condition (it seems appropriate to put in that existing tool rather than somewhere el

[2020-05-14 20:30] vinitS101 commented on #14971
@zulipbot claim

[2020-05-14 20:31] timabbott commented on #14977
Hilarious.  I think it must have been intended to take you to the main page for the app, if you're visiting a subdomain's version of the page.

If not, I guess it should take you to the appropriate `/accounts/go` URL, so you can pick which realm you want to visit in the webapp?

[2020-05-14 21:48] cossio opened #14983 "Allow topics that belong to more than one stream"
Some discussions naturally belong in two or more streams. Usually people end up cross-posting the same topic in many streams, or posting a link to one of the streams where the topic was first raised.

The issue is that if some users respond in one of the streams but not in others, then the different topics get out of sync and the information is dispersed.

Can we have a mechanism where a topic can

[2020-05-14 21:54] cmcaine commented on #14983
I think this would work well. If this were combined with allowing us to add a custom query as a "stream", then that would be very neat for e.g. making your own customised views on discussions taking place (maybe you want every topic with `science` unless it also has `astronomy`).

[2020-05-15 01:38] joaomcarvalho commented on #14468
I've started working on this but I'm not 100% sure about what should be the behavior here.

First I thought it should search for topics in every stream if none was selected but keep it as the way it works now if one is already selected.

But after reading the discussion again, I started thinking that it should also run the query for topics in all streams even if one is already selected. Is that co

[2020-05-15 17:56] nilnvoid opened #14990 "You must pass a Slack "legacy token" starting with "xoxp-""
Hello,

I'm stuck importing from slack, ./manage.py convert_slack_data

Exception: Invalid Slack legacy token.
  You must pass a Slack "legacy token" starting with "xoxp-".
  Create one at https://api.slack.com/custom-integrations/legacy-tokens

The problem is slack deprecated and removed new legacy token creation as May,5,2020
https://api.slack.com/changelog/2020-02-legacy-test-token-creation-to-

[2020-05-15 18:16] amanagr opened #14991 "Make populate_db generated messages/data like a real realm."
The messages/data generated by `populate_db` currently have a lot of components missing like emojis, uploaded contents, embedded topic links etc. We would like to generate each of the missing components in faction of the total messages we generate.

The components we would like to have are:
- [x] Emoji reactions in 5-10% of messages
- [x] Links to images in 3% of messages
- [ ] Uploaded files in 3

[2020-05-16 00:00] timabbott commented on #14468
I think the intent is that if you type:

 `#keywo` we'll show you the options sorted like this:
[code]
(Assuming topics and streams with those names all exist).

So I don't think we'd need to have the typeahead query other streams if you've already typed `#keyword > ` to select topics.

[2020-05-16 08:45] amanagr opened #14996 "Make compose's message_header_colorblock's height properly fit inside the stream input box."
![image](https://user-images.githubusercontent.com/25124304/82115305-8ec2e700-977f-11ea-8418-ccbcbc660fcf.png)

See `.stream_header_colorblock` css for how it should ideally look like.

[2020-05-17 13:52] PatriotRossii commented on #14810
@zulipbot claim

[2020-05-17 15:07] ManasN opened #15004 "Question regarding ZULIP_ADMINISTRATOR"
I am using chat.myserver.com for hosting zulip.

and ZULIP_ADMINISTRATOR as support@chat.myserver.com ; using sendgrid.

Now How can I receive notifications and errors because sendgrid doesn't have an inbox. ?

Also myself@myserver.com is already hosted with Zoho (non-transactional)

[2020-05-17 15:53] vinitS101 commented on #15004
Hi @ManasN, you should try asking this on Zulip's [user community stream](https://chat.zulip.org/#narrow/stream/138-user-community) for quicker answers. :)

[2020-05-17 17:52] Bhanu-mbvg commented on #14996
@zulipbot claim

[2020-05-17 18:02] hvisage opened #15006 "Vagrant not booting on MacOS 10.14.6, Vagrant 2.2.9 & VBox 6.1.8 - VgrantFile"
https://chat.zulip.org/#narrow/stream/18-tools/topic/vagrant/near/880311

I just tonight tested MAIN zulip branch with vagrant on MacOS (10.14.6, Vagrant 2.2.9, VirtualBox 6.1.8)

I just, doesn't start, typically stuck on the booting of that VM (and it "stuck" VBox Manager too ;(). seems that this line in `VagrantFile` is the guilty:

Commenting it out, and the VM starts and gets configured

[2020-05-18 04:45] #14947 closed

[2020-05-18 10:46] alfonsrv commented on #10351
@timabbott – still happening on the latest version

[2020-05-18 12:02] monga opened #15010 "Spelling error in Italian translation"
"x days ago" in Italian should be "x giorni fa" not fà as it is now in https://github.com/zulip/zulip/blob/f9a61aa645ecb9509a3e2e6b42f204713bb278cb/locale/it/translations.json#L711 It is a disturbing error, since historically errors with accents were blamed a lot in our primary schools. Other translations (weeks, etc) of the same kind of sentence are ok.

[2020-05-18 15:07] Bhanu-mbvg commented on #14996
Hey, can you give me a heads up on where will I find the relevant CSS file to edit?

[2020-05-18 15:28] amanagr commented on #14996
You `static/styles/compose.scss` is the CSS file. You could have used chrome's inspect element to locate the file which loads the CSS properties of an element.

[2020-05-18 17:06] PawBud commented on #15010
I'll issue a fix for it :)

[2020-05-18 17:07] PawBud commented on #15010
@zulipbot claim

[2020-05-18 18:10] PawBud commented on #15010
@zulipbot claim

[2020-05-18 18:10] PawBud commented on #15010
Haha thanks @chrisbobbe

[2020-05-18 18:38] varkor opened #15015 "Strikethrough doesn't work with LaTeX"
The message `~~$$X$$~~` displays an "X" with no strikethrough. `text-decoration` is insufficient here, but it should still be possible to achieve using an extra element, for instance.

[2020-05-18 19:37] lelvisl opened #15017 "Keycloak SAML config example"
Can you provide auth configuration for SAML (keycloak)?

[2020-05-18 22:52] aero31aero opened #15021 "Add a dashboard to quickly test markdown."
This issue is spawned from the discussion in [this thread](https://chat.zulip.org/#narrow/stream/68-markdown/topic/dashboard).

We want a dev-only dashboard that is exposed at `/message-playground` (names not final) in the dev server, and allows us to quickly:

1. Send multiple messages.
2. Show HTML as well as rendered outputs of both bugdown and marked processors.
3. Allow diffing any two random

[2020-05-19 16:09] vinitS101 commented on #14880
@zulipbot add "help wanted" "good first issue"

[2020-05-19 16:09] vinitS101 commented on #14880
@sumukhah You can try claiming this issue again if you want. :)

[2020-05-19 18:07] amanagr opened #15029 "Don't activate zulip_py3_venv at the launch of shell on direct system dev setups."
As a part of `./tools/provision` we add `"source " + os.path.join(VENV_PATH, "bin", "activate")` to the bash profile of the user which is responsible for automatic activation of the zulip's virtualenv when a new shell is launched.

While this is handy for Vagrant/Docker/Droplet setups, which are dedicated machines for running Zulip, this is not a desired behaviour in other setups like [Direct Inst

[2020-05-19 18:26] timabbott commented on #15021
I like this idea.  I would call it `/devtools/markdown` for consistency with other devtools.

If we're thinking development environment only, this isn't an concern, but an important piece of this sort of feature is having reasoanble fixture data (which comes for free in the development environment).

We could also have a feature to load into the page's system `markdown_test_cases.json` so that you

[2020-05-19 21:02] rasben opened #15032 "Adding "read" / ✅ feature to tags"
We've just switched from Flowdock to Zulip and one of the few features we really miss is being able to see if people has seen when they've been tagged.

<img width="190" alt="Screenshot 2020-05-19 at 22 59 13" src="https://user-images.githubusercontent.com/12376583/82377895-a373d900-9a24-11ea-9c89-6f276cc78ebb.png">

I would assume this would be possible, as there is the whole "read/unread" messag

[2020-05-19 21:10] strifel commented on #14763
@timabbott is there any progress on the zoom PR? Or is it guaranteed to be merged so that I can rebase the PR on the changes in #11874?

[2020-05-19 21:38] timabbott commented on #15032
Thanks for the feedback!  I think this could be a nice feature.  We can certainly query whether a user has seen a mention (or which users in a group have) instantly using the UserMessage table.  What I'm not sure about is whether we'd want to plumb through the data as you describe, or instead fetch it on hover/click/etc.  The latter would be simpler but I imagine a less good experience.

(The live

[2020-05-19 21:42] timabbott commented on #15015
Hmm.  It is possible that this will be quite difficult; I'm not sure whether the KaTeX CSS supports being wrapped with strikethrough.

Well, https://katex.org/docs/support_table.html suggests `$$\sout{X}$$`, which does work in Zulip, so that's an available workaround in cases where one wants to strikethrough only math.

I'm not sure there's a clean solution to make this "just work" structurally; n

[2020-05-19 21:43] timabbott commented on #15004
You'll need to use an email address with an inbox for ZULIP_ADMINSTRATOR (E.g. the email account of the person who runs the server, or a mailing list that forwards to that person).

[2020-05-19 21:43] #15004 closed

[2020-05-19 21:44] timabbott commented on #15017
We don't have documentation for that specific SAML provider.  Contributions are welcome.

[2020-05-19 21:47] timabbott commented on #15010
Closed via updating Transifex, see https://github.com/zulip/zulip/pull/15014.

Thanks for the report @monga!

[2020-05-19 21:47] #15010 closed

[2020-05-19 22:47] timabbott commented on #14990
This is fixed in master and on the 2.1.x branch; the fix will be in our next release.  We now allow `xoxb` tokens in the validation.  (Easy to hack manually if you like, just remove that check from the import code, but I'd recommend `upgrade-zulip-from-git 2.1.x`).

[2020-05-19 22:47] #14990 closed

[2020-05-19 23:09] timabbott commented on #14763
You can rebase on it; it'll be merged as soon as we can get Zoom to approve the integration for zulipchat.com, which is blocking on documentation only.

[2020-05-20 10:17] xerus2000 opened #15036 "No preview for image uploaded as attachment"
When I attach an image as a file or copy it in when editing a message, there doesn't seem to be any preview - only when copying/dragging the image in while composing the original message.

[2020-05-20 10:23] deependhulla opened #15037 "Web based Basic Client"
Would like to create auto login from existing-web-applicarion and have custom Web Based UI for zulip , instant of full web app.
Currently studying  API and have got it install for our organisation , would appreciative if any one has tried any new UI or there are some simple example for same.

Also though of creating a Custom Material designed UI using framework7 and phonegap for mobile.

[2020-05-20 12:15] sumukhah commented on #14880
thank you @vinitS101

[2020-05-20 12:15] sumukhah commented on #14880
@zulipbot claim

[2020-05-20 13:25] sidforreal opened #15039 "Stream color picker semantics"
As mentioned in the follow up of #14832 we should reduce the number of clicks to change the stream color

[2020-05-20 13:27] SiddharthVarshney commented on #15039
what I would like to suggest here is
 * Auto-change color whenever a color is selected in both the panel
 * Remove that confirm color change for left-panel when clicked outside
 * Instead of that we should change `Choose` to `Confirm` to register the color change

@timabbott what do you think?

[2020-05-20 13:30] ondrejkolin commented on #5296
Have anyone experienced migrating rocket.chat content to zulip? Is there any smarter way to do it as on the DB level?

[2020-05-20 14:09] sumukhah opened #15040 ""Add streams" button becomes invisible if there are many streams subscribed"
![after](https://user-images.githubusercontent.com/23723464/82456209-8cd78b80-9ad1-11ea-9789-90b0a2c2ab8d.png)

[2020-05-20 14:09] sumukhah commented on #15040
@zulipbot claim

[2020-05-20 14:44] rasben commented on #15032
Good point :)
Couldnt it be triggered by the message being loaded? So when a message with a @tag is loaded, it also checks if the message has been read?

[2020-05-20 15:15] brainrecursion opened #15043 "Email invite bypasses signup?"
We have Zulip setup with a single SAML auth backend.

If we create an invite link the user follows this and gets directed to a signup with SAML page as expected. They then signup and get taken back into Zulip .

If we send an email invite the user follows the link and gets automatically logged into Zulip without setting a password. If the session ends the user can not get back in again as they do

[2020-05-20 15:21] YashRE42 opened #15044 "Add translation tags in several places"
There's several places in the UI where translation fails or is incomplete... even if a fix is impossible or too complex to make (eg non-internationalized text from third party library), it'd be a good idea to at least document via this issue, tool tips in particular are easy to miss:
- [x] typeahead in navbar:
![image](https://user-images.githubusercontent.com/33805964/82459196-408e4a80-9ad5-11ea-

[2020-05-20 17:00] timabbott opened #15045 "Duplicate message edit forms created using forward/back"
One can get into this broken state:

![image](https://user-images.githubusercontent.com/2746074/82474897-8ec52e80-9a80-11ea-894b-4a66c440e870.png)

The reproducer is simple:
* Hit `<-` to open message editing
* Hit back + forward to navigate to another view and back
* Hit `<-` again -- it'll open this second message-edit box.

@amanagr @YashRE42 @aero31aero as folks who've recently touched this st

[2020-05-20 17:05] timabbott commented on #15044
This one is just new and thus doesn't have any translation data:
`static/js/settings.js:        presence_enabled: i18n.t("Display my availability to other users when online"),`

[2020-05-20 17:07] timabbott commented on #15044
Same for slash commands typeahead and the "sort by" tooltip.

[2020-05-20 21:23] #5176 closed

[2020-05-20 21:48] timabbott commented on #15039
Yeah, that sounds great!

[2020-05-21 04:06] ryanreh99 commented on #14017
@zulipbot claim

[2020-05-21 05:37] cyphase opened #15051 "Make edit history update dynamically when a new edit is made"
Currently, when you have the edit history of a message open in the webapp and another edit is made to that message, the edit history is not dynamically updated; you have to close the edit history modal and reopen it to see the new edit. It should automatically update when an edit is made.

[CZO](https://chat.zulip.org/#narrow/stream/9-issues/topic/edit.20history.20isn't.20dynamic/near/882811)

[2020-05-21 06:43] YashRE42 commented on #15045
I'm interested in this and I'm looking at it, but if someone wants to take over just let me know and I'll hand off with whatever I've figured out.

[2020-05-21 06:44] YashRE42 commented on #15045
@zulipbot claim

[2020-05-21 06:50] PawBud commented on #15039
@SiddharthVarshney are you working on this?

[2020-05-21 09:58] SiddharthVarshney commented on #15039
No @PawBud, you can claim this if you are interested

[2020-05-21 10:50] PawBud commented on #15039
Thank you, the only problem is I am not sure about how to solve the problem since I am not that familiar with Zulip's codebase, I hope you can help me if I have any doubts.

[2020-05-21 11:13] PawBud commented on #15039
@zulipbot claim

[2020-05-21 11:13] PawBud commented on #15039
Alright, so I'll try to implement these 3 changes.

[2020-05-21 11:24] PawBud commented on #15039
Is `static/js/stream_popover.js` the relevant file for all the three aforementioned issues?

[2020-05-21 17:57] YashRE42 commented on #15040
I was going to complain about this myself... I'd like the thought of having the green area in the bellow be a fixed UI element....
![image](https://user-images.githubusercontent.com/33805964/82589967-896bff00-9bba-11ea-8b1c-a3d64b850428.png)

Not sure if other people will agree though, going to link a CZO design thread here:

[2020-05-21 18:04] YashRE42 commented on #13337
just going to make a quick link to #13088 which had a link to https://developers.google.com/web/ilt/pwa/lab-caching-files-with-service-worker

[2020-05-21 20:01] sejesnet opened #15059 "Unable to connect to Zulip. Updates may be delayed. Retrying soon"
Hi could you please help, having zulip on docker v2.1.4. After last restart of service one of users in browser have this popup errors: Unable to connect to Zulip. Updates may be delayed. Retrying soon... Strange that only one have this problem, another 30 users don't have. Browser cache & data was cleared.

![изображение](https://user-images.githubusercontent.com/60199621/82600224-3ee88380-9bb6-11

[2020-05-21 21:48] timabbott opened #15060 "Showing a loading indicator when fetching messages from the bottom of the feed"
If one had a lot of message history and does a `streams:public near:1` search and then scrolls to the bottom of the set of very old messages that were fetched, we don't show a loading indicator.

Looking at `exports.maybe_load_older_messages`, and comparing with `exports.maybe_load_newer_messages` in `message_fetch.js`, the problem is that this is just not implemented.  I think structurally we wan

[2020-05-21 22:41] timabbott commented on #15059
That looks like some sort of database or cache corruption to me.

I doubt this reflects an issue in Zulip; we can help you debug in the thread you started here:

https://chat.zulip.org/#narrow/stream/49-development-help/topic/unable.20to.20connect.20to.20zulip.20%28production%29/near/882844

[2020-05-21 22:41] #15059 closed

[2020-05-21 22:45] timabbott commented on #10351
@HarshitOnGitHub would you be up for investigating this?

[2020-05-21 22:46] timabbott commented on #10351
Likely we'll want to file this as a bug with Pillow upstream.

[2020-05-21 23:49] HausCloud commented on #15029
@zulipbot claim

[2020-05-22 02:58] Xenophilicy commented on #10351
@timabbott I am having this same exact issue with the black background. If you do create an issue for a bug report with Pillow upstream, would you mind linking it here, please? Thanks!

[2020-05-22 11:42] sahil839 commented on #15051
@zulipbot claim

[2020-05-22 13:06] YashRE42 commented on #14503
For the UI part I figure it could be easy enough to write some CSS to perform this animation:
https://www.figma.com/proto/AKzXppZhGQ6u9KL2z0xjai/beeping?node-id=1%3A2&scaling=min-zoom
but I think a colored rolling border would be a better animation like this [code pen by mike schultz](https://codepen.io/mike-schultz/pen/NgQvGO?__cf_chl_jschl_tk__=96e8287679ea49cd41965c439ae7692a766bb101-1590075480

[2020-05-22 13:54] alfonsrv opened #15063 "Undeclared Code Blocks break Quotes"
Quoting a message containing a code block will cause the quote as well as the code blocks to break, ending the quote where the first code block that is not specifying a syntax begins.
This is probably the intended behavior for markdown, but looking at #11568, it seems like this may not be the desired outcome.
The obvious fix is just automatically declaring un-declared code blocks as \`\`\`text bef

[2020-05-22 14:16] alfonsrv commented on #15039
Hey while you're at it, why not throw `default stream colors` in?

[2020-05-22 14:21] alfonsrv commented on #14873
fyi – User Groups work fine with only LDAP in release 2.1.0. No JS errors in console under Chrome & Firefox.

[2020-05-22 14:23] alfonsrv commented on #14872
@timabbott's suggestion is the way to go. An scheduled `sync_ldap_user_data` could be added to periodically sync users; however this issue can be closed.

[2020-05-22 14:27] alfonsrv commented on #14799
Unfortunately Polls still feel very hacky. They get the job done, but it's more of a gimmick.

Mainly because they don't seem to fit the UI theme for the rest of Zulip. Also it would be ideal, if Polls could be limited regarding

1. Who can add more options
2. Multiple-choice or Single-choice
3. Choice is final or modifiable
4. Showing / Hiding Voting Usernames

[2020-05-22 14:31] vinitS101 commented on #14799
@alfonsrv Thanks for the feedback. I've been looking into reworking our widgets, starting with the poll widget. Some relevant discussion can be found here - https://chat.zulip.org/#narrow/stream/6-frontend/topic/poll.20widget/near/883093

[2020-05-22 14:41] PawBud commented on #15039
Well I am not so acquainted with the codebase, hence It would be pretty helpful if you may elaborate more @alfonsrv. Thanks!

[2020-05-22 14:55] alfonsrv commented on #15039
@PawBud currently stream colors are randomized per user. Stream colors can then be adjusted per user and are saved as the user's settings.
Instead, it would be desirable if administrators could assign a default colors to a Stream that is then set globally for all users which have not yet customized their own color for the Stream.

[2020-05-22 15:10] PawBud commented on #15039
I understood the feature that you are trying to explain here, I'll give it a try.

[2020-05-22 15:15] alfonsrv commented on #15039
If it's too much effort to implement, don't bother fiddling around with it. I just thought it would be a *nice-to-have* feature.

[2020-05-22 15:17] PawBud commented on #15039
No, I don't mind implementing it as long if I am able to. Btw what does Tim think of it @alfonsrv ?

[2020-05-22 15:18] SiddharthVarshney commented on #15039
Before working on that, i would suggest to discuss this on CZO first

[2020-05-22 15:50] PawBud commented on #15039
Yes, I think that should be the wise thing to do @alfonsrv

[2020-05-22 15:53] PawBud commented on #15039
@SiddharthVarshney, I cannot understand the meaning of the latter since it looks like you want me to add the color change when the user clicks outside the color palate but you want me to remove it for the left panel? Did I misunderstand?

[2020-05-22 15:57] SiddharthVarshney commented on #15039
I mean it selecting the color will change the color but it won't be saved until I click the confirm button
So in the left panel if you see it will change as well as save the selected color and in the right panel you have to click `Choose` to register the change

[2020-05-22 16:12] ankita-2798 commented on #14304
Hi @timabbott, I have updated the pull request with the latest changes. Can you have a look and see if it's ready to merge? :)

[2020-05-22 16:16] PawBud commented on #15039
I have to remove the confirm color change from the left panel and add the change (not confirmed) in the right panel, Right @SiddharthVarshney?I have to remove the confirm color change from the left panel and add the change (not confirmed) in the right panel, Right @SiddharthVarshney?

[2020-05-22 16:16] hashirsarwar commented on #13642
@zulipbot claim

[2020-05-22 16:21] SiddharthVarshney commented on #15039
yeah

[2020-05-22 16:25] ab1nash commented on #13642
@hashirsarwar a PR for this issue is already ready. So please pick some other issue. Thanks.

[2020-05-22 16:40] hashirsarwar commented on #13642
@ab1nash it looks like your PR doesn't cover the second bug mentioned here (i.e. tapping the empty area triggers the action). So, I think I can work on that. Meanwhile, you can focus on your existing PR. Does this sound okay? :)

[2020-05-22 17:00] ab1nash commented on #13642
Sure! Go ahead then. If you wish you can build on top of my PR too

[2020-05-22 19:55] andersk commented on #15063
The first part is not a bug; you cannot use ` ```quote `…` ``` ` to enclose a block containing ` ``` `, but you can use ` ````quote `…` ```` `. See the [CommonMark spec](https://spec.commonmark.org/0.29/#fenced-code-blocks). This message renders as you expect:

[code]

This is consistent with how other applications treat Markdown, including GitHub—in order to get that block to display in this GitH

[2020-05-22 19:55] #15063 closed

[2020-05-23 03:19] ryanreh99 commented on #15060
@zulipbot claim

[2020-05-23 06:02] PawBud commented on #15039
@SiddharthVarshney Would you mind helping me find the solution for

[2020-05-23 20:41] brlcad commented on #14865
<img width="1303" alt="Screen Shot 2020-05-23 at 4 38 22 PM" src="https://user-images.githubusercontent.com/940391/82740131-e7602a00-9d13-11ea-968c-529a019e7d66.png">
Here's a screenshot of the issue in action.  Actively engaged in a discussion with someone, I post a message, and it displayed underneath the message box that I'm actively using in that discussion.  Any further messages now display o

[2020-05-24 12:16] YashRE42 commented on #15040
CZO thread: https://chat.zulip.org/#narrow/stream/101-design/topic/making.20add.20more.20streams.20be.20a.20fixed.20UI.20element

[2020-05-24 13:18] 7lym commented on #10879
Just a heads-up, to extend what @jcharaoui pointed out, this can also happen if you **delete** an **active** account, but **before all** the followup **emails are sent**.
For me, the result was that, while the account deletion operation itself was successful, it did not clear the followup ```ScheduledEmail``` entry (but it did clear the ```ScheduledEmail_Users``` entry correctly, so maybe it's an

[2020-05-24 21:44] SiddharthVarshney opened #15077 "`Sign up now` buttom on landing page"
The `Sigh up now` button on the bottom section of the landing page seems very muted
Its feels like its disabled until you hover over it
![Screenshot from 2020-05-25 03-11-23](https://user-images.githubusercontent.com/32801674/82765599-d7406b80-9e35-11ea-8041-5f59f704ba4c.png)

(we can use green button template for the same if that looks good)

[2020-05-25 01:31] timabbott commented on #15077
Yeah, agreed, that should be using the green button styling.

[2020-05-25 02:03] jmandel opened #15078 "Default colors should be deterministic (?)"
If people want to assign colors to specific channels to suit their own needs, that's cool -- but by default, why not make colors consistent across users? I assume this has been discussed but didn't find it on a quick search. The basic idea here would be to calculate colors as a function of a channel ID or name...

[2020-05-25 08:20] SiddharthVarshney commented on #15077
@zulipbot claim

[2020-05-25 09:55] vickyjain05 opened #15080 "Is there a way to configure rosters in zulip?"
Like in XMPP, we have options of making rosters .i.e. like a person is connected to someone else, then only he/she can chat with each other. Is there any such possibility in Zulip?

[2020-05-25 14:49] showell opened #15083 "difficult: Remove Group PMs from buddy list."
To call this issue "difficult" might be a slight exaggeration, since you're mostly gonna remove code, but I suggest that you work on this only if you have some familiarity with our buddy list code.

We want to remove the "GROUP PMs" widget from the lower right portion of the main screen:

![image](https://user-images.githubusercontent.com/142908/82823421-88b2c180-9e75-11ea-8731-43eb90a7d78a.png)

[2020-05-25 15:01] showell opened #15085 "Build mute-users feature."
This issue replaces https://github.com/zulip/zulip/issues/168, and the main reason to create a new issue here is to increase visibility for it.

We are definitely going to build this feature, but it will require significant changes to some pretty core parts of our codebase, so this is an advanced feature.  Conceptually, there's nothing super difficult to do here; there are just lots of moving part

[2020-05-25 15:01] showell commented on #168
Closing in favor of #15085

[2020-05-25 15:01] #168 closed

[2020-05-25 16:13] wsw70 opened #15087 "Limitation on password length?"
I tried to use a 128 characters password on my Zulip profile. The password was accepted when I set it up, but then I was constantly getting rejected logins. I reset it three times via the 'forgot password' functionality.

When shortening it to 49 characters, it was accepted (like the 128 chards one) but then also functional (I could log in).

This would suggest a limit on the password length, whic

[2020-05-25 16:41] PawBud commented on #15087
Did you discuss this issue in the [forum](https://chat.zulip.org/) @wsw70?

[2020-05-25 17:51] wsw70 commented on #15087
@PawBud no I did not. Is it expected to raise a bug / issue in the community first before (or instead) of here?

If so I will move it there.

[2020-05-25 17:53] PawBud commented on #15087
Well keep this issue open and go to the community page 😄

[2020-05-25 22:51] #15051 closed

[2020-05-26 00:20] timabbott commented on #15087
It would appear we set a maximum password length of 100 characters.

[code]

From https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#maximum-password-lengths:
[code]

It seems like 100 characters is potentially reasonable; maybe 128 would feel more standard.  But I think there's still a bug here; the login and registration flows seem to be using a different truncation

[2020-05-26 00:35] #12800 closed

[2020-05-26 01:18] timabbott commented on #15078
Interesting idea!  They're currently assigned in sequence for a user's first 20 streams, which likely means two users joining with the same set of default streams will get the same colors.

This is beneficial over the hashing approach in that we'll never give 2 early streams identical colors just because their names happen to have the right hash values, which would be a pretty bad experience.  But

[2020-05-26 01:20] timabbott commented on #15037
Closing, since this is a question better for chat.zulip.org.

FWIW, I don't think it'd be easy to make a bug-free UI that's much simpler at the codebase level than the Zulip web UI; much of the complexity in the Zulip web UI is around correctly live-updating in the presence of features like message editing.

So I'd consider starting with the Zulip web UI and removing settings (for example) unless

[2020-05-26 01:20] #15037 closed

[2020-05-26 01:22] timabbott commented on #15036
@xerus2000 I'm not sure I understand the question -- I just verified that our message-edit UI works similarly for uploaded files as the compose box.

(and has a preview button as well).

[2020-05-26 01:25] timabbott commented on #15044
The navbar is https://github.com/zulip/zulip/pull/14519, checking it off this list.

[2020-05-26 01:25] timabbott commented on #15044
I don't think it makes sense to translate the example content in the markdown formatting; seems like it'd be complicated.

[2020-05-26 01:29] timabbott commented on #15044
"Some common words" is just really icky, and is the only thing left.

@hackerkid would you be up for fixing that one?  I think the best solution is to just generate that bit of HTML with a simple handlebars template rather than doing messy string concatenation.

[2020-05-26 03:05] parthi2929 opened #15090 "Javascript highlight syntax error"
Hi,

For a valid js code snippet, zulip highlights in red box.

[code]

![image](https://user-images.githubusercontent.com/11896263/82856467-a6426280-9f2b-11ea-9f63-e35599b16479.png)

Kindly help. It would be better if zulip at least highlights in a tool tip or mouse over, whats wrong in those places.

[2020-05-26 03:56] andersk commented on #15090
I can’t reproduce this. Also, the text you copied and pasted is different from your screenshot in a number of ways, so it’s hard to be sure you didn’t crop something else out that’s relevant. Are you sure you specified the language as ```` ```javascript ```` (or ```` ```js ````)? In any event, our syntax highlighting comes directly from [Pygments](https://pygments.org/), so we are limited in what

[2020-05-26 09:44] sandeep3136 commented on #14880
claim

[2020-05-26 09:55] deependhulla commented on #15037
Thanks for update, would check chat.zulip.org

Actually have Web-based Custom app live with more than 400+ module for a organization, though of something like iframe where its auto-login to zulip web interface.

Thanks again.
-Deepen.

[2020-05-26 10:50] sandeep3136 commented on #14880
I'm working on this issue. In which file should i edit?

[2020-05-26 11:31] vinitS101 commented on #14880
@sandeep3136 This was a small change and PR #15041 already fixes this. I'd suggest looking for a different issue. :)

[2020-05-26 11:45] sandeep3136 commented on #14880
Ok Thankyou

[2020-05-26 11:51] wsw70 commented on #15087
Thanks @timabbott for the response and the reminder about bcrypt (I was pre-hashing passwords in the implementation above 72 chars, which is a good or bad idea depending on the population and their passwords, but anyways).

It is. What is indeed problematic as you are saying  is that a >100 chars password is accepted but truncated - and that truncated version is then stored as the actual password.

[2020-05-26 11:55] vinitS101 commented on #15083
@showell Are you working on this?

[2020-05-26 14:20] lancaogougou opened #15095 "Need to modify the document about setup CircleCI"
https://zulip.readthedocs.io/en/latest/git/cloning.html#step-3-configure-continuous-integration-for-your-fork

The Setup CircleCl part of this article is outdated. CircleCI has a new UI.

We need to tell new developer to choose 'Add Manually'. Otherwise, it will be failed to build the branch.

![image](https://user-images.githubusercontent.com/55386662/82911898-01616d00-9f9f-11ea-9f1d-802d854ebabb

[2020-05-26 15:33] xerus2000 commented on #15036
That's interesting, just tried it again and it worked as well. Must be some special combination of factors, or a bug. The post where I encountered that problem was on the Mixxx Zulip: https://mixxx.zulipchat.com/#narrow/stream/109177-check-ins/topic/Janek.20-.20Xerus/near/198174386

[2020-05-26 19:35] tarangchikhalia commented on #15029
@zulipbot claim

[2020-05-26 20:10] sahil9001 commented on #14977
@zulipbot claim

[2020-05-26 22:17] timabbott commented on #15090
Closing as not reproducible.

[2020-05-26 22:17] #15090 closed

[2020-05-26 22:17] timabbott commented on #15095
@arpit551 can you work on this?

[2020-05-26 22:21] #15060 closed

[2020-05-26 22:25] #14913 closed

[2020-05-26 22:28] SiddharthVarshney opened #15101 "Broken colorpicker in stream popover"
The color picker is not saving the color properly
When we select the color from the right panel and then click outside to keep it
Ideally, it should keep the color, but here it's reverting to the previous one

![buggy](https://user-images.githubusercontent.com/32801674/82956376-4b157c00-9fce-11ea-8396-46e2be63f543.gif)

Discussion: https://chat.zulip.org/#narrow/stream/9-issues/topic/colorpicker.2

[2020-05-26 23:55] timabbott opened #15102 "Slack importer can generate channels with message history but no subscribers"
This results in realms imported via Slack import failing a sanity check in our own Zulip data-export tool (since Zulip won't generate streams with no subscribers).

I'm not sure what the right fix is.  One option is to change Zulip's data model to allow streams with no subscribers; the other is to mark the stream as deactivated (since it likely is).

We should audit the other data import tools for

[2020-05-27 00:14] timabbott opened #15103 "Traceback in handling desktop notifications"
We've been seeing this exception in production when trying to trigger a desktop notification:

[code]

The User-Agent is the type of non-specific value that looks like the result of an Electron app trying to pretend to be a generic browser, though it's not super clear.  I'd start by seeing if we can reproduce this with Ferdi and Rambox as the browser, since those are the most likely culprits.

I'm

[2020-05-27 00:36] andersk commented on #15103
Unlikely—the way we would wait for it to be rendered would be by calling `addEventListener` on it.

[2020-05-27 00:44] andersk commented on #15103
Ferdi definitely [misimplements](https://github.com/getferdi/ferdi/blob/v5.5.0/src/webview/notifications.js) `Notification`; it [should](https://developer.mozilla.org/en-US/docs/Web/API/Notification) be an `EventTarget`.

[2020-05-27 03:16] showell opened #15105 "Give a friendly message when the `n` key has no work to do."
We have the `n` key that takes you to the next unread message.

When you hit it, and there are no unread messages left in your stream, we should pop up a nice modal that says something like "No unread messages! Congratulations!"

And we might want to mention the `p` key too.

[2020-05-27 03:24] showell commented on #15105
And we want to do similar stuff for the `p` key.

[2020-05-27 03:39] andersk commented on #15105
A modal is way too heavy—now the user has to spend extra effort to figure out how to close it. Something like a deduplicated non-modal auto-closing toast would be more appropriate.

[2020-05-27 04:08] showell commented on #15105
People who have learned the n key can probably close a modal by guessing Esc or Enter.

[2020-05-27 04:45] #12281 closed

[2020-05-27 04:51] #14977 closed

[2020-05-27 05:16] arpit551 commented on #15095
@zulipbot claim

[2020-05-27 06:20] #3490 closed

[2020-05-27 06:51] YashRE42 commented on #15044
We checked off the "Dates in general one", did we do something for it or is it just something that we don't want to do anything for?

[2020-05-27 12:13] vinitS101 commented on #15105
@zulipbot claim

[2020-05-27 12:41] YashRE42 commented on #14729
I think we've settled on at least the first version of the design for the the initial and final states for this.

The initial state this this message https://chat.zulip.org/#narrow/stream/101-design/topic/navbar.20redesign/near/883327 and the final state is as in the figma prototype just a little above.

[2020-05-27 14:42] jamesmunns commented on #10970
Hey there @timabbott, our company would like to use guests in this kind of way (they can only see folks that share streams with them). Is there anything as a customer/business we can do to help prioritize this feature?

Alternatively, if you know any way of making it easier to exist in multiple zulip organizations at once (some kind of multi-organization web interface), that could be another mitig

[2020-05-27 14:45] jamesmunns commented on #10970
Speaking specifically, depending on the cost, we could be interested in sponsoring the implementation of this feature.

We really love using Zulip, and would prefer not to move to another platform for comms outside of our organization, or to have to juggle 5-10 Zulip organizations at once.

[2020-05-27 18:49] andersk commented on #15105
It’s not a question of the user’s intelligence. The user isn’t going to be unable to figure out how to close a popup. But it will create extra friction, pulling the user out of their workflow when there’s no justification for doing so. This isn’t an exceptional situation that demands immediate and explicit acknowledgement. There’s no reason they shouldn’t be able to continue to use the app normall

[2020-05-27 19:20] YashRE42 opened #15113 "Black outline on :focus state on several UI elements"
We've been seeing a bug where selecting certain elements applies a black outline around them. This is the default `outline: -webkit-focus-ring-color auto 1px;`. It's weird that it's started to reappear now, possibly, a refactor might have knock something off something off.
![image](https://user-images.githubusercontent.com/33805964/83062826-e2d1a380-a07c-11ea-899e-89eb36d9e62a.png)

A neat way to

[2020-05-27 19:47] andersk commented on #15113
This isn’t a bug, it’s https://blog.chromium.org/2020/03/updates-to-form-controls-and-focus.html. I don’t think we should be concerned by this visual change, because when it happens, it will happen consistently for every website.

[2020-05-27 20:07] timabbott opened #15115 "Custom emoji: Replace `author` dictionary with simply an author_id"
Zulip's API endpoint for fetching a realm's configured custom emoji, has a legacy structure for the `author` object that contains a user_id/email/name for the uploader.  Clients that display this type of settings information should have data on users by ID, so we should migrate this to an integer `author_id` field for a cleaner API.

I think this just requires changes to `get_realm_emoji_dicts` pl

[2020-05-27 20:25] timabbott commented on #15115
Mobile folks confirmed that they don't parse these data, so we can just change this (though we should still update `zulip_feature_level` and document the API change as usual).

[2020-05-27 20:27] timabbott commented on #15113
I think there's a bug here, just now in the focus.

I.e. I think we should e.g. be moving the focus when you open that popover (so that one can use the keyboard to navigate between items in that menu!), which would have the side effect of this weird visuals not happening.

[2020-05-27 20:35] timabbott commented on #15105
I believe the similar widget under discussion is a notice that automatically disappears after a second or two.  I agree we probably want something even lighter than that (that unmute widget is huge), if we think it's worth doing something here (which I'm not altogether convinced of).

[2020-05-27 20:41] timabbott commented on #10970
Chat with us via support; it's something that we'd definitely be open to prioritizing in response to funding.

[2020-05-27 20:48] timabbott commented on #15044
Dates are rendered based on the browser's locale, not based on the language specified.  Which is probably correct -- your preferred language is insufficient to determine how you want to write dates.

[2020-05-27 21:13] timabbott commented on #15103
I see.  I suppose we should file bugs with both of them, but it makes me a little puzzled what they're doing writing a cross-platform chat desktop app that doesn't use basic APIs.

[2020-05-27 21:16] #14996 closed

[2020-05-27 22:37] #12629 closed

[2020-05-27 23:30] #15077 closed

[2020-05-28 00:31] timabbott commented on #15036
Hmm, strange.  I suppose a transient network error fetching the uploaded file could explain this.

[2020-05-28 00:31] #15036 closed

[2020-05-28 00:32] timabbott commented on #15080
We don't have this sort of highly limited graph for who can send private messages.

(There is a feature to disable private messages entirely).

[2020-05-28 00:32] #15080 closed

[2020-05-28 00:33] timabbott commented on #15083
This was done in the series ending with 068aadf5a9c05cfdef65d63aaa0718c361e7508d.

Thanks @showell!

[2020-05-28 00:41] showell commented on #15083
This actually hasn't been merged yet?

[2020-05-28 00:54] #14962 closed

[2020-05-28 01:04] showell commented on #15083
Ok, I see it's merged now.  I forgot the "Fixes #nnnn" message in the commit, so closing manually again.

[2020-05-28 01:04] #15083 closed

[2020-05-28 06:46] sahil9001 commented on #15115
@zulipbot claim

[2020-05-28 06:47] sahil9001 commented on #15115
@timabbott This only requires removing the email and name fields from the author object in the function ```get_realm_emoji_dicts``` ?

[2020-05-28 07:26] Hypro999 commented on #15087
@zulipbot claim

[2020-05-28 07:55] gautelund commented on #10862
I understand the privacy issue, but, well, if I so please I can take an entire conversation, copy-paste to an email and send to whoever. So a well thought-out in-app feature could be more privacy sound than not having the feature and nudge people to unsound behaviour.
Easy (?) solution: each user can move his/hers _own_ messages anywhere (e.g. from PM to stream). Of course, quite often you really

[2020-05-28 07:58] gautelund commented on #10862
Note that in general, regarding moving conversations: this is a major plus with Zulip compared to the competition. We are just moving from Slack to Zulip. Or over at uservoice, Teams users (peace be with them) are begging for such features. Expanding the move-possibilities would put Zulip even further ahead, and when preaching the gospel, I can say "Oh, and you can move entire conversations around

[2020-05-28 08:14] saierd opened #15123 "Custom Gravatar URL"
I would like to have a possibility to configure a custom Gravatar URL. We use user authentication from LDAP, but don't have Avatar in LDAP. We already have other services, where users set up their avatars and a Gravatar compatible server to retrieve them (in our case [this Jira plugin](https://marketplace.atlassian.com/apps/1213281/avatar-server-for-jira?hosting=server&tab=overview)).

If there wa

[2020-05-28 08:15] xerus2000 commented on #15036
okay, I don't know if my message was completely clear:
I tried embedding an image in a new message in multiple ways, and it worked fine.
But the original message, linked above, does not preview the attachments, not even after editing or reloading in multiple ways. So it isn't transient there.

[2020-05-28 08:56] Hypro999 commented on #15087
On a sidenote, I've noticed that after I reset the password for a user in the development environment, if I try to reset it again the email containing the reset link won't be logged to `http://localhost:9991/emails/`. Is this intended?

[2020-05-28 09:20] Hypro999 commented on #15087
The issue seems to lie here:
[code]

### Explanation:
There's nothing wrong with the registration form. It does its validation the way it's supposed to; so no one can set a password greater than `MAX_PASSWORD_LENGTH` when registering for a new account. When someone tries to reset their password we use the above form/class instead which is unaware of `MAX_PASSWORD_LENGTH`.

If you refer to https://

[2020-05-28 11:18] parthi2929 commented on #15090
yes, I am sure I use  `` ```javascript ``

[2020-05-28 13:37] showell commented on #15105
I think the main point where @andersk and I differ is that I actually do view hitting-n-with-no-unread messages as an exceptional situation.  At least 90% of the time when I personally hit `n` it does take me to the next unread topic.  And when it doesn't, I've already been pulled out of my workflow.

The unmute widget is sort of a red herring here, because its behavior is keyboard-hostile, plus t

[2020-05-28 17:21] sahil9001 commented on #15115
@zulipbot claim

[2020-05-28 21:32] andersk commented on #15087
Django 1.4.8/1.5.4 [limited](https://www.djangoproject.com/weblog/2013/sep/15/security/) passwords to 4096 bytes in response to the DoS vulnerability, but 1.4.9/1.5.5 lifted this limitation while [fixing](https://github.com/django/django/pull/1653) the PBKDF2 implementation to avoid rehashing the password on every iteration. Empirically, `PBKDF2PasswordHasher` and `Argon2PasswordHasher` can hash a

[2020-05-28 22:01] timabbott commented on #15087
I think there's probably utility to having some limit on password length ; it feels like there's benefit for not having to reason about that category of DoS (and in any case, potentially an unauth user spending 1s of server-side resources could be a relevant DoS consideration).  So I think it's probably worth merging the fix to make our length checking logic consistent.  I'd be fine with increasin

[2020-05-28 22:01] #15087 closed

[2020-05-28 22:06] andersk commented on #15087
To be clear, a user can’t actually transmit a gigabyte password; they’re limited by `DATA_UPLOAD_MAX_MEMORY_SIZE` (default 2.5 MiB, we customize it to 25 MiB). That was just a demonstration of the asymptotic behavior.

If a user is ever able to upload something that’s too big for us to hash, it’s probably already too big for us to store in memory, so we should be concerned about it well before the

[2020-05-28 23:09] timabbott opened #15131 "Cache multiple MessageListData objects in the webapp frontend for instant view changes"
Zulip currently has support for somewhat extensive caching of message history state in the frontend:
* In `message_store`, we track complete data for every message we've fetched during a given browser session in a dictionary; this is easy to access.
* The current `message_list_data` structures that we maintain for `narrowed_msg_list` and `home_msg_list` allow us to instantly switch from a single v

[2020-05-29 04:22] nanohayder commented on #10643
Hi

I was wondering if there is a progress it would be great if we at least have support for it on mobile.
It would be super helpful for such a feature specially while driving

[2020-05-29 08:15] sumukhah commented on #15085
@zulipbot claim

I would like to work on this,
But I might take a little longer time for a PR.
So if anybody interested please go ahead and build.

[2020-05-29 08:16] sumukhah commented on #15085
I would like to work on this,
But I might take a little longer time for a PR.
So if anybody interested please go ahead and build.

[2020-05-29 12:41] RalfJung opened #15135 "Zulip email notifications: provide some way to filter by instance"
I am now member of two Zulip instances both hosted on zulipchat.com, and I'd like the email notifications for those instances to end up in two different folders in my inbox (to match up the already existing extensive auto-sorting I need to keep up with my email volume).

However, currently there does not seem to be a way to do that: the From email address is the same for both instances, the subjec

[2020-05-29 15:05] ali-yahyaoui opened #15136 "Zulip Zabbix integration : setup the weebhook to send data in the JSON format"
Hi , i Just set a incoming webhook from zabbix for web monitoring , but Zulip bot send me this message
" Hi there! It looks like you tried to setup the Zulip Zabbix integration,
but didn't correctly configure the webhook to send data in the JSON format
that this integration expects!"
how i can setup the weebhook to send data in the JSON format ?

[2020-05-29 15:47] caseyg commented on #11152
➕💯  to this feature! Lack of typing indicators in public streams makes it a bit hard for me to "feel" co-presence in a back-and-forth conversation. Typing indicators are a weirdly important social cue, about when to (and whether to) chime in. My use case is a community with DMs disabled, for moderation reasons.

[2020-05-29 15:59] mm44m6 opened #15137 "Problems understanding register queue api"
I'm trying to use the register queue api in order to fetch messages realtime.
The documentation is not very clear to me in how to achieve this.
Basically, I've deployed Zulip in an aws instance and have been using postman to make queries.
I've tried the following:

Calling:

Sending these parameters in the body:

[code]

This returns a JSON with over 2000 lines and no messages whatsoever.
Then, I

[2020-05-29 16:01] showell commented on #13558
One observation is that this feature seems to particularly resonate with folks who are using automated integrations that post topics to the stream.  More context here:

https://chat.zulip.org/#narrow/stream/2-general/topic/grouping.20topics/near/890337

[2020-05-29 17:20] joaomcarvalho commented on #15101
@zulipbot claim

[2020-05-29 17:22] joaomcarvalho commented on #14468
I'll abandon this issue so I can pick a new since I've already finished it in the pr linked.

@zulipbot abandon

[2020-05-29 17:22] joaomcarvalho commented on #15101
@zulipbot claim

[2020-05-29 17:36] chrisbobbe commented on #14966
@timabbott [said](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/.23M3373.20Warn.20on.20.40-mention.20when.20not.20subscribed/near/875266):
[code]

[2020-05-29 21:23] Sjord commented on #9521
An [upstream PR has been merged](https://github.com/Bouke/django-two-factor-auth/pull/349) that allows overriding the redirect URL, so the monkey-patch in TwoFactorLoginView can be implemented properly.

[2020-05-29 22:34] timabbott commented on #15137
This is expected, if you failed to encode your parameters correctly.  (The default response from `register` with no arguments is the full set of base data for a full-featured client like a mobile app).  My guess is you encoded your parameters in an invalid way.  What precise code are you using to post?

The queue will also return message events, but with the default `event_types` of all events, yo

[2020-05-29 22:34] #15137 closed

[2020-05-29 22:35] timabbott commented on #15136
Can you post a screenshot of the Zabbix UI you're looking at?  I think Zabbix may have a menu for what format to post in, but I don't recall.

[2020-05-29 22:35] timabbott commented on #15136
@Hypro999 FYI.

[2020-05-29 22:37] timabbott commented on #15135
There's a "Notification settings" option to include the instance name in the subject line.

I think we should add an `X-Zulip-Organization` HTTP header designed for filtering that we can document somewhere easy to find.    (Name suggestions welcome)

[2020-05-29 22:37] timabbott commented on #15135
@mateuszmandera FYI

[2020-05-29 22:38] timabbott commented on #15135
(We may eventually want to do unique email addresses for spam-report scoping reasons, but probably we should provide a header in any case)

[2020-05-29 22:39] timabbott commented on #15123
Interesting; are you self-hosting?  If so, you could easily patch the functions in `zerver/lib/avatar.py`.

[2020-05-29 23:19] timabbott opened #15145 "Improve error handling for outgoing webhook responses with empty content"
If the response from an outgoing webhook (which can be used to trigger a message in Zulip) returns empty or no content, we currently raise an exception as follows:

[code]

We should change the error handling to either silently succeed, or perhaps better, send a PM to the bot owner letting them know the bot is buggy (I think we have a general mechanism for this).

@Hypro999 this could be a good in

[2020-05-29 23:22] timabbott opened #15146 "Data export failures in production"
I've seen this exception before with organizations imported from Slack (where there might have been empty streams in the Slack data export), and it appears deactivated streams in zulip might also be able to cause it?  Not sure, could just be a data import symptom here as well:

[code]

In any case, our data import/export tooling throws this exception for empty streams, and probably we should just

[2020-05-29 23:26] timabbott commented on #15146
It's also possible we should either try to prevent this situation from existing by hardening the data import tools to not generate this situation, since I do believe that's the only path through which bugged streams like this can be created.

Though I'm not entirely sure what the import tools should do given a Slack export with a stream containing no subscribers and some message history.

[2020-05-30 05:12] Hypro999 commented on #15136
@ali-yahyaoui did you follow the steps listed at https://chat.zulip.org/integrations/doc/zabbix to set up your integration? For the Zabbix integration, the payload needs to follow the following formats:

**subject:**
[code]

**message:**
[code]

If you still get an error message after following the listed steps and enforcing these payload formats, let me know and I'd be happy update the integratio

[2020-05-30 05:34] Hypro999 commented on #15145
I'll look into it :slightly_smiling_face:

[2020-05-30 07:35] RalfJung commented on #15135
Thanks for pointing that out! I should have checked the settings.
But it is also not entirely clear what the "organization name" is.

[2020-05-30 18:32] akashaviator commented on #14966
@zulipbot claim

[2020-05-30 19:08] timabbott commented on #8182
I believe this was fixed in https://github.com/zulip/zulip/pull/9728.

[2020-05-30 19:08] #8182 closed

[2020-05-30 23:28] cyphase opened #15155 "Make drafts follow stream renames"
I was going through my old drafts on the realm I run, and noticed that drafts for a stream that had recently been renamed were still assigned to the original stream name. In this case the color was the light gray used to indicate a non-existent stream, but presumably if a new stream had been created with the original name, the drafts would think they belonged in that stream.

It seems that drafts

[2020-05-31 00:41] KarimTayie commented on #14807
@zulipbot claim

[2020-05-31 00:50] KarimTayie commented on #14807
@sryalls are you working on this?

[2020-05-31 10:20] irfansheikh777 commented on #14805
Hi @timabbott ,

 issue still same with memcache issue tried everything its not working including upgrade to latest version . Also  my root email id  is flooded with this memcache error email.

Error logs:-

**Traceback (most recent call last):
  File "/home/zulip/deployments/2020-04-28-15-33-34/zulip-py3-venv/lib/python3.6/site-packages/django_pylibmc/memcached.py", line 140, in set
    **COMPRES

[2020-05-31 17:52] neiljp commented on #11214
Just to check up on this: my installed ZulipMobile is now at v26.x.y, so should we re-examine this now? Also since we now support server release versions, perhaps this is more feasible?

[2020-05-31 20:28] sahil839 commented on #15155
@zulipbot claim

[2020-05-31 23:12] varkor opened #15159 "Allow members to generate invite links"
It appears that, even when both admins and members may invite people to a server, only admins are allowed to generate invite links. Especially in a smaller community, this can be a pain. It would be useful to at least have an organisation setting to allow members to generate invite links too.

[2020-06-01 00:45] #15115 closed

[2020-06-01 00:46] timabbott commented on #15159
@varkor can you talk about the use case here?  It seems like an administrator could always share a reusable invite link that they'd generated with a normal user.

[2020-06-01 01:29] joaomcarvalho commented on #15101
I'll abandon this issue so I can pick up a new one.

@zulipbot abandon

[2020-06-01 02:15] joaomcarvalho commented on #14578
@zulipbot claim

[2020-06-01 07:55] ali-yahyaoui commented on #15136
@Hypro999 yes, I follow all the steps listed !
![image](https://user-images.githubusercontent.com/60253677/83388017-020a6100-a3ee-11ea-8e22-adfcdfda3730.png)

[2020-06-01 08:03] ali-yahyaoui commented on #15136
@timabbott @Hypro999 yes, I follow all the steps listed !
![image](https://user-images.githubusercontent.com/60253677/83388663-1c910a00-a3ef-11ea-9654-c2c3baaeb207.png)

[2020-06-01 09:35] hashirsarwar commented on #10271
@zulipbot claim

[2020-06-01 09:57] maltokyo commented on #10271
Hello Greg, thank you for replying.
Currently, most of my users are on iOS, and a few on android.  They want
the same sort of unread message count that the desktop apps seem to have.
So when any stream has unread topics, then a counter for each topic would
be good.

On Wed, Sep 25, 2019 at 2:38 AM Greg Price <notifications@github.com> wrote:

[2020-06-01 10:02] ali-yahyaoui commented on #15136
@timabbott @Hypro999  yes, I followed all the steps listed !
<img width="677" alt="Annotation 2020-06-01 085946" src="https://user-images.githubusercontent.com/60253677/83398463-b1036880-a3ff-11ea-9f9b-c431291ec586.png">

[2020-06-01 10:47] strifel commented on #14763
I will continue working on that next week when I have more time, again

[2020-06-01 11:33] YashRE42 commented on #12599
We disabled casper in CI in 1a8798d. We can at least drop the high priority label here?

[2020-06-01 12:13] sumukhah commented on #15085
@showell, Is this issue concern with both **muting users** and **blocking user** features?

[2020-06-01 12:20] sumukhah opened #15162 "User can mute topics of not subscribed streams"
To reproduce,

Then topic will be added to **Muted topics**

This is just meaningless to allow a user to mute a topic that he won't receive any messages from.

[2020-06-01 12:21] sumukhah commented on #15162
@zulipbot claim

[2020-06-01 13:59] timapril opened #15164 "zproject/wsgi.py has incorrect permissions"
In the 2.1.4 release, zproject/wsgi.py did not have proper permissions for the SSO remote auth provider to access the script when running under apache. after changing the permissions to be 0755 the auth began to work again.

[2020-06-01 17:57] wdaher opened #15165 "org setings: Users: "Last active" sort doesn't work"
In Chrome 83 on Mac OS X, under Settings> Organization > Users, trying to sort the list by "Last active" seems to actually sort by Name, rather than by last active:

<img width="755" alt="Screenshot 2020-06-01 10 56 34" src="https://user-images.githubusercontent.com/109246/83438623-95e02b00-a3f6-11ea-8df5-ca9e4d7d0978.png">

<img width="649" alt="Screenshot 2020-06-01 10 57 17" src="https://user-i

[2020-06-01 18:27] arpit551 commented on #14808
@zulipbot claim

[2020-06-01 18:56] Hypro999 commented on #15136
This seemed pretty weird so I actually took the time to setup a sort of "Zabbix lab" today (I'm new to Zabbix so this took longer than expected) and I wasn't able to replicate this issue. I tested the webhook with the `Template OS Linux by Zabbix agent/High CPU utilization (over {$CPU.UTIL.CRIT}% for 5m)` trigger and the payload I got was perfectly valid JSON

[code]

But interestingly enough the

[2020-06-01 19:21] timabbott commented on #3775
Thinking about a server-side data structure for these, I think we probably just need these fields in the database:
[code]

For implementing the server-side implementation, probably simplest is to include `drafts` data in `/register` as well as having a `POST /drafts` which can upload a set of drafts in bulk, `PATCH /drafts/15` to edit one, and `DELETE /drafts/15` to delete a draft.

And then we ca

[2020-06-01 19:41] timabbott opened #15167 "Add logging and graphs for when messages are read"
It would be awesome to have graphs similar to the main `messages_sent` graph for when and how many messages in Zulip are marked as read.  The first step of this is to start collecting data in a LoggingCountStat object for when messages as read.  I think there's 2 versions we might find we want, and we should probably collect both:
* Messages read
* Number of user interactions that mark messages as

[2020-06-01 21:12] #15095 closed

[2020-06-01 21:41] YashRE42 commented on #12369
I can't seem to reproduce this locally anymore. I think it might have been fixed :tada:

[2020-06-01 22:13] timabbott commented on #15164
@timapril is it possible you've been changing its permissions in after every release before?

Its permissions at `0644` in Git, and appear to always have been: and it has no shebang line, so I'm not sure why 0755 would be preferable.

[2020-06-01 22:24] andersk commented on #15164
What did you see the permissions as when it wasn’t working? And what does `umask` show?

(We override umask to 022 in `install` and `upgrade-zulip-stage-2` but not in `upgrade-zulip` or `upgrade-zulip-from-git`, so maybe we need more overrides.)

[2020-06-02 00:20] mkagit opened #15171 "No 24h setting working in edit history"
The edit history timestamp is not respecting the 24h setting. Still showing 12h.

[2020-06-02 00:42] timabbott commented on #15165
@showell can you take point on this?

[2020-06-02 00:42] timabbott commented on #15171
This likely just requires using some of the logic in `timerender.js` when rendering the edit history UI.

[2020-06-02 05:01] cyphase commented on #15171
@zulipbot claim

[2020-06-02 06:31] saierd commented on #15123
Yes, I am self-hosting and also have a working setup where I simply replaced the URL in the source code (I am using zulip/docker-zulip, so I have a script that patches the container after updating). I would obviously prefer to use an unpatched upstream version, though.

[2020-06-02 09:26] ali-yahyaoui commented on #15136
@Hypro999 I am very grateful, thank you for your time and effort.
Yes me too i use the same template
`Template OS Linux by Zabbix agent/High CPU utilization (over {$CPU.UTIL.CRIT}% for 5m)` and i receive all the notifications correctely also about other trigger like Load average trigger and Nginx trigger ...
<img width="272" alt="Annotation 2020-06-02 094504" src="https://user-images.githubusercon

[2020-06-02 12:46] xendk commented on #15032
@rasben, I think the problem is that the message is loaded early (propagated as soon as it's sent), and the frontend does a lot of caching.

Group tags are easier to deal with as we can defer a query until you click/hover over it.